<header data-type="book">
<h1>歷驗再壽編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>不詳</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫人之不能必其無病者病之必欲求其愈者醫醫之獲效與否則系乎方之良與不良也古之方良者多矣即如千金十劑肘後壺中活人之書無已之著皆良靈也惟部集蕃多旨意深遠藥兼貴品購用維艱馬足船唇攜帶匪易窮鄉僻壤購取殊難為各子與貧士家人遘病計固不若靈驗單簡之方覓之不難購之較易也吾友</p>
<p>童君月軒先生湘西舊族也有歷經奇念之方二百餘種系家庭抄本集積於親友經驗而來試之多番其效諸多奇速且方劑簡單藥無貴品數十載留心採用已曾生濟多人百發百中確有起死回春再壽之功茲因方效雖寄知者不溥故特匯刻成書名曰歷驗再壽編欲貲廣布區區之心志誠堅第限於棉力不足刻印無多先擬於四近之善堂公益各機關就近印送以期同志擴充外每省由郵寄送省城之慈善堂同善社各一份冀藉</p>
<p>貴堂貴社中藥善諸君子匡勷贊助之力照書翻刻分送於省屬之各縣再由縣各善堂照刻分發於該縣之各鄉由鄉傳之於集鎮如此擴充應可變難為易癸亥夏徵校於予予曰此善舉也有志足可許成眾擎自然易舉而童君之熱腸至意尚希大善人鑑而諒之是為序</p>
<p><u>民國十二年歲此癸亥夏四月夢蕉埜人蔡鹿秋撰於緣野草堂</u></p>

<h1>歷驗再壽編序</h1>
<p>軒岐針灸伊聖湯液此醫之源也漢時仲景元化祖述內經始有方劑唐宋以降東垣河間丹溪景岳接踵而興方書大備然闡精抉微詞古意深雖有遵經之志卻非語下之方且卷帙浩繁證治棼如尤非潛心斯道者所能諳悉也童君月軒三楚名流湘西世胃宅心慈善累世知醫當以簡方濟世試之者輒奇效積年既久裒集成書計共三百三十八方皆屢試屢驗之神劑因命名為歷驗再壽編云予當謂經方為萬古不易之準繩此則以奇制勝惟奇而不離於正故可貴耳癸亥已壽棗梨惜印本無多流傳未廣甲子歲浙江裘吉生先生蒐輯方書刊傳救世垂詢及予遂重梓焉嗚呼此書一出使窮鄉僻壤咸無殀枉之虞白叟黃童悉慶更生之象則不獨予所深幸而吉生先生壽人壽世之意亦萬古斯馨矣是為序</p>
<p><u>民國十三年歲次甲子季秋中浣九江王理堂序於養道丹房</u></p>

<h1>第一方　治誤吞銅錢</h1>
<p>凡誤吞銅錢者用荸薺多嚼食之錢即化水（荸音卜即水果中薺子也）</p>
<p>又方用煉熟蜜糖一二杯服之亦能化出</p>

<h1>第二方　治誤吞鐵針</h1>
<p>用威靈仙（五錢）　沙糖（二錢）　和酒煎服即愈並治誤吞一切鐵器</p>
<p>謌曰　鐵腳威靈仙　沙糖利酒煎　一口吞下去　鐵便軟如棉</p>

<h1>第三方　治魚骨鯁刺喉嚨</h1>
<p>用糯米為丸如彈子大吞之即愈　又方用獨頭蒜塞鼻中骨自出</p>
<p>又方用河中養放活鴨倒掛垂涎以磁碗接下令患者仰臥灌之骨自化</p>

<h1>第四方　治雞骨鯁喉</h1>
<p>用五倍子量用摻入喉間即化　又方薴蘿根搗汁灌之即下</p>

<h1>第五方　治鐵針誤入咽喉</h1>
<p>用舊苕帚（燒灰存性研末三錢）　黃酒下其針即化　或用胡蔥韭菜同食針自大便出</p>

<h1>第六方　治誤吞竹木屑及芒刺</h1>
<p>用鐵秤錘燒紅淬酒飲之　又方用芝麻研末滾水調服亦效</p>

<h1>第七方　治雜物入目</h1>
<p>用在手爪甲刮末燈草蘸點一二次即出　又方用雞冠血少許點眼中亦出以新布覆面上將活地蠶一條在布上摩之芒著布上出</p>
<p>又方大麥煮汁洗之芒亦可出</p>

<h1>第九方　治竹木刺入目</h1>
<p>用地蠶搗爛塗之立出</p>

<h1>第十方　治魚口便毒</h1>
<p>用屋上瓦松花搗濃敷之大有奇效</p>

<h1>第十一方　治坐板瘡</h1>
<p>用厚朴（五分）　白礬（一錢）　硫黃（五分）　共為細末麻油調塗止癢止痛</p>

<h1>第十三方　治各樣腫毒</h1>
<p>明礬（五錢）　研碎放磁盤內入水化開浸粗草紙在內以一張貼瘡上干則再換十餘次即消</p>

<h1>第十三方　治諸瘡臭爛</h1>
<p>白礬雄黃二味煎水洗則不臭且可愈瘡　又方用血風草搗爛合面敷之每日一換數日全愈</p>

<h1>第十四方治　內外痔瘡</h1>
<p>馬齒莧煮熟多食之以湯洗之可痊又用鳳凰草熬水洗亦可又方用皮硝（五錢）　入小便衝開水熏洗之神效</p>

<h1>第十五方　治一切咳嗽</h1>
<p>用甜梨一個剌五十孔每孔納胡椒一粒面里煨熟待冷去椒食梨</p>

<h1>第十六方　治久咳不止</h1>
<p>貝母（三錢研末）　白沙糖（一兩）　和勻沖服　又方蜂蜜生薑汁調服即止</p>

<h1>第十七方　治噎膈回食</h1>

<h1>第十八方　治耳聾</h1>
<p>全蠍兩三個去頭足炒黃研末沖酒服</p>

<h1>第十九方　治風火牙痛</h1>
<p>元參　升麻　細辛　石羔（各三錢）　煎服忌炙炒</p>

<h1>第二十方　治鼻血不止</h1>
<p>用亂髮燒灰吹入鼻孔其血即止</p>

<h1>第二十一方　治蟲牙痛</h1>
<p>用花椒（三粒）　巴豆（一粒）　槌爛棉花裹咬蟲食即死切忌不可吞下喉</p>

<h1>第二十二方　治耳內出膿</h1>
<p>以雞冠血滴耳內數次即愈</p>

<h1>第二十三方　治一切牙痛</h1>
<p>用青鹽牙硝樟腦硼砂各五錢共為末擦牙上即止</p>

<h1>第二十四方　治諸蟲入耳</h1>
<p>用貓尿滴耳內其蟲即出取貓尿法用生薑擦貓鼻貓即尿</p>
<p>又方用雞冠血滴耳內蟲即出</p>

<h1>第二十五方　治耳慣流膿</h1>
<p>枯礬研為細末吹耳內　又方貓尿燒灰吹耳中即愈</p>

<h1>第二十六方　治爛眩風眼</h1>
<p>大棗三個去核入青鹽在內開水泡洗冷放飯上蒸熱再洗以愈為度</p>

<h1>第二十七方　治眼生雲翳</h1>
<p>取大蜘蛛一個去頭足以人乳和勻飯上蒸三次點眼內翳即消散</p>

<h1>第二十八方　治暴發火眼</h1>
<p>用豬膽（一個）　白礬（一錢）　入膽內陰乾點之立收奇效</p>

<h1>第二十九方　治見風流淚</h1>
<p>鯽魚膽七個入人乳半酒杯和勻飯上蒸之二次露過點眼角內神效</p>

<h1>第三十方　治大腸下血</h1>
<p>茯苓　條參（各三錢）　椿樹　皮桑　白皮　石榴皮　陳茶葉（各等分）　煎服即愈</p>

<h1>第三十一方　治大便不通</h1>
<p>麝香少許包肚臍三時即通又方沉香木香檳榔烏藥枳殼大黃棗仁此藥</p>
<p>大黃沉香兩味酌量少用沉香只用數分即可煎水服</p>

<h1>第三十二方　治小便不通</h1>
<p>用生蔥數根搗爛敷臍下即通</p>

<h1>第三十三方　治脫肛</h1>
<p>冰片（一錢）　活田螺（一個）　將冰片入田螺內頃刻肉化成水以鴨毛蘸搽之即愈</p>

<h1>第二十四方　治紅白痢症</h1>
<p>用黃滑石　朴硝　檳榔　厚朴　白芍　黃連　歸尾　茯苓　木通（各一錢五分）　木香（五分）　煎水服　又方胡椒（一粒）　打碎用三兩重鯽魚一個去頭尾連腸骨入椒末搗爛和勻作餅敷臍上即愈</p>

<h1>第二十五方　治被蛇咬傷</h1>
<p>細辛　白芷（各三錢）　雄黃（五錢）　共研為末酒送下外用白芷水煎洗即愈</p>

<h1>第三十六方　治被狗咬傷</h1>
<p>用蚯蚓（數條）　槌爛敷患處外用蒜搗爛敷之去毒即好　又方用長流水洗淨血汙以口吮之再嚼白果塗之即愈</p>

<h1>第三十七方　治跌打損傷</h1>
<p>生半夏　松香（各一錢研末）　調水敷患處又方爛席草蒲扇燒灰沖洗童便引</p>

<h1>第三十八方　治跌打骨斷</h1>
<p>用螃蟹搗爛熱酒沖其服傷自愈（如無大蟹之時即春間潮蟹或池塘中小蟹亦可全愈）</p>

<h1>第三十九方　治刀砍斧傷</h1>
<p>用人指甲燈人上燒焦研末撒上止血生肌但須研細不細糝之作痛</p>

<h1>第四十方　治小便淋症</h1>
<p>用何首烏　蒲公英　金銀花（各三錢）　白木　槿花（七朵）　熬水沖酒服</p>

<h1>第四十一方　治縮陰症</h1>
<p>用硫黃（三錢研末）　沖酒服陽物即出</p>

<h1>第四十二方　治赤白帶下</h1>
<p>用黃荊子炒研末每三錢米湯送下</p>

<h1>第四十三方　治水瀉不止</h1>
<p>黃瓜葉搗爛調米湯下即止又方膏梁子炒焦熬水服立愈</p>

<h1>第四十四方　治解毒稀痘</h1>
<p>金銀花炒研末白沙糖調之常服則痘稀久服可免出痘</p>

<h1>第四十五方　治痘後餘毒</h1>
<p>馬齒莧汁生綠豆赤小豆石羔共研未豬油調搽自愈</p>

<h1>第四十六方　治風濕麻木</h1>
<p>當歸　白芍　熟地　川芎　白朮　荊芥　防風（各二錢）煎服酒引</p>

<h1>第四十七方　治周身發癢</h1>
<p>胡麻子　威靈仙　何首烏　石菖蒲（各三錢）　甘草（一錢）泡酒服</p>

<h1>第四十八方　治腰痛</h1>
<p>用刀豆殼燒灰研末沖酒服</p>

<h1>第四十九方　治乳吹</h1>
<p>蒲公英金銀花煎水洗渣搗爛敷乳即消</p>

<h1>第四十方治　下乳法</h1>
<p>黃沙糖煎豆腐不用油鹽下酒吃二三日即有乳</p>

<h1>第五十一方　治咽喉腫痛</h1>
<p>用牆上蛛窩五六個瓦焙為末吹入即消腫止痛</p>

<h1>第五十一方　治小兒驚風</h1>
<p>青礞石用水磨汁灌下即活　又方用硃砂研末新汲水調塗頂心兩手足心前後心金銀花煎水洗服</p>

<h1>第五十三方　治吐血不止</h1>
<p>白芨（一兩）　為末每服二錢米湯調服神效</p>

<h1>第五十四方　治湯泡火燒</h1>
<p>大黃為細末桐油調搽止痛生肌消腫</p>

<h1>第五十五方　治小兒夜哭</h1>
<p>燈花五朵研爛塗娘乳上令兒吃乳又方硃砂研末寫子午二宇在臍上即能止哭</p>

<h1>第五十六方　治痘子落眼</h1>
<p>刺黑狗耳上血點之即消又方用白水牛身上蝨子血點之亦效</p>
<p>又方黑雞屎點之神效</p>

<h1>第五十七方　治牛瘟</h1>
<p>用枇杷葉（十多片刷去毛）　韭菜　青木香　金銀花根（各一兩）煎水灌之即愈忌用生水</p>

<h1>第五十八方　專治腫毒</h1>
<p>芙蓉葉陰陽瓦焙乾為末再用土茯苓亦焙研為末麻油少許好醋和勻一切無名腫毒末成膿者照其腫處用筆點藥圈之漸圈漸小每次必按腫之大小在四圍圈之不用塗在腫上即毒重者數次無不散消</p>

<h1>第五十九方　治婦人胃嘈嘔吐清水</h1>
<p>用生何首烏燉肥雞食之無不立效</p>

<h1>第六十方　治瀉痢</h1>
<p>用射香三分木鱉子半個共研為末米湯作餅敷臍上即止</p>

<h1>第六十一方　治太腸下血</h1>
<p>用大荸薺五六個不去皮黑豆一酒杯黃糖三錢同煎連湯吃三次即愈</p>

<h1>第六十二方　治漆瘡</h1>
<p>用白菜搗爛塗之又方用荷葉煎湯洗之又方杉木煎湯洗熏之又方用韭菜搗汁塗皮熬水洗皆有效又方用蟹湯更妙</p>

<h1>第六十三方　治瘡不收口</h1>
<p>用干牛屎燒灰雞蛋清調敷又方芝麻炒黑搗敷之皆效</p>

<h1>第六十四方　治心胃氣痛</h1>
<p>花椒二錢槌爛開水泡吃後飲熱酒數杯立效又方生芝麻一杯炒焦研末沖酒服亦效</p>

<h1>第六十五方　治豬牛時症</h1>
<p>皮硝　青礬　雄黃（各五分）　冰片（一分）　麝香（一分）　共為末吹鼻中立效</p>

<h1>第六十六方　治豬瘟牛羊皆可治</h1>
<p>牙皂　細辛　川烏　草烏　雄黃　枸杞（各一錢）　同燒灰研末吹人鼻中每次吹藥五七分即可矣以愈為度方內如加麝香五釐更妙</p>

<h1>第六十七方　治過食瓜莫傷</h1>
<p>用本瓜皮煎湯飲之即愈蓋各瓜皮解各瓜傷也</p>

<h1>第六十八方　治雞瘟</h1>
<p>用巴豆一粒搗極碎香油調灌入口即愈又方綠寬粉（水和成條喂數次即愈）</p>

<h1>第六十九方　治斷酒不飲</h1>
<p>用地蠶焙乾研末溫酒調服永不嗜酒又方白豬母乳一杯飲之亦效</p>

<h1>第七十方　治嗜茶麵黃</h1>
<p>用榧子七個每日食之以面色改好為度</p>

<h1>第七十一方　治濕癬</h1>
<p>用桃樹上青皮為末醋和敷之即愈</p>

<h1>第七十二方　治癬燥作癢</h1>
<p>以雞冠血頻塗之瘡愈癢止</p>

<h1>第七十三方　治各樣癬瘡</h1>
<p>日在正當午時之間取桃葉搗汁搽之</p>

<h1>第七十四方　治諸瘡發癢</h1>
<p>用熟明礬乾薑末共研細和勻先以陳茶煎水洗後將此藥摻之</p>

<h1>第七十五方　消拔諸瘡毒</h1>
<p>用雄黃明礬共研末或水調塗之名曰二味拔毒散</p>

<h1>第七十六方　治腫毒初起</h1>
<p>用麻油煎蔥待黑乘熱用手旋塗自散　又方用白芥子末醋調塗之　又方用敗龜板燒研末酒服四錢兼治婦人乳毒</p>

<h1>第七十七方　治霍亂腹痛</h1>
<p>大棗（一枚）　木瓜（五錢）　桑葉（三片）水煎服　又方桃葉三把煮作兩次服立效</p>

<h1>第七十八方　治大便閉塞</h1>
<p>用豬膽汁灌入肛門即通神效</p>

<h1>第七十九方　治熱淋血淋</h1>
<p>用生地　車前草葉（各二錢）　煎服立效　又方乾柿三枚燒灰存性研末陳米煎湯下</p>

<h1>第八十方　治小便尿血</h1>
<p>用鳥梅燒灰存性研末醋糊小丸每服四十丸黃酒送下又方用人指甲五分頭髮一錢五分研末每次服一錢空心酒下　又方用黑豆一升炒焦研末熱酒淋之去豆飲酒</p>

<h1>第八十一方　治小便滴瀝或有或無</h1>
<p>用大蒜一個紙包煨熱露一夜空心新汲水調下</p>

<h1>第八十二方　治小便不時</h1>
<p>雄雞尾毛燒研末水酒沖服一茶匙　又方白莫十四枚七生七煨兼而食之</p>

<h1>第八十二方　治小便不通</h1>
<p>用萵苣菜槌敷臍上即通　又方杏仁七枚去皮尖炒黃研末米湯化服又方用蔥白連葉搗爛入蜜調合包外腎上即通但蔥白和蜜乃反藥也不可入口誤服殺人切忌切忌　又方用豬膽連汁的一個開一孔籠住陰頭三時汁入即通　又方用金針菜煎水多飲亦通</p>

<h1>籟八十四方　治長行趾腫</h1>
<p>取草鞋浸尿缸內半日以磚一塊燒紅置鞋於上令熱氣入皮膚即消</p>

<h1>第八十五方　治遠行腳底成泡</h1>
<p>用生面塗之一夜即消奇效之至</p>

<h1>第八十六方　治手足凍瘡</h1>
<p>用生薑自然汁熬膏塗之　又方用老絲瓜燒灰存性為末和豬油塗之又方用黃臘濃煎塗之　又方用鵝掌皮焙存性研為末油調塗之皆效</p>

<h1>第八十七方　治足凍坼裂</h1>
<p>用人乳調黃柏末塗之　又用藕蒸熟搗爛塗之</p>

<h1>第八十八方　治腳生雞眼</h1>
<p>用地骨皮紅花等分為末麻油調搽</p>

<h1>第八十九方　治腳脛臭</h1>
<p>用蜒蚰十條瓦焙研末油調敷之立效</p>

<h1>第九十方　治腿足熱腫</h1>
<p>用鐵鎖磨水敷之立見奇效</p>

<h1>第九十一方　治猝然腰痛</h1>
<p>用黑大豆一大碗水拌炒熱布里熨之其痛自止</p>

<h1>第九十二方　治腰痛不止</h1>
<p>用絲瓜子仁炒焦擂酒服以渣敷之立效</p>

<h1>第九十三方治腰脹已</h1>
<p>用八角茴香炒研為末飯前酒服二錢即愈</p>

<h1>第九十四方　治絞腸痧腹痛</h1>
<p>用生明礬二錢為末滾水冷水各半名陰陽水調服即止</p>

<h1>第九十五方　治一切腹痛</h1>
<p>羌活一兩蔥十根老薑二兩以面和勻炒熱用布包裹熨腹冷則炒換　又方大古錢一文打碎以大核桃三個同炒熱人酷一杯沖服即愈</p>

<h1>第九十六方　治心腹冷痛</h1>
<p>用布裹胡椒末安痛處以熨斗熨之汗出其痛即止</p>

<h1>第九十七方　治食稹心痛</h1>
<p>用神面一塊燒紅酒淬二次水調服甚效</p>

<h1>第九十八方　治猝然心痛</h1>
<p>用老薑末一錢米湯飲之　又方用桃仁七粒去皮尖研碎水一碗化服　又　方膏梁根煎湯服甚效又方鳥枚一個紅棗二枚杏仁七枚同搗碎男子用酒婦人用醋和藥飲之不病心痛症</p>
<p>訣云一個鳥梅二個棗七個杏仁同碎搗男酒女醋飲下之不害心疼直到老</p>

<h1>第九十九方　治一切心痛</h1>
<p>用大川芎一個為末燒酒服之　又方舊氈襪後跟一對燒灰酒服其痛自愈</p>

<h1>第一百方　治乾嘔</h1>
<p>用生薑頻頻嚼之其嘔立效如神</p>
<p>用豬腰子二個入胡椒七粒水烹啖之　又方用大蘿蔔一個切碎糯米糖二兩一層蘿蔔一層糖鋪堆煮之吃水即愈　又方用豬胰三個大紅棗三百枚白酒五斤浸之秋冬七日春夏五日濾去渣滓以七日內食盡忌鹽　又方用雞蛋殼內白皮十四個麻黃三分焙乾為末每服一匙滾水送下</p>

<h1>第百另二方　治咳嗽有血</h1>
<p>用小兒胎髮燒灰入麝少許酒送下男用女發女用男發</p>

<h1>第百另三方　治咳嗽氣喘</h1>
<p>用生山藥搗爛半碗入甘蔗汁半碗和勻頓服立止</p>

<h1>第百另四方　治風痰咳嗽夜不能臥</h1>
<p>用白殭蠶一兩炒研為末入茶末一種臨臥時滾水泡服自愈</p>

<h1>第百另五方　治年深喘哮</h1>
<p>用雞鸚蛋略敲損浸尿缸中三日烹食即愈</p>

<h1>第百另大方　治反胃噎膈</h1>
<p>用於槌花即鑿柄木燒灰酒服　又方用鯉魚一尾入童便內浸一夜炙焦研未同米煮粥食　又方用羊尿五錢童便一大鐘煎六分分三次服　又方用柿干三個連蒂搗爛和酒服甚效　又方用牛涎和水調服二茶匙即愈</p>
<p>取牛涎法以水洗牛口用鹽塗之少刻牛涎即出</p>

<h1>第百另七方　治噎食不下</h1>
<p>用鳳仙花子一合酒浸三夜曬乾為末酒糊丸如綠豆大（每服六丸溫酒送下不可多服）</p>

<h1>第百另八方　治諸氣呃逆</h1>
<p>用橘皮三兩去瓤以水一大碗煎五分頓服即愈</p>

<h1>第百另九方　治腮頓種痛</h1>
<p>用赤小豆末和蜜塗之即消或加芙蓉葉末更好</p>

<h1>第百一十方　治牙根面頰腫痛</h1>
<p>雄黃（三錢）　杏仁（十二個去皮尖）　輕粉（五錢）　水粉（三錢）　黃丹（三錢）　俱炒研為末以豬膽調敷腫處</p>

<h1>第百十一方　治咽喉腫痛不能下食</h1>
<p>用白麵和醋塗喉外腫處即消　又方用蚯蚓十四條搗爛敷喉外再以一條著鹽化水入蜜少許加敷之　又方黃柏末利酒敷於喉外其腫便消</p>

<h1>第百十二方　治舌腫破爛及小兒口瘡</h1>
<p>用黃連（五分）　黃柏（五分）　冰片（一分）　青黛（一錢）　焙乾為末吹舌上即愈</p>

<h1>第百十三方　治牙縫出血</h1>
<p>用五倍子燒存性研末搽之　又方用百草霜糝之皆效</p>

<h1>第百十四方　制丹取牙法</h1>
<p>用白馬尿浸前根三日炒為末點牙即落　又方用巴豆點牙亦落</p>

<h1>第百十五方　治牙齦異爛</h1>
<p>用蘿蔔子十四粒生研以乳汁調和左痛點右鼻右痛點左鼻</p>

<h1>第百十六方　治風牙疼痛</h1>
<p>用大荔枝一個剔開以鹽填實將殼連核煆研末擦之　又方用燒酒浸花椒常常漱之</p>

<h1>第百十七方　治牙根腫痛</h1>
<p>用五倍子一兩瓦焙研末每以五錢敷痛處吐涎即止　又方以馬齒莧汁含</p>

<h1>第百十八方　治牙齒疼痛</h1>
<p>用小黑豆煮酒常漱口內數次即止　又方用老生薑焙乾為末同熟明礬搽之亦止痛　又方白臘七分楓樹皮七錢共煎水含口內三五次即止</p>

<h1>第百十九方　治聲音不開</h1>
<p>用陳皮甘草和沙糖煎水服　又方皮生薑各一錢冰糖一兩煎水服</p>

<h1>第百一十方　治唇黑腫痛</h1>
<p>用古銅錢四文於石上磨豬膽汁塗之即消</p>

<h1>第百二二一方　治唇乾裂痛</h1>
<p>用桃仁十四個搗爛和豬油敷之</p>

<h1>第百二十二方　治鼻血不止</h1>
<p>柏子燒灰沖酒服再用甘草搗爛敷足心男左女右　又方用大蒜一個去皮研如泥作錢大餅子左鼻出血敷在足心右鼻出血貼右足心左右皆出貼兩足心　又方用白芨末唾津調塗鼻上及山根即止</p>

<h1>第百二十三方　治鼻中息肉</h1>
<p>用蚯蚓一條炒牙皂一片共為末和蜜調塗患處即除</p>

<h1>第百二十四方　治鼻中生瘡</h1>
<p>用黃柏極榔為末豬油調敷　又方桃葉嫩者杵爛塞之無葉用根</p>

<h1>第百二十五方　治暴眼腫赤流淚羞明</h1>
<p>用大黃末三錢取新汲水調塗眉心及兩眼胞干則以水潤之</p>

<h1>第百二十六方　治火眼腫</h1>
<p>青礬炒三錢黃土六錢共為細末並化水調作二餅如眼大先以水洗眼次以紙貼眼上後將藥餅貼於紙上令患者仰臥用清水潤餅乾再潤之敷二三時痛止腫消</p>

<h1>第百二十七方　治眼皮生珠</h1>
<p>黃丹五錢用鯉魚膽膽汁和如膏點三五次消即消</p>

<h1>第百二十八方　治眼目昏暗</h1>
<p>每旦含黃柏一片吐津洗眼　又方每早洗面時用炒鹽擦牙隨以涼水嗽出洗眼仍以洗面水雙手棒向眼澆七七四十九敷此法終身行之永無目疾且倍光明</p>

<h1>第百二十九方　治浮翳遮睛</h1>
<p>用刀刮指甲細末和乳調點三五次即愈　又方以豬膽微火煎成丸如黍米大日服一丸自效</p>

<h1>第百三十方　治迎風流淚</h1>
<p>用經冬桑葉日日煎水洗　又方用鹽眼角冷水洗之數次即愈</p>

<h1>第百三十一方　治爛眩風眼</h1>
<p>用雞冠血點之三五度數日即愈　又方以青礬火煆毒研細末湯泡澄清點洗立效如神</p>

<h1>第百三十二方　治目赤生翳</h1>
<p>用古錢一文食鹽一匙同研篩過極細點眼中其翳自消</p>

<h1>第百三十三方　治赤眼腫痛</h1>
<p>用自己小便乘熱抹洗即閉同少頃如此數次自愈　又方用豬膽汁一杯和食鹽銅綠各五分點之　又方用黃丹二錢蜂蜜調敷太陽穴立效</p>

<h1>第百三十四方　治百蟲入耳</h1>
<p>雄黃以草紙卷燒燃熏之　又方用萵蘆搗汁或薑汁或韭菜汁人乳小便麻　油隨便滴人其蟲即出</p>

<h1>第百三十五方　治蟻入耳內</h1>
<p>用穿山甲燒研為末調水灌入其蟻自出</p>

<h1>第百三十六方　治□耳</h1>
<p>用桃仁炒研棉裹日日塞之自愈</p>

<h1>第百三十七方　治抓傷麵皮</h1>
<p>用真麻油調水粉搽之一夕即愈</p>

<h1>第百三十八方　治發毛黃赤</h1>
<p>用羊屎燒灰和豬油塗之日三次夜一次至發黑乃止</p>

<h1>第百三十九方　治發垢</h1>
<p>用雞蛋清塗之少頃洗去光澤不燥</p>
<p>用醋湯洗淨以百草霜和水粉少許生麻油調敷立效</p>

<h1>第首四十一方　治頭瘡</h1>
<p>烏梅燒研為末麻油調敷　又方龜板燒灰敷之　又方墨豆燒灰存牲研末敷之</p>

<h1>第百四十二方　治頭面腫痛</h1>
<p>用雞蛋黃白調勻塗腫處即消</p>

<h1>第百四十三方　治食蛋停滯</h1>
<p>宜飲好醋兩次蛋滯自消</p>

<h1>第百四十四方　治解百蟲毒</h1>
<p>用芝麻油多飲取吐　又方以黑豆為末入酒絞汁服半碗亦效　又方用白用萵苣菜搗汁飲之其毒自消</p>

<h1>第百四十六方　解食菰菌毒</h1>
<p>飲糞汁一杯令吐其毒盡出　又方隨即飲尿一碗其毒立解</p>

<h1>第百四十七方　治食鱉中毒</h1>
<p>凡鱉與莧菜同食腹內生小鱉飲白馬尿立解</p>

<h1>第百四十八方　治解煤炭毒</h1>
<p>凡受煤炭煙氣一時昏倒急用清涼水灌之立醒</p>

<h1>第百四十九方　治解桐油毒</h1>
<p>用乾柿食之即解</p>

<h1>第百五十方　治人口咬傷</h1>
<p>用溏雞屎塗咬處立刻止痛　又方以要子嚼爛敷之立效　又方咬傷手指</p>
<p>用盆盛熱尿將指放插尿內浸一夜即愈　又方用鱉甲燒灰敷之立效</p>

<h1>第百五十一方　治毒蜂螫傷</h1>
<p>用麻油塗之甚效　又方以熱酒淋洗患處數次即愈　又方人乳塗之立能止痛</p>

<h1>第百五十二方　治蜈蚣咬傷</h1>
<p>嚼小蒜敷之即解　又方用頭髮燒煙燻之大可消毒止痛</p>

<h1>第百五十三方　治諸蛇咬傷</h1>
<p>先飲好醋一二杯以繩扎傷處之兩頭再用五靈脂五錢雄黃一錢五分共為末酒調二錢灌之少時咬處出黃水水盡則腫消後以雄黃末糝之口合自愈　又方以生薑搗爛敷之干再換　又方用燒酒淋洗去毒用人糞厚封即消</p>

<h1>第百五十四方　治瘋狗咬傷</h1>
<p>用白菜肉嚼爛塗之　又方被咬後即立溪河將傷處擠洗血盡多飲薑汁則毒可解怛宜封扎瘡口勿使受風</p>

<h1>第百五十五方　治湯火炮傷</h1>
<p>凡被湯火切勿以冷水及冷尿泥澆之因熱氣遇冷剛收入愈深火毒攻心而速之死矣宜急以鹽糝之然後用藥敷為妙一方用蜂殼燒灰存性研末人冰麝少許從四面掃之漸人於中此急救最妥驗之方也　又方用夜明砂黃丹水粉各一錢另用雞蛋五個煮熟取黃久炒自有油出即將前藥和入同炒退火氣貼敷傷處干再換如此數次肉白即愈　又方以梔子末和雞蛋清濃調刷之　又方用生蘿蔔搗爛塗之或用生大黃為末或麻油或桐油俱可調服桐油雖系清熱但能作吐仍宜麻油為是</p>

<h1>第百五十六方　治刀傷</h1>
<p>用石灰一升生大黃四兩同炒成紅色收貯瓦罐內凡遇傷處搽上即愈　又　方用經霜桑葉陰陽瓦焙枯存性研末糝於傷處三日全愈其桑葉藏久更好此方即傷重危急亦可救</p>

<h1>第百五十七方治水泡瘡</h1>
<p>用五瓜龍草桐油煎熱敷之文效</p>

<h1>第百五十八方　治內外痔瘡</h1>
<p>以朴硝置尿壺內利熱水熏洗之後以臭牡丹敷之至效</p>

<h1>第百五十九方　治婦人難產</h1>
<p>用川芎當歸二味煎水服即產　又方取鑿柄木燒研為末酒沖服亦產　又方用蓮花一瓣寫人字於花上吞之易產　又方用鱉甲燒灰存性研末酒服一茶匙立產</p>

<h1>第百六十方　治生產橫逆</h1>
<p>用蜜糖真麻油各半碗共一煎至半碗服之立下　又方用鐵器燒紅淬酒飲之自能順產此方並能治胎衣不下</p>

<h1>第百六十一方　治死胎不下</h1>
<p>看產婦面赤舌青肚腹冰冷即是死胎急用黑毛雌雞一隻去毛以水三碗煮二碗用紙或布摩臍下其胎自出內服川芎當歸湯以活氣血又方用灶心土研末三錢水調服　又方需大豆三碗和醋煮濃汁服之立下</p>

<h1>第百六十二方　治胞衣不下</h1>
<p>急用沒藥血竭二味各一錢煎服自下免致上攻心胸　又方用皂角刺燒灰一錢引服　又方取本婦手足爪甲燒灰酒引服即令有力人將婦人抱起執竹筒於胸前按下　又方用麻線將臍帶緊縛以輕物墜住後將臍帶剪斷過兩三日胞衣自縮小而下</p>

<h1>第百六十三方　治產後腸出不收</h1>
<p>用麻油二斤煉熱以盆盛之令婦坐盆中再炙皂角去皮研末吹少許入鼻作嚏立上</p>

<h1>第百六十四方　冶產門不閉</h1>
<p>用石灰二升炒黃以水一盆投之澄清乘熱熏之自閉</p>

<h1>第百六十五方　治產後血暈</h1>
<p>急取破損漆器燒煙燻之或用鐵枰錘燒熱以醋淬熏鼻神效又方用荊芥穗研末每服一錢以童便一杯調勻熱服立效如口閉即灌鼻中亦可　又方用韭菜切碎安壺中灌以熱醋令其氣入鼻中即醒此時宜服佛手散加唇面白者宜服荊芥穗人參川芎甘草澤蘭葉即愈（此藥方名清魂散）</p>

<h1>第百六十六方　治產後惡血不止</h1>
<p>用黑母雞蛋三個醋一杯老酒一杯和攪煮取一杯分作兩次服即止</p>

<h1>第百六十七方　治產後尿閉不通</h1>

<h1>第百六十八方　治產後遺尿</h1>
<p>用雞屎燒灰酒引服一大匙即愈　又方用雞窩草燒灰酒引服一錢七分立效　又方用豬尿胞一個豬肚一個糯米一茶杯先人尿胞內再將尿胞入豬肚內加五味子三錢煮服立效</p>

<h1>第百六十九方　治臨產交骨不開</h1>
<p>用川芎當歸奧酷炙龜板一塊本產婦頭髮團燒灰存性酒調服其骨自開名日開骨散氣血虛者加入參更妙</p>

<h1>第百七十方　治乳汁不通</h1>
<p>用小鯉魚一尾燒灰為末每服一錢好酒引送下</p>

<h1>第百七十一方治乳汁清少</h1>
<p>用死鼠一個燒灰為末酒服一茶匙勿令婦知　又方用母豬蹄一隻水煮飲之加通草更妙</p>

<h1>第百七十二方　治乳汁自流</h1>
<p>乳汁太多倒回其乳者用紅花屬尾赤芍牛膝四味服之若無兒吃欲斷其乳者用麥芽炒熟熬水吃自止</p>

<h1>第百七十三方　治乳吹</h1>
<p>用雄雞屎取立起者五錢為末每服一錢以酒引送下又方用醒消丸一錢以酒吞服亦效或大人將乳孔吃通更妙</p>

<h1>第百七十四方　治乳腫</h1>
<p>用馬屎敷腫處立見奇效</p>

<h1>第百七十五方　治垢乳</h1>
<p>乳頭生瘡謂之垢乳其方以醋和梁上塵塗乳上即愈　又方用鹿角判末同甘草生雞蜜黃調作餅放銅杓內炙熱敷之</p>

<h1>第百七十六方　治乳瘡腫痛</h1>
<p>用芝麻炒焦研末以燈盞內香油調塗郎安</p>

<h1>第百七十七方　治乳癰初起</h1>
<p>用牛屎和酒敷之即消　又方用蔥汁一碗頓服立效</p>

<h1>第百十七八方　治爛腿</h1>
<p>取美容葉用陰陽瓦焙燥研為細末用鳥背大鯽魚去鱗骨一併春之先用水熬加麻頭煉成稀膏貯於磁罐內臨用視其瘡之大小將前藥攤於油紙上貼患處再用芙蓉葉包好愈小愈換無論數十年爛腿不過一月即收功獲效矣</p>

<h1>第百七十九方　治婦人乳吹</h1>
<p>用硃筆寫十一地支於本婦人所帶簪上本命屬辰不寫將簪帶之立效無論內吹外吹均效對於初起之乳吹最妙</p>

<h1>第百八十方　治乳癰</h1>

<h1>第百八十一方　治行經不正</h1>
<p>用紅雞冠花曬乾為末水煎酒引每服二錢忌魚肉葷腥三日　又方用陳蓮蓬殼燒存性研末每服二錢　又方用生地黃汁同酒各一杯煎服每日二服即愈　又方用梅葉焙乾棕櫚皮燒灰各等分為末每服二錢立效</p>

<h1>第百八十二方　治先期行經</h1>
<p>經水未及三十日而行者乃血熱先期血多色紅而濃者用川芎當歸生地白芍黃芩黃連六味煎服若血少色紫有塊者宜月川芎歸地芍四味加桃仁紅花服之如是先期血少色淡而稀者用川芎歸身生地白巧丹皮地骨皮六味煎服經自調和不乖矣</p>

<h1>第百八十三方　治行經吐血鼾血</h1>
<p>此乃熱血湧迫當行經之時用生地赤芍丹皮犀角煎服即止但犀角一味須另磨另以盞盛之臨服藥時沖服可也不可放藥內同煎致滅功效</p>

<h1>第百八十四方　治血崩</h1>
<p>用荸薺一歲一個燒存性研末酒引服之　又方用老母豬屎曬乾燒灰酒引每服三錢立效　又方用舊敗蒲席燒灰酒引服二錢亦效　又方用甜杏仁黃皮燒存性為末每服三錢空心酒引服之諸藥不效者服此藥即止　又方正治藥方凡血崩心腹痛甚者用蒲黃五靈脂二味煎服醋引名曰失笑散若再血崩不止用地榆一兩醋和水煎露一夜次早溫服即止</p>

<h1>第百八十五方　治赤白帶下</h1>
<p>用韭菜根搗汁和童便露一夜空心溫服　又方以白扁豆炒研為末每服二錢米湯送下　又方用雞冠花曬乾為末每早空心酒引服三錢白帶用白雞冠花赤帶用紅雞冠花極效</p>

<h1>第百八十大方　治陰癢</h1>
<p>用蛇床子一兩白礬二錢煎水常服　又方以桃仁研碎加雄黃末以雞肝切片黏藥納入陰戶夜間納入次早取出其癢自止　又方以大蒜煎水洗之亦效</p>

<h1>第百八十七方治久年憮子</h1>
<p>於二月丁亥日取杏花桃花陰乾為末另擇戊子日和井花水煎服一茶匙每日三服　又方益母草半斤當歸川芎赤芍廣東香各一兩泡甜酒常服百日即有孕</p>

<h1>第百八十八方　治胎前心痛</h1>
<p>用食鹽炒紅酒服一撮即止</p>

<h1>第百八十九方　治胎前腹痛</h1>
<p>用大紅棗十四枚燒焦為末以童便化服即愈</p>

<h1>第百九十方　治胎前腰痛</h1>
<p>用大黑豆一碗酒三碗同煎每日空心隨量飲之　又方用牛屎燒灰為末水調服一茶匙其痛即止</p>

<h1>第百九十一方　治傷胎結血心腹疼痛</h1>
<p>用童便每日服兩三杯其痛自愈</p>

<h1>第百九十二方　治胎前每食作嘔</h1>
<p>用法半夏白茯苓厚朴蘇葉川芎當歸白芍共七味水煎兩三服即止</p>

<h1>第百九十三方　治胎上衝心</h1>
<p>用葡萄湯多飲之即安</p>

<h1>第百九十四方　治胎漏</h1>
<p>用資者二兩糯米一盒水煎服神效</p>

<h1>第百九十五方　治黃官瘡</h1>
<p>寒水石蛇床子花椒硫黃共研細末以麻油調搽神效</p>

<h1>第百九十六方　治風寒積滯一切雜症</h1>
<p>製蒼朮（五錢）　明雄（二錢）　羌活（二錢）　枳殼（一錢炒）　桔梗（一錢）　厚朴（二錢）　薑汁（炒）　白芷（一錢）　薄荷（一錢）　公丁香（一錢）　廣木香（一錢）　神麯（三錢）　生甘草（二錢）　柴胡（一錢炒）　陳皮（一錢去白）　草果（一錢）　半夏（一錢）　貫仲（二錢）　防風（一錢）　皂角（一錢）　香薷（一錢）　熟大黃（二錢）　霍香（二錢）　細辛（一錢）　硃砂（一錢）　前胡（一錢）　石菖蒲（一錢）　共研細末每遇病者先用二三分吹入鼻內再用二錢滾薑湯沖服體虛者加臺黨參四錢煎煬沖服小兒每服一錢凡病重者三服即愈此方專治傷風傷寒時染頭痛身項痛腰痛目脹鼻塞聲重風痰咳嗽上吐下瀉便赤內傷飲食及感冒四時不正之氣發痧瘟疫瘴癧鬼瘧赤眼口瘡濕毒流注腳腫腮腫風火喉痹並治硃砂症又名心經症其症脈散牙聚手足麻木發厥神迷不語喉腫心痛等症服之均有奇效</p>

<h1>第百九十七方　治走馬牙疳</h1>
<p>用多年陳草塵上草蠶數條榻爛塗搽患處隨搽隨愈屢試屢驗又方取白狗屎內之骨用瓦合炭火上煆成灰加冰片少許西黃研極細末敷患處神效</p>

<h1>第百九十八方　治無名腫毒</h1>
<p>用火石一錢約重二三兩放山藥內一錢槌融作餅敷患處約一周時其毒自消重者出一小頭輕者兩日消散良方也火石遇山藥軟亦奇事也</p>

<h1>第百九十九方　治久瘧不愈</h1>
<p>大紅棗一枚去核留衣以樟腦填塞棗內插入鼻孔男右女左插之其瘧自然截絕</p>

<h1>第二百方　治老鼠偷糞門</h1>
<p>用生鱔魚去皮肉取淨骨搗融生石灰面做盛餅敷患處藥力到時其瘡最癢切忌勿抓癢止換餅再敷不癢則蟲盡矣以艾水洗之後用八寶生肌丹搽之即愈</p>

<h1>第二百另一方　治肚腹疼痛神水</h1>
<p>符式</p>
<figure>
<img alt="圖">
</figure>
<p>咒曰　一根桃木千斤重　人見駭　鬼見愁　玉帝見我也低頭　吾奉太上老吾急急如律令勅</p>
<p>此符清水半鍾以左手戟指持鍾右手二中兩指向鍾內畫符三次病人飲符水即愈</p>

<h1>第二百另二方　治誤吞竹木屑及芒刺</h1>
<p>符式□□□□□□□□□□□</p>
<p>咒曰</p>
<p>此水一碗　化為東洋　大海咽喉　化為龍潭　九龍歸洞　吾華太上老君急急如律令勅</p>

<h1>第二百另三方　治□庠子</h1>
<p>符式</p>
<figure>
<img alt="圖">
</figure>
<p>咒曰　天金剛　地金剛　月星辰三光　吾奉太上老君急急如律勅</p>

<h1>第二百另四方　畫蛋收駭</h1>
<p>□□□書火角明靈吞四字各書一次</p>
<p>外擊青線於蛋上七圈燒之食即愈然後將蛋殼送於水內</p>
<p>咒曰　清景一夜開　神水付身來　隔山請　隔山應　隔水請　隔水應　龍來龍退瓜　虎來虎落皮　吾奉太上老君急急如律帝勅</p>

<h1>第二百另五方　收犬吠法</h1>
<p>犬待出收藏</p>

<h1>第二百另六方　制惡犬法</h1>
<p>咒　日出東方喜氣洋洋家有惡犬不知花白黑黃吾奉請土先生千根繩兒來捆腿萬根繩兒來捆腳銅釘釘口鐵釘釘腸吾奉太上老君急急加津日　令勅</p>

<h1>第二百另七方　治遠年爛膀腿</h1>
<p>用杉木皮燒灰存牲研極細未再加永片用麻油調敷患處其效如神</p>

<h1>第二百另八方　治各種疔瘡</h1>
<p>用破磁碗割破患處取遠年旱菸袋中之油脂塗於患處（即所割破之處）用布紮好一宿而愈其效如神</p>
<p>再壽編一書共計良方三百三十八種依次編成二百零八號以備臨時閱者一目瞭然也此書家藏一本可免百病無慮矣</p>
