<header data-type="book">
<h1>安老懷幼書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳直、鄒鉉、黃應紫</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>明弘治11年劉宇校刻本（<a href="https://www.digital.archives.go.jp/file/1079660">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
