<header data-type="book">
<h1>醫宗金鑑·傷寒心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-997031">香港中文大學圖書館掃描本</a>），卷三十六至卷三十八；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷三十六至卷三十八（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>
<p>傷寒一證，仲景論中立三百九十七法，一百一十三方，神明變化，可謂既詳且盡矣。其治雜證也，則有《金匱要略》，分門別類，包舉該括，無非示人以規矩準繩，欲其觸類傍通，以應變於無窮也。但其辭旨古奧，義蘊幽深。條目繁多，未易領會，人多苦之。茲特撮其要旨，編為歌訣，俾學者便於熟讀默記，融會貫通，然後再玩味全書，則易讀易解，有會心之樂，而無望洋之嘆矣。由此登堂入室，將見二千年來大法微言，昭如日月，不致塵封，庶幾於斯道不無小補云爾。</p>

<h2>傷寒傳經從陽化熱從陰化寒原委</h2>
<p>六經為病盡傷寒，氣同病異豈期然，推其形臟原非一，因從類化故多端。明諸水火相勝義，化寒變熱理何難，漫言變化千般狀，不外陰陽表裡間。</p>
<p>【注】六經，謂太陽、陽明、少陽，太陰、少陰、厥陰也。為病盡傷寒，謂六經為病，盡傷寒之變化也。氣同，為天之六氣，感人為病同也。病異，謂人受六氣生病異也。豈期然，謂不能預先期其必然之寒熱也。推其形臟原非一，謂推原其人形之厚薄，臟之虛實非一也。因從類化故多端，謂人感受邪氣雖一，因其形臟不同，或從寒化，或從熱化，或從虛化，或從實化，故多端不齊也。明諸水火相勝義，謂水勝則火滅，火勝則水乾也。化寒變熱理何難，謂邪至其經，或從陰化為寒，或從陽變為熱，即水火相勝從化之理，何難明也。漫言變化千般狀二句，謂傷寒變化千般、總不外乎陰陽表裡間也。</p>

<h2>太陽風邪傷衛脈證</h2>
<p>中風傷衛脈浮緩，頭項強痛惡寒風，病即發熱汗自出，鼻鳴乾嘔桂枝功。</p>
<p>【注】中風，病名也。傷衛，謂風傷衛也。脈浮緩，謂中風脈也。頭痛項強，惡寒惡風，發熱汗自出，鼻鳴乾嘔，謂中風證也。桂枝功，謂桂枝湯功能治中風虛邪也。詳太陽上篇。</p>

<h2>太陽寒邪傷營脈證</h2>
<p>傷寒傷營脈浮緊，頭疼身痛惡寒風，無汗而喘已未熱，嘔逆麻黃湯發靈。</p>
<p>【注】傷寒，病名也。傷營，謂寒傷營也。脈浮緊，謂傷寒脈也。頭疼身痛，惡寒惡風，無汗而喘，或已發熱，或未發熱，嘔逆，謂傷寒證也。麻黃湯發，謂傷寒實邪，當與麻黃湯發汗最靈也。詳太陽中篇。</p>

<h2>風寒營衛同病脈證</h2>
<p>中風浮緊遍身痛，頭疼發熱惡寒風，千嘔無汗兼煩躁；傷寒身重乍時輕，浮緩嘔逆無汗喘，頭疼發熱惡寒風，煩躁而無少陰證，營衛同病大青龍。</p>
<p>【注】中風謂風傷衛之病也。頭疼發熱，惡風惡寒，乾嘔，中風之證也。浮緊，寒傷營之脈也。身疼痛，寒傷營之證也。今以中風之病而得傷寒之脈與證，更兼不汗出之表實、內熱之煩躁也。傷寒，謂寒傷營之病也。身重不痛，乍有輕時，風傷衛之證也。浮緩，風傷衛之脈也。嘔逆無汗而喘，頭疼發熱，惡寒惡風，寒傷營之證也。是以傷寒之病而得中風之脈與證，更兼太陽無汗內熱之煩躁也。而無少陰證，謂無身重但欲寐之證也。營衛同病，謂風寒中傷營衛同病也。二證皆無汗實邪，故均以大青龍湯發之。詳太陽下篇。</p>

<h2>誤服三湯致變救逆</h2>
<p>傷寒酒病桂勿與，嘔吐不已血膿鮮，尺遲服麻致漏汗，惡風肢急小便難，微弱汗風青龍發，厥惕悸眩熱仍然，身瞤振振欲擗地，桂加附子真武痊。</p>
<p>【注】傷寒，謂傷寒無汗之實邪也。酒病，謂病酒狀似中風也。桂勿與，謂皆勿與桂枝湯也。誤與傷寒，則表氣愈固，裡氣更逆，嘔吐不已也。誤與酒病，則濕熱內釀，傷營吐血膿也。此皆誤用桂枝湯之變證，當隨其變證治之可也。尺遲，謂傷寒尺中脈遲也。服麻，謂服麻黃湯發汗，遂致汗出不止，名曰漏汗也。肢急，四肢拘急也。小便難，謂小便少而難也。傷寒脈證，當用麻黃湯發汗，若尺中脈遲，是營氣不足，不可發汗。若誤發之，則致漏汗惡風，四肢拘急，小便難等變證也。當以桂枝加附子湯救逆可也。微弱，謂大青龍證脈微弱也，汗風，謂大青龍證自汗惡風也。大青龍證脈不浮緊，若浮緩而微弱反汗出，是大青龍脈證未具也。誤以大青龍發之，致其人厥冷筋惕，心悸頭眩，熱仍不退，身肉瞤動也。振振欲擗地，謂聳動不已，不能興起欲墮於地也，此皆誤與大青龍湯發汗之變證，當以真武湯救逆可也。詳太陽篇。</p>

<h2>三陽受病傳經欲愈脈證</h2>
<p>傷寒一日太陽病，欲吐煩躁數急傳、陽明少陽證不見，脈靜身和為不傳。</p>
<p>【注】傷寒一日太陽受病，二日陽明受病，三日少陽受病，此其傳經之常也。若初病頗欲吐，煩躁脈數急者，謂邪盛傳經而不解也。二、三日陽明少陽證不見，脈靜身無所苦者，謂邪衰不傳，欲自愈矣。</p>

<h2>陽明表病脈證</h2>
<p>葛根浮長表陽明，緣緣面赤額頭疼，發熱惡寒而無汗，目痛鼻乾臥不寧。</p>
<p>【注】太陽未罷，又傳陽明，太陽表邪怫鬱，陽明肌熱，為陽明經表病也。葛根表陽明，謂葛根湯主治陽明表病也。浮長，謂陽明之表脈也。緣緣面赤連額頭疼，發熱惡寒無汗，目痛鼻乾臥不得寧，皆謂陽明經之表證也。用葛根湯解兩經之邪也。詳陽明篇。</p>

<h2>陽明熱病脈證</h2>
<p>白虎煩渴熱陽明，汗出身熱脈長洪，不惡寒兮反惡熱，合柴兼見少陽經。</p>
<p>【注】太陽已罷，而傳陽明不傳少陽，亦未入腑，其熱漸深，表裡俱熱，為陽明經熱病也。白虎熱陽明，謂白虎湯主治陽明熱病也。脈長洪，謂陽明之熱脈也。煩躁口渴，引飲汗出身熱，不惡寒反惡熱，皆謂陽明經熱病之證也。用白虎湯解陽明表裡俱熱也。陽明未罷，又傳少陽，亦陽明熱病也。合柴，謂白虎合小柴胡湯，治陽明經熱證，兼見少陽經弦脈，寒熱往來，口苦耳聾，目眩而嘔，胸脅痛之病也。詳陽明少陽篇。</p>

<h2>陽明腑病脈證</h2>
<p>胃實脈大腑陽明，大便難兮脾約同，蒸蒸潮熱濈濈汗，滿痛始可議三承。</p>
<p>【注】脈大腑陽明，謂熱邪入腑，陽明當脈大也。曰胃實，曰大便難，曰脾約，謂腑病受邪之不同也。脾約者，太陽陽明也。胃實者，正陽陽明也。大便難者，少陽陽明也。皆為可下之證，不無輕重之別。然必蒸蒸潮熱，身肢濈濈然汗出，或滿或痛，始可議其微、甚，以三承氣湯、麻仁丸下之可也。詳陽明篇。</p>

<h2>陽明慎汗慎清慎下</h2>
<p>陽明表證反有汗，桂枝加葛中風傳。熱證無汗亡津液，燥渴仍從白虎痊，胃實汗熱原應下，惡寒浮緩表為先。欲知定硬識矢氣，不轉微澀下之冤。舌滑尿白小便數，便硬休攻導自安。小便數多知便硬，無苦數少是津還。</p>
<p>【注】陽明表證應無汗，反有汗，是從風邪傳來，仍從表治，宜用栓枝加葛根湯。陽明熱證應有汗，反無汗，是或吐、或汗、或下亡其津液。若無燥渴，則從表治，若有燥渴、仍從熱治，宜用白虎湯。胃實自汗潮熱，原應下之，若有惡寒浮緩之表，宜先解表。表解已、乃可攻之，欲知大便硬定未定，當少與小承氣湯，轉矢氣者，已成定硬，當與大承氣湯攻之。若不轉矢氣者，未成定硬，攻之必溏，勿更與也。若脈微澀者，亦不可下，下之則冤死也。舌滑、尿白、裡熱微也，雖小便數、大便硬，其熱遠在廣腸，亦不可下，用蜜煎豬膽導法自可安也。凡小便數多，知大便必硬，雖大便硬而無或滿、或痛之苦，當審其小便日幾行，日減數少，是津液還於胃中，慎不可攻，不久必自大便出也。詳陽明篇。</p>

<h2>少陽脈證</h2>
<p>往來寒熱胸脅滿，脈弦目眩而耳聾，口苦默默不欲食，心煩喜嘔少陽經，或渴或咳身微熱，或脅硬痛腹中疼，或悸不嘔尿不利，舌苔滑白小柴宗。</p>
<p>【注】脈弦，謂少陽病脈也。往來寒熱胸脅滿，目眩耳聾，口苦默默不欲食，心煩喜嘔，少陽經主證也。或渴、或咳身微熱，或脅硬痛、腹中疼，或悸、不嘔、尿不利、舌苔滑白者，皆少陽或有之證也。均宜小柴胡湯主之，隨證加減治之可也。詳少陽篇。</p>

<h2>少陽病用柴胡湯加減法</h2>
<p>胸煩不嘔去參夏，加蔞若渴半易根，腹痛去芩加芍藥，心悸尿秘苓易芩，脅下痞硬棗易蠣，不渴微熱桂易參，咳去參棗加干味，小柴臨證要當斟。</p>
<p>【注】少陽經主證，宜小柴胡湯主治也。其或有之證，務要臨證斟酌加減可也。若胸中煩而不嘔，去半夏、人參，加栝萎實。若渴者，以半夏易栝萎根。若腹中痛，去黃芩加白芍，若心下悸，小便不利者，加茯苓去黃芩。若脅下痞硬，加牡蠣去大棗。若不渴外有微熱者，去人參加桂枝微汗之。若咳者，去人參、大棗，加乾薑、五味子。義詳少陽篇小柴胡湯下。</p>

<h2>少陽禁汗禁吐禁下</h2>
<p>少陽三禁要詳明，汗譫吐下悸而驚，甚則吐下利不止，水漿不入命難生。</p>
<p>【注】三禁，謂少陽禁吐、禁汗、禁下也。若誤發汗，則生譫語，若誤吐下，則心悸而驚。少陽經，即有心下硬，不可下，下之甚，則下利不止。即有胸中滿，不可吐，吐之甚，則水漿不入，變成危候，命難生也。詳少陽篇。</p>

<h2>少陽可吐可汗可下</h2>
<p>胸滿熱煩梔子豉，痞硬衝喉瓜蒂平，發熱惡寒肢煩痛，微嘔支結柴桂寧。鬱郁微煩嘔不止，心下痛硬大柴攻，誤下柴胡證仍在，復與柴胡振汗生。</p>
<p>【注】上言其禁，恐失宜也；此言其可，貴變通也，胸滿煩熱，太陽少陽輕邪也，宜梔子豉湯湧之。胸滿痞硬，氣上衝喉不得息者，太陽、少陽重邪也，宜瓜蒂散吐之。發熱惡寒，四肢煩疼微嘔，心下支結，太陽、少陽表證也，宜柴胡桂枝湯，微汗兩解之。鬱郁微煩，嘔不止，心下痛硬，少陽、陽明表裡證也，宜大柴胡湯緩攻兩解之。誤下不致變逆，柴胡證仍在者，復與柴胡湯以和解之，若解則必蒸蒸振汗出而解，以下後虛故也。詳太陽、少陽篇。</p>

<h2>三陽合病並病</h2>
<p>合病兩三經同病，並病傳歸併一經。二陽合病滿喘發，自利葛根嘔半同。太少利芩嘔加半，明少弦負順長生，滑數宿食大承氣，三陽合病腹膨膨，口燥身重而譫語，欲眠合目汗蒸蒸，遺尿面垢參白虎，浮大汗下禁當應。二陽並病汗不徹，面赤怫鬱大青龍，表罷潮熱手足汗，便難譫語大承攻。太少頭項痛眩冒，心下痞硬如結胸，禁汗吐下惟宜刺，譫驚不食利多凶。</p>
<p>【注】一經未罷，又傳一經，二經、三經同病，而不歸併一經者，謂之合病。二經、三經同病，而後歸併一經自病者，謂之並病。二陽，謂太陽、陽明也。太陽則有頭痛、發熱、惡寒、無汗，陽明則有肌熱、惡熱、心煩、不眠之證，相合同病也。滿喘，謂二陽合病當下利不下利，更加胸滿而喘，宜麻黃湯發之。自利，謂二陽合病當有之證，宜葛根湯也。嘔半，謂二陽合病，不下利但加嘔者，宜葛根湯加半夏也。同，謂二證同用葛根一方也。太少，謂太陽、少陽合病也。太陽則有頭痛發熱，惡寒無汗；少陽則有寒熱往來，口苦耳聾，目眩胸脅痛之證，相合同病也。利芩，謂太陽、少陽合病當自下利，宜與黃芩湯也。嘔加半，謂太陽、少陽合病不自利，但加嘔者，宜黃芩湯加半夏也。若不嘔利而見太陽、少陽之證，非合病也；宜用柴胡桂枝湯兩解之。明少，謂陽明、少陽兩經之證同見下利合病也。弦負，弦為少陽木脈，木勝則土負，負則死也。順長生，長為陽明土脈，土盛則木不能災為順，順則生也。滑數，謂陽明、少陽合病，下利黏穢者，脈必滑數，是宿食也，宜大承氣湯；嘔酸苦者，宜大柴胡湯。三陽，謂太陽、陽明、少陽合病也。腹膨膨，謂腹脹滿也。口燥，謂口中乾燥也。身重，謂身重難轉側也。譫語，謂妄亂言也。欲眠，謂喜睡也。合目汗蒸蒸，謂合目出熱汗也。遺尿，謂失尿不知也。面垢，謂面似有油垢也。此皆三陽熱盛，津液枯竭之證，設使脈浮，禁不可汗，脈大亦不可下，惟宜用白虎加人參，益氣生津清熱可也。若未經汗下，津液未傷，三陽合病，輕證惟宜柴葛解肌湯，清解三陽可也。二陽，謂太陽陽明並病也。汗不徹，謂邪在太陽，發汗未徹，又傳陽明也。面赤，謂邪猶怫鬱於太陽、陽明之表，未並陽明之腑，宜大青龍湯解兩經之熱也。表罷，謂太陽證罷也。潮熱、手足汗、大便難、譫語，謂已歸併陽明腑也，宜大承氣湯，攻陽明實熱也。太少，謂太陽、少陽並病也。頭項強痛，目眩昏冒，心下痞硬，如結胸證，謂太陽少陽二經之證尚未歸併，其邪未定，禁不可汗下，惟宜刺大椎、肝腧、肺腧，以瀉其熱也。若誤發汗，則必發譫語。若誤吐下，則必心煩而驚，水漿不入，下利不止。變此惡候，命多凶也。義詳合病並病篇。</p>

<h2>三陰受病傳經欲愈脈證</h2>
<p>傷寒三日三陽盡，熱微煩躁入陰傳，其人能食而不嘔，脈小尿清為不傳。</p>
<p>【注】傷寒三日，三陽受邪為盡，三陰當受邪，其人身熱雖微，而煩躁者，謂邪去陽入陰不解也。若其人反能食而不嘔，脈靜小，小便清，謂邪未入於陰為不傳，欲自愈也。</p>

<h2>太陰陰邪脈證</h2>
<p>太陰陰邪沉遲脈，吐食腹滿有時疼，手足自溫利不渴，理中湯主悸加苓，腹滿去朮加附子，吐多去朮加姜生，雖吐下多還用術，渴欲得水倍術寧，欲作奔豚術易桂，乾薑寒倍參腹疼。</p>
<p>【注】太陰陰邪，謂邪從陰化之寒證也。脈沉遲，太陰陰邪脈也。吐食、腹滿時痛，太陰裡寒證也。手足自溫，邪入陰也。自利不渴，臟無熱也，宜理中湯主之。若心下悸，加茯苓。腹滿，去朮加附子。吐多，去朮加生薑。雖吐若下利多，還用白朮。若渴欲得飲水，仍倍加朮。若臍下欲作奔豚，去朮易桂。中寒倍加乾薑，腹痛倍加人參。詳太陰篇。</p>

<h2>太陰陽邪脈證</h2>
<p>陽邪嗌乾腹滿痛，誤下時痛大實疼，大承桂枝加芍大，脈弱芍大當審行。</p>
<p>【注】陽邪，謂太陰邪從陽化之熱證也。嗌乾，謂咽乾太陰熱也。腹滿痛，太陰有餘證也。誤下，謂誤下邪陷太陰當分輕重也。時痛，謂腹有時痛，有時不痛，宜桂枝加芍藥湯和之。大實痛，謂腹大滿痛，無時不痛，宜桂枝加大黃湯下之。兼陽明胃實，以大承氣湯下之。若脈弱即當行大黃芍藥，宜斟酌減之，以其人胃氣弱易動也。詳太陰篇。</p>

<h2>太陰陽明表裡同病</h2>
<p>腹滿時減復如故，此是寒虛氣上從，腹滿不減不大便，轉屬陽明乃可攻。</p>
<p>【注】腹滿時減，減復如故，謂腹時滿時不滿，而減復如常，此為太陰寒邪寒虛之氣上逆之滿，乃可溫之證也，宜厚朴生薑甘草半夏人參湯。腹滿不減，謂常常而滿，終日不減，或不大便，此為轉屬陽明實熱內壅之滿，乃可攻之證也，宜大承氣湯。詳太陰篇。</p>

<h2>少陰陰邪脈證</h2>
<p>少陰陰邪脈沉細，背寒欲寐口中和，咽痛腹痛骨節痛，厥利清穀四逆瘥。</p>
<p>【注】少陰陰邪，謂邪從陰化之寒證也。脈沉細，少陰陰邪之脈也。背寒，謂背惡寒，陽氣虛也。欲寐，謂但欲寐，陰氣盛也。口中和，口中不幹燥也。咽痛腹痛，下利清穀，寒盛於中也。骨節疼痛，四肢厥冷，寒淫於外也，宜四逆湯，溫中散寒也。詳少陰篇。</p>

<h2>少陰陽邪脈</h2>
<p>少陰陽邪沉細數，口燥咽乾大承湯，少陰心煩不得臥，黃連阿膠是主方。</p>
<p>【注】陽邪，謂少陰邪從陽化之熱證也。少陰病但欲寐，陰邪則脈沉細無力，陽邪則脈加數而有力矣。始病即口燥咽乾，水不上升，熱之甚也。宜大承氣湯急下之，瀉陽救陰也。少陰病但欲寐，二、三日以上變生心煩不得眠，是陽邪乘陰，陰不能靜也，宜黃連阿膠湯，清陽益陰也。詳少陰篇。</p>

<h2>少陰太陽表裡同病</h2>
<p>少陰脈沉反發熱，麻黃附子細辛湯，若二三日無里證，減辛加草用之良。</p>
<p>【注】少陰病脈沉，為陰寒之證，當無熱，今反發熱，是兼有太陽表也。宜麻黃附子細辛湯，急溫而散之。若二、三日熱仍不解，亦無裡寒吐利之證，去細辛易甘草，緩溫而和之。詳少陰篇。</p>

<h2>厥陰陰邪脈證</h2>
<p>厥陰陰邪微細厥，膚冷臟厥躁難安，囊縮舌短苔滑黑，四逆當歸四逆先，少滿痛厥姜萸入，蛔厥靜而復時煩，得食而嘔蛔聞臭，煩因蛔動烏梅丸。</p>
<p>【注】厥陰陰邪，謂邪從陰化之寒證也。微細，厥陰陰邪脈也。厥，謂四肢厥冷也。膚冷，謂肌膚冷也。臟厥，謂寒陰臟厥也。躁難安，謂煩躁無有安時也。囊縮，謂外腎為寒收引縮入腹也，婦人則乳縮陰收也。舌短，謂舌縮短也。苔滑黑，謂舌苔不幹而色黑也。四逆，謂四逆湯也，當歸四逆，謂當歸四逆湯也。先者，謂先服當歸四逆湯也，少滿痛，謂少腹滿按之痛也。厥，謂厥冷也。姜萸入，謂當歸四逆湯加入吳萊萸、生薑也：蛔厥，謂厥而吐蛔也。靜而復時煩，謂煩時止時煩也。得食而嘔蛔聞臭，謂嘔因蛔聞食臭而始嘔也。煩因蛔動，謂煩因蛔動而始煩也。烏梅丸蛔厥，謂宜用烏梅丸也。詳厥陰篇。</p>

<h2>厥陰陽邪脈證</h2>
<p>陽邪熱厥厥而熱，消渴熱氣撞心疼。煩滿囊縮舌焦卷，便硬尚任大承攻，四逆不分四逆散，咳加姜味下利同，悸加桂枝腹痛附，下重薤白秘尿苓。</p>
<p>【注】陽邪，謂厥陰邪從陽化之熱證也。厥，謂手足寒也。厥而復熱，熱而復厥，是為熱厥。厥微熱微，厥深熱深也。消渴，謂飲水多而小便少也。熱氣上撞心疼，是火挾木邪而逆也。煩滿，謂少腹煩滿也；囊縮，謂外腎為熱灼，筋縮入腹也。舌焦卷，謂舌苔乾焦而卷也。便硬，謂大便硬，尚可任攻，宜大承氣湯。四逆，謂四肢厥冷也。不分，謂寒熱之厥，疑似不分也。宜四逆散，疏達厥陰。其厥不回，再審寒熱可也。或咳加生薑、五味子。下利亦加，故曰同也。心下悸加桂枝，腹痛加附子，瀉利下重加薤白，秘尿不利加茯苓。詳少陰厥陰篇。</p>

<h2>少陰厥陰外熱裡寒脈證</h2>
<p>少陰裡寒外熱證，面赤身反不惡寒，厥利清穀脈微絕，通脈四逆主之先，利止參加脈不出，蔥入面色赤炎炎，腹痛加芍咽桔梗，嘔加聖藥用姜鮮。</p>
<p>【注】少陰裡寒外熱之證，面赤不惡寒，格陽外熱也。四肢厥冷，下利清穀，脈微欲絕，陰極裡寒也，宜通脈四逆湯主之。服四逆湯下利止，脈仍不出加人參，面色赤者加蔥，腹痛加芍藥，咽痛加桔梗，嘔加生薑。詳少陰篇。</p>

<h2>兩感</h2>
<p>一日太陽少陰病，頭痛口乾渴而煩。二日陽明太陰病，滿不欲食身熱譫。三日少陽厥陰病，耳聾囊縮厥逆寒，水漿不入神昏冒，六日氣盡命難全。</p>
<p>【注】兩感者，臟腑表裡同病也。一日，頭痛、太陽也；口乾煩渴、少陰也。二日，身熱譫語、陽明也；腹滿不欲食、太陰也。三日，耳聾、少陽也；囊縮而厥、厥陰也。傳經之邪其為病也漸，兩感之邪其為病也速。蓋因陽邪酷烈，正不能御，所以三日後水漿不入，六腑之氣欲絕，昏不知人，五臟之神已敗，而不即死者，賴有胃氣未盡耳，故又三日其氣乃盡而死。張潔古制大羌活湯，以羌、獨、芩、連輩，辛甘以散太陽之表，苦寒以清少陰之熱，施之於表裡不急者，固為得法也。若夫一日則頭痛口乾煩渴，二日則身熱譫語腹滿不欲食，三日則耳聾囊縮而厥，水漿不入，昏不知人，傳變如此迅速，恐用大羌活湯平緩之劑，反失機宜，當遵仲景治有先後之說，審其表裡孰急，隨證治之，猶或可活。故於此證初病，一日表里俱熱者，依少陰病得之二、三日，口燥咽乾之法，用大承氣湯重劑以瀉陽邪之烈；表裡俱寒者，依少陰病始得之，反發熱脈沉之法，用麻黃附子細辛湯，以解陰邪之急。二日表里俱實者，依陽明病譫語有潮熱，腹滿時減，減不足言之法，用大承氣湯攻之；表裡虛者，依三陽合病，腹滿身重，面垢譫語之法，用大劑白虎加人參湯清之。三日表裡熱者，依厥深熱亦深之法，用大承氣湯下之；表裡寒者。依脈微欲絕手足厥寒之法，用當歸四逆加吳茱萸生薑湯溫之。緩則不及事矣。其間頗有得生者，後之學者其留意焉。</p>

<h2>汗下失宜致變壞證</h2>
<p>太陽三日已發汗，若吐若下若溫針，不解致逆成壞證，觀其脈證犯何經，難辨陰陽六經證，重困垂危莫可憑，惟用獨參煎冷服，鼻上津津有汗生。</p>
<p>【注】太陽病三日，已發汗不解，若吐、若下、著溫針，苟或相當即成解證。如其不當，不但病不解，或因而致逆變成壞怔，當觀其脈證，知犯何經之逆。如汗後亡陽、渴躁譫語，下後寒中、結胸痞硬，吐後內煩腹滿，溫針後黃、衄、驚、狂之類，隨證治之可也。甚或脈微欲絕，神昏不能言，循衣摸床，叉手冒心等、重困垂危，難辨陰陽，六經莫可憑之怔。此時此際，惟用人參煎湯，徐徐冷服，以待其機。倘得鼻上津津有汗，則為可生之兆也。</p>

<h2>表證</h2>
<p>表證宜汗太陽經，無汗發熱惡寒風，頭項強痛身體痛，若出自汗表虛明。</p>
<p>【注】表證，謂寒邪在表，無汗發熱，惡寒惡風，頭項強痛，身體痛也。太陽經主表，故曰表證。有是證無汗者，皆屬表實。雖有是證，若自汗出者，皆屬表虛，未可輕汗，即有風邪，只宜桂枝湯解肌可也。表實無汗，重者麻黃湯主之。輕者麻桂各半湯主之。時有汗時無汗者，桂枝二麻黃一湯主之，表實躁熱甚者，三黃石膏湯主之。微者，大青龍湯主之。不躁有熱者，桂枝二越婢一湯主之。以上表證，不必悉具，亦不論日之多寡，但見有頭痛惡寒一、二證，即為表未罷，雖有里證，當先解表。表解已，乃可攻之，臨證者不可不詳辨也。詳太陽篇。</p>

<h2>里證</h2>
<p>里證宜下不大便，惡熱潮熱汗蒸蒸，燥干譫語滿硬痛，便溏為虛不可攻。</p>
<p>【注】里證，謂熱邪內結，不大便，惡熱潮熱，自汗蒸蒸，口燥舌乾譫語，腹滿硬痛也。陽明腑主裡，故曰里證。裡實者，有脾約，有胃實，有大便難，三者均為可下之證，然不無輕重之別。三承氣湯、脾約丸，量其可者而與之，庶乎無過也。若便溏為裡虛，即有是證不可攻也。論中有急下數證，不待便實而下之者，是下其熱也，非下其結也。義詳陽明、少陰篇。</p>

<h2>陽證</h2>
<p>陽證身輕氣高熱，目睛了了面唇紅，熱煩口燥舌乾渴，指甲紅兮小便同。</p>
<p>【注】陽證，謂陽熱之證也。不論三陰、三陽，凡見是證者，均為陽熱有餘也，陽主動，故身輕也。陽氣盛，故氣高而喘也。陽主熱，故口鼻氣熱也，陽主寤，故目睛了了而不眠也。目睛不了了，亦有熱極朦隴似不了了，然必目赤多眵，非若陰證之不了了而神短無光也。陽氣熱，故身熱，面唇紅，指甲紅也。陽熱入里，故心煩，口燥，舌乾而渴，小便紅也。表實者，三黃石膏湯發之。裡實者，三承氣湯下之，表裡不實而熱盛者，白虎解毒等湯清之可也，詳三陽篇。</p>

<h2>陰證</h2>
<p>陰證身重息短冷，目不了了色不紅，無熱欲臥厥吐利，小便白兮爪甲青。</p>
<p>【注】陰證，謂陰寒之證也。不論三陰、三陽，凡見是證者，均為陰寒不足也。陰主靜，故身重也。陰主寐，故目不了了但欲臥也。陽氣虛寒，故息短口鼻氣冷也，陰淫於外，故面無紅色，四肢厥冷爪甲青也。陰邪入內，故嘔吐，下利清穀，小便清白也。以上皆三陰寒證，臨證者以附子、四逆、理中、吳茱萸等湯，擇其宜而與之可也。詳三陰篇。</p>

<h2>陽盛格陰</h2>
<p>陽盛格陰身肢厥，惡熱煩渴大便難，沉滑爪赤小便赤，汗下清宜陰自完。</p>
<p>【注】經曰：陽氣太盛，陰氣不得相營也。不相營者，不相入也。既不相入，則格陰於外，故曰陽盛格陰也。其外證雖身肢厥冷，頗似陰寒，而內則煩渴，大便難，小便赤，惡熱不欲近衣，爪甲赤，脈沉滑，一派陽實熱證。汗下清三法得宜，則陽得以消，陰得以完全也。表實無汗，三黃石膏湯。裡實不便，三承氣湯。熱盛無表裡證，宜解毒白虎湯。</p>
<p>【集註】劉完素曰：蓄熱內甚，脈須疾數，以其極熱蓄甚而脈道不利，反致脈沉細欲絕，俗未明造化之理。反謂傳為寒極陰毒者，或始得之，陽熱暴甚，而便有此證候者，或兩感熱甚者，通宜解毒加大承氣湯下之。後熱稍退而未愈者，黃連解毒湯調之。或微熱未除者，涼膈散調之。或失下熱極，以至身冷脈微而昏冒將死，若急下之，則殘陰暴絕必死，蓋陽後竭而然也。不下亦死，宜涼膈散或黃連解毒湯，養陰退陽，積熱漸以消散，則心胸再暖而脈漸以生也。</p>

<h2>陰盛格陽</h2>
<p>陰盛格陽色淺赤，發熱不渴厥而煩，下利尿清爪青白，浮微通脈復陽還。</p>
<p>【注】經曰：陰氣太盛，陽氣不得相營也。不相營者，不相入也。既不相入，則格陽於外，故曰陰盛格陽也。色淺赤，謂面色見浮淺之紅赤色也。其外證面赤發熱而煩，頗類陽熱，其內則不渴，下利清穀，小便清白，爪甲青白，四肢厥冷，脈浮微欲絕，一派陰寒虛證。宜通脈四逆湯冷服之，從其陰而復其陽也。利止脈不出，加倍人參。下利無脈，宜白通加豬膽汁人尿湯。厥煩欲死，宜吳茱萸湯。</p>

<h2>陽毒</h2>
<p>陽毒熱極失汗下，舌卷焦黑鼻煤煙，昏噤發狂如見鬼，咽疼唾血赤云斑。六七日前尚可治，表裡俱實黑奴丸，熱盛解毒裡實下，表實三黃石膏煎。</p>
<p>【注】陽毒，謂陽熱至極之證也。失汗下，謂應汗不汗，應下不下，失其汗下之時也。熱毒炎炎不已，故舌卷焦黑，鼻內生煤煙也。熱毒內攻乘心，故神昏噤慄，發狂如見鬼神，咽疼唾血也。熱毒外薄肌膚，故發赤色如錦云之斑也。六、七日前，謂日淺毒未深入，故尚可治。表裡俱實，謂有是證，無汗不大便者，宜黑奴丸兩解之。無表裡實證熱盛者，宜黃連解毒湯。兼燥渴者，合白虎湯清之。裡實不便者，宜解毒承氣湯下之，表實無汗者，宜三黃石膏湯發之。</p>

<h2>陰毒</h2>
<p>陰毒寒極色青黑，咽痛通身厥冷寒，重強身疼如被杖，腹中絞痛若石堅，或嘔或利或煩躁，或出冷汗溫補先，無汗還陽退陰汗，急灸氣海及關元。</p>
<p>【注】陰毒，謂陰寒至極之證也。血脈受陰毒邪，故面色青黑也。陰毒內攻於裡，故咽痛腹中絞痛也。陰毒外攻於表，故厥冷通身，重強疼痛如被杖也，獨陰無陽不化，故陰凝腹若石之堅硬也。或嘔吐、或下利，或煩躁、或冷汗出，皆陽虛不足或有之證，均以溫補為先，宜四逆湯倍加人參。若有是證，其人無汗，宜還陽散、退陰散，溫而汗之，使寒毒散而陽伸也。凡遇此證，俱宜急灸氣海、關元二、三百壯，隨服藥餌，未有不生者也。</p>

<h1>卷二</h1>

<h2>表熱裡熱陰熱陽熱</h2>
<p>發熱無時熱翕翕，炊籠騰越熱蒸蒸，表熱尿白裡熱赤，外需麻桂內涼承，燥干煩渴為陽熱，厥利外熱屬陰經，陽熱宜清白虎輩，陰熱四逆與白通。</p>
<p>【注】發熱無時熱翕翕，謂發熱無休止之時，若合羽外覆之表熱也。炊籠騰越熱蒸蒸，謂發熱如炊籠蒸蒸內越之裡熱也。表熱，熱不在裡，故尿白也；裡熱，故尿赤也。外需麻桂，謂表熱無汗宜麻黃湯，有汗宜桂枝湯。內涼承，謂裡熱輕者宜涼膈散，重者宜三承氣湯。發熱兼口燥、舌乾、煩渴者，為陽經之熱也，發熱兼厥冷、下利清穀者，屬陰經之熱也。陽熱宜清，白虎解毒輩也。陰熱宜溫，四逆白通湯也。</p>
<p>【注】翕翕、蒸蒸發熱，俱有汗，二證相類。若以翕翕之表熱，誤為蒸蒸之裡熱，下之則逆；若以蒸蒸裡熱，誤為翕翕表熱，汗之轉傷。翕翕之汗熱雖同蒸蒸，捫之自溫，不似蒸蒸之汗熱、捫之自有熱氣透手也。其間或有疑似難辨，又當審小便之白赤，舌苔之潤燥，自可決也。</p>

<h2>惡寒背惡寒辨</h2>
<p>惡寒表裡陰陽辨，發熱有汗表為虛，發熱無汗表實證，實以麻黃虛桂枝。無熱惡寒發陰里，桂枝加附頗相宜，背寒口和陰附子，口燥渴陽白虎需。</p>
<p>【注】惡寒一證，有表裡、陰陽之辨。發熱惡寒發於陽表也，有汗宜桂枝湯，無汗宜麻黃湯。無熱惡寒發於陰里也，有汗宜桂枝加附子湯，無汗宜麻黃附子細辛湯。背惡寒口和，謂口中不燥而和也；陰，謂屬少陰也，宜附子湯。背惡寒口燥渴，謂口中燥而渴也；陽，謂屬陽明也，宜白虎加人參湯。</p>
<p>【注】陰陽二經，惡寒雖同，其身有熱無熱則異也，一則汗之，二則溫之。少陰、陽明之背惡寒雖同，其口中和、口中不和則異也，一則溫之，一則清之。惡寒雖屬輕微之證，仲景立法可辨，他可類推矣。</p>

<h2>惡風</h2>
<p>風寒相因相離少，三陽俱有惡寒風，惡風屬陽法從表，三陰惡寒無惡風。</p>
<p>【注】風寒二者，大率多相因而少相離，有寒時不皆無風，有風時不皆無寒，故三陽俱有惡寒惡風同見也。惡風與惡寒均表病也，法當從表；然風屬陽、寒屬陰，故三陰經證有惡寒而無惡風也。</p>

<h2>頭痛</h2>
<p>三陽頭痛身皆熱，無熱吐沫厥陰經，不便尿紅當議下，尿白猶屬表未清。</p>
<p>【注】三陽，謂太陽、陽明、少陽也。頭痛身皆熱，謂三陽頭痛身皆熱也。三陽經頭痛，法當從三陽治也。厥陰頭痛，則多厥而無熱，嘔吐涎沫，是厥陰挾寒邪上逆也，宜吳茱萸湯溫而降之。三陽頭痛，若不大便，小便紅赤，為裡實熱，法當議下，宜承氣湯。若小便清白，即不大便，為裡熱未實，表尚未清，法當先從表治也。三陰經無頭痛，惟厥陰有頭痛，以其脈與督脈上會於巔也。三陰經無發熱，厥陰少陰亦有發熱，謂之反發熱，以其藏有相火，陰盛格陽於外也。</p>

<h2>項強</h2>
<p>項背几几強太陽，脈浮無汗葛根湯，有汗桂枝添葛入，脈沉栝蔞桂枝方。結胸項強如柔痙，大陷胸丸下必康。但見少陽休汗下，柴胡去半入蔞良。</p>
<p>【注】項強，太陽病也。項背強，太陽、陽明病也。幾兒，拘強而甚之貌也。脈浮屬二陽之表脈也。若無汗是從傷寒傳來，宜葛根湯；有汗是從中風傳來，宜桂枝加葛根湯。脈沉，謂邪已入胸裡也，宜栝萎桂枝湯。結胸，謂結胸病也，項強如柔痙，謂項強背反張，有汗如柔痙之狀也，宜大陷胸丸。但見少陽，謂太陽、少陽並病之項強。休汗下，謂邪入少陽，不可更汗下也，宜柴胡湯去半夏加栝萎主之。良，好也。栝蔞桂枝湯方在《金匱要略》。</p>

<h2>身痛</h2>
<p>身痛未汗表實證，汗後身疼屬表虛；桂加生薑參芍藥，尺遲血少建中耆，少陰沉厥附子治，厥陰汗利四逆醫，風濕盡痛難轉側，掣引煩疼桂附宜。</p>
<p>【注】身痛，未汗屬表實證，宜麻黃湯。汗後身疼，屬表虛證，宜桂枝新加湯，即桂枝湯倍生薑、芍藥加人參也。曰桂加，即桂枝湯加此也。尺遲血少建中耆，謂身痛尺中脈遲，是血少營氣不足也，雖未經汗，不可發汗，宜建中湯加黃耆以補營血也。少陰，謂身痛見少陰沉脈，四肢厥冷也。附子治，謂宜附子湯治也。厥陰，謂身痛見厥陰厥逆，汗出不止，下利清穀也。四逆醫，謂以四逆湯醫也。風濕，謂風濕身痛也。盡痛難轉側，是濕則令人一身盡痛不能轉側。掣引煩疼，是風則令人筋脈牽引，煩疼不寧也。桂附宜，謂宜以桂枝附子湯也。</p>

<h2>煩躁不眠懊憹</h2>
<p>躁身不靜煩心擾，不躁難眠作熱觀，懊憹煩甚無冷病，惟躁陰陽表裡看。諸煩無論三法後，便軟梔竹等湯煎，便硬白虎三承氣，躁同陰見便屬寒。</p>
<p>【注】身為熱動而不安謂之躁，心為熱擾而不寧謂之煩。煩則擾於內，躁則動於外，故有心煩而無身煩，有身躁而無心躁也。大抵煩屬陽，躁屬陰。若懊憹心中反復顛倒，煩不得眠，不與躁同見者，皆無冷病。當作熱觀也。惟躁則不然，當分表裡陰陽取治。故太陽有不汗出而煩躁，謂之在表，大青龍證也。陽明有心下硬之煩躁，謂之在陽，白虎湯證也，三陰有吐利手足厥之煩躁，謂之在陰，四逆輩證也。諸煩，謂煩不眠懊憹也。無論三法後，謂不論已經、未經汗、吐、下三法之前後也。但大便不硬者，以竹葉石膏、溫膽、梔子豉等湯主治可也。便硬者，量其熱之深淺，以白虎、三承氣湯主治可也。躁同陰見，謂躁同三陰證見，便屬陰寒之躁，宜四逆、理中、吳茱萸湯主治可也。</p>

<h2>自汗頭汗</h2>
<p>自汗熱越多急下，更兼熱利不休凶，頭汗熱蒸不得越，黃濕水火血皆成。</p>
<p>【注】自汗在太陽，謂之風邪，桂枝湯證也。在陽明，謂之熱越，白虎湯證也。若大熱蒸蒸汗出過多，則宜調胃承氣湯，急下其熱，救其津也。若更兼發熱下利不休，內外兩脫，故凶也。頭汗出，劑頸而還，則為熱不得外越，上蒸於首也。或因黃郁未發，或因濕家誤下，或因水結胸蒸，或因火劫熱迫，或因陽明蓄血，或因熱入血室，皆令成之，則當分門施治可也。</p>

<h2>手足汗</h2>
<p>手足濈濈然汗出，便硬尿利本當攻，寒中汗冷尿不利，攻之固瘕瀉澄清。</p>
<p>【注】胃主四肢為津液之主，今熱聚於胃，蒸其津液，傍達於四肢，故手足濈濈然汗出，且小便自利，胃中津液必干，大便必硬，本當攻也。若中寒胃陽土虛，脾不約束，津液橫溢，四肢猶如陰盛淫雨滂沱，故汗出而冷也。陽虛失運，中寒不化，故小便不利也。今雖便硬而手足汗出，非為熱越者比，慎不可攻，攻之必變生，固瘕泄瀉澄清不止也。</p>

<h2>潮熱、時熱</h2>
<p>午後一發為潮熱，無休發熱汗蒸蒸，時熱自汗無里證，先時與藥桂枝稱。</p>
<p>【注】潮熱，陽明腑證也。陽明旺於申酉，故潮熱發於午後，如潮信之不失，因名之曰潮熱，可下之證也。無休發熱汗蒸蒸，謂發熱無休止之時，熱氣透手溱漆有汗，名曰蒸蒸發熱，亦屬陽明內實，可下之證也。時熱自汗者，謂發熱時輕時重而有自汗也，似潮熱而次數，似蒸蒸而休止。潮熱蒸蒸之熱，則必兼有可下之證。時熱時止之熱，則必不兼可下之證，故曰：無里證也。因其無里證，熱而有汗，知風邪留連在表不已，故用桂枝主治。然必先其發熱汗出之時與桂枝湯也，蓋桂枝不為時熱自汗者設，而為時熱自汗有表無里證者設也。此處重在無里證，非謂凡有時熱自汗，皆可服桂枝湯也。</p>

<h2>譫語、鄭聲</h2>
<p>譫語為實聲長壯，亂言無次數更端，鄭聲為虛音短細，頻言重複更呢喃。同陽經見均屬熱，同陰經見總為寒。陽無可攻當清解，陰不能溫清補痊。</p>
<p>【注】言語心主之也。心氣實熱而神有餘，則發為譫語。譫語為實，故聲長而壯，亂言無次數數更端也。心氣虛熱而神不足，則發為鄭聲。鄭聲為虛，故音短而細，只將一言重複呢喃也。蓋神有餘，則能機變而亂言。神不足，則無機變而只守一聲也。凡譫語、鄭聲與陽經同見者，均屬熱證，可以攻之；與陰經同見者，總為寒證，可以溫之。若雖與陽經同見，而無可攻之證，不可攻之，當清解也；與陰經同見而無可溫之證，不可溫之，當清補也。</p>

<h2>渴證</h2>
<p>三法傷津胃燥干，陽往乘陰渴亦然，渴欲飲水少少與，莫使停留飲病干。太陽五苓尿不利，陽明白虎飲連連，少陽證具心煩渴，小柴去半粉加添。</p>
<p>【注】渴病，多因或汗、或吐、或下三法傷其津液，致令胃中乾燥，故引飲也。陽邪往乘三陰，太陰則嗌乾，少陰則口燥，厥陰則消渴。渴在三陰，陽邪亦屬熱傷津液，故曰渴亦然也。三陰之渴，治法詳於三陰經內。凡渴欲飲水者，當少少與之，以滋胃干，胃和則愈，若恣意與飲之，不但渴不能愈，致水停留為病也。太陽之渴用五苓散者，以水停下焦，小便不利故也。陽明之渴用白虎者，以胃熱飲水連連不已也。少陽寒熱往來等證已具，心煩渴者，用小柴胡湯以和解，去半夏以避燥，加花粉以生津液也。</p>

<h2>舌苔</h2>
<p>舌心外候本澤紅，紅深赤色熱為輕，外紅內紫為熱重，滑白寒表少陽經，沉遲細緊臟寒結，干薄氣液兩虛空，黃黑苔潤裡熱淺，焦乾刺裂熱深明，黑滑若與三陰見，水來剋火百無生。</p>
<p>【注】舌者心之外候，色應紅澤為無病也。若初感內外紅深，則為有熱。外紅內紫，則為熱甚。舌苔滑白，則為表寒。其苔漸厚，則為傳少陽經也。熱者宜辛涼汗之，寒者宜辛溫汗之。在少陽者為胸中有寒，丹田有熱也，小柴胡湯兩解之。胸中指表也，淺也；丹田指里也，深也。非直指胸中丹田，謂半里之熱未成，半表之寒猶在。故舌白一證，有寒有熱也，若其苔滑厚與陰證脈同見，乃臟虛寒結，以理中加枳實溫而開之。若其苔干薄與陽證同見，乃氣虛液竭，以白虎加人參清而補之。若白苔漸變黃色，此為去表入里，其熱尚淺，表不罷者，宜三黃石膏湯；已入里者，涼膈散，如焦乾黑色，或芒刺裂紋，此為裡熱已深，宜梔子金花湯。兼滿痛者，大承氣湯。紅，火色也；黑，水色也。與三陽證見，為熱極反兼勝已之化，清之下之，尚可治也。若與三陰證見，則為水來剋火，百無一生。治者以生薑擦之，其黑色稍退，急用附子理中、四逆輩救之可生。</p>

<h2>胸脅滿痛</h2>
<p>邪氣傳裡必先胸，由胸及脅少陽經。太陽脈浮惟胸滿，過經不解有陽明。乾嘔潮熱胸脅滿，大柴加硝兩解行。心腹引脅硬滿痛，乾嘔尿秘十棗攻。</p>
<p>【注】邪氣傳裡必先自胸，若脈浮惟胸滿而不及脅者，仍屬太陽表分也，宜麻黃湯。因胸及脅而皆滿者，屬少陽經也，宜小柴胡湯。若十餘日不解，而胸脅滿，兼乾嘔潮熱者，是少陽兼有陽明也，宜大柴胡湯加芒硝兩解之。若表已解，心下及腹引脅、滿硬而痛，乾嘔小便不利者，是停飲內實也，宜十棗湯攻之。</p>

<h2>嘔吐</h2>
<p>嘔病因何屬少陽？表入里拒故為殃，太陽之嘔表不解，食谷欲嘔在胃陽，太陰有吐而無嘔，厥陰涎沫吐蛔長，少陰嘔利有水氣，飲嘔相因是水鄉。</p>
<p>【注】嘔病諸經皆有，因何屬少陽也？因表邪入里，裡氣拒格，上逆作嘔，故為殃屬少陽也，宜小柴胡湯。心下硬而煩，或不大便，宜大柴胡湯，表不解之嘔屬太陽也，宜柴桂湯。食谷欲嘔，屬胃陽，胃陽，陽明也。屬中寒，宜吳茱萸湯。得湯更嘔屬表熱，宜葛根加半夏湯，嘔吐涎沫，或嘔吐蛔，屬厥陰也，宜吳茱萸湯。吐蛔者，宜烏梅丸。嘔而下利，是有水氣，屬少陰也，宜真武湯。飲而嘔，嘔而飲，飲嘔相因不已，是停水也，宜五苓散。</p>

<h2>往來寒熱如瘧寒熱</h2>
<p>往來寒熱少陽證，寒熱相因小柴胡，如瘧寒熱三五發，太陽麻桂等湯除。</p>
<p>【注】寒而熱，熱而寒，寒熱相因不已，故名曰往來寒熱，為少陽主證，宜小柴胡湯。寒熱而有作止之常，一日一次，或隔日一次，謂之瘧，屬雜病也。寒熱而無作止之常，日三、五發，謂之如瘧，屬太陽經未盡之表邪也，宜麻桂各半湯。若熱多寒少，宜桂枝二越婢一湯。若有汗，宜桂枝二麻黃一湯。若無汗，亦宜麻桂各半湯。此皆治太陽未盡之微邪法也。</p>

<h2>目眩耳聾</h2>
<p>少陽目眩神自正，諸逆昏亂不能生，重蠍耳聾濕溫汗，不語面色變身青。</p>
<p>【注】目眩者，目黑不明也。耳聾者，耳無所聞也。皆少陽經主證，非死候也。其目之明，其耳之聰，神自完整。若因三法失宜，致諸變逆壞證，目眩而神昏言亂，乃神散氣脫之候，故曰不能生也。若因誤發濕溫家汗而不能言語，耳聾無聞，身青面色變者，名曰重暍，亦死證也。</p>

<h2>腹滿痛</h2>
<p>腹滿時痛不足證，腹滿大痛有餘名。誤下邪陷太陰里，汗熱便硬轉陽明。</p>
<p>【注】腹滿時痛為不足，桂枝加芍藥湯，不愈，用理中湯。腹滿大痛為有餘，桂枝加大黃湯。此皆誤下邪陷太陰之裡證也。若潮熱自汗，大便硬，則為太陰之邪轉屬陽明也，宜大承氣湯。</p>

<h2>吐證</h2>
<p>中寒吐食不能食，不渴而厥吐寒虛，得食吐渴火為逆，飲吐相因水病居。</p>
<p>【注】中寒吐食，謂中寒吐食不能食也。凡不渴而厥吐，是寒虛吐也，宜理中、吳茱萸輩。凡渴而得食即吐，是火吐也，熱實宜黃連解毒湯。熱虛宜乾薑黃連黃芩湯，或竹葉石膏湯。渴而飲，飲而吐，吐而復渴，水逆病也，宜五苓散。</p>

<h2>熱利寒利</h2>
<p>熱利尿紅渴黏穢，寒利澄清小便白，理中不應宜固澀，仍然不應利之瘥。</p>
<p>【注】自利不渴者，屬太陰寒也。下利慾飲水者，以有熱故也。此以渴辨寒熱也。小便黃赤，穢氣稠黏者，皆熱利也。小便清白，澄徹清穀，皆寒利也。熱利有表證，輕者升麻葛根湯，重者葛根湯汗之。有里證者，量以三承氣湯下之。無表裡證，輕者宜黃芩湯，重者宜葛根黃連黃芩湯清之。寒利宜理中湯溫而補之。若服理中湯不應者，此屬下焦滑脫，宜赤石脂禹餘糧湯固澀。仍然不應，此為清濁不分，水走大腸，宜五苓散或豬苓湯利之，可瘥也。</p>

<h2>但欲寐</h2>
<p>行陰嗜臥無表裡，呼醒復睡不須驚，風溫脈浮熱汗出，多眠身重息鼾鳴。</p>
<p>【注】行陰欲寐嗜臥，少陰證也。若欲寐嗜臥無表裡證，身和脈小，知已解也。然解後之睡，呼之則醒，醒而又睡，是陰氣來復，非陰盛困陽，不須驚也。風溫亦欲寐多眠，則有脈浮發熱，汗出身重，鼻息鼾鳴之別也。</p>

<h2>陰陽咽痛</h2>
<p>咽痛干腫為陽熱，不幹不腫屬陰寒，陽用甘桔等湯治，陰用甘桔附姜攢。</p>
<p>【注】咽痛一證，寒熱皆有。咽乾腫痛，為三陽熱證，宜甘桔、半夏、苦酒、豬膚等湯調治。不幹不腫而痛，為三陰寒證，宜四逆湯加桔梗主治也。</p>

<h2>氣上衝</h2>
<p>氣撞吐蛔厥陰本，無蛔陽表桂枝湯，少腹急引燒褌散，沖喉難息瓜蒂良。</p>
<p>【注】氣撞吐蛔，謂厥陰本證也。無蛔，謂氣撞不吐蛔，乃邪猶在陽表也，宜桂枝湯。少腹急引，謂氣上衝，更少腹引陰急痛，乃陰陽易病也，宜燒褌散。沖喉難息，謂氣上衝喉，胸滿難以布息，乃寒實在胸也，宜瓜蒂散。</p>

<h2>飢不欲食</h2>
<p>飢不欲食吐蛔厥，下後不食屬陽明，懊憹頭汗梔子豉，厥緊心煩邪在胸。</p>
<p>【注】飢不欲食吐蛔厥，謂厥陰本證也。下後飢不能食屬陽明也。陽明病則懊憹，心中煩甚，頭上汗出，是熱在胃中，宜梔子豉湯湧之。厥陰病則吐蛔、厥逆、脈微，今不微而緊更心煩者，非寒虛邪，是寒實邪，而在胸中，宜瓜蒂散吐之。</p>

<h2>手足厥逆</h2>
<p>太陰手足溫無厥，少陰厥冷不能溫，厥陰寒厥分微甚，熱厥相因辨淺深。</p>
<p>【注】太陰經無厥逆，而有手足自溫。少陰經有寒厥，而無熱厥。厥陰經有寒、熱二厥。寒厥者，只寒而不熱也。熱厥者，由熱而厥，由厥而熱，熱厥相因無休歇也。當辨陰陽淺深，以當歸四逆、承氣等湯施治可也。詳厥陰篇。</p>

<h2>少腹滿痛</h2>
<p>少腹滿而按之痛，厥逆尿白冷膀胱，不厥血蓄小便利，小便不利水為殃。</p>
<p>【注】少腹滿按之痛，若四肢厥冷，小便清白者，是冷結膀胱，宜當歸四逆加吳茱萸生薑湯。不厥冷，小便自利者，是血蓄膀胱，宜桃仁承氣湯。小便不利者，是水蓄膀胱，宜五苓散，若大小便不利者，是水熱蓄結，宜八正散。</p>

<h2>神昏狂亂蓄血發狂</h2>
<p>神昏胃熱重陽狂，三黃三承白解湯。蓄血發狂小便利，少腹硬痛屬太陽，陽明蓄血大便黑，其人如狂而喜忘，桃仁承氣抵當治，須識作汗奄然狂。</p>
<p>【注】神昏胃熱，謂神昏是胃經熱極乘心也。重陽狂，謂熱入於陽則狂亂也。三黃，謂三黃石膏湯，治神昏狂亂表實無汗者也。三承，謂三承氣湯，治神昏狂亂裡實不便者也。白解湯，謂白虎解毒湯，治神昏狂亂，無表裡證而熱極者也。太陽蓄血發狂，則少腹硬痛，小便自利。若小便不利，是水熱蓄也，非血蓄也。陽明血蓄如狂，則喜忘大便黑，若大便不黑，是熱極也，非血蓄也。蓄血輕者，桃仁承氣湯，重者抵當湯，擇而用之可也。然發狂證，亦有陽盛陰虛之人，作汗將解之時，奄然發狂，濈然汗出而解者，當須識之，不可以藥也。</p>

<h2>循衣摸床</h2>
<p>循衣摸床有二因，太陽火劫熱傷陰，小便利生不利死，陽明熱極熱彌深，皆緣三法失成壞，脈實堪下弱難禁，虛實陰陽難辨處，獨參六味可回春。</p>
<p>【注】循衣摸床，危惡之證也。一因太陽火劫取汗，致陽盛傷陰。陰若末竭，則小便利，多生；陰若已竭，則小便難，多死。一因陽明熱極，汗、吐、下三法失宜，致成壞證。其熱彌深，脈實者，堪下則可治；脈弱者，不堪下則難治。此已成危惡壞證，往往陰陽虛實，醫莫能辨，無下手處，當以大劑獨參、六味、乾生地黃湯，時時與之，每獲生也。</p>

<h2>太陽陽邪停飲</h2>
<p>太陽陽邪有水逆，消渴發熱汗出煩，小便不利水入吐，脈浮而數五苓攢。</p>
<p>【注】太陽陽邪，有水逆消渴之病，謂太陽中風，有渴欲飲水，水入即吐者，名曰水逆；飲水多而小便少者，名曰消渴。發熱汗出，風邪出。煩，熱也。小便不利，水入則吐，飲停也。浮數，風熱脈也。均宜五苓散，多服暖水，令微汗出，外解太陽，內利停水則愈。若不能飲暖水，欲飲冷水者，是熱盛也，以五苓散加寒水石、石膏、滑石可也。詳太陽上篇。</p>

<h2>太陽陰邪停飲</h2>
<p>太陽陰邪有水氣，傷寒無汗熱烘烘，主證乾嘔咳微喘，外發內散小青龍，小便不利少腹滿，下利除麻共入苓，噎麻易附喘加杏，渴加花粉減半平。</p>
<p>【注】太陽陰邪有水氣，謂太陽傷寒表不解，發熱無汗，兼有乾嘔而咳微喘，飲病之主證，宜以小青龍湯，外發寒邪，內散寒飲，則可愈也。或小便不利少腹滿，或下利，或噎、或喘、或渴，此飲病或有之證，亦以小青龍湯主之。小便不利，少腹滿，是水停下焦，大便下利，是水走大腸，俱除麻黃，共入茯苓，專滲利也。噎為內寒之甚，以麻黃易附子，散內寒也。喘氣上逆，加杏仁以降逆也。渴加花粉，減去半夏，以避燥生津也。詳太陽下篇。</p>

<h2>少陰陽邪停飲</h2>
<p>少陰陽邪有停飲，六七日反不得眠，下利而渴咳而嘔，小便不利豬苓煎。</p>
<p>【注】少陰陽邪有停飲，謂少陰陽邪熱證，兼有停飲病也。少陰病當欲寐，至六、七日反心煩不得眠，是少陰熱也，下利而渴，咳嘔，小便不利，是水飲停也。以豬苓湯去其熱而利其水可也。詳少陰篇。</p>

<h2>少陰陰邪停飲</h2>
<p>少陰陰邪有水氣，腹痛四肢重沉疼，小便不利自下利，或咳或嘔真武平。咳加乾薑辛味共，小便若利去茯苓，嘔去附子生薑倍，利去芍藥入干寧。</p>
<p>【注】少陰陰邪有水氣，謂少陰陰寒兼有水氣病也，飲病主證，謂腹痛，四肢沉重疼痛，大便自利、小便不利，宜真武湯溫中利水也。飲病或有之證，或咳，或小便利，或嘔，或下利。咳加生薑、細辛、五味子。小便若利去茯苓。嘔，去附子倍加生薑。利，去芍藥入乾薑也。</p>

<h2>喘急短氣</h2>
<p>喘息喝喝數張口，短氣似喘不抬肩，促難布息為實證，短不續息作虛觀，內因飲病或痰熱，外因陰陽表裡看，直視神昏汗潤髮，脈微肢厥命難全。</p>
<p>【注】喘息，氣急喝喝而數張口、抬肩、欠肚者，喘也。短氣，則似喘非喘，而不張口抬肩也。二證皆胸中氣病。肺主氣，故屬肺也。無論喘急、短氣，若氣促壅塞不能布息，為有餘之實證。若氣短空乏不能續息，為不足之虛證。內因，謂飲冷傷肺，或因痰熱也。外因，謂形寒傷表，表主皮毛，肺之合也。皮毛受邪，其次及膚、及肌、及胸、及腹入胃，皆令病喘，當審陰陽表裡，從化主治可也。喘急、短氣，兼直視神昏，汗出潤髮，脈微四肢厥冷，皆死候也。與三陰寒證同見，是為陰喘，宜四逆加杏仁、五味子，虛者倍加人參。與三陽熱證同見，是為陽喘，宜白虎、葛根黃芩黃連湯。與太陽表證同見，是為表喘，無汗者麻黃湯，兼煩躁者大青龍湯；有汗者桂枝加厚朴杏子湯。與陽明裡證同見，是為里喘，宜大承氣湯，兼結胸者，宜大陷胸丸。若兼水氣，表實者，小青龍湯；表虛者及小便不利，均宜五苓散加葶藶子。裡實者，宜葶藶大棗湯，兼腹脅硬痛者，宜十棗湯。裡寒者，宜真武湯。若脈微細，口鼻氣短喘乏。而無陰陽表裡證，此氣虛喘也，宜保元湯加五味子、杏仁。若喘而唾痰稠黏，喉間漉漉有聲，此痰喘也，重者宜瓜蒂散、礞石滾痰丸，輕者二陳加苦葶藶子、蘇子之類也。</p>

<h2>心下悸</h2>
<p>築築惕惕心動悸，怔怔仲仲不自安，飲多尿少為停水，厥冷汗後是虛寒。</p>
<p>【注】心下築築惕惕、怔怔忡忡，謂悸病之狀也。飲水多而小便少，水停心下之悸也，宜茯苓甘草湯，或五苓散。厥冷為寒，宜真武湯，汗後為虛，宜小建中湯。或不因汗後，是虛之甚也，宜炙甘草湯。</p>

<h2>戰振慄</h2>
<p>戰身聳動慄心㦗，振雖聳動比戰輕，故振責虛因無力，慄戰相交邪正爭，此證若生三法後，虛其中外逆而成，不逆因和而作解，正勝邪卻戰汗平。</p>
<p>【注】戰，謂身抖聳動也。慄，謂心內發㦗也。振，亦聳動，比之於戰則無力也。所以論中曰：振振者，皆責其虛也。慄，邪氣為之也。戰，正氣為之也。邪正相交故爭也。此證若生於汗、吐。下之後，是虛其中外而致逆也。若不致逆，邪因以衰，正因以和而作解，則為正勝邪卻，戰慄汗出而平也。</p>

<h2>呢逆噦噫</h2>
<p>呃逆今名䭇古名，不似噦噦胃裡聲，䭇聲格格連聲作，原夫臍下氣來沖，頗類暖噫情自異，均屬氣逆治能同。虛熱橘皮竹茹治，二便不利利之寧，氣不歸原宜都氣，寒虛丁萸附理中，痞硬下利生薑瀉，痞硬噫氣代赭功。</p>
<p>【注】今之名曰呃逆，即古之名曰䭇也。䭇者，氣噎結有聲也。世有以噦為呃逆者，蓋不知噦噦之聲，聲從胃裡出口，不似䭇之格格連聲，氣從臍下來自衝脈，出口作聲也。呃逆頗類噯氣噫氣。噯氣者，因飽食太急，比時作噯，轉食氣也。噫氣者，因過食傷食，越時作噫，食臭氣也，故曰情自異也。但均屬氣逆為病，故曰治能同也。呃逆之病，胃氣虛竭也。兼熱者，以橘皮竹茹湯加柿蒂主之。兼大便不利，以三承氣湯主之。兼小便不利，以二苓散湯主之。兼腎虛不能攝衝脈之氣歸原，以都氣湯加牛膝主之，兼寒虛，太陰手足溫，以丁萸理中湯主之，少陰手足厥，更加附子。兼痞硬下利，以生薑瀉心湯主之。兼痞硬噫氣，以旋覆代赭石湯主之。</p>

<h2>結胸</h2>
<p>按之滿硬不痛痞，硬而滿痛為結胸，大結從心至少腹，小結心下按方疼。熱微頭汗為水結，漱水不咽血結名，瘀衄未盡經適斷，內實沉大審的攻，抵當桃仁大小陷，誤攻浮大命多傾，不實浮滑小陷證，臟結悉具躁煩凶。</p>
<p>【注】傷寒下之太早則成痞硬，中風下之太早則成結胸，均為表邪乘虛入里。硬滿按之而痛為結胸，實邪也。硬滿按之不痛為痞硬，虛邪也。大結，謂大結胸，從心下至少腹，硬滿而痛，手不可近者，宜大陷胸湯攻之。小結，謂小結胸，微結心下，按之方痛，不按不疼也，宜小陷胸湯開之。身有微熱，頭自汗出，兼有是證者，為水結胸也，宜大陷胸丸攻之。漱水不欲咽，兼有是證者，為血結胸也，血瘀不成衄解，或衄末盡，或婦人經來適斷，皆能成之，宜抵當丸，或桃仁承氣湯攻之。內實證實可攻也，沉大脈實可攻也，審其的當，則用抵當，桃仁承氣、大陷胸湯丸以攻之。審若不內實，脈浮滑或脈浮大是未的也，乃小陷胸證，不可攻也，誤攻之，定然凶也。臟結，謂狀如結胸，舌苔白滑，脈浮而細也。悉具，謂結胸通腹，兩脅皆硬滿痛也，此證加之煩躁，凶死可知。</p>

<h2>痞硬</h2>
<p>陽證痞硬為熱痞，大黃黃連瀉心寧，汗出惡寒寒熱痞，附子瀉心兩收功。誤下少陽發熱嘔，痞滿半夏瀉心能。虛熱水氣痞下利。心煩乾嘔腹雷鳴，虛熱水氣生薑瀉，痞急氣逆甘草靈。桂枝表解乃攻痞，五苓煩渴利尿通。</p>
<p>【注】傷寒下早則成痞硬，中風下早則成結胸，此其常也。然論中中風下早未嘗無痞硬，傷寒下早亦有結胸，大抵從虛化者多為痞硬，從實化者多結胸也。陽證心下痞硬為熱痞，宜大黃黃連瀉心湯。若陽證汗出惡寒，為寒熱痞，宜附子瀉心湯。誤下少陽發熱而嘔，心下痞滿，為嘔逆痞，宜半夏瀉心湯。陽證誤下，心下痞硬，下利，心煩乾嘔，腹中雷鳴，脅下有水氣，致小便不利，為虛熱水氣之痞，宜生薑瀉心湯。若有是證，脅下無水氣，其痞急益甚，為虛熱客氣上逆之痞，宜甘草瀉心湯。凡有痞者，有無汗惡寒之表，宜桂枝湯表解已，乃可以大黃黃連瀉心湯攻痞也。若有痞者，與瀉心湯，痞不解其人煩渴，小便不利，先以五苓散，小便利後，乃可與諸瀉心湯治痞也。</p>

<h2>發黃</h2>
<p>濕熱發黃頭汗出，小便不利渴陽明。素有寒濕發汗後，黃從陰化太陰經。陽色鮮明陰色暗，太陽血蓄並狂生。表實麻翹赤小豆，茵陳裡實梔子清。陰黃茵陳四逆主，便溏尿秘茵五苓。環口黛黑柔汗死，體若煙燻陽絕徵。</p>
<p>【注】陽明病應遍身有汗，謂之熱越。今頭汗出，身無汗，是熱不得越也。渴而引飲，小便不利，是停水也。熱與濕瘀，從土而化，外薄肌肉。謂之濕熱發黃也。或其人素有寒濕，為表邪遏郁，或已成黃，又經發汗，傳入太陰，從陰而化，謂之濕寒發黃也。陽明屬陽，故其色明亮。太陰屬陰，故其色晦暗也。太陽蓄血亦有發黃，多與狂病並生，法當從蓄血治也。表實無汗發黃者，宜麻黃連翹赤小豆湯汗之。裡實不便者，宜茵陳蒿湯下之。無表裡證熱盛者，宜梔子柏皮湯清之。陰證發黃者，宜茵陳四逆湯溫之。若大便溏，小便秘，發黃者，宜茵陳五苓散利之。環口黧黑柔汗者，陰黃死證也。柔汗、謂冷汗也。身體枯燥如煙燻者，陽黃死證也。</p>

<h2>疹斑</h2>
<p>傷寒疹斑失汗下，感而即出時氣然。表邪覆郁營衛分，外泛皮脈痧疹斑。痧白疹紅如膚粟，斑紅如豆片連連。紅輕赤重黑多死，淡紅稀暗是陰寒。未透升麻消毒治，熱盛三黃石膏煎，已透青黛消斑飲，雙解痧疹法同前。</p>
<p>【注】傷寒發斑、疹、痧，皆因汗下失宜，外邪覆郁，內熱泛出而成也。惟時氣傳染，感而即出，亦由疫之為病烈而速也。發於衛分則為痧，衛主氣，故色白如膚粟也。發於營分則為疹斑。營主血，故色紅膚淺為疹，深重為斑。斑形如豆，甚則成片連屬。斑疹之色紅者輕，赤者重，黑者死，此以熱之深淺驗死生也。若其色淡紅而稀暗者，皆因邪在三陽，已成斑疹入里，邪從陰化，或過服冷藥所致。是為陰斑、陰痧。陰疹，法當從陰寒主治也。斑出未透，表熱輕者，宜升麻葛根湯，合消毒犀角飲治之。表熱重者，宜三黃石膏湯發之。已透用青黛消斑飲，加減清之。痧疹初起，表裡不清，用雙解散先通表裡，余法同前治之可也。</p>

<h2>衄血</h2>
<p>陽明衄血熱在裡，太陽衄血熱瘀經，太陽頭痛目瞑兆，陽明漱水不咽徵。衄後身涼知作解，不解升麻犀角清。未衄表實麻黃汗，裡熱犀角芩連同。</p>
<p>【注】陽明衄血熱在裡也。太陽衄血熱瘀經也。太陽失汗則有頭痛目瞑之兆，陽明失下則有漱水不欲咽之徵。衄血之後，身涼脈靜，知作解也，若仍不解，知衄未盡，熱留於營也。無汗表熱，宜升麻葛根合犀角地黃湯清解之；欲作衄未衄者，表實宜麻黃湯汗之，裡熱宜犀角地黃湯加芩、連清之。若表實裡熱者，則又當合二方兩解之。</p>

<h2>吐血</h2>
<p>傷寒吐血多因逆，下厥上竭少陰經，三陽熱盛宜清解，血瘀胸滿痛當攻，暴吐腐臭內潰死，過多血脫面無紅，犀角桃仁宜揀用，救脫聖愈及養榮。</p>
<p>【注】傷寒吐血，皆因失汗、失下、火逆，以致邪熱熾盛，沸騰經血故也。若血從口鼻耳目而出，小便難，此為強發少陰汗，名曰下厥上竭，為難治也。三陽熱盛吐血，宜升麻葛根合犀角地黃湯，熱甚加芩連清解可也。若血瘀則胸滿或痛，當以桃仁承氣合犀角地黃湯攻之。若暴吐腐臭之血，名曰內潰，內潰者死。若吐血過多，面唇無紅色，名曰血脫。救脫，輕者以聖愈湯，重者以人參養榮湯。</p>

<h2>大小便膿血</h2>
<p>熱在膀胱小便血，八正導赤利之佳，熱瘀裡急下膿血，黃連白頭與桃花。</p>
<p>【注】陽經之熱，下注膀胱，傷其營分，熱少血多，瘀成血蓄。熱多血少，熱迫血行，血不得蓄，而走下竅，故尿血也，以八正散、導赤散利而清之。陰經之熱，轉迫陽明，傷其營分，瘀則血蓄，喜忘如狂。不蓄則便血，熱腐則便膿。便膿熱鬱，裡急下重，所必然也。輕者宜黃連阿膠腸，重者白頭翁湯清之，滑脫者，桃花湯澀之可也。</p>

<h2>頤毒</h2>
<p>傷寒發頤耳下腫，失於汗下此毒生，高腫焮紅痛為順，反此神昏命必傾。毒伏未發脈亦隱，冷汗淋漓肢若冰，煩渴不便指甲紫，頗似三陰了了輕。</p>
<p>【注】傷寒頤毒，皆因汗下失宜，毒熱挾少陽相火上攻而成也。若其人陽氣素盛，則高腫焮紅疼痛，易於成膿，故為順也，宜連翹敗毒散散之。或其人陽氣素虛，或服冷藥過多，遏郁毒熱伏藏在裡，內攻神昏，外毒漫腫，肉色不變，不疼木硬，則命必危也。毒伏未發之前，往往似三陰亡陽之證，脈隱不見，冷汗淋漓，肢冷若冰，但身輕目睛了了，煩渴不大便，指甲紅紫為異，此毒發始，臨治不可忽也。</p>

<h2>狐惑</h2>
<p>古名狐惑近名疳，狐蝕肛陰惑唇咽，病後餘毒斑疹後，癖疾利後也同然，面眥赤白黑不一，目不能閉喜貪眠，潮熱聲啞腐穢氣，能食堪藥治多全。</p>
<p>【注】狐惑，牙疳、下疳等瘡之古名也，近時惟以疳呼之。下疳即狐也，蝕爛肛陰；牙疳即惑也，蝕咽腐齦，脫牙穿腮破唇。毒因傷寒病後，餘毒與濕䘌之為害也，或生斑疹之後，或生癖疾下利之後，其為患亦同也。其證則面色目眥或赤或白或黑，時時不一，喜睡目不能閉，潮熱聲啞，腐爛之處，穢氣燻人。若胃壯能食，堪受攻病重藥，或病之勢緩，治多全也。</p>

<h2>百合</h2>
<p>百合百脈合一病，如寒似熱藥無靈，飲食起居皆忽忽，如神若鬼附其形。脈數尿時輒頭痛，尿時不痛淅淅風，尿時快然但頭眩，六四二十病方寧。</p>
<p>【注】百合病者，謂傷寒過期，留連不解，不分經絡百脈，悉合為一病也。如寒似熱，諸藥無靈。欲飲不能飲，欲食不能食，欲臥不能臥，欲行不能行，精神忽忽，如神若鬼附其形體，而莫知所適從也。如脈數、尿尿時輒頭痛者，六十日乃愈。若尿尿時頭不痛，惟淅淅然惡風寒者，四十日乃愈。若尿時快然，但頭眩者，二十日乃愈。故曰：六四二十日病方寧也。</p>

<h2>熱入血室</h2>
<p>婦人傷寒同一治，胎產經來熱入室，晝日明瞭夜譫妄，小柴生地牡丹皮，無汗加麻有汗桂，汗後不解再加枝。寒熱如瘧加麻桂，中寒姜附不須疑，渴熱白虎花粉葛，瘀血桃仁承氣俱。產後胎前雖多證，不外陰陽表裡醫。</p>
<p>【注】婦人傷寒，與男子治法同也。惟產後經來，邪熱乘虛而入血室，另有治法。熱入血室之證，晝日明瞭，夜則譫語妄見鬼狀，宜小柴胡湯加生地、丹皮。若無汗則為表實，加麻黃汗之。有汗則為表虛，加桂枝解之。若有發熱惡寒之表，已經發汗，雖無汗不加麻黃，再加桂枝以解之，不可復用麻黃也，若有如瘧之寒熱，加麻黃、桂枝兩解之。若厥而下利，則為中寒，去黃芩加薑、附，不須疑也。若發熱煩渴，則為裡熱，去半夏合白虎，或加花粉。葛根。胸脅少腹或滿硬、或作痛，則為瘀血，宜合桃仁承氣湯攻之。產後胎前雖有多證，不能盡述，總不外陰陽表裡之治，在臨證者以意消息之耳。</p>

<h2>食復勞復</h2>
<p>新愈臟腑皆不足，營衛腸胃未通和，多食過勞復生熱，枳實梔子大黃瘥。浮汗沉下小柴解，燥嘔竹葉石膏合，氣虛補中益氣主，陰虧六味倍參多。</p>
<p>【注】新愈之後，臟腑氣血皆不足，營衛未通，腸胃未和，惟宜白粥靜養。若過食，胃弱難消，因復煩熱，名曰食復。若過勞役復生熱煩，名曰勞復。勞復者，宜枳實梔子豉湯汗之。食復者，宜枳實梔子豉加大黃湯下之。脈浮有表者，宜枳實梔子豉湯以汗解之。脈沉有里者，宜枳實梔子豉加大黃湯以下解之。若無表裡證者，宜小柴胡湯以和解之。口燥煩渴喜嘔者，宜竹葉石膏湯主之。若內傷氣虛勞復者，宜補中益氣湯主之。若犯內事陰虧者，宜六味生乾地黃湯，氣少者，倍加人參湯主之。</p>

<h2>房勞復陰陽易</h2>
<p>房勞復與陰陽易，二病情異證則同。病後犯色復自病，病傳不病易之名。男女俱主燒褌散，少腹急痛引陰中，身重少氣頭眩暈，拘攣熱氣上衝胸。</p>
<p>【注】男女新愈交接，因而復病，名曰房勞復。男女新愈交接，病男傳不病之女，病女傳不病之男，名曰陰陽易，即交易之義也。犯是病者，男以女之褌襠，女以男之褌襠燒灰，白湯或酒，日三服之則愈。少腹急痛牽引陰中，身重少氣，頭目眩暈，四肢拘攣，熱氣衝胸，是其證也。</p>

<h1>卷三</h1>

<h2>類傷寒五證</h2>

<h3>停痰、傷食、腳氣、虛煩、內癰</h3>
<p>相類傷寒有五證，頭疼發熱惡風寒，停痰頭項不強痛，胸滿難息氣衝咽。傷食惡食身無痛，痞悶矢氣噫作酸，腳氣腳漆脛腫痛，或為乾枯大便難。虛煩微熱無表裡，內癰能食審疼緣，肺癰喘咳胸引痛，唾黏腥臭吐膿涎，胃癰當胃痛難近，腸癰腫痛少腹堅，身皮甲錯腹中急，便數似淋證中看。</p>
<p>【注】類傷寒五證，初病之時，皆與太陽表證相類。一曰停痰：但胸滿不得息氣，上衝咽，頭項不強痛，與傷寒異耳。一曰傷食：但身無痛，心下痞悶，矢氣，噫氣，作酸，吞酸，與傷寒異耳。一曰腳氣：但病起自腳，腳膝兩脛腫痛，或乾枯腫痛，名曰乾腳氣，大便硬難，與傷寒異耳。一曰虛煩：惟發熱而煩，無表裡證，與傷寒異耳。一曰內癰：其狀頗類傷寒，但飲食如故，有癰痛之處，與傷寒異耳。胸中隱痛，或喘或咳，吐唾腥黏，是肺癰也。當胃作痛，手不可近，是胃癰也。少腹重痛，便數似淋，身皮甲錯，是腸癰也。</p>

<h2>同傷寒十二證</h2>

<h3>冬溫、寒疫、瘟疫</h3>
<p>春溫夏熱秋清涼，冬氣冷冽令之常，傷之四時皆正病，非時有氣疫為殃。應冷反溫冬溫病，應溫反冷寒疫傷，瘟疫長幼相傳染，須識歲氣汗攻良。</p>
<p>【注】冬病傷寒，春病傷風，夏病暑病，秋病瘧疾，皆四時正令之常病也。若春應暖而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫，此非其時而有其氣，疫為殃也。冬應冷反溫而病傷寒者，名曰冬溫。春應溫反寒而病傷寒者，名曰寒疫。若一時之氣不正，長幼皆病，互相傳染，名曰瘟疫。凡治此病，須識歲氣太過不及，六淫勝復，人之強弱，臟之寒熱，量其輕重，或汗或攻。輕以劉完素之雙解散，重以李杲之二聖救苦丸，隨證施治可也。</p>

<h3>溫病、熱病</h3>
<p>冬傷於寒春病溫，夏日熱病早虧陰，脈浮頭疼發熱渴，不惡寒兮是所因。無汗河間兩解法，有汗清下早當尋，失治昏狂諸熱至，無證隨經以意神。</p>
<p>【注】經曰：冬傷於寒，春必病溫，至夏為熱病。熱病者，皆傷寒之類也。冬傷於寒，謂冬傷正令微寒未即病也。早虧陰，謂冬不藏精之人，或辛苦之人，汗出內外失其固密，在冬則早已損傷腎藏陰氣，陽熱獨治，所以至春一感微邪，即引內熱，炎炎之勢，不能已矣。故病而即渴不惡寒也。初病無汗有表證者，從劉完素兩解湯治法可也。有汗內熱盛者，或清或攻，急瀉其陽而救其陰，若因循失治，昏狂諸熱證至，則緩不及事也。無證，謂表裡無證，當隨六經以意消息治之，自可通神也。</p>

<h3>風溫</h3>
<p>風溫原自感春風，誤汗灼熱汗津生，陰陽俱浮難出語，身重多眠息鼾鳴，誤下直視失溲少，被火發黃瘛瘲驚，葳蕤桂枝參白虎，一逆引日再命終。</p>
<p>【注】冬傷於寒不即病者，復感春寒，名曰溫病；復感春風，名曰風溫。風溫有汗，不可汗也。若誤汗之，益助火邪，則身熱如火，自汗津津不止，言語難出，身重多眠，鼻息鼾鳴也。風溫陰陽脈俱浮，不可下也。若誤下之，熱陷膀胱，竭其津液，則直視失溲，小便少也。風濕熱盛，若誤以火熏蒸強汗，火旺津亡，則發黃色，瘛瘲驚癇也。風溫之證，不可汗下，主以葳蕤湯。若脈虛汗多，主以桂枝合人參白虎湯。一逆引日再命終，謂一逆尚可引日，若汗而又下，下而又火，則為再逆，是促命期也。</p>

<h3>溫瘧</h3>
<p>溫瘧得之冬中風，寒氣藏於骨髓中，至春邪氣不能發，遇暑爍髓消肌形，或因用力腠發泄，邪汗同出故熱生，衰則氣復寒後作，證同溫熱治相同。</p>
<p>【注】經曰：溫瘧得之冬中於風，寒氣藏於骨髓之中，至春陽氣尚微，邪氣不能自出，因值大暑，爍腦髓消肌肉，腠理發泄，或有所用力，邪氣與汗同出，出則陰虛而陽盛，故熱生也，衰則氣復入，入則陽虛而陰盛，故後作寒也。其證同溫熱，治亦相同也。</p>

<h3>濕溫</h3>
<p>溫復傷濕濕溫病，身重胸滿及頭疼，妄言多汗兩脛冷，白虎湯加蒼朮苓。</p>
<p>【注】溫病復傷於濕，名曰濕溫。其證則身重胸滿，頭疼妄言，多汗兩脛逆冷，宜白虎湯加蒼朮、茯苓，溫、濕兩治法也。</p>

<h3>中暍、溫毒、風濕</h3>
<p>溫病中暍溫毒病，證同溫熱熱尤炎。傷濕汗出當風立，風濕發熱重疼牽。</p>
<p>【注】中暍，即中暑也。溫熱之病復中於暑，名曰溫毒證；治同乎溫熱，但熱尤盛也。傷濕之病復感於風，名曰風濕；其證發熱身重，疼痛牽掣也，治法已詳於身痛矣。中暍詳在暑門。</p>

<h3>痙證</h3>
<p>痙證反張搖頭噤，項強拘急轉側難，身熱足寒面目赤，須審剛柔治法全。</p>
<p>【注】風濕寒之邪合而為痙，其證則背反張，搖頭口噤，項強拘急，轉側艱難，身熱足寒，面目赤色也。須審剛柔治之可痊也。風濕盛者則有汗，為柔痙。風寒盛者則無汗，為剛痙。均以小續命湯主之。剛痙去附子，柔痙去麻黃。表實者去參、附，加羌活、獨活。裡實者去參、附，加芒硝、大黃。甚者則以葛根湯、桂枝加葛根湯發之。此治痙之大略也，詳在痙門。</p>

<h2>易愈生證</h2>
<p>神清色澤亮音聲，身輕膚潤脈和洪，忽然口噤難言躁，脈即停伏戰汗寧，飲多消散知釀汗，能食脈浮表還平，子得午解陽來濟，午得子解是陰從。</p>
<p>【注】易愈之病，取於神則神清，取於色則色澤，取於聲則音長，取於體則身輕，取於皮則膚潤，取於脈則和洪，皆一派不死之證，故曰生證也。若有如是之生證，忽然口噤不語，煩躁而甚，六脈停伏，宜謹察之，非變凶也，乃邪正交爭，生戰汗之候，為將愈之兆也。凡傷寒渴者，多陽證易愈，若忽然飲多尋常，消散無停，知釀汗而作解也。傷寒多不能食，若忽然能食且脈浮，知胃和邪還於表而作解也。若不即解者，陰陽未得其時也，子時得之午時必解，陽濟陰生而解也，午時得之子時必解，陰從陽化而解也。</p>

<h2>難治死證</h2>
<p>傷寒死證陽見陰，大熱不止脈失神，陰毒陽毒六七日，色枯聲敗死多聞。心絕煙燻陽獨留，神昏直視及搖頭。環口黧黑腹滿利，柔汗陰黃脾敗由。肺絕脈浮而無胃，汗出如油喘不休。唇吻反青肢冷汗，舌卷囊縮是肝憂。面黑齒長且枯垢，溲便遺失腎可愁。水漿不入脈代散，呃逆不已命難留。大發風溫而成痙，濕溫重暍促命終。強發少陰動經血，口鼻目出厥竭名。汗後狂言不食熱，脈躁陰陽交死形。厥冷不及七八日，膚冷而躁暫難寧，此病名之曰臟厥，厥而無脈暴出凶，厥而下利當不食，反能食者名除中。</p>
<p>【注】病有生死，治有難易。生病不藥可愈，死病雖藥莫救，何則？以陰陽邪正有盛衰也，正盛邪衰則生，陰盛陽衰則死。傷寒陽證，見浮大數動滑之陽脈，則易愈而生，見沉微澀弱弦之陰脈，則難治而死。故陰病見陽脈者生，陽病見陰脈者死也。大熱不止，邪盛脈失神正虛，正虛邪盛，故死也。陰毒陽毒，亢極不生化也。色枯聲敗，內外兩奪也，故均主死。形若煙燻，神昏直視搖頭者，此陽邪獨留，攻心而絕也。環口黧黑，腹滿下利不止，柔汗陽黃者，此為脾絕也。脈但浮無胃，汗出如油，喘息不休者，此為肺絕也。唇吻反青，四肢冷汗，舌卷囊縮，此為肝絕也。面黑齒長枯垢，溲便遺失者，此為腎絕也，水漿不入，生無所賴也。脈代散，真氣衰散也。呃逆無休，元氣不藏也。誤發風溫之汗，因而成痙。誤發濕溫之汗，名曰重暍，皆促人命也。強發少陰汗，動其經血，從口鼻目出，名曰下厥上竭。以上皆死之候也。汗後狂言不食，仍復發熱，不為汗衰，脈躁疾者，名曰陰陽交，死之形也。厥逆不回，至七、八日即通，身膚冷而躁，無暫寧時者，名為臟厥，為陰邪盛極，真陽飛越也，凡厥逆而甚者，多無脈，服四逆、白通等湯，脈微續者，真陽漸復也，脈暴出者，回光反照也。凡厥逆多下利，當不能食，今反能食，名曰除中。中者，胃也，除者，去也，謂胃氣已去，即反能食，亦無補於胃也。故仲景曰：除中者死。凡諸病久不能食，忽然大能食而即死者，亦此類也。</p>

<h2>匯方</h2>
<p><u>桂枝湯　小建中湯　當歸建中湯　黃耆　建中湯　桂枝加葛根湯　桂枝新加湯　當歸四逆湯　當歸四逆加吳茱萸生薑湯　桂枝加附子湯　芍藥甘草湯　桂枝甘草湯</u></p>
<p>桂枝芍藥草薑棗，加飴歸耆曰建中，加葛根湯加乾葛，新加倍芍加參稱。當歸四逆歸通細，更加吳萸姜用生，加附子湯加附子，去桂去芍兩名興。</p>
<p>【注】桂枝湯，桂枝、芍藥、甘草、生薑、大棗也。依本方倍芍藥加飴糖，名小建中湯，更加當歸，名當歸建中湯，更加黃耆，名黃耆建中湯。依本方加葛根，名桂枝加葛根湯。依本方倍芍藥加人參，名桂枝新加湯。依本方加當歸、通草、細辛，名當歸四逆湯，更加吳茱萸、生薑，名當歸四逆加吳茱萸生薑湯。依本方加附子，名桂枝加附子湯。依本方去桂枝，名芍藥甘草湯。依本方去芍藥，名桂枝甘草湯。</p>
<p><u>桂枝去芍藥加茯苓白朮湯　苓桂朮甘湯　茯苓甘草湯　茯苓稜枝甘草大棗湯</u></p>
<p>桂枝去芍加苓朮，苓桂術甘去棗姜，茯苓甘草生薑桂，加棗除姜大棗湯。</p>
<p>【注】桂枝去芍藥加茯苓白朮湯，即桂枝、甘草、生薑、大棗、茯苓、白朮也。依本方減去大棗、生薑，即苓桂朮甘湯也。茯苓甘草湯，即茯苓、甘草、桂枝、生薑也，依本方加大棗減生薑，即茯苓桂枝甘草大棗湯也。</p>
<p><u>葛根湯　桂枝麻黃各半湯　桂枝二麻黃一湯　桂枝二越婢一湯</u></p>
<p>葛根桂枝加麻葛，合麻桂麻各半湯，桂二麻一麻減半，桂二越一桂倍方。</p>
<p>【注】葛根湯，即桂枝湯加麻黃、葛根也。桂枝麻黃各半湯，即桂枝湯、麻黃湯二方合劑也。桂枝二麻黃一湯，即桂枝湯合減一半麻黃湯也。桂枝二越婢一湯，即越婢湯合加一倍桂枝湯也。</p>
<p><u>麻黃湯　大青龍湯　越婢湯　越婢加附子湯　越婢加半夏湯</u></p>
<p>麻黃麻桂甘草杏，加膏薑棗大青龍，越婢大青減桂杏，加附加半風水清。</p>
<p>【注】麻黃湯，麻黃、桂枝、甘草、杏仁也。依本方加石膏、生薑、大棗，名大青龍湯。依大青龍湯減桂枝、杏仁，名越婢湯，治風水病之肌熱者。若陽虛惡寒，加附子，名越婢加附子湯。喘咳上氣，加半夏，名越婢加半夏湯。當分別而施治也。</p>
<p><u>麻黃加朮湯　三拗湯　麻杏石甘湯</u></p>
<p>麻黃加朮風濕痛，三抝去桂喘寒風，加膏麻杏石甘劑，外寒內熱喘收功。</p>
<p>【注】麻黃加朮湯，即麻黃湯加白朮也，治風濕在表身痛。麻黃湯去桂枝，名三抝湯，治風寒表實而喘。三抝湯加石膏，名麻杏石甘湯，治內熱表寒無汗而喘。</p>
<p><u>麻黃附子細辛湯　麻黃附子甘草湯</u></p>
<p>麻黃附子細辛湯，減辛加草甘草方，兩感太陽少陰證，能發表水裡寒涼。</p>
<p>【注】麻黃附子細辛湯，即此三味也，去細辛加甘草，名麻黃附子甘草湯，不但能發兩感太陽、少陰表熱裡寒之證，且能發太陽、少陰表水裡寒之腫也。</p>
<p><u>小青龍湯　附子湯　真武湯</u></p>
<p>桂芍乾薑辛半味，麻黃甘草小青龍，附子朮附參苓芍，真武無參有姜生。</p>
<p>【注】小青龍湯，桂枝、白芍、乾薑、細辛、半夏、五味子、麻黃、甘草也。附子湯，白朮、附子、人參、茯苓、白芍也。真武湯，即附子湯除去人參加生薑也。</p>
<p><u>乾薑附子湯　白通湯　白通加人尿豬膽汁湯　四逆湯　通脈四逆湯　茯苓四逆湯　理中湯　桂枝人參湯　附子理中湯　治中湯</u></p>
<p>姜附加蔥白通劑，更加尿膽治格陽，加草四逆蔥通脈，加參茯苓四逆方。理中參朮乾薑草，加桂桂枝人參湯。加附名曰附子理，加入青陳治中湯。</p>
<p>【注】乾薑、附子，名曰乾薑附子湯。依本方加蔥，名曰白通湯，更加人尿、豬膽汁，名白通加人尿豬膽汁湯。依本方加甘草，名四逆湯，更加蔥自，名通脈四逆湯。依四逆湯方，加人參、茯苓，名茯苓四逆湯，溫中利水。人參、白朮、乾薑、甘草，名理中湯。依理中湯方加桂枝，名桂枝人參湯。依理中湯方加附子，名附子理中湯。依理中湯方加青皮、陳皮，名治中湯，溫中理氣。</p>
<p><u>五苓散　春澤湯　五苓甘露飲　蒼附五苓散　茵陳五苓散　胃苓湯</u></p>
<p>五苓停水尿不利，內蓄膀胱外太陽，二苓澤術桂分用，虛渴加參春澤湯，甘露寒水膏滑入，蒼附內寒附子蒼，茵陳發黃小便澀，食瀉合胃胃苓方。</p>
<p>【注】五苓散，即茯苓、豬苓、澤瀉、白朮、桂枝也。治水停小便不利，少腹滿，則為內蓄膀胱。若不兼太陽頭痛、惡寒、發熱、自汗之表，則不用桂枝而用肉桂，故曰桂分用也，治諸虛飲渴，加人參，名春澤湯。治水停內熱。加寒水石、滑石、石膏，名五苓甘露飲。治水停內寒，加附子、蒼朮，名蒼附五苓散。治內瘀濕熱，小便不利，發黃，加茵陳名茵陳五苓散，治停水傷食泄瀉，合平胃散名胃苓湯。</p>
<p><u>梔子豉湯　梔子甘草豉湯　梔子生薑豉湯　枳實梔子豉湯　枳實梔子豉加大黃湯　梔子乾薑湯　梔子厚朴湯</u></p>
<p>梔豉加草加生薑，枳實梔豉加大黃，去豉梔子乾薑入，枳樸梔子厚朴湯。</p>
<p>【注】梔子、淡豆豉，名梔子豉湯。加甘草名梔子甘草豉湯，加生薑名梔子生薑豉湯，加枳實名枳實梔子豉湯。依枳實梔子豉方加大黃，名枳實梔子豉加大黃湯。去豉加乾薑，名梔子乾薑湯。去豉加枳實厚朴，名梔子厚朴湯。</p>
<p><u>麻黃連翹赤小豆湯　梔子柏皮湯　茵陳蒿湯</u></p>
<p>麻黃連翹赤小豆，梓皮杏草棗生薑，梔子柏皮茵陳草，茵陳蒿湯茵梔黃。</p>
<p>【注】麻黃連翹赤小豆湯，即麻黃、連翹、赤小豆、生梓白皮、杏仁、甘草、大棗、生薑也。如無梓皮，以茵陳代之。梔子柏皮湯，即梔子、黃柏、甘草也，此方當有茵陳。茵陳蒿湯，即茵陳梔子大黃也。</p>
<p><u>大黃黃連胃心湯　附子瀉心湯　甘草瀉心腸　半夏瀉心腸　生薑瀉心腸　旋覆代赭石湯</u></p>
<p>大黃黃連瀉心浸，附子煮汁大連芩，甘草芩連干半棗，半夏同上更加參，生薑瀉心生薑入，復赭薑棗半甘參。</p>
<p>【注】大黃黃連瀉心湯，即大黃、黃連，滾湯浸而服也。附子、謂附子瀉心湯也，附子煎汁，大黃、黃連、黃芩、浸而對服。甘草瀉心湯，即甘草、黃芩、黃連、乾薑、半夏、大棗也。半夏瀉心湯，即同上方加人參也。生薑瀉心湯，即半夏瀉心方再加生薑也。旋覆代赭石湯，即旋覆花、代赭石、甘草。半夏、大棗、生薑、人參也。</p>
<p><u>十棗湯　白散方　調胃承氣湯　大陷胸湯　大陷胸丸　小陷胸湯</u></p>
<p>十棗芫花甘遂戟，白散桔貝巴霜俱，調胃大黃芒硝草，大陷去草入遂須，為丸更加杏葶蜜，小陷連半栝蔞實。</p>
<p>【注】十棗湯，即十枚大棗，芫花、甘遂、大戟也。白散，即桔梗、貝母、巴豆霜也。調胃承氣湯，即大黃、芒硝、甘草也。大陷胸湯，即調胃承氣湯去甘草加甘遂些須也。大陷胸丸，即大陷胸湯加杏仁、苦葶藶子、蜜也。小陷胸湯，即黃連、半夏、栝蔞實也。</p>
<p><u>小承氣湯　大承氣湯　麻仁丸　桃仁承氣湯　抵當湯九　三一承氣湯　黃龍湯</u></p>
<p>小承大黃同枳樸，加硝即是大承方。麻仁小承麻杏芍，桃仁調胃桂枝長。抵當湯丸分微甚，俱用桃黃水蛭虻。三承合一名三一，加參歸桔黃龍湯。</p>
<p>【注】小承氣湯，即大黃、枳實、厚朴也。依本方加芒硝，即大承氣湯。麻仁丸，即小承氣湯方加麻仁、杏仁、芍藥也。桃仁承氣湯，即調胃承氣湯加桃仁、桂枝也。抵當湯丸，分病之微甚，俱用桃仁、大黃、水蛭、虻蟲四味也。三承，謂大承氣、小承氣、調胃承氣。三方合為一方，名曰三一承氣湯。依三一承氣方，再加人參、當歸、桔梗，名曰黃龍湯。</p>
<p><u>小柴胡湯　大柴胡湯　柴胡加芒硝湯　柴胡桂枝湯</u></p>
<p>小柴芩半人參草，大柴芩半枳芍黃。小柴胡加芒硝入，合桂柴胡桂枝湯。</p>
<p>【注】小柴胡湯，即柴胡、黃芩、半夏、人參、甘草也。大柴胡湯，柴胡、黃芩、半夏、枳實、芍藥、大黃也。柴胡加芒硝湯，即小柴胡湯方加芒硝也。柴胡桂枝湯，即桂枝湯、小柴胡湯，二方合為一方也。</p>
<p><u>豬苓湯　白虎湯　竹葉石膏湯</u></p>
<p>豬苓二苓膠滑澤，白虎膏知甘草粳。竹葉石膏除知母，加參半竹麥門冬。</p>
<p>【注】豬苓湯，即豬苓、茯苓、阿膠、滑石、澤瀉也。白虎湯，即石膏、知母、甘草、粳米也。竹葉石膏湯，即白虎湯除知母，加人參、竹葉、半夏、麥門冬也。</p>
<p><u>炙甘草湯</u></p>
<p>汗下煩悸小建治，水悸茯苓甘草君，虛悸肺痿炙甘草，地阿桂酒麥酸參。</p>
<p>【注】汗下後虛煩而悸，宜小建中湯治之。心下悸，若飲水多小便少，謂之水悸，宜茯苓甘草湯。若因汗下後，謂之虛悸，宜炙甘草湯，即炙草、生地、阿膠、桂枝、麥冬、酸棗仁、人參、生薑、大棗、酒煎也。肺痿用麻仁可也。</p>
<p><u>桃花湯　赤石脂禹餘糧湯　黃芩湯　白頭翁湯</u></p>
<p>桃花乾薑石脂糯，石脂禹糧固脫功，黃芩甘草芍大棗，連柏秦皮白頭翁。</p>
<p>【注】桃花湯，即乾薑、赤石脂、糯米也。赤石脂禹餘糧湯，即此二味也。黃芩湯，即黃芩、甘草、白芍、大棗也。白頭翁湯，即黃連、黃柏、秦皮、白頭翁也。</p>
<p><u>葛根黃連黃芩湯　乾薑黃連黃芩湯　黃連湯　黃連阿膠湯</u></p>
<p>葛根連芩湯甘草，乾薑連芩湯人參，連參桂草乾半棗，連膠芩芍卵黃新。</p>
<p>【注】葛根黃連黃芩湯，即此三味加甘草也。乾薑黃連黃芩湯，即此三味加人參也。黃連湯，即黃連、人參、桂枝、甘草、乾薑、半夏、大棗也。黃連阿膠湯，即黃連、阿膠、黃芩、白芍、雞子黃也。</p>
<p><u>四逆散　吳茱萸湯　烏梅丸</u></p>
<p>柴芍枳草四逆散，人參薑棗吳茱萸。烏梅參歸連柏細，椒薑桂附苦酒需。</p>
<p>【注】四逆散，即柴胡、白芍、枳實。甘草也。吳茱萸湯，即人參、生薑、大棗、吳茱萸也。烏梅丸，即烏梅、人參、當歸、黃連、黃柏、細辛、川椒、乾薑、桂枝、附子為末，苦酒為丸也。</p>

<h2>傷寒附法</h2>
<p>傷寒傳變大法，已詳《傷寒論注》及《心法要訣》中矣。然近世治四時傷寒者，咸用河間兩解等法，每多神效，誠治斯證之捷法也。今復採雙解散。防風通聖散諸經驗名方，編為歌訣，附於心法之後，俾後之學者，知所變通，庶幾於傷寒一證，經權常變，有所遵循，而無遺法云。</p>

<h3>雙解散完素解利初法</h3>
<p>雙解通聖合六一，四時溫熱正傷寒，兩許為劑蔥姜豉，汗下兼行表裡宣，強者加倍弱減半，不解連進自然安，若因汗少麻倍入，便硬硝黃加倍添。</p>
<p>【注】名曰雙解散者，以其能發表攻裡，即防風通聖散、六一散二方合劑也。河間制此，解利四時冬溫春溫，夏熱秋熱，正令傷寒。凡邪在三陽表裡不解者，以兩許為劑，加蔥、薑、淡豆豉煎服之，候汗下兼行，表裡即解。形氣強者，兩半為劑，形氣弱者，五錢為劑。若初服因汗少不解，則為表實，倍加麻黃以汗之。因便硬不解，則為裡實，倍加硝黃以下之，連進二、三服；必令汗出下利而解也。今人不知其妙，以河間過用寒涼，仲景傷寒初無下法，棄而不用，深可惜也。不知其法神捷，莫不應手取效，從無寒中痞結之變，即有一、二不解者，非未盡法之善，則必已傳陽明，故不解也。防風通聖散詳在後。</p>

<h3>河間解利後法</h3>
<p>汗下已通仍不解，皆因不徹已傳經，內熱煩渴甘露飲，甚用白虎解毒清，有表熱煩柴葛解，表實大熱三黃寧，裡熱尿赤涼天水，胃實不便大柴承。</p>
<p>【注】服雙解散，汗下已通而仍不解者，皆因汗之徹，或已傳經治之不及也。若表已解而里有微熱煩渴者，用桂苓甘露飲，以和太陽之裡。若內熱太甚，大熱、大煩、大渴者，用白虎湯合黃連解毒湯，以清陽明之裡。若表未解又傳陽明，身熱而煩，用柴葛解肌湯，以解兩陽之邪。若表實無汗，大熱而煩，用三黃石膏湯以清表裡之熱。若里有熱，尿赤而澀者，用涼膈散合天水散以清利之。若胃實潮熱不大便有微表者，用大柴胡湯下之。無表者三承氣湯下之。桂苓甘露飲、白虎湯、大柴胡湯、三承氣湯，已詳傷寒要訣。六一散、涼膈散，詳在《雜病要訣》。</p>
<p><u>防風通聖散</u></p>
<p>防風通聖治風熱，郁在三焦表裡中，氣血不宣經絡壅，梔翹芩薄草歸芎，硝黃芍術膏滑石，麻黃桔梗共防荊，利減硝黃嘔姜半，自汗麻去桂枝增。</p>
<p>【注】此方治一切風火之邪，鬱於三焦表裡經絡，氣血不得宣通。初感發熱頭痛，膚疹傳經，斑黃抽搐，煩渴不眠，便秘尿澀，皆可服之，功效甚奇，用之自知其妙也。</p>
<p><u>柴葛解肌湯</u></p>
<p>四時合病在三陽，柴葛解肌柴葛羌，白芷桔芩膏芍草，利減石膏嘔半姜。</p>
<p>【注】此方陶華所制，以代葛根湯。凡四時太陽、陽明、少陽合病輕證，均宜以此湯增減治之，增減者，謂如無太陽證者，減羌活，無少陽證者，減柴胡也。即柴胡、葛根、羌活、白芷、桔梗、赤芍、石膏、黃芩、甘草也。下利減石膏，以避裡虛也。嘔加半夏、生薑，以降里逆也。</p>
<p><u>黃連解毒湯　梔子金花湯　三黃石膏湯</u></p>
<p>陽毒熱極疹斑嘔，煩渴呻吟譫語狂，下後便軟熱不已，連芩梔柏解毒湯，裡實便硬當攻下，梔子金花加大黃，表實膏麻蔥豆豉，下利除膏入葛良。</p>
<p>【注】陽毒熱極等證，或下後便軟，壯熱不已，宜黃連解毒湯，即黃連、黃芩、黃柏、梔子也。若裡實便硬當攻下者，宜加大黃、名梔子金花湯。若表實無汗，當發汗者，宜加石膏、麻黃、淡豆豉。蔥白，名三黃石膏湯。下利者，減石膏加葛根，避里不實也。</p>
<p><u>消毒犀角飲</u></p>
<p>消毒犀角表疹斑，毒壅咽喉腫痛難，犀角牛蒡荊防草，熱盛加薄翹芩連。</p>
<p>【注】消毒犀角飲，即消毒飲之防風、荊芥、牛蒡子。甘草、加犀角也，熱盛加連翹、薄荷、黃芩、黃連也。</p>
<p><u>消斑青黛飲</u></p>
<p>消斑青黛消斑毒，參虎柴犀梔地元，黃連熱實減參去，苦酒加入大黃煎。</p>
<p>【注】消斑青黛飲，即青黛。參虎，謂人參白虎湯。即人參、石膏、知母、甘草，柴胡、犀角、山梔、生地。元參、黃連，用苦酒與水煎也。熱甚便實者，減去人參加大黃可也。</p>
<p><u>普濟消毒飲</u></p>
<p>普濟大頭天行病，無里邪熱客高巔，芩連薄翹柴升桔，蠶草陳勃蒡藍元。</p>
<p>【注】普濟消毒飲，治天行傳染，大頭瘟疫，無里可下者，是其邪熱客於高巔。即黃芩、黃連、薄荷、連翹、柴胡、升麻、桔梗、殭蠶、甘草。陳皮、馬勃、牛蒡子、板藍根。元參也。</p>
<p><u>連翹敗毒散</u></p>
<p>連翹敗毒散發頤，高腫焮紅痛可除，花粉連翹柴胡蒡，荊防升草桔羌獨，紅花蘇木芎歸尾，腫面還加芷漏蘆，腫堅皂刺穿山甲，便燥應添大黃疏。</p>
<p>【注】連翹敗毒散，治時毒發頤，高腫焮紅疼痛之陽證也。即連翹、天花粉、柴胡、牛蒡子、荊芥、防風、升麻，甘草、桔梗、羌活、獨活、紅花、蘇木、川芎、歸尾。兩頤連面皆腫，加白芷漏蘆。腫堅不消，加皂刺、穿山甲。大便燥結，加酒炒大黃。</p>
<p><u>都氣湯　橘皮竹茹湯</u></p>
<p>呃逆腎虛都氣湯，六味肉桂五味方，橘皮竹茹虛熱主，橘竹參草棗生薑。</p>
<p>【注】都氣湯，即六味地黃湯加肉桂、五味子也，橘皮竹茹湯，即橘紅、竹茹、人參、甘草、大棗、生薑也。</p>
<p><u>葳蕤湯</u></p>
<p>風溫浮盛葳蕤湯，羌麻葛芷青木香，芎草石膏葳蕤杏，裡實熱甚入硝黃。</p>
<p>【注】風溫初起，六脈浮盛，表實壯熱汗少者，宜葳蕤湯，以發表風邪也，即羌活、麻黃、葛根、白芷、青木香，川芎、甘草、石膏、葳蕤、杏仁也。裡實熱甚多汗者，加芒硝、大黃、以攻裡熱也。</p>
<p><u>桂枝白虎湯</u></p>
<p>風溫虛熱汗出多，難任葳蕤可奈何，須是鼾睡而燥渴，方宜桂枝虎參合。</p>
<p>【注】風溫初起脈浮有力，汗少壯熱，宜與葳蕤湯。若脈虛身熱汗多，難用葳蕤湯者，合與桂枝白虎加人參湯。如不鼾睡，口中和而不燥不渴，身熱汗多脈浮盛者，乃亡陽之證，非風溫也，即桂枝白虎加人參湯亦不可用也。</p>
<p><u>瀉心導赤各半湯</u></p>
<p>越經無證如醉熱，脈和導赤各半湯，芩連梔子神參麥，知滑犀草棗燈姜。</p>
<p>【注】越經，病名也。無證，謂無表裡證也。無表裡證，脈和而身熱不解，形如醉人者，是越經證也。宜瀉心導赤各半湯治之，即黃連、黃芩、梔子、茯神、人參、麥冬、知母、滑石、犀角、甘草、燈心、生薑、大棗也。</p>
<p><u>大羌活湯</u></p>
<p>兩感傷寒病二經，大羌活湯草川芎，二防二術二活細，生地芩連知母同。</p>
<p>【注】兩感，傷寒病名也。二經，謂一曰太陽少陰，二曰陽明太陰，三曰少陽厥陰同病也。張潔古制大羌活湯治之，即甘草、川芎、防風、防己、蒼朮、白朮、羌活、獨活、細辛、生地、黃芩、黃連、知母也。詳在《傷寒要訣》。</p>
<p><u>還陽散　退陰散　黑奴丸</u></p>
<p>陰毒還陽硫黃末，退陰炮烏乾薑均。陽毒黑奴小麥疸，芩麻硝黃釜灶塵。</p>
<p>【注】還陽散，即石硫黃末，每服二錢，新汲水調下。良久寒熱汗不出，再服之，汗出愈。退陰散，即炮變色川烏，微炒乾姜，等分為末，每服一錢，鹽湯滾數沸服，四肢不溫，連服三次即溫，熱服若吐，冷服亦可。黑奴丸，即小麥成黑疽者，名曰小麥奴，黃芩、麻黃、芒硝、大黃、釜底煤灶突煙梁上塵也。為末，蜜丸，重四錢，新汲水下。服後若渴欲飲冷水者，令恣意飲之，須臾自當寒振汗出，腹響微利而解也。若不渴者，恐是陰極似陽，服之反為害耳。</p>
<p><u>九味羌活湯</u></p>
<p>九味羌活即沖和，四時不正氣為疴。潔古制此代麻桂，羌防蒼細芷芎合，生地草芩喘加杏，無汗加麻有桂多，胸滿去地加枳桔，煩渴知膏熱自瘥。</p>
<p>【注】此湯即沖和湯。張潔古制此以代麻黃桂枝二湯。即羌活、防風、蒼朮、細辛、白芷、川芎、生地、甘草、黃芩也。喘加杏仁，無汗加麻黃，有汗加桂枝。胸膈滿悶，去生地加枳殼、桔梗，快膈氣也。煩渴引飲加知母、石膏，熱自瘥也。</p>
<p><u>十神湯</u></p>
<p>十神外感寒氣病，功在溫經利氣殊，升葛芎麻甘草芍，薑蔥香附芷陳蘇。</p>
<p>【注】此湯即升麻、葛根、川芎、麻黃、甘草、芍藥、香附、白芷、陳皮、蘇葉、生薑、蔥白也，能外發寒邪，內舒鬱氣，故曰寒氣病。較之他劑，有溫經利氣之功殊也。</p>
<p><u>人參敗毒散　荊防敗毒散　倉廩散</u></p>
<p>人參敗毒虛感冒，發散時毒疹痢良，參苓積桔芎草共，柴前薄荷與獨羌，時毒減參加翹蒡，血風時疹入荊防，表熱噤痢加倉米，溫熱芩連實硝黃。</p>
<p>【注】人參敗毒散，治氣虛感冒時氣之病。即枳殼、桔梗、川芎、茯苓、人參，甘草、柴胡、前胡、薄荷，獨活、羌活也。時毒，謂受四時不正之氣，或腫兩腮兩頤，或咽喉腫痛，依本方減人參加牛蒡、連翹治之。時疹，謂初病即有之疹。血風，謂遍身瘙癢之疹。俱依本方減人參，加荊芥、防風治之，名荊防敗毒散。表熱無汗，噤口痢疾，依本方加倉米治之，名倉廩散。溫病、熱病熱甚，俱加黃連、黃芩。胃實便硬，俱加芒硝、大黃也。</p>
<p><u>五積散</u></p>
<p>內傷生冷外感寒，五積平胃半苓攢，麻桂積桔歸芎芍，姜芷加附逐陰寒，腹痛嘔逆吳萸入，有汗除麻桂枝添，虛加參朮除積桔，婦人經痛艾醋煎。</p>
<p>【注】五積散，即芩朮、陳皮、厚朴、甘草、半夏、茯苓、麻黃、官桂、枳殼、桔梗、當歸、川芎、白芍、乾薑、白芷也。表重用桂枝，里重用官桂，陰寒肢冷加附子，腹痛嘔逆加吳茱萸，有汗除去麻黃加桂枝，氣虛加人參、白朮，除去枳桔。婦人經痛加艾葉，醋煎服之。</p>
<p><u>升麻葛根湯</u></p>
<p>升葛芍草表陽明，下利斑疹兩收功，麻黃太陽無汗入，柴芩同病少陽經。</p>
<p>【注】升麻、葛根、白芍、甘草，即升麻葛根湯也。陽明表邪不解，或數下利，及斑疹不透者，均宜主之，若兼太陽無汗之表證，入麻黃。若兼少陽口苦耳聾，寒熱往來，半表裡之證，加柴胡、黃芩也。</p>
<p><u>二聖救苦丹</u></p>
<p>初起時疫溫熱病，救苦汗吐下俱全，熱實百發而百中，大黃皂角水為丸。</p>
<p>【注】此丹即大黃四兩，皂角二兩為末，水為丸也。每服三錢，無根水下。弱者、老者、幼者、量減服之。此藥施治於初起時疫，傳染傷寒，溫病熱病，熱盛形氣俱實者，百發百中。服後或汗、或吐、或下，三法俱全，其病立解。</p>
<p><u>溫膽湯</u></p>
<p>傷寒病後液津干，虛煩嘔渴不成眠，乃是竹葉石膏證，膽經飲熱此方先，口苦嘔涎煩驚悸，半苓橘草枳竹煎，氣虛加參渴去半，再加麥粉熱芩連。</p>
<p>【注】傷寒病後燥渴虛煩，乃竹葉石膏湯證，非溫膽湯證，詳在傷寒要訣。若少陽膽經飲熱，則口苦、嘔煩、驚悸，是溫膽湯證也，即半夏、茯芩、橘皮、甘草、枳實、竹茹也。形氣俱虛，或因汗、吐、下後及氣虛者，均加人參。渴去半夏加麥冬、花粉，以生津也。有熱加黃芩、黃連，以清熱也。</p>
