<header data-type="book">
<h1>產論翼</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>賀川玄迪</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第九冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015281">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>事有創於聖沒千歲之後。起於絕海萬里之隅。而出於尋常度量之外。別設尺寸。奇偉譎怪。先王不道。古籍無載。而不可非者焉。蓋事物之變。日新無窮。而所以待之者。亦何有定方。夫如是。而後天地之理無闕也。然是其人必其生稟陰陽之異氣。倜儻誠愨。又必多歷事變。致思專一。竭終身之知巧。而後可與於此也。而又輔翼而贊述之者得其人。而後可有立後世而不墜也。非浮淺。輕儇。靳名疚利之徒。所能庶幾於朝夕也。苟能有於斯。則雖飲食器械之微。其於生養之方。豈曰小補而止哉。況醫藥。生靈夭壽所關。誠能有所發於古。而可傳於後。則一砭半匕之術。生民之受貺。蓋有不可量者焉。夫醫。意也。人身其大許幾。四肢百骸。彼之所有。即此之所具執柯以伐柯。其則不遠。苟能用意精切。驗己而推人。其有不得其道者哉。故夷蠻之人。目未嘗知中國之書。而能自別設術立方。而多簡徑可喜。取效奇中者。豈非以精意專一而然乎。謂漢唐諸家之外。別無他道。則隘矣。賀川翁子玄。其人忠信專愨。其少。倜儻好奇節而任俠。既治方伎。窮精砭針按摩之術。一日以意救脫鄰人婦之蓐厄。忽然有所悟。因推而試之數人。皆如其意。積以歲月。益精確自信。乃立一家之言。著產論一篇。學無所師承。又不本古人。故其所持論。初聞若可驚。然皆其所親歷而獨得。故簡徑奇中。凡產蓐之病。其變無方。而皆不能逃其尺寸。豈所謂稟異氣而歷事變。能用其意者耶。子啟。本岡本氏之子也。翁見其修業精苦。舉其術與產。不授其子而授子啟。令以疇其學。而子啟乃取翁之書所未備與己之新得者。作論並圖翼之。而後翁之學無復余蘊。而可不墜於後云。余於方伎之書。一無所解。故二子之書。得失合否。固不得而知也。但以翁之為人。而信其言之不欺。以其術之有驗。而知其方之不戾矣。而以子啟能當翁之選。又能羽翼其書。而無惑於其為人與學矣。抑余又有所懼焉。諺曰。烏學鸕鷀。必死於水。懼輕儇之徒。視翁之舉。悅其名而效之。一廢古人成說。妄意肆臆。以禍生靈也。又懼其徒鹵莽滅裂。不盡翁之學。而禍翁之道也。夫必忠信專愨。不勸沮於譭譽。不就避於利害。如翁而後翁可能也。必篤信勤苦。如子啟。而後翁之道可學也。其精微之術。書所不能盡者。學者何不及翁與子啟之在。來而面受之哉。</p>
<p><u>安永乙未孟夏　柴邦彥撰</u></p>

<h1>凡例</h1>
<p>一吾門之治妊娠也。救護之術。什居八九。此編亦惟專以明治術。為要其術不一。一病一術者有之。或二術三術者有之。法隨症以施。其揆一也。以備胎前產後之急患下此。則雖有諸症。亦易與耳。</p>
<p>一產論方術。時有略舉而未備者。蓋識者聞一知什。而昧者瞠若焉。先生此舉。本不過欲以擴充遺蘊。所以名編曰翼也。然而僕輩。竊謂比之延津劍合江浦珠雙矣。故此編治術湯藥。凡在彼者。此不復贅。</p>
<p>一回生鉤胞之二術。術意神奧。非其人不能用。又非筆墨所能盡。以故產論只舉其目而已。雖然未識此術。何以得使當生者起焉。初先生之為此編也。本欲亦列二術之概略。既又以雖得其門而入者。猶且難入室。何矧私淑紙上之言。非唯無益。恐卻害人遂止。有志之士。盍歸來親受面誨。以造其微焉。</p>
<p>一產椅鎮帶之害孕。滔滔者天下皆是。吾門日夜所務辭闢也。而產論有說。殆韶美不復添蛇足。</p>
<p>一胎之死生。攻補攸分。治產之一大準的。不可不講。此編詳明其候法。及嬰兒保護試乳浴法。和盤托出。無有靳秘。亦誨人不倦之一端也。</p>
<p>一順逆懷孕孿生橫礙之諸狀。產論及此編反覆已盡之。然尚恐昧者難達也。別圖於編末。以備參考。</p>
<p><u>門人　泉界茂庵佐佐井玄敬謹記</u></p>

<h1>按腹</h1>
<p>此婦人孕三四月際善用此。乃必得其腹內鬱氣大散。脈絡調理。而惡阻之患。亦得速除矣。其餘不問老幼男女諸病。兼用之。其益不少。且此為產科所用諸手法之本源。諸手法皆由此而生。故凡欲通產科之諸術者。此不可不最先練習熟慣也。其用手之法。凡七。凡欲施此術者。先令其婦人仰臥。醫須就其左邊。以左膝頭抵承其髀樞。少帶推壓之意。以令不得移動。然後先用兩手。於婦胸腹。左手覆安心下。右手掌當婦胸間。以候其虛里之動消息。須臾始入按腹之術。其初第一手法。先以左手掌安心下。右手分排指頭。從膺上至心下左右。拊循其肋骨之間。漸下至心下。左手視右手之拊循下亦逐勢漸次下迄臍下。而安住焉。次第二手法。左手仍安臍下。而用右手食中無名指頭。從鳩尾沿季肋。向右脅下章門強按下之。又用右手大指頭。從鳩尾向左章門強按下之。左右各三遍。作之次。第三手法。左手仍安前處。而用右手大次指。從鳩尾分夾任脈。迄臍下強按下之。三遍。次第四手法。醫先聳腰將左手以其指頭用力覆拘婦人右章門邊。右手食中無名三指頭。用力沿右季肋推進。向其右不容穴而強按之。左手卻逐其勢拘勒腹皮。而舉提之。又將左手仰抅其左章門邊。右手大指頭。用力沿左季肋推進。向其左不容穴而強按之。左手如前。逐其勢抅勒腹皮。向外而舉提之。各三遍。次第五手法。兩手中食指頭。斜相向婦人右小腹上。而其八指頭。皆用力按住而抅拽向內。復用兩大指。相向從左小腹上起。指頭用力按住推送向外。作之三遍。勢若搖櫓之狀。次第六手法。醫臨豎左膝。聳身將兩手從婦人兩脅。向其背後。以其兩指頭分夾其脊骨第十二三椎。按抑之。使指骨節間有聲。而下至十六七椎邊。兩手如擁抱狀。而舉提之至章門邊。兩手用力束勒。向腹前相聚。作之三遍。是時醫宜面婦人。下部而坐。而當其舉提之時。捩腰以頭反顧。卻面婦人上部。次第七手法。用兩手食中無名指頭。用力當任脈左右幽門穴。迭換徐徐按之。沿季肋而下至不容至章門。漸慚按下。已上凡七法。其用手。須著實為之。不可倉卒為之。倉卒則無功矣。凡第四第五等用手法。切不可倉卒。使腹皮牽急。先須每於指下。微蹙其腹皮。以使有餘裕。然後復徐取引之前。乃得其無牽急之患。</p>

<h1>辨胎</h1>
<p>方書中診婦人妊否。多載脈例。然其言率茫洋。如捕風捉影。夫古人非鬼非神。鑑幽洞微。惡能至斯。要不過妄誕附會。以奇其事耳。候胎之法。產論已詳之。而近新有得一二。舉之以便蒙生。令婦人仰臥。先用產論按腹法。更撫摩其兩腳上。從股際下向腳尖。熟撫數遍。而後候之。乃得其胎浮出全應焉。</p>
<p>又視其眼中。眼中多白多妊。</p>
<p>又妊娠四五月。任脈上。多露紫筋。</p>
<p>又捫其乳房底。有若覆小盞者多妊。</p>
<p>產論謂任脈窪成一道者。為孿胎之候。然此惟五六月間見之。至八九月一道者。即隱不見。但腹容左右大張。狀有稜角。而腹面卻平。是為孿候。</p>
<p>又有兒胎。天然兩折如弓。橫在母腹中者。診其腹左右有物。各自運動。其候大類孿胎。切勿誤認。</p>
<p>有未產而乳汁出者。婦人血氣盛者。多有此症。方書或名之乳泣。而云生子不育者。大不然。吾數見有此症者。分娩後。其子皆安健無事。方書之不可信。此類甚多矣。</p>

<h1>整胎</h1>
<p>此術蓋理兒胎居偏。或胎將墜經。若水下。或婦人不時顛仆。或致胎動。或右足彎急難步行者。凡此類。皆用整胎術。而凡妊娠五六月後。時時用此整理其胎。乃得兒胎常正。而分娩亦容易。產論所舉術甚詳矣。而今又新有所得。法已簡易。而得效亦速。故重此舉示。須兼施之而可也。其法令婦人仰臥。醫坐其左邊。先為按腹第六手法。數遍。使胎上浮。當得兒頭偏於右邊小腹者。則疊聚兩手指頭以整之。而此時。若見有燥屎者。須如產論所言撥之。而徐與其婦呼吸相適。拘拽至任脈位。用左手按住。卻用右手掌。按兒臀尻。在婦左章門邊者而上之。務令其欹斜胎得中正。胎既正。至任脈位時。又須側兩手抅其兒頭上之。是時醫坐法。亦須斜面婦腳而坐。其上之亦須注一體之力。於其指頭振腰以為之。然後更為按腹第六手法。數遍。如是則橫骨際得疏通。無小便不利之患矣。</p>

<h1>救癇</h1>
<p>治術病候。俱詳於產論。但此症。多有燥屎者。而妊娠七八月已後多發之。間亦有五六月發者。然甚罕。而其救之不早。則難得功。其症皆按其胸下有物奔上。醫須及其未衝心前救之。若其已衝心口。鼻出物如糞汁。藥不得下咽。皆自鼻流出者。十八九為難治。若口噤難得用藥者。須用拳頭強按右不容穴。如產論法。當得其口自開。又有一種吐舌者必死。不可救。又有平日多妒。夫妻反目。怒火熾盛。因發此病者。凡此症十八九。其胎墮。又有發癇中子宮自開。兒頭已臨。探之應手者。須用回生術。及早出之。不則。其癇症收復。亦必遲矣。又有癇後。繼成狂症者。又有癇後。郁胃四五日不醒省者。治方參連湯。第二和劑湯。第五和劑湯。一味熊膽。已上諸方。俱有經驗。須選用之。如其因致小產者。若用回生術後。皆宜折衝飲。後用第三和劑類。調理之。</p>
<p>參連湯方</p>
<p>人參（一錢用本邦所產稱直根者）　黃連（五分）</p>
<p>上二味水一合半。煮取一合頓服。</p>
<p>第二和劑湯方</p>
<p>黃連（四分）　黃芩　大黃（各五分）</p>
<p>上以水一合煎之。二三沸去滓。加辰砂五分攪用。</p>
<p>第五和劑湯方</p>
<p>茯苓　半夏（各一錢五分）　白朮（一錢）　青皮　直根人參（各五分）　枳實（四分）　生薑（五分）</p>
<p>上七味。水二合煎取一合。二勺分服。</p>
<p>折衝飲方（見產論）</p>
<p>第三和劑湯方（同上）</p>

<h1>探宮</h1>
<p>此為臨產候胎之法。凡產之難易。胎之死生順逆橫偏。及娩時之遲速等。專藉有此術。以得預審吉凶者也。產論此術。附見坐草條下。今為初學別作一術。以詳辨之。醫先以頭入婦左腋下。令婦以左手靠其肩上。醫右手裹綿衣入婦股間。其腕骨承婦肛門坐之。而左手向婦腰腹胞持之。每陣疼至。以右手承肛門者。昂按迎起之。陣疼一二至後。去所裹綿衣。逐掣開手勢。以其中指從陰門下邊。入探之。必從下邊者。蓋其上邊因其力息。陰肉脹出。不容入指也。如其水漿尚在膜中飽滿者。待其張時爪破之。具見產論。其辨是膜是兒頭之法。摸之其物柔軟若絹包水。按之成凹者是膜也。如兒頭硬且有發。須兩指頭撮以驗之。凡子宮開口。周寸許。而得兒頭應指頭者。此為娩期未至之候。及徑二寸許。乃是將娩之候。醫須以其指頭圜轉其兒頭項上。兒頭乃得作勢。其生必速矣。大抵探宮。陰中多濕潤者。而極乾燥者。亦有之。勿妄謂死胎。此是陽氣至盛者耳。又有子宮口尚向後。肛門探之不得者。此產論所謂橫冒子宮者。此產往屬難理。近得一法。須令側臥。從陰戶下邊深入。指拽正其口。使向前而可也。又有口向上者。須如前法。拽正其口。使向下。切莫妄謂子宮無口也。</p>

<h1>導水</h1>
<p>臨產之歸。有小便不通者。是以兒頭閉塞於陰戶而然也。若不通經時。則因以致成腹滿危急之症。須令婦人仰臥。醫以右手大指。入陰中。推兒頭。使下向。肛門陰中。因此得稍松蓄水。隨即得溢出。腹滿立減。氣息頓平矣。又一法。須令婦人少開股而立。醫以右手食中二指。入陰中強勾兒頭。引之使下向肛門。此用前術。兒頭不移者。乃可施此以救之術。意雖同。得功尤速。雖然若難產疲勞。艱於起居者。後術所難施。宜專意依前術。必得其效。又有兒頭偏傾右邊不通者。須令婦人左側臥。醫以食中二指。推兒頭下向左方。得頭稍向中。蓄水必隨泄下。又此不通症有力息俄止不來者。不可謂胎死也。以小便閉。腹中滿。致氣逆不升降。故譬猶飽食飽飲後。則氣難下張者爾。得小水通泄。力息必復再來也。又其小便通。有繼見血下者。此蓄汙不足懼也。若有如赤豆汁黃汁者下。而臭氣甚。乃是死胎。須用心察之。有胎已死。夾於戶陰。經日不免。腹因脹如鼓。逆上發嘔吐者。此為甚危急之症。須先用前術。取小便通。然後依回生術救之。救後或有水飲大通。若暴瀉者。如虛乏之婦。脈成微細。不能飲食者。須用綿衣罨住陰門。以令徐徐通之。胞衣亦不可急取。若使胞尿瘀血。一時俱下。恐致陽脫而死。須暫時消息藥食兼進。候脈息稍復。然後下其胞衣焉。</p>

<h1>坐草</h1>
<p>產論所載。有術二條。今新又有得三法。書以示初學。新術三法。第一娩候已至。醫豎左膝坐於婦前。以頸入婦左腋下。而左肩承婦之胸膛。令婦兩手緊持醫帶。而醫覆左手。抵婦右小腹。右手從其股間入昂。按肛門。其次第二。別令人就婦背後。以兩手從婦兩腋下。入向腹前擁之。而其指頭向下。其掌貼撫其任脈之左右。微帶下推之意。而每陣疼至。輒上提之。次第三。懸繩於屋梁。令婦人兩手攀之。及兒頭既出產戶。醫以兩手承持之。向陰門上邊拔取之。置於傍。而後使婦安坐以息之。置兒於傍之時。須加意防之。莫使飲惡露。又兒落地後。發聲不速者。或有臍帶左繞其頸一二匝者。故切又不可向前引之。恐以絞其咽。忽致危殞。宜急為弛去其臍帶也。又初產之婦。分娩之時。有或兒頭蒙物如薄絹者而出。此是陰戶內皮。蓋初產之婦。內戶肉軟皮脆。兒頭逼蹙冒之。以出者耳。若不知者。欲並拔去之。產後必致大痛。醫宜以兩手大指。與次指。托兒頭之上下推之。向陰中。使其自脫。然後令分娩。已上三法。並皆佐尋常壯實產婦坐草之術。如臨產經時。體已疲者。若體患水腫。不能坐草者。又須卷蓐。其頭漸高。而令側臥。醫坐婦前。從股間入手。以昂按其肛門。而左手扶婦肩。或使人扶之。亦可也。或令婦高枕側臥。醫坐其背後。以昂按其肛門。亦可也。</p>
<p>又一法。娩期已至。漿已破迸。胎猶在上。不得娩。經時者。救之之術。醫踞尺余小几。與婦相面。兩手指頭向上。以其掌按不容穴左右。令婦兩手緊持醫頸。舉體懸任醫左右膝頭。著婦小腹。醫仍生腰反背。每陣疼至作之。其胎乃自然得下向人門。又有死胎處深探之不得者。先用此術。後依回生術救其佗。臨產經日。嘔逆。胎因致上逼心下者。亦同前。</p>
<p>如產前患水腫。陰門腫滿。跪坐不能。兩股相湊。衣被觸之。亦作痛苦者。其分娩時。兒頭臨出。必不堪大痛。若不早理。致艱害。而此症。非藥物之所能理。須三稜針。用麻絲扎露鋒可一分。刺陰門分肉處。四周無算。仍以綿衣罨覆其上。輕手挹去其畜水。刺口水出。其腫立消。其產甚易。</p>
<p>又有非水腫。而產前後陰門大腫痛。其色赤者。切不可針。若誤針。則血出大痛。但須用龍翔飲。如上云。水腫者。其色白。針之不覺其痛。</p>
<p>龍翔飲方（見產論）</p>
<p>近閱清人所著達生編。其理孕護胎。用布約纏兩道。橫束腰間。此推其旨。正與本邦用鎮帶者同。則其害孕。非淺鮮也。至云臨產。但上床安睡。切忌用力。因取譬哺雞自能啄殼自出。是為時候未到。妄用力者言之。其理則稍似可聞。但其已失之於平時者。豈唯時候未到。妄用力者而已哉。恨無人航海。為彼民一告此者耳。</p>

<h1>斷臍</h1>
<p>凡斷臍帶。有二要。附臍者宜短。且去血。附胞者宜長。且不去血。附臍者。長宜四五寸。須用手指扼之。使其帶中黑血。不得滯著而留。四五寸用麻線扎之。距扎寸許。復一紮。扎訖後。竹刀截去。其兩紮中間。所以必短者。俗多以中人之臂腕至肘相距間為度截之者。誤也。蓋帶長則其干必遲。以此蟠屈著兒腹上。兒往往因致感寒腹痛。當深戒。所以去血者。以血去則易早干故也。附胞帶。所以必扎之者。以備若胞衣難下之時。攀曳易為力。若不預扎。帶中血盡。則忽皺縮成細小。不便把持也。故如健婦。雖不用扎而可也。又遇胞衣難下者。亟須先斷臍帶。使其兒先就浴為良。</p>

<h1>禁暈</h1>
<p>病候詳見產論。而其治術。余別又有所得。就婦人左邊而立。右手搭其背。左手按住其腹。上衝之物。推送之於委食本位。暈止甚速。然其手稍緩。輒復發矣。故若任產婦在椅中。乃永無平定之期。須不放左手。仍扶出椅。就蓐右側臥。過一二時。則得平定。平定後。左右臥。從其便而可也。上所言。乃治產論所云。血氣上起。與食谷相搏。其頭必仰者之暈之術也。又因瘀血衝心而暈者。術須先禁暈。醫以左手大次指。緊按左右不容穴。則知。知則如法右側臥。灌折衝飲。抽刀散類。又因脫血而暈者。或即死。或二三暈即死。尤為難治。先須遏血術。詳遏崩條。然後依左手按不容之術。而後右側臥。治方第一和劑湯。或第四和劑湯。</p>
<p>折衝飲方（見產論）</p>
<p>抽刀散方</p>
<p>用五靈脂一味為末。每服一錢。白湯調下。日二三服。</p>
<p>第一和劑湯方（見產論）</p>
<p>第四和劑湯方（同上）</p>

<h1>抒倒</h1>
<p>產論說此三術甚詳。今新有三術。為初學記之。凡用抒倒之術。手須輕捷。稍遲兒則死。若兒死。足腹皆出。而兩臂礙住不得出者。須令婦人左側臥。從陰門下邊。入左中指。當探得兒左肩膊。是時。須以其指頭。循其膊而漸移索其臂灣。臂灣既得。則以指頭抅而引之。其臂乃得屈折而出。又令右側臥。以右手探兒右臂。出之如前。兩臂已出後。若兒頭仍拒橫骨不出者。醫當須以綿衣裹兒體兩手捉持之。向裡面一送。就勢即拔乃出。若猶不得出者。令婦以尻端踞尺余小几上。醫坐其前。綿衣裹兒兩手緊捉。聳腰兩肘後。專用力以引拔之。猶不出者。令婦頭漸高仰臥。醫左手緊曳兒體。而右手中指。從陰門下邊。入以探應。得其兒口頷。指頭就以入口中稍緩左手。而右手引一。引得兒頭下俯。乃出。其左手始緊曳者。以兒稍高。則不可得其口頷故也。用此術者。靡不得免者矣。又有頭礙橫骨難出。產婆誤強引。致首體分裂。而拒留腹中。指探之搖滑難取者。須令產婦匍匐。別使一人手捫其腹。緊緊按住。推下。向小腹。不容放手。爾後依回生術出之。凡逆生者。其胞衣多連兒並出。以胞元蓋在兒膏肓上故也。</p>

<h1>整橫</h1>
<p>兒手指若肘先露者。名曰橫產。術見產論。然露已及膊者。不可復順正。宜依回生術以救之。又橫產有探得其背者。須令婦高枕。開股仰臥。醫用左手指頭。推轉上送之。得其腰曲彎之處。即用左指頭從兒股間。入抅其髀曳之。其腳乃出。若不出者。依回生術救之。閱達生編。有治倒生橫生法曰。急令安睡。托入手足。再睡一夜。自然生。其言果是邪。今夫平人。一有動心。不能著睡。矧產難之露手足者。雖以千萬慰諭。無安睡之理。何況再睡。且如倒生。非卒然之變動。自胚胎而然。以此吾門得妊娠八九月。一按腹。便知之也。彼乃又言是時候未至。妄自用力之故。大可笑。雖然醫書多妄誕不止一達生編也。噫。</p>

<h1>拔坐</h1>
<p>救坐產術。產論附抒倒條下。而其說。名狀未詳。亦不言用手之法。故此明之。凡探宮得子臀尻。若後陰。若前陰者。名坐產。而此產。余嘗救數十人。未見兒盤膝坐者。獨其體成兩折。頭腳相會。腳尖倒朝母乳前者甚多。因思古人有坐產之名。唯以得其臀尻命之者耳。救之之術。須醫坐婦前。而令婦左側臥。伸其腳。翹其右腳於醫肩上。使一人扶持其腳。醫豎左膝而坐。進身入婦股間。而以右手中指。入陰中。漸擠其胎之臀尻。使轉向上。以索其腳。是時當使婦勿力息。力息則使其兒背愈下。腳愈上故也。既胎稍得偏移左。兒左腳可探陰中。亦乃得寬鬆有餘地。便可手法施展。是時須用心。候其胎之死活。活胎先須以中指探之。挑出兒左腳後。令婦右側臥。探出兒右腳。如前法。兩腳出後。高枕仰臥。開股。豎兩膝兒腳。裹綿衣。引拔之。如抒倒術。然坐產見活胎者。千百中僅一二耳。若死胎。依回生術救之。</p>

<h1>舉孿</h1>
<p>治術詳見產論。而今有緒言一二。附列於左。凡遇孿胎分娩之時。須視其胎。差有競意者。先出之。若夫順產駢首向下者。不必令婦仰臥。惟用坐草術扶之。而可也。一胎已娩後。推其後胎。向腹中央。用按腹第六術數遍後。待婦力息復至。然後使娩之力息未至。切莫強欲出之。若死胎須用回生術。若雙逆產。見兩兒臂尻者。產論不言其術。此尤為至難之產。若依疑不決。必致子母雙斃。須令婦仰臥。視其胎差有競意者。隨其方上之斜側臥。醫從其小腹。推其胎。使向下。然後依回生術救之。一胎已出後。推其後胎向腹中央。待力息至。然後使娩。雖才得一足。須急以綿衣裹引拔之。又有一兒手。一兒足齊露者。須托其手。使入內。而持其足。急引拔之。又順產有一時探之得兒頭。與肩並出者。狀大與雙胎相類。宜審辨別。切勿誤認。有圖見下。凡雙胎一順一逆者。其先娩者。其兒體必小。以其受胎在後。故其所處亦近。所以先娩。如後娩者。必大。以其受胎在前。故其所處亦還。故後娩多滿月之胎。先娩多未滿之胎。凡孿胎胞衣。其大倍尋常。須要及子宮未斂口前。早出之。稍遲取之甚難。不可不知也。但其出之。須候血氣稍定後出之。不則恐因致脫血之患。</p>

<h1>易蓐</h1>
<p>難產已救後。產母甚疲。其衣衾穢汙。而難換易者。今為之設易蓐之法。其法令婦人仰臥。醫跨婦腹上。而背立。令婦兩手攀援醫背後帶上。以身附之。醫俯以兩手左右抱持婦兩股舉之。使一人佐舉其頭而舉之。用此法。搬行婦。乃不致搖動。可以左右隨便移易其蓐。極妙。其設蓐高枕等法。產論已詳之。</p>

<h1>遏崩</h1>
<p>凡卒暴大血脫下。名之曰崩。崩之因有數種。有分娩後。產婆欲下胞。強按腹動血。因致之者。有分身後。即緊束鎮帶。仍起步就椅。因致之者。又有發嘔吐輒血大出者。又胞未至。而崩仍發暈者。尤為極惡候。又有因產後。房勞而崩者。又有平日經行不順。二三月閉後忽崩且發暈者。而前數症。又有兼寒慄者。寒慄是為屬血熱。又有五十上下婦人。經水欲斷。忽致崩者。凡救崩須急赴之。如產論所述。而產論言其術。唯舉梗概。不致詳細。今因詳明之左方。醫急右足跨其臥婦腳上。而屈左膝斜抱婦右腰。著左膝上。使伸兩腳。其左腿灣自著其右膝臏前。抱之之法。亦須以其左手。從婦右肩上進向左腑下抱持之。以右手提婦左腿。仍張小腹仍戾身微左顧。乃得婦陰戶緊閉。暴下即止。又是時。宜婦頭低。若暈者。醫右手按其不容而可也。有鎮帶者。急解去。灌藥。脈微細者。宜第四和劑湯類。輕症者。宜四物膠艾湯。按腹則痛。腹中有塊。有力息。血熱甚者。宜折衝飲。大便秘。脈數。心下痞硬。面赤逆上者。第六和劑湯。龍騰飲。調理大補湯。</p>
<p>又遏崩一法。</p>
<p>令婦人側臥。醫就背後而坐。以一手按婦臀肉。一手持婦側臥在下之足。提上之。亦可經閉。俄崩下者。往往後多繼致懷孕。此是以瘀血盡。中氣清和故也。又有脫下後血虛者。手足覺湯水滲入者。尤須加調養。</p>
<p>第六和劑湯方</p>
<p>黃連　黃芩　山梔子　大黃　黃柏（各五分）　甘草（一分）</p>
<p>上六味。以水二合煮取一合。三勺溫服。</p>
<p>折衝飲方（見產論）</p>
<p>龍騰飲方（同上）</p>
<p>大補湯方（同上）</p>
<p>第四和劑湯方（同上）</p>
<p>四物膠艾湯方（同上）</p>

<h1>泄閉</h1>
<p>此救世呼轉胞者之術。而是症難產婦尤多。患此者。余嘗數救此症。診其腹。率皆其左小腹水道穴。邊脹起。甚則通腹脹悶如鼓。因知此本非真胞系了戾者。特以其小便不利。強起其名者也。凡患此者。有二種。其一。臨產兒未出。產婆強按其腹。腹內子宮。與兒胎相摩軋。子宮因致傷腫起。脹墜以閉塞尿道而然。其一。子宮追下。梗於便道。此二症。其因雖異。其候則同。救之之術。凡有四。其一按腹。第六術為之數遍。若不通者。令婦仰臥。醫就其右脅邊坐。疊聚兩手指頭。而按其左水道穴上。抅拽向前。子宮因此抅拽起。畜水乃出。若猶不通者。醫就婦前跪坐尺許小几。先伸進兩臂。指頭下向。以掌按婦左右水道穴邊脹起之處。此兩手用力。意各不同。右以推託為主。左以抵拒為主。而用其力。又須更以其右膝頭。當右肘後骨佐以撐之。左膝頭。當左肘後骨佐以支拒之。是時。又須令婦以兩手掛醫頸。以其身懸任之。醫仍微反已身。而以左顧。亦其子宮得抅起。而畜水乃出。若猶不治者。令婦仰臥。醫跨其婦。當其膝上。面婦立。仍俯以兩手掌側骨。承其水道穴脹起處。用力推託上。其左右手意略與前同。而此法尤妙。畜水隨手而出。又有腹滿。每搖動聞水聲狀。若欲暴瀉。而水卻不通者。若不導之水。而腹卒暴覺痛必死。此蓋分娩後。子宮未收。塞在陰中。以閉尿道。故致然也。此時醫須以右手。分大指次指。當橫骨上際。承其腹。而以其掌側骨隔腹皮。按其子宮。徐徐推之。令上收。乃得畜水。隨手通泄。可以免危斃矣。治方玄英湯。危急者。錫圭丸。</p>
<p>玄英湯方（見產論）</p>
<p>錫圭丸方</p>
<p>大戟　甘遂　蕎麥（各一錢）　大黃（八分）　巴豆（七分）</p>
<p>上五味。為末。粳米糊丸粟子大。每服五六十丸。白湯送下。</p>

<h1>納腸</h1>
<p>凡腸出者。臨產時候未到。強令努力。因致腸脫出者也。若不早收。乃乾澀難入。以成終年之患甚多。納之之法。綿衣漬溫湯。若煎蔥汁頻頻換之。以蒸溫其腸。又以海羅汁。若燈油之類。塗潤之。然後令婦豎兩膝蹲坐。醫就其右邊。徐取其腸。所脫出者。先自上邊肉際者起。以指襞疊以漸托入之。其餘在外者。束之作一處。仰右手捱傍陰門以載之。五指皆內向以束持之。令婦右手搭醫左肩。別使人卷蓐以帶扎之。以此蓐承婦腰眼邊。而又手托承婦頭。醫以左手抵承婦背後。令婦身委任而臥。則當背反腹脹。是時以右手所載腸齊時托送。即得斂去。斂後。欲小便。須以綿衣罨陰門上。徐徐使通。不然。恐復脫出。治方。第一和劑湯類可也。此本產論斂宮之術。而彼以左膝髀抵腰後。以承婦身臥。其術非有臂力者。頗難施用。今因以卷蓐代之。</p>
<p>第一和劑湯方（見產論）</p>

<h1>斂宮</h1>
<p>一名收宮。此亦產時強努力。致子宮出。娩後未能斂者。斂之之術。與上納腸之術同。但腸與子宮。恐難辨認。今因詳之。腸大而無口。其色灰白。如子宮。乃其形圓。如曲腰匏。有口向下。其色赤而有灰白色。橫文。以此辨之可也。又娩後有胞衣下後。被膜尚遺陰戶夾之。外見其端者。須試展之。得展開乃是被膜之餘遺也。當引拔之。</p>
<p>又難產後。有遂患小便自利者。凡難產婦人。後必多患此症。蓋以其分娩冒。兒頭久夾不出。其子宮後遂習大開。而不能斂口。因致尿道不爽利。其小便不覺自出而然。若遇患此者。當教之令其夜臥。常自伸其兩腳。三四十日後。其子宮自得斂口。而此患乃除。若在產椅。臥不伸腳者。必成終身之患矣。不可不以叮嚀告戒也。此症若因又致腹脹者。依泄閉術救之。（術見前）</p>

<h1>復肛</h1>
<p>令婦人側臥。著枕於耳垂下。溫湯蔥汁之類。蒸溫其脫肛。海羅燈油之類。塗潤之。襞疊聚束。右手載之。令婦身極反就勢推送。意一如納腸法。即得收口。復後須要令大便不結。大便結。必復脫出。治方龍騰飲。朱明丸類。（二方見產論）</p>

<h1>救痙</h1>
<p>此小產後。角弓反脹者。救之之術。凡遇此症。須急走就其右邊而立。以左膝抵婦背後。右足之跗。當婦右膝前。俯身左手托婦左肩。以右手大次二指。強按婦不容穴。醫仍自退其右腳。以其腳指與膝頭著地。後踵承右臀下。而屈折坐。是時就其坐勢齊時。兩手仍前勢以引婦身。使與己身相貼依。而欹臥之。急別使人引伸其兩腳。以此術折其反張之勢。再不復發。但醫抵其背後之腳。要猶著其背後。不相離暫時焉。</p>

<h1>通計二十術</h1>

<h2>死胎候法</h2>
<p>凡胎死生之候。是產科施術。緩急險易之所由分者。不明之。其誤人必多矣。不可不預知也。故今緝錄產論中所有候法。散出諸處者。尚附所新得一二。以為初學開列於下。</p>
<p>孕婦患水腫。或有不能。及臨月。八九月。俄免者。多死胎。其能至彌月者。此稟賦堅強。倖免其死者。然千百中有一二而已。</p>
<p>凡妊娠八九月。因食傷而娩者。多死胎。凡因食傷而娩者。雖臨月之胎。其所出娩兒。能育者。甚少。</p>
<p>凡臨產不娩。經四五日。忽乳汁出。必是死胎。</p>
<p>凡產婦嘔吐不止。氣上衝心者。死胎。</p>
<p>凡陰中出黃汁。如赤豆汁者。為死胎。</p>
<p>凡發子癇者多死胎。少活胎。</p>
<p>凡妊中顛仆而娩者。多死胎。亦多橫生。</p>
<p>凡腰間忽覺若負任者。死胎。</p>
<p>凡五六月。腰八髎穴邊。作陣疼。臍下又痛者。必小產。</p>
<p>凡七八月。患熱痢。因勢力而免者多死胎。如滿月者不必然。</p>
<p>凡患疫兒死腹中者。必陰戶下血。</p>
<p>凡臨產其痛俄止。力息不來者。多死胎。</p>
<p>凡患淋疾。若瘧疾者。多胎墜。</p>
<p>凡臨產下水不止。探之兒頭不瞤動者。死胎。</p>
<p>凡臨產小便利者。是子頭不在橫骨中。故非橫逆生。則其子既死腹中也。雖然死胎。又有不必小便利者。須臨時審候。以決知之。</p>
<p>凡初產。其痛止在腹。而不下腰。及肛門者。非橫逆生。則其子已死腹中也。</p>
<p>凡臨產努力。產母聲息細微。每仰者。死胎。</p>
<p>凡破漿後。兒已出子宮二寸許。而不免。經時者。其胎必死。若尚冒膜水漿未迸者。不必然。</p>
<p>凡子未娩。其胞衣先下者。必死胎。且多橫逆生。</p>
<p>凡兒腰已下甚大者。死胎。其大有至如巨柱者。名曰壯尻胎。</p>
<p>凡兒斜冒。子宮出於橫骨下者。死胎。</p>
<p>凡破漿後。猶下水不止者。多死胎。</p>
<p>凡雙胎。先出而胎小者。不育。後出而胎大者育。</p>
<p>凡有腫氣者。自臨產前二三日。水下不絕。而不覺胎撐腹。腹又不痛者。多死胎。</p>
<p>凡坐產露臀尻者。多死胎。其活胎者。千百中一二而已。</p>

<h2>嬰兒保護</h2>
<p>凡赤子已生。斷臍帶後。須用五倍子粉糝之。以紙全裹之。屈曲安臍上。別用絹帶。自其背纏束之兒體上附臍處。切莫令牽急。恐致兒臍。因之突出。終身不復。兒若頻啼。須視臍帶。大抵六七日乃褪落。有經二七朝不褪者。又褪後俗多灸其臍者。大不可也。恐小兒不堪火攻之。若因發天吊撮口等病。世亦初生多飲。硃砂蜜。若甘連湯。吾門所用甘連。加紅花大黃。或鷓鶘菜湯。若發鵝口瘡。紫圓一粒。間日用之。不知者。用二三粒。以知為度。始乳以母乳出。為候始。乳之可也。是其稟生本資之自然。禽獸皆然。人何以異。世乃有不待母乳出。便雇乳婦者。殊不知乳早。則胎毒致難下也。雖然。如其未滿月而娩。若稟賦薄弱者。早乳調養亦可也。其浴初生。手須輕捷。切不可久浴。世多有因發臍風等病。宜深戒之。又用其所褪落臍帶。燒之存性。與兒飲之。以下胎毒。其兒發痘疹甚少。驗之屢效。又已娩。未發聲前。肌溫者。不逾三日而死。又肌黃色者死。又生兒七朝內。有頭肉腫起如瘤。其色與平肌肉不異者。此蓋娩時。頭為陰戶所夾。瘀血聚結所致。須用三稜針略破。其出血色如煤。其腫立消。以上嬰兒保護之術。所當預諳者矣。</p>

<h2>試乳</h2>
<p>凡試乳之法。先須注之於黑漆器上。以視其色。淡者為上。濃者為下。淡蓋血液所化居多。濃乃穀味所化居多。濃者其來不久而易止。且以飲初生小兒。性重滯。必傷其胃。不可不察。其乳房捫之堅實。若覆碗者。為上。垂下者為下。凡乳來之長短。常與經水相為表裡。其兒已死者。其乳易止。而經來必早。乳出久者。其經或三四年不來。古人云在上為乳。在下為經者。其言似不誣。凡產後初出乳汁者。勿與飲此。蓋數日房中畜積之汁飲之。必有害。須要數回絞去之後。始飲之。為可。凡乳婦其氣血不和順。則其乳不出。若其忿怒。若勞心傷氣者。必忽止。又富貴之家。買乳婦入門一二月。往往忽止者。人多謂之詐騙。殊有不然者。蓋其乳婦多卑賤。平日家居。時放縱恣性。驟入貴第。法度森嚴。身不得自由。氣因致鬱滯。是以其乳頓歇不出耳。此等事。醫亦不可不略通其故者。故此並論之。</p>

<h2>浴法</h2>
<p>浴產前後。皆吾門所大禁。無輕視。妊娠中。屢浴者。必多患水腫。或病淋疾。故妊婦九月已後。宜禁浴。嘗見因浴致胎動。上逼心下。卒就危殞者。往往有之。是故雖乃暑天。亦切不可每日浴。但午前後。輕輕浴之為妙。如產後無他症者。經二三日後。欲浴者。須以巾漬熱湯。絞拭去其汙痕。如稍重者。若難產後者。此拭亦禁。如平穩之婦。過二七朝後。看其脈症平和。始許輕浴為可。而其浴又切不可用浴盆。而須用浴桶。多設其湯。輕浴之。餘數見平穩產婦。早浴忽發熱。氣息短促。遂致危斃者甚多。不可不懼也。</p>

<h2>懷孕圖</h2>
<p>明和壬辰之春。子啟先生。再蒙藩召來在江戶邸滿城。士庶家迎敦如織。門下諸子無閒。受諄而請益不已。先生誨僕等。作諸產形狀圖。畀之諸子以補其提耳所闕。其圖凡三十二。其中蓋亦有產論終未及言其治術者。雖然識者。若據斯圖。而以復求論之微旨。則思過半矣。</p>
<figure>
<img data-orig-src="urn:270:03467.jpg" alt="正產破漿未迸圖">
</figure>
<figure>
<img data-orig-src="urn:270:03473.jpg" alt="正產懷孕圖">
</figure>
<figure>
<img data-orig-src="urn:270:03822.jpg" alt="正產探之得半頭並肩圖">
</figure>
<figure>
<img data-orig-src="urn:270:03823.jpg" alt="正產冒子宮圖">
</figure>
<figure>
<img data-orig-src="urn:270:03824.jpg" alt="壯尻胎圖">
</figure>
<figure>
<img data-orig-src="urn:270:03825.jpg" alt="正產探之得頤圖">
</figure>
<figure>
<img data-orig-src="urn:270:03826.jpg" alt="正產七八月被膜胎圖">
</figure>
<figure>
<img data-orig-src="urn:270:03827.jpg" alt="壯尻胎露半身圖">
</figure>
<figure>
<img data-orig-src="urn:270:03828.jpg" alt="倒產懷孕圖">
</figure>
<figure>
<img data-orig-src="urn:270:03829.jpg" alt="剖膜見胎圖">
</figure>
<figure>
<img data-orig-src="urn:270:03830.jpg" alt="倒產胞衣先下圖">
</figure>
<figure>
<img data-orig-src="urn:270:03831.jpg" alt="倒產先露胞帶圖">
</figure>
<figure>
<img data-orig-src="urn:270:03832.jpg" alt="倒產兩足交叉露一足圖">
</figure>
<figure>
<img data-orig-src="urn:270:03833.jpg" alt="倒產露兩足圖">
</figure>
<figure>
<img data-orig-src="urn:270:03834.jpg" alt="倒產頭項礙橫骨圖">
</figure>
<figure>
<img data-orig-src="urn:270:03835.jpg" alt="倒產露下身肩以上未出圖">
</figure>
<figure>
<img data-orig-src="urn:270:03836.jpg" alt="倒產露一手一足圖">
</figure>
<figure>
<img data-orig-src="urn:270:03837.jpg" alt="倒產露左足胞衣先出圖">
</figure>
<figure>
<img data-orig-src="urn:270:03838.jpg" alt="坐產探之得臀肛圖">
</figure>
<figure>
<img data-orig-src="urn:270:03839.jpg" alt="倒產露左足圖">
</figure>
<figure>
<img data-orig-src="urn:270:03840.jpg" alt="橫產探之得背圖">
</figure>
<figure>
<img data-orig-src="urn:270:03841.jpg" alt="正產歪斜圖">
</figure>
<figure>
<img data-orig-src="urn:270:03842.jpg" alt="橫產露手胞衣先出圖">
</figure>
<figure>
<img data-orig-src="urn:270:03843.jpg" alt="橫產露臂膊圖">
</figure>
<figure>
<img data-orig-src="urn:270:03844.jpg" alt="橫產露手指圖">
</figure>
<figure>
<img data-orig-src="urn:270:03845.jpg" alt="橫產頭手足及胞帶出圖">
</figure>
<figure>
<img data-orig-src="urn:270:03846.jpg" alt="孿胎雙逆圖">
</figure>
<figure>
<img data-orig-src="urn:270:03847.jpg" alt="孿胎正法圖">
</figure>
<figure>
<img data-orig-src="urn:270:03848.jpg" alt="孿胎雙逆各露兩足圖">
</figure>
<figure>
<img data-orig-src="urn:270:03849.jpg" alt="孿胎駢首向下圖">
</figure>
<figure>
<img data-orig-src="urn:270:03850.jpg" alt="孿胎雙坐探之得臀尻圖">
</figure>
<figure>
<img data-orig-src="urn:270:03851.jpg" alt="孿胎一逆一橫露一手一足圖">
</figure>
<p>孕胎奇者。孿胎之外。又有品胎。㗊胎等。蓋造化偶感出奇無窮。僕輩方集此圖。請問品胎。師云。品胎甚罕。家君平生治孕婦數萬。僅見一二而已。故其法未詳。君子於所不知。則闕之可也。是以此等數種。例不具圖。</p>
<p>附錄治驗二十八條</p>
<p>甲午之歲。克乞暇西遊。受業東門橘先生。同盟近藤生者。曾受產術於子啟先生。因又得介從事。子啟先生。乃今產論翼成矣。二三子商克以記其治驗附之。然而子啟先生之門。迎請如市。而無產不艱。無艱不起。不可勝書。雖然此其於事也。偶令外人窺之。率又有猶甚於蜀犬吠日者焉。克以忝從門牆。未乃不自揆。乃與二三子相議。抄出其最異常。可以備後案者。以錄卷尾云。水藩玄亭原昌克謹識。</p>
<p>[孿胎]一條坊賣油家婦。新妊。至五月墮胎。後二月而腹仍便便。延師診曰。是孕也。婦曰自胎墮夫出賈於外矣。師曰。勿疑予言。胎已七八月。但善自防護之可也。既滿期。而果產。母子皆無恙矣。此蓋孿孕而奇之又奇者。</p>
<p>[品胎]四條織羅匠之女。因失足顛躓。右腳腫大。遂成痛楚。醫之來者。不曰痛風。則曰腳氣。延師診之曰。是孕也。且為品胎。皆已死矣。用藥者誤焉。母亦不可救矣。舉家以其處子不信。及為出之。眾皆吐舌。其明日而死。</p>
<p>[乳後發狂]明和戊子。師應召在藩。一村婦有乳後發狂已經八年者。此年復產。幸師適在。其夫來請之理。師為作折衝飲二劑。且囑曰。煎成加硃砂各四分。後朝其夫來謝曰。未盡劑。狂狀頓退。今日則無所病。師乃更為作劑。復囑加硃砂四分。如前煎。夫驚曰。嘻僕昨誤聞教命加至四錢耳。此可謂郢書燕說矣。師每語人曰。積年之病。非小劑之所能理也。後以為談資。</p>
<p>[死胎]師在藩時。一武棄某氏內人。經閉六月。以為瘀血療之。一朝腰腹吊痛。更發嘔噦。藥食不下者五晝夜。勢已危極。眾醫束手。因迎師診視曰。是孕也。而兒既死矣。不速出。則母亦斃。家人疑阻將議諸姻族。叱曰。生死之分界。豈緩議之時。急與第四和劑為出之。果死胎也。時阪東生亦在坐。後語人曰。師之用術。速於牙醫拔齒。</p>
<p>[誤孕變癰]鄰里有一尼。經閉者累月。自以為妊。以墮藥塗一草根。插入牝戶。竟不出。後二年。而發臀癰。不堪痛苦。因延師。乃與楸葉湯。其莖自潰口出。癰亦尋愈。</p>
<p>[溺秘不產]明和辛卯。師從公在武城之邸。一梨園者之姊。數日不產。小便秘澀。腹脂如鼓。道中一望而去者不一矣。乃介邀師診。則兒項拒留於橫骨間者也。曰當先導水。令患者左側臥。行導術。捫其腹一按。快利。始能飲食。因為出之。遂得不死。</p>
<p>[死胎]一國侯侍醫。在武城。邸某姓女。坐草不免者十日。神脫脈絕瀕死矣。會師自京來。因求療。師曰。是死胎也。為出之。頭顱三折而出。於是乎父子執弟子之禮。</p>
<p>[陰挺一名㿗疝]堀川一鍜家。妻三十五歲。有物槁黑出於陰門二寸許。大如筒。不得前溲者四日。立起解之。則不能涓點。臥則得微通。眾醫不知為何物。延師診視。問有痛癢乎。曰無。乃指頭搜出之後。稍白色者可三寸。割之。理如纏筋。爾後順利復故。</p>
<p>[血塊]大宮街菸草行。妻三十三歲。經閉十一個月。妄認為妊。一日腹內大痛。穩媼勉強坐草。愁楚之聲不絕。師診曰。是血塊也。乃今將潰。所以有痛也。與折衝飲。下黑血塊大如拳者十八枚。調理旬余而收功。</p>
<p>[室女懷孕]一村莊室女。經閉五月。眾醫誤認。投破血劑無驗。招師診曰。是妊也。父母不信。從迄九月。請診老夫子。老夫子因問師曰。汝嘗視此女邪。曰然。曰夫腹大九月。而無應者。吾恐未為娠也。師曰。前診得孕候。請待十日而更診之。乃旬余。而老夫子與師復診。仍無應者。父母又相語曰。阿子性格謹厚。安得有奸。將復用破血劑。師堅爭以不晚過二十日外。胎始應手。乃引其母之手以示之曰。是兒頭也。是兒手也。父母愕然。遽具襁褓。以待後半歲而娩。前後計十五月。而母子皆全。</p>
<p>[子宮下脫]郡村一農婦。產後子宮脫不收者五年。色黧黑甚堅。而其口反向於下。月信至。則自其口出。師為行斂術。霍然復故。</p>
<p>[血暈]鄰里一婦。駢胎舉一男一女。胎衣不出。嘔吐昏煩。仍發血暈。為行禁術。次日胞下。河島村一農婦。既產。胞未下。亦發暈。師為禁之。更與折衝飲。越三日而下。皆得輕快。師每語人曰。胞滯發暈者。雖得一救。全功難收。如是二婦。實千百中之一二。倖免鬼籙者耳。</p>
<p>[死孿]千本坊一婦。逆產已露全身不出者。累曰。因請師至其家。夜已半矣。診之。其胎孿也。皆已死。蓋先是坐婆強引其所露之兒項頸挺長。但有皮連如線。已當師探之時。如線之皮。已自絕去。乃先為出其全胎者。既欲取其所遺之頭。其頭在內。轉滑不可捉定。探索久之。而始得其口。乃抅曳出之。以產難移日。故脈息俱虛。無力開聲。先是其婦母病臥其後室。其夜醜牌。勢極既屬纊家族悲泣。聲聞於產室。婦聞其聲。詰問不已。繼覺其死。乃又悲傷。氣勢更疲。急與第四和劑。且慰且叱。因曰。死者有命。悼之何及。胡不自重。汝今臨危不如生者之不殞其身。撫喻數次。婦心稍若回者。俄又鐘聲連響。殷殷徹耳。報言失火。師復慮其驚悸生變。守不離側。百端安貼。心力俱費。竟得無事。後語門人曰。若使世之產。就椅者。則其豈得救乎。</p>
<p>[腸覃]六條土手坊。一商婦。歲三十八。秋間患痢。醫與澀劑。變成腸覃。肚腹如箕。坐則不見膝頭。眾以為必死。置之若棄。有人偶延師診之。肋骨歷歷如蜘蛛。以腹皮脹極。連引麵皮。口眼歪斜。悉向下先與鎮砂丸十錢。且日唯食以赤小豆。及麥。通利漸順。出入歲余。而竟得存生矣。量小水凡五斛八斗有餘。除飲食所日用者。則一斛六斗。</p>
<p>[蠱脹]住吉巷餅匠之女。乳後在草蓐手足腫裂。狀如大風。師乃與鷓鶘菜湯。下蟲及穢物。更與四物湯。加芩連而康復。</p>
<p>[子宮割脫]朱雀邑。一農婦。娩後產門下垂一物如囊。躬自欲出之。持刀子忍痛貫之。意欲以為奉出之。已而誤割。不堪痛楚。因迎師診曰。是子宮脫也。則行斂術。傷口亦遂不覺有痛。嗣歲復生育。</p>
<p>[死胎]一內人初妊當坐月。一日覺腹內微痛。坐婆以為臨盆。醫者雷同。投用催生劑。或稱易產奇方珍藥。紛紛亂投。擠簇房中。須臾霍然。既間二日。復痛漸緊。坐婆曰。莫慮是試疼也。又邀前醫看之。醫曰。定痞痛也。唯忍痛為可耳。乃處理痞之劑去已。而腹痛至不可堪。家人以信醫及坐婆之言。不復顧後。迨七朝面上發黑斑。於是家人輩始覺其有異。同族適有知師者。迎而視之。婦聲音舉止尚如平日。唯六脈數急。師出則告家人曰。是猶死屍也。胎柱橫骨。而母羸甚。回生有術。亦難以施。胎若一出。其斃乃不待瞬。是取胎失其期之過。雖扁倉亦不能救耳。婦果不及娩而死。</p>
<p>[產兒不啼]一婦欲娩不娩者累日。招師至。則既產兒。不發聲。全面皺縮。目鼻無別。婦與穩媼相議曰。兒生若此。縱令得長醜怪驚人。為眾目所笑。噬臍其及乎。師曰叱去。無他。此特產難壓橫骨而然耳。已而不經二時。形已復。</p>
<p>[寡婦懷孕]一寡婦三十五歲。經行不來者五月。眾醫以為經閉。理之遂下紫黑衃血者。累旬而不已。家人皆以為所下未盡故也。乃來托之師診曰。是孕也。因與膠艾湯十日而血遂止。及滿月而果娩。母子俱全。師命門人記之。</p>
<p>[死胎]烏丸坊。一米戶。妻初娠。年甫四十。產難旬余。綿綿漸就沉滯。眾醫技窮。延師診視。四體疲極。六脈細伏。而惡臭滿室。告曰。胎死既久矣。不亟療母亦斃。療亦危。家人泣曰。病固危急。君爺幸盡意救之。則死而無恨也。因為出之。娩後劇大熱。一身如火。昏悶煩躁。口渴引飲。極喜熱粥。六七碗。時或吐沫。咬牙。日發五六。甚則將死。用鷓鶘菜湯五劑。下死蛔前後十六條。貼然得痊可。</p>
<p>[滑胎]棚橋氏內人。每孕必墮。藥餌針灸。竟不見寸效。兄弟相議。托師。婦泣曰。妾重身者嘗七。不得一正產。父母以責妾。生兒育三日。則死而不恨。告曰。有一法。唯恐不從也。曰唯命是從。師因為之。棄去鎮帶。與以膠艾湯。且戒之。夫妻別寢。又禁浴。時會盛夏。連月天旱。彼以信師言。堅守其戒。終無點滴濡身者。師又為之。日以整理其胎。遂得及期而舉一女子。次年復孕。亦如前法。復舉一女子。</p>
<p>[產椅之害]五條街。一釀家妻。年過三旬。經產者凡十一。最後已乳。腰中強硬。不能行履。越三年。百藥無驗。師先用洞當飲。加地黃。藭、歸、杜仲、牛膝。其次日刺左右委中各一針。隨手而忽起步矣。退嘆曰甚哉。產椅之害人也。</p>
<p>[產後發癇]六角坊。絹商婦。娩後八朝。倏忽暈厥。藥汁不下。眾醫不知所理。以危急延師。至則見家人哭泣者。且辭曰。婦不幸不能及君之一診。既逝矣。師曰病發日。且而今尚未移晷。余且為視之。直入出告傍人曰。婦未死。此曰癇。一身溫和。尚可救也。皆曰。君其毋欺乎。曰救之而不理則命。是何忍以不救而死。乃行救術。氣息少通。脈亦微應。乃急濃煎參連。頻頻灌之。夜半稍省人事。次日能言。迨五朝而瘥。</p>
<p>[陰門潰爛]師在出羽時。一婦乳後患人門潰爛。起步則如刺。時時尿床。為診。且探宮陰中有物。大如桃核。頗類浮石。應指而出。爾後若一掃頓快。</p>
<p>[鎮帶壓胎]一門徒僧內室。胞漿既下。不產者七朝。穩媼勉強努力。身體困倦。腹內猶疼。不能側臥。一老醫投用附子理中湯。益甚。先是嘗新產患腳弱。受診老夫子。以故招師。師至未診。問曰。有鎮帶邪。曰然。曰是病之原。當去之。鎮帶壓胎。先所下之水。即脬中餘瀝也。於是為以整胎術。未半痛頓除。更與洞當飲二三劑。巾櫛如常。越四十日。胎被膜而娩。母子並全。</p>
<p>[死候]堀川菸草戶妻。坐月患咳嗽。動作無衰。師診曰。死期在近。娩後不越二日。果然。二三子問其所以。曰。測法云。虛里動劇者。乃氣急之兆也。以故知之。</p>
<p>[子宮下墜]室坊染匠婦。經閉三月。偶出行遊。歸後小便不通者十五朝。涓滴亦無矣。幾至於危。延師診曰。是子宮下墜。梗便道也。用玄英湯。加竹葉。投二劑。師因創意。以蓐墊起其腰後。候背反腹脹。使一人就其右。兩手隔腹拽上子宮。師以右手食中二指。自陰中捺下。其子宮口反向上者。小水即潰決如泉。肚腹頓宛而安。泄閉用是術。自此始。</p>
<p>[偽孕詐身]田中生妾新產。延師至。其家則曲屏周圍。衣被黏著。婦交睫。而倚椅。診之其腹豐充。其乳寬皺。而婦出聲曰。妾素多病。產前用藥不少。乳汁恐不給育兒。師笑曰。如是。乳房原無汁之理。乃使一婢。取其赤子。其兒頭圜圜。蓋經乳已再三。尤易產者之兒也。及出語曰。診之無產後之證。彼將紿余。是必有故。既詢之妾者。故祗園一娼妓也。生未弱冠時。買為妾。為作一室。外居之後。數年無子。因更聚他。已而其妾與其父母恐被廢棄。乃密相謀。托一蓐母。買貧家之初生之子。以詐身也。其事果覺於家。婢妾遂放逐。</p>
