<header data-type="book">
<h1>海上仙方後集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>溫大明</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
</dl>
</header>

<h1>孫真人海上仙方後集</h1>

<h2>第一證</h2>
<p>有緣有分得流傳，</p>
<p>福德之人在眼前，</p>
<p>千載名傳今日遇，</p>
<p>倘然遘疾頓時痊。</p>

<h2>第二證</h2>
<p>途中伏暑熱堪憐，</p>
<p>急取車輪土五錢，</p>
<p>盞內澄清湯盡服，</p>
<p>身輕體健任遊行。</p>

<h2>第三證</h2>
<p>傷寒咳嗽夜無眠，</p>
<p>細碾明礬末一錢，</p>
<p>半夏橘皮薑黃煮，</p>
<p>煎湯調下化涎黏。</p>

<h2>第四證</h2>
<p>魚臍瘡毒療雖難，</p>
<p>火內飛礬地上攤，</p>
<p>寒食麵糊敷貼上，</p>
<p>生肌退腫即時安。</p>

<h2>第五證</h2>
<p>口瘡發作痛難言，</p>
<p>香麝銅青一處研，</p>
<p>干捻些兒頻摻上，</p>
<p>不逾時刻自然安。</p>

<h2>第六證</h2>
<p>婦人產難甚艱難，</p>
<p>要覓醫方似隔山，</p>
<p>尋取路傍草鞋鼻，</p>
<p>燒灰酒下即分生。</p>

<h2>第七證</h2>
<p>婦人口舌並焦乾，</p>
<p>設若遲延死不難，</p>
<p>尋取黃龍肝一具，</p>
<p>燒灰調酒是靈丹。</p>

<h2>第八證</h2>
<p>迎風冷淚聽原因，</p>
<p>臘月尋桑卻有情，</p>
<p>覓取梢頭不落葉，</p>
<p>煎湯頻洗見分明。</p>

<h2>第九證</h2>
<p>熱淋小便澀難漩，</p>
<p>枉費諸般湯散丸，</p>
<p>匾竹水煎連口咽，</p>
<p>方知聖藥不虛傳。</p>

<h2>第十證</h2>
<p>大腸乾澀藥難攻，</p>
<p>起坐艱難脹腹中，</p>
<p>水碾芝麻尋取汁，</p>
<p>時時嚥下自然通。</p>

<h2>第十一證</h2>
<p>鼻中衄血湧如泉，</p>
<p>亂髮燒灰有甚難，</p>
<p>竹管將來吹入鼻，</p>
<p>收功即在一時間。</p>

<h2>第十二證</h2>
<p>牙疼齒痛不堪言，</p>
<p>得法猶如遇聖仙，</p>
<p>大戟將來疼處咬，</p>
<p>名方留下古今傳。</p>

<h2>第十三證</h2>
<p>遠年咳嗽不曾停，</p>
<p>醫受理冤藥不靈，</p>
<p>但用款冬花作末，</p>
<p>燒煙口吸便安寧。</p>

<h2>第十四證</h2>
<p>肉中刺毒不能除，</p>
<p>無血無膿痛且枸，</p>
<p>研爛松脂為細末，</p>
<p>帛封其上便寬舒。</p>

<h2>第十五證</h2>
<p>刀傷出血不能停，</p>
<p>下子秋蛾效最靈，</p>
<p>研碎燒灰傷處貼，</p>
<p>即時定止見安平。</p>

<h2>第十六證</h2>
<p>小兒骨痛不能言，</p>
<p>出血流膿實可憐，</p>
<p>尋取水蛇皮一個，</p>
<p>燒灰油抹傅疼邊。</p>

<h2>第十七證</h2>
<p>曾聞水瀉有何方，</p>
<p>焦炒車前子最良，</p>
<p>細末一錢調米飲，</p>
<p>只消七劑應時康。</p>

<h2>第十八證</h2>
<p>裡外臁瘡久不痊，</p>
<p>令人行動痛如煎，</p>
<p>若知會取牛蹄甲，</p>
<p>油拌燒灰傅患邊。</p>

<h2>第十九證</h2>
<p>人身痼冷夜無眠，</p>
<p>生用川烏細細研，</p>
<p>好醋拌調攤絹上，</p>
<p>貼教冷處暖如綿。</p>

<h2>第二十證</h2>
<p>忽遭蠅子入咽喉，</p>
<p>苦腦心腸不自由，</p>
<p>尋取世間蝦蟆眼，</p>
<p>爛研嚥下解均愁。</p>

<h2>第二十一證</h2>
<p>木鱉川芎二味停，</p>
<p>雄黃減半共調勻，</p>
<p>用蜜為丸燒一粒，</p>
<p>自然蚊蝨不相侵。</p>

<h2>第二十二證</h2>
<p>破傷風病莫遲延，</p>
<p>脫殼秋蟬四五錢，</p>
<p>緊閉牙關難治療，</p>
<p>燒灰酒下便依然。</p>

<h2>第二十三證</h2>
<p>急傷寒氣聽人言，</p>
<p>此病難醫自古傳，</p>
<p>半夏酒煎姜共處，</p>
<p>時間服了便依原。</p>

<h2>第二十四證</h2>
<p>凡人忽被毒蛇傷，</p>
<p>獨蒜原來力甚良，</p>
<p>切取片兒遮患處，</p>
<p>艾燒七壯自安康。</p>

<h2>第二十五證</h2>
<p>犬傷何用苦憂煎，</p>
<p>幸有良方世上傳，</p>
<p>刮取磚青和牛糞，</p>
<p>磨為傷處即時痊。</p>

<h2>第二十六證</h2>
<p>心頭急痛不堪當，</p>
<p>我有真人海上方，</p>
<p>匾竹醋煎連口咽，</p>
<p>病身頃刻即平康。</p>

<h2>第二十七證</h2>
<p>人間龜病不能言，</p>
<p>肚裡生來硬似磚，</p>
<p>自死殭蠶白馬尿，</p>
<p>不過時刻軟如綿。</p>

<h2>第二十八證</h2>
<p>眼睛內瘴淚漣漣，</p>
<p>好把心來檢藥篇，</p>
<p>但取鯉魚尋腦膽，</p>
<p>和調相處自安然。</p>

<h2>第二十九證</h2>
<p>骨頭打碎最艱難，</p>
<p>尋破草鞋莫等閒，</p>
<p>火里燒灰由你貼，</p>
<p>管教哭臉變歡顏。</p>

<h2>第三十證</h2>
<p>湯火澆燒不可當，</p>
<p>皮膚肉爛痛非常，</p>
<p>須用雞子清調酒，</p>
<p>淋洗依然不作瘡。</p>

<h2>第三十一證</h2>
<p>咽喉閉塞不能言，</p>
<p>幸有硼砂可保全，</p>
<p>搗和鹽梅如棗大，</p>
<p>口中噙化即時寬。</p>

<h2>第三十二證</h2>
<p>身邊胡臭聽根源，</p>
<p>說破真方用小便，</p>
<p>夜靜頻頻承熱洗，</p>
<p>兒孫後世免流傳。</p>

<h2>第三十三證</h2>
<p>多時血痢莫留延，</p>
<p>濕紙包鹽火內燃，</p>
<p>研細分為三處用，</p>
<p>白湯粥飲水調咽。</p>

<h2>第三十四證</h2>
<p>懸梁自縊聽根源，</p>
<p>急急扶持地上眠，</p>
<p>老角細辛吹鼻內，</p>
<p>須臾魂魄便來還。</p>

<h2>第三十五證</h2>
<p>耳聾背聽又虛鳴，</p>
<p>不問多年近歲因，</p>
<p>鼠膽尋來傾耳內，</p>
<p>有如時刻即聞聲。</p>

<h2>第三十六證</h2>
<p>小兒夜哭最堪憐，</p>
<p>徹夜呻吟不得眠，</p>
<p>甲牛末兒臍上貼，</p>
<p>終宵安靜謝神天。</p>

<h2>第三十七證</h2>
<p>耳間疼痛如刀割，</p>
<p>出血流膿久不幹，</p>
<p>鳩屎夜鳴吹入耳，</p>
<p>除膿消腫即時痊。</p>

<h2>第三十八證</h2>
<p>一撮黑豆數枝蔥，</p>
<p>熟艾川椒共有功，</p>
<p>半碗水煎噙共漱，</p>
<p>牙疼立止顯神通。</p>

<h2>第三十九證</h2>
<p>肺風赤鼻最難醫，</p>
<p>幸有良方好受持，</p>
<p>但用硫礬為細末，</p>
<p>和調茄汁最相宜。</p>

<h2>第四十證</h2>
<p>小兒重舌最堪愁，</p>
<p>秀鎖將來火內燒，</p>
<p>打落屑兒為細末，</p>
<p>水調吃下即時消。</p>

<h2>第四十一證</h2>
<p>脫肛陰脫兩般憂，</p>
<p>尋取鯽魚只用頭，</p>
<p>火上燒乾為細末，</p>
<p>半搽半服自然收。</p>

<h2>第四十二證</h2>
<p>脫肛不止久難安，</p>
<p>海上仙方遇有緣，</p>
<p>急取蜘蛛燒搗爛，</p>
<p>塗敷肛上應時痊。</p>

<h2>第四十三證</h2>
<p>乍寒乍熱卻淹延，</p>
<p>反復猶如鬼祟纏，</p>
<p>陌上蜘蛛三五個，</p>
<p>將來系在脈門邊。</p>

<h2>第四十四證</h2>
<p>咽喉緊閉又何疼，</p>
<p>快取蘆都草的根，</p>
<p>好酒煎至三五滾，</p>
<p>竹筒灌入是神仙。</p>

<h2>第四十五證</h2>
<p>牛膝生根擂取汁，</p>
<p>男左女右鼻中注，</p>
<p>又將好酒調藥汁，</p>
<p>雙蛾一服盡皆除。</p>

<h2>第四十六證</h2>
<p>七個烏梅七個棗，</p>
<p>七個粟殼七寸草，</p>
<p>燈心七莖酒同煎，</p>
<p>赤白痢疾登時好。</p>

<h2>第四十七證</h2>
<p>婦人月水不能通，</p>
<p>鼠糞燒灰立見功，</p>
<p>熱酒調時逢扁鵲，</p>
<p>只消一服顯神通。</p>

<h2>第四十八證</h2>
<p>婦人乳少聽吾言，</p>
<p>買取川山甲五錢，</p>
<p>磨研米泔連夜飲，</p>
<p>乳流卻似井中泉。</p>

<h2>第四十九證</h2>
<p>奶瘡腫痛叫聲連，</p>
<p>焦炒芝麻細細研，</p>
<p>燈盞油調塗上面，</p>
<p>除膿消腫即依原。</p>

<h2>第五十證</h2>
<p>麝香肉桂及紅花，</p>
<p>冰水為丸共一家，</p>
<p>牛膝煎湯來送下，</p>
<p>斷胎絕產定無差。</p>

<h2>第五十一證</h2>
<p>小便不禁自遺漩，</p>
<p>尋取天台烏藥研，</p>
<p>飯後服時宜米飲，</p>
<p>日須兩次每三錢。</p>

<h2>第五十二證</h2>
<p>骨鯁難通苦叫天，</p>
<p>金鶯根用醋來煎，</p>
<p>入喉莫染齒牙上，</p>
<p>諸骨能教化作綿。</p>

<h2>第五十三證</h2>
<p>胎前瘧疾久牽纏，</p>
<p>寒熱來期實可憐，</p>
<p>急取夜明砂作末，</p>
<p>茶調空腹服三錢。</p>

<h2>第五十四證</h2>
<p>婦人崩漏血來多，</p>
<p>貫眾相同米炒和，</p>
<p>每服二錢煎醋下，</p>
<p>應知症侯自消磨。</p>

<h2>第五十五證</h2>
<p>走馬牙疳齒動搖，</p>
<p>棗中包信火中燒，</p>
<p>更將黃柏同為末，</p>
<p>患處捻些立見消。</p>

<h2>第五十六證</h2>
<p>嘗見婦人五心熱，</p>
<p>赤芍藥同小薄荷，</p>
<p>等分細研白湯調，</p>
<p>手掌清涼與前同。</p>

<h2>第五十七證</h2>
<p>滿口生瘡痛可憐，</p>
<p>乾薑好把共黃連，</p>
<p>口中細嚼涎流中，</p>
<p>頃刻人邀可上筵。</p>

<h2>第五十八證</h2>
<p>小兒吐瀉何能止，</p>
<p>滑石硫黃一處研，</p>
<p>每服一錢飲調下，</p>
<p>方知妙藥是神仙。</p>

<h2>第五十九證</h2>
<p>頭風腫痛太陽邊，</p>
<p>白芷川芎同向前，</p>
<p>等分石膏同作末，</p>
<p>熱茶調下兩三錢。</p>

<h2>第六十證</h2>
<p>耳聾重聽不聞言，</p>
<p>研爛細辛蠟作丸，</p>
<p>塞耳綿包鼠糞大，</p>
<p>不逾數日卻通宣。</p>

<h2>第六十一證</h2>
<p>牙疼鶴蝨共甘松，</p>
<p>白芷細辛等分研，</p>
<p>為末少將牙上擦，</p>
<p>煎湯灌漱也安然。</p>

<h2>第六十二證</h2>
<p>自汗不止防風末，</p>
<p>浮麥煎湯服三錢，</p>
<p>不效卻用牡蠣散，</p>
<p>二方效驗可留存。</p>

<h2>第六十三證</h2>
<p>人遭犬咬痛堪憐，</p>
<p>去殼蓖麻五十丸，</p>
<p>爛搗成膏傷患處，</p>
<p>又方虎骨有功能。</p>

<h2>第六十四證</h2>
<p>四肢厥冷腹中疼，</p>
<p>熱水醮來拍膝彎，</p>
<p>紫黑點兒針刺破，</p>
<p>去些惡血就安痊。</p>

<h2>第六十五證</h2>
<p>湯火燙痛最堪嗟，</p>
<p>楊梅皮末油調搽，</p>
<p>好酒將來調淋洗，</p>
<p>不過日下便安瘥。</p>

<h2>第六十六證</h2>
<p>轉筋吐瀉實難當，</p>
<p>艾葉宣瓜煮冷湯，</p>
<p>急取食鹽安口內，</p>
<p>才方嚥下得平康。</p>

<h2>第六十七證</h2>
<p>老幼凡人生痹癖，</p>
<p>腸間一塊硬如石，</p>
<p>硝黃大蒜搗成膏，</p>
<p>敷貼消磨無舊跡。</p>

<h2>第六十八證</h2>
<p>臁瘡細搗新黃柏，</p>
<p>輕粉同調豬膽汁，</p>
<p>敷貼仍將帛緊纏，</p>
<p>一周又把新膏易。</p>

<h2>第六十九證</h2>
<p>骨鯁單方野苧根，</p>
<p>又方甘草對砂仁，</p>
<p>金鳳花子連根用，</p>
<p>三般治法盡通靈。</p>

<h2>第七十證</h2>
<p>黃葵內子七十粒，</p>
<p>研爛酒調能應急，</p>
<p>婦人產難即分生，</p>
<p>免使全家垂淚泣。</p>

<h2>第七十一證</h2>
<p>婦人吹奶最難當，</p>
<p>急用男梳百齒霜，</p>
<p>須使飯丸桐子大，</p>
<p>三丸酒下便清涼。</p>

<h2>第七十二證</h2>
<p>痔漏脫肛人難說，</p>
<p>川椒口內目一謾，</p>
<p>空心水送兩三錢，</p>
<p>功效如神何恍惚。</p>

<h2>第七十三證</h2>
<p>婦人吹奶意如何，</p>
<p>皂角燒灰蛤粉和，</p>
<p>好酒將來調八字，</p>
<p>立時數刻笑呵呵。</p>

<h2>第七十四證</h2>
<p>療瘡最效豨薟草，</p>
<p>五月五日午時討，</p>
<p>四錢細末酒調吞，</p>
<p>汗出通身真個好。</p>

<h2>第七十五證</h2>
<p>細辛蓽撥及雄黃，</p>
<p>用酒研來入麝香，</p>
<p>不問蛇傷並犬咬，</p>
<p>當時吃了便安康。</p>

<h2>第七十六證</h2>
<p>紫蘇陳皮橘皮蔥，</p>
<p>細末砂仁煎酒同，</p>
<p>胎氣不和心下輳，</p>
<p>腹中脹痛有神功。</p>

<h2>第七十七證</h2>
<p>顛犬傷人毒可憐，</p>
<p>雄黃等分麝香研，</p>
<p>酒調頻服三兩盞，</p>
<p>不吃將來灌鼻穿。</p>

<h2>第七十八證</h2>
<p>草果玄胡索最先，</p>
<p>靈脂沒藥乳香連，</p>
<p>酒調一盞宜溫服，</p>
<p>腹痛心疼似手拈。</p>

<h2>第七十九證</h2>
<p>凡人痔漏痛成瘡，</p>
<p>遺種蠶蛾紙半張，</p>
<p>碗內燒灰調好酒，</p>
<p>服之去病水澆霜。</p>

<h2>第八十證</h2>
<p>寒菊花兒五十團，</p>
<p>雪花同搗飯為丸，</p>
<p>鼻中搐入如棗大，</p>
<p>齒痛強如使手拈。</p>

<h2>第八十一證</h2>
<p>接骨誰知甚藥佳，</p>
<p>何如覓取大蝦蟆，</p>
<p>生搗如泥塗患處，</p>
<p>杉皮夾定聖堪誇。</p>

<h2>第八十二證</h2>
<p>酒能醒酒不尋常，</p>
<p>草果加煎乾葛湯，</p>
<p>解毒頻頻三五盞，</p>
<p>醒前醉後並宜嘗。</p>

<h2>第八十三證</h2>
<p>凡人日夜事多忘，</p>
<p>遠志菖蒲煮作湯，</p>
<p>每旦空心嘗一碗，</p>
<p>詩書常記在心腸。</p>

<h2>第八十四證</h2>
<p>世間果品甚多般，</p>
<p>性毒有無冷與寒，</p>
<p>設食中傷何藥解，</p>
<p>朴硝加麝即時安。</p>

<h2>第八十五證</h2>
<p>老幼忽然患吃噫，</p>
<p>川椒生面和為丸，</p>
<p>醅湯十粒梧桐大，</p>
<p>應是仙方不妄傳。</p>

<h2>第八十六證</h2>
<p>忽因覺是傷寒甚，</p>
<p>陳食茱萸須揀淨，</p>
<p>水煎一盞服空心，</p>
<p>發散風邪祛卻病。</p>

<h2>第六十七證</h2>
<p>腦痛懸空在項頸，</p>
<p>急宜細碾馬牙硝，</p>
<p>好把酥來同搗合，</p>
<p>暫安鼻上自逍遙。</p>

<h2>第八十八證</h2>
<p>赤眼難開不見天，</p>
<p>宣州土產好黃連，</p>
<p>便將驢奶淹三宿，</p>
<p>點上光明即豁然。</p>

<h2>第八十九證</h2>
<p>眼中生翳莫能窺，</p>
<p>想是肝經蘊熱為，</p>
<p>快取蘭香七個子，</p>
<p>煎湯一服病消除。</p>

<h2>第九十證</h2>
<p>幼小孩兒抱瘧子，</p>
<p>烏貓取糞最相宜，</p>
<p>七個桃仁同煎服，</p>
<p>病前一盞顯良醫。</p>

<h2>第九十一證</h2>
<p>咳嗽多時如不止，</p>
<p>誰知只用干浮萍，</p>
<p>將來爛搗濃煎服，</p>
<p>一夜安眠真到明。</p>

<h2>第九十二證</h2>
<p>金槍刀斧及傷殘，</p>
<p>直取黃丹對白礬，</p>
<p>最好生肌兼止痛，</p>
<p>即時傷處見平安。</p>

<h2>第九十三證</h2>
<p>常山搗末取三錢，</p>
<p>四個烏梅去核研，</p>
<p>瘧疾未來調酒服，</p>
<p>須臾得吐去痰涎。</p>

<h2>第九十四證</h2>
<p>世上諸般惡毒瘡，</p>
<p>更兼疥癬共良方，</p>
<p>好將驢糞燒灰糝，</p>
<p>日見皮膚復得常。</p>

<h2>第九十五證</h2>
<p>兩腳筋疼拘急攣，</p>
<p>不分晝夜懶宜行，</p>
<p>快搗生薑成膏劑，</p>
<p>薄攤敷貼復依前。</p>

<h2>第九十六證</h2>
<p>小便終了難得下，</p>
<p>何妙萵苣搗成泥，</p>
<p>將來作餅臍中貼，</p>
<p>能使泉流得應時。</p>

<h2>第九十七證</h2>
<p>胃虛自然成節病，</p>
<p>多生寸白與蛔蟲，</p>
<p>收採蜂窩燒存性，</p>
<p>酒調一匕有神功。</p>

<h2>第九十八證</h2>
<p>頭面若生乾溼癬，</p>
<p>半生半熟白明礬，</p>
<p>酒調塗上登時愈，</p>
<p>管取皮膚日下痊。</p>

<h2>第九十九證</h2>
<p>若人翻胃勞多時，</p>
<p>乾柿三枚搗似泥，</p>
<p>好酒調開乘熱服，</p>
<p>此方效驗少人知。</p>

<h2>第一百證</h2>
<p>血汗不止是如何，</p>
<p>驢糞燒灰不用多，</p>
<p>但取些兒吹鼻內，</p>
<p>須知此病即消磨。</p>

<h2>第一百一證</h2>
<p>如人口氣臭難當，</p>
<p>但取明礬與麝香，</p>
<p>兩件相交搽齒上，</p>
<p>言談呵笑不聞揚。</p>

<h2>第一百二證</h2>
<p>鼠咬皮膚最不良，</p>
<p>毒攻疼痛腫難當，</p>
<p>徑將貓糞填痕內，</p>
<p>端的公然不作瘡。</p>

<h2>第一百三證</h2>
<p>肚邊痔病苦恓惶，</p>
<p>炒過胡蔓子最強，</p>
<p>細碾酒調三五服，</p>
<p>自然行步得無荒。</p>

<h2>第一百四證</h2>
<p>蜈蚣蛇蠍毒非常，</p>
<p>咬著人時痛莫當，</p>
<p>我有靈丹隨手好，</p>
<p>自然薑汁和雄黃。</p>

<h2>第一百五證</h2>
<p>天花粉是栝蔞根，</p>
<p>消渴能令目下痊，</p>
<p>採得無時煎白水，</p>
<p>服之口內自生泉。</p>

<h2>第一百六證</h2>
<p>小腸尿血不曾疏，</p>
<p>採取新鮮劉寄奴，</p>
<p>為末茶調空腹服，</p>
<p>便中赤色自然無。</p>

<h2>第一百七證</h2>
<p>灶中土是伏龍肝，</p>
<p>藥賤功殊不等閒，</p>
<p>為末酒調溫口服，</p>
<p>胎衣不下是靈丹。</p>

<h2>第一百八證</h2>
<p>兒在腹中要倒生，</p>
<p>渾家驚恐計無成，</p>
<p>尋取伏龍肝末服，</p>
<p>酒調一劑便分生。</p>

<h2>第一百九證</h2>
<p>婦人乳汁不行時，</p>
<p>萵苣三枚研似泥，</p>
<p>好酒調開通口服，</p>
<p>任他石女也淋漓。</p>

<h2>第一百十證</h2>
<p>產後咽喉苦又幹，</p>
<p>更兼咳嗽不能安，</p>
<p>豬脂胡粉同交和，</p>
<p>熟水調開服斷根。</p>

<h2>第一百十一證</h2>
<p>婦人忽患陰中腫，</p>
<p>蔥白研膏入乳香，</p>
<p>貼傅逾時休洗去，</p>
<p>元來海上有奇方。</p>

<h2>第一百十二證</h2>
<p>婦人陰內忽生瘡，</p>
<p>痛癢無時不可當，</p>
<p>尋討鯽魚將膽抹，</p>
<p>不逾時刻便清涼。</p>

<h2>第一百十三證</h2>
<p>阿膠灰炒成珠顆，</p>
<p>乘熱將來即便研，</p>
<p>月信不調宜此末，</p>
<p>酒調一服應時行。</p>

<h2>第一百十四證</h2>
<p>鐵錘火煉透中紅，</p>
<p>淬酒成溫飲一鍾，</p>
<p>專保婦人臨產難，</p>
<p>即時分娩喜相逢。</p>

<h2>第一百十五證</h2>
<p>產後婦人心氣疼，</p>
<p>叫聲切切手攀拈，</p>
<p>酒調雞卵空心服，</p>
<p>一夜能教肅靜眠。</p>

<h2>第一百十六證</h2>
<p>婦人產後血難住，</p>
<p>諸藥無如百草霜，</p>
<p>為末酒調乘睡服，</p>
<p>明朝立馬見平康。</p>

<h2>第一百十七證</h2>
<p>產後胎衣不落身，</p>
<p>荏苒驚動一家人，</p>
<p>蓖麻去殼十四個，</p>
<p>白麵同研傅足心。</p>

<h2>第一百十八證</h2>
<p>急驚風與慢驚風，</p>
<p>奪命方知有大功，</p>
<p>磨水但得青礞石，</p>
<p>調下痰涎主便通。</p>

<h2>第一百十九證</h2>
<p>咳嗽小兒多氣喘，</p>
<p>石膏火內慢飛炟，</p>
<p>研為細末蜜糠調，</p>
<p>一夜分明減一半。</p>

<h2>第一百二十證</h2>
<p>小兒夜哭不能眠，</p>
<p>收拾燈花四五圓，</p>
<p>捻爛燈心湯化下，</p>
<p>一宵肅靜到明天。</p>

<h2>第一百二十一證</h2>
<p>撮口臍風總一般，</p>
<p>十兒難得兩三痊，</p>
<p>快著姜蠶為細末，</p>
<p>蜜調塗向口中安。</p>

<h2>第一百二十二證</h2>
<p>瀉痢脫肛不用愁，</p>
<p>槐花為末米湯調，</p>
<p>食前一盞頻頻進，</p>
<p>效驗如同鼓應桴。</p>

<h2>第一百二十三證</h2>
<p>備急神方妙又玄，</p>
<p>真人海上古今傳，</p>
<p>家藏一本宜常讀，</p>
<p>有病方知得保全。</p>
