<header data-type="book">
<h1>金瘡跌打接骨藥性秘書</h1>
</header>

<h1>金瘡賦</h1>
<p>夫金瘡者，木乃春之權，金乃秋之令。春則萬物發生，故曰春，屬震，以為東方甲木之氣。秋則萬木凋零，故曰金，屬兌，以為西方庚金之氣也。金瘡者，乃刀斧劍刃之所傷，故曰金瘡。其色所喜淡紅色者，萬無一失。所患紫紅色者，百不一生。金瘡屬金，主人肺。患金瘡者，則忌咳嗽、嘔噦、翻胃之症。亦宜避風為要，蓋風屬巽木。如風入瘡口，肺金反克而成破傷風，以致瘡口浮腫潰𭽬穢爛，故名曰破傷風。變生餘症，甚至不救。須知有治宜辨瘡口淺深，脈之虛實，告凶見矣。最喜者胃氣益旺，飲食如常。脾胃屬土，胃氣旺則元氣壯，氣血生。金瘡亦宜戒怒遠色，怒則瘡口迸裂變生胬肉，欲則瘡口腐爛以損新肌。凡治金瘡用敷口之藥，所主乳、沒、血竭、靈蓋、乳石之類，自始至終不可不用此藥。用之則生肌止痛活血，金生無虞。凡服湯藥必以助胃補血為主，以為金瘡之大意，金瘡雖有變易，各有治法。居於邊隘，偶為刀箭所傷，非得聖藥，安能治耶。</p>
<p>《虎鈴經》曰：人為兵器所傷，出血者必甚渴，即不與水飲，所食之物，旋毛在呴須干食，食肥膩之物無所妨害，貴解渴而已，不可過多飲粥，則血沸出，人必死矣。所忌者有八：一曰喜笑，二曰嗔怒，三曰大言，四曰勞力，五曰妄想，六曰熱羹，七曰飲酒，八曰鹹酸。此八者犯之，鮮有不患者矣。夫金瘡不可治者有九：曰傷腦，曰傷天倉，曰傷臂中跳脈，曰傷大腸、小腸，曰傷五臟，此九者皆死處。又有金瘡不可治者四焉：曰腦髓出，曰腦破而咽喉沸聲，兩目直視，曰痛不在處者，此皆傷經，曰出血不止，前赤後黑，或自肌肉腐臭、寒冷、堅實，其瘡難愈。除此之外，復論其脈，脈虛細者生，數實者死。沉小者生，浮大者死。其所傷在陽處，血過度而脈微緩，忽略慢醫，此疾必死。</p>
<p>夫折傷者為被物所傷於身體，或刀斧或墜險地或為跌撲傷筋。骨損皮破肉遂致傷身，有血出不止者，有瘀血停積於臟腑結而不散者治之。不早則有入腸攻心之患，不可勝言。凡遇前症，當視所傷輕重，如未破而內傷者有瘀血停積，先宜逐去瘀血，然後和血止痛。若肌肉裂破流血過多者，宜調血養氣兼補胃為主。</p>

<h1>按脈論</h1>
<p>一，凡看脈，先看左手寸、關、尺三部洪大，太陽、胸前及兩脅、小腹陰囊下，若暖可救，兩足脈起可治，肋下動可救矣。</p>
<p>一，凡右手寸、關、尺三部微細沉遲者為外感；身冷、大熱，頭痛及滿身疼痛為外感風寒，要避風為上。忌生冷、鮮魚、肉之類，好酒亦要忌。如此病，即該用敷藥，服宜下藥。若要下藥，過一日只好服疏風散、理氣散可也。</p>
<p>一，凡跌傷五臟不省人事，宜用通關散吹入鼻中，男左女右，有嚏有痰吐出者為妙。</p>
<p>一，凡跌傷打傷，牙關緊閉，用霜梅肉連擦三四次，而後用藥。</p>
<p>一，凡走骱接骨，先服接骨散，急用敷藥，次用糕匣板外面紮緊。</p>

<h1>行拳法分輕重論</h1>
<p>向上為順氣，正打為塞氣，倒插為逆氣。三者之中，惟倒插拳最凶，各樣內傷終怕的倒插氣逆，其為患甚大，不可輕視。</p>
<p>兩眼白睛上血筋多，內瘀血亦多。或直視無神難治。扳𢵡於中指甲，放手即還原者可治，不還原者不可治。或紫黑者不治。陽物縮者不治。腳指甲與手指甲同看腳底傷、色蠟黃者難治。五絕病內如一二件不犯者，亦或可治。</p>

<h1>打人論</h1>
<p>如行拳打人，如平拳上身者無事，次則三尖拳打亦無事，次又撮拳打則難治矣。又次有插拳，正插猶或可治，上插則血上或吐出，有幸可治，惟下插則血下難出其害，必死矣。</p>
<p>用藥急救（此即上章，人身上穴道之處方）</p>
<p>囟門下及兩太陽經傷，服麻芎丸，截不斷服紫金丹，結喉傷服紫金丹，人中傷服麻芎丸，兩耳打傷昏悶，板腦後破傷，同服紫金丹，酒浸童便吃下，將勝金散助之，後用煎劑收功。喉嚨有二管，氣管在外，食管在內，割喉者右手持刀易治，左手持刀難治，食管斷不治。氣管斷，先用麻藥，生半夏研細末摻上，次用𪅂毛尾下絨毛，佐以人參封藥敷之，再用桑白皮線縫其皮，皮上先搽麻藥，然後用線縫之，再用血竭膏敷於外，如無𪅂毛用茅針花亦可。調理用甘桔湯，又可服紫金丹，酒服一次，逐匙進，縫皮禁系線，恐其傷也。胸前橫骨三節傷，必吐血痰，服紫金丹，酒浸童便下，再服勝金散助之，煎劑收功矣。心坎上傷必口噤心閉行不得，服奪命丹。若乳上下傷，先服奪命丹，虻蟲散助之，斷以煎劑收功，內用引經藥。左右胸前用柴胡，背後用桔梗、青皮等藥。傷重者牙關緊閉，先用吹鼻散少許，以蘆管吹入鼻中，男左女右，無嚏再吹右鼻，倘未有嚏，又將燈草寸許，蘸唾津取藥入鼻，如有嚏並有痰血吐出者為妙。否則凶病，不可用藥。左乳傷必發嗽，先服紫金丹，助以勝金散，次用六味地黃丸，加上嗽藥，癀門傷必口噤、目反、身強。五絕病有三不犯者，在七日內可服奪命丹，七日後要細心用劑。若上部行不得，先服紫金丹，下其血，後用煎劑行藥。血海傷不醫治，久則成血痞，可用朴硝熨法，不必吃末藥，吃胡桃藥酒一罈，外貼千槌膏，其痞即消。先服奪命丹，後貼膏藥，再服虻蟲散一斷以愈為度。氣門傷為塞氣，病人必目反頭強，身直如死。若遇此病，過不得三個時辰，如救遲其氣下降，大便濁氣出必無救矣。此時不可慌張亂急，往視患人氣息有無，如無氣者，必為倒插拳所傷也。速揪其發，伏我膝上，背後上摩運輕敲，使氣從中而出，然後用藥調治。凡左右受打，皆有悶暈於地，切不可服表汗藥。左以紫金丹，右以奪命丹，甚至有三四日後發熱者，乃可用表汗藥，以散其風也。凡治新傷，七日血去歸經，只可服七釐散，七日後再用他藥。若骨節折傷，先服瓜皮散，貼𤻎錄膏，在膏藥上又用運法運之，其骨自接。心坎以下小腸地位，可用行藥，臨病先服虻蟲散三四服，次用行藥。如腸中不痛，不必用行藥。膀胱傷小便必結，用灸臍法小便即通如嚏，不然知其膀胱碎而不可治矣。食肚傷煎劑下之。陰囊若破碎，用參末封藥，並將青䂱毛敷之則合。或竹條夾之，後將縫之。如不便夾，竟縫之而服麻芎丸可也。腿傷用兩頭尖膏藥敷之。腰脊傷用麩皮運法，服腰痛藥方。海底穴踢傷，血必衝上，當時兩耳響聲大震，心悶昏昏，先服護心丸止痛。此病傷雖在下，而為患反在上部，須用活血煎劑。或大小便結，用熨臍法。外腎傷與上合治，外腎恐其上升，須上人靠其背，後用兩手跟從小肚子兩章從上壓下，不可用熱水浴。尾次傷用車前子末七錢，米湯調服，或用熨法治之，並服表汗藥可也。膀肚子打傷，先服紫金丹，次服煎劑加茵陳等藥，如黃病藥一般。總之，上部等病以散血為主，用奪命丹，一日連進三服，吃不得，宜當歸活血等藥。若小兒傷，以淨為主。老人力怯，藥宜減用。凡服藥之日，忌食豬肉、鴨蛋、鮮雞、羊肉、海味等物，筍乾、面、醋、菌亦宜忌，更要避風戒色，息氣除憂，過此三月，庶不成病。大凡宿傷，服虻蟲散。吐血服紫金丹。危急之病服奪命丹為上。發表莫如冬瓜散，調理有成方一十三個，照書用藥決無誤事。</p>
<p>又有一甚妙方，吾今已老且傳於世，觀吾手法如何。世上有不肖之輩，醫家貪財戲弄，患人之病，奪無危，其過意用些劫藥使受傷之人或昏悶不惺，即能催生。倘懷孕者不拘月數，偶傷胎氣腰痠腹痛一服即安。甚至見紅勢欲小產者正在危急之際一服即安，再服全愈或有十月滿足交骨不開臨盆十分費力，甚至存亡，頃刻之間一服即下保全母子兩命。並橫生逆養以至六七日不下者，或嬰兒死在腹中，命在垂危者，一服立下。服者無不效驗，百發百中真神方也。余見世人往遭此產難，母子雙亡並無良策，甚為可憐余不忍，將此方秘之欲公之天下，使母子雙全永離此難，願同志者廣而傳之共登壽域，不但余之幸甚即天下之人幸甚。</p>
<p>此乃堯都趙耀先所刊施也。蓋以驗方難得此方，神效抑且關於生產所繫豈淺，鮮哉。予恐刊施者少，致此方失傳，於是鋟板以廣其施，不致此方湮沒。倘人人無產難之厄，是予之所厚望也。</p>

<h1>運熏灸倒四法去宿傷方（佚）</h1>

<h1>總論</h1>
<p>最輕者運法，先服瓜皮散，次用運法；其次用熏法。內宿傷在皮內，外面浮腫色黃，用不得行藥，先服瓜皮散，然後用熏法。要知宿傷可熏，新傷血未歸經不可熏洗，恐其攻心也。重者用灸法，瘀血久傷，非服藥可療，行不得者或骨接恐其發毒，先服瓜皮散，次用灸法，最重者用倒法。患人口不能開言，藥不能服，必使患人吐出惡物，先服硫麝散，然後倒之，惡物吐出後，服虻蟲散。二人倒法：患人臥在被上，或四人或大人兩邊牽被角，滾左滾右，使其不定，自然吐出瘀血惡物，不然則不治矣。</p>

<h2>運法</h2>
<p>麩皮（一升）　陳壁泥（半升）　酒藥（十丸）　白蔥（帶根，一把）　香附（二兩醋炒）　以上五味鍋內炒，或銅杓內炒熱用社醋噴之，以布包之，運於患處，冷再炒運。</p>

<h2>熏法</h2>
<p>落得打草（半斤）　陳小麥柴（一大把）　艾葉（少許）　三味投入鍋內，河水煎一鍋滾透，入小口缸內，板一片，將肛門坐上熏，其汗出如雨，不可怕熱氣衝上，汗出未止而身移動，若出汗不透，病根終是難除耳。如手足落骱，即以湯注一甕內，以手足浸之，以綿絮裹甕口，不可使熱氣外泄。</p>

<h2>炙法</h2>
<p>用生炭火燒紅地皮一塊，好社醋一噴，即將稻柴少許攤上，以單被為席，使患人臥上，厚被蓋暖，出汗如雨，然後服勝金丹三四服，其傷即散無虞矣。</p>

<h2>倒法</h2>
<p>（急服硫麝散）</p>
<p>硫黃（一錢）　麝香（一分）　二味共研為末，使患人每服一分。服藥後臥於被上，用四人牽被，將患人滾右滾左，不得安歇，定然吐出惡物，然後再服虻蟲散，而百傷可解矣。</p>

<h2>灸法</h2>
<p>（治小便不通者）</p>
<p>麝香一錢一分置於內，又將飛鹽蓋於上，如銅錢樣厚，鹽上將艾灸三次或三炷香，小便即通，通去麝香，而人自爽矣。跌打用胎骨不論牛馬豬羊在胎未曾出來，可以連皮毛炙灰聽用最妙，紅鉛原不可得就是童女頭第一回來經期之中必有成塊或長二三寸之血條，此血即名紅鉛，跌打之中有此藥用萬不失一。此血父母生氣亦在其內，故難有之。</p>
<p>凡天柱骨折不治，凡腦骨傷碎，輕輕用手捺平正，皮不破用黑龍散，皮破用桃花散填破口，包好忌風。傷入發內剪去發，內敷藥，自愈，凡頂門碎用止血散搽，服上部末藥。凡兩目有損可治。凡耳後傷不治。凡目開、氣出不收不治。凡如魚口纏風不治。凡傷食喉不治。若傷氣喉，急令一人扶住頭，托湊喉管，捻緊不令出氣，用大銀針穿銀絲，隔寸許聯好，將半夏末搗罨，日換兩次，三日後貼膏，內服上部湯藥自愈。凡肩骱骨出，先相如何整治法。用椅當圈住脅，又用軟衣綿被墊好，又使一人捉定，兩人拔伸下手腕，又曲著腕，絹縛之。凡肩間骨若折，必一頭高蹺不相平，治法先用膏貼，後用油紙數重鋪襯，又用粉匣板，以長布希穿縛在腋下緊緊縛定，方服接骨丹。凡金井骨在脅下有損，不可夾縛，須捺平正，方用黑龍散敷，兩脅骨亦如之。凡夾脊斷不可治。凡肩臂脫臼，令脫人低處坐，自用雙手叉定抱膝上，將膝借力著實一襯，其手臂隨手直前，輕輕放手入故位。方服接骨丹、貼膏。凡手腕出臼，醫用左手抑掌托捏被傷手臂，用右手捏定下節，手近臼處，一把捏定，不可讓其退縮，盡力一扯即入故位。方服接骨丹，貼膏。凡手骨出者，看如何出，向左則向右邊拔入，向右則向左邊拔入。凡指斷者湊正，用好，方用生肌散，撒膏藥上貼。凡心胸緊疼紅色裹心不治。凡正心口青色不治。凡男人兩乳堂傷可治。凡女人兩乳堂傷不治。凡腰傷自笑不治。凡腹破大腸或出被風吹脹干，不能收入，醫人先用麻油搽腸，腸潤，又用一人托住腸，一人默含冷水一口噴面，其人必然一驚，乘此將腸一推，腸自收入，入後急捻定出口，用銀絲縫好，不可露一毫針孔。先敷止血草藥二兩，後貼膏。然腸上傷否？目力難見，令傷人飲燒酒一小杯，飲後用一人嗅傷處，無酒氣可治，若有酒氣不治。凡小腸傷，不分陰陽不治。凡跌打腹痛可治。凡小腸傷，未傷肚可治。凡孕女小腹傷，犯胎不治。凡小腹傷吐糞不治。凡腎子傷入小腹不治。凡跨骨從襠內出不可整理。凡腳打折或骨叉出，長短不齊，不能復入，用小銅鋸鋸齊，然後鑲入貼膏，日進接骨丹，炎天清茶水淨，勿令臭氣。若足脛骨別出，在內難治，用手法推入舊戶貼膏，服末藥。凡人手足傷，骨出皆有兩脛，一脛斷可治，兩脛齊斷不治。凡足膝蓋骨乃另生者，或磕破皮脫出，治法用篾做一方號箍，將蓋骨長帶縛定，外用護膝縛，內服接骨丹。愈日去箍。凡跌打大小便不通，未可用接骨丹，況接骨藥大約燥熱，又酒調敷反助燥熱，則不獲效，必將先服通利湯藥，通後服接骨丹。凡食飽或被人打跌，三日不死可治。凡跌打不知疼痛，無發戰不治。凡高處跌下盡力叫喊，汗出如油不治。凡人骨叉出肉外折處，兩頭必用利鋒，治法用八釐寶，後銼去兩頭尖，上下按入，復用貼膏，外用竹箬數重，如法包好，再服接骨丹。凡跌打臃腫，患者不肯令醫者摸看，或腫硬難辨肉內骨碎不碎，醫者將手緩緩捏腫處骨，內有聲，用麻藥先服，割開血來，用止血草藥，又用七號麻藥麻肉，取出碎骨，用別骨接好，貼膏。外用油紙包好，扎住。即與淡鹽湯服，待醒服接骨丹。凡手處骨碎皮不破，用烏龍散敷夾縛。若大概曲處轉折處不出夾縛，愈日不能伸曲，止用黑龍散敷貼包好，使曲伸宛轉。凡損骨碎或斷，要看本處平正何如？大抵是骨不傷，左右看骨，尋有損處，先拔捺正，貼膏夾縛。凡損重者大概拔伸正或取開正，先用桃花散填內，黑龍散圈外，再夾縛。凡拔伸要想左右骨如何出，或正拔伸，或斜拔伸，拔伸要近損處二三分，不可別去，第二節骨上要看拔伸難易為妙。凡夾縛用杉木皮尿浸，闊如指大，四邊排勻，用麻繩扎縛二三度，如扎指用苧麻。凡夾縛夏天兩日、冬天四五日解開。二七水洗去舊藥，洗時不可驚動損處，仍用黑龍散敷之，又夾縛。凡跌或腫，此血凝也。熱藥湯水洗，外敷黑龍散。凡不時挫閃，內服中部末藥，貼膏。重加接骨散。凡傷重必用藥水洗，後塗藥。傷輕不必。凡夾縛，用杉木板一片，將油紙以薑汁調黑龍散攤紙上，後摸損處夾之。凡骨未碎，止用膏貼之，將上、中、下末藥，日服二次。凡出血用桃花散，不止，用三七塞傷處，外圍桃花散。凡損血最忌布包，日後血乾，恐布血相膠，難以換藥。用油傘紙為妙。凡小谷鄉村處，乏藥材膏藥，或遇骨折，權用糯米飯加藥酒、薑蔥同搗，熨斗熱布包好，內服老酒，使血不凝，後取藥治。凡服損傷藥乘熱服。凡服損藥要忌冷水冷物。凡損藥五六月天，不宜合，恐藥壞。凡損藥，宜瓷瓶內收藏為妙。</p>

<h1>秘授跌打損傷要訣</h1>
<p>凡人受打，左胸名為氣門，右肋名為血海，左肋名為食腑，胸前名為龍潭穴，背脊名為海底穴。左乳受傷發嗽，右乳受傷發呃。以上身穴皆要緊之所也。凡踢打跌撲損傷，男人傷上部者易治，傷下部者難醫，以其氣上升故也。女人傷下部者易治，傷上部者難醫，以其血下降故也。凡傷須驗在何部，按其輕重，明其受傷新久。男子氣從左轉，左則屬陽；女子血從右轉，右則屬陰；要分氣血之使。此症既受臟腑脈絡，又驗其生氣遲速，萬投萬應，起死回生，宜珍藏之。傷全體者死速，傷肩背者死緩，傷左邊者，氣促、面黃浮腫；傷右邊者氣虛，面白血少；傷背者，五臟皆繫於背，雖凶死緩，百日後見危，服藥酒為妙；傷胸者，胸血氣極停來往之所，一傷必咳嗽，高起迷悶，面黑髮熱，主三四日死。服七釐散，次服行氣活血湯可痊。傷肝者，面生紅紫眼赤發熱，主七日死。先服流氣飲，次服小續命湯，後服和中丸。傷心口者，面青氣少，吐血，呼吸大痛，身體不動，主七日死。先服流氣飲，次服大續命湯，後服和中丸。傷食肚者，心下促陣而痛，發熱、高浮如鼓皮，飲食不進，氣促發熱，眼閉口臭，面多黑色，主七日死。先服大續命湯，後服和中丸。兩耳即龍耳，身角多黑色，面浮光白，常如哭狀，腫如弓形，主半月死。先服通聖飲，次服流氣飲，後服和中丸。傷小腸者，小便閉塞作痛，發熱口乾，面腫氣急，或時作痛，口有酸水，主三日死。先服流氣飲，次服大續命湯，後服和中丸。傷大腸者，糞後出紅，急澀面赤，主半月死。先服流氣飲，次服續命湯，後服和中丸。傷膀胱者，小便痛澀，不時有尿滴出，膨脹發熱，主五日死。先服續命湯，次服行氣活血湯。傷陰囊、陰戶者，血水小便出，腫脹痛極，心迷放浪，主一日死。先服護心養元湯，後服大續命湯。胸背俱傷者，面白而瘦，食少發熱咳嗽，主半月死。先服流氣飲，多服和中丸。傷氣眼者，氣喘大痛，夜多盜汗，身瘦食少，腫痛不寧，主六日死。先服流氣飲，次服和中丸。傷血海者，血多妄行，口常吐出，胸前板滯作痛，先飲活血湯，次飲流氣飲，再服斟酌末藥。如血流不住，主一日內死。傷兩肋者，氣喘大痛，睡如刀刺，面白氣虛，先飲行氣活血湯，次服續命湯，不治，主三日內死。兩肋痛者，肝火有餘，氣實火盛故也。或有青痰食積流疰而痛者，或有登高跌損瘀血凝滯而痛者，或有醉飽房勞，脾土虛乏，肝木得乘其土位，而胃脘當心連兩肋痛者。又有傷寒發熱而兩肋痛者，以足少陽膽經，從足厥陰肝經之病，治以小柴胡湯。左肋痛者，氣與火也；右肋痛者，痰與火也。瘀血痛者，傷處有紅腫高起微白，人發寒熱而痛多氣虛。黑瘦人發寒熱而痛，多怒必有瘀血，如無腰痛日輕夜重，此瘀血滯故也。凡踢打跌撲損傷兩肋者，另有領經藥醫治。夫領經藥必宜檢點，若傷上部，次用川芎，在手桂枝，在背白芷，胸腹白芍，臍下黃柏，左肋青皮，右肋柴胡，腰加杜仲，下部牛膝。傷足木瓜，周身羌活，婦女必加香附。煎劑之法亦宜隨症加減，修合不可不精也。凡人受打或踢，傷重者即明醫亦不可就用藥，如患者不肯開口，先將牙皂引吹入鼻，一嚏而開，即用韭菜根打汁燉熱和童便灌之。如不納，此為難治之症，若納而同瘀血吐出者，辨其輕重，即服奪命丹，隨投疏風理氣湯，外敷吊傷丹，至重者用炭火法，次服接骨紫金丹，如服痛者宜以行之，後當隨症加減，用藥者自宜斟酌可也。</p>

<h1>金槍論</h1>
<p>凡兵器傷，血出渴甚，不可飲冷水、冷茶，並食冷物，童便和老酒煎服，然後施治。庶幾無誤。</p>

<h1>接骨諸方</h1>
<p>夫自然銅接骨之要藥，除敷藥不外不用，惟傷散劑內不可忘之。續斷、五加皮為佐，活血歸紅為主。枳殼、青皮理氣為佐。破血木香、桃仁為君。補血芍藥、生地為最。疏風以理氣為主，活血要順氣為先。手必用桂枝，足必用木瓜，方雖家傳，用藥亦宜隨變。血出，金槍散搽好，三七、松香、冰粉強。去血過多應四物，瞑眩參耆急入良。跌打內傷惡吐咀，雞鳴散服自然昌。集念口乾絕湯水，能絕之時免禍殃。</p>

<h1>金槍不治症</h1>
<p>一傷腦戶天窗。二傷臂中跳脈，脾中陰股。三傷心或傷乳。四傷鳩尾或小腸五臟。五傷腦水或腦破，聲啞目直。六疼不在傷處。七出血不止，先赤後黑。八肌肉臭腐。犯此八者不治。除不治外，復視其血脈，未出宜洪大，已出忌洪大。脈虛細沉小生，數實浮大死。所傷處出血多，脈微緩生，急疾死。</p>

<h1>又接骨議論方</h1>
<p>夫人之首原有骱，亦無損折驗之。則有跌撲殞碎之疾。若見腦髓出者難治。骨青者難醫。碎如黍米者可取，大則不可。若犯此者，先將活血散敷之，避風戒欲，患者宜自慎。但平則以疏風理氣湯敷服之，五六貼至傷平滿，再投補血順氣湯三四貼而安。若有破傷風，牙關緊急，角弓反張之凶候，急按飛龍奪命湯而愈。此方萬投萬應，不可輕忽。次日有鬥傷落珠之症，先將收珠散敷之，用銀針蘸井水，將前珠散點血筋上，次用舊青絹溫湯挪洗上，則用還魂湯三四貼，待之平復再用明目生血飲服之而安。續有鼻梁骨斷之症，先將接骨散敷之著骨，次用生肌散菜油調敷，再用活血止痛散，其外自然平服而安。人有缺唇之症，先將代痛散敷之，次將油線縫其合，後將生肌散調敷，內服活血散、止痛散而安。豚骱不比諸骱，惟此最難。此骱出則觸在胯內，使患人側臥，出內手隨內，外手隨外，上手住其腰，下手捺住其挽，將膝掬其上，出左拔其右，出右拔其左，向右拔伸而上也。內服生血補髓湯而安。豚骱以此為則，惟有天井骨最難，若言損折，人或有登高跌倒者犯此症，其骨不能綁縛，多有換骨出外，用喘氣湯服之，使骨相對，次用接骨散敷之，用綿包裹。連肩背骨落之，有用提氣活血湯，投之三四貼而安。觀其筋骨，多有損傷，頭不能相對，若非吊嗽飲，焉能醫此病哉！用接骨散敷之，服生血補髓湯數貼而愈。易折在於人之兩腿，傷之則為兩段，醫之在綁縛。先將寬筋散煎藥湯洗，使患人側臥在床，與無患足取齊，次用接骨散敷之，用綿包，必用抄板八片，長四寸，綿紙裹，外就用繩三條，與杉板均齊綁縛，內服活血止痛散三四貼，又用壯筋續血骨丹，間服而愈。舊蓋膝骨又名臏骨，將此舊骨在上蓋之，其骱迭出於上，治之必用綿箍，使患者仰臥，一人抬起腳踝，若使出於左，隨左而下，出於右隨右而下，醫者緩緩雙手扶綿箍在於膝下，上手彎住其膝，下手接住其腳，彎出於右手、偏於左下，左手偏於右下，使舊膝相對，膝下手則抬起必上。必先用接骨散敷之，綿布包裹，綿箍按在患處，內服生血補髓湯三四貼，次服壯骨續筋丹而愈。惟小膀有二骨，一大一小，一骨折者易治，兩骨折者難醫。折之則有藕比頭者易治，兩段者難醫。戳尚有骨破者凶候，若無凶候則與大腿同治。犯此症者，骨必在皮肉上，則用染爛丹去其肉。而後將骨對，切勿用湯熏洗，恐湯毒入內，次將生肌散敷之。如骨折皮肉不破，可用接骨散敷之，後照前綁縛，用杉板六片，長三尺五分，下骨板長五分，上骨段上板長五分，取其擔力，惟此症最痛，必先服生血補髓湯三四貼，次服壯筋續骨丹愈，數貼而安。腳踝骱易出，上之亦難，一手抬住其根，一手扳住其指，出右手扳其右，出左手扳其左，腳跟掬指掬上腳下一伸而上也，必服寬胸活血湯而安。肩骱與膝骱相似，其膝前送上，肩骱送下，有力可上之，先一手上按住其肩，下按住其手，緩緩轉動，候其筋舒。患人坐於低處，一人抱住其身，醫者用手又捏其臂，抵住其骨，將膝挾其手，齊力而上也。用綿裹如雞蛋大，落其膝上，敷用接骨散，服用生血補髓湯而愈。臂出觸於上，一手按住其挽，一手按住其膝，踝先掬其上，而後抬其挽，一伸可上也。敷用接骨散，綿布包裹，服用生血補髓湯而愈。手骱送出，一手按住其五指，一手按住其手掌，掬起其手骱，下一伸而上也。此乃會膝之所也，必服寬筋活血散。骱出不用縛，先用骨骱散敷之，綿布裹包，用闊板一片在患處，共用杉板四片，長三寸，縛用七日可放。手指則有三骱，惟中節出者有之，易出易上，藥必服活血止痛散，不然最疼痛也。大臂與小臂傷折，與大腿小膀同治，惟服藥下部則加牛膝、木瓜，上部加桂枝。此數者略言其要耳。我後子孫效學者，必擇賢者傳之，使其坐定，逐一細講，正謂口傳心授。大抵骨折在於綁縛，用杉板取其輕熟之故。此數方之要藥，萬金不可得，折傷皆出於此。藥有制度之法，煎劑在於活法，不可執一而治。但有染熱病而得此症者，必無用藥。其上骱之症，一言而可定也。亦要細別其骱頭，不可輕忽，則外有促筋矣。刀斧砍傷，骨碎補之奇，亦要討論。大抵舒筋必要用寬筋散煎湯熏洗為主。手足之筋連背在於指動，指動則此筋也動。就將此筋用湯熏洗，微微緩動伸舒也。失枕有臥而失者，有一時之誤而失者，使其低處坐定，一手扳其頭，一手扳其下頸，伸之直也。有槍戳者，看其傷在致命不致命，傷口深不深，致命處而傷不深，亦無害。若傷在腹，必探其淺深，恐深而傷在內臟者難治。傷口直者，先取止血定痛散敷之，傷口深者將綿探之，乾摻其口，待其血水流定，再將生肌散敷固，內服護風托裡散而愈。有刀斧磕傷頭額者，防其寒熱，一見則護風為上，大抵診脈沉細者生，洪大者難。傷於硬處者，看其骨損傷否。傷於軟處者，看其淺深何如。傷骨即療骨，傷肉即生肌。刀斧斫傷與戳傷不同，敷用生肌為主，內服護風、托裡為上。更詳前有論傷骱內參用。有人自以刀勒咽喉者，看其刀口之平不平，而勒有彎曲淺深，兩刀勒者易，一刀勒者難。若硬其食喉，先將油線縫其合，次將生肌散封固，內服護風托裡散而安。如食喉斷者必死難治，絲線縫其缺喉亦可。有傷肚皮腸出外者，此症故險而無害。醫者當去其指甲，恐致傷腸反受其害也，此人必死。但內臟不傷，湯藥飲食如常，可保終吉。用紡車一部，對患者緊搖，勿使患處將濕湯搽上，痛處油線縫其皮，初將生肌散封固，內服通腸活血湯而安。桑白皮線縫亦可。人之一身，十指最重，若使傷其一指必聯心痛難忍，中指比於各指最重。況且又染傷風，先將止血散敷之。如人咬傷者，必先去其齒毒氣而敷之，急投護心丸一服以安其心。若犯破傷風，急服飛龍奪命湯而愈。如刀斧折傷者易，人咬傷者難，有毒內服退毒定毒散。如人咬傷者，其間十有九死，必難治也。如有骨碎損者，看其傷處，破則必取骨，不破則用鑽骨散穿取，後將生肌散封固，內服定痛補髓湯而愈。若取碎骨不盡者不愈。用必看取，自然愈矣。此書不可輕忽，宜珍藏之。</p>
