<header data-type="book">
<h1>診餘舉隅錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳匊生</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1897">公元1897年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>陳敘</h1>
<p>吾宗匊生，以醫國之才，守傳家之學，脈審樞闔，術受奇胲，垣見一方，爭飲上池之水，月為千軸，不私禁要之書，以為兩漢意旉。初非信史，三家俞矯，僅屬寓言，丹溪辨疑，尚乖通元之旨，高陽偽託，益損叔和之真，非出手編，孰抒心得，於是觀縷往跡，昭示來茲，凡夫診脈處劑之宜，瀉下溫中之辨，靡不拘元提要，剖毫析芒，本布帛菽粟之言，闡金匱玉機之蘊，將以發揮名理，啟導愚蒙，任舉一隅，皆資三反，登之梨棗，將為壽世之謀，辱在枌榆，許跗贈言之義，允頤觕知藥性，罕讀方書，曩在春明，嘗嬰末疾，賴君和緩，起我膏肓，遂解帶以寫誠，益推襟而送抱，習聞緒論，具識洲衷。君每誦孫真人之言曰：膽欲大而心欲小，知欲圓而行欲方。自謂生平心知此意，故能披竅導窾，噓枯吹生。予維君介石貞操，渾金令器，範為士則，瞻盎睟之容。學有師承，秉庭闈之訓，疑其敦謹，罕識變通，而乃察色覘豪，不差累黍，審同辨異，妙悟循環，遊心於虛，獨析三停之秘，銀手如斷，是為九折之良，如用兵而出奇，將由技而進道。固知俞跗治病，不在湯液之間，岐伯論醫，別具神明之用。非夫懸壺市技，膠柱審音，所可絜量短長，較論得失者矣。活人無算，待樹蘇家丹橘之林，惟我知言，請讀畢氏青囊之帙。</p>
<p><u>歲在丁酉日長至，武進陳允頤敘</u></p>

<h1>柯敘</h1>
<p>語云：儒者不為良相，必為良醫，以醫之治病，與相之治國，同其道也。顧世之習醫者多矣，即著為書，亦復汗牛充棟，大都可訾者多而可法者少。醫豈易言哉。陳君匊生，為毗陵名下士，早歲講求醫理，既得家傳，而加以天資學力，迥非流俗所可同年語。中年客遊南北，活人無算，公卿交譽，聲名藉甚，予前在津門，獲交匊生，孱軀多病，時賴診治，受惠孔多。今年需次金陵，夏秋之間，得伏暑證，群醫皆主燥濕利導，日見其憊。幸值匊生來應鄉試，過我一診，即用滋陰重劑，與諸方迥別。果一服而大效，三四服而豁然。舉此一端，其醫學之精，已可概見。出《診余舉隅錄》見示，皆其生平所治疑難各證，或溫或清，或補或瀉，或重劑或輕劑，或用急法或用緩法，或數人同患一症而彼此治各不同，或一人迭患一症而前後治又不同。其臨診也如珠走盤，無呆滯處；其辨症也如鏡鑑形，無模糊處；其用藥也如稱有權，無遊移處；其制方也如綱在綱，無鬆懈處。雖頃刻告危，不難立救；縱累年宿恙，亦可挽回。洵醫學中不經見之書，非若他書揣摩影響者所可比也。夫人能通天地人者為名儒，消息寸關尺者為良醫，匊生以儒兼醫，異日此書一傳，有功醫道，當非淺鮮，即謂與良相媲美，亦無不可。予雖不知醫，而頻年親藥餌，亦略窺其門徑，用敢贅述數語以諗精於此道者。</p>
<p><u>光緒二十三年歲在丁酉仲秋月古歙弟受丹柯鉻謹敘</u></p>

<h1>自記</h1>
<p>診余偶舉一二證引申其說，為王生攸芋（號祖佑）、胞侄晉蕃（號秋坪）等憤悱啟發之一助，其痛斥庸腐陋習處，不免言之過甚。餘明知過甚而不能自己於言者，蓋以醫雖小道，人之性命攸關，安危所繫，不比尋常細故，可以含混了事，粉飾過場也。至於審症實情，用藥要法，參天人之奧，酌今古所宜，則又有醫學可觀一書。頻年作客，未遑刪繁就簡，一俟訂正，即公同好。若茲所錄諸篇，不過一隅之舉云爾。</p>
<p><u>陽湖陳廷儒匊生自記於倦遊之室</u></p>

<h1>卷上</h1>

<h2>四時感冒虛脫證</h2>
<p>春夏地氣上升，秋冬天氣下降，人在氣交中，一呼一吸，與時消息，間有不和，名曰感冒。為病本輕，平人患此，表散和解，便愈。若系虛人，初起施治，即當標本兼顧，於法邪中，寓扶正法，否則虛虛之禍，變不可言。丁亥，余授徒於家，及門梅錦培病感冒，一月後，病勢由重轉危，一二時流，斷為立斃。其家請診於余。余視之，身熱未清，神氣已極昏弱，脈象微不可辨，似有若無，時蓋胃虛欲脫，非補不治。因急飲以參湯，少頃，又與以米湯，米湯後，再繼參湯，更番迭進，一日數次。明日復診，脈來有神，惟夜不安寐，獨參湯外，又用冬地歸脾湯，並戒其家曰：飲藥後，必安睡，安睡後，必大便，防脫，須多備參湯以待。及飲藥一時許，果睡，甚酣，夜半，果大便，便時，汗大出，如欲脫狀，頻飲參湯，得無恙。閱日又診，身熱已退，神識亦清，後以補中益氣湯、八珍湯等方，出入加減，溫補而痊。或問曰：前醫皆云此症不可服參，獨先生見之，即知非參不起，何也？余答曰：參之用不用，視症之虛不虛，人惟邪熱積滯大實症，誤用人參，釀禍最酷，乃世俗鑑此，視人參如砒毒，雖病至虛危欲脫，亦禁服參，未免太愚。夫虛者於參，譬如飢者於食，渴者於飲，實有相需以養，相賴以生之勢，惟其人不飢而食，不渴而飲，所以停積為災。使見停積為災，遂疑飲食非生人之具，甘飢渴而死，有是理乎。喻嘉言曰：人受外感之邪，必先汗以驅之。惟元氣旺者，外邪始乘藥勢以出。若虛弱之人，藥力外行，氣從中餒，輕者半出不出，重者反隨元氣縮入，發熱無休，故表藥中，必用人參三五七分，稍助元氣，為祛邪之主，庶使邪氣得藥，一湧而出。又曰：傷寒專科，從仲景至今，明賢方書，無不用參，今日單除不用，全失相傳宗旨，使體虛之人，百無一活。曾不悟其害，由是而思，能為虛人必用之藥，彼不敢用參者，盍味斯言。</p>

<h2>春溫夾滯證</h2>
<p>冬令寒邪，伏藏少陰，至春寒化為火，發於少陽，由內而出，名曰春溫，與傷寒邪由外發不同，昔人治春溫，以黃芩湯為主方，若因感受外邪，引動在裡伏熱，則先辛涼以解新邪，繼進苦寒以清裡熱，緣溫邪忌散，不與暴感門同法故也。使誤散之，胃汁卻盡，症必轉危。乙未春，余客上海，凌少遺之母，年近花甲，患春溫症，兩旬後，身熱汗出，譫語神昏，食不進，寐不安，勢已垂危，似不可治。來延余診，切其脈，虛細而疾，望其舌，苔膩而黃。令按胸脘，問痛否，聞伊答曰痛，出話聲音，頗有清郎之致，外象雖危，中氣未敗。核脈參症，明是邪入營室，陰液被卻，脘中更有積滯未消，用羚羊清營湯加枳實。二劑，熱止神清，脈象亦靜，惟神疲氣弱，不思飲食，改用加減復脈法，二劑，胃氣漸蘇，神識亦振。再承前方去二冬加黃耆、白朮，溫補而愈。按春溫症，隨地有之，上海為多，蓋東南地氣，溫於西北，上海一隅，尤偏於東，至春令木旺，天氣與地氣，合同疏泄，不能無偏勝之弊。主治者，若知救弊補偏，得其道矣。</p>

<h2>夏熱失治證</h2>
<p>夏至以後，炎暑司令，相火用事，其人伏邪久郁，適隨時氣暑熱，一朝勃發，名曰熱病。及早清之，本無大害，特恐拘守六經分證，仍用傷寒法治，勢必轉重轉危。庚寅夏，余客天津，金陵張君臥樓患病二旬，來延余診。脈浮細而疾，面赤舌赤，目呆耳聾，神昏譫語，身熱汗出，煩躁不寐者八日，米飲不進者六日，小便短赤，大便先溏後結，令人按其脘腹，拒不欲按，至少腹，更不能按。明是大熱之症，中有結糞，非急為清下不可。因合白虎承氣，去川樸、粳米，加元參、花粉、竹葉、蘆根為方。並告其僕曰：服藥外，恣飲西瓜水。余去，又有醫至，慮病久正虧，所藥過峻，不敢與服，改用牛黃清心丸法，入夜，猝起發狂，越戶，仆地，舉室駭然。其僕記予臨去時，有恣飲西瓜水一語，即用西瓜取水飲之。神稍定，扶而入。比明，又延余往，見證較昨益危，詢知其故，因告之曰：釜底抽薪之法，古人正為此等熱症設也。不通下竅，則上中二焦火，清亦無功，余豈不揣病情，輕以猛藥與人者。實因勢已垂危，不如此則不救，迫於弗得已也。仍用前方加小生地、麥冬，飲藥一時許，即安睡，至夜，大便一次，明晨，又大使一次，神識俱清，能進粥飲。即日又診，比余至，時剛午刻，神識又昏，人謂此必病退正虛之兆，余曰：不然，面色尚赤，脈象尚數，按至少腹，尚有欲拒之狀，見證仍實而不虛，神識復昏，實緣巳午二時，陽氣極盛，外火引動內火，相因而熾故也。今再服前藥一劑，服後，睡如昨，合亦如昨，從此神清，不復昏矣。後去生軍、芒硝，專服石羔、生地等藥至六十餘劑，每劑羔、地必用兩許，並飲西瓜至三石而後痊。夫此症起於五月，重於六月，其為熱病明矣。古人治熱病，以白虎湯為主，後賢劉河間創議，分三焦投藥，以苦辛寒為主，治法具在，乃俗工不知早為之所，致兆焚如，迨勢已垂危，又欲救車薪以杯水，名為慎重，實則因循。幸而氣血尚充，稍延時日，否則火性至暴，頃刻燎原，雖有盧扁，其及抽薪於釜底耶。</p>

<h2>秋燥脫肛證</h2>
<p>春分以後，地氣動而濕勝，秋分以後，天氣肅而燥勝，秋燥致病，氣分先受，治肺為急，人皆知之。然肺與大腸相表裡，其為金也則一。燥從下受，往往大腸液涸，症轉為危。辛卯秋，入都應試畢，吾友史怡之遣人持書，邀余往診，脈象細數，舌微有黃苔而干，大腸燥結，便後脫肛，人見形容瘦弱，以脫肛為氣虛，進以補中益氣湯加味，遂至異常疼痛，日夜呻吟，安寐既不能，飲食尤少進。余思瘦人多火，此症系伏火為患，現屆秋月燥令，燥火二氣相併，庚金受灼殊甚，又服補氣之劑，火得補而益熾病安得不劇。因用地冬潤腸膏，二劑，大便潤，疼痛平，能安睡矣。再用生地黃煎去竹瀝薑汁，三劑，諸恙大減，飲食如恆。後又服滋養藥，十餘服而愈。論脫肛一症，小兒氣血未壯，老人氣血已衰，或產育及久痢用力過多，每患此疾，《難經》云：大腸與肺相表裡，肺藏蘊熱則閉，虛則脫，須升舉而補之。蓋緣氣虛不能約束故也。後人宗其議，遇脫肛症，不問何因，率用補中益氣湯為主方，豈知治者愈是，病者愈苦。症情百出，安能以一法繩乎。如此症，燥火爍金，非清潤不可，若一於升補，邪愈實，血愈枯，後恐變不可測。昔人於大腸燥結門，有氣血耗竭，嘔逆不食，便如羊矢之戒，豈無所見而云然哉。</p>

<h2>冬月傷寒兩感證</h2>
<p>霜降以後，寒邪直入三陰，謂之直中傷寒，治有溫熱一法，若由三陽傳入三陰，謂之傳經傷寒，在外為寒，入內為熱，按經施治，宜散宜清，而且六經傳變，厥名甚多，有巡經傳，有越經傳，有首尾傳，有表裡傳，其症以表裡傳為至重，即傷寒兩感症也。一日太陽與少陰同病，二日陽明與太陰同病，三日少陽與厥陰同病，以其陰陽俱病，欲汗則有里症，欲下則有表症，來勢極重，辨之不早，頃刻害人。故《內經》、仲景皆云必死，並不言所治法。愚竊謂兩感症，外寒內熱，即冬溫症又感重寒而發者，隨其邪之輕重，按症施治，未必絕無挽回。吳鶴皋曰：易老制大羌活湯，用羌活、獨活、防風、防己、細辛、川芎、白芷、蒼朮、黃芩、黃連、知母、生地、生草，意謂傳經者皆為陽邪，一於升陽發散，滋陰養藏，則兩感之淺者，尚或可平。所論與愚意頗合。至乙未冬，余客上海，有茶業王某患傷寒症，身熱惡寒，頭痛項強，口乾煩渴，溺亦便燥，舌苔黃色，脈來浮舉則緊，沉按則數，表有寒，里有熱，內外邪俱盛，非太陽與少陰同病之兩感症乎。余即師大羌活湯之意，用麻黃、紫蘇、荊芥、防風以散外寒，用石羔、知母、元參、生地以清內熱，又加枳殼、陳皮利其氣而為之佐，重劑投之，兩服而痊。可知傷寒兩感症，即冬溫感寒外寒內熱症，本無不治，其云必死者，為誤治者言之。非謂概不可治也，其不言治法者，欲後人將六經條治之法，融會貫通，權其表裡寒熱，分緩急而施治，故不復為贅言也。至六日死三日死之說，亦謂症情危急，圖治當速，遲則無及耳，豈真計日待死，絕無法治哉。方書此類正多，不可不思。</p>

<h2>精氣不足衰證</h2>
<p>人生五十始衰，過此以往，全賴隨時節養，設或勤勞太過，則衰甚矣。癸巳夏季，應試入都，貴大司寇來延余診。據云：去冬即有小恙，至春其恙大發，醫藥迭進，轉重轉劇，延今數月，食不甘，寐不安，面燒齒浮，溺澀便澀，心悸汗出，肢弱體疲，耳不足於聽，目不足於視，語不足於音，一切精神，尤為惝恍。餘切其脈，浮舉似弦，沉按又微，知是血氣大虧，風陽不潛所致。先用濟陽熄風之劑，加補益以佐之，五官稍可用，四肢較有力矣。再用補氣養血之劑，頻增減以治之。心神雖不足，眠食可如常矣，餘症亦就痊矣。原此症由來，因平日勞心大過，精氣受戕，迨病起初，又治失其宜，所以衰羸至此。前於虛人感冒症，特申扶正祛邪，標本兼顧之說，蓋欲主治者，遇此等虛弱證情，為之早籌全局也。至論病後攝養，要藥有二，大法有三。所謂二者何？一曰鹿茸，二曰人參，蓋非茸不能補督脈之精，非參不能補五藏之氣。所謂三者何？一曰益，二曰復，三曰恆，益者益其正氣，復者復其元精，恆者恆久而後奏功。竊見今人，有病後失於調理，終身羸弱不堪者，是氣之傷也。有病未復元，即起勞役，時愈時壞，後竟無可挽回者，是精之奪也。有病愈後，急需調養，聽人訛說，謂補藥不宜多服，因循自誤者，是功敗於垂成也。惟有明理人，知精與氣為吾身至寶，既虧損於前，思補救於後，當病後元氣未復，除藥餌外，起居必慎，飲食必調，雖累月累年，不忍或勞，非自逸也。蓋養氣蓄精，猶欲出其身以有為，不敢輕於嘗試也。則聖賢存心養性之功也。</p>

<h2>氣血兩損弱證</h2>
<p>人生二十曰弱，弱者，血氣未充之謂。當血氣未充時，勞乏以致疾，怯損矣成。己丑，內親蔣丙炎，時十九歲，四月中，害目赤方愈，五月初，即應試澄江，北返，又病暑溫，時而治愈，時而勞復，如是者數旬。其家疑醫藥無功，禱於神，服仙方，月餘，病益劇，速余往視。脈細如絲而數，忽寒忽熱，咳嗽喘促，口吐清涎，間有紅絲，自汗腹痛，室中略行數武，汗喘即甚，痿頓不堪。其家問病可治否，余答曰：怯損已成，姑念年少，試設法以挽回之。用十全大補湯、生脈散、香砂六君丸等方，出入加減治之。數旬後，忽壯熱不退，知是感冒外邪所致，另用紫蘇煎湯沖飲，得微汗，熱即退。又數旬，忽腹痛下痢，知是正氣得理，邪無所容故，另加川連數分，因勢利導之，痛痢即止。又數旬，因怒火上升，忽於午煎，面赤神昏，兩起逆冷，知是命火上泛，非引火歸元不可。另以金匱腎氣丸一兩，分作三服，交巳刻，先用開水送下，並用火爐烘足，浮火即平。是症也，共治百數十日，症雖屢變，所藥不變，隨時隨症，略加數味而已，居然逐次奏功，終收全效。使所見不確，施治不專，有不因循貽誤者乎。迨病愈後，里中有老者見之，驚為異，踵余門，求治數十年老病。余曰：某病所以能挽回，固由醫藥功，亦由年華富。蓋年未弱冠謂之少，年將花甲謂之耆。少如春初草，勾萌甫達，常存生長之機，耆如秋後林，枝葉雖繁，隱寓衰殘之象也。惟事亦不必以常理拘耳。嘗見世之人，老而強，每勝於少而弱，是知人定亦許勝天。齊邱子曰：松柏之所以能凌霜者，藏正氣也；美玉之所以能犯火者，蓄至精也。惟人亦然，子能藏氣蓄精，即卻病延年之道矣。書一調補方與之，老者乃欣然而去。</p>

<h2>咳嗽內外因證</h2>
<p>肺為五藏華蓋，體本清虛，一物不容，毫毛必咳，有外感六氣而嗽者，有內傷七情六慾而嗽者。治當先其所因。癸巳冬，余寓天津，高君誠齋之室，晨起即嗽，至暮尤甚，連咳不止，延余往診。切其脈，浮虛細數，知是寒束於表，陽氣並於胸中，不得泄越所致。用利膈煎治之，下咽即安。又曹某，每日午後，必發乾咳數聲，病已年餘，問治於余。切其脈，六部中惟左尺沉按則數，知陰分至深處，有宿火內伏，故午後陰氣用事時，上衝於肺而咳。朱丹溪所謂火鬱之乾咳嗽，症最難治也。余用杞菊地黃丸意，加減治之，十餘劑而愈。丙申冬，余又至天津，周菁莪大令患咳嗽症甚劇，終夜不得臥，來速余診，切其脈，六部細數，右關尺按尤有力，知是大腸溫邪，上乘於肺而咳。用芩知瀉火湯加減，十數劑而治愈。丁酉夏初，江君鏡泉子後午前，咳嗽痰多，並見筋骨痠痛，食少神疲等症。余診之，脈來緩弱，知是脾虛寒侵，用理中湯加味，溫補而愈。此數症也，或表或里，或虛或實，或寒或熱，如法施治，應手奏效。故先哲有言，咳嗽雖責之肺，而治法不專在肺，誠以咳嗽受病處，不盡屬於肺也。今人但知咳不離乎肺，凡見咳嗽，即以辛藥治之，一切咳嗽不因於肺者，纏綿不已，永無愈期。迨至勞症將成，乃歸咎於肺氣不充，與肺陰不足。今試問氣何以不充，陰何以不足，非緣過服辛藥，肺經受傷之故歟。使能先其所因，不沾沾於治肺，則咳早平而金不受困，其得失為何如耶。</p>

<h2>咳嗽吐血大腸火證</h2>
<p>吐血一症，有心肝脾肺腎之分，或咳血，或嘔血，或唾血，或咯血，或間血絲，或成盆或碗，辨清表裡陰陽寒熱虛實，按症施治，無不愈者。特恐病家自認為勞，醫家亦誤認為勞，畏首畏尾，因循從事，貽誤滋多。庚寅冬，余客濟南，楊君景澄病咳嗽吐紅，醫用地榆、歸尾、前胡、橘紅等藥治之，旬有餘日，轉重轉劇，來延余診。切其脈，濡而數，右尺獨疾，舌跟有緊貼黃色薄苔，明是大腸火逆，上灼肺金，咳傷血膜，血隨痰出。遂宗朱丹溪法，用三黃瀉心湯加味，數劑，吐紅止，咳嗽平。後又減三黃加參耆，調理而愈。丙申正月初，余旋里，吾友李經誼病。據云：初起不過咳嗽，未幾氣喘，未幾吐血，延今月餘，病益加劇，腰痛不堪。餘切其脈，右尺滑疾，明是大腸火盛，上衝於肺所致。用槐花降氣湯一劑，大便下紫黑血，咳喘漸平。再劑，吐血止，腰痛輕。後承是方加減而愈。此二君也，一則體瘦，一則體肥。肥人多濕，故燥而清之；瘦人惡燥，故潤而清之。受病雖同，用藥是異，未可混施耳。或以瀉心方用大黃苦寒為疑，余曰：火盛則血不歸經，用大黃無他，不過瀉亢甚之火耳。李士材曰：古人用大黃以治虛勞吐衄，意甚深微，蓋濁陰不降，則清陽不升，瘀血不去，則新血不生也。所恐俗工辨症不明，遇內傷挾寒，亦用大黃，罔不殺人。蓋陽虛陰必越，營氣虛散，血亦錯行，須用理中湯甘草乾薑湯以溫其中，血始歸經。較前二症，或寒或熱，有天壤之別，不可不知。</p>

<h2>喘因伏暑證</h2>
<p>喘之為病，有風寒，有暑濕，有痰壅，有氣鬱，有水氣上泛，有火邪上衝，致喘者不一端，要不越表裡寒熱虛實之分，先哲有言，治病以辨症為急，而辨喘症為尤急，蓋見庸工治喘，拘守偏見，不能隨症施治也。茲姑舉其一。壬辰秋，余至天津，適張漢卿觀察病氣喘甚劇，終夜不得臥，綿延已月餘，邀余往診。脈虛細數，審是夏季伏暑未清，陰虛火升為患。用潤氣湯加石羔，一劑，喘嗽平，能安睡矣。後承是意加減，兩旬余而愈。當初治時，有聞方中用石羔，傳為大謬者。愚思症起六月，暑邪內伏，非石羔不解，何謬之有？彼以石羔為謬者，殆患喘而不敢用石羔者也。否則辨證不明，誤用石羔治寒喘，未得其法者也。夫仲景續命湯、越婢湯等方，俱加石羔以為因勢利導之捷訣。李士材治煩暑致喘，用白虎湯。古人治火邪上衝，喘不得息者，罔不藉石羔以為功。蓋暑喘用石羔，猶之寒喘用乾薑，虛喘用人參，實喘用蘇子，不遇其症則已，既遇其症，必用無疑。俗流信口雌黃，原不足辨，所不能不辨者，此等喘症最頑，愈未幾時，倏焉又發，投劑稍差，貽誤非小。丙申冬，劉偉齋大令之令郎，病喘甚劇，數日一發，發則頭痛身熱，轉側呻吟，苦不可堪，餘切其脈，右部虛數，左更微不可辨，按久，又似有數疾情狀，知是陰虛陽盛，與以冬地三黃湯，喘勢漸平。繼減三黃進以參耆，調養而痊。丁酉夏，因勞復發，他醫以頭痛身熱為外感，而用溫疏，以形瘦脈微為中虛，而與補益，病勢又劇。余仍前清養治法之，旬余而愈。可見喘系宿疾，多由氣質之偏，不得以尋常脈證相例，總恃臨證者，隨時論病，隨病論治，陰陽虛實，辨得清耳。</p>

<h2>嘔噦虛寒證</h2>
<p>嘔噦有氣血多少之分，有寒熱虛實之異。實而熱者，清之瀉之，可以即瘳；虛而寒者，溫之補之，不能速愈。壬辰秋，余客天津，張鴻卿觀察來速余診。據云：夙病嘔吐，延今偶觸涼風，即泛冷涎，若將噦逆者然。餘切其脈，沉細而遲，知是積寒久郁，非用大熱藥，不足消沉痼之逆冷，不能復耗散之元陽，用四逆湯加味，重劑與之，每劑用附子一兩，共服至百數十劑，宿恙始痊。或問：附子稟雄壯之質，用至一兩，不嫌多乎？答曰：大寒症，非用斬關奪將之藥不治，惟附子能通行十二經，無所不至，暖脾胃，通膈噎，療呃逆，同乾薑則熱，同人參則補，同白朮則除寒濕如神，為退陰回陽必用之味。近世疑而不用，直待陰極陽竭，而用已遲矣。古人於傷寒陰證厥逆直中三陰，及中寒來陰，雖身熱而脈細，或虛浮無力者，俱用附子以溫理之。或厥冷腹痛脈沉細，甚則唇青囊縮者，急須生附以溫散之。東垣治陰盛格陽，面赤目赤，煩渴引飲，脈來七八至，按之即散者，用乾薑附子湯加人參。余於此症，附子外又加乾薑、吳萸、白朮、人參，共服至百餘劑而止。可見陰寒固結，非重劑不為功也。</p>

<h2>反胃噎膈寒熱證</h2>
<p>飲食之後，氣忽阻塞，如有物梗者，名曰噎。心下格拒，飢不能食，或食到喉間，不能下咽者，名曰膈。如食下良久復出，或隔宿吐出，名曰反胃。症有寒熱虛實之分。己丑夏，同邑張姓室，病噎膈症，據云：患已三年，初起數旬一發，今則五日一發，三日一發，飲食減少，大便燥結，較前尤劇。余診之，脈虛濡細澀，右關獨滑數，其時天氣甚熱，病者獨穿夾衣，畏寒不已，知是胃脘熱滯，清不升，濁不降，中宮失健運之司，治以開關利膈湯加石羔、枳實。一劑，舒快異常。二劑，夜半，腹中忽痛，便泄一次。復診，脈象右關已平，餘部亦起，去石羔、枳實，參用旋覆代赭湯，後又加四君子湯，調補而愈。丁酉秋七月，應試金陵，柯受丹觀察囑為汪君鶴清，治一反胃症，據云：前病外症，愈已半年，後漸神倦體疲，食入即吐。余見其鼻準有紅紫色斑如豆大，切其脈，六部滑數，尺尤有力，知是腸胃宿火未清，濁邪因之上乘，非通下竅不可。初進承氣湯去川樸加滋清藥，嘔吐即平。繼進地冬湯加味，月餘而症悉愈。此熱者清之、實者瀉之之一證也。壬辰冬，余客天津，蘇州龐某患反胃月餘，清涎時泛，食入即吐，神疲體倦，羸弱不堪，人以吐為肝風，迭進平肝之味，不效，延余往診。脈象遲弱，知是胃中無陽，命門火衰所致，以附子理中湯加肉桂丁香，數十劑而病愈，甲午冬，余旋里，同邑毛君壽愷，病噎膈二年，食少胸悶，痿憊殊甚。餘切其脈，細緩無神，知是虛寒痼疾，非重劑溫補不可。用四逆湯理中湯等方加味，症稍平。十數劑後，渠寄書問余，意欲速效，余答云：治病如行路，路有千里，僅走數里，即期速到，恐醫藥中，無長房縮地法也。嗣後附姜熱藥，俱增至一兩與八錢，據云：服至年餘，病始痊愈。此寒者熱之、虛者補之之一證也。或見後證藥熱，迥異前證藥寒，問其所以異，余曰，太陽之人，芩連知柏可常用，雖冬月亦如之；太陰之人，參附薑桂不絕口，雖暑月亦如之。此氣質之不同也。然有時苦寒太過，素畏熱者轉而畏寒；辛熱太過，素畏寒者轉而畏熱。此又氣質之變易也。總之或寒或熱，隨證論定。見為熱，治以寒，事宜急，緣火性至速，遲恐不及也。見為寒，治以熱，事從緩，緣火有功候，九轉丹成，非十二分功候不辦也。故余遇熱症用寒藥，輕者一二劑即療，重者不過數十劑，並須加壯水藥以制之。至遇寒症用熱藥，輕者亦易療，重者必須數十劑，甚至百餘劑，累月經年服溫補藥者，無他。水之性緩，而用可急，火之性急，而用轉緩，譬如以水洗物，可以一洗即淨，以火煮物，不能一煮即熟，其勢然也。且清火後，必歸本於扶脾，補火後，必急顧其真陰。又有以火濟水，以水濟火，次第布施之道焉，非漫漢可以從事耳。</p>

<h2>頭痛實火證</h2>
<p>頭痛一症，在傷寒門，有直中傳經之別，而傳經中，又有太陽、少陽、陽明、太陰、少陰、厥陰之分。至於雜症，更有偏頭風、雷頭風、氣虛、血虛、痰厥、腎厥、客寒犯腦、邪火上衝、破腦傷風、大頭天行之異，所病在頭，而所因不盡屬於頭。辛卯春，濟南有王嫗患頭痛甚劇，人用荊芥、防風、藁本，是頭痛治頭之見也，痛勢愈酷，日夕呻吟。餘切其脈，數而弦，知是陰不勝陽，陽亢無制，上湊至巔，迫而為痛。前用風藥，猶火焚而復煽之耳，風助火勢，火借風威，痛故不可忍。治當滋水熄木，以清下法折之，冬地三黃湯加元參、羚羊角，一劑，大便潤，痛即平。又合生料六味丸意，加減治之而愈。後余入都，聞有一人病火沖頭痛頗重，延西醫治之，用豬脬五，盛冰於中，頭頂前後左右各懸其一。彼以為邪火上衝，用寒冰遏之，則火衰而痛可平。不知寒從外逼，火將內攻，症之輕者，不過多延時日，或可無虞，若遇重症，尤恐火氣攻心，挽回莫及。在西人以寒治熱，較俗工以風助火，已勝一籌，然何如用清下法折之，一服即平為愈乎。</p>

<h2>面痛虛寒證</h2>
<p>面為陽明部分，而陽維脈起於諸陽之會，皆在於面，故面痛多屬於火。惟火有虛火，有實火。實者可清，虛者不可清。乙未，余客上海，有張姓妾，小產後，兩眼中間，常有一星作痛，病已經年，問之諸醫，莫名所以然。餘切其脈，細弱而遲，知是平素血虧，小產後，血尤虧，血虧則氣虧，氣虧即火虧。遂合當歸補血湯膠艾湯加吳萸、牛膝、肉桂為方，溫補而愈。考《內經》察色篇，以兩眼之間屬心。經又云：心之合脈也。又云：諸脈皆屬於目。西醫亦云：心體跳動不休，周身血脈應之而動。可知脈為心血貫注之所，目又為血脈交會之所，今兩眼間作痛，其為心中血虛無疑。何則？經云：諸痛皆屬於心。又云：諸痛皆屬於勢。又云：心主血，心惡熱。夫熱，陽也。血，陰也。陰非陽不生，陰非陽不守，陰耗則陽氣獨勝，無所依附，勢必循脈上浮，湊於兩眼之間，安得不痛。余以補血為君，補氣為臣，補火為佐，引熱下行為使，病果應手而效。在麻衣相法，指兩眼中央為山根，吾將以山根痛名之，附於眉稜痛、眼眶痛之後云。</p>

<h2>心胸痛虛寒證</h2>
<p>心痛一症，《靈樞》有腎心痛、胃心痛、脾心痛、肝心痛、肺心痛、真心痛之分。蓋五藏之滯，皆為心痛。《金匱》用九痛丸，治九種心痛。後人以飲食氣血寒熱悸蟲疰別之。雖祖此義，實未盡《內經》之旨，約而論之，要不越陰陽虛實。然實而屬陽者易瘳，虛而屬陰者難愈。庚寅冬，余至山東，有友朱漢舲患心胸痛，或數日一發，或一日數發，如是者六七年。餘切其脈，濡數少神，知是肝脾心痛，既寒且虛，與以溫補重劑，服之，有小效，無大效。因思症系中空，甘草可滿中，並能緩急止痛，仍前方加炙甘草至壹兩，痛果大愈。但此症由境遇不遂所致，且患已數年，除根不易。其時有謂炙草一味，前方已用五錢，今又加至壹兩，毋乃太多者。余曰：甘草生用氣平，炙用氣溫，其性能協和諸藥，故有國老之稱。昔仲景甘草湯、甘草芍藥湯、甘草茯苓湯、炙甘草湯，以及麻黃、桂枝、葛根、青龍、理中、四逆、調胃、建中、柴胡、白虎等湯，無不重用甘草，惟遇嘔吐腫滿，酒客諸濕症，概禁不用，則以用藥治病有宜忌之分也。世俗治病，不明宜忌，甘草一味，重用不敢，不用不能，凡立一方，但用數分，以為如此，乃兩全之計也。不知其計愈巧，其識愈庸。汪訒庵曰：時醫用甘草，不過二三分而止，不知始自何人，相習成風，審不可破，殊屬可笑。曷為可笑，蓋笑其庸耳。</p>

<h2>腹痛宿證</h2>
<p>腹痛一症，有熱，有寒，有氣，有血，有濁，有蟲，有實，有虛，有內停飲食，有外感風寒，有霍亂，有內癰。治苟如法，雖數年宿恙，不難應手奏功。壬辰冬，余寓天津，蘇州嚴某，每於申時後，子時前，腹中作痛，上乘胸脘，甚至嘔吐，靜養則痛輕而緩，勞乏則痛重而急，病經十年，醫治不效。餘切其脈，虛細中見弦數象，知是氣血兩虧之體，中有酒積未清，故至申子二時，蠢然欲動。嘗見書載祝由科所治腹痛症一則，與此情形頗合，惟彼專去病，故用二陳湯加川連、神麯、葛根、砂仁，而此則病經多年，正氣既虛，陰血亦損。法當標本兼顧，因師其方，加參朮地芍治之。服至十數劑，病果由重而輕，由輕而痊矣。當此症初愈時，十年夙恙，一旦奏功，人聞其異，索方視之，以為效固神奇，藥乃平淡，莫名所以然。殊不知治病原無別法，不過對症用藥而已。藥與症合，木屑塵根，皆生人妙品，豈必靈芝仙草，始足卻病以延年。</p>

<h2>少腹痛火證</h2>
<p>少腹正中，為任沖分野，厥傍，為厥陰肝經分野，其痛滿有三，曰燥結，曰熱結，曰血結，皆為內有留著，非虛氣也。甲午，都中有胡某，少腹氣痛，上衝兩脅，日夕呻吟，甚且叫號，並見面赤汗淋，溺少便結等症，來延余診。切其脈，痛極而伏，按之許久，指下隱隱見細數而浮之象。審是陰不濟陽，陽氣熾張，橫逆無制所致，法當微通下竅，使濁陽不上千，諸症斯已。用清潤湯加羚羊角，一劑，二便通，痛遽平。後承是方加減而愈。時有自命為知醫者，進而問曰：熱則流通，通則不痛，凡治腹痛，總以溫痛為宜，今用清利，其偶然乎？答曰：固哉，予之論治病也。夫熱則流通一證，是與寒則凝滯對待而言；通則不痛一語，是統言寒熱虛實，通字當作和字解，猶言和則不痛也。今子牽合言之，是誣書之通者而不通矣，其能令病之不通者而通乎。且溫通與清利，治法何常之有。子謂治腹痛總以溫痛為宜，此等識見，真如井底蛙。蛙日處井中，因以為天極小，只有寒氣與濕氣，殊不知井以外，風火燥暑四氣，較寒濕而倍之。並寒濕二氣，久之亦從火化乎。況乎五志之火，六慾之火，七情之火，人固無在不與火為緣乎。惟寒邪初中，寒食留結，或房勞致損，或力役致傷，與夫病久誤治致虛，則不得用清利之劑，又當溫而通之，更溫而補之。總之病無定情，治無定法，可溫則溫，可清則清，可通則通，可補則補，隨症論治而已。若執一見以治病，其不誤人者幾希。</p>

<h2>疝痛新久虛實證</h2>
<p>《內經》云：任脈為病，男子內結七疝，沖疝、狐疝、㿗疝、瘕疝、潰疝、水疝、厥疝是也。又有偏墜、膀胱氣、小腸氣，其病亦與疝等。或因寒積，或因濕熱，或為氣，或為血，或為虛。或為實，治之者，明辨無訛，可矣。乙未，余寓上海，有寧波孫某患疝症，據述腰以下，牽引作痛，丸囊皆腫，午前輕，午後重。病經四年，屢治不效。餘切其脈，虛數細弱，知是下焦濕濁，未能早除，留戀四年，真元受損已極，非大為補正，更佐溫化不可。用十全大補湯加川楝子、橘核、吳萸為方，數十服而愈。丙申春，王君舒仲患左丸偏墜，有筋作痛，牽連及腰，脈來沉數，尺較有力，知是濕熱蘊伏下焦，非急為清化不可。余用大力軍湯加川黃柏、制殭蠶為方，十數服而愈。庚寅夏初，余客天津，楊藝芳觀察之族侄某，病小腹痛，牽引睪丸，轉側呻吟，勢不可忍，並時見吐逆等症。醫與溫補藥，不效，飲食少進，夜寐不安，病情尤劇，來延余診。脈象遲緩而澀，余思溫補頗是，而不見效，緣桂附不得乾薑不熱也。仍前方加乾薑五分，服後，吐逆即平，惟少腹及腎丸痛如故，而脈象頓數，蓋前此火為寒鬱，今則寒從火化。治有先清而後溫者，亦有先溫而後清者。陽以濟陰，陰以濟陽，調劑焉底於平而已。用地黃湯去山茱加川連、黑梔，數服而愈。以上三證，一則溫而補之，一則清而道之，一則始溫補而終清理之，均應手而效。可知疝症雖小，不能執一法相繩也。</p>

<h2>腿痛氣血虛實證</h2>
<p>腿痛一症，有氣血風濕寒熱虛實之殊，治法，亦有標本之別。戊子冬，吾同里友楊懷冰，因母患腿膝痛，不能屈伸，稍動，即酸楚難忍，經數醫診治，飲食減而神益疲，邀余往診。餘切其脈，虛數而澀，知是衰年氣分不足，偶因勞乏，經絡停瘀所致。用補中益氣湯桃仁四物湯加減為方，兩劑後，痛若失，屈伸自如，飲食增，精神亦振。或問其故，余曰：治病之道，譬如行路，由東至西，咫尺間事耳，君子遵道而行，頃刻可到，若令盲者處此，東西迷於所向，雖勞勞終日，卒不能盡其程。無他，明不明之分也。夫人當半百以後，中氣就衰，勉力勞役，停瘀致痛，症雖實而氣益虛，彼誤為痛風者無論矣。其明知血瘀作痛，恣用破耗之劑，而不見效者，亦治其末，未顧其本，猶之以寇治寇，惡者未能去，善者已羅其殃，究非上策。余用補中益氣法，以扶其正氣，更佐養血行瘀法，以祛其邪滯，正固而邪自去，邪去而正益理，所謂仁至義盡，王者之師，猶有不獲安全者，無是理也。</p>

<h2>痢疾表裡寒熱虛實證</h2>
<p>今之痢疾，即古之腸澼，其症有表裡寒熱氣血虛實之殊。辛卯秋，入都應試畢，李新吾太史來速余診。據云：腹痛後重，下痢甚劇，五月初起，綿延至今，百有餘日，日十數次，似膿似血。前醫曰爛腸瘟，時用附子，時用大黃，時用人參，時用萊菔子，溫涼補瀉，諸法迭試，均不見效。余診之，脈象細疾，面色黑瘦異常，舌苔黃薄貼緊，知是邪盛正虛，垂危之症，用神效治痢散補中益氣湯加減治之，共三閱月而安。壬辰夏季，佑三觀察至北通州，適病痢，以書速余往，黃昏時，余始至。診其脈，滑而數，知是跋涉長途，感受時令濕熱所致，與以葛根治痢散加味，天甫明，痢已愈。合觀二症，可知治新病易，久病難矣。然而治痢之難，猶有數端，一則宿恙除根，一則刻期奏效，一則老年不能食，一則孕婦胎下墜。庚寅，余客天津，劉偉齋大令患血痢，已七年，醫藥不效。秋七月，問治於余。切其脈，虛細弦數，知是宿垢未清，本原已弱，合益氣湯地黃湯神效治痢散治之，服二十餘劑而愈。嗣後，舊恙竟不復發。乙酉，應試金陵，七月杪，秦君湘臣病痢甚劇，日夕數十遍，盛君葵臣代延余診。切其脈，浮緊沉數，知是濁邪內蘊，寒邪外束，合香薷飲治痢散加減治之，約以七日為期，至八月初四日，果大便如常，眠食俱安而愈。是年，即舉孝廉。壬辰，天津官電局書吏沈姓母，患痢月餘，日念余遍，食少神疲，用八珍湯加味而愈。己丑，同城小河沿酒業王姓婦，孕已數月，腹痛下痢，胎動欲墜，用補中益氣湯加味而愈。此數症者，皆投劑輒效者也。又有以重藥治重病，似不效而實效者。甲午秋，應試都門，有餘某患痢旬余，予診之，脈來滑實，知是濁滯內蘊已深，治用毒痢捷效湯。服後，腹痛異常，至明晨，病已愈十之五六，再服，腹不痛而痢即止。可知驅邪如驅賊，賊勢大盛，非力能攻而克之。彼必負固不服，迨夫巨魁既殲，脅從自散，與虛症之遍地瘡痍，急需撫養者情形又大不同，然則痢烏可以一法治乎。雖然，痢之不能以一法治者，非迭用溫涼補瀉，以藥試病之謂也。使以藥試病，今日一法，明日一法，後日又一法，法愈多，病愈不可為矣。譬如有人於此，患一虛病，吾治之，自初診至復元，只有補之一法，即或改方加減，亦如行路然，數武一曲，數里一折，吾不過循由折而奔赴之，無用別戶門徑耳。設治病者，一方補之，更一方瀉之，又一方溫之清之。是猶行路者不識東西南北，往來躑躅於其途，迨急不能擇，鋌而走險，遺禍可勝言哉。丁酉夏初，余客天津，葉君云青之室病劇，來速余診。據云：向有腸澼宿恙，是年三月，舊恙又發，延今兩旬，胸悶腹痛，上吐下痢，日夕數十次，呻吟轉側，食不進，臥不安，症勢頗危。餘切其脈，疾，右尤盛，知是新邪引動舊邪，中更停滯所致，用枳朮和中湯三黃解毒湯等方，加減治之而愈。按此症，痢疾轉霍亂，較瘧疾轉痢疾，更為危險，然而治效不難者，識路故也。</p>

<h2>泄瀉陰陽寒熱虛實證</h2>
<p>《內經》論泄瀉，或言風，或言濕，或言熱，或言寒，又言清氣在下，則生飧泄。要皆以脾土為主，然瀉久未有不傷腎者。且腎傷，又有陰陽之異。腎陽傷，人皆知之；腎陰傷，人每忽焉。辛卯夏，余客濟南，奇大守病發熱惡寒，頭痛身痛，腹滿便泄。旬有餘日，來延余診。脈大而緩，舌苔白膩，知是內傷寒濕，並非外感風寒。用理中湯加蒼朮附片等味，數服而愈。丙申夏，余入都，楊藝芳觀察病泄瀉，日夕十數次，飲食減少，煩躁不安，延余往診。脈數，尺尤實，知是暑濕為患。惟年逾花甲，以顧正氣為要，先合三黃湯六一散加白朮陳皮砂仁為方。二劑，便泄頓止，即改用補益法，不數日而康健如恆，若未病然。秋初，陶端翼主政之子，年十二，大便溏泄，已經數月，食少氣弱，病情頗劇，問治於余。切其脈，濡而緩，知是氣血兩虛，由虛致寒，用補中益氣湯加熟地、牛膝、附子、乾薑，數十劑而治愈，此三症，一為寒，一為熱，一則脾傷及腎為陽虛。寒者溫之，熱者清之，陽虛者補之。治瀉常法，所謂人皆知之者也。至人所忽焉不察者。則有養陰一法，丙申冬，余將出都，有陳姓室，患泄數月，每日必泄五六次，醫以為脾土虛寒，用白朮以補土，附子以回陽，木香以止瀉，便泄如故，而面燒口燥足冷，飲食減少，夜寐不安等證迭見，大似上熱下寒，陽虛重症。餘切其脈，兩寸微甚，左關尺濡遲少神，右關尺滑數有力，乃知證系陰虛，非陽虛也。遂用生地炭壹兩，炒懷藥、酸棗仁、丹皮、白芍、牛膝數錢，炙草、砂仁、黃柏數分，人參、煨葛根各一錢為方。一劑，瀉愈三分之二，脈象俱和。再劑，夜寐安，口燥潤。三四劑，飲食甘，面燒平，兩足俱溫。或問病情奚似，余曰：此症如燈膏然，陽為燈，陰為膏，右關尺為燈，左關尺為膏，脈有力為燈有餘，脈無神為膏不足。前用朮附等藥，譬如膏欲盡而頻挑其燈，燈火上炎，膏脂下竭，因見上熱下寒之假象。使再燥脾補火，勢必膏盡燈滅，陰竭陽亡。余為益陰以稱陽，陰復其元，陽得所附，諸症以平，脈象亦起，所謂膏之沃者燈自光也。渠又問用藥法，余曰：治病無成法，隨時論症，隨症論治而已。如必以古法繩之，此即六味地黃湯、補中益氣湯合用之意乎。以六味益陰為君，故重用地黃，以補中益氣為佐，故不用黃耆，以方中有人參，故用六味湯而去山茱，以方中有地黃，故用補中湯而去當歸。恐真陰不固，加黃柏以堅之，恐清陽下陷，加葛根以升之。蓋葛根一味，為泄痢聖藥。昔張石頑治虛損症，欲用補中益氣方者，往往以葛根代升柴，緣升柴劫陰，陰傷者禁用故也。此制方之微權也。</p>

<h2>大便不通虛寒證</h2>
<p>大便不通，有風秘、痰秘、熱秘、冷秘、實秘、虛秘之分。風痰實熱，可用潤腸丸、控涎丹、四順清涼飲等方；若冷而虛，當用四神丸之類。壬辰七月，余至天津，楊鶴年之室，病大便不通，旬有餘日，人見舌苔微黃，唇口微焦，擬用下藥，來延余診。切其脈，沉而遲。余曰：沉遲為裡寒，寒甚則水凍冰凝，投以大劑熱藥，猶恐不及，若之何下之乎？人曰：時當夏秋，似非冬月可比，大火炎炎，何至中寒若此。余答曰：舍時從症，古有明文，如謂燥熱時必無寒症，則嚴寒時當無熱症，昔仲景制大小承氣湯，何以治冬令傷寒。可知夏熱冬寒者，時之常，而冬不必熱，夏不必不寒者，病之變。至唇舌焦黃，又真寒似熱之假象。倘誤認為熱，投以硝黃，熱將不救。王太僕曰：承氣入胃，陰盛以敗，其斯之謂歟。用四逆湯、四神丸意，並加當歸半硫丸為方。三劑，便閉依然。主人訝甚，囑余改方。余曰：堅冰凝結，非用火煎熬至六七晝夜之長，其凍不解。仍前方倍與之，又三劑，夜半，腹中忽痛，大便始通。時有識者愕然曰：如此炎熱，吾謂熱中者必多，不料此症腹中，一寒至此，然則君子何待履霜，始知堅冰之至哉，後於熱劑外，又佐補劑，調治月餘而安。使誤認實熱；用清下法，寒者必冰結愈堅，虛者即取快一時，來日必復秘愈甚。欲再通之，雖鐵石亦難為功，可不慎哉。</p>

<h2>痔瘡熱毒重證</h2>
<p>痔證有七，一曰牡痔，二曰特痔，三曰脈痔，四曰腸痔，五曰血痔，六曰酒痔，七曰氣痔，有藏肛門內者，有突出於外者，各審所因治之可已。辛卯，應試都門，鎮江葛某患痔頗劇，每便一次，肛門腫痛異常，必呻吟半日許，頭面臂腕，遍發瘡斑。人誤認氣虛下墜，用補中益氣方，病加劇。問治於余。餘切其脈，六部數大，知是濕熱蘊結，久久不化，釀而為毒，即腸痔、酒痔之類，非急為盪滌不可。用大承氣去川樸加川山甲、連翹、銀花、生草為方。二劑，痛輕，又二劑，瘡斑漸退。後合滋清法治之，月餘而愈。惟愈後，當戒酒遠色少勞茹淡方妙。若不守禁忌，後必復泛，久而不瘥，將變為漏。慎之戒之。</p>

<h2>淋濁新久證</h2>
<p>小便不通，有寒熱痰濕氣血虛實之分。惟淋症則多屬於熱，寒者絕少，蓋熱甚生濕，故水液渾濁而為淋也。庚寅冬，余至濟南，有徐某來延余診。據云：小腹脹滿，溺澀不通，日夜涓滴，色赤而渾，病經五年，屢治不效。今夏忽重，入冬尤劇，溺後莖痛，下氣上逆，喘急不堪。餘切其脈，諸部濡數，惟左關尺數大，按之有力，知病久氣血雖虧，膀胱濕熱仍盛。遂用人參、耆、術以益氣，地黃、黃柏以養陰，制軍、甘草以清熱，滑石、木通以利濕，殭蠶以化穢，青皮以行氣，牛膝以下引，葛根以上升，標本兼顧，隨症減增，數十劑而病愈。壬辰夏季，余寓都門，有劉某患濁，日夜淋漓不盡，前莖有筋脹痛，後連肛門，已十餘日。余診之，脈象滑數，知是濁邪正盛，以滌瑕盪穢之峻劑，下紫黑膿血無數，半月而愈。可知淋濁治法，初起即與盪滌，其病易療，如後症是已。惟恐治不如法，邪氣留變，勢必頻年不愈，如前症然。或問前症冶法，余曰：此為複方，方中有陽有陰，有溫有清，有補有瀉，有降有升，一闔一闢，理最元妙，徵之古方，殆東垣清燥湯意乎。在東垣制此湯，所以治體虛夾暑，與一切濕熱症，非為淋症設也。然淋至數年，正氣已虛，入夏病加，暑邪自盛，溺渾莖痛，濕熱尤多，按之清燥湯，治法頗合，余即師其意用之，病果應手而效。惟效後，宜戒酒少勞方妙，否則食復、勞復，甚易事耳，慎之。</p>

<h2>遺精陰陽虛證</h2>
<p>腎陰虛則精不藏，肝陽強則氣易泄，故遺精惟腎肝為多，然亦有不在肝腎，而在心肺脾胃之不足者，又未可執一論。庚寅冬，余至濟南，有黃姓某，五十餘歲，精關不固，先遺後滑，病經一年，神疲氣弱，痿頓不堪，頻服六味丸不效，來延余診。脈象兩尺細數，寸關虛大，知是陽氣下陷，不能攝精，以補中益氣湯加麥冬、五味，固攝而愈。乙未，余寓上海，寧波沈某二十餘歲，形瘦色赤，咳嗽吐紅，黎明夢遺，患已兩年，醫藥不應，問治於余。余診之，六脈滑數，左尺尤盛，知是陰虛有火，用六味九去山萸、加元參、黃柏、車前，十劑，火平。又十劑，陰復。仍前法進以參、耆，調養而愈。此二症也，前系脾陽虛，後系肝陰虛，皆不足症也。然一陰一陽，判若霄壤。如當升補而反滋陰，元氣愈陷；如當滋清而反補澀，相火愈強。不辨所因，謬然施治，病必加劇。又況鬱滯積熱，與一切痰火為病，每致不夢而遺，尤非聚精固精等丸所能奏效乎。總恃臨診者，有辨虛實審陰陽之權耳。</p>

<h1>卷下</h1>

<h2>中風陰陽虛實證</h2>
<p>中風，有偏枯，有風痱，有風懿，有風痹。治法，以氣與血為本，外邪為標。乙未夏，柳君籽青自鎮江至上海，中途勞乏，汗出遇風，卒中於陰，右偏臂胻無力舉持，舌筋亦短而蹇於言，前醫投以清疏藥，不合，楊省臣大守代邀余診。切其脈，右緩無力，知是肥人氣虛，外衛不固，以獨活湯、千金附子散、黃耆建中湯等方，出入加減，調治而愈。丁酉春，余客天津，吳橋王檢予大令患偏中風，以車速余往診。右偏面腫，口喎言蹇，手不任待，足不任步，膝脛畏冷入骨，食不甘，寐不安，煩躁尤甚。切其脈，左盛右微，望其苔，右厚左薄，諗是勞倦內傷，風寒外感所致。用黃耆附子建中湯、防風散、桑菊煎出入加減為方，兩旬余而愈。此皆陽虛，以陽藥效者也，然又有陰虛，當以陰藥效者。庚寅春，余至天津，劉稼民觀察病中風兩日，來延余診。食不進，語不出，神昏氣粗，兩目上視，手足右尚能動，左已不舉。切其脈，滑大而數，知是陰虛陽盛，本火挾痰火，兩相鼓煽所致。治以清火豁痰平肝熄風之劑。明日復診，神識清，已起坐。仍前方，佐以益陰補氣法，月餘，飲食如恆，漸能步履，大可望愈。後余以事他適，路隔較遠，其家另延他醫，專任溫燥藥，綿延兩月，陰氣銷亡，小便頻數，夜更無度。此時急救其逆，徵之古方，當用六味丸如五味子，而他醫畏用地黃，不敢與服，病竟不起。噫，人之死生有定數，藥之宜忌所當知。地黃一味，有生用者，有焙乾用者，有以法制熟用者，《本經》主治，實多散血涼血補血之功，故云久服輕身不老，並尊之為藥中上品。世俗不察，以生地為滑腸，熟地為泥膈，視如砒毒，亦謬其矣。夫用生地而滑腸，乃胃弱氣虛之故，用熟地而泥膈，乃痰多氣窒之由，此皆不明虛實使然。古方導赤散，以生地黃與木通同用，瀉丙丁之火；瓊玉膏、固本丸、集靈膏，以乾地黃與人參二冬並用，治血勞喘嗽唾血；六味丸、八味丸、四物湯，均以熟地黃為君，蓋熟地能填骨髓，長肌肉，生精血，補五藏內傷不足，與病後脛股痠痛，坐而欲起，目䀮䀮如無所見等症，功用非淺小矣。乃後人又泥張石頑之說，謂地黃性稟陰柔。如鄉愿然，似是實非，似是實非，似利實害，雖病至陰虛火旺，五勞七傷，亦不敢用，豈知石頑之說，猶言生地防滑腸，熟地防泥膈，欲人明辨用之，非屏地黃於無用之地也。王好古曰：生地黃治心熱，益腎水，其脈洪實者宜之。若脈虛者宜熟地黃，如此明辯其義，則地黃一味，無往不受其益矣。</p>

<h2>痿因濕熱證</h2>
<p>痿由肺熱，傳入五藏，熱蒸則濕鬱，氣機為之不利，與風病外感，善行數變者不同。乙未，余寓上海，劉君潤甫之室，病起夏秋，纏綿數月，偃息在床，起坐無力，手足軟弱，不任舉持，來延余診。切其脈，大而滑，知是夏令濕熱，蘊久不化，氣分受傷，致成痿症，與草木在暑日中，熱氣蒸灼，枝葉皆痿軟下垂無異，非得夜來清氣涵濡，則生氣必不能勃然。遂用清燥湯法，加減治之，月餘而症悉愈。丁酉，余客天津，夏初，潘黎閣觀察，為其孫縉華病久不愈，來速余診。據云：患已數月，延今，手足心熱，盜汗不止，胸脅脹悶，抽搐作痛，兩腿痠不任地，痿弱如廢。餘切其脈，寸關虛緩，尺部滑實，知是上盛下虛之假象，當舍證從脈，作上虛下盛治。用補中益氣湯、郁芩五苓湯等方，出入加減治之，兩旬余而愈。論二症治法，即前哲瀉南方補北方之意也。然或以瀉為補，或以補為瀉，或補與瀉兩相需，用意時有不同。又況兼食積挾瘀血，痿症常有之。余嘗佐以消食浚血諸法，始能奏效。隨症論治，豈可以一法盡乎。</p>

<h2>痧麻虛實證</h2>
<p>痧麻之邪，由陽明府上蒸手太陰經，而又為外寒所遏，故初起必見咳嗽身熱等症，用辛平藥以治外，滋清藥以治內，此大法也。然症有虛實之分，治有標本之別。戊子春，內親蔣子重病經兩旬，來邀余診。發熱無汗，遍體麻粒，噦逆時作，便泄不已，舌苔灰黑，厚膩而干，脈象虛微，按之欲絕，神昏氣弱，呼之不應，勢甚可危。余思此症，正氣虛極，垂脫之時，即有外邪，概從緩治。用高麗參五錢煎湯先飲，並用十全大補湯去茯苓加陳皮、煨葛根為方，大劑投之。兩劑，神氣稍振，能進稀粥，嘔噦便泄亦止，惟身熱未清，是外邪不能自達也。仍前方加紫蘇，或謂既服大補藥，不當用疏散藥，去而服之，身熱如故。余曰：病中止虛，補之則安，固不容散。若中虛又有外邪，補與散實兩相需，今人不通此理，當補不補，因而當散不散，所以病多棘手。抑知東垣治陽虛外感，用補中湯加表藥，丹溪治陰虛外感，用芎歸湯加表藥，補中寓散，用意最為元妙乎。仍加紫蘇等藥四味，另煎衝入飲之。一劑，身熱減半，再劑，身熱始清。即去紫蘇，專服大補藥，數十劑而病愈。愈後，頭面指甲渾身脫下如蛻，所謂灰黑舌苔，亦落下一大片。辛卯春，余客山東，周君申之元室，病痧麻症，前醫投以清疏藥，不受，飲入仍吐出，來延余診。身熱面赤，胸悶便泄，舌絳苔黃，脈滑而數，令按胸脘，內覺硬痛，知是溫邪發外，物滯阻中，前藥只可疏邪，不能導滯，所以飲藥入內，格而不通，閱時復吐出。仍前醫方，加消導藥一二味與之，一劑，吐瀉止，胸悶寬，再劑，身熱清，能進粥飲。後又清養之調補之，滿身皮脫而愈。此二症也，前則由病致虛，後則由滯致病，隨時論症，權其因而治之，病自應手而效。乃世俗不察，氣既虛而不知補，胸有滯而不知通，何哉。</p>

<h2>霍亂陰陽寒熱虛實證</h2>
<p>霍亂一症，有觸冒寒邪者，有感受暑熱者，有停滯飲食者。其致病有上下淺深之分，有陰陽虛實之別。來勢極速，擬議不及。或吐而不瀉，或瀉而不吐，或吐瀉交作，或欲吐不得吐，欲瀉不得瀉。治法，既不可專用寒涼，又不可偏用溫補，至滋養消導，亦有時而必用。總恃隨時論症，隨症論治，始能奏效。若拘守成法，不知變通，殺人易於反掌。近年霍亂盛行，死喪頻仍，皆呆守成法者誤之。戊子，余授徒於家，及門梅詮生之父，夜半患霍亂，醫治以來復丹等方，吐瀉不止，勢甚可危。天甫明，來延余診。切其脈，細數無倫，面赤舌絳，苔黃而薄，腹痛時作，知是陰虛有火。用復脈湯，易麻仁為棗仁，去桂枝、生薑，加川連、白芍。服後，吐瀉即止，漸進粥飲。再仍是方加減，眠食俱安而愈。又同城小河沿郁長生之婦，孕已三月，患霍亂症，來延余診。脈伏不見，遍體皆冷，惟兩肩尚溫，此為陰陽兩亡，治以回陽為急，重用附子、乾薑、高麗參，並加陳皮、炙草為方。一劑，遍體轉溫，惟足猶冷。再劑，兩足亦溫，能進粥飲。此時陽氣偏勝，當顧其陰，去附子、乾薑，加生地、白芍，數劑而愈。乙未，余在上海，福綏里錢姓小兒，腹痛吐瀉，煩躁不安，其師俞夢池，是吾友也，來速余診。切其脈，數而濡，審是暑邪內蘊為患，合三黃解毒湯、橘皮竹茹湯為方。一劑，吐瀉即止。其家更延醫視之，醫以為螺紋已陷，病在不治。俞君訝甚，又速予往。予見病機已轉，告以保無他慮，令再服前藥一劑。明日夏診，腹痛煩躁俱平，眠食亦安，復為調理而愈。又同邑費君伯勳客居上海時，其室患腹痛吐瀉，來延余診。脈象遲緩，知是脾虛寒濕相侵，用理中湯加陳皮、蔻仁，數服而愈。又上海久敬齋王君翼亭之室，患乾霍亂症，胸脘懊憹，肢體麻木，不吐不瀉，來延余診。脈象澀滯，知是穢暑凝結，用蘇合香丸意治之，諸症漸平而愈。又丙申仲春，上海泰源莊某患先瀉後吐，飲食不進，醫以為客邪外感，迭用湯藥不效，來延余診。脈象模糊，令按胸脘，著手即痛，知是積滯阻中，並寒熱二氣不和所致。用枳朮丸、姜連飲意合治之，服至兩時許，即欲飲食。接服二劑，諸症悉平而愈。此數症者，或益陰，或回陽，或清裡，或溫中，或解穢，或導滯，俱應手效，可知霍亂症，未可以一法繩矣。然而世之樂善君子，往往不惜重貲，配一丹方，以治千變萬化之病，其心誠善，其法則未善也。余嘗默體是意，以為至不一之症，而欲以一法治之。治已病，不如治未病，治重病，不如治輕病，因擬就一方，用扁豆四錢，焦曲三錢，陳皮二錢，枳殼、鬱金各一錢五分，塊滑石五錢，生草一錢。以方中重用扁豆、神麯，故稱之曰扁鵲神方。戊子年，吾里霍亂極重，以是方傳與親友，凡有將吐將瀉，或吐瀉初起者，及早服之，頗效。十月初，至城南前橫鎮，有談行村姓談名蒙顯者，一家止夫婦子三人，早起，同時吐瀉，其鄰人代覓痧藥。與余遇諸塗，詢知其故，以是藥三服與之。傍晚，其夫愈，妻與子病如故。余又以是藥兩服與之，夜半均愈。乙未六月，余在上海，其時霍亂頗盛，蘇友俞夢池索是方，寄歸其鄉，據云：是藥甚效，蓋扁豆、甘草、滑石，理脾胃而消暑濕，神麯、陳皮、枳殼、鬱金，消積滯而利氣機，上下既通，清濁自分，則中宮之撩亂可定。藥性平和，當與六和等湯，並行不悖，較諸時傳丹方，實為穩便。丹方藥味，峻烈而偏，用之得當，頃生人，用之不當，亦頃刻殺人。不如此方，有利無弊，且品味尋常，價值亦廉，無論窮鄉僻壤，不難預置以備不虞。倘有欲吐欲瀉者，即與一服煎飲，重者可輕，輕者即愈。若服之太遲，則不效矣。所謂救患於已然者難為力，防患於未然者易為功也。至於病之險且危者，又非此藥所能療，須速請高明治之。慎弗因循而自誤。</p>

<h2>瘧表裡陰陽虛實證</h2>
<p>瘧有中三陽者。有中三陰者。在太陽為寒瘧，在陽明為熱瘧，在少陽為風瘧，在三陰為濕瘧，遠者為痎瘧。症有表裡寒熱虛實之分。己丑冬，余居里門，及門劉子銑患瘧，間日一發，人見形體瘦弱，並有盜汗，疑為虛象，與以補劑。旬余，病益劇。余診之，面色晦濁，脈象浮緊而弦，知是表邪尚盛，治不可補，補之適助其邪，用小柴胡湯去人參，合香蘇散以疏解之，數劑即愈。丙申冬，余至天津，劉君斐然患三陰瘧，已經數月，迭進疏解藥，盜汗體疲，飲食減少，夜寐不安。來延余診，脈象虛弦，知是正氣虧極，陰分亦損，用補中益氣湯加桂枝幹姜地黃鱉甲，十數劑而治愈。以上二症，一表一里，一實一虛，表實則祛邪，裡虛則補正，皆治瘧常法，然又有始瘧而不終於瘧者，似瘧而不得為瘧者。壬辰冬，余客津門，周庚五觀察之夫人，患瘧七日，忽然神昏，氣促汗多，譫語不已，來延余診。脈虛微濡數，審是少陽客邪，襲入血室所致。用小柴胡湯去甘草、半夏，加生地、丹皮、桃仁、紅花，一劑，譫語平，諸症減。再承前意加味補益之，數劑即安。其後周君謂余曰：當初診之夕，藥雖煎就，吾疑此方與瘧邪不合，及既飲以後，乃知此藥竟神效非常，道之所以異於人者，固如此乎。答曰：何異之有，不過隨時論症耳。此症初起，邪在少陽，故寒熱往來，繼則少陽客邪，乘月水之來，潛入血室，所以神昏譫語，至氣促汗多，非氣虛所致，即藥誤使然，如法而治，應手何疑。所慮者，人之執一不通耳。丁酉四月杪余客津門，小站右營文案丁君鐵臣，患病十餘日，口渴煩躁，胸腹拒按，溺赤便結，寒熱間日一發，症勢頗危，以車速余往診。脈疾無倫，約有十至，知是溫邪夾滯，由少陽侵入少陰，所以寒熱如瘧。用元丹湯、羚地枳實湯、承氣湯等方，出入加減治之而愈。若以小柴胡常法治，其能轉危為安乎。</p>

<h2>水腫陽虛陰虛證</h2>
<p>內為脹，外為腫。其症，有氣、有血、有蟲、有單腹，不獨水之一症也。而一症中，又有陰陽虛實新久之殊。治法總以健脾為主。余隨症之所因，按症施治可矣。丙申秋，余客都門，有羅某患水腫半年，轉重轉劇。余治之，用五皮飲加白朮等味，補益而愈。丁酉夏，余客天津，呂鶴孫別駕患水腫症，初從腹起，繼則頭面四肢皆腫。餘切其脈，浮舉緩大，沉按細弱，知是脾虛濕侵，用黃耆建中湯理中湯五皮飲五苓散加減治之而愈。此皆陰水為患，故治從乎陽，若系陽水為患，又治從乎陰。甲午，余客都門，正月初，葉茂如中翰邀余往，為溫姓治一水腫症。據云：向有痰飲，時發時愈。去年秋冬之交，痰飲又發，初起咳嗽氣喘，繼而頭面四肢浮腫，纏綿三閱月，愈治愈劇，今則胸悶腹脹，飲食不進，飲水即吐，溺澀便結，煩躁不寐，已十餘日，諸醫束手，以為不治，奄奄一息，將待斃矣。切其脈，細澀沉數，舌苔微膩而黃。余思此症，外象雖危，並非敗象，不過正虛邪盛，治少專方耳。合加味腎氣丸、舟車丸、五皮飲、麥門冬湯法，以意去取，配成一方。明日，主人貽餘一紙書曰：昨晚服藥後，至今晨，病已愈十之三四。並約再診。余視之，病勢果輕。仍用前方加減，又服三劑，病情大減。或問其故，余曰：此症始終不外脾土一藏，脾土之用，可借西醫之說明之。西醫言近胃處，有甜肉一條，甜肉汁入胃，飲食自化。夫甜肉即脾，脾本甘所生也，甜肉汁即脾中精汁。蓋脾脈至舌本以生津液，便是精汁也。凡人飲食入胃，全賴脾中精汁，入胃為之運化。此汁苟虧，陰不濟陽，陽氣上蒸，痰飲發矣。今人一見痰飲，便用白朮、半夏等藥以燥土，土中精汁，被藥卻干，生氣全無，堤防失職，腫脹成矣。又用豬苓、澤瀉等藥以導水，賊水未除，真水已竭，其始不過脾土陰傷，未幾土不生金，金不能制木，木剋土矣，又未幾金不生水，水不能制火，火刑金矣。脾肺腎三藏俱病，危症所以叢生。余以益脾土之陰為君，以養肺金為臣，以滋腎水為佐，更以通調二便為使，是即朱丹溪治腫脹之意，又即《內經》潔淨府、去菀陳菀之意。蓋治水之法，如治河然，既補虛以厚其堤，腹瀉實以導其流，水自安瀾，無虞泛溢矣。後承是方，隨症輕重緩急治之，月餘而痊。惟此等重症，痊後，當加意調補，務使起居如昔，飲食勝常，方為復元。否則正氣未充，舊恙易泛，發一次，重一次，雖有神丹，恐難為力。慎之戒之。</p>

<h2>自汗陰陽虛證</h2>
<p>自汗，有心肝脾肺腎之分，又有陽虛、陰虛、亡陽、衛不固、外感風濕、內因痰火、陰盛格陽諸症。而世之遇自汗者，概作陽虛治。雖曰古法，未免執一不通。辛卯春，余客濟南，陳巽卿觀察自汗不止，來延余診。脈象虛微，是為陽虛，勢將汗脫，以十全大補湯加味，溫補收澀而愈。夏，又患自汗，復延余診。脈象細數，是為陰虛，與前此陽虛迥別，即以洋參石斛湯加味，清理滋養而愈。拽前後症，出自一人，而前為陽虛，後為陰虛，不同如此。然則春秋寒暑，天時猶有常也，南北高下，地宜猶有常也，貧富勞逸，人事猶有常也。即如春夏有時暴寒，秋冬有時忽溫，西北有地向陽，東南有地背陰，貧賤有事快心，富貴有事勞力，天地人雖錯綜變化，猶可以常理測也，獨至隨時論症，隨症論治，誠有可意會不可言傳者。若膠柱而鼓瑟，毫釐之差，即千里之謬矣。</p>

<h2>盜汗血虛非祟證</h2>
<p>盜汗，有血虛證，有血熱證，有少陽證，有陽明證，有酒客睡中多汗證，或因汗出合目後，並見譫語等情，遂以邪祟疑之，愚甚矣。丁亥，同里俞道生之母，來乞《易經》一部。據云：兒病月餘，初起頭痛，繼而盜汗，延今，神昏譫語，目上視，食不進，溺器如新，無穢濁氣，病勢已危。昨延巫問之，巫言有鬼為祟，禳之不應，思有以鎮之，並求治於余。余審是血虛所致，以十全大補湯去肉桂加五味麥冬為方，一劑，譫語平，二劑，盜汗止，調養旬余而愈。愈後，或問巫言有鬼，信否？余曰：鬼胡為乎來哉，人苟此心常存，臨天帝，質神明，鬼將敬憚不遑，安得而禍福之。惟其人乞憐昏暮，蓄計陰私，無時不與鬼為緣，鬼於是侮之弄之，時而為福，時而為禍。若夫平人，疾痛疴癢，乃事之常，於鬼何與，而有時求神禱廟，亦足愈病者。蓋病家藉此收心養性，較諸庸醫誤藥，猶勝一籌也。此不服藥為中醫之說也。</p>

<h2>厥逆血虛證</h2>
<p>厥有寒厥、熱厥、痿厥、痹厥、煎厥、薄厥、風厥、暴厥、骨厥，骭厥之分，或表或里，或氣或血，或虛或實，辨清施治，危者可安，特恐躁心乘之，必多貽誤。壬辰八月，天津有某姓子，病經月餘，厥逆時作，而且兩腮腫脹，飲食不進，來速余診。脈象虛浮細數，知是陰虛生熱，熱甚生風，並感時氣所致，以滋養兼清化法治之。兩服後，腫消厥止，又用滋補法調理之。未及兩旬，眠食俱安而愈。惟病愈後，兩目有時昏暗。余云：此係真陰不足，非調養半年，不能如常，朱丹溪所謂陰虛難療是也。主人以為迂闊，誤聽人言，求神可速效，設壇於家，專服乩方。又八閱月而殞。嗚呼甚哉！邪說之足以惑眾也。如神仙可召而來，丹藥可求而得，則漢武諸人，雖至今存可矣。而不然者，書符弄鬼，直妖孽耳。驅而逐之，亦不為過，而人顧信此，以殞其身。命乎，非命乎。</p>

<h2>眩暈陰陽虛實證</h2>
<p>《內經》論頭眩，多屬於木，以木能生風，風主運動，故時目旋而頭眩也。其症有陰陽虛實之分。乙未春，余寓上海，有程姓閨媛，早起必頭眩欲嘔，甚至嘔吐酸水，飲食不進，患已多年，醫藥罔效。曾請治於西人，飲以藥水，似效又不甚效。來延余診，脈象左部弦數，知是肝陰不足，與以益陰湯加味，投劑輒效。丙申冬，余至天津，陳特夫大令室，病經二年，轉重轉劇，頭暈目干，胸脅攻痛，心中盪漾，不自主持。來延余診，脈象洪數，知是肝陽有餘，用羚羊清血湯法，出入加減，調治而愈。乙未冬，余客上海，錢君昕伯病偏中風，言蹇足痿，神疲食減，醫治兩月，忽患頭眩甚重，臥不能轉，稍動即旋，來延余診。脈左三部虛細，右關尺數大，左象為陰虛，右象為陽盛，遂用羚芍地黃湯以益其陰，參連和中湯以治其陽，二劑，頭眩若失，起坐自如。此三症也，或為不足，或為有餘，或為不足中又有餘邪未淨，要皆風木為患，治法故大同小異。然更有太陽漏汗不止而頭眩，陽明風病善食而頭眩，汗吐下後氣虛而頭眩，素因怯弱血少而頭眩，火載痰上而頭眩，正氣虛脫而頭眩，婦人經水適來而頭眩，易病真元耗脫而頭眩。寒熱虛實，各自不同，未可以一法盡矣。</p>

<h2>目赤寒熱虛實證</h2>
<p>目赤有三，一曰時眼，二曰熱壅，三曰氣毒，古書用羌活勝濕湯、蟬化無比散、龍膽湯、蕤仁膏等方，大率辛涼苦寒之味為多，病久致虛。又有明目地黃湯、益氣聰明湯，與一切養陰理氣之劑，他若四生丸、補腎丸、夜光椒紅丸等方。大抵治腎中火衰，目無精光之宿疾，非治新害赤眼也。而余謂病無定情，治無定法，目症亦然。丙申秋，余入都，吾友趙劍秋病目，紅而不腫，溺赤便結，脈來數盛，知是暑火內伏，風火外然所致，余用涼膈散去芒硝加元參、麥冬、殭蠶，數服即痊。越半月，因勞復發，誤飲人耗散之劑，以致流淚羞明，較前更劇，又延余診。切其脈，濡細而數，蓋緣病後寫作過勞，又因誤藥卻傷真陰所致，是為重虛，非急與滋補不可。以羚羊、地黃、阿膠、白芍、麥冬、生草、蒺藜、花粉、車前為方。數劑，病勢漸平，胃氣不旺。仍前方去花粉、車前，加黨參、白朮，調理而愈。甲午秋，都中有戚某害眼頗重，潘君爽卿代延余診。兩胞赤腫，痛極羞明，珠旁有浮白痕，若生翳然，脈來虛遲細弱。審知此人氣血本虛，由虛致寒，適因腦怒動肝，肝木虛火，上乘本竅以致赤腫，所謂真虛似實，真寒似熱，此症是已。法當引之使下，非若外感之火，可用清下法折之也。遂以熟地、吳萸、乾薑、肉桂、當歸、牛膝為方，並囑冷飲，兩服即平。後又加黃耆、黨參、白朮、炙草，補益而愈。此二症也，前用古人目赤法治之，後取火衰宿疾意治之，病皆應手而效。可知症之寒熱虛實有必辨，而新久之說，可不拘已。</p>

<h2>咽喉虛實證</h2>
<p>咽喉二竅，同出一脘，異途施化。喉在前，連接肺本，為氣息之路，主出；咽在後，下接胃本，為飲食之路，主納。故經云：咽喉者，水穀之道也；喉嚨者，氣之所以上下也。其症有寒熱虛實之分。辛卯春，余客濟南，高君仲聞之妾，患咽痛，飲食不進，夜寐不安，身熱便閉，病勢頗危，用符祝針砭法治之。不應，來延余診。脈象洪大，審是溫邪內蘊，不能下達，迫而上升所致。用三黃瀉心湯加石羔、小生地，一劑，痛減，二劑，痛平。後以清養藥，調理而愈。乙未夏，余寓上海，有張姓某喉辣心震，舉發不時，病由勞怒後得，已經半年，問治於余。餘切其脈，浮細而數，知是藏液不充，虛陽上乘所致。以四君子湯加白芍、山茱為方，數劑，症減，後更調治而愈。此二症也，一用苦降，一用甘溫，俱應手奏效，乃咽喉病之輕者。他如纏喉風、走馬喉風、雙單乳蛾、喉疔、兜腮癰、喉瘡、喉瘤、肺絕喉痹、經閉喉腫、梅核氣諸症，輕者亦易療，重者則至險。考古治法，皆急於治標，而緩於治本。以咽喉為要隘之地，緩則傷人，故治標為急耳。</p>

<h2>牙跟腫痛風火證</h2>
<p>牙痛，不外風火蟲虛，腫痛連腮，風火為多，時症常有之。世每疑為外症，誤矣。丙申冬，余客都門，王藎臣大令左偏牙跟，連腮腫痛，延余往診。脈數，左尤有力，審是外風引動內風，兼挾痰火為患。治以加味元丹湯，二劑，腫消痛止。惟牙跟有粒未消如豆，王君疑是外症，令外科治之。復腫如前，煩躁不安，又延余診。脈象澀滯，舌苔灰膩，知為誤藥所致。仍用前法，二劑即平，再加調理而愈。蓋病發於表，根則在裡，無論非外症也。即遇外症，憑理立方，亦能奏效。丁亥，余授徒於家，及門李浩泉少腹生一疽，跟盤約四寸許，外科名為肚癰，貼以膏藥。余知之，令去膏藥，治以白虎滌邪湯法，二劑即消。乙未夏，余寓上海，有李姓某左腿生疽二，一大如碗，一小如杯，痛疼異常，坐臥不便。餘切其脈，滑大而數，與以一甲黃龍湯法，一劑，已成膿者潰，未成膿者消。丁酉春季，余寓天津，有事至武備學堂，適崔君少和病海底腫痛不堪，有類懸癰。余診之，脈右關尺數大沉實，知是腸胃濕熱下注，治以黃龍解毒湯，二服即平。此三症也，均屬外症，以內症法治之，隨手奏功，可知外象悉本內因，內患既平，外虞自弭。凡事如是治病其小焉者耳。</p>

<h2>陰症辨誣證</h2>
<p>前哲言左右手脈來沉細，身熱面赤足冷，即是夾陰傷寒。此為色欲內傷外感，於是病由房事後得者，概以陰症名。癸巳，余客都門，有王某房事後，忽病憎寒振慄，體倦神疲，醫以為色欲內傷，準是陰症，投以溫劑。數日，神識昏憒，轉重轉危，來延余診。切其脈，細而澀，酷肖虛寒，惟口燥唇焦，便閉溺赤，其象與陰症迥殊，知是邪熱內郁。遂合涼膈散解毒湯為方，二劑，諸症悉減。再承是方，清理而愈。按此症，乃真熱似寒、真實似虛之假象也，謬以陰症目之，豈非大誤。汪訒庵曰：房事飲冷患傷寒，亦有在三陽經者。當從陽症論治，不得便批為陰症也。世醫不明，妄投熱劑，殺人多矣。葉天士曰：房勞而患客邪，不過比常較勝，未必便是陰病。近代名賢，訛傳陰症，傷人實多。余為推原其故，蓋病人緣房事後，自慮其虛，醫者即不問所因，但知迎合為務，誤溫誤補，以致邪無出路，轉輾內攻，病雖至死，莫測其非。天下不白之冤，郭有甚於是者乎。是皆寒熱虛實，辨症不清之過也。丁酉，余客天津，夏初，有同鄉某，年未及冠，新娶後，內熱殊甚，人疑腎勞水虧，誤用枸杞、元武版等味，以致神疲體倦，煩悶不堪，來速余診。脈象沉數有力，審是春夏之交，溫邪內發，非清利不可，用三黃湯加味治之而愈。可見因症用藥，效如響應，俗工不知，妄為臆度，輕者轉重，重者轉危，自誤誤人，洵非淺鮮。盍即前人名論，作當頭之棒喝乎。</p>

<h2>陽症辨誣證</h2>
<p>凡人一身，只陰陽二氣，陽氣生髮，陰氣皆化為血，陽氣不足，陰氣皆化為火。治法，實火可瀉，虛火當補。辛卯春，余客濟南，有孫某患病月餘，目赤唇裂，喉痛舌刺，吐血盈碗，症勢頗危，前醫用清火解毒之味，蓋聞其人好服丹石，以為藥毒迅發故也。迭飲不效，來延余診。餘切其脈，浮舉似洪，沉按則細，知是命火外災，無所歸宿所致。用引火歸元法，桂附八味丸加人參、牛膝為方，投劑輒應，數服而愈。此乃真寒似熱之症也，與陰盛格陽，陰極似陽，治法相同，與陽氣有餘，藥用寒涼者迥別。箇中辨法，全以脈為憑。薛慎齋曰：人知數為熱，而不知沉細中見數為寒甚，真陰寒症，脈常有七八至者，但按之無力而數耳。是寒熱真假之辨也。且內傷與外感，治法亦異，外感宜散，可用姜附湯，內傷宜補，須用桂附八味法。仙經曰：兩腎一般無二樣，中間一點是陽精。其象橫則為☵坎，豎則為⿲⿱丨丨丨⿱丨丨水，中間一點真陽，乃生身生命之原。不知閉藏，日加削伐，以致龍雷不守，厥而上炎，非補水中之火不可。六味，補水也。桂附八味，補水中之火也。真陽得補，返歸其元，熱自收矣，使誤假為真，恣用寒劑，禍如反掌，不可不慎。</p>

<h2>冰炭異治證</h2>
<p>前哲云：久病咳嗽聲啞者難療。又云：左側不能臥者為肝傷，右邊不能臥者為肺損，新者可治，久者不可治。又云：久嗽脈弱者生，實大數者死。又云：咳而嘔，腹滿泄瀉，脈弦急者死。又云：咳嗽見血，似肉似肺，如爛魚腸，此胃中脂膜，為邪火所爍，凝結而成，方書咸謂必死。執此而論，似遇前項症情，萬無生理，而抑知不然。丙申冬，余客天津，啟泰茶葉店主人方君實夫之室，病經一年，醫治已窮。其友許繩甫，是吾友也，代邀余診。據云，初起咳嗽眩暈，繼而頭痛，未幾頭痛減輕，咳嗽加重，面腫肢冷，自汗耳鳴，夜不能臥，痰中間血如脂，音啞咽疼，胸前脹滿，大便溏泄，每月經來，兩旬始盡，色見淡紅，腹必脹痛，症象頗危。餘切其脈，實大而疾，知是伏火久積，陰不濟陽，所謂難療不治必死者近是。此時風散不能，溫補不得，惟有滋清一法。然恐杯水車薪，終不能勝。遂合犀角地黃湯、羚角石羔湯，重劑投之。並飲冰雪水以佐之。共服羚角、石羔各斤余，犀角一兩，冰水數碗，生地等藥無數，而後病始霍然愈。或聞之，驚為異。余曰：何異之有，所患者，世俗之庸耳，天下惟庸人最能誤事，以遲疑為詳審，以敷衍為精明，以倖免旁人之指摘為是，以迎合主人之意見為能，雖病至轉重轉危，猶莫求其所以然之故，此誠大可憫矣。夫症有輕重，有淺深。輕者淺者，略投輕劑，便可望愈，若來勢極重，宿積尤深，非峻劑多劑不能挽回。譬如衣服，新染油汙，一洗即去。若系宿垢，即迭洗亦不能遽淨，必浸潤之，更刷之括之，幾費經營，而後潔然若更新焉。無他，新久之勢殊也。是月也，同鄉左某因小星病，亦邀余診。據云：初起服龍膽草，以致病劇，繼飲吳萸、桂枝等劑，稍間，延今纏綿數月，頭痛且眩，臥不能起，稍坐即旋，畏寒特甚，噯氣不已，腹滿食微，症又轉重。餘切其脈，左弦數，右微緩，知是肝陰與胃陽兩傷，合羚芍地黃湯、理中湯，出入加減治之，諸症漸平。或問其故，余曰：是症也，由誤服龍膽所致。蓋龍膽苦寒瀉肝，誤飲入胃，胃亦受戕，人第知龍膽寒肝，不復思其寒胃。恣用吳萸、桂枝，肝陰受灼，風陽以升，而胃中積寒，仍不能化，所以見陰陽兩虛之象。陰虛，用羚芍地黃以補之；陽虛，用參朮乾薑以補之。此正治也。所異者，湯藥外，更用炭火炙腹，腹中有聲如爆竹狀，脹滿即覺減輕，較之前症，用冰雪水，一寒一熱，迥乎不同，故連類及之。</p>

<h2>天人參治證</h2>
<p>世之稱醫道者，每曰術究天人，誠以天有六氣，人有七情，病雖千變萬化，其大致要不外是。甲戌夏，予與友湯某，雇一葉舟，偕往澄江應試。黃昏解纜後，湯某齒縫見血。據云：前患衄血兩次，盈盆盈碗，幾瀕於危。今又有血，將若之何。餘切其脈，浮大而數，詢是當午陽盛之時，負日而行，背受薰灼所致。因令舟人去一窗板，囑伊起坐，以背承其夜氣，覺冷，然後安眠。伊俱曰：又添感冒奈何？余曰：以涼治熱，以陰濟陽，適可而止，何感冒之有焉。依法試之，果愈。壬辰，余客天津，湖南太守周君之僕，病胸滿食少，脈象虛細無神，余與以溫補之劑，周君謂伊中有所郁，恐不任補。余問何郁？答云：昨接家書，知母不悅其婦故。余曰：是為虛也明矣。凡人之情，怒則氣上，悲則氣消，止等家事，身親其境者，決無怒理，只自悲耳。服藥數劑，果愈。此二症也，一於天時中盡人事，一於人情中見天理，何謂天時，晝與夜是；何謂人事，取夜之涼治晝之熱是；何謂人情，念父母顧妻子是；何謂天理，不敢以愛妻之故遷怒其母是。蓋惟盡人事，可以濟天時之窮，亦惟循天理，所以為人情之至。試質諸今之善識時務者，與善用情面者。然乎？否乎？</p>

<h2>婦女經閉熱寒證</h2>
<p>女子二七而天癸至。天癸者，天一所生，自然之水也。隨氣流行，一月一見，其行有常，故名曰經。經至於閉，失其常矣。其病有外因六氣而成者，有內傷七情而成者。乙未，上海有陳姓閨媛，天癸數月不至，迭飲通經之劑，以致形瘦食少，咳嗽吐紅，心中煩懊，夜寐不安。冬初，來速余診。切其脈，滑而疾，蓋是年六月酷熱異常，人感其氣，蘊久不化，真陰銷灼，陽氣上蒸，血亦隨之，有升無降，經由是閉。余用羚羔清血湯，二劑，症減。再用羚地益血湯，二劑，症平。後參調經方意治之，天癸即至。丙申春，上海有劉姓婦，血閉不行，惡寒發熱，五心煩躁，口苦舌乾，面色青黃，病情頗重，來延余診。切其脈，緩而大，審是經行時過食生冷所致。以逍遙飲、紫金丸意合為一方，數劑即愈。按此二症，一系火邪外感，一系生冷內傷，隨症治之，病去而經自來，以是知專事通經無濟也。且女子與婦人異，婦人與師尼異，師尼與倡伎異，隨人而治，因症而施，庶乎可耳。</p>

<h2>婦人痛經陰陽證</h2>
<p>經來作痛，有脅痛，有腹痛，有遍身痛，有小腹痛，有經前痛，有經後痛，有經未盡作痛，有經已盡作痛，有吊陰痛，有小便痛，其形不一，所因亦殊。壬辰，余寓都門，有王姓婦，經來月遲一月，遍身疼痛，形色不鮮，惡寒喜暖，症情頗重，來延余診。切其脈，虛而遲，知是陰血素虧，復感寒邪所致，用當歸、川芎、烏藥、白芷、乾薑、川椒、陳皮、柴胡、炙草、白朮為方，數劑，經來漸早，痛勢亦輕。後去川椒，加熟地、白芍，調治而愈。乙未，上海有李姓婦，每月經水先期而至，淋漓不盡，腹中攻痛不堪。余診之，脈數舌絳，知是性躁多氣傷肝，而動衝任之脈，合九味四物湯、滋陰丸意為方。數劑，經來少緩，痛熱亦平。後仍前方加減，調治而痊。或問經水者，陰血也，婦人以血為主，而中氣多郁，郁斯滯，滯斯痛，治法似宜耗氣益血。余曰：不然，當隨時論症耳。夫氣為血配，氣熱則血熱，氣寒則血寒，氣升則血升，氣降則血降，氣行則血行，氣滯則血滯。果系鬱火，氣盛於血，不妨用香附散、肝氣散與木香、枳殼、檳榔之類，行氣開鬱。若夫氣亂須調，氣冷須溫，氣虛須補。男女一般，陽生則陰自長，氣耗則血亦涸耳，豈可專耗其氣哉。</p>

<h2>婦人崩漏虛實證</h2>
<p>非時下血，淋瀝不止，謂之漏下，忽然暴下，若山崩然，謂之崩中，其症有虛實之分，實者易治，虛者難治，虛中有實者尤難治。丙申冬，余客天津，劉君偉齋之侄婦，月水淋漓不盡，已經數月，並見胸腹脹悶等症。余診之，脈數，右盛於左，知是溫邪內蘊，血不歸經所致。用苓梔二物湯、槐榆清血湯加減治之，兩旬而愈。愈後，匝月即孕，蓋經所謂陰陽和而後萬物生也。此實症易治之一證也。癸巳春，余客都門，水部主政周君滌峰之室，病血崩，每閱五日，必崩一次，崩後第一日，腹中稍寬，後又逐日脹滿，至五日必復崩如故，綿延兩月。夜寐不安，飲食尤微，面舌唇口並手指，俱痿白無色。醫投補氣攝血之劑，病勢如劇，來速余診。脈象虛微，惟按左尺，細數有力，余思此症，系溫邪襲入血室，血得熱而妄行，以致渾身之血，不能歸經，久則血盡，氣亦脫矣。人第知血脫益氣，不知氣有餘即是火，不去其火，但補其氣，非惟關門捉賊，抑且助紂為虐，何以望愈。因用桃仁承氣湯加味，囑僅服一劑，服後，瀉兩次，腹中快甚，病者以其效也。又服一劑，仍瀉兩次。明日再診，六脈虛微已甚，改用大補氣血之劑，並加桂附，調養而痊。蓋此症正氣雖虛，陰分深處，尚有邪熱未淨，所謂虛中有實症也，非用下奪法，邪不得去，正無可扶。先瀉後補，實常法耳。然藥味太峻，不宜多服，接服二劑，未免過矣。幸速溫補，始能復元，不然，轉而為危，誰執其咎。且不惟硝黃峻藥，不可或過，即尋常之味，亦以適病為宜。蓋虛怯之人，陳皮多用數分，即嫌耗氣；甘草多用數分，即嫌滿中；藿香多用數分，亦嫌其熱；白芍多用數分，亦嫌其寒。而況寒於白芍，熱於藿香，滿中甚於甘草，耗氣甚於陳皮者乎。是不可以不謹。</p>

<h2>胎前血虛氣虛證</h2>
<p>婦人二三月，經水不行，疑是有孕，又疑血滯，心煩寒熱，恍惚不定。此時調護非法，往往誤事。辛卯正月初，余寓濟南，張勤果公以輿速余往，為大女公子診病。據云：去年小產後，癸水僅一見，至今不至，已三閱月，咳嗽間紅，腹痛便溏，渾身骨疼，食少神疲，症情頗劇，人以為勞。餘切其脈，細而數，即曰非勞也，是胎也。胎賴陰血以養，陰血不足，內熱自生，咳嗽吐紅，火刑金也。腹痛便溏，木剋土也。熱久不清，諸症以起，前次半產，職是之故，因用復脈法，去桂枝、生薑，易麻仁為棗仁，加生地、白芍、川連、地骨皮為方，時有以川連為苦寒，生地、地骨為陰寒，非久病所宜，告余易去者。余曰：有是病，始用是藥，去之即不效。照方服之，一劑，咳嗽平，吐紅止。再劑，飲食進，神氣振。三劑，腹痛便溏等症均愈。又閱數月，與以保產無憂湯，胎賴以安。癸巳春，余寓都門，吾友馮念勤之室，本體素弱，且有腹痛便溏宿症，經水適兩月不來，速余往診。脈象虛細，按左關尺，頗有和滑之致，大似育麟吉兆，主人疑氣血太虧，未能受胎，防成虛勞。答曰：脈象已見，為胎無疑。用和中益氣法治之。嗣後，閱一月，或兩月，必延余診。余仍前法加減，又閱數月，果舉一男。大凡妊娠至三月名始胎，手厥陰心胞絡脈養之，此時最易墮胎，不可不慎。緣心經火盛故也。至六七月後，苟非起居不慎，決不小產。再按月服保產無憂湯，一二劑尤妙。壬辰秋，余至天津，有一婦，產後必大病，是年，其夫為未事之謀，問治於余。余以此湯與之，越兩旬余，其夫來謝，蓋此次產後，固強健勝常也。後客都門，有何姓室，胞漿水裂，已半日許，速余往診，余即以此湯治之，夜半即產，平穩如常。可知湯名無憂，凡在產前，所宜多服。惟人之氣質有不同，時之寒熱有不同，用此湯時，不妨略為加減。改而不改，古人當不以多事責余，譬之周因殷禮，殷因夏禮，所損益可知也。因時制宜之道也。</p>

<h2>墮胎血熱證</h2>
<p>妊娠至三月，最易墮胎，其說已詳於前，然能調護如法，胎動無有不安者。某年月日，余與人治一胎動不安，腹痛見紅症，有乙以胎動為氣虛，重用黨參、於朮等藥。初診時，余令加入條芩、生地以佐之。服後，痛止胎安，惟血未淨。有癸在暗中，以冷語恐主人，謂生地條芩苦寒不可服，迨復診時，乙與知癸謀，迎合主人意，專任參朮等味，概置地芩不用。余曰：芩地洵屬苦寒，然合之參朮，一為兩儀膏，一為安胎飲，以寒佐熱，以陰濟陽，實盡制方之妙。使去芩、地而偏用參、術，是如有晝無夜，有火無水，有春夏而無秋冬，有風日而無雨露，豈造化補偏救弊之道歟。余雖力辨，乙固不從，服藥後，腹果大脹，血亦大下。蓋參、術等藥，補氣太過，氣有餘，即是火，火迫血而妄行，西醫所謂有炭氣無養氣也，胎由是不安而墮。主人因是咎乙，乙謂戊曰：我輩被陳修園書所誤。噫，是非古人誤今人，直今人誣古人耳。夫古之醫書，汗牛充棟，大抵為補偏救弊設也。如傷寒書重發表，所以救不發表之失；溫病書重清裡，所以救不清裡之失；東垣書重補陽，所以救不補陽之失；丹溪書重滋陰，所以救不滋陰之失。而且重發表者未嘗不清裡，重清裡者未嘗不發表，重補陽者未嘗不滋陰，重滋陰者未嘗不補陽。可合眾書為一書，可分一書作眾書，默而識之，會而通之，酌而用之，化而裁之。是蓋存乎其人，乃俗人只知取巧，讀書不竟，取古人一二籠罩語，別緻語，執守以論千變萬化之病，是猶膠柱而鼓瑟，坐井而觀天，不通甚矣。關尹子曰：遇微言妙行，慎弗執之。執之者，腹心之疾，無藥可療。然則執一不通者，腹心先成痼疾，不暇自療，而欲療人之疾焉，烏乎能。</p>

<h2>產後熱滯輕重證</h2>
<p>產後瘀血宜消，新血宜生，惟生化湯最當。考《本草》川芎、桃仁、當歸三味，善去惡血而生新血，佐以炮薑、甘草，引入脾經，生血理氣，化中有生，實產後之至寶也。然愚謂生化湯一方，所以治無病之常，非以治有病之變，既變而仍用常法治，斷乎不可，間常入都，聞有產前血崩，產後服生化湯，以致昏痙而死者。又里中聞有產後服補藥，以致胸脹滿悶，口鼻流血而死者。此皆泥於產後，宜溫宜補，不知變通誤之也。己卯五月，余室人新產三日，患熱病頗劇，先嚴診之。涼藥外，並用井水浸花露飲之。一夕，花露盡，渴甚，取所浸井水飲之。半月後，先嚴告余，明日當用熱藥一劑。至明日午刻，室人果言氣悶，窗牖洞開，悶終不解，即以熱藥浸冷飲之。少頃，氣悶釋然，後又用清養藥，調治半月而痊。是症也，初終俱服陰藥，中間陽藥一劑，殆如用兵然，移步換形，隨時策應，豈拘守成法者，所能夢見哉。時有謂服涼藥太多，難望生育者。先嚴曰：多服涼藥，正為生育計也。倘祛邪不盡，病必纏綿，尚不望生育乎。其後連得數胎，今已十數齡矣。癸巳臘月，余由津入都，劉君偉臣之令媛，產後患冬溫症，醫泥產後，用藥不敢過涼。綿延兩月，熱蘊不化，形乏氣喘，夜不能寐，病情頗劇。脈來七八至，右尺按之尤有力，舌右偏近根處，有老黃膩苔一片，余與清化重劑，喘平寐安，症情大減。正月初，天氣驟溫，作服過暖，內熱復熾，病勢頓危。余診其脈，數疾如前，喘促煩躁，較前更甚，仍前藥，加犀角屑二錢，服後，症稍平。減犀角，又服十數劑，脈象始和，舌苔乃退。丁丑，同邑青果巷薛仲梧之室，產後十餘日，身熱面赤，咳嗽氣促，胸悶腹滿，溺澀便閉，當時麻症盛行，前醫疑為時邪，與以豆豉、浮萍等藥，不應。來延余診。切其脈，浮細而數，望其舌，苔膩而黃，審是積滯阻中，諸氣為之窒塞，既不得以產後百脈空虛，疑為虛怯，又不得以此時盛行麻症，恣用清疏。用二陳湯加枳實、查炭、焦曲為方，二劑，諸症悉平。後以八珍湯調補而安。丁酉四月初，余客天津，孫慕韓觀察之夫人，產後五日，患溫症頗劇，來速余診。頭暈咳嗆，耳鳴耳聾，牙床腫爛，胸腹脹悶，身熱汗多，食不甘，寐不安，脈數，右寸關尤盛。綜覈脈症，知是溫邪內蘊，誤服柴胡、參鬚劫陰助火所致。用犀角地黃湯、羚梔枳實湯等方，出入加減治之，兩旬余而愈。此數症也，一則有熱當清，即用治溫熱法清之；一則有滯當消，即用治積滯法消之；一則既熱且滯，即合用治溫熱積滯法清而消之。病皆應手而效，可知方書治病諸法，皆產後治病之法。如遇虛寒症，自當溫之補之；如遇實熱症，不妨清之消之。隨時論症，隨症論治，在古人既以常法示後人以程途，未嘗不以變法俟後人之取用也。帶產後較平時，略慎重耳。雖然，以上數症，皆病之重者，故所藥可重。若系輕病，藥又不當重而當輕。壬辰春，余客都門，有殷姓室，產後患痧麻，醫用大青、犀角等藥數錢以清其中，又用荊芥、防風等藥數錢以散其表。大劑投之，身熱未除，胸中懊憹轉甚，頭痛腹痛身痛，神疲氣促，飲水即吐，溺澀便結，呻吟轉側，苦不可堪。餘切其脈，虛細而數，知是中氣素弱，不勝外邪之擾，病本輕而藥過重，所以加劇，譬如區區小竊，起數十營討之。賊未能擒，鄉閭已受其擾，不如任用一二干役，擒之即獲。再得實心辦事之良有司，勸導有方，即可化莠為良，安貼無虞。若小題大做，非辦事之善者。因用川連、甘草、橘皮、砂仁各數分，石斛、白芍、竹茹、苡仁各一二錢為方，明日復診，諸症釋然。再加調養而愈。蓋病重者，藥宜重，病輕者，藥宜輕。隨症論治，無可混施。然而南人性緩，遇重病，往往以輕藥治，其意但求寡過，而失之因循；北人性躁，遇輕病，往往以重藥治，其意急欲見功，而失之冒昧。冒昧固非，因循亦誤，要惟兩祛其失，為能一衷於是，此通權達變之人，所以敻乎不可及也。</p>

<h2>產勞辨誣證</h2>
<p>產勞，多因產理不順，疲極筋力，憂勞思慮，又或將養失宜，感冒外邪所致，久之必見咳嗽等症。某年月日，余診一婦，產後咳嗽便溏，脈象細數，聲音清朗，無異常人。論其病，不過陰虛內熱。而其家以為百日勞，刻期待死。噫，勞症果不可治，前哲於產後氣虛咳嗽、骨蒸勞熱、自汗盜汗等症，何以有用異功散、六味丸加麥冬、五味、阿膠、童便諸治法？可知症非無法可治，特恐治不如法耳。治苟如法，勞何由成。庚寅冬，余寓濟南，沈君海帆之室，產後咳嗽，口渴自汗，食少體疲，百節煩疼，夜寐不安，綿延數月，大勢似勞。來延余診，切其脈，細數無倫，右關獨滑，舌苔膩而微黃，知是陰虧氣弱，中有宿火未清。用八珍湯去芎、歸、白朮，加石羔、黑梔、懷藥、丹皮、陳皮為方。一劑，症減。五六劑，症平。再承前方去石羔、黑梔，加黃耆、白朮、當歸，調治而安。或曰：產後用八珍，是矣，去芎、歸何也？答曰：丹溪治陰虛發熱，用四物去芎、歸，以芎歸辛溫，非陰虛所宜用耳。或又曰：石羔、黑梔，不嫌涼乎？余曰：前哲言治黎明嗽，非石羔散不為功。又言治虛人早起咳嗽，用補中益氣湯加黑梔。蓋中有宿火，非膏、梔不能清耳。總之病無定情，治無定法，謂產後不當服涼藥，則可，謂產後不必患熱病，則不可。謂產後既患熱病，不容服涼藥，則尤不可。以涼治熱，千古不易之常經，先之以清火養陰，繼之以扶脾開胃，庶乎邪去正安。否則白朮、黃耆，類能灼陰助火，投之不合，世俗將謂虛不受補矣。夫虛人決無不受補之理，要有不受補之時，時可補則補之，補自有功，時不可補而補之，補反為害。元珠曰：五行六氣，水特其一耳，一水既虧，豈能勝五火哉？醫不知邪氣未除，便用補劑，邪氣得補，遂入經絡，至死不悟。又曰：勞為熱症明矣，尚可補乎？惟無熱無積之人，方可補之。必察其胃氣，及右腎二火果虧，後用補劑可也。所謂時也。</p>

<h2>小兒急驚證</h2>
<p>小兒倉猝，驟然驚搐，名曰陽癇，從實熱治。古人用涼膈散為主方，蓋膈上邪熱，逼近膻中，絡閉則危。故治法，以清通膈間無形之熱為先，若誤認傷寒，殆矣。乙未夏，余從里門至上海，適李叔倫觀察之小公子，兩歲患驚風，一日驚五次。聞余至，夜半，速余往診。指紋青紫，直透辰關，眉眼間繞有橫紋，亦系青紫色，氣促神昏，勢甚可危，所幸面色沉晦中，寶光時露，風火雖熾，真氣未漓。遂以芳香利竅法，與清涼血分法，次第治之，數服而愈。按驚為七情，內應乎肝，肝病發驚駭，木強火熾，其病動不能靜，來最迅速，故治法亦急。如果竅塞神昏，牛黃丸、至寶丹、紫雪丹可用也。如果劫爍血液，犀角地黃湯可用也。方書有鎮墜金石之藥，有攻風劫痰之藥，雖非常用，不可不考。</p>

<h2>小兒慢驚證</h2>
<p>小兒肌肉柔脆，藏府怯弱，最易致病，多延時日，變症錯綜，飲食絕而脾虛，泄瀉久而腎虛，元氣無根，孤陽外越，每至壯熱不退，釀成慢驚，即古所稱陰癇是也。治法，以理中湯為主方，重則十全大補之類。己巳，余從先嚴，至城南前橫鎮浩正茶室內，見有一孩置牆根窗格上。先嚴問兒置此何為？主人曰：兒將死。先嚴視之曰不死。設法與治，越時漸蘇。先嚴治病，奇效甚多。嘗詔余曰：醫者意也。讀古人書，當師其意，以意治病，其技乃神。丁亥十月，余又至此鎮西，有潘紀福之子方三歲，病兩旬余，面色萎白，大便時泄，俗所稱慢脾風是也。前醫與以清潤之味，已服過半，余曰：此藥幸未服完，若服完，恐不治矣。因師古人治陰癇意，用理中湯加附子、砂仁為方。一服，泄止，再服，納乳，三服，喜笑如恆，而其病若失。使執驚風之名，概用重墜之藥，又或散風清火豁疾破氣，遺過將不可勝言矣。</p>

<h2>小兒痘後危證</h2>
<p>痘之出也，由腎至肝至心至脾至肺，自內及外，自深及淺。古人治法，有用寒涼者，有用溫熱者，有偏於清下者，有慣干汗下者，有以脾胃為本，保元為主者。諸家議論，各自不同。後人隨時論症，擇而用之可矣。惟恐擇之不精，用之不當，勢必變症百出，轉而為危。丁亥，余同邑張陽生孝廉嗣子，方四歲，痘後患泄瀉，日夕數十次，綿延月餘，煩躁不安，嗆咳殊甚，納乳又少，症熱頗危。余診之，脈象細而疾，舌苔薄而黃，知是脾腎兩虛，餘毒未淨。以補中益氣湯、六味地黃湯合三黃解毒湯，隨症加減為方。一劑，便泄愈十之八。再劑，症平，頭面手足胸腹，毒發如疽，約十數處。蓋正氣得理，邪向外達也。主人並延外科治之，月餘而愈。論症後，泄瀉為元氣有虧，煩躁為餘毒未淨，以其有毒，而仍用涼解藥，必至腸滑不已，以其氣虛，而峻用溫熱藥，必至煩躁更加。余遵古複方之義，多方以應之，一益氣，一養陰，一解毒，三者備舉，諸症以平。如執一不通，安能竟收全效耶。</p>

<h2>童勞辨誣證</h2>
<p>自世有童子勞之說，於是幼年得病，久不復元，便疑為勞。抑知年甫成童，真陽未漓，治苟如法，勞何由成。辛卯秋，應試都門，陳聘臣太史之哲嗣公坦，年十四歲，病已數月，每日清晨，醒後出汗，食少氣弱，醫以為童年怯症，迭治不痊。來延余診，切其脈，濡而數，審是病由內熱，有熱不除，陰液受耗，故至陽氣發動時，陰不濟陽，蒸而為汗，用益陰湯加味治之。數劑即愈，或見方中多陰藥，因問昔人云：陽藥象陽明君子，其過也人皆見之。陰藥類陰柔小人，國祚已危，人猶莫覺其非，何也？答曰：是論藥之性，非論以藥治病之道也。以藥治病，當立無過之地，苟有過焉，悔之何及。今設有一火燥症於此，用陽藥則死，用陰藥則生，將以陽藥為君子乎，抑以陰藥為君子乎？總之病偏陰者，當以陽藥治；病偏陽者，當以陰藥治。治之無過，即陰藥可作君子觀；治之有過，即陽藥亦與小人類。譬如陽亢之秋，以兩露涵濡者為君子；陰冱之世，以雷霆霹靂者為君子。陽以濟陰，陰以濟陽，不可偏廢也，偏斯害矣。老子曰：積陰不生，積陽不化，陰陽交接，乃能成和。此之謂也。</p>

<h2>病有定憑治無定格證</h2>
<p>病之有形者，可望而知，有聲者，可聞而知。至無形無聲處，須問而知，更切而知，此治病所以賴有四診也。然而四診中，有正象，有反象，有真象，有假象，往往諸診無可憑。偶得一診以為確據者，固恃臨診時，有神明之用耳。癸巳春，余客都門，有孫姓女公子患咽痛症，前醫以其胸滿悶溺短赤，任用破氣導濕之劑，症益劇。來延余診，切其脈，數甚，左尺獨微，知是春溫邪盛，水液受耗，非滋清不可，用白虎湯、冬地湯法，加減治之而愈。愈後，旬有餘日，前症復作。余診之，身熱汗出，煩躁口乾，脈來滑數，舌中苔厚而黃，諗是飲食不節，溫邪復聚為患，又用白虎承氣湯法治之。兩劑，病不減。至再診時，望見被褥太厚，始知病所以不減故，令去其半，告以症宜涼不宜溫。投劑始效，十數服而病豁然。此望而知之一證也。丙戌秋八月，余同邑城南，陸家溏陸大興，患胸痛半年，請診於余。面色唇舌俱赤，鼻息亦粗，脈象尤數，大致似有火鬱。及問病狀，渠答曰：稍感外寒，痛勢連綿，必飲熱燒酒，始能止痛。因知症系虛寒，一切面舌之赤，鼻息之粗，脈象之數，是飲熱燒酒所致。用四逆湯理中湯等方，加減治之，其痛即平。此問而知之一證也。癸巳秋，余入都，至某太史處，聞人笑語云：你太快活，故生病矣。閱時，即有某輿夫來求診。餘切其脈，細而澀，因知所聞快活生病，殆此人也。遂用十全大補湯法補之。或以其形貌壯偉，且系勞力粗人，疑藥不合。余曰，此蓋色勞，其外雖強，其中實餒，非補不治。服藥數劑，果大效。後詢諸人，渠果香巢遍築，如狡兔有三窟然。此聞而知之一證也。庚寅春季，余客天津，適同鄉余君秋田病劇，速余往診。上吐下瀉，神識支離，不惟飲食不思，並碧霞膏亦不能吸，症象頗危。然餘切其脈，虛細中尚有和緩之致，外象雖險，真氣未漓。與以附子理中湯加味，吐瀉即止。繼進十全大補湯法，隨時減增，共調治月餘而愈。此切而知之一證也。比而論之，可憑者在此，即不可憑者在彼，總恃臨證時，於無可憑中，求其著實可憑處，奉為定憑而已。至於治病之法，寒者溫之，熱者清有之，實者瀉之，虛者補之。有一病即有一法，藥味無可亂投，即制方有大小，用藥有輕重，亦皆各行其是，未可混施。然而有時寒熱虛實，病情錯出，治法亦不能不變通者，是又恃臨治之人，善為權度焉。丁酉春仲，余往吳橋，為王君檢予治中風時，渠夫人亦病劇，日夕驚恐，合目尤甚，畏寒不已，頭裹重綿，猶覺冷風襲入骨髓，身熱有汗，胸脘時覺火燒，溺赤便溏，舌苔灰膩，脈時虛緩，時滑數，時左盛，時右盛。余先用加味八珍湯法補之，繼用郁芩五苓散法瀉之，更間用理中湯、三黃湯法以溫之清之，終以參斛湯法加味調治之，居然逐次奏功，月餘而症悉愈。或問治病如行路，一病止一路，今之路何其多？余曰：路何嘗多哉，不過盤旋往復，多費周折耳。此症氣血極虛，中有濕熱凝聚為患，故見症錯雜如此。以其氣虛有濕，而用補氣燥濕之劑，必至血耗；以其血虛有火，而用養血清火之劑，必至氣餒。合用之不能，專任焉不得。於是或補或瀉或清或溫，隨時以策應之，譬諸路，有直捷處，亦有曲折處，遇曲折處，仍直捷行之，必窒礙而難通，惟循途曲赴焉。斯曲折之路，與直捷之路，勢雖不同，及其到也則一。嘗聞人傳述一種怪病云，其病已延數醫，每易一醫，初劑必效，再劑即不效，主人束手無策，坐以待斃。噫，此殆曲折之路，誤為直捷之路。故有行輒阻，天下豈真有怪病哉。所慮者，主人苦於不知，多方畏葸，旁人不知而貌為知，妄虞殷勤。此中貽誤正多。故愚謂前症情形極重，竟能轉危為安者，實渠子元常侍奉之力，元常於余相交有年，每談醫理，吻合無間。故余得曲折如志，與為診治，設遇逆旅主人，雖神明如扁鵲，亦莫可如何耳。只得諉之曰：數為之也，有命存焉而已。</p>
