<header data-type="book">
<h1>素靈微蘊</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃玉璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1754">公元1754年</data></dd></div>
<div><dt>底本</dt><dd>清陽湖趙氏能靜居鈔本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=f7088609eff84f8db7124d99beb7224bfDcyMTIy0&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>《素靈微蘊》四卷，昌邑黃坤載先生所著也。抉天人之奧賾，演陰陽之宰運，闡上聖之微言，掃下士之瞽說。法必軌理，病無遁情，大而不窊，細而不越，味別澠淄，氣通葭管，以茲況彼，精識略同。美矣！善矣！蔑以加矣。</p>
<p>醫學矇昧，於今為甚，臟腑喜惡，陰陽逆順，罔或措意，診病則不審其原，處方則不察其變，若乃奇偶佐使之宜，氣味制化之理，益懵如也。俗學謬妄，廣設方論，伐陽滋陰，數十百年，不可譬曉，以人試藥，南北僉同，夭人壽命，良可悼嘆。</p>
<p>得先生此書，繹其義，通其法，其於治也，庶有瘳乎。</p>
<p><u>道光九年冬十一月陽湖張琦</u></p>

<h1>卷一</h1>

<h2>胎化解</h2>
<p>兩精相摶，合而成形，未形之先，爰有祖氣，人以氣化而不以精化也。精如果中之仁，氣如仁中之生意，仁得土氣，生意為芽，芽生而仁腐，故精不能生，所以生人者，精中之氣也。</p>
<p>天地之理，動極則靜，靜極則動，靜則陰生，動則陽化，陰生則降，陽化則升。《關尹子》：無有升而不降，無有降而不升。降者為水，升者為火。《河圖》之數：天一生水，地六成之，此陽之動極而靜，一陰生於午也，陰盛則下沉九地而為水，而其生水之根，則在於天。地二生火，天七成之，此陰之靜極而動，一陽生於子也，陽盛則上浮九天而為火，而其生火之根，則在於地。天三生木，地八成之，陽自地生，未浮於天而為火，先升於左而為木，得乎天者親上，陽動而左升，故曰天生。地四生金，天九成之，陰自天生，未沉於地而為水，先降於右而為金，得乎地者親下，陰靜而右降，故曰地生。凡物先生而後成，故以初氣生而終氣成。天與地旋，相生成者，獨陽不能生，獨陰不能成也。</p>
<p>知天道則知人道矣。男子應坎，外陰而內陽，女子象離，外陽而內陰，男以坎交，女以離應。離中之陰，是為丁火，坎中之陽，是為壬水，陽奇而施，陰偶而承，丁壬妙合，凝蹇而成。陰陽未判，是謂祖氣，氣含陰陽，則有清濁，清者浮輕而善動，濁者沉重而善靜。動靜之交，是曰中皇，中皇運轉，陽中之陰，沉靜而降，陰中之陽，浮動而升，升則成火，降則成水，水旺則精凝，火旺則神發。火位於南，水位於北，陽之升也，自東而南，在東為木，陽之在東，神未發也，而神之陽魂已具，魂藏於血，升則化神，陰之降也，自西而北，在西為金，陰之在西，精未凝也，而精之陰魄已成，魄藏於氣，降而生精。升降之間，黃庭四運，土中之意在焉，是曰五神。五神既化，爰生五氣，以為外衛，產五精，以為內守，結五臟，以為宮城，開五官，以為門戶。腎以藏精，開竅於耳，生骨而榮發，心以藏神，開竅於舌，生脈而榮色，肝以藏魂，開竅於目，生筋而榮爪，肺以藏魄，開竅於鼻，生皮而榮毛，脾以藏意，開竅於口，生肉而榮唇。氣以煦之，血以濡之，日遷月化，潛滋默長，形完氣足，十月而生，乃成為人。</p>
<p>其或男或女者，水火感應先後之不齊也。壬水先來，丁火後至，則陽包陰而為女，丁火先來，壬水後至，則陰包陽而為男。《易》謂乾道成男，坤道成女者，以坤體而得乾爻則成男，以乾體而得坤爻則成女，非秉父氣則為男，秉母氣則為女也。</p>
<p>生理皆同，而情狀殊絕者，氣秉之不均也。《靈樞·通天》分言五態之人，太陰之人，秉水氣也，太陽之人，秉火氣也，少陰之人，秉金氣也，少陽之人，秉木氣也，陰陽和平之人，秉土氣也。陰陽二十五人，備言五形之人，是秉五氣之全者。一氣又分左右，左右又分上下，五行各五，是為二十五人。生人之大凡也。</p>
<p>五行異氣，情貌爰別，而人之受氣，又有偏完偏實之不一，清濁厚薄之迥異，因而性質運命，高下霄壤。推其原始，總由祖氣而分，祖氣不同，故精神異其昏明，氣血殊其滑澀，五臟五官，以及筋脈骨肉，皮毛爪發，胥有美惡之辨，靈蠢壽夭，富貴貧賤，於此懸別，所謂命稟於生初也。人與天地同氣，秉賦既異，乃與天運之否泰無心而合，此氣化自然之妙也。</p>
<p>祖氣秉於先天，沖漠無形，其通塞從違，顯而可見者，後天之氣也。凡氣數之乖蹇，雖機兆未形，而其精神渫越，見之夢寐，氣血鬱濁，蒸為蟣蝨蟲虯，甚至色已明徵，神且先告，第昧者不知耳。及其否極病生，疾痛切身，然後能覺，此愚夫之恆情也。《太素》以脈而談祿命，深有至理，而拘士非之，以為窮通身外之事，與血氣無關，智淺鮮矣。叔皮之論王命，蕭遠之論運命，及孝標辨命之作，皆言天運而不言人理，則亦知其略而未睹其原也。</p>

<h2>藏象解</h2>
<p>太真剖判，離而為兩，各有專精，是名陰陽。清陽昇天，濁陰歸地，昇天成象，降地成形，清則氣化，濁則質生。《素問·陰陽應象論》：在天為玄，在地為化，玄生五神，化生五味。神在天為風，在地為木，在天為熱，在地為火，在天為濕，在地為土，在天為燥，在地為金，在天為寒，在地為水。五氣分治，是為五行。</p>
<p>人與天地相參也，感五行之氣而生臟腑焉。五臟者，肝、心、脾、肺、腎也，六腑者，膽、胃、大腸、小腸、三焦、膀胱也。臟五而腑六，《靈樞·脹論》：膻中者，心主之宮城也，是為心包，合為六臟。臟為陰，腑為陽，陰陽相合，則為表裡。肝者，將軍之官，謀慮出焉，肝合膽，膽者，中正之腑，木也。心者，君主之官，神明出焉，心合小腸，小腸者，受盛之腑，火也。脾者，倉廩之官，五味出焉，脾合胃，胃者，五穀之腑，土也。肺者，相傅之官，治節出焉，肺合大腸，大腸者，傳道之腑，金也。腎者，作強之官，伎巧出焉，腎合膀胱，膀胱者，津液之腑，水也。膻中者，臣使之官，喜樂出焉，膻中合三焦，三焦者，決瀆之腑，相火也。三焦亦合於腎，而別為孤腑，以三焦水道所出，腎為水臟，故並領之，《靈樞·本輸》：少陽屬腎，腎上連肺，故將兩臟，三焦者，中瀆之腑也，水道出焉，屬膀胱，是孤之腑也。</p>
<p>肝位於東，其氣風，其志怒，其音角，其液泣，其聲呼，其色青，其臭臊，其味酸。心位於南，其氣熱，其誌喜，其音徵，其液汗，其聲笑，其色赤，其臭焦，其味苦。脾位於中，其氣濕，其志思，其音宮，其液涎，其聲歌，其色黃，其臭香，其味甘。肺位於西，其氣燥，其志悲，其音商，其液涕，其聲哭，其色白，其臭腥，其味辛。腎位於北，其氣寒，其志恐，其音羽，其液唾，其聲呻，其色黑，其臭腐，其味鹹。四十九難：肝主色，自入為青，入心為赤，入脾為黃，入肺為白，入腎為黑。心主臭，自入為焦，入脾為香，入肺為腥，入腎為腐，入肝為臊。脾主味，自入為甘，入肺為辛，入腎為咸，入肝為酸，入心為苦。肺主聲，自入為哭，入腎為呻，入肝為呼，入心為笑，入脾為歌。腎主液，自入為唾，入肝為泣，入心為汗，入脾為涎，入肺為涕。《關尹子》：木茂故華為五色，火飛故達為五臭，土和故滋為五味，金堅故實為五聲，水潛故蘊為五精也。</p>
<p>肝氣司生，其時應春，其性為暄，其化為榮，其政為散，其令宣發，其變摧拉，其合筋，其榮爪也。心氣司長，其時應夏，其性為暑，其化為茂，其政為明，其令鬱蒸，其變炎鑠，其合脈，其榮色也。脾氣司化，其時應長夏，其性靜兼，其化為盈，其政為謐，其令雲雨，其變動注，其合肉，其榮唇也。肺氣司收，其時應秋，其性為涼，其化為斂，其政為勁，其令霧露，其變肅殺，其合皮，其榮毛也。腎氣司藏，其時應冬，其性為凜，其化為肅，其政為靜，其令閉塞，其變凝烈，其合骨，其榮發也。</p>
<p>五臟者，所以藏精神魂魄者也，《靈樞·本神》：肝藏血，血舍魂，心藏脈，脈舍神，脾藏營，營舍意，肺藏氣，氣舍魄，腎藏精，精舍志。五臟皆有神而藏之於心，五臟皆有精而藏之於腎。神為陽而精為陰，土居陰陽之交，魂者自陰而之陽，陽盛則生神，魄者自陽而之陰，陰盛則生精。血，陰也，而其中有陽，得木氣之散，則陽升而氣化，氣，陽也，而其中有陰，得金氣之收，則陰降而質結。蓋陰濁而有質，陽清則有氣，將結此質而質之魄先生，將化此氣而氣之魂先見。氣之虛靈者則為神，質之靜凝者則為精，神清而明，精濁而暗。古人以升魂為貴，降魄為賤，緣魂向陽而魄向陰也。物生於春夏而死於秋冬，人之大凡，陽盛則壯，陰盛則老，及其死也，神魂去而精魄存，氣雖亡而質仍在也，於此可悟陰陽之貴賤矣。</p>
<p>五行之理，相生以氣，非相生以質，《譚子》所謂形不靈而氣靈也。地之木火土金水者，五行之質也，天之風熱濕燥寒者，五行之氣也。天氣盛於東南，地氣盛於西北，東南者，生長之位，西北者，收藏之位。陽主生長，陰主收藏，陽生於東而長於南，陰收於西而藏於北。陽之方生則為春，三陽在上，故春之氣溫，既長則為夏，六陽在上，故夏之氣熱，陰之方收則為秋，三陰在上，故秋之氣涼，既藏則為冬，六陰在上，故冬之氣寒。天氣一日而四周，將寒則涼，將熱則溫，故寒生東方之溫，溫生南方之熱，熱生中央之濕，濕生西方之涼，涼生北方之寒。其相生全是氣化，非木之質生火，火之質生土，土之質生金，金之質生水，水之質生木也，成質則不能生矣。相剋者，制其太過也。木氣過散，則土不堅，故斂之以收氣，火氣過炎，則金不肅，故聚之以藏氣，土氣過濕，則水不升，故散之以風氣，金氣過收，則木不達，故溫之以熱氣，水氣過潤，則火不降，故燥之以土氣。水升則火降，火降則金肅，金肅則木榮，木榮則土燥，土燥則水升。相生則無不及，相剋則無太過，生則見變化之妙，克則見制伏之巧，亦克以氣而不克以質也。前人據五行形質而論生克，逝其遠矣。</p>
<p>《尚書·洪範》：木曰曲直，金曰從革，火曰炎上，水曰潤下，土爰稼穡，此五行之性也。曲直作酸，炎上作苦，從革作辛，稼穡作甘，潤下作咸，此五行之味也。蓋水宜浮而火宜沉，木宜升而金宜降，土居中皇，是為四象轉運之機。潤下者，水氣之不浮也，炎上者，火氣之不沉也，直則木升，曲者，木氣之不升也，從則金降，革者，金氣之不降也，甘者，稼穡之正位，平則不見，不平則見，甘味之見者，土氣之不運也。五氣堙郁，而後五味以生，五臟乃病。升水木而降火金，其權在土，土氣不運，則四維莫轉，此五味郁生之原也。善乎！庚桑子之言：草鬱則為腐，樹鬱則為蠹，人鬱則為病。陽性動而陰性止，動則運而止則鬱，陽盛而生病者，千百之一，陰盛而生病者，盡人皆是，此凡物之大情也。</p>
<p>五臟開竅於五官，《子華子》：心之氣為離，其神為朱鳥，其竅通於舌，腎之氣為坎，其神為玄龜，其竅通於耳，肝之氣為震，其神為蒼龍，其竅通於目，肺之氣為兌，其神為伏虎，其竅通於鼻，脾之氣為戊己，其神為鳳凰，其竅通於口，故肝心脾肺腎五臟之司目舌口鼻耳五官之候。《靈樞·脈度》：五臟常內閱於上七竅也，肝氣通於目，肝和則目能辨五色矣，心氣通於舌，心和則舌能知五味矣，脾氣通於口，脾和則口能知五穀矣，肺氣通於鼻，肺和則鼻能知香臭矣，腎氣通於耳，腎和則耳能聞五音矣。</p>
<p>五臟，陰也，五官，陽也，陽升於陰，陰降於陽。頭上七竅，位為純陽，陰性重濁，陽性清虛，清虛之極，神明出焉，五神發露，則開七竅，七竅者，神氣之所遊行而出入也。壯則陽旺而神清，濁陰沉降，故七竅靈通，老則陽衰而神散，濁陰填湊，故七竅晦塞。</p>
<p>六腑者，所以受水穀而行化物者也。水穀入胃，脾氣消磨，渣滓下傳，精微上奉，化為霧氣，歸之於肺。肺司氣而主皮毛，將此霧氣，由臟而經，由經而絡，由絡而播宣皮腠，熏膚充身澤毛，是謂六經之氣。霧氣降灑，化而為水，津液精血，於是生焉。陰性親內，自皮而絡，自絡而經，自經而歸趨臟腑。津入於肺，液入於心，血入於肝，精入於腎，是謂五臟之精。陽根於陰，故生於內而盛於外，陰根於陽，故生於外而盛於內。五臟之部，心位於上，腎位於下，肝位於左，肺位於右，脾位於中。穀氣為陽，升於心肺，穀精為陰，入於腎肝。腎為純陰，陰極則陽生，心為純陽，陽極則陰生，故上亦有精而下亦有氣。下之氣，陽之根也，上之精，陰之根也。</p>
<p>飲入於胃，脾陽蒸動，化為雲霧，而上升於肺，是為肺氣。肺氣清降，化而為水，遊溢經絡，表裡皆周。天暑衣厚，腠理開發，則外泄而為汗，天寒衣薄，腠理閉塞，則下行而為溺。膀胱者，水之壑也。三焦之火，隨膀胱太陽之經下行而司水道，下焦之火秘，則膀胱清利而水道通，下焦之火泄，則膀胱熱澀而水道閉。火泄脾虛，不能蒸水化氣，則水穀並趨二腸，而成泄利。泄利之家，膀胱熱澀而脾腎寒滑，全因相火之泄陷也。《靈樞·營衛生會》：上焦如霧，中焦如漚，下焦如瀆。水性流下，下焦之水獨盛，故如瀆，氣性親上，上焦之氣獨盛，故如霧，中焦，氣水之交，故如漚。譬之如釜，火炎水沸，上則熱氣之升騰，霧也，中則泡波之起滅，漚也，下則釜底之水，瀆也。</p>
<p>《列子》：屬天者，清而散，屬地者，濁而聚。腑稟天氣，故泄而不藏，臟稟地氣，故藏而不泄。「五臟別論」：五臟者，藏精氣而不泄也，故滿而不能實，六腑者，傳化物而不藏也，故實而不能滿。陰陽互根，五臟陰也，而陽神藏焉，非五臟之藏，則陽神飛矣，六腑陽也，而陰精化焉，非六腑之化，則陰精竭矣。蓋陰以吸陽，故神不上脫，陽以煦陰，故精不下流。陽盛之處而一陰已生，陰盛之處而一陽已化，故陽自至陰之位而升之，使陰不下走，陰自至陽之位而降之，使陽不上越。上下相包，陰平陽秘，是以難老。陰在內，陽之守也，陽在外，陰之衛也，陰能守則陽秘於內，陽能衛則陰固於外。陽如珠玉，陰如蚌璞，含珠於蚌，完玉以璞，而昧者不知，棄珠玉而珍蚌璞，是之謂倒置之民矣。</p>

<h2>經脈解</h2>
<p>六臟六腑，是生十二經。經氣內根於臟腑，外絡於肢節。其浮氣之不循經者，為衛氣，其精氣行於經者，為營氣。《靈樞·決氣》：壅遏營氣，令無所避，是謂脈。臟脈為陰，腑脈為陽。脾、腎、肝、膽、胃、膀胱經行於足，是謂足之三陰三陽，肺、心、心包、三焦、大腸、小腸經行於手，是謂手之三陰三陽。脾肺之經，太陰，心腎之經，少陰，肝與心包之經，厥陰，膽與三焦之經，少陽，胃與大腸之經，陽明，膀胱小腸之經，太陽。太陽與少陰為表裡，陽明與太陰為表裡，少陽與厥陰為表裡，手經與手配，足經與足配。經絡迴環，運行不息也。</p>
<p>《靈樞·經脈》：肺手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈，屬肺，從肺系橫出腋下，下行臑內，行少陰心主之前，下肘中，循臂內，上骨下廉，入寸口，上魚，循魚際，出大指之端。其支者，從腕後循次指內廉，出其端。大腸手陽明之脈，起於次指之端，循指上廉，出合谷兩骨之間，上入兩筋之間，循臂上廉，入肘外廉，上臑外前廉，上肩，出髃骨之前廉，上出於柱骨之會上，下入缺盆，絡肺，下膈，屬大腸。其支者，從缺盆上頸，貫頰，入下齒中，還出挾口，交人中，左之右，右之左，上頰鼻孔。胃足陽明之脈，起於鼻之交頞中，旁納太陽之脈，下循鼻外，入上齒中，還出挾口，環唇，下交承漿，卻從頤後下廉出大迎，循頰車，上耳前，過客主人，循髮際，至額顱。其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃，絡脾。其直者，從缺盆下乳內廉，下挾臍，入氣街中。其支者，起於胃口，下循腹裡，下至氣街中而合，以下髀關，抵伏兔，下膝髕中，下循脛外廉，入足跗，入中指內間。其支者，下廉三寸而別，下入中指外間。其支者，別跗上，入大指間，出其端。脾足太陰之脈，起於大指之端，循指內側白肉際，過核骨後，上內踝前廉，上腨內，循脛骨後，交出厥陰之前，上膝骨內前廉，入腹，屬脾，絡胃，上膈，挾咽，連舌本，散舌下。其支者，復從胃別上膈，注心中。心手少陰之脈，起於心中，出屬心系，下膈，絡小腸。其支者，從心系上挾咽，系目系。其直者，復從心系卻上肺，下出腋下，下循臑內後廉，行太陰心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內，出其端。小腸手太陽之脈，起於小指之端，循手外側，上腕，出踝中，直上循臂骨下廉，出肘內側兩筋之間，上循臑外後廉，出肩解，繞肩胛，交肩上，入缺盆，絡心，循咽，下膈，抵胃，屬小腸。其支者，從缺盆循頸，上頰，至目銳眥，卻入耳中。其支者，別頰，上䪼，抵鼻，至目內眥，斜絡於顴。膀胱足太陽之脈，起於目內眥，上額，交巔。其支者，從巔至耳上角。其直者，從巔入絡腦，還出別下項，循肩膊內，挾脊，抵腰中，入循膂，絡腎，屬膀胱。其支者，從腰中下挾脊，貫臀，入膕中。其支者，從膊內左右別，下貫胛，挾脊內，過髀樞，循髀外，從後廉下合膕中，以下貫腨內，出外踝之後，循京骨，至小指外側。腎足少陰之脈，起於小指之下，斜趨足心，出於然谷之下，循內踝之後，別入跟中，以上腨內，出膕內廉，上股內後廉，貫脊，屬腎，絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本。其支者，從肺出絡心，注胸中。心主手厥陰心包絡之脈，起於胸中，出屬心包絡，下膈，歷絡三焦。其支者，循胸，出脅，下腋三寸，上抵腋下，循臑內，行太陰少陰之間，入肘中，下臂，行兩筋之間，入掌中，循中指，出其端。其支者，別掌中，出名指之端。三焦手少陽之脈，起於名指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循臑外，上肩，交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦。其支者，從膻中上出缺盆，上項，系耳後，直上出耳上角，以屈下頰，至䪼。其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳眥。膽足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸，行手少陽之前，至肩上，卻交出手少陽之後，入缺盆。其支者，從耳後入耳中，出走耳前，至目銳眥後。其支者，別銳眥，下大迎，合於手少陽，抵於䪼，下加頰車，下頸，合缺盆，以下胸中，貫膈，絡肝，屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中。其直者，從缺盆下腑，循胸，過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入名指之間。其支者，別跗上，循大指歧骨內，出其端，還貫爪甲，出三毛。肝足厥陰之脈，起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰，入毛中，過陰器，抵少腹，挾胃，屬肝，絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔。其支者，從目系下頰裡，環唇內。其支者，復從肝別貫膈，上注肺。此經脈之起止，即營氣之行次也。</p>
<p>陽經在表，陰經在裡，太陽居外，皮毛之分也，次則陽明，次則少陽，次則太陰，次則少陰，次則厥陰，近於骨矣。陽經則屬腑絡臟，陰經則屬臟絡腑。足之陰經行於股里，陽經行於股外，手之陰經行於臂里，陽經行於臂外。陰經之次，太陰在前，厥陰在中，少陰在後，陽經之次，陽明在前，少陽在中，太陽在後。手之陰經自胸走手，陽經自手走頭，足之陽經自頭走足，陰經自足走胸。手三陽自手走頭，足三陽自頭走足，皆行於頸項而會於督之大椎。</p>
<p>頸脈之次，任行於前，督行於後，俱在中央，足陽明在任脈之次，二次手陽明，三次手太陽，四次足少陽，五次手少陽，六次足太陽，七次則項之中央，下連脊骨，督脈之部也。</p>
<p>在項之脈，任督各一，其餘左右各二、合二十四經。</p>
<p>足經之部，太陽少陰行身之背，陽明太陰行身之前，少陽厥陰行身之側。除足太陽外，陰陽皆會於宗筋。</p>
<p>手經悉行於手，惟手少陽並足太陽而下行，出膕中，貫踹腸，而入外踝。</p>
<p>臟腑之募皆在前，散見諸脈，而俞則在後，發於太陽之一經。以人身前陰而後陽，故太陽為諸陽之主，臟腑之陽，以類相從，而發見於背膂也。</p>
<p>手之陽經則升，陰經則降，足之陽經則降，陰經則升。手之三陽，陽中之太陽也，皆升，手之三陰，陽中之少陰也，皆降，足之三陽，陰中之少陽也，皆降，足之三陰，陰中之太陰也，皆升。蓋手足陰陽，濁中之清者，則從下而升，清中之濁者，則從上而降。「太陰陽明論」：陰氣從足上行至頭，而下行循臂至指端，陽氣從手上行至頭，而下行至足。陽病者，上行極而下，陰病者，下行極而上，以陰極則陽生，陽極則陰生。凡物之理，窮則反，終則始也。</p>
<p>陽受氣於四末，故四肢為諸陽之本。然陽升於手而降於足，陰升於足而降於手，升為初氣，降為終氣，則陽盛於手而陰盛於足，故手巧而足拙，以陽性輕捷而陰性遲重故也。</p>
<p>五臟開竅於五官，清陽由經脈而升也。經脈之中，清者升而濁者降，《靈樞·陰陽清濁》：其清者上走空竅，濁者下行諸經。清氣升則孔竅靈，故能辨聲色，別臭味。陽性熱，陰性寒，陰陽平者，下反溫而上反清，以陽降而化濁陰，陰升而化清陽故也。</p>
<p>手足之經，陰陽各三，是謂六氣。手少陰以君火主令，足少陰水也，從妻化氣而為熱。足太陽以寒水主令，手太陽火也，從夫化氣而為寒。足厥陰以風木主令，手厥陰火也，從母化氣而為風。手少陽以相火主令，足少陽木也，從子化氣而為暑。足太陰以濕土主令，手太陰金也，從母化氣而為濕。手陽明以燥金主令，足陽明土也，從子化氣而為燥。</p>
<p>經別者，正經之別行者也。營於脈中，直道而行則為正，內則臟腑，表裡之經，相為絡屬，及本經之支派他交者，則為別。詳見《靈樞·經別》。</p>
<p>經筋者，十二經之筋也。起於各經，分道而行，所行之道，多與經脈相同，獨足之三陰，始同終異，而其結聚，則在四肢溪谷之間，以諸筋皆屬於節也。肝主筋而榮爪，故十二經筋皆始自爪甲而結於腕踝，聚於肘膝，會於肩髀，聯屬肌肉，維絡頸項，裹纈頭面，大筋為綱，小筋為維，陽筋則剛，陰筋則柔，約束百骸，而會於宗筋，故「痿論」：宗筋主束骨而利機關也。詳見《靈樞·經筋》。</p>
<p>奇經者，督、任、沖、帶、陽蹺、陰蹺、陽維、陰維也。二十八難：督脈者，起於下極之俞，並於脊裡，上至風府，入屬於腦。任脈者，起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤，循面，入目，絡舌。衝脈者，起於氣衝，並足陽明之經，挾臍而上，至胸中而散。帶脈者，起於季脅，回身一周。陽蹺者，起於跟中，循外踝上行，入風池。陰蹺者，亦起於跟中，循內踝上行，至喉嚨，交貫衝脈。陽維、陰維者，維絡於身，陽維起於諸陽會，陰維起於諸陰交也。凡此八脈者，經脈之絡也。經盛則入絡，絡脈滿溢，不拘於經，內溉臟腑，外濡腠理。譬之聖人圖設溝渠，通利水道，天雨降下，溝渠滿溢，霶霈妄行，流於深湖，聖人不能復圖也，經脈隆盛，入於八脈，而不環周，故八脈溢蓄，別道自行諸經，不能復拘也。任、督、沖三脈一源，同起於會陰，督則循背而行身後，為諸陽之綱，任則循腹而行身前，為諸陰之領，沖則挾臍上行，為諸經之海。督行於後，而亦行於前，「骨空論」：督脈起於少腹，以下骨中央，入系廷孔，其孔，溺孔之端也，其絡循陰器，合纂間，別繞臀，至少陰與巨陽中絡者，合少陰，上股內後廉，貫脊，屬腎，與太陽起於自內眥，上額，交巔，入絡腦，還出別下項，循肩膊內，挾脊，抵腰中，入循膂，絡腎，其少腹直上者，貫臍中央，上貫心，入喉，上頤，環唇，上系兩目之下中央，是督脈之前行也，蓋任督本一脈，以前後而異名耳。沖行於上，而亦行於下，《靈樞·動輸》：衝脈者，十二經之海也，與少陰之大絡起於腎下，出於氣街，循陰股內廉，斜入膕中，循京骨內廉，並少陰之經，下入內踝之後，入足下，其別者，斜入踝，出屬跗上，入大指之間，注諸絡，以溫足脛，是衝脈之下行也。</p>
<p>陽蹺、陽維者，足太陽之別，陰蹺、陰維者，足少陰之別。陽蹺主左右之陽，陰蹺主左右之陰，陽維主一身之表，陰維主一身之裡。帶則橫束一身之脈者也。</p>
<p>別絡者，諸經別出之大絡也。《靈樞·經別》：手太陰之別，名曰列缺，起於腕上分間，並太陰經，直入掌，散入於魚際。手少陰之別，名曰通里，去腕一寸半，別而上行，循經入於心中，系舌本，屬目系。手心主之別，名曰內關，去腕二寸，出於兩筋之間，循經以上，繫於心，包絡心系。手太陽之別，名曰支正，上腕五寸，內注少陰，其別者，上走肘，絡肩髃。手陽明之別，名曰偏歷，去腕三寸，別入太陰，其別者，上循臂，乘肩髃，上曲頰，遍齒，其別者，入耳，合於宗脈。手少陽之別，名曰外關，去腕二寸，外繞臂，注胸中，合心主。足太陽之別，名曰飛揚，去踝七寸，別走少陰。足少陰之別，名曰光明，去踝五寸，別走厥陰，下絡足跗。足陽明之別，名曰豐隆，去踝八寸，別走太陰，其別者，循脛骨外廉，上絡頭項，合諸經之氣，下絡喉嗌。足太陰之別，名曰公孫，去本節之後一寸，別走陽明，其別者，入絡腸胃。足少陰之別，名曰大鐘，當踝後，繞跟，別走太陽，其別者，並經上走於心包下，外貫腰脊。足厥陰之別，名曰蠡溝，去內踝五寸，別走少陽，其別者，循脛上睪，結於莖。任脈之別，名曰尾翳，下鳩尾，散於腹。督脈之別，名曰長強，挾膂，散頭上，下當肩胛左右，別走太陽，入貫膂。脾之大絡，名曰大包，出淵液下三寸，布胸脅。此十五絡也。《素問·平人氣象論》：胃之大絡，名曰虛里，貫膈，絡肺，出於左乳下，其動應衣，宗脈氣也，此又胃之一大絡也。諸經之絡各一，而脾胃之絡則二，以脾胃者，諸經之本故也。</p>
<p>經脈為里，支而橫者為絡，絡之別者為孫，孫絡三百六十五，此外絲分而縷析焉，巧曆不能得矣。</p>
<p>經脈十二，左右二十四，奇經八脈，左右十四，別絡十六，左右三十，共六十八脈，相隨而上下。陰脈營其臟，陽脈營其腑，區處條別，不相紊亂已。</p>

<h2>營衛解</h2>
<p>人受氣於谷，谷入於胃，以傳於肺，精華氤氳，而生氣血。其清者為營，濁者為衛，營行脈中，衛行脈外，一日一夜，周身五十。</p>
<p>脈中之血，其名曰營，血中之氣，是曰營氣，營氣在脈，隨宗氣而行。穀精之化營氣，其大氣之摶而不行者，積於胸中，命曰宗氣，宗氣者，所以貫心肺而行呼吸。營氣之行，一息往來，蓋血之動，氣鼓之也。人一呼脈再動，一吸脈再動，呼吸定息，脈五動，閏以太息，脈六動，一動脈行一寸，六動脈行六寸。《靈樞·脈度》：手之六陽，從手至頭，長五尺，五六三丈。手之六陰，從手至胸中，三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足之六陽，從足至頭，八尺，六八四丈八尺。足之六陰，從足至胸中，六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。蹺脈從足至目，七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。督脈、任脈，各四尺五寸，二四八尺，二五一尺，合九尺。凡都合一十六丈二尺，此氣之大經隧也。平人一日一夜一萬三千五百息，上下左右前後二十八脈，以應二十八宿。周天二十八宿，宿三十六分，一日之度，一千八分。漏水下百刻，以分晝夜，每刻一百三十五息。一息氣行六寸，十息氣行六尺，一百三十五息，人氣半周於身，脈行八丈一尺，下水一刻，日行十分。二百七十息，氣行十六丈二尺，是謂一周，下水二刻，日行二十分。五百四十息，人氣再周於身，脈行三十二丈四尺，下水四刻，日行四十分。二千七百息，人氣十周於身，脈行一百六十二丈，下水二十刻，日行五宿二十分。一萬三千五百息，人氣五十營於身，脈行八百一十丈，水下百刻，日行二十八宿，一千八分。</p>
<p>營氣之行，常於平旦寅時從手太陰之寸口始，以肺主氣而朝百脈也。自手之太陰陽明注足之陽明太陰，手之少陰太陽注足之太陽少陰，手之厥陰少陽注足之少陽厥陰，即經脈之行次也，終於兩蹻督任，周而復始，陰陽相貫，如環無端，晝夜五十周畢，明日寅時，又會於氣口，此營氣之度也。</p>
<p>衛氣者，不隨營氣，而自行於脈外，晝行陽經二十五周，夜行陰臟二十五周。其行於陽也，常於平旦寅時從足太陽之睛明始。睛明者，目之內眥。《靈樞·衛氣》：平旦陰晝，陽氣出於目，目張則氣上行於頭，循項，下足太陽，至小指之端。其散者，別於目內眥，下手太陽，至小指之端，其散者，別於目銳眥，下足少陽，至小指次指之端。以上循手少陽之分側，下至名指之端。別者，至耳前，合於頷脈，注足陽明，下至跗上，入中指之端。其散者，從耳下下手陽明，入次指之端，其至於足也，入足心，出內踝，下足少陰。陰蹻者，足少陰之別，屬於目內眥，自陰蹻而復合於目，交於足太陽之睛明，是謂一周。</p>
<p>歲有十二月，日有十二辰，子午為經，卯酉為緯。日行二十八宿，而一面七星，四七二十八星，房昴為緯，虛張為經。房至畢為陽，昴至心為陰，陽主晝，陰主夜。夜半為陰曨，雞鳴而陰衰，平旦陰盡，而陽受氣矣，日中為陽曨，日西而陽衰，日入陽盡，而陰受氣矣。</p>
<p>太陰主內，太陽主外，衛氣至陽而起，至陰而止，各行二十五度，分為晝夜。日行一舍，人氣行一周於身與十分身之八。日行二舍，人氣行三周於身與十分身之六。日行三舍，人氣行五周於身與十分身之四。日行四舍，人氣行七周於身與十分身之二。日行五舍，人氣行於身九周。日行六舍，人氣行於身十周與十分身之八。日行七舍，人氣行於身十二周與十分身之六。日行十四舍，人氣二十五周於身與十分之身之二。陽盡於陰，陰受氣矣。</p>
<p>其入於陰也，常從足少陰注於腎，腎注於心，心注於肺，肺注於肝，肝注於脾，脾復注於腎，為一周。夜行一舍，人氣行於陰臟一周與十分臟之八。夜行十四舍，人氣行於陰臟二十五周與十分臟之二。從腎至少陰之經，而復合於目。</p>
<p>陰陽一日一夜各行二十五周而有奇分，在身得十分身之二，在臟得十分臟之二，合得十分之四。從房至畢十四舍，水下五十刻，日行半度，衛氣出於陽則寤，從昴至心十四舍，水下五十刻，衛氣入於陰則寐。人之所以臥起之時有早晏者，奇分不盡數也。此衛氣之度也。</p>
<p>三十難言營衛相隨，蓋相隨之義，如日月之度，雖不同道，而並行不悖也。營自起於宗氣，衛自起於睛明，營則陰陽相間，衛則夜陰晝陽，起止不同，道路各異，非同行於一經之謂也。</p>

<h2>臟候解</h2>
<p>人秉五氣，是生臟腑，受氣不同，臟腑亦別，強弱殊質，邪正異性，感而生病，千變不一。臟腑幽深，人不能見，而相形察色，可以外候也。《靈樞·本臟》：臟腑者，所以參天地而副陰陽，運四時而化五節。五臟固有小大、高下、堅脆、端正、偏傾，六腑亦有小大、長短、厚薄，結直、緩急，吉凶善惡之殊，由此分焉。</p>
<p>心小則臟安，邪弗能傷，易傷以憂，大則憂不能傷，易傷於邪，高則滿於肺中，俯而善忘，難開以言，下則易傷於寒，易恐於言，堅則臟安守固，脆則善病消癉熱中，端正則和利難傷，偏傾則操持不一，無守司也。肺小則臟安少飲，不病喘喝，大則多飲，善病胸痹喉痹逆氣，高則上氣肩息咳，下則居賁迫肝，善脅下痛，堅則不病咳上氣，脆則善病消癉易傷，端正則和利難傷，偏傾則胸偏痛也。肝小則臟安，無脅下之病，大則逼胃迫咽，苦膈中，且脅下痛，高則上支賁切，脅悗為息賁，下則逼胃，脅下空而易受邪，堅則臟安難傷，脆則善病消癉易傷，端正則和利難傷，偏傾則脅下痛也。脾小則臟安，難傷於邪，大則苦湊䏚而痛，不能疾行，高則䏚引季脅而痛，下則下加於大腸，而臟苦受邪，堅則臟安難傷，脆則善病消癉易傷，端正則和利難傷，偏傾則善滿善脹也。腎小則臟安難傷，大則善病腰痛，不可以俯仰，易傷以邪，高則苦背膂痛，不可以俯仰，下則腰尻痛，不可以俯仰，為狐疝，堅則不病腰背痛，脆則善病消癉易傷，端正則和利難傷，偏傾則苦腰尻痛也。凡此二十五變者，人之所以強弱不同也。</p>
<p>赤色小理者，心小，粗理者，心大，無𩩲𩨗者，心高，𩩲𩨗小短舉者，心下，𩩲𩨗長者，心下堅，𩩲𩨗弱小以薄者，心脆，𩩲𩨗直下不舉者，心端正，𩩲𩨗倚一方者，心偏傾也。白色小理者，肺小，粗理者，肺大，巨肩反膺陷喉者，肺高，合腋張脅者，肺下，好肩背厚者，肺堅，肩背薄者，肺脆，背膺厚者，肺端正，脅偏疏者，肺偏傾也。青色小理者，肝小，粗理者，肝大，廣膺反骹者，肝高，合脅兔骹者，肝下，胸脅好者，肝堅，脅骨弱者，肝脆，膺腹好相得者，肝端正，脅骨偏舉者，肝偏傾也。黃色小理者，脾小，粗理者，脾大，揭唇者，脾高，唇下縱者，脾下，唇堅者，脾堅，唇大而不堅者，脾脆，唇上下好者，脾端正，唇偏舉者，脾偏傾也。黑色小理者，腎小，粗理者，腎大，高耳者，腎高，耳後陷者，腎下，耳堅者，腎堅，耳薄不堅者，腎脆，耳好前居牙車者，腎端正，耳偏傾者，腎偏傾也。</p>
<p>五臟皆小者，少病，苦焦心，大愁憂，皆大者，緩於事，難使以憂，皆高者，好高舉措，皆下者，好出人下，皆堅者，無病，皆脆，不離於病，皆端正者，和利得人心，皆偏傾者，邪心而善盜，不可以為人平，反覆言語也。</p>
<p>六腑之應，肺合大腸，大腸者，皮其應也，心合小腸，小腸者，脈其應也，肝合膽，膽者，筋其應也，脾合胃，胃者，肉其應也，腎合三焦膀胱，三焦膀胱者，腠理毫毛其應也。肺應皮，皮厚者，大腸厚，皮薄者，大腸薄，皮緩腹裹大者，大腸大而長，皮急者，大腸急而短，皮滑者，大腸直，皮肉不相離者，大腸結也。心應脈，皮厚者，脈厚，脈厚者，小腸厚，皮薄者，脈薄，脈薄者，小腸薄，皮緩者，脈緩，小腸大而長，皮薄而脈衝小者，小腸小而短，諸陽經脈皆多紆屈者，小腸結也。脾應肉，肉䐃堅大者，胃厚，肉䐃麼者，胃薄，肉䐃小而麼者，胃不堅，肉䐃不稱身者，胃下，胃下者，下管約不利，肉䐃不堅者，胃緩，肉䐃無小理累者，胃急，肉䐃多小理累者，胃結，胃結者，上脘約不利也。肝應爪，爪厚色黃者，膽厚，爪薄色紅者，膽薄，爪堅色青者，膽急，爪濡色赤者，膽緩，爪直色白無約者，膽直，爪惡青黑多紋者，膽結也。腎應骨，密理厚皮者，三焦膀胱厚，粗理薄皮者，三焦膀胱薄，疏腠理者，三焦膀胱緩，皮急而無豪毛者，三焦膀胱急，豪毛美而粗者，三焦膀胱直，稀豪毛者，三焦膀胱結也。</p>
<p>《靈樞·師傳》：五臟者，心為之主，缺盆為之道，骷骨有餘，以候𩩲𩨗。肺為之蓋，巨肩陷喉，候見其外。肝者主為將，使之候外，欲知堅脆，視目小大。脾者主為衛，使之迎糧，視唇舌好惡，以知吉凶。腎者主為外，使之遠聽，視耳好惡，以知其性。六腑者，胃為之海，廣額，大頸，張胸，五穀乃容。鼻隧以長，以候大腸。唇厚，人中長，以候小腸。目下裹大，其膽乃橫。鼻孔在外，膀胱漏泄。鼻柱中央起，三焦乃約。此五臟六腑之外候也。凡官骸美惡，胥稟臟氣，生死壽夭，不外乎此。</p>
<p>《靈樞·五色》：明堂者，鼻也。闕者，眉間也。庭者，顏也。蕃者，頰側也。蔽者，耳門也。五官之位，其間欲方大，去之十步，皆見於外，如是者，壽必中百歲。故五官以辨，闕庭以張，明堂廣大，蕃蔽見外，方壁高基，引垂居外，壽考之徵也。若五官不辨，闕庭不張，小其明堂，蕃蔽不見，又卑牆基，牆下無基，垂角去外，如是者，雖平常殆，加之以疾，百不一生也。</p>
<p>《靈樞·天年》：五臟堅固，血脈和調，肌肉解利，皮膚緻密，營衛之行，不失其常，呼吸微徐，氣以度行，六腑化谷，津液布揚，各如其常，故能長久。使道隧以長，牆基高以方，通調營衛，三部三里起，骨高肉滿，百歲乃得終。五臟不堅，使道不長，空外以張，喘息暴疾，又卑牆基薄，脈少血，其肉不石，故中壽而盡也。</p>
<p>《靈樞·壽夭剛柔》：形與氣相任則壽，不相任則夭。皮與肉相果則壽，不相果則夭。形充而皮膚緩者則壽，急者則夭。形充而顴不起者骨小，骨小則夭。形充而䐃肉堅者肉堅，肉堅則壽，䐃肉不堅者肉脆，肉脆則夭。牆基卑，高不及其地者，不滿三十而死，其有因加疾者，不及二十而死也。平人而氣勝形者壽，病而形肉脫，氣勝形者死，形勝氣者危矣。此即官骸以測壽夭之法也。</p>
<p>經脈十二，根於臟腑，而一身毛髮，又秉經氣而生，觀之可以知血氣之盛少焉。《靈樞·陰陽二十五人》：足三陽之上者，皆行於頭，陽明之經，其榮髯也，少陽之經，其榮須也，太陽之經，其榮眉也，血氣盛則美而長，血氣少則惡而短。三經之下者，皆循陰器而行於足，陽明之血氣盛則下毛美長，血氣少則無毛，足指少肉而善寒，少陽之血氣盛則脛毛美長，外踝毛堅而厚，太陽之血氣盛則跟肉滿而踵堅，血氣少則跟瘦而善轉筋。手三陽之上者，亦行於頭，陽明之經，其榮髭也，少陽之經，其榮眉也，太陽之經，其榮須也，血氣盛則美而長，血氣少則惡而短。三經之下者，皆循臂臑而行於手，血氣盛則掌肉充滿而溫，血氣少則掌瘦以寒，陽明之血氣盛則腋下之毛美，少陽之血氣少則手瘦而多脈。知皮毛則知經脈，知經脈則知臟腑，表裡一氣，內外合符，察微洞幽，不逾跡象，此亦精義入神之事也。</p>

<h1>卷二</h1>

<h2>五色解</h2>
<p>上工望而知之，中工問而知之，下工切而知之。六十一難：望而知之謂之神，聞而知之謂之聖，問而知之謂之工，切而知之謂之巧。神聖工巧，優劣懸殊，故四診之中，首推望色。</p>
<p>四十九難：肝主色，自入為青，入心為赤，入脾為黃，入肺為白，入腎為黑。五色者，五臟之氣所發，故五臟在中，上結五官，外現五色。肝官於目，心官於舌，脾官於口，肺官於鼻，腎官於耳。病生五臟，則色現五官，《靈樞·五閱五使》：肝病者眥青，心病者舌短顴赤，脾病者唇黃，肺病者喘息鼻張，腎病者顴與顏黑，《靈樞·五色》：青黑為痛，黃赤為熱，白為寒。</p>
<p>五官之中，尤重明堂，明堂骨高以起，平以直，潤澤以清，真色以致，病色不見，則五臟安和，壯盛無疾，骨陷色夭，則五臟不安，諸病乃作。不第五臟，凡六腑、四肢、百節，病則色徵於面，按部而發。《靈樞·五色》：五臟次於中央，六腑挾其兩側，首面上於闕庭，王宮在於下極。庭者，首面也，闕上者，咽喉也，闕中者，肺也，下極者，心也，直下者，肝也，肝左者，膽也，下者，脾也，方上者，胃也，中央者，大腸也，挾大腸者，腎也，當腎者，臍也，面王以上者，小腸也，面王以下者，膀胱子處也，此臟腑之現於面部者也。顴者，肩也，顴後者，臂也，臂下者，手也，目內眥上者，膺乳也，挾繩而上者，背也，循牙車以下者，股也，中央者，膝也，膝以下者，脛也，當脛以下者，足也，巨分者，股里也，巨屈者，膝臏也，此肢節之現於面部者也。</p>
<p>左右殊方，男女異位。浮澤為外，沉濁為內，察其浮沉，以知淺深，察其澤夭，以觀成敗，察其散摶，以知遠近。視色上下，以知病處，其色上行者，病益甚，其色下行，如雲徹散者，病方已，色從外走內者，病從外走內，色從內走外者，病從內走外。其相乘制也，腎乘心，心先病，腎為應。他皆如是也。</p>
<p>《素問·玉機真臟論》：形氣相得，謂之可治，色澤以浮，謂之易已，形氣相失，謂之難治，色夭不澤，謂之難已。「三部九候論」：五臟已敗，其色必夭，夭則死矣。《靈樞·本神》：心怵惕思慮則傷神，神傷則恐懼自失，破䐃脫肉，毛悴色夭，死於冬。脾盛怒而不解則傷意，意傷則悗亂，四肢不舉，毛悴色夭，死於春。肝悲哀動中則傷魂，魂傷則狂妄不精，陰縮而筋攣，筋骨不舉，毛悴色夭，死於秋。肺喜樂無極則傷魄，魄傷則狂，意不存人，皮革焦，毛悴色夭，死於夏。腎憂愁而不止則傷志，志傷則喜忘其前言，腰脊不可以俯仰，毛悴色夭，死於季夏。</p>
<p>五臟之外，兼審經脈。「診要經終論」：太陽之脈其終也，戴眼，反折，瘛瘲，其色白，絕汗乃出，出則死矣。少陽終者，百節皆縱，目睘絕系，絕系一日半死，其死也，色先青白，乃死矣。陽明終者，口目動作，善驚，妄言，色黃，其上下之經盛而不行則終矣。少陰終者，面黑，齒長而垢，腹脹閉，上下不通而終矣。太陰終者，腹脹閉，不得息，善噫善嘔，嘔則逆，逆則面赤，不逆則上下不通，面黑，皮毛焦而終矣。厥陰終者，中熱，嗌乾，善溺，心煩，甚則舌卷卵上縮而終矣。此十二經之終也。《靈樞·經脈》：手太陰氣絕則皮毛焦，太陰者，行氣溫於皮毛，皮毛焦則津液去，皮節傷，爪枯毛折，毛折者，毛先死，丙篤丁死，火勝金也。手少陰氣絕則脈不通，脈不通則血不流，血不流則色不澤，其面黑如漆柴者，血先死，壬篤癸死，水勝火也。足太陰氣絕則脈不榮其唇舌，唇舌者，肌肉之本也，脈不榮則肌肉軟卻，舌萎，人中滿，人中滿則唇反，唇反者，肉先死，甲篤乙死，木勝土也。足少陰氣絕則骨枯，少陰者，伏行而濡於骨髓，骨髓不濡，則肉不著骨，骨肉不相親，則肉軟而卻，故齒長而垢，發無潤澤，發無潤澤者，骨先死，戊篤己死，土勝水也。足厥陰氣絕則筋絕，筋者，聚於陰器而絡於舌本，脈弗榮則筋急，引卵與舌，唇青舌卷卵縮，則筋先死，庚篤辛死，金勝木也。五陰氣俱絕則目系轉，轉則目運，目運者，志先死，志先死，則遠一日半死矣。六陽氣俱絕則陰與陽相離，離則腠理發泄，絕汗乃出，大如貫珠，轉出不流，旦占夕死，夕占旦死矣。</p>
<p>經脈之外，兼察絡脈。經脈十二者，伏行分肉之間，深而不見，其常見者，手太陰過外踝之上，無所隱故也。諸脈之浮而常見者，皆絡脈也。凡診絡脈，青則寒且痛，赤則有熱。胃中寒，手魚之絡多青矣，胃中有熱，魚際絡赤，其暴黑者，留久痹也，其有赤有黑有青者，寒熱氣也，其青短者，少氣也。《靈樞·論疾診尺》：耳間青脈起者，掣痛。「平人氣象論」：臂多青脈，曰脫血。「經絡論」：經有常色而絡無常變也，陰絡之色應其經，陽絡之色變無常，隨四時而行也，寒多則凝澀，凝澀則青黑，熱多則淖澤，淖澤則黃赤也。</p>
<p>經脈之外，兼觀眸子。「脈要精微論」：精明五色者，氣之華也，赤欲如白裹珠，不欲如赭，白欲如鵝羽，不欲如鹽，青欲如蒼璧之澤，不欲如藍，黃欲如羅裹雄黃，不欲如黃土，黑欲如重漆色，不欲如地蒼。夫精明者，所以別白黑，觀長短，以白為黑，以長為短，如是則精衰，精衰則神敗，壽命不久矣。「三部九候論」：目匡陷者死，神敗故也。「五臟生成論」：凡相五色之奇脈，面黃目青，面黃目赤，面黃目白，面黃目黑者，皆不死也。面青目赤，面赤目白，面青目黑，面黑目白，面赤目青，皆死也。「論疾診尺」：目赤色者病在心，白在肺，青在肝，黃在脾，黑在腎。黃色不可名者，病在胸中。診目痛，赤脈從上下者，太陽病，從下上者，陽明病，從外走內者，少陽病。診寒熱瘰癧，赤脈上下至瞳子，見一脈，一歲死，見一脈半，一歲半死，見二脈，二歲死，見二脈半，二歲半死，見三脈，三歲死。「四時氣」曰：觀其色，察其目，知其散復者，視其目色，以知病之存亡也。</p>
<p>蓋色者，臟腑經絡之外榮，一病見則一色應。《素問·評熱病論》：諸有水者，微腫先見於目下也。《靈樞·水脹》：水始起也，目窠上微腫，如新臥起之狀，腹脹，身皆大，大與膚脹等也。「論疾診尺」：目痛而色微黃、齒垢黃，爪甲上黃，黃疸也。《靈樞·五色》：男子色在於面王，為小腹痛，下為卵痛，其圜直為莖痛，高為本，下為首。女子色在於面王，為膀胱子處之病，散為痛，摶為聚。赤色見於顴，大如拇指，病雖小愈，必卒死。黑色出於庭，大如拇指，必不病而卒死。《大要》以浮澤為生，沉夭為死。「五臟生成論」：青如翠羽者生，赤如雞冠者生，黃如蟹腹者生，白如豚膏者生，黑如烏羽者生，此五色之見生也。青如草茲者死，赤如衃血者死，黃如枳實者死，黑如炲者死，白如枯骨者死，此五色之見死也。凡精神之舒慘，氣血之通塞，無不徵之於色，病色一見，則上工一望而知。子長謂越人飲上池而見五臟，非解者之言矣。</p>

<h2>五聲解</h2>
<p>《素問·三部九候論》：五色微診，可以目察，五臟相音，可以意識。聲者，氣之所發，氣者，肺之所司，《關尹子》：金堅故實為五聲也。「六節臟象論」：五氣入鼻，藏於心肺，上使五色修明，音聲能彰。「五臟別論」：心肺有病，鼻為之不利。《靈樞·本神》：肺氣虛則鼻塞不利，少氣，實則喘喝，胸盈仰息。故肺病則見之於氣，氣病則見之於聲。然五臟皆有氣，則五臟皆有聲，氣司於肺，而傳於五臟，則為五氣，發於五臟，則為五音，聞聲而五音以辨，則五臟攸分矣。</p>
<p>四十九難：肺主聲，入肝為呼，入心為言，入脾為歌，入腎為呻，自入為哭。蓋人秉五氣，而生五臟，五氣所發，是謂五聲。肝秉木氣，在音為角，在志為怒，在聲為呼。心秉火氣，在音為徵，在志為喜，在聲為笑。脾秉土氣，在音為宮，在志為憂，在聲為歌。肺秉金氣，在音為商，在志為悲，在聲為哭。腎秉水氣，在音為羽，在志為恐，在聲為呻。「宣明五氣論」：五氣所病，心為噫，肺為咳，肝為語，脾為吞，腎為欠為嚏，胃為氣逆，為噦為恐。《靈樞·經脈》：足陽明病則洒洒惡寒，苦呻數欠。足太陰病則嘔，胃脘痛，腹脹善噫。足少陰病則飢不欲食，咳唾則有血，喝喝而喘。足少陽病則口苦，善太息，面微有塵，體無膏澤。「陰陽別論」：二陽一陰發病，主驚駭，背痛，善噫，若欠，名曰風厥。《靈樞·口問》：寒氣客於胃，厥逆上下散，復出於胃，故為噫。衛氣晝行於陽，夜行於陰，行陽則寤，行陰則寐。陽者主上，陰者主下，陰氣積於下，陽氣未盡，陽引而上，陰引而下，陰陽相引，故數欠。陽氣和利，滿於心，出於鼻，故為嚏。谷入於胃，胃氣上注於肺，今有故寒氣與新穀氣俱還入於胃，新故相亂，真邪相攻，氣並相逆，復出於胃，故為噦。陰氣盛而陽氣虛，陰氣疾而陽氣徐，故為唏。憂思則心系急，心系急則氣道約，約則不利，故太息以伸出之。呻者，腎之聲也，而亦見於足陽明者，水勝而侮土也。噫者，脾之聲也，而亦見於手少陰者，子病則傳母也。《素問·脈解》：太陰所謂上走心而噫者，陰盛而上走於陽明，陽明絡屬心，故上走心為噫也。喘咳者，肺之聲也，而亦見於足少陰者，子病而累母也。二陽者，手足陽明，一陰者，手之厥陰也，肝膽主驚，此則土金木火發病皆主驚駭者，手之陽明則金勝木，足之陽明則木勝土，手之厥陰則子傳母也。欠者，腎之聲也，水滅火則見於手厥陰，侮土則見於足陽明，傳子則見於足厥陰，傳母則見於手陽明也。而諸聲之中，莫重於噦，《素問·三部九候論》：若有七診之病，其脈候亦敗者，死矣，必發噦噫，「寶命全形論」：弦絕者，其音嘶敗，木敷者，其葉發，病深者，其聲噦。</p>
<p>凡聲不離氣，氣之方升而未升則其聲怒，氣之方降而未降則其聲悲，氣之已降則其聲恐，氣之已升則其聲喜。氣壯則聲宏，氣怯則聲細，氣塞則沉鬱而不揚，氣散則浮飄而不歸，氣滑利則流暢而敏給，氣結滯則梗澀而遲發。陽氣盛則清而長，陰氣盛則濁而促。「陰陽應象論」：視喘息，聽聲音，而知所苦，良工聞聲而知病者，以氣寓於聲也。</p>
<p>然氣也，而神傳之矣。《靈樞·憂恚無言》：咽喉者，水穀之道也。喉嚨者，氣之所以上下也。會厭者，音聲之戶也。口唇者，音聲之扇也。舌者，音聲之機也。懸雍者，音聲之關也。頏顙者，分氣之所泄也。橫骨者，神氣所使，主發舌者也。厭小而薄，則開闔利，其出氣疾，厭大而厚，則開闔難，其出氣遲。而氣之所以遲疾，則神之所使也。</p>
<p>「脈要精微論」：五臟者，中之守也。中盛臟滿，聲如從窖中言，是中氣之濕也。言而微，終日乃復言者，此奪氣也。衣被不斂，言語善惡不避親疏者，此神明之亂也。得守者生，失守者死。故陽虛而見譫言，百無一生，神敗故也。</p>
<p>古之言音者，於鐸鼓琴瑟無情之物，而情達焉。聰者審音知其情狀而悉其善惡，以聲通乎氣而氣通於神也。況人以神氣之激盪發為五聲，較之絲竹金石更近自然。陸士衡《文賦》：思涉樂，其必笑，方言哀，而已嘆。《鄧析子》：體痛者，口不能不呼，心悅者，顏不能不笑。《莊子》：強哭者，雖悲不哀，強親者，雖笑不和。故語可偽也，而聲不可偽，神氣之默喻也。由五聲而知五氣，由五氣而測五神，《譚子》所謂語不靈而聲靈也。</p>

<h2>問法解</h2>
<p>《靈樞·師傳》：臨病人問所便。中暑消癉則便寒，寒中之屬則便熱。問居四診之一，中工用藥，寒熱不失，全憑此法。藥之寒熱，一違病人所便，則藥下而病增矣。但寒熱有上下，病人所便，自有正反。凡上熱下寒，口嗜寒冷，及其入腹而痛滿泄利者，便於上而不便於下也。從其上之便而違其下之不便，是為庸工。</p>
<p>其寒熱之上下，厥有外候。胃中熱則消穀，令人懸心善飢，臍以上皮熱，腸中熱則出黃如麋，臍以下皮熱。胃中寒則腹脹，腸中寒則腸鳴飧泄。胃中寒，腸中熱，則脹而不泄，胃中熱，腸中寒，則疾飢，小腹痛脹，飧泄。《靈樞·論疾診尺》：肘所獨熱者，腰以上熱。手所獨熱者，腰以下熱。肘前獨熱者，膺前熱，肘後獨熱者，肩背熱。臂中獨熱者，腰腹熱。掌中熱者，腹中熱，掌中寒者，腹中寒。凡身熱而肢寒者，土敗陽虧，不能行氣於四肢也。頭熱而足寒者，土敗火泄，不能下蟄於癸水也。朝涼而暮熱者，日夕陰盛而陽氣不藏也。發熱而惡寒者，表閉經鬱而陽氣不達也。陽郁不發，則生外寒，外寒者，容有內熱，陽泄不歸，則生外熱，外熱者，多有內寒。此臟腑寒熱之外候也。</p>
<p>問其身上之寒熱，問其飲食所便之寒熱，參之則無微不彰矣。飲食者，臟腑所消受也。脾以濕土主令，胃從燥金化氣，燥濕均平，則脾升而善消，胃降而善受。食而不飢者，能受不能消也，飢而不食者，能消不能受也。喜吞乾燥者，水旺而土濕也，嗜啖滋潤者，火盛而土燥也。食宿不能化者，太陰之濕增也，食停而不消者，陽明之燥減也。早食而困倦者，陽衰而濕旺也，晚飯而脹滿者，陰盛而燥虛也。水穀下咽而胸膈壅塞者，胃逆而不降也，飲食入胃而臍腹鬱悶者，脾陷而不升也。胃逆而甲木上遏，則胸脅生痛，脾陷而乙木下抑，則臍肋作痛。甲木刑胃，則生嘔吐，嘔吐者，胃逆而不受也，乙木賊脾，則生泄利，泄利者，脾陷而不消也。</p>
<p>水之難化，較甚於谷。水穀消磨，化而為氣，上歸肺部，氣降津生，由經絡而滲膀胱，是為小便。水注於前，則谷傳於後，而大便堅硬。陽衰土濕，但能化谷，不能化水，水穀併入於二腸，故大便利而小便澀。木性上達，水盛土濕，脾氣下陷，抑乙木升達之性，鬱怒衝突，則生痛脹，沖而莫達，則下決穀道，而為溏泄。小便之利，木泄之也，水入二腸，而不入膀胱，故乙木下泄，但能開其穀道，不能開其水道，水道不通，短澀而黃赤者，土濕木陷而不能泄也。淋瀝之家，小便偏澀，噎膈之家，大便偏塞，雖溺色紅濁，糞粒堅小，而實緣脾土濕寒，木鬱不能疏泄，郁陷而生風熱，傳於下竅，無關於中焦也。</p>
<p>庚桑子：人鬱則為病。中氣堙塞，四維莫運，由是而蒸為五氣，瘀為五味，淫為五液，發為五聲，徵為五色，感為五情。臊者，肝之氣也，焦者，心之氣也，香者，脾之氣也，腥者，肺之氣也，腐者，腎之氣也。酸者，肝之味也，苦者，心之味也，甘者，脾之味也，辛者，肺之味也，咸者，腎之味也。淚者，肝之液也，汗者，心之液也，涎者，脾之液也，涕者，肺之液也，唾者，腎之液也。呼者，肝之聲也，笑者，心之聲也，歌者，脾之聲也，哭者，肺之聲也，呻者，腎之聲也。青者，肝之色也，赤者，心之色也，黃者，脾之色也，白者，肺之色也。黑者，腎之色也。怒者，肝之情也，喜者，心之情也，憂者，脾之情也，悲者，肺之情也，恐者，腎之情也。</p>
<p>寤寐者，陰陽之動靜也。衛氣晝行於六經，則陽動而為寤，夜行於五臟，則陰靜而為寐。而衛氣之出入，司之中氣，陽衰土濕，陽明不降，則衛氣升逆，而廢眠睡。衛秉金氣，其性收斂，收斂失政而少陽不蟄，則膽木虛飄而生驚恐。虛勞之家，驚悸不寐者，土敗而陽泄也。</p>
<p>痛癢者，氣血之鬱塞也。經絡壅滯，氣阻而不行則為痛，行而不暢則為癢。內外感傷諸病，筋脈痛楚而皮膚瘙癢者，皆經氣之閉痹也。</p>
<p>一證之見，必有至理，內而五臟六腑，外而四肢九竅，凡寒熱痛癢，飲食寤寐，聲色臭味，情志形神之類，質問詳悉，合而審焉，病如洞垣矣。問法在於善解，解極其徹，則問致其詳，不解者，不能問也。</p>

<h3>診法解</h3>
<p>《素問·脈要精微論》：診法常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，故乃可診有過之脈。</p>
<p>上古診有三法，一則三部九候，以診周身，一則氣口人迎，以候陰陽，一則但診氣口，後世之所宗也。「三部九候論」：人有三部，部有三候，三候者，有天有地有人也。上部天，兩額之動脈，足少陽之頷厭。上部地，兩頰之動脈，足陽明之地倉、大迎。上部人，耳前之動脈。手少陽之和髎。中部天，手太陰也，太淵、經渠，即寸口之動脈。中部地，手陽明也，合谷，在大指次指歧骨之間。中部人，手少陰也。神門，在臂內後廉，掌後銳骨之間。下部天，足厥陰也，五里，在毛際外，羊矢下一寸陷中。女子取太衝，在大指本節後二寸陷中。下部地，足少陰也，太谿，在內踝後，跟骨上陷中。下部人，足太陰也。箕門，在五里下，魚腹上。胃氣則候於陽明之衝陽，在足跗上，即仲景所謂趺陽也。下部之天以候肝，地以候腎，人以候脾胃之氣。中部之天以候肺，地以候胸中之氣，人以候心。上部之天以候頭角之氣，地以候口齒之氣，人以候耳目之氣。察九候獨小者病，獨大者病，獨疾者病，獨遲者病，獨熱者病，獨寒者病，獨陷下者病，所謂七診也。七診雖見，九候不從者不死。若有七診之病，其脈候亦敗者死。三部九候皆相失者死。中部乍數乍疏者死。九候之脈，皆沉細弦絕者為陰，以夜半死，躁盛喘數者為陽，以日中死。「氣交變論」：歲木太過，風氣流行，脾土受邪，衝陽絕，死不治。歲火太過，炎暑流行，肺金受邪，太淵絕，死不治。歲土太過，雨濕流行，腎水受邪，太谿絕，死不治。歲金大過，燥氣流行，肝木受邪，太衝絕，死不治。歲水太過，寒氣流行，心火受邪，神門絕，死不治。是皆三部九候之法也。</p>
<p>氣口者，手太陰之經，魚際下之動脈，人迎者，足陽明之經，結喉旁之動脈。氣口，臟脈，臟陰盛則氣口大於人迎，虛則小於人迎，人迎，腑脈，腑陽盛則人迎大於寸口，虛則小於寸口。《靈樞·九針十二原》：氣口候陰，人迎候陽，陽明行氣於三陽，故以之候表，太陰行氣於三陰，故以之候里。《靈樞·禁服》：寸口主中，人迎主外，春夏人迎微大，秋冬寸口微大，如是者，命曰平人。人迎大一倍於寸口，病在足少陽，一倍而躁，在手少陽。人迎二倍，病在足太陽，二倍而躁，在手太陽。人迎三倍，病在足陽明，三倍而躁，在手陽明。盛則為熱，虛則為寒，緊則痛痹，代則乍甚乍間。人迎四倍，且大且數，名曰溢陽，溢陽為外格，死不治。寸口大一倍於人迎，病在足厥陰，一倍而躁，在手心主。寸口二倍，病在足少陰，二倍而躁，在手少陰。寸口三倍，病在足太陰，三倍而躁，在手太陰。盛則脹滿寒中食不化，虛則熱中出麋少氣溺色變，緊則痛痹，代則乍痛乍止。寸口四倍，且大且數，名曰溢陰，溢陰為內關，死不治。《靈樞·經脈》：人迎與脈口俱盛四倍以上，名曰關格，關格者，與之短期。《靈樞·五色》：人迎盛堅者，傷於寒，氣口盛堅者，傷於食，以傷食則臟鬱於里，故氣口盛堅，傷寒則經鬱於表，故人迎盛堅也。</p>
<p>但診氣口者，《靈樞·經脈》：經脈者，常不可見也，其虛實也，以氣口知之。緣肺朝百脈，十二經之脈氣，皆朝宗於肺脈。寸口者，脈之大會，一日一夜，脈行五十度，平旦而復會於寸口。肺主氣，經脈之動者，肺氣鼓之也。肺氣行於十二經中，故十二經之盛衰，悉見於寸口，此氣口所以獨為五臟主也。寸口在魚際之分，關上在太淵之分，尺中在經渠之分，即三部九候論所謂中部天也。「脈要精微論」：尺內兩旁，則季脅也，尺外以候腎，尺裡以候腹。中附上，左外以候肝，內以候膈，右外以候胃，內以候脾，兩關部也。上附上，右外以候肺，內以候胸中，左外以候心，內以候膻中，兩寸部也。前以候前，後以候後。上竟上者，胸喉中事也，下竟下者，少腹腰股膝脛足中事也。關前為陽，關後為陰，陽者主上，陰者主下。凡脈氣上行者，病見於上，脈氣下行者，病見於下。手之三陽，自手走頭，大小腸位居至下而脈則行於至上，故與心肺同候於兩寸。庸醫乃欲候大小腸於兩尺，不通之至！越人十難一脈十變之義，十八難尺寸三部之法，氣口脈法之祖也，下士不解，是以妄作如此。</p>
<p>氣口之中，又有但診尺脈之法，《靈樞》垂「論疾診尺」之篇，曰：審其尺之緩急小大滑澀，肉之堅脆，而病形定矣。蓋觀上可以知下，察下可以知上，所謂善調寸者，不待於尺，善調尺者，不待於寸也。</p>
<p>人與天地相參也，天地之氣，四時迭運，人之脈氣，與之息息相應，毫髮不爽，故春之脈升，夏之脈浮，秋之脈降，冬之脈沉。「宣明五氣」：肝脈弦，心脈鉤，脾脈代，肺脈毛，腎脈石。「脈要精微論」：天地之變，陰陽之應，彼春之暖為夏之暑，彼秋之忿為冬之怒。四變之動，脈與之上下，以春應中規，夏應中矩，秋應中衡，冬應中權。是故冬至四十五日，陽氣微上，陰氣微下，夏至四十五日，陰氣微上，陽氣微下。陰陽有時，與脈為期，期而相失，知脈所分，分之有期，故知死時。微妙在脈，不可不察，察之有紀，從陰陽始，始之有經，從五行生，生之有度，四時為宜。春日浮，如魚之遊在波，夏日在膚，泛泛乎萬物有餘，秋日下膚，蟄蟲將去，冬日在骨，蟄蟲周密，君子居室。「玉機真臟論」：春脈如弦，春脈者，肝也，東方木也，萬物之所以始生也，其氣來軟弱輕虛而滑，端直以長，故曰弦。反此者病，其氣來實而強，此謂太過，病在外，其氣來不實而微，此謂不及，病在中。太過則令人善怒，忽忽眩冒而顛疾，不及則令人胸痛引背，下則兩脅胠滿。夏脈如鉤，夏脈者，心也，南方火也，萬物之所以盛長也，其氣來盛去衰，故曰鉤。反此者病，其氣來盛去亦盛，此謂太過，病在外，其氣來不盛去反盛，此謂不及，病在中。太過則令人身熱而膚痛，為浸淫，其不及則令人煩心，上見咳唾，下為氣泄。秋脈如浮，秋脈者，肺也，西方金也，萬物之所以收成也，其氣來輕虛以浮，來急去散，故曰浮。反此者病，其氣來毛而中央堅，兩旁虛，此謂太過，病在外，其氣來毛而微，此謂不及，病在中。太過則令人逆氣而背痛，慍慍然，不及則令人喘，呼吸少氣而咳，上氣見血，下聞病音。冬脈如營，冬脈者，腎也，北方水也，萬物之所以合藏也，其氣來沉以搏，故曰營。反此者病，其氣來如彈石者，此謂太過，病在外，其去如數者，此謂不及，病在中。太過則令人解㑊，脊脈痛而少氣不欲言，其不及則令人心懸如病飢，䏚中清，脊中痛，少腹滿，小便變。脾脈者，土也，孤臟以灌四旁者也，善者不可見，惡者可見。其來如水之流者，此謂太過，病在外，如烏之喙者，此謂不及，病在中。太過則令人四肢不舉，不及則令人九竅不通，名曰重強。「平人氣象論」：平人之常氣稟於胃，胃者，平人之常氣也，人無胃氣曰逆，逆者死。春胃微弦曰平，弦多胃少曰肝病，但弦無胃曰死，胃而有毛曰秋病，毛甚曰今病，臟真散於肝，肝藏筋膜之氣也。夏胃微鉤曰平，鉤多胃少曰心病，但鉤無胃曰死，胃而有石曰冬病，石甚曰今病，臟真通於心，心藏血脈之氣也。長夏胃微軟弱曰平，弱多胃少曰脾病，但代無胃曰死，代乃脾之平脈，言隨四時更代，與代止不同也。軟弱有石曰冬病，石甚曰今病，臟真濡於脾，脾藏肌肉之氣也。秋胃微毛曰平，毛多胃少曰肺病，但毛無胃曰死，毛而有弦曰春病，弦甚曰今病，臟真高於肺，以行營衛陰陽也。冬胃微石曰平，石多胃少曰腎病，但石無胃曰死，石而有鉤曰夏病，鉤甚曰今病，臟真下於腎，腎藏骨髓之氣也。平心脈來，累累如連珠，如循琅玕，曰心平，夏以胃氣為本。病心脈來，喘喘連屬，其中微曲，曰心病。死心脈來，前曲後居，如操帶鈞，曰心死。平肺脈來，厭厭聶聶，如落榆英，曰肺平，秋以胃氣為本。病肺脈來，不上不下，如循雞羽，曰肺病。死肺脈來，如物之浮，如風吹毛，曰肺死。平肝脈來，軟弱招招，如揭長竿末梢，曰肝平，春以胃氣為本。病肝脈來，盈實而滑，如循長竿，曰肝病。死肝脈來，急益勁，如新張弓弦，曰肝死。平脾脈來，和柔相離，如雞踐地，曰脾平，長夏以胃氣為本。病脾脈來，實而盈數，如雞舉足，曰脾病。死脾脈來，銳堅如烏之喙，如鳥之距，如屋之漏，如水之流，曰脾死。平腎脈來，喘喘累累如鉤，按之而堅，曰腎平，冬以胃氣為本。病腎脈來，如引葛，按之益堅，曰腎病。死腎脈來，發如奪索，辟辟如彈石，曰腎死。諸死脈，皆真臟也。</p>
<p>「玉機真臟論」：大骨枯槁，大肉陷下，胸中氣滿，喘息不便，其氣動形，期六月死，真臟脈見，乃與之期日。大骨枯槁，大肉陷下，胸中氣滿，喘息不便，內痛引肩項，期一月死，真臟見，乃與之期日。大骨枯槁，大肉陷下，胸中氣滿，喘息不便，內痛引肩項，身熱，脫肉破㿉，真臟見，十日之內死。大骨枯槁，大肉陷下，肩髓內消，動作並衰，真臟未見，期一歲死，見其真臟，乃與之期日。大骨枯槁，大肉陷下，胸中氣滿，心中不便，腹內痛引肩項，身熱，破㿉脫肉，目匡陷，真臟見，目不見人，立死，其見人者，至其所不勝之時則死。其脈絕不來，若人一呼五六至，其形肉不脫，真臟雖不見，猶死也。所謂不勝之時者，肝見庚辛死，心見壬癸死，脾見甲乙死，肺見丙丁死，腎見戊己死，是謂真臟見皆死。</p>
<p>人以水穀為本，故人絕水穀則死，脈無胃氣亦死。所謂無胃氣者，但得真臟脈，不見胃氣也。所謂真臟脈者，真肝脈至，中外急，如循刀刃責責然，如按琴瑟弦，色青白不澤，毛折，乃死。真心脈至，堅而搏，如循薏苡子累累然，色赤黑不澤，毛折，乃死。真肺脈至，大而虛，如以毛羽中人膚，色白赤不澤，毛折，乃死。真脾脈至，弱而乍數乍疏，色黃青不澤，毛折，乃死。真腎脈至，搏而絕，如指彈石辟辟然，色黑黃不澤，毛折，乃死。諸真臟脈見者，皆死不治也。五臟者，皆稟氣於胃，胃者，五臟之本也。臟氣者，不能自致於手太陰，各以其時自胃而至於手太陰。邪氣勝者，精氣衰也，病甚者，胃氣不能與之俱至於手太陰，故真臟之氣獨見，獨見者，病勝臟也，故曰死。</p>
<p>遲速者，陰陽自然之性也。人一呼脈再動，一吸脈再動，呼吸定息，脈五動，閏以太息，脈六動，命曰平人，平人者，不病也。陽性急，陰性緩，陽泄則脈數，陰凝則脈遲，數則為熱，遲則為寒。十四難：一呼三至曰離經，一呼四至曰奪精，一呼五至曰死，一呼六至曰命經，此至之脈也。一呼一至曰離經，二呼一至曰奪精，三呼一至曰死，四呼一至曰命絕，此損之脈也。</p>
<p>浮沉者，陰陽自然之體也。心肺俱浮，腎肝俱沉，浮而大數者，心也，浮而短澀者，肺也，沉而實堅者，腎也，沉而牢長者，肝也。五難：初持脈，如三菽之重，與皮毛相得者，肺部也，如六菽之重，與血脈相得者，心部也，如九菽之重，與肌肉相得者，脾部也，如十二菽之重，與筋平者，肝部也，按之至骨，舉指來疾者，腎部也。陽主外，陰主內，陽泄則脈浮，陰凝則脈沉，浮為在表，沉為在裡。病甚者，沉細夜加，浮大晝加，沉細夜死，浮大晝死。陰陽之理，彼此互根，陽位於上而根於下，陰位於下而根於上，陽盛者，下侵陰位，而見沉數，不可以為陰旺，陰盛者，上侵陽位，而見浮數，不可以為陽旺，是當參伍而盡變也。</p>
<p>代者，數疏之不調也。《靈樞·根結》：一日一夜五十營，以營五臟之精，不應數者，名曰狂生。五十動而不一代者，五臟皆受氣，四十動一代者，一臟無氣，三十動一代者，二臟無氣，二十動一代者，三臟無氣，十動一代者，四臟無氣，不滿十動一代者，五臟無氣，與之短期，與之短期者，乍疏乍數也。乍疏乍數者，代更之象，與「宣明五氣」之言代不同也。</p>
<p>呼吸者，氣之所以升降也。四難：呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味也，其脈在中。呼則氣升於心肺，吸則氣降於腎肝，一呼一吸，經脈五動之間，即可以候五臟，氣不至於一臟，則脈必代矣。十一難：吸者隨陰入，呼者因陽出，今吸不能至腎，至肝而還，故知一臟無氣者，腎氣先盡也。由腎而肝，由肝而脾，由脾而心，由心而肺，可類推也。氣盡則死，其死期之遲速不應者，倉公所謂安穀者，則過期，不安穀者，不及期也。</p>
<p>尺寸者，陰陽之定位也。男女殊稟，陰陽不同，受氣既別，診法亦異。十九難：男脈在關上，女脈在關下。男子尺脈恆弱，寸脈恆盛，女子尺脈恆盛，寸脈恆弱，是其常也。故有男子之平脈，女得之而病作，女子之病脈，男得之而疾瘳，此秉賦之定數也。</p>

<h3>醫方解</h3>
<p>醫自岐伯立言，仲景立法，百世之師也。後此惟思邈真人祖述仲景《金匱》之法，作《千金》之方，不失古聖之源。其餘方書數百種，言則荒唐而訛謬，法則怪妄而差池。上自東漢以來，下自昭代以還，著作如林，竟無一線微通者。</p>
<p>今之庸愚，習用諸方，如四物、八珍、七寶、六味、歸脾、補心滋腎養營之類，紛紜錯出，不可勝數。是皆無知妄作，誤人性命，而下士奉行不替。百世不生聖人，千里不產賢士，何凌夷以至於斯耶？</p>
<p>驚悸之證，其在傷寒，皆得之汗多陽亡。惟少陽之證，相火鬱發，或以汗下傷陰，甲木枯槁，內賊戊土，乃有小建中、炙甘草證，重用芍藥、生地，以清相火。至於內傷虛勞，驚悸不寐，俱緣水寒土濕，神魂不藏，無相火上旺，而宜清潤者。即其千百之中偶而有之，而究其脾腎，終是濕寒。嚴用和貿昧而造歸脾之方，以補心血，薛立齋又有丹皮梔子加味之法，張景岳、趙養葵、高鼓峰、呂用晦更增地黃、芍藥之輩。復有無名下士，作天王補心丹，肆用一派陰涼。群兒醉夢不醒，成此千秋殺運，可恨極矣！</p>
<p>夜熱之證，因陰旺土濕，肺胃不降，君相失根，二火升泄。錢仲陽乃作六味湯丸，以滋陰虧，薛氏推廣其義，以治男女勞傷，各種雜病，張氏、趙氏、高氏、呂氏祖述而發揚之。遂成海內惡風，致令生靈夭札，死於地黃者最多，其何忍乎！下至二地、二冬、龜板、黃柏諸法，不可縷悉。</p>
<p>究其源流，瀉火之論，發於劉河間，補陰之說，倡於朱丹溪。二悍作俑，群凶助虐，莫此為甚！</p>
<p>足之三陽，自頭走足，凡胸脅壅滿，上熱燔蒸，皆足陽明少陽之不降也。李東垣乃作補中益氣之方，以升麻、柴胡升膽胃之陽，謬矣，而當歸、黃耆，亦復支離無當，薛氏輩效尤而習用之，遂成不刊之法。</p>
<p>風寒之證，仲景之法備矣。陶節庵妄作九味羌活之法，雜亂無律，而俗子遵行，天下同符，棄圭璧而寶砆碔，那可解也。</p>
<p>諸如此類，連床充棟，更僕難明。昔徐世績少年作無賴賊，逢人則殺，檢閱古今方書，何其無賴賊之多而仁人君子之少也，設使賈太傅尚在，不知如何痛哭矣！</p>

<h1>卷三</h1>

<h2>齁喘解</h2>
<p>趙彥威，病齁喘，秋冬病作，嚏噴涕流，壅嗽發喘，咽喉閉塞，呼吸不通，腹脹嘔吐，得後泄失氣稍差，脹微則病發略減。少時素患鼻淵。二十餘歲，初秋晚食後偶因驚恐，遂成此病，自是不敢晚飯。嗣後凡夜被風寒，或晝逢陰雨，或日炅飽啖，其病即發，發則二三日，或八九日、二十餘日方愈。病十二年矣。</p>
<p>此其素稟肺氣不清。肺旺於秋，主皮毛而司收斂，肺氣清降，則皮毛緻密，風寒不傷。肺氣鬱升，皮毛蒸泄，涼風一襲，腠理閉斂，肺氣膹塞，逆沖鼻竅，鼻竅窄狹，奔氣迫促，出之不及，故嚏噴而下，如陽郁陰中，激而為雷。肺氣遏阻，爰生嗽喘。津液堙瘀，乃化痰涕。</p>
<p>此肺氣上逆之病也，而肺逆之原，則在於胃。脾以太陰而主升，胃以陽明而主降，「經脈別論」：脾氣散精，上歸於肺，是脾之升也，「逆調論」：胃者，六腑之海，其氣下行，是胃之降也。蓋脾以陰體而抱陽氣，陽動則升，胃以陽體而含陰精，陰靜則降，脾升則肝氣亦升，故乙木不陷，胃降則肺氣亦降，故辛金不逆，胃氣不降，肺無下行之路，是以逆也。</p>
<p>肺胃不降，病在上焦，而究其根本，則緣中氣之虛。中氣者，陰陽升降之樞軸也。蓋太陰以濕土主令，陽明從燥金化氣，中氣在太陰陽明之間，和平無虧，則陰不偏盛而陽不偏衰，燥不偏虛而濕不偏長，故脾胃轉運，升降無阻。中氣虛損，陰旺濕滋，堙郁不運，則脾不上升而清氣常陷，胃不下降而濁氣常逆，自然之理也。</p>
<p>飲食入胃，脾土溫燥，而後能化。陰盛土濕，水穀不消，中焦壅滿，是以作脹。脹則脾氣更陷而胃氣更逆，一遭風寒，閉其皮毛，肺氣鬱遏，內無下達之路，外無升泄之孔，是以沖逆咽喉，而病嗽喘。雨降則濕動，日暮則陰隆，病所以發也。日昃陽衰，陰停不化，中氣一郁，舊證立作，故不敢晚飯也。吐泄去其陳宿，中脘沖虛，升降續復，故病差也。是其虛在中氣，而其起病之時，則因木邪，以五情之發，在腎為恐，在膽為驚。膽以甲木而化相火，隨戊土下行而溫癸水，相火蟄於癸水之中，腎水溫暖則不恐，膽木根深則不驚。平日濕旺胃逆，相火之下蟄不秘，一遇非常之事，動其神志，膽木上拔而驚生，腎水下淪而恐作。己土侮於寒水，故脾氣下陷，戊土賊於甲木，故胃氣上逆。初因驚恐而病成者，其故如是。「奇病論」：驚則氣上，「舉痛論」：恐則氣下，上下反常，故升降倒置，此致病之原委也。</p>
<p>法當治中以培升降之用，燥土而撥轉運之機，所謂發千鉤之彎者，由一寸之機，轉萬斛之舟者，由一樳之木也。</p>
<p>南齊·褚澄有言：上病治下。凡病水火分離，下寒上熱，不清心火，而溫腎水，較之庸工，頗為得矣，而總不如治中。中者，坎陽離陰交媾之媒，此義得之《靈》、《素》，讀唐宋以後書，未易生茲妙悟也。</p>
<p>齁證即傷風之重者。感冒之初，內有飲食，外有風寒，法宜理中而兼發表。表解後，溫燥水土，絕其寒濕之根。蓋飲食未消，感襲風寒，濕土堙瘀，肺氣不降，風閉皮毛，內郁莫泄，表裡皆病，故內外兼醫。</p>
<p>彥威病，用燥土疏木、溫中降濁之劑，茯苓、甘草、乾薑、細辛、橘皮、半夏、桂枝、砂仁，十餘劑，不再作。</p>

<h2>吐血解</h2>
<p>錢叔玉，初秋農事過勞，痰嗽唾血，紫黑成塊，一吐數碗，吐之不及，上溢鼻孔，肌膚生麻，頭痛寒熱，渴燥食減，出汗遺精，驚恐善忘，通夜不瞑，胸腹滯痛，氣逆作喘，朝夕倚枕側坐，身欹血遂上湧，天寒風冷，或飲食稍涼，吐血更甚，右腳熱腫作痛，大便溏滑。</p>
<p>此緣中焦陽敗，水陷火飛。肺主氣，肝主血，而氣根於心，血原於腎。《管子》：南方曰日，其氣為熱，熱生火與氣，北方曰月，其氣為寒，寒生水與血。心火清降，則化肺氣，腎水溫升，則化肝血。血升而化火，故水不下注，氣降而化水，故火不上炎。氣降而不至於陷泄者，血溫而升之也，血升而不至於逆流者，氣清而降之也。水木不能溫升，則下病遺泄，火金不能清降，則上病吐血，理有固然，不足怪也。</p>
<p>水陷火飛，是謂未濟，而交濟水火，其職在中。中者，四維之樞也，中氣運則脾升而胃降，脾土左升，肝血上行，而化心火，陽氣發生，故精不下走，胃土右降，肺氣下行，而化腎水，陰氣收斂，故血不上溢，《子華子》所謂上水而下火，二氣升降，以相濟也。中氣不運，肝脾下陷而肺胃上逆，水火分離，冰炭不交，此遺精吐血之原也。後世庸工，於亡血失精之理，茫乎不解，或用清涼，或事斂澀，陽敗土鬱，中氣不轉，火愈飛而水愈陷，是拯溺而錘之以石，救火而投之以薪也，不極不止耳。</p>
<p>氣藏於金，血藏於木，而溯厥由來，總化於土。以水穀入胃，中氣健旺，泌糟粕而蒸津液，化其精微，上注於肺，肺氣宣揚而灑布之。剽悍者，化而為陽，行於脈外，命曰衛氣，《靈樞·決氣》：上焦開發，宣五穀味，熏膚，充身，澤毛，若霧露之溉，是謂氣也。氣者，水之源也。精專者，化而為陰，行於脈中，命曰營血，《靈樞·決氣》：中焦受氣取汁，變化而赤；是謂血也。血者，火之本也。勞苦動其中氣，絡脈傷則血溢，《靈樞·百病始生》：卒然多食飲則腸滿，起居不節，用力過度則絡脈傷，陰絡傷則血內溢，血內溢則後血，陽絡傷則血外溢，血外溢則衄血。中氣未敗，一衄即止，中氣虧敗，肺胃常逆，則血之上溢，遂成熟路，是以橫流不已。衄出於鼻，來自肺臟，吐出於口，來自胃腑，血之別道上溢者，來歷不同，而其由於肺胃之不降一也。其一溢而即吐者，血色紅鮮，其離經瘀停，陳宿腐敗，而後吐者，則成塊而紫黑也。</p>
<p>肺氣下降，而生腎水，而腎水之中，又含肺氣，越人八難所謂腎間動氣，呼吸之門也。平人呼則氣升於肺金，吸則氣降於腎水，息息歸根，故嗽喘不作。胃土上逆，肺失收降之令，氣不歸水，而胸膈壅遏，故沖激而生嗽喘也。肺胃不降，則膽火不得下行，金火燔蒸，故發熱汗出，而風寒外束，衛氣不達，是以惡寒。陽衰土濕，水穀不消，而食寒飲冷，愈難腐化，中焦壅滿，肺胃更逆，故血來倍多。風閉皮毛，肺腑郁閼，故嗽喘增加而血來益甚。肺氣堙瘀，津液凝結，故痰涎淫生。陽氣靜藏則為寐，肺胃不降，陽氣升泄，蟄藏失政，故夜不成寐。膽火虛浮，不根於水，心神浮散，不藏於精，故善驚而善忘。君相皆升，寒水獨沉，腎志淪陷，是以恐也。脾胃凝滯，中氣不能四達，故經絡閉塞而為麻，緣衛氣壅塞，郁衝於汗孔之中，不得暢行，故籟籟麻生，如萬針錯雜而攢簇也。陽氣下降，先至右足，陽氣不降，經脈淤滯，故右腳腫痛，營衛梗阻，故鬱而生熱。不降於足，而逆沖頭上，故頭痛也。總之，中氣不運，則升降之源塞，故火炎於上，水流於下，木陷於左，金逆於右，而四維皆病。</p>
<p>法宜補中而燥土，升陷而降逆，陽回濕去，穀神來蘇，中樞已運，四維自旋，隨推而轉，因蕩而還，水火金木，皆得其處，而安其常。然後陰營其臟，陽固其腑，氣充而不盈，血滿而不溢，鱗飛羽伏，各復其太和之天已。</p>
<p>叔玉病失血年餘，已數十日不臥。自來醫方，失血、遺精、驚悸、嗽喘，皆用清潤之法，未有知其陽虧濕旺者，百不一生，千秋不悟，既非徹識，安能洞詳。用燥土降逆、溫中清上之品，茯苓、甘草、半夏、乾薑、丹皮、牡蠣、桂枝、白芍，月餘病愈。</p>
<p>庸工誤解本草，謂血證最忌半夏，由其不知醫理也。</p>

<h2>驚悸解</h2>
<p>陳夢周，患作酸噯氣，頭暈耳鳴，春季膈熱，火升頭痛，手麻驚悸，不寐善忘，左乳下跳動不息，每午後膝冷病作，雞鳴膝溫而輕，平旦膝暖而差。服燥土疏木之藥，飽食甘寢，但胸有火塊，遊移上下左右，時時衝擊微痛，心跳未已。初秋膝冷又發，項脊兩肩作痛，面顴浮腫，噴嚏時來，四肢拘急，心跳連臍，遍身筋脈亦動。八月後睡醒口苦，舌根乾燥，每夜雞鳴，膝冷病作，午後膝溫而輕，日夕膝暖而差。病來計粒而食，飲啖稍過，脹悶不消，滯氣後泄，略啖瓜果，便覺腹痛，食粥則吐稀痰，晚食更多。</p>
<p>此緣土濕不運，陽氣莫藏。心藏神，腎藏精，人之虛靈善悟者，神之發也，睹記不忘者，精之藏也。而精交於神，神歸於精，則火不上炎，水不下潤，是謂既濟。精不交神，則心神飛越，不能知來，神不歸精，則腎精馳走，不能藏往，此善忘之由也。精根於神，及其右降而為金，則魄具而精生，神根於精，及其左升而為木，則魂成而神化，《子華子》所謂精秉於金火而氣諧於水木也。今火炎於上，則金被其克而不降，水潤於下，則木失其政而不升矣。</p>
<p>木自東昇。《尚書·洪範》：木曰曲直，曲直作酸，曲者，木氣之不直也。木性直遂升達，發榮滋暢，故不作酸，曲折抑鬱，不得直上，則盤塞地下，而克脾土，土困不能消化水穀，故變稼穡甘味，腐而為酸。土主五味，其味為甘，一得木氣賊傷，則甘化而為酸也。以五行之氣，陽降陰升，則水旺而為寒，陽升陰降，則火旺而為熱，陰方升而陽方降，則金旺而為涼，陽方升而陰方降，則木旺而為溫。陽之動，始於溫而盛於暑，陰之靜，始於涼而盛於寒。物惟溫暖而加覆蓋，氣不宣揚則善酸，方熱既涼已寒，不作此味。譬之釜水，薪火未燃，是水之寒，火燃未沸，是木之溫，爐紅湯沸，是火之熱，薪盡火熄，是金之涼。後世庸工，以酸為熱，豈有鼎沸而羹酸者乎。</p>
<p>悸者，乙木之郁沖，驚者，甲木之浮宕，乙木之枝葉敷舒於上，甲木之根本栽培於下，則驚悸不生。乙木不能直升，枝葉上郁，肝氣振搖則善悸，甲木不能順降，根本下拔，膽氣虛飄則善驚。</p>
<p>頭耳者，少陽膽經之所絡也。甲木下降，則濁氣退藏，上竅清空，甲木上逆，濁氣升塞，故頭暈而耳鳴，甚則壅遏而頭痛也。膽氣上溢則口苦，「奇病論」：肝者，中之將也，取決於膽，咽為之使，此人數謀慮不決，故膽氣上溢而口為之苦。膽木化氣於相火，相火上炎，故作苦也。相火下蟄則水溫，甲木失根，火泄水寒，是以膝冷。相火逆升，是以膈熱。甲木衝擊，是以胸痛也。</p>
<p>金自西降。《尚書·洪範》：金曰從革，從革作辛，革者，金氣之不從也。金性從順降斂，清涼肅靜，故不作辛，革礙郁遏，不得從下，上被火刑，則生辛味。肺主氣而司皮毛，肺氣鬱升，收令不遂，皮毛疏泄，感襲風寒，則生嚏噴。以肺主呼吸，而呼吸之氣，直達腎水，故腎水之中，亦有肺氣，越人八難所謂腎間動氣，呼吸之門也。吸隨陰入，呼因陽出，肺心為陽，腎肝為陰，四難：呼出心與肺，吸入腎與肝。一呼自腎而至肺，一吸自肺而至腎，其息深深，故噴嚏不作。肺氣不降，而皮毛不闔，積鬱莫泄，逆沖鼻竅，鼻竅迫狹，出之不及，故作噴嚏，如藥在炮中，激而為響也。肺氣逆行，橫塞肩脊，故作痛，壅閼頭面，故作腫也。</p>
<p>左右者，陰陽之道路也。木陷於左，金逆於右，陰陽之道路塞矣，而不可徒求之左右，必責中氣之虛。胃為陽土，脾為陰土，陽土順降，陰土逆升。脾升則平旦而後乙木左升，胃降則日夕而後辛金右降，木升則陽氣發生而善寤，金降則陽氣收藏而善寐。脾土不升，則木鬱於左而清晝欲寢，胃土不降，則金鬱於右而終夜不睡。寤寐者，衛氣所司，衛氣晝行於陽，夜行於陰，陽盡則寐，陰盡則寤，隨中氣而出入也。胃土不降，收氣失政，衛氣不得入於陰，常留於陽，留於陽則陽氣盛，不得入於陰則陰氣虛，故目不瞑。陰氣虛者，陰中之陽氣虛，非精血之虧損也。蓋陽動而陰靜，靜則睡，動則醒，衛不入陰，陽泄而失藏，浮動無歸，故不能寐。孤陰無陽，故曰陰氣虛也。胃土不降，由於太陰之濕，《靈樞·邪客》有半夏秫米之法，半夏降逆，秫米瀉濕，秫米即高粱米，善瀉濕氣。深中病情。仲景而後，此義不傳矣。</p>
<p>肝藏魂，肺藏魄，《靈樞·本神》：隨神往來謂之魂，並精出入謂之魄。以神發於魂，肝之魂生則胎心神，故魂含子氣而知來，精產於魄，肺之魄結則孕腎精，故魄含子氣而藏往。胃土上逆，肺金不降，陰魄浮升，不能並腎精下蟄，故往事遺忘而不藏也。</p>
<p>中氣運轉，脾陽升動，則飲食磨化，濕旺脾郁，飲食不化，故過啖則脹。《子華子》：流水之不腐，以其逝也，水穀陳宿，脾土鬱陷，抑遏乙木，不得發揚，故瘀生酸味。肝氣不達，而時欲發舒，故當臍而跳。中氣不轉，胸腹悶塞，故上噯而下泄也。　左乳下者，胃之虛里，《素問·平人氣象》：胃之大絡，名曰虛里，貫膈絡肺，出於左乳下，其動應衣，宗氣泄也。宗氣在胸，降於少腹，平人喘息，動見少腹者，宗氣之升降也。胃氣既逆，肺無降路，宗氣不能下行，故橫衝於虛里，失其收斂降蟄之性，泄而不藏，故曰泄也。此與心下之悸動異委同源，木不得直升，則動在心下，金不得順降，則動在乳下，總緣胃氣之上壅也。肺胃升填，收令莫行，甲木莫由下達，相火渫越，是膝冷髓寒之本。陽衰土濕，再以薄粥助之，故氣滯痰生。得之日晚濕旺之時，故痰涎愈多。四肢秉氣於胃，脾病不能為胃行氣於四肢，故拘急而生麻。寒水侮土，中氣愈滯，故膝冷則病作。</p>
<p>陽氣春升而秋降，陰氣春降而秋升，一日之中，亦分四時，其陰陽升降，與一歲相同。《靈樞·根結》：發於春夏，陰氣少，陽氣多，發於秋冬，陽氣少，陰氣多。春陽上升，則地下之陰多，故陽升之時，午後陰升而膝冷，秋陽下降，則地下之陽多，故陽降之時，雞鳴陰降而膝冷。《素問·厥論》：陰氣起於五指之裡，陽脈者，集於膝下而聚於膝上，故陰氣盛則從五指至膝上寒，其寒也，不從外，皆從內也。膝臏者，溪谷之會，機關之室，精液之所朝夕也。寒水歸壑，流注關節，故膝臏寒冷，所謂腎有邪而氣流於兩膕也。</p>
<p>治法惟宜燥土。土居二氣之中，以治四維，在陰而陰，在陽而陽，隨四季而遞變。土旺則上清下溫，升左降右，稍助其推遷，而南北互位，東西貿區，靜與陰同閉，動與陽俱開，成然寐，遽然覺，經目而諷於口，過耳而識於心，泰山崩而色不變，迅雷震而心不搖，神宇泰定，諸病俱消矣。</p>
<p>驚悸之證，陽敗土濕，後世庸工，以為陰虧，歸脾、補心諸方，謬妄極矣。夢周平日強記善睡，涉秋病作，服歸脾、六味諸藥，大損眠食，惕然驚悸，通夜不寐。年逾六十，中氣衰弱，而常服滋潤，伐其微陽，神思荒浪，欲作阜落國人，其老矣，何以堪此哉！</p>
<p>《宋書》：謝晦與檀道濟將發滎陽，晦其夕悚動不眠，道濟就寢便熟。何其膽壯如是？是宜瀉濕降逆，以培甲木，甲木根深，自當寵辱不驚。</p>
<p>世之醫士，未窮夢覺之關，神浮於上而散以遠志，陽敗於中而伐以地冬，火滅於下而瀉以梔柏，彼直真夢者矣，何以使夢者之覺乎。悲夫！晉唐而後，世閱人而為世者多矣，但守癊奧之螢燭，不仰天庭之白日，是使長夜杳杳，千秋不寤。己且未覺，而偏能覺人？設遇傷寒少陰善寐之證，又能使人長睡不覺矣，可勝嘆哉！</p>

<h2>悲恐解</h2>
<p>邵熙伯，病驚悸悲憂，二十年中，病凡四發。初發四月而愈，後發愈期漸晚，或至數年。發則數月不食不寢，飯至疑有毒藥，絕粒不嘗，便數遺精，多欲好淫，膝冷心涼，欠伸太息，憂愁思慮，驚懼悲惋，常恐見殺，屍碎體分，逢人求救，屈膝哀懇，獨處則泣下沾衣。時或自剄幾死，使人守之，靜夜磨笄自刺，室中錐刀繩索之類，盡為收藏，乃私服大黃，瀉下求死。凡諸病象，每發皆同。</p>
<p>此緣火敗土濕，金水俱旺。肝之氣為風，心之氣為熱，脾之氣為濕，肺之氣為燥，腎之氣為寒，此五臟之氣也。肝之志為怒，心之志為喜，脾之志為憂，肺之志為悲，腎之志為恐，此五臟之志也。凡一臟之氣偏盛，則一臟之志偏見，悲者燥金之氣盛，恐者寒水之氣盛，憂思者濕土之氣盛也。肝木主生，肺金主殺，木囚火滅，金燥無制，則殺機常動，「方盛衰論」：肺氣盛則夢見斬血籍籍。人於醒後，神氣浮動，臟真之盛衰，不能自覺，寐而和氣寧謐，靜中獨覺，故臟中之盛衰，形而為夢，《譚子》所謂醒不靈而夢靈也。夢中覺者，盛未極也，盛之極則不夢而亦覺之。金旺木枯，但覺殺氣之烈，而無生意之萌，肢骸分裂，恍在目前，故時欲自剄，冀得完屍而死。金旺則欲哭，是以悲涕流連也。《金匱》：婦人臟燥，喜悲傷欲哭，是其肺金之燥也。金為水母，燥金生其寒水，是以恐作。蓋人之五志，神氣升達則為喜，將升未升，喜之弗遂，則鬱勃而為怒，精氣淪陷則為恐，將陷未陷，恐之欲生，則淒涼而為悲。木火衰而金水旺，故有悲恐而無喜怒，水寒則火滅，金燥則木傷故也。</p>
<p>腎主蟄藏，肝主疏泄，火泄水寒，不能溫養肝木，而水泛土濕，陷遏乙木升達之氣，生髮不遂，則愈欲流泄，其性如是，遇夜半陽生，宗筋一舉，則夢交接。木能疏泄而水不蟄藏，是以精遺。溫氣常陷，不得升，達而化君火，是以好淫。總緣生氣之失政也。</p>
<p>精藏於腎，水藏於膀胱，「脈要精微論」：水泉不止者，是膀胱不藏也。膀胱之藏泄，司於三焦，《靈樞·本輸》：三焦者，入絡膀胱，約下焦，實則閉癃，虛則遺溺。然水道之通塞，雖在三焦，而其疏泄之權，實在乙木，以相火秘藏，腎水溫暖，則肝氣升達，膀胱清利，疏泄適中，而小便常調，相火不秘，泄於膀胱，腎寒不能生木，郁陷而欲疏泄，火旺則膀胱熱澀，泄而不通，火衰則膀胱寒滑，泄而不藏。人之大恐而便溺俱下者，水寒火敗而木氣陷泄也。</p>
<p>膽以甲木而化相火，亦與三焦同歸癸水，根深蒂固，則驚駭不生，三焦陷泄，甲木逆飄，膽氣虛浮，故生驚駭。相火者，君火之佐，相火敗而君火熄，寒水上凌，故病心涼，「四氣調神論」：逆夏氣則太陽不長，心氣內洞，夏為寒變。以夏暑之月，而熱火變為寒灰，至於三時，則霜雪不能喻其冷，湯火不能使之溫矣。君火失職，陽不歸陰，則衛氣常浮，夜不成寐。人之衛氣，日行陽經二十五度，夜行陰臟二十五度，其行於陽也，常以平旦從足太陽而出於內眥，其行於陰也，常以日暮從足少陰而入於陰分。衛氣入陰，則火交於水，神歸於精，一身之陽氣，悉退於至陰之中，群動皆息，是以能寐，衛不入陰，魂神飛宕，故終夜不寢。衛氣入陰，原於胃氣右降，金水收藏，胃土不降，收藏失令，是以衛浮而不入也。</p>
<p>陽明胃氣，下行則開，上行則閉，脾胃為倉稟之官，人之食下者，倉稟開也，胃土上逆，倉稟不開，故食不下咽，下咽則嘔。胃土不降，全因於濕。火敗不能生土，寒水氾濫，入土化濕，金旺木枯，土邪無制。濕土司氣，而風木不承，中氣於是不運，故升降倒行，胃土上逆而廢飲食，脾土下陷而善憂思也。濕土在中，水冷金涼，木衰火熄，變生諸證，奇詭異常，而實非怪病。</p>
<p>治法以燥土為主，而溫暖金水，長養木火，使恐化為怒，悲轉為喜，則臟氣平均，情志調和矣。</p>
<p>《呂氏春秋》：齊王疾痏，灸瘢也，謂灸後病癲。使人之宋迎文摯。文摯至，謂太子曰：王之疾，必可已也。雖然，王之疾已，則必殺摯也。太子曰：何故？文摯曰：非怒王則疾不可治，王怒則摯必死。太子頓首強請曰：苟已王之疾，臣與臣之母以死爭之於王，王必倖臣與臣之母，願先生勿患也。文摯曰：諾。請以死為王。與太子期而將往，不當者三，齊王固已怒矣。文摯至，不解履登床，履王衣。問王之疾，王怒而不與言。文摯因出，辭以重王怒。王怒而起，疾乃遂已。王大怒，將生烹文摯。太子與王后爭之而不能得，文摯遂烹焉。</p>
<p>《東漢書》：一郡守病，華佗以為盛怒則差，乃多受其貨而不加功。無何棄去，又留書罵之。太守果大怒，使人追殺之。不及，因瞋恚，吐黑血數升而愈。</p>
<p>熙伯病與此同。蓋木虛不能制土，土之濕盛則善思，金燥則善悲，水寒則善恐，水寒不能生木故不怒，木枯不能孕火故不喜。怒則木旺而剋土，生火而剋金，土位之下，風氣承之，則土燥而剋水，故病可已。熙伯病先發時，將愈必有怒色，經所謂思傷脾，怒勝思者，至理不爽也。第其膽破魂亡，百計激之，絕不敢怒。用燥土培木、溫金暖水之劑，十餘日後，小有不快，怒氣勃然，遂瘳。</p>

<h2>飧泄解</h2>
<p>崔季長，素病腿膝寒冷，日暮環臍腹痛，脹滿作泄，陽痿肩寒，服燥土疏木藥愈。夏初童試，勞倦病發，吐黑血數日，飲食不甘，脹滿吐泄，腹中鬱熱，積塊墳起，泄則氣塊宣鳴而下，小便紅澀，日夕臍腹痛連左脅，往來寒熱，作酸噯氣，壅嗽生痰，四肢酸涼，膝股如冰，時常倦睡，夜臥膕中作痛，仰臥沖氣上奔，左側衝氣橫塞，滿腹劇痛，惟右脅著席。</p>
<p>此緣水寒土滯，金木結轖。人身臍居上下之間，太陰陽明之中氣也。中氣盛則運，衰則滯，運則清虛，衰則脹塞，《關尹子》所謂實即虛而虛即實也。飲食入胃，脾土消磨，中氣運行，是以不脹。水穀腐化，精華升而渣滓降，津液滲於膀胱，渣滓傳於二陽，便溺分途，故前不至淋而後不至泄。陽衰土濕，不能蒸水化氣，而與渣滓並注二腸，水漬濕旺，脾氣鬱陷，抑遏乙木，不得升達，木氣鬱沖，故作痛脹。木性升泄，遏於濕土之下，衝突擊撞，不得上達，則下走二腸，以泄積鬱。水在二腸，不在膀胱，故乙木沖決，膀胱閉塞而大腸泄利也。《靈樞·口問》：中氣不足，溲便為之變，正此義也。蓋脾胃者，倉廩之官，「脈要精微論」：倉廩不藏者，是門戶不要也。腎開竅於二陰，是為胃之關門。腎以癸水居土之下，心以丁火居土之上，而水交於火則濁氣下降而上不熱，火交於水則清氣上升而下不寒。「陰陽應象論」：寒氣生濁，熱氣生清。火不上熱，則濁生而右降，水不下寒，則清生而左升，濁氣在下，故上不脹，清氣在上，故下不泄。而水火之交，全恃乎土，土者如車之輪，如戶之樞，四象皆賴以為推遷。《子華子》：陽之正氣，其色赤，陰之正氣，其色黑，上赤下黑，左青右白，黃潛於中宮，而五運流轉，故有輪樞之象焉。輪樞運則火下炎而濁降，水上潤而清升，是以坎離獨斡乎中氣。土虛則鳥飛而上，魚動而下，火則上炎，水則下注，濁氣在上，則生䐜脹，清氣在下，則生飧泄。</p>
<p>脹泄者，太陰脾土之濕盛也。土生於火而敗於水，火旺則陽明盛而濕亦化燥，水旺則太陰盛而燥亦化濕，燥則運行，濕則滯塞，運行則谷消而便堅，滯塞則完穀而後泄。「調經論」：志有餘則腹脹飧泄，腎藏志而氣寒，志有餘者，寒水氾濫，入土化濕，木鬱風動，是以脹泄並作也。</p>
<p>太陽以寒水主令，手太陽化氣於寒水，故丁火常熱而丙火常清，少陰以君火主令，足少陰化氣於君火，故癸水常溫而壬水常寒，今癸水反寒而壬水反熱，此以下焦之火泄也。《靈樞·本輸》：三焦者，足太陽少陰之所將，太陽之別也，並太陽之正，入絡膀胱，約下焦，實則閉癃，虛則遺溺。三焦之火，秘於腎臟，則腑清而水利，泄於膀胱，則腑熱而溺澀。以水性蟄藏，木性疏泄，相火內秘，癸水溫暖，此乙木生髮之根。火敗水寒，乙木不生，益以濕土陷遏，生髮不遂，而愈欲疏泄，故相火離根，泄於膀胱。乙木常陷，則腎精不藏，泄而不通，則小便不利。此癸水寒滑，壬水熱澀之原也。</p>
<p>三焦之火，隨太陽寒水下行，秘於癸水而不泄者，寒水蟄藏之力也。手之六經，皆行於手，惟三焦之下腧在足太陽之前，出於膕中，下貫腨腸，而入於外踝，腎得此火，癸水溫暖，故骨髓不寒，二十四難所謂少陰冬脈伏行而溫於骨髓也，火泄髓寒，則腿足不溫。膝臏者，溪谷之會，寒水下流，溪谷凝冱，故膝冷倍常也。足太陽入於膕之外廉，脈動委陽，足少陽出於膕之內廉，脈動陰谷，經絡寒冱，血澀而筋急，夜臥寒增而氣滯，故相引而痛也。</p>
<p>寒水不生乙木，筋脈失榮，故病陽痿。肝主筋而脈循於陰器，前陰者，筋之聚，故名宗筋。木生於水而長於土，「痿論」：陽明者，五臟六腑之海，主潤宗筋。陰陽總宗筋之會，會於氣街，而陽明為之長。足之三陰、陽明、少陽、沖、任、督、蹺九脈同會於宗筋而獨長於陽明者，以陽明為多氣多血之經。氣以煦之，血以濡之，筋脈滋榮，則堅硬不痿。水寒土濕，生長失政，木氣鬱槁，故陽痿而囊縮也。</p>
<p>寒熱者，陰陽勝復之故，屬在少陽。少陽居二陽三陰之中，半表半裡，午後陰長陽消，陰盛而侵陽分，表閉而寒來，陽復而侵陰分，里鬱而熱來，勝復迭乘，則往來寒熱。凡病一見寒熱，是為外陽內陰二氣不和，表裡陰盛，則但寒而不熱，表裡陽盛，則但熱而不寒，里陰表陽均勢相爭，則見寒熱。從此陰勝陽奔，乃至惟有惡寒。抑三陰而扶二陽，當為預計也。</p>
<p>肝膽不調，總由土濕，土濕則脾陷而胃逆，脾陷則乙木不升而鬱衝於下，胃逆則甲木不降而鬱衝於上。木位於左，故痛連左脅。肝膽左郁，故氣結而作酸。土困木賊，故臍腹作痛也。　胃逆則肺無降路，刑于膽火，而病嗽咳。</p>
<p>肺司氣而主聲，《關尹子》：金堅故實為五聲。以肺之為體，孔竅玲瓏，清氣飄揚，沖而不盈，呼之則氣升於顛，吸之則氣降於踵，息息歸根，孔竅無阻，是以不嗽。肺氣逆升，衝於孔竅，竅阻氣塞，則嗽而出之，故戛然而鳴，「生氣通天論」所謂秋傷於濕，上逆而咳者，正謂此也。</p>
<p>人身之氣，足陽明化氣於燥金，手太陰化氣於濕土者，常也。燥勝其濕，則肺金收降，濕勝其燥，則肺金鬱升，今手太陰化己土之濕，足陽明不化庚金之燥，胃土上逆而濕氣堙塞，則津液瘀濁而化痰涎，日見其多耳。土困於中，而四維皆病。</p>
<p>治法：燥土暖水，疏木達郁，清金降逆。水溫土燥，則土氣迴旋，木升金降，痰消而嗽止，水利而便調矣。</p>
<p>季長病泄半載，為庸醫誤藥，已至危急。用溫中燥土、暖水達木之方，腹中滯氣，一啜而散，陽氣浸淫，見於眉宇之間，數劑泄止。</p>
<p>庸工以脹泄為脾氣之散，用五味、木瓜、山莫、芍藥諸品，中氣鬱結，而再服酸收，是益其源而障其流也。至於十全大補一方，真俗腐之妄作，人每用以治泄利，不通之至！</p>

<h2>腸澼解</h2>
<p>田西山，鄉試旅中飲冷露臥，因病下痢，日百餘次，少腹痛墜，繞臍氣塊如石，數道上攻，左脅更甚，痛叫不已，胸膈若燒，肛門如烙，小便熱澀，氣街大筋突起，跳動鼓指，發手熱氣下於兩股，狀如湯沃，陽縮囊縐，蜷臥膝冷，譫語離魂，不食數日矣。</p>
<p>此其中焦寒濕，上下俱熱。常人胃土右降，則甘飲食，脾土左升，則化水穀，胃降則甲木不逆，脾升則乙木不陷，木氣無郁，故上下衝和，痛脹不生。飲食寒冷，傷其脾陽，不能蒸水化氣，水穀並下，注於二腸，水氣浸淫，脾土濕陷，抑遏乙木，不能升達，肝氣鬱沖，故生痛脹。木以升泄為性，既不上達，則下決二陰，以泄糞溺，水在二腸，不在膀胱，故小便不開而大便不闔。水去土燥，肝脾升運，泄利自止，脾陽陷敗，寒濕愈增，則泄利不止，遂便膿血。蓋乙木直升，糟粕順下，隧道無阻，故脂血不傷，乙木鬱陷，滯氣梗塞，糟粕不能順行，脂血摧剝，與之俱下，是以作痛。君火胎於乙木，溫氣陷遏，不得上化君火，故生下熱。濕邪淫蒸，脂血腐化，是以成膿。乙木陷於大腸，沉墜不升，是以後重。久而脂血傷殘，刮跡而去，侵及臟腑，中氣潰敗，是以死也。</p>
<p>陽明以戊土而化燥金，金燥則能收降，故陽明之氣，善於下行，太陰之濕勝其陽明之燥，則脾既下陷，胃亦上逆。胃逆則甲木無下行之路，甲木化氣於相火，相火上炎，是以胸膈煩熱。君相同氣，二火燔騰，心神擾亂，是以譫語。膽木失根，相火鬱升，營血不謐，是以魂離。膽位於左，經絡痞塞，是以結梗，下行無路，是以逆沖而上也。</p>
<p>氣衝者，陽明動脈，在毛際之旁，腿腹之交。陽明之氣，不遂其下行之性，故氣衝　即氣街。郁蓄，而生跳動。《靈樞·百病始生》：虛邪之中人也，其著於伏沖之脈，揣之應手而動，發手則熱氣下於兩股，如湯沃之狀。「痿論」：衝脈者，經脈之海，主滲灌溪谷，與陽明合於宗筋。陰陽總宗筋之會，會於氣街，而陽明為之長。陽明多氣多血，而衝脈又與諸筋總會陽明之氣街，穴腧充滿，故氣街之動脈常大。伏沖即衝脈之深而在脊者，風寒襲於衝脈，郁其經氣，盛滿莫容，走陽明而歸氣街，是以跳動鼓指也。是其上熱在於少陽，下熱在於厥陰，而上下鬱熱之根，則由己土之濕，土濕之故，則由癸水之寒。</p>
<p>後世庸工以為痢證無寒，不知其熱並不在於中焦，況三焦皆寒、上下無熱者亦復不少，而以硝黃重瀉胃氣，濕寒愈增，輕則生鼓脹之病，重則死矣。大凡新秋病痢，皆暑夏生冷之所傷，俗醫以為暑邪，而用寒攻，無有不誤者也。</p>
<p>治法當瀉土濕而疏木鬱，其熱盛者，涼行其滯，其寒盛者，溫行其結，令其脾燥肝升，凝結通達，瘀清腐掃，脂血調和，則痛墜全瘳，膿血弗下矣。至於歷代醫書痢證諸方，荒唐不經，未足深辨也。</p>
<p>西山平素尚儉，量腹而食，度身而衣，病不服藥，已至危劇。診之尚可救挽，而自分不起，意欲勿藥。謂半月以來，神魂迷離，精魄荒散，竊覺病勢已革，盧扁復生，恐難為力。君且莫喧，以擾余心。僕與西山童稚交善，解而慰之曰：今盧扁在此，公未見知耳。若得靈藥一匙，即可返魂，勿恐。用燥土溫中、行閼散滯、清膽達木之方，強而飲之。一服而差，遂不再服。</p>
<p>月餘扶杖而行，善飢善後，食入俄頃即下，問何以故？僕聞語大笑：公少服藥數劑，此成洞風矣。《史·倉公傳》：陽虛侯相趙章、齊淳于司馬，皆嘗病此，公脾土未調，土鬱風旺，疏泄水穀，腸胃空洞，風木不達，中氣難復也。問：此可無患恐之？曰：趙章之病，倉公以為法五日死，公尚無子，那可惜此小費，為後世嗤耶！曰：淳于司馬何以不死？吾命在天，不在吾子之手！言之再四不聽，如此數月，後竟無恙，但右手戰麻，寫字艱難，每為考試所苦，終不服藥也。</p>

<h2>脾胃解</h2>
<p>業師於子蘧，司鐸金鄉，錄證來問：自來飲食不多，今止三分之一，稍多即傷食泄利，魚肉絕不思食，食棗數枚即發熱，食柿餅半枚即欲泄，陪客茶多，晚即不寐，不食晚飯十餘年矣。飲食調適，終日不唾，若晚飲杯酒，略服溫燥，則痰唾黏聯，長如唾絲，睡即涎流，大便成粒，每晚將睡，必思登溷，小便短少，夜醒必溺，五更水穀消化，此時更覺溺多，晨起必渴，飲食亦甘。平素氣稟如是，往時自制加減四君丸，黃耆、白朮、茯苓、橘皮、甘草、當歸，遇脾胃寒濕，便服一二次，甚覺有效。向來不敢飲酒及食諸燥熱之物，六月食涼粉，霍亂嘔吐並作，八月六日食黍糕半枚，午後省牲，在明倫堂嘔吐原物，自此飯後常覺氣逆欲吐，左脅貼乳，上衝喉下，隱隱似痛，半日食消，方才氣順。服四君丸，發熱面赤，耳後如火，兩眥痠痛，胸腹燥渴，啖黃梨半枚而愈，是後每日啖梨乃安。往日一食便泄，今止大便潤濕，不似從前結若羊矢而已。吾恐飯後欲吐，將成反胃證，則可慮矣。前時腰痛腿重，此際已愈，但坐臥少久，不能遽起，是老年常景，非關病也。但有還少仙方，自當更妙，但恐不能耳。偶服六味丸，即覺腹中寒滯，服八味三劑後，更覺燥熱，耳後如火。或謂附桂少故，非也，吾臟腑大概寒熱俱不受，須不寒不熱、不燥不濕、平中帶補之劑乃可。此意與縣中醫士言之，為吾制兔絲丸，服之甚不佳，而四君丸平日最效，今便燥熱不受，大抵漸老漸衰，甚有血虛火起之意。當用何藥治之？人還即寄方來。</p>
<p>詳觀平日舊證：自來飲食不多，漸老漸減，稍多即傷食作泄，此脾氣之弱也。脾為太陰濕土，陽明之燥足以濟太陰之濕，則脾陽升運，水穀消磨，濕旺燥衰，中氣莫運，多食不能消化，故病泄利。肉食更難消磨，過時陳宿，反傷胃氣，是以不思食。食棗生熱者，甘緩之性，善滯中氣，土滯則脾陷而胃逆，胃逆而甲木不降，相火上炎，是以生熱，非大棗之性熱也。食柿餅作泄者，寒敗脾陽也。茶多不寐者，陽氣收藏則為寐，收藏之權，雖關金水降蟄，而金水降蟄之原，實由戊土之降，茶多滋其土濕，陽明不降，金水失收藏之政，故神魂升泄而不寐也。不食晚飯者，日暮陽衰，不能腐化耳。晚飲杯酒，痰生涎流者，酒助土濕，濕動胃逆，津液堙郁，則化痰涎，下行無路，是以逆行也。大便成粒，硬若羊矢者，下焦陰旺，腸竅約結，糟粕傳送，不能順下，下而輒閉，蓄積既多，乃復破隘而下，下而又閉，零星續下，不相聯屬，大腸以燥金主令，而手足太陰，濕旺津瘀，但化痰涎，不能下潤大腸，是以燥結成丸，枯澀難下，實非下焦之陽盛也。晚思登溷者，陽衰濕動，肝脾郁陷也。夜多小便者，子半陽生，水穀消化也。便多水利土燥，故思飲而甘食。四君丸，朮、甘補中，茯苓瀉濕，橘皮利肺，當歸滋肝，與臟氣頗合，是以能效。近食涼粉吐泄，寒濕傷脾。黍糕膠黏難化，原物湧吐。陽明胃氣，本自下行，屢嘔氣逆，因而上行，飯後中焦鬱滿，胃氣不下，是以欲嘔。胃逆則膽無降路，亦遂上衝，膽位於左，故左脅沖喉，隱隱而痛。食消而膽胃皆降，故氣順也。平時頗宜四君丸，今乃燥熱不受，非藥性之熱，乃中氣之愈衰也。歸、耆，朮、甘，壅滯不行，茯苓、橘皮，不能開其鬱塞，君相之火，不得歸根，遂生上熱，與食棗發熱之故，理相同也。梨以甘寒疏利之性，清其鬱熱，是以渴燥皆止。兔絲收斂固澀，與濕旺土鬱之證，愈為助虐，甚不宜也。八味暖水滋木，與肝腎燥寒，未為相反，但以地黃入胃，留戀濕土，濕動胃逆，則附子不能下溫癸水，而反助甲木上炎之火，耳後火起，少陽膽經絡於耳後故也，何關桂附多少乎！六味滋濕伐陽，原屬庸工妄作，更與此證相左矣。</p>
<p>法宜燥土暖水，疏木達郁，水溫土燥，木達風清，脾旺濕消，神氣漸盈，百齡易得，還少仙方，何其不能！《素問·生氣通天論》：聖人服天氣而通神明。「陰陽應象論」：能知七損八益，則耳目聰明，身體輕健，老者復壯，壯者益治。年高之人，陽衰陰旺，是以易老，若以藥物抑陰扶陽，本有還童之理，而愚味以為妄誕，此下士聞道，所以大笑也。至於素稟臟氣，雖與人別，而寒熱燥濕，一切不受，是方藥之差誤，非宜寒不受寒，宜熱不受熱也。此以腸胃柔脆，不堪毒藥，少服便效，未宜多用也。</p>
<p>十一月初，先生又錄證來問：吾十月十五生日，行香後使客紛紜，頗勞酬酢，飯畢腰痛，脊骨兩旁，筋急如扯，舊病復發。又因初五六日每晚飲酒數杯，濕熱鬱積，遂成此證。十六日大勢已差，尚能回拜客，進縣署。誤服八味丸，腰彎不能立行，痛連脊背。乃服羌活、獨活、白朮、地黃、杜仲、甘草二劑，背痛少減，而不能行立如故。又服左歸飲加自朮、葳蕤，痛如前，且覺大便燥，腹內熱，兩膝酸熱。乃服當歸地黃飲加黃芩、梔子五分，晨起破腹兩三次，身頗輕爽，腰微能直，火氣似去，其痛乃移左胯。因往年病虐，左半傷耗，上年腿腫，亦在左畔，此時漸輕，但不及未痛前耳。今欲去黃芩、梔子，第服當歸地黃飲。昨日已服一劑，大便尚未滋潤，而脾甚覺其濕。思欲空腹服之，壓以乾物，未審何如？</p>
<p>前悉腰痛一證，已獲康愈，今又因飲酒動濕，脾土鬱陷，肝氣抑遏，盤塞腎部，而生痛楚。腎位於腰，為肝之母，子氣不能生髮，是以腰痛也。誤服八味，助其土濕，木氣更遏，是以痛劇。張景岳之左歸飲，服之脾濕愈滋，木鬱風生，而成燥熱。歸、地、梔、芩，寒濕敗脾，木鬱作泄，泄後鬱熱清利，是以微差，而肝氣益陷，故痛移左胯，實明減而暗增，非藥效也。前此已為誤用，若今後常服，土濕日滋而脾陽日敗，斷不可也。大便之燥，全緣脾濕，濕去陽回，飲食消化，精華升布，津液降灑，大腸滋潤，自然便調。倘以歸地滋濕，變結燥而為滑溏，則脾陽虧敗，為禍深矣。</p>

<h2>火逆解</h2>
<p>王文源，平日膈上壅塞，常吐清痰。冬夜心驚火發，下自足心，上自踹內，直衝心胸，胸膈痞悶，咽喉閉塞，耳鳴頭眩，氣虛心餒，四肢無力，遍身汗流，煩躁飲冷，得食稍差，小便清數，大便重墜，陰精欲流，胸腹腰脊表裡皆熱，手足獨涼。將愈則沖氣下行，漸而火降煩消，小便熱黃乃瘳。五六日、半月一作，凡腹中壅滯，或食肉稍多則發。先時足心常熱，近則溺孔亦熱。醫用六味、八味不受，病已四年矣。</p>
<p>此緣土濕胃逆，相火上炎。足少陽以甲木而化相火，自頭走足，下行而溫癸水，癸水蟄藏，相火不泄，則腎臟溫暖，而上下清和，癸水不蟄，相火升泄，下自九原，上出重霄，變清涼之境，為曦赫之域，是以煩熱而燥渴也。陽根下拔，浮越無歸，故耳鳴頭眩，擾亂不寧，以少陽經脈，自銳眥而繞頭耳也。熱蒸竅泄，是以汗流。君相同氣，心火升浮，不根腎水，故虛餒空洞，欲得穀氣。足心者，足少陰之湧泉，少陰之脈，自足心循踹內，出膕中，上絡於心，循喉嚨而挾舌本，相火泄干湧泉之下，故根起足心，自少陰腎脈逆行而上也。其足心溺孔之熱者，手少陽相火之陷也。足少陽從相火化氣，病則上逆，手少陽以相火主令，病則下陷，以足之三陽，自頭走足，其氣本降，手之三陽，自手走頭，其氣本升，降者不降而升者不升，反順為逆，是以病也。少陰主藏，手足少陽之火，秘藏癸水之中，則濁氣不逆，清氣不陷，故上熱不生，下熱不作，少陰失藏，甲木常逆，則三焦常陷，陷於少陰之經，則熱在足心，陷於太陽之腑，則熱在溺孔。《靈樞·本輸》：三焦者，足太陽少陰之所將，太陽之別也，並太陽之正，入絡膀胱，約下焦，實則閉癃，虛則遺溺，三焦之火，陷於水底，淪落湧泉之下，則不在州都之中，故膀胱寒滑而溲溺清數，是即虛則遺溺之義也。及火退病除，溺孔方熱，是相火不歸水臟，而又陷於水腑，此乃異日甲木飛騰之原也。甲木之降，機在戊土，戊土降則肺金能收，腎水善藏，戊土右轉，金水得收藏之政，此膽火所以下行也，戊土上逆，濁氣升填，肺無下行之路，收斂失政，則膽火不藏，遇飲食弗消，中氣鬱滿，胃土全逆，肺金盡革，則膽火拔根而上炎，是旋至而立應者也。其發於食肉中滿之際者，土氣堙塞，窒其四運之軸，是以胃逆而病作耳。胃腑既逆，脾臟必陷，陷遏乙木升發之氣，不得上達，必將下泄，故精欲前流而糞欲後失也。胃逆脾陷，由於土濕，而土濕之故，全因寒水之旺，土不剋水，而寒水氾濫，反得侮土，土被水漬，既濕且寒，運化之機，遲蹇失度，一得肥膩，不能消腐，凝滯愈增，則升降悉反，烏得不病耶！土旺四季，人之四肢，即歲之四季，四肢秉氣於脾胃，而寒濕在中，流注肢節，故手足厥冷，改其溫和之常也。</p>
<p>是宜燥土降逆，以蟄相火，土燥陽回，中氣旋轉，升降復職，水火歸根，君相寧謐，則膽壯而神清，驚駭不生，煩熱不作矣。</p>
<p>唐太僕王冰注《素問》，發壯水益火之言，嗣後薛立齋、趙養葵、高鼓峰、呂用晦輩祖述其說，乃以六味壯水，退膈上之熱，以八味益火，除臍下之寒。不知下寒上熱，緣於土敗，地黃滋濕伐陽，潰敗脾土，服之上熱愈增，下寒更劇，是以水益水以火益火也，土敗陽亡，則人死矣。至於今日，惡風布揚，遍滿天下，此實仁人君子之所深憂也。</p>
<p>自醫理失傳，火逆上熱之證，概謂陰虛，肆用歸地敗土，枉殺生靈。至於妖魔下鬼，乃以龜板、天冬、知母、黃柏瀉其微陽，得之立死，其禍更慘，此劉朱之遺毒也。君子不操燮理之權，以康斯世，見此群凶屠毒萬代，安能默默無言耶！</p>
<p>治文源病，用燥土降逆、暖水蟄火之法，十餘劑，不再發。</p>

<h1>卷四</h1>

<h2>消渴解</h2>
<p>吳智淵，病消渴，胸膈燥熱如焚，日飲涼水石余，溲亦石余，溲下溫熱，將畢則寒，其色白濁，魄門失氣亦涼，天寒腿膝頗冷，善食善飢，數倍其常。</p>
<p>此緣濕土遏抑，風木疏泄。心火本熱，腎水本寒，平人火不上熱、水不下寒者，以水根於火、火根於水也。水根於火，則九天之上，陽極陰生，常肅然而如秋，火根於水，則九地之下，陰極陽化，常煦然而如春。蓋陽降而化濁陰，又含陽氣，陰升而化清陽，又抱陰精，此水火交濟之常也。陰陽之升降，必由左右，左右者，陰陽之道路也。右為肺金，左為肝木，金不右降，則火逆而生上熱，木不左升，則水陷而生下寒，下寒則肝木鬱泄而善溲，上熱則肺金枯燥而善飲。而消渴之病，則獨責肝木而不責肺金，仲景《傷寒》、《金匱》：厥陰之為病，消渴。以厥陰風木，生於癸水而長於己土，水寒土濕，生長不遂，木鬱風動，疏泄失藏，則善溲溺，風燥亡津，肺金不澤，則善消渴，溲溺不止者，乙木之陷也，消渴不已者，甲木之逆也。甲木化氣於相火，與手少陽三焦並歸癸水，而約小便。《靈樞·本輸》：三焦者，入絡膀胱，約下焦，實則閉癃，虛則遺溺。手足少陽，秘藏癸水之中，則下不淋遺而上無消渴，癸水不藏，甲木上逆，則相火升炎，而病消渴，三焦下陷，則相火淪落，而病淋遺。蓋膀胱者，州都之官，津液藏焉，三焦者，決瀆之官，水道出焉，膀胱主藏，三焦主出，水善藏而火善泄，其性然也。三焦之火，秘於腎臟，則臟溫而腑清，三焦之火，泄於膀胱，則臟寒而腑熱，腑清則水利，腑熱則溺癃。而三焦之火，不無盛衰，其火盛而陷者，則水腑熱澀，其火衰而陷者，則水腑寒滑，熱澀者，實則閉癃也，寒滑者，虛則遺溺也。膀胱寒滑，藏氣失政，故多溲溺。甲木之逆，三焦之陷，則皆乙木泄之也，是以獨責之厥陰。</p>
<p>而乙木之泄，則由太陰之濕陷，陽明之燥逆也。「陰陽別論」：二陽結，謂之消。二陽者，手足陽明，手陽明以燥金主令，足陽明從令而化燥，足太陰以濕土主令，手太陰化氣而為濕，濕濟其燥，則肺胃清降而上不過飲，燥濟其濕，則肝脾溫升而下不多溲，陽明燥結於上脘，故相火燔蒸而善渴，太陰濕鬱於下脘，故風木疏泄而善溺。《金匱》：男子消渴，飲水一斗，小便一斗者，腎氣丸主之。相火在水，是為腎氣，附子補腎中陽根，召攝相火，相火蟄藏，則渴止而逆收，此反本還原之法也。地黃、丹皮，清乙木而潤風燥，澤瀉、茯苓，滲己土而退濕淫，桂枝達肝脾之遏陷，薯蕷、茱萸，斂精溺之輸泄，附子溫腎水之寒，制方精良，豪無缺欠矣。</p>
<p>然陰陽有進退，燥濕有消長，此非盡陽明之病也。消渴而水利者，燥多而濕少，當屬之陽明，消渴而溺癃者，濕多而燥少，宜屬之太陰。以土濕非旺，則風木疏泄而不藏，是以水利，土濕過甚，則風木疏泄而不通，是以溺癃。二陽結，謂之消，是陽明燥盛而水利者也，二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，是太陰濕盛而溺癃者也。蓋乙木藏血而孕丁火，脾土濕陷，木鬱風生，必病消渴。血中溫氣，化火之根，溫氣抑遏，子母感應，心火必炎。相火者，君火之佐，君相同氣，有感必應，其勢如此。病起二陽而究歸心脾者，太陰之濕盛也。心火上炎，熱甚津亡，故常燥渴，脾土下陷，濕旺木鬱，故少溲溺。肝主筋，前陰者，筋之聚，其在男子，則宗筋短縮，隱曲不利，其在女子，出經血瘀澀，月事不來，總由風木盤塞而莫能泄也。如此則宜減地黃而增丹皮，去附子而加芍藥，緣木鬱不泄，溫氣陷而生下熱，膀胱熱癃，則宜芍藥，經脈閉結，營血不流，則宜丹皮，去附子之助熱，減地黃之滋濕，藥隨病變，無容膠執也。《金匱》以八味治小便不利，是無下熱者。</p>
<p>後世庸工，或以承氣瀉火，或以六味補水，或以四物滋陰，述作相承，千秋一例，而《金匱》立法，昭若日星，何其若罔聞知也。至喻嘉言解《金匱·消渴》厥陰為病一條，以為後人從《傷寒》採入，其於《傷寒》、《金匱》，一絲不解，是又庸醫之下者矣。嘉言謂傷寒熱深厥深，與雜證不同，是襲傳經為熱之說，不通極矣。又以下消為熱，更謬。</p>
<p>經義淵微，固屬難解，仲景八味之法與岐伯二陽結義同符，特庸工不悟耳。</p>
<p>智淵病，用腎氣丸料煎湯冷飲，覆杯渴止，積年之苦遂除。</p>

<h2>氣鼓解</h2>
<p>田龍章，初秋病痢，服藥數劑，痢愈而腹脹，得食更甚，脅內氣衝作痛。用溫中散滯之方，脹消，心緒煩亂，悅怒不平。又以忿恚而發，數發之後，臍內腫脹，遂成氣鼓，喘呼不臥，溲溺艱澀，諸味俱絕，食甘稍差。</p>
<p>此緣脾土濕陷，木鬱不達。腎司二便，而糞溺之輸泄，其職在肝，陽衰土濕，脾氣鬱陷，抑遏乙木升發之氣，下衝魄門，泄其積鬱，而傳道阻梗，是以病痢。過服寒泄，傷其脾陽，痢止土敗，不能升運，木氣猶遏，故多忿怒。怒傷肝氣，賊虛脾土，肝脾郁迫，不得發舒，故清氣壅阻，而為腫脹。脾主消磨，肝主疏泄，飲食入胃，脾陽升磨，穀精上運，則化氣血，谷滓下傳，則為大便。而水之消化，全賴土燥，克以燥土，蒸而為氣，霧氣降灑，化而為水，以輸膀胱。糞溺蓄積，泄以風木之氣，水利於前，谷行於後，則後不至泄而前不至淋。水利土燥，脾升木達，清陽旋轉，腫脹所以不作也。土濕不能蒸水化氣，乃與谷滓併入二腸，水停濕旺，土陷木鬱，木氣衝決，但沖二腸而為泄利，不開膀胱而導閉癃，是以後竅滑而前竅澀。前竅不開，濕無去路，肝脾日郁，此腫脹所由作也。</p>
<p>肺主氣而行水，脾氣陷塞，胃無下行之路，則肺金逆上，不能下降而為水，霧氣堙郁，故生痰喘。氣位於上，水位於下，上不病氣鼓、下不病水脹者，氣水各得其位也，惟水逆於上，則病水脹，氣陷於下，則病氣鼓。《金匱》：腰以上腫，當發其汗，腰以下腫，當利其小便，發其汗者，使積水化氣，泄於汗孔，利其小便者，使積氣化水，泄於膀胱也。</p>
<p>膀胱通塞，司於三焦，三焦之火，隨太陽下行，溫腎水而約膀胱，虛則遺溺而不藏，實則閉澀而不通。所謂實者，三焦之火陷於膀胱也，火陷於膀胱者，肝脾之不升也，肝木下陷，鬱而生熱，傳於脾土，土木合邪，傳於膀胱，膀胱瘀熱，故小便淋澀黃赤。黃者，土色之下行，赤者，火色之下現。腎主蟄藏，三焦之火秘於腎臟，腎水暖則上生肝木，木之溫者，秉於水中之火也。肝木溫升，則化心火，肝木不升，溫氣遏陷，故生下熱。溫氣下陷，生意不遂，而愈欲疏泄，故相火失藏。</p>
<p>此宜燥土升陷，而達木氣，土燥陽升，消化水穀，水能化氣而氣復化水，下注膀胱，水道清利，濕氣滲泄，肝脾升達，腫脹自消。庸工見其小便熱澀，而以黃柏、知母清瀉膀胱之熱，脾陽更敗，濕陷益增，是拯溺而投之以石也，豈不謬與！若臟腑之中，濕旺氣結，久而不行，化生腐敗，腐敗瘀填，則用疏滌五臟之法，去其菀陳。腐敗全消，脾陽升布，則精氣動薄，神化回潏，壽命永固，長生不老，此除舊布新之法也。</p>
<p>人生於火而死於水，以陽生而陰殺也。土者，火之子而水之夫，所以制水而救火。太陰濕土，雖名剋水，而濕性易發，輒為水侮，故仲景立方，第有泄濕之論，而無補水之條。至劉朱二家，專事瀉火，而鼓脹一門，亦謂濕熱，不知濕熱之原，何由而成，此井蛙夏蟲之見耳。薛氏加減腎氣之法，地黃滋其土濕，牛膝陷其脾陽，附子不能補水中之火，反以益肝膽膀胱之熱，服之病輕者效，病重者死，非氣鼓之良法也。其減地黃、附子，增車前而倍茯苓，亦恐其滋濕而生熱，而不知為濕熱之媒，譬猶遺蓋而逃雨也，無之而非濕矣。庸工見八味助火，改事寒涼，殺人更捷。此劉朱之遺禍，至今不息，良可悲夫！</p>
<p>龍章病，用燥土達木、行郁升陷之味，十餘日全瘳。</p>

<h2>噎膈解</h2>
<p>李玉林，因積忿病膈，喉緊胸痞，飲食艱阻，焦物稍下，右脅脹痛，腹滿氣逆，環臍痛楚，酸水泛溢，日嘔膠痰，得酒更多，便乾，完穀不化。病將半年，日月增劇。醫教以多飲牛乳，或欲以甘遂下痰，遲疑未服。</p>
<p>此緣肝脾濕陷，肺胃壅阻。人之中氣，左旋而化脾土，右轉而化胃土，中氣健旺，陰陽不偏，則胃氣下行，濁陰右降，清虛而善容，脾氣上行，清陽左升，溫暖而善消。樞軸運動，水穀消磨，精華上奉，渣滓下傳，舊谷既腐，新谷又至，氣化循環，倉稟常開，所以不病噎膈也。</p>
<p>中氣在陰陽之交，水火之分，不燥不濕，不熱不寒。脾升則陽氣發生而化溫，胃降則陰氣收斂而化燥，清陽化火乃為熱，濁陰化水乃為寒，然則坎離之本，是在戊己，戊己之原，實歸中氣。中年以外，戊土之陰漸長，己土之陽漸消，往往濕增而燥減，水旺而火衰。寒水勝火，入土化濕，水寒則乙木不生，土濕則肝氣不達，重以積怒傷肝，克賊脾土，肝脾郁陷，水穀不消，則肺胃痞升，飲食不納，相因之理也。</p>
<p>肺位於胸，膽位於脅，皆隨胃土下行，胃氣上逆，肺膽無下行之路，食下而肺膽愈壅，故胸痞而脅脹。背者胸之府，肺氣壅遏，胸膈莫容，逆沖肩背，故肩胛之痛生焉。痰飲者，土金濕旺，霧氣堙郁所化。飲食入胃，水穀之消磨，賴乎脾陽，精華之灑陳，賴乎肺氣。飲食腐化，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，肺氣飄揚，氤氳布濩，所謂上焦如霧者也。肺氣清肅，將此水穀精華，宣布於毛脈臟腑之中，化為津液精血，所謂上焦開發，宣五穀味，熏膚，充身，澤毛，若霧露之溉者是也。足太陰以濕土主令，手太陰從濕土化氣，燥衰濕旺，木鬱金革，水穀在脾而消磨不速，精華入肺而灑陳不利，則氣滯津凝，淫泆而化痰涎。肺胃上逆，濁氣填塞，益以痰涎瘀阻，膠黏不下，此噎膈所由來也。</p>
<p>肺與大腸，表裡同氣，肺氣化津，滋灌大腸，則腸滑而便易。飲食消腐，其權在脾，糞溺疏泄，其職在肝，以肝性發揚，而渣滓盈滿，礙其布舒之氣，則沖決二陰，行其疏泄，催以風力，故傳送無阻。脾土濕陷，風木不達，疏泄之令弗行，則陰氣凝塞，腸竅全閉，關隘阻隔，傳道維艱。而飲食有限，糟粕無多，不能沖關破隘，順行而下，零星斷落，不相聯接。大腸以燥金之腑，而津液上凝，不復下潤，故糞粒乾燥，梗澀難下。膀胱者，津液之腑，津液之源，化於肺氣，氣滯痰結，不獲化生津液，下注膀胱，故水道枯竭，小便不利。「陰陽別論」：三陽結，謂之膈。三陽者，太陽也，足太陽膀胱結則小便癃，手太陽小腸結則大便閉。前後閉癃，濁氣不能下泄，因而上逆，濁氣衝逆，上脘痞塞，是以食阻而不納。肝脾升達，則下竅疏通而善出，肺胃降斂，則上竅空洞而善入，脾陷胃逆，升降顛倒，則上下不開，出納俱廢。病在飲食便溺之間，而總以中脘之陽虛也。</p>
<p>朱丹溪以下愚談醫，於噎膈一門，首開滋潤之法，陽虛濕旺，再以牛羊乳酪敗脾陽而助土濕，無不死者。趙氏《醫貫》，更扇其虐，乃以六味補陰，呂用晦讚揚而刻行之，致使群愚誦習，毒流天下後世，可勝嘆哉！</p>
<p>丹溪論病，悉歸於痰，不知痰飲化生，全因土敗濕滋，乃於噎膈痰多，竟以為燥，此狂夫之下者。是後醫書，皆襲其訛，以為陰虧燥甚，遂使病者多死。此自中古以來，庸流立法之誤，並非不起之證也。</p>
<p>玉林病，用燥土行郁、升陷降逆、溫胃滑腸之法，十餘日後，二便皆通，逆氣悉下，飲啖如常。</p>

<h2>反胃解</h2>
<p>林氏，怒後胸膈熱痛，吐血煩悶，多痰，頭疼作嘔，因成反胃，頭面四肢浮腫，肌骨漸瘦，常下紫血。夏月心痛恆作，腹中三塊如石，一在左脅，一在右脅，一在心下，痛時三塊上衝，痞滿噯濁，心煩口渴，旋飲旋吐，手足厥冷如冰，交秋則愈。經來腹痛，遍身皮肉筋骨皆痛，上熱燔蒸。初病因喪愛子痛哭，淚盡血流，後遭父姑之喪，凡哭皆血。魚肉瓜果，概不敢食，恃粥而已，粥下至胸即上，時而吐蛔，少腹結塞，喘息不通，小便紅濁淋澀，糞若羊矢。半月以後，嗽喘驚悸不寐，閤眼欲睡，身跳尺余，醒夢汗流，往來寒熱。凡心緒不快，及目眶青黑，則病發必劇。病九年矣，滴水弗存，粒米不納，服藥湯丸俱吐。</p>
<p>此緣脾陷胃逆，出納皆阻。胃主降濁，脾主升清，脾升則清氣上達，糞溺無阻，胃降則濁氣下傳，飲食不嘔，脾陷而清氣填塞，是以澀閉，胃逆而濁氣衝逆，是以湧吐。而出納廢棄，上下關格，總由中脘陽虛，脾胃濕寒，不能消水而化谷。蓋水穀消化，糟粕下傳，胃無陳宿，故不嘔也，即嘔亦無物，脾胃濕寒，水穀不消，陳宿停留，壅礙陽明虛受之常，則中脘郁脹，升降例行，胃氣上逆，故嘔吐不存也。胃以下行為順，上行為反，上行之久，習為自然，食停即吐，永不順降，故曰胃反。飲食不存，無復渣滓入於二便，而肝脾鬱結，腸竅塞閉，是以便溺不利。胃氣上逆，肺膽莫降，相火刑金，故上熱鬱蒸，嗽喘燥渴。辛金不收，則氣滯而痰凝。甲木失藏，則膽虛而驚作。相火升炎，泄而不秘，皮毛開滑，斯常汗流。神氣浮動，自少夢寐。六月濕旺，胃氣更逆，愈阻膽經降路，甲木鬱迫，賊傷胃氣，則胃口疼痛。少陽經脈，自胃口而下兩脅，經腑俱逆，不得舒布，兩氣摶塞，因成三塊。甲木升擊，則三塊齊沖。土木糾纏，故痞塞噯氣。交秋燥動濕收，是以病愈也。</p>
<p>血藏於肝而斂於肺，陰分之血，肝氣升之，故不下脫，陽分之血，肺氣斂之，故不上溢。血以陰體而含陽氣，溫則升，清則降，熱則上流，寒則下泄，下溫而上清，則條達而紅鮮，上熱而下寒，則瘀凝而紫黑，凝瘀之久，蓄積莫容，乃病外亡。相火升泄，上熱下寒。陽分之血，已從上溢，陰分之血，必從下脫，經脈敗漏，紫黑不鮮，一月數來，或半月方止者，血海寒陷而不升也。經血寒瘀，月期滿盈，阻礙風木發舒之氣，鬱勃衝突，是以腹痛。既不上達，則必下泄，而木氣遏陷，疏泄不暢，是以血下而梗澀也。劉朱論血，以紫黑為熱，謬矣！肝藏血而竅於目，腎主五液，入肝為淚，肝氣上通於心。《靈樞·口問》：心者，五臟六腑之主也，目者，宗脈之所聚，上液之道也，悲哀憂愁則心動，心動則五臟六腑皆搖，搖則宗脈感而液道開，故泣出焉。悲哀動中，肝液上湧，營血感應，宗脈開張，木火升泄，而金水不能斂藏，是以血淚俱下也。肝脾郁陷，下焦堵塞，故少腹結硬，喘息不通。肝屬木，其色青，其志怒，其竅為目。《靈樞·五閱五使》：肝病者，眥青，肝病則鬱怒而克脾土，故青色見於目眥，目眶青則病重者，木賊而土敗也。木鬱則生蟲，肝鬱則生蛔，故《傷寒·厥陰》有吐蛔之條，亦由土濕而木遏也。脾主肌肉，四肢之本，濕旺脾郁，肌肉壅滯，而四肢失秉，故生腫脹，經後血脫，溫氣亡泄，脾陽愈敗，故腫脹愈加也。土虧陽敗，病重邪深，幸以下竅結澀，陽根未斷，是以久病長危而不死也。</p>
<p>林氏久病，幾於絕粒。用燥土暖水、溫胃降逆、疏木行郁之法，川椒、附子、乾薑、茯苓、甘草、桂枝、白芍、丹皮、半夏、蓯蓉，半月愈。</p>

<h2>中風解</h2>
<p>馬孝和，素以生計憂勞，因怒中風，左手足卷屈，寒冷如冰，遍身骨痛，惟左半無覺，夜煩譫語不寐，能食不能飲，飲則氣逆欲吐，胸悶痰多，大便燥結，小便痛澀，肌色皯黣，精神惶惑，遇親故慰問，泣下沾衣。</p>
<p>此緣水寒土濕，木鬱風生。肝位於左，其志為怒，其氣為風。《子華子》：西方陰，止以收，而生燥，東方陽，動以散，而生風。觀之於天，大塊之噫氣，必自春發，推之於人，人生之息吹，必自肝生。厥陰風木之氣，天人所同也，而土燥水暖，則風生不烈，以木生於水而長於土，水暖則生髮滋榮，土燥則長育條暢，和風舒布；必無飄忽激揚之災。水寒土濕，生長不遂，木鬱風發，極力疏泄，乃有播土揚沙，摧枯拉朽諸變。木性疏泄，水性蟄藏，使陽根未斷，藏氣稍存，雖風木飄揚，不至盡泄。《子華子》：水，陽也，而其伏為陰，風，陰也，而其發為陽，陽根不至升泄於風木者，全賴腎陰之能伏耳。今土濕水寒，陽根欲絕，風木鬱飄，腎精不藏，值怒動肝氣，飄風勃發，益以感冒虛邪，束其皮毛，裡氣郁遏，愈增激烈，風力簸扇，津液消亡，則筋脈攣縮，而病偏枯。此病生於內，而非中八風之虛邪，不能傷也。</p>
<p>腎藏精而主骨，肝藏血而主筋，風燥亡陰，精血枯槁，筋骨失養，故卷屈疼痛。左手足者，風木之位，是以偏傷。肝血既耗，則陽明與衝脈之血，必不充足。陽明多氣多血之經，主潤宗筋，宗筋主束骨而利機關。衝脈者，經脈之海，主滲灌溪谷，與陽明合於宗筋。肘膝者，溪谷之會，機關之室。陽明衝脈經血枯燥，溪谷焦涸，故機關不利。肝心子母之臟，肝氣傳心，母病累子，心液亡而神明亂，故煩躁譫語。風木疏泄，陽氣不斂，君相升浮，故不能寐。夜半陰隆，陽泄而不藏，故中夜病劇也。大小便者，膀胱大腸之腑，開竅於腎，而輸泄之權，則在於肝，風動血虧，輸泄不暢，故便乾而溺澀也。腿膝厥冷之證，屬在厥陰。陰性寒而陽性熱，平人陰陽交濟，則上不熱而下不寒。厥陰陰極陽生，水為母而火為子，受母氣於北地，所以下寒，胎子氣於南天，所以上熱。陽上陰下，不相交接，故厥陰經病，獨有厥證。上下者，陰陽之定位也，左右者，陰陽之道路也，風木未極疏泄，則火炎於子宮，水冱於母位，上下之寒熱，不至易地，風木大發，掃地無餘，陽根盡亡，溫氣全泄，乙木之溫奪於癸水之寒，變東方陽和之地為北邊冰雪之場，是以左半手足寒涼而無覺也。肺屬金，其氣燥，其志悲，其聲哭，風傷津液，燥動悲生，觸緒哀感，其性如此也。總以寒水氾濫，入土生濕，木鬱風作，筋脈失榮。</p>
<p>脾者，孤臟以灌四旁，濕旺津瘀，不能四灌，故內愈濕而外益燥，一旦因情志之內傷，虛邪外襲，風燥血爍，筋攣體枯。以風木而刑濕土，濕氣堙郁，化生敗濁，孔竅填塞，肺腑鬱悶，胃逆則神迷，脾陷則言拙，是皆中氣之敗也。湯入則吐者，滋其土濕，胃氣愈逆也。</p>
<p>法當暖水燥土，而潤風木，水暖土燥，乙木榮達，風靜體伸，復其骨健筋柔之素矣。</p>
<p>中風證，時醫知有外邪，不知有內傷，全用辛溫發散，誤矣，又或用硝黃下藥，是速其死。病理微妙，非近代粗工所知，如劉河間、李東垣、朱丹溪輩，曷能解此！張景岳愚而妄作，又創為非風之論，是敢與岐黃仲景為敵也！又與氣脫之證相提並論，尤屬愚昧。氣脫者，昏迷顛仆，朝病夕死，中風偏枯痿廢，猶延數年之命，久病方死，安可混言！風者，百病之長，外感悉同，而病象懸殊，以人之本氣不一也。中風，水寒土濕，木鬱風搖，外襲風淫，表裡皆病，初無西北東南真假之殊，前人之論，一字不通，無足多辨者。</p>
<p>孝和病，用暖水燥土、滋木清風之法，十餘劑，擁杖而起，放杖而笑，不知病之去也。</p>
<p>《呂氏春秋》：魯人有公孫悼者，謂人曰吾能起死人，吾故能治偏枯，今吾倍所以治偏枯之藥，則能起死人矣。公孫悼雖不能起死人，然未嘗不善治偏枯。後之醫者，倍死人之藥，以起偏枯，良可嘆息也。</p>

<h2>帶下解</h2>
<p>李氏，夏病赤帶，內雜白沙如豆，並下紫血，食不甘味，入口作苦，咽乾胸燥思飲，而內實不渴，大便泄利，小便淋濁，溺前作痛，溺後作癢。</p>
<p>此緣脾土濕陷，風木疏泄。精藏於腎，其性封蟄，而腎水蟄封，由於肺金之收斂，收則生燥，手陽明以燥金主令，足陽明從燥金化氣，戊土燥降，收斂得政，陽蟄九地之下，則癸水溫暖而不泄。陽明之燥奪於太陰之濕，則戊土不降，肺金失收斂之令，相火升泄，於是癸水莫藏。腎主蟄藏，肝主疏泄，己土濕陷，抑遏乙木生髮之氣，鬱怒生風，竭力疏泄，木能疏泄而水不蟄藏，其在男子，則病遺精，其在女子，則病帶下。《靈樞·五癃津液》：陰陽不和即水火不交。則使液溢而下流於陰，髓液皆減而下，下過度則虛，虛故腰背痛而脛酸，即遺精帶下之證也。女子帶下，精液流溢，五色不同。「上古天真論」：腎者主水，受五臟六腑之精而藏之。腎水失藏，五臟陷流，一臟偏傷，則一色偏下，肝青、心赤、脾黃、肺白、腎黑，各有本色，是以不一也。</p>
<p>風木鬱泄，相火不秘，甲木之火逆，則胸膈煩熱，三焦之火陷，則膀胱熱澀。風力郁沖，而木氣遏陷，不能暢泄，故溲溺淋漓，梗阻難下。木以疏泄為性，水道不開，勢必後沖穀道，以泄怫鬱，水穀齊下，則成泄利。水曰潤下，潤下作咸，水之潤下，莫過於海，故海水獨咸，一經火煎日曬，則結咸塊，白沙成粒者，相火陷於膀胱，煎熬溲溺而結，與煮海成鹽之義正相同。膀胱熱癃，精溺蹇塞，木氣鬱礙，是以作痛。精溺既下，而木鬱未達，是以發癢。風木陷泄，肝血失藏，離經瘀郁，久而腐敗，故紫黑時下。其病於夏暑者，濕旺木鬱，非關熱盛。秋涼則愈者，燥動而濕收也。然木鬱熱作，是病之標，而火泄水寒，是病之本，推其源流，則由奇經之任帶二脈。「骨空論」：任脈為病，男子內結七疝，女子帶下瘕聚，任為諸陰之長，水寒血冷，任脈凝冱，陰氣摶結則為疝瘕，陰精流注則為帶下，無二理也。帶脈起於季脅，回身一周，居中焦之位，處上下之間，橫束諸脈，環腰如帶，所以使陽不上溢，陰不下泄，土敗濕滋，帶脈不束，督升任降，陽飛陰走，故精液淫溢而不收也。</p>
<p>《金匱》：婦人病下利，數十日不止，暮即發熱，少腹裡急，手掌煩熱，唇口乾燥，此病屬帶下，曾經半產，瘀血在少腹不去。以瘀血凝結，阻水火升降之路，則火逆而生熱煩，水陷而為帶下，此帶證發作之因也。</p>
<p>此當溫燥脾腎，疏木達郁，以榮風木。後之庸醫，或用清利，或事固澀，陽敗郁增，則風木愈泄，是決江河之流而障之以手也，不竭不止矣。男子淋濁遺精，女子崩漏帶下，病悉同源，而庸工不解，其所制各方，無可用者。</p>
<p>李氏，用燥土溫中、疏肝清下、蟄火斂精之法，數日而瘳。</p>

<h2>耳聾解</h2>
<p>張氏，少因半產，下血虛損。中年腹中鬱滿，頭目昏暈，咽喉有物如草。後因媳女卒病，驚悸火發，自肩上項，升騰耳後，右耳遂聾，數日左耳亦病滯塞，怒則更甚，頭面麻癢，如蜂蟻紛撓，心煩生躁，則頭上汗流，膈右煩熱，膠痰瘀塞，食下胸悶吐酸，項脊筋疼，飢則心空氣餒，酸水浸淫，心神慌亂不寐，寐必手足麻軟，醒後不能轉移，腿脛骨髓空虛，筋脈酸楚，膝踝浮腫，小便赤澀，病半年矣。</p>
<p>此緣士濕火升，清陷濁逆。「陰陽應象論」：北方生寒，在臟為腎，在竅為耳。耳為腎官，亦為心官，「金匱真言論」：南方赤色，入通於心，開竅於耳。腎藏精，心藏神，神為陽，精為陰，陽清而陰濁，清氣上升，則孔竅空虛，濁氣上逆，則孔竅閉塞，空虛則善聽，閉塞則莫聞。而陰根於陽，陽根於陰，陰生則濁，陽生則清，清則必升，濁則必降。蓋水為純陰，而內含陽氣，此氣左升，則化木火，是清陽出於濁陰之中也，火為純陽，而中抱陰精，此精右降，則化金水，是濁陰生於清陽之內也。腎水之內，一陽常升，心火之中，一陰常降，七竅空虛，但有清陽布濩，而無一線濁陰，稍生閉塞，是以聲入耳通，鉅細必聞。非水火相濟，精神互交，不能如是，故耳以一竅而並官心腎。</p>
<p>心為君火，相火者，君火之佐也。膽以甲木而化相火，隨君火而交癸水，君相下根，則精溫而清升，神肅而濁降。神胎於魂，魂藏於血，血統於肝，肝膽之氣，表裡相合，血脫則溫氣亡泄，魂虛木陷，不能生火化神，則心君浮動，常有升搖之意，而溫泄膽寒，甲木失其培養，君相感應，亦將飛騰，其頭目昏暈，咽喉梗礙者，皆甲木飄揚，根本不秘之象也，但未全逆耳。偶因驚悸卒發，君相同奔，濁氣上逆，孔竅沖塞，是以重聽不聞。少陽之脈，循耳後而下肩項，甲木逆沖，由經倒上，故相火升炎，自肩項而繞耳後也。君相下行，肺金斂之也，肺自右降，相火上逆，肺金被克，收令不行，故先聾右耳，膽自左升，續則漸及本位，故後聾左耳。怒則膽氣更逆，是以病加。甲木鬱升，濁氣紛亂，故頭面麻癢，如蟻動蜂飛。火能上泄，金不下斂，故頭上汗流。肺被火刑，故膈右煩熱。君相虛浮，故心慌膽怯，不能寐也。</p>
<p>究其根原，總由陽衰而濕旺。太陰以濕土主令，而清氣左升，則化陽魂，陽明從燥金化氣，而濁氣右降，則生陰魄。蓋肺金藏氣而含魄，胃為化氣之原，氣清則魄凝，肝木藏血而含魂，脾為生血之本，血溫則魂見。氣之清者，生水之基，故精孕於魄，血之溫者，化火之根，故神胎於魂。火旺則土燥，水盛則土濕，燥濟其濕，則胃降而脾升，濕奪其燥，則脾陷而胃逆。血脫溫亡，瀉其化火之根，火衰水盛，精臟生寒，寒水上泛，脾土滋濕，濕奪陽明之燥，脾陷胃逆，故君相拔根，而肺失收藏之政也。</p>
<p>胃土不降，濁氣右填，肺津郁遏，凝為痰涎，蒸以君相之火，則膠塞不流。脾濕不化水穀，食下而中焦郁脹，肺胃更逆，故胸膈壅悶。肺氣不得前下，逆而上衝，後侵太陽之部，故項脊筋疼。腎主髓，《靈樞·決氣》：谷入氣滿，淖澤注於骨，補益腦髓，是腎為髓之下源而肺為髓之上源也，肺郁化痰，無緣下生腎水，故骨髓空虛。脾陷木遏，筋脈不舒，故覺酸楚。脾主五味，入肝為酸，土燥則乙木直升，土濕則乙木曲陷，吞吐酸水者，濕土而遭曲木，溫氣抑鬱之所化也。谷消氣餒，胃虛心空之時，乙木鬱沖，故酸水氾濫。陽氣不得下達，陰凝氣滯，故膝踝浮腫。寐而中氣愈郁，不能四布，故手足麻軟。水源上竭，膀胱空涸，而乙木遏陷，疏泄不行，是以水道淋澀也。</p>
<p>《靈樞·決氣》：液脫者，腦髓消而脛酸，精脫者，耳聾，今骨髓空虛，膝脛酸楚，孔竅閉塞，音響不聞，浮據經語，參以當年失血，甚似精血脫亡，陰虛陽盛。不知亡血失精，瀉其陽根，水寒土濕，胃逆火升，故令病此。《靈樞·邪氣臟腑病形》：十二經脈，三百六十五絡，其血氣皆上於面而走孔竅，其彆氣走於耳而為聽。而膽脈下行，正由耳旁，《靈樞·衛氣》：足少陽之標，在窗籠之前，窗籠者，耳也，胃降則膽木下達而耳聰，胃逆則膽木上盤而耳聾。以耳者宗脈之所聚，胃者十二經脈之海，宗脈濁降而清升，機在陽明。「通評虛實論」：頭痛耳鳴，九竅不利，腸胃之所生也。手陽明之燥衰，足陽明之濕旺，胃不化氣於燥金，而化氣於濕土，此頭痛耳鳴，九竅不利之原也。</p>
<p>張氏病，為制燥土降逆、清金斂火、暖水升陷、疏木達郁之方，晨起淨鼻，右耳響聲如雷，豁然而通，鳥語蠅聲，聒耳喧心，盤水洗面，波濤漰沛。此以久塞之竅，忽得清空，虛靈乍復，無足為怪。《晉書》：殷仲堪父（名師）。嘗病耳聰，聞床下蟻動，聲若牛鬥，亦由宿障新開，是以如此。午後氣平，聲聞如常。接服十餘劑，加椒、附溫下而康。</p>

<h2>目病解</h2>
<p>玉楸子中外條固，夙無苛殃。甲寅八月，時年三十，左目紅澀，三日後白睛如血，周外腫起，漸裹黑珠，口乾不飲，並無上熱煩渴之證。延一醫診之，高冠嚴色，口沫泉湧，以為大腸之火，用大黃黃連下之，不泄。又以重劑下之，微泄，不愈。乃意外有風寒，用滾茶一盆，覆衣熏蒸，汗流至踵，不愈。有老摳善針，輕刺白珠，出濁血數十滴如膠，紅腫消退，頗覺清朗。前醫猶謂風火不盡，飲以風燥苦寒數十劑，漸有飛白拂上，如輕霧蒙籠。伊謂恐薄翳漸長，乃用所謂孫真人秘方，名揭障丹，一派辛寒，日服二次。又有熏法，名沖翳散，藥品如前，煎湯熱覆，含筒吹熏，取汗如雨，每日一作。如此半月，薄翳漸長漸昏，蟹睛突生外眥，光流似電。脾陽大虧，數年之內，屢病中虛，至今未復。</p>
<p>此緣陽泄土敗，木陷火虧。「金匱真言論」：東方色青，入通於肝，開竅於目。《靈樞·脈度》：肝氣通於目，肝和則目能辨五色矣。目官於肝而實竅於心，「解精微論」：心者，五臟之專精，目者，其竅也。蓋肝藏魂，肺藏魄，腎藏精，心藏神，腎為陰，心為陽，五行之性，陰靜而陽動，靜極則陰凝而為精，動極則陽發而為神，方其半靜，精未凝也，而精之陰魄已結，方其半動，神未發也，而神之陽魂先生，《關尹子》：精者魄藏之，神者魂藏之，即此理也。陰靜則精凝而為幽，陽動則神發而為明，神魂者，肝心之陽，故並官於目。心以丁火，而含陰根，降則化水，腎以癸水，而含陽根，升則化火，火降而化濁陰，必由心而之肺，水升而化清陽，必由腎而之肝。有陽必升，無陰不降，升則下濁，降則上清，陰濁則暗，陽清則光，清陽之位，微陰不存，而後神魂發露，而為明也。清陽上升，必由於脈，脈之沉者為經，浮者為絡。頭上經絡，清升濁降，是謂純陽，而諸脈皆屬於目，《靈樞·邪氣腑腑病形》：十二經脈，三百六十五絡，其血氣皆上於面面走孔竅，其精氣上走於目而為睛，是周身之陽，無不由脈而上升於目也。而諸脈之升，則由於心，以心主脈而竅於目，故諸脈在胸則皆屬於心，在頭則皆屬於目，心目者，同為宗脈之所聚也。陽由脈升，則清明在上，以神生於陽而陽旺於火。少陰者，君火也，太陽者，寒水也，少陰以君火主令，降則下溫而不寒，太陽從寒水化氣，升則上清而不熱。君火之降，必協甲木，甲木化氣於相火，君令臣隨，自然之理。君相之降，司之於金，金主收而水主藏，收令旺則君相之火由金而歸水，神交於精，深根寧極，而後太陽之上升者，清虛而不亂，火清則神宇泰定，而天光發矣。手太陽以丙火而化寒水，升則火清。金氣不降，則君火上炎而刑金，相火秉令，甲木亦逆，肺金被克，收令不行，火隨經上，營血沸騰，白睛紅腫，陽光散亂。清氣陷遏，濁氣鬱升，雲霧迷漫，乃生翳障。火退清升，雲消霧散，翳障自平，陽衰氣滯，雲翳不退，障其神明，神虛不能外發，久則陽氣陷亡，神去而明喪矣。</p>
<p>左目者，陽中之陽也。「陰陽應象論」：天不足西北，故西北陰也，而人右耳目不如左明，地不滿東南，故東南陽也，而人左手足不如右強。陽者其精並於上，則上明而下虛，故其耳目聰明而手足不便也，陰者其精並於下，則下盛而上虛，故其耳目不聰明而手足便也。以東方者，金水既衰，木火方旺，清陽當令，神魂暢發，此升魂所以為貴而降魄所以為賤也。而陰魄右降，陽魂左升，全賴中氣之運。中氣運轉，胃降脾升，則金收西北，陰從魄斂，木生東南，陽自魂發，濁陰歸地，清陽上天，《亢倉子》所謂清而能久則明也。陽衰土濕，中氣莫運，則升降遲滯，四維不轉，水陷火逆，是以目病。水陷則乙木與庚金不升，火逆則甲木與辛金不降。木主血，金主氣，乙木庚金不升，則氣血之清者下陷，甲木辛金不降，則氣血之濁者上凝，翳膜凝結。中氣未敗，俟其濁降清升，則明覆翳退，弗為害也，乃火已降矣，猶以苦寒泄於下，辛燥汗於上，內外鏟削，元氣敗竭，辛金甲木，永不能降，庚金乙木，永不能升，則陽常下陷而陰常上逆，頭上經絡，濁陰沖塞，氣血凝澀，津液堙瘀，翳障層生，陽神蔽錮，而光明損矣。</p>
<p>《靈樞·決氣》：氣脫者，目不明。氣統於外而根於中，人身下則腎氣，上則肺氣，中則胃氣，外則衛氣，氣盛於外，故悉統於衛，而衛生於穀，故並根於中。衛氣夜行於陰，晝行於陽，常隨中氣出入。其行於陽也，平旦寅初從足太陰之經而出於睛明，睛明在目之內眥，故目張而能視。衛出於目，則上下中外之陽隨而俱升，陽盛則日月淑清而揚光矣。中氣亡泄，諸陽俱敗而不升，故目不明也。「五臟生成論」：肝受血而能視，以血藏溫氣，升則化火，魂舍於血而神生於魂也。二十難：脫陰者目盲，以陽根於陰，陰脫則陽根絕也。而究其根本，悉關中氣。</p>
<p>後世庸工不解，或謂火盛，或謂陰虛，是以天之中央在燕之北與越之南也。至於火退昏翳，全由陽敗，而再服清潤，不亦謬乎。眼科如《原機啟微》，一字不通，張子和、劉守真之論，更屬荒誕，薛立齋妄載《醫案》之中，趙養葵、呂用晦等謬加讚揚，繼以《證治準繩》、《眼科全書》、《審視瑤函）、《銀海精微》、《龍木禪師》諸書，真介葛盧、管公明所不解也。而九域傳誦，業此名家，從此目病之人，皆變離朱而為瞽曠矣。何圖天壤之間，又有孫真人《秘談》一書，更出諸人之下。今《千金》具在，豈思邈仙靈，而為此厲鬼那！庸愚醉夢，習之以膠人目，謂非酷歟！</p>
<p>眼病悉在經絡，其赤腫疼痛，皆手太陰足少陽二氣之逆沖也，法宜清膽肺而降沖逆。至於中虛下寒，則全宜溫燥。白珠紅腫，當行其瘀血，浮翳初生，先破其滯氣，自應隨手病除。乃不事此，妄以汗下亡陽，致使中氣頹敗，翳障堅老，何哉！</p>

<h1>序意</h1>
<p>玉楸先生，宰思捐慮，氣漠神融，清耳而聽，明目而視。既遭庸醫之禍，乃喟然太息，仰榱而嘆曰：是余之罪也。夫昔杜子夏、殷仲堪輩，禍劇折肽，而未嘗遊思醫事，後之病者，不能遁天之刑也。</p>
<p>古之至人，視聽不用耳目，自茲吾作庚桑子矣。杜門謝客，罄心渺慮，思黃帝、岐伯、越人、仲景之道，三載而悟，乃知夫聖人之言冥冥，所以使人盲也。</p>
<p>軒岐既往，《靈》《素》猶傳，世歷三古，人更四聖，當途而後，赤水迷津，而一火薪傳，何敢讓焉。因溯四聖之心傳，作《素靈微蘊》二十有六篇，原始要終，以究天人之際，成一家之言。藏諸空山，以待後之達人。歲在庚申九月二十八日草成。</p>
<p>悲夫！昔屈子、呂氏之倫，咸以窮愁著書，自見於後，垂諸竹素，不可殫述。使非意有鬱結，曷能冥心於沖虛之表，鶩精於恍惚之庭，論書策以抒懷，垂文章以行遠哉！</p>

<h2>杝元</h2>
<p>玉楸子著《素靈微蘊》既成，徇華之客，以為不急之務，虛緪歲月，乃述上聖之功，剖作者之意，作杝元以解嘲。其辭曰：</p>
<p>涒灘之歲，節屆初冬，玉楸子獨處乎寒青之館，神寧於遙碧之亭，時則玄陰晦朔，素雪飄零，梧槭槭而葉墮，松謖謖而風清，閒庭寂寥，不聞人聲。</p>
<p>有北里望人者，軒車南駕，駐轡相過。袨服綷縩，高冠偉峨，揚眉張頰，言湧如波。聞子窮年作解，一空冥搜，　椓天地之奧，鍥鬼神之幽，障千尋之浪，掃五里之霧，信乎？玉楸子曰：唯。客乃傲傲而笑曰：吁嗟吾子，茫乎愚矣！乃者乾光耀採，文運璘斌，群才云駭，萬匯煙屯，人附虯龍之翼，家蔭鸞鳳之林，蔚然如長風之凌勁翮，蕩乎若大壑之縱遊鱗，是以朝無佞祿，野無偽隱，滋蘭蕙之不足，又曷事乎析薪。今吾子匿秀山巔，藏雲水曲，棲心於恍惚之庭，梏神於冥漠之麓，意疲精殫，手胼口瘃，仰遠騖乎九霄，俯深釣於窮谷，縱彰微理於遐年，暢名言於遺錄，曾不得掇巍科，闞朝軸，凌高軒，紆佩玉，洵所謂刻棘端之沐猴，鏤冰玉之畫𨌥。人以為結珞之與璵璠，吾以為燕石之與鼠璞。況今醫子蜂生，方書代作，人自以為俞跗，家自以為扁鵲，附托貴遊，憑依高爵，舒虹霓以著塵，攀驪龍而云薄，莫不意色𥕎礚聲華灼爍。今吾子足不出於方州，行不越乎閭里，抱一篇以長吟，面百城以自喜，仰屋梁以咨嗟，撫空幾而嘆只。子不如還車息駕，折柱摧弦，蕭涼書閣，寂寞云檐，松聲兩岸，花影一簾，於焉嘯樂可以盤桓，何為涉彼漫漫之歧路，遣此駸駸之歲年！</p>
<p>玉楸子振臂而起，仰天而噓：夫聞清商而謂角，非徽弦之過，聽者之不聰也。見和璧而曰石，非瓊瑤之賤，視者之不明也。世皆寶瓴甋而憎琬璞，重笳拍而棄鍾呂，又何詫乎子之舌讕讕而口詝詝。</p>
<p>厥初生民，風淳氣平，渾固敦龐，人鮮疾病。五子相蕩，二氣初競，夭札疵癘，楛窳厥性。乃有黃帝，運起天鍾，傳經玉版，示藥昆峰。道遵岐伯，業受雷公，向天老而問鳳，驅黃神以馭龍，補造化之缺漏，濟民物之傷殘，功與天地相併，術與鬼神通玄，遐哉邈矣，不可得而述殫。</p>
<p>無何鼎湖一去，攀髯長號，云迷大谷，鬼哭秋郊，黎丘晝市，裊鶹夜咷。人誤藥術，家習圭刀，雙目戢戢，眾口呶呶。聆其議論，則風飛雲逸，溯厥指歸，則煙籠霧飄，無不齒有刃而舌有劍，胸有斧而手有刀。似此悠悠，何足談悉，遙望前修，慨而嘆矣。關情玉機，阻雋靈蘭，如墨如漆，亦幾千年，誰從此日，握要鉤玄，相煦以懊，相濯以寒。至於僕者，丘園散誕，松菊徘徊，慕仲長統之樂志，企趙元叔之壯懷，曉云西去，夜月東來，揮落葉哀鴻之曲，傾梅花寒雪之杯，既息心以遺累，復違俗而舒襟，良無求於富貴，亦何羨乎盧文。乃偶攖末疾，見誤庸醫，夷然太息，鍵戶深思，澄心凝慮，六年於茲。當其午夜篝燈，心源默闢，擢筆靈飛，撫幾神驀，砉然天開，磔然理易，於是鑿先聖未雕之璞，探千秋永墜之奇，騰幽振微，破險開迷，閎言眇旨，磅礴陸離。不知茲固不足以揚天地之大化，繼古聖之匡維，衷群言之淆亂，回蒼生之顛沛也。</p>
<p>嗚呼！玄風既邈，大道遂淪，世憎其璞，人惡其真，率信耳而疑目，咸譽古而疵今。季主揲卦，賈生有居鄙之誚，子云著書，劉子發覆瓿之言，故孟堅寄慨於《賓戲》之作，景純述意於《客傲》之篇。縱受嗤於一世，終留譽於萬年，彼流俗之謠諑，亦何屑而論旃。</p>
<p>今子失轡於康莊之路，熏心於榮利之場，雖目動而言肆，實墨明而狐蒼。乃欲持眇見以訾大道，是何異乘車鼠穴而欲窮章臺之廣狹，企足蟻封而欲測渤海之渺茫也，不亦妄歟！</p>
