<header data-type="book">
<h1>修崑崙證驗</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>天休子</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1847">公元1847年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>蓋自九鼎雲英與赤薤虹丹而並寶，八瓊絳雪偕玉津風實以稱奇。剎帝利之神丸可飽終日，阿伽陀之珍餌能救眾生，莫不精求赭鞭之原，竊善青囊之術。然而鵲醫罕遇，荀令肺腑能語，則色如土矣，兔藥雖成，但恃甲乙名經，則疾入肓矣。欲益反損，雖悔莫追，漫云三品已成，孰是十全為上，我乾一先生以《修崑崙證驗》欠示，惟藉「揉」之一法療病之百源，注蒙叟之養生，鄙韓康之賣藥。運其心中之矩，垂為肘後之方，證以終身，效昭昭而可案；易於反掌，功歷歷其堪稽，比摩頂放踵之為，可利天下；無濡首剝膚之害，足導後生。</p>
<p><u>道光丁未六月上浣</u>　錫山侯桐謹序</p>

<h1>小引</h1>
<p>聖《經》云：壹是皆以修身為本，其本亂而末治者否矣。垂訓簡易，萬世師法也。稽諸所以修者，則曰正心誠意，又曰齊明盛服，非禮不動，此修於無病時也。《易》曰：懲忿窒欲，又曰：慎言語、節飲食。此修於未病前也。若病臨於身，只以醫藥為修矣，《靈樞》、《素問》，歷歷可考。然亦有治病去其八九之論也，推及其至淺則可治，深則不治。病至於不治，則束手待盡者有之，欲罷不能者亦有之，豈非人生恨事乎？設有良醫既能治病，且能去病之根，使受病者目見為快，即死已無憾矣。況翻然可不死乎？況從此可長生乎？何幸如之！何樂如之！不死若何？去其病也；長生若何？去病根也；去根若何？去其積也；去積若何？有一言而可以終身行之者，曰「揉」。其揉若何？請假賢傳引《詩》之語為則，曰如切如磋，如琢如磨者，自修也。若是易知易能，人人得為，何待於言？正恐其道在邇，而求諸遠；事在易而求諸難也。故縷述經驗，信而有證，為修身者忠告而善道之。《素問》有云：無形無患。是有形者皆有患也，能不思所以然設法去之乎？《詩》云：周雖舊邦，其命維新。是故君子無所不用其極。</p>
<p><u>道光丙午年六月立秋日</u>　天休子書引</p>

<h1>揉積論</h1>
<p>夫微之顯者，積也。人身皮里膜內必有津液滋潤其間，乃氣血之所生也。及氣血因感傷而停滯，則津液變涎沫以凝結，氣血可以復通，凝結不能再解，潛孳暗長，無減有增，此積之所由成也。若銅鐵遇潮濕生鏽，非括磨不能去，正如積之非揉不消，同一理也。人生幼稚無積，積生則絕。少年氣血旺，積不能生，壯年氣血更旺，嗜欲開，難免積，隨長隨消。中年並生並育，氣血旺則伏，否則為患。中年以後積漸大，佔地闊。同是氣血也，積有餘而人反不足，賓奪主食矣。皮緊、面鼓、項粗。腮縮，耳反、唇掀、結喉、露齒，此形之不足於外者也。再當要害之地，手足則麻木、癱瘓；頸項則瘰癧、噎嗝；口舌則瘖啞、歪斜；耳目則聾瞶、糊塗，此急不待時者也。倘不甚重，尚可苟延，逮至晚年，頭尖、項壅、背駝、肩聳、腿胯直強、手足痿痹，四肢塞滿，空隙毫無，生意隔絕，而人積偕亡矣。此無他法，惟揉以去之，倘得消多長少，或是一條生路也。或者曰：所言皆病之內症，古有醫案方藥，安見所謂積？安見揉有效？自古無此治病法也。予應之曰：子遵古而言內症是也，獨不見生於外之癭瘤乎？附體成形，耗其氣血，日長月大，竟以致命。雖有筋脂膿血石肉之別，要皆氣血凝結之積，古方皆以藥內消，然歷見消去者，十不獲一。緣病在皮里膜內，藥力不能到也，在外揉之，竟可消散。今之所謂積者，即如癭瘤使之反生於內，得不統謂氣血之積乎？獨可專仗藥力消之乎？總之，凡百病症，皆以氣血為主，通則無積，不通則積，新則積小，久則積大。不論大小內外病症，果能揉之，使經絡氣血通暢，則病無不愈者，不必先爭此揉積之名分今古也。再以淺近者申之，如頭痛揉提太陽及眉心，立見輕爽，喉痛重提項前，亦見效驗；小有腫痛瘡癤，揉之立時解散。揉之為法，有益無損，且可窒病之源，拔病之根，思患預防之道，無過是者，豈反不及臨渴掘井之醫藥耶？且也，病遇良醫實是罕逢，而遠鄉僻野，更無所謂醫藥矣。況疳勞鼓嗝，醫效難期：肓上膏下，藥力不到，更有無力延醫市藥者，尤堪憐憫也。俗語云有病靠天，此無法如何之詞也。然則何如儘自己之心，竭自己之力，用日月之功，保百年之命，上可對天地，中可對父母，下可對自身。今有揉曬二法，既不借人之力，又不費己之財，矢以誠，行以勤，用以和，守以恆，凡百病症，概可立愈。健旺精神，延年益壽，此即所謂可以贊天地之化育也，請自身始。從古良醫代不乏人，真可起死回生，實是出神入化，然垂名千古而心法無傳，徒留醫案方藥，後人則效無從。今茲之道，若大路然，人人能為，時時可行，惟患人之不求，不患法之不傳也。集說既成，弁以揉積論，願先覽焉。</p>

<h1>綜概</h1>
<p>《黃庭經》：尺宅寸田可治生。尺宅，面也。寸田，兩眉間，為上丹田。心為絳宮田。臍下三寸為下丹田。</p>
<p>《莊子·外物篇》：眥𡟬可以休老。眥𡟬，按也，摩也。以兩手按目四眥，令眼神光明；按𡟬皺紋，可以沐浴老容。</p>
<p>古書：頂中旋毛中為百會穴，前寸半為前頂，前三寸為囟門。囟，頂門也。子在母胎，諸竅尚閉，臍納氣，囟出氣。既生竅開，口鼻納氣，閭尾泄氣，囟乃漸合，陰陽升降之道也。</p>
<p>《說文》：囟，頂門骨空，自囟之心如絲相貫不絕。</p>
<p>《六書精蘊》：元神何宅？心為之宅。元神何門？囟為之門。</p>
<p>《孫真人衛生歌》：汝欲不死修崑崙，雙手揩摩常在面。《庭經》語：崑崙，山名，西北至高之位，以喻首也。下句真人身體力行，得要訣而言也。其天民之先覺者乎？</p>
<p>一、予已試之矣，有奇效焉。面者統言之也，非靠顴與夾車，不能著力揉也。一身血脈條直，唯夾車十二經血脈上下匯走，屈曲交互，易致壅積。夾車，耳門下之鉤骨也，此處一通，內外上下皆無滯塞矣。其積附於項骨之旁，停於肩背脅肋腰胯腿腳，外視微粗，不能望見也。於夾車直骨中揉之，自能吊動。由夾車之上，下耳後出走大迎，入頸，人迎下消。行次按三陽經，魚貫不紊，實非人力能致。此積一去，則肓上膏下無滯，病自不生。惟初揉卻難見功，何也？各處經絡久已淤閉，即夾車骨亦淤積闊大，先已蓋滿，必得潛心耐性，逐漸推動，初覺氣滿充溢，各處似有開裂，豁然貫通，功到自悉自悟也。</p>
<p>二、若論平時，本應常揉百會、眉心、眼內外眥、顴夾以通氣血，免致生積。而頭皮緊急，頸項壅粗，肩背脅肋塞滿，非於顴夾著骨揉之不能吊動，且其消動自有先後。不必亟亟亂揉也。今將揉夾車及顴，吊動行消之積列後：</p>
<p>（一）自腦後，由頂鬢至夾車下去。</p>
<p>（二）由夾車上出。至夾車下去。</p>
<p>（三）自夾車上出，由下胲左右交，至夾車下去。</p>
<p>（四）由夾車下出，至夾車上去。</p>
<p>（五）由夾車下出，至顴骨後去。</p>
<p>（六）由下夾車串上唇，左右交，至夾車下去。</p>
<p>（七）由耳門上及夾車中，吊動陽明經，由下胲左右交，上耳門至額頂，由眉稜至顴後夾前去。</p>
<p>（八）揉顴及夾車下尖，不知長短一大根，碎去，此太陽經也。</p>
<p>（九）揉夾車吊動足少陽，約自銳眥由耳門至夾車，下大迎去。</p>
<p>（十）由耳門上，靠後吊動，由兩鬢太陽穴至眉心交下。</p>
<p>此積之大而成形者，因其附項，形與項骨同，其長如帶，完後自相接續，其餘無事瑣贅。至夾車骨或開或合、忽長忽短，有水到渠成之勢，神乎其莫測矣。而揉之順逆上下。亦須見景生情，神領意會，不專心致知則不得也。</p>
<p>三、手三陰，自腹上頭走手指；手三陽，自手上頭走面；足三陽，自面下腹走足指，足三陰，自足入腹走頭，各至交宮。陰走膜內、頏顙、結喉、柔內、腋下、臂腕；陽走皮里、肩背、大椎、夾車、大迎、人迎、缺盆、膻中。陰陽往來上下，皆附夾車內外。結喉兩旁動脈人迎穴：夾車橫骨中大迎穴，面前橫骨陷中缺盆穴，腦下項骨三節為大椎，對腋處為柔內，兩乳間為膻中，數處皆所必經，而夾車直骨尤為至要，頭項清後仍揉夾車，毋使再積而已。</p>
<p>四、結喉即肺系氣血之總會也，兩旁動脈人迎穴在皮里膜內，五臟六腑與頭上及四肢通者，除臍外惟此一處。氣血往來上下皆在其中，經脈皆在其中，積即生其中。一經揉散，不入臟腑仍歸氣分，由原經絡退回臍中，至胃，下大小腸之皮里膜內，出屁竅、精竅。何以知之？每揉夾車必泄氣，且以淋濁便血知之。六陰六陽之積上夾車反消於此，清氣上升，濁氣下降。永無痞悶脹鼓之病矣。臍下腰胯之積。一概由足入腹，似不再上夾車也。</p>
<p>五、人身統此夾皮袋耳，中之硬者為骨，實處是血，虛處是氣，其餘筋肉皆應綿軟方是無病。一經淤積，骨則粗而大，肉則壅而滯，筋則拳而曲，皮則繃而緊，能無病乎？凡有滯積，無不宜揉，隨宜而施，何能執一？神而明之，存乎其人。如六陽上頭、夾車諸處宜揉，六陰過莖、海底諸處亦應揉也。思之思之，鬼神通之，信夫！</p>
<p>六、眉心、目眥，六陽經交接處；夾車、下胲，陽經上下出入之路；腎囊、陽莖，陰經上下會走之處；十手足指尖，陰陽交接處；手足腕背，經脈出入處，手足大指後腕骨之上廉曰關，陰陽交互處。數處待常揉之，可以流通氣血。兩鬢塞滿，揉山根、眉心。項後壅起，揉夾車反推。胸膈之積，自腦下反至大椎，亦於夾車反推。結喉旁壅滿，揉耳上及兩鬢。兩腿胯脹滿，揉海底囊莖及膝蓋後筋：陽明交山根，治生之地，而不任揉，於鼻脊蓋以膏藥，方可著力也。</p>
<p>七、揉要對，不可偏。揉久手痠，則直伸兩臂用力摜兩手腕，痠軟可立止，此神仙自拳然之法。神仙拳：掐訣直臂，閉目唸咒，其手自摜，少時訣散而拳作矣，確有仙氣。予因手痠而截取之，先可流通氣血也。淤積之處，其皮糟，揉破塗礬，結痂愈快。先以礬塗，可免擦損。或以大礬塊代揉，兼可以括磨筋骨上之積，事半而功倍矣。手足指退皮綻裂出紫血，擠盡即愈。大積將上，周身微寒，出頭即止，積塊雖大，喉自能容，梗芥作咳，不礙飲食，此六陰之積也。</p>
<p>八、頭皮寬厚者，壽象也；麵皮緊薄者，夭相也，有積無積之分耳。即中風麻木、手足不仁、疳勞鼓嗝、癰疽瘡癘，病也，亦積也。醫書所謂痹也、飲也、癥也、瘕也，皆是積也。相書云：「露齒結喉，餓死他州」，因陽明淤積，唇掀縮短也，「山根斷兮早虛花」，因鼻梁四面壅高成凹形也。予自揉後，上下唇常合，鼻脊自高起，眼內眥向不容指，今已綽有餘地，是亦可為一證。</p>
<p>九、予之揉也，實無所師承，苦自病而試得者也。亦曾見有按摩諸書，名目紛多，無從記憶，且莫明所以然，繁而且難者也。茲則一言以蔽之曰，揉夾車，以清頭上六陽之積，下部六陰之積由足上，繼之曰揉海底，疏通腿胯，為善後之計，終仍歸總於夾車。易而且簡，易知易從者也。今雖身試獲效，實不料其至於如此之極耳。積形似蛇，大小長短不一，常時一塊一條，貼伏筋骨之間，必待原處吊動，勃起項間，直串兩夾，盤繞頸項，下由結喉內去，而貼伏者悉帶去矣，雖極粗大，喉間自然開讓。予項所出不下數十百條，久暫不一。甚有夜半睡夢肩夾塞滿，顙中作惡，驚醒坐起，揉消。以此告人，誰能信之，實是去積良法，何以諸書不載？或以去積太速、太盡有損於人乎？予現身試，有益無損也。惟方書治風痹用白花蛇，或取其形似乎？雖未明言，前人可謂智矣。然藥服於胃中，而欲令藥性速行於皮里膜內，消黏著不動之死積，想見其難，徒耗正氣而已。</p>
<p>十、《莊子》有云：「道引之士，養形之人」，《留侯世家》：「道引不食谷」，注云：「服氣法」。此法不知世有傳書否。然細繹「道引」二字之義，道之使動，引之使行，似與揉法相近。按摩諸書世固不乏，惜予少見。今揉而有效，私意即以名此可乎？倘世有古傳揉法予未及見，則不免河東白首之誚，否則即請以此冊為修身之嚆矢。</p>
<p>十一、一隅三反，此後原可無庸瑣言，但予積久而多，歷時許久方克盡淨，恐後有為者不知究竟，畏難中止，以致前功之或棄也，故備記巔未以勖之。止，吾止也；進，吾往也，自勉而已。</p>
<p>十二、予揉夾車及顴，旬月以來頭積見消，喉間暫清，而腦後、肩上仍壅。意謂下者未必全由上消，改揉頸項。忽然由背湧起一大塊，自右而上，厚於項、寬於肩，下胲塞滿，如此之大，無從再為著力，只就原處揉之。少時由左胲下至左穴而下。如此左右數次，正是勇出時也。</p>
<p>十三、揉至歲除，腦後總未見消。因思六陽經皆會大椎，其積甚厚，或為其蓋住，或手腕不通。於是先揉手腕，次揉大椎，積厚頗費尋覓，及見骨後揉之良久，骨節忽然高起，湧而上行，如脫殼然。直上右夾，下結喉中去，厚皮消去一半，隨去積亦多。</p>
<p>十四、新正八日未刻，覺周身微寒，意必項後有積來，專力揉腦後，一時許，項之左右並出二根，上夾車灣入結喉，二刻方完。完後忽從脊中湧出一大片，中硬邊軟，闊五六寸，右旋而入結喉，亦數刻方完，意者前二條是脊左右，後一片是脊中帶肋積而出也。入結喉分左右旋者，想是腔內腔外之分也。</p>
<p>十五、每於項旁揉時，摸得腹中及脅下之積直衝而上，走結喉內消。及摸得兩肋骨尖，長而忽軟，揉之脫殼，改為一條上消。大約皆六陰之積上至夾車，還而入喉，雖粗大亦寬綽，而行若六陽經，於下胲剝削細小，面上能容，方始上走。項後亦有粗大能上走者，須揉頭頂及角吊之。若脊骨四周之積，必由耳門後上，粗大亦可吊消，仍由頂額下夾車、大迎穴，由頸中人迎穴入腹，別無出路故也。</p>
<p>十六、頭平頂軟，一切皆庶幾矣。忽而左邊上牙作痛，知是足陽明經病。揉鼻外梁，反推其內，左邊有積一片插入山根，揉之有聲，清涕直流，痛亦稍止。以次而下，退揉人中，不意鼻梁脫殼而下，隨即揉散。予右側臥鼻息不通十餘年矣，不知何故，今忽現出而消，想因諸積漸清，自不能容耳，從此可以右側臥矣。五官有病者，亦可類此求之。</p>
<p>十七、揉至望後，面上已淨，頭皮亦活；大椎皮亦薄，項雖粗亦乾淨。惟項骨三節，啞門、風府、大椎有硬筋蓋住，摸項兩旁有箸頭大各一點，不放手揉之，半時許，粗者亦至，愈上愈粗，左右連去四條。後又揉耳上，忽由項自耳後出二條，由耳上至額角、眉梢，下夾車去，又有二條自項骨前出耳門上，直走鬢額，交頂，由腦後下肩去。此條長而且粗，時許方完，不知是何經絡。接連又二條，鋪得甚潤，行走同前而稍下，亦出肩穴去。或附脊之積如此出耶？或因在夾車外耶？俟後來者證之。</p>
<p>十八、揉至各處見清，獨大椎筋未消。日間坐立不見形跡，臥後摸項肩內尚有隱伏。意者臟腑之積，筋膜貫串如龍潛伏，一經吊動，夭矯而去，至此附脊之積不能自行，於是伏臥用大指帶撥帶揉隨指而上，愈上愈闊，撥碎者皆上壅腦後，右轉至夾車，內消結喉中，此腔外背肋之積也。至腔內之積，一經吊動，則自頸環圓鋪至缺盆，如筒而上，揉撥之，則左旋於結喉內消，而大椎之筋亦無矣。</p>
<p>十九、二月朔夜，摸兩肩，其髀骨埋入積中，臂動不見骨之稜角起伏，其積一片，中高寸余，四垂而薄，長闊約尺余，意謂太陽經出肩繞髀，必其積也。揉本處不動，退揉大椎，為太陽交下缺盆處也，盡日之功，揉亦不動，惟見手少陽經由耳後走耳上及耳門後，亦有上者，皆有稜有脊，橫梗而行，匯至鬢額眉心交下，摸頸項間亦有跡矣。於是傍頸項間揉之，有左右湧上者，有環圓鋪至缺盆如筒上者，有貼骨脊粗大上者，隨時即揉去之。摸項前形如大蛇，上背下腹，稜起水波，尖如刀刃，撐滿結喉，此所以梗芥作咳也，可怕之至。因思前次項前之積在耳門上揉以吊之，今亦照前揉之，隨手而上，始闊寸余，中幾三寸，仍同前由鬢額至頂下項後，兩時許方完，約有行程之長，不止一二丈矣，仍如蛇形，惟改扁耳。及摸肩下之積，一掃無餘，為之一快，而喉中亦釋然，究不知是何經絡也。</p>
<p>二十、數旬以來，惟揉耳上及兩鬢，源源而上，迭出不窮，腔內脅肋之積想須全上頭行故耶。一日正揉間，忽覺喉中緊窄似要作痛，意思稍歇再揉，及摸夾車、耳下有積，粗大塞滿其中，勢不可停，然料如此之大斷乎難上，且盡力揉之，竟改扁而上，兼揉額角、眉心即消。</p>
<p>二十一、各處雖淨，然肩項兩旁、枕骨之下似尚有滯，於是專揉夾車，久之四面皆吊動矣。三陽經自手交肩，走耳後，出耳上，反夾車，下大迎，入人迎而至缺盆。少陽走枕骨，上出耳前；太陽出夾車中；陽明走夾車下角。三陽經自缺盆回而上頭者，皆貼喉間，揉下胲尖，積方上消。手陽明由下胲尖繞唇鼻至山根，交足陽明，走上唇、下胲、夾車，上耳前，至額顱，手太陽由夾車上尖反夾車外，由大迎走顴，至目內眥交足太陽，上額交頂；手少陽由膻中自喉出夾車外下角，自項出耳上至目外眥，交足少陽，上頭角，下耳後。然三陽下項，皆由夾車下大迎、人迎也。</p>
<p>二十二、自始至今從無痛癢。一日正揉間，兩脅兩臂奇癢似癬，斷不敢搔，逐處分揉，三兩日，串至膻中、缺盆而愈，想是兩處之積上消矣。於是各處始有癢者，上下大小久暫不一，揉之即愈。可見一向皮肉之木，特尚未至於麻耳。</p>
<p>二十三、自揉夾車以來，項骨已細，然大椎尚有小積一條，於是拽其根以拔之，愈撥愈上，滿頂皆硬，以為留存余積皆上也，遂於缺盆前撥之。撥至細與項等，然後知亦一大根已半入前正面而下，時許方完。隨後又出兩大根、兩小根，完後已夜深而臥。不知如何次早醒時仍是塞滿，撥至良久，仍是一根，繼又一根，左右交下，想是入人迎穴矣。項中已清，第不知腹中尚有多少，設使不撥，又不知如何作病矣。</p>
<p>二十四、各處已淨，喉中忽作梗芥，方知貼項前又有二根向外之尖所刺，須於耳上揉吊乃消。行逕由額角上頂，下腦後，自夾車闊三寸余，二時方完。稍下寸余，接連又是二根，直出耳上，交頂而下，惟揉頭角吊之。正揉間，覺其自項後左右同往上竄，如以帛蒙頂。此積所佔去之皮還歸原處，而頂中積仍復累然，揉兩夾車即消，頂上腦後俱清矣。</p>
<p>二十五、頭項俱清之後，仍揉頂心夾車間，有條塊隨即揉消。一日忽然腰痠，腰中向有病痛，揉後久愈，此或吊動而然，不在意中也。數日酸後繼之以痛，幾不能行立，無法如何，盡力揉夾車以吊之。半日後大塊即至，本是左右雙上，此則分先後上，蓋粗大不容並行。六十餘年腰痛之積其大無疑，難得其分上也，奇矣！揉至夜半，周身汗出，痛亦止矣。手足中之筋亦有吊動者，可知病根之深，無怪乎積之長，用大指反推夾車千萬下，始消完，而小腹下條塊亦消矣。</p>
<p>二十六、頭腰俱完後，一日揉間，左手小指筋縮而強，知為手太陽小腸脈也。揉半日，左肩湧起一塊，斜貫右夾下，回頭由中而下，而腦後乃壅。乃揉耳門上，方始上額頂，反腦後，由夾車消。源源湧上，其大如杯，幸得暢行，方知是太陽經。上頭，由頂反腦，右邊則無，又知病有左右輕重，以積之多少分也。</p>
<p>二十七、各處盡淨，自以為是矣，而夾車骨上總未能清，皆項根左右而上，一陣跟一陣相繼而來。有肩脅串氣作痛者，有膻中髮癬作癢者，有背脊作蟲行者，有手足抽筋作癢痛者。隨出之積不復大塊長條，無從再為分別矣。推原其故，頭上清楚之後，如壇去蓋，以下之積皆須上消，走夾車下人迎穴。即如厥陰肝經起足大趾，自腿而上，繞陰器，抵小腹，入胃，屬肝，絡膽，上貫膈，其積尚不多，布於脅肋，尋喉嚨，脅肋多則積亦多矣，必由夾車上消清，方上頏顙進目系也。各經皆然，夾車之積所以不易淨也。要之總有盡日，惟問功夫之到不到耳。</p>
<p>二十八、耳中聽宮穴是小腸太陽本經，何以方書云耳聾耳鳴皆屬腎虛？緣少陽三焦自手交肩而上，直插耳根後，出耳上走夾車，所積皆蔽聽宮。且陽明、太陽過耳門、出耳上，始積風鳴，重則聾矣。予三十一歲，左耳中生瘡，俗名耳底是也。痛悶不堪，極其至也，終夜掩耳繞走於庭，錚然一鳴，氣出而愈，此耳聾之始也。五十七歲後，右耳輪邊常生小瘡，膿潰結痂，觸之痛甚，十餘年雖揉亦未已也。今左耳中又生小瘡，一連三次，出膿方愈，痛亦異前，而右耳輪之痛亦止，莫名其所以然。向意經絡，左、右之上，即右、左之下，或者是乎？不然何以兩耳同愈也？</p>
<p>二十九、耳愈後仍揉夾車。遲數日，忽然周身陰面同時髮癬，不似前次之僅在脅肋矣，腹胯脹癢無法如何。用大礬一塊，連揉帶括，幸未膿潰。而腎囊之癢尤為甚焉，囊中之筋如蚯蚓團結，揉捻方散，脫皮甚厚，不計其次。兼揉左右前後，四肢之癬退皮亦愈。因思六陽經上頭會頂，以理推之，六陰經必上莖會尖。而腎囊為經絡匯走上下之處，所有揉散六陰之積不得過莖，逆流而為癬矣。腎莖通後，仍以夾車為主，積之出路也。前聞拳技家揉腎莖以防踢打，未聞以之治病者，今而始知下部之病悉可以治，海底揉通，筋脈無滯，病不能存，立見奇效。方書無傳，創法新奇，人雖不信，我已奏功，神乎其神矣。</p>
<p>三十、手少陽由耳後二至目銳眥，足少陽起目銳眥，上頭角下耳後，支從耳後出耳前至目後。邇來揉動似乎少陽脈交山根而下，不然何以兩鬢塞滿，揉山根即消耶？然未見前言也。意謂目生翳膜，是少陽經從目後包轉以致失明，若頻揉四眥及眉心、山根，經絡活動，其翳自退。目有病者，曷試之？曾遇幼瞽，兩目皆白翳矇住，叫其揉四眥，一日後改滿紅絲，淚出如泣，惜其不願而止。勢無中立，焉知不能退盡復明耶？新生翳揉即退，已屢試屢驗矣。予目久昏，揉後燈下尚能作楷，亦可為證矣。</p>
<p>三十一、經絡起止，方書具載，隨在可查。茲揉久覺有未盡者，如六陽經自手交肩上頭，由夾車附肺管入腹，書所載也。以理推之，六陰經應自足交毛中上莖，由囊附溺管入腹，書所未載也。陽明交鼻額、太陽交額巔，書所載也。少陽經交山根，書所未載也。又私意六陽六陰皆該入腦，陽在外，走前；陰在內，走後，交接而行，循環無首，隨在分名，無另起理。此皆臆說矣，俟後來者駁之。即以目論，書云眼為肝竅，五臟六腑之精氣上注於目而為之精，筋骨氣血之精與脈並而為之系，上屬於腦，後出於項中，此六經入腦之一證也，經絡歌上惟心肝二經系連目系而已。</p>
<p>三十二、經絡自手交肩至腦後，出耳上，下夾車至缺盆，三陽經左右六根，自缺盆回往頸夾已成十二根，共十八根，皆環貼頸項。一經淤積，經脈仍通，積則淤停，再積則多，再多則長，再長則彎，彎則垂為雙頭，多一根矣。一根變而為三，成為五十四根，頸項焉得不粗？翳膜取給於上，頭皮焉得不緊？頭上從此亦生淤積矣。且垂下雙頭至肩背則駝，至腰胯則痠痛，至腿腳則痿痹、臃腫、腳氣，上衝則頭痛，在面前則壓於膈上，五臟六腑能無病乎？即如六陽經自缺盆回頭，其積則垂至腿中，統於下胲、承漿穴，揉根以吊之，方始上消。自頭下者，則隨與足三陰上消。其積如石在土，日有增長，以積引積，久而自大，雖堅硬如磐石而轉折如流沙，此天留生路以與人也。</p>
<p>三十三、或有問積究竟何似者？予曰：考之方書，陰陽不和，臟腑虛弱，四氣七情失常，所以為積聚，久為癥瘕，中為痰飲，右為食積，左為死血。以予年來所覺，是皆另病，積則非是。何也？以其堅如石，流如沙，體其質似皆小水泡也。水泡非病，由少至多實足以致病，如大河水漲，岸邊水沫聚成大塊，皆小水泡之所積也。人身何以有此？請譬之。即如家常餘留飯菜，一經受熱則酸而起泡，再遲則白沫上湧，皆蘊熱為之也。人之腹中亦然，飲食不時，胃中蘊郁成熱，時則有吞酸之病，氣蒸而酸，久必作泡。泡輕而浮，先氣而行，周流四肢、百竅，氣可轉回，小泡淤停黏著，日積日多，成條成塊，凡有孔隙窒塞而百病生矣。吊之能行，揉之即散，所以為水泡之論也。予自幼右肋下有積，橫梗心下，醫云伏梁，由來已久，揉後無之。又予左臂生癬，內如細粟，揉盡而愈，此水泡之證也。逢冬咳嗽吐痰、手足凍瘃，揉後均愈。因知人病咳嗽，是積尖刺礙肺管；久而吐血，是積大脹破肺管，故血色鮮紅。若積消長合，血止而愈，否則大吐矣。推而至於噎嗝，積成條塊擠住食嗓，陽分開，陰分閉，非積之使然乎？余病可以類推，然仍是陰陽不和之故。陰陽氣血相生，何至不和？譬如夫婦本和，小人間之，必致仳離。小人者積也，可不亟亟去之乎？</p>
<p>三十四、凡人物秉受生氣者，皆不能無病。物不能自治，人則可以自治，天之生成於人獨厚矣。得此揉法，非但可以自治已病，並可以治病之未生，豈非《素問》所云至人治未病不治已病之謂耶？語人曰：吾不能，是不為也，非不能也。安於吾身不能居仁由義，謂之自棄也。可惜乎？否乎？孟子曰：拱把之桐梓，人苟欲生之，皆知所以養之者，豈愛身不若桐梓哉？縱無竟日長工，亦隨在可偷半日閒也。上登五福之二，下免六極之三，於己取之而已。不得式者，以十五六成童比較為樣，如同診脈可以知積之有無，以人治人，復自己之本來面目，無病而止，非同索隱行怪之為也。</p>
<p>三十五、予嘗慨治生者之惑矣，既欲其病，又不準其病，是惑也。飲食男女，大欲存焉，不節不時，淫以生疾，非欲其病乎？死亡病苦，大惡存焉，涼熱攻補，急以任醫，非不準其病乎？即使藥到病除，而氣血已虧，何如預為調攝之是耶？不知服藥仍靠本人氣旺行之，否亦不易見功。甚有受藥病而再以藥治藥者，人不受累乎？補藥尤不足憑，至補者無如五穀六畜，設使不吃而專服補藥，能長生精神乎？夫人知其不可也。至於人參，僅止性熱，原不能補益人之生氣，無病調養已覺多此一層，有病用之立見大害，何樂乎？占富有之名而自戕乎？諺云：藥醫不死病，佛度有緣人。然則欲治死病者，當舍藥物而求於揉曬矣。附此以勸戒者，吾將以為類者緣也。暴病不吃，覺餓即愈，新病揉之曬之即愈，舊病久揉久曬亦愈，如此而已。</p>
<p>三十六、去冬晤孫真人修崑崙語，推廣為之，節節見效。正如山窮水盡忽而柳暗花明，境界不可思擬，轉瞬即難追想，隨時隨筆記之，直錄無文者也。意在善與人同，不恤言之詳盡，其中不無重複矛盾者。譬之遊山獨逢佳境，喜而歸告，不自覺其拉雜矣。芒芒助長之心，只欲人知揉之可為，而亦為之，說僅大略，未能達意也。若果有為者，則造道自得，必另有一番境遇，如山陰道上應接不暇，光景亦推善同之意，向後來者告，有餘師矣，暇計予言之是非耶？非然者將謂山徑蹊間之路，必無為間茅塞之理，則予言更是有若無矣。遇與不遇，有緣無緣，盡吾之心焉而已；信與不信，有積無積，任人之意焉而已。</p>
<p>三十七、自揉至今，同人揉效者列後：手痠麻者、結喉露齒者、頸結瘰癧者、眼中生翳者、腦漏兼痔者、面生白瘤者、喉痹時發者、睡難翻身者、指不任用者、腿上生癬者、以上皆揉顴夾及海底而愈。至予之積久病多，揉愈者，散見於前矣。再凡有揉者，從無腦暈頭痛之病，眾口同聲，此修崑崙不死之明證也。</p>
<p>三十八、予揉夾車起手，終於海底，所歷之境如此，若積有淺深，揉有先後，殊途同歸，原無一定板法也。年餘竭力，舊疴悉除，耳目重明，手足便利，陽萎復起，禿髮再生，實不自覺為七十也。壯不如人，老將奚為？但願後來者趁壯年行之，當必精力倍增，早建事業，並試行有效，廣為傳習，同登彼岸，是則予之後望也夫！</p>

<h1>曬說</h1>
<p>丁亥年回蘇省親，時年五十二歲，因指麻唇吊，頸項堅硬，筋多瘰癧，肩背有癬，腰作蟲行，雖飲食起居尚是照常，惟於陽事不健而已。親命就名醫診視，雲氣血兩虧，難期脫體，非重用附桂大補氣血不可，立方而散。予以向服熱藥牙必出血，置之。因思氣血無不由頸上下，不論所以然，且揉頸項以圖目前，不知所謂經絡也。幸無甚病，而頸中間亦鬆軟，惟無法淨去耳。又每逢行走急促，胸膈作木石碰聲，左脅牽痛而喘，逢冬咳嗽吐痰、耳足凍瘃，腰腿間作痠痛，此皆積久蔓延而然；彼時實不知也。一切尚能支持者，未必非亂揉之力也。後以腰腿痠痛，有人傳以曬法者，伏天赤身於烈日中曬之，汗如水流，風來涼爽，不覺其熱也。惟初曬必脫皮，厚薄則隨其病，甚至起水泡，其愈極快，無過二日者，真化工也。自是每伏必曬，諸積病悉不為患，而潮濕拘牽則截然而止，不乞靈於草木者，幾二十年矣，今則無分冬夏，晴日必曬，間有微汗，無病故也。曬之功力，可云大矣，壯先天之元陽，滋後天之真陰，神光洞徹，表裡不遺，陰翳潛消，營衛無間，即使周身大積，能令伏不為患，非氣血充足能若是乎？當積伏也，血足以養之；及積出也，氣足以運之，去邪扶正，更云神乎？今見孫真人格言，悟而為之，若有鬼神通之者。遂將六十餘年之積期月盡消，內外諸病一掃而清，此正藉氣血之充足也，非數年曬功，能若斯之速乎？所謂自天祐之，吉無不利也。倘得再假歲月，揉以通氣血，而癥去瘕消：曬以分陰陽，而清升濁降，皮骨筋肉更換一番，庶不負此生矣。茲。以揉說既集，更以曬法經驗附焉。同是君子，求已之易事，實為治病第一之良法。凡男婦頭風、腦漏、牙疼、耳腫、腳氣、臁瘡、手足腰背筋骨疼痛、風寒濕熱虛弱痠軟等症，於三伏日巳午未時，赤身於烈日中曬之，不論新舊大小病症。概能痊愈除根，即婦女月事，亦可曬，通天地化育神工，難以殫述。第不可遮蓋著衣，及致受熱也。月之未申，歲之伏也；時之未申，日之伏也。急病則隨日可曬，亦見奇效。統而論之，增長人之精神氣血者，曬也。積雖並育而不害，感傷能散，積解未形，於以見生成之大。除刈積之根本枝蔓者，揉也。人得復元而無贅，中外更新。人須益健。亦以知補助之能並行不怠，互相資益，佇見事半功倍之效。嘗以細蝨曬於烈日，行走迅速，生氣愈旺，可以證陽生陰長、循環無端之理矣。此以至小者言大，則萬物無日不生，言豈有盡耶？或曰：農人終日曝曬何亦有病？曰：是先有內傷，再受外感所致，與曬何尤？設使曬後壯實，風寒且不侵，何有於病耶？自修者曷一試焉？無負此野人負暄獻曝之忱也。</p>

<h1>跋</h1>
<p>天地之大德曰生，信有之矣，然必待人力以成也。如佃田然，除鋤草萊，五穀方茂，若聽其自然，則草滿而田荒矣，豈天不施地不生耶？由芸力之不至也。積之於人也，亦然。臟腑筋皮秉受氣血，互相生養，有益無礙，各完本形。若至於積，如鐵生鏽，附骨肉臟腑以生，分氣血筋膜以成，初如絲粗，有長無消，及其至也，日引月長，歲粗時大，非但氣血皆為所奪，即部位亦為所侵，空竅塞滿，百病叢生，人反無以自完矣。養癰成患，誰任其咎？今得此揉法，積可立消，病永不生，真起死回生之術，宜其為養形之法矣。予六十餘年之積，亦云多矣，竭數月之工已獲大效，年餘之後，一洗而淨，可不謂之神速乎？不知我獨如此，或人人皆可如此。茫茫天壤，前無古人，後無來者，孰從而就正之哉？於其完也，書此一冊，交子侄等，留以咨訪，亦有同予者否，乞其鑑定焉。或有同志自修，仿為以保其身，亦可匡予之不逮然。譬若掘井九仞而不及泉，猶為棄也，尚各勉旃。諺云：修仙未成者，固須日日修；已成者，尤須日日修。一經間斷，即仍不仙。譬此揉工，庶幾近似。</p>
<p><u>丙午六月立秋日</u></p>
<p><u>天休子跋之兼以自勖云爾</u></p>
<p>心之官則思，思則得之，不思則不得也。若是乎人同此心，心同此理，莫不欲得而竟有不思者，何也？非不欲思也，有所蔽而不能自主也。非蔽於物也，乃本身中自生之積耳。夫心之於五行，火也，請以火喻。人譬爐也，食譬炭也，心譬火也，思譬焰也、積譬灰也。堅其爐，多其炭，去其灰，火自旺，焰自明，出不竭，用不窮，至誠無息之謂也。今火而不焰，非火故也，灰蔽之也。不蔽焰明，輕蔽焰微，重則不焰，再重則熄，去灰則復焰矣。心之積與火之灰同，心之思不思，系積之有無輕重焉。有說乎？曰有，請以中風病證之，卒然不省，尚能飲食，非積之蔽心重乎？言語模糊，猶可半了，非積之蔽心輕乎？次則明少暗多，繼則明多暗少，以漸輕以漸明，明則能思矣，仍以多少分耳。推而言之，人之殘忍、，刻薄、乖戾、執拗，孰無人心，而若是之異乎？必是由積蔽所致，又分輕重矣。此惟精惟一，允執厥中，之所以大聖人也。方書云：誨言病、怕治病，即是病，即此意也。然則忠恕絜矩，自反多識，前言往行，以畜其德，人不同與。曰是道心也，為明而能思者言可。若積蔽者復人心而不能，奚暇論道心哉？向惜天分限者，無治心法，今始得法，去其積則心可復明，而無思不得矣。果能揉之，五行無滯，相養相生，百節疏通，萬竅玲瓏，天君泰然，四肢從令，雖愚必明，雖柔必強，所謂修身，在正其心。</p>
<p>「誰人肯向死前休」，帝君簽語也。幼年誦之，既訝設詞之異，又詫撒手之難，心嚮往之，或一見焉。於時雙親蔭芘，未涉世緣，轉瞬七十年矣，夢境迷離，如侍膝下，恍然在目前也。其中四十餘年，齊、魯、吳、越、楚、粵、燕、豫，馳驅南北，足跡摩停；地方河工，官場皆歷；名韁利絆，辛苦備嘗。此中所恃以立骨者，和平簡易，肯吃虧而不佔便宜，常存知止有定之訓，從無爭競不肯之心，自幼本性直貫於今。己亥冬月，引見更蒙召見，以才具平庸休致，此天休於前也。自維一芥之微，草彌木卒，何與輕重有無？乃得仰沐聖明之恩，退遂林泉之願，上天默佑，何因材之篤也。羽漸歸陸，尾遁潛淵，一衣一食，外無求焉，不聞不問，自適自樂，一切世事度外置焉，此自休於後也。非肯從辟人之士也，同夢論夢，已無謂矣，夢後預期重夢，不更無謂乎？非肯從辟世之士也，逢場作戲，已覺假矣，場下自演獨戲，不更覺假乎？休已乎休矣！人休我乎？人不休我，我休人也。世休我乎？世不休我，我休世也。休已乎休矣！休乎其所當休，休乎其所樂休，休乎其所不得不休，何所謂肯休與不肯休耶？獨不意六十年前，嚮往欲見之人而身蹈之也。理耶？數耶？天耶？人耶？莫之為而為者，天也，莫之致而致者，人也。遂自易名曰天休子，並系以偈：雖休勿休，作德日休，其心休休，何天之休。</p>
<p>休致歸來，死前世事皆肯休矣，惟肯休而不容於肯休者，惟此身之生氣耳。存其心、養其性，修身以俟天休而已。數年以來，並筆墨事亦休，諉云懶於用心，其實是不能收放心，又安能用思心哉？向有自修之法，曰「曬」，今有自修之法，曰「揉」。皆前人成法，未有發明之言，不著證驗之實，故後人以老生常談置之，而反求醫於人、乞靈於草木，孰從而知為脫胎換骨、起死回生之神術乎？故不憚覙縷立說以表張之。問途已經，遵而道之，方信予言之不謬也，茲又為之現身說法焉。向云懶於用心，非我之懶於用自己之心，實自己之心懶為我用也，是懶也。何以未揉前如彼，既揉後如此，期月間前後各異，或即前所云即是病之說耶？自揉至今，不知心已收得否，又不知肯為我用否，因作心說一首、自偈一首，心中不似竟無頭緒者，不知是否揉而收得，一而二、二而一者也。然耶，否耶？若果然耶？則懶竟是病矣。既可揉去，則凡心之失其常者，無莫非病，且無莫不可揉而復之也。予眼白向多紅絲，揉後盡消。以此推之，心有翳膜，當亦可退，功夫到時，自必有驗，今則不敢必也，後亦未可諒也。</p>
<p>以上三則，揉後所得，理近於揉，故附於後。</p>
