<header data-type="book">
<h1>素問玄機原病式</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1188">公元1188年</data></dd></div>
<div><dt>底本</dt><dd>《古今醫統正脈全書·素問玄機原病式》，明萬曆29年（1601）吳勉學刊本（<a href="https://nrs.harvard.edu/urn-3:FHCL:27539509">哈佛燕京圖書館掃描本</a>）；日本延寶5年刊本（<a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00003934">京都大學掃描本</a>）；《欽定四庫全書·子部五·醫家類·素問玄機原病式》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0047/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫醫教者，源自伏羲，流於神農，注於黃帝，行於萬世，合於無窮，本乎大道，法乎自然之理。孔安國序《書》曰：伏羲、神農、黃帝之書，謂之三墳，言大道也。少昊、顓頊、高辛、唐、虞之書，謂之五典，言常道也。蓋五典者，三墳之末也，非無大道，但專明治世之道；三墳者，五典之本也，非無常道，但以大道為體，常道為用，天下之能事畢矣。然而玄機奧妙，聖意幽微，浩浩乎不可測，使之習者，雖賢智明哲之士，亦非輕易可得而悟矣。洎乎周代，老氏以精大道，專為道教；孔子以精常道，專為儒教。由是儒、道二門之教著矣。歸其祖，則三墳之教一焉。儒、道二教之書，比之三墳之經，則言象義理，昭然可據，而各得其一意也。故諸子百家，多為著述，所宗之者，庶博知焉。</p>
<p>嗚呼！余之醫教，自黃帝之後，二千五百有餘年，漢末之魏，有南陽太守張機仲景，恤於生民多被傷寒之疾，損害橫夭，因而輒考古經，以述《傷寒卒病方論》一十六卷，使後之學者，有可依據。然雖所論未備諸病，仍為要道，若能以意推之，則思過半矣，且所述者眾，所習者多，故自仲景至今，甫僅千歲，凡著述醫書，過往古者八、九倍矣。夫三墳之書者，大聖人之教也。法象天地，理合自然，本乎大道，仲景者，亞聖也。雖仲景之書，未備聖人之教，亦幾於聖人，文亦玄奧，以致今之學者，尚為難焉。故今人所習，皆近代方論而已，但究其末，而不求其本。</p>
<p>況仲景之書，復經晉·王叔和撰次遺方，宋開寶中，節度使高繼沖編集進上。雖二公操心用智，自出心意，廣其法術，雜於舊說，亦有可取。其間或失仲景本意，未符古聖之經，愈令後人學之難也。況仲景之世四升，乃唐、宋之一升，四兩為之一兩；曏者人能勝毒，及多㕮咀，湯劑有異今時之法。故今人未知其然，而妄謂時世之異，以為無用，而多不習焉。惟近世朱奉議多得其意，遂以本仲景之論，而兼諸書之說，編集作《活人書》二十卷。其門多，其方眾，其言直，其類辨，使後學者，易為尋檢施行，故今之用者多矣。然而其間亦有未合聖人之意者，往往但相肖而已。由未知陰陽變化之道，所謂木極似金，金極似火，火極似水，水極似土，土極似木者也。故《經》曰：「亢則害，承乃制。」謂己亢過極則反似勝己之化也。俗未之知，認似作是，以陽為陰，失其意也。</p>
<p>嗟夫！醫之妙用，尚在三墳，觀夫後所著述者，必欲利於後人，非但矜炫而已，皆仁人之心也，非不肖者所敢當。其間互有得失者，由乎言本求其象，象本求其意，意必合其道，故非聖人，而道未全者，或盡其善也鮮矣。豈欲自涉非道而亂聖經，以惑人志哉。</p>
<p>自古如祖聖伏羲畫卦，非聖人孰能明其意二萬餘言？至周文王方始立象演卦，而周公述爻，後五百餘年，孔子以作《十翼》，而《易》書方完然。後易為推究，所習者眾，而注說者多。其間或所見不同而互有得失者，未及於聖，竊窺道教故也。易教體乎五行八卦，儒教存乎三綱五常，醫教要乎五運六氣，其門三，其道一，故相須以用而無相失，蓋本教一而已矣。若忘其根本，以求其華實之茂者，未之有也。</p>
<p>故《經》曰：「夫五運陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本始，神明之府也。可不通乎？」《仙經》曰：「大道不可以籌算，道不在數故也。可以籌算者，天地之數也。若得天地之數，則大道在其中矣。」經曰：「天地之至數，始於一而終於九。數之可十，推之可百，數之可千，推之可萬，萬之大不可勝數，然其要一也。」又云：「知其要者，一言而終，不知其要，流散無窮。」又云：「至數之機，迫迮而微，其來可見，其往可追，敬之者昌，慢之者亡，無道行私，必得天殃。」又云：「治不法天之紀，地之理，則災害至矣。」又云：「不知年之所加，氣之興衰，虛實之所起，不可以為工矣。」由是觀之，則不知運氣而求醫無失者，鮮矣！</p>
<p>今詳《內經·素問》，雖已校正改誤音釋，往往尚有失古聖之意者，於俗聞之，未必不曰，爾何人也，敢言古昔聖賢之非？嗟夫！聖人之所為，自然合於規矩，無不中其理者也！雖有賢哲，而不得自然之理，亦豈能盡善而無失乎？況經秦火之殘文，世本稀少。故自仲景之後，有缺「第七」一卷，天下至今無復得其本。然雖存者，布行於世，後之傳寫鏤板，重重差誤，不可勝舉。以其玄奧而俗莫能明，故雖舛訛，而孰知之！故近代敕勒孫奇，高保衡、林億等校正，孫兆改誤，其序有言曰：「正謬誤者，六千餘字，增注義者，二千餘條。」若專執舊本，以為往古聖賢之書，而不可改易者，信則信矣，終未免泥於一隅。</p>
<p>及夫唐·王冰次注序云：「世本紕繆，篇目重迭，前後不倫，文義懸隔，施行不易，披會亦難。歲月既淹，習以成弊，或一篇重出，而別立二名。或兩論併合，而都為一目；或問答未已，而別樹篇題；或脫簡不書，而云世缺。重《合經》而冠《針服》；並《方宜》而為《咳篇》；隔《虛實》而為《逆從》；合《經絡》而為《論要》；節《皮部》而為《經絡》，退《至教》以先《針》。如此之流，不可勝數。」又曰：「其中簡脫文斷，義不相接者，搜求經論所有，遷移以補其處；篇目墜缺，指事不明者，詳其意趣，加字以昭其義；篇論吞併，義不相涉，缺漏名目者，區分事類，別目以冠篇首；君臣請問，義理乖戾者，考較尊卑，增益以光其意；錯簡碎文，前後重迭者，詳其旨趣，削去繁雜，以存其要，辭理秘密，難粗論述者，別撰《玄珠》，以陳其道。凡所加字，皆朱書其文，使今古必分，字不雜糅。」然則豈但僕之言哉！設若後人或怒王冰、林億之輩，言舊有訛謬者，弗去其注，而惟攻其經，則未必易知而過其意也。</p>
<p>然而王冰之注，善則善矣，以其仁人之心，而未備聖賢之意。故其注或有失者也。由是校正改誤者，往往證當王冰之所失，其間不見其失，而不以改證者，不為少矣。雖稱校正改誤，而或自失者，亦多矣。嗚呼！不惟注未盡善，而王冰遷移加減之經，亦有臆說，而不合古聖之意者也。雖言凡所加字皆朱書其文，既傳於世，即世文，皆為墨字也。凡所改易之間，或不中其理者，使智哲以理推之，終莫得其真意，豈知未達真理，而不識其偽所致也。近世所傳之書，若此說者多矣。然而非其正理，而欲求其真意者，未之有也，但略相肖而已。雖今之經與注，皆有舛訛，比之舊者，則易為學矣。若非全元起本，及王冰次注，則林億之輩，未必知若是焉，後之知者多因之也。今非先賢之說者，僕且無能知之，蓋因諸舊說，而方入其門，耽玩既久，而粗見得失。然諸舊失，而今有得者，非謂僕之明也；因諸舊說之所得者，以意類推，而得其真理，自見其偽，亦皆古先聖賢之道也。僕豈生而知之者哉！</p>
<p>夫別醫之得失者，但以類推運氣造化之理，而明可知矣。觀夫世傳運氣之書多矣，蓋舉大綱，乃學之門戶。皆歌頌鈐圖而已，終未備其體用，及互有得失，而惑人志者也。況非其人，百未得於經之一二，而妄撰運氣之書，傳於世者，是以矜己惑人，而莫能彰驗，致使學人不知其美，俾聖經妙典，日遠日疏，而習之者鮮矣。悲夫！世俗或以謂運氣無徵，而為惑人之妄說者。或但言運氣為大道玄機，若非生而知之則莫能學之者。由是，學者寡而知者鮮。設有攻其本經，而復有注說雕寫之誤也，況乎造化玄奧之理，未有比物立象以詳說者也。</p>
<p>僕雖不敏，以其志慕茲道，而究之以久，略得其意，惜乎天下尚有未若僕之知者。據乎所見，而輒伸短識，本乎三墳之聖經，兼以眾賢之妙論，編集運氣要妙之說。十萬余言，九篇三部，勒成一部，命曰《內經運氣要旨論》，備見聖賢之妙用。然妙則妙矣，以其妙道，乃為對病臨時處方之法，猶恐後學未精貫者，或難施用。覆宗仲景之書，率參聖賢之說。推夫運氣造化自然之理，以集傷寒雜病脈證方論之文，一部三卷，十萬余言，目曰《醫方精要宣明論》。凡有世說之誤者，詳以此證明之，庶令學者，真偽自分，而易為得用。</p>
<p>且運氣者得於道同，蓋明大道之一也。觀夫醫者，唯以別陰陽虛實，最為樞要，識病之法，以其病氣歸於五運六氣之化，明可見矣。謹率《經》之所言，二百餘字，兼以語辭，二百七十七言，緒歸五運六氣而已。大凡明病陰陽虛實，無越此法。雖已並載前之二帙，復慮世俗多出妄說，有違古聖之意。今特舉二百七十七字，獨為一本，名曰《素問玄機原病式》。遂以比物立象，詳論天地運氣造化自然之理二萬餘言，仍以改證世俗謬說。雖不備舉其誤，其意足可明矣；雖未備論諸疾，以此推之，則識病六氣陰陽虛實，幾於備矣。蓋求運氣言象之意，而得其自然神妙之情理。《易》曰：「書不盡言，言不盡意，設卦以盡情偽，繫辭焉以盡其言，變而通之以盡利，鼓之舞之以盡神。」《老子》曰：「不出戶知天下，不窺牖見天道。其出彌遠，其知彌少。」蓋由規矩而取方員也。夫運氣之道者，猶諸此也。嗟夫！僕勉述其文者，非但欲以美於己而非於人，矜於名而苟於利也，但貴學者易為曉悟，而行無枉錯耳。如通舉《內經運氣要旨論》及《醫方精要宣明論》者，欲令習者求其備也。其間或未臻其理者，幸冀將來君子以改正焉。但欲同以宣揚古聖之妙道，而普救後人之生命爾。</p>

<h1>一、五運主病</h1>

<h2>（一）諸風掉眩，皆屬肝木</h2>

<h3>（總綱）</h3>
<p>諸風掉眩，皆屬肝木。</p>

<h3>（分述）</h3>
<p>掉，搖也。眩，昏亂旋運也。風主動故也。所謂風氣甚，而頭目眩運者，由風木旺，必是金衰不能制木，而木復生火，風火皆屬陽，多為兼化，陽主乎動，兩動相搏，則為之旋轉。故火本動也，焰得風則自然旋轉。如春分至小滿，為二之氣，乃君火之位；自大寒至春分七十三日，為初之氣，乃風木之位，故春分之後，風火相搏，則多起飄風，俗謂之旋風是也，四時多有之。由五運六氣千變萬化，沖蕩擊搏，推之無窮，安得失時而便謂之無也。但有微甚而已。人或乘車躍馬、登舟環舞而眩運者，其動不正，而左右紆曲，故《經》曰：曲直動搖，風之用也。眩運而嘔吐者，風熱甚故也。</p>

<h2>（二）諸痛癢瘡瘍，皆屬心火</h2>

<h3>（總綱）</h3>
<p>諸痛癢瘡瘍，皆屬心火。</p>

<h3>（分述）</h3>
<p>人近火氣者，微熱則癢，熱甚則痛，附近則灼而為瘡，皆火之用也。或癢痛如針輕刺者，猶飛迸火星灼之然也。癢者，美疾也。故火旺於夏，而萬物蕃鮮榮美也。炙之以火，漬之以湯，而癢轉甚者，微熱之所使也；因而癢去者，熱令皮膚縱緩，腠理開通，陽氣得泄，熱散而去故也。或夏熱皮膚癢，而以冷水沃之不去者，寒能收斂，腠理閉密，陽氣鬱結，不能散越，怫熱內作故也。癢得爬而解者，爬為火化，微則亦能令癢；甚則癢去者，爬令皮膚辛辣，而屬金化，辛能散，故金化見則火力分而解矣。或云痛為實，癢為虛者，非謂虛為寒也，正謂熱之微甚也。或疑瘡瘍皆屬火熱。而反腐爛出膿水者，何也？猶骨肉果菜，至於熱極，則腐爛而潰為汙水也。潰而腐爛者，水之化也。所謂五行之理，過極則勝己者反來制之，故火熱過極，則反兼於水化。又如鹽能固物，令不腐爛者，鹹寒水化，制其火熱，使不過極，故得久固也。萬物皆然。</p>

<h2>（三）諸濕腫滿，皆屬脾土</h2>

<h3>（總綱）</h3>
<p>諸濕腫滿，皆屬脾土。</p>

<h3>（分述）</h3>
<p>地之體也，土。熱極盛則痞塞腫滿，物濕亦然，故長夏屬土，則庶物隆盛也。</p>

<h2>（四）諸氣膹郁病痿，皆屬肺金</h2>

<h3>（總綱）</h3>
<p>諸氣膹郁病痿，皆屬肺金。</p>

<h3>（分述）</h3>
<p>膹，謂膹滿也。郁，謂奔迫也。痿，謂手足痿弱，無力以運動也。大抵肺主氣，氣為陽，陽主輕清而升，故肺居上部，病則其氣膹滿奔迫，不能上升，至於手足痿弱，不能收持，由肺金本燥，燥之為病，血液衰少，不能營養百骸故也。《經》曰：「手指得血而能攝，掌得血而能握，足得血而能步。」故秋金旺則霧氣蒙郁，而草木萎落，病之象也。萎，猶痿也。</p>

<h2>（五）諸寒收引，皆屬腎水</h2>

<h3>（總綱）</h3>
<p>諸寒收引，皆屬腎水。</p>

<h3>（分述）</h3>
<p>收斂引急，寒之用也。故冬寒則拘縮矣。</p>

<h1>二、六氣為病</h1>

<h2>（一）風類</h2>

<h3>（總綱）</h3>
<p>諸暴強直，支痛軟戾，裡急筋縮，皆屬於風。（厥陰風木乃肝膽之氣也）</p>

<h3>（分述）</h3>
<p>暴，卒也，虐害也。強，勁有力而不柔和也。直，筋勁強也。支痛，支持也，堅固支持，筋攣不柔而痛也。軟戾：軟，縮也。戾，乖戾也。謂筋縮裡急乖戾失常而病也。然燥金主於緊斂短縮勁切。風木為病，反見燥金之化，由亢則害，承乃制也。況風能勝濕而為燥也，亦十月風病勢甚而成筋緩者，燥之甚也。故諸風甚者，皆兼於燥。</p>

<h2>（二）熱類</h2>

<h3>（總綱）</h3>
<p>諸病喘，嘔，吐酸，暴注，下迫，轉筋，小便渾濁，腹脹大鼓之如鼓，癰，疽，瘍，疹，瘤氣，結核，吐下霍亂，瞀，郁，腫脹，鼻塞，鼽，衄，血溢，血泄，淋，閟，身熱惡寒，戰慄，驚，惑，悲，笑，譫，妄，衄，蔑血汗，皆屬於熱。（手少陰君火之熱，乃真心、小腸之氣也）</p>

<h3>（分述）</h3>
<p><u>（喘）</u></p>
<p>喘：火氣甚為夏熱，衰為冬寒。故病寒則氣衰而息微，病熱則氣甚而息粗，又寒水為陰，主乎遲緩；熱火為陽，主乎急數。故寒則息遲氣微，熱則息數氣粗而為喘也。</p>
<p><u>（嘔）</u></p>
<p>嘔：胃膈熱甚則為嘔，火氣上炎之象也。</p>
<p><u>（吐酸）　</u></p>
<p>吐酸：酸者，肝木之味也。由火盛制金，不能平木，則肝木自甚，故為酸也。如飲食熱則易於酸矣。或言吐酸為寒者，誤也。又如酒之味苦而性熱，能養心火，故飲之則令人色赤氣粗，脈洪大而數，語澀譫妄，歌唱悲笑，喜怒如狂，冒昧健忘，煩渴，嘔吐，皆熱證也。其吐必酸，為熱明矣。況熱則五味皆厚。《經》曰：「在地為化，化生五味，」皆屬土也。然土旺勝水，不能制火，則火化自甚，故五味熱食，則味皆厚也。是以肝熱則口酸，心熱則口苦，脾熱則口甘，肺熱則口辛，腎熱則口咸。或口淡者，胃熱也。胃屬土，土為萬物之母，故胃為一身之本，淡為五味之本。</p>
<p>然則吐酸，豈為寒者歟？所以妄言為寒者，但謂多傷生硬黏滑，或傷冷物，而喜噫醋吞酸，故俗醫主於溫和脾胃，豈知《經》言：「人之傷於寒也，則為病熱。」蓋寒傷皮毛，則腠理閉密，陽氣怫鬱，不能通暢，則為熱也。故傷寒身表熱者，熱在表也。宜以麻黃湯類甘辛熱藥發散；以使腠理開通，汗泄熱退而愈也。凡內傷冷物者，或即陰勝陽，而為病寒者。或寒熱相擊，而致腸胃陽氣怫鬱而為熱者；亦有內傷冷物而反病熱，得大汗熱泄身涼而愈也，或微而不為他病，止為中酸，俗謂之「醋心」是也。法宜溫藥散之，亦猶解表之義，以使腸胃結滯開通，怫熱散而和也。若久喜酸而不已，則不宜溫之，宜以寒藥下之，後以涼藥調之，結散熱去則氣和也。所以中酸不宜食黏滑油膩者，是謂能令陽氣壅塞，鬱結不通暢也。如飲食在器，覆蓋，熱而自酸也。宜餐糲食蔬菜，能令氣之通利也。</p>
<p><u>（暴注）</u></p>
<p>暴注：卒暴注泄也。腸胃熱甚而傳化失常，火性疾速，故如是也。</p>
<p><u>（下迫）</u></p>
<p>下迫：後重裡急，窘迫急痛也，火性急速而能燥物故也。</p>
<p><u>（轉筋）</u></p>
<p>轉筋：《經》云轉反戾也，熱氣燥爍於筋，則攣瘈而痛，火主燔灼，燥動故也。或以為寒客於筋者，誤也。蓋寒雖主於收引，然止為厥逆禁固，屈伸不便，安得為轉筋也！所謂轉者，動也，陽動陰靜，熱證明矣。夫轉筋者，多因熱甚，霍亂吐瀉所致。以脾胃土衰，則肝木自甚，而熱燥於筋，故轉筋也。大法渴則為熱。凡霍亂轉筋而不渴者，未之有也。或不因吐瀉，但外冒於寒，而腠理閉密，陽氣鬱結，怫熱內作，熱燥於筋，則轉筋也。故諸轉筋以湯漬之，而使腠理開泄，陽氣散則愈也。因湯漬而愈，故俗反疑為寒也。</p>
<p><u>（小便渾濁）</u></p>
<p>小便渾濁：天氣熱則水渾濁，寒則清潔，水體清而火體濁故也。又如清水為湯，則自然濁也。</p>
<p><u>（腹脹）</u></p>
<p>腹脹大，鼓之如鼓：氣為陽，陽為熱，氣甚則如是也。</p>
<p><u>（癰）、（疽）、（瘍）、（疹）、（瘤氣）、（結核）</u></p>
<p>癰：淺而大也。經曰：熱勝血，則為癰膿也。</p>
<p>疽：深而惡也。</p>
<p>瘍：有頭小瘡也。</p>
<p>疹：浮小癮疹也。</p>
<p>瘤氣、赤瘤、丹熛：熱勝氣也，火之色也。</p>
<p>結核：火氣熱甚則鬱結，堅硬如果中核，不必潰發，但令熱氣散則自消矣。</p>
<p><u>（吐下霍亂）</u></p>
<p>吐下霍亂：三焦為水穀傳化之道路，熱氣甚則傳化失常，而吐瀉霍亂，火性燥動故也。或云熱無吐瀉，止是停寒者，誤也。大法吐瀉煩渴為熱，不渴為寒；或熱吐瀉，始得之，亦有不渴者；若不止則亡液，而後必渴。或寒本不渴，若亡津液過多，則亦燥而渴也。但寒者脈當沉細而遲，熱者脈當實大而數。或損氣亡液過極，則脈亦不能實數，而反弱緩，雖爾，亦為熱矣。</p>
<p>又曰：瀉白為寒，青、黃、紅、赤、黑，皆為熱也。蓋瀉白者，肺之色也。由寒水甚而制火，不能平金，則肺金自甚，故色白也。如濁水凝冰，則自然清瑩而明白。利色青者，肝木之色也，由火甚制金，不能平木，則肝木自甚，故色青也。或言利色青為寒者，誤也。仲景法曰：少陰病下利清水，色純青者，熱在裡也，大承氣湯下之。及夫小兒熱甚急驚，利色多青，為熱明矣。利色黃者，由火甚則水必衰，而脾土自旺，故色黃也。利色紅為熱者，心火之色也；或赤者，熱深甚也。至若利色黑，亦言為熱者，由火熱過極，則反兼水化制之，故色黑也，如傷寒陽明病，熱極則日晡潮熱，甚則不識人，循衣摸床，獨語如見鬼狀，法當大承氣湯下之。大便不黑者易治，黑者難治，諸痢同法。</p>
<p>然辨痢色以明寒熱者，更當審其飲食藥物之色。如小兒病熱，吐利霍亂，其乳未及消化，而痢尚白者，不可便言為寒，當以脈證別之。大法瀉痢小便清白不澀為寒，赤澀為熱。又完穀不化而色不變，吐利腥穢，澄澈清冷，小便清白不澀，身涼不渴，脈遲細而微者，寒證也；穀雖不化，而色變非白，煩渴小便赤黃，而或澀者，熱證也。凡穀消化者，無問色及他證，便為熱也。寒瀉而穀消化者，未之有也。由寒則不能消化谷也。或火主疾速而熱甚，則傳化失常，谷不能化而飧泄者，亦有之矣。仲景曰，邪熱不殺穀。然熱得於濕，則飧泄也。</p>
<p>或言下痢白為寒，誤也。若果為寒，則不能消穀，何由反化為膿也？所謂下痢谷反為膿血，如世之穀肉果菜，濕熱甚，則自然腐爛潰發，化為汙水。故食於腹中，感人濕熱邪氣，則自然潰發，化為膿血也，其熱為赤，熱屬心火故也。其濕為黃，濕屬脾土故也。燥郁為白，屬肺金也。《經》曰：「諸氣膹郁，皆屬於肺。」謂燥金之化也。王冰曰：「郁，謂奔迫，氣之為用，金氣同之。」然諸瀉痢皆兼於濕，今反言氣燥者，謂濕熱甚於腸胃之內，而腸胃怫熱鬱結，而又濕主乎痞，以致氣液不得宣通，因以成腸胃之燥，使煩渴不止也。假如下痢赤白，俗言寒熱相兼，其說猶誤。豈知水火陰陽寒熱者，猶權衡也，一高則必一下，一盛則必一衰，豈能寒熱俱甚於腸胃，而同為痢乎？如熱生瘡瘍，而出白膿者，豈可以白為寒歟？由其在皮膚之分，屬肺金，故色白也；次在血脈之分，屬心火，故為血癤也；在肌肉，屬脾土，故作黃膿；在筋部，屬肝木，故其膿色帶蒼；深至骨，屬腎水，故紫黑血出也。各隨五臟之部而見五色，是謂標也；本則一出於熱，但分淺深而已。大法下迫窘痛，後重裡急，小便赤澀，皆屬燥熱，而下痢白者，必多有之，然則為熱明矣。</p>
<p>或曰：白痢既為熱病，何故服辛熱之藥，亦有愈者耶？蓋辛熱之藥，能開發腸胃鬱結，使氣液宣通，流濕潤燥，氣和而已。然病微者可愈，甚者鬱結不開，其病轉加而死矣。凡治熱甚吐瀉亦然。夫治諸痢者，莫若以辛苦寒藥治之，或微加辛熱佐之則可。蓋辛熱能發散開通鬱結，苦能燥濕，寒能勝熱，使氣宣平而已。如錢氏香連丸之類是也。故治諸痢者，黃連、黃柏為君，以其至苦大寒，正主濕熱之病。乃若世傳辛熱金石毒藥，治諸吐瀉下利，或有愈者，以其善開鬱結故也。然雖亦有驗者，或不中效，反更加害。凡用大毒之藥必是善藥不能取效，不得已而用之可也，幸有善藥，雖不能取效，但有益而無損者，何必用大毒之藥，而謾勞巇嶮也。《經》曰：寧小與其大，寧善與其毒，此之謂也。</p>
<p>至如帶下之理，猶諸痢也，但分經絡與標之殊，病之本氣則一。舉世皆言白帶下為寒者，誤矣。所謂帶下者，任脈之病也。《經》曰：「任脈者，起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤，循面入目絡舌。」任脈自胞上過帶脈，貫臍而上。然其病所發，正在過帶脈之分，而淋瀝以下，故曰帶下也。赤白與下痢義同，而無寒者也。大法頭目昏眩，口苦舌乾，咽嗌不利，小便赤澀，大便秘滯，脈實而數者，皆熱證也。凡帶下者，亦多有之。果為病寒，豈能若此？《經》曰：「亢則害，承乃制。」謂亢過極，則反兼勝己之化，制其甚也。如以火鍊金，熱極則反為水。又如六月熱極，則物反出液而濕潤，林木流津。故肝熱甚則出泣，心熱甚則出汗。脾熱甚則出涎，肺熱甚則出涕，腎熱甚則出唾。亦猶煎湯，熱甚則沸溢，及熱氣熏蒸於物，而生津者也。故下部任脈濕熱甚者，津液湧溢而為帶下也。每見俗醫治白帶下者，但依近世方論，而用辛熱之藥。病之微者，雖或誤中，能令鬱結開通，氣液宣行，流濕潤燥，熱散氣和而愈。其或勢甚而鬱結不能開通者，舊病轉加，熱證新起，以至於死，終無所悟。曷若以辛苦寒藥，按法治之，使微者、甚者，皆得鬱結開通，濕去燥除，熱散氣和而愈。無不中其病，而免加其害。</p>
<p>且如一切怫熱鬱結者，不必止以辛甘熱藥能開發也，如石膏、滑石、甘草、蔥、豉之類寒藥，皆能開發鬱結。以其本熱，故得寒則散也。夫辛甘熱藥，皆能發散者，以力強開沖也。然發之不開者，病熱轉加也。如桂枝、麻黃類辛甘熱藥，攻表不中病者，其熱轉甚也。是故善用之者，須加寒藥，不熱，則恐熱甚發黃，驚狂或出矣。如表熱當發汗者，用辛甘熱藥。苟不中其病，尚能加害，況裡熱鬱結，不當發汗，而誤以熱藥發之不開者乎？又如傷寒表熱怫鬱，燥而無汗，發令汗出者，非謂辛甘熱藥屬陽，能令汗出也，由怫熱鬱結開通，則熱蒸而自汗出也。不然，則平人表無怫熱者服之，安有如斯汗出也？其或傷寒日深，表熱入里，而誤以辛甘熱藥汗之者，不惟汗不能出，而又熱病轉加，古人以為當死者也。又如表熱服石膏、知母、甘草、滑石、蔥、豉之類寒藥，汗出而解者；及熱病半在表，半在裡，服小柴胡湯寒藥，能令汗出而愈者；熱甚服大柴胡湯下之，更甚者，小承氣湯，調胃承氣湯、大承氣湯下之。發黃者，茵陳蒿湯下之；結胸者，陷胸湯、丸下之。此皆大寒之利藥也，反能中病，以令汗出而愈。然而中外怫熱鬱結，燥而無汗，豈但由辛甘熱藥為陽，而能開發汗出也。況或病微者，不治自然作汗而愈者也。所以能令作汗之由者，但怫熱鬱結，復得開通，則熱蒸而作汗也！凡治上下中外一切怫熱鬱結者，法當仿此。隨其淺深，察其微甚，適其所宜而治之。慎不可悉如發表，但以辛甘熱藥而已。</p>
<p>大抵人既有形，不能無病，有生不能無死。然而病者，當按法治之。其有病已危極，未能取效者，或已衰老而真氣傾竭，不能扶救而死者，此則非醫者之過也；若陰陽不審，標本不明，誤投湯藥，實實虛虛而致死者，誰之過歟！</p>
<p>且如酒之味苦而性熱，能養心火，久飲之。則腸胃怫熱鬱結，而氣液不能宣通，令人心腹痞滿，不能多食，穀氣內發，而不能宣通於腸胃之外，故喜噫而或下氣也。腹空水穀衰少，則陽氣自甚，而又洗嗽勞動，兼湯漬之，則陽氣轉甚，故多嘔而或昏眩也，俗云酒隔病耳。夫表裡怫熱鬱結者，得暖則稍得開通而愈，得寒則轉閉而病加，由是喜暖而惡寒！今酒隔者，若飲冷酒，或酒不佳，或不喜而強飲者，腸胃鬱結轉閉，而滿悶不能下也。或至飲興者，或熱飲醇酒者，或喜飲者，能令鬱結開通，善多飲也，因而過醉，則陽氣益甚而陰氣轉衰，酒力散，則鬱結轉甚而病加矣。</p>
<p>夫中酒熱毒，反熱飲以復投者，令鬱結得開，而氣液皆復得宣通也。凡酒病者，必須續續飲之，不然則病重，不能飲，鬱結不得開故也。凡鬱結甚者，轉惡寒而喜暖，所謂亢則害，承乃制，而陽極反似陰者也！俗未明之，因而妄謂寒病，誤以熱藥攻之，或微者鬱結開通而不再結，氣和而愈也；甚者稍得開通，而藥力盡則鬱結轉甚也。其減則微，其加即甚。俗無所悟，但云藥至即稍減，藥去即病加，惟恨藥小，未能痊除，因而志心服之，以至怫熱太甚，則中滿腹脹而䐜腫也。若小便澀而濕熱內甚者，故發黃也，猶物濕熱者，蒸之而發黃也。世俗多用巴豆大毒熱藥，以治酒隔者，以其辛熱能開發腸胃之鬱結也。微者結散而愈，甚者鬱結不開，怫熱轉甚而病加也。恨其滿悶故多服以利之，或得鬱結開通而愈者，以其大毒性熱。然雖鬱結得開，奈亡血液，損其陰氣，故或續後怫熱再結，而病轉者甚也。因思得利時愈，而複利之，如前之說，以利三五次間，則陰氣衰殘，陽熱太甚，而大小便赤澀發黃，腹脹腫滿也。或濕熱內甚，而時復濡泄也。</p>
<p>或但傷飲食，而怫熱鬱結，亦如酒病，轉成水腫者不為少矣。終不知怫熱內作則脈必沉數而實，法當辛苦寒藥治之，結散熱退，氣和而已。或熱甚鬱結不能開通者，法當辛苦寒藥下之，熱退結散而無鬱結也。所謂結者，怫鬱而氣液不能宣通也，非謂大便之結硬耳。或云水腫者，由脾土衰虛，而不能制其腎水，則水氣妄行，而脾主四肢，故水氣遊走四肢，身面俱腫者，似是而實非也。夫治水腫腹脹，以辛苦寒藥為君，而大利其大小便也。《經》曰：「中滿者治之於內；」然則豈為脾土之虛也？此說正與《素問》相反。《經》曰：「諸濕腫滿，皆屬脾土。」又云：「太陰所主胕腫。」又云：「濕勝則濡泄，甚則水閉胕腫，皆所謂太陰脾土濕氣之實甚也。」又《經》曰：「諸腹脹大，皆屬於熱。又云：諸胕腫疼酸驚駭，皆屬於火。」又曰：「熱勝則胕腫。」皆所謂心火實熱，而安得言脾虛不能制腎水之實甚乎？故諸水腫者，濕熱之相兼也。如六月濕熱太甚，而庶物隆盛，水腫之象，明可見矣。故古人制以辛苦寒藥治之，蓋以辛散結，而苦燥濕，以寒除熱，而隨其利，濕去結散，熱退氣和而已。</p>
<p>所以妄謂脾虛不能制其腎水者，但謂數下致之，又多水液故也。</p>
<p>豈知巴豆熱毒，耗損腎水陽氣，則心火及脾土自甚，濕熱相搏，則怫熱痞隔，小便不利而水腫也。更宜下之者，以其辛苦寒藥，能除濕熱怫鬱痞隔故也。亦由傷寒下之太早。而熱入以成結胸者，更宜陷胸湯、丸寒藥下之。又如傷寒誤用巴豆熱毒下之，而熱勢轉甚，更宜調胃承氣湯寒藥下之者也。若夫世傳銀粉之藥，以治水腫而愈者，以其善開怫鬱痞隔故也，慎不可過度而加害爾！況銀粉亦能傷牙齒者，謂毒氣感於腸胃，而精神氣血水穀不能勝其毒，故毒氣循經上行，而至齒齦嫩薄之分，則為害也。上下齒縫者，手足陽明胃之經也。凡用此藥，先當固濟爾！或云陰水遍身，而又惡寒，止是寒者，非也。《經》言：「少陰所至為驚惑，惡寒戰慄，悲笑譫妄，謂少陰君火熱氣之至也。」詳見下文惡寒戰慄論中。</p>
<p><u>（瞀）</u></p>
<p>瞀：昏也，熱氣甚則濁亂昏昧也。</p>
<p><u>（郁）</u></p>
<p>郁：怫鬱也。結滯壅塞而氣不通暢，所謂熱甚則腠理閉密而鬱結也。如火煉物，熱極相合，而不能相離，故熱鬱則閉塞而不通暢也。然寒水主於閉藏，而今反屬熱者，謂火熱亢極，則反兼水化制之故也。</p>
<p><u>（腫脹）</u></p>
<p>腫脹：熱勝於內，則氣鬱而為腫也。陽熱氣甚，則腹脹也。火主長而茂，形貌彰顯，升明、舒榮，皆腫脹之象也。</p>
<p><u>（鼻窒）</u></p>
<p>鼻窒：窒，塞也；火主䐜膹腫脹，故熱客陽明，而鼻中䐜脹則窒塞也。或謂寒主閉藏，妄以鼻窒為寒者，誤也。蓋陽氣甚於上，而側臥則上竅通利而下竅閉塞者，謂陽明之脈左右相交，而左脈注於右竅，右脈注於左竅，故風熱鬱結，病偏於左。則右竅反塞之類也。俗不知陽明之脈左右相交，注於鼻孔，但見側臥則上竅通利，下竅窒塞，反疑為寒爾。所以否泰之道者，象其肺金之盈縮也。</p>
<p><u>（鼽）</u></p>
<p>鼽者，鼻出清涕也。夫五行之理，微則當其本化，甚則兼有鬼賊。故《經》曰：「亢則害，承乃制」也。《易》曰：燥萬物者，莫熯乎火。以火鍊金，熱極而反化為水，及身熱極，則反汗出也；水體柔順，而寒極則反冰如地也。土主濕陰雲雨而安靜，土濕過極，則反為驟注，烈風，雨淫潰也。木主溫和而生榮，風大則反涼而毀折也。金主清涼，秋涼極而萬物反燥也。皆所謂過極則反兼鬼賊之化，制其甚也。由是肝熱甚則出泣，心熱甚則出汗，脾熱甚則出涎，肺熱甚則出涕，腎熱甚則出唾也。《經》曰：鼻熱者，出濁涕。凡痰、涎、涕、唾稠濁者，火熱極甚，銷爍致之然也。或言鼽為肺寒者，誤也。彼但見鼽、嚏、鼻窒，冒寒則甚，遂以為然。豈知寒傷皮毛，則腠理閉密，熱極怫鬱，而病愈甚也。</p>
<p><u>（衄）</u></p>
<p>衄者，陽熱怫鬱，干於足陽明而上，熱甚，則血妄行為鼻衄也。</p>
<p><u>（血溢）</u></p>
<p>血溢者，上出也。心養於血，故熱甚則血有餘而妄行。或謂嘔吐紫凝血為寒者，誤也。此非冷凝，由熱甚銷爍以為稠濁，而熱甚則水化制之，故赤兼黑而為紫也。</p>
<p><u>（血泄）</u></p>
<p>血泄：熱客下焦。而大小便血也。</p>
<p><u>（淋）</u></p>
<p>淋：小便澀痛也。熱客膀胱，鬱結不能滲泄故也。或曰，小便澀而不通者為然，遺尿不禁者為冷。豈知熱甚客於腎部，干於足厥陰之經，廷孔鬱結極甚，而氣血不能宣通，則痿痹，而神無所用，故液滲入膀胱，而旋溺遺失，不能收禁也。《經》曰：目得血而能視，耳得血而能聽，手得血而能攝，掌得血而能握，足得血而能步，髒得血而能液，腑得血而能氣。夫血隨氣運，氣血宣行，則其中神自清利，而應機能為用矣。</p>
<p>又曰：「血氣者人之神，不可不謹養也。」；故諸所運用，時習之則氣血通利，而能為用；閉壅之則氣血行微，而其道不得通利，故劣弱也。若病熱極甚則鬱結，而氣血不能宣通，神無所用，而不遂其機，隨其鬱結之微甚，有不用之大小焉。是故目鬱則不能視色，耳鬱則不能聽聲，鼻鬱則不能聞香臭，舌鬱則不能知味，至如筋痿骨痹，諸所出不能為用，皆熱甚鬱結之所致也；故仲景論少陰病熱極曰：「溲便遺失，狂言，目反直視者，腎先絕也。」《靈樞經》曰：「腎主二陰。」然水衰虛而怫熱客其部分，二陰鬱結則痿痹，而神無所用，故溲便遺失，而不能禁止，然則熱證明矣。</p>
<p>是故世傳方論，雖曰冷淋，復用榆皮、黃芩、蘧麥、茯苓、通草、雞蘇、郁李仁、梔子之類寒藥治之而已。其說雖妄，其方乃是，由不明氣運變化之機。宜乎認是而為非也。或謂患淋而服茴香、益智、滑石、醇酒溫藥而愈者，然則非冷歟？殊不知此皆利小便之要藥也。蓋醇酒、益智之性雖熱，而茴香之性溫，滑石之性寒，所以能開發鬱結，使氣液宣通，熱散而愈也。</p>
<p><u>（閟）</u></p>
<p>閟：俗作秘，大便澀滯也；熱耗其液，則糞堅結，而大腸燥澀緊斂故也。或大便溏而閟者，燥熱在於腸胃之外，而濕熱在內故也。義同泄痢後重之義，見「下迫」論中。</p>
<p><u>（身熱惡寒）</u></p>
<p>身熱惡寒，此熱在表也。邪熱在表而淺，邪畏其正，故病熱而反惡寒也。或言惡寒為寒在表，或言身熱惡寒為熱在皮膚，寒在骨髓者，皆誤也。仲景法曰：「無陽病寒，不可發汗。」又言:「身熱惡寒，麻黃湯汗之。汗泄熱去，身涼即愈。」然則豈有寒者歟？又如熱生壅腫瘡瘍而惡寒者，亦由邪熱在於表也。雖爾，不可汗之。故仲景曰：患瘡者汗之則作痓，大法煩躁多渴，欲寒惡熱，為病熱也。</p>
<p>亦有亢則害，承乃制之，則病熱甚而反覺其冷者也。雖覺其冷，而病為熱。實非寒也。其病熱鬱甚，而反惡寒，得寒轉甚，而得暖少愈者，謂暖則腠理疏通，而陽氣得散，怫熱少退，故少愈也。其寒則腠理閉密，陽氣怫鬱，而熱轉甚，故病加爾。上下中外，周身皆然。俗因之妄謂寒病，誤以熱藥投之，為害多矣。假令或因熱藥以使怫熱稍散而少愈者，藥力盡則病反甚也。其減則微，其加則甚。俗無所悟，但云服之而獲效，力盡而病加，因而加志服之，由是諸熱病皆生矣。</p>
<p>陽熱發則鬱甚於上，故多目昏眩，耳聾鳴，上壅癲疾。上熱甚而下熱微，俗輩復云腎水衰弱，不能制心火，妄云虛熱也。抑不知養水瀉火，則宜以寒，反以熱藥欲養腎水，而令勝退心火，因而成禍不為少矣。可不慎歟？</p>
<p><u>（戰慄）</u></p>
<p>戰慄：動搖，火之象也。陽動陰靜，而水火相反，故厥逆禁固，屈伸不便，為病寒也。慄者，寒冷也。或言寒戰為脾寒者，未明變化之道也。此由心火熱甚，亢極而戰，反兼水化制之，故寒慄也。然寒慄者，由火甚似水，實非兼有寒氣也。故以大承氣湯下之，多有燥糞，下後熱退，則戰慄愈矣。或平人冒極寒而戰慄者，由寒主閉藏，而陽氣不能散越，則怫熱內作故也。如冬寒而地中反暖也。</p>
<p>或云：冬，陽在內而陰在外，地上寒而地中暖，夏則反此者，乃真理也。假令冬至為地陰極，而生陽上升，至夏則陽在上而陰在地中者，當地上熱而地中寒可也。奈何夏至為天陽極，而生陰下降，至冬則入地反暖，地上反寒歟！或曰：冬後陽升而出，則陰降而入，夏後陽降而入，則陰升而出者，乃妄意也，如冬至子正一陽升，而得其復䷗（《易》地雷復卦），至於已則陰絕，而六陽備，是故得其純乾䷀（八純乾）；夏至午正則一陰生，而得姤䷫（天風姤），至於亥則陽絕，而六陰備，是故得其純坤䷁（八純坤），至於冬至則陽復也。然子後面南，午後面北，視卦之爻，則子後陽升，午後陰降明矣。安得反言冬後陰降，而夏後陽降耶？</p>
<p>所謂四時天氣者，皆隨運氣之興衰也。然歲中五運之氣者，風、暑、燥、濕、寒各主七十三日五刻，合為期歲也。歲中六部之主位者，自大寒至春分屬木，故溫和而多風也；春分至小滿屬君火，故暄暖也。小滿至大暑屬相火，故炎熱也；大暑至秋分屬土，故多濕陰雲雨也；秋分至小雪屬金，故涼而物燥也；小雪至大寒屬水，故寒冷也。然則豈由陰陽升降於地之內外乎？</p>
<p>其地中寒燠者，《經》言：火熱主於出行，寒水主於閉藏。故天氣熱，則地氣通泄而出行，故地中寒也，猶人汗出之後體涼；天氣寒則地凝凍而閉塞，氣難通泄，故怫鬱而地中暖也。《經》言：「人之傷於寒也，則為病熱。」又如水本寒，寒極則水冰如地，而冰下之水反不寒也，冰厚則水溫，即閉藏之道也。或大雪加冰，閉藏之甚，則水大溫，而魚乃死矣，故子正一陽生，而至於正月寅，則三陽生，而得其泰䷊（地天泰）。泰者，通利而非否塞也。午正一陰生，而至於七月申，則三陰生，而得否䷋（天地否）。否者，否塞而非通泰也，然而否極則泰，泰極則否。故六月泰極，則地中至寒；十二月否極，則地中至暖。然則地中寒燠，明可見焉。故知人之冒於寒，而內為熱者，亦有之矣。</p>
<p>或問曰：人冬陽在內而熱，夏陰在內而寒者，何也？答曰：俗已誤之久矣！夫一身之氣，皆隨四時五運六氣興衰，而無相反矣。適其脈候，明可知也。如夏月心火生而熱，則其脈滑數洪大而長，煩熱多渴，豈為寒也？余候皆然。</p>
<p>或平人極恐而戰慄者，由恐為腎志，其志過度，則勞傷本臟，故恐則傷腎，腎水衰則心火自甚，而為戰慄也。又如酒苦性熱，養於心火，故飲之過多，則心火熱甚，而為戰慄。俗謂之酒禁也。</p>
<p>《經》曰：「陽並於陰，陰則實而陽明虛，陽虛故寒慄而鼓頷也。」注曰：「陽並於陰，言陽氣入於陰分也。陽明胃脈也，故不足則惡寒戰慄而鼓頷振動也。」然陽明經絡在表，而主於肌肉，而氣並於里，故言陽明虛也。</p>
<p>又《經》曰：「夫瘧之始發也，陽氣並於陰，當是時陽虛陰實，而外無陽氣，故先寒慄也。陰氣逆極，則陽復出之，陽與陰復並於外，則陰虛而陽實，故先熱而渴。」然陰氣逆極，則復出之陽者，是言陽為表，而里為陰也。其氣復出，而並之於表，非謂陰寒之氣出之於表，而反為陽熱也。</p>
<p>又《經》曰：「夫瘧氣者，並於陽則陽勝，並於陰則陰勝。陰勝則寒，陽勝則熱。」然氣並於陽而在於表，故言陽勝；氣並於陰而在於里，故言陰勝，此乃表裡陰陽之虛實，非寒熱陰陽之勝負，但陽氣之出入耳。</p>
<p>如傷寒病日深，表證已罷，而熱入於裡，若欲作大汗，則陽氣必須出之於外，鬱極乃發，而陽熱大作於裡，亢則害，承乃制，故為戰慄；而後陽氣出之於表，則蒸熱作而腠理開，大汗泄而病氣已矣！或戰慄無汗而愈者，必因發汗吐下亡津液過多，則不能作汗，但熱退氣和而愈。或不戰慄而汗解者，雖因日深表熱不罷，內外俱熱，陽不並陰，而外氣不衰，里無亢極，故無害承乃制，則無戰慄也。或不戰慄而亦無汗愈者，陽不並陰而氣液虛損故也，故諸戰慄者，表之陽氣與邪熱並甚於里，熱極而水化制之，故寒慄也。雖爾，為熱極於裡，乃火極而似水化也！</p>
<p><u>（驚）</u></p>
<p>驚：心卒動而不寧也，火主於動，故心火熱甚也。雖爾，止為熱極於裡，乃火極似水則喜驚也。反兼腎水之恐者，亢則害承乃制故也。所謂恐則喜驚者，恐則傷腎而水衰，心火自甚，故喜驚也。</p>
<p><u>（惑）</u></p>
<p>惑：疑惑，猶豫，濁亂，而志不一也。象火參差而惑亂。故火實則水衰，失志而惑亂也。志者，腎水之神也。</p>
<p><u>（悲）</u></p>
<p>悲：金肺之志也。金本燥，能令燥者火也。心火主於熱，喜痛，故悲痛苦惱者，心神煩熱躁亂，而非清淨也。所以悲哭而五液俱出者，火熱亢極，而反兼水化制之故也。夫五臟者，肝、心、脾、肺、腎也。五臟之志者，怒、喜、悲、思、恐也。悲，一作憂。若志過度則勞，勞則傷本臟。凡五志所傷皆熱也。</p>
<p>如六慾者，眼、耳、鼻、舌、身、意也。七情者，喜、怒、哀、懼、愛、惡、欲；一作好、愛、惡。情之所傷，則皆屬火熱。所謂陽動陰靜。故形神勞則躁不寧，靜則清平也。是故上善若水，下愚如火。先聖曰：六慾七情，為道之患。屬火故也。</p>
<p>如中風偏枯者，由心火暴甚，而水衰不能制之，則火能剋金，金不能剋木，則肝木自甚，而兼於火熱，則卒暴僵仆，多因五志七情過度，而卒病也。又如酒醉而熱，則五志七情競起。故《經》曰：戰慄，驚惑，悲笑，譫妄歌唱，罵詈癲狂，皆為熱也。故熱甚癲狂者，皆此證也。</p>
<p><u>（笑）</u></p>
<p>笑：蕃茂、鮮淑、舒榮、彰顯，火之化也。故喜為心火之志也。喜極而笑者，猶燔爍火喜而鳴，笑之象也，故病笑者，火之甚也。或心本不喜，因侮戲而笑者，俗謂之冷笑。涉人非道而伐之，使慚然失志，由是違己心則喜笑。</p>
<p>或以輕手擾人頸、腋、腹、脅、股、膕、足、趺，令人癢而笑者，由動亂擾撓，火之用也；靜順清謐，水之化也。皮膚彰顯之分，屬於火也，嫩薄隱藏之分，屬於水也。以火用擾其水分，使人慚然失志而癢，則水衰火旺，而為笑也。</p>
<p>以手自擾而不笑者，不羞不癢故也。然羞慚而癢者，心火之化也。人失信志則羞漸者，水衰火實故也。志與信者，腎水之化也。但癢而不羞，羞而不癢，皆不能為笑者，化微不能變動故也。</p>
<p><u>（譫）</u></p>
<p>譫：多言也，言為心聲，猶火燔而鳴，故心火熱則多言，猶醉而心熱，故多言也。或寐而多言者，俗云睡語，熱之微也。若熱甚則睡寤，而神昏不清，則譫語也。自汗、驚悸、咬牙皆然。所謂寐則榮衛不能宣行於外，而氣鬱於內；是故里熱發也。</p>
<p>夫上善若水，下愚如火。故六慾七情，上善遠之，而下愚遷之。其夢中喜、怒、哀、樂、好、惡、愛之七情，非分而過，其不可勝者，寐則內熱鬱甚故也。凡人夢者，乃俗雲夢中之夢，離道愈遠；夢之覺者，尚為道之夢也；故成道是為大覺，則六慾七情，莫能幹也。古人言，夢者神迷也。病熱而能遷七情者，水衰道遠故也。</p>
<p><u>（妄）</u></p>
<p>妄：虛妄也，火為陽，故外清明而內濁昧。其主動亂，故心火熱甚則腎水衰，而志不精一。虛妄見聞，而自為問答，則神志失常，如見鬼神也。或以鬼神為陰，而見之則為陰極脫陽，而無陽氣者，妄意之言也。</p>
<p><u>（衄蔑血汗）</u></p>
<p>衄蔑血汗：血出也。汗者濁也。心火熱極則血有餘，熱氣上甚，則為血溢，熱勢亢極，則燥而汗濁，害承乃制，則色兼黑而為紫也。</p>

<h2>（三）濕類</h2>

<h3>（總綱）</h3>
<p>諸痙強直，積飲，痞隔中滿，霍亂吐下，體重，胕腫肉如泥，按之不起，皆屬於濕。（足太陰濕土乃脾胃之氣也）</p>

<h3>（分述）</h3>
<p><u>（諸痙強直）</u></p>
<p><u>諸痙強直：筋勁強直而不柔和也，土主安靜故也。陰痙，曰柔痓；陽痙，曰剛痓。亢則害承乃制，故濕過極，則反兼風化制之。然兼化者虛象，而實非風也。</u></p>
<p><u>（積飲）</u></p>
<p><u>積飲：留飲積蓄而不散也，水得燥則消散，得濕則不消，以為積飲也，土濕主否故也。</u></p>
<p><u>（痞）</u></p>
<p>痞：與否同，不通泰也。謂精神榮衛、血氣津液，出入流行之紋理閉塞而為痞也。</p>
<p><u>（隔）</u></p>
<p>隔：阻滯也，謂腸胃隔絕，而傳化失其常也。</p>
<p><u>（中滿）</u></p>
<p>中滿：濕為積飲痞隔。而土主形體，位在中央，故中滿也。</p>
<p><u>（霍亂吐下）</u></p>
<p>霍亂吐下：濕為留飲痞隔，而傳化失常，故甚則霍亂吐瀉也！</p>
<p><u>（體重）</u></p>
<p>體重：輕清為天，重濁為地，故土濕為病，則體重宜也。</p>
<p><u>（胕腫）</u></p>
<p>胕腫肉如泥，按之不起：泥之象也。土過濕則為泥。濕為病也，積飲、痞、隔、中滿、霍亂吐下、體重，故甚則胕腫矣。</p>

<h2>（四）火類</h2>

<h3>（總綱）</h3>
<p>諸熱瞀瘈，暴喑冒昧，躁擾狂越，罵詈，驚駭，胕腫疼酸，氣逆衝上，禁慄如喪神守，嚏，嘔，瘡，瘍，喉痹，耳鳴及聾，嘔湧溢食不下，目昧不明。暴注，瞤瘈，暴病暴死，皆屬於火。（手少陽相火之熱，乃心包絡三焦之氣也）</p>

<h3>（分述）</h3>
<p><u>（瞀）、（瘈）</u></p>
<p>瞀：昏也。如酒醉而心火熱甚，則神濁昧而瞀昏也。</p>
<p>瘈：動也。惕跳動瘈，火之體也。</p>
<p><u>（暴喑）</u></p>
<p>暴喑：猝啞也，金肺主聲，故五行惟金響。金應於乾，乾為天，天為陽，為健，為動；金本燥，為涸，為收，為斂，為勁切，為剛潔。故諸能鳴者，無越此也。凡諸發語聲者，由其形氣之鼓擊也，鼓擊者，乃健動之用也。所謂物寒則能鳴者，水實制火，火不剋金也。其或火旺水衰，熱乘金肺，而神濁氣鬱，則暴喑無聲也。故《經》言內奪而厥，則為喑俳，此腎虛也。俳者，廢也。</p>
<p><u>（冒昧）</u></p>
<p>冒昧：非觸冒，乃昏冒也。昧，暗也。氣熱則神濁冒昧，火之體也。</p>
<p><u>（躁擾）</u></p>
<p>躁擾：躁動煩熱，擾亂而不寧，火之體也。熱甚於外，則肢體躁擾，熱甚於內，則神志躁動，返復癲倒，懊憹煩心，不得眠也。或云嘔噦而為胃冷心煩疼者，非也。故煩心、心痛，腹空熱生而發，得食熱退而減也。或逆氣動躁者，俗謂咽喉，由水衰火旺，而猶火之動也。故心胸躁動，謂之怔忡，俗云心忪，皆為熱也。</p>
<p><u>（狂越）</u></p>
<p>狂越：狂者，狂亂而不正定也。越者，乖越禮法而失常也。夫外清而內濁，動亂參差，火之體也；靜順清朗，準則信平，水之體也。由是腎水主志，而水火相反。故心火旺則腎水衰，乃失志而狂越也。</p>
<p>或云：重陽者狂，重陰者癲，則《素問》之說不同也。《經》注曰：「多喜為癲，多怒為狂。」然喜為心志，故心熱甚則多喜而為癲也；怒為肝志，火實制金，不能平木，故肝實則多怒而為狂也。況五志所發皆為熱，故狂者五志間發，但怒多爾。</p>
<p>凡熱於中，則多幹陽明胃經也。《經》曰：「陽明之厥，則癲疾欲走，腹滿不得臥，面赤而熱，妄言。」又曰：「陽明病洒洒振寒，善伸數欠，或惡人與火，聞木音則惕然而驚，心欲動，獨閉戶牖而處，欲上高而歌，棄衣而走，賁響腹脹，罵詈不避親疏。」又《經》曰：「熱中消中，皆富貴人也。今禁膏粱，是不合其心，禁芳草、石藥，是病不愈。願聞其說。岐伯曰：芳草之氣美，石藥之氣悍。二者其氣急疾堅勁，故非緩心和人，不可服此二者。……夫熱氣慓悍，藥氣亦然，二者相遇，恐內傷脾。」注曰：膏，謂油膩肥脂也。粱，糧米也。芳草，謂芳美之味也。芳，香美也。堅，固也。勁，硬也。慓，疾也。蓋服膏粱芳草石藥，則熱氣堅勁疾利，而為熱中消中，發為癲狂之疾，夫豈癲為重陰者歟！</p>
<p><u>（罵詈）</u></p>
<p>罵詈：言為心之聲也。罵詈，言之惡也。夫水數一，道近而善；火數二，道遠而惡。水者，內清明而外不彰，器之方員，物之氣味，五臭五色，從而不違，靜順信平，潤下而善利萬物，滌洗濁穢，以為清靜，故上善若水；水火相反，則下愚如火也。火者，外明耀而內煩濁，燔炳萬物，為赤為熱，為苦為焦，以從其己，燥亂參差，炎上而烈，害萬物，熏燎鮮明，以為昏昧。水生於金，而復潤母燥；火生於木，而反害母形。故《易》曰：「潤萬物者，莫潤乎水。」又言：「離火為戈兵。」故火上有水制之，則為既濟；水在火下，不能制火，為未濟也。是知水善火惡。</p>
<p>而今病陽盛陰虛，則水弱火強，制金不能平木，而善去惡發，罵詈不避親疏。喜笑恚怒而狂，本火熱之所生也，平人怒罵亦同。或本心喜而無怒，以為戲弄之罵，亦心火之用也。故怒罵者，亦兼心喜罵於人也，怒而惡發可嗔者，內心喜欲怒於人也。</p>
<p><u>（驚駭）</u></p>
<p>驚駭：駭，驚愕也。君火義同。</p>
<p><u>（胕腫）</u></p>
<p>胕腫：熱勝肉，而陽氣鬱滯故也！</p>
<p><u>（疼酸）</u></p>
<p>疼酸：痠疼也。由火實制金，不能平木，則木旺而為兼化，故言痠疼也。</p>
<p><u>（氣逆衝上）</u></p>
<p>氣逆衝上：火氣炎上故也。</p>
<p><u>（禁慄）</u></p>
<p>禁慄如喪神守：慄，戰慄也。禁，冷也。又義見君火化中。禁，俗作噤。如喪神守者，神能御形，而反禁慄，則如喪失保守形體之神也。</p>
<p><u>（嚏）</u></p>
<p>嚏：鼻中因癢，而氣噴作於聲也。鼻為肺竅，癢為火化。心火邪熱，干於陽明，發於鼻而癢，則嚏也。或故以物擾之，癢而嚏者，擾癢火故也。或視日而嚏者，由目為五臟神華，太陽真火，晃耀於目，則心神躁亂。而發熱於上，則鼻中癢而嚏也。傷寒病再經衰而或嚏者，由火熱已退，而虛熱為癢，癢發鼻則嚏也。或風熱上攻，頭鼻壅滯，脈浮而無他證者，內藥鼻中，得嚏則壅滯開通而愈也。或有痛處，因嚏而痛甚不可忍者，因嚏之氣攻衝結痛，而不得通利故也。</p>
<p><u>（嘔）、（瘡瘍）</u></p>
<p>嘔、瘡瘍：君火化同。</p>
<p><u>（喉痹）</u></p>
<p>喉痹：痹，不仁也，俗作閉，猶閉塞也，火主腫脹，故熱客上焦，而咽嗌腫脹也。</p>
<p><u>（耳鳴）</u></p>
<p>耳鳴：有聲，非妄聞也。耳為腎竅，交會手太陽、少陽，足厥陰、少陰、少陽之經。若水虛火實，而熱氣上甚，客其經絡，衝於耳中，則鼓其聽戶，隨其脈氣微甚，而作諸音聲也。《經》言：陽氣上甚而躍，故耳鳴也。</p>
<p><u>（聾）</u></p>
<p>聾之為病，俗醫率以慓悍燥烈之藥制之，往往謂腎水虛冷故也。夫豈知水火之陰陽，心腎之寒熱，榮衛之盛衰，猶權衡也，一上則必一下。是故高者抑之，下者舉之，此平治之道也。夫心火本熱，虛則寒矣；腎水本寒，虛則熱矣，腎水既少，豈能反為寒病耶？</p>
<p>《經》言：足少陰腎水虛，則腹滿，身重，濡瀉，瘡瘍流水，腰股痛發，膕腨股膝不便，煩冤，足痿，清厥，意不樂，大便難，善恐心惕，如人將捕，口苦，舌乾，咽腫，上氣，嗌乾及痛，煩心，心痛，黃疸，腸澼下血，脊臀股內後廉痛，痿厥，嗜臥，足下熱而痛。以此見腎虛為病，皆是熱證。</p>
<p>《經》又曰：「有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎。腎者水臟也，骨熱而髓虛，故發骨痿。」注言：「陽氣內伐，謂伐腹中之陰氣也；水不勝火，以熱舍於腎中也。」</p>
<p>《經》又曰：「骨痿者，生於大熱也。」又曰：「腎熱者，色黑齒槁。」凡色黑齒槁之人，必身瘦而耳焦也。所以然者，水虛則火實，而熱亢極則害，承乃制，故反兼水之黑也；腎水衰少，不能潤澤，故黑乾焦槁也；齒、耳屬腎，故甚也。如瘡瘍熱極無液，則肉乾焦而色黑也。然則水衰為熱明矣，豈可反言寒耶！</p>
<p>故《仙經》以息為六字之氣，應於三陰三陽，臟腑之六氣。實則行其本化之字瀉之，衰則行其勝己之字瀉之，是為殺其鬼賊也；所謂六字之氣者，肝籲，心呵，相火唏，脾呼，肺呬，腎本吹也。故吹去腎寒則生熱，呵去心熱則生寒，故曰：春不呼，夏不呬，秋不籲，冬不呵。四時常有唏，謂三焦無不足；八節不得吹，謂腎狀難得實。然以吹驗之，吹去腎水寒氣，則陽熱暴甚，而目瞑昏眩，虛為熱證明矣，豈可反言腎虛為冷，而以熱藥養水耶？況水少不能勝火，又服熱藥，寧無損歟！</p>
<p>《經》言：「以寒治熱。」謂寒養水而瀉火；「以熱治寒，」謂熱助火而耗水也。《經》雖或言「以熱治熱」。謂病氣熱甚，能與寒藥交爭，而寒藥難下，故反熱服，順其病熱。熱病既消，寒性乃發，則病熱除愈。如承氣湯寒藥，反以熱服之類是也。傷寒同法。《經》曰：「寒因熱用」，「熱因寒用」，　亦是治熱類也。故治病之道，瀉實補衰，平而已矣。</p>
<p>或謂病熱火實水虛，反言腎虛為冷，心迷正理，不敢用對證寒藥，誤以食前服其助陽熱藥，欲令下部水勝，退上焦心火，食後兼服微涼之藥，而退火熱，豈知十益不及一損也，病本熱而無寒，又得熱藥，則病熱轉甚。食後雖服大寒之藥，亦難解其勢之甚也，況以微涼乎？豈不詳熱藥證中，止言治寒助熱，安有養水瀉火之言哉！</p>
<p>《經》言：五臟以平為期。及夫一法，無問五臟生克興衰，一概言熱為實，寒為虛者，通言陽氣之興衰也。假令下部寒者，謂下焦火氣之虛也，故以熱藥補之，非助腎水之藥爾！由水虛不能反為寒也。凡諸疾之所起也，不必臟腑興衰變動相乘而病，但乘內外諸邪所傷，即成病矣。</p>
<p>大凡治病必求所在，病在上者治其上，病在下者治其下。中外臟腑經絡皆然。病氣熱則除其熱，寒則退其寒，六氣同法。瀉實補虛，除邪養正，平則守常，醫之道也！豈可見病已熱，而反用熱藥，復言養水而勝心火者，可謂道在邇而求諸遠，事在易而求諸難，深可戒哉！</p>
<p>所以或言腎虛而下部冷者，非謂水虛也，所謂「腎有兩枚」，《經》曰：「七節之傍，中有小心。」楊上善注《太素》曰：「人之脊骨有二十一節，從下第七節之傍，左者為腎，右者為命門。命門者，小心也。」《難經》言：「心之原，出於太陵。然太陵穴者，屬手厥陰包絡相火，小心之經也。」《玄珠》言刺太陵穴曰：「此瀉相火小心之原也。」然則右腎命門為小心，乃手厥陰相火包絡之臟也。《仙經》曰：「先生右腎則為男，先生左腎則為女。」謂男為陽火，女為陰水故也。或言女子左腎為命門者，誤也。《難經》止言「右腎為命門，男子以藏精，女子以系胞」，豈相反也。然右腎命門小心，為手厥陰包絡之臟，故與手少陽三焦合為表裡，神脈同出，見手右尺也。二經俱是相火，相行君命，故曰命門爾。故《仙經》曰：「心為君火，腎為相火。」是言右腎屬火，而不屬水也。是以右腎火氣虛，則為病寒也。君相雖為二火，論其五行之氣，則一於為熱也。</p>
<p>夫五行之理，陰中有陽，陽中有陰。孤陰不長，獨陽不成。但有一物，全備五行，遞相濟養，是謂和平。交互克伐，是謂興衰。變亂失常，災害由生，是以水少火多，為陽實陰虛而病熱也。水多火少，為陰實陽虛而病寒也。故俗以熱藥欲養腎水，勝退心火者，豈不誤歟！</p>
<p>至如或因恣欲而即病，或因久而成病者，俗以為元氣虛損而病寒者，皆誤也。然諸所動亂勞傷，乃為陽火之化。神狂氣亂，而為病熱者多矣。故《經》言：消癉熱中，及夫熱病，陰陽變易，房勞之病證也。所以熱病未復，及大醉以不禁入房，而為禍甚速者陽熱易為暴甚故也。夫太乙天真元氣，非陰非陽，非寒非熱也。是以精中生氣，氣中生神，神能御其形也。由是精為神氣之本！形體之充固，則眾邪難傷，衰則諸疾易染，何止言元氣虛而為寒爾！</p>
<p>故老人之氣衰，多病頭目昏眩，耳鳴或聾，上氣喘咳，涎唾稠黏，口苦舌乾，咽嗌不利，肢體焦痿，筋脈拘倦，中外燥澀，便溺閟結，此皆陰虛陽實之熱證也。俗悉言老弱為虛冷而無熱也，縱見熱症，雖云少水不勝多火，而反言腎水虛則為寒，此乃舉世受誤之由也。但須臨時識其陰陽虛實，則無橫夭之冤，慎不可妄以熱藥養其真氣，則真氣何由生也。故《西山記》曰：餌之金石，當有速亡之患；《內經》言：石藥發癲狂，熱甚之所生也。或欲以溫藥平補者，《經》言：積溫成熱，則變生熱疾。故藥物不可妄服也。</p>
<p>夫養真氣之法，飲食有節，起居有常，不妄作勞，無令損害，陰陽和平，自有益矣。《仙經》雖有服餌之說，非其人不可也。況乎劑於氣味平和無毒之物，但以調其氣爾！真修道者，以內事為功，外事為行，非服餌而望成於道也。故《仙經》又曰：「服餌不備五味四氣，而偏食之，久則腑臟偏傾而生其病矣。」然則豈可誤服熱藥，而求其益？</p>
<p>所謂聾者，由水衰火實，熱鬱於上，而使聽戶玄府壅塞，神氣不得通泄也，其所驗者，《仙經》言雙手閉耳如鼓音，是謂「鳴天鼓」也。由脈氣流行，而閉之於耳，氣不得泄，沖鼓耳中，故聞之也。或有壅滯，則天鼓微聞。天鼓無聞，則聽戶玄府閉絕，而耳聾無所聞也。故一法含浸針砂酒，以磁石附耳，欲導其氣令通泄也。</p>
<p>或問曰：聾既為熱，或服乾蠍、生薑、附子、醇酒之類辛熱之物，而或愈者，何也？答曰：欲以開發玄府，而令耳中鬱滯通泄也。故《養生方》言：「藥中其效，則如聞百攢樂音。」由陽氣開沖耳中也。凡治聾者，適其所宜，若熱證已退，而聾不已者，當以辛熱發之。三兩服不愈者，則不可久服，恐熱極而成他病爾！若聾有熱證相兼者，宜以退風散熱涼藥調之，熱退結散而愈。然聾甚閉絕，亦為難矣；慎不可攻之過極，反傷正氣，若非其病，不可服其藥，飲食同法。當所宜者過度，則反傷正氣，病已則止藥，欲求不病無損而已矣。</p>
<p>故《經》云：「大毒治病，十去其六；常毒治病，十去其七；小毒治病，十去其八，無毒治病，十去其九。穀肉果菜，食養盡之，勿令過度，反傷其正。不盡，行復如法。」故曰：「必先歲氣，無伐天和。無實實，無虛虛，而遺夭殃；無致邪，無失正，絕人長命。帝曰：其久病者，有氣從而不康，病去而瘠，奈何？岐伯曰：昭乎哉，聖人之問也！化不可代，時不可違。夫經絡以通，氣血以從，復其不足，與眾齊同，養之和之，靜以待時，謹守其氣，無使傾移，其形乃彰，生氣乃長，命曰聖王。故《大要》曰：無代化，無違時，必養必和，待其來復，此之謂也。」</p>
<p><u>（嘔湧溢食不下）</u></p>
<p>嘔湧、溢食不下：火氣炎上，胃膈熱甚，則傳化失常也。</p>
<p><u>（目眜不明）</u></p>
<p>目眜不明，目赤腫痛，翳膜眥瘍，皆為熱也；及目瞑，俗謂之眼黑，亦為熱也，然平白目無所見者，熱氣鬱之甚也。或言目眛為肝腎虛冷者，誤也。是以妄謂肝主於目，腎主瞳子，故妄言目眛為虛而冷也。然腎水冬陰也，虛則當熱。肝木春陽也，虛則當涼。腎陰肝陽，豈能同虛而為冷者歟？或通言肝腎之中陰實陽虛，而無由目眜也。俗妄謂肝腎之氣衰少，而不能至於目也。不知《經》言熱甚目瞑眼黑也。豈由寒爾？又如仲景言。「傷寒病，熱極則不識人，」乃目盲也。《正理》曰：「由熱甚怫鬱於目，而致之然也。」</p>
<p>然皮膚之汗孔者，謂泄氣液之孔竅也，一名氣門，謂泄氣之門也。一名腠理者，謂氣液出行之腠道紋理也；一名鬼神門者，謂幽冥之門也；一名玄府者，謂玄微府也。然玄府者，無物不有，人之臟腑、皮毛、肌肉、筋膜、骨髓、爪牙，至於世之萬物，盡皆有之，乃氣出入升降之道路門戶也。夫氣者，形之主，神之母，三才之本，萬物之元，道之變也。故元陽子解《清靜經》曰：大道無形，非氣不足以長養萬物，由是氣化則物生，氣變則物易，氣甚即物壯，氣弱即物衰，氣正即物和，氣亂即物病，氣絕即物死。《經》曰：「出入廢，則神機化滅。升降息，則氣立孤危。故非出入則無以生、長、化、收、藏。是以升降出入，無器不有。」人之眼、耳、鼻、舌、身、意、神識，能為用者，皆由升降出入之通利也，有所閉塞者，不能為用也。若目無所見，耳無所聞，鼻不聞臭，舌不知味，筋痿骨痹，齒腐，毛髮墮落，皮膚不仁，腸不能滲泄者，悉由熱氣怫鬱，玄府閉密而致，氣液、血脈、榮衛、精神。不能升降出入故也。各隨鬱結微甚，而察病之輕重也。</p>
<p>故知熱鬱於目，無所見也。故目微昏者，至近則轉難辨物，由目之玄府閉小也，隔縑視物之象也。或視如蠅翼者，玄府有所閉合者也。或目昏而見黑花者，由熱氣甚，而發之於目，亢則害承乃制，而反出其泣，氣液昧之，以其至近，故雖視而亦見如黑花也，及衝風泣而目暗者，由熱甚而水化制之也。故《經》言：「厥則目無所見。夫人厥則陽氣並於上，陰氣並於下。陽氣並於上，則火燭光也；陰氣並於下則足寒，足寒則脹也。夫一水不勝五火，故目眥盲，是以衝風泣下而不止。夫風之中於目也，陽氣內守於睛，是火氣燔目，故見風泣下。」</p>
<p><u>（暴注）</u></p>
<p>暴注，卒瀉：君火義同。</p>
<p><u>（瞤瘈）</u></p>
<p>瞤瘈：惕跳動也。火主動，故夏熱則脈洪大而長，瞤瘈之象也。況脈者，心火之所養也。</p>
<p><u>（暴病暴死）</u></p>
<p>暴病暴死：火性疾速故也。斯由平日衣服飲食，安處動止，精魂神志，性情好惡　，不循其宜而失其常，久則氣變興衰而為病也。或心火暴甚，而腎水衰弱，不能制之，熱氣怫鬱，心神昏冒，則筋骨不用，卒倒而無所知，是為僵仆也。</p>
<p>甚則水化制火，熱盛而生涎，至極則死。微則發過如故，至微者，但眩瞑而已，俗云暗風，由火甚制金不能平木，故風木自甚也。</p>
<p>或風熱甚而筋惕瘛瘲，僵仆，口出涎沫，俗云風癇病也。欲知病有兼風者，陰陽變化之道也。故陰陽相搏，剛柔相摩，五行相錯，六氣相蕩，變而為病，則無窮矣。大法我子能制鬼賊，則己當自實。而與子同為病者，不必皆然，由乎六氣陰陽同異不等故也。</p>
<p>故經曰風熱火同陽也，寒燥濕同陰也。又燥濕小異也，然燥金雖屬秋陰而異於寒濕，故反同其風熱也；故火熱勝，金衰而風生，則風能勝濕，熱能耗液而反燥。陽實陰虛，則風熱勝於水濕為燥也。</p>
<p>凡人風病，多因熱甚，而風燥者，為其兼化，以熱為其主也。俗云風者，言末而忘其本也。所以中風癱瘓者，非謂肝木之風實甚，而卒中之也。亦非外中於風爾，由於將息失宜而心火暴甚；腎水虛衰不能制之，則陰虛陽實，而熱氣怫鬱，心神昏冒，筋骨不用，而卒倒無所知也。多因喜、怒、思、悲、恐之五志，有所過極，而卒中者，由五志過極，皆為熱甚故也！</p>
<p>若微則但僵仆，氣血流通，筋脈不攣，緩者發過如故。或熱氣太盛，鬱結壅滯，氣血不能宣通，陰氣暴絕，則陽氣後竭而死。俗謂中，不過爾。</p>
<p>或即不死而偏枯者，由經絡左右雙行，而熱甚鬱結，氣血不得宣通，鬱極乃發。若一側得通，則痞者痹而癱瘓也。其人已有怫熱鬱滯，而氣血偏行，微甚不等，故《經》言：汗出偏沮，令人偏枯。然汗偏不出者，由怫熱鬱結，氣血壅滯故也！人卒中則氣血不通，而偏枯也。</p>
<p>所謂肥人多中風者，蓋人之肥瘦，由血氣虛實使之然也，氣為陽而主輕微，血為陰而主形體。故西方金、北方水為陰而剛也，東方木、南方火為陽而柔也。故血實氣虛則肥，氣實血虛則瘦。所以肥者能寒不能熱，瘦者能熱不能寒，由寒則傷血，熱則傷氣。損其不足，則陰陽愈偏，故不能也；損其有餘者平調，是故能之矣！故瘦者腠理疏通而多汗泄，血液衰少而為燥熱，故多為勞嗽之疾也。俗以為卒暴病甚而為熱勞，徐久病微而為冷勞者，是以遲緩為言，而病非冷也，識其證候為熱明矣，但熱有微甚而已。</p>
<p>或言肥人多中風由於虛，非也。所謂腠理致密而多鬱滯，氣血難以通利，若陽熱又甚而鬱結，故卒中也，故肥人反勞者，由暴然亡液，損血過極故也，瘦人反中風者，由暴然陽熱太甚而鬱結不通故也。</p>
<p>所謂中風口噤筋脈緊急者，由陽熱暴甚於內，亢則害，承乃制，津液湧溢，聚於胸膈，熱燥以為痰涎。初虞世言：涎者，乃遍身之脂脈津液也。然陽實陰虛而風熱太甚，以勝水濕，因而成燥，肝主於筋而風氣自甚，又燥熱加之，熱還聚於胸膈，則筋太燥也，然燥金主於收斂勁切緊澀，故為病筋脈勁強緊急而口噤也。</p>
<p>或破傷中風亦同，但以從微至甚而不偏枯也。夫破傷中風之由者，因瘡熱甚鬱結，而榮衛不得宣通，怫熱因之，遍體故多發白痂，是時瘡口閉塞，氣難通泄，故陽熱易為鬱結，而熱甚則生風也，不已則表傳於裡，亦由面首觸冒寒邪，而怫熱鬱甚，周身似為傷寒之疾，不解則表傳於裡者也。但有風熱微甚兼化，故殊異矣。</p>
<p>大法破傷中風，風熱燥甚，怫鬱在表而裡氣尚平者，善伸數欠，筋脈拘急，或時惡寒，或筋惕而搐，脈浮數而弦也。宜以辛熱治風之藥，開沖結滯，榮衛宣通而愈。猶傷寒表熱怫鬱，而以麻黃湯辛熱發散者也。凡用辛熱開衝風熱轉甚也；猶《傷寒論》熱藥發表不中效，則熱轉甚也。故發熱用麻黃、桂枝湯類熱藥發表，須加寒藥，不然則熱甚發黃或斑出矣。故發表諸方，佐以黃芩、石膏、知母、柴胡、地黃、芍藥、梔子、茵陳、蔥白、豆豉之類寒藥消息用之。如世以甘草、滑石、蔥、豉寒藥發散甚妙，是以甘草甘能緩急，濕能潤燥，滑石淡能利竅，滑能通利；蔥辛甘微寒；豉鹹寒潤燥，皆散結，緩急、潤燥、除熱之物。</p>
<p>因熱服之，因熱而玄府鬱結得通，而怫熱無由再作，病勢雖甚，而不得頓愈者，亦獲小效，而無加害耳！此方散結，無問上下中外，但有益而無損矣。散結之方，何必辛熱而已耶！</p>
<p>若破傷中風表不已而漸入於裡，則病勢漸甚。若里未太盛而脈在肌肉者，宜以退風熱，開鬱滯之寒藥調之，或以微加治風辛熱，亦得以意消息，不可妄也。此猶傷寒病勢，半在表半在裡，而以小柴胡湯和解之也。若里勢已甚而舌強口噤，項背反張，驚搐惕搦，涎唾稠黏，胸腹滿塞，而成便溺秘結，或時汗出，脈洪數而弦也。</p>
<p>然汗出者，由風熱鬱甚於里，而表熱稍罷，則腠理疏泄，而心火熱甚，故汗出也。大法風熱怫鬱，因汗當解。今不解者，若裡熱出之於表，因汗而結散熱去，則氣和而愈也。今風熱鬱甚於里，而非出之於表，故雖汗泄，而熱不退，則不能解也。猶陽明證熱甚於里，而日晡潮熱，大汗雖出，熱不退而不能解也，故當大承氣湯下之。其裡熱也，是以亢則害，承乃制。而今火熱極甚，筋勁急而口噤爾！風熱加之，故驚而搐也。</p>
<p>風、熱、燥並郁甚於里，故煩滿而或閟結也。法宜除風散結，寒藥下之，以使鬱滯流通，而後以退風熱、開結滯之寒藥調之，而熱退結散，則風自愈矣。嗚呼！俗醫所治破傷中風，不明淺深，但以辛熱燥藥，任其天命而已！</p>
<p>若始覺風熱鬱結於表，而里尚平者可也，或以寒物佐之亦佳。如靈寶丹治風痹，雖用硫磺、鍾乳、木香、桂心之類辛熱，是亦能令開結也，佐以牛黃、腦子、苦參、芒硝之類寒物，以使結散而無復郁也，況至寶丹乃散風熱鬱痹之寒藥也。凡治風熱結滯，宜戒熱藥過盛，凡破傷中風，宜早令導引摩按，自不能者，令人以屈伸按摩挽之，使筋脈稍得舒緩，而氣得通行，及頻以橛斡牙關，勿令口噤，若緊噤之，則常以橛當之，及頻斡之，勿損牙齒，免致口噤不開，而粥藥不能下也。及風癇之發作者，由熱甚，而風燥為其兼化，涎溢胸膈，燥熱而瘛瘲、昏冒、僵仆也，或驚風者，亦由心火暴甚而制金，不能平木，故風火相搏，而昏冒、驚悸、潮搐也。凡此諸證，皆由熱甚而生風燥，各有異者，由風、熱、燥各微甚不等故也。</p>
<p>所謂中風或筋緩者，因其風熱勝濕而為燥，乃燥之甚也。然筋緩不收而痿痹，故諸膹郁病痿，皆屬金肺，乃燥之化也！如秋深燥甚，則草木痿落而不收，病之象也。是以手得血而能握，足得血而能步。夫燥之為病，血液衰少也，而又氣血不能通暢，故病然也。或云筋攣有力，則為實熱，筋緩不收，則為虛寒者；或謂寒主收引，而熱主舒緩，則筋攣為寒，筋緩為熱者：皆誤也。凡治諸風方，通言主療筋脈攣緩，豈分寒熱虛實之異耶！但有微甚而已。故諸筋攣雖勢惡而易愈也。諸筋緩者，難以平復，明可知也。</p>
<p>或云中風為肝木實甚，則大忌臟腑脫泄，若脾胃土氣虛損，則土受肝木鬼賊之邪，而當死也。當以溫脾補胃，令其土實，肝木不能克，乃治未病之法也。所謂似是而非者也。或云脾為中州而當溫者，　亦誤也；所以寒、暑、燥、濕、風、火之六氣，應於十二經絡臟腑也，以其本化，則能補之，相反之者，則能泄之。然脾胃土本濕也，濕氣自甚，則為積飲痞隔，或為腫滿，以藥燥去其濕，是謂瀉其脾胃土之本也；或病燥熱太甚，而脾胃乾涸成消渴者，土濕之氣衰也，宜以寒溫之藥，補陰泄陽、除濕潤燥，而土氣得其平，是謂補其脾土之本也。故仲景言傷寒裡熱太甚，而胃中乾涸煩渴者。急下之，救其胃氣，方用甘草、大黃、芒硝大寒之藥，謂之調胃承氣湯者，達其至理也。</p>
<p>所以陰陽異用，而寒濕同性，然土為陰，故異於風、熱、燥也。土為萬物之母，水為萬物之元。故水土同在於下，而為萬物之根本也，地干而無水濕之性，則萬物根本不潤，而枝葉衰矣。《經》言：「動物神機為根在於中」，故食入於胃，而脾為變磨，布化五味，以養五臟之氣，而養榮百骸，固其根本，則胃中水穀潤澤而已。亦不可水濕過與不及，猶地之旱澇也，故五臟六腑，四肢百骸，受氣皆在於脾胃，土濕潤而已。《經》言，積濕成熱，豈可以溫藥補於濕土也？溫屬春木，正以勝其濕土耳！</p>
<p>或以臟腑不分六氣，而為假令之濕，一概言陽氣甚而熱為實，陽氣衰而寒為虛者，乃寒熱陰陽之虛實，而非五行興衰克伐之道也！然臟腑經絡，不必本氣興衰，而能為其病，六氣互相干而病也。假令胃寒為虛冷者，是胃中陰水實而陽火虛也，當以溫補胃中陽火之虛。而退其陰水之實，非由胃土本虛，而補其濕也。夫補瀉脾胃之本者，燥其濕則為瀉，潤其燥則為補。今夫土本濕也，若陽實陰虛，風熱勝其水濕而成燥者，則為水濕衰也，可以退風散熱，養液潤燥，而救其已衰之陰濕，若反以溫補，欲令臟腑而無壅塞。不亦妄謬之甚耶！</p>
<p>或言中風由腎水虛冷者，誤也。蓋陰水既衰，則陽火自甚而熱，豈能反為寒者耶？以證驗之，則為熱明矣。或云中風既為熱甚，治法或用烏附之類熱藥，何也？答曰：欲令藥氣開通經絡，使氣血宣行，而無壅滯也！然亦以消風熱、開結滯之類寒藥佐之，可以制其藥之熱也，若服峻熱藥而熱證轉加者，不可服也。鬱結不通，而強以攻之，則陰氣暴絕而死矣。故諸方之中，至寶，靈寶丹最為妙藥。</p>
<p>今詳本草言至寶丹之藥味，合而為一，乃寒藥爾；靈寶丹雖用溫熱之味，而復用寒藥制之，參而為一，亦平藥也。況皆能散風壅、開結滯，而使氣血宣通，怫熱除而愈矣。此方雖有治風之熱藥，當臨時消息，適其所宜，扶其不足，損其有餘。慎不可但以峻熱攻痹，而反絕其已衰之陰氣也。</p>

<h2>（五）燥類</h2>

<h3>（總綱）</h3>
<p>諸澀枯涸，幹勁皴揭，皆屬於燥。（陽明燥金，乃肺與大腸之氣也）</p>

<h3>（分述）</h3>
<p><u>（澀）</u></p>
<p>澀：物濕則滑澤，干則澀滯，燥濕相反故也。如遍身中外澀滯，皆屬燥金之化，故秋脈濇。濇，澀也。或麻者，亦由澀也，由水液衰少而燥澀，氣行壅滯，而不得滑澤通利，氣強攻衝而為麻也。如平人抑其手足，則真氣頓行之甚，而澀滯壅礙不得通利而麻。亦猶鼓物之象也，其不欲動者，動則為陽。使氣行之轉甚，故轉麻也。俗方治麻病，多用烏、附者，令氣行之暴甚，以故轉麻。因之衝開道路，以得通利，藥氣盡則平，氣行通而麻愈也。然六氣不必一氣獨為病，氣有相兼，若亡液為燥，或麻無熱證，即當此法；或風熱勝濕為燥，因而病麻，則宜以退風散熱、活血養液、潤燥通氣之涼藥調之，則麻自愈也。治諸燥澀，悉如此法。</p>
<p><u>（枯涸）</u></p>
<p>枯，不榮王也。涸，無水液也。干，不滋潤也。勁，不柔合也。春秋相反，燥濕不同故也。大法，身表熱為熱在表，渴飲水為熱在裡。身熱飲水，表裡俱有熱；身涼不渴，表裡俱無熱。《經》所不取火化渴者，謂渴非特為熱。如病寒吐利，亡液過極，則亦燥而渴也；雖病風熱，而液尚未衰，則亦不渴。豈可止言渴為熱而否為寒也？夫燥渴之為病也。多兼於熱。故《易》曰：燥萬物者，莫熯乎火。今言渴為燥，則亦備矣。如大法身涼不渴，為表裡俱無熱，故不言為寒也。謂表裡微熱，則亦有身不熱而不渴者，不亦宜乎！</p>
<p><u>（皴揭）</u></p>
<p>皴揭：皮膚啟裂也。乾為天，而為燥金；坤為地，而為濕土。天地相反，燥濕異用。故燥金主於緊斂，所以秋脈緊細而微。濕土主於縱緩，所以六月其脈緩大而長也。如地濕則縱緩滑澤，干則緊斂燥澀，皴揭之理，明可見焉。俗云皴揭為風者，由風能勝濕而為燥也。《經》言：厥陰所至，為風府，為璺啟。由風勝濕而為燥也。所謂寒月甚而暑月衰者，由寒能收斂，腠理閉密，無汗而燥，故病甚也。熱則皮膚縱緩腠理疏通而汗潤，故病衰也。或以水濕皮膚，而反喜皴揭者，水濕自招風寒故也。</p>

<h2>（六）寒類</h2>

<h3>（總綱）</h3>
<p>諸病上下所出水液，澄徹清冷，癥，瘕，㿗疝，堅痞腹滿急痛，下利清白，食已不飢，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒。（足太陽寒水，乃腎與膀胱之氣也）</p>

<h3>（分述）</h3>
<p><u>（水液澄徹清冷）</u></p>
<p>澄徹清冷：湛而不渾濁也。水體清淨，而其氣寒冷，故水穀不化，而吐利清冷，水液為病，寒也。如天氣寒，則濁水自澄清也。</p>
<p><u>（癥）</u></p>
<p>癥：腹中堅硬，按之應手，謂之癥也。《聖惠方》謂：「癥，猶徵也。」然水體柔順而今反堅硬如地，亢則害，承乃制也。故病濕過極則為痓，反兼風化制之也；風病過極則反燥，筋脈勁急，反兼金化制之也；病燥過極則煩渴，反兼火化制之也；病熱過極，而反出五液，或為戰慄惡寒，反兼水化制之也。其為治者，但當瀉其過甚之氣，以為病本，不可反誤治其兼化也。然而兼化者，乃天機造化，抑高之道，雖在渺冥恍惚之間，而有自然之理，亦非顯形而有氣也。病雖為邪，而造化之道在其中矣。夫五行之理，甚而無以制之，則造化息矣。如風木旺而多風，風大則反涼，是反兼金化制其木也。大涼之下，天氣反溫，乃火化承於金也。夏火熱極而體反出液，是反兼水化制其火也。因而濕蒸雲雨，乃土化承於水也。雨濕過極，而兼烈風，乃木化制其土也。飄驟之下，秋氣反涼，乃金化承於木也。涼極而萬物反燥，乃火化制其金也。因而以為冬寒，乃水化承於火也。寒極則水凝如地，乃土化制其水也。凝凍極而起東風，乃木化承土而周歲也。凡不明病之標本者，由未知此變化之道也。</p>
<p><u>（瘕）</u></p>
<p>瘕：腹中雖硬，而忽聚忽散，無有常准，故《聖惠方》云：瘕，猶假也。以其病瘕未成癥也。《經》注曰：血不流而寒薄，故血內凝而成瘕也；一云腹內結病也。《經》曰：小腸移熱於大腸，為虙瘕，為沉。注曰：小腸熱已移入大腸，兩熱相搏，則血溢而為伏瘕也。血澀不利，則月事沉滯而不行，故云虙瘕為沉。「虙」與「伏」同。「瘕」一為「疝」，傳寫誤也。然則《經》言瘕病亦有熱者也，或陽氣鬱結，怫熱壅滯，而堅硬不消者，非寒癥瘕也，宜以脈證別之。</p>
<p><u>（㿗疝）</u></p>
<p>㿗疝：少腹控卵，腫急絞痛也。寒主拘縮故也。寒極而土化制之，故腫滿也。《經》言「丈夫㿗疝，」謂陰器連少腹急痛也，故言「婦人少腹腫，」皆肝足厥陰之脈也。《經》注曰：「寒氣聚而為疝也。」又按《難經》言，五臟皆有疝，但脈急也。注言：脈急者，寒之象也。然寒則脈當短少而遲，今言急者，非急數而洪也，由緊脈主痛，急為痛甚，病寒雖急，亦短小也。所以有痛而脈緊急者，脈為心之所養也，凡六氣為痛則心神不寧，而緊急不得舒緩，故脈亦從之而見也。欲知何氣為其痛者，適其緊急相兼之脈而可知也。如緊急洪數，則為熱痛之類也。又《經》言：「脾傳之腎，病名曰疝瘕，少腹煩冤而痛，出白蠱。」注言：「少腹痛，溲出白液也，一作客熱內結，銷爍脂肉，如蟲之食，故名白蠱也。」然經之復言熱為疝瘕，則亦不可止言為寒，當以脈證別之。</p>
<p><u>（堅痞腹滿急痛）</u></p>
<p>堅痞腹滿急痛：寒主拘縮，故急痛也。寒極則血脈凝冱反兼土化制之，故堅痞而腹滿也。或熱鬱於內，而腹滿堅結痛者，不可言為寒也。</p>
<p><u>（下利清白）</u></p>
<p>下利清白：水寒則清淨明白也。</p>
<p><u>（食已不飢）</u></p>
<p>食已不飢：胃熱則消穀善飢，故病寒則食雖已而不飢也，胃膈潤澤而無燥熱故也。或邪熱不殺穀，而腹熱脹滿，雖數日不食而不飢者，不可言為寒也。由陽熱太甚而鬱結，傳化失常，故雖不食而亦不飢。亦猶病熱雖甚，而無困倦，病愈而始困無力，由實熱之氣去也。</p>
<p><u>（吐利腥穢）</u></p>
<p>吐利腥穢：腸胃寒而傳化失常。我子能制鬼賊，則已當自實。故寒勝火衰金旺而吐利腥穢也。腥者，金之臭也；由是熱則吐利酸臭，寒則吐利腥穢也。亦猶飯漿，熱則易酸，寒則水腥也。</p>
<p><u>（屈伸不便，厥逆禁固）</u></p>
<p>屈伸不便，厥逆禁固：陰水主於清淨，故病寒則四肢逆冷，而禁止堅固，舒捲不便利也。故冬脈沉短以敦，病之象也。或病寒尚微，而未致於厥逆者，不可反以為熱。或熱甚而成陽厥者，不可反以為病寒也。然陰厥者，元病脈候，皆為陰證，身涼不渴，脈遲細而微，未嘗見於陽證也。其陽厥者，元病脈證，皆為陽證，熱極而反厥，時復反溫，雖厥而亦煩渴譫妄，身熱而脈數也。若陽厥極深，而至於身冷，反見陰脈微欲絕者，此為熱極而欲死也。俗皆妄謂變成陰病，且曰陰陽寒熱反變而不可測也。乃取陽主於生、陰主於死之說，急以火艾熱藥，溫其表裡，助其陽氣，十無一生。俗因之以為必死之證，致使舉世大懼陰證，而疑似陰者，急以溫之，唯恐救之不及，而反招暴禍。豈知熱病之將死者，鮮有逃於此證也。</p>
<p>殊不知一陰一陽之謂道，偏陰偏陽之謂疾。陰陽以平為和，而偏為疾。萬物皆以負陰抱陽而生，故孤陰不長，獨陽不成；陽氣極甚而陰氣極衰，則陽氣怫鬱；陰陽偏傾而不能宣行，則陽氣蓄聚於內，而不能營運於四肢，則手足厥冷，謂之陽厥。故仲景曰：「熱深則厥亦深，熱微則厥亦微。」又曰：「厥當下之，下後厥愈。」為以除其里之熱也。故病熱甚則厥，又以失下則熱甚，而反為陰證，非反變為寒病。</p>
<p>夫病之傳變者，謂中外、上下、經絡、臟腑，部分而傳受為病之邪氣也。非寒熱陰陽之反變也。法曰：陰陽平則和，偏則病。假令陽實陰虛，為病熱也，若果變而為寒，則比之熱氣退去，寒欲生時，陰陽平而當愈也，豈能反變之為寒病乎？</p>
<p>然雖《瘧論》言「陰勝則寒，陽勝則熱」者，謂裡氣與邪熱並之於表，則為陽勝而發熱也。表氣與邪熱並之於里，則為陰勝而寒慄也。由表氣虛而裡氣熱，亢則害，承乃制，故反戰慄也。大抵本熱，非病寒也！</p>
<p>或傷寒病，寒熱往來者，由邪熱在表而淺，邪惡其正，故惡寒也；邪熱在裡而深，邪甚無畏，物惡其極。故不惡寒而反惡熱也。表裡進退不已，故為寒熱往來也。此氣不並於表裡。故異於瘧而寒熱微也。皆熱傳於表裡之陰陽，而非病氣寒熱之陰陽反變也。</p>
<p>或病熱而寒攻過極，陽氣損虛，陰氣暴甚而反為寒者，雖亦有之，因藥過度而致之，非自然寒熱之反變也。</p>
<p>夫六氣變亂而為病者，乃相兼而同為病。風熱燥同，多兼化也。寒濕性同，多兼化也，性異而兼化者有之，亦已鮮矣。</p>
<p>或制甚而兼化者，乃虛象也。如火熱甚而水化制之，反為戰慄者，大抵熱甚，而非有寒氣之類也。故渴為熱在裡，而寒戰反渴引飲也。又如以火鍊金，熱極而反化為水。雖化為水，止為熱極而為金汁，實非寒水也。</p>
<p>或燥熱太甚而腸胃鬱結，飲冷過多而痞隔不通；留飲不能傳化，浸潤而寒極蓄於胃中。燥熱太甚，鬱於胸腹而䐜脹滿，煩渴不已，反令胃膈冷痛，嘔噦漿水，而水漿難下。欲止其渴而強飲於水，則滿、痛、嘔噦轉甚，而渴亦不止。不強飲之，則煩渴不可以忍，令人煩冤悶絕，而但欲死。若誤治之，即死不治，亦為難已。</p>
<p>每用大承氣湯熱服，下咽而腸胃鬱結痞隔，即得宣通，而留飲傳化浸潤，則寒濕散去，腸胃之外，得其潤澤，熱退而煩渴、滿痛、嘔噦遂止，須臾得利而已矣。</p>
<p>然而病諸氣者，必有所因，病本熱而變為寒者，實亦鮮矣。大凡陽實則脈當實數，而身熱煩渴，熱甚則為陽厥，至極則身冷脈微，而似陰證，以致脈絕而死。故陽病見陰脈者死，謂其脈近乎絕也。病雖熱甚而不已，則必須厥冷而脈微，以至身冷脈絕而死矣。</p>
<p>或病本熱勢太甚，或按法治之不已者，或失其寒藥調治，或因失下，或誤服熱藥，或誤熨、烙、熏、灸，以使熱極而為陽厥者，以承氣湯之類寒藥下之，熱退而寒得宣通，則厥愈矣。慎不可用銀粉、巴豆性熱大毒丸藥下之，而反耗陰氣，而衰竭津液，使燥熱轉甚，而為懊憹、喘滿、結胸，腹痛下利不止，血溢血泄，或為淋閟發黃，驚狂譫妄。諸熱變證不可勝舉；由此為破癥瘕堅積之藥，非下熱養陰之藥也。古人謂治傷寒熱病，若用銀粉、巴豆之類丸藥下之，則如刀劍刃人也！</p>
<p>及嘗有陽厥，而尚不下，以至身冷脈微而似陰證，反誤以熱藥投之，病勢轉甚，身冷脈微而欲絕，唯心胸微暖，昏冒不知人事而不能言，主病者或欲以暖藥急救其陽，恐陽氣絕而死也。答曰：此因熱極失下反又溫補而致之，若又以熱藥助其陽氣，則陰氣暴絕，陽氣亦竭而死，陽氣何由生也？</p>
<p>或又曰：何不急下之？答曰：此陽勝伐陰，而陰欲先絕，則陽亦將竭矣。於此時而下之，則陰陽俱絕而立死矣。不救亦死。但及於期則緩而救之，則當以寒藥養陰退陽，但不令轉瀉，若得陰氣漸生則可救也。</p>
<p>宜用涼膈，一服則陰氣可以漸生。何以知之？蓋以候其心胸溫暖漸多，而脈漸生爾。終日三服，其脈生至沉數而實，身表復暖，而唯厥逆，與水善飲，有時應人之問，譫妄而舌強難言，方以調胃承氣湯下之，獲汗而愈；所謂寒藥反能生脈，而令身暖者，由陽實陰虛，欲至於死，身冷脈微，今以寒藥養陰退陽，而復不至於死故也。</p>
<p>大凡治病，必先明其標本。標，上首也，本，根元也。故《經》言：先病為本，後病為標。標本相傳，先以治其急者。又言：六氣為本，三陰三陽為標，故病氣為本，受病經絡臟腑謂之標也。夫標本微甚，治之逆從，不可不通也。故《經》言：「知逆與從，正行無問，明知標本，萬舉萬當，不知標本，是謂妄行。陰陽之逆從標本之謂道也。」斯其理歟？</p>
