<header data-type="book">
<h1>醫通祖方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>一、桂枝湯</h1>
<p><u>桂枝湯</u>（《玉函》）</p>
<p>治風傷衛氣，脈浮緩，發熱，自汗，營衛不和。</p>
<p>桂枝（三錢）　白芍（二錢）　甘草（炙，二錢）　生薑（五片）　大棗（掰，四枚）</p>
<p>上五味水煎溫服，啜熱稀粥一盞，以助藥力，覆暖取微汗，效。不汗，少頃再服。</p>
<p><u>小建中湯</u>（《玉函》）</p>
<p>治風木乘脾，寒熱腹痛。</p>
<p>桂枝湯倍芍藥，加膠飴三錢。</p>
<p><u>黃耆建中湯</u>（《金匱》）</p>
<p>治虛勞，感寒發熱，自汗。</p>
<p>桂枝湯加黃耆錢半，膠飴一合。《千金》多人參二錢。</p>
<p>桂枝湯和營表藥，倍芍藥，加膠飴，便能建立中氣。以芍藥之酸斂護營血，膠飴之甘培養中土，更加黃耆以實衛氣，營衛臟腑俱和而受益多矣。《千金》於小建中方加入當歸，名曰內補建中，其調和中外之力可知。</p>
<p><u>陽旦湯</u>（《千金》）</p>
<p>治冬溫脈浮，發熱，項強，頭痛。</p>
<p>桂枝湯加黃芩錢半。</p>
<p><u>陰旦湯</u>（《千金》）</p>
<p>治冬溫內寒外熱，肢節疼痛，中挾寒食。</p>
<p>桂枝湯加黃芩錢半，乾薑五分。</p>
<p>陰霾四塞，非平旦之氣無以開啟陽和。桂枝湯原名陽旦，開啟陽邪之藥也，《千金》於中加入黃芩之苦寒，性輕以治冬溫在表之邪熱，仍以陽旦稱之。若兼挾寒食，再加乾薑之辛溫散結，以治中土之停滯，遂因之曰陰旦，與經絡之陰陽風馬牛不相涉也。</p>
<p><u>獨活湯</u>（《千金》）</p>
<p>治風懿，奄忽不知人，咽中閉塞不能言，四肢不收，手足嚲曳。</p>
<p>桂枝湯桂枝易桂心，去大棗，加獨活、栝蔞根、生葛發其汗。不得汗，去獨活、栝蔞根、生薑，加防己、防風、麻黃。喑瘂不語，並皆治之。</p>
<p><u>當歸四逆湯</u>（《玉函》）</p>
<p>治陽邪入犯厥陰，四肢厥逆。</p>
<p>桂枝湯去生薑，加當歸三錢，細辛、通草各一錢。</p>
<p>邪犯厥陰之界，有入無出，雖有熱邪，勢必從陰而為厥逆。故厥陰篇中有厥深熱深之例，以振發傳經之變端。病邪至此最為緊迫。醫者苟無成識於胸中，臨病將何措指？南陽先師乃毫不以厥逆為意，仍取太陽例中桂枝湯方，加入當歸協濟芍藥以護厥陰之營，細辛引領桂枝以為厥陰嚮導，通草通利膀胱以疏厥陰出路，與桂枝平分力量，為分解之捷徑。雖厥陰與太陽兩經接壤，邪入陰，斷無復傳陽經之理，先輩六經例有不罷再傳之說，大可噴飯。而桂枝方中獨去生薑者，恐辛辣性暴，不待氣味入陰，便從太陽開發，轉虛其衛，再有何力以振驅邪之任歟？由是廣推大小青龍、大小柴胡和解營衛兩歧，表裡交界之邪必用薑棗為一定之法。若麻黃湯則專主寒傷營證，便與生薑無預，逮至三陰等治，從無一方泛用生薑者。生薑為手頭常用之物，尚爾若此之慎，況有不察厥深熱深之旨，一見四肢厥冷，漫投姜附、四逆，於此能無慼慼乎？</p>
<p><u>內補當歸建中湯</u>（《千金》）</p>
<p>治產後血虛，虛羸不足，腹中刺痛，少腹中急，或感寒發熱。</p>
<p>桂枝湯桂枝易肉桂，加當歸二錢，膠飴六錢。</p>
<p>崩傷內衄不止，加地黃六錢，阿膠三錢。產後一月服四五劑，令人強壯。</p>
<p><u>桂枝龍骨牡蠣湯</u>（《玉函》）</p>
<p>治虛勞夢泄，惡寒發熱。</p>
<p>桂枝湯加龍骨（煅）、牡蠣（熬）各錢半。</p>
<p><u>桂枝大黃湯</u>（《玉函》）</p>
<p>治太陰中風誤下，引邪入內，腹滿痛。</p>
<p>桂枝湯加大黃一錢。</p>
<p>桂枝湯，表藥也，以其誤下引邪內賊，而腹滿痛，渾是表邪在內不解之故，故仍用桂枝湯，略加大黃因勢利導，病既變，則藥亦不得不隨之而變也。</p>
<p><u>桂枝葛根湯</u>（《玉函》）</p>
<p>治太陽經柔痙，自汗，脈浮。</p>
<p>桂枝湯加葛根二錢。</p>
<p>栝蔞桂枝湯（《金匱》）</p>
<p>治痙，太陽證備，身體強𠘧𠘧然，脈沉遲。</p>
<p>桂枝湯加栝蔞根二錢。</p>
<p><u>桂枝加附子湯</u>（《玉函》）</p>
<p>治亡陽漏風，肢體屈伸不和。</p>
<p>桂枝湯加熟附子一錢。</p>
<p><u>桂枝加黃耆湯</u>（《金匱》）</p>
<p>治黃汗，發熱，經冷，腰以上汗出，下無汗。</p>
<p>桂枝湯加黃耆二錢。</p>
<p><u>耆芍桂酒湯</u>（《金匱》）</p>
<p>治汗如柏汁，肢體腫，發熱，汗出而渴。</p>
<p>桂枝湯去甘草、薑、棗，加黃耆五錢，苦酒和水煎。</p>
<p><u>黃耆桂枝五物湯</u>（《金匱》）</p>
<p>治血痹，身體不仁，如風狀。</p>
<p>桂枝湯去甘草，加黃耆等分。《千金》桂枝易桂心，加人參，名黃耆湯。</p>
<p><u>茯苓甘草湯</u>（《玉函》）</p>
<p>治風邪入犯膀胱氣分，小便不利。</p>
<p>桂枝湯去芍藥、大棗，加茯苓二錢。</p>
<p><u>苓桂朮甘湯</u>（《玉函》）</p>
<p>治心下有支飲，胸腹支滿，目眩。</p>
<p>桂枝湯去芍藥、薑、棗，加茯苓二錢，白朮一錢。</p>
<p>此僅用桂枝湯之半，以流動中外之支滿；兼四君子之半，以運行在裡之痰氣也。</p>
<p><u>桂枝去芍藥加皂莢湯</u>（《金匱》）</p>
<p>治肺癰吐涎沫初起，有表邪者。</p>
<p>桂枝湯去芍藥，加皂莢一枚（去皮、核，酥炙）。</p>
<p><u>桂枝去芍藥加麻黃附子細辛湯</u>（《金匱》）</p>
<p>治氣分，心下如盤。</p>
<p>桂枝湯去芍藥，加麻黃、附子各一錢，細辛半錢。</p>
<p>病在氣分，非麻桂不能分解；病氣盤錯，非辛附不能破結。去芍藥者，惡其酸收也。</p>
<p><u>小青龍湯</u>（《玉函》）</p>
<p>治溢飲，喘咳，自利，發熱。當發其汗。</p>
<p>桂枝湯去薑、棗，加麻黃三錢，半夏二錢，炮薑、細辛、五味子各半錢。</p>
<p><u>小青龍加石膏湯</u>（《金匱》）</p>
<p>治喘咳上氣，煩躁，心下有水氣。</p>
<p>小青龍湯加石膏雞子大一枚（碎）。</p>
<p><u>桂枝麻黃各半湯</u>（《玉函》）</p>
<p>治太陽證，脈微，惡寒。</p>
<p>桂枝湯加麻黃、杏仁。</p>
<p><u>桂枝二越婢一湯</u>（《玉函》）</p>
<p>治營衛俱傷，風多寒少而煩滿。</p>
<p>桂枝湯本方各二錢，加麻黃二錢、石膏三錢。</p>
<p><u>桂枝芍藥知母湯</u>（《金匱》）</p>
<p>治肢節痛，腳腫如脫。</p>
<p>桂枝湯去大棗，加麻黃二錢，白朮半兩，知母、防風各四錢，熟附子二錢。</p>
<p><u>炙甘草湯</u>（《玉函》）</p>
<p>治傷寒脈結代，心動悸及肺痿唾多，心中溫溫液液，虛勞不足，汗出而悶。</p>
<p>桂枝湯去芍藥，倍甘草，加人參二錢、生地三錢、麥門冬二錢、麻子仁一錢、阿膠二錢。</p>
<p>混是清潤調補藥中，但用桂枝一味以流動經脈之滯，麻仁一味以滋潤腸胃之結，而脈虛結代、心虛動悸，一切虛勞不足得以榮養，則脈虛自復，心悸自寧矣。</p>
<p><u>芍藥甘草湯</u>（《玉函》）</p>
<p>治營血受傷，熱不止。</p>
<p>桂枝湯去桂枝、薑、棗。</p>
<p><u>芍藥甘草附子湯</u></p>
<p>治發汗病不解，反惡寒及瘡家發汗成痙。</p>
<p>桂枝湯去桂枝、薑、棗，加附子一錢（炮）。</p>
<p><u>黃芩湯</u>（《玉函》，一名黃芩芍藥湯）</p>
<p>治伏氣發溫，太陽少陽合病，白利。</p>
<p>桂枝湯去桂枝、生薑，加黃芩三錢。</p>
<p><u>黃芩加半夏湯</u>（《玉函》）</p>
<p>治伏氣發溫，內挾痰飲，痞滿，咳逆。</p>
<p>桂枝湯去桂枝，加黃芩三錢，半夏二錢。</p>
<p>黃芩湯本治春夏溫熱，熱自內發，故於桂枝湯中除去桂枝、生薑之辛溫，易以黃芩之苦燥，轉溫散為涼解，大匠運斤，妙用不可思議。後世藉以治下利身熱，亦不出此。其黃芩加半夏湯治自利而嘔與夏秋下利白沫，若合苻節，異病同治，總不出南陽之繩墨也。</p>

<h1>二、麻黃湯</h1>
<p><u>麻黃湯</u>（《玉函》）</p>
<p>治傷寒營氣，脈浮發熱，無汗而喘，骨節痛。</p>
<p>麻黃（去節，三錢）　桂枝（三錢）　甘草（炙，二錢）　杏仁（二十枚，泡，去皮尖，研）</p>
<p>上四味水煎溫服，暖覆取微汗，不須啜粥，以寒邪入傷營氣，營氣起於中焦，恐穀氣反助邪熱也。</p>
<p><u>麻黃加朮湯</u>（《金匱》）</p>
<p>治濕家身體煩疼，日晡發熱。</p>
<p>麻黃湯加白朮四錢。</p>
<p>濕家身疼煩熱，渾是軀殼受傷，即用麻黃湯開發肌表，不得白朮健運脾氣，則濕熱雖從汗泄，而水穀之氣依然復為痰濕流薄中外矣。然術必生用，若經炒焙，但有健脾之能，而無祛濕之力矣。</p>
<p><u>《古今錄驗》橘皮湯</u>（《金匱》）</p>
<p>治寒邪傷肺，咳嗽，吐血。</p>
<p>麻黃湯換肉桂，加橘皮、當歸、紫菀、黃芩。</p>
<p><u>麻仁甘石湯</u>（《玉函》）</p>
<p>治發汗後汗出而喘，無大熱者。</p>
<p>麻黃湯去桂枝，加石膏五錢。</p>
<p>此麻黃湯去桂而兼越婢之意，專祛上焦濕熱痰氣，與苓桂朮甘湯互發，彼藉苓朮專祛心下之支飲，此藉石膏專祛膈上之濕熱也。</p>
<p><u>麻黃杏仁薏苡甘草湯</u>（《玉函》）</p>
<p>治風濕一身盡痛，發熱，日晡所劇者。</p>
<p>麻黃湯去桂枝，加薏苡五錢。</p>
<p>杏子湯</p>
<p>治風水虛脹，脈浮。發其汗即已。</p>
<p>麻黃湯去桂枝。又《易簡》杏子湯用小青龍加人參、杏子仁。</p>
<p><u>甘草麻黃湯</u>（《金匱》）</p>
<p>亦治里水。</p>
<p>麻黃湯去桂枝、杏仁，方用甘草二錢、麻黃四錢。</p>
<p><u>葛根湯</u>（《玉函》）</p>
<p>治太陽陽明合病，自利，或發熱無汗，喘滿不食。</p>
<p>麻黃湯去杏仁，增桂枝一錢，加葛根四錢、芍藥二錢、生薑三片、大棗三枚。</p>
<p>此即麻黃、桂枝二湯合用，於中但去杏仁，增葛根為陽明經證之專藥，以其能輔麻黃大開肌肉也。去杏仁者，即開肌肉於外，不當復泄肺氣於內也。聖人立法，一方一味各有斟酌，非刻意研求，烏能測識其微而為蒼生司命哉！</p>
<p><u>三拗湯</u>（《局方》）</p>
<p>治風寒傷肺而咳，誤行斂肺而壅嗽喘急。</p>
<p>麻黃湯去桂枝，用麻黃（不去節）、甘草（生）、杏仁（連皮、尖）等分。更加桔梗、荊、蒼，名加味三拗湯。</p>
<p><u>麻黃附子細辛湯</u>（《玉函》）</p>
<p>治少陰病脈沉，發熱及水腫、喘咳。</p>
<p>麻黃湯去桂枝、杏仁、甘草，加附子一錢，細辛七分。</p>
<p><u>附子散</u>（《千金》）</p>
<p>治中風手臂不仁，口面喎僻。</p>
<p>麻黃附子細辛湯加乾薑、桂心、人參、防風、川芎、羚羊角，為散，水煮，加竹瀝，日服一劑，效。</p>
<p><u>倉公當歸湯</u></p>
<p>治賊風口噤，角弓反張成痙。</p>
<p>麻黃附子細辛湯加當歸、防風、獨活，水酒和煎。口不開者，格口內湯，一服當蘇，二服小汗，三服大汗。</p>
<p><u>麻黃附子甘草湯</u>（《玉函》，《金匱》名麻黃附子湯）</p>
<p>治少陰病脈沉，發熱二、三日，無里症及水腫脈沉。</p>
<p>麻黃湯去桂枝、杏仁，加附子一錢。</p>
<p><u>《千金》大棗湯</u></p>
<p>治歷節疼痛。</p>
<p>麻黃附子甘草湯加黃耆、薑、棗，日三服，汗之。</p>
<p>發表重劑莫如麻黃，溫經峻劑首推附子，表裡補瀉，功用天淵。仲景於少陰病脈沉、發熱，二味合用，單刀直破堅壘而建補天浴日之功。在一二日間勢難叵測，則用細辛以助其銳；二三日無里症，則用甘草以緩其治，各有權度。《金匱》於水腫治例亦用二湯，喘嗽則兼細辛以開肺氣之壅，脈沉則兼甘草以緩其腎氣之逆，與初起防變，二三日無里症互發。而倉公乃於麻附細辛方中加歸、防、獨以療賊風口噤發痙，《千金》復以麻附甘草湯內加黃耆、薑、棗以治歷節疼痛，總賴麻黃附子輒外輒內，迅掃其邪，杲日當陽，何有陰霾之患乎？</p>
<p><u>麻黃升麻湯</u>（《玉函》）</p>
<p>治冬溫誤行汗下，下部脈不至，咽喉不利，唾膿血。</p>
<p>麻黃湯去杏仁，用麻黃二錢，桂枝、甘草各八分，加升麻、當歸各一錢，知母、黃芩、萎蕤各二錢，天門冬、芍藥、乾薑、白朮、茯苓、石膏各八分。</p>
<p>此方專主陽熱陷於厥陰，經脈為邪氣所遏，故下部脈不至，而證見咽喉不利，唾膿血也。邪遏經脈，非兼麻黃桂枝之制，不能開發肌表以泄外熱；非取白虎、越婢之法，不能清潤肺胃以化裡熱。更以甘草、芍藥參黃芩，寒因寒用，謂之應敵；甘草、乾薑合腎著湯，熱因熱用，謂之嚮導。以病氣龐雜，不得不以逆順兼治也。</p>
<p><u>華蓋散</u>（《局方》）</p>
<p>治肺受風寒，咳嗽聲重，煩滿，昏眩，脈浮數。</p>
<p>麻黃湯去桂枝，方用麻黃、杏仁各一錢，甘草五分，加蘇子、赤茯苓、橘紅、桑根皮各一錢，生薑二片、紅棗一枚。</p>
<p><u>九寶湯</u></p>
<p>治經年久嗽不愈，脈浮，起於外感者。</p>
<p>麻黃湯加紫蘇、薄荷、橘紅、桑白皮、大腹皮等分，生薑三片，烏梅肉半個。</p>
<p><u>麻黃連軺赤小豆湯</u>（《玉函》）</p>
<p>治濕熱發黃。</p>
<p>麻黃湯去桂枝，減麻黃一錢，加連軺二錢、赤小豆一合、生梓白皮一兩、生薑三片、大棗四枚。水煎，分溫三服，半日服盡。</p>
<p><u>越婢湯</u>（《金匱》）</p>
<p>治風水惡寒，一身悉腫，脈浮，不渴，續自汗出，無大熱者。</p>
<p>麻黃湯去桂枝、杏仁，倍麻黃，加石膏八錢、生薑三片、大棗五枚。水煎，溫分三服。</p>
<p>越婢者，發越濕土之邪氣也。水濕之氣因風流播中外，兩相激搏，勢難分解，不得不藉麻黃祛之，從表而越，石膏清之，從里而化，《內經》開鬼門法也。本方加朮以助腠理開，汗大泄，於加朮方中更加附子以治腳痹惡風，開中寓闔，信手合轍。其大青龍、小續命、麻杏甘石湯，或加桂枝以和營，或加參、歸以鼓氣，或加杏仁以泄滿，總以此方為局也。</p>
<p>或問：表無大熱，何得輕用麻黃？內無煩渴，何得輕用石膏？蓋惡寒、身腫、自汗，渾是濕氣鬱著，非風以播之不能解散，麻黃在寒傷營劑中則為正治，在開痹濕門中則為導引。石膏在白虎湯中則為正治，在越婢、青龍、續命方中則為導引，不可以此礙彼也。</p>
<p><u>越婢加朮湯</u>（《金匱》）</p>
<p>治肉極熱則身體津脫，腠理開，汗大泄，厲風氣，下焦腳弱。</p>
<p>越婢湯加白朮四錢。</p>
<p><u>越婢加朮附湯</u>（《金匱》）</p>
<p>治腳痹惡風。</p>
<p>越婢湯加白朮四錢、附子一錢。</p>
<p><u>越婢加半夏湯</u>（《金匱》）</p>
<p>治肺脹，咳而上氣。</p>
<p>越婢湯加半夏半兩。</p>
<p><u>大青龍湯</u>（《玉函》）</p>
<p>治營衛俱傷，脈浮緊，汗不得出而煩躁。</p>
<p>越婢加杏仁十四枚（去皮、尖），桂枝二錢。</p>
<p><u>文蛤湯</u>（《金匱》）</p>
<p>治吐後渴飲不止，脈緊，頭痛。</p>
<p>越婢湯麻黃減半，加文蛤五錢、杏仁十五枚。</p>

<h1>三、續命湯</h1>
<p><u>續命湯</u>（《金匱》名《古今錄驗》續命湯）</p>
<p>治中風痱，身體不能自收，並治但伏不得臥，咳逆上氣，面目浮腫。</p>
<p>麻黃　桂枝《千金》、《局方》用心　當歸　人參　石膏　乾薑　甘草（炙，各三錢）　川芎（一錢）　杏仁（三十枚，《千金》作白朮）</p>
<p>上九味水煎，溫服，當薄覆脊，憑几坐，汗出則愈，不汗更服，無所禁，勿當風。千金續命湯無人參，有防風、黃耆、芍藥。續命風引湯多防己、防風、獨活、附子，治中風癲眩不知人，狂言舌腫出。千金依源續命湯多白朮、茯苓、大棗，為十二味。</p>
<p><u>小續命湯</u>（《千金》）</p>
<p>治中風外顯六經形證。</p>
<p>續命湯去石膏，加芍藥、防風、黃芩各一錢四分，防己一錢，熟附子六分，生薑五片，大棗一枚。（《崔氏》、《外臺》不用防己、大棗）</p>
<p>無汗惡寒倍麻黃、杏仁；有汗惡風倍桂枝、芍藥；無汗身熱、不惡寒，去附子，倍甘草，加石膏、知母；有汗身熱、不惡風，倍桂枝、黃芩，加葛根；無汗身涼、脈沉細，倍附子，加乾薑；有汗無熱、畏寒、脈沉，倍桂枝、附子、甘草；肢節攣痛、麻木不仁、脈緩和，加羌活、連翹（上易老加減法）。</p>
<p>張景岳曰：按歷代相傳，治中風之方皆以續命等湯為主，考其所自，則始於《金匱要略》，附方中有古今錄驗續命湯。然此必宋時校正之所增，而非仲景本方也，此自隋唐以來則孫氏《千金方》乃有小續命、大續命、西州續命、排風等湯，故後世宗之。無不以此為中風主治矣。夫續命湯以麻黃為君，而與薑、桂並用，本發散外邪之方，至小續命、大續命、西州續命等湯則復加黃芩以兼桂、附，雖曰相制，而水火冰炭，道本不同，即有神妙，終非余之心服者。其他無論，獨怪乎河間、東垣、丹溪三子者，既於中風門皆言此病非風矣，何於本門並首列小續命湯而附以加減之法？又何前後之言不相應耶？</p>
<p><u>大續命湯</u>（《千金》）</p>
<p>治中風肥盛，多痰多渴，肢體不遂。</p>
<p>續命湯去人參，加黃芩、荊瀝（一作竹瀝）。</p>
<p><u>西州續命湯</u>（《千金》）</p>
<p>治中風痱，身體不能自收，口不能言，冒昧不識人，拘急不能轉側。</p>
<p>大續命湯去荊瀝。</p>
<p><u>八風續命湯</u>（《千金》）</p>
<p>治卒中，半身不遂，手足拘急。</p>
<p>續命湯去麻黃、川芎，加獨活、黃芩。水煎溫服，覆汗。不得汗，倍麻黃。</p>
<p><u>排風湯</u>（《千金》）</p>
<p>治中風，肢體煩疼，皮膚不仁。</p>
<p>續命湯去人參、石膏、乾薑，加防風、芍藥、白朮、茯苓、獨活、白蘚皮、生薑。</p>

<h1>四、升麻湯</h1>
<p><u>升麻湯</u>（一名升麻葛根湯）</p>
<p>治陽明經邪發熱及痘疹初起。</p>
<p>升麻（一錢）　葛根　白芍（各錢半）　甘草（炙，八分）</p>
<p>上三味水煎，溫服。</p>
<p>升、葛為陽明經之嚮導，陽明專主肌肉，恐開泄太過，即以白芍斂護營血，甘草調和中氣，所以解利本經邪熱及時行痘疹，皆為專藥，然在起脹後禁用。</p>
<p><u>秦艽升麻湯</u></p>
<p>治中風，口目喎斜。</p>
<p>升麻湯加秦艽、人參、桂枝、白芷、防風、蔥白。</p>
<p><u>升陽散火湯</u></p>
<p>治胃虛過食寒物，抑遏陽氣於脾土中，畏寒發熱，火鬱則發之也。</p>
<p>升麻湯加羌活、獨活、人參、柴胡、防風，用生甘草。</p>
<p><u>火鬱湯</u></p>
<p>治火鬱不舒，凜凜惡寒不止。</p>
<p>升麻湯用生甘草，加柴胡、防風、蔥白。</p>
<p>按：此即升陽散火湯去羌活、獨活、人參，加蔥白。《內經》所謂惡寒非寒，火鬱則發之也。</p>
<p><u>沖和順氣湯</u></p>
<p>治內傷脾氣，惡寒，發熱，食少，便溏。</p>
<p>升麻湯加人參、羌活、防風、蒼朮、白朮、薑、棗。</p>
<p><u>升陽補氣湯</u></p>
<p>治胃氣不足，脾氣下溜，氣短無力，不時發熱，早飯後煩悶須要眠睡，五心煩熱。</p>
<p>升麻湯去葛根，加羌活、獨活、防風、柴胡、厚朴、澤瀉、薑、棗。</p>
<p><u>和解湯</u></p>
<p>治痘三日，前後起發遲。</p>
<p>升麻湯加人參、川芎、羌活、防風。</p>
<p><u>連翹升麻湯</u></p>
<p>治痘發太多，涼內解毒。</p>
<p>升麻湯加連翹、桔梗、牛蒡、木通、薄荷、燈心、竹葉。</p>

<h1>五、小柴胡湯</h1>
<p><u>小柴胡湯</u>（《玉函》，《千金》名黃龍湯）</p>
<p>治少陽受邪，往來寒熱，脈弦，脅痛而嘔。</p>
<p>柴胡（三錢）　黃芩　人參　甘草（炙，各一錢）　半夏（二錢）　生薑（五片）　大棗（四枚）</p>
<p>水煎，去滓，溫服。</p>
<p>治傷寒有五法，曰汗、曰吐、曰下、曰溫、曰和，皆一定之法，而少陽例中小柴胡湯專一和解表裡。少陽為陰陽交界，邪傳至此，已漸向里，故用柴胡升發其邪，使從外解，即以人參擋截於中，不令內犯，更以半夏、黃芩清解在裡之熱痰，生薑、大棗並祛在表之邪氣，又須甘草協輔參、柴共襄匡正辟邪之功，真不易之法，無容擬議者也。其方後加減乃法中之法，定而不移。至於邪氣犯本，膽腑受病而加龍骨、牡蠣，丸藥誤下而加芒硝，屢下不解，引邪入里，心下急，鬱郁微煩而用大柴胡，為法外之法，變通無定，不可思議者也。獨怪世醫用小柴胡一概除去人參，且必加枳、桔耗氣之品，此非法之法，習俗相承，匿於橫議者也，何怪乎道藝日卑，風斯日下哉！</p>
<p><u>柴胡加龍骨牡蠣湯</u>（《玉函》）</p>
<p>治少陽經邪誤下犯本，胸滿驚煩。</p>
<p>小柴胡湯去黃芩、甘草，加桂枝、茯苓、龍骨、牡蠣、鉛丹、大黃。</p>
<p><u>柴胡加芒硝湯</u>（《玉函》）</p>
<p>治少陽過經不解。</p>
<p>小柴胡湯加芒硝三錢。</p>
<p><u>大柴胡湯</u>（《玉函》）</p>
<p>治寒熱便秘。</p>
<p>小柴胡湯去人參、甘草，加芍藥、枳實各一錢，大黃二錢。</p>
<p><u>四逆散</u>（《玉函》）</p>
<p>治熱邪傳入少陰，厥逆。</p>
<p>小柴胡湯去人參、半夏、黃芩、薑、棗，加枳實、芍藥等分，為散，飲服方寸匕，日三服。</p>
<p>凡病各有真假，真者易見，假者難辨，差之毫釐，迥乎冰炭。試以傷寒之厥逆辨之，其始病便見者，為直中寒厥；五六日熱除而見者，為傳經熱厥。寒厥真而熱厥假也，熱厥之治惟四逆散得之。細推其邪從陽入陰，必由少陽而達，亦無不由太陰竟入少陰之理，故首推柴胡為來路之引經，亦藉以為去路之嚮導，用枳實者，掃除中道，以修整正氣復回之路也。夫陰為陽擾，陽被陰埋，舍和別無良法，故又需與芍藥以和其營，甘草以和其胃，胃氣和而真陽敷布，假證愈而厥逆自除，但方後加減紛龐，寒熱互用，非隨證而推逆順之機，難以語此。如悸加桂枝，小便不利加茯苓，泄利下重加薤白，皆陰為陽擾，隨其攸利而開泄之。咳利加五味、乾薑，腹痛加附子，是陽被陰埋，急須煥發以克復之，與厥陰例中當歸四逆加吳茱萸同法。須知真證正治，假證間取，總不出此方之模範也。至若二經熱邪亢極而厥，自有大承氣下奪之法，又非四逆散、當歸四逆之和法可例治也。</p>
<p><u>柴胡去半夏加栝蔞湯</u>（《金匱》）</p>
<p>治瘧多渴。</p>
<p>小柴胡湯去半夏，加栝蔞根。</p>
<p><u>柴胡桂枝幹薑湯</u>（《玉函》，《金匱》名柴胡桂薑湯）</p>
<p>治瘧，寒多，微有熱。</p>
<p>小柴胡湯去人參、半夏、薑、棗，加桂枝、乾薑、天花粉、牡蠣（熬）。</p>
<p><u>柴胡桂枝湯</u>（《玉函》）</p>
<p>治太陽、少陽並病、合病寒熱及瘧。</p>
<p>小柴胡湯加桂枝、芍藥。（即小柴胡湯合桂枝湯）</p>
<p><u>柴胡四物湯</u></p>
<p>治婦人經行感冒，熱入血室。</p>
<p>小柴胡湯合四物湯。</p>
<p><u>柴胡枳桔湯一名枳桔柴胡湯</u></p>
<p>治少陽寒熱，痞滿。</p>
<p>小柴胡湯加枳殼、桔梗。</p>
<p><u>增損柴胡湯</u></p>
<p>治少陽血虛，寒熱不止。</p>
<p>小柴胡湯去黃芩，加川芎、芍藥、陳皮。</p>
<p><u>柴胡清肝散</u></p>
<p>治怒火，憎寒發熱，肝膽風熱瘡瘍。</p>
<p>小柴胡湯去半夏、薑、棗，加山梔、川芎、連翹、桔梗。</p>
<p><u>人參敗毒散</u>（《局方》）</p>
<p>治時疫初起，發熱及感冒，發散後熱不止。</p>
<p>小柴胡湯去半夏、黃芩、大棗，加茯苓、羌活、獨活、前胡、川芎、枳殼、桔梗。</p>
<p>問：時疫初起用人參敗毒，得毋助邪為虐之患乎？又何以治非時寒疫汗後熱不止？詳此二者，一為全盛之毒，一為未盡之邪，胡一方可混治邪？蓋時疫之發或值歲氣並臨，或當水土疏豁，種種不侔，然必入傷中土。土主百骸，無分經絡，毒氣流行，隨虛輒陷，最難叵測。亟乘邪氣未陷時，盡力峻攻，庶克有濟。其立方之妙，全在人參一味，力致開闔，始則鼓舞羌、獨、柴、前各走其經而與熱毒分解之門，繼而調御津精血氣各守其鄉，以斷邪氣復入之路，與桂枝湯中芍藥護營之意不殊，如桂枝人參湯、小柴胡湯、參蘇飲未常不用人參以協濟表藥成功也，但其所主惟天行大頭乃為合轍。加荊芥、防風、牛蒡、薄荷，名荊防敗毒，為捻頸瘟、咽喉腫痛之專藥，即上二證在熱毒既陷已後及北方黑骨溫等，總與此方無預也。至若傷寒傳變之邪、伏氣鬱發之證涇渭攸分，略無交涉。而先哲嘗藉以治寒疫汗後餘熱，往往獲效者，以非時之邪混廁經中，屢行疏表不應，邪伏幽隱不出，非藉人參之大力，不能載之外泄也。逮至疫痢昏熱口噤，亦宜此方，加陳倉米引領入胃，則毒隨藥化，得非人參輔佐之力歟？獨怪近世醫流偏謂人參助長邪氣，除去不用，專行群隊攻發鼓激，壯火飛騰不至，竭絕真陰不已。茲緣同學質問，因祖述以政。</p>
<p><u>荊防敗毒散</u></p>
<p>治大頭蝦蟆瘟證。</p>
<p>人參敗毒散加荊芥、防風、薄荷、牛蒡。</p>
<p><u>倉廩湯</u></p>
<p>治疫痢發熱。</p>
<p>人參敗毒散加陳倉米一撮。</p>
<p><u>清脾飲</u></p>
<p>治食瘧脈實，溺赤，便秘。</p>
<p>小柴胡湯去人參，加白朮、青皮、厚朴、草果。</p>
<p>按：清脾飲清理脾家痰氣宿滯，及蘊積少陽經中風熱之邪，乃於小柴胡中除去人參，益入青皮、白朮、厚朴、草果一派克削之味，在藜藿之人固為相宜，若膏粱豢養柔脆者，即有留滯，亦難勝此，用者審之。</p>

<h1>六、星香湯</h1>
<p><u>星香湯</u></p>
<p>治中風痰涎潮塞，不省人事，服熱不得者。</p>
<p>南星（三錢）　木香（五分）　生薑（十片）</p>
<p>水煎服，無拘。</p>
<p><u>省風湯</u>（《局方》）</p>
<p>治卒中口噤不能言，口眼喎斜，筋脈抽掣，風痰壅盛。</p>
<p>星香湯去木香，用陳膽星一錢五分，加防風一錢，生半夏、黃芩、生甘草各七分五釐。</p>
<p><u>大省風湯</u>（《局方》）</p>
<p>治卒中痰逆，嘔泄，脈沉，厥冷。</p>
<p>星香湯去木香，用陳膽星二錢，加防風、獨活、生附子各一錢，全蠍、生甘草各五分。</p>
<p>按：此即省風湯去半夏、黃芩，加獨活、附子、全蠍。二湯雖分寒熱主治，並用生薑十片，以開發風痰，不可減也。</p>
<p><u>三生飲</u>（《局方》）</p>
<p>治中風卒倒，口眼喎斜，半身不遂，寒閉不省人事，痰氣上壅。</p>
<p>星香湯本方用生南星一兩、木香三錢半，加生川烏、生附子各五錢，搗羅為散，每服五錢，同生姜十片煎服。氣虛卒倒，另加人參兩許駕馭之。</p>
<p>三生飲中風門中破的之方，雖本星香而實火得省風之妙用，與續命湯相為犄角，奪門革鼎，各有專功，貴在先聲奪氣，無容庸師擬議。</p>

<h1>七、朮附湯</h1>
<p><u>朮附湯</u></p>
<p>治寒濕體痛，自汗，身寒。</p>
<p>白朮（一兩）　附子（半兩）</p>
<p>上二味水煎，去滓，放涼，分三服。</p>
<p><u>參附湯</u></p>
<p>治脾腎陽虛，厥逆，自汗。</p>
<p>朮附湯去朮，加人參一兩。</p>
<p><u>耆附湯</u></p>
<p>治元陽衰弱，虛風自汗。</p>
<p>朮附湯去朮，加黃耆一兩（蜜酒炒）。</p>
<p>《三因》治自汗，用耆附、朮附、參附三方，皆用附子五錢，余俱一兩，分三服服之。其衛外之陽不固，則用耆附；脾中之陽不固，則用朮附；腎藏之陽不固，則用參附。凡屬陽虛自汗，不能捨此三方，而耆附可以治虛風，朮附可以治寒濕，參附可以壯元神，三方亦相因為用，只用二物，不雜他味，取力銳以擅專功也。其外麻附、桂附、姜附、椒附、星附及大黃附子等，法度森森，分治九垓，各具轉日回天之妙用，豈尋常可擬議乎？</p>
<p><u>桂枝附子湯</u>（《玉函》）</p>
<p>治風濕身重煩疼，不能轉側。</p>
<p>朮附湯去朮本方，用附子一枚，加桂枝一兩二錢、甘草六錢、生薑一兩、大棗十二枚。分溫三服。</p>
<p><u>白朮附子湯</u>（《玉函》，即近效白朮附子湯）</p>
<p>治風濕相摶，骨節煩疼，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫。</p>
<p>朮附湯本方，用術一兩二錢、附六錢，加甘草六錢、生薑一兩、大棗十二枚。分溫三服。</p>
<p><u>甘草附子湯</u>（《玉函》）</p>
<p>治風濕大便堅，小便自利。</p>
<p>朮附湯本方，用朮、附各六錢，加桂枝一兩二錢、甘草六錢。分溫三服。</p>
<p>桂枝附子、白朮附子、甘草附子三方皆本朮附湯方而立。一加桂枝、甘草、薑、棗以治身重煩疼，不能轉側，其病全在軀殼，無關於里，故於本方除去白朮，使桂附專行軀殼而振驅風逐濕之功；用甘草以緩桂枝、附子之性，不使其汗大泄，汗大泄，則風去而濕不去也；風在疾祛，濕在緩攻，故用生薑之辛以散之，大棗之甘以緩之，則營衛之開闔有權，風濕無復入之虞矣。一加甘草、薑、棗以治骨節煩疼、掣痛等證，渾是濕流關節之患，故於本方但加甘草以緩朮附之性，薑、棗以司開闔之機；風之見證本輕，故無藉於桂枝也。一加桂枝、甘草以治風濕大便堅、小便自利，以病氣駸駸內犯，故於本方加桂枝助附子以杜內賊之風濕；加甘草助白朮以和二便之偏滲，故大便雖堅，法無下奪之理。</p>
<p><u>附子湯</u>（《玉函》）</p>
<p>治少陰病始得之，背惡寒，脈沉，身體、骨節痛。</p>
<p>朮附湯加茯苓、白芍各一兩，人參六錢。</p>
<p><u>真武湯</u>（《玉函》，《千金》名玄武湯）</p>
<p>治少陰下利，腹痛，或咳嘔，小便不利。</p>
<p>朮附湯本方，白朮六錢、附子一枚（炮），加茯苓、芍藥、生薑各一兩。咳者，加五味子、細辛、乾薑；小便利者，去茯苓；下利，去芍藥，加乾薑；嘔者，去附子，加生薑。</p>
<p>詳附子湯與真武湯二方止差一味，一治少陰病始得之，便背惡寒、口中和，知其人真陽素虧，故用人參以助附子之雄，茯苓以行白朮之滯，又恐生附性悍傷犯真陰，故用芍藥以護持營血，營血得安而真陰受蔭矣。一以少陰病二三日不已，至四五日腹痛自利，四肢沉重，或咳，或嘔，其人內外皆是水氣，故用生薑佐茯苓、朮、附以利水為務，水去則真陽自復。當知此證皆由水氣鬱遏其陽，陽氣原不大虛，所以方中朮附僅用附子湯之半；又恐辛燥有傷其陰，因以芍藥保其營血，與附子湯之立法不殊；即過汗傷經，振振欲擗地者，亦不出是方也。</p>
<p><u>附子散</u></p>
<p>治陰痙。</p>
<p>朮附湯本方，二味各用一兩，加桂心、川芎、獨活各半兩，為散，每服三、四錢，薑棗湯煎服。</p>

<h1>八、四逆湯</h1>
<p><u>四逆湯</u>（《玉函》）</p>
<p>治陰寒脈沉，四肢厥冷，嘔吐泄瀉。</p>
<p>附子（生用，一枚）　乾薑（五錢）　甘草（六錢）</p>
<p>上三味水煎，分溫再服，強人可服大附子一枚，乾薑一兩。</p>
<p><u>四逆加人參湯</u>（《玉函》）</p>
<p>治惡寒，脈微而利。</p>
<p>四逆湯加人參三錢至一兩。</p>
<p><u>茯苓四逆湯</u>（《玉函》）</p>
<p>治發汗，若下之，病仍不解，煩躁。</p>
<p>四逆湯加人參三錢至一兩，茯苓六錢。</p>
<p><u>通脈四逆湯</u>（《玉函》）</p>
<p>治少陰病下利清穀，裡寒外熱。</p>
<p>四逆湯倍用乾薑。</p>
<p><u>通脈四逆加豬膽汁湯</u>（《玉函》）</p>
<p>治吐已下斷，四肢拘急不解，脈微欲絕者。</p>
<p>四逆湯倍乾薑，加豬膽汁。</p>
<p><u>白通湯</u>（《玉函》）</p>
<p>治少陰病下利，脈微。</p>
<p>四逆湯去甘草本方，薑、附各三錢，加蔥白四莖。</p>
<p><u>白通加豬膽汁湯</u>（《玉函》）</p>
<p>治少陰病下利，厥逆無脈，乾嘔而煩。</p>
<p>四逆湯去甘草本方，薑、附各用三錢，加蔥白四莖、人尿五合、豬膽汁一合。</p>
<p><u>乾薑附子湯</u>（《玉函》，一名姜附湯）</p>
<p>治少陰病晝日煩躁。</p>
<p>四逆湯去甘草。</p>
<p>四逆湯用姜附之辛熱恢復其陽，即用甘草以緩其性，使之徐行以達四末，專為始病便見厥逆、脈沉、不發熱者而設。即太陰自利、腹痛，厥陰下利、拘急，總不出此，以厥陰之邪無不由少陰而入也。非但三陰俱可取用，非太陽之頭痛、發熱、脈沉，亦須用此先救其里，然後解表，方為合轍。而少陰病晝日煩躁用乾薑附子湯，即四逆湯中除去甘草，專用二味以迅掃陰霾，與白通立法無異。以意逆之，四逆一方，太陽尚所攸賴，白通二例與厥陰獨無干預耶？雖厥陰經中但有通脈而無白通，詳二方止五更一味，通脈有甘草而無蔥白，白通有蔥白而無甘草。一取甘緩以徐復欲絕之脈，一去甘草以急追將脫之陽，皆用豬膽以除假熱。白通專用蔥白以通真陽，又恐蔥白性升，引領薑、附上僭，故以人尿折而下之。其通脈本方雖無蔥白，方後便有赤白加蔥之列。蔥白既可加用，人尿獨不可加用乎？況厥陰內藏風木，得無面赤戴陽可用蔥白之治乎？上法皆末流之挽，無問直中、沉寒、傳經、壞病。氣比轉逆，元氣至此逮盡，非始病便見脈沉、發熱之比。縱兩感勢劇，尚有麻黃附子細辛湯盡力可救於前，太陽例中先後救里解表之法互相揮發，辨治之微，惟在頭之痛與不痛為確據也。精義至此，盡情剖露，後世略不加察，妄立兩感之方，總未達長沙萬一耳。</p>
<p><u>回陽返本湯</u></p>
<p>治陽虛躁渴，面赤戴陽，欲坐臥泥水中，脈來無力欲絕者。</p>
<p>四逆湯加人參、麥門冬、五味子、臘茶、陳皮。</p>
<p>面赤者，下虛也，加蔥白七莖、黃連少許，用泥漿水澄清煎服，入白蜜五匙，冷服取汗。</p>
<p>此以白通合生脈，治陰極似陽最為神妙，加用臘茶、漿水等味，當矣！但陳皮一味似屬不必，知人參既合薑、附，其勢歘脹，奚藉陳皮發揚之力哉？</p>
<p><u>羌活附子散</u></p>
<p>治胃冷呃逆。</p>
<p>四逆湯去甘草本方，用附子半兩、乾薑二錢，加羌活、茴香各半兩、木香一錢為散，每服二錢，入鹽一字，水煎，微溫服。</p>
<p><u>木香散</u></p>
<p>治虛寒滑泄不止。</p>
<p>四逆湯本方，用甘草、乾薑各二兩，附子一兩，加丁香、木香、肉豆蔻、廣藿香、訶子肉、赤石脂各一兩，為散，每服三錢，陳米湯下。世本無炮姜，多當歸。</p>
<p><u>冷香飲子</u></p>
<p>治中暑內挾生冷飲食，腹痛，瀉利。</p>
<p>四逆湯去乾薑本方，甘草、附子各一錢，加草果仁、橘紅各二錢，生薑五片，浸冷服之。</p>
<p><u>漿水散</u></p>
<p>治中暑泄瀉，多汗，脈弱。</p>
<p>四逆湯本方，三味各用五錢，加肉桂五錢，良薑、半夏各二錢五分（二味俱醋炒）。漿水煎，去滓冷服。</p>
<p>按：漿水乃秫米和曲釀成，如醋而淡，今人點牛乳作餅用之。或用真粉作，內綠豆者尤佳。</p>
<p><u>茵陳四逆湯</u></p>
<p>治陰黃，脈沉細，肢體逆冷，腰以上自汗。</p>
<p>四逆湯本方，用炮姜一錢五分，附子、甘草各一錢，加茵陳蒿一錢五分。</p>
<p><u>茵陳附子乾薑湯</u></p>
<p>治陰黃，脈沉細。</p>
<p>四逆湯去甘草，用熟附三錢、炮姜二錢，加白朮二錢，豆蔻、枳實、半夏、茯苓、澤瀉、橘紅各八分，茵陳蒿一錢，生薑五片。</p>

<h1>九、理中湯丸</h1>
<p><u>理中湯丸</u>（《玉函》，《金匱》名人參湯）</p>
<p>治胸痹心胸痞氣，霍亂吐瀉不渴，一切脾胃虛寒，嘔吐清水，飲食不入，完穀不化。</p>
<p>乾薑（炮，半錢至一錢）　人參（一錢至三錢）　白朮（炒焦，一錢至二錢）　甘草（炙，半錢至一錢）</p>
<p>上四味水煎，去滓溫服。腸胃虛脫，完穀不化者，煉白蜜丸彈子大，沸湯研，和滓日三夜二服，名理中丸。</p>
<p><u>附子理中湯</u></p>
<p>治下焦虛寒，火不生土，泄瀉嘔逆。</p>
<p>理中湯加熟附子。</p>
<p>按：方中用參三錢，僅可用附一錢。若峻用溫補，用參一兩，方可加附三錢。如尋常小劑，用參一錢，止可用附三分。設不審此，而附過於參，下咽之後，壯火食氣，反招竭澤之殃，製劑不可不講。</p>
<p><u>桂枝人參湯</u>（《玉函》）</p>
<p>治挾熱利不止，心下痞硬。</p>
<p>理中湯加桂枝。</p>
<p><u>枳實理中湯</u></p>
<p>治胃虛挾食及結胸，本虛不能受攻者。</p>
<p>理中湯加枳實、茯苓。《千金》加半夏、厚朴、附子，治胸中悶。亦可用陳米飲或蒸餅丸服。</p>
<p><u>治中湯</u></p>
<p>治冷食結滯。</p>
<p>理中湯加青皮、陳皮。</p>
<p><u>連理湯</u></p>
<p>治胃虛挾食，痞滿發熱。</p>
<p>理中湯加黃連、茯苓。</p>
<p><u>理苓湯</u></p>
<p>治胃虛食滯，喘脹，浮腫，小便不利。</p>
<p>理中湯合五苓散。</p>
<p><u>乾薑人參半夏丸</u>（《金匱》）</p>
<p>治妊娠胃寒，嘔吐不止。</p>
<p>理中湯去白朮、甘草本方，乾薑、人參各一兩，加半夏二兩，薑汁糊丸梧子大，飲服十丸，日三服。</p>
<p><u>甘草乾薑湯</u>（《玉函》）</p>
<p>治胃中陽虛，咽乾，煩躁、吐逆。</p>
<p>理中湯去人參、白朮。</p>
<p><u>三物大建中湯</u>（《金匱》）</p>
<p>治胸中大寒，嘔止不能食及少腹冷積作痛。</p>
<p>理中湯去白朮、甘草本方，乾薑用四錢，人參用三錢，加蜀椒半合（去閉口者，炒去汗）。水煎去滓，內膠飴半杯，微火再煎，溫服，如炊頃，少飲稀粥一升後，更服。當一日食糜，溫覆之。</p>
<p><u>甘姜苓朮湯</u>（《金匱》，一作腎著湯）</p>
<p>治腰以下重著而痛。</p>
<p>理中湯去人參，加茯苓。</p>
<p>腎著湯者，腎受濕著而重痛，故以燥濕為務，非腎虛腰痛可渾用也。</p>
<p><u>滲濕湯</u>（《局方》）</p>
<p>治濕滯經絡，腰下重著而痛。</p>
<p>理中湯去人參，加蒼朮、茯苓、橘紅、丁香、薑、棗。</p>
<p><u>大順散</u>（《局方》）</p>
<p>治暑熱引飲過多，霍亂吐瀉。</p>
<p>理中湯去人參、白朮本方，甘草、乾薑各半兩，加肉桂、杏仁（去皮、尖）各三錢。先將甘草同白砂炒，次入乾薑，後下杏仁炒過，篩去砂，合桂為散，每服三錢，沸湯調服。</p>
<p><u>烏梅丸</u>（《玉函》）</p>
<p>治蛔厥。</p>
<p>理中湯去白朮、甘草，加烏梅、黃連、黃柏、附子、蜀椒、桂枝、細辛、當歸，以苦酒漬烏梅一宿，蒸之五升米下，飯熟，去核，搗成泥，與蜜杵丸，先食飲服十丸，日三服，漸加至三十丸。禁生冷、滑物、臭食等。《千金》治久痢諸藥不瘥，本方去細辛、附子、人參、黃柏，桂枝換桂心。</p>

<h1>十、半夏瀉心湯</h1>
<p><u>半夏瀉心湯</u>（《玉函》）</p>
<p>治心下痞滿不痛。</p>
<p>半夏（五錢，泡）　乾薑（炮）　甘草炙　人參　黃芩（各三錢）　黃連（一錢）　大棗（四枚，掰）</p>
<p>上七味水煎，溫分三服。</p>
<p><u>生薑瀉心湯</u>（《玉函》）</p>
<p>治心下痞硬，下利腹鳴。</p>
<p>半夏瀉心湯減乾薑二錢，加生薑四錢。</p>
<p><u>甘草瀉心湯</u>（《玉函》）</p>
<p>治胃虛痞滿，誤下，利不止。</p>
<p>半夏瀉心湯去人參，加用甘草一錢。</p>
<p><u>黃連湯</u>（《玉函》）</p>
<p>治胃中寒熱不和，心下痞滿。</p>
<p>半夏瀉心湯去黃芩，減人參一錢，加桂枝三錢。</p>
<p><u>乾薑黃芩黃連人參湯</u>（《玉函》）</p>
<p>治胃虛客熱，痞滿。</p>
<p>半夏瀉心湯去半夏、甘草、大棗，加用黃連二錢。</p>

<h1>十一、七氣湯</h1>
<p><u>七氣湯</u>（《局方》）</p>
<p>治七情鬱結於中，心腹絞痛，服寬膈破氣藥轉劇者，投此即效。</p>
<p>人參（錢半至三錢）　甘草（炙，一錢）　肉桂（一錢至一錢五分）　半夏（一錢至錢半）　生薑（七片）</p>
<p>上五味水煎，空心服。《千金》加吳茱萸，名奔氣湯。</p>
<p><u>深師七氣湯</u></p>
<p>治七氣為患，氣寒血熱，嘔瀉痞滿。</p>
<p>七氣湯加乾薑、吳茱萸、枳實、橘皮、桔梗、芍藥、乾地黃、黃芩。</p>
<p><u>《三因》七氣湯</u></p>
<p>治七氣致病，嘔逆痞悶，腹脅脹痛。</p>
<p>七氣湯加厚朴、白芍、茯苓、陳皮、蘇葉、大棗。</p>
<p><u>指迷七氣湯</u></p>
<p>治七情相干，陰陽不得升降，氣道壅滯，攻衝作痛。</p>
<p>七氣湯去人參，易官桂，加香附、青皮、陳皮、桔梗、蓬朮、藿香、益智仁、大棗。</p>
<p><u>大七氣湯</u></p>
<p>治積滯、癥瘕積聚隨氣上下，心腹㽲痛，小腹滿，二便不利。</p>
<p>指迷七氣湯去半夏、薑、棗，加三稜。</p>
<p><u>橘皮乾薑湯</u></p>
<p>治乾嘔吐逆，吐涎沫而噦。</p>
<p>七氣湯去半夏，加乾薑、橘紅、通草。</p>
<p>蘇子降氣湯《局方》，《千金》本名紫蘇子湯</p>
<p>治腳弱上氣，凡痰涎壅盛，肺滿喘嗽，服之氣降即安。</p>
<p>七氣湯去人參，加蘇子三錢，橘紅一錢，當歸、前胡、厚朴各五分，大棗一枚。</p>
<p><u>溫肺湯</u></p>
<p>治肺胃虛寒，喘嗽嘔逆，大便不實。</p>
<p>七氣湯加橘紅、乾薑、木香、鍾乳。《局方》去人參、木香、鍾乳，加細辛、杏仁、芍藥、五味子。</p>
<p><u>半夏溫肺湯</u></p>
<p>治寒痰咳嗽，心下汪洋，胃氣虛寒者。</p>
<p>七氣湯加橘紅、赤茯苓、細辛、桔梗、旋覆花、白芍。</p>
<p><u>參蘇溫肺湯</u></p>
<p>治肺受寒而喘嗽。</p>
<p>七氣湯加橘紅、木香、桑白皮、紫蘇、茯苓、白朮、五味子。冬月更加麻黃連節三分。</p>

<h1>十二、崔氏八味丸</h1>
<p><u>崔氏八味丸</u>（《金匱》）</p>
<p>治腎臟真陽不足，火不歸源。</p>
<p>熟地（八兩）　山茱萸（四兩）　丹皮（三兩）　山藥（微焙，四兩）　白茯苓（三兩）　澤瀉（去毛，三兩）　附子（童便浸煮，去皮、臍，切）　肉桂（去粗皮，勿見火，各一兩）</p>
<p>上八味為末，煉白蜜丸梧子大，每服五、七十丸，空心淡鹽湯臥時溫酒下，以美膳壓之。</p>
<p><u>腎氣丸</u>（《金匱》）</p>
<p>八味丸肉桂易桂枝。</p>
<p><u>錢氏六味丸一名六味地黃丸</u></p>
<p>治腎水真陰不足。</p>
<p>八味丸去桂、附，方中熟地用縮砂蜜八錢制。</p>
<p>按：《金匱》八味、腎氣，地黃本無縮砂之制，以中有附子之雄，肉桂之竄也。錢氏裁去一味，治小兒解顱等證，雖曰《素問》：因虛而純陽未動，地黃不制可也。後世借治真陰不足，乃用縮砂制地黃，不特無成食作瀉之虞，服後連噯數聲，氣轉食消，脾腎安和，其陽生陰長之妙，世都不知，茲特表而出之。</p>
<p><u>加減六味丸</u></p>
<p>治陰虛咳嗽，吐血，骨蒸，及童勞晡熱、消瘦等證。</p>
<p>六味丸去山萸肉，加葳蕤四兩，亦可作膏。</p>
<p><u>河車六味丸</u></p>
<p>治稟質素虛，將欲成勞。</p>
<p>六味丸本方，用紫河車熬膏丸服。</p>
<p><u>都氣丸</u></p>
<p>治腎水不固，咳嗽，精滑。</p>
<p>八味丸去桂、附，加五味子一兩。</p>
<p><u>七味丸</u></p>
<p>治腎虛火不歸根，遊散在上在外。</p>
<p>八味丸去附子。一方桂用二兩。</p>
<p><u>加減八味丸</u></p>
<p>治腎虛火不歸源，烘熱咳嗽。</p>
<p>八味丸去附子，加五味子一兩。</p>
<p><u>濟生腎氣丸</u></p>
<p>治腎氣不化，小便澀數。</p>
<p>八味丸本方，用茯苓三兩，熟地四兩，山藥、山萸、丹皮、澤瀉、肉桂各一兩，附子五錢，加牛膝、車前各一兩。</p>
<p>此本金匱腎氣，方中諸藥各減過半，惟桂、苓二味仍照原方，為宣布五陽，開發陰邪之專藥；更加牛膝、車前為太陽、厥陰之嚮導，以肝為風木之臟，凡走是經之藥，性皆上升，獨牛膝通津利竅，下走至陰，車前雖行津液之府而不傷犯正氣，故濟生方用之。詳金匱腎氣用桂枝而不用肉桂者，陰氣固結於內，勢必分解於外，則腎氣得以流布周身。而此既用牛膝引入至陰，又需桂、附蒸動三焦，不特決瀆有權，膀胱亦得以化，所以倍用肉桂，暗藏桂苓丸之妙用，愈於五苓十倍矣。但方中牛膝滑精，精氣不固者勿用。</p>
<p><u>清金壯水丸</u></p>
<p>治腎臟水虧火旺，蒸熱咳嗽。</p>
<p>八味丸去桂、附，加麥門冬三兩（去心）、五味子一兩。</p>
<p><u>納氣丸</u></p>
<p>治脾腎皆虛，蒸熱咳嗽，倦怠少食。</p>
<p>八味丸去桂、附，加沉香一兩、砂仁二兩。如泄瀉少食者，用乾山藥末調糊，代蜜為丸。</p>
<p><u>香茸八味丸</u></p>
<p>治腎與督脈皆虛，頭旋眼黑。</p>
<p>八味丸去桂、附，加沉香一兩、鹿茸一具。</p>
<p><u>十補丸</u></p>
<p>治稟賦陽虛，下體無力、小兒解顱、脛軟、膝蓋不生。</p>
<p>八味丸加鹿茸一具、五味子一兩。</p>

<h1>十三、枳朮湯</h1>
<p><u>枳朮湯</u>（《金匱》）</p>
<p>治水腫心下如盤，邊如旋盤。</p>
<p>枳實（十枚）　白朮（二兩）</p>
<p>上二味水煎，溫分三服。腹中軟，即當散也。</p>
<p><u>枳朮丸</u></p>
<p>治脾不健運，飲食不化。</p>
<p>枳朮湯用枳實一兩、白朮二兩，荷葉裹米燒飯為丸，米湯下七、八十丸。</p>
<p>海藏曰：東垣枳朮丸本仲景枳朮湯，至晚年道世，用荷葉燒飯為丸，取留滓於胃也。太無曰：《金匱》治水腫心下如盤，故用湯以盪滌之。東垣治脾不健運，故用丸以緩消之。二方各有深意，不可移易。</p>
<p><u>香砂枳朮丸</u></p>
<p>治氣滯，宿食不消。</p>
<p>枳朮丸加木香、砂仁各半兩。</p>
<p><u>橘半枳朮丸</u></p>
<p>治痰食兼併不化。</p>
<p>枳朮丸加橘皮、半夏各半兩。</p>
<p><u>深師消飲丸</u></p>
<p>治停飲胸滿，嘔逆，腹中水聲，不思飲食。</p>
<p>枳朮丸加茯苓一兩、炮姜五錢，薑汁調神麯煮浮糊，丸梧子大，淡薑湯或沸湯、米湯任下三四十丸。</p>
<p>按：此即腎著湯去甘草之緩中，易枳實以導滯也。</p>

<h1>十四、平胃散</h1>
<p><u>平胃散</u>（《局方》）</p>
<p>治胃中宿食不化，藜藿之人宜之。</p>
<p>蒼朮（泔浸去皮，麻油拌。炒黃，四兩）　厚朴（去皮，薑汁炒）　陳皮（泡，去浮白）　甘草（炙，各三兩）</p>
<p>上四味為散，每服四、五錢，加生薑三片，水煎溫服。</p>
<p><u>香連平胃散</u></p>
<p>治食積發熱，腹痛作瀉。</p>
<p>平胃散加薑汁炒川連二兩、木香一兩。</p>
<p><u>不換金正氣散</u>（《局方》）</p>
<p>治時氣不正，感冒夾食。</p>
<p>平胃散加藿香、半夏。時氣，加香豉。</p>
<p><u>藿香正氣散</u>（《局方》）</p>
<p>治水土不服，感冒時氣夾食。</p>
<p>平胃散換白朮，加藿香、紫蘇、半夏、茯苓、白芷、桔梗、大腹皮、薑、棗。（古方無大腹皮，有蒼朮）</p>
<p><u>人參養胃湯</u>（《局方》）</p>
<p>治食滯痞滿，寒熱痞瘧。</p>
<p>平胃散加藿香、半夏、人參、茯苓、草果、薑、棗、烏梅。</p>
<p><u>參苓平胃散</u></p>
<p>治脾虛飲食不化，大便不實。</p>
<p>平胃散加人參、茯苓。</p>
<p><u>白鳳膏</u></p>
<p>治少年稟氣不足，因飲食飢飽所傷，致成虛損，形體羸瘦，日晡潮熱，腹脹，氣急，脈來弦數者。</p>
<p>平胃散四兩加參、苓各一兩，取棗四兩，去核，逐一填入前藥，入烏嘴白鴨腹內，男雌女雄，製法如烏骨雞丸。</p>
<p>此葛可久方，丸以蒸餅，取緩留胃脘而和中氣之傷也。蓋參苓平胃原非補益腎水之藥，余嘗藉此以治飲食內傷、中氣不和、發熱羸瘦之證，往往獲效。詳方名白鳳者，以鳧字下幾字加於鳥字之上也，且丸以膏名，取脂膏之義，藏機法也。</p>
<p><u>厚朴湯</u></p>
<p>治脾胃虛寒作脹，腹中時痛時止。</p>
<p>平胃散去蒼朮，加茯苓、乾薑。潔古加半夏、枳實、薑、棗。</p>
<p><u>除濕湯</u></p>
<p>治濕熱痞滿，不食。</p>
<p>平胃散加半夏、茯苓、白朮、藿香、生薑、大棗。</p>
<p><u>升陽除濕湯</u></p>
<p>治脾胃虛弱，不能飲食，腹鳴泄瀉。</p>
<p>平胃散去厚朴，加羌活、防風、升麻、柴胡、豬苓、澤瀉、麥芽、神麯。</p>
<p><u>五積散</u>（《局方》）</p>
<p>治感冒內挾冷食，脾陰受傷，表裡俱病。</p>
<p>平胃散加桂枝、麻黃、炮薑、半夏、茯苓、枳殼、桔梗、白芍、當歸、川芎、白芷。每服四、五錢，生薑三片、蔥白三莖，水煎，去滓熱服，溫覆取微汗。</p>
<p><u>調中飲</u></p>
<p>治食積類傷寒及手足四肢發陰斑。</p>
<p>平胃散加枳實、白朮、乾薑、黃連、山楂、神麯、草果，水煎去滓，磨木香調服。</p>
<p><u>胃苓湯</u></p>
<p>治飲食停積，浮腫泄瀉，脈證俱實者。</p>
<p>平胃散合五苓散生料，煎服。</p>
<p>平胃本平胃氣之墩阜，若因脾土之虛不能消運，又須稍藉參、苓，如養胃之類。然復有土衰不能分利而成腫脹，且氣壅不勝參、術，難合理中者，乃合五苓以健運水土，與正氣散之假蘇、藿以散客邪，兩不移易之定例也。</p>
<p><u>棗礬丸</u></p>
<p>治食積發黃。</p>
<p>平胃散加皂礬（麵裹，燒紅），煮紅棗肉，丸服。</p>
<p>此消磨宿滯之第一峻利方，較平胃之緩急百倍。膏粱慎勿罔施，服後以谷壓之，否則恐其嘔吐也。</p>
<p><u>枳殼湯</u></p>
<p>治痘疹誤服參、耆，腹脹喘急。</p>
<p>平胃散去蒼朮，加枳殼。</p>

<h1>十五、二陳湯</h1>
<p><u>二陳湯</u>（《局方》）</p>
<p>治脾胃痰濕。</p>
<p>半夏（薑製，二錢半）　茯苓（錢半）　陳皮（去白，一錢）　甘草（炙，一錢）　生薑（三片）　烏梅肉（半個）</p>
<p>上六味煎，空心溫服。</p>
<p>燥痰減半夏、生薑，加麥門冬、竹瀝；郁痰乾咳，去半夏，用蜜煎姜，加川貝母；火痰加黃連、竹茹；老痰加蛤粉、海石。</p>
<p>按：此方本《內經》半夏湯及《金匱》小半夏湯、小半夏加茯苓湯等方而立，加甘草安胃，橘皮行氣，烏梅收津，生薑豁痰，乃理脾胃、治痰濕之專劑也。其《靈樞》半夏湯見「不得臥」門。</p>
<p><u>小半夏湯</u>（《金匱》，又名生薑半夏湯）</p>
<p>治痰積膈上，喘嗽嘔噦。</p>
<p>二陳湯去陳皮、甘草、茯苓、烏梅，用半夏一兩泡去涎水，生薑汁半合。</p>
<p><u>半夏湯</u>（《千金》）</p>
<p>治膽府實熱。</p>
<p>二陳湯去陳皮、甘草、烏梅，生薑易宿姜，加黃芩、生地黃、秫米、遠志、酸棗仁，以流水煮秫米，去滓，煎服。</p>
<p><u>小半夏加茯苓湯</u>（《金匱》）</p>
<p>治痰飲多汗，小便不利。</p>
<p>二陳湯去陳皮、甘草、烏梅，用半夏一兩、生薑汁半合、茯苓三錢。</p>
<p><u>大半夏湯</u></p>
<p>治胃反嘔吐。</p>
<p>二陳湯去陳皮、甘草、茯苓、烏梅，加人參三錢，以水和蜜，揚之二百四十遍，煮藥，溫服。《千金》有橘皮，治氣滿腹脹。又《千金》大半夏湯，本方更加附子、當歸、桂心、蜀椒、厚朴、枳實、茯苓、甘草、大棗，治胃中虛冷，腹滿氣塞。</p>
<p><u>半夏乾薑湯</u></p>
<p>治乾嘔，吐涎沫。</p>
<p>二陳湯去茯苓、陳皮、甘草、烏梅、生薑，加乾薑等分為散，取方寸匕，漿水煎服。</p>
<p><u>橘皮湯</u></p>
<p>治乾嘔噦，手足厥。</p>
<p>二陳湯去半夏、茯苓、甘草、烏梅，用橘皮四錢，生薑一兩。</p>
<p><u>橘皮半夏湯</u></p>
<p>治積氣痰痞，飲食嘔吐不止。</p>
<p>二陳湯去茯苓、甘草、烏梅，用半夏、橘皮各半兩，生薑汁半合。</p>
<p><u>橘皮枳實生薑湯</u>（《金匱》）</p>
<p>治胸痹短氣。</p>
<p>二陳湯去半夏、茯苓、甘草、烏梅，用橘皮一兩、生薑半兩，加枳實三錢。</p>
<p><u>橘皮竹茹湯</u>（《金匱》）</p>
<p>治胃虛噦逆。</p>
<p>二陳湯去半夏、茯苓、烏梅，用橘皮三錢、甘草一錢、生薑半兩，加竹茹三錢、人參一錢、大棗三枚。</p>
<p><u>半夏厚朴湯</u>（《金匱》，即四七湯也）</p>
<p>治氣結成疾，狀如破絮，成如梅核結在咽喉，咯不出，咽不下，中脘痞滿，氣鬱不舒，噁心嘔逆，一切郁證初起屬實者。</p>
<p>二陳湯去橘皮、甘草、烏梅，加紫蘇、厚朴。一方有紅棗。</p>
<p><u>加味四七湯</u></p>
<p>治心氣鬱滯。</p>
<p>四七湯加茯神、遠志、菖蒲、甘草。</p>
<p><u>指迷茯苓丸</u></p>
<p>治中脘留伏痰飲，臂痛難舉，手足不能轉移，背上凜凜惡寒。</p>
<p>二陳湯去陳皮、甘草、烏梅，本方用半夏曲二兩，茯苓一兩，加枳殼、風化硝各半兩，薑汁調神麯糊丸梧子大，每服三五十丸，空心淡薑湯下。</p>
<p><u>厚朴生薑甘草半夏人參湯</u>（《玉函》）</p>
<p>治胃虛嘔逆，痞滿不食。</p>
<p>二陳湯去茯苓、陳皮、烏梅，加人參、厚朴。</p>
<p><u>二術二陳湯</u></p>
<p>治脾虛痰食不運。</p>
<p>二陳湯加生白朮（薑汁拌，曬）、茅朮（麻油拌炒）。</p>
<p><u>分氣紫蘇飲</u></p>
<p>治脅痛氣喘。</p>
<p>二陳湯去半夏，加紫蘇、桑皮、大腹皮、桔梗、五味子、食鹽。</p>
<p><u>寧嗽化痰湯</u></p>
<p>治客邪傷肺，久嗽不止。</p>
<p>二陳湯加紫蘇、葛根、枳殼、桔梗、前胡、麻黃、杏仁、桑皮。</p>
<p><u>導痰湯</u></p>
<p>治濕痰內外壅盛。</p>
<p>二陳湯加南星、枳實。</p>
<p><u>加味導痰湯</u></p>
<p>治濕熱痰飲，眩暈痰窒。</p>
<p>導痰湯加人參、白朮、黃芩、黃連、栝蔞霜、桔梗、大棗、竹瀝、薑汁。</p>
<p><u>十味導痰湯</u></p>
<p>治痰濕上盛，頭目不清。</p>
<p>導痰湯加羌活、天麻、蠍尾，臨臥服，入雄黃末少許。</p>
<p><u>祛風導痰湯</u></p>
<p>治類中風，筋脈顫掉。</p>
<p>導痰湯加羌活、防風、白朮、薑汁、竹瀝。</p>
<p><u>滌痰湯</u></p>
<p>治類中風，痰迷心竅。</p>
<p>導痰湯加菖蒲、人參、竹茹。</p>
<p><u>溫膽湯</u>（《千金》）</p>
<p>治心膽虛怯，觸事易驚，多汗不寐，短氣乏力，皆由寒涎沃膽所致。</p>
<p>二陳湯用橘紅，加枳實、竹茹、紅棗。</p>
<p><u>參胡溫膽湯</u></p>
<p>治往來寒熱，嘔而痞悶。</p>
<p>溫膽湯去竹茹、紅棗，加人參、柴胡。</p>
<p><u>十味溫膽湯</u></p>
<p>治寒涎沃膽，膽寒肝熱，心悸，不眠，短氣，噁心，耳鳴，目眩，四肢浮腫。</p>
<p>溫膽湯去竹茹，加人參、熟地、棗仁、遠志、五味子。</p>
<p>膽之不溫由於胃熱不清，停蓄痰涎沃於清淨之府，所以陽氣不能條暢而失溫和之性，故用二陳之辛溫以溫膽滌涎；涎聚則熱鬱，故加枳實、竹茹以化胃熱也。若寒熱嘔逆，胃氣不振也，去枳實之消克、紅棗之滯胃，加柴胡以疏肝、人參以扶胃，乃六君子之變法也。更加熟地、棗仁、遠志、五味，又為歸脾湯法派耳。</p>
<p><u>消暑丸</u>（《局方》）</p>
<p>治肥人傷暑，眩暈嘔逆。</p>
<p>二陳湯去陳皮，用醋炒半夏二倍，生薑自然汁為丸，酸漿水或烏梅湯、淡醋湯下七八十丸。</p>
<p><u>十緡湯</u></p>
<p>治風痰喘急，脈證俱實者。</p>
<p>二陳湯去茯苓、橘皮、烏梅本方，用半夏七枚、甘草一寸、生薑指大（切），加皂莢（去皮、弦、子，酥炙）淨末半兩，水煎溫服。一方無甘草，但用半夏一兩、皂莢末半兩、生薑七片同入紗袋中，以手揉，取清汁，作三服。</p>
<p><u>溫中丸</u></p>
<p>治黃胖面腫足脹，是脾虛不能健運，雖有積聚，不可下之。</p>
<p>二陳湯本方，橘、半、茯苓各一兩，炙甘草五錢，加黃連、香附、苦參、針砂（醋煅，鏽過）各五錢、白朮二兩、神麯一兩，醋、水各半，泛丸梧子大，每服七、八十丸，用白朮六錢、陳皮一錢、生薑三片煎湯送下，虛加人參一錢。病輕者，服此藥六、七兩，小便即長；病甚者，服一斤小便始長，積聚去淨，然後六君子之類調補之。</p>

<h1>十六、四君子湯</h1>
<p><u>四君子湯</u>（《局方》）</p>
<p>治胃氣虛弱，飲食不思，倦怠少食。</p>
<p>人參（一錢至三錢）　白朮（炒，一錢至二錢）　茯苓（一錢至錢五分）　甘草（炙，六分至一錢）</p>
<p>上四味水煎，空心溫服。</p>
<p>按：四君子乃胃家氣分之專藥，胃氣虛而用之，功效立見。即血虛用四物，亦必兼此，故八珍之主治不獨氣血兩虛也，即血虛者，亦須兼用，但補氣則偏於四君，補血則偏於四物，若純用血藥，不得陽生之力，陰無由以化也。方中白朮若治脾胃虛衰，大便不實或嘔惡不食，合用炒焦，方有健運之力。如肺胃虛燥，咳嗽失血，須用陳米飯上蒸過十餘次者，則轉濁為清，轉燥為潤，是以異功散、八珍湯及歸脾、逍遙等方內並宜蒸者，即陰虛乾咳，咳吐白血，總無妨礙，更加白蜜拌蒸，尤為合宜。其於輕重炮製之間，全在用者之活法權變，舉此可以類推三隅矣。</p>
<p><u>異功散</u></p>
<p>治肺胃氣虛，稀痰喘嗽。</p>
<p>四君子湯加橘皮（去白）為散，每服三四錢，加生薑一片，水煎去滓服。</p>
<p><u>六君子湯</u></p>
<p>治胃虛少食，痰嗽嘔泄。</p>
<p>四君子湯加橘皮、半夏、生薑。</p>
<p><u>香砂六君子湯</u></p>
<p>治氣虛，痰食氣滯。</p>
<p>六君子湯加木香、砂仁、烏梅。</p>
<p><u>烏蠍六君子湯</u></p>
<p>治小兒慢脾風內釣。</p>
<p>六君子湯加川烏、蠍尾，神麯糊丸服。</p>
<p><u>溫脾散</u></p>
<p>治小兒心脾虧損，弄舌及虛脹，乳食不進。</p>
<p>四君子湯加黃耆、藿香、訶子肉、橘皮、桔梗、木香，為散，每服三、四錢，加薑、棗，煎服。</p>
<p><u>茯苓飲</u>（《外臺》）</p>
<p>治胸中停痰宿水，吐後虛滿不食。</p>
<p>四君子湯去甘草，加枳實、橘皮、生薑。</p>
<p><u>惺惺散</u>（《局方》）</p>
<p>治小兒傷寒，發熱咳嗽。</p>
<p>四君子湯加桔梗、細辛、羌活（一作花粉）等分，為散，每服一、二錢，加薄荷五葉，水煎熱服，取微汗愈，不愈再作，加蔥白、香豉。</p>
<p><u>四獸飲</u></p>
<p>治瘧疾胃虛，中挾痰食。</p>
<p>四君子湯加半夏、橘皮、草果，為散，每四五錢加生薑七片、烏梅肉一個，水煎，清晨熱服。</p>
<p><u>八味順氣散</u></p>
<p>治類中風，虛脹喘逆。</p>
<p>四君子湯加青皮、橘皮、白芷、烏藥，為散，每服四、五錢，水煎溫服。</p>
<p><u>參苓白朮散</u>（《局方》，一名參朮飲）</p>
<p>治胃虛，喘嗽，大便不實。</p>
<p>四君子湯加山藥、扁豆、蓮肉、桔梗、薏苡、砂仁，為散，每服四、五錢，加薑、棗煎服。</p>
<p><u>七味白朮散即錢氏白朮散</u></p>
<p>治胃虛，津氣不行而渴。</p>
<p>四君子湯加藿香、木香、煨葛根，為散，每服三、四錢，水煎，日三服。</p>
<p><u>八珍散</u></p>
<p>治胃虛，痰中見血及粉紅痰。</p>
<p>四君子湯加黃耆、山藥、粟米、扁豆（炒存性）。</p>
<p><u>九味資生丸</u></p>
<p>治老人食難克運。</p>
<p>四君子湯本方，參、術各三兩、茯苓一兩半、炙甘草半兩，加橘紅、楂肉、真神麯各二兩，川連、白豆蔻各三錢半，煉白蜜丸服。古方止此九味，後人更加桔梗、藿香各半兩，澤瀉三錢半，扁豆、蓮肉各一兩，薏苡三兩，山藥、麥芽、芡實各一兩半，醉飽後細嚼彈子大一丸，淡薑湯下，則酒食易化，健脾開胃，消食止瀉，調和臟腑，滋養營衛。飢時服之即飽，飽後食之即飢，藥雖繁簡不同而功效不異，因兩存之。</p>
<p><u>八珍湯</u></p>
<p>治婦人胎產崩漏，氣血俱虛者。</p>
<p>四君子湯合四物湯。</p>
<p><u>八物湯</u></p>
<p>治營衛俱虛，畏寒發熱。</p>
<p>八珍湯去人參，加黃耆。</p>
<p>按：八珍、八物功用懸殊，以人參專補臟腑元氣，黃耆惟司營衛開闔也。世人每謂黃耆代人參，恆用八物補益臟腑之氣，大為噴飯。</p>
<p><u>人參胃風湯</u>（《局方》）</p>
<p>治風入胃中，能食便血。</p>
<p>四君子湯去甘草，加當歸、白芍、川芎、桂枝、粟米。一方多木香。</p>
<p>按：風入胃中，何以反能食？蓋風為陽邪，其性善行，久而化熱，即《內經》所謂癉成為消中者是也。方中但用桂枝去風而不去熱者，以熱必隨風外解，不必加治耳。</p>
<p><u>益氣養營湯</u></p>
<p>治瘰癧、結核、流注，一切鬱熱毒氣。</p>
<p>八珍湯加黃耆、桔梗、貝母、香附、橘皮、生薑。</p>
<p><u>大防風湯</u>（《局方》）</p>
<p>治邪襲足三陰，腿膝疼痛，及痢後脛膝痛、鶴膝風、附骨疽證，但赤熱焮腫者禁用。</p>
<p>四君子湯去茯苓，加肉桂、附子、黃耆、牛膝、杜仲、熟地、白芍、川芎、羌活、防風。</p>

<h1>十七、四物湯</h1>
<p><u>四物湯</u>（《局方》）</p>
<p>治營血虛熱。</p>
<p>熟地（二錢）　歸身（一錢）　白芍（錢半）　川芎（八分）</p>
<p>上四味，水煎溫服。肥盛多濕痰及嘔逆、少食、便溏者禁用。</p>
<p><u>增損四物湯</u>（《局方》）</p>
<p>治血虛發熱，食少便溏。</p>
<p>四物湯去地黃，加人參、甘草、炮姜。</p>
<p><u>加減四物湯</u></p>
<p>治停經血滯，少腹結痛。</p>
<p>四物湯換赤芍，加三稜、蓬朮、肉桂、乾漆灰。</p>
<p><u>四烏湯</u></p>
<p>治血中氣滯，小腹急痛。</p>
<p>四物湯加烏藥、香附、甘草。</p>
<p><u>四神散</u></p>
<p>治產後血虛或瘀血腹痛。</p>
<p>四物湯去地黃，加炮姜，為散，溫酒服方寸匕。</p>
<p><u>當歸芍藥散</u>（《金匱》）</p>
<p>治腹中諸痛。</p>
<p>四物湯去地黃，加白朮、茯苓、澤瀉，為散，酒服方寸匕，日三。</p>
<p><u>當歸散</u></p>
<p>治妊婦胎氣不安。</p>
<p>四物湯去地黃，加黃芩、白朮，為散，飲服方寸匕，日三。</p>
<p><u>芎藭湯</u>（《千金》）</p>
<p>治產後崩漏下血不止。</p>
<p>四物湯換乾地黃，加黃耆、甘草、乾薑、吳茱萸。若夏月經後有赤白不止，除地黃，加杜仲、人參。</p>
<p><u>三黃補血湯</u></p>
<p>治血虛，至夜發熱、自汗。</p>
<p>四物湯加生地、黃耆、升麻、柴胡、丹皮。</p>
<p><u>四物二連湯</u></p>
<p>治重陽無陰，晝夜發熱。</p>
<p>四物湯加宣黃連、胡黃連。</p>
<p>按：此本為重陽無陰，晝夜發熱而立，必其人時火亢極於陰分乃為相宜。以陽邪暴虐，故曰重陽，陰欲消亡，是即無陰，非真陰補虛之謂。蓋陽全陰半，陽得以統陰，所以晝夜皆熱，若陰氣自病，斷無上午陽分發熱之理。每見時師用以治虛勞蒸熱及血虛發熱之疾，服之未有不嘔泄奪食者，曷知方下原治發熱，未嘗言蒸熱也。夫熱發於外，雖滯於陰，實為客邪；熱蒸於內，陰不濟陽，證屬久虛，可不辨而混治乎？其陰虛蒸熱自有六味地黃，血虛發熱自有當歸補血，亦何藉於此哉？</p>
<p><u>大秦艽湯</u></p>
<p>治中風外無六經形證，內無便溺阻隔，宜此養血營筋，血行風自滅矣。</p>
<p>四物湯加秦艽、生地、羌活、獨活、防風、細辛、茯苓、白朮、白芷、黃芩、石膏、甘草。</p>
<p>張景岳曰：大秦艽湯在《機要》、《發明》俱云治中風外無六經之形證，內無便溺之阻隔，如是血弱不能養筋，宜養血而筋自榮，以大秦艽湯、羌活愈風湯主之。大秦艽湯雖有補血之藥，而寒散之劑居其半矣。夫既無六經之外邪而用散何為也？既無阻隔之火邪而用寒何為也？寒散既多，又果可養血氣而壯筋骨乎？秦艽湯且不可，愈風湯則尤其不可者也。吾不知用此法者果出何意？</p>
<p><u>獨活寄生湯</u>（《千金》）</p>
<p>治風痹，腰腳疼重。</p>
<p>四物湯加獨活、桑寄生、杜仲、牛膝、細辛、秦艽、茯苓、桂心、防風、人參、甘草。《古今錄驗》無寄生，有續斷。《肘後》無寄生、人參、甘草、當歸，有附子。產後腹痛不得轉動及腰腳攣痛不得屈伸、痹弱者，宜服此方。</p>
<p><u>十味銼散</u></p>
<p>治濕痹，周身疼痛。</p>
<p>四物湯加白朮、附子、防風、茯苓、黃耆、肉桂。</p>
<p>此即十全大補去人參、甘草之甘緩補氣，而加附子、防風以通達外內也。</p>
<p><u>玉燭散</u></p>
<p>治血熱，大便秘結。</p>
<p>四物湯換生地黃，加生甘草、酒大黃、玄明粉、生薑。萬全方無大黃、明粉，易青皮、枳殼。</p>
<p><u>膠艾湯</u></p>
<p>治陷經下血，孕婦胎漏不止。</p>
<p>四物湯用乾地黃，加阿膠、甘草、艾，清酒和水各半，煎服。（一方多幹姜，《千金》無地黃、芍藥）</p>
<p><u>丁香膠艾湯</u></p>
<p>治經漏兼白帶。</p>
<p>四物湯加丁香、阿膠、艾。</p>
<p><u>加味香附丸</u></p>
<p>治倒經、自汗、胎漏下血。</p>
<p>四物湯本方，用熟地八兩，歸、芍各四兩，芎藭三兩，加四制香附一斤，澤蘭葉、烏賊骨各六兩，為末，用浮麥面、酒醋水調糊為丸，如綠豆大，每服百丸，早暮各一服，溫酒沸湯任下。</p>
<p><u>艾煎</u>（丸《局方》）</p>
<p>治婦人崩傷淋漓，帶下赤白，小腹㽲痛。</p>
<p>四物湯本方，歸、地、芍各二兩，川芎一兩，加人參、石菖蒲（炒）、吳茱萸（用開口者、醋炒）各一兩，為末，用蘄艾四兩，酒煎濃汁，入糯米糊為丸，梧子大，每服百丸，醇酒下。更加肉桂、熟附子各一兩、香附四兩，名艾附丸。</p>
<p><u>溫經湯</u>（《金匱》）</p>
<p>治經水不調、崩帶及唇口乾燥，並治經阻不通、咳嗽、便血，此肺移熱於大腸也。</p>
<p>四物湯去地黃，加阿膠、甘草、人參、肉桂、吳茱萸、牡丹皮、麥門冬、半夏、生薑。更加白朮，名大溫經湯。</p>
<p>此方本膠艾湯而立，以虛火上炎，唇口乾燥，故用麥冬；濁濕下滲，不時帶下，故用半夏。若無二證，不必拘執成方也。</p>
<p><u>芎歸湯及散</u></p>
<p>治妊娠胎不轉運。</p>
<p>四物湯去地黃、芍藥，湯則煎服，散則酒調。服之以驗胎息，若是真胎，服之即動。勿經火炒乃效。</p>
<p><u>佛手散</u></p>
<p>治產婦胎不得下。</p>
<p>四物湯去地黃、芍藥，等分，炒研為散，紅酒調服。</p>
<p><u>加味佛手散</u></p>
<p>治產婦交骨不開。</p>
<p>四物湯去地黃、芍藥本方，歸身三錢、川芎一錢，加上揀人參三、五錢。去血過多，加至一兩。臨服入童便半盞，續續進之。質壯氣實者，但加童便，人參不可用也。</p>
<p><u>紫蘇飲</u></p>
<p>治妊娠臨月，浮腫喘脹。</p>
<p>四物湯去地黃，加紫蘇、陳皮、大腹皮、人參、甘草、生薑、蔥白。感冒風寒，去腹皮，加香豉；胎動不安，加黃芩、白朮；胎不運動，加木香、砂仁；肥盛氣滯，加半夏、厚朴；虛羸少氣，加白朮，倍人參。</p>
<p><u>達生散</u></p>
<p>治妊娠九個月後，服數劑，則易產。</p>
<p>紫蘇飲去川芎，加白朮、黃楊腦三枚。</p>
<p><u>芎歸鱉甲飲</u></p>
<p>治勞瘧久不止，或暫止復來。</p>
<p>四物湯去地黃，加茯苓、半夏、橘皮、鱉甲、薑、棗、烏梅。寒多，加草果；熱多，加柴胡；胃虛少食，加人參、白朮；汗多，加黃耆、甘草。（二方多青皮）</p>
<p><u>續命煮散</u></p>
<p>治風虛昏憒，自汗，手足瘛瘲。</p>
<p>四物湯加人參、甘草、桂心、遠志、防風、獨活、細辛、葛根、荊芥、半夏，為散，每服一兩，加三片生薑，水煎，通口服。多汗，去葛根，加牡蠣。</p>
<p><u>生地黃黃連湯</u></p>
<p>治失血後燥熱、瘛瘲、脈數盛者。</p>
<p>四物湯換生地、赤芍，加黃連、黃芩、山梔、防風。</p>
<p><u>滋燥養營湯</u></p>
<p>治血燥，皮膚皴揭，筋攣爪枯。</p>
<p>四物湯去川芎，加生地、秦艽、防風、黃連、甘草。</p>
<p><u>大補地黃丸</u></p>
<p>治精血枯槁燥熱。</p>
<p>四物湯去川芎，加生地、黑參、黃柏、知母、乾山藥、山茱萸、枸杞、肉蓯蓉，蜜丸，每服六、七十丸，空心鹽湯、臨臥溫酒下。</p>
<p><u>劫勞散</u>（《局方》）</p>
<p>治肺痿咳嗽，痰中有紅線，盜汗，發熱，熱過即冷。</p>
<p>四物湯去川芎，加人參、黃耆、甘草、阿膠、五味子、半夏，為散，每服三、四錢，加薑、棗煎，空心服。</p>
<p><u>加味四物湯</u></p>
<p>治血虛發熱。</p>
<p>四物湯加白朮、茯苓、柴胡、丹皮。</p>
<p><u>解毒湯</u></p>
<p>治痘瘡血氣弱，乾焦黑陷。</p>
<p>四物湯換生地，加人參、連翹、黃連、甘草、陳皮、木通、竹葉。</p>
<p><u>寬中散</u></p>
<p>治痘疹誤用辛熱，秘結。</p>
<p>四物湯去川芎，換生地，加枳殼、赤茯苓、甘草，為散，每服方寸匕，水煎，去滓服。</p>
<p><u>麥門冬湯</u></p>
<p>治痘疹，便實而渴。</p>
<p>四物湯去川芎，換生地，加麥門冬。</p>

<h1>十八、保元湯</h1>
<p><u>保元湯</u></p>
<p>治營衛氣血不足。</p>
<p>黃耆（蜜酒炙，三錢至六錢）　人參（三錢至一兩）　甘草（炙，一錢）</p>
<p>水煎，空心服。</p>
<p><u>獨參湯</u></p>
<p>治氣虛不能統血，驟然脫血，血崩不止。</p>
<p>人參三錢至一兩。大虛暴脫者一兩至三兩；胃虛少食，加橘皮；肺虛喘嗽，加橘紅；血脫，加童便半杯、薑汁三匕。一方多京棗三枚。</p>
<p><u>歸脾湯</u></p>
<p>治心脾鬱結，經癸不調。</p>
<p>保元湯加白朮、茯苓、酸棗仁、遠志肉、當歸身、桂圓肉、木香、生薑、紅棗。</p>
<p><u>加味歸脾湯</u></p>
<p>治心脾鬱結，經閉發熱。</p>
<p>歸脾湯加柴胡、山梔仁。</p>
<p><u>聖愈湯</u></p>
<p>治失血過多，久瘡潰膿。</p>
<p>保元湯去甘草，加生地、熟地、川芎、當歸。</p>
<p><u>十全大補湯</u>（《局方》）</p>
<p>治營衛氣血俱虛。</p>
<p>保元湯加白朮、茯苓、熟地、當歸、川芎、白芍、肉桂、薑、棗。</p>
<p>按：《和劑》十全大補雖本保元，而實四君、四物、黃耆建中三方合成，因飲食勞倦而致煩熱、肌肉消瘦者宜之。若房勞精傷、思慮神傷、陰虛火旺咳嗽失血者誤用，反致陰火上乘，轉增其劇也。又古方十全大補無黃耆、肉桂，多沉香、木香，此則專開脾胃之郁爾。</p>
<p><u>人參養營湯</u>（《局方》）</p>
<p>治心脾虛寒。</p>
<p>保元湯加白朮、茯苓、橘皮、熟地、當歸、芍藥、肉桂、遠志肉、五味子。</p>
<p>按：方中諸品皆心脾二經之藥，而方下舊注云「補肺虛」，謬矣。夫養營正當補養心脾，原無藉於肺氣也。</p>
<p><u>大建中湯</u>（《局方》）</p>
<p>治營衛俱虛，上熱下寒。</p>
<p>十全大補湯加附子、肉蓯蓉、半夏、麥門冬。</p>
<p><u>人參安胃散</u></p>
<p>治小兒心脾虛極，弄舌。</p>
<p>保元湯加黃連、茯苓、白芍、生甘草。</p>
<p><u>人參實衛湯</u></p>
<p>治瘧，自汗不止。</p>
<p>保元湯加白朮、芍藥，初發加桂枝，久瘧加烏梅。</p>
<p><u>黃耆六一湯</u>（《局方》）</p>
<p>治衛虛自汗，晝日煩熱。</p>
<p>保元湯去參，用黃耆六錢、甘草一錢，加棗一枚。</p>
<p><u>當歸補血湯</u></p>
<p>治血虛至夜發熱，煩渴引飲，其脈洪大而虛，重按全無者。</p>
<p>保元湯去人參、甘草，用黃耆六錢，加當歸二錢。</p>
<p><u>玉屏風散</u></p>
<p>治衛虛自汗，易感風邪，用此補脾實衛。</p>
<p>保元湯去人參、甘草，用黃耆六兩，加防風二兩、白朮四兩，為散，每服四、五錢，加薑、棗煎服。</p>
<p>上三方並屬保元去參，而「黃耆六一」則藉本方甘草協助黃耆以實脾氣，故晝日多汗煩擾者宜之；「當歸補血」專用當歸引領黃耆，以護營血，故失血至夜發熱者宜之；「玉屏風散」則加白朮、防風以祛衛濕，故理疏易感風邪者宜之。三方雖同以黃耆為君，而主氣、主血、主肉，各隨佐使，功用迥乎不侔也。</p>
<p><u>益氣聰明湯</u></p>
<p>治氣虛，目暗生翳，耳聾耳鳴。</p>
<p>保元湯加升麻、葛根、蔓荊、芍藥、酒黃柏。</p>
<p>此保元湯合升麻湯，加蔓荊子以治其上，黃柏以治其下也。</p>
<p><u>神效黃耆湯</u></p>
<p>治氣虛，耳目不明。</p>
<p>保元湯用黃耆二錢，人參、甘草各一錢，加白芍一錢、蔓荊子二分、橘皮五分。</p>
<p>耳目之患，氣虛而陰火上乘者，宜益氣聰明湯；無陰火者宜神效黃耆湯，用者審之。</p>
<p><u>千金托裡散</u></p>
<p>治氣血虛寒，潰瘍不收。</p>
<p>保元湯加川芎、當歸、肉桂、白芷、防風、桔梗、白芍、天冬、連翹、忍冬、生薑。</p>
<p><u>參耆內托散</u></p>
<p>治潰瘍感冒風邪、痘疹觸穢伏陷及癰疽久不潰。</p>
<p>保元湯加川芎、當歸、肉桂、白芷、防風、桔梗、木香、厚朴。</p>
<p>本方去木香，名十宣散，治痘癰。</p>
<p><u>托裡消毒散</u></p>
<p>治癰疽、痘疹，毒盛不能起發。</p>
<p>保元湯加當歸、芍藥、茯苓、白朮、忍冬、白芷、連翹。</p>
<p><u>內補黃耆湯</u></p>
<p>治潰瘍膿水出多，虛熱不寐、盜汗。</p>
<p>保元湯加白朮、茯苓、五味、棗仁。</p>
<p><u>人參固肌湯</u></p>
<p>治痘瘡表虛，斑斕不能收靨。</p>
<p>保元湯加當歸、白朮、茯苓、棗仁、忍冬、連翹。</p>
<p><u>補中益氣湯</u></p>
<p>治內傷中氣下陷。下元虛者禁用。</p>
<p>保元湯本方，參、耆、甘草減半，加白朮一錢，當歸、橘皮、柴胡各八分，升麻五分。勞力感寒，加羌活、薑、棗。冬加桂枝，春加香豉、蔥白。</p>
<p><u>調中益氣湯</u></p>
<p>治身體沉重，百節煩疼，胸滿短氣，心煩耳鳴，目熱如火，口中沃沫，飲食失味，嗜臥溺赤。</p>
<p>補中益氣湯加五味子、白芍藥。</p>
<p><u>升陽益胃湯</u></p>
<p>治脾胃受傷，邪熱內陷，外反惡風、厥冷，脈沉，大小便秘澀，不可誤認陰寒而用熱藥，又不可誤認實火而用涼藥，宜此湯升舉，微汗則愈。</p>
<p>補中益氣湯去升麻、當歸，加羌活、獨活、白芍、防風、半夏、茯苓、澤瀉、酒煮黃連、薑、棗。服藥後忌言語一二時，戒酒、面、生冷，薄滋味以養胃氣，稍食美食以助藥力，更宜小役形體，使胃氣與藥轉運升發，慎勿大勞，以傷脾胃生髮之氣。</p>
<p><u>升陽順氣湯</u></p>
<p>治飲食不節，勞役所傷，腹脅滿悶，短氣，遇春則口淡無味，遇夏雖熱猶有畏寒，飢則常如飽，不喜飲食。</p>
<p>補中益氣湯去白朮，加半夏、草豆蔻、神麯、黃柏、生薑。</p>
<p><u>瀉陰火升陽湯</u></p>
<p>治火鬱發熱。</p>
<p>補中益氣湯去白朮、當歸、橘皮，加羌活、蒼朮、黃芩、黃連、石膏。早飯後大溫服，服後宜禁一加升陽益胃湯。如見火旺及督、任、沖三脈盛，用酒炒黃柏、知母少許，不可久服，恐助陰氣為害也。</p>
<p><u>沖和養胃湯</u></p>
<p>治風虛目患，空中有黑花，神水變淡綠色，次變淡白，漸成內障。</p>
<p>補中益氣湯去橘皮，加羌活、防風、黃連、白芍、五味、生薑。</p>
<p><u>通氣防風湯</u></p>
<p>治太陽氣鬱，肩背不可回顧。</p>
<p>補中益氣湯去白朮、當歸，加防風、羌活、藁本、黃柏、白豆蔻、青皮。</p>
<p><u>清暑益氣湯</u></p>
<p>治暑傷無形之氣，口燥頭痛，發熱溺赤。</p>
<p>補中益氣湯去柴胡，加麥門冬、五味子、蒼朮、葛根、澤瀉、黃柏、神麯、青皮。</p>
<p>此以保元、生脈為主，而兼開腠利水消克之味。</p>
<p><u>清燥湯</u></p>
<p>治夏秋濕熱傷氣。</p>
<p>補中益氣湯加生地黃、黃連、豬苓、茯苓、麥門冬、五味子、蒼朮、黃柏、澤瀉、神麯。</p>
<p><u>節庵升陽散火湯</u></p>
<p>治熱乘肺金，氣虛不能主持，循衣撮空。小便利者可治，不利者不可治。</p>
<p>補中益氣湯去升麻、黃耆，加麥冬、茯神、黃芩、白芍、薑、棗。有痰加薑汁炒半夏；大便燥實，讝語發渴，加大黃；泄利，加升麻，倍白朮。</p>
<p><u>托裡散</u></p>
<p>治痘毒虛不能潰。</p>
<p>補中益氣湯去升麻，加熟地、茯苓、芍藥。</p>

<h1>十九、生脈散</h1>
<p><u>生脈散</u></p>
<p>治熱傷肺胃，虛熱喘嗽，脈虛無力。</p>
<p>人參（三錢）　麥冬（二錢，去心）　五味（一錢，杵）</p>
<p>水煎，不時熱服。</p>
<p><u>門冬清肺飲</u></p>
<p>治火乘肺胃，喘嗽，吐血，衄血。</p>
<p>生脈散加黃耆、甘草、紫菀、白芍、當歸。</p>
<p>此生脈、保元合用，以滋金水化源。其紫菀佐黃耆而兼調營衛，深得清肺之旨。其餘芍藥酸收，當歸辛散且走血而不走氣，頗非所宜，不若竟用生脈保元清肺最妥。先哲有保元、生脈合用，氣力從足膝湧出，以黃耆實胃，五味斂津，皆下焦之專藥耳。</p>
<p><u>《宣明》門冬飲</u></p>
<p>治心移熱於肺，傳為膈消。</p>
<p>生脈散加茯神、甘草、生地、栝蔞根、煨葛根、知母、竹葉。</p>
<p><u>易老門冬飲</u></p>
<p>治老人津虧大渴。</p>
<p>生脈散加茯神、甘草、枸杞、生薑。</p>
<p>二方並本生脈，而易老差勝，蓋明之重在旺氣，易老專滋血氣，治得其本矣。</p>
<p><u>天王補心丹</u></p>
<p>治心腎虛耗，怔忡不寧。</p>
<p>生脈散加熟地、茯苓、茯神、遠志、菖蒲、黑參、丹參、柏子仁、酸棗仁、天門冬、百部、當歸、杜仲、桔梗、甘草。蜜丸，硃砂為衣。空心，龍眼紅棗湯下二、三錢。</p>
<p><u>清心蓮子飲</u>（《局方》）</p>
<p>治心包火旺，小便赤黃，滯澀梗痛。</p>
<p>生脈散加黃芩、地骨皮、車前、茯苓、黃耆、蓮子。</p>
<p>此用生脈散合黃芩清肺而兼導赤之制，其皆在於心包火炎上灼於肺，熱傷氣化，不能生水，故用生脈救肺之燥，以滋上源。則知肺本無熱，皆緣受火之淫而致熱傷氣化，安可復用黃芩以伐其肺乎？曷不竟用生脈合導赤全方，豈不源流同清，理明辭暢乎？即或不然，不妨削去木通，仍用茯苓、蓮子，以存清心之意。至於《局方》又以保元為主，乃去五味，加入甘草，益失滋肺上源之旨矣。</p>

<h1>二十、二冬膏</h1>
<p><u>二冬膏</u></p>
<p>治肺胃燥熱，痰澀咳嗽。</p>
<p>天門冬去心　麥門冬去心，等分</p>
<p>上二味熬膏，煉白蜜收。不時噙熱咽之。</p>
<p><u>固本丸</u></p>
<p>治老人津血俱虧，咳逆，便秘。</p>
<p>二冬膏加生地、熟地，與本方二冬各八兩，人參四兩。蜜丸，酒下四錢，熬膏尤宜。食少便滑禁用。</p>
<p>固本丸雖主扶陰抑陽，然四味純陰之性，僅用少許人參，已覺味勝於氣矣。而世本此方二冬二地各用八兩、人參二兩，𠘧𠘧乎群陰剝陽之象，況復舉世醫流往往削去人參，盍知陰柔之味不得陽和之力，每致奪食作瀉？《內經》所謂：無陽則陰無以化。安望其有補益之驗歟？</p>
<p>或問：近世病家吝惜多金，醫家迎合鄙性，往往用參湯服丸，此法可否？曰：此曲突徙薪之法也。鄙夫但知人參珍貴，以為入口便補，不知配合之妙全在佐使得宜。若用參湯送丸，則參力先行，至丸化時參力相去已遠，非若膏劑之用參湯調服，仍得併力奏功也。</p>
<p><u>集靈膏</u></p>
<p>治久嗽氣血俱虛，不能送痰而出。</p>
<p>固本丸中二冬、二地各十兩、人參六兩，加枸杞六兩，熬膏蜜收。如血虛便難，加歸身；脾弱便溏，加白朮，以糖霜代蜜收之。</p>
<p><u>三才丸</u></p>
<p>治氣血俱虛，精神不固，亢陽失合者宜之。</p>
<p>二冬膏去麥門冬，加人參、熟地等分，蜜丸服之。加黃柏、甘草、砂仁，名三才封髓丹。</p>
<p><u>甘露飲</u>（《局方》）</p>
<p>治胃中客熱，煩躁，口鼻咽瘡，牙宣口臭。</p>
<p>二冬膏加生地、熟地、茵陳、枳殼、黃芩、石斛、甘草、枇杷葉（炙，去毛）。</p>

<h1>二十一、桔梗湯</h1>
<p><u>桔梗湯</u>（《玉函》）</p>
<p>治冬時伏邪發於少陰，咽痛不差，及風熱肺氣不清，喘嗽，喉中介介如梗狀，肺痿、肺癰初起並得服之。</p>
<p>桔梗　甘草各三錢</p>
<p>上二味水煎，緩緩服之。</p>
<p><u>利金湯</u></p>
<p>治肺燥澀不利而咳。</p>
<p>桔梗湯加貝母、橘紅、枳殼、茯苓、生薑、白蜜。</p>
<p><u>枳殼煮散</u></p>
<p>治咳引脅下痛。</p>
<p>桔梗湯加枳殼、細辛、川芎、防風、葛根、生薑、紅棗。</p>
<p><u>清肺湯</u></p>
<p>治痘疹肺熱，喘嗽吐痰。</p>
<p>桔梗湯加麥冬、款冬花、杏仁、貝母、牛蒡子。</p>
<p><u>生地黃散</u></p>
<p>治斑疹肺熱，喘咳衄血。</p>
<p>桔梗湯加麥冬、生地、款冬、杏仁，為散，煎服二錢。一方無杏仁，多橘皮。</p>
<p><u>生聖散</u></p>
<p>治痘出不快，溺赤咳痰。</p>
<p>桔梗湯加黃芩、枳殼、木通，為散，煎服二錢。</p>
<p><u>十六味桔梗湯</u></p>
<p>治肺壅實熱，唾穢痰。</p>
<p>桔梗湯加薏苡、貝母、當歸、桑皮、栝蔞仁、百合、枳殼、葶藶、五味、地骨皮、知母、防己、黃耆、杏仁。</p>
<p><u>葶藶薏苡瀉肺湯</u></p>
<p>治肺癰初潰，吐膿血。</p>
<p>桔梗湯本方，甘草用節，加薏苡、貝母、橘紅、黃耆、忍冬、白及、葶藶、生薑。初起去黃耆，加防風；潰後膿血去多，加人參；潰久不斂，加合歡皮。</p>
<p><u>排膿湯</u>（《金匱》）</p>
<p>治內癰，膿從嘔出。</p>
<p>桔梗湯加生薑、大棗，水煎，日三服。</p>
<p><u>排膿散</u>（《金匱》）</p>
<p>治內癰，膿從便出。</p>
<p>桔梗湯去甘草，加枳實、芍藥，為散，取雞子黃一枚，以藥與雞子黃相等，揉和，飲和服之，日一服。</p>

<h1>二十二、防己黃耆湯</h1>
<p><u>防己黃耆湯</u>（《金匱》）</p>
<p>治風濕相摶客在膚，關節疼痛，腰以下疼重，脈浮，自汗，惡風。</p>
<p>防己（酒洗）　黃耆（各半錢）　白朮（一錢）　甘草（炙，八分）　生薑（四片）　大棗（二枚，掰）</p>
<p>上六味水煎，熱服後當如蟲行皮中，腰以下如冰，後坐被上，又以一被圍腰下，溫令微汗，差。</p>
<p>喘，加麻黃；胃氣不和，加芍藥；氣上衝，加桂枝；下有陳氣，加細辛（陳氣，久積之寒氣也）。</p>
<p><u>防己茯苓湯</u>（《金匱》）</p>
<p>治皮水，四肢腫，皮膚聶聶動。</p>
<p>防己黃耆湯去白朮、薑、棗，本方中防己、黃耆各三錢，甘草一錢，加肉桂三錢、茯苓六錢。水煎，溫分三服。</p>
<p><u>防己湯</u>（《千金》）</p>
<p>治歷節，四肢痛如錐刺。</p>
<p>防己黃耆湯去黃耆、大棗，本方中防己、白朮、生薑各四錢，甘草三錢，加桂心、茯苓各四錢、烏頭一枚（去皮，熬）、人參二錢。以苦酒和水煮，日三夜一服，當覺焦熱，痹忽忽然，慎勿怪也。若不覺，復服，以覺乃止。</p>

<h1>二十三、梔子豉湯</h1>
<p><u>梔子豉湯</u>（《玉函》）</p>
<p>治汗下不解，虛邪留於膈上，心下結痛，虛煩懊憹不得眠，反復顛倒，臥起不安者。</p>
<p>梔子（十四枚，掰）　香豉（四合）</p>
<p>上二味，水煎，分二服。溫進一服，得快吐，止後服。</p>
<p>按：仲景太陽例中用梔子豉湯有三，皆主汗下後虛邪不解之證，其梔子必取肥者，生用，一吐而膈上之邪與火俱散也。若其時行疫癘，頭痛發熱，此湯加蔥白最捷。多有服之不吐者，胃氣強也，加齏汁服之，或以鵝翎探之。或借用以清解膈上鬱結之火，不欲其吐，又須山梔炒黑用之，便屈曲下行小便矣。如衛氣素虛人感冒客邪，自汗多者，此方中香豉須炒熟用之；至於少氣，為胃氣之虛，則加甘草以緩調之，嘔為痰飲之逆，則加生薑以開豁之；下後心煩腹滿，明是濁氣內陷，乃於本方除去香豉表藥，加枳、樸以湧泄之；丸藥大下後，身熱不去，微煩，明是虛火外擾，本方亦不用香豉，而加乾薑以溫順之；其有身黃髮熱，明是濕邪郁發，亦於本方去香豉，而加柏皮以苦燥之；下後勞復、食復，明是正不勝邪，本方加枳實以清理其內，用清漿水煮，取味微酸，使之下行而不上越也；若有宿食，則加大黃如博棋子大五、六枚。同一梔子豉法，功用之妙神化莫測，非庸俗所能擬議也。</p>
<p><u>梔子甘草豉湯</u>（《玉函》）</p>
<p>治下後少氣。</p>
<p>梔子豉湯加甘草。</p>
<p><u>梔子生薑豉湯</u>（《玉函》）</p>
<p>治下後嘔吐。</p>
<p>梔子豉湯加生薑。</p>
<p><u>梔子厚朴湯</u>（《玉函》）</p>
<p>治下後心煩腹滿。</p>
<p>梔子豉湯去豉、加枳實、厚朴。</p>
<p><u>梔子乾薑湯</u>（《玉函》）</p>
<p>治丸藥大下後身熱不去，微煩。</p>
<p>梔子豉湯去豉，加乾薑。</p>
<p>上四方服法如梔子豉湯。</p>
<p><u>梔子柏皮湯</u>（《玉函》）</p>
<p>治太陽證身黃髮熱。</p>
<p>梔子豉湯去豉，加柏皮、甘草，水煎，分溫再服。</p>
<p><u>枳實梔子豉湯</u>（《玉函》）</p>
<p>治勞復、食復。</p>
<p>梔子豉湯倍香豉，加枳實三枚。用清漿水七升，空煮取四升，內枳實、梔子，煮取三升，下豉，更煮五、六沸，去滓，分溫再服，覆令微似汗。有食，加大黃如博棋子大五、六枚。</p>
<p><u>梔子大黃湯</u></p>
<p>治酒癉，心中懊憹或熱痛。</p>
<p>梔子豉湯加枳實、大黃。</p>
<p><u>黃芩清肺飲</u></p>
<p>治渴而小便不利。</p>
<p>梔子豉湯去豉，用炒黑山梔，加黃芩，等分。熱服探吐之，不應加香豉一撮。此方妙用全在探吐以提其上，則肺氣立清。若服而不吐，不特綿延不能克應，縱或小差，其苦寒之性留薄於內，大傷氤氳之氣，得不為之預慮乎？</p>
<p><u>梔子仁湯</u></p>
<p>治小便不通，煩悶腹脹。</p>
<p>梔子豉湯去豉，加甘草、茅根、葵子。</p>

<h1>二十四、小承氣湯</h1>
<p><u>小承氣湯</u>（《玉函》）</p>
<p>治少陽陽明腑證。</p>
<p>大黃（四錢，生用）　厚朴（六錢）　枳實（三枚，炙）</p>
<p>初服湯，當更衣。不爾者，盡飲之。若更衣，勿服之。</p>
<p>經云：亢則害，承乃制。專取大黃以制亢極之害也。承氣湯證有三：太陽之邪初傳陽明之腑用調胃承氣，籍甘草之緩，款留硝黃以祛胃中方張之邪；邪熱亢極於胃，用大承氣之硝、黃、枳、樸，並攻全盛之邪，故無庸於甘緩也；邪氣駸駸欲犯少陽之界，斯時熱已向衰，但須枳樸助大黃以擊惰歸之邪，故無取於芒硝之峻銳也。其桃核承氣則又主太陽犯本之證，以桃仁、桂枝血藥引調胃承氣三味，以破膀胱蓄血，與陽明之腑略無交涉。</p>
<p><u>調胃承氣湯</u>（《玉函》）</p>
<p>治太陽陽明腑證。</p>
<p>小承氣湯去厚朴、枳實，方中大黃酒浸，加芒硝三合、甘草二錢。</p>
<p><u>大承氣湯</u>（《玉函》）</p>
<p>治正陽陽明腑證。</p>
<p>小承氣湯本方，大黃酒洗，倍用厚朴半兩，枳實五枚，加芒硝三合。</p>
<p><u>桃核承氣湯</u>　《玉函》，即桃仁承氣湯</p>
<p>治熱結膀胱，如狂。</p>
<p>小承氣湯去厚朴、枳實，加芒硝、甘草、桃仁、桂枝。</p>
<p><u>厚朴大黃湯</u>（《金匱》）</p>
<p>治支飲胸滿。</p>
<p>小承氣湯倍大黃。</p>
<p><u>厚朴三物湯</u>（《金匱》）</p>
<p>治腹滿痛閉。</p>
<p>小承氣湯倍厚朴，用枳實五枚。</p>
<p><u>厚朴七物湯</u>（《金匱》）</p>
<p>治腹滿發熱，飲食如故。</p>
<p>小承氣湯加甘草、桂枝、薑、棗。</p>
<p>此本小承氣合桂枝湯，中間裁去白芍之酸收，不致引邪入犯營血，雖同用桂枝、甘草，與桂枝湯涇渭攸分。其厚朴獨倍他藥，正以泄氣之濁逆耳。</p>
<p><u>大黃甘遂湯</u>（《金匱》）</p>
<p>治婦人血結，少腹如墩。</p>
<p>小承氣湯去枳實、厚朴本方，大黃用四錢，加甘遂、阿膠各二錢，頓服之。</p>
<p><u>大黃甘草湯</u>（《金匱》）</p>
<p>治食已即吐。</p>
<p>小承氣去枳實、厚朴，用大黃一兩，加甘草三錢。</p>
<p><u>大黃牡丹湯</u>（《金匱》，《肘後》名瓜子湯）</p>
<p>治大腸癰。</p>
<p>小承氣湯去枳實、厚朴，加芒硝、桃仁、牡丹皮、甜瓜子。</p>
<p><u>大黃附子湯</u>（《金匱》）</p>
<p>治脅下寒飲偏痛。</p>
<p>小承氣湯去枳實、厚朴本方，用大黃一兩，加附子六錢、細辛二錢。水煎，分溫三服，如人行四五里進一服。</p>
<p>按：此即瀉心湯去芩、連之苦燥瀉里，加細辛之辛溫走表，以治脅下寒積，兩不移易之定法也。</p>
<p><u>黃龍湯</u></p>
<p>治失下，循衣撮空，虛極熱盛，不下必死者。</p>
<p>小承氣湯本方，用大黃三錢、厚朴錢半、枳實一錢，加芒硝二錢、甘草一錢、人參較大黃減半、當歸二錢、生薑五片、大棗一枚。如腸鳴，去芒硝，加半夏、茯苓；血秘，去甘草，加桃仁泥、生地黃汁；氣秘，去當歸，加木香；風秘，去大棗，加羌活；年老氣虛，去芒硝。</p>
<p>湯取黃龍命名，專攻中央燥土。土既燥竭，雖三承氣萃集一方，不得參、歸鼓舞胃氣，烏能興雲致雨？或者以為因虛用參，殊不知參在群行劑中，則迅掃之威愈猛，安望其有補益之力歟？《千金》又以小柴胡易名黃龍湯，意在培土以安風木，殊非此方寓補於瀉之義。</p>
<p><u>三化湯</u></p>
<p>治類中風，外無六經形證，內有便溺阻隔。</p>
<p>小承氣湯加羌活。</p>
<p><u>羌活導滯湯</u></p>
<p>治大便風秘。</p>
<p>小承氣湯去厚朴，加羌活、獨活、防己、當歸、甘草。</p>
<p>此方較三化湯藥味稍異而功用不殊，與枳實導滯丸則涇渭各別，彼雖亦本承氣，而兼枳、朮、三黃，因隸之傷飲食門，此不復列。</p>
<p><u>紫草承氣湯</u></p>
<p>治痘瘡乾紫，便秘喘滿。</p>
<p>小承氣湯加紫草。</p>

<h1>二十五、抵當湯</h1>
<p><u>抵當湯</u>（《玉函》）</p>
<p>治畜血，少腹硬滿，小便自利。</p>
<p>水蛭（熬黑，如無，以陵鯉甲生漆塗炙代之）　大黃（酒浸，一兩）　桃仁（去皮、尖，三十粒）　虻蟲（去翅、足，熬，各三十枚）</p>
<p>上四味水煎，去滓，取三升，溫服一升，不下再服。</p>
<p>按：此與承氣不同。承氣用枳實、厚朴以利氣，此用水蛭、虻蟲、桃仁以破血也。</p>
<p><u>抵當丸</u>（《玉函》）</p>
<p>治畜血，小便自利。服湯不應，用此丸。</p>
<p>抵當湯本方，用水蛭二十枚、虻蟲二十五枚，余同湯方，杵細，入蜜，分為四丸，以水一升煮一丸，取七合服之，晬時當下血，若不下者，更服。</p>
<p><u>變通抵當丸</u></p>
<p>抵當丸去水蛭，加䗪蟲二十個，雞血拌，瓦上焙乾，余如本方。如欲緩攻，臨臥時酒服五丸至十丸，瘀下止後藥。</p>
<p><u>下瘀血湯</u>（《金匱》）</p>
<p>治婦人產後腹痛，有乾血著臍下。</p>
<p>抵當湯去水蛭、虻蟲，加䗪蟲二十枚（熬，去足）。</p>
<p><u>代抵當湯丸</u></p>
<p>治虛人畜血，宜此緩攻。</p>
<p>抵當湯去水蛭、虻蟲本方，大黃用四兩（酒浸），桃仁用二十枚，加芒硝、蓬朮、穿山甲、歸尾、生地黃各一兩，肉桂三錢，為末，蜜丸。畜血在上部者，丸如芥子，黃昏去枕仰臥，以津咽之令停喉，以搜逐瘀積；在中部食遠，下部空心，俱丸如梧子，百勞水煎湯下之。用歸、地者，引諸藥入血分也。如血老積成，攻之不動，去歸、地，倍蓬朮、肉桂。</p>

<h1>二十六、涼膈散</h1>
<p><u>涼膈散</u>（《局方》）</p>
<p>治溫熱時行，表裡實熱及心火亢盛，目赤便秘，胃熱發斑。</p>
<p>大黃（酒浸，二兩）　芒硝（一兩）　甘草（炙，六錢）　連翹（一兩）　黃芩（一兩）　山梔（八錢）　薄荷（七錢）</p>
<p>為散，每服四、五錢，加竹葉十五片，水煎。溫，日三夜二服，得下、熱退為度。（世本無竹葉，有姜一片、棗一枚、蔥白一莖）</p>
<p>硝、黃得枳、樸之重著，則下熱承之而順下；得芩、梔、翹、薄之輕揚，則上熱抑之而下清。此承氣、涼膈之所攸分也。用甘草者，即調胃承氣之義也。《局方》專主溫熱時行，故用竹葉，若治感冒之證，從世本，用蔥白、薑、棗可也。</p>
<p><u>清心散</u></p>
<p>治溫熱時行壯熱，神昏不語，便溺閉澀。</p>
<p>涼膈散加黃連一兩，為散，每服四、五錢，加竹葉一把、白蜜少許，煎服。頭痛加川芎、防風、石膏，不應加麻黃。</p>
<p><u>轉舌丸</u></p>
<p>治類中風，舌強不語，神識不清。</p>
<p>涼膈散加石菖蒲、遠志肉各一兩，蜜丸，硃砂為衣，薄荷湯下。</p>
<p><u>潤燥湯</u></p>
<p>治痘疹過用丁、桂熱藥，咽痛，煩躁，秘結。</p>
<p>涼膈散去硝、黃，加當歸、白芍、生地、荊芥、鼠黏子。</p>
<p><u>通聖散</u></p>
<p>治西北卒中，外內熱極。</p>
<p>涼膈散去竹葉，加麻黃、石膏、滑石、生白朮、防風、荊芥、桔梗、川芎、當歸、芍藥、生薑。</p>
<p><u>雙解散</u></p>
<p>治溫熱時行，外內熱極。</p>
<p>通聖散倍滑石，用生甘草。</p>

<h1>二十七、備急丸</h1>
<p><u>備急丸</u>（《金匱》）</p>
<p>治心腹卒痛如錐刺，宿食冷積脹滿。</p>
<p>巴豆（去皮、心、膜，用霜，一錢）　乾薑（二錢）　大黃（三錢）</p>
<p>上三味為末，煉白蜜丸如小豆大，溫水送下二三十丸。妊婦禁用。</p>
<p>按：備急丸治寒實結積之峻藥，凡傷寒熱傳胃腑，舌苔黃黑刺裂，唇口赤燥者，誤用必死，以巴豆大熱傷陰故也。其白散、白餅子、消積、神保、酒癥等方皆然，不可不慎。其神保丸、酒癥丸見傷飲食門榻氣丸下，茲不復見。</p>
<p><u>白散</u>（《玉函》）</p>
<p>治寒實結胸。</p>
<p>備急丸去乾薑、大黃，用巴霜一錢，加桔梗、蘆貝母各三錢，為散，白飲和服半錢，羸者減之。</p>
<p><u>雷氏千金丸</u></p>
<p>治胸脹，冷積作痛。</p>
<p>備急丸加焰硝、桂心。</p>
<p><u>白餅子</u></p>
<p>治小兒腹中癖積，飲乳即嗽而吐痰涎。</p>
<p>備急丸去乾薑、大黃，用巴豆二十粒，取霜，加滑石、輕粉、半夏、南星各一錢，共杵為末，糯米飲丸綠豆大，捻作餅子，每服二、三餅，蔥白湯下。</p>
<p><u>消積丸</u></p>
<p>治小兒食積發熱，大便酸臭。</p>
<p>備急丸去乾薑、大黃，用巴豆二十粒，取霜，加丁香九粒、縮砂仁十二粒，共杵為末，以爛烏梅肉三枚糊丸黍米大，每服三、五丸，溫水下。</p>

<h1>二十八、伊尹三黃湯</h1>
<p><u>伊尹三黃湯</u>（倉公名火齊湯，《金匱》名瀉心湯）</p>
<p>治三焦實熱，煩躁便秘。</p>
<p>黃連（酒煮）　黃芩（酒炒）　大黃（酒浸，等分）</p>
<p>麻沸湯二升，漬之須臾，絞去滓，分溫再服。麻沸湯者，白水空煎，鼎沸如麻也，古方惟降火藥用之。</p>
<p><u>三黃丸</u></p>
<p>治諸實熱不解。</p>
<p>三黃丸即三黃湯為末，煉白蜜丸梧子大，每服五十丸，空心麻沸湯下。</p>
<p><u>金花湯</u></p>
<p>治熱毒內蘊。</p>
<p>三黃湯去大黃，加黃柏，三味等分煎服。更加梔子，名梔子金花湯。</p>
<p><u>三補丸</u></p>
<p>治陰火亢極不解。</p>
<p>金花湯為末，蜜丸服。</p>
<p><u>黃連解毒湯</u></p>
<p>治熱邪內外俱盛。</p>
<p>三黃湯去大黃，加黃柏、山梔等分，煎服。</p>
<p><u>金花丸</u></p>
<p>治積熱不解。</p>
<p>黃連解毒湯為末，蜜丸服之。</p>
<p><u>大金花湯</u></p>
<p>治中滿熱極，淋秘溺血。</p>
<p>三黃丸加黃柏等分，滴水為丸小豆大，新汲水下三十丸。</p>
<p>按：金花湯止芩、連、柏三味，作丸則名三補；金花丸較湯多山梔，作湯名為解毒；更加大黃，則名大金花丸。湯丸雖異，功用不殊，但取急攻則用湯，緩祛則用丸，微有區別耳。</p>
<p><u>大黃黃連瀉心湯</u>（《玉函》，即黃連瀉心湯）</p>
<p>治邪熱內陷，脅下痞滿。</p>
<p>三黃湯去黃芩，麻沸湯清絞服。</p>
<p><u>附子瀉心湯</u>（《玉函》）</p>
<p>治寒熱不和，脅下痞結。</p>
<p>三黃湯另煎，熟附子汁攪勻服之。</p>
<p><u>三黃梔子豉湯</u></p>
<p>治熱病時疫，頭痛壯熱。</p>
<p>三黃湯合梔子豉湯《千金》去黃芩，加黃柏</p>
<p><u>當歸六黃湯</u></p>
<p>治營血虛熱盜汗。</p>
<p>三黃湯去大黃，加黃柏、黃耆、生地、熟地、當歸。（汪石山去黃柏，加蒲黃）</p>
<p><u>清心丸</u></p>
<p>治心熱神昏，驚悸不寧。</p>
<p>三黃湯去大黃，用黃連三錢、黃芩二錢，加西牛黃半錢、鬱金錢半，豬心血為丸黍米大，硃砂為衣，燈心湯下。三歲兒三十丸。</p>
<p><u>既濟解毒湯</u></p>
<p>治上熱下寒，大便秘。</p>
<p>三黃湯加甘草、桔梗、柴胡、升麻、連翹、當歸。</p>
<p><u>人中黃丸</u></p>
<p>治溫疫，諸熱毒。</p>
<p>三黃湯本方，用大黃三兩，芩、連各一兩，加人中黃、蒼朮、桔梗、滑石各二兩、人參一兩，防風、香附各一兩五錢，神麯糊丸，清熱解毒湯送下二、三錢。（清熱解毒湯方現白虎湯下）</p>
<p>此方專以伊尹三黃大解濕熱疫癘之邪，其奧妙全在人中黃一味，以汙穢之味同氣相求，直清中上汙穢熱毒；合滑石，益元之制，則兼清滲道；用蒼朮、香附者，宣其六氣之郁也；用桔梗者，清其膈上之氣也；用防風者，開其肌腠之熱也；十味祛邪散毒藥，不得人參鼓舞其勢，無以逞迅掃之力也；用神麯為丸者，取其留中而易化也；更需清熱解毒下之，即人參白虎合升麻葛根湯去粳米，加羌活、芩、連、生地，總解內外之熱，略取生薑之辛，以行諸藥之性，散諸經之毒耳。</p>
<p><u>三黃石膏湯</u></p>
<p>治熱病時行，內外大熱。</p>
<p>三黃湯去大黃，加黃柏、山梔、石膏、麻黃、香豉、生薑、蔥白。用清漿水煎服，半日許不得汗，再服。便秘，去麻黃、香豉，加大黃、芒硝。節庵槌法加芽茶一撮。</p>
<p>按：此即解毒湯兼通聖散、梔子豉湯之制，而加麻黃、石膏、蔥、姜以撤外內熱毒也。如脈數實，便秘，上氣喘急，舌卷囊縮，則去麻、豉而易硝、黃，又全用伊尹三黃矣。</p>
<p><u>普濟消毒飲</u></p>
<p>治大頭捻頸瘟等證。</p>
<p>三黃湯去大黃，加柴胡、黑參、連翹、鼠黏、升麻、白芷、甘草、桔梗、馬勃、殭蠶、板藍根，半用水煎，半用蜜丸噙化。氣虛脈弱，加人參五、七分；大便秘，加酒大黃錢許微下之。</p>
<p>本方去升麻、黑參、鼠黏、殭蠶、板藍、馬勃，加荊芥、防風、羌活、枳殼、川芎、射干，名芩連消毒湯。</p>
<p><u>當歸龍薈丸</u></p>
<p>治肝經積熱，時發驚悸搐搦，神志不寧，頭目昏眩，咽膈不利，腸胃燥結，躁擾狂越等證。</p>
<p>三黃湯加當歸、龍膽、蘆薈、梔子、青黛、木香、麝香，蜜丸，淡薑湯送二三十丸。</p>
<p><u>神芎丸</u></p>
<p>治水腫，外內俱實者。</p>
<p>三黃湯本方，用大黃、黃芩各二兩，黃連半兩，加滑石、牽牛頭末各四兩，川芎、薄荷各半兩，滴水為丸，每服五、七丸至十五丸，臨臥溫水服。濕熱腰脅腫滿，加甘遂一兩；遍身走注疼痛，加白芥子一兩；久毒熱腫，腹痛，加芒硝一兩；關節不利，加羌活一兩；腸胃結滯，加郁李仁一兩；腰腿沉重，加商陸一兩。本方去黃連、川芎、薄荷，名導水丸。</p>
<p>戴人取伊尹三黃丸變為神芎丸，每令病人至夜先服百餘粒，繼以浚川散投之，五更當下，種種病出，投下少許，再以和膈藥服之，以利為度。有五日一下者、三日一下者，病輕者一、二服止，重者五、六服方愈，是擒縱緩舒之妙，臨病制宜，非可言喻，自非老年諳練有大負者，焉敢效諸行事耶？詳方後云每服五、七丸至十五丸，乃峻藥緩攻之成法。此言每令病人先服百餘丸，急乘元氣未漓，為之迅掃，各有至理，不可以此礙彼也。</p>
<p><u>浚川散</u></p>
<p>治水腫脹急、大便不通、大實大滿證。</p>
<p>三黃丸去芩、連，用大黃一兩，加牽牛頭末、郁李仁各一兩，芒硝、甘遂各半兩，木香三錢，為散，每服二錢，入生薑自然汁，和如稀糊服。</p>
<p>按：此乃下水積之峻藥，火熱怫鬱，水液不能宣通，停滯而生濕熱。在陽不去，則化氣而為脹；在陰不去，則化積而成形。世俗不省《內經》「留者攻之」，但執補燥之劑，怫鬱轉加而病愈甚也。戴人曰：養生與攻病本自不同。今人以補藥治病，宜乎不效也。</p>

<h1>二十九、十棗湯</h1>
<p><u>十棗湯</u>（《玉函》）</p>
<p>治懸飲內痛，脅下有水氣，脈弦數。</p>
<p>芫花（熬）　甘遂　大戟（泡，去骨，等分）</p>
<p>上三味搗篩，以水一升五合先煮大棗肥者十枚，掰，取八合，去滓，內藥末。強人服一錢匕，羸人服半錢匕，平旦溫服。若下少，病不除者，明日更服，加半錢匕。得快下利後，糜粥自養。（《補天石》加生薑汁，《傷寒五法》加肉桂）</p>
<p><u>神佑丸</u></p>
<p>治陽水腫脹，大小便秘。</p>
<p>十棗湯本方各一兩，加大黃二兩、黑牽牛頭末四兩、輕粉一錢，煮紅棗肉為丸。初服五、七丸，日三服，漸加，快利為度。</p>
<p>按：此方守真本仲景十棗湯，加牽牛、大黃、輕粉三味，較十棗倍峻，然作丸緩進，則威而不猛，其法最良。其於神佑丸中加青皮、陳皮、木香、檳榔各半兩，名舟車。神佑已屬蛇足，更於舟車丸中加入乳香、沒藥，名除濕丹，風斯愈下，殊不足法。</p>
<p><u>控涎丹</u></p>
<p>治脅下痰積作痛。</p>
<p>十棗湯去芫花、大棗，加白芥子，等分為末，曲糊丸，服十五丸至二十丸。驚痰加硃砂、全蠍；酒痰加雄黃、全蠍；驚氣成塊者加穿山甲、鱉甲、延胡索、蓬朮；臂痛加桂枝，薑黃；痰嗽加風化硝；寒痰加丁香、肉桂，胡椒。</p>
<p>甘遂直達涎結之處，大戟能攻胸脅之涎，白芥子能破支結之飲，此攻痰涎之峻劑也。凡形盛、色蒼、氣壯、脈實人有上證，但服此藥數服，其病如失，後以六君子調補。若氣虛皎白、大便不實、小便清利者誤服，不旋踵而告變矣。</p>

<h1>三十、五苓散</h1>
<p><u>五苓散</u>（《玉函》）</p>
<p>治傷寒表裡未解，渴而小便不利。</p>
<p>白朮（生）　茯苓　豬苓（各一二錢）　澤瀉（三錢）　桂（一錢）</p>
<p>上五味為散，白飲和服方寸匕，日三服，或生料煎服，溫覆取微似汗。</p>
<p>按：五苓散本治太陽經邪犯本，渴而小便不利，飲水即吐之水逆，故用二苓、澤、術利水生津，又需桂以蒸動其津，則渴者自不渴矣。後人不達此義，每用五苓治陰虛泉竭之證，重涸其水，發熱、發渴勢必轉劇，豈方之咎歟？況有去桂而用四苓者，曷知此方全賴桂之辛溫，則術不至壅滿。用方者常須識此，無愧聖賢一脈。</p>
<p><u>豬苓湯</u>（《玉函》）</p>
<p>治渴欲飲水，小便不利，及少陰病下利，咳而嘔渴，心煩不得眠。</p>
<p>五苓散去朮、桂，加滑石、阿膠等分，水煎去滓，溫服，日三。</p>
<p>按：此太陽少陰藥也。五苓散用術以導水滋干，即兼桂之辛溫以蒸動其津氣；此用滑石之清熱利水，即兼阿膠之甘潤以保護其血液。汗乃血之液，故汗出多而渴者禁用。</p>
<p><u>豬苓散</u>（《金匱》）</p>
<p>治嘔吐思水。</p>
<p>五苓散去澤瀉、桂，為散，飲服方寸匕，日三服。</p>
<p><u>澤瀉湯</u>（《金匱》）</p>
<p>治支飲眩暈。</p>
<p>五苓散去豬苓、茯苓、桂。</p>
<p><u>茯苓澤瀉湯</u>（《金匱》）</p>
<p>治胃反，吐而渴欲飲水。</p>
<p>五苓散去豬苓，加甘草、生薑（《家秘》加蘆根。）</p>
<p><u>茯苓戎鹽湯</u>（《金匱》）</p>
<p>治胞中精枯血滯，小便不利。</p>
<p>五苓散去豬苓、澤瀉、桂，加戎鹽（即青鹽。）</p>
<p><u>桂苓丸</u></p>
<p>治腎氣上逆，水泛為痰，逆沖膈上，及冒暑煩渴，飲水過多，腹脹，小便不利。</p>
<p>五苓散去豬苓、澤瀉、白朮，用桂一兩、茯苓二兩，蜜丸，沸湯下二錢，日三服（作湯名桂苓飲。）</p>
<p><u>桂苓甘露飲</u></p>
<p>治溫熱病，小便不通，煩渴引飲。</p>
<p>五苓散加真寒水石、石膏、滑石。</p>
<p><u>四苓散</u></p>
<p>治小便赤澀脹痛，及溫熱時行，煩渴。</p>
<p>五苓散去桂。</p>
<p><u>茵陳五苓散</u>（《金匱》）</p>
<p>治黃疸，小便不利。</p>
<p>五苓散加茵陳蒿。</p>
<p><u>春澤湯</u></p>
<p>治氣虛傷濕，小便不利。</p>
<p>五苓散加人參。</p>
<p><u>葶藶木香散</u></p>
<p>治陽水腹脹，大小便秘。</p>
<p>五苓散加葶藶、木香、木通、滑石、甘草。</p>

<h1>三十一、益元散</h1>
<p><u>益元散</u>（一名天水散，一名六一散）</p>
<p>治暑月小便不利。</p>
<p>滑石（水飛，六兩）　甘草（炙，六錢；生，四錢）</p>
<p>為散，清水調服二、三錢。發散溫病、熱病，加蔥白五、七莖、香豉四合，水煎溫服。老人、虛人及病後傷津小便不利禁用。</p>
<p>此方加蔥、豉煎服，則兼散表邪；加吳茱萸，則治白痢；加紅曲，則治血痢；加炮姜，則兼消飲食；加神砂，則兼退心火；加青黛，則散肝火；加薄荷，則清肺熱；加石膏，則除胃熱。共入通聖、雙解、解毒等方，隨證配合，未遑枚舉。</p>
<p><u>辰砂六一散</u></p>
<p>治暑月驚悸，多汗，小便澀痛。</p>
<p>益元散一料，加辰砂一錢（飛）。</p>
<p><u>蒲灰散</u>（《金匱》）</p>
<p>治皮水，小便不利而渴。</p>
<p>益元散去甘草，用滑石三分，加蒲灰七分，為散，飲服方寸匕，日三服。</p>
<p><u>滑石白魚散</u>（《金匱》）</p>
<p>治消渴，小便不利，小腹脹痛，有瘀血。</p>
<p>益元散去甘草，加亂髮灰、白魚（炙）等分，為散，飲服方寸匕，日三服。</p>

<h1>三十二、白虎湯</h1>
<p><u>白虎湯</u>（《玉函》）</p>
<p>治熱病，壯熱煩渴，及中暍，煩熱而渴。</p>
<p>石膏（八錢，生用）　知母（三錢）　甘草（炙，一錢）　粳米（半合）</p>
<p>水煎，溫分三服，一日盡飲之。</p>
<p><u>人參白虎湯</u>（《玉函》，即白虎加人參湯）</p>
<p>治熱病舌乾，大渴，發熱，皆寒。</p>
<p>白虎湯加人參。</p>
<p><u>桂枝白虎湯</u></p>
<p>治溫病，感冒客邪而渴，及溫瘧先熱後寒。</p>
<p>白虎湯加桂枝。</p>
<p><u>蒼朮白虎湯</u></p>
<p>治濕溫，身熱足冷。</p>
<p>白虎湯加蒼朮。</p>
<p><u>竹葉石膏湯</u>（《玉函》）</p>
<p>治大病後煩熱作渴。</p>
<p>白虎湯去知母，加竹葉、人參、半夏、麥門冬。</p>
<p><u>既濟湯</u></p>
<p>治上熱下寒。</p>
<p>竹葉石膏湯加熟附子三、五分。</p>
<p><u>清熱解毒湯</u></p>
<p>治時疫大熱。</p>
<p>白虎湯去粳米，加人參、羌活、升麻、葛根、白芍、黃芩、黃連、生地、生薑。</p>
<p><u>栝蔞葛根湯</u></p>
<p>治風溫，無大熱而渴。</p>
<p>白虎湯去知母、粳米，加人參、栝蔞根、葛根、防風。</p>
<p>按：此湯治風溫無大熱而渴，夫既無大熱，則不當渴矣；既渴，必非無大熱也。緣風溫之熱邪內蘊，故借白虎加人參湯，裁去知母、粳米，加栝蔞根以清熱解渴，葛根以布胃行津，防風以開表散邪，人參、甘草佐石膏、栝蔞以化熱，性雖甘溫，當無助長伏邪之虞。</p>
<p><u>大青湯</u></p>
<p>治斑子熱毒。</p>
<p>白虎湯去粳米，加大青、黑參、木通、生地、荊芥、竹葉。</p>
<p><u>玉露散</u></p>
<p>治小兒傷熱，吐瀉色黃。</p>
<p>白虎湯去知母、粳米，加寒水石（如無真者，滑石代之），為散，每服半錢匕至一錢匕，沸湯調，日三服。</p>
<p>薛立齋云：若飲食如常，作瀉，飲冷，宜用此藥。若食少體倦，喜飲熱湯，此脾氣虛陷，宜六君子湯加升麻、柴胡，此方切禁。</p>
<p><u>蘭香飲子</u></p>
<p>治消中，能食而瘦，大渴，便秘。</p>
<p>白虎湯去粳米，加人參、生甘草、蘭香（俗名香草）、防風、升麻、桔梗、連翹、半夏、白豆蔻。</p>
<p>按：消中為脾胃積熱，故東垣本人參白虎而立蘭香飲子。《內經》所謂「治之以蘭，除陳氣也」。但方中防風、半夏、豆蔻、升麻未免過於辛燥，曷不去此，加入麥冬、五味以滋化源，佐白虎以化胃熱，蘭香以除陳氣，與歸脾湯中用木香之意不殊，或於竹葉石膏湯中加知母、蘭香尤妥。</p>
<p><u>生津甘露飲</u></p>
<p>治上焦熱渴。</p>
<p>蘭香飲子去防風、半夏，加當歸、麥門冬、山梔、黃連、黃柏、藿香、木香。</p>

<h1>三十三、駐車丸</h1>
<p><u>駐車丸</u>（《千金》）</p>
<p>治陰虛下痢，發熱，膿血稠黏，及休息痢。</p>
<p>阿膠（三兩）　黃連（炒黑）　當歸（各兩半）　乾薑（炮，一兩）</p>
<p>上四味搗篩，醋煮阿膠，為丸梧子大。每服四、五十丸，晝夜三服，米飲下。</p>
<p>三車運精氣神，分治三焦，以調適陰陽。此因陽熱過旺，陰精受傷，故用黃連以駐鹿車之驟，乾薑以策牛車之疲，阿膠以挽羊車之陷，當歸以和精氣神之散亂也。</p>
<p><u>阿膠丸</u></p>
<p>治冷熱不調，犯傷三陰，腹痛，下膿血。</p>
<p>駐車丸本方，膠、連各二兩，歸、姜各一兩，加木香、黃芩、赤石脂（醋煅，水飛）、龍骨（醋煅，水飛）各一兩、厚朴（薑製）半兩。米飲丸梧子大，每服三十丸，晝二夜一服，米飲下。</p>
<p><u>歸連丸</u></p>
<p>治陰虛，下痢五色，及孕婦噤口赤痢。</p>
<p>駐車丸去乾薑本方，用阿膠二兩，歸、連各一兩，加黃芩、黃柏（炒黑）各半兩，蘄艾兩半。上除膠、艾，為細末，以醋二升煮艾至一升，去滓，入膠烊化，為丸綠豆大，每服六、七十丸，晝夜三服，米飲下。</p>
<p><u>阿膠梅連丸</u></p>
<p>治陰虛，下痢五色，至夜發熱。</p>
<p>駐車丸本方，用膠、連各三兩，當歸一兩五錢、炮姜一兩，加黃柏（炒黑）、赤芍藥、赤茯苓、烏梅肉（炒枯）各一兩五錢，醋煮阿膠，為丸梧子大，每服三、五十丸，晝夜三服，米飲下。</p>
<p><u>黃連湯</u>（《千金》）</p>
<p>治赤白痢。</p>
<p>駐車丸本方，用阿膠三錢，黃連、當歸各錢半，炮姜一錢，加黃柏（炒黑）、甘草（炙）各一錢，酸石榴皮錢半。上除阿膠，水煎，去滓，內膠烊化，溫分三服。</p>

<h1>三十四、佐金丸</h1>
<p><u>佐金丸</u></p>
<p>治肝經鬱熱，吐酸、綠、青、黃水。</p>
<p>川連（六兩）　吳茱萸（揀去閉口者，取淨，一兩，同黃連煮乾）</p>
<p>為細末，米飲糊丸梧子大，每服四、五十丸，空心白朮陳皮湯或加味逍遙散作湯送下。</p>
<p><u>抑青丸</u></p>
<p>治肝火，脅下急痛。</p>
<p>佐金丸二味等分，製法如前。制過，揀去吳茱萸，取黃連，焙燥，一味為末，滴水為丸，每服四、五十丸，空心沸湯、臨臥陳酒送下。</p>
<p><u>酒煮黃連丸</u></p>
<p>治心火亢盛，外內俱熱，及伏暑發熱，嘔吐。</p>
<p>佐金丸去吳茱萸，川連一味酒煮、焙燥，為末，滴水為丸，每服四、五十丸，空心沸湯下。</p>
<p><u>香連丸</u>（《局方》）</p>
<p>治下痢赤白相兼，白多於赤者。</p>
<p>佐金丸如前制過，去吳茱萸，加木香一兩，醋糊丸，每服五十丸，米湯、砂仁湯任下。</p>
<p><u>戊己丸</u>（《局方》）</p>
<p>治濕熱泄痢，腹痛不止。</p>
<p>佐金丸加白芍六兩，神麯糊丸，空心米湯、砂仁湯、蘄艾湯任下。</p>

<h1>三十五、大補丸</h1>
<p><u>大補丸</u></p>
<p>治陰亢火極，足脛疼熱，不能久立，及婦人火鬱發熱。</p>
<p>黃柏（鹽、酒拌，陳米飯上蒸，每蒸必拌炒，黑亮如漆為度）</p>
<p>煉白蜜丸梧子大，每服二錢，空心醇酒下。如服之不應，每斤加肉桂一兩。</p>
<p><u>潛行散</u></p>
<p>治濕熱足膝腫痛。</p>
<p>大補丸用薑汁拌炒數次為末，每服錢半，空心醇酒下。</p>
<p><u>大補陰丸</u></p>
<p>治陰虛火旺，煩熱易飢，足膝疼熱。</p>
<p>大補丸四兩，加知母四兩，熟地、龜版各六兩，豬脊髓和蜜丸梧子大，空心姜鹽湯下五十丸。</p>
<p><u>滋腎丸</u></p>
<p>治陰虛大渴，小便澀痛，熱起足心。</p>
<p>大補丸十分，加知母七分、肉桂一分，滴水為丸，食前沸湯下七、八十丸。</p>
<p>凡熱在足心，直衝股內而入腹者，謂之陰火。起於湧泉之下，雖熱而不發渴，為熱在膀胱，此方主之。</p>
<p><u>虎潛丸</u></p>
<p>治下體痿弱。</p>
<p>大補丸三兩，加龜版、熟地各三兩，知母、牛膝各二兩，白芍藥、鎖陽、虎脛骨、當歸身各一兩五錢，炮姜半兩，醇酒為丸，清晨鹽湯下三錢。痿而厥冷，加熟附子半枚。</p>
<p>虎體陰，性剛而好動，故欲其潛，使補陰藥咸隨其性，潛伏不動，得以振剛勁之力，則下體受蔭矣。其膝脛乃筋骨結聚，功力最優，若用掌骨，各隨患之前後左右取用，不必拘於左前為善也。</p>
<p><u>加味虎潛丸</u></p>
<p>治痿濡而厥。</p>
<p>虎潛丸去知母，加人參、黃耆、山藥、枸杞各二兩，五味子一兩。</p>
<p><u>二妙散</u></p>
<p>治身半以下濕熱疼重而腫。</p>
<p>大補丸（改用薑汁製數次，淨）加山茅、蒼朮（去皮，切，麻油拌炒、淨）等分，為散，薑汁調，每日空心溫酒送二錢。本方加肉桂，名三妙散。</p>

<h1>三十六、金液丹</h1>
<p><u>金液丹</u>（《局方》）</p>
<p>治陰極發躁，厥冷脈伏，爪甲唇青，水腫脈伏，小便不通，陰結畏寒，大便秘。</p>
<p>明淨硫黃五兩，研細，水飛，入煬，盛罐內，水調赤石脂末封口，鹽泥通身固濟，候乾。三足釘釘於地，將罐放釘上，漫火燒養七晝夜，再加頂火，用炭十斤為度，候冷，取出研細。每末一兩用蒸餅一兩打糊為丸梧子大，每服二、三十丸，溫白湯送下，陰極冷甚者服百丸。</p>

<h1>三十七、靈砂丹</h1>
<p><u>靈砂丹</u>（《局方》）</p>
<p>治上盛下虛，痰涎壅盛。最能鎮墜虛火，升降陰陽，和五臟，助真元。</p>
<p>水銀（四兩）　硫黃（一兩）</p>
<p>上二味新銚內炒成砂子，入水火鼎煅煉為末，糯米糊丸如麻子大，每服三丸，空心棗湯、米湯、井花水、人參湯任下，量病輕重，可增至五、七丸。忌豬、羊血、綠豆粉、冷滑之物。</p>
<p>又法：入煬，盛罐內，赤石脂封口，鹽泥固濟，三足釘釘打火盞內，置水勿令乾，候三炷香足為度。</p>

<h1>三十八、二氣丹</h1>
<p><u>二氣丹</u></p>
<p>治伏暑傷冷，二氣交錯，中脘痞結，或瀉或吐。</p>
<p>硝石　硫黃（等分）</p>
<p>上為細末，銀、石器內炒黃色，再研細，糯米糊丸梧子大，每服五、七丸，新汲井花水下，不應更服。</p>

<h1>三十九、玉真丸</h1>
<p><u>玉真丸</u></p>
<p>治腎厥頭痛，四肢逆冷。</p>
<p>硝石、硫黃（二味同制，如二氣丹）　石膏（生）　半夏（湯泡七次，等分）</p>
<p>為末，薑汁和神麯丸，食後薑湯下二三十丸。虛寒甚者，加鍾乳粉。</p>

<h1>四十、半硫丸</h1>
<p><u>半硫丸</u>（《局方》）</p>
<p>治高年冷秘、虛秘及痃癖冷氣。</p>
<p>硫黃（醋煅，柳木槌碎，研）　半夏（湯泡，曬乾為末）</p>
<p>上二味等分，用生薑自然汁調，蒸餅糊，杵數百下，丸如梧子大，每服十五丸至二十丸，空心無灰酒或生薑湯任下，婦人醋湯下。</p>

<h1>四十一、養正丹</h1>
<p><u>養正丹</u>（《局方》）</p>
<p>治上盛下虛，氣不升降，元陽虧損，氣短身羸；及中風痰盛涎潮，不省人事；傷寒陰盛，自汗唇青；婦人血海久冷。</p>
<p>水銀　硃砂（水飛，各一兩，淨）　硫黃（研，一兩）　黑錫（與水銀結成砂子，一兩）</p>
<p>用鐵銚熔化黑錫，入水銀，將柳木槌攪，次下硃砂，攪，令不見星子，下少時，方入硫黃末，急攪成汁，和勻。如有焰，以醋灑之。候冷，取出研細，煮糯米糊丸綠豆大，每服十五丸至三十丸，鹽湯或棗湯、人參湯任下，或丸如芡實，囫圇服一丸，得眠勿驚覺。</p>

<h1>四十二、來復丹</h1>
<p><u>來復丹</u>（《局方》）</p>
<p>治上盛下虛，裡寒外熱，及伏暑泄瀉如水。</p>
<p>硫黃（同硝石為末，銀、石器內漫火炒，柳木槌攪。不可猛火，以傷藥力）　硝石　太陰玄精石（水飛）　青皮（去瓤）　陳皮（去白，各一兩）　五靈脂（酒飛，去砂石，澄定曬乾，二兩）</p>
<p>為末，古法以醋和丸，米飲下。因醋易黴壞，今改用米飲糊丸如梧子大，每服三十九，空心醋湯下。</p>

<h1>四十三、黑錫丹</h1>
<p><u>黑錫丹</u>（《局方》）</p>
<p>治真元虧憊，陽氣不固，陰氣逆沖，三焦不和，冷氣刺痛，腰背沉重，男子精冷滑泄，婦人白帶清冷，及陰證陰毒，四肢厥冷，不省人事，急吞百丸，即便回陽。大能升降陰陽，墜痰定喘。</p>
<p>沉香　附子（炮）　葫蘆巴（酒浸，炒）　陽起石（煅飛）　補骨脂　舶上茴香　肉豆蔻（煅）　金鈴子（酒蒸，去皮、核）　木香（各一兩）　肉桂（半兩）　黑錫（熔，去渣）　硫黃（各二兩）</p>
<p>上用黑錫入鐵銚內熔化，入硫黃，如常法制，結成砂子，地上出火毒，研令極細，余藥並細末和勻，自朝至暮研至黑光色為度，酒麴糊丸如梧子大，陰乾，藏鉛罐內。每服四、五十丸，空心鹽湯或棗湯、薑湯任下，婦人艾湯下，急症可投百丸。</p>

<h1>四十四、三和丹</h1>
<p><u>三和丹</u></p>
<p>治一切陰寒，諸藥不效者。</p>
<p>養正丹十丸、來復丹二十丸、黑錫丹三十丸，鹽湯、棗湯、薑湯、人參湯任下。</p>
