<header data-type="book">
<h1>醫宗金鑑·刺灸心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
<pre data-sec="p">
主題：九鍼原始歌
條文：
九鍼因何而有名，原於天地大數生，始於一而終於九，天地人時音律星，
風野九九八十一，鍼應其數起黃鐘，皮肉筋脈聲陰陽，齒氣九竅關節通。
註：[1]『靈樞、九鍼篇』帝曰：九鍼焉生，何因有名。
　　[2]歧伯曰：天地之大數也，始於一終於九。一法天，二法地，三法人，
　　   四法時，五法音，六法律，七法星，八法風，九法野。
　　[3]九鍼者，聖人起天地之數，始於一而終於九，九而九之， 
　　   九九八十一，以起黃鐘之數，鍼之數應之，而人之身形亦應之。
　　[4]皮應天，肉應地，血脈應人，筋應時，聲應音，陰陽應律， 
　　   齒面目應星，氣應風，九竅三百六十五絡應九野，此天人相通之道也。
　　[5]故一鍼皮，二鍼肉，三鍼脈，四鍼筋，五鍼骨，六鍼調陰陽，七鍼益精，
　　   八鍼除風，九鍼通九竅，除三百六十五節氣，各有所主。
</pre>
<pre data-sec="p">
主題：鑱鍼主治法歌
條文：
鑱鍼即今箭頭鍼，主刺皮膚邪肉侵，毋令深入瀉陽氣，邪正相安榮衛均。
註：一曰：鑱鍼式圖
　　[1] 經之一曰：鑱鍼者，取法於巾鍼，去末寸半，卒銳之長一寸六分。
　　[2]鑱者，銳也；卒者，尾也。
　　[3]謂此鍼長一寸六分，上去末寸半，下祇留一寸之鋒， 
　　   欲淺刺不令深入也。
　　[4]鑱鍼即今箭頭鍼也，主刺邪熱病在頭身皮膚之證。
　　[5]毋令深入，深則有傷陽氣。
　　[6]故必分許淺淺刺之，使邪去而正不傷，榮衛得和，則病除矣。
</pre>
<pre data-sec="p">
主題：員鍼主治法歌
條文：
員鍼取法於絮鍼，主治邪氣侵肉分，筩身卵鋒不傷正，利導分肉邪自平。
註：二曰：員鍼式圖
　　[1]經之二曰：員鍼者，取法於絮鍼，筩其身而卵其鋒，長一寸六分。
　　[2]筩身卵鋒者，謂身直如作筩，末鋒員如卵銳也。
　　[3]員鍼即絮鍼也，主治邪氣在分肉之間，蓋筩身卵鋒，利導分肉， 
　　   能使邪氣行而不傷於肌肉之正氣也。
</pre>
<pre data-sec="p">
主題：鍉鍼主治法歌
條文：
鍉鍼之銳如黍粟，恐其深入傷肌肉，按脈勿陷以致氣，刺之邪氣使獨出。
註：三曰：鍉鍼式圖
　　[1]經之三曰：鍉鍼者，取法於黍粟之銳，長三寸半。
　　[2]黍粟之銳者，員而微尖，利於用補者也。
　　[3]鍉鍼之鋒，如黍粟之銳，主治邪在脈中。
　　[4]不欲深入，祇按脈以候氣至，刺脈中之邪氣，若使獨出也。
　　[5]深按陷至肌肉，邪風雖出，而肌肉之正氣必傷矣。
</pre>
<pre data-sec="p">
主題：鋒鍼主治法歌
條文：
鋒鍼即今三棱名，主刺瘤邪時氣壅，發於經絡痼不解，瀉熱出血榮衛通。
註：四曰：鋒鍼式圖
　　[1]經之四曰：鋒鍼者，取法於絮鍼，刃三隅，長一寸六分， 
　　   其上去八分，下留八分。
　　[2]刃三隅者，蓋直壯而銳，可以瀉熱出血也。
　　[3]鋒鍼即今三棱鍼，主刺時氣溫熱瘤邪也。
　　[4]凡發於經絡中壅痼不解之病，用三稜鍼之鋒利，以瀉熱出血， 
　　   使經絡開通，榮衛調和，而壅痼之疾癒矣。
</pre>
<pre data-sec="p">
主題：鈹鍼主治法歌
條文：
鈹鍼之鋒末如劍，主刺寒熱兩相搏，合而為癰膿已成，大膿一瀉即時和。
註：五曰：鈹鍼式圖
　　[1]經之五曰：鈹鍼者，取法於劍鋒者，廣二分半，長四寸。
　　[2]其必廣二分半長四寸如劍鋒者，取其能開通也。
　　[3]鈹鍼之鋒如劍者，主刺寒熱相搏，或邪氣鬱於榮衛，凝滯不通， 
　　   發為癰疽，其膿已成，用此開之，以取大膿。
　　[4]大膿瀉則陰陽和，而癰熱癒矣。
</pre>
<pre data-sec="p">
主題：員利鍼主治法歌
條文：
員利形尖如氂，主治虛邪客於經，暴痹走注歷節病，刺之經絡即時痛。
註：六曰：員利鍼式圖
　　[1]經之六曰：員利鍼者，取法於氂鍼，微大其末，反小其身， 
　　   長一寸六分。
　　[2]其取法於氂者，以毛之強者曰氂，用其細健可稍深也。
　　[3]員利鍼，尖其形如氂，員而且銳， 
　　   主治虛邪客於經絡而為暴痺與走注歷節疼痛等病。
　　[4]以此刺之則經絡流通，而虛邪自去矣。
</pre>
<pre data-sec="p">
主題：毫鍼主治法歌
條文：
毫鍼主治虛痺纏，養正除邪在徐緩，寒熱痛痺浮淺疾，靜入徐出邪正安。
註：七曰：毫鍼式圖
　　[1]經之七曰：毫鍼者，尖如蚊蝱喙，取法於毫毛，長一寸六分。
　　[2]其必尖如蚊蝱喙者，取其微細徐緩也。
　　[3]毫鍼者，因取法於毫毛，故名之也。
　　[4]主刺邪客經絡，而為痛痺邪氣輕淺者也。
　　[5]凡正氣不足之人，用此鍼刺之，靜以徐往，漸散其邪，微以久留， 
　　   緩養正氣，則寒邪病痺浮淺之在絡者，皆可平也。
</pre>
<pre data-sec="p">
主題：長鍼主治法歌
條文：
長鍼主治虛邪陽，內捨骨解節腠殃，欲取深邪除遠痺，刺法得宜始可康。
註：八曰：長鍼式圖
　　[1]經之八曰：長鍼者，取法於綦鍼，長七寸。
　　[2]為其可以取深邪遠痺也。
　　[3]長鍼即今環跳鍼也，主虛邪深入，內捨於骨，解腰脊節腠之間。
　　[4]凡欲取深遠疼痛之邪，必得身長末鋒之鍼，如法以刺之， 
　　   方能使深邪出，遠痺解，而得安康也。
</pre>
<pre data-sec="p">
主題：大鍼主治法歌
條文：
大鍼主刺周身病，淫邪溢於肌體中，為風為水關節痺，關節一利大氣通。
按：此九鍼，皆本於『靈樞經』中大小、長短之法，無有異也。
　　但細玩經中九鍼之用，凡所取者，皆言有餘之實邪， 
　　則鍼之不宜於治虛也，從可知矣。
註：九曰：大鍼式圖
　　[1]經之九曰：大鍼者，取法於鋒鍼，其鋒微員，長四寸。
　　[2]尖形如挺，粗而且巨，可以瀉通機關也。
　　[3]大鍼者，即古人之燔鍼也。
　　[4]凡周身淫邪，或風或水，溢於肌體，留而不能過於關節， 
　　   壅滯為病者，以此刺之，使關節利，大氣通，則淫邪壅於經絡， 
　　   風虛腫毒傷於肌體者，皆可去也。
</pre>
<pre data-sec="p">
主題：行鍼次第手法歌
條文：
行鍼手法口訣多，撮要編為十二歌，取穴持溫進指攝，退搓捻留搖拔合。
註：[1]十二字分次第手法歌訣，始自三衢楊繼洲。
　　[2]後之諸家，口訣雖多，皆不免於繁雜。
　　[3]今撮其要，仍編為十二歌訣，庶簡明切當，便於後學。
</pre>
<pre data-sec="p">
主題：一、取穴歌
條文：取穴先將爪切深，須教毌外慕其心，令彼榮衛無傷礙，醫者方堪入妙鍼。
註：[1]凡下鍼，用左手大指爪甲，重切所鍼之穴，令氣血開， 
　　   教病者心專於內，不要外馳，然後下鍼，使鍼不傷榮衛，方堪入妙也。
</pre>
<pre data-sec="p">
主題：二、持鍼歌
條文：持鍼之士要心雄，手如握虎莫放鬆，欲識機關三部奧，須將此理再推窮。
註：[1]凡下鍼之士，須心小力雄，以右手持鍼於穴上，勢若握虎，不敢放鬆，
　　   著力旋插，直至應止之處，吸氣三口，然後提鍼，徐徐而用。
　　[2]凡機關三才奧理，欲識於心而行於鍼者，須將此再三推窮可也。
</pre>
<pre data-sec="p">
主題：三、溫鍼歌
條文：
溫鍼之理最為良，口內溫和審穴方，母令冷熱相爭搏，榮衛宣通始安祥。
註：[1]凡下鍼，必先將所用之鍼，入於口中，使之溫熱，審定穴所， 
　　   方可與刺。
　　[2]勿令冷熱相爭，庶血氣調和，而得安祥也。
</pre>
<pre data-sec="p">
主題：四、進鍼歌
條文：
進鍼理法取關機，失經失穴最不宜，陽經取陷陰經脈，三思已定鍼之癒。
註：[1]凡下鍼，要病人神氣定，息數勻，醫者亦如之，關機最密， 
　　   切勿太忙，須細審經絡穴所在何部分，不可輕施其鍼，
失於經絡穴所也。
　　[2]如在陽部，必取筋骨間陷下之處，則不傷於筋骨； 
　　   如在陰分郄膕之內動脈相應間，則以爪重切經絡， 
　　   少待片時，方可進鍼，而不傷於榮衛。
　　[3]又必三思已定，然後下鍼，病可癒矣。
</pre>
<pre data-sec="p">
主題：五、指循歌
條文：
部分經絡要指循，只為鍼頭不緊沉，推則行之引則止，調和血氣使來臨。
註：[1]凡下鍼，若氣不至，用指於所屬部分經絡之路， 
　　   上下、左右推而行之，引而止之，往來循之，使氣血上下均勻， 
　　   鍼下自然氣至沉緊，得氣即瀉之意也。
</pre>
<pre data-sec="p">
主題：六、攝法歌
條文：
攝法原因氣滯經，大指爪甲切莫輕，以指攝鍼待氣至，邪氣流行鍼自輕。
註：[1]凡攝鍼者，因鍼下邪氣滯濇不行也，隨經絡上下，用大指爪甲重切之，
　　   使正氣流行，則邪氣不能滯濇，而鍼下自覺活動矣。
</pre>
<pre data-sec="p">
主題：七、退鍼歌
條文：
退鍼手法理要和，三才訣內總玄機，一部六數三吸氣，須臾疾病自然癒。
註：[1]凡退鍼，全在手法，三才之內，皆有要訣元機，不可不知。
　　[2]如欲退鍼，必須緩緩而出，自地部退至人部，再漸退至天部， 
　　   俱用少陰之六數瀉之，每一部六數，須要少停，三部共行三六一十八數， 
　　   令病人吸氣三口，隨吸隨提，徐徐退至天部，其疾病自然除矣。
</pre>
<pre data-sec="p">
主題：八、搓鍼歌
條文：
搓鍼瀉氣最為奇，氣至鍼纏莫就移，渾如搓線攸攸轉，急則纏鍼肉不離。
註：[1]搓鍼者，凡進、退、搓、捻，皆催其氣以至瀉邪氣也， 
　　   如覺鍼下氣緊，切勿就移，須用瀉法，但微微動轉，如搓線之狀， 
　　   若轉之太緊，必至肉纏鍼頭，邪氣滯濇，而不能除矣。
</pre>
<pre data-sec="p">
主題：九、捻鍼歌
條文：
捻鍼指法不相同，一般在手兩般功，內外轉移行上下，助正伏邪疾自輕。
註：[1]凡捻鍼時，雖一般在手，而指法不同，故功有兩般也。
　　[2]如欲治上，則大指向外捻，外捻者令其氣向上也；如欲治下，則大指
　　   向內捻，內捻者令其氣至下也。
　　[3]內捻為之補，外捻為之瀉。
　　[4]如經絡向下者，轉鍼頭逆之則為迎也；經絡向上者，移鍼頭順之則為
　　   隨也。
　　[5]指法得宜，則正氣自復，而邪氣自退矣。
</pre>
<pre data-sec="p">
主題：十、留鍼歌
條文：
留鍼取氣候沉浮，出入徐徐必逗留，能令榮衛縱橫散，巧妙元機在指頭。
註：[1]留鍼者，凡出鍼至於天部，入鍼至於地區，須在皮膚肌肉間徐徐容留，
　　   令榮衛宣散方可出鍼入鍼。
　　[2]若出鍼太急，則血隨鍼出，反傷榮衛，其巧妙元機，全在指頭也。
</pre>
<pre data-sec="p">
主題：十一、搖鍼歌
條文：
搖鍼三部皆六搖，依次推排在指梢，孔穴大開無窒礙，邪氣退除病自消。
註：[1]搖鍼者，如出鍼三部欲瀉之際，每一部搖二、三搖， 
　　   多者不過六搖而已。
　　[2]以指捻鍼，如扶人頭搖之之狀，使孔穴開大，無有窒礙， 
　　   庶邪氣退除而病癒矣。
</pre>
<pre data-sec="p">
主題：十二、拔鍼歌
條文：
拔鍼之時切勿忙，閉門存神要精詳，不沉不緊求鍼尾，此訣須當韞錦囊。
註：[1]凡鍼畢拔鍼，最要精詳，不可輕率忙亂也。
　　[2]如欲出鍼，須待鍼下氣緩，不沉不緊，覺輕功滑快， 
　　   方以右指捻住鍼尾，以左手大指按其鍼穴，及穴外之皮， 
　　   令鍼穴門戶不開，神氣內存，然後拔鍼，庶不至於出血。
　　[3]此鍼家要訣，須當韞於錦囊也。
</pre>
<pre data-sec="p">
主題：行鍼分寸法歌
條文：
行鍼分寸中指傳，屈指中節兩紋尖，男左女右童稚一，長短肥瘦審經權。
註：[1]行鍼取分寸法，以同身寸法為準，男左手，女右手，以中指第二節，
　　   屈指兩紋尖，相去為一寸，童稚亦如之。
　　[2]雖人身有長短，體有肥瘦，入鍼之分數不一，而身形之長者， 
　　   其指節亦長，身形短者，其指節亦短，
但隨其長短，以取分寸，則自準矣。
　　[3]肥人肌肉肥厚，血氣充滿，宜刺三分半；瘦人肌肉瘦薄，血氣末盛，
　　   宜刺二分。
　　[4]然雖如此，猶當有經有權，不可執一而論，如遇不肥不瘦之人， 
　　   祗在二、三分之間，酌量取之可也（圖一）。
</pre>
<pre data-sec="p">
主題：十二經井滎俞經合原刺淺深歌
條文：
出井流滎注為俞，行經入合臟俞原，春宜鍼滎夏鍼俞，秋宜鍼合冬井間，
臟病鍼俞府病合，臟腑有病皆鍼原。凡諸井穴肌肉淺，不宜深鍼自古傳。
註：[1]井、滎、俞、經、合、原，十二經穴名也。
　　[2]手足陽經有原穴，手足陰經無原穴，陰之俞穴，即陰之原穴也。
　　[3]所出為井，井者如水之出也；所流為滎，滎者如水之流也； 
　　   所注為俞，俞者如水之注也；所行為經，經者如水之行也； 
　　   所入為合，合者如水之會也；原者如水之源也。
　　[4]夫春鍼滎者，取絡脈在分肉間，刺之淺者也； 
　　   夏鍼俞者，取孫絡在肌肉皮膚之上也； 
　　   秋鍼合者，亦取絡脈在分肉間，故如春時之所刺； 
　　   冬鍼井者，取絡脈孫絡之下，比他時所刺，則深而留之，
以冬氣入臟故也。
　　[5]經原之原，手足陰陽之經。
　　[6]諸病皆宜刺入，但所刺有深有淺，不能枚舉，此四時鍼刺之大旨， 
　　   自古相傳者也。
</pre>
<pre data-sec="p">
主題：五臟井滎俞經合歌
條文：
太陰肺脈井少商，魚際之穴號滎鄉，太淵一穴名為俞，經渠經合尺澤當。
太陰脾井隱白穴，流於大都滎來接，太白為俞經商丘，陰陵泉與合為穴。
少陰心脈井少衝，尋至少腑即名滎，神門一穴為俞穴，經合靈道少海真。
少陰腎脈井湧泉，然谷為滎本天然，太谿為俞經復溜，陰谷為合踝前旋。
厥陰心包井中衝，掌中勞宮即為滎，大陵穴取名為俞，間使經合曲澤終。
厥陰肝脈井大敦，行間之穴便為滎，太衝之處為俞穴，經合中封曲泉名。
</pre>
<pre data-sec="p">
主題：六腑井滎俞原經合歌
條文：
陽明大腸井商陽，二間為滎俞三間，合谷原經陽谿取，曲池為合正相當。
陽明胃脈井厲兌，內庭為滎須要會，陷谷名俞衝陽原，經合解谿三里位。
太陽小腸井少澤，流於前谷為滎穴，後谿為俞原腕谷，經合陽谷小海歇。
太陽膀胱井至陰，通谷為滎亦穴名，束骨為俞原京骨，昆侖為經合委中。
少陽三焦井關衝，尋至液門號為滎，俞元中渚陽池取，經合支溝天井中。
少陽膽脈井竅陰，俠谿為滎是穴名，俞原臨泣丘墟穴，經歸陽輔合陽陵。
</pre>
<pre data-sec="p">
主題：十二經表裏原絡總歌
條文：
臟腑有病均宜刺，原絡表裏相隨看，肺原太淵大偏歷，大腸合谷列缺端，
脾原太白胃豐隆，胃脾衝陽公孫間，心原神門小支正，小心腕骨通里邊，
腎原太谿傍飛陽，膀腎京骨大鍾班，三焦陽池包內關，包原大陸焦外關，
膽原丘墟肝蠡溝，肝膽太衝光明閑。
註：[1]凡臟腑有病，均可以刺以，即『難經』云：五臟六腑有病， 
　　   皆取其原者是也。
　　[2]蓋各經有所主之病，必隨其各經表裏，先主後客並刺之。
　　[3]主者原穴也，客者絡穴也。
　　[4]如手太陰肺經病，可刺本經表之原穴，即太淵穴也，
復刺大腸表之絡穴，即偏歷穴也；
手陽明大腸經病，可刺本經表之原穴，即合谷穴也，
　　  復刺肺經裏之絡穴，即列缺穴也；
足太陰脾經病，可刺本經裏之原穴，即太白穴也，
復刺胃經表之絡穴，即豐隆穴也；
足陽明胃經病，可刺本經表之原穴，即衝陽穴也，
復刺脾經裏之絡穴，即公孫穴也；
手少陰心經病，可刺本經裏之原穴，即神門穴也，
復刺小腸經表之絡穴，即支正穴也，
手太陽小腸經病，可刺本經表之原穴，即腕骨穴也，
復刺心經裏之絡穴，即通里穴也；
足少陰腎經病，可刺本經裏之原穴，即太谿穴也，
復刺膀胱經表之絡穴，即飛揚穴也；
足太陽膀胱經病，可刺本經表之原穴，即京骨穴也，
復刺腎經裏之絡穴，即大鍾穴也；
手少陽三焦經病，可刺本經表之原穴，即陽池穴也，
復刺心包絡經表之絡穴，即內關穴也；
手厥陰心包絡經病，可刺本經裏之原穴，即大陵穴也，
復刺三焦經表之絡穴，即外關穴也；
足少陽膽經病，可刺本經表之原穴，即丘墟穴也，
復刺肝經裏之絡穴，即蠡溝穴也；
足厥陰肝經病，可刺本經裏之原穴，即太衝穴也，
復刺膽經表之絡穴，即光明穴也。
　　[5]此十二經主病之原穴為主，絡穴為客，隨表隨裏之刺法也。
</pre>
<pre data-sec="p">
主題：肺經表裏原絡穴主治歌
條文：
肺經原絡應刺病，胸脹溏瀉小便頻，灑翕寒熱咳喘短，木痛皮膚肩缺盆。
註：[1]肺經裏之穴原太淵，大腸表之絡穴偏歷，二穴應刺之證即： 
　　   胸脹、溏瀉、小便頻數，灑灑惡寒，翕翕發熱，咳嗽，喘促，短氣， 
　　   皮膚，肩背，缺背，缺盆麻木疼痛，皆肺、大腸經病也（圖二）。
</pre>
<pre data-sec="p">
主題：大腸經表裏原絡穴主治歌
條文：
大腸原絡應刺病，大（大指）次（次指）不用肩臂疼，氣滿皮膚木不仁，
面頰顋腫耳聾鳴。
註：[1]大腸表之原穴合谷，肺經裏之絡穴列缺，二穴應刺之證即： 
　　   手之大指次指不用，肩臂疼痛，皮膚麻木不仁，面頰顋腫， 
　　   耳鳴，耳聾，皆大腸、肺經病也（圖三）。
</pre>
<pre data-sec="p">
主題：脾經表裏原絡穴主治歌
條文：
脾經原絡應刺病，重倦面黃舌強疼，腹滿時痛吐或瀉，善饑不食脾病明。
註：[1]脾經裏之原穴太白，胃經表之絡穴豐隆，二穴應刺之證即： 
　　   身重，倦怠，面黃，舌強而疼，腹滿時時作痛，或吐、或瀉， 
　　   善飢而不欲食，皆脾胃經病也（圖四）。
</pre>
<pre data-sec="p">
主題：胃經表裏原絡穴主治歌
條文：
胃經原絡應刺病，項膺股胻足跗疼，狂妄高歌衣走，惡聞煙火木音驚。
註：[1]胃經表之原穴衝陽，脾經裏之絡穴公孫，二穴應刺之證即： 
　　   項、頸、胸、膺、胯、股、脛、胻、足跗疼痛，發狂妄言， 
　　   高歌棄衣而走，惡煙火，聞木音即驚，皆胃、脾經病也（圖五）。
</pre>
<pre data-sec="p">
主題：心經表裏原絡穴主治歌
條文：
心經絡應刺病，消渴背腹引腰疼，眩仆咳吐下泄氣，熱煩好笑善忘驚。
註：[1]心經裏之原穴神門，小腸表之絡穴支正，二穴應刺之證：飲水即消，
　　   背腹引腰作痛，眩暈仆倒，上咳吐，下泄氣，熱而心煩，好笑善忘，
　　   多驚，皆心與小腸經病也（圖六）
</pre>
<pre data-sec="p">
主題：小腸經表裏原絡穴主治歌
條文：
小腸原絡應刺病，顴頷耳腫苦寒熱，肩臑肘臂內外廉，痛不能轉腰似折。
註：[1]小腸表之原穴腕骨，心經裏之絡穴通里，二穴應刺之證即： 
　　   顴頷耳腫，苦寒熱，肩、臑、肘、臂內外側痛，不能轉動， 
　　   腰痛似折，皆小腸，心經病也（圖七）。
</pre>
<pre data-sec="p">
主題：腎經表裏原絡穴主治歌
條文：
腎經原絡應刺病，大小腹痛大便難，臍下氣逆脊背痛，唾血渴熱兩足寒。
註：[1]腎經裏之原穴太谿，膀胱表之絡穴飛揚，二穴應刺之證即： 
　　   大腹少腹脊背疼痛，大便結燥，臍下氣逆上衝，口渴吐血， 
　　   兩足寒冷，皆腎、膀胱經病也（見圖八）。
</pre>
<pre data-sec="p">
主題：膀胱經表裏原絡穴主治歌
條文：
膀胱原絡應刺病，目脫激出頭項疼，臍突大小腹脹痛，按之尿難溲血膿。
註：[1]膀胱表之原穴京骨，腎經裏之絡穴大鍾，二穴應刺之證即： 
　　   目胞脫陷淚出，頭項疼痛，臍突大腹少腹脹痛，按之其尿難出， 
　　   而溲血膿，皆膀胱，腎經病也（圖九）。
</pre>
<pre data-sec="p">
主題：三焦經表裏原絡穴主治歌
條文：
三焦原絡應刺病，小指次指如廢同，目眥耳後喉腫痛，自汗肩臑內外疼。
註：[1]三焦表之原穴陽池，心包裏之絡穴內關，二穴應刺之證即： 
　　   手之小指次指如廢而不能用，目眥、耳後、咽喉腫痛，自汗， 
　　   肩臑內外側疼，皆三焦、包絡經病也（見圖一〇）。
</pre>
<pre data-sec="p">
主題：心包絡經表裏原絡穴主治歌
條文：
心包原絡應刺病，面紅目赤笑不休，心中動熱掌中熱，胸腋臂手痛中求。
註：[1]心包裏之原穴大陵，三焦表之絡穴外關，二穴應刺之證即： 
　　   面紅目赤，好笑不休，心中動悸，內熱，手心熱，胸腋與臂手疼痛， 
　　   皆心包絡、三焦經病也（圖十一）。
</pre>
<pre data-sec="p">
主題：膽經表裏原絡主治歌
條文：
膽經原絡應刺病，口苦胸脅痛不寧，髀膝外踝諸節痛，太息馬刀俠瘤癭。
註：[1]膽經表之原穴丘墟，肝經裏之絡穴蠡溝，二穴應刺之證即： 
　　   口苦，胸、脅、脾、膝、外踝諸節疼痛，太息，馬刀癭瘤， 
　　   皆膽、肝經病也（見圖十二）
</pre>
<pre data-sec="p">
主題：肝經表裏原絡穴主治歌
條文：
肝經原絡應刺病，頭痛頰腫脅疝疼，婦人少腹胞中痛，便難溲淋怒色青。
註：[1]肝經裏之原穴太衝，膽經表之絡穴光明，二穴應刺之證即： 
　　   頭痛，頰腫，脅疝疼痛，婦人少腹胞疼痛，大便難，小便淋， 
　　   好怒色青，皆肝、膽經病也（圖十三）。
</pre>
<pre data-sec="p">
主題：八脈交會八穴歌
條文：公孫衝脈胃心胸，內關陰維下總同，臨泣膽經連帶脈，陽維目銳外關逢，
　　　後谿督脈內眥頸，申脈陽蹻絡亦通，列缺任脈行肺系，陰蹻照海膈喉嚨。
註：[1]公孫二穴，是足太陰脾經穴也，通於衝脈； 
　　   內關二穴，此二穴是手厥陰心包絡穴也。
　　   四穴通於陰維脈。
　　   四經會合循行之處，在胃心胸之間，故主治胃與心、胸之病也。
　　[2]臨泣二穴，是足少陽膽經穴也，通於帶脈； 
　　   外關二穴，此二穴是手少陰三焦經穴也。
　　   四穴通於陽維脈。
　　   四經會合連絡之處，在於目銳眥、耳後、頰、頸、肩之時， 
　　   故主治目銳眥、耳後、頰、頸、肩之病也。
　　[3]後谿二穴，是手太陽小腸經穴也，通於督脈； 
　　   申脈二穴，此二穴是足太陽膀胱經穴也。
　　   四穴通於陽蹻脈。
四經會合別絡之處，
在於目內眥、頸、項、耳、肩、膊、小腸、膀胱之間， 
　　   故主治目內眥、頸、項、耳、肩、膊、小腸、膀胱之病也。
　　[4]列缺二穴，是手太陰肺經穴也，通於任脈； 
　　   照海二穴，此二穴是足少陰腎經穴也，四穴通於陰蹻脈。
　　   四經會合繫絡之處，在於肺系、咽喉、胸膈之間， 
　　   故主治肺系、咽喉、胸膈之病也。
</pre>
<pre data-sec="p">
主題：衝脈公孫穴主治歌
條文：
九種心疼病不寧，結胸翻胃食難停，酒食積聚腸鳴見，水食氣疾膈臍疼，
腹痛脅脹胸膈滿，瘧疾腸風大便紅，胎衣不下血迷心，急刺公孫穴自靈。
註：[1]九種心疼者：曰飲、曰食、曰風、曰冷、曰熱、曰悸、曰蟲、曰注、
　　   曰去來補。
　　[2]結胸者，胸滿硬痛也。
　　[3]翻胃者，朝食暮吐，食難停留也。
　　[4]傷酒，傷食、積滯，腸胃雷鳴，水食，氣疾，膈間臍腹疼痛， 
　　   兩脅作脹，胸膈滿悶，瘧疾腸風，大便下血，以及婦人胞衣不下， 
　　   瘀血上攻迷心，皆宜刺此公孫穴，則立應也（圖十四）。
</pre>
<pre data-sec="p">
主題：陰維內關穴主治歌
條文：
中滿心胸多痞脹，腸鳴泄瀉及脫肛，食難下膈傷於酒，積塊堅硬橫脅旁，
婦女脅疼並心痛，裏急腹痛勢難當，傷寒不解結胸病，瘧疾內關可獨當。
註：[1]中滿心胸痞脹，謂腹滿胸痞脹不通快也。
　　[2]腸鳴泄瀉，謂暴瀉脫肛也。
　　[3]食難下膈傷於酒者，謂嘔吐食不能下，或因酒傷也。
　　[4]積塊堅硬，橫衝於脅，婦女心脅疼痛，裏急脹痛，傷寒結胸硬痛， 
　　   瘧疾，裏實等病，皆刺內關，無不癒矣（圖十五）。
</pre>
<pre data-sec="p">
主題：帶脈臨泣穴主治歌
條文：
中風手足舉動難，麻痛發熱筋拘攣，頭風腫痛連顋項，眼赤而疼合頭眩， 
齒痛耳聾咽腫證，游風搔癢筋牽纏，腿疼脅脹肋肢痛，鍼入臨泣病可痊。
註：[1]中風手足舉動難，謂手足不隨也。
　　[2]若疼痛麻木拘攣，兼發熱者，風熱也。
　　[3]頭風旋暈及腫痛連顋、項、目、牙齒、兩耳、咽喉皆赤腫痛， 
　　   游風搔癢，筋脈牽引，腰、脅、四肢與肋疼痛等證，皆宜刺此臨泣穴， 
　　   立時有奇功也（見圖十六）。
</pre>
<pre data-sec="p">
主題：陽維外關穴主治歌
條文：
肢節腫疼與膝冷，四肢不遂合頭風，背胯內外筋骨痛，頭項眉稜病不寧，
手足熱麻夜盜汗，破傷跟腫目睛紅，傷寒自汗烘烘熱，惟有外關鍼極靈。
註：[1]四肢骨腫痛，兩膝痺冷，手足不遂，偏正頭風，脊背、腰胯、筋骨、
　　   頭項、眉稜疼痛，手足發熱麻木，夜間盜汗，及破傷游風， 
　　   腳跟腫痛，兩眼赤紅，傷寒陽明自汗，蒸熱烘烘，皆宜刺外關穴。
　　   其病立已（圖十七）。
</pre>
<pre data-sec="p">
主題：督脈後谿穴主治歌
條文：
手足拘攣戰掉眩，中風不語並癲癇，頭疼眼腫漣漣淚，背腰腿膝痛綿綿，
項強傷寒病不解，牙齒顋腫喉病難，手足麻木破傷風，盜汗後谿穴先砭。
註：[1]手足拘攣者，屈伸難也。
　　[2]戰掉者，手足顫搖不能握也。
　　[3]眩者，暈也。
　　[4]中風卒然昏仆，不能語言，癲癇不省人事，瘛瘲抽掣， 
　　   頭痛及暴發火眼，熱淚常流，行痺，腿、腿、背、腰周節身疼痛， 
　　   項強，傷寒，感冒，汗不出，不能解，上下牙齒、顋、齦、咽、喉腫疼， 
　　   手足麻木不仁，破傷受風，寢汗等證，
先砭後谿穴，開通脈道，無不癒矣（圖十八）。
</pre>
<pre data-sec="p">
主題：陽蹻申脈穴主治歌
條文：
腰背脊強足踝風，惡風自汗或頭痛，手足麻攣臂間冷，雷頭赤目眉稜痛，
吹乳耳聾鼻?血，癲癎肢節苦煩疼，遍身腫滿汗淋漓，申脈先鍼有奇功。
註：[1]腰背脊強，不能俯仰也。
　　[2]足內踝紅腫，名繞踝風也。
　　[3]足外踝紅腫，名穿踝風也。
　　[4]惡風自汗與雷頭風痛，暴發火眼，眉稜骨痛，手足麻木拘攣，臂冷，
　　   及婦人吹乳，乳房紅腫（未產者名內吹，已產者名外吹也）， 
　　   耳聾鼻衄，癲癇抽搐，肢節煩疼，遍身腫滿，頭汗淋漓等證， 
　　   此皆風熱痰飲，流注攻衝為病，並宜先鍼申脈，立時有功（圖十九）。
</pre>
<pre data-sec="p">
主題：任脈列缺穴主治歌
條文：
痔瘡肛腫泄痢纏，吐紅溺血嗽咳痰，牙疼喉腫小便澀，心胸腹疼噎咽難，
產後發強不能語，腰痛血疾臍腹寒，死胎不上攻膈，列缺一刺病乃痊。
註：[1]內痔肛腫，泄痢赤白，咳痰唾血、溺血，及牙齦咽喉腫痛， 
　　   小便赤澀艱難，心胸腹痛，噎咽不快，產後敗血，上干心氣， 
　　   身發強直，不能言語；或瘀滯至腰痛，臍腹間寒，子死腹中， 
　　   胎衣不下，上攻膈塞，並刺列缺，其證必痊（圖二十）。
</pre>
<pre data-sec="p">
主題：陰蹻照海穴主治歌
條文：
喉閉淋澀與胸腫，膀胱氣痛並腸鳴，食黃酒積臍腹痛，嘔瀉胃翻及乳癰，
便燥難產血昏迷，積塊腸風下便紅，膈中不快梅核氣，格主照海鍼有靈。
註：[1]上焦火盛，咽喉閉塞不通，下焦熱結，膀胱氣痛，小便淋澀， 
　　   胸中腫痛；或食積酒積，內蓄傷脾，發黃；或臍腹痛； 
　　   或嘔瀉，胃翻吐食，乳癰，大便燥結，及婦人生產艱難， 
　　   瘀血塊痛，昏迷，腸風下血不已；或隔中之氣，怏怏不快， 
　　   如梅核氣格塞咽喉之間，咯之不出，咽之不下等疾，
急刺照海穴，則諸證自散（圖二十一）。
</pre>
<pre data-sec="p">
主題：手足十二經所屬歌
條文：
五臟六腑共包絡，手足所屬三陰陽，太陰足脾手肺臟，陽明足胃手大腸，
少陰足腎手心臟，太陽足膀手小腸，厥陰足肝手包絡，少陰足膽手焦當。
註：[1]五臟：心、肝、脾、肺、腎，六腑：膽、胃、大腸、小腸、膀胱、
　　   三焦，共包絡分屬手足三陰三陽，為十二經也。
　　[2]如肺手太陰，心手少陰，心包絡手厥陰，手之三陰也；手太陽小腸，
　　   手陽明大腸，手少陽三焦，手之三陽也；足太陽膀胱，足陽明胃， 
　　   足少陽膽，足之三陽也；足太陰脾，足少陰腎，足厥陰肝， 
　　   足之三陰也。
</pre>
<pre data-sec="p">
主題：天干十二經表裏歌
條文：
甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚屬大腸辛屬肺，壬屬膀胱癸腎臟，
三焦陽腑須歸丙，包絡從陰丁火旁，陽干為表陰干裏，臟腑表裏配陰陽。
按：
舊云：三焦亦向壬中寄，包絡同歸八癸方。
夫三焦為決瀆之官，猶可言壬，而包絡附於心主，烏可云癸？
況二臟表裏，皆相火也，故改正之。　　
註：[1]甲、丙、戊、庚、壬陽干也，乙、丁、己、辛、癸陰干也。
　　[2]陽干為表為腑，陰干為裏為臟，故曰：臟腑表裏配陰陽也。
</pre>
<pre data-sec="p">
主題：地支十二經流注歌
條文：
每日寅時從肺起，卯時入大腸經，辰胃已脾午心火，未時應注小腸經， 
申屬膀胱酉屬腎，戍走包絡亥焦宮，子膽丑肝寅又肺，十二經脈周環行。
註：[1]人有十二經，晝夜有十二時，每一經主一時。
　　[2]先從寅時入肺起，卯入於大腸，辰入於胃，已入於脾，午入於心， 
　　   未入於小腸，申入於膀胱，酉入於腎，戌入於包絡，亥入於三焦， 
　　   子入於膽，丑入於肝，至於寅時，則又從肺起，此十二經與十二時， 
　　   相循環而行者也。
</pre>
<pre data-sec="p">
主題：十二經相傳次序歌
條文：
肺大胃脾心小腸，膀腎包焦膽肝續，手陰臟手陽手頭，足陰足腹陽頭足。
註：[1]人身正脈，十有二經，每於平旦寅時，營氣始於中焦， 
　　   上注於手太陰肺經，自胸中而出於中府，至於少商， 
　　   以次行於手陽明大腸等十二經，終於足厥陰肝經，
而復始於太陰肺經也。
　　[2]凡手之三陰，從臟走手；手之三陽，從手走頭； 
　　   足之三陰，從足走腹；足之三陽，從頭走足。
　　[3]周流不息，循環無端也。
</pre>
<pre data-sec="p">
主題：十二經起止歌
條文：
肺起中府止少商，大腸商陽止迎香，胃起承泣終厲兌，脾起隱白大包鄉。
心起極泉少衝止，小腸少澤止聽宮，膀胱睛明止至陰，腎起湧泉俞腑終，
包絡天池中衝止，三焦關衝止竹空，膽瞳子髎止竅陰，肝起大敦止期門。
</pre>
<pre data-sec="p">
主題：十二經穴周流歌
條文：
中府為初注少商，少商別絡注商陽，商陽復向迎香走，香接頭維至庫房，
維下降兮趨厲兌，兌傳隱白至胸鄉，隱白上升達大包，大包仍續極泉場，
泉貫少衝心部井，少澤相連即小腸，澤會聽宮睛明分，睛明下造至陰強， 
至陰斜出湧泉底，泉穴還歸腧腑臟，腧腑天池橫絡截，池出中衝心主張， 
中衝並與關衝合，關衝宛轉絲竹傍，絲竹更貫朣窌穴，瞳窌下入竅陰方， 
竅陰橫亙大敦井，敦上期門肝脈當，期門厲遍還中府，經絡周流仔細詳。
</pre>
<pre data-sec="p">
主題：十二經氣血多少歌
條文：
多氣多血惟陽明，少氣太陽厥陰同，二少太陰常少血，六經氣血要分明。
註：[1]手陽明大腸、足陽明胃，此二經多氣多血之經也； 
　　   三焦、膽、腎、心、脾、肺，六經多氣少血也； 
　　   心包絡、膀胱、小腸、肝，此四經乃多血少氣也。
</pre>
<pre data-sec="p">
主題：周身名位骨度 
條文：頭
註：[1]頭者，人之首也。凡物獨出之首，皆名曰頭。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：腦
註：[1]頭者，頭骨之髓也。俗名腦子
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：顛
註：[1]顛者，頭頂也。顛頂之骨，俗名天靈蓋。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：囟
註：[1]囟者，顛前之頭骨也。身兒初生未闔名曰囟門，已闔名曰囟骨， 
　　   即天靈蓋後合之骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：面
註：[1]凡前曰面，凡後曰背，居頭之前，故曰面也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：顏
註：[1]顏者，眉目間名也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：額顱
註：[1]前額髮際之下，兩眉之上，名曰額。一曰顙者，亦額之謂也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頭角
註：[1]額兩旁稜處之骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：鬢骨
註：[1]即兩太陽之骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目
註：[1]目者，司視之竅也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目胞
註：[1]目胞者，一名目窠，一名目裹，即上下兩目外衛之胞也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目綱
註：[1]目綱者，即上、下目胞之兩瞼邊，又名曰睫，司目之開闔也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目內眥
註：[1]目內眥者，乃近鼻之內眼角，以其大而圓，故又名大眥也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目外眥
註：[1]目外眥者，乃近鬢前之眼角也。以其小而尖，故稱目銳眥也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目珠
註：[1]目珠者，目睛之俗名也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目系
註：[1]目系者，目睛入腦之系也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：目眶骨
註：[1]目眶者，目窠四圍之骨也。上曰眉稜骨，下即䪼骨， 
　　   䪼骨之外即顴骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：䪼
註：[1]目下之眶骨，顴骨內下連上牙床者也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頞
註：[1]頞者，鼻梁即山根也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：鼻
註：[1]鼻者，司臭之竅也。兩孔之界骨，名曰鼻柱； 
　　   下至鼻之盡處，名曰準頭。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頄
註：[1]頄者，䪼內鼻旁間，近生門牙之骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：顴
註：[1]顴者，面兩旁之高起大骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：顑
註：[1]顑者。俗呼為腮，口旁頰前肉之空軟處也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：耳
註：[1]耳者，司聽之竅也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：蔽
註：[1]蔽者，耳門也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：耳郭
註：[1]耳郭者，耳輪也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頰
註：[1]頰，耳前顴側面兩旁之稱也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：曲頰
註：[1]曲頰者，頰之骨也。曲如環形，受頰車骨尾之　者也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頰車
註：[1]頰車者，下牙床骨也。總載諸齒，能咀食物，故名頰車。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：人中
註：[1]人中者，鼻柱之下，唇之上，穴名水溝。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：口
註：[1]口者，司言食之竅也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：唇
註： [1]唇者，口端也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：吻
註：[1]吻者，口之四周也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頤
註：[1]頤者，口角後顑之下也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頦
註：[1]頦者，口之 下唇至未之處，俗名下把殼也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頷
註：[1]頷者，頦下結喉上，兩側肉之空軟處也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：齒
註：[1]齒者，口齗所生之骨也，俗名曰牙。
　　   有門牙、虎牙、槽牙、上下盡根牙之別。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：舌
註：[1]舌者，司味之竅也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：舌本
註：[1]舌本者，舌之根也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頏顙
註：[1]頏顙者，口內之上二孔，司分氣之竅也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：懸壅垂
註：[1]縣壅垂者，張口視喉上，似乳頭之小舌，俗名碓嘴。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：會厭
註：[1]會厭者，復喉管之上竅，似皮似膜，發聲則開，咽食則閉， 
　　   故為聲音之戶也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：咽
註：[1]咽者，飲食之路也，居喉之後。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：喉
註：[1]喉者，通聲息之路也，居咽之前。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：喉嚨
註：[1]喉嚨者，喉也，肺之系也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：嗌
註：[1]嗌者，咽也，胃之系也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：結喉
註：[1]結喉者，喉之管頭也。其人瘦者多外見頸前， 
　　   肥人則隱於肉內，多不見也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：胸膺
註：[1]胸者，缺盆下腹之上，有骨之處也；膺者，胸前兩旁高處也， 
　　   一名曰臆，胸骨肉也俗名胸膛。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：𩩲骭
註：[1]𩩲肝者，胸之眾骨名也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：乳
註：[1]乳者，膺上突起兩肉有頭，婦人以乳兒者也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：鳩尾
註：[1]鳩尾者，即蔽心骨也。其質係脆骨，在胸骨之下岐骨之間。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：膈註：[1]腹者，膈之下曰腹，俗名曰肚；臍之下曰少腹，亦名小腹。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：臍
註：[1]臍者，人之初生胞蒂之處也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：毛際
註：[1]毛際者，小腹下橫骨間叢毛之際也，下橫骨俗名蓋骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：篡
註：[1]篡者，橫骨之下，兩股之前，相合共結之凹也。前、後兩陰之間， 
　　   名下極穴，又名屏翳穴，會陰穴，及男女陰氣之所也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：睪丸
註：[1]睪丸者，男子前陰兩丸也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：上橫骨
註： [1]上橫骨在喉前宛宛中，天突穴之外，小灣橫骨旁，接拄骨之骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：拄骨
註：[1]拄骨者，膺上缺盆之外，俗名鎖子骨也。內接橫骨，外接肩解也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：肩解
註：[1]肩解者，肩端之骨節解處也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：髃骨
按：
註：[1]髃骨者，肩端之骨也，即肩胛骨頭臼之稜骨也。其臼接臑骨上端， 
　　   俗曰肩頭。其外曲捲翅骨，肩後之稜骨也。其下稜骨，在背肉內。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：肩胛
註：[1]肩胛者，即髃骨之末成片骨也。亦名肩髆，俗名鍁板子骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：臂
註： [1]臂者，上身兩大支之通稱也。一名曰肱，俗名肐膊； 
　　   肐膊中節上、下骨交接處，名曰肘；肘上之骨曰臑骨； 
　　   肘下之骨曰臂骨。臂骨有正、輔二骨，輔骨在上，短細偏外； 
　　   正骨居下，長大偏內，俱下接腕骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：腕
註：[1]腕者，臂掌骨接交處，以其宛屈故名也。
　　   當外側之骨，名曰高骨，一名銳骨，亦名踝骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：掌骨
註：[1]掌者，手之眾指之本也。掌之眾骨名雍骨， 
　　   合湊成掌，非塊然一骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：魚
註：[1]魚者，在掌外側之上隴起，其形如魚，故謂之魚也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：手
註：[1]手者，上體所以持物也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：手心
註：[1]手心者，即掌之中也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：手背
註：[1]手背者，手之表也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：指骨
註：[1]指者，手指之骨也。第一大指名巨指，在外二節，本節在掌； 
　　   第二名食指，又名大指之次指，三節在外，本節在掌； 
　　   第三中指名將指，三節在外，本節在掌； 
　　   第四指名無名指，又名小指之次指，三節在外，本節在掌； 
　　   第五指為小指，三節在外，本節在掌。
其節節交接處，皆有碎骨筋膜聯絡。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：爪甲
註：[1]爪甲者，指之甲也，足趾同。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：岐骨
註：[1]岐骨者，凡骨之兩叉者，皆名岐骨，手足同。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：臑
註：[1]臑者，肩髆下內側對腋處，高起軟白肉也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：腋
註：[1]腋者，肩之下脅之上際，俗名肐肢窩。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：脅肋
註：[1]脅者，腋下至肋骨盡處之統名也。曰肋者，脅之單條骨之謂也， 
　　   統脅肋之總，又名曰胠。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：季脅
註：[1]季脅者，脅之下小肋骨也，俗名軟肋。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：䏚註：[1]䏚者，脅下無肋骨空軟處也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：腦後骨
註：[1]腦後骨者，俗呼腦杓。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：枕骨
註：[1]枕骨者，腦後骨之下隴起者是也。
　　   其骨或稜、或平、或長、或圓不一。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：完骨
註：[1]耳後之稜骨，名曰完骨，在枕骨下兩旁之稜骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頸項
註：[1]頸項者，頸之莖也，又曰頸者，莖之側也； 
　　   項者，莖之後也，俗名脖項。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：頸骨
註：[1]頸者，頭之莖骨，肩骨上際之骨，俗名天柱骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：項骨
註：[1]項骨者，頭後甚骨之上三節圓骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：背
註：[1]背者，後身大椎以下，腰以一之通稱也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：膂
註： [1]膂者，夾脊骨兩旁肉也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：脊骨
註：[1]脊骨者，脊膂骨也，俗名脊梁骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：腰骨
註：[1]腰骨者，即脊骨十四椎下，十五、十六椎間，尻上之骨也。
　　   其形中凹、上寬、下窄，方圓，二三寸許，兩旁四孔， 
　　   下接尻骨上際也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：胂
註：[1]胂者，腰下兩旁，髁骨上之肉也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：臀
註：[1]臀者，胂下尻旁大肉也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：尻骨
註：[1]尻骨者，腰骨下十七椎、十八椎、十九椎、二十椎、
　　   二十一椎五節之骨也。上四節紋之旁，左右各四孔，骨形內凹如瓦， 
　　   長四五寸許，上寬不窄，末節更小，如人參蘆形，名尾閭，一名骶端， 
　　   一名橛骨，一名窮骨；在肛門後，其骨上外兩旁形如馬蹄， 
　　   附著兩髁骨上端，俗名骻骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：肛
註：[1]肛者，大腸下口也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：大橫骨、髁骨、楗骨
註：[1]下橫骨在少腹下，其形如蓋，故名蓋骨也。其骨左右二大孔， 
　　   上兩分出向後之骨，首如張扇，下寸許弣著於尻骨之上， 
　　   形如馬蹄之處，名曰髁骨；下兩分出向前之骨，末如楗柱， 
　　   在於臀內，名曰楗骨；與尻骨成鼎足之勢，為坐之主骨也， 
　　   婦人俗名交骨；其骨面名曰髖，俠髖之臼名曰機，又名髀樞， 
　　   外接股之脾骨也，即環跳穴處，此一骨五名也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：股
註：[1]股者，下身兩大支之通稱也，俗名大腿小腿。
　　   中節上、下交接處，名曰膝。膝上之骨曰髀骨，股之大骨也； 
　　   膝下之骨曰胻骨，脛之大骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：髀骨
註：[1]髀骨者，膝上之大骨也。上端如杵，接於髀樞，下端如錘， 
　　   接於胻骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：胻骨
註：[1]胻骨者，俗名臁脛骨也。其骨兩根，在前者名成骨，又名骭骨， 
　　   形粗，膝外突出之骨也；在後者名輔骨，形細，膝內側之小骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：伏免
註：[1]伏兔者，髀骨前膝之上，起肉似俯兔，故曰伏兔。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：膝解
註：[1]膝解者，膝之節解也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：臏骨
註：[1]臏骨者，膝上蓋骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：連骸
註：[1]連骸者，膝外側二高骨也。
</pre>
<pre data-sec="p">
   主題：周身名位骨度
條文：膕
註：[1]膕者，膝後屈處，俗名腿凹也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：腨
註：[1]腨者，下腿肚也，一名腓腸，俗名小腿肚。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：踝骨
註： [1]踝者，胻骨之下，足附之上，兩旁突出之高骨，在外為外踝， 
　　   在內為外踝也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：足
註：[1]足者，下體所以趨走也，俗名腳。
</pre>
<pre data-sec="p">
主題： 
條文：跗骨
註：[1]跗者，足背也，一名足趺，俗稱腳面。跗骨者，足趾本節之眾骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：足心
註：[1]足心者，即踵之中也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：跟骨
註：[1]跟，足後根之骨也。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：趾
註：[1]趾者，足之指也，其數五，名為趾者，別於手也。
　　   居內之大者名大趾，第二趾名大趾之次趾，第三趾名中趾， 
　　   第四名小趾之次趾，第五居外之小者名小趾。
　　   足之指節與手指節同，其趾之本節後內側，圓骨形突者，名核骨。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：三毛
註：[1]足大趾爪甲後為三毛，毛後橫紋為聚毛。
</pre>
<pre data-sec="p">
主題：周身名位骨度
條文：踵
註：[1]踵者，足下面著於地之謂也，俗名腳底板（見圖二十二、二十三）
</pre>
<pre data-sec="p">
骨度尺寸
主題：頭部：
條文：
頭髮以下至背骨，長二寸半。（自後髮際以至大椎項骨三節處也）
按：
頭部折法：以前髮際至後髮際，折為一尺二寸。
如髮際不明，則取眉心直上，後至大杼骨，折作一尺八寸，此為直寸。
橫寸法，以眼角至外角，此為一寸。頭部橫直寸法，並依此。
督脈神庭至太陽曲差穴，曲差至少陽本神穴，本神至陽明頭維穴，
各開一寸半。自神庭至頭維，各開四寸半。
</pre>
<pre data-sec="p">
主題：胸腹部：
條文：
結喉以下至缺盆，中長四寸。（此以巨骨上陷中而言，即天突穴處。）
缺盆以下𩩲骭之中，長九寸。
胸圍四尺五寸。
兩乳之間，廣九寸半，（當折八寸為當。）
𩩲骭中下至天樞，長八寸。
（天樞足陽明穴名，在臍旁，此指平臍而言。）
天樞以下至橫骨，長六寸半，橫骨橫長六寸半。（毛際下骨曰橫骨。）
按：
此古數也，以今用上、下穴法參較，多有未合，宜從後胸腹折法為當。
</pre>
<pre data-sec="p">
主題：胸腹部：
條文：
兩髀之間，廣六寸半。此當兩股之中橫骨兩頭之處，俗名髀縫。
按：
胸腹折法：直寸以中行為之，
自缺盆中天突穴起，至岐骨際上中庭穴止，折作八寸四分；
自𩩲骭上岐骨際，下至臍心，折作八寸；
臍心下至毛際曲骨穴，折作五寸。
橫寸以兩乳相去，折作八寸。胸腹橫直寸法，並依此。
</pre>
<pre data-sec="p">
主題：背部：
條文：
膂骨以下至尾骶，二十一節，長三尺。
（膂骨，脊骨也。脊骨外小而內巨，人之所以能負任者，以是骨之巨也。
脊骨二十四節，今云二十一節者，除項骨三節不在內。
尾骶骨男子者尖，女人者平。）
腰圍四尺二寸。
按：
背部折法：自大椎至尾骶，通折三尺。
上七節各長一寸四分一厘，共九寸八分七厘。
中七節各一寸六分一厘，共一尺一寸二分七厘。
第十四節與臍平，下七節各一寸二分六厘，共八寸八分二厘，
共二尺九寸九分六厘。不足四厘者，有零未盡也。直寸依此，
橫寸用中指同身寸法。脊骨內闊一寸。
凡云第二行俠脊一寸半，三行俠脊三寸者，皆除脊一寸外，淨以寸半三寸論，
故在二行當為二寸，在三行當為三寸半也。
</pre>
<pre data-sec="p">
主題：側部
條文：
自拄骨下行腋中不見者，長四寸。（拄骨頸項根骨也。）
腋以下至季脅，長一尺二寸。（季脅小肋也。）
季脅以下至髀樞，長六寸。（大腿曰股，股上曰髀，
楗骨之下，大腿之上，兩骨合縫之所曰髀樞，當足少陽環跳穴處也。）
髀樞下至膝中，長一尺九寸。
橫骨上廉下至內輔之上廉，長一尺八寸。
（骨際曰廉，膝旁之骨突出者曰輔骨，內曰內輔，外曰外輔。）
內輔之上廉以下至下廉，長三寸半。（上廉、下廉，可摸而得。）
內輔下廉下至內踝，長一尺二寸。
內踝以下至地，長三寸。
</pre>
<pre data-sec="p">
主題：四肢部：
條文：
肩至肘，長一尺七寸。肘至腕，長一尺二寸半，（臂之中節曰肘。）
腕至中指本節，長四寸。（臂掌之交曰腕。）
本節至末，長四寸半。（指之後節曰本節。）
膝以下至外踝，長一尺六寸。
膝膕以下至跗屬，長一尺六寸。（膕，腿灣也，跗足面也。膝在前，膕在後。
跗屬者，凡兩踝前後脛掌所交之處，皆為跗之屬也。）
跗屬以下至地，長三寸。
外踝以下至地，長一寸。足長一尺二寸，廣四寸半。
按：
骨度乃『靈樞經‧骨度篇』文所論之長短，皆數也。
然骨之大者太過，小不及，此亦但言其則耳。
至於周身手足折量之法，
掌用前中指同身寸去為是（見圖二十四、二十五）。
</pre>
<pre data-sec="p">
主題：頭部頂中
條文：中行凡一穴：百會屬督脈
</pre>
<pre data-sec="p">
主題：頭部前
條文：
中行凡四穴：神庭　上星
</pre>
<pre data-sec="p">
會　前頂（俱屬督脈）
兩旁第二行左右凡八穴：曲差　五處　承光　通天（俱足太陽穴）
兩旁第三行左右凡六穴：臨泣　目窗　正營（俱足少陽穴）
</pre>
<pre data-sec="p">
主題：正面部
條文：
中行凡五穴：素髎　水溝　兌端　齦交（俱督脈穴）　承漿（任脈穴）
兩旁第二行左右凡十穴：攢竹　睛明（俱足太陽穴）　
迎香　禾髎（俱手陽明穴）　巨髎（足陽明穴）
兩旁第三行左右凡十穴：陽白（足少陽穴）
承泣　四白　地倉　大迎（俱足陽明穴）
兩旁第四行左右凡八穴：本神  童子髎（俱足少陽穴）　
絲竹空（手少陽穴）　顴髎（手太陽穴）
</pre>
<pre data-sec="p">
主題：頸部
條文：
中行凡二次：廉泉　天突俱屬任脈（見圖二十八）
</pre>
<pre data-sec="p">
主題：胸部
條文：
中行凡七穴：天突　璇璣　華蓋　紫宮　玉堂　膻中　中庭（俱任脈）
兩旁第二行左右凡十二穴去中行任脈二寸：俞府　彧中　神藏　靈墟　神封　
步廊（俱足少陰）
兩旁第二行左右凡十二穴。（自氣戶夾俞府旁二寸，去中行四寸）：
氣戶　庫房　屋翳　膺窗　乳中　乳根（俱足陽明）
兩旁第四行左右凡十二十穴（自雲門夾氣戶旁二寸，去中行六寸）：
雲門　中府（俱手太陰）　周榮胸鄉　天谿　食竇（俱足太陰）
</pre>
<pre data-sec="p">
主題：腹部
條文：
中行凡十五穴：鳩尾　巨闕　上腕　建里　下腕　水分　神闕　陰交　
氣海　石門　關元　中極　曲骨　會陰（俱任脈）
兩旁第二行左右凡二十二穴（自幽門夾巨闕兩旁各半寸，循衝脈下行至橫骨）：
幽門　通谷　陰都　石關　商曲　肓俞　中柱　四滿　氣穴　大赫　橫骨
（俱足少陰）
兩旁第三行左右凡二十六穴（自不容夾幽門兩旁各一寸五分，去中行二寸）：
不容　承滿　梁門　關門　太乙　滑肉門　天樞　外陵　大巨　水道　
歸來　氣衝（俱足陽明）　急脈（足厥陰穴，挾氣衝旁各半寸，去中行二寸半）
兩旁第四行左右凡十四穴
（自期門上直兩乳，挾不容旁各一寸五分，去中行三寸半）：
期門（足厥陰）日月（足少陽）腹哀　大橫　腹結　府舍　衝門（俱足太陰）
（見圖二十九）
</pre>
<pre data-sec="p">
主題：頭部後
條文：
中行凡五穴：後頂　強間　腦戶　風府　瘂門（俱屬督脈）
兩旁第二行左右凡六穴：絡卻　玉枕　天柱（俱足太陽穴）
兩旁第三行左右凡六穴：承靈　腦空　風池（俱足少陽穴）
兩旁第四行左右凡四穴：完骨（足少陽穴）　天牖（手少陽穴）
（見圖三〇）
</pre>
<pre data-sec="p">
主題：背部
條文：
中行凡十四穴：大椎　陶道　身柱　神道　靈台　至陽　筋縮　中樞　
脊中　懸樞　命門　陽關　腰俞　長強（俱督脈）
兩旁第二行左右凡十四穴：大杼　風門　肺俞　厥陰俞　心俞　膈俞　
肝俞　膽俞　脾俞　胃俞　三焦俞　腎俞　大腸俞　小腸俞　膀胱俞　
中膂俞　白環俞（上俱挾脊，去中行二寸），上髎　次髎　中髎　下髎
（上俱挾脊骨兩旁，十七、十八、十九、二十椎空中）　
會陽（挾尻骨兩旁上。俱足太陽穴）
兩旁第三行左右凡二十八穴去脊中行三寸五分：附分　魄戶　膏肓俞　
神堂　譩譆　膈關　魂門　陽綱　意舍　胃倉　肓門　志室　胞肓　秩邊
（俱足太陽）（見圖三十一）
</pre>
<pre data-sec="p">
主題：側頭部
條文：
左右凡二十八穴：頭維足陽明穴　頷厭　懸顱　懸釐　曲鬢　率谷　天衝
浮白　竅陰（俱足少陽穴）　角孫　顱息　瘈脈　翳風　絲竹（俱手少陽穴）
</pre>
<pre data-sec="p">
主題：側面部
條文：
左右凡十四穴：客主人　聽會（俱足少陽）　和髎　耳門（俱手少陽）　
聽宮（手太陽）　下關　頰車（俱足陽明穴）
</pre>
<pre data-sec="p">
主題：側項部
條文：
左右凡十四穴：
人迎（嬰筋之前）　水突　氣舍（俱足陽明穴）　
扶突（嬰筋之後）　天鼎（俱手陽明）　天窗（扶突後）　天容（俱手太陽穴）
</pre>
<pre data-sec="p">
主題：肩膊部
條文：
左右十二穴：巨骨　肩髃　臂臑（俱手陽明）　肩井（足少陽穴）　
肩髎　臑會（俱手少陽穴）（見圖三十二）
</pre>
<pre data-sec="p">
主題：側腋脅肋部
條文：
左右凡二十穴：淵液　輙筋（俱足少陽）　天池（手厥陰）　大包（足太陰）　
章門（足厥陰）　京門　帶脈　五樞　維道　居髎（俱足少陽）
</pre>
<pre data-sec="p">
主題：附：兩手奇俞穴
左右凡六穴：拳尖在中指本節前骨尖上，握拳取之，
五虎一在手食指背間，一在無名指背間，皆在次節三節相接骨尖上各一穴，
握拳取之（見圖三十三）
</pre>
<pre data-sec="p">
主題：手三陰經總穴名
條文：
手太陰肺經，行臂內凡九穴，左右同起手大指端行三陰之上：
少商　魚際　太淵　經渠　列缺　孔最　尺澤　俠白　天府
手厥陰心包絡經，行臂內凡八穴，左右同起手中指端行三陰之中：
中衝　勞宮　大陵　內關　間使　郄門　曲澤　天泉
手少陰心經，行臂內凡九穴，左右同起手小指內側端三陰之下：
少衝　少府　神門　陰郄　通里　靈道　少海　青靈　極泉
（見圖三四）
</pre>
<pre data-sec="p">
主題：手三陽經總穴名
條文：
手陽明大腸經，行臂外，凡十四穴，左右同起手食指端，行三陽之上：
商陽　二間　三間　合谷　陽谿　偏厲　溫溜　下廉　上兼　三里　曲池
肘髎　五里　臂臑
手少陽三焦經，行臂外凡十二穴，左右同起手無名指端，行三陽之中：
關衝　液門　中渚　陽池　外關　支溝　會宗　三陽絡　四瀆　天井　
清冷淵　消濼
手太陽小腸經，行臂外凡八穴，左右同起手小指外側端，行三陽之下：
少澤　前谷　後谿　腕骨　陽谷　養老　支正　小海（見圖三十五）
</pre>
<pre data-sec="p">
主題：足三陰經總穴名
條文：
足厥陰肝經，行足股內凡十一穴，左右同起足大指端，行三陰之前：
大敦　行間　太衝　中封　蠡溝　中都　膝關　曲泉　陰包　五里　陰廉
足太陰脾經，行足股內凡十一穴，左右同起足大指內側端，行三陰之中：
隱白　大都　太白　公孫　商丘　三陰交　漏谷　地機　陰陵泉　血海　箕門
足少陰腎經，行足股內凡十穴，左右同起足心，行三陰之後：
湧泉　然谷　太谿　大鐘　照海　水泉　復溜　交信　築賓　陰谷
（見圖三十六）
</pre>
<pre data-sec="p">
主題：足三陽經總穴名
條文：
足陽明胃經，行足股外凡十五穴，左右同起足三指端，行三陽之前：
厲兌　內庭　陷谷　衝陽　解谿　豐隆　下巨虛　條口　上巨虛　三里　
犢鼻　梁丘　陰市　伏兔　髀關
足少陽膽經，行足股外凡十五穴，左右同起足四指端，行三陽之中：
竅陰　俠谿　地五會　臨泣　丘墟　懸鍾　陽輔　光明　外丘　陽交　
陽陵泉　陽關　中瀆　環跳　風市
足太陽膀胱經，行足股後凡十九穴，左右同起足小指端，行三陽之後：
至陰　通谷　束骨　京骨　金門　申脈　僕參　昆侖　跗陽　飛揚　承山
承筋　合陽　委中　委陽　浮郗　殷門　承扶　會陽
</pre>
<pre data-sec="p">
主題：肺臟經文
條文：
經云：肺者相傅之官，治節出焉。
其形四垂，附著於脊之第三椎中，有二十四空，
行列分佈，以行諸臟之氣，為臟之長，為心之蓋。
又云：是經常多氣少血。
『難經』曰：肺重三斤三兩，六葉兩耳，凡八葉，主藏魄。
『中臟經』曰：肺者生氣之原，乃五臟之華蓋。
張介賓曰：肺葉白瑩，謂為華蓋，以復諸臟，虛如蜂窠，下無透竅，
吸之則滿，呼之則虛，一呼一吸，消息自然，司清濁之運化，為人身之橐籥。
（見圖三十八）
</pre>
<pre data-sec="p">
主題：肺經循行經文
條文：
肺手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，
下循臑內，行少陰心主之前，下肘中循臂內上骨下廉，入寸口上魚，
循魚際出大指之端；其支者，從腕後直出次指內廉，出其端（圖三十九）。
</pre>
<pre data-sec="p">
主題：肺經循行歌
條文：
手太陰肺中焦生，絡腸循胃散流行，上膈屬肺從肺系，橫出腋下臑肘中，
循臂寸口上魚際，大指內側爪端通，支絡還從腕後出，接次指屬陽明經。
註：[1]手太陰肺經之脈，起於中焦者，言起於任脈中脘穴也。
　　[2]下絡大腸，還循胃口者，謂本經之絡，散佈流行，下則絡於大腸， 
　　   還上而循胃口，非上膈屬肺直行之經也。
　　[3]夫經絡流行，循還無端。故手太陰之脈，必自足厥陰經之支者期門穴，
　　   循行中脘穴，上膈屬肺，以交於手太陰肺經也。
　　[4]從肺系橫出腋下，至於中府、雲門穴，下循臑內天府、俠白穴； 
　　   從俠白行少陰心主經脈之前，下行肘中尺澤穴； 
　　   從尺澤循臂內上骨下廉孔最穴，從孔最入寸口列缺、經渠、太淵穴； 
　　   從太淵上魚（句）入魚際穴；從魚際出大指之端少商穴而終焉。
　　[5]其支者從腕後直出，循行次指內廉出其端，以交於手陽明大腸經也。
</pre>
<pre data-sec="p">
主題：肺經穴歌
條文：
手太陰肺十一穴，中府雲門天府列，次則俠白下尺澤，又次孔最與列缺，
經渠太淵下魚際，抵指少商如韭葉。
</pre>
<pre data-sec="p">
主題：肺經分寸歌
條文：
太陰中府三肋間，上行雲門寸六許，雲在任璣旁六寸，大腸巨骨下二骨，
天府腋三動脈求，俠白肘上五寸主，尺澤肘中約紋是，孔最腕上七寸擬，
列缺腕上一寸半，經渠寸口陷中取，太淵掌後橫紋頭，魚際節後散脈裏，
少商大指端內側，鼻衄刺之立時止。
註：[1]中府在任脈中行華蓋穴旁，直開去六寸，乳上三肋間陷中， 
　　   動脈應手，仰而取之，是其穴也。
　　[2]上直行一寸六分，在手陽明大腸經巨骨之下陷中，動脈應手， 
　　   舉臂取之，雲門穴也。
　　[3]從雲門穴下循臑內，腋下三寸動脈陷中，以鼻尖點墨取之， 
　　   天府穴也。
　　[4]從天府穴下行肘中，約紋上去五寸動脈中，俠白穴也。
　　[5]從俠白穴下行肘中，約紋上屈肘橫筋骨罅中，動脈應手，尺澤穴也。
　　[6]從尺澤穴下行腕前，約紋上七寸，上骨、下骨間陷中，孔最穴也。
　　[7]從孔最穴循外側行腕後，側上一寸五分，以兩手交叉， 
　　   當食指末筋骨罅中，列缺穴也。
　　[8]從列缺穴循行寸口陷中，經渠穴也。
　　[9]從經渠穴內循手掌後陷中，太淵穴也。
　　[10]從太淵穴上魚，手大指本節後，內側陷中散脈中白肉際，魚際穴也。
　　[11]從魚際穴循行手大指內側之端，去爪甲角如韭葉許白肉際，少商穴也
　　   （圖四十）。
</pre>
<pre data-sec="p">
主題：大腸經文
條文：
經云：大腸者傳道之官，變化出焉。
又云：迴腸當臍左迴十六曲，大四寸，徑一寸，寸之少半，長二丈一尺，
受穀一斗，水七升半。
又云：廣腸附脊以受迴腸，乃出滓穢之路，大八寸，徑二寸，寸之大半，
長二尺八寸，受穀九升三合八分合之一，是經多氣少血。
『難經』曰：大腸重二斤十二兩，肛門重十二兩。
張介賓曰：按迴腸者，以其迴疊也；廣腸者，即迴腸之更大者；
直腸者，又廣腸之末節下連肛門也（圖四十一）
</pre>
<pre data-sec="p">
主題：大腸經循行經文
條文：
大腸手陽明之脈，起於大指次指之端，循指上廉，出合谷兩骨之間，
上入兩筋之中，循臂上廉，入肘外廉，上臑外前廉，上肩出髃骨之前廉，
上出於柱骨之上會，下入缺盆，絡肺下膈屬大腸；其支者，從缺盆上頸貫頰，
入下齒中，還出挾口，交人中，左之右，右之左，上挾鼻孔（見圖四十二）。
</pre>
<pre data-sec="p">
主題：大腸經循行歌
條文：
陽明之脈手大腸，次指內側起商陽，循指上廉出合谷，岐骨兩筋循臂肪，
入肘外廉循臑外，肩端前廉拄骨旁，從肩下入缺盆內，絡肺下膈屬大腸；
支從缺盆直上頸，斜貫頰前下齒當，環出人中交左右，上俠鼻孔注迎香。
註：[1]手陽明大腸經之脈，起於大指次指內廉之端。
　　[2]出於大指者，謂出於大指少商穴也，本經之絡。
　　[3]其支者，直出於次指之端，以交於手陽明大腸經之商陽穴， 
　　   故曰：起於大指次指之端也。
　　[4]從商陽穴循食指上廉，二間、三間穴也。
　　[5]從三間穴循出兩骨之間，合谷穴也。
　　[6]從合穴上兩筋之間，陽谿穴也。
　　[7]從陽谿穴循臂上廉至偏歷、溫溜、下廉、上廉、三里穴也。
　　[8]從三里穴入肘外廉，曲池穴也。
　　[9]從曲池上臑外前廉，肘髎、五里、臂臑穴也。
　　[10]從臂臑穴上肩，肩髃穴也。
　　[11]從肩髃穴出髃骨之前廉，巨骨穴也。
　　[12]從巨骨穴上出於柱骨之會上，言會於督脈之大椎穴也； 
　　   自督脈大椎穴入交足陽明胃經之缺盆穴。
　　[13]絡肺下膈屬大腸者，謂其支從缺盆上頸，復循本經之天鼎穴， 
　　   貫頰至扶突穴也。
　　[14]從扶突穴入下齒中禾髎穴，從禾髎穴還出挾口交人中－左之右， 
　　   右之左－上挾鼻孔迎香穴而終，以交於手足陽明胃經也。
</pre>
<pre data-sec="p">
主題：大腸經穴歌
條文：
手陽明穴起商陽，二間三間合谷臟，陽谿偏歷歷溫溜，下廉上廉三里長，
曲池肘髎迎五里，臂臑肩髎巨骨起，天鼎扶突接禾髎，終以迎香二十止。
</pre>
<pre data-sec="p">
主題：大腸經分寸歌
條文：
商陽食指內側邊，二間來尋本節前，三間節後陷中取，合谷處口岐骨間，
陽谿上側腕中是，偏歷腕後三寸安，溫溜腕後去五寸，池前五寸下廉看，
池前三寸上廉中，池前二寸三里逢，曲池曲肘紋頭盡，肘髎上臑外廉近，
大筋中央尋五里，肘上三寸行向裏，臂臑肘上七寸量，肩髃肩端舉臂取；
巨骨肩尖端上行，天鼎喉旁四寸真，扶突天突旁三寸，禾髎水溝旁五分，
迎香禾髎上一寸，大腸經穴自分明。
註：[1]商陽穴在手食指內側端後，去爪甲角如韭葉許，是其穴也。
　　[2]從商陽穴循食指上廉，本節前內側陷中，二間穴也。
　　[3]從二間穴循食指本節後，內側陷中，三間穴也。
　　[4]從三間穴循行手大指次指岐骨間陷中，合谷穴也。
　　[5]從合谷穴循行手腕中上側，兩筋間陷中，張大指次指取之， 
　　   陽谿穴也。
　　[6]從陽谿穴上行手腕後，上側三寸，偏歷穴也。
　　[7]從偏歷穴上行三寸，溫溜穴也。
　　[8]從溫溜穴上行二寸五分，輔銳肉分，下廉穴也。
　　[9]從下廉穴上行一寸，上廉穴也。
　　[10]從上廉穴上行一寸，銳肉之端，按之肉起，手三里穴也。
　　[11]從手三里穴上二寸，以手拱胸屈肘，橫紋頭陷中取之，曲池穴也。
　　[12]從曲池穴上行大骨外廉陷中，肘髎穴也。
　　[13]從肘髎穴循肘上三寸，向裏大脈中央，五里穴也。
　　[14]從五里穴上行四寸，兩筋兩骨罅宛宛陷中，伸臂平手取之， 
　　   臂臑穴也。
　　[15]從臂臑穴上行髆骨頭，肩端上兩骨罅陷處宛宛中，舉臂取之有空， 
　　   肩髃穴也。
　　[16]從肩髃穴上行臂端，兩叉骨間陷中，巨骨穴也。
　　[17]從巨骨穴循頸，缺盆上直行扶突下一寸，天鼎穴也。
　　[18]從天鼎穴上直行曲頰下一寸，人迎後一寸五分，仰而取之扶突穴也。
　　[19]從扶突穴貫頰直鼻孔下，水溝旁五分，禾髎穴也。
　　[20]從禾髎穴上一寸，鼻孔旁五分，迎香穴也（見圖四十三）
</pre>
<pre data-sec="p">
主題：胃府經文
條文：
經云：脾胃者倉廩之官，五味出焉。
又云：胃者水穀氣血之海也。
又云：胃大一尺五寸，徑五寸，長二尺六寸，橫屈，受水穀三斗五升，
其中之穀，常留二斗，水一斗五升而滿。
又云：是經多氣少血。
『難經』曰：胃重二斤一兩。
張介賓曰：胃之上口名曰賁門，飲食之精氣，從此上輸於脾肺，
宣佈於諸脈；胃之下口，即小腸上口，名曰幽門（見圖四十四）。
</pre>
<pre data-sec="p">
主題：胃經循行經文
條文：
胃足陽明之脈，起於鼻之交頞中，旁約太陽之脈，下循鼻外，入上齒中，
還出俠口環唇，下交承漿，卻循頤後下廉，出大迎循頰車，上耳前，
過客主人，循髮際，至額顱；其支者，從大迎前下人迎，循喉嚨，入缺盆，
下膈，屬胃，絡脾；其直者，從缺盆下乳內廉，下俠臍，入氣街中；
其支者，起於胃下口，循腹裏，下至氣街中而合，以下髀關抵伏兔，下膝臏中，
下循脛外廉，下足跗，入中趾內間；其支者，下廉穴三寸而別，
入中趾外間；其支者，別跗上，入大趾間，出其端（見圖四十五）。
</pre>
<pre data-sec="p">
主題：胃經循行歌
條文：
胃足陽明交鼻起，下循鼻外入上齒，還出俠口繞承漿，頤後大迎頰車裏，
耳前髮際至額顱，支下人迎缺盆底，下膈入胃絡脾宮，直者缺盆下乳內，
一支幽門循腹中，下行直合氣街逢，遂由髀關抵膝臏，胻跗足趾內間同；
一支下膝注三里，前出中趾外間通，一支別走足跗趾，大趾之端經盡已。
按：足陽明是足大趾之次趾，不是中趾，必傳寫之誤。
註：[1]足陽明胃經之脈，起於鼻者，是謂由迎香穴上交頰中兩旁， 
　　   約過足太陽脈之睛明穴，分下循鼻外， 
　　   始交於足陽明之承泣、四白、巨髎穴也；從巨髎入上齒中， 
　　   還出俠口之地倉穴；還繞唇下，交會任脈之承漿穴，卻循頤後下廉， 
　　   復交本經之大迎穴。由大迎出循頰車穴，上行耳前，過客主人穴， 
　　   合少陽經，循髮際至額顱兩旁之懸顱穴、頜厭穴，
復交足陽明之頭維穴下關穴。
　　[2]其支者，行大迎穴，從大迎前循人迎水突穴氣舍穴， 
　　   循喉嚨入缺盆穴，下膈屬胃絡脾，散佈臟腑。
　　[3]其直者，從缺盆穴直行氣戶、庫房、屋翳、膺窗、乳中、乳根等穴， 
　　   下乳內廉不容穴也；從不容循承滿、梁門、關門、太乙、滑肉門等穴， 
　　   下夾臍天樞穴也；從天樞、外陵、大巨、水道、歸來等穴，入氣街中，
　　   氣衝穴也。
　　[4]其支者，起於胃口，是謂前之屬胃絡脾之支，下循腹裏， 
　　   下至氣街中而合氣街穴，會衝脈上行者也；其下行本經者脾關穴也。
　　[5]抵伏兔至伏兔穴下，從伏兔行陰市穴、梁丘穴，下膝臏中犢鼻穴， 
　　   循足三里上巨虛、條口、下巨虛等穴，下循脛外廉，豐隆穴也； 
　　   從豐隆循解谿穴，下足跗，衝陽穴也；從衝陽行陷谷穴內庭穴， 
　　   入次趾外間也。
　　[6]其本支別支，一自下巨虛下入次趾外間； 
　　   一別循跗上入大趾次趾間厲兌穴，出其端，交於足太陰脾經也。
</pre>
<pre data-sec="p">
主題：胃經穴歌
條文：
四十五穴足陽明，承泣四白巨髎經，地倉大迎登頰車，下關頭維對人迎，
水突氣舍連缺盆，氣戶庫房屋翳尋，膺窗乳中下乳根，不容承滿出梁門，
關門太乙滑肉起，天樞外陵大巨裏，水道歸來達氣街，髀關伏兔走陰市，
梁丘犢鼻足三里，上巨虛連條口底，下巨虛下有豐隆，解谿衝陽陷谷同，
內庭厲兌陽明穴，大指次指之端終。
</pre>
<pre data-sec="p">
主題：胃經分寸歌
條文：
胃之經兮足陽明，承泣目下七分尋，再下三分名四白，巨髎鼻孔旁八分。
地倉俠吻四分近，大迎頷下寸三中，頰車耳下八分陷，下關耳前動脈行。
頭維神庭旁四五，人迎喉旁寸五真，水突筋前人迎下，氣舍喉下一寸乘。
缺盆舍下橫骨陷，氣戶下行一寸明，庫房下行一寸六，屋翳膺窗乳中根。
不容巨闕旁二寸，一寸承滿與梁門，關門太乙滑內門，天樞臍旁二寸尋。
樞下一寸外陵穴，陵下一寸大巨陳，巨下三寸水道穴，水下二寸歸來存。
氣街歸來下一寸，共去中行二寸勻，髀關膝上尺二許，伏兔髀下六寸是。
陰市伏兔下三寸，梁丘市下一寸記，犢鼻膝臏陷中取，膝眼三寸下三里。
里下三寸上廉穴，廉下二寸條口舉，再下二寸下廉穴，復上外踝上八寸，
卻是豐隆穴當記。解谿則從豐隆下，內循足腕上陷中，衝陽解下高骨動，
陷谷衝下二寸名，內庭次指外岐骨，厲兌大次指端中。
註：[1]承泣穴，在目下七分，目下胞陷中，上直瞳子正視取之，是其穴也。
　　[2]從承泣直下三分，顴空骨內，亦直瞳子取之，四白穴也。
　　[3]從四白下行，俠鼻孔旁八分，亦直瞳子取之，巨髎穴也。
　　[4]從巨髎下行，俠口吻旁四分外許，近下微有動脈，地蒼穴也。
　　[5]從地倉行顖頷下前一寸三分，骨陷中動脈，大迎穴也。
　　[6]從大迎行耳下曲頰端，近前八分陷中，側臥開口取之，頰車穴也。
　　[7]從頰車上行，耳前動脈，側臥合口有空取之，下關穴也。
　　[8]從下關上行額角，入髮際以督脈中行神庭穴旁開四寸半，頭維穴也。
　　[9]從頭維下行，頸下俠結喉旁一寸五分，大動脈應手，伸頭取之， 
　　   人迎穴也。
　　[10]從人迎下直行，頸大筋前內貼氣喉，水突穴也。
　　[11]從水突下直行，頸大筋前結喉下一寸許陷中，貼骨尖上有缺處， 
　　   氣舍穴也。
　　[12]從氣舍下行，肩上橫骨陷中，缺盆穴也。
　　[13]從缺盆下行，巨骨下一寸，旁開中行四寸陷中，仰而取之， 
　　   氣戶穴也。
　　[14]從氣戶下行一寸六分，亦旁開中行四寸陷中，仰而取之，庫房穴也。
　　[15]從庫房下行一寸六分，亦旁開中行四寸陷中，仰而取之，屋翳穴也。
　　[16]從屋翳下行一寸六分，亦旁開中行四寸陷中，仰而取之，膺窗穴也。
　　[17]從膺窗下行，當乳頭之中，乳中穴也。
　　[18]從乳中下行一寸六分，亦旁開中行四寸陷中，仰而取之，乳根穴也。
　　[19]從乳根行在第四肋端，旁開中行二寸，不容穴也。
　　[20]從不容穴下一寸，亦旁開中行二寸，承滿穴也。
　　[21]從承滿下一寸，亦旁開中行二寸，梁門穴也。
　　[22]從梁門下一寸，亦旁開中行二寸，關門穴也。
　　[23]從關門下一寸，亦旁開中行二寸太乙穴也。
　　[24]從太乙下一寸，亦旁開中行二寸，滑肉門穴也。
　　[25]從滑肉門下一寸，俠臍旁二寸許陷中，天樞穴也。
　　[26]從天樞下一寸，亦旁開中行二寸，外陵穴也。
　　[27]從外陵下一寸，亦旁開中行二寸，大巨穴也。
　　[28]從大巨下三寸，亦旁開中行二寸，即水道穴也。
　　[29]從水道下二寸，亦旁開中行二寸，即歸來穴也。
　　[30]從歸來下行，在腿班中有肉核，名曰鼠谿，直上一寸，動脈應手， 
　　   亦旁開中行二寸，氣街穴也。
　　[31]從氣街下行，膝上一尺二寸許，中行左右各三指捺， 
　　   上有肉起如伏兔之狀，故名伏兔，在此肉起後，交紋中，髀關穴也。
　　[32]從髀關下行，膝上六寸起肉間，正跪坐而取之，伏兔穴也。
　　[33]從伏兔下行三寸，在伏兔之下陷中，拜揖而取之，陰市穴也。
　　[34]從陰市下行一寸兩筋間，梁丘穴也。
　　[35]從梁門下行過膝蓋骨，下胻骨上陷中，俗名膝眼， 
　　   此處陷中兩旁有空狀如牛鼻在外側者，犢鼻穴也。
　　[36]從犢鼻下行，胻骨外側大筋內宛宛中，足三里穴也
　　   （犢鼻即膝眼處也）。
　　[37]從足三里下行三寸，兩筋骨陷中，舉足取之，上巨虛穴也。
　　[38]從上巨虎下行二寸，舉足取之，條口穴也。
　　[39]從條口下行一寸，兩肋骨陷中，蹲地舉足取之，下巨虛穴也。
　　[40]從下巨虛復斜向後，上行，在足外踝上八寸，䯒骨外廉陷中， 
　　   豐隆穴也。
　　[41]從豐隆內循下足腕上，中行陷中，解谿穴也。
　　[42]從解谿下行足跗上，即腳面也，高骨間動脈，衝陽穴也。
　　[43]從衝陽下行二寸，至足大趾之次趾本節後陷中，陷谷穴也。
　　[44]從陷谷下至足大趾之次趾本節前岐骨外間陷中，內庭穴也。
　　[45]從內庭下行足大趾之次趾之端，去爪角如韭葉許，厲兌穴也
　　   （圖四十六）
</pre>
<pre data-sec="p">
主題：脾臟經文
條文：
經云：脾胃者倉廩之官，五味出焉。
又云：諫議之官，知周出焉。
又云：形如刀鐮，與胃同膜，而附其上之左俞，當十一椎下，聞聲則動，
動則磨胃而主運化，其合肉也，其榮唇也，開竅於口。
又云：是經常多氣少血。
『難經』曰：脾重二斤三兩，廣扁三寸，長五寸，有散膏半斤，主裹血，
溫五臟，主臟意與智。
『中臟經』曰：脾主消磨五穀，養於四旁（圖四十七）。
</pre>
<pre data-sec="p">
主題：脾經循行經文
條文：
脾足太陰脈，起於大趾之端，循趾內側白肉際，過核骨後，上內踝前廉，
上內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹屬脾，絡胃上膈，
俠咽連舌本，散舌下；其支者，復從胃，別上膈，注心中。（見圖四十八）
</pre>
<pre data-sec="p">
主題：脾經循行歌
條文：
太陰脾起足大趾，上循內側白肉際，核骨之後內踝前，上腨循胻經膝裏，
股內前廉入腹中，屬脾絡胃與膈通，俠喉連舌散舌下，支絡從胃注心中。
註：[1]足太陰脾經之脈，起於足大趾之端隱白穴也。
　　[2]從隱白循指內側內肉際，大都穴也。
　　[3]從大都過核骨後，太白穴也。
　　[4]從太白循公孫穴商丘穴，上內踝前廉，三陰交穴也。
　　[5]從三陰交上腨內循脛骨後，漏谷穴也。
　　[6]從漏谷交出厥陰之前，地機穴，陰陵泉穴也。
　　[7]從陰陵泉上膝股內前廉，血海穴、箕門穴、衝門穴也。
　　[8]從衝門入腹，屬脾絡胃，循行府舍、腹結、大橫、腹哀、食竇、
　　   天谿、胸鄉、周榮、大包等穴而上行咽喉，俠咽，連舌本，散舌下也。　　[9]其支者，從胃之絡，別行上膈，注心中，以交於手少陰心經也。
</pre>
<pre data-sec="p">
主題：脾經穴歌
條文：
足太陰脾由足拇，隱白先從內側起，大都太白繼公孫，商丘直上三陰塢，
漏谷地機陰陵泉，血海箕門衝門前，府舍腹結大橫上，腹哀食竇天谿連，
胸鄉周榮大包盡，二十一穴太陰全。
</pre>
<pre data-sec="p">
主題：脾經分寸歌
條文：
大趾端內側隱白，節後陷中求大都，太白內側核骨下，節後一寸公孫呼。
商丘內踝微前陷，踝上三寸三陰交，再上三寸漏谷是，踝上五寸地機朝。
膝下內側陰陵泉，血海膝臏上內廉，箕門穴在魚腹上，動脈應手越筋間。
衝門橫骨兩端動，府舍上行七分看，腹結上行三寸入，大橫上行一寸三。
腹哀上行三寸半，食竇上行三寸間，天谿上行一寸六，胸鄉周榮亦同然。
外斜腋下六寸許，大包九肋季脅端。
註：[1]隱白穴，在足大趾內側端後，去爪甲角如韭葉許，是其穴也。
　　[2]從隱白行足大趾內側，次節末骨縫，赤白肉際陷中，大都穴也。
　　[3]從大都行足大趾後內側，內踝前核骨下，赤白肉際陷中，太白穴也。
　　[4]從太白上行，足大趾本節後一寸，內踝前陷中，公孫穴也。
　　[5]從公孫上行，內踝下微前陷中，商丘穴也。
　　[6]從商丘上行，內踝踝尖上三寸，夾骨陷中，三陰交穴也。
　　[7]從三陰交上行三寸，夾骨陷中，漏谷穴也。
　　[8]從漏谷上行五寸，在膝下五寸內側，夾骨陷中，伸足取之， 
　　   地機穴也。
　　[9]從地機上行膝下，內側曲膝橫紋頭陷中，陰陵泉穴也。
　　[10]從陰陵泉上行，在膝臏上一寸，內廉白肉際陷中，血海穴也。
　　[11]從血海上行，在魚腹上越兩筋間，陰骨內廉，動脈應手，不禁重按，
　　   箕門穴也。
　　[12]從箕門上行，橫骨兩端約紋中動脈，去腹中行旁開三寸半， 
　　   衝門穴也。
　　[13]從衝門上行七分，去復中行，亦旁開三寸半，府舍穴也。
　　[14]從府舍上行三寸，去腹中行，亦旁開三寸半，腹結穴也。
　　[15]從腹結上行一寸三分，去腹中行，亦旁開三寸半，大橫穴也。
　　[16]從大橫上行三寸半，去腹中行，亦旁開三寸半，腹哀穴也。
　　[17]從腹哀上行三寸，或從乳上三肋間，動脈應手處，往下六寸四分， 
　　   去胸中行旁開六寸，舉臂取之，食竇穴也。
　　[18]從食竇上行一寸六分，去胸中行旁開六寸，仰而取之，天谿穴也。
　　[19]從天谿上行一寸六分，去胸中行亦旁開六寸，仰而取之，胸鄉穴也。
　　[20]從胸鄉上行一寸六分，去胸中行亦旁開六寸，仰而取之，周榮穴也。
　　[21]從周榮外斜下行，過少陽膽經淵液穴下三寸，至液下六寸許，出九肋
　　   間季脅端，大包穴也（見圖四十九）。
</pre>
<pre data-sec="p">
主題：心臟經文
條文：
經云：心者君主之官，神明出焉。
又云：心居肺管之下，膈膜之上，附著脊之第五椎，其合脈也，其榮色也，
開竅於耳，又曰開竅於舌。
又云：是經少血多氣。
『難經』曰：心重十二兩，中有七乳三毛，盛精汁三合，主藏神。
張介賓曰：心象尖圓，形如蓮蕊，其中有竅，多寡不同，以導引天真之氣，
下無透竅，上通乎舌，共有四系，以通四臟，心外有赤黃脂裹，是為心包絡，
心下有膈膜，與脊脅周迴相看，遮蔽濁氣，使不得上燻心肺，所謂膻中也。
（圖五〇）
</pre>
<pre data-sec="p">
主題：心經循行經文
條文：
心手少陰之脈，起於心中，出屬心系，下膈絡小腸；其支者，從心系上俠咽，
係目系；其直者，復從心系卻上肺，下出腋下，循臑內後廉，
行手太陰肺心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，
循小指之內出其端（圖五十一）。
</pre>
<pre data-sec="p">
主題：心經循行歌
條文：
手少陰脈起心中，下膈直與小腸通，支者還從肺系走，直上喉嚨系目瞳，
直者上肺出腋下，臑後肘內少海從，臂內後廉抵掌中，銳骨之端注少衝。
註：[1]手少陰心經之脈，起於心中，出屬心系，由心系下膈，絡小腸； 
　　   其經之支者，從心系上行夾咽，係目之系；其經之直者， 
　　   復從心系退上通肺，行手太陰肺心主之後，下出行腋下，極泉穴也。
　　[2]從極泉穴循臑內後廉，青靈穴也。
　　[3]從青靈穴下肘內循臂內後廉，少海穴也。
　　[4]從少海穴抵掌後銳骨之端，靈道、通里、陰郄、神門等穴也。
　　[5]從神門穴入掌內後廉，少府穴也。
　　[6]從少府穴循小指之內，出其端，少衝穴而終， 
　　   以交於手太陽小腸經也。
</pre>
<pre data-sec="p">
主題：心經穴歌
條文：手少陰心起極泉，青靈少海靈道全，通里陰郄神門下，少府少衝小指邊。
</pre>
<pre data-sec="p">
主題：心經分寸歌
條文：
少陰心起極泉中，腋下筋間動引胸，青靈肘上三寸取，少海肘後端五分，
靈道掌後一寸半，通里腕後一寸同，陰郄腕後內半寸，神門掌後銳骨隆，
少府小指本節末，小指內側取少衝。
註：[1]極泉穴，在腋下臂內筋間動脈引胸中，是其穴也。
　　[2]從極泉下行至肘，在肘上三寸，伸肘舉臂取之，青靈穴也。
　　[3]從青靈下行肘內廉，節後大，骨外上去肘端五分，肘內橫紋頭， 
　　   屈肘向頭取之，少海穴也。
　　[4]從少海下行掌後一寸五分，靈道穴也。
　　[5]從靈道下行五分，循腕側外腕後一寸陷中，通里穴也。
　　[6]從通里內行五分，掌後脈中腕後五分，陰郄穴也。
　　[7]從陰郄行掌後銳骨端陷中，神門穴也。
　　[8]從神門行手小指本節末，外側骨縫陷中，少府穴也。
　　[9]從少府行小指內，中行去爪由角如韭葉，少衝穴也（見圖五十二）。
</pre>
<pre data-sec="p">
主題：小腸經文
條文：
經云：小腸者受盛之官，化物出焉。
又云：小腸後附於脊，前附於臍，上左迴疊，積十六曲，大二寸半，
徑八分分之少半，長三丈二尺。受穀二斗四升，水六升三合合之大半。
又云：小腸上口在臍上二寸近脊，水穀由此而入，復下一寸，外附於臍，
為水分穴，當小腸下口，至是而泌別清濁，水液滲入膀胱，滓穢流入大腸。
又云：是經多血少氣。
「難經」曰：小腸重二斤十四兩。（見圖五十三）
</pre>
<pre data-sec="p">
主題：小腸徑循行經文
條文：
小腸手太陽之脈，起於小指之端，循手外側，上腕出踝中，直上循臂骨下廉，
出肘內側兩骨之間，上循臑外後廉，出肩解繞肩胛，交肩上入缺盆，
絡心循咽，下膈抵胃，屬小腸；其支者，從缺盆循頸上頰，至目銳眥，
卻入耳中；其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴（見圖五十四）。
</pre>
<pre data-sec="p">
主題：小腸經循行歌
條文：
手太陽經小腸脈，小指之端起少澤，循手外側出踝中，循臂骨出肘內側，
上循臑外出後廉，直過肩解繞肩胛，交肩下入缺盆內，向腋絡心循咽嗌，
下膈抵胃屬小腸；一支缺盆貫頸頰，至目銳眥卻入耳，復從耳前仍上頰，
抵鼻升至目內眥，斜絡於顴別絡接。
註：[1]手太陽小腸之脈，從小指內側少陰之脈少衝穴循小指之端少澤穴起，
　　   循手外側前谷後谿穴，從後谿上腕至腕骨穴，從腕骨出踝中， 
　　   入陽谷、養老穴也。
　　[2]從養老直上，循臂骨下廉，支正穴也。
　　[3]從支正出肘內側兩筋間，小海穴也。
　　[4]從小海上循臑外後廉，出肩解肩貞穴，繞肩胛臑穴上肩，天宗穴也。
　　[5]從天宗循行秉風、曲垣等穴，從肩中俞入缺盆穴，散而內行， 
　　   絡心循咽下膈，抵胃屬小腸之分。
　　[6]其支者，從缺盆循頸入天窗、天容穴，上頰顴髎穴，至目銳眥， 
　　   卻入耳中聚於聽宮穴也。
　　[7]其別支從頰上頜抵鼻，至目內眥，以交於足太陽經。
</pre>
<pre data-sec="p">
主題：小腸經穴歌
條文：
手太陽經小腸穴，少澤先於小指設，前谷後谿腕骨間，陽谷須同養老列，
支正小海上肩貞，臑俞天宗秉風合，曲垣肩外復肩中，天窗循次上天容，
此經穴數一十九，還有顴髎入聽宮。
</pre>
<pre data-sec="p">
主題：小腸經分寸歌
條文：
小指端外為少澤，前谷本節前外側，節後橫紋取後谿，腕骨腕前骨陷側。
陽谷銳骨下陷肘，腕上一寸名養老，支正外側上四寸，小海肘端五分好，
肩貞肩端後陷中，臑俞肩臑骨陷考。（肩臑骨陷者，下胛骨上舉臂陷中取之也），
天宗肩骨下陷中，秉風肩上小髃空（肩上髃骨後，舉肩有空）， 
曲垣肩中曲胛陷，外俞上胛一寸從（即外肩俞。肩胛上廉，上脊三寸）。
中俞大椎二寸旁，天窗曲頰動陷詳，天容耳下曲頰後，顴髎面頄銳骨量，
（面頄骨下廉銳骨端陷中）
聽宮中耳珠子上（耳中珠子大如赤小豆），
此為小腸手太陽。
註：[1]少澤穴，在手小指外側端，去爪甲角一分陷中，是其穴也。
　　[2]從少澤上行，手小指外側本節前陷中，前谷穴也。
　　[3]從前谷上行，手小指本節後，外側橫紋尖上陷中，仰手握拳取之， 
　　   後谿穴也。
　　[4]從後谿上行，手掌外側，腕前起骨下罅縫陷中，腕骨穴也。
　　[5]從腕骨上行，手掌外側，腕下銳骨下陷中，陽谷穴也。
　　[6]從陽谷上行，手下銳骨上，一空腕後一寸許陷中，養老穴也。
　　[7]從養老上行外廉四寸，支正穴也。
　　[8]從支正上行，肘外大骨外，去肘端五分陷中，屈手向頭取之， 
　　   小海穴也。
　　[9]從小海上行，肩曲胛骨下，大骨傍兩骨解間，肩端後陷中， 
　　   肩貞穴也。
　　[10]從肩貞上行肩端，臑上肩骨下，胛骨上廉陷中，舉臂取之， 
　　   臑俞穴也。
　　[11]從臑俞上行，肩骨下陷中，天宗穴也。
　　[12]從天宗上行，肩上小胛骨，舉臂有空，秉風穴也。
　　[13]從秉風上行肩中央，曲胛陷中，按之應手痛，曲垣穴也。
　　[14]從曲垣上行，肩胛上廉，去脊傍開三寸陷中，肩外俞穴也。
　　[15]從肩外俞上行，肩胛內廉，去脊督脈之大椎穴傍開二寸陷中， 
　　   肩中俞穴也。
　　[16] 從肩中俞上行，頸大筋前曲，頰下動脈應手陷中，天窗穴也。
　　[17] 從天窗上行，耳下曲頰後，天容穴也。
　　[18] 從天容上行，面頄骨下廉，銳骨端陷中，顴髎穴也。
　　[19] 從顴髎上行耳中之珠，聽宮穴也（圖五十五）。
</pre>
<pre data-sec="p">
主題：膀胱經文
條文：
經云：膀胱者州都之官，津液藏焉，氣化則能出矣。
又云：膀胱當十九椎，居腎之下，大腸之前，有下口，無上口，
當臍上一寸水分穴處，為小腸下口，乃膀胱上際，水液由此別迴腸隨氣泌滲而入，
其出入皆由氣化，入氣不化，則水歸大腸，而為泄瀉，出氣不化，則閉塞下竅，
而為癃腫也，是經多血少氣。
「難經」曰：膀胱重九兩二銖，縱廣九寸，盛溺九升九合，口廣二寸半
（圖五十六）。
</pre>
<pre data-sec="p">
主題：膀胱循行經文
條文：
膀胱足太陽之脈，起於目內眥，上額交顛；
其直者，從顛入絡腦，還出別下項，循肩髆，內俠脊，抵腰中，
入循膂絡腎，屬膀胱；
其直者，從腰中下挾脊，貫臀入膕中；
其支者，從髆內左右，別下貫胛，挾脊，內過髀樞，循髀外從後廉下合膕中，
以下貫腨內，出外踝之後，循京骨至小趾外側（見圖五十七）。
</pre>
<pre data-sec="p">
主題：膀胱經循行歌
條文：
足太陽經膀胱脈，目內眥上起額尖；支者顛上至耳角，直者從顛腦後懸，
絡腦還出別下項，仍循肩膊俠脊邊，抵腰膂腎膀胱內，一支下與後陰連。
貫臀斜入委中穴，一支膊內左右別，貫胛俠脊過髀樞，臂內後廉膕中合，
下貫腨內外踝後，京骨骨下趾外側。
註：[1]足太陽之脈，起目內眥睛明穴，從睛明循行攢竹、曲差、五處， 
　　   上額交顛，入承光穴，從承光循行通天穴。
　　[2]其支者，從顛至耳上角，交於足少陽之經。
　　[3]其直者，從通天入絡於大杼穴，從大杼循行肩髆內風門穴， 
　　   從風門循行肺俞穴，挾脊抵腰中厥陰俞穴，從厥陰俞穴、循行心俞、
　　   鬲俞、肝俞、膽俞、脾俞、胃俞、三焦俞，入循膂絡腎， 
　　   從腎俞穴循行氣海俞，從腰中下挾脊大腸俞穴，從大腸俞循行關元俞、
　　   膀胱俞、中膂俞、白環俞等穴，別行上髎、次髎、中髎、下髎等穴。
　　[4]其支者，又復上肩膊內，從附分穴循行貫胛魄戶穴， 
　　   從魄戶循行挾脊內膏盲、神堂、譩譆、鬲關、魂門、陽綱、意舍、胃倉、
　　   肓門、志室、胞肓等穴，過髀樞秩邊穴，從秩邊穴循髀外從後廉、承扶、
　　   浮郄、委陽穴，下合膕中委中穴，從委中循行合陽穴， 
　　   從合陽下貫腨內承筋穴，從承筋循行承山、飛揚、附陽等穴， 
　　   從附陽穴循行出外踝之後昆侖穴，從昆侖穴循行僕參、申脈、金門等穴， 
　　   循京骨即本經之京骨穴也。
　　[5]從京骨循行束骨、通谷穴，至小趾外側至陰穴而終， 
　　   以交於足之少陰經也。
</pre>
<pre data-sec="p">
主題：膀胱經穴歌
條文：
足太陽經六十三，晴明攢竹曲差參，五處承光接通天，絡卻玉枕天柱邊。
大杼風門引肺俞，厥陰心膈肝膽居，脾胃三焦腎俞次，大腸小腸膀胱如，
中膂白環皆二行，去脊中間二寸許，上髎次髎中髎下，會陽須下尻旁取。
還有附分在三行，二椎三寸半相當，魄戶膏肓與神堂，譩譆膈關魂門旁，
陽綱意舍及胃倉，育門志室連胞肓，秩邊承扶殷門穴，浮郄相鄰是委陽，
委中再下合陽去，承筋承山相次長。飛揚附陽達崑崙，僕參申脈過金門，
京骨束骨近通谷，小趾外側尋至陰。
</pre>
<pre data-sec="p">
主題：膀胱經分寸歌
條文：
足太陽兮膀胱經，目內眥角始睛明，眉頭陷中攢竹取，曲差神庭傍寸五，
五處直行後五分，承通絡卻玉枕穴，後循俱是寸五行。天柱項後髮際內，
大筋外廉之陷中，自此脊中開二寸，第一大杼二風門，三椎肺俞厥陰四，
心五督六膈七論，肝九膽十脾十一，胃俞十二椎下尋，十三三焦十四腎，
氣海俞在十五椎，大腸十六小十八，膀胱俞穴十九椎，中膂內俞二十下，
白環俞穴廿一椎，小腸俞至白環內，腰空上次中下髎，會陽陰微尻骨旁，
背開二寸二行了，別從脊中三寸半，第二椎下為附分，三椎魄戶四膏盲，
第五椎下神堂尊，第六噫嘻膈關七，第九魂門陽綱十，十一意舍之穴存， 
十二會倉穴已分，十三盲門端正在，十四志室不須論，十九胞肓廿秩邊， 
背部三行下行循。承扶臀下股上約，下行六寸是殷門，從殷外斜上一寸， 
曲膝得之浮郄尋，委陽承扶下六寸，從郄內斜並殷門。委中膝膕約紋裏， 
此下三寸尋合陽，承筋腳跟上七寸，穴在腨腸之中央，承山腿肚分肉間， 
外踝七寸上飛揚，附陽外踝上三寸，崑崙外跟陷中央，僕參亦在踝骨下， 
申脈踝下五分張，金門申脈下一寸，京骨外側大骨當，束骨本節後陷中， 
通谷節前限中量，至陰小趾外側端，去爪甲之韭葉方。
註：[1]睛明穴，在目內眥外一分宛宛中，是其穴也。
　　[2]從睛明上行眉頭陷者中，攢竹穴也。
　　[3]從攢竹上行髮際間，俠督脈之神庭穴傍開一寸五分，正頭取之， 
　　   曲差穴也。
　　[4]從曲差後五分，俠督脈之上星，傍開一寸五分，五處穴也。
　　[5]從五處後行一寸五分，承光穴也。
　　[6]從承光後行一寸五分，俠督脈之百會穴，傍開一寸五分，通天穴也。
　　[7]從通天後行一寸五分，絡卻穴也。
　　[8]從絡卻後行一寸五分，玉枕穴也。
　　[9]從玉枕俠項後大筋外廉，下行髮際陷中，天柱穴也。
　　[10]從天柱下行，以項從第一椎下，兩旁相去脊中各二寸陷中， 
　　   正坐取之，大杼穴也。
　　[11]從大杼下行，二椎下兩旁，各去脊中二寸，正坐取之，風門穴也。
　　[12]從風門行三椎下，去脊中各二寸，又以手搭背左取右，右取左， 
　　   當中指末是穴之處，正坐取之，肺俞穴也。
　　[13]從肺俞行四椎下，去脊中二寸，正坐取之，厥陰俞穴也。
　　[14]從厥陰俞行五椎下，去脊中二寸，正坐取之，心俞穴也。
　　[15]從心俞行六椎下，去脊中二寸，正坐取之，督俞穴也。
　　[16]從督俞行七椎下，去脊中二寸，正坐取之，膈俞穴也。
　　[17]從膈俞行九椎下，去脊中二寸，正坐取之，膽俞穴也。
　　[18]從膽俞行十一椎下，去脊中二寸，正坐取之，脾俞穴也。
　　[19]從脾俞行十二椎下，去脊中二寸，正坐取之，胃俞穴也。
　　[20]從胃俞行十三椎下，去脊中二寸，正坐取之，三焦俞穴也。
　　[21]從三焦俞行十四椎下，與臍平，去脊中二寸，正坐取之，腎俞穴也。
　　[22]從腎俞行十五椎下，去脊中二寸，正坐取之，氣海俞穴也。
　　[23]從氣海俞行十六椎下，去脊中二寸，伏而取之，大腸俞穴也。
　　[24]從大腸俞行十七椎下，去脊中二寸，伏而取之，關元俞穴也。
　　[25]從關元俞行十八椎下，去脊中二寸，伏而取之，小腸俞穴也。
　　[26]從小腸俞行十九椎下，去脊中二寸，伏而取之，膀胱俞穴也。
　　[27]從膀胱俞行二十椎下，去脊中二寸，俠脊胛起肉間，伏而取之， 
　　   中膂俞穴也。
　　[28]從中膂俞行二十椎下，去脊中二寸，伏而取之，白環俞穴也。
　　[29]從白環俞行腰胛骨下一寸，俠脊兩旁第一空陷中，上髎穴也。
　　[30]從上髎行俠脊旁第二空陷中，次髎穴也。
　　[31]從次髎行俠脊旁第三空陷中，中髎穴也。
　　[32]從中髎行俠脊旁第四空陷中，下髎穴也。
　　[33]從下髎行陰尾尻骨兩旁五分許，會陽穴也。
　　[34]自大杼別脈，其支者從肩膊內循行第二椎下， 
　　   附項內廉兩旁相去脊中各三寸半，正坐取之，附分穴也。
　　[35]從附分下行第三椎下，去脊中各三寸半，正坐取之，魄戶穴也。
　　[36]從魄戶下行第四椎下，五椎上，此穴屆中，去脊中各三寸半， 
　　   正坐曲脊取之，膏肓穴也。
</pre>
<pre data-sec="p">
主題：膀胱經分寸歌(續)
註：
　　[37]如取其穴，先令病人正坐曲脊伸兩手，以臂著膝前令正， 
　　   直手大指與膝頭齊，以物支肘，勿令臂動，乃從胛骨上角， 
　　   摸索至胛骨下頭，其間當有四肋三間，依胛骨之際， 
　　   相去骨際如容側指許，按其中一間空處，自覺牽引肩，是其穴也。
　　[38]從膏肓下行第五椎下，去脊中各三寸半陷中，正坐取之，神堂穴也。
　　[39]從神堂下行第六椎下，去脊中各三寸半，正坐取之，譩譆穴也， 
　　   以手重按，病人呼「譩譆」，是其穴處，蓋因其痛也。
　　[40]從譩譆下行第七椎下，去脊中各三寸半陷中，正坐開肩取之， 
　　   膈關穴也。
　　[41]從膈關下行第九椎下，相去脊中各三寸半陷中，正坐取之， 
　　   魂門穴也。
　　[42]從魂門下行第十椎下，去脊中三寸半陷中，正坐取之，陽綱穴也。
　　[43]從陽綱下行第十一椎下，去脊中三寸半，正坐取之，意舍穴也。
　　[44]從意舍下行第十椎下，去脊中各三寸半，正坐取之，胃倉穴也。
　　[45]從胃倉下行第十三椎下，去脊中各三寸半，正坐取之，肓門穴也。
　　[46]從肓門下行第十四椎下，去脊中各三寸半陷中，正坐取之， 
　　   志室穴也。
　　[47]從志室下行第十九椎下，去脊中各三寸半，伏而取之，胞肓穴也。
　　[48]從胞肓下行第二十一椎下，去脊中各三寸半陷中，伏而取之， 
　　   秩邊穴也。
　　[49]從秩邊下行在尻臂下，陰骨上約紋中，承扶穴也。
　　[50]從殷門外循斜上一寸，屈膝得之，浮郗穴也，故在委陽穴上一寸也。
　　[51]從浮郄下行，仍在承扶穴下六寸，屈伸取之，委陽穴也， 
　　   而與會陽下合膕中也。
　　[52]從委陽下行，膕中央約紋動脈陷中，令人仰頦至地，伏臥取之， 
　　   委中穴也。
　　[53]從委中下行，膝膕約紋下三寸，合陽穴也。
　　[54]從合陽下行，腨腸中央陷中，腳跟上七寸，承筋穴也。
　　[55]從承筋下行，腿肚下尖分肉間陷中，承山穴也。
　　[56]從承山斜行，足外踝後上七寸陷中，飛揚穴也。
　　[57]從飛揚下行，足外踝上三寸筋骨之間，附陽穴也。
　　[58]從附陽下行，足外踝後五分，跟骨上陷中，細動脈應手，昆俞穴也。
　　[59]從昆侖下行，足跟骨下陷中，拱足取之，僕參穴也。
　　[60]從僕參行足外踝下五分陷中，容爪甲許白肉際，申脈穴也。
　　[61]從申脈下行一寸，金門穴也。
　　[62]從金門行足外側大骨下，赤白肉際陷下，京骨穴也。
　　[63]按而得之，小指本節後大骨，名京骨，其穴在骨下。
　　[64]從京骨行足小指外側，本節前陷中，通谷穴也。
　　[65]從通谷行足小指外側，去爪甲角如韭葉，至陰穴也（見圖五十八）。
</pre>
<pre data-sec="p">
主題：心包絡解
條文：
張介賓曰：心包一臟，「難經」言其無形。
滑壽曰：心包一名手心主，以臟象校之，在心下橫膜之上，豎膜之下，
其與橫膜相黏，而黃脂裹者心也，脂䐄之外，有細筋膜如絲，
與心肺相連者，心包也，
此說為是，凡言無形者非。
「靈蘭秘典論」有：十二官，獨少心包一官，而有膻中者，臣使之官，
喜樂出焉二句。
今考心包，臟居膈上，經始胸中，正值膻中之所，位居相火，代君行事，
實臣使也，此一官即此經之謂歟（圖五十九）。
</pre>
<pre data-sec="p">
主題：心包絡經循行經文
條文：
手厥陰心主包絡之脈，起於胸中，出屬心包絡，下膈歷絡三焦；
其支者，循胸中出脅下腋三寸，上抵腋下，循臑內，行太陰少陰之間，
入肘中，下臂行兩筋之間，入掌中，循中指出其端；
其支者，別掌中循小指次指出其端（見圖六〇）。
</pre>
<pre data-sec="p">
主題：心包絡經循行歌
條文：
手厥陰心主起胸，屬包下膈三焦宮，支者循胸出脅下，脅下連腋三寸同，
仍上抵腋循臑內，太陰少陰兩經中，指透中衝支者別，小指次指終相通。
註：[1]手厥陰心包絡之脈，起於胸中，出而外行天池穴，屬心包絡之經也。
　　[2]內行下膈，歷絡三焦者，散佈於腹之上、中、下也。
　　[3]其支者，循胸中出腋下三寸，即天池穴處也。
　　[4]從天池循臑內至天泉，從天泉穴行手太陰、手少陰兩脈之間， 
　　   入肘內曲澤穴，下臂行兩筋之間，郄門、間使、內關、大陵四穴， 
　　   入掌中勞宮穴，從勞宮循中指出其端，中衝穴也。
　　[5]其本支之別支，別行掌中，循小指次指之端， 
　　   以交於手少陽三焦經也。
</pre>
<pre data-sec="p">
主題：心包絡經穴歌
條文：心包九穴天池近，天泉曲澤郄門認，間使內關踰大陵，勞宮中衝中指盡。
</pre>
<pre data-sec="p">
主題：心包絡經分寸歌
條文：
心絡起自天池間，乳後傍一腋下三，天泉繞腋下二寸，曲澤屈肘陷中參，
郄門去腕後五寸，間使腕後三寸然，內關去腕後二寸，大陵掌後橫紋間，
勞宮屈拳名指取，中指之末中衝端。
註：[1]天池穴，在乳傍一二寸許，直腋下行三寸，脅之撅起肋骨間， 
　　   是其穴也。
　　[2]從天池穴斜上，繞腋循臂內廉下行二寸，舉臂取之，天泉穴也。
　　[3]從天泉穴下行，肘內廉大筋內側,橫紋頭下陷中動脈，曲澤穴也。
　　[4]從曲澤穴下行，掌後去腕五寸，郄門穴也。
　　[5]從郄間穴下行，掌後去脘三寸，兩筋間陷中，間使穴也。
　　[6]從間使穴下行，掌後去腕二寸兩筋間，內關穴也。
　　[7]從內關穴下行，掌後骨下橫紋中兩筋間陷中，大陵穴也。
　　[8]從大陵穴下行，掌中央動脈，屈無名指取之，勞宮穴也。
　　[9]從勞宮穴下行，手中指之端，去爪甲角如韭葉許陷中，中衝穴也
　　   （圖六十一）。
</pre>
<pre data-sec="p">
主題：腎臟經文
條文：
經云：腎者作強之官，伎巧出焉。
又云：腎附於脊之十四椎下，是經常少血多氣，其合骨也，其榮發也，
開竅於三陰。
「難經」曰：腎有兩枚，重一斤二兩，主臟精與志。
「中藏經」曰：腎者精神之舍，性命之根。
張介賓云：腎有兩枚，形如豇豆，相共而曲，附於脊之兩旁，相去各一寸五分，
外有黃脂包裹，各有帶二條，上條繫於心，下條趨脊下大骨，在脊骨之端，
如半手許，中有兩穴，是腎帶經過處，上行脊髓至腦中，連於髓海（圖六十二）。
</pre>
<pre data-sec="p">
主題：腎經循行經文
條文：
腎足少陰之脈，起於小趾之下，斜趨足心湧泉穴，出於然谷之下，
循內踝之後，別入跟中，以上腨內出膕內廉，上股內後廉，實脊屬腎，絡膀胱；
其直者，從腎上貫肝膈，入肺中，循喉嚨，俠舌本；
其支者，從肺出絡心，注胸中（見圖六十三）。
</pre>
<pre data-sec="p">
主題：腎經循行歌
條文：
足腎經脈屬少陰，小趾斜趨湧泉心，然骨之下內踝後，別入跟中腨內侵，
出膕內廉上股內，貫脊屬腎膀胱臨，直者屬腎貫肝膈，入肺循喉舌本尋，
支者從肺絡心內，仍至胸中部分深。
註：[1]足少陰腎經之脈，起自足太陽小趾之下至陰穴，斜趨足心湧泉穴， 
　　   出然谷穴之下，循內踝後太谿穴，從太谿別入跟中大鐘穴， 
　　   從大鐘循行水泉、照海、復溜、交信穴，上腓內築賓穴也。
　　[2]從築賓出膕內廉陰谷穴，從陰谷上股內後廉橫骨穴， 
　　   從橫骨內貫行脊屬腎絡膀胱也。
　　[3]其直者，從腎外行大赫、氣穴、四滿、中注、肓俞、商曲、石關、
　　   陰都、通谷等穴，入內貫肝與膈，外循幽開、步廊、神封、靈壚、
　　   神藏、彧中、俞府等穴，入肺中循喉嚨，俠舌本而終。
　　[4]其支者，從肺出絡心，注胸中，以交於手厥陰經也。
</pre>
<pre data-sec="p">
主題：腎經穴歌
條文：
足少陰腎二十七，湧泉然谷照海出，太谿水泉連大鍾，復溜交信築賓立，
陰谷橫骨趨大赫，氣穴四滿中注得，盲俞商曲石關蹲，陰都通谷幽門值， 
步廊神封出靈墟，神藏或中俞府畢。
</pre>
<pre data-sec="p">
主題：腎經分寸歌
條文：
足掌心中是湧泉，然谷內踝一寸前，太谿踝後跟骨上，大鍾跟後踵中邊，
水泉谿下一寸覓，照海踝下四分真，復溜踝後上二寸，交信後上二寸聯，
二穴只隔筋前後，太陰之後少陰前，
（前傍骨是復溜，後傍骨是交信，二穴只隔一條筋）
築寶內踝上腨分，陰谷膝下曲膝間。橫骨大赫並氣穴，四滿中注亦相連，
五穴上行皆一寸，中行旁開五分邊，肓俞上行亦一寸，但在臍旁半寸間，
商曲石關陰都穴，通谷幽門五穴聯，五穴上下一寸取，各開中行五分前，
步廊神封靈墟穴，神臟或中俞府安。上行寸六旁二寸，俞府璇璣二寸觀。
註：[1]湧泉穴，在足心陷中，伸腿屈足，卷指宛宛中，是其穴也。
　　[2]從湧泉上行足內踝，前起大骨下陷中，然谷穴也。
　　[3]從然谷行足內踝後五分，跟骨上動脈陷中，太谿穴也。
　　[4]從太谿行足跟後，跟中大骨上兩筋間，大鐘穴也。
　　[5]從大鍾行太谿下一寸，內踝下，水泉穴也。
　　[6]從水泉行足內踝下四分，前後有筋，上有踝骨，下有軟骨之中陷中，
　　   照海穴也。
　　[7]從照海行足內踝後，除踝上二寸許，前傍骨陷中，復溜穴也。
　　[8]從復溜斜外，上行復溜穴之後，二寸許後傍筋，交信穴也。
　　[9]從交信斜外，上行過三陰交穴，上腨分中，築賞穴也， 
　　   腨者俗名腿肚也。
　　[10]從築賓上行，膝下內輔骨後，大筋小筋上，按之應手，屈膝得之， 
　　   陰谷穴也。
　　[11]從陰谷上行，入腹，陰上橫骨中，宛曲如仰月中央， 
　　   去任脈之中行旁開五分，橫骨穴也。
　　[12]從橫骨上行一寸，大赫穴也，亦去中行旁開五分。
　　[13]從大赫上行一寸，氣穴穴也，亦去中行旁開五分。
　　[14]從氣穴穴上行一寸，四滿穴也，亦去中行旁開五分。
　　[15]從四滿上行一寸，中注穴也，亦去中行旁開五分。
　　[16]從中注上行一寸，肓俞穴也直臍旁去臍中五分。
　　[17]從肓俞上行二寸，商曲穴也，亦去中行旁開五分。
　　[18]從商曲上行一寸，石關十也，亦去中行旁開五分。
　　[19]從石關上行一寸，陰都穴也，亦去中行旁開五分。
　　[20]從陰都上行一寸陷中，通谷穴也，亦去中行旁開五分。
　　[21]從通谷上行一寸陷中、幽門穴也，亦去中行旁開五分。
　　[22]從幽門上行一寸六分陷中，去中行旁開二寸，仰而取之，步廊穴也。
　　[23]從步廊上行一寸六分，亦去中行旁開二寸，仰而取之，神封穴也。
　　[24]從神封上行一寸六分，亦去中行旁開二寸陷中，仰而取之， 
　　   靈墟穴也。
　　[25]從靈墟上行一寸六分，亦去中行旁開二寸陷中，仰而取之， 
　　   神藏穴也。
　　[26]從神藏上行一寸六分，亦去中行旁開二寸陷中，仰而取之， 
　　   彧中穴也。
　　[27]從或中上行巨骨，下俠任脈之璇璣，中行旁開二寸陷中，仰而取之，
　　   是其穴也（見圖六十四）。
</pre>
<pre data-sec="p">
主題：三焦經文
條文：
經云：上焦如霧，中焦如漚，下焦如瀆。又云：三焦者，決瀆之官，水道出焉。
又云：是經少血多氣。
「中藏經」云：三焦者人之三元之氣也，號曰中清之腑，總領五臟六腑，
營衛經絡，內外、左右、上下之氣也。三焦通則內外、左右、上下皆通也，
其於周身灌體，和內調外，榮左養右，導上宣下，莫大於此也（圖六十五）
</pre>
<pre data-sec="p">
主題：三焦經循行經文
條文：
三焦手少陰之脈，起於小指次指之端，上出次指之間，循手表腕，
出臂外兩骨之間，上貫肘，循臑外，上肩而交出足少陽之後，入缺盆，布膻中，
散絡心包，下膈循屬三焦；
其支者，從膻中上出缺盆，上項俠耳後，直上出耳上角，以屈下頰，至䪼；
其支者，從耳後入耳中，出走耳前，過客主人前交頰，至目銳眥（圖六十六）
</pre>
<pre data-sec="p">
主題：三焦經循行歌
條文：
手經少陽三焦脈，起自小指次指端，兩指岐骨手腕表，上出臂外兩骨間，
寸後臑外循肩上，少陽之後交別傳，下入缺盆膻中分，散絡心包膈裏穿，
支者膻中缺盆上，上項耳後耳角旋，屈下至䪼仍注頰，一支出耳入耳前，
卻從上關交曲頰，至目銳眥乃盡焉。
註：[1]手少陽三焦之脈，起於手小指次指外側之端關衝穴， 
　　   從關衝上出兩指之間液門、中渚穴，循手腕表陽池穴也。
　　[2]從陽池出臂外兩骨之間，外關、支溝、會宗、三陽絡、四瀆、
　　   天井等穴，上貫肘，清冷淵穴也，從清冷淵穴循臂臑外， 
　　   上肩消濼、臑會、肩髎、天髎穴，從天髎穴而交出足少陽經之後， 
　　   入缺盆，布膻中，散絡心包，下膈內而循行之分，皆屬三焦經也。
　　[3]其支者，從膻中上外出缺盆，上項天牖穴，從天牖穴循系耳後， 
　　   翳風、瘈脈、顱息穴，從顱息直上出耳上角角孫穴、絲竹空穴也。
　　[4]由角孫、絲竹空穴繞耳以屈下至䪼和髎、耳門穴也。
　　[5]其本支之別，支者從耳後出走耳前，過足少陽經客主人穴之前， 
　　   交頰至目銳之外眥，以交於足少陽膽經也。
</pre>
<pre data-sec="p">
主題：三焦經穴歌
條文：
手少三焦所從經，二十二穴起關衝，液門中渚陽池歷，外關支溝會宗逢，
三陽絡入四瀆內，注於天井清冷中，消濼臑會肩髎穴，天髎天牖經翳風，
瘈脈顱息角耳門，和髎上行絲竹空。
</pre>
<pre data-sec="p">
主題：三焦經分寸歌
條文：
無名外側端關衝，液門小次指陷中，中渚液門上一寸，陽池腕前表陷中，
外關腕後二寸陷，關上一寸支溝名，外關一寸會宗平，斜上一寸三陽絡，
肘前五寸四瀆稱，天井肘外大骨後，肘上一寸骨罅中。井上一寸清冷淵，
消濼臂肘分肉端，臑會肩端前二寸，肩髎臑上陷中看，天髎肩井後一寸，
天牖耳下一寸間，翳風耳後尖角陷，瘈脈耳後青脈看，顱息青絡脈之上，
角孫耳上髮下間，耳門耳前缺處陷，和髎橫動脈耳前，欲覓絲竹空何在，
眉後陷中仔細觀。
註：[1]關衝穴，在手四指外側端，去爪甲角如韭葉許，是其穴也。
　　[2]從關衝上行手小指次指岐骨間陷中，握拳取之，液門穴也。
　　[3]從液門上行一寸陷中，中渚穴也。
　　[4]從中渚由四指本節直上，行手表腕上陷中，陽池穴也。
　　[5]從陽池上行手腕後二寸，兩骨間陷中，外關穴也。
　　[6]從外關上行一寸，兩骨間陷中，支溝穴也。
　　[7]從支溝外開一寸，會宗穴也。
　　[8]以支溝會完二穴相併平直，空中相離一寸也。
　　[9]從會宗內斜上一寸，臂上大交脈，三陽絡穴也。
　　[10]從三陽絡上行肘前五寸外廉陷中，四瀆穴也。
　　[11]從四瀆斜外上行，肘外大骨尖後，肘上一寸，兩筋叉骨罅中， 
　　   屈肘拱胸取之，天井穴也。
　　[12]從天井上行一寸，伸肘舉臂取之，清冷淵穴也。
　　[13]從清冷淵上行，肩下外臂肘上分肉間，消濼穴也。
　　[14]從消濼上行，臑外去肩端三寸宛宛中，臑會穴也。
　　[15]從臑會上行，肩端臑上陷中，斜舉臂取之，肩髎穴也。
　　[16]從肩髎上行肩，缺盆中直，是少陽經之肩井穴；後一寸，天牖穴也。
　　[17]從天牖上行，頸大筋外缺盆上，手太陽經天容穴後， 
　　    足太陽經天柱穴前，足少陽膽經完骨穴下，髮際中上斜俠耳後一寸，
天牖穴也。
　　[18]從天牖上行，耳後尖角陷中，按之引耳中痛，翳風穴也。
　　[19]從翳風上行，耳後中間難雞足青絡脈中，瘈脈穴也。
　　[20]從瘈脈行耳後上間青絡脈中，顱息穴也。
　　[21]從顱息上行，耳上上間，髮際下開口有空，角孫穴也。
　　[22]從角孫繞行耳前，起肉當耳缺處陷中，耳門穴也。
　　[23]從耳門行耳前，兌髮下橫動脈中，和髎穴也（兌髮下即鬢角也）。
　　[24]從和髎上行眉後陷中，絲竹空穴也（見圖六十七）。
</pre>
<pre data-sec="p">
主題：膽府經文
條文：
經云：膽者中正之官，決斷出焉。又云：是經少血多氣。
又曰：凡十一臟皆取決於膽也。
『難經』曰：膽在肝之短葉間，重三兩三銖，長三寸，盛精汁三合。
『中臟經』曰：膽者清淨之腑，號曰將軍，主藏而不瀉（圖六十八）
</pre>
<pre data-sec="p">
主題：膽經循行經文
條文：
膽足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸行手少陽之前，
至肩上卻交出手少陽之後，入缺盆；其支者，從耳後入耳中，出走耳前，
至目銳眥後；
其支者，別銳眥，下大迎，合手少陽抵於䪼，下加頰車，下頸合缺盆以下胸中，
貫膈、絡肝、屬膽、循脅裏，出氣街，繞毛際橫入髀厭中；
其直者，從缺盆下腋循胸，過季脅，下合髀厭中，以下循髀陽，出膝外廉，
下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上入小趾之間；
其支者，別跗上入大趾之間，循大趾岐骨內，出其端，還貫爪甲，出三毛
（圖六十九）。
</pre>
<pre data-sec="p">
主題：膽經循行歌
條文：
足脈少陽膽之經，始從兩目銳眥生，抵頭循角下耳後，腦空風池次第行，
手少陽前至肩上，交少陽右上缺盆，支者取後貫耳內，出走耳前銳眥循，
一支銳眥大迎下，合乎少陽抵項根，下加頰車缺盆合，入胸貫膈絡肝經，
屬膽仍從脅裏過，下入氣街毛際縈，橫入髀厭環跳內；直者缺盆下腋膺，
過季脅下脾厭內，出膝外廉是陽陵，外輔絕骨踝前過，足跗小指次指分；
一支別從大指去，三毛之際接肝經。
註：[1]足少陽膽經之脈，起於目之銳眥瞳子髎穴，循聽會客主人穴， 
　　   上抵頭角頷厭穴也。
　　[2]從頷厭循懸顱、懸釐、曲鬢率谷，折而下行於耳後之天衝、浮白、
　　   竅陰、完骨等穴；折外上行至眉頭之本神、陽白、臨泣、目窗、正營、
　　   承靈、腦空等穴；循頸至風池穴，過手少陽經天牖穴之前， 
　　   至肩上本經之肩井穴：從肩井穴卻交出於手少陽之後，入缺盆處也。
　　[3]其支者，從耳後入耳中，出走耳前至目銳眥後，此一小支之脈， 
　　   行於頭之無穴處也。
　　[4]又其支者，別銳眥下手陽明之大迎穴，合手少陽抵於䪼下，加頰車，
　　   下頸合缺盆穴，以下入胸中，貫膈絡肝，屬膽，循脅裏，出氣街， 
　　   散佈臟腑，外繞毛際，橫入髀厭中環跳穴也。
　　[5]其支者，從缺盆下腋淵液穴；從淵液穴循胸輒筋穴也。
　　[6]從輒筋、日月穴過季脅至京門穴；從京門循行帶脈、五樞、維道、
　　   居髎，下合髀厭中環跳穴也。
　　[7]從環跳穴以下循髀陽風市穴；從風市循行瀆、陽關、出膝外廉，
　　   陽陵泉穴也。
　　[8]從陽陵泉穴循陽交、外丘、光明等穴，下外輔骨之前陽輔穴也。
　　[9]從陽輔穴直下抵絕骨之端懸鐘穴；從懸鐘下出外踝之前丘墟穴；
　　   從丘墟穴循足跗上臨泣穴也。
　　[10]從臨泣入小指次指之間俠谿、竅陰穴也。
　　[11]其支者，別跗上入大指之間，循大指岐骨內，出其端， 
　　   還貫爪出三毛，以交於足厥陰肝經也。
</pre>
<pre data-sec="p">
主題：膽經穴歌
條文：
足少陽經瞳子髎，四十三穴行迢迢，聽會客主頷厭集，懸顱懸釐曲鬢翹。
率谷天衝浮白次，竅陰完骨本神至，陽白臨泣開目窗，正營承靈腦空是。
風池肩井淵液長，輒筋日月京門鄉，帶脈五樞維道續，居髎環跳市中瀆。
陽關陽陵復陽交，外丘光明陽輔高，懸鐘丘墟足臨泣，地五俠谿竅陰畢。
</pre>
<pre data-sec="p">
主題：膽經分寸歌
條文：
足少陽兮四十三，頭上廿穴分三折，起自瞳子至風池，積數陳之依次第。
外眥五分瞳子髎，耳前陷中尋聽會，上行一寸客主人，內斜曲角上頷厭，
後行顱中釐下穴，曲鬢耳前上髮際，率谷入髮寸半安，天衝耳後斜二寸，
浮白下行一寸間，竅陰穴在枕骨下，完骨耳後入髮際，量得四分須用記，
本神神庭旁三寸，入髮四分耳上繫，陽白眉上一寸許，上行五分是臨泣。
臨後寸半目窗穴，正營承靈及腦空，後行相去一寸五，風池耳後髮陷中。
肩井肩上陷中取，大骨之前寸半明，淵液腋下行三寸，輒筋復前一寸行，
日月乳下二肋縫，下行五分是穴名。臍上五分傍九五，季肋俠脊是京門，
季下寸八尋帶脈，帶下三寸穴五樞，維道章下五三定，維下三寸居髎名，
環跳髀樞宛中陷，風市垂手中指終。膝上五寸中瀆穴，膝上二寸陽關尋，
陽陵膝下一寸住，陽交外踝上七寸，外丘外踝七寸同，此係斜屬三陽分，
踝上五寸定光明，踝上四寸陽輔穴，踝上三寸是懸鍾，丘虛踝前陷中取，
丘下三寸臨泣存，臨下五分地五會，會下一寸俠谿輪，欲覓竅陰穴何在？
小指次指外側尋。
註：[1]瞳子髎，在目銳眥去眥五分，是其穴也。
　　[2]從瞳子髎下外斜行，耳前起骨上面，下一寸耳珠下動脈宛宛中，
　　   開口有空，側臥張口口取之，聽會穴也。
　　[3]從聽會上直行一寸，開口有空，側臥張口取之，客主人穴也。
　　[4]從客主人上內斜行，兩太陽曲角上廉，頷厭穴也。
　　[5]從頷厭後行耳前曲角上，兩太陽之中，懸顱穴也。
　　[6]從懸顱後行，耳前曲角上，兩太陽下廉，懸顱穴也。
　　[7]從懸釐後行，耳前入髮際曲隅陷中，鼓頷有空，曲鬢穴也。
　　[8]從曲鬢後行耳上，入髮際寸半陷者宛宛中，嚼牙取之，率谷穴也。
　　[9]從率谷後行耳後三分許，入髮際二寸，天衝穴也。
　　[10]從天衝下行耳後，入髮際一寸，浮白穴也。
　　[11]從浮白下行耳後，高上枕骨下，搖動有空，竅陰穴也。
　　[12]從竅陰行耳後，入髮際四分，完骨穴也。
　　[13]從完骨折上行，神庭旁三寸；直耳上入髮際四分，本神穴也。
　　[14]從本神行眉上一寸，直瞳子，陽白穴也。
　　[15]從陽白上直行，入髮際五分陷中，正睛取之，臨泣穴也。
　　[16]從臨泣後行一寸，目窗穴也。
　　[17]從目窗後行一寸，正營穴也。
　　[18]從正營後行一寸五分，承靈穴也。
　　[19]從承靈後行一寸五分，腦空穴也。
　　[20]從腦空下行耳後，下髮際陷中，大筋外廉，按之引於耳中， 
　　   風池穴也。
　　[21]從風池下行肩上，會其支者，令缺盆上大骨前一寸半，以三指按取，
　　   當中指下陷中，肩井穴也。
　　[22]從肩井下行腋下三寸宛宛中，舉臂取之，淵液穴也。
　　[23]從淵液下行，復前一寸三肋端，橫直蔽骨旁七寸五分半，直兩乳， 
　　   側臥屈上足取之，輒筋穴也。
　　[24]從輒筋行乳下二肋端縫下五分，日月穴也。
　　[25]從日月行監骨腰中季肋本，俠脊臍上五分，旁開九寸半， 
　　   側臥屆上足伸下足舉臂取之，京門穴也。
　　[26]從京門下行季脅下一寸八分陷中，臍上二分，旁開八寸半， 
　　   帶脈穴也。
　　[27]從帶脈下三寸，五樞穴也。
　　[28]從五樞下行，過肝經之章門穴下五寸三分，維道穴也。
　　[29]從維道下行三寸，監骨上陷中，居髎穴也。
　　[30]從居髎下行髀樞中，側臥伸下足屈上足取之，環跳穴也。
　　[31]從環跳下行膝上外廉兩筋中，以手著腿中按盡處，風市穴也。
　　[32]從風市下髀骨外，膝上外廉五寸，分肉間陷中，中瀆穴也。
　　[33]從中瀆下行膝上二寸，犢鼻外陷中，陽關穴也。
　　[34]從陽關下行膝下一寸，外廉陷中，尖骨前筋骨間，蹲坐取之， 
　　   陽陵泉穴也。
　　[35]從陽陵泉下行，足外踝上七寸，內斜三陽分肉間，陽交穴也。
　　[36]從陽交行外踝上七寸外斜，外丘穴也。
　　[37]從外丘下行外踝上五寸，光明穴也。
　　[38]從光明下行一寸，輔骨前絕骨端，內斜三分，陽輔穴也。
　　[39]從陽輔下行三寸，外踝骨尖內動脈中，尋按取之，懸鍾穴也。
　　[40]從懸鍾行外踝下，斜前陷中，丘墟穴也。
　　[41]從丘墟下行三寸，在足小指四指本節後，足跗間陷中，臨泣穴也。
　　[42]從臨泣下行五分，足小指四指本節後間陷中，地五會穴也。
　　[43]從地五會下行一寸，足小指四指本節前，岐骨間陷中，俠谿穴也。
　　[44]從俠谿下行足小指四指外側端，去爪甲角如韭葉，竅陰穴也。
</pre>
<pre data-sec="p">
主題：肝臟經文
條文：
經云，肝者將軍之官，謀慮出焉。
又云：肝居膈下，上著脊之九椎下，是經常多血少氣，其合筋也，其榮爪也，
主藏魂，開竅於目，其係上絡心肺，下亦無竅。
『難經』曰：肝重二斤四兩，左三葉右四葉，凡七葉，肝之為臟，
其治在左，其藏在右脅之前，並肩著脊之第九椎（圖七十一）
</pre>
<pre data-sec="p">
主題：肝經循行經文
條文：
肝足厥陰之脈，起於大指聚毛之上，上循足跗上廉，去內踝一寸，上踝八寸，
交出太陰之後，上膕內廉，循股陰入毛中，過陰器，抵小腹，俠胃屬肝，絡膽，
上貫膈，布脅，循喉嚨之後，上入頏顙，連目系，上出額與督脈會於顛；
其支者，從目系下頰裏，環唇內；其支者，復從肝別貫膈，上注肺（圖七十二）。
</pre>
<pre data-sec="p">
主題：肝經循行歌
條文：
厥陰足脈肝所終，大指之端毛際叢，足跗上廉太衝分，踝前一寸入中封，
上踝交出太陰後，循膕內廉陰股衝，環繞陰器抵小腹，俠胃屬肝絡膽逢，
上貫膈裏布脅肋，俠喉頏顙目系同，脈上顛會督脈出，支者還生目系中，
下絡頰裏環唇內，支者便從膈肺通。
註：[1]足厥陰肝經之脈，起於足大指聚毛之際大敦行間穴， 
　　   從行間上循足跗上廉太衝穴，從太衝穴去內踝一寸，至於中封穴也。
　　[2]從中封穴循行內踝五寸，入於蠡溝穴也。
　　[3]從蠡溝上踝七寸中都穴，上內踝八寸，交出於足太陰陰經之後， 
　　   上踝內廉，膝關曲泉穴也。
　　[4]從曲泉循股陰陰包五里穴，入於毛中之陰廉穴，過陰器入抵小腹， 
　　   上行於章門穴，從章門循行期門穴，從期門內行，俠胃，屬肝，絡膽。
　　   上貫膈，布脅肋，散佈於臟腑，循喉嚨之後，上入頏顙，連目系， 
　　   上額，與督脈會於顛也。
　　[5]其有一支者，不上會於顛，但從目下頰裏環唇內。
　　[6]又一支復從肝別貫膈，上注於肺，以交手太陰肺經也。
</pre>
<pre data-sec="p">
主題：肝經穴歌
條文：
足厥陰經一十四，大敦行間太衝足，中封蠡溝伴中都，膝關曲泉陰包次，
五里陰廉上急脈，章門才過期門至。
</pre>
<pre data-sec="p">
主題：肝經分寸歌
條文：
大敦足大端外側，行間兩指縫中間，太衝本節後二寸，中封內踝前一寸，
蠡溝踝上五寸是，中都上行二寸中，膝關犢鼻下二寸，曲泉曲膝盡橫紋。
陰包膝上行四寸，氣衝三寸下五里，陰廉氣衝下二寸，急脈毛際旁二五，
厥陰大絡系睪丸，章門臍上二旁六，期門從章斜行乳，直乳二肋端縫已。
註：[1]大敦穴，在足大指端，去爪甲後如韭葉許，外側聚毛仲，是其穴也。
　　[2]從大敦上行足大指次指岐骨縫間，動脈應手陷中，行間穴也。
　　[3]從行間上行二寸許，足跗間動脈應手陷中，太衝穴也。
　　[4]從太衛上行足內踝前一寸，筋裏宛宛中，中封穴也。
　　[5]從中封上行內踝上五寸，蠡溝穴也。
　　[6]從蠡溝上行二寸，當胻骨中，中都穴也。
　　[7]從中都上行，犢鼻下二寸旁陷者中，膝關穴也。
　　[8]從膝關上行膝內輔骨下，大筋上小筋下陷中，屈膝橫紋頭取之， 
　　   曲泉穴也。
　　[9]從曲泉上行膝上四寸，股內廉兩筋間，踡足取之，看膝內側有槽中，
　　   陰包穴也。
　　[10]從陰包上行，在足陽明胃經之氣衝穴下三寸，陰股中動脈應手， 
　　   五里穴也。
　　[11]從五里上行羊矢下，斜裏三分，直上氣衝下二寸，動脈陷中， 
　　   陰廉穴也。
　　[12]從陰廉上行陰上，中行兩旁相去二寸半，按之隱指而堅， 
　　   甚按則痛引上下，此厥陰之大絡，為睪之系，急脈穴也。
　　[13]從急脈上行足太陰脾經之大橫外穴外，季肋直臍軟骨端，臍上二寸，
　　   兩旁開六寸，側臥取肘尖盡處，章門穴也。
　　[14]從章門上行，足陽明胃經之不容穴旁一寸五分，上直乳第二肋端， 
　　   期門穴也（見圖七十三）。
</pre>
<pre data-sec="p">
主題：奇經八脈總歌
條文：
正經經外是奇經，八脈分司各有名，任脈任前督於後，衝起會陰腎同行，
陽蹻跟外膀胱別，陰起跟前隨少陰，陽維維絡諸陽脈，陰維維絡在諸陰，
帶脈圍腰水束帶，不由常度號奇經。
註：[1]脈有奇常，十二經者，常脈也；奇經則不拘於常，故謂之奇也。
　　[2]蓋人之氣血，常行於十二經脈，經脈滿溢，流入他經，別道而行， 
　　   故名奇經。
　　[3]奇經有八，曰：任、督、衝、帶、陽蹻、陽維、陰維是也。
　　[4]任脈任於前，督脈督於後，衝脈為諸脈之海，帶脈猶身之束帶， 
　　   陽蹻為足太陽之別，陰蹻為足少陰之別，陽維則維絡諸陽， 
　　   陰維則維絡諸陰，陰陽相維，諸經乃調。
　　[5]故此八脈，譬猶圖設溝渠，以備水潦，斯無濫溢之患， 
　　   人有奇經亦若是也。
</pre>
<pre data-sec="p">
主題：任脈循行經文
條文：
『素問‧骨空論』曰：任脈者起於中極之下，以上毛際，循腹裏，上關元，
至咽喉上頤，循面入目（見圖七十四）。
『靈樞‧五音五味篇』曰：衝脈任脈皆起於胞中，上循背裏為經絡之海，
其浮而外者，循腹上行，會於咽喉，別而絡口唇。
</pre>
<pre data-sec="p">
主題：任脈循行歌
條文：
任脈起於中極下，會陰腹裏上關元，循內上行會衝脈，浮外循腹至喉咽，
別絡口唇承漿已，過足陽明上頤間，循面入目至清明，交督陰脈海名傳。
註：[1]任脈者，起於中極之下。
　　[2]中極者，穴名也，在少腹聚毛處之上毛際也。
　　[3]中極之下謂曲骨之下會陰穴也。
　　[4]以上毛際，循腹裏上關元者，謂從會陰循內上行，會於衝脈， 
　　   為經絡之海也。
　　[5]其浮而外者，循腹上行，至於咽喉，別絡口唇，至承漿而終。
　　[6]上頤循面入目至睛明者，謂不直交督脈，由足陽明承泣穴上頤循面，
　　   入目內眥之足太陽睛明穴，始交於督脈，總為陰脈之海也。
</pre>
<pre data-sec="p">
主題：任脈穴歌
條文：
任脈中行二十四，會陰潛伏兩陰間，曲骨之前中極在，關元石門氣海邊，
陰交神關水分處，下脘建里中脘前，上脘巨闕連鳩尾，中庭膻中玉堂聯，
紫宮華蓋循璇璣，天突廉泉承漿端。
</pre>
<pre data-sec="p">
主題：任脈分寸歌
條文：
任脈會陰兩陰間，曲骨毛際陷中安，中極臍下四寸取，關元臍下三寸連，
臍下二寸名石門，臍下寸半氣海全。臍下一寸陰交穴，臍之中央即神闕，
臍上一寸為水分，臍上二寸下脘列。臍上三寸名建里，臍上四寸中脘許，
臍上五寸上脘在，巨闕臍上六寸五，鳩尾蔽骨下五分，中庭膻下六寸取，
膻中卻在兩乳間，膻上寸六玉堂主，膻上紫宮三寸二，膻上華蓋四八舉，
（四寸八分）
膻上璇璣五寸八，璣上一寸天突起，天突喉下約四寸，廉泉頷下骨尖已，
承漿頤前唇棱下，任脈中央行腹裏。
註：[1]會陰穴，在前陰後陰之中間，任、督、衝三脈所起， 
　　   督由會陰而行背，任由會陰而行腹，衝由會陰而行足也。
　　[2]從會陰上行，橫骨上毛際陷中，動脈應手，臍下五寸，曲骨穴也。
　　[3]從曲骨上行，在臍下四寸，中極穴也。
　　[4]從中極上行，在臍下三寸，即關元穴也。
　　[5]從關元上行，在臍下二寸，石門穴也。
　　[6]從石門上行，在臍下一寸五分宛宛中，氣海穴也。
　　[7]從氣海上行，在臍下一寸，陰交穴也。
　　[8]從陰交上行，當臍之中，神闕穴也。
　　[9]從神闕上行，臍上一寸，水分穴也。
　　[10]從水分上行，臍上二寸，下脘穴也。
　　[11]從下脘上行，臍上三寸，建里穴也。
　　[12]從建里上行，在臍上四寸，中脘穴也。
　　[13]從中脘上行，在臍上五寸，上脘穴也。
　　[14]從上脘上行，在兩岐骨下二寸，巨闕穴也。
　　[15]從巨闕上行一寸，鳩尾穴也。
　　[16]從鳩尾上行一寸陷中，中庭穴也。
　　[17]從中庭上行一寸六分，膻中穴也。
　　[18]從膻中上行一寸六分陷中，玉堂穴也。
　　[19]從玉堂上行一寸六分陷中，紫宮穴也。
　　[20]從紫宮上行一寸六分陷中，華蓋穴也。
　　[21]從華蓋上行一寸陷中，璇璣穴也。
　　[22]從璇璣上行一寸，天突穴也。
　　[23]從天突上行，在頷下結喉上中央舌本下，仰而取之，廉泉穴也。
　　[24]從廉泉上行，在頤前下唇棱下陷中，承漿穴也（見圖七十五）。
</pre>
<pre data-sec="p">
主題：督脈循行經文
條文：
『素門‧骨空論』曰：督脈者，起於少腹以下骨中央，女子入系廷孔，
其孔溺孔之端也。其絡循陰器，合篡間，繞篡後，別繞臀，
至少陰與巨陽中絡者，合少陰上股內後廉，貫脊，屬腎，與太陽起於目內眥，
上額，交顛上，入絡腦，還出別下項，循肩髆，內俠脊，抵腰中，入循膂，絡腎。
其男子循莖，下至篡，與女子等。
其少腹直上者，貫臍中央上貫心，入喉上頤，環唇，上係兩目之下中央
（見圖七十六）。
</pre>
<pre data-sec="p">
主題：督脈循行歌
條文：
督脈少腹骨中央，女子入系溺孔疆，男子之絡循陰器，繞篡之後別臀方，
至少陰者循腹裏，會任直上關元行，屬腎會衝街腹氣，入喉上頤環唇當，
上係兩目中央下，始合內眥絡太陽，上額交顛入絡腦，還出下項肩髆場，
俠脊抵腰入循膂，絡腎莖篡等同鄉，此是申明督脈路，總為陽脈之督綱。
註：[1]督脈者，起於少腹下骨中央，謂男女少腹以下，橫骨內之中央， 
　　   即女子入系廷孔之端，男子陰器合篡問也。
　　[2]男子陰莖盡處，精室孔、溺孔合併一路，合篡處也， 
　　   即女子胞孔、溺孔合併之處。
　　[3]廷孔之端，即下文曰：與女子等也。
　　[4]其絡循陰器，合篡間，繞篡後行，是謂本絡外合太陽中絡也。
　　[5]別絡繞臀，是謂別絡內併少陰腹裏也。
　　   故經曰：至少陰與巨陽中絡者，合也。
　　[6]至少陰者，循行上股內後廉，循腹裏，與任脈上會於關元， 
　　   貫脊屬腎，俠腎上行，與衝脈會腹氣之街。故經曰：自少腹直上， 
　　   貫臍中央，上貫心入喉，上頤環唇，內行至督脈齦交而終， 
　　   外行係兩目之下中央，循行目內眥，會於太陽。
　　[7]故經曰：與太陽起於目內眥，上額交顛上，入絡腦，還出別下項， 
　　   循肩髆，內俠脊，抵腰中，入循膂，絡腎，復會於少陰， 
　　   此督脈之循行也。
</pre>
<pre data-sec="p">
主題：督脈穴歌
條文：
督脈行脈之中行，二十八穴始長強，腰俞陽關入命門，懸樞脊中中樞長。
筋縮至陽歸靈台，神道身柱陶道開，大椎瘂門連風府，腦戶強間後頂排。
百會前頂通顖會，上星神庭素髎對，水溝兌端在唇上，齦交上齒縫之內。
</pre>
<pre data-sec="p">
主題：督脈分寸歌，附：督脈解
條文：
尾閭骨端是長強，二十一椎腰俞當，十六陽關十四命，三一懸樞脊中央，
十椎中樞筋縮九，七椎之下乃至陽，六靈五身三身柱，陶道一椎之下鄉，
一椎之上大椎穴，上至髮際瘂門行，風府一寸宛中取，腦戶二五枕之方，
再上四寸強間位，五寸五分後頂強，七寸百會頂中取，耳尖前後髮中央，
前頂前行八寸半，前行一尺顖會量，一尺一寸上星位，前髮尺二神庭當，
鼻端準頭素髎穴，水溝鼻下人中藏，兌端唇上端上取，齦交唇內齒縫鄉。
按：
督脈始於長強者，本自『靈樞‧經脈篇』曰：督脈之別名長強，俠膂上項，
散頭上下，當肩胛左右，別走太陽，入貫膂。
註：[1]督脈之別，起於長強者，即繞篡後，外合太陽，循行尾閭間， 
　　   長強穴也。
　　[2]俠膂上項，散頭上，下當肩左右，別走太陽，入貫膂， 
　　   謂督脈循外而上行也。
　　[3]故『難經』曰：起於下極之俞。
　　[4]即長強尾閭間也。
　　[5]併於脊裏，即俠脊也。
　　[6]上至風府，入屬於腦，即上項散頭也。
　　[7]從長強貫脊上行二十一椎下，腰俞穴也。
　　[8]十六椎下，陽關穴也。
　　[9]十四椎下，命門穴也。
　　[10]十三椎下，懸樞穴也。
　　[11]十一椎下，脊中穴也。
　　[12]十椎下，中樞穴也。
　　[13]九椎下，筋縮穴也。
　　[14]七椎下，至陽穴也。
　　[15]六椎下，靈台穴也。
　　[16]五椎下，神道穴也。
　　[17]三椎下，身柱穴也。
　　[18]一椎下，陶道穴也。
　　[19]一椎之上，大椎穴也。
　　[20]上至上髮際，瘂門穴也。
　　[21]從瘂門入髮際，風府穴也。
　　[22]從風府上行一寸五分枕骨上，腦戶穴也。
　　[23]從腦戶上行一寸五分，強間穴也。
　　[24]從強間上行一寸五分，後頂穴也。
　　[25]從強間上行一寸五分，後頂穴也。
　　[26]從後頂上行一寸五分，直兩耳尖頂陷中，百會穴也。
　　[27]從百會前行一寸五分，前頂穴也。
　　[28]從前頂穴前行一寸五分，顖會穴也。
　　[29]從顖會又前行一寸，上星穴也。
　　[30]從上星至前髮際，神庭穴也。
　　[31]前後髮際，合骨度共一尺二寸也，從前髮際下至鼻端準頭， 
　　   素窌穴也。
　　[32]鼻柱下溝中央近鼻孔陷中，水溝穴也。
　　[33]唇上端，兌端穴也。
　　[34]唇內齒上齦縫中，齦交穴也。凡二十八穴，循行背之中行者也（見圖
　　   七十七）。
按：『難經』二十八難曰：督脈者，起於下極之俞，並於脊裏之上，
至風府入屬腦。乃指穴而言也。前論脈起於少腹者，是指循行而言也。
</pre>
<pre data-sec="p">
主題：衝脈循行經文
條文：
『素問‧骨空論』曰：衝脈者，起於氣街，並於少陰之經，俠臍上行，
至胸中而散（圖七十八）。
『靈樞‧衛氣篇』曰：請言氣街。胸氣有街，腹氣有街，脛氣有街。
故氣在頭者，止之於腦；
氣在胸者，止之膺與背俞；
氣在腹者，止之背俞。與衝脈在臍之左右之動脈者，
氣在脛者，止之於氣街，與承山踝上。
</pre>
<pre data-sec="p">
主題：衝脈循行歌
條文：
衝脈起於腹氣街，後天宗氣氣衝來，並於先天之真氣，相併俠臍上胸街，
大氣至胸中而散，會合督任充身懷，分佈臟腑諸經絡，名之曰海不為乖。
註：[1]衝脈者，起於氣街，是起於腹氣之街也。
　　[2]名曰氣街者，是謂氣所行之街也。
　　[3]一身之大氣，積於胸中者，有先天之真氣，是所受者， 
　　   即人之腎間動氣也；有後天之宗氣，是水穀所化者，即人之胃氣也。
　　[4]此所謂起於腹氣之街者，是起胃中榖起也；並於少陰者， 
　　   是並於腎間動氣也，其真氣與穀氣相併，俠臍上行，至胸中而散， 
　　   是謂大氣至胸中，分佈五臟六腑諸經，而充身者也。
　　[5]『靈樞‧順逆肥瘦篇』曰：衝脈者五臟六腑之海也， 
　　   五臟六腑皆稟氣焉。
　　[6]『靈樞‧動俞篇』又曰：衝脈者十二經之海，與少陰之大絡， 
　　   起於腎下，出於氣街也。
　　[7]『靈樞‧五音五味篇』又曰：衝脈任脈皆起於胞中者， 
　　   即此之起於腎下之謂也，而謂起於腎下者，即並於少陰之經，
腎間動氣上行也。
　　[8]『素問‧骨空論』曰：衝脈起於氣衝者，即此出氣街之謂也。
　　[9]不曰起而曰出者，謂穀氣由陽明胃經出，而會於氣街也。
</pre>
<pre data-sec="p">
主題：衝脈穴歌
條文：
衝脈俠臍起橫骨，大氣四注肓俞同，商石陰通幽門穴，至胸散布任流行。
</pre>
<pre data-sec="p">
主題：衝脈分寸歌
條文：衝脈分寸同少陰，起於橫骨至幽門，上行每穴皆一寸，穴開中行各五分。
按：
任、督、衝三脈，『素問‧骨空論』曰：任脈起於中極之下，毛際以上。
是外指少腹之分也。循腹裏，是內指胞中也。督脈起於少腹以下骨中央，
女子廷孔，男子陰器，合篡貫脊屬腎，亦是外指少腹，內指胞中也。
衝脈起於氣街，並少陰之經。亦是指於胞中也；雖未明言胞中，
而實未嘗不起於胞中也。是以知任、督、衝三脈，皆起於胞中。
然三脈皆後天水穀所化，胃氣出於氣街，會於胞中，與先天腎間動之真氣，
並行而充身者也。由此觀之，三脈同出一源無疑矣。
故王冰『內經』注、『甲乙經』、『鍼灸圖經』以任脈循背者謂之督脈；
自少腹上謂之任脈，亦謂之督脈，則是以背腹陰陽，別為名目耳。
然衝脈亦起於胞中，並足少陰而上行。是任脈、督脈、衝脈乃一源而三岐者。
故人身之有腹背，猶天地之有子午；任督之有前後，猶二陸之分陰陽也。
胞中者，謂男女丹田之通稱也，在女子謂之女子胞，在男子即精室也。
註：[1]衝脈起於足陽明，並於足少陰腹氣之街，俠臍中行左右五分， 
　　   而上行自少腹下尖陰上橫骨穴，從橫骨穴上行大赫、氣穴、四滿、中注、
　　   肓俞、商曲、石關、陰都、通谷、幽門等共十一穴， 
　　   每穴上行相去各一寸，中行左右各五分（圖七十九）。
</pre>
<pre data-sec="p">
主題：帶脈循行經文
條文：
『靈樞‧經脈別篇』曰：足少陰上至膕中，別走太陽而合，上至腎，
當十四椎，出屬帶脈（見圖八十）。
二十八難曰：帶脈者，起於季脅，迴身一周。
</pre>
<pre data-sec="p">
主題：帶脈循行歌
條文：
帶脈足少陰經脈，上膕別走太陽經，合腎十四椎屬帶，起於季脅繞身行。
註：[1]帶脈本由足少陰經之脈，上至膕中，別走太陽而合腎，當十四椎， 
　　   出屬帶脈，故起於季脅，繞身一周行也。
</pre>
<pre data-sec="p">
主題：帶脈穴歌
條文：
帶起少陽帶脈穴，繞行五樞維道間，京門之下居髎上，周迴季脅束帶然。
註：[1]足少陰之正脈，出於然谷，循內踝後；其別者入跟中，上腨內， 
　　   至膕中，別走而合太陽，上至腎氣穴穴，當十四椎內，與足少陰衝脈會，
　　   外與足少陽帶脈合會，而不與衝脈偕行，出於季脅， 
　　   屬少陽帶脈穴也。
　　[2]故『難經』曰：帶脈者，起於季脅也，迴身一周者， 
　　   謂起於足少陽帶脈穴，循行五樞穴維道穴，不行居髎穴，迴行如帶， 
　　   故曰帶脈也。
</pre>
<pre data-sec="p">
主題：帶脈分寸歌
條文：
帶脈部分足少陽，季脅寸八是其鄉，由帶三寸五樞穴，過章五三維道當。
註：[1]帶脈部分，在足少陽經季脅之下一寸八分，即帶脈穴也。
　　[2]從帶脈穴下三寸，即五樞穴也。
　　[3]從五樞下行，過肝經之章門穴下五寸三分，即維道穴也（圖八十一）。
</pre>
<pre data-sec="p">
主題：陽蹻陰蹻脈循行經文
條文：
『靈樞‧脈度篇』曰：蹻脈者，少陽之別，起於然谷之後，上內踝之上，
直上循陰股，入陰，上循胸裏，入缺盆，上出人迎之前，入頄屬目內眥，
合於太陽、陽蹻而上行，氣並相還，則為濡目，目氣不榮，則目不合（圖八十二）。
二十八難曰：陽蹻脈者，起於跟中，循外踝上行，入風池，陰蹻脈者，
亦起於跟中，循內踝上行，至咽喉交貫衝脈。
</pre>
<pre data-sec="p">
主題：陽蹻脈循行歌
條文：
陽蹻脈起於跟中，上合三陽外踝行，從脅循肩入頸頄，屬目內眥太陽經。
註：[1]陽蹻之脈，起於足跟之中，上合三陽外踝上行，從脅少陽居髎之穴，
　　   上循肩，入頸頄陽明之肩髃、承泣等穴，屬目內眥而會太陽也。
</pre>
<pre data-sec="p">
主題：陽蹻脈穴歌
條文：
陽蹻脈近申僕陽，居髎肩髃巨骨鄉，臑俞地倉巨髎泣，終於睛明一穴強。
</pre>
<pre data-sec="p">
主題：陽蹻脈分寸歌
條文：
陽蹻脈起足太陽，申脈外踝五分藏，僕參後繞跟骨下，附陽外踝三寸鄉，
居髎監骨上陷取，肩胛一穴肩尖當，肩上上行名巨骨，肩胛之上臑俞坊，
口吻旁四地倉位，鼻旁八分巨髎疆，目下七分是承泣，目內眥出睛明昂。
註：[1]蹻者足也，奇經涉於足者之名也。
　　[2]曰陽者，以其所行陽經也。
　　[3]陽蹻者，謂足太陽經之別脈也， 
　　   起於足太陽膀胱經足外踝下五分陷中申脈穴也。
　　[4]從申脈繞後跟骨下，僕參穴也。
　　[5]從僕參又斜足外踝三寸，附陽穴也。
　　[6]又與足少陽會於季脅軟骨端下八寸三分，居髎穴也。
　　[7]又與手陽明會於膊骨頭肩端上，肩髃穴也。
　　[8]從肩髃穴上行肩尖上兩叉骨，巨骨穴也。
　　[9]又與手足太陽陽維，會於肩後大骨下胛上廉，臑俞穴也。
　　[10]又與手足陽明會於夾口吻旁四分，地倉穴也。
　　[11]從地倉穴行於鼻孔旁八分，巨髎穴也。
　　[12]又與任脈足陽明會於目下七分，承泣穴也。
　　[13]又與手足太陽足陽明陰蹻，會於目內眥外一分，睛明穴也
　　   （見圖八十三）。
</pre>
<pre data-sec="p">
主題：陰蹻脈循行歌
條文：
陰蹻亦起跟中，少陰之別內踝行，上循陰股入胸腹，上至咽喉至睛明。
註：[1]陰蹻之脈，亦起於跟中，由少陰別脈然谷之穴，上行內踝，循陰股，
　　   入胸腹，上至咽喉、睛明穴，亦會於太陽也（見圖八十四）。
</pre>
<pre data-sec="p">
主題：陰蹻脈穴歌
條文：
陰蹻起於然谷穴，上行照海交信列，三穴原本足少陰，足之太陽睛明接。
</pre>
<pre data-sec="p">
主題：陰蹻脈分寸歌
條文：陰蹻脈起足少陰，足內踝前然谷尋，踝下一寸照海陷，踝上二寸交信真，
　　　目內眥外宛中取，睛明一穴甚分明。
註：[1]陰蹻者，以其所行陰經，為足少陰別脈也。
　　[2]起於足少陰腎經，足內踝前大骨下陷中，然谷穴也。
　　[3]從然谷穴循內踝之下一寸，照海穴也。
　　[4]從照海穴不循太谿穴，又郄於足內踝之上二寸直行交信穴。
　　[5]從交信穴上循陰股，入陰而行，上循胸裏入缺盆，上出人迎之前， 
　　   入頄鼻旁，屬目內眥外宛宛中睛明穴，合於太陽陽蹻，上行氣並相還，
　　   則為濡目之用矣。
　　[6]故知陰蹻脈氣，若不與陽蹻脈氣並榮於目，則目不能合也， 
　　   此陰蹻循行之經脈也（見圖八十五）。
</pre>
<pre data-sec="p">
主題：陽維陰維脈循行經文
條文：
二十八難曰：陽維陰維者，維絡於身，溢蓄不能環流，灌溢諸經者也。
故陽維起於諸陽之會，陰維起於諸陰交也。
</pre>
<pre data-sec="p">
主題：陽維脈循行歌
條文：
陽維起足太陽，外踝之下金門疆，從胻背肩項面頭，維絡諸陽會督場。
註：[1]陽維之脈，起於足太陽經外踝之下金門穴也。
　　[2]從胻骨、背外、肩胛、項旁、面上、頭後至瘂門穴， 
　　   維絡諸陽會於督脈也（見圖八十六）。
</pre>
<pre data-sec="p">
主題：陽維脈穴歌
條文：
陽維脈起穴金門，臑俞天髎肩井深，本神陽白並臨泣，正營腦空風池巡，
風府瘂門此二穴，項後入髮是其根。
</pre>
<pre data-sec="p">
主題：陽維脈分寸歌
條文：
陽維脈起足太陽，外踝一寸金門藏，踝上七寸陽交位，肩後胛上臑俞當，
天髎穴在缺盆上，肩上陷中肩井鄉，本神入髮四分許，眉上一寸陽白詳，
入髮五分臨泣穴，上行一寸正營場，枕骨之下腦空位，風池耳後陷中臟，
項後入髮瘂門穴，入髮一寸風府疆。
註：[1]陽維起於諸陽之會者，謂
　　   起於足太陽膀胱經之足外踝下一寸金門穴也。
　　[2]從金門穴行於足少陽膽經之足外踝上七寸，陽交穴也。
　　[3]又與手足太陽及蹻脈，會於肩後大骨下胛上廉，臑俞穴也。
　　[4]又與手足少陽會於缺盆中上毖骨際，天髎穴也。
　　[5]又會於肩上陷中，肩井穴也。
　　[6]從肩井穴上頭，與足少陽會於眉上一寸，陽白穴也。
　　[7]從陽白穴上行於目上，直入髮際，本神、臨泣穴也。
　　[8]從臨泣穴上行二寸，正營穴也。
　　[9]從正營穴循行枕骨下，腦空穴也。
　　[10]從腦空穴下行，至耳後大筋外廉，風池穴也。
　　[11]又與督脈會於項後風府、瘂門穴，此陽維脈氣所發也（圖八十七）。
</pre>
<pre data-sec="p">
主題：陰維脈行歌
條文：陰維脈起足少陰，內踝上行穴築賓，循腹至乳上結喉，維絡諸陰會於任。
註：[1]陰維之脈，起於足少陰經內踝上行築賓之穴，循腹至乳上結喉， 
　　   至廉泉穴，維絡諸陰，會於任脈也（圖八十八）。
</pre>
<pre data-sec="p">
主題：陰維脈穴歌
條文：
陰維之穴起築賓，府舍大橫腹哀循，期門天突廉舌本，此是陰維脈維陰。
</pre>
<pre data-sec="p">
主題：陰維脈分寸歌
條文：
陰維脈起足少陰，內踝之後尋築賓，少腹之下稱府舍，大橫平臍是穴名，
此穴去中三寸半，行至乳下腹哀明，期門直乳二肋縫，天突結喉下一寸
註：[1]陰維起於諸陰之交者，謂起於足少陰腎經之足內踝後，上腨分中， 
　　   名曰築賓穴也。
　　[2]與足太陰交於少腹下，去腹中行三寸半，府舍穴也。
　　[3]又平臍去中行三寸半，大橫穴也。
　　[4]又行至乳下二肋端縫之下二寸，腹哀穴也。
　　[5]又與足厥陰交於乳下二肋端縫，期門穴也。
　　[6]又與任脈交於結喉下一寸宛宛中，天突穴也。
　　[7]從天突穴上行，在頷下結喉上中央舌本下，廉泉穴， 
　　   此陰維脈氣所發也（見圖八十九）。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌01
條文：
百會主治卒中風，兼治癲癇兒病驚，大腸下氣脫肛病，提補諸陽氣上升。
註：[1]百會穴，提補陽氣上升。
　　[2]主治大人中風，痰火癲癎，小兒急慢驚風，大腸下氣，脫肛等證。
　　[3]鍼二分，灸五壯。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌02
條文：
神庭主灸羊癎風，目眩頭痛灸腦空，翳風專利耳聾病，兼刺瘰癧項下生。
註：[1]神庭穴，主治風癎，羊癲。灸三壯，禁鍼刺。
　　[2]腦空穴，主治偏正頭疼，目眩。刺四分，灸五壯。
　　[3]翳風穴，主治耳聾及癧。『鍼經』云：先將銅錢約二十文， 
　　   令患者咬之，尋取穴中。鍼三分，禁灸。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌03
條文：
上星通天主鼻淵，瘜肉痔塞灸能痊，兼治頭風目諸疾，炷如小麥灼相安。
註：[1]上星、通天二穴，主治鼻淵，鼻塞，瘜肉，鼻痔。
　　[2]左鼻灸右，右鼻灸左，左右鼻俱病者，左右俱灸， 
　　   灸後鼻中當去一塊，形如朽骨狀，其病自癒，兼治頭風目疾等證也。
　　[3]上星穴宜刺三分，留六呼，灸五壯。一云宜三棱鍼出血， 
　　   以瀉諸陽之熱氣。
　　[4]通天穴宜刺三分，留七呼，灸三壯，其壯如小麥大始相宜也。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌04
條文：
瘂門風府只宜刺，中風舌緩不能言，頸項強急及瘛瘲，頭風百病與傷寒。
註：[1]瘂門、風府二穴，主治中風舌緩，暴瘖不語，傷風傷寒，頭痛項急不
　　   得回顧及抽搐等病。
　　[2]瘂門穴鍼二分，不可深入，禁灸。
　　[3]風府穴鍼三分，留三呼，禁灸。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌05
條文：
頭維主刺頭風疼，目痛如脫淚不明，禁灸隨皮三分刺，兼刺攢竹更有功。
註：[1]頭維、攢竹二穴，主治頭風疼痛如破，目痛如脫，淚出不明。
　　[2]頭維穴隨皮鍼三分，禁灸。
　　[3]攢竹穴刺一分，留六呼，禁灸。
　　[4]隨皮者，鍼入即眠，鍼隨皮刺去也。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌06
條文：
率谷酒傷吐痰眩，風池主治肺中寒，兼治偏正頭疼痛，頰車落頰風自痊。
註：[1]率谷穴，主治傷酒嘔吐痰眩。
　　[2]刺三分，灸三壯。
　　[3]風池穴，治肺受風寒及偏正頭風。
　　[4]刺四分，灸三壯，七壯，炷宜小。
　　[5]頰車穴，治落頰風，落頰風者，下頦脫落也。
　　[6]刺三分，灸三壯，炷如小麥。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌07
條文：
臨泣主治鼻不通，眵䁾冷淚雲翳生，驚癎反視卒暴厥，日補發瘧脅下疼。
註：[1]臨泣穴，主治鼻塞目眩，生翳眵䁾，眼目諸疾，及驚癎反視， 
　　   卒暴痰厥，瘧疾晚發等病。
　　[2]刺三分，留七呼，禁灸。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌08
條文：水溝中風口不開，中惡癲癇口眼歪，刺治風水頭面腫，灸治兒風急慢災。
註：[1]水溝穴，主治中風口噤，牙關不開，卒中惡邪鬼擊，不省人事，
　　   癲癇卒倒，口眼歪邪，風水面腫，及小兒急慢驚風等病。
　　[2]刺三分，留六呼，灸三壯至七壯，炷如小麥，然灸不及鍼。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌09
條文：
承漿主治男七疝，女子瘕聚兒緊唇，偏風不遂刺之效，消渴牙疳灸功深。
註：[1]承漿穴，主治男子諸疝，女子瘕聚，小兒撮口，及偏風半身不遂， 
　　   口眼喎邪，口噤不開，消渴飲水不休，口齒疳蝕生瘡證。
　　[2]刺二分，留五呼，灸三壯。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌10
條文：
迎香主刺鼻失臭，兼刺面癢若蟲行，先補後瀉三分刺，此穴須知禁火攻。
註：[1]迎香穴，主治鼻塞不聞香臭，浮腫風動，面癢狀如蟲行等證。
　　[2]鍼三分，禁灸。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌11
條文：
口眼歪邪灸地倉，頰腫唇弛牙噤強，失音不語目不閉，瞤動視物目䀮䀮。
註：[1]地倉穴，主偏風口眼歪邪，牙關不開，齒痛頰腫，目不能閉， 
　　   唇緩不收，飲食難進，失音不語，眼目瞤動，視物䀮䀮，昏夜無見等證。
　　[2]刺三分，留五呼，灸七壯，或二七壯，重者七七壯俱可。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌12
條文：
聽會主治耳襲鳴，兼刺迎香功最靈，中風瘈瘲喎斜病，牙車脫臼齒根疼。
註：[1]聽會穴，主治耳聾耳鳴，牙車脫臼，齒痛，中風，瘈瘲，喎邪等證。
　　   鍼四分，灸三壯。
　　[2]兼瀉迎香，功效如神。迎香穴，鍼三分、禁灸。
</pre>
<pre data-sec="p">
主題：頭部主病鍼灸要穴歌13
條文：
聽宮主治耳聾鳴，睛明攢竹目昏蒙，迎風流淚眥癢痛，雀目攀睛白翳生。
註：[1]聽宮穴，主治耳內蟬鳴，耳聾。
　　[2]刺三分，灸三壯。
　　[3]睛明、攢竹二穴，主治目痛視不明，迎風淚，努肉攀睛，白翳眥癢，
　　   雀目諸證。
　　[4]睛明穴鍼分半，留六呼，禁灸。
　　[5]攢竹穴治證同前，刺三分，留六呼，禁灸。（見圖九十、九十一）
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
膻中穴主灸肺癰，咳嗽哮喘及氣癭，巨闕九種心疼病，痰飲吐水息賁寧。
註：[1]膻中穴，主治喘哮，肺癰，咳嗽，氣癭等證。灸七壯，禁鍼。
　　[2]巨闕穴，主治九種心痛、痰飲吐水、腹痛息賁等證。
　　   鍼三分，留七呼，灸七壯。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
上脘奔豚與伏梁，中脘主治脾胃傷，兼治脾痛瘧痰暈，痞滿翻胃盡安康。
註：[1]上脘穴，主治腎積奔豚，心積伏梁之證。鍼八分，留七呼，灸五壯。
　　[2]『千金』云：每日灸二七壯至百壯，孕婦不可灸。
　　[3]中脘穴，主治內傷脾胃，心脾痛，瘧疾痰暈，痞滿翻胃等證， 
　　   鍼八分，灸七壯。一云：二七壯至百壯，孕婦不可灸。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：水分脹滿臍突硬，水道不利灸之食，神闕百病老虛瀉，產脹溲難兒脫肛。
註：[1]水分穴，主治鼓脹堅硬，肚臍突出，小便不利。灸五壯，禁鍼， 
　　   孕婦不可灸。
　　[2]神闕穴，主治百病及老人虛人泄瀉，又治產後腹脹，小便不通， 
　　   小兒脫肛等證。灸三壯，禁鍼。
　　[3]一法：納炒乾淨鹽填滿臍上，加厚薑一片蓋定，上加艾炷，灸百壯，
　　   或以川椒代鹽亦妙。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
氣海主治臍下氣，關元諸虛瀉濁遺，中極下元虛寒病，一切痼冷總皆宜。
註：[1]氣海穴，主治一切氣疾，陰證痼冷及風寒暑濕，水腫，心腹鼓脹， 
　　   諸虛，癥瘕等證。鍼八分，灸五壯。
　　[2]關元穴，主治諸虛腎積，及虛老人泄瀉，遺精，白濁等證。鍼八分，
　　   留七呼，灸七壯。『千金』云：婦人鍼之則無子。
　　[3]中極穴，主治下元寒冷虛損，及婦人月事不調，赤白帶下。鍼八分，
　　   留十呼，灸三壯，孕婦不可灸。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
膺腫乳癰灸乳根，小兒龜胸灸亦同，嘔吐吞酸灸日月，大赫專治病遺精。
註：[1]乳根穴，主治胸前腫，乳癰，小兒龜胸等證。鍼三分，灸三壯。
　　[2]日月穴，主治嘔吐吞酸。鍼七分，灸五壯。
　　[3]大赫穴，主治遺精。鍼三分，灸五壯。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
天樞主灸脾胃傷，脾瀉痢疾甚相當，兼灸鼓脹癥瘕病，艾火多加痛必康。
註：[1]天樞穴，主治內傷脾胃，赤白痢疾，脾瀉及臍腹鼓脹，癥瘕等證。
　　[2]鍼五分，留七呼，灸五壯。
　　[3]『千金』云：魂魄之舍不可鍼，孕婦不可灸。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
章門主治痞塊病，但灸左邊可拔根，若灸腎積臍下氣，兩邊齊灸自然平。
註：[1]章門穴，主治痞塊，多灸左邊，腎積灸兩邊。
　　[2]鍼六分，留六呼，灸三壯，一云百壯。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
期門主治奔豚病，上氣咳逆胸背疼，兼治傷寒脅硬痛，熱入血室刺有功。
註：[1]期門穴，主治奔豚上氣，咳逆胸滿，胸背徹痛，胸痛腹硬， 
　　   及傷寒熱入血室。
　　[2]鍼四分，灸五壯。
</pre>
<pre data-sec="p">
主題：胸腹部主病鍼灸要穴歌
條文：
帶脈主灸一切疝，偏墜木腎盡成功，兼灸婦人濁帶下，丹田溫暖自然停。
註：[1]帶脈穴，主治疝氣偏墜木腎，及婦人赤白帶下等證。
　　[2]鍼六分，灸五壯。（見圖九十二）
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
腰俞主治腰脊痛，冷痺強急動作難，腰下至足不仁冷，婦人經病溺赤痊。
註：[1]腰俞穴，主治腰脊重痛，舉動不動，俯仰艱難， 
　　   腰以下至足冷痺不仁，及婦人經閉，溺血等證。
　　[2]刺二分，留七呼，灸五壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
至陽專灸黃疸病，兼灸痞滿喘促聲，命門老虛腰痛證，更治脫肛痔腸風。
註：[1]至陽穴，主治身面俱黃，胸脅支滿，喘促不寧。鍼五分，灸三壯。
　　[2]命門穴，主治老人腎虛腰疼，及久痔脫肛，腸風下血等證。鍼五分，
　　   灸三壯。若年二十以上者不宜灸，灸恐絕子。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
膏肓一穴灸勞傷，百損諸虛無不良，此穴禁鍼惟宜艾，千金百壯效非常。
註：[1]膏肓穴，主治諸虛百損，五勞七傷，身形羸瘦，夢遺失精， 
　　   上氣咳逆，痰火發狂，健忘，怔仲，胎前、產後勞瘵、傳尸等證。
　　[2]灸七七壯至百壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
大杼主刺身發熱，兼刺瘧疾咳嗽痰，神道惟灸背上病，怯怯短氣艾火添。
註：[1]大杼穴，主治遍身發熱，瘧疾，咳嗽多痰。鍼五分，禁灸。
　　[2]神道穴，主治背上冷痛，怯怯短氣。灸七壯，禁鍼。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
風門主治易感風，風寒痰吐血紅，兼治一切鼻中痛，艾火多加嗅自通。
註：[1]風門穴，主治腠理不密，易感風寒，咳嗽吐痰，咯血鼻衄， 
　　   及一切鼻中諸病。
　　[2]鍼三分，灸五壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：肺俞內傷嗽吐紅，兼灸肺痿與肺癰，小兒龜背亦堪灸，肺氣舒通背自平。
註：[1]肺俞穴，主治內傷外感，咳嗽吐血，肺痿，肺癰，小兒龜背。
　　[2]鍼三分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
膈俞主治胸脅痛，兼灸痰瘧痃癖攻，更治一切失血證，多加艾灼總收功。
註：[1]膈俞穴，主治胸脅疼痛，痰瘧痃癖，一切血痰。
　　[2]灸三壯，禁鍼。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
肝俞主灸積聚痛，兼灸氣短語聲輕，更同命門一併灸，能使瞽目復重明。
註：[1]肝俞穴，主治左脅積聚疼痛，氣短不語，若同門穴一併灸之， 
　　   即兩目昏暗者，可使復明。
　　[2]肝俞穴灸七壯，禁鍼。
　　[3]命門穴鍼五分，灸三壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
膽俞主灸脅滿嘔，驚悸臥睡不能安，兼灸酒疸目黃色，面發赤斑灸自痊。
註：[1]膽俞穴，主治兩脅脹滿，乾嘔，驚悸，睡臥不安及酒疸，目睛發黃，
　　   面發赤斑等證。
　　[2]灸三壯，禁鍼。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
脾俞主灸傷脾胃，吐瀉瘧痢疝瘕癥。喘急吐血諸般證，更治嬰兒慢脾風。
註：[1]脾俞穴，主治內傷脾胃，吐瀉瘧痢，黃疸，食積，癥瘕，吐血， 
　　   喘急，及小兒慢脾風證。
　　[2]灸五壯，禁鍼。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
三焦俞治脹滿疼，積塊堅硬痛不寧，更治赤白休息痢，刺灸此穴自然輕。
註：[1]三焦俞穴，主治脹滿積塊，堅硬疼痛，及赤、白痢疾不止等證。
　　[2]鍼二分，灸五壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
胃俞主治黃疸病，食畢頭目即暈眩，瘧疾善饑不能食，艾火多加自可痊。
註：[1]胃俞穴，主治黃疸，食畢頭眩，瘧疾，善饑不能食等證。
　　[2]鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
腎俞主灸下元虛，令人有子效多奇，兼灸吐血聾腰痛，女疸婦帶不能遺。
註：[1]腎俞穴，主治下元諸虛，精冷無子，及耳聾，吐血，腰痛，女勞疸，
　　   婦人赤、白帶下等證。
　　[2]灸三壯，禁鍼。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
大腸俞治腰脊疼，大小便難此可通，兼治泄瀉痢疾病，先補後瀉要分明。
註：[1]大腸俞穴，主治腰脊疼痛，大小便不通，及泄瀉，痢疾等證。
　　[2]鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
膀胱俞治小便難，少腹脹痛不能安，更治腰脊強直痛，艾火多添疾自痊。
註：[1]膀胱俞穴，主治小便不通，少腹脹痛，及腰脊強直疼痛等證。
　　[2]鍼三分，灸七壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
譩譆主治久瘧病，五臟瘧灸臟俞平，意舍主治脅滿痛，兼療嘔吐時寧。
註：[1]譩譆俞穴，主治久瘧。
　　[2]若五臟瘧，灸五臟俞。五臟俞者，心、肝、脾、肺、腎俞也。
　　   俱穴六分，灸二七壯。
　　[3]意舍穴，主治兩脅脹滿，疼痛嘔吐。鍼五分，灸三壯。
</pre>
<pre data-sec="p">
主題：背部主病鍼灸要穴歌
條文：
身柱主治羊癎風，咳嗽痰喘腰背疼，長強惟治諸般痔，百勞穴灸汗津津。
註：[1]身柱穴，主治風癎發狂，咳嗽痰喘，腰背疼痛等證。
　　   鍼五分，灸七七壯。
　　[2]長強穴，主治諸般痔漏疼痛。鍼三分，灸三十壯。
　　[3]百勞穴，主治滿身發熱，虛汗盜汗津津不止。
　　   鍼五分，留三呼，瀉五吸，灸以年為壯（圖九十三）。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
尺澤主刺肺諸疾，絞腸痧痛鎖喉風，傷寒熱病汗不解，兼刺小兒急慢風。
註：[1]尺澤穴，主治咳唾膿血，喉痺，肺積息賁，及絞腸痧痛， 
　　   傷寒汗不出，小兒急慢驚風等證。
　　[2]刺三分，或三稜鍼出血，禁灸。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
列缺主治嗽寒痰，偏正頭疼治自痊，男子五淋陰中痛，尿血精出灸便安。
註：[1]列缺穴，主治咳嗽寒痰，偏正頭疼，及男子淋漓，陰中疼痛， 
　　   尿血精出等證。
　　[2]鍼二分，灸七壯，炷如小麥。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
經渠主刺瘧寒熱，胸背拘急脹滿堅，喉痺咳逆氣數欠，嘔吐心疼亦可痊。
註：[1]經渠穴，主治咳瘧寒熱，胸背拘急膨脹，喉痺，咳逆上氣數欠， 
　　   嘔吐心疼等證。
　　[2]鍼二分，禁灸。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
太淵主刺牙齒病，腕肘無力或痛疼，兼刺咳嗽風痰疾，偏正頭疼效若神。
註：[1]太淵穴，主治牙齒疼痛，手腕無力疼痛， 
　　   及咳嗽風痰，偏正頭疼等證。
　　[2]鍼二分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
魚際主灸牙齒痛，在左灸左右同然，更刺傷寒汗不出，兼治瘧疾方欲寒。
註：[1]魚際穴，主治牙齒痛，瘧疾初起先覺發寒，傷寒汗不出等證。
　　[2]鍼二分，惟牙痛可灸，餘證禁灸。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
少衝主治心膽虛，怔忡癲狂不可遺，少商惟鍼雙鵝痺，血出喉開功最奇。
註：[1]少衝穴，主治心虛膽寒，怔仲癲狂。
　　[2]鍼一分，灸三壯。
　　[3]少商穴，主治雙鵝風，喉痺。
　　[4]以三稜鍼刺微出血，禁灸。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
少海主刺腋下瘰，漏臂痺痛羊癎風，靈道主治心疼痛，瘛瘲暴瘖不出聲。
註：[1]少海穴，主治腋下瘰癧，漏臂與風吹肘臂疼痛也，及癲癎羊鳴等證。
　　   鍼五分，禁灸。
　　[2]靈道穴，主治心痛，羊癎，瘛瘲，肘攣，暴瘖不能言等證。鍼三分，
　　   灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
通里主治溫熱病，無汗懊憹心悸驚，喉痺苦嘔暴瘖瘂，婦人經漏過多崩。
註：[1]通里穴，主治溫病，面熱無汗，懊憹，心悸，驚恐，喉痺，苦嘔， 
　　   暴瘖，聲瘂，及婦人經血過多，崩漏等證。
　　[2]鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
神門主治悸怔仲，呆癡中惡恍惚驚，兼治小兒癇證，金鍼補瀉疾安寧。
註：[1]神門穴，主治驚悸，怔忡，呆痴，卒中鬼邪，恍惚振驚， 
　　　及小兒驚癎等證。
　　[2]鍼三分，留七呼，灸三壯，炷如小麥。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
少府主治久咳瘧，肘腋拘急痛引胸，兼治婦人挺痛癢，男子遺尿偏墜疼。
註：[1]少府穴，主治咳瘧久不癒，臂痠，肘腋攣急，胸中痛， 
　　   及婦人陰挺，陰癢，陰痛；男子遺尿，偏墜等證。
　　[2]鍼二分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
曲澤主治心痛驚，身熱煩渴肘掣疼，兼治傷寒嘔吐逆，鍼灸同施立刻寧。
註：[1]曲澤穴，主治心痛，善驚，身熱煩渴，臂肘搖動，掣痛不能伸， 
　　   傷寒，嘔吐，氣逆等證。
　　[2]鍼三分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
間使主治脾寒證，九種心疼瘧渴生，兼治瘰癧生項下，左右鍼灸自然平。
註：[1]間使穴，主治脾寒證，九種心痛，脾疼，瘧疾，口渴， 
　　   及瘰癧久不癒。
　　[2]患左灸右，患右灸左，鍼六分，留七呼，灸五壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
內關主刺氣塊攻，兼灸心胸脅痛疼，勞熱瘧疾審補瀉，金鍼抽動立時寧。
註：[1]內關穴，主治氣塊上攻心胸，脅肋疼痛，勞熱，瘧疾等證。
　　[2]鍼五分，灸五壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
痰火胸疼刺勞宮，小兒口瘡鍼自輕，兼刺鵝掌風證候，先補後瀉效分明。
註：[1]勞宮穴，主治痰火胸痛，小兒口瘡及鵝掌風等證。
　　[2]鍼二分，禁灸。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
商陽主刺卒中風，暴仆昏沉痰塞壅，少商中衝關衝少，少澤三稜立回生。
註：[1]中衝穴，『乾坤生意』云：此為十井穴，凡初中風跌倒，卒暴昏沉，
　　   痰盛不省人事，牙關緊閉，藥水不下，急以三稜鍼刺中衝、少商、
　　   商陽、關衝、少衝、少澤，使血氣流通，實起死回生急救之妙訣也。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
三里三間並二間，主治牙疼食物難，兼治偏風眼目疾，鍼灸三穴莫教偏。
註：[1]三里、三間、二間三穴，主治牙齒疼痛，食物艱難， 
　　   及偏風眼目諸疾，三穴並鍼灸之。
　　[2]三里穴鍼二分，灸三壯。
　　[3]二間穴鍼三分，灸三壯。
　　[4]三間穴鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
合谷主治破傷風，痺痛筋急鍼止疼，兼治頭上諸般病，水腫產難小兒驚。
註：[1]合谷穴，主治破傷風，風痺，筋骨疼痛，諸般頭痛，水腫，產難， 
　　   及小兒急驚風等證。
　　[2]鍼三分，留六呼，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
陽谿主治諸熱證，癮疹痂疥亦當鍼，頭痛牙痛咽喉痛，狂妄驚中見鬼神。
註：[1]陽谿穴，主治熱病煩心，癮疹，痂疥，厥逆，頭痛，牙疼， 
　　   咽喉腫痛，及狂妄，驚恐見鬼等證。
　　[2]鍼三分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
曲池主治是中風，手攣筋急痛痺風，兼治一切瘧疾病，先寒後熱自然平。
註：[1]曲池穴，主治中風，手攣，筋急，痺風，瘧疾先寒後熱等證。
　　[2]鍼五分，灸七壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
肩井一穴治仆傷，肘臂不舉淺刺良，肩髃主治癱瘓疾，手攣腫肩效非常。
註：[1]肩井穴，主治仆傷，肘臂疼痛不舉。鍼五分，灸五壯，孕婦禁鍼。
　　[2]肩髃穴，主治癱瘓，手攣肩腫。鍼六分，灸五壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
少澤主治衄不止，兼治婦人乳腫疼，大陵一穴何專主？嘔血瘧疾有奇功。
註：[1]少澤穴，主治鼻衄不止，婦人乳腫。鍼一分，灸三壯。
　　[2]大陵穴，主治嘔血，瘧疾。鍼六分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
前谷主治癲癎疾，頸項肩臂痛難堪，更能兼治產無乳，小海喉齦腫痛痊。
註：[1]前谷穴，主治癲癎，頸項頰腫引耳疼痛，及婦人產後無乳等證。
　　   鍼一分，留三呼，灸三壯。
　　[2]小海穴，主治咽喉，牙齦腫痛等證。鍼二分，灸五壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
腕骨主治臂腕疼，五指諸疾治可平，後谿能治諸瘧疾，能令癲癎漸漸輕。
註：[1]腕骨穴，主治臂、腕、五指疼痛。鍼二分，灸三壯。
　　[2]後谿穴，主治瘧疾，癲癎。鍼一分，灸一壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
陽谷主治頭面病，手膊諸疾有多般，兼治痔漏陰痿疾，先鍼後灸自然痊。
註：[1]陽谷穴，主治頭面項腫，手膊疼痛不舉，及痔漏，陰痿等證。
　　[2]鍼二分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
支正穴治七情鬱，肘臂十指盡皆攣，兼治消渴飲不止，補瀉分明自可安。
註：[1]支正穴，主治七情鬱結不舒，肘臂十指筋攣疼痛， 
　　   及消渴飲水不止等證。
　　[2]鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
液門主治喉齦腫，手臂紅腫出血靈，又治耳聾難得睡，刺入三分補自寧。
註：[1]液門穴，主治咽喉外腫，牙齦痛，手臂紅腫，耳暴聾，不得眠等證。
　　[2]鍼三分，留二呼，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
中渚主治肢木麻，戰表踡攣力不如，肘臂連肩紅腫痛，手背癰毒治不發。
註：[1]中渚穴，主治四肢麻木、戰振、踡攣無力、肘臂連肩紅腫疼痛， 
　　   手背癰毒等證。
　　[2]鍼二分，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
陽池主治消渴病，口乾煩悶瘧熱寒，兼治折傷手腕痛，持物不得舉臂難。
註：[1]陽池穴，主治消渴，口渴煩悶，寒熱瘧，或因折傷手腕，持物不得，
　　   臂不能舉等證。
　　[2]鍼二分，禁灸。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
外關主治臟腑熱，肘臂脅肋五指疼，瘰癧結核連胸頸，吐衄不止血妄行。
註：[1]外關穴，主治五臟六腑結熱，鼻衄吐血不止，及肘臂脅肋手指節痛，
　　   瘰癧結核，繞頸連胸，腫痛不消等證。
　　[2]鍼三分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
支溝中惡卒心痛，大便不通脅肋疼，能瀉三焦相火盛，兼治血脫暈迷生。
註：[1]支溝穴，主治鬼擊卒心痛，凡三焦相火熾盛及大便不通，脅肋疼痛，
　　   婦人產後血暈，不省人事等證。
　　[2]鍼二分，留七呼，灸七壯。
</pre>
<pre data-sec="p">
主題：手部主病鍼灸要穴歌
條文：
天井主瀉瘰癧疹，角孫惟主目翳生，耳門耳聾聤耳病，絲竹空穴治頭風。
註：[1]天井穴，主治瘰癧，癮疹。鍼三分，灸五壯。
　　[2]角孫穴，主治目中生翳，鍼三分，灸三壯。
　　[3]耳門穴，主治耳聾，聤耳膿汁。鍼三分，留三呼，禁灸。
　　[4]絲竹空穴，主治頭痛，目赤目眩，視物䀮䀮，鍼三分，留三呼， 
　　   禁灸。（見圖九十四、九十五）
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
隱白主治心脾痛，築賓能醫氣疝疼，照海穴治夜發痓，兼療消渴便不通。
註：[1]隱白穴，主治心脾疼痛。鍼一分，灸三壯。
　　[2]築賓穴，主治氣疝。鍼三分，灸五壯。
　　[3]照海穴，主治夜發痓證，及消渴大便閉。鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
大都主治溫熱病，傷寒厥逆嘔悶煩，胎產百日內禁灸，千金主灸大便難。
註：[1]大都穴，主治溫熱病汗不出，傷寒手足逆冷，腹滿，嘔吐，悶亂， 
　　   及大便難等證。
　　[2]鍼三分，留七呼，灸三壯。
　　[3]凡婦人懷孕，及生產後未滿百日，俱不宜灸。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
太白主治痔漏疾，一切腹痛大便難，痞疸寒瘧商邱主，兼治嘔吐瀉痢痊。
註：[1]太白穴，主治痔漏，腹中疼痛，大便不利等證。
　　   鍼三分，留七呼，灸三壯。
　　[2]商邱穴，主治痞氣，黃疸，寒瘧及嘔、吐、瀉、痢等證。
　　   鍼三分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
公孫主治痰壅膈，腸風下血積塊疴，兼治婦人氣蠱病，先補後瀉自然瘥。
註：[1]公孫穴，主治痰壅胸膈，腸風下血積塊，及婦人氣蠱等證。
　　[2]鍼四分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
三陰交治痞滿堅，痼冷疝氣纏，兼治不孕及難產，遺精帶下淋瀝痊。
註：[1]三陰交穴，主治痞滿，痼冷，疝氣，遺精，及婦人腳氣，月信不調，
　　   灸不成孕，難產，赤、白帶下淋瀝等證。
　　[2]鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
血海主治諸血疾，兼治諸瘡病自輕，陰陵泉治脅腹滿，刺中下部盡皆鬆。
註：[1]血海穴，主治女子崩中漏下，月信不調，帶下，及男子腎藏風， 
　　   兩腿瘡癢濕痛等證。鍼五分，灸五壯。
　　[2]陰陵泉穴，主治脅腹脹滿，陰痛，足膝紅腫，小便不通， 
　　   小便失禁不覺，下部等證。
　　[3]鍼五分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
湧泉主刺足心熱，兼刺奔豚疝氣疼，血淋氣痛疼難忍，金鍼瀉動自安寧。
註：[1]湧泉穴，主治足發熱，奔豚，疝氣疼痛，血淋，氣痛等證。
　　[2]鍼三分，留三呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
然谷主治喉痺風，咳血足心熱遺精，疝氣溫瘧多渴熱，兼治初生兒臍風。
註：[1]然谷穴，主治喉痺，唾血，遺精，溫瘧，疝氣，足心熱， 
　　   及小兒撮口臍風。
　　[2]鍼三分，留三分，留三呼，灸三壯，凡鍼不宜見血。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
太谿主治消渴病，兼治房勞不稱情，婦人水蠱胸脅滿，金鍼刺後自安寧。
註：[1]太谿穴，主治消渴，房勞，不稱心意，及婦人水蠱，胸脅脹滿等證。
　　[2]鍼三分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
陰谷舌縱口流涎，腹脹煩滿小便難，疝痛陰痿及痺病，婦人漏下亦能痊。
註：[1]陰谷穴，主治舌縱涎下，腹脹，煩滿，溺難， 
　　   小腹疝急引陰、陰股內廉痛，為痿痺，及女人漏下不止。
　　[2]鍼四分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
復溜血淋宜乎灸，氣滯腰疼貴在鍼，傷寒無汗急瀉此，六脈沉伏即可伸。
註：[1]復溜穴主治血淋，血滯腰痛，傷寒無汗，六脈沉匿者。
　　[2]鍼三分，留三呼，灸五壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
大敦治疝陰囊腫，兼治腦衄破傷風，小兒急慢驚風病，炷如小麥灸之靈。
註：[1]大敦穴，主治諸疝，陰囊腫，腦衄，破傷風，及小兒急慢驚風證。
　　[2]鍼二分，留十呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
行間穴治兒驚風，更刺婦人血蠱癥，渾身腫脹單腹脹，先補後瀉自然平。
註：[1]行間穴，主治小兒急慢驚風，及婦人血蠱癥瘕，渾身腫， 
　　   單腹脹等證。
　　[2]鍼三分，留十呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
太衝主治腫脹滿，行動艱辛步履難，兼治霍亂吐瀉證，手足轉筋灸可痊。
註：[1]太衝穴，主治腫滿，行步艱難，及霍亂吐瀉，手足轉筋等證。
　　[2]鍼三分，留十呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
中封主治遺精病，陰縮五淋溲便難，鼓脹癭氣隨年灸，三里合灸步履艱。
註：[1]中封穴，主治夢泄遺精，陰縮，五淋，不得尿，鼓脹，癭氣。
　　[2]此穴合足三里並灸治行步艱辛。
　　[3]中封穴鍼四分，留七呼，灸三壯。
　　[4]足三里穴鍼五分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
曲泉㿉疝陰股痛，足膝脛冷久失精，兼治女子陰挺癢，少腹冷痛血瘕癥。
註：[1]曲泉穴，主治㿉疝，陰股痛，男子失精，膝脛冷痛，及女子陰挺出，
　　   少腹疼痛，陰癢，血瘕等證。
　　[2]鍼六分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
伏兔主刺腿膝冷，兼刺腳氣痛痺風，若縫穴處生瘡癤，說與醫人莫用功。
註：[1]伏兔穴，主治腿膝寒冷，腳氣痛痺。
　　[2]鍼五分，禁灸。
　　[3]凡此穴處生瘡癤者危。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
陰市主刺痿不仁，腰膝寒如注水侵，兼刺兩足拘攣痺，寒疝少腹痛難禁。
註：[1]陰市穴，主治痿痺不仁，不得屈伸，腰膝寒如注水，兩足拘攣痛， 
　　   寒疝，少腹疼痛等證。
　　[2]鍼三分，留七呼，禁灸。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
足三里治風濕中，諸虛耳聾上牙疼，噎膈鼓脹水腫喘，寒濕腳氣及痺風。
註：[1]足三里穴，治中風，中濕，諸虛，耳聾，上牙疼，水腫，心腹鼓脹，
　　   噎膈哮喘，寒濕腳氣，上、中、下三部痺痛等證。
　　[2]鍼五分，留七呼，灸三壯。
　　[3]此穴三十外方可灸，不爾反生疾。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
解谿主治風水氣，面腹足腫喘嗽頻，氣逆發噎頭風眩，悲泣癲狂悸與驚。
註：[1]解谿穴，主治風氣面浮，腹脹，足腫，喘滿，咳嗽，氣逆發噎， 
　　   頭痛，目眩，悲泣癲狂，驚悸，怔仲等證。
　　[2]鍼五分，留五呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
陷谷主治水氣腫，善噫痛疝腹腸鳴，無汗振寒痰瘧病，胃脈得弦瀉此平。
註：[1]陷谷，主治面目浮腫，及水病善噫，疝氣少腹痛，腸鳴腹痛，瘧疾振
　　   寒無汗等證，或胃脈得弦。
　　[2]皆宜鍼五分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
內庭主治痞滿堅，左右繆灸腹響寬，兼刺婦人食蠱脹，行經頭暈腹疼安。
註：[1]內庭穴，主治痞滿堅硬。
　　[2]鍼三分，留十呼，灸三壯，患右灸左，患左灸右， 
　　   但覺腹響是其效驗。
　　[3]兼治婦人食蠱，行經頭暈，行經頭暈，少腹痛等證。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
厲兌主治尸厥證，驚狂面腫喉痺風，兼治足寒膝臏腫，相偕隱白夢魘靈。
註：[1]厲兌穴，主治尸厥口噤氣絕，狀如中惡，面腫喉痺驚狂，好臥足寒，
　　   膝臏腫痛等證。鍼一分，留一呼，灸一壯。
　　[2]此穴合隱白穴同鍼，治夢魘不寧。鍼一分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
飛陽主治步艱難，金門能療病癲癎，足腿紅腫崑崙主，兼治齒痛亦能安。
註：[1]飛陽穴，主治步履艱難。鍼三分，灸三壯。
　　[2]金門穴，主治癲狂羊癎風。鍼一分，灸三壯。
　　[3]崑崙穴，主治足腿紅腫，牙齒疼痛。鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
畫發痊證治若何，金鍼申脈起沉疴，上牙疼兮下足腫，亦鍼此穴自平和。
註：[1]申脈穴，主治畫發痓證，足腫牙疼。
　　[2]鍼三分，留七呼，灸三壯，灸不及鍼。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
環跳主治中風濕，股膝筋攣腰痛疼，委中刺血醫前證，開通經絡最相應。
註：[1]環跳穴，主治腰、胯、股、膝中受風寒濕氣，筋攣疼痛。
　　   鍼一寸，留十呼，灸三壯。
　　[2]委中穴治證同環跳穴，但此穴禁灸，鍼五分。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
陽陵泉治痺偏風，兼治霍亂轉筋疼，承山主鍼諸痔漏，亦治寒冷轉筋靈。
註：[1]陽陵泉穴主治冷痺偏風，霍亂轉筋。鍼六分，灸三壯。
　　[2]承山穴，主治痔漏疼痛，寒冷轉筋。鍼七分，灸五壯，灸不及鍼。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
陽輔主治膝痠痛，腰間溶溶似水浸，膚腫筋攣諸痰痺，偏風不遂灸功深。
註：[1]陽輔穴，主治膝胻痠疼，腰間寒冷，膚腫筋攣，百節痠疼，痿痺， 
　　   偏風不遂等證。
　　[2]鍼三分，留七呼，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
風市主治腿中風，兩膝無力腳氣衝，兼治渾身麻搔癢，艾火燒鍼皆就功。
註：[1]風巿穴，主治腿中風濕，疼痛無力，腳氣，渾身搔癢麻痺等證。
　　[2]鍼五分，灸五壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
懸鐘主治胃熱病，腹脹肋痛腳氣疼，兼治腳脛濕痺癢，足指疼痛鍼可停。
註：[1]懸鐘穴，主治胃熱，腹脹，脅痛，腳氣，腳脛濕痺，渾身搔癢， 
　　   趾疼等證。
　　[2]鍼六分，灸五壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
丘墟主治胸脅痛，牽引腰腿髀樞中，小腹外腎腳腕痛，轉筋足脛不能行。
註：[1]丘墟穴，主治胸脅滿痛不得息，牽引腰、腿、髀樞中疼痛， 
　　   少腹外腎痛，腳腕轉筋痛，足脛難行等證。
　　[2]鍼五分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
頸漏腹下馬刀瘡，連及胸脅乳癰瘍，婦人月經不利病，下臨泣穴主治良。
註：[1]臨泣穴，主治頸漏，腋下馬刀，連乃胸脅， 
　　   婦人乳癰，月信不調等證。
　　[2]鍼二分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
俠谿主治胸脅滿，傷寒熱病汗難出，兼治目赤耳聾痛，頷腫口噤疾堪除。
註：[1]俠谿穴，主治胸脅支滿，傷寒熱病汗不出，目赤，耳聾，胸痛， 
　　   頷腫，口噤等證。
　　[2]鍼三分，灸三壯。
</pre>
<pre data-sec="p">
主題：足部主病鍼灸要穴歌
條文：
竅陰主治脅間痛，咳不得息熱躁煩，癰疽頭痛耳聾病，喉痺舌強不能言。
註：[1]竅陰穴，主治脅痛，咳逆不得息，發熱躁煩，癰疽口乾，頭痛喉痺，
　　   舌強耳聾等證。
　　[2]鍼一分，灸三壯（見圖九十六、九十七）。
</pre>
<pre data-sec="p">
主題：灸難產穴歌
條文：
橫逆難產灸奇穴，婦人右腳小指尖，炷如小麥灸三壯，下火立產效通仙。
註：[1]婦人橫產，子手先出，諸符藥不效者，灸此。
　　[2]其穴在右腳小趾爪甲外側尖上，即至陰穴也。
　　[3]灸三壯，艾炷如小麥，下火立產（圖九十八）。
</pre>
<pre data-sec="p">
主題：鍼子戶穴歌
條文：
子戶能刺衣不下，更治子死在腹中，穴在關元右二寸，下鍼一寸立時生。
註：[1]胞衣不出，子死腹中，宜刺子戶穴，鍼入一寸。
　　[2]其穴在任脈經之關元穴傍右二寸（圖九十九）。
</pre>
<pre data-sec="p">
主題：灸遺精穴歌
條文：
精宮十四椎之下，各開三寸是其鄉，左右穴灸七壯，夜夢遺精效非常。
註：[1]遺精灸精宮穴，其穴在脊之十四椎下，左右傍開各三寸，灸七壯
　　   （圖一〇〇）。
</pre>
<pre data-sec="p">
主題：灸癆蟲穴歌
條文：
鬼眼一穴灸癆蟲，墨點病人腰眼中，擇用癸亥亥時灸，勿令人知法最靈。
註：[1]勞瘵日久不癒，互相傳染，因內有勞蟲，宜灸鬼眼穴。
　　[2]穴在腰間兩旁，正身直立，有微陷處，用墨點記，合面而臥， 
　　   以小艾炷灸七壯，或九壯十一壯，多寡量人，蟲即吐瀉而出， 
　　   急取燒毀遠棄，可免復傳。
　　[3]擇發亥日夜半，六神皆聚，亥時灸之，勿使病人預知，恐尸神有覺也
　　   （圖一〇一）。
</pre>
<pre data-sec="p">
主題：灸痞根穴歌
條文：
十二椎下痞根穴，各關三寸零五分，二穴左右灸七壯，難消痞塊可除根。
註：[1]痞塊灸痞根穴，其穴在脊之十二椎下，旁開三寸半。
　　[2]痞塊多在左則灸左，在右則灸右，如左右俱有，左右俱灸之
　　   （圖一〇二）。
</pre>
<pre data-sec="p">
主題：灸肘尖穴歌
條文：
肘尖端處是奇穴，男女瘰癧堪灸也，左患灸口口灸左，並灸風池效更捷。
註：[1]肘尖奇穴灸瘰癧，左患灸口，右患灸左。
　　[2]如初起時男先灸左，女先灸右，兼灸風池穴尤效。
　　[3]風池在腦後顳顬穴後，髮際陷中（圖一〇三）。
</pre>
<pre data-sec="p">
主題：灸鬼哭穴歌
條文：
中惡振噤鬼魅病，急灸鬼哭神可定，兩手大指相並縛，穴在四處之騎縫。
註：[1]鬼哭穴，灸鬼魅孤惑，恍惚振噤等證。
　　[2]取穴：將兩手大指相並膊定，用艾炷於甲角反甲後肉四處騎縫，著火
　　   灸之，則患者哀告我自去為效（圖一〇四）。
</pre>
<pre data-sec="p">
主題：灸中惡穴歌
條文：
尸疰客忤中惡病，乳後三寸量準行，男左女右艾火灸，邪崇驅除神自寧。
註：[1]灸口疰、客忤、中惡等證。
　　[2]其穴在乳後三寸，男左女右灸之（圖一〇五）。
</pre>
<pre data-sec="p">
主題：灸疝氣穴歌
條文：
疝氣偏墜灸為先，量口兩角折三尖，一尖向上對臍中，兩尖下垂是穴邊。
註：[1]灸疝痛偏墜奇穴法，用桿心一條，量患人口兩角為則， 
　　   折為三段如▲字樣，以一角安臍中心，兩角安臍下兩傍，尖畫處是穴。
　　[2]左患灸右，右患灸左，左右俱患，左右俱灸，艾炷如粟米大，灸四壯
　　   （圖一〇六）。
</pre>
<pre data-sec="p">
主題：灸翻胃穴歌
條文：
翻胃上下灸奇穴，上在乳下一寸也，下在內踝之下取，三指稍斜向前者。
註：[1]灸翻胃奇穴，上穴在兩乳下一寸； 
　　   下穴在內踝下用手三指稍斜向前排之，即是穴也（圖一〇七）。
</pre>
<pre data-sec="p">
主題：灸腸風穴歌
條文：
腸風諸痔灸最良，十四椎下奇穴鄉，各開一寸宜多灸，年深久痔非常。
註：[1]灸腸風諸痔奇穴。
　　[2]其穴在脊之十四椎下，傍各開一寸，年深者，灸之最效
　　   （圖一〇八。）
</pre>
<pre data-sec="p">
主題：灸暴絕穴歌
條文：
鬼魘暴絕最傷人，急灸鬼眼可回春，穴在兩足大趾內，去甲韭葉鬼難存。
註：[1]凡一切鬼魘暴絕，當灸奇穴。
　　[2]在足兩大趾內，去爪甲如韭葉許，名鬼眼穴。
　　[3]灸之則鬼邪自去，而病可癒也（圖一〇九）。
</pre>
<pre data-sec="p">
主題：灸鬼眼穴歌
條文：
腫滿上下灸奇穴，上即鬼哭不用縛，下取兩足第二趾，趾尖向後寸半符。
註：[1]灸腫滿奇穴，上穴即兩手大指縫，鬼哭穴也； 
　　   下穴在兩足第二趾趾尖向後一寸五分，即是也（圖一一〇）。
</pre>
<pre data-sec="p">
主題：灸贅疣穴歌
條文：
贅疣諸痣灸奇穴，更灸紫白二癜風，手之左右中指節，屈節尖上宛宛中。
註： [1]灸癜風及贅疣諸痣奇穴，其穴在左右手中指節宛宛中，俗名拳尖是也
　　   （圖一一一）。
</pre>
<pre data-sec="p">
主題：灸瘰癧穴歌
條文：
瘰癧隔蒜灸法宜，先從後發核灸起，灸至初發母核止，多著艾火效無匹。
註：[1]瘰癧隔蒜灸法，用獨蒜片先從後發核上灸起，至初發母核而止， 
　　   多灸自效（圖一一二）。
</pre>
<pre data-sec="p">
主題：灸腋氣歌
條文：
腋氣除根剃腋毛，再將定粉水調膏，塗搽患處七日後，視有黑孔用艾燒。
註：[1]凡腋氣先用快刀剃去腋毛淨，乃用好定粉水調搽患處，六七日後， 
　　   看腋下有一點黑者，必有孔如鍼大，或如簪尖，即氣竅也。
　　[2]用艾炷如米大者灸之，三四壯癒，永不再發（圖一二三）。
</pre>
<pre data-sec="p">
主題：灸瘋犬咬傷歌
條文：
瘋犬咬傷先須吮，吮盡惡血不生風，次於咬處灸百壯，常食灸韭不須驚。
註：[1]瘋犬咬傷之處，急急用大嘴砂酒壺一個，內盛乾燒酒，燙極熱， 
　　   去酒以酒壺嘴向咬處，如拔火罐樣，吸盡惡血為度，擊破自落， 
　　   上用艾炷灸之，永不再發。
　　[2]灸韭，炒韭菜也。
</pre>
<pre data-sec="p">
主題：灸蛇蝎蜈蚣蜘蛛咬傷歌
條文：
蛇、蝎、蜈蚣、蜘蛛傷，印時疼痛最難當，急以傷處隔蒜灸，
五六十壯效非常。
註：[1]凡蛇、蝎、蜈蚣、蜘蛛咬傷，痛急勢危者，急用艾火於傷處灸之， 
　　   拔散毒氣即安；或用獨蒜片隔蒜灸之，二三壯換一片，毒甚者， 
　　   灸五六十壯。
</pre>
<pre data-sec="p">
主題：足三里穴歌
條文：
三里膝眼下，三寸兩筋間，能除胸脅痛，腹脹胃中寒，腸鳴並泄瀉，
眼睡膝脛痠，傷寒羸瘦損，氣蠱證諸般，年過三旬後，鍼灸眼光全。
註：[1]三里，足三里穴也。
　　[2]其穴在膝眼下三寸，胻骨外廉，大筋內宛宛中，鍼五分，留七呼， 
　　   灸三壯。
　　[3]主治胸脅疼痛，腹脹，胃寒腸中雷鳴，脾寒泄瀉，眼目紅腫， 
　　   膝脛痠痛，傷寒熱不已，瘦弱虛損，小腸氣痛，與水氣，蠱毒， 
　　   鬼擊諸證，悉宜鍼灸。
　　[4]但小兒忌灸，恐眼目不明，惟三十以外方可灸之，令眼目光明也
　　   （圖一一四）。
</pre>
<pre data-sec="p">
主題：內庭穴歌
條文：
內庭次趾外，本屬足陽明，能治四肢厥，喜靜惡聞聲，癮疹咽喉痛，
數欠及牙疼，瘧疾不思食，耳鳴鍼便清。
註：[1]內庭穴，在足之大趾次趾外間陷中，屬足陽明胃經穴也。
　　[2]主治四肢厥逆，喜靜惡聞人聲，癮疹不快，咽喉腫痛，數欠， 
　　   牙齦疼，瘧疾，不思飲食，耳內蟬鳴等證。
　　[3]鍼三分，留十呼，灸三壯（圖一一五）。
</pre>
<pre data-sec="p">
主題：曲池穴歌
條文：
曲池拱手取，屈肘骨邊求，善治肘中痛，偏風手不收，挽弓開不得，
臂瘓怯梳頭，喉痺促欲死，發熱更無休，遍身風癬癩，鍼著即時瘳。
註：[1]曲池穴，其穴在肘輔骨屈肘骨之中，以手拱胸取之。
　　[2]主治肘中疼痛，偏風半身不遂，臂痛拉弓不開，兩臂癱瘓不能舉手向髮，
　　   喉痺喘促欲死，傷寒振熱，餘熱不盡，皮膚乾燥，痂疥等證。
　　[3]刺七分，留七呼，灸三壯（圖一一六無）。
</pre>
<pre data-sec="p">
主題：合谷穴歌
條文：
合谷在虎口，兩指岐骨間，頭疼並面腫，瘧病熱還寒，體熱身汗出，
目暗視茫然，齒齲鼻衄血，口噤不能言，鍼入深三分，能令人病安。
註：[1]合谷穴，其穴在手大指次指岐骨間陷中。
　　[2]主治偏正頭疼，面目浮腫，瘧疾寒熱，身體發熱，汗不收， 
　　   目翳視物不明，齒蠹朽痛，鼻中流血不止。
　　[3]口噤不開等證。
　　[4]鍼三分，留六呼，灸三壯（圖一一七無）。
</pre>
<pre data-sec="p">
主題：委中穴歌
條文：
委中曲䐐裏，橫紋脈中央，腰痛不能舉，痠沉引脊梁，風癎及轉筋，
疼痛難移向，風痺痛無比，熱病久在床，足膝難伸屈，鍼入即安康。
註：[1]委中穴，其穴在膕中央，約紋動脈陷中。
　　[2]主治腰俠脊沉墜疼痛，瘛瘲，癲疾，及兩腿肚轉筋，疼痛難動， 
　　   風痺疼痛，流注不定，熱病難癒，兩足膝疼痛難伸屈等證。
　　[3]鍼五分，留七呼，禁灸（圖一一八）
</pre>
<pre data-sec="p">
主題：承山穴歌
條文：
承山名魚腹，腨腸分肉間，善治腰疼痛，痔疾大便難，腳氣並膝腫，
兩足盡寒痠，展轉成時疫，戰慄瘧熱寒，霍亂及轉筋，刺之立便安。
註：[1]承山穴，其穴在腿肚下尖分肉間。
　　[2]主治腰背疼痛，痔腫，大便難，腳氣膝腫，脛痠跟痛，傷寒時疫， 
　　   寒熱瘧疾，戰慄不能行立，霍亂轉筋等證。
　　[3]鍼元分。灸五壯（圖一一九）
</pre>
<pre data-sec="p">
主題：太衝穴歌
條文：
太衝足大趾，節後二寸，動脈知生死，能醫驚癎風，咽喉並心腋，
兩足不能動，七疝偏墜腫，眼目似雲朦，亦能療腰痛，鍼下有神功。
註：[1]太衝穴，其穴在足大趾本節後二寸陷中，動脈應手，病者有此脈生，
　　   無此脈者死。
　　[2]主治急慢悚風，羊癇風證，及咽喉疼痛，心腋脹滿，寒濕腳氣痛， 
　　   行步難，小腹疝氣，偏墜疼痛，兩目昏暗，腰背疼痛等證。
　　[3]鍼三分，留十呼，灸三壯（圖一二〇）。
</pre>
<pre data-sec="p">
主題：崑崙穴歌
條文：
崑崙足外踝，跟骨上邊尋，轉筋腰尻痛，膊重更連陰，頭痛脊背急，
暴喘滿衝心，舉步行不得，動足即呻吟，若欲求安樂，須將此穴鍼。
註：[1]昆侖穴，在足外踝後五分跟骨上陷中。
　　[2]主治腰尻疼痛，膊重不能舉，及前陰腫痛，偏正頭痛，脊背拘急， 
　　   暴咳喘促，足腨腫不得履地等證。
　　[3]鍼三分，留七呼，灸三壯（圖一二一）
</pre>
<pre data-sec="p">
主題：環跳穴歌
條文：
環跳在髀樞，側臥屈足取，能鍼偏廢軀，折腰返顧難，冷風並濕痺，
身體似繩牽，腿胯連腨痛，屈轉重吁嘆，若人能鍼灸，頃刻病消痊。
註：[1]環跳穴，其穴在髀樞中，側臥伸下足屈上足取之。
　　[2]主治半身不遂，閃挫腰痛不能回顧，冷風濕痺，周身拘急， 
　　   腿胯腿肚疼痛不能動轉等證。
　　[3]鍼一寸，留十呼，灸三壯（圖一二二）。
</pre>
<pre data-sec="p">
主題：陽陵泉穴歌
條文：
陽陵居膝下，外廉一寸中，膝腫並麻木，冷痺及偏風，起坐腰背重，
面腫滿胸中，舉足不能起，坐臥似衰翁，鍼入六分止，神功妙不同。
註：[1]陽陵泉穴，其穴在膝下一寸，外廉陷中，尖骨前筋骨間。
　　[2]主治兩膝腫痛，及冷痺不仁，半身不遂，腰背重痛，起坐艱難， 
　　   面目浮腫，胸中脹滿，兩足疼痛難移，起坐不能支持等證。
　　[3]鍼六分，留十呼，灸七壯（圖一二三）。
</pre>
<pre data-sec="p">
主題：通里穴歌
條文：
通里腕側後，去腕一寸中，欲言聲不出，懊憹及怔仲，實則四肢重，
頭腮面頰紅，聲平仍數欠，喉痺氣難通，虛則不能食，暴瘖面無容，
毫鍼微微刺，方信有神功。
註：[1]通里穴，其穴在腕側後一寸陷中。
　　[2]主治聲瘂，心煩極甚，怔仲不寧，四肢重痛，頭顋面頰紅腫，倦言，
　　   數欠，喉咽疼痛，氣息不通，虛損不思食，暴瘖面無潤澤。
　　[3]鍼三分，灸三壯（圖一二四）。
</pre>
<pre data-sec="p">
主題：列缺穴歌
條文：
列缺腕側上，次指手交叉，善療偏頭患，遍身風痺麻，痰涎頻上壅， 
口噤不開牙，若能明補瀉，應手即能瘥。
註：[1]列缺穴，其穴在腕後側上一寸五分，兩手交叉，當食指末筋骨罅中。
　　[2]主治偏風頭痛，偏身風痺麻木，痰壅氣堵，口噤不開等證。
　　[3]鍼二分，留三呼，灸三壯（圖一二五）。
</pre>
<pre data-sec="p">
主題：四季鍼灸坐向歌
條文：
四季鍼灸坐向理，宜從四季順自然，東南西北四維向，以迎生氣本乎天。
註：[1]鍼灸坐向，避忌之理，『醫學入門』：「春坐東向西，夏坐南向北，
　　   秋坐西向東，冬坐北中向南」。
　　[2]皆背四季生氣之向，不可為法。
　　[3]宜從春向東，夏向南，秋向西，冬向北，四土旺月向四維， 
　　   以迎生氣，本乎天理，順其自然為是也。
</pre>
<pre data-sec="p">
主題：灸法點穴用火歌
條文：
點穴坐臥立直正，炷用蘄艾火珠良，灸病古忌入木火，今時通行一炷香。
註：[1]凡灸法，坐點穴則坐灸，臥點穴則臥灸，立點穴則立灸。
　　[2]須四體平直，毌令傾側，若傾側穴即不正。
　　[3]其炷所用之艾，必用蘄艾，艾令乾燥，入臼搗去淨塵屑，作炷堅實，
　　   置穴上，用蔥涎黏固。
　　[4]上古用火珠映日取火點之，忌松、柏、枳、橘、榆、束、桑、竹，
　　   八木之火；今時惟用香火灼艾，亦通行簡便之法也。
</pre>
<pre data-sec="p">
主題：灸法早晚次序歌
條文：
灸法溫暖宜於午，上下陽陰先後分，脈數新癒不宜灸，欲灸三里過三旬。
註：[1]凡灸百病，原為溫暖經絡，宜在午時陽盛之時，火氣易行， 
　　   必分上下先後：上下經皆灸者，先灸上，後灸下； 
　　   陰陽經皆灸者，先灸陽，後灸陰。
　　[2]若脈數有熱，新癒氣虛，俱不宜灸，恐傷氣血。
　　[3]但人有病，欲灸足三里者，須三十年以上，方許灸之， 
　　   恐年少盛傷目。
　　[4]故凡灸頭，必灸足三里者，以三里能下火氣也。
</pre>
<pre data-sec="p">
主題：灸法大小多少歌
條文：
頭骨手足皮薄瘦，巨闕鳩尾小少宜，背腹臍下皮肉厚，大多方能起痼疾。
註：[1]凡灸諸病，必火足氣到，始能求癒。
　　[2]然頭與四肢，皮肉淺薄，若併灸之，恐肌骨氣血難堪，必分日灸之，
　　   或隔日灸之，其炷宜小，壯數宜少。
　　[3]百病必當灸巨闕、鳩尾二穴者，必不可過三壯，艾炷如小麥， 
　　   恐火氣傷心也。
　　[4]背腹下皮肉深厚，艾炷宜大，壯數宜多，使火氣到， 
　　   始能去痼冷之疾也。
</pre>
<pre data-sec="p">
主題：灸法調養歌
條文：
灸後風寒須謹避，七情過極慎起居，生冷醇酒諸厚味，惟茹蔬淡適其宜。
註：[1]凡灸後，須謹避風寒，慎其起居，養其氣血，其喜、怒、憂、思、
　　   悲、恐、驚不可過極，和其情志，及禁食一切生冷醇酒厚味等物， 
　　   即食蔬淡，亦當適宜，不可過度，以適養脾胃也。
</pre>
<pre data-sec="p">
主題：灸瘡調治歌
條文：
灸瘡不發氣血竭，七日發膿病必除，發熱膏貼防外襲，薄連蔥荽淨瘡污。
註：[1]凡灸諸病，灸瘡應發不發，是其氣血大虧，不必復灸， 
　　   即灸亦多不能癒。
　　[2]過七天之後，艾疤發時，膿水稠多，其病易癒，以其氣血充暢， 
　　   經絡流通也。
　　[3]發後貼膏藥者，防其六淫外襲也。
　　[4]如灸瘡黑痛，膿汁污穢，及艾火毒盛， 
　　   必用薄荷、黃連、蔥皮、芫荽煎湯，洗之自癒也。
</pre>
<pre data-sec="p">
主題：灸瘡膏藥歌
條文：
芩連白芷金星草，乳香淡竹當歸好。薄荷川芎與蔥白，香油煎藥粉成膏。
註：[1]以上藥味各等分，用香油煎藥去滓，再下鉛粉熬成膏，專貼灸瘡。
</pre>
<pre data-sec="p">
主題：行鍼避忌歌
條文：
行鍼避忌雨大風，飢飽醉怒渴勞驚，男內外女外堅守，更看人神不可逢，
行鍼避忌雖如此，還推病之緩急行，緩病欲鍼擇吉日，急病行鍼稍停。
註：[1]按行鍼避忌，於未刺之先，如風雨晦冥，人之氣血，即凝滯而不調。
　　[2]大飢者氣虛，新飽者氣盛，大醉者氣亂，大怒者氣逆，大渴者液少，
　　   大勞者氣乏，大驚者氣散，凡此者脈亂氣散，行鍼須當避忌， 
　　   俟其必清必靜，聚精會神，方保無誤也。
　　[3]既刺之後，尤當戒慎，男子忌內，女子忌外，忌外者堅拒勿出， 
　　   忌內者謹守勿內，則邪氣必去，正氣必復，是謂得氣，理固然矣。
　　[4]猶有達變之法存焉，緩病須擇神吉，急病豈可待時哉。
</pre>
<pre data-sec="p">
主題：四季人神所在禁忌鍼灸歌
條文：
四季人神所在處，禁忌鍼灸莫忘施，春在左脅秋在右，冬在於腰夏在臍。
註：[1]四季人神所在之處，謂人之神氣初動之處，同乎天之流行也， 
　　   禁鍼灸者恐傷生氣也。
　　[2]人神常在心，春在左脅者肝主升也，秋在右脅者肺主降也， 
　　   冬在腰者神主藏，夏在臍者脾主化也。
</pre>
<pre data-sec="p">
主題：逐日人神所在禁忌鍼灸歌
條文：
一日足大二外踝，三日股內四在腰，五口六手七內踝，八腕九尻十背腰，
十一鼻柱二髮際，三牙四胃五遍身，六胸七氣八股內，九足二十內踝尋，
廿一手小二外踝，三日肝足四手明，五足六胸七在膝，八陰九脛晦趺停。
註：[1]足大，足之大指也。
　　[2]氣，氣衝也。
　　[3]手小，手之小指也。
　　[4]手明，手陽明也。
　　[5]足，足陽明也。
　　[6]陰，男女前陰中也。
　　[7]晦，月盡也。
　　[8]趺，足十趾岐骨也。
</pre>
<pre data-sec="p">
主題：十二時人神所在禁忌鍼灸歌
條文：
子踝丑頭寅耳邊，卯面辰項巳乳肩，午脅未腹申心主，酉膝戍腰亥股端。
註：[1]子踝，左、右內踝、外踝也。
　　[2]寅耳邊，左右兩耳也。
　　[3]辰項，頸項也，巳乳肩，兩乳兩肩也。
　　[4]午脅，左右脅也。
　　[5]未腹，大腹少腹也。
　　[6]申心主，胸膈也。
　　[7]酉膝，左右兩膝也。
　　[8]戍腰，腰背也。
　　[9]亥股，兩股內外也。
</pre>
<pre data-sec="p">
主題：禁鍼穴歌
條文：
禁鍼穴道要先明，腦戶顖會及神庭，絡卻玉枕角孫穴，顱息承泣隨承靈，
神道靈台膻中忌，水分神闕並會陰，橫骨氣衝手五里，箕門承筋及青靈，
乳中上臂三陽絡，二十三穴不可鍼。孕婦不宜鍼合谷，三陰交內亦通論，
石門鍼灸應須忌，女子終身無妊娠。外有雲門並鳩尾，缺盆客主人莫深，
肩井深時人悶倒，三里急補人還平，刺中五臟膽皆死，衝陽血出投幽冥。
海泉顴窌乳頭上，脊間中髓傴僂形，手魚腹陷陰股內，膝臏筋會及腎經，
腋股之下各三寸，目眶關節皆通評。
</pre>
<pre data-sec="p">
主題：禁灸穴歌
條文：
禁灸之穴四十七，承光瘂門風府逆，睛明攢竹下迎香，天柱素髎上臨泣，
腦戶耳門瘛脈通，禾髎顴髎絲竹空，頭維下關人迎等，肩貞天牖心俞同，
乳中脊中白環俞，鳩尾淵液和周榮，腹哀少商並魚際，經渠天府及中衝，
陽池陽關地五會，漏谷陰陵條口逢，殷門申脈承扶忌，伏兔髀關連委中，
陰市下行尋犢鼻，諸穴休將艾火攻。
</pre>
<pre data-sec="p">
主題：製鍼法歌
條文：
製鍼須用馬啣鐵，惟有金鍼更可嘉，?煉塗酥插臘肉，煮鍼之藥有多法。
註：[1]製鍼用馬嚼環鐵者，以馬屬午，午為火，火克金，取克制之義也。
　　[2]若以真金製鍼，用之更佳。
　　[3]其?煉之法：將鐵絲於火中?紅，截為二寸，或三寸或五寸， 
　　   長短不拘，次以蟾酥塗鍼上，入火中微?，取起，復照前塗酥， 
　　   ?三次，乘熱插入臘肉皮之裏，肉之外，將後藥用水三碗煎沸， 
　　   次入鍼肉在內，煮至水乾，傾於水中，待冷將鍼取出， 
　　   於黃土中插百餘下，以去火毒，其鍼要光圓，不可用尖峰，
          次以銅絲纏其柄。
</pre>
<pre data-sec="p">
主題：煮鍼藥方
條文：
麝香五分　膽礬一錢　石斛一錢　穿山甲三錢　朱砂三錢　沒藥三錢　
鬱金三錢　川芎三錢　細辛三錢　甘草節五錢　沉香五錢　磁石一兩
以上諸藥氣味，能引入鍼內。
</pre>
