<header data-type="book">
<h1>壽親養老書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳直</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
</dl>
</header>

<h1>宋興化令陳君直著</h1>
<p>昔聖人詮置藥石療諸疾病者，以其五藏本於五行，五行有相生勝之理也；榮衛本於陰陽，陰陽有逆順之理也，故萬物皆稟陰陽五行而生。有五色焉，有五味焉，有寒熱焉，有良毒焉，人取其五味冷熱良毒之性歸之五行，處以為藥，以治諸疾。順五行之氣者，以相生之物為藥以養之；逆五行之氣者，以相勝之物為藥，以攻之。或瀉母以利子，或益子以補母，此用藥之奇法也。經曰：天地萬物之盜人。萬物之盜人所以盜萬物為資養之法，其水陸之物為飲食者不啻十品。其五色五味、冷熱補瀉之性，亦皆稟於陰陽五行，與藥無殊。大體用藥之法，以冷治熱，以熱治冷，實則瀉之，虛則補之，此用藥之大要也。人若能知其食性，調而用之，則倍勝於藥也。緣老人之性，皆厭於藥而喜於食，以食治疾，勝於用藥。況是老人之疾，慎於吐痢，尤宜用食以治之。凡老人，首患宜先以食治，食治未愈，然後命藥，此養老人之大法也。是以善治病者，不如善慎疾，善治藥者，不如善治食。今以《食醫心鏡》、《食療本草》、《詮食要法》諸家治饌，洎《太平聖惠方》食治諸法，類成養老食治方，各開門目，用治諸疾，具列於後，為人子者宜留意焉。</p>

<h1>食治養老益氣方</h1>
<p>食治老人補虛益氣，牛乳方。</p>
<p>牛乳（五升）　蓽茇末（一兩）</p>
<p>上件入銀器內，以水三升，和乳合煎取三升，後入瓷閤中。每於食前暖一小盞服之。</p>
<p>食治老人補虛羸乏氣力，法制豬肚方。</p>
<p>肥豬肚（一枚，洗如食法）　人參（五錢，去蘆頭）　乾薑（二錢，炮製銼）　椒（二錢，去目，不開口者微妙，去汗）　蔥白（七莖，去須，切）　糯米（三合）</p>
<p>上件搗為末，入米合和相得，入豬肚內縫合，勿令泄氣，以水五升，於鐺內微火煮，令爛熟。空心服，放溫服之，次暖酒一中盞服之。</p>
<p>食治老人益氣牛乳方</p>
<p>牛乳最宜老人，平補血脈，益心長肌肉，令人身體康強潤澤，面目光悅，志不衰。故為人子者，常須供之以為常食，或為乳餅，或作斷乳等，恆使恣意充足為度，此物勝肉遠矣。</p>
<p>食治老人養老，以藥水飲牛，取乳服食方。</p>
<p>鍾乳（一斤，上好者細研）　人參（三兩，去蘆頭）　甘草（五兩，炙微赤，銼）　乾地黃（三兩）　黃耆（三兩，銼）　杜仲（三兩，去皺皮用）　薯蕷（六兩）　石斛（二兩，去根銼）</p>
<p>上藥為末，以水三斗，先煮粟米七升為粥，放盆內，用藥一兩攪令勻，少和冷水，與渴牛飲之，令取牛乳服之，生熟任意。牛須三歲以上，七歲以下，純黃色者為上，余色為下。其乳常令犢子飲之。若犢子不飲者，其乳動氣，不堪服也。慎蒜、豬、魚、生冷、陳臭。其乳牛清潔養之，洗刷飲飼，須如治用心看之。</p>
<p>食治老人頻遭重病，虛羸不可平復，宜服此枸杞煎方。</p>
<p>生枸杞根（細銼一斗，以水五升煮取一斗五升，澄清）　白羊脊骨（一具，銼碎）</p>
<p>上件藥以微火煎取五升，去滓，取入瓷閤中。每服一合，與酒一小盞合，暖，每於食前溫服。</p>
<p>食治老人補五勞七傷損法煮羊頭方。</p>
<p>白羊頭蹄（一副，須用草火燒令黃色，刮去灰塵）　胡椒（五錢）　豉（半斤）　乾薑（五錢）　蔥白（切，半升）　蓽茇（五錢）</p>
<p>上件藥，先以水煮頭蹄半熟，內藥更煮令爛，去骨，空腹適性食之。日食一具，滿七具即止。禁生冷、醋滑、五辛、陳臭、豬雞等七日。</p>
<p>食治老人大虛羸困極宜服，煎豬肪方。</p>
<p>豬肪（不中水者，半斤）</p>
<p>上入蔥白一莖於銚內，煎令蔥黃即止，候冷暖如身體，空服頻服之令盡。暖蓋覆臥，至日晡後乃白粥調糜。過三日後，宜服羊肝羹。</p>
<p>羊肝羹方</p>
<p>羊肝（一具，去筋膜，細切）　羊脊𦟘肉（二條，細切）　曲末（半兩）　枸杞根（五斤，銼，以水一斗五升煮取四升，去滓）</p>
<p>上用枸杞汁煮前羊肝等令爛，入豉一小盞，蔥白七莖切，以五味調和作羹，空腹食之。後三日慎食如上法。</p>
<p>食治老人補虛勞，油麵餺飥方</p>
<p>生胡麻油（一斤）　浙粳米泔清（一斤）</p>
<p>上二味，以微火煎盡泔清乃止，出貯之，取合鹽湯二合，將和麵作餺飥，煮令熟，入五味食之。</p>

<h1>食治老人眼目方</h1>
<p>食治老人肝臟虛弱，遠視無力，補肝，豬肝羹方。</p>
<p>豬肝（一具，細切，去筋膜）　蔥白（一握，去須，切）　雞子（三枚）</p>
<p>上以豉汁中煮作羹，臨熟打破雞子，投在內食之。</p>
<p><u>又方</u></p>
<p>青羊肝（一具，細切，水煮熟，漉干）</p>
<p>上以鹽、醬、醋和食之，立效。</p>
<p><u>又方</u></p>
<p>蔥子（半斤，炒熟）</p>
<p>上為末，每服一匙，以水二大盞，煎一大盞，去滓入米煮粥食之。</p>
<p>食治老人青白翳，明目，除邪氣，利大腸，去寒熱，馬齒實拌蔥豉粥方</p>
<p>馬齒實（一升）</p>
<p>上為末，每服一匙，煮蔥豉粥和攪食之。馬齒菜作羹粥吃，並明目極佳。</p>
<p>食治老人肝臟風虛眼暗，烏雞肝粥方。</p>
<p>烏雞肝（一具，細切）</p>
<p>上以豉和米作羹粥食之。</p>
<p>食治老人目暗不明，蒼耳子粥方。</p>
<p>蒼耳子（五錢）　粳米（三合）</p>
<p>上件搗蒼耳子爛，用布絞濾，以水取汁和米煮粥食之，或作散煎服亦佳。</p>
<p>食治老人熱，發眼赤澀痛，梔子仁粥方。</p>
<p>梔子仁（一兩）</p>
<p>上為末，分為四服。每服用米三合煮粥，臨熟時，下梔子末一分，攪令勻服之。</p>
<p>食治老人益精氣，強志意，聰利耳目，雞頭實粥方。</p>
<p>雞頭實（三合）</p>
<p>上煮令熟，去殼，研如膏，入粳米一合，煮粥空腹服之。</p>
<p>食治老人補中明目，利小便，蔓菁粥方。</p>
<p>蔓菁子（二合）　粳米（三合）</p>
<p>上搗碎，入水二大盞，絞濾取汁，著米煮粥，空心食之。</p>
<p>食治老人益耳目聰明，補中強志，蓮實粥方。</p>
<p>蓮實（半兩，去皮細切）　糯米（三合）</p>
<p>上先以水煮蓮實令熟，次入糯米作粥，候熟入蓮實攪勻，熱食。</p>
<p>食治老人膈上風熱，頭目赤腫痛，目視䀮䀮，竹葉粥方。</p>
<p>竹葉（五十片，淨洗）　石膏（三兩）　砂糖（一兩）　浙粳米（三合）</p>
<p>上以水三大盞，煎石膏等二味，取水二大盞，去滓，澄清煮粥，候熟入砂糖食之。</p>

<h1>食治老人耳聾方</h1>
<p>食治老人久患耳聾，養腎臟，強骨氣，磁石豬腎羹方</p>
<p>磁石（一斤，杵碎，水淘，去赤汁，綿裹）　豬腎（一對，去脂膜，細切）</p>
<p>上以水五升，煮磁石，取二升，去磁石，投腎調和，以蔥、豉、薑、椒作羹，空腹食之。作粥及入酒並得。磁石常闕。</p>
<p>食治老人腎虛損耳聾，鹿腎粥方</p>
<p>鹿腎（一對，去膜，切）　粳米（三合）</p>
<p>上於豉汁中相和煮作粥，入五味如法調和，空腹食之。作羹、酒皆得。</p>
<p>食治老人五臟氣壅耳聾，烏雞膏粥方。</p>
<p>烏雞脂（一兩）　粳米（三合）</p>
<p>上相和煮粥，入五味調和，空腹食之。烏雞脂和酒飲亦佳。</p>
<p>食治老人耳聾不瘥，鯉魚腦髓粥方。</p>
<p>鯉魚腦髓（二兩）　粳米（三合）</p>
<p>上煮粥，以五味調和，空腹服之。</p>
<p>食治老人腎臟氣憊耳聾，豬腎粥方。</p>
<p>豬腎（一兩，去膜，細切）　蔥白（二莖，切去須）　人參（一分，去蘆頭）　防風（一分，去蘆）　粳米（二合）　薤白（去莖，去須）</p>
<p>上件藥末，並米、蔥、薤白，著水下鍋中煮，候粥臨熟，撥開中心，下腎，莫攪動，慢火更煮良久，入五味，空腹服。</p>

<h1>食治老人五勞七傷諸方</h1>
<p>食治老人五勞七傷，下焦虛冷，小便遺精，宜食暖腰壯陽道餅子方</p>
<p>附子（一兩，炮製去皮、臍）　神麯（三兩）　肉蓯蓉（一兩半，酒浸一宿，刮去皺皮，炙乾）　乾薑（一兩，炮，制銼）　桂心（一兩）　五味子（一兩）　大棗（二十枚，煮，去皮、核）　羊髓（二兩）　菟絲子（一兩，酒浸三日，曬乾，為末）　白麵（一斤）　蜜（四兩）　黃牛乳（一斤）　酥（一兩）　漢椒（五錢，去目及閉口者，微炒去汗）</p>
<p>上為末，入面，以酥、蜜、髓、乳相和，入棗瓤，熟搜於盆中，蓋覆勿令通風。半日久，即將出，更搜令熟，捍作糊餅大，面上以筋挑之，即入爐鏊中，上下以火煿令熟。每日空腹食五枚，一方入酵和更佳。</p>
<p>食治老人五勞七傷，益下元，壯氣海，服經月餘，肌肉充盛，老成少年，宜脹食雌雞粥方。</p>
<p>黃雌雞（一雙，去毛、臟腹）　阿魏（少許煉過）　肉蓯蓉（一兩，酒浸一宿，刮去皺皮，切）　生薯蕷（一兩，切）　粳米（二合，淘入）</p>
<p>上先將雞爛煮，擘骨，取汁下米、雞肉、蓯蓉等，都煮粥，入五味，空心食之。</p>
<p>食治老人五勞七傷，陽氣衰弱，腰腳無力，宜食羊腎蓯蓉羹方</p>
<p>羊腎（一對，去筋膜脂，細切）　肉蓯蓉（一兩，酒浸一宿，刮去皺皮，細切）</p>
<p>上件藥和作羹，著蔥白、鹽、五味末等，一如常法，空腹服之。</p>
<p>食治老人五勞七傷，陽氣衰弱，強益氣力，鹿腎粥方。</p>
<p>鹿腎（一對，去脂膜，細切）　粳米（二合）　肉蓯蓉（二兩，酒浸一宿，刮去皮，切）</p>
<p>上件藥，先以水二盞，煮米作粥欲熟，下鹿腎、蓯蓉、蔥。</p>

<h1>食治老人虛損羸瘦諸方</h1>
<p>食治老人臟腑虛損羸瘦，陽氣乏弱，雀兒粥方</p>
<p>雀兒（五隻，如食法，細切）　粟米（一合）　蔥白（三莖，切）</p>
<p>上先將雀兒炒肉，次入酒一合，煮少時，入水二大盞半，下米煮作粥欲熟，下蔥白、五味等，候熟，空心服之。</p>
<p>食治老人虛損羸瘦，下焦久冷，眼昏耳聾，骨汁煮餅方。</p>
<p>大羊尾骨（一條，以水五大盞煮取汁二大盞五分）　蔥白（五莖，去須，切）　陳橘皮（一兩，湯浸，去白穰，焙）　面（三兩）　羊肉（四兩，切細）　荊芥（一握）</p>
<p>上件藥，都用骨汁煮五七沸，去滓，用汁少許，後搜面作索餅，卻於汁中與羊肉煮，入五味，空腹服之。</p>
<p>食治老人虛損羸瘦，助陽壯筋骨，羊肉粥方。</p>
<p>羊肉（二斤）　黃耆（一兩，生用）　人參（二兩，去蘆頭）　白茯苓（一兩）　棗（五枚）　粳米（三合）</p>
<p>上件藥，先將肉去脂皮取精膂肉，留四兩細切，餘一斤十二兩，以水五大盞，並黃耆等煎取汁三盞，去滓，入米煮粥，臨熟，下切了生肉更煮，入五味調和，空心服之。</p>
<p>食治老人虛損羸瘦，令人肥白光澤，雞子索餅方。</p>
<p>白麵（四兩）　雞子（四兩）　白羊肉（四兩，炒作臛）</p>
<p>上件以雞清搜面作索餅，於豉汁中煮令熟，入五味和臛，空心服之。</p>
<p>食治老人腎氣損，陰萎固痹風濕，肢節中痛，不可持物，石英水煮粥方。</p>
<p>白石英（二十兩）　磁石（三十兩，槌碎）</p>
<p>上件藥，以水二斗器中浸，於露地安置，夜即揭蓋，令得星月氣，每日取水作羹粥，及煎茶湯吃，皆用之。用卻一升，即添一升，如此經年，諸風並瘥，氣力強盛，顏如童子。</p>

<h1>食治老人脾胃氣弱方</h1>
<p>食治老人脾胃氣弱，不多食，四肢困乏，無力黃瘦，羊肉索餅方。</p>
<p>白羊肉（四兩）　白麵（六兩）　生薑汁（二合）</p>
<p>上以薑汁搜面肉切作臛頭，下五味、椒、蔥，煮熟，空心食之。日一服，如常作益佳。</p>
<p>食治老人脾胃氣弱，食飲不下，虛劣羸瘦，及氣力衰微，行履不得，鯽魚熟鱠方。</p>
<p>鯽魚肉（半斤，細作鱠）</p>
<p>上投豉汁中煮令熟，下胡椒、時蘿，並薑、橘皮等末及五味。空腹食，常服尤佳。</p>
<p>食治老人脾胃氣弱飲食不多羸乏，藿菜羹方。</p>
<p>藿菜（四兩，切之）　鯽魚肉（五兩）</p>
<p>上煮作羹，下五味、椒姜，並調些少面，空心食之。常以三五日服，極補益。</p>
<p>食治老人脾胃氣弱，不能飲食，多困無力，釀豬肚方。</p>
<p>豬肚（一個肥者，淨洗之）　人參末（五錢）　橘皮末（五錢）　豬脾（二枚，細切）　飯（半碗）　蔥白（半握）</p>
<p>上總納豬肚中相和，入椒、醬、五味訖，縫口合蒸之令爛熟，空心漸食之，能作三兩劑，兼補勞。</p>
<p>食治老人脾胃氣弱，不多飲食，行步無力，黃瘦氣微，見食即欲吐，雞子餺飥方。</p>
<p>雞子（三枚）　白麵（五兩）　白羊肉（五兩，作臛頭）</p>
<p>上件以雞子白搜面，如常法作之，以五味煮熟，空心食之。日一服，常作極補虛。</p>
<p>食治老人脾胃氣弱，食不消化，羸瘦，舉動無力，多臥，曲末索餅子方</p>
<p>曲末（二兩搗為面）　白麵（五兩）　薑汁（三兩）　白羊肉（三兩，作臛頭）</p>
<p>上以薑汁搜曲末和麵作之，加羊肉臛頭及下醬、椒、五味煮熟，空心食之。日一服，常服尤益。</p>
<p>食治老人脾胃氣弱，勞損不下食，羊脊粥方。</p>
<p>大羊脊骨（一具，肥者，槌碎）　青粱米（四合，淨淘）</p>
<p>上以水五升，煎取二升汁，下米煮作粥，空心食之。可下五味常服，其功難及，甚效。</p>
<p>食治老人脾胃氣弱，乾嘔不能下食，羊血方。</p>
<p>羊血（一斤鮮者，麵醬作片）　蔥白（一握）　白麵（四兩，捍切）</p>
<p>上煮血令熟，漸食之，三五服，極有驗。能補益臟腑。</p>
<p>食治老人脾胃氣弱虛，嘔吐不下食，漸加羸瘦，粟米粥方。</p>
<p>粟米（四合，淨淘）　白麵（四兩）</p>
<p>上以粟米拌麵令勻，煮作粥，空心食之。一日一服，極養腎氣和胃。</p>
<p>食治老人飲食不下，或嘔逆虛弱，生薑湯方</p>
<p>生薑（二兩，去皮，細切）　漿水（一升）</p>
<p>上和少鹽煎取七合，空心常作開胃進食。</p>
<p>食治老人脾胃虛弱，噁心不欲飲食，常嘔吐，虎肉炙方。</p>
<p>虎肉（半斤，切作臠）　蔥白（半握，細切）</p>
<p>上件以椒、醬五味調，炙之，空心食，冷為佳。不可熱食，損齒。</p>
<p>食治老人脾胃氣弱，不多食，瘦痿，黃雌雞餛飩方。</p>
<p>黃雌雞肉（五兩）　白麵（七兩）　蔥白（二合，切細）</p>
<p>上以切肉作餛飩，下椒、醬、五味調和煮熟，空心食之。日一服，皆益臟腑，悅澤顏色。</p>

<h1>食治老人瀉痢諸方</h1>
<p>食治老人脾胃氣冷，痢白膿涕，腰脊疼痛，瘦弱無力，鯽魚熟膾方。</p>
<p>鯽魚肉（九兩，切作鱠）　豉汁（七合）　乾薑（五錢）　橘皮末（五錢）</p>
<p>上以椒、醬、五味調和豉汁沸即下鱠魚，煮熟，下二味，空心食之，日一服，其效尤益。</p>
<p>食治老人腸胃冷氣，痢下不止，赤石脂方。</p>
<p>赤石脂（五兩，碎，篩如面）　白麵（七兩）</p>
<p>上以赤石脂末，和麵搜作之，煮熟，下蔥醬、五味臛頭，空心食之。三四服皆愈。</p>
<p>食治老人脾胃氣冷，腸數痢，黃雌雞炙方。</p>
<p>黃雌雞（一隻，如常法）</p>
<p>上以五味、椒、醬刷炙之令熟，空心漸食之，亦甚補益臟腑。</p>
<p>食治老人脾胃虛氣，頻頻下痢，瘦乏無力，豬肝煎。</p>
<p>豬肝（一具，去膜，切作片，洗去血）　好醋（一升）</p>
<p>上以醋煎肝，微火令泣盡干，即空心常服之。亦明目溫中，除冷氣。</p>
<p>食治老人脾胃虛弱冷痛，泄瀉無常，不下食，椒面粥方。</p>
<p>蜀椒（一兩，熬搗為末）　白麵（四兩）</p>
<p>上和椒拌之令勻，即煮，空心食之。日一服尤佳。</p>
<p>食治老人冷熱不調，下痢赤白，腹痛不止，甘草湯方。</p>
<p>甘草（一兩，切，熬）　生薑（三兩，刮去皮，切）　烏豆（一合）</p>
<p>上以水一升煎取七合，去滓，空心服之。不過三日服，愈。</p>
<p>食治老人赤白痢，刺痛，不多食，痿瘦，鯽魚粥方。</p>
<p>鯽魚肉（七兩）　青粱米（四兩）　橘皮末（一分）</p>
<p>上相和煮作粥下五味、椒、醬、蔥調和，空心食之，二服。亦治勞，和臟腑。</p>
<p>食治老人腸胃虛冷泄痢，水穀不分，薤白粥方。</p>
<p>薤白（一握）　粳米（四合）　蔥白（三莖，細切）</p>
<p>上相和作羹，下五味，椒、醬、姜，空心食，常作取效。</p>
<p>食治老人脾虛弱，食不消化，泄痢無定，曲末粥方。</p>
<p>神麯（二兩，炙，搗羅為末）　青粱米（四合，淨淘）</p>
<p>上相和煮粥，空心食之。常三、五服立愈。</p>
<p>食治老人赤白痢，日夜無度，煩熱不止，車前子飲。</p>
<p>車前子（五合，綿裹，用水二升煎取一升半汁）　青粱米（三合）</p>
<p>上取煎汁煮作飲，空心食之。日三服，最除熱毒。</p>
<p>食治老人痢不止，日漸黃瘦無力，不多食，黍米粥方。</p>
<p>黍米（四合，淨淘）　阿膠（一兩，炙，為末）</p>
<p>上煮粥臨熟，下膠末調和，空心食之，一服，尤效。</p>
<p>食治老人下痢赤白，及水穀不度，腹痛，馬齒菜方。</p>
<p>馬齒菜（一斤，淨洗）</p>
<p>上煮令熟及熱，以五味或薑、醋漸食之，其功無比。</p>

<h1>食治老人煩渴熱諸方</h1>
<p>食治老人煩渴口乾，骨節熱，枸杞飲方。</p>
<p>枸杞根白皮（一升）　小麥（一升，淨淘）　粳米（三合，研）</p>
<p>上以水一斗煮二味，取七升汁，下米作飲，渴即漸服之。</p>
<p>食治老人煩渴不止，飲水不定，轉渴，舌卷乾焦，大麥湯方。</p>
<p>大麥（二升）　赤餳（二合）</p>
<p>上以水七升，煎取五升，去滓下餳，調之，渴即服，愈。</p>
<p>食治老人煩渴，小便黃色無度，黃雌雞羹方。</p>
<p>黃雌雞（一隻，如常法）　粳米（二合，淨淘）　蔥白（一握）</p>
<p>上切雞和煮作羹，下五味，少著鹽，空心食之，漸進當效。</p>
<p>食治老人消渴熱中，飲水不止，小便無度煩熱，豬肚方。</p>
<p>豬肚（一具肥者，淨洗）　蔥白（一握）　豉（五合，綿裹）</p>
<p>上煮爛熟，下五味調和，空心，切，漸食之，渴即飲汁，亦治勞熱，皆瘥。</p>
<p>食治老人煩渴，臟腑乾枯，渴不止，野雞方。</p>
<p>野雞（一隻如常法）　蔥白（一握）　粳米（二合，細研）</p>
<p>上切作相和羹作臛，下五味、椒、醬，空心食之。常作服，佳妙。</p>
<p>食治老人煩渴，飲水不足，日漸羸瘦困弱，兔頭飲方。</p>
<p>兔頭（一枚，淨洗）　豉心（五合，綿裹）</p>
<p>上以水七升，煮取五升汁，渴即漸飲之，最效。</p>
<p>食治老人消渴煩悶常熱，身體枯燥黃瘦，牛乳方。</p>
<p>牛乳（一升真者，微熬）</p>
<p>上空心分為二服，極補益五臟，令人強健光悅。</p>
<p>食治老人消渴，壯熱，燥不安，兼無力，青粱米飲方。</p>
<p>青粱米（一升，淨洗，淘之，研令細）</p>
<p>上以水三升和煮之，渴即漸飲服之，極治熱燥併除。</p>
<p>食治老人消渴熱中，飲水無度，常若不足，青豆方。</p>
<p>青豆（二升，淨淘）</p>
<p>上煮令爛熟，空心飢即食之，渴即飲汁，或作粥食之，任性亦佳。</p>
<p>食治老人消渴煩熱，心神狂亂，躁悶不安，冬瓜羹方。</p>
<p>冬瓜（半斤，去皮）　豉心（二合，綿裹）　蔥白（半握）</p>
<p>上以和煮作羹，下五味調和，空心食之，常作粥佳。</p>
<p>食治老人消渴消中，飲水不足，五臟乾枯，蘆根飲方。</p>
<p>蘆根（切，一升，水一斗煎取七升半）　青粱米（五合）</p>
<p>上以煎煮飲，空心食之，漸進為度，益效。忌鹹食、炙肉、熟面等。</p>
<p>食治老人消渴，諸藥不瘥，黃瘦力弱，鹿頭方。</p>
<p>鹿頭（一枚，炮去毛，淨洗之）</p>
<p>上煮令爛熟，空心日以五味食之，並服汁，極效。</p>

<h1>食治老人水氣諸方</h1>
<p>食治老人水氣病，身體腫，悶滿氣急，不能食，皮膚欲裂，四肢常疼，不可屈伸，鯉魚臛頭方。</p>
<p>鯉魚肉（四兩）　蔥白（一握）　麻子（一升，熬，細研）</p>
<p>上以水濾麻子汁，和煮作臛，下五味、椒、姜調和，空心時漸食之，常服尤佳。</p>
<p>食治老人水氣病，四肢腫悶沉重，喘息不安，水牛肉方。</p>
<p>水牛肉（一斤，鮮）</p>
<p>上蒸爛熟，空心，切，以五味、薑、醋漸食之，任性為佳。</p>
<p>食治老人水氣浮腫，身皮膚燥癢，氣急不能下食，心腹脹滿，氣欲絕，貒肉羹方。</p>
<p>貒肉（一斤，細切）　蔥白（半握，切）　粳米（三合）</p>
<p>上和煮作羹，下五味、椒、姜，空心常食之，最驗。</p>
<p>食治老人水氣腫滿，身體疼痛，不能食，麻子粥方。</p>
<p>鯉魚肉（七兩，切）　冬麻子（一升，研，取汁）</p>
<p>上取麻子汁，下米四合，和魚煮作粥，以五味、蔥、椒空心食。日二服，頻作皆愈。</p>
<p>食治老人水氣脹悶，手足浮腫，氣急煩滿赤豆方。</p>
<p>赤小豆（三升，淘洗）　樟柳根（好者，切，一升）</p>
<p>上和豆煮爛，空心常食豆，渴即飲汁，勿別雜食，服三、二服立效。</p>
<p>食治老人水氣面腫腹脹，喘乏不安，轉動不得，手足不仁，身體重困，或疼痛，郁李仁粥方。</p>
<p>郁李仁（二兩，研，以水濾取汁）　薏苡仁（五合，淘）</p>
<p>上以煎汁作粥，空心食之。日二服，常立效。</p>
<p>食治老人水氣，面目手足浮腫，腹脹風急，桑白皮飲。</p>
<p>桑白皮（四兩，切）　青粱米（四合，研）</p>
<p>上以桑汁煮作飲，空心漸食，常服尤佳益。</p>
<p>食治老人水氣疾，心腹脹滿，四肢煩痛無力，白煮鯉魚方。</p>
<p>鯉魚一頭（重二斤者，如常法）　橘皮（二兩）</p>
<p>上和煮令爛熟，空心以二味少著鹽食之。常服，並飲少許汁，將理為驗。</p>
<p>食治老人水氣脹滿，手足俱腫，心煩悶，無力，大豆方。</p>
<p>大豆（二升）　白朮（二兩）　鯉魚（一斤）</p>
<p>上以水和，煮令豆爛熟，空心常食之魚、豆，飲其汁，尤佳。</p>
<p>食治老人水氣，身體虛腫，面目虛脹，水牛皮方。</p>
<p>水牛皮（二斤，刮去毛，淨洗）　橘皮（一兩）</p>
<p>上相和，煮令爛熟，切，以生薑、醋、五味漸食之，常作尤佳。</p>

<h1>食治老人喘嗽諸方</h1>
<p>食治老人上氣，喘息不得，坐臥不安，豬胰酒方。</p>
<p>豬胰（三具，細切）　青州棗（三十枚）</p>
<p>上以酒三升浸之，若秋冬三、五日、春夏一、二日，密封頭，以布絞去滓，空心溫任性漸服之，極驗。切忌咸熱。</p>
<p>食治老人上氣咳嗽，胸中妨滿，急喘，桃仁粥方。</p>
<p>桃仁（三兩，去皮尖，研）　青梁米（二合，淨淘）</p>
<p>上調桃仁和米煮作粥，空心食之，日一服，尤益。</p>
<p>食治老人上氣咳嗽，煩熱，乾燥不能食，餳煎方。</p>
<p>寒食餳（四兩）　乾地黃（生者汁，一斤）　白蜜（三合）</p>
<p>上相和微火煎之令稠，即空心每日半匙，細嚥汁，食後亦服，除熱最效。</p>
<p>食治老人上喘咳嗽，身體壯熱，口乾渴燥，豬脂方。</p>
<p>豬肪脂（一斤，切作臠）</p>
<p>上於沸湯中投煮之，空心以五味漸食之，其效不可比，補勞，治百病。</p>
<p>食治老人上喘，咳嗽氣急，面目浮腫，坐臥不得，蘇煎方。</p>
<p>土蘇（四兩）　鹿髓（三合）　生地黃（汁，一升）</p>
<p>上相和微火煎之如餳即止，空心及食後，常含半匙，細嚥汁，三、兩日即瘥。</p>
<p>食治老人氣急，胸脅逆滿，食不下，棗煎方。</p>
<p>青州棗（三十枚，大者，去核皮）　土蘇（三兩）　餳（二合）</p>
<p>上相和微火溫令消，即下棗，攪之相和，以微火煎令蘇餳泣盡即止。每食上即啖一二枚，漸漸咽汁為佳，忌咸熱炙肉。</p>
<p>食治老人咳嗽，胸脅引痛，即多唾涕，燠藜方。</p>
<p>黃藜（一大顆，刺作五十孔）　蜀椒（五十粒）　面（二兩）</p>
<p>上以蜀椒每孔內一顆，軟麵裹，放於塘灰中，候溫火煨熟，去面，冷空心切食，用三、二服，尤佳。不當及熱食之、鹽甚，須羊肚、肝羹治之。</p>
<p>食治老人上氣咳嗽喘急，煩熱不下食，食即吐逆，腹脹滿，薑糖煎方。</p>
<p>生薑汁（五合）　砂糖（四兩）</p>
<p>上相和微火溫之，一二十沸即止，每度含半匙，漸漸下汁。</p>
<p>食治老人咳嗽虛熱，口舌乾燥，涕唾濃黏，甘蔗粥方。</p>
<p>甘蔗汁（一升半）　青粱米（四合，淨淘）</p>
<p>上以蔗汁煮粥，空心漸食之，日一二服，極潤心肺。</p>
<p>食治老人上氣，熱咳嗽，引心腹痛，滿悶，桃仁煎方。</p>
<p>桃仁（二兩，去皮尖，熬末）　赤餳（四合）</p>
<p>上相和微煎，三五沸即止，空心，每度含少許，漸漸咽汁尤益。</p>
<p>食治老人咳嗽煩熱，或吐血，氣急不能食，地黃飲方。</p>
<p>生地黃（半斤，研如水取汁）</p>
<p>上以地黃汁煎作膏，空心漸食之。日一服，極效。</p>

<h1>食治老人腳氣諸方</h1>
<p>食治老人腳氣煩熱，流腫入膝，滿悶，豬肚生方。</p>
<p>豬肚（一具肥者，細切作生）</p>
<p>上以水洗，布絞令乾，好蒜、醋、椒、醬、五味，空心常食之，亦治熱勞，補益，效。</p>
<p>食治老人腳氣毒悶，身體不任，行履不能，紫蘇粥方。</p>
<p>紫蘇子（五合，熬，研細，以水取汁）　粳米（四合，淨洗淘）</p>
<p>上煮作粥，臨熟下蘇汁調之，空心而食之，日服。亦溫中。</p>
<p>食治老人腳氣逆悶，嘔吐衝心不能下食，豬腎生方。</p>
<p>豬腎（二隻，去膜，細切作生）</p>
<p>上以蒜、醋、五味空心食之，日一服，佳極。</p>
<p>食治老人腳氣衝逆，身腫腳腫，大小便秘澀不通，氣息喘急，食飲不下，郁李仁飲方。</p>
<p>郁李仁（二兩，細研，以水濾取汁）　薏苡仁（四合，淘，研破）</p>
<p>上以相和煮飲，空心食之，一二服，極驗。</p>
<p>食治老人腳氣逆心悶煩躁，心神狂誤，鯉魚臛方</p>
<p>鯉魚（一斤，取肉）　蓴菜（四兩）　粳米（三合，研）</p>
<p>上切以蔥白一握相和煮臛，下五味、椒姜調和，空心食之。常服亦治水氣。</p>
<p>食治老人腳氣煩悶，或吐逆不下食，痹弱，麻子粥方。</p>
<p>麻子（一升，熬，研水濾取汁）　粳米（四合，淨淘）</p>
<p>上以麻子汁作粥，空心食之。日一服尤益。亦中治冷氣。</p>
<p>食治老人腳氣煩躁，或逆，心間憒嘔逆，水牛頭方。</p>
<p>水牛頭（一枚，炮去毛，洗之）</p>
<p>上煮令爛熟，切，以薑、醋、五味，空心漸漸食之，皆效。</p>
<p>食治老人腳氣，毒衝心，身面浮腫，氣急，熊肉醃方。</p>
<p>熊肉（二斤，肥者，切作塊）</p>
<p>上切以五味作醃臘，空心日炙食之。亦可作羹粥，任性食之，極效。</p>
<p>食治老人腳氣攻心煩悶，胸腹脹滿，烏雞羹方。</p>
<p>烏雞（一隻，治如常法）　蔥白（一握，細切）　米（二合，研）</p>
<p>上煮令熟，空心切以五味作羹，常食之為佳。</p>
<p>食治老人腳氣，腎虛氣損，腳膝無力，困乏，生慄方。</p>
<p>生慄（一斤，以蒸熟，透風處懸冷干）</p>
<p>上以每日空心常食十顆，極治腳氣，不惻有功。</p>
<p>食治老人腳氣，煩，痹，緩弱不隨，行履不能，豬腎粥方。</p>
<p>豬腎（二隻，去膜細切）　粳米（四合，淘）　蔥白（半握）</p>
<p>上和煮作粥，下五味、椒、薑、空心食之，日一服，最驗。</p>
<p>食治老人腳氣痹弱，五緩六急，煩躁不安，豉心酒方。</p>
<p>豉心（三升，九蒸九爆為佳）　酒（五升）</p>
<p>上以酒浸二三日，空心任意溫服，三盞，極效。</p>

<h1>食治老人諸淋方</h1>
<p>食治老人五淋，小便澀痛，常頻不利，煩熱，麻子粥方。</p>
<p>麻子（五合，熬，研，水濾取汁）　青粱米（四合，淘）</p>
<p>上以麻子汁煮作粥，空心漸食之。一日二服，常益佳。</p>
<p>食治老人淋病，小便不通利，秘澀少痛，榆皮索餅方。</p>
<p>榆皮（二兩，切，用水三升煮取一升半汁）　白麵（六兩）</p>
<p>上搜面作之，於榆汁拌煮，下五味、蔥、椒，空心食之。常三、五服，極利水道。</p>
<p>食治老人五淋病，身體煩熱，小便痛不利，漿水飲。</p>
<p>漿水（三升，酸美者）　青粱米（三合，研）</p>
<p>上煮作飲，空心漸食之。日二三服。亦宜利，效。</p>
<p>食治老人淋，小便秘澀，煩熱燥痛，四腳寒慄，葵菜羹方。</p>
<p>葵菜（四兩，切）　青粱米（三合，研）　蔥白（一握）</p>
<p>上煮作羹，下五味、椒、醬，空心食之，極治小便不通。</p>
<p>食治老人淋，煩熱，小便莖中痛，澀少不快利，青豆方。</p>
<p>青豆（二升）　橘皮（二兩）　麻子汁（一升）</p>
<p>上煮豆臨熱，即下麻子汁，空心漸食之，並服其汁，皆驗。</p>
<p>食治老人五淋，久不止，身體壯熱，小便滿悶，小麥湯方。</p>
<p>小麥（一升）　通草（二兩）</p>
<p>上以水煮取二升，去渣，漸漸食之，須臾當瘥。</p>
<p>食治老人淋病，小便長澀不利，痛悶之極，蘇蜜煎方。</p>
<p>藕汁（五合）　白蜜（五合）　生地黃汁（一升）</p>
<p>上相和微火煎之，令如餳，空心含半匙，漸漸下。飲食了亦服。忌熱食、炙肉。</p>
<p>食治老人五淋燥痛，小便不多，秘澀不通，蘇粥方。</p>
<p>土蘇（二兩）　青粱米（四合，淘淨）　漿水（二升）</p>
<p>上煮作粥，臨熟，下蘇攪之，空心食之。日一服，尤佳。</p>
<p>食治老人淋病，小便下血，身體熱盛，車前子飲。</p>
<p>車前子（五合，綿裹，水煮取汁）　青粱米（四合，淘研）</p>
<p>上煮前汁作飲，空心食之。常服亦明目，去熱毒。</p>
<p>食治老人五淋秘澀，小便禁痛，膈悶不利，葡萄汁方。</p>
<p>葡萄汁（一升）　白蜜（三合）　藕汁（一升）</p>
<p>上相和微火溫，三沸即止。空心服五合，食後服五合，常以服之殊效。</p>

<h1>食治老人噎塞諸方</h1>
<p>食治老人胸膈妨塞，食飲不下，漸黃瘦，行履無氣軟弱，羊肉索餅方。</p>
<p>羊肉白者（四兩，切作臛頭）　白麵（六兩）　橘皮末（一分）</p>
<p>上搗薑汁，搜面作之如常肉，下五味、蔥、椒、橘皮末等炒，熟煮，空心食之。日一服，極肥健，溫臟腑。</p>
<p>食治老人噎病，心痛悶，膈氣結，飲食不下，桂心粥方。</p>
<p>桂心末（一兩）　粳米（四合，淘研）</p>
<p>上以煮作粥，半熟次下桂末調和，空心日一服。亦破冷氣，殊效。</p>
<p>食治老人噎病，食不通，胸脅滿悶，黃雌雞餺飥方。</p>
<p>黃雌雞（四兩，切作臛頭）　白麵（六兩）　茯苓末（一兩）</p>
<p>上以和茯苓末，搜面，作豉汁中煮，空心食之。常作三五服，極除冷氣噎。</p>
<p>食治老人噎病，食飲不下，氣塞不通，蜜漿方。</p>
<p>白蜜（一兩）　熟湯（一升）</p>
<p>上湯令熟，即下蜜調之，分二服，皆愈。</p>
<p>食治老人噎病，氣塞食不通，吐逆，蘇蜜煎方。</p>
<p>土蘇（二兩）　白蜜（五合）　生薑汁（五合）</p>
<p>上相和，微火煎之令沸，空心服半匙，細細下汁尤妙。</p>
<p>食治老人噎病，胸滿塞悶，飲食不下，姜橘湯方。</p>
<p>生薑（二兩，切）　陳橘皮（一兩）</p>
<p>上以水二升，煎取一升，去滓，空心漸服之常益。</p>
<p>食治老人噎，臟腑虛弱，胸脅逆滿，飲食不下，椒面粥方。</p>
<p>蜀椒（一兩，杵令碎）　白麵（五兩）</p>
<p>上以苦酒浸椒一宿，明旦取出，以拌麵中令勻，煮熟，空心食之，日二服，常驗。</p>
<p>食治老人噎，冷氣壅塞，虛弱食不下，蘇煎餅子方。</p>
<p>土蘇（二兩）　白麵（六兩，以生薑汁五合調之）</p>
<p>上如常法作之，空心常服，潤臟腑和中。</p>
<p>食治老人咽食入口即塞澀不下，氣壅，白米飲方。</p>
<p>白米（四合，研）　舂頭糠末（一兩）</p>
<p>上煮飲熟，下糠米調之，空心服食尤益。</p>
<p>食治老人噎塞，水食不通，黃瘦羸弱，餛飩方。</p>
<p>雌雞肉（五兩，細切）　白麵（六兩）　蔥白（半握）</p>
<p>上如常法，下五味、椒薑、向雞汁中煮熟，空心食之，日一服，極補益。</p>

<h1>食治老人冷氣諸方</h1>
<p>食治老人冷氣，心痛無時，往往發動，不能食，桃仁粥方。</p>
<p>桃仁（二兩，去皮尖，研，水淘取汁）　青粱米（四合，淘研）</p>
<p>上以桃仁汁煮作粥，空心食之，常服，除冷溫中。</p>
<p>食治老人冷氣，心痛不止，腹脅脹滿，坐臥不得，茱萸飲方。</p>
<p>茱萸末（二合）　青粱米（二合，研細）</p>
<p>上以水二升，煎茱萸末取一升，便下末煮作飲，空心食之，一二服尤佳。</p>
<p>食治老人冷氣，心痛，繳結氣悶，桂心酒方。</p>
<p>桂心末（一兩）　清酒（六合）</p>
<p>上溫酒令熱，即下桂心末調之，頻服一二服，效。</p>
<p>食治老人冷氣心痛，牽引背脊，不能下食，紫蘇粥方。</p>
<p>紫蘇子（三合，熬，細研）　青粱米（四合，淘洗）</p>
<p>上煮作粥，臨熟，下蘇子末調之，空心服為佳。</p>
<p>食治老人冷氣，卒心痛，悶澀氣不來，手足冷，鹽湯方。</p>
<p>鹽末（一合）　沸湯（一升）</p>
<p>上以鹽末入湯中調，頻令服盡，須臾當吐，吐即瘥。</p>
<p>食治老人冷氣心痛，嘔，不多下食，煩悶，椒面餺飥方。</p>
<p>上以椒末和麵搜作之，水煮下五味調和食之，常三、五服，極效，尤佳。</p>
<p>食治老人冷氣，心痛，姜橘皮湯方</p>
<p>生薑（一兩，切）　陳橘皮（一兩，炙，為末）</p>
<p>上以水一升，煎取七合，去滓，空心食之，日三、二服尤益。</p>
<p>食治老人冷氣，心痛鬱結，兩脅脹滿，高良薑粥方。</p>
<p>高良薑（二兩，切，以水二升煎取一升半汁）　青粱米（四合，研淘）</p>
<p>上以薑汁煮粥，空心食之。日一服，極益效。</p>
<p>食治老人冷氣，心痛，發動時遇冷風即痛，蓽茇粥方。</p>
<p>蓽茇末（二合）　胡椒末（一分）　青粱米（四合，淘）</p>
<p>上以煮作熟粥，下二味調之，空心食，常服尤效。</p>
<p>食治老人冷氣，逆心痛結，舉動不得，乾薑酒方。</p>
<p>乾薑末（五錢）　清酒（六合）</p>
<p>上溫酒熱，即下薑末投酒中，頻服之，立愈。</p>

<h1>食治老人諸痔方</h1>
<p>食治老人痔病，下血不止，肛門腫，䖱貍羹方。</p>
<p>䖱貍（一兩，法如常治）</p>
<p>上細切，以面及蔥、椒、五味拌，作片炙熟，空心漸食之。亦可作羹粥，任性尤佳。</p>
<p>食治老人痔，下血久不瘥，漸加黃瘦無力，鯉魚鱠方。</p>
<p>鯉魚（肉十兩，切，作鱠，如常法）</p>
<p>上以蒜、醋、五味，空心常食之。日一服，瘥。忌鮓甜食。</p>
<p>食治老人痔，常下血，身體壯熱不多食，蒼耳粥方。</p>
<p>蒼耳子（五合，熟作水二升，煎取一升半汁）　粳米（四合，淘）</p>
<p>上以前件煮作粥，空心食之。日常服，亦可煎湯服之，極效。破氣明目。</p>
<p>食治老人痔病，久不愈，肛門腫痛，鰻鱺魚臛方。</p>
<p>鰻鱺魚肉（一斤，切作臛）　蔥白（半握，細切）</p>
<p>食治老人痔病，下血不止，日加羸瘦無力，鴝鵒散方。</p>
<p>鴝鵒（五隻，治洗令淨，曬令乾）</p>
<p>上搗為散，空心以白粥飲，服二方寸匕，日二服，最驗。亦可炙食任性。</p>
<p>食治老人五痔，泄血不絕，四腳衰弱，不能下食，杏仁飲方。</p>
<p>杏仁（二兩，去皮、尖，細研，以水浸之）　粳米（四合，淘之）</p>
<p>上以杏仁汁相和，煮作飲，空心食之，日一服，效。</p>
<p>食治老人五痔，久不愈，生瘡疼痛，野豬肉羹方。</p>
<p>野豬肉（一斤，細切）　蔥白（一握）　粳米（二合）</p>
<p>上煮作羹，五味調和椒姜，空心漸食之，常作，極效。</p>
<p>食治老人五痔下血，常煩熱，羸瘦，桑耳粥方。</p>
<p>桑耳（二兩，水三升煎取二升，淨）　粳米（四合，淘汁）</p>
<p>上以桑耳汁煮作粥，空心食之，日一二服皆效。</p>
<p>食治老人五痔，泄血不止，積日困劣無氣，鴛鴦法炙方。</p>
<p>鴛鴦（一枚如常法）</p>
<p>上以五味、椒、醬醃，火炙之令熟，空心漸食之，亦療久瘻瘡，絕驗。</p>
<p>食治老人五痔，血下不瘥，肛門腫痛，漸瘦，鮎魚方。</p>
<p>鮎魚肉（一斤）　蔥白（半握）</p>
<p>上以白煮令熟，空心以蒜、醋、五味，漸漸食之，常作尤佳。</p>

<h1>食治老人諸風方</h1>
<p>食治老人中風，言語謇澀，精神昏憒，手足不仁，緩弱不遂方。</p>
<p>葛粉（五兩）　荊芥（一）　豉（五合）</p>
<p>上以搜葛粉如常作之，煎二味取汁煮之，下蔥、椒、五味臛頭，空心食之，一二服，將息為效。忌豬肉、蕎麵。</p>
<p>食治老人中風，口面喎偏，大小便澀，煩熱，荊芥粥方。</p>
<p>荊芥（一把，切）　青粱米（四合，淘）　薄荷葉（半握，切）　豉（五合，綿裹）</p>
<p>上以水煮取荊芥汁，下米及諸味，煮作粥，入鹽醋少許，空心食之，常服佳。</p>
<p>食治老人中風，緩弱不仁，四肢搖動無力，炙熊肉方。</p>
<p>熊肉（一斤，切）　蔥白（半握，切）　椒醬（等）</p>
<p>上以五味醃之，炙熟，空心冷食之，恆服為佳，亦可作羹粥，任性食之尤佳。</p>
<p>食治老人中風汗出，四腳頑痹，言語不利，麻子飲方。</p>
<p>麻子（五合，熬，細研，水淹取汁）　粳米（四合，淨淘，研之）</p>
<p>上以麻子煮作飲，空心漸食之，頻作極補益。</p>
<p>食治老人中風，口目瞤動，煩悶不安，牛蒡餺飥方。</p>
<p>牛蒡根（切一升，去皮，曬乾，杵為面）　白米（四合，淨淘，研）</p>
<p>上以牛蒡粉和麵作之，向豉汁中煮，加蔥椒五味臛頭，空心食之，恆服極效。</p>
<p>食治老人卒中風，口噤，身體反張，不語，大豆酒方。</p>
<p>大豆（二升，熬之）　清油（二升）</p>
<p>上熬豆令聲絕，即下酒投之，煮一二沸，去滓，頓服之，覆臥汗出瘥。口噤拗灌之。</p>
<p>食治老人中風，頭旋目眩，身體厥強，筋骨疼痛，手足煩熱，心神不安，烏驢頭方。</p>
<p>烏驢頭（一枚，炮去毛，淨治之）</p>
<p>上以煮令爛熟，細切，空心以薑、醋、五味食之，漸進為佳。極除風熱，其汗如釅酒，亦醫前患尤效。</p>
<p>食治老人中風，四肢不仁，筋骨頑強，蒼耳葉羹方。</p>
<p>蒼耳葉（一兩，切，好嫩者）　豉心（二合，別煎）</p>
<p>上和煮作羹，下五味、椒、姜調和，空心食之，尤佳。</p>
<p>食治老人中風，熱毒心悶，氣壅昏倒，甘草豆方。</p>
<p>甘草（一兩）　烏豆（三合）　生薑（半兩，切）</p>
<p>上以水二升，煎取一升，去滓，冷漸食服之，極治熱毒。</p>
<p>食治老人中風，煩熱，言語澀悶，手足熱，烏雞臛方。</p>
<p>烏雞（半斤，細切）　麻子汁（五合）　蔥白（一握）</p>
<p>上煮作臛，次下麻子汁，五味、薑、椒，令熟，空心漸食之，補益。</p>
<p>食治老人中風，心神昏昧，行即欲倒，嘔吐，白羊頭方。</p>
<p>白羊頭（一具，治如常治）</p>
<p>上以空心，用薑、醋漸食之為佳。</p>
<p>食治老人中風邪毒，臟腑壅塞，手足緩弱，蒜煎方。</p>
<p>大蒜（一升，去皮，細切）　大黃豆（炒，二升）</p>
<p>上以水一升，和二味微火煎之，似稠即止，空心。每服食啖三二匙，亦補腎氣。</p>
<p>食治老人久風濕痹，筋攣骨痛，潤皮毛，益氣力，補虛止毒，除面皯，宜服補腎地黃酒。</p>
<p>生地黃（一升，切）　大豆（二升，熬之）　生牛蒡根（一升，切）</p>
<p>上以絹袋盛之，以酒一斗浸之五六日，任性空心溫服三二盞，恆作之尤佳。</p>
<p>食治老人風熱煩毒，頑痹不仁，五緩六急，駝脂酒方。</p>
<p>野駝脂（五兩，煿之為上）</p>
<p>上空心溫酒五合，下半匙已上脂調令消，頓服之。日二服，極效。</p>
<p>食治老人風攣拘急偏枯，不通利，雁脂酒方</p>
<p>雁脂（五兩，消之令散）</p>
<p>上每日空心溫酒一盞，下脂半合許調，頻服之。</p>
<p>食治老人風虛痹弱，四肢無力，腰膝疼痛，巨勝酒方。</p>
<p>巨勝酒（二升，熬）　薏苡仁（二升）　乾地黃（半斤，切）</p>
<p>上以絹袋貯無灰酒一斗漬之，勿令泄氣，滿五六日，任性空心溫服一二盞，尤益。</p>
<p>食治老人風冷痹，筋脈緩急，蒼耳茶方。</p>
<p>蒼耳子（二升，熟杵為末）</p>
<p>上每日煎服之代茶，常服，極治風熱明目。</p>
<p>食治老人熱風下血，明目益氣，除邪，治齒疼，利臟腑，順氣，槐茶方。</p>
<p>槐葉（嫩者五斤，蒸令熟，為片，曬乾作茶，搗羅為末）</p>
<p>上每日煎如茶法，服之恆益，除風尤佳。</p>

<h1>簡妙老人備急方</h1>
<p>治一切傷損血出，消腫毒，秦王背指散。</p>
<p>宣連　檳榔（各等分）</p>
<p>上為末，傷撲，干貼消腫，冷水調，雞翎掃，妙。</p>
<p>治失音，過聲飲子。</p>
<p>皂角（一挺，刮去黑皮並子）　蘿蔔（一個，切作片）</p>
<p>上以水二碗，同煎至半碗服之，不過三服便語，吃卻蘿蔔更妙。</p>
<p>治鼻衄醍醐酒。</p>
<p>上以蘿蔔自然汁半盞，熱酒半盞，相知令勻，再用湯溫過服之，立驗。</p>
<p>補下元，烏髭鬚，壯腳膝，進食，悅顏色，治腰疼，杜仲丸。</p>
<p>杜仲（一兩，炙令黃為度）　補骨脂（一兩，炒令香熟，為末）　胡桃仁（一兩，湯浸去皮，細研）</p>
<p>上件三味，研令勻，煉蜜為丸，如梧桐子大，空心溫酒下三十丸。</p>
<p>治一切眼，洗眼藥</p>
<p>膽礬（一兩，煅令白，去火毒用）　滑石（一兩，研）　秦皮（半兩）　膩粉（二錢）</p>
<p>上每用一字，湯泡候溫，閉目洗兩眥頭，以冷為度。</p>
<p>補益療眼有黑花，明目川椒丸。</p>
<p>川椒（一斤，每用鹽一斤拌淹，一宿三度換鹽，淹三夜取出，曬乾，去鹽用）　黑參（半斤，銼）</p>
<p>上二味為末，煉蜜為丸，如梧桐子大，每日鹽湯下三十丸，食後臨臥服之。</p>
<p>治腎臟虛冷，肝膈浮熱，上衝兩目，生翳黑花風毒，久不治者。</p>
<p>青鹽（一兩，生研）　蒼朮（一兩，先用米泔水浸洗三日，焙乾，切）　木賊草（一兩，小便浸三日，焙乾）</p>
<p>上為末，空心熟水調下一錢，如大段青白不見物者，不過十服，小可只三、二服。</p>
<p>治眼有冷淚，木賊散。</p>
<p>木賊（一兩，為末）　木耳（一兩，燒為黑灰）</p>
<p>上件二味同研令勻，每用二錢，以清米泔煎熟，放溫調下，食後、臨臥各一服。</p>
<p>治腸風瀉血，當日止方。</p>
<p>附子（一兩，炮去皮臍，為末）　綠礬（四兩，用瓶盛之，火煅食頃，候冷，取食鹽一合、硫黃一兩，同礬研，依前入瓶內燒，食久候冷取出，研細用之）</p>
<p>上二味一處研令勻，粟米粥為丸，如梧子大，空心用生地黃汁下三十丸。當日止，一月除根。亦可久服，助下元，除風氣，補益臟腑。</p>
<p>治瀉痢，乳香散，和氣，止臟毒瀉血，腹內疼痛等。</p>
<p>乳香（少許）　訶子皮（一分）　當歸（半兩）　木香（半分）</p>
<p>上細銼與乳香微炒，候當歸干為度，杵為末，每服二錢，用陳米第三度泔六分一盞，煎至五分。空心午前服此方最妙。患及百餘日者，服之皆愈。</p>
<p>芸香丸，治風血留滯，下成腸風痔疾。</p>
<p>鹿角（一兩，燒紅，候冷，研）　蕓薹子（半兩，微炒）</p>
<p>上二味為末，醋煮麵糊為丸，如梧子大。每服十丸，飯飲下，溫酒下亦得。空心食前服。</p>
<p>白香散，治一切惡瘡，疼痛不可忍者。</p>
<p>楓香（二分，紙襯於地上食頃，令脆細，研）　膩粉（一分）</p>
<p>上二味，同細研令勻。每有患者，先用口內含漿水令暖，吐出洗瘡令淨後，以藥末干敷疼痛立止，貽至差為度。</p>
<p>治金瘡水毒及木簽刺，癰疽熱毒等，刻聖散萬金瘡此藥最妙。</p>
<p>糯米（三升，揀去粳米，入磁盆內，於端午日前四十九日，以冷水浸之，一日兩度換水，時以手輕淘，轉闢去水，勿令擠碎，浸至端午日，取出用，干，生絹袋掛於通風處收之。）</p>
<p>上每旋取少許，炒令焦黑，碾為末，冷水調如膏藥大小，裹定瘡口，外以絹制包定，更不要動著，候瘡愈。若金瘡誤犯生水，瘡口作膿，烘漸甚者，急以藥膏裹定，三食久腫處已消，更不作膿，直至瘡合。若癰疽毒瘡初發，纏覺掀腫赤熱，急以膏藥貼之，一宿更消。喉閉及咽喉腫痛，吒腮並用藥貼頂下及腫處。若竹木簽入肉者，臨臥貼之，明日揭看其刺出在藥內。若貼腫毒，干即換之，常令濕為妙。惟金瘡水毒，不可換，恐傷瘡口。</p>
<p>治手臂疼痛，冷重無力，虎骨散。</p>
<p>虎骨（二兩，為細末，炒黃）　芍藥（一兩）　羚羊角屑（二兩）</p>
<p>上件酒浸一宿，焙乾，杵為末。每服二錢，食前暖酒調下。</p>
<p>治上焦風，熱毒瘡腫，黃耆散，並治發背熱毒。</p>
<p>黃耆（二兩）　防風（一兩五錢）　甘草（一兩，炙）</p>
<p>上為末，如茶點服一錢。</p>
<p>治風氣神白散　白芷（二兩）　甘草（一兩）</p>
<p>上銼用骰子大，慢火一處炒令深紫色，勿令焦黑，放地上出火毒，杵為末。每服一錢半，水八分一盞，姜一片，棗二枚，同煎至六分，通口服。如傷寒時疾，去棗、姜，卻入蔥白三寸、豉五十粒，依前服，如人行五七里已來，更服汗出為妙。</p>
<p>治一切心腹刺痛，應痛丸。</p>
<p>乳香（一兩）　五靈脂（一兩）　沒藥（一兩）　川烏頭（二兩，去皮臍）</p>
<p>上為末，麵糊為丸，如梧子大。每服熟水下二十丸。</p>
<p>治赤白痢方</p>
<p>黃連（五錢）　漢椒（一兩）</p>
<p>左同炒令黃色，去火毒為末，以多年水梅肉，丸如綠豆大。每服二十丸，鹽湯下。小兒加減用之。</p>

<h1>續添</h1>
<p>年老豐肥之人，承暑胃熱，腹內火燒，遍身汗流，心中焦渴，忽遇水雪冷漿，盡力而飲，承涼而睡，久而停滯，秋來不瘧則痢。</p>
<p>年老豐肥之人，不可騎馬，恐有墜，宜別置乘座器具，穩當無失。</p>
<p>老人目暗耳聾，腎水衰而心火盛也。若峻補之，則腎水彌涸，心火彌茂。</p>
<p>老人腎虛無力，作多小溲，腎主足，腎水虛而火不下，故足痿。心火上乘肺而不入脬囊，故夜多小溲。若峻補之，則火益上行，脬囊亦寒矣。</p>
<p>老人喘嗽，火乘肺也。若溫補之則甚，峻補之則危。</p>
<p>老人臟腑結燥，大便秘澀，可頻服豬羊血，或葵菜血臟羹，皆能疏利。</p>
<p>老人可常服杏湯，杏仁板兒炒熟，麻子、芝麻作湯服之，亦能通利。</p>
