<header data-type="book">
<h1>外治壽世方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鄒存淦</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1877">公元1877年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521060">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫家論議。層出不窮。此是彼非。終無一定。要之時有升降。地有南北。非可執一論也。昔劉守真張子和輩。值金人強盛。民悍氣剛。故多用宣泄之法。及其衰也。兵革之餘。民勞志困。故張潔古李明之輩。多加補益。至於宋季三醫。大抵務守護元氣而已。此元人葛恆齋之言。實發內經所未備。而有至理存焉。故醫家立論。意在生新。泥古者往往僨事。由此推之。古方豈能愈今人之疾哉。惟在醫之者之審時度勢。胸有卓見耳。然又不可以語今之醫者。則惟外治之法。庶可以救服食之窮。其法治之而效。固無論矣。即或不效。究與服食者有間。錢塘吳先生（師機）所著理鑰駢文。專論外治。為醫家別開生面。其文洋洋洒洒八千餘言。細密工整。固已無微不格。然中人以下。或有未知。（淦）不揣愚陋。師其意不尚其文。採輯各方。略分門類。名之曰壽世初編。刊以行世。所願宏開壽域。各臻期頤。使世無不可外治之症。而見不必服藥之功效。其所益不已多乎。</p>
<p><u>時光緒三年丁丑余月之吉海寧鄒存淦儷笙氏自識。</u></p>

<h1>凡例</h1>
<p>一是編所輯諸方。無一杜撰。皆從前人醫書雜著中採錄。因輾轉引用。非由原書。故概不註明出處。</p>
<p>一是編所採。皆系外治。凡是服食之方。理宜刪節。然內中間有兼須飲灌者。亦未便顧此失彼。故略載一二。</p>
<p>一近人立方。每以人參為滋補要藥。殊不知價重兼金。有力者固視若恆品。無力之家。即參鬚參葉。亦且難得。兼有以高麗參黨參代之者。第藥品既殊。其用迥別。非惟無益。或恐有損。外治各方。亦間有用之者。今悉棄而不錄。</p>
<p>一年高之人閱歷既多。性情自異。每遇疾痛。往往執不藥中醫之說。置之不理。使外治得行。費省而功多。定必首肯。為人子者。可不留意於此。</p>
<p>一小兒腸胃柔脆。攻伐之劑。本難輕投。及知識漸開。又皆畏於藥味。十九未能下咽。外治除針灸外。要皆無所痛苦。故兒科諸方。選取稍冗。</p>
<p>一痘瘄為幼科切要。諸家多不經意。且有毒劣之方。用以施治。令其暗損真元。顯促年壽者。產科又生死攸關。惟外治較為穩妥。有識者自宜廢彼從此。</p>
<p>一外治莫多於瘡瘍。是編雖注意內科。而所選無多。外科居十之六。（後復刪去其一二）其疔毒癰疽諸瘡無所附離者。不得不另為分類。其他皆附入各部。不復區分內外。</p>
<p>一通都大邑。名醫麇集之區。有疾延醫服藥甚便。即有良方。每每棄而不視。然亦有無力延醫。與醫之而或窮其術者。不妨以外治之法試之。適有效驗。非惟省延醫之費。抑且免伺候之煩。何樂如之。</p>
<p>一窮鄉僻壤。醫家鮮少。每遇疾病。常自隱忍。即或宣露於人。其症候或難辨識。服食之方。十必誤九。不若外治之得效。宜家置一編。時時翻閱。是所望於印送之善士。</p>
<p>一古方所稱㕮咀者。稱畢細切也。方寸匕者。正方一寸。散子以不落為度。刀圭者。如梧桐子大。一撮者。四刀圭。一把者二兩。略述於此。以備用時斟酌。</p>
<p>一轉輾傳抄。不無承訛襲謬之病。（予）本不知醫。未敢僭改。故於錄成之日。乞新安胡君謙伯校閱一過。顯然知其誤者改之。兩通者並存之。其有未盡之處。尚望當世諸君子。標出郵示。以便更正。</p>
<p>一是編限於刊資。搜輯無多。凡諸症候。或有未備。倘行之有效。自當廣為勸募。再以二編呈教。</p>

<h1>卷一</h1>

<h2>傷寒</h2>

<h3>點眼角法</h3>
<p>粉甘草（六分）頂上梅花冰片（四分）共研極細末。凡病起一日至六日。用此藥點眼角內。分男左女右。出汗即愈。如過七日。不論男女兩眼並點。神效。</p>

<h3>蔥姜熨法</h3>
<p>治傷寒胸膈不寬作痛。一切寒結。熱結。食結。痰結。痞結。水結。等症。並中氣虛弱不堪攻擊者。以此法熨之。則滯行邪散。其效如神。</p>
<p>連須蔥頭一大把。老生薑二大塊。生蘿蔔四五個。（如無以蘿蔔子一合代之）三味共搗爛炒熟。（酒炒更妙）用布分作兩包輪換。久久罨熨心胸脅下痛處。無不豁然自開。汗出而愈。如數次炒乾。則烹之以酒。且不宜大熱。恐炮烙難受。若大便秘結。宜兼熨臍腹。</p>

<h3>蔥熨法</h3>
<p>寒中三陰。口噤失音。四肢強直。攣急疼痛。兩手無脈。似乎中風者。或厥逆唇青。男子腎囊縮入。婦人乳頭縮入。或男婦交合後氣絕等症。俱用蔥白（一斤）微搗炒熱。分二包輪換。熨肚臍下久久。俟暖氣透入自愈。並以蔥白三寸搗爛。酒煎灌之。陽氣即回。此華佗救急方也。或用罐裝熱火。或裝滾水。放炒熱蔥上熨之更妙。病重者更以艾丸如豆大。燒氣海穴。（臍下一寸五分）。關元穴（臍下三寸）各七次。則脈漸現。手足漸溫。可得生矣。</p>

<h3>紫蘇熨法</h3>
<p>傷寒內傷積食蓄血。小腹硬脹。大小便不通。不能言語。神思欲脫。兩目直視。手足強直。證候危篤。難以下藥者。用紫蘇（半斤）煎濃湯。將大手巾折數層。蘸透熱絞略干。乘熱攤病人肚上至臍以下。用手在巾上旋摩。冷則再換。如此數次。候暖氣透入。其一切宿糞硬塊積血自下。其效如神。如肛門秘結不通。須以蜜糖和豬膽。熬煉成條。插入糞門。導之自通。但積糞須用藥調理。</p>

<h3>阮河南蒸法</h3>
<p>薪火燒地。良久掃除去火。可以水小灑。取蠶砂。若桃葉。桑柏葉。諸禾糠及麥皮。皆可。取用易得者。牛馬糞亦可。用但臭耳。桃葉欲落時。可益收取干之。以此等物。著火處。令厚二三寸。布席臥上溫覆。用此發汗。汗皆出。若過熱當細審消息。大熱者可重席。汗出周身。輒便止。當以溫粉粉身。勿令遇風。</p>

<h3>野芋頭擦法</h3>
<p>野芋頭切片。磨擦背上第三骨節。如覺痛癢者。即非傷寒。若不知痛癢即是。</p>
<p>仍用野芋頭片。周身骨節。用力擦勻。並用芋片炒熱。煎濃汁服。二三次即愈，忌食葷並飯。傷寒不能分陰陽。目定口呆。身熱無汗。便秘。不省人事。用煮雞蛋砌臍四旁。或用老油松節（七兩）胡椒（照病人年紀每歲七粒）煮蛋。乘熱切頂殼三分。覆臍眼。面作團護住。冷易。視蛋黑為驗。收盡陰氣自愈。</p>
<p>又方　用煮雞蛋去殼。</p>
<p>乘熱滾擦。亦能變陰為陽。名蛋熨法。用吳茱萸（一升）搗碎。酒拌濕布袋二個分包。甑蒸透。多熨兩足心。兼熨肚臍下。候氣透手足暖為度。或加麥麵食鹽蔥白等分同炒。熱熨亦可。冷則再換。</p>
<p>傷寒表未解。寒邪挾濕。身目發黃。濕盛於熱。則黃色晦。熱盛於濕。則黃色明。晦為陰。明為陽。用生薑汁和茵陳汁點眼。遍身黃者。並擦胸前四肢。周身汗解。或用煨姜絞汁。和香油點眼。又陰黃。用丁香和茵陳。擦如上法。又濕熱發黃。昏沉不省。雄雞破背。帶毛血合胸。又治發黃。用赤小豆　瓜蒂　黃米同研末吹鼻。或綿裹塞鼻各竅。出黃水愈。但勿深入。</p>

<h3>傷寒無汗</h3>
<p>紫蘇煎濃湯。熏頭面及腿彎。又麻黃去節。同甘草研末。加冰片點兩眼角。暖蓋靜臥。避風自汗。不汗熱湯催之。又胡椒　天麻　銀硃　棗肉丸握掌心。或用胡椒　丁香　蔥白搗塗兩掌心。夾腿內側取汗。治陰寒症皆宜。又代赭石　乾薑（等分）為末。熱醋調塗兩手心。合掌握定。夾於大腿內側。溫覆汗出乃愈。</p>
<p>傷寒汗出不均。腹背手足搐搦。川烏　海蛤　炮山甲（各一兩）酒丸彈大。置足心。別劈蔥白。蓋藥帛纏。熱水浸腳至膝。取汗。須避風。（並治中風手足不隨及風濕腳氣等症）</p>

<h3>傷寒結胸停食</h3>
<p>陳香糟（六兩）　生薑　水菖蒲（各四兩）鹽（二兩）共搗勻。炒熱為餅。貼胸前痛處。以火熨之。內向即去。如口渴。任其飲水吃茶。大便利下惡物即愈。名糟蒲餅。</p>
<p>傷寒發散未透。餘毒積於經絡。其症耳後紅腫。頭重體倦。名發頤。在腮曰穿腮。在地閣曰穿喉。皆痰熱之毒也。（按腮內痠痛者曰窄腮不痠痛者乃是發頤）天南星熬膏敷。輕者用靛花或鹿角磨塗。重者用皂角　南星　糯米末　薑汁敷。</p>
<p>又赤豆　側柏葉　雞子清搗塗。又絲瓜燒存性。雞子清調敷。又醋調壁土敷。又大黃　五倍子　白芨（等分）研末。雞子清調塗。傷寒吐蛔　花椒　烏梅肉搗餅擦胸口。</p>
<p>傷寒發狂。目不識人。或見鬼神。用癩蝦蟆。貼心上最妙。又譫語。熬鹽熨。又狂走者。炭盆潑醋使聞。或用薑汁雞子清。調硃砂元明粉。塗胸口。又發狂兼發斑疹。（不發斑疹者亦效斑重者多用癩蝦蟆貼之惟肝不宜多用）急用銅錢於脊。背。兩手彎。兩乳旁。兩腿彎。刮出青紫色。隨取癩蝦蟆一隻（目紅皮紅腹無八字紋者勿用）破開去腸肚等物。貼心坎上。取蝦蟆肝。</p>
<p>煎水服之。並用煮熟雞蛋去殼。於刮傷處。乘熱滾擦隨滾隨換。其病頓減。有起死回生之功。滾過雞蛋。埋入土內。不可使雞犬誤食。此苗人秘方也。無癩蝦蟆。用雞亦可。不必食肝。然終不如蝦蟆之妙。又先用紋銀放臍上。再用燕子窩泥。搗融和雞蛋。煎成一餅敷上。冷則隨換。數次即愈。</p>

<h3>傷寒感冒</h3>
<p>生薑　蔥白　核桃　細茶　黑豆煎湯。沖熏頭面。名五虎茶。得汗解。又生薑搗爛。綿裹擦天庭。（並治中風痰結）　又令兩人各持姜一團。擦兩手足心。兩臂彎。前胸後背。得汗解。（並治夏月霍亂寒中三陰吊腳痧等症）</p>
<p>傷寒誤服補藥。閉邪於內。虛不可表者。用大藥店整包細辛。中黃土。煎盆湯。坐熏。得微汗自解。</p>

<h3>傷寒衄血</h3>
<p>井水磨黃芩。白芨塗山根。又白芨磨本人鼻血。塗山根。又紙浸白芨水。貼眉心。或切白芨片。貼眉心。又茶調決明貼胸。以清肺熱。又延胡索塞耳。左衄塞右。右衄塞左。又井泥搭囟門。頸後及脊上。均是血路。又醋和黃土。塗腎囊。又黃酒浸足。衄久。用牛膠燙軟。貼山根髮際。</p>

<h3>傷寒吐血</h3>
<p>醋調大黃掩臍。又白芷　黑山梔煎熨胸口。清胃熱（治衄研末吹鼻內）又韭汁童便磨鬱金。綿蘸擦背。又蒜泥裹足。引熱下行。（並治衄血）少陰誤汗。熱逼血出九竅。名下厥上竭。用涼水噀之。</p>
<p>傷寒大病後。熱毒攻目。煮蜂房洗之。日六七度。又冷水漬青布掩目。傷寒舌出　巴豆（一粒）研細去油。以紙卷納鼻中。舌即收上。又頂上梅花　冰片（五釐以牙色者為佳）為末。搽之即收。</p>

<h3>傷寒腹痛</h3>
<p>蔥白炒覆臍上。砂壺盛熱湯熨之。又切蔥白如碗粗一束。高寸許。放臍上。熨斗熨之。蔥爛再易。先放胡椒末或麝香丁香末於臍內。再熨更妙。並治陰症。</p>
<p>中寒四肢厥冷。肚腹疼痛。並治陰症腹痛。吳茱萸（一升）酒拌濕布包。二個分包。飯甑蒸透。熱更換。多熨兩足心。兼熨肚臍下。候氣透手足暖為度。或加麥麩食鹽蔥白等分同煎。熱如前。熨之亦效。</p>

<h3>陰症腹痛</h3>
<p>剝熱雞皮貼。又腹痛厥逆。用芥菜子末。溫水調貼臍上。</p>

<h3>陰症傷寒</h3>
<p>男女交合後。或外受風寒。或內食生冷等物。以致肚腹疼痛。男子腎囊內縮。婦女乳頭內縮。或手足攣曲紫黑。甚則牙緊氣絕。謂之陰症傷寒。又名夾色傷寒。急用磚燒紅。隔布數層。在肚腹上熨之。或照前蔥熨法治之。輕則用前蛋熨法治之。</p>
<p>又紋銀一塊。捶扁燒紅。如病人未絕氣。止燒滾熱。放在臍上。再用雞一隻。連毛破開不去腸。包於銀上。用布縛住。以手按緊即愈。若人已死。揭雞看視。如雞青銀黑。另換雞銀。再包即愈。如無銀。只用雞亦可。又胡椒（四十九粒）連須蔥頭（四十九個）共搗成泥。加鍋底煤。（即百草霜取燒草者佳）一撮。再搗勻。分二處布攤。一貼臍上。一貼龜頭。用線捆住。少頃即愈。又胡椒（四十九粒）飛礬　黃丹（各一錢）共研細末。以好酒和為丸。男置左手心。女置右手心。正對陰眼。合之緊緊按定。少頃腹內燥熱。不可搖動即愈。婦女尤效。又胡椒（一粒搗碎）黃丹（三分）火硝（二分）男以左手心受藥。用指研勻。即將藥末封馬口按住。女以右手受藥。自按其陰。又以布貼臍上。取滾水一壺熨之。又急使小兒溺小便於病人床前。令人用足。（男左女右）將尿浸濕泥。推擦成團為餅。敷臍上。再用滾水一罐。在泥餅上熨之甚效。（以上兩方非因陰症起者無論男女亦治）又露蜂房（三錢）燒存性。和蔥白（五寸）同研為丸。著手中男左女右。握於陰口。靜臥汗出即愈。又名健陽丹。（亦名回春丹）胡椒　枯礬　火硝　黃丹（各一錢）丁香（五分）醋為團。握掌心。被蓋取汗。忌飲茶水。一方無火硝。用四味填臍。此方並可用麻油熬黃丹收。臨用摻川椒末貼。又持病人陰莖直上。扯至腹上盡頭處。用艾炷灸七壯即效。又用雞蛋三枚。少水煮熟去殼。在滾水內盡煮。用銀簪插在蛋空頭。病人仰睡。將熱蛋放於臍孔上看此蛋一暈一暈。自黑到頂除之。換一蛋照前合上。看其蛋黑止。其病即愈。重症三蛋必效。又芥菜子（七錢）　乾薑（三錢）共為末。水調作一餅。貼臍上。手帕縛住。置鹽其上。用火熨斗不離熨之。汗出為度。</p>
<p>傷寒後交接勞復。卵腫縮腹中絞痛欲死。取交接婦人衣服。以覆男子。</p>

<h3>陰陽易病</h3>
<p>傷寒初愈入房。男移病於女。名陽易。女移病於男。名陰易。用桑木灰　牡蠣　胡椒　良薑　草烏　白芍　麝香共研末。男以女唾調塗腎上。女以男唾調塗乳上。得汗解。</p>

<h3>傷寒便秘</h3>
<p>見前紫蘇熨法後。又削生薑如小指。長二寸。鹽塗之內下部中。立通。又豬膽和醋少許。灌穀道中。傷寒小便不通　蝸牛（一個）用冰片（少許）點入螺內。即化成水。滴臍中。立解。又皂角　半夏　麝香填臍內。外用田螺　蔥白搗餅蓋之。又雄黃研細末。蜜和為丸。如棗核大。納溺孔中。令入半寸。（兼療天行小便不利）又搗生蔥敷臍下橫文中。燥則易之。</p>
<p>傷寒熱病手足腫欲脫　生牛肉裹之。腫消痛止。又酒煮苦參以漬之。又螺螄入鹽少許。搗敷。又蒼耳草絞取汁漬之。又以稻穰灰汁漬之。又豬膏和羊糞塗之。又菜子油敷。又馬齒莧搗融敷。</p>
<p>傷寒遺毒。手足腫痛欲斷。黃柏（五斤）水三升。煮漬之。</p>
<p>傷寒足痛（即脫腳傷寒）樟木（一段打碎為末煎湯）遠年尿桶砂（一兩為末）和陳小粉調敷。在大熱痛處。有奪命功。</p>

<h2>感冒</h2>
<p>（此偶為風寒所感其症較輕於前之傷寒症故另立感冒一門或照前各方施治亦可）</p>

<h3>風寒作痛</h3>
<p>橘子葉　老薑　蔥頭不拘多少。和酒炒熱。用布包裹於患處。頻頻熨之。其病若失。</p>

<h3>感寒無汗</h3>
<p>水調芥子末填臍內。以熱物隔衣熨之。取汗出妙。</p>

<h3>發散寒邪</h3>
<p>胡椒　丁香（各七粒）碾細。以蔥白搗膏。和塗兩手心。合掌握定。夾於大腿側。溫覆取汗即愈。</p>
<p>傷風感寒。頭目不清。川芎　藿香　延胡索　丹皮（各二錢）　雄黃　白芷　皂角（各四錢）　硃砂（一錢）研細末。吹鼻。</p>

<h3>重傷風</h3>
<p>鵝不食草（一名移星草）研末吹鼻。涕淚出即清爽（冬月可代痧藥）</p>

<h3>風寒發汗</h3>
<p>蒼朮　羌活　明礬　生薑汁丸。握手心。夾腿間，側臥暖蓋取汗。不汗熱湯催之。</p>
<p>暴寒中人。伏於少陰。經旬日始發為咽痛者。俗名腎傷寒。　用半夏　桂枝　甘草　薑汁調塗頸上及臍內。再用附子片貼足心。</p>
<p>暴寒襲入肌膚。觸之若無皮者。川椒燒酒煎。布蘸熨之。</p>

<h3>暴寒身如水冷</h3>
<p>用蠟熔化攤舊絹上。（綢布均可）隨患大小貼之。並裹兩手足心。冷則隨換甚效。或用土熨法。</p>
<p>身受風寒。心腹疼痛。飲食少進。大便閉塞。小便短澀。上下關格不通。渾身繃緊。甚至手足僵硬。不省人事。涼熱難分。用陳乾土磚搗成粗末。約二斤許。以鍋炒大溫熱。用青布包好。以半揉熨胸腹腰背等處。冷則另換一半。周流揉熨。約半時久。自覺胸腹氣流通而愈。或再用皂角少許。吹鼻取嚏。則氣隨通暢。</p>

<h2>中風</h2>
<p><u>癱瘓諸風二門當參看</u></p>

<h3>中風不語</h3>
<p>以苦酒煮芥子。薄頸一周。以衣包之。一周時乃解。即瘥。或用醋煮白芥子敷頸。（並治舌本縮）又令人以溺澆其面。即醒。又用龜尿點少許於舌下。即出聲。（亦治中風舌強）又黃耆　防風（各數兩）煎水一大盆。放床前。使熱氣熏之。時時不斷。熏至一日。即語。神效。中風閉症。先通關。南星　薄荷　半夏　皂角　細辛共研末搐鼻。有嚏可治。無則肺絕。不治。（小兒驚風亦用此試）</p>
<p>中風昏迷不省　牙皂莢（去皮弦二兩）。生明礬（一兩）二味同入水中煮化。取出曬乾為末。北細辛（去葉土淨五錢）共研細末。用少許。吹入鼻中。即醒。又生薑嚼碎。不拘多少。向患者面上天庭等處頻擦。又以生薑汁滴男左女右眼內角。即醒。</p>

<h3>中風口噤</h3>
<p>烏梅肉　生南星　冰片擦牙。或用姜蘸南星冰片擦牙。其噤自開。名開關散。（此即鑑本治小兒口噤神方也）如口不開。筋絕不治。　又白鹽梅揩齒。即能開。並不傷齒。</p>

<h3>中風發熱</h3>
<p>大戟　苦參（各三兩）白酢漿煎洗。</p>

<h3>中風逆冷</h3>
<p>南星　川烏二味。同黃蠟融化。攤手足心（並治驚悸）</p>
<p>中風偏枯。表邪固結者。麻黃　白芥子研。酒調。糊半身。留出竅。不敷紙蓋。得汗即去之。</p>
<p>中風舌本強難轉。語不正。屬痰涎壅塞者。　茯苓（一兩）蠍梢（十四個）　研。酒調。擦舌。中風口喎斜　桂心略研。（三四錢）酒煮取汁。舊布蘸拓患處。正則止。左喎拓右。右喎拓左。常用自效。又皂角末。陳米醋調塗口上。左喎塗右。右喎塗左。干即易之。數次可愈。</p>

<h3>中風口眼喎斜</h3>
<p>蓖麻子（取淨肉一兩）　冰片（三分）寒天加乾薑末（二錢）生黑附子末（二錢）共搗為膏。喎左塗右。喎右塗左。今日塗明日正。俟正即宜洗去。否恐又偏於彼。又活鱔魚（一條）搗爛。左斜敷右。右斜敷左。嘴正即將鱔魚並血洗淨。免口又扯斜一邊。</p>
<p>屢試皆驗。又生瓜蔞絞汁。和大麥面炙熟。熨心頭。一正便止。勿令過分。又生鹿肉同生椒搗貼。正即去之。又石灰（一合）醋炒調如泥。於不患處塗之。立便牽正。（並治風痹癮疹於疹上塗之隨手即滅）又白附子　蠍梢　羌活　川芎　烏頭　藿香（各五錢）　荊芥穗　防風　天麻　僵蟲　炙甘草（各一兩）　薄荷（三兩）　煉蜜為丸。茶或酒調塗喎處。名牽正散。退風散熱甚妙。風而挾寒。痰氣窒閉者。可擦胸背。</p>

<h3>中風手足麻癢</h3>
<p>羌活煎湯洗。</p>
<p>中風手足不仁。有濕痰死血者。川烏　草烏（各六兩）　膽南星（四兩）　乳香　沒藥（末各三兩）　乾地黃（一兩）陳酒調敷痛處。或用薑蔥韭（各一斤）　白芥子　蘿蔔子（各二兩）油熬。黃丹石灰收。調前藥敷。</p>

<h2>癱瘓</h2>
<p>中風癱瘓。手足不舉。穿山甲（左癱用右甲右瘓用左甲）大川烏頭　紅海蛤（如棋子大）各二兩為末。每用五錢。搗蔥白汁和成厚餅。徑寸半。隨左右。貼腳心。縛定。密室安坐。以腳浸滾水盆中。待身麻汗出。急去藥。宜謹避風。自然手足可舉。半月再行一次除根。忌口並女色一年。（並治風濕腳氣）</p>

<h3>熏藥法</h3>
<p>治左癱右瘓。半身不遂。手足腰肢疼痛。並酒風腳痛等症。真降香　真千年健　生草烏　鬧羊花。（各一錢）生川烏（三錢）　真麝香（要當門子三分）　陳艾（六錢）　鑽地風（五分）　百草霜（即鍋底煙二錢）共研細末。攤紙上。捲成筒。用麵糊緊。外用烏金紙。包好紮緊。以火點燃。熏患處。熏時用綿袱隔住。漸熏漸痛。痛則風濕易出。越痛越好。務宜忍住。</p>
<p>熏半時後暫歇。用手在患處四圍揉捻。如有一處。捻之不甚痛者。即於此處再熏。風濕即從此而出。熏完此藥一料即愈。愈後戒食魚腥生冷等物一月。體虛者功稍緩。</p>

<h3>二妙湯熏洗法</h3>
<p>治一切風濕癱瘓。筋骨疼痛。無不神效。生甘草　威靈仙（各一斤）　水一石。將藥煎五六滾。入大缸內。用板凳坐其中。周圍用布圍住。乘熱熏之。待溫。渾身洗透。務使汗出。謹避風寒即愈。</p>

<h3>年久癱瘓</h3>
<p>用槐枝。柳枝。椿枝。楮枝。茄枝。白艾（各一斤）煎水三大桶。夏日用大盆浸洗。水冷添熱。洗後覆被取汗。忌見風三七日。如未全愈再洗。則愈神效。</p>

<h3>風癱</h3>
<p>用蓖仁。桃。柳。桑。槐。椿枝加茄根煎湯洗效。（一方用椿楮柳槐四枝經冬白艾茄根各一斤用長流水煎湯洗）　風癱腰腿手足疼痛。不能臥起。老楊樹蟲蛀糞　干菊花（連枝葉梗）　桑木柴先將房內地掃淨五尺。寬二尺。取上三物鋪勻。加火燒之。以地熱為度。掃去灰燼。乘熱噴黃酒於地。用干稻草鋪上。又噴酒於草。再用稻草蓋之。將病人脫盡衣褲。臥於草上。以被蓋暖。俟出透汗。緩緩去被穿衣褲。入密室避風數日。行走如舊。</p>

<h2>諸風</h2>

<h3>風痛</h3>
<p>木瓜　麻黃　海風藤　豨薟草　白茄根　當歸　防風　秦艽等味。酒煎擦患處。又用木瓜酒擦。又用鳳仙　紫蘇　陳皮　姜　蔥五味。香油煎擦。又蒼朮　蒼耳子　海風藤　黃魚骨　團魚煎湯。去魚洗。</p>

<h3>風毒攻注</h3>
<p>骨節痛。蓖麻子（淨肉研一兩）　乳香（研一錢五分）　生川烏（去皮五錢）　三味。同豬油研成膏。烘熱塗患處。以手心摩之。覺熱如火。效。</p>

<h3>痛風止疼</h3>
<p>飛羅面（一兩）　牛皮膠（三錢）　薑汁（五錢）　蔥汁（五錢）　共融和成膏。以皮紙攤貼患處。立刻止痛。甚驗。</p>

<h3>歷節四肢疼痛</h3>
<p>用醋磨硫黃敷之。○又用蔥白杵爛。炒熱熨之。</p>
<p>寒濕痹痛。麻木不仁。川烏　草烏　蓽茇　甘松　山奈（各五錢）上為末。炒熱布包。熨痛處。神效。風痹。及一切關節皮膚受風濕為患。大顆晚蠶砂（二升）炒熱布包兩個輪換熨之。</p>

<h3>神仙外應膏</h3>
<p>治筋骨疼痛。手足拘攣。川烏（一斤）為細末。隔年陳醋入砂鍋內。慢火熬如醬色。敷患處。如病有一年者。敷後一日發癢。癢時令人將手拍之。以不癢為度。先用升麻皮硝生薑煎湯洗之。然後上藥。不可見風。</p>
<p>一切手足風痛。及酒腳風。漏肩風。濕氣作痛。神效方。　用蔥　蒜　生薑（各取自然汁一碗）　醋（一小碗）共熬濃。入飛面（二兩）　牛膠（四兩）熬成膏。用青布攤貼患處。或加鳳仙花汁一盞。</p>
<p>諸風痛癢。癥瘕瘡痍。折傷效方。　前胡　白芷　細辛　官桂　白朮　川芎（各三兩）　附子（泡）吳茱萸（泡）　當歸　川椒　（各一兩）茶酒拌勻。以煉豬油熬膏摩。</p>

<h3>走注痛</h3>
<p>芫花　桑皮　川椒　桂心　柳蛀屑　麥麩醋炒熨之。又小芥子末和雞子清塗之。　</p>
<p>又姜　蔥　鹽　麥麩酒醋炒熨。並攤席上臥。又炭灰　蚓糞　紅花和醋炒熨。　又芫花　黑豆　生薑醋拌。炒熨。　又治走氣痛。釅醋拌麩炒熱。袋盛熨之。</p>
<p>腰腳濕氣作痛。不能履地。　松毛燒灰布包乘熱熨之。　又黃荊根（四五月間生於野地藥店少有須向生藥店採取生者）入壇中燒煙。熏兩足心及痛處。汗出即愈。</p>

<h3>治麻風</h3>
<p>大黃　芒硝　桑皮日煎洗效。有蟲加鴿糞。又長松（古松下之根也）熬水一缸。將全身坐浸。數次自愈。</p>

<h3>麻風頭禿</h3>
<p>羊屎燒灰油塗。</p>
<p>麻風眉毛脫落。作癢者。雄黃　硫黃（各五錢）　黃雞子殼內白皮（燒存性五錢）　穿山甲（炮十片）　滑石末（一兩）　油核桃（半斤）　搗豬膽汁調。絹包擦。</p>

<h3>麻風眼努</h3>
<p>白丁香　貝母研極細末點。</p>

<h3>麻風面生紫塊疙瘩</h3>
<p>山甲（燒存性）　川椒（炒各二兩）研末。搗生薑大黃汁調擦。</p>

<h3>麻風大爛遍身者</h3>
<p>杜仲　蛇床子　明礬　寒水石　硫黃（各二兩）　朴硝（五錢）研末。豬油塗。</p>

<h3>鵝掌風</h3>
<p>香樟木打碎煎湯。每日早晚溫洗三次。洗半年愈。又青鹽　防風　地骨皮　槐條（各等分）煎水屢洗。至妙。又鴿屎白　雄雞屎共炒研。煎水日日洗之。又青松毛瓦上焙煙起熏之。</p>

<h3>鵝掌風癬</h3>
<p>蘄艾和側柏葉煎湯。乘熱熏洗。一月愈。又豆腐泔水洗手。一月即愈。</p>

<h3>雲頭白癜</h3>
<p>茄子花擦之瘥。又以花紅塗之。永不再發。</p>

<h3>白癜風</h3>
<p>青核。桃皮（一個）　硫黃（一棗子大）研勻。日日摻之，取效。又礬石（研）　硫黃（研）等分。酢和敷之。</p>

<h3>赤白癜風</h3>
<p>生薑頻擦之。</p>

<h3>紫雲風</h3>
<p>鱔血塗之。</p>
<p>紫癜風（即汗斑）　硫黃　輕粉　密陀僧　斑蝥（制存性）　樟腦（各等分）共研極細末。</p>
<p>俟出汗時。用老薑蘸擦患處。兩三日洗去。即除根。神效。又密陀僧為末。黃瓜蒂擦之亦效。</p>

<h3>白虎風</h3>
<p>水牛肉脯（一兩炙）　伏龍肝　燕窠土　飛面（各二兩）　砒黃（一錢）水丸。摩痛處。（砒黃即生砒）</p>

<h3>癧瘍風</h3>
<p>茵陳蒿兩握。水一斗五升。煮七升。先以皂角湯洗後。以此湯洗。如冷更作。隔日一洗。不然恐痛。</p>

<h3>雞爪風</h3>
<p>線雞屎　花椒　枯礬煎。冷洗。</p>

<h3>鬼箭風</h3>
<p>堆花燒酒搽患處。用手拍。見青色即愈。又野苧麻川南星同搗敷。又以桃葉亂髮為團。擦之。又山梔子　桃枝　飛面為餅。貼患處。熨斗熨之。</p>

<h3>鶴膝風</h3>
<p>商陸草取葉。入鹽少許。搗敷患處。自愈。又甘菊花　陳艾葉作護膝。常帶之。可免風濕病。</p>

<h2>癮疹</h2>

<h3>風痹癮疹</h3>
<p>蛇床子（二升）　防風（三兩）　生蒺藜（二斤）　三味切。以水一斗。煮取五升。漬綿拭之。日四五度。又白朮（三兩）　戎鹽（五錢）　黃連　黃芩　川芎　細辛　莽草　茵芋（各一兩）　礬石（五錢）　上九味切。以水一斗。煮取三升洗之。日三度。又取枳實以醋漬令濕。火炙令熱。適寒溫用。熨上即消。</p>

<h3>癮疹百療不瘥</h3>
<p>景天（亦名慎火草一斤）搗絞取汁。塗上熱炙。手摩之再三。即瘥。</p>

<h3>癮疹簡便方</h3>
<p>石灰和醬水塗之瘥。又芒硝水塗之。</p>

<h2>痰疾</h2>

<h3>急救中痰</h3>
<p>此症似乎中風。惟見口眼斜閉。喉內有聲。用細辛末吹入鼻內。得嚏即蘇。切不可用姜灌之。不救。亦不可使聞姜氣。又以小便對口射之。</p>

<h3>痰厥死</h3>
<p>巴豆搗爛。綿紙包。壓取板油作燃。燒煙燻鼻中片刻。吐出痰血即愈。又生半夏末如豆大。吹兩鼻中。</p>

<h3>中痰厥</h3>
<p>生附子　蒜頭醋煮。搗成餅。貼湧泉穴（即足心）。若口渴不可便飲茶。（中寒中風俱可貼）</p>

<h3>積痰</h3>
<p>頂大蔥白頭（二三十個）。略搗爛入鍋內炒熱。俟微溫。塗於胸坎。不久積痰自出。</p>

<h3>痰塞</h3>
<p>皂角（一斤）　生甘草（一兩）　黨參（五錢）　百草霜（三錢）　陳酒熬膏。臨用加薑汁調塗頸。名黑龍膏。</p>

<h3>痰熱</h3>
<p>延胡索（煅二錢）　牙皂（十四枚）　青黛（六分）　麝香（一分）　清水為錠。名青金錠。（兼治中風驚風乳蛾等症）臨用水磨滴鼻。凡痰熱皆可磨塗心口。</p>

<h3>化痰</h3>
<p>巴豆（一粒）　研成粉。帛包。每日嗅數次。</p>

<h3>痰火</h3>
<p>牛黃　硃砂（各一分）　冰片（五釐）　麝香（三釐）將蝦蟆取膽。和前四味為末碾細。將舌尖刺破點藥。其痰即時下行。妙。</p>

<h3>諸癇</h3>
<p>鴨舌膽礬煅存性為末。每發時用一錢。以筆管吹入鼻內。涎出即愈。</p>

<h2>黃疸</h2>
<p><u>附黃腫黑疸</u></p>

<h3>黃疸</h3>
<p>身黃如金。或兼腫脹嘔吐。或眼目亦黃。急用薄草紙以筆管卷如爆竹樣。將一頭以紙封緊。用黃蠟（以銅器熔化）將紙筒四圍澆勻。不可使蠟入筒內。令病人仰臥。將蠟筒罩肚臍上（以封過一頭向下）再用灰面作圈。護住筒根。勿令倒下。勿令泄氣。筒頭上點火。燒至筒根面圈處。取出另換一筒再燒。看臍中有黃水如雞蛋黃者取出。輕者燒七八筒。重者數十筒。日燒二次。總以取盡黃水為度。有患此者。身如金色。遍身腫脹。飲食入口即吐。百藥不效。照此治之。三日全愈。真仙方也。（按此症有陰黃陽黃之分此治陰黃最妙）又苦丁香為細末。搐鼻內。一時鼻出黃水。水盡即止。三日後再搐一次。全愈。（搐時分男左女右並治黑疸）又青背鯽魚（一尾）全用。加砂仁（一兩）洋糖（一撮）搗爛。入蚌殼內。覆臍上。一夜見效。又雄鯽魚（一尾去頭骨止用背上肉兩塊）　胡椒（每歲一粒至十粒止研細）　麝香（三分）上二味同搗爛。麝香另加。不必同舂。恐黏染⿰石臼上。將蛤蜊殼填滿。合病人臍上。用絹縛緊。一日夜即愈。又鮮虎掌草（即天南星葉）搗爛。放茶鍾內。平口扣在臍上一寸許。汗巾縛住越一晝夜解下。腹上自起一大泡。用銀針從下面刺破。漸漸流出黃水。水儘自愈。如無鮮草。以乾者為末。水調照前法治之。</p>

<h3>黃疸腫滿</h3>
<p>苦葫蘆瓤如大棗許。以童便（二合）浸一時。取酸棗大二塊。納兩鼻中。深吸氣。待黃水出良。</p>
<p>黃疸陰黃。及身面浮腫。甜瓜蒂　丁香　赤小豆（各七枚）為末。吹豆許入鼻。少時黃水流出。隔日一用。瘥止。</p>

<h3>熱病發黃</h3>
<p>甜瓜蒂為末。以大豆許搐入鼻中輕則半日。重則一日。流出黃水。隔一日再吹。乃愈。濕熱發黃（或因失飢過飽或因素有濕熱汗出浴身而成者）生薑時時周身擦之。其黃自退。或加茵陳蒿尤妙。</p>

<h3>遍身黃腫</h3>
<p>握新鮮百條根（一名野天門冬）洗搗敷臍上。再以糯米飯半升。拌水酒半合。揉軟蓋藥上。用帛包住。一二日後。口內作酒氣。則水從小便出。腫自消。（黃疸眼黃不腫黃腫色帶白眼如故濕熱未甚多蟲與食積所致）又燒酒調白芥子末（二錢）攤貼小腹上。起泡為度。忌吃糖鹽。黑疸　明礬　滑石　大麥芽（各等分）研敷。</p>

<h2>勞傷</h2>
<p>治一切虛勞咳嗽。吐血。燒熱等症。但脈息有神。無不應效。箭頭砂（一兩）明雄黃（五錢）共研細末。綿紙包固。選未曾行經十二三歲童女。身體壯實無病者。將藥貼放童女臍內。用布捆緊，過一周時取下。稱藥比前多重一二錢者更妙。即刻捆於病人臍上。先備人乳十餘碗。俟病者口乾發燥。飲之渴止。然後解去臍上之藥。其病自去。再用枇杷膏（見驗方新編）調養一月。百無一失。不可服別藥。以免誤事。</p>

<h3>太乙真人熏臍法</h3>
<p>通治勞傷失血。及陰虛。遺精。白濁。陽痿。精神倦怠。痰火。婦人赤白帶。子宮冷諸症。　麝香　龍骨　虎骨　蛇骨　附子　木香　丁香　乳香　沒藥　雄黃　硃砂　五靈脂　夜明砂　胡椒　小茴香　青鹽　兩頭尖（各等分）以麝填臍眼。蕎麥圈臍外。填藥蓋槐皮。艾灸之。汗出病已。慎風寒。戒油膩生冷酒色等。如畏灸者。可加艾和藥裝袋鋪腹上。熨斗熨之。逼藥氣入肚。但令溫暖即止。亦有效。</p>

<h3>濟眾熏臍法</h3>
<p>川烏　沒藥　乳香　雄鼠屎　續斷（各二錢）　麝香（一分）食飽後。灸如前法。勿令痛。反泄真氣。每年中秋行一次。隔兩日一灸。灸至臍內作聲。大便下涎物為止。只服米湯。食白粥。黃酒助力。</p>
<p>治勞病人未全虛者。水灸法。白鴿糞　淨靈脂　白芥末（各五錢）　生甘草末（二錢）　加大蒜（五錢）同搗。入醋化麝香（一分）攤脊上皮紙蓋一炷香。七日一灸。或用白鳳仙豬脊筋同藥末。攤貼背脊。又白鴿糞（三五合）炒焦布包。從尾閭起。擦上至大椎。又從大椎起擦下至尾閭。如此數十遍。日夜數十次。蟲盡死。先用濕紙搭背梁。看一點先干處。是蟲所在。須竭力擦之。</p>

<h3>驗癆蟲法</h3>
<p>用乳香燒煙燻病人手背。男左女右。以綢帕蓋手掌心良久。有毛從掌中出。白者能治。紅者難治。黑者不治。無毛者即無癆蟲。</p>

<h3>灸癆蟲法</h3>
<p>用濕紙條貼背脊上。先乾者即癆蟲處。以墨點記。用老蒜切片貼上。以艾一團放蒜片上燒之。多燒為妙。（無蒜用姜亦可）先備火盆鐵鉗。如蟲出。即用鉗夾入火盆內。或遠送野外埋於土內。恐飛入人口鼻內。須謹防之。</p>

<h3>治癆蟲法</h3>
<p>鳳仙根蘸潮腦擦背。或加薑桂同搗擦。又雄精　硃砂　硫黃（去沙泥各一錢）　麝香（一分）各研極細末。瓷罐收藏。以頂好燒酒和勻。用獨頭大蒜。去蒂蘸藥。從尾閭脊骨。徐徐逐節擦上。如有腫處。或極痛之處。即系癆蟲所在。須於腫痛處。多擦數次。其蟲自滅。不拘新久一切癆病皆能除根。如病重者。須澤天醫吉日。總以午時擦之為妙。端午日更佳。忌戊日巳日除日。此藥能開背後三重關竅。即虛怯疰夏之人。於端午擦之。亦能神清氣爽。經絡流通。大有裨益。此方傳自海外。屢試神效。又八月朔日。早收百草頭上露水。點膏肓穴。（在背上第四節骨左右兩旁各三寸）最為神驗。</p>

<h3>傳屍癆</h3>
<p>熬商陸根。囊盛熨。或佩麝香安息香。再用甘松　元參　炭屑　加白蜜。和丸常燒。可以闢蟲。免傳染。</p>

<h2>諸血</h2>
<p><u>凡鼻舌諸衄皆分載各本門須參看</u></p>

<h3>吐血不止</h3>
<p>好酒（四斤）燉滾，浸兩足即止。又用藕汁或雞子清磨墨。塗胸口。韭菜汁亦可磨。肝血尤宜。</p>

<h3>一切失血眩暈</h3>
<p>生地塞耳鼻。</p>

<h3>九竅出血</h3>
<p>新汲水洗足。即止。又小薊　百草霜　香附　蒲黃（炒）擦牙。並摻出血處。　又石榴花揉塞之。效。用葉亦可。</p>

<h3>口鼻出血不止</h3>
<p>用陳年尿壺。火上烘熱。向鼻熏之。立止如神。亦治耳鼻流血不止。</p>

<h3>毛孔出血不止</h3>
<p>豬瘦肉一厚片。貼之即止。豬皮亦可。又草紙燒灰候冷。敷之亦止。</p>

<h3>肌衄</h3>
<p>硃砂　寒水石　麝香研細末撲。又煮酒罈紙。揉碎如楊花攤之立止。</p>
<p>瘀血在胸。不能飲食。炙肉令香。置口邊引出竇瘀。而上胸自開。名騙通法。</p>

<h2>諸汗</h2>
<p>自汗（常出者為自汗）鬱金研末。臨臥時蜜調塗兩乳上。即止。或用津塗。又何首烏末。津涎調塗臍中。用布捆定即止。又舊蒲扇燒灰。和粉撲之。（或用酒調服蒲扇灰一錢甚效）又五倍子　枯礬（各等分）為末。口水調勻。填臍中。用布縛定亦效。</p>

<h3>自汗不止</h3>
<p>粳米粉絹包。頻頻撲之。又糯米　龍骨　牡蠣（各等分）為粉。撲之即止。又牡蠣（一兩）　研末。絹袋撲之。又牡蠣（熬二兩）　附子（泡五錢）　麻黃根（二兩）搗篩。以白粉（一升）和合粉汗。汗止忌豬肉。</p>

<h3>盜汗（睡中出者為盜汗）</h3>
<p>五倍子研末。用人乳調。蒸熟。丸如龍眼大。每用一丸。貼臍上。外以核桃殼蓋之。用布捆定。一周時取下再換。貼至十日後。即止。又五倍子（焙）研細末。以自漱口水調敷臍上。一方用五倍子去蛀末。炙乾研細。男用女唾。女用男唾。調厚糊填臍中。外用舊膏藥貼之。勿令泄氣。兩次即愈。</p>

<h3>陰汗腎虛陽衰者</h3>
<p>蛇床子（酒炒）　白礬　陳醬（各等分）　煎湯洗之。</p>

<h3>血汗</h3>
<p>發灰撲。又郁李仁研。生梨汁調敷。</p>
<p>治一切虛汗。盜汗。自汗。及漏風等。汗泄不止。諸藥不效者。麻黃根　白朮　藁本　牡蠣龍骨（各五錢）　糯米粉（二兩）　冰片（五分）共研細末撲之。</p>
<p>誤用麻黃。汗出不止。將病人頭髮浸水。並用上撲法。</p>

<h2>瘧疾</h2>

<h3>治瘧方</h3>
<p>牛皮膠（二兩）　熬化。加生薑（三兩）　搗極爛。攪勻。熬成膏聽用。於病發之先一時。用皂莢水洗淨背脊。拭乾。再以生薑一大塊揉擦極熱。用寬長細布一大塊。將膏攤上貼之。（從衣領處貼起）並敷兩膝蓋。過一二日即痊愈。愈後五日。方將膏藥揭去。極效。又用草從左手中指頂尖處。量至中指根處為止。將草摘斷。即用此草。從根量至掌。再從掌量至腕為度。以墨點記。用獨頭大蒜研爛。敷於墨點處。用核桃殼蓋上。以布紮緊。一個時辰即去之。神效。　又胡椒　硫黃（各二釐）研末。糝膏藥上。貼背脊之正對肚臍眼處。過期即愈。又明雄黃　製附子　真潮腦（各等分）　為細末。於瘧未發前一時。以棉花少許。包裹藥末三分。塞鼻孔中。男左女右。塞藥後勿食湯水。睡過此時即愈。重者依法塞二次。小兒量為減用。　又巴豆（二十粒）　南星（一個）　白麵（少許）　水調捻餅。用膏藥貼額上。及灑地金錢草（又名遍地金錢亦名破銅錢又名滿天星）清早塞兩鼻孔中。各一丸。雖三日一發之瘧。可以立愈。又桃頭（七個向天者）　獨頭蒜（七個）　胡椒（四十九粒）　五家粽尖。五月五日午時。共搗為丸。雄黃為衣。扎肚臍內。一周時即愈。　又常山　草果　丁香（少許）用上好酒半茶杯。煎數滾。盛鍾內。熱熏鼻孔即愈。　又老生薑（四兩）　搗爛。於未發先一時。敷膝上。男左女右。用油紙藍布包裹緊紮好。勿令汁流出。立效。　又斑蝥（一個）用膏藥貼於印堂。須早一日貼。一周時即效。　又馬齒莧搗。扎手寸口。男左女右。又三次之後。臨發前一時。用魚醒草一握搗爛。絹包周身摩擦。得睡有汗即愈。　又桃仁（半片）放內關穴上將獨頭大蒜搗爛罨之。縛住。男左女右。即止。　又蛇蛻塞兩耳。即愈。　又生黃丹（五錢）　生白明礬（三錢）　胡椒（一錢五分為末）　麝香（五釐）　共研末。臨發時對日坐定。將好米醋調藥末。男左女右。縛手心。外加絹帕緊扎。待藥力熱方行。出汗為度。如無太陽。腳下用火。此藥一料。能治三人。年老身弱。怕服藥者用之。　又當歸　川芎　防風　甘草　陳皮　蒼朮杜仲　檳榔　草果　半夏　常山　荊芥　知母（各一錢）　真烏梅（五錢燒熟打碎）將藥共放鍋內。炒熱。於未發時。用稀布包裹。捆紮臍上。臍內先以藥末三分填滿。其發必輕。再炒再捆。無有不效。間日瘧更效。輕則一服。重則兩服。年老人不肯服藥者。用此尤妙。　又川貝母（一片）放膏藥上。男左女右。貼大膀灣軟處。不與人知。立愈。　又常山　草果　川烏草烏　陳皮　甘草（各一錢）　將絹袋盛之。聞於鼻間。即止。（只聞香氣不可煎食）　又綠礬少許。摻棉花上紮緊。男左女右。塞鼻內。　又桂心（一分）　麝香（三釐）　川椒（七粒）　雄黃（七釐）共研極細末。納臍中。外以膏藥貼之。虛寒瘧更效。孕婦忌貼。　又大棗肉（兩個去皮核）　斑蝥（兩個焙研）同研勻。加熟豬油（少許）搗成餅子。指頭大貼在兩眉中間印堂上。一周時即止。胎瘧忌貼。</p>

<h3>隔日瘧方</h3>
<p>旱蓮草（研碎）如黃豆大。以紫蘇葉裹之。男左女右。塞鼻孔內。半日即出涕淚。輕者立愈。重者漸次而愈。或照以上各方治之。</p>

<h3>治瘧發汗法</h3>
<p>柴胡（一握）搗爛。絹包擦周身。得睡有微汗解。　又柴胡　當歸　知母　穿山甲（各等分）煎湯。新棉花或布蘸熨背。</p>

<h3>瘧疾脅痛</h3>
<p>青皮炒熨痛處。</p>

<h3>瘧疾化痰</h3>
<p>薑汁　貝母　半夏為丸。擦胸背。</p>

<h3>久瘧成痞（胸脅高起者是又名瘧母）</h3>
<p>毛腳芹菜　大蒜　銀硃同搗爛。塗患處。以油紙蓋上扎住。半日皮上疼痛。口中有蒜氣出。其塊自消。　又大蒜（一個曬乾研細末）　朴硝（三錢研末）獨頭蒜共捶融成膏。貼自消。　又獨頭蒜（一個）　黃丹（一錢）　番木鱉（焙為末五分）共搗成餅。放患處紮好。口中有蒜氣出。即去之。內自消矣。</p>

<h3>小兒久瘧不愈</h3>
<p>赭石（三錢燒紅醋淬）　硃砂（五分）　砒霜（一豆大）各藥用紙包七層。水浸濕火中煨乾研末。加麝香（五釐）香油調搽鼻尖。眉心。及手足心。神效。</p>

<h3>久瘧人虛</h3>
<p>嗅甜肉桂。或塞鼻。則寒自退。熱自輕。神爽氣清。思食而愈。</p>

<h3>截瘧方</h3>
<p>叩頭蟲（一個）安眉心。蟲頭向上。膏藥蓋住。過時自愈。　又名貼臍截瘧丸。胡椒雄精（各等分）研末。將飯研爛為丸。如桐子大。外以硃砂為衣。將一丸放在臍中。外用膏藥貼上。瘧即止。神驗。</p>

<h3>禳瘧法</h3>
<p>用紅紙包米一撮。茶葉一撮。銅錢三十文。包時斷不可令人見。亦不可令人知。包成。次日於清晨出門。直走所向之方。不可回頭。暗拋路旁。亦忌人見。拋後䫀頭直走。不可回顧。由別路歸家。其病如脫。　又未發前。抱大雄雞一隻。著懷中。時時驚動。令作大聲。無不瘥。</p>

<h2>瘟疫</h2>

<h3>闢瘟方</h3>
<p>名太乙流金散。　雄黃（三兩）　雌黃（六兩）　礬石　鬼箭羽（各一兩五錢）　羚羊角（燒二兩）　上五味治下篩。三角絳囊盛一兩。帶心前。並掛門戶上。若逢大疫之年。以月旦青布。裹一刀圭。中庭燒之。瘟病人亦用此燒熏之。　又名雄黃散。　雄黃（五兩）　硃砂　菖蒲　鬼臼（各二兩）　上四味。搗篩末。以塗五心。額上。鼻。人中及耳門。　又馬骨一塊。裝紅布小袋內。佩帶身旁。男左女右。　又向東桃枝煎湯。日浴二次。自然不染。　又黑豆一撮。暗投水缸。忌人見。　又貫眾（一個）　白礬（一塊）放水缸內。亦效。　又艾炷密熏臥床四角。不令人知。　又蒼朮為君（倍用）　羌活　獨活　白芷　香附　大黃　甘松　山柰　赤箭　雄黃（各等分）　為末。麵糊丸。如彈子大。黃丹為衣。曬乾焚之。　又蒼朮　雄黃　丹參　桔梗　白朮　川芎　白芷　藜蘆　菖蒲　皂角　川烏　甘草　薄荷（各五錢）　細辛　蕪荑（各三錢）以上俱用生料。曬乾研末燒熏。可闢瘟氣。屢試神驗。　又紅棗（二斤）　茵陳（八兩切片）共燒煙燻。可免瘟氣。　又蒼朮（末）紅棗共搗為丸。如彈子大。時時燒之。可免時疫傳染。　又凡入病家。用香油調雄黃蒼朮（末）塗鼻。既出。用紙條刺鼻孔。取噴嚏。再飲雄黃酒一杯。決無傳染。　又雄黃研細末。水調多敷鼻孔中。即與病人同床。亦不傳染。真神方也。</p>

<h3>治瘟方</h3>
<p>凡聞病人汗氣。入鼻透腦。即散布經絡。初覺頭疼。即用芥菜子研末。溫水調填肚臍中。隔布一二層。上以壺盛熱水熨之。至汗出而愈。　又蒼朮　良薑　枯礬（各等分）為末。每用一錢。以蔥白一大個搗勻。塗手心。男左女右。掩肚臍手須高起勿使藥著臍。又以一手兜住外腎。女子掩住前陰。煎綠豆湯一碗飲之。點線香半炷。久可得汗。如無汗。再飲綠豆湯催之。汗出自愈。（並治大頭瘟）</p>

<h3>瘟疫心腹疼痛</h3>
<p>白烏骨雞殺之破開去腸雜。撲心上即愈。或用血塗心上。亦可。（並用雞肉煮湯食極效）或用癩蝦蟆破開。撲心上。亦效。愈後須戒殺放生。免再傳染。</p>

<h3>酒熨法</h3>
<p>治瘟疫。傷寒。時症。或飯後氣惱。心口脹悶。填塞不舒。用上好燒酒燉熱。將布二塊蘸酒。自胸向下搽抹。布冷再換熱布。輪替搽抹。如此數次。其氣自通而愈。</p>

<h3>羊毛瘟</h3>
<p>凡男婦大小。陡然腹痛。不過一二時即死。醫藥不及。用針灸不及施。惟有速往十字街心或十字路心。於眾人日逐往來之處。挖泥土數升。以冷水和丸。如雞子大。即在病人臍旁。及心窩內外。磨擦良久。俟泥丸稍熱。破開看之。如丸中有羊毛。是其症無疑。另換泥丸再擦。以不見羊毛為度。雖已氣絕。身未冷者皆可治。若擦之並無羊毛。即非此症。當另治。　又用蕎麵照上法治之。更妙。</p>

<h3>蝦蟆瘟</h3>
<p>側柏葉搗自然汁。調蚯蚓泥敷之。</p>

<h3>大頭瘟</h3>
<p>此症頭面腫大。咽喉閉塞。急用延胡索（一錢五分）　皂角　川芎（各一錢）　藜蘆（五分）　躑躅花（二分五釐）　共為末。用紙捻蘸藥。堆入鼻孔中取嚏。日三五次。甚效。嚏出膿血者更妙。無嚏者難治。左右看病之人。用此取嚏。亦不傳染。　又扁柏葉搗爛。雞子清調敷。　又蚯蚓（十餘條又名曲蟮）以白糖拌入。碗碟蓋好。半日即化為水。（至遲一日必化）</p>
<p>用鴨毛蘸水敷之即消。百發百中之仙方也。無白糖之處。用蚯蚓糞井水調敷。須戒殺生。　</p>
<p>又燕子窩連泥帶糞捶融。醋調敷立愈。　又吳茱萸研末。醋調敷足心。一周時取下即消如未愈。再敷一周時。必效。　又馬蘭頭一把搗汁。將鵝毛搽上。一日五六次。熱氣頓出。神效。</p>

<h2>中暑</h2>
<p><u>宜與霍亂痧症兩門參看</u></p>
<p>夏天道路受熱。忽然昏倒。名中熱。切不可誤用冷水噴灌。一受寒冷。則不可救。　急用稻草即結為長帶。曲盤肚臍。外用熱土搓碎圍之。使人撒尿其中。令溫氣入腹。久之自愈。　又草紙捲成筒。點火向口鼻間熏之即活。甚效。　又用布蘸滾水更換熨臍與臍下三寸。醒後仍忌飲冷水。飲之復死。</p>

<h3>中暑暴昏</h3>
<p>大蒜搗爛。調冷水小半杯。取茶匙挑灌於鼻孔中立蘇。　又凡熱行道中。自覺頭目昏悶。不能支持。速伏道上。口鼻向土立效。</p>
<p>中熱口渴面赤。煩躁欲死。　掘地深尺余。取淨黃土以新汲水調化。敷胸口及臍上。</p>

<h3>中暑挾虛昏絕</h3>
<p>沉香　檀香燒熏。令香氣滿室以達其竅。即醒。</p>

<h3>暑風手足搐搦</h3>
<p>以蘇合丸擦之。並用香薷　黃連煎水拓胸。</p>
<p>暑症身熱頭疼。狀如傷寒。煩渴嘔吐。昏悶不食。　硫黃　硝石（各一兩）　明礬　雄黃　滑石（各五錢）　白麵（四兩）井水調敷腹。</p>

<h3>暑天怕風</h3>
<p>鵝不食草陰乾。好燒酒浸一宿。日乾。夜間又浸。如此七次。若右邊痛。將草塞右鼻。左痛。塞左鼻。一時許。鼻流冷水盡即愈。</p>

<h3>受暑大小便不通</h3>
<p>用田螺（三枚）搗爛。入青鹽（三分一作青黛）攤膏貼臍下一寸。（一作一寸三分）即愈。</p>

<h2>霍亂</h2>
<p><u>與中暑痧症參看</u></p>

<h3>治霍亂方</h3>
<p>細看病人背上。如有黑點。用針一一挑破。出血即愈。若遲一日。則不能救矣。又炒鹽填臍內。用艾放臍上燒之。以燒至止痛病醒為度。已死而心頭微溫者。亦可活。</p>

<h3>霍亂腹痛</h3>
<p>大蒜搗如泥。塗心上立效。　又鹽（二斤）炒熱。用青布包。兩包更換。熨腹上。久之氣透即愈。　又吐瀉腹痛。用蒼朮　藿香　陳皮　半夏　青皮　桔梗　枳殼　蘇葉　厚朴　甘草節（各五錢）　原蠶砂（二兩）　生薑　蔥白（各三錢）炒熱。布包熨。甚妙。</p>

<h3>霍亂腹痛。兩腿轉筋</h3>
<p>芥菜子研細末。填臍內立效。　又蒜鹽敷臍。　又用熱醋煮青布。抹胸腹。或㩉腳膝。冷復易之。　又蒜泥加黃蠟。塗足心。　又皂角末吹一豆大入鼻。取嚏即安。　又南星醋調塗兩足心。　又如轉筋已死。心下尚溫者。用硃砂（二錢）　黃蠟（三兩）和勻。燒煙燻口鼻並臍。更貼手足取汗。　又轉筋而肢冷者。用燒酒摩拓患處效。　又男子以手挽其陽物向上。女子以手牽其乳向兩旁。即愈。（亦治尋常轉筋）</p>

<h3>腳麻腹瀉疼痛熨臍方</h3>
<p>倭硫黃　上肉桂　吳茱萸　丁香（各一錢）　麝香（三分）共研細末。每用二分。青蔥汁調勻。置臍中。外貼一小膏藥。炒熱麩皮熨之。不可誤入口中。（一方無吳萸有香附共五味各等分摻暖臍膏貼臍上）並治吊腳痧。</p>
<p>脾元虛損。霍亂不吐瀉。腹脹如鼓。心胸痰塞。　丁香（七粒）　菖蒲根（五錢）　甘草（炙一兩）　生薑（三大片）　鹽（一合）炒熨。</p>

<h2>痧症</h2>
<p><u>與霍亂參看</u></p>

<h3>刮痧法</h3>
<p>擇一光滑細口瓷碗。另用熱水一鍾。入香油一二匙。將碗口蘸油水。令其緩而且滑。兩手覆執其碗。於病人背心上。輕輕向下順刮。（切忌倒刮）以漸加重。碗干則蘸油水。再刮良久。覺胸中脹滯下行。始能出聲。頃之腹中大響。大瀉如注。其痛遂減。睡後通身搔癢。或發出疙瘩遍身而愈。今有於頸臂刮痧者。亦能治病。然五臟之系。咸附於背。向下刮之。邪氣隨降。故毒深病重者。非刮背不可也。此為痧症起死回生簡便良方。最靈最穩。（吾鄉有用銅錢蘸香油或水刮痧者似較簡便）　又擦法。以食鹽一握。揉擦兩手腕。兩脅。兩足心。並心窩。背心八處。擦出紫紅點許多。自然漸漸鬆快而愈。一切痧脹。及中暑霍亂等症。雖垂死亦活。真良方也。　又方嫩車前草（七根）揉軟。塞鼻孔內。男左女右。</p>

<h3>烏痧脹（即乾霍亂）</h3>
<p>凡暑熱痧脹。將燒酒半鍾。用頭髮一團。蘸燒酒向胸前揩擦。以酒盡為度。痧脹即解。　又用老薑汁點眼角內。男左女右。汗出即愈。</p>

<h3>絞腸痧陰症</h3>
<p>吳茱萸　食鹽（各四兩）炒熱。用布分作兩包。輪熨其臍腹。效。陰症時痧。水足抽吊者。（即今之吊腳痧）　硫黃　肉桂（各二錢五分）　炮姜　硃砂（各二錢）　黑附子（五錢）艾絨（二兩）和勻。布包放臍上。熨斗熨之。　又辣蓼草（八兩搗爛）　宣木瓜（四兩）上二味。同福珍酒（二斤）加水煎湯。乘熱揩洗手足及遍身。即愈。　又樟腦（兩許一塊）布包好。浸入燒酒令透。由背脊順擦至尾閭。數十次即松。　又如症輕者用燒酒薑汁擦手足。</p>

<h3>羊毛痧</h3>
<p>此因天氣鬱勃。潮濕酷熱。夜不能睡。將曙露體。乘涼風中。有絲乘虛易入。無論頭面手足胸背猝入。則滿身刺痛。一刻緊一刻。痛至半夜。白皮入心。咆哮跳躍。面色漸黃而死。治法不用針刮。將現藏燒酒甕上泥頭敲碎。水調捻成泥團。向周身滾轉幾遍。剝開泥團。見有絲如羊毛色亮。則邪氣滾出。自然平愈。此仙法也。（案此與瘟疫門中羊毛瘟相似當參看）</p>

<h2>鼓脹</h2>

<h3>試鼓法</h3>
<p>用鹽（四兩）炒熱。絹包放臍上。水鼓鹽化水。若食鼓鹽紅色。血鼓紫色。氣鼓黑色。倘氣虛中滿。鹽水不改。必用白鹽試驗。</p>

<h3>治水鼓方</h3>
<p>（手按之下陷不起者是）　</p>
<p>輕粉（二錢）　巴豆（四錢去油）　生硫黃（一錢）　共研成餅。先以新綿一片放臍上。次以藥餅當臍按之。外用布捆緊。如人行五六里自瀉下。候三五度。除去藥餅。以溫粥食之。久患者隔日方去藥餅。愈後忌飲涼水。此方治水鼓如神。其餘鼓脹。功力稍緩。　又取蓋屋稻草煎湯。傾入盆內。先坐盆上熏之。待湯溫方洗其腹。小便隨下黃水。熏洗數次。永不再發。余鼓脹亦可用此法治。惟功稍緩耳　又杜蒺藜或地骨皮。照前法煎洗。水氣自下。</p>
<p>水鼓小便不通（小便通者亦可治）　大田螺（四個去殼）　大蒜（五個去衣）　車前子（三錢研末）共搗成餅貼臍中。以帛束定。水從小便出。換二三次全愈。終身勿食田螺。　又商陸根　蔥白搗填臍中小便利。腫自消。（或加麝香三分）</p>

<h3>治氣鼓方</h3>
<p>（按之隨手即起者是）　</p>
<p>多年瓦油盞頭連垢膩。火內燒熱。合臍上。良久自落。垢膩已淨如洗。腹亦平矣。又面黑脅痛者用大麥芽炒熨。</p>

<h3>血鼓小腹脹有血絲</h3>
<p>（通身老黑色皮內有紫黑斑點者是）　</p>
<p>酒煎荷葉洗。</p>

<h3>婦人血鼓</h3>
<p>劉寄奴或馬鞭草。煎湯熏洗。</p>
<p>食鼓。噯氣作酸。飽脹。　蘿蔔子炒熱熨。</p>

<h3>治實鼓方</h3>
<p>甘遂　巴霜　木香（各等分）　研細末。填臍中。</p>

<h3>治五鼓琥珀散</h3>
<p>大黃（二兩）　巴豆（五錢）　牙皂（一兩五錢）　枳殼　蘿蔔子（炒各四兩）　琥珀（一兩）　沉香（五錢）　姜皮搗汁丸。臨用研末摻膏貼（凡治脹皆取三里穴在膝下三寸外旁膏藥照貼）</p>
<p>一切鼓脹肚飽發虛小便不通者。　臍內先填麝香（一分）再用甘遂（末）　雄黃（各一錢）　田螺（一個）　搗敷臍上。以帛束之。待小便大通即解去。</p>

<h2>腫滿</h2>

<h3>卒患腫滿</h3>
<p>以蒴藋莖葉埋熱灰中。令極熱。以敷腫上。冷再易。一日夜盡消。</p>

<h3>通身水腫</h3>
<p>黍莖掃帚煮湯浴之。</p>

<h3>水腫面浮甚</h3>
<p>土狗（一個）　輕粉（二分五釐）為末。每搐少許。入鼻內。黃水出盡為妙。</p>
<p>水腫從腳起。入腹能殺人。　赤豆（一升）煮爛取汁。溫漬足膝。</p>

<h3>水腫但兩足腫</h3>
<p>銼蔥葉煮令爛以漬之。日三四度良。</p>

<h3>身體暴腫如吹</h3>
<p>巴豆（三十枚）　合皮㕮咀。以水五升。煮取三升。綿納汁中。以拭腫上。隨手減消。日五六拭。勿近目及陰。</p>

<h3>腹中脹滿</h3>
<p>綿裹煨姜。納下部。冷即易之。</p>
<p>上氣咳嗽。腹滿。體腫。　楸葉（三升）煮三十沸。去滓煎。堪作丸如小棗子大。以竹筒納下部。立愈。</p>

<h2>痞積</h2>

<h3>治痞方</h3>
<p>吳茱萸（酒炒）布包。走逐熨之。○又莧菜。不拘紅白均可。（十斤）洗去泥。不必去根。以河水煎湯兩大缽。用活甲魚（一個重十二三兩者）不必切碎。入莧菜湯連骨煮爛如膏。去渣。將甲魚膏薄攤曬乾研末。用麻油（八兩）熬至滴水成珠。下甲魚膏（四兩）。如甲魚膏不足。以鉛粉添配攪勻。成膏收之。用青布褙紙一層。量塊大小攤貼。七日即消。重者貼至兩次。永不再發。屢驗。　又用水紅花新鮮者。同老蒜打爛。量入皮硝。（一二兩）捏成餅。比痞塊大一團。放痞上。用袱包紮緊。待乾再換。則痞自消。　又水紅花子熬膏。入麝香（少許）貼之。　又紅芥菜子（即豬血芥）不拘多少。生薑汁浸一宿。大約芥子一酒杯。加麝香（一錢）　阿魏（三錢）同搗極爛如膏藥。攤青布上。貼患處。外用汗巾紮緊。一宵貼過。斷無不消。　又名藥豬胞。　麝香（一錢）　阿魏（三錢）　水紅花子　大黃　歸尾　甘遂　急性子　甘草（各一錢）　上為細末。用豬尿胞（一個）。量痞塊大小。用尿胞大小。裝入乾燒酒半胞。</p>
<p>將前藥末放入胞內。緊扎住口。用白布將胞兜扎於患處。俟塊化盡即去之。不可遲也。　又桌椿樹皮（在上中者佳）。要一大束。去粗大。止用白皮（二斤）。切碎入鍋內。水熬。瀝去渣。用文武火熬膏。薄攤布上。先以生薑搓出垢膩。後以膏藥在錫茶壺烘熱。貼痞塊上。其初微痛。半日後即不痛。候其自落。一張即好。永不再發。貼膏時微撒麝香少許於膏上。然後貼之。貼上膏藥。周圍破壞出水即愈。雖脹滿腹硬過臍者。貼一二張亦見效。孕婦忌用。</p>
<p>又雄黃　白礬（各一兩）為末。麵糊調膏。攤布上貼之。俟大便脹滿而極多者即愈。此秘方也。　又蔥白汁　薑汁（各四兩）　水膠（八兩）　好黃酒二鍾。同水熬成珠。攤狗皮上。貼患處。</p>

<h3>治諸積及氣血食</h3>
<p>三鼓白馬糞。同大蒜搗敷。</p>

<h3>治卒暴症方</h3>
<p>蒜（十片去皮取五月五日戶上者）　伏龍肝（鴨蛋大一枚）　桂心（一尺二寸）　上三味合搗。以陳酒和之如泥。塗著布上。掩患處。三日即消。　又腹中暴症。有物如石。痛刺啼呼不治。百日死。用商陸根搗汁或蒸之。以布藉腹上。以藥鋪布上。以衣覆之。冷即易。晝夜勿息。</p>

<h3>治鱉症</h3>
<p>陳醬茄（燒存性）　入麝香　輕粉（各少許）脂油調貼。奇效。</p>

<h3>治積塊龜鱉症</h3>
<p>白馬尿同白殭蠶搗敷。</p>

<h3>治發症</h3>
<p>（乃由人因食而入久即胸胃間如有蟲去來惟欲飲油）　</p>
<p>油（一升）以香澤煎之。安病人頭邊。以口鼻臨油上。勿使飲。及敷之鼻面。並令有香氣。當叫喚取飲。不得與之。必疲極眠睡。其發症當從口出飲油。人專守視之。並備石灰於旁。見症。以灰粉手捉症抽出。須臾抽盡。即是發也。初從腹出。形如不流水中濃菜。隨髮長短。形亦如之。無忌。　又（胸喉間覺有症蟲上下偏聞蔥豉食香此是發蟲故也）油煎蔥豉令香。二日不食。張口而臥。將油蔥豉置口邊。蟲當漸出。徐徐以物引去之。無所忌。</p>

<h2>食積</h2>

<h3>治食積</h3>
<p>凡飲食停滯。胸隔脹滿。或大便不通。或大便泄瀉。或年老。或體虛。難以攻擊內消者。用亂髮（一團剪斷）　酒麴（一個小者二三個亦可）　蔥白（七個）　老薑（二錢）　胡椒（七粒）以雞蛋（一個）破殼。傾入碗中。將各藥搗融。和入調勻。用隔夜燈油煎成一餅。貼病人心口下胃脘處。（先用燈油於胃脘處順擦十次再貼如嫌太熱用紙隔貼亦可）用布帶束住。冷則煎熱再貼。約一二時。似覺鬆動。即便取去。其病立愈。屢試神效。若治小兒。藥料可以稍減。（又紫蘇熨法亦極神效見傷寒門）</p>

<h3>食積血痞</h3>
<p>蔥白搗和蜜攤布上。貼患處。用熨斗微火熨之。</p>
<p>治積聚。及老人虛寒便秘。　巴霜　乾薑　良薑　白芥子　硫黃　甘遂　檳榔（各等分）飯丸清早花椒湯洗手。麻油塗掌心。握藥一丸。少時即瀉。欲止瀉。冷水洗手。</p>
<p>治老人傷冷。及難化之物。　生薑或紫蘇煎湯。揉擦心胃肚腹。氣通即食自化。或煎湯傾浴盆中坐揉。</p>

<h2>噎隔</h2>

<h3>開隔方</h3>
<p>用牛口涎（以鹽塗牛口即有涎）　狗涎（吊狗一腳即有涎出）　童便煮大附子一個。先塗麝於掌心。俟附子臍發時。取弄嗅之。並嗅其湯。亦能開關。　又雄雞破洗。置大碗內糊紙。飯上蒸熟戳孔。以筆管插入含吸之。俟熱氣衝入。喉自開。</p>

<h3>開關丹</h3>
<p>膽星（一個）　瓦楞子（一錢五分）　生礬　枯礬　雄黃　牛黃　琥珀　乳香　沒藥　珍珠　白降丹（各五分）　白砒（用人糞黃泥固煅取五分）　麝香（一分）　以青魚膽丸如芥子大摻膏貼。</p>

<h2>咳嗽</h2>

<h3>咳嗽熏法</h3>
<p>天南星　款冬花　石鐘乳　鬱金　雄黃（各等分）為末。以生薑一片含舌上。用艾燒藥。含煙入喉中。取效。</p>

<h3>久嗽不止</h3>
<p>罌粟殼末或五倍子末。摻膏貼臍上。　又咳從臍下起者用破故紙末摻膏貼。納氣歸腎自止。</p>

<h3>乾咳嗽</h3>
<p>火鬱也。薑汁和蜜擦背佳。</p>
<p>胸膈脹滿。咳嗽不安。　宮粉　香油入鐵器內。熬數滾離火。用頭髮一團蘸粉。擦胸膈數次即愈。（並治各項咳嗽亦效）　又蕎麵　雞子清和成團擦之。</p>
<p>勞嗽。火嗽。久嗽。干嗽。食積嗽。酒嗽。　用青黛　栝蔞　貝母研末。和白蜜為丸。擦之甚佳。</p>

<h3>咳嗽嗆逆</h3>
<p>雄黃（一錢研細）　黃紙（三張）用雞蛋白將雄黃調勻。搽黃紙上曬乾。捲成紙管。插入筆管或煙筒內。燒燃吸之如吃煙樣。少頃嘔吐嗽止。一日一次。忌食諸物七日。惟食白粥。如嫌氣味難受。食白煮豬肉即解。</p>

<h2>哮喘</h2>

<h3>治哮吼妙法</h3>
<p>（喉內有聲而氣喘者是）　</p>
<p>病發先一時。用鳳仙花。（又名指甲花）連根帶葉熬出濃汁。乘熱蘸汁在背心上。用力擦洗。冷則隨換。以擦至極熱為止。（無則用生薑擦之）再用白芥子（三兩）　輕粉　白芷（各三錢）共研為末。蜂蜜調勻作餅。火上烘熱。貼背心第三節骨上。貼過熱痛難受。正是拔動病根。務必極力忍耐。切勿輕易揭去。冷則將藥餅啟下。烘熱再貼。一餅可貼二三日。無論病愈未愈。多備藥餅換貼。不可間斷。輕則貼一二日。重則貼三四日。或五六日。永不再發。雖患此數十年者。貼至數日斷根。無論寒熱虛實鹽醬醋酒哮吼皆治。藥味不可加減。（並治痰氣結胸及咳嗽痰喘）</p>

<h3>治寒哮</h3>
<p>白果　麻黃（各等分）搗塞鼻。</p>

<h3>治遠年近日哮喘痰嗽</h3>
<p>蟬蛻（去足）　輕粉　馬兜鈴（各一兩）　生靈脂　生雄黃　杏仁　生砒（各五錢）　淡豆豉（四十九粒）　以生薑　葶藶自然汁丸如黃豆大亦可。以薑汁化一丸。臨臥擦胸。</p>

<h3>痰實氣喘</h3>
<p>紫蘇子　白芥子　蘿蔔子（各等分）炒熨。</p>

<h3>痰喘上氣</h3>
<p>南星或白芥子用薑汁調敷足心。</p>

<h3>治肺熱悶不止</h3>
<p>胸中喘急。驚悸。客熱來去欲死。不堪服藥。泄胸中喘氣方</p>
<p>桃皮　芫花（各一斗）以水四斗。煮取一斗去渣。以故布手巾納汁中。敷胸溫四肢。不盈數日即歇。</p>

<h3>定喘方</h3>
<p>巴霜　薑汁為丸。橘皮裹塞鼻。</p>

<h2>嘔吐</h2>
<p>治嘔吐。噎膈。反胃。通用方。　胡椒（八分）　酒藥（一個）　蔥頭（五根）捶融。有熱用茶炒。無熱酒炒。貼心窩。</p>
<p>嘔吐。面赤。手足心熱者。　竹茹　生薑絞汁。綿浸擦胸口。</p>
<p>治嘔吐。並治噯氣。痞氣。及哮喘有聲。　金沸草　代赭石　土朱（各等分）研末。醋調塗胸口。</p>

<h3>大吐不止</h3>
<p>附子煎湯抹足。</p>
<p>聞藥即吐。百治不效。　取家中灶心土（藥店買者不真則不效）　水為丸。塞兩鼻孔。即不吐極效。</p>

<h2>呃逆</h2>
<p><u>呃一作咳</u></p>

<h3>陰寒呃逆</h3>
<p>明雄黃（二錢）　燒酒（一杯）煎七分。急令病人。嗅其熱氣即止。　又好硫黃　乳香　陳艾（各二錢）　為細末。用好酒一鍾。煎數沸。乘熱氣使患者用鼻嗅之。外用生薑擦胸前。最效。　又黃蠟燒煙。熏二三次即止。</p>

<h3>虛寒呃逆</h3>
<p>麻黃　酒煎。嗅其熱氣。或燒麻黃煙嗅。又羌活　附子　茴香　木香　乾薑　鹽（各等分）　布包。烘熱熨之。　又如陰火上衝者。用龜板　熟地（各四兩）　黃柏　知母（各二兩）　麻油熬。黃丹收。攤貼臍下。</p>

<h3>久病呃逆</h3>
<p>薑汁白蜜和勻。擦背。</p>

<h3>偶然呃逆</h3>
<p>紙捻通鼻。取嚏即止。</p>

<h2>瀉痢</h2>

<h3>治寒泄</h3>
<p>胡椒末和飯作餅。敷貼臍上。　又熱柴灰布包敷。　又炒鹽敷。　又糯米酒糟和鹽炒敷。　又酒炒艾絨作餅敷。　又胡椒大蒜作餅敷。　又艾葉　灶心土　門斗灰　吳茱萸　共為末。醋炒敷。均效。（以上各方均敷貼臍上）　又車前子　肉桂（各等分）　研末納臍。</p>

<h3>治熱泄</h3>
<p>車前子搗汁。調甘草（末）　滑石（末各等分）　敷臍。</p>

<h3>氣虛暴泄</h3>
<p>硫黃　枯礬　硃砂（各等分）　研細末。丸納臍。瀉不止。用艾一斤坐身下。以火烘腳。</p>

<h3>久泄不止</h3>
<p>大蒜搗貼足心。或貼臍中。　又大蒜須加銀硃搗融。敷臍眼內。立止如神。　又土木鱉（半個）　母丁香（四粒）　麝香（一分）　共為細末。口水調為丸。如黃豆大。納臍中。外用不拘。小膏藥貼之立止。（並治痢疾）</p>
<p>小兒水瀉。不能服藥。　巴豆（三粒）　黃蠟（三錢）共搗爛成膏貼臍上。用絹帕縛住。半日即愈。如噤口不食者。加麝香（三釐）同貼。（並治痢疾）　又香白芷　乾薑（各一錢）共研細末。以蜜為膏。先用酒洗臍溫。微熱後貼膏。用鞋底烘熱。熨膏上。氣通即愈。</p>

<h3>寧和堂暖臍膏</h3>
<p>治水瀉白痢神效。孕婦忌貼。　香油（一斤一方用麻油）　生薑（切片一斤）　黃丹（飛過八兩）　熬膏攤布。再加紅藥丸貼臍上。　紅藥丸方。　硫黃（三錢）　母丁香（一錢）　麝香（三分）　加獨蒜（數枚一方不用）搗如泥。入前三味。研勻為丸。如桐子大。飛過硃砂為衣。</p>

<h3>四時暴患瀉痢</h3>
<p>（四肢臍腹俱冷者）　</p>
<p>煎百沸湯。令患者坐深湯中。浸至膝上為度。生陽之藥。</p>
<p>無速於此。（按百沸初出恐不能即坐或者先熏俟其稍涼方坐浸耳）</p>

<h3>治痢方</h3>
<p>胡椒（一歲一粒打碎）　大鯽魚（一個去頭尾骨腸）　入椒末搗濃。敷臍上。甚效。又茜草（一握）煎水浸兩足底　又梧桐葉（三四斤）煎水洗足。　又巴豆（一粒）　綠豆　胡椒（各三粒）　布包捶碎。用紅棗（二枚）搗為丸。敷臍上。痢即止。止後即去藥。　又川椒（五錢研末）　麝香（一分）　大棗（一枚去皮核）　將二藥末摻棗上。放入肚臍。不拘何等膏藥蓋之。</p>

<h3>痢疾點眼法</h3>
<p>初胎小兒糞（瓦上焙乾一錢）　雄黃（四分）　梅花冰片（五釐）　為極細末。水調點兩眼內角。無論紅白痢。及噤口痢危篤者。皆神效。</p>

<h3>紅白痢</h3>
<p>蔥（二十四根連須不見水用布拭去泥）　真麻油（十二兩）　鉛粉（四兩）　將蔥入油熬去渣。入鉛粉收膏。油紙攤貼肚臍。一周時一換。三張全愈。孕婦忌貼。　又吳茱萸　黃連木香（各等分）研細末敷臍。</p>

<h3>瀉痢至於脫肛</h3>
<p>石榴皮　陳壁土加明礬（少許）　濃煎熏洗。再用五倍子炒研細末。敷托而上。</p>

<h3>痢後脫肛</h3>
<p>五倍子（三錢研末）　白礬（一塊）　水煎洗。並可研末塗少許於肛門四旁　又五倍子炒黃為末。放熱鞋底上熨之。　又經霜浮萍草。新瓦焙乾為末。熱鞋底上熨之。</p>

<h3>噤口痢</h3>
<p>田螺（一個）　搗碎入麝香（少許）　罨臍中。引熱下行即效。又細辛（五錢）　牙皂（一錢）　蔥（三根）　酒藥子（半個）　大田螺（一個）　共搗成泥。敷臍中。候乾即去藥。自然飲食。　又新大附子（一個）切片。貼於新石灰上。灑之以水。俟熱即取附子片貼臍上。冷再換貼。三四次愈。　又雄黃　巴豆　硃砂　蓖麻子　麝香（各等分）　搗為細末。和蜜為丸。如芡實大。收好不可泄氣。放眉心。以膏藥蓋之。一炷香久。腹內自響。即思飲食。去藥而愈。（此方百發百中可以預合濟人）　又黃瓜藤（經霜者更效燒存性）香油調敷肚臍上。　又吳茱萸研末。醋調敷兩足心極效。（此亦引熱下行之法）　又木鱉子仁（六個）　分作二分。用面燒餅（一個）　分作兩半隻。用半餅作一劑。納在內。乘熱覆在病人臍上。一時再換半個熱餅。其痢即止。思飲食。　又蒼朮　甘草　陳皮　厚朴（各等分）　為粗末。用布包之。放在肚上。將熨斗熨布上。逼藥氣入腹。病者覺腹中爽快。即將藥放枕頭下。以受藥氣。一日連熨三四五次。痛痢漸止。即能飲食矣。　又真烏梅（一斤）打碎。熬水十數碗入一桶內。令病人坐桶上。周圍堵塞。不令出氣。使熱氣衝上糞門。如溫即洗。其人即睡去。隨扶令安臥待醒即思飲食。先以粥湯半盞食之。少頃再食。不宜飽餐。當漸漸加增。小兒烏梅減半用之。神效。　又鐵秤錘（或磚石）　燒紅。放瓦盆內。好醋淬入。令病人聞之。一日數次。甚效。</p>

<h3>冷疳痢</h3>
<p>莨菪子熬令黃。搗為末。和臘月豬脂更搗。令熟為丸。綿裹如棗許大。納下部中。因痢出即更納新者。不過三度即瘥。</p>

<h3>療疳法</h3>
<p>男婦小兒久痢。百方不效。此方最驗。用丁香　麝香　黃連（各等分）　搗為末。似杏核大。取竹筒吹入下部。小兒取核子。量力減之。不過三四度瘥。</p>

<h1>卷二</h1>

<h2>身</h2>

<h3>身體麻木</h3>
<p>芥子末醋調塗之。</p>

<h3>遍身搔癢</h3>
<p>蒼耳子約半斤。煎水洗之效。　又茵陳煮濃汁洗之。</p>

<h3>風燥身癢</h3>
<p>威靈仙　零陵香　茅香（各半斤）　乾荷葉　藁本　藿香　白芷　甘松（各四兩）　上銼細。每用四兩。水一桶半。熬數沸。於房內沐浴。</p>

<h3>遍身生泡</h3>
<p>桃枝連葉煎湯頻洗。</p>

<h3>身上無故生蛆</h3>
<p>蛇蛻研末。麻油調擦。蛆出自愈。</p>

<h3>體臭</h3>
<p>竹葉（十兩）　桃白皮（四兩）　水一石二斗。煮取五斗。浴即香。</p>

<h3>皮里作痛</h3>
<p>不問何處用何首烏末薑汁調成膏。塗上。以帛裹住。火炙鞋底熨之。</p>

<h3>皮膚血濺</h3>
<p>以煮酒罈上紙數張。扯碎如楊花。攤在出血處。按之即止。勿扯去。</p>

<h3>治筋疙瘩</h3>
<p>五倍子（一兩）　密陀僧（一錢）　共研末。水調塗。膏藥貼之。日久自消。</p>
<p>飛絲纏住耳鼻手足等處。腫痛不已。　威靈仙煎濃湯洗即愈。</p>

<h2>頭</h2>

<h3>偏正頭風</h3>
<p>此症發時。雖盛暑亦覺畏風。痛不可忍。用蕎麥粉炒熱。加醋再炒。乘熱敷上。用布包緊。勿令見風。冷則隨換。日夜不斷自愈。愈後鼻流黃水數日。從此斷根。此治頭風第一驗方。（並治尋常傷風頭痛惟氣虛及風火蟲痛不效）　又陳年黑魚頭。煎湯熏數次斷根。又斑蝥（一個去頭足翅）　隔紙研細為末。篩去衣殼。將末少許。點膏藥上。如患左痛貼右太陽。右痛貼左。隔足半日取下。永不再發。久貼恐起泡。　又硫黃（一錢）　川椒（取紅色者去子為末三分）　二味拌勻。熔成小餅。左疼塞左鼻。清涕從右鼻出。右疼塞右鼻。正疼左右俱塞。清涕流盡即愈。　又真蘄艾揉融為丸。時時向鼻嗅之。以黃水出盡為度。　又鳳尾草搗融。加麝香（一分）拌勻。敷囟門上甚效。　又天時陰雨即發。用桂心末（一兩）酒調塗額上頂上。　又決明子（三錢）研末。水調貼太陽穴。甚妙。　又木槿子燒煙燻患處。　又藁本細辛（各五分）　白芷（一錢）　辛夷（八分）共研細末。用紙條四條卷實。將火點著。以煙燻鼻。日熏二次。即效。　又穀精草（一兩為末）　白麵糊調攤紙上。貼痛處。干易。</p>
<p>又穀精草（末）　銅綠（各一錢）　硝石（五釐）　隨左右搐鼻。　又川芎（五錢）　晚蠶砂（二兩）　殭蠶（如患者年歲之數）　水五碗。就砂鍋中。以厚紙糊滿。中開錢大一孔。取藥氣熏蒸痛處。每日一次。雖年久者。三五次。永不再發。　又生牛蒡子梗葉。（無梗葉用根）取自然汁兩碗。陳酒一碗。食鹽八分。共熬成膏。塗之。須極力搽熱。乃效。凡頭風抽掣作痛者。用此必愈。</p>

<h3>偏頭痛</h3>
<p>鮮蘿蔔搗爛。絞自然汁。加冰片少許調勻。昂頭灌入鼻孔。左疼灌左。右疼灌右。少時即愈。　又蘄艾（一團如胡桃大）　生半夏（少許研極細末）　剪棉料紙（一方）將艾鋪紙上。半夏末放艾上。連紙藥共卷如小指粗。塞鼻孔內。左痛塞右。右痛塞左。隔一宿。俟鼻內流出清涕為度。倘一次不愈。再塞一次。則無不除根矣。　又生薑（三片）　將桑皮紙包好。水濕。入灰火中煨熟。乘熱將印堂兩太陽各貼一片。以帶纏之。立愈。（並治太陽風寒頭痛）又白芷　細辛　石膏　乳香（去油）　沒藥（去油各等分）為末。吹入鼻中。左痛吹右。右痛吹左。頭痛　遠志末搐鼻。　又大鮮紅蘿蔔皮。貼太陽穴。　又吳茱萸煎濃湯。以綿染。頻拭髮根。　又蕎麥粉冷水調敷。痛去立愈。　又柚葉同蔥白搗爛。貼太陽穴。　又年久者用蘿蔔子生薑（各四錢）　搗取汁。入麝香末（四釐）　灌入鼻中。立止。</p>

<h3>頭風沐方</h3>
<p>葶藶子煮沐。不過三四度愈。　又川椒（二升）　以水煮取汁。沐發良。　又川芎羌活（各一兩）　薄荷　甘草（各二兩）　殭蠶（每歲一條）　上藥水煎。每日中早晚各洗一次。以三日為止。忌見風。</p>

<h3>頭痛覺熱</h3>
<p>白蕃薯切片。隨痛處貼之。干即易。</p>

<h3>頭風畏冷</h3>
<p>桑木燒灰淋汁。乘熱熏洗效。</p>

<h3>虛火頭痛</h3>
<p>用南棗切片。貼兩太陽穴效。</p>

<h3>風痰頭疼</h3>
<p>苦瓠膜取汁。以葦筒灌入鼻中。其氣上達腦門。須臾惡涎流下。其病立愈。乾者浸汁亦效。其子為末。吹入亦效。年久頭風皆愈。</p>

<h3>濕氣頭痛</h3>
<p>甜瓜蒂末。搐入鼻中。口含冷水。取出黃水愈。</p>

<h3>濕熱頭痛</h3>
<p>黑牽牛（七粒）　砂仁（一粒）　研末。井華水調汁。仰灌鼻中。待涎出即愈。</p>

<h3>風氣頭痛甚者</h3>
<p>乳香　蓖麻仁（各等分）　搗餅。隨左右貼太陽穴。解發出氣。甚效。</p>

<h3>頭風風眼</h3>
<p>蕎麥作錢大餅。貼眼四角。以米大艾炷灸之。即見愈。</p>

<h3>頭皮虛腫</h3>
<p>薄如蒸餅。狀如裹水。口嚼白麵。敷之良。</p>

<h3>頭皮腫痛</h3>
<p>好雞蛋黃白調勻。塗腫處即愈。又杏仁搗膏。和雞子黃。杵塗帛上厚裹之。干則又塗七八次愈。　又杏仁杵為膏。塗之。</p>

<h3>頭面發腫豬頭風</h3>
<p>野苧根（數兩）　搗爛。敷之即愈。</p>

<h3>琉璃頭癤</h3>
<p>舊鞋底燒灰。菜油調搽。神效。</p>

<h3>頭上軟癤</h3>
<p>野芋頭磨醋敷。或用大芋搗敷亦效。　又雞肫皮　明礬為末。麻油調塗。</p>

<h3>頭瘡不愈</h3>
<p>菖蒲末油調敷。日夜各二次。</p>

<h3>頭上薄皮瘡</h3>
<p>馬齒莧熬水。每日洗二三次即愈。</p>

<h3>頭瘡生蛆</h3>
<p>以刀刺瘡破。擠絲瓜葉汁搽之。蛆自出。</p>

<h3>頭上瘡不幹</h3>
<p>用鞋底泥擦上。即效。</p>

<h3>頭面癬瘡</h3>
<p>生白果中切斷。頻擦取效。</p>

<h3>小兒頭瘡</h3>
<p>桃梟燒研入膩粉。麻油調搽。　又杏仁燒灰敷之。　又麻子（五升）研細末。絞汁和蜜敷之。　又糯米飯燒灰入輕粉。清油調敷。　又舊油頭繩燒灰。油調塗立愈。　又烏梅燒存性研末。生油調塗。</p>
<p>禿瘡（一名臘梨又名癩頭）　麻子（二升）熬焦末。以豬脂和塗之。發生為度。　又初起者。用紫甘蔗皮。煅存性。香油調搽。　又東行棗根。長三尺。以中央安甑中心蒸之。以器盛兩邊汁。敷頭即生髮。　又取爛熟黑椹（三升）　於瓷瓶中。三七日化為水。以塗洗之。發生。妙。　又蝸牛數十條洗之。二次全愈。神妙。</p>

<h3>白禿瘡</h3>
<p>白麵　豆豉和研敷。　又紫草煎汁塗之。　又雄黃末豬膽汁。　調敷即愈。</p>

<h3>小兒禿瘡</h3>
<p>冷泔水洗淨。以羊角蔥搗泥入蜜。和塗之。神效。　又陳火腿骨燒灰。如癢加礬（少許）麻油調敷。不生髮用老薑擦。　又楸葉搗汁塗。　又蕪菁葉燒灰。和脂塗。</p>

<h3>小兒白禿瘡美首膏</h3>
<p>百草霜　雄黃（各一兩）　膽礬（六錢）　輕粉（一錢）　榆皮（三錢）　用石灰窯內燒紅流結土渣。（四兩）　共為細末。豬膽調。剃頭後塗之。神效。</p>

<h3>頭風白屑</h3>
<p>桑灰汁沐之良。　又楮木作枕。六十日一易新者。　又藜蘆末煎湯。洗頭半乾時。再用藜蘆末摻上。令入皮內。用布紮緊。數日即愈。　又王不留行　白芷（各三錢）　研末。乾摻一夜。梳去即愈。</p>
<p>腦漏（一名鼻淵）　白鵓鴿翎毛（三錢）。擦生漆絲綿（一塊如無絲綿即揩漆布亦可須問漆匠鋪買用）將二味於瓦上焙脆存性。共研細末。入冰片。（少許）　令病人仰臥。用筆管吹入鼻內。不過三四次即愈。　又大蒜切片。貼足心。取效止。　又真松花粉。時時搐入鼻中。　又荔枝燒灰存性。綿裹塞鼻內。立效。　又燒酒半壺。煎極滾。鼻吸熱氣入腦內。數次即效。　又玉蘭花蕊。塞鼻即愈。</p>

<h3>腦破骨折</h3>
<p>蜜和蔥白搗勻。厚封立效。</p>

<h2>發</h2>

<h3>沐發方</h3>
<p>取生柏葉細銼一斗。煮取湯。沐發妙。　又桑根白皮切一升。淹漬煮五六沸去滓。</p>
<p>沐發。數數為之。不復落。　又桑根白皮　柏葉（各一斤）　宣木瓜（半斤）泡油。搽頭即潤。男子煎水洗數次。亦黑潤也。</p>

<h3>發不生</h3>
<p>側柏葉陰乾作末。和麻油塗。　又生胡麻油塗之。　又用米泔水洗淨。以柴灶內百草霜（五錢）　水粉（二錢）　研勻。生麻油調搽。　又婦人禿鬢髮稀。用川椒（四兩）酒浸密室中。日日塗之。自然長出。</p>

<h3>發短而少</h3>
<p>桑葉　麻葉（一方作麻油）　用米泔水煮汁洗之。洗至七次。可長數寸。</p>

<h3>發易脫落</h3>
<p>榧子（三個）　胡桃（兩個）　側柏葉（一兩）　搗浸雪水梳髮。永不落且潤。　又覆盆子榨汁。日塗之。</p>

<h3>頭腦內癢漸至發落</h3>
<p>蘆薈　苦楝子（各一錢）為末。吹入鼻內。數次自愈。</p>

<h3>發黃而赤</h3>
<p>生柏葉（一斤研末）　豬油和為丸。如彈子大。每日用一丸。米泔水放開洗之。一月後色黑而潤。</p>

<h3>令髮長黑</h3>
<p>蔓荊子　熊脂（等分）調塗之。　又生麻油桑葉煎過。去滓沐之。</p>

<h3>白髮還黑</h3>
<p>生麻油浸烏梅。塗之良。　又用鹽湯洗沐。以生麻油和蒲葦灰敷之。</p>

<h3>染髮令黑</h3>
<p>醋煮黑豆去渣。煎稠染之。</p>

<h3>蒜髮</h3>
<p>蔓荊子油日日塗之。</p>

<h3>咬髮癬</h3>
<p>黃連　黃柏（各五分）　飛丹　枯礬（各一錢）　松香（二錢）　煙膏（四錢）研末。以紫草黃連。浸油調搽。發中生癤如珠。相染不已。此名火珠。遲則難治。急用生蘿蔔搗爛。好醋泡透敷之。</p>

<h3>鬈毛瘡</h3>
<p>生頭上如葡萄狀。用黃柏（一兩）　乳香（二錢五分）為末。槐花煎水調敷。</p>

<h3>鬢邊疽</h3>
<p>數年不愈者。用豬貓頭上毛（各一撮煅灰）　又雄鼠糞（一粒）研末。以青油調搽立愈。</p>

<h2>眉</h2>

<h3>眉毛不生</h3>
<p>芥子　半夏（等分）為末。生薑自然汁調塗。數次即生。　又桑葉（七片）日日洗之。一月復生如舊。（發落亦然）　又脂麻花陰乾為末。用秸灰加麻油調塗。　又黑脂麻花陰乾為末。以黑脂麻油泡之。日搽數次自生。　又旋覆花　天麻　防風（各一錢）　共研末。麻油調敷。生旱蓮草搗敷。數日即生。（並治發落不生）　又雄黃末（一兩）好醋調搽即生。</p>

<h3>眉毛脫落</h3>
<p>蔓菁子（四兩）　炒研醋和塗之。</p>

<h3>眉上生瘡</h3>
<p>肥皂（燒存性）　枯礬（要燒透）　各等分為末。麻油調搽。先用白礬泡水洗淨。</p>

<h2>面</h2>

<h3>面上生瘡</h3>
<p>急尋有殼蝸牛（一二個）　搗融攤紙上貼之。中間留一小孔出氣。初起用之神效。</p>
<p>又方鹿角（燒研末）　豬膽調搽。　又生杏仁搗爛。以雞子清調勻。捻成煎餅。至夜洗面後敷之。旦即洗去。連敷數夜自愈。</p>

<h3>面上生五色瘡</h3>
<p>溫鹽湯綿浸拓瘡上。每日五六度。二三日自瘥。</p>

<h3>肺熱面瘡</h3>
<p>苦絲瓜　牙皂莢（等分）　燒灰。油調搽。</p>

<h3>面腫</h3>
<p>杏仁杵為膏。搽之自消。</p>

<h3>面上粉刺</h3>
<p>（又名酒刺由肺經血熱而生）　</p>
<p>輕粉　黃芩　白芷　白附子　防風（各一錢）　為末蜜丸。每日洗面時。多擦數次。臨睡復洗面擦之。三日消痕滅跡。　又白礬酒調敷。　又白蘞白石脂　杏仁（各等分）　搗末。以雞子白和勻。用井花水洗淨敷之。三五次即效。</p>

<h3>面上風刺</h3>
<p>黑牽牛酒浸三宿為末。先以薑汁擦面後。用藥塗之。</p>

<h3>面上雀斑</h3>
<p>白茯苓末。夜夜敷之。二七日愈。　又紫背浮萍　漢防己煎水洗。或曬乾為末。搽之甚效。　又蒼耳草嫩葉尖和鹽少許搗爛。五六月間。日擦十餘次。效。　又鷹屎白水調敷之。　又附子　蛤粉　茯苓　白芷　陀僧　山柰（各五錢）共為末。蜜調擦面上。次日洗去。甚效。（並治酒刺）</p>

<h3>面皯</h3>
<p>李子仁和雞子清塗上。則落。又皂角子　杏仁（各等分）研勻。夜以津和塗之。　又橙核濕研。夜夜塗之。　又白附子末以水和塗。頻頻用。即落盡。</p>

<h3>雀卵面皰</h3>
<p>桃花　冬瓜仁（等分）　研末。蜜調敷。</p>

<h3>面上黶子</h3>
<p>七月七日午時。取瓜葉七十一片。直入北堂中面南立。逐片拭黶即滅。</p>

<h3>面上黑子</h3>
<p>鵝不食草煎湯。日洗之。</p>

<h3>面上黑氣</h3>
<p>半夏（焙研）　米醋調敷。不可見風。不計遍數。從早至晚。時時敷之。如此三日。皂角湯洗之。面瑩如玉。</p>

<h3>面黑令白</h3>
<p>天門冬曬乾。和蜜搗作丸。日用洗面。　又栝蔞瓤（三兩）　杏仁（一兩）　豬胰（一具）同研如膏。夜夜塗之。令面光潤。冬月不皴。</p>

<h3>面黑皮厚</h3>
<p>羊脛骨（末）　雞子清調。每夜敷。早以米泔水洗去。十日後。面白皮嫩。神效。</p>

<h3>面生皺紋</h3>
<p>大母豬蹄（四個）　洗淨煮成膏。臥時搽面上。次早洗去。半月後即不皺矣。</p>

<h3>冬天面唇皺破</h3>
<p>熟豬油。夜夜敷之。</p>

<h3>面上瘢痕</h3>
<p>蒺藜子　山梔子（各一合）　為末。醋和勻。夜塗旦洗。</p>

<h3>洗面光彩</h3>
<p>輕粉　滑石（水飛淨）　杏仁（去皮取霜各等分）　為末蒸過。加冰片（少許一方並加麝香少許）　用雞子清去黃調勻。洗面敷之。一月後色如紅玉。名紅玉膏。　又頂上金色密陀僧（一兩）　研細末。用人乳或蜜。調如薄漿糊。每夜略蒸。待熱敷面。次早洗去。半月後面光如鏡。</p>
<p>又冬桑葉煎濃汁收藏。冬月早晨用一酒杯攙入水內洗面。光滑如鏡。面亦不凍。</p>

<h3>兩腮赤腫</h3>
<p>（又名痄腮）　</p>
<p>醋調陳石灰敷。　又絲瓜燒存性。研末。水調塗。　又皂角（二兩）　</p>
<p>生南星（二錢）　糯米（一合）　共為末。薑汁調敷。立效。　又大黃　白芨　五倍子共為末。雞子清調搽。輕者用靛花或磨鹿角搽。重則用此。</p>
<p>被酒僕石。面額俱傷。血流不止。　水磨橄欖汁塗之。信宿而愈。</p>

<h2>目</h2>

<h3>明目枕</h3>
<p>蕎麥皮　綠豆皮　黑豆皮　決明子　菊花同作枕。至老目明。</p>

<h3>洗眼方</h3>
<p>每年九月廿三日。用桑葉煎水洗目一次。至老永不昏暗。且夜能看細書。其妙無窮。桑葉須五月五日。六月六日。立冬日採者為佳。同黑脂麻等分。蜜丸。名為扶桑丸。能除風濕。烏須明目。</p>

<h3>一切眼疾</h3>
<p>箬葉（即𦼔葉）燒灰。用布淋汁洗之。洗久自效。　又韭菜根洗淨。用橘葉外裹。男左女右。塞鼻中。過夜即愈。屢效。　又青萍（少許）研爛。入頂上梅花冰片（少許）　貼眼皮上。過夜漸散。治胬肉攀睛。神效。　又冬天取淨臘雪。將大荸薺同雪水磨粉曬乾。加冰片（少許）入鵝毛管中。點眼神效。</p>

<h3>治赤眼</h3>
<p>黃丹　白蜜調貼太陽穴。止痛立效。　又以鹽湯洗之。　又用人乳浸黃連蒸過。頻點神效。　又燒荊木出黃汁敷之。　又芙蓉末水和。貼太陽穴。　又薑汁調飛礬。塗眼皮上。痛即止。　又雄狗尿乘熱搽。如神。　又五更頭。用自家熱小便蘸洗。　又澀痛者。用三七磨水塗眼眶胞效。　又桑葉為末。紙卷燒煙。熏鼻取效。　又荸薺汁塗上。即效。　又日久不愈者。用蕤仁（選白淨者去殼研細去淨油不淨不效）調白蜜。用骨簪點眼內角。即能退紅止痛。效驗之至。</p>

<h3>風火眼</h3>
<p>童便煎甘菊湯。頻頻洗之。　又久害不愈。尚未生翳。用生薑汁一點即愈。</p>

<h3>爛弦風眼</h3>
<p>羯羊膽去其中脂。滿填好蜜。拌勻蒸之候乾。即入瓶細研。為膏點眼。以蜜採百花。羊食百草。故名二百味花草膏。　又真麻油浸原蠶砂二三日。研細以篦子塗患處。不問新舊。隔宿即愈。名一抹膏。又薄荷以生薑汁浸一宿。曬乾為末。每用一錢。沸湯泡洗。　又覆盆子葉搗取汁。以皂紗蒙目。將筆蘸藥汁。畫兩眸子於紗上。然後以汁滴之。當有蟲出。</p>

<h3>目中風腫</h3>
<p>枸杞根白皮　伏雞子殼（等分）　搗極細末。著目上。　又搗杞汁洗之。日六七度。</p>

<h3>目赤生翳</h3>
<p>枸杞子搗汁。日點三五次。神驗。</p>

<h3>明目去翳</h3>
<p>鵝不食草（搗汁熬膏一兩）　爐甘石（火煅童便淬三次三錢）　上等瓷器末（一錢五分）　熊膽（二錢）　磠砂（少許）為極細末。和作膏。點翳上。一夜取下。用黃連黃柏煎湯洗淨。如有再點。　又好焰硝（一兩銅器熔化）　入飛黃丹（二分）　頂上梅花冰片（二分）　銅筷攪勻。入瓷瓶收之。以蠟封口。勿令泄氣。每點少許。其效如神。名天賜膏。</p>
<p>又治遠年攀睛翳膜。名五蛻散。　人蛻（即指甲乳汁炒為末）　山甲（炒）　蟬蛻（洗淨炒）　龍蛻（即蛇殼炒）　鳳蛻（即雞蛋內白膜炒）　上為極細末。每用三釐。令患者含水一口。患左眼吹入右鼻。患右吹左。再以錫作眼樣。合患眼上。如此三次。則翳膜或血絲俱落。　又書中白魚末。注少許於翳上。　又刮懷妊婦人大指甲末。乳調敷即愈。　又新象牙物件。水磨點翳膜上即去。又新象牙磨屑。將生男乳浸透。點之即退。</p>

<h3>眼中起星</h3>
<p>以人乳磨山慈菇汁。滴目中。日三四次。　又鵝不食草塞鼻。左眼塞右。右眼塞左。又白蒺藜（三錢）水煎洗之。三日即無星。初起者效。久則不能去。又樟腦　東丹（等分）研細末。　又瓷瓶盛儲。如患左眼有星。將藥末半匙。吹入右耳。以綿塞耳。隔宿即愈。患右吹入左耳。</p>

<h3>眼中息肉</h3>
<p>馬齒莧（一大握）　洗淨。和芒硝（少許）綿裹。安上頻易之。</p>
<p>目生胬肉。或痛。或癢。漸覆瞳仁。　杏仁（去皮二錢五分）　水粉（五錢）　同捶爛。綿裹箸頭。蘸點之。又好梨（一個）　搗汁。以綿裹黃連（少許）　浸汁。仰臥點之。又急起胬肉。不過半日即遮白眼。一日即遮黑眼者。用刀上鐵鏽。滴涼水少許。以筷子頭磨起鏽水點患處。頻點即開。</p>

<h3>目中生管</h3>
<p>（即胬肉之類以上各方亦可治）　生白蜜塗目。仰臥半日洗去。每日一次。自愈。　</p>
<p>又櫻桃（三個去核炒）　研末。紙卷條燒。熏之即消。</p>
<p>眼中如有蟲行。癢不可忍。　羌活　枯礬　硼砂共研細末。（入口無渣方合用）　口水調如米大。時將一丸。納入眼中。少頃棗湯洗下。</p>

<h3>眼內生蟲</h3>
<p>紅棗（去核）用黑礬填滿棗內。入炭火內煨過。研為細末。再用朴硝放砂鍋內。熬煉滴水成珠。取出候冷。不必研末。用棗礬末（一二錢）　朴硝（五六分）　一併和勻。開水對衝。露一夜洗之。三五次即愈。</p>

<h3>眼邊生蟲</h3>
<p>鮮色銅綠（三錢研末）　以生蜜濃調塗粗碗內。用艾葉燒煙。將碗覆艾煙上熏之。</p>
<p>須熏至銅綠焦黑為度。取起冷定。以人乳調勻。飯上蒸過塗之。並治眼邊濕爛紅腫。及痘後風眼。諸藥不效者。用此如神。</p>

<h3>眼皮生珠</h3>
<p>（俗名偷針）　生南星（研末）　生地黃（等分）　同搗成膏。貼兩太陽穴。腫自消。　</p>
<p>又臭蟲血。每日點敷。神效。又用蛇蛻皮貼之。又白芨磨水點之。又精豬肉貼之。</p>
<p>眼泡生珠。生菌。堅凝不痛。　取過江蛛絲纏之。即落。（凡蜘蛛牽絲搭過屋者謂之過江）　又櫻桃核磨水。搽之自消。（並治眼皮生瘤）</p>

<h3>眼珠縮入</h3>
<p>老薑燒熱。敷眉心即愈。</p>

<h3>眼珠傷損</h3>
<p>凡眼珠打出。或觸傷。或火炮沖傷。用南瓜瓤搗爛厚敷。外用布包好勿動。漸次腫消痛定。干則再換。如瞳仁未破。仍能視物。瓜以愈老愈佳。如無南瓜。用野三七葉敷。或用生地黃浸酒搗敷亦可。（南瓜北人呼為倭瓜）又用牛口涎日點二次。避風即愈。忌酒並各熱物。又如火藥沖眼欲瞎者。急用熱小便頻洗。自愈。又如眼珠受傷突出。趕緊揉進。用生豬肉（一片）　當歸　赤石脂末（各少許）　摻肉上貼之。即愈。又眼目打傷青腫。以生半夏為末。水調塗之。即效。</p>
<p>眼見黑花。或黃白不定。（此肝腎虛風上攻）　附子（泡）　廣木香（末各一兩）　青鹽（一兩五錢）　牛酥（二兩）　鵝油（四兩）　硃砂（二錢）　冰片（一分）　熬膏塗頂上。</p>

<h3>眼生蘿</h3>
<p>卜花　大蘿蔔（一個）　剜空。入生雞蛋白（一個）包好。種土內。待開花結子後。取雞蛋白研細。加白爐甘石（以浮水者為佳用童便浸七日用炭火銷銀硃鍋內煅紅再入童便內浸十日曬乾研末一錢）　真熊膽（五分）　頂上牙色梅花冰片（一分五釐）　共為末。調蜜點眼。一日一次。七日全愈。神效。</p>
<p>眼生花翳。澀痛難開。　慎火草搗汁。日點三五次。</p>

<h3>兩目忽然不見</h3>
<p>取地上三尺下黃土。攪水澄清。洗之。又令人嚼母姜。用舌日舐六七次。以明為度。</p>

<h3>頭風痛壞一目</h3>
<p>川貝母（一粒）　白胡椒（七粒）　共研末。蔥頭汁為丸。如柏子大。用膏藥貼太陽穴。目可重明。</p>

<h3>眼盲腦痛</h3>
<p>鯉魚腦並膽（等分）　調以注目眥。日三良。（並治雀目）</p>

<h3>雀目</h3>
<p>雀頭取血。滴眼中即效。</p>

<h3>目熱雀盲</h3>
<p>地膚苗葉。煎水洗。</p>

<h3>青盲內障</h3>
<p>雄鼠膽　鯉魚膽（各一個）　和勻。每日早起滴之。又豬膽（一個）　微火煎之。可丸如黍米大。納眼中。食頃良。</p>

<h3>雙目不明</h3>
<p>黑豆（一百粒）　黃菊花（五朵）　皮硝（六錢）　水一鍾。煎七分。帶熱熏洗。五日換藥再洗。一年後可以復明。平日忌茶。並戒惱怒。又雞膽（一個）　入蜜半匙。以線紮緊。再入豬膽內。掛房檐下。通風不見日處。二十一日去豬膽留雞膽。先以人乳點患處潤之。少刻用骨簪蘸雞膽點上。遍身透涼。流淚出汗。二三次即明。忌茶百日。可將霜降後桑葉煎湯代茶飲。並忌惱怒。</p>

<h3>目多淚</h3>
<p>鯽魚膽（七個）　人乳（一盞）　和勻。飯上蒸一二次。點眼。其淚自收。</p>

<h3>眼瞠成漏</h3>
<p>凡眼下空處生癤。出膿流水不幹。日久成漏。諸藥不應者。柿餅去皮取肉。搗爛塗之。十日全愈。</p>

<h3>拳毛倒睫</h3>
<p>五倍子為末。蜜調敷眼皮上。其睫自起。又摘去拳毛。以蝨子血滴數次愈。　</p>
<p>又木鱉子（一個去殼）　搗爛。綿裹塞鼻。左目塞右。右目塞左。一二夜。其睫自出。（切不可將毛拔去拔後重出硬而更拳將為終身之累）又冬天壁上干蒼蠅研末。時向鼻內嗅之。立愈。或用飯蠅塞鼻亦效。又無名異為末。摻卷在紙中作捻子。點火吹滅。以煙燻之。其毛立起。</p>

<h3>蟹睛</h3>
<p>鱔魚血。曬乾蘸點。</p>

<h3>眼癬</h3>
<p>杏葉煎湯洗。又銅綠　膽礬（或加明雄黃）　塗碗上。以牙皂　荊芥　薄荷　艾葉捲紙捻點。熏升黃色搽之。</p>

<h3>暑月行路眼昏</h3>
<p>薄荷葉揉汁滴。</p>

<h3>茫草沙石等眯目不出</h3>
<p>磨好墨以新筆點注目中瞳子上。又鹽　豉（各少許）　著水中。臨目視之即出。</p>

<h3>麥芒入目</h3>
<p>煮大麥汁注眼中即出。或煮水洗。又用蠐螬蟲（即糞草堆內之灰白蟲）　搗爛敷眼上即出。（並治竹木入眼）</p>

<h3>蟾酥入目</h3>
<p>紫草取汁。點之即消。</p>

<h3>泥沙入目</h3>
<p>頂粗牛膝一條。約二寸長。本人自行嚼爛。（患左眼於口內右嚼右眼左嚼）吐出搓丸。塞於兩眼角。其淚流必多。少刻泥沙裹藥盡出。雖腫痛欲瞎。無不立效。</p>

<h3>塵芒入目</h3>
<p>生藕汁滴入自出。（或用大藕洗搗綿裹滴汁入目中）</p>

<h3>塵屑入目</h3>
<p>人指甲以津唾磨濃。點之頃刻。一抹即出。</p>

<h3>飛絲入目</h3>
<p>白菜揉爛帕包。滴汁二三點即出。又荷花缸內細泥汁。點之即消。又芥菜汁點之。又桑葉滋點之。又凡諸藥不效。赤腫痛甚者。以滾水一杯。入食鹽（少許）　明礬（三錢）　將舌尖浸入水片刻。其絲自落水中。又好墨磨濃。用新筆蘸點眼角內。閉目片時。其絲自然成塊。用手輕抹即出。（雜物入目亦可治並可散翳或用京墨點眼以燈草撥去）</p>

<h3>煙渣入目</h3>
<p>用亂頭髮或棕櫻。緩緩揉之即愈。（勿用湯洗）</p>

<h3>石灰入目</h3>
<p>生梔子煎濃汁頻洗。</p>

<h3>箭頭入目</h3>
<p>米糖點入。待其發癢。一拔即出。</p>

<h3>雜物入目</h3>
<p>雞冠血滴（少許）　入眼能出。又新桑根皮洗淨搗爛。入目撥之自出。</p>

<h2>耳</h2>

<h3>治聾</h3>
<p>鯉魚膽滴耳。又取蛇膏塞耳中神效。又烏公雞脂綿裹塞耳效。又甘草末吹入左耳。甘遂末吹入右耳即通。兩藥須兩處買。又以竹筒盛鯉魚腦。蒸之令烊。以灌耳中。　</p>
<p>又雄黃　硫黃（等分）　綿裹塞耳中。數月聞。又老鼠膽汁滴耳中。二三次效。又菖蒲　</p>
<p>附子（泡各二兩）　搗末。以苦酒和丸。如棗核許。綿裹臥即塞耳中。夜一易之。十日有黃水出。便瘥。又蓖麻子（百粒去皮）　大棗（十九枚去皮核）搗丸。如杏仁大。納於耳中。二十日瘥。又取杏仁（七枚去皮）　捶碎為三分。以綿裹。各於中著一裹鹽。如小豆許。以器盛於飯甑中蒸之。候飯熟。出一裹。令患者側臥。和綿捻以油汁入耳中。久又以一裹進前捻之。瘥為度。又左耳聾。婦人常有之。多怒故也。右耳聾。男子常有之。好色故也。用麝香（三釐或用羚羊角代）研末。先入耳中。然後用好燒酒滴兩三點入耳中。又用蔥一棵去頭梢取管。插入耳中。以通其氣。少頃即愈。</p>

<h3>耳暴聾</h3>
<p>芥子末人乳和丸。綿裹塞。日二易。又椒目　巴豆肉　石菖蒲　松香（各一錢五分）　為末。以蠟融化和勻。作筒子樣。綿裹納耳中。一日一換。神效。</p>

<h3>耳忽聾閉</h3>
<p>木香（研末）　酒浸一宿。取酒滴入耳中。少頃倒出。二三次即瘥。</p>

<h3>兩耳聾閉</h3>
<p>北細辛末（一錢）將黃蠟熔化為丸。如鼠糞大。以綿裹塞耳。一二次即愈。切戒惱怒。又甘草　生地研極細末。胭脂包三分。日間塞耳。　甘遂　草烏研極細末。綿花包三分。晚間塞耳。甚效。又真麝香（一二分）　綿包塞耳。一日後。耳中如雷鳴。屢試神效。</p>

<h3>耳塞聾閉</h3>
<p>生麻油日點三五次。候耳中塞出愈。</p>

<h3>耳聾不聞人聲</h3>
<p>松脂（四分）　巴豆（去皮心熬）　麻子仁　蠟　薰陸香　石鹽（各二分）　上六味。搗如膏。丸棗核大。納耳中。三日一易。取瘥。</p>

<h3>腎虛耳聾</h3>
<p>靈磁石（如豆大一塊）同穿山甲煅末。綿裹塞耳中。口含生鐵一塊。覺耳中如風雨聲。即通。又聲響如風水鳴。如鐘磬音者。用真川椒　巴豆　菖蒲同研細。以松香　黃蠟為丸塞耳。一日一換。初起者數日即通。神效。</p>

<h3>病後耳聾</h3>
<p>生菖蒲汁滴之。</p>

<h3>耳聾有膿</h3>
<p>番木鱉（一個）　磨水滴耳。即效。又蒲黃末摻之。又雞冠血滴入耳內。即愈。又烏賊魚骨（去甲炙）　釜底墨（各二分）　附子（泡四分）　禹餘糧　龍骨　伏龍肝（各二分）　上六味。搗末取如皂莢子許大。綿裹納耳中。日一易。取瘥。有蟲加麝香一豆大。</p>

<h3>耳出膿汁</h3>
<p>杏仁炒黑搗膏。綿裹納入。日三四易。良。又胭脂綿（五分煨存性）　枯礬（一錢）上研末摻之。</p>

<h3>耳中膿水不幹</h3>
<p>石榴花瓣不拘多少。炙脆研末。加冰片（少許）再研吹耳。自愈。又羊屎彈（燒灰一錢）　枯礬　輕粉（各五分）　上為末。用綿花捲淨耳內膿。將葦管吹入。效。</p>

<h3>聤耳出汁</h3>
<p>陳皮（燒研一錢）　麝香（少許）為末。日摻立效。又青皮（燒研末）　綿包塞之。又韭菜自然汁入滴三次。</p>

<h3>耳出臭膿</h3>
<p>龍骨（煅）　五倍子（炒）　乳香　枯礬　血餘灰（各等分）　為末。卷淨膿水。吹之。</p>

<h3>聤耳膿血出</h3>
<p>附子末。以蔥涕和。灌耳中。取瘥。單用蔥涕灌亦佳。須側臥令入。又桃仁熟搗。以故緋絹裹塞耳中。日三易。以瘥為度。又釜月下墨。以豬膏和綿裹納耳中。日再。</p>
<p>又黃連　附子（泡各等分）　搗末。先用綿花捲淨惡物。然後以藥末少許。微微吹入。良。</p>
<p>耳中腫痛。並出膿血。　橄欖核（燒存性）　每一枚。入冰片（二釐）　研極細末。吹入耳中。即愈。</p>

<h3>耳常出血</h3>
<p>五色龍骨（煅）　研細末。吹入耳中即止。又人牙（煅存性）　出火毒。入麝香（少許）　共研吹之。</p>
<p>耳內有蟲。膿血不幹。　雞蛋（一個香油炒）　豬肝（四五錢香油炒）　黑芝麻（一升炒研）　同搗融。微火烘暖。布裹貼耳外。血蟲出盡即愈。</p>

<h3>耳爛</h3>
<p>胭脂　陳皮　燈草（燒灰各一錢）　冰片（一分）　研勻吹之。</p>
<p>耳內生粒如棉花子大。極痛。名耳定。　人指甲瓦上焙枯存性研末。加牙色梅花冰片（少許）吹入。極效。</p>
<p>耳閉不通。又作痛。　大田螺（一個）　撥開蓋。入麝香。（五分）　自化成水滴入。又每日平明。以大指食指捏住鼻孔。勿令泄氣。咬牙努目。口唇閉緊。使氣俱入耳竅。悶極放手。時時行之。久則自效如神。</p>

<h3>耳卒疼痛</h3>
<p>蒸鹽以軟布裹熨之。又瓦松搗汁灌之。</p>

<h3>耳底痛</h3>
<p>鬱金磨汁滴之。又鮮虎耳草搗汁滴之。</p>

<h3>耳鳴耳癢</h3>
<p>生烏頭（一個）　乘濕削如棗核大。塞耳。日換數次。過三五日便愈。久恐成聾。</p>

<h3>耳鳴</h3>
<p>生地黃截斷塞耳。日十易之。瘥。或用紙裹微火中煨之塞。又巴豆（二枚去皮熬）　桃仁（二枚去皮熬）　松脂（大豆許）　搗作二丸。綿裹塞耳中。</p>
<p>耳疳。震耳。纏耳。停耳。風耳。　各症俱系耳內悶腫出膿。但膿色不一。而名各異。耳疳則出黑色臭膿。震耳則出青膿。纏耳則出白膿。停耳則出黃膿。俱由胃濕與肝火相兼而成。惟風耳則出紅膿。偏於肝經血熱。俱宜用醬茄（不宜多）　自然油滴之。俟膿浮出。再用核桃仁（即胡桃）　研細。擰油去渣。每油一分入冰片（二分）　用少許。滴耳自愈。又青魚膽和冰片。滴之即愈。又桑螵蛸（一個燒存性）　麝香（一分）研末摻入。神效。有膿先絞淨。　</p>
<p>又鱔魚血滴入。甚效。又白礬（煨研）　入麝香（少許）　綿裹塞耳中。又頭髮（瓦上燒存性）研末。每一錢加冰片（七釐）　研勻。吹少許入耳。效。又蟲蛀竹灰加麝香（少許）　吹入。神效。耳內外生瘡　蚯蚓糞為末吹入。或用麻油調搽。又黃柏（五錢）　馬齒莧（一兩）為末敷之。</p>

<h3>耳外濕瘡</h3>
<p>大雞腰子（一對蒸熟去皮）　枯礬（三分）　共搗融。加頂上冰片（一二分）敷之。（並治小兒胎毒及頭面耳前後一切濕瘡兼羊鬚瘡）又黃丹（一錢）　松香（八分）　輕粉　枯礬（各一分）　共為細末。香油調擦效。</p>

<h3>耳下生瘡</h3>
<p>用鉛粉摻之。</p>

<h3>耳後銳毒</h3>
<p>大天南星煅存性。醋調塗三次。即愈。</p>

<h3>耳被挖傷</h3>
<p>金頭蜈蚣（一條瓦上焙存性）　研末吹入。立效。又青魚膽（一個）　紅花（一錢）元參　生地（各二錢）　蒸出濃汁。灌入耳中。即愈。</p>

<h3>兩耳凍瘡</h3>
<p>生薑自然汁。熬膏塗。又橄欖燒研細末。油調塗之。（並治足上凍瘡）</p>

<h3>兩耳脫落</h3>
<p>用人發入瓦罐。以鹽泥封固。煅過為末。急以所傷耳蘸藥。安於舊處。再用老薑嚼融。四圍厚敷。用綢捆定自安。（並治鼻落治法同）</p>

<h3>耳中有物不出</h3>
<p>用弓弦或麻繩。將一頭搓散。用好魚鰾黏著。放耳內。其物徐徐引出。</p>

<h3>百蟲入耳</h3>
<p>薑汁少許滴之。又人乳滴之。又韭汁灌之。又膽礬和醋灌之。又車缸脂塗孔上自出。又貓尿滴之。（生薑擦貓鼻即有尿）又桃葉作枕枕之。蟲自鼻出。或火熨桃葉卷之。取塞耳立出。</p>

<h3>蛆蟲入耳</h3>
<p>杏仁搗如泥。取油滴之。又皂礬摻之。即化為水。</p>

<h3>壁虎入耳</h3>
<p>雞冠血滴入即出。</p>

<h3>蜈蚣入耳</h3>
<p>炒肉放耳邊。聞香自出。烹雞更妙。或用生薑汁或韭菜汁灌入。即出。</p>

<h3>螞蝗入耳</h3>
<p>取田中泥放耳邊自出。</p>

<h3>蜓蝣入耳</h3>
<p>生半夏末。麻油調塗耳門。蟲聞香即出。又蒜洗淨。搗汁滴之。未出再滴。　</p>
<p>又羊乳滴之。化水流出。又白洋糖熟水調濃汁滴入。亦化為水。</p>

<h3>飛蛾入耳</h3>
<p>用銅器向耳邊敲打自出。</p>

<h3>螞蟻入耳</h3>
<p>穿山甲燒研為末。調水灌入。又用手將耳扯動即出。</p>

<h3>蚤蝨入耳</h3>
<p>菖蒲末炒熱盛袋枕之。其蝨自然而出。</p>

<h3>壁蝨入耳</h3>
<p>用稻稈灰汁灌。</p>

<h3>水銀入耳</h3>
<p>枕金器自出。</p>

<h3>水入耳中</h3>
<p>薄荷汁滴入。立效。</p>

<h2>鼻</h2>

<h3>鼻血</h3>
<p>用線紮緊手中指第二骨節灣屈之處即止。左流扎右。右流扎左。雙流雙扎。極效。　</p>
<p>又井底泥和苔蘚貼囟上立止。又石榴花瓣塞之。或以蘿蔔汁藕汁滴入鼻內。或火煅龍骨吹入。俱可。又薄荷葉塞之。又大蒜（一枚去皮研如泥）　作錢大餅子。厚一豆許。左鼻出血。貼左足心。右貼右足心。兩鼻俱出俱貼。立效。又蓮蓬殼（煅存性）　吹鼻。又梔子（燒存性）研末吹之。又槐花末吹之。又猝然以水噀其面。即止。又左衄以綿塞右耳。右衄塞左耳。神應。又青蒿納鼻中。即止。又井水磨陳京墨。燈草蘸塞之。又多年溺壺。於火上烘熱。向鼻熏之。立止。又生吳萸研末。津調塗足底湧泉穴。用山梔炒黑研末。吹鼻中。效。又青菜葉塞鼻。即愈。又紙條濃蘸真麻油入鼻取嚏。效。</p>

<h3>鼻中息</h3>
<p>鵝不食草搗爛塞之。自落。又藕節有毛處一節。燒存性為末。吹患處效。又甜瓜蒂末（七月七日收者更妙）　白礬末（各五分）　綿裹塞之。或以豬脂和挺子塞之。一日一換。又白礬（一錢）　磠砂（五分）　共為末。以三四分吹之。其息肉即化。</p>

<h3>鼻中塞肉不通利</h3>
<p>細辛　瓜蒂（各等分）　研末吹鼻中。須臾涕出。頻吹即愈。又陳瓜蒂搗末。敷塞肉上。取瘥。</p>

<h3>鼻塞不通</h3>
<p>麻鞋燒灰。吹之即通。又通草　細辛　附子共為末。蜜調綿裹納鼻中。又菖蒲　皂角（去蟲蛀者）　共為末。每用一錢。綿裹塞鼻。仰臥少時。效。皂角末單用吹之。亦通。</p>

<h3>鼻窒痛</h3>
<p>杏仁　白芷　細辛（各一錢）　全蠍（兩個）　焙末。麻油調敷。</p>

<h3>鼻痔</h3>
<p>霜梅（一個）　蓖麻仁（七粒）　生礬（少許）　同搗勻。綿裹塞鼻內。一日夜即愈。　</p>
<p>又輕粉（二錢）　杏仁（七粒去油）　白礬（五錢）共為末。吹入痔即化水。又甜瓜蒂（四錢）　甘遂（一錢）　枯礬　螺殼灰　草烏灰（各五分）　為末。麻油調作丸。如鼻孔大。每日塞入一次。其痔化水。肉皆爛下而愈。又頂上梅花冰片點之。雖痔肉垂下亦入。或用生藕節連須瓦上焙枯研末。和頂上冰片水調敷。</p>

<h3>齆鼻</h3>
<p>將鐵磨石上取末。豬油調綿裹塞鼻。肉出愈。又幹姜為末。吹鼻中。或蜜調塞鼻。</p>

<h3>疳蟲蝕鼻生瘡</h3>
<p>綿裹人屎灰。夜臥著之。又燒牛狗骨灰末。以臘月豬脂和敷之瘥。又燒故馬絆末敷之。又取烏牛耳垢敷。又取牛鼻頭津敷之。良。</p>

<h3>鼻內生瘡</h3>
<p>黃柏　檳榔共為末。豬油調敷。又嫩桃葉捶爛塞之。無葉用枝亦可。又紫荊花陰乾為末貼之。又元參研末吹入。或以水將元參泡軟塞之。</p>
<p>又陀僧　白芷（各二錢）共研末。蠟燭油調搽甚效。又杏仁油和鹽塗之。</p>

<h3>鼻流清涕不止</h3>
<p>蓽茇末吹之。有效。又生花生（四五斤）　入鍋內。合患者親手拌炒。炒之數次即愈。</p>

<h3>老人鼻流清涕</h3>
<p>大蒜搗貼足心。</p>

<h3>口鼻生疳蝕爛</h3>
<p>青靛搽患處。每日十次。每夜五次。三四日愈。</p>

<h3>鼻皶赤泡</h3>
<p>密陀僧（二兩）　細研。每夜用一錢。人乳調塗。早洗去。</p>

<h3>風刺赤鼻</h3>
<p>大風子仁　木鱉子仁　輕粉　硫黃為末。夜夜津調塗之。</p>

<h3>酒皶赤外</h3>
<p>桐油入黃丹雄黃敷之。又食鹽研細。每早擦牙。噙水瀨口。吐入手中洗面。月餘自愈。又白果嚼融。和甜酒糟。夜敷日洗。甚效。又馬蘭子花搗封之佳。又蕎麥麵燒灰研細。麻油塗之。又鸕鷀矢末。以臘月豬脂和塗之。</p>

<h3>各項鼻病</h3>
<p>凡鼻淵。鼻痔。鼻中肉塊。鼻塞。鼻瘡等症。用辛夷花苞（又名木筆花）去赤肉毛子。以芭蕉煎水。泡一夜焙乾為末。加麝香（三釐）蔥白蘸入鼻孔。數次極效。</p>
<p>鼻中生毛。晝夜可長一二尺。漸粗如繩。痛不可忍。　此食豬牛羊血過多所致。用豬毛（焙存性）研末。吹入鼻中即愈。如食牛羊血過多者。或加牛羊毛亦可。</p>
<p>鼻垂紅線尺許。痛甚欲死。　真硼砂　頂上牙色梅花冰片（各一錢）為末。以人乳調之。輕輕點在紅線中間。頃刻即消。</p>
<p>諸物入鼻。脹痛不出。　牛油如棗核大。納鼻中。油溶則物潤而隨出矣。</p>

<h2>唇</h2>

<h3>唇中腫大</h3>
<p>生蒲黃（二錢）　川連　頂上梅花冰片（各一錢）　共為細末。麻油調敷。</p>

<h3>唇腫破爛流水</h3>
<p>黃連（二兩）　銅綠（五錢）　枯礬（一錢五分）　宮粉（三錢）熬膏。臨用加冰片（五釐）　麝香（一釐）敷。</p>
<p>口唇腫黑。痛癢不可忍。　大銅錢（四個）於石上磨豬油。時時擦之。（照疔瘡法治亦可）</p>
<p>唇瘡以頭垢敷之。日三。又東壁土敷之。又胡粉敷之。又白梅瓣貼之。開裂出血者即止。又飯甑上滴下汗。擦數次效。又白荷花瓣貼之。亦妙。</p>
<p>嘴唇四圍。瘡如黃蠟。　旋覆花（瓦上煅存性）研末。真麻油調塗。又葵花根（瓦上焙存性）研末。麻油調搽更效。</p>

<h3>唇破生瘡</h3>
<p>瓦松　生薑汁搗融。入鹽少許。敷之。</p>

<h3>唇燥生瘡</h3>
<p>青皮燒研。豬脂調塗。</p>
<p>嘴唇翻轉。形如豬嘴。名唇菌。　此心脾熱毒所致。對時必死。無藥可救。急燒兩手少商穴。（在兩手大指內外甲縫之中不上不下即是）一面用蚯蚓（十條搗爛）吳茱萸（二錢研末）加灰面（少許）熱醋調敷兩腳心。用布捆住。半日一換。以愈為度。或用溏雞糞敷。</p>

<h3>唇乾裂痛</h3>
<p>桃仁搗爛。和豬油調塗即愈。</p>

<h3>唇燥餂舌</h3>
<p>松毛煮老豆腐貼之。日換數次。良。又橄欖磨汁塗之。或以橄欖炒研豬脂和塗之。</p>

<h3>繭唇</h3>
<p>（口不能開合風熱蘊於脾經也）　</p>
<p>青皮（燒灰）　黃柏（各等分）為末。豬脂調塗。效。</p>
<p>又用新白布作卷如酒杯大。燒燃放刀口上。俟刀口汗出。取汁塗之。日搽十餘次。效。（並以青布燒灰沖酒服）又五倍子　訶子肉（等分）為末。香油調敷。神效。</p>

<h3>緊唇</h3>
<p>炙松脂貼上。又以蠟片炙貼之。一宿瘥。又取膝頭垢。綿裹燒敷之。又燒人屎灰敷之。</p>

<h3>缺唇</h3>
<p>蟹（燒灰二錢）　乳香　沒藥（去油各二分半）熟水和塗。即生肉。</p>

<h2>口</h2>
<p><u>與唇部參看</u></p>

<h3>口臭難聞</h3>
<p>每早洗面時。用白牽牛粉擦牙瀨口。日久自無此病。又密陀僧（一錢）　醋調瀨口。又真藿香常噙口中即解。</p>

<h3>口瘡</h3>
<p>陳白螺螄殼（燒存性）加兒茶（少許）為末。吹敷即愈。又生黃柏蜜炒為末。敷之。　</p>
<p>又蘿蔔自然汁。頻瀨去涎。又草烏　南星（各一個）　生薑（一塊）為末。臨臥時。貼兩手足心。便愈。又縮砂殼煅研塗之。又茄蒂燒灰敷之。又白楊嫩枝鐵上燒灰。和脂敷之。</p>

<h3>天行口瘡</h3>
<p>橄欖核仁。研敷之。又五倍子末搽之。吐涎則愈。</p>

<h3>口吻生瘡</h3>
<p>（世謂之肥瘡一名燕口瘡）　楸白皮及濕貼之。數易。取瘥。又掘經年葵根欲腐者彌佳。燒灰敷之。</p>

<h3>口舌爛瘡</h3>
<p>蚯蚓　吳茱萸同研末。醋調塗足心。又川黃連　北細辛（各二分）　生研極細末。</p>
<p>以小管吹入瘡上。神效。此方熱因寒用。寒因熱用。功成而無偏勝。大人小兒並治。切忌入喉。</p>

<h3>口內上齶生癰</h3>
<p>亦名懸癰。生口上齶。形如紫葡萄。舌難伸縮。口難開合。鼻內出血。時作寒熱。急用食鹽（燒紅）　枯礬（各等分）研細末。以筷頭蘸點。日三五次自消。</p>
<p>通治口舌生瘡。及風火牙疼。（上熱足涼者）　白礬（三兩）　熱湯化之。以足浸半日。即效。</p>

<h2>舌</h2>

<h3>舌脹滿口</h3>
<p>醋調鍋底煙子。敷舌上下。多敷更效。又蓖麻子（四十粒）　紙上取油。將油紙燒煙燻舌即消。若舌上出血。熏鼻中自止。</p>

<h3>木舌腫強</h3>
<p>用糖醋。時時噙嗽。又殭蠶（一錢）　黃連（蜜炒二錢）　為末搽之。痰出為妙。或單用殭蠶為末。吹之。</p>

<h3>舌腫</h3>
<p>柴灶內百草霜。和酒塗舌下。即愈。又朴硝　白礬為末。擦。或用朴硝　綠礬（煅）敷。</p>
<p>小兒舌腫。　以食鹽　百草霜為末。井水調敷。</p>
<p>舌忽腫。出口外。或長數寸。　此亦心火熱極所致。用雄雞冠血一小盞。以舌浸之。即縮。（或照舌腫各方治之）又真川連（三四錢）煎濃汁。以舌浸之。亦效。</p>

<h3>舌下腫痛</h3>
<p>蒲黃（五錢）煎濃汁去渣。含口中數次。極效。又腫痛欲死者。皂礬（二錢）瓦上焙紅研末。醋調敷。</p>
<p>喉風。舌大如脬。　不急救即死。用冰片（一分）　火硝（三分）　青黛（二分）　殭蠶（五分）　膽礬（二分）　硼砂（三分）共為末。吹之即愈。</p>

<h3>舌胎語謇</h3>
<p>薄荷自然汁。和白蜜薑汁搽之。</p>

<h3>重舌</h3>
<p>陳醋（一碗）　五靈脂（一兩）入銅杓內。煎三沸為度。（沸即離火用箸攪之沫平再煎）候冷。將醋少許頻含。待涎沫滿口即吐。勿嚥下。又牙皂角（四五挺須不蛀者去皮核炙焦）　荊芥穗（二錢）共為細末。以米醋調塗腫處。即消。</p>

<h3>舌硬生衣</h3>
<p>犀黃　硃砂（各一分）　元精石（二兩）共研細末。將舌尖刺出紫血。用此藥搽之。即愈。</p>

<h3>舌出不收</h3>
<p>用辰砂敷之。或暗擲盆碗作墜地聲。驚之即收。</p>
<p>傷寒熱病後。舌出寸余不收。　頂上梅花冰片研細摻舌上。應手而縮。須用五錢方效。（並治舌長過寸及小兒舌腫）</p>
<p>舌出口角。時時搖動。　此名翣舌風。用翠鳥舌（舌須陰乾備用）在兩額點戳幾下即愈。</p>

<h3>舌忽縮入</h3>
<p>銀針刺破舌尖。出盡惡血。以蠟燭油搽之即愈。又生艾搗敷。</p>

<h3>舌上出血</h3>
<p>槐花炒為末。摻之。又頭髮燒灰。醋調敷之。又茅草根　生車前子　亂髮各為末。吹擦。</p>

<h3>舌梗出血</h3>
<p>木賊（四錢）煎水。漱口即止。</p>

<h3>舌爛</h3>
<p>吳茱萸（三四錢）研末。好熱醋調敷兩足心。用布捆好。對時一換。甚效。或兼用人中白散治之。（見齒部）並治咽舌生瘡。</p>

<h3>小舌落下</h3>
<p>以食鹽炒熱。點數次即上。先用箸將大舌壓住。然後點之。又鹽橄欖並核（燒存性）研末。吹之。</p>

<h3>補斷舌法</h3>
<p>凡人遇含刀在口。割斷舌頭。已垂落而未斷。用雞蛋內白軟皮套住舌頭。另以天花粉（三兩）　赤芍（二兩）　薑黃　白芷（各一兩）為末。蜜調塗舌根。以白蜜調白蠟。稀稠得宜。敷在雞蛋皮上。日敷數次。三日舌自接住。去雞蛋皮。再用蜜蠟勤敷。七日全愈。又如跌撲穿斷舌心。血出不止。以鵝翎蘸米醋頻刷斷處。其血即止。或用瘦豬肉片貼之。更妙。又活蟹（一個炙乾為末）敷上。即能生肌。（藥宜預製以備急用）又活蟹（燒灰）　乳香　沒藥（各二錢）　塗之即生肉。如咬去唇舌。用川烏　草烏為末。攤紙一條。以涼水調合。貼之即不覺疼。</p>

<h2>齒</h2>

<h3>固齒方</h3>
<p>取老鼠頭骨牙同鹽煅存性。研細。以擦動牙。牙即收上不搖。又生竹葉（去梗淨一斤）　生薑（四兩）　淨白鹽（六兩）先將竹葉熬出濃汁。又將姜搗汁用熬。瀝渣。將鹽同熬干。如遇牙痛。用擦一二次即愈。名竹葉膏。又臘月醃豬羊骨煅灰。研細。每晨擦牙。不可間斷。至老而其效益彰。頭上齒骨亦佳。</p>

<h3>取齒丹</h3>
<p>活鯽魚（一條重十兩）　以白砒（一錢）入腹內。放無風無貓犬處。七日魚身發白毛。用雞毛拂下。以少許膏藥收之。每遇病牙。取些些膏貼齒。片刻即落。又用白馬尿浸茄根三日。炒研為末。點在牙根。須臾其牙可落。切勿近好牙。又大蒜（一個）搗爛。入白龍骨末（一二分）拌勻。貼痛處。半時即下。</p>

<h3>齒牙疼痛</h3>
<p>老蒜（二瓣）　輕粉（一錢）同搗融敷經渠穴。（在大指腳下手腕處寸脈後即是）用蜆殼蓋上扎住。（用別物蓋亦可）男左女右。少頃微覺其辣。即便揭去。隨起一泡。立時痛止。泡須挑破。揩盡毒水。良效。又上方如不知穴處。即用老蒜搗爛如蠶豆大。敷在大指二指手背上微窩處。亦極神效。又獨頭蒜煨熱切。熨痛處。旋易之。（亦主蟲痛）又槐條熬濃水煮。鹽炒乾擦。又燒牛膝根末。以綿裹著齒痛處含之。又黑豆煮酒。頻頻嗽之。又用溺壺烘熱熏耳。又石膏（二兩）　明礬（六錢）俱半生半熟。研細末擦之。當永無齒痛。如痛者擦四五次效。又骨碎補（二兩銅刀切細以石上生者為佳）　食鹽（五錢）　桑椹子（五錢）　瓦鍋內熬成膏。去淨渣。早晚擦牙。良久吐之。不惟可治牙痛。且能固齒益髓。去骨中毒氣。牙動將落者。擦一月後。再不復動。又川椒（三分）　細辛（二分此味必須稱准多則頭必牽引作痛）　白芷　防風（各一錢）共用滾開水泡透。時時含水入口。片刻吐去再含。無論風火蟲牙。莫不見效。不可輕視。又石膏（二錢）　胡椒（三粒）共研細末。敷之極效。又老生薑（瓦焙二錢）　入枯礬（一錢）共為末。塗二次即愈。又烏梅（燒存性）研末。臨用加頂上牙色冰片（少許）擦之。又壁錢包胡椒末。塞痛一邊耳。手掩枕之。額微汗愈。又黑山梔桑葉二味泡湯。乘熱嗽口。不痛乃止。又冰片　硃砂（等分）共研末擦之。又瑞香花含之即止。又火硝　雄黃　元明粉共為末。擦患處效。又雄黃　沒石子（各一錢）　細辛（五分）共為末。左痛用少許吹入左鼻孔。再用少許吹入右耳。右痛吹右鼻左耳。</p>

<h3>風熱牙痛</h3>
<p>大黃瓶內燒存性研末。早晨揩牙嗽口。名紫金散。（並治一切牙痛去口氣大效）　又甜瓜蒂（七枚炒研）　麝香（少許）和之。綿裹咬定。流涎。</p>

<h3>風火牙痛</h3>
<p>松木節一小片。咬痛上。立止。又杉樹皮煎濃湯嗽之。又辣椒根（即辣茄根）煎濃湯含嗽。又五倍子末。冷水調敷腮頰。甚效。又生地搗爛。加潮腦（少許不可過多）捶勻貼患處。吐出涎水。神效。又莧菜根燒灰敷之。又生絲瓜（一條）擦鹽。（少許）火燒存性研末。頻擦。涎盡即愈。（腮腫用水調末敷之極效）　又北細辛　北五味（各二分）　共搗為丸。塞痛處。立效。</p>

<h3>風蟲牙痛</h3>
<p>皂角子末。綿裹彈子大兩個。醋煮熱。更互熨之。日三五度。</p>

<h3>蟲牙痛</h3>
<p>雄黃末和棗肉為丸。塞牙縫。日換數次。極驗。又蛇床子（三錢）煎湯一鍾。乘熱嗽。二次即止。又川椒（鹽水炒七錢）　枯礬（三錢）共為末。每日擦牙甚效。</p>

<h3>立止牙痛</h3>
<p>蓽茇（一錢）　川椒　石膏（各五分）　青鹽（四分）共為細末。點痛處即止。</p>

<h3>牙齒腫痛</h3>
<p>李根白皮煎水含嗽。又隔年糟茄燒灰。頻頻乾擦。又醬茄（陳年者佳燒存性）為末掩患處。</p>

<h3>齒根腫</h3>
<p>松毛（一把）　鹽（一合）以好酒三升。煮取一升。含之冷即吐。瘥即止。又馬齒莧嚼汁含之。</p>

<h3>陰虛牙痛</h3>
<p>（緩痛者是）　生附子研末。口水調敷兩足心。極效。又胡桃殼（四五斤）　打至粉碎。加川椒　食鹽（各少許）　熬成濃汁攤冷。時時嗽齒。甚效。</p>

<h3>打動牙疼</h3>
<p>蒺藜子或根為末。日日揩之。</p>

<h3>牙齦腫爛出臭水</h3>
<p>芥菜根（燒存性）研末。連敷六七次。效。又瓦松　白礬（各等分）水煎嗽之。立效。又刀豆殼燒灰。加冰片擦。涎出即安。</p>

<h3>走馬牙疳</h3>
<p>（牙根腐爛者是）　</p>
<p>凡大人熱病之後。及小兒痘症後。火毒流於胃經。致有此患。勢甚危急。甚則落牙穿腮透鼻。一二日即能致命。故有走馬之名。言其驟也。此症有五不治。不食爛舌根者不治。黑腐如筋者不治。白色肉浮者為胃爛不治。牙落穿腮鼻臭不堪聞者不治。山根上發紅點者不治。如是凶險。命在須臾。急用生大黃（三錢）　丁香（十粒）　綠豆（二錢）共研末。熱醋調敷兩足心。最為神效。仍照後金鞭散治之。庶幾十可救五。又名金鞭散。綠礬（五兩煅赤透）　人中白（三兩煅）　明雄（二兩）　真麝香　頂上梅花冰片（各一錢）先將銀針挑刮去腐肉紫血。然後將藥研末敷之。吐出毒血惡涎。方能愈也。又名赤霜散。專治走馬牙疳。用紅棗（一枚去核）　入紅砒（一粒如黃豆大）紮好放瓦上。炭火炙至棗枯煙盡為度。取出用碗蓋住候冷。加頂上梅花冰片（一分）研末。將患處洗淨吹入。效甚。久爛之孔。生肌亦速。又柳花燒存性。入麝香（少許）搽。又陳年南棗核燒灰研末摻之。又屋上貓屎。經過霜雪雨淋日曬色已白者。取下瓦上炙灰研細。放在地俟冷。加冰片（少許）研和吹之。雖延及喉間者。立愈。又蒲黃炒擦即愈。又生附子（一錢）　生半夏（二錢）　加蔥白共搗爛紮腳底。男左女右。鼻內有氣出。即愈。又名人中白散。治男婦大小走馬牙疳。（並治咽喉疼痛腐爛紅赤舌腫齦臭映血牙床潰腐等症極效）　人中白　兒茶　真青黛　真硼砂（各一錢）　薄荷　元明粉　馬屁勃（各五分）　頂上梅花冰片（二分）共研極細。（如灰面細放舌上無渣為度）摻之。如病重者。加真犀黃（三分）　珍珠（五分）其效更速。（咽喉痛用筆管吹入日三次夜二次更妙）</p>

<h3>牙疳痛</h3>
<p>蜒蝣（一條）用細夏布包之。揩在患處。二次效。又黃柏（末）　青苔（各一錢）　冰片（一分）研細擦。</p>

<h3>牙縫出血</h3>
<p>（一名牙宣又名牙衄）　</p>
<p>苦參（一兩）　枯礬（一錢）為末。日三揩之。愈。又枯礬敷擦。又童便溫熱。含之立止。又五倍子（燒存性）　研末敷之。又百草霜。（即鍋底下煤）敷之。又梧桐淚研細末。納縫中即止。又黃豆渣（即豆腐店中取過黃豆漿之渣黃豆為佳黑豆不可用）敷之立止。</p>

<h3>滿口牙齒出血</h3>
<p>馬糞燒存性。搽之立愈。</p>

<h3>牙齒稀疏</h3>
<p>爐甘石（煅研）　石膏（各等分）日日擦之。不可刷動。久則自密。</p>

<h3>牙關緊閉</h3>
<p>鹽梅擦牙上。涎出即開。</p>

<h3>齒折重生</h3>
<p>雄鼠脊骨為末。每日擦揩折處。一月內即生。又雌雄雞屎（各十五顆）焙研。入麝香（末一分）　先將牙根以針挑破。血出敷之。十日之間。即可重生。</p>

<h3>齒黃</h3>
<p>糯米糖燒取白灰。旦旦擦之。</p>

<h2>須</h2>

<h3>烏須法</h3>
<p>五倍子（一兩）　銅綠（三錢炒紅用醋淬之醋不宜多再炒再淬凡三次研碎）　青礬（二錢炒研）　生鹽（五分炒）　先將五倍子研碎。用銅鍋炒至出油成團。放地上攤冷。再將各藥研碎。用好燒酒調成麵糊樣。蒸至鏡面為度。不宜久蒸。先用皂角水洗須一次。又用茶洗一次。將藥乘熱濃染。俟乾用熱水洗去。其須光潤如漆。可保兩月不白。又落花生淨肉炒極焦黑。研極細。捻鬚一二日後。色黑如漆。又酸石榴結成時。就東南枝上揀大者一個。頂上開一孔。納水銀（五錢）於中。原皮封之。麻扎定。牛屎封護。待經霜摘下。傾出殼內水。用魚鰾籠指蘸水捻鬚。久久自黑。</p>

<h3>拔白還黑</h3>
<p>先將白鬚抉去。用豬膽塗孔中。即生黑鬚。或用白蠟點孔中。不再白也。</p>

<h2>腮頰</h2>

<h3>腮車熱腫</h3>
<p>赤小豆末和蜜塗之。或加芙蓉葉尤效。又老絲瓜燒存性研末。清水調塗。</p>

<h3>頰東開不能合</h3>
<p>皂角末吹鼻。嚏出即合。</p>

<h3>下頦脫落</h3>
<p>真烏梅搗融為餅。塞滿牙盡頭處。張口流涎。隨手掇上。或口含烏梅（一個）亦效。</p>

<h3>痄腮</h3>
<p>蔥煎水盡洗。即消。又赤小豆為末。醋調敷。又山梔（末）　飛面（各等分）　豬膽汁　好醋（各半）　薄調敷之。</p>

<h3>羊鬚瘡</h3>
<p>小紅棗（燒枯存性研末）　清油調敷。又諸藥不效者。以舊綿絮胎燒灰。麻油調塗。立愈。</p>

<h2>頸項</h2>

<h3>項軟</h3>
<p>五加皮為末。酒調敷頂骨上。干則再易濕者敷之。</p>

<h3>項強</h3>
<p>黑豆蒸熟。納袋中枕之。又生桃葉蒸熟。入袋中。著頭上熨之。又蓖麻葉搗敷效。</p>
<p>項後結核。或赤腫硬痛。　生山藥（一挺去皮）　蓖麻子（二個）同研貼之。神效。</p>

<h3>閃頸促腰</h3>
<p>真硼砂研粉。以燈心蘸點眼四角。淚出即松。連點三次。立愈。</p>

<h3>燕窩瘡</h3>
<p>（本名髮際瘡生頭枕骨下發盡處）　</p>
<p>銅燈盞內青垢刮下。研爛擦之。神效。</p>

<h3>對口瘡</h3>
<p>婦人頭上油垢（三錢）　黑背鯽魚（一個約一兩）　豬眼梢（一對）同搗爛。敷之。又象貝母研末。敷之。又雄豬眼梢肉（三錢）剁爛如泥。加滑石（末四錢）和勻。敷患處頂上。以膏藥蓋之。拔去僵肉。放出黃水即愈。</p>

<h3>瘰癧</h3>
<p>破琉璃燒灰。菜油調搽。神效。又蓖麻肉　嫩松香（等分）千錘攤貼。又蜈蚣（一條）瓦焙研末。油調敷。又用鉛（三兩）鐵器中熬久。當有腳如黑灰。取此灰和脂塗癧上。或用醋調塗。以舊帛貼之。數換舊帛。拭去惡汁又貼。如此半月許。不痛不破不作瘡。內消為水而愈。（並治痰核）</p>

<h2>咽喉</h2>

<h3>紫袍散治十八種喉風</h3>
<p>青黛（水飛）　石青　雄黃（各一兩）　膽礬（三錢）　人中白　硼砂　元明粉（各五錢）　黃連（二錢）　真冰片（五分）共為細末。瓷瓶收藏。勿泄氣。急時以二三分吹喉愈。</p>

<h3>單雙喉蛾</h3>
<p>（又名喉痹）　</p>
<p>生於咽喉關上者輕。關下者重。此症喉閉片時。即不可救。若男子從鼻梁中心尋至頂門。婦人則從後腦尋至頂上。小兒則看兩手虎口。如有水泡紅子。即用銀針挑穿。喉蛾即破。忌見燈火。一面用老蒜搗融。如蠶豆大。敷經渠穴。（在大指下手腕處寸脈後即是）男左女右。用蜆殼蓋上扎住。（用別物蓋亦可）片時起一水泡。銀針挑破。將水揩淨。以去毒氣。立刻安痊。再服甘桔湯（金銀花二錢甘草一錢桔梗八分牛蒡子錢半水煎服）以免後患。</p>
<p>無藥之處。不服亦可。此方屢試神效。又手指甲燒灰吹入。其蛾立破。或用燈草燒灰吹入。亦驗。又治走馬喉痹。喉蛾。氣絕者。用巴豆（一粒去皮）　麝香（一分）同研勻。以綿裹。隨所患左右塞鼻中。如左右俱有。用二枚左右俱塞。</p>

<h3>喉閉乳蛾</h3>
<p>雞肫皮勿洗。乾燒為末。用竹管吹之。立愈。又燕子窠泥　雄黃（等分）共研為末。以堆花燒酒調敷咽喉外兩旁。即愈。又喉間方覺脹滿起泡者。急以食鹽用搓手掌心。</p>
<p>鹽干後易新鹽搓之。數刻即消。又馬蘭汁嗽之。即愈。又土牛膝根生掘洗淨。忌鐵與油。須用指甲摘斷。入瓷碗中。滴入人乳和拌。用木槌搗爛。然後將碗坐熱水中。熬出藥汁。以茶匙挑藥汁。灌入鼻中。男左女右。片時腫消疾愈。神效。</p>

<h3>喉痹</h3>
<p>礬石（一兩）水三升。漬洗手足。又腫痛者。用芥子末水和敷喉下。干即易之。又腫塞不通者。用箬葉　燈草（等分）燒灰退火性吹之。</p>

<h3>喉腫難食</h3>
<p>韭一把搗熬敷之。冷則易。又薤根醋搗敷腫處。冷即易。又苦酒和黃柏末敷之。冷即易。又白麵和醋塗喉外腫處。</p>

<h3>咽喉卒塞</h3>
<p>無藥處以皂角末吹鼻取嚏。用李樹近根皮磨水塗喉外。良。</p>

<h3>纏喉風嘬口</h3>
<p>急用牽牛鼻繩。將穿鼻一段。燒存性吹之。甚效。又牙皂（一兩去皮弦）研末。醋調敷外頸上。干即易。極效。（並治乳蛾）又芒硝（一兩）白殭蠶（五錢）甘草（二錢五分）青黛（一錢）共研細末。每取二三分吹之。效。又蟢子窠（十餘個牆上者佳）瓦上焙取灰。加冰片（少許）吹喉。神效。（一方止用蟢子窠無冰片）又殭蠶（炒去絲嘴）　白礬（各二錢）共研細末。加冰片（少許）吹喉。</p>

<h3>急喉風</h3>
<p>巴豆（一粒）不拘何物包好塞鼻孔。男左女右。又巴豆（七粒）　細辛（八分）共研末。用綿裹。隨患左右塞鼻孔。雙蛾左右換塞。腫消去之。又年久尿壺垢。瓦上炙研細。吹入立愈。</p>

<h3>喉症開關方</h3>
<p>牙皂　巴豆共為末。米湯調刷紙上。曬乾作捻子。點火以煙燻鼻孔。立能開口。</p>
<p>鼻流涕涎。專治十八種喉閉。又頭髮　指甲各煅存性。紅紙捲筒。吹患處。（男右用女左指發男左用女右指發女左用男右指發女右用男左指發）</p>
<p>喉中結塊。不通水食。危急欲死。　膽礬銜口內。惡涎吐儘自愈。</p>

<h3>喉卒攻痛</h3>
<p>商陸根切炙熱。隔布熨之。冷即易。又搗艾敷之。</p>

<h3>忽然口不能言</h3>
<p>附子研末。吹入喉中即愈。</p>
<p>喉內生瘡。鼻孔亦爛。　若作喉風治立死。用白鹽梅（一個）燒存性。枯礬（一錢）　穿山甲（炙一錢）共為末。吹喉中神效。或用人中白散（見齒部）治之。</p>

<h3>喉癬</h3>
<p>刀豆殼燒灰。以二三釐吹之。立效。</p>

<h3>風火喉癬</h3>
<p>秋蝴蝶花根（二兩即射干秋間開黃花者是）洗淨搗爛。甜酒煎汁。含口中嗽三五次。吐出再換再嗽。可以除根。</p>
<p>煙筒傷喉。出血不止。　桂圓核去外面黑皮。惟取內核仁，焙搗為極細末。看喉中傷處。用筆管安末吹之。即定疼止血而愈。屢效。（並治刀傷出血）</p>

<h3>魚骨哽喉</h3>
<p>午日午時。韭地上面東不語。取蚯蚓糞泥藏之。圓如碎珠。粒粒成塊為妙。遇魚骨哽喉。用少許擦咽喉外皮即消。</p>

<h1>卷三</h1>

<h2>肩腋</h2>

<h3>擔肩癰癤</h3>
<p>（此惟擔夫有之）　</p>
<p>五倍子（燒存性）為細末。加黃丹。（用水飛過）醋調敷之。甚效。</p>

<h3>腋下狐臭</h3>
<p>鳳仙花不拘紅白。搗成大丸。挾腋下。待乾再換。每日易三四次。二三日內。腋下結有黑墜。以壙灰調水點去。永遠斷根。又伏龍肝作泥。敷之良。又煮雞子（兩枚）熟。去殼。乘熱各挾腋下。冷棄之三岔路口。勿反顧。三為之。又好礬石（煅研末）絹囊盛之。常以粉腋下。不過十度。又三年苦酒和石灰敷之。又蒸餅一個。劈作兩片。放密陀僧細末。（一二錢）急挾入腋下。略睡片時。候冷棄去。如系一腋狐臭。只用一片夾之。神效。　</p>
<p>又密陀僧　潮腦（各四兩）　枯白礬（二兩）　輕粉（三錢）共為細末。頻擦兩腋。擦至半月見效。不可間斷。半年愈。又薑汁頻塗。絕根。又麝香（一分）　膽礬（二分）　水粉（三分）　取田螺（二個）將靨起開。以各藥入螺中。過一夜。螺肉即化為水。將水擦腋下。其臭從大便出。宜埋土內。恐人聞則頭眩暈也。此方極效。勿輕視。</p>

<h3>腋下瘤癭</h3>
<p>長柄葫蘆燒存性。研末塗之。以消為度。</p>

<h2>手</h2>

<h3>灌甲初起</h3>
<p>用瓷鋒於甲上刨去一層。並用枯礬末敷之。神效。</p>

<h3>油灰指甲</h3>
<p>每日取鳳仙花連根蒂葉搗敷指甲上。用布包好。一日一換。月餘愈。</p>

<h3>指頭畏冷</h3>
<p>天氣不寒。指尖作冷。名曰螺瘡。用醋和鹽調勻。將指頭泡入。自愈。</p>

<h3>手丫枝痛</h3>
<p>痛苦無奈者。以通草屑為末。用雞子清調塗。即愈。（並治各手指縫生瘡腫爛）</p>

<h3>手指掣痛</h3>
<p>用醬清（即醬上汁水）和蜜。溫熱浸之。效。</p>

<h3>指頭麻木痛癢</h3>
<p>取蜒蝣和銀硃。共搗擦之。若遲延不治。必生蛇頭蛀節等疔。（蛇疔治法載疔瘡門）初起多擦幾遍。即消。</p>

<h3>指節生瘡</h3>
<p>名蛀節。用生黃豆嚼融敷。（須先嗽口再嚼）即愈。</p>

<h3>甲疽</h3>
<p>凡指甲邊。生一赤肉突出。時常舉發者。甲疽也。用狼毒（一錢）　黃耆（二兩）醋浸一宿。入豬油（五兩）微火上煎取二兩。絞去渣。退火氣敷之。日換三次。神效。又乳香膽礬（研細末）時時敷之。此症須剔去甲。不藥亦愈。若已成瘡久不愈者。此方甚效。又皂礬（五錢火煅候冷研末）先以鹽湯洗瘡拭乾。以礬末敷之。舊綢裹定一日一換。神效。</p>

<h3>脫骨疽</h3>
<p>此症生手足各指。（或云生手足第四指者是）或指頭。或指節。指縫。初生或白色。</p>
<p>痛極。或如粟米。起一黃泡。其皮或如煮熟紅棗。黑色不退。久則潰爛。節節脫落。延至手足背腐爛黑陷。痛不可忍。　頂大甘草（研極細末）　香麻油調敷。要敷極厚。一日一換。不可間斷。忌食發物。並忌抓擦。不出十日即愈。真神方也。或用甘草嚼融厚敷。干隨換。日夜不斷。數日必愈。</p>
<p>虎口並各手指縫生瘡。或腫或爛。痛不可忍。若不早治。即爛入手。　鮮蒲公英捶融敷之。數日即愈。又白芷　滑石　黃丹（各等分）研極細末敷之。（並治手指縫觸著紙角衣角痛癢破爛）又白芨（三錢研末）　蟾酥（一錢）共和雞子清搽之。</p>
<p>手掌連虎口邊腫毒。　豬肉臺上刮下木屑如膏。作餅貼患處。即愈。</p>
<p>手指及掌生黃白膿泡。痛癢無時。纏綿不已。內必有蟲。　豬肝切片。和桃葉捶融敷之。神效。</p>

<h3>拍蟹毒</h3>
<p>（即手大指食指間所生俗名丫指）　</p>
<p>用活蟹杵爛塗之。</p>
<p>沸瀋傷臂。皮盡蛻。　貓頭骨煅灰敷之效。</p>
<p>掌中紅絲斷之。血流不止。　用燈火燒之。自能漸收平愈。</p>
<p>熱毒攻手。腫痛欲脫。　豬油和羊糞塗之。又水煮馬糞洗之。</p>

<h3>代指</h3>
<p>山慈菇研末。醋調敷之。又豬膽和蚯蚓。搗爛塗之。又田螺生搗碎敷之。又蜒蝣蟲碾末。和醬搽一日愈。又取萎黃蔥葉煮汁。熱漬之。又蒲公英　蒼耳草（等分）為末。好醋煎濃。浸洗。又烏梅搗爛。和醋浸之。又甘草煎湯漬之。</p>

<h3>手背皴裂</h3>
<p>大風子搗泥塗之。</p>

<h3>手足皴裂</h3>
<p>大蘿蔔一個。雕空入柏油（五錢）安爐火上。燉熟候冷。取油擦患處。又白芨末水調塗之。</p>

<h3>手足皺裂</h3>
<p>生白果嚼爛。夜夜塗之。又豬腦髓入熱酒中以洗之。自瘥。</p>

<h3>手足凍瘡</h3>
<p>山藥一截。磨泥塗之。又老絲瓜燒存性。和臘月豬脂塗。又松香（一兩）　黃蠟（五錢）將火化和。帶熱塗患處。（作筒籠指頭並治代指）又鴿子糞煎濃。水洗數次。效。又冬瓜皮（五六兩）　茄根（數兩）　煎水洗之。自愈。</p>

<h3>手足腫</h3>
<p>搗苦菜敷之。良。</p>
<p>手足心腫（風也）　用花椒研末。和鹽醋封之。自愈。</p>

<h3>手足麻木</h3>
<p>桑枝並葉。煎湯浸洗。</p>
<p>手足心中。忽然腫起。或痛或不痛。或爛或不爛。名穿掌。又名擎疽。又名托盤。　生附子切片貼之。或用生附子煎水泡之。更妙。數日後不痛者。必然作痛作癢。切不可用手搔。仍用附子泡之。或附子切片加輕粉（一分）貼。必愈。又溏雞糞敷之。　鮮桑葉搗敷。數次可愈。永戒鵝肉。又未破者。用白鹽　花椒（末等分）醋和敷之。已破者勿用。</p>

<h3>手足生瘡久不收口</h3>
<p>取大路口多人撒尿木版。爛成白色者。以炭火煅化。研細末。加冰片（少許）摻之。效。</p>

<h3>手足被扤</h3>
<p>夜合樹皮。取咀煎。浴。</p>

<h3>手足軟疼</h3>
<p>吳茱萸（三兩）煎湯。熱洗三四次。避風即愈。</p>

<h3>手足火爛瘡</h3>
<p>梓葉煎湯洗。仍以葉為末。敷之。</p>
<p>兩臂彎。兩腿生瘡。痛癢。經久不愈。　多年風窗上蜊殼燒灰。以醃豬油同搗如泥塗之。經宿即愈。</p>

<h2>乳</h2>

<h3>乳頭破裂</h3>
<p>胭脂和蛤粉。用水調敷。又秋月冷茄子裂開者。（陰乾燒存性）研末。水調塗。</p>
<p>又丁香（末）敷。（如燥津唾調敷）</p>

<h3>乳頭硬腫</h3>
<p>生山藥不拘多少。搗爛敷之。又蓮蓬杆（一把或用荷葉杆）煎湯熏洗。又蚯蚓糞以陳醋調塗。</p>

<h3>乳癤初起</h3>
<p>巴豆（一粒）　細辛（一錢五分）上焙研。用稀絹包縛扎塞鼻孔。周時即消。又生半夏（一粒）塞鼻。生右乳塞左鼻。生左塞右。一宿即消。</p>
<p>乳核初起可散。久則成岩。　用蔥和蜜同遠志末敷。忌入口。又蚶子殼煅研末。醋調塗。又烏頭　桂心　甘草（各等分）研末。酒調敷。</p>
<p>乳中有塊。積久不消。　活鯽魚（一個）搗爛。去鱗骨。和老酒糟厚敷患處。一宿消。</p>

<h3>女子妒乳</h3>
<p>生蔓菁根搗。和鹽醋漿水煮汁。洗五六度。和雞子白封之。又柳白皮酒煮。令熱以熨上。即消。</p>

<h3>乳癰</h3>
<p>（紅腫疼痛者是男女皆有此症）　</p>
<p>白梅杵爛貼。佳。又地黃搗敷之。熱即易。又豆腐店棹上。做豆腐淋下之水一桶。入鍋熬幹成膏。冷透火氣。厚敷之。干即再敷。乳上結塊自消。五七次必愈。屢驗。又佛手　山藥搗敷患處。圍露出頭。次日即出膿消去。最驗。　</p>
<p>又蔥連根搗爛敷上。用瓦罐盛炭火。蓋蔥上。一時蒸熱。出汗即愈。穩而神效。（並治乳吹）又白麵（半斤）炒黃。醋煮糊。塗即消。又水柳根生擂貼之。其熱如火。二貼即愈。又大黃灶下黃土（各一分末）　生薑（二分）搗末。醋和塗。神效。</p>

<h3>乳癰多至二三百頭者</h3>
<p>柳樹根刮去皮。搗爛蒸熱。布包熨之。冷則隨換。過一宿即愈。</p>

<h3>乳癰久不收口</h3>
<p>茅屋上陳年茅草。剪尾一束研末。加頂上梅花冰片（少許）敷之良。又日久腫痛不愈者。用蝦醬入好醋蒸熱。敷之奇效。</p>

<h3>乳癰寒熱</h3>
<p>蔓菁根葉去土不見水。以鹽和搗塗之。熱即換。三五次即瘥。冬月用根。須避風。</p>

<h3>勒乳成癰</h3>
<p>益母草為末。水調塗乳上。（生搗罨之亦可）</p>
<p>乳癰竄爛。年久洞見內腑。深陷不愈者。取搖船櫓上首手捏處舊藤箍剪下。以陰陽瓦上熯乾研末。用竹管扎棚篩。日日摻之。干處以香油調搽。半月必愈。</p>
<p>乳頭生瘡。痛不可忍。　生鹿角（三分）　生甘草（一分）共研末。用雞蛋黃（一個）入藥攪勻。置銅器中。炙溫敷之。日二次即愈。神驗非常。</p>
<p>男女乳上濕瘡。膿血淋漓成片。痛癢不休。用蜂殼（煅五錢）　輕粉（五分）　冰片（一分）共研末。用銀花煎湯調塗。二三次結痂收功。</p>

<h3>乳瘡腫痛</h3>
<p>糯米飯塗之。又生蘿蔔連根帶泥搗爛敷。熱即易。二三次效。又胡麻炒焦研末。以燈窩內油腳調塗。即散。</p>
<p>婦人乳吹。時時吹氣有聲。硃砂寫地支十二字於本婦所戴簪上。惟本命所屬之字不寫。戴之自愈。初起時用之最妙。</p>

<h3>婦人乳忽縮入</h3>
<p>急用兩手緊緊抓住。取公雞一隻。約重十兩內外。連毛破開去腸雜。加真麝香（一錢）入雞肚內。覆肚臍上。即愈。</p>
<p>無子食乳。腫痛難消。　用本夫穿過包腳布。敷乳過夜。腫消痛止。或用本婦現穿之鞋。包乳上過夜亦消。</p>

<h2>胸</h2>

<h3>結胸</h3>
<p>用初出殼黃毛雞子（一隻）　生薑（四兩）共搗爛微炒。溫攤胸前結實之處。外用絹帛縛定。候半日覺腹中熱燥方解去。更以熱手揉之。</p>

<h3>龜胸</h3>
<p>龜尿時時擦之。久久自平。（置龜銅盆中以鏡對照龜見其形尿自出）</p>

<h3>胸旁生瘡</h3>
<p>凡大人小兒胸間兩旁。各生紅白瘰泡。濕爛疼癢。每處直長一條。連生十餘個不等。名簾珠倒掛。久則難治。諸藥不效。用端午日人家檐口所掛菖蒲。連根葉切碎。瓦上焙枯研末。香油調塗。五六次效。</p>
<p>胸背疼痛而悶。因風寒濕起者。用熨背法。　肉桂心　附子　羌活　烏頭　細辛　川椒（各一錢五分）　川芎（一錢）共為細末。以帛包之。微火炙令熱。以熨背上。取瘥止。</p>

<h2>心</h2>

<h3>心口生疽</h3>
<p>此名井泉疽。又名慢心銳毒。初起若心口內有塊漸大。心口發高。毒陷即死。醫皆束手。亦無藥治之。惟林屋山人秘方載一法。以本人兩手十指。以線量其長短。共有若干。積於一線。放喉管正中處。雙環至背脊之中。看兩線合攏盡頭處為中穴。又以本人中指之中一節。用竹片量准作一寸。放在中穴之左右。各遠一寸。各以墨記。分立三穴。如<img class="字" src="_files/001.svg" alt="￼">形。每穴用艾三團。一齊火灸。灸畢全愈。</p>

<h3>心窩成漏</h3>
<p>一人胸口一片碗大。無皮潰爛成漏。膿血時流。經久不愈。用荸薺磨粉摻之。數日即瘥。</p>

<h3>心痛危急症奇效方</h3>
<p>王瓜（一條）剖對開。去肉去子。填入明礬末。合住線縛。懸掛陰乾。待瓜皮上起白霜。刮下研細。藏瓷器封固。凡遇急症心痛欲死者。但口有微氣。將瓜霜點眼四角。立愈。</p>

<h3>心腹冷痛</h3>
<p>以布裹胡椒安痛處。用熨斗熨椒。令汗出即止。（並治屍蛀）</p>

<h3>心腹卒然脹痛</h3>
<p>急煮熱湯。（須百沸者）以漬手足。冷即易之。</p>

<h2>脅</h2>

<h3>治脅痛</h3>
<p>白芥子為末。水調敷痛處。又吳茱萸醋調敷。又青皮醋炒熨。又韭菜連根醋炒熨。又枳殼　小茴香鹽炒熨。</p>

<h3>兩脅脹痛</h3>
<p>炒鹽。布裹熨之。</p>

<h2>背</h2>

<h3>禦寒膏</h3>
<p>治背惡寒。及婦人產後風寒。手足厥冷至骨。又治腰痛。　生薑（半斤取自然汁）　入黃明膠（三兩）　乳香　沒藥（各一錢五分）銅杓內煎化。移在滾湯上燉。以柳條攪至成膏。又入川椒末（三錢）再攪勻。用皮紙攤貼患處。時以鞋底烘熨之。候五七日脫下。或起小泡。乃寒濕之氣外出也。</p>

<h3>背熱如火</h3>
<p>此虛火也。生附子研末。口水調敷兩足心。</p>

<h3>發背初起</h3>
<p>雞內金不落水者陰乾。用時溫水潤開貼之。隨干隨潤。以愈為度。如已潰。雞內金同綿絮焙末。搽。又生薑（一塊炭火炙）　一層刮一層為末。以豬膽汁調塗。又腫焮赤熱者。用浮萍搗和雞子清貼之。</p>

<h3>治發背</h3>
<p>取豬羊脂封之。（亦治髮乳）又人糞燒灰。醋和敷。干即易。又取白麵搜圍腫四畔。令童子七人尿漬之。又以馬糞封之。干即易。（亦治婦人髮乳）又鮮王瓜切片貼。周時換。若破爛。先用花椒湯洗淨貼。又苧根葉熟搗敷之。數易。效。又芭蕉根搗爛塗之。（並治一切腫毒赤遊風疹）又冬瓜截去頭。合瘡上。瓜爛截去再合。以愈為度。已潰者。合之亦能漸斂。又滴乳香（四兩箬包燒紅磚壓去油）　淨沒藥（四兩照上法去油）　鮮油血竭白色兒茶　上好銀硃　杭州定粉　上好黃丹（各四兩）　上銅綠（三錢）以上俱各另碾無聲。</p>
<p>篩極細末。共一處。臨時照患大小。用夾連四油紙一塊。以針多刺小孔。每張稱藥末五錢。用真正麻油調攤紙上。再用油紙一塊蓋上。周圍用線將二紙合縫一處。貼患上。用軟絹紮緊。自然止痛化腐生新。過三日。將膏揭開。濃煎蔥湯。將患上洗淨。軟絹拭乾。將膏藥翻過。</p>
<p>用針照前多刺小孔貼之。因藥甚貴。取其又得一面之藥力也。無火之人。內服十全大補湯。有火之人減去肉桂薑棗煎服。兼以飲食滋補。無不取效。至重者用膏二張。百無一失。（此方甚奇以千金得之用無不效）又治背疽（即潰如碗麵見五臟者亦治）　用大鯽魚（一枚）　去腸雜。以羯羊糞實其中。烘焙焦黑極乾燥。研為細末。干糝之。神效。又治背癰。用芝麻油（一斤）　黃丹（飛八兩）　宮粉（一兩）　槐枝（數寸）　頭髮（一團洗透）　鏽釘（五七個洗淨土）　銅綠（五錢）將油燒滾入釘。熬數滾。去釘。入槐枝熬枯去之。入發熬焦又去之。入丹粉銅綠熬成膏。置水中。隔夜取出貼之。其效如神。百無一失。</p>

<h2>腰</h2>

<h3>腰痛</h3>
<p>蕓薹子用米醋研塗敷痛處。又以黃狗皮裹腰痛處。取暖徹即定。又貼腰膏。用生薑（一斤取自然汁四兩）　水膠（一兩）同煎成膏。厚紙攤貼腰眼。甚效。又菊花　芫花　羊躑躅（各二升）　以醋拌令濕潤。分為兩劑。內二布囊中。蒸之如炊一斗米許。頃適寒溫。隔衣熨之。冷即易。熨痛處即瘥。又黑大豆一大碗。（一方作大豆六升）　水拌令濕。炒熱以布裹。隔一重衣。熨痛處。令暖氣徹。冷即易之。</p>

<h3>風冷寒痹腰痛</h3>
<p>川烏（三個）　生搗爛。少加鹽水。攤紙帛上。貼痛處。須臾止。塈腰有血。痛不可忍。桂心搗末。以苦酒和塗痛處。</p>

<h3>腰脊脹痛</h3>
<p>芥子末調酒貼之。立效。</p>

<h3>腰腎痛</h3>
<p>白檀磨水。塗患處。</p>

<h3>腰腿風濕冷痛</h3>
<p>吳茱萸（一茶杯研末）　以黃酒（一杯）拌勻。炒熱攤油紙上。敷患處。用布捆好。立時止痛。如冷再炒再敷。</p>

<h3>養元固本暖腰方</h3>
<p>廣木香　真川椒　大茴香（炒）　故紙　升麻（各一兩）　川附子（五錢）　蘄艾（半斤）　丁香（四錢）　上肉桂　川楝子（各一兩）　先將艾搓軟。次以各藥為末和勻。用綾絹做暖腰。入藥密行貼肉著。神妙。</p>

<h3>閃跌毆打腰痛三仙散</h3>
<p>羅裙帶葉（葉長二尺余花梗長二三尺不等花如龍爪四圍下垂又名龍爪花與金針花相似而略大顏色或紅或白）　杉樹皮　槐樹皮（各等分）　煎水熱洗。其渣搗融炒熱。布包敷之。冷則隨換。日夜不斷。有人閃跌傷腰。筋已結縮成團。多年不愈。以此敷洗。</p>
<p>筋即舒散。數次平復。又名生軍散。先以蔥白搗爛炒熱。將痛處擦遍。隨以生大黃研末。</p>
<p>薑汁調敷。蓋以粗紙。一日一換。儘量飲以好酒。三日即愈。年餘不痊者皆效。（並治閃跌內傷肩挑重物受傷初時不覺日久忽然疼痛浮面按之不痛或咳嗽牽扯作痛三五年不愈者用此亦效）又真硼砂研極細末。用燈心點眼四角。淚出即松。連點三次全愈。</p>

<h3>纏蛇丹毒</h3>
<p>糯米粉和鹽塗之。又刺鱔魚尾血同蜒蝣搗塗。又用織機上草辮。（以陳為妙）</p>
<p>燒存性。麻油調搽。又舊傘紙燒存性。香油調敷。又繫腰帶煅存性。研細和好醬塗。或加水龍骨和柿漆水塗。</p>

<h2>肚腹</h2>

<h3>腹痛</h3>
<p>驟然急痛。不知何症。只用鹽微炒熱。以布包鹽熱熨痛處即止。（並治肝胃氣及胃脘腹中脹痛）又羌活（一兩）　蔥白（十根）　老薑（二兩）　麥面和。炒熱用布包裹熨腹。冷再炒熨。又以痧藥搐鼻。</p>
<p>寒火相結。小腹疼痛。（俗名陰寒）　枯白礬（一大塊）　棗肉（一大個）　連須蔥白（三段）　胡椒（按病人歲數一歲一粒）共研末。用男孩所吃之乳合一處。共搗為丸。安放肚臍上。一炷香時痛止。忌食生冷。</p>

<h3>寒症腹痛</h3>
<p>或炒蔥姜熨之。或炒鹽熨之。或用熱灰熨之。或用滾水一壺隔布熨之。均止痛妙法也。</p>

<h3>熱症腹痛</h3>
<p>用銅鐵冷物熨之。</p>

<h3>蟲疾腹痛</h3>
<p>如有塊硬起者。用手在硬處。久久揉擦至一日。其蟲即死。從大便出。或查痞疾各方治之。又川楝肉酒浸。綿裹塞肛門。小兒用煨大蒜塞。</p>
<p>屍柱腹痛。脹急不得喘息。上攻心胸。旁攻兩脅痛。或瘰塊湧起。　煮商陸根囊盛。更互熨之。取效。又取屋四角茅。納銅器中。以三尺布覆腹著器。布上燒茅令熱。隨痛追逐。蹠下癢便瘥。若瓦屋。削四角柱燒用之。</p>
<p>因色欲致手足冷。臍腹痛。　用胡椒（十五粒）　</p>
<p>丁香（十粒）　黃丹（一錢）　生白礬（三錢）共研末。醋調塗臍中。被蓋出汗愈。又炒蔥熱貼臍中。冷則易之。</p>

<h3>忽然肚黑</h3>
<p>鉛粉和鹽炒焦。敷之立效。</p>
<p>肚腹脹大。亮如水晶。　取癩蝦蟆六隻。將四足扎住。以蝦蟆肚皮。在病人肚腹光亮之處。輕輕摩擦幾次。再取一蟆。照前復摩。用至六隻即愈。但蝦蟆眉內有蟾酥。須防其迸出射人傷眼。宜用綢帕遮住病人兩眼。（蝦蟆用過後即放水中使吐毒氣以救其命至要）</p>
<p>氣滯腹脹。手背腳膝疼痛。　大麥醋糟炒熱。布裹熨之。三兩換愈。</p>

<h3>臍中出水</h3>
<p>龍骨醋泡焙枯。研末敷。又龍骨　枯礬（等分）為末。摻之即止。又赤石脂研細末敷。</p>

<h2>遺濁</h2>

<h3>夢遺</h3>
<p>紫花地丁草搗為膏。貼臍立止。又用闊布帶。將膝彎一隻。或左或右。扣絆項上。</p>
<p>令腳屈。睡醒解伸。左右更換。屈伸而睡。自止。又五倍子（一兩二錢）醋調為丸。如大黑豆樣。點燈後。用一丸填臍內。以小膏藥蓋上。（不拘何項膏藥均可）日間取下亦可。每夜換一丸。近十日。盡料全愈。</p>

<h3>遺精</h3>
<p>文蛤研細末。以女兒津調貼臍內。立止。又陰莖泄。用紅杷子（即南天竹子）燒存性（一錢）　加冰片（五釐）　麻油和塗。</p>

<h3>赤白濁</h3>
<p>椿根白皮（三兩）　乾薑　白芍　黃柏（各一兩）　麻油熬黃丹收。攤貼。又在浴堂中。不使人知。出一小便。可愈淋濁。</p>
<p>治男子精寒痿弱。白濁遺精。女子子宮虛冷。赤白帶下。亦治寒瀉。　倭硫黃（六錢）　母丁香（五錢）　麝香（一錢）　獨蒜丸如豆大。硃砂為衣。每用一丸納臍眼上。貼紅緞膏。　紅緞膏方　川椒（三兩）　韭菜子　蛇床子　附子　肉桂（各一兩）　獨蒜（一斤）　真香油（二斤）浸藥熬黃丹收。攤貼。</p>

<h2>淋症</h2>

<h3>治石淋沙淋妙方</h3>
<p>白豆蔻（連殼）　砂仁（去殼）　白胡椒　真川椒（不真不效）各等分。共研末。每用一二錢。入小布袋內。以好汾酒（頂上燒酒亦可）燉滾。乘熱衝入布袋。套上陽頭。蓋衣熏之。藥冷再衝滾酒再熏。一日數次。三日必愈。熏後陽物及腎囊。稍覺辣疼。熱水洗淨自安。（一切淋症屬虛者並小便不通皆治）</p>

<h3>氣淋</h3>
<p>臍中著鹽。灸三壯。又熬鹽熱。熨小腹。冷復易。（亦治小便血）</p>

<h3>石淋</h3>
<p>（又名沙淋）　</p>
<p>瓦松煎濃。乘熱熏洗小腹。約兩時即通。又地榆煎浴腰腹。又生蔥頭同生鹽搗融。敷肚臍上。其砂自出。</p>

<h3>血淋</h3>
<p>麻根　發灰　車前子　地骨皮煎湯洗。</p>

<h3>冷淋</h3>
<p>寒戰後溲。用胡椒煎湯浴腰腹。</p>

<h3>急淋陰腫</h3>
<p>泥蔥（半斤）煨熱。杵爛貼臍上。</p>

<h2>前陰</h2>
<p>男女交感樂極。精脫而死。　用人抱起坐之。以人之口氣呵其口。又恐不能入喉。急以筆管通其兩頭。入病人喉內。使女子呵之。不必皆妻妾也。凡婦人皆可盡力呵之。雖死去亦生。</p>

<h3>陽痿</h3>
<p>蛇床子煎濃湯浸洗。又新鳳仙花子（又名急性子研末三錢）　鴉片煙（二錢）　蟾酥（八分）　真麝香（二分須於做丸時加入）共為一大丸。外用蔥白捶爛包裹。再加紙一二層。用水泡濕。放炭火中煨熱。換紙再煨。煨至七次去蔥紙。將藥改為小丸。如綠豆大。每於將睡先一二時。取二丸。用酒化開。敷陽頭上半時。俟陽物舉起。將藥洗去。然後行事。堅而且久。並能種子。其效如神。又大附子（一個重一兩五六錢者）　鴉片煙（五分）　硫黃末（二錢）</p>
<p>穿山甲（二片炙黃研末）將附子挖空。以各藥納入。用好酒半斤和附子。用文武火煮乾。取出搗爛如膏。先用麝香（三釐）放臍眼內。再將此膏貼上。應驗無比。</p>
<p>癆病火動。陽物易舉。　皮硝放手心內。兩手合住。其硝自化。陽物即不舉矣。以燒酒和泥敷陰毛上。陽物即復舉。總之陽舉。即相火妄動。其病難愈。必致貪色亡身。不如不舉。安心靜養為妙。保身惜命者。宜加意焉。</p>

<h3>陽物被捆腫大</h3>
<p>一小兒被人用頭髮繫住龜頭。少時氣閉腫大。無法可解。後將小兒坐冷水中。即刻縮小。去發而愈。</p>
<p>飛絲纏繞陽物。腫痛不已。　威靈仙（二兩）煎濃汁泡洗。</p>

<h3>陰頭生瘡</h3>
<p>（名下疳）　</p>
<p>鱉甲燒灰敷。（百藥不效用此如神）又五倍子研末。絲瓜搗爛包敷。雖腐爛不堪。亦效。又爐甘石（一兩火煅醋淬再煅再淬五次）　兒茶（三錢）共研末。香油調敷。又先用甘草　銀花　蔥頭煎湯洗淨。用生橄欖核（一個無則以鹽橄欖核煮淨鹽味代之）</p>
<p>燒存性加頂上梅花冰片（一分）共為細末。麻油調塗。雖臭爛不堪。敷之即效。又白蜜調生甘草末塗。（或用蜜煎甘草塗之）又螣黃磨油搽之。又鰣魚鱗焙乾。煅研白色。名白龍丹。敷之即愈。又土牆上白螺螄殼（煅存性一錢）　五倍子（燒灰二分）　燈草灰　黃柏灰　兒茶（各五分）　輕粉（四分）　牛黃　冰片（各五釐）上為細末。先用皮硝湯洗。次用土茯苓湯洗。後將藥敷患處。又大紅絨（一錢）　冰片（三分）　鐵鏽（一分）　鳳凰衣（五分煅存性）　血竭（一錢）共研極細末。敷患處效。又下疳陰癢。用生甘草煎濃湯。久久熏洗。外以海螵蛸去甲研末摻之。立效。</p>

<h3>瀉燭疳</h3>
<p>（半邊溜爛者是又名蠟燭瀉）　</p>
<p>從內爛出者。將人腳跟上老皮（不拘多少瓦上焙脆為末）黃柏（末）用豬膽汁拌。曬乾再研。摻患處。烏金紙包頭。又蜒蝣　雄黃（各三錢）同研敷。</p>

<h3>龜頭腫痛</h3>
<p>兒茶　冰片（研細各三分）　甘草水洗後搽。</p>

<h3>玉莖濕癢</h3>
<p>肥皂（一個）燒存性。香油調塗。</p>

<h3>陰囊腫痛</h3>
<p>煨蔥入鹽。杵爛塗。又以醋和麵塗之。或炙令熱熨之。又釜月下土。以雞子白和敷之。效。又蔥白　乳香搗塗。即時痛止腫消。又陰腫核痛。人所不能治者。蔓菁根搗爛敷之。</p>

<h3>陰腫如斗</h3>
<p>取莧菜根搗敷之。又搗馬鞭草敷之。又痛甚者。雄黃　甘草（各一兩）　白礬（二兩）共為細末。每用一兩。滾水五升。煎至三升。沖和。洗患處良久。再暖洗至冷。候汗出即瘥。（並治疝疼腎子疼）又腫痛如燈籠者。灶口黃土　蒼朮（炒）　牡蠣（煅各等分）為末。用紗作袋撲之。</p>

<h3>腎子腫痛</h3>
<p>牛屎燒灰。酒和敷之即愈。勿令病人知。</p>

<h3>腎子偏墜作痛</h3>
<p>（熱而睪丸舒縱也）　大黃和醋塗之。又棉花子煮湯入甕。將腎囊坐入甕口。俟湯冷止。一二次散其冷氣。即效。（並治陰囊腫大潮濕）</p>

<h3>繡球風</h3>
<p>五倍子　松蘿茶（各五錢）為末。茶調敷。又杉木焙灰。熟雞子黃炒油調搽。</p>
<p>陰囊腫如水晶。腎子腫大潮濕。　灶心土（三升）研碎炒熱。鋪凳上。再以川椒小茴香（各一兩）研末。撒在上面。將陰囊熏燙。冷則再炒。三次愈。</p>
<p>陰囊忽然腫大。多因坐地所受風濕。或蟲蟻吹著所致。　蟬蛻（五錢）水煎洗腫處。二三次即愈。又雄黃　枯礬茶調敷。隨敷隨效。</p>
<p>腎勞熱。陰囊生瘡。　麻黃根　石硫黃（研各三兩）　米粉（五合）　上共搗研。如常用粉法。拓患處。粉濕更拓之。</p>

<h3>陰囊生瘡</h3>
<p>花椒（七粒）　蔥頭（七個）煎濃湯洗之。又綠豆粉　蚯蚓糞（等分）研塗之。</p>

<h3>陰瘡爛痛</h3>
<p>杏仁燒黑。研成膏。頻敷。</p>

<h3>陰癢生瘡</h3>
<p>胡麻嚼爛敷之。又煮桃皮和黍米汁洗之。又爛煮黃柏洗之。又用白蜜塗之。</p>
<p>又黃連　黃柏（各等分）為末。先煮肥豬肉湯洗之。然後以藥敷。</p>
<p>陰囊爛盡。止留二子者。　鳳仙花子　甘草（等分）為末。麻油調敷。即便生肉。</p>

<h3>陰囊油濕</h3>
<p>以飯湯洗之。後用六一散。（數錢）加冰片（一分）搽之。二次即愈。</p>

<h3>陰囊濕癢</h3>
<p>麩炭　紫蘇葉共為末。撲之。又荷葉（三個）　吳茱萸（三錢）煎湯洗之。又地骨皮（二兩）　吳茱萸（五錢）煎湯。久久熏洗。三五次愈。</p>

<h3>陰下濕癢</h3>
<p>槐白皮（炒）煎水日洗。又蒲黃末敷。數次愈。又礬石（熬令汁盡）　蛇床子　黃連（各三分）　為末。盛疏布袋中。撲患處。</p>

<h3>腎風陰癢</h3>
<p>以稻草燒皂角。煙燻十餘次即止。</p>

<h3>腎囊癢</h3>
<p>乾者用油核桃研油潤之。濕者用爐甘石灰蛤粉末摻之。又幹荷葉摘碎。以口水潤軟。貼癢處。立效。又艾葉　蘇葉　明礬（各三錢）煎水洗之。</p>

<h3>陰奇癢難忍</h3>
<p>用青夏布舊蚊帳燒存性。麻油調搽。即愈。（並治走遊風）</p>
<p>各種疝氣初起。寒熱疼痛。如欲成囊癰者。　新鮮地骨皮　生薑（各四兩）共搗如泥。以絹包於囊上。其癢異常。一夕即消。永不再發。</p>

<h3>濕疝陰丸作痛</h3>
<p>蘄艾　紫蘇葉（烘）　川椒（炒熱各三兩）　上三味拌勻。乘熱絹袋盛。夾囊下。勿泄氣。</p>

<h3>疝氣偏墜</h3>
<p>用肥薑切片。鋪湊板上。上堆蘄艾一尖。點火燒之。候將完。即乘熱帶火連姜並艾搗極爛。將鮮菜葉一大片。放手掌內。即以姜艾攤勻菜葉上。用手向腎囊底下托之。初時其冷如冰。須臾滾熱。通身出汗而愈。又牡蠣（煅）　良薑共為末。用津唾調塗之。立消。</p>
<p>又苦楮樹葉（半斤）煮滾放壇內。先熏後洗。每日數次。甚效。又大茴香炒熱。作兩布包。更換熨之。又生石菖蒲　柑子葉　京茴香（各一錢）　搗極融爛。置酒壺內。加開水一碗。將壺入鍋內。隔水燙滾。於患處隔衣頻頻熨之。止痛如神。又蓖麻子（七粒）和飯搗為丸。敷腳心。左痛敷左。右痛敷右。雙痛雙敷。又凡患偏墜。如服荔枝核小茴香等藥不效者。此熱症也。取芙蓉花根（要丹心者）用皮搗極融爛。加大黃末敷患處。二三日必愈。</p>

<h3>小腸氣</h3>
<p>川楝子　吳茱萸　小茴香共研末。用飛面（一合）和藥盛注於紅色綢肚兜內。束小腹上。藥末易於垂下。須細針密線橫切為妙。</p>

<h3>蚯蚓呵腎</h3>
<p>鹽水湯溫洗。數次即愈。</p>

<h3>腎莖肛門搔癢</h3>
<p>陳葫蘆燒存性。研細末撲之效。</p>

<h3>陰毛生八腳蝨</h3>
<p>白果嚼融擦之。又桃仁嚼融擦之。</p>

<h3>房勞陰毒</h3>
<p>胡椒（七粒）　蔥心（二寸半）　麝香（一分）搗爛。以黃蠟溶和。做成條子。插入陰內。少頃汗出即愈。</p>

<h3>便毒腫痛</h3>
<p>初起時以肥皂搗爛。敷之甚效。又生菖蒲根搗敷之。又皂角（炒焦）　水粉（炒等分）　碾末。以熱醋攤貼患處。頻以水潤之。即效。</p>

<h3>魚口</h3>
<p>（生左胯名魚口右胯名便毒）　</p>
<p>初起未成膿者。以五倍子（炒黃研末）　入百草霜（等分）　以醋調塗患處。一日一夜。即消。</p>

<h3>魚口便毒</h3>
<p>初起便如小核桃。用瓦松花搗濃汁敷上即效。或焙乾為末。以雞子清調敷。不出膿自效。</p>

<h2>後陰</h2>

<h3>大腸脫肛不收</h3>
<p>蝸牛（瓦上焙枯研末一兩桑樹蝸牛更好）豬油調敷。立效。又甲魚頭焙枯研末。麻油調敷。或以紙托患處。又大螺螄（一個）入頂上梅花冰片（一分）即時水出。敷之神效。又赤石脂　伏龍肝　枯礬共為末敷之。又熬石灰令熱。布裹熨之。隨按令入。冷即易。又蟬蛻末。菜油調敷。立效。又魚腥草（即蕺草三兩）擂如泥。先以朴硝水洗肛瘡。</p>
<p>用芭蕉葉盛藥坐之自入。又豬脂（一兩）　煉去渣。入蒲黃末（一兩）調勻。塗肛即縮。又苧麻根搗爛。煎湯熏洗。又胡荽切一升。燒煙燻之即入。又名縮肛散。鱉頭（一個煅）　枯礬（三分）　五倍子（三分煅）共研極細末摻之。又名倍礬煎。五倍子（三錢）　白礬（少許）共為末。水一碗。煎湯洗之。立效。若婦人產後脫肛五倍子末摻之。</p>

<h3>小兒脫肛</h3>
<p>凡小兒脫肛不收。久則堅硬難入。用連須蔥（斤許）煎湯入桶內。坐上乘熱熏之。隨後慢慢洗軟。再照以上各方。用藥敷之即上。</p>

<h3>肛門忽腫</h3>
<p>（此肺胃濕熱下注也）　</p>
<p>帶殼蜒蝣（十數個即蝸牛）搗爛塗之即消。</p>

<h3>肛門腫痛</h3>
<p>馬齒莧葉　酸漿草（等分）煎湯。熏洗。一日一次效。（並治臟毒）</p>

<h3>下部蟲䘌</h3>
<p>梅葉　桃葉一斛。杵爛蒸熱。納小器中。隔布坐蒸之。蟲盡死。又杏仁杵膏頻敷。又蟲癢者。蒸大棗取膏。以水銀和捻。長三寸。以綿裹。夜納下部中。明日蟲皆出。下部卒痛。如鳥啄之狀。　赤豆　大豆（各一升）　蒸熱。作二囊。更互坐之即止。</p>

<h3>下部疳瘡</h3>
<p>生白果杵塗之。</p>

<h3>肛門生瘡</h3>
<p>雞肫皮燒灰研末。候冷乾摻之。自愈。</p>

<h3>肛門鼠瘻</h3>
<p>蜘蛛絲纏之即落。又蜣螂燒末。醋和敷之。又未成膿者。以柏葉搗塗。熬鹽熨之即消。</p>
<p>臟毒（肛門突腫大便秘結肚腹不寬小水不利）　木鱉肉（五個）研如泥。安盆內。以沸湯沖洗。另用木鱉研成泥。少許塗患處。效。又象糞煎水。先熏後洗。（並治痔瘡腫痛）</p>

<h3>治五痔方</h3>
<p>取桃根煮洗之。又取槐根煮洗之。又十年者。塗熊膽取瘥止。一切方皆不及此。神效。又桃葉（一斛）　細糠　胡麻（各一斗熬）　上三味。合蒸之。取細糠熟為度。納小口甕中。將肛門坐桃葉氣熏入。蟲盡出。甚效。</p>

<h3>治痔方</h3>
<p>生槐皮（十兩）　削去黑皮搗熟。丸如彈子大。綿裹納下部中。大效。又鯉魚腸（三具）以火炙令香。用綿裹納下部中。一食頃蟲當出。魚腸數數易之。盡數枚當瘥。又鳳尾草熬水洗之。又以肥大棗（一枚）　剝去赤皮。取水銀掌中。以唾研。令極熟。塗棗瓤上。納下部中。瘥。又冬瓜煎湯洗之。又皮硝（五錢）　入小便壺內。開水衝出熏洗之。</p>
<p>又鬱金為末。水調敷之。又芥菜末搗餅。頻坐之。又胡黃連末。用鵝膽汁調敷。又木槿根煎湯。先熏後洗。又五倍子（三個）　皮硝（一撮）　水二碗煎濃。先熏後洗。一二次即愈。又枯痔法。紅礬（五釐）　蠍梢（七個）　白明礬（五錢）共入銀罐內。文火煅末。入硃砂（四分）　冰片（五釐）同研。真麻油調塗。十八日瘳。此方乃專門醫痔者所不樂聞也。</p>
<p>內痔　內痔落下。用大甲魚頭（一個）煅為末。塗痔上。即刻收進。甚效。又內痔不出。以草烏為末。口水調點肛門。痔即拔出。乃可用藥敷治。又蜒蝣蟲（七個）　銀硃（細末一兩）入罐封口。放陰處七日。啟視化為水。以濕朱搽患處。久搽自愈。</p>

<h3>腸痔</h3>
<p>以穀子燒末敷之。深者導之。又搗槐白皮作屑粉以導之。又以蘩蔞燒灰。礬石熬和為粉。粉之。又腸痔出血者。蔥白三斤。煎湯熏洗立效。</p>

<h3>止痔下血</h3>
<p>蜒蝣（一條）　用鹽泥裹煨通紅。去泥。用硼砂　硃砂　雄黃　冰片共為極細末。</p>
<p>入龍骨（少許）更妙。大便時。乘其脫出。以細草紙盛藥少許。托之使入。大效。</p>

<h3>痔痛難忍</h3>
<p>蝦蟆頭陰乾燒煙燻之。奇效。又蜒蝣搗爛和陳墨敷之。極效。</p>

<h3>痔漏腫痛</h3>
<p>隔年風乾橙子。於桶內燒煙燻之。又先以木鱉子煎洗。旋以蔥涎和蜜敷之。其冷如冰。即愈。</p>

<h3>痔癢痛如蟲齧</h3>
<p>菟絲子熬令黃黑末。以雞子黃和塗之。又蝟皮燒灰敷之。又杏仁熬令黑。搗膏塗之。</p>

<h3>翻花痔</h3>
<p>木瓜為末。鱔魚涎調貼之。紙護。</p>

<h3>坐板瘡疥</h3>
<p>初起者用芫花　川椒　黃柏煎水洗。即消。又絲瓜皮焙乾為末。燒酒調搽。　</p>
<p>又海螵蛸（五錢）　雷公藤（三錢）共為細末。擦之。干則以菜油調敷。</p>
<p>懸癰（即騎馬癰）　紡車上弦線燒灰。麻油調敷。已潰者乾摻。亦效。又雄黃（二錢）　密陀僧（一錢）研細末。水調敷。</p>

<h3>下部濕瘡</h3>
<p>馬齒莧（四兩）研爛。入青黛（一兩）和塗。</p>

<h2>二便</h2>

<h3>大小便閉塞不通</h3>
<p>以病人坐桶上。燒皂角煙燻自通。又雄鼠糞（兩頭尖者是）研末。納臍中。又獨頭蒜去皮。綿裹納下部。氣立通。又全蔥（一斤不洗）　生薑（一塊）　淡豆豉（念粒）　加鹽（一匙）共搗爛作餅烘熱。扎臍上。久之氣透自通。又食鹽炒熱候冷。填臍中。</p>
<p>艾灸七壯。立通。又男女大小便不通。危在頃刻者。用田螺（十個）　蔥白（七根）　麝香（五分）　輕粉（一分）共搗成泥。敷臍上。隔布數層。以熨斗熨之。立效。</p>

<h3>大小便熱結不通</h3>
<p>大田螺（二個）搗爛。加青鹽（三分）　貼臍下一寸三分。即通。</p>

<h3>大便不通</h3>
<p>用麝香包肚臍內。一二時即通。又生薑削長一寸。塗鹽納下部。即通。又豬膽汁灌入肛門即通。（加好醋少許治大便熱閉更妙）又甜瓜蒂（七枚）研末。綿裹塞下部即通。又氣奔欲死者。烏梅（十個）湯浸去核。丸如棗大納下部。少時即通。</p>

<h3>大便虛閉</h3>
<p>張仲景傷寒論云。陽明病自汗。小便反利。大便不通者。津液內竭也。用蜜（二合）銅器中微火煎之。乘熱捻作條。（或以好蜜煎膏滴冷水中即硬為度）大如指。長寸半許。候冷塗油納糞門中。少頃即通。或加麝香　細辛　皂角末和勻。捻成條。浸冷水中候硬。推入穀道。凡年老氣衰。婦人新產。及久病之後。下不可。不下不可。則宜用此。其效甚速。（並治大便熱閉）</p>
<p>小便不通（此症寒熱虛實不同治無一定每用一方俟過一二時不效方可另治不得性急亂投自誤）豬尿脬（一個）用鵝毛管插入尿脬孔內。線扎定。用口吹氣脹滿。以手按住管口。將管口插入小便孔上。用手捻氣。透入孔內。小便即出。諸藥不效者。此法最妙。婦人更效。又甘遂末。水調敷臍下一寸三分。內以甘草梢煎湯飲之。又韭白煎濃汁。洗臍下一寸三分即通。</p>
<p>又萵苣菜搗敷臍下。一二時即通。神效。又豬膽（一個）留汁。以陽物插入膽中。少傾汁入自通。婦人以膽汁滴入陰中。又苧根洗淨。搗攤絹上。貼小腹連陰際須臾。即通。又皂角　蔥頭　王不留行（各數兩）　煎湯一盆。坐浸其中。熏洗小腹下體。久之熱氣內達。即通。又白鳳仙花連根葉熬水。乘熱洗腎囊陽物及兩胯內。即通。又黃酒浸腳。又蓖麻仁（三粒）研細。入紙捻內插入莖中。即通。又半夏末加麝香（少許）填臍中。用蔥白　田螺二味搗成餅。封臍上。以布捆定。下以皂角燒煙。熏入陰中自通。婦女用皂角煎湯。洗陰戶內。又蝸牛搗貼臍下一寸三分。以手摩之。加麝香（少許）更妙。又熱結不通。刮滑石屑水和塗少腹。及繞陰際。干復塗之。又遍身水腫欲死者。以青布十七層貼臍下。用滾燒酒一大壺熨之。</p>

<h3>小便閉脹</h3>
<p>蔥白（三斤）　銼炒。帕包二個。更互熨小腹。</p>

<h3>老年小便閉塞</h3>
<p>上肉桂（五錢）為末。納入臍內。以蔥和麵。作餅蓋之紮好。小便立通。</p>

<h3>小便轉脬</h3>
<p>蔥管吹鹽入玉莖內。甚效。又布包蒲黃。裹腰背。令頭至地。數次取通。</p>

<h3>小便出血</h3>
<p>萵苣菜搗敷臍上。</p>
<p>腫毒未潰。小便不通。　用蔥切。入麻油煎至黑色。去蔥取油。時塗腫處即通。</p>

<h2>足</h2>

<h3>腳氣腫痛</h3>
<p>白礬（二兩）　地漿水（一大碗於淨土地上掘二三尺深用新汲水傾入攪濁少俟澄定取半清半濁者吹去浮沫用）　新杉木（三四片）　煎六七滾。用杉木桶（新者更佳）　盛一半浸腳。留一半徐徐添入。上用衣被圍身。使略有微汗。洗完。隨飲薄粥。如一次未愈。再洗一次。照前方加硫黃（三錢）無不愈矣。又以鹽搽痛處。少時用熱水洗之。神效。又用紫荊莖於壇中燒煙。熏湧泉穴及痛處。使汗出愈。又皂角　赤小豆為末。酒醋調貼腫處。又水煮杉木（或用杉木刨花）浸。捋腳去腫滿甚驗。又白芷　芥子（等分）為末。薑汁和塗之。</p>
<p>又取蓖麻葉蒸裹。日三易。即瘥。</p>

<h3>腳氣走疼</h3>
<p>蘿蔔煎湯洗之。仍以蘿蔔乾為末。鋪襪內。</p>

<h3>腳氣腿脛紅腫</h3>
<p>枸杞葉　鳳仙花葉共煎濃湯熏洗。並生搗融敷。又大田螺搗爛敷之。（並治腳氣上衝）</p>

<h3>腳膝浮腫</h3>
<p>荷葉心　藁本（等分）煎湯淋洗。</p>

<h3>腳筋攣痛</h3>
<p>木瓜數枚。酒水各半煮爛搗膏。乘熱敷痛處。綿裹之。冷即換。日三五度。</p>

<h3>足上轉筋</h3>
<p>肝血虛煩所致。治有三捷法。一則手拔玉莖。婦女則手拔乳根。二則腳踏實地。</p>
<p>三則口唸木瓜。又黃蠟（半斤）融化。攤舊綢上。隨患大小。乘熱纏腳。須當腳心。便著襪裹之。冷則隨換。並貼兩手心。又以舊綿浸醋中。甑蒸熱裹之。冷即易勿停。取瘥止。</p>

<h3>腿足麻木</h3>
<p>用木瓜（一個）　黃豆（半升）　地骨皮　透骨草　艾葉　川椒　槐條（各二兩）　煎湯熏洗最效。</p>

<h3>老人腿腳疼痛</h3>
<p>燒酒糟初出時。乘熱將腿足插入。熏浴數次即止。</p>

<h3>赤遊風腳腿紅腫</h3>
<p>芭蕉根搗爛。塗之效。</p>

<h3>流火</h3>
<p>鮮紫蘇　鮮鳳仙花二味洗淨。連根葉搗爛。故木盆內。以滾水衝入。將腳架盆上。熏至可洗。以軟綿洗之。立愈。數十年者。不過三四次不發矣。又夏枯草（一斤）　水二碗煎。放甕內熏之。又馬前子磨水塗。二次止痛而愈。</p>

<h3>膝上生癰</h3>
<p>（名牛頭癰）　</p>
<p>連須蔥頭（二三兩）　切碎。用糯米飯乘熱拌敷。重者五六次。亦消而愈。</p>

<h3>臁瘡</h3>
<p>棉花子炒脆。取末。填滿瘡內。紮好。不可開看。自然收功。雖三年貼骨之瘡。亦驗過。又蒜杆燒灰。香油調塗。又人乳　桐油（等分）和勻。以鵝毛掃塗。又豆腐渣炒熱敷。冷即更換。以愈為度。又木耳瓦上焙枯。研末敷。又名夾紙膏。樟腦（三錢）　銅綠（一錢）用豬板油和藥搗爛。以油紙夾之。貼患處一二日。翻轉貼三四日。膿盡而愈。如四日後。膿尚未盡。再換一紙即效。</p>

<h3>爛腿</h3>
<p>水龍骨研碎。桐油調敷。又黃丹（三錢）　白芷（焙五錢）　研末。用麻油調勻。攤油紙上。雙摺將針刺細孔。貼患處。兩頭只用帶拴住。使得透氣。一日一換。效。</p>

<h3>寒濕腳痛</h3>
<p>川椒（一兩）　蔥（一把）　姜（三兩）　水數碗煎湯熏洗。腫消痛止。</p>

<h3>兩足痛如刀割</h3>
<p>先用生薑切片。蘸香油擦痛處。隨用生薑。火燒熟搗爛。敷患處。其痛立止。</p>

<h3>脫疽</h3>
<p>此症生於腳趾。漸上至膝。色黑內痛不可忍。逐節脫落而死。亦有發於手者。用土蜂窠研細。醋調搽。應手而愈。真神方也。</p>

<h3>腳丫奇癢難受</h3>
<p>用硫黃擦之。擦後再用硫黃厚敷。布包穿襪。一日一換。數日斷根。切忌用手搔擦。</p>

<h3>腳丫爛瘡</h3>
<p>陳火腿骨。米泔水漂盡鹽味。燒枯研末敷。</p>

<h3>腳指縫爛</h3>
<p>五倍子（煅三個）　冰片（五釐）　茶油調敷。又鮮鵝掌黃皮陰乾。燒存性為末。</p>
<p>摻之極效。又桂圓核燒灰。摻之立效。又陳松蘿茶末摻之。</p>

<h3>腳上皮蛀</h3>
<p>生水孔而皮濕爛者。用豆腐渣不落水者。貼三日即愈。</p>

<h3>腳疰</h3>
<p>麥柴稈煎湯頻洗。</p>

<h3>腳冷如冰</h3>
<p>生附子（二錢）　好酒麴（三錢）　共為末。燒酒調敷足心。甚妙。</p>

<h3>腳多汗濕</h3>
<p>楊花鋪鞋及襪內穿之。</p>

<h3>腳底開裂</h3>
<p>白芨刮取細末。用口水調敷。</p>

<h3>遠行腳上成泡</h3>
<p>生面和水調塗。</p>

<h3>遠行腳腫</h3>
<p>草烏　細辛　防風（各等分）共為末。作護膝或襯鞋底。（併除膝風及腰冷痛）又蘿蔔子（炒研末）　白礬（研末）共鋪鞋底。遠行腳不作痛。極效。</p>

<h3>釘鞋打傷足跟</h3>
<p>羊皮金面貼傷處。過宿即愈。又腳脛被靴山擦破者。　用白蠟（五錢）　藤黃（一錢五分）　入麻油融化。塗傷處即消。</p>

<h3>腳鹼</h3>
<p>荸薺（半個）　貼患處過夜。次晚再貼。五六次。其鹼連根脫出。又蔥頭荸薺搗汁一碗煎。再取松香（四兩）　麻油（半斤）　熬至滴水成珠。方入前汁。攤膏貼即落。</p>

<h3>腳生雞眼</h3>
<p>真烏梅肉搗爛。入醋少許。加鹽水調勻。貼之即消。又荸薺（一個）　蕎麵（一錢）共搗融貼上。一晝夜自落。又地骨皮　紅花共研細。敷之立愈。又生白蘿蔔口嚼如泥。敷之止痛如神。</p>

<h3>嵌甲作痛不能行履</h3>
<p>濃煎。陳皮湯。浸良久。甲肉自離。輕手剪去。以虎骨末敷之即安。　</p>
<p>又胡桃皮燒灰貼。</p>

<h2>疔毒</h2>

<h3>蜘蛛拔毒法</h3>
<p>先將疔頭。用瓷片刺破。尋活蜘蛛（一個越大越好）放疔瘡上。蜘蛛一見。自能奔往吸拔其毒。少時蜘蛛不動。即取放冷水中自活。如疔未愈。可用蜘蛛再行吸拔。或另取蜘蛛用之。以毒盡為止。無論疔在何處。雖毒重極痛。不省人事。命在垂危。立可回生。此急救第一良法。凡手指生蛇頭瘡及毒蛇毒蟲咬傷。皆可照此拔毒。</p>

<h3>取疔膏</h3>
<p>乳香（一粒）　麝香（米大一粒）　黃連（末）　連翹（末）　桃仁（二個去皮）同蝦蟆肝腸肺三味。共一處入乳缽內。搗如泥。白皮紙一張。攤貼患處。三四日連疔揭去。</p>

<h3>拔疔根法</h3>
<p>疔毒重者。愈而復發。此疔根未出之故。若不急治。再發則根愈深而難治矣。用蓖麻子（一粒去油）　乳香（一分去油）共搗爛。用飯和餅貼之。少時疔根自出。又蔥白加蜜捶融。將疔刺破敷之。如人行五里。根自出。</p>

<h3>消疔</h3>
<p>人指甲炙為末。放患處。將核桃平破取肉嚼爛。安半殼內合住。不可露氣。一飯頃即消。</p>

<h3>治疔初起</h3>
<p>生山藥同白糖搗爛。塗敷即消。</p>

<h3>治疔各方</h3>
<p>生黃豆嚼爛。敷之極效。又黃色溏雞糞。厚敷四圍。將疔頭挑破。留頭不敷。</p>
<p>甚效。又用煙桿中煙油。厚敷四圍。留頭不敷。少刻疔破出水而愈。奇效。如有紅絲者。</p>
<p>用煙油離絲三分處敷之。絲即不走。又灶上蟑螂。不拘多少。搗爛敷之。其疔根自出。　</p>
<p>又臭蟲同米飯搗勻。塗疔上。能立拔疔根外出。又生半夏　石灰（等分）　搗末。敷瘡上。又赤小豆花為末敷之。又馬齒莧和梳垢封之。又取患者耳垢。齒垢。刮手足指甲屑。和勻。如豆大。放茶匙內。燈頭上炙片刻。作丸。將銀針挑破疔頭貼上。外覆涎濕綿紙。痛立止。真妙方也。又青石末同荔枝肉杵爛。將婆雞糞調幹塗。其根自拔。神效非常。又荔枝肉　白梅肉（各三個）搗餅貼之。根即出。又幹姜　胡椒　龍骨　斑蝥（去足翅熬）　皂莢（炙去皮子）各等分搗篩。以酒和封瘡上。日一敷之。又先刺瘡出血。以海螵蛸末搽之。</p>
<p>其疔即出。又馬齒莧（二分）　石灰（三分）搗勻。以雞子白和塗之。又皂莢子中仁研末敷之。數貼五日愈。又刺破。以老蔥　生蜜杵貼。兩時疔出。用醋湯洗之。神效。又蒺藜子（一升）熬搗。以醋和。封頭上拔根。又名大戟膏。真紅芽大戟（用整枝者）　溫茶洗淨去心。嚼融敷之。立刻止痛而愈。再發再敷收功。嚼時藥汁不可嚥下。（並治一切惡瘡及陰疽甚效）又苦蕒白汁。塗之拔根。青苗陰乾。冬月水調敷之。亦效。又面和臘豬脂。封之良。</p>

<h3>唇口疔</h3>
<p>凡口唇生疔。看大腿彎中。如有紫筋。用銀針刺出血。即愈。又一人唇口生疔七個。頭腫如斗。百藥不效。後遇一醫云。此名七星趕月。用蛔蟲搗爛敷之。頃刻瘡口出黃水。腫消神清。次日全愈。如無蛔蟲。以五穀蟲（一錢瓦上焙研末）　白礬　蟾酥（各三分）　用燒酒融化調勻。敷疔上。少刻疔亦破。流毒水而愈。又雄雞冠血點上。神效。又生蜆去殼搗融敷。即效。又烏色草魚。去鱗取皮。切片貼之。隨貼隨干。干則換貼。貼至數十次。</p>
<p>即破口而愈矣。又大蝦蟆（一個）　取肝。貼之立消。（兼治面上生疔對口疔等症）</p>

<h3>面疔</h3>
<p>飯蠅（七個）　冰片（一二釐）　同研爛。敷之。即不走黃。</p>

<h3>鼻內生疔</h3>
<p>爛黃雞糞　荔枝肉同搗爛。塗上即愈。又用花盆中青螺（即鬼螺螄）二三個。同鹽搗塗。立效。</p>

<h3>眉心疔</h3>
<p>粗草紙上。揀內有米穀。取（二三十粒）去殼。將米研細和砂糖調塗疔上。數次即愈。</p>

<h3>紅絲疔</h3>
<p>此疔最易走黃。犯者用針挑斷其絲。且拔去發中紅頭髮一根。將多年糞坑上碎木椽子。煅灰研細。用餳糖拌塗疔上。露出疔頭。疔毒拔出無事。若不急治。隔日即死。又此疔流走最速。生於足者。其紅絲漸長至臍。生於手者。紅絲漸長至心。生於唇面者。紅絲漸長至喉。至則不可救矣。手足兩處。可用頭髮。離絲一二寸遠緊緊捆住。並將絲頭刺破或用燈火或用艾火。在絲頭燒之。絲即退散而愈。不散再燒。以散為度。其效如神。又蟑螂（一個去頭）　和青糖。搗塗即效。</p>

<h3>魚子疔</h3>
<p>活蟶殼煅用。豬苦膽汁調塗。</p>

<h3>魚臍疔</h3>
<p>寒食餳（即飴糖）　塗之。良。乾者燒灰。又瞿麥燒灰。和麻油敷之。效。</p>

<h3>水疔</h3>
<p>蝸牛同菊葉搗爛敷之。（無菊葉以野苧麻頭代之）又用鰣魚腮下近腹處。有划水二瓣。瓣間有長鱗二瓣最佳。但難得。今人以背上大鱗代之。貼上即消。</p>

<h3>水疔暗疔</h3>
<p>水疔色黃。麻木不痛。暗疔瘡凸色紅。使人昏狂。並先刺四畔。後用銀杏去殼。浸油中。年久者搗罨之。</p>

<h3>指上蛇頭疔</h3>
<p>（又名天蛇頭生各指頭又足指頭生者亦是）　</p>
<p>鳳仙花下半截。（連根用不用水洗）和甜酒糟搗融敷。甚效。又蜈蚣（焙枯為末）　豬膽。調搽甚效。又雞蛋（一個）穿一小孔。入信石（一分）套指頭上。熱則再換。立刻止痛如神。真仙方也。又雞子開一孔。將指入內。待蛋化水。又換一個。如此三枚。必效。又活鰍搗敷。又雄黃　枯礬（等分）研末。用麻油或醋調敷。又風菱角。燈火上燒存性。研末。香油調敷。未潰即散。已潰者止痛。立愈。又痛臭甚者。黑豆生研末。入繭內籠之。</p>

<h3>疔毒痔瘡</h3>
<p>田螺入冰片。化水點之。</p>

<h3>疔瘡走黃</h3>
<p>陳年苔菜研末。敷上即消腫收口而愈。試過無不效。又白梅乾肉（無白梅用烏梅肉此味能拔疔根）醃荔枝肉加銀硃少許。共搗爛。溏雞矢拌勻。留頭敷效。（按走黃為疔瘡至危之症當內外兼治為是速取芭蕉葉或根搗汁灌之或服別藥專憑外治恐難全效）</p>

<h2>癰疽</h2>

<h3>烏龍膏</h3>
<p>治一切癰腫發背。無名腫毒。初發焮熱。未破者取效。用隔年陳小粉。愈久愈佳。</p>
<p>以鍋炒之。初炒如餳。久炒則幹成黃色。冷定研末。陳米醋調成糊。熬如漆。瓷罐收之。用時攤紙上。剪孔貼之。即如冰冷。疼痛即止。少頃覺癢。聽其乾燥。久則毒自消。藥力盡。亦自然脫落矣。</p>

<h3>治癰腫</h3>
<p>白蘞　黃芩　烏頭（泡各等分）　搗篩末。和雞子白敷上即愈。又已潰者貼之。黃連　黃柏　地榆　白芷（各二兩）　共搗為末。雞子白和塗布敷癰上。對瘡口穿布。令疏氣。又生黃豆浸胖搗塗。又豬膽汁和芥子末貼之。日三上。豬脂亦可。又蔓菁葉不見水燒灰。和臘豬脂封之。又初起者綠豆粉炒黃黑色。入牙皂（一兩）同研。米醋調敷。皮破者油調敷之。</p>

<h3>一切腫毒</h3>
<p>蓖麻仁搗敷。即止。又蔥汁敷之。日四五度。又醋調大黃末塗。又商陸根和鹽（少許）搗敷。日再易。又初起用芭蕉葉。熨斗內燒存性。入輕粉麻油調塗。一日三上。或消或破。皆無痕。又芭蕉研末。和生薑汁塗之。又萍草搗敷之。又獨頭蒜（一枚）津唾磨鞋底泥箍之。三五次即消。</p>

<h3>多骨癰</h3>
<p>紫玉簪根搗爛敷之。其骨自出。</p>

<h3>快馬癰</h3>
<p>山藥磨沙糖水。搽圍即散。</p>

<h3>決膿妙法</h3>
<p>治癰膿不出。用人乳汁和麵敷之。</p>

<h3>一切癰疽</h3>
<p>初起用乾薑（一兩）炒紫研末。醋調敷四圍留頭。自愈。又赤小豆（四十九粒）為末。水調塗。無不愈者。但其性黏。干則難搗。入苧根末。則不黏。此法尤佳。（或用雞子清調敷）又瘡腫者。鹽白梅燒存性為末。入輕粉（少許）　香油調塗四圍（已潰未潰均可用下方同）又黃連　檳榔（等分）　為末。雞子清調搽之。又癰疽不斂。瘡口太深。用絲瓜搗汁頻抹之。</p>

<h3>瘭疽</h3>
<p>熬蕪菁子熟搗。綿裹敷之。勿止。又酒和麵敷之。又以豬膽敷之。良。又鯽魚（三寸長者）　亂髮（如雞子大）　豬脂（一斤）　煎成膏塗之。</p>

<h3>骨疽</h3>
<p>豬脂和楸葉搗封之。又搗白楊葉下篩敷之。</p>

<h3>疽瘡骨出</h3>
<p>黃連　牡蠣（各二分）　熬為末。先以鹽湯洗。然後敷之。</p>

<h3>疽潰後方</h3>
<p>用鹽湯洗拭後。燒皂角灰粉之。良。又以牛耳中垢敷之。良。</p>

<h3>治癤</h3>
<p>燒葛蔓灰。封上自消。又牛糞封之。佳。又鼠黏根葉貼之。又水和雀糞敷之。</p>
<p>又生椒（末）　釜下土（等分）　醋和塗之。（一方有曲末）又已破用益母草搗敷。</p>

<h2>諸瘡</h2>

<h3>楊梅瘡</h3>
<p>雄黃（一錢五分）　輕粉（一錢）　杏仁（三十粒去皮）　共為末。用雄豬膽汁調塗。　</p>
<p>又兒茶　杏仁霜（各一錢）　輕粉（五分）　冰片（三分）用鵝膽調點一次。過夜即脫靨。（一方惟用杏仁霜輕粉二味鵝膽調點之）</p>

<h3>楊梅瘡癬</h3>
<p>水萍煎汁。浸洗半日。數日一作。</p>
<p>天行熱氣病。豌豆瘡。　濃煮黍穰汁洗之。</p>
<p>又瘡若黑者。搗蒜封之。</p>
<p>又若赤黑如疥大者。煎羊脂摩敷之。</p>

<h3>浸淫瘡</h3>
<p>生鯽魚切片。鹽搗貼。頻易。</p>

<h3>血風瘡</h3>
<p>舊傘帽　壞皮掌焙灰。桂花油調敷。神效。</p>

<h3>黃水瘡</h3>
<p>真柏油熬稠塗。又芋苗曬乾。燒存性。研擦。又木槿子燒存性。豬骨髓調搽之。又老菱殼燒灰。以小磨麻油調塗。又石膏（煅）　龍骨（煅）　松香　枯礬（各三錢）　共研細。用煮熟雞子黃熬油和敷之。又頭面俱生者。蒼朮　糯米粉（等分）均炒燥研勻。摻之。</p>

<h3>天泡瘡</h3>
<p>荷葉貼之。又絲瓜葉搗汁塗之。又生百合搗塗。一二日即安。又蓮蓬殼（二枚）煅存性研末。以井泥調敷。又生蠶豆莢殼炒黑研末。麻油調塗。</p>

<h3>膿窠瘡</h3>
<p>用火紙卷雄黃。熏被三次即愈。臨臥忌熏。又大風子油（百粒）　蛇床子（五錢）　雄黃（二錢）　枯礬　花椒（各三錢）共為末。燭油　豬油（各五錢）同搗爛。熔化調塗。又菖蒲末鋪席臥。並煎水洗。數日愈。</p>

<h3>月蝕瘡</h3>
<p>燃燭照瘡。使燭之熱氣相及瘡。即愈。又茱萸根　地榆根　薔薇根（各等分）為末。作湯洗瘡。取藥塗之。日三。</p>

<h3>疥瘡</h3>
<p>枯礬　滑石（各五錢）　硫黃（三錢）共為細末。豬油同研糊塗。極效。又紅棗（三枚）蘄艾　雄黃　花椒（各三分）共燒爐內。熏焙衣被。俟冷透穿蓋。免受火氣。甚效。又風化石灰和醋漿水調塗。隨手而減。石灰淋汁洗之。甚效。</p>

<h3>一切瘡疥</h3>
<p>桂圓核煅存性。麻油調敷。</p>

<h3>諸毒惡瘡</h3>
<p>蟑螂搗石灰敷之。</p>

<h3>蠼螋尿瘡</h3>
<p>繞身匝即死。以蒺藜葉（無葉用子）搗敷之。</p>

<h3>螻蛄漏瘡</h3>
<p>茜根（燒灰）千年石灰（等分）為末。油調敷。</p>

<h3>五種瘻疾</h3>
<p>芥子末水蜜和敷。干即易之。</p>

<h3>赤遊火丹</h3>
<p>新生荷葉搗爛。入鹽塗之。又麻仁搗末。水和敷之。又赤小豆末雞子清稀調塗之。</p>

<h3>熱毒丹瘡</h3>
<p>慎火草搗汁拭之。日夜一二十遍。又浮萍搗汁遍塗之。</p>
<p>疥癬滿身。不可治者。　何首烏　艾葉（等分）煎濃湯洗浴。甚能解痛生肌。</p>

<h3>治癬方</h3>
<p>初起用海螵蛸（一塊）常向患處。時時擦之。效。又榖樹脂抹之。又白芨　木鱉子　土槿皮　白糖（各等分）為末。醋調塗。又巴豆（五六個）去皮打碎。包絹內擦之。不可擦好肉上。（身面上如錢大者擦之如神）又珠蘭花葉時時擦之。半月斷根。又荔枝核磨醋。將癬抓破搽之。雖痛不妨。數日即愈。再發再搽。斷根。又用新棉花扯如紙薄一層。量癬寬大。將綿花鋪貼。用火向花上一點。頃刻燃盡。當即止癢。且並不焦痛。不須用藥。極簡。極效。（綿花須用彈過者）倘再發。照治一回。斷根。</p>

<h3>陰癬</h3>
<p>土槿皮　檳榔（各兩文）切片。用滴花燒酒（五文）將二藥浸三四日。候酒色變赤而膩。蘸塗患處。痛癢立止。癬亦即愈。又明礬（生熟各一錢）　輕粉（二錢）　銀硝（三分）共研。將土大黃根搗爛。布包蘸藥末擦之。又蛇床子　豨薟草　川芎　川柏　銀花共煎滾。入乾淨便桶內。以身坐上。熏其熱氣。</p>

<h3>牛皮血癬</h3>
<p>枯礬　水銀（各二錢）　川椒（炒一錢）　用土大黃根。鹽豬油同搗爛。敷患處即效。</p>

<h3>漆瘡</h3>
<p>韭菜搗汁。入燒酒少許塗之。又幹荷葉煎湯洗之。又石灰水拌敷。一日除根。　</p>
<p>又生蟹黃塗之。又以馬尿洗之。又煮柳葉湯。適寒溫洗之。（柳皮尤妙）又麻油調鐵鏽塗之。又濃煮杉木汁洗之。</p>

<h3>暑月痱瘡</h3>
<p>（俗名痱子）　</p>
<p>綠豆粉（二兩）　滑石（研末一兩）和勻撲之。（一加蛤粉二兩）又冬瓜切片摩之。</p>

<h3>凍瘡</h3>
<p>剝辣茄皮貼之。又方頭黃色蚱蜢風乾。煅研。香油調塗。摻亦可。又蟹殼燒存性研末。香油調塗。又凍在臉上。用活雀腦塗之。立效。又凍在手足。白蘿蔔（一個）熱柴火內煨熟。去皮擦之。又橄欖核燒存性研末。加輕粉（少許）　香油調塗。良。</p>

<h3>凍瘡手足指欲墮</h3>
<p>生薑搗自然汁。熬膏塗。又黃蠟濃煎塗之。又以蚶子殼煅研極細。麻油調塗。濕則干糝。又馬糞煮水。將凍指浸半日。冷加熱水。</p>

<h3>凍瘡裂坼</h3>
<p>人乳調黃柏末塗之。又甘草煎湯洗。次以黃連　黃柏　黃芩（各等分）研末。入輕粉麻油調敷。又藕蒸熟。搗爛塗之。</p>

<h2>瘤痣</h2>

<h3>治瘤方</h3>
<p>水銀　硼砂（各一錢）　兒茶　血竭（各三錢）　麝香　冰片（各三分）　各為細末。將此藥摻於瘤之根處。隨擦隨落。根小者無不落也。又極細鐵屑醋拌。放銅杓內煅。干則再拌。如此三次。研細。再用醋調敷。便覺患處。不甚適意。過一宿剝去再敷。以平為度。　</p>
<p>又用竹刺將瘤頂稍稍撥開油皮。勿令見血。細研銅綠（少許）放撥開處。以膏藥貼之。又生馬前子以荸薺汁磨塗患處。早晚二次。軟者不周月而愈。</p>

<h3>粉瘤</h3>
<p>天花粉（一兩）　陳壁土（五錢）　穿山甲　川貝母（去心各三錢）共為末和勻。擦膏藥上。（不拘何膏）貼之即穿出粉滓而愈。</p>

<h3>眼皮生瘤</h3>
<p>櫻桃核磨水搽之。其瘤漸漸自消。</p>

<h3>肉核</h3>
<p>真烏梅去核燒存性。研末。搽數日即消。又生蘿蔔皮貼之。連貼數次。即愈。</p>

<h3>疣瘊</h3>
<p>（又名瘊子拔之絲長三四寸）　</p>
<p>薑汁和好醋。時時搽之。又地膚子　白礬煎湯。洗數次即消。又以墨塗之。不過五度。瘥。又以屋漏下水。塗疣上。又松香　柏樹枝上油和勻。敷之過夜即落。又牛口涎。時時塗之即落。又杏仁燒令黑。研如膏塗之。令瘥止。</p>

<h3>肉痣</h3>
<p>（小黑子是）　</p>
<p>用針挑破。以鹼水泡石灰點之。即消。</p>

<h3>血痣</h3>
<p>初起如痣色紅。漸大如豆。觸破時流鮮血。以黃鱔血同蒜汁好墨汁頻塗之。效。（血出甚者宜內服涼血地黃湯）又血痣挑破。血出不止者。鰣魚鱗貼之。即結痂而愈。</p>

<h3>除痣方</h3>
<p>取桑條燒灰淋汁。入石灰熬膏。自己唾調。點之自落。又糯米（百粒）　石灰（拇指大一塊）　巴豆（三粒）　去殼研為末。入瓷瓶同窨三日。每以竹籤挑粟許。用鹼水點上。自落。又杏仁為末。雞子清調點。一宿自落。又桑柴灰　風化石灰（各一斤）　鮮威靈仙（六兩）　煎濃汁。淋二灰取汁。熬成稀膏。瓷器收藏。用點患處。不必挑破。應手而除。（並治疣痣及息肉雞眼）</p>

<h2>諸傷</h2>

<h3>天下第一金瘡藥</h3>
<p>凡刀斧損傷。跌撲打碎。敷上即時止痛止血。更不作膿。勝於他藥多矣。</p>
<p>其傷處不可見水。　公豬油（二十兩）　松香　黃蠟（各六兩）　麵粉（炒篩四兩）　樟腦（三兩）麝香　冰片（各六分）　血竭　兒茶　乳香（箬皮上烘去油）　沒藥（同上去油各一兩）　以上藥研極細。先將豬油松香黃蠟三味敖化。濾去渣待冷。再入藥末攪勻。瓷器收藏。不可泄氣。又名桃花散。止血定痛。價廉功敏。極宜制送。用陳石灰（二升愈陳愈佳）　大黃（四兩切片）　同炒。俟灰成桃花色。去大黃。將灰細篩。入瓷瓶。過月餘方可用。又千年石灰　韭菜共搗成餅。貼牆上陰處。乾透聽其自落。研篩極細收藏。血流不止。摻上立愈。</p>

<h3>箭鏃傷</h3>
<p>頭上黑蝨及人牙齒同研。塗之即出。又栝蔞根搗敷之。日三易自出。（並治竹刺入肉）</p>

<h3>中毒箭</h3>
<p>以犀角刺瘡中。立愈。又搗苧根罨之。</p>

<h3>鳥槍傷</h3>
<p>凡槍子打入皮肉。用生南瓜切片。貼患處即出。（南瓜瓤敷之亦佳）又泥鰍搗爛敷之。</p>

<h3>被斫斷筋</h3>
<p>旋覆根搗汁瀝瘡中。仍以渣敷之。日三易。半月斷筋便續。又白蠟　合歡皮（各五錢）　研融。調敷傷處。極效。</p>

<h3>跌打損傷</h3>
<p>閃挫初時。即於無風處。將紙捻觸鼻內。用力打嚏二三十次。則氣升而痛自止。</p>
<p>又綠豆粉炒紫色。新汲水調敷。以杉木皮縛定。又胡椒　黃蠟（各二兩）　公雞（一隻去毛）共搗爛敷患處。如癢即愈。</p>

<h3>頭面跌撲青紫</h3>
<p>生半夏末。醋調敷之。神效。（一方用水調敷）</p>

<h3>打傷眼睛</h3>
<p>生豬肉（一片）以當歸　赤石脂二味研末。摻肉上貼之。拔出瘀血。眼即無恙。</p>

<h3>閃拗手足</h3>
<p>生薑　蔥白搗爛和麵炒熱。罨之。</p>

<h3>踢傷</h3>
<p>冬青葉醋煮數沸。略滴麻油（少許）取葉換貼。</p>

<h3>抓破面上皮</h3>
<p>生薑自然汁調輕粉末敷之。無疤痕。</p>
<p>抓破腎囊。卵丸脫落。懸掛未斷者。　即教人慢慢托上。多取壁錢敷貼患處。日漸就安。其囊如故。</p>

<h3>接骨方</h3>
<p>山梔（五分生研末）　飛羅面（三錢）　用薑汁調和塗患處。一日夜。皮肉青黑。是其驗也。或用水調搽。干則掃去。又用市鎮上乞小兒破鞋一隻。燒灰。白麵（等分）好醋調成糊。敷患處。以絹束之。杉木板夾好。須臾疼止骨接有聲。甚妙。</p>
<p>損傷碎骨。在內作膿。　田螺搗爛。加酒糟和勻。敷四圍。中留一孔。其骨即出。</p>

<h3>腦破骨折</h3>
<p>蜜和蔥白搗勻。厚敷立效。（此藥切忌入口）</p>

<h3>誤斷指頭</h3>
<p>降香研末摻之。包以絲綿。七日忌落水冒風。一次即痊。又真蘇木為極細末。</p>
<p>摻於斷指間接定。外用蠶繭包縛牢固。數日即如故。</p>

<h3>破傷風</h3>
<p>白麵　燒鹽（各一撮）　新水調塗。又破傷風腫者。杏仁杵膏厚塗上。燃燭遙炙之。</p>

<h3>火燒瘡</h3>
<p>貫眾煅灰。油調塗。立刻止痛。</p>

<h3>滾油潑傷</h3>
<p>陳面和敷之。又蟹殼灰麻油調搽。又生寒水石研細末。油調塗。又扁柏葉冷濃茶搗敷。</p>

<h3>爆竹炸傷</h3>
<p>鮮柏枝搗爛。香油調敷。</p>

<h3>湯泡火傷</h3>
<p>大麥炒黑研末。油調搽之。又油調芙蓉末敷之。又生蘿蔔搗塗之。（子為末敷之亦可）又辰砂末雞子清調敷。又舊葫蘆瓢燒灰敷之。又以竹中蛀蟲末塗之。又醋淋洗。又地榆末麻油調塗。又新熱牛糞塗之。又柳皮燒灰。如粉敷之。</p>

<h3>人咬傷</h3>
<p>鱉頭焙存性研末。香油調塗。又用童便（淘米水亦可）洗淨汙血。（雖痛至不省人事亦須忍住洗淨）　以人糞敷之。（或用人中黃煎湯時洗）又白蘿蔔葉嚼敷。又溏雞屎塗。</p>

<h3>虎咬傷</h3>
<p>土蠶搗敷。又雄黃　硫黃　紫石英（各等分）　研末塗。又嫩松毛捶融如泥。將傷口內塞滿。極效。</p>

<h3>馬咬</h3>
<p>益母草切。醋炒研塗。</p>

<h3>瘋狗咬</h3>
<p>半夏末擦。又紫蘇葉嚼敷。又婦人尿澆。又白果仁嚼塗。又荔枝肉貼。　</p>
<p>又搗栗子塗。</p>

<h3>狗咬</h3>
<p>甜杏仁（去皮尖）　嚼爛敷之。又鵝屎敷之。不爛痛。</p>

<h3>貓咬</h3>
<p>薄荷煎水洗之。或用川椒煎水洗之。</p>

<h3>鼠咬</h3>
<p>陳火腿燒灰。香油和敷。又貓屎揉敷。</p>

<h3>蝮蛇螫人</h3>
<p>薑末敷之。干即易。</p>

<h3>蛇咬</h3>
<p>生杵芹汁塗之。又杵白扁豆葉敷。又銅青敷。又梳垢一團。尿和敷。又人糞封。</p>

<h3>蠍螫</h3>
<p>芝麻油塗。又木碗蓋於痛處。過半日即愈。</p>

<h3>蛇及諸毒螫</h3>
<p>煙筒中垢塗之。</p>

<h3>蜈蚣咬</h3>
<p>嚼香附塗之。又胡椒嚼封之。即不痛。</p>

<h3>蜂螫</h3>
<p>人乳塗。又野莧擦。又芋頭梗搗融敷。</p>

<h3>蜘蛛咬</h3>
<p>炮薑切片貼之。又熱甜酒洗之。</p>

<h3>射工溪毒傷</h3>
<p>芥菜子末和酒厚敷。半日止痛。又切蒜片貼之。</p>

<h3>螻蛄咬</h3>
<p>醋和石灰塗。</p>

<h3>百蟲咬</h3>
<p>燈火熏。又香油浸紫蘇塗。</p>

<h3>烏龍刺傷</h3>
<p>（又名火芭蕉）　</p>
<p>烏龍刺入泥中。人若足上籤踏。較蛇咬更毒。腫至肚腹。則無藥可救。急用蛔蟲（無則用糞蛆）數條。搗爛敷患處。腫消刺出而愈。</p>

<h1>卷四</h1>

<h2>婦科</h2>

<h3>通經</h3>
<p>益母草煎洗小腹。又鬼螺螄（十四個生在陰處者是）　砑碎油紙攤貼臍上。縛定周時。又經閉用蠶砂酒炒熨。又經閉按腹內似有痞塊者。鱔魚血隨患處大小塗一圈。另用皮硝　黃丹　百草霜（各研末五錢）　紅皮獨蒜（一枚）同搗敷圈內。覺口中有蒜味。即擦去。</p>

<h3>經前腹痛</h3>
<p>紫蘇陰乾四兩。候經期。如肚腹脹痛。煎湯熏洗下部。摩運小腹。每經摩洗三四日。則經正痛止。</p>
<p>婦人因開甑為熱氣所沖。面目腫大。經水不通。　舊蒸飯布（越舊越好燒灰）用鍋蓋上氣水（甑蓋上氣水亦可）調敷。隨敷隨消。經水亦通。無蒸飯布。蒸底燒灰。亦可。</p>

<h3>婦人氣滯</h3>
<p>木香　生地黃搗餅。貼患處。熨斗熨之。（並治腫核）</p>

<h3>血崩不止</h3>
<p>枯礬　黃丹（各五錢）　研綿絹包裹。麻油抹絹面。線扎一團。用線穿竹筒上。仰臥入陰戶內。將竹筒退出一炷香久即止。止後將線掣出藥團。又燒漆器令聞。又舊氈條或綿花胎坐身下。又黑驢糞燒熏之。又危急者以黃丹　鉛粉絹包。塞入陰戶。以線帶住。止即去之。</p>

<h3>治帶下</h3>
<p>以灶下黃土。水和為泥。作彈子丸百枚曬乾。以火燒熱徹。用三年酢漬一丸。綿裹納陰戶中。唯深。待冷即易之。新患者三十丸。瘥。久者五十丸。</p>

<h3>白帶</h3>
<p>雞冠花（醋炙）　紅花（酒炒）　荷葉灰　白朮　茯苓　陳壁土　車前子（各一錢）為末。酒或米湯調敷臍上。可利濕熱。又熱鹽炒艾熨臍。</p>

<h3>五色帶下</h3>
<p>年久古磚（一塊）　燒極紅赤。以油煎麵餅（七個）　安放磚上。再用黃瓜根研末。鋪面餅上。加布兩層。令病人坐上。使藥氣熏入腹中。當有蟲出。治三五次。蟲盡即愈。（以上調經崩帶）</p>

<h3>陰冷</h3>
<p>母丁香為末。紗裹如指大納入。又蛇床子（炒研二錢）　白粉（一錢）　調勻。如棗大。每用一枚。綿裹納入陰內。自然溫暖。</p>

<h3>子宮寒冷不能受孕</h3>
<p>吳茱萸　川椒（各八兩）　共為末。煉蜜為丸。如彈子大。綿裹納入陰戶中。日夜一換。一月後子宮和暖。即可成孕。又硫黃煎水常洗效。</p>

<h3>婦人無子坐導藥方</h3>
<p>皂莢（一兩炙去皮子）　大黃　戎鹽　礬石（燒）　當歸（各二兩）　五味子乾薑　細辛（各三兩）　蜀椒（汗二兩）　葶藶子（千金方無此味）　苦瓠（各三分千金方作山茱萸）　上十一味。搗篩納輕絹袋子。如中指許大。長三寸。盛之令滿。納子門中。坐臥任意。勿行走急。小便時即出之。仍易新者。一日當下青黃冷汁。汁盡止即可幸御。自有子。</p>
<p>若未見病出亦可。至十日安之。（一方有砒霜三分）又蛇床子　芫花（各三兩）　搗篩取棗大。紗袋盛。納產門中。令沒指。袋少長。便時須去。任意臥著。慎風冷。</p>

<h3>四奇種子丸</h3>
<p>粉龍骨（五色者佳瓦上煅）　鎖陽（醋洗）　北細辛（水泡一夜曬乾）　陽起石（見太陽飛動者佳各三錢）　早黃桂花（人乳拌曬）　旱地浮萍（要肥大者）　吳茱萸（醋泡過一夜炒）　上肉桂（去皮各二錢）　紫梢花（色潤紫者佳）　石榴皮（瓦上焙乾）　砂仁（去殼燒酒洗焙乾）　肉蓯蓉（紅色者佳焙乾）　川椒（要開口者）　枸杞（去核炒）　麝香（用當門子）　白芷（銅器內炒黃）　鬧楊花（焙）　象皮末　真鴉片（各一錢）　高麗參蘆（五錢）　蓖麻子（四十九粒去殼去油淨）　共為末。煉蜜為丸。如小圓眼肉大。丁香油為衣。每於經淨七日之內。先放一丸入陰戶內。待一頓飯時藥化。然後行事。然種子務宜節欲。若藉此淫佚無度。竊恐子未種而身先喪。　觀者慎諸。</p>

<h3>丁公仙枕方</h3>
<p>用槐木薄板做枕一個。高三寸三分。寬四寸五分。長一尺二寸。如天蓋地。二面上鑽孔一百二十八個。如桐子大。用後藥裝入枕中。百日後諸病消除。精神倍長。壽高多子。真仙方也。如夫婦皆以此作枕。更見功效。其藥料三五。過月一換。　真川椒　桔梗　荊實子　柏子仁　薑黃　吳茱萸　白朮　薄荷　肉桂　川芎　益智仁　枳實　全當歸　川烏千年健　五加皮　藜蘆　羌活　防風　辛夷　白芷　附子　白芍　藁本　蓯蓉　白細辛　豬牙皂　蕪夷　甘草　荊芥　菊花　杜仲　烏藥　半夏　共三十四味。每味一兩。務選頂好。鮮明咀片。研為細末。絹袋盛之。裝入枕中。（以上種子）</p>

<h3>轉女為男法</h3>
<p>婦人覺有娠。即以雄黃（一兩）　裝絳紗囊。佩小腹。</p>

<h3>妊娠心痛</h3>
<p>蜜（一升）和井底泥。塗心下。又取弩弦急帶之。立愈。</p>

<h3>妊娠傷寒熱病保胎法</h3>
<p>用井底泥入灶心土。敷於臍下。或加青黛。如干再塗。又白藥子不拘多少為末。以雞子清調攤於紙上。如碗大。貼臍下胎存處。干則以濕水潤之。</p>
<p>妊娠風寒交中。不省人事。狀如中風。　用熟艾（三兩）米醋炒極熱。以絹包熨臍。良久即愈。</p>
<p>妊娠目鼻咽喉唇口諸病。孕婦專以清熱為主。目鼻諸病多屬熱。用吳茱萸（五錢）研末。好溫醋調敷兩足心。用布包好。過一日夜。足心如覺發熱即愈。如尚未愈。連換數次。再敷一日夜。則無不愈矣。（並治胎上衝心安即洗去）</p>

<h3>妊娠遍身搔癢</h3>
<p>此症有風。不可服藥。用樟腦調酒擦之。即愈。</p>

<h3>妊娠腹癢</h3>
<p>取鐵箭頭（用舊針線袋亦可）安臥席下。勿令婦知。</p>

<h3>子鳴</h3>
<p>子在腹中鳴者。謂之子鳴。此由孕婦或欠身向高處取物。子在腹中失脫口中所含疙瘩。故啼。治法或令孕婦作男子拜狀或以豆撒地。令其檢拾。子復含著則止。</p>

<h3>妊娠小便不通</h3>
<p>蔥白（二十根）　細切。和鹽炒熨臍下。又吊起一腳睡即尿。又將孕婦睡短梯上。用帶兜扎住。倒懸片刻。則尿自出。（或選二便門方用之　以上胎前）</p>

<h3>催生膏</h3>
<p>治交骨不開。及各種難產。用大龜（全個）初死者佳。頭足血肉俱用。約十兩外。如無。用生龜版（一斤）代。以小磨麻油（二斤）熬去渣。炒黃丹（十二兩）　炒鉛粉（四兩）收。每用四五錢。皮紙攤貼臍上。外用車前子（四錢）　川芎　當歸（各三錢）　冬葵子（二錢）　枳殼白芷　半夏　白蘞（各一錢）研末。麻油蔥汁各一大鐘調藥。敷於膏外。紙蓋布扎。令產婦平身安睡。睡醒即產。蓋睡則陰氣復。母子皆有力也。</p>

<h3>催生方</h3>
<p>取槐東引枝手把之。又手捉鸕鷀頭。甚驗。又取馬銜一枚。覺痛即令左手持之。又急採樹葉一片。或花或草葉皆好。要新鮮青翠。以淨水貼在床背。勿令人知。又取海馬或石燕子。兩手各持一枚。即產。又取蓖麻子十四枚。每手各持七枚。須臾立下。　</p>
<p>又用新硃筆在黃紙上（無新硃筆用新墨筆亦可）寫語忘敬遺四字貼床柱。及門窗上。凡有門窗之處各貼一張。臨產令產婦默唸此四字即產。可免邪祟。又黃表紙朱書北斗紫英夫人在此八字。貼於帳上即生。如片時不應。將黃紙揭下再貼產婦背心。頃刻即下。俟小兒及胞衣生下。速即另備香紙。將黃表字紙焚化。送於流水。遲則恐大腸隨下矣。　</p>
<p>又鄉村僻壤無藥之處。不幸遇此。即覓花椒葉　香櫞葉　柚子葉　茱萸葉　生薑　生蔥　紫蘇濃煎湯一盆。俟可下手。即令產婦以小凳坐盆上。澆湯淋洗其臍腹陰戶。久久淋洗。氣溫血行。登時即產。以上諸藥。如全更妙。若缺一二種。亦不妨。又用急流沙（數升）　炒熱。鋪於腹上。先下墊蔥白再以沙鋪之。又蓖麻子（七粒去殼）　研如泥。入麝香（一分）再研成膏。塗產母足心。胎下即洗去。遲則恐子腸出也。如子腸出。可移塗產婦頂心。腸即收上。速去之。此方催生下胎雖速。藥性猛峻。用者慎之。又烏梅（一個）　巴豆（三個）　胡椒（七粒）　研末搗成膏。酒醋調貼臍下。即產。又巴豆（三個）　蓖麻子（七個）　共去殼搗爛。入麝香（少許）油紙攤貼臍下三指。產後立用濕布將藥抹淨。免爛皮膚。（此與上兩方臨產艱難始可試用如未臨月誤用打胎徒傷孕婦耳慎之）又名龜殼散。能開交骨。治難產及死胎。敷之最妙。龜版（二兩）　川芎　當歸（各一兩）　發灰（五錢）　加蟬蛻（七個）　蛇蛻（一條）燒灰以蔥汁麻油調敷腹上。閉目靜臥一時即生。或加車前子（一兩）敷。</p>

<h3>妊身熱病子死腹中</h3>
<p>烏頭（一枚）細搗。水三升煮取大二升。稍稍摩臍下及陰下。胎當立出。</p>

<h3>子死腹中</h3>
<p>醋炒黃牛糞。敷肚腹上。用布捆好即下。又名立聖丹。治橫生倒產。胎死腹中。用寒水石（二兩生用二兩煅赤）同研細末。入硃砂（五錢）再研。如深桃花色。每用三分。井花水調如薄漿。糊以紙。剪如杏葉大。攤上貼臍心。候乾再易。不過三次。即產。</p>

<h3>逆產</h3>
<p>用手中指點鍋底黑煤於小兒足心。畫一交。即刻順生。又鹽和粉塗兒兩足下。即順。又以鹽塗兒足。以指甲搔之。並以鹽摩母腹上。即順。又手足逆出者。以真灶心土塗母臍中。</p>

<h3>盤腸生</h3>
<p>臨產小腸先出。不可用醋噴婦面。恐驚則神散。宜先以產婦髮梢或紙捻。入鼻取嚏。再放腸漆器中。黃耆煎湯溫浸之。自收。又蓖麻子（四十九粒）去殼研爛。敷產婦頂心。</p>
<p>待腸收盡。急抹去之。勿遲。（此方須胞衣下後方可用然不如前方穩妥）又產腸不收。用芝麻油（五斤）煉溫熱。令婦坐盆中浸之半時。先用皂角炙去皮研。（少許）入鼻作嚏立上。或用蔥湯或用枳殼湯浸。均可。</p>

<h3>臨產胡言亂語</h3>
<p>用四焰燈火加硃砂入盞內。點之即安。（四焰者一盞內用四燈頭是也）臨產暈絕。不省人事。　生半夏搗為丸。如豆大。納鼻中。（或研末吹鼻待嚏即蘇）又覺暈即用三股麻繩。長五六尺。系產婦右腳膝上。令人捉兩頭急挽得醒。徐徐解之。</p>

<h3>胞衣不下</h3>
<p>蔥白煎濃洗下部。胞即下。又取夫單衣蓋井上。立出。又當戶燒黍穰。即出。又用竹杆於堂中正梁上戮三下。即下。又取皂莢末。著鼻孔中。嚏即出。又黑豆（四五合）　醋三大碗煎數滾。布蘸溫熨臍腹。並厚敷之。衣自下。又蓖麻子（十四粒去殼）搗爛。敷兩足心。衣即下。下後速急將藥洗去。久恐腸出。如腸已出。仍用此藥敷囟門上。腸自收入。藥隨洗去勿遲。</p>
<p>子死衣不出。上搶心者。急取蟻垤土（三升）　熬之。令熱。囊盛熨心。良。（以上臨產）</p>

<h3>產後玉門不閉</h3>
<p>石硫黃（研）　蛇床子（各四分）　菟絲子（五分）　吳茱萸（六分）搗為末。以湯一升。投方寸七。用洗玉門。瘥止。又取大紙捻蘸油點。火吹滅。以煙燻鼻。即閉。又陽氣虛寒不閉。用石硫黃　海螵蛸　北五味（各等分）　共為末。摻患處。日三易。</p>
<p>玉門不閉。或脫出。　溫水洗軟。用雄鼠糞（兩頭尖者是）　燒煙燻之。即愈。</p>

<h3>產後陰下脫</h3>
<p>取蛇床子（一升）　布裹炙熨之。（亦治陰中痛）　以鐵精粉上推納之。又蜀椒吳茱萸（各一升）　戎鹽（半雞子大）搗。以綿裹如半雞子大。納陰中。日一易。二十日愈。</p>

<h3>產後玉門腫痛</h3>
<p>蛇床子（三兩）煎湯頻洗。即愈。又蔥白和乳香搗成膏。貼腫上。效。又桃仁炒研細末敷。又羌活　防風（各一兩）　煎湯熏下體。亦消。</p>
<p>初產傷重。玉門腫痛。濃煎甘草湯洗之。其腫自平。</p>
<p>陰戶破爛。久不收口。白芨　白龍骨　訶子　爛蜂窠　黃柏（炒各一錢）研末。先用野紫蘇煎水洗擦。干再用此藥敷之。效。</p>

<h3>產後陰翻</h3>
<p>澤瀉（四兩一方作澤蘭葉未知孰是）煎湯熏洗二三次。再加枯礬（四錢）煎洗。即安。</p>
<p>產後陰戶垂出肉線。長三四尺。觸之痛引心腹。　老薑（三斤）連皮搗爛。入真麻油（二斤）炒乾。先用舊綢五尺摺疊。輕輕承起肉線。使之屈作二三團。納入陰戶。再用綢衣盛姜。使姜氣就近熏之。冷則隨換。熏一日夜。收入大半。二日收盡。神效非常。肉線切不可斷。斷則不治。並宜禁風。</p>

<h3>產後腹痛</h3>
<p>苧麻安腹上。又兔頭炙令熱。以熨產婦腹。如刀絞痛者立定。又取一苦瓠蘆未經開者開之。去子訖。以沸醶酢投中蒸熱。隨痛熨。冷即換。極效。又因感寒起者。</p>
<p>用陳蘄艾（二斤）焙乾搗。鋪臍上。以絹覆住。熨斗熨之。口中艾氣出。痛自止。</p>

<h3>產後防暈</h3>
<p>舊漆器不拘多少。烈火燒煙燻鼻中。即醒。</p>

<h3>產後血暈</h3>
<p>切韭菜安瓶中。沃以熱醋。令氣入鼻中。又枕苧麻即止。</p>

<h3>惡露不下</h3>
<p>馬檳榔去殼。兩手各握二枚。立下。</p>
<p>產後惡露。奔放不止。　用帶舊黑氈帽。（帽內招牌紙宜剝淨）墊住產門。即止。</p>

<h3>產後小便不止</h3>
<p>厚肉桂（一兩）　丁香（三錢）為末。作餅放臍上。即止。</p>

<h3>產後脫肛</h3>
<p>荊芥末　鱉頭灰蜜調塗肛上。以陳年草鞋一隻烘熱。緩托上。數次可愈。</p>

<h3>產後宜擠兩乳</h3>
<p>凡婦人初產。即將兩乳放溫熱淘米水內。揉洗良久。將乳擠出。乳孔內有白絲數條。即用手扯去。方與兒食。不但小兒易食。且免乳吹乳癰等患。此秘法也。又乳不通。用麥芽煎洗。以木梳梳乳千遍。即通。（以上產後）</p>

<h3>婦人陰脫</h3>
<p>煎羊脂塗。（並治赤丹如疥）</p>

<h3>陰蝕</h3>
<p>蚯蚓（三四條炙乾為末）蔥（數條火上炙乾為末）　先以蜜（一碗）煮成膏。將前二味。搗放其中。納入陰戶。蟲盡死。又當歸　甘草（炙）　川芎　芍藥（各二兩）　地榆（三兩）　切。以水五升。煮取二升洗之。日三夜一。又蒲黃（一升）　水銀（一兩）研之。以粉患處。</p>

<h3>陰戶蟲癢</h3>
<p>炙豬肝納入。當有蟲出。又杏仁（去皮燒存性）研爛。綿裹納入。又雞肝去脂。乘熱納入。蟲盡死。又蜂蜜（煉過二兩）　甘草（研末三兩）　二味和勻。敷癢處。蟲自出。再以蛇床子　朴硝（各一兩）　煎湯頻洗。更效。（並治糞門生蟲）</p>

<h3>陰瘡</h3>
<p>紫葳為末。用鯉魚腦或膽調塗。又硫黃末敷。又桃仁杵爛綿裹塞。又杏仁（燒研末）　雄黃　礬石（燒各二分）　麝香（五釐）和敷之。日三度。又陰瘡如蟲咬癢痛者。生搗桃葉。綿裹納之。一日三四易。又陰戶內生瘡作癢。用活蚌（一個）剖開。將有肉半個。手拿對陰戶一夜。次日又用一個。全安。</p>

<h3>陰癢或生濕瘡</h3>
<p>蛇床子　地骨皮（各三兩）　煎湯熏洗。一日兩次。二三日效。又胡麻嚼爛敷之。（並治陰挺）又鯽魚（切片）　以稀布裹納陰戶內。其蟲盡入布眼。納二三次。以出盡不癢為度。再用蛇床子　朴硝（各五錢）　煎水二碗。洗瘡拭乾。以乳香　沒藥（各一錢五分）研末。加枯礬（六分）擦之。尤效。又蛇床子（一兩）　艾葉　明礬　五倍子　杏仁（杵碎各五錢）　川連（三錢）　煎湯。先熏後洗。即愈。</p>

<h3>陰腫</h3>
<p>甘菊苗杵爛煎湯。先熏後洗。又作癢者。大蒜（三兩）切片。煎湯洗之。（並治陰挺）</p>
<p>又產門兩旁腫痛。手足不能伸舒。用四季蔥入乳香末同搗成餅。敷患處。</p>

<h3>陰中腫痛</h3>
<p>炙枳實以熨之。又防風（三兩）　大戟（二兩）　艾（五兩）　切。以水一斗。煮取五升。溫洗陰中。日三次。良。又礬石（熬二分）　甘草（炙五釐）　大黃（一分）搗篩。取棗大。綿裹納陰中。二十日即瘥。</p>

<h3>陰戶疼痛</h3>
<p>食鹽炒熱。青布包裹熨之。又蔥頭加乳香搗融敷之。極效。又癢痛不可忍者。枸杞根（一斤）　水三升。煮十沸。適寒溫洗之。（並治陰腫或生瘡）</p>

<h3>子宮大痛不可忍</h3>
<p>五倍子　白礬煎湯熏洗。又將二藥研細末摻之。</p>

<h3>陰挺</h3>
<p>白果嚼融敷之。又川椒　烏頭　白芨（各二分）為末。綿裹納陰。令入三寸。腹中熱。明旦更著。瘥止。（一方無川椒）又水仙花兜交紅糖搗極融爛敷之。又茄根燒存性為末。油調在紙上。捲筒納陰中。一日一上。又鯽魚生煎煉油塗之。或用鯽魚膽搽之。又藜蘆為末。豬脂調塗。一日一易。胬肉自入。又槐白皮（炒）煎水日洗數次。甚效。又大蒜煎湯洗。</p>

<h3>婦人交合痛不可忍</h3>
<p>黃連六分　牛膝　甘草（炙各四分）　上三味切。以水四升煮取二升洗之。日三四度。瘥止。</p>

<h3>交接傷陰出血不止</h3>
<p>五倍子研極細末摻之。</p>

<h3>雞眼痛</h3>
<p>生車前草搗敷之甚良。又生蔥剖開取有沫一邊貼患處包好。三日愈。</p>

<h3>腳丫及足底彎曲處作癢</h3>
<p>枯礬（五錢）　熟石膏　輕粉　黃丹（各三錢）　共研末。開水候溫洗淨。擦之即愈。又如破爛有膿水者。蔥湯洗淨。用海螵蛸（去硬板三錢）　人中白（三錢）　冰片（三分）共為末。每用一錢。搽之效。</p>

<h2>兒科</h2>

<h3>初生氣絕不啼</h3>
<p>切勿斷臍。即取小鍋燒水。以胎衣放熱水中。並以水澆臍帶。俟暖氣入腹。兒氣即回。啼聲發出矣。若先斷臍帶者不治。</p>

<h3>初生去毒開口法</h3>
<p>小兒初離母體。口有液毒。形如血塊。啼聲一出。隨即嚥下。而毒伏於命門。他日發為驚熱瘡疾惡痘等症。須於未啼時。急用絲綿裹指挖去口內濁穢。以清臟腑。</p>

<h3>小兒初浴</h3>
<p>新生時。用益母草（五兩）　煎水浴。不生瘡疥。</p>

<h3>初生無皮</h3>
<p>色赤有紅筋。乃受胎未足也。用早稻白米研細末。頻撲之。皮膚自生。名先天粉。又以東向陳壁土研細末摻之。亦能生皮。</p>

<h3>初生遍身紅赤</h3>
<p>用浮萍　水苔搗取汁。調朴硝　赭石末敷之。</p>
<p>初生遍身如魚脬。或如水晶。破則水流不止。　以密陀僧研細末⿲扌丰色之。</p>

<h3>三朝浴兒</h3>
<p>取桑槐榆柳桃嫩枝各二三十段煎湯。候溫浴兒。可免瘡疥。</p>

<h3>治兒啼</h3>
<p>取犬頭下毛。以絳囊盛。系兒兩手。立效。</p>

<h3>夜啼不止</h3>
<p>黑牽牛子（一錢）　研極細末。水調敷臍上。立止。又五倍子研末。以津唾調作餅子。貼臍上。用帶扎之。效。又硃砂磨新汲水塗心窩及兩手足心五處。最驗。又用本兒初穿汗衣放瓶內。自不哭。又明鏡掛床腳下。自止。</p>

<h3>曲腰啼哭</h3>
<p>此受寒腹痛也。用淡豆豉　生薑　蔥白（細切）　鹽共炒熱。以手巾包熨肚上。立止。</p>
<p>遍身奇癢。叫啼不止　生薑搗爛。稀布包擦。甚效。</p>

<h3>身如蛇皮鱗甲</h3>
<p>名胎垢。又名蛇胎。用白殭蠶（去嘴）為末。煎湯洗之。或加蛇蛻研末和入。亦可。</p>

<h3>身熱</h3>
<p>苦參（二兩）煎湯浴之。又郁李根煎湯浴。</p>

<h3>壯熱</h3>
<p>李樹葉（一斤）煎湯浴之。良。（並治小兒瘧疾及驚癇）</p>
<p>小兒瘟瘧。積熱不解。　菖蒲煎湯浴。</p>

<h3>初生瘧疾</h3>
<p>赭石（二錢醋煅）　硃砂（五分）　砒霜（二分）共為末。以紙包七重。打濕煨乾。入麝香（一分）　再研細。麻油調搽鼻尖上及眉心四肢。神驗。</p>

<h3>患黃</h3>
<p>韭根搗汁。日滴鼻中。取黃水出。愈。（或用黃疸門黃蠟紙筒方治之穩而且妙）小兒客忤。發作有時。　取母月衣覆兒上。大良。</p>

<h3>赤白痢</h3>
<p>莨菪子　羊肉（薄切布上）　綿裹納下部。不過兩次。瘥。飲食停滯。飽悶不消。　糯米一升炒熱。分作二布包。輪熨臍腹。助其脾氣轉運。立消。</p>

<h3>傷冷食及難化之物</h3>
<p>生薑（切片）　紫蘇（各四兩）　煎濃湯。置浴盆。令小兒乘熱坐湯。以手揉其胸腹。以熱湯淋之。氣通即化。或用二味搗爛炒熱。分作兩布包。輪流熨胸腹。如冷再炒再熨。神效。</p>

<h3>小兒無故卒死</h3>
<p>取蔥白納入下部。及兩鼻孔。氣通或嚏即活。</p>

<h3>痰喘</h3>
<p>巴豆（一粒）研爛綿裹塞鼻。男左女右。痰即自下。</p>

<h3>截驚</h3>
<p>以芭蕉汁　薄荷汁煎勻。塗頭頂。留囟門。塗四肢。留手足心勿塗。甚效。</p>

<h3>預斷驚風</h3>
<p>於小兒臥室養鴿數對。令小兒日嗅鴿味。自免。</p>

<h3>急驚風</h3>
<p>大梔子（一枚研末）　雞蛋（一個去黃用白）調勻。搽兒腹四圍。又明雄黃（五錢）　砂仁（六分）　梔子（五枚炒）　冰片（五釐）　共為細末。以雞子清調敷肚之四圍。如碗口大。</p>
<p>安臍眼。入麝香（五釐）上用綿紙蓋好。再以軟綿扎之。一晝夜後。溫水洗去。神效。又甜杏仁桃仁（各六粒）　黃梔子（七個）共研爛。加燒酒　雞子清　白乾面量患者年歲。作丸如胡桃大小。男左女右。置於手足二心。用布條紮緊一周時。手足心均青藍色。則病已除矣。效甚。</p>

<h3>慢驚風</h3>
<p>大紅芙蓉花（一朵）　將花心緊對小兒肚臍中貼。再用雞蛋一個煎餅。置花蒂上。一時即轉。又胡椒（七粒）　生梔子（七個）　蔥白（七根）　飛面（一撮）共研末杵和。再加雞子清（半個）調勻攤青布上。貼小兒心窩。一日夜除去。有青黑色即愈。如不效。再貼一服。愈後仍當服補脾之藥。</p>

<h3>急慢驚風</h3>
<p>白頸蚯蚓（刀截兩段跳急者治急驚跳慢者治慢驚）　加入麝香（一分）搗爛貼當臍。</p>
<p>外以膏藥蓋之。又用白絲毛雞（烏骨綠耳又名絨毛雞又名白鳳凰多出江西泰和縣）　以雞尾糞門向小兒肚臍上。無風雞則遠去。有風雞必貼緊吸拔風毒。少時即愈。神效之至。愈後須用麻油灌入雞口。以解其毒。（並治大人陰症）又杏仁　桃仁　糯米　胡椒　梔子（各七枚）共搗極爛。用雞子清調飛羅面敷足心。男左女右。敷過夜。次日腳板甚青黑。即愈。　</p>
<p>又芙蓉嫩葉（約五六瓣）　男單女雙（一作男雙女單）　搗爛。用雞蛋和入。煎熟作餅。貼臍上。冷則隨換。立愈。</p>

<h3>驚風煩熱</h3>
<p>慎火草煎水浴之。</p>
<p>暑驚　生半夏　皂莢（等分）　研末。吹鼻取嚏。即愈。（老少並用）</p>

<h3>烏痧驚風</h3>
<p>遍身都烏。急推向下。用黃土（一碗）研末。入陳醋一鍾炒熱包定熨之。引下至足。刺破為妙。小兒疳疾。及諸病後天柱骨倒。乃體虛所致。宜生筋散貼之。　木鱉子（六個去殼）　蓖麻子（六十粒去殼）　研勻。先包頭擦項上令熱。以津調藥貼之。</p>

<h3>小兒鼻塞頭熱</h3>
<p>用薰草（即蕙一兩）　羊髓（三兩）　銚內慢火熬成膏。去滓。日摩背上三四次。</p>
<p>頭縫不合（即解顱）　防風　白芨　柏子仁（各等分）　為末。以乳汁調塗。一日一換。又幹姜（七錢）　細辛（三錢）　肉桂（五錢）共為末。薑汁和敷顱上。小兒面赤即愈。又南星（微泡為末）醋調攤舊綢上。貼囟門。用熱手時時熨之。干則用熱醋潤濕。又茵陳　車前子　百合（各五錢）　為末。烏牛乳汁調塗足心。及頭縫開處。用綢包裹。二日一換。</p>

<h3>囟腫</h3>
<p>生下即腫者。黃柏末水調。貼足心。</p>

<h3>囟門陷下</h3>
<p>乃受冷所致。用半夏末水調塗足心。</p>

<h3>小兒發遲</h3>
<p>陳香薷（二錢）　水一盞。煎三分。入豬脂（五錢）和勻。日日塗之。又楸葉中心汁頻塗。</p>
<p>小兒閃癖。頭髮覺黃。極瘦弱者。　干林檎脯研末。和醋敷之。</p>

<h3>頭面胎毒</h3>
<p>桐油調輕粉塗之。多年不愈皆效。</p>
<p>小兒癤愈後。脫疤不長髮。用飯蠅搗塗。立生。</p>

<h3>禿瘡</h3>
<p>松香（研末五錢）　豬脂調搽。一日數次。數日即愈。又醃茄子炙灰。麻油調塗。</p>

<h3>蟮⿸疒貢頭</h3>
<p>活蝦蟆（一隻）　剝一整皮貼瘡上。奇效。又大蚌肉搗爛。加冰片（少許）攤患處。立愈。</p>

<h3>一切頭瘡</h3>
<p>松脂（研細）　輕粉（各五錢）和勻。油調敷。</p>
<p>黃水頭瘡（即肥瘡）　水邊烏柏樹根曬研末。（四五錢）　雄黃（一錢）　生油調塗。又雞蛋（三個）煮熟去白用黃。炒枯出油。搽上三五次。即愈。</p>

<h3>小兒目閉</h3>
<p>桑葉　白菊花煎湯。以青綢擦洗之。</p>

<h3>蓐內赤眼</h3>
<p>生地黃薄切。冷水浸貼。又取黃柏以乳浸點之。又雄雞膽燈心蘸點。神效。</p>
<p>又胡黃連（一錢）　研末。人乳調敷足心。（男左女右）又以蚯蚓泥搗敷囟門。干則易。三次愈。又生南星　生大黃（等分）為末。用醋調塗兩足心。又茶調胡黃連末塗手足心。即愈。</p>

<h3>眼痛</h3>
<p>取淡竹瀝拭之。又鯉魚膽點之。　車前草汁和竹瀝點之。</p>

<h3>誤將竹木刺眼</h3>
<p>白頸蚯蚓掐斷。滴血入眼。刺即出。</p>

<h3>小兒耳內濕爛</h3>
<p>上梅花冰片（二分）　爐甘石（煅一錢）　枯礬　粉口兒茶（各三分）　龍骨（煅）海螵蛸　赤石脂（各一錢）　橘皮炭（三錢）　蠶繭殼　石首魚腦骨（煅研細各二枚）上共為細末。加胭脂邊（二錢）　用紙包固。以水浸濕。用火煨炭存性和勻再研。吹之極效。</p>

<h3>耳瘡</h3>
<p>馬骨煅存性研末敷之。又雞糞白敷之佳。</p>

<h3>耳疳</h3>
<p>地骨皮煎湯洗。仍以香油調末搽。</p>

<h3>鼻衄不止</h3>
<p>以馬糞綿裹塞之。又燒發灰末吹鼻。又燒桑耳令焦搗末。納鼻孔中。作丸塞之。亦得。</p>

<h3>生下腮腫</h3>
<p>黃柏末水調。貼足心。效。</p>
<p>痄腮（兩腮腫硬有核又名螳螂子）　麝香（一錢）　硃砂（五分）　螺螄（七個）　同搗如泥。敷囟門上。俟干時自落。切勿剝去。若重者。將針微刺患處出血。以好陳墨搽之自愈。或溏雞糞塗之。更妙。切勿妄用刀割。致傷兒命。（後有芙蓉花諸方最妙）又蜒蝣（一條）　銀硃（一錢五分）　同研爛搽腫硬處。勿令擦去。即消。又絲瓜燒存性研末。水調搽之。又橄欖核醋磨濃汁。以鴨毛蘸塗。數次即效。又桑柴灰（少許）　入雄雞冠血。（二三滴）再加鹽滷（一匙）和勻。時時搽之。</p>
<p>初生小兒。或兩腮腫硬。或口內生瘡。或生馬牙。或重舌。木舌。蛇舌。吐舌。及口不開。不食乳等症。　芙蓉花（或葉或皮或根）捶極融爛。用雞蛋（二個）和勻。煎熱。候冷。敷心口。並肚臍。用布紮緊。屢試如神。又生香附　生半夏（各二錢）　研末。生雞子清調作餅。貼兩足心。一周時即愈。此引熱下行法也。又吳茱萸（四錢）好醋調敷兩足心。又如口舌破爛者。用活鯽魚以尾入口中。頻頻搖擺。隨擺隨換。能去口中熱毒初用時兒尚啼哭。用一二次後。口內生涼。兒自不啼。尾雖有刺甚軟。並不傷人。治後即能食乳。不過三日。全愈。</p>

<h3>鼻疳蝕爛</h3>
<p>膽礬燒煙盡研末摻之。一二日愈。</p>

<h3>口疳</h3>
<p>甘蔗皮燒灰研末。吹之效。又吳茱萸（二兩）　研末。少加麵粉醋調作二餅。貼兩足心。以布扎之。過夜即愈。（並治咽喉疼痛）</p>

<h3>口瘡</h3>
<p>荸薺燒存性研末摻之。又寒食麵（五錢）　硝石（七錢）水調半錢。塗足心。男左女右。</p>

<h3>口角生瘡</h3>
<p>亂髮燒灰。豬油調搽。又蒸飯時收甑蓋上流下氣水。搽之效。</p>

<h3>口流涎水</h3>
<p>新桑根白皮搗自然汁塗。乾者煎濃汁塗之。效。</p>

<h3>口生白點</h3>
<p>（俗名雪口又名鵝口）　</p>
<p>馬蘭頭搗汁。抹之神驗。又檳榔燒枯研末。點之立效。</p>
<p>又黍米嚼濃汁塗效。又赤小豆研末。醋和塗。（並治重舌）</p>

<h3>唇腫</h3>
<p>桑木汁塗之。</p>

<h3>唇緊</h3>
<p>赤莧搗汁洗之。又馬芥子搗汁曬濃。揩破頻塗之。又頭垢塗之。</p>

<h3>重舌</h3>
<p>黃柏浸苦竹瀝點之。又巴豆（半粒）　飯（四五粒）　共搗爛為餅。如黃豆大。貼在印堂中。待四圍起泡。去之即愈。各項舌病皆效。</p>

<h3>舌膜</h3>
<p>初生小兒。有白膜皮裹舌。或遍舌根。可用指甲刮破。令出血。以燒礬末。拌如綠豆大。敷之。若摘去。兒必啞。</p>

<h3>舌筍</h3>
<p>小兒不吃乳啼哭。即看舌上倘起白泡一粒。名舌筍。不治即死。急用鮮生地取汁。如無鮮者。以乾生地涼井水浸開。搗爛取汁。塗患處數次。漸愈。</p>

<h3>木舌</h3>
<p>黃葵（一錢為末）　黃丹（五分）　和敷。又蒲黃研末。時敷舌上。其腫自消。</p>
<p>舌忽脹大腫硬。即時氣絕。名翣舌。百草霜酒調塗舌上。即消。又幹姜　蒲黃（等分）為末。乾擦患處。</p>
<p>蛇舌（其舌常卷兩邊口角者是）　明雄黃研末。點舌數次即安。</p>

<h3>舌瘡飲乳不得</h3>
<p>白礬和雞子置醋中。搽兒足底自愈。</p>

<h3>語遲</h3>
<p>小兒四五歲。只會叫人。不能言語。以赤小豆研末。酒調塗舌下。二三次即能說話。</p>

<h3>喉嘶聲啞</h3>
<p>蝦蟆膽取汁。點舌上立愈。</p>

<h3>頸軟</h3>
<p>乃肝腎虛風襲入。用生附子。（去皮臍）　生南星（各二錢）　為末。薑汁調。攤貼天柱骨上。</p>

<h3>項上瘰癧</h3>
<p>以榆白皮爛搗如泥。封之。頻易。</p>

<h3>乳癖</h3>
<p>白芥子研末水調。攤膏貼之。以平為期。</p>

<h3>龜背</h3>
<p>龜尿調首烏末。敷背上。日久自愈。</p>
<p>背上起白泡。累如綴珠。一二日即破。膿血外流。癢甚。一處方好。一處又起者。如意草搗爛敷之。長巾縛定。一夜即愈。</p>

<h3>腹鳴如蛙</h3>
<p>淡豆豉　生薑（各二錢切碎）　蔥（五莖）　食鹽（一兩）　同炒熱。置臍上熨之。效。又蔥姜煎濃湯。洗肚腹。另用蔥姜搗爛。炒熱作餅。貼臍上。良久即愈。</p>

<h3>盤腸內釣腹痛</h3>
<p>蔥湯洗兒腹。仍以炒蔥搗貼臍上。良久尿出痛止。</p>

<h3>肚臍腫出</h3>
<p>紅飯豆　淡豆豉　南星（去皮臍）　白蘞（各一錢）　共為末。用芭蕉（無葉用根）自然汁調敷臍四旁。即愈。</p>

<h3>臍爛成風</h3>
<p>杏仁去皮研敷。</p>

<h3>臍風嘬口</h3>
<p>以艾葉燒灰填臍上。用帛纏之。若臍帶已落。用蒜切薄片貼臍上。以艾火灸之。候口中有艾氣。立愈。</p>

<h3>預防臍風</h3>
<p>枯礬　硼砂（各二錢五分）　硃砂（二分）　冰片　麝香（各五釐）　共為末。凡小兒下地洗過後。用此末摻臍上。每日換尿布時。仍摻此末。摻完一料。永無臍風等症。</p>
<p>臍內汁出不止。兼赤腫。　取東壁土末敷之。又大紅呢燒灰為末。敷之。又甘草（炙）　螻蛄（熬各三分）　搗末。安臍中。瘥止。又黃柏（炙一兩）　釜底墨（四分）　搗末。敷臍中。良。又白石脂（一兩）研末熬令溫。以敷臍瘡。甚良。</p>

<h3>臍不幹</h3>
<p>棉花子燒灰。每用（一錢）敷之。又當歸（煅焦研末）　胡粉（等分）敷之。</p>

<h3>臍瘡</h3>
<p>馬齒莧（燒研末）敷之。</p>

<h3>初生腎縮</h3>
<p>乃受寒所致。用硫黃　吳茱萸（各三錢）　研極細末。搗取蔥汁調藥末塗臍腹。另以蛇床子燒煙燻之。即伸。</p>

<h3>初生陰囊過大（名胎疝）</h3>
<p>久恐變成木疝。如過滿月外。或一歲以內。俟端午日午時。以腳盆盛熱水。安於中堂。隨抱小兒。將陰囊放水內一浸。再將小兒在於中門檻上中間一擱。其陰囊上之水。印痕於檻。將艾火在檻上濕印處燒三次。其囊逐漸收小如故。神效。又石蟹用好醋磨汁搽之。</p>

<h3>㿉疝胎疝</h3>
<p>雙蒂茄懸房門上。出入視之。茄蔫。所患亦蔫。茄干亦干矣。又法雙茄懸門上。每日抱兒視之。二三次。釘針於上。十餘日即消。</p>

<h3>腎囊虛腫</h3>
<p>甘草濃煎汁。調地龍糞搽之。</p>

<h3>陰囊赤腫</h3>
<p>老杉木燒灰存性。加宮粉和清油調敷。</p>

<h3>忽然陰腫</h3>
<p>此被蚯蚓吹腫。令婦人以吹火筒吹之。即消。又真硼砂研末。水調敷。又雄鴨涎抹之即消。</p>
<p>陰囊腫墜光亮。啼哭疼痛。　蟬蛻（一兩）煎湯洗。再用生紫蘇葉搗成泥。包之而愈。或用乾紫蘇研末。濕則干敷。干則香油調敷。雖皮破子出。悉有神效。</p>

<h3>初生小便不通</h3>
<p>用豬毛於陽物眼上刺去薄皮。即通。</p>
<p>小便數日不通。遍身腫滿。　蘇葉（一斤）　煎濃湯一盆。抱小兒向盆中熏之。冷則再換熱湯。外用炒鹽熨臍上。及遍身腫處。即愈。又連須蔥白（一斤）搗融炒熱。分作二包。輪流熱熨臍下。又皂角末吹些須入鼻。令其噴嚏。百藥不效者。用此即通。又嚼生蔥以綿裹（少許）納小便道中。即通。</p>

<h3>初生糞門閉塞</h3>
<p>以金銀簪挑開一孔。不可過深。用油紙捻套住。免其再合。</p>
<p>大便不通　白蜜（一合）　煎為丸。納下部中。即通。</p>

<h3>初生大小便不通</h3>
<p>急令婦人以熱水嗽口。吸吮小兒前後心及臍下。數次即通。（一方並吸兩手足心共七處）又連須蔥頭（七個）　生薑（一大塊）　豆豉　食鹽（各三錢）同搗作一餅。焙熱掩肚臍上。帶扎住。良久自通。</p>

<h3>胎癩</h3>
<p>土茯苓（二兩焙研）　苦參（五錢焙研）　陳芭扇（一兩炙）　用柏油一杯調塗。可除根。此藥初搽必痛。過時即止。勿畏也。</p>
<p>水腫（從腳起入腹則難治）　油杉根切碎（杉木切斷內色紅者是油杉若色白者不堪用）煎濃湯。將腫腳先熏後洗。一二次自消。又以紅糟一大碗。加生薑生蔥。三味同煎湯。先熏後洗。</p>

<h3>小兒丹瘤</h3>
<p>蓖麻子（五個去皮）　研入面一匙。水調塗之。甚效。</p>

<h3>丹毒</h3>
<p>蕎麥麵醋調塗。又慎火草搗以封之。瘥止。又搗藍汁塗之。又藍靛塗之。妙。　</p>
<p>又苧麻根搗汁頻浴。效。又丹毒遍身。百方不效者。用蕓薹菜葉（即油菜）搗爛敷之。隨手即消。如無生菜以乾者為末。水調敷。</p>

<h3>火丹</h3>
<p>（熱如火繞臍即損人）　</p>
<p>馬齒莧搗塗之。又搗梔子。調水塗之。又桑白皮煮汁浴。或為末。羊膏和塗。</p>

<h3>五色丹遊</h3>
<p>（多致殺人）　</p>
<p>敗蒲席燒灰。和雞子白塗之。效。</p>
<p>赤白遊疹。火焱熱瘡。　藻菜搗爛封之。</p>
<p>嬰孺風疹。在皮膚不出。及熱瘡丹毒。　慎火苗葉（五兩）　和鹽（三兩）同絞汁。以熱手磨塗。日再。</p>

<h3>蟲瘡</h3>
<p>榆皮末和豬脂塗綿上覆之。蟲出。立瘥。</p>

<h3>天泡瘡</h3>
<p>藍葉搗敷之。良。</p>

<h3>浸淫瘡</h3>
<p>燒艾作灰。敷之。又以牛屎燒作灰。敷之。</p>

<h3>惡瘡</h3>
<p>取筍煮汁洗之。又燒筍皮作灰。敷之。又取豆豉熬令焦黃末以敷之。瘥止。</p>

<h3>蠼螋瘡</h3>
<p>燕窠土研末。以豬脂和塗之。干易。</p>

<h3>疳瘡</h3>
<p>嚼栗子塗之。瘥。</p>

<h3>癬瘡</h3>
<p>枸杞根搗末。和臘月豬膏敷之。又煎馬尿洗之。又揩破。以牛鼻上津塗之。</p>

<h3>濕癬</h3>
<p>桃樹青皮為末。和醋頻敷之。</p>

<h3>疥癬</h3>
<p>藁本煎湯浴之。並以浣衣。</p>

<h2>痘瘄</h2>

<h3>免出痘法</h3>
<p>陳夕昏黃時。取大黑魚一尾。小者用二三尾。煮湯。浴小兒遍體。須七竅俱到。可免出痘。不可嫌腥。而另以清水灌濯。如不信。試留一足一手不洗。他時痘多出在不洗處。此方異人所傳。毋以易而忽之。</p>

<h3>不出天花經驗方</h3>
<p>天麻子（三十粒去殼衣揀肥大者）　硃砂（一錢揀明透者）　麝香（五釐揀真淨者）　上三味。先將硃砂麝香研極細末。後入天麻子。共研成膏。於五月五日午時。擦小兒頭頂心。前後心。兩手心。兩足心。兩腳灣。兩脅。共十三處。俱要擦到。不可短少。擦如錢大。勿使藥有餘剩。擦後不可洗動。聽其自落。本年擦過一次。出痘數粒。次年端午再擦一次。出痘三粒。再次年端午再擦一次。</p>
<p>永不出痘。如未過周歲小兒。於七月七日。九月九日。依法擦之更妙。男女治法皆同。傳方之家。不出天花三世矣。又凡嬰兒不論男女。用川楝子（選肥大光潔者）於⿰石臼內搗爛。（一歲至三歲七個水三碗四五歲者九個水五碗六七歲者十五個水七碗八歲至十歲者二十個水九碗十一歲至十五歲者用川楝子三十個水十五碗）新砂鍋煎濃。傾入盆內。避風處。將新白布一方蘸水。自頭至足。遍身洗擦。不留余空。仍將布擦乾。避風一刻。搗藥忌鐵器。非但不出痘。且免瘡癤。洗浴日期。須擇七個除日。洗七次。如五月至八月初止。內有七個除日。俱在熱天。更妙。</p>

<h3>解穢法</h3>
<p>凡犯房事經水生產穢。以大棗燒煙解之。若防發癢者。以樺皮和大棗燒煙解之。被酒氣犯者。以葛根茵陳蒿燒煙解之。犯五辛氣者。以生薑燒煙解之。被死屍氣及癘氣所犯者。以大黃蒼朮燒煙解之。被狐臭犬羊氣犯者。則燒楓樹葉解之。若遇風雨時者。則燒蒼朮楓樹葉解之。若血少而漿難之痘。則忌燒蒼朮。蓋恐愈燥而漿愈難耳。若遇諸惡氣。則以乳香燒煙燻之。以胡荽酒噴之。俗有煮醋熏痘者。以醋能活血。殊不知醋能收斂。大非所宜也。</p>

<h3>暑月出痘</h3>
<p>房中多置涼水。以收熱氣。心自清涼。</p>

<h3>冬月出痘</h3>
<p>房中多置炭火。以除寒氣。使血氣和暢為妙。</p>

<h3>防痘入目</h3>
<p>胭脂不拘多少。口中嚼汁。頻揩眼眶。則痘不入目。如已見點。用牛蒡子不拘多少。在母口中嚼爛。貼兒頭囟門。甚良。又白芥子末水調塗足心。引毒歸下。令瘡疹不入目。</p>

<h3>痘出眼中</h3>
<p>本兒生母中指上。刺血一點。滴入眼。痘即移出。又豬血點之。即不生翳。　</p>
<p>又黑狗耳上血一滴。點眼內。其痘即除。又鱔魚尾血點之。即移開。又象牙磨水。滴入眼中。即退。又蜒蝣蟲放眼皮上。周圍走動。吐出涎水。其痘自散。屢效。又細茶葉口嚼敷眼外。又鯽魚膽點之。良。（鰱魚膽亦可）又益母草浸水點之。又輕粉（少許）　東丹（倍用）　共研末。捲入紙條。剪斷見藥。或注蔥管內。入耳內。左眼則置右耳。右則置左。即移去。（並治痘後目中有翳）</p>

<h3>出痘眼目紅腫</h3>
<p>人乳汁蒸熱點之。又金銀花　胭脂　人乳汁取燈心蘸點之。</p>

<h3>出痘眼有膿血</h3>
<p>兔子糞清油調塗。</p>

<h3>出痘眼痛</h3>
<p>翳子草搗爛。左眼痛塞右鼻。右塞左鼻。</p>

<h3>舌與鼻孔有痘</h3>
<p>黃丹　老土磚共為細末吹之。又青扣布燒灰吹之。又硼砂　檀香燒枯。共為末吹之。又先用皂角末吹入。再用黃蠟塞鼻。</p>

<h3>舌上有痘</h3>
<p>人中白（焙）　硼砂　兒茶共為末。摻舌上。又先用茶洗淨。將京墨磨水粉調塗之。又先用鹽茶洗淨。用黃柏　黃連　元參　苦參共為末。蜜調塗之。又鴨糞燒灰研末。鴨毛蘸摻之。</p>

<h3>舌上爛痘</h3>
<p>用油胭脂敷。最妙。又硼砂（水飛）　冰片點之。</p>

<h3>出痘腎腫</h3>
<p>桑樹皮　細茶　生薑　槐樹皮共搗。清油拌炒包之。又若腎紅腫。取藍靛腳汁擦之。或用青黛敷之。又如風腫者。用鹽炒熱熨之。或用槐花葉炒熱敷之。</p>

<h3>腎嘴有痘</h3>
<p>公鴨嗄氣數次。即消。</p>

<h3>陰口有痘</h3>
<p>（女子陰內有痘同）</p>
<p>雄黃研末。清油攪勻。鴨毛蘸擦。</p>

<h3>痘症小便不通</h3>
<p>細茶嚼融。紙包敷臍上。又樟樹皮　姜　蔥　老艾　共搗爛炒熱。放小肚上。女人放陰門上。即通。</p>

<h3>痘症大便不通</h3>
<p>蔥一把。搗作餅。敷臍上。用錫壺盛滾水。熨蔥上即通。女子出痘。天癸忽至。　月月紅（連枝葉）煎湯。抹周身。</p>
<p>孕婦出痘。腹痛胎動。　益母草　蓮蓬殼（俱燒存性）　艾葉共研末。醋調敷臍。連換三次。胎自安。又或胎欲下。及死胎不下。蜣螂蟲（連所堆泥一併焙末）加威靈仙同研。用酒調為丸。納臍中。將膏藥貼住。（不拘何項膏藥）三炷香久為度。其胎即下。（並治經閉不通）</p>

<h3>悶痘及毒重</h3>
<p>悶痘毒重。至三四朝後。或二便下血極危者。覓活蟾蜍。至少四五十隻。將兒脫盡衣裳。蓋在被內。令側臥。輕將蟾堆在前後心。以次排放至下身。蟾得溫氣。自能將頭頂住兒身。兒得蟾酥。開竅。痘自出矣。不要驚動。一晝夜後。將蟾取出。用冷水頻頻浴之。以解痘毒。切不可傷之。冬間蟾在向陽桑樹下。掘之可得。</p>

<h3>雜痘一齊湧出</h3>
<p>楊柳葉　柑子葉　老艾葉　臘樹葉共煎水。遍身洗之即退。又清油（一杯）　白蠟　生薑汁　硃砂　雄黃共熬熱。從頭至足。遍身一揩。雜痘一退。正痘即見。</p>
<p>痘症發熱。胡言亂語。　千腳泥搗碎。雞子清調敷臍上。又藍靛腳汁（一杯）　燕子泥調敷臍上。燒五寸香久。取去。又生蘿蔔搗爛。和鉛粉作餅。敷腳心。又燕子窩泥雞子清調餅。敷臍上。又小雄雞（一隻）　剖開。用雄黃　麻油塗入雞肚內。將雞敷臍上。最穩。最妙。（並治痘齊熱退愛睡地上）</p>
<p>皮肉紅腫。而痘不腫。　黑豆　綠豆　紅飯豆共研細末。再將醋研為濃汁。以鵝毛掃之。神效。</p>

<h3>痘瘡發癢</h3>
<p>茵陳燒煙燻之。良。</p>
<p>痘中生蛆。癢不可忍。　桃葉不拘多少。揉軟蓋在痘瘡上。並墊身下即消。又醋湯遍身噴之。又嫩柳葉鋪席上臥之。蛆盡出而愈。</p>

<h3>痘瘡黑陷</h3>
<p>沉香　檀香　乳香（各等分）　爇於盆內。抱兒於上。熏之即起。</p>

<h3>痘中黑疔</h3>
<p>將疔挑破出紫血。以蒲公英膏塗之。</p>
<p>痘症潰爛。膿水淋漓。　多年蓋屋茅草。洗淨焙乾。為末摻之。神效。又松花粉摻之。效。又黃牛糞焙乾研末。清油調敷。又紫草　麻油熬成膏。和白蠟再熬數滾。取起敷之。爛痘。及面上抓破者。　密陀僧　滑石（各二兩）　白芷（五錢）　共研極細末。濕則乾摻之。或用白蜜調敷。良。</p>

<h3>痘不落痂</h3>
<p>羊脛骨髓同煉蜜（一兩）　輕粉（一錢）和成膏塗之。痘痂即落。且滅瘢痕。又豬骨髓　白蜜共搗勻。火上熬三五沸待冷。用雞翎刷上。數次即落。又十二朝不落。不免痘毒等症。煮雞蛋黃去白。用鐵杓炒取油冷定。雞毛蘸塗。立落如神。</p>

<h3>痘毒</h3>
<p>糯米粽尖焙灰冷定。同百草霜拌勻。灑毒上。神效。又生螃蟹　飛羅面搗膏。貼患處。效。又陳小粉　山藥共搗爛。敷患處。干則換。毒即退。如已爛用杜仲　牡蠣　煨石膏（各等分）　研細。以白蜜調敷。乾摻亦可。</p>

<h3>移痘毒法</h3>
<p>痘毒生要害之處。如兩臂灣兩腿灣。謂之四環痘毒。不傷命即殘廢。當用移毒之法。以生黃豆在口中嚼爛。塗痘毒上。不必留頭。連塗數次。輕者消散。重者移生他處。極效。</p>
<p>痘後餘熱結毒。纏綿不愈。　赤豆　黃豆　黑豆（各等分）　浸水中一日。搗爛塗患處。干即更換。敷上用油紙隔。包好立愈。名三豆散。</p>
<p>痘後餘毒。結成癰疽。連珠不已。　馬齒莧（搗汁）　豬油　白蜜（各一碗）共熬膏塗之。（並治年久惡瘡頭上禿瘡）</p>
<p>痘後風眼。或起翳。或紅赤。　經霜桑葉（七片或冬至收或立冬收）　蒸水半鍾。加入食鹽（少許）早晚洗。又頂上。胭脂泡水。鋪紙上。以新筆在紙上蘸水。一日點三次。三日即愈。又仰臥床上。取黃鱔尾上血滴入。閉目。少頃拭去。一日三五次。即愈。重者數日全愈。但必須鱔魚尾血。每次換一鱔。用過即放去。諸藥不效者。此最應驗。</p>

<h3>痘後兩目難開</h3>
<p>燈心蘸清油潤眼上。又黃柏末入水久浸。將紙染濕。鋪眼胞。又黃連　黃柏　黃芩　元參乳汁調勻。飯上蒸擦之。又黃豆口嚼成餅。敷之。又自己熱小便。黃紙浸濕貼之。</p>
<p>痘後耳內腫痛。時流膿血。　先用棉花攪淨膿血。然後用黑砂糖調水少許。滴入耳中。其痛立止。其汁自干。戒勿抓挖。即愈。</p>

<h3>痘後肚腹腫脹</h3>
<p>黃柏　苦參共為末。清油調勻。熬過作膏。貼之。又桐子葉（滾水泡軟）　用清油　雄黃塗葉上。貼三五次。效。又燈花數十朵。入鹽炒過。加鉛粉調成餅。貼臍上。</p>
<p>痘後遍身無皮。膿水不絕。　茶葉（去梗）　熱水泡透鋪床上。睡上一夜。膿水自干。</p>
<p>痘後蟲蝕疳瘡。膿水不絕。　出蛾蠶繭不拘多少。將生明礬末入內填滿。燒令汁盡成灰。為末摻之。即愈。</p>

<h3>痘風瘡逢春即發</h3>
<p>黃丹　黃芩　黃柏　大黃　輕粉共為末。豬油調敷。</p>
<p>疹發未透。冒風忽隱。腫脹氣促。命在頃刻者。　生蔥頭（一二斤）　連須搗爛。放盆內。盆置床上帳中。盆面橫一板。將兒坐於板上。然後將滾水衝入盆內。以蔥氣熏兒周身。稍溫即抱起。在帳內勿受一線風吹。疹仍透出而安。</p>
<p>麻發不透。氣喘欲死。　芝麻（五合）　以滾水泡之。乘熱熏頭面。即發。又沉香　木香　檀香不拘多少。於大盆內焚之。抱小兒於煙上熏之。即起。</p>

<h3>麻症作癢</h3>
<p>好白蜜調水。以鵝翎時時蘸掃。</p>

<h3>瘄乖</h3>
<p>用桃葉浸鹽滷擦。</p>
<p>羊毛疹。眼目黃色。指甲多紫色。用燒酒摶黃土。慢揉擦心口。</p>

<h1>跋</h1>
<p>外治壽世方初編四卷。予友鄒君儷笙所手輯。而囑予校勘者也。外治之法。惟針灸最古。然非熟讀靈樞。深明經絡者。不能用以施治。故世之醫者。動以法仲景為言。而實未窺仲景之堂奧。不過廢棄針灸。僅知以湯液治病而已。第老人小兒。不喜服藥者多。一則精血耗竭。一則臟腑嬌嫩。要皆不堪攻伐。產婦癆人。用藥更難。古方所以有熨浴熏蒸諸法。以補其術之窮。唐宋諸公。在在講求。且有湯藥不能盡病之說。則除針灸以外。非用熨浴熏蒸之法。將何以收其功效。是編之成。固宜於窮鄉僻壤醫家鮮少之區。亦豈不為杏林切要之書哉。</p>
<p><u>光緒三年丁丑天中節新安胡增彬謙伯氏跋。</u></p>
