<header data-type="book">
<h1>葛可久十藥神書歌訣</h1>
</header>

<h1>總訣</h1>
<p>血證成癆最難治，《十藥神書》傳葛氏。其中次第共十方，從頭說與君家記。假如嘔血吐血或嗽血，先服十灰散揭截。若還不止花蕊散，即血如噴亦能歇。血止之後人必虛，大劑獨參湯補諸。令其熟睡聽其醒，病根逐漸好刪除。遂與保和保真相間餌，二湯藥味有加使。清金潤燥保和良，補肺扶羸保真美。更須吞嚼太平丸，此藥能令肺竅寬。但是咽乾並咳嗽，薄荷湯化服之安。假如熱痰壅嗽甚，沉香消化丸兼進。依前仍嚼太平丸，二藥相攻功益迅。解嗽可煮潤肺膏，復其元氣固根本。白鳳膏專補肺癆，培土生金法最捷。若夫補髓丹，又名十珍丸。此則病愈之後收功藥，逐一條陳要熟諳。十方各自編歌括，用法須從總訣參。</p>

<h1>甲字十灰散</h1>
<p><u>主治：</u>　治嘔血吐血，咯血嗽血，宜先用此藥止之。</p>
<p><u>藥物組成：</u>　大薊　小薊　荷葉　扁柏葉　茅根　茜根　山梔　大黃　牡丹皮　棕櫚皮（各等分）　上藥各燒灰存性，研極細末，用紙包，碗蓋於地上一夕，出火毒。</p>
<p><u>用法：</u>　用時先將白藕搗汁或蘿蔔汁磨京墨半碗，調服五錢，食後服下。如病勢輕用此立止。如血出成升斗者，用花蕊石散止之。</p>
<p><u>歌訣：</u>　十灰（散）茜草白茅根，側柏棕荷二薊存，梔子丹皮大黃等，燒灰藕墨汁調吞。寒能止血灰能澀，（大抵血得熱則行，得寒則凝，見黑則伏。又灰性澀，澀可固脫，此自然之理也）。此藥可推吐血尊。</p>

<h1>乙字花蕊石散</h1>
<p><u>主治：</u>　治五藏崩損，湧噴血出成升斗者，用此止之。</p>
<p><u>藥物組成：</u>　花蕊石（火煅存性）研為末。</p>
<p><u>用法：</u>　用童便一杯燉溫，調末三錢，甚者五錢，食後服下。男子用酒一半，女子用醋一半，與童便和藥服。使瘀血化為黃水。後以獨參湯補之。</p>
<p><u>歌訣：</u>　花蕊石散一味超，（李時珍曰：此藥舊無氣味，今嘗其氣平味澀而酸，厥陰經血分藥也，功專止血，能使血化為水，酸以收之也，療婦人惡血、血暈、下死胎、落胞衣、去惡血，血去而胞胎自下也。）煅研重便燉溫調。（花蕊石色如硫黃，黃石中間有白點者故名。凡入丸散，須用罐封固，濟火煅過，研細末，飛用之）。婦人和醋男和酒，服下三錢瘀頓消。（程瘦樵曰：治吐血者競推葛可久，而先生首以二方止血，明明劫劑，毫無顧慮。及細玩之，始知先生制方之意，入理之精也。人生於陽根於陰，陰氣虧則陽氣勝，上氣為之喘促，咳嗽涎沫，發熱面紅，無不相因而至，故留得一分自家之血，即得減一分上升之火，此所以急於止血之大旨也。）</p>

<h1>丙字獨參湯</h1>
<p><u>主治：</u>　血止後，即以此湯補之。</p>
<p><u>藥物組成：</u>　大人參（二兩去蘆），棗五枚。</p>
<p><u>用法：</u>　每服水二盞，煎一盞，徐呷之。服後熟睡一覺，後進諸藥除根。</p>
<p><u>歌訣：</u>　獨參湯獨用人參，大棗五枚流水烹。（《千金方》云：煎人參湯，須用長流水，若止水即不驗）血止體虛精神怯，陽生陰長此方珍。（自注云：熟睡一覺，使神安氣和，則煩除而自靜，蓋人之精由靜而生，亦由靜而復也，奈何今之醫者，遇吐血症，乃視參如砒毒耶。不知有形之血，不能即復，而幾微之氣，所當急固乎？頓服獨參湯，不但血脫可補，且有陽生陰長之理存焉。前方雖有止血之功，而無補益之力，故以此方繼之，凡失血後精氣怯弱，神思散亂者，當遵此法治之。）</p>

<h1>丁字保和湯</h1>
<p><u>主治：</u>　治久嗽肺燥成痿。</p>
<p><u>藥物組成：</u>　知母　貝母　天門冬　款冬花（各三錢）　天花粉　薏苡仁　杏仁　五味子（各二錢）　甘草　兜鈴　紫菀　百合　桔梗　阿膠　當歸　地黃　紫蘇　薄荷　百部（各錢半）</p>
<p><u>用法：</u>　上以水二盞，生薑三片，煎一盞。入飴糖一匙調服。日三，食後各進一盅，與保真湯相間服。血盛加炒蒲黃、茜根、藕節、大薊、小薊、茅花、當歸。痰盛加南星、半夏、陳皮、茯苓、枳殼、枳實。喘甚加桑自皮、陳皮、蘿蔔子、葶藶子、蘇子。熱甚加山梔子、黃連、黃芩、黃柏、連翹、大黃、款冬花。風盛加荊芥、防風、菊花、細辛、香附子、旋覆花。寒盛加人參、桂枝、蠟片、芍藥。</p>
<p><u>歌訣：</u>　保和（湯）知貝款冬苡，花粉甘桔兜杏味，紫蘇紫菀薄荷歸，百合百部阿膠地。加姜三片飴一匙，久嗽肺痿煎服此。此與保真相間服，臨證隨宜加味餌。血痰喘熱及風寒，六般加味分頭治。血盛蒲黃茜草歸，藕節二薊茅花配。痰甚星夏茯陳枳，喘甚桑皮葶藶子。熱甚四黃翹款梔，寒盛人參芍藥桂。風盛荊防旋覆花，甘菊細辛香附使。</p>

<h1>戌字保真湯</h1>
<p><u>主治：</u>　治虛弱骨蒸。</p>
<p><u>藥物組成：</u>　當歸　生地黃　白朮　黃耆　人參（各三錢）　赤茯苓　陳皮　赤芍藥　甘草　白茯苓　厚朴（各一錢五分）　天冬　麥冬　白芍藥　知母　黃柏　五味子　柴胡　地骨皮　熟地黃（各一錢）　姜（三片）　棗子（五枚）</p>
<p>用法：水二盞，煎服。與保和湯間服，每日一服。驚悸加茯神、遠志、柏子仁，酸棗仁。淋濁加萆薢、烏藥、豬苓、澤瀉。便澀加石葦、扁蓄、木通、赤苓。遺精加龍骨、牡蠣、蓮心、蓮鬚。燥熱加石膏、滑石、鱉甲、青蒿。盜汗加浮小麥、牡蠣、黃耆、麻黃根。</p>
<p>歌訣：保真（湯）二地參耆朮，陳樸歸甘知柏柴，二苓二冬並二芍，骨皮五味棗姜加。假如驚悸加酸棗，淋濁豬苓萆薢偕。便澀木通萹蓄草，遺精蓮蕊蠣龍佳。若然燥熱蒿膏鱉，盜汗麻根浮麥誇。此劑甘溫佐甘苦，骨蒸勞熱保無差。（按前保和湯，因失血之後，氣血未調，率難把握，故大旨以瀉肺中伏熱，益下焦之化源為治。此保真湯則氣血之味俱等，大旨以甘溫為主，甘涼佐之，而苦寒又佐之，大補其正，兼瀉其邪。前方止咳寧肺，此方補虛退熱，各有所長。然曰相間服之，當視其嗽之輕重、虛之微甚，相其病勢之孰緩孰急而為之治。二方加法大備，然非盡用，亦姑列之以俟去取耳。）</p>

<h1>己字太平丸</h1>
<p><u>主治：</u>　治久嗽肺痿，肺癰。</p>
<p><u>藥物組成：</u>　天門冬　麥門冬　知母　貝母　款冬花（各二兩）　杏仁　當歸　熟地　生地　黃連　阿膠（各一兩五錢）　蒲黃　京墨　桔梗　薄荷（各一兩）　白蜜（四兩）　麝香（少許）　為細末和勻，用銀石器先下白蜜煉熟，後下諸藥末，搗勻，再上火入麝香，略熬三二沸，丸如彈子大。</p>
<p><u>用法：</u>　每日三丸，食後細嚼一丸，薄荷煎湯緩緩化下。臨臥時如痰盛，先用飴糖拌消化丸吞下，卻噙嚼此丸，仰臥使藥流入肺竅，則肺清潤，其嗽退除，服七日病痊。凡咳嗽只服此藥立愈。</p>
<p><u>歌訣：</u>　太平（丸）二地二冬兼，知貝連膠桔杏參，京墨蒲黃歸薄款，麝香少許蜜為丸。失血之餘久咳嗽，肺家癰痿效皆堪。（按：太平丸非正方也，因失血之餘，服前保和保真二方，正氣漸復。嗽猶未止，恐肺絡中尚留一分未盡之餘熱，特於晏息之時噙服此丸，使人於靜中不知其所以然，而藥力無不到，此少許麝香之所以神妙耳。）</p>

<h1>庚字沉香消化丸</h1>
<p><u>主治：</u>　治熱咳痰壅。</p>
<p><u>藥物組成：</u>　青礞石　明礬（飛研細）　豬牙皂角　生南星　生半夏　白茯苓　陳皮（各二兩）　枳殼　枳實（各一兩五錢）　黃芩　薄荷（各一兩）　沉香（五錢）　為細末和勻，薑汁浸神麯糊丸，梧桐子大。</p>
<p><u>用法：</u>　每服一百丸。虛人五六十丸。每夜臨臥飴糖拌吞。若非熱痰壅盛者，不可輕服此丸。</p>
<p><u>歌訣：</u>　沉香消化丸礞皂，明礬星半生研要，陳苓二枳薄荷芩，薑汁神麯糊丸好。臨臥飴糖拌服之，熱痰壅嗽斯方妙。</p>

<h1>辛字潤肺膏</h1>
<p><u>主治：</u>　治久嗽肺燥、肺痿。</p>
<p><u>藥物組成：</u>　羊肺（一具）　杏仁（淨研）　柿霜　真酥　真粉（各一兩）　白蜜（二兩）　先將羊肺洗淨，次將五味入水攪黏，灌入肺中，白水煮燒。</p>
<p><u>用法：</u>　如常服食。</p>
<p><u>歌訣：</u>　潤肺膏中用柿霜，杏仁真粉蜜酥將。五藥灌於羊肺內，煮熟如常服食良。</p>

<h1>壬字白鳳膏</h1>
<p><u>主治：</u>　治一切虛勞咳嗽吐痰、咯血發熱。</p>
<p><u>藥物組成：</u>　烏嘴白鴨（一隻）　大京棗（二升）　參苓平胃散（一升）　陳煮酒（一瓶）</p>
<p><u>製法、用法：</u>　上將鴨縛定腳，量患人飲酒多少，隨量以酒燙溫，將鴨項割開，滴血入酒，攪勻飲之。直入肺經，潤補其肺。卻將鴨乾淨去毛，於脅邊開一孔，取去腸雜，拭乾。次將棗子去核，每個中實納參苓平胃散末，填滿鴨肚中，用麻扎定，以砂瓶一個，置鴨在內，四圍用火慢煨，將陳煮酒作三次添入煮乾為度，然後食。棗子陰乾，隨意用參湯送下。後服補髓丹，則補髓生精，和血順氣。</p>
<p><u>歌訣：</u>　白鳳膏醫勞嗽劑，平常服餌乃奇異。其藥參苓平胃散，（參苓平胃散即《局方》平胃散加人參、茯苓。）益以陳京棗而已。其法取用白鴨血，溫酒攪和先飲耳。卻將藥末納棗中，以棗填實鴨腹裡。慢火圍煨陳酒煮，熟爛先將鴨肉餌。棗子陰乾隨意食，生津補肺功無比。</p>

<h1>癸字補髓丹</h1>
<p><u>主治：</u>　治勞嗽虛憊。</p>
<p><u>藥物組成：</u>　豬脊膂（一條）　羊脊膂（一條）　團魚（一枚）　烏骨雞（一隻）　四味制淨，去骨存肉，用酒一大碗，於砂瓶內煮熟擂細。再用後藥：大山藥（五條）　蓮肉（半斤）　京棗（一百枚）　柿霜（十個）　四味修制淨，用井花水一大碗，於砂甕內煮熟擂細，與前熟肉一處用慢火熬之。卻下：明膠（四兩）　黃蠟（三兩）　上二味，逐漸下與前味和一處，研成膏子，和平胃散末，四君子湯末並知母、黃柏末各一兩，共一十兩搜和成劑，如十分堅硬，入白蜜同燉，取起放青石上用水捶打成泥，丸如梧桐子大。</p>
<p><u>用法：</u>　每服一百丸，不拘時候，棗湯下。勞病服之，最為合度。</p>
<p><u>歌訣：</u>　補髓丹用烏骨雞，團魚豬脊羊脊膂。酒煮熟爛搗如泥，再用薯蕷蓮棗柿。煨熟擂細同上藥，復置罐中慢火煮。更入黃臘與明膠，和前八味熬膏子。四君平胃知柏末，共成十兩搜和劑。如嫌堅硬加蜜丸，久虛勞極服之起。</p>
