<header data-type="book">
<h1>秋瘧指南</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>林天佑</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1912">公元1912年</data></dd></div>
</dl>
</header>

<h1>秋瘧指南序一</h1>
<p>人之一身陰陽不得其本或傷天時或失調攝皆足以致病而秋瘧一證千原萬變尤為複雜治難治醫者苟非寢我饋內難會通古今無由藥到病除茲得李偉人君刊送吾邑名醫林德臣先生所著秋瘧指南一冊讀之如飲上池使斯民而免夭扎未嘗不多李君之功今先生即歸道山恨無一面之緣又不禁重致憾於是書也因附紹興裘君重刊以廣其傳焉中華民國八年大捕何約明志於南洋檳嶼山腳醫寓</p>

<h1>序二</h1>
<p>嘗讀禮至醫不三世不服其藥竅歡醫理甚微苟非岐軒之術傳自一家靈素之經學專三代則業無秘授而所云得醫之意察脈之真者必無由操其旨也今吾邑中　德臣林先自伊　祖父以來學有專門　先生得所宗而衍家傳之秘者即歷五世於茲矣乃秘授己得其真而又力學沈思以研究靈素之篇金匱之卷是以五氣五色五聲察其微陰淫陽淫風淫知其變吾邑中遠近知名延請調治者應手生春非幸致也蓋由能會意而通變也許允宗曰醫者意也呂子曰病萬變醫亦萬變能知變法如號師夫病之奇而善變莫如濕熱夏暑沾染病發於秋其變狀多端古人傳秋瘧一書未暢其旨先生習是書力叩其局本生平所會心者條分縷析以闡前人未發之意而剖示變態為後人治病之津梁此書一出豈但有功於一鄉一邑哉且有功於一國一世傳萬世而利賴無疆焉陸宣公曰不能為良相當為良醫以救　治天下先生其有意於二公之言乎幸毋將此書秘於一家而付諸梨棗以傳四方可也　先生聞吾言粲然一笑乃徇所請類次之而梓行於世云</p>
<p><u>時在</u></p>
<p><u>黃帝紀元四千六百零八年重陽前一日通家弟藍麒祥拜題</u></p>

<h1>序三</h1>
<p>醫學一門群生之性命所繫其業亦最難非素有真積之學不可以為醫非實有康濟之心更不可以為醫晚近以來醫風不振操是業以遊於世者大抵薄涉嘗摭拾方藥即汲汲惟利是圖已耳甚有侈語西醫反薄中醫為無用者其粗浮怪誕更不足道而能疾痛相關慎審明辨不致貽誤生靈者有幾哉惟　德臣林先生醫自祖傳兼承庭教恍然有感於庸醫誤人倦倦以濟世為心者久之愈閱歷愈悚惶時加博覽群進而上取內經難經及金匱等篇而力窮其奧凡內因外因與不內外因之故莫不究其然更究其所以然而暑瘧一症則研究尤精取效亦尤多近十年來秋瘧之發他醫茫無所措者一經診治無不應手立效庚戍春爰自取其素所經驗者筆之於書隨病辨證隨症立方先分出數十種輯為二卷餘待後續蓋為便世用非炫長也余與交久知其學且知其心書成索閱益歡條分縷析理法依古變化從心觸類引伸皆發前人所未發准此以治實足為生人造福非學有本原心存胞興其熟能與於欺急勸付梓以公諸世庶贊化調元群生有賴而業斯道者亦或有所愧勵云</p>
<p>黃帝紀元四千六百零九年仲秋月弟藍寶瓊謹識</p>

<h1>自敘</h1>
<p>余自幼遵　庭訓誦讀靈素微言講求長沙要旨及博覽名家著述無隱不彰無微不闡燦陳如日月瞭然如指掌夫復何論然猶有不盡詳於著述者暑瘧一門未釋其義故余參考諸　書補遺是篇之辨證惟念生人之苦莫甚於病病者必求安於醫醫者者必求效於藥表裡陰陽不容混治差之毫釐失之千里可不慎歟嘗觀夏暑發於秋者或為寒熱或為單熱變狀繁多醫無定案傷生非淺實堪浩歡異惜乎內經起其端而未暢其說長沙統其治而未分其條苟不潛心玩索未易領會是以余不揣固陋乃依靈素為經長沙為緯兼研求　先祖家君醫案證論及平凡所治療之經驗者隨證制方爰輯卷帙帙諸君贈名曰秋瘧指南雖屬管見或有小補於世閱者幸垂諒焉</p>
<p>中華民國元年歲次壬子仲春月大埔林天佑德臣氏自識</p>

<h1>秋瘧指南凡例</h1>
<p>一是書乃闡發秋瘧之專門即俗所謂單燒寒燒是也上卷瘧之寒熱下卷治瘧之單熱</p>
<p>一是書辨證原委皆祖於內經辨症虛實多法於傷寒然仲景書治傷寒之專科人所共知統治於諸證世所鮮及茲按六經傳變而治暑瘧之證變隨手取效凡經驗之案原文附錄庶同志者乃便參考</p>
<p>一是書之辨證首重表裡陰陽及陽證似陰陰症似陽之疑似處</p>
<p>一是書之闡明秋瘧悉辨陰陽相搏金火相爭至於半表裡之柴胡證不能紊治</p>
<p>一是書本系平日參考諸書觸類引伸治療經驗之醫案日彌久而稿夥遂成治瘧專科同志索抄依用皆羨效力頗宏慫恿付梓以公諸世僉願派金共成美益余恐重違其意爰輯成卷帙以副諸公樂善之心</p>
<p>一暑瘧原無專書治瘧者遂少效驗同志諸公以是書證治系發前人所未逮方便於世利用無窮因題贈書名曰秋瘧指南</p>
<p>一是書僅陳某症擬某方猶有二三方而未悉載者因症候變狀多端故刪繁就簡願　同志諸君將全卷細為參閱自得其義</p>
<p>一暑瘧變症雖可按六經互參至用藥又當權暑濕之標的</p>
<p>一是書原未完卷因徇諸君子過為獎藉督梓行故將既編輯之原稿先付剞餘後續就</p>

<h1>卷一</h1>

<h2>秋瘧原委論說</h2>
<p>問曰夏傷於暑不適發熱乃至秋而發者何也曰經云暑熱侵於皮膚之內腸胃之外營氣之所舍經隧之界分時值盛夏陽氣從內而外出衛氣仗此猶能剽滑以悍御至秋陽氣斂藏氣自外而入內由是暑氣與衛氣並立邪正相爭寒熱交錯陽勝則熱陰勝則寒病則多頭痛而兼自汗或有飲食積於中濕熱蓄於內暑濕與積熱相搏其勞益張宜香薷蠲暑飲主之</p>

<h2>用藥須知論說</h2>
<p>經云善治病者治表不治里然六淫之邪皆傷於膚表腠理之中故凡邪從表來必令仍從表去病方易已是以陷邪入里諸藥當知禁忌知母石羔鎮陷肌腠緻密三焦乃足少陰陽明之羚羊犀角清心肺而涼肝入手太陰足厥陰之藥龜板鱉甲滋腎養肝而入血分乃足三陰之藥沙參骨皮保肺養陰白芍生地平肝涼血以上諸味俱陷邪之類不可不慎蓋暑淫薄於肌腠溜於經舍之間感秋斂之氣乃發或為寒熱或為單熱變狀不一嘗見暑瘧初作輒誤以知膏羚犀龜甲地芍等類致陷暑邪筆試里病勞彌深邪熱輕者則綿延難愈邪熱重者則危殆悉至曷堪名狀茲因世所罕言特表而出之為醫界之方針猶願卓識毋怪吾恣意妄談耳</p>

<h2>暑濕燥之熱證辨</h2>
<p>經云逆夏氣則太陽不長心氣內洞秋為痎瘧蓋由過勞致汗液大泄則心陽內虛暑淫乘虛而湊之薄於心脾溜於經隧之舍燠熱內蘊陰液日耗邪熱日熾至而燥金收斂蘊暑受秋燥之斂束其勢必張由是兩相搏激則亢害有燎原之勢故陰欲入而陽拒之則寒火欲出而陰格之則熱金火相爭故寒熱往來口渴心煩頭痛但熱時多兼自汗或譫語脈數大而帶弦或細小伏澀不一自制香薷蠲暑飲主之</p>
<p>香薷（三分）　黃芩（三錢）　杏仁（錢半）　赤苓（錢半）　麥冬（二錢）　粉葛（一錢）　生甘（六分）　川連（一錢）　花粉（錢半）　滑石（二錢）　元參（錢半）　如大（便秘）　加大黃（錢半）　水二碗煎至一碗煎至一碗服之　此節言陰欲入者燥金之陰也火欲出者暑熱之陽也或問曰經云秋令陽氣斂藏陰氣外此又云陰欲入者何也曰陽氣斂藏者即肌表之陽也然肺主皮毛而溫肌腠所謂陰欲入者皆言肺乃手太陰之陰也其辭似異其義皆同</p>

<h2>風瘧兼暑瘧之寒熱證辨</h2>
<p>且夫東南屬異位而近赤道地勢卑而多濕斯民感受暑濕者眾故秋病風瘧亦必多兼暑濕而發越也然風瘧之所由來緣秋令陽氣斂藏陰氣外出而偶受風邪薄於經脈邪欲深入而經脈陰氣欲出是以邪正相搏故寒熱往來遂引郁心脾之暑淫騰騰而發於是頭痛口渴溺赤或舌苔焦黃甚或譫語皆暑濕所由生脈診帶浮滑兼數大凡有頭痛淅淅微惡風熱則多兼自汗自制解肌蠲暑飲主之</p>
<p>枳殼（八分）　桔梗（八分）　麥冬（三錢）　香薷（三分）　黃芩（二錢半）　杏仁（錢半）　生甘（六分）　滑石（三錢）　粉葛（錢半）　生扁豆（一錢）　川連（一錢）　元參（錢半）　防風（四分）　水二碗煎一至一碗服</p>
<p>蓋言心脾者心主血脈脾主肌肉</p>

<h2>暑瘧發早晏及間日論說</h2>
<p>問曰暑瘧發於日早晏者何也曰緣其邪注於伏膂之內循衝脈上行者其氣日高發作日早邪薄於背脊之間循衛氣下行者其氣日下發作日晏又部曰暑瘧有間日而發者猶有發於三日者何也蓋因其邪薄於裡陰橫連於募原經所謂其道遠其氣深其行遲不得與衛氣並行須至間日內著於裡陰之邪方　得外出與衛陽之氣交併瘧乃作也但邪薄募原與六腑相連更深一層者所以間二日乃作也然審脈之躁數為陽靜細為陰須圓機而裁之</p>

<h2>暑邪從太陰濕土化寒證辨</h2>
<p>問曰鋮有暑薄心脾兼口乾溺赤而發嘗見服參朮溫補而取愈者何也曰此乃偏於純陰之體中州虛濕邪從太陰濕土而化寒故與溫補之劑自能獲效然右關之脈或虛而大或濡而細尤須偵察耳</p>

<h2>暑瘧有汗無汗證辨</h2>
<p>問曰暑瘧之證熱時恆多自汗何也曰緣暑濕之淫皆傷膚表腠理不密則汗泄參然有無汗者何也蓋由衛陽盛實則玄府秘密而無汗或偶受風寒表陽被鬱而無汗或肺有留熱鼻孔乾燥而無汗或由陰氣內虛陽氣獨發而無汗或由津液內奪陰虛發熱而無汗或由心火獨盛面色紅紫而無汗司命者更當詳察　圓機消息耳</p>

<h2>暑瘧有先熱後寒先寒後熱證辨</h2>
<p>問曰暑瘧之寒熱猶有先熱而後寒者何也曰即經所謂夏傷於暑其汗大出腠理開發因遇夏氣悽愴之水寒存於腠理皮膚之中至秋先受傷於風而後受傷於寒故病則先熱而後寒病以時作名曰溫瘧如先受傷於寒而後受傷於風病則先寒而後熱病以時作名曰寒瘧夫風邪傷入無有常處或中於頭項或中於腰背或中於手足然風氣留於肌腠筋骨之間而不移衛氣行至風邪薄之處邪正相應而病作所謂病以時作無早晏者應時而作也乃風邪當留其處之故病則頭痛口渴而無汗脈診帶浮數有力宜解肌蠲暑飲加減主之</p>
<p>枳殼（八分）　桔梗（八分）　麥冬（二錢）　香薷（三分）　黃芩（三錢）　杏仁（錢半）　生甘（六分）　滑石（三錢）　粉葛（錢半）　川連（一錢）　羌活（五分）　淡竹葉（錢半）　水二碗煎至一碗中部服</p>
<p>瘧病初作但寒未熱證辨</p>
<p>問曰暴受風寒遂成寒瘧發則但寒而未熱者何故曰苟因寒邪客於肌腠即欲內薄而經脈之陰氣外出邪與陰氣相搏發則但寒而未熱留連一二日肌腠之邪必鬱而成熱與經脈之陰氣相激遂發寒熱往來之證矣</p>

<h2>暑瘧喜飲熱茶證辨</h2>
<p>問曰寒熱往來口渴唇白而喜飲燒茶愈滾愈快傾壺可納者何曰此乃陽明偏旺或肺有積熱中氣盛滿喜飲燒者同氣相求也唇白者血由邪遏不達於四白也（即口唇也）甚或脈且小弱或微而數同志者須當慎察幸勿以中土虛寒為例鹵莽誤事也宜香薷蠲暑飲倍用麥冬花粉主之</p>
<p>蓋瘧之寒熱往來寒時喜飲燒病之常情此所謂喜飲燒言其愈壯熱愈喜燒也</p>

<h2>瘧之寒熱服辛散溫證辨</h2>
<p>問曰暑瘧之寒熱往來有服桂枝湯而即愈者有服羌防辛散而即愈者有服參林溫補而即愈者何也曰此非暑瘧也苟因暴受崗寒薄於經脈邪欲內搏值經脈之陰氣外出邪正相爭而作故服辛散等劑皆能取效邪尚在肌表未曾深入故也嘗見有誤服辛溫之劑遂成潮熱譫語甚則捻衣撮空皆兼暑蠍所致也願同志者慎之幸甚</p>
<p>小柴胡湯辨論</p>
<p>問曰暑瘧忌用小柴胡者何也答云昔賢設立小柴胡乃少陽經之和解法也傷寒篇云邪在上者吐而越之邪在表者汗而解之邪在裡者下而奪之惟少陽經有汗吐下之三禁焉蓋少陽乃半表半裡之樞半陰半陽之界若誤於汗變生譫語若誤於吐變生驚悸若誤於下變生漏利故立小柴胡而和解耳且少陽之脈必帶弦其見證皆脅痛耳聾口苦目眩而帶嘔寒熱往來如瘧狀嘗見世醫治暑瘧者妄擬小柴胡為的劑胎害之甚曷堪名狀何也人但知少陽居臟腑之交表裡相　爭則寒熱生焉殊不知暑瘧注經隧之舍陰陽相搏亦寒熱生焉其症雖相類其因實各異苟不明辨妄擬於彼紊治於此輕則留連難已重則危殆悉至鮮有不傷生之誤所謂藥能救人亦能殺人如水能浮舟者亦能覆舟正此義也惟願肩斯道者消退深究細繹庶我同人共登仁壽矣</p>

<h2>冒受暑風濕流經絡酒濕肺郁證辨</h2>
<p>寒熱往來數日不已忽然四肢瘛瘲口眼否斜此乃冒受風邪所致所謂暑風者此也擬香薷蠲暑飲加粉葛三錢羚羊一錢防風一錢水煎與之數劑全愈寒熱往來兼骨節刺痛四肢著痹或䐜腫身重難於轉側此乃暑濕流於經絡注於骨節之間所致擬香薷蠲暑　飲加木瓜分防己錢半生二錢靈仙八分水煎服而愈</p>
<p>寒熱往來兼頭面浮腫而黃滯或兩眼朦視或胃脘作痛審其平素嗜酒是酒濕傷蒸所致擬香薷蠲暑飲加葛根三錢葛花二錢枳椇子三錢水煎與之數劑而愈</p>
<p>寒熱往來咳逆而兼心脅滿痛引少腹甚則難於轉側此乃肺金不利清肅不行三焦不通少陽不升擬香薷蠲暑飲加桑椹（二錢）　覆花（一錢）　紫苑（一錢）　柴胡（八分）　大黃（錢半）水煎與服數劑而愈（桑椹即桑子）</p>

<h2>暑瘧欲解戰汗狂言證辨</h2>
<p>問曰瘧研究室初作了蠲暑飲三劑病可遂愈嘗有服藥後瘧勢益作者何也蓋因其邪深入心脾或兼積熱內蓄服湯後必交戰汗而解礦瘧熱益作甚或狂言妄語宜加大黃二錢將方再進數服自能獲效然此證情狀是為吉不兆譬以天雨將降則六合陰晦鬱氣炎蒸必待雨後天霽晴和萬物方蘇</p>
<p>問曰瘧之所作嘗見服湯後間有奄然發狂濈然汗出者何也曰即傷寒篇雲陽勝陰虛者將振汗而解必奄然而狂邪隨汗解其病遂愈</p>

<h2>暑邪深淺證辨</h2>
<p>問曰藥餌中病隨手取愈理固然也間有調冶經旬越月而愈者何也曰惟當審辨邪熱深淺質體強弱然暑熱薄於皮膚之內經隧之舍則治療易痊更有誤投陷邪藥餌或邪薄於三陰三陽或邪薄於五臟或兼五郁見證此皆其邪固蓄病熱彌深誠難速效治當和緩茲將內經辨論五郁發病入三陰三陽五臟病證原委附錄以便參考至於邪熱深淺質體強弱願同志者圓機化裁尤須合參五運六氣有太過不及之風歲有正化對化之年及夭符歲會之變宜詳慎焉五常政大論曰必先歲氣無伐夭和無盛盛無虛虛無致邪無失正斯為良工</p>

<h2>五郁病證</h2>
<p>六元正紀大論曰金鬱之發民病亥逆欬逆心脅滿引少腹善暴痛不可反側嗌乾面塵色惡山澤焦枯水鬱之發民病寒客心痛腰椎痛大關節不　利屈伸不便善逆痞堅腹滿陽光不治木鬱之發民病胃脘當心而痛上支兩脅膈咽不通食飲不甚則耳鳴眩轉目不識人善暴僵仆火鬱之發民病少氣瘡瘍癰腫脅腹胸背面目四肢䐜憤脹瘍疿嘔逆瘛瘲骨痛節乃有動注下溫瘧腹中暴痛血溢流注精液乃少目赤心熱甚則瞀□懊□善暴死土鬱之發民病心腹脹腸鳴而為數後甚則凡痛脅䐜嘔吐霍亂飲食注下浮腫身重此五郁之病嘗見隨六氣而發司命者宜參考焉</p>

<h2>三陰三陽經氣瘧證辨</h2>
<p>經云寒熱往來令人腰痛頭重寒從背起炕熇熇暍暍然熱已汗大出此乃足太陽膀胱經氣之為病也夫太陽之脈起於目內此眥從頭下後項連風府行身之背所以腰痛頭重寒從背起皆太陽之經氣致病也宜羌活蠲暑飲主之</p>
<p>羌活（四分）　青蒿（五分）　杏仁（錢半）　花粉（二錢）　麥冬（二錢）　生甘（五分）　川連（一錢）　條芩（三錢）　滑石（二錢）　淡竹葉（一錢）　白微（一錢）　生薑（一片）　大棗（一隻）　水二碗煎至一碗服之</p>
<p>經云寒熱往來令人肢體懈惰惡見人見人則心惕惕然熱甚而汗大出此乃足少陽膽之經氣為病也所以肢體懈惰而惡見人者皆少陽甲木失生升之條達抑而不暢之故宜柴胡暑飲主之</p>
<p>柴胡（八分）　杏仁（錢半）　赤苓（錢半）　生甘（五分）　青蒿（五分）　條芩（二錢）　麥冬（二錢）　川連（一錢）　桂枝（錢半）　滑石（二錢）　澤瀉（錢半）　連翹（一錢）　薑棗引　水二碗煎至一碗服</p>
<p>經云寒熱往來令人寒則洒洒淅淅寒甚乃熱熱則汗出喜見日月燭光之氣乃快然此即陽明胃之經氣為病也蓋陽明本是陽熱之氣喜見光者從其類也宜葛根蠲暑飲主之</p>
<p>葛根（二錢）　杏仁（錢半）　麥冬（二錢）　滑石（二錢）　條芩（三錢）　赤苓（錢半）　生甘（五分）　川連（一錢）　淡竹葉（一錢）　青蒿（五分）　花粉（錢半）　白微（錢半）　大黃（錢半）　薑棗引　水二碗煎至一碗服</p>
<p>經云寒熱往來令人不樂好大息而不嗜食寒熱甚而汗出至則善嘔吐此乃足太陰脾之經氣為病也所以病至不嗜食而善嘔吐皆太陽之濕土所致然意藏於脾故脾病則令其意不樂也宜白蠲暑飲主之</p>
<p>白朮（二錢）　川連（一錢）　赤苓（二錢）　生扁豆（錢半）　條芩（二錢）　麥冬（二錢）　滑石（一錢）　杏仁（一錢）　生甘（五分）　青蒿（五分）　川樸（一錢）　半夏（一錢）　陳皮（一錢）　薑棗引　水二碗煎至一碗服</p>
<p>經云寒熱往來令人多熱少寒且兼吐欲閉戶牖而處此乃足少陰腎之經氣為病也蓋腎司寒水而主閉藏故其病則欲閉戶延遲而處者陰主靜也凡病綿延難已宜茯苓蠲暑飲主之</p>
<p>茯苓（二錢）　川連（一錢）　生甘（五分）　青蒿（五分）　條芩（二錢）　麥冬（　錢半）　釵斛（錢半）　竹茹（一團）　滑石（一錢）　澤瀉（錢半）　半夏（錢半）　大黃（二錢）　陳皮（一錢）　薑棗引　水碗半煎至八分</p>
<p>經云寒熱往來令人腰痛少腹滿小便不利如癃狀其氣不足意多恐懼腹中悒悒不舒此是足厥陰肝之經氣為病也然厥陰之肝脈環陰器抵少腹而主疏泄肝不條達則疏泄不行故溲溺不利如癃狀腰痛少腹痛悒悒者皆肝氣不舒之所致宜柴胡桂枝蠲暑飲主之</p>
<p>柴胡（一錢）　桂枝（錢半）　條芩（二錢）　麥冬（錢半）　川連（錢半）　杏仁（錢半）　赤苓（錢半）　滑石（一錢）　生甘（五分）　青蒿（五分）　黃柏（八分）　丹皮（一錢）　薑棗引　水二碗煎至一碗服</p>

<h2>五臟瘧證辨</h2>
<p>經云肺瘧者令人心寒寒甚乃熱熱則善驚如有所見然肺為心之蓋肺邪于于心　則令心寒熱心氣虛則善驚如有所見矣</p>
<p>經云心瘧者令人心煩甚欲得清水反寒多不甚熱蓋心乃陽中之太陽心氣熱故令心煩之甚欲得清水而自救　然熱極則生寒所以反寒多而熱不甚也經云腎瘧者令人洒洒寒腰脊痛宛轉大便難目眴眴狀手足寒夫腎與膀胱禁止為表裡故邪干於表則令人洒洒惡寒腰脊雖痛而能宛轉邪熱灼液則大便難熱極則目眴眴然而不明</p>
<p>經云胃瘧者令人目病也善肌而不能食食而支滿腹大蓋胃司受納故胃瘧者令人病肌而不能食中焦受邪不能運化故食則支滿而腹大然陽明之脈起於鼻絡於目所以胃病令人目皆痛也</p>
<p>經云脾瘧者令人寒腹中痛熱則腸中鳴鳴已汗出但脾乃陰中之至陰腹乃脾土之城郭故濕熱內攻則腹痛下行則腸鳴上蒸則汗出也</p>
<p>經云肝瘧者令人我蒼蒼然善大息其狀若死者蒼乃東方之青色主春生這氣生陽不升則抑抑不舒故善不息其狀若死也</p>
<p>暑瘧症十餘天寒熱已解時復煩熱頭痛或時胸前脅肋痛或時心慄而不安大便難此陽明餘熱未解宜用芩連麥冬生軍菊花之類審病體強弱裁之</p>
<p>暑瘧證十餘天寒熱已解舌胎微黃稠涎滿口腹脹硬拒按大便難此陽明熱甚宿食壅滯宜用芩連枳實酒軍麥冬川樸甘草之類審病機裁度</p>
<p>暑瘧之脈有弱澀伏不一皆由熱邪壅遏氣血不宣所致猶有兩寸關有力獨兩尺微弱無力者慎勿輕投藥餌誤汗則亡陽誤下則傷陰須先補益用潞黨淮山茯神甘杞炙甘巴戟釵斛麥冬之類或建中湯甘杞甜蓉熱勞盛者少加芩連而御之候兩尺有力乃施去邪劑方為穩當</p>
<p>寒熱往來服蠲暑飲不解遂致蒸蒸發熱或日晡潮熱或微煩溺數腹滿便結俱皆陽明胃實所至宜調胃承氣湯加味主之</p>
<p>大黃（三錢）　玄明粉（二錢）　羚羊（一錢）　條芩（四錢）　麥冬（二錢）　生甘（六分）　水二碗煎至一碗空心服</p>
<p>寒熱往來口渴頭痛誤以辛溫劫散之劑遂蒸蒸發熱或譫語昏狂或日晡潮熱溱溱自汗皆誤於劫汗傷津益助邪熱所致宜調胃承氣湯加減主之</p>
<p>條芩（三錢）　大黃（三錢）　麥冬（二錢）　川連（錢半）　生甘（六分（　元參（錢半）　知母（錢半）　生梔（錢半）　元明粉（一錢）　水二碗煎至一碗服</p>
<p>寒熱往來寒輕熱甚口乾頭痛身疼脈數滑或浮大無汗者此乃兼受風寒邪氣覆郁衛氣盛實之故宜香薷蠲暑飲可比例而參用之每見妄施以羚羊犀角石羔之類逆折其熱則表陽愈鬱而鬱熱轉劇醫以珍珠貝母之輩重複清之遂引外邪內陷則熱勞彌深危殆悉至由是邪熱內擾煩躁狂譫五心發熱舌苔黃燥齒焦眼熱甚或身重難轉昏昧沈迷三焦不通二便　燥秘種危候粗工之誤嘗觀高車駟馬之名工比比皆是余每遇患此症於垂危之際遂擬雨澤湯與服二三劑後若得濈濈自汗者則諸恙易已同志者宜當參考</p>
<p>東洋參（一錢）　黃芩（二錢）　香薷（三分）　防風（一錢）　麥冬（三錢）　川連（一錢）　花粉（一錢）　生甘（五分）　滑石（三錢）　柴胡（八分）　粉葛（錢半）　生梔（錢半）　青蒿（五分）　杏仁（錢半）　大黃（錢半（　水二碗煎至一碗中部服</p>
<p>寒熱往來口渴自汗脈數而小醫以鳥梅鱉甲之類而截其瘧遂引外出之邪復陷於經脈以致似寒不寒似熱不熱昏沉似醉神明不定表陽被郁四肢瘛瘲種種惡候皆誤於斂補之過耳若因循不治焉得不夭折而斃也遂以香薷蠲暑飲與二三劑得汗而解繼用清肺飲洋參沙參麥冬石蓮茯神生芍玉竹釵斛與之療痊</p>
<p>暑瘧證有日夜惡寒身熱熱不甚劇引衣自覆頭額痛口燥渴脈數大舌胎黃大便難此陽明有積熱宜蠲暑飲加生軍菊花蒼耳子防風主之</p>
<p>暑瘧證寒熱往來遍身痛楚口燥頭痛脈數或伏澀此是濕熱壅滯經絡不通榮衛不宣宜香薷蠲暑飲加生軍二錢防風一錢青蒿八分連服數劑後遍身汗越其病自痊</p>
<p>暑瘧初作有妄施溫劑雜藥以致三焦閉寒榮衛不通四肢逆冷人事昏迷心中躁悶口燥舌焦六脈伏澀或數澀宜香薷蠲暑飲加生軍青蒿防風之類與之必使寒熱振作溱溱汗越病機乃轉耳</p>
<p>暑瘧初作妄投鱉甲羚羊養陰等類與之瘧病遂已其人煩躁臥寐不寧或口燥頭痛或咫煩冤或腰腹疼痛或二便秘澀此乃邪陷入陰宜速投香薷蠲暑飲仍使寒熱腹作溱汗越邪從表解而後可若大便秘甚當加生軍元明粉</p>
<p>暑瘧證或寒熱或單熱其連日服藥連日汗越令邪從汗解病勢自然日退嘗有明此義而慮亡陽妄施藥餌而斂汗致遺其害可勝言哉</p>
<p>問曰寒熱往來腹痛而逆氣衝胸渾淪如卵者何蓋由暑暍挾痰飲隨肝火而上越也然木旺則剋土故為腹痛肝之性最善逆於上遂引痰飲沖胸渾淪有物狀覺如雞卵大忽升降其痛若刺此　乃有形之痰隨無形之火而升降耳自制柴芩和解飲主之</p>
<p>柴胡（八分）　生梔（錢半）　黃芩（三錢）　杏仁（錢半）　茯苓（二錢半）　川連（一錢）　麥冬（二錢）　陳皮（六分）　半夏（八分）　生甘（五分）　青蒿（五分）　枳殼（六分）　水碗半煎到八分服</p>
<p>寒熱往來頭痛微汗口乾燥咳氣逆不得臥寐皆由暑暍挾陽明燥熱而爍肺肺熱甚則引風而　煽火治之之法宜　八分　滋燥二分疏散則得矣若以風寒同例妄投辛散之風藥恐必致金破音傷然風藥屬辛辛耗肺氣風　藥屬燥燥劫陰液且肺乃諸臟之華蓋主治節而濡津液其喜潤而惡燥今既傷於暑燥若更誤於風燥禍有反掌而得乎自制滋燥飲主之若大便燥秘加大黃</p>
<p>花粉（二錢半）　赤茯（錢半）　生甘（八分）　黃芩（三錢）　枳殼（八分）　杏仁（錢半）　覆花（一錢）　麥冬（三錢）　紫苑（錢半）　川連（一錢）　桔梗（八分）　元參（二錢半）　防風（五分）　蜜杷葉（錢半）　水碗半煎至八分服</p>
<p>寒熱往來而腹痛下痢裡急後重者皆由腸胃疊積濁滯不行與濕熱蒸釀搏結於衝任之分野逼迫成痢由是濕傷氣則多白熱傷血則多赤如氣血俱傷則必致赤白兼半工治者行陽明之壅滯而後重自己宣氣血之鬱熱而赤白自除自制滌垢飲主之如小便不利加滑石</p>
<p>黃芩（三錢）　赤芍（錢半）　粉葛（錢半）　枳殼（八分）　生甘（六分）　蓁皮（五分）　川連（八分）　花粉（錢半）　粉丹（一錢）　桔梗（八分）　油歸（八分）　杏仁（錢半）　酒大黃（錢半）　紅多加白頭翁（二錢）　白多加橘紅（五分）　水二碗煎至一碗服</p>
<p>寒熱往來口苦目眩而脈帶弦數者乃兼少陽半表半裡之證小柴胡湯主之若口渴自汗溺澀者除半夏加天花粉赤茯澤　瀉麥冬治之</p>
<p>柴胡（八分）　沙參（二錢）　半夏（八分）　赤茯（錢半）　條芩（二錢）　天花粉（錢半）　麥冬（二錢）　澤瀉（錢半）　生甘（六分）　水碗半煎至八分服之　寒熱往來頭痛口渴表散之劑過劫其汗遂致煩熱尤熾口愈渴溺愈澀此為劫汗傷津所致若脈虛者宜沙參洋參麥冬五味之類以保脈生津幸勿以利水攻散之劑重竭津液變生危候試　舉一隅以為例則三隅知所反焉願同志者慎之慎之</p>
<p>寒熱往來醫以駿表其汗遂致煩熱益甚自汗不已口渴溺澀寐不寧脈尤數而有力宜速救幾滅之真陰庶幾免夭折之冤也宜以生地黃湯加味主之</p>
<p>生地（三錢）　沙參（三錢）　粉丹（八分）　茯神（一錢）　羚羊（一錢）　麥冬（二錢）　淮藥（一錢）　生芍（錢半）　釵斛（錢半）　貢阿膠（錢半）　洋參（一錢）　五味（十粒）　水碗半煎至八分服</p>
<p>寒熱往來口乾脈數醫以羌防之劑過發其汗以致神昏語亂但熱不寒溲溺短赤皆同誤汗傷津津竭則燥熱愈熾勞勢所必然宜當保津液而清燥熱致令陰陽和而津液自通擬用清燥生津飲主之　</p>
<p>東洋參（二錢）　羚羊（一錢）　生甘（五分）　條芩（三錢）　花粉（三錢）　麥冬（二錢）　蓮子心（一錢）　川連（一錢）　香薷（二分）　生梔（錢半）　元參（錢半）　水碗半煎至八分服</p>
<p>寒熱往來脈數滑誤以汗下後脈更數而有力心益煩肢體益躁皆由服藥不當劫血傷津所致斯際猶恐危殆悉至圓機之士宜詳審施治而起沈痾若口渴舌燥者擬用生地黃湯加味以救陰液服二三　劑後脈見調勻惟熱勢猶熾者除地芍沙參加芩連而導暑濕</p>
<p>生地（二錢）　淮藥（錢半）　沙參（二錢）　洋參（一錢）　蓮心（一錢）　生芍（一錢）　茯神（錢半）　麥冬（錢半）　丹皮（一錢）　釵斛（錢半）　水碗半煎至八分服</p>
<p>此證服六味湯二三劑後脈猶數而鼓指或口渴引飲當用四物湯加甘杞巴戟等類或加參附隨病機裁度</p>
<p>寒熱往來口乾頭痛醫以防風風荊芥羌獨活之劑過劫其汗以致四肢微急溲溺不利至因循失治遂成痙證或四肢勁急或背反張此由劫汗太過津液內竭筋失濡養故成痙急之證擬用歸芍八味加減主之</p>
<p>當歸（二錢）　熟地（三錢）　茯神（錢半）　粉丹（八分）　麥冬（二錢）　蓯蓉（錢半）　生芍（錢半）　蘇淮（錢半）　澤瀉（一錢）　萸肉（四分）　甘杞（錢半）　洋參（一錢）　釵斛（錢半）　川芎（一錢）　川連（八分）　水碗半煎至八分服</p>
<p>暑瘧證或寒熱或單熱服湯後瘧病遂除或煩而不寐或時有微熱或肢節煩痛若小便不利者是膀胱　濕熱未解宜　豬芩湯主之豬芩澤瀉赤茯滑石貢膠麥冬釵斛</p>
<p>寒熱往來誤以劫散太過以致自汗身熱頭眩心悸肌肉瞤動其　身　戰聳四顧徬徨無可置身之狀即太陽篇所謂振振欲擗地欲闢虛而就實也即此誤汗亡陽之變故擬真武湯加味以救　逆肩斯者不可不慎</p>
<p>白朮（二錢）　炒芍（錢半）　甘杞（錢半）　茯苓（錢半）　焙附（錢半）　潞黨（三錢）　大棗（一隻）　歸身（錢半）　五味（十粒）　水碗半煎至八分服　（加麗參更妙）</p>
<p>此證猶有熱壅經絡以致肌肉瞤動因劫散太過其瞤動之勢益甚臨證者審之</p>
<p>寒熱往來醫乃輒投知羔犀角大黃之類遂引暑濕之邪陷入膀胱以至小腹硬滿溲溺短澀兩腿無力胸中氣逆時兼眛冒此皆初時孟浪施治之咎蓋太陽之氣生於下焦貫膈布胸中以達膚表苟誤陷邪藥餌更兼峻下太過遂成陰氣彌胸以致宗氣不利清陽不升濁陰不降暑濕不解茲擬清暑益氣湯加減與數服遂痊</p>
<p>野生參（一錢）　歸身（一錢）　茯苓（一錢）　陳皮（六分）　車前（一錢）　白朮（錢半）　茯苓（二錢）　澤瀉（錢半）　朱曲（一錢）　潞黨（三錢）　炙甘（八分）　麥冬（一錢）　滑石（一錢）　蜜升麻（三分）　水碗半煎至八分服</p>
<p>此證若小腹不滿而溲溺自利者當除滑石茯苓車前澤瀉等類加升陽補益之劑如若小腹滿痛溲溺自利大便黑色或漱水不欲咽是血瘀膀胱宜佻仁承氣湯主治</p>
<p>暑瘧證寒熱往來醫以輒投石羔大黃知母犀角等類遂引瘧邪內陷於裡以致似寒不寒似熱不熱遍身疼痛腹中氣逆上衝於胸劇則時兼冒昧此皆外邪人裡裡不受邪宜薷香蠲暑飲主之必令寒熱復振邪從汗解方可</p>
<p>寒熱往來口渴頭痛誤用劫奪之劑用致煩熱日甚躁無寧時或四肢微冷膠脈微細者乃亡陽之機宜投四逆湯加味主之此與太陽篇劫汗亡陽之證互參</p>
<p>黑姜（一錢）　甘杞（錢半）　茯苓（錢半）　焙附（一錢）　炙甘（六分）　潞黨（三錢）　歸身（錢半）　水一碗煎至五分服</p>
<p>寒熱往來因以峻下傷脾以至腹滿急痛脈診弦小建中湯加味服之急痛遂愈然腹滿寒熱如故　擬四君子加芩連審熱勢裁之</p>
<p>桂枝（五分）　生芍（三錢）　甘杞（錢半）　黑姜（五分）　炙甘（八分）　白朮（錢半）　大棗（五粒）　水一碗煎至八分（另入飴糖五錢令烊盡服）</p>
<p>寒熱往來頭痛口渴小腹滿痛溲溺短澀此由濕熱流入膀胱氣不運化之故</p>
<p>宜五苓散加減主之</p>
<p>豬芩（錢半）　條芩（二錢）　蓮心（一錢）　麥冬（錢半）　澤瀉（錢半）　茯苓（二錢）　滑石（三錢）　花粉（錢半）　水碗半煎至八分服</p>
<p>寒熱往來診脈浮而虛醫以苦寒之劑直折其熱脈反浮大而鼓指更以大黃枳實之類重複下之遂致脾元受傷腹脹而鼓神明若失虛氣上逆裡急後重危症蜂起皆緣不辨症之虛實妄投藥餌之誤也遂擬歸芍六君加味主之</p>
<p>當歸（錢半）　潞黨（三錢）　茯苓（錢半）　首烏（二錢）　棗仁（八分）　白芍（錢半）　白朮（錢半）　炙甘（五分）　甘杞（二錢）　龍眼（十隻）　焙附（一錢）　水二碗煎至一碗服</p>
<p>寒熱往來脈浮細而無力者有用以　涼散之劑內攻其裡外攻其表以致表裡俱傷四肢微厥神明若失時兼漏汗皆由不審脈證之虛實妄施攻伐之過耳遂用耆附六君湯加味主之</p>
<p>野參（一錢）　茯神（一錢）　白朮（錢半）　甘杞（錢半）　棗仁（一錢）　焙附（一錢）　五味（十粒）　炙甘（六分）　酒耆（八分）　首烏（錢半）　歸身（一錢）　水碗半煎至八分服　</p>
<p>寒熱往來脈浮小　或遲細醫以大黃枳實之劑峻下之寒熱如故反渴而喜飲溲溺短澀與以穀食則嘔此本由中土虛寒復誤於攻下中州失健運之常胃陽失司納之權故與以食則嘔津液致傷內生虛燥故口渴而溺澀嘗見假實假熱之誤治即經所謂虛其　虛之義也若不明辨脈證之虛實重複誤於攻下禍有不旋踵乎遂用四君子湯加味主之</p>
<p>洋參（一錢）　白朮（錢半）　生芍（一錢）　茯神（錢半）　炙甘（六分）　扁豆（錢半）　潞黨（錢半）　蘇淮（錢半）　車前（一錢）　建蓮（一錢）　大棗（一粒）　陳倉米（一勺）　歸身（一錢）　龍眼（五粒）</p>
<p>服一二劑後穀食漸進口渴漸除寒熱如故者加香薷杏仁</p>
<p>此證猶有誤下後以致泄利口渴者當用耆附六君加熟地酒芍五味等類亟先救其裡寒俟利以意消息之</p>
<p>寒熱往來口乾頭痛審右關脈虛弱者此皆由中氣虛乏宜白朮蠲暑飲加減主之</p>
<p>潞黨（二錢）　白朮（錢半）　茯苓（錢半）　生扁豆（錢半）　條芩（錢半）　川連（錢半）　麥冬（錢半）　香薷（三分）　羌活（四分）　生甘（五分）　水燉半飢服</p>
<p>寒熱往來口乾不渴咳嗽而遺小便脈虛弱者乃脾腎兩虛膀胱失職宜小建中湯加味主之俟小便不遺隨證化裁</p>
<p>安桂心（六分）　生芍（三錢）　炙甘（六分）　白朮（錢半）　甘杞（錢半）　大棗（五粒）　飴糖（六錢）　甜蓉（二錢）　潞黨（二錢）　水燉半飢服（凡用飴糖將藥燉出　味去渣後入飴糖令烊盡溫服）</p>
<p>若寒熱往來口乾燥渴嗽嗽遺溲是濕熱為患不可不辨</p>
<p>暑瘧寒熱苟因峻下以致腹滿泄利姜附六君加車前粟殼五味主之若腹脹而溲溺不利遍體晦黃皆由峻下傷其脾元劫奪津液所致藥餌不當暑濕不解瘀郁肌表遍體晦黃寒熱如故診脈或遲弱或虛大不等宜四君子加味主之熱勢輕者加姜附野參圓機裁之</p>
<p>潞黨（三錢）　茯神（錢半）　妙扁豆（錢半）　洋參（八分）　川連（一錢）　於朮（錢半）　炙甘（三分）　炒苡米（錢半）　建蓮（二錢）　木瓜（六分）　當歸（一錢）</p>
<p>諸證者美術界經誤於汗下劫奪以致虛證蜂起雖寒熱如故亦亟當固本為要庶免虛其虛之患同志者合細繹之</p>
<p>治暑瘧雖可興傷寒互參然用藥當權暑濕之標準臂之作文不合於古不佳不離於於古又不佳宜圓機消息</p>
<p>寒熱往來以汗下傷津以致溲溺不利更誤以苦寒之劑滲利其小便遂成微熱脹滿氣逆劇則䐜脹昏迷而裡急皆由津液內竭脾腎兩傷當速扶元氣而起垂危之疴自制保元湯與之服後病勢稍定更加參附服之遂愈</p>
<p>潞黨（三錢）　於朮（錢半）　炒芍（錢半）　淮膝（一錢）　炙甘（五分）　炒洋參（一錢）　甘杞（錢半）　首紅（錢半）　巴戟（二錢）　五味（十隻）　茯神（一錢）　當歸（二錢）　棗仁（一錢）　龍眼肉（一錢）　水一碗煎至八分服之</p>
<p>寒熱往來舌乾口渴虛氣上逆濈濈自汗腹濡數醫誤汗下之劑以致脈反數無偷身熱昏迷劇則狂妄而欲走此由陰精素奪既誤汗傷津更復誤下傷血若小便尿血者更劇自制補陰益氣湯主之</p>
<p>生野參（一錢）　潞黨（二錢）　沙參（三錢）　蓯蓉（二錢）　丹皮（一錢）　生芍（錢半）　當歸（二錢）　車前（一錢）　甘杞（三錢）　釵斛（錢半）　五味（十粒）　麥冬（錢半）　川芎（一錢）　生地（二錢）　牛膝（一錢）　蘇淮（錢半）　水碗半煎至八分服</p>
<p>寒熱往來虛而數醫不審治誤於汗下傷陰遂致小便尿血淋漓刺痛宜生地六味湯加味主之</p>
<p>生地（四錢）　茯芩（錢半）　粉丹（錢半）　麥冬（二錢）　蘇淮（錢半）　釵斛（錢半）　生芍（錢半）　車前（一錢）　澤瀉（錢半）　水碗半煎八分空心服</p>
<p>寒熱往來口渴而脈濡數旬日病已遂致氣臭穢兩頰黑腫而硬痛或生於左或生於右亦不等皆由苦　寒　太過胃陽被遏火毒凝聚所致是為危候宜自制升陽益胃湯主之可全萬一之幸</p>
<p>生耆（四分）　芎川（八分）　潞黨（二錢）　白朮（一錢）　白芷（八分）　茯苓（錢半）　當歸（一錢）　麥冬（錢半）　生甘（六分）　野山參（一錢）　粉葛（一錢）　沙參（三錢）　羌活（四分）　赤芍（一芍）　釵斛（錢半）　水燉和童便徐徐咽之</p>
<p>外敷法</p>
<p>川芎（一錢　）　生川烏（八分）　人言（少許）　白芷（一錢）　蘇珠（三分）　梅片（三分）　共研細末　此散均三次　用馬鞭草槌爛合敷患處</p>
<p>此人言即砒霜凡用者宜小心收貯庶免胎誤</p>
<p>寒熱往來半月後乍愈乍作越月不已忽然大寒大熱兼下痢赤白氣急神困陰陽欲脫之勢診脈虛小而數余忖危則急宜固本為要遂用生麗參一錢磨人乳均二三次服及擬六君子湯加味主之</p>
<p>潞黨（錢半）　茯神（錢半）　歸身（八分）　甘杞（錢半）　麥冬（錢半）　於朮（八分）　生甘（五分）　生芍（錢半）　首烏（錢半）　五味（八粒）　沙參（二錢）　水燉服此湯服後次日瘧症頓除氣息頗順惟下痢益甚滯澀之極繼用益中湯加酒芩酒軍麥冬等類與之數劑後諸羞悉退按此證初時藥餌不當致陷暑熱留連於脾胃之故益中湯加味列下</p>
<p>（此方服後下痢稍輕即除酒軍加酒連或加潞黨洋參審病勢化裁久病之人腸胃必虛當顧慮元氣為王道）</p>
<p>沙參（二錢）　建蓮（錢半）　酒芩（一錢）　酒大黃（一錢）　油歸（六分）　蘇淮（錢半）　炙甘（三分）　生甘（三分）　麥冬（一錢）　生芍（錢半）　水燉中部服</p>
<p>寒熱往來與以涼散之劑服之寒熱悉退惟頭痛不已面色紅而嬌嫩脈帶數而無力此乃陽虛所致茲擬以獨參湯服之遂安</p>
<p>生野參錢半龍眼肉麥冬茯神為引</p>
<p>寒熱往來服涼散之劑諸證悉除惟頭痛不已溺時尤甚此乃陽虛所致宜獨參湯主之</p>
<p>寒熱往來服湯後遂已惟飲水不下咽即吐溺時則昏冒不省欲死之狀片時乃復醒此是中氣虛寒清陽不升之故宜獨參湯主之或加焙附</p>
<p>暑瘧之寒熱旬日而愈惟頭痛不已諸藥罔效延余診視右手脈俱浮濡皆陽虛所致遂擬參附湯加熟地與服而愈</p>
<p>高麗參（一錢）　焙附（錢半）　老熟地一錢水燉空心服</p>

<h2>附滑石石膏辨論</h2>
<p>滑石其質輕清性味甘淡而寒泄心肺之熱邪上開腠理下達膀胱行水道通九核療嘔吐解煩渴乃治暑瘧之聖藥也然暑為陽邪嘗見病作皆寒輕而熟甚熇熇暍暍之勢而莫制故擬蠲暑飲取用芩連滑石麥冬等類而清內蘊之燠熱也石羔氣味辛而寒無毒主驚喘寒熱口乾舌焦腹中堅痛陽明熱盛故仲景治太陽風寒兩傷之病必審其煩躁無汗而喘渴者擬大青龍湯用石膏而清內熱之法也治陽明發熱微惡寒這病必審其口乾舌焦大渴而自汗擬用知母石膏而清胃火之法也訒庵謂石膏能發表殊屬不合經旨今特訂之嘗觀世醫治暑瘧妄擬石膏之貽害卷面既詳言矣茲不復贅</p>

<h2>石膏大黃區別論說</h2>
<p>余於已酉仲夏寓茶陽之精舍有客鄒生問曰石羔大黃皆陽明之涼藥　嘗見區別之用有如風馬牛不相及者何也余曰子之顧問誠醫界之方針醫能洞察表裡陰陽之辨則用藥自知間不容髮嘗考昔賢辨證立方理精法密療表惟恐陷邪里猶恐傷陰加一味則不同方減一味則不同治井井有條不容苟混然石羔性寒清胃火而療肌熱色白以入肺質重而鎮墜蓋暑瘧初作忌其　鎮墜而陷邪故當禁用焉大黃性寒而味苦能盪滌里陰之壅熱但暑瘧初作嘗有熇熇）暍暍之勢欲救一線之陰則大黃鬚急用焉所謂區別之用者此也客唯唯退謝</p>

<h2>附錄陶節庵傷寒摘要</h2>
<p>節庵云傷寒汗下不愈而過經其證尚在而不除者亦溫病也經曰溫病之脈行在諸經不知何經之動隨其經之所在而取之但暑瘧傳變亦或有之證故略引舉於下以便參考如太陽證頭痛惡寒寒汗下後過經不愈診得尺寸俱浮者太陽溫病也</p>
<p>如身熱目疼汗下後過經不愈診得尺寸俱長者陽明病溫也如胸脅痛汗下後過經不愈診得尺寸俱弦者少陽病溫也如腹滿咽乾診得尺寸俱沈細過經不愈太陰病溫也如煩滿囊縮診是尺寸俱微緩過經不愈者厥陰病溫也發汗後晝煩夜靜不嘔渴無表症脈微沈乾薑附子湯</p>
<p>陽微發汗躁不眼與大下後復發汗晝日不得眠至夜安靜身無熱乾薑附子湯汗下後病不解而煩躁者茯苓四逆湯俱謂陽虛煩躁也</p>
<p>又有不煩便作躁悶者此為陰盛拒陽也欲於泥水井中臥飲水不得入口者是也四逆湯主之</p>
<p>發汗後其入臍下悸欲作奔豚茯苓桂枝白林甘草湯</p>
<p>太陽病發汗不解欲發熱心下悸頭弦肌體瞤動振振欲擗地真武湯</p>
<p>身熱頭痛脈反沈若不瘥身體疼痛當救其里四逆湯主之煩熱者不經汗吐下則為煩熱與發熱有異也經曰病人煩熱汗出則解如未作膈實但當和解微熱而已若心下滿而煩則有吐下之　殊也先煩而悸者為實先悸而煩者為虛虛謂心中欲嘔欲吐之貌陽明病心煩喜嘔壯熱往來心下悸小便不利小柴胡加茯苓湯</p>
<p>煩熱為擾亂而煩躁乃憤怒而躁謂先煩漸至躁也有陰陽虛實之別心熱則煩陽實陰虛腎熱則躁陰實陽虛煩為熱輕躁者熱重所謂煩躁者先發煩而漸至躁所　謂躁煩者先發躁而後發煩也太陽中風不得汗煩躁者此邪在表而為煩躁也羌活沖活湯大便不通六七日繞臍痛煩熱發作有時而渴者此為躁屎乃邪氣在裡而煩躁也大承氣湯太陽不得汗醫以火劫取汗火熱入太陽中風自汗脈浮緩用桂枝湯</p>
<p>汗出而渴小便難五苓散不渴者茯苓甘草湯</p>
<p>自汗出小便難而用桂枝惟　加甘草白芍</p>
<p>自汗出小便不數心煩微惡寒腳攣急宜桂枝附子湯</p>
<p>自汗出小便數心煩微惡寒腳攣急宜乾薑甘草湯</p>
<p>陽明汗多而渴發熱譫語大便硬調胃承氣湯</p>
<p>太陽病發汗遂漏不止惡風寒用桂枝附子湯</p>
<p>若小便自利而汗出為津液少不可攻利宜蜜導煎能之</p>
<p>若汗多者胃汗乾急下之用大承氣湯</p>
<p>汗多而渴勿用五苓散</p>
<p>汗不止無他證者搵粉撲之服桂枝湯大汗出煩渴不解脈微洪大者白虎加人參　下後不可更用桂枝湯若汗而喘無大熱者麻黃杏仁甘草石膏湯</p>
<p>陽明汗多夜不便不利若小便反利者屎雖硬不可攻下宜蜜煎導法若誤攻之則津液竭絕</p>
<p>傷寒寸脈遲者不可汗尺脈遲者不可下宜先服小建中湯</p>
<p>三黃石羔湯</p>
<p>有傷寒發熱脈大如滑數表裡皆實陽盛拂鬱醫者不達既發其汗病勢不退又復下之大便遂頻小便不利五心煩熱兩目如火鼻乾面赤舌燥齒黃大渴過經既成壞證亦有錯治諸溫而成此症者又八九日既經汗下脈洪數身體壯熱拘急沈重欲治其內由表未解則里證又急超趄不能措手待斃而已殊不知熱在三焦閉澀經絡津液枯涸榮衛不通遂成此症耳</p>
<p>石羔（兩半）　黃芩（七錢）　黃連（七錢）　黃柏（七錢）　淡豉（二合）　麻黃（一錢）　梔子（三十個）　上每服一兩水二鍾煎服未中病再服其效如神傷寒即經汗吐下誤治後三焦生熱脈復洪數譫語不休晝夜喘息鼻加衄血病熱不解身目俱黃狂叫欲走三黃石羔湯主之</p>
<p>陽毒傷寒皮膚斑爛身如凝血兩目如火十指皮俱脫煩渴躁急不寧庸醫不識莫能措手命在須臾三黃石羔湯主之</p>

<h2>婦人血風證</h2>
<p>婦人因崩漏大脫血或前後去血因而涸燥其熱未除循衣摸床撮空閉目不省人事揚手擲足搖動不寧錯語失神脈弦浮而虛內有燥熱之極氣粗鼻乾而不潤上下通燥此為難治宜服生地黃連湯治男子失血多者有此證其妙不可勝言方列下　</p>
<p>川芎（七錢）　生地（七錢）　赤芍（三錢）　梔子（三錢）　黃芩（三錢）　黃連（三錢）　防風（一兩）</p>
<p>上每服五錢水煎清飲徐徐呷之脈實可加大黃下之</p>
<p>大承氣湯氣藥也自外而之內者用之生地黃連湯血藥也自內而之外　者用之氣血合病循摸床治同自氣而之血血而復之氣者大承氣湯下之自血而之氣氣而復之血者用生地黃連湯主之二者俱不大便此是承氣湯對手又與三黃石羔湯相表裡是皆三僬為胞絡虛火之用也病既危急只得以此湯降血中之火耳不但婦人用之男子去血過多而有此證者皆有服之無不效予固表而出之</p>
<p>升陽散火湯　</p>
<p>此湯治患病人義手冒胸尋衣摸床譫語昏沈不省人事俗醫不識見病便呼為風證而用風藥誤人死者多矣殊不知肝熱乘於肺金元氣虛不能自主持名曰撮空證小便利者可治小便不利者不可治</p>
<p>人參　當歸　柴胡　白芍　黃芩　甘草　白朮　麥冬　陳皮　茯神　有痰者加姜汗炒半夏　大便燥之前譫語發渴加大黃泄者加升麻炒白朮　水二鍾姜三片棗二枚槌法入金首飾煎之熱服</p>
<p>益元湯　</p>
<p>治有患身熱頭痛全無不煩便作躁悶面赤飲水不得入口庸醫不識呼為熱證而用涼藥誤人死者多矣殊不知元氣虛弱是無根虛火泛上名戴陽證</p>
<p>焙附　甘草　乾薑　人參　五味　麥冬　川連　知母　蔥　艾姜（一片）　棗（二枚）　水二鍾煎之臨服槌法入童便三匙頓冷服</p>
<p>潮熱屬陽明證旺於未申一日一發日晡而作邪入胃腑為可下之證設或脈浮而緊潮熱而利或小便難大便溏者熱未入腑猶帶表邪當先和解其外如小便利大便硬方可攻之若潮熱於寅卯則屬少陽潮熱於巳午則屬大慶陽是又不可不辨也</p>
<p>陽明似瘧煩熱汗出日晡發熱脈或浮或虛者桂枝湯脈實者承氣湯婦人熱入血室其血必結亦如瘧狀小柴胡湯病入熱多寒少脈微弱者無陽也不可發汗越婢湯</p>
<p>病人熱多寒少陽乘陰也若尺脈遲為少先以黃耆建中湯養其榮衛脈不遲卻以小柴湯越婢湯選用之</p>
<p>以上引陶節庵摘侶景傷寒要旨蓋暑瘧與傷寒來路雖各別然其六經見證之寒熱虛實概可頃參茲細究暑瘧傳變或嘗有之證故略引舉於下以俟同志者參考余未經驗故未另錄方治以待完卷補及</p>

<h1>卷二</h1>
<p>文章以獨開生面為奇術業以獨出匠心為貴業如醫尤以無因究因無法立法為高自軒岐內經廬扁難經華元化之五禽圖孫思邈之千金方出天下後世之潛心於醫學者宗厥經旨著述為書而病藥之真詮醫治之妙訣闡發既無遺蘊惟　秋瘧一道則尚闕如後之人遂不禁有遺憾焉今讀　林德臣先生所著秋瘧指南一書上卷治瘧之寒熱證辨表裡陰陽寒熱虛實一證一方條分縷析皆發前人所未發誠壽世之金針讀至下卷熱瘧證辨條內自制救陰逐暑飲等方乃泄中寓補保存津　液為宗旨余如承氣湯以救一線之真陰龍牡湯以靖龍雷之潛伏真武湯以鎮元陽之外泄四逆湯以鎮真陽之上越耆附湯以救脾腎之兩傷參附湯以治陽虛之頭痛細味其調劑之宜支配之妙診治之靈運用之巧真如神龍出漢變化莫測洵千百世之利用無疆也余與效久知　先生醫傳五代學有真源　先生又能以錦心為苦心推究因中之因法外之法瘧病遂有一事實上之的旨歸醫治遂無不測之態度所謂良醫功同良相非　先生誰與歸</p>
<p><u>時在</u></p>
<p><u>中華民國壬子年春月遇弟楊光焯拜題</u></p>

<h1>卷二</h1>

<h2>暑濕燥之單熱證辨</h2>
<p>暑濕之單熱多由腎陰素虧兼胃陽偏盛所致然陽明為資生之海氣血之源苟因胃陽偏盛津液自劫不能存精於腎以致腎陰日奪陽熱日熾久則腠理不通氣血不宣誠為燔郁之亢陽矣故其病作則熇熇然有如焚天之勢而莫御渾身壯熱頭痛口渴舌苔焦黃大便秘結溲溺赤澀或兼腰痛或腹中飽滯而欲嘔甚則神昏譫語舌苔焦黑晝夜不已嘗見此證綿延難愈多屬危候皆由陰液內竭而然診脈數而大小伏澀不一劇則脈數大而弦甚者更屬難治同志者宜詳審焉擬用救陰逐暑飲主之</p>
<p>大黃（三錢）　麥冬（三錢半）　淡竹葉（錢半）　生梔（二錢）　條芩（四錢）　云連（八分）　滑石（三錢）　杏仁（錢半）　花粉（二錢）　青翹（四分）　元參（三錢）　玄明粉（一錢）　水二碗煎至一碗服之</p>
<p>此方服三五劑後若濈濈暍暍之勢此乃燠熱內劇當加入羚羊犀角等類與之然邪熱深淺質體弱強偵察圓機裁之</p>
<p>青蒿味苦寒而芬芳得春陽之令最早清肝膽之血熱解心脾之暑毒宜採嫩葉童便浸一宿日曬乾存用乃效</p>
<p>暑濕之單熱猶有陰液素虧復以遠行勞倦汗液大泄暑淫乘虛而薄之遂致陰液日耗陽熱日盛久則氣血不宣腠理燔郁誠為偏陽之體參病則渾身壯熱頭暈疼口燥渴舌焦黃大便秘溲溺赤擬救陰逐暑飲主之熱已稍有微汗者易痊內經云熱病猶有恣意酒色者陰氣先竭於內陽熱獨滯於中故病則心中惡熱煩冤欲嘔熱則四肢更劇嘗有兼伏暑內蘊者致陰液愈耗陽熱愈熾病則熱勞尤倍然頭暈口渴舌苔焦黃大便秘溲溺赤甚則譫妄者皆暑濕為患也擬救陰逐暑飲加減主之若審暑邪遂輕又當地黃湯加釵斛甘杞甘蓉龜板等類滋之溫之之法</p>
<p>大黃（三錢）　條芩（四錢）　云連（一錢）　花粉（二錢）　麥冬（三錢）　元明粉（一錢）　淡竹葉（二錢）　生梔（二錢）　生竹茹（一錢）　滑石（二錢）　釵斛（錢半）　元參（三錢）　水燉半飢服</p>
<p>暑瘧之單熱猶有心中煩冤口渴引飲渾身壯熱汗出淋漓四肢微厥此兼衛陽表虛所致擬救陰逐暑飲加桂枝生芍主之若審六脈數實有力又宜除去桂芍加元參粉元明粉</p>
<p>大黃（四錢）　麥冬（三錢）　花粉（二錢）　生梔（錢半）　滑石（二錢）　條芩（四錢）　杏仁（錢半）　淡竹葉（錢半）　桂枝（五分）　生芍（錢半）　生甘（五分）　半肌服</p>
<p>暑瘧之單熱猶有兼肺家燥熱者然肺乃諸臟之華蓋主治節濡津液內則灑陳臟腑外則充膚澤毛有如雨露之潤焉苟因肺有燥熱復以伏暑內劫遂令治節不行津　液不濡腠理不通陽熱日劇故病則渾身壯熱鼻孔焦燥頭痛口渴二便不利甚則昏沉譫語擬救陰逐暑飲加味主之　</p>
<p>麥冬（五錢）　大黃（四錢）　滑石（三錢）　生梔（二錢）　條芩（五錢）　杏仁（二錢）　云連（一錢）　淡竹葉（錢半）　枳殼（三分）　桔梗（三分）　元明粉（一錢）　柿霜（錢半）　元參（三錢）　水二碗煎至一碗半飢服</p>

<h2>或問曰經云魄汗未盡留連肌腠者何也</h2>
<p>答曰魄汗乃肺之合也經氣歸於肺肺朝百脈輸精於皮毛主行榮衛溫分肉充腠理者也然津液發泄之處謂之腠文理縫會之中謂之理因偶受風寒邪汗未盡鬱於肌腠則皮毛閉密腠理不通經氣適旺而經俞這核皆閉矣夫經者徑也邪已不能過於經則留連腠理隨表陽以化熱故耳擬用桂枝白虎湯主之</p>
<p>桂枝（一錢）　石羔（二錢）　知母（一錢半）　甘草（六分）　糯米（一勺）</p>
<p>或問曰經俞經隧經舍何謂也答云各司其道經俞者通腑臟之核道也經隧者乃氣血之歷界也經舍者猶行人之傳舍也</p>
<p>暑瘧之單熱嘗見兼衛陽盛實者病則熇熇發熱口渴頭痛而無汗蓋由衛陽盛實腠理不通玄府緻密氣不泄越而然診脈多帶浮大滑數宜香薷蠲暑飲加滅主之</p>
<p>條芩（四錢）　淡竹葉（錢半）　杏仁（二錢）　滑石（三錢）　生甘（六分）　大黃（三錢　麥冬（二錢）　川連（錢半）　青蒿（五分）　粉葛（錢半）　羌活（八分）　玄參（錢半）　水二碗半煎至一碗服之</p>
<p>此方服三五劑病勞稍退者減除香薷大黃羌活之類加沙參骨皮石蓮之味猶　須察病熱之重輕審質體之強弱當圓機裁酌耳繼用清補飲主之</p>
<p>少參（三錢）　麥冬（錢半）　生甘（六分）　骨皮（錢半）　洋參（八分）　茯神（錢半）　石蓮（錢半）　蘇淮（錢半）　生芍（錢半）　銀柴（一錢）　水二　碗煎至八分中部服　</p>
<p>夫暑傷於夏秋病為瘧勢所必然猶有兼暴受風熱而傷衛陽之氣遂挾內伏之暑淫交併而作故熇熇發熱濈濈自汗口渴頭痛凡淅淅微惡風寒脈診帶浮數而有力擬用枳桔蠲暑飲主之　</p>
<p>青蒿（五分）　麥冬（三錢）　川連（錢半）　粉葛（一錢）　天花粉（二錢）　杏仁（錢半）　滑石（三錢）　條芩（四錢）　赤茯（一錢）　生甘（六分）　枳殼（八分）　桔梗（八分）　大黃（錢半）　元參（錢半）　羌活（六分）　水二碗半煎至一碗服之</p>
<p>余按陽明篇治療經驗者引舉於下經云火劫傷陰逼血從大腸以下奔以致便血者調胃承氣湯加黃芩生芍或熱從下奔泄瀉濁穢者加芩連或裡急後重兼赤白者加　芩連歸芍枳桔若胃陽偏盛病則蒸蒸壯熱溱溱自汗口渴舌焦甚則潮熱昏狂神明撩亂脈洪長數大者調胃承氣加黃芩麥冬花粉之類當有陽明熱盛誤以溫劫以致氣血流溢遍全蒸黃氣粗喘促或頭汗出劑頸而遠乃陽熱上越不能下納於陰之故是由火逼血瘀自制保津消暑飲主之猶有寒熱往來誤以溫劫邪熱益盛津液倍竭以致氣血流溢濕熱外瘀肌膚微腫遍體蒸黃溲溺短澀甚則氣粗喘逆此乃熱逼濕瘀自制梔子黃柏湯治之有兼胃陽偏盛津液素虧陽明之氣上逆撩亂神明煩躁譫語苟誤劫散邪熱傷陰逼血妄行保津消暑飲加犀角丹皮主之暑瘧昏沉寒熱往來誤以劫散遂兼陽明積熱上壅譫語喘咳目睛瞭瞭不得寤寐甚則兩睛直視不能活動宜速驅陽熱而救垂絕之陰保津消暑玄明粉易樸哨加枳實花粉犀角主之嘗有瘧病初發寒熱往來投以劫散致腹滿喘促燥渴譫語循衣摸床小便利者保津消暑加元參花粉治之若溲溺不利則當液內涸膀胱化源竭絕不可為力矣此證或體羸脈虛不堪任下者先以六味生地黃湯加生麗參與之待病機裁之</p>
<p>問曰傷寒之承氣用朴硝暑瘧研究室承氣用明粉何也曰傷寒瀉其實暑瘧瀉其熱證熱而不實恐朴硝之過峻而傷陰若是結實之證亦當用朴硝不能膠固耳</p>
<p>調胃承氣湯</p>
<p>大黃（三錢）　元明粉（二錢）　生甘（一錢）　水燉半肌服</p>
<p>保津消暑飲</p>
<p>水參（二錢）　大黃（二錢）　麥冬（二錢半）　花粉（錢半）　條芩（三錢）　生甘（八分）　生梔（錢半）　元明粉（錢半）　正羚羊（錢半）　釵斛（錢半）　元參（二錢）　水二碗燉至一碗半飢服</p>
<p>梔子黃柏湯</p>
<p>生柏（二錢）　茵陳（錢半）　黃柏（錢半）　大黃（錢半）　生甘（八分）　條芩（錢半）　麥冬（錢半）　川連（一錢）　若大便熾秘倍大黃加元明粉　水燉半飢服暑瘧症初則寒熱繼則變單熱不甚劇越月不已忽然　遍身及頭面起黑點如烏豆大滿腹刺痛痛劇則吐黑血此皆誤於陷邪藥餌致引暑熱內陷太陰遂似蠲暑飲加大黃梔子主之服二三劑後即下黑血諸羞悉除</p>
<p>條芩（三錢）　滑石（二錢）　赤茯（錢半）　生甘（五分）　大黃（錢半）　杏仁（錢半）　澤瀉（錢半）　生梔（錢半）　花粉（錢半）　麥冬（二錢）　青蒿（三分）　水燉半飢服</p>
<p>暑瘧證兼陽明素有積熱者則潮熱譫語溱溱自汗舌苔焦黃口渴引飲或腹滿痛大便燥秘脈洪大滑實宜大承氣加味主之</p>
<p>大黃（三錢　條芩（四錢）　生梔（錢半）　生甘（八分）　朴硝（二錢）　麥冬（四　錢）　枳實（錢半）　天花粉（二錢）　水二碗燉至一碗服</p>
<p>暑瘧證留連數日遂致神昏譫語腹滿口乾舌苔焦黃四肢微冷脈沈有力此由熱壅陽明即傷寒論中所　謂熱深厥深之義陽極似陰之證也宜大承氣湯加味主之</p>
<p>大黃（三錢）　枳實（錢半）　麥冬（三錢）　條芩（四錢）　朴硝（錢半）　水二碗煎至一碗服</p>
<p>問曰暑瘧有留連數日後服白虎湯而已者何也答曰此兼陽明散溫之邪其證必煩熱自汗口渴引飲舌苔貢厚脈診浮洪滑實者宜白虎湯主之若瘧之初作即有如上之證脈亦當與救陰逐暑飲為穩當未可概例散漫之邪若六脈浮虛有汗生脈飲主之速扶元氣而救津液猶恐陽亡陰竭之變不可不早慮及此也</p>
<p>陽明篇雲散漫少者邪未深入胃腑未曾結實之故暑瘧不可同例混治也至於方藥亂投留連日久之變態或清或溫以意消息圓機度之</p>
<p>白虎湯</p>
<p>石羔（錢半）　生甘（八分）　知母（錢半）　糯米（一勺）　</p>
<p>生脈散</p>
<p>洋參（錢半）　麥冬（一錢）　五味（十粒）</p>
<p>暑瘧證嘗有經旬越月不己忽然遍體及頭面起水泡與水痘相似實非水痘極其晶亮此乃初時藥餌不當暑濕不解外瘀腠理衛氣不宣擬用元參連翹蠲暑飲與二服得濈濈自汗而解</p>
<p>元參（錢半）　赤茯（錢半）　杏仁（錢半）　香薷（三分）　生甘（六分）連翹（錢半）　條芩（錢半）　滑石（錢半）　粉葛（錢半）　防風（五分）　水二碗煎至一碗服之</p>
<p>暑瘧之單熱口渴無汗旬日不已藥餌無效更有兼腎精素奪水虧火旺而作者則挾龍雷之火以上奔甚則心君撩亂神明不定渾身徽熱晝夜不已脈診多弦緊澀數或劇而脈數亂者斯際用藥最難措手擬於溫則陰液愈劫擬於清則龍雷愈奮余嘗偶幸中之方列下而待司命者裁之繼用加味地黃湯</p>
<p>生龍骨（五錢）　生牡蠣（三錢）　麥冬（五錢）　焙附（一錢）　甘杞（二錢）　骨皮（錢半）　生麗參（一錢）　釵斛（二錢）　水燉服</p>
<p>加味地黃湯</p>
<p>大熟地（四錢）　丹皮（一錢）　萸肉（六分）　釵斛（錢半）　蘇淮（二錢）　澤瀉（一錢）　生芍（錢半）　茯苓（錢半）　車前（一錢）　麥冬（錢半）　巴戟（二錢半）　甘蓉（三錢）　龍骨（三　錢）　焙附（一錢）　水二碗煎至八分沖童便半杯空心服肝腎本同宮腎虛則肝無滋養致龍雷之火陡升莫制故先擬龍牡湯而靖龍雷繼用加味地黃湯滋之溫之也</p>
<p>暑瘧猶有兼陰虛發熱者脈則細數無力兩尺澀數必有津液枯口乾之症臨症者審之夫陽氣衛於外為陰之藩籬陰氣榮於中為陽之營守陰相濟其體乃治苟雷達精神過度遠行勞倦嗜欲斷喪以致陰液內耗陽熱獨盛故必外蒸於肌表遂成惡熱之證擬用生地黃湯加味治之　</p>
<p>蘇淮（二錢）　川連（八分）　石蓮肉（錢半）　生地（二錢）　麥冬（一錢）　生芍（錢半）　澤瀉（八分）　茯神（錢半）　粉丹（八分）　元參（二錢）　釵斛（錢半）</p>
<p>此證若無內熱外渴之症審右尺虛甚者須除川連麥冬加焙附主之然病勢有兼於陽虛陰虛者當舍其　病而固其本為道同志者宜圓機度之</p>
<p>暑瘧證有兼陰虛發熱者醫更雜投以攻劫之劑以致溲溺不利四肢拘急劇則眼睛直視遺溺譫語或腹脹氣逆皆由腎精劫奪膀胱化源竭絕所致此乃危候擬用加味地黃湯主之</p>
<p>老熟地（三錢）　茯神（錢半）　焙附（二錢）　甘杞（二錢）　巴戟（錢半）　蘇淮（二錢）　金石斛（一錢）　萸肉（八分）　水兩碗煎至八分服</p>
<p>此證若審六脈虛弱無力或弦大者宜四物湯加麗參焙附甘杞甘蓉巴戟等類主之若兼惡寒自汗者當參太陽篇桂枝湯加焙附以救津液之法加麗參更妙同志者合細繹之</p>
<p>暑瘧證猶有以手捫其肌肉不熱病人竟自言熱須重按於筋骨之間始得熱氣蒸手此由陰液素虧內熱自熾審六脈細數者六味湯加減主之</p>
<p>生地（二錢）　蘇淮（錢半）　澤瀉（八分）　石蓮（錢半）　沙參（二錢）　生牡蠣（二錢）　生芍（錢半）　茯苓（錢半）　粉丹（八分）　骨皮（一錢）　釵斛（錢半）　生龍骨（三錢）　水燉半肌服</p>
<p>此證若審六脈沉而有力舌焦口渴二便不利者宜當以羚羊犀角大黃麥冬之類主之</p>
<p>問曰暑瘧暴發則昏沉不省而兼煩躁診其六脈皆和藥餌無效遂致不治者何也答云此由腎精素奪陰液內竭更兼泄汗太過心氣暴滅元陽離決之所致故診其六脈皆和者即俗所主胃油末燈光之義也余嘗擬龍骨牡蠣湯而求萬一之幸耳</p>
<p>生龍骨（兩半）　生牡蠣（一兩）　麗參（二錢）　水燉不拘服</p>
<p>暑瘧之單熱旬日不己脈浮大地鼓指肌肉瘦爍口乾心煩不寐此由腎精內奪則生煩陰血內虛則生熱陽極陰消則肌爍若誤攻之必重傷陰血更為危殆宜六味地黃湯加味主之</p>
<p>大熟地（三錢）　淮山（二錢）　茯苓（錢半）　川芎（（八分）　生芍（錢半）　澤瀉（一錢）　粉丹（八分）　釵斛（錢半）　沙參（三錢）　當歸（錢半）　甘杞（錢半）　老山洋參（一錢）　水碗半煎八分服</p>
<p>暑瘧證有兼腎陰互奪元陽之真氣浮越於外發熱者則身重嗜寐昏沉倦語脈沉無力並裡實內熱之徵甚則揚手露足心煩體躁或反躁煩不寐者難治擬用真武湯加味主之</p>
<p>焙附（二錢半）　白朮（二錢）　炒芍（錢半）　茯苓（錢半）　甘杞（錢半）　黑姜（一錢）　當歸（錢半）　熟地炭（二錢）　水一碗煎六分和童便二匙服之　</p>
<p>人之聲出於肺聲之根出於腎下焦之生氣不足故懶言嗜臥身重沈困</p>
<p>熾默默昏寐身重疼痛口和語倦脈沉無力雖無裡實內熱尚有因虛陽上逼舌胎帶黃色等證擬真武湯民五劑病勢遂輕繼加麗參當歸甘杞等類調治而愈</p>
<p>焙附（二錢）　白朮（錢半）　乾薑（八分）　茯苓（一錢）　炒芍（錢半）　熟地炭（二錢）　水一碗煎六分和童便二匙服</p>
<p>蓋陰虛發熱之證雖熱不甚劇面　色必嬌紅而無塵垢舌胎或有帶黃色亦必薄滑至於元陽欲脫之際其熱必劇回陽之藥當倍用抑或補陰益陽抑或補氣回陽此又不可不審</p>
<p>暑瘧寒熱往來經旬不已繼則單熱無寒熱已微汗至十餘天反寒粟鼓頷半時許則蒸蒸熱溱溱自汗熇熇暍暍之勢寒不知引衣熱不知去衣至天明熱退默默無言神明不定身重難轉六脈濡軟可關尺尤甚此由腎精素奪陽浮於外之險證遂擬真武湯加味與三四劑其瘧遂除神明漸定</p>
<p>茯苓（二錢）　酒芍（二錢）　熟地炭（二錢）　黑姜（錢半）　焙附（錢半）　白朮（三錢）　麗參（錢半）　水燉空心服　</p>
<p>暑瘧證服藥後身熱譫語四肢厥冷下利清穀脈沉無力若煩躁不寐者難治宜用四逆湯加白朮茯苓主之</p>
<p>黑姜（錢半）　焙附（二錢）　白朮（錢半）　茯苓（錢半）　炙甘（八分）　水燉空心服</p>
<p>諸證悉皆經驗服湯後加減略舉一二以告同志</p>
<p>暑瘧證醫以過服涼劑以致昏沉嗜臥默默無言劇則昏迷不省身重睛露脈沉無力此乃脾腎將絕之危證擬真武湯加參耆與之三服病機遂轉繼加當歸潞黨龍眼等類</p>
<p>茯苓（一錢）　炙耆（錢半）　乾薑（錢半）　野山參（錢半）　白朮（二錢）　焙附（三錢（　炒芍（二錢）　炙甘（八分）　甘杞（二錢）　地炭（錢半）水燉空心服　</p>
<p>暑瘧證有兼脾腎兩虧者重複誤於攻下以致真氣外泄煩熱無可以置身欲坐臥於泥水之中真液內竭欲引水而自救故渴飲不絕脈多　沉微或兼舌苔黃色宜用耆附六君加味主之加麗參更妙</p>
<p>潞黨（三錢）　茯神（錢半）　生耆（六分）　歸身（錢半）　龍眼肉（十隻）　白朮（二　錢）　炙甘（八分）　焙附（一錢）　炒芍（錢半）　大棗（二個）　甘杞（二錢）　巴戟（錢半）　老熟地（錢半）　水碗半煎至八分和童便二匙服</p>
<p>暑瘧證重複誤於攻下以致裡虛外熱面赤身熱腹痛咽痛下利清穀四肢厥沒出逆脈微欲絕者四逆湯加味主之</p>
<p>乾薑（一錢）　炙甘（八分）　白朮（錢半）　焙附（錢半）　潞黨（二錢）　桔梗）八分（水一碗煎至五分入童便二匙空心服</p>
<p>暑瘧有發熱煩躁大渴不止脈虛大而無力者此屬陰血虛竭　所致擬用四物湯加味主之</p>
<p>熟地（二錢半）　生芍（錢半）　沙參（二錢）　甘杞（二錢）　龍眼（二隻）　歸身（錢半）　川芎（一錢）　潞黨（二錢）　炙甘（六分）　大棗（二個）　水一碗煎至五分空心服</p>
<p>暑瘧之單熱口渴留連多日更兼誤於攻下以致腹脹氣粗而喘脈診帶弦者此乃肝木乘脾所致宜柴芍六君湯加味主之</p>
<p>柴胡（八分）　生芍（二錢）　潞黨（三錢）　茯神（錢半）　甘杞子（錢半）　白朮（錢半）　炙甘（六分）　巴戟（錢半）　水碗半煎至八分服　</p>
<p>問曰暑瘧病於冬者何也蓋由感受暑邪之輕微溜於經隧之處界伏　而不泄雖遇秋燥之斂束邪之勢微不足以泄其氣必期冬令肌表固密諸火內藏暑假內藏之火互相糾郁釀成熇暍之威由是欲張其怒遂於陰氣相搏故凜凜而寒寒不甚劇寒已則熱熱亦不甚劇或遍身疼痛心煩不寐或口渴溺急作止無常或一日一發或間日而發宜香薷蠲暑飲審病勢裁之猶有寒粟鼓頷壯熱昏狂者必由陽明偏旺或陰液內奪同志者當圓機消息耳</p>
<p>暑瘧證煩熱頭痛燥渴溺澀脈帶弦其嘔吐痰飲臭味酸穢此乃暑熱挾肝火以陡升逼津液而成飲飲即有形之火火即無形之飲隨火而升降火引飲而逆行擬用柴苓湯主之</p>
<p>赤茯（錢半）　柴胡（一錢）　白茯苓（錢半）　條芩（三錢）　竹茹（一錢）　半夏（一錢）　生甘（六分）　麥冬（二錢）　滑石（錢半）　羚羊（一錢）　玄參（二錢）　半夏（一錢）　水碗半煎至八分服</p>
<p>暑瘧之單熱苟因數下而傷脾胃以致胸腹䐜脹胸中氣逆甚則神明若失脈益洪大而鼓指此乃陰寒鼓舞而見假實之證茲擬六君加味湯主之若胸腹䐜脹及小腹滿痛溲溺不利脈診得洪大而弦者此是肝木賊脾及膀胱之化源竭絕難以救療聊擬獨參湯亦求萬一之幸也</p>
<p>獨參湯</p>
<p>生野山參（二錢）　用水一大杯燉至半杯服</p>
<p>歸耆六君加味湯</p>
<p>生耆（八分）　潞黨（三錢）　茯苓（錢半）　何首烏（錢半）　歸身（錢半）　白朮（二錢）　炙甘（六分）　大棗（二個）　焙附（六分）　甘杞（錢半）　水一煎半碗空心服</p>
<p>暑瘧證煩熱口渴自汗身重腹中濡滿脈診微洪而數此乃暑暍挾胃陰燥熱與太陰濕熱糾郁致病夫脾專主腹又主四肢因旋運不行則腹中飲主之</p>
<p>條芩（二錢半）　川連（一錢）　棗冬（錢半）　生扁豆（一錢）　花粉（錢半）　白朮（一錢）　蓮心（一錢）　澤瀉（一錢）　滑石（一錢）　水碗半煎至八分服</p>
<p>暑瘧證脈胗疾燥不為藥解此即陰液外脫陽熱內陷經所謂陰陽交錯即此義也故主不治</p>
<p>暑瘧證不為藥解呃逆不止甚則其氣從臍下上衝連不斷者此即腎氣欲脫之危症主不治</p>
<p>暑瘧證服湯已病不解譫語狂言直視遺尿者此腎絕也主不治</p>
<p>暑瘧證煩熱不止汗如貫珠成循衣摸床喘汗不休皆陽衷邪盛主不治</p>
<p>經云癉瘧者肺素有熱氣盛於中而偶受風寒內藏於心外舍分肉之間而發發則陽氣獨盛陰氣內虛不能與陽爭故單熱不寒令人消灼肌肉</p>
<p>金匱云陰氣孤絕陽氣獨發發則熱而少氣煩冤手足熱而欲嘔名曰癉瘧若但熱不寒者邪氣內藏於心外舍分肉之間令人消灼肌肉</p>
<p>按此二案大意相同然陽極則陰消故肌肉消灼此昔腎皆指風寒而言故用桂枝白虎湯乃能獲效但此伏暑假秋燥而發者相去天淵不同例也</p>

<h2>紅花退熱奇案</h2>
<p>有友患單燒輒投石羔白虎及羚羊犀角之類遂致熱勞倍熾心如火棼病者竟以冷水帕自放心胸而求苟安須臾莫離醫者更擬大黃朴硝等類與之亦皆罔效由是熱勞日亢病勢日危徬徨無策將束的而待斃乃所謂斯熱病而用斯涼劑服之無靈脩短亦委天命耳氣息奄奄之際遂擬西紅花二錢麥冬三錢川連一錢與服病者自覺如飲冰雪焉及後熱勞勢頓輕繼服生六味地黃湯而愈人皆駭奇余曰非奇也此乃誤服石膏知母羚羊犀角之證驗耳何也余審讀內經明言暑侵肌表故首論邪從表來必令仍從表去病方易已緣伊熱瘧初作妄用閉門留寇之類復引暑邪內陷心胞致令煩冤倍甚如火薰蒸更加自　誤以冷水頻沽以致腠理愈密三焦愈閉熱勢益深病勢益劇且燠熱內踞心胞為巢為穴蔓延繹絡誠陽亢之赤地炎蒸日久則血液槁瘀如燔如炙危殆悉至特要紅花假連麥為嚮導直入心胞蕩共發電機穴滌其瘀垢雖酷烈之　勢悉隨響應而解散頃刻轉　為清涼境界矣故所病者有若飲水雪之清焉繼及　六味地黃湯濡養心液則諸恙遂瘥猶有謂大黃朴硝皆蕩邪滌熱之藥何以無效殊不知彼乃足陽明胃腑之藥此乃手厥陰胞絡之病彼此天淵須當縷析證因碑載奇命曰奇案</p>
<p>暑瘧之寒誤服陷邪藥餌遂致咳嗽氣逆越日一發如癇狀數月不已擬用香薷蠲暑飲加黨參生苡米與服數劑而愈</p>
<p>暑瘧之單熱初時雜投藥品延至數月不愈乍愈乍作或間日一發或三五日一發服溫清補瀉皆無效擬用蠲暑飲加大黃桑皮石蓮與服數劑而愈</p>
<p>暑瘧之寒熱因誤於藥邪陷太陰遂生燥咳或微發寒熱時作時此數月不已如癆火之狀擬用香薷蠲飲加桑皮紫苑覆花生芍等類與服諸恙漸愈</p>
<p>暑瘧之寒熱苟因妄投藥餌邪氣流連不解數月不已擬用補益增寒熱擬用清則生泄瀉遂用蓮淮六君川蓮麥冬車前扁豆等類與服數劑而愈</p>

<h2>附錄唐容川先生痢證方治諸方列下</h2>
<p>痢為病發秋天古名腸澼又名滯下令名曰痢而又不爽利也與洞瀉相別天淵四季皆有此症惟秋時此病為更多所以秋時此症更多者蓋五行之序由春入夏為木生火熱氣主事之時也由夏至長夏六月為火生土是為濕土主事之時熱來蒸濕合氣為暑故六月節名小暑大暑至秋以後則土來生金濕熱當止故其節名處暑言氣自此止也暑止則熱氣變為涼氣而涼風至矣濕氣變為清氣而清肅降矣如此則秋金氣旺木火自蕺中土不致受邪矣若其人之肝木大旺遇金來制之而木不受制遏郁生火則熱氣不退火反剋金金氣不得清肅因之濕　亦不化與熱相蒸蘊結血氣於三焦腸胃之間釀為腐穢膠黏之汗則成痢矣蓋人身肝主疏者條達而止也泄　者順利而下也木氣不疏則鬱郁者草木多　而壅遏也木氣大泄則暴注者泄力太過之故也然使金不與木爭則泄而不斂何至滯塞哉惟當秋金收斂之令肺氣不應受邪故金必與木爭木愈旺則金愈收是以逼迫難澀而成裡急後重也</p>
<p>銀菊花（治白痢之輕藥也）</p>
<p>銀花（三錢）　白菊（三錢）　生白芍（三錢）　杏仁（三錢）　連翹（二錢）　桔梗（三錢）　梔子（三錢）　木香（一錢）　牛蒡子（三錢）　甘草（三錢）　用水三茶碗煎取碗半服如有宿食加生大黃五錢</p>
<p>白虎湯（治痢之重證也）</p>
<p>研生石羔（三錢）　煆石羔（三錢）　甘草（一錢）　粳米（三錢）　再加淡條芩（三錢）　白芍（三錢）　杏仁（三錢）　杏梗（二　錢）　厚朴（一錢）</p>
<p>此方合痢症有外寒者再加葛根荊芥　小便不利者再加桑皮滑石此治白痢之良方也</p>
<p>白頭翁治紅痢</p>
<p>白頭翁（五錢）　黃柏（三錢）　黃連（三錢）　秦皮（三錢）　</p>
<p>用水二碗煎取一碗最妙白頭翁能平木疏肝息風清火使下迫之氣條達而上也</p>
<p>金花湯（治紅痢今名黃連解毒湯）</p>
<p>黃連（三錢）　黃芩（三錢）　黃柏（三錢）　梔子（三錢）　加杏仁（三　錢）　檳榔（三錢）　當歸（三錢）　地榆（三錢）　赤芍（二錢）　荊芥（一錢）　生地（三錢）　青蒿（三　錢）　生甘（一錢）　水煎服</p>
<p>霹靂散（治痢症脹閉有宿食發嘔等症）</p>
<p>生大黃（一錢）　黃芩（三錢）　吳萸（一錢）　用水二碗煎取一碗先服半碗得快利即勿服如不快利再服一次此藥只可服三次不可多服</p>
<p>大承氣湯（治奇恆痢）</p>
<p>生大黃（二錢）　厚朴（二錢）　枳殼（一錢）　芒硝（三　錢）　先煎三味既成後入芒硝三沸取汗服咽痛嗆略愈即止再加減金花湯</p>
<p>三黃酒治痢症發嘔吐者（按發嘔吐食不食真噤口嘔吐止即能進食）</p>
<p>黃連（一錢）　黃芩（三錢）　生大黃（二錢）　用好燒酒二碗煎成一碗徐徐嚥下如飲酒者用水一碗加酒一杯煎服徐咽嘔吐止即勿服</p>
<p>救胃煎（治噤口不食）</p>
<p>生地（三錢）　白芍（三錢）　黃連（三錢）　玉竹（三錢）　炒枳殼八分　杏仁（三錢）　桔梗（二錢）　石羔（四錢）　麥冬（三錢）　花粉（三錢）　生甘（一錢）　黃芩（三錢）　厚朴（一錢）右水三茶碗煎取碗半必舌上有津液則進食矣</p>
<p>開禁湯（治噤口不食）</p>
<p>人參（二錢）　麥冬（三錢）　煆石膏（三錢）　梔子（二錢）　川連（二錢）　黃芩（一錢）　黃柏（一錢）　生地（三錢）　當歸（三錢）　射干（二　錢）　杏仁（三錢）　檳榔（一錢）　枳殼（一錢）　生甘（一錢）　花粉（二錢）</p>
<p>此為治噤口痢之　主方生津進食除腸胃中之炎症力量周至再加白頭翁則詳盡無遺矣</p>
<p>歸地養榮湯</p>
<p>當歸（三錢）　生地（三錢）　淮山（三錢）麥冬（三錢）　白芍（三錢）　蓮子心（三錢）　桑葉（三錢）　荷葉（三錢）　釵斛（三錢）　玉竹（三錢）　水二碗煎取一碗痢愈後多服大補益元氣</p>
<p>調胃承氣湯</p>
<p>生大黃（三錢）　芒硝（二錢）　生甘（一錢）　水煎二味既成再入芒硝二沸即取得快利即止　</p>
<p>桃花湯（治痢症不後重者）</p>
<p>赤石脂（一錢）　糯米（五錢）　黑姜（一錢）</p>
<p>上三味久煎成湯服之能溫補止澀為虛滑痢之主方不後重下痢者乃用</p>
<p>清寧丸（治休息痢）</p>
<p>生大黃（四兩）用薄荷拌酒蒸一次去薄荷干後用去糟米酒半斤好燒酒四兩泡二七日在飯上蒸一次再攪一次再曬露再蒸乾再加酒至大黃爛如泥為丸如綠豆大每服或一錢或五分大便微下則愈</p>
<p>鳥梅丸（治虛滑久痢不後重者）</p>
<p>鳥梅（十枚去核）　川連（三錢）　黃柏（一錢）　人參（一錢）　桂枝（一錢）　細辛（一錢）　焙附（一錢）　當歸（一錢）　花椒（一錢）　乾薑（二錢）</p>
<p>上為末用鳥梅飯上蒸熱搗和加蜜為丸如桐子大每服三十丸米飲下</p>

<h2>附錄經驗奇恆痢症</h2>
<p>余治族人始患痢日夜數十行紅白相間六脈大服黃芩蓮導滯等類罔效繼則病勢日劇渴飲熱湯乃快延余診視六脈數大無倫遂擬歸芍六君加味取效繼用歸脾湯而愈矣</p>
<p>老山洋參（一錢）　生芍（錢半）　於朮（一錢）　酒芩（八分）　焙附（一錢）　甘杞（二錢）　歸身（二錢）　吳萸制川連（八分）　炙甘（八分）　潞黨（二錢）　水燉空心服</p>

<h2>附經驗鼠疫證治</h2>
<p>鼠疫為患皆由陰陽不齊時序不知天降異災地生熱毒惟鼠質最熱鼠性最靈先感召其熱毒而死沿門合境皆是繼則傷於人然受病之因不一或內因積熱而引外毒或由竅道感受地氣之　熱毒或由口鼻感觸死鼠之臭穢或由鼠蝨而傷人之肢體鼠疫之名由此來也究竟其毒直中陽明當慎於始始則病形未彰起居如常或口燥咽乾或似飢非飢或飢而欲食或臥寐煩躁或困倦欲臥或四肢酸痹或遍身旋痛或頭眼暈痛或乍寒乍熱或咳嗽腹痛以上諸證皆受病之始如有一二證即系此病之發見端便應作時疫調治庶幾有萬全之功然邪氣傷人必乘虛而湊之若素有舊病之人必從舊病先起無論頭痛腰痛胸腹氣痛切不可概舊例而治之必須按此方而服之可保無患耳</p>
<p>藥方</p>
<p>連翹（二錢）　粉葛根（二錢）　玄參（五錢）　丹皮（三錢）　牛蒡（二錢）　條芩（六錢）　麥冬（五錢）　赤芍（三錢）　大黃（三錢）　紫草（五錢）　</p>
<p>用水三大碗煎至二大碗半飢服若大便秘結加玄明粉一錢半調藥水服必須連服數劑二便利病退為度毒氣甚者必下黑血而愈如肢體有結核者加西紅花二錢桃仁一錢半猶有肢體結核而不痛無憎寒壯熱者此由鼠蝨所傷之輕病不藥可愈</p>
<p>食物須知</p>
<p>患疫症者僅可用薯粉作羹綠豆煮湯食之（山薯即番薯）</p>
<p>切戒飲食</p>
<p>鼠疫切忌粥飯即飯湯亦不沾唇然粥飯入胃濁氣歸心最助陽明之熱毒若誤食米穀必殆　切忌黃糖白糖甜氣入脾最助邪熱　切忌冷水若誤食之則血液瘀滯　切忌生青瓜果若誤食之患同冷水無異　切忌暈魚蝦酒面等類若誤食之必殆須要腸胃熱毒瀉盡憎寒壯熱頓除之後方可用米少許和綠豆煮粥漸次飲之</p>

<h2>論疫之重證</h2>
<p>蓋陽為資生之海氣血之源主肌肉而潤宗筋故毒中陽明則肢體疼痹憎寒壯熱或口渴引飲或藥不下咽或腰腹脹痛二便秘澀猶有結核者多生於兩胯兩脅兩胯猶多亦有生於肢體左右上下不等究其結核之由皆緣井榮腧原經合之筋脈互相交錯之處值其虛者毒必湊之氣血與熱毒互交糾結則核生焉然多生於胯脅者何也胯為陰包之界脅為大包之屬乃宗筋之要道熱毒流壅於胯脅則宗筋凝樞要不通機關不利故核多糾結矣核之形或大如　鴨卵如覆杯小則如龍眼如鈕仔或紅腫而不痛有隱隱而痛有痛楚難堪須知痛甚必由其毒甚所致最忌針刀若鹵莽誤用必殆治之之法總要用藥得宜必令瀉盡腸胃黑穢之毒物蕩盡則憎寒壯熱自除諸恙自己如果核不銷散由其自然而出膿水謹慎藥餌和緩調理可保平安歷驗不爽列方於下必須連服　數劑俟毒盡為度</p>
<p>連翹（三錢）　玄參（一兩半）　條芩（一兩）　紫草（一兩）　丹皮（八錢）　大黃（六錢）　丹參（四錢）　牛蒡（三錢）　麥冬（一兩半）　公英（五錢）　生地（二兩）　赤芍（五錢）　粉葛（三錢）　水煎臨服加西紅花（二錢）　玄明粉（三錢）　（沖）　藥水調勻均三五　次服如質體強旺壯熱盛者用大黃一兩或一兩半玄明粉易朴硝五錢審病勢度之如果憎寒壯熱遂除核不銷散者宜生地四物加減</p>
<p>生地（五錢）　生芍（一錢半）　條芩（三錢）　連翹（一錢半）　玄參（三錢）　歸身（一錢半）　麥冬（三錢）　紫草（四錢）　牛蒡子（一錢半）　公英（三錢）　桃仁（一錢）　角刺（二錢）　此方可連服十貼或五貼當　審質體強弱病勢重輕同志者圓機裁度核色紅者加大黃二錢　色白者加黨參二錢　川芎一錢　痛者加乳香六分　如結核處痛甚者宜用生地四兩　銀花二兩　紫草四兩　乳香（三錢）　沒藥（三錢）　濃煎乘熱頻頻洗之另用大黃末加梅片少許蘸蜂糖塗患處此證按法調理有十餘天而出膿水者有月餘而出膿水者至出膿水時宜生熱四物湯加減</p>
<p>生地（三錢）　當歸（二　錢）　釵斛（一錢）　生甘（八分）　玄參（三錢）　熟地（四錢）　生芍（一錢半）　紫草（三錢）　麥冬（三錢）　老山洋參（一錢）　此方可服數劑如膿水未乾加蘇淮（三錢）　茯苓（二錢半）　川芎（一錢）　黨參（三錢）　當歸（三錢）　或倍用洋參或加白朮圓機之士宜活潑度之</p>

<h2>論疫之危證</h2>
<p>夫陽明居中士乃多氣多血之海萬物所歸無所復傳故毒壅胃腑則水腎水暴竭津液驟涸所以毒攻於腎則躁煩腰折咽喉腫痹毒攻於肝四肢瘛瘲循衣葉血毒攻於脾則腹脹氣促身重難轉毒攻胃腕則嘔逆難嚥毒攻於心則妄語昏狂毒攻於肺則咳嗽痰血毒攻督脈巔頂若劈毒攻筋脈四肢抽搐毒攻衝任則血逆而吐毒攻於腦則頭痛而暈以上諸證危亡旦夕附方於下以求萬一之幸</p>
<p>生地（三　兩）　條芩（二兩）　玄參（二兩半）　丹皮（一兩）　正犀角（五錢）　麥冬（二兩半）　大黃（一兩半）　紫草（二兩）　正羚羊（五錢）　赤芍（五錢）　當歸（三錢）　生甘（二錢）　水煎臨服加西紅花（三錢）　朴硝（五錢）　沖藥水服均數次服之</p>

<h2>附醫家小說</h2>
<p>閒嘗讀孔子魯論於南人一章有曰人而無恆不可以作亞巫醫蓋孔子所以述南人之言者惟恐人立心無恆致使作輟鮮終未嘗以巫醫為賤役而朱子獨釋巫醫為賤役巫之道吾不可知以醫為賤役余殆有所未解何也竅思醫之源流創自神家天生神聖以救萬民者也是以神農發明本草軒轅作靈經岐伯洋互問伊尹作湯液長沙著傷寒慮醫著難經和緩辨膏盲削骨療醫華陀之發起不誣筆點龍睛邈之真詮尚在據考千古名醫非聖君腎相即仙風道骨之流以醫為賤役者果何謂哉雖然朱子亦腎人也揣其所以為是言者豈真無謂哉勿論他人即鄙人亦嘗遇之餘猶記托跡三河遇富貴家後裔延余診其少君入門伊始掃榻歡迎而且敬及診視後且言病機不治余欲他往奈殷勤挽駕停留一夕豈料坐談間毫無禮趣且童僕無告問其居心厚薄不可知而其視醫為賤役則昭　然若揭予始疑朱子之說者予轉服朱子之言不我欺也然而予說是言未終有博學先生執余手而言曰如子之言其置天生神聖之神家輩為何地且視仙風道骨之流為何人乎遂各粲然一笑而起1</p>
