<header data-type="book">
<h1>言醫選評</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="裴一中">裴一中</data>撰，<data value="王世雄">王世雄</data>選評</dd></div>
<div><dt>年份</dt><dd><data value="1851">公元1851年</data></dd></div>
</dl>
</header>

<h1>小引</h1>
<p>《言醫》一書，國初時海寧裴氏兆期所著，康熙間錢塘高士宗《醫學真傳》曾論及之，則彼時必有刊本，迨後湮沒失傳，故道光間震澤吳子音於《三家醫案例言》後有續刊此書之語，惜子音尋逝，竟未重鐫。往歲定州楊素園明府囑購醫林遺帙，余浼人往蘇搜訪，得其原稿讀之，雖瓣香《醫貫》，而識見實超出於趙氏，更有先言余之所欲言者，遂忘固陋，選而評之，郵質楊侯，極蒙許可，且命授梓以公於世云。</p>
<p><u>咸豐元年春王正月邑人王士雄書於重慶堂</u></p>
<p><u>中華民國六年仲夏月下浣南通陳月亭書子靜室齋</u></p>

<h1>正文</h1>
<p>吾快讀裴子之書而異之也，學不貫今古，識不通天人，才不近仙，心不近佛者，寧耕田織布，取衣食耳，斷不可作醫以誤世。醫固神聖之業，非後世讀書未成，生計未就，擇術而居之具也。是必慧有夙因，念有專習，窮致天人之理，精思竭慮於古今之書，而後可言醫。每見庸工治病，十失其五；良工治病，亦十失其一，由一以循累之，誤亦未忍言也。即能窮致天人之理，精思竭慮古今之書，而病伏於內，醫測於外，病以奇伏，醫以意測，幸而得則竟得矣，或偶不得，則不為二豎所笑者無之。此扁鵲所以需上池之水，而思邈所以藉龍宮之方也。夫上池之水不易得，龍宮之方不再傳，則惟窮理讀書，以學識參造化之權而後可。若裴子者，斯其人矣；若裴子者，固數百年所未出之人也。古今之有學識者，當首推張戴人及劉河間，能與病血戰，而不奉表稱臣於病，第未免過甚耳。其餘諸家，立法非不善，實為鄉愿逋逃之藪。故謂醫有成心，不可也；謂醫有成理，尤不可也。無成理而有或效，醫信難言哉！裴子之言曰：以生死易視者易之。固數百年所未出之言也。獨謂裴子學貫今古，識通天，人才則仙而心則佛，信也非譽矣。誦其言皆軒岐所欲言而深悔未及言，亦諸大家所欲言而格格不能言，豈帝憫枉札之禍，助其神智而授之使言歟？推此而失者可得，難者可易，而謂醫無成理，尤不可也。余以多病學醫，日為醫而醫日下，初似可遊刃，邇皆茫然，抑鬱焦思，徒廢寢食，行將耕田織布，棄醫而去，以求無誤於世。今秋得晤個亭先生，極口兆期裴子學識，且示以所著書，余嚮慕裴子名，而不圖其貫通至此也。一再讀之，豁乎快有所獲，裴子教我矣。何時共晨夕，而相咨晰，究竟此神聖之業哉！</p>
<p><u>順治十四年丁酉中秋日友弟趙善鳴聲伯父序</u></p>
<p>醫之道難言矣，余何人斯，敢僭言也？惟是醫教衰而醫日流於弊，古聖賢仁壽之傳，幾歸淪沒，遂不自禁其婆心之熱，率蠡見而僭言之也，知我罪我，其在茲乎！</p>
<p>人之一身，無非病也，亦無非藥，泥金、石、草、木、鳥、獸、蟲、魚為藥偏矣，亦後矣。飢飽待時，飲食藥也；寒溫適所，衣服藥也；動靜有常，起居藥也；色不視邪，則目明；聲不聽淫，則耳聰；口無莠言，行無顛步，則口體正，均藥也。使有人焉，知填精而不知寡欲，知養氣而不知守默，知保神而不知絕慮，亦焉往而得藥。《素問》，醫之六經也，但言順四時，少嗜欲，節飲食，不為邪氣凌犯，初未嘗以藥言。其五志為病者，即以五志為藥。如曰悲勝怒，病怒者，悽愴哀苦以感之；喜勝悲，病悲者，謔浪佚豫以娛之；恐勝喜，病喜者，迫遽危亡以怖之；怒勝思，病思者，汙辱欺妄以激之；思勝恐，病恐者，沉疑搜剔以緩之。至如逸可治勞，靜可治躁，處陰以避暑，就燠以避寒，凡此之類，皆非熱非寒、非酸非苦，無煩採製，不費㕮咀，隨在而得之之聖藥，遠逾草根木皮萬萬也。則請為尊生者，揭未病之藥。</p>
<p>慎起居、節飲食則外感不能侵，若情志所傷，不可徒以藥治之。張戴人深知此義，觀其治案，可以為萬世法。蓋草木之功，但可以祛六淫之邪也。</p>
<p>《素問》曰：不能治其虛，何問其餘。夫不曰補其虛，而曰治其虛，大有深義。「治」字、「補」字，難易大不相侔。補其虛者，只有虛而別無邪氣夾虛中，譬猶弱國時也；治其虛者，不足之中兼有餘之證，譬國勢強弱相半時也。此時而欲補之，則邪未衰；欲瀉之，則氣已敗，勢介兩難，必隨時取中於其間，或先攻後補，或先補後攻，或因攻為補，或借補為攻。雖攻而正不戕，雖補而邪不熾，方可謂之治其虛，謂之能治其虛耳。於此不能，其餘何可復問？旨哉！須知治之一字，有無限苦心，無窮妙用在，與虛則補之之一字大有間，世都忽而不察，特註明之。</p>
<p>分別治虛、補虛之異，有禪後學不少。</p>
<p>醫何以仁術稱？仁即天之理，生之原，通物我於無間也。醫以活人為心，視人之病，猶己之病，凡有求治，當不啻救焚拯溺，風雨寒暑勿避，遠近晨夜勿拘，貴賤貧富好惡親疏勿問，即其病不可治，亦須竭心力以圖萬一之可生。是則此心便可徹天地、統萬物，大公無我而幾於聖矣。不如是，安得謂之醫而以仁術稱？</p>
<p>藹然仁者之言，業是術者，當書座右。</p>
<p>醫者常須愛養自家精力，精力不足則倦，倦生厭，厭生躁，厭躁相乘，則審脈、辨證、處方，皆苟率而無誠意矣。思欲救死全生，庸可期乎？今之醫者，鮮克不以奔競為專務，徒勞苦而不自知，大戒也。</p>
<p>不但奔競當戒，尤宜屏除嗜好，蓋嗜欲紛則靈機塞也。</p>
<p>醫之看病，與文家之相題無二。病，題也；脈，題之旨也；藥，則詞章也；方法，局與勢也。善為治者，脈證既詳，當思所以治之之法，而隨因法以立方，藥不過如卑賤之職，唯吾方法驅使耳！不思者，竟以草木為拘，見頭痛便用川芎，見腳痛便加牛膝，救頭救腳，茫乎其無統宗。雖藥品精良，亦何能中病之窾會哉？是猶文家不以題旨局勢為先，而僅修詞章之末，縱言言錦繡，字字琳瑯，與本題將千里隔矣，何足貴！</p>
<p>證不辨清，脈亦無憑，故博學、審問、慎思、明辨、篤行五者，醫家不可缺一也。</p>
<p>胃為水穀之海，脾為生化之源，生化旺則氣血清和，諸病屏息，生化衰則氣血虧損，百疾交侵，非細故也。惟東垣先生深得此旨，闡發脾胃元氣之妙，可謂呼聾震啟聵光矣。世之醫者，徒執病形，不推病本，脾胃之義，置而勿講。如脾虛氣短似痰喘耳，泥為肺熱痰壅，瀉以石膏、蘇子；脾虛發熱似外感耳，認作風寒外束，表以羌活、麻黃；脾虛下陷，變為後重裡急，猶謂滯積不行，可以硝、黃、枳、樸；脾虛不運，變為水脹中滿，猶謂宿食未化，導以巴豆、牽牛；產後感風，飲食停滯而嘔吐脹悶，誤擬敗血攻心，恣餌桃仁、四物；勞瘵脾虛，飲食減少而噁心溏瀉，尚執滋陰降火，偏需知、柏、二冬，投之不愈，更恣投之，脾胃轉傷而疾轉篤，技窮莫措，歸命於數。時弊如斯，曷可勝計？無他，未明主氣之說故也。主氣實而攻之，則病易愈；主氣虛而攻之，則病反加，非藥不能治病也，主氣不行藥力也。況當世之人，氣稟寖，兼多沉湎於酒，耽縱於色，汲汲沽名，皇皇求利，又復傷於勞思者，更不少也，司命者，其可不亟講於斯。</p>
<p>脾胃須分講，此段專論脾。</p>
<p>補虛之最切要者，在扶胃氣，胃氣強則飲食進，飲食進則血氣生，補何如之？所謂得谷者生，失谷者死，理甚易明耳。今之不善補虛者，概用當歸、地黃、人參、白朮、甘草、黃耆等類，以為補虛之法，莫此若矣，不思此等品類，雖能補虛，要皆甜膩壅隔之性，胃之強者則幸矣，胃之弱者，其可當乎？不脹則瀉，不瀉則嘔吐而不能食矣。有謂病不轉加於此，誰其信之？</p>
<p>此段專論胃，然胃陰虛者，須養以甘柔，此義惟嘉言知之，香岩能之。</p>
<p>病有藥傷而變重者，甚者變證莫識，而卒致危亡者，不可不知，不可不慎。昔一婦患經閉，服血藥過多，血不行而飲食反減，又增寒熱嘔逆，醫猶謂瘀血攻心，倍加峻削，病者忽發神昏齒噤，口角流涎，狀類中風，診其脈伏而微，心下按之滿急且有聲。曰：此飲證也。詢之乃為藥所傷，非湧法不可，急取油鵝翎探之，一湧而出酸水四五升，隨醒，先用燥濕寬中藥，次與補脾健胃，俟飲啖起居如故，始進通經丸，血乃行。一人病瘧兼旬，胸滿而畏食，胃氣不清故也。醫不審，與以加減補中益氣湯二服，瘧反大劇，易用鱉甲、何首烏等藥，作大劑以截之，更脹嘔不勝，湯飲俱廢，或疑其誤服補藥，與陳皮、蘆菔等湯，病益加。予診之六脈濡弱，此濕氣滿胸膈也。以蒼朮為君，佐半夏、厚朴、澤瀉、豆仁等，少加薑汁、食鹽，徐徐與之，不食頃嗯然欲吐，即探引得吐黃涎惡水甚多始平，瘧亦漸止。又一小兒，甫三歲，得心腹痛疾，醫者處劑太重，煎汁又濃，更灌之乳，食後反增嘔吐，發寒熱而兼喘，更數醫咸罔效，漸變昏聵，不醒人事，其家以為不可救，遂勿藥以俟之。自晨至昏，忽聞腹中汩汩聲，上下者數四，遺穢汁鬥許而蘇。凡此等病患者甚多，不能悉舉。總之人身以胃氣為本，胃氣傷，雖對病之藥，皆不能運化而取效，反生他證。今之病家、醫家，均不之察，凡有病輒投以藥，不愈，更醫以藥，旋已旋藥，甚至病久脾虛，飲食不進，不思顧其生化之源，而猶亂投湯藥之劑，致中氣受傷，變證百出而死者不少矣，可不慎歟？</p>
<p>凡脾虛濕盛、氣滯、痰凝者，皆不可妄投守補，尤忌滋填，設誤用之，多蹈此轍。</p>
<p>藥無所謂王霸也，用藥亦無所謂王霸也，而有王道霸道之喻，亦用之者有王霸耳。用藥者常變以審時，經權以濟事，當補即補，當攻即攻，當寒即寒，當熱即熱，曷王霸之有分哉？用之者善，甘草、參、耆王也，附子、硝黃亦王也。春生秋殺之天道也，當即無藥非王也；用之不善，則附子、硝黃霸也，甘草、參、耆亦未始非霸也。冬燠夏寒之愆咎也，不當即無藥非霸也。是則王霸不在藥，而在所用；亦不在於用，而在善用與不善用。今世之談醫者，咸以參、耆、甘草類能補益，稱為王道；硝黃、附子類能攻伐，稱為霸道，是泥於藥之有王霸矣；泥藥之有王霸，遂泥於用之亦有王霸矣。噫！果用藥有王道霸道之岐哉？此惟可與知者言也。</p>
<p>藥無定性，貴於用之者得其當，固是定論，若學識未優，而孟浪以施峻厲之劑，則豈止霸道哉？直是費人之事矣。</p>
<p>藥有偶中而病愈者，有誤中而病愈者，未可居功於不疑，當猛然省，翻然悔，惶悚無地，則學日長，而識日高。昔如一木匠趙與鐵匠杜，行次乞宿，其家有病人不納。杜紿曰：此趙君世醫家也，蒙上司見召，失路至此，必病者之當愈也。主人遂延人，診之，曰：一藥可愈。潛出，得牛糞一塊，作三十粒，下以溫水，胸中頓覺如蟲行，一湧而出小蜣螂狀者二三升，病如脫。越宿禮餞而去。嗚呼！此二人小人也，欲苟一宵之寢，以穢物治人，蓋偶中耳。竊恐二人此去，必且謂醫學無難，而居然世醫家，幾不自識其初心矣。又有一病身冷而脈沉伏者，醫認為陰，投以桂、附等熱藥，一婢煎之，適傾廢，茫無以應，借黃連香薷飲一杯代之，不謂一飲而瘥，是何也？陽證似陰，非陰也，醫誤以為陰也。設藥不為婢誤，醫之誤不可言矣！設藥不為醫誤，婢之誤不可言矣！幸其相誤，而因誤以中病，乃得生耳。吾不如此醫亦居功不自疑否？如居功，恐又為此婢竊笑也！此二事深可為近世醫家提醒，故謹志之。</p>
<p>用藥如用兵，暴虎憑河且不可，況僥倖偶中而不知惶悚者，何足以言醫也！</p>
<p>人皆以黃耆、人參、白朮、甘草、當歸、陳皮、升麻、柴胡八味為補中益氣湯。噫！此固補中益氣湯，特元氣下陷之補中益氣湯耳。蓋中者脾胃也，氣即脾胃之氣，元氣也，立方者以參、耆、甘草等藥善補中州之元氣而用之也。因元氣之下陷，不得不佐升、柴以舉之，非升、柴之能補中氣，亦非中氣之必佐升、柴而後補也。中氣既不必佐升、柴而後補，則凡有以參、耆、甘草相須而立方者，皆補中益氣湯也，不必定有升麻、柴胡也。如有因小兒慢驚與痘漿不足，用參、耆、甘草三味名保元湯者；有脾氣久衰用人參、白朮、茯苓、甘草為四君子湯者；脾虛有痰有濕四君子加陳皮、半夏名六君子湯者；飲食少進更加藿香、砂仁為香砂六君子湯者；有虛痰眩暈以參、耆、甘、術合天麻、半夏等藥為半夏白朮天麻湯者，又有合棗仁、遠志、龍眼、當歸為歸脾湯者；有大病後調理元氣用參朮湯與參苓白朮散者；有元氣暴脫脈微欲絕，用人參一味為獨參湯者；有暑傷元氣用生脈散、清暑益氣等湯，與氣虛夾寒而用人參理中湯、附子理中湯者。凡此之類，皆謂之補中益氣湯可也，皆謂之元氣不下陷之補中益氣湯亦可也。但其間所夾之證與所兼之藥有不同，故命名亦各不同耳。究其旨何一不在「中氣」二字上著意哉！</p>
<p>余亦嘗云：東垣此方宜名補中升氣湯，若不須升陷，但須益氣，何必佐以升、柴乎？後人不明此義，因而貽誤者不少。</p>
<p>學不博不可以為醫，徒博亦不可以為醫。醫者意也，聖賢之精蘊形而上者之道也。布在方策者言也，形而下者之教也。學者欲求聖賢之意，不得不因言以求之，非廣博不可也。所謂教非道不立，道非教不明也。不求其意而徒事於言，則雖讀盡天下古今奇書，皆糟粕矣，何異饕餮百種珍羞，填塞胸中而不化者乎？</p>
<p>讀書者須知出入法，若入而不出，則死於句下矣。此由才不足以勝學，故聖人有才難之嘆。余謂人必具才、學、識之三長，始可以為醫者，正此意也。又嘗撰楹帖一聯云：近人情之謂真學問，知書味即是活神仙。附及之，與天下之讀書人共勉焉。</p>
<p>久病後不可恣投以藥，且無論藥之謬，即對病者不可不慎。何也？人之元氣以胃氣為本，胃氣又以穀氣為本。故《內經》曰：無毒治病，十去其九，谷、肉、果、菜食養盡之。小不以藥養之也。凡藥過劑，無有不傷脾胃之正氣者，正氣傷則有作瀉作嘔與腫滿者，甚至膈脹不能食，而反生他證者，名為補人而實害人。</p>
<p>藥為治病而設，非養生之物也。袁簡齋云享高年者，生平不服丸散，真見道之言也。</p>
<p>病蓋有縱口吻而死者矣，亦有絕其谷而視其死者焉。世都不察，幽潛沉冤者眾矣。念及此，深為酸鼻。夫飲食，養生物也，可節而不可縱，然亦不可使之絕，故節之則生，不節而縱且絕則死。縱而死，病者之責矣，絕而視其死，伊誰之責邪？如傷寒、傷風、傷食等有餘之病，或脹，或痛，或嘔，或吐，感之暴而脈躁疾有力，且無虛證之兼者，雖不與之食，亦可也。此不可與而不與，是節之，非絕之也。及久病久虛久不飲食之人，陡覺穀氣馨香，欲求啖而不敢遽啖，正胃氣初回之候，法當徐投漿粥，或少與適口不助邪之物，以充胃氣，胃氣充則元氣亦充，而病自無不愈。若概視飲食為毒藥而不與，是絕之，非節之也，則幾微之胃氣，將安恃乎？</p>
<p>得谷者生，正為胃氣初回者言也。</p>
<p>病到危急時，非峻重之藥不能救百中之一二，今之醫者皆重惜名譽，姑以輕平之劑，冀其偶中，幸而不死，則曰是我之功，不幸而死，則曰非我之罪，恐真心救世者，不應如此也。真心救世者，必慨然以死生為己任，當寒即寒，當熱即熱，當補即補，當攻即攻，不可逡巡畏縮，而用不寒不熱、不補不攻，如諺所謂不治病、不損命之藥，嗟嗟！既不治病，欲不損命，有是理乎？倘於此認不的確，不妨闕疑以待高明，慎勿嘗試以圖僥倖，庶不負仁者之初心。醫之道極難知，無學者不知，有學者未便知；無才者不知，有才者未便知；有才有學矣，不克隨時取中者亦不知。甚矣！知醫者難也。今有一等人，謾說某某知醫，某某不知醫，噫！知醫固難，而知知醫者，恐亦不得容易也。</p>
<p>世之恃其學問淹博，而輕談醫理者，必致誤人自誤而後已。</p>
<p>醫有上工、中工、下工。上工者良工，中工者庸工，下工者謬工。蓋謂庸工之不若良工，謬工之不若庸工也。以理言之，庸工豈止不若良工哉？並不若謬工耳！謬工之殺人，殺人而見其跡者也，見其跡，則人所易知而易遠，其為天下之害少；庸工之殺人而不見其跡者也，不見其跡，則人所易忽而易近，其為天下之害多。譬猶暴君為不善，其亡雖速，而天下之害不甚深；庸君未必能為大不善，而天下之元氣陰受其賊而不知，其亡雖緩，而為害於天下不既深乎？嗚呼！庸君誤天下，庸醫誤病人，一理也。</p>
<p>良工治病，因證而施攻補溫涼之藥；庸工則專用溫補，以為不損於人，而人亦樂從以為穩當，雖受其害亦不怨尤；謬工則道聽途說，麻、桂、硝、黃妄思弋獲，服而即死，厥罪無逃。</p>
<p>醫到病家，未診視不可先講病，必待望而聞，問而切，脈證詳明，始可斷為是寒、是熱、是實、是虛，病在某經，當於某經用藥，某日當瘥，某日當危，庶藥與證對，而不蹈妄投之弊。近有急欲見長者，未見病人顏色，輒抵掌而談曰：某藥可以治某病，此必某病也，當以某藥治之。噫！是猶未命題而先作文以待矣！鮮有不背聖經而誤人命者。醫者胸中預擬一成見不得，雖病者不為自諱，詳告諄諄，亦未可遽執為真病情，真病本也，且待診視後參較果否耳。至若侍奉者之傳言，延醫者之預達，尤不足憑。蓋學者胸懷空曠，了無執著，始得應變無方耳。先哲云：凡讀書不可先看註解，且將本文反復詳味，待自家有心得，卻以註解參較，庶義理昭然，不為他說所蔽。若先被其說橫吾胸中，自家竟無心得矣，吾於醫家亦云。</p>
<p>此是看病之法。</p>
<p>一婦頭眩耳鳴，肉瞤筋惕，恍惚不得寐，乍作乍止半載矣。後乃阻經四月，小腹如懷孕，醫者疑其妊而安之。忽一日下紫黑血少許，始識經閉，改用通經藥數劑，腹不減，反增噁心嘔噦，粥飲下咽旋越出，咽喉焦痛，舌黑無津，眾醫不能解。余診得六脈弦細而滑，兩關尤甚，曰此頑痰閉滯，血海壅瘀，月事乃阻耳。何以徵之？其脈細而滑者，痰脈也；頭眩耳鳴恍惚者，痰證也；嘔吐不食者，痰客中焦也；舌黑無津，咽喉焦痛者，痰生熱而然也。《素問》謂治病必求其本，今病本於痰，必以治痰為首務。遂投礞石滾痰丸八十丸，不動再投七十丸，小腹微痛，次日又服如數，小腹痛不可忍，將夜半下如豬肝者四五塊，每幾盈尺，更下如破絮脂膜者無計，又累累若石榴子紅白攢綴連絡而下者，不啻二三斗，小腹頓平，痛亦如失。其最異吐痰碗許，俱如綠草汁色，口角流涎，忽變如琴絃之堅。因憶丹溪先生謂怪病是痰，十居八九，良然良然。時胸次未平，飲食少進，用橘紅、茯苓各一錢，枳實、黃連、半夏曲各八分，水煎，入薑汁二匙，竹瀝半酒杯，二劑後，以六君子湯加減，更服加味潤下丸，調理百餘日乃愈，逾年生一子。</p>
<p>此證必曾誤補，否則不至若是之甚也。</p>
<p>有病傷寒傳裡，熱結不通者，已屢經下，而腹中按之，則仍繞臍堅結，若仰瓦然。且其人伏枕不起，又累旬，肌肉盡爍，湯飲幾廢，甚至氣怯不足以布息。當此之際，攻補不能施其巧，計將安出？曰：論常法在所必攻，不攻則腸胃無繇清，水穀無繇進，元氣無繇復，而人曷以生？若遽攻，則此立槁之形，垂絕之氣，能堪之乎？計必先行補法，而後察邪正之緩急輕重以攻之，攻後旋覆從補，補後旋覆從攻，而又旋覆從補，則庶幾耳。但補與攻，皆當以漸而毋驟，其始也，且以小劑生脈散，加陳皮煎飲半小甌，飲後移時無反復，復少與，繼則或可漸倍，並商攻法也。如腹中鬱熱未清，渴欲冷飲，遂當啖以橘、藕、瓜、梨之屬，潤其喉吻，飲食久疏，胃必弱甚，又當間與清米湯、大棗湯，或扁豆、筍蕨、蘆菔暨飴糖等湯，隨所好以蘇胃氣。凡此皆余平時所謂適口不助邪之物，佐藥餌以不及者也，皆補法也。補既得，方可議攻，攻則唯元明粉一味為佳，生何首烏煎服亦佳，蜜導、膽導尤為良法。不應，須詳脈之虛實，氣之盛衰，邪之深淺，以導滯丸或小承氣加當歸微下之，下後仍須照管元氣，毋徑前而勿顧其有虛虛也。倘其候果可授餐，亦勿得驟之以濃厚，先以陳米煎汁飲之，次煮熟梨、熟棗、熟蘆菔等少與之，無忤，始可徐投漿粥與他物耳。須知此證腹中攻不克盡與旁流者恆多。惟期脈靜身涼口不渴，便可圖進水穀，慎勿過攻，俟其水穀融洽，腸胃充盈，不攻亦可自去。若必欲去盡，而後與之食，不將速其死乎？雖然此皆陽證之攻補法也，亦有元氣內損之病，治療失宜，損而復損，內雖熱結，外則手足未冷而鼻先寒，六脈沉遲，或虛疾無倫次，則又是陽證變陰之候，急當以桂、附、參、姜酌微甚而溫補之，又不可與梨、瓜、橘、承氣、玄明粉同日而語治者矣。智者於此，不可不熟審而通其變。噫嘻！豈特傷寒為然者，凡雜病日久，鮮有不犯此證者，余於治按中每詳言之矣。</p>
<p>緩攻輕補，深合治虛之旨。</p>
<p>無病服藥之流弊久矣，而今為甚。此皆執前人服藥於未病，與上工治未病之說而謬焉者也。不知服藥於未病者，即致治於未亂，保邦於未危也。善致治者，尊賢使能，振綱肅紀，則政修民和，苞桑萬世在茲矣。若無過興師，則內生反側，外兆邊塵，不反自貽伊戚哉！然則保國、保身無二理，用藥、用兵無二術。善衛生者，能於平時節飲食，慎起居，少嗜欲，寡縈慮，使五官安職，百體清和，將遊華胥而臍喬松矣。苟思患預防，審醫可也，問藥性可也，讀岐黃書可也，若以草木偏攻，則寒者戕賊脾元，熱者煎熬血脈，是猶小人陰柔巽順，似乎有德，而國家元氣鮮不為之潛移者。古人謂壁中用柱，壁中添鼠，不可不深長思也。至若不治已病治未病，則又是有說，如肝邪旺，恐傳變於脾，當先瀉肝以平之；心邪旺，恐傳變於肺，當先瀉心以平之之類是也。是則治未病者，治病之未傳也，非治人之未病也。服藥於未病者，調攝於未病也，非未病而先服藥也。二說各有所指，皆非無病服藥之謂也。夫何貪生者假為棲真元牝之丹，縱欲者泥為嬰兒奼女之術，岐黃誥戒，視若弁髦；伐性斧斤，恬如衽席，是以疴端呈現，種種乖常，蒂固根深，卒難期效，而猶咎刀圭無補，毋乃愚乎？</p>
<p>無病而服補藥，富貴人之所為，是揠苗之助也。畏死而求神仙，聰明人之所為，是大愚若智也。</p>
<p>王節齋曰：畏，畏其制我不得自縱；惡，惡其異我不能自如，此二者不深害。蓋彼既畏我，我必惡之；我既惡彼，彼亦畏我；我雖惡彼，彼無忿心；彼雖畏我，我能制彼。如牛黃惡龍骨，而龍骨得牛黃更良；黃耆畏防風，而黃耆得防風其功愈大之類是也。至相反則兩仇不共，共必為害，然大毒之病，又須大毒之藥以劫之，甘草、芫花相反藥也，而蓮心飲以之治癆瘵；藜蘆、細辛相反藥也，而二陳湯以之吐風痰。又四物湯加人參、五靈脂以消血塊；感應丸以巴豆、牽牛同劑，為攻堅破積之需。相反之中，亦有相成之妙。此古人達至理於規矩準繩之外，故用之反以為神，非好奇之私，而以人命為僥倖也。</p>
<p>苟無灼見之真，究勿輕於一試。</p>
<p>昔南人有言曰：人而無恆，不可以作巫醫。朱子竟認巫醫為兩事，一注以交鬼神，一注以寄死生，岐而二之，恐為未當。夫醫之道始於神農，闡於黃帝，著有《素問》、《內經》以救民疾苦，所謂墳典之書，至尊至貴，莫之與並，豈可與巫覡之徒同日而語者？但醫有不同，名稱亦是有別。精於醫者曰明醫，善於醫者曰良醫，壽君保相者曰國醫，粗工褊淺，學未精深者曰庸醫，但有時運造化者曰時醫，至若擊鼓舞趨，祈禱疾病，不以醫藥為事者則謂之巫醫耳。世之稱為「端公太保」、「夜行卜士」，北方稱為「師婆」，皆此也，正南人謂之巫醫也。蓋謂一切虛誕之輩，亦是不可無恆也。</p>
<p>九原可作，朱子必然首肯也。</p>
<p>近有一等行醫者，偶得一方一藥，輒滿顏矜色，抵掌傲笑而言曰：我藥能救人之命。噫！命果何物？而可醫藥救之也哉！即古昔大聖至神靈至慈愛，亦不過能以藥治人之病，未聞有救人之命者。今且無論不能救人之命，即欲求其能治人之病者，亦不多見矣。予雖不敏，誦讀於斯者有年，博採於斯者有年，忘食廢寢，默契神參，以至歷危際險者又有年，亦僅知探虛實，測淺深，權緩急，能治人之病，還其不死而已，豈遂因以為功，而曰我藥能救人之命哉！從未之敢也。</p>
<p>誤藥可以殺人，愈病豈非救命？但醫者不可以自矜也。</p>
<p>或問醫之療病，須善用權，權之義安解乎？裴子曰：權者，無心物也。朱子譬之稱錘，以其稱物平施，可輕亦可重也。用之者胸中不得預擬一成見，當在兩，稱錘不得不在兩；當在斤，稱錘不得不在斤。本非一定不移之物，而有一定不移之理；有一定不移之理，而無一定不移之心。醫者必如是，而後能乘時制宜，以濟人之危而無弊。如虛可補也，容有時乎不可補，而因攻以為補；實可攻也，容有時乎不可攻，而假補以為攻。病在此而治未嘗必在此，病在彼而治未嘗必在彼。病同而治或不與之同，病異而治或不與之異。硝、黃之寒也，以之攻寒；桂、附之熱也，以之攻熱；羌、防發汗而還以斂汗；蒼、半傷津而即以生津；地黃之濕亦有補脾利水之功；茯苓之通亦有止溺塞精之益。至於改湯作丸，變丸為散，朝黃連，暮附子，與怒勝思、思勝恐、恐勝喜、喜勝悲之類，無非權也，用之者不知有所謂權也。惟知時有所不可，不執素所守之可以為可；時有所可，不執素所守之不可以為不可耳。夫不執素所守之可為可，所不可為不可，而以時之所可為可，所不可為不可者，乘乎時之所宜也，時之所宜，即理之所宜也；理之所宜，雖欲不權，不可得也。然則權豈易言哉？非有才、有膽、有識、有學而又虛其心者不能也！何也？蓋權之用在理，而理之明在心，故必使此心不致有纖微之蔽，庶乎理可徹而用可圓。心苟不虛，心且受蔽，理何明乎？縱有學焉，無識之學已；縱有識焉，無學之識已；縱有才焉、膽焉，皆浮氣已，安遽能乘時制宜而無弊耶？由此言之，則不獨無才、無膽、無識、無學者不可以用權，即有才、有膽、有識、有學者亦未可以用權，必有才、有膽、有識、有學而又虛其心者，始可以用權耳。噫！權豈易哉？</p>
<p>權乃學問經濟之極功，雖可與立者，尚未可與權，蓋必權而不失其中，之所以為難也。苟失其中，則不可謂之權矣。權豈易言哉？</p>
<p>昔王好古論人參曰：肺熱用之則傷肺。王節齋論人參曰：陰虛血證忌服，服之過多必不治。余深味之，皆千古不可移易之繩墨，何後之妄議其非者紛然也？是豈詞不足以發其理，而人莫之解歟？非也！唱和成風，耳熟心痼，遂不復有揭其理而正其誤者矣！謂非吾道之一大不幸哉？夫所謂肺熱者，即陰虛之肺熱也；所謂陰虛者，即肺熱之陰虛也。蓋肺熱謂陽獨盛，陰虛謂陰獨虛，陰獨虛則陰不足以化陽而火熾，火熾則爍金而咳血，咯血，干嗽，聲嘶諸肺熱之候所從出矣。此正有陽無陰之病，治當曲盡養陰之法以化陽而救熱，遽用人參助其陽氣，則肺愈熱而陰愈虛，嗽喘痰血不愈甚乎？此兩先生所以垂戒諄諄乃爾，後人不察，悉誤以《素問》「無陽則陰無以生」之旨，認作陰虛之病，論則曰造化之理，陰從乎陽，凡陰虛者，必皆用人參補陽而生陰。又執朱丹溪「虛火可補，參耆之屬」，暨張潔古「人參補上焦元氣而瀉肺中火邪」，以及李東垣「人參補元陽、生陰血而瀉陰火」諸論，以為凡屬虛火、肺火、陰虛之火，無不可用人參以補之，遂懜然侈口而斥兩先生之非。嗚呼！何其不明之甚耶？《素問》謂「無陽則陰無以生」，論陽虛之病耳，非所論於陰虛也。其所論於陰虛者，已自有「無陰則陽無以化」之句，與此彰彰，並載於書，豈獨置之勿講乎？一則因其無陽也，治當補陽而生陰；一則因其無陰而有陽也，治當補陰以化陽耳。明乎此，則知其無陽者可以補陽，而有陽者不可以補陽耳。若以補陽氣不足之人參，漫加於肺熱陰虛之病，是有陽而又補其陽矣，奚可哉？若夫丹溪為虛火可補，謂其可補氣虛之虛火也，非謂人參可補陰虛之虛火也。氣屬陽，有餘便是火，不足而補火自退，有餘而補火愈熾矣。潔古謂人參補上焦元氣而瀉肺中火邪者，亦指其補上焦元氣不足而瀉肺中火邪也，非謂人參能補陰血不足而瀉肺中火邪也。至東垣謂人參補元陽、生陰血而瀉陰火，亦因元陽之不足，不能生陰以制火，故補之，非為元陽之有餘也。不究其理而妄議其非，不大謬哉？</p>
<p>透徹之論，可杜悠悠之口。</p>
<p>世俗謂產後三日內不可用人參，測其意恐瘀血之不行耳。噫！果瘀血不行而謂不可用，誠是矣！設有行之不止，以昏眩無知，六脈幾絕，手足盡冷而為血脫陽亡之候，其亦可以不用乎？竊恐此際即立煮人參、薑、桂急救之，亦有不及濟者矣，安問三日與不三日也？今之病家、醫家未經參究，每遇產後，但知有瘀血不行之可慮耳，而不知有血脫陽亡之可危，恆坐視人之死而不救，可悼也夫！一巨家室，五月而小產，產不逾時而即血崩不止，六脈虛微，神情昏倦，此血欲脫而陽欲亡之候也。予甚惶怖，急以人參一兩，肉桂二三錢，不切而咀，即注爐頭沸水急急煮飲，以追脫耗之元陽，煮未半而室已運去，更視之則六脈既絕，手足冷而通體涓涓汗矣。予惶怖益甚，忙取二大磁甌，不待參味煮全，旋以一注參汁少許，急持與飲，復以一又注少許，急持與飲，如此遞相持飲，飲盡即脈起神蘇，手足溫而汗已收矣。既而胸中作滿，疑故於參，予謂此非參故，乃湯飲多而不能頓行故也，頃俟腹中有汩汩行下聲自平耳。未幾果然。然其所以用參之不切而咀，而又以沸水急煮者何也？恐稍緩不及濟事耳。其注參汁於大甌而遞相少進者，又何也？恐參汁熱而驟難下口，轉致遲遲耳，非有他也。不如是則徒有救人之心，而無救人之術，與不救者何以異。</p>
<p>臨證首宜辨虛實，不必拘日數，傷寒、痘疹及諸雜證，無不皆然。</p>
<p>甚者成見之誤人也。予昔治一女人難產後即發熱不止，汗甚多，而語甚錯，六脈洪大而虛，且有坐臥靡寧，五六晝夜曾不經一閤眼，一閤眼此身不啻飄飄浮雲中，則明是一個氣血大虧，以致虛陽亢上的證候。夫何以參、朮、歸、耆、丹皮、童便及炒黑乾薑之類，屢進而屢不驗，且不但不驗，反增頭眩耳鳴，噁心嘈雜，欲嘔不得嘔數證，則知其非氣血大虧，乃痰涎之壅盛矣，遂更一方：半夏三錢，天麻二錢，茯苓、橘紅、豆仁、厚朴、黃連、枳實各一錢，竹茹三錢，鐵鏽水煎服，不二劑而氣爽神清，身涼脈靜矣。繼以人參大補脾丸日進二服，以培胃中元氣，數服後漸覺飲啖加餐，月餘全愈。然則予之所以誤認為氣血之虧者，執產後之成見於胸中耳，須知學者不可不虛其心而廣其識也。</p>
<p>凡病皆有虛實，不可略存成見，非獨產後然也。</p>
<p>長年病與高年病大要在保全胃氣，保全胃氣在食不在藥，萬不可專攻於藥，致妨於食，倘其力所能食，時所當食，寧可因食而廢藥，不可因藥而廢食。人當病愈後，胃氣必虛，固不可恣情口吻，尤不可小心太過，絕口不沾肉味，或曰本草謂豬肉助火生痰，發風動氣，於人有損無益。子何出此言也？余曰：人以血氣成軀，虛則當以血氣之味為補助。此固自然之至理，岐伯所以有肉為胃藥之稱，孟氏所以有非肉不飽之論也。朝與夕親，習以成性，雖有助火生痰、發風動氣之害，亦與之俱化矣。予有一譬焉，譬之藥中之大黃，非所稱有損無益者乎？而或蟲生其間，則必不能離大黃以為命，設取而飼之人參、白朮之中，其蟲反不得所而死矣。此各隨其質之所由生，性之所由習，豈概論物味之損與益哉？又如汙泥糞壤，孰不以為穢惡之物，唾而遠也，其間或生蟲焉，則亦必藉汙泥糞壤以為命矣。倘憐而愛之者，將畜之於清溪洌澗之中，其為蟲也，得更有逾時之命乎？由此推之，則豬肉之於人，未嘗有損無益也。</p>
<p>鄒潤安亦有此論。蓋坎為豕，在地支則屬亥，不但養胃，余謂其補腎水有專能也。本草損人之說，汪訒庵亦不以為然。惟脾虛濕盛之人，有釀痰滑瀉之弊，時疫流行之際，有壅濁召疾之虞耳。製為蘭熏，俗呼火腿，補虛開胃，病後最宜，以東陽造者為良。</p>
<p>余每到病勢危篤之家，未診視先令急煮水，診視竣，水即成湯矣。取藥煮之，差可濟急。世俗服藥之弊有六：有食已而即藥者；有藥已而即恣飲茶湯者；有藥食雜進而恬之不忌者；有才服此醫之藥而旋以彼醫之藥繼之者；有明受此醫之藥而陰則服彼醫之藥，不肯明言以欺人者；更有苦於服藥，所授湯丸必潛傾廢，中外待人又為互隱而無可稽窮者。病或偶減，固無論已，設或偶增，咎將安責？</p>
<p>煮水侍藥，洵救急之一法，服藥之弊，筆難盡馨，豈止六端而已哉！</p>
<p>病中固宜節食，尤宜節飲，食傷人所易知，飲傷人都不覺，不惟茶湯漿酒，以及冰泉瓜果之傷，謂之傷飲，即服藥過多，亦謂之傷飲。其見證也，輕則腹滿腸鳴，為嘔為吐；重則腹急如鼓，為喘為呃；甚則緊閉牙關，流涎口角，昏聵不醒人事，狀類中風。患此證者，滔滔皆是，或未有識，不得不為來者言之。</p>
<p>《易》曰節飲食，是飲與食並當節也。平人且然，況病中乎？飲食且然，況藥汁乎？尊生者，不可不三複此言也。</p>
<p>舉凡胸腹中有痰有飲，有積有痞，或脹或痛，或酸或嘈，或吐或瀉，一二證時止時作，經年不瘥者，急須猛意以圖全愈，毋俟他日別病相加，掣肘莫措。然其所治之法，則灼艾先而藥石次。蓋灼艾治病，與藥石不同，藥石固能治病，久之必動腸胃，妨飲食而壞元氣；灼艾則不唯能治病，並不動腸胃，妨飲食以致壞元氣耳。嗟嗟！世人之喜藥石而惡灼艾者多矣，而抑知灼艾之為功，遠逾草根木皮萬萬也。</p>
<p>寒濕凝滯為病，藉艾火以溫行，的是對證良法。</p>
<p>灼艾後惟「節飲食」三字為首務，不可饕餮厚味，致傷胃氣。今之人一經灼艾，便以食不勝人為憂，其始也胃氣未傷，猶能勉力啖嚼，數日後胃氣被傷，即脹滿而不能食，不瀉則吐，不吐則瘧與痢所從出矣。且更不思自貽伊戚，而猶咎施艾者之無功，良可笑也，良可悲也。</p>
<p>勉力啖嚼，最傷脾冒，無病者且然，況病人乎？</p>
<p>虛勞病，惟於初起時急急早灸膏肓等穴為上策，外此則絕房室、息妄想、戒惱怒、慎起居、節飲食以助火攻之不逮。一或稍遲，脈旋增數，雖有良工，勿克為已。葛可久曰：癆證最為難治，當治於微病之初，莫治於已病之後，深有旨也。至夫藥餌，則貴專而少，不貴泛而多，萬不可謾聽名流，積月窮年不撤潤肺滋陰之藥，潤肺滋陰之藥，擅名固美，釀禍極深，不可不知，不可不慎！</p>
<p>初起灼艾固為上策，然惟瘵證為宜。設屬真陰虛損，滋陰之藥在所必用，汪纘功論之詳矣，又未可再以艾火劫其陰也。《理虛元鑑》一書，尤不可不讀。</p>
<p>凡瀉病、痢病、蟲病、疳病、水病、酒病、疸病於初愈時，斷不可驟服滋補之藥。蓋此數病以濕熱為原，滋補之藥，乃助濕熱之尤者，驟爾服之，鮮不致害。</p>
<p>瀉痢亦有宜滋補者，但須佐以堅陰清熱之品，不可甘溫膩補耳。</p>
<p>凡近產不可祈占問卜，聽彼巫覡之徒乘機哄哧，以吉為凶，當何禱神，當何求佛，致使孕者憂疑恐懼，夢想多成危境，真氣反因鬱結而不舒。臨產之際，不難產亦自難產矣。患此弊者，急用人參、白朮、當歸、川芎、砂仁、枳殼、蘇梗、大腹皮之類，日煎服之，以舒鬱氣而扶真氣。</p>
<p>占卜、堪輿、星相、巫覡，皆欺愚人以謀生者，士大夫惑之，往往致禍，不但臨產爾也。</p>
<p>凡用補藥必兼瀉邪，邪去則補藥得力，譬之滌衣先除垢膩，而後粉飾可加耳。若專事補而不知邪氣之當瀉，補必為害。</p>
<p>一味蠻補，則病無出路，良由醫無理路，遂致人無生路。</p>
<p>病之加於小愈者，因小愈而放其心也。天下事處逆者恆多易，處順者反多難，病當未愈而求愈時，欲不得逞，志不敢肆，凡語言、動止、飢飽、寒溫以及情性喜怒之間，無不小心翼翼，自然逆可為順，不期愈而不愈者鮮矣。愈則此心不覺康強自慰，保護漸疏，恣口吻也，爽寒溫也，多語言也，費營慮也，近房室也。順情性而煩惱也，廣應酬而不自知為勞且傷也，有謂病不反加於此者無之矣。因憶孟夫子生於憂患，死於安樂之說，信不可不書紳而銘座右也。</p>
<p>病人犯此而功敗於垂成者多矣，不僅加病而已。</p>
<p>人咸謂神昏之病原於心，心清神乃清。愚謂神昏之病原於胃，胃清神乃清。或疑神藏於心，於胃何與？曰藏神者心，而攝神者氣，氣出於胃，胃氣不清則不能攝神歸舍，而心神之昏昧也必矣。子如不信，不觀酒醉之人乎，醉酒之人，醉胃不醉心也，何以神昏而語言錯亂也？不觀飽食之人乎，飽食之人，飽胃不飽心也，何以神昏而頹然欲寐也？不觀痰涎壅塞之病乎，痰涎壅塞之病，病於胃未嘗病於心，何以神昏而瞑眩無知若中狀也？不觀陽明內實之病乎，陽明內實之病，病於胃未嘗病於心，何以神昏而躁妄狂譫如祟憑也？或乃為之撫然，曰命之矣。</p>
<p>此誠前人未發之論也。況肥甘過度，每發癰疽，酒肉充腸，徒滋穢濁，熏蒸為火，凝聚成痰，汩沒性靈，神昏氣亂，宜其爾也。設素甘淡泊，藏府清虛，雖感客邪，易於解散，然則病從口入之言，可不深長思乎？</p>
<p>凡有以問疾來者，勿得與之相接，一人相接，勢必人人相接，多費語言以耗神氣，心所契者，又因契而忘倦，所憎者，又因憎而生嗔；甚或坐盈一室，競起談風，縱不耐煩，又不敢直辭以去。嗟嗟！有病之人，力克幾何而堪若此？恐不終朝而病已增劇矣！然此猶為害之小者耳。更有一等搖唇鼓舌，好事生非，病者一惑聽，必致惱怒填胸，不知自愛，而其為害，又不可言，智者於此，休將性命做人情。</p>
<p>病家或不知此，醫者必當致戒。</p>
<p>病中但可安分調攝，不可偏信師巫，殺害生命，不惟損資造孽，更使心志狐疑，溺情鬼塞，而切身珍愛之圖，反置勿問，愚孰甚焉？</p>
<p>愚人每犯此，且不可以理喻，真錮疾也。</p>
<p>病人臥榻，不可薄以茵褥，致使隱寒犯背，寢傷五藏之陽，變證增邪，莫此為甚。仙經曰：背以陽為主，而五藏之俞穴通焉。一被寒侵，則寒氣繇俞入藏而藏寒，藏寒則陰盛，陰盛則陽衰，陽衰則轉輸遲滯，傳送乖違，氣血亦為之損敗，輕病必重，重病必至於死矣，可不慎乎？不特病時不可，即平時亦是不可。</p>
<p>亦有茵褥過厚，帷幔太密而釀成疾病，以致危殆者，不可不知也。總須隨時隨地因病制宜。</p>
<p>有有病素不服藥者，不為無見，但須知得病從何來，當從何去，便是藥耳。如飢則食，食即藥也；不飢則不食，不食即藥也；渴則飲，飲即藥也；不渴則不飲，不飲即藥也；惡風知傷風，避風便是藥；惡酒知傷酒，戒酒便是藥。逸可以治勞，靜可以治躁，處陰以卻暑，就燠以勝寒，衰於精者寡以欲，耗於氣者守以默，怯於神者絕以思，無非對病藥也，人惟不自知耳。</p>
<p>以此類推，病皆有藥，其如人之不悟何？</p>
<p>人當臥病，務須常存退步心，心能退步，則方寸之間，可使天寬地曠，世情俗味，必不致過戀於心，縱有病焉，可計日而起矣。不則今日當歸、芍藥，明日甘草、人參，是以江河填漏卮，雖多無益也。先儒有言：予臥病時，常於胸前多書死字，每書數過，頓覺此心寂然不動，萬念俱灰，四大幾非我有，又何病之足慮哉？雖然，此惟可與達者言也。一縉紳子，年三十餘，囊固饒裕，良田又幾二十頃，且已有子，亦可謂無不如意者矣！後忽心志改常，二六時中，無刻不咨嗟太息，愁怨不勝，如此者四五年，遂患驚悸、怔忡、恍惚不得寐等證。遠近醫家延之殆遍，有安神者，有養血者，有補氣生精者，有消痰與降火者，備餌彌劇，卒至如迷如昧，如顛如狂，捶胸齧舌而死。究其病所從來，則為數年前訟費千餘金耳。嗚呼！如此富家，但知有身外之微，而不知有性命之大，縱可憐，不足惜也。世間類是者頗眾，因注之以為後鑑。</p>
<p>名利淡，忿欲消，是豪傑胸襟，賢明學問，亦是引年妙藥，卻疾奇方。碌碌者無此識見，焉肯服此藥乎？</p>
<p>舉世診脈，都用簡篇為墊手之具，不思簡篇所載，悉聖賢經傳，昭垂萬古，至尊至貴，豈可輕為借用，甚且褻之於床第之間，汙之以穢惡之手，有人心者，安乎否也？習以成風，竟無覺者。惟予友錢商隱一人，深以自嚴，更欲以是嚴天下，因命予筆之以廣其勸，是亦與敬惜字紙者同旨也，幸勿見迂為望。</p>
<p>道光間，仁和吳醞香大令，嘗制小枕分送，俾診脈者免汙書籍，士大夫家宜仿而行之。</p>
<p>擇醫療病，不在臨時，而在平日，能於平日知得深，信得確，則臨病相延，不患不濟事也。今夫世之擇醫者，在平日則恬不經心，及有病即手忙腳亂，妄聽妄從，有謂此良遂延此者，有謂彼良更延彼者，甚至道途之人，絕不曉醫為何事，而或狥其舉薦之情，無一不可延之者。幸而愈，以為得人；不愈，則曰疾既已劇，無可奈何，甘下泉而不悔矣。愚者不足怪，智者亦比比如之，可勝悼嘆。</p>
<p>比比如之，皆大愚若智，非真智者。</p>
<p>醫家之誤人有六：有學無識一也；有識無膽二也；知常不知變三也；意有他屬四也；心煩冗沓時五也，偶值精神疲倦六也。為醫者，不可不深加自省也。至有一等重惜名譽，知有生機而袖手；更有一等中懷勢利，因富貴貧賤而岐心；甚有一等未經明理，強作知醫，而率意妄投湯劑，以致誤彼蒼生者，又不可與醫類同日而語也。昔胡孝轅先生，深痛醫道之衰，忽不自覺其失聲曰：善醫者吾不得而見之矣，得見善學者斯可矣。予曰：善學者吾不得而見之矣，得見善問者斯可矣。自此三十有年來，絕不見一善問者。</p>
<p>世之醫者，自問能如是乎？否則必至殃人禍世。</p>
<p>或問富家之養子，恆柔脆而多疾；貧家之養子，每堅強而寡疴。伊何說也？裴子曰：貧家有暗合養子之道，與富家異耳。何以謂貧家有暗合養子之道與富家異？蓋小兒受病有五：一曰暖。小兒質稟純陽而火偏勝，保護無容過暖。《禮》曰：童子不衣裘裳。此其義也。富家之子，一出母胎，即矇頭裹足，燠室藏之，加以覆衾垂幕，稍長則未寒先寒，疊加絨纊，更日置之於火，爍其未足之陰，積熱之病，從此變生，而柔脆者多矣；貧家之子，則薄被單衣，隨地而擲，雖不無風冷交侵，動人憫念，而不知正得抑陽扶陰之至理，與富家異，其暗合養子之道一。二曰飽。人身腸胃以清虛為和順，在小兒則尤要，小兒腸胃柔窄，受盛無多，且不自知飢飽，旋與旋啖，而富有之家，則又脂味充盈，易恣情而多啖，脾胃諸病，從此變生，而柔脆者多矣；貧家之子，則無物可食，即食亦自有常，必不能使之饜飫，在口腹固為清簡，而不知正得腸胃清虛之至理，與富家異，其暗合養子之道二。三曰怒。小兒獨陽無陰，恆易躁而多怒，惟抑怒可使全陰。富家之子，種種任性，驕恣之習，越於恆情，本無可怒，怒無已時，怒動肝木，木旺生風，風木乘脾，驚癇諸病，從此變生，而柔脆者多矣。貧家之子，則索居窮蹇，不縱其性，自能貶損意氣，無怒敢發，處境似乎拂逆，而不知正得抑怒全陰之至理，與富家異，其暗合養子之道三。四曰遏號。諺云：兒號即兒歌。老子云：終日號而不啞，則知兒之號出於不自知、不自識，莫或使然，猶天籟也，豈有遏之之理？況小兒陽氣偏隆，最多火病，藉此呼號以泄之，不為無益，而富家之父若母者，反生不忍，動以食慰，而遏其號，鬱滯諸病，從此變生，而柔脆者多矣；貧家之子，則聽呼號而勿恤，見者聞者，以為心忍，而不知正得順通天和之至理，與富家異，其暗合養子之道四。五曰傷藥。藥乃攻邪物，非養生物也，多服久服，鮮有不致傷生者。富家之子，則不論有病無病，日餌無虛，甚至旦暮更醫，亂投湯劑而不知忌，有謂無傷，吾勿信也。且藥之傷人，甚於傷食，食傷醫所易知，藥傷醫多不識，病外諸病，從此變生，又不止於柔脆矣；貧家則不暇求醫，無資取藥，縱兒多疾，安意守之，在旁人以為失護，而不知正得有病不服藥為中醫之至理，與富家異，其暗合養子之道五。噫！是豈富家不善養子乎？非也，境也，因境以成其不善養子也。是豈貧家善養子乎？非也，境也，因境以成其善養子也。</p>
<p>飽暖釀疾，世人不覺，諺云：若要小兒安，常帶三分飢與寒。旨哉言乎！如《內經》云：藏於精者，春不病溫。小兒之多溫病，何耶？良以冬暖而失閉藏耳。夫冬豈年年皆暖歟？因父母以姑息為心，惟恐其凍，往往衣被過厚，甚則戕之以裘帛，雖天令潛藏，而真氣已暗為發泄矣，溫病之多，不亦宜乎？此理不但幼科不知，即昔人亦未道及也。更有富貴之家，凡兒女新婚，其衣褲被褥無不厚諸重綿，設非嚴冷之天，未有不釀疾者。驟則猝發，人猶知之；緩則延勞，人多不察，並及之以為愛子者告。</p>
<p>嘗見延醫之家，陳餚設醴，固不啻事神事鬼之誠且敬也，要皆出自不得已之苦心。醫者於此，自當設身處境，深用不安，適可則止，莫謂分所宜然，恣情長夜之飲，而絕不一回念，在暴病家，猶不及覺，若久病則中外主人，俱已晨夕焦勞，臥餐且廢，復何以堪？《語》云：一人向隅，滿堂為之不樂。有病之家，則不止一人向隅，滿堂亦幾向隅矣！一人豈能獨樂哉？有人心者，必不然也。更有一等嗜習而成僻者，嗜博奕，但知有博奕而不知有病人；嗜呼盧，但知有呼盧而不知有病人；更有一等趨競公門、奔馳世務之輩，則又心無二用，但知有趨競奔馳，而不知有病人，願同志者勿類是。</p>
<p>存心立品之士，首要體貼人情，臨證用藥，務期切病，不可故尚珍貴，以糜人財，如病家不甚充裕，而率用貴藥，為人子父者，不得不竭蹶而勉從之，幸而病瘳，其家已窮，否則人財兩失，欲葬無貲。疏方尚須顧惜，況供我口腹者，忍肆其貪饞乎？至於趨競奔馳，尤不足道矣。</p>
<p>針灸諸病，從未有以時令拘也，而世俗則專泥於伏暑之月，不思病之感也，有淺有深，其治療也，有緩有急，豈可概至伏暑之月而後針且灸耶？考諸《素問》、《靈樞》以及《月令禁忌》等書，並不見有伏暑始宜針灸之說，不知世俗何所據而云然？但一歲之中，最不可犯者，獨在冬至左右旬餘日。蓋此時正剝極復生，陰盛陽微之候，君子於此，自宜深潛玩密，保護微陽，而不使有所泄。《易》謂先王以至日閉關，商旅不行，後不省方。《素問》謂蟄蟲周密，君子居室，去寒就溫，無泄皮膚。皆此義也。當此之際，則又不可遽執四時俱宜針灸之說，賊及天和也。</p>
<p>伏暑之令，不宜灼艾，汪石山已詳言之，而後世偏犯其戒，誤人匪淺。</p>
<p>曷言乎用藥之如用兵也？裴子曰：蓋衛國者兵，衛生者藥，藥不以法而夭折因之，兵不以律而敗亡隨之，慎所同耳。且以信、仁、義、智、勇與夫決敵致勝之策，一比勘焉，則又不爽錙銖者何也？可戰則戰，不猶醫之可攻則攻乎？可守則守，不猶醫之不可漫汗下乎？可和則和，不猶醫之用和解乎？兵有設伏，醫有從治，均之伏其所惡，誘其所好也；兵有哨探，醫有消息，均之欲窺其虛實也；兵有間諜，醫有轉藥，均之欲離其勁邪也。先補後攻，得非足食而後足兵之謂乎？先攻後補，得非大兵之後，瘡痍荊棘，即為撫綏之策乎？攻補交施，得非且戰、且屯、且和之計乎？大積大聚，殺其大半而止，得非殲厥巨魁脅從罔治之義乎？病去而勿妄加攻補，得非窮寇勿追，歸師勿揜之說乎？不當補而補，齎盜糧養寇兵也。不當攻而攻，嘉兵者不祥也。或以正，或以奇，或緩兵尾其後，或先鋒銳其始，與醫之正治、奇治、先後劑、輕重法何異焉？且無恆者不可以作醫，兵之貴信也；無活人心者不可以作醫，兵之貴仁也；醫不可以執方，兵之貴智也；醫不可以貪利，兵之貴義也；急攻之、急下之、急補之，兵之貴勇也；器械不精，以其卒予敵也，藥品可不精製乎？部伍不整，以其將予敵也，立方可不嚴整乎？君不擇將者敗，醫不可不擇也；閫外不專者敗，醫不可不任也；忿兵者敗，驕兵者敗，印刓勿予者敗，醫獨可忿、可驕、可吝、可否耶？病在此而治在彼，無過之地，妄加斬伐也；有是病而用是藥，王師所至勿犯秋毫也；執一不通，趙括之讀書也；一治有五，孫子之用兵也；有一二味成一方者，武穆之以寡御眾也；有一二十味成一方者，淮陰之多多益善也；有半劑或一劑而愈者，武之西伐會朝清明也；有數十劑或百劑而愈者，周之東征三年始得也。以致於占風象、度地勢、察人心，與醫之審地宜、先歲氣、望聞問切，均不可以歧視者。用藥與用兵同有如此。雖然，兵家虛者則示之以實，實者則示之以虛，與醫之虛者實之，實者虛之，其理相似。而兵家之虛者示之以虛，實者示之以實，尤為致勝之妙算，而醫家之虛者虛之，實者實之，則敗不旋踵。何也？兵家之所謂虛者，兵食不足也，在我之元氣虛也；所謂實者，兵食足也，在我之元氣實也。醫家之所謂虛者，元氣虛也，所謂實者，邪氣實也。邪氣譬之兵家之敵人，非在我者也，此其所以異也。用藥與用兵之不同又如此。今之不知醫者，固不知如用兵之說，知如用兵之說者，亦但曰醫之不可輕用耳！孰知醫之與兵，有同異一至於此也。故曰：善將兵者，而後可以語醫；識虛實者，而後可以語醫。</p>
<p>醫道通治道，故良醫良相同功；用藥如用兵，故名醫名將同才。噫！醫豈易言耶？</p>
