<header data-type="book">
<h1>醫學真傳</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>高世栻</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1699">公元1699年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫之道奚起乎？造物以正氣生人，而不能無夭札疫癘之患，故復假諸物性之相輔相制者，以為補救；而寄權於醫，夭可使壽，弱可使強，病可使痊，困可使起，醫實代天生人，參其功而平其憾者也。溯自農皇肇起，辨草木以著藥性；軒岐繼作，明陰陽以著《內經》，至漢末，篤生張仲景先師，上承農、軒之理，著卒病、雜病兩論，率皆倡明正學，以垂醫統。仲師既沒，而經論之道遂失其傳，舛謬紛紜，靡所止極，甚且家自為書、人自為學，世之所以賴有醫者，反不若無醫之為愈。每為曠覽，竊嘗病之。我士宗夫子，性靈獨異，學識超群，註釋經論，既已述大道而正其傳，暇日集群弟子，往復論難，提命之下，及門手錄，顏曰《醫學真傳》。其間陰陽、血氣、臟腑、經絡，與夫五運六氣之理，凡前聖所孕含未剖者，闡著靡遺，而諸書所表章未備者，迄無餘蘊，洵足補救斯人而為功於造物，其所繫豈淺鮮哉！嗣等彙集成帙，摘其要者，梓以問世，使皆知醫之傳有其真，而學以不偽，是誠我夫子扶挽斯道之志也夫！時</p>
<p><u>康熙己卯之春錢塘王嘉嗣子佳敬題</u></p>

<h1>序</h1>
<p>粵自蒼昊好生，軒岐應運，而吐辭立說，皆為福民壽世之符，送難設奇，罔非起病回疴之術。自茲以還，作者代有，如淳于意、張仲景，以及丹溪、東垣諸君子，靡不飲流池上、洞腑垣中，其定方用藥，靡不曲曲中窾，誠渡世之慈航，濟時之寶筏也。自正學失傳，醫宗罔據，而陰陽虛實，每以臆猜，表裡炎涼，鮮從脈究，譬之南轅北轍，卻行求前，冀其有濟，蓋亦難矣。吾杭高士宗先生《醫學真傳》一書，潛搜默會，剔隱鉤微，意宗前哲，而言其所未言，說本先民，而發其所未發，辨之於疑似，而無毫釐千里之差，晰之於微茫，而有一舉百當之妙，固已入堂躋奧，而非稍窺藩閫者，所可望其肩項也。余雅不攻醫，客歲緣弱息患疹，本屬輕證，可調和立愈。延請兒科數人，皆稱時彥，始則太用攻發，致起痰喘，繼又過投寒涼，禁止飲食，遂致不起。及讀《真傳》言疹一段，而始嘆弱息之死，攻發使之，寒涼速之也。況疹非痘比，治之匪難，而猶見惑於臨證，固是知肌表榮衛之中、臟腑經絡之內，其難治有十倍於疹者，能保其百無一失也乎？噫！醫之誤人，非特余實被之，世之未讀是書，而憒憒焉以人命為嘗試者，真實繁有徒也。因將是書謹為重梓，俾遠近播傳，庶幾藉是以上窺淳于、仲景諸公之旨，則此書固醫學之指南云！時</p>
<p><u>康熙歲次庚寅仲春月錢塘姚遠聖功氏識</u></p>

<h1>高士宗先生手授醫學真傳</h1>
<p>丙子春，先生聚門弟子於侶山講堂，講學論道，四載有餘。群弟子先後進問，道漸以明，醫漸以備。先生著示及門，嗣等手錄者，不下百餘則。因謂及門曰：此醫學真傳也，汝等錄之，將來可以公諸天下矣。嗣等因摘述而授之梓。</p>

<h1>醫道失傳</h1>
<p>醫道昉乎軒、岐。軒、岐著《內經》一十八卷，闡明陰陽、血氣運行之理，臟腑、經絡交會之道，上下內外，升降出入，道晰其微，理晰其奧。以為後之醫者，必明三陰三陽之六氣，血氣生始之根源，五臟交通，六腑會合，及絡脈經脈之淺深，皮肌筋骨之外內，始可言醫。仲景先師《傷寒·序》云：經絡府俞，陰陽會通，玄冥幽微，變化難極，自非才高識妙，不能探其理致。慨世之醫，昧聖賢經論之本源，襲後人方書之糟粕，湯方歌括之冊，視為秘典，分門別類之書，奉若聖經，豈不謬哉！我故曰：軒、岐沒而醫道亡，仲師死而真傳絕，洵不誣也！</p>

<h1>醫門經論</h1>
<p>神農本草曰《本經》，黃帝靈樞、素問曰《內經》，皆聖經也。仲景先師，著卒病曰《傷寒》，著雜病曰《金匱》，此賢論也。醫門聖經、賢論，猶儒者之五經、四書也。故醫門經論，乃醫學正傳，其餘《難經》、《脈訣》及後人一切方書，皆逐末亡本，膚淺不經，不可為訓。何世之醫者，於聖賢經論，從未嘗讀，即讀亦未解，解未能明，明未能用。悲夫！</p>

<h1>五運六氣</h1>
<p>天地至大，人物至廣，不外陰陽五行之理。五運，即五行也。六氣，即三陰三陽也。故木、火、土、金、水曰五運；厥陰、少陰、太陰、少陽、陽明、太陽曰六氣。五運合五行，而六氣亦合五行。天以此成四時而生萬物，人以此成有形而合無形。是五運六氣實醫學之根源，神農本之而著藥性，黃帝本之而著《內經》，仲師本之而撰《傷寒》、《金匱》。今人但知風、熱、濕、火、燥、寒為病，豈知厥陰主風，風，木也；少陰、少陽主熱，熱，火也；太陰主濕，濕，土也；陽明主燥，燥，金也；太陽主寒，寒，水也。此風、熱、濕、火、燥、寒之病，而五運六氣即主之，五臟六腑亦因之。其本末不可不察也！</p>

<h1>六淫外感</h1>
<p>六淫外感之說，世多不得其解，謂人外感天之六淫則為病，而孰知其非也。蓋厥陰、少陰、太陰、少陽、陽明、太陽曰六氣，風、熱、濕、火、燥、寒曰六淫。天有之，人亦有之。故居其內以通臟腑者，六氣也；居其外以通於天者，六淫也。天之六淫，與人之六淫，無時不感，詎必病也？《天元紀大論》云：厥陰之上，風氣主之：少陰之上，熱氣主之；太陰之上，濕氣主之；少陽之上，相火主之；陽明之上，燥氣主之；太陽之上，寒氣主之。所謂本也，是謂六元。由此例之，則三陰三陽之六氣，在下為標，下即內也；而風、熱、濕、火、燥、寒之六淫，在上為本，上即外也。六淫在上而在外，故曰外感，感猶通也。故外感之說，其義有二：一言六淫外通於天；一言六淫主外通於六氣。義雖有二，總謂六淫在人而不在天，凡有所病，皆本人身之六淫，而非天之六淫也。且獨不觀卒病論乎！發熱，汗出，惡風，脈緩者，名為中風。是中風之名，從人身而定也。或已發熱，或未發熱，必惡寒、體痛、嘔逆，脈陰陽俱緊者，名為傷寒。是傷寒之名，從人身而定也，非外至也，若果外至，胡不曰六淫外中，六淫外傷，而必曰外感也？世多不知此義，一遇病，輒云外感，豈無病時遂不感耶？甚矣！其聵聵也。</p>

<h1>七情內傷</h1>
<p>喜、怒、憂、悲、思、恐、驚，謂之七情。七情通於五臟：喜通心，怒通肝，憂通肺，悲、思通脾，恐通腎，驚通心與肝。故七情太過，則傷五臟。七情內傷，則有所虧損，療之不易也。須識其何臟獨傷，觀其色，察其脈，驗其形神，詳其太過與不及，而後調濟之。其惟智者之能事乎！</p>

<h1>臟腑經絡</h1>
<p>五臟為陰，六腑為陽；經脈為陰，絡脈為陽。臟腑、經絡，《內經》言之詳矣。今總其要而言之。五臟者，三陰之所主也，厥陰主肝，少陰主心、腎，太陰主肺、脾。肝、心、脾、肺、，腎，木、火、土、金、水也，肝木為風，心火為熱，脾土為濕，肺金為燥，腎水為寒，是五臟合五運，即有風、火、熱、濕、燥、寒之六氣。夫六氣與五運合者，以少陰、少陽二火而合五運也。夫五臟有形，形中有氣，其氣通於六腑，而行於經隧；行於經隧，則皮、肌、脈、筋、骨，為五臟之外合，如肺合皮，脾合肌，心合脈，肝合筋，腎合骨者是也。通於六腑，則五臟與六腑相為表裡，如肺與大腸為表裡，脾與胃為表裡，心與小腸為表裡，肝與膽為表裡，腎與膀胱為表裡者是也。此五臟之大概也。若六腑則三陽之所主也，少陽主膽與三焦，陽明主胃與大腸，太陽主膀胱與小腸。夫膽與三焦，少陽木火之氣也；胃與大腸，陽明土金之氣也；膀胱、小腸，太陽水火之氣也。此木、火、土、金、水、火之氣，乃合三陽而主六腑也。夫六腑亦有形，而形中亦各有氣，其氣則內通五臟，外行經脈，所謂五臟有俞，而六腑亦各有俞，五臟有合，而六腑亦各有合者是也。此六腑之大概也。</p>
<p>夫三陰主五臟，而厥陰不但主肝，又主心包，是手足三陰三陽，為十二經脈。十二經脈，則胸走手，而手走頭，頭走足，而足走胸。其氣內通臟腑，外通絡脈，環周於身。外通絡脈，則合孫絡而滲皮毛；內通臟腑，則合經血而行榮衛，所謂氣煦血濡，流行不息者也。今人不知皮肌經脈之淺深，有卒病寒熱而涉於經脈者，概以氣分之藥投之，鮮克有效。蓋經脈十二，有三百六十五穴會，有三百六十五經絡，《素問》詳言之。此經脈之大概也。夫經脈之外，更有絡脈，絡脈之外，復有孫絡，故曰經脈為陰，絡脈為陽。蓋徑直而周於身者為經，橫行而左右環繞者為絡。十二經脈之外，復有脾之大絡，名曰大包，又有任脈之尾翳，督脈之長強，合為十五大絡。此大絡者，出於經脈之外，而有左右相注之奇病。奇病者，左病注右，右病注左，乃絡脈病也。絡脈之病，《素問》有繆刺之法以治之。絡脈之外，又有孫絡，孫絡與皮膚相連，在通體毛竅之內，而胞中之血，充膚熱肉，澹滲皮毛。經云：孫絡之脈別經者，亦三百六十五穴會。又刺法云：刺毫毛腠理者，無傷皮。知毛腠與皮分合之處，則孫絡之脈在其中。此因絡脈而及於孫絡之大概也。</p>

<h1>三焦</h1>
<p>三焦者，上、中、下少陽之氣所主也。五臟合五腑，三焦一腑無臟與合，故曰是孤之腑也。不但無臟與合，而三焦之腑，且將兩臟；將，猶偕也，是以腑而並臟也。不但將兩臟，而六腑之氣，俱合三焦，故又曰是六腑之所與合者。是三焦之氣，合臟合腑，徹上徹下，徹外徹內，人身莫大之腑也。證之經論，其理自明。《靈樞·本俞》論云：肺合大腸，大腸者傳道之腑；心合小腸，小腸者受盛之腑；肝合膽，膽者中精之腑；脾合胃，胃者五穀之腑；腎合膀胱，膀胱者津液之腑。以明五臟合五腑。其三焦一腑，下屬腎，上連肺，將乎兩臟。經云：少陽屬腎，腎上連肺，故將兩臟。謂少陽主三焦，下焦將腎臟，上焦將肺臟也。雖將兩臟，職不離腑，故又云：三焦者，中瀆之腑也，水道出焉，屬膀胱，是孤之腑也，是六腑之所與合者。由此推之，則三焦為中瀆腑，屬膀胱而出水道，無臟與合，是孤之腑也。孤者，獨也，謂獨任其上、中，下之化機也。既曰將乎兩臟，又曰六腑與合，是三焦一腑，則較之諸腑而獨尊，豈如一腑合一臟而已耶！仲師云：肌腠者，是三焦通會元真之處，榮衛不相將，則三焦無所仰，形冷惡寒者，三焦傷也。又云：三焦各歸其部，上焦不歸者，噫而酢吞；中焦不歸者，不能消穀引食；下焦不歸者，則遺溲。仲師之言，即《靈樞經》所云上焦出胃上口，中焦並胃中，下焦別迴腸、注於膀胱而滲入者是也。經又云：上焦如霧，中焦如漚，下焦如瀆。合觀經論，則上脘、中脘、下脘，即上焦、中焦、下焦也；三焦所出之部，即三焦所歸之部也。三焦雖無有形之腑，實有所出所歸之部，抑且徹上徹下，徹外徹內，較諸腑而尤尊也。昔人不體經論，有謂三焦無臟空有名者，有謂三焦屬命門，有臟有名者，各執臆說，聚論不休。觀諸經論，其義自明，有形無形，可以悟矣。</p>

<h1>命門</h1>
<p>五臟六腑，合手厥陰心包，則六臟六腑，是為十二經脈，其中並無命門之臟腑。前人妄以三焦屬命門，謬矣！考之《銅人圖》，有命門穴，在脊十四椎腎俞間。《靈樞·根結論》有云：根於至陰，結於命門。命者，目也。由此說推之，則目之中央，是為命門，乃足太陽膀胱經脈之所結也；腎俞中央，是為命門穴，乃足少陰腎臟之所通也。腎為水臟，膀胱為水腑，而命門則通於水髒水腑之經脈焉。</p>

<h1>氣血</h1>
<p>人之一身，皆氣血之所循行。氣非血不和，血非氣不運，故曰氣主煦之，血主濡之。氣與血無處不有，今舉其概。肺主氣，乃周身毛皮之大氣，如天之無不覆也。經云：宗氣上出於肺，以司呼吸，一呼一吸，內通於臟，故曰呼出心與肺，吸入肝與腎。又三焦出氣，以溫肌肉，膀胱津液隨氣化出於皮毛，故曰三焦膀胱者，腠理毫毛其應。又六臟六腑為十二經脈，榮氣行於脈中，衛氣行於脈外。由此觀之，則五臟六腑，十二經脈，上下內外，遊行環繞，無非一氣周流，而健行不息，此人之所以生也。然氣為主，血為輔，氣為重，血為輕，故血有不足，可以漸生，若氣不立，即死矣。夫人周身毛竅，乃大氣之環繞於外，而毛竅之內則有孫絡，孫絡之內則有橫絡，橫絡之內則有經焉。絡與經，皆有血也。孫絡、橫絡之血，起於包中之血海，乃衝脈、任脈所主，其血則熱肉充膚，澹滲皮毛。皮毛而外，肺氣主之；皮毛之內，肝血主之。蓋衝任之血，肝所主也。其經脈之血，則手厥陰心包主之，乃中焦取汁奉心化赤之血也。血海之血，行於絡脈，男子絡唇口而生髭鬚，女子月事以時下，皆此血也。心包之血，行於經隧，內養其筋，外榮於脈，皆奉心化赤之血也。血海之血，出多不死；心包之血，出多便死。是又絡脈之血為輕，而經脈之血為重也。經云：陽絡傷，則吐血；陰絡傷，則便血。此血海之血也。一息不運，則機針窮，一絲不續，則霄壤判。此經脈之血也。血、氣二者，乃醫學之大綱，學者不可不察也！</p>

<h1>水火</h1>
<p>水為陰，火為陽。水火之中，火尤重焉。蓋水者陰也，陰不能生人，必藉火之陽而後能生。故水必藉火而後可飲，谷必藉火而後可食。夫在地為水，在天為寒，在地為火，在天為熱，陽熱之氣，能生萬物，若遇陰寒，物必殺矣。醫者於水火之中，而知重輕之理，則生者多而殺者少也。</p>

<h1>陰陽</h1>
<p>經云：陰陽者，有名而無形。數之可十，推之可百；數之可千，推之可萬；萬之大，不可勝數。試以大體言之，則陽常有餘，而陰常不足。在天地，則天為陽，地為陰，而天則包乎地之外；在人身，則氣為陽，血為陰，而氣實統乎血之先。一歲三百六十日，天日光明，則三百日而有餘。夫光明者陽也，雨濕者陰也，陽有餘而陰不足，此其徵也。人與天地相參，與日月相應，亦當陽氣有餘。蓋陽主氣而陰主血，如人陰血暴脫，陽氣猶存，不致殞命；如陽氣一脫，陰血雖充，難延旦夕。苟能於陰陽之中，而知陽重於陰，則遇病施治，自有生機，涼瀉殺人，吾知免夫！</p>

<h1>部位</h1>
<p>部位者，頭、面、胸、背、脅、腹、手、足，各有所屬之部、所主之位也。</p>
<p>頭為三陽之首，三陽者太陽也，自印堂，至額顱，上巔頂，從腦下項，皆足太陽經脈之部，故曰頭為三陽之首也。兩顴屬腎，《刺熱論》云：色榮顴骨，其熱內連腎也。兩目為肝之竅，而五臟精華皆注於目，故瞳神屬腎，黑眼屬肝，白眼屬肺，內外眥肉屬心，眼包屬脾，兩鼻為肺竅，而位居中央，又屬乎脾。鼻內口鼻交通之處，則為頏顙，又為蓄門，乃肝、肺相交之部也。口為脾竅，內外唇肉，脾所主也。舌為心苗，齒為骨余，而齒齦則為牙床，又屬乎胃。舌之下，腮之內，為廉泉、玉英，乃水液之上源也。耳為腎竅，又心亦開竅於耳。胃足陽明之脈，起於鼻交頞中，循鼻外，入齒中，挾口環唇。膽足少陽之脈，起於目銳眥，上抵頭角，循耳後，入耳中，出走耳前。此頭面之部位，各有所屬也。</p>
<p>頭面以下，前有咽喉，後有頸項。喉居右，咽居左，喉為氣管而硬，咽為食管而軟。咽喉之中，則為吭嗌，吭嗌之上，則為舌本，舌本居下齶之盡，而上齶之盡，則有小舌，所謂會厭也。太陰脾脈絡舌本，少陰腎脈絡舌本，陽陰胃脈絡舌本。咽喉之外，則有動脈，居乎兩旁，所謂人迎之脈，乃胃足陽明之脈也。人迎之下，鎖骨空處，則為缺盆，肺所主也。又陽明經脈行身之前，自面部而至胸膈，皆陽明經脈所主也。缺盆之下，兩乳之上，謂之膺中。膺中之中，謂之上膈，即上焦也。經云：上焦開發，宣五穀味，熏膚充身澤毛，若霧露之溉也。上膈而下，謂之膈中，即胸膈也。胸膈之間，謂之膻中；膻中，即心包絡也。心包主血、主脈，橫通四布。包絡之下，即有胃絡，兩絡相通，而橫布於經脈之間。胸乃心主之宮城，而包絡包乎心之外；肺為五臟之長，而蓋乎心之上。心窩之下，謂之中焦。胃有三脘：上焦之旁，即上脘也；中焦之旁，即中脘也；下焦之旁，即下脘也。頭面之下，後有頸項。項之中央，名為風府；項之兩旁，名為風池。項下高聳大椎，乃脊骨之第一椎。自脊骨而下，至七節之兩旁，名為鬲俞。經云：七節之旁，中有小心。以明鬲俞之穴，乃心氣之遊行出入。而太陽經脈，行身之背。此胸背之部位，各有所屬也。</p>
<p>胸膈之下，腹也。胸膈下側，脅也。前胸後背，而脅則居胸背之間，行身之側。脅之上為腋，脅之下為季脅。太陽行身之背，而主開；陽明行身之前，而主闔；少陽行身之側，而主樞。舍開則不能闔，舍闔則不能開。舍樞則不能為開闔，是樞者乃開闔之關鍵也。大腹名為坤土；坤土，太陰之脾土也。大腹之上，下脘之間，為中土；中土，陽明之胃土也。大腸名迴腸，盤旋於腹之左右。小腸居大腸之前，臍乃小腸之總結。而貼臍左右，乃衝脈所出。經云：衝脈於臍左右之動脈者是也。臍之下，則為小腹。小腹兩旁，名為少腹。小腹者，少陰水臟、膀胱水腑之所屬也。少腹者，厥陰肝臟，胞中血海之所居也。血海居膀胱之外，名曰胞中，膀胱居血海之內，故曰：膀胱者，胞之室也。從小腹而入前陰，乃少陰、太陰、陽明三經之屬。經云：腎開竅於前後二陰，是前陰者，屬少陰也。經云：前陰者，宗筋之所聚，太陰、陽明之所合也。又陽明主潤宗筋。是前陰又屬太陰、陽明也。陰囊卵核，乃厥陰肝經之所屬，故經云：厥陰病，則舌卷囊縮。舌卷，手厥陰；囊縮，足厥陰也。又云：厥陰氣絕，則卵上縮而終。此脅腹之部位，各有所屬也。</p>
<p>兩手、兩足曰四肢。兩手之上，則有肘、腋；兩足之上，則有膕、髀。兩肘、兩腋、兩膕、兩髀，名曰八谿。從臂至手，乃手太陰肺金所出，而兼手少陰、厥陰。此手之三陰，從胸走手也。從足至股，乃足太陰脾經所出，而兼足少陰、厥陰。此足之三陰，從足走胸也。夫手足三陰三陽十二經脈，交相通貫，行於周身。手之三陰，從胸走手；手之三陽，從手走頭：是手三陰、三陽，而循行於手臂矣。足之三陽，從頭走足；足之三陰，從足走胸：是足三陰、三陽，而循行於足股矣。此手足之部位，各有所屬也。</p>
<p>《靈樞》十二經脈，行於周身，雖詳言之，而醫未之悉也。今舉其概而約言之，手太陰肺脈，起於中焦，橫出腋下，循臂內，出手大指次指，而交於手陽明之大腸。大腸之脈，起於手大指之次指，循臂外，入缺盆，上面，挾鼻孔，而交於足陽明胃脈。胃脈起於鼻頞中，至額顱，循喉嚨，下膈，挾臍，入膝臏，下足跗，出足大指，而交於足太陰之脾脈。脾脈起於足大指，上膝股之前，入腹，上膈，連舌本，注心中，而交於手少陰之心脈。心脈起於心中，上肺，挾咽，出腋，下循臑內，抵掌骨，出小指之內，而交於手太陽之小腸。小腸之脈，起於手小指，出手踝，循臑外，交肩上，入耳中，至目內眥，而交於足太陽之膀胱。膀胱之脈，起於目內眥，從頭下項脊，循背膂，下腿後，至足小指外側，而交於足少陰之腎脈。腎脈起於足小指，循足心，上膕股，貫脊，上貫肝膈，入肺，挾舌本，注胸中，而交於手厥陰之心包。心包之脈，起於胸中，循胸，出脅，入肘，循臂，過掌中，循小指之次指，而交於手少陽之三焦。三焦脈起於手小指之次指，循手臂，出臂外，貫肘，上肩，入耳中，出耳前後，至目銳眥，而交於足少陽之膽脈。膽脈起於目銳眥，從耳後至肩，合缺盆，下胸中，過季脅，出膝，循足跗，出足大指，而交於足厥陰之肝脈。肝脈起於足大指叢毛之際，從膕股而上，過陰器，抵小腹，上入胸中，而交於手太陰之肺脈。是為十二經脈之一周，乃頭面胸背手足，各有所屬，而為周身之部位也。</p>

<h1>原病</h1>
<p>人身本無病也，凡有所病，皆自取之。或耗其精，或勞其神，或奪其氣，種種皆致病之由。惟五臟充足，六腑調和，經脈強盛，雖有所傷，亦不為病：若臟腑經脈原有不足，又不知持重調攝，而放縱無常，焉得無病！如臟氣不足，病在臟；腑氣不足，病在腑；經脈不足，病在經脈。陰血虛而不為陽氣之守，則陽病；陽氣虛而不為陰血之使，則陰病。且正氣內虛，而淫邪猖獗，則六淫為病。是病皆從內生，豈由外至？其有外至者，惟暴寒暴熱，驟風驟雨，傷人皮腠，乍而為病，則臟腑經脈，運轉如常，發之散之，一劑可痊。若先臟腑經脈不足，而復外邪乘之，則治之又有法，必先調其臟腑，和其經脈，正氣足而邪氣自退，即所以散之發之也。所謂治病必求於本；求其本，必知其原；知其原，治之不遠矣。</p>

<h1>治病</h1>
<p>凡人有病，需治在醫，醫者，人之司命也。既司人命，必知人身有形之經，又當知人身無形之氣；辨有形之有餘不足，察無形之離合逆從。有形者，臟腑經絡之定位；無形者，陰陽運氣之轉輸。臟腑經脈有病，而陰陽運氣，轉旋輸布不失其常，雖病可愈；若有形既病，而無形亦逆，便不治矣。蓋醫不能生人也，不殺人，便為良醫矣。所痛惜者，有形無形，全不之知，離合逆從，並未曾曉，見病即治，知其外，不知其內，究其末，不究其原，妄曰醫者意也，以妄為意，以妄為醫，是居盲瞶而云察秋毫也，豈其然哉！</p>

<h1>方藥</h1>
<p>品方用藥，豈非醫之長技哉！某藥合某方，某方治某病，輒取而用之，父傳師授，皆是術也。夫立方如舉子作文，隨題意而闡發無遺；用藥如軍師遣將，知敵情而因材器使。經云：視精明，察五色，觀五臟有餘不足，六腑強弱，形之盛衰，以此參伍，決死生之分。必如是而後可言醫，若執方治病，而不明五運六氣之本，經脈生死之原，概以為頭痛則散之發之，而陽虛頭痛受其害矣；脹滿則消之泄之，而氣虛中滿受其害矣；身熱則涼之，而陽虛發熱受其害矣；燥渴則寒之，而津液內竭受其害矣。仲師序云：不念思求經旨，以演其所知，乃各乘家技，終始順舊，欲視死別生，實為難矣。由此觀之，則成方不足重，用藥實為難。方技之醫，盍改弦易轍，而加之意乎？</p>

<h1>嬰兒</h1>
<p>人稟天地陰陽之氣以生，父母精血之形以成，甫離胞胎，腑臟之形未充，陰陽之氣已立。此形此氣，賴乳為先，間有小疾，多屬本氣不和，不宜妄投以藥，即藥亦當調其本氣；若概以發散、消痰、清熱之藥投之，非惟無益，反害之矣。軒、岐論醫，言人身經脈循行之道，血氣交會之理，上下內外，升降出入，原無分於長幼。數千年來，正道無傳，方技蜂起，不知經脈血氣，如何升降？如何出入？原本未明，遂謂大人、小兒當分科異治；治既分，則方科尋究方書，兒科秘傳歌括，昧昧昏昏，毒流天下。遇病，輒曰點乳勿與。詎知嬰兒之病，輕者什九，重者什一，惟藉名醫，知臟腑之原，識陰陽之本，按經投治，以法救之耳！今既絕其乳，復以消散之劑投之，病至輕者，間亦自愈；若氣血有乖而身熱，脾胃內虛而生痰者，遇此斷不能愈矣。甚至痰益生，則消益峻，熱愈熾，則涼愈投，至死不變，猶謂如是以治而病不愈，無如何矣。是則可嘆也已！夫嬰兒者，猶物之初生萌芽也，腸細胃小，藉有形之乳食，養無形之氣機，毋容絕也。即曰乳食太過，乍有壅滯，須知一周不食，胃亦空矣，一劑消食，滯已行矣。平人飲食入胃，傳化無停，一日數餐，次日皆傳道而出。至飼乳小兒，則隨食隨消，傳化尤速：若絕養胃之乳，復投以戕胃之藥，施於無病之兒亦病，況已病乎！即更辯曰：小兒外感風寒，內停乳食，身發寒熱，胸膈氣滿，發散消磨且不愈，奚可食哉？而孰知其不然也。風寒原非外感，飲食本不內停，但古先聖賢，未經明言，世何以知？蓋人之一身，有三陰五臟之氣，三陽六腑之氣，合十二經脈，氣血流行，外則從肌達表，遍行周身以御外侮，內則由臟至腑，氣歸於胃，以消飲食。如曰外感，則富貴之兒，襁之褓之，不出戶庭，何以多感？貧賤之兒，受風受寒，不避外邪，何以少感？受而不病，則無外感，不受而病，實從內生矣。如曰內停，則無病之時，頻頻食乳，何不停食？既病之後，日日不乳，何以停食？若云初因停食而病，至今未消，試問人之胃腑，何如者也？食停於胃，如此不消，則胃之真氣已絕，尚何容醫？蓋在上脘者，名曰宿食，入於胃中，即便腐化。若上脘不清，則點水必惡，見食如仇。何以抱病之兒，渴欲求飲，見食朵頤？由此觀之，則外感風寒，內停乳食之說，可廢矣。方書詐無為有，兒醫日殺生靈，罪將奚歸？天歟！其不欲蒼生之環聚歟，乃假其手於兒醫歟！</p>

<h1>痘</h1>
<p>痘，豆也，形似也。豆為腎之谷，而痘之根源，亦起於腎，義同也。人之結胎，由父精母血而成，是交感之淫火，為痘之根源，藏於腎者。人之成形，先有兩腎，猶瓜實果種之兩葉。痘之出也，有循行之脈道，從脈道而出為順，不從脈道而出為逆。脈道者何？心包絡是也。心包之絡，主血、主脈，遍行周身。其毒從陰出陽，由下而上，衝擊心包，從心包而走經脈，從經脈而出皮膚，夫衝擊心包，故必先發驚搐；從經脈而出皮膚，故續出而不驟；從心包而走經脈，故化血以成漿。如是，痘雖稠密，亦必收功。如不從心包之脈道而出，則隨三焦之氣，以走肌腠，從肌腠而出皮膚，為逆而險矣。夫心包主脈，脈者，陰血也；三焦主氣，氣者，陽氣也。隨心包血脈而出，則出之有漸，化血為膿，順之證也；從三焦氣分而出，則出之無漸，不能化血為膿，必至肉腫而痘不腫，氣至而血不隨，根窠不斂，界限不分，或扁大空倉，或碎雜紫豔，或陰寒灰白，則為逆矣。蓋毒走經脈，則三焦和，而為胃外之然，自能進食；如毒走三焦，則三焦病，而不能為胃外之然，自不能進食。故痘出順逆，有一定循行之道，醫者當靜以觀之，不可妄投以藥。若與藥，便當泄腎毒而通經脈，毒盛則先泄之，毒不盛則導之引之，使從經脈而出。此為治之之法也，苟不知此，而處方投劑，落方書之窠白，大攻、大涼，非所以治之，適所以害之也。余為此言，乃一定不易之理，無甚奇也。醫者不知人身經脈氣血之道，陰陽交會之理，見驚悸，則曰心經痘；咳嗽，則曰肺經痘；扁大，則曰脾經痘；紅潤圓綻，則曰肝經痘；灰紫不起，則曰腎經痘：於是攻發虛其肌表，寒涼亂其經脈。常見痘之密而順者，遇兒醫而必重，重則危，危則死矣。未聞痘之逆者，遇兒醫而能收功者也。嘗觀鄉村窮谷之中，醫藥少有，痘之生者常多；省會城市之內，醫藥最多，痘之死者大半。豈非治而致死之明驗歟！</p>

<h1>瘄</h1>
<p>瘄，猶錯也，皮膚甲錯之謂也。俗名曰瘄，實系疹也。紅點隱隱，謂之隱疹。疹之根源，乃毫毛之內。皮腠之間，因於寒，致血凝澀，其凝澀之血，散發於皮膚之外，則發而為疹。蓋人身通體毫毛之氣，肺所主也；毫毛之內，腠理之外，則秉胞中之血，熱肉充膚，淡滲皮毛，肝所主也。皮膚寒而血凝澀，始焉凝澀，繼欲流通，則發熱、咳嗽，散而為疹。疹之發也，有稀少，有稠密。極稀少者，不過數點，以及數十點；極稠密者，則周身頭面，無有空隙。醫者不知其故，見有數點，即行攻發。若皮膚肌腠之間，果有凝澀，則發熱、咳嗽，自當湧出；其不能即出者，非肌表不和，即氣虛不振。治之之法，當以紅花、歸、芎、荊、柴、羌、丹之劑，和其肌表；或以桂枝、耆、朮、歸、芍、苓、甘之劑，助其氣虛。若概以蘇、麻、前、杏、芩、連、石膏之劑投之，其氣虛不出者，此為虛其原本，本自稀少者，此為無故受賊，非惟疹不能出，其經脈表裡受虧，致身大熱而喘急生，愈熱愈表，愈喘愈發，輕者重，重者死矣。蓋痘之發也，見有一二點，其勢必出疹之發也，見有一二點，可出可不出，若肌表果有凝澀之疹，則身熱、咳嗽，其勢自出；若無疹，則止此數點，不能再增。善治者，明乎此理，不行攻發，但調其經絡，和其榮衛，虛者補之，寒者溫之，則熱退身安而愈。無奈矇昧不明，當疹毒盛行之時，見有數點，即行攻發，轉攻轉劇，愈發愈危，必致真臟虛敗而死。真可痛耳！夫痘毒起於腎，不從經脈而出，為腎經痘，雖有良醫，不能挽回；若疹，則其根源在於肌腠皮膚，膚腠之血根於胞中血海，膚腠寒而胞血稽遲，則有疹毒之證，得其源而活法以治，或聽其自然而不加妄治，百無一死也。</p>

<h2>附案</h2>
<p>己巳春，長男甫六歲，次男甫三歲，於元旦次日，俱發熱見疹。余初不知疹之根源，以為嬰兒生下時，口含惡血，開聲嚥下，其後發為疹毒，治疹自當攻發，即用清涼透發之劑服之。次朝，略增十餘點，究不暢達，心甚惶惑。長男七月而生，先天怯薄，問其胸膈寬否何如？答曰：飢甚。又問口味燥苦何如？答曰：淡甚。因知其虛，即投耆、朮、苓、甘、桂枝、紅花一二劑。次朝，疹發遍身，熱稍退，而神情猶煩躁，夜發熱，頻咳嗽，至一月方安。蓋因見點之初，過服表劑，虛其經脈故也。次男尚幼，未省人事，不能致問，上冬患肺風痰喘證，諸藥不效，服麻杏桂枝石膏湯，一劑而痊。謂其稟質略強，不與長男同，其疹不透，必寒凝毒甚，因與蘇、麻、前、杏、黃芩、石膏藥，紅點不增，又與紫蘇、蔥、薑、芫荽等，熏之熨之，疹總不出。乃與同道諸公商之，俱云：舍透發並無別法。至五日而口吐蛔蟲。兒醫曰：此熱極蟲生，余有牛黃散，可與服之。牛黃散，即大黃末也。一服痰喘止，而神氣稍平，自是此兒遂無言矣。計無可施，復針百會穴，其喑門，服西黃分許，及諸單方。觀其形證，實不能生。友人張衛生來望，因曰：此大虛大寒證也，今既無言，又不能食，恐無濟矣。然心猶不忍，勉投參、附，含藥而亡。因自嘆曰：此庸醫現身食報，天理當然，自身行醫，何尤乎人？因悔昔日所見之皆非，益信治病求本之不謬。</p>
<p>次日，有同居甥汪姓者，伊子出瘄，已經三日，見余際悲傷，不邀診視，自用前、杏、麻黃、石膏藥一二劑，疹出二十餘點，不能再增，心胸煩悶，不得已而告余，乞余診視。余曰：若再攻發，即如吾子矣。急與耆、朮、芎、歸、桂、苓、紅花等，服一劑而熱退身安。余自此始悟疹之根源，凡治疹，但調其氣血，和其經絡，寒涼攻發概置之不用，所以屢治而屢效也。</p>
<p>次年春，友人吳題仙之子，甫二歲，出瘄，延兒醫馬聖則兄診治之，攻發不透，神情恍惚，喘急不寧。又延余診視，余往吳宅，聖兄先至，余視之，知其虛也，因告主人曰：若但發瘄，瘄斷不出，必至身命不保。主人曰：為之奈何？余曰：惟有溫補藥一劑，益其臟腑，安其腸胃，助其氣血，方可。聖兄曰：吾治四朝，不能透發，悉聽尊裁。余即與耆、朮、薑、桂、歸、芍、苓、甘、銀花、紅花諸味，一劑而安。次日仍用原方，加人參一錢。此後並不服藥，連服獨參湯，數日，霍然矣。</p>
<p>又有夏姓耀如之子，出瘄，其顏色紫黯，神氣不寧。余曰：此證大凶，治須得法。連看二次，皆用溫散藥。次早，其家人來告曰：口吐蛔蟲，另有藥否？余曰：昨藥二劑，俱服否耶？曰：尚存一劑。因與附子八分，令入藥內煎服。自此遂無音耗，越三載，至其家，見其子長大。余因問曰：昔年出瘄吐蛔，何由得愈？其家答曰：服先生之藥後，因無力相延，仗天覆庇，得以漸愈。余默嘆曰：因死吾子，得生他人，治疹之法，可無憾矣。余因附載斯冊，雖不能見信於兒醫，而正道闡明，實有裨於兒科治疹之根源，而為有子出瘄者，所當致慎也夫！</p>

<h1>傷寒</h1>
<p>傷寒，一名卒病。卒，暴也，陰陽不和，卒暴為病。凡惡寒，發熱，頭痛，骨疼，嘔吐，煩渴，皆傷寒也。因內傷而傷寒者，病之至重者也。內傷傷寒，有性命之虞。治法一以溫補元氣為主，不效，更當大溫補，毋發散虛其經脈，毋消導耗其中土，毋寒涼損其陽和。雖有外證，必察其內。察內者，探本澄源之大道，舍輕從重之至理也。如是，十全其七。若妄加消散，不愈，然後溫補，藥不純正，方不畫一，旋消旋補，倏涼倏溫，如是十死其七。夫傷寒，大病也。而世醫施治之法，無非消散寒涼，病可一二劑而愈者，必至於十數劑；始為發散，繼則消磨，終則攻下，原本壯實而病在三陽者，其身或不死，身雖不死，而耽延時日，狼狽已極矣。且人以胃氣為本，若病傷寒，更以胃氣為先。世醫不明此理，凡遇傷寒，必曰內有食也。夫食為養命之本，有食何妨？況無病則能食，有病則不能食；無病則嗜食，有病則惡食。惡食而不能食，不可強與；若飢而欲食，便當與之。如必曰不可食也，復投消食寬胸、捱磨攻下之藥，人豈金石哉！夫食入於胃，隨食隨消，若有停滯，自然不寧，即當嘔吐。仲師《傷寒論》云：宿食在上脘者，當吐之。由此觀之，則在上脘，是為宿食，若歸中脘，便腐化傳導，無宿食矣。病人數日不食，豈復有宿食之理？若胸膈脹滿，按之而痛，非上焦虛寒，即氣機不轉，當益其氣機，溫其三焦，正氣流行，則胸膈舒暢。粗工不知，亦曰有食，如果有食，何以始病之時，按之不痛？既病之後，數日不食，按之反痛？按之而痛，真氣虛也，奈何妄行消導，以為積垢內停？欲使便出，屢屢攻下，豈知腸胃內虛，所下者不過溏泄稀糞耳！夫攻下便稀，是腸虛也，而又不知，尤必曰此旁流也。嗟嗟！旁流二字，論中並無，即有旁流，必燥糞內結，而旁水自流，非登廁便稀之為旁流也。夫宿食旁流之證，或百中有一，豈可視為常事哉？世之治傷寒者，惟散、惟消、惟清、惟泄，不顧其本，但治其末；消、散、清、泄殆盡，見病虛寒，然後調補。執一定不移之死法，治變化無方之傷寒，捨生機活潑之至道，用殺伐刀鋸之慘刑，能不悲哉！故治病必求於本，而傷寒治本之法，難以言傳，識六氣之標本，明經絡之淺深，更合經論而會通之，其庶幾乎！</p>

<h1>發熱</h1>
<p>寒為陰，熱為陽。發熱，陽也，由陰氣不和於陽而發熱也。夫陰氣不和於陽，是為陰虛。然陰在內，為陽之守，陰虛則陽無所守，陽無所守則陽氣亦虛，是發熱有屬陰虛者，有屬陽虛者。陰虛發熱，宜養血滋陰，陽虛發熱，當養氣助陽。人身陰陽和則無熱，陰陽不和則發熱，揆其常理，但當和陰陽、調氣血也。然而熱之發也，有微暴不同。微熱者，熱而和緩，陰血內虛也；暴熱者，熱之燔灼，陽氣亢害也。陰血內虛而熱，當以滋養之藥治之；陽氣亢害而熱，宜以溫熱之藥治之。蓋微熱者，有根之熱也：熱暴者，無根之熱也。無根之熱，是為脫熱；脫熱者，陽氣外脫而熱也。如是之熱，當求其屬以衰之，故曰甘溫除大熱也。凡病而發熱者什之九，是身雖發熱，必有本證。醫者當視其色，診其脈，察其表裡，揆其虛實，合本證而詳論之，得其要矣。</p>

<h1>惡寒</h1>
<p>熱，陽氣也；寒，陰氣也。惡寒者，周身毛竅不得陽氣之衛外，故皮毛嗇嗇然而灑淅也。人周身八萬四千毛竅，太陽衛外之氣也。若病太陽之氣，則通體惡寒。從頭項而至背膂，太陽循行之經也：若病太陽之經，則其背惡寒。惡寒之外，又有身寒。身寒者，著衣重複而身常寒，乃三焦火熱之氣不能外溫肌肉也。《傷寒論》云：形冷惡寒者，此三焦傷也。形冷惡寒，即身寒之謂也。凡傷寒初起，身必發寒，蓋寒乃太陽之本氣也。經云：太陽之上，寒氣主之。是太陽以寒為本，以熱為標也。惡寒之外，又有惡風。經云：厥陰之上，風氣主之。人身通體皮毛，太陽之氣所主也。皮毛之內，肌腠之間，則有熱肉充膚之血，厥陰之氣所主也。病太陽之本氣，而皮毛不利，則惡寒；病厥陰之本氣，而肌腠不利，則惡風。風、寒難以分別，從皮毛、肌腠而有別也。病在皮毛，則皮毛閉拒而無汗；病在肌腠，則皮毛開發而有汗。蓋凝斂閉拒則為寒，鼓動開發則為風。風也，寒也，皆正氣內虛，而淫氣隨生也。有身雖發熱，發熱之中，仍兼惡寒，法當辛溫以治其熱。經云：病未反本，治當從本。此之謂也。</p>

<h1>頭痛</h1>
<p>頭痛之證有三：一太陽頭痛，一少陽頭痛，一厥陰頭痛。太陽之脈，上額交巔絡腦，而太陽之上，寒氣主之；太陽頭痛，寒痛也。少陽之脈，上抵頭角，而少陽之上，相火主之；少陽頭痛，火痛也。厥陰之脈，上出額，與督脈會於巔，而厥陰之上，風氣主之；厥陰頭痛，風痛也。頭痛雖有寒、火、風三者之異，尤當觀其微劇，察其陰陽。身有他病而兼頭痛，痛之微者也；獨患頭痛，其痛欲死，痛之劇者也。凡陰血虛而陽熱盛，則痛微；若陽氣虛而陰寒盛，則痛劇。風火頭痛，有餘則清散之，不足則滋補之。陰寒頭痛，乃陰盛陽虛，所謂陽虛頭痛者是也，非桂、附、參、耆不能治之。世遇頭痛之證，便謂外受風寒，即與發散；發散不愈，漸加寒涼，非芎、防、荊、羌，即芩、連、梔、膏，風火頭痛而遇此，不致喪身，若陽虛頭痛而遇此，必致殞命矣。可不慎哉！</p>
<p>世有三陰無頭痛之說，豈知陰虛頭痛，純屬陰寒，陽幾絕滅，病此者，十無一生。所以然者，一如日不麗天，下沉於海，萬方崩陷也。蓋人與天地相合，天有日，人亦有日，君火之陽，日也；地有四海，人亦有四海，頭為髓海，胸為氣海，胃為谷海，胞中為血海。在天之日，晝行於天，夜行於海；在人之日，既行於天，亦行於海。自頭項至尾閭，如日之行於天也，自血海至髓海，如日之行於海也。今陽虛頭痛，乃陰寒蔽日，逆於髓海，不能上巔至項，以行於背，反從陽入陰，以行於腹。是以頭痛不已則心煩，心煩者，陽光逆於氣海也；心煩不已則嘔吐，嘔吐者，陽光逆於谷海也；嘔吐不已則神昏，神昏者，陽光逆於血海也。頭痛至神昏，則入陰之盡，如日沉海底矣。在天則萬方崩陷而大荒，在人則陽光絕滅而身死。不知其源，妄投湯藥，至治之不效。有云肝風入腦者，有云客寒犯腦者，有云真頭痛者，其言如是，而散風、散寒之藥，終以不免。豈知散之之法，非所以治之，適所以害之，旨哉！《靈樞》四海論云：得順者生，得逆者敗；知調者利，不知調者害。其即日逆於海之頭痛，而醫者倒行逆施，不善治而致死之謂歟！</p>

<h1>辨舌</h1>
<p>舌者，心之竅。心，火也。舌紅，火之正色也；上舍微胎，火之蘊蓄也：此為平人之舌色。若病則君火內虛，胃無穀神，舌色變而胎垢生，今人妄謂胸中有食，則舌上有胎，非理也。若謂胎因食生，則平人一日數餐，何無胎？若謂平人食而即消，病則停滯胎生，何初病一二日，舌上無苔，至三四日穀食不入，舌反有苔？則有食有苔之說，可知其訛謬矣。方書辨三十六舌，張大繁言，毫無徵驗。世醫不知此屬偽言，臨病施治，執以為信，非所以救之，適所以害之矣。夫平人之舌本無苔，微有苔者，不過隱隱微微，淡白、淡黃之間耳！惟三焦火熱之氣，為寒所侵，則舌上白苔而滑，身發熱而谷不入，中、上二焦，虛熱相蒸，則舌上黏苔而垢。苔色淡黃，或微黃者，中土虛也；苔色灰褐，或醬板色者，中土寒也。舌上紫色者，虛寒也；深紫色者，大虛大寒也；紫色光亮者，久病火衰，土無生原也，淡白光亮者，久病陰虛，榮血內脫也。苔色黑色者，君火虛衰，水色上乘也。須知舌者，火也，火得其色，乃為平人之舌。平人五火齊明，如天日光明，陰翳消除，何苔之有？惟傷寒大病，君火不明，至三焦相火乘於君火之位，則舌色反常。夫相火之乘於君火也，非相火之有餘，乃君火之不足。醫者不知救助君火之不明，反汩沒相火之上乘，進以寒涼，則君火愈虧，相火併竭，神志散亂，未有不斃。平人胃氣有餘，三焦和暢，君火光明，凡五味入口，無論酸、咸、甘、苦，皆過而無苔；病則胃氣空虛，三焦失職，君火衰微，若五味入口，遇酸、咸、甘、苦，則舌上凝滯而苔生矣。人不之信，但觀小兒服藥，舌上藥色凝而不退，大人食酸，舌苔即黑，此其徵矣。夫黑者，水色也。傷寒苔黑，世有火極似水之說，品方用藥，仍議清涼。夫火極似水，所謂物極必反也。既極而反，理應從治，不應對治，對治固宜清涼，從治則宜溫熱矣。奈何認舌，皆以虛為實，以寒為熱，不能探本澄源，盡是以訛傳訛。雖謂舌色反常，亦有實熱之證，然舌色反常而實熱者，十有二三，此三陽病也；舌色反常而虛寒者，十有七八，此三陰病也。舌色反常上有紅點，大如芥子，此虛熱舌也；舌色如常，上有紅點，大如芥子，此實熱舌也。舌上苔黑而熱極者，其苔高浮於上，不傷舌之本體，或黑或灰，此犀角、芩、連、石膏之證，乃百中之一耳！至大、小承氣之證，舌上亦有燥黑者，然必出言壯厲，神氣雖昏，而原本之神凝聚於內，承氣下之而愈，亦百中之一耳！其有散黑而潤，四邊灰紫者，虛寒舌也。又有凝黑而枯，上如鱗甲者，大虛大寒舌也，並宜參、朮、桂、附，大忌寒涼。若胃氣已絕，滿舌如繭，板硬而黃，或板硬而黑，如是之舌，百無一生。余之辨舌，不合方書，觀者未必能信，如能不棄余言，則殺人亦差少耳！</p>

<h1>咳嗽</h1>
<p>語云：諸病易治，咳嗽難醫。夫所以難治者，緣咳嗽根本甚多，不止於肺。今世遇有咳嗽，即曰肺病，隨用發散、消痰、清涼、潤肺之藥，藥日投而咳日甚，有病之經脈，未蒙其治，無病之經脈，徒受其殃，至一月不愈，則弱證將成，二月不愈，則弱證已成，延至百日，身命雖未告殂，而此人已歸不治之證矣。嗚呼！本屬可治之病，而壞於凡醫之手，舉世皆然，莫可如何！余因推本而約言之。《素問·咳論》云：五臟六腑皆令人咳，非獨肺也，是以咳病初起，有起於腎者，有起於肝者，有起於脾者，有起於心包者，有起於胃者，有起於中、上二焦者，有起於肺者，治當察其原，察原之法，在乎審證。</p>
<p>若喉癢而咳，是火熱之氣上衝也，火欲發而煙先起，煙氣沖喉，故癢而咳。又有傷風初起，喉中一點作癢，咽熱飲則少蘇，此寒凝上焦，咽喉不利而咳也，或寒或熱，治當和其上焦。其有胸中作癢，癢則為咳，此中焦津血內虛，或寒或熱而為咳，法當和其中焦。此喉癢之咳，而屬於上、中二焦也。</p>
<p>若氣上衝而咳，是肝、腎虛也。夫心、肺居上，肝、腎居下。腎為水臟，合膀胱水腑，隨太陽之氣，出皮毛以合肺。肺者天也，水天一氣，運行不息。今腎臟內虛，不能合水腑而行皮毛，則腎氣從中土以上衝，上衝則咳。此上衝之咳而屬於腎也。</p>
<p>又肝藏血，而沖、任血海之血，肝所主也。其血則熱肉充膚，澹滲皮毛，臥則內歸於肝。今肝臟內虛，不合沖、任之血，出於膚腠，則肝氣從心包以上衝，上衝則咳。此上衝之咳而屬於肝也。</p>
<p>又有先吐血，後咳嗽者。吐血則足厥陰肝臟內傷，而手厥陰心包亦虛，致心包之火上克肺金。心包主血、主脈，血脈內虛，夜則發熱，日則咳嗽，甚則日夜皆熱，日夜皆咳。此為虛勞咳嗽，先傷其血，後傷其氣，陰陽並竭，血氣皆虧，服滋陰之藥則相宜，服溫補之藥則不宜，如是之咳，百無一生。此咳之屬於心包也。</p>
<p>又手太陰屬肺金，天也；足太陰屬脾土，地也。在運氣則土生金，在臟腑則地天交。今脾土內虛，土不勝水，致痰涎上湧，地氣不升，天氣不降，而為咳，咳必兼喘。此咳之屬於脾也。</p>
<p>又胃為水穀海，氣屬陽明，足陽明主胃，手陽明主大腸。陽明之上，燥氣治之，其氣下行，今陽明之氣不從下行，或過於燥而火炎，或失其燥而停飲，咳出黃痰，胃燥熱也，痰飲內積，胃虛寒也。此為腸胃之咳，咳雖不愈，不即殞軀。治宜消痰、散飲。此咳之屬於胃也。夫痰聚於胃，必從咳出，故《咳論》云聚胃關肺。使不知咳嗽之原，而但以清肺、消痰、疏風、利氣為治，適害也已！</p>
<p>外有傷風咳嗽，初起便服清散藥，不能取效者，此為虛傷風也，最忌寒涼發散，投劑得宜，可以漸愈。又有冬時腎氣不足，水不生木，致肝氣內虛，洞涕不收，鼻竅不利，亦為虛傷風，亦忌發散，投劑得宜，至春天和凍解，洞涕始收，鼻竅始利。</p>
<p>咳嗽大略，其義如是，得其意而引伸之，其庶幾乎！</p>
<p>咳嗽俗名曰嗆，連咳不已，謂之頓嗆。頓嗆者，一氣連嗆二三十聲，少者十數聲，嗆則頭傾胸曲，甚者手足拘攣，痰從口出，涕泣相隨，從膺胸而下應於少腹。大人患此，如同哮喘，小兒患此，謂之時行頓嗆。頓嗆不服藥，至一月亦愈。所以然者，周身八萬四千毛竅，太陽膀胱之氣應之，以合於肺，毛竅之內，即有絡脈之血，胞中血海之血應之，以合於肝：若毛竅受寒，致胞血凝澀，其血不能澹滲於皮毛絡脈之間，氣不煦而血不濡，則患頓嗆。至一月，則胞中之血一周環復，故一月可愈；若一月不愈，必至兩月。不與之藥，亦不喪身。若人過愛其子，頻頻服藥，醫者但治其氣，不治其血，但理其肺，不理其肝，頓嗆未已，又增他病。或寒涼過多，而嘔吐不食；或攻下過多，而腹滿泄泄；或表散過多，而乳腫喘急：不應死而死者，不可勝計。嬰兒頓嗆初起，但當散胞中之寒，和絡脈之血，如香附、紅花、川芎、歸、芍之類可用；其內寒嘔吐者，乾薑、吳萸可加：表裡皆虛者，耆、朮、參、苓可用。因病加減，在醫者之神明。苟不知頓嗆之原，而妄以前、杏、蘇、芩、枳、桔、抱龍丸輩，清肺化痰，則不可也。</p>

<h1>瘧</h1>
<p>瘧之不同於傷寒也：瘧為輕，傷寒為重；瘧在經絡，傷寒在氣化。氣化者，隨六氣而化病，有陰陽之傳變也。經絡者，瘧邪隨經絡而沉以內薄，由衛氣應乃作也。應者，衛氣外出，瘧從之而發；衛氣內入，瘧從之而休也。時行傳染之瘧，邪瘧也，邪氣相感，但在皮膚絡脈間，即不服藥，三日亦愈。其先寒後熱，熱時煩渴，汗出即休，此三陽瘧也，即不服藥，六日亦愈。又日發而早，其瘧將愈；日發而晏，其瘧難已。晏者，衛氣虛而循經不入也。瘧有陰陽輕重之不同，瘧為陽，脾寒為陰；瘧為輕，脾寒為重。時俗一概混稱，醫家一概混治，豈知瘧與脾寒之不同哉！瘧不死人，脾寒能死人。若脾寒病，而概以消散寒涼之藥，昧昧以治，斷未有不斃者也。夫病之發也，寒少熱多，六脈均平，能食，而神氣如常者，瘧也；寒多熱少，六脈微虛，不能食而煩悶嘔逆，神氣消索者，脾寒也。夏月皮毛開發，經絡外溢，風暑之邪，易傷經絡，故多瘧病。傷絡者，瘧之輕者也；傷經者，瘧之可輕可重者也。治瘧之方，當調其氣血，和其榮衛，疏其絡，通其經，察寒熱之多少，辨臟腑之虛實，而施治之。欲調氣血、和榮衛，如歸、芍、紅花、柴胡、桂枝可用也；疏通經絡，如續斷、木通、秦艽、銀花可用也。寒多者，薑、桂、曲、樸以溫之；熱多者，柴、芩、知、葛以清之；實者，橘、半、枳、樸；虛者，耆、朮、甘、苓。此瘧病通治之法也。</p>
<p>若干太陰脾臟，則為寒瘧；寒瘧，猶脾寒也。少陰心臟，則為心瘧；心瘧，猶癉瘧也。少陰腎臟，則為腎瘧；腎瘧，猶牝瘧也。厥陰肝臟，則為厥瘧；厥瘧，厥不知人也。此數瘧者，當用參、耆、朮、薑、桂、附以治之，惟心瘧屬手少陰，不宜溫熱，當用參、苓、歸、芍、枸杞、棗仁、遠志、龍眼補心養血之法以治之。此五臟三陰瘧，實可生而可死。凡此所以論瘧病之重輕，及治瘧之常法也。</p>
<p>而瘧之方起、瘧之變病、治之禁忌、藥之流通，更當悉焉。夏月天暑地炎，無寒風之外感，然而沐浴水寒。暮夜涼風，不能無也。人犯之者，不在皮膚，多傷經脈。人身衛氣，夜入於陰，日出於陽，因衛氣之出，而乍然寒熱，即瘧病也。若昧昧以診，見有寒熱，不曰傷寒，即曰傷暑，不曰中暑，即曰內傷外感。夫其言如是，而所用之藥，無非發散、消食，及乎寒涼而已。嗟嗟！如是之病，不遭如是之藥，雖然成瘧，七日可愈。今也發散虛其表，消食損其中，寒涼滯其經，而又絕其谷，必至瘧不成瘧，傷寒不成傷寒，汗雖出而身不涼，至日晡而熱更甚。須知日晡熱甚，原病瘧也；汗出不涼，表裡皆虛也。無力之家，不延醫，不服藥，進以糜粥，挨延時日而愈；有力之家，屢屢更醫，察其根由，醫必曰：虛之極矣。先以人參少許，探而試之，試之相宜，則重用之，然後進以糜粥，亦延挨時日而愈。如是之病，夏月頗多，明者視之，深為嘆惜，而醫與病家，總不知也。然延挨而愈者，什之八九，其告殂者，豈無一二？言念及此，寧不悲哉！又有炎暑之時，其人卒然厥逆，色蒼蒼如死狀，人必駭曰：此痧發也。放痧出血，以救一時之困，數日之後，轉而為瘧。詎知厥逆若死，非痧也，乃邪盛於經，經脈一時不能交接，即瘧之兆端始發也。徒刺其血，後必病瘧，瘧亦不輕，然此瘧乃發於經脈之陽者。更有一時暴厥，厥不知人，刺之無血，牙關緊急。醫見之，不曰急痧，即曰中風入臟，刺指無血，則用鋒針刺曲池、委中，以出其血，牙關不開，則以銅箸撬齒，灌礬水而探吐，時余始蘇，精神委頓，六脈微虛，一日稍平，次日復厥，厥而無熱，微微有汗。此瘧從陰出，不得陽熱之化，乃厥瘧也。余於夏日，曾治一二，其後亦愈。若既蘇之後，投劑不宜，亦不能生。此瘧之方起為然也。若瘧之變病，總由攻消太過，三焦內虛，或脹滿，或浮腫，或泄瀉，或咳嗽。病雖有變，更當溫其中土，助其三焦；若脹滿者消之，浮腫者散之，泄瀉者通之，咳嗽者清之，一時暫松，不能全愈，耽延時日，斷未有不斃者也。治瘧禁忌：一發散，二消食，三寒涼，前已言之矣。至藥之流通，今人治瘧，不用常山，以常山為截瘧藥，截之早，其後必變臌脹。不觀仲師治瘧，每用蜀漆。蜀漆，常山苗也。苗不可得而用其根，亦何害焉？況常山乃從陰出陽之藥，若三陰瘧、脾寒病，不使從陰出陽，何能即愈？既愈矣，又何臌脹之有？又瘧病虛寒，久用參、朮、薑、桂，總不能愈者；參、朮、薑、桂之內，須加常山，更須加穿山甲，使經絡疏通，瘧邪外出，未有不愈者也。又陽熱之瘧，鱉甲可以攻散；心、腎之熱瘧，菖蒲、黑豆可以交通；邪入郛郭，檳榔、草果可以泄之；邪入膀胱，車前、滑石可以利之。若瘧後發咳，乃初因瘧病，地氣不交於肺，今瘧止病去，則地氣上升，脾、肺始交，故咳。苟不助脾氣之上升，而反用泄肺之藥以下泄，其咳斷不能除，轉為瘧怯，至五年而必死。嗟嗟！醫之為道，至精至微，粗工凶凶，方技自逞，收一時之小效，至後死而弗計，哀哉！</p>

<h1>暑</h1>
<p>經云：在天為熱，在地為火。暑者，熱火之氣也。天有此熱火之氣，人亦有此熱火之氣。無分四時寒暑，凡病三陽，而見熱火之證，皆可言暑。是寒也，暑也，即陰陽之氣也。今人不明人身運氣之理，遇炎天酷暑之病，不曰傷暑，即曰中暑，香薷、石膏、竹葉、芩、連，概投混施，其殺人不知幾許矣！夏月之時，世人盡知有暑，用寒涼之藥，人皆曰宜也。服之不愈，則更服之，更服不愈，則頻服之，雖至於死，亦無怨言。若遇明者，洞鑑其源，投以溫藥，人皆曰不宜也。服之不效，必不再服，其心皇皇曰：此暑病也，可服熱藥乎？清涼之藥，恣意投之，厥身已斃，仍咎熱藥之非，則夏月寒涼殺人，所必不能免者。夫不能免而欲求其免，其在芻言之可聽乎！蓋暑者，四時之一氣也，暑何害於人哉！如暑而必傷人也，則長夏之時，盡人當病，何以烈日中奔走勞形者不病，而避暑於高堂大廈者反病耶？須知人病，皆其自取。吾身五運安和，六氣均平，雖日在暑中而不病。若五運有虧，六氣不振，陰虛則陽盛而熱證生，陽虛則陰盛而寒證起，寒病、暑病隨人身陰陽之氣而化生者也。如寒邪傷陽而化病，寒亦為熱；暑邪傷陰而化病，暑亦為寒。苟不以人身氣化之寒暑為憑，而以天氣之寒暑為定，真殺人不用刃矣！且夏月之時，人身上熱下寒，一如天氣雖暑，地下則寒，不觀井中水冷之極乎？人身丹田之氣，地下之水，亦若是也。凡治病者必顧其本，惟夏月之病，當溫補者，什之七八，宜涼瀉者，什之二三。凡人腎氣有餘，形體不勞，但感風暑。化為熱病，則香薷、白虎，一劑而痊，西瓜、涼水，服之而愈。醫見其痊愈也，遇暑邪入臟之證，亦以此藥治之，則一劑而殂者，比比矣。酷暑炎炎，朝病夕死，人謂疫氣流行而死者，皆因暑邪入臟病也。其病五六日而死者，亦因陽氣盡泄於外，穀氣不入，腎氣有虧，真氣內脫而死也。如是之病，惟參、耆、桂、附可以療之。療之而盡人皆愈也，人或信之；療之而間有一二不及療者，人必疑之而非之矣。余嘗思子產論政云：夫火烈，民望而畏之，故鮮死焉；水弱，民狎而玩之，故多死焉。今人畏熱藥而喜寒涼，又何怪乎其多死哉！（戒人當暑月中，須知兼雜虛寒之證，不可恣意涼散。然言之未免太過，讀者當識其大旨，勿以辭害意可耳！）</p>

<h1>痢</h1>
<p>痢，瀉也。大便通利，常也。痢者，乃里急欲利，復後重而不利。後重，即後墜，痢之發也，身作寒熱，嘔吐，煩悶，水漿不入，腹痛，下痢或赤或白，或赤白相兼，裡急後重，晝夜數十餘次。此痢之重者也，治得其法，雖重可愈。初起時，若有風寒表證，於治痢藥中，當加發散；若不發散，徑治其痢，必亂其經脈，逆其氣機，病轉劇矣。外邪既去，但治其痢，更分寒、熱、虛、實，顧本顧標，如但以通利之法治之，先通後補，不若標本兼治，補瀉並行之為得也。若下痢純紅，身熱不退，水穀不入，是為死證。經云：腸澼下血，身熱則死。謂余血下泄，陽熱外浮，陰陽離脫也。若痢後下血水，其身發熱，亦為死證。痢後則腸垢已竭，下血水乃從陽入陰，胞中並傷，世有下屋漏水之說，則血水其漸也。若色如魚腦，此熱毒入腸，當清熱和血也。色如醬褐，乃下焦虛寒，亦非善證，當溫經散寒。如白沫凍汁，則為寒積。世醫有赤屬火、白屬寒之說，於理亦似，但赤色而中土虛胃氣弱者，當用溫藥以從治，不宜涼藥以對治也。凡痢初起，作嘔無害，若日久脾虛，三焦寒而嘔者，亦將危矣。又凡下痢必痛，痛者可治，謂有積也；不痛者，是為腎泄，難治，一起便宜溫補，不宜行泄，若行瀉於前，溫補於後，亦難生矣。凡痢屬三陽，精神不憊而能食者，當分新久，或瀉或補，或瀉補兼施；若身體疲倦，不能飲食，而屬三陰者，止宜溫補，不宜通利；亦有下痢無積，日夜十餘次，解時微痛，是名脾瀉，又名洞泄，亦宜溫補，不宜通利。有脾家實，而腐穢當下者，乃新病為然，必非久也。有夏秋虛寒下痢，治得其法，至冬稍痊，明春方愈者；有夏秋實熱下痢，治不得宜，乍輕乍重，至明春方死者。有痢疾初起，點滴艱澀，裡急後重，宜芒硝、大黃通利者，所謂通則不痛也。痢之輕者，名曰積，飲食失宜，寒積下焦也。一時腹痛，雷鳴暴注，名曰水瀉，水穀不分，從小腸而下注也。凡下痢，有糞者輕，無糞者重。蓋糞從腸中出，積從腸外出；腸中出者出之易，腸外出者出必難，故後重而痛也。</p>

<h1>喘</h1>
<p>喘者，氣短而促，吸不歸根，呼吸之氣不應皮毛之開合也。有實喘，有虛喘，有半虛半實喘。</p>
<p>實者，風寒之邪，傷其毛腠，致肌表不和。毛，皮毛也，主表：腠，腠理也，主肌。經云：三焦、膀胱者，腠理毫毛其應。是三焦應肝血之腠理以主肌，膀胱應肺氣之皮毛以主表。若寒邪凝斂於皮毛，皮毛之氣不通於腠理，則喘；風邪中傷於腠理，腠理之氣不通於皮毛，亦喘。然此喘也，必病之初起，微微氣急，或無汗惡寒，或有汗惡風，斯時和其肌表，散其風寒，喘自平矣。</p>
<p>半虛半實者，手足太陰之氣，不相交合也。手太陰肺金，天也；足太陰脾土，地也。地氣上升，則天氣下降，或寒逆於肺而肺金寒，或濕滯於脾而脾土濕，則脾氣不升，肺氣不降，痰涎在中，上下不交而為喘。然此喘也，必兼咳也。夫脾肺不交，則為虛；寒濕內凝，則為實。虛實相半，則補瀉並施；虛多實少，則補多瀉少；實多虛少，則瀉多補少。寒涼之藥，在所禁也。《傷寒論》中，有麻黃杏子石膏湯、葛根黃連黃芩湯以治喘，乃病太陽之標陽，而毛腠不通，陽熱過盛，病在氣化，不在經脈也。又有冷風哮喘，乃胃積寒痰，三焦火熱之氣然之不力，火虛土弱，土弱金虛，致中有痰而上咳喘。此緩病也，亦痼疾也，久久不愈，致脾腎並傷，胃無穀神，則死矣。</p>
<p>至虛喘者，水天之氣不相交接也。肺，天也；腎，水也。天體不連地而連水。經云其本在腎，其末在肺，以明水天一氣。若天水違行，則肺腎不交而喘，治不得宜，將離脫矣。當用參、苓、耆、術以補肺，辛、味、桂、附以補腎，肺腎相交，則喘平而能臥；若上下不交，晝夜不臥，喘無寧刻，則太陽標本之氣，亦幾乎息矣。蓋太陽以寒為本，以熱為標。寒本，膀胱之水也，氣根於腎；熱標，皮毛之陽也，氣合於肺。此肺腎不交，而太陽標本之氣，將以孤危，前藥所以必需也。若外道之藥，消削於前，其後亦無濟矣。余曾以前方治半月之虛喘，一劑而安，舉家欣喜，即以告余，問前方可再服否？余曰：姑俟明日。病家曰：何也？余曰：安臥者，肺氣下交，子時一陽初生，腎氣上行，方為交合，恐憊極而腎氣之不升也。至寅時，果死矣。經云：升降息，則氣立孤危；出入廢，則神機化滅。其即肺腎不交，太陽氣絕之喘病為然乎！</p>

<h1>呃</h1>
<p>世有呃證，而經論有噦無呃，寧後世言呃，而古時言噦耶？《詩》云：鸞聲噦噦。謂聲有節奏也。人之發呃，勻勻而來，亦有節奏，故經論之噦，有作呃解。呃之微者，名曰𩜺。呃有逆呃，有虛呃，有敗呃。逆呃者，膈中有寒，胃氣從胸上膈，膈寒，其氣停止，止而復出，則呃也，此膈寒氣逆而呃。呃之至輕者，辛散溫行，數劑可愈。若病傷寒，而三焦不和，胃中留滯，上焦不能如霧之灌溉，中焦不能如漚之腐化，下焦不能如瀆之濟泌，則上脘、中脘、下脘之胃氣，亦因以不和。三焦者，胃外之然也。今三焦火熱之氣，內不和於胃，外不達於肌，蘊熱上衝，發為逆呃。斯時熱者清之，寒者溫之，正虛邪實者，補而導之，不虛但實者，泄而通之，平胃、瀉心，皆可用也。張潔古治逆呃，有丁香辛香暖胃，柿蒂苦澀清涼，是三焦鬱滯之呃相宜，而虛呃、敗呃不相宜也。虛呃者，人病傷寒，絕其穀氣，中胃空虛，復加寒涼消導；中胃既虛，而三焦火熱之氣亦失其職，陽明胃土不能合三焦出氣以溫肌肉，寒氣凝滯，正氣內虛，則呃矣。參、朮、桂、附可以治之，然必能食則可治，不能食則不可治矣。又有泄瀉下痢，下焦虛寒，谷入少，而中、上二焦亦虛而寒，以致呃者，亦為虛呃。敗呃者，病起於陰，腎臟先虛，不救其虛，反以實治，致胃腑亦虛，於是戊癸不合，火無生原，發而為呃，是為敗呃，百無一生，雖有參、附，亦徒然耳！然虛呃不愈，則轉為敗呃，醫者又不可不知也。</p>

<h1>嚏</h1>
<p>嚏，非病也，然而嚏所由來，當知之也。人身經脈十二，始於肺之寅，終於肝之醜，而肝復交於肺，如十二時之相繼無已也。夫肺，金也；肝，木也。肝脈循喉嚨，入頏顙究於畜門，從畜門而上額，循巔，以下項。若頏顙不利，不能上循，但從畜門出鼻，則為嚏。夫鼻為肺竅，而畜門為肝穴，嚏之有聲，如撞鐘然，猶以木擊金也。平人之嚏，間或有之，乃畜門之氣，一時滯而不上，下出於鼻，則嚏也。又紙捻搐鼻，則畜門、頏顙為物所引而下，脈本欲上，今引之而下，引下則嚏。又肺主皮毛，肝主肌腠，風邪陡襲皮毛，則皮毛之氣不通於肌腠，肌腠之氣欲出於皮毛，滯而不和則嚏。又肝脈內虛，不能循脈而上，但留於頏顙、畜門間，則頻頻而嚏。醫不知之，以為肺病，豈知實肝病也。又時病將痊則嚏。時病邪從外至，由皮毛而入肌腠，皮腠有病，則經脈不通於皮腠，嚏則流通而環轉也。又大人、小兒，卒患厥證，病在厥陰，陰極而陽不生，一時厥逆，藉藥得蘇，氣脈流通則嚏。此從陰出陽，逆而復順也。方書治中風不知人者，用紙捻或末藥搐鼻，而曰：有嚏則生，無嚏即死。吾不之解，意者有嚏則經脈可通，無嚏則經脈斷絕之謂歟！</p>

<h1>脹腫</h1>
<p>脹，氣機不利也。胸上不寬，謂之胸痹。有脈不橫通而脹者，有濁氣在上而脹者。脈不橫通，宜木通、茜草、麥冬、栝蔞、貝母之屬以治之，此開胸痹法也。濁氣在上，宜柴胡、廣皮、木香、桔梗、半夏之屬以治之，此升清降濁法也。胸之下胃之上脹者，乃胃絡與心包絡兩絡不通也，宜鬱金、紅花、續斷、丹皮、枳實之屬以治之，此調和氣血法也。膈之下腹之上脹者，乃胃土不和，中焦腐化有愆，胃有停滯，土氣不達而然也。虛則補之，實則消之，熱則清之，寒則溫之，審其寒、熱、虛、實而治之，乃通調轉運法也。胃之下臍之上脹者，乃脾土失職，地氣不升而然也。夫胃土屬陽明，可清可消，脾土屬太陰，如坤之地，發生萬物者也。地氣上升，然後天氣下降，若地氣不升，則天氣不降，天地痞塞則萬物不生。治之之法，當壯火氣以生土，助脾氣以交肺。若謂脹無補法，但以清涼消克之藥行之，或見效於一時，或不見效於一時，而地氣終不上升，則天氣何能下降，無論效與不效，終必死也。若小腹脹者，乃膀胱水氣不能合太陽而通於皮毛也、或通其水道，或開其毛腠。若脹而兼腫，小便不利者，行其水；脹而不腫，小便如常者，解其肌。凡脹在上者欲其下，而更有橫通之法；脹在下者欲其上，而兼有溫散之法，所謂臟寒生滿病也。若貼臍左右上下脹者，脹必兼痛，蓋衝任當臍，合於氣衝之動脈，衝脈逆而不舒，故或脹或痛，當以紅花、歸、芎、柴胡、桂枝解肌和血之法以治之。若季脅兩旁兼少腹脹痛者，乃厥陰之氣內不交於少陰，外不合於少陽，當以調和內外、交通陰陽之法以治之。所列藥味，不過陳其大概，或減或加，神而明之可也。</p>
<p>脹未必盡腫，而腫未有不脹者也。人身外為陽，內為陰；通體皮毛，太陽陽熱之氣也。陽熱之氣，轉為陰寒，則太陽標陽，不合少陰之本熱，而少陰標陰，反合太陽之本寒，致太陽皮毛之氣不內通於少陰之骨髓，水氣乘之，則為水腫，寒氣乘之，則為寒腫，風氣乘之，則為熱腫。若內臟無虧，而蘊釀成熱，則散之、清之、行之、攻之，亦有愈者；若內臟空虛，腎精竭乏，不得其治，則有性命之虞。又腫而喘，危之兆也。治得其宜，可以苟延；治失其宜，即便死矣。吾見世之腫而死者，十有八九；而五子、五皮方治之，生者十無一二。醫者能知太陽之標陽本寒而主皮毛，少陰之標陰本熱而主骨髓，太陽之本合少陰之標，少陰之本合太陽之標，從無形之氣化而旋轉以施治，不從有形之邪水而攻下以為功，庶乎其可耳！</p>

<h1>蠱</h1>
<p>《易》曰：蠱，壞極而有事也。人病蠱者，脾土敗壞，身不即死，復有事也。事，猶病也。腹脹而硬，紫筋浮露，臍平如鼓，外勁內空，毋論能食不能食，總百無一生；若但浮大而軟，則將成未成，是為脹滿，猶可治也。夫心、肺之病，其死也速；脾土之病，其死也遲。人見其遲也，而妄施湯藥以治之，治之小愈，非真愈也，苟延時日而已。善治者，於始萌之日，從其本原而治之，不使敗壞成蠱，醫之功也。若已成而復藥之，總無濟矣。世有蠱證，余無治法，姑列其目，以俟能者。</p>

<h1>隔</h1>
<p>隔，猶阻也。阻隔不通，不能納穀，此三焦失職之病也。上焦出胃上口，主納；中焦並胃中，主腐化；下焦別迴腸，主濟泌。平人食谷，從上脘而直入中脘。上脘、中脘，即上焦、中焦。直入中脘，便腐化矣。經云：上焦如霧，中焦如漚，下焦如瀆、為胃外釜底之然。若中、上二焦，火氣衰微，上焦不能如霧之灌溉，中焦不能如漚之腐化，便不能消穀，谷入反出矣。患此病者，百無一生，但有中上、中下之分，速死、遲死之異。中上者，上焦、中焦不和也；中下者，下焦、中焦不和也。中下不和其死遲，中上不和其死速。然治得其宜，速者可遲；治失其宜，遲者亦速矣。初患此病，醫者每用辛香行氣之藥，謂能寬胸以開胃，詎知不能食者真氣虛也，真氣既虛，豈可復行辛散以耗其氣乎？既耗其氣，元本不甚虛者，猶可苟延；其元本虛者，數月之間，身命便不保矣。又初患此病，醫者有用養血滋陰之藥，謂開闌門而使之下，可以不吐。若系中、下二焦，不相通貫，谷入中脘，下焦不相順接，腐化有愆，仍從中脘而上逆，逆則吐，此滋潤下行之藥，投之亦效；愈而復發，復投此藥，便不效矣。初因下焦不得順接，可以滋潤下行；久則陰盛陽虛，下焦生陽之氣不能環復於上，下而不上，則不效矣；不效，必至身命不保矣。其中、上二焦，火氣衰微，初起或便用參、耆、朮、薑、桂、附等藥，服之亦覺有效，藥雖效而病不除，其後必疑溫補之非，轉服他藥，終歸不治。天下豈有不食谷之人哉？經云：得谷者昌，失谷者亡。善夫！</p>

<h1>吐血</h1>
<p>人之一生，氣充於外，血附於內，陰陽和平，榮衛通調，何吐血之有？惟大怒、大勞，或過思、過慮，傷其經絡，逆其氣機，致陰陽血氣失其循行之常度，則血外溢，而有吐血之病矣。血雖同，而血之根由不同，有胞中血海之血，有心包脾絡之血。夫胞中為血海，其血熱肉充膚，淡滲皮毛，若大怒、大勞，氣虛一時，不能攝血，致胞中之血不充於膚腠，反從氣衝而上湧於胃脘。吐此血者，其血必多。治之之法，當調其榮衛，和其三焦，使三焦之氣和於榮衛，榮衛之氣下合胞中，氣歸血附，即引血歸經之法也。若不按經調治，只期速效，妄稱火盛血淫，驟用清涼瀉火以止血，不但血不能即止，必增咳嗽之病矣。夫吐血自有止期，虛癆咳嗽，必至喪身而後已。其心包之血，內包心，外通脈，下合肝。合肝者，肝與心包皆為厥陰，同一氣也。若房勞過度，思慮傷神，則吐心包之血。吐此血者，十無一生，惟藥不妄投，大補心腎，重服人參，可十全一二。其有身體不勞，內無所損，卒然哈血數口，或紫或紅，一哈便出，此為脾絡之血。脾之大絡，絡於周身，絡脈不與經脈和諧，則有此血。下不傷陰，內不傷經，此至輕至淺之血，不藥亦愈。若不分輕重，概以吐血之法治之，致絡脈寒凝，變生他病，醫之過也。又五臟有血，六腑無血。吐心臟之血者，一二口即死；吐肺臟之血者，形如血絲；吐腎臟之血者，形如赤豆，五七日間必死；若吐肝臟之血，有生有死，貴乎病者能自養，醫者善調治爾；脾臟之血若羅絡，即前哈血是也。凡吐血多者，乃胞中血海之血，醫者學不明經，指稱胃家之血。夫胃為倉廩之官，受盛水穀，並未有血，謂血從胃出則可，若謂胃中有血，則不可也。</p>

<h1>衄血</h1>
<p>血從鼻出，謂之衄。衄之出也，由陽明經脈之氣，不循胃絡而橫通周遍，致悍熱之氣傷其榮血，遂迫血妄行而為衄。若傷寒陽熱過盛，絡脈寒凝。榮衛不調，身發熱者，得衄則陰陽和而熱氣平，其病可愈，故俗稱鼻衄為紅汗也。其有不病傷寒，時出衄者，乃陽明熱氣有餘，不循經下行，反上逆而傷其絡脈之所致也；衄出，則陽明亢熱之氣亦平，故不藥亦愈，此衄至輕者也。又有陽明經脈虛寒，其人秉質素弱，內則耗其精血，外則勞其形體，衄大出不止，用涼血滋陰藥，其衄反甚者，乃陽明陽氣失職，必用人參、附子，補氣以攝血，助陽以救陰，其血方止，此衄之至重者也。欲辨衄之重輕，須察衄之冷熱。衄出覺熱者，乃陽明絡脈之血，輕者也，治宜涼血滋陰；衄出覺冷者，乃陽明經脈之血，重者也，治當溫經助陽。夫衄血之病，雖屬平常，若出而不止，陰陽離脫，亦有死者。臨病施治，常須識此，不可忽也！</p>

<h1>便血</h1>
<p>便血，俗名腸紅，血從大便出也。或在糞前，或在糞後，但糞從腸內出，血從腸外出。腸外出者，從肛門之宗眼出也。此胞中血海之血，不從衝脈而上行外達，反滲漏於下，用力大便，血隨出矣。此病初起，人多不覺；及至覺時，而身體如常，亦翫忽不治，即或治之，無非涼血清火，暫止復發，數年之後，身體疲倦，恣投藥餌，總不除根，遂成終身之痼疾矣。痼疾雖成，不致殞命。其治法總宜溫補，不宜涼瀉；溫暖則血循經脈，補益則氣能統血。初便血時，治得其宜，亦可全愈；若因循時日，久則不能愈矣。</p>

<h1>心腹痛</h1>
<p>心腹痛者，上心、下腹，相引而痛。痛之名雖同，而所痛之部不同，如堪輿移步換形，其中不可不條分縷晰者也。心為君主而藏神，不可以痛，今云心痛，乃心包之絡，不能旁通於脈，則痛也。</p>
<p>心脈之上，則為胸膈，兩乳之間，則為膺胸。胸膈痛，乃上焦失職，不能如霧露之溉，則胸痹而痛，薤白、蔞仁、茜草、貝母、豆蔻之藥，可開胸痹以止痛。膺胸痛者，乃肝血內虛，氣不充於期門，致沖、任之血，不能從膺胸而散，則痛，當歸、白芍、紅花、銀花、續斷、木通之藥，可和氣血而止痛。</p>
<p>有中脘作痛，手不可近者。夫手不可近，乃內外不和，外則寒氣凝於皮毛，內則垢濁停於中脘。當審其體之虛實以施治，莫若以燈草火，當痛處爆十餘點，則寒結去而內外通，便不痛矣。有中脘之下，當陽明胃土之間，時痛時止者，乃中土虛而胃氣不和，若行氣消泄之劑，服之過多，便宜溫補。但以手重按之，則痛稍平，此中土內虛，虛而且寒之明驗也。</p>
<p>其乳下兩旁胸骨盡處痛者，乃上下陰陽不和，少陽樞轉不利也。傷寒病中，每多此痛，當助其樞轉，和其氣血，上下通調，則愈矣。</p>
<p>其大腹痛者，乃太陰脾土之部，痛在內而緩，坤土虛寒也；痛兼內外而急，脾絡不通也。蓋脾之大絡，名曰大包，從經隧而外出於絡脈。今脾絡滯而不行，則內外皆痛。《太陽篇》云：傷寒陽脈澀，陰脈弦，法當腹中急痛，先與小建中湯，不瘥者與小柴胡湯。此先補益於內，而後樞轉於外也。</p>
<p>其有臍旁左右痛者，乃衝脈病也。衝脈當臍左右，若為寒氣所凝，其衝脈之血不能上行外達，則當臍左右而痛。當用血分之藥，使胞中之血通肌達表，若用氣藥，無裨也。又有臍下痛者，乃少陰水臟、太陽水腑，不得陽熱之氣以施化，致陰寒凝結而痛。少陰水臟虛寒，當用桂、附以溫之；太陽膀胱水腑虛寒，亦當用桂、附以溫之。蓋太陽、少陰相為表裡，互為中見者也。</p>
<p>又小腹兩旁謂之少腹。少腹痛者，乃厥陰肝臟之部，又為胞中之血海。蓋膀胱之水，主於少陰；而胞中之血，主於厥陰也。痛者，厥陰肝氣不合胞中之血而上行也。肝臟不虛者，當疏通以使之上；肝臟虛者，當補益以助其上。蓋厥陰不從標本，從中見少陽之氣，使厥陰上合乎少陽，則不痛矣。</p>
<p>其兩旁季脅痛者，肝氣虛也。兩脅之上痛者，少陽之氣不和也。所痛之部，有氣血、陰陽之不同，若概以行氣、消導為治，漫云通則不痛。夫通則不通，理也，但通之之法，各有不同。調氣以和血，調血以和氣，通也；下逆者使之上行，中結者使之旁達，亦通也；虛者助之使通，寒者溫之使通，無非通之之法也。若必以下泄為通，則妄矣！</p>

<h1>中風</h1>
<p>方書俱以中風弁首，謂風為百病之長，善行數變。其中方治最多，有真中風、類中風之區別，而熟知其不然也。風者，厥陰之本氣也，在天為風，在地為木，在臟為肝。人身肝血內虛，木不條達。外不充於經絡，內不榮於臟腑，則血虛生風，而有中絡、中經、中腑、中臟之不同，實皆中風病也。仲師《金匱》論中風歷節篇云：風之為病，當半身不遂，或但臂不遂，邪在於絡，肌膚不仁，邪在於經，即重不勝。此言風中於絡，或中於經，傷有形之經絡而為病，中之淺，病之輕者也。若中風歷節，則傷腎主之骨、肝主之筋，疼痛如掣。此言風傷有形之筋骨而為病，中之深，病之重者也。雖有淺深輕重之不同，皆不死也。又云：邪入於腑，即不識人，邪入於臟，舌即難言，口吐涎。此不傷有形之筋骨，而傷無形之真氣，中腑中臟，皆必死矣。但中臟者，立死，雖延三五日，猶立死也，中腑者，腑與臟表裡雌雄相應，或半月，或一月，腑氣不外通於經，而內逆於臟，亦死矣。經云：連臟則死，連經則生。不入臟而連經者，所用之藥，總宜強筋壯骨，補血補氣，如耆、朮、熟地、歸、芍、參、苓、附、桂等，而祛風消散、清涼豁痰，在所禁也。</p>

<h1>胎產</h1>
<p>胎產，乃婦人生育之常，非病也；其半產、漏下，則為病矣。半產者，未滿十月而產，俗云小產是也。漏下者，血不養胎，離經下漏也。未滿三月而漏者，胎必不保，以胎未成形，其凝結之血，即胎也，血行，恐胎亦不成矣。至四五月而漏者，其胎已成，大補氣血，不漏則安。至於生產之後，不過氣血兩虛，謹慎調養，必無他患。或三四日之間，其身發熱，稍有微寒，總因氣血暴虛，陰陽不和之故；服藥只宜補氣調血，陰陽和而寒熱可愈。丹溪云：產後須大補氣血，雖有雜證，以末治之。誠哉斯言！若延醫診治，見其身熱，復有微寒，必曰此外感也。投以散寒清熱之藥，不惟不愈，變證日加，證屢出則治屢更，至身體憊極，然後重用人參。與其補於既變之後，曷若無損於未變之先，且有力服參者，大半猶可挽回，若無力服參，不可保矣。至產後惡露，或多或少，或有或無，當聽其自然，不可破氣行瘀。有生產惡露無一點者，其身無病，亦無害也。又產後腹痛，多屬經脈不和，中土虛寒，但當調其經脈，溫其中土，破氣行瘀亦所禁也。我故曰：生產原非疾病，服藥總宜溫補，不揣其本而齊其末，不若不藥之為得矣。其婦人妊娠、婦人產後、婦人雜病，已悉仲師《金匱》論中，參究可也。</p>

<h1>用藥大略</h1>
<p>余初事醫，亦閱方書，未讀《本經》，只知某藥性寒，某藥性熱，某藥豁痰，某藥行氣，某藥燥濕，某藥健脾，某藥破血，某藥補血。遇病用藥，如是而已！及藥不應手，嗜古而靈，始知五運六氣之理。天地有五運六氣，人身亦有五運六氣，而百卉草木，亦莫非五運六氣。五運，五行也；六氣，亦五行也。天地開闢，草木始生，農皇仰觀俯察，而百卉草木，有五方之出處，五時之生成，其中更有五色、五臭、五味，而合於人之五臟六腑，天地人物，一以貫之，著為藥性。知藥之性，則用之無窮，取之有本；後人不知其性，但言其用，是為逐末亡本。如雲犀角解心熱，羚羊清肺肝。遇心熱之證，宜用犀角，肺肝之證，當用羚羊，使用之而毫不見功，將如之何？必知犀角之性如何，所以清心熱者何故？羚羊之性何如，所以清肺肝者何故？知其所以然之故，則取之左右逢其源，不知其故而硬用之，是欲金之鳴而撞其木也。雖撞不鳴，不鳴愈撞，愈撞愈不鳴，即至折手，不見成功，何益哉！</p>
<p>藥性必分臟腑經脈，升降出入。或行皮毛，或解肌腠、或通經脈、或起水土之氣上行、或助金木之氣轉輸、或秉鎮墜之質下降。以藥性之運氣，合人身之運氣而用之，斯為有本。茲未能悉底詳明，姑以日逐所用數十品言之。</p>
<p>人參補五臟之真元，五臟真元有一臟不足者，即用之。若水火不交，心腎之真元不足也；天地不交，脾肺之真元痞塞也；氣血不和，陰陽之真元不濟也，急用之，猶恐無裨矣。凡飲食不進，胃口不開者，必用人參。蓋五臟六腑之氣俱至於胃，猶江漢朝宗於海也。有一臟一腑之氣不至於胃，其人必不能食，雖食亦勉強不多。別藥補止一臟一腑，獨人參備天、地、人三才之氣，能補五臟六腑之元神，故必用之。其餘之用。不可勝說，若欲盡說，罄竹難書，善悟可耳！</p>
<p>黃耆助三焦之氣，從經脈以達肌腠，若三焦內虛不能從經脈而達肌腠者，必用之。</p>
<p>白朮補脾土，脾土虛者必用之。類之山藥、石斛、米仁、乾薑、炙甘草，皆脾土藥也。其餘尚有運脾消導之藥，不可勝紀矣。</p>
<p>五味子、杜仲、補骨脂、巴戟天、熟地黃，皆補腎藥也。陽氣立而陰精不足，凡此可補，然緩著也。若腎精竭而陽無所附，又宜桂、附以補陽。</p>
<p>凡藥空通者，轉氣機。如升麻、木通、烏藥、防己、通草，皆屬空通。藤蔓者走經脈，如銀花、乾葛、風藤、續斷、桑寄生，皆屬藤蔓；至不必藤蔓而入血分之藥，亦走經脈，如紅花、當歸、丹皮、秦艽、白芍之類。胸膈不和，在兩乳之上，則川貝母、桔梗、茜草、麥冬，木通、蔞仁，主開胸痹；凡胃絡與心包絡不相通貫，致不能橫行旁達者，此藥亦主之。心氣不交於腎，則桂枝，茯苓、棗仁、枸杞，可使心氣歸伏於下。肝氣有餘而內逆，則用元胡、青皮、五靈脂、香附、白蒺藜之類以疏肝。</p>
<p>凡藥有刺而屬金者，皆主伐肝。蓋金能制風，金能平木，制風平木，即所以伐肝也。肝氣不足而內虛，則用山萸肉、五味子、熟地黃、當歸、白芍、木瓜之類以補肝。又水能生木，補腎即補肝，所謂虛則補其母也。五臟調和，六腑無恙，或三焦火氣有餘，陽明燥氣上熾，少陽相火妄動，則芩、連、梔、柏，凡瀉火清涼皆可用也；若臟腑內虛，而燥火上炎者，又當和其臟腑，或補瀉兼施，不可專行涼瀉矣。肺為五臟之長，受朝百脈，不宜有病。其咳嗽之證，雖關於肺，而病根在於別臟別腑，腑臟之氣，不循經順行各上逆於肺，而為咳也。若咳果在於肺，久久便為不治之證。而肺經之藥，通變無窮，不可執一。如杏仁、桔梗、桑皮、白芥子、麻黃、紫蘇、葶藶子，皆瀉肺藥也；百合、款冬、貝母、人參、五味子，皆補肺藥也。而補脾之藥，亦所以補肺，蓋足太陰屬脾土，手太陰屬肺金，土能生金，故補脾即所以補肺也。凡發散毛竅，解肌出汗之藥，皆所以瀉肺。蓋肺主皮毛，金能生水，實則瀉其子，故皮毛汗出所以瀉肺也。</p>
<p>其病在骨，當用腎臟之藥，桂、附可用。其病在筋，當用肝臟之藥，歸、芍可用，及前補肝之藥，皆可用也。病在肌肉，當用補脾助土之藥。病在經脈，當用心包絡之藥。病在皮毛，當用肺經之藥。其藥已載於前，意會而神明之可也。</p>
<p>又痘證用藥，方書俱有成法，余獨體痘根所發之原，而神解以治。痘毒起於腎，此毒一發，合相火而上行，故痘為水毒，因火始發，見點一二，則知外有熱而內發痘。經云：榮主血，衛主氣。主血者，合心主之包絡也；主氣者，合三焦之肌腠也。如三焦氣虛，見點一二，火毒內熾，一起便見狂煩不順，則用大承氣湯，乃釜底抽薪之治。如錢氏百祥丸，亦釜底抽薪之法也。若無此證，但觀其痘所循之路，必令三焦之氣內合心包。心包主血、主脈，見點不必發表，第一要用經脈之藥，使三焦之氣先合榮血而走心包，如紅花、續斷、秦艽、茜草、當歸、川芎、生地、銀花之類；出之有漸，顏色潤澤，便當和其三焦，調其中胃，四五日痘根微有水色，即宜助三焦而補氣血，銀花、歸、芍、茯苓、黃耆、人參、甘草、桑蟲。如是而已，此外之治，皆不諳經脈，不知自然之理，而妄行施治者也。此其大略也。</p>

<h1>辨藥大略</h1>
<p>藥品浩繁，不下千百餘種，其尋常日用者，不過百十種，而百十種之中，藥有真偽好惡，用有宜與不宜，皆當明辨而詳悉者也。如赤芍藥、銀柴胡、赤小豆、龍骨、巨勝子、半夏曲，皆偽藥也。《本草崇原》俱已辨明，但未梓行，茲且言之。</p>
<p>芍藥花開赤、白，赤花者為赤芍，白花者為白芍，總屬一種，豈有二耶？今兒科、外科，多用赤芍，謬矣。又以白芍為酸斂之藥，豈知《本經》主治邪氣腹痛，除血痹，破堅積，寒熱疝瘕，氣味苦平。性功如是，寧酸斂耶？試將芍藥咀嚼，酸味何在？可以正其誤矣。</p>
<p>柴胡有硬、軟二種，硬者為大柴胡，軟者為小柴胡。然必出於銀州者為勝，故有銀柴胡之名。非大小柴胡之外，復有銀柴胡也。</p>
<p>赤小豆，穀類也，粗而大者為赤豆，細而小者為赤小豆。今藥肆中一種草子，赤黑相兼，不可煮食，豈得謂之豆乎？</p>
<p>巨勝子，即胡麻也。出於胡地之大宛者為勝，故有巨勝之名。劉阮誤入天台，仙家飼以胡麻飯，即巨勝子也。今藥肆中一種有殼無仁，乃狗蝨也，以狗蝨而充巨勝，妄立壁蝨胡麻之名。今用巨勝子，不若竟用大脂麻矣。</p>
<p>龍骨，《本經》上品之藥，乃上天所謫之龍，海濱深山間或有之。今一種龍骨者，乃北地深山之石壟骨，而非上天所降之真龍。龍為陽物，能興雲布雨，故《傷寒論》中發汗名大青龍，利水名小青龍。今欲止汗，反用龍骨，豈理也哉？《本經》言止汗者，乃以真龍之骨，研為細粉，撲其周身，塞其汗孔，即本論以溫粉撲之之義，非服食止汗之謂。</p>
<p>考《神農本經》止有半夏，並無半夏曲。今藥肆中以明礬水煮半夏，所剩礬腳及半夏屑，大半和以麥曲，造成藥餅，為半夏曲。時人厭常新喜，方中每用，何益於病？除此之外，復有神麯，用白麵百斤，青蒿、辣蓼、蒼耳自然汁，赤小豆、杏仁搗爛，拌麵成餅，罯𪑳為曲。兒醫認以能治痰、止瀉、消食之藥，每每用之，不知其弊。別藥煮汁各有氣味，若用神麯，則藥如稠粥之飲，有形之面，大能傷胃。夫嬰兒有病，必忌麵食，此𪑳過之面，與醬何異？況有藥與草汁，並非健脾之品，用無益也。</p>
<p>又藥之偽者，如桂枝、細辛、五味、乾薑是也。仲師桂枝湯，用桂枝去皮者，止取梢尖嫩枝，內外如一，氣味辛香甜辣，桂枝皮內骨，便去之而不用。如是之枝，可多得耶？今人反用，亦必辛香甜辣，名為川桂枝方可。今藥肆中辛香甜辣之桂枝不可得，即有亦暫而不久。數十年中，余闕之不用，不得已而以官桂代之。</p>
<p>北細辛，其細如髮，辛香觸鼻。苟細不如發，辛不觸鼻，便為杜衡，用之無益。</p>
<p>五味子，惟遼五味最佳，其黑如漆之有光，其味如醋之滴牙，上口生津。次則北五味，其色紅紫，微有光，其味亦酸，微有香氣，今一種黑色如李干兼枯紅之色者，用無益也。</p>
<p>又生薑為子姜，宣胃；乾薑為母姜，溫脾。脾胃有母子之分，而乾薑、生薑亦有母子之分。今有金衢溫臺之種姜，切片堅實黃亮，方能入藥，並不是本地之生薑曬乾偽充，入口最辣，止能辛散表邪，溫脾用無益也。</p>
<p>至藥之宜與不宜，先須知藥性之宜否，察人之病，投之中窾方宜。今世俗每用而不知宜否。今略舉十數種言之。今醫發散，每用前胡，考前胡《別錄》所收，陶宏景雲：上古止有柴胡，而無前胡之名，後人用之。是宏景雖收之，而實疑之也。且前胡降痰逐風，耗散消削，不若柴胡之芳香，清熱解表之謂得也。今人不究藥性，有病在太陽，而早用柴胡，有引邪入少陽之說。夫柴胡名地勳，苗甚芳香，從未見邪入於太陽，正太陽經藥也。《傷寒論》云：無太陽證。本論云：本太陽病不解，轉入少陽者，與小柴胡湯。謂可從少陽而外達於太陽，非少陽經之主藥也。其性自下而上，從內而外，根氣虛者不可用，用之是猶揠苗助長，故本論有柴胡不中與之誡。</p>
<p>至於升麻，亦拔根之藥。今人遇元氣虛脫之證，每用升麻，欲提之使上。豈知升麻，《本經》名周麻，以其具升轉周遍之功，初病發散可用；若裡虛氣陷，當補益其元，助之使上，不可升提，升提則上下離脫，即便死矣。</p>
<p>葛根藤蔓延引，乃太陽經脈之藥。本論云：太陽病，項背強𠘧𠘧無汗惡風，葛根湯主之。以明葛根治太陽經脈之病，而非陽明之主藥也。但色白味辛，可資陽明之燥。是從陽明而達太陽，與柴胡之從少陽而達太陽者，其義一也。</p>
<p>石膏，色白，味辛，性寒，為陽明之主藥。既為陽明主藥，必確有陽明燥熱之證，而元氣不虛，可用；若元氣虛而燥熱，必配人參，本論所以有人參白虎湯方。今人但知石膏清熱瀉火，遇傷寒大熱之證，不審虛實陰陽，每用石膏，用之而其病如故，復更用之。夫用之不效，與病便不相宜，粗工固執不解，明者視之，真堪墮淚！余治傷寒，必審陰陽虛實，更必審似陰實陽、似陽實陰，確為陽明燥熱之證，不涉太陽之熱，不涉少陽之火，裡氣不虛，始投石膏，配合成方，必一劑而奏功。此鎮墜寒凝之藥，不可屢用而常試者也。至兒科治痘，亦用石膏，以為必先瀉其火毒，方可順序行漿。以此不經之見，橫據胸中，無論痘之順逆，至三五日間，必用石膏以解毒。夫氣血調和，其毒自解，石膏解毒，未之聞也。且痘原系先天火毒，必遇君火相火司天在泉之歲，其出也廣，是痘非火不出，非火不長，非火不漿，非火不合者也。夫痘毒之外，復有他火，可以暫用，而痘內之火，無容瀉也。其餘雜證，或病陽明燥熱，亦可用石膏以治，然非調和培養之藥，不可不慎其用也。</p>
<p>醫治傷寒發熱，必用黃芩清熱，謂小柴胡湯有黃芩也。夫既病傷寒，其身必熱，而熱有皮毛、肌腠、經脈之不同，更有寒熱相兼、假熱真寒之各異。黃芩內空腐，外肌皮，空腐則內清腸胃之熱，肌皮則外清肌表之熱，有徹內徹外之功。必審其內外皆熱，原本壯實，胃氣不虛，外不涉於毫毛，內不涉於經脈方用。若泛泛然舉手便用，其種禍不知幾許矣！本論云：僅與黃芩湯徹其熱，腹中應冷，當不能食，戒之也。</p>
<p>黃芩之外，更有知母。知母肉白皮黃，皮上有毛，氣味苦寒，稟寒水之性，而兼秋金之氣，猶水之知有母也，故名知母。土炎燥而皮毛熱，可內資中土之燥，外清皮毛之熱。若以知母為補藥，則非矣。</p>
<p>葳蕤，《本經》名女萎，女子嬌柔之義也。一名玉竹，色白如玉，根節如竹也。一名青黏，苗葉青翠，根汁稠黏也。凡此命名，皆取陰柔之義。後人妄稱葳蕤有人參之功，不審陰陽寒熱，用為補劑。若陰盛陽虛，宜溫補者，此藥大忌。</p>
<p>麥冬，《本經》主治心腹結氣，傷中傷飽，胃絡脈絕。以麥冬橫生土中，有十二餘粒，其中則一心相貫：能橫通胃絡而補中，故治傷中；能橫通胃絡而散結，故治傷飽。後人用必去心，大非先聖格物窮理之意。妄謂連心服之則心煩，蓋即以連心麥冬煮水飲之，煩與不煩，可立辨矣。</p>
<p>澤瀉，生於水中，其根如芋，能行水上滋。水氣必上行而後下降，非專利小便之藥也。今人不明經義，謂目疾不可用，恐下泄其水則目枯，豈知澤瀉正行水上滋之藥也。《太陽篇》五苓散用澤瀉，治消渴，小便不利。以澤瀉行水上滋，故治消渴、水氣；上而始下，故利小便，猶木通之橫通旁達，則小便自利。二者皆非下行之藥也。</p>
<p>參、朮、苓、甘，加橘、半，為六君子湯。此健脾和胃，補瀉兼行之方也。今人治大寒大虛證，既用參、耆、朮、薑、桂、附，而廣皮、半夏，戀戀不捨，以六君子湯有橘、半故也。大抵臨證施治，當就病用藥，勿執成方。廣皮、半夏，乃辛散發汗之藥，不可不知也。溫補藥中，有不宜歸、芍者，以其潤泄也。歸、芍不宜，而棗仁滋潤亦不宜也。凡人抱病，陰不和陽，陽不和陰，自不能睡，如用棗仁，便即能睡，則天下無不睡之病矣。經云：人臥則血歸於肝。身臥而血不歸肝，則不能睡。又陰陽交會於坤土，太陰土虛，陰陽不歸，則不能睡。又陽明胃脈，其氣下行，陽明氣逆，上而不下，則不能睡。又厥陰主合，陽明亦主合，或陽明合而厥陰不合，或厥陰合而陽明不合，或陽明、厥陰皆不能合，亦皆不能睡。當審其所以不睡之故而施治焉，庶其可爾！八味丸，有熟地、桂、附，所以助三焦之火，益腎臟之水，乃陰陽兼補，水火併治者也。如陰虛而陽不虛，不宜桂、附；若陽虛而陰不虛，便不宜熟地矣。今人遇陽虛之證，認為陰虛，大用熟地，奚可哉？</p>
<p>辛香下氣，寬胸快膈，有沉香、丁香、木香、豆蔻、砂仁諸品，氣味皆屬辛香，而功用各有不同。沉香從胸膈而下丹田，有下沉之義，故曰沉。丁香其性溫熱，助三焦之火以溫胃土，丁者火也，故曰丁。木香，《本經》名五香。五者，土也。採根陰乾，一月方枯。人身經血，一月一周，肝木主之，故曰本。白豆蔻，寬胸藥也。肺居胸膈之上，肺氣不布，則胸膈不通。豆蔻能達肺金之氣，肺屬金，其色白，故曰白豆蔻。砂仁，原名縮砂蔤，安胎藥也，有歸宿丹田，退藏於密之義。香附，乃莎草根中之子，子結於根，亦有宿密之義，故亦主安胎，功用與縮砂略同。凡此辛香之藥，臭味雖同，而功用稍殊，當辨明而用，不可概投混施也。</p>
<p>天麻，苗如赤箭，故《本經》有赤箭之名。有風不動，無風獨搖，故能制風。苗不可得，但有其根，是為天麻。與蜀漆不可得，但有常山，一理也。天麻在土，形如大魁，似皇極之居中，周環十二子，如十二辰，以輔皇極，味甘氣平，主補中土，便從中土以通十二經。今人認為祛風之藥，但品味甚優，誤用亦無害也。</p>
<p>今人治瘧，不用常山，以常山為截瘧藥，截之早，恐成臌脹。豈知常山乃治瘧之要藥，三陽輕淺之瘧，不必用也，若太陰脾土虛寒，而為脾寒之瘧，及間二日發，而為三陰之瘧，必須溫補之劑，佐以常山，方能從陰出陽，散寒止瘧。又謂若服常山，終身不可食雞。嗟嗟！此皆齊東野人之語，而明理之醫，亦宗此說，良可嗤矣！夫土虛脾敗，天地不交，則成臌。瘧既愈矣，何臌之有？</p>
<p>鵝、鴨、鰻、鱉，其性陰寒，病後宜忌。雞性溫平，補肝暖胃，瘧後正可食也。終身必禁，是誠何說哉？</p>
<p>《本經》止有南星，並無膽星。南星色白味辛，稟金氣而祛風豁痰，功同半夏。今人以牛膽製為瞻星，味苦性冷。中風痰涎上湧，多屬三焦火虛，土崩水汛，斯時助正散邪，壯火祛寒，尤恐不濟，而粗工昧昧，不審其本，但治其末，服以苦冷之膽星，加以清涼之竹瀝，必至生陽絕滅而死。</p>
<p>蒺藜，有刺蒺藜、白蒺藜二種。白蒺藜形如羊腎，微有腥氣，乃從腎達肺之藥。刺蒺藜色白有刺，秉堅金攻伐之質，破積行瘀，乃大消大削之藥。《詩》云：牆有茨。即刺蒺藜也，後人誤以白蒺藜為沙苑蒺藜，茨蒺藜為白蒺藜。以攻伐之茨，認為健脾調補之藥，豈不謬哉？</p>
<p>余每用銀花，人多異之，謂非癰毒瘡瘍，用之何益？蓋銀花《別錄》名忍冬藤。以銀花之藤，至冬不凋，乃宣通經脈之藥也。又一本之中，花有黃、白，氣甚芳香，故有金銀花之名。金花走血，銀花走氣，又調和氣血之藥也。通經脈而調氣血，何病不宜？豈必癰毒而後用之哉！</p>

<h1>診脈大法</h1>
<p>人身十二經脈，交通有道，循行有次，氣統於先，血附於內，流行還轉，晝夜不停。而醫家診脈，以左右兩手，分寸、關、尺三部，醫以三指候之，以醫之一呼一吸，候病者之脈。其脈應指而動，一動謂之一至，一呼一吸之間，其脈若四至以上，或五至以下，不數不遲，謂之平脈。若一呼一吸，其脈三至，或三至有餘，則為遲脈；一呼一吸，其脈六至，或六至有餘，則為數脈。經云：遲為虛寒，數為虛熱。此識病之法，非脈法也。</p>
<p>然脈之形象，又有浮、沉、滑、澀、弦、緊、大、小之分。浮者，泛泛於上，輕指即得，如水漂木，故曰浮。沉者，沉伏於下，重指始得，如石下沉，故曰沉。滑則往來流利，如珠走盤而圓轉。澀則往來艱澀，如刀刮竹而阻滯。弦如弓弦，按之不移也。緊如轉索，按之勁急也。大乃脈體洪大，過於本位也。小乃脈體收斂，不及本位也。此脈之外，又有微、細、芤、革。微者，虛微，似有似無也。細者，細小，如發如絲也。芤者，上有中無，如按蔥管也。革者，外勁而堅，如按鼓皮也。脈之形象不一，須於指下辨明，合證參考，自有定見。然尤當審其脈之圓緩，並脈之胃氣。圓緩者，脈來應指，至數均調，三部同等也，胃氣者，輕舉應指，重按柔和也。若脈不圓緩，及無胃氣，輕病必重，重病必死。</p>
<p>又病脈之外，兼有死脈。方書有蝦游、魚翔、屋漏、雀啄、彈石諸說。蝦游者，如蝦之遊，魚翔者，如魚之擺鱗。屋漏者，至不倫次，點滴稀疏。雀啄者，如雀啄物，急疾渙散。彈石者，堅硬牢實，如指彈石。蝦游、魚翔、屋漏，乃散漫不倫之脈也：雀啄、彈石，乃堅強不和之脈也。方書之言，摹擬亦似，此皆脈無胃氣，應指無神也，見則必死。</p>
<p>又兩手三部之脈，地脈也，可以指診；面容之色，天脈也，用以目察。六氣調和，五行不偏，自有正色，若面無正色，神氣不揚，夭色外呈，其壽不久。</p>
<p>諸脈之外，又有動脈。動脈有二：一則三部之脈，厥厥動搖，圓疾如豆也；一則頭額喉旁，胸腹脛足，躍躍而動，此經脈循行環轉於空隙之處，微露其端，所謂流中溢外也。</p>
<p>又高陽生《脈訣》云：左心、小腸、肝、膽、腎、膀胱，右肺、大腸、脾、胃、包、三焦。此一臟一腑相為配合，合《靈樞》之脈法也。而《素問》脈法，又以兩手寸脈候上，關脈候中，尺脈候下。約而言之，右寸候肺，左寸候心，而膻中、上焦，附於兩寸；右關候脾，左關候肝，而鬲中、中焦、胃、大小腸，附於兩關；尺中候腎與膀胱，無分左右，而季脅、血海、下焦，附於兩尺。此上以候上，中以候中，下以候下，《素問》之脈法為然也。</p>
<p>又仲師《傷寒論·平脈篇》，更有診法，以三菽、六菽、九菽、十二菽之由輕而重，自舉而按，以候五臟之氣。故曰如三菽之重者，肺氣也，如六菽之重者，心氣也；如九菽之重者，脾氣也；如十二菽之重者，肝氣也；按之至骨者，腎氣也。此又以浮、中、沉診五臟之氣。《傷寒論》之脈法為然也。</p>
<p>經論脈法，平素俱熟於胸中，則論病診視，無往不宜矣。然有三部無脈，移於外絡，名為反關脈者，此又不可不知也。總之，脈者，五臟六腑之大原，有脈則生，無脈則死；三部脈平，病雖劇亦生，三部不平，病雖輕亦危。</p>
<p>又脈分左右，左主血，右主氣。男為陽，陽者氣也，故男子之脈，宜於右旺；女為陰，陰者血也，故女子之脈，宜於左旺。男子右脈和平，雖困無害，女子左脈和平，雖困亦無害。蓋五臟所居之位，男居於左者，女則居於右，男居於右者，女則居於左。《素問》云：男子左為逆，右為從；女子右為逆，左為從，所從不同，則兩手左右所屬臟腑，亦當不同矣。</p>
<p>至診脈論病，如雲某脈系某病，某病得某脈，不但蛇足，且診視之下，亦難為據。不若但論脈之有神無神、和緩與不和緩之為得也。</p>
<p>至如小兒之脈，亦如此法。但小兒啼哭不馴，不能細診，只以一二指按之，脈來四五至，亦為和平；若按之而似有似無，或急疾無神，兼之病劇，亦不能生。其視虎口而別以色，云小兒脈有六七至者，皆妄談也。診小兒之脈，須知小兒呼吸急疾，約以急疾應之可耳！</p>
<p>由此推之，無論大小男女，凡病內虛者脈弱為宜，洪大則忌；初病外感者，陽脈為宜，陰脈則忌。其他《脈訣》之言，多屬不經，不可為信。欲求診脈之法者，考於《靈樞》，詳於《素問》，更合本論辨脈平脈，而會通之，則得其要矣。</p>

<h1>先生自述</h1>
<p>余童年喪父，家貧無所資，藉舌耕以奉母，及制舉之業不獲售，遂習岐黃之術於倪先生之門。所授書有《藥性》、《全生集》、《明醫指掌》、《傷寒五法》，並諸方歌訣，以為道在於是。二十三歲即懸壺，治病頗效，多有稱許者，然循方投藥，究未能刻期應驗。甲辰歲，餘年二十有八，七月中旬，患痢甚篤，延時醫診治，藥日投而病日劇，月餘不得愈，遂不服藥，至仲冬而痢方止。因嘆曰：醫之不可為也，醫治我若是，我治人想亦若是。以醫覓利，草菅人命，謂天理何？其時隱菴張先生開講經論，遂往學焉，得究觀《傷寒》、《金匱》、《神農本經》及《素問》、《靈樞》諸書，朝夕參究，始悔前之所習，皆非醫學之根源。隱菴先生，亦以針芥之投，無微不晰。如是者十年，岐黃至理，雖未能窺其堂奧，而論證施治，已不同於往昔之見病治病，執風痰、氣火、感寒、停食之說，遂循方而投藥也。故每遇一證，必究其本而探其原，處方用藥，不同流俗，因是人咸謂余偏執。嗟嗟！人命攸關，余豈故為離奇而偏執耶？夫只閱方書，不明經論，知其外，不知其內，則視余誠偏矣；以藥試病，中無定見，究其末，不究其源，則視余誠執矣。蓋醫理如剝蕉心，剝至無可剝，方為至理；以至理而論病，則大中至正，一定不移，而豈偏執之謂哉？余觀經論之暇，每閱分門別類之方書，皆醫門糟粕也。即如《薛氏醫案》、趙氏《醫貫》、《醫宗必讀》、《裴子言醫》等書，亦皆方技之穎悟變通，非神農、軒岐、仲景一脈相傳之大道也。方書有云：不知十二經絡，開口舉手便錯；不明五運六氣，讀盡方書無濟；病有標，復有本，求得標，只取本，治千人，無一損。此言甚善！余因及門進論，著授《醫學真傳》，以示正道，以斥旁門，而使學者之不可不慎也。余何敢與世爭名哉？亦俟知我者之不罪我而已！</p>

<h1>跋</h1>
<p>《靈樞》、《素問》、《神農本經》、《卒病論》、《金匱要略》五書，皆聖哲之微言，醫門之奧旨也。習其藝者舍之不習，而惟採撮後來之枝辭瑣說，以為應世之捷訣，是棄本而務末也。求其蘇困扶危，而不誤致人於死，蓋亦難矣。高氏懷悲憫之志，集為是編，以示門人，即以是示後世。其中略言五運六氣之化，臟腑經絡之分，周身之部位於三陰三陽各有所屬，藥物之氣味色臭不一，其性於十一臟各有所宜忌，雖語焉未詳，然已啟《靈》、《素》諸書之端緒，而指人以升堂入室之所自矣。即其中矯枉過正之辭，不無一二，然繹其首尾全文，實為補弊救偏而發，初非舉一廢百之偏詞，固與《靈》、《素》諸書大旨，有相合無相悖也。人能因其說而廣求之五書，於以精參聖哲之微言奧旨，而得醫門之管轄，庶幾可以視人之疾而蘇困扶危，不流為鹵莽滅裂之粗工也歟！</p>
<p><u>乾隆丙戌八月中秋前四日戊申錢江王琦</u></p>
