<header data-type="book">
<h1>醫論拾遺</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王旭高</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>《退思集》題詞</h1>
<p>退有餘閒頗致思，軒岐家秘在於斯。</p>
<p>知方然後堪求治，得訣回來好作醫。</p>
<p>明理必須遵古訓，見機也要合時宜。</p>
<p>莫嫌言淺無深意，下學工夫上達基。</p>
<p>技巧多由規矩生，巧中規矩是精英。</p>
<p>旁通曲暢從心悟，類聚群分本物情。</p>
<p>術可傳人原切近，文能壽世要歸誠。</p>
<p>學無少長爭先達，篤志躬行事竟成。</p>

<h1>雜說</h1>
<p>醫學精微，言難盡述。一要工候，二要見識，三要人品，四要時運，五要人情，六要旁襯。（旁襯者，親戚交遊皆好，住宅房屋華美，此二者亦扶助之一種。）七要不貪利。（貪圖多看，必多失誤。）八要寡言語。（言多必敗。）九要不遊玩，（心耽遊玩，必多失察。）十要存心地。（存心積善以濟人，培子孫之根也。）</p>
<p>看病工夫在讀書，書不在多，如《內經》、仲景《傷寒論》、《金匱玉函》、《本草》、《藥性》、《脈訣》、吳又可《溫疫論》、薛生白《濕熱論》、（二書旭高均編歌訣），方解、（《明醫方論》最好，《醫方集解》略選。）葉天士《溫熱論》（要宜熟讀）。此數種書，三年可以讀完，再加玩索揣摩，已可日進於高明矣。他如劉河間、朱丹溪、李東垣、張子和亦有好書，雖不必熟讀，亦須細閱。《寓意草》亦好書也。</p>
<p>見識在於虛心，每遇疑難之證，必須與人相商。勝我之人，必虛心請問，不如我之人，亦不可與辯，姑忍耐之，任其開方，則自己好地步也。</p>
<p>見證多，自可以識病情；涉世深，自可以識人情。品行要端方，心思要靈活。</p>
<p>人情世務，李士材不失人情，早已言之矣，不贅。</p>
<p>時運不可缺，譬之行船，走順水，遇順風，便是時運也。遇必艱難，用之無效，便是時運不到。</p>
<p>旁襯，張璐玉蕕（薰）十戒，亦言及之，皆好名趨時之所為耳。</p>
<p>貪利有二說，有貪圖多看數次，則多數次看封，誰知有不宜者，諺云：有利必有害，宜戒之。有設心騙人財物者，有賣偽藥騙人者，此等為下流人物，切勿蹈此轍為戒！</p>
<p>言語之間，容易招懲，多言者順口說去，所失必多。所謂日出萬言，豈無一錯。存心學道者，亦須自戒。</p>
<p>景岳十問篇，言淺而理正，茲錄於下：「一問寒熱二問汗，三問頭身四問便，五問飲食六問胸，七聾八渴俱當辨，九因脈色察陰陽，十從氣味彰神見。見定雖然事不難，也須明哲無招怨。」</p>
<p>凡看病，若病情有不合處，切不可輕言無事，恐其生變也。看重險病，亦不可決絕回報，但曰病已極險，另請相商可耳。十中亦有一活，免貽人笑話耳。</p>

<h1>痰論</h1>
<p>人身無痰。痰者，津液之所聚也。散則還為津液，非經絡臟腑中別有邪氣穢物，號稱痰者，以為身害，必先去之而後已也。夫上焦沖氣不足，則津液為痰，聚於胸膈，喉間梗梗，鼻息喘急。中焦營氣不足，則血液為痰，壅塞脈道，變幻無常，為病莫測。下焦衛氣不足，津液遂滯，則為悍痰，四末之間，麻木壅腫。治本則補之益之，然宜先治其標，則化之有法。痰如稠而不清，則用澄之之法。散而不收，則用攝之之法。下虛上實，上壅下塞，則復之墜之。何謂澄之之法，如白礬有卻水之性，既能澄濁流，豈不足以清痰乎？然不可多用。阿膠亦能澄清。蓋濟水之性，清勁能穴地流，煮而為膠，最能引膈上之痰下行，此用之所謂澄之之法也。何謂攝之之法？益智一味，有安三焦，調諸氣，攝涎唾，固脫滑之妙，最能建功。古醫方每以治多唾者，專取其辛而能攝，非僅溫胃寒而已。此所謂攝之之法也。何謂復之之法？腎間真氣不能上升，則水火不交，則氣不通，而津液不注於腎，敗濁而為痰。宜用八味丸，地黃、山藥、山萸以補腎精，茯苓、澤瀉以利水道，肉桂、附子以潤腎燥。桂、附燥熱之藥，何以能潤？《經》不云乎「腎苦燥，急食辛以潤之」。開腠理，致津液，則氣自通也，所謂復之之法也。何謂墜之之法？如痰涎聚於胸膈之間，為嗽為喘，為膈為噎，為眩為暈，或大便時秘不通，宜與養正丹、靈砂丹，質重性險之劑以引之，所謂墜之之法也。</p>

<h1>瘧辨</h1>
<p>瘧邪之中，《內經》謂「邪中異所」者，邪中俞穴也。又云：大邪、小邪。大邪之來，即三陽之冒風傷寒也。小邪之來，即瘧邪中俞穴也。三陽之病，得汗即解。瘧邪之發，與衛氣相遇乃作，離則休止也。《金匱》論「癉瘧」之「陰氣孤絕，陽氣獨發」者，其人陽氣素盛於身，得瘧邪休作，陰液日耗，雖邪外舍於分肉之間，陰液耗而心火日盛矣。故令人消爍肌肉，少氣，煩冤而嘔，但熱不寒。陽氣內盛，邪氣行於陽而不及於陰也。閱「溫瘧」之條，「其脈如平，身無寒但熱，骨節煩疼，時嘔」，與癉瘧相似。程云來引《內經》溫瘧論一節，其云：「得之冬中風寒氣，藏於骨髓之中，至春則陽氣大發，邪不能自出，因遇大暑，有所用力，邪氣與汗皆出，此病藏於腎」等，此一節雖屬《經》文，難於盡信。孟子所謂「盡信書，不如無書也」。瘧病皆得之夏秋浴水悽風，俞穴留邪，與衛氣相遇乃作。若冬中風寒，即病冬溫、傷寒矣。如中俞穴，與衛氣相遇，即病瘧矣。何能人少陰之臟，再藏於骨髓，起居如故，相安於無事，至春遇暑而發耶。王叔和論伏氣，即引溫瘧一節，邪藏骨髓，變為溫毒、溫疫之說，後人宗之，實不知伏氣之發，由冬春乍交，肝膽之陽萌動，暴寒折之，則屈曲化火，至春陽氣大發而病隨之，非邪留於身中也。然伏氣而發春溫者有之，至夏秋變為溫疫、溫毒，則無是理也。</p>
<p>溫瘧，癉瘧，《金匾》云：「但熱不寒」，以桂枝白虎湯主治。程云來解云：用桂枝於白虎湯中，引白虎之辛涼，而出入營衛，制其陽邪之亢害。此論理之當然，究屬紙上空談，余屢用不應，投之不見其徹熱之功，反見營熱煩躁之害。細推其理，瘧為久伏之邪，非一二劑可愈之症。石膏徒足郁邪，桂枝反熱其營，故不中病情矣。余用一方，治溫瘧、癉瘧頗效。名清瘧飲。清瘧飲方薛徵君，鱉甲（一兩）　丹皮（三錢）　蜀漆（炒黑三錢）群，蒿（青蒿三錢）　芩（黃芩三錢）　蔞根（瓜蔞根三錢）　兼知母（三錢）。溫瘧癉瘧效如神。（瘧邪之但熱不寒者，其人肺素有熱，氣盛於身，然邪氣出入之證，白虎非所能除。余治此瘧，取蜀漆之苦辛，能達引瘧邪，知母、黃芩、瓜蔞根苦鹹，能清肺胃之熱，鱉甲、丹皮辛鹹，以清營而破肝血。其證自愈。然此證愈不能速，治不宜急，急則生變，戒之戒之。）</p>

<h1>《醫學問對》注</h1>
<p>「試言溫病起手太陰之故。夫天地一陰一陽也，若在於時，一寒一暑也。而寒暑之成，由風變也。自秋而冬，風從西北方來，乃觱發之寒風，寒必傷陽，膀胱足太陽腑也，寒邪郁遏陽氣，而為頭痛惡寒之傷寒。自春而夏，風從東南方來，乃解凍之溫風，溫必傷陰，肺手太陰臟也，溫邪郁遏陰氣，而為咳嗽自汗、口渴身熱之溫病。故傷寒從太陽經肌表始，由表而里；溫病從太陰經上焦始，由上而下，一縱一橫，而寒熱之病情彰矣。」</p>
<p>王旭高注：論寒暑由乎風變，及寒風傷陽溫風傷陰之理，洵是特識。</p>
<p>「夫溫病不用麻黃髮汗之故，可罕譬而知之，今夫冬令嚴寒，西北行令也，西北風為主風，見之不雨，風轉東南，而來雨矣。春夏溫暖，東南行令也，東南風為主風，見之不雨，風轉西北，而雨至矣。人之汗，以天地之雨名之，夏令安得用辛溫如麻黃髮表之藥乎。且夫汗也者，以陽氣為運用，以陰津為材料，陰津有餘，陽氣不足，又為寒邪殺厲之氣所搏，不能自出，必用麻黃辛溫味薄急走之藥，以運其陽氣而汗始出。故《傷寒》一書，始終以救陽氣為主。若陰氣有餘，陰津不足，又為溫熱升發之氣所爍，而汗自出或不出，必用膏、知、冬、地，辛涼甘潤之品，培養其陰津為材料，以為作汗之地。故治溫病者始終以救陰津為主。至萎蕤湯用麻黃，雖感冬時之溫，仍有冷風外束也。故以石膏治溫、麻黃達表。」</p>
<p>王旭高注：論溫病發表不用麻黃或用麻黃一節，理明辭暢。</p>
<p>「溫邪鬱於肌表血分，必發斑疹，不知手經本自逆傳，手太陰病不解，原有必傳手厥陰心包絡之理。故溫病中發疹者十居八九，發斑者十居二三。斑乃純赤大片，為肌肉病，胃主肌肉，胃病也。赤為營色。故以石膏、知母為主，亦可加犀角、玄參。所謂主以鹹寒，佐以苦甘法也。若夫疹則紅點高起，系血絡中病，肺病也。當主以薄、蒡芳香透絡，銀、翹辛涼解肌，甘、桔、地、玄參甘寒清血。要皆主以化法為正。吳又可出一托裡舉斑法，用歸、升、柴、芷、山甲溫燥之品，當春夏陽升時，更升陽氣，能不畏傷其津液乎？」</p>
<p>王旭高注：葉氏《溫熱論》中，有瑣碎小點淡紅色，非屬陰斑，即屬虛斑之說，似宜補托，如加減復脈之類，亦托法也。若又可之託里舉斑，溫燥升發，斷不可從。</p>
<p>「試言舌苔，舌絳不渴夜甚，乃入營的候（清營湯），絳而中心黃者，當氣血兩清（玉女煎），純絳鮮紅，急滌心包（清營湯、牛黃丸），中心干絳，兩清心胃（化斑湯、元犀飲），尖獨干絳，專泄火腑（冬地三黃湯），舌絳而干，當濡胃陰（五汁飲），絳而枯萎，急用膠、黃。干絳無色，急投復脈。以上仍宜脈證合參。若舌絳兼有白苔，或黃白相兼、邪仍在氣分。絳而苔滑，濕熱熏蒸，忌血藥膩補，邪必難解。」</p>
<p>王旭高注：宜與葉氏《溫熱論》中舌苔一段參看。</p>
<p>「婦人胎前產後之溫病，又當分別言之。朱丹溪曰：產後當大補氣血，即有雜病，從末治之。一切病多是血虛，皆不可發表，是源於仲景亡血禁汗之條。張景岳曰：產後表邪宜解，火邪宜清，內滯宜消，此源於仲景小柴胡、承氣等法。是二子之論，不可偏廢。然而產後自有妙法。妙法云何？手揮目送是也。手下所治是實證，目中心中意中註定是產後，識證真，對病確，一擊而罷。如病從上焦來，治上不犯中，藥不可輕，須用多備少服法。外感己，即復其虛。所謂無糧之兵，貴在速戰。若畏產後虛怯，用藥過輕，延至三、四日後，反不能勝藥矣。如腹痛拒按則化瘀，喜按即補絡，快如轉丸。其六氣為病，除傷寒遵仲景法外，當於溫熱條中三焦求之。斟酌輕重而急用之，所謂另出手眼者，不外是矣。」</p>
<p>王旭高注：手揮目送四字，妙！妙！</p>
<p>「痙瘛癇厥四字，最宜分別。痙者，強直之謂。後人所謂角弓反張，古人所謂痙也。瘛者，蠕動引縮之謂，後人所謂抽掣搐搦，古人所謂瘛也。抽掣搐搦，時作時止，數日數月復發，發則不治而自止者，癇也。四肢冷如冰者，厥也。四肢熱如火者，亦厥也。仲景曰：陰陽之氣不相順接，故曰厥。《素問》謂：太陽所至為痙，少陽所至為瘛。蓋痙屬水，而瘛屬火。一則因寒，一則因熱，各不相侔也。大抵痙瘛癇厥四證，皆當以寒熱虛實辨之。六淫致痙，實證也。產婦亡血、病久致痙、風家誤下、溫病誤汗、瘡家發汗，皆虛痙也。風寒風濕致痙者，寒痙也。風熱風暑燥火致痙者，熱痙也。俗傳慢驚風者，虛寒痙也。陰液虛而本臟自病者，虛熱痙也，後人皆以痙名，其實寒為痙，而熱為瘛。仲景剛痙、柔痙之論，為傷寒者而言，未嘗議及瘛病，故總在寒水一門，兼風則為有汗之柔痙，蓋寒而實者也。除寒痙外皆瘛病之實而熱者也。治痙宜用剛而溫，治瘛宜用柔而涼。痙而兼瘛，水極而似火也。瘛而兼痙，火極而似水也。此其大略也。」</p>
<p>王旭高注：寒為痙而熱為瘛。一語破的。</p>
<p>「暑，兼濕與熱者也。蒼瘦面黑之人，陰虛而火旺，感暑之熱，而即發者，為暑溫。肥白麵黃之人，感暑之濕，不即發，至秋後發者，曰濕溫。今人謬言癉瘧，其實皆濕溫也。濕溫所由成，濕重熱輕，熱伏濕中而成也。其見證：頭痛惡寒，胸悶不飢，午後身熱，狀若陰虛。而必以舌白不渴，脈細而濡，面色淡黃為提綱。」</p>
<p>王旭高注：又有一種膏粱嗜酒體肥之人，時值春末夏秋，觸染溫邪，與濕相搏，亦屬濕溫。2</p>
