<header data-type="book">
<h1>儒醫心鏡</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
</dl>
</header>

<h1>一、秘傳二陳湯加減法</h1>
<p>二陳橘半茯苓草，清氣化痰為至寶。</p>
<p>膈上不寬加枳桔，火旺生痰芩連好。</p>
<p>參朮加名六君子，健脾和胃無如此。</p>
<p>中脘寒疼去了參，香砂配用皆能止。</p>
<p>飲食過餐不克消，曲糵山楂厚朴調，再加枳實芩連炒，何愁體弱胃脾嬌？</p>
<p>咳嗽生痰分冷熱，熱則芩連並枳桔，寒痰枳縮配原方，化氣胸中痰自泄。</p>
<p>風寒外感嗽何辜，二陳枳桔與前胡，葛根桑杏能清肺，東坡為此號參蘇。</p>
<p>二陳半夏性本燥，血虛煩渴皆不要，四物湯中不必加，貝母代之專取效。</p>
<p>人有風痰疾病生，天麻白附皂南星。</p>
<p>濕痰在胃身多軟，二術仍須配二陳。</p>
<p>火鬱胸中老痰結，滯住喉間咯不絕，夏蔞香附桔連翹，少佐玄胡痰可滅。</p>
<p>痰在經絡及四肢，薑汁還將竹瀝施。</p>
<p>腸胃有痰須枳實，脅間白芥永痊除。</p>
<p>溫膽湯加竹茹實，寧神豁痰為第一，若加枳殼共南星，湯號導痰能利膈。</p>
<p>去草陳皮四七湯，加添蘇樸與生薑，散郁消痰兼理氣，孕生惡阻用之安。</p>
<p>嘔吐皆因胃火炎，脈來洪數嘔連綿，急用本方加枳實，竹茹薑汁炒芩連。</p>
<p>若還藥也難吞下，檳榔些小木香煎。</p>
<p>五六日來嘔不休，心胸脹悶手難揉，多加枳樸芩連芍，便秘硝黃一服瘳。</p>
<p>嘈雜噯氣一般看，胸中積火與停痰，石膏香附並星夏，二陳加上減何難。</p>
<p>同療吞酸與吐酸，本方加入炒茱連，更加蒼朮與白茯，行其濕熱便安痊。</p>
<p>水停心下名曰飲，枳茯豬苓利小便。</p>
<p>此是二陳加減法，休將浪與外人傳。</p>

<h1>二、秘傳四物湯加減法</h1>
<p>四物芎歸芍地黃，女科諸疾是良方，調經養血醫虛損，胎產無如用此湯。</p>
<p>參朮茯甘名八物，氣虛血弱功甚捷。</p>
<p>十全加了桂黃耆，大補真元與精血。</p>
<p>若對參蘇號補心，心虛血少夢中驚，產後感寒宜服此，不須加減效如神。</p>
<p>下午發熱本陰虛，柴芩知柏可痊除。</p>
<p>骨蒸勞熱柴耆鱉，知柏仍兼地骨皮。</p>
<p>婦人經水適然來，似瘧湯中對小柴。</p>
<p>妊娠月水時時下，膠艾加之止漏胎。</p>
<p>經水過期血少陰，本方加橘與耆參。</p>
<p>經因積氣先為痛，香附莪稜服自行。</p>
<p>月經黑紫及先期，方入芩連共牡皮。</p>
<p>小腹瘀經兜澀痛，桃紅烏附莫教遲。</p>
<p>瘦婦血枯經塞閉，木附檳殼桃紅治。</p>
<p>肥人色淡屬於痰，配合二陳成一劑。</p>
<p>經水行來太去多，芩連柴柏可同科，更加荊芥與羌活，升提其氣便安和。</p>
<p>方加芩術善安胎，胎痛砂蘇便郁開。</p>
<p>腹大異常成水病，心胸氣逆如鼓硬，鯉魚湯煎術茯苓，減地芎加姜橘應。</p>
<p>胎氣不安胸膈脹，枳桔砂蘇即先暢。</p>
<p>胎婦心煩號子煩，芩麥茯知防竹項。</p>
<p>芎歸二味佛手名，坐草臨煎可保生。</p>
<p>若是產難生不下，草霜白芷一同行。</p>
<p>焦姜能治產後熱，甘辛大能補陰血。</p>
<p>汗多方內減川芎，急服參耆防氣脫。</p>
<p>產後血迷成血暈，去多惡露精神困，澤蘭芎歸荊草參，散號清魂能定暈。</p>
<p>黑神減芎入桂姜，炙草黑豆炒蒲黃，淨露下胞除腹痛，酒便煎服效非常。</p>
<p>產後如何惡露少，若無別症精神好。</p>
<p>驀然寒熱腹中疼，還用黑神真個好。</p>
<p>產後須當四物湯，大凡初產配焦姜。</p>
<p>產初用芍相生氣，膩膈尤嫌熟地黃。</p>
<p>腸滑地歸皆可忌，汗多須把川芎去。</p>
<p>血虛腹痛芍還良，減增四物身藏秘。</p>

<h1>三、秘傳小柴胡湯加減法</h1>
<p>小柴半夏參芩草，少陽經病稱為寶，往來寒熱日晡時，嘔而脅痛用之好。</p>
<p>本經之症合陽明，口渴而煩乾嘔頻，目痛鼻乾眠不得，乾葛知母炒黃芩。</p>
<p>中心痞滿熱尤甚，枳桔加之有神應。</p>
<p>若還痞結不能寬，小陷胸湯堪可並。</p>
<p>汗少唇焦口乾渴，飲水無休倚連葛。</p>
<p>若還不解卻何如，竹葉石膏相配合。</p>
<p>汗後渾身壯熱增，妄言乾嘔更呻吟，黃連解毒同煎服，管取須臾便得寧。</p>
<p>大便泄利熱還蒸，卻用原方配四苓。</p>
<p>若是發黃便溺赤，茵陳知柏再加增。</p>
<p>大便不通口乾涸，蔞實黃連並枳樸。</p>
<p>若還秘結不通時，大柴胡湯用無錯。</p>
<p>身熱惡風口不幹，本方須合桂枝湯。</p>
<p>若是唇焦煩渴甚，可將白虎配原方。</p>
<p>胸煩不嘔減夏參，本方倍入瓜蔞仁。</p>
<p>渴除半夏加天粉，腹痛加芍去黃芩。</p>
<p>脅下硬痞加牡蠣，茯主弱澀心下悸，痞而胸脅脹滿時，牡蠣乾薑出家秘。</p>
<p>微熱不渴欲近衣，減卻人參用桂枝。</p>
<p>溫病發熱渴而嗽，加添五味莫令遲。</p>
<p>婦人邪熱入血室，晝靜夜劇無人識，似瘧經水適然來，四物小柴湯可覓。</p>
<p>過經胸脅滿嘔潮，小柴湯內入芒硝。</p>
<p>溫瘧渴煩或發熱，白虎柴胡二藥調。</p>
<p>傷寒日久號過經，表裡俱無用此行。</p>
<p>若是邪多兼氣弱，重加生脈倍人參。</p>
<p>瘥後又因勞食復，壯熱心驚痰氣促，還須溫膽配原方，急服令人愈應速。</p>
<p>仲景設立小柴胡，特為邪傳在半途，和解處中因此設，用時斟酌莫糊塗。</p>
<p>主方何用柴芩別，味苦以發傳經熱。</p>
<p>止嘔除煩半夏宜，性能下氣味辛列。</p>
<p>表不足者緩以甘，人參甘草緩中央。</p>
<p>調和榮衛須薑棗，和解無如用此湯。</p>

<h1>四、《儒醫心鏡》各症病原並用藥治法要訣</h1>

<h2>中風</h2>
<p>中風者，有真中風、有類中風之分。真中風者，卒時昏倒，皆因體氣虛弱，榮衛失調，或喜怒憂思悲驚恐，或酒色勞力所傷，以致真氣耗散，腠理不密，風邪乘虛而入。及其中也，有中腑、中臟、中血脈三等。中腑者，面加五色，表證惡風寒，拘急不仁，此中腑也。先服疏風飲解表，後服愈風湯調理。中臟者，唇緩失音，鼻塞，耳聾，目瞀，便閉，重則半身不遂，口眼歪斜，言語艱澀，或癱瘓不伸，或舌強不語，痰涎壅塞，不省人事，牙閉緊急者，此風中臟也。若大便閉結者，先服滋潤湯通之；元氣虛弱者，用蜜導法通之，後服愈風湯調理；若口眼歪斜，不省人事，牙關緊急者，先用搐鼻法，急炙百會、人中、頰車、合谷，先服導痰湯，吐痰出為效，後服愈風湯調理。若左半身不遂、手足癱瘓者，是血虛與死血，用四物湯合二陳湯調理；若右半身不遂、手足癱瘓者，是氣虛與濕痰，用四君子湯合二陳湯調理。若臟腑俱中者，藥必兼用，先表，而後通之，後服愈風湯調理。有中血脈者，外無惡風寒之證，內無大小便之閉，但四肢不能舉，口不能言，是風中血脈，即中經也，用當歸養榮湯補血養筋。此皆治真中風也。中腑者可治，中臟者難醫。中風之脈浮遲而緩者，生；浮數實大者，死。有不治之證：口開，手撒，眼合，遺尿，髮直，吐沫，聲如鼾睡，口噤不語，搖頭上竄，面赤如妝，汗出如珠，目反直視，痰喘作聲，皆不治也。</p>
<p><u>疏風飲加減</u></p>
<p>治風中在腑，惡風寒，不仁。</p>
<p>川芎　細辛　防風　羌活　白芷　陳皮　半夏　烏藥　香附　白茯苓　桂枝　當歸</p>
<p>有熱，去桂枝，加柴胡、黃芩。有汗，去川芎。有痰，去桂枝、烏藥、香附、加瓜蔞仁、枳實、桔梗、黃芩。</p>
<p>水二碗，生薑一片，煎，溫服。</p>
<p><u>愈風湯加減</u></p>
<p>治一切風中後調理。</p>
<p>當歸　人參　白朮　半夏　陳皮　防風　羌活　白茯苓　川芎　枳實　甘草　白芍</p>
<p>有痰，加竹瀝、薑汁少許。氣喘，加蘇子、沉香、木香，去白朮。</p>
<p>水二碗，棗二枚，生薑一片，煎八分，入竹瀝，磨木香調服。</p>
<p><u>活血滋潤湯</u></p>
<p>治風中在臟，大便閉結。</p>
<p>當歸　生地　熟地　杏仁　火麻仁　枳殼　羌活　紅花　厚朴　檳榔　大黃</p>
<p>水二碗，煎八分，食前熱服。</p>
<p><u>導痰湯加減</u></p>
<p>治風中，痰涎壅盛，牙關緊急，不能言語。</p>
<p>白茯苓　半夏　陳皮　枳殼　桔梗　南星　甘草　當歸　黃芩　杏仁　瓜蔞仁</p>
<p>水二碗，姜一片，入竹瀝、薑汁少許，服。</p>
<p><u>四物湯加減</u></p>
<p>治風中，左半身不遂，手足癱瘓。</p>
<p>當歸　川芎　熟地　白芍　茯苓　半夏　陳皮　甘草　羌活　防風　桃仁　紅花　木香</p>
<p>手不遂，加黃芩、薄桂味淡，能橫行手臂，引藥行至病處。足不遂，加牛膝、黃柏，引藥下行。</p>
<p>水二碗，姜一片，棗二枚，煎六分，入竹瀝，磨木香調服。</p>
<p><u>四君子合二陳湯加減</u></p>
<p>治風中，右半身不遂，手足癱瘓。</p>
<p>人參　白朮　茯苓　陳皮　半夏　甘草　當歸　白芍藥　防風　羌活　蒼朮　木香</p>
<p>手不遂，加黃芩、薄桂。足不遂，加黃柏、牛膝。痰盛，加瓜蔞仁、枳實。</p>
<p>水二碗，姜三片，棗二枚，煎六分，入竹瀝、薑汁少許，磨木香調服。</p>
<p><u>當歸養榮湯加減</u></p>
<p>治風中血脈，四肢不能舉，口不能言。</p>
<p>當歸　川芎　白芍　熟地　人參　陳皮　甘草　白茯苓　羌活　防風　秦艽　薄桂　牛膝</p>
<p>有痰，加瓜蔞仁、枳實、竹瀝、薑汁少許，去薄桂、牛膝。</p>
<p>水二碗，姜一片，煎六分，入竹瀝調服。</p>
<p>中風口噤遲浮吉，急實大數三魂孤。</p>
<p>大率氣血兩虛，有痰有火，治法開痰行氣，養血散風，主有中腑、中臟、中經、中氣之分。丹溪曰：中腑多著四肢，中臟多滯九竅。《詩括》曰：中風手足不遂者，是為中腑，症在表；耳聾、眼瞀、口喎斜，是為中臟，症在裡。外無六經之病，內無便溺之阻，肢不能舉，口不能言，此中經也。又有中氣之說，俗言為之氣厥，此因七情所感，氣暴則中，氣復即已，雖不藥而愈。有夏月卒倒，名為中暑，風痰壅盛，不能言者，皆用吐法，一吐不已，再吐之。若有氣血兩虛，不可吐也。如果氣虛之症，補以參耆；血虛之病，調以四物。丹溪曰：中腑，先用續命湯發其表，調以通聖辛涼之劑；中臟，用三化湯通其滯，調以十全四物之類；中經之症，當用大秦艽湯補血以養筋；中氣之症，烏藥順氣散、蘇合香丸，各從症而治之。</p>
<p>田氏考之曰：氣固形實，形虛中風。風為百病之長也。中風之名，非外來之風邪也，乃因濕中生痰，痰中生熱，熱中生風，皆是木火為病。《原病式》曰：「諸風掉眩，皆屬肝木。」《小學》曰：「休治風，休治燥，治得火時風燥了。」此論乃前賢之格言，後學之準繩也。今立方於後，不可不遵之。</p>
<p>不治症：口開，心絕；手撒，脾絕；眼合，肝絕；遺尿，腎絕；喉如鼾睡，肺絕。若見一症，不可治也。又有筋枯者，不治。舉動則筋痛，以其無血滋養故也。</p>
<p><u>小續命湯</u></p>
<p>中腑，先用發表。如有汗，去麻黃，加當歸，倍加芍藥。</p>
<p>麻黃　人參　黃芩　芍藥　防己　防風　川芎　杏仁　桂枝　甘草（各一兩）　附子（五錢）</p>
<p>每服七錢，姜三片，水煎服。</p>
<p><u>防風通聖散</u></p>
<p>中腑，後用調之。內有芒硝、麻黃二味，量其虛實酌用。</p>
<p>防風　川芎　當歸　芍藥　大黃　連翹　芒硝　麻黃　薄荷（各五錢）　石膏　桔梗　黃芩　荊芥　白朮　梔子（各二兩）　滑石（三兩）　甘草（一兩）</p>
<p>每服一兩，姜三片，水煎服。</p>
<p><u>三化湯</u></p>
<p>中臟，先用此藥通之。</p>
<p>厚朴　大黃　枳實　羌活</p>
<p>每服一兩，姜三片，水煎服。</p>
<p><u>十全大補湯</u></p>
<p>中臟，後用此藥調之。</p>
<p>人參　白朮　茯苓　芍藥　當歸　川芎　熟地　黃耆（各等分）　甘草　肉桂（各三分）</p>
<p>每服一兩，姜三片，棗二枚，水煎服。</p>
<p><u>大秦艽湯</u></p>
<p>中經，用此藥養之。</p>
<p>秦艽（二兩）　石膏（二兩）　甘草　川芎　當歸　白芍　獨活　羌活　茯苓　防風　生地　熟地　黃芩　白芷　白朮（各一兩）　細辛（五錢）</p>
<p>每服一兩，水煎。天陰雨，加生薑七片。夏，加知母一兩。</p>
<p><u>田氏祛風化痰湯</u></p>
<p>陳皮　半夏　茯苓　甘草　厚朴　南星　枳殼　防風（各等分）　前胡　天麻（少許）</p>
<p>有汗，加人參、白芍、黃芩。</p>
<p><u>秦艽丸</u></p>
<p>即大秦艽湯煉蜜為丸，如彈子大。每服一丸，薑湯化下，或酒化亦可。治中腑、中臟、中經，後用此藥調之。</p>
<p><u>資壽解語湯</u></p>
<p>方見《玉機微義》。</p>
<p><u>清暑益氣湯</u></p>
<p>暑風通用方。</p>
<p>見《丹溪纂要》。</p>
<p><u>烏藥順氣散</u></p>
<p>中暑用此方。</p>
<p>見《官方備用》。</p>
<p><u>天麻南星湯</u></p>
<p>治中風，無汗、痰壅盛者服之。</p>
<p>方見《保生余錄》。</p>

<h2>類中風</h2>
<p>類中風者，則常有之，因內傷氣虛，卒倒，昏不知人事，此名類中風也。富貴之人起於情欲所傷，貧苦之人起於飢寒所傷，氣衰者多有此證。若卒時昏倒者，屬氣虛卒倒，用參耆湯補之。有中氣，中暑，有中寒，有痰厥，有血暈。類中風者，多各有法治不同，不可作風證，用風藥誤治之。</p>
<p><u>參耆湯加減</u></p>
<p>治氣虛卒倒。</p>
<p>人參　黃耆　白朮　茯苓　當歸　熟地　陳皮　半夏　甘草</p>
<p>有痰，加枳實、竹瀝、薑汁少許。身涼，脈來沉細，手足厥逆，加熟附子，以行參耆之氣。身熱，加柴胡、芍藥，去半夏。胸膈飽悶，加砂仁，去熟地、白朮。眩暈，加川芎、天麻。本方治內傷氣虛卒倒者甚妙。</p>
<p>加生薑一片，棗二枚，水煎，不拘時服。</p>

<h2>中氣</h2>
<p>中氣症者，因與人相爭，暴怒氣逆而暈倒者，此名中氣。氣脈是沉，風脈是浮。風中身溫，且多痰涎；氣中身涼，且無痰涎。先用薑汁灌救，後服木香順氣散。氣復即醒，不藥而愈也。</p>
<p><u>木香順氣散</u></p>
<p>治中氣症暈倒者。</p>
<p>木香　砂仁　烏藥　香附　青皮　枳殼　陳皮　厚朴　官桂　甘草　半夏　乾薑</p>
<p>氣逆不轉，加蘇子、沉香。</p>
<p>姜三片，水煎八分，磨木香調服。</p>

<h2>痰厥</h2>
<p>痰厥者，皆因內虛受寒，痰氣阻塞，手足厥冷、麻痹，眩暈厥倒，脈來沉細。用二陳湯加減治之，痰出為妙。</p>
<p><u>二陳湯加減</u></p>
<p>治痰厥暈倒。</p>
<p>茯苓　半夏　陳皮　甘草　當歸　枳實　官桂　桔梗　杏仁　良薑　砂仁　木香</p>
<p>氣逆，加蘇子。元氣虛弱，去枳實。</p>
<p>姜三片，水煎六分，不拘時服。</p>

<h2>血暈</h2>
<p>血暈者，皆因平日去血過多，血虛而成血暈，脈來微澀。用四物湯加減治之。不可艾灸，驚哭叫動，動則乘虛而死矣。</p>
<p><u>四物湯加減</u></p>
<p>即當歸補血湯。治血虛眩暈卒倒。</p>
<p>當歸　川芎　生地　白芍　人參　黃耆　茯苓　陳皮　白朮　甘草　荊芥</p>
<p>飽悶，加香附、砂仁，去黃耆、白朮。</p>
<p>烏梅一個，棗二枚，水煎六分，不拘時服。</p>

<h2>傷寒</h2>
<p>傷寒，六脈浮緊，忌沉細。</p>
<p>傷寒為病，返復變遷，粗工不識，死在返掌。若冬時即病，乃為傷寒。寒毒藏於肌膚，至春變溫病，春末為晚發，至夏變為暑病。所受病則同，治法則異，全倚脈症為憑察，終用藥庶為無差。有起於太陽，終於厥陰，此為循經傳度也。或在太陽，直入少陽，為越經傳度也。有首尾只在一經，而不傳也。有兩感傷寒，榮衛俱病者，有寒傷榮、風傷衛之分，無汗惡寒、有汗惡風是也。有傷風見寒，外風症而內寒脈也；有傷寒見風，外寒症而內風脈也。有陰症傷寒，直中陰經，六脈沉細也。有四症類傷寒：寒痰，腳氣，食積，勞煩也。臨症之時，望聞問切，仔細詳察。若差毫釐，其禍不小。慎之！慎之！</p>
<p>田氏考之曰：傷寒治法惟在專門之士，學者當要隨機應變，不可拘定，全要自己省悟。且如以經言之，症傳有六，經常有九。有在表在裡之分，有取症不取脈之分，有標本之分。《內經》曰：「知標與本，萬舉萬當。不知標本，謂之妄行。」然傷寒之標本，近世醫者鮮有知之，不可不明辨也。論曰：所患病氣為本，傳變陰陽為標；內傷七情為本，外感為標。《經》曰「急則治其標，緩則治其本」是也。如症在表，發熱惡寒，法當汗之；如不惡寒、反惡熱，病屬裡，法當下之；若在半表半裡之間，往來寒熱，法當和之。且如病在三陽經，大便不通，手不敢迎腹，豈不下乎？又如在三陰經，身手大熱，坐臥非安，喘息不寧，敢不汗乎？所謂取症不取脈也。予今錄傷寒之大略，立方於後。雖不能全備，未必無小補焉。</p>
<p><u>麻黃湯</u></p>
<p>治太陽無汗，脈浮而緊。春分後忌用。</p>
<p>麻黃（一兩）　桂枝（一兩）　甘草（五錢）　杏仁（五十粒，去尖）</p>
<p>每服五錢，生薑三片，水煎服。取汗為度。</p>
<p><u>桂枝湯</u></p>
<p>治太陽有汗，脈浮緩。春分後忌用。</p>
<p>桂枝　赤芍藥　甘草</p>
<p>每服五錢，姜三片，棗一枚，水煎服。頻臾啜稀粥助藥力，以取微汗。若小便數及飲酒人，不用甘草，恐中滿而嘔。</p>
<p><u>小柴胡湯</u></p>
<p>治少陽往來寒熱，胸脅疼痛，心煩喜嘔。又治風溫身熱。</p>
<p>柴胡（二兩）　黃芩（七錢）　人參（七錢）　甘草（七錢）　半夏（八錢）</p>
<p>每服五錢，姜三片，棗二枚，水煎，溫服。</p>
<p><u>大柴胡湯</u></p>
<p>治內熱，大便難，身熱，不惡寒，反惡熱。</p>
<p>柴胡（二兩）　黃芩（七錢）　芍藥（三錢）　半夏（六錢半）　枳實（四錢）　大黃（五錢）</p>
<p>各和勻，每服五錢，水煎服。</p>
<p><u>大承氣湯</u></p>
<p>治胃熱譫語，五六日不大便，腹痛，煩渴，少陰舌乾口燥。如汗後不惡寒，反惡熱，狂言而喘，用小承氣湯。</p>
<p>大黃　厚朴　枳實　芒硝</p>
<p>水二碗半，先煎厚朴、枳實至一碗，入大黃，再煎至七分，去渣，入芒硝，再煎一二沸，溫服，以利為度，未利再服。</p>
<p><u>理中湯</u></p>
<p>治太陰自利不渴，寒多而嘔，腹痛鴨溏，蛔厥霍亂，四肢逆冷，氣難布息，真陰傷寒。</p>
<p>人參　白朮　乾薑　甘草（各七錢）</p>
<p>每服五錢，水煎。</p>
<p>本方加附子，名附子理中湯。此藥服之如不效，速灸關元穴。</p>
<p><u>大青龍湯</u></p>
<p>治傷寒見風，傷風見寒，太陽無汗，脈浮緊，發熱惡寒。若脈弱、惡風，不可服。</p>
<p>麻黃　桂枝（各一兩）　杏仁（二十粒）　甘草（一兩）　石膏（半個雞子大）</p>
<p>每服五錢，姜三片，棗二枚，水煎服。</p>
<p><u>玄參升麻湯</u></p>
<p>治失汗症，頭面身手發斑。</p>
<p>玄參　升麻　石膏　知母　甘草　乾葛　川芎（各五錢）</p>
<p>有汗去乾葛、川芎。</p>
<p>每服五錢，水煎，溫服。</p>
<p><u>白虎湯</u></p>
<p>治汗後脈洪大，虛煩。內加半夏、麥冬、淡竹葉一把，名為竹葉石膏湯。</p>
<p>知母（一兩五錢）　石膏（四兩）　甘草（五錢）　粳米（一合）</p>
<p>加人參，即人參石膏湯。</p>
<p>水煎，入生薑自然汁三匙，去渣溫服。</p>
<p><u>大羌活湯</u></p>
<p>解利兩感傷寒。《經》云：兩感不治。然所感有淺深，所稟有虛實。稟實感淺者生，感深稟虛者死、不治。</p>
<p>羌活　獨活　防己　黃芩　黃連　白朮　川芎（各一錢）　細辛（五分）　生地（二錢）　知母（二錢）</p>
<p>水煎服。</p>
<p><u>溫膽湯</u></p>
<p>治傷寒病後，虛煩不得睡臥。兼治心膽虛怯。</p>
<p>半夏（三錢）　枳實（二錢）　橘皮（二錢）　茯苓（一錢）　甘草（五分）　竹茹（一塊，如錢大）</p>
<p>姜三片，水煎服。</p>
<p><u>導赤各半湯</u></p>
<p>治傷寒後，心下不硬，腹中不滿，大小便如常，身無寒熱，漸變神昏不語，唇焦，目赤，舌乾，或睡中有一二句獨語，不飲食水、稀粥，與之則食，不與亦不思，形如醉漢。庸醫不識而誤者多，殊不知熱傳手少陰心也。心火炎上，逼如肺，所以神昏也。名曰越經症。</p>
<p>黃連　梔子　黃芩　滑石　甘草　知母　犀角　茯神　人參　麥冬</p>
<p>姜三片，棗二枚，水煎，加燈心一把。</p>
<p><u>九味羌活湯</u></p>
<p>治春分後傷寒，代桂麻二湯用。</p>
<p>羌活　防風　蒼朮（各一錢二分五釐）　甘草　白芷　川芎　生地　黃芩（各一錢）　細辛（四分）</p>
<p>姜三片，棗二枚，水煎服。取汗。</p>
<p>有汗去蒼朮，加白朮。渴加知母、石膏。</p>
<p><u>獨參湯</u></p>
<p>治傷寒壞症。</p>
<p>人參一兩，水二鍾，煎一鍾。用銀器盛煎，煎好置新汲水內，候冷服之。鼻上有汗出得生。</p>
<p>藿香正氣散加減</p>
<p>治外感發熱頭痛，內因痰飲凝滯為熱，或中脘痞滿、嘔逆、噁心。又治傷寒憎寒壯熱。</p>
<p>陳皮　半夏　茯苓　甘草　白芷　藿香　桔梗　紫蘇　厚朴　香附　川芎　葛根</p>
<p>姜三片，棗二枚，水煎服。</p>

<h2>中寒</h2>
<p>中寒者，冬月天氣大寒，水冰地凍，體虛肌寒中倒，口噤難言，脈遲身冷，手足拘攣，或口吐涎沫，重則四肢僵直。先服生薑汁，隨用附子理中湯加減。若不急治，舌短、囊縮而即死矣。此冬月之中寒也。</p>
<p><u>附子理中湯加減</u></p>
<p>治冬月中寒厥倒。</p>
<p>附子　乾薑　吳茱萸　官桂　人參　當歸　陳皮　厚朴　甘草　白朮</p>
<p>不醒人事，用蒸臍法。</p>
<p>姜三片，棗二枚，水煎服。</p>
<p>腹痛，加砂仁、木香、茴香，去人參、白朮。嘔吐，加丁香、良薑，去官桂。泄瀉，加肉豆蔻、訶子、砂仁，去厚朴。口吐涎沫，加丁香，去官桂。寒呃，加丁香、良薑、砂仁、茴香，去白朮、官桂。飽悶，加砂仁，去人參、白朮。</p>
<p>中寒，六脈沉細而遲。</p>
<p>寒之為病，多因氣血兩虛，卒中天地寒氣，或口食冰果冷物，使人六脈沉細，手足逆冷，氣難布息。雖有身熱，不渴，不煩，若不急治，死須臾。當以溫藥散之，方有回生之理也。</p>
<p>田氏考之曰：且如寒氣害人，有感，有傷，有中。感寒在皮毛，傷寒在肉分，中寒中五臟。令人氣血不和，諸脈不行，身無熱症，六脈細遲。上工急治，十可全五；下工治之，百無一生。若對症用藥，取效甚速。差之毫釐，謬之千里也。</p>
<p><u>生料五積散</u></p>
<p>治中寒感冒寒邪，及傷寒內傷生冷，此藥服之神效。</p>
<p>陳皮　麻黃　桔梗　枳殼（各九分）　白芷　川芎　甘草　官桂　茯苓　半夏　當歸　白芍（各四分）　乾薑（炮，六分）　厚朴（六分）　蒼朮（三錢六分）　</p>
<p>姜三片，蔥白一個，水煎，熱服。</p>
<p><u>理中湯</u></p>
<p>治中寒，昏不知人事，及臍腹冷痛，霍亂轉筋，一切寒症。</p>
<p>人參（一錢）　白朮（一錢）　甘草（五分）　乾薑（二錢）　附子（兩大片）　</p>
<p>水煎服。</p>
<p><u>真武湯</u></p>
<p>治傷寒數日已後，發熱腹痛，目昏頭沉，大小便自利，有時或澀，或嘔，或咳，或已經汗下不解，仍復發熱，心下忪悸，眩暈。皆因渴後飲水，停留中脘所致。並皆治之。</p>
<p>茯苓　生薑　白朮　白芍（各七錢五分）　附子（一個，炮製）　</p>
<p>每服五錢，水煎八分，溫服。</p>
<p>咳者，加五味子（七錢五分），細辛、乾薑（各二錢五分）。</p>
<p><u>升陽補中湯</u></p>
<p>治中寒，六脈沉細，內傷雖氣口緊盛，按之無力，多因房勞感傷。此藥服之最效。</p>
<p>黃耆　炙甘草（各五分）　人參　升麻　橘紅炒　當歸　白朮（各三分）　白芍（酒洗）　附子（二片，炮，去皮）　茯苓</p>
<p>姜三片，水煎服。</p>

<h2>瘟疫</h2>
<p>瘟疫，脈陽濡陰緊盛。</p>
<p>冬傷於寒，寒毒藏於肌膚，此因腎水涸竭，春木發生，無倚滋養，春必病溫也。自里出表，其症頭痛，發熱，不惡寒而渴。當用辛涼之劑，微解肌為主，不可大發汗也。若發熱惡寒齊作者，偶感非時之氣，為之瘟疫，舉家長幼皆相似。又有冬溫為病，君子當閉藏，返泄於外，非其時有其氣也。其症發熱惡寒，左脈浮大，右脈浮緩而盛，按之無力。三者之病，用藥之時，補中兼散，散中兼補，然後無失也。</p>
<p>田氏考之曰：有大頭病，天行濕氣在高巔之上，東垣有法有方。陽明邪熱大甚，資實少陽相火而為之也。多在少陽，或在陽明，或傳太陽，視其腫勢在何部分。若大腫屬陽明，或在耳前後腫者屬少陽，先出皆主其病也。治之不可速，速則過其病所，為上熱未除，中寒復生，必傷人命。此病自表入里，乃血受病，邪氣見於無形之部分，故不敢急治，而當緩也。</p>
<p><u>九味羌活湯</u></p>
<p>治瘟疫。</p>
<p>方見《丹溪心法》。</p>
<p><u>升麻葛根湯</u></p>
<p>治無汗惡寒瘟疫，及發斑通用。</p>
<p>升麻　芍藥　葛根　甘草（各二兩）</p>
<p>作五服。</p>
<p>熱甚者，加玄參，去芍藥、葛根，名曰升麻湯。</p>
<p><u>萎蕤湯加減</u></p>
<p>治冬瘟。</p>
<p>萎蕤（二分）　石膏（二錢）　麻黃　白薇　羌活　甘草　青木香　川芎（各一錢五分）　葛根（五分）　人參　桔梗（各八分）　</p>
<p>作三服，水煎服。</p>
<p><u>芩連甘草湯</u></p>
<p>治大頭瘟。</p>
<p>黃芩酒（炒）　黃連（酒炒）　甘草（炒，各等分）　</p>
<p>少少不住服，或劑畢再用大黃、鼠黏子炒，煎好，入芒硝（各等分），時時呷之。邪氣已平，只服前藥。若未平，再同前藥次第服之，取大利，邪氣已平則止。如陽明渴加石膏；少陽渴加天花粉。陽明行經加升麻、芍藥、甘草、葛根；太陽行經加羌活、荊芥、防風。並前藥同合用之。</p>

<h2>中暑</h2>
<p>中暑者，夏月天氣炎熱，元虛而中倒也。動而得之為中熱，靜而得之為中暑。中暑、中暍皆是熱也，乃夏火之氣也。中暑中於心脾二經，煩渴自汗，面垢脈虛，或吐瀉腹痛，或嘔噦燥悶，重則熱極而昏，不醒人事。俱用香薷飲加減。元氣虛脫者，生脈散加減。中暍者，中於太陽膀胱經也，身熱頭痛，灑然毛聳，背微惡寒，口開，前板齒燥，舌燥生胎，大煩渴者，用人參白虎湯加香薷、扁豆。凡治暑症，手足雖微冷，脈雖虛小，切不可用姜附熱藥，治用清解暑毒、補益元氣為主。伏暑、霍亂，吐瀉者最多，亦不可誤作寒治。《經》曰：「寒傷形，熱傷氣。」理之明也。</p>
<p><u>香薷飲加減</u></p>
<p>治中暑，煩渴自汗，面垢，脈虛，或腹湧吐瀉。</p>
<p>香薷　扁豆　人參　白朮　茯苓　厚朴　白芍藥　陳皮　甘草</p>
<p>腹痛，去人參、白朮，加砂仁（木香、茴香）。</p>
<p>加炒米一撮，烏梅一個，燈心一分，水煎，溫服。</p>
<p>虛汗不止，加黃耆、酸棗仁。嘔吐不止，加炒山藥，去厚朴。噦不止，加蓮肉、竹茹。瀉不止，加山藥、肉果、訶子、豬苓、澤瀉，去厚朴。煩躁不止，加酸棗仁、神砂、竹茹、麥冬、炒黃連，去厚朴。渴不止，加炒黃連、麥冬、五味子、乾葛。汗多，去乾葛。飽悶，加砂仁，人參、白朮少用。小便短赤不通，加豬苓、木通、梔子。</p>
<p><u>生脈散加減</u></p>
<p>治伏暑，吐瀉脫元，昏倦，脈沉微。</p>
<p>人參　麥冬　五味子　茯苓　山藥　白朮　黃耆　扁豆　陳皮　甘草</p>
<p>加蓮肉、烏梅、炒米，水煎服。</p>
<p>人參白虎湯</p>
<p>治夏中暍，即中熱，大渴，舌燥生胎刺。</p>
<p>人參　石膏　知母　甘草　麥冬　梔子　白朮　茯苓　白芍　陳皮　香薷　扁豆</p>
<p>加蓮肉、烏梅、炒米，水煎，溫服。</p>
<p>熱極，小便遺尿不止，加炒黃柏。煩躁，加神砂、酸棗仁。若腹痛、嘔吐、噦瀉、飽悶，切不可用石膏。</p>
<p>中暑，脈浮而虛，忌微遲。</p>
<p>暑毒中人，其害非小。若中在腸胃之間，使人腹痛、水瀉、嘔吐，名為胃暑。或身熱、頭痛、煩亂不寧，如針刺肌肉，名為熱傷肉分。有咳嗽、發熱、惡寒，身出汗，脈數無力，名為熱在肺經。治法各不同也。</p>
<p>田氏考之曰：寒能傷形，暑能傷氣。寒傷形，雖久病，只損其形；暑傷氣，雖不久病，令人速死。所謂元氣不可一時之傷也。又有動而傷熱，靜而傷暑之分。且如勞役之人，氣血兩虛，肺氣全虧，故身熱、脈洪大，動而火勝，熱傷氣也。又如安逸之人，火勝金位，肺氣出表，故身寒、脈沉疾，靜而濕勝，身體重也。二者之病，不可不知。又有夏月身熱汗出，惡寒身重，脈沉，渴，乃中暍。後三者之病，東垣有一定之法。</p>
<p><u>黃連香薷飲</u></p>
<p>治胃暑腸胃之間。</p>
<p>黃連（半斤）　香薷（一斤）　白扁豆（半斤）　厚朴（六兩，不宜多用，恐損氣）　</p>
<p>每服五六錢，姜三片，水煎服。</p>
<p><u>人參白虎湯</u></p>
<p>治辛苦之人傷熱。</p>
<p>人參　石膏　知母（各等分）　甘草（五分）　粳米（一合）　</p>
<p>水煎服。</p>
<p><u>蒼朮白虎湯</u></p>
<p>治安樂之人傷暑。</p>
<p>蒼朮　石膏　知母（各等分）　甘草（五分）　粳米（一合）　</p>
<p>水煎服。</p>
<p><u>清暑益氣湯</u></p>
<p>治中暑、冒暑、中暍等症。</p>
<p>黃耆　蒼朮　升麻（各一錢）　人參　白朮　陳皮　陳曲（炒）　澤瀉（各五分）　麥冬　黃柏　青皮葛根（各三分）　甘草（炙，少許）　五味子（九粒）　</p>
<p>煎服。</p>
<p><u>清肺湯</u></p>
<p>治熱在肺經。</p>
<p>黃芩　石膏（各等分）　甘草　黃連　知母　防風　梔子　桔梗（各等分）　</p>
<p>水煎服。</p>
<p><u>白虎湯加減</u></p>
<p>治熱傷在內。</p>
<p>黃連　石膏　知母各等分　甘草五分　柴胡　人參　黃芩　半夏各等分</p>
<p>姜三片，水煎服。</p>
<p><u>二香散</u></p>
<p>治中暍用。</p>
<p>方見《丹溪心法》。</p>

<h2>中濕</h2>
<p>濕者，有內濕，有外濕。人之體虛，或感山嵐瘴氣，或雨濕蒸氣，遠行涉水，或久臥濕地，或汗濕衣鞋，而成濕症。頭目眩重，骨節煩疼．腳手痠軟、麻痹，足膝腫痛，筋脈拘攣，小腸疝氣偏墜，浮腫吊痛，此皆外濕也。內濕者，皆因生冷水食停滯，脾虛不能運化，停於三二焦，注於肌肉，滲於皮膚，而成內濕也。濕傷脾胃者，胸腹脹滿，四肢浮腫，難以屈伸，或嘔吐泄瀉，小便短澀，面目身黃；濕傷肺者，咳嗽喘急，身熱惡寒；濕傷腎者，腰腳腫痛，骨節痠疼；濕傷肝者，大筋軟短，小筋弛長，目昏脅痛。濕症之病，脈沉緩而濡。俱用滲濕湯加減。治濕不利小便，非其治也。</p>
<p><u>滲濕湯加減</u></p>
<p>治一切濕症。</p>
<p>蒼朮　白朮　茯苓　陳皮　豬苓　澤瀉　香附　撫芎　砂仁　厚朴　甘草</p>
<p>姜一片，燈心一分，水煎服。</p>
<p>濕症，脾虛發腫滿，氣急喘嗽，本方去白朮、甘草，加大腹皮、枳殼、木香、蘇子、桑白皮、蘿蔔子。面目浮腫，去撫芎、澤瀉，加炒山藥、芍藥，倍加蒼朮、白朮。燥能勝濕，濕得燥則豁然而收。瀉甚不止，加肉果、訶子、烏梅、乾薑。嘔噦，去厚朴、香附、撫芎，加炒山藥、烏梅、炒米，如不止，加煨乾姜。濕症，身體重痛，手足麻痹、痠軟、腫痛，或枯細痿弱，筋脈拘攣，本方去香附、撫芎、厚朴、豬苓、澤瀉，加當歸、生地、芍藥、木香、乳香、薄桂、牛膝、酒芩、羌活、防風。蓋風能勝濕。濕症，小腸疝氣偏墜，子腫重痛，治方在疝症條內。濕症發黃，治方在黃疸內。</p>
<p>中濕，脈虛濡，忌急疾。</p>
<p>夫治濕，須分南北、高下、內外之分。如西北之地最高，則人多食生冷濕面，或酒後濕氣怫鬱，不得發越，甚則臌脹腹滿，自內而出也，自上而下也。東南之地最卑，則民多因陰雨濕地，或腳腫腿重，濕氣客於下焦，不能發散，甚則痿厥之病有之，皆自外而入也，自下而上也。受病不同，治法則異。</p>
<p>田氏考之曰：內外受濕，皆是元氣不足，邪乘而聾。氣血和平，豈有此病？《內經》曰：六氣之中，濕熱為病十居八九。濕久不愈，鬱而為熱，熱傷血，不能養筋，筋不能束骨，而痿弱之病生焉。凡治濕，在上以微汗散之，在中下滲利小便為主。《活人書》云：「濕症不可汗傷。」此一句全謂在中下分之，但不可只此為例。</p>
<p><u>九味羌活湯</u></p>
<p>治上部濕，微汗而解。</p>
<p>羌活（酒洗）　防風　蒼朮（各一錢五分）　甘草　白芷　川芎　生地（各一錢）　黃芩（酒炒，一錢）　細辛（四分）　</p>
<p>姜三片，棗二枚，水煎服。</p>
<p><u>養榮除濕湯</u></p>
<p>治上中下，除濕養榮，用之有效。</p>
<p>陳皮　半夏　茯苓（各等分）　甘草（三分）　防風（四分）　當歸（五分）　蒼朮（五分）　黃柏　梔子　黃芩（炒，各等分）　羌活（五分）　薄桂（少許）　秦艽（七分）　</p>
<p>姜三片，水煎服。</p>
<p><u>茯苓滲濕湯加減</u></p>
<p>治中下濕，滲利即解。</p>
<p>陳皮　茯苓（各七分）　甘草（三分）　豬苓　澤瀉　蒼朮　黃柏（各八分）　滑石　梔子　防己　當歸尾（各六分）　木通　白朮（各六分）　</p>
<p>水煎服。</p>

<h2>火熱</h2>
<p>火者，有君火、相火。君火者，心火也。心為君主之官，配於五行，守位而不動。相火者，輔助之火也，生於虛無，寄於肝腎之間，聽命而行。凡動皆是相火。五臟俱有火，相火易起，五火相扇動矣。相火乃元氣之賊，無時而不煎熬真陰，陰虛則病，陰絕則死，陰虛火動者難治。凡人發熱、咳嗽、吐痰血者，午後至夜發熱，面頰唇紅，小便赤色，脈數無力者，便是陰虛火動也。治用四物湯加炒黃柏、知母，是補陰降火之妙藥，即滋陰降火湯也。有實火，有虛火。虛火者可補，用滋陰降火加人參、白朮。虛火急甚重者，切不可驟用涼藥治，須用參、耆、歸、術溫散，再加白茯苓、陳皮，緩之生甘草也。凡氣有餘便是火，氣從左邊起者，肝火也；氣從臍下起者，陰火也；熱從腳下起者，虛之極也，是火起於九泉，十無救一，與陰虛火動者治同。此皆論虛火之治也。凡人氣實火盛，發熱、脈數大有力者，是實火也。實火可降，正與柴胡、芩、連、梔子等藥，雖生冷，與之無害也。黃連瀉心火，黃芩瀉肺火，芍藥瀉脾火，石膏瀉胃火，知母瀉腎火，柴胡瀉肝火，黃柏瀉膀胱火，木通瀉小腸火，梔子降火極速，從小便泄去，其性能曲屈下行，此皆治實火之用也。凡人自覺身熱，他人以手按之不熱，此虛熱也，倍用參、歸、地黃補陰，則火自降。人用輕手按於皮膚，熱如火燎，重手按之不熱者，此熱在肌表也，用地骨皮、柴胡之類清之。凡人飲酒發熱，難治。不飲酒人因飲酒發熱，亦難治。用黃連、乾葛、烏梅以解之，而去酒毒也。</p>
<p><u>滋陰降火湯</u></p>
<p>治胃經陰虛火動。</p>
<p>白芍　當歸　南芎　生地　知母　黃柏　地骨皮　枸杞　麥冬　柴胡</p>
<p>水煎，食後服。</p>
<p><u>黃連湯加減</u></p>
<p>治心火，舌上生瘡，或舌上燥烈，或舌腫硬，或舌尖出血。</p>
<p>黃連　生地　梔子　麥冬　當歸　薄荷　白芍藥　犀角　甘草</p>
<p>隨症加減，食後服。</p>
<p><u>黃芩湯</u></p>
<p>治肺火，咳嗽，吐血痰，鼻紅，或咽喉腫痛、乾燥、生瘡，或鼻孔乾燥、生瘡，或鼻紅、腫痛。</p>
<p>黃芩　梔子　桔梗　白芍　麥冬　荊芥　桑白皮　甘草　薄荷　連翹</p>
<p>隨症加減，食後服。</p>
<p><u>柴胡飲</u></p>
<p>治肝火盛，木氣實，或在脅下痛，或氣從左邊起者，或目珠紅腫作痛者，皆肝火也。</p>
<p>柴胡　白芍　川芎　當歸　青皮　梔子　龍膽草　連翹　甘草</p>
<p>隨症加減，食後服。</p>
<p><u>芍藥湯</u></p>
<p>治脾火，或消穀易飢，或胃熱口燥煩渴，或舌唇生瘡。</p>
<p>芍藥　梔子　黃連　連翹　石膏　薄荷　甘草</p>
<p>隨症加減，食後服。</p>
<p><u>三黃解毒湯</u></p>
<p>治三焦實火，內外皆熱，口燥煩渴，小便赤，口生瘡。</p>
<p>黃連　黃芩　黃柏　梔子　連翹　柴胡　芍藥</p>
<p>食後服。</p>
<p><u>涼膈散</u></p>
<p>治三焦實火，煩渴，小便赤，大便結，口生瘡。</p>
<p>連翹　山梔　黃芩　桔梗　黃連　薄荷　甘草　當歸　生地　枳殼　芍藥</p>
<p>棗二枚，水煎，食遠服，以利為度。</p>
<p>火熱，脈數而無力，虛火；有力，實火；沉數，鬱火。（看何經受）　</p>
<p>人生天地全賴五行。一水五火，自然之理也。善攝生者，莫過寡欲為先，集精為本，水升火降，然後十二官不得相失，火病何由而生也？今水既虧，則災害至矣。二火為病，以名而言，形氣相生，配於五行，命曰君火；以位而言，生於虛無，守位稟命，因動而見，謂之相火。能致陰虛為病，甚則陰絕則死也。明矣！</p>
<p>田氏考之曰：火病最多，非此二火。《經》曰：氣不足為氣，氣有餘便是火。丹溪曰：氣從左邊起者，肝火也；氣從臍下起者，陰火也；氣從腳下起，入小腹者，乃虛之極也，蓋所謂火起九泉。又有實火、鬱火、無根之火。何以治之？如肝火非柴胡不能平，陰火非黃柏、地黃不能補，火起九泉非四物、知母、黃柏不能降，實火非芩、連、大黃不能瀉，鬱火非羌活不能散，無根之火非玄參、升麻不能除。此治火之大略也，臨症之時再當裁之。</p>
<p>加味三黃解毒湯</p>
<p>治實火。</p>
<p>照前方加玄參、石膏。</p>
<p><u>滋陰降火湯</u></p>
<p>治虛火及火起九泉皆治之。</p>
<p>白芍　當歸　南芎　生地　知母　黃柏　地骨皮　枸杞　麥冬　柴胡</p>
<p>水煎服。</p>
<p><u>升陽散火湯</u></p>
<p>治鬱火，四肢、五心煩熱，因熱鬱遏，陽氣下陷，或血虛。得之平日多食冷物，皆生此病。</p>
<p>方見《丹溪纂要》。</p>
<p><u>加減平肝散</u></p>
<p>治肝火。</p>
<p>陳皮　半夏　茯苓　甘草　黃連　當歸　川芎　白芍　香附　青皮　蒼朮　枳殼</p>
<p>姜三片，水煎服。</p>
<p><u>玄參升麻湯</u></p>
<p>治無根之火，即熱急，頭面、體腹有斑者是也。</p>
<p>石膏　知母　玄參　川芎　升麻　黃連　甘草　葛根　梔子</p>
<p>水煎服。</p>

<h2>疰夏</h2>
<p>疰夏者，屬陰虛，乃夏月熱傷，元氣不足，以致頭眩目昏，腿痠腳軟，身體微熱，五心煩熱，口苦舌乾，精神困倦，無力好睡，飲食減少，胸膈不舒，形如虛怯，脈數大無力，是疰夏症也。用參歸益元湯加減，兼服補陰丸調理。</p>
<p><u>參歸益元湯加減</u></p>
<p>治疰夏病，與滋陰降火藥同。</p>
<p>人參　當歸　熟地　白芍　茯苓　麥冬　五味子　陳皮　黃柏　知母　甘草</p>
<p>飽悶，加砂仁、白豆蔻。煩躁，加陳砂、酸棗仁、竹茹。噁心，加烏梅、蓮肉、炒米。瀉，加炒白朮、炒山藥、砂仁、烏梅，去熟地、黃柏、知母。小便短赤，加木通、梔子。腰痛，加杜仲、茴香、破故紙。腿痠腳軟，加牛膝、杜仲。虛汗，加白朮、黃耆、酸棗仁。皮骨焦熱，加地骨皮。頭目眩暈，加川芎。夢遺，加牡蠣、椿根皮、神砂。噦，加竹茹。虛驚煩躁，加神砂、酸棗仁、竹茹。口苦舌乾，加梔子、烏梅、乾葛。</p>
<p>棗二枚，烏梅一個，炒米一撮，水煎，不拘時服。</p>
<p>疰夏，脈虛或數而無力。</p>
<p>腎水得藏，至春無病。今水氣大虧，春乃萬物發生，相火用事，其病漸覺生矣。至夏，君火用事，二火相搏，疰夏之病大作，令人腳弱食少，頭痛發熱。立秋之時，金方用事，腎水漸長，稍覺精神。來年又如此也。乃陰虛，元氣不足之故耳。當以補中益氣，滋陰救水之劑療之。病人再寡嗜欲、薄滋味，使腎氣得勝，下年再無復作之理也。</p>
<p>田氏考之曰：疰夏為病，前論甚明。《金匱鉤玄》曰：「夏末秋初得之為疰夏。」似乎未通。《纂要》：「春末夏初得之。」或者理明。今不拘二者之論，只宗六氣受病為主，五行生剋為原，全倚脈症為法。予本後學，豈敢變前賢之定規？因二論不同，所以立此一說也。</p>
<p><u>加減補中益氣湯</u></p>
<p>黃耆（一錢）　白朮（五分）　當歸（五分）　白芍（五分）　陳皮（五分）　甘草（炙，五分）　黃柏（炒，五分）　麥冬（一錢）　五味子（七粒）　人參（五分）　</p>
<p>水煎服。</p>
<p>八珍湯加減</p>
<p>芍藥（炒，五分）　當歸（酒洗，五分）　南芎（五分）　熟地（酒洗，五分）　白朮（八分）　茯苓（八分）　麥冬（八分）　五味子（三分）　甘草（炙，三分）　黃柏（七分）　</p>
<p>水煎服。</p>
<p><u>平補和中丸</u></p>
<p>治四肢無力，面色多黃，頭目不清，少食多倦，立秋漸覺精壯，此藥服之甚效。</p>
<p>當歸（五錢）　白芍（四錢）　南芎（二錢）　白朮（一兩）　陳皮（五錢）　茯苓（三錢）　甘草（二錢）　人參（五錢）　柴胡（三錢）　黃柏（炒，三錢）　</p>
<p>粳米粉打糊為丸，如桐子大。每服五十丸，白湯下。</p>

<h2>內傷</h2>
<p>內傷為病，脈氣口緊盛。</p>
<p>內傷為病，不足、有餘二者兼之，不可不明辯焉。外症寒熱間作而不齊，雖惡寒，但得溫暖而即解，口內不知穀味，腹中不得和通，言語懶怯，先重後輕，手心熱、手背不熱。東垣云：「辯法再無他惑。」蓋所謂聖醫也。</p>
<p>田氏考之曰：內傷不足、有餘，何以分之？如起居不常，房勞感傷，氣口脈雖緊無力，此為不足之症，法當參、耆之類補之。飲食過多，氣不勝食，脈緊有力，此為有餘之病，法當枳實之類消之。又如外感之症，左手是標，右手是本，先無形而後有形也；內傷之症，右手是標，左手是本，先有形而後無形也。丹溪曰：若內傷兼外感，當用補中益氣湯加減，隨經治之。有外感重而內傷輕者，先用發散，而後補養；有內傷重而外感輕者，先用補養，而後發散。全倚脈症辯之，庶為無差也。</p>
<p><u>補中益氣湯</u></p>
<p>治內外傷相兼，隨症加減發散之藥，不足者補之。</p>
<p>方見《丹溪纂要》。</p>
<p>有各經加減法：如太陽頭項痛、腰脊強，加羌活、藁本、桂枝；陽明目痛、鼻乾，加葛根、白芷、升麻；少陽胸脅痛、耳聾，加黃芩、半夏、川芎、柴胡；太陰腹滿、咽乾，加枳實、厚朴；少陰舌乾、口燥、渴不已，加甘草、桔梗、知母；厥陰煩滿、囊縮，加川芎。變症發斑，加葛根、玄參、石膏、升麻。遇症須詳細斟酌，對病而施，無不神效。</p>
<p><u>枳朮和中湯</u></p>
<p>有餘者消之。</p>
<p>陳皮（五分）　白朮（八分）　甘草（二分）　山楂（三分）　枳實（五分）　黃連（五分）　神麯（五分）　厚朴（六分）　半夏（五分）　茯苓（四分）　</p>
<p>姜三片，水煎服。</p>

<h2>傷食</h2>
<p>傷食者，是因多餐飲食，脾虛運化不及，停於胸腹。飽滿噁心，惡食不食，作噯作酸，下泄臭屁，或腹痛吐瀉，重則發熱頭疼，左手關脈平和，右手關脈緊盛，皆是傷食也。初起一吐即寬，若郁久不化，成食積也。《脾胃論》云：「飲食自倍，腸胃乃傷。」應用香砂平胃散加減治之。</p>
<p><u>香砂平胃散加減</u></p>
<p>治傷食。</p>
<p>香附　砂仁　蒼朮　厚朴　陳皮　甘草　枳殼　木香　藿香</p>
<p>食肉不化，加山楂、草果。米粉面食不化，加陳曲、麥芽。生冷瓜果不化，加乾薑、枳實、青皮，去枳殼。酒傷者，加黃連、乾葛、烏梅。吐瀉不止，加茯苓、白朮、半夏、烏梅，去枳殼。</p>
<p>姜一片，水煎，不拘時服。</p>
<p><u>枳實大黃湯</u></p>
<p>治胸腹積食，成塊作痛，大便不通者。</p>
<p>枳實　厚朴　大黃　檳榔　甘草</p>
<p>痛甚，加木香。</p>
<p>水煎，空心熱服，以利為度。既止，不可再服。</p>
<p>傷飲食，脈氣口緊盛。</p>
<p>《保命集》曰：人稟天地，得五穀之精，化五味之備，故生形也。《經》曰：「味歸形。」人若傷其味，則形損也。飲食太過，腸胃不能勝，氣不及化物，故傷焉。《經》曰：「壯火食氣，氣食少火。壯火散氣，少火生氣。」又《經》曰：「飲食自倍，腸胃乃傷。」或因房勞太過，或失四時調養，令人滿悶、噁心、噯氣，聞五味就嘔吐，見面食則噁心，謂之傷食，則惡食也。日積月壘，傳化失常，臌脹水腫豈能免哉？法當健脾伐木。《難經》曰：「不治已病而治未病。」正謂此也。</p>
<p>田氏考之曰：四時草木全賴土為主。所謂真土神而無形，偽土職而有象。今土既虧，在五穀不得收成，在四時寒熱相反，在人精血不生，民必瘼疾，豈得逃也？凡人節飲食，受納之司不失；寡嗜欲，作強之官大盛。若如此，源焉有是病？</p>
<p><u>加減平胃散</u></p>
<p>治飲食致傷脾胃。</p>
<p>蒼朮　厚朴　陳皮　半夏　白朮　黃連　枳實　神麯　甘草　山楂　砂仁</p>
<p>姜一片，水煎服。</p>
<p><u>保和湯</u></p>
<p>治內傷飲食，胸膈痞滿。此藥寬中和胃，進食化痰。</p>
<p>陳皮　半夏　茯苓　甘草　連翹　神麯　山楂肉　青皮　白朮</p>
<p>有熱，加黃連。</p>
<p>姜一片，水煎服。</p>
<p><u>保和丸</u></p>
<p>治宿食不能克化。</p>
<p>山楂（二兩）　陳皮（五錢）　連翹（五錢）　陳曲（一兩）　半夏（一兩）　蘿蔔子（六錢，微炒，去皮）　茯苓（一兩）　</p>
<p>共為末，水法為丸，如桐子大。每服五六十丸，白滾水送下。</p>
<p><u>橘皮枳朮丸</u></p>
<p>治痞，消食養胃。</p>
<p>黃連（七錢）　橘皮（一兩）　半夏（六錢）　枳實（五錢）　白朮（一兩五錢）　神麯（五錢）　甘草（二錢）　</p>
<p>共為細末，荷葉煮飯為丸，如桐子大。每服七十丸，薑湯下。</p>

<h2>脾胃</h2>
<p>脾胃者，人以脾胃為主。脾乃運化水穀，胃乃受盛水穀。大抵精氣、血氣皆生於穀氣，榮於五臟六腑。右關脈緩，是本脈也。諸脈帶緩，便是脾胃有力，非止於關脈也。脈中有力，即為有神，有神即有胃氣，正是有胃氣曰生，無胃氣曰死。胃喜香燥而惡濕，切忌腥穢生冷，須用溫和調養，不生諸病。若是內傷飲食勞倦，飢飽失時，或六淫、七情傷之，致令脾胃不和，不思飲食，則口不知味，胸腹飽悶不舒，用香砂養衛湯加減。若餐飲食，胃口停寒食不消化者，用香砂平胃散加減。若吐瀉不止，脾胃虛弱，不進飲食者，用參苓白朮散加減。若脾胃虛寒，嘔噦或吐瀉者，用理中湯加減。胃口作痛者，用木香調中湯加減。脾虛中滿、腫脹，用分消湯加減。脾虛不思飲食，食後倒飽者，用香砂六君子湯加減。若勞役之人，明知飢餓、勞力傷於脾胃，發熱困倦者，用補中益氣湯加減。正謂勞者溫之，損者補之，溫能除大熱也。《內經》云：「形不足，溫之以氣；精不足，補之以味。」東垣《內外傷辯惑論》云：內傷不足者，飲食勞倦是也，溫之，補之，調之，養之，皆是補也。外感有餘者，風寒暑濕是也，瀉之，汗之，吐之，利之，皆為瀉也。若內傷不足之症，苟誤認外感有餘之症，而反瀉之，是實實虛虛，損不足而益有餘，醫殺之耳。東垣《脾胃論》云：脾胃俱實，能食而肥，過食不飢，多食不傷。脾胃俱虛，不食而瘦，與食則減食，不與則不思，飢飽不知也。或少而肥者，雖肥而四肢不舉，蓋脾因邪氣勝也。有能食而瘦者，胃伏火邪於氣分，則能食雖多，而不生肌肉。脾主思而有信，思則脾氣健醒，而思食有味。若脾氣倦弱，則不思飲食，雖強食而不知味矣。故《經》云：「胃為水穀之海。」水入於經，其血乃成；谷入於胃，脈道乃通。血不可不養，衛不可不溫。血溫衛和，得盡天年矣。又云：「安穀則昌，絕谷則亡。」水去榮散，谷消衛亡，神無所依，天年盡矣。</p>
<p><u>香砂養衛湯加減</u></p>
<p>治脾胃不和，不思飲食，口不知味，痞悶不舒。</p>
<p>香附　砂仁　蒼朮　厚朴　甘草　陳皮　人參　白朮　茯苓　木香　白豆蔻</p>
<p>姜一片，棗二枚，水煎，不拘時服。</p>
<p><u>香砂平胃散加減</u></p>
<p>治胃寒多餐，飲食不消，胸腹飽悶。</p>
<p>香附　砂仁　蒼朮　厚朴　甘草　陳皮</p>
<p>水煎，不拘時服。</p>
<p>脾胃寒，加乾薑、官桂。肉食不化，加山楂、草果。米粉面食不化，加神麯、麥芽。生冷瓜果不化，加檳榔、乾薑。胸腹飽悶，加枳殼、蘿蔔子、大腹。傷食作瀉，加乾薑、白朮、烏梅。傷食，胃口作痛，加木香、枳實、益智仁。傷食，噁心嘔吐，加藿香、丁香、半夏、烏梅、乾薑。</p>
<p><u>理中湯加減</u></p>
<p>治脾胃虛寒，嘔噦，或吐或瀉。</p>
<p>人參　白朮　乾薑　甘草　茯苓　陳皮　半夏　厚朴　砂仁　官桂　藿香</p>
<p>寒極，手足冷，脈沉細，加附子。</p>
<p>姜三片，水煎，不拘時服。</p>
<p>胃寒，嘔吐、噁心不止，加丁香、山藥、烏梅、炒米。脾胃虛寒，發呃，加丁香、茴香、木香、良薑，去官桂。脾胃虛寒，瀉不止，加炒山藥、肉果、蒼朮、訶子、烏梅。脾胃虛寒作痛，加丁香、茴香、益智，去官桂、半夏、人參、茯苓。</p>
<p>木香調中湯加減</p>
<p><u>治胃痛。</u></p>
<p>木香　砂仁　厚朴　陳皮　香附　甘草　玄胡　益智仁　茴香　枳殼　草豆蔻</p>
<p>痛不止，加乳香、沉香。</p>
<p>姜一片，水煎服。</p>
<p>初起胃寒痛，加乾薑、官桂。久郁胃脘痛，加炒梔子、山藥、煨乾姜少許從治。胃脘久痛，大便結燥不通，去益智、香附、草豆蔻，加大黃下之，此痛隨即減也。若平日喜食熱物，便是熱傷，死血在胃口作痛，加當歸、桃仁、紅花、川芎、芍藥、丹皮，去益智、草豆蔻。</p>
<p><u>參苓白朮散加減</u></p>
<p>治吐瀉不止，脾胃倦弱，不進飲食。</p>
<p>人參　白朮　茯苓　山藥　半夏　陳皮　甘草　砂仁　厚朴　藿香　蓮肉　烏梅　炒米</p>
<p>夏月加扁豆。</p>
<p>姜一片，棗二枚，水煎，不拘時服。</p>
<p>胃寒，嘔吐不止，加丁香、乾薑。胃寒，瀉不止，加乾薑、官桂、肉果、訶子，去半夏、厚朴。胃熱，煩熱、嘔噦、噁心不止，加炒黃連、梔子、竹茹、烏梅。脾胃熱，瀉不止，加炒蒼朮、炒芍藥、梔子、訶子、烏梅，去厚朴、半夏。脾胃飽悶，加木香磨用、白豆蔻、益智，去山藥、烏梅、炒米。</p>
<p><u>中滿分消湯加減</u></p>
<p>治脾虛發腫，飽悶成中滿。</p>
<p>蒼朮　厚朴　陳皮　枳殼　砂仁　木香　茯苓　白朮　香附　豬苓　澤瀉　大腹皮</p>
<p>若胸腹脹滿，加蘿蔔子、木通，去澤瀉。胸腹飽悶，加蘇子、桑白皮，去白朮、茯苓。小便短赤，加梔子、滑石、車前子、木通，去澤瀉、白朮。瀉，加炒山藥、車前子、炒蒼朮、白朮、芍藥，去枳殼。脅下若痛，加青皮。惡寒，手足冷，加官桂少許。大便燥結，加當歸、火麻仁。</p>
<p>姜一片，蘿蔔子、燈心各一撮，水煎服。</p>
<p><u>香砂六君子湯加減</u></p>
<p>治脾虛，不思飲食，食後倒飽。</p>
<p>香附　砂仁　人參　白朮　茯苓　半夏　陳皮　厚朴　木香　白豆蔻　益智仁</p>
<p>胃口虛寒，嘔吐不止，去木香、益智仁，加丁香、藿香，即藿香安胃散。</p>
<p>薑、棗煎服。</p>
<p><u>木香枳朮丸</u></p>
<p>治脾胃症，胸腹飽悶不舒。</p>
<p>木香　枳實　白朮　白豆蔻　砂仁　厚朴　香附　橘紅　甘草</p>
<p>共為末，糯米粉、荷葉煎湯打糊為丸，如桐子大。每服五十丸，清米湯下，寒月淡薑湯下。</p>
<p>脾虛，食後倒飽，本方有白豆蔻，即豆蔻枳朮丸。脾虛，飲食不化，飽悶，胃口作痛，加神麯、山楂、麥芽，即曲糵枳朮丸。脾虛，飲食不化，胸腹滿脹，本方有香附、砂仁，即香砂枳朮丸。胸中痰氣阻塞滿悶，本方加瓜蔞、蘇子、半夏，姜水打糊，糯米粉糊為丸，淡薑湯下，即橘半枳朮丸。</p>
<p><u>補中益氣湯加減</u></p>
<p>治內傷脾胃，勞倦發熱。</p>
<p>人參　黃耆　白朮　當歸　陳皮　升麻　柴胡　甘草</p>
<p>胸腹脹滿，加砂仁、枳實、木香，去黃耆、升麻。</p>
<p>姜一片，棗二枚，烏梅一個，水煎，溫服。</p>

<h2>痰飲</h2>
<p>痰者，人身之痰貴乎順行，隨氣升降，無處不到。設若氣逆，阻其道路，為喘，為咳，為嘔噦，為眩暈，為驚悸，為健忘，為不語，為狂言，為癲呆，為厥逆，為怔忡，為嘈雜，為串痛，為糜，為流注，為腫塊，為痰核，為痰氣，為痰結，為痰燥，為痰話，為痰悶，為痰火，為寒，為熱，皆是痰之為患。各有治法。諸病以化痰為先。善治痰者兼治氣，氣順則痰自利。痰脈浮滑者宜降，浮實者宜吐，沉小者不宜吐，恐虛故也。凡治痰症，不可全用利藥，過多使脾胃虛弱，則痰反易生而多。若脾虛生痰者，用健脾燥濕，俱要利補兼用，陳皮、白朮為佐也。痰乃穢濁之物，宜吐不宜留，留則反生別病矣。</p>
<p>治痰要藥：</p>
<p>黃芩治熱痰，黃連、梔子降火痰，蒼朮、白朮治濕痰，半夏治寒痰，南星治風痰，貝母治稠痰，海石粉、連翹治老痰，瓜蔞仁治結痰，蘇子、砂仁降氣痰，枳實降痰能沖牆壁。痰在脅下，非白芥子不能達；痰在四肢，非竹瀝不能到；痰在皮膚膜外，非竹瀝不能除；痰在胸膈間，非竹瀝不能化。氣虛之人有痰，非竹瀝不能開；血虛之人有痰，非竹瀝不能補。竹瀝治陰虛，降火，痰家聖藥。胎前損子，產後無礙。竹瀝性溫，實非寒也。世俗不知竹瀝甚妙，恐其性寒而不用，誤之甚矣！若大便不實，或瀉者，或手足冷者，或嘔吐寒痰，或脈息沉細者，或脘腹腫痛者，俱不可用竹瀝。其餘痰症皆當用之，不必慮也。凡用竹瀝，加薑汁少許，竹瀝非薑汁不能行經絡也。</p>
<p><u>二陳湯加減</u></p>
<p>茯苓　陳皮　半夏　甘草</p>
<p>姜三片，水煎，不拘時服。</p>
<p>咳嗽有白痰，乃肺感風寒。風寒者，遇風冷即發，痰多咳嗽是也。寒痰加乾薑、官桂。風痰加南星、防風、枳實、桔梗。食積痰者，多餐飲食，郁久成痰，小兒多有此症，加山楂、神麯、砂仁、香附。嗽吐綠痰者，脾胃有濕也，加蒼朮、白朮、山藥、砂仁。痰氣者，胸膈有痰，氣脹滿也。痰在咽喉間，如綿絮，如梅核，咯不出，咽不下，或升或降，塞礙不通，亦痰氣也。後成膈噎病。加砂仁、香附、瓜蔞、枳實、蘇子、當歸、桔梗、貝母，去半夏。痰飲者，痰在胸脅間，痛而有聲也。痰飲與死血皆窠囊，加蒼朮、瓜蔞、枳實、木香、砂仁、當歸、香附、川芎、青皮、白芥子，治痰飲極效。痰涎症者，凡人身胸背脅痛不可忍，或牽引釣痛，手足冷痹者，是痰涎在胸膈也。加白芥子、砂仁、木香、枳實、當歸、茴香、蒼朮、酒炒黃芩、香附。濕痰流注症者，凡人骨體串痛，或作寒熱，發腫塊，皆是濕痰流注經絡也。加瓜蔞、枳實、蒼朮、酒炒黃芩、羌活、防風、連翹、當歸、香附、砂仁、木香、紅花、竹瀝、薑汁少許。有熱加柴胡，上痛加川芎、白芷，下痛加黃柏、牛膝，塊痛加乳香，若項頸痛加威靈仙。痛塊腫，外用皮硝、五倍子、大黃、南星為細末，醋調，敷腫塊上，漸漸自消。不散則成膿矣。痰核症者，人身上下結核不散者，是痰核也。或發腫塊者，是痰塊也。與濕痰流注同治法。大凡治痰塊、流注、痰核，俱加皂角刺，引藥至痰處。濕痰加蒼朮、白朮、砂仁、香附、枳實、桔梗。熱痰加黃芩、梔子、貝母、枳實、桔梗、麥冬、竹瀝，去半夏。痰火加炒黃連、砂仁、乾葛、烏梅、桔梗、貝母，去半夏。脾虛生痰加白朮、人參、白芍、枳實、桔梗、砂仁。痰喘氣急加蘇子、桑白皮、瓜蔞仁、枳實、砂仁、木香、貝母、竹瀝、薑汁，去半夏。痰氣串痛加砂仁、木香、茴香、瓜蔞仁、白芥子、枳實、羌活、茯苓、蒼朮、當歸、川芎、竹瀝、薑汁，去半夏。痰症，發熱咳嗽生痰者，加柴、芩、麥冬、五味子、知母、貝母、杏仁、桑白皮、當歸、桔梗、竹瀝，去半夏。項背、骨節痛，皆是痰氣與風濕也。老痰加枳實、瓜蔞、海石粉、連翹、黃芩、桔梗、竹瀝，去半夏。咳嗽咯吐黃痰者，肺胃有熱也。久不愈成肺痿。口吐癰膿或痰血作腥臭者，難治也。加瓜蔞、枳實、桔梗、黃芩、梔子、貝母、天冬、桑白皮、杏仁、蘇子、竹瀝，去半夏。飲酒嘔噦吐痰，加砂仁、烏梅。咯吐黑痰或成塊者，因勞傷心腎故也。此是久郁老痰，與老痰同治。滋陰降火湯，方載「虛怯症」條，內治痰火症。發熱咳嗽吐紅痰者，即血痰也。痰中帶血者，難治。痰火者，即熱痰也。痰因火動逆上，清痰降火為先。久病陰火上升，津液生痰、不生血，宜補血治相火，其痰自除。咽喉腫痛，喉舌下拖，喉痛乾燥或生瘡，咽喉紅腫，亦痰火也。俱用滋陰降火湯加減治之。竹瀝不可缺也。</p>
<p><u>瓜蔞枳實湯加減</u></p>
<p>治痰結，咯吐不出，胸脅作痛，不能轉側，或痰結胸膈，滿悶痛作，寒熱氣急，並痰迷心竅，不能言語，並皆治之。</p>
<p>瓜蔞仁　枳實　桔梗　茯苓　貝母　陳皮　甘草　片芩　山楂　梔子　當歸　砂仁　木香　竹瀝</p>
<p>痰迷心竅，不能言語，加菖蒲，去木香。氣喘急，加蘇子、桑白皮。</p>
<p>姜一片，水煎服。</p>
<p>外用姜椇揉痛處。</p>
<p>痰結症，痰在胸脅不化，元氣虛弱，津液乾燥，咯難得出，發喘嗽急，身熱痛、難轉側者，是痰結也。脅下有痰，作寒熱、咳嗽、氣急，作痛者，亦痰結也。服藥後，咯吐痰出為效。若咯痰不出，氣鬱發喘不睡，喉下漉漉有聲，喘急，痰咯不出者，難治也。</p>
<p><u>溫膽湯加減</u></p>
<p>治痰燥，痰話，驚惕失神，並神不守舍。</p>
<p>茯苓　半夏　陳皮　枳實　當歸　竹茹　酸棗仁　人參　白朮　神砂　麥冬　梔子　甘草　炒黃連竹瀝</p>
<p>姜一片，棗二枚，烏梅一個，水煎，調神砂服。</p>
<p>痰燥者，痰火作熱，煩躁也。痰話者，痰火作熱，驚惕不安，錯語失神也。痰迷心竅，神不守舍，因憂慮鬱結，驚恐傷心，心不自安，神出舍空，則生痰矣，使人癲狂煩亂、悲歌叫罵、奔走不識人者，俱用溫膽湯加減治之。</p>
<p><u>黃芩湯加減</u></p>
<p>治上部痰火。</p>
<p>黃芩　貝母　梔子　天冬　麥冬　茯苓　陳皮　甘草　當歸　杏仁　桔梗　桑白皮</p>
<p>氣急，加蘇子。</p>
<p>姜一片，棗二枚，水煎，入竹瀝服。</p>

<h2>六郁</h2>
<p>六郁者，鬱結而不散也。人之氣血沖和，百病不生。若有鬱結，諸病生焉。氣鬱者，腹脅脹滿，刺痛不舒，脈沉者，用木香順氣散加減。血鬱者，能食便紅，或暴吐紫血，痛不移處，脈澀數者，用當歸活血湯加減。食鬱，噯氣作酸，胸腹飽悶作痛，惡食，不思飲食，右關脈緊盛者，用香砂平胃散加減。痰鬱者，動則喘滿氣急，痰咳不出，胸膈結痛，脈沉滑者，用瓜蔞枳桔湯加減。熱鬱即火鬱也，小便赤色，五心煩熱，口苦舌乾，脈數者，用火鬱湯加減。濕鬱者，周身骨節走注疼痛，遇陰雨即發，脈沉細而濡，用滲濕湯加減。</p>
<p><u>木香順氣散加減</u></p>
<p>治氣鬱。</p>
<p>木香　烏藥　香附　枳殼　青皮　砂仁　厚朴　陳皮　官桂　甘草　撫芎　蒼朮</p>
<p>姜三片，水煎，磨木香調服。</p>
<p><u>當歸活血湯加減</u></p>
<p>治血鬱。</p>
<p>當歸　芍藥　撫芎　桃仁　紅花　丹皮　官桂　乾薑　香附　烏藥　枳殼　青皮　甘草</p>
<p>血結硬痛，加大黃。</p>
<p>姜一片，水煎，不拘時服。</p>
<p><u>香砂平胃散加減</u></p>
<p>治食鬱。</p>
<p>厚朴　枳實　陳皮　甘草　蒼朮　香附　砂仁　山楂　神麯　麥芽　乾薑　木香</p>
<p>食鬱久，成塊作痛，去乾薑，加大黃一分。</p>
<p>姜三片，蘿蔔子一撮，水煎；磨木香調服。</p>
<p><u>瓜蔞枳桔湯加減</u></p>
<p>治痰鬱。</p>
<p>瓜蔞仁　枳實　桔梗　撫芎　蒼朮　香附　杏仁　砂仁　片芩　木香　陳皮　甘草　貝母　竹瀝</p>
<p>姜一片，水煎，磨木香，同竹瀝衝入藥內調服。</p>
<p><u>火鬱湯加減</u></p>
<p>治熱鬱。</p>
<p>梔子　柴胡　乾葛　白芍　地骨皮　連翹　甘草</p>
<p>水煎，不拘時服。</p>
<p><u>滲濕湯</u></p>
<p>治濕鬱。</p>
<p>方見濕症條內。</p>
<p>六郁：氣鬱，脈沉澀；血鬱，脈沉；痰鬱，寸口沉滑；濕鬱，脈沉細；熱鬱，脈沉數；食鬱，氣口緊盛。</p>
<p>論曰：氣血沖和，百病不生。一有怫鬱，諸病生焉。郁者，結聚不散之故，當升不升，當降不降，升降不得，變化失常，六郁病見矣。胸脅痛者，氣鬱也；周身走痛，陰寒則發，濕鬱也；動則喘急，咳嗽吐痰，痰鬱也；四肢發熱，小便赤黃，火鬱也；肢體無力，雖食便血，血鬱也；噯氣吞酸，腹飽懶食，食鬱也。人之性命非此不能為害。</p>
<p>田氏考之曰：郁之為病，非一端也，諸病皆起於鬱結，治法不可拘此六者。且如傷寒而風寒藏於皮毛，令人發熱、惡寒；傷暑而風熱中在肉分，使人身如刺痛，皆是鬱結之病。看在何經，隨症治之。《內經·六元正紀大論》曰：又有五氣之郁，治法不同。木鬱吐之，火鬱汗之，土鬱下之，金鬱解表、利小便，水鬱折之，以治其沖逆。治郁之法不過此也。立方於後。</p>
<p><u>開鬱和中湯</u></p>
<p>治六郁。</p>
<p>陳皮　半夏　茯苓（各等分）　甘草（少許）　前胡　梔子（炒）　香附（童便浸）　川芎　枳殼　白朮　黃芩　神麯　黃連（各等分）　</p>
<p>姜三片，水煎服。</p>
<p><u>越鞠丸</u></p>
<p>古方治鬱結用。</p>
<p>香附　蒼朮　神麯　川芎　梔子仁（各等分）　</p>
<p>水泛為丸，如綠豆大。每服七十丸，白湯下。</p>
<p><u>火鬱湯</u></p>
<p>方見前。</p>

<h2>咳嗽</h2>
<p>咳嗽，傷風也。因肺感風寒，新嗽，鼻塞聲重，脈浮緊者，是傷風嗽也。先服芎蘇飲，後服清肺散加減。初感冒風寒，咳嗽而聲啞者，是寒包熱也，與久嗽聲啞者不同。火嗽者，有聲痰少，面赤身熱，脈數者，乃火嗽也。干嗽無痰者，是肺郁。火邪在肺難治。冷風嗽者，遇風冷即發，痰多喘嗽是也，用三物湯加減。勞嗽者，盜汗出，痰多，作寒熱，脈數大無力者，是勞嗽也。大抵火嗽、勞嗽、干嗽三症，皆是勞力、酒色內傷，或憂思鬱結，陰勞火動而嗽，俱用滋陰降火湯加減。久嗽不止成勞怯。若久嗽聲啞，或咽痛生瘡者，是火傷肺金也，俱是難治之症。年老之人氣血衰敗，聲啞失音者，亦難治，用清肺湯加減治之。痰嗽者，嗽動便有痰聲，痰出嗽止是也。嗽則痰多者，是脾虛，用清肺飲加減治之。嗽而胸脅結痛者，是痰結，用瓜蔞枳實湯加減治之。肺脹嗽者，嗽則喘滿氣急，是肺脹嗽也，喘急不得眠者難治，用清肺湯加減治之。食積痰者，痰嗽如膠也，用瓜蔞枳實湯加減治之。早晨嗽者，胃中有食積；上半日嗽多者，是胃中有火；午後至夜嗽多者，屬陰虛；黃昏嗽者，火氣浮肺，少加涼藥。春是上升之氣；夏是火炎上，最重；秋是濕熱傷肺；冬是風寒外來。</p>
<p><u>芎蘇散加減</u></p>
<p>治初感風寒，新嗽，鼻塞聲重，頭痛，發熱惡寒，脈浮緊者。</p>
<p>川芎　蘇葉　乾葛　白芷　防風　香附　陳皮　細辛　甘草　柴胡</p>
<p>身痛，加羌活。春加防風，夏加黃芩，秋加蒼朮，冬加麻黃。</p>
<p>蔥頭二個，姜一片，水煎，不拘時服。</p>
<p><u>清肺飲加減</u></p>
<p>治一切咳嗽。</p>
<p>茯苓　陳皮　貝母　甘草　人參　當歸　麥冬　五味子　杏仁　桔梗　黃芩　梔子　桑白皮</p>
<p>姜一片，棗二枚，水煎，食遠溫服。</p>
<p>痰咯不出，加瓜蔞、枳實、竹瀝，去五味子、人參。咳嗽喘急，加蘇子、竹瀝，去人參、桔梗。痰火嗽，面赤身熱，咯出紅痰者，加芍藥、生地、天冬、紫菀、阿膠、竹瀝，去人參、五味子、貝母、杏仁、桔梗。久嗽虛汗多者，加白朮、芍藥、生地，去桔梗、貝母、杏仁。久嗽喉痛，聲不清者，加天冬、薄荷、紫菀、生地、竹瀝，去貝母、五味子、人參。久嗽不止，加款冬花、紫菀、天冬，去桔梗、杏仁、貝母。嗽而痰多者，加白朮、天冬、金沸草，去桔梗、杏仁、黃芩。咳嗽，午後至夜發熱者，加知母、黃柏、生地、芍藥，去黃芩、貝母、五味子、杏仁，再加竹瀝調服。咳嗽身熱，加柴胡。咳嗽痰結，脅下痛者，加白芥子、枳實、砂仁、木香、茴香、竹瀝、薑汁少許，去人參、五味子、貝母、杏仁、梔子，再加柴胡引用。</p>
<p><u>滋陰降火湯</u></p>
<p>方載虛症條內。</p>
<p><u>瓜蔞枳實湯</u></p>
<p>方載痰症條內。</p>
<p><u>人參款花膏</u></p>
<p>治虛，久嗽服之。</p>
<p>人參　桑白皮　五味子　紫菀　熟地　款冬花　共為末，煉蜜為丸，如雞豆大。每服一丸，臨睡清米湯下。</p>
<p>春乃上升之氣，宜潤肺抑肝，川芎、芍藥、半夏、麥冬、黃芩、知母。夏得火熱炎上最重，宜清金降火，桑白皮、知母、石膏、麥冬、黃芩。秋因濕熱傷金，宜清熱瀉濕，蒼朮、桑白皮、防風、黃芩、梔子。冬受風寒外感，宜解表行痰，麻黃、桂枝、半夏、乾薑、防風。此乃四時之主藥，隨症加減。周蘭谷曰「當頭一味藥」，正此之謂歟！</p>
<p>咳嗽：脈滑數者，實也；數而無力者，虛也。浮濡者生，沉伏者死。</p>
<p>咳嗽二字，實非一病。有聲無痰為之咳，有痰無聲為之嗽，有聲有痰為之咳嗽。各受病不同也。如風寒在肺，使人鼻塞身重，當發散行痰為主。喘嗽遇冬則發，為寒包熱也，解表除熱為主。火嗽有聲、少痰、面赤是也，當降火清金為主。勞病久不愈者，陰火上衝，熏蒸清道而作咳嗽，當滋陰降火為主。</p>
<p>田氏考之曰：氣受病多咳，血受病多嗽，氣血俱病，有聲有痰，為之咳嗽。丹溪曰：又有痰鬱火邪在肺，令人乾咳。不得志人受此病也。治嗽之法，《詩括》甚詳。痰有五種，何以分之？風、熱、氣、寒、溫所臻咳嗽者，有聲無痰，生薑麻黃與杏仁，五味防風並桔梗，甘草同煎效若神；無聲有痰須改劑：白朮半夏同五味，枳殼甘草及防風，六味同煎治；有聲有痰則不同，術夏五味及防風。若治咳嗽久不愈，枳殼阿膠最有功。</p>
<p><u>寧肺化痰湯</u></p>
<p>治風寒在肺，使人鼻塞聲重，此藥服之最效。夏月忌服。</p>
<p>陳皮　半夏　茯苓　甘草　杏仁　麻黃　前胡　枳殼　桔梗　黃芩　梔子</p>
<p>姜三片，水煎服。</p>
<p><u>參蘇飲加減</u></p>
<p>治遇冬則寒包熱也。</p>
<p>陳皮　半夏　茯苓　甘草　桔梗　麻黃　白朮　防風　葛根　杏仁　紫蘇　川芎</p>
<p>姜三片，水煎服。</p>
<p><u>清火化痰湯</u></p>
<p>治面赤火嗽。</p>
<p>陳皮　半夏　茯苓　甘草　黃芩　瓜蔞仁　青黛　香附　杏仁　前胡　枳殼　梔子　貝母　石膏</p>
<p>姜三片，水煎服。</p>
<p><u>滋陰寧肺湯</u></p>
<p>治勞嗽。</p>
<p>陳皮　貝母　茯苓　甘草　知母　梔子　麥冬　地骨皮　五味子　阿膠　當歸　川芎　杏仁　竹瀝</p>
<p>水煎服。</p>

<h2>喘症</h2>
<p>喘者，喘為惡候，因火所郁，而痰在肺胃也。痰喘者，喘動有聲，用瓜蔞枳實湯加減。火喘者，乍進乍退，得食則減，食止則喘，用清肺湯加減。氣短者，呼吸短促而無痰聲，用四君子湯。陰虛火動而喘者，脈必數，用滋陰降火湯加減。寒喘，四肢厥冷，脈沉細，用理中湯加減。久喘未發時，用參、歸、五味扶正氣為主；新喘已發時，用沉香、蘇子、桑白皮攻邪為主。喘急甚虛者，不可驟用涼藥，須加溫散。若汗出如油，喘而不休，皆死症。</p>
<p><u>瓜蔞枳實湯加減</u></p>
<p>治痰喘。</p>
<p>方載痰症條內。</p>
<p><u>清肺湯加減</u></p>
<p>治火喘。</p>
<p>黃芩　山梔　枳實　桑白皮　茯苓　陳皮　杏仁　蘇子　貝母　沉香　神砂　麥冬</p>
<p>姜一小片，水煎，加入竹瀝調服。</p>
<p><u>香砂六君子湯加減</u></p>
<p>治胃虛喘。</p>
<p>香附　砂仁　人參　白朮　茯苓　陳皮　厚朴　枳實　蘇子　桑白皮　沉香　木香　甘草</p>
<p>姜三片，水煎，磨入木香調服。</p>
<p><u>四君子湯加減</u></p>
<p>治短氣。</p>
<p>人參　白朮　茯苓　甘草　砂仁　陳皮　厚朴　蘇子　桑白皮　當歸　木香　沉香</p>
<p>姜一片，棗二枚，水煎，磨人木香，不拘時服。</p>
<p><u>理中湯加減</u></p>
<p>治寒喘。</p>
<p>砂仁　乾薑　甘草　蘇子　沉香　木香　厚朴　官桂　陳皮</p>
<p>脈細，手足冷，加附子。</p>
<p>姜三片，水煎，磨入木香，不拘時服。</p>
<p>治陰火動而脈數者，方載虛怯條內，本方加蘇子、沉香、杏仁、桑白皮、竹瀝。</p>
<p>喘脈浮滑者生，短澀者死。</p>
<p>痰喘為病，非一方可治，非一言可述。有痰盛而作喘者，有氣急而作喘者，有胃弱而作喘者，有火炎上而作喘者，各有其症。從而處治，然後可也。如喉中有痰聲，是痰喘也；呼吸急促無痰聲，是氣急喘也；抬眉擷肚而不休者，是胃虛喘也；乍進乍退，食入則減，食已則復，是火炎上喘也。殊不知實火在胃，鬱而不散，不得發越也，熏蒸清道而作喘者亦有之也。當急法則可，勿令緩。</p>
<p>田氏考之曰：咳出五臟，嗽發肺腎，所謂言其本也。凡臨此症，急治其標，緩治其本，前論甚明。有痰者，化痰降氣為主；有氣急者，順氣降火為主；有火炎上者，降心火、清肺金為主。久喘者，未發扶正氣為主，已發以攻邪為主，不可單用苦寒之藥，惟苦溫之劑可也。</p>
<p><u>寧喘化痰湯</u></p>
<p>陳皮　半夏　茯苓　杏仁　黃芩　麻黃　桑白皮　石膏　阿膠（各等分）　甘草（少許）　</p>
<p>姜三片，水煎服。</p>
<p><u>千緡湯</u></p>
<p>治痰喘不能臥，人扶而坐，數日一服即安。</p>
<p>半夏七個，每一個切作四片，湯泡七次　甘草（一寸，炙）　皂角（一寸，炙，去皮、子）　南星（一錢）　生薑（五片）　</p>
<p>一方加雄黃，無甘草。大治痰。</p>
<p><u>清金勝火湯</u></p>
<p>治火炎上作喘。</p>
<p>半夏　陳皮　茯苓（各一錢）　甘草（三分）　桔梗　黃芩　黃連　蘇子（各七分）　前胡　知母　梔子　枳殼　杏仁（各六分）　</p>
<p>姜三片，水煎服。</p>
<p><u>枳朮二陳湯</u></p>
<p>治胃虛而作喘。</p>
<p>陳皮　半夏　茯苓　白朮　枳實　黃連　香附米　人參　白芍（各七分）　蘇梗（五分）　甘草（三分）　</p>
<p>姜三片，水煎服。</p>

<h2>瘧疾</h2>
<p>瘧者，外因風寒暑濕，內傷飲食勞倦，或飢飽色欲過度，以致脾胃不和，痰留中脘。無痰不成瘧。脾胃屬土有信，來去不失其時。若移時早晚，是邪無容地，瘧將好也。瘧痰來時，呵欠怕寒，手足冷，發寒戰，大熱口渴，頭痛，骨節腰胯痠疼。或先寒後熱，或先熱後寒，或單寒單熱，或熱多寒少，或熱少寒多。一日一發，受病淺也，易治。間日一發者，或二日連發、住一日者，皆難治之瘧。大抵瘧脈多弦，弦而數者多熱，弦而遲者多寒，弦而緊實者宜下，弦而虛細者宜補，弦而實大者宜吐，瘧脈遲緩者病自愈，久瘧不愈者脈必虛，宜養正去邪。無汗者要有汗，散邪為主；有汗者要無汗，補正氣為主。凡治瘧，先服人參養胃湯加減，以後方可截之。虛弱人用參歸截瘧飲，壯健人用常山七寶飲，寒多者加桂枝，熱多者加柴芩，久不止者用服如聖飲、紫金丸，以後方可服參歸養榮湯調養氣血。若用截藥，吐出黃膠水者，瘧自愈也。不可一二日早截，早則邪氣閉塞而壞症，又不可遲截，遲則邪氣衰憊而成虛怯，當以三四日就截為妙。須待熱退身涼，方可飲食也。痰瘧者，是老瘧也，是風暑入陰在臟，用柴胡芎歸湯引出陽分則散。長夏煩渴熱甚者，是暑瘧，用人參養胃湯加香薷、扁豆。痰多者是痰瘧，用人參養胃湯去人參，加貝母、竹瀝。飽悶惡食、不食者是食瘧，用人參養胃湯去人參，加山楂、神麯、青皮。勞倦汗多、脈虛大者是勞瘧，用人參養胃湯加黃耆、當歸、白朮，去蒼朮。身重、小便澀是濕瘧，用人參養胃湯加白朮。以後俱用人參截瘧飲加減截之，吞紫金丸亦可。切不可帶熱飲食，恐不消而成痞塊，一名瘧母，痞散成臌者有之矣。</p>
<p><u>人參養胃湯加減</u></p>
<p>治暴瘧初起。服此二帖後，用人參截瘧飲、常山七寶飲截之。</p>
<p>人參　茯苓　半夏　厚朴　蒼朮　藿香　陳皮　草果　甘草　當歸　川芎</p>
<p>寒多，加桂枝。熱多，加柴胡、黃芩。虛汗多，去蒼朮、藿香、川芎，加白朮、黃耆。飽悶，加青皮、砂仁，去人參。渴，加麥冬，去半夏。瀉，加炒白朮、芍藥，如不止，加肉果，去厚朴、草果。嘔噦，加白朮、山藥、炒米、砂仁，去草果、厚朴、蒼朮。痰多，加貝母、竹瀝，去半夏、草果。骨體痛，加羌活、芍藥，去草果。內熱，加炒黃芩，去半夏。長夏暑熱盛，加香薷、扁豆，去半夏、藿香。</p>
<p>姜一片，棗二枚，烏梅一個，水煎，不拘時服。</p>
<p><u>人參截瘧飲加減</u></p>
<p>治一切瘧疾，俱可截之，虛人亦服。</p>
<p>人參　白朮　茯苓　當歸　青皮　厚朴　甘草　知母　柴胡　黃芩　桔梗　常山　草果　鱉甲　烏梅</p>
<p>加減俱照人參養胃湯後加減法同。</p>
<p>姜一片，棗二枚，桃仁七粒，酒煎，不飲酒人水煎亦可。煎好露一宿，臨發日空心服，渣再煎，午後用糖拌烏梅送下。忌食雞、魚、豆腐、麵食，並忌勞力、怒氣、房事。</p>
<p><u>常山七寶飲加減</u></p>
<p>治壯健人瘧疾，服之可截。</p>
<p>常山　草果　檳榔　青皮　厚朴　知母　蒼朮　甘草　鱉甲　烏梅</p>
<p>汗多，加白朮，去蒼朮。熱多，加柴胡、黃芩。寒多，加桂枝。口渴，加麥冬、天花粉。痰多，加貝母。</p>
<p>姜一片，桃仁七粒，酒少許，煎好露一宿，臨發日五更服。渣再煎，午前服。</p>
<p><u>參耆鱉甲飲</u></p>
<p>治老瘧，腹脅有塊成瘧母。</p>
<p>人參　黃耆　鱉甲　當歸　茯苓　白朮　青皮　厚朴　香附　撫芎　砂仁　山楂　枳實　甘草</p>
<p>塊痛，加木香，去白朮。</p>
<p>姜一片，烏梅一個，棗二枚，水煎，食遠服。</p>
<p>如修合丸藥，加阿魏、醋，煮烊，和藥末內，用水、醋少許，打麵糊為丸，如綠豆大。每服三十丸，空心清米湯下。</p>
<p><u>參歸湯</u></p>
<p>治瘧疾截住後，用此藥調養氣血。</p>
<p>人參　當歸　茯苓　白朮　陳皮　厚朴　砂仁　甘草　山藥　蓮肉　芍藥　熟地</p>
<p>虛熱虛汗，加黃耆，去砂仁。</p>
<p>棗二枚，水煎，不拘時服。</p>
<p><u>人參竹瀝飲</u></p>
<p>治虛瘧，昏倦，汗多，痰盛，舌火，言語混亂不清，脈虛大無力。</p>
<p>人參　白朮　茯苓　當歸　生地　麥冬　酸棗仁　知母　陳皮　芍藥　甘草　烏梅　大棗　竹瀝</p>
<p>姜一片，水煎，不拘時漸漸服。</p>
<p><u>柴胡芎歸湯</u></p>
<p>治夜間陰瘧，引出陽分則散。後服人參截瘧飲止之。</p>
<p>柴胡　川芎　當歸　桔梗　芍藥　厚朴　人參　乾葛　白朮　陳皮　茯苓　紅花　甘草</p>
<p>姜一片，棗二枚，烏梅一個，水煎，食遠溫服。</p>
<p><u>截瘧如聖飲</u></p>
<p>人參（三錢）　常山（三錢）　甘草（三分）　丁香（廿四粒）　</p>
<p>好黃酒半碗，烏梅一個，煎好露一宿，臨發日五更溫服，用糖拌烏梅過藥。烏梅時時可食之。</p>
<p><u>截瘧紫金丹</u></p>
<p>秘傳，神妙。</p>
<p>紫河車（五錢）　甘草（二錢）　人參（三錢）　黃連（二錢）　人言（一錢）　神砂（三錢）　綠豆（一兩五錢）　</p>
<p>各研細末，端午日午時，將粽子搗爛如泥，和藥，搗千餘下，為丸如白豆大，金箔為衣。臨發日五更用無根水服三丸，小兒服一九。忌雞、魚、羊肉、豆腐、麵食。</p>
<p><u>雄黃截瘧丸</u></p>
<p>雄黃（三錢）　辰砂（三錢）　人言（一錢）　甘草（二錢）　綠豆粉（一兩五錢）　</p>
<p>各研細末，豆粉打糊為丸，如白豆大，辰砂為衣。臨發日五更，無根水服二丸，小兒一丸。如久不止，每日灸後谿穴三壯，最妙。</p>
<p>瘧脈弦數多熱，弦遲多寒。</p>
<p>夏傷於暑，或痰，有食，秋必瘧痢，久則羸瘦如凌瘧之狀，故名曰瘧也。三日一發，受病一年；間日一發，受病半年；一日一發，新病。所以連二日發，住一日者，氣血俱病。或用截法，或隨經治。先傷於寒，而後傷於風者，先寒後熱也，名曰寒瘧；先傷於風，而後傷於寒者，先熱後寒也，名為溫瘧。但熱而不寒者，名曰癉瘧；但寒而不熱者，名曰痎瘧。初則不知何經受之。在太陽經，脈弦緊，為之風瘧，治多汗之；在陽明經，脈弦長，為之熱瘧，治多下之；在少陽經，脈弦細，為之風熱瘧，治多和之。此三陽受病，為之暴瘧，在夏至後、處暑前發之，淺者近而暴也。在陰經不分三經，總謂之溫瘧，當從太陰經論之。若夏至前、處暑後而發，此乃傷之重者遠，為之痎瘧。痎者，三日一發，陰受病，為之老瘧也。</p>
<p>田氏考之曰：凡人治瘧不分經絡，不察寒熱，不憑六脈，妄用局方，豈有求效之理？以致久而不愈，兩脅成塊，名為痎瘧，醫殺之耳，真可惜哉！丹溪曰：無汗要有汗，有汗要無汗，扶正氣為主。仲景曰：或有煩躁，小便赤澀，素有瘴氣，不服水土，嘔吐不止，又有大便閉而不通，皆有治法。予取諸家之議論纂為一篇，對症用藥，無不效也。</p>
<p><u>小柴胡知母葛根湯</u></p>
<p>治先熱而後寒。</p>
<p>柴胡　半夏　黃芩　甘草　人參　知母　葛根</p>
<p>姜三片，水煎服。</p>
<p><u>柴胡參桂湯</u></p>
<p>治先寒而後熱。</p>
<p>柴胡　人參　肉桂（少許）　半夏　黃芩　甘草　葛根</p>
<p>姜三片，水煎服。</p>
<p><u>加減白虎湯</u></p>
<p>治但熱而不寒。</p>
<p>石膏　知母　甘草　人參　麥冬　黃芩　貝母</p>
<p>粳米一撮，水煎服。</p>
<p><u>柴胡桂薑湯</u></p>
<p>治但寒而不熱。</p>
<p>柴胡二兩　肉桂三錢　天花粉一兩　黃芩五錢乾薑五錢　甘草（五錢）　牡蠣五錢</p>
<p>每服五錢，水煎服。</p>
<p><u>五苓散</u></p>
<p>治煩躁，小便澀黃，素有瘴氣。</p>
<p>方見霍亂門。</p>
<p><u>大柴胡湯</u></p>
<p>治大便閉結。</p>
<p>方見傷寒門。</p>
<p><u>常山飲</u></p>
<p>方見《丹溪纂要》。</p>
<p><u>清脾湯</u></p>
<p>方見《丹溪纂要》。</p>

<h2>痢疾</h2>
<p>痢疾者，不分赤白，俱作濕熱治之，明矣！赤屬血，白屬氣。赤白相兼，膿血相雜。痢皆因脾胃失調，飲食停滯，積於腸胃之間，多是暑濕傷脾，故作痢疾。起於肚腹疼痛，大便裡急後重，小水短赤不長。身涼、脈緩者易治，身熱、脈弦急者難治。痢疾初起，元氣壯實，一二日先用化滯湯疏通積滯。三四日已後，元氣虛弱，用胃苓湯加減治之。如不止，用參歸芍藥湯調理脾胃，分理陰陽。久不愈，方可服真人養臟湯加減治之。切不可用粟殼等藥，止塞太早，內恐積氣未盡，成休息痢，亦恐毒氣攻上，胸腹飽悶作痛，噁心，嘔噦，發呃，難治者，因毒氣攻胃也。噤口痢，不食者，胃口熱極，用參歸芍藥湯加炒黃連、蓮肉、人參、炒米、烏梅清熱開胃。為下痢腹痛，裡急後重者，是積氣滯，用加木香、砂仁，和消積氣，則後重自除。若久痢後重不除者，是虛氣墜下也，加人參、當歸、白芍、升麻為臣提氣。大孔痛者，熱流下也，用加炒黃芩、白芍清之。痢後發熱不止者，或積小，但虛坐努責，俱是血氣虛，倍加白芍、當歸、熟地滋養陰血，其熱自安。若積中有紫血者，是瘀血也，用加白芍、紅花活血生血，則便自愈。痢下如綠豆汁者，濕也，用加炒蒼朮、白朮滲濕利小便。先水瀉、後膿血者，腎傳脾，難愈；先膿血、後水瀉者，是脾傳腎，易愈。有痢下如鮮血、如露色者，如屋漏水者，大孔如竹筒者，嘔噦、發呃、煩躁者，俱難治也。如魚腦者，身熱、脈數大者，半死半生也。大抵治痢，一二日元氣未虛，宜疏通積滯，分理陰陽，調養脾胃為主。《經》云：行血則便自愈，調氣則後重除。痢疾之脈宜沉細而緩，不宜浮洪；宜滑大，而不宜弦急。此「夏傷於暑，秋必瘧痢」矣。</p>
<p><u>木香化滯湯加減</u></p>
<p>治痢疾一二日。用此一服，即去枳殼。</p>
<p>木香　當歸　芍藥　枳殼　厚朴　砂仁　黃連　陳皮　甘草　蒼朮</p>
<p>夏月傷暑，加香薷、扁豆。</p>
<p>燈心一分，蓮肉七個，烏梅一個，水煎，不拘時服。</p>
<p><u>胃苓湯加減</u></p>
<p>治痢疾三四五六日，用此分理陰陽，調養脾胃。</p>
<p>當歸　芍藥　茯苓　蒼朮　白朮　厚朴　陳皮　砂仁　甘草　豬苓　澤瀉</p>
<p>盛暑，加扁豆。去後多，除去厚朴。腹痛，加木香少許。痛甚，加乳香、茴香。煩渴，加人參、乾葛、麥冬、烏梅，去厚朴。嘔噦噁心，加蓮肉、烏梅、炒米、黃連。虛汗，加人參，去蒼朮、厚朴。飽悶，加木香少許，去白朮。噤口不食，加蓮肉、烏梅、炒米、黃連。煩躁，加神麯、烏梅、黃連、人參、竹茹、蓮肉、炒米、梔子、麥冬，去厚朴、砂仁、蒼朮。元氣倦弱，加人參，去厚朴、砂仁。發熱，加柴胡。大便痛，下鮮血，加黃連、地榆。膿血相雜，加烏梅、阿膠，去厚朴、砂仁。發呃，加炒黃連、蓮肉、烏梅、神砂、茴香、沉香，去蒼朮、白朮。惡寒，手足冷，加官桂少許，不可多服，加人參以扶元氣。白痢，加山藥、烏梅。</p>
<p>蓮肉七粒，烏梅一個，炒米一撮，燈心一分，水煎，不拘時服。</p>
<p><u>參苓芍藥湯</u></p>
<p>治痢疾一二日至七日，痢去多不止，用此調理。</p>
<p>人參　當歸　芍藥　茯苓　白朮　砂仁　山藥　陳皮　甘草</p>
<p>口渴，膿血不止，加炒黃連。飽悶，加厚朴、蒼朮、白朮。腹痛，加乳香、茴香、木香少許。裡急後重，虛氣墜下，加升麻少許。若痢後去多不止，不腹痛，不飽悶，不噁心，方可加肉果、訶子。止後若腹痛，飽悶，噁心者，不可用訶子、肉果止塞，只可加炒蒼朮、炒蓮肉、烏梅、山藥、炒米。小便短赤，加燈心、黃柏、黃芩、豬苓、木通、梔子、車前子。久痢不止，身涼，脈沉細，手足冷，屬臟寒，無血積，方可用煨乾姜，加官桂一二分。如不口渴，不煩熱，去乾薑，加官桂一分、熟附子、訶子、肉果各等分。一服即止，不可多服，即真人養臟湯也。如口燥煩渴，腹痛飽悶，痢下即血，脈弦數大者，切不可用肉果、訶子、粟殼。雖云久痢不止屬臟寒，亦不可用乾薑、附子熱藥。</p>
<p>烏梅一個，燈心一分，蓮肉七個，水煎服。</p>
<p><u>實腸散</u></p>
<p>治痢疾去多，不分赤白，用此末藥，換出黃糞。</p>
<p>山藥（一兩，炒黃色）　蓮肉（一兩，去心炒燥）　炒黃米（一撮）　</p>
<p>共研細末，用砂糖湯調服，後用清湯漱口。常服最妙。</p>
<p><u>香連丸加減</u></p>
<p>治初起痢疾，不分赤白，調和積滯。久痢不宜用。與前木香湯同功。</p>
<p>黃連一兩，茱萸拌炒赤色，去茱萸用黃連　木香二錢五分　砂仁二錢　甘草一錢</p>
<p>各為細末，水醋各半，打麵糊為丸，如綠豆大。每服五十丸，用燈心、米煎湯送下。</p>
<p><u>湯泡飲</u></p>
<p>治久痢不止，不分赤白，俱可服之。</p>
<p>粟殼（三錢，蜜水炒）　烏梅（一個，去核）　甘草（二錢）　蜜（三匙）　</p>
<p>共研末，熱滾湯一鍾，泡浸一時辰，去渣，作三次服。</p>
<p>痢脈微小者生，浮大者死。</p>
<p>痢因濕熱，日夜無度，名曰痢疾，或因飲食積滯。治可宣通為主，勿可澀住也。若濕熱傷血，自小腸而來，為之赤痢；濕熱傷氣，自大腸而來，為之白痢。赤白同下，氣血俱傷。雖有赤白二色，終無寒熱之分，皆是濕熱為病，與婦人赤白帶下相同也。日久不愈，令人腹痛後重、窘迫裡急，若用澀藥，恐成休息痢也。初得之時，元氣未衰，當宜下之，《經》所謂「通因通用」也。下後，氣虛補氣，血虛補血。日久正氣已衰，不可下也，只要除濕清熱、健脾調氣為主，然後行血則便自安也。《經》曰：先痢而後泄者，腎病傳脾，易治；先泄而後痢者，脾病傳腎，難治。相傳之法，不可不知也。</p>
<p>田氏考之曰：夏傷於暑，秋必痢疾。當秋金旺之時，而伏暑在內，金被火傷，所謂肺受病而傳大腸，為之白痢。若金氣全勝，旺不受邪，心自受之，傳於小腸，為之赤痢。若赤白同下，濕熱大勝，氣先受之，則血難免。《經》曰：「氣熱則血熱。」自然之理也。丹溪曰：凡治痢者，必用寒以勝熱，苦以燥濕，少加辛熱佐之，以為發散開通之用。如腹痛者，須用白芍、甘草為君，當歸、白朮為佐，惡寒加肉桂，惡熱加黃柏，達者更能參歲之用，則萬舉萬全也。</p>
<p><u>大承氣湯</u></p>
<p>治初痢，此藥下之。</p>
<p>方見傷寒門。</p>
<p><u>芍藥湯</u></p>
<p>治下血，調氣。《經》曰：泄而便膿血，氣行而血止，行血則便自愈，調氣則後重自除。</p>
<p>芍藥　當歸　黃連　檳榔　木香　甘草　大黃　黃芩</p>
<p>每服五錢，水煎服。</p>
<p><u>香連丸</u></p>
<p>治下痢膿血相雜。</p>
<p>黃連（二十兩，同茱萸十兩拌炒赤色，去茱萸用黃連）　木香（四兩八錢，不見火（</p>
<p>共為細末，醋打麵糊為丸。每服二十丸，清晨白湯下。一方加蓮肉八兩。</p>
<p><u>除濕補中湯</u></p>
<p>治久痢虛弱，用此調之。</p>
<p>人參　白朮　茯苓　甘草　芍藥　神麯　升麻　蒼朮　防風　黃連　當歸　木香　檳榔</p>
<p>水煎服。</p>

<h2>泄瀉</h2>
<p>泄瀉者，只因脾胃虛弱，飲食飽飢過度，或風寒暑濕所傷，皆成泄瀉。悠悠腹痛，瀉無休止，其色青，脈沉遲者，是寒瀉，用理中湯加減。大瀉即熱瀉也，用芍藥湯加減。暑瀉者，暴瀉如水，面垢，脈虛，煩渴，自汗，是用香薷飲加減。濕水多而腹不痛，腹如雷鳴，脈細者，是用五苓散加減。風濕者，瀉而便帶清血，脈浮弦者，是用胃風湯加減。食積瀉者，腹痛甚而瀉，瀉後痛減，脈弦緊者是也，用香砂平胃散加減。痰瀉者，或多或少，或瀉或不瀉，脈沉滑者是也，用二陳湯加減。氣虛瀉者，飲食入胃即瀉，水穀不化，脈微弱者是也，用參苓白朮散加減。滑瀉者，日夜無度，腸胃虛寒不禁，脈沉細者是也，用八桂散加減。脾瀉者，食後倒飽，瀉去即寬，脈細者是也，用香砂六君子湯加減。泄瀉之症，治須分利小水，健脾燥濕為主。若瀉久，多而不止者，當補住為要。若瀉不止，手足寒，脈虛脫，煩躁，發呃，氣短，目直視，昏冒不識人也，皆死症。若瀉初起，不可就用補塞，恐積滯未盡，而成腹痛，飽悶，噁心，煩躁，發呃，而直待瀉去四五次，方可補住。此治之大法也。</p>
<p><u>理中湯加減</u></p>
<p>治寒瀉。</p>
<p>人參　白朮　乾薑　甘草　茯苓　良薑　官桂　陳皮　藿香</p>
<p>寒極是冷，脈沉細，加附子，去良薑、官桂。飽悶，加厚朴、砂仁，去人參、白朮、良薑。腹痛，加砂仁、厚朴、木香，去人參。虛汗，加黃耆，去藿香、官桂。嘔噦噁心，加丁香、半夏，去良薑、官桂。瀉不止，加蒼朮、山藥。瀉多，久不止，加肉果、訶子，去官桂、良薑。</p>
<p>姜三片，烏梅一個，燈心一分，水煎，不拘時服。</p>
<p><u>四苓散</u></p>
<p>治火瀉。</p>
<p>茯苓　白朮　豬苓　澤瀉　蒼朮　山藥　芍藥　梔子　陳皮　甘草</p>
<p>飽悶，加厚朴、砂仁，去山藥。腹痛，加厚朴、砂仁、茴香、木香，去白朮。嘔噦噁心，加藿香、烏藥、蓮肉、砂仁、人參。小便短赤，加木通、車前，去澤瀉。口燥煩干，加黃連、麥冬、乾薑、蓮肉、烏梅，去澤瀉、蒼朮。瀉多，元氣虛弱，昏倦，加人參、黃耆，去澤瀉、蒼朮。夏月盛暑，加扁豆、香薷。瀉多煩躁，加炒黃連、人參、神麯、烏梅，去澤瀉、蒼朮。瀉多不止，加肉果、烏梅、人參，去澤瀉、梔子。發熱脈數，加柴胡、烏梅、炒黃芩。</p>
<p>烏梅一個，燈心一分，水煎，不拘時溫服。</p>
<p><u>五苓散加減</u></p>
<p>治濕瀉。</p>
<p>茯苓　白朮　豬苓　澤瀉　官桂　陳皮　蒼朮　山藥　砂仁　肉果　訶子　烏梅</p>
<p>本方隨症加減與理中湯同。</p>
<p>姜三片，烏梅一個，燈心一分，水煎，溫服。</p>
<p><u>參苓白朮散加減</u></p>
<p>治氣虛瀉。</p>
<p>人參　茯苓　白朮　山藥　砂仁　藿香　陳皮　甘草　乾薑　蓮肉　烏梅　訶子　肉果</p>
<p>夏月加扁豆。元氣虛弱，加黃耆、升麻少許，去砂仁、藿香。飽悶，加厚朴，去肉果、訶子。小便短澀，加木通、車前，去半夏。嘔噦噁心，加半夏。瀉甚不止，加炒蒼朮、烏梅、熟附子少許。</p>
<p>姜一片，燈心一分，烏梅一個，水煎，溫服。</p>
<p><u>香砂六君子湯加減</u></p>
<p>治脾瀉。</p>
<p>香附　砂仁　厚朴　陳皮　甘草　人參　白朮　芍藥（炒）　蒼朮（炒）　山藥（炒）　</p>
<p>腹痛，加木香、茴香，去人參、山藥。口渴，加乾葛、烏梅。小便短赤，加木通、車前。嘔噦噁心，加藿香、烏梅、半夏。夏月加炒黃連、扁豆，冬月加煨乾薑、芍藥。</p>
<p>姜一片，烏梅一個，水煎，溫服。</p>
<p><u>八桂散</u></p>
<p>治滑瀉不禁。</p>
<p>人參　白朮　肉果　乾薑　訶子　附子　甘草</p>
<p>隨症加減與理中湯同。</p>
<p>姜一片，燈心一分，烏梅一個。水煎，溫服。</p>
<p>灸法：滑瀉不止者，百會一穴，天樞二穴，中脘三穴，氣海一穴。</p>
<p><u>二陳湯加減</u></p>
<p>治痰瀉。</p>
<p>茯苓　半夏　甘草　陳皮　白朮　蒼朮　砂仁　山藥　車前　木通　厚朴</p>
<p>瀉不止，加肉果、訶子，去厚朴。</p>
<p>隨症加減與香砂六君子同。</p>
<p>煎法同前。</p>
<p><u>香薷飲</u></p>
<p>治暑瀉。</p>
<p>方載暑症條內。</p>
<p>瀉脈氣虛浮而無力。有火，沉細數；有虛、有濕，沉而細；有痰，軟滑；食積，氣口緊盛。</p>
<p>瀉者，下利不禁是也。《經》曰：泄瀉多濕、熱、食、氣虛，時或因痰亦有之也。故曰：暴瀉非陽，久瀉非陰，皆是土虛不能制木，而木來乘脾，方有此病。且如瀉而腹不痛者，是濕也；水穀不化者，是氣虛也；腸鳴，或瀉或止，或多或少，陣陣作痛者，是火與痰也；先腹痛，瀉後痛減者，是食積也。濕則燥之，虛則補之，火者伐火，利水分之，痰者豁之，食積者消導疏滌之。治瀉之法無過此也。</p>
<p>田氏考之曰：泄瀉前論未見詳盡。《難經》曰：有胃泄，有脾泄，有大腸泄，有小腸泄，有大瘕泄，名曰五泄，皆有所受。胃泄色黃，水穀不化，即飧泄也；脾泄胸腹脹滿，泄主嘔吐食出，即濡泄也；大腸瀉食已窘迫，大便色白，腸鳴切痛，即洞泄也；小腸瀉泄而便膿血，即血泄也；瘕泄裡急後重，數至圊而不能便，莖中痛，即腸澼也。大抵胃弱，雖受而不能運化，濕熱熏蒸，乃不勝者受邪。法當健脾除濕，益胃調中。如久不愈，升提下陷之氣，實腸胃為主。治泄之法不出於此。</p>
<p><u>補中益氣湯</u></p>
<p>治氣虛瀉。</p>
<p>方見丹溪內傷門。</p>
<p><u>胃苓湯</u></p>
<p>治濕瀉。</p>
<p>即平胃散合五苓散。</p>
<p><u>實腸散</u></p>
<p>治久瀉不止。</p>
<p>厚朴　肉豆蔻　訶子皮　茯苓　甘草　砂仁　陳皮　蒼朮　木香</p>
<p>手足冷，加炒乾姜。</p>
<p>水煎服。</p>
<p><u>曲術調中湯</u></p>
<p>治食積瀉。</p>
<p>陳皮　半夏　茯苓　甘草　白朮　枳實　厚朴　大黃　蒼朮　神麯　山楂</p>
<p>姜一片，水煎服。</p>
<p><u>白朮芍藥湯</u></p>
<p>治痛瀉。</p>
<p>白朮　芍藥　甘草　陳皮　防風　香附　木香　茯苓　厚朴</p>
<p>姜一片，水煎服。</p>
<p><u>豁痰枳朮湯</u></p>
<p>治痰瀉、火瀉。</p>
<p>陳皮　半夏　白朮　神麯　山楂　茯苓　甘草　香附　枳殼　黃連（薑汁炒）　</p>
<p>水煎服。</p>
<p><u>真人養臟湯</u></p>
<p>治滑腸泄瀉不止。</p>

<h2>霍亂</h2>
<p>霍亂者，有濕霍亂，有乾霍亂，皆是內傷飲食生冷、外感風寒暑濕而成。濕霍亂，忽時心腹疼痛，或上嘔吐、或下泄瀉齊作，撩亂不安，四肢厥冷，六脈浮沉伏絕，此名濕霍亂，俗云虎狼病。因風則怕風、有汗，無風則怕寒、無汗，因暑則熱煩躁悶，因濕則身體重著，因食則胸腹飽悶。治用正氣散加減。若吐瀉、煩躁不止，厥冷痛甚，轉筋入腹者，死。夏月因伏暑熱，霍亂吐瀉者甚多，手足雖微冷，脈雖虛小，切不可用薑、附熱藥，治在暑症香薷，厥內治之，又有發熱、頭痛、身痛、脈浮緊，吐瀉者。更有一種乾霍亂者，最難治也，死在須臾，俗言絞腸痧。忽時心腹絞痛，手足厥冷，脈沉細或沉伏，欲吐不得吐，欲瀉不得瀉，陰陽乖隔，升降不通。急用鹽湯探吐，及刺委中穴出血，治用理中湯加減。莫飲米湯，補住邪氣，難治，待吐瀉後方可飲清米湯，以接元氣。若吐瀉不止，胸腹脹硬，面唇青，手足冷過肘膝，六脈伏絕，氣喘息，舌短囊縮者，此死症。</p>
<p><u>正氣散加減</u></p>
<p>治濕霍亂，吐瀉，脈浮、沉伏欲絕。</p>
<p>藿香　蒼朮　白朮　茯苓　香附　厚朴　砂仁　陳皮　乾薑　官桂　甘草</p>
<p>夏月吐瀉，霍亂，煩渴自汗，脈虛小，本方去乾薑、官桂、香附，加香薷、黃連。腹痛吐瀉，手足厥冷，脈沉伏欲絕，加人參、附子，去官桂、香附。腹痛甚不止，加乳香、茴香、木香，去香附。嘔吐不止，加丁香、半夏、山藥、人參、肉果、訶子、烏梅，去厚朴、香附。虛汗，加人參、當歸，去蒼朮、藿香。口渴，加人參、烏梅，去乾薑、官桂。胸腹飽悶，加白豆蔻、益智仁，去白朮。小便短赤澀，加木通、車前，去乾薑。煩躁，加人參、黃耆、當歸、酸棗仁、神砂，去厚朴、砂仁、香附、蒼朮、官桂。吐瀉多，元氣虛脫，昏倦，手足厥冷，脈沉，加人參、附子、黃耆、當歸、山藥、烏梅，去厚朴、香附、砂仁、蒼朮。因吐瀉多，轉筋入腳，腿痠，加牛膝、當歸、白芍、乳香，去厚朴、香附、藿香。</p>
<p>姜一片，烏梅一個，燈心一分，水煎，溫服。</p>
<p><u>參胡三白湯</u></p>
<p>霍亂吐瀉止後，發熱，頭疼，體痛，口渴，脈數，用此藥加減治之。</p>
<p>人參　柴胡　白朮　茯苓　芍藥　甘草　當歸　陳皮　五味子　梔子　麥冬</p>
<p>棗二枚，烏梅一個，燈心一分，水煎，溫服。</p>
<p><u>理中湯加減</u></p>
<p>治乾霍亂，心腹膨脹絞痛，不吐不瀉，脈沉伏欲絕。先用鹽湯探吐，後急用此方。</p>
<p>藿香　蒼朮　厚朴　香附　砂仁　木香　枳殼　陳皮　甘草　乾薑　官桂</p>
<p>夏月乾霍亂，不吐瀉，胸腹絞，煩渴自汗，不可用薑、桂。心腹絞痛，面唇青，手足冷，脈伏欲絕，加茴香，去蒼朮。心腹飽脹、硬痛、結實者，加檳榔、枳實、山楂、瓜蔞、蘿蔔子，去甘草、枳殼、蒼朮。虛汗，加附子，去蒼朮、藿香。胃寒嘔噦發呃，加丁香、茴香、良薑，去官桂、甘草、蒼朮。</p>
<p>姜三片，水煎，磨入木香調服。</p>
<p>外用炒姜同藥渣揉肚，急用鹽湯灌下，吐得物出為好，及刺委中穴，血出甚妙。夏月暑熱多餐，飲食生冷，停滯胸腹不化，腹硬絞痛，不得吐瀉，亦是內寒乾霍亂，用前調中湯加減治之。</p>
<p><u>藿香正氣散加減</u></p>
<p>治異鄉人初到地方，不服水土，或吐或瀉，或胸腹飽悶、或腫脹，不吐不瀉者，俱可治。</p>
<p>藿香　蒼朮　厚朴　陳皮　砂仁　香附　半夏　甘草</p>
<p>瀉，加白朮、烏梅、炒山藥。飽悶，加益智、大腹皮。嘔吐，加山藥、烏梅、炒米、炒白朮。腹痛，加木香、茴香。發腫氣急，加蘇子、桑白皮、木通、豬苓、木香、大腹皮，去甘草。小便短赤，加木通、豬苓、梔子、車前，去甘草、半夏。胸腹飽脹，或四肢浮腫，如不吐瀉者，可加蘿蔔子、枳殼、大腹皮、木通，去甘草、半夏。內寒手足冷，脈沉細，加乾薑、官桂。內熱煩渴，加乾薑、黃連、梔子、烏梅，去半夏、甘草。</p>
<p>煎同前。</p>
<p>霍亂，脈浮洪，生；微遲，死。</p>
<p>霍亂者，揮霍撩亂是也。內有所積，外有所感，陽不上升，陰不下降，以致此疾。仲景曰：邪在上焦則吐，邪在中焦既吐且利。此為急病也。甚則轉筋，乃血熱之急。又有乾霍亂，則為死症，欲吐不吐，欲利不利，俗謂之絞腸痧，死在須臾，升降不通故也。法曰：既有其入，必有所出。今有其入，不得其出者，否也，塞也，必提其氣，最是良法。</p>
<p>田氏考之曰：醫之用藥，如帥之用兵。《本草》云：良醫不能以無藥愈疾，猶良帥無兵不足以勝敵也。故用藥如用兵之法。治霍亂如用兵之急，不可緩也。仲景曰：熱多飲水者，五苓散；寒多不飲水者，理中湯。若病將愈，更不可就食粟米湯。粟米入胃，速死無救。《本草》：粟米能養胃氣，去脾胃中之熱。霍亂之後，脾胃極虛，不能化物，一補之間，胃氣不行，去死速矣。且如人之將危，以利刃鋸其首，豈有生乎？若吐瀉之後多時，方可少少與之，以遲為妙。</p>
<p><u>半夏湯</u></p>
<p>治霍亂轉筋，吐瀉不止。</p>
<p>半夏曲　茯苓　淡桂　甘草　酒芩　蒼朮　紅花　厚朴　人參　白朮</p>
<p>共為末，渴者涼水調服，不渴者溫水調服。丹溪曰：轉筋，男子以手挽其陰，女人以手牽其乳近兩旁，《千金》妙方也。</p>
<p><u>五苓散</u></p>
<p>治發熱欲飲水。心神恍惚，加辰砂二錢。</p>
<p>白朮　赤茯苓　豬苓（各二錢四分）　澤瀉（四錢）　官桂（一錢六分）　</p>
<p>共為末，大人三錢一服，熱水調下。</p>
<p><u>理中湯</u></p>
<p>治吐瀉不止。不飲水，身冷汗出，方可用此。</p>
<p>人參（三錢）　白朮（三錢）　乾薑（三錢）　甘草（三錢）　</p>
<p>《三因》：加附子水煎。</p>
<p><u>六和湯</u></p>
<p>治霍亂吐瀉，兩腳轉筋，四肢厥冷。</p>
<p>半夏　杏仁　甘草　縮砂　藿香　木瓜　赤茯苓　厚朴　香薷　白扁豆</p>
<p>姜三片，棗一枚，水煎服。</p>

<h2>嘔吐</h2>
<p>嘔吐者，胃經病也。有聲有物謂之嘔吐，有聲無物謂之乾嘔。《內經》云：木陳者，枝葉枯，病深者，其聲噦。噦為重病。若是胃寒嘔噦，吐清水冷涎，脈沉遲者，是寒吐，用理中湯加減。胃熱煩渴，嘔噦，脈數，是熱嘔，用黃連竹茹湯加減。發熱，嘔吐不止者，用柴胡湯加減。飽悶作酸嘔吐者，是停食吐，用香砂平胃散加減。煩熱，嘔噦吐痰者，是痰火吐，用二陳湯加減。寒水停胃嘔吐者，用茯苓半夏湯加減。久病嘔吐者，是胃虛不納穀也，用六君子湯加減。濕霍亂、乾嘔與夏月伏暑各有法治。止吐之心徐徐服之，不可急用，急則轉吐而不納矣。</p>
<p><u>理中湯加減</u></p>
<p>治胃寒，嘔吐清水冷涎。</p>
<p>人參　茯苓　白朮　乾薑　半夏　陳皮　藿香　丁香　砂仁　官桂</p>
<p>寒極，手足冷，脈微細，吐不止，加附子，去官桂。若煩渴，加神砂、炒米。</p>
<p>姜三片，烏梅一個，水煎，不拘時徐徐服。</p>
<p><u>黃連竹茹湯</u></p>
<p>治胃熱煩渴嘔吐。</p>
<p>黃連薑汁炒　竹茹　山藥炒　人參　白朮　茯苓　陳皮　白芍　麥冬　甘草　炒米</p>
<p>發熱，加柴胡。</p>
<p>烏梅一個，棗二枚，水煎，不拘時徐徐服。</p>
<p><u>二陳湯加減</u></p>
<p>治痰火嘔吐。</p>
<p>茯苓　半夏　陳皮　甘草</p>
<p>加白朮　人參　竹茹　砂仁　麥冬　烏梅　炒山藥</p>
<p>姜一片，棗二枚，水煎，不拘時徐服。</p>
<p><u>茯苓半夏湯</u></p>
<p>治傷寒水停胃，嘔吐。</p>
<p>茯苓　半夏　陳皮　甘草　蒼朮　厚朴　砂仁　藿香　乾薑　烏梅</p>
<p>姜一片，水煎，不拘時徐服。</p>
<p><u>六君子湯加減</u></p>
<p>治久病胃虛嘔吐。</p>
<p>人參　白朮　茯苓　白芍　山藥　當歸　藿香　砂仁　烏梅　蓮肉　半夏　陳皮　甘草　炒米　乾薑（少許）　</p>
<p>姜一片，棗二枚，水煎，不拘時徐徐服。</p>
<p>噁心者，心中兀兀然無奈，欲吐不吐，欲嘔不嘔，為噁心。此非心經病，病在胃口有寒、有熱、有痰、有胃虛、有停食、水。其治法同。</p>
<p><u>香砂平胃散</u></p>
<p>治傷食嘔吐。</p>
<p>方載傷食條內。</p>
<p>嘔吐，脈虛細，吉；實，大凶。</p>
<p>論曰：嘔吐有三種之分，有聲無物謂之噦，有聲有物謂之嘔吐。丹溪之論：當分氣血受之。氣受病令人多嘔，血受病令人多吐，氣血受病，有聲有物謂之嘔吐。河間曰：火氣炎上，痰隔中焦，食不得下。有氣逆者，有寒氣鬱於胃口者，但因火與痰者為多。大抵嘔吐皆是上焦受邪。今胃為受納之司，胃氣不和，病所生也。</p>
<p>田氏考之曰：胃中有火，膈上有痰，滿而上逆，不得下降。《經》曰：諸逆上升屬火，正謂此也。又有久病嘔吐者，乃因胃氣大虛，不納穀也。有夏月伏暑在內而嘔吐者，有酒食過多、氣不勝食而嘔吐者。後二經之病不分氣血受之，但隨經取症，從症用藥，虛補實瀉，自然之理。清火化痰，丹溪之法。凡人節飲食，寡嗜欲，不失四時之調養，則胃氣和平，何嘔吐之有？</p>
<p><u>降火化痰湯</u></p>
<p>治痰隔中焦嘔吐。</p>
<p>陳皮　半夏　茯苓　甘草　梔子（炒）　黃連（姜炒）　前胡　白朮　白芍　神麯</p>
<p>姜一片，水煎服。</p>
<p><u>和中桔梗湯</u></p>
<p>治上焦熱氣上衝嘔吐，酒食過多並皆治之。</p>
<p>桔梗　陳皮　枳實　茯苓　白朮　厚朴　半夏曲　黃連　白芍</p>
<p>姜水煎服。</p>
<p><u>加減蘇子降氣湯</u></p>
<p>治氣逆而嘔吐。</p>
<p>當歸　甘草　前胡　厚朴　陳皮　官桂　半夏曲　竹茹　香附　青皮　白朮　藿香</p>
<p>姜水煎服。</p>
<p><u>安胃和中湯</u></p>
<p>治久病胃虛而嘔吐者，寒氣在胃口而嘔吐者。</p>
<p>半夏　白朮　檳榔　木香　甘草　茯苓　藿香　人參　陳皮　厚朴</p>
<p>姜水煎服。</p>
<p><u>加減五苓散</u></p>
<p>治夏月中暑嘔吐。</p>
<p>豬苓　澤瀉　白朮　茯苓　官桂　人參　白扁豆　厚朴</p>
<p>共為末，冷水調服。</p>

<h2>膈噫</h2>
<p>膈噫者，年老之人陰血枯槁，痰火氣結，升而不降，飲食不下，而成此病也，用當歸養榮湯加減。年少之人有患此病者，胃脘血燥不潤便，故塞，用生津補心湯加減。大凡膈噫病翻胃，不可服辛熱香燥，最能耗血。糞如羊屎者不治，大腸無血故也；口吐白沫者不治，俱憊故也。</p>
<p><u>當歸養榮湯</u></p>
<p>治老年膈噫。</p>
<p>當歸　熟地　白芍　茯苓　貝母　枳實　瓜蔞　陳皮　香附　撫芎　蘇子　沉香　厚朴</p>
<p>姜一小片，棗二枚，水煎，入沉香末，調竹瀝服。</p>
<p><u>生津補血湯加減</u></p>
<p>治年少胃脘血燥，故塞。</p>
<p>當歸　熟地　生地　白芍　茯苓　枳實　陳皮　蘇子　沉香　貝母　砂仁　黃連（炒）　</p>
<p>姜一小片，棗二枚，水煎，入沉香末，調竹瀝服。</p>
<p>膈噫，脈氣虛、浮緩無力。有痰，寸關滑數；血虛，數而無力；有火，數而有力。</p>
<p>百病之始，皆損傷胃氣者多也。《經》曰：「二陽之病發心脾。」心主血，心受病則血不流；脾主味，脾受病則味不化，味不化則胃氣衰矣。日久元氣不足，胃脘漸干，所謂無血故也。丹溪曰：乾槁在上而近於咽者，飲水可行，食物難入，或可少食，名之曰噎。其槁在下而近於胃者，食雖可入，難盡入胃，良久復吐，名之曰膈。二者之病與翻胃相同，其名則異也。若胃氣和平，諸經不得相失，則臟腑之火不起，金水二氣有養，陰血自生，腸胃津液傳化不少，有何噫之有也？</p>
<p>田氏考之曰：此病多因內傷、外感，氣虛、血虛，有痰、有火，清氣返行濁道，三陽內結不行，以致此疾。張雞峰曰：「噎當是神思間病，惟內觀自養可以治之。」此言深中病情。法當氣虛補氣，血虛補血，有痰化痰，有火降火。老年者不治，糞如羊糞者不治，口中出沫、但見大者不治。皆因腸胃津少，氣血虛急，此三者之症所以故不治也。又不可用香燥之藥，服之令人速死。當薄滋味為主。惟牛乳可食，牛乳能潤腸胃。若不如此，十無一生也。</p>
<p><u>加減四物湯</u></p>
<p>治血虛噎膈。</p>
<p>芍藥　當歸　南芎　熟地　黃連　貝母　薏苡仁　瓜蔞　白朮　厚朴　香附　人參</p>
<p>姜一片，水煎服。</p>
<p><u>加減四君子湯</u></p>
<p>治氣虛。此藥下保和丸。</p>
<p>人參　白朮　茯苓　甘草　陳皮　半夏　黃連　貝母　竹茹　藕汁</p>
<p>姜一片，水煎服。</p>
<p><u>清火益胃湯</u></p>
<p>治痰火胃虛。</p>
<p>陳皮　黃連　厚朴　茯苓　甘草　黃芩　吳茱萸　白朮　知母　前胡　麥冬　貝母　五味子</p>
<p>煎法同前。</p>

<h2>翻胃</h2>
<p>翻胃者，吐食而不納也，俗言轉食。病名雖不同，法皆一體。年老之人多有此病。用安胃湯加減治之。</p>
<p><u>安胃湯</u></p>
<p>人參　白朮　茯苓　當歸　半夏　山藥　陳皮　川黃連　藿香　砂仁　烏梅　甘草　乾薑（煨）　建蓮肉</p>
<p>姜一片，棗二枚，水煎，不拘時服。</p>
