<header data-type="book">
<h1>婦科秘書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳起</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1884">公元1884年</data></dd></div>
</dl>
</header>

<h1>脈法</h1>
<p>《經》曰：婦人手少陰動甚者，妊子也。又曰：陰搏陽別，謂之有子。寸洪而尺大。又尺中之脈，按之不絕者，妊娠也。按：婦人帶證，足少陰脈亦多滑利，頗似孕脈，然必與手少陰脈動相應，方為妊子，否則為帶也。</p>
<p>凡婦人懷孕，其血留氣聚，胞宮內實，故尺陰之脈必滑數，此必然之理也。然亦有中年受胎，及血氣羸弱之婦，脈見細小不數者，但於微弱之中，必有隱隱滑動之象，此即陰搏陽別之謂，乃妊娠之脈也。但胎孕之脈數，勞損之脈亦數，然損脈數中兼弦澀，胎孕數必兼和滑。此幾證中，邪氣、胃氣之異，一診便知。再加審之以證，則顯然而明見者也。血衰氣旺定無妊，血旺氣衰應有嗣。婦人經脈不見行，其脈微滑帶數意。身雖有病脈無邪，不澀不伏不弦勁。寸微關滑尺數形，流動往來雀啄利，兩手關脈大相應，胎已有形無差異。右尺左寸滑見形，症別一男又一女。又云左寸浮大男，右寸沉細稱為女。滑疾按散三月胎，但疾不散五月母。八九十月疾數無，亦有始終洪數婦。胎脈弦牢滑利安，沉細而微歸泉路。若脈沉細腹微疼，雖有形如懷抱甕。腹滿不動是為奇，獨冷臍下翕翕動。更兼早暮尺不同，大小浮沉無定論。或動或止或有無，此是鬼胎脈現症。連診數日皆如此，補氣活血何須問？</p>
<p>女子二七天癸至，調經察脈要分明。兩手尺脈皆沉伏，此病分明是閉經。肝大肺小應有子，兩尺不斷滑方真。心腎俱旺知是孕，肺大肝小孕不成。左寸滑實為男脈，右尺沉滑女現形。肝肺俱浮胸膈痛，兩關沉緊腹中疼。一月一行為經信，或前或後要留心。先期而行為血熱，後期而至是寒經。經來疼痛為氣滯，行後而痛氣之虛。其色黑者多實熱，淡白而來痰所凝。煙塵黃水血不足，紫色由來風邪侵。行經之時宜慎重，若有憂鬱血必停。走於腰膝多疼痛，散在四肢則不仁。停於血海生寒熱，逆上衝心患戰驚。此是調經真妙訣，醫人熟記信有靈。</p>
<p>婦人尺中脈滑，女經不調，且有帶、淋之症；關中脈澀，天癸已斷，寧非鬱塞之疴。左寸滑而左尺大，懷子之兆；左尺數而左關微，有兒之徵。左寸帶縱，兩男之祥；右寸帶縱，雙女之喜。左關左尺脈皆大，心脈流利必三男；右關右尺脈皆大，心脈流利必三女。然三部有一部之滯，未宜遽許為胎；各脈無一脈之順，何敢輕言是孕。子死母存，尺浮而寸沉；母亡子活，尺澀而寸伏。蓋子繫於腎，尺浮則子無生氣；母系於肺，寸沉則母有生機。子繫於尺，尺澀而子之氣不散；母系於寸，寸伏而母之根已離。沉細之脈，胎欲離經；浮滑之脈，胎將即產。腹疼腰痛，定然作降；漿來胞破，未可言生。身重體寒面又青，脈無可畏；心煩血燥舌兼黑，脈斷堪憂。子母難留，唇口沫出；孃兒全活，面白顏黃。新產脈緩，自存胃氣；新產脈滑，未損脾陰。實大既形，定非佳兆；弦急兼現，豈是□祥？沉小實為順候，澀促半作返觀。脈微何足害，尚可回陽；脈洪反宜愁，最嫌逆冷。欲知有妊，尺中滑疾。左尺沉實，男子脈形；右尺浮大，女脈是實。左右俱滑，定生兩男；左右俱浮，二女脈真。左尺偏大為男，右尺偏大為女（大者如突狀）。又左尺浮大者為男，右尺沉細者為女。若脈來斷續虛弱者，月水不利也。</p>
<p>妊娠脈：其人能食身無苦，容飾如常是妊定，孕真帶嘔頭昏悶。此時停痰惡阻病，急宜正胃與消痰，固血安胎全兩命。若還腰腹俱疼痛，日夜咽乾潮熱盛，多眠惡食倦昏沉，此屬經凝卻非妊。</p>

<h1>行經三忌</h1>
<p>一行經感冒風寒，不宜發汗，又不宜速用發散藥，必俟經血行盡，方可服解表退熱之劑。如羌活、麻黃、桂枝、防風、細辛之類。</p>
<p>一行經之時，不亦多浴冷水，恐患四肢麻痹；又不宜多飲冷水，恐傷肺氣，必患聲啞咳嗽，無藥救治。</p>
<p>一行經不宜飲酒，恐引血妄行四肢；又不宜鬱怒太甚，恐經血必停，變成閉經；又不宜驟用補藥，恐致蓄血，或四肢疼痛，或五心寒熱。</p>
<p><u>調經奇方</u></p>
<p>歸身錢半（酒洗）　陳皮（七分）　真川芎（八分）　白芍（一錢酒炒）　大熟地（錢半）　丹皮（七分）　延胡（七分醋炒）　吳萸（滾水泡，去黑水，去蒂梗，酒炒二分）　香附米（錢半酒炒）　白茯苓（八分）</p>
<p>經行先期三、五日色紫者，加條芩（酒炒一錢五分）；經行過期色淡者，加官桂五分，炮熟黑姜五分，艾葉醋炒，五分，引用生薑一片，水一碗，煎至八分，空心溫服，渣再煎，臨臥服。此藥俟經行時服起，連用四劑，到次月經再行時，再服四劑，往後對月，可坐喜生男矣。</p>
<p><u>調經主方</u></p>
<p>當歸（三錢）　川芎（二錢）　白芍（酒炒二錢）　酒蒸地黃（三錢）　甘草　四制香附　陳皮（各一錢）　生薑（二片）</p>
<p>先期而來，血熱也，本方加酒炒黃芩、酒炒柴胡、丹皮各一錢；後期而至，血虛也，本方加蜜炙黃耆、土炒白朮、白茯苓、杜仲、故紙各一錢；經來痛甚，氣滯也，本方加桃仁、靈芝、紅花、元胡各一錢；經來痛甚有痞塊，加三稜、莪朮、山楂核俱用酒炒，各一錢；經行作痛，用八珍湯加吳萸、故紙、小茴各一錢；血淡不紅者，痰也，本方加半夏、南星、白朮、肉桂各一錢；經來多黑塊，實熱也，本方加酒炒黃連五分，紅花、丹參各一錢；經來多黃水，血不足也，加白苓、黃耆、肉桂、人參、白朮各一錢；經來手足痠痛，加桂枝、防風、秦艽各一錢；經來卒倒仆地，脈散，腮紅，火熱肝也，不可認作中風、中痰，本方加膽草。桃紅、柴胡、黃芩各一錢。</p>
<p>經水一月再行：經水一月再來行，多因怒氣損肝經，四物湯內加柴芩，川連增入更為靈。另加知柏為丸服，滋陰降火治衝任。</p>
<p>脈與症無火，而經早不及期者，乃心脾氣虛不能固攝而然。宜服八珍湯加杜仲、續斷、五味子，切不可作火治。</p>
<p>一月二、三至，或半月，或旬日，或二十日，此血氣敗亂之症，當大補氣血，不得以經早同治，宜服十全大補湯。</p>
<p>一血熱經遲，由婦人陰火內爍，血本熱而亦每過期者，此水虧血少燥澀而然。何以驗之？其經來必多紫黑，腹兼微痛，宜服滋陰八味丸合四物湯。</p>
<p>一血寒經遲，陽氣不足，生化失期，故過月也，何以驗之？其經來色多不鮮，或澀滯而少，惡寒喜暖，脈多微沉，此無火之症。宜服理陰扶陽四物湯：</p>
<p>當歸（二錢）　川芎（錢半）　白芍（酒炒一錢）　熟地（二錢）黑姜（錢半）　肉桂（一錢）　吳萸（六分）　蓽茇（五分）</p>
<p>經閉不行三候：一則脾胃有損傷，食少血虧非血停，急宜補脾還養血，血充氣足經自行。一則憂怒損肝經。肝火鬱閉經始停，開鬱二陳湯急用，四制女聖丸亦靈。一則體肥痰滯壅，故令經血不能通，加減導痰湯作主。多服方知藥有功，未嫁愆期經忽閉，急宜婚嫁自然通。</p>
<p>經閉飽脹腹痛：經閉飽脹有主方，皆用通經活血湯，丹皮荊芥川牛膝，赤芍歸芎生地黃，桃仁肉桂與紅花，澤蘭枳殼生蒲黃，閉久憂中成痞塊，更加莪朮與檳榔。</p>
<p>崩症三候：血崩之症分五名，赤者汁如洗絳形，黃如爛瓜流黃水，白猶鼻涕不留停，青則恰如青靛色，黑乃紫黑血塊凝。血未來時先發熱，此因肝火內相浸，清肝涼血有主方，加味逍遙實可尋。血虛氣弱血來崩，歸脾湯吃倍為靈。白崩之症另有方，八珍加減不須驚。絳色，肝火也；黃色，脾之濕熱也；白色，氣虛也；紅色，肝氣盛也；黑色，肝脾實熱。</p>
<p>一血來小腹微痛，歸脾加小茴、吳萸各七七。</p>
<p>一婦人行經三日前，骨中發熱，下血如崩，予用加味逍遙散，加知母、黃柏，每月服七、八劑，三月全愈，因素有憂鬱而致。</p>
<p>一婦人年逾四十，患崩症，白多紅少，予用歸脾湯去木香，加阿膠、續斷、淡吳萸、熟地（瓦炙乾）、杜仲、故紙（鹽水炒），十劑而愈。</p>
<p>赤白帶下：帶下者，由濕痰流注於帶脈，而下濁液，故曰帶下，婦人多有之。赤者屬熱，兼虛兼火治之；白者屬濕，兼虛兼痰治之；年久不止，補脾腎兼升提。大抵瘦人多火，肥人多痰，最要分辨。白帶、白濁、白淫三種，三者相似，而迥然各別。白帶者，時常流出清冷稠黏，此下元虛損也；白濁者，濁隨小便而來，渾濁如泔，此胃中濁氣滲入膀胱也；白淫者，常在小便之後，而來亦不多，此男精不攝，滑而自出也。</p>
<p>崩漏帶下危症：</p>
<p>一崩帶日久，純下臭黃水，或帶紫黑筋塊，腥穢不堪者，不治。</p>
<p>一崩帶腹滿，不能飲食，不受參、術補益者，不治。</p>
<p>一崩帶服大補劑後，反加寒熱口燥，面目足脛浮腫者，不治。</p>
<p>一崩帶已止，少腹不疼，後變陰戶腫脹，痛如刀割者，死期迫矣。</p>
<p>治婦人赤白帶下，此丸神良（此症須當壯脾胃，升陽氣為主）：</p>
<p>馬毛（二兩椒和，伏火一宿。白馬毛治白帶，赤馬毛治赤帶）　龜甲四兩（醋炙）　鱉甲（二兩醋炙）　牡蠣（二兩火炙）</p>
<p>為末，醋水跌，丸如梧桐子大，每服三錢，溫酒送下，日三服。為散尤妙。</p>
<p>氣陷於下焦則白帶，血陷於下焦則赤帶。以澀藥止之，則未盡之帶留而不出，以利藥下之，則既損之中，又傷其下，皆非治也。馬得乾之剛，毛得血之餘，血餘可以固血，乾剛可以利氣，固血則赤止，利氣則自愈，此用馬毛之意也。龜鱉、牡蠣外剛而內柔，離之象也，去其柔而用其剛，故可以化症，可以固氣，化症則赤白之成帶者，無復中留，固氣則榮衛之行不復下陷，營不陷則無赤，衛不陷則無白矣。</p>

<h1>惡阻論</h1>
<p>惡阻者，謂有胎氣，噁心阻其飲食也。妊娠稟受怯弱，中脘宿有痰飲，便有阻病，其症顏色如故，脈息平和，但覺多臥少起，肢體沉重，頭目昏眩，惡聞食氣，喜啖酸鹹，或嗜一物，或大吐，或時吐痰與清水，甚者或作寒熱，心中憒悶，嘔吐痰水，胸膈煩滿，恍惚不能支持，此皆胃氣弱而兼痰與氣滯者也。亦有素本不虛，而一受胎孕，則衝任上壅，氣不下行，故嘔逆者。又有由經血既閉，水漬於臟，臟氣不宣通，故心煩憒悶，氣逆而嘔吐，及三月餘而嘔吐漸止。蓋三月相火化胎之候，未能上食於母，血氣未用，五味不化，中氣壅實，其為鬱滯痰火穢惡之氣，盡衝於胃，所以有惡阻等症。以上諸症，輕者不須服藥，乃常病也；重者須少藥調之，宜用加味參橘飲。惡阻兼腰痛者，防胎墜下，猶宜二陳、四物，加條芩。白朮和中理脾為主，不可升舉，蓋嘔逆，氣已上升，再用升藥，則犯有升無降，上更實而下更虛，益促其墜矣。再若左脈弱而嘔，服諸藥不止者，當服理血歸原藥則愈，《經》云「無陰則嘔」是也。</p>
<p><u>加味參橘飲</u>　治孕成二、三月後惡阻，嘔逆惡食，或頭眩暈，倦怠者。</p>
<p>人參（一錢）　歸身（酒洗）　白朮（各二錢土炒）　半夏（八分制）　橘紅　藿香　炙草（各四分）　砂仁（三分碎）　竹茹</p>
<p><u>歸原散</u>　治妊娠惡阻，嘔吐不止，頭痛，全不入食，服諸藥不愈者。</p>
<p>人參　川芎　歸身　白芍　丁香　炙草（各五分）　茯苓　白朮（土炒）　陳皮（各一兩五錢）　半夏（一兩制）　桔梗（炒）　枳殼（麩炒各二錢半）</p>
<p>共為細末，引用姜五片，棗一枚，每服三錢。方內丁香不若易以砂仁或豆蔻為穩，如果胃寒之甚，用者亦詳慎之。</p>

<h1>胞漏並小產論</h1>
<p>凡妊娠經水，壅之以養胎，蓄之以為乳，其衝任氣虛。不能約制，故月水時下，名曰胞漏，血儘子死。然亦有妊娠血盛，月信常來而胎不動。俗呼狗兒胎也。若以漏胎治之，則胎必墜；若不以漏胎治之，其胎未必墜。亦有脈見滑數，而別無風熱病，經脈如常，但較前略少，此因胎小，血盛有餘而然，俟遲至三、四月外，兒大能飲，經脈自止。又有壯盛孕婦，按月去血點滴，若無腰痠胎動，不須服藥，此血氣強盛，孕至四、五月後，自然經止。如孕婦虛羸，腰常痠痛，並胎動而按月下血點滴，或下血不止，此非血有餘，乃胎漏也。宜服加味補中安胎飲。又云：胎漏多因於血熱，然亦有氣虛血少。服涼藥而下血益甚，食少體倦者，此脾氣虛而不能攝血也，宜歸脾等方加減。當以脈候察之，凡墜胎之病，多在三、五、七月，如前次三月會墜，後必如期乘其所虛而亦墜，必預服尊生安胎飲，或胎元飲加減用之，當服過七月，可無患矣。更宜戒房欲、氣惱、勞役、煿炙諸食，至於頓僕傷動胎氣，宜服膠艾安胎散。總屬妊娠氣血虛弱，胎元不固。蓋氣虛則提攝不固，血弱則灌溉不周，多致小產。況婦人腎以系胞，而腰為腎之腑，腰痛則墜，不可不防。大凡妊娠三月後，尺脈或澀或微弱，胎必不固，惟脈洪盛者，胎不墜耳。所以《脈訣》內云：胎脈弦牢滑利安，沉細而微歸泉路。正此之謂也。總之，三月以前宜養脾胃，四月以後宜壯腰腎，補血順氣，佐以清熱，此大法也。</p>
<p><u>加味補中安胎飲</u>　人參（一錢）　白朮（土炒）　當歸（各二錢酒洗）　川芎　黃芩（各八分）　</p>
<p><u>紫蘇</u>　陳皮　砂仁（碎）　炙草（各四分）</p>
<p><u>尊生安胎飲</u>　亦治胎動、胎漏。</p>
<p>歸身（酒洗）　白芍（酒炒）　熟地　生地　砂仁　阿膠（各一錢炒珠）　杜仲（鹽水炒去絲）　白朮（各二錢土炒）　條芩（一錢五分）　續斷肉（八分酒製）　川芎　陳皮　蘇梗（各五分）</p>
<p><u>景岳胎元飲</u>　治婦人衝任失守，胎元不安不固，或間日或二、三日服一、二劑。</p>
<p>人參隨宜　當歸（酒洗）　杜仲（鹽水炒斷絲）　白芍（各二錢酒炒）　熟地（二三錢）　白朮（一錢半土炒）　陳皮（七分無滯者不必用）　炙草（一錢）</p>
<p>水二鍾，煎七分，食遠服。如下元不固而多遺濁者，加炒山藥、炒補骨脂、五味之類；氣分虛甚者，倍白朮，加灸黃耆，但耆、術氣浮，能滯胃口，倘胸膈有飽悶不快者，須慎用之。如虛而兼寒多嘔者，加炮姜七八分或一二錢；如虛而兼熱者，加酒炒黃芩一錢半，或加生地二錢，去杜仲；如陰虛小腹作痛，加枸杞二錢；如有所觸而動血者，加制續斷肉、炒阿膠各一二錢。</p>

<h1>諸痛論</h1>
<p>妊娠心腹痛，或宿有冷痞痰飲結聚，或新觸風寒，邪正相擊。若胸腹膨滿，按之而痛，乃飲食停滯，用人參養胃湯；按之不痛，乃脾胃受傷，以六君補之。腹中滿痛叉心，不得飲食《千金》芩術芍藥湯。如不時腹痛，名曰胎痛。有血虛，有氣滯二因，然血虛居多，用熟地三錢、當歸一錢，煎湯治之。不應，加參、朮、陳皮，丹溪用四物去川芎，倍加熟地。若氣滯者，紫蘇飲治之；若痛而重墜，因中氣虛陷，用補中益氣湯。</p>
<p>如胃口痛，多因脾虛，存食不消，宜養胃消食，《綱目》用平胃散，加枳殼、山楂。予謂：平胃散恐致損胎，非所宜也，宜養胃湯加減。</p>
<p>妊娠脅痛，有因哭泣，因內傷，因惱怒，不宜破氣，宜用童便和酒服之，或紫蘇飲去參，用白芍、當歸，加砂仁、童便。</p>
<p>妊娠臍下冷痛，腹脹虛疼，小便頻數，大便虛滑，皆食生冷所致，小建中加炮薑、木香。不應，更加茴香、良薑。</p>
<p>妊娠少腹痛，虛熱，紫蘇飲；虛寒，膠艾湯。若小腹近下處腫脹，浮薄發光者，孕癰也，《千金》托裡散，或薏苡仁煎汁飲。若心腹急痛，煩悶面青，冷汗氣絕，血下不止，其胎上衝者，不可治也。</p>
<p>妊娠腰痛，有腎虛作痛，則脈大而痛不已，急服八珍加膠艾、黃耆，或紫蘇飲加減。有勞力任重，致傷胞系欲脫，宜安胎飲，加杜、續。有房事不節，致傷胞系，用熟地、當歸、阿膠、砂仁、竹茹、炙草，調男子褲襠灰一錢，禁房事百日要緊。有濕熱脈緩，遇天陰或久坐而痛，多下白物，二妙散加柴胡、防風、茯苓、半夏。有寒濕腰重如帶物而冷者，用紫蘇飲加減，易健脾溫燥藥。有氣血凝滯脈澀，而日輕夜重，不得臥，遍身拘急不舒而痛，眼生黑花，紫蘇飲加枳殼、桔梗。有悶銼脈實，膠艾芎歸湯，或佛手散，或熬枯黑糖，沖童便，酒調服。有走注痛，敗血入經之症，四烏湯加薄、桂、杜、續。</p>
<p>妊娠背脊痛，氣滯也，紫蘇飲治之。</p>
<p>妊娠腰腹及背痛，夫腎主腰，勞損經虛，風冷乘之則腰痛，乘虛入腹則腹痛，故腰腹相引而痛，痛不止，恐墜胎。又有勞傷腰腹背痛，補中益氣加杜仲。然多有因病淋症而痛者，宜體察之，止用加味導赤湯治淋，淋止痛除。</p>
<p>妊娠環跳穴痛，屬腎虛，宜六味地黃湯加杜、續，或《千金》保孕丸。</p>
<p>妊娠目赤痛，咽喉痛，口鼻唇舌瘡痛，俱用涼膈散加減。</p>
<p>妊娠負重跌僕，凝血作痛，欲服活血藥，則恐傷胎，不服則所傷之血，留而不去。治之者，當先辨胎之死生，如無別症，只用黑糖熬枯，入陳酒、童便調服。細嚼連皮胡桃過口，死者當下，生者其痛即止。若因怒跌僕，或手足抽搐者，紫蘇飲加鉤藤。倘去血過多，八珍湯去茯苓，加阿膠、艾葉、黃耆。</p>
<p><u>人參養胃湯</u>　治食滯痞滿。</p>
<p>人參　蒼朮（米泔水浸，去皮，麻油拌炒黃色）　陳皮（去白）　藿香　制夏　厚朴（去皮，薑汁炒）　茯苓　草果　炙草　姜　棗　烏梅</p>
<p>引水煎服。</p>
<p><u>《千金》芩術芍藥湯</u>　治妊娠腹中滿痛，叉手，不得飲食。</p>
<p>白朮（六錢土炒）　黃芩（二錢）　白芍（四錢）</p>
<p>上三味，水煎，分三服。半日令盡。</p>
<p><u>紫蘇飲</u>　治妊娠臨月浮腫喘脹，並子懸症，胎不安，上㽲作痛，或臨產氣結不下等症。</p>
<p>當歸（酒洗）　紫蘇　川芎　芍藥（酒炒）　陳皮　大腹皮（黑豆水煮，制淨各一錢）　人參　炙草（各五分）</p>
<p>引加生薑三、五片，蔥白七寸，水煎服。感冒風寒，去腹皮，加香豉，胎動不安，加炒黃芩、土炒白朮；胎不運動，加木香、砂仁。</p>
<p><u>膠艾湯</u>　治婦人漏下，或半產後下血不絕，或妊娠下血腹痛，亦治損傷衝任，月水過多，淋漓不斷。</p>
<p>乾地黃（二錢）　芍藥（一錢半）　阿膠（蒲黃炒成珠）　艾葉　當歸（各一錢）　川芎　甘草（各分）</p>
<p><u>《千金》托裡散</u>　治半身以下濕熱疼重而腫。</p>
<p>厚黃柏（薑汁製數次）　蒼朮（茅山者佳，去皮，切片。麻油拌炒黃色）</p>
<p>等分為散，薑汁調，空心溫酒送二錢。</p>
<p><u>膠艾芎歸湯</u>　治妊娠二、三月至八、九月，頓僕跌傷，胎動不安，腰腹疼痛欲死，已有所下。</p>
<p>阿膠（蛤粉或蒲黃炒珠）　川芎　當歸　乾地黃　艾葉</p>
<p><u>四烏湯</u>　治血中氣滯，小腹急痛。</p>
<p>熟地　當歸（各二錢酒洗）　川芎（八分）　白芍（一錢半酒炒）　烏藥（六分）　香附（七分制）　炙草（五分）</p>
<p><u>加味導赤湯</u>　治孕婦小便少又澀痛者，謂之子淋，又治溺血。</p>
<p>人參　生地　條芩　木通　甘草梢　麥冬（去心）　赤芍（各一錢）　淡竹葉十五片</p>
<p><u>東垣涼膈散</u>　孕婦有熱病，如目赤、口舌瘡之類，各隨其症加減用之。</p>
<p>黃芩（酒炒）　黃連（酒炒）　山梔仁（酒炒）　連翹（去心）　桔梗　生草（各等分）　薄荷葉（少許）</p>

<h1>胎逆上逼脹滿子懸論</h1>
<p>妊娠胎逆上逼，重則脹滿疼痛，謂之子懸，紫蘇飲為必用之藥。蓋因紫蘇飲為治妊娠胎氣不和，濁氣舉胎上湊，胎熱氣逆，心胃脹滿之症，且此症挾氣者居多，宜疏氣舒郁，非紫蘇、腹皮、川芎、陳皮無以流氣，非歸、芍無以養血，氣血既利而胎自降。然邪之所湊，其氣必虛，故以人參、甘草補之。大抵胎氣上逆，皆屬火旺，急用芩、朮、香附之類，不可服大寒之藥，反致他變。予每治孕婦心胃脹滿。用尊生和氣飲甚效。子懸，症有兩尺脈絕，餘脈平和，不可錯認死胎，且死胎有面青、舌青可辨，宜紫蘇飲治之，則胎歸原位，脹消脈起矣。如月胎上逼心，嘔噦欲死，急用童便灌之即下，或烏梅肉十枚研爛，入生薑三片，煎湯灌之亦下，取酸以降斂之，兼辛以散火氣之逆也。又有因坐草太早，心懷恐懼，氣結不行，紫蘇飲一服便產。</p>
<p><u>尊生和氣飲</u>　治孕婦心胃脹滿。</p>
<p>人參　蘇梗　白芍（酒炒）　川芎（各六分）　當歸（一錢或六分酒洗）　腹皮（五分制淨）　木香（二分磨沖）　炙草（三分）</p>

<h1>諸血症論</h1>
<p>妊娠吐血，凡七情內傷，六淫外感，皆足致失血之患。一主火熱者，以氣血壅養胎元，或有所感，則氣逆而火上乘，心煩滿悶，血隨而溢，甚者或致墜胎。但火有虛實之分，實火，清熱養血；虛火，滋陰補水，則血安胎固。若泛用行血、清血之劑，胎必墜而禍不旋踵矣。</p>
<p>鼻衄不止，東垣涼膈散，加當歸、生地各一錢，茅花一大團，生薑（引）。</p>
<p>咳嗽咳血，宜涼血地黃湯。《醫通》云：咳嗽咯衄，胎前皆不宜見，如面赤聲啞，不治。又云：凡咯吐血，多致墜胎，胎賴血養，不宜漏溢，宜紫蘇飲加條芩。</p>
<p>尿血乃熱乘血分，流滲於脬，故令尿血自尿門而下，若胎漏則自人門下血可辨。宜四物加山梔、發灰，或阿膠、熟地、麥冬、五味之類。如怒動肝火，小柴胡加山梔；脾氣下陷及勞動脾火，補中益氣加茯苓、車前；若厚味積熱，加味清胃散；若肝脾血流，加味逍遙散。</p>
<p>腸風臟毒下血者，平胃散去蒼朮，加槐角、防風、當歸、烏梅治之。</p>
<p><u>涼血地黃湯</u>　治妊娠咳嗽、吐血、咳血。</p>
<p>生地（三錢）　麥冬（去心）　當歸（各二錢酒洗）　黃芩（一錢半）　紫菀　知母（鹽水炒）　白朮（土炒）　天冬（去心各一錢）　犀角（八分）　陳皮　甘草（各四分）</p>
<p>水煎。有喘加栝蔞仁一錢。</p>
<p><u>加味清胃散</u>　治胃中蘊熱，斑疹，口舌生瘡，齒齦腐爛出血。</p>
<p>生地（四錢）　丹皮（五錢）　當歸　川連（酒蒸）　連翹（去心各三錢）　升麻　生草（各一錢五分）</p>

<h1>子腫子氣子滿論</h1>
<p>妊娠子腫，與子氣相類，但子氣在下體，子腫在頭面。若子滿症，又名為胎水，則在五、六月以後，比子氣、子腫不同。蓋胎大則腹滿，遍身浮腫。凡子氣、子腫、子滿，由臟腑本弱，或因泄瀉下利，耗傷脾胃，或寒熱瘧疾，煩渴加飲，濕漬脾胃，使頭面手足浮腫也。然水漬於胞，兒未成形，則胎多損壞，故初妊即腫。急宜調治，水去脹消，仍用六君子調補。</p>
<p>所謂子腫者，妊娠面目虛浮，多因脾胃氣虛，或久瀉所致。宜健脾利水，全生白朮散主之，或用健脾利水湯。</p>
<p>所謂子氣者，妊娠自三月成胎之後，兩足面漸腫至腿膝，或腰以下腫，行步艱難，以致喘悶不寧，飲食不美，似水氣狀，甚至腳指間有黃水出者。蓋脾主四肢，脾氣虛弱，不能制水而發腫，肺金少母氣滋養，而氣促滿悶，諸書名曰子氣，即水氣。治此病者，先服加味天仙藤散。如不效，則服茯苓湯；再不效，服補中益氣湯加茯苓。至孕婦八、九個月，脛腿俱腫，非水氣比，不可以水氣治之，反傷正氣。凡有此者，必易產。因胞臟中水血俱多，不致胎燥也。</p>
<p>所謂子滿者，妊娠至五、六個月，胸腹急脹，腹大異常，或遍身浮腫，胸脅不分，氣逆不安，小便艱澀，名曰子滿，又為胎水不利。若不早治，生子手足軟短有疾，甚至胎死腹中。宜服《千金》鯉魚湯治其水。</p>
<p><u>《全生》白朮散</u>　治妊娠面目虛浮，如水腫脹。</p>
<p>白朮（一兩土炒）　生薑皮　大腹皮（豆汁制淨）　茯苓　陳皮（各五錢）</p>
<p>為末，每服二錢，米飲調下。</p>
<p><u>加味天仙藤散</u>　治孕婦腰腳腫，虛人多有此症。</p>
<p>天仙藤（即青木香藤，洗，略炒）　制香附　紫蘇（各六分）　陳皮（四分）　烏藥（五分）　木香（二分）　姜皮（三片）</p>
<p>虛人加人參一錢、土炒白朮二錢、酒洗當歸二錢，或兼服補中益氣湯。</p>
<p><u>茯苓湯</u>　治孕婦六、七個月以來，兩足腫大，行步艱難，腳指間有黃水出，此名子氣，人多有之，生子之後，其腫自消，甚者，此湯主之。</p>
<p>白茯苓　白朮（土炒）　陳皮　制香附　烏藥（各一錢）　紫蘇（連莖葉）　炙草（各五分）　木瓜（三片）</p>
<p><u>《千金》鯉魚湯</u>　治孕婦胸腹脹滿，或遍身浮腫，小便艱澀，名曰子滿。又為胎水不利，或胞中積水，以致胞死腹中。</p>
<p>白朮（五錢土炒）　白茯苓（四錢）　當歸身（三錢酒洗）　白芍（二錢）　鯉魚一尾（重二斤，要活的）</p>
<p>將魚去鱗、腸，加橘皮少許或五分，姜七片，用水扣湯煮，取汁一盞半，去魚，入藥四味魚汁內，煎七分，空心溫服，渣再製如前。</p>

<h1>子煩並五心煩熱及煩躁口乾論</h1>
<p>妊娠心驚膽怯，煩悶不安，名曰子煩，竹葉安胎飲主之。大抵皆由心肺虛熱，是以擾亂心煩。或積痰於胸，吐涎惡食，亦令心煩，劇則胎動不安。如心肺虛熱，或積痰於中，《千金》竹瀝湯。若吐甚，胎動不安，煩悶口乾，不得眠，又吐涎過多，以致外雖不熱，而覺五心煩熱，或日間不覺，而夜覺熱者，並宜加味竹葉湯。至於娠婦煩躁口乾者，緣足太陰脾，其氣通於口；手少陰心，其氣通於舌。臟腑氣虛，熱乘心脾，津液枯燥，故心煩口乾，與子煩大同小異，宜用加減參麥湯。</p>
<p><u>竹葉安胎飲</u>　治孕婦心驚膽怯，煩悶不安，名曰子煩症。</p>
<p>人參　生地　棗仁（去殼，炒研）　遠志（甘草水制，去骨各一錢）　當歸（酒洗）　白朮（土炒各二錢）　麥冬（去心）　條芩　川芎（各八分）　陳皮　炙草（各四分）　竹葉（十四片）　姜　棗</p>
<p>煎服。</p>
<p><u>《千金》竹瀝湯</u>　治妊娠子煩。</p>
<p>竹瀝一盞，茯苓（三錢）　麥冬（去心）　防風　黃芩（各三錢）</p>
<p><u>加味竹葉湯</u>　治妊娠心煩不解，名曰子煩，並治五心煩熱。</p>
<p>人參　黃芩（各一錢）　茯苓（一錢五分）　麥冬（二錢半去心）　竹葉五片，粳米一撮</p>
<p>水煎，空心熱服。</p>
<p><u>加損參麥湯</u>　治孕婦心神煩躁，壅熱口乾。</p>
<p>人參　知母　麥冬　梔子（炒各一錢）　栝蔞根　犀角（磨各八分）　條芩　炙草（各五分）　棗（一枚）</p>
<p>水煎服。夏加竹瀝八分、薑汁少許。</p>

<h1>子淋論</h1>
<p>妊娠小便淋漓澀少，由氣血聚養胎元，不及敷榮滲道，遂使膀胱鬱熱。又云：妊娠胞系於腎。腎間虛熱，移於膀胱而成斯症，名曰子淋，加減安榮散主之。然古方安榮散內有滑石，但石乃鎮重之劑，恐致墜胎。若臨月猶可，如在七、八月之前，宜去此味，加石斛、山梔為穩。《全書》云：子淋症，用安榮散不應，兼服八珍湯。如腿足轉筋而小便不利，急用八味丸，緩則不救。予謂：桂、附犯胎，忌用。當是麥冬、車前之八味丸也。</p>
<p><u>加減安榮散</u>　治孕婦小便短澀，或成淋漓。</p>
<p>人參　當歸（酒洗各二錢）　麥冬（二錢或三錢）　白朮（一錢土炒）　通草　茯苓皮（各八分）　生草（五分）　燈心（五分）</p>

<h1>轉胞淋閉論</h1>
<p>妊娠轉胞，乃臍下急痛，小便不通。凡強忍小便，或尿急疾走，或飽食忍尿，或忍尿入房，使水氣上逆，氣逼於胞，故屈戾不得舒張所致，非小腸、膀胱受病，而利藥所能利也。法當治其氣則愈。凡婦人稟受弱，憂悶多，性躁急，食厚味者，恆有之。因胞不自轉，為胎所壓，胎若舉起，胞系自流，水道自通矣。用二陳昇提飲。又有用補中益氣湯，服後探吐，以提其氣自通。通後即用參、耆大補，恐墜胎也。但子淋與轉胞相類，小便頻數，點滴而痛者，為子淋。膀胱、小腸虛熱也，虛則不能制水。熱則不能通利，故淋。若頻數出少不痛者，為轉胞，間有微痛，終與子淋不同耳。論中急痛，乃急欲便而痛，得便則止，間有微痛，與子淋點滴痛不同。</p>
<p><u>二陳昇提散</u>　治孕婦臍腹作痛，小便淋閉不通，或微痛，與淋有別。由氣虛、胎壓水胞。</p>
<p>人參（一錢）　白朮（土炒）　生地（各一錢半）　當歸（二錢）　川芎（八分）　半夏（六分制或油炒）　柴胡　升麻　陳皮　炙草（各四分）　姜（一片）</p>
<p>煎服。予謂，探吐法莫若通後服提補之藥。</p>

<h1>子嗽論</h1>
<p>妊娠咳嗽，屬風寒。蓋肺臟內主氣，外司皮毛，皮毛不密，寒邪乘之，則咳嗽。嗽久亦恐墜胎，寧肺止嗽散加減用之。有久嗽不愈，多因脾土虛而不能生肺氣，以致腠理不密，外邪復感，或因肺虛不能生水，以致陰火上炎。治法當用補中益氣湯，以培土金，六味丸加五味，以生腎水為善。</p>
<p><u>寧肺止嗽散</u>　治孕婦風寒咳嗽。</p>
<p>麥冬（二錢）　知母（一錢）　桔梗　紫蘇（各五分）　杏仁（十粒去皮尖）　桑白皮（六分）　甘草（四分）</p>

<h1>喘急論</h1>
<p>妊娠氣喘不得臥，有因乍感風寒客邪為害者，宜發散自愈，參蘇飲主之。若脾虛，四肢無力；肺虛，不任風寒；腎虛，腰痠短氣，不能行步。猝然氣喘不息，此脾肺素虧，母虛子亦虛，腎氣不歸元而上乘於肺也。生脈散、補中益氣湯去升柴主之。丹溪云：火動作喘，此胎前最多，蘇桔湯可加減，用之獲效。</p>
<p><u>參蘇飲</u>　人參　紫蘇　乾葛　前胡　制夏　茯苓　陳皮（各等分）　枳殼（麥炒）　桔梗　木香　甘草（各減半）</p>
<p><u>蘇桔湯</u>　治孕婦風寒咳嗽，並治火動作喘。</p>
<p>天冬（六分去心）　桔梗（一錢五分）　紫蘇　黃芩　貝母（去心各八分）　杏仁（十粒）　陳皮　知母　甘草（各四分）</p>

<h1>泄瀉論</h1>
<p>妊娠泄瀉，有風寒暑濕之外感，飲食生冷之內傷，病發一時，察其所因。如胃風，加味治中湯。然又有由脾腎二臟虛者，不可不知。夫血統於脾，血壅胎元，則脾陰虛而食不運化，脾主健運，下焦壅滯，而清氣難舒，於是水穀難消而作瀉。或因胎繫於腎，胎竊其氣以擁護，而腎氣既弱，命門火衰，不能上蒸脾土，此皆妊娠泄瀉之由也。如脾虛內傷，用加味六君子湯，隨所因而加之。命門火衰，加益智以助之。至於妊娠久瀉，元氣下陷，發熱作渴，肢體倦怠，用補中益氣湯。</p>
<p><u>加味治中湯</u>　治飲食過多，脾胃之氣不足運化而作瀉。</p>
<p>人參　白朮（土炒）　炮姜　甘草（各一錢）　陳皮　青皮（各七分）　砂仁（五分）</p>
<p>水煎服。</p>

<h1>霍亂論</h1>
<p>妊娠因甘肥過度，腐積成痰，或七情鬱結，氣盛為火，停蓄胃中，乍因寒熱之感，邪正交爭，陰陽相混，故令心腹絞痛，吐利並作，揮霍變亂，謂之霍亂。如邪在上，則當心痛而吐多；邪在下，則當臍痛而利多；邪在中脘，則腹中痛，吐利俱多。吐多傷氣，利多傷血，血氣受傷，不能護養其胎，邪氣鼓擊胎元，子母未有不殞者。此危症，不可不亟治也，宜香蘇散加藿香葉，或先服後探吐之。又加味四味紫蘇和胎飲，治心腹絞痛，上吐下瀉亦效。</p>
<p><u>香蘇散</u>　此方治霍亂，平正之至。</p>
<p>香附（炒）　紫蘇（各二錢）　陳皮（一錢）　藿香葉　縮砂　炙草（各五分）</p>
<p>水煎服。如轉筋，加木瓜一錢；胎動不安，加土炒白朮一錢半；夏月得之，加黃芩一錢五分，炒黃連一錢，香薷二錢；如冬月得之。加人參、炒白朮各一錢，炮姜五分。</p>
<p><u>加味四味紫蘇和胎飲</u>　治心腹絞痛，上吐下瀉。</p>
<p>紫蘇　黃芩　白朮（土炒各一錢半）　炙草（以上四味和胎飲本方）　藿香葉　陳皮（各一錢）　砂仁（炒五分）</p>

<h1>中惡中暑中濕中風論</h1>
<p>妊娠忽然心腹刺病，悶絕欲死者，謂之中惡，即俗謂㽲腸痧是也。蓋因血氣不和，精神衰弱，邪毒之氣得以中之。孕婦病此，亦致損胎。薛氏云：此症當調補正氣為善。用金銀藤一味，煎湯飲之。《濟陰綱目》內用散滯湯治之，又煮艾方，治正中惡極妙。</p>
<p>妊娠盛暑時，中暑熱之毒，其症發熱而渴，自汗，精神昏憒，四肢倦怠，少氣，清暑和胎飲主之。</p>
<p>妊娠中濕，或因早行，感霧露之氣，或冒水，或久居下濕地，或大汗出浴冷水，其症發熱，骨節煩痛，身體重著，頭痛鼻塞，黃芩白朮湯主之。</p>
<p>妊娠中風，因體虛則中之，乃四時八方之氣為風，自沖方來，中人即病。中其皮毛經絡者，則發寒熱，頭項身體皆痛，或肌肉頑痹；中其筋骨者，則拘攣強直；中其臟腑者，則卒倒昏悶，口眼喎斜，手足瘈瘲，口噤不語。孕婦得此，不可用常治風之法，以補虛安胎為本，兼用搜風之劑，搜風安胎飲治之。但胎前正中風者，少子癇之症實多，與中風見症無異。醫者當審實是中風，方可用搜風安胎，否則子癇症治也。</p>
<p><u>散滯湯</u>　專治觸惡胃氣，傷胎肚痛，手不可近，不思飲食。</p>
<p>青皮（三錢）　黃芩　芍藥（各二錢）　歸尾（一錢半）　川芎（一錢）　木香（五分）　炙草（少許）</p>
<p>上分二帖，水三盞，先煮苧根二大片，至二盞，去苧根，入前藥同煎至一盞，熱服。</p>
<p><u>清暑和胎飲</u>　黃耆（炙）　人參　白朮（土炒）　黃芩　黃連　知母　麥冬　炙草（各一錢）　五味（十二粒）</p>
<p><u>黃芩白朮湯</u>　黃芩　白朮（土炒各五錢）　蘇葉（二錢半姜五片）</p>
<p>水煎服。</p>
<p><u>搜風安胎飲</u>　歸身　黃耆（蜜炙）　羌活　黃芩　秦艽　防風　炙草（各一錢）</p>
<p>薑、棗煎，服至以平為期。</p>

<h1>子癇論（一名子冒）</h1>
<p>妊振子癇，乃為惡候，若不早治，必致墜胎。其症或口噤項強，手足攣縮，言語蹇澀，痰涎壅盛，不省人事，或忽然眩暈卒倒，口不能言，狀如中風，實非中風之證，不可作中風治。即或無痰，言語如常，但似風狀，多因血燥、血虛，亦不可概以風治而誤也，羚羊角散主之。馮氏云：孕婦忽然僵仆，痰涎壅盛，不省人事，乃是血虛而陰火炎上，鼓動其痰，左脈微數，右脈滑大者，名曰子癇。宜四物養血，酒芩清熱，二陳化痰理氣，治法仍以安胎為主，勿過用中風之藥。此由血虛生熱，熱盛生風，皆內起之風火，養血而風自滅。若心肝風熱，用鉤藤湯，肝脾血虛，加味逍遙散；肝脾鬱怒，加味歸脾湯；氣鬱痰滯，紫蘇飲；脾郁痰滯，二陳加竹瀝、薑汁。密齋云：孕婦氣虛挾痰火症，狀如中風，卒倒即醒，醒而復發，清神湯主之。予謂：妊娠子癇，至有目昏黑而厥者，胎前絕少。但一有此症，即是兒暈，屬氣與痰，故目昏黑髮厥，只服紫蘇飲，慎不可服蘇合丸，及烏藥順氣散等藥。至於破傷失血，或吐衄血，忽患口噤，項強背直，類中風症，皆因失血所致，不可不知，用荊防安胎散治之。</p>
<p><u>羚羊角散</u>　治孕婦口噤項強，手足攣縮，痰壅，不省人事。</p>
<p>羚羊角　苡仁米　棗仁（去殼炒各一錢）　當歸（二錢酒洗）　獨活　五加皮　茯神（各八分）　川芎（七分）　杏仁（十粒去皮尖）　防風（五分）　木香（三分）　甘草（四分）　姜引</p>
<p><u>鉤藤湯</u>　治孕婦手少陰、足厥陰，血虛風熱。</p>
<p>人參　當歸　茯神　桑寄生　鉤藤（各一錢）　苦桔梗（一錢半）</p>
<p>水煎服。</p>
<p><u>清神湯</u>　治孕婦忽然眩暈卒倒，口噤不能言，狀如中風，須臾即醒，醒而復發，乃氣虛挾痰火子癇症。</p>
<p>人參　白朮　茯苓　白芍　黃耆（蜜炙）麥冬　歸身　炙草（各等分）</p>
<p>食遠服。</p>
<p><u>荊防安胎散</u></p>
<p>人參　當歸（酒洗）　白朮（土炒各三錢）　生地　天麻（各二錢）　麥冬（一錢）　條芩（八分）　荊芥　防風（各三分）　陳皮　甘草（各四分）</p>
<p>水煎服。</p>

<h1>痢論</h1>
<p>妊娠痢下，因飲食生冷，脾胃不能克化，致令心腹疼痛。傷血則赤，傷氣則白，氣血俱傷則赤白相雜。蓋血屬陰，陰傷則受熱居多。然又有陽氣傷，不能統陰血而痢赤，又不得不從事於辛溫。故治血痢，猶當以色之顯晦，驗其虛實寒熱。故凡積之瘀晦不鮮，清稀不稠，皆虛寒之候，即陽不統陰之血，急投人參、薑、艾，或可保全。倘不審而誤服芩、連，乃速其斃也。惟積之稠黏、紫赤而光澤者，合用苦燥以堅腸胃之滑脫。又必當佐以調氣之藥，則陰邪解釋，非若白痢之不可雜以芩、連、芍藥等味，引領滯穢襲傷陰血也。氣屬陽，陽傷則受冷居多，即有火注下迫，皆陽氣鬱遏，本寒標熱之症，不可純歸於熱，但當驗其積之稠黏如糊，色白如脂，方可暫與清熱治標，若汁沫如水，色晦如塵，急須溫理其氣，即有熱症，皆假象無疑，其虛實寒熱既分。而又有三禁、三善、五審之不可不知也。一禁，滌盪腸胃，恐陽氣下陷，胎氣愈墜；二禁，滲利膀胱，恐陰津脫亡，胎失榮養；三禁，□澀滯氣，恐濁氣愈滯後重轉加。故善治妊娠之痢，惟以調氣為先，即已敗積沫，隨氣而下，未傷津液，統之而安。夫調氣有三善，一使胃氣有常，水穀輸運；二使腹滿腹痛，後重漸除；三使濁氣開發，不致侵犯胎元。所謂五審者，一審飲食之進與不進。夫痢乃腸胃受病，若痢勢雖甚，飲食無妨者，易治。故痢以噤口為最劇，在初起濁邪全盛之時，不足為慮，但要清理積滯，飲食自進矣。若七日以後，尚不能食，脈反數盛，此必初時失於清理之故，急需調氣理中，則積沫漸下，飲食漸進矣。或初時能食，至一旬一氣後，反不能食，脈息不振，此必滌盪太過，胃氣受傷所致。亦有過用芩、連、檳、樸，苦寒破氣，而致呃逆嘔噦者，胃氣大敗，最危之兆，惟峻與溫補，庶可挽回。若脈見數疾無倫，或翕翕虛大，或歇止不前，或弦細搏指者，皆胃氣告匱，百不一生矣。二審溲之通與不通。下痢清濁不分，若痢雖頻，而水道順利者，胎必無虞。若月數將滿，胎壓尿胞，每多溲便頻數，轉胞脹悶之患，切禁利水傷津，急與開提自通。但須察其脈，無過壯過硬之形，便宜補中益氣，稍加澤瀉、車前，以升清降濁投之，無不輒應，非特妊娠為然，即平人久痢，津液大傷，而溲澀不通者，亦宜此治法也。三審腹之痛與不痛。下痢腹痛，必然之理。然間有濁濕下趨，而無郁沸之火者，則不痛也，但此多見於肥白人之白痢。若血痢，與瘦人多火者，罕見也，治宜調氣運積，不用清火明矣。原其腹痛有寒熱之分，痛有止歇，痛則奔迫下墜。至圊不及者，火也；痛自下而攻擊於上者，火也；痛而脹滿，不勝摩按，熱飲愈甚者，火也，實也。痛無止歇，常時痛而無絞刺者，寒也；痛自上而奔注於下者，寒也；痛而不滿，時喜溫手摩按，飲熱漸緩，欲至圊而可忍須臾者，虛也，寒也。大約初痢脹痛為熱為實，久痢㽲痛為虛為寒，即初因火注切痛，痢久傷氣，亦必變為虛寒也。故久痢腹痛之脈，無論大小遲數，但以按之漸漸小者，並屬虛寒，急需溫補。慎勿利氣，惟急痛、脈實、久按不衰者，可稍用炮黑薑、連和之。四審後之重與不重。下痢後重，濁氣壅滯也。夫開通壅滯，必以調氣為本，在妊娠猶為切要，調氣則後重自除，而胎息自安。但初痢後重，首宜開發其滯；若久痢後重，又當升舉其陽。陽氣升則胃氣運，胃氣運則周身中外之氣，皆調達而無壅滯之患矣。故治孕婦之後重，無問胎之大小，但脈見有餘，則宜調氣；脈見不足，便與升提。雖血痢亦宜陽藥，一切滋膩血藥，總無干預，以氣有統血之功，則血無妄行之慮也。五審身之熱與不熱，下痢為裡氣受病，若見身熱，表裡俱困，元神將何所恃而得祛邪之力哉。惟人迎之脈浮數，可先用和營透表之法，分解其勢，然後徐行清理。若初痢不發熱，數日半月後發熱，脈來漸小，或虛大少力者，此正陰內亡，虛陽發露於外。在平人，或可用辛溫暖補飲之，以歸其源。若妊娠則桂、附又難輕用，惟藉參、朮、薑、萸、膠、艾之屬，非大劑濃煎峻投，難望其轉日回天之勣也。考之《醫通》云：常用厚朴去乾薑湯，治妊娠能食、腹脹後重、積穢稠黏之白痢；厚朴生薑甘草半夏人參湯，治妊娠腹脹後重、赤白相兼之痢；黃芩芍藥湯，送香連丸，治妊娠能食後重、積穢稠黏之血痢；連理湯合《千金》三物膠艾湯，治妊娠少腹疼痛，瘀晦不鮮，或間有鮮血之痢；駐車丸治妊娠發熱後重，陰虛畏食之血痢；白頭翁加甘草阿膠湯，治妊娠熱毒內攻，噤口不食，腹脹後重，膿血稠黏之痢；《千金》膠艾榴皮湯，即三物膠艾湯，治妊娠膿血清稀，胎動不安，久泄不止之痢；補中益氣湯，治妊娠先瘧後痢，及瘧痢齊作，元氣下陷，胎氣下墜，小便頻數，或轉胞不得溺之痢。以上諸方，並加砂仁以調其氣，烏梅以調其血，未嘗不隨手輒效也。予每用一味阿膠飲，或阿膠黃連飲，均治孕婦之痢，甚妥獲效。</p>
<p><u>厚朴去乾薑湯</u>　厚朴（去皮，薑汁炒）　陳皮（泡去浮白）　茯苓　炙草（各等分）</p>
<p>煎服。</p>
<p><u>厚朴生薑甘草半夏人參湯</u>　治胃虛嘔逆，痞滿不食之症。</p>
<p>人參（隨宜）　厚朴（一錢半薑製）　製半夏（二錢）　炙草（八分）　生薑引</p>
<p><u>黃芩芍藥湯</u>　黃芩　白芍（各三錢）　炙草（二錢）</p>
<p><u>香連丸</u>　治下痢赤白相兼，白多於赤者。</p>
<p>川連（六兩用開口吳萸一兩，同黃連炒，去吳萸不用）　木香（一兩）</p>
<p>共末，醋糊丸，每服五十丸，米湯、砂仁湯任下。</p>
<p><u>連理湯</u>　治胃虛挾食，痞滿發熱。</p>
<p>人參（隨宜）　白朮（一錢半土炒焦）　炮姜（六分）　黃連（八分）　茯苓（一錢）　炙草（六分）</p>
<p><u>《千金》三物膠艾湯</u>　治血痢，又痢下不止。</p>
<p>阿膠　艾葉　酸石榴皮</p>
<p>三味等分，煎服。</p>
<p><u>駐車丸</u>　治陰虛下痢，發熱，膿血稠黏，及休息痢。</p>
<p>阿膠（三兩）　黃連（炒黑）　當歸（各五錢）　炮姜（一兩）</p>
<p>上四味，搗篩，醋煮阿膠為丸，梧子大，每服四、五十丸，晝夜三服，米飲下。</p>
<p><u>白頭翁加甘草阿膠湯</u>　治挾熱痢下膿血，及產後痢不止。</p>
<p>白頭翁　黃連（炒黑）　黃柏（炒黑）　秦皮　炙草（各一錢）　阿膠（三錢）</p>
<p>上六味先煮，上五味去滓，內膠烊盡，溫分三服。</p>
<p><u>阿膠黃連飲</u>（又名黃連阿膠湯）　治孕婦痢疾，若安胎則痢愈重。治痢則胎難全。</p>
<p>阿膠（能止膿血之痢，且止腰痛，固胎以之為君）　黃連　芍藥　甘草（皆以為佐）　枳殼（麩炒，少加二、三分以寬其後重，痛痢減去之）</p>

<h1>瘧論</h1>
<p>妊娠患瘧，無論胎息月數多少，總以安胎為主。而世之所謂安胎，無過黃芩、白朮、不知黃芩乃治熱盛胎動不寧，白朮乃治脾虛胎氣不固。若氣虛下陷，誤用黃芩；氣滯壅逆，誤用白朮，為害何可勝言。故善治胎產症者，必審孕婦形體之肥瘦，氣血之偏盛。若形色蒼，肌肉䐃堅者，必多濕多痰，無論何疾，必顯濕熱本病，脈多滑實有力，絕無虛寒脈弱之候。可峻用豁痰理氣藥，治其本質，然後兼客邪見症而為製劑。治宜二陳湯，隨經加透表藥，或合小柴胡用之。蓋柴胡為瘧疾之嚮導，故多用之。然有自汗過多，尺中微弱，或熱盛，手足清，始終不用柴胡，而用建中、桂、芍收功者，或見煩渴脈實，大便六、七日不通，陽明腑實，又宜涼膈去硝、黃，加鮮首烏調之。大抵病邪初發，元氣未耗，疏風滌痰，消導飲食，在所必需。然必宜大劑白朮，培護中土。以脾胃為一身之津梁，土厚自能載物。其最可慮，在三、四發至六、七發，其勢最劇，若過半月，雖淹纏不止，邪熱漸衰，可無胎隕之虞也。或有瘧久，氣血虛敗而小產者，此皆失於調治也。若六、七發後不止，即當和營健脾。若稟質柔脆，雖有風邪，不得純用表藥，以風藥性散，能使胎氣上逆，而為嘔逆、喘脹、膈塞、痞滿之患。雖有實滯，不得過用降泄之味，能引邪氣下陷，致胎墜不安，而為泄利不食、小腹疼重之患矣。若疫瘧毒盛勢劇，急與涼膈、承氣、黃連解毒救之。瘟瘧惛惛不爽，煩熱大渴，或壯熱無寒，或先熱後寒者，當與桂枝、白虎、人參白虎，撤其在裡之熱，不可與夏、秋痁瘧比例而推也。蓋有是症，用是藥，有故無隕，惟在速祛邪毒以救胎息之燔灼。若遲疑未決，救無及矣。又有氣血虛損，其瘧由虛致，不因暑氣而作，如《經》云：陽微惡寒，陰弱發熱。或風寒因虛而乘之。若寒熱不已，重蒸其胎，胎亦受傷而墜。宜輕解表邪，兼大補氣血以主之。更有患胎瘧者，一遇有胎，瘧病即發，此人素有肝火，遇孕則水養胎元，肝虛血燥，寒熱往來，似瘧非瘧也。以逍遙散清肝火，養肝血，兼六味丸以滋化源，寒熱自退。余常用加減丹溪安胎飲，治孕瘧甚覺穩妥，從未用截藥，而孕症未嘗不愈也。</p>
<p><u>加減丹溪安胎飲</u>　治孕婦瘧疾。</p>
<p>白朮（土炒）　當歸　熟地（各二錢）　川芎　條芩（各八分）　製半夏（七分）　人參（一錢）　藿香（五分）　草果　青皮（各三分）　紫蘇　廣皮　炙草（各四分）　烏梅（二枚）　姜（一片）</p>

<h1>傷寒溫熱時疫論</h1>
<p>妊娠傷寒，時值冬令，為寒所傷，其輕者淅淅惡寒，翕翕發熱，微嗽鼻塞，數日即愈，不藥亦可。或用蔥白（連須）三、五莖，生薑三片，煎服即解。如所感者重，以致頭疼，先寒後熱，久必傷胎，藥多避忌，務宜謹慎，不可與常婦概治，竟用發表，以致損胎，誤其母子性命。但服蔥白香豉湯自愈，故《千金》治妊婦傷寒，用蔥白、生薑，水煎熱服，取汗即安。是以蔥白香豉湯、香蘇散可解表邪，又可安胎。況蔥白不惟性能解表，且善安生胎、下死胎。若感寒孕婦，胎傷未死，但用蔥一把，水煮食之，汗出即安。如胎已死，須臾自出，不應，加生薑、蘇葉，不可輕用表藥招尤。若妊娠邪在半表半裡，擇《綱目》內黃龍湯，即小柴胡湯變體用法，其加減亦可採擇而用。如表症已愈，但發熱大渴，用香蘇散，加金花湯。便結者，加入大黃。或用三黃解毒湯，所以胎前疫症，與傷寒陽明腑症，內實便秘，須急通大便，方不損胎。若大便自利，乃正氣下泄，胎必難保。惟大小便如常，知里無熱，則不傷胎氣，至妊娠熱症，亦須急治，恐致落胎。《千金》用蔥白香豉湯，取汁即愈。又有用柴葛安胎飲者，如嘔吐煩躁，用生津葛根湯者，甚則斑出黑色，用梔子蔥豉湯者，密齋用加味化斑湯，此皆熱入於裡，陽明症之方藥也。《醫通》治孕婦溫熱時行，及傷寒邪氣內犯，熱毒逼胎，並宜《千金》石膏大青湯急救，庶可保全，遲則不救。又有石膏六合湯、升麻六合湯，立方甚穩，錄後以備採用。凡胎孕藥內，不得已而用大黃轉藥，須用酒製。薑、桂、附子，用黃連、甘草制之，則無害矣。</p>
<p><u>蔥白香豉湯</u>　《千金》治時疫傷寒，三日以內，頭痛如破，及溫病初起寒熱。</p>
<p>蔥白（連須一握）　香豉（三合）</p>
<p>水煎，入童便一合，日三服。秋冬加生薑二兩。</p>
<p><u>黃龍湯</u>　治妊娠傷寒，得之三、五日後，有惡寒發熱，內有煩渴引飲，小便赤澀之症。此邪在半表半裡，宜此方主之。</p>
<p>柴胡（二錢）　黃芩（一錢半）　人參　甘草（各一錢）　薑、棗為引。</p>
<p>水煎服。如寒熱往來，無汗口乾，加葛根二錢，去棗，入蔥白三根，如頭痛不止，加川芎、白芷各一錢，去棗，加蔥白三根；如發熱，有汗口渴，加土炒白朮一錢半，栝蔞根一錢半；如脈浮大有力，大熱大渴，人參白虎湯去薑、棗。</p>
<p><u>柴葛安胎飲</u>　治孕婦熱病，骨節疼痛，如不急治則落胎。</p>
<p>柴胡　葛根　青黛（各八分）　石膏（一錢半）　升麻（五分）　梔子（一錢）　知母（七分）　蔥白（三根）</p>
<p><u>生津葛根湯</u>　治孕婦熱病，嘔吐不食，胸中煩躁。</p>
<p>人參　葛根　蘆根　麥冬　知母（炒）　梔子（炒各一錢）　竹茹（一團）　蔥白（三寸）</p>
<p><u>梔子蔥豉湯</u>　治孕婦熱病，斑出赤黑色，小便如血，氣急欲絕，胎落之症。</p>
<p>梔子（炒）　黃芩　升麻（各一錢）　生地（二錢）　青黛（八分）　豆豉（四十九粒）　杏仁（十二粒）　石膏（一錢半煅）</p>
<p><u>加味化斑湯</u>　治孕婦傷寒，熱病不解，遍身發斑，赤如錦文者。</p>
<p>人參　知母　生地　黃芩　梔仁　甘草（各一錢）　石膏（二錢）　淡竹葉（二十片）　豆豉（半合）</p>
<p>食遠服。</p>
<p><u>《千金》石膏大青湯</u>　治妊娠傷寒，頭疼壯熱，肢體煩痛。此方既可散邪，又能安胎，允為孕婦傷寒溫熱時行神方也。</p>
<p>石膏（二錢）　大青　黃芩（各八分）　前胡　知母　梔仁（各一錢）　蔥白（一莖）</p>
<p>水煎溫服。</p>
<p><u>石膏六合湯</u>　治妊娠傷寒，身熱大渴而煩。</p>
<p>當歸　川芎　白勺　生地（各一錢）　煅石膏　知母（各五分）</p>
<p>水一盅半，煎一盅，溫服。</p>
<p><u>升麻六合湯</u>　治妊娠傷寒下後，過經不愈，濕毒發斑如錦文者。</p>
<p>當歸　川芎　白芍　生地（各一錢）　升麻　連翹（各七分）</p>
<p>水煎溫服。</p>

<h1>譫語論</h1>
<p>妊娠譫語，為臟腑熱極之候，急宜童便時時灌之，不應，用生地黃黃連湯，清其血中之火，庶胎得安。脈實者，加酒大黃下之，下遲則傷胎也。亦有傷胎，胎下而下血，心神無主譫語，雖用峻補，亦難有效。其治法方藥，俱載產後妄言妄見門。若孕婦症見舌青者，其子已死腹中，急當下之。若雙胎一生一死者，必腹中半邊冷、半邊熱。如母患熱症，臟腑熱甚，蒸其胎，兒因致死，但服黑神散，加生蒲黃以暖其胎，則胎即出矣。胎未死，井泥塗臍，以護胎氣，多有保全者。</p>
<p><u>生地黃黃連湯</u>　治失血後燥熱、瘈瘲、脈數盛者。</p>
<p>生地（二錢）　防風　川芎（各八分）　當歸（一錢半）　黃連（七分）　黃芩（炒）　黑山梔（各一錢）　赤芍（一錢）</p>
<p><u>血症黑神散</u>　治吐血、衄血，屢發不止。</p>
<p>炮姜　肉桂（各一兩）　熟地（四兩）　當歸　蒲黃（篩淨，炒黑各三兩）　白芍（酒製）　炙草（各二兩）</p>
<p>上為散，每服四錢，用黑豆半合，微炒香，淋酒半盞，和水半盞，煎一半，入童便半杯和服。氣虛，加人參三兩，炙耆六兩，以固衛氣，庶無營脫之患。</p>

<h1>鬼胎論</h1>
<p>凡婦人氣血虛損，精神衰弱，邪思蓄注，衝任滯逆，脈道壅瘀不行，狀如懷娠，故曰鬼胎。然細究其理，鬼胎者，偽胎也。如人邪淫之念一起，則肝腎相火自動。有夢與鬼交者，非實有鬼神交接成胎也，即《經》所謂「思想無窮，所願不遂」，白淫、白濁流入子宮，結為鬼胎，乃本婦自己血液淫精，聚結成塊，血隨氣結而不散，以致胸腹脹滿，儼若胎孕耳，非偽胎而何？故鬼胎之脈，沉細弦澀，或有時虛浮，有時沉緊，忽大忽小，皆陽氣不充之驗。其腹雖漸大而漫起重墜，終與好胎不同，當臍或臍下左傍雖微動，亦與正胎迥別。所以一見經候不調，就行調補，庶免此患。若停經瘀滯而得，即血癥氣瘕之類，則病已成，當調補元氣為主，而繼以去積之藥乃可。然欲於補中兼行，無如決津煎，欲去其滯而不猛峻，無如通瘀煎。若由陽氣不足，或肝脾鬱怒所傷，不能生髮，致陰血不化而經閉為患，肚腹漸大，以加味歸脾湯、加味逍遙散，再加去白陳皮八分。如干嗽，用蜜制治之自愈。此外如狐魅顯類之遇者，則實有所受，而又非鬼胎之謂，當於癥瘕類求法下之。又常見婦人得孕經止，尺脈或澀，或微弱而無他病，此子宮正氣不全，精血雖凝，而陽虛陰不能化，終不成形，每至產時而下血塊、血胞，必大劑溫補預調，而後方能成孕也。</p>
<p><u>決津煎</u>　治婦人血虛經滯，不能流暢而痛極者，以水濟水。若江河一決，而積垢皆去，用此湯隨症加減主之，此用補為瀉之神劑。</p>
<p>當歸（三、五錢或一兩）　澤瀉（一錢半）　牛膝（二錢）　肉桂（一、二、三錢）　熟地（二、三錢或五、七錢或不用亦可）　烏藥（一錢）　水（二盅）</p>
<p>煎七分服，須食前。如嘔惡，加焦姜一、二錢；陰滯不行，非加附子不可；如氣滯而痛脹，加香附一、二錢，或木香七、八分；如血滯、血澀，加酒炒紅花一、二錢。</p>
<p><u>通瘀煎</u>　治婦人氣滯血積，經脈不利，痛極拒按，及產後瘀血實痛，並男婦血逆、血厥等症。</p>
<p>歸尾（三、五錢）　山楂　制香附　紅花（新者炒黃各二錢）　烏藥（一、二錢）　青皮　澤瀉（各錢半）　木香（七分）　水（二盅）</p>
<p>煎七分，加酒一、二小盅，食前服。</p>

<h1>腸覃似孕證蓄血似孕論</h1>
<p>婦人腸覃似孕，乃寒氣客於腸外，與衛氣相搏，氣不得榮，因有所繫，瘕而內著，惡氣乃起，瘜肉乃生。其始生大如雞卵，稍以益大，狀如懷子，按之則堅，推之則移，月事以時下，此結氣大腸，為氣病而血不病，故月事不斷。當用散氣之劑治之。其蓄血似孕，因多鬱怒，經閉不月，腹漸大，初時人以為孕，至過月不產，諸症漸見，此蓄血子門，為血病，當破血藥下之。</p>

<h1>孕婦出痘論</h1>
<p>凡孕婦出痘，熱能動胎，胎落則氣血衰敗，而不能起發灌漿矣。故始終以安胎為主，外用細軟之帛，緊兜肚上，切不可用丁、桂燥熱之品，及食牛蝨毒物之類，以致觸犯。其條芩、白朮、艾葉、砂仁之類，與痘相宜者，採而用之。其初發熱，則以參蘇飲發之，痘既出後，則多服安胎飲保之。渴者，則用人參白朮散加減；瀉者，則用黃芩湯，合四君子湯，內加訶子。血虛者，則以四物湯加托藥；色灰白而起發較遲者，則用十全大補湯，去桂，服之。總之，不問輕重，悉以清熱安娠為主。更有孕婦出痘，正當盛時，忽臨正產者，勢必氣血俱虛，亦只以十全大補湯大補氣血為主。虛寒者，少加熟附。若腹中微痛者，此惡露未盡也，宜四物湯，加乾薑、桂心、木香、黑豆，用熟地黃而去芍藥。蓋恐寒涼，有傷生氣。然有當用者，酒炒用之。若寒戰咬牙，腹脹不渴，而足冷身熱者，此乃脾胃內虛，外作假熱也，宜參、耆、歸、附、木香之類，一、二劑而愈者吉，不愈者凶。若孕婦肥胖者，則氣居於表而慊於內也，人參可多，黃耆宜少，多加帶殼縮砂，切忌脫蒂果子之類。至有痘將收靨，忽作泄瀉，口渴飲水，小便短少，其痘胖壯紅潤者，此內熱也，宜五苓散，內加黃芩、芍藥之類。若至滑瀉不止，食少腹脹而足冷，痘色灰白，脈細無力者，此犯五虛必死之症也。凡婦人方產之後，或半月左右，適逢出痘者，此無胎孕繫累，惟氣血尚虛。治宜大補榮衛為主。若痘出多者，則加連翹、黏子之類。大便自利者，則用肉果、炮姜之類，余即照常一例而治。至於孕婦出痘，在於初出之時胎落者，則血氣雖為大虛，然熱毒亦因走泄，兼之未經起脹灌漿，則血氣未曾外耗，倘非險逆，加以大補托裡，每多得生。至於收靨之時胎落者，則毒已出表消散，亦多無事，但重虛而元氣易脫，倍宜補益耳。若正當起脹灌漿而胎落者，則氣血衰敗，內外兩虛，既不能逐毒以外出，則毒必乘虛而內攻，其為不救者多矣。</p>
<p><u>參蘇飲</u></p>
<p>人參　紫蘇　乾葛　前胡　制夏　茯苓　陳皮（各等分）　枳殼（麥炒）　桔梗　木香　甘草（各減半）</p>
<p><u>黃芩湯</u>　治熱利。</p>
<p>黃芩　炙草　芍藥（各等分）　大棗（五、七枚）</p>
<p>水煎服。</p>

<h1>妊娠麻疹論</h1>
<p>妊娠出疹，當以四物加減，而加條芩、艾葉，以安胎清熱為主，則胎不動而麻疹自出矣。然熱毒蒸胎，胎多受傷，但胎雖傷，而母實無恙也。蓋疹與痘不同，痘宜內實，以痘當從外解，故胎落，毒氣乘虛而內攻，其母亡；疹宜內虛，以疹當從內解，故胎落，熱毒隨胎而下，其母存。雖然與其胎去而母存。孰若子母兩全之為愈也。且古人徒知清熱以安胎，不思疹未出而即以清熱為事，則疹雖出而內熱愈深，是欲保胎，反足以傷胎也。宜輕揚表托，則疹出而熱自清，繼以滋陰清解，則於疹於胎兩不相礙，不安胎而胎自安矣。如疹出不快，宜白虎湯合用升麻葛根湯，倍加元參、牛蒡治之。胎氣上衝，急用苧根、艾葉煎湯，磨檳榔服之，再以四物湯進之。熱甚則胎不安，服固胎飲數劑。如又不愈，腹疼腰痠，即知胎有必墜之機，如胎墜，即以產法論治矣。</p>
<p><u>升麻葛根湯</u></p>
<p>葛根　升麻　白芍　甘草（各等分）</p>
<p>水一盞，煎七分，溫服。</p>
<p>此解表發散之方也。表熱壯盛，邪實於表。《經》曰：輕可去實。故用升麻、葛根以疏表，所以然者，升麻能解疫毒，升陽於至陰之下，以助發生之氣；葛根能解熱毒，兼疏榮衛，以導起發之機。二味之外，又加甘草佐之，以和在表之氣，芍藥佐之，以和在裡之榮。去其實邪，和其榮衛，風寒自解，麻疹自出。</p>
<p><u>固胎飲</u>　止痛安胎。</p>
<p>地黃　川芎　歸身　人參　白芍　陳皮（各一錢）　白朮（土炒）　黃芩（各一錢半）　甘草（三分）　黃連　黃柏（各一分）　桑上羊兒藤（七葉圓者）</p>
<p>上細切，每服二、三錢，入糯米二十粒，水一盅，煎至七分，溫服。痛加砂仁，血虛加阿膠。</p>
<p><u>催生萬全湯</u></p>
<p>人參（三錢至五錢，大補元氣以為君）　當歸（三錢，大補榮血以為臣，去蘆）　川芎（一錢，入肝以疏鬱滯，少寓升提之性，則降下之藥得力）　桃仁（十三粒，不去皮尖，搗碎，取苦可去舊，甘能生新，滑能潤下）　乾薑（一錢，溫能通行血分，炒黑黃色，焦則令其下降，而遏其上升也）　炙草（六分，令其藥性少緩，中宮得受補益，不使即為下墜也）　牛膝梢（二錢，既能下行腹，走十二經絡，令其經絡無壅，則氣血效力以為運行推出）　紅花（三分，多則破血，少則活血生新耳，酒炒）　肉桂（六分，冬天用八分，臨煎方去皮切碎，藉此引經，率領諸藥直入血分，且溫可通行散瘀，則生產自易）　加膠棗（二枚）</p>
<p>水煎，食前溫服。如產婦壯實及無力服人參者，去參用之，其催生之效，尚能倍於佛手散多矣。論曰：婦人臨產，關係母子性命，實存亡頃刻之時。是以古人立方甚多。然產育乃大傷氣血者也，其難產又多由氣血不足，產後諸疾，固屬氣血大虧。然產後諸虛，皆因產前所致，今立萬全湯，乃體達生生化二方之意，合成一方，務取萬全，屢用甚驗，故以萬全名之。先以調補血氣，佐以散瘀、下降、溫中，使氣血得力，自能健用催生，此不催之催也。故用人參，當歸為君，培補氣血，壯其主也；少加桃仁、川芎、黑薑、炙草、酒紅花，溫中而散其瘀也；牛膝梢、桂心，溫行導下，使無上逆衝心之患，不惟催生神效，產後更無瘀血凝滯，百病不生。補而兼溫則不滯，溫而兼補則不崩。升少降多，則氣得提而易下；降而兼升，則瘀自去而新自歸。補多瀉少，邪去而元氣無傷；苦少甘多，瘀逐而中和仍在，豈非萬全催生者乎？</p>

<h1>產後脈訣論</h1>
<p>《脈經》云：產後之脈，寸口洪疾不調者死，況微附骨不絕者生。又曰：沉小緩滑者吉，實大堅弦疾者凶，牢革結代及澀滯不調者不治。丹溪曰：胎前脈當洪數，既產而脈仍洪數者死。又曰：胎前脈細小，產後脈洪大者多死。予見產後多有洪數而生者，要知血虛之脈浮洪而數者居多，產後血虛，故現此脈。若不明以告之，俗醫多誤認為外感，虛虛之禍，在此頃刻。然此洪數之中，自有和滑之象，非如牢疾而少胃氣之謂，故多死也。《產經》曰：胎前之病，其脈貴實；產後之病，其脈貴虛。胎前則順氣安胎，產後則補虛消瘀，此其要也。</p>

<h1>生化湯論</h1>
<p>生化湯論曰：產後諸症，皆緣氣血驟下，元氣大虧，用藥不同常法。是以有極不能姑待者，則當峻補之中，加入溫行之藥，峻補則力大而可宣通。溫行則流暢而不凝滯。至於逐瘀之劑，即實症亦不可用峻厲之藥，況產後大虛，恐血無主宰，一任藥力便為崩而不止，虛則易脫，勢如覆水難收矣。夫人遇大病之後，血氣兩虛，猶當調補，況產後脾胃血氣之虛衰，更有甚焉者乎？今之治產後者，亦云：元氣因產而虧，運行失度，不免瘀血停留，致成諸疾，必以去瘀為先，瘀消方可行補，甚有用回生丹，攻血塊，下胞衣，殞人性命者。此蓋止知專攻舊瘀，而不知新血轉傷之害，豈知塊固當消，而新血猶當生也。蓋專消則新血不生，專生則舊血反滯。予考新產諸方，莫若生化湯為產後第一妙方。其方芎、歸、桃仁溫中行血，善去舊血，驟生新血；佐以炙黑乾薑、炙草，引三味入於肺、肝，行中有補，化中有生，故名生化，蓋因功而立名也。又有加入益母草一錢五分，功效亦同。此實治產之良方，保全產婦之聖藥也。故馮氏因此方之妙，變化用於臨產，加人參、桂、牛膝、紅花，又為催生之神劑矣。</p>
<p><u>生化湯方</u>　凡孕婦臨月，即預備生化湯數劑，俟臨產之時，即為預先煎就。產下，隨服二、三道，以逐瘀生新，再無產後之患。無論正產、半產，雖少壯產婦，俱宜服之。故此湯為產後七日內要藥。倘產下之時，未及煎服，凡產後諸症，仍以此湯治之。</p>
<p>全當歸（八錢酒洗）　川芎（四錢）　乾薑（四分炙黑存性）　桃仁（十粒去皮尖，打碎）　炙草（五分）</p>
<p>水二盅，煎七分，加酒小半盅。如素日不能飲酒者，加六、七茶匙，稍熱服之。其藥渣留，並後帖藥渣，合而再煎，而帖共三煎，在產下一、二時辰內，未進飲食先相繼煎服。能速化舊血而驟生新血，不特可免目前暈厥、汗、崩、惡露停滯等患，且諸病不生，精神百倍矣。如胎前素虛之人，產後又當再製兩帖煎服，以防倦怠。若產下已服一、二帖，而塊痛未除，仍當再進幾帖，塊痛自消矣。</p>

<h1>產後藥誤須知</h1>
<p>產後勿輕用烏藥、香附、木香，及耗氣、順氣等藥，用之反增滿悶，雖陳皮用不可過五分。</p>
<p>產後勿輕用青皮、厚朴、山楂、枳殼、陳皮消食藥，多損胃減食，即枳殼、香砂等丸，亦多損氣血。</p>
<p>產後勿用青皮、枳實、蘇子以下氣定喘，用之元氣必脫。</p>
<p>產後浮麥傷胃耗氣，五味能阻惡露，棗仁油滑致瀉，均為禁忌。</p>
<p>產後身熱，誤用黃芩、黃連、黃柏、梔子。損胃增熱，致不進飲食，且黃芩苦寒，無論惡露淨與不淨，皆非所宜。</p>
<p>產後四日內，未服生化湯以消血塊，勿先用人參、耆、術，致塊不除。</p>
<p>產後勿輕用牛膝、紅花、蘇木、枳殼等類以消塊，猶忌多用、獨用。至於三稜、莪朮、枳實、山楂等峻藥，更不可用，若誤用，舊血驟下，新血亦隨之而損、禍不可測也。</p>
<p>產後勿輕用生地黃以滯血路。</p>
<p>產後不可用大黃、芒硝以通大便，反成臌脹。</p>
<p>產後不可用五苓以通小便，用之愈閉。</p>

<h1>三沖論</h1>
<p>產後危症，莫如敗血三沖。其人或歌舞談笑，或怒罵坐臥，甚者逾牆上屋，口咬拳打，山腔野調，號佛名神，此為敗血衝心，多死。《醫通》云：花蕊石散最捷，琥珀黑丸丹亦效。如雖悶亂，不致顛狂者，失笑散加鬱金。予謂：當於妄言妄見門參看治療。</p>
<p>若其人飽悶嘔惡、腹滿脹痛者，為之沖胃，《醫通》云：用平胃散加薑、桂，往往獲效；不應，送來復丹。嘔逆腹脹，血化為水者，《金匱》下瘀血湯。予謂：當於飽脹嘔逆等門參看治療。</p>
<p>若其人面赤，嘔逆欲死，為之沖肺。《醫通》云：二味參蘇飲，甚則加芒硝盪滌之。子謂：當於口鼻黑衄門參看治療。</p>
<p>大抵衝心者，十難救一；沖胃者，五死五生；沖肺者，十全一二。其《醫通》所用金石及峻藥等治法，亦無可如何之思，與其視死，不若救生之意耳。予謂：治此等症，宜用生化、失笑。抵聖等類平穩藥，當亦通神。</p>
<p><u>二味參蘇飲</u>　治惡露入胞，脹大不能出，及產後敗血沖肺喘滿，面赤幾死者。</p>
<p>人參（二錢）　蘇木（四錢碎）</p>
<p>水煎服。又有入童便熱服，大便溏泄者禁用。</p>
<p><u>失笑散</u>　治婦人心痛氣刺不可忍，及產後兒枕蓄血，惡血上攻疼痛，並治小腸氣痛，便治胞衣由瘀血脹滿不能出者。</p>
<p>五靈脂（生，酒研，澄去砂）　蒲黃（生，篩淨）</p>
<p>為末，每服二、三錢，蔥湯調末服之。一方用酒煎熱服。按此方，如行血，各等分俱生用；如止血，俱炒用。或五靈脂減半用。若用以止痛，蒲黃宜減半。又一方，蒲黃一半生，一半炒用。</p>
<p><u>抵聖湯</u>（見氣逆、嘔吐不食門）</p>

<h1>產後不宜汗下利小便論</h1>
<p>產後陰血驟下，陽無所附，孤陽外越，每多發熱，此乃陰虛生熱，切勿作外感而表散。生化湯善能退熱，以其內有薑、草，所謂甘溫能除大熱也。故產後雖有表症，一切風藥性升，不可用，恐載血上行，令人發暈。且慮重竭其陽，必至汗脫而死，即佛手散中川芎辛散，能發汗走泄，亦須臨時因症審酌用之。產後陰血既虧，津液自少，況臨產勞倦氣虛，虛則傳化自遲，二腸枯燥，勢所必然，久則自復。或用生化湯養血，兼生津助液亦可。故產後雖二便暫有不甚通利，然於下利等藥，必須禁用，非特硝、黃、五苓難於輕試。即四物湯中生地、芍藥，純陰而伐生氣，且作瀉而凝血。五苓利水傷陰，愈通之而愈枯結。若誤用而重亡其陰，難免孤陽無輔而走脫矣。故《機要》有云：胎產之病從厥陰，無犯胃氣及上下二焦，不可汗，不可下，不可利小便也。</p>

<h1>新產三審論</h1>
<p>凡治產後，三審不可缺也。一審少腹痛與不痛，以徵惡露之有無；二審大便通與不通，以徵津液之盛衰；三審乳汁行與不行，及飲食多少，以徵胃氣之充餒。大抵常產之婦，開合有權，產後子宮即閉，兒枕隨氣攻注，碎作小塊，續續而下，所以延綿日期。又有由於難產，過傷子宮，關閘廢弛，不能收斂，或下血塊，大小形色與茄無異，此名兒枕是也。全塊頓出，自無淋瀝之患，即有餘血，盡歸溲便，如皂莢汁，少腹略無痛苦。切勿認為產後瘀尚未行，妄行攻下，誤人性命。產後又有似乎兒枕痛者，摸之亦有塊，按之亦微拒手，人皆指為兒枕宿血，此大不然。夫胎胞俱去，血亦豈能獨留？蓋子宮蓄子既久，忽爾相離，血海陡虛，所以作痛，胞門受傷，必致壅腫，所以亦若有塊，而實非正塊。腫既未消，所以亦頗拒按。治此者，當安養其臟，不久自愈。若有瘀服藥，生化湯對最，殿胞煎或四神散亦可。若誤用蘇木、紅花、元胡、青皮之屬，反損臟氣，必增虛病，慎之，慎之！</p>
<p><u>殿胞煎</u>　治產後兒枕疼痛等症如神。</p>
<p>當歸（五錢）　川芎（一錢）　茯苓（一錢）　炙草（一錢）　肉桂（五分）　水一盅。</p>
<p>煎八分，熱服。如脈細而寒或嘔者，加乾薑（炒黃色）一錢；如血熱多火者，去肉桂，加酒炒芍藥一錢。</p>
<p><u>四神散</u>（見腹痛門）</p>

<h1>血塊痛論</h1>
<p>產後血塊，是孕成余血之所積也。夫婦人血旺氣衰，二七而天癸至，三旬一見，以象月盈則虧，行之有常則曰經。有孕則經水不行，其餘血注於胞中以護胎元。一月名胎胚，二月名始膏，三月始成形而名胎，方受母血之蔭庇。胎形尚小，雖食母血，而尚有餘汁，並前兩月之血，積於胞中，日久成塊。至產時，當隨兒下。或因產婦送兒送胞勞倦無力，或謂調護失宜，腹欠溫暖，至血塊日久不散，疼痛拒按，並宜生化湯助血行血，外用熱衣暖腹可也。慎勿輕服峻劑，至崩脫不救。</p>

<h1>暈厥論</h1>
<p>凡產後暈厥二症，皆由氣血並竭，苟非急補，何能挽其將絕之元神，無庸疑義者也。但暈在臨盆，症急猶甚於厥，用藥不及，急救法救之，如其人微虛者，則眼花頭眩，或心下滿悶，神昏口噤，不知人事，少頃即蘇，或因亡血過多，以致虛火乘虛泛上，而神不清，身無所主，其陰血暴亡，心神失養，心與胞絡，君相之火，得血則安，亡血則危。火上熾，故令人昏冒；火乘肺，故瞑目不省人事。是陰血暴亡，不能鎮撫也。《經》云：病氣不足，宜補，不宜瀉。瞑目閤眼，病悉屬陰，暴去有形之血，則火上熾。均宜頻灌生化湯，或從權急救，生化湯二、三帖，先補血分之虧，則塊化、血旺、神清而暈止。大虛者，其症面白眼閉，口開手冷，多汗神昏，六脈微細之甚，是氣隨血脫而欲絕，當劑人參方可回陽，恐勢急而補陰不及，須以兼用氣藥。此陽生陰長之理也。以權急救加參生化湯最效。但凡大病大虛之人，皆能作暈。產後之暈，因血去而名之曰血暈，實非因血而致暈也。即有惡血上逆、血滯等症，亦莫若生化湯溫而行之，去瘀止暈之妙。予見江南產科，有用當歸一錢、益母草一錢，人參二錢，紅花六分，炮姜八分，煎熱，沖童便服之，以治暈。此方兼得之義，庶幾近之。至於厥症，在分娩之後，因產時用力過多，勞倦傷脾，孤臟不能注於四傍，故手足逆冷而發厥。《經》云：陽氣衰於下，則為寒厥。厥氣上行，滿脈去形。蓋逆氣上滿於經絡，則神氣浮越，去身而散也。宜大補回陽，生化湯連用二服，俟氣血旺而神復，厥症自止矣。又非偏補血分之可得而愈也。若服藥而口渴，另用參麥散以代茶，助津以救臟燥也。又有四肢逆冷、泄痢，類傷寒陰症，不可用四逆湯，必生化湯倍參煎服，或加熟附子一片，則可以止逆回陽，而見參、歸之功矣。若血塊痛止而厥，滋榮益氣湯最效。凡暈厥，乃產後危急二症，若新產塊痛未除，又未可遽加耆、術，故急加人參，從權以救之。俟暈止厥回，再去參以除塊痛，此要訣也。</p>
<p><u>從權急救生化湯</u>　治三等血暈，兼化瘀生新。</p>
<p>川芎（三錢）　當歸（六錢或八錢酒洗）　乾薑（四分炙黑）　桃仁（十粒去皮尖）　炙草（五分）　荊芥穗（四分炒黑，汗多忌用）</p>
<p>棗二枚，水煎服。勞倦甚及血崩，或汗多形氣脫而暈，加人參三錢，肉桂四分，急服一、二帖，其效如神，決不可疑參為補而緩之。</p>
<p><u>從權急救加參生化湯</u>　治產後形色脫暈。</p>
<p>人參（三錢）　川芎（二錢）　當歸（四錢酒洗）　乾薑（四分炙黑）　桃仁（十粒去皮尖）　炙草（五分）　荊芥（四分炒黑，汗多忌用）</p>
<p>棗二枚，水煎服。血塊痛甚，加肉桂七分；汗多加麻黃根一錢；如無塊痛，加蜜炙黃耆一錢以止汗。</p>
<p><u>加參生化湯</u>（附大補回陽生化湯）</p>
<p>人參（二錢）　川芎（四錢）　當歸（八錢酒洗）　乾薑（四分炙黑）　炙草（五分）　桃仁（十粒去皮尖）</p>
<p>棗二枚，水煎服。此方產後諸危急症通用。一日夜須服三、四帖，方能接絕之氣。如產後三日內，塊痛未除，俟元氣稍復，已有生意，當去參，仍服生化原方。虛脫、厥逆、汗多，加人參三、四錢；脈與形俱脫將絕，必用此方頻灌；汗多、身熱、氣短，加人參；左尺脈弱，亦加人參；汗不止，三、四劑後，加蜜炙黃耆一錢。一方：川芎、當歸減半，名大補回陽生化湯，治新產厥症，棗引，速煎二服即效。若厥症作渴，佐以生脈、五味飲代茶，以救津液，則渴減厥回。</p>
<p><u>滋榮益氣湯</u>　治血塊痛止而厥。</p>
<p>人參　當歸（各二錢）　川芎　白朮（土炒）　黃耆（蜜炙各錢半或一錢）　熟地（二錢）　麥冬（八分或一錢去心）　炙草（四分）　五味子（十粒）　川附子（五、六分或一錢制）</p>
<p>水煎服。汗多加麻黃根、炒棗仁各一錢。</p>

<h1>血脫氣脫神脫三症論</h1>
<p>產後暴崩為血脫。氣短似喘為氣脫，妄言妄見為神脫，三症雖有氣陽血陰之分，於精散神促無異，比前暈症，治可少緩，亦危症也。若非大藥急方頻服，失之者多矣。倘誤為氣實痰火妄治，鮮有不殞生者。若勢急，並宜用加參生化湯，補中寓行，免致血虛之失。其血脫患崩一症，由衝任已傷，氣血未復，或因勞役驚恐，或因惡露未盡，固澀太速，以致停留，一旦復行，然經血大來。當審血氣而辨血色之紅紫，視形色之虛實。如血多紫色有塊，乃當去之，敗血也，其少腹必脹滿，按之而痛，止之反能作痛，或致淋瀝，此不可言崩，只服生化湯幾帖自愈。如鮮紅之血大來，乃驚傷心，不能主血；怒傷肝，不能藏血；勞傷脾，不能統血。血不歸經，血臟有傷，當以崩症治之。崩非經病，產婦得之，是為重虛，猶不可忽。故宜急治，用荊芷治崩湯。若有血塊痛而形色脫，或有汗，或氣促，宜服加參生化止崩湯以益氣，使陽生而陰血自旺，非十灰散之可止者。如血塊痛止，或產後半月外崩症者，又宜滋榮益氣止崩湯，或升舉大補湯，少佐黃連墜火，寧血歸經，或用曾生升舉大補湯亦妙。亦有小腹空痛，不可誤認有瘀，察其下血少而無紫塊者是也，當以崩治，宜重用熟地。若小腹滿痛不已，而脈實大緊數者，此肝經已竭，肝氣隨敗矣，難治。《醫通》有治產後崩中去血，赤白相兼，或如豆汁，用《千金》伏龍肝湯治之。其氣脫短氣似喘一症，因產所下過多，榮血暴竭，衛氣不能運行，獨聚於肺，肝腎不接，故令呼吸短促，語言不相接續，有似於喘，實非喘也。夫肺受脾氣散精，生脈而通水道、呼吸，所以清肅上下，調和榮衛而為平人。若值產後血亡氣窮，浮脫於上，孤陽絕陰，無根將脫之兆，最為危候。惟大進參、附，或可得生。世有妄論痰火實症，反用散氣化痰之方，治之必死。有塊痛者，當用大補回陽生化湯，連二三服。世人多疑參助喘不用，致不救者多矣。況同芎、歸、黑姜，不知耆、術萬無有失。要知人生於氣，氣壯則根本固，而藏源者斂納於下，運行者強健於中，何有為喘為脹之虞。考《全書》，貞元飲亦治似喘妙藥也。如無塊痛，當用續氣養榮湯最妙。或倍參補中益氣湯，少佐熟附，助參以治氣脫，攝氣歸元亦可。如氣虛兼寒者，宜大補元煎，或理陰煎主之。其神脫妄言妄見一症，因心肝脾三陰血少，而神魂無依也。然有譫語鄭聲之分，甚至發狂等症，統歸於妄耳。其輕者，睡中呢喃；重者，不睡亦語。或言日用尋常之事，或如見鬼狀，昏不識人，語言不休，此譫語之謂也。若虛甚而聲轉無力，言語不能接續，有頭無尾，一兩句即止，或重言疊語，說過又說，或如造字出於喉中，若鄭聲之輕怯，此鄭聲之謂。其精氣衰奪，更甚於譫語矣。若夫產後氣血暴竭，而心神失守，故語言無倫，肝魂無依，則瞳眊妄見。況心為五臟之主，目乃百脈之官，虛症見於心目，則十二官各失其職可知矣。是以視聽言動，皆成虛妄。當論產期塊痛有無，先後施治，方為得法。若分娩兒下之後，塊痛未止者，宜服寧神生化湯。確知瘀血不行，合失笑散同服；如痛止者，則服寧心定魄茯神湯，連進大補十數劑，生氣養血，安神定志，服至元足，其病始愈矣。或以生地易熟地，而清心火，寧君主之官亦可。</p>
<p><u>荊芷治崩湯</u>　治產後血崩，其色鮮紅。</p>
<p>川芎（一錢）　歸身（四錢）　乾薑（二分炙黑）　荊芥穗（六分炒黑）　炙草（四分）　白芷（五分）</p>
<p>棗，煎服。</p>
<p><u>加參生化止崩湯</u>　治產後血塊痛，鮮血崩，形色脫，或汗多，或氣促。</p>
<p>人參（二三錢）　歸身（四錢）　川芎（二錢）　乾薑（炒黑）　炙草（各四分）　白芷　荊芥穗（炒黑各五分）　桃仁（十粒）</p>
<p><u>滋榮益氣止崩湯</u>　治產後無塊痛，或半月外崩症。</p>
<p>人參　川芎　黃耆（蜜炙，各一錢）　白朮（土炒）　生地（各二錢）　當歸（四錢酒洗）　陳皮　黃連　白芷　荊芥（炒）　升麻　炙草（各四分）　棗（二枚）</p>
<p>水煎，入童便溫服。驚悸加柏子仁一錢，炒棗仁一錢，身熱，倍加參、耆，去黃連。</p>
<p><u>升舉大補湯</u>　治產後日久，血崩不止，或崩如雞蛋大，或去血片。宜大補脾胃，升舉氣血，少加鎮墜心火之劑，並治老壯婦人崩淋。</p>
<p>人參（二錢）　黃耆（一錢蜜炙）　熟地（二錢）　白朮（土炒）　當歸（酒洗，各二三錢）　防風（三分）　荊芥（炒黑）　羌活　升麻　白芷　陳皮　黃連（炒）　黃柏（炒褐色）　炙草（各四分）</p>
<p><u>《千金》伏龍肝湯</u>　治勞傷衝任，崩中去血，赤白相兼，或如豆汁，臍腹冷痛，口乾食少。</p>
<p>伏龍肝（如彈子大，七枚）　生薑　生地（各一兩五錢）　甘草　艾葉　赤石脂　桂心（各六錢）</p>
<p>分四服，日三夜一。</p>
<p><u>寧神生化湯</u>　治產後塊痛不止，妄言妄見，未可用耆、術者。</p>
<p>人參（二錢）　當歸（三錢酒洗）　乾薑（炙黑）　炙草（各四分）　茯神　柏子仁　川芎（各一錢）　桃仁（十粒）　益智仁（八分）　陳皮（三分）　棗（二枚）　龍眼肉（五個）</p>
<p>水煎服。</p>

<h1>惡露不止論</h1>
<p>產後惡露不止，非如崩症暴下之多也。由於產時傷其經血，虛損不足，不能收攝，或惡血不盡，則好血難安，相併而下，日久不止，漸成虛勞。當大補氣血，使舊血得行，新血得生，不可輕用固澀之劑，致敗血聚為癥瘕，反成終身之害，十全大補湯主之。如小腹刺痛者，蒲索四物湯主之。如產後月餘，經血淋瀝不止，宜用升陷固血湯。《全書》云：因血熱者，宜保陰煎、清化飲。因傷衝任之絡而不止者，宜用固陰煎加減用之。若肝脾氣虛，不能收攝，而血不止者，宜壽脾煎。若氣血俱虛，而淡血津津不已者，宜大補元煎。若怒火傷肝，而血不藏者，宜薛氏加味四物湯。若風熱在肝，而血下泄者，宜一味防風散。以上諸治法，與《濟陰綱目》理同，血崩門亦可參看通治。</p>
<p><u>蒲索四物湯</u>　治產後惡露不止。</p>
<p>當歸（一錢半）　川芎（八分）　熟地（二錢）　白芍（酒炒）　延胡（醋炒，各一錢）　蒲黃（七分炒）　乾薑（五分炒黑）</p>
<p>產後忌芍藥，而此方用之，審惡露不止四字，則產日已久矣，故不忌。</p>
<p><u>升陷固血湯</u>　治產後月餘，經血不止，陷下者舉之。</p>
<p>當歸　川芎　熟地　白芷　升麻　血餘炭（各一錢）</p>
<p>水煎服。</p>
<p><u>保陰煎</u>　治一切陰虛內熱動血等症。</p>
<p>生地　熟地　芍藥（各二錢）　山藥　川續斷　黃芩　黃柏（各一錢五分）　生草（一錢）</p>
<p>水二盅，煎七分，食遠服。如血虛、血滯，筋骨腫痛者，加當歸二、三錢；如氣滯而痛，去熟地，加陳皮、青皮、丹皮、香附之屬。此方芩、連、梔、柏等類，當於產後日久，方可用之。</p>
<p><u>固陰煎</u>　治陰虛滑泄，帶濁淋遺，及因虛不固，此方專主肝腎。</p>
<p>人參（隨宜）　熟地（三五錢）　山藥（二錢炒）　山萸肉（一錢半）　遠志（七分甘草水泡，去骨，炒用）　炙草（一二錢味子十四粒）　菟絲子（二三錢炒香）</p>
<p>水二盅，煎七分，食遠溫服。</p>
<p><u>壽脾煎</u>　治脾虛不能攝血等症，及婦人無火崩淋，凡兼嘔惡，猶為危候，速宜用此救脾，則統血歸源矣。若再用寒涼，胃氣必脫而死。</p>
<p>人參（隨宜一二錢）　白朮（二三錢）　當歸（二錢）　山藥（二錢）　棗仁（一錢半）　遠志（三五分制）　乾薑（一二錢炮黑）　炙草（一錢）　蓮肉（二十粒，去心，炒）</p>
<p>水煎服。滑脫不禁者，加醋炒文蛤一錢，下焦虛滑不禁，鹿角霜二錢為末，攪入藥中服之。</p>
<p><u>大補元煎</u>　治男婦血氣大壞，精神失守，危劇等症。</p>
<p>人參　山藥（二錢炒）　熟地（二三錢多則用二三兩）　杜仲（二錢鹽水炒斷絲）　當歸（泄瀉者去之）　枸杞（各二三錢）　山萸肉（如畏酸吞酸者去之）　炙草（各一錢）</p>
<p>水二盅，煎七分，食遠溫服。如元陽不足，多寒者，加製附子、肉桂、炮姜之類，隨宜用之；如血滯者，加川芎，去山茱萸，滑泄者，加五味、炒故紙之屬。</p>
<p><u>薛氏加味四物湯</u>　養肝血，清肝火。</p>
<p>熟地　當歸（各三錢）　芍藥（二錢）　川芎　炒山梔　柴胡　丹皮（各一錢）</p>

<h1>氣喘論</h1>
<p>凡產後，若因風寒外感，邪氣入肺而喘急者，必氣粗胸脹，或多咳嗽，自與氣短似喘、上下不接者不同。治當疏散中兼補為主，宜金水六君煎，或六君子湯。若單以寒邪入肺，氣實、氣壅而本無虛者，宜六安煎，或二陳湯加蘇葉之類主之。又有瘀血入肺，必面黑髮喘，與氣短似喘大不相同，用二味參蘇飲治之。或有氣虛血痰泛上者，用六君子調服，失笑散亦效。</p>

<h1>惡露不下論</h1>
<p>凡產後臟腑勞傷，氣血虛損，或包絡挾於宿冷，或當風取涼，風冷乘虛而搏於血，壅滯不宣，積蓄在內，故不下也。宜溫暖活血，則血自行，此必小腹脹滿，刺痛無時，宜用血症黑神散，予每治此症，用生化湯倍桃仁，調失笑散，生新行瘀，頻以黑沙糖沖滾湯，少滴無灰酒服之。如素不飲，或恐發暈，即不加酒亦可，每每獲效。又或因脾胃素弱，中氣本虛，敗血亦少，氣乏血阻，不能盡下，其症乍痛乍止，痛亦不甚，不可用大黃等藥攻之，反增別病，加減八珍湯主之，或生化湯多服數帖亦效。</p>
<p><u>黑神散</u>（見前卷譫語門）</p>

<h1>脫汗亡陽及諸汗論</h1>
<p>產婦分娩，既已亡血，而又多汗，極危症也。蓋汗者，心之液，榮於內為血，發於外為汗。血液屬陰，陰亡陽亦隨之而走，故曰脫汗亡陽。其用藥與他症不同，但血塊作痛，耆、術未可據加；如倦甚，濈濈汗出，形色又脫，速灌加參生化湯，倍參以救危急，毋拘塊痛矣。汗止再去參服之。《經》曰：陽氣者，精則養神，柔則養筋。多汗不止，必發柔痙，氣血俱虛，當用十全大補湯，不應，加附子。予謂：無塊痛者當用之。此症若服參、耆重劑，而汗多不止，及頭汗出，不至腰足，難治。</p>
<p>自汗不止，皆由勞傷心神，不能鎮守其液，治當健脾胃，散水穀之精以歸肺，益其榮衛而虛血歸源，灌溉四傍，不使妄行於外而為汗也。亦用加參生化湯，或麻黃根湯，並間用黃耆、五味煎湯，送六味丸。《醫通》云：因外感多汗者，黃耆建中湯主之。</p>
<p>盜汗者，睡中汗出，醒來即止，猶盜賊之瞰人睡而盜之，謂之盜汗，非自汗可比也。此因亡血陰虛，陽氣偏盛。《內經》云：陽加於陰則發汗。治當兼用血分藥品，雜病雖用當歸六黃湯，然寒而膩膈，又不可治產後之盜汗也。宜止汗散主之。</p>
<p>頭汗者，或因濕熱，或因瘀血，當審虛實治之。</p>
<p>半身汗出，昔人用二陳合四物，治多不效。以血藥助陰；閉滯經絡也。此屬氣血不充，而有寒痰留滯，非大補氣血，兼行經豁痰不效，宜十全大補、人參養榮，加星、半、川烏。若肥人，多加豁痰行氣藥；如瘦人，乃氣血本枯，夭之徵也。</p>
<p><u>麻黃根湯</u>　治產後虛極，自汗不止。</p>
<p>人參（一錢或二錢）　當歸（二錢）　黃耆（一錢半蜜炙）　麻黃根　牡蠣（煅）　麥冬（去心）　浮麥（各一錢）　桂枝（五分）　炙草（四分）</p>
<p>水煎服。如無塊痛，加土炒白朮一錢、熟地三錢；手足冷，加熟附子一片，炮姜四分；惡風寒，加防風五分。</p>
<p><u>黃耆建中湯</u></p>
<p>桂枝（一錢）　白芍（二錢）　炙草（七分）　黃耆（一錢半蜜炙）　膠飴（三錢）　生薑（三片）　棗（二枚）</p>
<p>桂枝湯者，和營表藥也。倍芍藥，加膠飴，便能建立中氣，故名小建中湯。以芍藥之酸，斂護營血；膠飴之甘，培養中土。能治風木乘脾，寒熱腹痛。再更加炙黃耆，即黃耆建中湯，治虛勞感寒，發汗自汗，以黃耆實衛氣，使營衛臟腑俱和，而受益多矣。</p>
<p><u>止汗散</u>　治產後盜汗。</p>
<p>人參（二錢）　麻黃根（一錢半）　當歸（酒洗）　熟地（各三錢，如有塊痛不用）　黃連（五分，炒）　浮麥（一錢）</p>

<h1>傷食論</h1>
<p>產後形體勞倦，脾胃俱傷，是以新產之後，去膏粱，遠厚味，食粥、茹、蔬以為調攝。更有本不思食而強與之，胃雖少納，脾難運轉，易致食停痞塞，甚而傷食發熱，切勿誤認為陰虛。更有食滯腹痛，又勿錯疑為血凝。治斯症者體認正實，如發熱而飲食調者，方可補血；若惡食噯酸者，食滯之症，即當扶元為主，補氣、養血、健脾、助胃，審傷何物，佐以何藥。消導則脾氣復而轉輸，易滯物行而胃思谷矣。如此補消兼治，無有不安，故善治者，治法有先後緩急，論症因塊痛有無。產後有日數新久，能重產虛之本，而兼去停積之標，攻補如法，無不應手而愈。故有生化消食湯、健脾消食湯之分別施治。</p>
<p><u>生化消食湯</u>　即生化湯加神麯（炒）、麥芽（炒各六分）</p>
<p><u>健脾消食湯</u>　治產後塊痛已除，停食痞塞。</p>
<p>人參（二錢）　當歸（三錢酒洗）　川芎　神麯（炒，各一錢）　白朮（一錢半土炒）　山楂　砂仁（各六分）　麥芽　炙草（各五分）</p>

<h1>忿怒氣逆論</h1>
<p>產後忿怒氣逆，胸膈不舒，甚而作痛者，兼之血塊又痛，宜用木香生化湯，則自然血塊速化，怒氣易散，並治而不悖也。若輕產而重氣，偏用香附、烏藥、枳殼、香砂之類，以散氣行塊，而元氣反損，悶滿疼痛益增，非善治產者也。</p>
<p><u>木香生化湯</u>　治產後塊痛未除，日受氣惱至效。</p>
<p>川芎（二錢）　當歸（六錢酒洗）　乾薑（四分炙黑）　陳皮（三分）　木香（二分磨，沖服）</p>
<p>水煎服。若怒後傷食，與傷食同治，審傷何物，以何藥消之。</p>

<h1>頭痛論</h1>
<p>人身之中，氣為陽，血為陰，陰陽和暢，斯無病矣。夫頭者，諸陽之會也，產後去血過多，陰氣已虧，而虛陽失守，上湊於頭，則令頭痛，但補其血，則陽氣得縱，而頭痛自止。間有敗血停留子宮，厥陰之位，其脈上貫巔頂，作巔頂痛者，雖有身熱惡寒之候，是宜生化湯加減，慎不可用羌、獨等藥，蓋由正陽虧損，濁陰得以犯上，陷入髓海，為脹為痛，是非清陽升復，則濁陰不降，在裡內起之邪為病，非若外入之邪可表而愈也。況生化湯中芎、姜亦能散表邪，桃仁亦能逐瘀血，是又可兼治。再少為因症加入，又何用另方施治乎？</p>

<h1>心痛即胃脘痛論</h1>
<p>人之胃脘居於心下，產後或傷寒氣及冷物而作痛，當散胃中之冷物，生化立效方治之，無有不安。若獨用熟藥攻寒，其痛雖止，而血妄行，反虛產母。況寒者心挾虛，而燥熱者必佐陰藥，方能制其僭越也。至於綿綿而痛，當問血塊盡，又可揉按而少止，是虛當用補劑。大抵產後寒食，上攻於心則心痛，攻於腹則腹痛，治心腹之痛，大約相同。馮氏云：產後陰血虧，隨火上衝心絡，名下心胞絡痛，宜歸脾湯主之。《醫通》用理中加當歸治之。</p>
<p><u>生化立效方</u>　治產後因傷冷物，胃脘作痛。</p>
<p>川芎（二錢）　當歸（四錢）　桃仁（十粒）　乾薑（炙黑）　炙草（各五分）　肉桂　吳萸（各四分）</p>

<h1>腹痛論</h1>
<p>產後腹痛，先問血塊。如有血塊，只服生化湯，甚則調失笑散，其塊消而痛自止。若風冷乘虛入腹，或內傷寒涼之物作痛，得人按摩略止。或熱物熨之略止，宜加味生化湯。密齋用當歸建中湯治之。馮氏云：產後惡露；或因外感六淫，內傷七情，致令斬然而止，瘀血壅滯，所下不盡，故令腹痛，當審因治之。如產後數朝內，飲食如常，忽作腹痛，六脈沉伏，四肢厥冷，此惡血不盡，傷食裹血，而脈不起也。不可誤認氣血兩虛，而用大補，須兼消導、血行之藥。但產後惡露不盡，留滯作痛，亦常有之。然與虛痛不同，必其由漸而甚，或大小便不行，或小腹硬實，作脹痛極，不可近手，或自下上衝心腹，或痛極，牙關緊急，有此實症，當速去之。近上者，宜失笑散；近下者，宜通瘀煎。未效，用決津煎為善。又有腹痛定於一邊及小腹者，此是側臥，敗血留滯所致，亦用決津煎為當也。《金匱》云：產後腹中㽲痛，當歸生薑羊肉湯主之。蓋㽲痛者，緩緩痛也，屬客寒相阻。故以當歸通血分之滯，生薑行氣分之寒。君以羊肉者，所謂「形不足，補之以味」，況羊肉又能補氣，㽲痛屬氣弱，故宜之。若婦人產當寒月，寒氣入產門，臍下脹痛，手不可犯，此寒疝也，亦宜當歸生薑羊肉湯治之。又有產後脾虛，腎虛而為腹痛者，此不由產，而由臟氣不足。若脾氣虛寒，為嘔吐，為食少，而兼腹痛者，宜五君子煎及六君子湯。若腎氣虛寒，為瀉為痢，而兼腹痛者，宜胃關煎或理陰煎主之。若胸膈飽悶，或惡食吞酸，腹痛手不可按，此飲食所傷，治法見傷食門。若食既消而仍痛，按之不痛，更加頭痛煩熱、作渴、惡寒、欲嘔等症，此是中氣被傷，宜溫補脾胃為主。若發熱腹痛，按之痛甚，不惡食吞酸，此是瘀血停滯，失笑散消之。若止發熱、頭痛、腹痛，按之卻不痛，此是血虛，初產生化湯，日久用四物加炮薑、參、術以補之。</p>
<p><u>加味生化湯</u>　治產後風冷，或傷寒物腹痛。</p>
<p>川芎（二錢）　當歸（四錢）　炮姜（四分）　桃仁（十粒）　炙草（五分）　桂枝（四、五分）</p>
<p><u>當歸建中湯</u>　治風冷乘虛入腹，或傷寒冷物腹痛。</p>
<p>當歸（酒洗）　白芍（酒炒）　桂心　炙草（各二錢）　姜（五片）　棗（三枚）</p>
<p>入飴糖三匙，攪勻服。</p>
<p><u>《金匱》當歸生薑羊肉湯</u>　治產後腹中㽲痛，及寒月生產，寒氣入於子門，手不可犯，臍下脹滿，並治寒疝，虛勞不足，及脅痛裡急。</p>
<p>當歸（一兩）　生薑（一兩半）　羊肉（二斤，生）</p>
<p>取羊肉清湯煎藥，溫分三服。</p>

<h1>小腹痛並兒枕論</h1>
<p>產後寒中感寒，及飲食冷物，下攻小腹作痛，前已論之矣。又有因血虛痛及小腹者，亦服生化湯妙。至血塊作痛，俗名兒枕痛者，亦用生化湯；不應，用延胡生化湯均可。密齋云：臍下胞胎所繫之處，血之所聚也，產後血去不盡，即成小腹痛症。刺痛無時，痛則有形，須臾痛止，又不見形，血症黑神散主之。然有產婦小腹作痛，服行氣破血藥不效，其脈洪數，此瘀血內潰為膿也。是因營衛不調，瘀血停滯，宜急治之，緩則腐化為膿，最難治療。若流注關節，則患骨疽；失治，多為敗症。脈數而洪，已有膿；遲緊乃瘀血也，下之愈。</p>
<p><u>延胡生化湯</u>　即生化湯加延胡一錢。治小腹兒枕塊痛。如無塊，但小腹痛，可按而止者，屬虛，以生化湯加入延胡索散，再加入熟地二錢。</p>
<p><u>延胡索散</u>　肉桂　延胡</p>
<p>各等分，合為細末，聽用。</p>

<h1>腰痛論</h1>
<p>產後腰痛者，由腎位系胞，腰為腎腑，產則勞傷腎氣，損動胞絡，或虛未平復，而風冷乘之者，皆致腰痛。若寒冷邪氣連滯背脊，痛久未已，後忽有孕，必致損動，宜養榮壯腎湯主之。如產後日久腰痛，濟陰大造丸治之。如惡露方行，忽斷絕不來，腰中重痛，下注兩股，痛如錐刺入骨，此血滯經絡，不即通之，必作癰疽。《醫通》用調經散加陵鯉甲，或琥珀地黃丸。</p>
<p><u>養榮壯腎湯</u>　治產後腰痛，屬勞傷，或風寒所來。</p>
<p>當歸（二錢）　獨活　桂心　川芎　杜仲（鹽水制斷絲）　續斷肉（制）　桑寄生（各八分，真）　防風（四分）　生薑（三片）</p>
<p>煎服。如服二帖後，疼痛不止，腎虛也，加熟地三錢，再服。</p>
<p><u>局方調經散</u>　治產後敗血，乘虛停積於五臟，循經入於四肢，留滯日深，腐壞如水，漸至身體面目浮腫。或因產敗血上干於心，心不受觸，致心煩躁，臥起不安，如見鬼神，言語顛倒，並宜服之。</p>
<p>赤芍　沒藥（別研）　琥珀（別研）　桂心　當歸（各一錢）　細辛（去苗）　麝香（別研，各五分）</p>
<p>上為末，和勻，每服一錢，溫酒，入生薑少許服，一方每服五分，以痛止為度。</p>
<p><u>琥珀地黃丸</u>　治產後惡露未淨，胸腹痛，小便不利。</p>
<p>琥珀（別研）　延胡（同糯米炒，去米）　當歸（各一兩）　蒲黃（四兩，生半炒半）　乾生地（八兩）　生薑（一斤）</p>
<p>上將地黃咀碎酒浸，生薑切片，各搗取汁留滓，無油杓中，用薑汁炒地黃滓，地黃汁炒姜滓，各干為末，忌犯鐵器，煉白蜜為丸，彈子大，每服一丸，空心，當歸煎湯調服。</p>

<h1>脅肋痛論</h1>
<p>產後脅痛，乃敗血流入肝經，其厥陰之脈，循行脅肋，故作痛。此症有虛實，宜分治之，不可誤也。如脅下脹，手不可按，是瘀血也，宜去其血，芎歸瀉肝湯主之，如脅下痛，喜人按，其人閃動肋骨，狀若奔豚者，此去血大多，肝臟虛也，當歸地黃湯主之。《尊生》云：肋痛屬氣滯，歸芍清肝飲治之。</p>
<p><u>芎歸瀉肝湯</u>　治產後瘀血脅痛，手不可按。</p>
<p>歸尾（一錢）　川芎　香附（童便制，各八分）　青皮　枳殼（麥炒，各六分）　桃仁（八粒，去皮尖）　紅花（四、五分）　入童便　酒</p>
<p><u>當歸地黃湯</u>　治產後肝血去多，脅虛而痛。</p>
<p>人參　當歸（酒洗）　白芍（酒炒）　熟地（各一錢半）　陳皮　炙草　桂心（各一錢）　姜　棗引</p>
<p><u>歸芍清肝湯</u>　治產後氣滯肋痛。</p>
<p>當歸（一錢半）　白芍　桔梗（各六分）　檳榔　枳殼（麥炒，各三分）　桂心　青木香　柴胡（各二分五釐）</p>

<h1>手足身痛論</h1>
<p>產後遍身疼痛者，因產百節開張，血脈流散，氣弱不充，則經絡間血多凝滯不散，筋脈急引，骨節不利，故有腰背不能轉側，手足不能伸屈，或身熱頭痛者，起痛散主之。若誤作傷寒，發表汗出，則筋脈瞤動，手足厥冷，變為痙證，又當十全大補湯也；若指節疼痛，補中益腎湯；足膝腫或痛，獨活寄生湯。《醫通》云：產後手足身痛，是血虛不能榮也。手足走痛者，是氣血不能榮養四末，而濁氣流於四肢則腫，陰火遊行四旁則痛也。不出養榮加黑姜主之。</p>
<p><u>起痛散</u>　治產後遍身疼痛，由氣血虛有滯，不可誤作傷寒施治。</p>
<p>當歸（二錢酒浸）　黃耆（一錢蜜炙）　白朮（土炒）　淮牛膝（蒸）　獨活　肉桂　韭白（各八分）　甘草（三分）</p>
<p><u>補中益腎湯</u>　專治產後虛勞，指節疼痛，頭疼汗出。</p>
<p>人參　蜜炙　黃耆　淡豆豉（各一錢）　當歸（二錢酒浸）韭白（五分）　生薑（三片）　豬腎（一付）</p>
<p>先將豬腎煎熟，取汁二盞，煎藥八分，溫服。</p>

<h1>發熱論</h1>
<p>產後七日內外發熱，其證多端，除傷食發熱已論，見傷食門矣。然又有發熱惡寒頭痛似太陽症，或寒熱頭痛脅痛似少陽症，皆由氣血兩虛，陰陽不和，其狀頗類傷寒，治者慎勿偏執。蓋產後大血空虛，一經發汗，重則亡陽，輕則筋惕肉瞤，或鬱冒昏迷，或搐搦便秘，變症百出矣。雖明知感有外邪，其生化湯內芎、姜亦能散之，否則辛散生化湯亦可。何用發表以犯不可汗之禁乎。產時傷力發熱，去血過多發熱，惡露不快發熱，三日蒸乳發熱，早於起床勞動發熱，多因血虛陽無所依，浮散於外而為熱，只服生化湯二、三劑，去惡生新，陽生陰長，其諸熱悉能退之，《尊生》用丹溪法，以四君子湯，加芎、歸、黃耆、炮姜，治產後發熱，亦甘溫除大熱意也。</p>
<p><u>辛散生化湯</u>　治產後感冒風寒，惡寒發熱頭痛。</p>
<p>川芎（一錢半）　當歸（三錢）　炙草　乾薑（炙黑）　羌活　防風（各四分）　桃仁（十粒去皮尖）</p>

<h1>大便燥秘論</h1>
<p>產後大便燥秘，由於去血過多，胃中枯燥，精微不及下輸，以至糟粕壅滯不通，況大腸主津，產婦內亡津液，則乾涸失其傳導變化之權，故令便難。多服生化湯，則血旺氣順，自潤而通，或服養正通幽湯亦可。倘不大便而無所苦，即勿藥亦可，即有似傷寒三陰症，潮熱汗出，或口燥腹滿，或譫語便秘，燥糞宜下等症。乃氣血枯竭，虛證類實，慎勿妄議三承氣湯以下之。馮氏云：大便難，惟宜調中養血，切不可單用麻仁、枳殼，徒耗腸胃中生養之氣而無功也。有治大便日久不通，大料、芎、歸，服至觔效，方得取效，仍兼服潤腸粥。如大小便俱秘，惡露不行，方論俱見惡露不下門。</p>
<p><u>養正通幽湯</u>　治產後大便燥秘。</p>
<p>川芎（一錢或一錢半或二錢）　當歸（四錢或六錢）　桃仁（十粒去皮尖）　炙草（五分）　陳皮（四分）　麻仁（一錢半炒）　肉蓯蓉（一錢或二錢酒洗去泥甲）</p>
<p>水煎服。如有血塊痛，加肉桂、炒延胡各五分，去蓯蓉。</p>

<h1>類瘧及寒熱往來論</h1>
<p>產後痁瘧，在初產時絕少，即胎前久瘧淹纏，產後裡氣通達，無不霍然。即有半月內外，寒熱往來，每日應期而發，或一日二三度，其症類瘧，皆由產後氣血虛損，陽虛作寒，陰虛發熱，或晝輕夜重，或日晡發熱，或有汗，或頭有汗而不及身足。此乃元氣虛弱，孤陽絕陰之症。俱宜滋榮益氣扶正湯，間服六味丸，以退寒熱，如寒熱往來，頭痛無汗，加減養胃湯治之；若寒熱已久，無汗者，兼煎參朮膏，以助養胃湯藥力。慎不可作瘧治，而用柴胡湯及芩、連、梔、柏以退熱，草果、檳，常以絕瘧而誤人也。至於陰陽不和，乍寒乍熱，參歸湯治之。《全書》云：陰勝寒多，理陰煎；陽勝熱多，三陰煎；陽氣陷入陰中，補陰益氣煎，陰陽俱虛，八珍、十全：敗血不散，流入陰中而作寒熱，決陰煎、殿胞煎。</p>
<p><u>滋榮益氣扶正湯</u>　治產後寒熱往來，有汗，每午後應期而發。</p>
<p>人參　熟地（各二錢）　川芎　黃耆（蜜炙）　麥冬（去心各一錢）　當歸（三錢）　白朮（錢半土炒）　陳皮（四分）　炙草（五分）</p>
<p><u>加減養胃湯</u>　治產後以及一月類瘧，並治寒熱往來，頭痛無汗。</p>
<p>人參（錢半）　川芎　茯苓　蒼朮（米泔水制，炒，各一錢）　當歸（三錢，酒浸）　藿香　炙草（四分）　橘紅（四分）　制夏（八分）　姜（一片）　棗（三枚）</p>
<p><u>參歸湯</u>　治產後陰陽不和，乍寒乍熱。</p>
<p>當歸（酒洗）　炮姜（一錢）　人參　白芍（炒）　川芎　炙草（各八分）</p>
<p><u>理陰煎</u></p>
<p>熟地　當歸　乾薑　炙草</p>
<p><u>三陰煎</u>　治肝脾虛損，精血不足，及營虛失血等病。凡中風血不養筋，及瘧症汗多，邪散而寒熱猶不止者。</p>
<p>人參　當歸（二三錢）　熟地（三五錢）　酒炒芍藥　棗仁（各二錢）　炙草（一錢）</p>
<p><u>補陰益氣煎</u></p>
<p>人參（一二錢）　當歸　山藥（酒炒，各二三錢）　熟地（三五錢）　陳皮　炙草（各一錢）　升麻（三五分，若火浮於上者，去此不用）　柴胡（一二錢，如無外邪不用）　姜（三片）</p>
<p>煎服。此補中益氣湯之變方，治勞倦傷陰，精不化氣，陰虛外感痎瘧，並便結不通，凡屬陰氣不足，而虛邪外侵者，用此升散，無不神效。</p>

<h1>類中風痙痓及語澀口噤不語筋攣瘈瘲等症論</h1>
<p>凡婦人衝脈，為血脈之海，若血脈充足，流暢無滯，則關節清利而無病矣。至於產後勞損臟腑，氣血暴竭，百骸少血濡養，多有陰虛內熱，熱極生風，雖外症如風實，內臟陰血不足，氣無所主，卒爾口噤牙緊，唇青，肉冷，汗出，或唇口喎斜，手足筋脈攣搐，諸症類於中風者，或因血氣耗損，腠理不密，汗出過多，神無所主，致角弓反張，此乃厥陰虛極，類痙痓者。在傷寒之家。雖有剛柔之分，而產後無非血燥、血枯之症，總宜養陰補血，血長而虛風自滅，任其痰火乘虛泛上，皆當以末治之，毋執偏門而用治風消痰之方，以重虛產婦也。治初產，當服生化湯，以生旺新血。如見危症三帖後即用人參益氣以救之；如有痰有火，或少佐橘紅、竹瀝、薑汁，其黃芩、連、柏不可並用，膽星、蘇子尤不宜加，慎之！慎之！如產已數日，腹無塊痛，即用滋榮活絡湯，如語澀、四肢不利，宜天麻湯。密齋治語言蹇澀，加味生脈散，治汗多口噤、背反氣微、類痓，用止汗生血飲；治無汗筋攣，用芎歸棗仁湯。諸書所用，悉皆參附、十全、理陰、大補元煎之類，溫養而峻補之，從來未有以風痰治者。昔立齋用十全大補治口噤，挖開口灌之，如不得下，令側其面出之，仍灌熱者，又冷又灌，數次即能下而蘇矣。《醫通》云：口噤則抉齒灌之，齒噤則落入鼻中即蘇，此古人救急灌法，不可不知。至於治口噤，不能為語，峻補之中少兼通心氣之藥治之。故密齋、《尊生》俱用七珍散，以通心氣也。馮氏治產後瘈瘲，用八珍加丹皮、鉤藤，以生陰血；不應，用四君子、芎、歸、丹皮、鉤藤補脾土。蓋血生於至陰，至陰者，脾土也，且氣有生血之功耳。再此證如傷寒誤汗亡液，誤下亡陰，潰瘍膿血大下之後，小兒吐瀉之後，悉多患之。故在產後，亦惟去血過多，或大汗、大瀉而然，其為元氣虧極，血液枯敗可知。若肢體惡寒，脈微細者，此為正狀；若脈浮大，發熱煩渴，此為假象，惟當固本為善。若至於無力抽搐，戴眼反折，汗出如珠，兩手撮空者，不治。《尊生》治產，久拘攣，不宜補者，用舒筋湯治之。</p>
<p><u>滋榮活絡湯</u>　治產後口噤、項強、筋搐，類中風證。</p>
<p>人參（二錢或三錢）　川芎　茯神（各一錢）　當歸（三錢酒浸）　黃耆（一二錢，蜜炙）　麥冬（一錢二分或一錢）　天麻（八分或一錢）　熟地（二錢）　陳皮　荊芥　防風　羌活　炙草（各四分）　黃連（三分，薑汁炒）</p>
<p><u>天麻湯</u>　治產後中風恍惚，語澀，四肢不利。</p>
<p>人參　棗仁（炒）　茯神　遠志肉（制）　山藥　柏子仁　麥冬（各一錢）　當歸（一二錢）　石菖蒲　半夏曲　南星曲（各八分）　川芎　羌活（各七分）　天麻　防風（各五分）　細辛（四分）</p>
<p><u>加味生脈散</u>　治產後去血太多，心血虛弱，不能上榮於舌，語言蹇澀。</p>
<p>人參　麥冬　歸身　生地　炙草　石菖蒲（各一錢）　五味子（十三粒捶碎）</p>
<p>豶豬心一個，劈開，水二盞，煎至一盞半，去心，入藥，煎七分。此方治怔忡甚效。</p>
<p><u>止汗生血飲</u>　治產後汗出多而口噤，背強而直，氣息欲絕，類痓症，宜速治。</p>
<p>當歸（二錢，酒浸）　川芎　麻黃根（各一錢）　桂枝　羌活　防風　羚羊角　天麻（各六分）　附子（制）　炙草（各四分）</p>
<p>水煎服。</p>
<p><u>芎歸棗仁湯</u>　治產後無汗，筋脈拘攣，類痓證。</p>
<p>當歸（二錢，酒洗）　川芎　防風（各一錢）　棗仁（五分，去殼，炒用）</p>
<p>一方有羌活七分。</p>
<p><u>七珍散</u>　治產後敗血停積，閉於心竅，神志不明。蓋心氣通於舌，心氣閉，則舌強不語。</p>
<p>人參　石菖蒲（各一錢，為散各一兩）　川芎（一錢，為散七錢五分）　生地（一錢，為散，易炙甘草三錢）　細辛（二分，為散二錢半）　薄荷（一分，為散無此味）　防風（五分）　辰砂（五分，研細水飛，為散三錢）</p>
<p>《尊生》合生化湯服。</p>
<p><u>舒筋湯</u>　羌活　薑黃　炙草（各二錢）　海桐皮　當歸　赤芍（各一錢）　白朮（一錢，土炒）　沉香（少許）</p>

<h1>泄瀉及完穀不化並遺屎論</h1>
<p>產後泄瀉，不可與雜症同治。大率中氣虛弱，傳化失職所致，氣虛、食積與濕也。氣虛宜補，食積宜消，濕宜燥之。然惡露未除，又難以驟補、峻消、急燥。當先用蓮子生化湯三劑，化舊生新，方中且有蓮子、茯苓補脾利水，兼治其瀉，候舊化新生，然後用健脾利水生化湯，或補氣，或消食，或化積，或燥濕分利，因證加入對證之藥，始無滯澀虛虛之失。至產後旬日外，方可與雜症同論。然猶宜量人虛實而治也。如痛下清水、腸鳴、米飲不化者，以寒瀉溫之；如糞色黃，肛門痛，以熱瀉清之；如飲食過多傷脾，噯氣味如敗卵，以食積消之；如飲食減少，食下腹鳴，腹急，盡下所食之物，方覺暢快，以脾虛食積補而消之。丹溪云：如產後虛瀉，眼昏不識人，危證，用參苓朮附湯救之。又有胎前久瀉，產後不止，以致虛脫，須從權服參苓生化湯以扶虛，仍分塊痛、不痛，加減而治。凡瀉兼熱，切勿用芩、連、梔、柏；兼痰，切勿用半夏、生薑。如瀉渴，參麥飲以回津液；如產後脾瀉不止，參苓蓮子飲妙。夫完穀不化者，因產時勞倦傷脾，而轉輸稽遲也。夫水穀入胃，遊溢精氣，散歸於脾，脾氣散精，上歸於肺，而調通水道，乃能致氣滋臟以養人。今因產勞倦脾傷，以致沖和之氣不能化，而物完出焉，病名飡泄。又飲食太過，脾胃受傷，亦致完穀不化，俗呼為水穀痢也。然產方三日內，血塊未散，患此脾敗胃弱之症，未可遽加耆、術。且服加味生化湯，內有益智、砂仁，少溫其氣，俟塊消散，服參苓大補生化湯。如胃氣虛，瀉利黃色，用補中益氣湯加木香治之；若久瀉痢虛者，參香散；如久瀉，元氣下陷，大便不禁，肛門如脫，宜加味六君子湯；若見完穀不化，色白如糜，此脾胃大虛，元氣虛脫之候，十有九死，惟猛進溫補之劑，庶可挽回。即有煩躁發熱、面赤、脈來數大，皆虛火上炎之故，當並進桂、附、人參、甘草、乾薑、苓、術之類，伏龍肝煎湯，代水煎服，仍得收功。若小便混濁如泔，或大便中有白沫如腸垢者，乃元氣下陷之故，並宜補中益氣，加桂、苓、炮姜升舉之。或瀉臭水不止，加蘄艾、香附、吳茱萸。若兼瘀結不通，腹脹喘急，雖神丹亦無濟也。如大便不知，為遺屎，補中益氣湯加肉蓯蓉、故紙。</p>
<p><u>蓮子生化湯</u>　治產後血塊未消泄瀉。</p>
<p>川芎　茯苓（各二錢）　當歸（四錢一方一錢，黃土炒）　炮姜（四分）　桃仁（十粒）　炙草（五分）　蓮子（十枚，去心）</p>
<p><u>健脾利水生化湯</u></p>
<p>川芎　當歸（黃土炒，各一錢）　白朮（二錢，土炒）　澤瀉（八分）　炮姜（四分）　陳皮　炙草（各五分）　肉果（一枚，煨）　人參（三錢）　茯苓（一錢五分）</p>
<p>瀉水多而腹不痛者，有濕，加製蒼朮一錢以燥之。諸瀉方中，須加蓮子十枚。</p>
<p><u>參苓朮附湯</u>　丹溪治產後虛瀉，眼昏不識人，危症，用此方救之。</p>
<p>人參（七錢）　白朮（三錢，土炒）　茯苓　製附子（各一錢）</p>
<p><u>參苓生化湯</u>　治胎前久瀉，產後不止。</p>
<p>人參　當歸（各二錢）　炮姜　炙草（各五分）　訶子皮　川芎　山藥（炒，各一錢）　肉果（麥煨）　茯苓（一錢五分）　蓮子（七枚）　糯米（一大撮）</p>
<p><u>參茯蓮子飲</u>　治產後脾泄不止，並治年久不止脾泄之症。忌勞力，恐火動復瀉。</p>
<p>人參　白朮（土炒，各二錢）　白芍（八分，炒）　當歸（一錢半）　白茯苓　山藥（各一錢）　升麻　陳皮（三分）　炙草（四分）　蓮子（十二粒，去心）</p>
<p>姜二片，水三盅，煎服。取藥內蓮子送藥。</p>
<p><u>加味生化湯</u>　治產後脾虛，三日內血塊未消，完穀不化，胎前素弱者，非胃苓能治，此方主之。</p>
<p>川芎　益智仁　砂仁（各一錢）　當歸（四錢，土炒）　炮姜（四分）　炙草（五分）　茯苓（一錢五分）　桃仁（十粒，去皮尖）</p>
<p><u>參苓大補生化湯</u>　治產後血塊痛止，可服此以補之，完穀自化矣。</p>
<p>人參　白朮（土炒，各二錢）　川芎　當歸　益智仁　白芍（炒）　茯苓（各一錢）　炮姜（四分）　肉果（一個，麥煨）　炙草（五分）　蓮子（八粒，去心）</p>

<h1>痢滯論</h1>
<p>凡雜症之痢，皆由暑濕之積邪，或挾食積所致。傷於氣分則痢白，傷於血分則痢赤，氣血俱傷赤白兼下。至產後患此，則有不同，治法亦異，蓋多有中氣虛而停積也。如產後七日內外，患赤白痢疾後重頻並，最為難治。欲調氣行血而推蕩痢邪，猶慮產後之元氣方虛；欲滋榮益氣而大補產虛，又恐反助痢初之邪盛。其行不損元，補不助邪，惟生化湯去乾薑，加以木香、茯苓（名香苓生化湯）為善，以其能消惡露，兼行痢滯也。如痢在七日之外，可酌加芍、連、蓮、樸等藥；如傷麵食、穀食瀉痢，先服生化湯加炒神麯，塊痛止，服六君子加麥芽一撮，或神麯一錢；如傷肉食瀉痢，先服生化湯加山楂、砂仁，塊痛止，服六君子湯加山楂四、五枚，砂仁四分，炒神麯一錢；如半月外患赤痢後重，歸芍連殼飲；如脾氣虛弱瀉痢，四肢浮腫，宜六君子湯加木香、肉果（麵煨），合五皮散；如瀉痢黃色，乃脾土正氣虛耳，宜補中益氣湯加木香四分、肉果一枚（煨）；如胃氣虛弱瀉痢，完穀不化，當溫助胃氣，及產後瀉痢日久後重者，並宜服加味六君子湯。大凡產後赤痢，去血多，薑、砂、木香之類不可多用，熱則血愈行。倘血痢日久不止者，血虛也，宜四物湯加荊芥、人參。凡諸症兼嘔吐，皆宜加藿香五分，痰加製半夏八分。兼小便短澀，引加燈心三十寸，且燈心利水而不傷陰，況產後津液已虧，兼之瀉痢傷陰，復傷津液，小便理宜短少，故止用燈心足矣，不可用利水傷陰之藥也。如胎前下痢，產後不止，伏龍肝湯丸治之。又有白頭翁加甘草阿膠湯，治產後痢不止。馮氏云：產後腹痛瀉痢，若非外因所傷，乃屬腎氣虧損，陽虛不能生土，陰虛不能閉藏耳，必用四神、八味補腎。倘誤投分利導水之劑，是益其虛。但瀉痢之症，非脾即腎，如病在腎，所謂補脾不如補腎；如病在脾，自又補腎不如補脾也。</p>
<p><u>香苓生化湯</u>　治產後七日內，患赤白痢。</p>
<p>川芎（二錢）　當歸（五錢）　炙草（五分）　桃仁（十粒）　茯苓（一錢）　陳皮（四分）　木香（一分）</p>
<p><u>歸芍連殼飲</u>　治產後半月外，患赤痢後重。</p>
<p>川芎（一錢半）　當歸（三錢）　白芍（酒炒）　茯苓（各一錢）　黃連（六分，薑汁炒）　枳殼（五分，麥炒）　甘草（四分）　木香（三分）</p>
<p><u>五皮散</u>　治產後風濕傷脾，氣血凝滯，以致面目虛浮，四肢腫脹，氣喘。</p>
<p>陳皮　桑皮　姜皮　茯苓皮　大腹皮（黑豆水制淨，各一錢）</p>
<p><u>伏龍肝湯丸</u>　治胎前下痢，產後不止，及元氣大虛，瘀積小腹結痛，不勝攻擊者。</p>
<p>山楂肉（一兩，炮黑）　黑糖（二兩，熬枯）</p>
<p>二味，一半為丸，一半為末，用伏龍肝二兩煎湯代水，煎前末二錢，送前丸二錢，日三夜二服，一晝夜令盡。氣虛，加人參二、三錢，駕馭之；虛熱，加炮薑、肉桂、茯苓炙甘草；兼感風寒，加蔥白、香豉；膈氣不舒，磨沉香數匙調服。</p>

<h1>腹脹滿悶論</h1>
<p>產後有因敗血流入於脾胃，腹脹嘔吐者，已於嘔吐門中論之矣。然婦人因產，脾胃多虛，飲食最易停滯而生脹悶，若產畢，隨服生化湯消其舊瘀而生其新血，瘀塊既消，便大補氣血，使脾胃健運，自無中虛脹滿之證。其產後大率因傷食，而誤用消導，因氣鬱而誤專順氣，或因多食冷物，而停滯惡露，或因血虛大便燥結，誤下而愈脹。此蓋止知傷食當消，氣鬱當順，惡露當攻，便結當下，不知消耗愈多，胃氣大損，滿悶益增，氣不升降，積鬱之久，兼成臌脹。若再專用攻消，不死不休矣。豈知消導佐於補劑內，則脾強而所傷之食消氣散；逐瘀佐以養血劑中，則惡露自行而大便濡潤亦通。《秘書》立有治脹方，並養生化滯湯二方，治產後脹症，均未敢專於消導，前人之慮產深矣。《醫通》云：胎前孕婦服安胎藥過多，或正產、半產後，經一兩月惡露未淨，此非敗血之比，宜導氣行血，若用止截誤矣。又云：飽悶惡露不行，多因血逆，宜行瘀為主，如有塊上升，飽悶欲吐者，二陳湯加薑、桂、香附、炮楂、蓬朮；塊不散，積久愈堅，琥珀黑龍丹。予謂：審知飽悶，實因惡露不行所致。若初產，仍宜服生化湯，瘀去而飽悶自開，可無藉乎二陳、炮楂、蓬朮，恐產虛者難當耳。</p>
<p><u>治脹方</u>　治產後腹脹。</p>
<p>人參（二錢）　白朮（土炒）　當歸（各三錢）　茯苓（一錢半）　川芎（七分）　陳皮（四分）　甘草（三分）</p>
<p><u>養生化滯湯</u>　治產後大便不通，誤服大黃等藥，致成膨脹。</p>
<p>人參　茯苓　川芎　白芍（炒，各一錢）　當歸（四錢）　桃仁（十粒）　肉蓯蓉（一錢半，酒洗去泥甲）　大腹皮（五分，黑豆水制淨）　陳皮（四分）　制香附　炙草（各三分）</p>

<h1>浮腫論</h1>
<p>產後手足俱浮，皮膚間光瑩色潤，乃脾虛不能制水，腎虛不能行水也，宜大補為主，補中利水湯治之。如因寒邪濕氣，傷表無汗而腫，前湯加姜皮、半夏、蘇葉，或五皮散亦可。又有由敗血乘虛停積，而循經流入四肢，留淫日深，腐壞如水，故令面目四肢浮腫，乍寒乍熱，醫人不識，誤作水氣治之，多用導水。凡治水藥，極能虛人，產後既虛，藥又虛之，是謂重虛，多致夭枉。如產畢，隨服生化湯，化瘀生新，自無此敗血如水之症。今既失治，宜服小調經散，則血行腫消。密齋用調經湯，又加味五皮湯，使氣血流行，風濕消散，腫自消矣。若水氣系肺失降下之令，其人必發咳嗽，小便澀少，可立而辨也。如腳腫或肚肺，或成臌腫，宜濟生腎氣丸。馮氏云：產後浮腫，若寒水侮土，宜養脾肺；若氣虛浮腫，宜蓋脾胃；若水氣浮腫，宜補中湯；若兼喘咳而脈沉細無力，此命門火衰，脾土虛寒也，八味丸主之。腹滿者，氣虛而非血也，補中湯送八味丸，一以升補清陽，一以斂納濁氣，升降既得，而脹滿自消矣。</p>
<p><u>補中利水湯</u>　治產後七日外，消腫利水。</p>
<p>人參　白朮（土炒，各二錢）　茯苓　白芍（炒，各一錢）　木瓜（八分）　陳皮（五分）　紫蘇　製蒼朮　木通　大腹皮（黑豆水淨制）　厚朴（薑汁製，各四分）</p>
<p>如壅滿，用製半夏、陳皮、制香附監之。</p>
<p><u>小調經散</u>　治產後浮腫，因敗血者。</p>
<p>歸身（酒洗）　赤芍　桂心（各一錢）　沒藥　琥珀（各一分）　麝香　細辛（各五釐）　炙草（二分）</p>
<p>為末，每服五分，薑汁酒調下。</p>
<p><u>調經湯</u></p>
<p>歸身（酒洗）　赤芍　丹皮　桂心　赤茯苓　陳皮　炙草（各一錢）　細辛　炮姜（各五分）</p>
<p><u>加味五皮湯</u>　治產後虛弱，腠理不密，調理失宜，外受風濕，面目四肢浮腫者。</p>
<p>桑白皮　陳皮　茯苓皮　大腹皮　生薑皮（各一錢）　漢防己　枳殼　豬苓（各八分）　炙草（五分）</p>

<h1>淋症論</h1>
<p>產後淋症，此亦血去陰虛生內熱也。蓋腎為至陰，主行水道，去血過多，正陰虧損，故生內熱，小便成淋而澀痛。是以熱客於脬，虛則頻數，熱則澀痛也。氣血兼熱，血入胞中，則血隨小便而為血淋。但小便淋閉卻與不通當分別而治。不通者，屬氣虛，淋屬內熱澀痛，故密齋治淋，用知柏導赤散、調益元散治之。馮氏云：血虛熱鬱，當用六味丸、逍遙散，補陰養血，滋其化源，佐以導血藥可也。</p>
<p><u>知柏導赤散</u></p>
<p>生地　赤芍　木通　麥冬（去心）　黃柏　知母（炒）　桂心　甘草（各一錢）　燈心（四十九寸）</p>

<h1>大小便血論</h1>
<p>產後尿血、小腹痛者，乃敗血流入膀胱；小腹不痛，但溺時澀痛者，乃內熱也。並用小薊湯主之，《尊生》用加味腎氣，去桂、附，加生地、發灰治之。至於大便便血，或因飲食起居失宜，或因六淫七情過極，致元氣虧損，陰絡受傷也。四君子加生地、升麻、歸身、白芍、發灰治之。</p>
<p><u>小薊湯</u></p>
<p>小薊根　生地　赤芍　木通　蒲黃　淡竹葉　甘草梢（各一錢）　滑石（二錢）　燈心引</p>

<h1>咳嗽論</h1>
<p>產後七日內，外感風寒咳嗽，鼻塞聲重，惡寒者，只服生化湯自愈，內有芎、姜散其邪也，或於生化湯中加杏仁、桔梗。有痰加天花粉，又有加味生化湯，並皆治之，總不用麻黃動汗，即嗽而脅痛，亦不用柴胡伐肝，因其內虛耳。</p>
