<header data-type="book">
<h1>診脈三十二辯</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>管玉衡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>脈雖四診之一其精微玄妙非粗工庸術所能推測晉王叔和之言日心中易暸指下難明謂沉為伏方治永乖以緩作遲危殆立至況有數候俱見異病同脈者乎若是乎辯之不易也予何人斯敢為脈辯然理雖難辯自上古神聖以及歷代名宿雖兼望聞問未有舍切而能施其巧者予又不得不為之辯辯之云者亦敢於古人未發之旨妄增一說也古人之言簡質平淡意多含蓄未易通曉予則辯之使顯俾隱深之妙洞若觀火及至後儒各殫所學博求眾本人持一說莫所適從予則辯之使其據經分剖不致混亂一辯大略也自二辯至七辯宗伯仁之大脈而著其所統共得二十九脈每脈各注其陰陽肖其形象如芤動牢革之最難明者皆有確義可尋自八辯至十二辯則詳敘十二經源流不特盡脈所經行之處典診脈之法如辯肺經則肺之體肺之用肺之性情肺所受六淫七情之傷以及肺之積肺之敗不獨知肺之脈兼盡肺之義心脾肝腎莫不皆然而於胞絡三焦向所憒憒者尤極開晰自十四辯至三十二辯則究極脈中變化之奧有全取諸書者則標其目雖粗工庸術閱是編當亦有會然不敢自謂無漏也聊以此請正天下有知予蓋留心於此道者或肯惠然賜教爾</p>

<h1>序</h1>
<p>管侗人先生不知何許人此書為其手著言簡意賅瞭如指掌洵有稗初學之書也予於今春得於吳市之舊書肆中雖為抄本而簡端有新刊二字似當時己付梓行大約流傳未廣□致湮沒惜哉爰將原本郵寄吉生仁丈即煩校正付印以公同好云</p>
<p><u>癸亥鞠秋下浣海昌後學祝紹鈞識於吳門客次</u></p>

<h1>新刊診脈三十二辯卷上</h1>

<h2>一辯診脈大法</h2>
<p>脈者血氣之先也血氣盛則脈盛血氣衰則脈衰王叔和分七表八里九道七表者浮芤滑實弦緊洪也八里者微沉緩澀遲伏濡弱也九道者長短虛促結代牢動細也滑伯仁括之以浮沉遲數滑澀之六脈浮沉之脈輕手重手而取之也芤洪散大長濡弦皆統於浮伏短細牢實皆統於沉遲數之脈以已之呼吸而取之也緩結微弱皆遲之類疾促皆數之類滑澀之脈則察夫往來之形也滑類乎數澀類乎遲然脈雖似而理則殊數為熱遲為寒滑為血多氣少澀為氣多血少究而論之叔和表裡之說不可不知伯仁之論尤捷而便診時男左女右人臂長則疏下指臂短則密下指掌後高骨為關先以中指定關位徐下前後二指要得舉按尋三法輕手循之曰舉重手取之曰按不輕不重委曲求之曰尋下指時輕按以消息之次重按以消息之然後自寸至關逐部尋究須均呼吸以定至數一呼一吸要以脈四至為率呼出心與肺吸入腎與肝間以脾脈在中為一息五至是平脈也其有太過不及則為病脈又須識時脈胃脈與臟腑平脈然後及於病脈時脈謂春弦夏洪秋毛冬石也胃脈謂三部中每部各有浮中沉浮主皮膚候表及腑沉主筋骨候里及臟胃脈在中按之和緩無胃則真臟脈見矣平脈如心脈洪大而散之類既推病在何部更分在氣在血又須識三部所主寸為陽為上部主頭以下至心胸之分關為陰陽之中為中部主臍腹肚脅之分尺為陰為下部主腰足脛股之分病脈見時在上為上病在下為下病左曰左病右曰右病左脈不和病在表右脈不和病在裡脈法之要不外乎此</p>

<h2>二辯浮脈所統有十</h2>
<p>（芤洪大散虛長弦濡緊革皆統於浮）</p>
<p>浮陽金也指下接之不足輕舉有餘如風吹毛如水漂木曰浮是陰不足陽有餘其病在表主風有力表實風邪盛無力表虛陰血虧浮遲表冷浮數風熱浮滑痰熱浮芤夫血浮洪虛熱浮大鼻塞浮散勞極浮虛傷暑浮濡陰虛浮弦風痰浮緊風寒浮緩風濕又寸浮主傷風頭疼發熱關浮左主膨脹右主中滿腹痛餐泄浮而大風在胃中張口息肩尺浮客陽在下焦虛喘耳鳴泄便悶若浮而無力按之如捻蔥葉曰芤芤草中空狀如蔥管浮沉二候易見故曰有邊獨中候豁然難見正如以指著蔥浮取得上面之蔥皮中取正在空處沉按又得下面之蔥皮無中非絕無但比之浮沉則無力若泥為絕無是無胃氣矣舊以前後為兩邊與蔥義不合芤為陽火是陰去陽存之脈候主矢血大抵氣有餘血不足血不統氣故虛而大若芤之狀也經曰常病得之生卒病得之死血虛故也寸芤主血妄行為吐為衄關芤左血海空右胃虛主腹多積瘀尺芤下焦虛主血淋血崩若滿指騰上來盛去長如江河之大波濤湧起曰洪洪即實脈之無力者也為氣血大熱之候屬火寸洪胸滿煩熱關洪胃熱口乾尺洪二便悶塞下血若脈形加於常脈一倍曰大陽也經云大則病進然平人三部皆大往來上下自如為稟質之厚一部獨大斯可占病若按之滿指來去不明漫無根底如楊花散漫之象曰散陽也火也散脈獨見有表無里是血亡而氣欲去主身危又產婦得之生孕嫌得之墮若形大力蒲舉按豁豁然不能自固曰虛陰也經曰久病脈虛者死若過於本位不大不小迢迢自若曰長陽也木也主氣血有餘若長而軟滑曰氣治長而堅搏曰氣病實牢弦緊皆兼長脈邪氣盛則見之又女人左關長曰多淫欲男子兩尺長曰多春秋若接之浮軟如水面浮綿隨手而沒曰濡濡主氣血虛乏又為傷濕陰也寸濡上焦寒陽虛自汗關濡脾虛冷尺濡惡寒若按之端直以長狀若箏弦挺然指下者曰弦為陽中伏陰屬木弦貴輕虛以滑勁急如新張弓弦者病危凡經絡間為寒所滯氣血不舒則弦脈見故脈弦必作痛陽弦頭痛陰拉腹痛尺弦少腹痛又木旺者脈必弦木旺必來侮土土虛不能制濕而痰飲之症生故瘧脈自弦其單絃或寒或痛或飲癖或拘急又有雙弦脈來如引二線為肝實為寒痼　弦甚為緊狀如轉索乃熱為寒束陰陽相搏之脈屬陽病則為痛為毒其芤弦相合形如按鼓皮者曰革陽也芤虛弦寒虛寒相搏是精血遺亡而氣獨守女子半產漏下男子亡血失精</p>

<h2>三辯沉脈所統有五</h2>
<p>（伏短細實牢皆統於沉）</p>
<p>沉陰水也重手按下至筋骨乃得如綿里砂內剛外柔如石投水必極於底曰沉是氣滿三焦而不運於臟腑為陰逆陽郁之候其病在裡為寒為水畜為氣有力裡實必痰食有形之物凝滯於內無力裡虛乃無形之氣鬱結於中沉遲痼冷沉數伏熱沆滑痰食沉澀氣鬱沉伏霍亂沉牢冷積沉弦飲痛沉緊冷痛沉弱陰痛沉緩寒濕寸沉左為寒邪在心右為寒痰停蓄傷寒兩寸沉曰難沽平人兩寸沉曰無陽多艱於壽關沉伏寒在經左主兩脅刺痛右主中滿吞酸尺沉腎寒主腰背冷痛男子精冷女子血結沉細為陰庠伏類於沉然沉行筋骨間伏行骨上重按著骨指下裁動曰伏陰水也積陰冷毒之氣滯於三焦為關格閉塞之候伏而數曰熱厥亢極而兼水化也伏而遲曰寒厥陰極而氣將絕也惟傷寒脈伏主大汗而解尋之兩頭無中間有不及本位狀加米粒曰短陰金也是氣不足以導其血為不及之病澀微動結皆兼短脈過於悲哀之人其脈多短短而滑數為酒傷寸短頭痛關短宿食尺短脛冷又關不診短短見於關上是上不通寸為陽絕下不通尺為陰絕若應指沉沉不絕如絲曰細陰也為吐衄為尤勞過度為濕凡血衰氣少則順否則逆若中取之沉取之脈皆幅幅有力曰實屬土是伏陽在內寒錮於外實而靜為氣血有餘實而躁為里有邪婦人尺實為有孕實統牢革牢革之脈古人多混淆莫辯不知革浮牢沉革虛牢實形證各異放革脈見浮部其按之堅固有力動而不移曰牢陰中有陽裡實表虛病主胸中氣促骨間疼痛大抵其脈近於無胃氣故諸家皆謂危殆之脈</p>

<h2>四辯遲脈所統有五</h2>
<p>（緩結代微弱皆統於遲）</p>
<p>遲陰土也一呼一吸脈不及五至曰遲乃陰盛陽虧之候主臟塞審其遲之微甚知寒之淺深有力冷痛憮力虛寒浮遲表寒沉遲裡寒乍遲乍數為虛火又有不浮不沉不疾不徐不微不弱加微風輕颭柳稍之狀曰緩緩屬陰土有和緩之義沖和之氣洋溢於脈血滿肌肉故不嫌遲乃脾之正脈若浮而緩曰衛氣傷沉而緩曰榮氣弱諸部見緩脈皆主氣血不斂為不足之症緩大風虛緩細濕痹緩澀血虛緩弱氣虛寸緩皮膚不仁關緩不欲飲食尺緩腳弱下腫若脈來遲緩時一止而復來者曰結結者陰脈之極陰獨盛而陽不能入為七情所郁寒邪滯經氣血痰飲食五者一留於其問則見為結脈浮結氣滯沉結積聚結促皆危癥結促之脈無常數或二動或三動一止即來有動而中止不能自還因而復動搖是復止尋之良久乃復強起曰代若暴損氣血元不續者可沽痛脈時見代娠婦亦有代脈必在三月餘不則一臟絕他臟代至故曰代必死若輕診即見重按如欲絕有而若無者曰微陰也是勞極諸虛之候浮微陽不足沉微陰不足會經汗吐下後見之為陰陽將自和欲愈之脈軟極曰弱萎弱不振類濡而沉陰也氣虛則脈弱陽陷入陰之象寸弱陽虛尺弱陰虛關弱胃虛病後老人見之順平人少年見之逆</p>

<h2>五辯數脈所統有二</h2>
<p>（疾促統於數）</p>
<p>數陽火也一呼一吸脈逾五至曰數是陽熱太過之脈有力實火無力虛火浮數表熱沉數里熱寸口數實肺癰數虛肺痿數而堅如銀釵之股曰蠱毒數之甚為疾脈來數時一止而復來者曰促促者陽脈之極盛陽盛而陰不能和氣血痰飲食五者一有留滯則脈必見止而為促促非惡脈然漸退則生進則死</p>

<h2>六辯滑脈所統有一</h2>
<p>（動統於滑）</p>
<p>滑陽水也然非獨陽乃純陽正陰和合交結不能獨散而成滑陰隨陽化曰熱化故其症為熱實形則往來流利如珠走盤而中有力大批血盛則脈滑故腎脈宜於滑而收斂脈形清者為血有餘三五不調脈形濁者為血滯為痰浮滑風痰沉滑食痰兼氣滑數痰火滑短宿食寸滑陽實胸中塞滿吐逆關滑氣滿食即吐尺滑畜血婦人尺滑有斷絕為經閉和滑為孕舉之無尋之有無頭無尾狀如大豆厥厥動搖不離其處者曰動動隨虛見陽他陰虛陽戰於內動脈即現多於關部見之主痛主泄痢見於寸為陽陽動為驚為汗見於尺為陰陰動則發熱形冷</p>

<h2>七辯澀脈</h2>
<p>澀陰金也如兩沾沙如刀刮竹往來極難曰澀澀為氣有餘氣盈則血少榮衛不相隨故脈來蹇滯肺則宜此病之所主復中氣結內則血痹痛外則中霧露毒浮澀表惡寒沉澀里燥涸寸澀液不足關澀血不足尺澀精不足必艱於嗣又女人有孕為胎痛不安或胎漏無胎為敗血</p>

<h1>新刊診脈三十二辯卷中</h1>

<h2>八辯肺大腸脈</h2>
<p>手太陰肺經為一身之華蓋統十二經十五絡五臟六腑之死生吉凶皆於此決蓋肺居臟腑最上臟腑之氣無不上薰乎肺也以其位高非君主行榮衛故曰相傳之官治節出焉居右手寸口與手陽明大腸為表裡肺臟大腸腑言其體屬西方辛金言其用肺主氣多言則傷氣咳嗽由此而作肺又藏魄並精出入謂之魄精氣之臣佐也其竅通於鼻肺和則鼻知香臭言其牲情之雜著肺主聲自入為哭其傳於五臟者亦各自有聲其為各臟所傳者心主臭入肺為腥脾主味入肺為辛肝主色入肺為白腎主液入肺為涕其為六淫所中肺宜溫潤燥則病寒亦病其為七情亦害尤或悲則魄戶不閉金氣鬱塞心火乘之其有不內外因而病者叫呼損氣則傷肺也脈起於中焦中焦者中脘也在臍上四寸下絡太腸還循胃口上膈胃口有上下上口在臍上五寸上脘穴分下口在臍上四寸下脘穴分膈隔也人心下有膈膜前齊鳩尾後齊十一椎周圍著脊所以遮隔濁氣不使上薰心肺肺脈貫膈布胸中故病為咳為上氣為喘為渴為煩心為胸滿從膈屬肺從肺糸橫出腋下下循臑內下肘中循臂內上骨下廉入寸口上魚循魚際出大指之端肺系喉嚨也故肺病缺盆痛甚臂下脅上曰腋膊下對腋處曰臑臑盡處為肘肘以下為臂臂以下為脘廉隅也魚謂掌骨之前大指本節之後肥肉隆起處統為之魚故肺病為臑臂內前廉痛為掌中熱其支者從腕後直出次指內廉出其端診脈加三菽重浮於三菽者大腸脈也按之於皮毛相得曰浮稍稍加力脈道不利為澀又稍加力不及木位曰短此其平脈若鼓急病太過蕭索病不及洪大則金受人克謂之賊邪主中風氣壅鼻燥癇疾芤亦屬火主積血在胸氣傷而血凝也弦則金不足而妻乘之是為微邪主大陽結氣急鬲中疼痛緊則頭痛緩濕乃脾邪所致為虛邪主風濕沉濡而滑則腎邪相干為實邪有寒有風有痰加細病在骨主骨蒸單沉主氣脹又胸中留滯化為痰單滑痰塞氣壅作嘔逆單濡主氣乏冷脹又有正邪浮本肺脈然是浮浮而實謂之陽結肺絡循咽大陽為腑咽門燥大陽結皆坐此浮甚或三部俱浮惡寒壯熱熱能傷氣氣傷不能衛金反虧而木反盛咳嗽氣促痰唾稠濃雙目流淚皆坐此肺之積名曰息奔在右脅下大如覆杯以春甲乙日得之蓋心邶傳肺肺當傳肝肝旺不受邪肺欲復還心心不受故留結為積肺氣實夢兵戈相競虛則夢涉水田若肺絕而真臟脈見大而虛加風吹毛又如以毛羽中人膚其見於外者氣出不還絕汗如珠轉出不流又氣喘兩肩動曰肩息或髮直如麻丙曰篤丁曰死死於已午時肺之大略如此</p>
<p>大腸脈</p>
<p>手陽明大陽傳導不潔之物變化物之形故曰傳導之官變化出焉大陽上口即小腸下口大腸下接直腸直腸下為肛門穀道傳送不潔之物必待肺氣下行故與肺為表裡屬西方庚金體用性情等皆不外平肺其脈即受肺交肺脈出次指大陽脈遂起於食指之端循指上掌出合谷兩骨間合谷虎口也上循臂入肘外廉上臑外前廉上肩出肩端兩骨名髃骨之前廉上出於肩胛上際名天柱骨會於大椎大雄肩上高骨也下入缺盆絡肺下膈屬大腸其支者從缺盆上頸貫頰入下齒縫中返出兩吻各挾口交人中左之右古之左上挾鼻孔其邪氣有餘而實則脈所經過之處皆熱腫而痛其正氣不足而虛則為寒慄大腸之大略如此</p>
<p>手少陰心經為一身之君主神明出焉居左手寸口與手太陽小腸為表裡心臟小腸腑言其體屬南方丁火言其用心主血其竅榮於舌故舌為心苗心和則舌音嘹亮心又藏神血氣兩全謂之神精氣之化成也心平則神明不測言其性情之雜著心主臭心屬火火化物五味出焉火炎盛則生焦苦故自入為焦其傳五臟者亦各自有臭其為各臟所傳者肺主聲入心為言脾主味入心為苦肝主色入心為赤腎主液入心為汗其為六淫所中傷暑之病必心先得其為七情所害喜則神庭融泄火氣赫曦腎水乘之其有不內外因而病者養心莫善於寡欲榮神役慮則神疲而心受傷心脈受足太陰脾脈之交脾脈終於心故心脈起於心中心附脊第五椎出屬心系心系有一二則上與肺通入肺兩大葉間一則由肺系而下曲折向後並脊裡細絡相連貫通五臟系從心系下膈絡小腸其支者從心系上挾咽故心病嗌乾系目故心病目黃其直者復從心系上肺出腋下循臑內後廉下肘循臂內後廉抵掌後兌骨之端入掌內後廉循小指出其端故心病臑臂痛掌中熱診脈如六菽之重浮於六菽者小腸脈也按之與血脈相得曰洪稍稍加力脈道覺粗曰大又稍加力脈道闊軟曰散此平脈也若飛急病太過如水中浮萍動病不及沉濡而滑水來剋火是為賊邪然汗通則腎水平火不受水賊矣單沉主中寒心氣刺痛單濡煩躁冷汗單滑主心熱上焦滿痰壅吐逆渴浮短澀乃肺脈為微邪火金相合火來剋金金虛則木盛主風熱又心浮頭旋目暗心澀精血俱敗胸痹心痛弦則病因肝木而致為病虛邪火中有木木能御土無土則水至又木挾火而欲侮金金木交戰於胸中能致胸中急痛若脈緊亦自作痛緩大乃脾之本形為實邪火中有土水不能制火是謂子能制鬼然火邪愈甚熱極生風能令舌不活動心中驚惕又有正邪曰芤曰數皆屬火芤主血凝不流心脈芤積血在胸中氣上則吐衄氣陷則痢數為邪熱太過數甚能令舌生風而唇破裂狂言目見鬼神心之積名曰伏粱起臍上大如臂上至心下以秋庚辛日得之蓋腎邪傳心心當傳肺肺盯不受邪心復欲退腎腎不受故留結為積心臟有餘夢見憂驚怪異之事心臟不足夢煙火光明若心絕而真臟脈見堅而搏如循薏苡子累累然如轉豆脈又前曲後踞如操帶釣前曲者輕取則堅強不柔後踞者重取則牢實不動全失沖和之氣其見於外者發必焦枯面黧黑掌腫無文壬日篤癸日死死於亥子時心之大咯如此</p>
<p>小腸脈</p>
<p>手太陽小腸為受盛之官承奉胃司受糟粕化物而傅入大陽故化物出焉與心為表裡屬南方丙火用與性情等皆不外乎心脈受心交心脈終於小指小腸脈即起於小指之端循手外側上脘出踝中腕下兌骨為踝直上循臂骨下廉出肘內側兩筋之間上循臑外後廉故臑肘臂痛屬小腸出肩解膂上兩角為繞肩脾肩解下成片骨為肩解交肩上入缺盆故小腸病肩似拔而痛絡心循咽為嗌痛下膈抵胃屬小腸其支者從缺盆循頸上頰為頸腫不可以顧又為頰腫至目兌皆入耳中故為目黃為耳聾其支者別頰上䪼目卜曰䪼抵鼻至目內眥出目內角曰內眥外角為曰兌皆小腸之大略如此</p>

<h2>十辯脾胃脈</h2>
<p>足太陰脾經倉廩之官五味出焉居右手關上與足陽明胃經為表裡脾臟胃腑言其體屬中央已土言其用已化物為水穀之海胃戊化火火熱土濕其氣相通推磨萬物變化糟粕其華在唇四白其竅通於口故脾和則口知五味又上朝肺金下按命門心主血肝藏血脾則里血藉胃氣連入命門男子化而為精女子盈而為月事由是播敷各臟長養骨髓榮於一身肌肉肥澤故又曰脾主肌肉脾藏意智能思記曰意智血氣之主持也故又曰諫議出焉言其性情之雜著脾主味自入為甘其傳於五臟者亦各自有味其為各臟所傳者脾主聲入脾為歌心主臭入脾為香肝主色入脾為黃腎主液入脾為涎其為六淫所中濕病必起於脾如五泄皆濕也其為七情所害思虛則意舍不寧土氣凝結肝木乘之其有不內外因而病者飲食勞倦則傷脾也大抵土愛暖熱則傷胃寒則傷脾不寒不熱則脾胃和平脾脈受胃之交胃脈終於足大指脾脈即起於足大指之端故腳病為足大指不能舉用循指內惻白肉際過核骨後即孤拐骨也上內踝前廉循脛骨上膝股內前廉入腹屬脾絡胃故強立膝股內腫腹脹嘔食溏泄胃脘痛客寒於胃為善噫皆脾病從胃上膈挾咽連舌本散舌下為舌本強其支者復從胃別上膈注心中診脈如九菽之重浮於九菽者胃脈也按至肌肉阿阿緩漫如微風輕颭柳稍之狀曰緩次稍加力脈道敦實曰大此平脈也弦緊則肝脈見於脾部木來剋土為賊邪主疼痛然土衰則木失培養亦主筋拘急而作嘔逆若沉濡而滑為微邪沉主積冷氣塊尤結中滿吞酸濡則中脘冷痛滑則脾家熱主風寒久停漸成霍亂實而洪心火相乘為虛邪土中有火火能化物消中而脾胃皆虛或口乾或翻胃太實主心痛芤則血在中焦王大腸成癰浮澀屬金為實邪浮主風熱熱則金不能剋木木來剋土金乃有病之子不能顧母主胃中空虛肢體脹滿澀則損食氣痞上逆又有正邪緩者脾脈緩甚則病痿厥若三部皆緩土能制水水衰則火必獨炎亦主脾胃熱口臭翻胃齒肉浮腫心力損少脾之積曰痞氣在胃脘覆大如盤以冬壬癸日得之蓋肝邪傳脾腳當傳腎腎旺不要邪脾復欲還肝肝不受故留結為積脾氣實夢歌歡樂虛則夢爭飲食若脾絕而真藏脈見如雀之啄筋肉間連三五下且堅且銳忽來頓去良久復來如屋之漏筋肉間良久一滴濺起無力如釜之沸皮膚間有出無入湧湧如羹之上沸其見於形者魚口涎不收唇青反人中滿甲日篤乙日死死於寅卯時脾之大咯如此</p>
<p>胃脈</p>
<p>足陽明胃經與脾為表裡上遍咽喉胃下口卻小腸上口屬中央戊土戊化火故土性受暖熱則傷胃但忌寒耳主行氣故谷入胃脈道乃行其用與性情等俱不外乎脾脈受手陽明大腸之交大腸脈終於鼻孔胃脈即起於鼻之兩旁上行左右相交頞頞即山根也故⿰鼻丸衄皆胃病下循鼻外上入齒中還出挾日環唇下交承漿唇下陷中曰承漿循頤後下廉上耳前循髮際至頞顱故齒痛口喎唇胗額顱痛皆胃病其支者從耳後下頸循喉嚨入缺盆下隔屬胃絡脾故胃病主頸腫喉痹其直者從缺盆下乳內廉下挾臍入氣街中其支者起胃口下循腹裡至氣街與前之入氣街者合故胃邪盛身以前皆熱又主大腹水腫膺扎氣街俱痛搖氣街下髀關抵伏免股外為髀髀前膝上起肉處為伏兔後為髀關即股內也下膝臏中循脛外廉下足跗入足中指內間挾膝解中為臏足面為跗股膝足脛痛皆胃病其支者別跗上入大指間出其端胃實則熱熱則惡火四肢者諸陽之本陽盛則四肢實實則能登高而歌棄衣而走又火盛與水相激為奔響腹脹胃虛則寒慄鼓頒善呻惡人喜閉戶處聞木音則驚顏則黑且數數而欠胃之大略如此</p>

<h2>十一辯肝膽脈</h2>
<p>足厥陰肝經名曰將軍居左手關上與足少陽膽經為表裡肝臟膽腑言其體屬東方乙木言其用心主血肝藏之故肝為血海其候在目肝和則目辯五色其華在爪其充在筋爪與筋皆血所養也肝又藏魂從神往來謂之魂精氣之輔弼也謀慮於是乎出言其性情之雜著肝主色自入為青其傳於五臟者亦各自有色其為各臟所傳者肺主聲入肝為呼心主臭入肝為臊脾主味入肝為酸腎主液入肝為淚其為六淫所中諸風病皆始於肝故肝所發病必頭目眩脅痛肢滿手足青其為七情所害肝氣虛則恐實則怒怒則魂門馳張木氣奮激肺金乘之故曰怒氣傷肝具有不內外因而病者疲劇筋痛肝氣不調也肝脈受膽脈之交膽脈終於足大指三毛肝脈即起足大指業毛之際上循足跗去內踝一寸即螺螄骨上踝八寸上膕內廉即曲膝腕中循股入陰毛中過陰器抵小腹故肝病為㿉疝狐疝少腹痛遣溺閉隆諸病從小腹挾胃屬肝絡膽上貫膈布脅脅故肝病肋脅腰痛不可俯仰從脅肋循喉嚨之後上入頏顙頏脛也顙額也連目系目內廉深處為目繫上出額與督脈會於巔其支者從目系下頰裡環唇內其支者復從肝別貫膈上注肺故肺脈從中焦起診脈如十二菽之重浮於十二菽者膽脈也重按至筋脈如箏弦相似曰弦次稍加力脈道迨遞為長此其平脈也少見筋急其脈必緊若見肺脈金來剋木為賊邪然二者皆陽陽之性熱金畏熱金反虛而木反盛木來乘金則為空虛浮而數風熱入肝經目昏眼淚筋瘻浮而促心腹脹滿澀則肝虛不能藏血肋脹身痛目昏緩大則微邪不治自退沉濡而滑腎邪相干是為虛邪沉則引寒入胃主血冷痞滿沉而堅實致痃癖之疾沉而虛弱肝家虛乏濡至受濕冷霧露之氣精枯筋瘻滑則肝家有熱頭旋目暗筋急洪大屬火為實邪風熱侵胃中焦煩悶目赤左癱盜汗嘔吐芤則血不歸宗主吐血血不養筋主癱緩不能含血養目主眼暗又木火相合木挾火而侮金主腸癰又有正邪弦為本脈亦不可過如新上弓弦而急者為大過病外在外令人常怒忽忽眩冒癲疾如箏弦解落恚逆滿胸若溢關上湧出寸口乃木盛生風主目眩頭重筋疼肝之積名曰肥氣狀如覆杯在左脅下突出如肉肥盛之狀以季夏戊已日得之蓋肺邪傳肝府當傅脾脾旺不受傅肝復欲還肺肺不受故留結為積肝氣實夢山林樹木虛則夢細草若肝絕而真藏脈見中外急如循刀刃實實然見於外者睹物而不能轉晴曰直視又手足瓜甲皆青黑卵筋縮舌卷蓋筋聚於陰器而脈絡於舌本故也庚日篤辛日苑死死申酉時肝之大咯如此</p>
<p>膽脈</p>
<p>足少陽膽經為清淨之府官中正主決斷與肝為表裡屬東方甲木用與性情等皆不外乎肝而驚則傷膽脈受三焦之交三焦脈終於目銳眥膽脈即起於目銳皆病則目銳皆痛上抵頭角主頭角痛下耳後循頸至肩上入缺盆其支者從耳後入耳中出耳前至目銳皆後其支者別銳眥抵於䪼下頸合缺盆故頰頷耳後痛頸缺盆腫痛皆屬膽從是下胸中賞膈絡肝屬膽循脅裡出氣街繞毛際橫入髀樞中其直者從缺盆下腋循胸過季脅下臺胖樞中故心脅肋髀痛不能轉側頸項腋脅生瘡為馬刀俠癭皆屬膽下循髀陽出膝外廉下外輔骨之前直下抵外踝以上絕骨之端下出外踝之前循足跗上入小指次指之間其支者別足跗上循大指本節之後岐骨內出其端還貫瓜甲出爪甲後三毛故膽病脛膝至外踝及大指諸節皆痛又膽汁味苦為口苦膽氣不舒為善大息少陽氣鬱為面有塵氣體無膏澤少陽有火為汗出膽之大略如此</p>

<h2>十二辯腎膀胱脈</h2>
<p>足少陰腎經居左手尺部與足太陽膀胱為表裡腎臟膀胱腑言其體屬北方癸水蓋人之有腎如樹之有根枝葉雖枯槁本立將自生故上部無脈下部有脈雖困無能為害言其用腎納氣又藏志存神守精謂之志導一而不移故曰作強之官伎巧於是乎出其竅通於耳腎相則耳辯五音言其性情之雜著腎主液自入為唾故腎損唾中有血其傳於五臟者亦各自有液其為各臟所傳者肺主聲入腎為呻心主臭入腎為腐脾主味入腎為咸肝主色入腎為黑其為六淫所中寒疾皆依於腎而兼惡濕如久坐濕地或帶汗入水腎受傷矣其為七情所害恐則志窒不遂水氣旋怯脾土乘之其有不內外因而病者勞役陰陽每傷腎也脈受足太陽之交膀胱終於足小指腎脈即起於足小指之下斜趨足心故腎病為足下熱而痛循內踝之後別入跟中上踹內出膕內廉上股內後廉貫脊屬腎絡膀胱故病先發於腎者必腰脊痛痙酸其直者從腎上貫肝膈入肺中故腎病主咳循喉嚨挾舌本故為舌乾嗌乾咽腫其支者從肺出絡心注胸中故為煩心為心痛診脈如十五菽之重浮於十五菽者膀胱脈也按之與骨相得曰沉故傷腎骨瘦如柴次重按之脈道無力為濡舉止流利為滑此平脈也若緩漫則士來剋水為賊邪腰間凝滯膀胱壅塞陰痿腳脛重洪則屬火為微邪盜汗發渴小便赤澀腳作痠疼此乃腎虛小便血女人血淋血崩為患浮屬金為虛邪金水相合母令子虛子虛則水衰水衰則火盛而侮金金無所恃致風入肺虛喘耳鳴膀胱熱澀則主傷精弦從肝為實邪風寒在下焦頭旋腰痛筋疼浮緊應耳聾又有正邪滑者腎脈滑而實如土丸之墮而急甚莖中痛小便閉如小豆在潮而無力主腎虛沉者陰脈沉見三部腎臟寒皮燥毛乾津液少而喜飲或水溢於上而多唾腎之積名曰弈豚發於小腹上至心下如豚伏上下撫時以夏丙丁日得之蓋脾邪傳腎腎當傳心心旺不受邪腎復欲還脾脾不受故留結為積腎實則夢腰有所繫虛則夢溺水或夢鬼神若腎絕而真臟脈見按之如亂丸如彈石如解索其見於外者腎邪浸淫各臟黑色見於耳目口鼻至舌黑必死或項筋舒展瞳人反背遺尿不禁戊日篤已日死死於辰戍丑未時腎之大略如此</p>
<p>膀胱脈</p>
<p>足太陽膀胱在腎之下大腸之側上系小腸下連前陰為州都之官精液藏焉氣化則能出與腎為表裡屬北方壬水用與性情等俱不外乎腎脈受手太陽小腸之交故小腸脈終目內眥膀胱脈即起目內眥病為目似脫或目黃淚出上額交巔其支者從巔至耳上角其直者從巔入絡腦故病為邪氣衝頭而痛還出別下項故項似拔循肩膊內挾脊抵腰中入循膂絡腎屬膀胱故病腰似拔其支者從腰下貫臀入膕中故病痔膕似結其支者從膊內在右別下貫脾挾脊內過髀樞循髀外從後廉下臺膕中且腨內出外踝之後循京骨至小指外側故病髀不可以曲腨似裂足小指不能舉用又凡病背膂筋痛小便閉即知其發於膀胱膀胱之大略如此</p>

<h2>十三辯心胞絡三焦脈</h2>
<p>手厥陰心胞絡名手心主手心主者手少陰心經之主也心者五臟六腑之大主精神所舍其臟堅固邪物能客客之則心傷心腸則神去神去則死故諸邪之在心者皆在於絡胞有里心之膜包於心外相君用事為心主之脈居右手尺部與手少陽三焦為表裡胞絡臟三焦腑此內經之說斷斷不誣即靈蘭秘典問十二經相使貴賤有曰膻中者臣使之官而不及心胞則似膻中與三焦為腑臟至其所云喜怒出焉者與心主之性相合則意主宣教膻中奉令言膻中即言心胞也其命門一說穴在兩腎之中即彼太極圖中之白圈是也水火兩蘊為真陰真陽所自出初未當有左右之分越人始分之亦不言其為相火之臟叔和立說方以三焦命門為表裡然亦不可謂無深意且以五行之理言之如在地有木火土金水之五行在天則有風熱濕燥寒火之六氣人肖天地其臟腑之具於身者與天地造化生成之理若合符節是故在天為風在地為木在人臟腑為肝為膽在天為熱在地為火在人臟腑為心為小腸在天為濕在地為土在人臟腑為脾為胃在天為燥在地為金在人臟腑為肺為大陽在天為寒在地為水在人臟腑為腎為膀胱五者之外又有相火遊行於天地上下氣交之中故臺為五運六氣人為之相火亦遊行腔子之內上下盲膜之間丹溪雲天非此火不能生物人非此火不能有生腎屬陰主乎靜靜則陽寓乎其中陽既孕矣其能純乎靜而無生氣之動歟若經所謂腎主水受五臟六腑之精而藏之是陽歸之陰血成孕者也又謂腎為作強之官伎巧出焉是陽出之陰而化生者也是故腎為一臟配五行而言則屬之水以其兩腎之中左右各有一小竅右為陽為火為氣乃三焦所稟左為陰為水為血乃真陰所稟命於是左腎之陰水生肝木肝木生心火右腎之陽火生脾土脾土生肺金其四臟之於腎猶枝葉之出於根也搖是言之命門雖為水臟實為相火所寓之地相火無定體在上則寄於肝膽胞絡之間發則如龍火飛躍於霄漢而為雷霆也在下則寓於兩腎之內發則如龍火鼓舞於湖海而為波濤也命門靜而闔涵養乎一陰之真水動而開鼓舞乎龍雷之相火水者常也火者變也為陰中養陽之候故男子以藏精女子以系胞胎而且不即於左尺見而必於右尺見者蓋右尺胞絡三焦俱屬相火譬如造物用者作處不如聚處右尺乃相火聚處故命門火專於右尺候之其體即屬相火相火盛衰於此決言其用心胞為血之母竅則通於喉性情則不外乎腎其為六淫所中暑則傷胞其為七清所害悲則傷胞其有不內外因而病者房帷任意傷胞絡也脈受足少陰之交故腎脈終於胸中胞絡脈即起於胸中出屬心胞絡下膈歷絡三焦故病為心中憺憺動為煩心為心痛心赤色為面赤其支者循胸中出脅上抵腋下循臑內入肘下臂入掌中循中指出其端故病為胸脅支滿為腋腫為臂肘攣急其支者別掌中循無名指出其端診法同腎若命門歇水浸淫而賊火之氣金剋木而伐火之源真臟脈見為魚翔在皮膚間木不動末強搖加魚在水中身首帖熱屋獨悠颺之狀又為蝦游在皮膚間始則冉冉不動少焉瞥然而去久之倏爾復來又為蝦戲一呼一吸動之係指其見於外者面黑目白心胞絕掌內無文胞絡之大略如此</p>
<p>三焦脈</p>
<p>手少陽三焦有上中下之名或欲以上焦附寸中焦附關下焦附尺依經言上者上之下者下之之說果執是說則如伯仁所言大小腸宜見於尺不宜見於寸揆之經脈授受之次有是理哉大概心胞在膈上命門在膈下三焦俱不相失而相應上焦寄位兩乳之間名曰膻中中焦在胃中脘即臍之右旁下焦在臍下膀胱上口故自膻中以迄臍下三寸皆為氣海有脂膜在腔子內包羅乎五臟六腑之外合之胞絡共成六臟六腑為十二經而或言腑止有五者以三焦有名無狀不名正腑腑屬膀胱也而或言臟亦止五者以命門與腎二而一不及心胞也然或言五腑六臟或言五臟六腑則六臟六腑之名不能滅又何疑於手少陽之為三焦手厥陰之為胞絡也哉其體亦屬相火言其用三焦為氣之父蓋腎間氣動人之生命十二經之根本三焦者原氣之別使也主通行三氣經歷於五臟十二經故曰稟腎間動氣以資始藉胃中欲氧以資生為決瀆之官水道出焉合胞絡為用宣流氣血分別清濁運導營衛上升下降各得其所脈受胞絡之交故胞絡脈終於第四指三焦脈即起於無各指之端循手腕出臂外兩骨之間上貫肘循臑外上肩故肩肘臑臂痛皆三焦病入缺盆布膻中散絡心胞下膈屬三焦故病為嗌乾為喉痹其支者從膻中入缺盆上項繁耳後直上出耳上角下頰至項其支者從耳後入耳中出走耳前交頰至目銳皆故三焦病耳後痛耳聾頰腫目銳皆痛三焦之大略如此</p>

<h1>新刊診脈三十二辯卷下</h1>

<h2>十四辯人迎氣口脈</h2>
<p>醫宗曰關前一分人命之主左為人迎右為氣口關前一分者寸關尺各有三部共得九分今曰關前一分仍在關上但仕前之一分耳故左為人迎辯外因之風以在關乃肝膽脈肝為威藏故曰人迎緊盛傷於風右為氣口辯內因之食以右關乃脾胃脈胃為水穀之海脾為倉凜之官故曰氣口緊盛傷於食勿以外因兼求六氣勿以內閃兼求七情也或以前一分為寸上豈有左寸之心可以辯風右寸之肺可以辯食乎</p>

<h2>十五辯男女脈異</h2>
<p>男子寸脈常盛尺脈常弱弱者少腎虛火旺反多盛也女子寸脈常弱尺脈常盛盛者少陽盛陰虛反多弱也又男子之脈左大為順女子之脈右大為順</p>

<h2>十六辯老少脈異</h2>
<p>老弱之人脈宜緩弱過旺者病少壯之人脈宜充實過弱者病山甫以為猶有說焉老者脈旺而非躁此天稟之厚引年之叟也名曰壽脈若脈躁疾有表無里其死近矣壯者脈細而和緩三部平等此天稟之靜清逸之士也名曰陰脈若脈來細而勁直前後不等可與決死期矣</p>

<h2>十七辯肥瘦脈異</h2>
<p>瘦人脈健肥人脈沉瘦人多火故脈健肥人多濕故脈沉若瘦人火盛極則脈亦沉治難見效</p>

<h2>十八辯方宜脈</h2>
<p>中原之地四時異氣居民之脈亦因時異春弦夏洪秋毛冬石脈與時違皆名曰病東夷之地四時皆春其氣暄和民脈多緩南夷之地四時皆夏其氣蒸炎民脈多大西夷之地四時皆秋其氣清肅民脈多勁北夷之地四時皆冬其氣凜冽民脈多石東南卑濕其脈軟緩居於南巔亦西北也西北高燥其脈剛勁居於汗澤亦東南也南入北脈所稟必剛北人南脈所稟必柔東西不同可以類剖</p>

<h2>十九辯候胃氣脈法</h2>
<p>胃為水穀之海資生之本也故曰有胃氣則生無胃氣則死胃脈六部皆有蓋六部皆有浮中覺中即胃脈也此處分別甚難即於足陽明候之使其脈中和無過不及急疾則為無胃氣丹溪更有候胃氣法謂男子以氣成胎則氣為之主女子挾血成胎則血為之主男人久病右脈克於左者有胃氣也病雖重可治女人久病人脈克於右者有胃氣也病雖重可治反此者虛之甚也更有趺陽亦胃氣脈在足附上五寸骨間動脈衝陽者是病重切其旺衰以決死生</p>

<h2>二十辯虛實子母</h2>
<p>看脈先辯虛實滑利力薄無神則為虛澀滯力厚有神則為實實則損之一定之法又必損其子若母令有餘之勢易殺虛者益之必然之理又必益其子若母令不足之勢易培子母亦有虛實如某脈病母脈虛急補母應本脈可得母養亦必兼補本脈之子令彼無所泄某脈病子脈虛急補子庶本脈不為子累又宜兼補本脈之母令彼有所資又賊脈不宜盛賊盛必乘邪淫來勝本脈法當培木脈伐賊脈又急益賊之鬼令其制賊損賊之母俾其無靠賊之母即本脈之妻也此皆生克之理之最微者不識此不能治病</p>

<h2>二十一辯有脈無脈</h2>
<p>經云部有脈下部無脈其人當吐不吐則死觀當吐二字便知胸中有物填塞至陰抑遏肝氣而絕升生之化也故吐之則愈不吐則暴死若使其人胸中無物可吐此陰絕於下也非死症而何經又云下部有脈上部無脈雖困無能為害此雖至理亦不可執上不至關為陽絕況無脈乎明者可以悟矣若覆病人之手而脈出者此運氣不應之脈非無脈也論在運氣脈中</p>

<h2>二十二辯脈不見</h2>
<p>凡診三部浮沉脈不見即當以神氣形色相參委曲求之如形色神氣不憊脈則若有若無而未脫此為邪氣伏藏若形色神氣已憊此乃天真絕矣</p>

<h2>二十三辯脈無根</h2>
<p>經云諸浮脈無根者皆死是有表無里謂之孤陽造化所以亙古不息者一陰一陽互為其相陰既絕矣陽豈獨存乎人身之氣血亦然</p>

<h2>二十四辯內外宜細分</h2>
<p>外入之病左脈大於右寸脈盛於尺常也然風寒暑濕則然如勞役飲食跌撲雖為外入亦屬內傷故右手氣口大於人迎勞役傷者兩寸俱虛飲食傷者右關微盛跌撲傷者氣血皆滯脈弦澀滑傷左左不和傷右右不和內出之病加喜怒尤思悲恐驚則右脈大於左榮氣病脈弦小而數衛氣病脈滑大而數榮病尺盛於寸衛病寸盛於尺又外入之病見陽脈為易沽內出之病見陰脈為可治反者不救</p>

<h2>二十五辨表裡不可執</h2>
<p>脈浮病在表脈沉病在裡此表裡之綱領亦有見表症其脈不浮見於肌肉之間接之不足輕舉有餘如波湧之狀泛上而急亦表也有見里症其脈不沉見於肌肉之間舉之不足按之有餘如漫流之水沉靜不急亦裡也又寸盔亦主表尺盛亦主裡如此方盡表裡之義</p>

<h2>二十六辯寒熱有真假</h2>
<p>辯寒熱以遲數二脈為本此一定之法如熱症見數脈按之不鼓覺滑利而虛乃虛火遊行於外非真熱乃假熱當作元氣不足冶若診而實方為真熱寒症見遲脈診之鼓擊澀滯而實是實火伏匿於內非真寒乃假寒當作邪氣有餘治若診而寒方為真寒真假不差投藥方效</p>

<h2>二十七辯脈有亢制</h2>
<p>經云亢則害承乃制此言太過之害也亢者過於上而不能下承者受也亢極則反受制也如火本剋金克之太過則為亢金之子為水可以制火乘火之虛來復母仇而火反受其制矣在脈有之陽實者脈必洪大至其極也脈反匿伏陽極似陰也陰虛者脈必細微至其極也脈反躁疾陰極似陽也凡過極者反兼勝已之化是皆陰陽亢制之埋惟明者知之</p>

<h2>二十八辯風食氣脈</h2>
<p>傷寒中風虛損瘧痢等病人不常有其朝夕失調動輒得之無過風食氣三者最宜辯晰男女左關洪為感風肝脈沉伏亦感風以風邪外束故沉伏也亦有中氣不清肝脈如不動者血少也男女右關短為傷食脾脈沉伏亦傷食以脾虛食壓不能動也亦有脾家濕而脈伏者又脈沉食輕脈短食重此風與食之辯也如肝脈浮洪甚胛脈咯浮短調肝脈盛於脾先得風而後得食也脾脈洪短甚肝脈略浮洪謂脾脈盛於肝先得食而後得風也若肝脈如不動脾脈或短或洪盛或二關俱洪皆風食惟肝脈伏脾脈亦伏餘脈又無力是為中氣不清胸中加雲霧然中氣不清由脾胃不好致之須清中氣兼補脾或餘脈有力咬牙作難過之聲又是風食症如肺脈拱脾脈伏與短必氣食相感主大便不通肺伏亦然肝脈洪亦有感氣者然肺感輕肝感重凡病肝脈洪者多感風也惟肝脈細而不續胸中有時迷悶有時清爽此氣鬱也</p>

<h2>二十九辯關格脈</h2>
<p>凡陰氣太盛陽氣不得相營曰關陽氣太盤陰氣不得相營曰格陽氣不能營於陰陰脈上出而溢於魚際為外關內格外關內格者乃陰脈乘陽陽外閉而不下陰內出以格拒之也其為病外熱液汗不通內寒胸滿吐食陰氣不能螢於陽陽脈下陷而覆於尺部為內關外格內關外格者乃陽脈乘陰陰內閉而不上陽礎外入以格護之也其為病內熱大小便閉外寒手足厥冷其脈有陰陽相乘有復有溢皆於此會</p>

<h2>三十辯從脈不從症</h2>
<p>脈語曰表症汗之常也病發熱頭痛脈反沉仲景急救其里用四逆湯此從脈之沉也里症下之常也曰晡發熱屬陽明脈浮虛宜發汗此從脈之浮也結胸證具常以大小陷胸湯下之矣脈若浮大不可下下之即死是宜從脈而治其表也身疼痛常以桂枝麻黃汗之矣尺中遲不可汗以榮氣不足血少故也是宜從脈而調其榮矣此皆從脈不從症也世有問症而忽脈者得非仲景之罪人乎</p>

<h2>三十一辯從症不從脈</h2>
<p>脈語曰脈浮為表汗之常也亦有宜下者脈浮大心下硬也脈沉為里下之常也亦有宜汗者少陰病始得之反發熱麻黃附子細辛湯微汗之是也脈促陽盛常用葛根芩連清之矣若脈促厥冷為虛脫非灸非溫不可此人非促為陽盛之脈也脈遲陰寒常用乾薑附子溫之矣若陽明脈遲不惡寒身體濈濈汗出則用大承氣此又非諸遲為寒之脈矣是皆從症不從脈也世有切脈而不問症者其失可勝言哉</p>

<h2>三十二辨形氣宜合脈</h2>
<p>脈為人之本形乃人之標標本宜相應故形盛脈大為順脈小為逆形瘦脈小為順脈大為逆暴病有餘形盜脈洪實為順脈微而虛為逆久病不足形瘦遲緩為順脈數而實為逆經云形盛脈細少氣不足息者炕形疲脈大胸中多氣者死信然</p>
