<header data-type="book">
<h1>斑論萃英</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王好古</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>底本</dt><dd>明刻清印《東垣十書》本（<a href="https://lccn.loc.gov/2012402514">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
