<header data-type="book">
<h1>太醫院秘藏膏丹丸散方劑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>太醫院</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>勝金丹</h2>
<p>香附（一斤，分七份，酒醋浸七日）　甘草（七錢五分）　赤芍（一兩五錢）　白芍（一兩五錢）　川芎　當歸　白芷（各一兩五錢）　熟地（四兩五錢）　白薇（四兩）　藁本（三兩）　茯苓丹皮　牛膝（各二兩五錢）　桂心（三兩五錢）</p>
<p>上十四味，俱用好酒浸七日，曬乾為末，聽用。每料用酒醋各一斤。赤石脂（二兩）　白石脂（二兩）　此二味用醋浸三日，火煅，淬七次，曬乾為末，入前藥內。乳香　沒藥（各一兩）　硃砂　琥珀（各五分）</p>
<p>上四味，用好黃酒二兩研成膏，入前藥內，加蜜為丸，如桐子大。此藥專治婦人月水不調，或過期不來，或崩漏不止，下焦虛冷，久無子嗣，或血癖氣積，不時作痛，四肢浮腫，嘔吐噁心，虛煩勞倦，面色萎黃，赤白帶下，或如爛肉，盜汗不止，血勞虛勞，骨蒸潮熱，積年血風，腳手麻木，半身不遂，及室女虛傷勞弱，經脈不調，並宜服之。每服二丸，空心溫酒送下，滾水亦可。</p>

<h2>七制香附丸</h2>
<p>香附（一斤）　一、用無火酒一兩六錢，浸一日，煮，焙乾。二、用鹽五錢化水，浸一日，煮，焙乾。三、用生梔仁五兩，同炒焦，去梔仁不用。四、用姜二兩取汁，浸一日，煮，焙乾。五、用紅花五兩煎湯，浸一日，煮，焙乾。六、用陳醋二兩，浸一日，煮，焙乾。七、用童便四兩，浸一日，煮，焙乾。</p>
<p>當歸（二兩）　川芎（二兩）　以上二味，研細末，酒四兩，打糊為丸，如綠豆大。</p>
<p>此藥專治調經，治婦女百病，調經間治崩漏、帶下、補虛、種子、嗣育、小產諸病，胎前產後，癥瘕積聚，逆血塊，肚腹疼痛等症。凡婦人氣血虛實，有餘不足，變生諸症，無不治之。本草言，香附子開鬱順氣，消滯寬中，逐瘀調血，治婦女如仙。方評此藥行中有補，補中並消。今人七制，調和藥性，不寒不熱，有無窮之理，不測之功，婦女科之要藥也。每服二錢，早晚各進一服，溫黃酒送下，白滾水亦可。</p>

<h2>太平丸</h2>
<p>天門冬　麥冬（去心）　知母（鹽水炒）　川貝（去心）　冬花　杏仁（各五錢）　生地　黃連（各一兩八錢）　阿膠　當歸（各一兩五錢）　蒲黃　桔梗　京墨（煅，煙盡）　薄荷（各三兩五錢五分）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥專治勞病久嗽，肺痿肺癰，肺熱咳嗽，咯血吐血，痰中有血，咽痛作渴，鼻孔生瘡，或因怒傷，強力過度，或酒衝心肺，醉飽入房，以致膈痛，肺經虧損，因而生嗽。每服一丸，後或臨睡細嚼，用白滾水送下。如是痰盛，先用梨湯或白水送下消化丸一錢，然後再噙化太食平丸。二藥合攻，其痰嗽掃跡除根。</p>

<h2>資生丸</h2>
<p>人參　橘紅　棗仁（各一兩。炒）　黃連（五錢）　桔梗（五錢）　茯苓（二兩）　白朮（四兩）　當歸　山楂（各一兩五錢）　遠志肉（五錢）　麥冬（一兩五錢。炒）　薏米（一兩五錢）　山藥（一兩五錢）　建蓮（一兩五錢）　白豆蔻（五錢）　扁豆（一兩五錢）　芡實（一兩五錢）　建曲（二兩）　藿香（五錢）　縮砂（五錢）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥專治能養胃健脾，益氣補中，調和五臟，滋補營衛，並理虛消食化痰，不燥不熱。凡男婦老幼，脾胃虛弱，氣血不足，多困食少，體瘦面黃，飢飽失宜，不思飲食，虛膨脹滿，嘔吐痰水，溲便不調，四肢乏力，盜汗遺精，虛損勞傷等症，並皆治之。每服三錢，不分早晚，以白滾水送下，米湯亦可。忌生冷、厚味。</p>

<h2>天王補心丹</h2>
<p>生地（四兩）　天冬　麥冬　柏子仁　棗仁　當歸　五味子（各一兩）　人參　遠志（甘草炙）　茯苓　元參　丹參　石菖蒲　桔梗（各五錢）　黃連（一兩五錢）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥專治勞神過度，長夜不眠，耗損精血，夢寐不安，遺精便濁，自汗盜汗，四肢無力，遍身痠軟，不思飲食，一切等症。蓋因水不升，火不降之故耳。每服一，臨臥丸燈心圓皮湯送下。</p>

<h2>五福化毒丹</h2>
<p>犀角（三錢）　朴硝（三錢）　甘草（三錢）　青黛（二錢）　桔梗（一兩）　赤苓　生地　牛蒡子（各五錢）　連翹　元參（各六錢）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥專治小兒蘊積熱毒，唇口腫破生瘡，牙根出血，口臭，頰項赤腫，咽乾煩躁，並痘後餘毒，疹後諸熱，頭目身體常生癤瘡，實熱丹毒，胎熱不解，潮熱痰壅，大小便赤結等症。每服用薄荷湯送下，燈心湯亦可。</p>

<h2>大健脾丸</h2>
<p>石斛　陳皮　山藥（炒）　青皮（醋浸，炒）　白豆蔻　山楂（各一兩）　白朮（二兩）　茯苓　木香（五錢）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥專治脾弱氣虛，面黃肌瘦，四肢怠惰，精神短少，心腹脹痛，不思飲食，脾瀉等症。每服一丸，小兒半丸，早晚細嚼，米湯送下。</p>

<h2>四紅丹</h2>
<p>當歸　槐花　蒲黃　熟軍（以上四味均炒黑）　阿膠（各二兩。用蛤粉二兩五錢炒成珠）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥能滋陰降火，潤肺清音。新久勞疾，吐血、衄血、咯血、唾血等症，婦人血崩、血漏，並亦治之，大有奇功，無不神效。每服一丸，細嚼，滾水送下。若吐血、衄血，藕湯送下。</p>

<h2>宣化丸</h2>
<p>麻黃　金沸草　荊芥　半夏（炙）　前胡　桑皮（各二兩）　赤芍　細辛　葶藶子（各一兩）　甘草　乾薑（各五錢）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥專治瘟疫傷寒，口舌乾燥，咽喉腫痛，小水赤黃，心火炎熾，男婦小兒時行疫癘，發癍陰疼，無不神效。每服二三錢，薑湯送下。</p>

<h2>倉廩丸</h2>
<p>羌活　獨活　柴胡（各五錢）　桔梗　枳殼（炒）　茯苓　川芎　蒼朮　黃連（酒炒。各五錢）　前胡（一兩）　木香　甘草（各二錢五分）</p>
<p>共為細末，煉蜜為丸。每料重六兩，碾篩每斤傷折四兩，應折一兩五錢。入淨蜜二兩二錢五分，共重六兩七錢五分，每丸重二錢，共得丸三十三丸，去一錢五分算。</p>
<p>此藥專治頭悶作痛，膈痞滿，氣不調暢，飲食不香等症。</p>

<h2>虎骨木瓜丸</h2>
<p>木瓜（一兩，酒洗）　血竭（另研）　沒藥（另研）　虎骨（醋炒）　木香　楓香　當歸（酒洗）肉桂　猴姜（去毛）　甜瓜子　龜板（醋炙）　自然銅（火煅，醋淬七次）　安息子（各一兩。酒蒸）　乳香（五錢，另研）　地龍（二兩，去土，鹽水炒）</p>
<p>共為細末，用酒四兩，打糊為丸，如梧桐子大。每料重十五兩五錢，碾篩每斤傷折四兩，共應折三兩七錢五分，淨得丸十一兩七錢五分。</p>
<p>此藥專治腰膝疼痛，腿腳拘攣，筋骨無力，行步艱難，或熱如火，或冷如冰，常怕風寒，雖夏日不離棉絮，或久經濕氣所傷，或房勞飲酒無度，以致肝腎有虧，兩腿麻木，腫脹疼痛，時常舉發，行年不愈者，並皆治之。每服一二錢，空心白水送下。如冬月仍為虛寒，以黃酒送下。忌燒酒、房欲。</p>

<h2>搜風順氣丸</h2>
<p>熟軍（五兩，要黑色者，用酒蒸九次曬九次）　火麻仁（去殼，微炒）　郁李仁（泡去皮）　檳榔（各二兩）　獨活（一兩）　枳殼（炒）　山藥　山萸（各二兩。酒蒸去核）　車前子（二兩二錢）牛膝（酒洗）　菟絲子（各二兩。酒蒸，搗成餅曬乾）</p>
<p>共為細末，蜜水為丸，如梧桐子大。每料一斤八兩五錢，碾篩每斤折傷四兩，共折六兩，淨得丸一斤二兩五錢。</p>
<p>此藥專治三十六種風、七十二般氣，去風活血，治腿腳疼痛，四肢無力，多睡少食，口苦無味，憎寒毛聳，積年癥瘕，氣短，久患痰症吐涎，皆可服之。能補精駐顏，搜風順氣。每服一錢，滾白水送下。服經一月消食，二月去腸內宿滯，三月去倦少睡，四月精神絕盛，五月耳目聰明，六月腰膝輕健，一年百病皆除，老者返少。孕婦勿服。此藥預防中風，善治言語謇澀，癱瘓麻木，流火流痰，遊走腫痛，大便結燥，噎膈脹滿，鬱結嘈雜，飲食不甜等症。早晚各進一服，宿酒宿食盡消，百病不生，無病不治。</p>

<h2>加味保和丸</h2>
<p>白朮（五兩）　枳實　蒼朮　香附　蘿蔔子　黃連　黃芩　麥芽　三稜　莪朮　厚朴　連翹（各一兩）　陳皮（三兩）　半夏（三兩，炙）　茯苓　神麯　山楂（各三兩）　木香（五錢）</p>
<p>共為細末，用姜一兩取汁打糊為丸，如桐子大。每料一斤十五兩五錢，碾篩每個傷折四兩，共應折七兩七錢五分，淨得丸一斤七兩七錢五分。</p>
<p>此藥專治飲食不調，損傷脾胃，痰飲積滯，不能運化，或傷食飽悶，胸膈不利，以致頭目昏眩，胃中虛熱。常服消痰順氣，理脾和胃，多進飲食，能清胃中濕熱。每服二錢五分，白滾水送下。</p>

<h2>木香分氣丸</h2>
<p>木香　丁香　香附（各四兩五錢）　縮砂　甘松　莪朮　姜連　藿香　檀香（各四兩五錢）　生草（一兩）</p>
<p>共為細末，用白豆蔻二錢五分疊成丸，如芡實大。每料重一斤七兩五錢，碾篩每斤傷折四兩，共應折五兩七錢五分，淨得丸一斤七兩五錢。</p>
<p>此藥專治一切氣逆，胸膈痞悶，心脅膨脹，肚腹疼痛，嘔吐噁心，宿酒宿食，飲食無味，倒飽嘈心，食積氣滯。每服十丸，同核桃肉細嚼，白滾水送下。常服消食、消痰、消氣、消痞、消腫、消脹，一切積聚疼痛。此藥消而不見，響而不動，其妙不能盡述。孕婦勿服。</p>

<h2>半夏白朮天麻丸</h2>
<p>半夏（十二兩，姜炙）　麥芽（十兩三錢，炒）　神麯（二兩三錢，炒）　白朮（六兩，土炒）　蒼朮（一兩二錢，米泔水浸）　黃柏（一兩八錢）　黃耆（十二兩，蜜炒）　陳皮（十二兩）　茯苓（四兩八錢）　澤瀉（一兩二錢）　天麻（六兩）</p>
<p>共為細末，用姜二兩取汁為丸，如梧桐子大。每料重四斤五兩六錢，碾篩每斤傷折四兩，共折一斤一兩二錢五分，共得丸三斤四兩三錢五分。</p>
<p>此藥專治痰厥頭痛，眼黑頭旋，噁心煩悶，無聲懶言，精神顛倒，目不敢開，如在舟中，頭痛如裂，身重如山，四肢厥冷，不得安臥，此乃胃虛損停痰而致也。每服一二錢，不拘早晚，用淡薑湯送下。</p>

<h2>理氣健脾丸</h2>
<p>白朮（六兩，土炒）　歸身（六兩）　茯苓（三錢）　陳皮（三兩）　半夏（一兩二錢，炙）　黃連（二兩）　香附（二兩）　枳實（一兩五錢）　桔梗（一兩五錢）　神麯（二兩五錢）　山楂（一兩八錢）　木香（五錢）　甘草（三錢）</p>
<p>共為細末，用荷葉、大米各一兩熬粥為丸，如梧桐子大。每料重一斤十五兩一錢，碾篩傷折四兩，共應折七兩七錢五分，淨得丸一斤七兩五錢五分。</p>
<p>此藥專治男婦一切氣逆不和，脾胃虛弱，飲食不甜，四肢倦怠，大便不調，胸膈不利，兩脅膨脹，倒飽嘈雜，嘔吐痰水，食積氣滯，鬱結不散，憂傷脾虛，氣逆之由也。</p>
<p>此藥常服順氣開胃，健脾和中。平和王道之藥，屢見奇效，功難盡述。每服一錢五分，早晚白滾水送下。忌氣惱憂思，節飲食。</p>

<h2>健步虎潛丸</h2>
<p>炙耆　杜仲（炒）　補骨脂（炒）　當歸（各一兩五錢，酒洗）　牛膝（二兩，酒洗）　白朮（二兩，土炒）　羌活　獨活　防風　茯苓（各一兩）　黃柏（二兩）　附子（五錢，制）</p>
<p>共為細末，疊水為丸，如梧桐子大，每料一斤一兩五錢，碾篩每斤傷折四兩，共折二兩四錢五分，淨得丸十三兩二錢五分。</p>
<p>此藥專治腎氣虛損，筋骨無力，行步艱難，腿痠腳軟，腰痛耳鳴，四肢無力，麻木浮腫，鶴膝風症，陽事痿弱，陰囊冷汗，或下部虛損，並宜服之。每服一錢五分或二錢，空心滾水送下。常服濟陰共陽，壯筋強骨，腰腿輕健。忌燒酒、房事。</p>

<h2>寸金丹</h2>
<p>烏藥　防風　羌活　前胡　川芎　白芷　半夏（炙）　陳皮　赤苓　縮砂　木香　藿香　紫蘇薄荷　蒼朮　香附　厚朴（各三兩）　神麯（五錢）　枳殼（一兩五錢）　甘草（一兩五錢）　白豆蔻　草果仁（各一兩）</p>
<p>共為細末，入神麯五兩七錢五分，姜半斤取汁做錠，每錠二錢，外用硃砂四兩為衣。每料重三斤十四兩，碾篩每斤折傷四兩，共應折十五兩五錢，淨得末二斤十四兩五錢，入神麯五兩七錢五分，共重三斤四兩五錢五分，共得二百六十一錠（去五分算。）</p>
<p>此藥專治男婦老幼中風、中暑、中寒、中氣，口眼歪斜，牙關緊閉，不省人事，或內傷生冷，或外感風寒，頭疼發熱，骨節痠痛，咳嗽痰涎，鼻流清涕，胸膈脹滿，不思飲食，或出外不服水土，腹心疼痛，嘔吐痰水，或受山嵐瘴氣，瘧疾泄瀉，婦人產後昏迷，惡露不盡，小兒急慢驚風。以上諸症俱用淡薑湯送下，每服一丸，小兒半丸。</p>

<h2>木香檳榔丸</h2>
<p>大黃（一兩）　黑醜　黃芩　木香　檳榔　黃連　枳殼　青皮　陳皮　香附（童便炒）　莪朮（醋炒）　黃柏（以上各一兩。去皮）　當歸（一兩五錢）</p>
<p>共為細末，水泛為丸，如梧桐子大。每料重十三兩五錢，共應折三兩七錢五分，淨得丸十二兩二錢五分。</p>
<p>此藥專治一切氣滯不通，心腹疼痛，脅肋脹滿，嘔吐噁心，傷酒傷食，胸膈膨悶，宿食不消，紅白痢疾，大小便結燥不得快利。此藥消宿食，化積滯，有推陳致新之功。每服一錢，或加至二錢。多滯者微動，少滯者內消。孕婦勿服。不拘早晚用白滾水送下，清茶送下，忌生冷油膩。</p>

<h2>清氣化痰丸</h2>
<p>橘紅　香附　半夏（炙）　川貝　天門冬　栝蔞　桔梗　杏仁（炒）　枳實（各二兩）　黃芩（一兩）　黃連　白朮　茯苓（各二兩）　山楂肉　蘇子（炒）　連翹　海石　皂角（各一兩）　青黛</p>
<p>共為細末，用神麯二兩七錢五分，竹瀝一兩，打糊為丸，如梧桐子大。每料重一斤十四兩四錢，得末一斤六兩九錢，入神麯二兩七錢五分，淨得藥丸一斤九兩六錢五分。</p>
<p>此藥能清肺寧嗽化痰。氣清則胸膈寬舒，痰化則咳嗽自止。如常服之，健脾開胃，進食寬中，清肺降火，消氣定喘，大有奇效。每服二錢，食遠清茶送下。胸膈不利，飲食少進，生薑湯送下。咳嗽，梨湯送下。忌生冷油膩、椒酒動火之物。</p>

<h2>槐角丸</h2>
<p>槐角（一兩，微炒）　枳殼　黃芩　防風　黃連（酒洗）　黃柏（酒洗）　當歸（酒洗）　側柏葉（醋炒黑）　荊芥（煨炒）　地榆（各五錢，炒黑）</p>
<p>共為細末，用黃酒二兩打糊為丸，如梧桐子大。每料重五兩五錢，碾篩每斤折傷四兩，共應折一兩二錢五分，淨得丸四兩二錢五分。</p>
<p>此藥專治大腸經火，因平素不避風毒，恣飲酒醋炙爆之物，縱欲飽淫，喜怒不常，臟腑壅滯，陰陽不和，痔漏下血，脫肛痛癢，並皆治之。每服六七十丸，空心米湯送下。久服去風消毒，解熱涼臟，和血止血，消燥定痛。凡有腸風，甚功效也。</p>

<h2>香砂養胃丸</h2>
<p>香附　陳皮　麥芽　半夏　枳實（各一兩）　厚朴　白蔻　木香　檳榔　神麯　縮砂（各五錢）蒼朮（八錢）　青皮（一兩）　甘草（五錢）</p>
<p>共為細末，水泛為丸，如梧桐子大。每料重十兩零六錢，碾篩每斤傷折四兩，共應折二兩五錢，得丸八兩一錢。</p>
<p>此藥專治男婦脾虛胃弱，飲食不思，膨脹腹痛，嘔吐痰水，面色萎黃，四肢困倦，氣鬱不通，痞悶不舒，大便不調，食物不化，一切脾胃之疾可常服之。每服一二錢，早晚用白滾水送下。胃口不開，紅棗湯送下。胃痛，艾醋煎湯送下。嘔吐噁心，薑湯送下。忌氣惱、生冷、厚味。</p>

<h2>五食丸</h2>
<p>狗寶（三錢）　母丁香（二對，重一錢六分）　硼砂（一錢）　烏梅肉（六錢）　黑茶豆（九十八粒，水浸一宿，去皮）</p>
<p>將豆搗如泥，加煉蜜為丸，如彈子大，用硃砂為衣，分作八丸。</p>
<p>此藥專治七情六慾，氣惱煩勞，酒氣過傷，憂思忿怒，胃氣傷損，胃口液干，致成噎膈反胃，積食嘔吐，胸膈痞悶，胃脘作痛，口吐痰沫，大便形如羊糞。每服一丸，陳倉米湯化服。</p>

<h2>當歸龍薈丸</h2>
<p>當歸（酒浸）　龍膽草（去蘆，酒洗）　梔子（微炒）　黃連（姜炒）　大黃（酒蒸，紙裹煨）　蘆薈（淨）　青黛（水泡）　柴胡（各五錢）　木香（三錢五分）　麝香（五分，另研）　青皮（一兩）</p>
<p>共為細末，用神麯五錢打糊為丸，如梧桐子大。每料重五兩三錢，碾篩每斤折四兩，共折一兩二錢五分。</p>
<p>此藥專治伐肝木之氣，瀉肝膽火盛之要藥。因內有濕熱，兩脅痛甚，脹滿不食，一切肝氣之藥，此藥主之。乃忿怒耳聾，宜服此藥。每服一錢五分，白水、薑湯、茶引服。</p>

<h2>肥兒丸</h2>
<p>茯苓　白朮　金蟾　黃耆　黃連　蘿莧子　胡連　枳殼　檳榔　銀柴胡　三稜　莪朮　厚朴五穀蟲　青皮　神麯　山楂　阿魏（各二兩）　甘草（一兩）</p>
<p>共為細末，泛水為丸，如梧桐子大。每料重三斤三兩，碾篩每斤傷折四兩，共應折十二兩七錢五分，共得丸二斤六兩二錢五分。</p>
<p>此藥治諸疳之症。蓋因小兒脾胃懦弱，稟氣不足，兼之乳哺失調，食物太早。或缺乳之子，恣食肥膩、生冷、硬麵，腸胃軟脆，豈能運化積滯？日久脾胃受傷，耗損元氣，以致面黃氣促，肢體瘦弱，發豎，肚大青筋，身軟難行，發熱咳嗽，咬牙舒舌，搖頭揉目，及蛔蟲瀉痢，並好食泥土等物，並皆治之。每服五分，空心米湯送下。忌食生冷油膩、牛馬犬肉。</p>

<h2>如意金黃散</h2>
<p>花粉（一兩六錢）　黃柏　大黃　薑黃　白芷（各八錢）　厚朴　陳皮　蒼朮　南星　甘草（各一錢六分）</p>
<p>共研極細末，每料重五兩六錢，碾篩每斤傷折四兩，共應折一兩二錢五分，淨得散四兩三錢五分。</p>
<p>此散專治癰疽發背，諸般疔毒，跌撲損傷，濕痰流毒，大頭時腫，漆瘡火丹，風熱天疱，肌膚赤腫，乾溼腳氣，婦女乳癰，小兒丹毒，外科諸證。隨手用之，無不效驗。茶滷調服。</p>

<h2>舒筋活血定痛散</h2>
<p>乳香　沒藥　香附（各一錢）　元胡　猴姜（各一錢五分）</p>
<p>共研細末，每料重六錢。</p>
<p>此藥專治跌打損傷，氣滯血瘀，胸脘作痛，腰脅氣竄等症。每服一錢，老酒為引送下。外敷亦可。</p>

<h2>牛黃清心丸</h2>
<p>人參（一兩）　茯苓（五錢）　白朮　白芍（酒洗）　當歸（酒洗）　黃芩　麥冬　防風（各六錢）　柴胡　川芎（各五錢）　肉桂　山藥　冰片　麝香（各四錢）　乾薑　白薇（各三錢）　桔梗（五錢五分）　阿膠（六錢八分，蛤粉炒）　杏仁（五錢，另研）　蒲黃（一兩，炒）　神麯（一兩，炒）　甘草（二錢）　大豆黃卷（七錢）　羚羊角（六錢）　硃砂（六錢）　犀角（八錢）　雄黃（三錢三分）　牛黃（四錢八分）</p>
<p>上藥細末，用大膠棗四十枚，搗研為丸。每料重十五兩七錢，碾篩每斤傷折四兩，共應折三兩七錢五分，得末十一兩九錢五分，入淨蜜五兩九錢七分五釐，每丸重一錢，共得丸一百七十丸，去二分五釐。莫外用。大赤金為衣。</p>
<p>中風之症，暮年者多，中年者少。蓋因精血耗損，不能榮養，筋骨強直；或因體元形盛氣衰，內伏濕痰，外邪乘虛，卒然仆倒，不省人事，既而受病，當救其急，以牛黃清心丸為主。此藥治中風痰厥，昏迷不省，口噤痰喘，手足抽掣，五癇僵仆。顛狂二症，總有風痰久鬱於內，正氣先虛，邪火極盛，一時頓作，或逾牆上屋，打物咬人，裸體罵詈，不避親疏，癡笑喝哭，語言不倫，左顧右盼，如見神鬼，經年不愈，或時發時止者，並宜服之。鎮驚安神，化痰清火，順氣祛風。牙關緊閉，薑汁調此藥搽，牙關即開，再用薑汁調化一丸服或灌下。諸顛癇風邪，早晚竹瀝薑湯化下。孕婦勿服。</p>

<h2>四神丸</h2>
<p>破故紙（四兩，炒）　肉豆蔻（二兩，煨，去油）　五味子（二兩）　吳茱萸（一兩，炒）　共為細末，用大棗四十九個，生薑四兩切片，用大棗天水煮熟，去姜取棗肉為丸，如梧桐子大。每料重九兩，碾篩每斤傷折四兩，共應折二兩五錢，淨得丸五兩七錢五分。</p>
<p>蓋人先天之本在腎，後天之本在脾，脾壯腎強，焉有泄瀉之症哉？嗜欲過度，腎氣虛傷，或思慮日久，脾土過損，致成五更溏瀉，腹竄腹鳴，面黃體瘦，食少懶倦，腰疼腿軟，一切命門火衰，脾腎泄瀉等症，服之神效。</p>

<h2>蘇合香丸</h2>
<p>沉香　木香　檀香　白朮　麝香　安息香　丁香　硃砂　訶子肉　蓽茇　香附　犀角（各一兩）　冰片（五錢）　蘇合油（五錢，入安息香膏內）</p>
<p>上為細末，入冰片、安息香、蘇合油，同藥攪勻，煉蜜為丸。共重十三兩，碾篩每斤傷折四兩，共應折三兩二錢五分，淨得丸九兩七錢五分，淨蜜八錢七分五釐，共重十四兩六錢二分五釐，每丸重一錢五分，共得丸九十七丸，去七分五釐算。</p>

<h2>硃砂安神丸</h2>
<p>當歸　甘草（各二錢五分）　生地（一錢五分）　黃連（六錢）</p>
<p>共為細末，蜜水疊丸，如綠豆大，每料重二兩一錢五分，碾篩每斤傷折四兩，共折二錢五分，淨得丸一兩，外用硃砂為衣。</p>
<p>此藥專治心神不安，精神恍惚，驚悸不安，夜多怪夢，思慮勞神，怔怔健忘，一切心虛有痰有火等症。每服一二錢，臨睡燈心煎湯送下。常服補心生血，除煩解熱，消三焦伏火，療口燥舌乾。常服心竅清明，精神倍長，又能日記千言，多記不忘。</p>

<h2>㠟峒丸</h2>
<p>牛黃　冰片　麝香（各二錢五分）　雄黃　阿魏（各一兩）　大黃　乳香　沒藥　兒茶　血竭　天竺黃　三七　藤黃（各二兩）</p>
<p>熬膏用，隔湯煮十次，去浮沫，以山羊血五錢拌曬。如無廣西山羊血，即用子羊血亦可。以上十二味另研為末，用藤黃化開為丸。如干少加蜜為丸。共重一斤一兩二錢五分。碾篩每斤傷折四兩，共應折四兩二錢五分，得末十三兩。入藤黃膏二兩，共重十五兩，每丸重二分五釐，共得丸六百丸。</p>
<p>此方乃異人傳授，攻效非常，藥性捷速，內可以服，外可以敷。專治逐瘀生新，續筋接骨，疏風活絡，化痰蠲痛，宣通氣血，消腫解毒。凡男婦小兒一切疑難危急之症，百發百中，真有起死回生之力，功難盡述。每服一丸，病重者服二丸，小兒每服半丸，或二三分，俱用無灰黃酒化服。外敷用細茶滷磨化。一治跌打損傷，墜車落馬，傷筋動骨，瘀血不亂，凝結疼痛，一切刀箭中傷；一治刑杖中傷；一治中風中痰，卒然暈倒，牙關緊閉，不省人事；一治半身不遂，口眼歪斜，筋脈拘攣，手足麻木；一治打破傷風抽掣，昏悶不省；一治癰疽發背，對口惡瘡，無名腫毒；一治肺癰腸癰；一治瘋犬咬傷，毒氣內攻；一治瘰癧，年久不愈，症腹積聚，腹大蟲脹，並山嵐瘴氣；一治產後惡血上攻，昏悶不省；一治橫生逆產，胎衣不下，婦人經閉不通；一敷婦人吹乳，腫硬結核成瘡；一治小兒急慢驚風；一治蠍螫蜈蚣蛇咬等毒。內服一丸，外敷一丸。如外敷瘡口周圍，不可敷瘡口。藥三日內切忌生冷瓜果，燒酒發物。</p>

<h2>活絡丹</h2>
<p>白花蛇（一條，淨肉二兩）　蘄蛇（一條，淨肉二兩）　烏梢蛇（一條，淨肉五錢）　赤芍　防風羌活　當歸　天麻　牛膝　草蔻　丁香　枳殼　香附　熟地　大黃　沒藥　麻黃　黃芩　黃連　白朮　白芷　赤首烏　猴姜　姜蠶　藿香　白附子　川芎　桂枝　烏藥　茯苓　木香乳香　威靈仙　細辛（各二兩）　麝香　白豆蔻　沉香　硃砂　薄荷　甘草　附子（制）　玄參　天竺黃　龜板　虎骨　杜仲　青皮　乾葛　血竭　松香　牛黃　地龍（各一兩五錢）　共為細末，煉蜜為丸。每料重五斤十三兩五錢，碾篩每斤傷折四兩，共應折一斤七兩二錢五分，淨得末四斤六兩二錢五分。入淨蜜二斤三兩一錢二分五釐，共重六斤九兩三錢七分五釐，每丸重二錢，共得丸五百二十六丸，去一錢七分五釐算。</p>
<p>此藥專治中風，口眼喎斜，半身不遂，及諸風痹，手足拘攣，筋脈不舒，風邪濕痰流滯經絡，四肢麻木，言語蹇塞，牙關緊閉，不省人事，左癱右瘓，步履艱難，並皆治之。每服一丸，老酒送下。</p>

<h2>香砂枳朮丸</h2>
<p>白朮（二兩）　枳實　木香　縮砂仁（各一兩）</p>
<p>共為細末，用荷葉、倉米五錢煎湯疊丸，如梧桐子大。每料重五兩，碾篩每斤傷折四兩，共應折一兩二錢五分，淨得丸三兩七錢五分。</p>
<p>此藥治脾胃虛弱，飲食減少，胸膈痞悶，宿食宿酒不能消化，嘔逆噁心，中膈氣滯，並宜服之。每服二三錢，食遠臨睡用白滾水送下。</p>

<h2>金不換膏</h2>
<p>白芷　梔子　大黃　柴胡　川芎　蒼朮　生地　熟地　當歸　白朮　半夏　陳皮　香附　枳殼　烏藥　川貝母　青皮　白蘞　細辛　知母　薄荷　杏仁　桑皮　黃連　黃芩　豬苓　赤芍　木通　桃仁　黑參　前胡　澤瀉　麻黃　桔梗　升麻　黃柏　牛膝　杜仲　遠志　山藥續斷　高良薑　桑皮　甘草　連翹　藁本　茵陳　首烏　荊芥　羌活　獨活　金銀花　地榆　苦參　殭蠶　天麻　南星　白蒺藜　草烏　威靈仙　芫花　穿山甲　川烏　蜈蚣　白蘚皮　五加皮　青風藤　巴豆　防風　蒼耳頭　五倍子　大風子　益母草　柳枝　榆枝　槐枝桃枝（以上七十七味，各五錢）</p>
<p>以上七十七味，用芝麻油十二斤炮炸，藥味去渣，用炒淨黃丹六斤，以丹入後細藥。</p>
<p>潮腦　龍骨　乳香　沒藥　血竭　輕粉　海螵蛸　赤石脂　冰片　麝香（各五錢）</p>
<p>每料用香油十二斤，入藥味二斤四兩，每斤應折六兩四錢，共折四斤三兩八錢，入淨得油七斤三兩二錢，入炒過黃丹三斤九兩六錢，入細藥十兩五錢，淨得膏十一斤七兩三錢，每張重一錢，共計一千八百三十三張。此膏專貼肩臂腰胯腿膝麻木不仁，筋脈拘攣，手足不遂，或受風濕，血脈不舒，或中寒邪，筋骨疼痛，左癱右瘓，步履艱難，將此膏藥貼之，立見功效。</p>

<h2>神應膏</h2>
<p>穿山甲　川芎　木鱉子　大黃　生地　熟地　白芨　赤芍　玄參　當歸　白芷梢　天冬　麥冬（各三錢）　血餘（一團）　香油（二斤）</p>
<p>以上藥味入油內熬枯去渣，入飛過黃丹一斤，離火入油內，後下細藥。</p>
<p>乳香　沒藥　兒茶（各三錢三分）　潮腦（五錢）</p>
<p>每料得膏二斤五兩三錢九分。</p>
<p>此膏專貼一切癰疽瘡瘍疔毒等症，初起漫腫無頭，暴腫疼痛，潰後或流膿血清汁，或瘀血腐肉不化，或疼痛難忍，遇此諸般之症，貼之無不神效。</p>

<h2>平安丹</h2>
<p>蒼朮（二斤）　芸香（二斤）　檀香（八兩）　沉香（一兩）</p>
<p>共為細末，紅棗二斤，煮爛成泥為丸，如芡實大。</p>
<p>此丹專避山嵐瘴氣，瘟疫時邪，一切穢惡煤炭之氣，如遇之即然，此丹並皆去之。</p>

<h2>羊肝散</h2>
<p>青羊肝（一具，去筋膜，切韭菜厚片）　人參　羌活　白朮　蛤粉（各二兩）</p>
<p>上為細末，合勻聽用。將藥置荷葉上如錢厚一層，鋪肝一層包固，外以新足青布包裹蒸熟，任兒食之。如不食者，及夏月恐腐壞，則曬乾為末，早晚白湯送下，服完再合，以好為度。若熱者減人參。</p>
<p>此方專治遠年近日一切虛人患目及雲翳遮睛，乾澀昏花，目睛盲，產後患目及陰虛肝熱者服之均效。</p>

<h2>接骨化痞膏</h2>
<p>紅花　當歸（各二錢）　木瓜　連翹　川椒　防風　赤芍　白芷　花粉　川芎　天麻　頭髮（各二錢）　乳香（五錢）　槐條（七段）　漳丹（一斤）　香油（二斤）</p>
<p>此膏專治傷筋動骨，皮肉綻裂，甚至筋斷骨碎，癰疽發背，對口疔毒，濕痰流注，瘰癧鼠瘡，乳癰乳毒，臁瘡外痔，癬疥頑瘡，漆瘡火丹，風熱天泡，肌膚赤腫，乾溼腳氣，肚腹痞塊，小兒丹毒，及繡球風、鵝掌風、蟲傷蠍螫等症。用此膏貼在患處，筋骨自續，皮肉平復，實濟困扶危救急之寶也。以上諸症，用此膏治之無不神效。</p>

<h2>陽和啟脾膏</h2>
<p>黨參　白朮　黃耆　鹿角　當歸　香附（各一兩五錢）　白芍　川芎　獨活　附子　乾薑　阿魏　橘皮　三稜　川椒　草果仁（各一兩）</p>
<p>用麻油三斤，將前藥渣熬至滴水成珠，入飛淨黃丹一斤二兩，再入後藥面。</p>
<p>肉桂　沉香　丁香（各三錢）</p>
<p>上三味，共研細末，候油稍冷，加入攪勻成坨，每坨約重四五兩。候去火氣，三日後方可攤貼。黃丹分兩多少，老嫩合宜，酌量兌之。</p>
<p>此膏專治脾胃虛弱，陽氣不足，中風中寒，食積腹痛，腸鳴腹脹，飲食不香，癥瘕痞塊，五更泄瀉，一切虛寒之症，將此膏貼於肚臍即愈。</p>

<h2>梁會大津丹</h2>
<p>川連　川柏　甘草　黃芩　生梔子（各六兩）　共為細末。</p>
<p>大黃（九兩，熬膏）　硃砂（一兩二錢）　雄黃（一兩三錢）</p>
<p>甲己年，甘草為君屬土；乙庚年，黃芩為君屬金；丙辛年，黃柏為君屬水；丁壬年，梔子為君屬木；戊癸年，川連為君屬火。</p>
<p>每為君加一倍，大黃膏為丸，硃砂、雄黃為衣，遇冬至、夏至日合丸尤妙，外赤金為衣。此膏得自異傳，專治傷寒、傷風、中風、中氣、中惡、筋骨疼痛、大瘡大毒、跌打損傷、瘋顛狂亂、瘀血凝痰，老少男婦奇怪疑難之症，效驗如神，真濟世之金丹也。</p>
<p>今將主治各症及藥引開列於下。</p>
<p>——治傷寒初起，頭疼噁心，惡寒身痛，蔥薑湯送下。</p>
<p>——治傷風頭疼，鼻塞惡風，用生薑湯送下。</p>
<p>——治口眼歪斜，牙關緊閉，不省人事，竹瀝調薑汁送下。</p>
<p>——治痰迷心竅，喜笑不常，用燈心煎湯送下。</p>
<p>——治瘋顛狂亂，爬牆上屋，用金子煎湯送下。</p>
<p>——治羊癇風症，不時舉發，用生薑煎湯送下。</p>
<p>——治寒瘧寒熱往來，用姜果煎湯送下。</p>
<p>——治紅白痢疾，紅者用黃連煎湯下，白者用木香煎湯送下。</p>
<p>——治跌打損傷，閃腰岔氣，用黃酒送下。</p>
<p>——治渾身骨節風濕作痛，羌活湯送下。</p>
<p>——治癰疽發背，一切陰瘡不起，金銀花湯送下。</p>
<p>——治小腸疝氣，寒濕偏墜，茴香湯送下。</p>
<p>——治遍身或手足麻木不仁，秦艽湯送下。</p>
<p>——治寒濕痿痹，引用蒼朮、黃柏湯送下。</p>
<p>——治產後敗血不行，心腹絞痛，桃仁、紅花湯送下。</p>
<p>——治風濕浸淫，遍身疥癩，水萍、白蘚皮湯送下。</p>
<p>——治誤吞毒物，金汁下；腰腿疼痛，牛膝木瓜湯送下。</p>
<p>——治小兒急驚，天吊抽搐，全蠍湯送下。</p>
<p>——治產後搐搦，用四物湯送下。</p>

<h2>頭風餅</h2>
<p>荊芥　防風　麻黃　細辛白芷藁本（各一兩五錢）</p>
<p>共為細末，用小米湯做，每餅重五錢。</p>
<p>此餅專治年沉日久，偏正頭疼，目眩腦昏，鼻塞聲重，項背拘急，兩太陽及額顱煽痛如劈者。用生薑（三錢）煎湯，煮餅一二枚，將鼻嚊之，使熱氣上達，候微汗出即愈。</p>

<h2>調脾清肺理濕飲</h2>
<p>茯苓（三錢，朱染）　炒茅朮（一錢五分）　廣皮（一錢五分）　殼砂（一錢，研）　薏米（三錢，炒）　扁豆（三錢，炒）　澤瀉（二錢）　酒膽草（一錢五分）　丹參（二錢）　次生地（三錢）　白蘚皮（二錢）　車前子（三錢，包煎）　引用地膚子（三錢）。</p>
<p>此藥專治脾胃濕熱，或心肝鬱悶，氣滯夾濕，及腎陽濕熱，膀胱之氣不化。如經有云，心與小腸相表裡，肝脈繫於二陰，行於兩脅，膀胱與腎為表裡，但入小腸與胞，行於陰為溲也。現症則小水紅赤，或少頃則變白色，形如米泔；或小腹弦急，痛引於臍，則小水淋漓作痛，此為淋也。當分六種隨症，或小水後淹痛等症，皆治之。</p>

<h2>狀元露</h2>
<p>紅花（一錢七分）　薄荷　川芎　陳皮　當歸　桂花（各五錢）　豆蔻　良薑（各三錢）　細辛（一錢）　白芷（二錢）　冰糖（三斤）　玫瑰花（一斤）　泡酒三十斤。</p>
<p>此酒治肺氣，清心經積熱，頭痛鼻塞，項背拘急，噴嚏聲重，耳鳴頭疼，口舌生瘡。每日飲之，能清三焦之火，通利大小便，和氣血，化痰涎。常飲有效。</p>

<h2>黃連露</h2>
<p>當歸（二兩半）　地丁　公英（各五錢）　茯苓　赤芍（各二兩）　元肉（八兩）　川芎　甘草（各一兩）　熟地　蒼朮　麥冬　菊花　枸杞　銀花　牛膝　棗仁　山藥　陳皮　肉果（酒炙）　首烏　紅花　藁本（各五錢）　黃連（二錢）　紫草（三錢）</p>
<p>蜜二斤，泡酒三十斤。</p>
<p>此酒治泄瀉嘔吐，噁心霍亂，大小便不調，內熱火盛，心煩發熱，口燥舌乾，四肢倦怠，恍惚不寧。清虛火，解諸毒，生津液，利小水，分陰陽，常服有效。</p>

<h2>紅毛露</h2>
<p>桂心　肉果　丁香　歸身（各一錢）　建曲（四錢）　檀香（五分）　冰糖（四兩）</p>
<p>共為末，泡酒三斤。</p>
<p>此酒和平，不行不瀉，能調和脾胃，化食寬中，胸膈膨悶，兩脅脹滿，嘔吐噁心，嘈雜吞酸，消痰順氣，不思飲食等症。每日早晚飲之，立效。</p>

<h2>青梅露</h2>
<p>佛手（八錢）　玉竹（二兩）　竹葉（八兩）　薄荷（二錢）　粉草（錢半）　熟地（二錢）　當歸（二錢）　川芎（一錢）　五加皮（二錢）　廣皮（二錢）　青皮（二錢）　葛花（三錢）　玉金（五錢）　菊花（二兩）</p>
<p>泡酒。</p>
<p>此酒專治肺氣不清，痰涎壅盛，咽喉不利，頭目眩暈，口舌生瘡，飲食無味，大小便不利，咳嗽嚏噴，並清肺胃，化滯降火，其效如神，每日飲之有驗。</p>

<h2>參苓露</h2>
<p>牛膝（二兩）　熟地（二兩）　枸杞（四兩）　黃耆（三兩）　桐皮（一兩）　茯苓（二兩）　人參（五錢）　沉香（三錢）　檀香（一錢）　白糖（二斤）</p>
<p>泡南酒三斤，干酒三十斤。</p>
<p>此酒專治男子稟氣不足，陽氣虛弱，或損傷太過，以致陰精枯涸，年老無子。能扶陽益陰，添精壯氣，養血寧神，暖丹田，壯元陽，滋腎水。每日飲之，其效如神。</p>

<h2>龜齡露</h2>
<p>熟地（五錢）　生地（六錢）　天門冬（四錢）　當歸（五錢）　牛膝（四錢）　杜仲（二錢）　肉蓯蓉（六錢半）　枸杞子（五錢）　鎖陽（三錢半）　青鹽（三錢）　補骨脂（一錢）　地骨皮（四錢）　菊花（二錢半）　茯苓（五錢）　大附子（二錢半）　小丁香（二錢半）　砂仁（二錢半）　蓮肉（六錢）黑芝麻（五錢）　旱蓮草（五錢）　細辛（一錢）　辰砂（五錢）　槐角子（六錢半）　穿山甲（八錢）　小雀腦（三錢）　海馬（一兩）　羊藿（二錢）　紫梢花（四錢半）　紅蜻蜒（十五對）　鳳仙子（二錢半）</p>
<p>共泡燒酒三十斤，白酒二十斤。</p>
<p>此酒專治男子下元虛損，久無子嗣，陽痿不興，舉而不固，腎虛精冷，遺尿不禁，腰腿痠痛，行步無力，耳鳴眼花。以上諸症皆因先天不足，少年斫喪過度。此藥培元固本，益髓添精，興陽種子，益壽延年。每日飲之，大有奇效。</p>

<h2>延齡露</h2>
<p>熟地（五錢）　枸杞（一兩）　當歸（五錢）　肉桂（五錢）　牛膝（二錢）　木瓜（二錢）　紅花（一錢）　茜草（五錢）　於朮（八錢）　陳皮（二錢）　蔻仁（二錢）　黃柏（一兩）　甘草（一錢）　梔子（四錢）</p>
<p>外用丁香、檀香、木香各一錢，共為末，布口袋包，下酒泡。干酒二十斤，南酒二斤半，紅曲二兩二錢，冰糖二斤，此四味全在前藥內。</p>
<p>此藥專治男婦五勞七傷，大補諸虛百損，養血益氣，開胃健脾。飲食不化，變生痰涎，倒飽嘈雜，多睡少食，四肢無力，一切虛損之症，有補益之功。每日不拘時候，量飲之，自有奇效。</p>

<h2>國公露</h2>
<p>當歸（兩半）　於朮（八兩）　白芷（兩半）　川芎（兩半）　木瓜（四兩）　陳皮（一兩）　生地（二兩）　檀香（五錢）　羌活（一兩）　紅花（二兩）　枸杞（四兩）　知母（四兩）　砂仁（二兩）　紫草（三兩）　紅面（半斤）</p>
<p>泡酒。</p>
<p>此藥專治男婦左癱右瘓，半身不遂，口眼歪斜，手足頑麻，下部痿軟，筋骨疼痛，一切三十六種風，七十二般氣，並寒濕諸痛及諸虛勞傷，真火不足，飲食不化，肚腹不調，十膈五噎，氣滯積塊，瀉痢痞滿，肚腹冷痛，男子陽衰，女子血虛，赤白帶下，久無子嗣，一切男婦虛損之症，立有奇效。每早晚飲一小盅有驗。</p>

<h2>鳳仙露</h2>
<p>熟地（二錢半）　鳳仙花（錢半）　紫草（錢半）　枳實（一錢）　當歸（三錢）　砂仁　陳皮　白芷厚朴　知母　桂花（各一錢）　紅花（七錢）　木香（七錢）　檀香（二錢）　丁香（二錢）　甘草（一錢）　紅曲（一兩）　蜂蜜（三斤）</p>
<p>泡南酒二斤，干酒二十五斤。</p>
<p>人之有生以來，必以先天元氣為根，後天營衛為本，先天之氣賴後天以養之。大抵榮衛和平，先天有養，斯人無病矣。此酒滋補元陽，培益生氣，健肢體，理怯療虛，扶衰退熱，腰痛服之有功，腹冷投之即效，止遺精白濁，興陽道功同五子衍宗，暖丹田力勝班龍百補。常服寬中養胃，榮衛調和，百脈通泰。每日早晚飲之，立效。</p>

<h2>桂花露</h2>
<p>薄荷（一兩）　砂仁（五錢）　陳皮（八錢）　丹桂（七錢）　梔子（七錢）　熟地（一兩）　官桂（五錢）　木香（五錢）　丁香（二錢）　川芎（五錢）　檀香（五錢）　蜂蜜（一斤）</p>
<p>泡酒三十斤。</p>
<p>此酒專治鬱氣聚於腹胸之間，以致轉變失宜，運化失常，胸腹飽悶，兩脅刺痛，噯氣吞酸，嘔吐噁心，或鬱結不能發越，上不能升，下不能降等症。常飲則有效。</p>

<h2>八仙長壽酒</h2>
<p>人參（二錢）　茯神（三錢）　枸杞（三錢）　建蓮肉（三錢）　檀香（二錢，鎊）　蔻仁（一錢）　玫瑰花（二錢）　龍眼肉（三錢）</p>
<p>將藥合一處，用夏布口袋盛之，泡燒酒十斤，加冰糖一斤。</p>
<p>此酒益氣養神，開胃健脾，固陽滋陰，且藥性和平，氣味芳香。食前飲之，能和胃氣；食後飲之，能消宿谷。亦養生之一道也。</p>

<h2>補益延齡露</h2>
<p>熟地　白芍（炒）　當歸　茯苓（各三錢）　白朮（土炒）　川芎　人參（各二錢）　炙草　木香　蔻仁　砂仁（各一錢）　丁香（錢半）　鳳仙花（二錢）　玫瑰花（二錢）</p>
<p>泡燒酒三十斤，加白糖二斤，紅曲四兩。</p>
<p>此藥健脾養胃，順氣消食，調榮益氣，大補諸虛。治男婦五勞七傷，諸虛百損，身體瘦弱，面色痿黃，嘔吐嘈雜，飲食難化，食物成痰，大便不調，四肢無力，多睡食少，精神倦怠，一切脾虛胃弱之症，無不神效。每早晚飲一二小盅，妙難盡述。</p>

<h2>五加皮藥酒</h2>
<p>加皮（四錢）　羌活（錢半）　當歸（三錢）　紅花（一錢）　秦艽（一錢）　薑黃（四兩，後下）　檀香（一錢）　丁香（七分）　杭芷（一錢）　砂仁（一錢）　官桂（七分）　木香（八分）　甘草（錢半）</p>
<p>泡酒二十五斤。</p>
<p>此酒治手足頑麻，口眼歪斜，半身不遂，下部痿軟，筋脈疼痛，寒濕諸痹，真火不足，脾胃不調，噎膈痞滿，氣滯積塊，泄痢無度，肚腹冷痛，男子陽衰，女子赤白帶下等症，每早晚飲一二小盅，立效。</p>

<h2>長生甕頭春</h2>
<p>人參（五錢）　紅花（八兩）　丁香（二錢）　沉香（二錢五分）　白芍（一兩，炒）　蒼朮（二錢半，炒）　蓯蓉（八兩）　杜仲（二兩，炒）　寸冬（一兩）　骨皮（五錢）　甘菊（五錢）　故紙（五錢）　茯苓（二兩）　牛膝（二兩）　加皮（二兩）　於朮（一兩半）　白蔻（五錢）　熟地（一兩）　生地（一兩半）　歸身（一兩半）　枸杞（一兩半）　砂仁（三錢）　甘草（五錢）　豨薟草（八兩）</p>
<p>以上藥味共研粗末，裝入絹袋內，用燒酒四十斤，入磁罐內封口。春夏泡二日，秋冬泡三日，用水燉蒸五炷香時，去火候冷。另用糯米一斗蒸糜搗爛，煮紅棗肉二斤搗泥，同入酒罐內，用木棍攪三四百下，濾去清酒，再入甕內封固，埋三日後取出，方可飲之。</p>
<p>蓋人少年不惜身體，耗損元神，以致中年之後天真漸衰，精氣日衰，髮鬚斑白，視物不爽，兩耳蟬鳴，腰膝痠痛，下部痿軟。此酒能降心火，滋腎水，調脾胃，進飲食，壯筋骨，添精髓，悅顏色，潤肌膚，益氣養血，輕身健步，烏須黑髮，補十二經絡，聚五穀之靈氣，補命門之真火。每早晚飲一二小盅，大有補益，老人飲之返老還少，真千金之方也。</p>

<h2>健步虎骨酒</h2>
<p>虎脛骨（五錢）　千年健（三錢）　鑽地風（二錢）　金毛狗脊（三錢）　生杜仲（三錢）　川牛膝（二錢）　桑寄生（三錢）　甘草節（一錢）</p>
<p>以上藥味，一處用夏布口袋盛之，泡酒十斤，加冰糖一斤。</p>
<p>此酒能壯筋骨，和血脈，通行十二經絡，搜風利濕，舒暢筋脈，活動關節，藥性不熱不寒，清淡可飲。</p>

<h2>佛手露</h2>
<p>佛手（一斤，去黃皮）　木瓜（四兩）　橘皮（一兩）</p>
<p>泡燒酒十斤</p>
<p>此酒能治憂思氣怒，飲食不調，損傷肝脾，以致嘔吐嘈雜，胸膈滿悶，不思飲食，鬱結煩悶，身體疼痛，筋脈不舒，頑木諸痹，一切等症，並皆治之。每早晚飲一小盅，立有效。</p>

<h2>神仙長壽露</h2>
<p>熟地黃（四兩）　當歸（三兩）　枸杞（三兩）　白菊（二兩）　茯神（二兩）　沙蒺藜　骨皮　杜仲山藥　菟絲子（各二兩）　楮實子　牛膝　韭子　巴戟　破故紙（各一兩）　佛手柑二個　桑椹（四兩）　桂圓肉（四兩）</p>
<p>用好酒十斤，將藥入內，煮三炷香之久，每日隨量服之，久則延年益壽。</p>
<p>此酒專治諸虛百損，五勞七傷，頭眩目暈，耳聾耳鳴，自汗盜汗，遺精便濁，腰膝痠痛，臥而不寐，四肢無力，飲食少思，面色痿黃，肌肉消瘦，骨蒸勞熱。此酒專滋枯竭之水而清亢甚之火，久飲則陰陽和協，水火既濟，乃扶陰抑陽之聖藥也。每日隨量飲一二盅，功難盡述。</p>

<h2>冰露梅蘇藥酒</h2>
<p>柿霜（四兩）　烏梅（十二個）　蘇葉（二兩）　檀香（一兩）　葛花（一兩）　葛根（一兩）　薄荷（三兩）　白糖（一斤）</p>
<p>泡酒二十五斤。</p>
<p>此酒善治三焦有熱，口燥舌乾，時常作渴，或遠行勞倦，或飲酒無度，或過用炙爆、麵食、辛熱，則燥盛而陰氣衰，致令咽喉燥渴而津液短少。</p>
<p>此藥酒能涼心清肺，降火潤燥，生津止渴，並解酒毒化痰。每日飲一二小盅，妙難盡述。</p>

<h2>又五加皮酒方</h2>
<p>虎骨（五錢，炙）　五加皮（二兩）　川芎（八錢）　秦艽（八錢）　肉桂（二錢）　大地（一兩）　當歸（一兩）　茄根（一兩）　木瓜（五錢）　川續斷（五錢）　紅花（四兩）　獨活（五錢）　防己（五錢）　川牛膝（八錢）　羌活（八錢）　杜仲（一兩）　枸杞（一兩）</p>
<p>用干酒三十斤，加冰糖二斤，玉竹四兩，與前五加皮治法相同。</p>

<h2>鼓脹奇方</h2>
<p>連皮絲瓜筋〔鄞人稱為天羅花絮（四兩）向藥店買，無皮者無用〕　巴豆（三錢）　白米（一升）將巴豆按粒放入絲瓜筋內，用文火炒得絲瓜筋老黃色，然後取出，即將巴豆去脫，再將米一升，亦用文火同絲瓜筋再炒，以米老黃色，絲瓜筋黑透為度。即將米按日泡茶吃下，半天小腹中之水即從小便而出。重者四十天，輕者三十天，即可愈。至鼓症每多忌鹽，此方均可不忌，經試驗神效不爽。</p>

<h2>去陳食方</h2>
<p>白牽牛（一錢八）　檳榔（一錢八）　茵陳（一錢）　牙皂（一錢）　蓬朮（一錢）　三稜（一錢）</p>
<p>共為細末，老醋送下。</p>

<h2>治太陽風方</h2>
<p>當歸（三錢）　皂刺（錢半）　白芷（三錢）　防風（三錢）　細辛（一錢）　羌活（三錢）　清半夏（一錢五分）　槐花（一錢，炒）　銀花（三錢）　茯苓（二錢）　桔梗（二錢）　菊花（三錢）　甘草（一錢五分）</p>
<p>水煎溫服。</p>
<p>此藥專治太陽風，用三付即能見效，不可多服。</p>

<h2>健脾養胃固腸分解止泄之法</h2>
<p>黨參（二錢）　茯苓（三錢）　扁豆（三錢，炒）　薏米（四錢，炒）　山藥（三錢，炒）　竹茹（三錢）　陳皮（二錢）　石斛（二錢，炒）　御米殼（二錢，醋炙）　豬苓（二錢）　前子（四錢，包煎）　草豆蔻（八分，研）</p>
<p>此藥專治脾元不壯，濕風不清，胃氣不和。現症則胸膈嘈悶，口木無味，咳嗽痰飲，穀食欠香，身肢懶倦，腹中竄響，大便腹泄，小水尚少。脈現左關弦滑，右寸關沉滑，關部重按稍軟等症，並皆治之。</p>
<p>此藥專治男婦中風、中氣、中痰、中祟、類癇，邪怪鬼魅不明等症，非此不能取效。</p>
<p>中風不語，口眼歪斜，牙關緊閉，用薑湯送下。</p>
<p>卒然暈倒，痰涎堵塞，不省人事，竹瀝化水送下。</p>
<p>語言澀滯，遍身麻木，半身不遂，溫酒送下。</p>
<p>氣迷風痰，五種癇症，滾白水送下。</p>
<p>中風痰火，痰迷心竅，淡薑湯送下。</p>
<p>以上諸症，病輕者每二三丸即愈。</p>
<p>諸氣不順，木香磨水送下。</p>
<p>陽明頭疼，川芎、白芷湯送下。</p>
<p>吐血衄血，茅根、柏葉湯送下。</p>
<p>夜夢鬼魅，失心狐魘，燈心、圓眼湯送下。</p>
<p>邪祟山瘴，琥珀、硃砂研細，白水送下。</p>
<p>婦人產後頭暈，當歸、紅花湯送下。</p>
<p>小兒急慢驚風，以薄荷湯送下。</p>
<p>大人常服，小兒半丸，隨症調引，無不效也。</p>

<h2>附雜方</h2>

<h3>治牙疼方</h3>
<p>生地　青皮　丹皮　細辛　荊芥　防風　石膏　甘草（各一錢）</p>
<p>治上門牙疼，心火，加黃連一錢；下門牙疼，腎火，加知母一錢；左上牙疼，膽火，加羌活、膽草各一錢；右上牙疼，枳殼、小黃各一錢；左下牙疼，肝火，加柴胡、梔子各一錢；右下牙疼，肺火，加桔梗、黃芩各一錢。以上牙疼重者各加三錢。</p>

<h3>治牙疼方</h3>
<p>花椒　黑豆　海鹽　鮮姜（各三錢）　蔥根（三個）</p>
<p>水煎，溫漱立止。</p>

<h3>治產後風神效方</h3>
<p>當歸（八錢）　川芎（六錢）　杭芍（五錢，炒）　熟地（三錢）　紅花（五錢）　桃仁（一錢）　炮姜（三錢）　肉桂（二錢）　芥穗炭（三錢）</p>
<p>黃酒半斤，蔥白三株，水煎，溫服出汗。</p>

<h3>治婦人多生女不生男服此藥即生男</h3>
<p>沉香　檀香　半夏　細辛　枳殼　川烏　南星　草蔻　枳實　川軍　白蔻（各一錢）</p>
<p>共為細末，蜜為丸，如黃豆大，每日清晨服一丸，厚朴（一錢）　煎湯送下。服至一月即有孕。有孕不可再服，再服即生雙子矣。如不信，使母雞吃一丸，一些雞都是雄雞矣。</p>
<p>治產後咳嗽喘急其至吐血敗血流入血經方</p>
<p>蘇木（一錢）　劈碎，水一盅，調人參末（一錢），服之神效。</p>

<h3>治婦人經血不通開瘀血方</h3>
<p>當歸尾（三錢）　紅花（二錢）　焦楂（三錢）　神麯（一錢五分）　麥芽（一錢五分）　蘇木（一兩）核桃（十個，燒存性）　龍頭草（一錢）</p>
<p>龍頭草即舊草帽頭，以此熬水煎藥。核桃燒了，取出化末，皮擲鍋內，同藥煮之，仁令人吃之。蘇木使刀劈碎，先煮下色來，再將藥、核桃皮同煮。黃酒半斤，亦對在水內，共煮熟。服之出汗，十二日不準出門。</p>

<h3>治子死腹中母亦將絕方</h3>
<p>伏龍肝（三錢七分），以水調服即出。</p>

<h3>治婦人白帶方</h3>
<p>白雞冠花，曬乾為末，空心溫酒調服。</p>
<p>赤帶用赤雞冠花，赤白帶用赤、白雞冠花。</p>

<h3>治婦人干病</h3>
<p>時瓜（一錢）　螞蟻（二錢）</p>

<h3>治痔漏瘡腫疼方</h3>
<p>椒目一攝，碾細，空心白水調服三錢，甚效。</p>

<h3>治耳聾方</h3>
<p>大鯽魚（一個，到斤大才好）　大泥片（五釐）</p>
<p>以蔥根尖數根，將魚腦、泥片調合一處，都灌在蔥尖內，塞耳孔中，等魚腦幹，仍如此換之，又塞耳孔中，塞完，其耳即愈。</p>

<h3>治走馬牙疳方</h3>
<p>蒲黃炒末，上患處，即愈。</p>

<h3>治鼻衄血方</h3>
<p>山梔子燒灰吹之。</p>

<h3>又方</h3>
<p>韭菜根　蔥根</p>
<p>共搗棗大，塞入鼻中，兩三度即愈。</p>

<h3>治時有面赤項腫蝦蟆瘟方</h3>
<p>金錢蛙（一錢五分）　酒芩（一錢）　山梔（一錢）　青皮（一錢五分，醋炒）　當歸（一錢）　酒芍（二錢）　川芎（一錢）　生地（二錢）　防風（一錢五分）　牛蒡子（一錢五分，炒）　桔梗（一錢）連翹（一錢）　甘草（一錢）</p>
<p>水煎，分四次溫服。</p>

<h3>治嗓子腫毒方</h3>
<p>柴胡（一錢五分）　酒芩（一錢）　山梔（一錢）　青皮（一錢五分，醋炒）　當歸（一錢）　酒芍（二錢）　川芎（一錢）　生地（二錢）　防風（一錢五分）　牛蒡子（一錢五分，炒）　桔梗（二錢）　甘草（一錢）</p>
<p>水煎，分四次溫服。</p>

<h3>治心腹冷疼方</h3>
<p>胡椒（三七粒，或一歲一粒。）</p>

<h3>治心疼方</h3>
<p>鬱金（二錢）　香附（二錢，醋炒）　元胡（二錢，醋炒）　木香（一錢）　乳香（一錢）　靈脂（二錢，醋炒）</p>
<p>共為細末，每服三錢，酒送下。</p>

<h3>又方</h3>
<p>鍋底墨，以熱小便下三錢七分，即愈。</p>

<h3>又方</h3>
<p>盛漆的水泡皮子燒灰，酒調服二錢。</p>

<h3>治上吐下瀉方</h3>
<p>藿香（三錢）　香薷（一錢五分）　茯苓（二錢）　黃芩（二錢）　陳皮（三錢）　扁豆（二錢，研）　木通（一錢五分）　甘草（五錢）　木瓜（五錢）　厚朴（一錢五分）　車前子（二錢）</p>
<p>姜三片，水煎服。</p>

<h3>治盜汗方</h3>
<p>五倍子焙，研細，以自己漱口水調敷臍上，即愈。</p>

<h3>治半身不遂手足麻木口眼歪斜癱瘓等症方</h3>
<p>大黑豆（煮熟）　陳皮　當歸　五加皮（各四兩）</p>
<p>酒五斤燒的，將藥浸五日，早晚飲三四盅，酒盡即愈。</p>

<h3>治手足麻木方</h3>
<p>當歸（三錢）　酒芍（二錢）　川芎（二錢）　熟地（五錢）　桂枝（三錢）水煎服，水兩盅，黃酒一盅，煎一盅。</p>

<h3>治小兒瀉肚乾嘔方</h3>
<p>蘆根（三錢）　竹茹（二錢）　粳米（二錢）　鮮姜（五片）</p>
<p>煎湯灌之。</p>

<h3>倒痰法</h3>
<p>瓜蒂（二錢一分。苦丁香，即苦瓜把）　赤小豆（二錢，共為細末）　香豆豉（三錢）　白礬（二兩）</p>
<p>熬湯送下，即將痰嘔出。</p>

<h3>治咳嗽喘方</h3>
<p>紫蘇　麻黃　杏仁　桑皮　黨參　青皮　半夏（姜炒）　牛蒡子　陳皮　甘草</p>
<p>小兒童子五錢，年長之人各二錢，水煎服。</p>

<h3>治乾癬方</h3>
<p>五倍子（二兩，炒）　枯礬（一兩）　硫黃（五錢，化開，出煙）</p>
<p>共為細末，香油調搽患處。</p>

<h3>治癲犬咬傷方</h3>
<p>乘毒未發，用斑蝥七個，去頭足翅，雞子貳枚，調合一處，蒸熟，去斑蝥，淡食雞子，於小便尿出血塊。痛脹不已，則血塊未淨，仍照方吃藥，血塊盡乃止。</p>

<h3>治癆病方</h3>
<p>五味子半斤，開水浸了，泡雞子一個，待至四五天，雞子皮軟了，撈出，用開水浸熟，空心服，一日一個。</p>

<h3>又方</h3>
<p>白蘿蔔（半斤）　白蓮藕（半斤）　蜂蜜（半斤）　白山藥（半斤）　秋白梨（半斤）</p>
<p>水煎藕一滾，再入蘿蔔煎一滾，入梨煎一滾，入山藥煎一滾，再入蜜一滾，為丸，如核桃大。每服二三丸，白水送下，不論時刻，空心常服，即愈。</p>

<h3>一捻金</h3>
<p>（治小兒痰喘方）</p>
<p>臺參（二錢）　川軍（一兩）　二醜（七個）</p>
<p>共為細末，蜜水調服。</p>

<h3>八釐散</h3>
<p>（治跌打損傷，心疼，和血）</p>
<p>皂礬（五錢）　泥片（三錢）　臺麝（三錢）　硃砂（三分）　乳香（三分）　血竭（三分）　兒茶（六分）　雄黃（三分）　紅花（四分）　歸尾（錢半）</p>
<p>共為細末，元酒四兩調服，大人八分，小兒四分。</p>

<h3>七釐散</h3>
<p>茅朮　草烏　白芷　羌活　當歸　赤芍　虎骨（各一錢）</p>
<p>共為細末，每服七分，元酒調服。</p>

<h3>化針散</h3>
<p>（洗眼藥方）</p>
<p>膽礬　銅綠　川椒　砂仁　青鹽（各五分）　烏梅（五錢）　杏仁（十五個）　雄雞膽（一個）　新針（七個）</p>
<p>流水入磁罐內，三日即化，傾盆洗之。</p>

<h3>治白泡瘡方</h3>
<p>治白泡瘡，治黃水瘡，加玉塵不拘多少，香油調抹。</p>
<p>川軍　白芨（等分）</p>
<p>共為細末，涼水調敷患處。</p>

<h3>圈瘡藥方</h3>
<p>白芨（五分）　輕粉（五分）　冰片（五釐）</p>
<p>共為細末，涼水調抹四外，留項。</p>

<h3>治紅白痢疾方</h3>
<p>石榴子　石榴皮（不拘多少）</p>
<p>煎開，沖紅糖服，即愈。</p>

<h3>治噎食方</h3>
<p>側柏炭（三錢）　白芥子（三錢）　野馬砂（不拘多少。野馬砂，即蒼鼠糞）　南粉草（二錢五分）廣皂刺（二錢）</p>
<p>共研細末，即將馬砂炒乾，研，以元酒衝下，分作三付服。</p>

<h3>治遍身風癢瘡疔方</h3>
<p>茵陳嵩煎濃汁，洗之即愈。</p>

<h3>治中風口噤通身冷不知人方</h3>
<p>獨活（四兩）　好酒（一斤）　煎半斤服。</p>

<h3>治瘡口不斂方</h3>
<p>軟石膏（二兩，煅）　漳丹（半兩）</p>
<p>為細末，擦之，名紅玉膏。</p>

<h3>治吃信滷官方</h3>
<p>大黑豆（半斤）　防風（四兩）　甘草（四兩）</p>
<p>合煎，飲之即愈。</p>

<h3>治難產經日方</h3>
<p>雲母粉（半兩），溫酒調服，入口產不順即順，萬無一失。曾治三五十人皆效。</p>

<h3>治一切腫毒初起方</h3>
<p>透骨草　漏蘆　防風　地榆（等分）</p>
<p>煎湯綿蘸乘熱燙之，二三日即愈。</p>

<h3>割毒丹</h3>
<p>（去瘡上歹肉方）</p>
<p>大明礬（一兩）　黃丹（錢半）　巴豆（十粒）</p>
<p>先將丹礬為末，巴豆去皮入杓內，將礬枯盡去巴豆，用雞子清調擦。</p>

<h3>治無名腫毒托藥方</h3>
<p>歸尾（一錢）　皂角刺（一錢）　金銀花（一錢）　紅花（六分）　天花粉（三錢）　乳香（五分）　連翹（六分，去皮）　穿山甲（六分，炒）　川軍（二錢，酒炒）　羌活（一錢）　白芷（六分）　防風（三錢）　甘草節（一錢）</p>
<p>水四盅，煎八分，對黃酒半盅服。</p>

<h3>治紅白痢疾方</h3>
<p>竹蘭茶　桂圓肉　紅糖　白糖　姜（各三錢）</p>
<p>水煎湯服。</p>

<h3>治偏正頭風方</h3>
<p>治偏正頭風，百藥無效，一服便可全愈。</p>
<p>香白芷（二兩半，炒）　川芎（一兩，炒）　甘草（一兩，炒）　烏頭（一兩，半生半熟）</p>
<p>共為末，每服一錢，細茶、薄荷湯送下。</p>

<h3>治脅下刺疼方</h3>
<p>小茴香（一兩，炒）　枳殼（五錢）　同麩皮炒，去麩皮為末，每服二錢，鹽水下。</p>

<h3>遠行健步方</h3>
<p>細辛　防風　白芷　草烏（各等分）</p>
<p>共研細末，用時用水將鞋內微濕，將藥面鋪勻鞋底內，總行二三百里足不腫疼。</p>

<h3>治大便不通方</h3>
<p>油當歸（二兩）　生芝麻（半斤）　水煎服。</p>

<h3>治小便不通方</h3>
<p>黃花菜根七枝，去兩頭要中間根，水煎服。</p>

<h3>治癬方</h3>
<p>全蠍　斑蝥　赤石脂　白芨　明雄黃（各二錢）</p>
<p>共為末，陳醋調上即愈。</p>

<h3>治吞信方</h3>
<p>黑胭脂（二兩）　芒硝（三錢）　水煎服。</p>

<h3>黃連赴宴散</h3>
<p>（治咽喉腫疼，口苦生瘡，牙齦腫疼）</p>
<p>黃連　黃芩　黃柏　山梔仁　細辛　乾薑（各三錢）</p>
<p>共為細末，用米泔水漱口後，擦藥於患處。</p>

<h3>段氏金丹</h3>
<p>（又名德生丹）</p>
<p>米殼（三斤）　木香　廣皮　甘草　麻黃　五味子　石膏　柏蔞（各四兩八錢）</p>
<p>以上共為細末，煉蜜為丸，三錢重。專治男婦老少咳嗽痰喘。早晚服一丸，白滾水送下。</p>

<h3>仙傳五香丸</h3>
<p>香附（三個，醋炙）　五靈脂（一斤）　黑醜（四兩）　白醜（四兩）</p>
<p>共為細末，醋水為丸。</p>
<p>此藥專治消食消積，消痞消痰，消氣消滯，消腫消痛，消血消痢，消蠱消脹，消膈消悶。每服一錢，薑湯送下。早晚服之，無不神效。孕婦忌服。</p>

<h3>治痰迷心竅瘋子方</h3>
<p>男女老幼不顧身體。</p>
<p>甘遂（三錢）　硃砂（三錢）　牛黃（二錢）　珠子（一分）　麝香（一分）</p>
<p>共研細末，豬心一個，將藥末入豬心內，用油紙三層將豬心包嚴，用水洗透，再炭火內燒熟，用草紙十層，將豬心內藥末使刀取出，用水送下，淨吃藥不吃豬心，倒痰即愈，無不神效。</p>

<h3>靈藥方</h3>
<p>白礬　黑礬　食鹽　火硝　水銀（各五錢）</p>
<p>將前四味藥為極細末，按於鍋底，將水銀居中，上用碗蓋之，鹽水合泥封固，濕沙蓋其上，以文武火升打一炷香為度。</p>
<p>專治一切瘡瘍潰後，拔毒去腐，生肌長肉。瘡口堅硬，肉黯紫黑，用此藥少許，雞翎掃上，立刻紅潤活口。誠外科之聖藥也。</p>

<h3>治無名腫毒疔毒方</h3>
<p>水膠（五錢）　用碗蒸化，圈之即愈。</p>

<h3>治筋聚之症方</h3>
<p>用新白手巾一塊，星星出全時將手巾蓋患處，用牙啃之即愈。</p>

<h3>治刀傷血流不止方</h3>
<p>用此方洗之，跌打損傷，止疼活血。</p>
<p>荊芥　獨活　桔梗　防風　羌活　骨草　赤芍（各五錢）　煎湯洗之。</p>

<h3>治牙疼方</h3>
<p>冰片（二分）　燒酒</p>
<p>共灌耳內即愈。</p>

<h3>治吞大煙方</h3>
<p>馬連花（七朵）　水牛（七個）　七星蜘蛛（七個）　大活蠍子（一個）　飛羅面</p>
<p>共合一處，搗爛為丸，如綠豆大。每服七粒，用白水送下。不論男女老少，服之即愈。</p>

<h3>又方</h3>
<p>黑礬（二兩）　白芥（二兩）</p>
<p>共研粗末，水煎服，探吐甚妙。</p>

<h3>六聖神散</h3>
<p>專治偏正頭疼腦痛。</p>
<p>乳香　沒藥　川芎　雄黃　石膏（各二錢）</p>
<p>外用牙硝（半兩）　共研細末合勻，將藥吹鼻內。</p>

<h3>治痔瘡神方</h3>
<p>用地龍，用陰陽瓦焙黃干，研細末，每用三錢，用黃酒下。</p>

<h3>治乾血癆方</h3>
<p>茜草（四個，大）　南山楂（三錢）　紅棗（七個）　胡椒（四個，大）　紅糖（四個，大）　青果葉（四個，大）　老蔥根（四個，大）　絲瓜（四個，大）　鮮姜（三片）　核桃（三個，燒糊研爛）　老酒三斤　早晚煎服。</p>

<h3>治舌大如脬喉風即時不救則死方</h3>
<p>冰片（三錢）　火硝（二分）　膽礬（二分）　青黛（二分）　姜蠶（二分）　硼砂（二分）</p>
<p>共為細末，吹之即愈。</p>
<p>治舌上出血不止，用雞冠血浸舌，嚥下即縮。</p>

<h3>治洗眼方</h3>
<p>羌活（三錢）　防風（三錢）　膽礬（一錢）　桑皮（二錢）　煎水熏。凡大眼角紅痛者，心火也，前方加黃芩（四錢）　木通（四錢）　竹葉（二錢）</p>

<h3>治小兒黃水瘡後禿瘡方</h3>
<p>松香（二兩）　為末，入蔥管內，用線扎定，水煮化，去蔥，候乾加黃丹（一兩、）　水飛無名異（一兩、）　官粉（三分，炒），共為細末，香油搽。</p>

<h3>治一切無名腫毒鼠瘡膏</h3>
<p>馬前子（三十個）　蜈蚣（十五個）　官粉（八盒）　香油（一斤）</p>
<p>砂鍋熬，先炸馬前子糊，取回，蜈蚣糊，入官粉，黃色，不去火毒。</p>

<h3>治脾虛積疳面黃體瘦方</h3>
<p>廣皮（一錢）　青皮（一錢，醋炒）　神麯（五錢，炒）　檳榔（五錢）　木香（三錢）　黃連（三錢，姜炒）　君子肉（五錢，煨）</p>
<p>共為細末，為丸如綠豆大，奇效。</p>

<h3>川芎茶調散</h3>
<p>治傷風頭目發暈，鼻塞生瘡。</p>
<p>南白荷（八兩）　川芎（四兩）　羌活（二兩）　生草（二兩）　細辛（一兩）　防風（一兩半）　荊芥（四兩）</p>
<p>以上七味，共研細末，每服二錢，食遠茶調下。</p>

<h3>治小兒噤口不乳神方</h3>
<p>蟬蛻（十四個，去腿足）　全蠍（十八個，去毒尾）</p>
<p>共研細末，擦乳服即好。</p>

<h3>治一切瘡毒紅腫無頭方</h3>
<p>蠶繭一個，燒灰存性，黃酒送下，即愈。</p>

<h3>治便毒左右膝方</h3>
<p>川軍　全蠍　山甲（各三錢）　白芷（二錢）</p>
<p>水煎服。外用多年石灰，入明礬一把，鹽少許，米湯調敷即消。</p>

<h3>彭祖秘服接命丹</h3>
<p>何首烏　白茯神　赤茯苓　菟絲子　川牛膝　破故紙　覆盆子（各十兩）</p>
<p>不犯鐵器，用石杵臼為極細末，煉蜜為丸，黃酒調丸，如梧桐子大。每服二錢，空心黃酒送下。早午晚用三服，服七日，每服三錢。此藥諸物不忌，惟忌食血。</p>

<h3>益元延年益壽七寶丹</h3>
<p>何首烏（黑白各一斤）　茯苓（黑白各一斤）　破故紙（四兩）　菟絲子（八兩）　當歸身（八兩）　枸杞子（八兩）　牛膝（八兩，浸一日。用何首烏，第七次蒸至第九次，曬乾。）</p>
<p>共為細末，煉蜜為丸，如彈子大。日用三丸，早空心酒送下，午後薑湯送下，臨臥鹽湯送下。久服行步如飛，氣力倍加，延年益壽。</p>

<h3>金刀散</h3>
<p>治癰疽發背，諸般潰爛，梅毒金瘡等症，脫腐生新，外科收斂之神藥也。</p>
<p>煉過鬆柏香淨末（七兩）　枯礬（一兩五錢）　青白礬（一兩五錢）</p>
<p>以上三味，共極細末，磁罐收貯，擦傷處，立愈。</p>

<h3>長春廣嗣丹</h3>
<p>此丹專治男子勞損羸瘦，中年陽事不舉，精神短少，老至五旬發須早白，步履艱難，並婦人下元虛冷，久不孕育者，並皆治之。</p>
<p>天門冬　麥門冬　熟地黃　生地黃　山藥　杜仲　五味子　山茱萸　白茯苓　人參　木香　柏子仁　巴戟（各二兩）　菟絲子　肉蓯蓉（各四兩）　車前子　地骨皮　覆盆子（各一兩五錢）</p>
<p>共為細末，好黃酒打糊為丸，如桐子大。初服五十丸，一月至六十丸，百日後八十丸。鹽湯送下，或老黃酒送下。初服後小便雜色，此係腎經舊病出也。服至二十日後，覺有氣痞，此係五臟寒熱舊疾出也。服至三十日後，鼻頂辛酸，此係風症出也。服至四十日，言語雄壯，或原有胸膈之症，咳嗽吐痰，內傷積滯，此是肺疾除也。服至五六十日，唇紅體潤，口生津液，神清氣爽，兩乳肥潤，此是一切諸疾出也。服至百日後，自覺言語雄壯，容顏光彩，鬚髮變黑，齒落重生，八十老人亦能如壯年之時，目能遠視，行不困乏，精神百倍，壽命延長。此真返老還童之聖藥也。</p>

<h3>化積丸</h3>
<p>雞榮　生官粉為丸，黃豆大，一歲一丸。</p>

<h3>德生丹</h3>
<p>（治咳嗽）</p>
<p>米殼（三斤）　木香（四兩八錢）　廣皮（四兩八錢）　甘草（四兩八錢）　麻黃（四兩八錢）　五味子（四兩八錢）　石膏（四兩八錢）　栝蔞（四兩八錢）</p>
<p>共為細末，煉蜜為丸，重三錢，每服一丸，白水送下。</p>

<h3>風寒麻木止疼痛膏方</h3>
<p>當歸（一兩）　川芎（五錢）　羌活（五錢）　獨活（一兩）　靈仙（五錢）　鉤藤（一兩）　川烏（一兩）　草烏（一兩）　山甲（一兩半，生）　木瓜（一兩）　杜仲（二兩）　木鱉子（五錢）　銀花（五錢）　連翹（五錢）　藏紅花（一兩）　川牛膝（二兩）　透骨草（一兩）　地骨皮（兩半）　生蘄艾（一兩）　乳香（兩半）　沒藥（二兩）　防風（五錢）　桂枝（兩半）　荊芥（五錢）　木香（一兩）　漳丹（三斤半）　生薑（半斤）</p>
<p>麝香不論多少，將囊藥熬好，入麝香，婦人發一團，香油八斤。</p>
<p>以上諸藥共入磁盆內，用香油泡一夜。用鐵鍋熬，以槐柳棍攪，看山甲黃糊色即好。過羅去渣，將油入鍋再熬開，將婦人發入內化淨，即下漳丹再熬，至滴水成珠即好，即將麝香再入藥內。此膏有神效力，取之功不可輕視。</p>
<p>此膏專治風寒麻木，腰腿疼痛，肚內五積六聚，七症八瘕。俱貼患處。痢疾泄肚，貼尾骨、肚臍二穴，神效。孕婦忌貼。</p>

<h1>卷二</h1>

<h2>煮檳榔藥</h2>
<p>白蔻（一兩五錢）　檀香（一兩五錢）　丁香（六錢）　冬瓜仁（六錢）　陳皮（三兩）　縮砂（一兩五錢）　沉香（九錢）　益智仁（九錢）　青鹽（六錢）　此係三料分兩。</p>
<p>此藥化滯利膈，寬胸順氣，化痰去濕，理脾和胃，去口中惡味。多食無功，宜少食。</p>

<h2>平安散</h2>
<p>麝香（五分）　冰片（五分）　硃砂（三錢）　明雄黃（三錢）　火硝（七錢）</p>
<p>共研極細末，用大赤金十張。</p>
<p>此散專治初起感冒傷寒，頭疼身痛，發熱惡寒，眼脹，無汗煩躁，霍亂中暑，臍腹疼痛。以此吹鼻孔內，再點大眼角少許，即愈。</p>

<h2>八寶清胃散</h2>
<p>冰片（二分）　硃砂（三分）　琥珀（一錢）　乳香（一錢）　沒藥（一錢）　胡連（一錢）　硼砂（五錢）　兒茶（二錢）　石膏（五錢）</p>
<p>共研極細末。</p>
<p>此散專治胃火上升，牙齒疼痛，口舌生瘡，牙縫出血。每用少許擦牙上，待流涎水吐出自愈。</p>

<h2>紅清胃散</h2>
<p>冰片（三分）　硃砂（三分）　硼砂（五分）　石膏（五錢）</p>
<p>共研極細末。</p>
<p>此散專治陽明胃經火盛，口舌糜爛，牙齒脹痛，不能飲食，牙癬或牙疳出血，用少許搽患處。</p>

<h2>消毒散</h2>
<p>鹽水錠（一兩）　硼砂（三錢）　冰片（五分）</p>
<p>共研極細末。</p>
<p>此藥消腫止痛，消瘀退熱涼血。丹毒熱毒，無名腫毒，敷之立效。未成者敷之立消，已成者周圍敷之，留中心毒頂易潰。每用藥末，不拘多少，用茶滷調稀上患處。藥干時用茶滷勤掃，令熱毒氣出，其毒自解矣。</p>

<h2>玉肌散</h2>
<p>白芷（二錢）　滑石（二錢）　白附子（二錢）　綠豆粉（四兩）</p>
<p>共研成極細末。</p>
<p>此散專治面貌粗澀不潤，黑暗無光，雀斑汙子，常洗能潤肌膚，悅顏色，光潔如玉，面如凝脂。或加香豆麵洗之，或對入粉內用之，其效甚速。</p>

<h2>香薷丸</h2>
<p>香薷（五兩）　茯苓（十五兩）　藿香（十兩）　蘇葉（八兩）　甘草（七兩）　木瓜（三兩五錢）　檀香（一兩五錢）　丁香（一兩五錢）</p>
<p>共為細末，煉蜜為丸，每丸重一錢五分。每料三斤三兩五錢，每斤碾篩傷折四兩，共應傷折十二兩七錢五分，得末二斤六兩七錢五分。入淨蜜四斤十三兩五錢，共重七斤四兩二錢五分，共得丸七百七十五丸。</p>
<p>此丸專治盛暑遠行，傷暑中暑，燥渴瞀悶，頭目昏眩，胸膈煩悶，嘔噦噁心，口苦舌乾，四肢困倦，精神短少，不思飲食，或發霍亂吐瀉轉筋，小便黃而數，大便溏且頻，並皆治之。每服一二丸，不拘時，用新井花水送下。此藥並能清暑，若夏月盛暑之時，不論男婦小兒，亦宜常服之，不可缺也。</p>

<h2>六合定中丸</h2>
<p>厚朴（一兩五錢）　蘇葉（四兩五錢）　香薷（四兩）　枳殼（二兩五錢）　砂仁（一兩）　甘草（五錢）　赤苓（二兩）　扁豆（二兩五錢）　丁香（一兩）　羌活（一兩五錢）　檀香（二兩）　木瓜（二兩五錢）　半夏（二兩）　藿香（四兩）</p>
<p>共為細末，煉蜜為丸，每丸重二錢五分。每料重一斤十四兩，碾篩每斤傷折四兩，共應折七兩五錢，共淨得末一斤六兩五錢。入淨蜜二斤十三兩，共重四斤三兩五錢。每丸重二錢五分，共得丸二百七十丸。</p>
<p>此丸專治男婦老幼四時感冒傷寒，夏月傷暑瞀悶，頭目昏眩，胸膈煩悶，嘔噦噁心，口苦舌乾，不思飲食，霍亂吐瀉，雨濕蒸氣，轉筋中暑，霍亂暑風等症。每服一二丸，用冰涼水送下。如紅白痢疾、瘧、傷酒、傷食，俱用開水送下。</p>

<h2>辰砂益元散</h2>
<p>滑石（六兩）　甘草（一兩）　硃砂（三錢）</p>
<p>共為極細末。</p>
<p>此散專治夏月中暑，身熱頭暈，上吐下瀉，煩躁不安，頭眩目脹，神魂不定，口乾舌燥，四時疫癘，感冒傷寒，婦人下乳、催生，小便淋漓等症，並皆治之。每服二三錢，用新汲涼水調服。孕婦忌之，勿服。</p>

<h2>紅玉膏</h2>
<p>香油（四兩）　雞蛋（四個）　黃臘（二兩）　血餘（三錢）　槐枝（十三寸，重五錢）　黃丹（二兩）</p>
<p>共熬成膏。</p>
<p>此膏專貼梅瘡頑瘡，結毒臁瘡，不論大小，諸毒通用。此藥能去腐生肌，定痛消疼，止癢化腫，化疔解毒。每用少許攤黑膏中心，或攤紙上，貼患處。有疔者一日一換，無疔者三日一換，其效異常。</p>

<h2>黃玉膏</h2>
<p>脂油（四兩）　黃臘（一兩，入油內化）　白臘（五錢，入油內化）　黃柏（五錢）　乳香（一錢，入油內化）　沒藥（一兩，入油內化）　潮腦（一錢）　冰片（一錢）</p>
<p>共熬成膏。</p>
<p>此膏專貼一切諸般瘡瘍，其色紫黑，腫痛腐爛不愈，或不生膿，或不收口，疼痛不止者，此皆毒盛火盛之所致也。此藥清熱解毒，消腫定痛，化腐生肌。每用少許攤黑膏藥中心，或攤淨綿紙上亦可，其效非常。</p>

<h2>白玉膏</h2>
<p>定兒粉（一兩）　黃蠟（一兩五錢）　香油（四兩）　硼砂（二錢）　好冰片（五錢）</p>
<p>共熬成膏。</p>
<p>此膏專貼諸般瘡瘍，結毒粉毒，癰疽頑瘡，諸般疔毒，紫黑且腐，久而不收，臭爛不愈者，用之絕妙。</p>

<h2>逼蟲香</h2>
<p>茅香（一兩五錢）　細辛（一兩五錢）　零陵香（一錢三分）　山柰（一兩）　川椒（二兩五錢）　藿香（一錢六分）　千金草（三錢六分）　莪朮（一兩七錢三分）</p>
<p>共研成粗末。</p>
<p>此藥凡遇四時不正，瘟疫流行，宜常焚燒此香，則不致傳染。多燒碎末，可以避邪避瘟。空室久無人住，則積濕容易侵人。預製此香燒之，可以遠害。</p>

<h2>洗眼藥末方</h2>
<p>防風（一兩）　荊芥（一兩）　苦參（一兩）　細辛（一兩）　銅綠（一兩）　甘草（一兩）</p>
<p>共為細末。</p>
<p>此方專治眼目諸症，內外瘴翳，視物昏花，迎風流淚，暴發赤腫，雲翳氣朦，天行時眼，久患風疾，眼邊赤爛，不時舉發，癮澀痛癢，壅眵熱淚等症，並皆治之。用則蔥湯熏洗，自愈矣。</p>

<h2>越鞠保和丸</h2>
<p>東山楂（一兩）　神麯（一兩）　雲茯苓（一兩）　半夏（一兩）　香附米（一兩）　蒼朮（一兩）　川撫芎（一兩）　黑梔（一兩）　廣皮（五錢）　連翹（五錢）　蘿蔔子（五錢）</p>
<p>共為細末，加神麯一兩，打糊為丸，如桐子大。</p>
<p>此丸專治憂思氣怒，胸結不舒，損傷肝脾，以至嘔吐嘈雜，胸膈脹滿，不思飲食，鬱結煩悶。每服一二錢，白水送下。淡薑湯亦可。此藥健脾養胃，寬中化痰順氣，大有神效。忌厚味生冷，戒氣怒。</p>

<h2>赤金錠</h2>
<p>火硝（八兩）　漳丹（一兩）　黑礬（一兩）　硃砂（五分）　黃丹（五分）</p>
<p>依法炮製。但此藥不可多服，以三四分為度。</p>
<p>——治諸凡痧症腹痛、絞腸痧、烏痧，服用刀割細末少許，男左女右，點大眼角，汁出即愈。</p>
<p>——治喉閉、雙蛾、單蛾，用新水研少許服之，或刮細末吹之。</p>
<p>——治暴發火眼，頻搽大眼角。</p>
<p>——治受暑噁心，欲吐不吐，滾水研少許服之。</p>
<p>——治無名腫毒，蠍螫蟲咬，水研，敷患處，立效。</p>

<h2>痧藥</h2>
<p>明天麻（五斤）　麻黃（五斤）　生甘草（五斤）　丁香（五斤）　明雄黃（五斤）　蒼朮（五斤）　川大黃（五斤）　蟾酥（二斤）</p>
<p>共研細末，依法成丸。</p>
<p>此藥專治絞腸腹痛，頭眩眼黑，一時昏閉，不省人事，癍痧等症。先將兩丸研末，吹入鼻內；或放舌上，口津嚥下。如不能咽者以陰陽水灌下，少頃再灌三丸，重者六丸即愈。</p>

<h2>洗痔漏神方</h2>
<p>番大馬（一條分為三節，每節用砂鍋熬透，洗三日，或洗九日）</p>

<h2>萬應麻黃散</h2>
<p>馬前子（一兩）　麻黃（一兩）　乳香（一兩）　沒藥（一兩）</p>
<p>共為細末，每服一錢，用黃酒送下。見血乾上，青腫燒酒調上。</p>
<p>此散專治男婦老幼一切跌打損傷、刀傷、箭傷。傷筋動骨，輕者用燒酒調上患處，重者用無灰老酒沖服七八分，輕者五六分，外仍用燒白酒調搽。倘傷處血流不止，即將藥末乾摻，不必用燒酒調上。如服藥之後，心中作鬧，周身發熱木麻，乃藥力行動，不必驚慌，自有奇效。</p>
<p>若待兩三個時辰不見動靜，再服七八分。無論如何重之傷，自有起死回生之妙。但此散力量甚大，有微毒，每服不可過九分，（否）則為禍不少也。如傷久氣虛，即有自汗、盜汗、遺精等症，並有孕婦，均不可服，只可外上。並治一切無名腫毒，則用陳醋調上，屢見奇效。</p>

<h2>上毒瘡藥</h2>
<p>黃芩　黃柏　青粉　青黛　側柏葉（各一錢）</p>
<p>共為細末，加紅升丹、冰片。</p>
<p>此藥專治脾經濕熱發於頭面，常生小瘡毒如粟米大，破則黃水浸淫潰爛，痛癢無休。將此藥用小磨香油調敷。患處如有濃水浸淫，干搽上即自愈矣。</p>

<h2>藿香正氣丸</h2>
<p>藿香（一兩二錢）　廣陳皮（八錢）　紫厚朴（八錢）　半夏（八錢）　於朮（八錢）　白茯苓（八錢）苦桔梗（八錢）　白芷（八錢）　甘草（三錢）</p>
<p>共為細末，用棗、薑、大腹皮各八錢煎湯，疊丸如梧桐子大。</p>
<p>此丸專治四時不正之氣，感冒風寒，乍冷乍熱，頭疼噁心，口苦無味，不思飲食，咳嗽痰喘，夏月中暑，霍亂吐瀉，腹痛轉筋，四肢痠軟，小便赤，大便泄瀉，紅白痢疾，食水停滯，雨濕氣，山嵐瘴氣，及遠行不服水土。每服二三錢，薑湯送下。如中暑、轉筋霍亂，新汲水送下。</p>

<h2>參蘇理肺丸</h2>
<p>蘇葉（五錢）　乾葛（五錢）　前胡（五錢）　半夏（五錢）　茯苓（七錢五分）　陳皮（五錢）　枳殼（五錢）　桔梗（五錢）　木香（二錢）　甘草（五錢）</p>
<p>共為細末。如冬月，用麻黃二兩煎湯為丸，如梧桐子大。</p>
<p>此丸專治肺經不清，一切痰喘咳嗽，不論四時感冒，傷寒傷風，發熱憎寒，頭疼無汗，鼻塞聲重，怕風畏寒，不思飲食等症，並皆治之。及經年舊病，咳嗽晝夜不安，春秋舉發，鼻流清涕，痰涎壅盛，四肢無力，身體困倦；或內傷外感，寒熱風邪，飢飽勞碌，損傷肺氣，多致咳嗽，此藥主之。每服二三錢。如風寒咳嗽，淡薑湯送下，清茶亦可；久嗽不止，梨湯送下。忌勞碌、風寒、動火之物。</p>

<h2>犀角上清丸</h2>
<p>犀牛角（一兩）　桔梗（一兩）　赤苓（一兩）　大生地（一兩）　牛蒡子（一兩）　川芎（一兩）　青黛（一兩）　淨連翹（一兩二錢）　條黃芩（一兩二錢）　元參（一兩二錢）　薄荷（一兩二錢）　生甘草（一兩二錢）</p>
<p>共為細末，水疊為丸，如梧桐子大。</p>
<p>此丸專治心經火盛，三焦有熱，口舌生瘡，眼目赤腫，牙齒急痛，耳鳴作癢，鼻塞不通，咽喉不利，咳嗽痰實，躁煩不安，大便秘結，小便赤黃，一切火盛等症。每服一錢，壯實人一錢五分，食遠清茶送下。老弱者每服五六分。孕婦勿服。</p>

<h2>清肺抑火丸</h2>
<p>黃芩（二兩）　廣陳皮（二兩）　前胡（二兩）　苦桔梗（二兩）　知母（兩半）　蜜桑皮（二兩）　麥冬（一兩半）　天花粉（一兩半）　元參（一兩）　雲茯苓（一兩半）　枳殼（一兩）　乾葛根（一兩半）　梔子（一兩，炒）　生甘草（一兩）</p>
<p>共為細末，水泛為丸如梧桐子。</p>
<p>此藥專治肺氣不清，上焦邪熱，咽喉腫痛，及牙齒疼痛，身熱聲啞，胸膈作痛，鼻衄出血，痰壅嘔吐，鼻孔生瘡，面紅酒刺，咳嗽痰實等症，並皆治之。每服一錢或七八分，食遠、臨臥清茶送下。常服清三焦之火，理胸膈之痰，奪造化有通塞之功，調陰陽有補瀉之妙。</p>

<h2>十全大補丸</h2>
<p>於白朮（二兩，土炒）　當歸（二兩）　川芎（二兩）　杭白芍（二兩）　蜜黃耆（四兩）　茯苓（四兩）　肉桂（四兩）　大熟地（四兩）　生甘草（一兩）</p>
<p>共為細末，滴水為丸，如梧桐子大。</p>
<p>此丸專治氣血兩虛，脾胃齊損，或四肢怠惰，或眼目昏花，或飲食不思，或動輒自汗，夜臥不安，精神短少，未熱則怕熱，未寒則怕寒，一切虛弱之症，皆宜服之。每服二錢，空心滾白水送下。</p>

<h2>金匱腎氣丸</h2>
<p>熟地（八兩）　茯苓（三兩）　山藥（四兩）　山萸（四兩）　澤瀉（三兩）　丹皮（三兩）　附子（二兩，炙）　肉桂（二兩，去粗皮）　牛膝（一兩）　車前子（一兩）</p>
<p>共為細末，滴水成丸，如梧桐子大。</p>
<p>此丸專治脾腎虛弱，腰重腳腫，小便不利，或肚腹脹疼，四肢浮腫，或喘急痰盛，以成蟲症，其效如神。此症多因脾胃虛弱，治失其宜，元氣復傷而變症者，非此藥不可。每服二錢，滾白水送下。</p>

<h2>附子理中丸</h2>
<p>大附子（七錢）　肉桂（七錢，去粗皮）　黃耆（一兩）　炙甘草（五錢）　於白朮（一兩，土炒）　乾薑（一兩，炒）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此丸專治中寒不渴，昏不知人，口噤不語，四肢逆冷，臍腹冷痛，霍亂轉筋，一切虛寒等症，並皆治之。</p>

<h2>連翹敗毒丸</h2>
<p>歸尾（一兩）　赤芍（一兩）　天花粉（一兩）　杭白芷（一兩）　連翹（一兩）　黃芩（八錢）　金銀花（三兩）　銀柴胡（八錢）　薄荷（五錢）　防風（八錢）　甘草節（一兩）　荊芥穗（六錢）　川軍（二錢）　乳香（二兩五錢）　沒藥（二兩五錢）</p>
<p>共為細末，用酒四兩打糊為丸，如梧桐子大。</p>
<p>此丸專治三焦積熱，風毒，無名腫毒，諸般瘡瘍，起初發熱憎寒，四肢倦怠，內熱發乾，鼻塞頭眩，大小便結，及遍身大風瘡、小風瘡，疥癬癮疹，癢痛紅腫，並皆治之。凡外科服此易消易潰，大能消瘀活血，功效甚速。用白滾水送下。在身上者臥時服，在身下者空心服，或早晚各進一服亦可。戒發物、菸酒。孕婦忌服。</p>

<h2>胃苓丸</h2>
<p>豬苓（一兩）　澤瀉（一兩）　蒼朮（一兩）　厚朴（一兩）　陳皮（一兩）　白朮（二兩，土炒）　杭芍（一兩五錢）　雲苓（一兩五錢）　肉桂（三錢，去粗皮）　甘草（三錢）</p>
<p>共為細末，神麯打糊為丸，如梧桐子大。此丸專治脾胃不和，嘔吐痰水，胸膈痞悶，身熱頭疼，霍亂吐瀉，小便赤少，大便泄瀉，每服二三錢，食遠白湯送下。飲食不進，生薑、紅棗湯送下；霍亂吐瀉，燈心、竹葉湯送下。常服能調中養胃，甚有奇效。</p>

<h2>香連丸</h2>
<p>川黃連（十兩，用吳萸五兩水泡，取連炒，去吳萸不用）　廣木香（二兩五錢）</p>
<p>共為細末，用醋打糊為丸，如梧桐子大。</p>
<p>夫痢者乃濕熱食積所致，濕熱傷血分則赤，傷氣分則白，氣血俱傷則赤白分離。黃者食積，黑者濕勝也。其症臍腹疼痛，或下鮮血，瘀血紫黑，血白膿赤白相離，或如豆汁，裡急後重，晝夜無度。此藥瀉脾胃之濕熱，消臟腑之積滯。每服一錢，空心米湯送下。</p>

<h2>歸脾丸</h2>
<p>炙黃耆（一兩）　野於朮（一兩）　懷山藥（一兩，炒）　遠志（一兩，去心）　白茯苓（一兩）　酒當歸（一兩）　建蓮肉（一兩）　棗仁（一兩，炒）　廣木香（四錢）　生甘草（三錢）</p>
<p>共為細末，用圓眼肉八錢煎湯為丸，如梧桐子大。</p>
<p>此丸專治男婦思慮過度，勞心傷脾，健忘怔忡，煩躁不寐，短氣自汗，坐臥不安，飲食減少，倦怠無力，痛久氣血兩虛，不能復元者，此丸主之。讀書遊宦之人，尤宜多服。食遠龍眼、紅棗煎湯送下。</p>

<h2>六味地黃丸</h2>
<p>大熟地（八兩）　山藥（四兩，炒）　山萸肉（四兩，炒）　粉丹皮（三兩）　白茯苓（三兩）　澤瀉（三兩）</p>
<p>共為細末，煉蜜為丸，如梧桐子大。</p>
<p>大凡陰虛之症，起自少年之人，縱欲者多，節欲者少。人至十五六歲，陽精始動，正在氣血發生，若失保守，真陽必敗，相火隨旺，以致形體瘦弱，頭目昏眩，耳內蟬鳴，骨蒸盜汗，咳嗽吐痰，痰中帶血，午後不安，夜夢遺精，驚悸煩渴，便血淋漓，不思飲食。治之先滋陰降火，以此丸為主。</p>
<p>此藥不燥不寒，滋補腎水，並理脾胃。無論老少，凡陰虛火動者，皆宜服之，久服必有奇效。早晚各服二錢，鹽湯送下。</p>

<h2>知柏地黃丸</h2>
<p>熟地（八兩）　山萸（四兩，炒）　山藥（四兩，炒）　丹皮（三兩，酒洗）　茯苓（三兩）　澤瀉（三兩）　鹽柏（二兩）　知母（二兩）</p>
<p>共為細末，煉蜜為丸，如梧桐子大。</p>
<p>此丸又名滋陰地黃丸，治下元虛損，心腎不交，腰疼耳鳴，小便頻數，心火不降，腎水不生，不能既濟而形體瘦弱，精神困倦，潮熱往來，遺精便血，自汗盜汗，虛煩消渴，淋漓等症，並皆治之。每服二錢，空心淡鹽湯送下，滾白水亦可。常服補腎養血，固本培元。此藥降無根之虛火，滋腎水之聖藥也。忌豬血、蘿蔔、燒酒等物。</p>

<h2>麥味地黃丸</h2>
<p>大熟地（八兩）　山藥（四兩）　丹皮（三兩）　白茯苓（三兩）　山萸肉（四兩）　澤瀉（三兩）　寸冬（二兩）　五味子（二兩）</p>
<p>共為細末，煉蜜為丸，如梧桐子大。</p>
<p>此丸專治腎水不足，虛火上炎，消渴飲水，五心煩熱，心火不降，陰水不升，咳嗽痰血，五臟各損，腰痛耳鳴，眼目昏花，四肢無力，盜汗遺精等症。每服二錢或三錢亦可，鹽湯送下。忌蘿蔔、燒酒等熱物。</p>

<h2>玉容肥皂</h2>
<p>杭芷（二錢）　附子（二錢）　獨活（二錢）　白蘞（三錢）　細辛（二錢）　葳蕤（錢六）　麝香（錢半）　三艾（三錢）</p>
<p>共為細末，用肥皂一個，胰子四兩，搗勻為丸，重一兩一團。夫人之臉皮毛膚，皆屬太陰脾胃二經，謂土生金之故耳。蓋因過食厚味醇酒，以致胃火上升，面生斑點、酒刺、粉刺等類，遊風瘙癢，黯慘無光，當用此方洗之。</p>

<h2>癬藥方</h2>
<p>紅棗肉（二兩）　核桃肉（二兩）　大榧子（一兩）　水銀（二兩）</p>
<p>須共合一處，搗爛成泥，用白布包裹，以微火烤，搽患處。</p>
<p>夫癬之生也，因風毒邪熱客於皮膚之間，以致遍身走散，痛癢不止，或疾如癮疹，或形如圓錢。此藥能散風止癢，卻蟲消毒，不論乾癬、濕癬、苔癬、風癬，凡經年不愈者，皆以此藥治之。先用手搔患處，後以藥搽上，每日三四次即愈。</p>

<h2>太乙紫金錠</h2>
<p>文蛤末（二斤）　大戟末（一斤）　山慈菇末（一斤六兩）　麝香（三兩）　千金子（十兩）　硃砂末（六兩，外加一兩）　雄黃末（二斤半）</p>
<p>共為細末，糯米麵打糊為丸，每料重五斤十五兩五錢，入糯米麵打糊為丸錠，共重三十斤，淨得錠一千六百零三錠，每錠三錢，幹得二錢四分。</p>
<p>此藥內可服，外可上，隨症調引，起死回生，真為衛生至寶。治一切飲食、藥毒、蟲毒、瘴氣、惡菌、河豚、吃死牛馬馳嬴等症。每服一錠，病重者連服，通利一二次無妨，並用涼水磨服。諸蟲腫脹，大麥芽湯送下。癰疽對口、發背、天蛇頭、無名腫毒、疔毒等諸惡瘡，風疹、癮疹，毒赤腫未破，及痔瘡等，用無灰酒磨服，再用涼水調敷，日夜各數次。覺癢立消，已潰出膿血者，亦減分數。陰陽二毒，傷寒心悶，狂言亂語，胸膈壅滯，邪毒未發，正宜下者。又瘟疫喉閉纏風，涼水薄荷磨服；傳屍勞瘵，用檀香湯磨服；心氣諸氣痛，黃酒或薑湯磨服；赤白痢疾，泄瀉肚腹急痛，霍亂絞腸痧等症，及諸痰症，並用薄荷湯磨服；男婦急中顛邪，喝叫亂走，鬼交鬼胎鬼氣，狂亂失心，羊癇豬顛等風，中風中氣，口眼歪斜，牙關緊閉，言語蹇澀，筋攣縮，骨節風腫，手足腰腿周身疼痛，行步艱難，暖酒磨服；自縊溺水死心頭暖者，驚死或鬼迷死未隔夜者，俱用冷水磨灌下；頭疼太陽疼者，用酒入薄荷葉研爛，敷貼太陽穴上；牙疼，酒磨塗，及含少許，良久吞下；小兒急慢驚風，五疳五痢，脾病黃腫，癮疹瘡瘤，牙關緊閉，並蜜下薄荷磨下及擦，量兒大小，一錠作三五次服；婦人經水不通，紅花煎湯送下；孕婦脾瀉，勿服；打破傷損，油松節、黃酒磨服；湯火傷，東流水磨塗；惡蟲、瘋犬所傷，冷水磨塗，淡酒磨；牛馬六畜中毒，亦以此救之。</p>

<h2>補中益氣丸</h2>
<p>黃耆（一兩五錢，蜜炙）　茯苓（一兩）　陳皮（一兩）　白朮（二兩，土炒）　白芍（八錢，酒炒）柴胡（三錢）　升麻（二錢）　甘草（五錢）</p>
<p>共為細末，用紅棗、生薑各一兩，熬水為丸，如梧桐子。</p>
<p>內傷之症，起於飲食，當食不食，過食過飽，一飢一飽，元氣漸傷，不見其損，日有所虧，耽延歲月，真氣耗損，何愁無內傷之患也。況脾胃屬土，其性最緩，得之不易，去之尤難。胃氣受傷，中氣不足，憂思傷脾，兩脅作脹，食後倒飽，嘈雜噁心，噯氣吞酸。病者不知調攝，則噎食翻胃之症立至。少年之人，十救一二；年逾五旬，百無一生，深可憫也。若少年勞瘵，陰虛火動，咯血吐血，便血，遺精盜汗，不可服，恐陽氣愈盛，陰血不消故也。</p>

<h2>防風通聖丸</h2>
<p>防風　大黃　白朮　川芎　白芍　石膏　當歸　荊芥　黃芩　梔子　桔梗　滑石　連翹（各一兩）　麻黃（五錢）　薄荷（七錢）　朴硝（七錢）　甘草（五錢）</p>
<p>共為細末，水疊為丸，如梧桐子大。</p>
<p>治風熱鬱結，寒火相激，頭目不清，咽喉不利，或疼或腫，發熱發赤，咳嗽痰，溲便淋閉，舌強口噤，語言譫妄，癱瘓麻木，癲狂驚悸，傷風傷寒，感冒瘟疫時毒，腫毒初起，癰疽風刺癮疹。此藥發表通里，並皆治之。每服二錢，薑湯送下。</p>

<h2>桂附地黃丸</h2>
<p>即六味地黃丸加附子、肉桂二兩。</p>
<p>此藥專治老人命門火衰，不能生土，形體瘦弱無力，脾胃虛寒，飲食少思，或臍腹寒痛，或濕熱以作，腰腿痠痛，及大便不實，小便不禁，淋閉等症，老年常服溫補之藥也。每服二錢，空心白滾水或鹽湯送下。</p>

<h2>三黃寶蠟丸</h2>
<p>藤黃（二兩）　天竺黃（二兩）　大戟（一兩）　歸尾（一兩）　劉寄奴（一兩）　牛黃（一兩）　麝香（一兩）　琥珀（一兩）　水粉　血竭　兒茶　乳香　雄黃　水銀（各五錢。務炙死合勻，倘遍在一丸，不可用。）</p>
<p>共為細末，用淨黃蠟十二兩為丸，重一錢。</p>
<p>此藥破頑痰，保元氣，解諸毒，活經絡，接筋骨，消瘀血。專治跌打、撲傷、損傷，閃腰岔氣，瘀血凝結，疼痛難忍，受傷日久，經年不愈；並墜車落馬之傷，蛇蠍惡蟲之毒；或男子努力成勞；或女子經閉不通；或產婦胎衣不下，惡露上攻，致生怪症，瘀血悶亂，不省人事；或打破傷，牙關緊閉，抽掣搐搦；或風吹冷振，半身不遂，軟弱不能動履者。連服數丸，則周身血脈流通，永無惡患矣。以上諸症，每服一丸，病重者二丸，俱用灰酒化服。服藥三日內忌生冷、瓜果、燒酒、發物要緊。又能外敷諸瘡惡毒，用清油磨化，鵝翎掃敷，不可見火。此方有無窮之理，不測之功，可謂仙方也。</p>

<h2>仙藥茶</h2>
<p>六安茶（一斤）　石菖蒲（二兩）　鮮蘇葉（二兩）　陳皮絲（二兩）　鮮薑絲（二兩）</p>
<p>於五月五日午時共合一處，用水拌勻，入磁缸封貯，三日取出涼干，仍封於磁缸內存放。此藥專治四時令序皆有不正之氣，感冒風寒，停食積滯，胸膈飽滿，嘔吐噁心，頭眩頭痛，腹痛腰痠，憎寒壯熱，手足戰慄，咽嗌不利，百節痠痛，或口中發苦，鼻孔燥干，皆治之。</p>

<h2>七釐散</h2>
<p>藏紅花（一兩五錢）　三七（二兩）　生軍（二兩）　桃仁（一兩五錢）　歸尾（一兩五錢）　猴姜（一兩）　乳香（二兩五錢）　沒藥（一兩五錢）　土鱉蟲（八錢）　自然銅（四錢）　血竭（二兩）　兒茶（二兩）　硃砂末（一兩）　雄黃（一兩五錢）　冰片（一錢）　麝香（二錢）</p>
<p>共為細末。</p>
<p>此藥專治跌打損傷，墜車落馬，瘀血凝結，棒瘡疼痛難忍者，用此藥救之，無不神效。可服可敷，每服一錢，黃酒下，用燒酒調塗。</p>

<h2>冰硼散</h2>
<p>冰片（二分）　硼砂（四分）　火硝（三分）</p>
<p>共為細末。</p>
<p>專治胃火上升，痰滯積熱，怕食熱物，喜食涼，牙齒疼痛，時作時止，不時舉發。每用藥末，不拘多少，上痛處，日上三四次。內再服清胃降火等丸藥，方可全效。</p>

<h2>化腐生肌散</h2>
<p>靈藥（二錢，煮過三次）　輕粉（二錢）　冰片（二分）</p>
<p>共為細末。</p>
<p>此散專治化腐生肌，凡瘡毒破後，膿水淋漓，膿爛腥臭，強肉紫黑，難於收口，用此散摻於生肌膏上貼之，其口即收，其肌易生，膿水自少，腐肉化為膿水而愈。</p>

<h2>靈藥方</h2>
<p>白礬　黑礬　食鹽　火硝　水銀（以上各五錢）</p>
<p>將前四味藥為極細末，安於鍋底，將水銀居中，上用碗蓋，鹽水合泥封固，濕沙蓋其上，以文武火升打一炷香為度。</p>
<p>此藥專治一切瘡瘍潰後，拔毒去腐生肌長肉。瘡口堅硬，肉黯紫黑，用此藥少許，雞翎掃上，立刻紅活，乃外科之聖藥也。</p>

<h2>蒸臍祛病法</h2>
<p>夜明砂（一兩）　兩頭尖（五錢）　人參（三錢）　白茯苓（三錢）　蓮鬚（三錢）　川附子（三錢）　川椒（三錢）　沉香（一錢）　丁香（一錢）　麝香（二錢，另包臍用）　秋石（五錢，另包，臨時用四分拌入群藥內用）　槐錢（十三槐）</p>
<p>此藥治風癇，撮口臍風，或常出黃水。凡諸般臍症，此藥貼臍上，烤熱鞋底熨之，無不神效。</p>

<h2>治體氣藥方</h2>
<p>枯礬（一兩二錢）　海螵蛸（五錢）　密陀僧（火煅，童便漫淬，二兩）</p>
<p>用童便一碗，將密陀僧煅，入便內漫淬，不計遍數，以便盡為度。</p>
<p>上各藥為細末和勻，每用些須，干則用唾津調搽，濕則干搽之，不過數次見效。</p>
<p>治體氣不和，風濕襲入腠理，以致或白或紫，不疼不癢，凡遇此症，並皆治之。</p>

<h2>洗藥</h2>
<p>荷葉（二兩）　吳茱萸梗（三錢）</p>
<p>此藥專洗氣虛脫肛。</p>

<h2>又方</h2>
<p>苦參（一兩）　朴硝（一兩）　荊芥穗（三錢）　防風（三錢）　枳殼（三錢，生）　甘草（三分，生）瓦松（一兩）</p>
<p>用水煎浴，絲棉包裹。</p>
<p>此藥專治肛門腫痛，風濕腫墜搔癢，洗之自愈。</p>

<h2>太乙膏</h2>
<p>黑參　白芷　當歸　赤芍　肉桂　生地（各一兩）</p>
<p>上㕮咀，用麻油三斤漫之，春五日，夏三日，秋七日，冬十日。用文武火熬，待白芷焦色，離火候冷，濾去渣，再熬數沸。候油稍溫，旋下好黃丹一斤，用柳木棍不住攪之，以藥滴水中不散為度。黃丹務要湯泡過，炒令紫黑色，研之極細方好。</p>
<p>此藥治背癰疽，濕痰流注，湯燙火燒，無名腫毒。一切瘡已潰者生肌長肉，未潰者貼之即消，乃諸瘡之神方也。</p>

<h2>代喉針</h2>
<p>藜蘆（一錢，炙）　苦參（五分）　細辛（五分）　青黛（八分）　月石（一錢）　膽礬（六分）　雄黃（八分）　冰片（五釐）</p>
<p>共為細末，此藥專吹單雙乳蛾，紅腫不破，命在幾希，用此藥二三釐吹之可活。</p>

<h2>吹喉蠍梢散</h2>
<p>蠍梢（七枚，焙）　皂刺（五分，炙）　甘草（五分，生）　雄精（一錢，研）　硼砂（八分，煅）　膽礬（八分）　火硝（七分）　芒硝（七分）</p>
<p>共為細末，密貯，勿令泄氣。</p>
<p>此藥專吹走馬喉風，咽關腫閉，滴水不下，此症危在旦夕，急用三四釐吹點患處，可劫十中之一，烈藥也。</p>

<h2>通宣理肺丸</h2>
<p>沙參（二兩）　蘇葉（四兩）　陳皮（四兩）　枳殼（四兩）　前胡（四兩）　半夏（四兩）　乾葛（四兩）　桔梗（八兩）　茯苓（四兩）　木香（二兩）　蜜麻黃（二兩）　甘草（一兩，制）</p>
<p>共為細末。水疊為丸，如梧桐子大。</p>
<p>此藥專治一切風寒咳嗽，痰飲壅滿，氣促作喘等症，並皆治之。</p>

<h2>八寶珠子散</h2>
<p>珠子（三錢）　京牛黃（一錢）　青黛（八分）　人中白（四錢，三黃湯煅）　兒茶（一錢）　石膏（二錢，煅）　冰片（八分）　香乳（一錢）　薄荷（八分）　琥珀（六分）　血竭（六分）</p>
<p>共為細末。</p>
<p>此藥專能化腐生肌，凡瘡毒破後，膿水淋漓，膿爛腥臭，強肉紫黑，難於收口，用此散摻於生肌膏上貼之，其口即收，其肌易生，膿水自少，強肉化為膿水而愈。</p>

<h2>清涼散</h2>
<p>爐甘石（二兩）　五倍子（一錢）　硼砂（三錢）　雄膽（一錢）　蝦蟆草（一錢）　京牛黃（二錢）　硃砂（四分）　冰片（二錢）　珠子（二錢）</p>
<p>共為細末。</p>
<p>痔漏因素積濕熱所致，或過食炙爆膏粱厚味，或負重竭力，氣血縱橫，經絡交錯，或酒色過度，濕熱瘀血流注肛門，俱能發痔。久不得愈，隨成穿腸漏矣。此藥消腫止痛，清火涼血敗毒，外用芝麻醬調敷患處自愈。</p>

<h2>加味清涼散</h2>
<p>京牛黃（一錢）　珠子（七分）　熊膽（一錢）　蝦蟆草（一錢）　海螵蛸（一錢）　象牙屑（一錢）　硃砂（四錢）　五倍子（一錢）　紅棗炭（一錢）　爐甘石（二兩）　白芨（一錢）　硼砂（二錢）　冰片（一錢五分）</p>
<p>共為細末。</p>
<p>此藥主治之症及用法，均與清涼散同。</p>

<h2>抱龍丸</h2>
<p>薄荷葉（五分）　全蠍（五錢，去毒）　浙貝（五錢，去心）　半夏（五錢，炙）　茯神（一兩，抱木）　麥冬（八錢）　枳殼（五錢，炒）　羚羊（一兩）　九轉膽星（八錢）　天竺黃（四錢）　雄黃（四錢）</p>
<p>共為極細末，煉蜜為丸，重五錢，硃砂為衣。</p>
<p>此藥治小兒急慢驚風，牙關緊閉，口眼歪斜，不省人事，用一丸薑湯調搽牙關，再用一丸薑湯灌下；霍亂吐瀉，藿香、薑湯送下；傷風咳嗽氣急，蔥薑湯送下；痰多飽悶噁心，薄荷湯送下；夜啼驚跳，鼻熱，燈草湯送下；痘疹癍麻，或出未出者，清茶湯送；赤痢腫墜後重，枳殼湯送下；自利虛弱，手足痠軟，淡薑湯送下；感冒風寒，吐乳肚痛，薑湯送下；頭疼發熱，宿食作酸，砂仁、麥芽湯送下；男婦潮熱，心神恍惚，不思飲食，燈草湯送下；小兒初生，乳汁調服亦可。</p>

<h2>金衣祛暑丸</h2>
<p>藿香（四兩）　香薷（四兩）　蘇梗葉（四兩）　白朮（一兩，土炒）　黑蒼朮（二兩）　厚朴（二兩五錢，姜炒）　陳皮（二兩五錢）　桔梗（一兩）　白扁豆（二兩五錢，炒）　白茯苓（四兩）　白芷（一兩）　大腹皮（一兩）　羌活（一兩五錢）　半夏（一兩，姜炒）　木瓜（一兩五錢）　豬苓（三兩）　澤瀉（一兩）　甘草（一兩，生）</p>
<p>共為細末，煉老蜜為丸，重一錢五分，用硃砂二兩為衣，外用大赤金重衣。</p>
<p>專治中暑身熱頭痛，上吐下瀉，煩躁不安，頭目眩暈，嘔噦噁心，口苦舌乾，四肢困倦，精神恍惚，心腹脹痛，不思飲食，消渴飲水，霍亂轉筋，及紅白痢疾，大便赤黃。夏月伏暑，無病之人可常服之。每服一二丸，用新汲水或冰水送下。風寒，薑湯送下。</p>

<h2>橘半枳朮丸</h2>
<p>白朮（四兩，土炒）　半夏（二兩，炙）　山楂肉（二兩）　陳皮（二兩）　枳實（二兩）　神麯（二兩，炒）　麥芽（二兩，炒）　桔梗（二兩）　縮砂（二兩，炒）　枳殼（二兩，炒）</p>
<p>共為細末，水疊為丸，如梧桐子大。</p>
<p>此藥健脾養胃，理氣化痰，有滯能消，脾虛胃弱能補。每服三錢，早晚用薑湯送下，白水亦可。常服消痰開胃，化宿酒宿食，止嘔吐，功難盡述。</p>

<h2>十香返魂丹</h2>
<p>伽南香　雄丁香　清木香　蘇合油　檀香　降香　乳香　藿香　姜蠶（炒，去絲嘴）　天麻（煨熱）　硃砂（飛）　鬱金　建蓮子心　栝蔞仁（去淨油）　香附米（童便、酒、醋、鹽水，分為四次制）　血珀（以上各二兩）　安息香（水，一兩）　麝香（一兩）　礞石（醋煅九次，二兩）　冰片（五錢）　訶子（二兩）　牛黃（一兩）</p>
<p>上各藥俱研極細末，分量兌准，無有低昂。用甘草四兩熬稠汁，對煉蜜為丸，每丸重一錢，金箔為衣。</p>
<p>——治男婦痰厥，中風中臟，口眼歪斜，牙關緊閉，昏暈死去，或諸風狂亂，見神見鬼，自言自語，或笑或哭，登高涉險，上樹爬房，生薑汁溶開下。</p>
<p>——治行人夏月中暑，卒然暈倒死去，藿香湯下。</p>
<p>——治喜、怒、哀、樂、愛、惡、懼七情取傷而死者，燈心湯下。</p>
<p>——治夜夢驚悸怔忡，心神不交，夢起遊蕩，重傷又臥，醒後不知，燈心金子湯下。</p>
<p>——治孕婦懷孕七八個月，忽然死去，此為子暈，人參同硃砂隔水燉湯下。</p>
<p>——治孕婦胎哭有聲，胎動不正，蓮心湯下。</p>
<p>——治男婦大小，如醉如癡，似獃似呆，赤金煎湯下。</p>
<p>——治小兒急慢驚風，天吊仰，口吐痰沫，手足抽搐，薄荷湯下，燈心湯亦可。</p>
<p>——治男婦交媾，脫陰而死者，升麻湯下。</p>

<h2>壬水大金丹</h2>
<p>川大黃（錦紋者五斤，切薄片，以燒酒一斤，白蜜四兩和勻，綠豆二斤水浸一夜，北鉛二斤打作薄片，剪碎，與綠豆拌勻，柳木甑鋪柳葉厚過許，以綠豆、鉛片攪拌，鋪葉上，覆以夏布，置大黃片於上，又覆以夏布，夏布之上覆以綠豆、鉛片，後以柳葉蓋之，蒸七香，取出大黃曬乾，露一宿，如是九度，再以）烏梅　薄荷葉　枳殼　廣木香　陳皮　九轉膽星　檀香　枸杞子（各一兩）　蚊蛤（四兩）　川貝母　石膏　牙皂　製半夏（各二兩）　生礬　便附　黃芩（各一兩，炒）　梔子仁（炒）　沉香　白茯苓</p>
<p>以上藥味用水五斤，煎汁三斤，去渣，浸前大黃，以汁盡為度，曬乾為末。每大黃末一斤，配九制淨明粉一兩七次。</p>
<p>礞石　官粉　硼砂　琥珀　玉金　沉香（各一兩）　犀角（二錢）　羚羊（三錢）　鍾乳粉（三錢）牛黃（五錢）　靈砂（五錢）</p>
<p>以上十一味皆取淨末，合勻聽用。鍾乳宜用上白者，以甘粉、藿香、零陵香、白芸香各一錢，共煮三日，次以甘草、地榆、天葵煮三日取出，乳石，研萬遍如粉，方用八兩，打碎，炒黃色。</p>
<p>文蛤（以茶滷熬一日，不住手攪；再以糯米熬湯，熬三日，不住手攪。以作不混，且生金為度。）</p>
<p>白雲苓　嫩黃耆（蜜炙）　當歸　枸杞　粉甘草　人參　鬱金（各五錢）　麥冬（二兩，去心）此八味煎濃汁二盞，入文蛤膏，再煎成膏。以前末同膏合勻，千杵為丸，如梧桐子大，大金箔為衣。</p>
<p>凡一切痰迷癱瘓，蟲鬲哮喘諸症，噙化一丸，立效。</p>

<h2>烏金丸</h2>
<p>臺烏　熟大黃　黃芩　莪朮　三稜　赤芍　黃□　丹皮　阿膠　蒲黃　延胡索　香附　烏豆皮　生地（忌鐵器）　川芎（各三兩）　寄奴　蘄艾　白扁豆（各二兩）　以上用蘇木水制。</p>
<p>上為細末，煉蜜為丸，每丸重一錢，用蠟皮封固。</p>
<p>治婦人三十六症，思慮氣惱，變生多痰，孕育不成，崩中帶下，五心煩熱，口苦咽乾，飲食無味，身體羸瘦，面目痿黃，手足痠軟，經水不勻，臍腹脹痛，鬢髮黃落，喜臥倦怠，產後惡血上攻，心腹刺痛，敗血不止，及子宮一切惡疾，經驗奇效。每服三錢，看病輕重加減用之。鹽湯、溫黃酒或艾醋湯、白滾水送下，早晚進二服，忌氣惱思慮。</p>

<h2>平安丹</h2>
<p>云香末（一斤）　檀香末（八兩）　沉香末（一兩）　南蒼朮末（二斤）</p>
<p>此藥專治四時不正或陰霧瘴氣、潮濕地氣，及疹痘之人周身搔癢，毒惡之氣。用藥面燒熏，大能有益。</p>

<h2>治鼻衄方</h2>
<p>生地炭（三錢）　薄荷炭（三錢）　側柏炭（二錢）　蘄艾炭（二錢）</p>
<p>水煎代茶，頻頻飲之。</p>
<p>治努傷吐血衄血，痰中帶血，一切失血便血等症，皆可服之，大有奇功。或平素不善調攝，過食炙爆辛熱之物；或暴怒氣鬱，以致血脈逆行，經絡失度，見紅之症，並皆治之。</p>

<h2>鐵扇散</h2>
<p>象皮（五兩）　龍骨（五兩）　松香（十兩）　飛礬（十兩）　老松香（十兩）　寸白香（十兩）</p>
<p>共為細末。</p>
<p>治跌打損傷，或瘀血凝滯，以至刀傷出血，用此散敷之，所有外因之症，並皆治之，奇效。</p>

<h2>八寶救坤丸</h2>
<p>全當歸（四兩）　熟地（二兩，麩炒）　官粉（一兩五錢）　蒲黃（二兩）　乾薑（八錢）　黑豆（二兩，炒）　紅花（二兩）　廣木香（二兩）　益母草（一斤）　川芎（五錢，炒）　白芍（四兩，醋炙）　羌活（一兩五錢）</p>
<p>共為細末，合蜜為丸，重二錢，外加人參。</p>
<p>專治胎前產後，月經不調，乾血癆，赤白帶下，崩症及開花女兒癆等症，無不神效。每服一丸，當歸湯一錢送下。</p>

<h2>二香丸</h2>
<p>丁香（二十五粒）　木香（二錢五分）　蛇蛻（一條）　南瓜子（四小盅）　殭蠶（四小盅）　槍藥（四小盅）　百草霜（四小盅）　連翹（一兩）</p>
<p>共為細末。黃蠟為丸，如綠豆大。</p>
<p>夫翻脹之症，自古未有，讀書罕載，妙無盡矣。其病症俱由憂思過度，寒冷不節，飲食失調，氣血虛弱所致，種種不一。若不知治法，必致待斃而已，予每目睹心憫。今略舉端倪，惟達者知之。大約此等病症有百種不止，以此法治之，俱得全生。此藥專治老幼男子胸膈脹滿，肚腹痞塊，懶食不寐者，服此藥其效如神。每服七丸，引用大麥湯送下。忌魚腥、油膩、倭瓜、疙疸、芥菜、清茶、生冷之物。</p>

<h2>仙傳五香丸</h2>
<p>香附（二斤，醋炙）　五香脂（一斤）　黑醜（四兩）　白醜（四兩）</p>
<p>共為極細末，醋水為丸。</p>
<p>此藥專治消食、消積、消痞、消痰、消氣、消滯、消腫、消痛、消血、消痢、消蟲、消脹、消膈、消悶。每服一錢，薑湯送下，早晚各服之，無不神效。孕婦忌食。</p>

<h2>蟾酥錠</h2>
<p>雄黃（八兩）　硃砂（一兩）　蝸牛（二兩）　冰片（一錢）　麝香（五分）</p>
<p>共為細末，蟾酥為錠，銀硃為衣。</p>
<p>蓋謂癰疽者皆因氣血凝滯，陰陽相搏而成也，今誠修合此藥，能治一切癰疽發背，無名腫毒，對口疔瘡，諸般惡瘡，疼痛腫硬及一切蠍螫蛇咬，夏月毒蟲蜈蚣咬傷，濕氣疼痛，蛇帶火丹等疼痛不止者，俱用涼水磨化，重者用陳醋磨化，塗搽患處，立見奇效。</p>

<h2>千金保胎丸</h2>
<p>白朮（四兩，土炒）　熟地（四兩）　杜仲（四兩，薑汁炒）　當歸（二兩，酒炒）　續斷（二兩，醋炒）　阿膠（二兩，蛤粉炒）　香附米（二兩，四制）　益母草（二兩）　條芩（二兩，炒）　陳皮（一兩）　川芎（一兩）　艾葉（一兩）　砂仁（五錢，炒）</p>
<p>共為細末，棗肉為丸。空心服，每服二錢。</p>
<p>凡受孕三月而胎墜者，雖氣血不足，乃中衝脈有傷。中衝脈即陽明胃經，供應孕胎。至此時必須節飲食，節欲戒怒，並服此藥，庶免小產之患。此藥專治久慣胎滑，小產，三五個月胎元不固，腹痛經漏，或閃挫傷胎。功能補氣養血，保胎安娠。受娠之後，宜常服此藥，益氣助脾胃，不但無小產之患，即臨產亦易生也。</p>

<h2>黃連赴宴散</h2>
<p>黃連　黃芩　黃柏　山梔仁（各一錢）　細辛　乾薑（各三分）</p>
<p>共為細末，用米泔水漱口後，搽藥於患處。此藥專治咽喉腫痛，口舌生瘡，牙齒腫痛等症。</p>

<h2>文蛤散</h2>
<p>文蛤（一個，燒乾）　高鹼（一兩）</p>
<p>共為細末，用陳醋調敷腫處。</p>
<p>治癰疽諸毒，起初漫腫不作膿者，或毒熱流聚，瘡毒結腫，頑癬痔瘍等症。</p>

<h2>川槿皮散</h2>
<p>川槿皮（二錢）　輕粉（五錢）　斑蝥（七個）　大楓子（七個）</p>
<p>上為細末，用河井水一盅，煎半盅，露一宿，筆蘸塗之。</p>
<p>治一切風濕瘡瘍腫，乾溼疥瘡，風濕熱毒蘊結，皮膚諸般頑癬，癢痛難當等症。</p>

<h2>必效散</h2>
<p>石膏（一錢，煅）　枯礬（二錢）　雄黃（一錢）　輕粉（二錢）　川槿皮（三錢）　密陀僧（一錢）</p>
<p>共為細末，每用少許搽患處。</p>
<p>能治頑癬等症。</p>

<h2>妙貼散</h2>
<p>明淨硫黃（細末，一斤）　蕎麵（八兩）　白附子（細末，四兩）　白麵（八兩）</p>
<p>上硫黃、蕎麵、白麵三味，共合一處，用清水微拌，木器內壓成片，單紙包裹，風中陰乾，為極細末，用附子研勻，用染布青汁調敷面上。</p>
<p>此藥專治癬疥毒瘡等症，治之甚效。</p>

<h2>栝蔞散</h2>
<p>栝蔞根（一兩）　赤小豆（一兩）</p>
<p>共為細末，醋調敷患處。</p>
<p>此藥專治癬疥毒瘡等症，治之甚效。</p>

<h2>白川槿皮散</h2>
<p>白蘚皮（二錢，去心）　檳榔（二錢）　川槿皮（二錢，去木，酒洗）　雄黃（二錢）　水銀（二錢，入血內調勻）</p>
<p>共為細末，用黑牛血調藥，一日搽數十次。</p>
<p>此藥專治癬疥毒瘡等症，甚效。</p>

<h2>加味拔毒散</h2>
<p>赤小豆（二錢）　雄黃（五分）　南星（一錢，生）　白礬（二錢，生）　貝母（二錢，去心）</p>
<p>共為極細末，此藥專治結核腫硬色不變者，塗之。</p>

<h2>加味陰陽散</h2>
<p>黃連　乾薑　青黛　兒茶（各等分）</p>
<p>共為細末，每用少許搽患處，立效。</p>
<p>此散專治口舌生瘡等症。</p>

<h2>仙傳撥雲散</h2>
<p>爐甘石（黃連水制，一兩）　珍珠（二錢）　熊膽（五分，淨）　琥珀（五分）　冰片（一錢）　白丁香（水飛，三分）　硇砂（水飛，五釐）　硼砂（一分）　麝香（五釐）　雄黃（五釐）　乳香（五釐，去油）　沒藥（五釐，去油）</p>
<p>共為細末，重羅數次，磁罐盛之，用涼水蘸藥少許點之。</p>
<p>此藥治暴發火眼，紅絲赤脈，雲翳等症，治之甚效。</p>

<h2>秘傳回光撥雲散</h2>
<p>爐甘石（黃連水制過，一錢二分）　冰片（六分）　白丁香（水飛，六分）　熊膽（六分）　硼砂（四分）　雄黃（二分）　琥珀（一分）　麝香（五釐）　珍珠（五釐）　乳香（去油，三分）　沒藥（去油，四分）　輕粉（二錢）　硇砂（水飛，三分）</p>
<p>共為細末，重羅數次，磁罐盛之，用涼水蘸藥少許點之。</p>
<p>此藥治暴發火眼、紅絲赤腫、雲翳等症。</p>

<h2>神仙光明散</h2>
<p>爐甘石（黃連水炙過，五錢）　冰片（五分）　麝香（三分）</p>
<p>共為細末，重羅數次，磁罐盛之，用涼水蘸藥少許點之。治病與前同。</p>

<h2>癬藥方</h2>
<p>生柏油（四錢）　白蠟（二兩）　將柏油熬滾，白蠟溶化開。</p>
<p>治多年頑癬，諸藥熏、搽、洗不效者，用此藥即愈。</p>

<h2>牙疼藥捻</h2>
<p>珍珠　兒茶　琥珀　龍骨　乳香　沒藥　冰片　硼砂　牛黃　明雄黃　石膏（各等分）</p>
<p>上為細末，面打糊合一處做捻，塞牙縫內，自然消腫解毒止膿，生肌長肉。忌雞、魚、豬、肉、煙、椒、酒、甜等物。</p>
<p>此藥治牙齒腐爛，及骨槽風、多骨疽等症。</p>

<h2>頑癬必效散</h2>
<p>川槿皮（四兩）　輕粉（四錢）　雄黃（四錢）　百藥煎（四錢）</p>
<p>上為細末，用陰陽水調搽。</p>
<p>治多年頑癬，諸藥熏、搽、洗不效者，用之即愈。</p>

<h2>搽癬方</h2>
<p>枯礬（四錢）　潮腦（二錢）</p>
<p>上為細末，用好陳醋調勻，將患處抓破搽上即愈。</p>

<h2>漚子</h2>
<p>檀香（二兩）　沉香（一兩）　菊花（一兩）　滑石（一兩）　定粉（一兩）　紅棗肉　豬胰子（黃酒洗去油，一付）　赤包（一枚）　白蜜（八兩）</p>
<p>上用黃酒二大碗，煎熬數沸，濾去渣，入蜜再熬二三沸。</p>
<p>此藥專治面生黑䵟，或生小疙疸，或生痤痱、粉刺之類，並皮膚瘙癢。每清晨洗面，久久自愈。</p>

<h2>清胃搽牙散</h2>
<p>石膏（一兩，生用）　白芷（三錢）　青鹽（三錢）　熊膽（五分）　青黛（一錢）</p>
<p>上為極細末，每日早晚搽牙漱口。忌羊肉、甜物。</p>
<p>此散治咽喉口舌諸症，單雙乳蛾紅腫疼痛，滿口糜爛，湯水不下，口舌生瘡，瘟毒發頤，牙癰牙宣等症，敷之立見奇效。</p>

<h2>清胃抑火搽牙散</h2>
<p>石膏（五錢）　硼砂（一錢）　薄荷葉（五分）　檀香（三分）　冰片（五釐）</p>
<p>共為細末，不時搽之。</p>
<p>治病與清胃搽牙散同，功效略大。</p>

<h2>清胃散</h2>
<p>石膏（三錢）　硼砂（二錢）　胡黃連（二錢）　兒茶（一錢五分）　牛黃（一錢）　冰片（二分）</p>
<p>上為細末，搽患處。治病功效與前同。</p>

<h2>萬病無憂散</h2>
<p>香薷（二兩）　白扁豆（二兩，炒）　草果（一兩二錢）　黃連（一兩二錢，生）　滑石（一兩二錢）澤瀉（一兩二錢）　枳殼（八錢，炒）　木通（八錢）　厚朴（八錢）　陳皮（八錢）　赤茯苓（八錢）　車前子（二錢）　豬苓（八錢）　縮砂（八錢，炒）　白朮（五錢六分，炒）　茴香（五錢五分，炒）　木香（三錢五分）　甘草（二錢五分，生）</p>
<p>共為細末，每服二錢，白滾水或清茶調服。</p>
<p>治夏令暑濕不正之氣，肚腹疼痛，霍亂泄瀉等症。</p>

<h2>洗藥荊葉散</h2>
<p>頑荊葉（二錢）　白芷（一錢）　細辛（一錢，去苗）　蔓荊子（一錢）　桂心（二錢）　川芎（一錢）丁皮（一錢）　防風（一錢，去蘆）　羌活（一錢）</p>
<p>上作一劑，入鹽二錢，連根蔥三莖，水五碗，煎取四碗去渣，將藥水燙洗腫痛處，在避風處洗之。</p>
<p>治從高墜下，及一切傷折筋骨，瘀血結聚疼痛之病。</p>

<h2>洗藥方</h2>
<p>川椒（二兩）　茵陳（七兩）　槐枝（六兩）　端午艾（八分）　綠豆（一小升）　生蜂蜜（一釐）</p>
<p>用水二大柳罐，滾數沸，濾去渣。</p>
<p>此藥專治濕氣下注，二陰搔癢腫痛等症。</p>

<h2>碧雲散</h2>
<p>川芎（一錢）　青黛（一錢）　鵝兒不食草（二錢）</p>
<p>用涼水噙口中，將前藥吹鼻內。</p>
<p>此藥治上焦風熱，頭痛傷目等症。</p>

<h2>清熱散風湯</h2>
<p>荊芥（一錢）　防風（一錢）　苦參（三錢）　蛇床子（一錢）　朴硝（一錢）</p>
<p>用水以絲綿包裹，不拘時洗。</p>
<p>治肝脾二經濕熱，外受邪襲於皮膚，鬱於肺經，以致遍身生瘡，搔癢抓破時津汁水浸淫成片，服之神效。</p>

<h2>三聖散</h2>
<p>川芎　細辛　雄黃（各等分）</p>
<p>上為細末，以絲綿包裹。</p>
<p>此藥專治一切風濕熱毒，鬱結腫痛，濕痰流注，肌膚赤腫。能清熱散風，消腫解毒，用之神效。</p>

<h2>生肌珍珠散</h2>
<p>珍珠（豆腐煮，二錢）　輕粉（六分）　石膏（一錢）　冰片（一分二釐）</p>
<p>共為極細末。</p>
<p>此藥專治癰疽潰後瘡口不收，敷之即能消腫定痛，收口生肌。</p>

<h2>理氣健脾丸</h2>
<p>白朮（十一斤四兩）　當歸（十一斤四兩）　蓮肉（三斤十二兩）　陳皮（五斤十兩）　枳實（二斤十三兩）　茯苓（五斤十兩）　香附（三斤十二兩）　桔梗（二斤十三兩）　半夏（三斤十二兩）　神麯（四斤十一兩）　甘草（三斤十二兩）　山楂（三斤十二兩）　山藥（三斤十二兩）　砂仁（三斤十二兩）</p>
<p>治男婦一切風逆不和，脾胃虛弱，飲食不甜，四肢倦怠，大便不調，胸膈不開，兩脅臌脹，倒飽嘈雜，嘔吐痰水，食積氣滿，鬱結不散，或憂思傷脾，氣怒傷肝，以致血氣不和，變生百病，皆因脾虛氣逆之由也。此藥常服順氣開胃，健脾和中，平和王道之藥，屢見奇效，妙難盡述。每服一錢或錢半，早晚用白滾水送下，忌氣惱憂思，節減飲食。</p>

<h2>固齒秘方</h2>
<p>生大黃（一兩）　熟大黃（一兩）　生石膏（一兩）　熟石膏（一兩）　骨碎補（一兩）　銀杜仲（一兩）　青鹽（一兩）　食鹽（一兩）　明礬（五錢）　枯礬（五錢）　當歸（五錢）</p>
<p>上為細末，每早起先以此散搽牙根，然後淨面，淨畢用冷水嗽吐。</p>

<h2>跌打損傷神效方</h2>
<p>白附子（二十兩）　白芷　天麻　生南星　防風　羌活（各一兩）</p>
<p>共為細末，敷破處，未破水調上，重者並服數錢。</p>

<h2>燙火油傷方</h2>
<p>槐條（兩許）　香油炸枯，去條，入宮粉二兩，漳丹、松香少許，調勻敷上。</p>

<h2>附雜方</h2>

<h3>結骨丹方</h3>
<p>大黃（二錢）　當歸（二錢）　自然銅（二錢）　乳香（二錢）　沒藥（二錢）　川斷（二錢）　硼砂（二錢）　旱三七（一錢）　硃砂（二錢）　土鱉（二錢）　好血竭（二錢）　故紙（二錢）　五臺麝（五錢）　金石斛　金蟬（二錢）　藏紅花（一錢）</p>
<p>共為細末，每服二錢，元酒送下，或童便亦可。</p>

<h3>治刀傷良方</h3>
<p>豬苦膽（十個）　陳乾醋（一斤）　生石灰（半斤）　乳香（五錢）　沒藥（五錢）　兒茶（五錢）　血竭（五錢）　冰片（二錢）　麝香（不拘）　旱三七（五錢）</p>
<p>此藥先將石灰研細，羅去渣，即將下七味研細合用，盛在磁器內，勿使泄氣。</p>

<h3>千金獨聖丸</h3>
<p>（專治疔毒）</p>
<p>馬前子，以陰陽瓦焙乾存性用。</p>
<p>馬前子一兩，開水煮去皮，香油炸紫色為度。每兩用甘草二錢，糯米麵為丸，雄黃為衣，如粟米大，每服一二十丸皆可，忌蔥、椒、醋。</p>
<p>治一切瘡毒，槐花送下；眼疾，白菊花送下；左癱右瘓，五加皮、牛膝湯送下；流火症，葡萄湯送下；小兒痞疾，君子湯送下；腿疼，杜仲、牛膝、破故紙為引；男女吐血，水磨京墨送下；紅痢甘草，白痢薑湯送下；蠱積，山楂、石膏湯送下；吹乳，通、甘草送下；兩脅膨脹，干酒送下；流痰火，遍身走痛，牛膝搗汁，元酒送下；大便下血，槐花、枯礬送下；瘧疾，雄黃、甘草送下；解藥毒，芥葉搗汁冷服，冬用甘草；上焦火，赤眼腫痛，喉閉口瘡，噎食反胃，虛火勞疾，一切熱症，俱用清茶送下。</p>

<h3>發表丸</h3>
<p>治一切傷寒無汗，頭疼發熱，身痛口乾。</p>
<p>甘草　麻黃　升麻　葛根（各四兩）　蒼朮（二兩）</p>
<p>為末，煉蜜為丸，肥皂大。每服一丸，生綠豆湯送下。如三日外再加一丸，加元酒一盅。</p>

<h3>治乾血勞</h3>
<p>紅花（一兩）　白米（一兩）　甘草（一兩）　紅豆（一兩）　蘇木（一兩）　白糖（一兩）　芝麻（一兩）　綠豆（一兩）　紅荊條（一兩）　核桃仁（一兩）　茶葉（一兩）　青銅錢（七個）</p>
<p>分為三服，一晚一服，水四大盅，煎八分溫服，出汗為度。忌無鱗魚。此方治好多人，不可輕視。</p>

<h3>治心頭痛</h3>
<p>烏梅（一個）　棗（二個）　杏仁（七個）</p>
<p>共為一處搗爛，男子用酒，女子用醋送下，永不害心疼。</p>

<h3>治疔瘡丸</h3>
<p>雄黃（三錢）　大黃（三錢）　巴豆（三錢，去油、皮、心）</p>
<p>共搗如泥，醋麵糊為丸，如鳳仙子，每服二十一丸。如不省人事，以二十三丸，熱開水化開，掀口角灌之，瀉二三次，涼水止。如不辨此症，以黑黃豆令病人嚼，不知味即是此症。</p>

<h3>治婦人血經閉方</h3>
<p>大黃　薑黃（各五兩）</p>
<p>共為細末，以豬膽為丸，如梧桐子大。每服一錢，空心滾水送下。服藥四五服，其熱腫退消，即復通經也。</p>

<h3>通經丸方</h3>
<p>黑牽牛　神麯（各等分）</p>
<p>共為細末為丸，如梧桐子大，每服二錢，空心好黃酒送下。</p>

<h3>益元散</h3>
<p>（治夏天暑熱者）</p>
<p>飛淨滑石（二兩）　粉甘草（三錢）　硃砂（二錢）</p>
<p>共研細末，用井水沖服，或用開水冰浸涼喝，加白糖或加蜜，喝之神效。每服一兩。</p>

<h3>仙傳催生方</h3>
<p>全當歸（八錢）　川芎（五錢）　白芷（一錢五分）　枳殼（八錢）</p>
<p>水一盅，煎六分，溫服。</p>

<h3>八寶接骨丹</h3>
<p>血竭　乳香　沒藥　兒茶　陳皮　鬱金（各三錢）　麝香（三分）　白公雞（一隻，去爪嘴）</p>
<p>上藥為細末，再將雞連毛、五臟，剁爛入藥，摻勻，用破襪底攤上，貼患處，竹板逼之，下三時刻即起。</p>

<h3>治氣迷心方</h3>
<p>甘遂　硃砂（各三錢）</p>
<p>共為細末，用豬心血為丸，蒸熟，再用豬心熬湯送下。</p>

<h3>平安如意丹</h3>
<p>蒼朮（三錢）　天麻（三錢二分，蒸）　蟾酥（九分，酒化）　麻黃（三錢，去根節）　粉草（二錢四分）　明雄（三錢六分，水飛）　麝香（三分，後入）　川軍（六錢）</p>
<p>共為細末，江米糊為丸，萊菔子大。</p>
<p>一治寒暑痧脹肚疼，頭暈眼黑，用七丸放舌下，候舌微麻咽之。</p>
<p>——治寒暑甚重者，絞腸腹痛，心中閉悶，不省人事。先將五丸研細末，吹鼻內，再七丸放舌下，吞之即愈。</p>
<p>——治走馬牙疳，涼調服。</p>
<p>——治瘧疾，研細末，吹鼻中，不愈再服七丸。</p>
<p>——治痢疾，將藥放舌下化服。</p>
<p>——治小兒急慢驚風，痰涎湧盛，用七丸為末，涼水調服。</p>

<h3>避瘟丹</h3>
<p>此藥燒之能令瘟疫不染，空房內燒之可避穢氣。</p>
<p>乳香　南蒼朮　北細辛　生甘草　川芎　降真香（各一兩）　一方加白檀香（一兩）</p>
<p>共為細末，棗肉為丸，如芡實大。</p>

<h3>治小兒出痘後痘落眼中方</h3>
<p>牛身上蝨子一個，取血點之即愈。</p>

<h3>又方</h3>
<p>用雄雞冠血和銀硃少許，以銀簪點眼角，三次即愈。</p>

<h3>治齒縫出血不止方</h3>
<p>竹茹醋浸一宿，含之，三次即好。</p>

<h3>治暴急霍亂吐瀉方</h3>
<p>陳皮（五錢）　藿香（五錢）　黃土澄水二盅，煎一盅，服之神效。</p>

<h3>治噎膈開關百發百中方</h3>
<p>雪梨（一枚）　巴豆（七個，去殼）　麝香（三分）</p>
<p>和搗爛，徐徐吞之。</p>

<h3>治大頭瘟頸臉皆腫方</h3>
<p>用福建靛花三錢，燒酒一盅，雞蛋清一個，攪勻吃下，神效。</p>

<h3>治蚰蜒入耳方</h3>
<p>用貓尿不拘多少，灌入耳內即出。</p>
<p>如取貓尿，蒜搗爛抹貓鼻上即出。諸蟲入耳，並皆治之。</p>

<h3>治男女黃病方</h3>
<p>紅棗（三兩，煮，去皮核）　真木耳（二兩）</p>
<p>搗爛做丸，每服三錢，茵陳五錢煎湯送下，五服即愈。</p>

<h3>治手足凍瘡方</h3>
<p>蟹殼燒灰，麻油調擦，先用蘿蔔、茶、橘皮煎湯熏洗之，即愈。</p>

<h3>治小便出血方</h3>
<p>淡豆豉一撮，煎湯服之。</p>

<h1>卷三</h1>

<h2>益母丸</h2>
<p>益母草（一斤分四分，每分用老酒、鹽水、醋、童便制）　琥珀　乾薑　木香（各一兩）　人參砂仁　延胡索　黃芩　阿膠（蛤粉炒）　白茯神　丹皮（各二兩，酒洗）　香附（童便炙）　白芍　川芎（各四兩）　當歸　生地（各八兩，酒炙）</p>
<p>共為細末，煉蜜為丸，重二錢，蠟皮封固。</p>
<p>專治產後頭暈眼黑，腰痛耳鳴，敗血過多；或惡露不行，臍腹疼痛；或榮衛虛損，過食生冷，停滯不化；或中風傷寒，頭痛口苦，遍身拘痛；及七情相干，以致發熱惡寒，自汗口乾，心煩喘嗽，兩脅脹悶，飲食少進，並皆治之。每服一丸，溫酒化服，或淡薑湯亦可。此藥大能均氣活血，產後諸般難症。</p>

<h2>回生丹</h2>
<p>大黃末一斤（醋四兩，紅花酒四斤）　當歸　川芎　熟地　白茯苓　人參　香附　元胡　烏藥桃仁　蒲黃　牛膝　白芍　陳皮　甘草　木香　地榆（各一兩）　乳香　靈脂　良薑　羌活萸肉　青皮　白朮　木瓜（各五錢）</p>
<p>上為細末，合前大黃加煉蜜為丸，如彈子大，蠟皮封固。夫妊婦失宜，或勞役動胎，漏血不安；或子宮虛寒，久不成孕；或痿燥不長，過期不生，日月雖滿，轉動無力；或致損墜，產時未至，惡露先下，胞絡枯燥，致令臨產連日不產；子死腹中，腹上冰冷，口唇紫黑，冷沫自出；惡露上攻，昏悶不省，促促自汗；瘀血未盡，臍腹冷痛，寒熱往來；或因虛勞，心怯盜汗，飲食不進漸成勞瘵。臨產常服，壯氣養胎，易生順產。凡產後瘀血積滯，敗血流入臟腑，變症多端，但用此藥無失。用熱黃酒調化服。產後頭痛身熱有汗，用蔥、薑、桂枝三分，煎湯化服。產後無乳，加花粉、歸尾、山甲、黃連各三分，入酒內滾熱化一丸服。</p>

<h2>保安萬靈丹</h2>
<p>蒼朮（八錢，米泔水浸，炒）　全蠍（洗去鹽性，曬乾）　石斛　天麻　當歸　川芎　荊芥　防風　羌活　細辛　麻黃　何首烏　川烏（湯泡，去皮尖）　草烏（湯泡，去皮尖）　甘草　硃砂（各一錢）　雄黃（六分）</p>
<p>共為極細末。</p>
<p>專治癰疽疔毒，一切無名腫毒，疼痛紅腫，無頭惡瘡，噁心風濕，濕痰流注，及偏正頭疼，破傷風腫，牙關緊閉，不省人事，抽搐如風，並治四時瘟疫傳染，傷風傷寒，頭疼憎寒壯熱等症。每服一丸，甚者服二丸，薑湯送下。瘡並破傷風，用老酒化服。以上俱發汗。</p>

<h2>梅蘇丸</h2>
<p>盆糖（二十四兩）　烏梅肉（一兩）　乾葛（一錢）　薄荷（五分）　紫蘇葉（五分）　白檀香（二錢）</p>
<p>共為細末，滴水為丸，如芡實大。</p>
<p>專治三焦積熱，五臟伏火，心中煩悶，口舌乾燥，咽喉不利，時常作渴，或飲食過度，或過用煎炒，或途行勞倦，酷日炎炎，燥熱生火，以致津液短少，膈熱煩躁，頭目不清，心神不爽。此藥消煩渴，生津液，解酒毒，清頭目，潤咽喉，定心慌，仲勞倦，及出路遠行，暑熱作渴，茶水不便，尤宜多備。每服一二粒，止渴爽神，除煩清暑，發表解肌，涼心潤肺，寧嗽清痰。</p>

<h2>豨薟丸</h2>
<p>豨薟草（一斤，蜜、酒拌，蒸九，曬乾，為細末）</p>
<p>煉蜜為丸，如梧桐子大。</p>
<p>表略云，餐食飲水，可作充腸之饌；餌松含柏，亦成救病之功。是以療肌者不在於珍羞，愈病者何妨於異術。倘獲濟世之方，聊陳鄙物之邪。因換龍興觀，掘得一碑，內說修養氣術，並藥方二件。依方覓採，其草有異，金稜銀絲，素莖枝荄，對節生枝，採合宜用。藥本尋常，製法頗繁，但能久服，效有殊功。服至百服，筋骨輕健，耳目聰明。服至千服，精神倍長，語言清亮，齒根堅固，黑髮烏須。又能益元氣，療諸風，強四肢，除麻痹，神效。每服一丸，早晚白水送下。</p>

<h2>龜齡集</h2>
<p>熟地（酒浸一宿，切片，瓦上焙乾，為末，能生精補腎，六錢）　生地（六錢，乳汁浸一宿，焙乾為末，能生血清心）　天門冬（去心，浸一宿，焙乾為末，能潤肺清火）　當歸（五錢，乳汁浸一宿，焙乾為末，能活血生精）　肉蓯蓉（六錢五分，河水浸一宿，麩炒乾為末，能補筋骨，滋腎水）　川牛膝（四錢，酒浸，曬乾為末，生精助陽）　枸杞子（五錢，酒洗淨，焙乾為末，能補髓生）　杜仲（二錢五分，麩炒乾，去絲，童便浸一宿，焙乾為末，強筋骨，補腎水）　破故紙（一錢，酒浸一宿，焙乾為末，補虛助陽）　鎖陽（三錢五分，燒酒浸七次，為末，補虛益氣）　青鹽（三錢，酥炒乾為末，補骨髓）　甘菊花（二錢五分，童便浸一宿，炒乾為末，明目生精）　地骨皮（四錢，蜜浸一宿，曬乾為末，補虛損）　白茯苓（五錢，乳汁浸，曬乾為末，能益氣）　大附子（二錢五分，蜜、童便、生甘草和水煮一炷香，去皮去臍，曬乾為末）　小丁香（二錢五分，同川椒炒一炷香，去椒，研爛為末，養胃）　縮砂仁（二錢五分，薑汁炒乾，為末，和胃）　蓮肉（六錢，溫水泡，去皮心，曬乾為末，養）　細辛（一錢，醋浸一宿，曬乾，通竅）　黑芝麻（五錢，乳汁炒熟，為末，潤肺）　旱蓮草（五錢，酒洗淨，曬乾為末，止血補髓）　槐角子（六錢五分，酒煮透，焙乾為末，明目）　辰砂（五錢，用蕎麥麵包住，蒸熟去面為末，飛過，安心，補腎水）　鹿茸（一兩，酥炙，研去油為末，補心血）　甘草（六錢，蜜水浸，曬乾炙黃，為末，和中降火，壯筋骨）　山甲（八錢，燒酒浸一宿，曬乾，酥炙為末，補肺）　石燕子（七錢，醋煅七次，薑汁煅七次，曬乾為末，飛過，補腎）　小雀腦（三錢，每個入倭硫黃一錢，攤在紙上和勻，曬乾為末，助陽補虛損）　淫羊藿（二錢，乳汁拌，曬乾為末，生精髓）　海馬（一兩，酥炙黃為末，補虛助陽）　鳳仙花子（二錢五分，井花水浸一宿，焙乾為末，透骨通陽）　紫梢花（四錢五分，河水浸一宿，焙乾為末，補虛助陽）　紅蜻蜓（五十對，去頭、足、翅，曬乾為末）</p>
<p>又將各藥如法制，選吉日良辰，入淨室修合一處。忌雞、犬、孝服、婦人見之。用人乳、醋、井水、河水、燒酒煮，東酒、童便各一酒盅和勻，放入銀盒內，以黃紙封口，再用鹽泥封之，然後鑄上鉛蓋入缸內。灰火內行三方養之，早寅午戌令成火局，晚申子辰令成水局。每火一兩六錢，相其金候，可加三兩。以寅至戌更換。換時以水滴鉛珠響為度，不可大熱。溫養至三十五日取出，入井水浸七日，以去火毒。然後開視，以紫色為度。每服五釐，黃酒送下，渾身燥熱，百竅通和，丹田微緩，萎陽立興。</p>

<h2>造龜齡酒方</h2>
<p>將前三十三味藥三料，共成粗末，用西紙包衣，外用黃絹袋盛之，扎口。用燒酒三十斤，江米窩兒白酒二十斤，入藥袋於壇底，以西紙細布封壇口，用綠豆麵周圍封固，黃土鹽水和成泥封口。曬，三伏天東西南北周轉曬之。若要急用，將桑木柴煮三炷香，取出，入土內埋七日。若土王用事，下入井水內浸三日取用。</p>

<h2>梨膏方</h2>
<p>嫩藕（一斤八兩，取汁用）　秋梨（二十個，去皮核，取汁）　紅棗肉（八兩，煮，取汁用）　冰糖（二斤）　盆糖（二斤）　麥冬（二兩，煎汁用）　川貝母（二兩，煎汁用）　薄荷（二兩，煎汁用）　白蜜（一兩五錢）</p>
<p>上將冰糖、盆糖、白蜜五斤八兩化開，濾去渣，熬成膏餅。此膏能清金降火，止嗽化痰，解渴除煩，添津潤燥；或陰虛火旺，口燥咽乾，咳久嗽血，吐血咯血，痰中帶血，肺經虛損，悉能治之。每用五六茶匙，早晚滾白水沖服。</p>

<h2>伏暑丹</h2>
<p>厚朴（七錢）　蘇葉（二兩）　香薷（二兩）　枳殼（一兩二錢）　扁豆（一兩二錢）　赤苓（一兩）　羌活（七錢）　藿香（一兩二錢）　姜連（七錢）　甘草（三錢）</p>
<p>共為細末，煉蜜為丸，每丸重二錢五分。</p>
<p>此丹專治暑濕傷脾，霍亂吐瀉。</p>

<h2>八寶坤順丹</h2>
<p>人參（二錢五分）　益母草（三錢，子、梗、葉全用，忌鐵器）　全當歸（五錢，酒洗）　川芎（五錢，姜炒）　白芍（五錢，酒炒）　白朮（五錢，土炒）　茯苓（五錢，人乳拌炒）　黃芩（五錢，酒炒）　縮砂（一錢五分，炒）　川牛膝（二錢五分，炒）　烏藥（五錢，微炒）　阿膠（二錢五分，蛤粉炒）　生地（五錢，薑汁炒）　香附（五錢，童便浸，春三夏一秋五）　橘紅（鹽水炒）　熟地（各五錢，薑汁炒）　紫蘇（二錢五分，子梗全用）　廣木香（二錢五分，炒）　琥珀（二錢五分）　沉香（五錢）　甘草（一錢五分，微炒）</p>
<p>用水調側柏葉入鍋中，安琥珀於內，浸水煮巳至未時，取起另研。</p>
<p>共為細末，煉蜜為丸，每丸重二錢五分，用大赤金為衣。</p>
<p>專治婦人百病，屢試屢驗，真有起死回生之力，不可輕視，妙難盡述。每服一丸，隨病用引。</p>
<p>經水先期，知母、白芍湯下；經水後期，當歸、地黃湯下；經行腰膝疼痛，防風、羌活湯下；經閉，桃仁、紅花湯下；赤白帶下，阿膠、艾葉湯下；胎動，白朮、條芩湯下；胎漏，阿膠湯下；胎前腹痛，香附湯下；臨產艱難，葵子湯下；交骨不開，龜板湯下；胞衣不下，童便、老酒湯下；橫生逆產，子死腹中，炒鹽湯下；產後惡露不行，臍腹刺痛，童便、益母草湯下；產後兒枕疼痛，炒山楂湯下；產後崩漏，糯米湯下；嘔吐，薑湯下；虛勞喘嗽，杏仁、桑皮湯下；泄瀉，米湯下；禁口諸痢，訶子、肉蔻湯下。服藥後忌煎炒油膩。</p>

<h2>胎產金丹</h2>
<p>當歸（一兩，酒洗）　茯苓（一兩）　白朮（一兩，土炒）　生地（一兩，酒煮）　白薇（一兩）　元胡（一兩）　桂心（六錢）　蘄艾（一兩）　藁本（一兩）　沉香（三錢）　甘草（一兩，炒）　赤石脂（一兩）　川芎（一兩）　丹皮（一兩）　沒藥（六錢）　鱉甲（一兩）　益母草（一兩）　香附（二兩）五味子（五錢）</p>
<p>上藥共合一處，將紫河車一具，放長流水浸三日，取出入鉛球內，入白酒二斤，清水一碗，灌滿，以蠟封球口嚴密，外用炒鍋盛水，將球懸於煤火，煮二日，兩邊為度，取出紫河車，黃白共汁，俱搗群藥內，拌勻曬乾，研極細末，煉蜜為丸，每丸重二錢，硃砂為衣。專治胎前產後一切危急諸症。每服一丸，臨產之前米湯化服一丸，助精神，壯氣力，易於分娩。</p>
<p>——治產後，童便、老酒化服一丸，神清體健，無血暈悶亂之患。</p>
<p>——行經後，當歸湯化服二三丸，自然受孕安穩。</p>
<p>——懷孕之後，用焦白芍、條芩湯化服二三丸，能安胎。</p>
<p>——屢經小產，不受孕育，當歸、熟地湯化服二三丸，永無墜胎之患。</p>
<p>——胎動不安，白蓮瓣化服一丸。</p>
<p>——勞役墜損，小米湯化服一丸。</p>
<p>——胎漏下血，藕節、棕炭湯化服一丸。</p>
<p>——妊娠脾胃虛弱，中氣不足，人參煎湯化服一丸。</p>
<p>——妊娠腹痛脹滿，木香磨水化服一丸。</p>
<p>——妊娠腰腿痠痛，桑寄生湯化服一丸。</p>
<p>——產後兒枕痛，用山楂、好酒、黑糖化服一丸。</p>
<p>——橫生逆產，子死腹中，當歸、川芎化服一丸。</p>
<p>——產後乳食不行，老酒、當歸、山甲湯化服一丸。</p>
<p>——胞衣不下，紅花、益母草湯化服一丸。</p>
<p>——初產交骨不開，龜板湯化服。</p>
<p>——妊娠轉胞，小便不通，琥珀磨水化服。</p>
<p>——妊娠子癇抽痛，鉤藤湯化服。</p>
<p>——其餘經脈不調，月事參差，有餘不足，諸虛百損，癥瘕積塊，乾血勞傷，子宮虛冷，血海枯竭，一切婦女百損病症，俱用老酒化服。藥後節飲食，宜避風寒、氣惱，謹慎調理。</p>

<h2>珍珠散</h2>
<p>官粉（八錢）　珠子（三錢）　冰片（八分）</p>
<p>共為極細末。</p>
<p>專治一切瘡毒潰破之後，腐肉不退，肌肉不生，毒氣不盡，疼痛難忍。用藥敷於患處，止疼生肌。如不止疼退腐，是氣血兩虧，須服八珍湯，再上此藥，數日自愈。</p>

<h2>羌活正氣丸</h2>
<p>羌活（二兩）　藿香（二兩二錢）　蘇葉（八錢）　陳皮（八錢）　厚朴（八錢）　半夏（八錢，炙）　白朮（八錢，土炒）　茯苓（八錢）　桔梗（八錢）　白芷（八錢）　檀香（二兩）　降香（三兩）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此丸治暑濕傷脾，霍亂吐瀉。</p>

<h2>清瘟解毒丸</h2>
<p>黃芩（二兩）　元參（三兩）　桔梗（二兩）　陳皮（二兩）　黃連（一兩五錢）　升麻（三兩）　馬勃（一兩）　薄荷（一兩）　牛蒡（一兩五錢）　柴胡（一兩）　板藍根（一兩五錢）　連翹（二兩）　姜蠶（二兩）　人中黃（一兩）　炒梔（二兩）　豆豉（二兩，淡）　犀角（一兩）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>專治四時不正，瘟疫傷寒，頭痛心熱，脊強脅脹，口苦無味，心煩嘔吐，不思飲食，遍身疼痛，憎寒壯熱，咽喉腫痛，咳嗽痰喘，夜臥不安，或感冒傷風，鼻流清涕，偏正頭風，麻木不仁，山嵐瘴氣。每服一丸，淡薑湯送下。溫熱風毒，疥癬瘡毒等症，俱用白湯送下。</p>

<h2>五福丹</h2>
<p>青黛（三錢）　牛蒡（三錢，炒）　犀角（一錢）　連翹（五錢）　桔梗（三錢）　薄荷（二錢）　小生地（五錢）　元參（五錢）　赤苓（四錢）　甘草（一錢五分）</p>
<p>共為細末，煉蜜為丸，如綠豆大。</p>
<p>此丹專治小兒胎毒內熱，疹痘餘毒不淨。</p>

<h2>神效清心丸</h2>
<p>牛黃（二兩）　寸香（一兩）　白芍（一兩五錢）　麥冬（一兩五錢）　桔梗（一兩三錢）　茯苓（一兩二錢）　羚羊（一兩）　冰片（一兩）　當歸（一兩五錢）　杏仁（一兩二錢）　白朮（一兩五錢）　川芎（一兩二錢）　阿膠（一兩七錢五分）　犀角（二兩）　甘草（五錢）　防風（一兩五錢）　柴胡（一兩二錢）　肉桂（一兩七錢五分）　神麯（一兩五錢）　蒲黃（一兩五錢）　山藥（七錢）　人參（一兩五錢）　雄黃（八錢）　黃芩（一兩五錢）　大豆（黃卷，二兩七錢）　炮姜（七錢五分）　白朮（七錢五分）　大赤金一千二百張</p>
<p>共為細末，蜜丸，每丸重四分。</p>
<p>此藥能治卒然中風，不省人事，痰涎壅塞，精神昏憒，言語蹇澀，口眼歪斜，手足不遂，氣鬱挾食，上關下隔，中風不通，火犯陽經，咽喉閉塞，上焦風熱，唇舌乾燥，氣凝血結，腫毒等症。</p>

<h2>接骨膏</h2>
<p>生地（四錢）　文蛤（二錢五分）　香附（二錢八分）　大戟（四錢）　芫花（二錢八分）　甘遂（八錢）　蜈蚣（四條）　巴豆（三錢三分）　三稜（四錢）　全蠍（二錢八分）　蛇蛻（二錢）　麻黃（三錢二分）　大黃（四錢）　川烏（四錢）　草烏（四錢）　黃柏（二錢八分）　檳榔（二錢二分）　桃仁（二錢八分）　山甲（二錢八分）　牽牛（二錢八分）　防風（二錢八分）　川薑（三錢二分）　皂角（三錢二分）　木鱉（四錢）　黑參　獨活　川厚朴　川連　莪朮　枳實　細辛　當歸　蓖麻香油（斤半）　陀僧（不拘多少）</p>
<p>此藥專治男婦左癱右瘓，口眼歪斜，半身不遂，下部痿痹，及打破傷風，暗風等症。並能發汗疏風，並治久患腿疼，遍身或有紅腫風塊，或骨節疼痛，一切風進損傷等症，無不神效。</p>

<h2>一捻金</h2>
<p>黑醜（一錢）　白醜（一錢）　檳榔（一錢）　大黃（一錢）　硃砂（五分）　赤金（一張）　共為細末。</p>
<p>專治小兒一切風痰壅塞，口吐涎沫，胸高肺脹，喘滿氣促，咳嗽面黃，兩脅扇動，陷下作坑，癲癇發抽，急驚上視，鼻竅開張，精神煩亂，聲啞不鳴，痰涎壅盛，夜臥驚悸，發渴潮熱，肚腹膨脹，不思飲食等症。每服四五分，量大小用之，引蜂蜜少許，無根水調服。</p>

<h2>平安丹</h2>
<p>白蔻（一兩）　草蔻（一兩）　紅蔻（一兩）　肉蔻（一兩）　神麯（二兩）　沉香（一兩二錢）　木香（一兩）　檀香（一兩二錢）　丁香（一兩）　山楂（二兩，炒焦）　厚朴（二兩，炙）　橘皮（二兩）甘草（二兩）　蒼朮（二兩，炒）　麥芽（二兩，炒）　枳實（一兩二錢，炒）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>此藥專治心胃疼痛，中氣中寒，水停心下，嘔噦噁心，吐食吐水，胸膈痞滿，噯氣嘈雜，惡食吞酸，少腹膨脹，或飲食不香，噎塞倒飽，大便泄瀉，腸胃不和，一切等症，並皆治之。如患前症，每服一丸，薑湯送，用白滾水亦可。</p>

<h2>觀音救苦回生丹</h2>
<p>香附（三斤）　霜桑葉（一斤）　川芎（四兩）　全當歸（二兩）　白扁豆（二兩）　茯神（二兩）　沉香（五錢）　懷山藥（二兩）　藏紅花（三兩）</p>
<p>此丹所治之症、引方列後：</p>
<p>——五勞七傷，諸虛百損，一切淋症，引用大生地、沙參、雲苓、半夏（各一錢），煎湯下。</p>
<p>——左癱右瘓，口眼歪斜，痛風痰厥，引用白芥子、廣陳皮、大生地、木瓜（各一錢），礞石（五錢）湯下。</p>
<p>——氣噎、氣膈、酒膈，氣滯不舒，引用木香、杏仁、條芩、白朮（各一錢）湯下。</p>
<p>——偏正頭風，一切頭痛，引用防風、宣木瓜、青皮（各一錢）湯下。</p>
<p>——一切咽喉十八種之症，引用葛花、連翹、麥冬、小生地（各一錢）湯下。</p>
<p>——單雙腹脹膨悶，及蟲症，引用茵陳、腹皮、澤瀉（各一錢）　水蔥（三錢）湯下。</p>
<p>——肝氣不舒，胃氣不和，反胃作嘔，引用條芩、白朮、鬱金（各二兩）湯下。</p>
<p>——脅滿串氣、疝氣、肝氣下串，引用膽草、蔞仁、木香、大熟地（各一錢）、砂仁（五分）湯下。</p>
<p>——傷寒虛症，陽狂譫語，不汗，引用蒼朮、蘇葉、小生地（各一錢）、牛蒡（二錢）、麻仁（三錢）湯下。</p>
<p>——便血、吐血、鼻衄，引用白茯苓、荷葉灰（各二錢）湯下。</p>
<p>——諸般咳嗽痰喘，肺熱肺虛，引用梔子、百合、黃芩（各一錢）、紅棗（六分）湯下。</p>
<p>——瀉肚白紅痢疾，引用白茯苓、黃柏（各一錢）、大生地（二錢）湯下。</p>
<p>——腹內疼痛，一切食寒疼痛，引用枳實、木瓜、白芍、焦三仙（各一錢五分）湯下。</p>
<p>——心口疼痛，灣水諸般水引用。腹內作脹，引用大腹皮、木香、茵陳、半夏（各一錢）湯下。</p>
<p>——大便不通，引用黃柏（三分）、　大黃（二分）、　大生地（一錢）湯下。</p>
<p>——婦人經血不調，氣血不通，引用全歸、紅花、陳皮、元參（各一錢）湯下。</p>
<p>——婦人諸般各症，引用全歸、砂仁、蔞仁（各一錢）、紅花（一錢）湯下。</p>
<p>——小兒急慢驚風，一切內熱存食存乳，引用羌活、鉤藤（各一錢）、活蠍、蟬蛻湯下。</p>
<p>——小兒食水不調，腹痛，夜啼，發燒，引用焦三仙、神麯、遠志（各一錢）湯下。</p>
<p>此丹討去，誠心服之，勿經婦人之手。大人每服二丸，小兒每服一丸。如無力辦引藥者，可用陰陽水送下。</p>

<h2>萬應錠方</h2>
<p>胡黃連（一斤半）　黃連（一斤半）　牛黃（五錢）　兒茶（一斤半）　熊膽（一兩）　冰片（五錢）　麝香（五錢）　徽墨（一斤）　牛乳（八兩）</p>
<p>——治中風痰火，半身不遂，喉閉乳蛾，牙疳瘟疹，傷寒中暑，痢疾霍亂，血熱便血，瘟毒發黃，小兒痘疹驚風，婦女經期不調等症。大人每服四五錢，小兒每服二三分，俱用涼水送。</p>
<p>——治疔毒攻心，瘧疾牙疼。</p>
<p>——治騾馬尿結糞結，黃鶻眼跳。</p>
<p>——治無名腫毒，痔瘡、漏瘡、臁瘡、傷手瘡。俱用陳醋研上。</p>

<h2>回生再造丸</h2>
<p>真蘄蛇（去皮骨，並頭尾各三寸，酒浸炙，取淨末四兩。眼光如生者真）　兩頭尖（系草藥，出在烏魯木齊，非鼠糞也。如不得真者，以白附子代之，其性相仿。制過用，二兩）　真山羊血（五錢，心包內血真）　北細辛（一兩）　龜板（一兩，醋炒）　烏藥（一兩）　黃耆（一兩，蜜炙）　母丁香（一兩，去油）　乳香（一兩，瓦焙去油）　麻黃（二兩）　甘草（二兩）　青皮（一兩）　熟地（二兩）　犀角（八錢）　沒藥（一兩，炒去油）　赤芍（一兩）　羌活（一兩）　白芷（二兩）　虎脛骨（一對，醋炙）　血竭（八錢，另研）　全蠍（二兩五錢，去毒）　防風（二兩）　天麻（二兩）　熟附子（一兩）　當歸（二兩）　骨碎補（一兩，去皮）　香附（一兩，去淨皮毛）　元參（二兩，酒炒）　首烏（二兩，制）　川大黃（二兩）　威靈仙（二兩五錢）　葛根（二兩五錢）　沉香（一兩，不見火）　白蔻仁（二兩）　藿香（二兩）　冬白朮（一兩，土炒）　紅曲（八錢）　川萆薢（二兩）　西牛黃（二兩五錢）　草蔻（二兩）　川連（二兩）　茯苓（二兩）　薑黃（二兩，片子）　姜蠶（一兩）　松香（五錢，煮過）　川芎（二兩）　廣三七（一兩）　桑寄生（二兩五錢）　冰片（二兩五錢）　當門麝（五錢）　辰砂（一兩，飛淨）　桂心（二）　天竺黃（一兩）　地龍（五錢，去土）　山甲（二兩，前後四足各用五錢，麻油浸）</p>
<p>以上各藥材必須地道，炮製必須如法。共研細末，擇天月二德日，於淨室內煉蜜為和，合搗五千杵為丸，每丸重一錢，金箔為衣，外用蠟殼包裹。</p>
<p>此藥專治風濕諸痹，口眼歪斜，半身不遂，行步艱難，筋脈拘攣，手足疼痛。宣暢血氣，通利經絡。大者一丸，小者酌用。病在左部用四物湯為引，即當歸、白芍、生地、川芎各一錢。病在右部用四君子湯為引，即白朮二錢，茯苓一錢，人參一錢，甘草五分，如無人參用黃耆代之。其餘用薑湯、黃酒酌用。孕婦忌服。</p>

<h2>拔毒錠</h2>
<p>白芨（一兩）　白蘞（一兩）　南星（二兩）　牙皂（一兩五錢）　花粉（一兩五錢）　射干（一兩）　白芷（二兩）　全蠍（二兩）　雄黃（五兩）　山甲（二兩五錢）　蟾酥（一兩）　血竭（二兩）　冰片（五分）　麝香（三分）　細辛（一兩）　生軍（二兩）　三寶花（二兩）　木通（一兩）　川連（二兩）山梔（二兩，炒）　防風（一兩）　澤瀉（一兩）　草梢（五分）　白梅花（三兩）　乳香（二兩）　沒藥（二兩）</p>
<p>以上共為極細末，用木瓜酒黏為錠。</p>
<p>此錠專治一切癰疽瘡瘍、無名腫毒、疔瘡、杖瘡、發背、對口、頑瘡堅硬、不潰正膿、腐肉不脫、新肉不生等症。此藥能化毒活瘀，消腫潰堅，去腐生新。內服少許，可以護心托毒外透，大有奇效。所有應治諸症，開列於後：</p>
<p>——治癰疽、發背、對口、疔瘡，初起腫硬熱疼，用醋磨上。</p>
<p>——治無名腫毒，蠍螫狗咬，毒蟲咬傷，用醋調上。</p>
<p>——治各瘡久不收口，色黑堅硬，用燒酒調上。</p>
<p>——治暴受痧氣，頭痛目脹，山嵐瘴氣，可研少許，鼻聞取嚏。</p>

<h2>墨玉膏方</h2>
<p>全當歸（三錢）　白丁香（二錢）　蒼朮（三錢）　紅花（二錢）　乳香面（三錢）　沒藥面（三錢）　血竭面（二錢）　香油（半斤）　官粉（二釐）　白燭（四兩）　素燭油（四兩）</p>
<p>此藥專治一切無名腫毒，潰破者俱效。或濕毒疙疸上之亦好，初起者上之能消，已破者能化毒，化腐生肌。或暑毒疙疸，臁瘡腳氣，腳縫作癢作痛，浸水難以著地者，上之俱能消腫止痛。婦人乳瘡已破，小兒胎毒，痘後餘毒，及一切火燙傷，上之先能止痛，後化毒生肌。此乃外科之聖藥也。修合此膏之法，先將香油入鍋中煎藥，渣枯去渣，後將藥面、錠兒粉、素燭油、白燭同入鍋內熬至其色黑為度，成膏。</p>

<h2>拔毒萬應膏</h2>
<p>川烏（生）　草烏　白芷　白蘞　白芨　官桂　苦參　當歸　赤芍　羌活　甘草　土木鱉　山甲　烏藥　大黃　天麻子（肉）　元參　生地　獨活（各二錢五分）</p>
<p>以上十九味，用淨香油二斤八兩，將藥浸入油內，用潔淨鍋慢火熬至藥枯為度，濾去渣。將藥稱准，每油一斤大約兌錠兒粉半斤，煉至滴水成珠膏嫩為度，薄攤紙上。</p>
<p>此膏專治一切無名腫毒，已潰未潰皆可貼之。</p>

<h2>風熱喉痹方</h2>
<p>燈心草（一錢）　黃柏（五錢）　白礬（七分）　腦片（三錢）</p>
<p>燈心、黃柏二味燒存性，白礬煅，同腦片共為細末。此藥吹喉中即愈。</p>

<h2>白降丹</h2>
<p>硃砂（二錢）　雄黃（二錢）　硼砂（二錢）　水銀（六錢）　火硝（一兩五錢）　白礬（一兩五錢）　綠礬（一兩五錢）　青鹽（一兩五錢）</p>
<p>上藥各研細末，再入水銀，研至不見星為度。用傾銀火罐一個，坐炭火上，徐入藥熬化，至四圍全乾，中心一點料有濕意，取起冷定。再用白礬盤一個，將罐扣上，罐之周圍用綿紙捻條水濕，將罐周圍塞住，再用鹽泥厚封其口。用大水盆一個，注水其中，水內用磚數塊，將盤架住，水離盤邊僅留寸許，盤邊於盆用瓦搭橋，其上用炭火，將罐周圍裝嚴勿空，用扇扇之，打三炷香為度。</p>
<p>此丹專治瘡瘍疔毒，癰瘍惡候，毒熱過盛，麻癢焮痛，一切有餘之症。敷之消腫止痛，初起者化重為輕，起包立即消散，已成膿血未破者易潰，已腐者易於脫腐生新，誠為外科靈丹也。凡敷此藥，量瘡勢大小，用五六釐，輕者一二釐，用水調上即愈。</p>

<h2>止痛接骨散</h2>
<p>血竭　乳香　琥珀　合歡　月石　龍骨　馬前子　沒藥　雄黃　麝香（各等分）　硃砂　冰片（各減半）</p>
<p>共為細末。</p>
<p>此藥專治舒筋活血，益氣壯陽，健筋強骨，治風吹冷振，寒濕腳氣，腰疼腿痛，四肢疼痛，虛寒不足，百節痠痛，跌打損傷，高墜落馬，傷筋動骨，瘀血不散，留聚疼痛，及諸虛無力，麻木痿弱，一切折傷等症，無不神效。每服三四釐，白開水沖服。重者五七釐。暖黃酒送下亦可。病在上臨睡服，病在下空心服，上下俱痛早晚二服。忌風寒、燒酒、房勞。</p>

<h2>五食白花丸</h2>
<p>五倍子　食鹽　白礬　花椒（各等分）</p>
<p>以上藥味，粟泥為丸，重二錢五分，外用雄黃為衣。專治婦女陰濕陰癢，陰內生瘡、生蟲，一切陰中諸症，並皆治之。如用時，將此藥用帛裹好，以絨繩捆系，留絨頭六寸許，將藥納入陰戶中，候一炷香時取出。處女忌用。</p>

<h2>觀音救度普濟丹</h2>
<p>明天麻　全當歸　明沒藥　南紅花　廣木香　王不留行　香墨　百草霜　飛羅面（各一兩）　藏紅花（一錢）</p>
<p>將墨打碎研細，用滾水浸泡，每日清晨將陳水潑去，換上新水，如此三次，膠性盡去，墨皆澄清，屆時聽用，與前藥面為丸。</p>
<p>專治婦人病症三十六種，無不應驗，並男子吐血之症。藥引列後：</p>
<p>——治童女、女子經水不通。十四五歲行經之時，所忌生冷等物不可多食。忽成鬼胎，或三五個月一年，恐成乾血勞，用藥一丸，引山甲煎湯送下即效，必行經絡。</p>
<p>——治婦人不能成孕，皆因紅失虛弱，月經不準，或多或少，經絡虛空，先用藥一丸，引乳香、當歸，煎湯送下。歇三日用一丸。經絡以成，必受孕矣。</p>
<p>——治婦人頭胎，生產最難，將產之先即用一丸，引當歸煎湯送下，以保無患。</p>
<p>——治子死腹中，皆因大人受傷，血氣不能養子，用藥一丸，引榆樹皮、蟬蛻燒灰，滾白水送下。</p>
<p>——治婦人難產，皆因瘀血胞絡，用藥一丸散其瘀血，則易生產。或逆產橫生，依用前引即愈。</p>
<p>——治產後胎衣不下，瘀血流入衣胞之內，所以難下，用藥一丸，紅花一錢煎湯送下。</p>
<p>——治產後口乾，腹內下瀉，皆因產後氣虛，心血未定，用前引用藥一丸。</p>
<p>——治產後不一，皆惡血流行，故此乍寒乍熱，用藥一丸，引用童便送下。</p>
<p>——治產後遍身浮腫，皆瘀血流入脾肺經絡，用藥一丸，引用白朮、薑黃，煎湯送下。</p>
<p>——治產後不能言語。人有三毛七孔，惡血流入七孔之內，皆不能言語。用藥一丸，童便送下。若再不好，即時再用一丸即愈。</p>
<p>——治產後肚臍疼痛，大小腸俱下痢，皆水急下化，晝夜疼痛，時行赤白，用藥一丸，引用蘿蔔煎湯，或桃仁亦可。</p>
<p>——治產後腰痛，遍身骨節疼，再產之時不能動，用藥一丸，同戥子灰入黃酒內送下。</p>
<p>——治產後大小便不通，脾肝肺腸閉塞，此名血瘀之症，用藥一丸，引通草、紅花、桑皮，煎湯下。</p>
<p>——治產後氣血虛弱無力，不時浮腫，出汗盜汗，臍下作痛，用藥一丸，引通草、木通湯下。</p>
<p>——治產後心腹脹滿，嘔吐不止，皆氣不通，用藥一丸，引半夏、生薑，煎湯下。</p>
<p>——治產後口眼歪斜，皆血不能歸經絡，用藥一丸，引桑白皮，煎湯下。</p>
<p>——治產後咽喉腫痛，因惡血上攻，元氣不能上心肺，用藥一丸，引桑白皮，煎湯下。</p>
<p>——治產後身受寒熱，勉強下床，又受氣惱，用藥一丸，引用黑豆一錢，用老酒送下。</p>
<p>——治產後大便下血不止，赤白帶下，氣血虛弱，惡血下降，用藥一丸，無灰酒送下。</p>
<p>——治產後手足不遂，言語艱難，皆身受風寒，用藥一丸，引用炒黑豆二三丸，用溫酒送下。</p>
<p>——治產後小便不時下血，因吃了生冷之物，名為胎漏之症，用藥一丸，引崩中散送下，或黃酒亦可。</p>
<p>——治產後下血，胎前作痛，吃了冷硬之物，寒氣攻心，坐臥不寧，用藥一丸，好酒送下。</p>
<p>——治產後寒戰銼牙，因惡血流入經絡，氣血閉塞，用藥一丸，引童便送下。</p>
<p>——治產後肚中膨脹，四肢寒冷，惡血流入經絡，用藥一丸，赤芍煎湯下。</p>
<p>——治產後血脈不調，月經不通，皆惡血散行，吃下生冷，惡血成塊，日久不散，用藥一丸，引用紅花，煎湯下。</p>
<p>——治產後心腹虛悶，肚內膨脹，氣喘咳嗽，出汗如油，用藥一丸，引用通草、黃酒、紅花、桑白皮，煎湯下。</p>
<p>——治產後氣血虛弱，吃了生冷堅硬之物，衝犯惡血，散於四肢，口苦舌乾，用藥一丸，引用當歸，荊芥，煎湯下。</p>
<p>——治產後心腹脹痛，皆惡血未定，吃了堅硬，用藥一丸，引紅花，煎湯下。打下惡物後，用茴香煎湯，再吃一丸。</p>
<p>——治產後務須當月未滿之日，瘀血氣散各經絡，須忌麵食、生冷等物，恐成乾血之症，用藥一丸，紅花煎湯下。</p>
<p>——治童子、男子癆症吐血，以有房勞、吐血，種種不等，用藥一丸，引童便，紅花一錢，同子煎湯下。若病重再服一丸。</p>
<p>——治諸般雜症，無不神效。</p>

<h2>加減生肌散</h2>
<p>黃柏（八錢）　兒茶（八錢）　滑石（六錢）　花粉（八錢）　龍骨（八錢，戍糖煅）　蒼朮（五錢）白芷　珍珠　琥珀　東參（各三錢）　冰片（二錢）　麝香（八分）</p>
<p>共為極細末，過重羅。</p>
<p>此藥專治瘡痛潰後，久不收口，肌肉生遲，上之能化腐生新，解毒斂口，無不神效。</p>

<h2>牛黃冰蘇散</h2>
<p>牛黃（二錢）　薄荷（五錢）　沒藥（一錢）　兒茶（三錢）　青黛（三錢）　黃柏（一錢，生）　乳香（一錢）　黃芩（一錢）　梔子（二錢，生）　石膏（三錢，生）　花粉（一錢五分）　元參（二錢）　冰片（一錢）</p>
<p>共為細末。</p>
<p>此散治心胃有熱，煩急作渴，咽喉腫痛，口舌生瘡。</p>

<h2>福壽丹</h2>
<p>黃連（四分）　硃砂（四分）　甘草（四分）</p>
<p>共為細末，過雙絲羅。</p>
<p>此丹治小兒內熱痰盛，此安神聖藥也。</p>

<h2>八寶坤順丹</h2>
<p>益母草（一兩）　白芍（一兩）　當歸（一兩）　川芎（一兩）　黃芩（一兩）　白朮（一兩）　茯苓（一兩）　烏藥（一兩）　縮砂（一兩）　牛膝（八錢）　橘紅（一兩五錢）　香附（一兩）　阿膠（八錢）　生地（一兩）　熟地（一兩）　紫蘇（六錢）　木香（六錢）　黨參（一兩五錢）　甘草（五錢）　琥珀（三錢）　沉香（五錢）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>此藥治胎前產後，經血不調，婦人百病，老酒為引，童便亦可。</p>

<h2>八釐散</h2>
<p>土鱉（去腿，半夏炒，共用一兩）　乳香（一兩，去油）　沒藥（一兩，去油）　自然銅（一兩，炒黃）　骨碎補（一兩，炒乾）　血竭（二兩）　歸尾（一兩）　硼砂（一兩）　以上共為極細末。</p>
<p>此藥治症能去瘀生新，續筋接骨，化痰活絡，宣通氣血，消腫解毒，其效如神。</p>

<h2>英神普救丸</h2>
<p>明雄黃（五錢）　鬱金（五錢）　巴霜（八錢，去油）　乳香（一錢五分，去油）　沒藥（一錢五分，去油）　陳皮（一錢五分）　木香（一錢五分）　牙皂（一錢五分）　膽星（二錢）　紫蔻（二錢）　牛黃（二分）　麝香（二分）　琥珀（二分）</p>
<p>共為細末，陳醋打糊為丸，如綠豆大，硃砂為衣。</p>
<p>此藥治痰熱鬱結，鎮驚定魂開氣。</p>

<h2>清痰膏</h2>
<p>皂莢（四兩，全打碎）　當歸（八兩，切）　香白芷（十六兩，切片）　左秦艽（十六兩，切片）　打升麻（十六兩，切片打）</p>
<p>用大麻油十一斤，浸三日。文火熬枯，濾淨渣，篩淨。黃丹五十兩，至滴水成珠，再入淨乳香、淨沒藥、生南星、生半夏（各四兩），須研極細，篩淨攪和。再入肉桂四兩為末，離火，入上號麝香五錢，和為膏。或膏中不用麝香，臨用時每張加麝香二三釐。孕婦忌用麝香膏。藥用厚油紙攤。</p>
<p>此藥善治榮衛不和、無名腫毒及痰咳流注等症，皆可貼之。</p>

<h2>三黃打丁湯洗藥方</h2>
<p>當歸（二錢）　白芷（二錢）　黃連（一錢）　黃芩（一錢）　黃柏（一錢）　地丁（二錢）　公英（二錢）　石膏（二錢，煅）　防風（一錢）　薄荷（一錢）　山甲（一錢）　皂刺（一錢）　甘草（一錢）　五大碗水，煎一盅。</p>
<p>凡遇瘍科一切疔毒惡症，先煎此湯洗之，可保無虞。</p>

<h2>糊瘡方</h2>
<p>紫荊皮（五錢）　赤芍（二錢）　獨活（三錢）　白芷（一錢）　石菖蒲（一錢五分）　共為極細末，過重羅。</p>
<p>此藥方黃酒、涼水對半，大蔥白子熬爛。</p>
<p>專治外科一切諸般無名腫毒，用米醋調敷。</p>

<h2>紅升丹</h2>
<p>水銀（一兩）　火硝（七錢）　白礬（八錢）</p>
<p>共研極細末，水銀不見珠，碗對口，鹽水河泥封口，文武火，三支香為度。</p>
<p>此丹專治一切瘡瘍潰後，拔毒去腐，生肌長肉。瘡口堅硬，肉黯紫黑，用此丹少許，雞翎掃上，立刻紅活，乃外科之聖藥也。</p>

<h2>膏子藥</h2>
<p>法夏（四錢）　白芷（五錢）　白芍（四錢）　白占（二錢）　脂油（八兩）　銀硃（一兩）</p>
<p>共為細末。</p>
<p>治一切瘡瘍潰後，不得正膿，調化上之，可以化腐生新。</p>

<h2>五味加減散回陽拔毒散</h2>
<p>紫荊皮（五錢）　赤芍（五錢）　白芷（五錢）　黃柏（四錢）　石菖蒲（五錢）　獨活（五錢）　薑黃（四錢）　川軍（六錢）　茅蒼朮（四錢）　乳香（三錢）　沒藥（三錢）　青黛（三錢）　共研細面，過羅，醋調上。</p>
<p>此外科一切諸般無名腫毒，用米醋調敷。</p>

<h2>生肌散</h2>
<p>石決明（一兩，煅白透）　蛤粉（一兩，煅透）　龍骨（一兩，煅代透）　滑石（一兩）　天花粉（八錢）　黃柏（一兩）　兒茶（一兩）　白芷（八錢）　金果欖（八錢）　蒼朮（八錢）</p>
<p>共為極細面，過重羅，再入冰片一錢，兌勻。</p>
<p>治瘡癰潰後，久不收口，肌肉生遲。上之能化腐生新，解毒斂口，奇效。</p>

<h2>梅花點舌丹</h2>
<p>梅花（二錢）　珍珠（二錢）　辰砂（五錢）　沉香（三錢）　牛黃（二錢）　熊膽（一錢四分）　雄黃（四錢）　葶藶（八錢）　血竭（五錢）　月石（五錢）　寸香（二錢）　蟾酥（五錢）　乳香（三錢）　沒藥（三錢）　冰片（二錢五分）</p>
<p>以上藥味，共為細末，用乳香汁化蟾酥為丸，如黃豆大，外用赤金為衣。</p>
<p>治一切無名腫毒，上之或服之皆可。</p>

<h2>痞氣丸</h2>
<p>厚朴（三錢，姜）　黃連（四錢）　吳萸（錢半）　白朮（二錢，土炒）　茵陳（二錢）　黃芩（二錢）砂仁（二錢，炒）　乾薑（一錢）　茯苓（二錢）　黨參（五錢）　澤瀉（三錢）　川烏（四錢，炙）　巴霜（五分，去油）　肉桂（三分）　川椒（三錢）</p>
<p>共為細末，煉蜜為丸，如梧桐子大。</p>
<p>此藥專治男婦小兒積聚痞塊，一切等症。</p>

<h2>胡鹽方</h2>
<p>菊花（一兩）　石斛（一兩）　石膏（一兩）　山楂（一兩）　知母（五錢）　酒柏（五錢）　青鹽（三錢）　菖蒲（五錢）</p>
<p>共煎濃汁，炒食鹽一斤，以干為度。</p>
<p>專治牙齦浮腫或流血，亦能固齒。</p>

<h2>姚廣孝方</h2>
<p>吹喉蛾嵋雪。</p>
<p>月石　石膏　白礬　芒硝　冰片　火硝（各等分）</p>
<p>除石膏外，余俱入鍋烊化，用薄荷汁淬干，研細，同石膏末入牛膽內陰乾，取出研細，臨睡兌冰片一錢吹之。此藥治咽喉腫痛，神效。</p>

<h2>洗眼方</h2>
<p>膽礬　紅花　黃連　防風　歸尾（以上各二分）　桃仁（七個）煎湯熏洗。</p>
<p>此藥專治暴發火眼赤腫，羞明目疾等症。</p>

<h2>百應閉管丸</h2>
<p>胡黃連（一兩）　穿山甲（香油炸黃）　石決明（煅）　槐實（各五錢，炒）</p>
<p>共為細末，煉蜜為丸，每服一丸，空心清米湯下。</p>
<p>此藥專治痔症、漏瘡等症。（又加姜蠶二十條）</p>

<h2>八寶丹</h2>
<p>黃連（搗碎，用人乳一茶盅，不可見塵土，乳炙七次為度）　杏仁（泡去皮尖，研粗末，用犀角尖三錢磨汁，杏仁末泡，曬乾）　黃芩　白芷　防風　龍膽草　霜桑葉　當歸尾（各一兩）</p>
<p>共為粗末。</p>
<p>此藥專治一切風眼火眼，或腫或痛，隱澀難開，怕日羞明，眼邊赤爛等症。</p>

<h2>清魚錠</h2>
<p>白芷（二兩）　南星（一兩）　牙皂（一兩五錢）　射干（一兩）　白薇（一兩）　全蠍（二兩）　雄黃（四兩）　山甲（二兩五錢）　蟾酥（二兩）　血竭（二兩）　冰片（五分）　麝香（三分）　細辛（一兩）　生軍（二兩）　銀花（二兩）　木通（二兩）　防風（一兩）　澤瀉（一兩）　草梢（五錢）　白梅花（三兩）　川連（一兩）　炒梔（二兩）　好木瓜酒合錠。</p>
<p>此藥專治諸般毒瘡惡瘡，初起焮紅，皮肉不變，漫腫無頭，疔毒疥癬，蛇蠍惡蟲所傷。</p>

<h2>紫金錠</h2>
<p>文蛤（一斤）　大戟（八兩）　光菇（十一兩）　千金子（五兩）　雄黃（二兩七錢五分）　硃砂（三兩）　麝香（一兩五錢）</p>
<p>共研極細面，用江米十二兩蒸糊，將藥對面糊拌勻，用大木棍椎至滋潤為度成錠。</p>
<p>專治瘟疫痧脹，痰壅氣閉，咽痛喉痹，霍亂轉筋，一切四時不正之氣，並皆治之。</p>

<h2>如意拔毒散</h2>
<p>南星（五錢）　陳皮（四錢）　蒼朮（三錢）　薑黃（七錢）　甘草（四錢）　白芷（五錢）　天麻（三錢）　厚朴（三錢）　雄黃（一錢）　黃芩（三錢）　黃連（三錢）　潮腦（三錢）　黃柏（五錢）　大黃（五錢）</p>
<p>共為極細末，清茶調敷，治一切無名腫毒，退熱消腫。</p>

<h2>虎骨鎮風膏</h2>
<p>全虎骨（一架）　麻黃　桂枝　官桂　羌活　生杜仲　川芎　秦艽　當歸　生地　生山甲　獨活　川烏　草烏　川斷　川附子　千年健　鑽地風　牛膝　紅花　龍骨　海螵蛸　桑枝　槐條（以上各一兩）</p>
<p>用香油十斤，將前藥炸枯去渣，加入熊油二兩，蘇合油五錢，再入炒漳丹六十兩，熬至滴水成珠，再入後藥。</p>
<p>乳香（五錢）　沒藥（五錢）　樟腦（五錢）　丁香（三錢）　肉桂（五錢）　血竭（三錢）　冰片（三錢）　麝香（三錢）</p>
<p>共研細面，對入前藥內，攪勻為度，熬成掏滑石面上，冷結成坨，裝入壇中，撒滑石面。用時以勺化開攤貼，勿令見風，曾收數十年亦可。虎骨小用香油九斤。</p>
<p>此藥治血虛受風，筋骨腰膝疼痛，及一切寒濕為患，並貼患處。</p>

<h2>飛龍奪命丹</h2>
<p>南星（一錢）　雄黃（一錢）　巴霜（一錢）　黃丹（五分）　乳香（一錢）　硇砂（五分）　信石（五分）　斑蝥炒，（十六個，去足頭）　麝香（一分）</p>
<p>共研細末，酒合蟾酥為丸，黍米大。</p>
<p>此藥治一切癰疽發背，疔毒惡瘡等無名腫毒，初發急症，或黑陷走黃，毒氣內悶，變生七惡壞症，並能治之。每服十丸或十四五丸，量入虛實，用老酒送下。瘡在上者食後服，瘡在下者食前服。忌油膩、腥膻、發物。此乃厲劑，孕婦忌服。</p>

<h2>靈應痧藥</h2>
<p>茅蒼朮（六兩）　明雄黃（六兩四錢）　硃砂（一斤）　蟾酥（九錢）　麝香（一兩）　甘草（四兩八錢）</p>
<p>共為細面，水疊為丸，如黍米大，硃砂為衣。</p>
<p>專治暑濕霍亂，吐瀉腹痛，四肢厥冷，面青神昏等症。</p>

<h2>漱藥方</h2>
<p>紫荊皮（三錢）　白芷（二錢）　蘇薄荷（二錢）　食鹽（五分）</p>
<p>水煎溫漱。</p>

<h2>清咽消腫止痛散</h2>
<p>兒茶（二錢）　寒水石（三錢）　青黛（二錢，水飛淨）　蛇蛻（一錢）　黃柏（一錢五分）　元明粉（一錢五分）　沒藥（一錢）　冰片（三分）</p>
<p>共研，過重絹羅為極細面，吹喉痛處。</p>

<h2>散火止痛敷藥方</h2>
<p>荊穗（四錢）　薄荷（二錢）　姜蠶（三錢）　夏枯草（四錢）　青皮（三錢）　桔梗（三錢）　牙皂（一錢）　重樓金錢（三錢）</p>
<p>共研極細面，茶滷兌蜜少許調敷。</p>

<h2>段氏金丹（又名德生丹）</h2>
<p>米殼（三斤）　木香（四兩八錢）　廣皮（四兩八錢）　甘草（四兩八錢）　麻黃（四兩八錢）　五味子（四兩八錢）　石膏（四兩八錢）　栝蔞（四兩八錢）</p>
<p>共為細末，煉蜜為丸，每丸重三錢。</p>
<p>專治男婦老少咳嗽痰喘。早晚用一丸，白滾水送下，無不神效。</p>

<h2>痰迷心竅瘋子方</h2>
<p>甘遂（三錢）　硃砂（三錢）　牛黃（二分）　珍珠（一分）　麝香（一分）　共研細末。</p>
<p>血豬心（一個）　以上藥味俱入豬心之內，用西紙二層，草紙十層，將豬心包嚴，用水濕透，再入炭火燒熟，將豬心內藥味使竹刀取出用水送下，倒痰即愈，無不神效。淨吃藥不吃心。</p>

<h2>洗痔良方</h2>
<p>川椒（三錢）　牛膝（三錢）　地骨皮（三錢）　金銀花（六錢）　黃芩（六錢）　良薑（三錢）　細辛（三錢）　荊芥（三錢）　皮硝（一兩）　白芷（四錢）　蟬蛻（三錢）　防風（三錢）</p>
<p>煎洗，以好為止。</p>

<h2>專治水膨氣神效方</h2>
<p>勿論男女老少，並皆治之。俱按歲數，每歲以用老蒜一個，多少歲數以用多少老蒜，再用黃酒蒸透，以用腹內，蓋被取汗。自用三四次，見效如神。不論遠年近日，必然見效。</p>

<h2>又方</h2>
<p>老蓮蓬殼（三四個）　用陰陽瓦焙乾擀碎，再用老酒沖服即愈。</p>

<h2>治牙疼方</h2>
<p>潮腦少許，用沙吊蓋飛過，再用花椒油合，濃抹患處即愈。</p>

<h1>卷四</h1>

<h2>清肺抑火寧嗽化痰丸</h2>
<p>黃芩（二兩，生）　桑白皮（二兩，蜜炙）　黑參（一兩）　知母（一兩五錢，生）　桔梗（二兩）　寸麥冬（一兩五錢，去心）　枳殼（一兩，麩炒）　花粉（一兩五錢）　陳皮（二兩）　白茯苓（一兩五錢）　前胡（二兩）　乾葛（一兩五錢）　山梔（一兩，炒）　甘草（一兩，生）</p>
<p>上為細末，滴水為丸，如梧桐子大。</p>
<p>此藥專治肺經火盛，咳嗽有痰，鼻流清涕，氣促喘急，胸膈痞悶，聲音不清等症。</p>

<h2>滋陰寧嗽化痰丸</h2>
<p>知母（一兩，生）　貝母（一兩，去心）　天冬（一兩，去心）　寸麥冬（一兩，去心）　五味子（三錢）　陳皮（八錢）　膽星（七錢）　白茯苓（一兩）　生楂肉（八錢）　枳殼（八錢，麩炒）　苦芩（八錢，酒炒）　栝蔞仁（八錢）　生甘草（三錢，生）</p>
<p>上為細末，竹瀝為丸，如梧桐子大。</p>
<p>此藥專治陰虛火盛，五心煩熱，咳嗽喘急，痰中帶紅，日晡潮熱，吐血衄血，一切勞碌等症。</p>

<h2>香砂養胃寬中丸</h2>
<p>香附（一兩，醋炒）　縮砂仁（八錢，炒）　蒼朮（八錢，米泔水浸，炒）　木香（五錢）　檳榔（五錢）　白豆蔻（五錢）　神麯（五錢，炒）　青皮（一兩，醋炒）　麥芽（一兩，炒）　生甘草（五錢）　陳皮（一兩）　半夏（一兩，薑汁炒）　枳實（一兩，麩炒）　厚朴（五錢，薑汁炒）</p>
<p>上為細末，滴水為丸，如梧桐子大。</p>
<p>此藥專治脾胃虛弱，食不知味，肚腹作痛，嘔吐噁心，噯氣吞酸，五噎五膈等症。</p>

<h2>參苓白朮丸</h2>
<p>人參（一兩）　白朮（二兩五錢，土炒）　茯苓（一兩）　山藥（一兩，炒）　扁豆（一兩，薑汁炒）桔梗（一兩）　薏仁（一兩，炒）　蓮肉（二兩）　陳皮（五錢）　半夏（一兩，薑汁炒）　砂仁（五錢）　黃連（一錢，薑汁炒）　神麯（一兩，炒）　香附（一兩，童便炒）　當歸（二兩，酒炒）　炒芍（一兩，酒洗）　甘草（五錢，炙）　柏子霜（一兩）　毛橘紅（五錢）　沙苑蒺藜（一兩）</p>
<p>上為細末，薑棗煎湯，打神麯糊為丸，如梧桐子大，每服二錢，用米湯送下。</p>
<p>此藥專治病後元氣虛弱，脾胃虧損，四肢沉重，多因少食肌膚消瘦，久瀉久痢等症。</p>

<h2>百消丸</h2>
<p>黑醜（二兩，頭末）　香附（一兩，醋炒）　五靈脂（一兩）</p>
<p>共為細末，醋糊為丸，如梧桐子大。每服一錢五分，不時用淡薑湯送下。</p>
<p>此藥專能消酒食痰氣，水痞腫脹，積塊瘀痛。此藥消而不見，響而不動，藥本尋常，其效甚捷。</p>

<h2>上清丸</h2>
<p>犀角（一兩）　川芎（一兩）　牛蒡子（一兩）　赤苓（一兩）　桔梗（一兩）　連翹（一兩二錢）　黑參（一兩二錢）　薄荷（一兩二錢）　黃芩（一兩二錢）　青黛（一兩）　生地（一兩）　甘草（一兩二錢，生）</p>
<p>共為細末，蜜為丸，如梧桐子大，每服一錢五分，食遠用清茶送下。</p>
<p>此藥專治上部有熱，頭目赤腫，口舌生瘡，咽喉腫痛，吐血衄血等症。</p>

<h2>竹瀝化痰丸</h2>
<p>黃芩（四兩）　熟軍（十兩）　木香（二兩）　青皮（四兩）　白蔻（四兩）　梔肉（四兩）　枳實（五兩，麩炒）　貝母（二兩，去心）　花粉（三兩）　橘紅（五兩）　前胡（二兩）　白芍（一兩，炒）　檳榔（三兩）　香附（一兩）　山楂肉（三錢）　元參（一兩）　川芎（七錢五分）　白芷（五錢）　威靈仙（七錢五分）</p>
<p>共為細末，竹瀝為丸，如梧桐子大，每服錢半，食遠用清茶送下。</p>
<p>此藥治遍身骨節走注疼痛，四肢麻木，寒熱往來，關節不利，喘嗽煩悶一切等症。</p>

<h2>飛龍奪命丹</h2>
<p>雄黃（三錢）　硃砂（三錢，為衣）　輕粉（五分）　血竭（一錢）　乳香（二錢）　沒藥（三錢）　銅綠（二錢）　膽礬（二錢，酒化）　蜈蚣（一條，酒炙）　蝸牛（三十個）　麝香（五分）　蟾酥（二錢，酒化）　寒水石（一錢）</p>
<p>上為細末，將蝸牛搗碎，和藥為丸，如綠豆，硃砂為衣。每服五七丸，量毒輕重。用蔥白三寸，令病人嚼爛吐在手心，男左女右，藥裹蔥白內，用黃酒送下，避風。住一時之久，再吃黃酒三五杯，以助藥力，出汗為度。再服五丸即愈。在上部食後服，在下部食前服。忌冷水、王瓜、茄子、雞、魚、羊肉、豬肉首、濕面，一切發物。</p>
<p>此藥專治疔毒惡瘡，一切歹症，起初憎寒壯熱，噁心煩躁昏憒。此藥服之瘡即起發，能止昏憒，能消腫痛，真有奪命之功。</p>

<h2>清心滾痰丸</h2>
<p>大黃（四兩，酒煮）　黃芩（四兩，生）　青礞石（五錢）　犀角（五錢）　皂角（五錢）　硃砂（五錢）　沉香（二錢五分）　麝香（五錢）</p>
<p>上為細末，滴水為丸，如梧桐子大，硃砂為衣，每服一錢五分或二錢，不拘時，用白開水送下。</p>
<p>此藥治癲癇風症，心氣不足，神志不寧，怔忡健忘，恍惚來去，精神昏憒，怒恐憂慘，虛煩少睡，癲狂搦搐，角弓反張等症。</p>

<h2>滾痰丸</h2>
<p>大黃（八兩，酒拌，蒸，曬乾）　黃芩（八兩，去托）　沉香（五錢）　金星礞石（捶碎，焰硝一兩和勻，入沙罐內，鐵線扎厚紙蓋口，鹽泥封固，曬乾，炭火煅過）</p>
<p>又一方加硃砂二兩，研細末，為衣。</p>
<p>上為細末，熟水為丸，如梧桐子大。每服一錢，或一錢五分，不拘時，用白滾水送下。</p>
<p>此藥專治降火化痰，開結順氣，痰厥氣厥，心神恍惚，起居不寧，一切怪異痰症。</p>

<h2>消食化滯丸</h2>
<p>大黃（六兩，生）　黑醜（六兩，頭末）　木香（一兩）　檳榔（一兩）　枳殼（一兩，土炒）　香附（四兩，炒）　青皮（一兩，去穰）　陳皮（一兩）　莪朮（一兩，醋炒）　黃連（一兩，生）　黃柏（三兩，鹽水炒）</p>
<p>上為細末，水糊為丸，如梧桐子大，每服一錢五分，不拘時，白滾水送下。</p>
<p>此藥治諸氣食積，噎膈痞滿，胃脅刺痛，大小便秘，一切積滯等症。</p>

<h2>二母清順丸</h2>
<p>知母（五錢，生）　貝母（五錢，去心，生）　天冬（四錢，去心）　麥冬（四錢，生）　人參（二錢）　當歸（三錢，酒洗）　陳皮（五錢，去白）　白茯苓（五錢）　半夏（五錢，炙）　枯芩（五錢，酒炒）　桔梗（五錢）　山梔仁（五錢，炒）　甘草（二錢，生）　天花粉（五錢）</p>
<p>上為細末，神麯打糊為丸，如梧桐子大。每服一錢五分或二錢，食遠用清茶送下。</p>
<p>此藥治肺虛喘促，痰滯咳嗽，口舌咽乾，面白清涕，飲食不思等症。</p>

<h2>養胃調臟丸</h2>
<p>人參（去蘆，五錢）　乾山藥（一兩，炒）　蓮肉（一兩，去心）　蒼朮（二兩，米泔水浸，炒）　厚朴（五錢，去皮，薑汁炒）　豬苓（一兩，淨）　澤瀉（一兩，去毛）　白茯苓（一兩五錢）　白芍（一兩五錢，炒）　肉桂（三錢，去皮）　白朮（去蘆。一分用肉蔻二錢拌炒，一分用補骨脂拌炒。二兩。一分用小茴香二錢拌炒，一分用吳茱萸拌炒）　白扁豆（二兩，炒）　甘草（二錢，炙）　陳皮（一兩）</p>
<p>上為細末，煮粳米粥調炒，神麯糊為丸，如梧桐子大。</p>
<p>此藥治脾虛久瀉，日夜無度，腸胃虛寒，滑溏不禁等症，並皆治之。</p>

<h2>三補枳朮丸</h2>
<p>砂仁（三錢，炒）　白朮（二兩，土炒）　陳皮（一兩，去白）　枳實（二兩，麩炒）　黃連（五錢，薑汁炒）　黃芩（五錢，酒炒）　黃柏（一兩，鹽水炒）　白梧桐（五錢）　貝母（八錢，去心）　神麯（五錢，炒）　香附（三錢，醋炒）　麥芽（三錢，炒）　山楂肉（五錢）</p>
<p>上為細末，荷葉煎湯煮粳米粥為丸，如梧桐子大。</p>
<p>此藥專治三焦火盛，痰盛不清，頭目迷暈，胸膈不寬，面赤心煩，嘔噦痰水，吞酸等症。</p>

<h2>明目清肝丸</h2>
<p>川芎（五錢）　白芍（一兩，酒炒）　菊花（一兩）　橘紅（八錢）　枳殼（一兩，麩炒）　草決明（一兩）　黃連（一兩）　荊芥（八錢）　防風（八錢）　白芷（八錢）　當歸（八錢，酒洗）　黃芩（一兩）　羌活（八錢）　甘草（三錢）</p>
<p>上為細末，滴水為丸，如梧桐子大。每服一錢五分或二錢，食遠清茶送下。</p>
<p>此藥專治眼目昏暗，神光不足，障翳青盲，爛弦風眼等症，並皆治之。</p>

<h2>靈砂丹</h2>
<p>天麻（二兩）　羌活（二兩）　獨活（二兩）　細辛（二兩）　石膏（二兩）　連翹（二兩，去心）　薄荷（二兩）　川芎（五錢）　山梔（五錢，炒）　白芍（五錢，炒）　荊芥（五錢）　當歸（五錢，酒洗）　黃芩（五錢，炒）　大黃（五錢）　全蠍（去微毒，炒，五錢）　菊花（五錢）　人參（五錢）　白朮（五錢，土炒）　防風（二兩）　寒水石（二兩）　桔梗（二兩）　硃砂（二兩）　砂仁（七錢五分）　滑石（四兩）　甘草（二兩）</p>
<p>上為細末，煉蜜為丸，每丸重二錢，硃砂為衣。每服一丸，不拘時，細嚼，或研化，用清茶或薑湯送下。</p>
<p>此藥治傷時疫，憎寒壯熱，渾身疼痛，傷風咳嗽，鼻塞聲重，偏正頭疼，山嵐瘴氣，無汗瘧疾，大頭瘟病等症。</p>

<h2>牛黃珍珠琥珀丸</h2>
<p>牛黃（三錢，另研）　珍珠（三錢，另研）　琥珀（三錢，另研）　石葦（三錢）　瞿麥（三錢）　赤苓（三錢）　黃柏（三錢，生）　甘草（三錢，生）　木通（五錢）　黃連（五錢）　滑石（五錢）　車前子（二錢）　茄草（五錢）</p>
<p>上為細末，煉蜜為丸，每丸重一錢。空心細嚼，用燈心、竹葉煎湯送下。</p>
<p>此藥治心蘊熱、腸胃燥，或小便赤色，癃閉不通，或淋瀝疼痛，或溺血、尿濁等症。</p>

<h2>聰耳蘆薈丸</h2>
<p>蘆薈（五錢）　熟大黃（五錢）　青黛（五錢）　柴胡（五錢）　當歸（一兩，酒洗）　龍膽草（一兩）山梔（一兩，微炒）　青皮（一兩，酒炒）　黃芩（一兩，膽炒）　木香（二錢）　南星（三錢，炒）　麝香（五分）</p>
<p>上藥為末，神麯打糊為丸，如梧桐子大。每服一錢五分，食遠白滾水送下。</p>
<p>此藥治風熱上攻，痰氣熾郁，或心火上炎，或怒動肝氣，以致耳聾鳴，或生聤耳，腫痛作癢等症。</p>

<h2>九味清心丸</h2>
<p>蒲黃（二錢五分）　羚羊角（二錢）　犀角（一錢）　黃芩（一錢五分）　牛黃（一錢二分）　石雄黃（八分）　麝香（一錢）　龍腦（一錢）　金箔（一百二十一張）</p>
<p>上藥為末，煉蜜為丸，金箔為衣。每服一丸，熟水化服。</p>
<p>此藥專治心經積熱，頭目赤腫，風痰壅滯，口舌生瘡，咽喉不利，大小便結，一切火症。</p>

<h2>沉香化滯丸</h2>
<p>沉香（五錢）　莪朮（三錢，醋炒）　陳皮（一兩）　香附（一兩，水洗去土）　木香（一兩）　縮砂（一兩，去殼）　藿香（一兩，水洗去土）　麥芽（一兩，炒）　神麯（一兩，炒）　甘草（一兩，炙）</p>
<p>上藥共為細末，酒糊為丸，如梧桐子大。每服一錢五分，或二錢，空心用滾白水送下。</p>
<p>此藥治內傷生冷、炙爆、厚味、堅硬之物，停滯不化，以致胸膈痞滿，肚腹作痛，食不知味，或吐或瀉，一切氣滯之症。</p>

<h2>滋血養心丸</h2>
<p>當歸（五錢，酒洗）　白茯神（四錢）　白芍（四錢，酒洗）　遠志（四錢）　天冬（四錢，去心）　麥門冬（四錢，去心）　酸棗仁（三錢，炒）　苦芩（三錢，酒炒）　柴胡（三錢，酒炒）　紅花（一錢，酒洗）　沙參（二錢）　黑參（二錢）　黃連（三錢，薑汁炒）　柏子仁（三錢）　甘草（二錢，生）</p>
<p>上為細末，蜜水為丸，如梧桐子大。每服一錢五分或二錢，食遠用燈心湯送下。</p>
<p>此藥用治心氣不足，精神恍惚，夜臥不安，怔忡健忘，異夢多驚，心跳心煩等症。</p>

<h2>清離滋坎丸</h2>
<p>生地黃（一兩）　熟地黃（一兩）　麥門冬（一兩，去心）　天冬（一兩，去心）　白芍（一兩，酒炒）　白茯苓（一兩）　牡丹皮（六錢，酒洗）　當歸（一兩，酒洗）　山茱萸（一兩，酒蒸去核）　山藥（一兩，炒）　白朮（一兩，土炒）　澤瀉（五錢，去毛）　黃柏（五錢，鹽水炒）　知母（五錢，鹽水炒）　甘草（三錢，炙）</p>
<p>上為細末，蜜水為丸，如梧桐子大。每服一錢五分或二錢，食遠白滾水送下。</p>
<p>此藥專治虛勞煩瘵，發熱咳嗽，吐痰喘急，自汗盜汗，五心煩熱，吐血衄血，咽瘡聲啞，夜夢遺精，耳聾眼花等症。</p>

<h2>坎離保元丸</h2>
<p>白朮（一兩，土炒）　山楂肉（七錢）　人參（五錢）　黃連（七錢，薑汁炒）　陳皮（七錢，酒洗）牡丹皮（七錢，酒洗）　知母（七錢，鹽水炒）　枳殼（七錢，麩炒）　黃柏（七錢）　白茯苓（一兩）　當歸（八錢，酒洗）　桔梗（七錢）　遠志（八錢，甘草水洗，去心）　酸棗仁（八錢，炒）　白芍（七錢，酒炒）　甘草（三錢，炙）</p>
<p>上為細末，蜜水為丸，如梧桐子大，每服一錢五分或二錢，食遠用清茶或白滾水送下。</p>
<p>此藥能滋陰降火，調榮養胃，補髓添精，安神定志，聰耳明目，坎離既濟，卻病輕身，寧心益智，此乃平補之聖藥也。</p>

<h2>六君子丸</h2>
<p>人參（一兩，去蘆）　白朮（一兩，土炒）　白茯苓（一兩）　陳皮（八錢，去白）　半夏（八錢，薑汁炒）　甘草（三錢，炙）</p>
<p>上為細末，神麯打糊為丸，如梧桐子大。每服一錢五分或二錢，食遠白滾水送下。</p>
<p>此藥專治理肺虛胃弱，不愛飲食，不長肌肉，神疲倦怠，畏冷怯寒，嘔吐腹痛，大便稀薄等症。</p>

<h2>八珍丸</h2>
<p>人參（一兩）　白朮（一兩，土炒）　白茯苓（一兩）　當歸（一兩，酒洗）　川芎（七錢）　白芍（七錢，酒洗）　熟地（一兩）　甘草（五錢，炙）</p>
<p>上為細末，神麯打糊為丸，如梧桐子大。每服一錢五分或二錢，食遠白滾水送下。</p>
<p>此藥專治氣血兩虛，惡寒發熱，煩躁口渴，眩暈昏憒，飲食不思，肚腹膨脹，肌膚消瘦，大便不實，小便赤色等症。</p>

<h2>神芎丸</h2>
<p>大黃（三兩，生）　黃芩（二兩，生）　黑醜（四錢）　滑石（四兩）　黃連（五錢，生）　川芎（五錢）　薄荷（五錢）</p>
<p>上為細末，滴水為丸，如梧桐子大。每服一錢或一錢五分，食遠用清茶或白滾水送下。</p>
<p>此藥治上焦積熱，風痰壅滯，頭面赤腫，或生瘡癤，咽喉不利，大小便秘，一切風熱之症。</p>

<h2>金花丸</h2>
<p>黃芩（五兩，生）　黃柏（五兩，生）　梔子（五兩五錢，生）　黃連（四兩五錢，生）</p>
<p>上為細末，滴水為丸，如梧桐子大。每服一錢或一錢五分，用清茶送下。</p>
<p>此藥治三焦實火，六經積熱，煩躁作渴，口舌生瘡，一切有餘之火，並皆治之。</p>

<h2>加味拔毒散</h2>
<p>赤小豆（二錢）　雄黃（五分）　南星（一錢，生）　白礬（二錢，生）　貝母（二錢，去心）</p>
<p>共為細末。</p>
<p>此藥專治結核腫硬色不變者，老醋調塗患處。</p>

<h2>加味陰陽散</h2>
<p>黃連　乾薑　青黛　兒茶（各等分）</p>
<p>共為細末。</p>
<p>此藥專治口舌生瘡，每用少許，搽患處即愈。</p>

<h2>擦牙二黃散</h2>
<p>黃連（一錢，生）　黃柏（一錢，生）　硼砂（二錢）　冰片（五分）</p>
<p>共為細末。</p>
<p>此藥專治胃火上升，牙齒疼痛，口舌生瘡，牙縫出血。每用少許搽於牙上，待流涎水，吐出自愈。</p>

<h2>刀瘡藥</h2>
<p>白芨　龍骨（各等分）　共為細末。</p>
<p>專治金瘡流血不止，敷傷處，收口止痛，神效。</p>

<h2>生肌珍珠散</h2>
<p>珍珠（豆腐煮，二錢）　輕粉（六分）　石膏（一錢，煅）　冰片（一分二釐）</p>
<p>共為細末。</p>
<p>此藥專治癰疽潰後，瘡口不收。敷之能消腫止痛，收口生肌。</p>

<h2>清胃散</h2>
<p>冰片（二錢）　硼砂（五錢）　石膏（五錢，生）</p>
<p>上為細末。</p>
<p>此藥專治咽喉、口舌諸症，單雙乳蛾，紅腫疼痛，滿口糜爛，湯水不下，口舌生瘡，瘟毒發頤，牙癰牙宣等症，敷之立見奇效。</p>

<h2>擦牙散</h2>
<p>旱蓮草（五錢）　石膏（一兩）　青鹽（二錢）　細辛（一錢五分）</p>
<p>共為細末。</p>
<p>此藥治胃火上升，牙齒疼痛，口舌生瘡，牙縫出血。每用少許，搽於患處，待流涎水，吐出即愈。</p>

<h2>類聖散</h2>
<p>草烏（五錢，火煨）　川烏（五錢，煨）　蒼朮（五錢，米泔浸，炒）　細辛（五錢）　白芷（五錢）百合（五錢）　防風（五錢）　甘草（五錢）</p>
<p>上為細末，雞子清調，貼患處，留頂，上蓋紙，一日換二次。</p>
<p>此藥專能行氣疏風，活血止痛，消腫散堅，敷之立效。</p>

<h2>金花散</h2>
<p>天花粉（一兩）　黃連（一兩）　黃芩（一兩）　大黃（一兩）　薑黃（八錢）　白芷（五錢）　南星（五錢）　白芨（五錢）</p>
<p>上為細末，蜜調，搽患處。</p>
<p>此藥專治一切無名腫毒，退熱消腫。</p>

<h2>黃柏散</h2>
<p>黃柏（一兩）　輕粉（三錢）</p>
<p>共為細末，用豬膽汁調塗患處。</p>
<p>此藥專治臁瘡濕毒，及遍身熱毒。</p>

<h2>立效散</h2>
<p>石膏（一兩，煅）　青黛（五錢）　輕粉（五錢）</p>
<p>共為細末。</p>
<p>此藥專治黃水瘡，臘油調搽患處。</p>

<h2>神仙通嗌散</h2>
<p>白硼砂（二錢）　兒茶（一錢）　蒲黃（六分）　青黛（一錢）　牙硝（六分）　寒水石（二錢）　枯礬（六分）　冰片（二分）　黃連（五分）　滑石（一錢）　黃柏（五分）</p>
<p>共為細末，吹喉中。</p>
<p>專治咽喉腫痛、生瘡。</p>

<h2>蛤粉散</h2>
<p>黃柏（五錢，炒）　寒水石（三錢，煅）　蛤粉（二錢）　輕粉（一錢）</p>
<p>上為細末，涼水調搽患處，一日二次。</p>
<p>此藥專治一切濕瘡，初起如粟米，時時作癢，破時作痛，外因風邪，內因濕熱，黃水浸淫等症。</p>

<h2>榆礬散</h2>
<p>榆樹白皮（四兩）　大黃（五錢）　枯礬（二錢五分）　皮硝（二錢五分）</p>
<p>上為細末，涼水調敷患處。</p>
<p>治癰疽末成膿者。</p>

<h2>絳雪散</h2>
<p>元明粉（一錢）　硼砂（一錢）　冰片（一分）　牛黃（一分）　硃砂（五分）</p>
<p>共為細末，用葦筒吹患處。</p>
<p>此藥專治咽喉腫痛。</p>

<h2>追蟲散</h2>
<p>大黃（一錢，生）　苦楝根皮（一錢）　使君子（一錢）　檳榔（一錢）　貫眾（一錢）　青皮（一錢）</p>
<p>共為細末，空心用黃酒調服。</p>
<p>此藥專治蟲動腹痛。</p>

<h2>貼頭疼散</h2>
<p>白芷（三錢）　川芎（三錢）　大黃（三錢）　牙皂（三錢）　乾蠍尾（一錢）　冰片（一分）</p>
<p>共研極細，青茶滷調濃，攤布貼之。</p>

<h2>神效活絡丹</h2>
<p>草烏（三兩）　川烏（三兩）　乳香（四兩）　沒藥（四兩）　蚯蚓（十條，白頸）</p>
<p>共研極細末，蜜丸一錢五分重。每早晚服一丸，老酒蒸化服。</p>
<p>此藥專治中風痰氣，半身不遂，口眼歪斜，癱瘓不仁，手足麻木，肩臂疼痛，筋脈不舒，腰腿痠疼，風寒濕痹，跌撲閃錯，瘀血腫痛，一切等症，服之無不神效。</p>

<h2>坎宮錠子</h2>
<p>京墨（一兩）　胡黃連（二錢）　雄膽（三錢）　麝香（五分）　兒茶（二錢）　冰片（七分）　牛黃（三分）</p>
<p>上七味為末，豬膽汁為君，加生薑汁，大黃水浸取汗，釅醋各少許，相和藥成錠，用涼水磨濃，以筆蘸塗之。</p>
<p>此錠子治熱毒腫痛，焮赤諸瘡，並搽痔瘡，最效。</p>

<h2>離宮錠子</h2>
<p>血竭（三錢）　硃砂（二錢）　膽礬（三錢）　京墨（一兩）　蟾酥（三錢）　麝香（一錢五分）</p>
<p>上六味為末，涼水調成錠，涼水磨濃塗之。</p>
<p>此錠子治疔瘡毒腫，一切皮膚不變漫腫，搽之甚效。</p>

<h2>白錠子</h2>
<p>白降丹（四錢）　銀黝（二錢）　寒水石（二錢）　人中白（二錢）</p>
<p>上四味共為細末，以白及面打糊為錠，大小由人，不可入口。每用以陳醋研汁，掃敷患處，如干再上，自能消毒。</p>
<p>此錠子專敷初起諸毒癰疽，疔腫流注，痰色惡者，及耳痔、耳挺等症。</p>

<h2>萬應膏藥</h2>
<p>川烏　草烏　生地　白蘞　白芨　象皮　官桂　白芷　當歸　赤芍　羌活　苦參　烏藥　甘草　獨活　元參　定粉　大黃　土木鱉　山甲　以上各五錢。</p>
<p>以上十九味，定粉在外，用淨香油五斤，將藥浸入油內，春五夏三秋七冬十日。候日數已足，入潔淨大鍋內浸，火熬至藥枯浮起為度，住火片時，用布袋濾去渣。將油稱准，每油一斤，對定粉半斤，用垂柳枝不時攪之，以黑如漆亮如鏡子為度，滴水成珠，薄紙攤貼。</p>
<p>此膏治一切癰疽、發背、對口諸瘡，痰核、流注等毒，貼之甚效。</p>

<h2>加味太乙膏</h2>
<p>白芷　當歸　赤芍　元參（各二兩）　柳枝　槐枝（各十尺）　肉桂（二兩）　沒藥（三錢）　大黃（二兩）　木鱉（二兩）　生地（二兩）　阿魏（三錢）　輕粉（四錢，研不見星）　黃丹（四十兩，水飛）　乳香（五錢）　血餘（一兩）</p>
<p>上將當歸、白芷、赤芍、元參、肉桂、大黃、木鱉、生地八味並槐枝、柳枝，用真麻油稱足五斤，將藥浸入油內，春五夏三秋七冬十日，入大鍋慢火熬至藥枯浮起為度，住火片時，用布袋濾去渣，將油稱准，用舊細絹將油又濾入鍋內，要清淨為佳，將血餘投上，慢火熬至血餘浮起，以柳枝挑看似膏溶化之象，方算熬熟。淨油一斤，將飛過黃丹六兩五錢，徐徐入，火加大些。夏秋亢熱，每油一斤加丹五錢，不住手攪，候鍋內先發青煙，後至白煙疊疊旋起，氣味香馥者，其膏已成，即便住火。將膏滴入水中，試軟硬得中。如加老熱油，如稀加炒丹各少許。漸漸加火，務要冬夏老嫩得候下宜為佳。煙盡掇鍋來，方下阿魏，切成薄片，散於膏上化盡。次下乳香、沒藥、輕粉，攪勻，傾入水中，以柳棍摟成一塊。又換涼水浸片時，乘溫每膏半斤，扯拔百轉成塊。又換冷水浸。隨用時每取一塊，銅勺內復化，攤貼，至妙。</p>
<p>此膏治發背癰疽，及一切惡瘡，濕痰流注，風濕遍身筋骨走注作痛，湯燙火燒，刀傷棒毒，五損內癰，七傷外症，俱貼患處。</p>
<p>又男子遺精，女人白帶，俱貼臍下。臟毒腸癰，亦可丸服。諸般瘡癤，血氣癩癢者並效。</p>

<h2>呂祖一枝梅</h2>
<p>雄黃（五錢）　巴豆仁（五錢，不去油）　硃砂（三分）　五靈脂（三錢）　銀硃（一錢五分）　蓖麻仁（五分）　麝香（三分）</p>
<p>上各研細，於端午日淨室中，午時共研，加油胭脂為膏，磁盒收藏。勿經婦人之手。臨用豆大一團，捏餅貼印堂中，其功立見。用過餅送入河中。</p>
<p>此藥治男婦老幼新久諸症，生死難定之間。芡實大一餅，貼印堂之中，點官香一枝，香盡去藥，已後一時許，視貼藥處有紅斑暈色腫起飛散，謂之紅霞捧日，病須危篤，其人不死。如貼藥處一時後不腫不紅，皮肉照舊不變，謂之白雲漫野，病雖輕淺，終歸冥路。小兒急慢驚風，一切老幼痢疾，俱可貼之。凡病用之，皆可預知生死也。</p>

<h2>五虎丹</h2>
<p>當歸　防風　白芷　南星　紅花（各一兩六錢）　沒藥（一兩，去油）　乳香（一兩）</p>
<p>以上共為細末。</p>
<p>此方專治跌撲閃錯，經絡血瘀，皮肉損傷，破流鮮血，受風作腫，疼痛不止。凡一切血脈不通，周身筋聚，肉色青紫，脹痛不已等症，用此藥面二三錢，未破處用茶滷調敷，已破處幹上，大能止疼活瘀，祛風消腫，無不神效。</p>

<h2>九分散方</h2>
<p>乳香　沒藥　麻黃　馬前子（各四兩）　自然銅　土鱉蟲（各四兩）　共為細末。</p>
<p>此藥專治跌打損傷，從高墜落，筋骨折斷，瘀血腫疼，皮肉損破，刑傷棒傷，車碰馬踏，閃腰叉氣，強力努傷，停留瘀血，胸肋刺疼，筋聚肉腫，皮色青紫，紅腫不消。凡一切外傷皮肉筋骨，未破已破，用燒酒調敷，立效如神。</p>

<h2>五味散</h2>
<p>黃芩　黃柏　輕粉　青黛　側柏（各一錢）</p>
<p>共為細末，加冰片二分，紅升丹一錢。</p>
<p>此藥專治濕毒流串，皮膚生瘡，搔癢無度，破浸黃水，禿瘡、耳瘡、鬼臉瘡、羊鬍髭瘡、傷手瘡、漆瘡、臁瘡、膿疥、濕疥、風癬、錢癬，一切潮濕瘡癤，纏綿不愈等症。用此藥面，香油、涼水調敷。</p>

<h2>乾坤一氣膏</h2>
<p>當歸（一兩）　白附子（一兩）　木鱉肉（一兩）　臺麝（四分）　續斷（一兩）　沒藥（一兩二錢）　大生地（一兩）　蓖麻仁（一兩）　乳香（一兩二錢，去油，研面）　白芷（一兩）　巴豆仁（一兩）穿山甲（一兩）　白芍（一兩）　蓬朮（一兩）　五靈脂（一兩）　赤芍（一兩）　三稜（一兩）　元參（一兩）　真阿魏（二兩）　熟地（一兩）　肉桂（一兩）</p>
<p>此膏專治痞疾，無論新久。又治諸風癱瘓，濕痰流注，各樣惡瘡，百般怪症，頭痛，男子夜夢遺精，婦女赤白帶下。又男婦精寒血冷，久無嗣息者，並貼之。此料用香油五斤，漳丹三十兩。火用桑柴。</p>

<h2>神效龜齡益壽膏</h2>
<p>菟絲子（酒蒸）　牛膝（酒洗）　木鱉子　熟地　肉蓯蓉　川斷（酒洗）　蛇床子（酒洗）　鹿茸　大附子（童便炙酥，酒洗）　生地（酒洗）　虎腿骨（醋炙）　官桂　紫梢花　杏仁（去皮尖）　穀精草（酒洗）</p>
<p>以上十五味各三錢，或各一兩，用油二斤四兩，將藥入油熬枯，濾去渣，熬至滴水成珠，下：　松香（四兩）　黃丹（八兩）　硫黃（三錢）　雄黃（三錢）　龍骨（三錢）　蛤蚧（一對）　乳香（三錢）　沒藥（三錢）　赤石脂（三錢）　沉香（三錢）　鴉片（三錢）　母丁香（三錢）　麝香（三錢）　木香（三錢）　真陽起石（三錢）　蟾酥（三錢）</p>
<p>共為細末，諸藥下完，不住手攪，入磁罐內，下井中浸三日或五日，去火毒方可用。</p>
<p>此膏異授秘傳，能固玉池，真精不泄，靈龜不死，通二十四道血脈，鎮三十六道骨節，氣血流暢，精髓充滿，保固下元，全形固本，如海之常盈，通三關，壯五臟，下元虛冷，諸虛百損，五勞七傷，陽萎不舉，不堅固，久無子嗣，下淋白濁，小腸疝氣，遺精盜汗，手足頑麻，半身不遂，單腹脹滿，腰腿疼痛，強陽健力，種子之功，百試百效。並治脾胃虛弱，經水不調，赤白帶下，氣血虛虧，久不孕育，乾血勞瘵，或系屢經小產。此膏充實血海，能暖子宮，易得孕育，並治崩漏不止，癥瘕血海等症。男婦如能常貼此膏者，氣血充足，容顏光彩，諸疾不生，烏須黑髮，固精種子。此膏終身永貼者，體健身輕，返老還童，雖八十老人，陰陽強健，慣能遠視，行不困乏。如欲種子，其精不走者，可將此膏揭去。如系衰老之人，貼至百日之後，其效可驗。功效無比，不能盡述。其詞贊曰：類歸衰弱最難全，好把仙膏仔細看。少可延年真元固，老能黑髮返童顏。金龜出入功能久，接補殘軀越少年。雖然不同天地位，卻向人間作地仙。真益壽種子之至寶，勿視為泛常也。此膏婦人貼臍上，男貼左右腎命門二穴各一張，丹田穴一張，用汗巾縛住，勿令走動，六十日一換。如跌打損傷，諸瘡貼之亦效。務必修治時，須擇日齋戒，勿令婦人雞犬見之。衰老之人每張用六七錢或八錢。</p>

<h2>三黃丸</h2>
<p>大黃（一兩，生）　黃連（一兩，生）　黃芩（一兩，生）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服一錢或一錢五分，滾水下。</p>
<p>此藥專治積熱積痰，胸膈痞悶，咽喉不利，眼目赤腫，口舌生瘡，小便赤色，大便結澀等症。</p>

<h2>涼血地黃丸</h2>
<p>生地黃（一兩，酒洗）　山梔仁（五錢，炒黑）　當歸（一兩，酒洗）　青皮（一兩，醋炒）　槐花（一兩）　牡丹皮（一兩，酒洗）　黃柏（二兩，鹽水炒）　知母（二兩，鹽水炒）　蒲黃（五錢，隔紙炒）　側柏葉（五錢，炒黑）</p>
<p>共為細末，滴水為丸，如梧桐子大。</p>
<p>此藥治陰虛火動，素有積熱，面赤心煩，吐血嘔血，咯血衄血，一切失血之症。</p>

<h2>牛黃健步丹</h2>
<p>牛黃（三兩）　薄荷（三錢）　南星（二兩，薑汁炒）　天麻（一兩）　橘紅（一兩五錢）　鹿茸（一兩，酥炙）　黃耆（一兩五錢，鹽水炒）　人參（一兩）　白朮（二兩，去蘆，土炒）　白茯神（一兩）　當歸（一兩五錢，酒洗）　白芍（二兩，鹽水炒）　生地黃（二兩，酒洗）　熟地（二兩）　甘枸杞（一兩五錢）　五味子（五錢）　虎脛骨（二兩，酥炙）　龜板（一兩五錢，酥炙）　牛膝（二兩，酒洗）　杜仲（二兩，姜酒洗）　破故紙（一兩五錢，鹽酒炒）　黃柏（二兩，人乳拌，鹽酒炒）　知母（二兩，人乳拌，鹽酒炒）　門冬（二兩，去心）　遠志（一兩，甘草水泡）　石菖蒲（一兩）　酸棗仁（一兩，炒）　沉香（五錢）　木瓜（一兩）　薏仁米（一兩，炒）　羌活（一兩，酒洗）　獨活（一兩，酒洗）　防風（一兩，酒洗）</p>
<p>上為細末，煉蜜為丸，合豬脊髓、金箔為衣，黃蠟為皮，每丸重一錢五分。不拘時，鹽湯、溫酒任其化下。</p>
<p>此藥治中氣風，昏冒僵仆卒倒，口眼歪斜，手足癱瘓，步履艱難，言語塞澀，痰涎壅盛，心神恍惚，人事不省，及諸風痹，手足拘攣，筋脈不舒，肢節疼痛，一切風痰痿痹等症。</p>

<h2>經驗大健脾丸</h2>
<p>人參（一兩）　白朮（二兩，土炒）　白茯苓（一兩）　陳皮（一兩）　麥芽（一兩）　半夏曲（一兩，炒）　懷山藥（一兩，炒）　黃連（五錢，薑汁炒）　青皮（一兩，醋浸炒）　山楂肉（一兩）　廣木香（五錢）　白豆蔻（去皮，一兩）　枳實（一兩，麩炒）　金釵石斛（一兩，去根）</p>
<p>上為細末，陳老米、荷葉煎濃湯為丸，如綠豆大。每服一錢五分，食遠用白滾水送下。</p>
<p>此藥治中氣不足，脾胃虛弱，懶於飲食，胸膈窒塞，脅肋脹滿，肢體倦怠，面肌消瘦，嘔吐噁心，大便不實，或大便後致傷脾胃等症。</p>

<h2>加味六君子丸</h2>
<p>人參（一兩）　白朮（一兩，土炒）　白茯苓（一兩）　陳皮（八錢）　半夏（一兩，姜炒）　木香（五錢）　桔梗（八錢）　白芍（一兩，酒炒）　甘草（三錢，炙）</p>
<p>上為細末，薑棗湯為丸，每服一錢五分，白滾湯送下。</p>
<p>此藥專治脾胃虛弱，不愛飲食，不長肌肉，神疲倦怠，畏冷怯寒，痰嘔腹脹，大便稀溏等症。</p>

<h2>竹瀝枳朮丸</h2>
<p>白朮（二兩，去蘆，土炒）　蒼朮（二兩，米泔水浸，鹽水炒）　枳實（一兩，麩炒）　白茯苓（一兩）　陳皮（二兩，去白）　半夏（一兩，白礬、皂角、生薑煎汁浸一日，煮乾）　南星（一兩，炙同上）　黃連（一兩，姜炒）　條芩（一兩，酒炒）　當歸（一兩，酒洗）　白芥子（一兩，炒）　白芍（一兩，酒炒）　人參（五錢）　木香（二錢）　山楂（一兩，去子）</p>
<p>上為細末，以神麯六兩，薑汁一盞，竹瀝一碗，煮糊為丸，如桐子大，每服百丸，食遠臨臥淡薑湯下。</p>
<p>此藥專治脾弱氣鬱，開脾化痰，胸膈堵悶，不思飲食，嘔吐痰涎，精神困倦等症。</p>

<h2>通關散</h2>
<p>皂角如豬牙者，去皮弦，二兩。用生礬一兩，以苧包，入水與牙皂同煮，化下去白礬再煮，令乾取出，曬乾為末。遼細辛（五錢，去土、葉，為末）</p>
<p>上合一處研勻，每遇痰厥及喉閉，不省人事，先以少許吹鼻喉，有嚏可治。</p>
<p>此藥專治中風、中氣、痰厥，不省人事，或痰火喉閉，牙關緊急，湯水不下，以少許吹鼻喉，有嚏可治，無嚏不治。</p>

<h2>黑神散</h2>
<p>棕皮炭　當歸　赤芍　白芍　生地黃　香附（童便炒）　薑炭　五靈脂　熟地黃（各一兩，炒）沉香　乳香（各五錢）　延胡索（一兩）　大黑豆（二兩）　莪朮　紅花（各五錢）　蒲黃（一兩）</p>
<p>上為細末。</p>
<p>此藥治產後胎衣不下，敗血攻心，昏暈欲絕；或橫生倒養，或子死腹中，妊母肢體冷痛，口角流沫，指甲青黑；或血迷心竅，不能言語；或敗血入心，言語錯亂，如見鬼神，狀似癲呆；或惡露不淨，腰痛難忍。產後諸般怪症，難以名狀者，多是敗血所致，服此立效。</p>

<h2>接骨丹</h2>
<p>乳香（一錢，炒）　沒藥（一錢，炒）　血竭（一錢）　硼砂（一錢）　土鱉（一錢，焙乾）　骨碎補（一錢，去毛）　大黃（二錢）　自然銅（一錢，火燒醋淬七次）　歸尾（一錢，醋洗）</p>
<p>上為細末。</p>
<p>專治跌打骨折，先整理對準，用綿衣蓋之，勿令見風，方服此藥。每服七八釐，黃酒調下，如行十里，候接骨有聲。虛弱人只用五釐。</p>

<h2>神授黑神丸</h2>
<p>當歸（一兩，酒炙）　廣木香（二錢）　天麻（四錢）　好墨（二錢五分）　高白麵（五錢）　百草霜（五錢）</p>
<p>共研細面，清水為丸，如彈子大，每服一丸，對症用引。</p>
<p>此藥專治一切失血諸症，急怒傷肝，血不歸經，血熱妄行，鼻中衄血，口內咯血、吐血，痰中帶血，熱血便血等症，服之無不神效。</p>

<h2>加味八寶清胃散</h2>
<p>珍珠（二錢，豆腐煮）　琥珀（一錢五分）　牛黃（五分）　冰片（四錢）　兒茶（二錢）　乳香（五分）　沒藥（五分）　胡黃連（一錢）</p>
<p>上為細末，搽塗患處。</p>
<p>此藥專治咽喉諸症，單雙乳蛾，紅腫疼痛，滿口糜爛，湯水不下，口舌生瘡，瘟發頤，牙癰牙宣等症，敷之立見功效。</p>

<h2>八釐散</h2>
<p>土鱉（十個）　半兩錢（五文）</p>
<p>共為細末，每服八釐，黃酒送下。治症同前接骨丹。</p>

<h2>拔疔散</h2>
<p>食鹽　硃砂　枯礬　硇砂（各一錢）</p>
<p>上為細末，專治紅線等疔，或噁心，疼癢掣骨，憎寒壯熱，牽引麻木。用竹刀刺破，將此藥敷之，其腫痛更甚，少頃平復。</p>

<h2>玉液散</h2>
<p>黃柏（一兩，淨末）　輕粉（一錢）</p>
<p>上為細末，芝麻油調搽患處，干散亦可。忌水洗。</p>
<p>此藥治黃水瘡、薄皮瘡、傷手瘡。若有膿幹上，若無膿水香油調上。</p>

<h2>白粉散</h2>
<p>輕粉（一兩）　冰片（五分）　共研細末。</p>
<p>此藥專治月食瘡、線兒瘡，黃水、薄皮、傷手等瘡。如有膿水乾上，無膿水者香油調上。</p>

<h2>二味拔毒散</h2>
<p>白礬　雄黃（各三錢）</p>
<p>上為細末。</p>
<p>治蛇盤瘡，及無名腫毒。止痛、清熱、化毒，茶滷調搽。</p>

<h2>赤豆拔毒散</h2>
<p>上為細末，用醋調搽。此藥治症與二味拔毒散同。</p>

<h2>保生救苦散</h2>
<p>寒水石　大黃　滑石　黃柏（各等分）</p>
<p>共為細末，香油調塗患處。</p>
<p>此藥專治湯燙火燒，止痛生肌，解毒帶涼。</p>

<h2>痱子藥</h2>
<p>綠豆粉　滑石（水飛過，各等分）</p>
<p>共研細末，不時搽之。治血熱沸騰，因生痤痱。</p>

<h2>通源散</h2>
<p>苦丁香（酒洗，炒，五錢）　大戟（去粗皮，酒洗，炒，二錢五分）　芫花（酒洗，炒，二錢五分）　甘遂（酒洗，炒，二錢五分）　豬腰（一對，竹刀切片，酒漂洗，酥油炙脆）</p>
<p>上為細末，每服二錢，用黃酒調服。</p>
<p>專治水腫蟲脹，四肢腫疼，腹大如鼓，名曰洪水橫流。服此藥之後服補藥，忌鹽醬一百日。</p>

<h2>紅綿散</h2>
<p>枯礬（五分）　干胭脂粉（二分五釐）　麝香（少許）　冰片（一分）　煅爐甘石（五分）</p>
<p>上為細末。</p>
<p>專治耳底腫痛，聤耳膿，或出黃水。先以綿杖展干膿水，用鵝翎管入耳底。</p>

<h2>止血散</h2>
<p>治金瘡血流不止，用此敷之立止。</p>
<p>水獺毛二兩（將皮向上，毛朝下，以火烤毛焦，以刀刮下毛灰，再烤再刮）　紅花（一兩）　共為細末。</p>

<h2>烏金散</h2>
<p>小粉（一兩，炒黑）　五倍子（五錢）　大黃（八錢）</p>
<p>上為細末，醋調搽患處。</p>
<p>專治諸瘡毒，膿已熟不用針刀，將此藥敷貼，其瘡自破。</p>

<h2>二白散</h2>
<p>大貝母（一兩）　南星（一兩）</p>
<p>上為細末。</p>
<p>專治痰核流注，結聚疙疸，不紅不作膿，行長行消，肉色不變。用薑汁調，頻頻敷貼，蜜水、雞子清調敷。</p>

<h2>玉容散</h2>
<p>白附子（二錢）　細辛（一錢）　白芷（一錢）　白蘞（一錢）　白芨（一錢）　防風（一錢）　荊芥（一錢）　姜蠶（一錢）　山梔子（一錢，生）　藁本（一錢）　天麻（一錢）　羌活（一錢）　獨活（一錢）　檀香（一錢）　菊花（一錢）　枯礬（一錢）　甘松（二錢）　山柰（二錢）　紅棗（八個）　絲綿包。</p>
<p>專治面生黯𪒟，或生小瘡，或生痤痱、粉刺之類，並皮膚瘙癢。每清晨洗面，久久自愈。</p>

<h2>六聖散</h2>
<p>乳香　沒藥　川芎　雄黃　白芷（以上各二錢）　盆硝（五錢）</p>
<p>上為細末，每用少許。</p>
<p>專治頭風牙疼赤眼，腦瀉耳鳴，偏正頭疼，鼻塞聲重，及蜈蚣蛇蠍所傷。用時口噙涼水，以藥吹鼻。</p>

<h2>龍腦散</h2>
<p>硼砂（一錢）　冰片（一分）　兒茶（二分）　雄黃（二分）　牛黃（一分）　青黛（水飛，五釐）　延胡粉（五釐）　胡黃連（一分）</p>
<p>上為細末，搽患處。此藥與加味八寶清胃散治法相同。</p>

<h2>觀世音菩薩救苦神膏</h2>
<p>大黃（一兩）　細辛（七錢）　木鱉子（一兩，研）　三稜（一兩）　芫花（八錢）　白芷（八錢）　天花粉（七錢）　桃仁（七錢，研）　蜈蚣（十條）　檳榔（七錢）　密陀僧（四兩，研，收膏用）　甘遂（二兩）　生地（一兩）　大戟（八錢）　莪朮（一兩）　黃柏（八錢）　枳實（八錢）　獨活（七錢）蓖麻子（二兩）　蛇蛻（五錢）　草烏（七錢）　全蠍（七錢，去勾）　五倍子（七錢）　皂角（八錢）　黃連（五錢）　元參（七錢）　穿山甲（七錢）　香附（七錢）　羌活（八錢）　當歸（一兩五錢）　川厚朴（七錢）　杏仁（七錢）　麻黃（八錢）　巴豆（八錢）　防風（七錢）　川烏（一兩）　肉桂（八錢，研末，取膏放入）　飛過黃丹二斤四兩，收膏放入。</p>
<p>製法：地道藥材稱准，用真香芝麻油六斤，浸瓷盆內□日，然後熬膏。用桑皮紙攤成大小膏藥，對症貼之即愈。每修合藥時，須淨手淨口，念：南無大慈大悲救苦救難廣大靈感觀世音菩薩。念千遍。</p>
<p>此方系天師業法善，以世人苦難莫多於病患，誠心濟世。此膏不拘大小病症，用之無不神效，久病新病皆能全愈。如遇危急之症，即將此膏做豆大，每服七粒，滾湯送下，立刻甦醒，百發百中，無不奏功。但甘遂、甘草，藥性相反，不可並用，此膏內有甘遂，如服藥丸，不可用甘草湯，緊記，貼者無論。</p>
<p>一治偏正頭風，右患貼右，左患貼左，正患貼印堂，並卷條塞鼻孔中，口含甘草湯咽之。</p>
<p>一治眼科七十二症。腫病，將耳上角針刺血出貼上。星障翳膜，捲毛倒睫，迎風流淚等症，左患塞左鼻孔，右患塞右鼻孔，卷條塞之，常服甘草湯。</p>
<p>一治喉嚨三十六症。單雙蛾、喉閉、喉風，貼喉上。口含甘草水。要速效，將膏口含化下，不可服甘草水。</p>
<p>一治牙疼，貼上即止，勿服甘草湯。</p>
<p>一治諸般腹疼、胃口疼痛、丹田疼，即於疼處貼之，服甘草湯。丹田穴在臍下一寸七分。</p>
<p>一治中風癱瘓，左患貼左，右患貼右，服甘草湯。不省人事，痰聲如鋸，作丸清湯送下，其痰立下。若牙關緊閉，用鐵箸撬開，將水灌下，或作條插鼻孔中，真有起死回生之功。</p>
<p>一治勞瘵病，貼夾脊穴、尾閭穴、臍口，飲甘草湯，七日癆蟲盡死。咳嗽吐痰，貼前後心，仍服清痰降火補藥。此膏能攻病不能補虛。不可吞服。（尾閭穴在脊骨自下至上七節中空處。夾脊穴即尾閭穴兩旁低微處。）</p>
<p>一治臌脹，水臌、氣臌、血臌，俱貼臍下丹田穴，不可飲甘草。</p>
<p>一治噎膈，氣膈、食膈、痛膈，俱貼胃口、肚臍，常服甘草水。如塞在咽，口咽不下，即貼喉外，口含甘草水。如要速效，作丸服之，不必飲甘草水。</p>
<p>一治哮喘、咳嗽諸症，俱貼前心後心，飲甘草水。如痰盛氣塞不通，或作條塞鼻孔中，或作丸吞服，不可服甘草水。</p>
<p>一治大小便閉，俱貼肚臍，飲甘草湯自通。如數日不通，危在旦夕，作丸送下，空心用蔥汁、甘草汁調服，立下，勿飲甘草水。</p>
<p>一治傷寒時疫，貼肚臍，飲甘草酒，一醉汗出即愈。如五六日不便，作丸吞下，便解而愈矣。</p>
<p>一治瘧疾，一日、二日、三日，俱貼肚臍，飲甘草湯。如發過四五次者，作早晨服下，飲熱酒數杯，即日而止，勿飲甘草水。</p>
<p>一治婦人赤白帶下，貼肚臍及丹田穴，常服甘草水。</p>
<p>一治各種痢疾，俱貼胃口肚臍。四五日不愈，紅用圓眼殼核打碎七個，煎湯送丸下；白用荔枝殼核七個，打碎，煎湯送丸下；紅白並者，用圓眼、荔枝殼核各七個，煎湯送丸下，不必服甘草水。</p>
<p>一治婦人難產逆生，胞衣不下，作丸熱酒送下，立刻便產。產門、小腹，煎甘草湯頻洗，不可服。</p>
<p>一治小兒驚風目翻上，氣喘痰壅氣不通，作條塞鼻孔，貼一膏於臍上。如急作丸服之，勿飲甘草水。</p>
<p>一治小兒諸疳症，貼肚臍上。口疳貼牙床上。口疳不必飲甘草水。</p>
<p>一治婦人經閉不通，貼丹田穴。臍如痛久，作丸服之，小腹上用甘草末、蔥汁塗抹，不可服甘草水。</p>
<p>一治血塊痞積，貼臍上，並貼痞上，飲甘草湯。人健壯者，作丸服之，便泄下矣。</p>
<p>一治外科疔瘡，內服外貼，勿飲甘草水。背疽各痛癤毒，俱貼患處，飲甘草水。癰，作丸服，並貼肺俞穴，勿服甘草水。肺俞穴在脊骨大柱三節下旁去一寸五分。</p>
<p>一治臁瘡腳氣，攤上反貼，上蓋以紙，以帶縛定，一日洗換，十日即愈。</p>
<p>一治大便腸風下血，夢遺白濁，俱貼肚臍，飲甘草水。</p>
<p>一治痔漏，內則卷條插入，外則貼之。</p>
<p>一治跌打損傷，貼患處，飲甘草水自愈。</p>

<h2>龍虎丸</h2>
<p>化龍骨（四兩）　大熟地（四兩）　當歸（四兩）　桂圓（四兩）　真虎骨（四兩）　破故紙（四兩）　砂仁（四兩）　防風（四兩）　廣木香（四兩）　菟絲子（四兩）　山楂（四兩）　陳皮（四兩）　炒杜仲（四兩）　白蒺藜（四兩）　黃芩（四兩）　甘草（二兩）　六神麯（二兩）　甜桔梗（二兩）　貫眾（四兩）　木通（二兩）　川芎（四兩）　牛膝（二兩）　棗仁（四兩）　石膏（二兩）　浙貝（二兩）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>此藥專治諸虛百損，五勞七傷，頭目眩暈，耳鳴，自汗盜汗，遺精便濁，四肢無力，飲食少思，面色痿黃，肌肉消瘦，骨蒸勞熱，失血等症。並能滋枯竭之水而清亢甚之火，久服則陰陽協和，水火既濟，乃扶陰抑陽之要藥也。每服一丸，白開水送下。</p>

<h2>延齡長春丹</h2>
<p>人參（三兩）　當歸（三兩）　黑芝麻（八兩，酒洗，九蒸，俱曬乾）　何首烏（八兩，酒浸，九蒸，曬乾）　枸杞（三兩）　茯神（三兩）　山茱萸（二兩）　杜仲（二兩，鹽水炒）　天冬（二兩）　白朮（二兩，炒）　柏子仁（二兩）　覆盆子（二兩）　黃精（八兩，酒浸，蒸，曬乾）　遠志（五錢，炙）　甘草（五錢）</p>
<p>共為細末，煉蜜為丸，如梧桐子大，久服延年益壽。</p>
<p>此藥專治元氣不足，形體瘦弱，諸虛百損，五勞七傷，腰痛耳鳴，四肢痠軟，老人精寒，陰囊冷汗，及少年先天不足，肌膚憔悴，一切虛損元氣之症，宜服此方。填精益腎，補氣和血，健步輕身，固齒延年，有返老還童之功。每服二錢，空心龍眼湯送，白滾水亦可。</p>

<h2>寧坤至寶丹</h2>
<p>益母草（三兩）　野於朮（五錢）　白芍（五錢）　砂仁（三錢）　生地黃（五錢）　廣橘紅（六錢）　人參（一兩）　川牛膝（一兩）　香附米（五錢）　廣木香（五錢）　條芩（六錢）　落水沉（五錢）　東阿膠（二錢）　雲茯苓（一兩）　烏藥（五錢）　大蘇葉（三錢）　生甘草（一兩）　明硃砂（三錢）琥珀（三錢）　當歸（五錢）　川芎（六錢）</p>
<p>共研細末，煉蜜為丸，重一錢五分，金衣，蠟皮封固。</p>
<p>此丹專治婦人胎前產後諸般百症，大能調經養血，安胎種子，真婦科之妙藥，故名寧坤至寶丹。每服二丸，黃酒化服。</p>
<p>一治經水不行，或前或後，及寒熱往來，骨蒸盜汗，童便老酒下。</p>
<p>一治心氣疼痛，臨經腹痛，赤白帶下，用香附、陳皮湯下。</p>
<p>一治經水紫黑成塊，腹脹脅痛，用紅花、青皮湯下。</p>
<p>一治經水過多，血崩不止，及胎動不安者，用條芩、白朮湯下。如漏紅，加艾葉湯下。</p>
<p>一治嘔吐，薑湯下；咳嗽痰喘，杏仁、桑皮湯下。</p>
<p>一治四肢浮腫，大腹皮、赤苓湯下；小水不利，赤苓、木通湯下；大便失血，黃連、地榆湯下。</p>
<p>一治產後瘀血作痛，童便、蘇木湯下；胞衣不下，歸尾、枳殼、紅花湯下；頭疼，白芷、川芎湯下；橫生逆產，當歸湯下；失血，人參或糯米湯下；身疼痛，秦艽、羌活湯下。</p>
<p>以上諸症，誠恐藥引不便採買，宜用老酒、童便或薑湯下。</p>
<p>胎前產後及無痛婦人常常服之，百病不生，妙難盡述。忌生冷、油膩、煎炒等物，忌用鐵器。</p>

<h2>普濟藥茶</h2>
<p>南藿香（六兩四錢）　蒼朮（七兩二錢）　木香（七兩六錢）　半夏（七兩五錢）　蘇薄荷（七兩八錢）　厚朴（七兩五錢）　陳皮（三兩）　荊芥（八兩一錢）　青皮（六錢）　木瓜（七兩八錢）　枳殼（七兩八錢）　檳榔（七兩八錢）　南蘇葉（八兩一錢）　甘草（三兩，生）　安化茶（二十斤）共研細末，拌勻聽用。</p>
<p>此茶專治胸膈膨悶，腹脘嘈雜，食後倒飽，四時感冒不正之氣，頭疼發熱惡寒，傷風咳嗽，嘔吐涎水。功能消食散寒，寬中下氣，解表清瘟，和胃止嘔。隨便飲之。</p>

<h2>午時茶</h2>
<p>山楂肉（四兩）　麥芽（四兩）　陳皮（二兩）　枳殼（二兩）　厚朴（二兩）　紫蘇（二兩）　香附（三兩）　川芎（一兩）　砂仁（二兩）　蒼朮（一兩）　檳榔（一兩）　薄荷（一兩）　甘草（一兩）　木通（二兩）　沒藥（二兩）　細陳茶（半斤，愈細愈陳者更好）　法制半夏（二兩）</p>
<p>上藥俱研細末，各包，候端陽日午時，用硃砂二錢研細末，水飛，投燒酒一大碗內攪勻，泡淋為末使勻，用末糊作成方膏，每塊重三錢，用水煎服。小兒減半，孕婦忌服。如途中急時不必煎熬，以開水泡作茶飲之。</p>
<p>專治風寒積熱，潮熱惡寒，遍身疼痛，頭昏目暗，肚脹腹脹，不思飲食等症。可代神麯用，神效無比。</p>

<h2>消積化痞丹</h2>
<p>巴豆霜（三錢，去淨油）　三稜（四錢，炒）　青皮（四錢，炒）　丁香（三錢）　製半夏（四錢）　川黃連（三錢）　陳皮（四錢）　木香（三錢）</p>
<p>共為極細末，蜜丸如黃豆粒大。</p>
<p>此丹專治九種心胃疼痛，凡食痛、氣痛、寒痛、蟲痛、聚痛、怒痛、痞痛、酒痛、濕痛等症，每服七八粒，用白開水送下。如覺涼冷，用燒酒一口送下。並治小兒一切遠年近日積聚痞塊，痢疾諸蟲，肚腹疼痛，大便結燥，小便赤黃，以及痰滯、急驚風熱等症。小兒每服二三粒，俱用白滾水送下。忌氣惱生冷，味厚黏滯難化之物。孕婦忌服。</p>

<h2>解酒仙丹</h2>
<p>白果仁（八兩）　葡萄（八兩）　側柏枝（一兩）　薄荷（一兩）　細辛（五分）　潮腦（一分）　細茶（四兩）　當歸（五錢）　丁香（五分）　官桂（五分）　砂仁（一兩）　甘松（一兩）</p>
<p>共為細末，煉蜜為丸，芡實大。每服一丸，細嚼一丸，清茶送下，急能解酒。</p>

<h2>五粒回春丹</h2>
<p>犀角（五錢）　黃芩（二兩）　陳皮（二兩）　羚羊角（五錢）　桔梗（二兩）　馬勃（一兩五錢）　黃連（二兩）　柴胡（一兩）　牛蒡子（一兩五錢）　連翹（一兩五錢）　薄荷（一兩五錢）　姜蠶（一兩）</p>
<p>共為細末，蜜為丸，每丸重二分，硃砂為衣。</p>
<p>此丹專治小兒急慢驚風，積聚痰實，或因外感風寒，牙關緊閉，面青口噤，眉眼不淨，反張鼠視，抽搐昏悶，痰涎壅盛，睡臥不安，氣粗喘滿，夜啼發熱，並四時感冒，痘疹發斑，或初生小兒臍風撮口，驚天吊等症，並皆治之。此藥能解胎毒，去風清熱，化痰鎮驚，安神寧心，止嗽定喘，大有奇功。每服一丸，薄荷湯下。乳母忌動火之物。</p>

<h2>神仙醒酒丹</h2>
<p>葛花（五兩）　赤小豆花（二兩）　綠豆花（二兩）　真柿霜（四兩）　家葛花（搗末，水澄粉，一兩）　白豆蔻</p>
<p>共為細末，和勻，用生藕汁搗和作丸，彈子大，每服一丸，嚼而咽之，立醒。</p>

<h2>加減歸脾丸</h2>
<p>棗仁（一兩五錢，炒，去心）　白茯苓（一兩）　當歸（一兩）　遠志（八錢，炙，去心）　麥冬（一兩五錢，炒，去心）　柏子仁（一兩五錢，去油）　木香（五錢）　白朮（一兩，土炒）　人參（一兩）　貝母（一兩，去心）　橘紅（七錢）　桔梗（一兩）　甘草（三錢，炙）</p>
<p>共為細末，福圓肉湯為丸。每服一錢五分，白滾水下。</p>
<p>此藥專治思多傷脾，心氣不足，精神恍惚，夜臥不寧，怔忡健忘，異夢心煩等症。</p>

<h2>臥龍丹</h2>
<p>牛黃（六分）　蟾酥（六分）　冰片（六分）　麝香（六分）　月石（二錢）　焰硝（二分）　赤金（六十張）　硃砂（二錢）　草霜（四錢）　明雄（二錢）</p>
<p>共為極細面。</p>

<h2>御製平安丹</h2>
<p>麝香（四兩）　燈草灰（十六兩）　豬牙皂（十二兩）　鬧羊花（八兩）　冰片（四兩）　細辛（四兩）西牛黃（二兩四錢）　明雄黃（四兩）　硃砂（四兩）　草霜（四兩）　大腹子（十兩）　炒蒼朮（十兩）　藿香（十二兩）　陳皮（八兩）　製厚朴（八兩）　五加皮（八兩）　茯苓（十六兩）共研極細面。</p>
<p>此丹普救濟世，神效異常，屢試甚驗，用保群生。凡一切中寒、中暑、中風、中濕，感冒觸穢，濕鬱熱蒸，山嵐瘴氣，瘟疫邪毒，絞腸霍亂，每遇卒症，並皆治之，真有捍災御患之功也。</p>
<p>一治染受山嵐瘴氣，頭悶噁心，胸滿肚脹，嘔吐嘈雜，四肢厥冷，精神昏憒，不思飲食，用少許吹鼻中，或用三五分，白開水調服。</p>
<p>一治中風、中暑、中濕、中寒、中火、中氣，觸穢神昏，不省人事，牙關口噤，痰壅氣堵，四肢頑麻，癱瘓不舉，筋骨疼痛，步履艱難，用此丹少許，吹入鼻中，或用三五分，薑湯調服。</p>
<p>一治文武癡癇，痰迷心竅，天行時疫，霍亂痧毒，絞腸痧痛，嘔吐泄瀉，胸堵脹悶，頭暈神昏，用此丹少許吹鼻中，或用三五分，陰陽水調服。</p>
<p>一治喉痹、喉癰、纏喉腫毒、單雙乳蛾、口舌糜爛、牙宣、牙癰、牙疳、齒漏、風火牙疼、骨槽風疼、小兒走馬牙疳、痘疹餘毒攻目、眼疾等症，用丹外敷，內服三五分，立有神效。</p>
<p>一治癰疽發背，對口疔毒，無名腫毒，疥瘡頑癬，瘰癧鼠瘡，乳癰結毒，臁瘡痔漏，臟毒腸風，小兒丹毒，暑令毒癤，厥痞胎毒，臍瘡浸水，用此丹調塗患處。大人三五分，小兒二三分，燈心湯調服。</p>
<p>一治蜈蚣蛇蠍螫毒，酒調此丹塗搽，立止疼痛。凡遇六畜中疫，用丹吹鼻、調灌，立全。亦利物之一助也。</p>
