<header data-type="book">
<h1>醫易通說</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>唐宗海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1892">公元1892年</data></dd></div>
</dl>
</header>

<h1>上卷</h1>

<h2>緣起</h2>
<p>余每談醫，輒引《易》義，聽者多河漢其言。不知人身臟腑本於天地陰陽，而發明天地陰陽者，莫備於《易》。雖近出西學，窺測算量、光電化熱、汽機制造，無不精奇。然推究其理，一一皆具於《易》中。故吾說《易》，每參西學。西人譯《易》，譯為變化二字，是西人已知《易經》為化學氣數之根源。將來，西人必有通中國文字者，詳譯《易》文，當大有益於西學，乃知中國聖人貫三才，匯萬匯，亙古今而莫能外。惜乎中國自元明後制藝設科，學術浮薄，於《詩》《禮》《春秋》，且不能身體力行，何況《易經》所言皆是性與天道，故注家空談名理，罔得實跡。甚且翻衍卦爻與小兒鬥七巧圖更無以異，將一部《易經》置諸無用。豈知聖人作《易》，開物成務，無一語托諸空談。愧吾尠學，未能通德類情，以盡發《易經》之旨。惟於《易》道，見有合於醫理者必引伸之，為醫學探源，為易學引緒。尤願中國通儒共參《易》旨，泰西賢士同明《易》道，以參贊天地之化育，則誠盛德大業矣。</p>

<h2>考辨</h2>
<p>上古之《易》，並無文辭，至文王、周公、孔子乃作彖象、爻辭、繫辭，皆是《易》之註腳。其實《易經》只有爻象卦圖而已。當孔子時，必有先天八卦圖、《河》《洛》九數、十數圖、後天八卦圖、六十四卦圖。是以孔子《繫辭》第一章言天地定位，八卦相蕩，是言先天八卦。第四章言《易》與天地准，知幽明之故，通乎晝夜之道，是言九數法天地之晝夜也。九數世名《洛書》，惟宋·劉牧以為《河圖》。今考《繫辭》，先稱《河圖》，後稱《洛書》。九數之義居先，是當改名《河圖》，以與《易》義相合。第九章曰天一地二，天三地四云云，又言十數，象五行四時以成變化也。十數世名《河圖》，惟宋·劉牧以為《洛書》。今考《繫辭》，十數之義居後，是當改名《洛書》。再觀《下系》第五章曰：日往則月來，月往則日來，日月相推而明生焉。寒往則暑來，暑往則寒來，寒暑相推而歲成焉。先言晝夜，後言四時，則九數法晝夜當居於先，名《河圖》：十數法四時當居於後，名《洛書》，義可想見。劉牧說本希夷，不為無據。先儒力辨其非，習於舊聞，不信劉說。又謂天乃錫禹《洪範》《九疇》，為龜書出洛之證，不知《洪範》原文並無龜書，《九疇》效法九數，亦非法龜書，何乃執天錫為出洛之據？余按：「圖」、「書」二字，「圖」謂圓形，「書」謂積畫。九數分八方，其形圓，有五數，無十數，因龍馬之形不方而背又屬陽，圖負於龍馬之背，是以無腹下之十數，只有背上之五數也。若乎《洛書》分四方，有天五，又有地十，因龜之腹背皆有積畫，背甲之畫象天，腹版之畫象地，背上之畫其數奇，腹下之畫其數偶，合為十數，以成天地對待之形。蓋龜形本方，又有腹背之甲版以象天地，所以其數以天地分言也。今因從劉說，改九為《河圖》，十為《洛書》。非敢阿好，實與《易》旨有合耳。義詳於下。</p>

<h2>總綱</h2>
<p>西學有《物理推原》一書，由一名一物次第推求，而歸本於造化主，是萬殊推到一本。《中庸》所謂其次致曲，曲能有誠也。中國聖人作《易》，由太極衍為八卦，由八卦重為六十四卦，範圍天地，曲成萬物，是一本散為萬殊，孔子所謂吾道一以貫之也。太極者，謂天地未分之先，只渾然元氣一團而已。由太極生出兩儀，則有陰有陽；由兩儀生出四象，則陰中又有陽，陽中又有陰。由四象生出八卦，邵子所謂先天八卦也。非僅空名，實有此八樣氣化以化成天地。於是乎天旋地轉，陽為晝，陰為夜，遂有《河圖》九數之位。積晝夜以成四時，天地轉運，四時互更，又有《洛書》十數之位。天與地一往一來，將先天八卦之氣，變而為後天八卦之運，則萬物成矣。物相雜，卦相蕩，合為六十四卦，三百八十四爻，則變化盡矣。《焦氏易林》又衍為三百八十四卦，二千三百四爻。然《內經》云：陰陽者，數之可千，推之可萬，安能以爻象盡之。聖人舉例發凡，備於六十四卦，廣矣，大矣，莫能外矣。何必更加推衍。吾於《易》義，尤不過窺豹一斑，只就確然可據有關醫學者，約略言之。所望醫學昌明，允躋仁壽。至於《易》學，尤望海內群公闡明聖道，位天地，育萬物，豈曰小補之哉！謹將臆說序列於後。</p>

<h2>太極</h2>
<p>天地未分之先，無物無象，人誰得而見之。聖人原始返終，由有形推到無形，知天地初生之始，只是渾然元氣一團，無以名之，尊稱之曰太極。欲將太極寫圖，則當作，以象渾然☯元氣之形。泰西算法從○起，從九止，謂天地之數皆起於○，即是起於太極之義。中國數起一，一字本作-，後人引長作一，其實古只一點，以象太極。故許氏《說文》云：惟初太始，道立於一，造分天地，化成萬物。世稱庖羲一畫開天，皆指太極而言。至宋·周濂溪先生乃以為☯無極圖，而另以為太極圖，其說未嘗☯不通。然圖既分黑白，已有陰陽，是☯已生兩儀，不得仍名太極也。雖草木之核，內仁多是兩瓣。然五穀之實不盡兩瓣，不得以核仁兩瓣為象太極。凡核仁兩瓣者，其中間必有微芽，是芽象太極，兩瓣仍象兩儀，故追寫太極，必以為元氣☯渾然之象。</p>
<p>又按：《易經》只推到太極而止，並未推到無極。蓋太極者，造化之根柢也。若云無極則並根柢而無之，亦何關於造化。故周子無極之說，未免頭上安頭。</p>
<p>天地初生，無從目睹，惟將人物初生考驗之，則太極之象可見。有如雞卵，皆以為太極一團之象。然卵白象天，卵黃象地，黃為陰，白為陽，已分陰陽，便是兩儀，不得名為太極也。惟未成卵之先，附於雌雞背脊骨間，只有細子，小者如梧子，大者如彈丸，只是圓核一枚，並無黃白二色，乃為雞卵之太極。人之初胎，一月為胚，亦只渾然一團，是為生人之太極。推之萬物，返之兩大，太極之義從可想矣。</p>
<p>太極者，肇造天地人物之真宰也。耶穌、天主，尊崇造化主，虛奉其名，不知其實。問如何肇造天地人物，則但曰神妙莫測。不知聖人言太極則真是造化主。如何肇造，如何神妙，皆有變化生成之實據，不徒托諸空談。《易》其至矣乎。</p>
<p>男守潛按：西人生理學言生殖器中有核如卵稍虛。男子精以顯微鏡照之，有動物形如蝌蚪，為精蟲，男女交則精蟲入女之卵核，補其虛處而成孕。夫女之卵核即太極形，男女交成孕，即太極生兩儀。男子之精蟲如蝌蚪，女卵核虛處如蝌蚪，相補完兩儀圖。此圖今以為太極也。詳後。</p>

<h2>兩儀</h2>
<p>太極動而生陽，靜而生陰，於是乎化生兩儀。兩儀者，一陰一陽也。原無形象，今欲擬諸形☯容，則當作，左為陽，右為陰。以北為陽之初生，以南為陰之初起，有此兩儀，而天地萬物皆自此生。故《內經·陰陽應象論》曰：陰陽者，萬物之綱紀，變化之父母，生殺之本始。積陽為天，積陰為地。陰靜陽躁，陰生陽長。陽化氣，陰化形。陰陽者，血氣之男女也。左右者，陰陽之道路也。水火者，陰陽之徵兆也。陰在內，陽之守，陽在外，陰之使也。謹按：人身由一陰一陽，生出三陰三陽，三陰又分手足六經，合於坤之六爻。三陽亦分手足六經，合於乾之六爻。故人身一小天地，而天地只一陰陽。《內經》又曰：陽為氣，陰為味，則辨藥之性亦自此起。</p>
<p>《內經·生氣通天論》曰：自古通天者，生之本，本於陰陽。陰者，藏精而起亟也。陽者，衛外而為固也。謹按：藏精、衛外，皆是言人身陰陽之功用，惟起亟二字，是言起於根源處。亟即古太極之極，言陽根於陰，陰根於陽，起於太極之義。中國聖人言兩儀生於太極，明且確矣。泰西《舊約書·創世紀》曰：神造天地，其初空虛黑暗，神說要有光，就有了光。神將光暗分開了，神稱光為晝，稱暗為夜。此與太極生兩儀之說相合。所明空虛黑暗，即《內經》起亟者也。中國聖人言太極是造分天地之根源，而泰西《創世記》另言有神造天地。夫太極之外，更有何神？宋·周子於太極外再溯無極，《創世記》於天地外另有一神，皆不免於托空。</p>
<p>問陰陽初分之時，究是何物何象？答曰：只是光暗二色而已。問曰：可是冷熱二氣否？答曰：先分光暗，後分冷熱。譬如侵晨有光而不熱，黃昏已暗而不冷，則知先有光暗，後有冷熱。</p>

<h2>四象</h2>
<p>既有陰陽互相感召，陽育陰，陰含陽，泰西名為發力，又名吸力、攝力，互相吸攝。於是陰中有陽，陽中有陰。故陰陽二氣又分為四，名曰四象。凡此四端，尚元定形，未可以圖寫之。今欲擬諸形容，則當作，此圖☯並非實象，不過以左為陽，而陽中又有陰；以右為陰，而陰中又有陽，略寫四象之意。閱者幸勿拘執。邵康節有平方圖，於四象之理尚能形容，今附如下。</p>

<h2>先天八卦</h2>
<figure>
<img data-orig-src="urn:270:10851.jpg" alt="四象圖">
</figure>
<p>兩儀生四象，四象生八卦，由八卦生六十四卦。邵子皆有圖，茲不具錄。</p>
<p>既有四象，於是變生八卦。邵子所謂先天八卦也。今將邵子之圖列於下端。</p>
<p>上圖下二位，一陰一陽為兩儀。中四位，太陽、少陰、太陰、少陽為四象，由四象而生出八卦上八位。乾、兌、離、震為陽之所生，巽、坎、艮、坤為陰之所生。又以乾、兌生於太陽，離、震生於少陰，巽、坎生於少陽，艮、坤生於太陰。次第相生，序列其數，則為乾一、兌二、離三、震四、巽五、坎六、艮七、坤八，邵子所謂先天八卦之數也。後人以先天二字，與《易經》先天弗違，後天奉若，義不相合，遂詆其非。然考八卦，實有先後二義，位次各有不同。雖天字之名不甚賅洽，不得謂卦無先後也。故《繫辭》天地定位二章，在帝出乎震章之前，足見帝出乎震章是言後天卦，當在後；天地定位章是言先天卦，當在前也。</p>
<p>推衍八卦之序，而知人之初胎在母腹中，第一月只是一點元陽之氣以應乾一，有氣即有液；第二月氣又化液以應兌二，主澤液；第三月氣澤合化為熱以應離三；第四月振振而動以應震四，既震動則有呼吸，象風氣；第五月子隨母氣有呼吸以應巽五；第六月胎水始盛以應坎六；第七月子之腸胃已具以應艮七，主中土；第八月肌肉皆成以應坤八。形體俱全，故凡懷孕逾八月生者，其子易養，不滿八月則子難養。今醫遇人體弱，以為先天不足，所謂先天，即指胎元而言。</p>
<p>再按：人在胎中先生頭，為乾一；次生肺，為兌二，次生心，為離三；次生肝膽，為震四、巽五；次生腎，為坎六；次生腸胃，為艮七；次生肌肉，為坤八。西醫剖視，大略如此，頗合先天八卦之象。</p>
<p>數者，所以紀氣也。苟無其氣，則數只空名，非造化之確數矣。有如先天八卦之數，皆實有其氣可憑。乾居一數者，蓋肇造天地之先，太極初分，先有天陽，只一點光氣而已，故乾居一數，有此一點光氣。次有潤澤之氣，故兌澤居二。光澤二氣合化為熱，於是生火，故離火居三。火氣發則震動，故震居四。有發動即有往來，是生風氣，故巽風居五。雷動風散，雨水斯降，故坎水居六。有流即有止，有水即有山，故艮居七。山水具而地體成，故坤地居八。古人未有此說。余覽泰西《舊約書·創世紀》云：神造天地之始，空虛無物。神曰：要有光，就有了光。此即《易經》先天卦乾居一數之義。摩西耶穌出於西土，未讀中國《易經》，其言創世，先言有光，恰符乾一之數，非聰明絕世，安能言此。惜其說出於想像，不能次第推詳，故其後言神要有水，要有火，要有山，要有地，與《易》之序不合。揆之造化，次第未符。不如中國聖人所列先天八卦，次第相生，與造化絲毫不差。今人不究《易》義，抑知《易》道精博，佛釋、耶穌之教，何一而不賅哉。</p>
<p>問曰：先天八卦之數由一至八，皆順數也，《繫辭》何以有數往者順，知來者逆之說？答曰：由一至八，此天地並未成形之先，原無定位，只是一氣相生，故畫卦則一陰一陽，次第相加，而造化則由一至八，陰陽相生。此生陰生陽之數，並無順逆者也。惟天地已成形後，則有定位，有定位則陰陽對待，八卦相錯，於是乎分陰分陽。陽數順行，陰數逆行，陽為晝，陰為夜，陽法天，陰法地，天旋地轉，寒往暑來，《易》所謂數往者順，知來者逆也。另圖如下。</p>
<figure>
<img data-orig-src="urn:270:10852.jpg" alt="圖一">
</figure>
<p>上先天八卦方位象數圖義原出於《易》，並非邵子創說。《繫辭》曰：天地定位，山澤通氣，雷風相搏，水火不相射，八卦相錯，數往者順，知來者逆，即此之謂也。</p>
<p>問曰：震、離、兌何以當居左？巽、坎、艮何以當居右？答曰：此以其數定之也。陽數順主生，當居左，故自乾至震位在左；陰數逆主成，當居右，故自坤至巽位在右。以其數之順逆分為左右，八卦隨之，遂成對待之形。以六子論則乾坤者，父母也。艮、坎、震三男卦皆依於坤母。巽、離、兌三女卦皆依於乾父。陰求陽，陽求陰，故《易》曰：乾稱父，坤稱母。震一索而得男，故謂之長男；巽一索而得女，故謂之長女；坎再索而得男，故謂之中男；離再索而得女，故謂之中女；艮三索而得男，故謂之少男；兌三索而得女，故謂之少女。索者，求也，取也。天索地氣，地索天氣。泰西天學名為發力，又名吸力，又名攝力，實即《周易》所謂索也。西人謂天空純是冷氣，地心純是熱質，皆是陰陽互換之證。惟西人言天，冷際上仍是熱際，則出於臆斷，並無考驗，且與吸力、發力之說相閡，安有冷際上又有熱際之理。即云冷際上又有熱際，亦欺人語，誰往試驗。不知中國聖人衍出先天八卦，凡陽卦皆依附於坤，凡陰卦皆依附於乾，而天純冷，地純熱，陰陽互換，象已見於卦圖，不待西人乘氣球，鑿地穴，始知之也。堪輿家《青囊經》雖偽書，然頗通《易》。其曰：天依形，地附氣，陽育陰，陰含陽。即此之謂也。</p>
<p>問：數往者順，知來者逆，何者為往，何者為來？答曰：日往則月來，月往則日來，寒往則暑來，暑往則寒來，皆言天地之往來也。以一日論之，自子至午，上半日天左旋，行震、離、兌之位，其數逆，為來；自午至子，下半日行巽、坎、艮之位，其數順，為往。此天之往來也。若乎地之往來，地右轉，自子至午，上半日行艮、坎、巽之位，其數逆，為來；自午至子，下半日行兌、離、震之位，其數順，為往。地與天相對待而互相往來，以成晝夜。由一日推至一年，由一年推至一運，以至於十二萬年為一元，天地往來之數不外於此，人事之代謝亦不外於此。聖人所以能前知，豈怪誕哉。</p>
<p>問曰：先天八卦之方位，有可實驗之證乎？答曰：觀於天地而知矣。坤位在北，故地球偏居北方；乾位在南，故天頂正在南方。是以考中星者必以正南為天頂。水源生於西，坎在西也；日出於東，離在東也。雖《洛書》之數以水屬北方，然《洛書》配後天八卦主四時，言水生成之時則在北方，非謂水氣出於北方也。先天八卦以氣言，則水之氣實生於西，故天下之水源皆在於西。泰西人論海亦謂常往東流，可知水源在西矣。《洛書》以火屬南方，亦主時令言。若以氣言，則火實生東方。東方屬木，鑽木取火，即是離火在東之驗。艮在西北，故西北多山；兌在東南，故東南多湖澤。西人天學謂天有恆風，起向西南，樹枝不動，亦有此風，一刻行六里，可謂先天巽在西南之實證。西南在《河圖》當二數，漢·管輅占云：巽二起風，即指先天巽方而言。震在東北，應寅方，立春萬物萌動。先天震與巽對待，巽之恆風吹向震東，震氣搏之，復還於巽，震巽合而為恆卦，即取恆風之義。中國人久不考驗，賴有泰西天學考出恆風，而益見聖人名卦之理。</p>
<p>先天主氣，後天主運，運主成物，氣主生物。凡天地間物，其秉氣以生者，多秉於先天卦氣也。有獸如鹿，是秉先天坤震之氣，震居東北，在今關東，與正北坤卦相合，是為復卦。鹿秉此氣，故鹿茸以關東者為佳。冬至一陽生，復卦值月，故鹿解角生茸以應之，用能補陰中之陽氣。麋是秉先天乾巽之氣，先天巽居西南，在今雲南吐蕃，與正南乾卦相合，是為姤卦。糜秉此氣，故麋茸以吐番者為佳。夏至一陰生，姤卦值月，故麋角解而生茸，用能補陽中之陰血。柑、橙、橘、柚皮皆青，有銅綠之色，是秉先天兌金之氣。先天兌在東南，當四綠之位，故皮綠，內含汁液，是為兌澤，熟則轉紅，是轉為後天兌之七赤也。柑橘不逾淮，以淮北乃正東方，屬先天離卦，兌澤遇離火，則為澤火革。是以橘逾淮北，則變為枳而甘澤減矣。他如荷、藕秉先天離氣，梨、菔秉先天坎氣，趁此以求，則藥性可得其真。</p>
<p>先天八卦，以對待為體，蓋大造之匡廓也。既有此匡廓，於是天旋地轉，以生晝夜，遂有《河圖》之九數。晝夜既生，積為四時，遂有《洛書》之十數。</p>
<figure>
<img data-orig-src="urn:270:10853.jpg" alt="河圖">
</figure>
<p>此世所傳《洛書》圖，惟宋·劉牧以為《河圖》。先儒皆詆其非。然劉牧云得於陳希夷。希夷頗悉陰陽之蘊，其說當是。《易》稱《河圖》在前，《洛書》在後。今考氣化，此數實應居前。故從劉牧改名《河圖》，蓋理求其是而已，何必有成見哉。</p>
<p>中五立極，臨制四方。戴九履一，左三右七，二四為肩，六八為足。陽數象天，陰數象地。陽數左旋，從北方起，一在正北，三在正東，九在正南，七在正西，而復還於一，為一周。陰數右旋，從西南方起，二在西南，四在東南，八在東北，六在西北。以對待計之則為十，以縱橫計之則為十五。五、十者，天地相合之數，萬物之根柢，即太極之功用也。</p>
<p>男祖鑑曰：《河圖》之數，法天象地，天旋地轉，互相乘除。陽數起於三，三三如九而得九數，三九二十七而得七數，三七二十一而得一數，一三如三，而得三數，皆左旋以法天，故日東出而西沒也。陰數起於二，二二如四而得四數，二四如八而得八數，二八一十六而得六數，二六一十二而得二數，皆右旋以法地，故地右轉以迎天也。西洋天學但謂地球每日右旋一周以成晝夜，而不知地右旋則天左旋，不得但言地轉，不言天轉也。天旋地轉，日往月來，《易》所謂日月相推而明生焉，即指《河圖》而言。《九數通考》云：天圍三而因以三乘，地周四而折半起算，因以二乘。折半之說太迂曲。蓋天起於一，原無乘除，至三數始有乘除，故天數以三為乘也。地數起於二，已有乘除，故地數即以二為乘也。</p>
<p>上條經，先父信筆附入，故仍原稿不低格。祖鑑系守潛原名</p>
<p>問：天圍三，地周四，《易》義有取於此否？答曰：有。《易》法天地，故首乾坤。凡陽爻皆從乾來，法天之象。天圍三，以三乘之極於九，故陽爻用九。凡陰爻皆由坤來，法地之象。地周四，以四乘之極於十六，故陰爻用六。天三極於九，內含五數，地四極於六，內含十數，《易》用九六者，所以盡天地之數也。</p>
<p>問曰：天地只一區宇耳，何以分此三彼二，此五彼六，而定為九方，分為九數哉？答曰：《河圖》本於晝夜，晝夜以日為主。日在天則有光，地承日則有熱，以光熱論之則其數顯然。東方日初出，其時天有三分光，故其數三，地承日光恰在西南，地有二分熱，故其數二。辰巳之時，日臨中五，其時天有五分光，故其數五。地承日光，恰在辰位，其時地有四分熱，故其數四。午未時天在正南，地在東北，天有九分光，故其數九。地有八分熱，故其數八。申酉時天在西方，有七分光，故其數七。地在西北，有六分熱，故其數六。戌亥子之時，日在地下正北方，其時天只有一分光，故其數一。地轉中宮，其時全無熱氣，故中宮只有天五之數而無地數也。至寅卯時則天光又轉到三數，地熱又轉到二數矣。天至辰而臨中五，地至戌而轉中宮，故《內經》以辰為天門，戌為地戶。王冰注戌為天門，辰為地戶，則顛倒矣。光熱之說不見於古，然《河圖》之數以紀晝夜，《易》不云乎，日月相推而明生焉，既光之謂也；日以暄之，即熱之謂也。參以泰西光熱之學而易理分明。</p>
<p>男祖鑑曰：《洛書》為相加之數，加法以次第論，故《洛書》天一、地二、天三、地四，依次遞加，所以明天地一周之次序。《河圖》之數以紀天光地熱，積累而成，故用乘。天光由三而累乘之，地熱由二而累乘之，其數恰符，是天地之巧合。隸首作算，實取於此，故凡算法皆不離加減乘除也。</p>
<p>九數分為九宮，黃帝畫井分疆，實本於此。但有數與方隅，並無色也。古人又以七色隸之，不知起於何時。然乾為大赤，配九紫；坎為赤，配七赤；則由來久矣。</p>
<p>七色之說，古未有解。今就一年之地面觀之，而七色可驗。東方初春，草木青翠，故三為碧。辰巳月初夏，草木茂綠，故四為綠。夏時赤日當天，正在南方，故九為紫。未申月夏末秋初，草木黝黑，故二為黑。秋令正西方，木葉翻紅，故七為赤。亥月白露為霜，見於地為白色，故六為白。冬月雪盛，故一為白。冬春之交，猶有霜雪，故八亦為白。惟中央五黃，系中土之色，四時不變。古無是說，然不取此象，則義無可通。竊嘗遠觀近取，而立是說，或亦千慮一得耳。</p>
<p>《河圖》九數之方位與先天八卦恰相配合，坤一、乾九、離三、坎七、震八、巽二、兌四、艮六，配取之例，未知出於何時。然漢·管輅占巽二起風，楊子云《太元經》多准此數，則由來已久。況乾為大赤配九紫，坎為赤配七赤，已具於《易》。惟中五之數，無卦相配，蓋中五者，太極也。故曰中五立極。九數縱橫，皆得十五，即是各有一太極。</p>
<p>後天八卦之方位亦與此數合，故又以後天八卦隸之。一白坎、二黑坤、三碧震、四綠巽、五黃中、六白乾、七赤兌、八白艮、九紫離。</p>
<p>堪輿家以《河圖》九數推衍元運，一、二、三為上元，四、五、六為中元，七、八、九為下元。不知雖分三元，實只兩元。譬如一日，實只一晝一夜而已。元運推算之法，每數各管二十年。蓋天行一位則地行二位，天行三位，則地行四位，共八十年。天行五位，地亦在五位。將此五數寄於巽方，只管十年，以上共合為九十年。由一至五皆順數，是為上元。自此天行九位，地行八位，天行七位，地行六位，共八十年。天又行乾方，遂轉為地下。地將轉西南，而正臨五位，將此五數寄於乾方，只管十年。以上共合為九十年。由九退至五皆逆數，是為下元。三元行盡，天乃復歸於一，地乃復歸於二。上下兩元，其數一順一逆，不能相接，必天地交於中五，以為樞紐，然後能超神接氣，故《內經》以辰戌為天門地戶。凡臨中五，只須十年，因中宮較窄，故只須十年已行過了。</p>
<p>《河圖》之數皆天左旋，地右轉。驗之於人，耳目象天，手足象地。《內經》曰：右耳目不如左明也。左手足不如右強也。東方，陽也。陽者其精並於上，上明而下虛，故耳目聰明而手足不便也。西方，陰也。陰者其精並於下，下盛而上虛，故耳目不聰明而手足便也。</p>
<p>《內經》有以臟腑配九數者。「六節臟象論」曰：分為九野。九野為九臟，形臟四，神臟五。形臟謂胃、大、小腸、膀胱，神臟謂心、肝、脾、肺，腎，所以藏神也。</p>
<p>《河圖》之數，配後天八卦，驗之於人，有確切不移者，無過於女子七歲更齒，二七而天癸至；男子八歲更齒，二八而天癸至。蓋少女屬兌卦，得七數，少男屬艮卦，得八數，故以七、八起算。義詳下乾坤六子章。</p>
<p>天地間物，形色不齊，然不過此七色而已。西人用三角玻璃照出日分七色，亦是《河圖》七色之驗。</p>
<p>此世所傳《河圖》，今改名《洛書》，義見前考辨章。再按：《易經》先言《河圖》主氣，主生，自當以成數為是。次言《洛書》主運，主成。觀《易·繫辭》天一地二章，是言《洛書》十數。其曰成變化，行鬼神者，以其主成也。行者，即五行之謂也。</p>
<figure>
<img data-orig-src="urn:270:10854.jpg" alt="洛書圖">
</figure>
<p>此圖以成數為主，以五行為用，自當在九數之後，是以從劉牧，改名為《洛書》。</p>
<p>《洛書》之數，一六共宗，二七同道，三八為朋，四九為友，五十相守。蔣大鴻曰：聖人觀象而求其義，以奇屬陽，以偶屬陰，其數參五，所以齊一。其形對待，所以往來。四時之代謝，由此而運。萬物之化育，由此而胚。一生一成，皆陰陽交媾之妙。二氣相交，五行兆焉。此數語頗悉其理。然蔣大鴻仍從舊說名《河圖》，又謂聖人本此圖始畫八卦。不知《繫辭》明言：仰觀俯察，近取諸身，遠取諸物，始畫八卦。至於《河圖》、《洛書》，則但曰聖人則之，並未言本此畫卦。且此圖四方以配八卦，實屬不合。術家折四隅之數，補成八卦，牽強已極，非造化之真跡也。</p>
<p>《洛書》者，五行之根原也。其數以一、三、五、七、九，屬之於天；以二、四、六、八、十，屬之於地。天左行，地右行，天行五步，地亦行五步，二五媾精，遂生成水、火、木、金、土，故名曰五行。</p>
<p>男祖鑑曰：西洋天學言地右轉，有循行之軌道，而不言天轉，中國舊說言天左旋，不言地轉，皆不知古聖人五行之理。古聖人觀於《洛書》而知天左行，地右行，一年各行五步，故名五行。然則知天地所行之軌道者，莫如《洛書》也。</p>
<p>又曰：五行一生一成，而有水、火、木、金、土。此有可以實驗者：從冬至起，天左行在北，其時霜雪漸盛，為天一生水之驗。天在北，則地在南，日晷漸長，為地二生火之驗。立春之後，天行在東，草木皆生，為天三生木之驗。地行在西，為地四生金之候。但金在土暗生，人無從驗；菊是秋花而生於春，亦即地四生金之一端。春分以後，天行辰位，臨黃道，交其時，天在五，地亦在此，承天之合。故但言天五為生土之時，農乃播谷，是其驗也。夏至以後，天行正南，合於地二之位，其時赤日流金，為天七成火之驗。夏至後，地行正北，合於天一之數，其時洪水盛漲，為地六成水之驗。立秋後，地行東方，與天三之位合，其時草木成實，為地八成木之驗。天行西方，與地四之位合，其時草木黃落，鞠有黃華，為天九成金之驗。重九後，地行戌位，天體漸低，地體漸高，故但言地十為成土之時。其時農功告成，即地十成土之驗。五、十二位，寄於辰戌，故辰戌為天門、地戶。凡此十數，以紀五行，成四時。故《易》曰：變通莫大乎四時。西人斥金、木二物不足以當五行，中國人和之，亦以為然。不知五行者，言天左行，地右行，而有一步生水，二步生火之義，非執有象之五物言也。是以五行括盡天地之氣化。西人立土、水、火、風四端，不知風即木氣也。去金不言，試問數十種金從何化生？秋日草木黃落，感何氣化？知有形之金而不知無形之氣，以西人未讀中國書，不知《洛書》十數，固不知五行。奈何中國人日讀聖人書，而亦不考耶。</p>
<p>《洛書》之數，一生一成，其間必得五數。《易》所謂五位相得而各有合。蓋中五者，太極也。四方者，四象也。中五之極，臨制四方，五行皆得中五，乃能生成。所謂物物各有一太極。</p>
<p>五行分為五方，今就地球剖分之。英、法當四九金位，是為西方。俄、美當一六水位，是為北方。非洲、澳洲當二七火位，是為南方。東洋大海當三八木位，是為東方。中國當五十土位，是為中央。五洲惟東洋一片汪洋，並無土地。雖有琉球、日本，究竟土面無多。蓋東方屬三八木位，水來生木，是以多水。木能剋土，是以少土。然雖少土，而以方位論之，不得謂非東方也。惟其以海為東方，然後知中國實居中央，與《洛書》之位恰合。今人以崑崙為地中，因其水分四面流也。然崑崙只是地之腦頂，《撼龍經》云：崑崙山是天地骨，中鎮天地為巨物，如人脊背與頂梁，生出四肢龍突兀。是崑崙山如腦頂，中國在前面，如人之腹心。美利堅在背面，如人之背心。以《洛書》十數論，則天五是地上之中宮，中國配之。地十是地下之中宮，美利堅配之。又以五印度為中者，乃中外形勢之說，實非大造之定位也。</p>
<p>《內經·陰陽大論》曰：東方生風，風生木，木生酸，酸生肝，肝生筋。在色為蒼，在音為角，在聲為呼，在變動為握，在竅為目，在志為怒。其畜雞，其穀麥，其數八，其臭臊。南方生熱，熱生火，火生苦，苦生心，心生血。在色為赤，在音為徵，在聲為笑，在變動為擾，在竅為舌，在志為喜。其畜羊，其谷黍，其數七，其臭焦。中央生濕，濕生土，土生甘，甘生脾，脾生肉。在色為黃，在音為宮，在聲為歌，在變動為噦，在竅為口，在志為思。其畜牛，其谷稷，其數五，其臭香。西方生燥，燥生金，金生辛，辛生肺，肺生皮毛。在色為白，在音為商，在聲為哭，在變動為咳，在竅為鼻，在志為憂。其畜馬，其谷稻，其數九，其臭腥。北方生寒，寒生水，水生咸，咸生腎，腎生骨，骨生髓。在色為黑，在音為羽，在聲為呻，在變動為慄，在竅為耳，在志為恐。其畜彘，其谷豆，其數六，其臭腐。</p>
<p>五倫五常之性，本於五行，出於五臟。仁者木之性，出於肝。義者金之性，出於肺。禮者火之性，出於心。智者水之性，出於腎。信者土之性，出於脾。五方之民，性各有偏，人有厚薄，性亦不齊，然皆秉天地之五行，莫不具有本性，故孟子曰：人性皆善也。蓋《洛書》之數，以五十為中宮，孔子之教，以五常為中道，體天地，貫四時，所謂時中之聖也。佛主仁而義不備，道主義而仁不全，天主、耶穌各得一性之偏，而五者未備。雖各有理致，與孔子教中之道不同。蓋孔子生於中國，以中立教，此非強人為之也，實天地生成自有之性。特恐人慾錮蔽，故必立教以明之。今試驗諸物，而知五常之性，本於天矣。雁飛則成行，居則成偶，從一而終，有夫婦之倫禮也。雁何故有禮哉？蓋雁乃隨陽之鳥也。日行北陸，則雁遷居至北；日行南陸，則雁遷居至南。日者，離火也，雁秉火德，故主有禮。仲秋之月，鳩化為鷹，應西方金氣而主殺義也。仲春之月，鷹化為鳩，名布穀鳥，應東方木氣而主生仁也。以一物應時變性，蓋知人性之秉於五行。獸之有信，無過於象。越南、印度等處設陷阱，象落其中，教令投誠，象點頭，則引出，終身相從，或代耕作，永不叛也。按：其地正當坤方，坤土主信。象鼻極長，鼻準屬脾，鼻長土旺，是以有信。象色黑而兼白，黑者二黑，坤之正色也。白者坤之對宮八白，良方之色。艮亦屬土，象得坤艮之間色，秉純土之氣所生，是以有信。信與忠同情而異位。忠者合於天地之中氣，應乎《洛書》之中五，必秉中宮五黃之正氣，然後有忠。試觀蜂蟻有君臣，其形腰中特細，以應中央。惟黃蜂、黃蟻乃有君臣，黃是中五之色，腰既中細，色又應中央，是以有忠也。龜能前知，鼠不穿空倉，二物皆秉北方水性，故主智。腎者，水臟也。凡物之生，皆秉父母之腎氣。蜼獸尾長過身，是腎中督脈極長，知尊貴老。烏鴉純黑，得腎水之氣，知反哺孝養，皆因秉腎氣足，故報本返始，不忘其由生也。相法言人耳垂有黑痣主孝，亦以腎開竅於耳，故於此驗孝。夫鳥獸猶有五常，豈可人而不如乎。</p>
<p>天干地支，非《易經》之正旨，然亦《易》理所有，且其根源，實具於《洛書》，故即繼《洛書》而遞及之。</p>

<h2>天干</h2>
<p>十干與《洛書》十數恰符，戊、己、配中央五、十，甲、乙配東方三、八，丙、丁配南方二、七，庚、辛配西方四、九，壬、癸配北方一、六。大撓作此，就天之五道，分布十干，以紀天之五行。推歷得甲乙，則知其盛德在木。得丙丁，盛德在火。得戊己，盛德在土。得庚辛，盛德在金。得壬癸，盛德在水。以十干管五行，以五行宰萬物，其法精矣。</p>
<p>問：只有五行，應隻立五干之名，何以必剖而為十干？答曰：五行之中，又各有陰陽也。《洛書》天數五，地數五，合而為十。故天干之名甲、丙、戊、庚、壬，本天數者為陽。乙、丁、己、辛、癸，本地數者為陰。《內經》以陽干配腑，陰乾配臟。故「臟氣法時論」曰：肝主春，足厥陰少陽主治，其日甲乙。心主夏，手少陰太陽主治，其日丙丁。脾主長夏，足太陰陽明主治，其日戊己。肺主秋，手太陰陽明主治，其日庚辛。腎主冬，足少陰太陽主治，其日壬癸。肝病者，愈於丙丁，加於庚辛，持於壬癸，起於甲乙。心病者，愈於戊己，加於壬癸，持於甲乙，起於丙丁。脾病者，愈於庚辛，加於甲乙，持於丙丁，起於戊己。肺病者，愈於壬癸，加於丙丁，持於戊己，起於庚辛。腎病者，愈於甲乙，加於戊己，持於庚辛，起於壬癸。按：人秉五行之氣而生，故與天之五行生死相關，醫者不可不知也。</p>
<p>問曰：十干配五行，是空名乎？抑實象乎？答曰：非空名，皆實象也。蓋天有五道，各分五色。一曰黃道，居中央，以戊己配之。二曰赤道，居南方，以丙丁配之。三曰白道，居西方，以庚辛配之。四曰黑道，居北方，以壬癸配之。五曰青道，居東方，以甲乙配之。說見《月令疏》引《考靈曜》。蓋十二辰者，天之經度，就天大圓之形，畫分為十二也。十天干者，天之緯度。分五色各有內外二界，故就五道剖分為十，而以十干紀之。是以太歲有在甲、在乙、在丙、丁、壬、癸之十位。其位不同，其色亦異，其氣亦各別，而陰陽衰旺，從可察矣。</p>
<p>西人天學最精，動謂中國聖人不知天象。然赤道、黃道之說，西人終不能改，但置黑道、白道、青道而不言。又不知黃道屬戊己，赤道屬丙丁。其紀歲也，但曰耶穌降生幾千幾百幾年，有象數，無氣化，與天地人物交關處不相干涉，是西人虛奉天主之名，於天之何以主宰萬物，不能發明。何如中國聖人言天即驗於人，言人即驗於物，貫三才，賅萬類，一言數而象已呈，一言象而氣已具，於天之主宰萬物者，發揮無遺，非至聖其孰能之。</p>
<p>又曰：天之五緯，有此五色，而萬物應之，各有色象。《內經》以配五臟，白當肺，赤當心，青當肝，黃當脾，黑當腎。白當皮，赤當脈，青當筋，黃當肉，黑當骨。青如翠羽者生，如草滋者死。赤如雞冠者生，如衃血者死。黃如蟹腹者生，如枳實者死。白如豕膏者生，如枯骨者死。黑如烏羽者生，如炲者死。推之藥物，青入肝，白入肺，黃入脾，赤入心，黑入腎。無不準此。</p>
<p>問曰：人秉五行五色而生，故中國、俄國人皆黃種，呵非利加人皆黑種，歐洲人皆白種，美國人皆赤種。五大洲人只有四種，獨無有青種，其故何也？答曰：人為裸蟲之長，秉土氣而生者也。土畏木克，青色屬木，故不能生人。且青方並無片土，全是海水，是大地之土已不能布於青方。人之託土而生者，安得有青種哉。故凡人面色青，皆主有病。</p>
<p>問曰：天有十二辰，十二年一周天。又有十干，十年一周天。天干與地支不能整齊，從甲子年起，必行至六十年乃復為甲子。凡此不齊之數，何故使然？答曰：十二辰是從南北極剖分為十二，每一辰分為三十度，子、午、卯、酉多一度，其三百六十四度外，有零餘又四分之，故曰四分度之一，總其十二辰，合為三百六十四度零，此大圜之位，天之經度也。歲星每年行盡一辰，必十二年乃行盡十二辰。若乎十干，則本於五緯度。緯度與經度寬窄不同。蓋辰謂無星處，出於恆星之外，極天之大圓而無止境皆是。此十二位，乃正圓之體分為十二，是為經度。若乎緯道，是七政循行之路道，斜跨天腰，東西環繞，而成橢圓之形，修削而狹，較經度窄。故太歲之經度在子，須十二年乃復於子位。太歲之緯度在甲，只須十年而已復於甲位。經度正圓而闊，緯度橢圓而狹，不能整齊，以次遞差，必六十年，然後歲星乃復於甲子。六十年而立春之日同，一百八十年而立春之時刻同，五百四十年而立春之分秒同，推曆法者，名為一元。天干地支之巧合，真能寫天地象數，使氣化纖毫畢見。西人以耶穌降生之日紀歲，以禮拜之日紀候，不用支幹，有象數，無氣化。在西人自用其法，未嘗不可，奈何中國人不考氣化之實，亦欲黜古人而專信西法，不亦悖乎。且西法言天體不動，地球繞日而成晝夜。又云：地軸常指天中之一點。謹按：西人所謂天中之一點，即中國所謂北極也。果如西人之說，地球繞日，則上下懸殊，安能常指天中之一點乎。吾邑呂竹如，精中西天算，著有《談天正議》，辨此甚詳。蓋地未嘗不轉，然則如輪自轉而不能繞日。西人謂地之南北有軸頭如錐。夫既有軸頭以為機紐，則有定所，不能繞日上下也。日月五星，西人既以為行星，何以獨言日不動，且日之纏度，每日一移，安得謂日獨不動。西人既言天中一點不動不應，又言日不動，甚矣。中國聖人早有定論曰：譬如北辰，居其所而眾星拱之，以知眾星皆動，惟北辰不動。據北辰分十二位，以推步五緯，天地之象可見矣。</p>
<p>問曰：西人不用天干，以零一二三四五六七八九立算，並無差也。今必堅信天干，以為有關氣化，究何驗乎？答曰：以十干配氣運，合臟腑，診治百病，無一不驗，理詳《內經》，未易枚舉。然就人身之氣化驗支幹，其理尚微，不如舉無知之物以驗之，則氣化顯然。燕不識字，而知避戊己，非避其名，避其氣也。蝙蝠遇庚申則伏而不出，亦伏其氣也。足見支幹確有其氣之可驗，非徒紀數而已。西人曆法不用甲乙，而只用一二三四，何如十干紀日，為能氣數兩全也。</p>
<p>問曰：天干既分為十，何以又有五合？答曰：即《洛書》五位相得而各有合也。以《洛書》之數言之，一為甲，六為己，一六共宗，故甲與己合。二為乙，七為庚，二七同道，故乙與庚合。三為丙，八為辛，三八為朋，故丙與辛合。四為丁，九為壬，四九為友，故丁與壬合。五為戊，十為癸，五十相守，故戊與癸合。然此相合者，皆只以數論也。若夫隨天之運以司化育，則因五合而成五運。《內經·五運行大論》曰：丹天之氣，經於牛女戊分。黅天之氣，經於心尾己分。蒼天之氣，經於危室柳鬼。素天之氣，經於亢氐昴畢。元天之氣，經於張翼婁胃。所謂戊己分者，奎壁角軫，則天地之門戶也。王冰注引《遁甲》，天門在戌亥之間，奎壁之分，地戶在辰巳之間，角軫之分，故五運皆起於角軫。甲己之歲戊己，黅天之氣經於角軫，角屬辰，軫屬巳，其歲月建得戊辰、己巳，干皆土，故為土運。乙庚之歲庚辛，素天之氣經於角軫，其歲得庚辰、辛巳，干皆金，故為金運。丙辛之歲壬癸，元天之氣經於角軫，其歲得壬辰、癸巳，干皆水，故為水運。丁壬之歲甲乙，蒼天之氣經於角軫，其歲得甲辰、乙巳，干皆木，故為木運。戊癸之歲丙丁，丹天之氣經於角軫，其歲得丙辰、丁巳，干皆火，故為火運。星家有逢辰則化之說，亦出於此。蓋十干各有本氣，是為五行。若乎五合所合化者，是為五運，言其天之五緯轉臨於辰巳者，看是何緯道，謂之登天門，主一年之運也。氣與運常司天地之門戶。戊己在角軫，則甲乙在奎壁，甲、己歲必甲戌、乙亥也，故《素問》曰：土運之下，風氣承之。庚辛在角軫，則生丙丁在奎壁，乙、庚歲必丙戌、丁亥也，故《素問》曰：金位之下，火氣承之。壬癸在角軫，則戊己在奎壁，丙、辛歲必戊戌、己亥也，故《素問》曰：水位之下，土氣承之。甲乙在角軫，則庚辛在奎壁，丁、壬歲必庚戌、辛亥也，故《素問》曰：風氣之下，金氣承之。丙丁在角軫，則壬癸在奎壁，戊癸歲必壬戌、癸亥也，故《素問》曰：火位之下，水氣承之。亢則害，承乃制，相反所以為功也。</p>
<p>再按：王冰以戌為天門，辰為地戶，非也。辰為陽，戌為陰，天至辰方而升至極高，則當以辰為天門。天至戌方則日入地，又凡戌月以後，天體降下，低入於地。地體至戌月乃漸高起，是戌當為地戶。六壬書以亥為天門，巳為地戶，皆顛倒矣。今改定辰為天門，戌為地戶。</p>
<p>謹將五緯具圖如下（圖缺）。</p>
<p>上據《內經》、《太始天元冊》文追寫此圖，與今之宿度有異。古堯時冬至日纏鬥，今之冬至日纏箕，因星有歲差。堯時鬥星在醜宮，今則箕星在醜宮。星雖有差，宮位不差，故自堯至今，冬至日仍在醜，可知經緯二度，亙古不易也。</p>

<h2>地支</h2>
<p>地支十二辰，或謂起於斗柄所指，非也。蓋先有十二辰，然後視斗柄所指以為月建，非先有斗柄，乃定十二辰也。若以斗柄起義，則每日鬥移一度，周天三百六十五度，劃分為四方可也，為八方可也，何必定為十二辰哉。蓋創立十二辰之始，因日與月會，每年大約十二會而一周天，雖間有閏月，然閏為閏余，每年十二月乃其常度也。故將三百六十五度劃分為十二方，以紀日月會合之舍次，名之曰十二地支。蓋天體渾圓，難於分析，惟地有方圓，易於剖判，故就地球六面分為十二支。支即古「枝」字，謂如樹枝分析也。既分為十二支，譬如一樹，南枝向暖，北枝向寒，於是有陰陽之定位焉，有對待之化氣焉，有六合之義，有三合之義焉。</p>
<p>何謂陰陽之定位？蓋以十二支分為四方，以配《洛書》十數者是也。亥、子、醜配北方一六水位，主冬令。寅、卯、辰配東方三八木位，主春令。巳、午、未配南方二七火位，主夏令。申、酉、戌配西方四九金位主秋令。平分則為十二分，流行則為十二月，而一年四序氣化盡矣。惟土無定位，獨旺於四季。非有他義，亦以《洛書》之四方各得五數，故在地支之四隅各配中土，四時之季，土各旺一十八日，皆本於《洛書》十數之義也。</p>
<p>後人又有以十二支配《河圖》九數者，然與九數之氣化位次參差不齊，知《河圖》九數與地支各別，不能強相配合。</p>
<p>守潛按：十二支配九數，別亥六、子一醜，六一八合十五也；寅八卯三辰，八三四合十五也，巳四午九未，四九二合十五也；申二酉七戌，二七六合十五也。</p>
<p>《內經》有從四時起義者，春三月為發陳，天地俱生，萬物以榮，早臥早起，以使志生，養生之道也，逆之則傷肝。夏三月為蕃秀，天地氣交，萬物榮實，使志無怒，使氣得泄，養長之道也，逆之則傷心。秋三月為容平，天氣以息，地氣以明，早臥早起，使志安寧，收斂神氣，養收之道也，逆之則傷肺。冬三月為閉藏，早臥晚起，去寒就溫，無泄皮膚，養藏之道也，逆之則傷腎。四時不相保，與道相失，則未央絕滅。未央二字，注家多不解。蓋央者中央土也，《月令》《內經》皆以未月屬中央土。《內經》此篇詳言四時，但以未央一語總結之，因此篇乃四氣調神論專主四時，立說故總結此句，以見土寄於四時之義。後世脈法春弦夏洪，秋毛冬石，四季之末和緩不忒，即是土旺四季之義。然《內經·平人脈象篇》云：四時之脈，皆以胃氣為本，謂脈之帶緩象者為有胃氣。所謂胃氣，即土旺四季之氣也。</p>
<p>對待者，兩支對衝，合為一氣者也。子午合化為少陰熱氣，卯酉合化為陽明燥氣，寅申合化為少陽火氣，巳亥合化為厥陰風氣，辰戌合化為太陽寒氣，丑未合化為太陰濕氣。蓋十二辰，分之為十二，合之為六合。六合之間，化生之氣是為間氣。間者隔也，雜也。十二支本相隔，因其對衝則相見。相見則兩氣雜合，化成一氣，謂之間氣。雖《內經》只言司天在泉，並無間氣之名，然在司天之左右者為左右間氣，則知兩相正對，合同而化，以司一年之氣者，尤間氣之大者矣。左右間氣，特其副焉者耳。上天下地，謂之兩間，人居其間，在氣交之中，實秉間隔雜合之氣以生，是以人有六氣，以生十二經，上應天之十二辰。仲景《傷寒論》專主六氣，深知六合交感，間氣生人之理，故六經括病，為千古不易之法。</p>
<p>問：子水午火，何以化熱。答曰：水中之陽，發見於天，與離日相交，則化為熱。試觀夏月水氣上騰，日光下灼，亢熱之至，即明驗也。又如黑色與赤色相合，即化為紫。紫者水火之間色也。推之於熱，亦是水火之間氣。又如鹹鹽，是海水熬曬而成，即是子水與午火合化為熱之物，故多食鹽味則發渴。今人以鹽生於水，謂其清潤。既不知五味五氣相反為用，又不知雖生於水，實成於火，不講間氣，不講試驗，豈不謬哉。試觀西人以鹽精作炸藥，可想鹽性之熱，而子午合化為熱之理，亦可概見。然以熱為主而仍名少陰者，蓋熱是從午火之化，所謂本氣也；陰是存子水之陰，所謂標氣也。人身十二經，皆以臟腑為本，經脈為標。本為氣化之根，標為氣化之末，皆應地支間氣合化之理。余按：間氣即《內經》所謂氣交也。經云：氣交之中，人之居也，萬物由之，此之謂也。</p>
<p>卯酉對衝，合化為陽明燥氣。蓋卯為日出之門，故稱陽明。日入於酉，酉為秋金之位，金氣剛勁，神名蓐收，收去潤澤之氣，則草木黃落，是以木當秋令而枯槁，從燥化也。木從金化，從其所不勝也。在人身屬胃與大腸。大腸屬酉金，人猶能知，惟胃配卯木，人皆不知。蓋胃在後天八卦，當配艮土，先天震卦變為後天艮卦。谷入於胃，所謂能化者，西醫以為全賴膽汁入胃化谷，中醫所謂木能疏土，皆是震木變艮土之義。注《傷寒》者混稱陽明，以大腸配酉，而不知以胃配卯，因不知胃與膽通耳。今觀蒼朮得土木之間氣而能燥胃，即是以胃配卯之義。李東垣補中益氣湯因柴胡升胃中清氣，亦是此義。胃受水穀，至大腸盡成干糞，即是燥化之實驗。</p>
<p>寅申對衝，合化為少陽火氣。寅為初春，陽從水底上升，而發於草木，以生花萼。凡花皆是木生之火象也。火與熱不同，熱是水火相交之氣，火是陽從陰出，附木則明之氣。申乃西方金水之位，在天為陽氣入陰之方。寅乃東方木位，在天為陽由陰出之方。申與寅對衝，合化則陽氣由申而入，由寅而出，借木氣以發泄，遂化為火。今且就一燈驗之，燈炷或棉或草，皆系白色，是屬申金之物。油入炷中，象陽氣之入於申，炷系棉草，又是屬寅木之物，燈火燃於炷頭，象陽氣之出於寅，此即寅申相合化而為火之一驗。又凡樹木之有花者，其內皮皆有白膜一道，由白膜通陽氣，上樹顛乃能開花。樹顛屬寅，白膜屬申，皆是寅申合化為火氣之象。故在人身，少陽經配三焦與膽，而根於腎中之命門，三焦者，周身膜膈也，膜色白，屬申金，上合於膽，膽色青，屬寅木。三焦根於命門，引命門之陽氣上附於膽木，則化為火。故《內經》云：少陽之上，火氣治之。</p>
<p>巳亥對衝，合化為厥陰風氣。蓋亥水之陰，從巳火之陽，遂化為風。巽卦以下一陰從上二陽。西人天學言日行南陸，則風從北來，日行北陸，則風從南來。亥陰從巳陽而化為風，即此義也。亥者荄也，謂木之根荄，屬於北方水位以養根荄。根荄既養，便當發生，故交於巳位。如根荄上升，發生枝葉，以象風氣之四散。故巳亥對衝，合化則為厥陰風木也。人身之肝木，生於腎水，配亥以象根荄。心包絡是由肝繫上連而生，如木之枝葉；包絡包心，象葉之承花。肝挾腎水之陰氣，上連心包，以陰從陽，有如亥交於巳，化為風氣。故經曰：厥陰之上，風氣治之。凡中風病，多入於心包。</p>
<p>辰戌對衝，合化為太陽寒氣。蓋辰方乃皎日當天之位，故稱太陽。戌方乃日入虞淵之所，遂生夜寒。是以辰從戌化而為寒氣。西人造冰之法，用玻璃罐一枚，外面安放水銀，另將淨水煮至極熱，傾入罐內，即結成冰。雖全賴水銀之冷，然水不煎熱，亦不易凝，此可見太陽之熱化為寒也。人身有小腸以宣心陽，故曰太陽。小腸之膜通水道，下入膀胱，為寒水之府。以寒濟熱，陽乃不亢，是以小腸下合膀胱而化為寒氣。今人但知人身不可無熱氣，不知尤必有寒氣，乃能濟熱。故張口呵之則熱氣出，是上焦太陽之氣也。撮口吹之則寒氣出，是下焦寒水之氣也。冬則皮膚熱，太陽衛外也；夏則皮膚冷，寒氣濟熱也。</p>
<p>丑未對衝，合化為太陰濕氣。蓋未屬坤，醜屬艮，坤艮皆土也。而未近午兼火氣，醜近子兼水氣，以火蒸水而後生濕。譬有干臘肉，是屬未宮火土之物。遇天將雨，則臘肉回潤髮濕，是未宮火土得醜宮之水而化濕也。又如干茶葉，其內本含水澤，是醜宮水土之物。遇火烘之則回潤，又是醜宮水土得未宮之火而蒸濕也。濕土為萬物之母，故稱太陰。在人之身，心與肺交之處，有黃油相連，即未土也。《月令》以未月為中央土，漢之中宮名未央。《內經》未央絕滅，皆指未為中宮，而人之未央，實在心包與肺相交之間，一塊黃油即未土也。肺附此油而生，故肺亦配太陰經。此油屬未土，下連脾臟，生出腹中之板油、網油，是為醜土。丑未合化為濕，凡潤濕之物，無逾膏油者矣。消化飲食，全賴膏油。今人但稱脾為濕土，不知濕是何物。吾為指出即是膏油，然後知太陰所司之氣化矣。</p>
<p>守潛按：據黃庭內景之說，則未央又不在心肺之間，當參。</p>
<p>《內經》六氣司天在泉，司天者主春夏，在泉者主秋冬。厥陰在上則少陽在下，少陰在上則陽明在下，太陰在上則太陽在下，少陽在上則厥陰在下，陽明在上則少陰在下，太陽在上則太陰在下。子午之歲上見少陰，丑未之歲上見太陰，寅申之歲上見少陽，卯酉之歲上見陽明，辰戌之歲上見太陽，巳亥之歲上見厥陰。皆言司天之氣本於六沖合化也，說詳《內經》，茲不具贅。惟在泉，是言在地體之中間，非在地球之底面。譬如午年，午在天頂以司天，則卯酉恰當地體之際，故在泉。蓋午與子對，午在天頂則子在地底，其卯酉二位安能翻入地底，故卯酉只在地體之際，是為在泉。此可以潮汐明之。凡海潮，子午來則卯酉退，寅申來則巳亥退。潮汐隨月，月在泉則潮來，月離於泉則潮退。一日兩潮，即兩辰對衝使然也。</p>
<p>地支六合者，日躔與月建相合也。如正月建寅，日月會於亥，十月建亥，日月會於寅，故寅與亥合。余仿此。日躔右轉，月建左旋，順逆相值，故為六合。日月與鬥建，為氣運之主宰，故其所合能化氣以司令。蓋日月所會者，天左旋之方位也；斗柄所指者，地右轉之方位也。鬥建與日躔合，即是地與天相合，所以能司氣化也。自來皆以子醜合土，寅亥合木，卯戌合火，辰酉合金，巳申合水，午未合火。是五行惟火獨有二，於義不符。後人改為午未合日月，以午配日，以未配月，用符七政之數。謂六合者，合於天七政之位。子醜上合土星之位，寅亥上合木星之位，卯戌上合火星之位，辰酉上合金星之位，巳申上合水星之位，午未上合日月之位。然午未之位最高，月輪最低，安得與日同合於最高之位。子醜最下，當考七政行度，土星最高，不應合於子醜之下位；木星亦在日之上，不應合於寅亥，而反在日下；是則六合不可以配七政。有求其故而不得者，遂詆六合無憑，抑亦妄矣。余嘗考究《圖》《書》，揆則儀、象，而知六沖、三合，是就地體平面劃分為十二，則方隅異位，氣亦異焉。至於六合，是就天體橢圓之形，自下而上，層累剖分，以為六合也。平面剖分，則土無定位，寄旺四隅；圓形豎剖，則地當在下，天當在頂，土仍不得列為定位。日月在天，亦不得專配午未。蓋天在頂上，於《洛書》當配中五；地在底下，於《洛書》當配中十。是午未合天，子醜合地，乃貫四氣而為之主者也。除去子、醜、午、未，然後以木、火、水、金配之，則氣象始確。木附於地，子醜既合地，則附子醜之寅亥二辰，應合化而配木。有如寅月草木花，亥月草木亦花，名小陽春，即是寅亥合木之驗。木上生火，附於寅亥之卯戌二辰，則合化為火。卯為日出之方，戌為日入之方，卯月始電，戌時焚膏繼晷，離火繼明，即是卯戌合火之驗。由地生木，由木生火，此三者自下而生上者也。天者，乾陽金精之氣也。午未既合天，附於午未之巳申二辰，承天之氣，當化為金。舊說巳申合水，然巳月無水可驗，且與自上生下之義不合，今改作巳申合金。試觀申月立秋，農乃登谷；巳月盛夏，麥亦稱秋。夏枯草生於亥月，是秉寅亥合木之氣也；死於巳月，是感巳申合金之氣也。黃河以南，歲獲兩次，麥、蕎、蠶豆、芥菜、罌粟皆以十月種，至次年巳月收，為上季。巳雖夏月，儼然秋金告成之候，是為巳申合金之驗。金下生水，辰酉之附於巳申者，當合化為水。舊說辰酉合金，然酉是已定之金位，非化氣也；辰月更無金氣可驗。余按：辰屬三月，酉屬八月。古人以清明改水，八月觀潮，足見辰酉二月，盛德在水。故詩曰：寒食清明都過了，石泉槐火一時新，春水浪高三月渡，皆言辰月水旺；酉月值參星，秋汐尤多，故當改作辰酉合水。由天生金，由金生水，此三者乃自上而生下者也。天居於上，地居於下，水火二氣交於兩大之中。蓋先天八卦，水火居中，此六合化氣亦以水火居中。乾坤之功用寄於坎離，萬物之化生不外水火。今人以午為天頂，然天極熱時必在未月。蓋天頂與地心正對之時乃極熱，必五六月午未之交，恰與子醜合地處，兩相正對，天乃極熱，是天體偏未故也。丑月極寒，是地體偏醜故也。上天下地，即是天五與地十正對。午未屬天，五亦可配陽土，《月令》名為中央土，主於生長萬物；子醜屬地，十亦可配陰土《月令》所謂土返其宅，主於終成萬物。以午未配《洛書》之天五，而土寄旺於此間，所以下能生金也。以子醜配《洛書》之地十，而土寄旺於此間，所以土能生木也。此說古本所無，然考之天象，合於《洛書》，於義尚通。</p>
<p>問曰：以午未合配天五，以子醜合配地十，與前所言《洛書》中央之位，殊有不合？答曰：此不過縱橫之別耳。譬有一瓜，縱剖之為十二分，則以瓜心為中；若橫截則以瓜蒂為中也。具圖如下：</p>
<figure>
<img data-orig-src="urn:270:10855.jpg" alt="圖二">
</figure>
<p>六合之理，可配先天八卦。午未在上，配先天乾卦，天位於上也。醜子在下，配先天坤卦，地位於下也。卯戌配離火，然以卯為主，先天之離在正東也。辰酉配坎水，然以酉為址，先天之坎在正西也。金附於天而生水，配先天之兌巽二卦；木附於地而生火，配先天之艮震二卦。然木之根在亥，而實成寅，故論木當以寅為主。金之根在巳，而實成於申，故論金當以申為主。金木異其位，水火交於中。人在氣交之中，皆秉水火之氣而生，故道家煉長生，不過坎離交媾而已耳。</p>
<p>再按：星辰之運，始則見於辰，終則伏於戌。自辰至戌，正於午而中於未。故《堯典》言：日永星火，以正仲夏。是以午為正也。《月令》於季夏未月乃曰：昏火中；《左傳》曰：火星中而寒暑退；《詩》曰：定之方中；亦皆以未為中。蓋以天干之緯道言，則辰巳間為黃道之中；以地支之經度言，則午未相會之處為天頂之中。經度起於南北極，午未合處南極也，子醜合處北極也。</p>
<p>地支三合，仍配《洛書》四方，故皆以四正為主，而四隅之支，只從四正以立局。木生於亥，壯於卯，死於未，故亥卯未會木局。火生於寅，壯於午，死於戌，故寅午戌會火局。金生於巳，壯於酉，死於醜，故巳酉醜會金局。水生於申，壯於子，死於辰，故申子辰會水局。後世衍為長生、帝旺、墓庫之說，並添土之長生、帝旺、墓庫，以足成五行之局，而不知四局之墓皆在四季，即皆歸於土。可知土旺四季無定位也。《史記·貨殖傳》水毀、木飢、火旱、金穰，亦不言土，足見土寄旺而無定局。故《內經》言歲氣會同，亦只有四局。「六微旨大論」云：甲子之歲，初之氣，天氣始於水下一刻，謂子初初刻，為冬至。乙丑之歲，天氣始於二十六刻，謂卯初初刻。丙寅之歲，天氣始於五十一刻，謂午初初刻。丁卯之歲，天氣始於七十六刻，謂酉初初刻。戊辰之歲，天氣復始於一刻，亦以子初為冬至節。申歲亦然，余仿此。故申子辰歲氣會同，巳酉醜歲氣會同，寅午戌歲氣會同，亥卯未歲氣會同。終而復始，所謂一紀。另詳余《內經本義》。</p>

<h2>花甲</h2>
<p>六十花甲，因天干之緯道，與地支之經道廣狹不同，歲星循行五緯，旁行斜上，與經度參差不齊，故從甲子起，必六十年乃復為甲子。《內經》云：上下相臨，陰陽相錯，而變由生焉。應天之氣，五歲而右遷；應地之氣，六期而環會。五六相合，凡六十歲為一周，不及太過，斯皆見矣。蓋以十二辰所主之六氣，在上司天；以十干所合之五運，在下運行。十干與十二辰相錯，於是乎五運與六氣有相生相剋。風木司天而遇木運，火氣司天而遇火運，濕土司天而遇土運，燥金司天而遇金運，寒水司天而遇水運，是為太過。如木運之歲而遇燥金司天，則木受剋制，是為不及。余仿此。六氣與五運不相勝負，是為平和。推之六十花甲之氣運，以制病藥之宜忌，詳余所注《內經本義》。陳修園謂五運六氣與人病多不相驗，然《內經》論理甚精，取證亦確，但人之強弱各異，五方不同，未可執一以論。若謂氣運不如此，盍即《內經》所言各物盛衰之變以考驗之哉。</p>
<p>支幹之義，大約如是。後人衍《易》，又有爻辰納甲之說，於義未確。又以六十花甲配《河》《洛》之數，皆不確實。或謂《河圖》以九為數，花甲九周，其五百四十年為一大元，故推元運者必以花甲配《河圖》。不知花甲只以紀年，《河圖》九數只以紀運，是《河圖》九數為經，而花甲又為緯。若以花甲強配之，則不合也。</p>

<h1>下卷</h1>

<h2>後天八卦</h2>
<p>《河》《洛》二數，流行於大造匡廓之中，遂將先天八卦之氣，變為後天八卦之運。具圖如下：</p>
<figure>
<img data-orig-src="urn:270:10856.jpg" alt="圖三">
</figure>
<p>《易》曰：帝出乎震，齊乎巽，相見乎離，致役乎坤，悅言乎兌，戰乎乾，勞乎坎，成言乎艮。此後天八卦之運也。蓋先天八卦，雖各有氣，猶未成形。一自天旋地轉，經緯互交，運之所至，氣斯變焉。先天八卦之方位，遂變為後天八卦之方位矣。</p>
<p>守潛按：四正之卦，各變其中爻，則乾為離，坤為坎，離為乾，坎為坤；四隅之卦錯之，又變其中爻，則震為艮，巽為兌，艮為震，兌為巽。如下圖：</p>
<figure>
<img data-orig-src="urn:270:10857.jpg" alt="圖四">
</figure>
<p>四隅四正之卦既變訖，於是以長子代父，乾退於西北，震在東而木運行焉；以少女代母，坤退於西南，兌處西而金運行焉。諸家有云長女代母者，不知女未嫁始代母也。</p>
<p>後天八卦，坎水在北，離火在南，震木在東，兌金在西，合於《洛書》四方之位。其四隅，乾在西北，坤在西南，巽在東南，艮在東北。後人以為折取四方之數補而成之。然考《洛書》四方之數，乃天與地一步一行，各有五步，以成五行，安得任人折算找補成卦哉。蓋八卦之義與五行原有不同，無容牽強。</p>
<p>有以後天八卦配《河圖》九數者，一白坎、二黑坤、三碧震、四綠巽、五黃中、六白乾、七赤兌、八白艮、九紫離，方位恰合，以時令氣數考之，皆無差忒，惟中五無卦配合。蓋中五即太極也。先天以前，為渾然無形之太極；後天以後，為昭然有象之中五。故《洪範》曰：五皇極。「皇」即「太」字之義。《青囊經》曰：中五立極。雖出術士之說，而其理確然可據。</p>
<p>問曰：同是八卦，何以分先天、後天？答曰：先天、後天，不過言造物先後之序耳。有如人身胚胎，是為人身之先天；及其成形，是為人身之後天。人之先天，在母腹中，以臍通呼吸。人之後天，出母腹中，以鼻通呼吸。先天后天，體用不同，卦之有先後天，亦猶是也。故先天為體，後天為用。先天八卦主氣，後天八卦主運，各有不同。</p>
<p>問曰：先天八卦變為後天八卦，如何變法，必有實氣實象，不得徒舉空名，能將事物一一指出否？答曰：善哉問也。使無實在證據，則聖人立卦，幾同虛設。不知聖人真洞悉造化也。今且就己所見，詳列於下。</p>
<p>先天坎卦☵在西方，變為後天兌卦☱，仍居西方，於五行屬金，於氣為露澤。草上露珠，必生於日入之時。試從日入看稻苗，見其根下引水珠上顛，則結為露，可驗坎水變為露澤之象。蓋日入則陽入於水，坎下之陰變而為陽，陽蒸於下，陰騰於上，遂生露澤。及天將明，日光猶在水中，故露更盛，至日出則露晞矣。即云上於天而為雨，亦是陽蒸於下，澤自上生。有云出不降雨者，則以云未到冷際，不合兌卦陰爻在上之象，故不化雨。問曰：何謂冷際？答曰：西洋天學以去地最高則純是冷際。人身下焦之氣上出於口，化為澤液。蓋上焦肺金，即人身之冷際。下焦陽氣上出遇陰，而化為津液，是人身之兌澤也。</p>
<p>先天離卦☲，變為後天震卦☳。蓋離火即電也。電先發而雷後應，是離變為震之明驗。所以成震之故，因陰水加於陽火之上，搏擊而成。試觀有電無雨，斷不成雷，以電火不遇陰水，不相搏擊也。但有雷聲，無不有雨，蓋電火之陽，遇陰水加之，相搏成雷。所以離之上爻變陰，即為震卦。先天之離位在東方，以東方為日所出，日即離火之精也。而後天之水皆歸於東方，是水陰加於離陽之上，變為震卦。故東方海水潮沸震盪，陽氣在水下鼓動不休。江河之水無潮，以江河未加離位，其下無陽氣鼓動，是以不潮。惟東方坎來就火，離變為震，陽在下而上騰，乃發為潮。此氣發於萬物，則為生氣。蠢然而動，即是帝出乎震之氣，東方所以主春也。人身膽木，是陰中之陽，實配震卦。凡人鬱冒、振戰、沖逆諸病，亦是人身之震氣。</p>
<p>先天坤卦☷，變為後天坎卦☵。因坤體純陰，凝而不流，土返其宅，水歸其壑，故在月令，坤當十月，純陰用事，固陰冱寒，地下之水泉盡皆涸竭，必得陽氣蒸之，然後凍化，水泉乃出。先天坤位正當北方，曰幽都，坤之黑色也。坤初爻曰：履霜堅冰，陰始凝也。北方有冰海，則全是坤純陰之氣所凝。冰得日光而化，是為純陰中得一陽，遂化為水。遍地球之水，所以流而不冰者，以地心純是熱汁，故能化水，是即坤變為坎之義。地心熱汁，出於泰西地學，考驗得實，與《易》義合。再按：人身，坤為脾土，主膏油。坎為腎水，主水精。脾之膏油滲水入腎，則化為溺。五穀之液入腎化精，即人身之坤變化為坎也。</p>
<p>先天乾卦☰，變為後天離卦☲。蓋乾陽乃周天之空氣，純是輕清，並非火熱。西洋天學家言，去地一千六百丈，則上面純是冷際。又謂冷際之上，乃為熱際。夫冷際者，西人乘氣球已到之際也。至於冷際上覆有熱際，則西人想像之詞，並未曾到。揆之於理，實屬無憑。惟《易》繫辭云：乾為天，為寒，為冰。可知乾天純是冷際。雖聖人亦未身到，然以氣推之，地本陰而含陽熱，則知天本陽而純陰冷也。且此冷際，乃生髮陽光之際，所以言天，只可言陽氣、陽光，而斷不可言陽熱。蓋此陽光，散而不聚，必得日質以凝之，則六合之光，皆聚於日。是日光屬陽，日質屬陰。凡有體者皆陰也。西人遠鏡窺日，見有黑斑，便是察見陰體之驗。日在天中，為乾中得陰，合於離卦之象。然有光無熱，是以天空仍是冷際。必日光下交於地，而後生熱。地在南方，正當天頂，先天之乾，位在南方，故天頂為陽光所聚，得南方地球之陰體，承受其光，遂成離火。是以在天則赤道在南，在地則火位在南。西人默瓦南，尋得南極之火地，今稱澳洲，真屬正離之位矣。地球聚天陽而成火，故地心尤熱。天陽是離上一卦，地熱是離下一卦，天之光合於地之熱，則明兩作離，是為火矣。此先天乾卦變為後天之離之義。或疑陽光不熱之說無據。然試金、銀、銅、鐵有光，寶石、玻璃有光，皆冷而不熱，且皆無火也。以物觸擊之，則發而為火。是陽光遇陰質觸之乃為火，即乾陽得陰乃變離之一驗。人身心屬火，全賴腎水交心，以養此火，亦是陽中得陰，然後合成離卦。</p>
<p>先天兌卦☱，變為後天巽卦☴，蓋巽為風，風氣之生，輕微閃灼，見於禾苗之末。當日光初出時，人從旁而斜視之，則見禾苗末有此閃閃灼灼之氣，往上升發。故《易》曰地風升，謂風從地土升出，即宋玉《風賦》起於青蘋之末也。此風之起，多在日出時，因日出則露澤之陰下降於地，而地中之陽應之以起，遂上升於天。《莊子》名野馬，生物之息以相吹者也。凡是草木皆秉風氣，草木伸長，便是風氣上升之驗。《管子》云：澤下尺伸上。尺謂澤下潤其根至於一尺，其上之苗莖遂伸長一尺，足見澤下則風上，而兌變為巽，義可睹矣。人身之呼吸象風，必肺中澤液下調，而後呼吸靜息，亦是兌變為巽也。道家調息之功，只是調肝肺，以兌澤化其巽風而已。</p>
<p>先天巽卦☴，變為後天坤卦☷。《爾雅》云：風而雨土為霾。是其驗也。《莊子》以風為野馬塵埃；西洋天學言樹枝不動亦有微風，一刻行六里。稱野馬者，言其行也。日光照隙，但見光線中無數塵埃，迴旋飛舞，此即風所生之土氣，由微至著，集埃成土，特人不覺耳。草木樹葉感風而生，零落則腐化為土，皆是巽變為坤之義。西洋地學，言天之空氣，最能侵蝕各物，無論木石銅鐵等件，皆能逐漸剝落，空氣愈濕則侵蝕愈甚。按：濕即土氣，風之化濕，即是化土之先兆。及至各物剝，皆化為有形之上矣。人身肝木配巽卦，而主周身之膜，脾土配坤卦，而主周身之膏油。膜上生膏油，即是巽變為坤之形。</p>
<p>先天震卦☳，變為後天艮卦☶。西洋地學言改變地勢，由地中有火力奮發突起，或於水面突出島嶼，或地震時凹然地下，凸然高起，此皆震變為艮之象。又云火山常有轟聲，山頂破裂，噴出稀汁，冷則凝結成石，此尤震變為艮之顯著者。中國各山，雖未見漲突之跡，然必地下有氣奮起，乃能高出。人身膽配震木，胃配艮土。西醫言膽汁入胃化谷，中醫言木能疏土。李東垣補中益氣湯用柴胡、升麻，達木氣以扶中土，皆合震變為艮之旨。</p>
<p>先天艮卦☶變為後天乾卦☰。艮為山，山頂出雲氣，放霞光，皆山氣變為天氣。乾天純陽，艮則上一陽而下二陰，必得日光射照，將山下之陰變而為陽，然後能出雲氣，放霞光。艮之變乾，其理可微會矣。先天艮卦方位在戌，古之崑崙，今之烏拉大嶺，實在戌方，以應先天艮卦，乃地之腦頂也。其山最高，其地氣自與天相接。天左旋至戌方，則入於地下。天之就地在此，地之近天亦在此。天空純是冷氣，山之最高者，其氣最冷。山生冷氣，即是艮氣變為乾氣。崑崙、烏拉嶺寒氣較重，可為良氣變乾之一驗。乾又屬金，五金之礦生於山中，皆是石體，即艮體也。以火煉之，然後成金，是將艮體下二爻之陰，變為純陽，遂成乾金，此尤艮變為乾之實事。在人身以腦為乾，以胃配艮。西人言腦筋多繫於胃，中醫言胃絡上通於腦。又人身之背亦配艮卦，太陽經由背上腦頂，是艮變為乾之通路。</p>
<p>問曰：吾子所論先後天變化之理，凡陰爻變陽皆主日言，陽爻變陰皆主水言。又謂天頂純是冷際，地心純是熱汁，與乾卦純陽，坤卦純陰不合，何也？答曰：此西人所謂愛力、吸力、攝力也。乾天純陽，而地之陰氣皆為所攝，故天上純冷；坤地純陰，而天之陽氣皆為所攝，故地心純熱。此《易》所謂天地交泰也。惟其天地交泰，所以化生人物。天地之功用寄於坎離。日者，離之精。水者，坎之氣。化生人物，全賴水火。蓋乾南坤北，一交而變為坎離，所以後天功用，全在水火。人身心配離火，腎配坎水。醫家所重者，水火相加而會於中土。人秉土氣以生，故醫重坤土。道家所重者，取坎填離而變為純乾。道以天仙為上，故煉取純乾。</p>
<p>先天卦變為後天卦，即一草一木亦有可驗。試舉數端為格致者實徵之。荷藕中空，即離象也，生出蓮葉，其形仰盂，即是先天之離變為後天之震。開花色紅內虛，又是象先天之離，生出蓮蓬，又是仰盂，象後天之震。至於蓮子，外白肉，內青心，亦象離中虛，又將來生蓮葉之先天也。然蓮子非入水不能生葉，蓋離之上爻必變為陰乃成震卦。水者陰也，蓮子入水，是離體之上加以陰爻，遂變為震卦矣。炮銃聲響遠，即震象也，然必先發火而後能轟擊，是皆震響居後，離火居先。問曰：火發即銃響，是響即離陽所發，何以卦體必離上之爻變而為陰，然後為震卦哉？答曰：響是衝擊空氣而響，炮內膛離火發作，一出炮口，遇空中冷氣，則離上陽遇通陰而變為震卦。水銀能變為真銀，水銀屬先天坎卦，變為真銀，即是先天坎水變為後天兌金。銅色多赤，屬兌金七赤之色，然銅礦初出土未熔鍊時，多帶綠色。綠者，四綠之色也。先天兌卦，位本在四綠方。以銅論之，礦屬先天，故帶四綠之色。銅屬後天，故變成七赤之色。甘、橙、橘、柚，亦含兌澤之氣，初綠後紅，有如綠礦轉為紅銅之義。造柚皮糖法，用淘米水泡至明軟，綠色變黃，次換水，以銅錢、白礬煮之，則還為綠色，再拌糖曬乾。柚秉先天兌澤甘潤之氣，先天兌卦在四綠方，故皮色綠。業經泡去其色，用銅錢、白礬煮還其綠，是先天兌金返歸四綠之位也。甘蔗有青、紅二色，天下之蔗皆青，惟四川出紅蔗更甘潤，因四川在西，得七赤之氣。至閩廣之青蔗，又較別省為盛，以閩廣位在東南，得先天兌氣，故亦有甘澤，然終不敵川中赤蔗。因東南先天兌卦，已變為後天巽木，故色青不純甘。四川赤蔗純得兌澤，兼含先天坎水之氣，故色赤液多，為更佳也。草木禽獸，秉先後天卦氣者不一而足，願同學者引伸觸類。</p>

<h2>八卦方位</h2>
<p>後天八卦，分為八方，風氣既殊，物產亦異，皆隨卦氣為區別也。巽卦在東南，分野當湖北、江西、廣東、瓊州、廣西、西貢、越南等處。巽為風，主春溫之氣。湖北蘄州當巽之下爻，風氣柔和，溫而不烈，故產蘄艾，又產蘄蛇，為治風妙藥。蛇在十二辰屬巳，巳在巽位，故巽之分野多產蛇。蘄蛇、蘄艾獨得風氣之和，故善治風。又產綠毛龜，應巽四綠之色。何以綠色，得見於龜，因龜與蛇相配，蘄蛇出巽宮而反帶乾六之白花，故龜本屬北方之物，出於巽宮亦反帶巽四之綠色。此本卦與對宮之卦相錯而生，所謂間氣也。以一龜之體論之，龜身屬陰，其毛屬陽，陰伏於下，陽生於上，合於巽卦，故生綠毛。他龜不產巽方，腹背皆陰，故無綠毛。有造綠毛龜法，用生薑汁塗龜背，則生綠毛，以其陽加陰上，陰伏陽生，合於巽卦，遂生綠毛，益知蘄龜綠毛之故。廣東、廣西、瓊州等處，值巽之中爻，其蛇尤多，又產蚺蛇，併產綠毛鸚鵡。西貢、越南值巽之上交，其蛇更毒，產孔雀食蛇，毛色純綠，與綠毛龜同得四綠之色。龜屬陰，故應下爻；雀屬陽，故應上爻。又出肉桂，是極溫之藥。蘄州值巽之初交，故艾性柔和。越南值巽之上爻，故桂剛烈。問曰：巽是四綠之方，自出綠色之禽介。乃隴西、雲南，地在西南坤方，亦產綠毛鸚鵡，其何故也？答曰：先天巽卦本在西南，故西南亦出綠色之禽。其嘴初黑，應本方二黑坤之色。老則變紅，因鸚鵡得先天巽氣獨多；僅一嘴黑，是得後天坤氣極少；老則巽氣愈盛，克盡坤土之色而生出離火，嘴遂變紅。離火主智，主言語，故必紅嘴，乃能人言。人在萬物中，是秉坤土之氣所生，故禽獸之秉坤氣者，往往能人言。猩猩象人亦能人言。雲南、四川，地當二黑坤位，產秦吉了鳥，色黑，耳嘴黃，純得坤氣，故能人言，較鸚鵡尤巧。鸜鵒色黑嘴黃，亦能人言。鸜鵒不逾濟，逾濟則犯震位，土受木克，故不逾也。百舌鳥色黑，剪圓其舌，能學人言。黃鴉色黃頭黑，亦有能人言，皆秉二黑坤土之氣也。然山西、順天、遼東等處，亦出黑色之禽獸，如元狐、𭻁鼠、黑貂、黑驢，獨不能人言，此又何說？蓋北方秉水之黑色，配《洛書》應天之黑道，與四川、雲貴配坤土者不同，故狐、鼠、貂、驢雖黑色，皆不能人言。</p>
<p>本此意以辨藥性：人參秉北方坎水之陽而補氣。硃砂秉南方離火之陰而補血。陽起石生於泰山，秉三碧震氣，故能上升。楓柿色赤，秉七赤兌澤，故有膏澤，產於正西，山、陝等處者佳。地黃色正黃，產於河南中州，秉中央土之正色，蒸曬則變為黑色，是轉為坤二之黑色也。人身脾為太陰坤土，故地黃為補陰要藥。凡辨藥能詳卦氣，則更深遠。</p>

<h2>八卦取象</h2>
<p>八卦之象，無物不賅。先天八卦，本象天、地、雷、風、水、火、山、澤。後天八卦又象父、母、男、女。孔子以其說未盡，更加推廣。曰：乾為玉、為金，坤為布、為釜，震為元黃、為旉，巽為繩直。為工，坎為溝瀆、為隱伏，離為甲冑、為戈兵，艮為路徑、為門闕，兌為巫、為口舌云云，義類備矣。《九家注》又以乾為衣、為直，坤為囊、為裳，震為鼓、為鵠，巽為楊、為鶴，坎為蒺藜，離為牝牛，艮為鼻，兌為頰云云。《來注》又以乾為旋。為頂，坤為戶、為敦，震為筐、為躋，巽為茅、為後，坎為沫、為坭，離為苦、為朱，艮為握、為尾，兌為笑、為眵云云。《孟氏遺象》更推廣至數十百事，八卦之象，庶幾大備。然此皆中國自古所有之事物。近出泰西新學，分門別類，無奇不有，幾疑中國古人皆所不知。乃細按其理，仍不出《易》義之外。今仿《遺象》衍之曰：乾為機器、為算學，坤為力學、為重學，坎為水學，離為光學、為化學，震為電學、為炮學，巽為氣學，兌為汽學，艮為礦學。蓋機器法天，旋轉迅速，較人力百倍，本乾行之健。天有經緯度分，為算數之根源，故算法以天元為最。坤象地，厚重載物，以順承天，借重力為機器之用，故重力法坤。坎為水學，本卦即水也。離為光學，本卦即光明也；又為化學，《易》所謂相見乎離，萬物皆相見，南方之卦也。震為電學，電即震之氣，發電報必擊機，燃電燈必搓札，皆應震動之義；又為炮學，發火即炮響，如電而後雷。炮以水雷、地雷為最烈，因震卦下一陽而上二陰，地下水中皆陰掩其陽，故一發更烈。巽為氣學，氫氣、氧氣、氮氣、碳氣，皆天地之空氣，有象乎風，故屬巽卦。兌為汽學，凡汽機必用鍋爐，以火煎之，象坎卦下爻變陽而氣上出，遂為兌澤；且氣管傳到冷水櫃，則仍化為水，是即露澤下降之義。艮為礦學，先天艮卦變為乾卦。乾，金也；艮，石也。礦石變為金，是其理矣。西學各門中有分子目，所謂八卦相錯，爻位各殊；而生出事事物物，會心人自當領取，非筆楮所能罄也。</p>

<h2>人身八卦</h2>
<p>以八卦配人身，乾為首，坤為腹，震為足，巽為股，坎為耳，離為目，艮為手，兌為口。《易·繫辭》此章近取諸身，實吾《醫易通說》之根源。能將此章發明，則醫道思過半矣。</p>
<p>乾，天也，陽也。首居上法天，鼻通呼吸以受生氣，人之與天相通，全在於鼻。凡植物之頭皆在下，本地親下也。動物之頭皆在上，本天親上也。三陽經皆聚於頭，故頭面獨不畏寒。頭上之發全屬太陽經，太陽象天，全包人身，而頭上髮際有如天頂。仲景《傷寒論》太陽病，先言脈浮，以見太陽如天，包於身外也。次言頭痛，以見頭為太陽所總司。用藥升散，皆是乾為首之義。坤為腹，三陰經皆會於腹也。腹非指大小腸，乃指腹中油網，西醫名為腹統膜。在腹內為油網，生連於外，包筋連皮為肌肉，屬於脾土。脾旺則膏油與肌肉無不肥厚。乾為首而統皮毛，坤為腹而主肌肉，二者相連，如地配天。觀仲景桂枝湯解肌，必用大棗、甘草，並食熱粥，填補腹中之膜油，益知肌肉是由腹外達矣。震卦一陽在下，人身陽氣自下而生，故是象震。人生三焦主少陽，乃腎水中之陽，發於命門。命門之膜，下為丹田氣海，又下生筋，直抵足跟。下焦陽旺，其足乃溫。仲景少陰經證，下利清穀，手足厥冷者，用四逆湯、白通湯，皆以附子為主，以生足下之陽。白通加豬膽汁人尿湯，尤合震卦二陰在上一陽在下之旨。震陽在人身即魂氣也。黃坤載天魂湯，溫養下焦，亦頗有理。巽卦陰生於下，陽應於上，配厥陰肝經，主血脈。脈中之膜，生出周身之膜。膜生筋，筋之大者下行於股。凡股脛焦削腫痛，皆屬肝經。肝主血脈，股內尤屬血分。坎水配腎，腎開竅於耳，耳之中心有薄翳一層，包裹陽氣，為聽宮。耳竅外通，與空氣相接，外邊有聲響，擊動空氣，則耳內薄翳應之，故能辨音。耳外空而內含陽氣，是坎之中滿之象。若耳內薄翳戳破，則一點陽氣外散，坎之中爻見奪，不能辨聲音矣。氣虛耳鳴，則宜補腎，以復坎中之爻。然中爻之陽，又賴兩爻之陰以封蟄之。設陰虛陽動，亦能耳鳴，宜滋腎陰。至於少陽經風火壅塞耳聾鳴者，是火擾其陰，不能成坎卦外陰內陽之象，須清火以還其陰爻，則耳自清澈。離卦配心火，心中之神，晝出於目則醒，夜歸於心則寐。神隨天日以為晝夜，而目隨醒睡以司光暗。眸子內陰而陽光外發，合於離體。眼科多主退火，是抑離陽之太過也。然亦有陽光不足，不能遠視者。目閉則離火內斂不用。若睡中多夢，是目不用於外，而反用於內，皆離火妄動，心神不安之故。艮為手，艮與震對觀，震陽在下故配足，艮陽在上故配手。震陽是地下有雷聲，一陽來復之陽也，故屬下焦而主足。艮陽是春陽出於地以發生萬物，冒土而出之陽也。故屬胃經，乃膽中清陽上升，入胃外達於手。小兒胃中有食積則手心熱，亦是一驗。兌上缺，象口，兌金屬肺。肺氣出於口。兌為澤，主津液，如天之露澤。口之為用，全在津液。時方甘露飲，治口乾舌燥，是益兌上爻之陰也。霍亂口乾，理中湯加人參、花粉，則合於兌卦之全體。雖《內經》、仲景書未嘗及《易》，然《易》通醫，此章即是明文。其餘為心病、為耳痛，勿藥有喜，艮其背，臀無膚，皆通於醫。在聖人借醫明《易》，而余則因《易》知醫。本此意以讀書，或亦一隅之助耳。</p>

<h2>重卦</h2>
<p>問曰：八卦既定，又必重為六十四卦，何也？答曰：造化之氣機，交加參雜，生出事事物物，是以錯綜變互成六十四卦，非聖人強重疊也。《繫辭》云：陰陽相摩，八卦相蕩。有如亢陽遇雨，即坎加於離，重為水火既濟之卦也；有如雷發雨降，雲散天晴，震陽上升，坎水下流，即重為雷水解之卦也；若震在下，坎在上，震氣方騰，雨水未下，陰雲彌布，為水雷屯卦。屯即雲氣上騰之義，必雷發雨降，然後能解。觀此氣機，便知陰陽參互，卦體重疊，乃克神其變化。重卦之理，《易》有明文，說易家類能言之，茲不具贅。</p>
<p>問曰：八卦蕩摩，氣化相雜，和合二化，變生萬物，是以重疊，以成六十四卦，理固然矣。至於八卦之本體，三爻已足，乃必復重三交，而並不改名色，仍為本卦，其故何也？答曰：《說卦》云：立天之道，曰陰與陽。立地之道，曰柔與剛。立人之道，曰仁與義。兼三才而兩之，故易六畫而成卦。是以八卦之本體，亦須重為六爻，然後完全。試舉物象顯證之。乾為天，而天有六合，地球上面之天，乾之上一卦也，地球下面之天，乾之下一卦也。坤為地，而地分六面，地球有東半球、西半球，實則上下二面，合於坤之上下兩卦而已。坎為水，在天為雨，即坎上之一卦，在地為泉，即坎下之一卦。雨不降則泉不發，上下相資而後水源滾滾也。離為火，在天為日，在地為火，互相資生，故曰重離繼照。震為雷，收聲在地，發聲在天。巽為風，西洋天學有冷帶吹往熱帶之風，有熱帶吹往冷帶之風。艮為山，面曰山陽，背曰山陰。兌為澤，有自下上升之露澤，有自上降下之露澤。所以八卦必自為重疊，而其義始備。</p>

<h2>六子</h2>
<p>乾稱父，坤稱母，而生六子之卦。《易》曰：震一索而得男，故謂之長男。巽一索而得女，故謂之長女。坎再索而得男，故謂之中男。離再索而得女，故謂之中女。艮三索而得男，故謂之少男。兌三索而得女，故謂之少女。舊說云：索者，陰陽相求也。陽先求陰，則陽入陰中而得男。陰先求陽，則陰入陽中而得女。三男本坤體，各得乾之一陽而成男，陽根於陰也。三女本乾體，各得坤之一陰而成女，陰根於陽也。此與西洋天學互相吸攝，有一往一來之異。然往而不來非索，來而不往亦非索也，是二說異而實同。</p>
<p>天地定位以後，乾坤之功用全在六子。《說卦》云：神也者，妙萬物而為言者也。水火不相逮，雷風不相悖。山澤通氣，然後能變化既成萬物也。此章單言六子，重之曰神，則真神妙莫測矣。</p>
<p>男祖鑑曰：六子之說不過以陰陽言，非有形之男女也。然禽獸、人物，凡有血氣者，皆應卦氣而各有男女。至於人之男女，尤符卦氣。《內經·上古天真論》曰：女子七歲更齒，二七而天癸至，三七而真牙生，四七體壯盛，五七始衰，七七天癸竭，地道不通。男子八歲更齒，二八而天癸至，腎氣盛，三八真牙生，四八滿壯，五八始衰，八八天癸竭。男起八數，女起七數，注家皆無確解。不知天癸未至時，皆少男少女也，實應艮、兌二卦。故男女皆從此二卦起數。兌在《河圖》配七數，故女子之數起於七。二七一十四歲，是為少女。七歲更齒，應兌之下一卦也。二七天癸至，應兌之上一卦也。天癸氣在腦內，以象兌卦陰爻在上。天癸即至，則陰氣下交於心，任脈始通，月事乃下，是兌變為離。自十四歲至四七二十八歲，名為中女。三七二十一歲真牙生，應離之下一卦，四七二十八歲身盛壯，應離之上一卦。自二十八歲至四十二歲，陰血全歸於陰，則離變為巽，是為長女。四十二歲以後，陰血漸衰，至七七四十九歲，則巽變為乾，女血盡矣。良在《河圖》配八數，故少男之數起於八。八歲至十六歲為少男，應艮卦在頭，故下無腎精。八歲更齒，應艮之下一卦也。二八而天癸至，應艮之上一卦也。十六歲後，天癸既至，則艮上之爻入於中爻，遂成坎卦。是少男變為中男，故腎氣盛，精溢泄。三八二十四歲真牙生，應坎之下一卦。四八三十二歲身體滿壯，應坎之上一卦。由五八至六八四十八歲，陽氣全歸於下，是坎變為震，是為長男。四十八歲後至八八六十四歲，則男精已竭，是震變為坤，不能生子矣。亦有男逾八八，女逾七七尚能生子者，秉氣獨厚，修養皆優，故出於常數之外。醫家道家，有返老還童之說，欲返長男在下之陽，還為少男在上之陽，故必轉河車、運轆轤、醐醍灌頂、服藥還丹，使陽氣復歸腦中。竊造化之機以逆用，其術豈不難哉。</p>
<p>又按：男女天癸，路道不同。女子天癸至，是從前面下交於心，合於離卦，故《內經》原文先言任脈通。男子天癸至，是從背後下交於腎，合於坎卦，故《內經》先言腎氣盛。</p>

<h2>闢卦</h2>
<p>男祖鑑曰：十二闢卦起於京房。以一年分配乾坤兩卦，上半年為陽，屬乾卦；下半年為陰，屬坤卦。每一月又應一爻。從冬至起為陰極陽生，坤卦下生一陽，是為復卦。邵康節云：地下有雷聲，春風彌宇宙。言陽氣來復也。《易》曰：復其見天地之心乎。《爻辭》曰：先王以至日閉關，商旅不行。至日謂冬至，言令當閉藏也。觀之草木，萬卉皆凋，梅花獨開，為一陽初生之驗。宋·翁森詩云：數點梅花天地心。鹿角解亦應復卦。古人以律管測氣，冬至律中黃鐘，葭管飛灰。十二月應十二律，無不符驗，乃知十二闢卦非浮說也。丑月二陽初生，為地澤臨。二陽在地下，井中水極溫，是其驗也。澤者汽也，丑月掘地下入，則見其出氣。律中大呂。寅月三陰在上，三陽在下，為地天泰。天地氣交，芶萌盡達。是月立春，萬物發生，律中大簇，以成太和之氣象。二月驚蟄動雷。雷出地而上於天，故應雷天大壯，言萬物方壯長也。律中夾鍾。三月為澤天夬，言雨澤自天而下降。律中姑洗。四月陽極，為純乾之卦，故晝日極長。律中仲呂。五月陽極陰生，為姤卦。《月令》半夏生。今四川松蕃產蟲草，冬至生蟲，至五月蟲長寸余，蠢然行動，到夏至節，蟲忽入土，變生為草。居民掘得其根，猶顯然蟲也。此蟲由陽入陰，實應姤卦。麋角解亦應姤卦。律中蕤賓。六月二陰初生，四陽在上，為天山遁。遁者，藏也。六月亢陽在上，陰氣欲出而不得，名曰三伏。金遇火伏，即遁藏之義，人皆避暑，亦是遁意。律中林鐘。七月三陽在上，三陰在下，為天地否。否與泰對。天地氣交則萬物生，天地氣不交則萬物死。故立秋以後，草木漸死，梧桐一葉落，是其驗矣。六壬書以申為人門，寅為鬼門，實屬顛倒。蓋寅值泰卦，人生於寅，何得以寅為鬼門？申值否卦，天地不交，萬物漸死，當以申為鬼門。七月節名處暑，蓋暑者，天地水火相蒸之氣也。暑自此止，則天地之氣上下各分矣。律中夷則。八月陰漸盛，為風地觀。觀與臨反。至於八月，則臨卦之氣體休囚，故《爻辭》曰：至於八月有凶，以見八月觀卦為主。律中南呂。九月五陰一陽，為山地剝。草木黃落，剝即落也。木落而果見樹梢，有碩果僅存之象。律中無射。十月六爻皆陰，為坤卦。俗名陽月，謂其無陽也。晝短夜長，以應陰極之數。律中應鐘。十一月，陰極陽生，又為復卦。凡十二卦各值一月，以律考之，氣化胥合。京房又以其餘配公卿大夫，十二月共配六十四卦，謂系六爻發揮，理雖可通，事無定驗，可置勿論。《內經·陰陽別論》曰：人有四經十二從，四經應四時，十二從應十二月。張隱菴注：春弦、夏洪、秋毛、冬石為四經。其十二從謂手太陰應正月寅，手陽明應二月卯云云，義與從字不合。蓋從者，從經脈也。經脈弦應春令，主木氣。春三月之從脈，正月當是足厥陰肝，二月足少陽膽，三月手厥陰包絡。夏三月經脈洪應火，其從脈，四月手太陽小腸，五月手少陰心，六月足太陰脾。秋三月經脈毛，主金氣。其從脈，七月當是足陽明胃，八月手太陰肺，九月手陽明大腸。冬三月經脈石，主水氣。其從脈，十月當足太陽膀胱，十一月足少陰腎，十二月手少陽三焦。《內經》無明文，茲因張注與月氣不合，故改配之。</p>

<h2>月候</h2>
<p>月者，魄也。日者，魂也。月無光，借日以為光，而有晦朔弦望。每月以五日為一候，以一候應一卦，除去坎離，其餘六卦以應六候。所以除去坎離者，離為日，坎為月，日與月乃其本體，故坎離二卦不應候也。初三至初八，明自下生，應震仰盂。初八至十四為上弦，應兌上缺。十五月體全明，應乾卦純陽。十六至二十三，魄自下生，應巽下斷。二十三至二十八為下弦，應艮覆碗。三十月晦，應坤卦純陰。月者坎水之精，日者離火之精。月滿則與日正對，陰中含陽，合於坎之正體，故氣澤充滿，潮水應之。人身天癸之水，實與月應。女子稱為月信，言其如潮水之有定期。男子亦有天癸，仍與月應。故《參同契》以三日為震，八日為兌，十五為乾，十六轉巽，二十三轉艮，三十日轉坤。其詞曰：上弦兌數八，下弦艮亦八，兩弦合其精，乾坤體乃成。丹家之重月候，實重己身之天癸也。夫男女天癸，不必定與月候相應。蓋人身心離腎坎，各自秉一日月，各有盈縮不同。又不拘定天時，然必知天之月候所以盛衰，而後知人者自具之坎離也。《內經·八正神明論》曰：月始生，則血氣始精，衛氣始行。月廓滿，則血氣實，肌肉堅。月廓空，則肌肉減，經絡虛，衛氣去，形獨居。月生無瀉，月滿無補，月廓空無治。此為針刺言也，用藥者亦當知之。試觀草木莖中有蟲，望前則蟲頭向上，望後則蟲頭向下，可知氣候升降之故。凡人腹中有蟲積者，用藥治之，皆宜望前，蟲頭仰上，易於受藥。《群芳譜》云：凡種菠薐菜，以其子布地中，必更月朔而後生，不知何故？吾為之解曰：此菜色深綠，應三碧震卦；其根紅，應震下一陽也。過月朔則月候成震，是以此菜方生。草木之能應卦氣，神妙如此。</p>

<h2>交易</h2>
<p>交易者，八卦相交而化成者也。有如乾坤兩卦，乾天在上，而不下交於坤，則為天地否。否者，陰陽不通也。必天氣下降，地氣上騰，則天地交泰，萬物亨通。人之初胎，秉受父母之氣。乾男本在上，坤女本在下，及其交媾成胎，則乾陽下交，坤陰上交，合於泰卦。是以生人，耳、目、鼻皆兩竅，口與前後陰皆一竅，上三偶，下三奇，即泰卦也，見陳修園人字解。惟其乾坤相交，是以化成坎離。乾得坤陰而成。坎在人為腎，良由己身陰陽交泰，是以水火既濟，為無病也。道家修煉，欲返人道為神仙，取坎中之陽，填離中之陰，使離仍變為乾，坎仍變為坤，是返為天地否卦。在十二辰，否當申位，申即神也。神道與人道否塞隔絕，故避谷絕欲，乃能成否卦之象。然未至於純陽也。必將下三爻盡煉為純陽，而後成神仙。此丹經大意，非聖人著《易》本旨。蓋聖人盡人合天道在交泰，天地交而萬物通，上下交而其志同。尹躬暨湯，咸有一德；先主孔明，如魚得水。秦二世寵用趙高，李斯棄市；文中子獻策不納，退教河汾。盧杞親而陸贄疏，秦檜專而武穆死。韓琦王英雄短氣，湖上騎驢；小人乘權，君子避世。觀於否泰二卦，可知興廢之機。醫家以火氣上逆，水氣不下，結於胸中，名曰痞疾。張仲景五瀉心湯，瀉火之亢，使之下交，即是轉否為泰之大法。本此法以醫國，上下交而其志同，庶幾國泰民安矣。又如山本在上，澤本在下，山澤相交，則為咸卦。咸，感也。氣感而後能生萬物。若山澤之氣不相交，則為山澤損。是山為童山，不生草木；澤為荒澤，不產五穀。必山上有水泉，湖澤有原隰，是為澤山咸，乃產萬物。水火交為既濟，水火不交為未濟。風雷為益，亦取其氣交。雷風為恆，則其氣相搏也。</p>
<p>天地定位以後，乾坤之功用寄於坎離。凡天地間物，皆是坎離相交而生。有絕異者，如鳥鼠同穴，其地在甘肅通渭縣，是中國之在正西方也，屬先天坎卦，渭水出焉，向正東流去。正東屬先天離卦。水去則氣來，先天離氣自正東來，與先天之坎相應。鼠者坎水之物也，鳥者離火之物也。先天之離來交於先天之坎，是以鳥鼠相為雌雄。且其地近河洛，去中洲不遠，當先天坎之初爻，主於潛伏，所以同穴。有一物而備鳥鼠之形者，蝙蝠是也。蝙蝠鼠身鳥翼，惟黃昏一出，是感晝夜相交之氣。晝日屬離陽，夜月屬坎陰，黃昏是坎離相交之時，故蝙蝠能壽千歲，以彼之坎離本相交也。道家煉坎離，正取其相交，與蝙蝠之壽同一理。又凡物產分方位者，非其地不生，如鳥鼠同穴，是秉時令者。通天下皆有如蝙蝠是。</p>

<h2>變易</h2>
<p>變易，陽變陰，陰變陽。雉入大水為蜃，雀入大水為蛤，是離變坎；蛤又出水為雀，是坎變離。鳩化為鷹，是巽變兌；鷹化為鳩，是兌變巽。詩曰高岸為谷，是艮山變兌澤；深谷為陵，是兌澤變艮山。鯊魚生於南海，陽中之陰，潛伏於下，應姤卦也；能出水變為鹿，是變為復卦。鯉魚應震卦，能化龍上天；鯉乘霧而飛，偶落山谷間，則化鯪鯉，俗名穿山甲，善穿穴入山，是震變為巽。巽，入也，上飛者變為下入皆是。變易之理，未能盡舉，理可類推。凡病，冬月傷寒，或變為熱；夏月傷暑，或變為寒；受寒已久，皆變鬱熱；瘡癰潰漏，皆變虛寒。變易之理，不可不知。</p>

<h2>不易</h2>
<p>天地定位，陰陽對侍，星迴斗轉，寒往暑來，皆一定不易。五方之民，皆有性也，不可推移，亦是不易之理。不易者其體，交易、變易者，其用。醫家治方，以寒治熱，以熱治寒，不易之法也。熱因熱用，寒因寒用，是交易之法也。先寒後熱，先熱後寒，變易之法也。合宜而用，決不執方。如仲景云：亡陽厥逆，兩脛攣，咽乾，心煩，譫語，飲甘草乾薑湯，兩足當溫；脛尚拘急，用芍藥甘草湯，腳即伸；再以調胃承氣湯，止其譫語。忽用寒藥，忽用熱藥，變動不拘，深合《易》旨。</p>

<h2>互卦</h2>
<p>二至四，三至五，兩體相互，各成一卦。先儒謂之互卦。一卦之中又包兩卦，比如大山中又生小山，大營中又包小營，一事中又有支節，一器中又雜零星。譬如廚灶，於卦為風火家人，凡家必有灶，灶以風火為用，其卦䷤，中爻互坎。灶非水不能熟食，故必須互坎。艮為山䷳，中互坎，有山必有水也。坎為水䷜，坎中互艮，有水必有山也。離為火䷝，下互巽，火發則風生也；上互兌，物有膏澤，乃生火也。醫家配合方藥，當仿互體之義。藥分君臣，如卦之正體；又有佐使，如卦之互體。仲景麻黃湯，用桂、麻達太陽，杏仁利肺經，而必兼甘草，以調和其間。溫經湯，溫血脈也，而必用參、甘。建中湯，溫中氣也，而必用芍藥。腎氣丸，地、萸、桂、附溫水也，而丹皮、澤瀉為運用。小青龍湯桂、辛、麻、姜散寒也，而五味、白芍相斡旋。他如瀉心湯寒熱互用，烏梅丸、白通加膽汁人尿湯皆寒熱互用，或以脾為轉關，或以胃為機紐，或治肝肺而以少陽為樞，或治心脾而以厥陰為輔。因其臟腑交通，是以藥物互用。醫者按證處方，必先定其本臟，然後兼求互體，則得宜矣。</p>

<h2>爻位</h2>
<p>《易》曰：六爻相雜，惟其時物；其初難知，其上易知。二與四同功而異位，三與五同功而異位。聖人此章，詳言爻位，說易家辨論綦詳，毋庸再贅。今但以人身言之。弱冠二十年當初、二爻，中歲二十年當三、四爻，晚歲二十年當五、六爻。又以足至膝為初爻，膝至股為二爻，小腹至臍為三爻，臍至膈為四爻，膈至胸項為五爻，項至頭頂為上爻。以一藥配之，根為下爻，梗為二爻，莖為三爻，枝為四爻，葉為五爻，花實為上爻，睹於剝卦，上爻一陽象碩果，便知花實應上爻也。藥性之升降浮沉，全視爻位為衡。草木惟牛膝之根下行入土甚深，如卦之初爻，惟牛膝下達足脛。木通亦下行，然不盡直入，雖入下焦，不單應卦之初爻，能通行小便，是兼應二三爻也。杜仲是樹身之皮，以近根者為佳；續斷是草根，然入土不深。故二物皆當應二三爻，能治膝股腰腿病。食茄治發脹，食葫蘆治臌脹。因二物生於莖中，故走中焦，應第四爻。厚朴是樹身之皮，枝上者不取，樹身應中爻四三位，故厚朴理中焦之氣。枳殼是樹之果，是上第五爻，故治胸中之氣。杏仁亦然。至於荊芥穗、旋覆花、薄荷葉、金銀花、白菊花，皆系草之顛末，應上第六爻，故治頭目諸疾。然羌活、獨活皆根也，而性升，蓋自下生上，仍屬下爻。太陽膀胱經雖在上，而腑實在下，故羌活、獨活根入膀胱而走太陽經。蘇、芥子皆實也，而性降，蓋自上降下，仍屬太陰肺經，雖下行而實歸肺。甘草頭能補氣，身能和中，梢能利水，則一物而備升降之性。皆以上中下三停為辨，而《易》經爻位之理，可於此悟。</p>

<h2>序卦</h2>
<p>《連山》首艮，所以成始成終也。《歸藏》首坤，以地承天也。《周易》首乾，萬物皆本於天也。本天必親地，故以坤配乾，一陰一陽，形則對待，氣則循環，人物皆於是秉氣，故《繫辭》曰：乾坤，其易之門耶。近出泰西天學，謂天體極大，地球極小，日月五星皆各是一地球。又謂天空中如地球者尚有二三，斥中國以地配天之非。試問日月五星各是一地球，從何而知？則曰：乘氣球上升至數十丈，再用遠鏡窺測，恍有所見，得此境象。問所見絲毫不差否？則曰：有里差、視差、蒙氣差。是躲閃語，不足據為定論。今且勿與之爭，即云日月五星各是地球，各有人物，亦彼此各一天地，不得是彼而非此。即云如地球者，天空中尚有二三，然彼之地球仍當配天，此之地球亦當配天，譬如人同父異母，仍當以父母並稱，不得謂母不配父也。我等既生此地球中，則當以此地球上配乎天。而乾坤定位，日月往來，遂生出形形色色。一本萬殊，總不外乎乾坤也。聖人六合之外，存而不論，非不論之，謂不關造化，無容鑿空。觀於《易》首乾坤，而舍地球以談天文者，可息喙矣。又云里差、視差，尚可推測，惟蒙氣差無可如何，不知聖人於乾坤後繼以屯、蒙。屯者，氣之上騰者也。蒙者，氣之下覆者也。人生皆在屯蒙氣交之中，聖人早已言及。今欲舍蒙氣以窺星辰，舍地球而言天象，安知造化功用哉。《上經）多言天道，故首乾坤。《下經》多言人事，故首咸恆。咸者，感也。人物相感，而後吉凶生焉。《序卦》一篇，已有明文。或謂序卦出於偽託，然頗有理致，足開學者悟境。夫聖人作《易》，萬理畢賅，智者見智，仁者見仁。即聖人繫辭，亦不能竭盡《易》道，不過略一隅令人三反。吾於易道，未窺萬一，只就己見，進質高明。願天下賢士大夫發明聖道，啟迪萬世，予雖與執鞭，所欣慕焉。</p>

<h2>雜卦</h2>
<p>天地間有合於六十四卦者，難盡言也。約略論之，如水澤為節，蒲生水澤中，其根九節；萑、葦、蘆，茯、稻草皆生於水澤中，故皆有節。竹雖不生水澤之中，然實秉水澤之氣，故竹多節。節有引水上升，引澤下降二用，故節卦下互震，上升之義也；上互艮，下降之義也。浮萍生於水面，其葉色綠四瓣，是秉四綠巽氣，其根色白，在水中，是秉一白坎氣。合根葉論之，是象風水渙䷺，故能治風行水。雞頭芡實，葉面有刺，亦感風氣，根生水中，亦感水氣，與浮萍同一風水渙；而有不同者，芡實是秉渙中爻互卦之氣。渙卦下互震。芡之根自下而生上，是渙之震；上互艮，芡葉止於水上而不遷，是渙之艮。並渙卦互體，一一胥合，為治風利水之良藥。蜂蟻上身大下身小，合於履卦上天下澤，故有君臣。掛蘭懸空，秉風氣而生，合於巽卦，其根多汁，可以解熱。因巽卦下互兌，主有澤液。以鐵釘錠入根中則肥，得兌金故也。仙人掌草種於牆上，綠色多汁，合於先天兌卦。先天兌在四綠方，中爻互離巽，故仙人掌能治風水，且善避火災。凡人之身有合於六十四卦者，人之醒睡，合於晉與明夷。《易》曰：晉，晝也。火地晉䷢。象曰：明出地上，晉。晉者，進也，謂日出地平，陽氣上進。人身之陽氣應之，外出皮毛以衛寒，上出眼目以視物，是以醒也。地火明夷䷣。象曰：明入地中，明夷。謂日入地平，不明而晦。人氣應之，目合不明，是以睡也。有欲睡不得，必呵欠而後能睡者，以其人胸腹中先有熱氣未出，雖眼目間陰氣已生，而心脾之陽熱作梗，不能成地火明夷，而成澤火革之象䷰。革之義當吐故納新，必將熱氣從口中吐出。兌為口，故呵則張口，胸腹之陽熱遂從口出，而革上之兌卦還變為坤，乃成地火明夷，是以得睡。其有欲醒不得，或夢魘中惡，呼之不醒，必用通關散，吹鼻取嚏乃得醒，是其人關竅為陰所掩，不成火地晉之象，而成雷地豫䷲。雖雷出地奮，奮發衝散乃能了此豫卦之事。故從嚏噴而出，嚏氣必冷。冷氣出則豫之上爻還變為離，而成火地晉，故得甦醒。蘇即《易》震蘇之蘇。凡風寒閉鼻竅多嚏噴者，亦是豫奮以出。疾稱不豫，謂不得嚏噴，則不能解。又如風澤中孚䷼，風是巽卦，配厥陰包絡經。澤是兌，卦配太陰肺經。包絡與肺相接之間，只有一塊脂膏，是為中宮，乃心火所生之中土，為太陰脾之根蒂也。孚字古作⿱爪子，象雞伏卵，以兩爪抱之。言人中宮一塊脂膏與心包肺膜相連，裹結成團，有如孚卵，故名中孚。人之忠信實從此出，故曰中孚，信也。此近取諸身之卦，注家多不得甚解。張仲景建中湯治心下悸，用桂芍以治風氣，用甘、棗、飴糖以助澤液，頗合風澤中孚之旨。菜如紅蘿蔔，葉四散披離，色綠是四綠巽風之氣；根赤色，是得七赤兌澤之氣；其心甚黃，是中土之色氣，合為風澤中孚，是一菜實備此卦德，故食之益中土。有但感風氣者，如蛇床子，葉如紅蘿蔔而無紅根，川芎，葉如紅蘿蔔有根而不紅，則皆治肝風。用藥者知物各秉一氣，合化成方，與八卦之重為六十四卦，其義一也。</p>

<h2>引伸</h2>
<p>《易》之為書，廣大悉備，豈僅為醫言哉。昔者聖人觀象製作，前民上棟下宇，以待風雨，蓋取諸大壯。耒耨之利，以教天下。蓋取諸益。《繫辭》所言各事，非聖人只取此象而已，謂節此數事，而知聖人制作，皆取卦象。推之天下後世，隨時制宜，因地為利，不難取諸易象，以盡萬物之性。乃近日泰西新出化學、汽學，中國人未經目睹，輒謂中國聖人亦所不知。即今之通儒，亦謂光學僅見於《墨子》，化學如煉火生云，煉云生水，亦僅見於《淮南子》，其他未之前聞。豈知我孔子一部《易經》，已將西人化學包舉無遺。西人謂光、熱、電三者能化開各物，分出原質。夫光、熱、電即離火也。《易》曰：離者，麗也。萬物皆相見謂得火。化之則萬物皆分離。而原質化出，是以萬物皆相見。故火蒸水則化為輕氣、養氣，輕、養得火又化為水。此化分、化合皆不外火也。雖有用藥汁化分者，然硝強水、磺強水皆火之精，硝、磺、炭三者化為火藥。硝是光質，磺是電質，炭是熱質。此三者化分各物，能令定質變為流質，流質，變為浮質，浮質變為氣質，無一不借火力。則聖人相見乎離，一語包舉化學無遺矣。</p>
<p>問曰：火燒銅鐵，每燒一次，則體積輕減，以受火克即銷化也。惟燒赤金，雖火功極大，然後能熔，及冷復還本體，並不輕減，其故何也？答曰：赤金是七赤兌澤之純金，所秉之氣澤甚厚，故雖受極大之火力而澤氣不減。又問曰：赤金遇綠養則化為綠氣，其本體遂輕減，此又何說？答曰：綠屬巽卦，先天兌卦變為後天巽卦。赤金遇綠色而化綠氣，即是兌變為巽之理。此等化學，惟《易經》得其根源，西洋雖有試驗，尚未能通一畢萬。</p>
<p>中國見外洋汽機，自古所無。不知《易經》已括汽機之妙。《易》曰：斷木為杵，掘地為臼，蓋取諸小過。按：小過䷽，上震下艮，震木動於上而象杵，艮土止於下而象臼。後人變為水磨。上一面止而不動，下一面動而研物。又是上艮下震，合為山雷頤卦。頤即人上下牙床，上牙床止而不動，下牙床動而齧物。故卦名頤，取人頰車為名也。頤以齧物養人，水磨亦碾米以養人。頤之用在齒，而磨亦有齒，與卦象可謂巧合。《易》曰：弦木為弧，剡木為矢，弧矢之利，以威天下。蓋取諸睽。睽者，乖離不合也。卦體䷥，火炎上而不下，澤降下而不上，兩相乖離，故謂之睽。彎弧向後，象澤之降，發矢向前，象火之炎。若今之洋槍銃，則是睽卦錯綜而變為兌上離下之革䷰。炮藥象離火，彈子象兌金。洋槍皆用鉛彈，鉛恰是兌金，故極銳利。中國舊用鐵彈，所以不及。《易》曰：刳木為舟，剡木為楫，舟楫之利，以濟不通，蓋取諸渙。按：渙卦䷺，上巽下坎，本木在水上，其象顯然。雖西人船制屢變，問能外木在水上之義乎。且巽為風，行船必掛帆借風，於卦象絲毫不爽。或謂火輪船又何所取？答曰：船身仍象風水渙，而以火蒸水，汽機發動，則取象既濟䷾。既濟爻辭曰：曳其輪，濡其尾，無咎。即今輪船之象矣。讀此詞者能不驚聖人為神妙哉。《易》曰：服牛乘馬，引重致遠，以利天下，蓋取諸隨。按：駕車必絡系牛馬之口鼻，口鼻之絡，引繩曳輪，輪動則車隨，口鼻是兌象，輪動是震象，合之為澤雷隨卦䷐。膏油亦是兌澤，一切機器必用膏油灌沫，然後滑利，皆合隨卦之義。友人贈我福建錫燈，架上置壺，壺有長嘴以安燈，柱架上轉紐以安油壺，油滿則嘴平，燈不斜；油少則嘴欹，燈不滅，隨油多少以為俯仰。其妙處只在有嘴象兌，有樞象震，合於隨卦而已。問曰：古之車制象澤雷隨，若今之火輪車又將何象？答曰：象火雷噬嗑。火炎於上，輪動於下，互體得坎。坎，水也。以火蒸水，然後輪動。故吾謂火輪車實象噬嗑。雖噬嗑爻辭並無火車之義，然繫辭云：日中為市，致天下之民，聚天下之貨。交易而退，各得其所，蓋取諸噬嗑。方今五洲互市，全賴火車，以致民聚貨。蓋氣運已當噬嗑，應候而有火車，是聖人衍《易》，已逆知有此一時。造火車者，能知聖人否。問曰：聖人何不興造火車？答曰：不當其時，故不須此。問：當今何以值噬嗑之運？答曰：日中者午時也。方今正當午會，離卦值運，義見邵子《皇極經世書》。</p>
