<header data-type="book">
<h1>臨診醫案</h1>
</header>

<h1>正文</h1>
<p>（案1）朱象兄，年三十五歲，道光丁酉十一月十四日在施長順沙船診。冬溫感邪，身熱經月餘未解，脈形滑數，舌色灰燥帶膩，中脘未寬，挾食，中焦蒙阻，寒邪未解，痰多喘咳，膜原未化，營衛未清，神色昏迷譫語，症非輕視，擬泄風通里。</p>
<p>淡豆豉（三錢）　鮮生地（六錢）　象貝（去心，三錢）　炒知母（一錢）　瓜蔞全（炒，三錢）　火麻仁（三錢）　淡芩（一錢）　冬桑葉（一錢五分）　焦山梔（二錢）　加二青竹茹（三錢）　薑汁炒活水蘆根（八錢）</p>
<p>（案2）浦大兄，吳淞南門外，不計日。患久哮喘，數年有餘，時發時止，肺胃感寒而發咳嗽，痰多氣逆，脈形浮滑，舌滑帶膩。此係肺胃受寒即發，擬泄風清肺主治。</p>
<p>蜜炙麻黃（三分）　象貝母（去心，二錢）　旋覆花（絹包，二錢）　杏仁霜（三錢）　粉甘草（四分）　桑白皮（蜜炙，三錢）　代赭（石煅，二錢）　杜蘇子（三錢）　白前（一錢）　加銀杏（七枚）</p>
<p>（案3）浦良兄，吳淞。脾氣時發，疼痛不休，每遇怒氣或受寒氣內擾，胸中刺痛，以致上氣厥逆，擬開鬱定痛。</p>
<p>川鬱金（一錢）　炒白芍（一錢五分）　赤苓（一錢）　高良薑（八分）　制香附（二錢）　炒枳殼（一錢）　烏藥（一錢）　熟半夏（一錢五分）　青皮（一錢）　加白蔻（研，四分）</p>
<p>（案4）朱大兄，吳淞。胃脘作痛已有數年，時常噁心，嘔吐清水，手按之疼痛略減。此係蟲痛喜按，用烏梅丸合二陳湯主治。</p>
<p>桂枝尖（三分）　瓜蔞全（炒，三錢）　白蔻仁（研，四分）　廣皮（一錢）　九香蟲（一錢）　製半夏（一錢五分）　乾薑（淡，五分）　烏梅（一個）　雲茯苓（三錢）　加薑汁炒二青竹茹（三錢）鮮橘葉（七片）</p>
<p>（案5）王七爺，陝西莊客。瘍瘡未愈，毒入內攻，初覺齒浮，頭脹，周身骨節舉動即痛，乃因服倒提，餘毒未清，收入臟腑，上攻喉腫腐爛，黏痰甚多，脈形滑數，舌色腫厚帶膩而疼。此係毒入內傳，症屬險患。擬清涼化毒加減主治，另用紫雪丹五分搽舌。</p>
<p>川黃連（五分）　山豆根（一錢）　白嘉蠶（炒，三錢）　甘中黃（研，一錢）　煨石膏（五錢）　土貝母（研，三錢）　牡丹皮（一錢五分）　鮮生地（一兩）　加活水蘆根（一兩）　竹葉（二十片）</p>
<p>第二方：服後喉中熱氣衝出甚，憂略減，上稍已收，仍用紫雪丹五分搽舌。</p>
<p>川黃連（另煎沖，五分）　生石膏（五錢）　金銀花（五錢）　真西黃（沖服，五分）　山豆根（一錢）　鮮生地（一兩五錢）　淨連翹（三錢）　甘中黃（一錢）　土貝母（研，三錢）　加活水蘆根（一兩）　竹葉（二十片）</p>
<p>第三方：毒氣稍減，喉腐略退，仍宜前方加減。</p>
<p>鮮生地（一兩）　生石膏（八錢）　山豆根（一錢）　元參（三錢）　甘中黃（一錢）　川黃連（另煎服，五分）　連翹（二錢）　天花粉（三錢）　真西黃（沖服，五分）　加淨銀花（五錢）　竹葉（二十片）</p>
<p>第四方：前進，十去其五，數天大便如以又有，用生軍，如其大便到後，去生軍。再進五劑。</p>
<p>生軍（三錢）　鮮首烏（八錢）　甘中黃（一錢）　木通（一錢）　炒黃柏（一錢五分）　金銀花（五錢）　川貝殼（去心研，三錢）　天花粉（三錢）　真川連（另煎沖，四分）　加土茯苓（四兩，煎湯代水）</p>
<p>第五方：前方所服清火化毒，連進約有十劑而愈，時在丁酉十月初，病愈再服涼血清火降毒十劑全瘳。</p>
<p>生地（五錢）　白蘚皮（二錢）　金銀花（五錢）　炒黃柏（一錢）　龍膽草（二錢）　炒黃芩（一錢）　川連（四分）　黑山梔（二錢）　加土茯苓（四兩，煎湯代水）</p>
<p>（案6）哺年五歲嬰孩，肺風痰喘，氣逆上壅，脈形遲澀，舌苔帶滑膩，兼之面浮，四肢腫滿，腹脹如箕，陰囊水腫光亮，脾胃之土受邪，運行之官失職，木不能榮，金無取主，以致上逆痰壅，症非輕恙，如小舟重載。暫擬葶藶湯加減主治，候高明先生裁酌。</p>
<p>旋覆花（絹包，二錢）　牛蒡子（研，一錢五分）　生桑皮（炙，三錢）　甜葶藶（一錢）　萊菔子（三錢）　赤茯苓（四錢）　澤瀉（二錢）　飛滑石（三錢）　杜蘇子（三錢）　加大腹絨（二錢）　冬瓜子（三錢）</p>
<p>第二方：因前進二劑，喘息稍定，四肢面浮，略為收退，陰囊微有皺紋。</p>
<p>仍擬前方去葶藶一味，加川牛膝（二錢）　瓜蔞皮（三錢）　豬苓（四錢）</p>
<p>第三方：又前進二劑，喘氣略平，面浮已退，四肢減去其五，陰囊全瘳。</p>
<p>旋覆花（絹包，二錢）　赤苓（四錢）　冬瓜皮（三錢）　粉豬苓（四錢）　瓜蔞皮（四錢）　川牛膝（二錢）　新會皮（一錢）　片通（二錢）　生桑白（二錢）　加姜皮（三分）</p>
<p>第四方：川萆薢（二錢）　葫蘆巴（煨，二錢）　福澤瀉（二錢）　片通（一錢）　川牛膝（二錢）　新會皮（一錢五分）　薏苡仁（四錢）　粉豬苓（四錢）　生桑皮（三錢）　冬瓜皮（炒，三錢）</p>
<p>第五方：焦冬朮（一錢五分）　新會皮（一錢五分）　霍山斛（三錢）　川椒目（二分）　川牛膝（一錢）　土茯苓（三錢）　瓜蔞皮（炒，三錢）　福澤瀉（二錢）　薏苡仁（四錢）　加煨姜皮（三分）</p>
<p>第六方：脹滿喘息已愈，擬健脾化濕之劑。</p>
<p>西黨參（二錢）　制於術（一錢）　雲茯苓（三錢）　霍石斛（三錢）　川椒目（二分）　淮山藥（三錢）　新會皮（一錢五分）　薏苡仁（四錢）　加紅棗（三枚）　煨姜皮（三分）</p>
<p>（案7）吉云太史，在荊樂堂內。</p>
<p>生綿耆（二錢）　銀花（五錢）　白蘚皮（二錢）　鮮首烏（六錢）　地膚子（三錢）　川連（另煎沖，四分）　生石膏（四錢）　炒嘉蠶（三錢）　甘中黃（一錢）　加土茯苓（四兩，煎湯代水）</p>
<p>（案8）徐老益太太，新閘。飲冷凝寒，經閉忽血之症。</p>
<p>炒鬆生地（四錢）　歸炭（一錢五分）　焦冬朮（一錢五分）　白朮（一錢五分）　制洋參（二錢）　澤蘭（一錢）　遠志炭（五分）　萸肉（一錢五分）　蒸女貞子（三錢）　加陳棕炭（三錢）</p>
<p>（案9）大南門內，王家弄養浩堂，孟大奶。氣虛喘逆，心血不足，臥寐少安，咳嗽實因肺虛，擬補氣養血，候政。</p>
<p>西黨參（四錢）　生地（四錢）　大熟地（五錢）　遠志炭（五分）　陳阿膠（四錢）　麥冬（三錢）　牡丹皮（一錢五分）　赤茯神（三錢）　肥玉竹（三錢）　加胡桃肉（連衣、隔，二枚）</p>
<p>（案10）老閘，王安吉娘娘。冬溫感寒，病涉兩候，身熱神昏多語，脈形滑數，舌色帶灰，氣食感寒內伏，症屬沉重，恐防邪陷。宜辛涼通滯法，候翁政用。</p>
<p>羚羊片（一錢五分）　鮮生地（六錢）　知母（一錢）　乾葛（一錢）　淡豆豉（三錢）　全瓜蔞（炒，四錢）　枳殼（炒，一錢）　連翹（二錢）　黑山梔（一錢）　加活水蘆根（一兩）</p>
<p>前進，身熱少減，大便欲解，前方加火麻仁（研，四錢）　黑玄參（二錢）　黃芩（炒，一錢）</p>
<p>第二方：前進辛涼通滯劑，冬溫邪熱內伏，神識昏蒙，脈形細數，舌燥而紅，目赤，寤寐少安，大小便未行。症屬棘手，防其昏陷變端，仍宜清燥化熱通滯主治。</p>
<p>淡豆豉（三錢）　知母（一錢五分）　連翹（二錢）　黃芩（炒，一錢）　羚羊片（二錢）　花粉（三錢）　枳實（炒，一錢五分）　鮮生地（六錢）　瓜蔞仁（炒，四錢）　加活水蘆根（一兩）　元明粉（沖服，三錢）</p>
<p>服後大便未行，明日加黑山梔二錢、丹皮一錢五分、天竺黃一錢。</p>
<p>（案11）李姓。四肢麻木畏風，所侵經絡，濕痰流於肌膚，營衛血氣不克周流，化痰和血，通絡舒經祛風治之，候政。</p>
<p>當歸（二錢）　明天麻（煨，一錢）　新會皮（炒，一錢）　海風藤（二錢）　杜仲（三錢）　十大功勞（二錢）　絲瓜絡（一錢五分）　姜半夏（一錢）　木瓜（一錢）　加九制棉花核（二錢、酒炒桑枝四錢）</p>
<p>（案12）周大兄。忽患喉閉腫脹，飲食不下，風火相傳，兼之脾胃之火蒸於腎脈，循於喉嚨，內氣一弱，水火不濟。宜清火散腫為主。</p>
<p>大力子（炒，二錢）　荊芥（一錢五分）　射干（一錢）　枳殼（一錢）　嫩前胡（一錢五分）　貝母（研，二錢）　馬勃（六分）　桔梗（一錢）　粉甘草（六分）　加薄荷葉（後入，六分）</p>
<p>（案13）錢大兄。風熱相傳，乃成痄腮，兼之頭疼，清陽不升，肌體發熱，外感寒乃風易所入，舌苔微白，口乾作飲。宜疏風退熱，驅邪止渴消腫之法。</p>
<p>嫩前胡（二錢）　荊芥穗（一錢五分）　杏仁（研，三錢）　蔓荊子（一錢）　黑山梔（一錢五分）　嫩防風（一錢五分）　乾葛（一錢）　葉蘇梗（一錢）　赤茯苓（二錢）　加蔥白頭（一個）</p>
<p>（案14）顧小姐。赤遊風毒，漸漸發滿，遊走無定，身熱煩躁，甚則須防毒氣內攻，逆閉驚厥，其勢荊棘，慎之慎之，暫擬涼血解毒清熱一法，其方呈政。</p>
<p>烏犀角（磨沖，二分）　鮮生地（二錢）　當歸尾（八分）　鮮石斛（三錢）　大連翹（一錢五分）　人中黃（一錢）　黑山梔（一錢五分）　西赤芍（一錢）　車前子（炒，一錢五分）　金銀花（二錢）　加燈心（全吉）</p>
<p>另用冰硼散一兩，用芭蕉根汁調塗患處。</p>
<p>第二方：犀角尖（一錢）　粉丹皮（一錢）　鮮生地（二錢）　西赤芍（一錢）　人中黃（一錢）　大連翹（一錢五分）　黑山梔（一錢）　土貝母（去心，三錢）　大豆卷（一錢五分）　加赤茯苓（三錢）　燈心（一吉）　竹葉（二十片）　嫩鉤鉤（四錢，後下）</p>
<p>第三方：牛蒡子（炒，一錢）　杏仁（研，三錢）　土貝母（去心，二錢）　橘紅（八分）　嘉蠶（五分）　荊芥（一錢）　連翹（一錢五分）　桔梗（三分）　薄荷（泡，三分）　熟楂（三錢）　加人中黃（一錢）　西河柳（二錢）</p>
<p>第四方：嫩前胡（一錢）　大杏仁（去皮尖，二錢）　海浮石（二錢）　左牡蠣（煅，三錢）　土貝母（去心，三錢）　馬勃（包，五分）　新會皮（去白，一錢）　白桔梗（二分）　法半夏（一錢五分）　連翹（一錢）　加甘草節（三分）　炒楂（三錢）　制嘉蠶（一錢）</p>
<p>（案15）王姓。氣逆喘哮，火灼乘金，言語不續，肺氣受邪，六脈浮洪，舌色乾燥，津液不足，標本失運，水不制火，肝經獨旺，以致火炎上喘。擬抑火清金，定喘降氣為主。</p>
<p>南沙參（二錢）　杏仁霜（三錢）　瓜蔞仁（炒，三錢）　白前（一錢）　馬兜鈴（二錢）　揀麥冬（去心，二錢）　桑白皮（蜜炙，三錢）　玄參（二錢）　杜蘇子（炒，三錢）　加胡桃肉（連衣隔，二枚）　甜葶藶（一錢）</p>
<p>（案16）曹姓。風熱上傳，頭面遊風，麻癢如蟲行之狀，皆因食後冒風，脾胃熱達。宜疏風治之。</p>
<p>鮮首烏（四錢）　荊芥（一錢五分）　蟬衣（一錢）　土貝母（去心，二錢）　刺蒺藜（去刺，二錢）　嘉蠶（炒，一錢五分）　當歸（二錢）　蘇薄荷（六分）　生桑皮（一錢五分）　川連（另煎沖，四分）　加豨薟葉（三錢）</p>
<p>（案17）娘娘。患久痿症已愈，氣血大虧，遍體身疼骨楚，脈虛舌滑，四肢痠軟，肝血不足，血少筋枯。宜養血榮筋佐治之。</p>
<p>全當歸（二錢）　海風藤（三錢）　小撫芎（四分）　宣木瓜（一錢五分）　五加皮（一錢五分）　淮牛膝（二錢）　刺蒺藜（去刺，二錢）　廣橘絡（一錢）　原紅花（四分）　加豨薟草（四錢）　嫩桑枝（酒炒，四錢）</p>
<p>（案18）小姐。病久元虛，脾淺不足，六脈細軟，舌色紅燥，津液大虧，咳嗽干嗆無痰，土衰火旺，納穀少思，肝血不足，症非輕視，患久已成怯患之虞。宜扶脾滋陰抑水，丹溪法治之，候高明裁政。</p>
<p>制冬朮（二錢）　薏苡仁（四錢）　川石斛（四錢）　懷山藥（三錢）　制洋參（二錢）　廣橘白（一錢五分）　地骨皮（三錢）　奎白朮（炒，一錢五分）　炙鱉甲（三錢）　加蜜炙枇杷葉（三錢，刷毛）</p>
<p>服後好些，改方，加肥玉竹三錢、蒸女貞子三錢、紫丹參一錢五分。</p>
<p>（案19）小姐，傅思堂毛。胃熱上衝，時發牙漏，血出不止。擬清心降火止血而治。</p>
<p>鎊犀角（先煎，六分）　川貝母（去心研，二錢）　元參（三錢）　茜草（二錢）　揀麥冬（去心，二錢）　淡芩（炒，一錢）　丹皮（一錢）　黑山梔（二錢）　鮮生地（五錢）　加鮮茅根（去心，六錢）　藕節（五枚）</p>
<p>（案20）孫姓。失血後，咳嗆音啞，脈來細軟，舌色虛滑，納穀少思，木旺土衰，脾陽失運，得飲即吐。擬泄肝養脾清肺之法。</p>
<p>南沙參（三錢）　香穀芽（三錢）　雲苓（三錢）　霍山石斛（二錢）　新會皮（一錢）　薏苡仁（四錢）　川貝母（去心，一錢五分）　焦山梔（二錢）　懷山藥（三錢）　加藕節（三枚）</p>
<p>（案21）胡老大，正月二十九日診。濕熱疫邪，身熱未解，頭疼骨痛，神識昏蒙，症非輕視，防發疹斑，脈洪，舌膩。宜疏肌透解治之，候政。</p>
<p>淡豆豉（三錢）　赤苓（三錢）　蟬衣（淨，一錢）　焦楂肉（三錢）　粉葛根（一錢）　荊芥（一錢五分）　杏仁（去皮尖研，三錢）　炒牛蒡子（三錢）　炒枳實（一錢五分）　加佛手柑（五分）</p>
<p>昨進疏肌透解之劑，疫邪一候身熱未退，脈來浮數，舌色黃膩，神煩頭暈，遍體骨楚。此係溫熱未化，仍擬疏肌透解。</p>
<p>柴胡　炒建曲　淡豆豉　青蒿　陳皮　炒枳殼　益元散　乾葛　荊芥　加佛手柑（五分）　鮮荷葉（一張）</p>
<p>（案22）毛姓。胃火上升，牙宣出血，兼之腐白，唇燥口渴。擬清胃辛涼法。</p>
<p>酒炒川連（另煎沖，五分）　板藍根　鮮生地　連翹　粉丹皮（三錢）　生石膏　元參　人中黃　犀角尖（磨沖，六分）　加活水蘆根（一兩）　捲心竹葉（二十針）</p>
<p>（案23）陳老大。疫邪旬日，畏寒身熱未解，脈形弦滑，舌色白膩，中脘未寬，嘔惡黏痰。此係濕熱內蘊未清，症非輕視，防其增劇。擬溫膽解和法，加二青竹茹（鹽水炒）二錢。</p>
<p>柴胡（五分）　全瓜蔞（二錢）　廣皮（一錢）　枳實（炒，一錢）　粉丹皮（一錢五分）　赤苓（三錢）　熟半夏（一錢五分）　廣藿（一錢五分）　川連（另煎沖，五分）　淡豆豉（三錢）</p>
<p>昨進初進溫膽之劑，身熱未退，脈象形弦，舌苔黃膩，胸脘稍寬，嘔惡未減。此係疫邪未楚，症屬較重。仍宜加減治之，候政。</p>
<p>柴胡（五分）　知母（一錢）　枳實（炒，一錢）　黑山梔（二錢）　粉葛根（一錢）　甘草（四分）　赤苓（三錢）　黃連（五分）　熟半夏（一錢五分）　二青竹茹（鹽水炒，二錢）</p>
<p>（案24）謝先生。咳嗆已久，氣逆上衝，真陰失守，金受火邪，以致干嗆無痰，此係肝強脾弱，胃不納穀。擬健脾開胃滋陰，症非輕視，咳久恐成怯之患耳。</p>
<p>南沙參（二錢）　真川貝（去心，二錢）　青蒿子（一錢）　麥冬（去心，三錢）　枇杷葉（刷毛蜜炙，三錢）　紫菀茸（一錢五分）　肥玉竹（四錢）　生蛤殼（三錢）　燕菜（三錢）　炙鱉甲（三錢）</p>
<p>（案25）朱松鶴，在廣福寺南。鶴膝風。</p>
<p>十大功勞葉（三錢）　海風藤（三錢）　淮牛膝（二錢）　金毛狗脊（三錢）　酒洗全當歸（二錢）　千年健（二錢）　仙靈脾（二錢）　川獨活（二錢）　鹽水炒宣木瓜（二錢）　加酒炒桑枝（四錢）　松節（一個）</p>
<p>（案26）朱松鶴，在廣福寺南。鶴膝風。</p>
<p>十大功勞（八錢）　海風藤（三錢）　千年健（二錢）　全當歸（酒洗，二錢）　宣木瓜（鹽水炒，二錢）　仙靈脾（二錢）　淮牛膝（二錢）　川獨活（二錢）　金毛狗脊（去毛炙，三錢）　酒洗桑枝（四錢）　松節（一個）</p>
<p>（案27）華耆名娘娘。患久漏血有塊，腹痛脈象虛軟，舌苔微白無色。擬定痛止血治之，候政。</p>
<p>炒鬆生地（四錢）　川鬱金（二錢）　厚杜仲（三錢）　紫丹參（一錢五分）　炒黑茜草根（二錢）　血餘炭（二錢）　奎白芍（土炒，一錢五分）　當歸炭（二錢）　側柏葉（三錢）　陳棕炭（三錢）</p>
<p>（案28）娘娘。住新馬頭信泰酒店內。感冒受寒，腹疼上吐下瀉不已，濕熱未清，脈來遲澀，舌苔帶白。宜和中分利，溫中主治，候政之。</p>
<p>老蘇梗（二錢）　楂肉（炒，三錢）　制川樸（一錢）　熟半夏（一錢五分）　赤茯苓（三錢）　煨木香（六分）　加大腹絨（淨，三錢）　梗通（一錢）　煨姜皮（三分）</p>
<p>（案29）蕭玉衡兄，杜家灣，棋杆內。感冒受風，氣逆不舒，痰多咳嗽，氣喘胸脘不寬，脈象六陰兼之帶浮滑，舌色白膩，此係寒客肺胃，濕痰阻滯中焦。宜開泄化痰定喘佐治，候政。</p>
<p>旋覆花（絹包，二錢）　杏仁（去皮尖研，三錢）　杷枇葉（刷毛蜜炙，三錢）　橘紅（一錢五分）　桑白皮（蜜炙，二錢）　川貝母（去心，二錢）　杜蘇子（炒，三錢）　鉤鉤（後下，三錢）　代赭石（煅，三錢）　加雪梨膏（四兩，沖服）</p>
<p>（案30）蕭棣香兄，杜家灣，棋杆內。</p>
<p>風火挾寒，喉疼咳嗽，脈象形浮，舌色微白，此乃寒入肺胃。擬辛涼疏解治之，候政。</p>
<p>冬桑葉（一錢五分）　荊芥穗（一錢五分）　甘草（四分）　射干（一錢）　元參（一錢五分）　馬勃（包，六分）　桔梗（一錢）　象貝（去心，二錢）　大力子（炒，一錢）　杏仁（研）　加紫蘇葉（一錢）</p>
<p>（案31）杭州人，上海大關總庫，孫竹堂，名履泰，住大東門內孫家弄，看五姑奶奶。因感寒挾滯中州，寒熱胸中，挾食停留，兼痛。</p>
<p>酒炒柴胡（五分）　炒建曲（三錢）　熟半夏（一錢五分）　淡豆豉（一錢五分）　炒黃芩（一錢）　赤苓（三錢）　炒枳殼（一錢）　蔞實（一錢）　加蔥白頭（一個）</p>
<p>前進疏解寬中之劑，胸悶略寬，心手按之，仍然疼痛，挾食未消，大便數日不行，寒熱稍減，仍宜小柴胡湯並達原飲加減治之，候政。</p>
<p>酒炒柴胡（五分）　知母（一錢）　小青皮（一錢）　草果仁（麵包煨，一錢）　瓜蔞實（三錢）　枳實（一錢）　洗黃芩（一錢）　檳榔（八分）　郁李仁（研，三錢）　杏仁（去皮尖研，三錢）　加松子霜（五錢）　白蜜（二點）</p>
<p>進前方疏解通滯寬胸之劑，寒熱已退，胸悶仍舊不舒，大便仍然不下，厚味香燥，常服傷胃燥結。宜清大腸之火，潤達主治。</p>
<p>鮮生地（五錢）　尖檳榔（八分）　花粉（三錢）　瓜蔞仁（一錢）　草果仁（麵包煨，一錢）　小青皮（一錢）　淡芩（炒，一錢）　火麻仁（炙，三錢）　知母（一錢）　桃仁（淨，三錢）　加青寧丸（一錢，一服而大便已下）</p>
<p>前進通滯寬中，潤腸清火劑，大便已行，脾土不運，飲食無味，口淡，納穀少思，無胃氣，過而味。擬開胃進食，候政。</p>
<p>鮮石斛（四錢）　橘紅（鹽水炒，一錢）　懷山藥（三錢）　潼沙苑子（三錢）　歸身（一錢五分）　奎白芍（炒，一錢五分）　菟絲餅（三錢）　女貞子（蒸，三錢）　加鉤鉤（三錢，後入）　生穀芽（三錢）</p>
<p>（案32）孫竹堂姨奶奶。胃氣不宣，飲食無味，兩筋乏力，脈象細軟，舌色光滑。擬開胃養血，和絡安榮為主。</p>
<p>野於術（炒，一錢）　鉤鉤（後入，三錢）　川石斛（三錢）　厚杜仲（三錢）　川貝母（二錢）　歸身（一錢五分）　奎白芍（土炒，一錢五分）　陽春砂（打，四分）　新會皮（炒，一錢）　川芎（四分）　加玫瑰花（二朵）</p>
<p>（案33）楊天順，叄號住宅內，在天官坊。甫今二月之孩，赤遊風毒，遍體赤腫，遊走未定，胸腹堅硬，先天毒入內攻，音啞，濕瘀流三焦，症勢險重，殊屬棘手，慎之慎之。擬化毒消風辛涼法，候政。</p>
<p>犀角（另煎沖，六分）　杜貝母（去心，三錢）　鮮生地（四錢）　丹皮（炒，二錢）　生軍（一錢五分）　川連（酒炒，五分）　人中黃（六分）　西赤芍（一錢）　加淨銀花（三錢）　連翹（二錢）</p>
<p>第二方：川黃連（五分）　炒淡芩（一錢）　連翹（一錢五分）　炒丹皮（一錢五分）　生軍（一錢五分）　蒲公英（三錢）　西赤芍（一錢五分）　土貝母（去心，三錢）　鮮生地（五錢）　加炒嘉蠶（三錢）　淨銀花（三錢）</p>
<p>（案34）裴永利沙船上毛大爺。感冒受風，恙經月餘，身熱已解，濕熱內蘊未清，咳嗽氣逆，干嗆無痰，痞悶胸脘不舒，寒於肺胃，咳逆上升，胃氣不宣，飲食無味，脈來細軟少神，氣血內虧，寤寐欠安，則胃不和矣，舌色微白帶垢。此係濕熱蒙阻未清。擬開泄化痰。</p>
<p>冬桑葉（一錢五分）　杜蘇子（研，三錢）　鉤鉤（後下，三錢）　霍石斛（三錢）　新會皮（一錢）　生藁皮（蜜炙，二錢）　杏仁（開，三錢）　川貝母（去心，一錢五分）　枇杷葉（刷毛蜜炙，三錢）　瓜蔞仁（炒，三錢）　加雪梨膏（衝入，三錢）</p>
<p>咳嗽略減，照前方加旋覆花（包）二錢、靈磁石（煅）三錢。</p>
<p>昨進宣胃化痰定嗽劑，肺咳略平，飲食稍覺得味，素食大煙，煎熬營衛已枯，氣血安能獨足。擬養血滋陰，止咳和陽潤腸。</p>
<p>元米炒洋參（二錢）　杏仁（研，三錢）　全瓜蔞霜（三錢）　鮮霍石斛（四錢）　酒洗淡蓯蓉（去甲炙，三錢）　新會白（一錢）　柏子仁霜（包，三錢）　蜜炙生桑皮（三錢）　蜜炙枇杷葉（刷毛，三錢）　火麻仁（研，三錢）　加雪梨膏（三錢，沖服）　另用糯稻根鬚（一兩，煎湯代水）</p>
<p>二煎劑後加赤茯神三錢、川貝母（去心）二錢、郁李仁（研）三錢。</p>
<p>又服一劑之後，大便已下，咳嗽略減，胃氣漸宣，自汗稍除，照前方去瓜蔞霜、郁李仁、火麻仁，加左牡蠣（煅）四錢、囫圇生棗仁二錢、肥玉竹三錢。</p>
<p>前進宣胃補中養營和血劑，自汗甚多，夜臥少安，神不守舍，營虛氣弱，神志不寧，精力大虧，六脈細軟少神，舌色虛滑，納穀不運，進食稍有得味，精液仍覺乾枯少澤，咳嗽略緩，此係營衛不固，毛竅空疏，汗流時出。暫照宣胃養營，納氣安神，斂汗壯陽，止嗽降痰，扶原補氣養血主治。</p>
<p>原米炒洋參（二錢）　生棗仁（二錢）　霍石斛（四錢）　左牡蠣（煅，五錢）　橘白（一錢）　蜜炙大有耆（二錢）　野於術（土炒，一錢）　淡蓯蓉（酒洗去甲尖漂，一錢）　加赤茯苓（三錢）　川貝母（去心，二錢）　另用糯稻根鬚（一兩，煎湯代水）</p>
<p>前方所進胃氣略宣，自汗未止，夜寤不安，乃胃不和則臥不寧，定心安神又加炒黑遠志四分、紫丹參一錢、奎白芍一錢五分。</p>
<p>（案35）錢老榮，二月十四日。望見城中失火受驚，奔走大勞傷氣，哮喘，氣逆不舒，言語不能接續，沖曲躬稍緩，風邪傳入肺經，脈象浮滑，舌色白，膩苔微定，疏邪乘虛而上浮，症屬棘手，防其痰壅，氣逆不舒。暫宜疏肺化痰降氣，三拗湯合旋覆代赭蘇子降氣法。</p>
<p>蜜炙麻黃（三分）　杜蘇子（三錢）　橘紅（炒，一錢五分）　杏仁霜（三錢）　旋覆花（三錢）　桑白皮（蜜炙，一錢五分）　蔞仁（炒，三錢）　粉甘草（四分）　代赭石（二錢）　加雪梨膏（三錢，沖服）</p>
<p>昨進疏風化痰，定喘降氣劑，哮喘氣逆如常，日輕夜重，氣喘痰黏，吐而不暢，恐其痰升氣厥之慮。</p>
<p>蜜炙麻黃（三分）　靈磁石（煅，二錢）　馬兜鈴（一錢五分）　象貝母（去心，三錢）　蘇子（研，三錢）　生桑白（三錢）　粉甘草（四分）　白前（一錢）　杏仁霜（三錢）　加二青竹茹（鹽水炒，二錢）　雪梨膏（三錢，衝入）</p>
<p>此方未服，適痰壅氣升而亡。</p>
<p>（案36）汪士保（號大英）娘娘，年五十七歲，南西倉橋。初起咽喉腫痛，思其風火疼，用吹藥吹之不除，復加大便泄瀉，一日便除，兼之身熱未涼，不語，此係冬溫春發，寒邪入於肺胃，挾熱下瀉已解，脈象遲澀，舌不出關，寒邪傳內，神色模糊，多語昏蒙，症屬險危。恐防邪陷，內閉之虞，暫宜疏肌透解，祛痰開泄，清心主治，候諸位高明政。</p>
<p>淡豆豉（三錢）　天竺黃（一錢五分）　大力子（炒，三錢）　荊芥（一錢五分）　枳實（一錢）　桔梗（一錢）　赤茯苓（三錢）　象貝（去心，三錢）　鉤藤（後下，四錢）　杏仁（去皮尖研，三錢）　加萬氏犀黃清心丸（一粒）</p>
<p>（案37）黃研心太太，老閘荊樂堂。患久咽痛，此心脾火旺土衰。宜清心平肝止嗽降氣，候政。</p>
<p>羚羊角片（一錢五分）　丹皮（一錢五分）　黑山梔（一錢五分）　真川貝（二錢）　制嘉蠶（一錢五分）　枇杷葉（刷毛蜜炙，三錢）　鉤鉤（後下，四錢）　黑玄參（二錢）　加連翹（一錢五分）　雪梨膏（衝入，三錢）</p>
<p>（案38）張坤培娘娘，城內此張家弄。病久將期兩月，周身麻痹不仁，氣虛而受風入絡，大便數日不行，小便閉脹腹痛，此係內閉。恐其外脫，症屬險重，暫宜補中升提，清金利水，候政。</p>
<p>升麻（三分）　柴胡（五分）　滑石（三錢）　黑山梔（二錢）　福澤瀉（一錢五分）　丹皮（一錢五分）　通草（一錢）　車前（三錢）　加瞿麥（三錢）　桔梗（五分）</p>
<p>昨進升提補中、清金利水一法之劑，大便已下，堅硬不暢，小便亦少，赤如月水，兼有白淋，小腹仍然脹滿不寬。仍用補中利水，升提通淋法。</p>
<p>升麻（四分）　制於術（一錢五分）　西黨參（三錢）　通草（一錢）　萹蓄（一錢）　柴胡（四分）　牛膝梢（二錢）　車前子（三錢）　加飛滑石（三錢，絹包）　琥珀屑（衝入，五分）</p>
<p>（案39）蔣元升門上，裁縫師傅，城內趙家嘴角。冬寒春發，兩肋吸痛插脅，傷寒兼之咳嗽，身熱未解，脈來浮滑，舌色白膩。此係寒邪入里，暫宜疏肌通里。</p>
<p>淡豆豉（三錢）　旋覆花（絹包，二錢）　瓜蔞仁（炒，三錢）　杏仁（研，三錢）　桔梗（一錢）　大力子（炒，三錢）　新絳屑（一錢五分）　象貝母（去心，三錢）　歸鬚（一錢）　加蔥白頭（一個）　橘紅（一錢）</p>
<p>（案40）吳姓，天后宮後。冬溫春發，伏邪身熱未解，六脈遲澀，舌色黃膩，脘悶未寬，挾食停滯中焦，拒按作痛。症屬棘手險重，恐防邪陷轉脫。擬疏風裡痛解肌，候高明政。</p>
<p>淡豆豉（三錢）　大力子（炒，三錢）　葛根（一錢）　全瓜蔞（三錢）　尖檳榔（一錢）　炒枳實（一錢）　炒黃芩（一錢）　知母（一錢）　草果（麵包煨，一錢）　加元明粉（沖服，一錢五分）</p>
<p>（案41）王秀成，西門內鐸庵東首。第一方。年高花甲有餘，冬溫春發，身熱一候未解，中脘未寬，拒按作痛，嘔逆氣衝，挾食停留，胸中迷悶，神色有時模糊，六脈遲澀，舌色白膩。證屬重險，防其傳內，此係邪入膜原轉汗，恐其厥逆氣脫，宜疏肌法。</p>
<p>淡豆豉（三錢）　炒黃芩（一錢）　大力子（炒，三錢）　知母（一錢）　草果（麵包煨，一錢）　全瓜蔞（三錢）　炒枳實（一錢）　杏仁（三錢）　加葛根（一錢）　元明粉（二錢，衝入）</p>
<p>昨進劑，身熱轉汗身涼，胸脘拒按仍痛，大便雖解未暢，伏寒停食未清，脈來浮滑，舌色白膩。伏邪停滯中州，迷昏未清，症防轉變。宜疏肌解表清裡法。第二方。</p>
<p>淡豆豉（三錢）　丹皮（一錢五分）　全瓜蔞（三錢）　杏仁（去皮尖，三錢）　黑山梔（二錢）　知母（一錢）　鮮生地（五錢）　黃芩（炒，一錢）　炒枳實（一錢）　加活水蘆根（六錢）　二青竹茹（二錢，水炒）</p>
<p>前進疏肌解表清裡劑，身熱已退，六脈浮洪，舌色根膩，中脘略寬，大便解而薄溏，色黑，小便短赤。濕熱熱伏，邪尚阻中宮未化，症屬險重，防其增劇，仍宜清裡化解。</p>
<p>鮮生地（五錢）　花粉（三錢）　通草（一錢）　黑山梔（三錢）　丹皮（一錢）　黃芩（炒，一錢）　瓜蔞實（三錢）　連翹（二錢）　川貝母（研，二錢）　加活水蘆根（六錢）　二青竹茹（二錢，水炒）</p>
<p>（案42）嚴問榮，號友竹先生，縣署總房，住城內也是園南首，興隆橋東堍。病久元虛，血虧損，脾胃不和，中脘作悶，肝陽犯胃，思食不飢，進補太早，膩隔胸中，王芝臺先生之誤用溫補，胃氣不宣。暫宜開泄和脾，化氣寬中，和胃平肝為主。</p>
<p>霍石斛（四錢）　新會皮（一錢五分）　赤茯苓（三錢）　廣木香（六分）　青皮（一錢）　白豆蔻（打，四分）　鉤藤鉤（後入，三錢）　川鬱金（一錢）　加玫瑰花（二朵）　炒扁豆（三錢）</p>
<p>（案43）王姓，住東馬橋。冬寒溫發，身熱未解，便溏泄瀉，現發痧斑未透，胸悶未寬，挾食滯，六脈浮洪，舌膩，症非輕視。恐其邪陷轉變，宜疏肌透解法。</p>
<p>牛蒡子（炒，三錢）　蟬衣（淨，一錢）　枳殼（炒，一錢）　楂肉（炒，三錢）　杏仁（開，三錢）　赤苓（三錢）　黑山梔（三錢）　荊芥（一錢五分）　廣皮（一錢）　加西河柳（二錢）</p>
<p>（案44）楊姓，常州府無錫縣，沙船任合利老大。受感冒風，寒邪入肺，非近時感受所得，因冒雨當風所致，平日積受肺胃兩經，每遇西北風高土燥，哮喘氣逆難舒，中州迷悶，咳嗆黏痰，六脈遲澀，舌苔滿布白膩，此係邪傳肺胃，哮喘氣逆上，坐臥難安，下虛上實。暫擬鎮肺疏風為主，三拗湯合旋覆代赭蘇子降氣湯，瀉肺之法主治之。</p>
<p>蜜炙麻黃（三分）　杏仁霜（三錢）　粉甘草（四分）　旋覆花（絹包，二錢）　杜蘇子（炒，三錢）　煅代赭（二錢）　馬兜鈴（一錢五分）　橘紅（一錢五分）　加甜葶藶（一錢）　雪梨膏（三錢，沖服）</p>
<p>（案45）大關招庫汪曉春，住陳箍桶橋東首。耳鳴作響，聽聞言語甚遠，乃先天不足，時逢春分，東方甲木當權，肝火上達，耳鳴。擬平肝瀉龍雷之火，壯北方壬癸之水。肝火便除，耳鳴自聰矣。</p>
<p>羚羊角（一錢五分）　川貝母（一錢五分）　柏子仁（三錢）　川柏（一錢）　石決明（四錢）　知母（鹽水炒，一錢）　蒸首烏（五錢）　鉤藤鉤（四錢）　女貞子（蒸，三錢）　加鮮菖蒲（五分）</p>
<p>前進降氣瀉火，平肝壯水之劑，耳鳴稍減，悉照前法。</p>
<p>炙元武（四錢）　制首烏（五錢）　雲苓（三錢）　女貞子（蒸，三錢）　懷山藥（三錢）　嫩鉤鉤（後下，四錢）　鹽水炒川柏（一錢）　鹽水炒知母（一錢）　柏子仁（三錢）　加黑芝麻（三錢）　料豆衣（三錢）</p>
<p>（案46）劉永泰（白糖船，二幫二碼後稍）媽媽。妊娠三月，小產八天，遍體骨痛腰痠，瘀血停留作痛，六脈細小，舌苔虛滑，津液乾燥，面白無神。此係瘀血凝滯，擬祛瘀通理生新法。</p>
<p>歸鬚（二錢）　延胡（三錢）　桃仁（三錢）　川牛膝（二錢）　丹參（一錢五分）　青皮（一錢）　焦楂（三錢）　澤蘭（一錢）　川芎（四分）　紅花（二錢）　加五靈脂（二錢）　益母草（三錢）</p>
<p>（案47）顧咸坤，奚家木橋一元鞋子店。年已七旬有餘，勞神太過，肝風震動，患久濕痰，心肝血少，思慮傷脾，怔忡驚悸。此係思慮太過，傷神氣營衛，擬調養安神定悸法。</p>
<p>炒黑遠志（六分）　川鬱金（六分）　紫丹參（一錢五分）　柏子仁（三錢）　炒白芍（一錢五分）　川石斛（四錢）　製半夏（一錢五分）　雲苓（二錢）　加嫩鉤鉤（三錢，後下）　玫瑰花（二朵）</p>
<p>（案48）朱藕香，敦本堂。感受痧氣，胸悶不寬，六脈細軟，氣血凝滯，舌色光滑。此係痧氣未清，暫擬和氣血通滯寬中。</p>
<p>沉香曲（一錢）　萊菔子（三錢）　枸橘梨皮（一錢）　白豆蔻（淨仁，四分）　青木香（一錢）　江枳殼（一錢）　赤茯苓（三錢）　加陳青蒿根（一個）　福澤瀉（一錢五分）</p>
<p>（案49）崇本堂丁合隆宅七少奶奶，住小九華東。挾郁胸中，痰流包絡，神色模糊，昏迷不清，六脈浮滑，天癸數月未行。濕痰尚阻中州，擬化痰寬氣，安神鎮心。</p>
<p>天竺黃（一錢）　石決明（五錢）　鉤藤鉤（後下，四錢）　柏子霜（三錢）　丹參（二錢）　廣橘絡（一錢五分）　炒黑遠志（四分）　抱木茯神（三錢）　加石菖蒲（五分）</p>
<p>（案50）張文斌，號可泉，南匯縣道房。風濕入絡，周身痹痛難行，四肢舉按不仁，飲酒濕流，房勞冒風，入手經絡，骨節皆疼，痹痛者風也。擬祛風和絡，舒經養血主治。</p>
<p>金毛狗脊（去心，二錢）　十大功勞（二錢）　淮牛膝（二錢）　宣木瓜（一錢五分）　絲瓜絡（一錢五分）　松節（一枚）　酒炒桑枝（四錢）　川斷肉（二錢）　海風藤（二錢）　加千年健（二錢）　仙靈脾（二錢）　酒炒全當歸（二錢）</p>
<p>（案51）小南門外，里倉橋朱錦泰綢緞莊，張家武弟。濕熱流傳，遍體瘙癢，手足疥瘡多流濕衣服，或因冷雨浸入，肌膚所受發遍體。擬清解化濕。</p>
<p>鮮首烏（五錢）　綿茵陳（三錢）　蛇床子（三錢）　粉丹皮（一錢）　炒丹皮（三錢）　甘草節（五分）　連翹（一錢五分）　川柏（一錢）　加淨銀花（五錢）　豬苓（二錢）</p>
<p>（案52）朱映桂堂三少爺。耳後紅腫作痛，乃肝膽熱邪流傳不泄。擬瀉肝散腫疏風。</p>
<p>柴胡（五分）　龍膽草（六分）　知母（一錢）　蘇葉（一錢）　荊芥（一錢五分）　桔梗（一錢）　連翹（一錢）　黃芩（一錢）　丹皮（一錢）　加薄荷（六分）</p>
<p>（案53）城內長生橋西，葉正大洋貨店娘娘。妊娠三月，勞動太過，胎漏三日，如月事更多，腰痠肢軟，漏血雖止。擬靜養安胎法。</p>
<p>霍石斛（四錢）　川芎（四分）　川斷肉（一錢五分）　炒黃芩（一錢五分）　砂仁（研，四分）　金櫻子（三錢）　女貞子（蒸，三錢）　川貝母（三錢）　加覆盆子（三錢）　厚杜仲（三錢）</p>
<p>（案54）邑廟東，張隆茂布店，光佩娘娘，西門胡槎客之妹。月事不行已有十六個月，以人覺肥瘦更甚，痰流子宮，脂膜不開，腸覃之證，非妊娠之候，家言懷孕，余所非也，乃痰阻不流，恐其有崩漏之症。暫擬開胃養血為治。</p>
<p>廣橘白（一錢）　金石斛（三錢）　生穀芽（三錢）　歸身（一錢五分）　茯苓（三錢）　川芎（四分）　奎白芍（炒，一錢五分）　真川貝（去心，一錢五分）　紫丹參（一錢五分）　加炒子芩（一錢五分）　陽春砂（研，四分）</p>
<p>（案55）王瑞卿，周浦人，在上海思敬堂陳宅。疔毒勢甚，慢疔已發三天，請莫自適香仕，為風火，已制酒散之，更腫未發，現余說慢疔甚毒，看則遲，恐其焮腫不退，即是走黃，毒入內攻，無藥可治，惟聽天命。延至三日，疔眼無膿，毒入臟腑，空惡神昏，毒入內攻，證屬棘手，惟盡人事，實難療治。擬清心化毒治之，候高明政用。</p>
<p>山慈姑（二錢）　皂角刺（炙，一錢）　川連（四分）　赤苓（一錢）　鮮首烏（四錢）　生石膏（六錢）　蒲公英（三錢）　加桔梗（一錢）　連翹（二錢）　地丁草（三錢）</p>
<p>（案56）謝大春煙店內王先生，江陰人。冬寒春發，身熱未解，咳嗆無汗，遍體骨楚，頭疼干惡，脈來洪數，舌色白膩。此係溫邪蘊熱未解，干惡頭疼，時發斑疹，症非淺恙，恐防增劇。擬疏肌解表法。</p>
<p>淡豆豉（三錢）　荊芥（一錢五分）　紫蘇（五分）　楂肉（炒，三錢）　枳殼（炒，一錢五分）　炒建曲（三錢）　乾葛（一錢）　杏仁（開，三錢）　加赤苓（三錢）　蔥白頭（一個）</p>
<p>（案57）龍華曹大兄。素體柔弱，真元虧損，嗌乾喉癢，津液枯涸，水虧木旺，火燥乘金，咳嗆音啞，痰中帶血，四肢痠軟，筋骨攣疼。肺失主持，不能榮養，水不足，火旺凌金。宜潤氣清金。</p>
<p>參三七（一錢）　炒茜草（一錢五分）　山茶花（一錢五分）　真川貝（去心研，三錢）　羚羊角（一錢五分）　丹皮（一錢五分）　原生地（四錢）　揀麥冬（去心，二錢）　加鮮茅根（去心，三錢、藕節四枚）</p>
<p>（案58）郭左。陰虛火旺，水不升降，久咳無痰，舌燥口乾，津液少澤，夜臥欠安，咳嗆喉干，精力內弱。宜清肺生金壯水法。</p>
<p>冬桑葉（一錢五分）　生蛤粉（三錢）　款冬花（二錢）　八嘴杏仁（打，三錢）　粉甘草（四分）　馬兜鈴（一錢五分）　旋覆花（絹包，三錢）　川貝母（去心研，三錢）　加蜜炙枇杷葉（三錢，刷毛）</p>
<p>（案59）王研心堂奶奶，老閘。思慮太過，心火自焚，諸經隨今主宰，火逆上衝不降，喉疼咳嗆，舌刺唇乾，脾心火旺。擬壯水之源，以制陽光之火。</p>
<p>炙元武（四錢）　馬兜鈴（一錢五分）　元參（三錢）　粉甘草（四分）　肥玉竹（三錢）　陳阿膠（蛤粉炒成珠，二錢）　牡丹皮（二錢）　天花粉（二錢）　燈心（二十根）　加雪梨膏（三錢，衝入）</p>
<p>（案60）王成秀，第四方。前進清涼化熱劑，胸脘已寬，濕熱內伏未清，寒痰尚阻中州未化，脈來滑數，舌苔略薄。擬養陰清化法。</p>
<p>原生地（四錢）　鮮石斛（四錢）　赤茯苓（三錢）　丹皮（一錢五分）　川貝（去心，二錢）　福建澤瀉（一錢五分）　炒新會皮（一錢五分）　生穀芽（二錢）　加淡竹葉（二錢）　黑山梔（二錢）　燈心（二十根）</p>
<p>（案61）西門外吊橋東北首，孫國彩，川沙廳九圍龔家路口。年逾古稀，感冒受風，入於肺胃，遍體骨楚，頭疼咳嗆，氣逆難舒，肋脅作痛，脈來遲澀，舌苔滿布白膩，伏邪寒入膜原，身熱骨痛。此係癆助半遍傷寒之患，症非輕視，明日適交立夏，恐防轉傳，宜疏風通絡主治。</p>
<p>淡豆豉（三錢）　大力子（研，三錢）　全福花（絹包，二錢）　杏仁（三錢）　川貝（二錢）　赤苓（二錢）　新絳屑（一錢五分）　廣橘絡（一錢）　代赭石（煅，二錢）　加蘇子（炒，二錢）　青蔥管（一根）</p>
<p>（案62）大東門外郎家橋，福康水先生。勞神太過，心血內虧，而成怔忡、健忘、驚悸之症。</p>
<p>經霜桑葉（一錢五分）　柏子霜（包，三錢）　生棗仁（二錢）　女貞子（三錢）　霍石斛（三錢）　炒黑遠志（六分）　紫丹參（一錢五分）　加抱茯神（三錢）　嫩鉤鉤（三錢，後入）　燈心（二十寸，辰拌）</p>
<p>（案63）嚴友竹先生。前進和脾宣胃化痰劑，肝陽犯胃稍減，脾胃已和，六脈仍帶虛軟，舌色微黃。擬和脾開胃生津法。</p>
<p>元米炒洋參（二錢）　香穀芽（三錢）　制於術（一錢五分）　玫瑰花（二朵）　女貞子（蒸，三錢）　霍山石斛（四錢）　淮山藥（三錢）　加枸橘梨皮（一錢）　炒黃米仁（四錢）　炒香扁豆（三錢）</p>
<p>（案64）同和燭店，桂圓橋。虞患肝胃氣疼已有數年，時發，受寒所致，木鬱乘土。擬平肝溫胃。</p>
<p>川桂枝（三分）　淡乾薑（炙，三分）　九香蟲（二錢）　瓦楞子（三錢）　延胡（一錢五分）　白豆蔻（打，四分）　姜半夏（一錢五分）　川椒（二分）　青皮（一錢）　加赤苓（二錢）　鮮橘葉（五片）　玫瑰花（二朵）</p>
<p>（案65）闕南火腿弄內，萬鎰棧，福建林老爺。年逾六旬，素食大煙，腹鳴氣滯，便溏泄瀉，納穀少思，因中州脾胃不化，少腹牽引作痛，腹鳴氣阻下行。此係濕熱伏寒，宜溫胃和中。</p>
<p>桂心（三分）　制冬朮（一錢五分）　熟半夏（一錢五分）　煨木香（六分）　炒扁豆（三錢）　陽春砂（打，四分）　雲苓（三錢）　炒黃米仁（四錢）　制中樸（一錢）　加煨姜皮（三分）</p>
<p>（案66）山西友爺，號一清。寓水仙宮內。濕熱下注，厥陰膀胱濕熱未清，以致莖中作痛，包頭數處消潭。此乃包頭下疳之象，濕熱未清。宜瀉肝理濕火，清理下焦濕滯矣。</p>
<p>龍膽草（六分）　連翹（二錢）　甘草（五分）　黑山梔（一錢五分）　丹皮（一錢五分）　花粉（二錢）　飛滑石（三錢）　黃芩（炒，一錢）　川柏（一錢）　加淡竹葉（三錢）　通草（一錢）</p>
<p>另用珍珠八寶丹：真西黃（一分）　濂珠（三分）　琥珀（一錢）　人中白（二錢）　梅片（三分）　劈辰砂（二分）　雄黃（三分）　滴乳石子（二錢）</p>
<p>（案67）郝爺，廣西人。初患廣瘡，遍體如痘，手足心中亦有，感毒所致，遍體行，膚肌隱隱。此係濕熱餘火，流傳肺經，兼入足太陰經，宜清火化毒。</p>
<p>鮮生地（六錢）　漢防己（二錢）　福澤瀉（二錢）　牡丹皮（一錢）　粉豬苓（二錢）　粉甘草（五分）　白蘚皮（二錢）　飛滑石（三錢）　海金沙（三錢）　加淨銀花（三錢）　淡竹葉（三錢）</p>
<p>（案68）海門，楊大兄。素體內虧，真元不足，濕淡流注骨髓，氣血虛弱，營衛失調，痰之為物，隨氣升降，周流一身無處不到，氣虛血少，痰流不行，停於皮裡膜外之間，日久恐其遍體肉削，面瘦肌黃，元陽更弱。先宜培元法。</p>
<p>大熟地（四錢）　炙元武（四錢）　山萸肉（三錢）　懷山藥（三錢）　歸身（一錢五分）　雲茯苓（三錢）　牡丹皮（一錢五分）　甘枸杞（二錢）　女貞子（二錢）　加紅棗（五個）</p>
<p>（案69）太太，城內四牌樓，恆和號，毛鳳州夫人。年高氣弱，心志神勞，濕痰中阻，肝火耳鳴，怔忡惕之，心虛血少。宜養神益志，平肝祛痰法。</p>
<p>紫丹參（一錢五分）　抱茯神（三錢）　黑芝麻（炒，三錢）　鉤藤（後入，四錢）　代代葉（二片）　天竺黃（一錢）　靈磁石（煅，三錢）　經桑葉（一錢五分）　加炒黑遠志炭（六分）　辰拌燈心（二十根）</p>
<p>（案70）咸宜堂大少爺，小南門外里倉橋，王信義新宅。肺經受風，寒邪內伏，咳嗆干嗽，痰黏胸脘未舒，脹悶，脈來浮滑，舌色微白。此係寒邪於肺胃未泄，宜疏風辛涼法。</p>
<p>經霜桑葉（一錢五分）　池菊炭（一錢）　全福花（絹包，二錢）　甜杏仁（開，三錢）　杜蘇子（研，三錢）　廣橘紅（炒，一錢五分）　蜜炙枇杷葉（刷毛，三錢）　川貝母（去心，開，一錢五分）　海浮石（二錢）　加雪梨膏（三錢，衝入）　蔞仁（二錢）</p>
<p>（案71）敦本堂，朱藕香老爺。伏暑感風，脈來浮滑。擬疏風泄肺。</p>
<p>經霜桑葉（一錢五分）　象貝母（去心，三錢）　防風（一錢五分）　淡芩（一錢五分）　桔梗（一錢）　杏仁（開，三錢）　池甘菊炭（一錢五分）　薄荷葉（六分）　鉤鉤（後下，三錢）　加蜜炙枇杷葉（刷毛，三錢）　雪梨膏（沖，三錢）</p>
<p>（案72）姨太太，藕香如夫人。風火受寒，邪入陽明，牙疼腮腫，口燥唇乾，脈來浮數，舌苔微白。宜辛涼散解。</p>
<p>牛蒡子（研，三錢）　黃芩（炒，一錢）　川芎（四分）　山梔（一錢五分）　杏仁（去皮尖，研，三錢）　連翹（二錢）　花粉（二錢）　丹皮（一錢）　加蘇葉片（一錢）　甘草（五分）</p>
<p>（案73）奶奶，李家園程振麟，字賡南，號揚園，貢姜客之夫人。年逾四旬，胃強脾弱，兼之濕伏中州，飲食無味，四肢痠軟，腰疼無力，血海空虛，濕痰阻滯。宜宣胃化痰。</p>
<p>霍山石斛（三錢）　川貝母（去心，一錢五分）　蔞仁（三錢）　制香附（二錢）　川鬱金（一錢）　砂仁（四分）　炒香穀芽（三錢）　鉤藤鉤（後入，三錢）　橘白（一錢五分）　加蘇梗（二錢）　鮮橘葉（七片）　玫瑰花（二朵）</p>
<p>（案74）南倉橋陳煥祥之子。哺年一歲，感受寒客於肺胃，哮喘咳嗆，氣逆不舒，痰黏不得探吐，風邪內伏未清，脈滑，舌膩。此係寒邪內伏未清，宜泄風定喘降氣，候政。</p>
<p>麻黃（蜜炙，二分）　全福花（絹包，二錢）　炙桑葉（一錢五分）　鉤鉤（後下，三錢）　枳殼（炒，一錢）　廣橘紅（一錢）　蘇子梗（研，各三錢）　杏仁霜（三錢）　粉甘草（四分）　加雪梨膏（衝入，二錢）</p>
<p>（案75）金印梅先生，住察院場，汪泰興，二月二十五日，即春分前一日。恙久半月餘，濕痰蒙閉，內伏中州，脾陽失運，痰阻脾胃二經，咳嗽痰黏，哮喘氣逆不舒，脈形浮滑，舌帶白膩。此濕困脾陽未化，擬泄風化痰，利濕降氣。</p>
<p>金沸草（絹包，二錢）　生桑皮（三錢）　杜蘇子（炒開，三錢）　新會皮（一錢五分）　熟半夏（一錢五分）　代赭石（煅，三錢）　福澤瀉（二錢）　通草（一錢）　加赤苓皮（四錢）　薑汁炒二青竹茹（二錢）</p>
<p>（案76）顧書田，外郎家橋，南毛家弄內。年已七旬，素體肥胖，濕痰客冬，曾患半身不遂之症，幸其精力充盈，余已治瘳，今春二月，邪又患，步履艱難，足膝痠軟，四肢不仁。今逢甲木行事，氣血內虧，濕痰停滯，宜祛風通絡。</p>
<p>蒸首烏（四錢）　仙靈脾（三錢）　宣木瓜（一錢五分）　茯神（三分）　女貞子（久蒸，三錢）　五加皮（一錢五分）　淮牛膝（二錢）　全當歸（三分）　金毛狗脊（去毛炙，二錢）　加絲瓜絡（酒炒，二錢）　酒炒嫩桑枝（四錢）　酒洗淡蓯蓉（二錢，漂淡）</p>
<p>（案77）官官。初患遍體赤遊風毒，遊走無定，腹脹如箕，臍口遊風入於胸背，下達陰囊，兼入四肢而退，乃先天餘毒內結外攻，當背腫實，大如鵝蛋，顏色不變，此乃胎毒流痰，兩手臂彎亦有如癤，按之隨手即起，以知內有膿水，余刺之，其膿清淡而薄。哺年兩月之孩，受虧不起，即知元氣不足，幸其食乳不減，常覺夜啼。擬培元托裡，定痛消腫，清火解毒一法。</p>
<p>參鬚（另煎沖，二分）　生耆（二錢）　玉桔梗（六分）　連翹（二錢）　土貝母（去心，二錢）　川芎（一錢）　天花粉（三錢）　赤芍（一錢）　當歸（二錢）　加黃芩（一錢）　丹皮（一錢）　淨銀花（二錢）</p>
<p>（案78）王映澄，年五旬有三。神勞不息，原氣虛弱，濕痰蒙阻，胸脘不舒，得食即覺飽悶，大便欲解不解，中虛下陷，濕阻中州，耳鳴頭脹，濕痰挾之肝火上升，脈象六陰，舌苔膩垢，中黃遍滑。濕痰蒙朧阻中州，宜開泄化痰，平肝理氣，補中和脾。</p>
<p>制冬朮（一錢五分）　香穀芽（三錢）　橘白（一錢）　茯苓（三錢）　川石斛（三錢）　石決明（生打，四錢）　池菊花（一錢五分）　製半夏（一錢五分）　純鉤鉤（後下，三錢）　苡仁（一錢）　加二青竹茹（二錢）　扁豆衣（三錢）</p>
<p>（案79）王秀成。復感受寒，身熱未解，飲食太多，停滯中州，胸脘不寬，挾食停滯，脈來浮數，舌苔微白。此係邪阻未化，胸悶不舒，宜疏風通滯和中。</p>
<p>淡豆豉（三錢）　熟半夏（一錢五分）　廣皮（一錢）　枳殼（炒，一錢）　焦楂肉（二錢）　薄荷（後下，六分）　冬桑葉（一錢五分）　建曲（三錢）　赤苓（三錢）　加生薑（一片）</p>
<p>前進疏風通滯寬中劑，身熱雖解未清，胸脘略寬，脈來浮數，舌帶微白，早暮潮熱未退。仍宜小柴胡湯加減。</p>
<p>柴胡（五分）　黃芩（炒，一錢五分）　熟半夏（一錢）　赤苓（三錢）　炒建曲（三錢）　新會皮（炒，一錢五分）　甘草（四分）　杏仁（開，三錢）　炒楂肉（三錢）　加二青竹茹（二錢）</p>
<p>（案80）倪姓。久患胃脘寒痛，嘔惡吐食，從胃中泛出，木旺乘脾，胃經無火，脈來遲澀，舌色滑膩。此係木旺土衰，肝陽犯胃，宜平肝溫胃。</p>
<p>桂枝尖（三錢）　淡乾薑（炒，四分）　川椒（開口去杆，二分）　小青皮（一錢）　公丁香（三分）　純鉤鉤（後下，四錢）　赤茯苓（三錢）　姜半夏（一錢五分）　烏梅（麵包煨，一個）　加姜炒竹茹（二錢）　伏龍肝（四錢）</p>
<p>前進平肝溫胃，疏風止嘔劑，嘔吐已定，胃減稍納，脘中仍痛。</p>
<p>仍宜照前法，加紫石英（二錢）　制香附（二錢）　代赭石（煅，二錢）</p>
<p>（案81）大生弄，周花谷家漢，橫涇人，石泉倌，年三十歲。冬溫春發，身熱經余，脈來浮洪，舌苔遍尖絳色，熱甚則鼻衄上衝，胸脘不舒，飽悶。此係寒邪內伏，症屬棘手，防其伏邪內陷、轉變之虞，宜疏肌通里清熱。</p>
<p>淡豆豉（三錢）　杏仁（研去皮尖，三錢）　大力子（炒開，三錢）　黑山梔（二錢）　鮮生地（六錢）　炒黃芩（一錢）　牡丹皮（一錢五分）　茜草（三錢）　連翹（二錢）　加鮮茅根（去毛，一兩）</p>
<p>昨進疏肌通利清熱劑，身熱未解，脈來洪數，舌色乾燥，神昏模糊。邪入膜原未解，恐其轉變，證屬非輕，宜疏肌通利清熱。</p>
<p>淡豆豉（二錢）　牛蒡子（炒開，二錢）　花粉（三錢）　羚羊角（一錢五分）　牡丹皮（一錢五分）　鮮生地（六錢）　黑山梔（二錢）　炒黃芩（一錢五分）　連翹（二錢）　加活水蘆根（去心，一兩）</p>
<p>前進疏肌劑，身熱已退，諸恙稍平，脈來浮洪，舌色尖絳，口渴神煩，舌苔焦黃已去，胸口脘悶已寬，大便已解，小便黃赤。熱入三焦臟腑，仍宜清涼化熱。</p>
<p>鎊犀角（另煎，八分）　元參心（三錢）　牡丹皮（一錢五分）　花粉（三錢）　知母（一錢）　炒黃芩（一錢）　鮮生地（八分）　連翹（二錢）　通草（一錢）　加活水蘆葦根（去心，一兩）</p>
<p>（案82）楊秋岩之子，名本榮。案77的第二方。前進培元托裡，定痛散腫清火劑，兩臂膿水已厚，當背根盤汲小，當頂起高，皮色稍紅，常屬堅硬，其勢稍退，斷屬不能不託，視其有膿水熟透，方可針刺，因年幼內虧不起。仍宜培元陽攻托培膿清火解毒一法。</p>
<p>參鬚（另煎沖，一分）　甘草（四分）　炙山甲（六分）　當歸（二錢）　桔梗（一錢）　花粉（二錢）　川芎（四分）　生首烏（二錢）　生耆（二錢）　加淨銀花（三錢）</p>
<p>（案83）西倉橋東景三子。濕熱下注，下疳未除，毒甚上衝，嗌乾喉疼，遍骨痛，現發廣痘，瘍毒內攻，喉痛。症非淺恙，防其毒入內傳，擬清心化痰，解毒瀉火。</p>
<p>川連（另煎沖，五分）　通草（一錢）　人中黃（一錢）　連翹（二錢）　丹皮（一錢）　生首烏（八錢）　生軍（後入，二錢）　澤瀉（二錢）　桔梗（一錢）　加土茯苓（一兩，煎湯代水）</p>
<p>（案84）利川號內，王永康沙船老大，姓顧。年近古稀，恙久氣血不足，精力內虧，六脈沉細少神，舌帶虛滑，血虛氣弱，咳嗆痰黏，甚多而厚，元神大耗，脾陽失運，納穀少思，胸脘飽悶。此係高年氣弱，症非淺視，防其增劇，宜培元養血，和胃生精法。</p>
<p>南沙參（二錢）　肥玉竹（四錢）　白芍（炒，一錢五分）　廣橘白（一錢）　紫丹參（一錢五分）　雲茯苓（三錢）　左牡蠣（四錢）　霍石斛（三錢）　加淡蓯蓉（二錢）　紅棗（三枚）　懷山藥（三錢）</p>
<p>（案85）瞿家灣南徐敬良。年高氣弱，濕阻脾陽，腹滿飽脹如箕，濕熱下滯，陰囊浮腫，氣血虧弱，不能運達精微，脾陽已成濕臌之患。症非輕視，防其增劇，宜理脾化濕分清。</p>
<p>陳瓜蔞皮（三錢）　赤苓皮（四錢）　木防己（二錢）　生桑皮（三錢）　牛膝梢（二錢）　新會皮（一錢五分）　澤瀉（二錢）　粉豬苓（二錢）　加炒冬瓜皮（三錢）　片通草（二錢）</p>
<p>（案86）耀兄，大東門外郎家橋，夏恆順餅糕行內，年三十七歲。元陽不足，精神虧弱，氣血未行，以致左腿已患流注，已有數月，時覺淹流，納穀照常，飲食重迭不減，此係氣血不克周流和陽所致。擬培補真元，益精壯陽，舒筋養血和絡。</p>
<p>蒸首烏（四錢）　歸身（酒炒，二錢）　金毛狗脊（去毛鹽水炙，二錢）　仙靈脾（二錢）　丹皮（炒，二錢）　淮牛膝（炒，二錢）　炙元武（四錢）　川斷肉（酒炒，二錢）　酒炒桑枝（四錢）　加絲瓜絡（二錢）　懷山藥（二錢）　酒炒杜仲（二錢）</p>
<p>（案87）城隍廟梅花廳王燮堂先生。久患濕痰，中虛氣弱，心血內虧，水虧火旺，夜臥不安，神勞太過。宜除濕安神，補中消痰。</p>
<p>青鹽製半夏（一錢五分）　制冬朮（一錢五分）　姜山梔（二錢）　云神（三錢）　遠志仁（六分）　蜜炙枇杷葉（刷毛，三錢）　奎白芍（一錢五分）　加柏子霜（三錢）　紫丹參（一錢五分）　鉤鉤（三錢，後下）</p>
<p>（案88）王姓。年逾五旬，素患哮喘，氣逆上衝，伏邪感寒，身熱未解，脈形弦滑，舌色白膩，痰阻中州，胸脘滿悶，挾食停滯，氣不納運。此係肺脾兩經受而所發，擬疏肌化痰定喘，清金通里法。</p>
<p>杜蘇子（炒，三錢）　白前（一錢）　海石（二錢）　萊菔子（炒，三錢）　製半夏（一錢五分）　馬兜鈴（一錢五分）　廣橘紅（一錢五分）　靈磁石（三錢）　瓜蔞皮（一錢五分）　姜山梔（一錢）　加款冬花（三錢）　二青竹茹水（炒，二錢）　枇杷葉露（一兩，衝入）</p>
<p>（案89）朱癸中，六家浜南。年近五旬，感寒受邪，霍亂轉筋，上吐下瀉，肝陽犯胃，木土未平，四肢極冷，得飲即吐，六脈沉遲，舌色白膩，少腹作痛，腸鳴氣滯，頭疼眩暈，嘔惡。此係伏寒未泄，擬溫中下氣。</p>
<p>蘇梗（二錢）　砂仁（開，四分）　枳殼（炒，一錢）　左金丸（六分）　炒建曲（三錢）　楂肉（炒，三錢）　炒中樸（一錢）　扁豆（炒，三錢）　熟半夏（一錢五分）　赤苓（三錢）　加煨木香（六分）</p>
<p>（案90）小南門外，王信義新宅，鑑庭老爺。前進和脾宣胃劑，胸脘已寬，飲食如常，泄瀉不止。宜和脾開胃溫中法。</p>
<p>大有黨（二錢）　橘白（一錢）　陽春砂（四分）　炒苡仁（四錢）　制冬朮（一錢五分）　炒扁衣（三錢）　熟半夏（一錢）　雲茯苓（三錢）　霍石斛（三錢）　加懷山藥（二錢）　二青竹茹水（炒，二錢）　紅棗（五枚）</p>
<p>（案91）老閘荊樂堂，崔四太大。年逾花甲，氣血內弱，易感風邪，腠理未密，肺主皮毛，脾主肌肉，客邪入肺，咳嗽痰黏。風寒入肺胃未清，宜疏風清肺。</p>
<p>旋覆花（絹包，一錢）　冬桑葉（一錢五分）　杏仁（去皮尖，三錢）　蘇子（三錢）　白芍（炒，一錢五分）　枇杷葉（刷毛蜜炙，三錢）　粉甘草（四分）　象貝母（去心，二錢）　當歸（一錢五分）　加二青竹茹（炒，二錢）</p>
<p>（案92）敦本堂，朱藕香老爺。恙久氣血大虧，兼之思慮太過，脈來遲澀，舌色滑膩，咳嗆痰多，神思恍惚，夜臥欠安。宜止嗽養神法。</p>
<p>大有耆皮（二錢）　蒸首烏（四錢）　牡丹皮（一錢五分）　肥玉竹（四錢）　懷山藥（三錢）　福澤瀉（一錢五分）　揀麥冬（去心，三錢）　赤茯苓（三錢）　加金石斛（三錢）　枇杷葉（三錢,刷毛，蜜炙）</p>
<p>（案93）朱揆中。案89的第二方。前進祛寒溫中，下氣除邪劑，霍亂轉筋已除，四肢逆冷，回陽吐瀉已平，脾胃未和，六脈細軟，舌滑。嘔惡雖除，脾陽未化，仍擬開胃和陽健脾。</p>
<p>桂枝（三分）　新會皮（一錢五分）　金石斛（二錢）　建曲（三錢）　砂仁（打，四分）　雲苓（三錢）　焦冬朮（一錢五分）　扁豆（炒，三錢）　熟半夏（一錢五分）　加炒黃米仁（四錢）　飯鍋巴（一兩，煎湯代水）</p>
<p>（案94）復興寓葉左。濕流氣滯，為病恙久，恙久氣虛，濕熱伏三焦，氣化不運，遍體腫浮，腹脹，小便閉塞，大便溏泄，腹痛。木旺土衰，中虛氣弱，濕滯脾陽，氣運不化。擬理脾化濕，分清利水主治。</p>
<p>大腹絨（三錢）　瓜蔞皮（三錢）　福澤瀉（二錢）　通草（一錢）　川椒目（二分）　生桑皮（炒，二錢）　新會皮（三錢）　牛膝梢（二錢）　加冬瓜皮（三錢）　赤苓皮（三錢）</p>
<p>（案95）鑑兄，倉灣王仁元錢莊內。恙久腸紅，濕熱氣滯，中虛氣弱，呃逆上衝，氣血不足，濕滯中宮，肺火上炎，鼻衄上衝。此係中虛氣弱，氣血內虧。擬降氣清金。</p>
<p>旋覆花（絹包，二錢）　川鬱金（一錢）　炙側柏葉（三錢）　炒丹皮（一錢五分）　地榆炭（一錢五分）　刀豆子（五粒）　代赭石（煅，二錢）　炒黑茜草根（二錢）　加茅根（六分）　柿蒂（三枚）</p>
<p>（案96）咸瓜街，王二老爺，號聰庵。素性溫柔，兼之中虛氣弱，脾虛下陷，素常大便時溏，腸滑不受白芍酸收之物，中氣虛而下陷，陰囊濕瘡皮破內虧。陰虛濕熱，中氣內虧，肺虛不足。擬補中養血。</p>
<p>綿黃耆皮（二錢）　橘核（一錢五分）　雲苓（三錢）　五加皮（一錢五分）　制首烏（四錢）　制於術（一錢五分）　宣木瓜（一錢五分）　製半夏（一錢五分）　加荔枝核（五枚）　厚杜仲（三錢）</p>
<p>（案97）鑑兄，案95的第二方。前進降氣開鬱清金劑，呃逆稍平，腸紅已除，鼻衄漸止，身熱已退。仍宜前方加減降氣。</p>
<p>旋覆花（絹包，二錢）　炒茜草根（二錢）　川鬱金（一錢）　刀豆子（五粒）　丹皮（炒，一錢五分）　白芍（炒，一錢五分）　代赭石（煅，二錢）　二青竹茹（水炒，二錢）　加柿蒂（四枚）</p>
<p>（案98）謝大春煙店內，江陰人，王先生。冬寒春發，身熱未解，干惡無汗，遍體骨楚，咳嗆，脈來洪數，舌色白膩。此係溫邪蘊熱未解，干惡頭疼，防其發斑疹，症非淺視，防增劇。擬疏肌解表法。</p>
<p>淡豆豉（三錢）　炒楂肉（三錢）　荊芥（一錢五分）　乾葛（一錢）　枳殼（炒，一錢五分）　赤苓（三錢）　炒建曲（三錢）　杏仁（去皮尖，蜜炙，三錢）　柴胡（五分）　加蔥白頭（一個）</p>
<p>（案99）洋涇浜天落庵姓孫。一兒五月，面青，鴉聲啼哭無淚，乳食不化，痰壅。似乎慢脾驚風，擬化痰清火為主。</p>
<p>天竺黃（一錢）　萊菔子（炒，三錢）　橘紅（一錢五分）　連翹（一錢五分）　枳殼（炒，一錢）　鉤鉤（後入，三錢）　羚羊角片（一錢五分）　黑山梔（二錢）　楂肉（炒，三錢）　加焦麥芽（三錢）　牛黃抱龍丸（六分）</p>
<p>（案100）東街成德泰嫁妝店內，王茂松母。素食大煙，冬溫春發，復感受寒，身熱一經未解，脘悶不舒，六脈洪數，舌色尖絳根膩，神色昏蒙，有時譫語。症屬險重，恐防邪陷內傳，唇口熱渴煩躁，宜辛涼散解。</p>
<p>淡豆豉（三錢）　丹皮（二錢）　連翹（二錢）　大力子（開，三錢）　枳實（二錢）　羚羊角（切片，一錢五分）　黑山梔（二錢）　冬桑葉（一錢五分）　鮮生地（四錢）　加二青竹茹（二錢，水炒）　鮮石菖蒲湯</p>
<p>另用蘇合香丸一粒化下。</p>
<p>前進辛涼解表，身熱經余未解，神色難清，有時模糊，譫語，六脈滑數細軟，舌色仍帶少絳，胸脘略舒。濕邪內蘊未清，症屬危險，恐其邪陷轉變不測。仍宜辛涼清熱化邪主治之。</p>
<p>淡豆豉（三錢）　鮮地（一兩）　天花粉（三錢）　炒黃芩（一錢）　鎊犀角（先煎，一錢五分）　黑山梔（二錢）　粉丹皮（一錢五分）　元參心（三錢）　加二青竹茹（二錢，水炒）　連翹（二錢）</p>
<p>另用萬氏牛黃清心丸一粒，鮮石菖蒲五分，橘紅一錢五分，泡湯化下。</p>
<p>（案101）來鶴齋姚香汀母。久患鼻塞，流涕黃色甚臭，乃緣清陽不升，肺金有熱，陰陽不得升降，少致於此，鼻淵久則腦漏。擬辛溫開竅。</p>
<p>生桑皮（三錢）　辛夷（一錢）　淡芩（炒，一錢）　薄荷（六分）　連翹（一錢五分）　元參（二錢）　黑山梔（二錢）　桔梗（二錢）　杏仁（開，三錢）　加丹皮（一錢五分）　甘草（四分）</p>
<p>（案102）學前東王。現年八月，感寒受邪，遍體風痧已透未化，咳嗆痰多。症屬非輕淺，防其變端，宜清化消痰。</p>
<p>羚羊角（一錢五分）　全福花（絹包，一錢五分）　杏仁（開，三錢）　桔梗（一錢）　象貝（去心，三錢）　連翹（二錢）　黑山梔（一錢五分）　花粉（三錢）　甘草（三分）　加鮮茅根（四錢，去心）　蜜炙蘇子（三錢）</p>
<p>（案103）天主堂顧大順扇子店內，康世兄，年二十五歲。素體柔弱，恙久，咳嗆干嗽無痰，脈形細軟，舌帶虛滑，飲食無味，氣逆失音。此係木旺水虧，恙久恐成怯患之虞，擬清金扶元。</p>
<p>生西洋參（一錢五分）　生桑皮（蜜炙，三錢）　揀麥冬（去心，二錢）　生蛤殼（三錢）　京杏仁（蜜炙，三錢）　蜜炙枇杷葉（刷毛，三錢）　陳阿膠（二錢）　雞子青（一個）　加紫衣胡桃肉（連衣隔青鹽炒，二枚）　川貝（二錢）　橘紅（一錢五分，蜜炙）</p>
<p>（案104）王左，太平碼頭。昨進疏肌透解，春溫時邪身熱經余未解，脈形浮滑，舌色膩垢，遍絳，現發紅點隱隱，尚未透出。症屬棘手，恐防邪陷之虞，宜疏解清透治之，候高裁政。</p>
<p>淡豆豉（三錢）　蟬衣（淨，一錢）　赤苓（三錢）　荊芥（一錢五分）　象貝（去心，二錢）　杏仁（去皮尖，三錢）　黑山梔（一錢五分）　柴胡（五分）　前胡（一錢五分）　加大力子（開，三錢）　西河柳（三錢）</p>
<p>（案105）侯三爺，察院內，二月初四診。素食大煙，病今半載，脾陽未運，木土未和，脈象濡弦，舌色滑膩，納穀少思。此係脾陽濕困，宜和脾建胃一法。</p>
<p>桂枝尖（四分）　制冬朮（一錢）　白豆蔻（打，四分炒）　黃米仁（四錢）　焦穀芽（三錢）　製半夏（一錢五分）　炒陳皮（一錢五分）　雲茯苓（三錢）　加川石斛（三錢）　煨姜皮（四分）</p>
<p>昨進和脾建胃劑，脈形原帶濡弦，舌色滑膩，中脘稍寬，納穀少思。此係胃強脾弱，氣血兩虧，自汗甚多，宜化脾益胃和中主治。閏二月初九日診。</p>
<p>桂枝尖（四分）　制冬朮（一錢）　霍石斛（四錢）　稻根鬚（六錢）　煅左牡蠣（四錢）　姜半夏（一錢五分）　新會皮（一錢五分）　雲茯苓（三錢）　加白豆蔻（打，四分）　炙淡乾薑（四分）</p>
<p>（案106）邱老爺，察院內。風溫時邪感寒，身熱未解，面發紅點未透，防現痧疹。症屬非輕，恐轉春溫，宜疏肌透解治之，候政。</p>
<p>前胡（一錢五分）　大力子（開，三錢）　蟬衣（淨，一錢）　廣皮（一錢五分）　荊芥（一錢五分）　赤苓（三錢）　象貝去心（開，三錢）　全瓜蔞（三錢）　杏仁（去皮尖，三錢）　加薄荷（八分）</p>
<p>前方進疏肌透解劑，喉腫不退，現發風痧隱隱，脈形弦浮，舌膩。此係肺胃疏邪未泄，仍擬疏肌表裡主治，候政（改方）。</p>
<p>大力子（三錢）　桔梗（一錢）　赤芍（一錢）　杏仁（去皮尖開，三錢）　蔞仁（炒，三錢）　川貝（去心，二錢）　蟬衣（淨，一錢）　淨連翹（二錢）　薄荷（包，四分）　加鮮茅根（去心，一兩）</p>
<p>（案107）本營兵吳老將。三陰瘧後，復感寒邪，入於肺胃，身熱痰喘氣逆，脈來浮滑，舌色黃膩。症屬棘手，恐防轉變，候高明政用。</p>
<p>冬桑葉（一錢五分）　杏仁（去皮尖開，三錢）　蘇子（開，三錢）　橘紅（一錢五分）　象貝母（去心開，三錢）　淡芩（炒，一錢五分）　赤苓（三錢）　旋覆花（絹包，二錢）　代赭石（煅，二錢）　加姜炒竹茹（二錢）</p>
<p>（案108）對門琴頭寓丐子。風溫時毒，喉痛腮腫，風痰內阻肺經，畏寒身熱未解。恐防毒入內攻，宜疏肌散解主治，候高明政用。</p>
<p>升麻（三錢）　桔梗（一錢）　杏仁（去皮蜜炙，三錢）　山豆根（六分）　制佳蠶（二錢）　甘中黃（六分）　連翹（一錢五分）　射干（一錢）　赤芍（一錢）　加薄荷頭（包，八分）</p>
<p>昨進疏肌散解劑，諸恙稍減，原方加元參（三錢）　荊芥（一錢五分）　大力子（開，三錢）</p>
<p>（案109）陸姓。風溫時邪，身熱不解，頭痛骨楚，嘔惡，脈形濡弦，舌色黃膩，胸悶未舒。此係太陽邪伏未解，症非輕視，擬疏肌主治。</p>
<p>大豆卷（三錢）　枳殼（炒，一錢）　廣藿梗（一錢五分）　乾葛（一錢）　赤苓（三錢）　荊芥（一錢五分）　大力子（開，三錢）　杏仁（開，三錢）　製半夏（一錢五分）　加二青竹茹（二錢）</p>
<p>（案110）法華王。年逾六旬，恙久喘逆氣不納，心勞過度，六脈弦濡，舌膩，夜臥少安，咳嗆氣衝。心血內虧，氣弱。擬泄降化痰佐治。</p>
<p>全福花（絹包，二錢）　新會皮（一錢五分）　肥玉竹（二錢）　甘枸杞（炙，二錢）　川貝母（去心，二錢）　靈磁石（三錢）　云茯神（三錢）　沙參（二錢）　加土炒白芍（一錢五分）　胡桃肉（連衣，三枚）</p>
<p>昨進泄降化痰劑，喘逆之氣衝不足，心勞過多血衰，六脈濡弦帶軟，寤寐少安。氣血內虧，仍擬化痰潤降（改方）。</p>
<p>全福花（絹包，二錢）　款冬花（三錢）　甘枸杞（炙，二錢）　沙參（二錢）　玉竹（二錢）　抱茯神（三錢）　制首烏（四錢）　甜新會（一錢五分）　白芍（一錢五分）　加胡桃肉（連衣隔，二枚）　蜜炙枇杷葉（刷毛，三錢）</p>
<p>（案111）王姓。春溫時患身熱未解，現發斑疹隱隱，脈形洪滑，舌色白膩，頭痛嘔惡。此係陽明邪伏未泄，症非輕視，擬透肌疏解。</p>
<p>淡豆豉（三錢）　赤茯苓（三錢）　連翹（二錢）　蟬衣（淨，一錢）　荊芥（一錢五分）　杏仁（開，三錢）　赤芍（一錢）　大力子（開，三錢）　桔梗（一錢）　加西河柳（二錢）</p>
<p>昨進疏肌透解劑，身熱未解，頭痛嘔惡，脈形弦滑，舌色黃膩，現發斑點隱隱，尚未透足。症非淺視，恐防轉變，仍擬解肌透法。</p>
<p>淡豆豉（三錢）　荊芥（一錢五分）　赤苓（三錢）　大力子（炒，三錢）　廣皮（一錢五分）　杏仁（開，三錢）　乾葛（一錢）　淨蟬衣（一錢）　桔梗（一錢）　加西河柳（二錢）</p>
<p>（案112）楊爺，察院內客官。感冒受風挾寒未解，頭痛胸悶未舒。濕痰挾阻胃經，宜疏風化痰。</p>
<p>冬桑葉（一錢）　赤苓（三錢）　藁本（一錢）　蘇子（炒，三錢）　製半夏（一錢五分）　白芷（六分）　炒橘紅（一錢）　川芎（四分）　全瓜蔞（三錢）　加老薑（一片）</p>
<p>昨進疏肌化痰劑，寒痰積飲內阻，中州胃寒，氣滯不舒。擬溫中化痰降氣一法。</p>
<p>甜肉桂（開細末，四分）　赤苓（三錢）　全瓜蔞（炒，三錢）　小青皮（一錢）　陳皮（一錢五分）　姜半夏（一錢五分）　川鬱金（六分）　蘇子（炒，三錢）　白蔻（打，四分）　加薑汁炒竹茹（二錢）</p>
<p>（案113）王先生，廣東人。濁（恙）患久未愈，陰虛內虧，火旺土衰，嘔惡氣逆上衝，脈形細弱，咳嗆無痰，納穀少思，脾土未運。此係木來乘土，擬化脾醒胃一法。</p>
<p>焦冬朮（一錢）　製半夏（一錢五分）　吳茱萸（絹包，三分）　赤苓（三錢）　陳皮（一錢五分）　通草（一錢）　大腹絨（三錢）　白豆蔻（開，四分）　廣藿梗（一錢五分）　加伏龍肝（絹包，四錢）</p>
<p>前進和脾醒胃劑，胃氣略宣，濁恙患久，自汗甚多，陰虛火旺水虧。此係脾腎不足，擬扶陰益胃一法。</p>
<p>原米炒洋參（一錢五分）　生棗仁（二錢）　制於術（一錢）　益智仁（開，六分）　雲茯苓（三錢）　吳茱萸（絹包，六分）　製半夏（一錢五分）　霍石斛（四錢）　加左牡蠣（煅，四錢）　稻根鬚（一兩）</p>
<p>前進扶陰宣胃劑，濁恙未除，自汗稍減，陰旺陽虛氣弱。此係肝腎兩經，擬扶陰壯陽一法。</p>
<p>元米炒洋參（一錢五分）　北五味（九粒）　大熟地（四錢）　菟絲子（三錢）　酒炒淡蓯蓉（去甲尖，二錢）　土炒野於術（一錢）　左牡蠣（四錢）　巴戟肉（二錢）　加山萸肉（二錢）　糯稻根鬚（一兩）</p>
<p>（案114）林西馬橋。時邪一候，身熱未解，嘔惡胸悶未舒，挾滯下瀉，脈形弦滑，舌色白膩，入暮神昏多語，熱甚鼻衄上衝。症屬非輕，防發斑疹，擬疏風辛涼法。</p>
<p>淡豆豉（三錢）　蟬衣（一錢）　炒牛蒡（三錢）　赤苓（三錢）　薄荷（後入，六分）　杏仁（開，三錢）　楂肉（炒，三錢）　連翹（二錢）　荊芥（一錢五分）　加二青竹茹（二錢）</p>
<p>昨進疏風辛涼劑，身熱經余未解，鼻衄已止，脈形弦數，舌色滑膩遍絳，現發紅點隱隱。此係邪熱未清，症非輕視，慎之，宜疏風解肌治法。</p>
<p>淡豆豉（三錢）　連翹（二錢）　甘草（四分）　大力子（開，二錢）　薄荷（後下，六分）　荊芥（一錢五分）　黑山梔（一錢五分）　葛根（一錢）　加象貝（去心，二錢）　櫻桃核（三錢）</p>
<p>（案115）吳姓，南京八旗巴廂藍旗人。瘀流失血，心勞神虛，六脈芤虛，遍體潮熱。此係水虧火旺絡虛，擬益陰培元法。</p>
<p>參三七（另煎，六分）　白芨（一錢）　粉丹皮（一錢五分）　旱蓮草（二錢）　山茶花（一錢五分）　歸身（二錢）　大生地（四錢）　紫菀（二錢）　鬱金（八分）　加茅根（去心，八錢）　藕節（三枚）</p>
<p>昨進益陰培元劑，失血已止，右脅作痛，六脈芤虛，遍體煩熱。此係肝旺水虧，益陰降火培元法。</p>
<p>大生地（四錢）　鬱金（一錢）　白芍（一錢五分）　女貞實（蒸，三錢）　白芨（一錢）　旱蓮草（二錢）　遠志（五分）　麥冬（去心炒，一錢五分）　加藕節（二根）　鮮茅根（去心，一兩）</p>
<p>前進降火劑，咳嗆失血，胸悶脘脹不舒，少力，腎虧耳鳴，六脈弦芤。此係肝腎二虧，宜益陰補金法。</p>
<p>原生地（四錢）　旱蓮草（二錢）　鬱金（一錢）　白芨（一錢）　紫菀茸（一錢五分）　山茶花（二錢）　揀麥冬（去心，二錢）　蛤粉炒阿膠（二錢）　丹皮（一錢五分）　加蜜炙枇杷葉（刷毛，三錢）　藕節（三枚）</p>
<p>（案116）楊大兄，三林塘。恙久脘痛，嘔酸數年，積飲，氣血大虧，脈形濡芤，舌色黃膩，中焦腹脹氣滿。此係水虧肝旺，症屬棘手，恐防失血增劇之變，宜和肝化脾泄降主治。</p>
<p>桂枝尖（炒，三分）　姜半夏（一錢五分）　烏梅肉（麵包煨，一個）　小青皮（一錢）　川楝子（炒，一錢五分）　川鬱金（一錢）　開口川椒（煅，三分）　奎白芍（一錢五分）　玫瑰花（三朵）　加棋子青鉛（八錢）　雲苓（三錢）</p>
<p>（案117）郁世兄，裕伯題橋。久虛三陰未愈，四肢麻木，真元不足，血虛風燥，脈形弦軟，舌滑。此係原虛氣弱，宜養血熄風一法。</p>
<p>煨天麻（一錢）　廣橘絡（一錢）　制首烏（四錢）　全當歸（二錢）　淮牛膝（二錢）　絲瓜絡（二錢）　豨薟葉（一錢五分）　川斷肉（一錢五分）　加鹽水炒木瓜（二錢）　金毛狗脊（鹽水炙，三錢）</p>
<p>（案118）顧大兄，俞伯余橋。勞心太過，氣血兩虧，氣不納運，肢節痠疼，脈形細軟，舌帶虛滑。此係脾濕蒙阻，水虧木旺，宜清肝益陰一法。</p>
<p>靈磁石（煅，三錢）　霜桑葉（一錢五分）　料豆衣（三錢）　油甘菊（一錢五分）　沙蒺藜（三錢）　炙枸杞（二錢）　女貞子（蒸，三錢）　粉丹皮（一錢五分）　澤瀉（一錢五分），加生黑芝麻（三錢）　胡桃肉（連衣隔，二枚）</p>
<p>（案119）石大兄。恙久腸紅下血，怫鬱阻滯，右脅作痛，內傷氣血，脈形濡弦，舌色津枯，納穀則脹，飲後即嘔，恐久延成隔患。宜化陰泄降。</p>
<p>全福花（二錢）　川鬱金（一錢）　全瓜蔞（炒，三錢）　陳皮（一錢）　赤苓（三錢）　姜半夏（一錢五分）　代赭石（煅，三錢）　姜山梔（二錢）　加猩絳屑（一錢五分）　姜炒竹茹（二錢）</p>
<p>（案120）梁姓，糧廳廚房內。風熱感寒於肺胃，咳嗆喘逆嘔惡，畏寒身熱，脈形浮滑，舌色白膩，胸悶不舒。此係陽明感寒未泄，症非輕視，恐防轉變，擬疏風解滯，候政。</p>
<p>大豆卷（三錢）　全瓜蔞（炒，三錢）　桔梗（一錢）　蘇子（炒，三錢）　象貝母（去心，三錢）　炒枳殼（一錢五分）　冬桑葉（一錢）　杏仁（去皮尖，研，三錢）　加防風（一錢五分）　二青竹茹（二錢）</p>
<p>（案121）張姓，寶山人。瘧由三陰未愈內虧，少血氣弱，陰寒咳嗆，腰疼骨楚。培元益陰一法。</p>
<p>制首烏（三錢）　橘白（一錢）　川貝母（去心，三錢）　京杏仁（去皮尖，三錢）　款冬花（二錢）　焦冬朮（一錢）　製半夏（一錢五分）　茯神（三錢）　西黨參（二錢）　加酒炒嫩桑枝、紅棗</p>
<p>（案122）孫姓。肝陽上衝，胃脘作痛，嘔惡痰飲，宜溫通泄降。</p>
<p>桂枝尖（四分）　開口川椒（去衣炒，三分）　木香（六分）　赤苓（三錢）　青皮（一錢）　姜半夏（一錢五分）　川鬱金（一錢）　烏梅肉（麵包煨，一個）　白芍（炒，一錢五分）　加鮮橘葉（七片）</p>
<p>（案123）茂兄。素體內虧，精力不足，四肢軟，神虛氣弱，六脈細軟，舌色根黃。此係脾腎不足，宜扶陰化脾主治。</p>
<p>歸身（一錢）　厚杜仲（炒，二錢）　巴戟肉（二錢）　製半夏（一錢五分）　橘絡（一錢）　沙苑子（三錢）　福澤瀉（二錢）　淮牛膝（二錢）　焦米仁（四錢）　加胡桃肉（二枚，連衣）</p>
<p>（案124）南首糕店內夥計。時邪內伏身熱，脈形弦滑，舌色滑膩，頭疼嘔惡。症屬重甚，恐防轉變，宜表裡解肌法，候高明政用。</p>
<p>淡豆豉（三錢）　甘草（四分）　黑山梔（一錢五分）　連翹（一錢五分）　大力子（開，三錢）　杏仁（三錢）　炒淡芩（一錢五分）　丹皮（一錢）　加炒知母（一錢）　薄荷（後下，六分）</p>
<p>（案125）恆昌酒店酒作司務，四月廿五日診。濕熱挾痰，迷悶心絡不清，脈形遲澀，舌色滑膩。此係邪伏心肝兩經，蒙阻不清，症非淺視，恐防轉厥之變，宜清心熄肝化痰一法，候政。</p>
<p>冬桑葉（一錢五分）　鉤鉤（後下，三錢）　石決明生（打，四錢）　製半夏（一錢）　天竺黃（二錢）　羚羊角（一錢五分）　茯神（三錢）　鬱金（六分）　加杜橘紅（一錢五分）　鮮石菖蒲（六分）</p>
<p>（案126）王世昌。風熱唇疔，行走不定，畏寒身熱，脈形浮滑，舌色滑膩。此係熱毒成疔，症非輕渺，恐防走黃內攻之象，擬清涼化毒一法，候高明政用。</p>
<p>茅蒔菇（二錢）　赤芍（一錢）　銀花（二錢）　大力子（開，三錢）　連翹（二錢）　甘草（四分）　鮮首烏（四錢）　黃芩（炒，一錢）　土貝母（二錢）　加地丁草（一錢五分）</p>
<p>（案127）城隍廟園內鳥籠店長州人阿大。感寒挾食，停滯中脘，拒按作痛，脈形遲澀，舌色根膩。此係陽明伏邪挾食未化，症非淺視，宜表裡一法。</p>
<p>大豆卷（三錢）　萊菔子（三錢）　江枳殼（一錢）　全瓜蔞（三錢）　檳榔（一錢）　赤苓（三錢）　炒建曲（三錢）　製半夏（一錢五分）　玄明粉（二錢）　加二青竹茹（二錢）　杏仁（開，三錢）</p>
<p>（案128）黃姓。濕熱挾痰入於肢絡，痠軟，脈形濡弦帶滑，舌色微白，胃不納運，中虛氣弱。此係脾陽濕困膜原，宜和脾化痰利濕主治。</p>
<p>米炒真茅朮（一錢）　陳皮（一錢五分）　製半夏（一錢五分）　獨活（二錢）　澤瀉（一錢五分）　雲茯苓（三錢）　通草（三錢）　川牛膝（二錢）　加絲瓜絡（一錢五分）</p>
<p>（案129）南京八旗，姓吳，年三十餘，四月廿四日診。風溫時邪，身熱五天未解，脈形弦滑，舌色黃膩，喉疼咽燥，頭痛骨楚。此係風熱內阻，宜疏風解肌法。</p>
<p>淡豆豉（四錢）　荊芥（一錢五分）　杏仁（開，三錢）　全瓜蔞（炒，三錢）　薄荷（包，一錢）　赤苓（三錢）　大力子（三錢）　桔梗（一錢）　枳殼（一錢五分）　加二青竹茹（水炒，二錢）</p>
<p>昨進疏風解肌法，風溫時邪身熱六天未解，脈形浮滑，舌色膩燥，頭脹干惡，煩悶胸脘未舒，挾食拒按作痛。此係陽明風熱內阻，症非輕淺，防一經轉汗傳變，仍宜疏解通滯一法，候高明政用。</p>
<p>（第二方）製大黃（三錢）　乾葛（一錢）　淡黃芩（炒，一錢五分）　杏仁（蜜炙，三錢）　枳實（一錢五分）　厚朴（炒，一錢）　淡豆豉（四錢）　全瓜蔞（四錢）　焦山梔（二錢）　加水炒二青竹茹（二錢）　元明粉（二錢，沖服）</p>
<p>昨進疏風通滯劑，身熱一候未解，大便已行，脈形弦滑，舌色黃膩，頭痛挾滯拒按，中脘未舒，干惡身熱，甚則鼻衄上衝。症屬沉重，險防一經轉汗，變端不測，仍宜辛涼疏肌化熱主治，候政。</p>
<p>（二十六日第三方）淡豆豉（四錢）　製大黃（二錢）　枳實（一錢五分）　全瓜蔞（炒，四錢）　連翹（二錢）　黑山梔（一錢五分）　炒黃芩（一錢）　炒知母（一錢五分）　薄荷（後，六分）　加二青竹茹（二錢，水炒）</p>
<p>昨進辛涼疏肌化熱劑，溫邪經余身熱未涼，脈形弦數，舌色膩垢，中心帶灰，干惡挾滯蒙閉。此係溫邪濕熱內伏，神昏譫語，症屬危險，恐防邪陷內傳變，仍擬辛涼化通里主治，候諸位高明先生裁政。</p>
<p>（二十七日第四方）淡豆豉（三錢）　鮮生地（四錢）　全瓜蔞（炒，四錢）　製大黃（一錢）　知母（炒，二錢）　連翹（二錢）　炒黃芩（一錢）　黑山梔（二錢）　花粉（三錢）　加活水蘆根（一兩）</p>
<p>昨進辛涼解化劑，溫邪病涉九天，身熱未涼，脈形濡數，舌色黃膩遍絳，少腹脹滿不舒，熱內阻神昏譫語。症屬險甚，恐防內陷之變，仍擬清熱化邪主治，仍候高明政用。</p>
<p>（二十八日第五方）大豆卷（四錢）　黑山梔（二錢）　淨連翹（二錢）　炒牛蒡（三錢）　炒淡芩（一錢五分）　知母（一錢五分）　鮮生地（八錢）　全瓜蔞（炒，三錢）　丹皮（炒，一錢五分）　加淨青蒿露（一兩，沖服）　活水蘆根（一兩）</p>
<p>昨進清熱化邪劑，溫邪病涉旬日，身熱未解，脈形濡弦，舌色黃膩帶灰，少腹未舒，下焦挾熱未化，神昏煩躁譫語，口渴多飲。此係挾阻未清，症屬險重，防邪陷不測，仍擬化邪清熱一法，候高明政。</p>
<p>（二十九日第六方）黑豆卷（四錢）　全瓜蔞（三錢）　連翹（二錢）　通草（一錢）　黑山梔（一錢五分）　鮮生地（一兩）　天花粉（三錢）　知母（一錢五分）　加更衣丸（二錢）　青蒿露（一兩，沖服）　活水蘆根（一錢）</p>
<p>前進清心化邪劑，溫邪十二天身熱未退，脈形滑數，舌色黃膩灰燥，溫熱挾阻未化，口渴神昏多語。此係溫熱邪勢內伏，熱甚則鼻衄上衝，症屬重險，恐防交節夏至轉重，切勿渺視，仍擬清心化邪主治，候高明政用。</p>
<p>（五月初二第七方）黑豆卷（四錢）　黃芩（一錢）　鎊犀角（先煎，一錢）　知母（一錢）　丹皮（一錢五分）　青蒿（一錢五分）　黑山梔（一錢五分）　鮮生地（一兩）　生石膏（四錢）　加鮮竹葉（三錢）　活水蘆根（一兩）</p>
<p>經今兩候，昨進清心化邪劑，濕熱邪勢未清，脈形滑數，舌色黃灰，濕熱邪伏未化，口渴神煩，有時不清，譫語。症屬險甚，防兩經轉汗傳變，仍擬化邪清心瀉火一法。</p>
<p>鎊犀角（先煎沖，一錢）　黃芩（炒，一錢）　生石膏（四錢）　鮮生地（八錢）　黑山梔（二錢）　川連（先煎沖，四分）　丹皮（二錢）　炒知母（二錢）　加活水蘆根（八錢）　連翹（二錢）　鮮竹葉（二十片）</p>
<p>病涉半月，濕熱邪勢已減，身涼，熱阻神蒙疲倦，脈形虛數，舌帶微黃略薄，溫邪蘊熱未清。症屬雖淺，恐防反復傳變，仍擬扶陰瀉火一法。仍候高明裁政。</p>
<p>（初六第九方）生洋參（一錢）　鮮生地（八錢）　鮮石斛（四錢）　知母（炒，一錢五分）　通草　鮮石膏（四錢）　黑山梔（二錢）　粉丹皮（炒，一錢五分）　加朱茯神（三錢）　鮮竹葉（廿片）</p>
<p>前進扶陰瀉火劑，濕熱邪伏已清，蘊熱內阻，脈形虛數帶軟，舌色黃遍膩，自汗甚多，正虛邪盛，頭暈心神少安。症屬雖減，恐防增劇之虞，擬扶原瀉火主治，候諸高明裁政。</p>
<p>（初七第十方）生西洋參（一錢）　天竺黃（一錢五分）　丹皮（二錢）　連翹（二錢）　通草（一錢）　鮮石斛（六錢）　鹽水炒陳皮（一錢五分）　赤茯神（三錢）　真川貝（去心，二錢）　加黑山梔（二錢）　鮮竹葉（二十片）（全瘳）</p>
<p>（案130）柏，南京八旗巴正紅旗人，寓葛仙殿內。五月初二診。風溫時邪，身熱未解，頭痛骨楚，嘔惡，脈形弦滑，舌色黃膩，胸悶未寬。此係邪伏陽明未解，症非輕視，擬疏肌透解，候政。</p>
<p>淡豆豉（四錢）　柴胡（八分）　乾葛（一錢）　赤苓（三錢）　通草（一錢）　大力子（開，三錢）　青蒿（二錢）　枳殼（炒，一錢）　黃芩（炒，一錢）　加蔥白頭（一個）</p>
<p>昨進疏邪透解劑，溫邪身熱未解，脈形洪滑，舌色黃膩，腰痛骨楚，至夜熱甚，神昏譫語。症非輕視，今交節令，恐防轉重，仍擬疏解治之，候高明政用。</p>
<p>（五月初三第二方）淡豆豉（四錢）　杏仁（去皮尖開，三錢）　廣皮（二錢）　大力子（三錢）　乾葛（一錢）　柴胡（一錢）　青防根（一錢）　黃芩（炒，一錢）　薄荷（包，一錢）　加活水蘆根（八錢）</p>
<p>昨進疏風解肌劑，溫邪經餘邪勢未減，脈形濡數，舌色膩燥，胸悶未舒，胃不納穀，午後熱甚，神昏，肝風震動。此係邪伏三焦，內阻未清，症屬棘手，恐防邪陷，變端不測。仍擬疏風清邪化熱主治，候高明政。</p>
<p>（五月初四第三方）淡豆豉（四錢）　乾葛（一錢）　鮮生地（六錢）　柴胡（一錢）　川貝（去心，二錢）　炒枳實（一錢）　黑山梔（二錢）　黃芩（炒，一錢）　大力子（炒，三錢）　加活水蘆根（八錢）　二青竹茹（一錢五分）</p>
<p>前進疏風清邪化熱劑，溫邪病涉九天，邪熱未減，脈形滑數，舌色黃膩，胸悶未寬，氣不能舒，納穀少思，昏蒙譫語，邪阻膜原，熱甚則鼻衄上升。此係邪勢內伏三焦未清，症屬重險，防其內傳，仍擬疏風辛涼化熱主治。</p>
<p>（五月初五第四方）淡豆豉（四錢）　鎊犀角（另煎，一錢）　川貝母（去心，二錢）　炒黃芩（一錢）　赤苓（三錢）　通草（一錢）　鮮生地（八錢）　黑山梔（二錢）　連翹（二錢）　炒牛蒡（三錢）　加二青竹茹（二錢）　活水蘆根（一兩）</p>
<p>昨進疏風清邪化痰劑，溫邪病涉旬日，身熱未涼，脈數滑，舌色黃膩尖燥，胸膈未寬，氣悶不舒，昏蒙有時不清，納穀未思。邪熱內阻未清，病屬重甚，恐防邪陷之變，仍擬辛涼化熱主治，仍候高明裁政。</p>
<p>（五月初六第五方）淡豆豉（四錢）　姜山梔（二錢）　知母（二錢）　丹皮（二錢）　川貝母（去心，二錢）　黃芩（一錢五分）　鮮生地（一兩）　鎊犀角（先煎，一錢）　加活水蘆根（一兩）　枇杷葉露（沖，一錢）</p>
<p>昨進辛涼化熱劑，溫邪旬余身熱未涼，脈形滑數，舌色黃燥，胸膈未舒，神昏譫語，邪伏未清。症屬險重，恐防邪陷之虞。仍擬辛涼化熱清邪主治，仍候諸高明政用。</p>
<p>淡豆豉（四錢）　連翹（二錢）　川連（另煎沖，四分）　鮮生地（一兩）　知母（一錢五分）　生石膏（四錢）　黑山梔（二錢）　天花粉（三錢）　鮮竹葉（三錢）　加蘆根（一兩）　赤茯神（三錢）</p>
<p>昨進辛涼化熱清邪劑，病涉十二天，溫熱未解，脈形左部空浮，右部洪滑而數，舌色黃燥，神昏譫語不清，口渴煩悶。此係邪伏三焦未清，症屬危險，恐防邪陷內傳之變，仍擬辛涼化熱主治，仍候高明裁政。</p>
<p>（五月初八第七方）黑豆卷（四錢）　鮮生地（一兩）　生石膏（四錢）　花粉（三錢）　天竺黃（二錢）　羚羊角（一錢五分）　黑山梔（二錢）　川連（另煎沖，五分）　炒黃芩（一錢）　連翹（二錢）　加鮮竹葉（三錢）　鮮蘆根（一兩）</p>
<p>昨進辛涼化邪劑，病涉十三天，溫熱邪勢未減，六脈洪滑而數，舌色根膩帶灰，尖絳津枯而燥，神識稍清，口渴煩躁。此係邪伏內阻，症屬危險，恐防內陷不測之變，擬生津化熱主治，再候諸位高明先生政用。</p>
<p>（五月初九第八方）生洋參（一錢）　淨連翹（二錢）　鮮石斛（三錢）　花粉（三錢）　燈心（廿根）　川連（另煎沖，五分）　鎊犀角（另煎，一錢）　鮮生地（一兩）　生石膏（五錢）　加活水蘆根（一兩）　赤茯神（三錢）　淡竹葉（三錢）</p>
<p>（案131）南京廂黃旗號童爺。年逾四旬余，恙久月餘，行路途勞，感受挾寒，胃不思納，嘔惡氣沖。此係脾胃挾寒未化，宜溫中祛寒一法。</p>
<p>桂枝尖（四分）　姜半夏（一錢五分）　白豆蔻（開，五分）　赤苓（三錢）　瓜蔞殼（炒，四錢）　姜山梔（二錢）　廣藿梗（一錢五分）　川鬱金（一錢）　加姜炒竹茹（二錢）　陳皮（一錢五分）</p>
<p>（案132）南京廂黃旗號柏爺。年逾三旬，感冒風溫，身熱頭疼未解，脈象弦滑，舌色滑膩，遍體骨楚，熱甚則鼻衄上衝。症屬非輕，恐防轉變，宜辛涼疏風散解。</p>
<p>大豆卷（四錢）　池甘菊（一錢五分）　杏仁（去皮尖開，三錢）　荊芥（一錢五分）　淡芩（炒，一錢）　甘草（四分）　蔓荊子（一錢）　淨連翹（二錢）　薄荷（泡，六分）　加冬桑葉（一錢五分）</p>
<p>昨進辛涼疏風散解劑，春溫時邪，身熱已解未清，脈弦滑，舌色白膩，胸悶已寬。此係風熱未清，症非輕淺，恐防轉傳，仍擬散肌一法，候政。</p>
<p>（四月二十四改方）大豆卷（三錢）　薄荷（泡，一錢）　池菊（一錢）　淡芩（炒，一錢）　淨連翹（二錢）　片草（一錢）　蔓荊子（一錢）　杏仁（去皮尖開，三錢）　黑山梔（二錢）　加活水蘆根（一兩）</p>
<p>昨進散肌劑，六脈稍盡，舌色微黃，頭疼未減。此係陽明邪阻未化，症屬雖淺，仍擬疏風散解主治，候政。</p>
<p>經桑葉（一錢五分）　藁本（一錢）　赤苓（三錢）　杏仁（去皮尖，二錢）　池菊（一錢五分）　山梔（二錢）　淨連翹（二錢）　淡芩（炒，一錢五分）　蔓荊子（三錢）　加活水蘆根（五錢）</p>
<p>（案133）八旗巴南京巴廂黃旗號葉爺。年逾三旬余，病涉二十多天，行路途勞，風濕內阻，膜原不清，六脈細軟，舌色滑膩，神蒙疲倦，自汗甚多，口渴嘔惡。此係陽明濕邪未清，症非輕視，恐防增變，宜泄邪化濕治之，候政。</p>
<p>冬桑葉（一錢五分）　池菊（一錢）　淡芩（炒，一錢）　通草（一錢）　杏仁（去皮尖開，三錢）　雲苓（三錢）　製半夏（一錢）　青蒿（一錢五分）　澤瀉（一錢五分）　加二青竹茹（二錢，水炒）</p>
<p>昨進泄邪化濕劑，病涉恙久，路途受寒，風濕內阻，六脈細數，舌色根膩尖燥，神蒙疲倦，嘔惡。此係陽明濕邪內伏，症非輕視，恐防傳變，仍擬化濕主治，候政。</p>
<p>冬桑葉（一錢五分）　赤苓（三錢）　知母（一錢）　杏仁（開，二錢）　淡芩（炒，一錢）　澤瀉（一錢五分）　黑山梔（二錢）　通草（一錢）　加二青竹茹（二錢）　薄荷（泡，五分）</p>
<p>（案134）徐州鎮標兵孫爺。挾寒積食停滯，中滿作脹，脈形遲澀，舌色滑膩，胃不納思。此係陽明感寒，積滯未化，症非輕視，宜祛寒消滯一法。</p>
<p>大豆卷（三錢）　廣藿（一錢五分）　全瓜蔞（炒，四錢）　江枳殼（炒，二錢）　煨草果（一錢）　真建曲（三錢）　大腹絨（淨，三錢）　製半夏（一錢五分）　加製大黃（二錢）</p>
<p>（案135）八旗巴沈爺。風溫感邪，身熱未解，脈形弦浮，舌色黃膩，挾食停滯膜原，中脘不舒，嘔惡作脹。此係陽明邪伏不解，症非淺視，恐轉溫邪時患，宜疏解表裡主治，候政。</p>
<p>淡豆豉（四錢）　赤苓（三錢）　陳皮（一錢五分）　廣藿（一錢五分）　制中樸（一錢）　乾葛（一錢）　炒建曲（三錢）　瓜蔞（炒，四錢）　製半夏（一錢五分）　加佛手柑（一錢五分）</p>
<p>（案136）八旗巴楊爺。（五月十八）恙久哮喘，痰火感伏，風溫時邪身熱未解，脈形弦浮，舌色白，胸悶未舒，咳嗆。此係邪伏陽明未泄，症非輕視，宜疏風散解，候政。</p>
<p>淡豆豉（四錢）　廣藿（一錢五分）　杏仁（開，三錢）　象貝（去心，三錢）　前胡（二錢）　炒蘇子（三錢）　枳殼（二錢）橘紅（炒，一錢五分）　加二青竹茹（二錢）　炒蔞仁（四錢）</p>
<p>（案137）呂老爺。（五月初二日）高年身體內虛，水虧肝旺，頭眩，脈形細軟，津力不足。此係陰虛不足，擬扶原益陰主治。</p>
<p>炒黑遠志（六分）　云茯神（三錢）　白芍（炒，一錢）　紫丹參（二錢）　澤瀉（一錢五分）　蒸女貞子（三錢）　懷山藥（三錢）　丹皮（炒，一錢五分）　加炙元武（四錢）　野料豆（三錢）</p>
<p>前進扶原益陰劑，素體內虧，精力不足，仍擬養陰益胃主治。</p>
<p>九蒸首烏（四錢）　知母（一錢）　澤瀉（二錢）　炒遠志（六分）　懷山藥（三錢）　蒸女貞子（三錢）　川柏（炒，一錢）　丹皮（一錢五分）　加辰茯神（三錢）　炙元武（四錢）　野料豆（四錢）</p>
<p>（案138）陳爺，八旗巴。（五月初二方）風溫外束，食滯內停，身熱未解，脈形洪滑，舌苔垢膩，骨楚腰痠，嘔惡胸悶未舒。系陽明邪伏未解，症非輕視，恐防交節轉重，擬疏風化熱主治，候政。</p>
<p>淡豆豉（三錢）　黃芩（一錢五分）　知母（一錢五分）　芍藥（三錢）　草果（麵包煨，一錢）　生皮（三錢）　中樸（六分）　枳殼（一錢五分）　加元明粉（三錢，沖服）</p>
<p>（案139）朱三爺。風溫挾感濕邪，身熱未解，畏寒，脈形弦澀，舌滑胸悶未舒，頭暈。陽明伏邪未泄，症非淺視，擬疏風解肌治。</p>
<p>大豆卷（三錢）　廣藿（一錢五分）　通草（一錢）　枳實（炒，一錢）　製半夏（一錢五分）　煨葛根（一錢）　陳皮（一錢五分）　赤苓（三錢）　加薑汁炒竹茹（二錢）　六一散（三錢，絹包）</p>
<p>前進疏風解肌之劑，風溫挾感，濕邪蘊熱未清，脈形弦滑，舌色清，胸隔未舒，往來早暮潮熱。此係陽明遏阻，症非輕視，恐轉溫虐之虞，仍宜祛寒表裡主治。</p>
<p>（五月初七改方）黑豆卷（三錢）　淡黃芩（炒，一錢）　赤苓（三錢）　陳皮（一錢五分）　全瓜蔞（炒，三錢）　製半夏（一錢五分）　廣藿梗（一錢五分）　青蒿（一錢）　加葛根（一錢）　老薑（一片）</p>
<p>（案140）綵衣街，朱海豐衣莊，看陳世兄。年逾二旬余，失血後恙久喉癢咳嗆，脈形芤虛，舌色燥膩。素體柔弱，真元不足，陽陰兩虧，氣不納化，擬扶陰養肺一法。</p>
<p>北沙參（三錢）　炙元胡（四錢）　真川貝（去心，一錢五分）　丹皮（炒，一錢五分）　旱蓮草（二錢）　制首烏（三錢）　紫菀茸（一錢五分）　真阿膠（二錢）　加藕節（三個）　揀麥冬（去心，二錢）</p>
<p>（案141）縣南葉向高傘店內官官。年逾二旬，忽患唇口疔瘡，口角風熱，疔毒行走不定，脈形細弦，舌滑，畏寒身熱，嘔惡。此係風熱內阻，症非輕視，恐走黃之變，擬泄風化熱主治。</p>
<p>大力子（開，三錢）　茅蒔菇（二錢）　赤芍（一錢）　連翹（二錢）　地丁草（一錢五分）　土貝母（三錢）　炒黃芩（一錢五分）　荊芥（一錢五分）　加甘草（四分）　鮮首烏（四錢）</p>
<p>（案142）龐老相，住西河龐宅。逾五之年，病涉三月，素好酒，感受濕阻入絡，肢節不舒，遍體骨楚腰痠，水虧木旺，真元氣血不調，六脈細，舌帶濕滯。此係恙久之患，恐成痿痹之虞，症非輕恙，擬祛寒和血通絡，候政。</p>
<p>金毛狗脊（三錢）　五加皮（二錢）　海風藤（二錢）　猩絳屑（一錢五分）　製半夏（一錢）　川鬱金（六分）　獨活（二錢）　絲瓜絡（二錢）　全當歸（二錢）　加嫩桑枝（四錢）　胡桃肉（二枚，連衣隔）</p>
<p>照前方去製半夏，加炙鱉（四錢）　木瓜（一錢五分）　制首烏（四錢）</p>
<p>（案143）童爺，廂黃旗。恙延月餘，路途行勞，感受挾寒未，擬溫中祛寒法。</p>
<p>桂枝（炙，四分）　姜山梔（二錢）　川鬱金（八分）　廣藿（一錢五分）　白豆蔻（五分）　廣橘紅（一錢五分）　姜半夏（一錢五分）　瓜蔞仁（炒，四錢）　加薑汁炒竹茹（二錢）　赤苓（三錢）</p>
<p>（案144）任爺，察院內。（五月廿九日診）濕熱蒙阻，中脘未舒，脈形遲澀，舌色滑膩。此係太陰陽明合病，濕滯未清，擬清州都一法。</p>
<p>焦冬朮（一錢五分）　赤茯苓（三錢）　滑石（絹包，四錢）　冬桑葉（一錢五分）　砂仁（打，四分）　製半夏（一錢五分）　青蒿梗（一錢）　藿梗（一錢五分）　加鮮荷梗（尺許）　澤瀉（一錢五分）</p>
<p>（案145）蔣客光，住小蓬萊前。（第一方）風溫身熱已解未涼，現發紅點未透，脈形弦數，舌滑，怫鬱內阻，中脘未舒。此係時邪內伏未解，症非輕視，恐防轉傳，宜疏解，候政。</p>
<p>淡豆豉（三錢）　前胡（一錢五分）　荊芥（一錢五分）　橘紅（一錢五分）　杏仁（去皮尖，三錢）　大力子（開，三錢）　桔梗（一錢）　象貝（去心，三錢）　加淨蟬衣（八分）　西河柳（三錢）</p>
<p>昨進疏解之劑，身熱未涼，現發斑疹隱隱未透，脈形弦滑，舌白膩，胸悶未舒，干惡。此係邪勢未泄，症非渺視，恐防轉傳，仍擬解肌透疹一法，候政。</p>
<p>（第二方，十五日）淡豆豉（三錢）　櫻桃核（三錢）　杏仁（開，三錢）　枳殼（一錢）　荊芥（一錢五分）　大力子（炒，三錢）　全瓜蔞（三錢）　蟬衣（淨，一錢五分）　加西河柳（三錢）　赤苓（三錢）</p>
<p>昨進疏肌透解之劑，溫熱時邪身熱未涼，脈形弦浮，舌苔滿布白膩遍絳，斑疹比昨略透，胸悶未舒，干惡，神志有時昏蒙。此係邪伏內阻，症屬非渺，恐交節轉重，仍擬透達疏解一法，候諸裁政。</p>
<p>（十六日第三方）淡豆豉（三錢）　全瓜蔞（炒，三錢）　桔梗（一錢）　荊芥（一錢五分）　杏仁（開，三錢）　大力子（開，三錢）　淨蟬衣（一錢）　連翹（二錢）　加西河柳（三錢）　薄荷（泡，八分）　二青竹茹（二錢，水炒）</p>
<p>昨進透達疏解劑，溫邪今交一候，身熱未涼，脈形弦滑，舌色微黃遍絳，斑疹略透，胸脘稍寬，神志較清，乍有煩躁，此係邪伏陽明未清，干惡，大便秘結不行，小便短少。症非淺恙，恐防轉變之虞，仍擬辛涼透達一法，仍候政。</p>
<p>（十七日第四方）淡豆豉（三錢）　大力子（開，三錢）　枳實（炒，一錢）　杏仁（去皮尖，三錢）　通草（一錢）　滑石（絹包，四錢）　焦山梔（二錢）　蟬衣（八分）　薄荷（泡，八分）　加西河柳（二錢）　鮮茅根（去心，八錢）</p>
<p>昨進辛涼透達劑，溫邪經余，身熱未退，脈形濡滑，舌色滑膩遍紅，斑疹已透，邪在募原，神蒙不清，干惡煩悶。症非渺視，恐防轉變，仍擬辛涼化熱透托一法，仍候政。</p>
<p>（十八日第五方）淡豆豉（三錢）　炒牛蒡（三錢）　黃芩（一錢）　連翹（二錢）　赤芍（一錢）　鮮生地（六錢）　黑山梔（三錢）　加滑石（包，四錢）　薄荷（泡，八分）　鮮茅根（一兩，去心）</p>
<p>昨投辛涼化熱劑，溫邪病涉九天，身熱稍減，脈形濡滑，舌色遍紅，斑疹已透未化，邪伏未清，神蒙煩躁，舌色燥，齒乾，脘悶氣促。症非輕視，恙恐傳變，仍擬辛涼化熱清解，候政。</p>
<p>（十九日第六方）淡豆豉（三錢）　鮮生地（八錢）　花粉（八錢）　丹皮（二錢）　鬱金（一錢）　黑山梔（二錢）　連翹（二錢）　知母（一錢五分）　赤芍（一錢）　薄荷（包，八分）　炒黃芩（一錢）　加益元散（包，三錢）　鮮茅根（去心，一兩）</p>
<p>昨進辛涼化熱清解之劑，病涉旬日，溫邪身熱未涼，脈形濡滑而數，舌色中心黃燥，邊滑白膩，斑疹未化，內伏三焦，神昏譫語，唇燥齒乾，煩悶氣衝。症非淺視，恐防邪陷之虞，仍擬清化邪熱佐治，仍候政。</p>
<p>（二十日第七方）淡豆豉（三錢）　鮮生地（八分）　象貝（去心，三錢）　丹皮（炒，一錢五分）　赤芍（一錢）　淡芩（炒，一錢）　羚羊角（一錢五分）　黑山梔（二錢）　加連翹（二錢）　活水蘆葦根（一兩）　瓜蔞仁（四錢，炒）</p>
<p>昨進清化邪熱之劑，病涉旬日余，溫熱邪勢未減，脈形滑數，舌色灰黑邊絳，唇乾齒燥，斑疹未化，面紅目赤，耳聾，神昏譫語。症屬重險，恐防邪陷之虞，仍擬清邪化熱一法，候裁政。</p>
<p>淡豆豉（三錢）　淨銀花（三錢）　連翹（二錢）　真川貝（去心，三錢）　羚羊角（二錢）　鮮生地（一兩）　天花粉（三錢）　淡黃芩（炒，一錢）　犀角尖（六分）　黑山梔（二錢）　加活水蘆根（一兩）　甘中黃（六分）　卷竹心（三十針）</p>
<p>病涉十二天，昨進清化邪熱劑，熱勢未減，脈形弦滑帶數，舌色灰燥，唇乾齒燥，面紅目赤，斑疹透而未化，神識模糊，有時囈語。此挾痰迷閉心胞，肝風震動，症屬重甚，恐防邪陷內傳之變，仍擬清熱化邪開泄主治，仍候高裁酌用。</p>
<p>（二十二日第九方）犀角尖（摩沖，五分）　淡豆豉（三錢）　木通（一錢）　連翹（二錢）　羚羊角（切片另煎，二錢）　天竺黃（一錢五分）　淡芩（炒，一錢五分）　甘中黃（六分）　黑山梔（二錢）　鮮生地（一兩）　赤芍（一錢）　加白荷花露（沖，一兩）　活水蘆根（一兩）</p>
<p>病涉十三天，溫邪勢未減，脈形滑數，舌苔灰黑燥，唇乾齒焦，面帶油滑，斑疹未化，神志模糊不清，譫語挾痰迷閉，肝風震動。症屬危險，防邪陷內傳兩候轉經之變，仍擬清熱化邪佐治，候高裁政。</p>
<p>（二十三日第十方）犀角尖摩（沖，六分）　甘中黃（六分）　生石膏（四錢）　丹皮（一錢五分）　羚羊片（另煎，二錢）　天竺黃（一錢五分）　肥知母（一錢五分）　赤芍（二錢）　鮮生地（一兩）　連翹（二錢）　加鮮竹葉（二十片）　活水蘆根（一兩）</p>
<p>病涉兩候，邪熱內伏，肝風震動，神迷氣衝，脈形滑數，舌色燥絳，液枯唇乾，斑疹未化，神志昏蒙。邪伏三焦未清，症屬危險，恐防邪陷內傳不測，仍宜生津化熱清邪一法，候高才政。</p>
<p>（二十四日第十一方）生西洋參（一錢）　生石膏（四錢）　丹皮（一錢五分）　知母（一錢五分）　羚羊片（二錢）　鮮石斛（四錢）　鮮生地（一兩）　淨連翹（二錢）　甘中黃（六分）　真川連（另煎沖，四分）　黑山梔（二錢）　加鮮竹葉（二十片）　活水蘆根（一兩）</p>
<p>溫邪半月，熱勢未減，肝風仍震氣衝，六脈濡數，舌色紅滑，邊膩津枯，斑疹已化未盡，神識有時昏語。症屬重險，恐防陷厥之變，仍宜生津化熱主治，候高明政。</p>
<p>（二十五日第十二方）生西洋參（一錢）　生石膏（四錢）　丹皮（一錢五分）　羚羊角（三錢）　鮮石斛（五分）　川鬱金（一錢）　黑山梔（一錢五分）　片通草（一錢）　鮮生地（一兩）　加連翹（二錢）　活水蘆根（一兩）　鮮竹葉（二十片）</p>
<p>六脈洪滑而數，舌色燥絳，斑疹已化未盡，溫邪余勢未清，神志有時不清，正虛邪盛，肝風震動未平。症屬險重，恐防邪陷痙厥之變，仍以生津化熱主治，仍候高明政。</p>
<p>（二十六日第十三方）鮮生地（一兩）　天花粉（三錢）　羚羊角（三錢）　片通（一錢）　生西洋參（一錢）　黑山梔（二錢）　川鬱金（一錢）　連翹（二錢）　鮮石斛（八分）　赤茯神（三錢）　加鮮竹葉（三錢）　活水蘆根（二錢）</p>
<p>脈形左部濡數，右部洪滑而數，舌色仍絳，斑疹已化未盡，肝陽火旺，餘熱邪勢未楚，竄入心經，有時不清，神蒙，肝風仍震。此係厥陰未平，症非淺渺，仍宜清心泄肝化熱主治，候諸高明政。</p>
<p>（二十七日第十四方）生西洋參（一錢）　羚羊角（二錢）　鎊犀角（先煎，一錢）　鮮生地（一兩五錢）　鮮石斛（八錢）　川鬱金（八分）　黑山梔（二錢）　片通（一錢）　赤茯神（三錢）　加活水蘆根（二兩）　青蒿露（衝入，一兩）</p>
<p>六脈洪滑而數，舌色仍燥，斑疹已化，肝陽火旺，餘熱未清，肝風略平。此係水虧木旺，症非淺視，仍宜清心泄肝化熱一法，候政。</p>
<p>（二十八日第十五方）生西洋參（一錢）　川貝（去心，二錢）　川鬱金（八分）　鮮生地（一兩）　鮮石斛（五錢）　橘白（一錢）　粉甘草（四分）　黑山梔（二錢）　羚羊角（一錢五分）　加赤茯神（三錢）　青蒿露（一兩，沖）　活水蘆根（一兩）</p>
<p>六脈細弦帶滑，舌色仍燥，肝陽震動，神志已清，心神少安。此係血虧肝旺，濕痰未泄，症非淺視，恐其轉變，仍宜泄肝化熱一法。</p>
<p>（二十九日第十六方）生西洋參（一錢）　川鬱金（七分）　黑山梔（一錢五分）　粉甘草（四分）　片通草（一錢）　粉丹皮（一錢五分）　赤茯神（三錢）　香穀芽（四錢）　鮮石斛（五錢）　加橘白（一錢）　枇杷葉露（一兩，沖服）　燈心（二十根）</p>
<p>六脈稍平，舌色略清，餘邪未化，濕熱挾阻膜原，中脘未舒，現發風疹，遍體忽現忽收，余勢未清。症屬雖淺，恐防反復，宜泄風化熱一法主治，候政。</p>
<p>（五月初一日第十七方）炙桑葉（一錢五分）　淡芩（炒，一錢）　丹皮（一錢五分）　黑山梔（二錢）　白蒺藜（三錢）　橘紅（鹽水炒，一錢五分）　通草（一錢）　川貝母（去心，一錢五分）　鮮石斛（五錢）　連翹　加二青竹茹（二錢，水炒）　燈心（二十寸）</p>
<p>六脈已靜，舌色已清尖燥，餘邪濕熱內阻氣，風疹未退，症勢雖減，恐防夏至節令轉變，仍擬化濕清胃一法，候政。</p>
<p>（初二日第十八方）鮮石斛（四錢）　赤茯神（三錢）　川貝母（去心，一錢五分）　丹皮（炒，一錢五分）　橘紅（一錢五分）　蔞仁（炒，四錢）　白蒺藜（三錢）　黑山梔（二錢）　池菊花（一錢五分）　加二青竹茹（二錢，水炒）　燈心（二十根）</p>
<p>前進化濕清胃劑，胃不納運，中焦痞悶，風疹已化未平，六脈稍靜，舌色略膩。此係濕痰內阻，仍宜化濕醒胃佐治，候政。</p>
<p>（初三第十九方）鮮石斛（四錢）　池甘菊（一錢五分）　粉丹皮（一錢五分）　川貝母（去心,一錢五分）　赤苓（三錢）　通草（一錢）　福澤瀉（一錢五分）　黑山梔（二錢）　加二青竹茹（二錢，水炒）　燈心（七寸）　川鬱金（八分）</p>
<p>（初四第二十方）候政。</p>
<p>鹽水炒新會（一錢五分）　池甘菊（一錢五分）　粉丹皮（一錢五分）　川貝母（去心，一錢五分）　製半夏（一錢五分）　黑山梔（二錢）　赤茯神（三錢）　香穀芽（三錢）　鮮石斛（四錢）　加二青竹茹（二錢，水炒）　純鉤鉤（後下，三錢）</p>
<p>（初五日第二十一方）候政。</p>
<p>鮮石斛（四錢）　川鬱金（六分）　青蒿（一錢五分）　橘紅鹽水（炒，一錢五分）　製半夏（一錢五分）　鉤鉤（後下，三錢）　赤茯神（三錢）　黑山梔（一錢五分）　加二青竹茹（二錢，水炒）　香穀芽（三錢）　薏苡仁（三錢）</p>
<p>（初六日第二十二方）霍山石斛（四錢）　黑山梔（一錢五分）　青蒿（一錢五分）　白蔻（打，五分）　粉丹皮（一錢五分）　赤苓（三錢）　鹽水（炒）　橘紅（一錢五分）　炒黃芩（一錢）　加二青竹茹（二錢，水炒）　香穀芽（五錢）　鮮荷葉（一張）</p>
<p>（初七日第二十三方）霍石斛（二錢）　粉丹皮（一錢五分）　橘紅（鹽水炒，一錢五分）　青蒿（四錢）　焦穀芽（三錢）　淡芩（一錢五分）　黑山梔（二錢）　佩蘭（一錢五分）　加二青竹茹（二錢）　鮮荷葉（一角）　赤茯芩（三錢）</p>
<p>（初八日第二十四方）霍石斛（二錢）　粉丹皮（一錢五分）　丹參（二錢）　黑山梔（二錢）　鹽水炒橘紅（一錢五分）　炒白芍（一錢五分）　川鬱金（六分）　加香穀芽（三錢）　青蒿（一錢五分）　鮮荷葉（一角）</p>
<p>（初九日第二十五方）霍山石斛（三錢）　粉丹皮（一錢五分）　丹參（二錢）　佩蘭（一錢五分）　白芍（一錢五分）　川鬱金（一錢）　鹽水炒橘紅（一錢五分）　黑山梔（二錢）　加鹽水炒澤瀉（一錢五分）　鮮荷葉（一角）　焦穀芽（四錢）</p>
<p>（初十日第二十六方）霍山石斛（四錢）　橘白（一錢）　丹皮（二錢）　佩蘭（一錢五分）　川鬱金（六分）　炒白芍（一錢五分）　焦穀芽（四錢）　茯神（三錢）　加炒紅棗（三枚）　鉤鉤（三錢，後下）　鮮荷葉（一張）</p>
<p>（十一日第二十七方）霍山石斛（四錢）　丹皮（一錢五分）　橘白（一錢）　米仁（炒，四錢）　炒冬朮（一錢）　鬱金（六分）　云茯神（三錢）　白芍　加鮮荷葉（一張）　紅棗（三枚）　鉤藤鉤（後下，三錢）</p>
<p>（十二日第二十八方）紫丹參（一錢五分）　焦米仁（四錢）　橘白（一錢）　炒白芍（一錢五分）　冬朮（炒，一錢）　鬱金（六分）　霍山石斛（四錢）　淮山藥（三錢）　茯神（三錢）　加大紅棗（五枚）　鮮荷葉（一角）</p>
<p>（十四日第二十九方）焦冬朮（一錢）　川鬱金（六分）　女貞子（蒸，三錢）　白芍（一錢五分）　丹參（二錢）　苡米（炒，四錢）　淮山藥（三錢）　茯神（三錢）　加鮮荷葉（一角）　香穀芽（三錢）</p>
<p>（十八日第三十方）生石決明（四錢）　雲茯苓（三錢）　白芍（炒，一錢五分）　川鬱金（一錢）　製半夏（一錢五分）　薤白頭（六分）　小青皮（一錢五分）　鉤鉤（後下，三錢）　瓜蔞皮（炒，三錢）　加鮮橘葉（七葉）</p>
<p>全瘳。</p>
<p>（案146）寶嬸嬸，薦頭。五月初二日診。風溫時邪，身熱未解，脈形浮滑，舌色滑膩，頭疼嘔惡，胸悶未舒。此係陽明邪伏未泄，防發斑疹，症非淺視，擬疏肌散解主治。</p>
<p>淡豆豉（三錢）　乾葛（一錢）　杏仁（開，三錢）　枳殼（炒，一錢五分）　赤苓（三錢）　楂肉（炒，三錢）　熟牛蒡（炒，三錢）　荊芥（一錢五分）　前胡（一錢五分）　加蔥白頭（一個）</p>
<p>昨進疏肌散解劑，服後身熱未退，胸悶不舒，嘔惡頭疼未減，脈形弦浮，舌色白膩帶滑。此係陽明邪熱未清，恐防轉傳，仍擬疏肌透解一法，候政。</p>
<p>（第二方）淡豆豉（三錢）　大力子（炒，二錢）　枳殼（炒，一錢）　冬桑葉（一錢五分）　荊芥（一錢五分）　蔓荊子（一錢五分）　廣皮（一錢五分）　杏仁（去皮尖開，三錢）　加桔梗（一錢）　赤苓（三錢）</p>
<p>前進疏肌透解劑，風溫時患，身熱未解，脈形弦浮，舌色白膩，胸悶未舒，嘔惡。防發斑疹，兼之熱入血室，症非淺視，防其轉傳，仍擬疏肌，候政。</p>
<p>（第三方）淡豆豉（三錢）　枳實（一錢）　赤芍（一錢）　冬桑葉（一錢五分）　楂肉（炒，三錢）　全瓜蔞（三錢）　大力子（炒，三錢）　廣皮（一錢五分）　加杏仁（三錢，去皮尖開）　澤蘭（一錢五分）</p>
<p>昨進疏肌劑，風溫時邪身熱未解，頭暈乾嘔，脈形弦浮，舌色滿布白膩。中焦濕熱挾滯未清，症非輕渺，恐防發疹，仍擬解肌疏透一法，候政。</p>
<p>（第四方）淡豆豉（四錢）　枳實（炒，一錢）　桃仁（炒，二錢）　炒牛蒡（三錢）　焦楂炭（三錢）　全瓜蔞（三錢）　赤苓（三錢）　延胡（一錢五分）　加鮮茅根（一兩，去心）　荊芥（一錢五分）</p>
<p>（案147）陸大兄，四月二十七日。風溫旬日余天，身熱入暮則甚，神痿躁煩，口渴，咳嗆不暢，泛惡胸悶，頭痛如破，現發斑疹未透，內風手撮鼻扇，熱結旁流便泄，脈來洪數，舌絳。此係風溫，插肋骨楚脅痛。症屬棘手，肺火喉痛，防其內陷不測，勉宣風清解疏托治之，候高明政用。</p>
<p>黑豆卷（四錢）　鮮生地（八錢，同打）　元參（二錢）　朱茯神（三錢）　射干（一錢）　象貝母（四錢，去心）　桔梗（五分）　朱連翹　蘇梗（一錢五分）　前胡（二錢）　牛蒡子（炒，三錢）　橘絡（一錢五分）　加青防根（一錢）　姜炒竹茹（二錢）　荷葉（一角）　白茅根（一兩，去心）</p>
<p>昨投清解疏托之劑，服後喉痛較減，風溫十二天，身熱未減，胸悶神蒙，煩躁口渴喜飲，斑疹顯而不多，唇乾口燥，熱結旁流，便泄色赤，肝風漸熄，咳嗆肋疼，脈來洪數，舌絳。此係邪入太陰，兼傳陽明，漏底之象，症屬棘手，防發昏陷不測，候高明政用。</p>
<p>（四月二十八日第二方）細生地（淡豆豉三錢同打，六錢）　前胡（二錢）　炒天蟲（一錢）　蘇梗（一錢五分）　橘絡（一錢五分）　象貝（去心，三錢）　炒牛蒡（三錢）　楂炭（三錢）　建曲炭（三錢）　加焦荷蒂（五枚）　佛手炭（一錢五分）　姜竹茹（二錢）　冬桑葉（一錢五分）</p>
<p>前投清解疏托之劑，服後風溫十三天，身熱仍然未解，喉痛較減，神志漸清，肝風略熄，胸悶泛惡，斑疹較多，白㾦發現，此挾滯內阻，便痢色白，氣滯不暢，咳嗆肋痛，脈形濡數，舌絳少液。症屬重險，明當二候，戰汗關津，防其不測，候高明政。</p>
<p>（四月二十九日第三方）炒香豉（三錢）　前胡（二錢）　蘇梗（一錢五分）　大力子（炒，三錢）　橘皮（一錢）　楂炭（三錢）　煨葛根（一錢）　連翹（一錢五分）　建曲炭（三錢）　姜炒竹茹（二錢）　焦荷葉（一錢五分）　經桑葉（一錢五分）　加香連丸（包，一錢五分）　佛手炭（一錢五分）</p>
<p>風溫挾滯，身熱兩候未解，脘悶神疲，煩躁口渴引飲，喉痛，臥寐不安，斑疹未化，白略多，便痢白色，脈數，舌色光液。此係邪滯內阻，症屬重險，防其昏陷不測，宜和中化滯清邪，候高明政。</p>
<p>（四月三十日第四方）黑豆卷（鮮生地六錢同打，三錢）　炮薑炭（四分）　牛蒡子（炒，三錢）　朱連翹（三錢）　炒扁豆（三錢）　朱茯神（三錢）　建曲炭（三錢）　焦楂炭（三錢）　鐵皮石斛（三錢）　前胡（二錢）　桑葉（一錢五分）　加薑汁炒竹茹（二錢）　佛手炭（一錢五分）　焦荷蒂（四枚）</p>
<p>風溫半月，熱退未清，挾滯內阻，神煩口渴，白㾦肌密，便痢不暢，脈數，舌光少液。症屬尚在險途，防其變端，候高裁政。</p>
<p>（五月初一日第五方）鐵皮石斛（二錢）　炒建曲（三錢）　朱連翹（三錢）　炒香扁豆（二錢）　象貝（去心三錢）　砂仁殼（五分）　黑豆卷（三錢）　杏仁（開，三錢）　川鬱金（一錢）　加姜炒竹茹（二錢）　佛手炭（一錢五分）　焦荷蒂（四個）</p>
<p>（案148）勝小姐。時珍曰：月事不來者，胞絡閉也。胞絡者，胞於絡中也。心氣不能下通血海，上逼於肺。《內經》曰：人稟二氣以生者，有清有濁。陽之清者為元氣，陽之濁者為火氣。陰之清者為精液，陰之濁者為痰涎。經居三月，咳嗆半載余，肺痿將成，痰隨氣升降，津液化痰涎，嘔惡白沫，口燥唇乾，木火刑金，脘痞拒按作痛，噯氣不舒，大便時溏時堅，神疲肉削，乍寒乍熱，自汗甚多，氣機失調，脈左關弦促，右部細數，尺按無神，舌薄根花。此係癆瘵重症，然子月一陽初動，陰分愈衰，況頰赤指枯，金不伐木，木乘土虧，勢防交節增劇之變幻。鄙意先調氣生金，佐以助胃潤燥，未知然否，即候高裁政用。</p>
<p>全福花（二錢）　炒黃川貝（二錢）　金石斛（三錢）　炒扁豆（二錢）　海浮石（二錢）　蜜炙蘇子（三錢）　福橘絡（二錢）　淮小麥（二錢）　炙沙參（二錢）　蜜炙紫菀（一錢五分）　朱茯苓（三錢）　川鬱金（一錢）　加鱉血炒銀柴胡（五分）　蜜炙陳蒿子（一錢五分）</p>
<p>（勝小姐）前投調氣生金之品，服後氣急稍平，嘔吐漸止，自汗略減，唯咳嗆仍然，痰沫甚多，左脈仍弦，促勢較優，右滑不利而虛數，兩尺細軟無神，舌薄根底花剝。此久咳肺痿將成，肝木強橫侮及脾土，症非淺視，防其血溢失音之變，再守前法，仍候採擇。</p>
<p>南沙參（三錢）　鴨血拌炒紫丹參（二錢）　金石斛（三錢）　鱉血炒銀柴胡（五分）　稻根鬚（四錢）　全福花（二錢）　鹽水炒橘紅絡（各一錢）　海浮石（三錢）　淮小麥（二錢）　雲茯苓神（各三錢）　白石英（三錢）　炒黃川貝（二錢）　蜜炙杜蘇子（三錢）　生香附（童便制，三錢）</p>
<p>（勝小姐）咳嗆自汗均減，金不伐木，木動胃逆，嘔吐痰沫，氣機失調，神枯形削，脘痞，手按隱痛，脈左手滑澀，尺細，舌薄。此係內郁不化，肝木強盛所致，恙延半載有餘，元氣大虧，虛不受補，時屆深冬，肝失涵養，症屬非輕，防其復感交節之增變，仍擬前法，兼以散痞理中和胃，以候裁政。</p>
<p>南沙參（三錢）　九孔子（四個）　川鬱金（一錢）　炒陳皮（一錢五分）　全福花（二錢）　金石斛（三錢）　海浮石（三錢）　仙半夏（一錢五分）　炒黃川貝（二錢）　朱茯神（四錢）　光杏仁（三錢）　紫丹參（二錢）　加鮮枇杷葉（刷毛薑炙，二錢）　鹽水炒烏藥（一錢）</p>
<p>（勝小姐）左脈較平，右寸滑細，兩尺濡澀，舌膩淡紅根花，病起半載，木火剋金，久咳傷陰，肺痿內損，肝氣結緊，勢恐增變。擬清金伐木，以候高才政用。</p>
<p>南沙參（三錢）　扁豆衣（鹽水炒，二錢）　元參（青黛二分拌，二錢）　淡秋石炒生地（四錢）　茺蔚子（鹽水炒，三錢）　陳蒿子（蜜炙，一錢五分）　川貝母（去心炒黃，二錢）　童便制香附（一錢五分）　金石斛（三錢）　全福花（絹包，二錢）　蘇子（蜜炙，三錢）　蜜炙紫菀茸（一錢五分）</p>
<p>（勝小姐）肝氣擾及中宮，清不升，濁不降，脘痞漸化，氣不宣運，多噯而咳嗆，痰沫仍然不止，寤寐雖安，喉癢，脈滑細澀，舌薄根毛。木旺土虛，金受火克，勢屬勞勝，諸疑漸平，慎防反復，姑宜清金培土滋水，以候明哲政用。</p>
<p>淡秋石炒生地（四錢）　南沙參（三錢）　全福花（絹包，二錢）　炒扁衣（三錢）　童便制香附（二錢）　淡鱉甲（四錢）　川鬱金（一錢）　金石斛（三錢）　蜜炙陳蒿子（一錢五分）　光杏仁（開，三錢）　款冬花（蜜炙，二錢）　川貝母（去心炒黃，二錢）　鹽水炒知母（蜜炙橘紅拌，二錢）</p>
<p>（勝小姐）按經旨云，久咳不已則三焦受之。又曰，五臟六腑皆令人咳，是咳不專即肺以治之可知矣。然六淫外感必先犯肺。夫手太陰位居最高，為上焦華蓋，致病積虛之體，腠理疏豁，肺衛不固，客感易乘，表裡皆郁，金鬱則失清肅之令，木鬱失疏泄之常，土鬱失升降之職，是以不咳則已，咳則連聲，甚則欲嘔，噯氣頻仍，大腑反溏，胃鈍妨納，此肺咳而兼胃咳也，咳痰有沫，甚則有汗，此飲咳而兼汗咳也，論治法宗東垣治咳例，而用仲景法。脈得左關弦數不和，右細濡澀，即《脈經》所云，飲邪脈弦，肝脈亦弦。細濡為脾虛濕勝，濕為氣鬱不達，舌色薄糙，根瘰，合脈審症，非徒治咳能取效，苟付方以備主採。</p>
<p>旋覆花（二錢）　青鹽半夏（一錢五分）　淡芩（一錢五分）　蘇子（開，一錢五分）　新絳屑（一錢五分）　蜜炙川樸（七分）　橘絡（一錢五分）　茯苓（四錢）　當歸鬚（一錢五分）　酒炒白芍（桂木二分同拌，一錢五分）　冬瓜子（三錢）　蘆根（去節，尺許）　絲瓜絡（一錢五分）　鹽水炒前胡（一錢五分）　九孔石決明（鹽水炒，一兩）</p>
<p>肝行疏泄之令，肺主清肅之權，血不養肝，木火疏泄太過，上克肺金，金受火刑，清肅之令不行，咳嗆氣急，發熱吐涎，入夜尤甚，肺陰已傷，肝火上升無制，銷爍營陰，衝任失司，居經不行，脈來兩尺沉細，左關弦數，右寸弦大而滑。損症已成，姑宜培土生金以制肝陽。</p>
<p>南沙參（四錢）　赤茯苓（二錢）　牡丹皮（二錢）　石決明（生打，四錢）　女貞子（二錢）　全當歸（二錢）　象貝母（三錢）　瓜蔞仁（二錢）　川石斛（三錢）　甜杏仁（去皮尖打，三錢）　生穀芽（三錢）　懷山藥（三錢）</p>
<p>（勝小姐）咳久腠理不固，肺氣疏豁，元府洞開，冬令收藏而反開泄，風溫時感最易侵襲，肺失降肅，咳嗆聲重，痰唾稠白如飲，早暮為劇，是飲咳也。飲邪必挾肝邪，動輒眩暈，噯氣頻仍，胃鈍妨食，形寒身熱，猶如虐狀，間日一作，漐漐有汗，熱勢漸衰，骨背曾發風痱，及肺胃居部，肺胃風熱，頗有出路。但肺為嬌臟，益理益虛，積虛久必成損，積損久必成癆，虛症感邪，調治非易。挹得左脈弦數而浮，右細濡軟數，弦為肝邪飲，浮為風熱，細為正虛，苔色薄膩，根瘰有剝象。論症情，當用清宣泄肝兼和營衛，古人治病先宜治新，應宗此旨立法。</p>
<p>鮮金釵石斛（三錢）　經霜桑葉（二錢）　純鉤鉤（後下，三錢）　蜜水炙小樸（八分）　炙桑白皮（三錢）　湖丹皮（二錢）　九空石決明（鹽水煅，八分）　廣鬱金片（一錢五分）　南沙參（一錢五分）　鹽水炒前胡（一錢五分）　姜炒竹茹（天羅布七寸包）　杜橘絡（二錢）　加光杏仁（開，三錢）　歸鬚（一錢五分）</p>
<p>（勝小姐）閱所示病狀，得悉營衛已和，飲食遞增，胃元漸復，第咳嗽雖輕，而根株未拔，良以風溫餘邪未能清澈，肺不行降肅之令，延久必病及三焦，冬令封蟄，天癸潛通，希冀水升火降。至於病後調理，尤宜加意，慎風寒，節飲食，戒勞怒，治病養病，同此一理。此方服得對可服十劑。</p>
<p>南沙參（川鬱金八分拌，一錢五分）　釵斛（三錢）　冬瓜子（四錢）　瓜蔞皮（三錢）　北沙參（漂海浮石粉二分拌，三錢）　茯苓（人乳拌，三錢）　生苡仁（四錢）　白歸身（蛤粉炒，三錢）　製半夏（竹瀝薑汁拌炙，二錢）　丹皮（酒炒，一錢五分）　真川貝（碎紅花八分拌搗，三錢）　金沸草（絹包，一錢五分）　大麥冬（淡秋石八分拌，一錢五分）　廣白（鹽水炒，一錢五分）　元參心（一錢五分）　蔥白丸（臨臥淡鹽湯另送，二錢）</p>
<p>（勝小姐）膏滋方。</p>
<p>大生地（六兩）　冬青子（三兩）　懷山藥（五兩）　大白芍（二兩）　牡丹皮（三兩）　赤茯苓（三兩）　左牡蠣（六兩）　陳皮白（一兩）　生龜板（六兩）　小胡麻（三兩）　南沙參（六兩）　甜杏仁（去皮尖研，五兩）　金石斛（五兩）　白歸身（三兩）　象貝母（三兩）</p>
<p>煎三次取汁，白冰糖一斤，收膏，每用一大匙，約八錢許，開水化服。</p>
<p>（案149）五小姐。素體陰虧，肝陽向盛，春令發泄之候，因熱招涼，風邪從毛竅而襲，伏於肺胃，遂發咳嗆，延久不已，交令更甚，內熱胸痞，胃不知飢，腑氣時結時溏，氣欲上浮如喘狀，舌前半無苔，根間花剝，脈細數，無神，輕取則弦，重按則澀。此邪由虛入，深入於裡，太少二陰皆病，非若泛泛之咳，僅在肺胃間也，為勢鄭重深，屬損症一途矣。勉擬溫運托邪法，候諸高明定奪。</p>
<p>蜜炙款冬花（一錢五分）　真川貝（去心，二錢）　熟百部（一錢）　炙黑焦甘草（四分）　法半夏（一錢五分）　甜杏仁（去皮尖，三錢）　蜜炙北細辛（二分）　雲茯苓（三錢）　福橘絡（一錢五分）　加大紅棗（二枚）　絲瓜絡（一錢五分）</p>
<p>（案150）官官，徐家宅徐。風溫挾食，身熱兩日，頭疼畏寒，症屬非輕，防變重，候政。光緒七年五月十四日蔚云公診。</p>
<p>陳香薷（五分）　大力子（三錢）　冬桑葉（一錢五分）　炒建曲（三錢）　大豆卷（三錢）　淨蟬衣（一錢）　嫩前胡（二錢）　炒天蟲（一錢五分）　姜竹茹（二錢）　加連葉蘇梗（一錢五分）　浮萍（炒，一錢）</p>
<p>官官，十六日。童年風溫挾食，身熱四天，頭疼腰痛，現發斑屑未透，左肋乍痛乍緩，脈數舌膩。症屬重險，防其熱陷變端，宜清托達邪，候高明政用。</p>
<p>大豆卷（三錢）　炒牛蒡（三錢）　連葉蘇梗（一錢五分）　前胡（二錢）　冬桑葉（一錢五分）　淨全衣（一錢）　紫背浮萍（炒，一錢）　象貝（去心，三錢）　新絳屑（二錢）　花檳榔（七分）　薑汁炒竹茹（二錢）　橘絡（二錢）　制嘉蠶（一錢五分）　蔓荊子（二錢）　加防風（一錢五分）　荊芥（一錢五分）</p>
<p>官官，五月十七日。童年風溫時邪挾食，身熱五天，頭疼眩暈，斑疹較顯色紅，煩躁口渴，脈來濡數少力，舌苔薄白尖紅，遍體骨疼，左肋吸痛。此係邪食蘊阻陽明，化熱未徹，症屬重險，防其昏喘不測，宜投清托消食達邪，候高明政用。</p>
<p>大豆卷（三錢）　大力子（三錢）　雞金炭（三錢）　前胡（二錢）　冬桑葉（一錢五分）　制佳蠶（一錢五分）　純鉤鉤（遲入，三錢）　防風（一錢）　嫩蘇梗（帶葉，一錢五分）　自然銅（一錢五分）　姜山梔（一錢五分）　橘絡（三錢）　姜竹茹（二錢）　新絳屑（二錢）　青蔥管（三寸）　荊芥（一錢五分）　當歸鬚（一錢五分）　淨蟬衣（一錢五分）　加辰砂益元散（絹包，三錢）</p>
<p>官官，五月十八日。童年風溫挾食，氣絡不和，病始六天，頭疼煩躁，左肋吸痛，斑屑紅疹較顯，尚未透足，寤寐略安，脈來濡數，舌苔根膩。此係溫邪挾食，內伏陽明，化熱達而未徹，氣絡失司。證屬重險，明當一候關津，防其昏喘不測，宜清托舒絡，候高明政用。</p>
<p>大豆卷（三錢）　新絳屑（一錢五分）　淨蟬衣（一錢）　前胡（二錢）　炙柴胡（四分）　大力子（炒，三錢）　雙鉤鉤（三錢）　象貝（去心，三錢）　川鬱金（一錢）　自然銅（一錢五分）　青蒿（川桂一分半同炒，一錢五分）　蘇子（三錢）　梗（一錢五分，炒）　天竺黃（薑製，一錢）　檳榔片（一錢）　薑汁炒竹茹（二錢）　加歸鬚（一錢五分）　橘絡（三錢）</p>
<p>官官。五月十九。童年風溫宿食，身熱七天，頭痛胸悶，脘中拒按作痛，斑顯未足，頸項腹部現發白㾦，肋痛漸平，乍有凜寒，脈數寸浮，舌色根膩。此邪食互阻未泄，症屬勢沉重，防其內傳變端，宜清托解肌，候高明政。</p>
<p>大豆卷（三錢）　大力子（炒，三錢）　蔓荊子（三錢）　前胡（二錢）　冬桑葉（一錢五分）　陳香茹（四分）　建神麯（二錢）　蘇梗（一錢五分）　淨蟬衣（一錢五分）　雞金炭（三錢）　炒南楂（三錢）　橘絡（三錢）　象貝母（去心，三錢）　加薑汁炒竹茹（二錢）　紫背浮萍（炒，一錢五分）</p>
<p>（案151）春莊兄。四月二十三日，巢崇山診虹口美汜汪姓。脈數，指汗微，身熱，肌膚斑疹未透，胸悶噁心，錯語嗜寐。乃濕溫內伏，由陽明而入少陰之象，甚昏憒，弗泛視之，再以宣透，請明哲政。</p>
<p>大豆卷（三錢）　連翹殼（二錢）　雙鉤藤（後下，一錢五分）　陳膽星（六分）　淨蟬衣（八分）　粉桔梗（一錢）　川鬱金（一錢五分）　光杏仁（三錢）　象貝母（三錢）　熟牛蒡（三錢）　福橘絡（一錢）　生苡仁（三錢）　加茅根（去心，四錢）　鮮石菖蒲（六分）</p>
<p>春兄。四月二十六。白㾦微露，身熱不揚，耳聾嗜寐，譫語神迷，脈小數，舌絳，苔黃，便溏薄，胸悶額汗，間有呃逆。此邪未達而正已傷，深慮肝風內動，內閉外脫，殊可危也，急急清邪開蒙，以冀轉機，請明哲政。</p>
<p>香青蒿（一錢）　朱茯神（三錢）　扁金斛（三錢）　薄橘紅（八分）　雙鉤藤（一錢五分）　南沙參（三錢）　姜竹茹（一錢五分）　枇杷葉（去毛，三片）　川貝母（去心，三錢）　宋半夏（一錢五分）　陳柿蒂（七隻）　川鬱金（一錢）</p>
<p>春莊兄，四月二十七日。脈數舌煤，身熱起伏，四肢躁動，耳聾蒙睡，胸頸白㾦，不時作呃。此邪熱傷陰，心火內熾，肝風習有昏厥之虞，再擬存陰透熱，熄風化痰，即候高明定奪。</p>
<p>經霜桑葉（一錢五分）　熟牛蒡（三錢）　雙鉤藤（二錢）　陳柿蒂（七隻）　淨蟬衣（八分）　連翹殼（二錢）　羚羊片（先煎，一錢五分）　薄橘紅（一錢）　香青蒿（一錢五分）　象貝母（二錢）　扁金斛（三錢）　姜竹茹（一錢五分）</p>
<p>春兄，四月二十八日。脈數舌煤，身熱如灼，手指風動，呃逆時作。症屬非輕，甚防蒙厥，再清心肝，以俟明哲政。</p>
<p>鮮生地（八錢）　經霜桑葉（一錢五分）　連翹心（二錢）　烏犀片（先煎，一錢）　鮮石斛（四錢）　雙鉤藤（遲入，二錢）　元參心（三錢）　羚羊片（先煎，一錢五分）　川貝母（去心，二錢）　陳柿蒂（五隻）　姜竹茹（一錢五分）</p>
<p>（案152）汪先生，四月二十九，星若診。夫熱為天之氣，濕為地之氣，熱得濕而彌熾，濕得熱而愈張，蘊郁三焦，相火相煽，內竄心胞絡中，神志時清時渾，囈語如夢，音糊風動，手痙捻撮，斑疹隱約未透，咳嗆痰稠，氣促呃逆，胸悶骨楚，脈形弦數少神，舌黑苔干。此係邪熱由衛入營擾及厥陰，震動君主，殊為棘手，防今明額汗外脫不測，既蒙寵召，不忍坐視，勉擬存液清心鎮肝達邪一法，聊盡人事而已，錄方是否，祈請高裁政。</p>
<p>羚羊片（二錢）　連翹心（一錢五分）　炒赤芍（一錢五分）　黑山梔（一錢五分）　黑豆卷（四錢）　鮮生地（六錢，二味同打）　霍石斛（二錢）　元參心（一錢五分）　朱茯神（四錢）　加捲心竹葉（十六片）　小橘皮（八分）　竹二青（水炒，二錢）</p>
<p>另用石決明一兩二錢煎湯代茶。</p>
<p>另用萬氏牛黃清心丸一粒，純鉤鉤二錢、石菖蒲五分，二味煎湯代水，均二次化服。</p>
<p>汪春翁，四月三十午診。昨投萬氏牛黃清心丸，服後神志稍清，肝風仍然未熄，寐則囈語如夢，斑疹較多，胸部未透，咳嗆不暢，痰黏色黑，腑液溺少，赤而作疼，氣衝呃逆，唇燥齒黑，口渴不引飲，飲不解渴，脈形濡而數，舌中乾黑過刺。此係溫邪挾濕，春感夏發，熱邪漸入心營，攏亂神明，震動肝風，勢屬燔灼。防其額汗，痙厥不測，勉宗前法，仍以清心鎮肝為主，但危篤若此，惟百中圖一而已，錄方是否，候高明政用，並請崇山太世叔指政。</p>
<p>黑豆卷（二錢）　鮮生地（六錢，二味同打）　羚羊角（切片煎沖，二錢）　辰茯神（四錢）　天竺黃（一錢五分）　霍石斛（煎沖，三錢）　陳膽星（六分）　刀豆子（五粒）　陳柿蒂（五個）　小橘皮（一錢）　炒赤芍（一錢五分）　純鉤鉤（後下，三錢）　加佛手露拌炒竹茹（二錢）　另用九孔石決明（一兩四錢，煎湯代水）</p>
<p>春翁，五月初一日。呃逆雖平，然陰液下耗，陽明濕濁上騰，口糜滿布，咽乾燥痛，神志稍清，寐則仍有譫語，肝風略熄，耳聾失聰，疹點夾癍，化而未盡，胸膺晶㾦，脈濡數而少神，舌焦，腑三天未更，小溲短赤且痛。此係濕溫化燥劫津，邪熱由氣分漸入營中，遂致液涸邪張，擾動神明，殊為危險。夏至將臨，虞其額汗，痙厥不測，勉擬存液清心，兼以降濁一法，未審然否，祈候高明政用。</p>
<p>生西洋參（佛手露一錢五分內燉沖，一錢二分）　甘中黃（五分）　陳膽星（六分）　淡竹葉（三錢）　霍山石斛（另煎沖，三錢）　天竺黃（一錢五分）　炒赤芍（一錢五分）　朱燈心（廿寸）　朱拌茯神（三錢）　純鉤鉤（三錢）　加辰砂益元散（絹包，三錢）　木通（一錢）</p>
<p>汪春翁，五月初三日。連投存液降濁之劑，服後口糜稍去未盡，神志漸清，時有驚跳，乃水不養木所致，耳聾略聰，斑疹化，晶㾦未回，納穀少思，痰稠不能暢唾，胸部仍有窒塞。此平素操勞兼嗜鴉片，氣弱濕勝，感邪引動伏濕，先從上受，屬於肺失治，邪勢鴟張，過膜原擾膻中，遂致風動神迷。首宗喻氏宣竅一法，繼以存津清心，刻雖包絡之熱漸解，奈舌糜未退，津液未回，況兼情不耐。當此九仞之際，慮其餘波作浪，須糜退津回，可許吉期，錄方尚祈明哲政。</p>
<p>生西洋參（佛手黃一錢五分同燉，二錢）　甜新會（一錢五分）　福澤瀉（鹽水炒，二錢）　天花粉（二錢）　鐵皮石斛（打汁，六錢）　天竺黃（一錢五分）　柏子仁（淨，三錢）　穀子露（沖服，一兩）　煅蒼龍齒（二錢）　純鉤鉤（後下，三錢）　加碧玉散（包，三錢）　甘中黃（五分）</p>
<p>（案153）徐先生，二十六年三月二十五日，丁甘仁診。溫邪夾濕夾滯，寒熱頭脹，胸悶嘔吐，舌苔膩黃。姑擬疏邪暢中。</p>
<p>大豆卷（三錢）　赤茯苓（三錢）　焦六曲（三錢）　白通草（八分）　黑山梔（二錢）　陳廣皮（一錢）　光杏仁（三錢）　法半夏（一錢五分）　左金丸（包，五分）　嫩前胡（一錢五分）　川鬱金（一錢五分）　姜竹茹（一錢五分）</p>
<p>徐先生，三月二十七日。溫邪身熱無汗，口乾微惡，咳嗽胸悶，少寐煩躁，脈象浮滑而數，舌薄苔膩。伏邪內蘊，新涼外束，氣機閉塞使然，邪勢正在鴟張，弗輕視之，姑擬疏解暢中，候政。</p>
<p>淡豆豉（三錢）　赤茯苓（三錢）　焦六曲（二錢）　黑山梔（二錢）　藿香葉（一錢五分）　飛滑石（三錢）　嫩前胡（一錢五分）　炒枳殼（一錢）　白通草（八分）　薄荷葉（一錢）　姜竹茹（一錢五分）　光杏仁（二錢）　白茅根（六錢）　象貝母（去心，三錢）</p>
<p>徐先生，三月二十八日。溫邪挾濕挾滯，上中二焦受病，氣機窒塞，以致身熱無汗，胸悶嘔惡，脅痛不便轉側，咳嗽，渴不欲飲，舌苔薄膩而黃，脈象滑浮而數。邪勢正在鴟張，頗慮傳變增劇，再擬疏解宣氣，以冀邪達熱退則吉，候政。</p>
<p>淡豆豉（三錢）　赤茯苓（三錢）　焦六曲（三錢）　黑山梔（二錢）　炒枳殼（一錢）　飛滑石（三錢）　嫩前胡（一錢）　川鬱金（二錢）　白通草（八分）　光杏仁（三錢）　象貝母（三錢）　姜竹茹（一錢五分）　白茅根（五錢）　加普濟解疫丹（三錢，絹包）</p>
<p>徐先生，三月二十九日。汗泄未暢，身熱略減，脅痛亦止，而胸悶不舒，口乾不欲飲，痰內微有紅色，脈象滑數，舌苔薄膩，唇紅。伏邪濕蘊於氣分，漫布三焦，肺金輸化失司，恙勢尚在重途，再擬疏解宣化，候政。</p>
<p>淡豆豉（三錢）　赤茯苓（三錢）　焦六曲（二錢）　黑山梔（二錢）　姜竹茹（二錢）　象貝母（三錢）　嫩前胡（一錢五分）　光杏仁（三錢）　冬瓜子（二錢）　飛滑石（三錢）　冬桑葉（一錢五分）　嫩紫菀（一錢五分）　川鬱金（一錢五分）　淡黃芩（酒炒，一錢五分）　加普濟解疫丹（三錢，絹包）　鮮枇杷葉（三張，絹包）</p>
<p>徐先生，四月初一。</p>
<p>照前方去淡豆豉（三錢）　焦六曲（三錢）</p>
<p>初二日。濕溫九日，嘔惡止，身熱朝輕暮重，口乾欲飲，咳嗽氣逆，脈象弦滑而數，舌苔膩黃尖絳。濕鬱化熱，熱邪漫布三焦，肺失清肅，陰液漸漸損傷。大便溏薄，小溲短赤，肺移熱於大腸，腸中濕熱未盡也。恙勢尚在重途，還慮變端，今擬存液清宣法，候政。</p>
<p>金石斛（先煎，沖，三錢）　天花粉（三錢）　川象貝（去心，各二錢）　香青蒿（一錢五分）　炒銀花（一錢五分）　赤茯苓（四錢）　冬桑葉（一錢五分）　連翹殼（二錢）　車前子（炒，三錢）　嫩前胡（一錢五分）　炒兜鈴（一錢五分）　鮮荷葉（一錢五分）　鮮茅根（五錢）　鮮蘆根（一兩）　加六一散（二錢，絹包）</p>
<p>徐先生，四月初三日。溫邪挾濕，經已及旬，嘔惡雖止，身熱不退，口乾欲飲，咳嗽氣急，大便溏，小溲短，脈象弦滑而數，舌苔薄膩而黃，尖絳。此乃濕鬱化熱，熱邪蘊於氣分，漫布三焦，肺失清肅之權，又乏輸化之職，刻已胸膺白㾦隱隱，未能透達，熱邪錮結，陰液漸漸暗耗，仍慮增變莫測，再擬存陰清泄法，以候明哲政。</p>
<p>鮮石斛（鐵皮，三錢）　炒銀花（一錢）　光杏仁（炒，二錢）　淡豆豉（三錢）　連翹殼（二錢）　炒兜鈴（一錢五分）　香青蒿（一錢五分）　淡黃芩（酒炒，一錢五分）　川象貝（去心，各二錢）　嫩前胡（一錢五分）　赤茯苓（三錢）　車前子（炒，三錢）　加鮮白茅根（一兩）　六一散（絹包，三錢）</p>
<p>徐先生，四月初四，星若診。春溫挾濕化熱，旬日有汗不解，神志乍清乍渾，囈語如同夢語，寤寐不安，煩悶氣短，口渴不多飲，飲不解渴，胸膺晶㾦，見而紅疹未顯，唇燥耳蒙，目畏陽光，大腑泄而小便不利，脈弦數，右寸關濡滑尺細，舌尖干少液根黃，苔糙，痰稠，咳少不能吐。夫溫本無形之氣，濕屬黏滯之邪，首先犯肺，肺主一身周行之氣，氣分膹郁，熱灼陰液，內竄心胞絡中，熱迫則泄，因肺與大腸相表裡也，參此色脈，勢屬危篤，明當小滿，正濕盛之時，防其呃逆，風動痙厥不測。急擬存液清熱，兼以利濕調氣治之，未審然否，尚祈高明政之。</p>
<p>鐵皮鮮石斛（淡豆豉三錢同打，三錢）　牛蒡子（三錢）　炒赤芍（一錢五分）　淡竹葉（二錢）　辰拌茯神（三錢）　白蔻仁（四分）　青蒿梗（一錢五分）　路路通（四個，去刺）　竹瀝製半夏（一錢五分）　化橘紅（水泡，一錢）　象貝母（去心，三錢）　黑山梔（一錢五分）　加活水蘆根（六錢）</p>
<p>另用玉雪救苦丹一粒，純鉤鉤三錢，煎湯代水，均兩次化服。</p>
<p>徐先生，四月初五日。昨投玉雪救苦丹，佐以存液清熱之品，服後囈語稍減一二，舌乾略潤，紅疹仍然未顯，白㾦晶瑩，身熱旬又一天，神志時清時渾，胸悶懊憹，微咳痰黏，氣粗吸短，寤寐不寧，耳鳴失聰，口渴引飲不多，煩躁，頰朱唇燥，目畏光明，腑泄不已，小溲短赤。今按脈濡滑而數，寸弦，苔尖絳，根中黃糙。此係溫邪挾濕，先由氣分而傳營中，清竅被蒙，邪郁少泄，迷霧中州，則上下之氣化不順，殊屬危險，防明十二關津，慮有呃逆風動，痙厥不測。勉宗前法，佐清絡熱，可否之慮，尚祈高明政用。</p>
<p>鐵石斛（淡豆豉三錢同打，三錢）　朱茯神（三錢）　湖丹皮（一錢五分）　朱連翹（一錢五分）　化橘紅（水泡，一錢）　川鬱金（一錢）　炒赤芍（一錢五分）　黑山梔（一錢五分）　淡竹葉（三錢）　白蔻仁（打，五分）</p>
<p>加活水蘆根八錢，去節水、鮮石菖蒲六分、竹瀝製半夏一錢五分</p>
<p>徐先生，四月初六日。病涉十二天，津津汗出，身熱仍然未解，神志略清，囈語稍減，腑泄漸已，而小便仍不暢利，胸悶煩懣，呼吸短促，耳聾怕煩，唇燥且朱，咳少痰稠，時有懊憹，夜臥欠安，納穀不化，白㾦肌布，紅疹微見二三，脈左弦滑，右濡數，尺仍不耐重按，舌尖絳而無液，中黃邊白。此係春溫挾濕，入夏而發，兼情懷抑鬱，氣分之熱，漸漸延入營中，薰蒸於胞絡，致語多心景，肺氣膹郁，不能輸化，則呼吸短促，即《經》言寒傷營，熱傷氣之明旨也。但燎原之險，漫言無虞，恐三日內呃逆痙厥不測，蒙招復診，勉擬存液達邪，冀肺氣舒而絡熱解，惟聊塞責耳，是否仍候高明政之。</p>
<p>鐵皮石斛（鮮生地三錢，二味同打，四錢）　天竺黃（一錢五分）　川鬱金（一錢）　陳膽星（五分）　象貝母（去心，二錢）　朱茯神（三錢）　黑山梔（一錢五分）　化州橘紅（一錢）　玉桔梗（三分）　朱燈心（廿寸）　方通草（一錢）</p>
<p>徐先生，四月初七。連投存液清熱之品，神志略清，津液未回，白㾦稍化，紅疹未透，胸悶窒塞，氣機不順，上逆而促，寤寐不寧，囈語仍有二三，唇燥齒乾，耳聾，咳少，痰唾白沫，大腑溏，小溲不多，脈弦滑數，重按少神，尺濡細，舌尖干絳，根中灰糙，咽紅無液。此係邪熱，化燥內陷劫津，擾及手厥陰經，清竅被蒙，脾陽失運，肺失宣化，致津液無以上承，勢屬棘手，防慮明交兩候，風動痙厥不測，再擬前法，可否之處，仍請高明政用。</p>
<p>原枝鐵皮石斛（鮮生地五錢同打爛，四錢）　元參心（一錢）　朱茯神（四錢）　辰砂拌連翹心（一錢五分）　川貝母（去心，三錢）　炒赤芍（一錢五分）　水泡化州橘紅（一錢五分）　川鬱金（一錢）　片通草（一錢）　加布包碧玉散（二錢）　黑山梔（一錢）　淡竹葉（二錢）　朱燈心（二十寸）</p>
<p>另用濂珠粉一分，吹喉嚨。</p>
<p>徐先生，四月初八日。春溫挾濕，入夏而發，身熱十有四天未解，白㾦半回，紅疹瘳瘳未化，神志稍清，寤寐欠安，動則咳嗽氣急，痰黏白沫，水渴略減，唇燥耳聾，齒浮，左脈弦滑，右寸關濡數，沉候之少神，腑泄溺少。夫溫與濕合，蒸鬱而矇蔽，清竅為之壅塞，乃濁熱害清也，第舌尖雖潤，色絳根灰，咽紅津液未回之象。適今兩候緊關，殊屬危險，防風動痙厥不測，仍擬存液清化治之，候高才政。</p>
<p>原枝鐵皮石斛（鮮生地八錢同打，四錢）　元參心（一錢）　天花粉（二錢）　辰砂拌連翹心（二錢）　黑山梔（一錢五分）　川鬱金（一錢）　甜西瓜翠（布包，二錢）　炒赤芍（一錢五分）　白通草（一錢）　加碧玉散（包，三錢）　川貝（去心，二錢）　淡竹葉（一錢）　乾荷蒂（三個）</p>
<p>徐先生，四月初九日。表熱雖有解意，然津液未回，燥火未降，疹㾦化而未清，胸宇不舒，氣粗，動則咳而喘促，耳聾唇燥，神志略清，寐仍欠寧，脈弦濡數，重按無力，舌尖仍剝，苔稍潤而灰未化。此係爐煙雖熄，灰火未消之候，漫言無虞，虛人善變，防慮生糜喘急不測，宜養陰清肺為主，是否以候高才政之。</p>
<p>原枝鐵皮石斛（先煎沖，四錢）　生西洋參（佛手炭八分同燉沖，七分）　元參心（一錢五分）　辰砂拌連翹心（一錢）　朱拌茯神（三錢）　肥知母（二錢）　捲心鮮竹葉（十六片）　川鬱金片（八分）　鉤藤鉤（後下，三錢）　活水鮮蘆根（去節，六錢）　炒西赤芍（一錢五分）　川貝母（去心，三錢）</p>
<p>（案154）介翁先生，四月十三日。陰液略回，邪火尚未清徹，神志漸清，近三日寤寐不安，耳稍聰而頭眩，煩仍不耐，大腑溏泄不一，脈弦小數，小為邪退，數為餘熱，動則咳甚，肋脅引痛，痰黏兼涎，兩足時腫，舌膩已化，尖絳亦淡。此係病後元氣未復，濕痰未化，脾失建運，肺失清肅，虛人易變，宜慎起居，節飲食，錄方以請調，候高才政。</p>
<p>元米炒西洋參（七分）　陳青蒿（一錢五分）　炒黃川貝（去心，二錢）　炒香扁豆皮（二錢）　橘紅絡（一錢五分）　宋製半夏（一錢五分）　帶皮雲茯苓（三錢）　朱茯神（三錢）　朱拌連翹（一錢五分）　硃砂安神丸（包，三錢）　川石斛（三錢）　朱拌燈心（二十寸）　加白蔻（打，五分）　佛手（一錢）</p>
<p>（案155）菊兄，二十五年六月二十一日，陳椿壽診。暑濕、食積交阻中州，腹痛後重，紅白痢不爽，小溲短赤，兩腿痠乏，身熱形凜，頭脹，舌苔黃膩，左右脈弦數而滑。防淹纏，姑先通因通用，即候高見。</p>
<p>生白朮（三錢）　生枳實（三錢）　香烏藥（一錢五分）　小川連（八分）　制川郁（一錢）　廣藿梗（三錢）　廣木香（一錢）　元明粉（一錢）　生錦紋（三錢）　枸橘梨（酒炒，三錢）　光杏仁（開，四錢）　鮮佛手（三錢）　加帶葉蘇梗（三錢）　雞心檳榔（打，三錢）</p>
<p>另用木香檳榔丸四錢，分二三次開水送下。</p>
<p>菊兄，六月二十二日。昨進攻下法，紅白痢稍爽，十去三四，頭脹松而表退，中焦尚屬固結，小溲短赤，脈數，舌膩。以前法增損，候政。</p>
<p>生白朮（三錢）　單桃仁（打，三錢）　生錦紋（三錢）　廣木香（一錢）　光杏仁（三錢）　元明粉（一錢五分）　生赤芍（一錢五分）　生蔞仁（打爛，一錢五分）　生枳實（三錢）　尖檳榔（三錢）　生歸尾（二錢）　小川楝（六分）　廣陳皮（後入，三錢）　鮮佛手（四錢）　另磨沉香（一二分，沖服）</p>
<p>菊兄，六月二十三日。進以苦寒攻下之法，紅白痢爽，不過二三次，以後則仍然口渴唇燥，舌上脫液，用力太猛，至氣傷而液涸也，脈象較昨滑大減，而數尚不馴。以攻下之中參養胃生津法。</p>
<p>生於術（一錢五分）　粉丹皮（一錢）　生知母（三錢）　金石斛（先煎，二錢）　生白芍（一錢五分）　生錦紋（三錢）　光杏仁（三錢）　花粉片（三錢）　元明粉（一錢五分）　雞檳榔（三錢）　生歸尾（二錢）　單桃仁（三錢）　鮮蘆根（二支）　新會皮（後入，二錢）　碧玉散（包，二錢）　香連丸（一錢五分，分二三次開水吞服）</p>
<p>（案156）菊坪姑丈大人，荷月二十四日，清河衡山診。素體濕痰，寒暑挾食，交阻腸胃，而成便痢赤白後重，腹痛氣滯不暢，肌熱暮甚，脈滑數右盛，舌垢膩尖絳。症屬重候，防慮增變不一，擬調氣疏化即請尊裁。</p>
<p>炒香豉（三錢）　臺烏藥（一錢五分）　小青皮（一錢）　制川樸（八分）　焦楂炭（三錢）　枳實炭（一錢五分）　煨木香（五分）　建曲炭（四錢）　雞內黃（炙，一錢五分）　花檳榔（切，一錢）　豬赤苓（二錢）　佛手炭（一錢）　保和丸（包，四錢）</p>
<p>菊坪姑丈大人，荷月二十五日。始由胃陽受寒，暑濕夾食，蘊阻腸胃，而成便痢，後重腹痛，氣滯不暢，胸欲泛，畏寒肌熱，恙今七天，脈弦數，右部稍變緩，舌根膩尖絳。症勢非輕，防其增變，錄擬調氣化滯，仍請尊裁。</p>
<p>制川樸（八分）　煨木香（六分）　瓜蔞殼（三錢）　炒香豉（三錢）　小青皮（一錢）　枳實炭（一錢五分）　建曲炭（三錢）　粉豬苓（三錢）　臺烏藥（二錢）　山楂炭（三錢）　福澤瀉（一錢五分）　佛手炭（一錢五分）　保和丸（包，五錢）</p>
<p>菊坪姑丈大人。荷月二十六。連擬調氣疏化之劑，痛痢稍緩，惟腰間覺冷氣，氣撐腹痛，夜寐不安，神疲自汗，胃氣呆滯，脈形濡數，舌黃邊絳。恙情積滯漸化而脾腎大虧，氣不運化，茲宗前法，更入培土之品，當否，即請尊裁。</p>
<p>焦白朮（一錢）　白扁豆衣花（各，一錢五分）　川斷肉（炒，一錢五分）　川石斛（四錢）　焦山楂炭（三錢）　辰茯神（三錢）　煨木香（五分）　淨大腹皮（三錢）　福澤瀉（一錢五分）　炙青皮（一錢）　製厚朴（五分）　佛手炭（六分）　加酒製陳艾絨（五分）</p>
<p>菊坪姑丈大人，六月二十七日。痛痢傷脾，肝陽亦為擾動，濕滯氣分，滿腹不舒，痛勢如舊，甚則肢冷自汗，夜難安寐，腰間仍覺冷氣，胃鈍少納，脈象濡細而數，重按少神，舌黃糙。症情頗重，防其增變不一，錄方仍請主裁，暨高明政。</p>
<p>土炒白朮（一錢）　大腹皮（淨，二錢）　辰茯神（四錢）　川石斛（五錢）　炒香扁衣（二錢）　福澤瀉（一錢五分）　左金丸（包，六分）　煨木香（五分）　姜半夏（一錢五分）　新會皮（炒，一錢五分）　川鬱金（一錢）　九孔子（去刺，二錢）　炒荷蒂（四枚）　淮小麥（三錢）</p>
<p>菊坪姑丈大人，荷月二十八日。恙痢旬余，傷及脾土，運行失宣，肝陽不潛，時欲嘔逆，腹痛稍緩，仍重便痢，積少糞多，脈濡數，舌黃糙。當防增變，候尊裁。</p>
<p>川石斛（五錢）　仙露半夏（一錢五分）　帶皮苓（四錢）　淮小麥（三錢）　左金丸（八分）　九孔子（去刺，二錢）　福澤瀉（一錢五分）　新會皮（炒，一錢五分）　陳青蒿（一錢五分）　川通草（一錢）　滑石末（一錢五分）　川鬱金（一錢）　炒扁衣（一錢五分）　焦荷蒂（四枚）　糯稻根（三錢）</p>
<p>菊坪姑丈大人，荷月二十九日。經治來矣，痢疾腹痛減而未止，肝陽亦未潛藏，以致時欲氣撐噯逆，胃尚呆鈍，後重氣滯仍然。此係脾虛少運，濕注下焦，脈濡數，舌黃糙，邊絳，防慮變遷，錄方呈政。</p>
<p>陳蒿梗（一錢五分）　金鈴皮（一錢五分）　姜山梔（一錢五分）　青鹽半夏（一錢五分）　左金丸（八分）　九孔子（去刺，二錢）　川通草（一錢）　帶皮雲苓（四錢）　川鬱金（一錢）　淮小麥（三錢）　川石斛（四錢）　糯稻根鬚（三錢）　益元散（絹包，二錢）　建澤瀉（一錢五分）</p>
<p>菊坪姑丈大人，巧月初一日。恙情半月，便痢雖減未止，腹痛時緩時甚，神情頗乏，自汗津津，脈濡滑，舌黃糙略潤。症勢較前雖緩，脾陽大傷，運行無權，納少宣化，諸怡養叨致反復，茲宗前方出入，即祈尊裁。</p>
<p>金釵石斛（先煎，三錢）　川楝子（炒，一錢五分）　炒扁衣（一錢五分）　陳青蒿（一錢五分）　青鹽半夏（一錢五分）　新會皮（一錢五分）　川鬱金（一錢）　左金丸（包，八分）　帶皮雲苓（三錢）　九孔子（去刺，二錢）　姜山梔（一錢五分）　淮小麥（三錢）　加益元散（包，三錢）　白蒺藜（去刺，三錢）</p>
<p>菊坪姑丈大人，七月初二日。經治來矣，恙勢雖減而氣尚不運，當臍腹痛，則自汗畏寒，神疲乏力，脈尚弦滑，舌苔漸潤。是肝木橫逆，脾虛氣滯，仍宗前法，候尊裁。</p>
<p>金釵石斛（先煎，三錢）　川楝子（一錢五分）　細青皮（一錢）　瓜蔞殼（二錢）　青鹽半夏（一錢五分）　左金丸（八分）　路路通（去刺，二錢）　川鬱金（一錢）　炒香扁衣（一錢五分）　陳青蒿（一錢五分）　白蒺藜（去刺，三錢）　益元散（包，三錢）　加鮮荷梗（尺許，去刺）</p>
<p>菊坪姑丈大人，七月初三日。經治來矣，種種見端是屬佳兆，惟脾陽運行失宣，氣滯腹痛，神疲無力，脈濡緩，舌黃遍絳。仍宗前法，即候尊裁。</p>
<p>金釵石斛（三錢）　川楝子（一錢五分）　左金丸（八分）　香青蒿（一錢五分）　土炒白朮（一錢）　炙青皮（一錢）　福澤瀉（一錢五分）　炒扁衣（一錢五分）　青鹽半夏（一錢五分）　瓜蔞殼（二錢）　粉豬苓（三錢）　熟生苡米（各一錢五分）　益元散（包，三錢）　鮮荷梗（尺許）</p>
<p>菊坪姑丈大人，七月初四。恙勢雖減而運行無權，樞機鈍遲，以致腹痛便溏，積未能止，胃納少化，脈濡滑，舌薄遍絳漸潤。仍宜培土調氣，兼理濕熱，以候尊裁。</p>
<p>原枝金石斛（先煎，三錢）　小青皮（一錢）　左金丸（包，八分）　香青蒿（一錢五分）　青鹽製半夏（一錢五分）　金鈴子（炒，一錢五分）　粉豬苓（三錢）　福澤瀉（一錢五分）　土炒白朮（一錢五分）　臺烏藥（醋炒，一錢五分）　炒扁衣（一錢五分）　杭菊炭（一錢五分）　加益元散（絹包，二錢）　鮮荷梗（尺許，去刺）</p>
<p>菊坪姑丈大人，七月初五日。痛痢恙後未能盡止，惟近日胃納漸佳，納後仍覺少運，腰間時冷，脈滑軟左弦，舌薄遍絳。錄擬培土調氣，即請尊裁。</p>
<p>原枝金石斛（三錢）　金鈴子（炒，一錢五分）　小青皮（一錢）　戊己丸（絹包，一錢）　土炒白朮（一錢五分）　白沙蒺藜（去刺，各一錢五分）　烏藥（醋炒，一錢五分）　陳青蒿（一錢五分）　青鹽半夏（一錢五分）　炒扁衣（一錢五分）　杭菊炭（一錢）　建澤瀉（一錢五分）　加益元散（絹包，三錢）</p>
<p>（案157）菊坪老妹丈，七月初二日，清河楊道人懸擬方。貴體向來有火有濕痰，下虛上實之質，今歲厥陰司天，肝木易動，春夏以來，天時陰晦多雨，為天之郁，為地之濕。人身即一小天地，獨犯其不正之氣，兼以食滯不化，清濁混淆，腹位居中，得坤土之氣，升心肺之陽，降腎肝之濁，《內經》雲水竅不利多屬胃病，胃先受病，而脾失輸化，為之腸澼，經醫治以來，痢止邪去，仍然腹痛，甚則攻至中脘，牽引腰部，寒冷顯見，陰虛於下，陽於上，濕痰氣滯阻於中，清不升而濁不降，恐延休息痢。古人治痢有通澀二門，初痢宜通，久痢宜澀，又分氣血。見前方脈滑而數，左部見弦，病在氣分，再利其氣，和其中，使上下通泰，通則不痛矣，然不列痢症通塞之法，舌遍薄絳，中仍黃，大凡表邪已卻，裡氣未和。以避風忌葷，並生冷桃瓜果茹為要，懸擬數味，未識然否，候裁政。</p>
<p>米炒白朮（一錢五分）　陳艾絨（酒炙，五分）　川萆薢（炒，三錢）　奎白芍（吳茱萸，二分生拌炒，一錢五分）　枸橘梨皮（一錢）　雞金炭（三錢）　赤茯苓（三錢）　炒麥芽（三錢）　炒半夏曲（一錢五分）　藕節炭（三錢）　萊菔子（炒，一錢五分）　花檳榔（一錢）　沉香化滯丸（布包同煎，三錢）　越鞠丸（二錢，臨臥開水吞）</p>
<p>（案158）老太太，石皮弄周菊坪宅，廿六年十一月初三日，清河衡山診。氣陰既虧，寒入衛分，肌熱微微，胸悶拒納，咳嗆痰黏，脈細數，舌薄，防其變，候裁政。</p>
<p>冬桑葉（一錢五分）　川浙貝（去心，各二錢）　川鬱金（一錢）　炒佳蠶（一錢五分）　光杏仁（三錢）　大力子（炒，三錢）　細蘇梗（一錢五分）　新會皮（炒，一錢）　生苡仁（四錢）　九孔子（去刺，二錢）　竹二青（水炒，二錢）　枇杷葉（去毛，三錢）</p>
<p>老太太，十一月初四日診。高年氣陰既虧，寒襲胃分，身熱暮甚，咳嗆頻頻，脈濡微數，舌薄。防其變遷，候裁政。</p>
<p>冬桑葉（一錢五分）　九孔子（去刺，二錢）　雲茯苓（三錢）　冬瓜子（三錢）　嫩白薇（一錢五分）　川鬱金（一錢五分）　新會皮（炒，一錢）　杜蘇子（炒，三錢）　光杏仁（三錢）　川浙貝（去心，各一錢五分）　炒佳蠶（一錢五分）　加蜜炙枇杷葉（刷毛，三錢）　竹茹（二錢）</p>
<p>老太太，十一月初五日診。高年氣陰兩虧，外感而起，身熱入暮則甚，咳嗆亦然，胃呆，煩躁，脈滑，舌膩遍絳。勢屬淹流，防虛生變，候裁政。</p>
<p>杜蘇子（三錢）　桑白皮（一錢五分）　冬桑葉（一錢）　炒佳蠶（一錢五分）　嫩白薇（一錢五分）　大力子（炒，一錢五分）　新會皮（蜜炙，一錢）　川貝母（去心，二錢）　九孔子（去刺，二錢）　浙茯苓（三錢）　輕馬勃（一錢）　竹二青（水炒，二錢）　加蜜炙枇杷葉（三錢，刷毛包）</p>
<p>老太太，十一月初六日診。高年氣陰兩虧，邪戀肺胃，身熱未解，至暮咳嗆神疲，脈滑而數，舌絳。防慮增變不一，候高裁政。</p>
<p>經桑葉（一錢五分）　浙貝母（去心，三錢）　川通草（一錢）　嫩前胡（二錢）　炒嘉蠶（一錢五分）　生苡米（四錢）　鼠黏子（炒，二錢）　新會皮（蜜炙，一錢）　金佛草（一錢五分）　甜杏仁（帶皮不開，三錢）　甜瓜子（蜜炙，三錢）　枇杷葉（去毛蜜炙，三錢）</p>
<p>老太太，十一月初七日，破衣龍道人接診。高年營衛素虧，木少涵金不伐木，而咳嗽氣促，喉干口燥，納穀不宣，神疲怠倦，脈促數，舌乾少津而絳。此陰液內耗，症為沉重，防慮虛中生變，以候高才政。</p>
<p>金石斛（三錢）　川貝母（去心，二錢）　炒枳殼（一錢）　桑白皮（蜜炙，二錢）　朱茯神（三錢）　光杏仁（開，三錢）　川郁（一錢）　化橘紅（鹽水炒，八分）　玉蘇子（蜜炙，三錢）　加鹽水炒竹二青（二錢）　蜜炙甜瓜子（三錢）</p>
<p>老太太，十一月初八日診。高年素體操勞，心血早虧，木火刑金，受火克而咳嗽痰稠，神情疲倦，納穀不香，脈數少神，舌少液。冬令非宜，勢屬棘手，防慮虛中生變，以候高明政。</p>
<p>金石斛（三錢）　川鬱金（一錢）　南花粉（一錢五分）　川貝母（去心，二錢）　朱茯神（三錢）　肥知母（鹽水炒，一錢五分）　橘紅絡（各一錢五分）　款冬花（蜜炙，三錢）　光杏仁（去皮尖開，三錢）　加青鹽半夏（一錢五分）　香穀芽（三錢）</p>
<p>老太太。高年營衛兩虧，水枯木賊，金受火克，頓嗽痰黏，神疲乏力，氣不下續，胃呆，脈細弱，舌燥根黃厚膩，氣火上逼於肺，肺葉較柔。夫痰，津液所化，隨氣升降，殊非淺視，防慮喘急增變不一，宜潤肺生金化痰，錄方候高才政。</p>
<p>金石斛（三錢）　川貝母（去心，二錢）　杜蘇子（蜜炙，二錢）　杜橘紅（蜜炙，一錢）　朱茯神（三錢）　廣鬱金（一錢）　空沙參（一錢）　陳蒿子（蜜炙，一錢）　光杏仁（開，三錢）　加鹽水炒竹茹（二錢）　蜜炙冬瓜子（三錢）</p>
<p>老太太，十一月初十日診。高年氣血兩虧，木火凌金，咳嗽頓作，口渴痰黏，納穀不宣，脈弦細數，舌色糙黃。症屬棘手，防慮喘急之變，候高才政。</p>
<p>金石斛（三錢）　真川貝（去心，三錢）　蜜炙紫菀（一錢五分）　空沙參（一錢五分）　朱茯神（三錢）　川鬱金（一錢）　蜜蘇子（三錢）　杜橘紅（一錢五分）　海浮石（三錢）　款冬花（炙，三錢）　加雪梨膏（四錢）</p>
<p>老太太，十一月十一日方。高年久咳，肺陰不足，痰多神疲，胃納不宣，口乾，脈濡細無力，舌糙黃。防慮喘厥，宜存液清肺，候高才政。</p>
<p>炙沙參（二錢）　鹽水炒橘紅（一錢五分）　玉蘇子（蜜炙，三錢）　辰茯神（三錢）　竹瀝製半夏（一錢五分）　焦山梔（二錢）　扁金藿（三錢）　蜜炙枇杷葉（去毛，三錢）　川貝母（去心，二錢）　生穀芽（三錢）　蜜炙款冬花（三錢）</p>
<p>老太太，十一月十二日。高年久咳，乍寒乍熱，肺陰火耗，痰多氣促，日輕夜重，脈弦滑數，尺細。素來畏藥，宜清肺滋陰，候政。</p>
<p>陳蒿子（一錢五分）　福橘絡（一錢五分）　廣炙橘紅（一錢五分）　川貝母（去心，二錢）　金石斛（三錢）　川鬱金（一錢）　蜜炙蘇子（三錢）　仙半夏（一錢五分）　海浮石（二錢）　枇杷葉（去毛蜜炙，三錢）　款冬花（二錢，蜜炙）</p>
<p>老太太，十一月十五日。高年久咳，肺虛金不伐木，木橫土虛，脾弱，頓食著寒，腹痛便薄，里結氣滯不暢，脈滑弦虛，舌薄。適逢春節，防慮增變候政。</p>
<p>米炒於術炭（八分）　炒建曲（一錢五分）　朱茯神（三錢）　炒香扁豆衣（二錢）　炒白芍（一錢五分）　炒陳皮（一錢）　炙黑甘草（三分）　雞金炭（三錢）　煨木香（五分）　米炒乾荷蒂（三枚）　川貝母（去心，二錢）　炒麥芽（三錢）</p>
<p>老太太，十一月十六日。高年氣血兩虧，咳嗆雖減，痰吐不暢，神疲乏力，脈滑細軟，舌刺略潤。宜養陰利肺，候政。</p>
<p>金石斛（三錢）　生蛤殼（打，四錢）　天花粉（二錢）　杜蘇子（蜜炙，三錢）　真川貝（去心，二錢）　朱茯神（三錢）　光杏仁（打，三錢）　粉丹皮（一錢五分）　香穀芽（三錢）　枇杷葉（去毛蜜炙，三錢）　款冬花（蜜炙，二錢）</p>
<p>（案159）姑母大人，十一月初三日衡山診。冬令陽失潛藏，外感襲於肺胃，身熱八天，勢成冬溫之象，咳嗆氣升，臥不著枕，頭疼骨楚，坐臥不寧，喉間痰鳴，胃納不思，煩躁唇乾，脈形濡數尺軟，舌黃布膩。症屬下虛外感，痰氣上逆，殊為險重，防其喘急變端，先與疏解順氣，候高明政。</p>
<p>旋覆花（絹包，二錢）　杜蘇子（炒，三錢）　光杏仁（三錢）　嫩白前（去心，一錢五分）　萊菔子（炒，一錢五分）　海浮石（一錢五分）　冬桑葉（一錢五分）　白芥子（蜜炙，五分）　粉甘草（四分）　橘紅絡（各一錢五分）　鼠黏子（蜜炙，二錢）　款冬花（炙，一錢五分）　加象貝（三錢，去心）</p>
<p>姑母大人，十一月初四日。外感入於肺胃，兼之冬不藏陽，痰火上逆，咳嗆氣急，臥不著枕，肌熱稍緩未解，喉間痰鳴，氣促如舊，便行帶薄，脈尚濡數，舌黃膩。恙勢雖屬平穩，而痰火尚盛，防慮喘急變端，錄方即請明政。</p>
<p>大力子（炒，三錢）　萊菔子（炒，二錢）　白芥子（蜜炙，五分）　嫩白前（炙，一錢五分）　薄橘紅（一錢）　川鬱金（一錢）　全福花（絹包，二錢）　冬桑葉（一錢）　生苡仁（四錢）　炒天蟲（一錢五分）　光杏仁（打，三錢）　浙貝母（二錢）　加蜜炙款冬花（二錢）</p>
<p>姑母大人，十一月初五日。營分素虧，陽明有餘，熱盛生痰，近感外邪，肺氣不順，身熱起伏，旬日未退，咳嗆痰稠，夜寐不能著枕，脈形濡細而數。恙非輕淺，防慮喘急增變，茲宗前法，候高明政。</p>
<p>牛蒡子（蜜炙，三錢）　萊菔子（一錢五分）　冬桑葉（一錢五分）　紫菀茸（蜜炙，一錢五分）　白芥子（蜜炙，五分）　光杏仁（打，二錢）　旋覆花（絹包，二錢）　仙半夏（一錢五分）　浙貝母（去心，三錢）　朱茯神（三錢）　薄橘紅（一錢）　粉甘草（四分）　加蜜炙款冬花（三錢）</p>
<p>姑母大人，十一月初六日。連擬順氣疏化之劑，昨晚咳嗆雖然如舊，而痰吐略爽，氣機稍和，是肺降漸有權衡，外感尚未清徹，身熱退而未和，脈濡數，舌膩。尚防變端，候高明政。</p>
<p>川石斛（四錢）　白芥子（蜜炙，五分）　象貝母（去心，三錢）　紫菀茸（蜜炙，一錢五分）　仙半夏（一錢五分）　辰茯神（四錢）　萊菔子（炒，一錢五分）　薄橘紅（一錢）　粉甘草（四分）　福澤瀉（一錢五分）　牛蒡子（炒，三錢）　旋覆花（絹包，二錢）　加水炒竹二青（二錢）</p>
<p>姑太太，十一月初七日。左升太過，右降不及，傷風引動肺逆咳嗽，痰多稠黏氣促，臥不著枕，胃呆，灼熱心煩，脈弦細滑，舌黃膩。殊非淺視，防慮喘急，擬降氣調中，以候高才政。</p>
<p>旋覆花（絹包，二錢）　光杏仁（開，三錢）　朱茯神（四錢）　代赭石（煅，三錢）　川貝母（去心，二錢）　化橘紅（鹽水炒，一錢五分）　杜蘇子（蜜炙，三錢）　海浮石（二錢）　生蛤殼（打，四錢）　川鬱金（一錢）　加蜜炙枇杷葉（三錢，刷毛，包）</p>
<p>姑太太，十一月初八日。傷風半月，肺氣不降，咳嗽，痰吐不暢，氣急神疲，胃呆妨臥，脈滑數，舌黃。症非泛視，防其變遷，候高才政。</p>
<p>全福花（絹包，二錢）　代赭石（煅，三錢）　冬桑葉（一錢五分）　杜蘇子（蜜炙，三錢）　光杏仁（打，三錢）　朱茯神（四錢）　象貝母（去心，三錢）　薄橘紅（鹽水炒，一錢）　仙半夏（一錢五分）　加嫩白前（一錢）　枇杷葉（刷毛，蜜炙，三錢）</p>
<p>姑太太，十一月初九日。《內經》云，人稟二氣已生者，有清有濁，陽之清者為元氣，陽之濁者為火氣，陰之清氣為精液，濁者為痰涎。病今半月，濁火不降，津液化為痰涎而咳嗽，肌熱起伏，心嘈妨納，陽不交於陰，神不守舍而寤寐不安，氣不續而喘促，脈左弦細，右部滑數，舌黃。系脾有伏濕生痰。時珍曰，脾無濕不生痰，故脾為生痰之源，肺為貯痰之器。時屆嚴冬，擬調氣存液，勿致內損臟腑即妥，錄方仍候裁政。</p>
<p>蜜炙桑白皮（二錢）　杜蘇子（蜜炙，三錢）　海浮石（三錢）　蜜炙鼠黏子（三錢）　光杏仁（打，三錢）　栝蔞子（三錢）　鹽水炒橘紅（一錢）　川貝母（去心，二錢）　朱茯神（四錢）　蜜炙枇杷葉（刷毛，包，三錢）　款冬花（蜜炙，二錢）　黛蛤散（布包，三錢）</p>
<p>姑太太，十一月初十日。肺不清肅，咳嗆半月，痰多氣促，胃不和則臥不安，脈滑弦細，舌色中黃，嘔惡。防慮增變，宜清肺降氣，候高才政用。</p>
<p>全福花（絹包，二錢）　杜蘇子（蜜炙，三錢）　法半夏（一錢五分）　代赭石（煅，三錢）　光杏仁（打，三錢）　朱茯神（三錢）　象貝母（去心，三錢）　嫩白薇（一錢）　枇杷葉（去毛，蜜炙，三錢）　加玫瑰露（一兩）　炒竹茹（三錢）　佛手炭皮（一錢）</p>
<p>姑太太，十一月十一日。咳今半月餘，肺氣不降而有灼熱，氣急痰多黏，夜臥不安，納穀不思，脈滑數少神。殊非輕視，防慮喘急之變，以候高才政。</p>
<p>蜜炙桑葉（二錢）　川象貝（去心，二錢）　水獺肝（五分）　朱拌茯神（三錢）　川鬱金（一錢）　川石斛（三錢）　蜜炙蘇子（三錢）　杏仁泥（三錢）　紫菀茸（蜜炙，一錢五分）　加生蛤殼（打，四錢）　玫瑰露（一兩）　炒竹茹（二錢）</p>
<p>姑太太，十一月十二日。肝氣略平，咳痰氣促，夜臥不安，脈虛舌黃。宜平氣逆，候政。</p>
<p>水獺肝（五分）　光杏仁（三錢）　川貝母（去心，三錢）　川鬱金（一錢）　朱燈心（廿寸）　炒枳殼（一錢五分）　杜蘇子（蜜炙，二錢）　朱茯神（四錢）　臺烏藥（鹽水炒，一錢五分）　竹二青（鹽水炒，二錢）　款冬花（一錢）</p>
<p>姑太太，十一月十四日。肝氣略和，肝陽未平，咳嗆不止，吐痰嘔惡，胃呆口苦，神疲乏力，目圈覺酸，脈滑細。宜清陽止咳，候政。</p>
<p>嫩白薇（八分）　杜蘇子（蜜炙，三錢）　經霜桑葉（一錢五分）　光杏仁（打，三錢）　朱茯神（四錢）　杭池菊（一錢五分）　川浙貝（去心，各二錢）　川鬱金（一錢）　江枳殼（一錢五分）　款冬花（蜜炙，二錢）　香穀芽（三錢）</p>
<p>姑太太，十一月十六日。肺失清肅，痰多咳嗆，入暮則甚，納穀不宣，衛氣不和，脈滑弦細。宜清肅上元，候政。</p>
<p>炙沙參（二錢）　化橘紅（一錢五分）　京杏仁（打，三錢）　青蒿子（蜜炙，一錢五分）　川貝母（去心，二錢）　姜半夏（一錢五分）　朱茯神（三錢）　川鬱金（一錢）　桑葉（一錢五分）　款冬花（蜜炙，二錢）　香穀芽（布包，三錢）</p>
<p>（案160）胡小姐，八月廿日。秋溫伏暑，病今十有二天，身熱午後則甚，神迷如醉，疹㾦隱約未透，胸悶氣急，納穀不思，得飲泛惡，脈濡細數而弦，舌尖絳，根膩，遍身骨楚，少腹乍痛，經行即止。此係邪伏不達，熱傳血室之象，勢屬危篤，防三天內風動痙厥不測，勉方即俟高才政用。</p>
<p>酒炙柴胡（五分）　淡豆豉（三錢）　南楂炭（三錢）　西香茹（五分）　炒大力子（三錢）　絲瓜絡（一錢五分）　炒枳殼（一錢五分）　老蘇梗（一錢五分）　朱拌茯神（三錢）　加姜炒竹茹（三錢）　茺蔚子（三錢）</p>
<p>另用玉雪救苦丹（一粒）　純鉤鉤（三錢）　歸尾（一錢五分）　西河柳（切，二錢）　澤蘭（一錢）</p>
<p>四味煎湯代水化丸，均兩次服。</p>
<p>小姐，八月廿一日。邪傳血室，少腹陣痛，痛甚症塊上升，氣塞肢麻發厥，神志時清時渾，胸悶欲泛，疹㾦色暗，膚紫唇青，脈亂，舌尖絳。此熱陷厥陰，勢屬危篤，防慮汗脫不測，勉方以候高才政用。</p>
<p>淡豆豉（三錢）　川楝子（一錢五分）　大荊芥（一錢五分）　制香附（二錢）　炙延胡（一錢五分）　朱茯神（三錢）　兩頭尖（布包，四分）　茺蔚子（三錢）　小茴香（炒，四分）</p>
<p>另用囫圇蘇梗（一根）　囫圇烏藥（一個）　囫圇枳實（一枚）　囫圇檳榔（一枚）　直沉香（六分）</p>
<p>五味用熱水各磨四五分光景，白開水沖服。</p>
<p>小姐，八月廿二日。病涉兩候，邪伏不達，熱傳血室，小腹痞塊升痛，甚則肢楚痙厥，膚乏華光，脘腹膨脹，小溲不利，氣粗吸短，脈遲濡數，舌尖絳根白膩。此係邪襲厥少兩陰經之象，況衝任之脈隸於陽明，陽明熱鬱不達，殊為棘手，防今明兩日厥脫不測，勉方以候高才政。</p>
<p>淡黃芩（川桂枝三分同炒，一錢五分）　淨桃仁（五分）　炒枳實（二錢）　制川樸（一錢）　瓜蔞實（三錢）　姜山梔（一錢五分）　兩頭尖（一錢五分）　加枳實導滯丸（包，三錢）　推車客（四隻）</p>
<p>小姐，八月廿三日。大腑雖通未暢，中脘未舒，少腹陣痛，痛甚則痞升厥逆，四肢麻冷，唇青，面出油汗，肌乏瑩光，白㾦密布，色暗，脈形濡細而數，舌根膩尖絳，齒焦口臭。恙今半月，身熱未解，病中適值經行，兼以情懷抑鬱，邪不外達，熱乘血室，殊屬危篤，防有厥脫不測。勉擬疏解和營，兼通腑為先，錄方是否，祈請高才政。</p>
<p>黑豆卷（三錢）　元明粉（五分）　大腹皮（淨，三錢）　淨桃仁（七分）　火麻仁（三錢）　淡黃芩（川桂枝三分同炒，一錢五分）　製大黃（後下，三錢）　炒枳實（一錢五分）　全瓜蔞（炒，三錢）　兩頭尖（五分）　加推車客（五隻）　姜竹茹（二錢）</p>
<p>小姐，八月廿五日。痙厥漸平，熱仍未解，病今十有七天，神志時清時渾。</p>
