<header data-type="book">
<h1>幼科驚搐門</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>樓擁千</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>先生讀書善得，間能通微理，析毫芒，靡不融徹。嫌稟質薄，甫弱冠，便求延年之術，篤志岐黃。《醫學綱目》，乃祖遺書也。既熟復久，爰自諸名家外，及一知半解、成言備採者，不問簡帙完缺，悉鉤其元，輒多創穫，名遂遠近播，男婦大小諸科並精，日來就醫以百十計。初不憚煩，亦不索一文錢，並好施捨，豫貯藥石，不時需用，貧無資者，恣取給焉。然交遊廣，酬應不支，肩輿往迎，率悵然返。蓋祝者十而詛者百，不能順也。余於先生為姻舊，札邀再四，來或不果，私竅憾之。庚戌冬，余舊居停，延至武林，偶得暢敘，緣疏闊久，坐談輒竟夕。卻憶二十年來，終歲不得一覿面，頗未盡識先生之為人，至是乃始知————先生所得者，心學也。余亦遂有出世之想，學長生恐不能，願得長不死。先生愀然曰：「不死安得長？夫人初生之日，即始死之年也。吾願以所輯《幼科驚搐門》一種，付梓布施，作活命慈航何如？」余笑曰：「施送陰騭文，只堪補壁　。此安知不覆醬瓿乎？然先生自此不死矣！」</p>
<p><u>時乾隆辛亥夏日年家眷同學弟王紹典拜題</u></p>

<h1>一、驚搐總括</h1>
<p>驚搐一也，而症不一，有本症，有兼症，有餘症，有類症。症之弗辨，而混以施治，鮮不誤矣。欲其治之無誤，在於辨之必明：孰為真，孰為假，孰為陰，孰為陽，孰為順，孰為逆。真假判焉，陰陽分焉，順逆見焉。夫然後症之不一者，或易治，或難治，而自非不治，皆可得而次第施治矣。輯驚搐總括。</p>

<h2>搐有真假</h2>
<p>搐有真假，此乃錢氏論百日內發搐之症也。真者不過二三次必死，假者頻發不為重。真者內生驚癇，假者外生風冷。蓋由血氣未實，不能勝任以致發搐。真搐不治。其口中氣出熱者，假搐也，治宜發散，瀉青丸去大黃，加天麻、全蠍。</p>

<h2>搐有陰陽</h2>
<p>搐有陰陽。肝主風，木也，飄驟急疾，莫甚於風。心主驚，火也，暴烈飛揚，莫甚於火。驚與風固有辨，而火與木則皆陽，故病在心肝。火資風勢，風資火威，風火相煽而發搐者，謂之急而屬陽也。脾胃者，土也，沉重遲滯，莫甚於土。而脾土為至陰之屬，故病在於脾而發搐者，謂之慢而屬陰也。肝常有餘，有餘則瀉而損之；脾常不足，不足則補而益之。</p>
<p>按錢氏云：病潮熱，寅、卯、辰時發搐，身壯熱，目上視，手足動搖，口內生熱涎，項頸強急，此肝旺也。潔古云：潮熱於寅、卯、辰時，是木旺之位。當先補腎水以制心火，地黃丸；瀉肝以止其搐，瀉青丸。</p>
<p>因潮熱，巳、午、未時發搐，心神驚悸，目上視，白睛赤色，牙關緊急，口內潮涎，此心旺也。潔古云：巳、午、未時，火旺之位。而熱搐者，心熱也。宜導赤散、涼驚丸或木通散，以瀉心肝之火，後以地黃丸補之。</p>
<p>因潮熱，申、酉、戌時不甚搐而喘，目微斜視，身體似熱（一云身熱如火），睡露睛，手足冷，大便淡黃水，是肺旺也。潔古云：申、酉、戌時，金旺之位，而肝木強，法當補脾。恐被木之賊所克害，當瀉心肝以控其勢，而後補肺。瀉心肝，宜木通散；補脾，宜錢氏異功散；治肺，小阿膠散。</p>
<p>因潮熱，發搐在亥、子、丑時者，此腎用事之時也。不甚搐而臥不穩，身體溫壯，目睛緊斜視，喉中有痰，大便銀褐色，乳食不消，多睡不醒。潔古云：皆因大病之後，脾胃虛損，多有此疾。故宜補脾涼心：補脾，異功散；涼心，涼驚丸。</p>
<p>夫寅、卯、辰、巳、午、未，陽之位也；申、酉、戌、亥、子、醜，陰之位也。錢氏、潔古以晨夕分陰陽，而證治因之，故心肝之搐多涼瀉，脾虛之搐多溫補也。</p>

<h2>搐有順逆</h2>
<p>搐有順逆。男搐左視左，女搐右視右；男眼上竄，女眼下竄；男握拇指出外，女握拇指入里；男引手挽左直右曲，女引手挽右直左曲——凡此皆順，反此則逆。亦有先搐左而後雙者。但搐順則無聲，搐逆則有聲。其指紋彎弓，入里者順，反外者逆，出入相半者難痊。又陽病陰脈，陰病陽脈，亦為反。其證不順者，《活幼心書》順搐散可取用之。</p>

<h2>治有次第</h2>
<p>治有次第。方其熱盛之時，腮紅面赤，兩目如怒，直視不轉者，即急驚之先兆也。宜當歸龍薈丸，或導赤散加燈心、薄荷，以去其熱；次服抱龍丸以安其神，則風自不作矣。如吐瀉不止之時見搖頭斜視，以手抹人，昏睡喜臥，額上多汗，其脈沉細，即是慢驚之候——若待已發，則難為力——調元湯加肉桂主之；或用參苓白朮散以補脾，琥珀抱龍丸去枳殼、枳實，加黃耆以平肝，則慢驚風不作矣。此其候宜預防者也。至於卒然昏絕、牙關緊急之時，輕者可用掐法以醒之，重者用嚏驚散，吹鼻中嚏出。如不出，則用霹靂散，或灸中衝穴，必醒；不嚏不醒，不可治也。次用開闢散擦牙，涎出自開，然後用藥。若慢驚，則急灸百會穴。法詳本症。</p>

<h1>二、本症</h1>
<p>看是驚症，混以驚治，與看似驚症，誤以驚治，其害人一也。故必明乎其為本症，而後可以治驚。急驚慢驚，其本症也。乃以治慢者治急，以治急者治慢，其害人將每同，則雖本症中亦有辨。輯本症。</p>

<h2>急驚</h2>
<p>急驚之候，壯熱痰壅，竄視反張，搐搦顫動，牙關緊急，口中氣熱，頰赤唇紅，便結飲冷，脈洪而數。此肝風甚，而心火從之。木生火從前來者為實邪。實則瀉之，宜瀉青丸以瀉肝之風，導赤散以瀉心之火，此治急驚無上之法也。</p>
<p>此症由小兒內蓄實熱，失於清利，熱極生風。故不待聞聲及驚，亦自發搐，即東垣所謂「氣動驚」。大忌防風丸，治風以辛散之藥必不救。蓋外來之風可散，內熱之風不可散也。與聞大聲或大驚而發搐者，有內因外因之別，幼科混同立論，今揭而出之。治詳兼症。</p>
<p>凡急驚抽搐，聽其自發自止，切不可令人緊抱束系之，恐他日有痼疾，以其氣不流通故也。</p>
<p>凡急驚發時，牙關緊閉不醒者，急用艾炷灸兩手大指頭少商穴，在甲旁合而灸之即醒，而後施治法。</p>
<p>凡急驚痰氣喘急，用定喘湯加竹瀝治之。</p>
<p>凡急驚痰在咽喉之中，壅塞沾滯，藥食不得入者，宜吐而出之，此「在上越之」之治法也。</p>
<p>急驚手撮目閉，口張囟陷，魚口氣促，吐沫噴藥，昏睡不語不啼，口噤絕不飲食，遺尿遺屎，面赤如朱，皆不治之證。</p>
<p>灸法　先以兩手兩大指相合於甲縫中處，燒三壯；又以兩手中指相合於甲側縫中處，燒一二壯。即醒者可治，不知痛者不治。</p>
<p>又法　凡小兒驚風、中惡、客忤，以及痰閉、火閉、風閉，乍然卒死，即以大指掐其人中穴，病輕者一掐即啼哭而醒；倘不應，掐合谷；又不應，掐中衝；若又不應，其病至重，以艾炷如蘿蔔子大，於中衝穴灸之，火到即活。蓋中衝一穴，為厥陰心包絡之脈所出，其經與少陰心臟相通。此火一燃，則心中惕然而覺。其不知痛者，百不救一。</p>
<p>吐法　用殭蠶、牙皂炙焦，等分，碾細末。每服少許，以土牛膝根自然汁灌之即吐。吐後進下辰砂膏效。或但用土牛膝根取自然汁灌之，其涎自吐。</p>
<p>辰砂膏　下痰甚妙。</p>
<p>辰砂（研細，水飛，三錢）　硼砂　馬牙硝（各錢半）　元明粉（二錢）　全蠍（酒洗去毒）　珍珠（各一錢）　麝（一字，即二分半）</p>
<p>各為極細末，合勻，用油單紙包起，自然成膏。每用一粒許。治諸驚，薄荷湯下；胎驚，乳汁調棗湯下。</p>
<p>定喘湯　治急驚痰氣喘急。</p>
<p>南星（制）　梔子仁（炒）　石膏　杏仁泥　薄荷　赤苓</p>
<p>水煎，入竹瀝服之。</p>

<h2>慢驚</h2>
<p>慢驚之候，多由吐瀉。因致氣微神緩，昏睡露睛，痰鳴氣促，驚跳搐搦，或乍發乍靜，或身涼，或身熱，或肢體逆冷，或眉唇青赤，面色淡白，其脈遲緩，或見細數，此脾土敗肝木乘之，故慢驚為難治也。宜速救真元，調元湯加肉桂，大劑頻服之，此東垣之神方，誠治慢驚之秘法也。</p>
<p>小兒慢驚多因病後，或因吐瀉，或因誤服藥餌，損傷脾胃所致。然亦有脾胃素弱，或受風寒，則不必病後及誤藥者，總屬脾胃虛寒之症。故張氏云：治慢驚之法，但當速培元氣，即有風痰之類，皆非實邪，不得妄行消散，再傷陽氣以致不救。</p>
<p>凡慢驚，脾土微虛，微瀉而內不寒者，可平補之，宜六神散、四君子湯或五味異功散。</p>
<p>脾腎俱虛而臟平無寒者，宜五福飲。又陰血生於脾土，宜四君子湯加當歸、棗仁。</p>
<p>脾氣陽虛而寒者，宜理中湯。痰多者，六君子湯加炮姜。脾腎陰陽俱虛而寒者，唯理陰煎為最妙。</p>
<p>脾腎虛寒之極，或吐瀉不止者，宜附子理陰煎。再甚者宜六味回陽飲，或四味回陽飲，量兒大小與之。</p>
<p>脾腎虛寒泄瀉不止者，宜胃關煎。</p>
<p>凡慢驚元氣虧損，而至昏憒者，急灸百會穴。若待下痰不愈而後灸之，則元氣脫散而不救矣。</p>

<h1>三、兼症</h1>
<p>兼症者，因他症而發為驚症，或因他症之失治而轉為驚症也。驚只急、慢兩症耳，而症之兼者未易一二數。於是有症既兼，治亦宜兼；於是有症雖兼，治不必兼，致不同矣。輯兼症。</p>

<h2>臍風發搐</h2>
<p>甫出胎七日前，啼哭不止，口咂不乳，甚則發為風搐，名曰臍風。此胎毒也，不治。詳臍風門。</p>

<h2>月內發搐</h2>
<p>兒在腹中，妊婦調養乖常。或因忿怒，或緣驚撲，或挾風邪，以致有傷於胎。自七日後及一月內，即病發搐者，此胎驚也。其症壯熱翻眼，握拳咬牙，身腰強直，涎潮嘔吐，搐掣驚啼，腮縮囟開，或頰赤，或面赤，或眼合（凡胎驚眼合，不可誤作慢驚，妄用溫藥）。視其眉間氣色，黯而青黑者不治，赤而鮮碧者可治；虎口指紋反出外者不治，曲入里者可治。以至聖保命丹，金銀燈心湯下東垣安神丸。又方取豬乳，細研辰砂、牛黃、麝，各少許，調抹口中，其效如神。搐不止者，是謂胎癇不治。</p>

<h2>變蒸發搐</h2>
<p>此亦胎病。其逢蒸期，熱甚發搐者，只用導赤散、瀉青丸，治之效。若每逢蒸期作搐者，病自內生，不急治必成癇疾，宜秘傳三聖散，頻頻細與服之，以不發為度。</p>
<p>三聖散</p>
<p>白滑石（飛，兩半）　甘草（二錢半）</p>
<p>和勻作三份：一份用青黛一錢和勻，名安魂散，早用淡竹葉湯下；一份用硃砂飛，一錢和勻，名鎮心散，午用燈心湯下；一份用苦梗研細末和勻，名定魄散，晚用蘇葉湯下。</p>

<h2>驚恐發搐</h2>
<p>小兒元氣素實，痰熱客於心間，因聞非常之聲，見異類之物，或爭鬥推跌，致驚其神，痰壅氣逆，遂成驚搐，即東垣所謂外物驚也，其症發過即如常。若無他症，或一日一發，或間日一發，宜先以理痰丸順氣開痰，後用安神丸調之。</p>
<p>有元氣本不足，因大驚卒恐，致傷神志，精神憒亂而發搐者，以收復神氣為主。張景岳曰：「小兒忽被大驚，最傷心膽之氣。」《內經·口問篇》曰：「大驚卒恐，則氣血分離，陰陽破散，經絡厥絕，脈道不通，陰陽相逆，經脈空虛，血氣不次，乃失其常。」此《內經》概言受驚之病有如此，矧小兒氣血，尤非大人之比。若大驚卒恐，則其神氣失散，憒亂不堪，尚何實邪之有？斯時也，收復正氣，尤恐不暇，顧可復為清散邪？即如硃砂、琥珀之類，不過取其鎮墜之意，亦非救本之法。今幼科諸書，皆以大驚之證，例作急驚，誤亦甚矣！不知急驚由於風熱，慢驚由於脾腎之虛，皆不由驚而得。而此以大驚致困者，本乎心膽受傷、神氣陡離之病，收復神氣為主，宜秘旨安神丸、團參散、獨參湯之類，加金銀等物煎服之。</p>
<p>秘旨安神丸　原治心血虛而睡中驚惕，並治大驚卒恐。</p>
<p>人參　棗仁　白茯神　半夏（各一錢）　當歸　白芍　橘紅（各七分）　五味子（七粒）</p>
<p>上為細末，蜜丸芡實大，每服一丸，生薑湯化下。</p>
<p>團參散　治心虛血熱，自汗盜汗，並治大驚卒恐。</p>
<p>人參　當歸（等分）</p>
<p>為細末。用豬心一個，切作三片。每以藥末一錢，用豬心一片，煎湯調服。</p>
<p>獨參湯　治氣虛氣脫，神散魂離，以此亟救，「元陽草還丹」之名，誠不愧也。</p>
<p>人參不拘多少，同炒米、煨薑、紅棗濃煎湯，徐徐服之，實有起死回生之力。</p>

<h2>外感發搐</h2>
<p>外感風寒，失於發散，熱盛發搐者，其症發過略醒，須臾復發。先用導赤散吞下瀉青丸，以清心肝之熱，後以抱龍丸治痰，保命丹除風，緩緩調之。大忌腦、麝、金石鎮墜之藥，引邪深入臟腑，千中千死。</p>
<p>錢氏云：「傷風發搐，因傷風后得之，口中氣出熱，呵欠頓悶，手足動搖，大青膏主之。小兒生來怯弱者，多此病也。」潔古云：「證同大人傷風寒痰疾之類，當辨有汗無汗，陰症用大青膏，陽症用小續命湯，開發則愈也。」</p>

<h2>內傷發搐</h2>
<p>內傷飲食，失於消導，熱甚發搐者，其症發過略醒，醒多啼哭，須臾復發，不思乳食。先用陳皮麥芽湯吞下五色丸，或三黃枳朮丸，推去宿食，則痰自除；復用辰砂五苓散，或抱龍丸調之。錢氏云：「傷食發搐，因傷飲食後得之，身體溫，多唾，多睡，或吐，不思乳食而發搐，當先定其搐，搐退，白餅子下之，後服安神丸。」潔古云：「傷食發搐，謂不因他症，忽然而搐者，由飲食過度，致傷脾胃，故兒多吐多睡，不思乳食。脾胃既虛，引動肝風則發搐。當先定其搐，如羌活、防風煎湯下瀉青丸，後用白餅子下其食，漸漸用調中丸、異功散養其氣。」</p>
<p>凡治急驚風，除傷食一症外，不可遽用下藥，必先問其大小便何如。若小便清，大便通利，其邪在表，只用導赤散加防風，或瀉青丸去大黃，加全蠍作湯服之，邪去風自退，後以辰砂五苓散調之。不可犯麝香，恐引邪入里。若小便赤澀，大便閉結，此邪在裡，可用五色丸漸漸下之，或三黃枳朮丸，及膽導法。不可用巴豆及溫熱藥大下之，恐搐虛熱不消也。如大便潤者，雖有食亦忌下，先用辰砂五苓散，或琥珀抱龍丸定其搐，後以消食藥調之。</p>
<p>三黃枳朮丸</p>
<p>黃芩（二錢）　川連（酒洗）　大黃（酒煨）　神麯（炒）　陳皮　白朮（各一錢）　枳實（五分）</p>
<p>為末，湯浸蒸餅丸，百沸湯下。</p>

<h2>中暑發搐</h2>
<p>中暑惟夏秋有之。其症初起，身熱自汗，面垢，唇舌皆赤，氣出如火，口中大渴，大小便赤澀，熱傷神氣，煩躁不安，忽焉昏不知人，反張搐搦，其脈則沉細而數，此為暑風。由煩躁過甚，血不榮筋所致，不可作風治，宜清暑涼心，下痰安神，卻暑丹主之。</p>
<p>有夏月卒倒，角弓反張，不省人事，手足搐搦，亦有不搐搦者，宜黃連香茹飲，加羌活一錢灌服。虛人多汗，再加黃耆、人參各一錢。又法治夏月卒倒，不省人事，先用吐法，即《內經》「火鬱發之」之義。吐醒後方可用清暑之劑調之。其虛而不可吐者，則清暑，用黃連香茹飲增減，或辰砂益元散。亦有挾食挾氣而致者，更宜詳審。小兒多驚痰與食滯，當以脈證為主，惟脈虛者方可作暑治。</p>
<p>卻暑丹</p>
<p>五苓散（一兩）　黃連（末）　甘草（末。各二錢）　硃砂（飛，一錢半）</p>
<p>和勻，蜜丸如芡實大。每服一丸，麥冬湯煎下。</p>

<h2>霍亂髮搐</h2>
<p>乾霍亂，其病在胃，神氣變亂，心腹絞痛，不吐不瀉，邪上下不得出，所以氣逆痰聚而發搐。死在須臾，真惡候也。速宜瓜蒂散，或淡鹽湯探吐之，俟其吐後，乃用藿香正氣散以和其胃氣。</p>
<p>即絞腸痧也。其症忽然心腹絞痛，不可忍，上不得吐，下不得瀉，痰壅腹脹，手足厥冷，六脈沉細或伏，不急治之必死。若見喘而搐者，法在不治。</p>
<p>吐法　用瓜蒂、豬牙皂、硃砂共為末，每少許，以淡豆豉湯服之即吐。</p>
<p>藿香正氣散</p>
<p>藿香　紫蘇　白芷（各一錢）　厚朴　白朮　廣皮（去白）　桔梗　半夏（各四分）　茯苓　炙草（各一錢）</p>
<p>加枳實六分，為細末。薑汁調下。</p>

<h2>吐瀉發搐</h2>
<p>有先病吐瀉後發搐者，因吐瀉不止，脾虛生風，乃慢驚也，宜參苓白朮散主之。如吐瀉未止，又加發搐者，宜參苓白朮散加肉果霜作丸服。如先發搐後吐瀉者，因病時多服利驚之藥，脾胃受傷所致，宜補澀之，方同上。</p>
<p>按此，須准較陰陽虧盛，淺深若何。如脾虛而內不寒者，可平補之，調元湯加芍藥，或參苓白朮散、四君子湯、五味異功散選用。若遍身、四肢、口鼻俱冷，手足微掣，昏睡露睛者，宜速救真元，以免竭脫，調元湯合小建中湯，大劑頻服之，或六君子湯加薑、桂，理中湯加附子亦可。若脾胃伏熱，身熱大渴，吐瀉數次，即發搐搦者，此症夏月最多。屢見時醫率用腦麝丸丹，作驚風治，竟致不救。法當兼清暑熱，用參、朮、芍藥以補脾中氣血，麥冬、黃連以清金制木，或辰砂益元散，或黃連香茹飲，增減治之自愈。</p>

<h2>痢疾發搐</h2>
<p>有痢未止而發搐者，因誤服辛熱止澀之劑，致積毒內鬱而熱甚，故發搐也。宜瀉青丸加黃芩、黃連，蜜丸，甘草湯下。其痢止後發搐者，作脾虛治，東垣調元湯加白芍主之。若搐後變痢，是因風邪傷脾入里，故便膿血也，先用小柴胡湯加大黃下之，後以加減龍薈丸調之。</p>
<p>加減龍薈丸</p>
<p>當歸　川芎　廣皮　青皮（各一錢）　黃連（酒炒）　黃芩（酒炒。各錢半）　山梔　木香（各五分）　人參　炙草（各一錢）</p>
<p>為末。另用阿膠三錢，溶化作丸，陳米湯下。</p>

<h2>瘧疾發搐</h2>
<p>每日熱時發搐，瘧止搐止者，此不必治搐，但治其瘧，瘧止則搐自止。初起宜用劫藥：風瘧，小柴胡湯；暑瘧，白虎湯；食瘧，平胃散；痰瘧，用檳榔吐出其痰即愈。久瘧，宜補脾平肝，加減平瘧養脾丸主之。先搐後瘧者，此肝傳脾也，宜養脾丸；先瘧後搐者，此脾虛生風也，治同慢驚。</p>
<p>陳氏云：「按《內經》謂『十二經皆有瘧』。究其所因，大要不離乎少陽膽經。夫瘧之不離乎少陽，猶咳嗽之不離乎肺也。蓋凡寒熱往來，總為少陽所主，早能和解表裡，分理陰陽，則瘧邪霍然而散。由其誤認為驚風，輕施鎮墜，以致邪正激搏，營衛遲留，陽欲入里，陰內阻之，陰欲出表，陽外遏之，少陽欲升不得升，太陰欲降不能降，乃致神情憒亂，臨瘧而搐，宜清脾飲解之，其搐自止。」</p>
<p>平瘧養脾丸</p>
<p>黃耆　人參（各一錢）　白朮　當歸　白茯苓　半夏曲　黃芩　廣皮　常山　鱉甲（醋炙）　使君肉　柴胡　草果　厚朴　神麯（炒。各七分）　肉桂（五分）　青皮（六分）　炙草（五分）</p>
<p>神麯糊丸。陳米湯下。</p>

<h2>疫病發搐</h2>
<p>凡遇地方疫癘流行之時，小兒作熱，即是時疫。乍有眼目上竄，角弓反張，手足搐掣，不可誤認驚風，但以時疫治之自愈，宜服太極丸。</p>
<p>鄭奠一云：「小兒受時疫，悉與大人同。而時見驚搐，類於驚風，誤治多死。用大人治疫清解諸法，減小劑料治之。小兒不能言，遇當下證，既不知其譫妄，復難驗其舌苔，則當察其唇之赤而燥，即是下症。此幼科之要訣也。」</p>

<h2>咳嗽發搐</h2>
<p>此其病在肝肺，亦當視其新久衰旺若何。如初得咳嗽時，痰盛氣逆，連聲不止而發搐者，宜丹溪薄荷湯，或葶藶丸，蘇葉湯下，利去其痰，咳止搐亦止矣。惟久嗽發搐，面青而光，唇白如練，咳而喘促，此肺虛而肝木乘之也，病不可治。如無上證，身熱而渴，宜小阿膠散。或搐甚者，宜先補肺後瀉肝。補肺，阿膠散；瀉肝，瀉青丸。如搐後咳嗽，非驚痰未去，即風邪人肺也。驚痰未去，丹溪鎮驚丸；風邪入肺，人參荊芥散再發之。</p>

<h2>丹毒發搐</h2>
<p>此其病在少陽。先發丹後發搐者，毒自外入內也，不治。先發搐後發丹者，毒自內出外也，可治。內服防風升麻湯，或加減升麻葛根湯、大連翹飲，外用砭法。</p>
<p>陳氏云：「丹毒雖云風熱，而由胎毒之發者十之八九，小兒最多，方脈無此。世有丹毒發而不知者，蓋此毒發於隱密之處，倘父母不覺，遂致傷兒。大凡小兒頭面、四肢、胸背脅腋，忽有紅暈一點，漸次散開，色如錦紋，外帶黃色，即是火丹。速宜砭去惡血，內服沆瀣丹，庶不至內攻作搐。若醫者不知針砭，妄用搽敷逼毒入內，致作搐而死，每見丹毒之禍兒者比比矣。</p>
<p>加減升麻葛根湯</p>
<p>升麻　葛根　桔梗　川芎　赤芍　歸尾　羌活　柴胡　甘草</p>
<p>各等分，井水煎服。此驚丹之要藥也。</p>

<h2>瘡瘍發搐</h2>
<p>此胎毒也。由醫者不先內托解毒，誤用砒霜毒藥搽之，逼毒入內，以致瘡忽自平。亦有不因搽藥，毒自陷入而平者，其症腹脹便秘，膚無血色，目閉不開，發為搐搦，乃惡候也。速服雄黃解毒丸，升麻湯下。瘡出則吉，瘡不出加喘者死。</p>
<p>凡小兒未周歲，不問癰毒、瘡疥、丹瘤，但發搐者皆難治。因脾胃脆嫩，穀氣未實，難以藥攻也。</p>
<p>雄黃解毒丸</p>
<p>雄黃（另研）　鬱金（各一兩）　巴豆（去油炒焦，八錢）　乳香　沒藥（另研。各二錢）</p>
<p>各製為末，醋糊丸，硃砂為衣。此方治諸惡病甚妙。</p>

<h2>痘疹發搐</h2>
<p>此其病在心。初起三四日間，熱盛發搐，乃常候也。宜導赤散加辰砂調服，痘出則吉。屢搐者凶。痘正發時作搐者，錢氏涼驚丸加辰砂主之。搐不止者不治。收靨後作搐，此痘毒倒陷，雄黃解毒丸，紫草湯下。復出者吉，搐不止者凶。</p>
<p>痘稟先天胎元之毒，遇時行而發。其證初起，兩眼含淚珠如水晶，鼻氣出粗，睡中驚惕，兩耳紋現，惡熱不惡寒，是謂痘症。詳本門宜考。</p>

<h2>麻疹發搐</h2>
<p>此非比雜症，或喉中無痰，未為真搐。當分時論吉凶，如見於發出未盡之時，俱屬無害，不可稱為驚風，而用風藥。治宜疏托，少加清涼，使疹出盡，驚惕自釋。若見於已出沒之後，身熱不除而作搐者，斯為險候，宜導赤散加人參、麥冬，送安神丸。或清上焦之火與痰，並利小便亦佳（小便清者可治，短少者不可治。）</p>
<p>導赤散</p>
<p>生地（半錢）　木通（十錢）　人參　麥冬（各一錢）　甘草（五分）　竹葉（三十片）</p>
<p>水煎服。</p>
<p>安神丸</p>
<p>川連　當歸　麥冬　茯神　甘草（各五錢）　辰砂（一兩）　冰片（二分半）</p>
<p>上為細末，蒸餅和豬心血搗勻，為丸米粟大。每服十丸。</p>
<p>當歸養營湯　治疹後渾身壯熱，未至羸瘦，但多搐搦，煩躁不寧。是熱在心脾二經也。此方與黃連安神丸，間而服之，無不效者。</p>
<p>當歸　川芎　生地　麥冬　梔子　木通　甘草　淡竹葉　燈心</p>
<p>便秘加大黃。水煎服。</p>
<p>黃連安神丸</p>
<p>川連　當歸　龍膽草（各二錢）　石菖蒲　茯神（各一錢）　全蟲（五隻）</p>
<p>上為末，蒸餅搗豬心血，丸如粟米大，辰砂為衣。每服十丸，燈心湯下。</p>
<p>加味四物湯　治疹後時發壯熱，煩躁不寧，搐搦驚悸，神昏志亂者。此陰血耗散，餘毒入肝而傳於心也，用此養血安神。</p>
<p>當歸　川芎　地黃　芍藥　麥冬　棗仁　茯神　石菖蒲　龍膽草　黃連　甘草　辰砂　竹葉　燈心</p>
<p>水煎服。或為末，豬心血蒸餅丸服。</p>

<h1>四、餘症</h1>
<p>搐搦大勢，雖云稍解，而兼夾雜症，尚弗盡除，將必支蔓難圖，實乃本根未拔也。斯更宜條分縷析，有要有倫。夫是以原始要終，其難其慎，深懼養虎，敢憚畫蛇，輯餘症。</p>

<h2>搐久舌黑</h2>
<p>搐久不止舌黑者，熱極也。內服涼驚丸，外用生薄荷煎湯洗之。轉紅者吉，仍黑者凶。</p>

<h2>搐久便秘</h2>
<p>搐久不止，大小便秘者，八正散主之。如大便只四五日不通，不可遽用利藥，宜豬膽汁導法通之。</p>

<h2>搐久神昏有痰</h2>
<p>兒病日久，其搐似止不止，神昏有痰者，此病在心，不早治，必成癇症，利驚丸主之。</p>
<p>利驚丸</p>
<p>膽草　防風　真青黛　蘆薈　膽星　鉤藤（各二錢）　鐵華粉　牙硝（各一錢）　硃砂（飛，一錢）　腦麝（少許）</p>
<p>為末，蜜丸芡實大。每服一丸，金銀煎湯下。</p>

<h2>搐時鼻衄</h2>
<p>搐時鼻衄不止者，此心肝二經之火乘肺也。宜瀉二經之火，硃砂涼驚丸主之。</p>
<p>凡急驚鼻衄者，乃陽明經中熱壅將散，從血而解也，易治。若口中吐血者，乃心血為熱迫妄行也，難治。宜犀角湯加滑石、丹皮、黃連、梔子。</p>
<p>硃砂涼驚丸</p>
<p>黃芩　黃連　山梔　連翹　桔梗　甘草　人參（各等分）　薄荷</p>
<p>水飛硃砂為衣，蜜丸芡實大。麥冬湯下。</p>
<p>犀角湯</p>
<p>犀角　防風　木通　甘草　桑白皮　茯苓（各等分）</p>
<p>水煎服。</p>

<h2>搐時失音</h2>
<p>搐時失音者，木通湯主之。</p>
<p>木通湯</p>
<p>木通　石菖蒲　防風　桔梗　真桑螵蛸　全蠍（焙）　炙草　殭蠶（各二錢半）　膽星（一錢）</p>
<p>共為末。每服二字，紫蘇三片，煎湯調服。</p>

<h2>搐後失音</h2>
<p>此因痰入心肺竅中故也。不早治必成瘖人，宜加減錢氏安神丸主之。</p>
<p>搐後失音，亦有腎怯，不能上接於陽。瘖不能言者，其候肢體羸瘦，目白睛多，或兼解顱、呵欠、咬牙等證，宜六味地黃丸加巴戟、遠志、石菖蒲等藥。</p>
<p>加減錢氏安神丸</p>
<p>黃耆（炙）　人參　歸身　川芎　麥冬（去心）　石菖蒲　木通　炙草　遠志（去心，薑汁浸，各一錢）　寒水石（錢半）</p>
<p>蜜丸芡實大。每服一丸，蘇葉三片，煎湯下。每日取豶豬心連肺處，割一半，煎湯飲之，以助藥力，久服神效。</p>
<p>又方　治痰迷心竅不語</p>
<p>薺菜，煎湯服，效。</p>

<h2>搐後目不明</h2>
<p>此肝虛也，地黃丸主之。</p>

<h2>搐後瞳斜</h2>
<p>搐後瞳斜不正者，宜人參、阿膠（糯米炒）各一錢，水一盞，煎七分，溫服，愈乃止。</p>

<h2>搐後睡眠不醒</h2>
<p>此心脾二經之邪熱未盡也，安神丸主之。</p>

<h2>搐後目動咬牙</h2>
<p>此皆由病後津液枯燥，不能榮其筋脈所致，亦有肝經風熱而生風者，當視其氣血有餘不足而治之。其日中發熱飲冷而動者，氣有餘也，用瀉青丸。夜間盜汗及睡不寧而動者，血不足也，用地黃丸。或因肝經風邪，傳於脾腎，亦令咬牙，先用柴胡清肝散，次用五味異功散、六味地黃丸。若因脾胃虛熱，用補中益氣湯，加芍藥、山梔。實熱用瀉黃散，蓋牙床屬手足陽明故也。若肝腎虛熱，用六味地黃丸。</p>

<h2>搐後唇內生瘡</h2>
<p>此心脾二經之熱也。內服洗心散，外以柏連散加硃砂搽之神效。</p>

<h2>搐後餘熱</h2>
<p>餘熱不退，當辨虛實。如壯熱、面赤、唇燥、大小便不利，此為實熱，或因服補脾之藥太早故也。宜涼驚丸，或小柴胡湯，加大黃微利之。如面㿠白，唇潤，大小便自調，此虛熱也，宜清心丸。虛而寒者，四君子湯加炮姜。</p>
<p>清心丸</p>
<p>人參　麥冬　茯苓　柴胡　防風　炙草　硃砂（飛）</p>
<p>蜜丸芡實大，金箔為衣。每服一丸，淡竹葉湯下。</p>

<h2>搐後喘咳</h2>
<p>搐後發熱喘咳者，亦宜察其虛實治之。如身熱飲水、鼻乾唇燥、脈疾有力，此熱在心肺，為實熱，宜從小便利之，寧肺散。如面㿠白，不熱不渴，此虛熱也，阿膠散主之。</p>
<p>寧肺散</p>
<p>桑白皮（炒）　葶藶（炒）　赤茯　車前　梔子（等分）　炙草（減半）</p>
<p>薑棗煎。</p>

<h2>搐後消瘦昏憒</h2>
<p>搐後肌膚消瘦，精神昏憒者，此為驚疳也，安神丸主之。</p>
<p>安神丸</p>
<p>茯神（去心）　蘆薈　琥珀　黃連　赤茯（各三錢）　膽星　遠志　甘草（湯煮洗）　蝦蟆（灰）　石菖蒲　使君肉（各一錢）</p>
<p>山藥煮糊丸，燈心湯下。</p>

<h2>搐後食少形瘦</h2>
<p>此宜補脾和中丸主之。</p>
<p>和中丸</p>
<p>錢氏異功散（一兩）　青皮　砂仁　使君肉（各一錢）</p>
<p>另取神麯作糊為丸，陳米湯下。</p>

<h2>搐後心神不寧</h2>
<p>搐後心神不寧者，宜定志丸。脾胃虛弱，參苓白朮散最佳。</p>

<h2>搐後虛腫</h2>
<p>由瘥後血氣尚虛，熱在皮膚，身面俱腫，宜萎蕤、葵子、龍膽草、茯苓、前胡各等分為末，每服一錢，水煎服。</p>

<h2>搐後癱瘓</h2>
<p>此左氏所謂「風淫末疾」是也。肝主筋，肝熱則筋弛而長，長則軟弱，手足伸而不能屈矣。肝寒則筋縮而短，短則拘攣，手足屈而不能伸矣，並宜六味地黃丸主之。拘攣者，加附子、肉桂。軟弱者，加知母、黃柏、當歸、牛膝、續斷，蜜丸服。（治法又詳癇後癱症條）</p>

<h2>搐後成癇</h2>
<p>者，痼疾，非暴病也。由小兒血脈不斂，骨氣不聚，為風邪所傷，驚怪所觸，乳食失節，停痰結癖而得之。其症卒然仆地，四肢強直，目閉或眼珠翻上不轉，口噤或有咬其舌者，口中涎出，或無涎者，面色或青或白，或作六畜聲，其狀不一，乃小兒之惡候也（急慢驚不作聲，不吐沫，與此不同）。昏暈一時，醒即如常，或旬日一發，或月一發，或歲一發。古人有「三癇」、「五癇」之名，又與急慢驚風同論，症治太多，訖無定說，遂使後學莫知適從。愚不自揣，約而斷之。所謂「三癇」，乃原其發病之因；所謂「五癇」，則敘其病發之狀也。此則因妊娠時，七情驚怖，子感母氣，生來便有是病者，名曰胎癇，不治。其由驚風既平之後，未服豁痰安神之藥，以致痰迷心竅，頓成癇症者，則當論其新久虛實治之。如年尚未久，神志清明，動作如常者可治。至於語言含糊，狀類癡呆，已無及矣。故宜治之於早。方初病搐時，便當服通竅、化痰、鎮心之劑，以除其患。倘醫者慮不及此，或其父母因兒發過便醒，任其淹延歲月，乃致頑痰膠固，為終身不治之症。每見有在水火而卒發者矣。凡症癇初起，耳後高骨必有青紋，紛紛如線，見之急為抓破，須令血出，可減其患。治癇之方，幼科所載甚多，幾無可取者，惟斷癇丸、通心丸、集成定癇丸、河車八味丸，誠治之要藥也。</p>
<p>程氏云：「癇症雖有五臟之殊，而為痰涎則一，定丸主之。既愈之後，則用河車丸以斷其根，此余頻治取驗者也。若妄意求奇，失之遠矣。」</p>
<p>斷癇丸　治諸癇屢驗如神。惟從前攻伐太過致中氣虛衰，或年深日遠，肝腎已虧者忌用，宜用後二方。</p>
<p>辰砂（研細末，水飛）　真珠（取新潔、未經鑽綴者，乳浸三日，研粉極細。不細傷人臟腑）　上沉香（紙裹，置懷中，待燥，碾之，忌火　鐵華粉研極細　礞石堅細、青黑，中有白星點。硝石、礞石等分打碎，拌勻，入坩鍋煅至硝盡，石色如金為度。若無金星者，不入藥。研末水飛）　甘遂（肉白，根作連珠，重實者良。用甘草湯、薺苨汁浸三日，其水如墨，以清為度，再麵裹煅熟）　川連　石菖蒲（一寸九節者良，去毛，微炒）　陳膽星（各六分）　茯苓（堅白，乳拌蒸，四錢）</p>
<p>共為末。別以人參二錢、白朮六錢，煎湯煮糊為丸，如芡實大。每用一丸，取豶豬心一個劈開入藥在內，線扎，長流水，炙熟取藥，研細，燈心湯下。以豬心及湯，與兒食之，三日一服。又宜常服通心丸，以通心氣。</p>
<p>通心丸</p>
<p>辰砂（研極細，水飛，四錢）　雄黃（赤如雞冠、明徹不臭者，醋浸，入萊菔汁煮乾，為極細末，水飛）　馬牙硝（各一錢五分）　真麝香（五分）　金銀箔（十五片）　揀人參（去蘆）　川連（去毛，薑汁炒）　陳枳殼（麩炒。各二錢）　川芎　茯苓（堅白，去皮，乳拌蒸。各四錢）　遠志（甘草水浸一宿，去心，炒，二錢）　白附子（炮，二錢）</p>
<p>前五味另研勻，後七味共為細末，和勻，蜜丸芡實大。每服一丸，麥冬湯下。此辰砂膏加減也。</p>
<p>集成定癇丸　治癇症從前攻伐太過，致中氣虛衰，脾不運化，津液為痰。偶然有觸，則昏暈卒倒，良久方醒。此不可見證治證。蓋病深源固，但可徐圖，惟以健脾補中為上，久服痰自不生，癇自不作矣。倘已年深日久，宜與河車八味丸間服，無不愈者。</p>
<p>官揀參（一兩，切片焙乾）　白朮（一兩二錢，切片土炒）　真廣皮（一兩，酒炒）　法半夏（一兩）　石菖蒲（五錢，取九節者切片）　白當歸（一兩，酒洗，曬切）　青化桂（五錢，去皮，薄桂不用）　杭白芍（一兩，酒炒）　白豆蔻（一兩，酒炒）　漂蒼朮（一兩，用黑脂麻拌炒）　南木香（五錢，忌火）　真龍齒（一兩，火煅，醋淬，研末，水飛過，曬乾，取五錢）　赤金箔（三十張）　鏡面砂（三錢，研，水飛，曬乾）</p>
<p>以上藥，各依分兩制過，共焙乾，研細末，篩過，煉蜜為丸，龍眼核大，硃砂為衣，貼以金箔，曬乾，瓷瓶收貯。每日早午晚各服一丸，薑湯化服。癇症未久者服此。倘系年深日久者，早服河車八味丸，午晚服此。無力備參者，不用亦可。</p>
<p>河車八味丸　治癇症年深日遠，肝腎已虧，脾肺不足，心血耗散，證候不時舉發。此證總歸於虛，不可以為有餘而攻逐之，致成不救。但以此丸早服，以救肝腎；前定癇丸午晚服，以寧心健脾生肺，則萬舉萬全，真神治也。</p>
<p>紫河車（一具，頭生男者。用白礬煎湯，揉洗極淨，薑汁同酒炙爛）　大地黃（三兩，薑汁、砂仁同酒炙）　淨棗仁（一兩，炒乾）　粉丹皮（五錢，酒炒）　宣澤瀉（五錢，鹽水炒乾）　嫩鹿茸（二兩，切片，炒乾）　白茯苓（一兩五錢，乳汁蒸曬）　懷山藥（一兩五錢，酒炒）　川熟附（七錢半，切，焙乾）　青化桂（七錢半，去皮，研）　北五味（一兩，炒乾）　大麥冬（一兩，去心，糯米拌炒）</p>
<p>上藥依法炮製，共焙極干，研細末，蜜丸龍眼核大。每早服一丸，用淡鹽湯化下，以飲食壓之；午及臨臥，各用前定癇丸一服。</p>
<p>定癇丸　男女小兒癇症，並皆治之。凡癲狂症，亦有用此藥而愈者。</p>
<p>天麻（明）　川貝（去心）　半夏（薑製）　茯神（去皮木）　茯苓（去皮，蒸。各一兩）　丹參（酒蒸）　麥冬（去心。各二兩）　膽星（九制者）　石菖蒲（又杵碎取粉）　全蟲（去尾，甘草水洗）　殭蠶（去嘴，甘草水洗，炒）　真琥珀（腐煮燈心，研。各五錢）　遠志（去心，甘草水泡）　陳皮（去白。各七錢）　辰砂（細研，水飛，三錢）</p>
<p>用竹瀝一小碗，薑汁一杯，再用甘草四兩，熬膏，和藥為丸彈子大，辰砂為衣。每服一丸，照癇分引下：犬癇（肺），杏仁五枚，煎湯化下；羊癇（肝），薄荷三分，煎湯化下；馬癇（心），麥冬二錢，煎湯化下；牛癇（脾），大棗二枚，煎湯化下；豬癇（腎），黑料豆二錢，煎湯化下。日再服。本方內加人參三錢尤佳。</p>
<p>河車丸</p>
<p>紫河車（一具）　茯神　茯苓（各一兩）　人參（五錢）　丹參（七錢）</p>
<p>煉蜜為丸。每早開水下三錢。</p>
<p>癇後癱瘓，其症手足拘攣強直，或軟弱不能舉動，目視不正，口中流涎，語言滯澀。不急治必成廢人。法當視其在左在右。在左者為血虛，其治在肝。肝主筋，血虛故筋無所養，而拘攣強直，宜補腎，地黃丸為主，乃「虛則補其母」也。在右者為痰，其治在脾。脾主四肢，痰涎流注經絡，故手足軟弱而不能舉動，宜補脾行痰，大補丸主之。</p>
<p>地黃丸</p>
<p>山藥　萸肉　熟地（各三錢）　獨活　川斷（酒洗）　白茯　丹皮　澤瀉（各二錢）</p>
<p>手不利加桂，足不利加牛膝，手足並不利俱加，各二錢。蜜丸，空心溫酒下。此地黃丸加減法也。</p>
<p>大補丸</p>
<p>炙耆　人參　白朮　白茯　炙草　當歸　川芎　白芍（酒炒）　半夏　廣皮（各二錢）　川烏（炮，三分）</p>
<p>酒糊丸，薑湯下。此十全大補湯加減法也。</p>

<h2>五、類症</h2>
<p>證與驚風本屬兩歧，小兒得之，醫者惑焉，概以驚治，十誤八九矣。夫症有不類而類，治有類而不類，差若毫釐，謬以千里。故既知有本，以存其真；更慮相兼，以防其雜；不厭盡余，以窮其變；又復推類，以辨其似也。輯類症。</p>

<h2>天釣類搐</h2>
<p>天釣者，發時頭目仰視（《綱目》云：「天釣亦驚風之症，但天釣發時，頭目仰視，驚風則無也。」又云：「角弓反張者為痙，頭目仰視者為天釣。」）壯熱驚悸，眼目翻騰，淚出不流，手足抽掣，或啼或笑，喜怒不常，甚者爪甲皆青，如祟之狀，此肝病也，但不睡臥耳。宜解利風邪，鉤藤散主之。</p>
<p>鉤藤散</p>
<p>鉤藤　茯苓（各五分）　大黃（泡，煨，二分半）　防風　硃砂（水飛）　蟬蛻　羌活　獨活　青皮　甘草（各二分）</p>
<p>為末，薑湯、蜜少許調服。此瀉青丸加減也。</p>
<p>鉤藤飲　治天釣潮熱。</p>
<p>鉤藤　人參　犀角屑（各五分）　天麻　全蠍梢　炙草（各二分半）</p>
<p>為末，薄荷湯調服。</p>
<p>又方</p>
<p>豬乳　治小兒百日內天釣神效。</p>

<h2>內釣類搐</h2>
<p>內釣者，腹痛多啼，唇黑囊腫，傴僂反張，眼內有紅筋斑血者是也。乃寒氣壅結所致，其病在肝，但不昏困耳。先是內臟抽掣，極痛狂叫，或泄瀉縮腳，內症一過，外症抽掣又來，內外交攻，極難調理（得進乳食者可治）。須分作兩項用藥：內釣，乳香膏、木香丸；外搐，鉤藤丸或鉤藤飲亦佳。</p>
<p>乳香膏</p>
<p>乳香（去油，淨，五分）　上沉香（一錢）</p>
<p>為極細末，蜜丸梧桐子大。每服二丸，用石菖蒲、鉤藤煎湯下。一方有沒藥、雞子心、檳榔各一錢，蠍梢十四個。</p>
<p>木香丸</p>
<p>乳香（去油）　沒藥（去油）　全蠍（各五分）　鉤藤　木香　舶上茴香（各一錢）</p>
<p>先將乳香、沒藥另研，次入諸藥末，和畢，取大蒜少許，研細和丸桐子大。每服二丸，鉤藤湯下，或酒下亦可。按，前二方治內釣之要藥也。</p>
<p>鉤藤丸</p>
<p>鉤藤　白茯苓（各五分）　天麻　防風　蟬蛻　羌活　獨活　青皮　硃砂　炙草（各二分半）</p>
<p>除硃砂，另研為末，水煎，調硃砂末服。</p>
<p>鉤藤飲　治小兒臟寒夜啼，陰極作躁，此方主之。驚啼加防風、天麻、蟬蛻。</p>
<p>鉤藤　茯苓　茯神　當歸　白芍　川芎　木香　甘草（各一錢）</p>
<p>為細末。每服一錢，薑棗略煎服。其或心煩熱而啼，必有臉紅舌白，小便赤澀之證，去木香，加硃砂末一錢，木通煎湯調下，或銼散煎服亦可。</p>
<p>盤腸氣者，痛則傴僂腰曲，乾啼無淚，額上有汗，是小腸為冷氣所摶也。症與內釣相似，但眼內無紅筋斑血，囊不腫為異耳，宜用和平溫氣之劑，金鈴子散主之。若面色青白，口閉足冷，下利青糞，乃寒而虛者也，宜當歸散或沉香降氣湯。又，小腸有熱，亦令腹痛啼叫，夜間益甚，其面赤唇焦，小便不通或赤，小腹脹滿者是也，當用三黃丸，人參湯下。</p>
<p>金鈴子散</p>
<p>金鈴子（去皮核，用肉，二錢）　舶上茴香（鹽水炒）　木香（各一錢）</p>
<p>為細末。每服五分至一錢，酒調服。</p>
<p>當歸散　治臟寒腹痛，面青手冷，夜啼不乳。</p>
<p>當歸　白芍　人參（各一錢）　炙草　桔梗　廣皮（去白。各五分）</p>
<p>為細末。水煎半盞，時時少與服之。又有熱痛亦啼叫不止，夜發麵赤唇焦，小便黃赤，與三黃丸，人參湯下。</p>
<p>又　當歸散　治寒邪入腎經，小腹急脹，面青手足冷者。</p>
<p>當歸　木香　肉桂　人參　炙草（各等分）</p>
<p>上為細末。薑棗湯調服，棗丸亦可。一方加破故紙（炒）、小茴香（炒）。</p>
<p>沉香降氣湯　治氣不升降，胸膈痞塞，心腹脹滿，喘促短氣，乾噦煩滿，咳嗽痰涎，口中無味，嗜臥不食。</p>
<p>香附（炒去毛，二兩半）　上沉香（一錢）　砂仁（三錢）　炙草（一錢半）</p>
<p>為細末。每服一錢，入鹽少許，沸湯點，平旦空心服。</p>
<p>三黃丸</p>
<p>黃連　黃芩　黃柏（等分）</p>
<p>為細末，蜜丸。人參煎湯調下。</p>

<h2>痙痓類搐</h2>
<p>夫發痙之候，先傷於風，又感寒濕致之。此虛極生熱，熱極生風之甚者也。傷風發熱，頭痛汗出，又自嘔逆，汗之必發痙。濕家發汗稍多亦發痙。此症項強直，腰背反張，搖頭掣瘲，口噤不語，發熱腹痛不惺惺，其狀可畏。病在足太陽經。剛痙無汗，柔痙有汗（角弓反張，一身強硬，發而終日不醒者，《內經》所謂「痙病」也。以「痙」作「痓」，蓋傳寫之誤耳。痙分剛柔，「痓」與「痙」固五分也）。其面紅眼赤，無汗惡寒，痰涎壅盛，昏憒煩渴，小便赤澀，先譫語而發者，此剛痙也。無汗當發汗。其大便滑泄，不語不渴，有汗而不惡寒，先手足冷而發者，此柔痙也。有汗當解肌。並以如聖散加減，剛痙加蒼朮、麻黃，或加葛根亦可；柔痙加白朮、桂枝；痰多加貝母、瓜蔞、枳實、紫蘇子；火盛加山梔、麥冬、花粉，去川芎、柴胡、烏藥、半夏、羌活、防風、白芷；如胸滿、口噤咬牙、大便秘者，加大黃利之。其間一證，身體壯熱，譫語口乾，手足反微寒，大便反滑泄，此剛柔不分之症。無汗麻黃葛根湯，有汗桂枝葛根湯。然後審其熱輕者，敗毒散；熱重者，小柴胡湯解之；便利不渴，汗多厥逆者，理中湯加桂枝、芍藥，痙最難痊，十救一二，過三日難治，請早圖之。</p>
<p>喻嘉言云：「小兒體脆神怯，不耐外感，壯熱多成痙病。後世多以驚風立名，有『四證八候』之鑿說，實則指痙病之頭搖手動者，為驚風之抽掣；指痙病之卒口噤腳攣急者，為驚風之搐搦；指痙病之項背反張者，為驚風之角弓反張。幼科翕然宗之，病家坦然任之。不治外淫之邪，反投金石、腦、麝之藥，千中千死而不悟也。」</p>
<p>陳氏云：「傷寒之來，豈初日便能變痙？由醫者誤治致之耳。蓋邪自太陽而入，太陽之脈，上起於頭，中行於背，下至於足，因其經脈受邪，營衛澀滯，頭項背足，皆有痛楚牽強之象。幼科見此便詫為驚風，妄行鎮墜，以致邪無所伸，而後乃變為痙。此際尚不知為誤治所致，反謂小兒固有之證，此其所以為誤中之誤也。嘗觀夏初明治小兒作搐而死，以至三五日不醒者，悉用天保采薇湯投之而愈。其子禹鑄廣傳其方，惜無一字發明，致後人莫知其義。余不辭饒舌，聊為剖露。夫天保采薇湯乃敗毒散、不換金正氣散、升麻葛根湯三方合湊者也。其中作用，以羌活走太陽而祛寒發表，以蒼、前、升、葛、陳、樸、甘、苓走陽明而除濕解肌，以芎、柴入少陽而和解表裡，以桔、半、枳、藿、芍藥入太陰而和營逐飲。或問既為三陽表藥，何以輒及太陰？曰：小兒全藉脾肺為行藥之主，此實扶中氣以托邪，非引邪入里之謂也。然其中一十七味，並非五金、八石、三黃、四神，而能於死中求活者，豈疏解之藥可以起死回生乎？由從前誤以傷寒作驚治，未經發散，以致邪閉而死。今投疏解以生者，不過為從前補其缺失，豈有奇特深義哉。第此等治法，猶為末著，若早循經治療，何至如是凶危。始效獵人之網羅四張，以庶兒一遇，苟見小兒發熱昏沉，即為分別有汗無汗，有汗者解肌散邪，無汗者開通營衛，領邪外出，神志自清，又詎有閉塞昏迷之變耶？」</p>
<p>按前諸論，皆用傷寒家法治六淫外傷元氣，形病有餘之症也。若無外感，由於血虛筋無所營而成痙者，則當用陳無擇、丹溪、劉宗厚、張子和、景岳諸家之法。庶表裡詳盡，無遺此失彼之患矣。</p>
<p>如聖散　治剛柔二痙。</p>
<p>羌活（上）　防風（中）　白芷（中）　柴胡（中）　芍藥（中）　人參（中）　當歸（中）　烏藥（中）　黃芩（中）　甘草（中）　半夏（下）　川芎（中）　</p>
<p>上用水一盞，姜三片，煎一盞。入薑汁、竹瀝溫服（加減法見上）。</p>
<p>麻黃葛根湯　治剛痙無汗。</p>
<p>麻黃　葛根　赤芍（各一兩）　豉（半合）　蔥白（三莖）</p>
<p>上銼散。每服二字，煎服。</p>
<p>按自得病以來，從未有汗者可用此方。若曾有汗過，則麻黃等劑，雖大人均在所忌。矧小兒肌膚薄，腠理疏，不勝發表，惟宜解肌。蓋不若金匱瓜蔞桂枝湯為穩也。</p>
<p>金匱瓜蔞桂枝湯　治太陽頭痛，發熱，身體頸項俱強，無汗，為剛痙。此即先因傷風自汗，汗多衣濕，濕久寒生，反而入內，是謂重感寒濕，寒濕內閉，反令無汗，故見以前諸症，此營衛閉塞也。設不用此以通其營衛，則未痙者成痙，已痙者難愈矣。</p>
<p>瓜蔞根（錢半）　桂枝（一錢）　白芍（錢半）　炙草（一錢）　生薑（三片）　大紅棗（三枚）</p>
<p>水煎熱服。營衛既和，微汗而解。</p>
<p>按，小兒發熱，身體頭項俱強，幼科誤為驚風，舍太陽陽明之邪不治，反攻其無過之心火肝風，致令外邪愈強，內氣愈弱，不至於死不止也。若早知為太陽陽明之病痙，而用此方以開通營衛，則未痙者不痙，已痙者可瘳矣。要之，小兒傷寒無汗者，不論已痙未痙，皆當以此方為主出入加減，斷無不效之理。余蓋頻用屢驗，非敢妄言以誤世也。</p>
<p>羚羊角散　治傷寒陽痙身熱，無汗惡寒，頭項強直，四肢疼痛，煩躁心悸，睡臥不得。</p>
<p>羚羊角　犀角　防風　茯神　枳殼　人參　麥冬　葛根　柴胡　熟石膏　炙草（各七錢半）　龍齒（煅，二錢半）</p>
<p>上為細末。每用三錢，水一盞，煎至半盞，去渣溫服，不拘時。</p>
<p>按，此症先由外感風寒濕氣，閉其腠理，不能開通，致內出之氣，壅滯作熱。而風寒濕客於肌肉之間，被內熱所蒸，皆化為熱，猶未入里，故以辛涼解散之。其實治熱，非治風寒濕也。嘉言謂此方治傷寒陽痙，深得清解之法。</p>
<p>桂枝葛根湯　治柔痙有汗。</p>
<p>桂枝（一錢）　白芍（錢半）　葛根（錢半）　生薑（三片）　大紅棗（三枚）　炙草（一錢）</p>
<p>水煎溫服。仍欲微似有汗，庶風邪自出，而汗孔自閉。不可令其大汗，致傷營氣。</p>
<p>海藏桂枝加川芎湯　治發熱自汗柔痙，比前方藥性微輕。</p>
<p>桂枝（錢半）　白芍（二錢）　防風　川芎　炙草　生薑（各二錢）　大紅棗（三枚）</p>
<p>水煎熱服。</p>
<p>按，此方不特治痙，凡小兒外感初起發熱，不論有汗無汗，皆宜用之，效捷桴鼓。</p>
<p>海藏柴胡加防風湯　治汗後不解，乍靜乍躁，目直視口噤，往來寒熱。此症太陽陽明已罷，邪尚未解，傳入少陽半表半裡，故以小柴胡湯，加防風和解之，不使之入里也。</p>
<p>人參（七分）　柴胡　黃芩　半夏　防風（各一錢）　炙草（五分）　老薑（三片）　大紅棗（一枚）</p>
<p>水煎熱服。</p>
<p>海藏防風當歸湯　治發汗過多，發熱，頭面搖，卒口噤，背反張者，太陽兼陽明也。宜去風養血，速救陰營，以靜勝躁也。</p>
<p>防風（錢半）　當歸　大生地（各二錢）　川芎（一錢）</p>
<p>水煎熱服。</p>
<p>海藏附子散　治傷寒陰痙，手足厥冷，筋脈拘急，汗出不止，頭搖口噤，頸項強直，此由汗多亡陽也。</p>
<p>肉桂　附子（制，各七分）　白朮（錢半）　川芎（一錢八分）　大棗（五枚）</p>
<p>水煎，溫冷服。</p>
<p>或問：天釣、內釣、盤腸、痙病，症屬何臟？何以辨之？曰：「《經》云：『身半以上，天氣主之；身半以下，地氣主之。』故天釣在上為陽，生於風熱，宜發之。內釣在下為陰，生於寒冷，宜溫之。二釣皆足厥陰肝病也。足厥陰之脈，外則與督脈同行，循脊而上，入於頭之項，所以病則目上翻，背後仰，如角弓之反張也；內則循陰器而入於小腹，所以病則小腹切痛，為囊腫也。『諸風掉眩，皆屬肝木』。故二釣皆有搐掣以驚，但天釣或哭或笑，內釣則多啼為異耳。痙病屬太陽膀胱經，上起於頭，中行於背，下至於足，與厥陰之脈下行者同，所以角弓反張之證亦相似也。但天釣有搐掣，而痙病無搐掣也。盤腸痛屬手太陽小腸經，內行於小腹，與厥陰之脈內行者同，所以小腹急痛也。但內釣有瘛瘲，而盤腸痛無瘛瘲，可辨也。」</p>

<h2>客忤類搐</h2>
<p>小兒客忤，有外因內因之別，幼科混論，今為揭明。其外因者，由兒真氣不足，神氣未充，故外邪客氣得以乘之。《經》曰：「邪之所湊，其氣必虛。」不治其虛，安問其餘？忤者，謂外來人、畜之氣，忤觸其兒之正氣也，或因生人遠來，或因六畜暴至，或抱兒戲騎牛，或父母騎驢馬遠歸，未及薰衣即抱其兒，則馬汗不正之氣從鼻而入。《經》曰：「五氣入鼻，藏於心肺。」則正氣受忤是也。其症口吐青黃白沫，水穀鮮雜，面色變異五色，喘急腹痛，反側不安，手足瘛瘲，狀類驚癇，但目不上插，神不昏亂為異耳。治宜塗囟法、搐鼻法，內服攝生飲。</p>
<p>凡客忤，其脈弦急而數，當視其口中，懸癰左右若有小小腫核，即以竹針刺潰之，或以爪摘破亦可。治以辟邪養正安神為急，上法治客忤、中惡，急作醋炭或焚降香、皂角等熏之，速服蘇合香丸立蘇。蓋心藏神，神安則五臟和而愈也。</p>
<p>中人忤　取母衣帶三寸，併發，合燒灰，和乳汁，服之效。又法，用外來生人囟上發十莖，斷兒衣帶少許，合燒灰，細末和乳，飲兒即愈。又法，取牛鼻津服之，或取牛口沫敷乳頭飲之亦佳。</p>
<p>中馬忤　取馬尾燒煙，熏兒面，以醒為度。又方，取馬口角沫塗兒口中效。</p>
<p>塗囟法（名伏龍肝散）　治客忤白虎諸證</p>
<p>灶心黃土（一錢）　明雄黃（五分）　真麝香（五釐）</p>
<p>共為細末，棗肉和勻，捏作一餅子，照囟門寬窄為樣，貼囟門上，取艾絨作小炷灸三壯。又法，用淡豆豉數合，水拌令濕搗爛為丸，如雞子大，以摩兒囟上及足心，各五六遍，畢以丸摩兒心及臍上下，行轉摩之，食頃，破，視其中，當有細毛，遂擲丸道中，病即止。</p>
<p>搐鼻法（名救苦散）　治傷風寒，頭目不清，並治客忤。</p>
<p>川芎　藿香葉　藜蘆（各三錢）　延胡索　丹皮　硃砂（研，水飛，各二錢）</p>
<p>共為末極細，以少許吹鼻中，得嚏則邪氣出矣。</p>
<p>攝生飲　治一切卒中，大小科同。</p>
<p>南星（泡）　法夏　木香　北細辛　石菖蒲　蒼朮　炙草（各一錢）　生薑（三片）</p>
<p>上作一劑，水煎熱服。</p>
<p>蘇合香丸　治傳屍骨蒸，殗殜疰忤，鬼氣，卒心痛，霍亂吐瀉，時氣鬼魅，瘴瘧，疫痢，瘀血月閉，痃癖，疔腫，驚癇，鬼忤中人，並一切氣暴之症，不省人事。以生薑自然汁化開，擦牙關，另煎薑湯調藥灌下。</p>
<p>蘇合香油（入安息香膏內）　龍腦（另研）　真麝香（另研）　薰陸香（去油，另研。各一兩）　木香　丁香　白檀香　上沉香　安息香（另為末，用無灰酒一升熬膏）　香附子　白朮　蓽茇　烏犀屑　硃砂（另研，水飛）　訶黎勒（煨，取皮，各二兩）</p>
<p>上為細末，用安息香油膏，並煉白蜜，和丸芡實大，空心沸湯下。小兒一丸，大人四丸。酒下亦可。用蠟紙裹一丸如彈子大，緋絹袋盛，當心帶之，一切邪神不敢近。去龍腦，名麝香蘇合丸，治一切邪神及胃膈噎塞，腸中虛鳴，宿食不消，餘證並同。一方無白朮，訶黎勒用訶子肉二兩。</p>
<p>至於內因客忤，為與兒嬉戲，卒以向所恐怖者搖其魂魄，或兒平日有親暱玩弄諸凡喜歡物事，戲而奪之，口不能言，一時願欲不得自遂，致令神志沮喪，睡臥昏默，寤不惺惺，不思乳食。凡若此者，宜先順其心意，內服沉香安神丸並惺惺散。</p>
<p>沉香安神丸　治內因客忤。</p>
<p>人參　上沉香　炙草　硃砂（水飛，各一錢）　川連（錢半）　白朮　廣皮　枳殼　桔梗　青礞石（煅，各五錢）</p>
<p>共為細末，蜜丸芡實大。每服一二丸，麥冬湯下。</p>
<p>惺惺散　治病時睡，不惺惺而喜睡者，此忤之微也。</p>
<p>人參　白朮　茯苓　炙草　桔梗　天花粉（各等分）　細辛（減半）</p>
<p>加薄荷三片，水煎服。得微汗妙。一方有防風、川芎。</p>
<p>一兒半歲余，忽慘然不樂，昏睡不乳。余曰：「形色無病，內傷外感之證俱無，此兒莫是有所思，思則傷脾，乃昏睡不乳也。」其父悟云：「渠原有小廝相伴，恐或為我遣彼他往，故爾神昏不食，今三日矣。」因急喚回，兒見之，嬉笑如常。又一周歲兒啼哭不止，余審視之非病也。其父母曰：「若無病何啼哭異常？」余乃問其乳母：「此兒向嘗戲玩何物？」曰：「馬鞭子」。命亟取與之。兒大笑擊人，哭自此止。此即治內因客忤法也，但順其心意，不待用藥而病已去。有不效者，仍宜服前二方。</p>

<h2>中惡類搐</h2>
<p>中惡者，小兒之危症也，比之客忤為更甚，與屍厥相同，但腹不鳴，心腹俱暖為異耳。此亦有二證為幼科所未辨者：其一，中惡毒之氣，病自外至。如老柩腐屍、淫祠古樹、冷廟枯井、敗屋陰溝，皆有惡毒之氣存焉，小兒觸之，從鼻而入，肺先受之，閉其清道，填塞胸中，忽然而倒，四肢厥逆，兩手握拳，上氣喘急者是也。其一，中惡毒之物，病自內生。如菌蕈河豚、瘟牛疫馬、自死六畜、並水雞蝦蚌之類，自口而入，腸胃受之，致令心腹刺痛，腹皮青黑，悶亂欲死者是也。二症俱宜霹靂散搐其鼻，令其噴嚏之後，毒氣以出，然後用藥。中毒氣死者，宜返魂湯。中毒物死者，用雄黃解毒丸下去之。</p>
<p>中惡卒死，當視其上唇裡弦有小核如黍米大，以針決去之。有兒忽大叫一聲而悶絕者，亦中惡，例不治。</p>
<p>霹靂散　治中惡卒死，並一切卒暴之症。</p>
<p>豬牙皂（三分）　北細辛　川芎　白芷（各五分）　躑躅花　真麝香（各半分）　雄黃（二分）</p>
<p>上為細末，而每用少許，燈心三寸長，醮藥點鼻孔內，以得噴嚏為驗。</p>
<p>返魂湯　治中惡毒之氣卒死者，此湯主之，即仲景麻黃湯也。因其毒氣閉塞肺竅，故以此開通之。</p>
<p>淨麻黃（去節，二錢）　杏仁（去皮尖，七粒）　炙草（一錢）　蔥白（三寸）</p>
<p>水一盞，煎半盞，分數次服。</p>
<p>雄黃解毒丸　（方見兼症，瘡瘍發搐）　治中惡毒之物卒死者，宜此下之。</p>
<p>辟邪膏　通治中惡。</p>
<p>降香　白膠香　上沉香　虎頭骨（微炒）　鬼臼（去毛）　龍膽草　茯苓　人參　雄黃（另研，水飛，各五錢）　真麝香（一錢）</p>
<p>上為細末，蜜丸芡實大，乳香湯化下。又令兒佩帶及燒臥內尤妙。</p>
<p>葛氏肘後方　救卒死。或先病痛，或常居寢臥，奄忽而絕，皆是中惡，以此救之。</p>
<p>取蔥黃心刺其鼻，男左女右，入六七分，小兒量度之。若使目中血出佳。扁鵲法同。</p>
<p>又方</p>
<p>以蔥葉刺耳中，鼻中血出者莫怪。無血難治，有血是候。時當捧兩手，忽放之，須臾死人自當舉手撈人，言痛乃止。又男刺左鼻，女刺右鼻中，令入六七分，大效。小兒量度之。亦治自縊死，此與扁鵲方同。</p>
<p>又方</p>
<p>令二人以衣壅口，吹其兩耳，竭則易人，互吹之，氣通則治。</p>
<p>又方</p>
<p>以管吹下部，亦令數人互吹之，氣通則活。</p>
<p>又方</p>
<p>以小便灌其面，數回即能語，此扁鵲法也。</p>

<h2>白虎類搐</h2>
<p>白虎者，流年白虎，及太歲前九位之神。兒觸犯之則不清爽，兩手輪物，目略直視，是其候也。但身不熱，手足不掣耳。宜服蘇合香丸，或至聖保命丹，俱用太陽真土（即伏龍肝，碎，煎湯送下），取龍虎相制之義，或用浴體法，更以殺鬼丸，房內燒之，使兒聞其煙。又取伏龍肝搗醋和丸，雞子大，摩兒頭及五心，佳。鄉俗婦人，以雞子一枚，遍身摩之，送埋糞地，亦攘法也。</p>
<p>殺鬼丸</p>
<p>雄雌黃（各二兩）　牯羊角　虎頭骨（各一兩）　龍骨　鱉甲　川甲　蝟皮（各三兩）　樗雞（十五枚）　川芎　白蒺藜　鬼臼　禹餘糧　東門上雄雞頭（一個）</p>
<p>上為細末，以蠟二十兩，為丸梧子大，門口房內燒之，男左女右。臂上帶一丸，可闢百鬼。</p>
<p>浴體法　治客忤中惡白虎諸症，並宜浴之。</p>
<p>川芎　蒼朮　白芷　藁本　零陵香（各等分）</p>
<p>上用長流水煎，去渣，向無風處浴之，浴後令睡片時。</p>
<p>或問：「客忤、中惡、白虎三證，何氣使然？」曰：「皆客氣也。客氣，不正之氣也。兒之主氣強者，雖有客氣，不能忤也。主氣弱者，稍有所忤，即成病矣。客忤者，病之總名也，中惡則客忤之重者，白虎則客忤之輕者也。治法皆以辟邪養正安神和胃為主。蘇合香丸，治三證之聖藥也。</p>

<h2>蟲痛類搐</h2>
<p>蟲痛乃蛔蟲攻其心而痛也，發則目直視，口噤不語，或大叫哭，口中流沫涎水，面色或青或白，手足強直者是也。但目不斜，手不搐耳。宜木香化蟲丸或雄黃解毒丸，苦楝根皮煎湯下。</p>
<p>木香化蟲丸</p>
<p>檳榔（一兩）　鶴蝨　貫眾　錫灰　乾漆（炒盡煙）　使君子肉　木香（各五錢）　輕粉（二錢）　巴豆霜　白雷丸（各二錢半）</p>
<p>上為細末，飛羅麵糊為丸，麻子大。每服一二十丸，五更米飲下，或苦楝根白皮煎湯下。</p>

<h2>馬脾風類搐</h2>
<p>馬脾風者，肺脹也。忽然胸高喘急，兩脅扇動，鼻張悶亂，嗽咳聲嗄，痰涎潮塞者是也。若不識證，不急救，死在旦夕。宜先用牛黃奪命散，下去積熱，後以白虎湯平之。</p>
<p>牛黃奪命散</p>
<p>黑白牽牛（各一兩，半生半熟）　川大黃　檳榔（各一兩）</p>
<p>上為細末。三歲兒服二錢，白湯調下，或加蜜數匙亦可，以氣平為度。涎多者，加輕粉少許。一方加木香，一方無檳榔用枳殼。</p>
<p>白虎湯</p>
<p>石膏　知母　甘草　粳米（各等分）</p>
<p>先煮石膏數十沸，再投藥米，米熟湯成溫服。</p>

<h1>六、附方</h1>

<h2>搐有真假門</h2>
<p>瀉青丸　治肝熱急驚搐搦。</p>
<p>羌活　大黃（包煨）　川芎　山梔仁　膽草　當歸　防風（各等分）</p>
<p>上煉蜜為丸，雞頭子大。每服半丸，竹葉湯同砂糖溫水化下。</p>

<h2>搐有陰陽門</h2>
<p>地黃丸</p>
<p>熟地黃（八兩）　山茱萸（酒潤，四兩）　淮山藥（四兩）　茯苓（乳拌）　丹皮　澤瀉（各三兩）</p>
<p>上蜜丸，淡鹽湯下。</p>
<p>瀉青丸（見上）</p>
<p>導赤散</p>
<p>生地黃　木通　甘草梢　淡竹葉</p>
<p>等分，煎。</p>
<p>涼驚丸</p>
<p>黃柏　黃連　黃芩　山梔仁（各等分）　硃砂（水飛，減半）</p>
<p>上為細末，臘雪水為丸，桐子大，薄荷湯送下。又方有龍膽草（等分）。</p>
<p>木通散　能瀉肝風，降心火，最利驚熱。</p>
<p>山梔仁　大黃（煨）　羌活　木通　赤苓　甘草</p>
<p>上各等分。為末，每服一字，紫蘇煎湯送下。</p>
<p>又方無羌活，加生地、萹蓄、滑石、車前、黃芩、瞿麥、燈心。</p>
<p>錢氏異功散</p>
<p>人參　白朮　茯苓　甘草　廣皮</p>
<p>加薑棗煎，食前溫服。</p>
<p>小阿膠散　治風熱涎潮，喘促，搐掣，竄視。</p>
<p>真阿膠（炒，二錢半）　紫蘇（一錢）</p>
<p>為末。每服一錢，入烏梅肉少許同煎，灌下神效。熱出於肺，熱則生風，阿膠清肺行小便故也。肺風用之，尤效。</p>

<h2>治有次第門</h2>
<p>當歸龍薈丸</p>
<p>當歸（酒洗，曬乾，一錢）　人參（一錢）　川芎（錢半）　膽草（酒浸）　山梔仁（各五分）　青皮　蘆薈（各七分）　甘草　柴胡（各一錢）　半夏（一錢）</p>
<p>生薑自然汁浸一時，又以白礬水洗之，用水煮神麯調丸粟米大，二十五丸，寅卯時淡竹湯下。</p>
<p>導赤散（見上）</p>
<p>抱龍丸　治嬰兒諸驚，四時瘟疫。邪熱致煩躁不寧，痰嗽氣急，搐發等症，並宜投服。其藥溫平，不僭不燥，常服驅風化痰，鎮心解熱，和脾胃，益精神。</p>
<p>琥珀　人參（去蘆）　天竺黃　檀香　白茯苓（各七錢）　炙草（一兩五錢）　枳殼（麩炒，五錢）　枳實（麩炒，五錢）　辰砂（水飛，二兩）　懷藥（半斤，炒）　膽星（炒，五錢）</p>
<p>上為末，蜜丸芡實大，金箔五十片，每服一丸，薄荷湯下。</p>
<p>調元湯　補脾胃，扶元氣之聖方；益脾土，瀉火邪之要藥。</p>
<p>黃耆（蜜炙）　人參（各等分）　炙草（減半）</p>
<p>水煎，服無時。</p>
<p>參苓白朮散　治脾胃虛弱，飲食不消，或吐或瀉。</p>
<p>人參　茯苓（土炒）　白朮　甘草（炙）　山藥（炒）　扁豆（炒）　薏仁（炒）　蓮肉（去心，炒）　陳皮　砂仁　桔梗</p>
<p>為末。每服三錢，棗湯或米飲調服。</p>
<p>琥珀抱龍丸　治小兒諸驚風，四時感冒，寒溫風暑，瘟疫邪熱，煩躁不寧，痰嗽氣急，及瘡疹欲出，發搐並宜服之。</p>
<p>真琥珀　天竺黃　白檀香　人參　茯苓（各一兩半）　粉草（去筋，三兩）　枳實　枳殼（麩炒，各一兩）　硃砂（五兩）　牛膽南星（一兩）　淮山藥（一兩）　金箔（大者，一百片為衣）</p>
<p>上各製取末和勻，用臘雪溶水，如無雪，取新汲或長流水，杵為丸，如芡實大，陰乾。每服一丸，薄荷湯送下。</p>
<p>嚏驚散</p>
<p>半夏（一錢）　豬牙皂角（半錢）</p>
<p>上為末，用一豆許，用管子吹入鼻，立醒。</p>
<p>霹靂散（見中惡類搐門）</p>
<p>開關散　治小兒驚風搐搦，關竅不通。</p>
<p>南星（炮）　僵蟲（炒，各一錢）　原麝（一字）　牙皂（二錢）　赤腳蜈蚣（炙，一條）</p>
<p>上為末，以手點薑汁蘸藥少許擦牙，或用滴入藥二三點，涎自出，口自開。皂角略燒，存性為末。</p>

<h2>搐有順逆門</h2>
<p>順搐散　解男右女左，搐不順者。</p>
<p>枳殼（制）　鉤藤（去鉤）　荊芥　羌活　防風（去蘆）　甘草（各半兩）</p>
<p>為末，每服二錢，加薑汁水煎。</p>
<p>附：當歸龍薈丸　治肝膽風熱。</p>
<p>當歸　龍膽草　柴胡（各一兩）　青黛　陳膽星　大黃　蘆薈（各五錢）　麝香（五分）　梔子　酒黃芩　酒黃連　黃柏（各一兩）　廣木香（二錢五分）</p>
<p>上為末，煉蜜丸，小豆大。每服一二十丸，淡薑湯送下。</p>

<h2>急驚門</h2>
<p>瀉青丸（見搐有真假門）</p>
<p>導赤散（見上）</p>

<h2>慢驚門</h2>
<p>調元湯（見治有次第門）</p>
<p>六神散</p>
<p>人參　白朮　懷藥　茯苓　白扁豆　甘草（炙。各等分）</p>
<p>水煎五分，服此藥用處甚多，治胃冷加附子，風瘧加天麻，痢加罌粟殼。</p>
<p>又方</p>
<p>當歸　白芍　人參（各二錢半）　甘草　桔梗　陳皮（各一錢）</p>
<p>為末，每二三錢，水煎服之無時。</p>
<p>四君子湯</p>
<p>人參　白朮（土炒）　茯苓　甘草　姜（三片）　棗（三枚）</p>
<p>水煎服。</p>
<p>五味異功散　即四君子加廣皮。</p>
<p>五福飲　凡五臟氣血虧損，此能兼治之，足稱王道之最。</p>
<p>人參　熟地黃　當歸　白朮　炙草</p>
<p>水二鍾，煎七分，食遠溫服。或加生薑三五片。凡治氣血俱虛等症，以此為主。或宜溫者加附，宜散者加升麻、柴、葛，左右逢源，無不利也。</p>
<p>理中湯</p>
<p>白朮（陳壁泥炒，二兩）　人參　乾薑（炮）　甘草（炙，一兩）</p>
<p>水煎服。</p>
<p>六君子湯</p>
<p>人參　白朮　茯苓　廣皮　半夏　甘草</p>
<p>理陰煎　治真陰虛弱，脹滿嘔噦，痰飲噁心，吐瀉腹痛等症。</p>
<p>熟地（五六錢）　當歸（二三錢）　炙草（一錢）　乾薑（三錢）</p>
<p>或加肉桂。水二鍾，煎七八分，熱服。</p>
<p>附子理陰煎　即理陰煎加附子。</p>
<p>六味回陽飲　治陰陽將脫等症。</p>
<p>人參（一二兩）　製附子（二三錢）　炮姜（二三錢）　炙草（一錢）　熟地（五錢或一兩）　當歸身（三錢）</p>
<p>如泄瀉者或血動者，以冬朮易之，多多益善。水兩鍾，武火煎七分，溫服。如內振汗多者，加炙黃耆或冬白朮；如泄瀉者，加烏梅或北五味亦可；如虛陽上浮者，加茯苓；如肝經鬱滯者，加肉桂。</p>
<p>四味回陽飲　治元陽虛脫，危在頃刻者。</p>
<p>人參（一二兩）　製附子（二三錢）　炮姜（二三錢）　炙草（一錢）</p>
<p>上水二鍾，武火煎，七八分，溫服，徐徐飲之。</p>
<p>胃關煎　治脾胃虛寒作瀉，或甚至久瀉，腹痛不止，冷痢等症。</p>
<p>熟地（五六分）　淮藥（炒，三錢）　白扁豆（炒，二錢）　炙草（一錢）　乾薑（二三錢）　吳茱萸（制，五六分）　白朮（炒，二三錢）</p>
<p>上水二鍾，煎七分，食遠溫服。如瀉甚者，加炒肉豆蔻或破故紙；氣虛者，加人參；陽虛下脫不固者，加製附子；腹痛甚者，加木香或厚朴；滯痛不通者，加當歸；滑脫不禁者，加烏梅或北五味；肝邪侮脾者，加肉桂。</p>

<h2>月內發搐門</h2>
<p>至聖保命丹</p>
<p>膽星（二錢）　殭蠶（一錢）　白附子（一錢）　全蠍（十四隻）　天麻（一錢）　防風（一錢）　辰砂（水飛，錢半）　麝香（一字）　珍珠（五分）　琥珀（三分）　金箔（二十張）</p>
<p>上為碾末，粟米和為丸，分為二十錠，金箔為衣。每一錠，薄荷煎湯磨服。一方有蟬蛻一錢，使君肉錢半。</p>
<p>東垣安神丸</p>
<p>黃連（酒炒，六錢）　當歸（二錢半）　生地黃（錢半）　甘草（五錢半）　明硃砂（五錢，水飛為末）</p>
<p>上為末，蒸餅丸黍米大，硃砂為衣。每服十丸至三十丸，溫水送下。</p>

<h2>變蒸發搐門</h2>
<p>導赤散（急驚門）</p>
<p>瀉青丸（同上）</p>

<h2>聞非常之聲驚恐發搐門</h2>
<p>黃連安神丸</p>
<p>川連　當歸　龍膽草（各二錢）　石菖蒲　茯神（各一錢）　全蟲（五隻）</p>
<p>上為末，蒸餅搗豬心血，丸如粟大，辰砂為衣。每服十丸，燈心湯下。</p>
<p>理痰丸（俟考）</p>

<h2>外感發搐門</h2>
<p>導赤散（急驚門）</p>
<p>瀉青丸（同上）</p>
<p>抱龍丸</p>
<p>白附子（一兩，水泡洗）　膽星（一兩，去皮用者炒）　羌活（一兩）　薄荷（一兩，曬燥）　殭蠶（一兩，水洗去石灰）　前胡（一兩）　天麻（一兩，濕粗紙包煨）　橘紅（二兩）　天竺黃（一兩）　青皮（一兩，醋炒）　全蠍（一兩，糯米同炒）　天花粉（四兩）　黃芩（一兩，生用）　黃連（一兩，生用）</p>
<p>上為末，煉蜜為丸，辰砂為衣，每丸重五分。燈心湯磨化下。</p>
<p>保命丹（俟考）</p>
<p>大青膏（俟考）　治傷風痰熱發搐。</p>
<p>天麻　青黛（各一兩）　白附子（煨）　烏蛇（酒浸，取肉焙）　蠍尾（各五分）　天竺黃　麝香（各一字）</p>
<p>上為末，生蜜丸如豆大。每服用半粒，薄荷湯化下。</p>
<p>小續命湯</p>
<p>防風（一錢二分）　桂枝　麻黃　杏仁（去皮尖，炒研）　川芎（酒洗）　白芍（酒炒）　人參　炙草　黃芩（酒炒）　防己（八分）　附子（四分）</p>
<p>每服三錢，加薑棗煎。筋急語遲脈弦者，倍人參，加薏仁、當歸，去芍藥以避中寒。煩躁不大便，去桂、附，倍芍藥，加竹瀝。日久不大便，胸中不快，加大黃、枳殼。臟寒下痢去黃芩、防己，倍附子，加白朮。嘔逆，加半夏。語言蹇澀，手足戰掉，加石菖蒲、竹瀝。身痛發搐，加羌活。口渴加麥冬、花粉。煩渴，多驚，加犀角、羚羊。汗多，去麻黃、杏仁，加白朮。舌燥，去桂、附，加石膏。</p>

<h2>內傷發搐門</h2>
<p>五色丸</p>
<p>黃芩（二錢）　大黃（二錢）　黃連（二錢）</p>
<p>共為末，分作五份，滴水為丸。一份青黛為衣，名青丸子；一份硃砂為衣，名紅丸子；一份輕粉為衣，名白丸子；一份皂角燒灰存燼，研末為衣，名黑丸子；一份雄黃為衣，名黃丸子。</p>
<p>辰砂五苓散</p>
<p>豬苓　澤瀉　赤苓　白朮　官桂　燈心（引）</p>
<p>水煎，調辰砂末服之。</p>
<p>抱龍丸（見外感發搐）</p>
<p>安神丸</p>
<p>川連　當歸　麥冬　茯苓　甘草（各五錢）　辰砂（一兩）　冰片（二分半）</p>
<p>為末，蒸餅和豬心血，搗勻，為丸米粟大。每服十丸。又方去辰砂、冰片、甘草，加菖蒲、遠志、山梔。</p>
<p>白餅子　治小兒腹中有癖。</p>
<p>滑石　輕粉　製半夏　南星（各一錢，為末）　巴豆（二十四粒，去皮膜，水二升，煮水盡為度）</p>
<p>上，巴豆研細，後入眾藥，研勻，以糯米飯為丸，如小綠豆大，捻作餅子。三歲以上一二餅，四歲以下三四餅，臨臥蔥白湯下。</p>
<p>調中丸　治脾胃虛寒。</p>
<p>白朮　人參　甘草（炙，各五分）</p>
<p>瀉青丸（見急驚）</p>
<p>異功散（見慢驚）</p>
<p>琥珀抱龍丸（見治有次第）</p>
<p>膽導法</p>
<p>豬膽（一枚）</p>
<p>取汁入醋少許，用竹管長二三寸，以一半納穀道中，將膽汁灌入肛中，頃當大便。</p>

<h2>中暑發搐門</h2>
<p>黃連香茹飲　治中暑熱盛，口渴，心煩，吐瀉等症。</p>
<p>香茹（一錢）　厚朴（薑汁炒，五分）　黃連（姜炒，三分）</p>
<p>水煎，冷服。</p>
<p>辰砂益元散</p>
<p>滑石（六兩）　甘草（一兩）　辰砂（少許）</p>
<p>為末，燈心湯下。</p>

<h2>吐瀉發搐門</h2>
<p>參苓白朮散（見治有次第）</p>
<p>調元湯（同上）</p>
<p>四君子湯（見慢驚）</p>
<p>五味異功散（同上）</p>
<p>六君子湯（同上）</p>
<p>理中湯（同上）</p>
<p>辰砂益元散（見中暑發搐）</p>
<p>黃連香茹飲（同上）</p>
<p>小建中湯　治脾胃中氣虛損。</p>
<p>白芍藥（酒炒）　炙甘草（各等分）　肉桂（減半）</p>
<p>上銼為末，加薑棗水煎成劑，去渣滓，入白飴一匙，再煎一沸，溫服。</p>

<h2>痢疾發搐門</h2>
<p>瀉青丸（見急驚）</p>
<p>調元湯（見慢驚）</p>
<p>小柴胡湯</p>
<p>柴胡　半夏　人參　甘草　黃芩</p>
<p>加生薑、大棗，煎服。</p>

<h2>瘧疾發搐門</h2>
<p>小柴胡湯（見上）</p>
<p>白虎湯</p>
<p>石膏　知母　甘草　粳米</p>
<p>先煮石膏數十沸，再投藥米，米熟湯成，溫服。</p>
<p>平胃散</p>
<p>蒼朮（二錢）　厚朴（姜炒，一錢）　橘紅　甘草（炙。各一錢）</p>
<p>加薑棗煎。</p>
<p>養脾丸</p>
<p>蒼朮（制，五錢）　厚朴（三錢）　陳皮（五錢）　砂仁（二錢）　草果仁（二錢）　神麯（炒，三錢）　益智仁（二錢）　茯苓（二錢）　麥芽（炒，三錢）</p>
<p>共為末，酒糊丸，如粟大，米飲下。</p>
<p>清脾飲</p>
<p>青皮（一錢）　厚朴（醋炒，一錢）　柴胡（一錢）　黃芩（炒，一錢）　半夏（薑製，一錢）　茯苓（一錢）　白朮（土炒，一錢）　甘草（炙，五分）　草果（五分）</p>
<p>加姜煎。一方加檳榔。大渴加麥冬、知母，瘧不止加酒炒常山一錢、烏梅二個。</p>

<h2>疫病發搐門</h2>
<p>太極丸</p>
<p>天竺黃（五錢）　膽南星（五錢）　酒大黃（二錢）　直殭蠶（三錢）　真麝香（一分）　梅花片（二分）</p>
<p>共為細末，端午日午時修合，煉蜜為丸，如芡實大，硃砂為衣。凡遇疫症，薑湯化服一丸，神效。</p>

<h2>咳嗽發搐門</h2>
<p>丹溪薄荷湯</p>
<p>薄荷葉　羌活　全蠍（去毒）　麻黃　甘草（炒）　殭蠶（炒）　天竺黃　白附子</p>
<p>薄荷湯調下一匙，略煎數沸，入竹瀝少許服。</p>
<p>葶藶丸　治乳食沖脾，傷風咳嗽，面赤身熱，痰甚喘促者。</p>
<p>甜葶藶（去土，隔紙略炒）　黑牽牛（炒）　杏仁（去皮尖，炒黃。雙仁者殺人）　漢防己（各等分）</p>
<p>為末，取杏泥，取蒸陳棗肉和搗為丸，如麻子大。每服五丸，淡生薑湯下，乳食或臨臥服。量兒大小加減，如不因乳食所傷，並怯弱者，去牽牛，加蘇子。一方去牽牛、防己，加蘇子、橘紅，棗肉為丸。</p>
<p>小阿膠散（見搐有陰陽）</p>
<p>阿膠散</p>
<p>阿膠（兩半，蛤粉炒）　大力子（二錢五分）　馬兜鈴（半兩）　甘草（減半）　杏仁（七粒，去皮尖）　粳米（一撮）</p>
<p>為末，量兒加減，煎服。</p>
<p>瀉青丸（見急驚）</p>
<p>丹溪鎮驚丸</p>
<p>琥珀　辰砂　真珠母　青皮　甘草（各二錢半）　青黛　蘆薈　柴胡　青礞石（硝煅。各半兩）　天竺黃　膽星（各二兩）　天麻　乳香（各一兩）　雄黃（一錢半）</p>
<p>上為末，甘草膏丸如雞頭大。慢驚，參朮湯下；急驚，薄荷殭蠶湯下。</p>
<p>人參荊芥散　治身熱痰嗽。</p>
<p>人參（五錢）　荊芥穗（一兩）　大黃（二錢）</p>
<p>為細末，水煎調服，每服一二錢。</p>
<p>金粟丹　開關通竅，下氣利痰。</p>
<p>九制牛膽南星（二兩）　明天麻（一兩，薑汁炒）　節白附（一兩，土炒）　淨全蠍（陳，去尾足，以滾湯泡盡，去其鹽泥，曬乾，一兩，炒）　明乳香（去油盡，二兩）　代赭石（火煅紅，以好醋淬之，煅七次，焠七次，研細末，以水飛，曬乾，一兩）　直殭蠶（炒去絲，一兩）　赤金箔（五十張）　真麝香（二分）　梅花片（三分）</p>
<p>上為細末，煉蜜為丸，皂角子大，貼以金箔。每用一丸，薑湯化服。</p>

<h2>丹毒發搐門</h2>
<p>防風升麻湯</p>
<p>防風　升麻　山梔（去殼）　麥冬（去心）　木通　甘草節（各一錢）</p>
<p>上㕮咀，用淡竹葉三片煎，食遠服。</p>
<p>大連翹飲</p>
<p>連翹　瞿麥　滑石　車前子　大力子（炒）　赤芍（各一錢）　木通　梔子　當歸　防風（各五錢）　黃芩（錢半）　柴胡　甘草（炙。各五分）　荊芥穗（一錢）　蟬蛻（一錢）</p>
<p>上為細末，再加大黃、燈心，水煎。</p>
<p>沆瀣丹</p>
<p>川芎（九錢，酒炒）　錦莊黃（九錢，酒蒸）　黃芩（九錢，酒炒）　黃柏（九錢，酒炒）　黑牽牛（炒，去頭末，六錢）　薄荷葉（四錢五分）　滑石（水飛，六錢）　檳榔（六錢五分，童便洗曬）　陳枳殼（麵炒，四五錢）　連翹（除心、隔，取淨，六錢）　赤芍（炒，六錢）</p>
<p>上十味，依方炮製，和勻，焙燥，研細末，煉蜜為丸，如芡實大。月內之兒，每服一丸，稍大者一二丸，茶湯化服。</p>
<p>砭針法</p>
<p>用瓷瓦片打成尖峰，以筷子夾定扎住，連刺令出惡血。</p>

<h2>痘疹發搐門</h2>
<p>導赤散（見急驚）</p>
<p>錢氏涼驚丸</p>
<p>龍膽草　防風　青黛（各三錢）　鉤藤（二錢）　黃連（五錢）　牛黃　麝香　龍腦（各一字）</p>
<p>上面糊為丸，粟米大。每服三五丸，金銀湯下。</p>

<h2>麻疹發搐門</h2>
<p>當歸養營湯</p>
<p>當歸　川芎　生地黃　麥冬　梔子仁　木通　甘草　淡竹葉　燈心</p>
<p>便秘加大黃。水煎。</p>

<h2>搐久舌黑門</h2>
<p>涼驚丸（見痘疹）</p>

<h2>搐久便秘門</h2>
<p>八正散</p>
<p>大黃　瞿麥　木通　滑石　扁豆　車前子　山梔仁　甘草梢</p>
<p>各等分。㕮咀，入燈心煎服。</p>
<p>膽導法（內傷飲食）</p>

<h2>搐後睡眠不醒門</h2>
<p>安神丸</p>
<p>黃連（去毛，二錢）　石菖蒲（一錢）　遠志（去心，二錢）　歸身（二錢）　麥冬（去心，二錢）　茯苓（二錢）　山梔子（二錢）</p>
<p>上共為末，蜜丸。</p>

<h2>搐後自動咬牙門</h2>
<p>瀉青丸（見急驚）</p>
<p>地黃丸（見慢驚）</p>
<p>五味異功散（慢驚）</p>
<p>柴胡清肝散</p>
<p>柴胡（錢半）　黃芩（炒）　人參　川芎（各一錢）　山梔（炒，一錢半）　連翹　甘草（各五分）　桔梗（八分）</p>
<p>水煎服。</p>
<p>補中益氣湯</p>
<p>黃耆（炙，錢半）　人參　甘草（炙，一錢）　白朮（土炒）　廣皮　當歸（五分）　升麻（三分）　柴胡（三分）</p>
<p>加姜三片，棗二枚，煎。</p>
<p>瀉黃散</p>
<p>防風（四兩）　藿香（七錢）　山梔（炒黑，一兩）　石膏（一錢）　甘草（二兩）</p>
<p>為末，微炒香，水煎溫服</p>

<h2>搐後唇內生瘡門</h2>
<p>洗心散</p>
<p>生甘草　當歸　麻黃　芍藥　白朮　荊芥　大黃（煨，各半分）</p>
<p>上為極細末，用生薑、薄荷煎湯調化，食遠服。</p>

<h2>搐後餘熱門</h2>
<p>涼驚丸（搐有陰陽）</p>
<p>小柴胡湯</p>
<p>柴胡　半夏　人參　甘草　黃芩</p>
<p>加薑棗，煎服。</p>

<h2>搐後喘咳門</h2>
<p>阿膠散（見咳嗽發搐）</p>

<h2>搐後心神不寧門</h2>
<p>參苓白朮散（見治有次第）</p>
<p>定志丸</p>
<p>琥珀　茯神　遠志（薑製，焙）　人參　白附子（炮）　天麻　天冬（去心）　炙草　淨棗仁（炒）</p>
<p>上為末，煉蜜丸皂子大，硃砂為衣。每服一丸，燈心薄荷湯調下。御院有乳香。</p>

<h2>痙痓類搐門</h2>
<p>天保采薇湯</p>
<p>茯苓　獨活　羌活　枳殼　桔梗　柴胡　前胡　薄荷　蒼朮　升麻　乾葛　廣皮　厚朴　川芎　半夏　藿香　白芍　甘草</p>
