<header data-type="book">
<h1>一草亭目科全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鄧苑</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1643">公元1643年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093581.cn">北京大學圖書館掃描本</a></dd></div>
<div><dt>品質</dt><dd>60%</dd></div>
</dl>
</header>

<h1>年序</h1>
<p>人身五官中，惟耳目為尤重，而司聰之外，莫若司明，目雖開竅屬肝，然五臟之精液，皆上注於目，而為之睛。故養生家，有內視靜功，目光宵燭之說，惟內養既充，外邪不擾，則眸子瞭然常明。第人生斯世，勞心勞形之事，誰能或免。或被風霜所冒，暑熱所侵，則受傷於外。或為鬱怒傷肝，營血摧耗，則受損於內。斯則欲因病療治，則終身明瞽之關，皆出自醫者之手，可不慎哉。然世所謂能撥雲霧而睹青天者，伊何人乎?舍清江鄧子，其誰與歸。予嘗覺其一草亭目科全書，其自序業醫之緣，蓋本於宋儒為人子者不可不知醫之論，則其人孝矣。且以文正范公不為良相即為良醫之旨。矢志自期，則其人仁矣。仁孝之人，殫精醫學，烏有不造於神明之域者。故立論列方，內損外因，分剖詳悉，奇偶制度，精專明備。且其所傳，又迥出尋常萬萬者，是以用其方藥，輒試輒驗。惜乎棗梨殘缺，其書不傳，予得是書藏之什襲久矣。今不敢自私，重付剞劂，公之斯世，非第為仁人孝子表揚著作之苦心，抑亦為天下後世，凡苦目病者，揀方療治，得以復明，不須內視之功，自可保五官之最重，而不慮風霜忿鬱之傷，則鄧子一草亭書，其功寧有量哉。是為序。</p>
<p><u>康熙歲次丁酉菊月廣寧年希堯書於金陵官署</u></p>

<h1>曹序</h1>
<p>夫人之有目，猶天之有日月也。假使天無日月，何以判陰陽。人而無目，何以辨物色。故目為司明之官，心肝脾肺腎，五經皆系焉。然則目亦烏可不明耶。嗟夫，世之病目者多，或以酒色而起星障，或以風火而生雲翳，不有良藥，何以療之。然良藥非良醫，莫能用也。余嘗聞蘇子有言，藥雖進於醫手，方多傳於古人，旨哉斯言。今業三指禪者，不揣醫者意也之義，不究病源，妄施藥餌，轉致瞽廢終身，良可慨焉。爰思十室之邑，必有忠信，天下之大，豈乏良醫。其有能起瞽廢者，復遊於光天化日之下，厥功亦偉矣哉。胡芝樵太守，媯川名下士，嘗仕吳楚間多惠政，迨改官之閩宰沙縣令龍溪，深得國僑寬猛之術，民情翕然，去思來暮，所至興歌。余同舟十稔矣，第知太守之學問淵邃，潛心好古，其撐腸文字，奚啻五千卷而已哉，從未知其通岐黃學。唯其家人間有疾作，未嘗延醫於外，竊有疑焉。客冬荊人，患喘瀕危者屢矣。有謂太守能治之，遂延至寓，投以劑，卒賴以安，太守其扁鵲後身乎。會出示手鈔年偶齋所刊目科，為清江鄧氏書，後附異傳目科七十二回答，合成一冊，重加校訂，名之曰啟蒙真諦。藏之有年，不欲秘自炫奇，亟付鉛槧，以公同好。乃問序於余。余自慚譾陋，不諳醫理，何敢序是書。噫，是誠問道於盲也。今觀夫是書之有條不紊，意義兼賅，運用之神，非蠡能測，洵目科中未見書也，余何幸而見之。今一展卷間，便了然於中，竊謂不特啟予一人之蒙，將以啟天下千萬人之蒙也。太守以啟蒙真諦而名是書者，其誰曰不然。</p>
<p><u>光緒八年歲在壬午燈節後一日嘉善曹晉墀謹序於綠榕城西之尺蠖居</u></p>

<h1>胡序</h1>
<p>余讀書之暇，好涉獵雜藝，自少性已然。故岐黃學，竊粗曉大義，雖習未精，然偶審證酌古而運用之，治輒驗。壯宦湘南，同治歲丁卯，兒子烈，目忽疾，雲翳遮睛，視字墨者漸色白，浸淫乎盲矣。余探古方，百治卒罔效，古人欺我耶?抑擇之不精而運用之不神耶?或者治目有秘諦，古未泄其真，將盲而可憫者多矣，豈獨餘子哉!有友人某者，示以抄本目科，謂家藏累世矣，特未試其方何如耳。余受覽之，見其為二冊合抄，其前冊，曰《一草亭目科全書》，清江鄧博望先生所撰，廣採群方，論次精微，余固知為盲者之寶筏。其後冊，曰《異授眼科》，其著書人姓名則不傳，製藥成方，戛戛獨造，七十二證治法，設為問答，探本究源，精深顯豁，義意美備。仙乎隱乎，莫可思擬。爰為兒子烈，揀方治其目，不旬日而翳散，光明如初。余於是乎愈益信是書之果有濟於世，始恍然其真諦在此矣。遂乃立願製藥施貧盲，適以事改官淮，忽忽未暇辦此，己巳庚午歲，奉檄司榷靖江，同僚楊君，目將廢，余為藥之，應手復其明，乃竟群相驚異。於是踵門求醫者無虛日，主藥輔藥者，是書中之最神妙方也。然費頗不貲。余貧無力製備，姑僅修合蘆甘石四分之方應之，無不立著效。迨余又改官閩，一行作吏，未嘗舉以告人。光緒己卯秋，權稅崇安，復藥人盲，愈者更難以枚舉。廣寧年公偶齋，官於康熙朝者也，嘗惜一草亭簡殘缺，為重梓之。嘗懼《異授》世無刊本，恐磨滅為創刻之。忽忽二百年至今，而余所得乃抄本，傳寫脫誤，亥豕殊多，欲證疑似，歷求坊間而不得。蓋年刻既寡，又久遠就湮，況復經夫兵燹耶。余不揣淺陋，逆其意而尋其義，略點竄而正之，不敢正者，註明於逐條之上，俾用者酌之。諒博望諸賢，及後之精岐黃者，或不妄我於上下數百年間歟。噫，今餘年將老矣，愧少壯所學所宦，皆無大規模垂不朽，執是書而濟世，一人所及，其愈能幾何，且殷殷然其久而失傳是慮，爰謀之梓，續不絕一線。又以他得經驗奇方附諸後，願舉而示世，曰此《啟蒙真諦》也，因以名是書，而各仍其舊，名判種部，付之手民，刊而廣布之。俾天下盲者不盲，盡遊光天化日中，而無所患苦，是區區所深幸。經驗奇方者，雖小品僅二，然余已百試輒效，其功用大矣，閱者毋少而忽之。</p>
<p><u>光緒八年歲次壬午孟春月媯川胡崧芝樵氏序</u></p>

<h1>張序</h1>
<p>昌黎韓子曰：莫為之前，雖美而弗彰；莫為之後，雖盛而弗傳。旨哉斯言，千載上下賴繼續，不然，前之人苦心積慮而有所成者，後之人漠而視其殄滅澌盡。不承往古，以開示來茲，幾何不胥天下而盲哉。是故抱殘守缺之君子，尤於絕學三致其意焉，良有以也。史遷著書成，其自序則曰藏之名山，傳諸其人。嗟乎，其人豈易得哉。媯川胡公芝樵者，好學而慕古，博藝而多能。惟博藝也，故惜藝如命；惟慕古也，故懼古就湮。所學所能，余望其洋而莫測其涯涘矣。今特於其校刊啟蒙真諦也。蠡舉一勺，願與天下共測之，《啟蒙真諦》者，媯川總括兩家目科名之也。其一清江鄧博望先生著，有《一草亭目科全書》，原簡殘缺，其一不知何許人著，有《異授眼科》，留於天壤間，有掃云之巧，有撥霧之奇，康熙朝，年公希堯舉鄧書而重刊，又異授而創刻之。今遍求之不能得其本，惜哉惜哉，其學絕矣哉。余賦性疏狂，不甘牖下處，好遊也久矣，交士大夫亦多矣。所過而見者，錦繡之華麗，珍寶之充盈，光怪陸離，駭耀俗耳目，則往往皆是。然余視之蔑如也，兩目直若盲，夫余不盲於目，而若盲於目，則知彼不盲目，而實不特盲目，且盲於心矣。悲哉悲哉，是誰使之胥世之寡識者，而竟盲之哉。光緒庚辰春，餘下龍眠，入於閩，一見輒相得者，則有胡媯川而已。戾止其廳事，名書畫數幅，陳設寥寥，渾樸而近古。揖坐而談之，狀貌盎岸，而言皆有物，退而折矣，謂是可以啟余之盲矣。居無何，不知媯川於何所取余，款而館之家，命幼子受經焉。日月逾邁，寒暑已兩嬗至今，初余之至館也。不意心目間蔑視於彼，而忽駭耀於此矣。何為其然也?登其堂書而已，入其齋書而已，憩其舍書而已。琅函山架。牙籤叢積。其視錦繡珍寶。則倍蓰其光怪陸離矣。觀止矣。其蔑以加矣。迨余館居久，乃愈識媯川邃於經，熟於史，錯綜諸子百家言，尤深岐黃學，尤非特此也。尤有可異者，星象也，指奕棋堪輿也，捕龍虎陽宅也，按羲索卜筮也。懸龜鑑而六壬，尤精風鑑也，具隻眼而妍媸，而善惡，而邪正，而吉凶者，俱呈露而莫能遁其形。神峰則舉天下窮通壽夭，歸指掌之間，兵法則嘗試之矣。殺賊於湖湘，昇平之世無所用，媯川固秘而絕口不談。凡此者，固又媯川之錦繡，媯川之珍寶，光怪陸離於其胸腹中者也，豈特岐黃之學哉。岐黃洋海一㾞耳，是故今者所校刊，拳拳然，殷殷然，惟古絕學，於我乎是續為快。噫吁嘻，博望諸賢，既絕而復續於自今以後也，苟非賴有好學慕古，博藝多能之媯川，將何所於傳，得其人哉。假使是書僅落他人手，其漠不知寶惜者，委置於櫥架，若非蠹蝕而鼠齧，即將上漏下濕，糜爛不堪，付之故簏，投之水火耳，誰復過而問哉。其知之為寶也者，則又深藏而秘之，獨得以居奇，私持其術，射利於天下，療天下之盲，以盲天下之耳目，使群驚為空前絕後奇特技，是更博其名，而其究也亦同歸於盡。然則藏之名山，傳諸其人者之兩等人，夫豈其人哉。今媯川惜之至，懼之深，惜其藝之將絕，而又懼古之就湮，舉而刊之，以廣布天下，傳矣。博望諸賢，不僅當年一時之盛矣，後之人苟有精其藝而擅用之美者，舉皆《啟蒙真諦》是宗矣。執藝以成名，名藝必具彰彰矣。嗟乎，媯川一人耳，上往古，下來茲，為之後而為之前，真欲持是以不盲天下，天下安得而測之。嗟乎嗟乎，余性疏且狂，願大召告天下曰：盲者可不盲，其不盲者，勿自抵於盲。當保其目，如保其心也可。</p>
<p><u>光緒八年歲次壬午孟春上浣皖桐張壽六拙我氏序</u></p>

<h1>姚序</h1>
<p>《一草亭》、《異授眼科》各一卷，康熙時為廣寧年偶齋先生希堯所刻。歷年既久，原書罕見，其流傳者，率系鈔本。近經申報館以活板排印，出書有限，而無板不能續刷。購書稍後者，即不可得。書中各方，歷經遵仿施治，頗著奇效，屢思付梓，以廣其傳。庚子冬避兵旋里，晤表舅父許君鼎翁，談次與有同心，爰仿股份票例，共為勸募。集貲重刊是書成，不特病瞽者有復睹天日之歡，而是書藉以流傳。凡靠是者，得所依據，以神而明之，馴致於上壽，所全豈淺鮮哉。是為序。</p>
<p><u>光緒二十七年歲次辛丑仲春上浣嘉興姚寶炘伯純甫謹序</u></p>

<h1>目論</h1>
<p>經曰：五臟六腑之精華，皆上注於目。骨之精為瞳子，屬腎。筋之精為黑珠，屬肝。血之精為絡，屬心。氣之精為白珠，屬肺。肉之精為約束，屬脾。血氣之精脈所繫，上屬於腦，後出於項。苟被六淫外感，七情內傷，飲食失節，勞役過度，皆能損目。夫目通肝竅，腎藏其精，一有怫鬱，則相火挾肝木而上行，遂致轉變多端，有七十二症之名。總不越內外二障而已。華元化云：目類丸形，瞳神居中而前，如日月之麗東南而晦西北也。有神膏、神水、神光，真血、真氣、真精，此滋目之源液也。神膏者，目內涵膏，神衰則有損。神水者，由三焦而發源，先天真一之氣所化，目上潤澤之水也，水衰則有火勝燥暴之患，水竭則有目輪大小之疾，耗澀則有昏眇之危，虧者多，盈者少，是以世無全精之目。神光者，原於命門，通於膽，發於心，火之用事也。火衰則有昏瞑之患，火炎則有焚燥之殃。夫心君主也，通於大眥，故大眥赤者，實火也。命門為小心，小心相火也，代君行令，通於小眥，故小眥赤者，虛火也。若君主拱默，則相火自然清寧矣。真血者，即肝中升運滋目注絡之血也。此血非比肌肉間易行之血，即天一所生水，故謂之真也。真氣者，即目之經絡中往來生運之氣，乃先天真一發生之元陽也。真精者，乃先後二天元氣所化之精汁，起於腎，施於膽，而後及瞳神也。凡此數者，一有所損，目則病矣。無閭子曰：夫目者，先天之氣所生，後天之氣所成，陰陽之妙蘊，水火之精華。血養水，水養膏，膏護瞳神，氣為運用，神即維持。喻以日月，理實同之，人身至寶，所當重也。</p>

<h1>目議</h1>
<p>黑珠屬肝，肝為木也，東方屬木木生風，在臟為肝應目中，暴怒不常生內郁，更因風熱翳侵瞳，其症因惱怒不常，勞役過度，外感風寒，內傷色欲，以致頭目眩暈，視物不明，日久不治，遂成昏暗等症。</p>
<p>大小眥屬心，心為火也，心居包絡名君主，血逐火奔眼內凝，眥頭大小分虛實，遠視還同是火星，其症因憂愁煩勞，悲苦思慮，內傷於心，外攻於目，赤筋灌瞳，胬肉攀睛，日久不治，漸至失明等症。</p>
<p>上下胞屬脾，脾為土也。太陽屬土主脾元，積熱相干病有源，上下胞瞼腫又赤，挑針時發蒂依存。其症因多食熱物炙煿辛酸，壅熱在內，瘀血腫痛，粟沙隱澀，日久不治，以致爛弦倒睫，纏綿不已等症。</p>
<p>白珠屬肺，肺為金也。肺臟停留心熱攻，雙睛微見絳紗籠，但宣腸胃辛涼劑，方解昏昏似火紅。其症因凌霜冒雪，飢飽失常，風邪外受，內熱上攻，日久不治，以致視物不明，變成白膜遮睛，疼痛難開，衝風出淚等症。</p>
<p>瞳人屬腎，腎為水也。又通膽竅，此水木有相生之義，肝腎有同治之方。腎膽同源精自華，陰虛火旺便生花，上衝神水還成綠，急養化源不用嗟。其症因嗜欲無厭，房勞過度，大驚傷神，大恐傷志。水火既虧，陰陽漸損，冷淚流於臉上，飛花越於目前，綠水灌瞳，青盲內障等症。</p>

<h1>外障</h1>
<p>暴發時眼，疼痛難開，時眼傳染，羞明怕日。白珠生瘡，粟沙隱澀，瞼腫胞爛，拳毛倒睫。胬肉扳睛，赤筋貫瞳，翳膜遮睛，垂簾翳障。衝風出淚，漏睛膿出，傷寒流毒，烏珠下陷。烏珠突出，偷針時發，胞肉生膠，風牽喎斜。雀目凝睛，撞破生翳，血灌瞳神，飛塵傷目。時發有根，瞼硬腫脹，瞳神脹痛，時發癉澀。小眥赤澀，大眥赤澀。冰輪翳，梅花翳，旋螺翳，浮翳，實翳，濕翳，干翳，釘頭翳，白翳，紅翳，青翳，黃翳，黑翳，時發時散翳。裡急外弛，跌撲損傷。</p>

<h1>外障治法</h1>
<p>世謂眼病屬火，然非外受風邪，眼必不病。因腠理為風邪所束，內火不得外泄，挾肝木而上奔眼竅，血隨火行，故患赤眼。及時調治，自獲全愈。倘日久不治，及治而無效，為粗工所誤，遂成外障等症。外障者，風凝熱積血滯也，法當除風散熱，活血明目，須用加減金液湯主之，外點玉華丹自愈。如患翳膜遮睛者，用仙傳紫金膏點之，此膏能開瞽，或武當、人龍、此君亦妙。</p>

<h2>金液湯</h2>
<p>治外障等症。</p>
<p>軟前胡（一錢）　白桔梗（八分）　直防風（一錢）　川獨活（三分）　京芍藥（一錢）　肥知母（五分）　荊芥穗（五分）　蘇薄荷（六分）　蔓荊子（七分，炒研）　北柴胡（一錢，炒）　片黃芩（五分，炒）</p>
<p>咀片水煎熱服。</p>
<p>如受風寒重者，初二劑加羌活（五分）　小川芎（二分）　白芷梢（二分）　後服仍去。</p>
<p>如淚多者，加北細辛（二分）　家園菊（五分）</p>
<p>如腫脹者，加葶藶子（三分）</p>
<p>如痛甚者，加厚黃柏（三分）</p>
<p>如紅甚者，加連翹（三分）　桑白皮（四分）　牡丹皮（六分）　紅花（三分）</p>
<p>如翳膜者，加木賊（四分）　白蒺藜（八分）</p>
<p>如翳障胬肉者，加石決明（一錢，煅）</p>
<p>如昏懵者，加密蒙花（八分）　家白菊（五分）</p>
<p>如大眥紅者，加梔仁（七分，炒黑）</p>
<p>如小眥紅者，加酸棗仁（一錢，炒）　遠志肉（甘草煎水浸軟，去骨炒，一錢）　麥冬（一錢，去心）　家白菊（三分）　生地黃（一錢）　當歸尾（三分）　熟地黃（一錢）</p>
<p>如初發赤眼，服藥六七劑可愈，目無後患。（外點藥）</p>
<p>如屢發者，風邪積熱，入在經絡，遇寒即發，服金液湯十餘劑後，或作散，或作丸服，調理三十四日，外用玉華丹日點一次，即愈。</p>
<p>如體虛者，須用加減地黃丸，空心服，飯後用金液散，此法最妙。</p>
<p>如服金液湯，須飯後熱服，每日止服一劑，不可驟進，恐傷胃氣。服至六七日，自愈。</p>
<p>如外障等症，多是有餘，不可妄投補劑，恐助邪，為害不淺。</p>
<p>如內熱甚者，大便閉結兼以體旺年少之人，加大黃一二錢，通後除去，此病北京最多，湯用五龍。</p>

<h2>五龍湯</h2>
<p>治暴赤腫痛，如北地體旺者，宜服。</p>
<p>陳麻黃　荊芥穗　白桔梗　牛蒡子　莊大黃</p>
<p>咀片各一錢三分，作一劑，生薑五錢，蔥頭二兩為引，服後腫消紅退，仍用金液湯三四劑，外點玉華丹。</p>

<h2>玉華丹</h2>
<p>治眼患外障，紅腫羞澀，昏懵翳膜等症。</p>
<p>蘆甘石（二兩，取白而輕者如雲片及羊腦髓樣）　川黃連（一兩，去蘆切碎，水一盅浸半日，隔湯煮汁）　童便（一盅，取男半歲無病者同連汁和作一碗）</p>
<p>將甘石置傾銀罐內，炭火煅成碧色取起，以連汁、童便淬之，如此煅淬七次，加硃砂三錢，同研為末，水飛去腳，候乾又研，極細如塵，收貯聽用，名曰丹頭。另制珍珠，將珠錢許，置豆腐內，碗盛蒸一時久，研極細，收貯聽用。</p>
<p>丹頭一錢，加珠末一分，旋研，冰片三分和勻，入瓷罐封固。凡一切外障眼，以銀簪或象牙簪沾藥，點兩眥內，閉一飯久，仍以簪撥出藥屑，每日早飯後點一次，或夜點亦可。</p>

<h2>仙傳紫金膏</h2>
<p>真黃丹（五兩，研細水飛，候乾，用厚綿紙盛鍋內炒熟取起，地上候冷，又炒又冷，如此九次，去盡鉛氣，又研如塵，聽用）　川黃連（去蘆淨，二兩，切碎）　石燕（一雌一雄，大者如檳榔，與石蟹等分，搗末水飛，聽用）　石蟹（不拘一個二個，與石燕雌雄等分，搗末水飛）　訶子（十二個）　真熊膽（三錢或五錢，多則效速，試法塵撒水面取粟許，滴水上，其塵分開，方真，此眼藥神品）　冬白蜜（濾淨，八兩）</p>
<p>先將連、訶用井水三碗，煎至一碗半，以蟹、燕為細末，水飛過，調和藥汁同蜜，銀鍋慢火煎三五沸後，入丹再煎，取柳條或桃槐條，不住手順攪，用水一盆在旁。如沸起，即抬鍋放水盆內，待藥有絲為度，入熊膽，再旋百餘旋，勿令雞犬生人婦人見之。此方專治男婦一切眼疾，雙目不見十餘年者，竟能還明，但用兩蛤許，每日點五七九次，不用雙點，初點七日，停三五日，又點七日，用燈草搌其翳膜，眼自明矣。如重者不過三七日，神效。</p>

<h2>七寶膏</h2>
<p>去諸翳障。</p>
<p>珍珠（三錢）　琥珀（三錢）　水晶（三錢）　龍齒（一錢）　石決明（三錢）　熊膽（三錢）　龍腦（旋加五分）</p>
<p>上搗碎研細，水五升，砂鍋內煎至一升，去粗，用銀鍋熬至一盞，入淨白蜜五錢，和為膏，每夜臥後點之，旦不可點。</p>

<h2>武當秘授仙方</h2>
<p>武當山上一仙方，泄漏天機不可當，巴豆蕤仁和制石，硇砂龍骨白丁香，不論遠年翳膜障，管教一點便開光。</p>
<p>制石（二錢）　巴豆（一錢，去殼）　蕤仁（一錢，二味同煎水去渣，以水入制石內，候乾聽用）　</p>
<p>硇砂，用田螺一個，漂二日，泥淨開口時，以硇砂三四分入內，候其化水，以銀銚煎乾收貯，每用二釐。</p>
<p>龍骨（火煅為極細末，二分）　白丁香（取兩頭尖者，端午取用，甘草湯浸一宿，曬乾研細收貯，旋加少許點翳膜胬肉）</p>

<h2>人龍散</h2>
<p>治紅腫翳膜。</p>
<p>人龍一條，取壯大色白者，以線系首尾，入長流水洗淨，將瓷尖破開，滴白漿，入制石內，點目亦效。</p>
<p>一去胬肉，用杏仁百粒，搗爛取汁，調製硇砂點，或又用白丁香亦可。</p>

<h2>此君丹</h2>
<p>治翳。</p>
<p>淡竹殼不拘多少，用布拭去毛，燒灰存性，每藥一錢，加麝香三五釐，同擂細末，點在翳上亦妙。</p>
<p>凡治外障眼，切不可用刀針鉤割，恐傷眼血，後成痼疾，不可治療。經曰：眼得血而能視，則血何可損也。但用金液、玉華等方，自愈。</p>
<p>一凡飛絲入眼，用鹽一粒，在口噙化，其絲自出，或用香草子一粒入眼，其子在眼走動，搌絲撥出，自愈。</p>
<p>一凡嘴眼歪斜，服去風藥數劑，脈平又服溫補，外用鱔魚血磨白芨塗面一邊，立見其貌端正矣。</p>

<h2>劉禹錫方</h2>
<p>治一切患眼。</p>
<p>用黃連末、蕤仁去皮研以上各等分，棗二枚，開頭少許，去核，以藥填滿，仍將棗頭合上綿裹，用銀鍋煎水一碗，至小半濾起，待冷洗眼立效。（棗用大而端正者）</p>

<h2>㗜鼻碧雲散</h2>
<p>治一切外障等症，如開鍋蓋法。常使邪毒不閉，令有出路。然力少而銳，㗜之隨效，宜常㗜以聚其力。</p>
<p>鵝不食草（二錢）　青黛（一錢）　川芎（一錢）</p>
<p>上研為細末，先噙水滿口，每用如米許，㗜入鼻內，以淚出為度。</p>

<h1>內障</h1>
<p>綠水灌瞳，蠅影飛越，瞳神闊大，抱輪紅，瞳神焦小，亡血過多昏暗，瞳神返背，能遠視不能近視，瞳神缺陷，能近視不能遠視，瞳神破損，婦人胎風，瞳神空散，倒經血出，坐起生花，小兒痘翳，青盲翳障，小兒疳傷，冷淚時出，黑霧蔽空，眩暈轉睛，雀目夜發，烏風時發，不能久視。</p>

<h1>內障治法</h1>
<p>內障受病，多因瞳神不紅不腫，人不經意，日久不治，便成痼疾。瞳神屬腎，又通膽腑，人身最靈者，惟此瞳神。而人身最重者，惟此腎經，所謂乙癸同源之義也。夫人有陰虛者，有陽虛者。陰虛則水不滋木，少火挾肝木而上炎，肝通眼竅，眼斯病矣。蓋腎經如太極圖也，水火具焉。右腎屬陽水，左腎屬陰水，命門少火居中。少火者陽也，以一陽陷於二陰之中，成乎坎之象，故易謂天一生水也。水火和平，百骸通暢，然脾土非少火不生，肝木非腎水不養，脾氣足自生肺金，肝氣充自培心火，則腎為五臟之源，所謂先天真氣，生身立命，正在此也。故無水者，壯水之主以鎮陽光。無火者，益火之源以消陰翳，非獨治目，諸症可例推矣。此水火乃無形之水火，即先天真陰真陽也，陰虛補陰，陽虛補陽，脈候參之，庶幾勿失。若水火有虧，瞳神受疾，遂為內障等症。內障者，血少神勞，腎虛也，法當養血補陰，安神明目，須用加減地黃丸主之，空心服，兼進五寶丹，飯後服，自獲奇效。或千金磁朱丹，與石斛夜光丸，連服，及後方選用。</p>

<h2>六味地黃丸</h2>
<p>壯水之主，左尺微弱，補水以配火。</p>
<p>懷地黃（酒洗蒸曬九次，又酒煮爛搗膏，八兩）　懷山藥（四兩，炒）　山萸肉（去核，四兩，洗蒸慢火炒）　白茯苓（去皮屑，淨蒸過曬乾，三兩）　牡丹皮（去骨，三兩）　光澤瀉（去毛，三兩）</p>
<p>俱為末，同地黃膏搗勻，加煉蜜為丸，如梧子大，每日空心，用滾水吞三錢，即以美膳壓下。直至腎經，且無泥膈之事。</p>
<p>加當歸、五味、生地黃、柴胡，名益陰腎氣丸。（等分）</p>
<p>加枸杞白菊。</p>

<h2>八味地黃丸</h2>
<p>益火之源，右尺火衰，補火以固本。</p>
<p>六味加製附子（一兩）　肉桂（一兩）</p>
<p>愚以附、桂性烈，用還少丹代之，尤妙。</p>

<h2>還少丹</h2>
<p>滋補腎水，溫養少火，諸虛百損，男婦咸宜，久服卻病延年。</p>
<p>懷地黃（四兩，酒潤蒸曬九次，竹刀切片，酒煮搗膏）　甘枸杞（四兩，人乳蒸二次，乘熱同地黃搗）　肉蓯蓉（二兩，酒洗去浮甲，蒸過同地黃搗）　川巴戟（酒浸去骨曬乾，二兩，炒研）　川續斷（二兩，酒炒）　川牛膝（二兩，酒炒）　川杜仲（二兩，薑汁炒斷絲）　山萸肉（去核淨，二兩，酒洗蒸過，曬乾，炒）　遠志肉（水洗去骨，曬乾，二兩，炒）　石菖蒲（用小而節密者去毛二兩炒）　楮實子（揀淨，二兩，炒）　小茴香（二兩，炒）　白茯苓（去皮木屑，水淘淨，蒸過曬乾，二兩）　懷山藥（二兩，蒸炒）　</p>
<p>各制就和勻，用棗肉二百枚，搗和，加煉蜜為丸，如梧子大，每日早晚滾湯好酒，任服任吞五七十丸。此丸久服健筋骨，利關竅，充精血，美顏色，有大滋益，養生至寶。昔仙密授婦人服之，果得高壽，且如童顏。因子不服，鬚髮皓然，筋骨痿軟，時當怒責，一官遙見，拘問女何打父。婦曰：是吾子也，不服吾藥故打之，取方歎賞，名打老兒丸。原系孫真人自龍宮得來，凡腎經補藥，俱可漸加。</p>

<h2>加味逍遙散</h2>
<p>治鬱怒傷肝，眼目赤澀昏暗，婦人多有之，血虛發熱，口乾自汗，月經不調，腹痛等症。</p>
<p>大當歸（酒洗，一錢）　白芍藥（酒炒，一錢）　白茯神（去皮，一錢）　白朮（土炒，一錢）　北柴胡（炒，一錢）　牡丹皮（一錢）　蘇薄荷（三分）　甘草（三分）　川黃連（三分，用吳茱萸煎湯拌炒）</p>
<p>上咀片水煎。古方有梔仁，趙氏恐其傷胃氣，故去之。</p>

<h2>歸脾湯</h2>
<p>治思慮傷脾，不能攝血，或健忘怔忡，驚悸盜汗，寤而不寐，或心脾作痛，嗜臥少食，大便不調，或肢體重痛，月經不調，赤白帶下等症。</p>
<p>人參（一錢）　白朮（一錢）　茯神（一錢）　棗仁（一錢）　遠志（一錢）　歸身（一錢）　黃耆（一錢）　木香（三分）　甘草（三分）</p>
<p>上咀片水煎，龍眼肉三個為引。心藏神而主血，肝藏魂而藏血，脾藏意而統血。若思慮俱傷，而血不歸經，故有前症，治以此方，使氣血和暢，補肝實脾。血之散於外者，悉歸中州，而聽太陰所攝矣。</p>

<h2>天王補心丹</h2>
<p>治心血不足，神志不寧，津液枯竭，健忘怔忡，大便不利，口舌生瘡等症。</p>
<p>人參（去蘆，一兩）　元參（炒，一兩）　丹參（炒，一兩）　天冬（去心，一兩）　麥冬（去心，一兩）　五味子（蜜浸蒸，如生用亦可，二兩）　柏子仁（炒，二兩）　酸棗仁（炒，二兩）　遠志肉（甘草煎水浸一宿炒，二兩）　白茯神（去皮木，二兩）　歸身（酒洗烘，二兩）　白桔梗（炒，五錢）　生地黃（酒洗薑汁炒，二兩，研，忌鐵器）</p>
<p>上為末，煉蜜為丸，如椒目大，白滾湯吞服三錢，臥時服。</p>

<h2>五寶丹</h2>
<p>主開瞽復明，瞳神缺者能圓，陷者能起，突者能平，真至寶也。</p>
<p>夜明沙（水洗極淨曬乾醋炒）　晚蠶砂（揀去土子極淨，醋炒）　鳳凰退（殼內白衣洗淨，微火焙乾，如焦者不用）　老母鴨肝（水泡切片，新瓦焙乾，忌鐵器）　嫩雄雞肝（制如前）</p>
<p>各為極細末，各等分和勻，每日早晚用酒調服三錢，服至七日見效。如重者，再服一料自愈。</p>

<h2>千金磁朱丹</h2>
<p>治神水寬大漸散，昏如霧中行，漸睹空中黑花，又漸睹物成二體，久則光不收，及內障神水淡綠色淡白色者。</p>
<p>磁石（吸針者，二兩）　辰砂（一兩）　神麯（四兩）</p>
<p>共三味，先以磁石置巨火中煅，醋淬七次，曬乾，另研極細，水飛候乾二兩，辰砂另研極細，水飛候乾一兩，生神麯末三兩，與前藥和勻，更以神麯末一兩，水和作餅，煮浮為度，摻入前藥內，煉蜜為丸，如梧子大，每服二十丸，加至三十丸，飯湯送下，空心服。</p>
<p>上方以磁石辛酸寒，鎮墜腎經為君，令神水不外移也，辰砂微甘寒，鎮墜心經為臣。肝其母，此子能令母實也。肝實則目明，神麯辛溫甘，化脾胃中宿食為佐。生用者發其生氣，熟用者斂其暴氣也。服藥後，俯視不見，仰視漸睹星月者，此其效也。亦治心火乘金，水衰反制之病，久病屢發者，服之則永不更作，空心服，午前更以石斛夜光丸主之。</p>

<h2>石斛夜光丸</h2>
<p>治症上同。</p>
<p>天門冬（去心焙，二兩）　揀人參（二兩）　菟絲子（酒煮制研，七錢五分）　五味子（炒，五錢）　麥門冬（去心焙，一兩）　杏子仁（泡去皮尖，七錢五分）　白茯苓（去皮，二兩）　枸杞子（七錢五分）　川牛膝（七錢五分）　生地黃（一兩）　熟地黃（一兩）　家白菊（七錢五分）　白蒺藜（五錢）　金石斛（五錢）　肉蓯蓉（五錢酒洗去浮甲）　真川芎（五錢）　中甘草（五錢，炒）　陳枳殼（去穰麵炒，五錢）　懷山藥（七錢五分）　青葙子（五錢，炒）　直防風（五錢）　川黃連（五錢，炒）　草決明（七錢五分）　羚羊角（鎊末，五錢）　烏犀角（鎊，五錢）</p>
<p>上二十五味制末，煉蜜為丸，如梧子大，每服三五十丸，溫鹽湯任下。</p>
<p>上方滋補藥也，補上治下，利以緩，利以久，不利以速也。故君以天冬、人參、菟絲之通腎安神，強陰填精也。臣以五味、麥冬、杏仁、茯苓、枸杞、牛膝、地黃之斂氣除濕，涼血補血也。佐以菊花、蒺藜、石斛、蓯蓉、川芎、甘草、枳殼、山藥、青葙之療風治虛，益氣祛毒也。使以防風、黃連、草明、羚羊、烏犀之散滯瀉熱，解結明目也。陰弱不能配陽之病，並宜服之，此從則順之治法也。</p>

<h2>熊膽丸</h2>
<p>觀音治眼方，載《藏經》。一人患目翳障遮睛，諸醫不效，自念惟佛可救，於是禮佛甚謹，夜夢皂衣人告曰：汝要目明，當服熊膽丸，俱在《藏經》。後依方修制服之，旬日目明，眸子瞭然，即治人目疾多愈。</p>
<p>真熊膽（一分）　川黃連（一兩五錢）　密蒙花（一兩五錢）　防風（一兩五錢）　川羌活（一兩五錢）　龍膽草（一兩）　地骨皮（一兩）　蛇蛻（一兩）　木賊草（一兩）　仙靈脾（一兩）　旋覆花（五錢）　瞿麥（五錢）　白菊花（五錢）　麒麟竭（一錢）　蔓荊子（一合）　蕤仁（三錢五分）</p>
<p>俱為細末，以羯羊肝一具，煮其半，焙乾入藥，取其半生者，去筋膜，研爛入藥，杵而丸之，梧子大，飯後米飲下三十丸。諸品修制，唯木賊去節，蕤仁用肉，蔓荊子水淘，蛇蛻炙云。</p>

<h2>烏龍丸</h2>
<p>呂仙翁治眼方。一人性喜雲水，見必邀款小閣，供奉純陽像，奉事甚謹。一日有客，方巾布袍入，語曰：汝目昏多淚，當服烏龍丸可愈。於是依方治藥服之，月餘目復明矣。夜能視物，年至九旬，耳目聰明，精神如壯。</p>
<p>生地黃　熟地黃（惟出懷慶者佳）　川花椒（出四川閉口者勿用）</p>
<p>三味各等分為末，煉蜜為丸，如梧子大，空心鹽米湯吞五十丸，竟可常服。</p>

<h2>報恩丸</h2>
<p>一官治罪囚出活之後，囚因病死矣。官患目疾，為內障所苦，喪明年餘，適夜半獨坐嘆息，聞階下窸窣之聲，官問為誰，答曰：是昔蒙活囚，今來報恩，乃告一方。</p>
<p>川黃連（一兩）　白羊肝（一具，去筋膜，忌鐵器）</p>
<p>以連末和肝於沙盆內，研令極細，丸如梧子大，每服以滾水下三十丸，連作五劑。言訖忽不見，於是修服，數日復明矣。凡目疾皆可治，忌豬肉冷水雄雞。</p>

<h2>孝感丸</h2>
<p>一人父歿，奉母周遊四方，事母盡孝。淳熙中寓秦州，因患赤眼食蟹，遂成內障，諸醫無效。素解暗誦般若經，出丐市裡，所得錢持歸母，凡歷五載。忽夜夢一僧，長眉大鼻，托一缽，缽中有水，令掬以洗眼，復告之曰：汝此去當服羊肝丸也。意其為佛，拜乞其方，僧遂以授之。</p>
<p>夜明砂（洗淨）　當歸（灑洗）　木賊（去節）　蟬蛻（去足）各一兩，共研為末，用黑羊肝四兩，水煮爛，搗如泥，入藥拌和，又搗丸如梧子大，食後滾水下五十丸。服之百日復明，與其母還鄉，母亡棄家遂入道矣。後竟仙去。</p>

<h2>三奇丸</h2>
<p>治內障等症。</p>
<p>熟地黃（九制）　麥門冬（去心）　車前子（去殼）</p>
<p>各等分為末，煉蜜為丸，如梧子大，食前服，用滾水下五十丸。</p>

<h2>一子丹</h2>
<p>葛仙翁治赤眼翳膜等症。</p>
<p>大訶子（一枚）</p>
<p>以蜜磨點目中。</p>

<h2>二百花草膏</h2>
<p>蜂採百花，羊食百草。</p>
<p>用羯羊膽灌入好蜜攪勻，線繫縛蒸過，懸風處候乾，入瓶點目。</p>
<p>一人患目，服黃柏、知母之類，更加便血，何也。曰：此脾虛不能統血，肝虛不能藏血也，當用補中益氣湯，吞六味地黃丸，果愈。</p>

<h2>補中益氣湯</h2>
<p>治勞倦傷脾，中氣不足等症。</p>
<p>黃耆（一錢五分，蜜炙）　人參（去蘆，一錢）　甘草（一錢，炙）　歸身（酒洗，一錢）　白朮（土炒，一錢）　陳皮（去白，五分）　升麻（三分）　柴胡（三分）</p>
<p>上咀片，薑棗水煎服。</p>
<p>一富家子，忽病視正物皆以為斜，凡物必更移令斜，自以為正。其父求醫，一醫留其子，盛設暢飲，至醉，乃扶坐轎中，使人抬之，高下其手，常令傾側，展轉久之，方令登榻而臥，達旦酒醒，遺之歸家。前日斜視之物，皆理正矣。父母躍然而喜，往謝問方何神效如此也，醫曰：令郎無病，是醉中常閃倒肝一葉，搭於肺上，不能下，故視正為斜。今夏飲之，醉則肺脹，展轉之間，肝亦隨下矣，藥安能治之哉。</p>
<p>一孕婦忽然視物不明，目昏作痛。此因胎熱傷肝，毒氣上衝，或外傷內熱，內食炙煿性熱之物，以菊連湯主之，或金液湯治之，無不效也。</p>

<h2>菊連湯</h2>
<p>治婦人胎風眼。</p>
<p>防風（一錢）　荊芥穗（五分）　家白菊（五分）　蟬蛻（五分）　連翹（六分）　枯黃芩（七分，炒）　川黃連（酒炒，三分）　梔仁（炒黑，六分）　牛蒡子（炒研，五分）　大當歸（酒洗，八分）　真川芎（五分）　白芍（酒炒，八分）　懷地黃（生用，一錢）</p>
<p>上咀片，生薑一片，燈心一丸為引，熱服。</p>
<p>一乳婦因悸而病，既愈，目張不得瞑，醫曰：煮郁李酒飲之，使醉即愈。所以然者，目絲內連肝膽，恐則氣結，膽衝不下，郁李能去結，隨酒入膽，結去膽下，目能明矣。以一醉飲主之。</p>

<h2>一醉飲</h2>
<p>郁李仁（泡去皮，三錢）</p>
<p>酒一瓶煮熟，飲之果驗。</p>
<p>一婦人年四十餘，兩目昏昧，咳嗽頭痛，粗工罔效。一醫診脈皆細弱，脾部尤近弦弱，曰脾虛也。東垣云：五臟六腑，皆稟受脾土，上貫於目，脾虛則五臟精氣，皆失所司，不能歸明於目矣。邪逢其身之虛，隨眼絲入於腦，則腦鳴而痛心者，君火也，宜靜。相火代行其令，勞役運動，則妄行，侮其所勝，故咳嗽也。不理脾養血，而以苦寒治眼，是謂治標不治本也。症脈既詳，方從意立，醫者意也，因取曰如意飲。</p>

<h2>如意飲</h2>
<p>人參（一錢五分）　黃耆（一錢五分）　麥冬（去心，一錢）　貝母（一錢）　歸身（八分）　陳皮（五分）　川芎（五分）　黃芩（四分）　家菊（五分）　麥芽（四分）　甘草（三分）</p>
<p>上煎服二劑，前症悉除。</p>
<p>一婦人患爛弦風眼，用覆盆子葉，旋採以手揉碎，入口中咀嚼，而留汁滓於小竹筒內聽用，取皂紗矇眼，用筆畫雙眸於紗上，然後滴藥汁漬眼下弦，轉盼間蟲出紗外，以數十計，其狀如絲，色赤而長。復用前法滴上弦，又得蟲數十，兼服消風清熱活血之劑，遂獲全愈矣。</p>
<p>覆盆葉（能去眼弦爛蟲）　覆盆子（能治目暗不見物，冷淚浸淫及青盲等症）　覆盆子草（多取曬乾，用時搗令極爛，薄綿裹之，以人乳浸之，如人行八里九里，用以點目中，即仰面而臥，不過三四日，視物如童，但忌酒面油，蓋治目妙品也）</p>
<p>一人患赤目腫痛，脾胃虛弱，飲食難進，診其脈，肝盛脾弱，如服涼藥以治肝，則損脾。飲食愈難進，服暖藥以益脾，則肝愈盛而加病。何以治之?乃於溫平藥中，倍加肉桂，不得用茶常啜，恐傷脾也。蓋肉桂殺肝而益脾，故一治兩得之，傳曰：木得桂而槁也。</p>
<p>一人久患目盲，有白翳遮睛，服藥罔效，蓋此眼緣熱藥過多，乃生外障，視物不明，彼皆以為肝損腎虛，補其肝腎，則眼愈盲，治以救苦丹，一月目明。</p>

<h2>救苦丹</h2>
<p>公豬膽一個，微火用銀銚內煎成膏，候冷，入冰片末二三釐，點入眼中，漸覺翳輕。又將豬膽白膜皮曬乾，合作小繩如釵，火燒灰存性，點翳，甚者亦能治之。</p>

<h1>小兒痘毒眼治法</h1>
<p>痘毒入眼，有赤腫而痛不能開者，有翳障遮蔽而不能視者。自古方書所論，乃俗說所傳，皆以為痘瘡入眼，而不知此非有形之瘡，乃無形之毒也。其遮睛之翳，有似痘瘡，而實非也。蓋有形之瘡，發於咽喉者有之，發於口舌者有之，然皆外瘡起脹時，內瘡亦盛，外瘡收靨時，內瘡亦消。惟痘眼之毒，必作於收靨之時，或還元之後，與咽喉口舌之痘迥異，此以知其非有形之瘡也。蓋眼者五臟氣血之精華也，痘毒之鬱滯於肌膚者，為癰為癤，而其留滯於精華者，則發於眼患者，毒已留於氣血精華之分，則其受病也深。故患此者，當乘時調治，收功於數十劑之後，切不可鹵莽草率，責效於數劑之間。何也?痘後之人，元氣已弱，受毒又深，而其毒火發露在表，又在至高之位，若驟用寒涼，峻攻其里，而疏利其下，則既傷其元氣，又拂逆其病勢，未有不至於喪明者。且或生他症，而為大患者多矣。須用清毒撥翳湯，從容調治，使其毒氣漸退，而元氣不損，此方不失一之術也。切戒熏洗。若日久不治，亦致失明。患此症甚多，彼不知治法，又何怪乎。</p>
<p>清毒撥翳湯</p>
<p>防風（五分）　荊芥穗（四分）　蘇薄荷（四分）　前胡（七分）　蔓荊子（四分）　京芍藥（六分）　桔梗（五分）　北柴胡（七分）　片黃芩（五分，炒）　連翹（四分）　肥知母（五分，炒）　牛蒡子（五分，炒研）　白菊（三分）　密蒙花（四分）　白蒺藜（七分，去刺）　木賊（三分）　牡丹皮（四分）</p>
<p>水煎熱服。</p>
<p>如紅甚，加紅花（三分）　桑白皮（四分，蜜水炒）</p>
<p>如翳膜遮睛，加石決明（八分，煅研）</p>
<p>如多淚，加北細辛（三分）</p>
<p>如內熱甚，加黃連（三分，炒）</p>
<p>如甚者，可兼用後數方。</p>

<h2>紫龍丹</h2>
<p>治小兒痘毒眼，外用吹耳。</p>
<p>黃丹（五分）　真輕粉（五分）</p>
<p>俱為末，研勻，如左眼患吹右耳，右眼患吹左耳，每日吹二次，每用釐許。</p>

<h2>密蒙花散</h2>
<p>治症前同。</p>
<p>密蒙花（酒洗曬乾，五錢）　蟬蛻（去足土，五錢）　穀精草（五錢）　望月沙（洗淨曬乾，即兔糞，一兩）</p>
<p>俱為末，每用獖豬肝一兩，以竹刀披開，將藥一錢和在內，用碗盛蒸熟服，亦效。</p>

<h2>穀精草散</h2>
<p>治症同前。</p>
<p>穀精草（一兩）　生蛤粉（二兩）</p>
<p>俱為極細末，每用獖豬肝一兩，去淨筋膜，以竹刀切片，和藥一錢，蒸熟服效。以上二方，用母雞肝亦可。</p>

<h1>小兒疳積眼治法</h1>
<p>小兒腸胃柔脆，早不可飢，晚不可飽，衣服隨時，自不生病。因飲食失宜，過飢過飽，食後便睡，日晚加餐，寒熱不調，外感或少，內傷實多。元氣阻滯，漸致虛弱，遂難運化，釀而成疳。又貪飲食，肌肉愈瘦腸脹下利，日久不治。疳蟲傷肝，目則病矣。或閉或翳，而變生諸症，從而夭折，可不悲哉。醫不及時，治非良法，尚不覺，久則喪明。須用秘授玉龍丹主之。</p>

<h2>玉龍丹</h2>
<p>治小兒疳積傷眼。</p>
<p>真雄黃（為末，水飛候乾，三錢）　寒水石（煅為末，九錢）</p>
<p>上二味和勻，每日用雞肝一具，竹刀切片，去淨筋膜膽，同藥一錢，入酒一盞，碗盛蒸食，五日見效，竟能開瞽。</p>

<h1>治小兒雀目法</h1>
<p>世傳雀目者，何也?曰：每至日晚，二目不見，又號雞盲眼，經謂眼得血而能視。肝血有虧，熱入血室故也。血主陰，晚夜屬陰，以類相從，治不得法，亦能為害。須用照月飲主之，或決明夜靈散更妙。</p>

<h2>照月飲</h2>
<p>治雀目立效。</p>
<p>真雄黃（為末水飛候乾）</p>
<p>用生雞剖取熱肝，擂極爛，和黃五釐，溫酒調服。</p>

<h2>決明夜靈散</h2>
<p>治雀目，大人亦有此症，並治。</p>
<p>石決明（洗煅為末）　夜明沙（洗淨為末）　公豬肝（每用一兩，羊肝更妙）</p>
<p>以竹刀切開肝，作二片，將藥各二錢，鋪在肝上合定，用線縛之，入沙罐內，米泔水煮熟，臨睡時，連肝藥汁俱服。</p>

<h1>附刻薛氏選方</h1>

<h2>明目地黃丸</h2>
<p>治男婦肝腎俱虛，風邪所乘，熱氣上攻，目翳遮睛，羞澀多淚。</p>
<p>牛膝（酒浸，三兩）　石斛（四兩）　枳殼（四兩，炒）　杏仁（去皮尖，四兩）　防風（四兩）生地黃（一斤）　熟地黃（一斤）</p>
<p>上為末，煉蜜為丸，如梧子大，每服三五十丸，食前鹽湯下。</p>
<p>按：此方可治內外二障，但體虛者及年老者，甚宜。</p>

<h2>加減駐景丸</h2>
<p>治肝腎氣虛，兩目昏暗，視物不明。</p>
<p>熟地黃（八兩）　當歸（五兩）　川椒（一兩）　楮實（一兩）　菟絲子（八兩）　五味（二兩）　枸杞（三兩）　車前（五兩）</p>
<p>各制末，蜜丸梧子大，每服三五十丸，食前溫酒下。</p>
<p>按：此方治內障，滋養神水，目自明矣。</p>

<h2>地芝丸</h2>
<p>治目能遠視不能近視，漸至近亦昏蒙。</p>
<p>生地黃（焙乾，四兩）　天門冬（去心，四兩）　枳殼（二兩，炒）　甘菊花（二兩）　</p>
<p>上為末，蜜丸梧子大，茶清送下百丸。</p>
<p>按：陰虛不能近視，此方補陰藥也，故主之。</p>

<h2>定志丸</h2>
<p>治目能近視不能遠視者。</p>
<p>白茯苓（三兩）　人參（三兩）　遠志肉（二兩）　石菖蒲（二兩）</p>
<p>上為末，蜜丸如梧子大，以硃砂為衣，每服七丸至二三十丸，溫米湯下，食後服，日三服。</p>
<p>按：陽乏不能遠視，此方補陽藥也，故主之。但此症年老宜之，空心當服還少丹及補腎陽之藥。</p>

<h2>菊睛丸</h2>
<p>治肝腎不足，眼目昏暗，常見黑花多淚。</p>
<p>枸杞子（四兩）　肉蓯蓉（一兩）　巴戟天（一兩）　甘菊花（四兩）</p>
<p>上為末，蜜丸如梧子大，每服五十丸，鹽湯溫酒任服。</p>
<p>按：此方專補命門少火，此水中之火不足。蓋水滋肝木，肝通眼竅，是以神水足而神膏養，神光自發，瞳神可保無恙矣。明目何疑，可加熟地八兩。</p>

<h2>五秀重明丸</h2>
<p>治翳膜遮睛，隱澀昏花，常服清利頭目。</p>
<p>甘菊（開頭五百朵）　荊芥穗（五百穗）　木賊（去節，五百莖）　川花椒（五百粒）　楮實子（五百粒）</p>
<p>為末。蜜丸彈子大，每服一丸，細嚼徐徐嚥下。</p>
<p>按：此方俱輕清上行之品，治標可也，宜暫用之。</p>

<h2>瑞竹四神丸</h2>
<p>治腎經虛損，眼目昏花。</p>
<p>甘枸杞（一斤，取色赤滋潤者作四分，用酒一杯潤之）</p>
<p>一分川椒一兩同炒，一分小茴一兩同炒，一分芝麻一合同炒，一分獨炒，炒過將椒等篩揀去，加熟地黃四兩，白茯苓三兩，甘菊花二兩，共為末，蜜丸如梧子大，每服五七十丸，空心溫酒送下。</p>
<p>按：此方中年以後，每日常服，不獨可保目明，而卻病廣嗣，其功甚大。</p>

<h2>天麻丸</h2>
<p>治小兒肝風眼疳。</p>
<p>青黛（一錢）　黃連（一錢）　天麻（一錢）　川芎（一錢）　蘆薈（一錢）　五靈脂（一錢）　夜明沙（炒，一錢）　龍膽草（一錢五分）　嫩防風（一錢五分）　蟬蛻（一錢五分）　全蠍（少許）　麝香（少許）　乾蟾頭（二錢，炙焦）</p>
<p>俱為末，公豬膽汁浸糕，丸如麻子大，每服十丸，薄荷湯下。</p>
<p>按：此方疳傷五臟，各有現形。唯傷肝者，水因風動，遂為目患，品味周至，誠良劑也。然余全書在內玉龍丹效甚。</p>

<h2>《濟生》桑白皮散</h2>
<p>治肺氣壅塞，毒氣上攻眼目，白睛腫脹，日夜疼痛。</p>
<p>元參　桑白皮　枳殼（炒）　杏仁　甘菊　旋覆花　防風　京芍　黃芩　甘草　甜葶藶（炒）　柴胡（炒）</p>
<p>上各一兩，為細末，滾水調一錢，飯後服。</p>
<p>按：此方治風熱之劑，凡外障睛珠腫脹疼痛宜服。</p>

<h2>密蒙花散</h2>
<p>治風毒攻目，昏暗眵淚，並暴赤腫。</p>
<p>羌活（一兩）　白蒺藜（炒，一兩）　木賊（一兩）　密蒙花（一兩）　石決明（煅，一兩）　甘菊（家園者，二兩）</p>
<p>上為末，每服二錢，清茶食後調下。</p>
<p>按：此方治風毒，凡翳障眼宜服。</p>

<h2>蟬花散</h2>
<p>治肝經蘊熱，毒氣上攻，眼目赤腫，多淚羞明，一切風熱昏翳。</p>
<p>穀精草（一錢）　甘菊（六分）　蟬蛻（五分）　羌活（五分）　甘草（三分）　蒺藜（一錢，炒）草決明（一錢）　防風（七分）　山梔（七分，炒）　川芎（三分）　密蒙花（七分）　木賊（五分）　荊芥穗（三分）　黃芩（五分）　蔓荊子（五分，炒）</p>
<p>上為末，每服二錢，食後茶清調下。按：蟬花散治外障蘊熱等症固宜，但症有不同，或新起久患，或氣血虛實，量人加減，詳在《全書》。</p>

<h2>洗心散</h2>
<p>治風壅壯熱，頭目昏痛，熱氣上衝，口苦唇焦，咽喉腫痛，心神煩躁，多渴，五心煩熱，小便赤澀，大便秘滯。</p>
<p>大黃（煨，六錢）　甘草（六錢）　當歸（六錢）　芍藥（六錢）　麻黃（六錢）　荊芥（六錢）　白朮（五錢）</p>
<p>上為末，每服二三錢，生薑薄荷煎服。</p>

<h2>洗肝散</h2>
<p>治風毒上攻，暴作赤目，腫痛難開，眵淚。</p>
<p>薄荷　當歸　羌活　防風　山梔　甘草　大黃（酒洗）　川芎</p>
<p>上各二兩為末，每服二錢，食後滾水調下。</p>
<p>按：前二方，人多用之，故存備參考。或問曰：洗心、洗肝二散，治目何如?答曰：方以洗名，克伐可知。蓋為體壯氣實者，感冒風寒，外來腠理，內火不得消散，實熱上炎，奔入眼竅，暴赤疼腫，大便滯澀，姑以此暫用解散，否則不敢濫試也。人體不同，又烏可執泥乎?</p>
