<header data-type="book">
<h1>婦科冰鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>柴得華</dd></div>
<div><dt>朝代</dt><dd>淸</dd></div>
<div><dt>年份</dt><dd><data value="1776">公元1776年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>昔子輿氏有言：夫道若大蹠然，豈難知哉。是故六經之言道，如天地之無所不包，四子之言道，如日月之無所不燭。不獨大道為然，醫雖小道，亦道之一事。究其綱領條目，經常變化，上關運氣，下切恫□而寄生命，與大道無兩樞軸也。華性懦愚，讀書無成，其於大道，如在夢寐中耳。少年患溫，幾為醫誤，於是棄儒業醫，酷嗜岐黃家言，潛心數載，似少有得，然猶不敢自信，竊見泥古而執成規者，不反復致詳，而簡略從事，經目而未必經心，過而不入，此又難之難矣。夫太極判而天地分，天地位而萬物育，生生化化，不外於陰陽相濟而成。然先儒嘗言：寧治十男子，不治一婦人。蓋謂男子以氣為本，而婦人以血為主，氣固不易理，而血尤難調燮也。故兢兢業業，苦攻多年，傷寒方脈，未敢稍為憚煩，而於婦科，特究心焉。及循考群書，率多論而不詳，語而不暢，或存論而遺脈，或有治而無方，使留心斯道者，非失遺珠之恨，即生望洋之嘆。愛不揣固陋，編輯是書，門分十二，帙集八卷，理本靈素奧旨，法述先哲精言，略者詳之，冗者刪之，遺者補之，缺者增之。雖不敢自以為是，私心竊願醫之為術，廓如天地，照如日月，由道之一端，悟道之全體，不捨易以求難，精進勉研，以冀大方海我。</p>
<p><u>時乾隆四十一年歲次丙申孟春上浣後學柴得華麗東氏書於酒泉之育齡齋</u></p>

<h1>卷一</h1>

<h2>月經門</h2>

<h3>醫婦之難　一</h3>
<p>寇宗奭曰：寧治十男子，莫治一婦人。謂婦人之病不易治也。蓋婦人深閨幽處，情多抑鬱，加之憂恚憎忌，慈愛多疑，所願不遂，性執偏拗，診時又不令醫師觀形望色，聞聲問因。富貴之家，居奧室之中，處幃慢之內，且復以綿帕蒙其手，既不能行望色之神，又不能盡切脈之巧，未免詳問，問之覺繁，反謂醫學不精，往往並藥不信。不知問非易事，非精於醫者，必不能問也。夫望聞問切，四者欲去其三，即神醫無由施其神矣。此古今之通患，牢固難破者也。</p>

<h3>診婦問娠　二</h3>
<p>凡診婦女，須明在室適人，及其夫宦遊同處，與大有無妊娠，一一詳問，然後切脈。蓋臨診之際，婦女情多羞慚，未免脈必不真，且初妊之後，每每不形於診，非詳問不能知其由也。倘獨恃一脈，不知脈多疑似，設誤觸犯，咎必歸己。假診室女，突呼有娠，不但病家憎忌，而傍人謗議，勢所難免，故筆記於此，以為醫士之鑑。</p>

<h3>經脈源流　三</h3>
<p>《上古天真論》曰：女子二七天癸至，任脈通，太衝脈盛，月事以時下，故有子。夫天癸者，天一之氣也；任沖者，奇經之二也。任主胞胎，沖為血海。氣盛脈通，故月事下而有子。月事者，謂女子經水，按月而至，其盈虛消長，應於月象。月以三旬而一盈，經以三旬而一至，月月如朗，不失其常，故曰月經。又名月信者，如潮信之不爽也。</p>

<h3>經病大綱　四</h3>
<p>血者水穀之精氣也，和調五臟，灑陳六腑，乃能入於脈也。凡其源源而來，生化於脾，總統於心，藏受於肝，宣布於肺，施泄於腎，灌溉一身。在男子則化而為精，在婦人則上為乳汁，下歸血海而為月水。若情志調和，精氣充暢，食飲有節，起居無傷，則陽生陰長，百脈充實，何不調之有。苟不知慎，或六淫侵其外，七情傷其中，勞役損其形，嗜欲耗其精，一有觸犯，經斯病矣。調之之法，惟陰陽、寒熱、氣血、虛實八者而已，縷析於下。</p>

<h3>經脈異常　五</h3>
<p>月經一月一至，此其常也。然亦有兩月一行者，謂之並月；有三月一行者，謂之居經；有一年一行者，謂之避年；有一生不行而能孕育者，謂之暗經。此皆年稟不同，不須求治。若經行吐衄者，是渭逆經；有受娠之後，經復循月而產子者，是謂垢胎；有妊孕數月，忽然下血而胎不殞者，是謂漏胎。此皆異乎常人，均主病也。治見本條。</p>

<h3>察辨血色　六</h3>
<p>血色之辨，是以察虛實，證寒熱，不可不知也。血者，陰屬也。奉心化赤，故以鮮紅為正，即有經病，亦易治療。若深紅紫黑者，熱之證，淺淡紅白者，虛之象；黃如米泔者，濕之化；黏如鼻涕者，實之兆。此其概也。更當審其有無瘀塊，色之明黯，脈之遲數，證之喜惡，詳而施治，庶無差誤。若紫黑而明，稠黏臭穢，脈見浮數洪滑，證候喜冷惡熱，為實為熱；如紫黑而黯，消澈或腥，脈見沉遲細弱．證兼惡冷喜暖，為虛為寒。以此辨之，最為切當，學者宜深意焉。</p>

<h3>經脈愆期　七</h3>
<p>月經按月而至，是為常候，或前或後，謂之愆期。丹溪曰：先朗而至者，血熱也；後則而至者，血虛也。王子亨曰：陽太過則先期而至，陰不及則後時而來。觀二子之論，陽盛血熱，陰虧血虛，致期先後，理誠然矣。然猶有未盡，不可不察。嘗見薄弱之女，每每先至，積想之婦，恆多後朗。蓋薄弱者，中氣常餒，脾宮失其統攝之權；積想者，心火時爍，元海乏其源流之血。又見縱欲之輩，虧損肝腎，衝任失守，以致乍多乍少，或前或後。今世患經病者，率由乎此。誠崩漏之肇端，亦剪嗣之根蒂也。</p>
<p>先期而至，脈見洪數之類，證兼喜冷者，熱也。大率血分諸病，四物湯主之。屬熱者，芩連四物湯；虛熱者，地骨皮飲；血多日久不止者，膠艾四物湯；血過多屬熱者，芩術四物湯；血多有塊，色紫稠黏者，有瘀停也，桃紅四物湯隨其流以逐之。血澀少，色赤者，乃熱盛滯血也，姜芩四物湯；有瘀者，佛手散；肝脾鬱滯者，逍遙散；脾經血燥者，加味逍遙散。</p>
<p>若脈見濡弱沉細之類，證兼喜暖，為虛寒也。血色淺淡，乃氣虛不能攝血也，當歸補血湯；虛甚者，聖愈湯；榮衛怯弱，氣血兩虧，血多不止者，膠艾八珍湯；心脾虧損，情志抑鬱，以致經早，其血淋瀝不止者，歸脾湯最妙，蓋脾統血也。縱肆情欲，致損肝腎衝任之源者，惟當鎮固命門為主，如左尺洪大無力者，是真陰虛也，六味地黃湯；若右尺豁大無力，或沉遲細澀，是真陽虛也，八味地黃湯。</p>
<p>過朗不至，脈見沉澀者，過期飲；尺中脈微澀或兼腹痛者，香桂四物湯；色淡黃者，痰濕也，芎歸二陳湯；紫黑有塊，或成條片者，熱爍血也，必作痛，香連四物湯。</p>
<p>過期不至，尺脈微弱或澀，面顏黃白，無脹痛之證者，乃無血可行，切戒攻破之劑，宜補益榮衛，大壯氣血為主，所謂積流而渠自通也。榮衛怯弱者，雙和飲、人參養榮湯；氣虛血虧者，八珍湯、十全大補湯；肝經血少者，六味地黃丸，滋水即所以補肝也。</p>
<p>四物湯　本門一</p>
<p>芩連四物湯　本門二</p>
<p>地骨皮飲　本門三</p>
<p>膠艾四物湯　本門四</p>
<p>芩木四物湯　本門五</p>
<p>桃紅四物湯　本門六</p>
<p>姜芩四物湯　本門七</p>
<p>佛手散　本門八</p>
<p>逍遙散　本門九</p>
<p>加味逍遙散　本門十</p>
<p>當歸補血湯　本門十一</p>
<p>聖愈湯　本門十二</p>
<p>膠艾八珍湯　本門十三</p>
<p>歸脾湯本　門十四</p>
<p>六味地黃湯　本門十五</p>
<p>八味地黃湯　本門十六</p>
<p>過期飲　本門十七</p>
<p>香桂四物湯　本門十八</p>
<p>芎歸二陳湯　本門十九</p>
<p>香連四物湯　本門二十</p>
<p>雙和飲　本門二一</p>
<p>人參養榮湯　本門二二</p>
<p>八珍湯　本門二三</p>
<p>十全大補湯　本門二四</p>
<p>六味地黃丸　本門二五</p>

<h3>經期腹痛　八</h3>
<p>經期腹痛，有前後虛實之殊，不可不析。實痛者，多痛於未行之前，經行而痛頓減；虛痛者，每痛於既行之後，血空而痛轉加。良由經前氣凝血滯，不能流暢，經後血虧氣弱，無以充實。然亦有經前屬虛，經後屬實者。須令以手按腹，喜按喜揉者，虛也；拒按拒揉者，實也。虛實之真假，凝滯之有無，於此可察。臨是證者，詳其所因，辨其虛實，庶治無遺蘊矣。</p>
<p>經前腹脹痛，若脹過於痛，是氣滯其血也，加味烏藥散；右痛過於脹，是血凝其氣也，琥珀散；若臍腹㽲痛者，延歸散；若臟陰冷痛者，小溫經湯；或因受寒，過期不行，少腹冷痛者，大溫經湯；若胞中不虛，惟風寒凝結，以致少腹疼痛者，吳茱萸湯。</p>
<p>經後腹痛，乃血虛也。當歸建中湯；若去血過多，以致腹痛者，聖愈湯、十全大補湯；若經行之際，偶有憂鬱，經遂止而腹痛者，木香四物湯；因怒傷肝，致腹脅牽痛者，逍遙散。</p>
<p>加味烏藥散　本門二六</p>
<p>琥珀散　本門二七</p>
<p>延歸散　本門二八</p>
<p>小溫經湯　本門二九</p>
<p>大溫經湯　本門三十</p>
<p>吳茱萸湯　本門三一</p>
<p>當歸建中湯　本門三二</p>
<p>聖愈湯　本門十二</p>
<p>十全大補湯　本門二四</p>
<p>木香四物湯　本門三三</p>
<p>逍遙散　本門九</p>

<h3>經行發熱　九</h3>
<p>經行發熱，有經前經後、潮熱表熱之分，所當察也。在經前者，血熱也；在經後者，血虛也。若經後日哺潮熱者，乃真陰虧涸而然。《經》曰：陰虛生內熱。法當壯水之主，以制陽光。若表熱者，必有三陽表證可據，證既屬表，法當解散，所渭由表而入者，必表而出也。</p>
<p>若經前發熱者，加味地骨皮飲；經後發熱者，六神湯；寒熱似瘧者，脾虛肝熱也，逍遙散；日晡潮熱者，六味地黃湯；若見三陽表證者，則當按經解散，法具後第十四經際傷寒條，宜互參閱。</p>
<p>加味地骨皮飲　本門三四</p>
<p>六神湯　本門三五</p>
<p>逍遙散　本門九</p>
<p>六味地黃湯　本門十五</p>

<h3>經期體痛　十</h3>
<p>氣血盛實，陰陽和調，則形體通泰。苟或外虧衛氣之充養，內乏榮血之灌溉，故經行而身痛也。其間或有表證者，法當解散。設無表證形狀，乃榮衛虧乏，血脈壅遏而然，宜調榮益衛，疏經通絡，俾氣充血盛，經通絡達，其證自已。若在經行之後，或因去血過多，乃血虛不能榮於肢節，又當從乎補矣。</p>
<p>若血脈壅滯者，羌桂四物湯；榮衛虧乏者，八珍湯；去血過多者，黃耆建中湯。</p>
<p>羌桂四物湯　本門三六</p>
<p>八珍湯　本門二三</p>
<p>黃耆建中湯　本門三七</p>

<h3>經行吐瀉　十一</h3>
<p>胃為受谷之宰，脾司運化之權，二者安和，則出納自如。一有乖戾，則受化或廢而吐瀉作矣。然吐與瀉，主各殊別。吐出於胃，瀉由乎脾也。蓋經行之際，脾氣輸運血海，不暇滲濕固中，胃中無藉健運，不能化其精微，此吐瀉之端由，而治不可不分判者也。</p>
<p>若嘔吐涎飲者，胃弱也，益智六君子湯；吐出食物者，胃寒也，香砂六君子湯。若瀉者，脾虛也，參苓白朮散：鴨溏澄澈清冷而痛，乃脾寒也，理中湯；肌熱渴瀉者，虛熱也，七味白朮散。</p>
<p>益智六君湯　本門三八</p>
<p>香砂六君子湯　本門三九</p>
<p>參苓白朮散　本門四十</p>
<p>理中湯　本門四一</p>
<p>七味白朮散　本門四二</p>

<h3>逆經妄行　十二</h3>
<p>經期吐衄，名曰逆經。夫血者，陰也，陰從乎陽，故隨氣而為升降。若氣逆於上，則不能循道下行，或熱傷陽絡，迫血從而外溢。《經》曰：天暑地熱，經水沸溢。蓋血氾濫，多由乎熱也。治官抑氣清熱，則經水安瀾，而無沸溢之患矣。</p>
<p>若經前吐血衄血者，乃熱壅迫其血也，三黃四物湯；氣逆載血者，以抑氣清熱為主，抑氣涼血飲。若在經後．其熱已減，宜犀角地黃湯；熱或甚者，芩連犀角地黃湯；若脈沉弱或細者，惟以清補為主，生地六味湯，少加童便沖服。</p>
<p>三黃四物湯　本門四三</p>
<p>抑氣涼血飲　本門四四</p>
<p>犀角地黃湯　本門四五</p>
<p>芩連犀角地黃湯　本門四六</p>
<p>生地六味湯　本門四七</p>

<h3>經行帶下　十三</h3>
<p>帶下一證，有赤白之分，赤由濕熱之腐化，白屬氣虛之陷下。蓋經將行時，氣輸血海，倘素涉中虛，或宿有濕熱，故隨氣流下，溷淆其間。若形清腥穢，又為寒虛所化，間白帶多於經後，名曰脫陽。法當大補，否則禍不旋踵矣。</p>
<p>若色白者，氣虛陷下，不能固攝也，補中益氣湯；色赤者，濕瘀熱化也，知柏四物湯；白帶多於經後者，十全大補湯。</p>
<p>補中益氣湯　本門四八</p>
<p>知柏四物湯　方見崩漏門一</p>
<p>十全大補湯　本門二四</p>

<h3>經際傷寒　十四</h3>
<p>經行之際，不謹調攝，因而偶感外邪，須明風寒之辨。苦頭痛汗出，嗇嗇惡寒，翕翕發熱，鼻鳴乾嘔者，此風邪中太陽衛分也；若頭疼脊強，身痛無汗，惡寒者，此寒邪傷太陽榮分也。上二證者，以有無汗出為風寒之確辨，咸宜速除者也。稍涉延蔓，則必傳入陽明之表，而見惡熱汗出，目痛鼻乾不眠等證。再或不愈，因見寒熱往來，嘔而口苦，咽乾目眩，此邪已傳少陽也。倘日晡潮熱，自汗喜飲，腹滿惡熱，舌胎蒼黃，邪已傳陽明胃府，不復傳也。</p>
<p>若風傷太陽衛分者，桂枝四物湯；寒傷太陽榮分者，麻黃四物湯；邪傳陽明之經者，葛根四物湯；邪入少陽者，柴胡四物湯；邪傳陽明胃府者，玉燭散。</p>
<p>桂枝四物湯　本門四九</p>
<p>麻黃四物湯　本門五十</p>
<p>葛根四物湯　本門五一</p>
<p>柴胡四物湯　本門五二</p>
<p>玉燭散　本門五三</p>

<h2>月經門匯方</h2>
<p><u>四物湯</u>　一</p>
<p>熟地（二錢）　當歸（二錢，酒炒）　白芍（二錢，酒炒）　川芎（一錢）。</p>
<p>上為粗末，水煎溫服。如血熱者，以生地易熟地。煎眼照前。</p>
<p><u>芩連四物湯</u>　二</p>
<p>生地（三錢，酒炒）　當歸（二錢，酒炒）　白芍（二錢，灑炒）　川芎（一錢）　黃芩（一錢，酒炒）　黃連（一錢，酒炒）</p>
<p>水煎溫服。</p>
<p><u>地骨皮飲</u>　三</p>
<p>生地（酒炒）　當歸（各二錢，酒洗）　白芍（一錢，酒炒）　川芎（八分）　丹皮　地骨皮（各二錢）。</p>
<p>水煎微溫服。</p>
<p><u>膠艾四物湯</u>　四</p>
<p>熟地（三錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（錢五分）　阿膠（蛤粉炒珠）　艾葉（各一錢，醋炒黑）　炙草五分。</p>
<p>水酒煎，空心溫服。</p>
<p><u>芩術四物湯</u>　五</p>
<p>生地（三錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（一錢）　黃芩（二錢，酒炒）　白朮錢（五分，土炒）。</p>
<p>水煎溫服。</p>
<p><u>桃紅四物湯</u>　六</p>
<p>生地（三錢，酒洗）　當歸（四錢，酒洗）　白芍（錢五分，酒炒）　川芎（一錢）　桃仁（十四粒，去皮尖研泥）　紅花（一錢，酒洗）。</p>
<p>水煎溫服。</p>
<p><u>姜芩四物湯</u>　七</p>
<p>當歸（酒洗）　熟地　赤芍（酒炒）　川芎　薑黃　黃芩　丹皮　元胡（酒炒）　香附（各等分，酒炒）。</p>
<p>水煎溫服。</p>
<p><u>佛手散</u>　八</p>
<p>川芎（二兩）　當歸（三兩）。</p>
<p>上為細末，每服二錢，水一盞，灑二分，煎七分，溫服。</p>
<p><u>逍遙散</u>　九</p>
<p>白朮（二錢，土炒）　茯苓（一錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　柴胡（八分）　炙草（六分）　南薄荷（三分）。</p>
<p>加薑棗水煎溫服。</p>
<p><u>加味逍遙散</u>　十</p>
<p>即前方加山梔丹皮各一錢。</p>
<p><u>當歸補血湯</u>　十一</p>
<p>當歸（三錢，酒洗）　黃耆（一兩，蜜炙）。</p>
<p>上水煎服。</p>
<p><u>聖愈湯</u>　十二</p>
<p>熟地（四錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（一錢）　黃耆（二錢，蜜炙）　人參（一錢）。</p>
<p>上水煎服。</p>
<p><u>膠艾八珍湯</u>　十三</p>
<p>人參（一錢或二錢去蘆另煎沖）　白朮（二錢，土炒）　茯苓（一錢）　炙草（八分）　熟地（三錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（一錢）　阿膠（一錢，蛤粉炒）　艾葉（一錢，醋炙）</p>
<p>加薑棗水煎溫眼。</p>
<p><u>歸脾湯</u>　十四</p>
<p>人參（一錢余）　白朮（二錢，土炒）　黃耆（二錢，蜜炙）　白苓（一錢）　當歸（錢五分，酒洗）　棗仁（二錢，炒研）　遠志（六分）　炙草（八分）　木香（三分，末調）　龍眼肉（一錢）。</p>
<p>加薑棗水溫煎服。</p>
<p><u>六味地黃湯</u>　十五</p>
<p>熟地（四錢）　山藥（二錢，炒）　山茱萸（二錢，酒蒸去核）　白苓（錢五分，乳制）　丹皮錢（五分，酒洗焙）　澤瀉（錢五分，鹽水拌炒）。</p>
<p>上水煎，空心溫服。</p>
<p><u>八味地黃湯</u>　十六</p>
<p>於前六味地黃湯方加製附子一錢，肉桂一錢。</p>
<p>煎服照前。</p>
<p><u>過期飲</u>　十七</p>
<p>熟地　白芍（酒炒）　當歸（酒洗）　香附（各二錢，酒製）　川芎（一錢）　紅花（七分，酒洗）　桃仁（六分）　莪木（醋製）　木通（各五分）　炙草　肉往（各四分，去皮）　木香（八分）。</p>
<p>水煎食前溫眼。</p>
<p><u>香桂四物湯</u>　十八</p>
<p>當歸（四錢，酒洗）　熟地（三錢）　赤芍（錢五分，酒炒）　川芎（錢五分）　香附（二錢，酒製）　肉桂（一錢，刮粗皮）。</p>
<p>上酒水各半煎服。腹痛者，加延胡索二錢。</p>
<p><u>芎歸二陳湯</u>　十九</p>
<p>陳皮（錢五分）　半夏（二錢，薑製）　白苓（二錢）　炙草（八分）　川芎（錢五分）　當歸（二錢，酒洗）。</p>
<p>水煎服。</p>
<p><u>香連四物湯</u>　二十</p>
<p>於前四物湯內加木香六分、黃連一錢。</p>
<p><u>雙和飲</u>　二一</p>
<p>熟地（四錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（一錢）　黃耆（二錢，蜜炙）　炙草（八分）。</p>
<p>加薑棗水煎溫服。</p>
<p><u>人參養榮湯</u>　二二</p>
<p>人參（一錢）　白朮（二錢，土炒）　黃耆（二錢，蜜炙）　白苓（一錢）　熟地（三錢）　當歸（二錢，酒洗）　白芍（一錢五分，酒炒）　陳皮（七分）　肉桂（八分，去皮）　炙草（六分）。</p>
<p>加薑棗水煎服。</p>
<p><u>八珍湯</u>　二三</p>
<p>人參（一錢）　白朮（二錢，土炒）　白苓（一錢）　炙草（八分）　熟地（三錢）　當歸（二錢，酒洗）　白芍（一錢五分，酒炒）　川芎（一錢）。</p>
<p>加薑棗水煎服。</p>
<p><u>十全大補湯</u>　二四</p>
<p>於前八珍湯加黃耆二錢、肉桂一錢。</p>
<p>引煎同。</p>
<p><u>六味地黃丸</u>　二五</p>
<p>大懷熟（八兩九蒸者）　懷山藥（四兩，炒黃）　云白苓（三兩，人乳制）　杭山茱（四兩，去核酒蒸）　南丹皮（三兩，酒洗蒸）　建澤瀉（三兩，切片鹽水浸焙）。</p>
<p>上為細末，加煉蜜丸如桐子大，每眼三錢，空心淡鹽湯送服。忌三白。</p>
<p><u>加味烏藥散</u>　二六</p>
<p>烏藥　砂仁　木香　延胡索　香附　甘草　檳榔（各等分）。</p>
<p>上為細末，每服七錢，生薑三片，水煎溫服。</p>
<p><u>琥珀散</u>　二七</p>
<p>三稜　莪朮　赤芍　當歸　劉奇奴　丹皮　熟地　官桂　烏藥　延胡索（各一兩）。</p>
<p>上前五味，用烏豆一升、生薑半斤，切片，米醋四升同煎，豆煉為度，焙乾，入後五味，問為細末。每服二錢，溫酒調下，空心食前服。</p>
<p><u>延歸散</u>　二八</p>
<p>延胡索當歸各等分。</p>
<p>上為粗末，每服三錢，加生薑三片，水煎稍熱服</p>
<p><u>小溫經湯</u>　二九</p>
<p>當歸（酒洗）　附子（各等分，炮）。</p>
<p>每服三錢水煎空心服。</p>
<p><u>大溫經湯</u>　三十</p>
<p>吳茱萸（鹽湯泡製）　丹皮（酒焙）　白芍（酒炒）　人參（去蘆另煎沖）　肉桂（去皮）　當歸（酒洗）　川芎　阿膠，蛤粉（炒珠）　炙草（各一錢）　麥冬（二錢，去心）　半夏（二錢五分，薑製）。</p>
<p>加生薑水煎食前服。</p>
<p><u>吳朱萸湯</u>　三一</p>
<p>吳茱萸　肉窪　當歸（酒洗）　丹皮　半夏（薑製）　麥冬（各二錢，去心）　防風　細辛　藁本　乾薑　茯苓　本香　炙草（各一錢）。</p>
<p>水煎服。</p>
<p><u>當歸建中湯</u>　三二</p>
<p>當歸（一兩）　白芍（二兩）　肉桂（一兩）　炙草（七錢）。</p>
<p>上㕮咀，每服五錢，加生薑大棗水煎，空心溫服。</p>
<p><u>木香四物湯</u>　三三</p>
<p>於四物湯內加煨廣木香一錢。</p>
<p><u>加味地骨皮飲</u>　三四</p>
<p>生地　當歸　白芍（各二錢）　川芎　丹皮　地骨皮（各三錢）　胡黃連（一錢）。</p>
<p>水煎服。</p>
<p><u>六神湯</u>　三五</p>
<p>熟地　當歸　白芍　川芎　黃耆　地骨皮（各等分）。</p>
<p>上㕮咀，水煎服。</p>
<p><u>羌桂四物湯</u>　三六</p>
<p>於四物湯內加羌活，桂枝各一錢五分。</p>
<p><u>黃耆建中湯</u>　三七</p>
<p>黃耆（一兩）　肉窪（一兩）　白芍（二兩）　炙草（七錢）。</p>
<p>每服五錢，薑棗水煎服，日二三服，如虛甚加附子。</p>
<p><u>益智六君湯</u>　三八</p>
<p>人參（一錢）　白木（二錢，土炒）　白苓（二錢）　陳皮錢（五分）　半夏（二錢，薑製）　炙草（六分）　益智（一錢，去皮炒研）。</p>
<p>加薑棗水煎服。</p>
<p><u>香砂六君子湯</u>　三九</p>
<p>人參（一錢）　白木（二錢，土炒）　白苓錢（五分）　半夏（二錢，薑製）　陳皮（一錢）　藿香（一錢）　縮砂仁（一錢，炒）　炙草（八分）。</p>
<p>加薑棗水煎溫服。</p>
<p><u>參苓白朮散</u>　四十</p>
<p>人參　白苓　白朮（土炒）　山藥（炒）　甘草　蓮肉（去心）</p>
<p>白扁豆（各一錢五分，薑汁炒）　薏米（炒）　縮砂仁　桔梗（各八分）。</p>
<p>上為細末，每服二錢，薑棗湯調服。</p>
<p><u>理中湯</u>　四一</p>
<p>人參　白木（土炒）　炮姜　炙草。</p>
<p>水煎服。</p>
<p><u>七味白朮散</u>　四二</p>
<p>人參　白木（土炒）　茯苓（各錢五分）　藿香　木香　葛根（各一錢）　甘草（五分）。</p>
<p>水煎服。</p>
<p><u>三黃四物湯</u>　四三</p>
<p>生地（四錢，酒洗）　白芍（三錢）　當歸（錢五分，酒洗）　川芎（六分）　黃芩（一錢，酒炒）　黃連（一錢，酒炒）　大黃量其虛實用酒浸。</p>
<p>上銼水煎服。</p>
<p><u>抑氣涼血飲</u>　四四</p>
<p>生地（五錢）　白芍（三錢）　黃芩（錢五分，酒炒）　丹皮（二錢）　沉香（三分末調）　柏葉（一錢）。</p>
<p>水煎服。</p>
<p><u>犀角地黃湯</u>　四五</p>
<p>生地（六錢）　白芍（四錢）　丹皮（三錢）　犀角（一錢，鎊）。</p>
<p>水煎服，有熱如狂者，加黃芩錢五分。</p>
<p><u>芩連犀角地黃湯</u>　四六</p>
<p>於前方加黃芩、黃連各一錢。</p>
<p><u>生地六味湯</u>　四七</p>
<p>生地（四五錢，酒洗）　山萸（二錢，制）　山藥（二錢，炒）　丹皮（二錢）　白苓錢（五分）　澤瀉（錢五分）。</p>
<p>水煎空心服。右寸脈浮洪者沖童便一杯服。</p>
<p><u>補中益氣湯</u>　四八</p>
<p>人參　黃耆　白朮　當歸　陳皮　柴胡　升麻　炙草。</p>
<p>加薑棗水煎溫服。</p>
<p><u>掛枝四物湯</u>　四九</p>
<p>當歸　熟地　川芎（各二錢）　白芍（三錢）　桂枝（三錢）　炙草（一錢）。</p>
<p>薑棗水煎服。</p>
<p><u>麻黃四物湯</u>　五十</p>
<p>當歸　熟地　白芍　川芎（各二錢）　杏仁（二十粒，去皮尖）　炙草（一錢）　麻黃　桂枝（各一錢）。</p>
<p>上先煎麻黃，去上沫，內諸藥，加薑棗煎溫服。</p>
<p><u>葛根四物湯</u>　五一</p>
<p>當歸　熟地　川芎（各二錢）　白芍　桂枝（各三錢）　炙草（一錢）　葛根（錢五分）　麻黃（一錢）。</p>
<p>薑棗水煎服。</p>
<p><u>柴胡四物湯</u>　五二</p>
<p>當歸　熟地　白芍　川芎（各錢五分）　柴胡　半夏（薑製）　人參　黃芩（各二錢，酒炒）　炙草（五分）。</p>
<p>上為末，每服五錢，加薑棗水煎服。</p>
<p><u>玉燭散</u>　五三</p>
<p>當歸　川芎　熟地　白芍（各二錢）　炙草　芒硝　大黃（各一錢，酒洗）。</p>
<p>上銼每服八錢，水煎食前服。</p>

<h1>卷二</h1>

<h2>經閉門</h2>

<h3>血滯經閉　一</h3>
<p>水脹篇曰：石瘕生於胞中，寒氣客於子門，子門閉塞，氣不得通，惡血當瀉不瀉，衃以留止。日以益大，狀如懷子，月事不以時下，皆生於女子，可導而下。夫胞者，子宮也。子門者，胞之門也。氣血交通，月以時下。或寒邪外干，或瘀血內壅，氣不宣通，血因遏阻，以當瀉者不能得瀉，衃血凝塞胞中，狀如懷子。若不早為祛除，則必日以益大，其堅如石。故曰石瘕。寒邪既從下襲，溫導奚容寬緩。務期衃留去而元氣無傷，斯為用導之善者矣。</p>
<p>《評熱病論》曰：月事不來者，胞脈閉也。胞脈者，屬心而絡於胞中。今氣上迫肺．心氣不得下通，故月事不來也。蓋相火居於胞中，心火主乎血脈。陽氣上下交通，陰血隨其灌注，何有不來之虞？第婦人心氣恆郁，欲火時萌，火之發也刑乎金，金之燥也氣上衝，欲不咳嗽，勢不能已。愈咳則氣愈上，致乏下絡之權，故月事斷絕矣。夫病由心生，亟宜速治，否則咳嗽日久，必增息賁而成肺勞矣。潔古曰：宜先服降心火之劑，後蕎脾血。余佩而用之，每奏捷功。先哲之言，信非誣也。</p>
<p>若外邪客犯，致成石瘕者，宜吳茱萸湯溫而散之。裡氣壅瘀而成者，宜琥珀散以攻導之。氣上迫肺，月事不來者，先宜三和湯，後服五補丸及衛生湯。</p>
<p>吳茱萸湯　見月經門三一</p>
<p>琥珀散　見月經門二七</p>
<p>三和湯　本門一</p>
<p>五補丸　本門二</p>
<p>衛生湯　本門三</p>

<h3>血虧經閉　二</h3>
<p>《陰陽別論》曰：二陽之病發心脾，有不得隱曲，女子不月。其傳為風消，其傳為息賁者，死不治。夫二陽者，足陽明胃也。從生於心，藉化於脾，二者安和，則胃納水穀而化精微。倘女子有隱情曲意，不得舒衷暢懷，則心脾氣鬱不行，胃乏生化，飲食日少，血何由生。所謂二陽之病發心脾，女子不月矣，能使心脾和暢，胃職乃司，中焦受氣取汁，變化而赤，庶血海日盛，經斯復下矣。苟或遷延，陰血愈虛，內熱愈熾，肌為熱爍，如風消物，皮膚甲錯，日漸瘦枯，名曰風消。火之化也。火盛無制，必刑肺金，金氣受邪，不能運布水精，留於胸中，津液悉凝為痰，咳嗽晝夜難已。腎失水源，因而氣上不歸，息賁促急。肝無水滋，毫毛焦枯，鬢髮脫落。五臟遍傳，欲望有生，焉可得耶。</p>
<p>若因胃熱爍血，血海乾枯者，玉燭散，泄其熱則經自行；心脾氣鬱者，歸脾湯；氣血虧衰者，人參養榮湯；咳嗽氣急者，此金水不能相滋也，麥味地黃湯，肝失水榮者，六味地黃湯。諸所示盡，詳血枯經閉。宜互參考。</p>
<p>玉燭散　見月經門五三</p>
<p>歸脾湯　見月經門十四</p>
<p>人參養榮湯　見月經門二二</p>
<p>麥味地黃湯　本門四</p>
<p>六味地黃湯　見月經門十五</p>

<h3>血枯經閉　三</h3>
<p>血枯經閉一證，其因多端，有不可一途論治者。夫枯者，涸竭之謂也。原其所致之由，或思慮而傷心脾，或縱欲而損肝腎，或崩漏吐衄，而陰血暴亡，或產多乳眾，而衝任漸涸。蓋思慮抑鬱則心脾氣滯不行，因而胃廢出納之用；縱欲過極則肝腎真精日損，以致筋骨無藉滋榮；崩漏吐衄，隧道乏其灌注；產多乳眾，血海無以充盈，故月事斷絕，面爪黃白，肢體困倦，午後潮熱，種種見證，靡非精血虧竭之候，名曰虛損。於是最當滋補肝腎，培養脾胃。蓋胃者衛之源，脾者榮之本。俾氣血充足，經脈貫通，斯太衝漸盛，月當自下矣。舍此不治，久必陰水愈耗，陽火愈熾，火上爍肺，致使頻咳喘促，繼而骨蒸勞熱，面色枯白，顴若塗朱，肌膚甲錯，甚為寒熱，迭變諸證，皆由真陰枯涸，元陽飛越，變為壯火，勢與元氣不兩立，戕賊氣血，難遏難止。經曰：壯火食氣，氣亦弱矣。此勞瘵中最危最惡之候也。惟宜壯水之主，以制陽光，或可冀其萬一。倘妄肆寒涼，危亡立待。醫不識此，安望有濟於他哉。</p>
<p>若因思慮傷脾者，歸脾湯；飲食懶思，時或多痰者，六君子湯；縱欲過極，以致肝腎精血虧損者，歸芍地黃湯，所謂乙癸同源也。崩漏吐衄，產多乳眾，血無以生者，人參養榮湯、十全大補湯、八珍湯；午後潮熱者，地骨皮飲、六味地黃湯；咳嗽成勞，頻頻不已者，劫勞散；咳而喘促者，此腎虛不能納氣歸源也，麥味地黃湯、參麥地黃湯、加味都氣湯，此納氣藏元之治也。骨蒸勞熱，或多盜汗者，地龜都氣湯；身發壯熱，時或乾渴者，此真陰涸竭，元陽飛越也，法當壯水制陽為主，如六味地黃湯加龜膠、青蒿之類；如寒熱似瘧者，此氣血大虛之候也，惟宜培補，如十全大補湯加薑炭、柴胡之類；若咳嗽初起，須審其因，如由外邪，當從疏解，倘驟用補，則邪必留連，久而成勞。《經》曰：勞風發於肺下，正謂此也。</p>
<p>歸脾湯　見月經門十四</p>
<p>六君子湯　本門五</p>
<p>歸芍地黃湯　本門六</p>
<p>人參養榮湯　見月經門二二</p>
<p>十全大補湯　見月經門二四</p>
<p>八珍湯　見月經門二三</p>
<p>地骨皮飲　見月經門三</p>
<p>六味地黃湯　見月經門十五</p>
<p>劫勞散　本門七</p>
<p>麥味地黃湯　本門四</p>
<p>參麥地黃湯　本門八</p>
<p>加味都氣湯　本門九</p>
<p>地龜都氣湯　本門十</p>

<h3>師尼室寡經閉　四</h3>
<p>夫師，道姑也；尼，女僧也；室系尚未適人之女，寡乃少而亡夫之婦。凡此經閉者，不可同尋常妻妾論治也。蓋寂居深幽，獨陰無陽，情志恆多鬱結，欲念時萌弗遂。欲察其驗，肝脈弦出寸口。其故何也？由相火寄權於肝也。抑其夫宦遊客處者，每患斯疾。業是科者，先須識此。明乎此，則情志錯雜難名之狀，洞徹無餘。調治之法，和肝理脾，開鬱清心而已。然更須病者自移心志，始能寧弭蕭牆之禍矣。</p>
<p>室女多屬氣血凝結者，法當攻破，大黃䗪蟲丸；體弱脈虛，難任攻下者，澤蘭葉湯、柏子仁丸兼服，久之其血自行。師尼寡婦，多屬鬱熱，宜金蘭逍遙散，以和肝理脾，開鬱清心，經自通也。</p>
<p>大黃䗪蟲丸　本門十一</p>
<p>澤蘭葉湯　本門十二</p>
<p>柏子仁丸　本門十三</p>
<p>金蘭逍遙丸　本門十四</p>

<h3>婦人經斷復來　五</h3>
<p>婦人七七天癸竭，地道不通，當月水不下。倘仍不斷，別無他證，乃血有餘，不可用藥強止。若斷已年餘之外，忽爾夏來者，當審其因，果何干犯，隨證施冶，無不可也。</p>
<p>若因血熱者，芩心丸；血熱甚者，益陰煎；血去過多，衝任虛損，不能固其血者，十全大補湯或膠艾八珍湯；怒氣傷肝，致血不藏者，逍遙散；憂思傷脾，不能統攝者，歸脾湯。</p>
<p>苓心丸　本門十五</p>
<p>益陰煎　本門十六</p>
<p>十全大補湯　見月經門二四</p>
<p>膠艾八珍湯　見月經門十三</p>
<p>逍遙散　見月經門九</p>
<p>歸脾湯　見月經門十四</p>

<h3>室女經來復止　六</h3>
<p>女子二七天癸至，經行數度，仍復不來，無他疾苦，必是避年。蓋緣氣血尚弱，經隧未充，當俟自下，不必求療。倘兼虛損形證，緊數之脈，則為室女血枯經閉，名曰重癆。命屬風燭，斷非享齡之兆。寇宗奭曰：夫人之生，以氣血為本，人至有病，未有不先傷氣血者。世有童男室女，積想在心，思慮過度，多致勞損。男子則神色先散，女子則月水先閉。蓋憂愁思慮則傷心，心傷則血逆竭，血逆竭則神色先散，而月水先閉也。火既受病，則不能榮養子，故不嗜食。脾氣虛則金氣虧，故發嗽。嗽既作，則水絕，故四肢干。木氣不暢，故多怒，鬢髮焦，筋骨痿。五藏傳遏而終死矣。此付癆瘵最難治。蓋病起於五臟之中，藥力所不可及也。若能改易心志，甲藥善於調理，或得九死一生耳。法詳血枯及室寡經閉，茲不冗贅。</p>

<h2>經閉門匯方</h2>
<p><u>三和湯</u>　一</p>
<p>當歸　川芎　白芍　生地　大黃　朴硝　黃芩　山梔　連翹　薄荷　甘草（各等分）。</p>
<p>上銼，每八錢水煎服。</p>
<p><u>五補丸</u>　二</p>
<p>熟地　人參　牛膝（酒焙）　白苓　地骨皮（各等分）。</p>
<p>上為末，煉蜜丸，桐子大。每服三五十丸，空心溫酒送下。</p>
<p><u>衛生湯</u>　三</p>
<p>當歸（二兩，酒洗）　白芍（二兩，酒炒）　黃耆（三兩，蜜炙）　甘草（一兩）。</p>
<p>上為末，每服半兩，水二盞，煎一盞，空心溫服。如氣虛者加人參一兩。</p>
<p><u>麥味地黃湯</u>　四</p>
<p>熟地（四錢）　山藥（炒）　山萸（各二錢，酒蒸去核）　白苓　丹皮（酒焙）　澤瀉（各一錢五分，鹽水拌炒）　麥冬（二錢，去心）　五味（八分，蜜制）。</p>
<p>水煎空心溫服。</p>
<p><u>六君子湯</u>　五</p>
<p>人參（一錢）　白朮（二錢，土炒）　白苓錢（五分）　半夏（二錢，薑製）　橘皮（一錢）　炙草（八分）。</p>
<p>加薑棗水煎食後溫服。</p>
<p><u>歸芍地黃湯</u>　六</p>
<p>熟地（四錢）　山藥（炒）　山萸（各二錢，酒蒸去核）　白苓　丹皮　澤瀉（各錢五分，鹽水浸炒）　當歸（二錢，酒洗）　白芍（錢五分，酒炒）。</p>
<p>水煎，空心溫服。右尺脈微者，加肉桂一錢。</p>
<p><u>劫勞散</u>　七</p>
<p>白芍（六兩，酒炒）　黃耆（四兩，蜜炙）　甘草（蜜炙）　人參（去蘆）　當歸（酒洗）　熟地（焙乾）　五味　真阿膠（各一兩，蛤粉炒珠）。</p>
<p>上為粗末，每服三錢，水一盞，生薑七月，棗三枚煎至九分，溫服。</p>
<p><u>參麥地黃湯</u>　八</p>
<p>熟地（五六七錢）　山藥（炒黃）　山萸（各二錢，酒蒸去核）　白苓　丹皮（酒焙）　澤瀉（各錢五分，鹽水拌炒）　麥冬（三錢，去心）　五味（八分，蜜炙）　人參（一二錢，另煎衝入）。</p>
<p>水煎早晚溫服。</p>
<p><u>加味都氣湯</u>　九</p>
<p>熟地（自四錢至七八錢）　山藥（炒黃）　山萸（各二錢，酒蒸去核）　白苓　丹皮（各錢五分，酒焙）　澤瀉（一錢，鹽水拌炒）　川牛膝（錢五分，酒焙）　麥冬（二三錢，去心）　遼五味（七八分至一錢，蜜炙）　肉桂（一錢，右尺沉而有力者去之）　黑沉香（三五分末調入）。</p>
<p>水煎空心溫服。</p>
<p><u>地龜都氣湯</u>　十</p>
<p>熟地（四錢）　山藥（二錢，炒黃）　山萸（二錢，酒蒸去核）　白苓　丹皮（灑洗）　澤瀉（各一錢五分，鹽水拌炒）　龜板（一枚，醋炙）　地骨皮（一錢，去骨）　五味（一錢）。</p>
<p>水煎溫服。尺脈洪大者，加生地二錢，丹皮加至二錢；肝脈浮弦者，加生白芍二錢。</p>
<p><u>大黃䗪蟲丸</u>　十一</p>
<p>大黃（酒蒸）　赤芍（酒炒）　生地（酒洗）　桃仁（去皮尖）　杏仁（去皮）　乾漆（炒去煙）　黃芩　甘草　䗪蟲　虻蟲　蛭蟲　蚜螬（各等分）。</p>
<p>煉蜜丸。每服丸數，量虛實增減。</p>
<p><u>澤蘭葉湯</u>　十二</p>
<p>澤蘭葉（三兩）　當歸（酒洗）　白芍藥（各一兩，酒炒）　甘草（五錢）。</p>
<p>上為粗末，每服五錢，水二盞，煎一盞，溫服。</p>
<p><u>柏子仁丸</u>　十三</p>
<p>柏子仁（炒另研）　牛膝（酒洗）　卷柏（各五錢）　澤蘭葉　續斷（各二兩）　熟地（三兩五錢，酒浸透，石曰內杵成膏）。</p>
<p>上為細末，煉蜜丸，桐子大，空心米飲送下三十丸。</p>
<p><u>金蘭逍遙散</u>　十四</p>
<p>當歸（酒洗）　白芍（酒炒）　白木（土炒）　茯苓　柴胡　炙草　香附（醋炙）　生地（酒洗）　黃芩（酒炒）　薄荷　鬱金譯</p>
<p>加薑棗水煎溫服。</p>
<p><u>芩心丸</u>　十五</p>
<p>用黃芩心枝條者三兩（米泔浸七日．炙乾，又浸又炙，如此七次）。</p>
<p>上為末，醋丸如桐子大。每服七十丸．空心溫酒送下，日進二服。</p>
<p><u>益陰煎</u>　十六</p>
<p>生地（三錢）　知母（二錢，酒炒）　黃柏（二錢，灑炒）　龜板（四錢，醋炙）　縮砂仁　甘草（各一錢，炙）。</p>

<h2>崩漏門</h2>

<h3>崩經漏血　一</h3>
<p>《經》曰：心生血，肝藏血，脾統血。夫血者，陰也，隨氣而為升降。升降調適，則月事下止依時。苟有戾乖，斯崩或漏矣。崩者，血卒大下，若山崩難遏之勢；漏乃不時淋漓，綿綿弗已之謂。致此之由，或思慮傷脾，中氣困餒，則不能統攝歸源；忿恚傷肝，火動於中，迫血無藏納之所；悲哀太過，心胞系損，因而血乏主宰；房欲不謹，腎命日虧，以致閉藏失權。此皆犯其臟者也。更或向有瘀停，因新血沖激而始泄，或熱傷陰結，為火搏擊而妄行。治療之法，在乎詳審。若果有瘀有火，清之逐之為宜。倘涉虛候，當從升補，不得肆用寒涼攻克，反伐生氣之源，為害匪細。《經》曰：血脫益氣。東垣云：大夫血後，須用四君輩以收功，可謂得經旨之奧矣。</p>
<p>若崩漏去血過多者膠艾四物湯止之；血熱者，知柏四物湯清之；熱微者，荊芩四物湯和之；漏血澀少，間有淤塊者，桃紅四物湯加香附破之。崩血初起，腹脅脹痛，色紫成塊者，屬瘀凝也，琥珀散攻之；崩漏日久，去血過多，而氣隨血去，衝任損傷，因見肢體倦怠，脈息沉弱細濡之類，大虛之候，當恃溫補，宜膠艾八珍湯、人參養榮湯、十全大補湯，尺脈微加附子。若色黑如豆汁，清稀者，此敗血也，尤宜前藥。思慮勞倦，致脾不能統血歸源者，歸脾湯；脾經鬱火者，加味歸脾湯；忿恚傷肝者，逍遙散加香附青皮；怒動肝火者，加味逍遙散。房勞傷腎，以致衝任失守，當鎮固命門為主，左尺脈細弱者，六味地黃湯加續斷阿膠；右尺脈微細者，八味地黃湯，不可以肉桂動血執泥，此余屢用屢驗者。崩血已多，其色紫黯清稀，腹痛無時者，姜附芎歸湯。悲哀太過者，補中益氣湯，或日久脾傷食少，中氣下陷，不能載血者，亦宜是方。中氣不固，不能提攝者，益胃升陽湯。崩漏夾水，或日水瀉一二次，形氣不甚弱者，調經升陽除濕湯，以風先勝其濕，然後補益中州。形氣虛弱者，補中益氣湯加風藥一二味，如防風桂枝之屬，補中以勝濕也。崩血補之，仍然不止者，須防滑脫，宜地榆苦酒煎以止之。止後隨證施治可也。</p>
<p>膠艾四物湯　見月經門四</p>
<p>知柏四物湯　本門一</p>
<p>荊芩四物湯　本門二</p>
<p>桃紅四物湯　見月經門六</p>
<p>琥珀散　見月經門二七</p>
<p>膠艾八珍湯　見月經門十三</p>
<p>人參養榮湯　見月經門二二</p>
<p>十全大補湯　見月經門二四</p>
<p>歸脾湯　見月經門十四</p>
<p>加味歸脾湯　本門三</p>
<p>逍遙散　見月經門九</p>
<p>加味追遙散　見月經門十</p>
<p>六味地黃湯　見月經門十五</p>
<p>八味地黃湯　見月經門十六</p>
<p>姜附芎歸湯　本門四</p>
<p>補中益氣湯　見月經門四八</p>
<p>益胃升陽湯　本門五</p>
<p>調經升陽除濕湯　本門六</p>
<p>地榆苦酒煎　本門七</p>

<h3>殺血心痛　二</h3>
<p>崩血而心痛甚者，名曰殺血心痛。由亡血過多，心脾無所榮養，間有淤血凝結不散者，必有形跡可徵。若因小產去血太甚，以致心痛者，緣由雖二，其致一也。</p>
<p>若因血滯不散者，失笑散，先定其痛，後隨證施治。如因去血過多，歸脾湯、人參養榮湯、十全大補湯等，乃治此之神劑。</p>
<p>失笑散　本門八</p>
<p>歸脾湯　見月經門十四</p>
<p>人參養榮湯　見月經門二二</p>
<p>十全大補湯　見月經門二四</p>

<h2>崩漏門匯方</h2>
<p><u>知柏四物湯</u>　一</p>
<p>生地（四錢，酒洗）　當歸頭（錢五分）　白芍（三錢，酒炒）　川芎（錢五分）　知母（酒炒）　黃柏（各一錢，酒炒）。</p>
<p>水煎溫服。</p>
<p><u>荊芩四物湯</u>　二</p>
<p>生地（三錢，酒洗）　當歸（酒洗）　白芍（各二錢，酒炒）　川芎　荊芥　黃芩（酒炒）　香附（各一錢，醋炙）。</p>
<p>水煎溫服。</p>
<p><u>加味歸脾湯</u>　三</p>
<p>人參（一二錢，去蘆）　白朮（二錢，土炒）　茯苓（一錢）　黃耆（二錢，蜜炙）　棗仁（二錢，炒）　遠志（六分，甘草水浸去骨炒）　當歸（錢五分）　木香（三分）　炙草（八分）　龍眼肉（一錢）　柴胡（五分）　山梔子（一錢）　丹皮（一錢）。</p>
<p>加薑棗水煎食遠溫服。</p>
<p><u>姜附芎歸湯</u>　四</p>
<p>當歸（四五錢，酒洗）　川芎（二錢）　薑炭錢（五分）　附子（錢五分，炮）。</p>
<p>水煎溫服。</p>
<p><u>益胃升陽湯</u>　五</p>
<p>黃耆（二錢，蜜炙）　人參（一錢）　白朮（三錢，土炒）　神麯（錢五分，炒）　當歸（酒洗）　陳皮（炙草各一錢）　升麻　柴胡（各五分）　生黃芩（二錢）。</p>
<p>上為粗末，每服三錢，或五錢，如食添再加之，如食減只服三錢，或減之，不可多服。水煎去滓熱服。熱者用黃芩，寒者減芩加肉桂一錢，腹痛加白芍，有嗽去人參。</p>
<p><u>調經升陽除濕湯</u>　六</p>
<p>黃耆　蒼朮　羌活（各錢五分）　防風　藁本　升麻　柴胡炙草（各一錢）　獨活（五分）　蔓荊子（七分）。</p>
<p>水五盞煎一盞，去滓稍熱服，空心服畢，待少時以蚤膳壓之。</p>
<p><u>地榆苦酒煎</u>　七</p>
<p>地榆（一兩，炒），醋煎露一宿，次早溫眼立止。止後隨證調治之。苦酒即醋也。</p>
<p><u>失笑散</u>　八</p>
<p>五靈脂　蒲黃各等分。</p>
<p>上為末，先用釅醋調二錢熬膏，入水一盞，煎至七分，食前熱服，良驗。</p>

<h1>卷三</h1>

<h2>帶下門</h2>

<h3>五色帶下</h3>
<p>帶下者，陰中穢物時下也。由五志不遂，或產育房勞，傷及衝任，風邪乘間入於胞中，血受其邪，隨人臟氣寒熱虛濕而化。其色有五，故有五臟之分焉。色青者，屬肝為風濕；色赤者，屬心為熱濕；色黃者，屬脾為虛濕；色白者，屬肺為清濕；色黑者，屬腎為寒濕也。治法有六，曰：補、瀉、燥、澀、溫、寒也。隨宜而施，靡有不效。若帶已久，更審其淋漓之物，氣臭或腥而穢者，系胞中敗血所化。倘似瘡膿，乃內癰膿潰而致。下如米泔．兼尿竅不利．因膀胱蓄熱，名為白濁，此出自溺孔。若如膠黏，小水清長，名曰白淫，來自胞中，由乎精道者也。《經》曰：思想無窮，所願不得，意淫於外，入房太甚，化為白淫也。</p>
<p>若因六淫之邪入於胞中者，少腹多痛，宜吳茱萸湯加減主之。色白黑而清稀者，虛寒也。色白者，補中益氣湯；色黑者，六味地黃湯。色黃而淡者，六君於湯，或加味歸脾湯。胞中痛，色兼黃赤者，濕熱也，知柏四物湯。胞中冷痛者，寒濕也，加味四物湯。日久滑脫者，照加法施用。五色相兼者，濕熱尤甚也，清白散主之。五色相雜，皆從濕化。若少腹脹痛，汙水綿綿，屬濕熱者，宜導水丸；屬濕寒者，宜萬安丸。其寒熱之辨，在尺脈有力無力間分也。人肥者，多屬痰濕，蒼柏樗皮丸。</p>
<p>白濁白淫，亦帶類也，宜威喜丸、固精丸。</p>
<p>帶有因瘀血所比者，以通逐為主。因內癰膿出者，當詳瘡瘍施治，毋容混也。</p>
<p>吳茱萸湯　見月經門三一，本門八附加減法</p>
<p>補中益氣湯　見月經門四八</p>
<p>六味地黃湯　見月經門十五</p>
<p>六君子湯　見經閉門五</p>
<p>加味歸脾湯　見崩漏門三</p>
<p>知柏四物湯　見崩漏門一</p>
<p>加味四物湯　本門一</p>
<p>清白散　本門二</p>
<p>導水丸　本門三</p>
<p>萬安丸　本門四</p>
<p>蒼柏樗皮丸　本門五</p>
<p>威喜丸　本門六</p>
<p>固精丸　本門七</p>

<h2>帶下門匯方</h2>
<p><u>加味四物湯</u>　一</p>
<p>熟地（三錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（一錢）　附子（一錢，炮）　炮姜（一錢）　肉桂（一錢）。</p>
<p>水煎服。日久滑脫者，加升麻柴胡舉之，龍骨牡蠣石脂澀之。</p>
<p><u>清白散</u>　二</p>
<p>生地（酒洗）　當歸（酒洗）　白芍（酒炒）　川芎　黃柏（鹽水泡）　椿根皮（酒炒）　貝母（各一錢，去心）　薑炭　甘草（各五分）。</p>
<p>姜三片，水煎溫服。色赤加地榆、荊芥、黃芩；濕加蒼朮、白朮；滑加龍骨、牡蠣；久則與四君湯合用。</p>
<p><u>導水丸</u>　三</p>
<p>牽牛頭末　滑石（各四兩，水飛）　黃芩　川大黃（各二兩）。</p>
<p>上末蒸餅為丸，滾白湯送眼．丸數量虛實服。</p>
<p><u>萬安丸</u>　四</p>
<p>牽牛頭末　胡椒　廣本香　小茴香（各等分，焙）。</p>
<p>上末水泛為丸，量虛實白湯送服。</p>
<p><u>蒼柏樗皮丸</u>　五</p>
<p>蒼朮（米泔制）　黃柏（鹽水泡）　樗根皮　南星（姜炙）　半夏　海石（煅）　川芎　香附　乾薑（各等分，炮）。</p>
<p>上末醋和丸，桐子大。每服五六十丸，白湯下。暑月去乾薑加滑石。</p>
<p><u>威喜丸</u>　六</p>
<p>白苓（四兩，去皮作塊，用豬苓二錢半同於磁器內煮二十餘沸，取出曬乾，不用豬苓），黃蠟四兩。</p>
<p>上以白苓為末，煉黃蛤為丸，如彈子大。空心細嚼，滿口生津。徐徐咽服，以小便清為度，忌米醋，只吃糠醋，忌動氣惱。</p>
<p><u>固精丸</u>　七</p>
<p>牡蠣（煅粉）　菟絲子（酒蒸焙）　韭子　白龍骨　五味子　白茯苓　桑螵蛸（酒製）　白石脂（各等分）。</p>
<p>上為末，酒糊丸，如桐子大。每服七十丸，空心鹽湯下。</p>
<p><u>吳茱萸湯</u>　八　見月經門三一</p>
<p>色赤或黃而濁黏者，熱也，加黃連、梔子。色青者，加防風、梔子。</p>

<h2>積聚門</h2>

<h3>積聚癥瘕痞瘀血血蠱名義　一</h3>
<p>五臟氣積名曰積，故積有五。六府氣聚名曰聚，故聚有六。《難經》有心肝脾肺腎五臟之積，而無六聚。蓋以積為血病，而聚為氣病耳。故東垣有五積丸方治法，巢氏《病源》載七症八瘕。但有八瘕名證，而無七症病形。其他方書亦不概見，大抵又以症為氣病，而瘕為血病也。夫病皆起於氣，必氣聚而後血凝，不必過泥於黃、青、燥、血、脂、狐、蛇、鱉等名，但以牢固不移，有定處者為症為積；推移轉動，忽聚忽散者為瘕為聚可也。若夫痞者，痞悶不通，氣道壅塞之謂。瘀血者，血瘀腹中未成堅塊之形；蓄之既久，必成血蠱矣。凡此諸證，皆由新產之後與經行之時，不謹調避，以致風冷外襲，邪正相傳，結於腹中而成也。</p>

<h3>癥瘕證治　二</h3>
<p>症者，有所徵驗。瘕者，聚散無常。由飲食失節，脾胃虧損，邪正相傳，結於腹中，因氣上下攻築疼痛也，大七氣湯主之；脾胃虧損者，芎歸六君湯。</p>
<p>大七氣湯　本門一</p>
<p>芎歸六君湯　本門二</p>

<h3>食症證治　三</h3>
<p>婦人經行產後，臟府虛弱，脾胃既虧，貪食生冷之物，不能消化，與臟氣互相摶聚，結成堅塊，牢固不移，口漸長大者，宜先開滯消積，繼固脾氣可也，烏藥散主之。</p>
<p>烏藥散　本門三</p>

<h3>血症證治　四</h3>
<p>婦人產後經行之時，臟氣已虛。或被風冷相干，或為飲食所傷，與血摶結，遂成顆塊，牢固不移，腹脅脹痛，內熱心煩，食少善忘，但頭汗出者、血症也，血竭散主之。</p>
<p>血竭散　本門四</p>

<h3>痞證治　五</h3>
<p>痞者，胸膈窒塞，痞悶不通也。由中氣壅滯，阻礙舒布而然。當寬宣氣道，繼培中州，助氣丸主之。</p>
<p>助氣丸本門五</p>

<h3>積聚證治　六</h3>
<p>積者，著而不移；聚者，忽散忽凝。乃痰飲宿食與氣血摶結也。皆由脾胃虛弱，不能輸運，當健脾消食，化痰滲飲，理氣和血，則積聚未有不愈音矣。開鬱正氣散主之。</p>
<p>開鬱正氣散　本門六</p>

<h3>瘀血血蠱證治　七</h3>
<p>婦人經行之際，或產後惡露未盡，調攝不謹，風冷乘客血室，血得冷則凝，停留個久，未成堅塊者，故名瘀血也，其人必面色痿黃，臍腹脹痛，內熱哺熱，乃其候也。若不速治，則必經閉。蓄留既久，變為血蠱。血蠱之狀，腹脹大，筋紅起，危惡可畏者也。</p>
<p>惡露未盡，失笑散。瘀血凝聚，致經不通者，玉燭散。血蠱腹脹者，桃奴散。</p>
<p>失笑散　見崩漏門八</p>
<p>玉燭散　見月經門五三</p>
<p>桃奴散　本門七</p>

<h3>痃癖證治　八</h3>
<p>婦人臍之兩旁，有筋突起，發則疼痛，大者如臂，小者如指，狀類弓弦，名曰痃。僻在兩肋之間，有時而痛者，名曰癖。二者皆陰陽不和，經絡否隔，飲食停滯，不得宣流，風冷之邪，與氣血摶結而成形也。若再受風冷，發則形見，疼痛益甚，風冷弭釋，則平復如初矣。蔥白散兼烏雞丸主之。</p>
<p>蔥白散　本門八</p>
<p>烏雞丸　本門九</p>

<h3>疝病證治　九</h3>
<p>婦人少腹疼痛，牽連腰脅高起，名曰疝。或因產後，或因經水往來，風冷乘客胞中，接並吁氣。故脅腹牽引刺痛也。法當疏攻厥陰，當歸散主之。</p>
<p>當歸散　本門十</p>

<h3>治諸積大法　十</h3>
<p>《經》曰：邪之所湊，其正必虛。故凡治諸症積，宜審形體之壯弱，病勢之緩急，詳分施治，庶無虛虛之禍。如身形壯盛，脈證俱實者，則直攻其積，《經》所謂堅者削之也。倘遇虛怯之輩，氣血衰弱，不任攻伐，病勢雖盛，當先扶正氣，俟正氣漸長，再攻其病。蓋實者邪氣也，虛者正氣也。若不養正辟邪，鮮有不誤者。《經》曰：大積大聚，其可犯也，衰其大半而上．過者死。潔古云：養正積自除。可謂得經旨者矣。</p>

<h2>積聚門匯方</h2>
<p><u>大七氣湯</u>　一</p>
<p>三稜　莪茂（各煨切）　青皮（去穰）　陳皮（去白）　木香藿香　益智仁　桔梗　肉佳　甘草（各七錢五分，炙）。</p>
<p>每服五錢，水二盞，煎一盞，食前溫服。</p>
<p><u>芎歸六君湯</u>　二</p>
<p>人參　白朮（土炒）　白苓　橘皮　半夏（薑製）　炙草　川芎　當歸。</p>
<p>姜冬水煎服。</p>
<p><u>烏藥散</u>　三</p>
<p>烏藥　莪茂　桂心　當歸（炒）　桃仁　青皮　木香（各等分）。</p>
<p>上為末，每服二錢，熱酒調下。</p>
<p><u>血竭散</u>　四</p>
<p>真血竭（如無紫礦代）　當歸　赤芍藥　浦黃　延胡索（各等分）。</p>
<p>上研極細末，每服一錢，甲童便合好酒半大盞，煎一沸，溫調下方，產下時一服，上床良久再服，其惡血自循經下行，不致衝上，免生百病。</p>
<p><u>助氣丸</u>　五</p>
<p>三稜　莪茂（各用濕紙包，灰火中煨透，切片，各二斤）　青皮（去穰醋炒）　陳皮（去白）　白朮（各十五兩，土炒）　枳殼（麩炒）　檳榔　木香（各十兩）。</p>
<p>上為末，糊丸桐子大。每服五十，空滾水下。</p>
<p><u>開鬱正無散</u>　六</p>
<p>白朮　陳皮　青皮　香附　山楂　海粉　潔梗　茯苓　砂仁　延胡　麥芽　甘草　神麯（各等分，炒）。</p>
<p>上銼。每服一兩，生薑三片，水煎服。</p>
<p><u>桃奴散</u>　七</p>
<p>桃奴（炒，即桃樹上未熟不落之干桃子也）　雄鼠糞（炒，兩頭尖者是）　延胡索　肉桂　五靈脂　香附　縮砂仁　桃仁（各等分）。</p>
<p>上為末，每服三錢，溫酒調下。</p>
<p><u>蔥白散</u>　八</p>
<p>當歸　熟地　赤芍　川芎　人參　茯苓　枳殼　肉桂　厚朴　乾薑　木香　青皮　莪茂　三稜　茄香　神麯　麥芽苦楝子（各等分）。</p>
<p>上末，加蔥白三寸，食鹽五分，煎服三錢。大便結燥者，去鹽加大黃，大便自利加訶子。</p>
<p><u>烏雞丸</u>　九</p>
<p>烏骨雄雞（一隻，要肉毛者）　烏藥　蛇床子　丹皮　人參　白朮　黃耆（各一兩）　蒼朮（一兩五錢，米泔浸切焙）　海桐皮　肉桂（去粗皮）　附子（制）　川烏（制）　紅花　白芍　莪朮　陳皮（各一兩）　延胡索　木香　肉蔻　熟地（焙）　琥珀　草果（各一兩五錢）。</p>
<p>上藥細銼，將雞湯撏去毛及腸肚，放藥於內，用新磁瓶以好酒一斗同煮，令乾，去雞骨，以油單盛，焙乾為細末，煉蜜和丸，如桐子大，每服三十丸。</p>
<p>胎前產後傷寒，蜜糖酒下；胎前氣悶壯熱，炒姜酒下；赤白帶下，生薑地黃酒下；產後敗血注心，重便炒姜灑下；產後血塊填築，心腹疼痛，延胡酒下；胎前嘔逆，薑湯下；催生，炒蜀葵子酒下；安胎，鹽酒下；室女經脈當通不通，四肢疼痛，紅花酒下；血氣攻刺．心腹疼痛，煎當歸酒下；血暈，棕櫚燒灰酒調吞下；血悶，煎烏梅湯研碳砂下；子宮久冷，溫酒或棗湯下，空心日一服；血風勞，人參酒吞下；小腹㽲痛，炒茴香鹽酒吞下；血散四肢，遍身虛浮黃腫，赤小豆酒下；血邪，研硃砂麝香酒下；常服溫酒醋湯任下，空心食前服。</p>
<p><u>當歸散</u>　十</p>
<p>當歸　川芎（各二錢）　鱉甲（三錢，醋炙）　吳萸　桃仁（十五粒）　赤芍　肉桂（各一錢）　檳榔　青皮（各八分）　木香　莪茂　川大黃（各七分）。</p>
<p>上為末，每服一錢，水一盞，入於胭脂一錢，同煎六分服，食後。</p>

<h1>卷四</h1>

<h2>嗣育門</h2>

<h3>胎孕之原　一</h3>
<p>《經》曰：丈夫二人腎氣盛，天癸至，精氣溢瀉，陰陽和，故能有子。女子二七天癸至，任脈通，太衝脈盛，月事以時下，故有子。天癸者，天一之真氣也。蘊藏於命門之中，男必待二八腎氣盛，女必待二七任脈通．故精氣溢瀉，月以時下，與後天水穀日生之精，混合而盈，陰陽和，乃能有子。然男屬陽，陽應日，故精盛而日舉；女屬陰，陰應月，故血盛而月下。男女交媾，其先後天之精氣，妙合而凝，始能成孕。當是之時，陽盛成男，陰盛成女，先哲有云：乾道成男，坤道成女，理所然也。</p>

<h3>不孕之故　二</h3>
<p>婦人纖疴不作，始能有子。若為三因之邪，傷其衝任二脈，則月經不調、赤白帶下、崩經漏血諸病生焉。或宿血積於胞中，以致新血不行；或胞寒胞熱，不能攝精。或體盛痰多，脂膜壅塞子宮，諸如此類，皆不孕之故也。當細審其因，按證調治，俾無疾作，乃可望其麟趾呈祥矣。然其男子有無疾病，亦所當察，設有腎虛精滑、精冷精清，或臨事不堅，流而不射，盜汗夢遺，便濁淋澀等類，欲望其苗而秀，秀而實者，未之有也。</p>

<h3>男女完實　三</h3>
<p>男子十六而精通，必待三十而娶；女子十四而經至，必俟二十而嫁。所以然者，皆欲陰陽完實，然後交而孕，孕而育，育而其子必堅壯長壽也。今未笄之女，天癸始至，已近男色，則陰氣早瀉，未完而傷，未實而動，所以雖交而不孕，孕而不育，育而其子必脆弱不壽矣。為人父母者，不可以不知此。</p>

<h3>種子時候　四</h3>
<p>聚精之道，惟在寡欲，交接女子，必乘其時。蓋婦人一月經行一度之後，必有一日氤氳之時，氣蒸而熱，如醉如癡，有欲交不可忍之狀，乃天然節候，是成胎生化之真機，志欲種玉者，慎勿失此機也。</p>

<h3>論成男女　五</h3>
<p>成男女之說，著論紛紛。先賢有以血先至里精則成男，精先至里血則成女，精血散分並里，則為駢胎品胎之原者；有以月水盡後，一三五日成男，二四六日成女，與夫經水斷後，一二日成男，四五日成女者；有以受氣於左子宮成男，受氣於右子宮成女者。皆各執一見，殊為謬誕。蓋獨男獨女之胎，或可以日數論，駢胎品胎，或男或女，亦可以日數論乎？稽之史載，一產三子四子，有半男半女，或男多女少，男少女多者，則一三五日為男，二四六日為女之說，不可憑矣。抑豈有一日受男，而二日復受女之理乎？胞，命門也。在男子曰精室，在女子曰子宮，形如合缽，並無兩岐可分，曰左右，則是有兩子宮矣。此說尤屬不經。然則何以定之？亦惟以會合天人，陽盛乾道成男，陰盛坤道成女，斯足為的確不易之論耳。</p>

<h3>雙胎品胎　六</h3>
<p>古以雙胎乃精氣有餘，岐而分之，血因分而攝之故也。若男同孕者，剛日陽時也；女同孕者，柔日陰時也。男女同孕者，剛日陰時，或柔日陽時也。其他或有不成男女，男不可為父，女不可為母，與男女之兼形者，又皆陰陽變常，駁氣所感，事之所有，理之所無，莫可稽考者也。</p>

<h3>脈知有子　七</h3>
<p>《經》曰：婦人手少陰脈動甚者妊子也。少陰者，心也。動者，滑利不散之義，乃血液斂結之象。《經》又曰：陰搏陽別，謂之有子。陰謂尺中，陽謂寸上。蓋女子系胞於腎。乃孕胎之根蒂。搏者，搏擊之謂。若兩尺搏指，久按不歇，與兩寸迥然相別，皆有子之診也。其脈滑疾不散，胎必三月；但疾不散，五月孕母。至此男女形質已具，預知之法，須憑兩尺，左尺沉實為男，右尺浮大為女。蓋沉實者，陽內之象；浮大者，陰中之體也。以此察之，最為確當。及八九月後，血氣流散，脈則和平，宛若無孕，非醫者深明脈理，病家肯言其故，難以一診而知也。</p>

<h3>男女胎形　八</h3>
<p>胞孕男女，向背不同，娠母腹形，迥然各異。蓋男胎面向母背，則背脊抵腹，其形中正高圓，如釜之狀；女胎面向母腹，其足膝抵腹，下大上小，如箕之形。故曰男腹如釜，女腹如箕。其動男每在三五月，女多在四六月，此定以奇偶之數，理有然也。</p>

<h3>孕病辨疑　九</h3>
<p>婦人經水不來，孕病恍惚者，於五月之後，驗之以乳。若乳房升大，且有乳者，孕也。設不升大，更兼無乳，病也。以此辨之，足為捷徑。</p>

<h3>辨分經養胎　十</h3>
<p>觀巢元方曰：妊娠一月名胚胎，足厥陰脈養之；二月名曰始膏，足少陽脈養之；三月名始胎，手心主脈養之，當此時，血不流行，形象始化；四月始受水精以成血脈，手少陽脈養之；五月始受火精以成氣，足太陰脈養之；六月始受金精以成筋，足陽明脈著之；七月始受木精以成骨，手太陰脈養之；八月始受土精以成膚革，手陽明脈養之；九月始受石精以成毛髮，足少陰脈養之；十月足太陽脈養之，五藏六府，關節人神畢備而生矣。凡胎受於胞中，則手足十二經脈，其氣血晝夜周流，俱以擁養胎元，豈有逐月分經，某月某經養之之理乎？又有推巢氏養胎之說，謂四時之令，必始於春，所以一月二月間，是足厥陰少陽木也；三月四月間，手厥陰少陽火也；五月六月間，足太陰陽明土也；七月八月間，手太陰陽明金也；九月十月間，足少陰太陽水也。惟手少陰太陽二經，無所專養者，以君主之官，無為而已。此說更為不經。夫胎稟二五之精，凝聚而成胚，此孕形之肇也。雖身軀臟府未分，而其理無一不具，猶太極渾然包羅萬象，而陰陽之一氣，氤氳浸漸，化生而成。子母分形，自然而然，如瓜果成熟，殼脫蒂落也。</p>

<h3>分房靜養　十一</h3>
<p>妊娠之後，須分房靜養，恐動相火，致生胎毒也。宜謹戒飲食，慎節厚味，使脾胃調和，母之氣血易生，則子之形成必育，更內調七情，外避風寒，勿持重，勿過勞，勿安逸多睡，勿登高涉險，務起居安順，則母無病而子亦安矣。</p>

<h3>安胎母子二法　十二</h3>
<p>胎氣不安，有母子二因，詳因施治，乃其善也。若因母有他病，以致胎動者，但療其母，母安則胎自安。或因胎有所觸動，以致母病者，惟直安胎，胎安而母自愈矣。</p>

<h3>胎前用藥三禁　十三</h3>
<p>丹溪曰：胎前當清熱養血為主，恐傷陰血也。理脾疏氣為要，脾健則氣血易生，氣順則氣血調和，理脾疏氣兼以清熱養血，則胎自安矣。三禁者，汗、下、利小便也。蓋恐過汗亡陽以傷氣，過下亡陰而傷血，利小便傷其津液也。然又當詳審表裡虛實而冶之，惟不可過峻為要也。</p>

<h3>安胎用藥審宜　十四</h3>
<p>朱丹溪曰：白木黃芩，為安胎聖藥。俗醫謂溫劑可以養胎，不知胎前最宜清熱，令血循經下行，故能養胎，如鍾懸在梁，梁軟則鍾墜，白朮益脾，以培萬物之母，條芩瀉火，能滋子戶之陰，興其利而除其害，其胎自安。故黃芩安胎，為上中二焦藥。趙養葵曰：胎莖系干腎，猶鍾繫於梁，棟柱不固，其梁必撓，所以安胎，先固兩腎，使腎中和暖，始脾有生氣，何必以白朮黃芩為安胎耶。所用之方，六味八味。玩二公創論，各執一偏，有不可以概胎前諸證者。夫人稟賦強弱不一，氣血虛實各異，即其疾病不無寒熱之殊，且胎前用藥，最貴審宜，設一不當，必致墮隕，欲知其要，惟氣血寒熱而已。如脾虛有熱，丹溪之法為宜；腎乏水火，趙氏之用甚善。至血虛腹痛者，非歸芍養之不除；氣虛下墜者，必參耆舉之始安；觸犯腰痠者，固之務需杜續；胎迫胸滿者，開之須藉腹蘇。總之，誠能參合脈證，酌其適宜，何施不可？即半夏、烏、附、肉桂、大黃，先哲每用安胎，未嘗墮隕，第須洋其寒熱，乃為善耳。《經》曰：婦人重身，毒之何如？有故無隕；亦無隕也。其斯之謂歟！</p>

<h2>嗣育門備用匯方</h2>
<p><u>加味地黃丸</u>　一</p>
<p>治婦人經水不調，必不能受孕，即使受之，亦不全美，宜常服此方。</p>
<p>熟地（四兩）　山萸肉　山藥（各二兩，炒）　牡丹皮（灑蒸）　白苓（一兩五錢，乳制）　建澤瀉（切鹽水浸炒）　香附（童便浸三次，各一兩）。</p>
<p>上為末，煉蜜丸，如桐子大。每服七十丸，白沸湯送下。</p>
<p><u>滌痰湯</u>　二　又名植芝湯</p>
<p>治婦人胞盛者，多不受孕，以身中有脂膜閉塞子宮也。以此湯送服後滌痰丸。</p>
<p>當歸（一兩）　茯苓（四兩）　川芎（七錢五分）　白芍藥　白朮　半夏（薑製）　香附米　陳皮　甘草（各一兩）。</p>
<p>上作十貼，姜三片，水煎，吞後丸子。</p>
<p><u>滌痰丸</u>　三　又名茂芝丸</p>
<p>白朮（二兩，土炒）　半夏曲　川芎　香附米（各一兩）　神麯（炒）　茯苓（各五錢）　橘紅（四錢）　甘草（二錢）。</p>
<p>上為末，粥丸。每服八十丸。如熱者，加黃連枳實各一兩。</p>
<p><u>大補丸</u>　四</p>
<p>治婦人瘦弱，多由血少不能受孕，宜常服此方。</p>
<p>天冬（去心）　麥冬（去心）　菖蒲　茯苓　人參　益智仁　枸杞　地骨皮　遠志肉。</p>
<p>上為細末，煉蜜為丸，如桐子大。空心酒下三十丸。</p>
<p><u>蓯蓉菟絲子丸</u>　五</p>
<p>肉蓯蓉（一兩三錢）　覆盆子　蛇床子　川芎　當歸　菟絲子（各一兩二錢）　白芍（一兩）　牡蠣（鹽泥固煅）　烏賊　魚骨（各八錢）　五味子　防風（六錢）　條芩（五錢）　艾葉（三錢）。</p>
<p>上為末，煉蜜丸，如恫子大。每服三四十丸，鹽湯下，早晚皆可服。</p>
<p><u>調經丸</u>　六</p>
<p>理氣養血，調經種子。</p>
<p>香附（四制）　杜仲（各八兩，薑汁炒）　大川芎　白芍藥　當歸（去尾）　懷生地　陳皮　小茴香（酒炒）　延胡索（略炒）　肉蓯蓉（酒炒）　舊青皮（麩炒）　臺馬藥（炒）　枯黃芩（酒炒）　烏賊魚骨（醋炙）以上各四兩。</p>
<p>上十四味稱足，真正好醋和麵打糊為丸，如桐子大。每服百丸，空心好酒送下。</p>
<p>一方無陳皮、地黃，有人參、黃耆各二兩。</p>
<p><u>經驗育胎丸</u>　七</p>
<p>治婦人久無子嗣，服此經調血盛，子宮溫暖成孕。孕後服之，可保胎氣堅固。</p>
<p>當歸（酒洗）　熟地　白朮（土炒）　香附（各四兩，四制）　砂仁（三兩，炒）　白芍（酒炒）　川芎　續斷（酒洗）　陳皮　黃芩（各二兩，酒炒）。</p>
<p>上為細末，糯米糊丸，如桐子大。每服七八十丸，空心淡醋湯下，酒亦可。以乾物壓之。</p>
<p><u>艾附暖宮丸</u>　八</p>
<p>治婦人子宮虛冷．帶下、白淫，面色痿黃，四肢疼痛，倦怠無力，飲食減少，經脈不調，血無顏色，肚腹時痛，久無子息。服此藥須戒惱怒，忌生冷。累甲經驗。</p>
<p>香附子（六兩，用醋五升，以砂石罐煮一晝夜，搗爛成餅，慢火焙乾）　艾葉（去梗）　川芎（各三兩，酒洗）　吳茱萸（去梗鹽制）　黃耆　白芍（各二兩，酒炒）　續斷（一兩五錢，去蘆）　生地黃（一兩，酒洗）　官桂（五錢）。</p>
<p>上為細末，用好醋打糊為丸，如桐子大。每服五七十丸，淡醋湯食遠下。</p>
<p>擇壬子日，或天德月德日修合。</p>
<p><u>驗胎散</u>　九</p>
<p>婦人兩三個月，月經不行，疑是兩身，卻疑血滯，心煩、寒熱、恍惚，此藥可驗。</p>
<p>真雀腦芎（一兩）　全當歸重一兩者只用七錢。</p>
<p>上二味為細末、分作二服，濃煎燈艾湯一盞調下、或好酒調服，待三兩個時辰間，覺臍腹微動仍頻，即有胎也。動罷即愈，安穩無虞。如不是盼，即不動，所滯惡物自行，母亦安也。如服藥不覺效，再煎紅花湯調下，必有效應。</p>
<p><u>女金丹</u>　十　一名勝金丸</p>
<p>治婦人久虛，或產後頭調，觸犯禁忌，斷產少子及經事遲來，赤白帶下，腰腳重痛，寒熱不一，身體瘦削，眩暈嘔逆。此藥善調經候，每日一九。若胎前二日一丸．產後二日一丸，一切雜證效難具述，珍之寶之。</p>
<p>香附（十五兩，醋浸三日）　當歸　川芎　白芍　人參　白朮　白苓　甘草　桂心　白薇　延胡索　牡丹皮　藁本　白芷　沒藥（另研）　赤石脂（各一兩，另研）。</p>
<p>上除香附、沒藥、石脂，餘十三味，用好酒浸三日，曬乾，同香附為末，方入沒藥、石脂，煉蜜為丸，如彈子大。每服一丸，五更初嚼碎，溫酒送下，白湯亦可。此藥多在四十九丸後，以癸水調平受孕為度。倘有孕，依前三日一服，無所忌戒。一方去沒藥加沉香，一方去桂心加熟地黃，丸如桐子大，每服五十丸，空心溫酒或白湯下，以乾物壓之。</p>

<h1>卷五</h1>

<h2>胎前諸證門</h2>

<h3>胎證總領　一</h3>
<p>妊婦胎前，變顯極多。其最易犯者，惡阻、胞阻、子腫、子氣、子滿、子煩、子懸、子癇、子嗽、子淋、轉胞、激經、胎漏、尿血、吐血、胎動不安、墮胎、小產、滑胎、子死腹中、臟燥、鬼胎、腸覃、石瘕、母子盛衰等證，共計廿四條，皆當一一詳辨。其餘胎前傷寒、傷食、瘧痢、霍亂、泄瀉等疾，當於雜證門中參考施治，但須時刻保護胎原，不致誤犯為要耳。</p>

<h3>惡阻　二</h3>
<p>妊孕月餘，噁心嘔吐，名曰惡阻。蓋婦人受胎之後，胎門壅塞，臟氣內阻，挾胎氣衝逆於胃，中宮郁遏，不能舒布，以致頭目昏眩，心虛煩悶，體重肢倦，嗜酸擇食，輕者勿藥可愈，重者必須調理。治此之法，惟求於胃，審其寒熱，辨其痰飲，或胃素虛，或氣攻衝，隨宜施治，鮮不效矣。</p>
<p>若胃素虛者，保主湯；胃寒者，必喜熱飲，六君子湯，吐多痰水，且心煩頭目眩暈者，其入必胃中素有停飲也，宜加味六君子湯；若嘔吐心中煩熱憒悶，喜飲涼漿者，胃熱也，加味溫膽湯；倘愈止愈急者，須效仲景法，停藥月餘自安。</p>
<p>保生湯　本門一</p>
<p>六君湯　見經閉門五</p>
<p>加味六君湯　本門二</p>
<p>加味溫膽湯　本門三</p>
<p>參橘飲　本門四</p>

<h3>胞阻　三</h3>
<p>孕婦腹痛，名曰胞阻。致此之由，有食滯、胎氣、胞寒、水熱之分。欲察其因，須審痛處。若在心胃分界者，屬食屬滯，消導即愈。在少腹之間，小便清利者，必因胞血受寒，法當養血，溫暖下焦，或小水閉澀而痛者，則是膀胱蓄熱所致，但清熱決水，其治無難。惟腹痛連腰，乃胎氣作祟，或有觸犯而然，治此不易。若兼下血，尤屬可畏。何也？蓋胎繫於腎，腰者腎之府也。若不急為安養，恐墮隕接踵而至矣。</p>
<p>若心胃作痛者，食傷停滯也，宜加味平胃散；若大便秘結日久，加大黃以攻之，必倍甘草以緩其峻，庶不傷胎；若少腹作痛者，乃胞血受寒也，宜加味芎歸飲；小便閉澀而痛者，膀胱積熱也，導赤散；若水盛陽虛不化者，宜五苓散；苦內熱大小便閉者，蜜消煎；腰腹作痛，胎動下血者，宜延胡四物湯，定痛而保胎。下血更多而痛者，須防墮胎，宜加味膠艾四物湯。</p>
<p>加味平胃散　本門五</p>
<p>加味芎歸飲　本門六</p>
<p>導赤散　本門七</p>
<p>五苓散　本門八</p>
<p>蜜消煎　本門九</p>
<p>延胡四物湯　本門十</p>
<p>加味膠艾四物湯　本門十一</p>

<h3>子腫子氣子滿皺腳脆腳　四</h3>
<p>孕婦頭面浮腫，或漸及遍身，小便短澀者，水氣為病也，名曰子腫。自足腫至膝，或指縫出水，小便長利者，濕氣為病也，名曰子氣。若遍身俱腫，腹脹而喘，在六七個月之間者，名曰子滿。但兩腳腫而膚厚者屬濕，名曰皺腳；皮薄者屬水，名曰脆腳。大凡水之為病多喘促，氣之為病多脹滿。喘促屬肺，脹滿屬脾也。以其人素有水氣濕邪，故受孕有腫滿之證。兒未成形，被水浸漬，其胎每致損壞。已成形者，尚可調治。故五六個月後而有是證者，每多生育，但兒手足軟而有疾耳。</p>
<p>子腫，全生白朮散；子氣，天仙藤敞；子滿、皺腳、脆腳，茯苓導水湯；子腫、子氣亦宜准此。</p>
<p>全生白朮散　本門十二</p>
<p>天仙藤散　本門十三</p>
<p>茯苓導水湯　本門十四</p>

<h3>子煩　五</h3>
<p>孕婦別無他證，惟時時心煩者，名曰子煩。由陰既養胎，孤陽獨旺，上乘於心，故使煩熱不寧也。宜知母飲加減主之，或犀角散亦可。</p>
<p>知母飲　本門十五</p>
<p>犀角散　本門十六</p>

<h3>子懸胎上逼心　六</h3>
<p>孕婦心胸脹滿，名曰子懸，由其人累有寒氣，重因食冷，與氣相傳，故胸次脹滿不舒也。更加喘甚者，名為胎上逼心，其因亦然。調之之法，咸直流氣養血為主，惟紫蘇飲兼善其功。</p>
<p>紫蘇飲　本門十七</p>

<h3>子癰　七</h3>
<p>孕婦忽然顛仆，痰涎壅盛，抽搐不省人事，須臾自醒，頃復如常，名曰子癇。乃肝心二經血虛所致。蓋血虛則主熱，熱盛則生風也。《經》曰：諸風掉眩，皆屬於肝。始發之際，宜疏風清熱，既醒之後，須以養血為主，所謂血和風自滅耳。</p>
<p>若抽搐微者，羚羊角散；甚者鉤藤湯主之。若口眼歪斜，半身不遂，則已成中風廢證，當於中風門參考。</p>
<p>羚羊角散　本門十八</p>
<p>鉤藤湯　本門十九</p>

<h3>子嗽　八</h3>
<p>妊娠咳嗽，名曰子嗽。有感冒風寒、痰飲上逆、陰虛火動之不同。若不速治，久必傷胎。感冒者，必有表證可據，一散可解。痰飲上逆者，痰涎必多，法當理氣化痰。陰虛火動者，身體壯熱，其嗽午後益甚，須以壯水滋金為主，則痰可瘳而胎可保矣。</p>
<p>若感冒風寒者，桔梗湯；痰逆涎盛者，枳桔二陳湯；久嗽陰虛者，麥味地黃湯。</p>
<p>桔梗湯　本門二十</p>
<p>枳潔二陳湯　本門二一</p>
<p>麥味地黃湯　見經閉門四</p>

<h3>子淋　九</h3>
<p>孕婦小便頻數，窘澀點滴疼痛者，名曰子淋。由氣血聚養胎元，不及輸運滲道，遂使膀胱鬱熱，小水為之不利也。法當養血清熱，佐以利水。然亦有中氣虛弱，無力升提，胞壓於脬，因致小水不利者，須從升補，別之之法，在脈有力無力間也。</p>
<p>若因膀胱鬱熱者，加味五淋散，或安榮散。日久倦怠，脈虛弱者，補中益氣合四苓散，舉而利之。</p>
<p>加味五淋散　本門二二</p>
<p>安榮散　本門二三</p>
<p>補中益氣合四苓散　本門二四</p>

<h3>轉胞　十</h3>
<p>妊娠臍下急痛，欲小便不得，飲食如常，心煩不能安臥者，名曰轉胞。凡尿急疾趨，或忍尿飽食，胎因下墜，壓及胞系，水竅閉遏，故有是證，當升提其胎。胎舉而胞系亦疏，水道自通矣，不可滲利非獨無益也。宜先用丹溪舉胎法，令穩婆剪去指甲，香油塗手，從玉門托起其胎，則尿自出，暫救其急，遂以舉胎四物湯，煎服探吐。如是三四次，則胎舉而小便通利矣。若其素賦氣虛者，用補中益氣湯，服吐如上法亦安。倘若不應，乃繫有飲，宜阿膠五苓散，清而利之。</p>
<p>舉胎四物湯　本門二五</p>
<p>補中益氣湯　見月經門四八</p>
<p>阿膠五苓散　本門二六</p>

<h3>激經　十一</h3>
<p>婦人受孕之後，經夏循月者，名激經。緣胎尚徽，其血榮養有餘，故坦然無恙。勿妄治療，俟胎形漸長，則血壅護胞中，而經不再見矣。今世云七八月產子者，率都由此，惜人未能察耳。</p>

<h3>胎漏　十二</h3>
<p>妊娠下血，其腹不痛，謂之胎漏。由衝任脈虛，不能約制血海，或胞中蓄熱，致使經水妄行，或勞役傷脾，無力統攝歸原，或怒氣傷肝，因得疏泄肆權，故血時下，淋漓不止也。當為速治，否則胎於而壅矣。</p>
<p>若衝任氣虛者，其漏下黃汁，或如豆汁，黃耆湯或銀苧酒；胞中蓄熱，其血必多，或色紫黑，阿膠湯清之；勞役傷脾者，歸脾湯；怒氣傷肝者，加味逍遙散。</p>
<p>黃耆湯　本門二七</p>
<p>銀苧酒　本門二八</p>
<p>阿膠湯　本門二九</p>
<p>歸脾湯　見月經門十四</p>
<p>加味逍遙散　見月經門十</p>

<h3>尿血　十三（附胎動胎漏尿血辨）</h3>
<p>妊娠尿血，由於胞熱，或勞怒動火，血為火熱搏激，遂滲入膀胱，故血從尿出，治此之法，唯血餘四物湯，或加山梔仁，足稱神劑。</p>
<p>血餘四物湯　本門三十</p>
<p>按胎動、胎漏、尿血三證俱見下血，第胎動腹痛，胎漏腹不痛。然胎漏、尿血。腹皆不痛，亦有差別，尿血出自溺孔，胎漏出自人門為異耳。</p>

<h3>吐血　十四</h3>
<p>妊娠吐血，皆屬於熱。蓋氣血壅聚胞元，胞中恆多鬱熱，或為暴怒傷肝，或因膏梁積胃，一有於犯，則火乘氣上，血隨而溢也。</p>
<p>若胞中鬱熱者，芩連四物湯；怒動肝火者，加味逍遙散；膏梁積胃者，清胃飲；胃經有火者，犀角地黃湯。</p>
<p>芩連四物湯　見月經門二</p>
<p>加味逍遙散　見月經門十</p>
<p>清胃飲　本門三一</p>
<p>犀角地黃湯　見月經門四五</p>

<h3>胎動不安墮胎小產滑胎　十五</h3>
<p>氣血充盛，形體壯實，則胎元安固，何患之有。加以調攝，穩如磐石。苟或衝任虛損，勞役太過，因患他疾延綿，偶為磕觸跌撲，或暴怒以傷肝，或房勞而虧腎，此不安、墮胎、小產、滑胎所由出也。蓋衝任虛損，胞中乏其蔭養；勞役太過，氣血難以周榮；他疾延綿，則胞蒂萎而不固；磕觸跌撲，則胎元損而難安；暴怒傷肝，則疏泄用事，子宮受搏，因而不能弭靜；房勞虧腎，則封藏失職，真元盜泄，難御欲火熬煎。今世患是證者，率由乎此。然小產、墮胎亦自有別。五七月，兒體已成，名為小產。二三月形象未備，謂之墮胎。若懷孕三五七月，無故而隕及下次受娠亦復如是者，名曰滑胎。犯此者，宜預補肝腎，以杜後患。尤宜戒房欲，節勞役，庶幾有濟。種植者可不慎歟。</p>
<p>若衝任虛損，勞沒太過，腹痛不下血者，加味聖愈湯；腹痛已下血者，加味佛手散；因患他疾干犯者，十聖散；磕觸跌撲胎欲墮者，芎藭湯調下益母丸；暴怒傷肝者，逍遙散；房勞虧腎者，地黃飲；慣於滑胎者，尤宜長需。倘腹痛連腰，血下時多，挽留難矣。蓋胎繫於腎，腰為腎府也。若胎已墮，血下不止，面黃唇白者，脫榮怔也，急用獨參湯，峻補其氣，以生其血。斯時也，有形之血不能速生，無形之氣所當急顧，使無形主出有形也。若惡血瘀滯不行，腹脅脹痛者，宜於回生丹、益母丸，酌其宜而用之。屢經墮胎者，宜千金保胎丸。</p>
<p>加味聖愈湯　本門三二</p>
<p>加味佛手散　本門三三</p>
<p>十聖散　本門三四</p>
<p>芎藭湯　本門三五</p>
<p>益母丸　本門三六</p>
<p>逍遙散　見月經門九</p>
<p>地黃飲　本門三七</p>
<p>獨參湯　本門三八</p>
<p>回生丹　見後產後門六六</p>
<p>千金保胎丸　本門三九</p>

<h3>子死腹中　十六</h3>
<p>妊婦胎死，須先驗舌。其色青而面紅和者，子死之證也。當急驅逐，不可遲延。更兼肚腹脹大，或腹如冰，甚而冷沖嘔惡，口出穢氣者，最危之候也，尤宜急下。然必審其虛實，別其寒熱，隨直施用，方盡活人高手。</p>
<p>若人虛羸者，佛手散大加肉佳；人壯實者，平胃散加芒消</p>
<p>佛手散　月經門八</p>
<p>平胃散　本門四十</p>

<h3>子母存亡辨　十七</h3>
<p>凡妊婦一切凶危之候，欲知子母存亡者，當於孕婦面舌之色定之。若面赤舌青，其子必死，面青舌赤其母已亡。倘面舌俱見青色，兩口角流涎沫者，子母二命皆難保也。</p>

<h3>胎兼癥瘕　十八</h3>
<p>凡妊婦素有癥瘕，或新有病當攻者，俗云：有娠不可攻削。此臆說也。《經》曰：婦人重身，毒之何如？有故無殞亦無殞也。言藥雖峻利，有病則病受之，不能傷及胎氣，故重示「亦無殞也」之句。但宜衰其大半而上，毋過孟浪。又何必據有娠不可攻之說也耶。</p>

<h3>胎萎不長　十九</h3>
<p>夫胎處於胞中，全賴氣血滋養。凡妊娠至五六月，其胎萎不長者，由妊母稟賦虛羸，氣血虧弱而然。但當大補中州，使飲食日進，氣化有自，血因以生，更當大補氣血，則胎自長而不萎矣。</p>
<p>若脾胃久虛，飲食不迸者，六君子湯；氣血兩虧者，八珍湯。</p>
<p>六君子湯　見經閉門五</p>
<p>八珍湯　見月經門二三</p>

<h3>子喑　二十</h3>
<p>妊娠至九月，聲音細啞者，謂之子喑。蓋足少陰之脈系舌本，因胎形長大，阻遏其脈，不能上至於喉，故發言不亮，非絕然無聲也。不必治療，俟十月子生，其絡復通，則能言矣。岐伯有言曰：「無治也，當十月復」。</p>

<h3>子啼　二一</h3>
<p>孕婦腹內有鐘聲，或嬰兒在內啼哭者，名曰子啼。蓋兒在腹中，口含臍帶上血餅，因妊母登高舉臂脫出其口，故兒作聲。令妊婦曲腰如拾物狀，仍入兒口，則聲即止。古書雖載其證，然不經見，設偶有之者，惟黃連煎主之。</p>
<p>黃連煎　本門四一</p>

<h3>臟燥　二二</h3>
<p>孕婦無故時刻悲傷哀痛，象若神靈依憑者，名曰臟燥。夫悲者，肺情之所主；燥者，金氣之所化。因氣血壅養胎元，津液不能上奉，故肺燥而悲也。甘麥大棗湯主之。</p>
<p>甘誇大棗湯　本門四二</p>

<h3>鬼胎　二三</h3>
<p>邪思情感，鬼胎因生，夫鬼者，偽也。晝之所思，為夜之所見。婦女之情，心淫而動，則肝腎相火翕然而起，淫精異位，凝聚胞中，其形漸長，腹因漸大，儼若懷子，非實有鬼神交接而後始成也。《經》所謂思想無窮，所願不得，化為白淫者是也。法當攻積破血，則經通而腹消矣。宜於後石瘕腸覃條互參。</p>

<h3>腸覃石瘕　二四</h3>
<p>《經》曰：寒氣客於腸外，與衛氣相傳，氣不得榮，因有所繫，癖而內著，惡氣乃起，息肉乃生，其始生也，大如雞卵，稍以益大，至其成，如懷子狀，按之則堅，椎之則移，月事以時下。石瘕生於胞中，寒氣客於子門．子門閉塞，氣不得通，惡血當寫不寫，衃以留止，日以益大，狀如懷子，月事不以時下。皆生於女子，可導而下，由此觀之，雖皆如懷子狀，腸罩氣病而血不病，故月事以時下。石瘕先氣病而後血病，故月事不來也。</p>
<p>石瘕宜吳茱萸湯主之。腸覃宜香稜丸主之。</p>
<p>吳茱萸湯　見月經門三一</p>
<p>香稜丸　本門四三</p>

<h3>母子盛衰　二五</h3>
<p>娠母強壯，胎元盛實，則胎前產後但然無虞。倘孕氣萎弱者，則胎前病必多。母氣衰羸者，則產後疾迭見。以此察之，可預知也。</p>

<h3>胎孕變常記　二六</h3>
<p>李時珍曰：女子二七天癸至，七七天癸絕，此其常也。有女年十二十三而生子，如褚記室所載，平江蘇達卿之女，年十二受孕。有婦人年五十六十而生子，如遼史所載，亟普妻，年六十生二男一女。此又異常之尤者也。</p>

<h2>胎前門匯方</h2>
<p><u>保生湯</u>　一</p>
<p>人參　甘草（各二錢）　白朮（土炒）　香附子　烏藥（炒）　橘紅（各五錢）。</p>
<p>上銼，每服三錢，姜五片，煎服。</p>
<p><u>加味六君湯</u>　二</p>
<p>人參　白朮（土炒）　茯苓　陳皮　半夏（各一錢五分，制）　甘草（五分，制）　藿香葉　枇杷葉（各一錢，制）　縮砂仁（炒）　枳殼（各八分，炒）。</p>
<p>上銼，生薑煎服。</p>
<p><u>加味溫膽湯</u>　三</p>
<p>陳皮　半夏（制）　茯苓（各一錢）　甘草（五分，炙）　枳實　竹茹　黃芩（各一錢）　黃連（八分）　麥冬（二錢，去心）　蘆根（一錢）。</p>
<p>上銼，薑棗煎服。</p>
<p><u>參橘飲</u>　四</p>
<p>人參　橘皮　茯苓　麥冬（去心）　厚朴（薑汁炒）　白朮（各一錢，土炒）　甘草（五分，制）　竹茹（一團）。</p>
<p>上銼，加生薑煎服。</p>
<p><u>加味平胃散</u>　五</p>
<p>厚朴（薑汁炒）　蒼朮（米泔浸炒）　陳皮　甘草（炙）　人參（各一錢）。</p>
<p>上為末，每服三錢，加姜煎服。大便秘結，加大黃倍甘草。</p>
<p><u>加味芎歸湯</u>　六</p>
<p>當歸（五錢，酒洗）　川芎（二錢）　吳茱萸（八分，甘草水制）　靳艾（酒炒，一錢）　甘草（六分，炙）　阿膠（二錢，蛤粉炒）　人參（一錢，去蘆）。</p>
<p>水煎溫服。</p>
<p><u>導赤散</u>　七</p>
<p>生地（三錢）　木通（二錢）　甘草梢一錢。燈心一團，煎服。</p>
<p><u>五苓散</u>　八</p>
<p>白木（土炒）　茯苓　豬苓　澤瀉（各二錢半）　桂（三分）。</p>
<p>上銼，作一服，水煎服。</p>
<p><u>蜜消煎</u>　九</p>
<p>蜂蜜　芒硝。</p>
<p>上煎，溶化服。</p>
<p><u>延胡四物湯</u>　十</p>
<p>延胡索（三錢，酒煮透）　當歸（二錢，酒洗）　川芎（一錢五分）　熟地（二錢）　白芍（二錢，酒炒）。</p>
<p>上銼，水煎服。</p>
<p><u>加味膠艾四物湯</u>　十一</p>
<p>當歸（酒洗）　熟地　阿膠　白芍（各二錢，酒炒）　杜仲（一錢五分，鹽水炒）　靳艾（各八分）。</p>
<p>上加蔥白三寸，大豆淋酒煎服。芳因外感之邪加羌活一錢，或濁活以散之。</p>
<p><u>全生白朮散</u>　十二</p>
<p>白木（二錢半，土炒）　茯苓皮（一錢半）　陳皮　生薑皮　大腹皮　桑白皮（各一錢）。</p>
<p>上銼．水煎服，或為細末，每服三錢，米飲調下亦可。</p>
<p><u>天仙藤散</u>　十三</p>
<p>天仙藤（洗略炒）　香附子（炒）　陳皮　甘草　烏藥　木香（各等分）。</p>
<p>上銼，每服五錢，加生薑三片，紫蘇五葉，水煎日三服。腫消止藥。</p>
<p><u>茯苓導水湯</u>　十四</p>
<p>茯苓　檳榔　豬苓　縮砂　澤瀉　白朮　木瓜　大腹皮　桑白皮　蘇梗（各等分）。</p>
<p>上銼加生薑煎服。脹加枳殼；喘加苦葶藶子；腿腳腫加防己。</p>
<p><u>知母飲</u>　十五</p>
<p>知母　麥冬　甘草（各五錢）　黃耆　子芩　赤苓（各七錢五分）。</p>
<p>上㕮咀，每服四錢，水一盞，煎至七分，去滓入竹瀝一合，溫服。</p>
<p><u>犀角散</u>　十六</p>
<p>犀角尖（磨汁臨服投入）　地骨皮　赤茯苓　麥冬（去心）　條芩（各二錢）　甘草（五分）。</p>
<p>上銼，水煎，入竹瀝一合，溫服。</p>
<p><u>紫蘇飲</u>　十七</p>
<p>當歸　川芎　白芍（各二兩）　陳皮　蘇莖葉　大腹皮（各一兩）　甘草（炙）　人參量虛實用。</p>
<p>上㕮咀，每服五錢，水二盞，生薑五片，煎至一盞去滓服，日進二服。</p>
<p>有熱加黃芩、竹茹．心煩加羚羊角。有食加神麯、山楂。</p>
<p><u>羚羊角散</u>　十八</p>
<p>羚羊角（鎊）　獨活　酸棗仁　五加皮　防風　薏苡仁　杏仁　當歸（酒浸）　川芎　茯神（各五分，去木）　甘草　木香（各二分）。</p>
<p>上㕮咀，加生薑五片，水煎服。</p>
<p><u>釣藤湯</u>　十九</p>
<p>釣藤鉤　當歸　茯神　人參（各一兩）　苦桔梗（一兩五錢）　桑奇生（五錢）。</p>
<p>上為粗末，每服五六錢，水二盞，煎至一盞，去滓溫服無時，忌豬肉、菘菜。</p>
<p>煩熱加石膏二兩五錢。臨產月加桂心一兩。</p>
<p><u>桔梗湯</u>　二十</p>
<p>天冬（去心）　桑皮　桔梗　紫蘇（各五分）　麻黃（三分，去節）　貝母　人參　甘草（各二分，炙）。</p>
<p>上銼，加生薑，水煎服。</p>
<p>一方有杏仁無貝母。</p>
<p><u>枳桔二陳湯</u>　二一</p>
<p>陳皮　半夏　茯苓（各二錢）　甘草（五分，炙）　枳殼　桔粳（各一錢）。</p>
<p>上銼，姜水煎服。</p>
<p><u>加味五淋散</u>　二二</p>
<p>赤苓（二錢）　山梔（一錢，炒黑）　當歸（一錢）　白芍（二錢）　子芩（八分）　甘草（五分）　生地（二錢）　澤瀉（一錢）　車前（一錢）　木通（一錢）。</p>
<p>上水煎服。</p>
<p><u>安榮散</u>　二三</p>
<p>當歸　白芍（各二錢）　麥冬（一錢半，去心）　通草（一錢）　滑石（六分）　人參（一錢）。</p>
<p>水煎溫服。此方加石斛、山梔其效尤捷。</p>
<p><u>補中益氣合四苓散</u>　二四</p>
<p>人參（一錢）　黃耆（蜜炙）　白木（土炒）　當歸（各二錢）　升麻　柴胡（各五分）　陳皮（八分）　甘草（六分）　赤苓　澤瀉　豬苓（各一錢）。</p>
<p>上加薑棗煎，溫服。</p>
<p><u>舉胎四物湯</u>　二五</p>
<p>當歸（酒洗）　白芍（酒炒）　熟地　川芎　人參　白朮（各二錢，土炒）　陳皮　升麻（各一錢）。</p>
<p>上銼，水煎服。</p>
<p><u>阿膠五苓散</u>　二六</p>
<p>阿膠　澤瀉（各二錢）　豬苓　白木　茯苓（各一錢半）　肉桂（三分）。</p>
<p>上銼，水煎溫服。</p>
<p><u>黃耆湯</u>　二七</p>
<p>黃耆　糯米　川芎。</p>
<p>上銼細末，水二大盞，煎至一盞，溫服。一方無川芎。</p>
<p><u>銀苧酒</u>　二八</p>
<p>苧麻根（二兩，銼）　紋銀　清酒（一盞）。</p>
<p>上以水二大盞，煎至一大盞，去渣分溫二服。</p>
<p><u>阿膠湯</u>　二九</p>
<p>阿膠（炙燥）　熟地（焙）　艾葉（微炒）　川芎　當歸（焙）　杜仲（去粗皮炙銼）　白朮（各一兩）。</p>
<p>上㕮咀，每服四錢，水一盞半，棗三枚擘破，同煎至八分，去滓食前溫服。</p>
<p><u>血餘四物湯</u>　三十</p>
<p>血餘淨（一錢，煅灰）　生地（三錢）　白芍（二錢）　當歸（一錢半）　川芎（一錢）　白茅恨（一錢）。</p>
<p>上水煎溫眼，或加山梔仁更妙。</p>
<p><u>清胃散</u>　三一</p>
<p>生地（四錢）　丹皮（二錢）　黃芩（一錢半）　升麻（六分）。</p>
<p><u>加味聖愈湯</u>　三二</p>
<p>人參（一錢）　黃耆（二錢，蜜炙）　熟地（三錢）　當歸（三錢，酒洗）　川芎（一錢半）　白芍（一錢半）　杜仲（二錢，鹽水炒）　續斷（一錢半）　縮砂仁（一錢，炒）。</p>
<p>上加薑棗水煎溫服。</p>
<p><u>加味佛手散</u>　三三</p>
<p>當歸（五錢）　川芎（二錢）　阿膠（二錢，蒲黃炒珠）　蘄艾（一錢，醋炒）　杜仲（二錢，鹽水炒）　續斷（一錢五分）　白朮（二錢，土炒）　條芩（一錢）。</p>
<p>上水煎溫服。</p>
<p><u>十聖散</u>　三四</p>
<p>人參　黃耆　白朮　熟地　砂仁（各五分）　甘草（炙）　當歸　川芎　白芍（各一錢，炒）　川續斷（八分）。</p>
<p>上銼，水煎服。</p>
<p><u>芎歸湯</u>　三五</p>
<p>當歸（一兩）　川芎（五錢）。</p>
<p>上水煎服。</p>
<p><u>益母丸</u>　三六</p>
<p>益母草五月五日，或六月六日採，陰乾忌鐵器。</p>
<p>上一味，以石器碾為細末，煉蜜丸，彈子大，每用一丸，童便好酒研化服之。</p>
<p><u>地黃飲</u>　三七</p>
<p>熟地（四錢）　山藥（二錢，炒）　山萸（二錢，酒蒸去淨核）　白苓（一錢五分，乳制）　阿膠（一錢五分，蛤粉炒珠）　五味（五分，蜜酒浸炒）　杜仲（二錢，鹽水炒）　續斷（一錢五分）。</p>
<p>水煎服。</p>
<p>慣於小產滑胎者，將上分兩一倍，作十，加魚鰾二兩，兔絲子二兩，蜜丸梧子大，每服三錢，空心淡鹽湯送服，一料即愈。</p>
<p><u>獨參湯</u>　三八</p>
<p>用好人參二兩或四兩。</p>
<p>水煎徐徐服。</p>
<p><u>千金保胎丸</u>　三九</p>
<p>治婦人受孕，經三月而胎墮者，雖氣血不足，乃中衝脈有傷。中衝脈即陽明胃經，供應胎孕，至此時必須節飲食，絕欲，戒怒，庶免小產之患。服此可以保全。</p>
<p>白朮（土炒）　熟地（薑汁炒）　杜仲（各四兩，薑汁炒）　當歸（酒洗）　續斷（酒洗）　阿膠（蛤粉炒）　香附米（四制）　益母草　條芩（各二兩，炒）　陳皮　川芎　艾葉（各一兩，醋炙）　砂仁（五錢，炒）。</p>
<p>上為細末，棗肉為丸，如桐子大，每服百丸，空心米湯下。</p>
<p><u>平胃散</u>　四十</p>
<p>厚朴（三錢，姜炙）　蒼朮（一錢五分，米泔炒）　陳皮（一錢五分）　甘草（六分，炙）。</p>
<p>下死胎加芒硝一二錢，水煎溫服。</p>
<p><u>黃連煎</u>　四一</p>
<p>川黃連</p>
<p>上一味煎湯，調空房中鼠穴內土服。</p>
<p><u>甘麥大棗湯</u>　四二</p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）。</p>
<p>上以水六升，煮取三升，溫分三服，亦補脾氣。</p>
<p><u>香稜丸</u>　四三</p>
<p>木香　丁香（各半兩）　枳殼（麩炒）　三稜（酒浸一夕）　莪朮（細銼，每一兩用巴豆三十粒，去殼同炒，待巴豆黃色，去巴豆不用）　青皮　川楝子肉　茴香（各等分，炒）。</p>
<p>上為末，醋煮，麵糊丸桐子大，硃砂為衣，每服三十丸，姜鹽湯送下，或溫酒下，無時。</p>

<h1>卷六</h1>

<h2>生育門</h2>

<h3>臨產　一</h3>
<p>妊娠十月已足，腹內如覺動轉疼痛者，須舒體仰臥，或時時緩步，使兒身正，靜以待之，至其生育之時，自然順下，倘一慌忙，變必他出。</p>

<h3>產室　二</h3>
<p>產室之內，四時務要寒溫適中，若太熱、太寒，均不相宜。夏月必須清涼，勿令炎熱，致產母中暑暈迷。倘有其事，不妨少與涼水以解之，後隨證調理。冬月必須溫暖，勿令寒冷，以致血凝難產。當多備火爐，使產母腰背下身就火烘之，其產自易。</p>

<h3>穩婆　三</h3>
<p>臨產之家，必用穩婆，須預擇老成經練明白之人。無故切莫令其先使手法，如試水探漿等事，但令囑寬心寧耐，以待生時。如用狡猾之婦，前已應張，後復許李，草率了事，希圖微謝，其情莫測，嘗有之矣。</p>

<h3>驚生　四</h3>
<p>產房之內不可多人，蓋人多則語聲喧譁，產母之心必驚，驚則心虛膽怯，及至產時，多致困乏，號曰驚生。有如此者，須急急摒出，只留老成服役一二人，使寂靜而無嘈雜之聲，則母心始安，安則其胎亦寧靜矣。</p>

<h3>試胎弄胎　五</h3>
<p>妊娠八九個月時，或腹中痛，痛定依然如常者，此名試胎，宜養血以安其胎。若月數已足，腹痛或作或止，腰不痛者，此名弄胎。二者均非正產之時，切勿躁擾疑惑，惟宜寧靜以待其時。</p>

<h3>坐草　六</h3>
<p>凡產婦坐草，最要及時，不可太早。若兒身未順，寧可遲遲，寬心以待。倘坐草太早，非正產之時，妄使產母用力，兒身猶未轉順，因力逼迫難存，遂至橫生逆產，雖悔無及矣。</p>

<h3>臨盆　七</h3>
<p>凡兒之生，自有其時，時至則兒身轉順，頭頂正當產門，胞漿大來，腰重腹痛，穀道挺迸，產母中指中節或本節跳動者，乃為正產之時也，方可臨盆用力，一送兒自順生矣。</p>

<h3>交骨不開　八</h3>
<p>交骨不開，陰氣虛也。又有因初次胎產，骨縫緊狹者，均宜通其陰氣，直達至陰之所，惟開骨散為最良。</p>
<p>開骨散　本門一</p>

<h3>盤腸產　九</h3>
<p>盤腸產者，臨產之時，其腸先拖出，及兒已生，腸復收入。有不能收者，須以萆麻仁搗爛貼於頂心，內服升補之劑，如補中益氣湯，或八珍、十全大補等湯加升麻，以升舉之，其腸自收矣。</p>
<p>補中益氣湯　見月經門四八</p>
<p>八珍湯　見月經門二三</p>
<p>十全大補湯　見月經門二四</p>

<h3>橫產　十</h3>
<p>兒身未順，用力太早，逼其身橫，遂先露手，或先露臂，不能生下者，切莫喧徨，宜令產母安然仰臥，命穩婆剪去指甲，香油塗手，先推其手臂直上，漸漸逼身，以中指摩其肩，或以指攀其耳，務使兒身順正為妙，後用助氣養血之劑，一服可催而生矣。</p>

<h3>倒產　十一</h3>
<p>產母用力太早，致兒不能迴轉，便直下，先露其足者，不可驚恐，當令產母仰臥，命香生之人，椎其足入上，安然聽候，兒自順生矣。</p>

<h3>偏產　十二</h3>
<p>兒身未正，用力早逼，致兒頭偏在左腿，或偏於右腿，故不能生下，當令產母仰臥，次令穩婆以手正其頭，令兒頭頂端正，產母用力一送，便即生下。若兒頭後骨偏在穀道，只露其額，當令穩婆以綿衣炙溫，裡手於穀道外方，輕輕推兒頭正，令產母用力一送，兒即生也。</p>

<h3>礙產　十三</h3>
<p>兒身已順，正頂露而不能生下者，因兒身轉時，臍帶攀其肩也，當令產母仰臥，命穩婆款款推兒近上，徐徐引手，以中指按兒肩下，撥其臍帶，仍須候兒身正順，方令產母用力，兒即生矣。</p>

<h3>難產　十四</h3>
<p>難產之由，非只一端。或安逸貪睡。則氣滯不行；或奉養過甚，則胞肥太厚；或臨產驚恐，則氣怯；或用力太旱，則困乏；或胞傷血出，則血壅產路；或胞漿破早，則液幹道枯，皆致難產之由也。臨證之工，宜當詳審。</p>

<h3>催生　十五</h3>
<p>胎兒十月滿足，產母氣血盛實，如瓜熟蒂落，果熟香飄。生育自然，奚待催也。倘產母形氣羸弱，或臨盆坐草太早，以致母力困乏者，此不容不催也。第催之之法，亦各有宜，如因力逼致有橫倒，或誤破胞漿，產路乾澀者，咸以潤滑為主。羸弱困乏者，惟助氣血為要也。</p>
<p>若見橫生逆產者，推正之後，宜催生如意散，或三退散。胞漿破而產路乾澀者，滑胎散，或佛手散加冬葵子一合尤妙。形體羸弱，氣血虧乏者，惟保產萬全湯為最。此產婦常宜之劑，誠摻萬全之功者也。</p>
<p>催生如意散　本門二</p>
<p>三退散　本門三</p>
<p>滑胎散　本門四</p>
<p>佛手散　見月經門八</p>
<p>保產萬全湯　本門五</p>

<h3>斷臍法　十六</h3>
<p>嬰兒初生，先用剪刀向火烘熱，煎斷臍帶；次用火器，繞臍帶烙之。當以六才為度，不可過為短長，短則傷臟，長則損肌。斷訖又用烙臍餅子安灸臍上，以防風邪外入，隨用胡粉散敷臍帶間，用軟絹新綿封裡之，以避尿濕、風邪。如藥不備，即以細熟艾一塊，照依前法封裡，如斷臍時胞衣未下，斷臍後急以物墜繫於帶下，不但免其風邪乘入，旦無胞衣難下之患。</p>
<p>烙臍餅子　本門六</p>
<p>胡粉散　本門七</p>

<h2>生育門匯方</h2>
<p><u>開骨散</u>　一</p>
<p>當歸（五錢）　龜板（三錢，醋炙研）　川芎（二錢）　婦人發（一團，用生產過者燒存性）。</p>
<p>水煎眼。</p>
<p>嘗用催生，多無產後諸患。</p>
<p><u>催生如意散</u>　二　治橫生例產。</p>
<p>人參　乳香（各一錢，去油）　辰砂（五分，水飛）。</p>
<p>上為末，臨產時急用雞子清一個調藥末。再用薑汁調開冷服，即時順生，子母無恙。</p>
<p><u>三退散</u>　三　治橫生難產，子死腹中。</p>
<p>蛇退（一條）　蟬退（十四個，人退雞蛋大一團，即男子頭髮）。</p>
<p>上俱燒灰為末，分三服，酒調下。</p>
<p><u>滑胎散</u>　四　催生如神。</p>
<p>益元散（一兩）　蛇退（一條，燒灰存性）　蟬退（全者五個，燒灰）　穿山甲（一片，燒灰存性）　男子亂髮（一團，香油熬化）。</p>
<p>上為細末，用□水一碗，和藥煎二沸，入發灰拌勻，冷定服之，立下。</p>
<p><u>保產萬全湯</u>　五</p>
<p>人參（三錢）　當歸（三錢，酒洗）　川芎（一錢）　桃仁（十三粒，不去皮尖）　乾薑（一錢，炮焦黃色）　甘草（六分，炙）　牛膝梢（二錢）　紅花（三錢，酒炒）　肉桂（八分，刮去粗皮）。</p>
<p>加膠棗一枚，水煎，食前溫服。如產婦壯實及無力服人參者，去參用之，其效尚倍於佛手散多矣。</p>
<p><u>烙臍餅子</u>　六</p>
<p>豆豉　黃蠟　麝香少許。</p>
<p>上以豆豉麝香研勻，溶蠟，量臍大小，捻為餅，灸用。</p>
<p><u>胡粉散</u>　七</p>
<p>胡粉　甑帶灰　乾薑　白石脂　棉灰（各等分）　麝香（少許）。</p>
<p>上共為細末，每用一錢，敷臍上封之。</p>
<p><u>救兒捧母心方</u>　八</p>
<p>臨產時久不見兒下，產婦暈絕將死者，若心中有熱氣，必是兒捧住母心，致令產婦暈憒暴死。急以引入心經之藥，分解兒手，方得下也。蓋兒手捉一物最緊，藥力一到，兒手自軟解脫也。（出《醫學心鏡錄》）</p>
<p>乳香（五錢，去油）　麝香（六分）　官窪（一錢，去粗皮）。</p>
<p>上為細末，作一服，淡黃酒送下。</p>

<h1>卷七</h1>

<h2>產後門</h2>

<h3>胞衣不下　一</h3>
<p>胞衣不下，其因有四，或風冷干犯，因使振血凝滯；或下血過多，以致產路澀干；或惡血流入胞內，衣漸脹滿而疼痛；或產久氣弱，困怠無力運托而外行。夫兒身既離胞，宜速下。不爾，上攻心胸，脹滿喘急，將有性命之憂者矣。治此之法，急宜奪命散以解其危。或生化湯大加肉桂，使血和則易下也。</p>
<p>一法用蔥一莖，捲於產婦發內，令口嚼之，俟嘔可即下也。</p>
<p>奪命散　本門一</p>
<p>生化湯　本門二</p>

<h3>玉門不閉　二</h3>
<p>既產玉門不閉者，其致有二。或氣血衰弱，或初產傷重。氣血衰弱者，無所痛苦；因產傷重者，必腫而痛也。</p>
<p>若氣血衰弱，不能收閉者，十全大補湯。因初產傷重者，甘草煎湯淋洗之，其腫自平。</p>
<p>十全大補湯　見月經門二四</p>

<h3>血暈　三</h3>
<p>產後眼生黑花，頭目旋暈，不能起坐，昏迷不省人事者，謂之血暈。由惡露去少，敗血流入於肝，乘虛逆湊於心，神明被擾，故昏不省人，氣閉欲絕也。然因去血過多，心神失養者，亦能致此，名曰血脫。倘作血暈施治，必增危劇。二者何以辨之？面唇色赤者，血暈也；面唇色白者，血脫也。辨認不明，鮮不誤矣。</p>
<p>若血暈者，佛手散童便沖服。血脫而致者，清魂散。二者均宜燒下漆及燒鐵釘醋淬，不時熏鼻自蘇。若向有血暈之患者，宜於臨產之時，預服獨參湯或十全大補湯一二劑。不但可免血暈，而且易產，此屢試屢驗法也。</p>
<p>清魂散　本門三</p>
<p>獨參湯　本門四</p>
<p>十全大補湯　見月經門二四</p>

<h3>惡露不下　四</h3>
<p>惡露不下，有因風冷襲干胞門，以致氣滯血凝，腹中必有脹痛之虞。有因產時去血太多，血海乾澀，面顏必見黃白之色。以此辨之，誠切當不易法也。</p>
<p>若因血凝者，失笑散逐而行之。去血大多者，聖愈湯補而運之。</p>
<p>失笑散　見崩漏門八</p>
<p>聖愈湯　見月經門十二</p>

<h3>惡露不絕　五</h3>
<p>產後惡露，乃里兒汙血也。產時當隨胎而下，其未盡之餘，常以七朝為率。若日久不斷，時時淋漓者，有衝任虛損，不能收攝；有瘀停米盡，隨化隨行，當審其色，或汙濁不明，或淺淡不鮮，或其氣臭，或腥而穢，是汙濁不明，為虛中挾滯；淺淡不鮮，為衝任虧弱；其氣臭腥而穢者，財為瘀停不盡也。</p>
<p>若衝任虛損，不能攝血者，十全大補湯加續斷、阿膠。色汙濁不明者，人參養榮湯。色淺淡者，八珍湯。其氣臭腥而穢，隨化隨行，倆停所致也，佛手散加益母草。</p>
<p>十全大補湯　見月經門二四</p>
<p>人參養榮湯　見月經門二二</p>
<p>八珍湯　見月經門二三</p>
<p>佛手散　見月經門八</p>

<h3>頭疼　六</h3>
<p>頭者諸陽之會也。產後五臟皆虛，陰血暴亡，孤陽失守，上湊於頭而痛，誠陰虛所致也。面色必黃白，脈則寸強尺弱。間有敗血攻衝而疼者，必兼腹痛之證，治者詳之。</p>
<p>若去血太多者，此血虛頭疼也，八珍湯加蔓荊子。如脈寸強尺弱者，六味地黃湯加牛膝、五味子，此余歷驗者。敗血攻衝而致者，芎歸湯或沖童便。</p>
<p>八珍湯　見月經門二三</p>
<p>六味地黃湯　見月經門十五</p>
<p>芎歸湯　本門五</p>

<h3>心胃痛　七</h3>
<p>產後心胃痛有二。一風冷凝滯氣血，一飲食停留中脘也。蓋產後氣血衰微，諸凡最易干襲，若四肢厥逆，面爪青白而痛者，乃風冷凝滯，氣血不能宣通也；若嘔吐惡食，心胃脹滿而痛者，乃飲食停郁中脘，無力輸運也。倘大便硬結，小便赤澀，渴欲飲冷者，又屬內有實熱，法當從下也。</p>
<p>若心胃痛而四肢厥逆者，大岩蜜湯。嘔吐惡食而胃痛者，加味二陳湯，大便硬結屬實熱者，不妨少與玉燭散，攻而利之。</p>
<p>大岩蜜湯　本門六</p>
<p>加味二陳湯　本門七</p>
<p>玉燭散　見月經門五三</p>

<h3>腹痛八</h3>
<p>產後腹痛，其因有四。或去血過，則臟府乏其充養；或惡露去少，則瘀血凝滯不通；或恣食過傷，必見惡食脹滿；或寒乘胞中，必有冷凝形狀，皆致痛之由也。治此之法，血少者，補養之；瘀滯者，開逐之；食傷者，消導之；風寒乘於胞中者，溫散之。然倘數朝以內，飲食如常，忽爾腹痛，六脈沉伏，四肢厥冷，此惡血不盡，傷食里血而脈不起也。不可誤認氣血兩虛，輒用大補，須消導兼以行血可也。</p>
<p>若去血過多者，當歸建中湯或八珍湯、當歸羊肉湯。瘀血壅滯者，失笑散最驗。飲食傷者，異功散加山楂、神麯，或查木二陳湯。風寒乘虛入於胞中者，香桂散，或吳茱萸湯。</p>
<p>當歸建中湯　見月經門三二</p>
<p>八珍湯　見月經門二三</p>
<p>當歸羊肉湯　本六八</p>
<p>失笑散　見崩漏門八</p>
<p>異功散　本門九</p>
<p>查術二陳湯　本門十</p>
<p>香桂散　本門十一</p>
<p>吳茱萸湯　見月經門三一</p>

<h3>少腹痛　九</h3>
<p>產後少腹痛者，乃血塊未淨，名曰兒忱痛。蓋兒在胎中，宿有血塊，產時其血破敗，與兒俱下，則無是患。若臟府為風冷所幹，則血凝少腹之間，故結聚疼痛也。察此之法，須於小水辨之，其小便利者，為瘀血凝結；小便不利，淋澀脹痛者，乃蓄水作祟也。倘堅硬紅腫者，須防潰、疝、癃之患矣。</p>
<p>若兒枕痛者，延胡索散。屬蓄水為患者，五苓散。將成潰疝癃者，吳茱萸湯以溫而散之。</p>
<p>延胡索散　本門十二</p>
<p>五苓散　見胎前門八</p>
<p>吳茱萸湯　見月經門三一</p>

<h3>脅痛　十</h3>
<p>產後脅痛，由瘀血凝滯，使肝氣不能流暢，或所下過多，氣血虧而失滋榮。夫脅者，肝之部分也，但有左右氣血之不同，當明辨析。左痛者，血滯也；右痛者，氣虛而兼血弱也。詳而施治，鮮不效矣。</p>
<p>若左脅痛屬血滯者，延胡索散。屬血虛者，四物湯加參、朮、柴胡。右脅痛屬氣滯者，四君子湯加柴胡青皮，或四君子湯加柴胡薄佳。若氣血兩虛而因去血過多者，八珍湯加肉桂治之。</p>
<p>延胡索散　本門十二</p>
<p>四物湯　見月經門一，</p>
<p>四君子湯　本門十三</p>
<p>八珍湯　見月經門二三</p>

<h3>腰痛　十一</h3>
<p>腰者腎之府，胞胎之所繫也。產則陰血暴脫，腎氣損傷，故每多痠痛之患。若腰中重墜，下注兩股，痛如錐刺者，乃產時風冷乘襲，瘀血滯於肝經，不即治療，久之必作癰疽也。</p>
<p>若因去血過多，三陰虧損，而痠痛者，八味地黃湯加杜仲、續斷。風冷乘襲，痛注兩股者，佛手寄生湯溫而散之。</p>
<p>八味地黃湯　見月經門十六</p>
<p>佛手寄生湯　本門十四</p>

<h3>遍身痛　十二</h3>
<p>產後遍身疼痛、山去血過多，榮血不足，衛氣衰微，不能榮養也，或風寒外客，必有表證可憑。倘面唇色紫，身脹而痛，則屬停瘀所致也。</p>
<p>若去血過多，榮血不足，或風寒外客者，均宜趁痛散主之。榮衛氣血兩虛者，人參養榮湯加黑姜。面唇色紫者，當以行瘀止痛為主，秦沒四物湯，瘀和而痛自止也。</p>
<p>趁痛散　本門十五</p>
<p>人參養榮湯　見月經門二二</p>
<p>秦沒四物湯　本門十六</p>

<h3>腹中塊痛　十三</h3>
<p>產後腹中有塊，堅硬攻痛者，多因新產之後，風冷乘虛而入，以致瘀血凝結也。宜速驅逐，久則必成血瘕。又有寒疝一證，亦在少腹攻築疼痛，此屬寒氣滯澀，當溫以散之。</p>
<p>若瘀血凝結者，急宜延胡索散逐而行之。寒疝攻痛者，宜吳茱萸湯溫而散之。</p>
<p>延胡索散　本門十二</p>
<p>吳茱萸湯　見月經門三一</p>

<h3>筋攣　十四</h3>
<p>產後筋脈拘攣疼痛，不能舒展，俗名雞爪風。皆由產後血液虧損，不能榮筋，故令拘攣疼痛也。大法宜養榮血，佐以舒筋。蓋血足則筋有養矣。</p>
<p>若無汗者，宜養榮之中兼以祛邪，宜四物湯加柴胡、木香、桂枝、釣藤鉤。若有汗者，宜大補榮血，用八珍湯加桂枝、黃耆、阿膠。</p>
<p>四物湯　見月經門一</p>
<p>八珍湯　見月經門二二</p>

<h3>傷食嘔吐　十五</h3>
<p>產後氣血俱虛，脾胃自弱，一切飲食，最宜戒慎。苟恣欲無忌，過食肉面炙煿之物，以致心胸飽悶，惡聞食氣，嘈雜嘔惡，吞酸吐酸者，此食傷脾胃也。但產後氣血虧虛，不可同尋常論治，惟宜助健脾氣，佐以消導，使食消而脾不傷也。</p>
<p>若嘔吐噁心者，六君子湯加香附、砂仁、神麯、山楂。惡食飽悶者，六君子湯加厚朴。嘔逆痰涎者，此必挾痰飲而作也，二陳湯重用半夏，更加藿香。吞酸吐酸者，六君子湯加柴胡、吳萸。</p>
<p>六君子湯　見經閉門五</p>
<p>二陳湯　本門十七</p>

<h3>呃逆　十六</h3>
<p>呃逆者，屬脾虛聚冷，胃中伏寒也。蓋產後氣血並傷，臟府皆損，飲冷食寒，以致中焦之氣厥而不順。法當溫暖脾胃。然有中氣大虛，不能按納，下焦真氣，逆奔上衝，亦能致此，其聲必長，其候殊惡，又當溫補命門為主矣。</p>
<p>若脾虛胃冷者，丁香豆蔻散。如不應，當以參附湯峻補之。若發熱面赤者，屬熱實也，茹橘飲。下焦真氣逆沖者，都氣湯。</p>
<p>丁香豆蔻散　本門十八</p>
<p>參附湯　本門十九</p>
<p>茹橘飲　本門二十</p>
<p>都氣湯　本門二一</p>

<h3>氣喘　十七</h3>
<p>產後喘促，極危之證也。因所下過多，榮血暴竭，衛氣無依，孤陽上越，獨聚肺中，誠陰竭陽浮之候，最難治療者也。然惡露不行，敗血上攻於肺者，亦能致此，必面色紫黑，喘息氣壯為辨耳。</p>
<p>若脈細無力，面唇色白，或面顏淡紅者，屬孤陽也。宜驟固補，急以參附湯，遲則不救。如有上面唇之色，而氣則出多入少，脈見寸口浮大無力，關沉尺細，或微，或脈雖豁大，按之則隱者，此陰竭陽浮之象，誠真陰涸竭，孤陽上脫之候也。宜加味都氣湯，余嘗用此，多臻奇效。面色紫黑者，此敗血上攻也，奪命散，稍涉虛者，二味參蘇飲。</p>
<p>參附湯　本門十九</p>
<p>加味都氣湯　見經閉門九</p>
<p>奪命散　本門一</p>
<p>二味參蘇飲　本門二二</p>

<h3>浮腫　十八</h3>
<p>產後浮腫，多由敗血停留，乘虛流入經絡，血化為水，故令浮腫。然有氣分、血分、水腫之別，不可不辨。輕虛浮腫，心胸脹滿，因素有水飲，名曰氣分也。皮如熟李，遍身青腫者，名曰血分也。若喘嗽小便不利，為水腫矣。</p>
<p>若屬氣分者，枳朮湯；屬血分者，小調經散。水腫者，茯苓導水湯。</p>
<p>枳朮湯　本門二三</p>
<p>小調中湯　本門二四</p>
<p>小調經散　本門二五</p>
<p>茯苓導水湯　見胎前門十四</p>

<h3>發熱　十九</h3>
<p>產後發熱，因端甚多，不可執一論治。蓋陰血暴亡，諸邪易湊。或陽無陰斂，而浮游肌表；或恣貪飲食，而壅滯胃中；或惡露不去，則瘀血留滯；或蚤起勞動，則困乏使然；或三朝蒸乳，或感冒風寒，諸如此類，皆致熱之由也。咸當詳細審辨，不可孟浪施療。倘獨執一熱，投以清涼，則禍如反掌矣。</p>
<p>若因亡血過多，致陽無所附而熱者，四物湯加炮姜，此從陰引陽之治也。血脫煩躁，乾渴面赤者，當歸補血湯。如脈浮虛，按之則微，此孤陽外越也，急宜參附湯，遲必汗出大喘，乃陽欲亡之象，雖藥終斃矣。飲食過傷者，異功散加山楂、神麯、厚朴、生薑。脾虛不能化食者，六君子湯。嘔惡者，香砂六君子湯。惡露不去致瘀血留滯者，必兼腹痛之證，生化湯。蚤起勞動而致者，十全大補湯或八珍湯。熱在三朝為蒸乳也，不須藥療。感冒風寒，治詳本條，見後二一。</p>
<p>四物湯　見月經門一</p>
<p>當歸補血湯　見月經門十一</p>
<p>參附湯　本門十九</p>
<p>異功散　本門九</p>
<p>六君子湯　見經閉門五</p>
<p>香砂六君子湯　見月經門三九</p>
<p>生化湯　本門二</p>
<p>十全大補湯　見月經門二四</p>
<p>八珍湯　見月經門二三</p>

<h3>寒熱　二十</h3>
<p>產後寒熱，有往來寒熱、乍寒乍熱、寒熱似瘧、壯熱憎寒之別。名既不同，其證亦異。寒熱往來者，寒去熱來，熱去寒來，遞相更換，為氣血虛損，陰陽不和也。乍寒乍熱者，有時作寒，有時作熱，無定之時，乃陰陽相乘，榮衛不調也。寒熱似瘧者，或先寒後熱，先熱後寒，一定不移，至其時而始作，緣飲食停滯，或敗血不散而然也。壯熱憎寒者，其身既壯熱而復時時畏寒，因汗出遇風，玄府閉秘也。有諸內，自形諸外，須明辨之，斯克效矣。</p>
<p>若陰陽不和，寒熱往來者，柴胡四物湯，或追遙散。榮衛不調，乍寒乍熱者，乃陰陽相乘也，蓋陽乘陰則熱，陰乘陽則寒，宜增損四物湯，或八珍湯少加柴胡。若敗血停留，兼食傷中，寒熱似瘧者，生化湯加柴胡、山楂、神麯。感受風寒，憎寒壯熱者，更生散。</p>
<p>柴胡四物湯　見月經門五二</p>
<p>逍遙散　見月經門九</p>
<p>增損四物湯　本門二六</p>
<p>八珍湯　見月經門二三</p>
<p>生化湯　本門二</p>
<p>更生散　本門二七</p>

<h3>感冒　二一</h3>
<p>新產之後，不謹調護，因而感冒風寒，以致頭痛脊強，發熱惡寒者，慎勿峻劑表散。蓋產後大血既去，氣因亦虧，表裡空虛，雖即微邪，亦易乘襲，當以養血為主，佐以疏解，主強則賊自遁避，血和則風寒消滅。不知此，誤投峻散之方，津汗一出，重則亡陽，輕則惕瞤，或鬱冒昏迷，或抽搐便秘，變幻諸證，靡非過散之害也。</p>
<p>若頭痛發熱惡寒者，蔥柴四物湯。頭痛脊強體疼者，羌佳四物湯。</p>
<p>蔥柴四物湯　本門二八</p>
<p>羌桂四物湯　見月經門三六</p>

<h3>自汗　二二</h3>
<p>產後陰血既亡，陽氣因之而虛，誠陰陽兩虧之時，若微汗自出，乃榮衛和調之象。倘自汗如洗，極危證也。蓋汗本血液，產既亡陰，而復大汗，豈不虧而又耗乎?究其由，緣陰氣虧損，不能斂藏，故陽氣外越而汗出不收，速宜固密衛氣，否則陽亡而斃矣。若自汗太甚者，宜黃耆湯。如陰血大脫，孤陽外越，致汗不止者，非大劑參附湯不可。或更加五味子，其效尤捷。</p>
<p>黃耆湯　本門二九</p>
<p>參附湯　本門十九</p>

<h3>頭汗　一二</h3>
<p>產後陰亡，陽氣獨盛，上蒸於頭，故但頭汗出，至頸而還也。夫陽既獨盛，微汗則損陽就陰，兩相平均，無足為慮，設大汗淋洗，乃陰既下亡，陽夏上脫，危劇之候也。</p>
<p>若微汗至頭而還者，當歸六黃湯，內芩、連、黃柏三味，俱炒黑用之。大汗淋洗者，治見上自汗條，亙互參考。</p>
<p>當歸六黃湯　本門三十</p>

<h3>中風　二四</h3>
<p>婦人以榮血為主，產時下血太多，臟府虧損，未曾平復，蚤起勞動，因而風邪乘襲，客於皮膚、經絡以致筋骨疼痹，羸乏少氣，唇青肌冷，神昏目眩。凡筋脈挾寒，則攣急喎僻，挾熱則縱緩虛弱，種種證狀，皆由氣血虛損所召。《經》所謂，邪之所湊，其正必虛也。</p>
<p>治此者，宜大溫補，雖有他證，從末治之，宜十全大補湯，如牙關緊結，令人推正其身，一人夾正其面，挖開口灌之，如不得下，令側其面，出之仍灌，熱者又冷又灌，數次即能下咽，少傾可蘇。此立齋法也。蘇後酌宜施治。</p>
<p>十全大補湯　見月經門二四</p>

<h3>痙病　二五</h3>
<p>產後血氣皆虛，臟府均弱，多自汗出，腠理不密，風邪乘間襲入，遂成痙證。三陽之筋，結於頷頰，風乘之則口噤，陰陽經絡，用環於身，風乘之，則頭項肩背強直，如角弓反張之狀，證雖不一，實陰血不足，無以榮養筋脈而然也。當以培補氣血為主，其勢自解。若見頭搖喘促，汗出不止，兩手撮空，乃真氣去，邪氣獨留，必死之候也。</p>
<p>若角弓反張口噤鼓頷者，附防十全大補湯。</p>
<p>附防十全大補湯　本門三一</p>

<h3>瘛瘲　二六</h3>
<p>夫瘛者，筋脈拘急也；瘲者筋脈弛縱也。產後患此，由去血過多，筋無所養，陽火熾盛，致使抽搐、發熱、心煩口渴。《經》曰肝主筋、藏血。蓋肝氣為陽，為火；肝血為陰，為水，值此陽旺陰衰之際，當以養陰為主，則陽火退而諸證息。不應，則以補脾為要。蓋血生於至陰，至陰者脾也。若無力抽搐，戴眼反折，大汗不止者，其命將休，不治之證也。</p>
<p>若治此者，宜釣藤八珍湯主之。如不應，用釣丹四君湯。</p>
<p>釣藤八珍湯　本門三二</p>
<p>釣丹四君湯　本門三三</p>

<h3>不語　二七</h3>
<p>產後不語，須分虛實。有痰熱乘心者，有敗血衝心者，有氣血兩虛而鬱冒神昏者，大抵產後屬虛者多，而實者少也，治者詳之。</p>
<p>若氣血兩虛者，加味八珍湯；痰熱者，星連二陳湯；敗血衝心者，七珍散。</p>
<p>加味八珍湯　本門三四</p>
<p>星連二陳湯　本門三五</p>
<p>七珍散　本門三六</p>

<h3>驚悸恍惚　二八</h3>
<p>產後陰血虧虛，心氣怯弱，神志失守，邪熱乘心，以致驚不自安，悸動不定，目睛不轉，恍惚疑懼者，惟宜養血安神。蓋血足則神有藏舍，驚悸何能作哉？</p>
<p>若血虛而致者，茯神散。憂愁思慮而傷心脾者，鎮心歸脾湯。</p>
<p>茯神散　本門三七</p>
<p>鎮心歸脾湯　本門三八</p>

<h3>發狂譫語見鬼　二九</h3>
<p>產後發狂譫語，妄見鬼神，由敗血衝心，或心血虛損。敗血衝心者，面顏赤紫，其聲壯厲而揮亂；心血虛損者，面唇黃白，神志恐怯而言微。以此辨之，最為確當。</p>
<p>若敗血衝心者，小調經散。心血虛損者，妙香散，以當歸熟地煎湯調服，其效如神。</p>
<p>小調經散　本門二五</p>
<p>妙香散　本門三九</p>

<h3>虛煩　三十</h3>
<p>產後虛煩，其致有三。或陰血虧竭，因見氣浮而短；或敗血衝心，雖煩多兼脹痛之證。若煩而躁者，乃去血過多，亡陰所致也。</p>
<p>若心煩而短氣者，人參當歸湯。敗血衝心者，失笑散。亡血過多者，當歸補血湯，則煩躁皆除也。</p>
<p>人參當歸湯　本門四十</p>
<p>失笑散　見崩漏門八</p>
<p>當歸補血湯　見月經門十一</p>

<h3>發渴　三一</h3>
<p>產後發渴者，氣血虧虛也。蓋陰血暴亡，津液短少，不能上奉，廉泉涸竭，故口乾而渴也。治當審其偏氣偏血，鮮有不愈者。</p>
<p>若津液不足者，參麥飲。血虛而渴者，麥粉四物湯，渴甚不解者，竹葉歸耆湯。</p>
<p>參麥飲　本門四一</p>
<p>麥粉四物湯　本門四二</p>
<p>竹葉歸耆湯　本門四三</p>

<h3>咳嗽　三二</h3>
<p>產後咳嗽，有蚤起勞動，感受風寒者，必有頭疼身痛可據；有敗血上衝入肺者，必見面唇紫赤之色。治此之法，外感者，疏散之；敗血者，消逐之。無難事已。然因陰虛而致者居多。蓋產後陰血大脫，則真陰必虛，陰虛則火無制，上刑肺金，欲不咳嗽，勢難容己。當以滋金壯水以漸圖功也。</p>
<p>若感冒風寒者，旋覆花湯。敗血上衝入肺者，桃紅佛子散。真陰虧虛者，麥味地黃湯，滋其化源必自愈也。</p>
<p>旋覆花湯　本門四四</p>
<p>桃紅佛手散　本門四五</p>
<p>麥味地黃湯　見經閉門四</p>

<h3>衄血　三三</h3>
<p>產後衄血，乃惡露不下，虛火載血上行，不能循其經隧，故溢出鼻竅也。若兼黑色見干口鼻，為熱極反兼水化，系胃絕肺敗之候，藥餌最難醫者。蓋凡色紅赤者，陽熱之生氣也，青黑者，陰寒之絕氣也。況口鼻為陽明多氣多血之部，而見陰寒慘殺之氣，則胃中陽和之氣衰敗可知、其下死也幾希。若強欲治此者，惟人參澤蘭葉湯，或冀其萬一耳。</p>
<p>人參澤蘭葉湯　本門四六</p>

<h3>痢疾　三四</h3>
<p>產後痢者，名產子痢。多因飲食不謹，恣貪生冷，或起居不慎，沖寒受暑所致。若腹中㽲痛，裡急後重者屬有餘；日久虛寒滑脫者，屬不足。其色黃赤稠黏，多屬於熱；清稀澄澈，如鴨糞者，則屬於寒。此虛實寒熱之辨也，更以脈息遲數參之，庶不致誤。治之之法，熱者清之，寒者溫之，冷熱不和者調之，虛者補之，實者瀉之，虛實新久之間，宜細心詳察也。</p>
<p>若其色黃赤稠黏者，熱也，槐連四物湯，清其熱而堅腸胃，或六一四物湯亦可。赤白相兼者，冷熱不和也，芍藥湯調之。色白清稀滑脫者，虛寒也，真人養臟湯，溫而澀之。日久不止，必氣血大虛，十全大補湯。若見色白或黃而清稀，次數甚多，或久不止，此因產大虛，腎廢封藏之職也，當以溫固腎氣為主，宜八味地黃湯去丹皮加故紙、五味、兔絲子。若為風寒沖感而致者，人參敗毒散。因暑濕而致者，香連丸。痢下純紅，名曰血痢，此敗血滲入大腸也，膠榆四物湯。</p>
<p>槐連四物湯　本門四七</p>
<p>六一四物湯　本門四八</p>
<p>芍藥湯　本門四九</p>
<p>真人養臟湯　本門五十</p>
<p>十全大補湯　見月經門二四</p>
<p>八味地黃湯　見月經門十六</p>
<p>人參敗毒散　本門五一</p>
<p>香連丸　本門五二</p>
<p>膠榆四物湯　本門五三</p>

<h3>瘧疾　三五</h3>
<p>瘧疾之發，各有常期，或一日一發，或間日、三日而一作，或先寒後熱，或先熱後寒，如信人有約定不爽也。產後患此，多因瘀血停留，榮衛不和，故有斯疾。然有似瘧一證，亦發寒熱，蓋因氣血並竭，陰陽兩虛，陽虛則作寒，陰虛則發熱也。二者之治，須當詳辨。倘率以瘧法施治，則禍不旋踵矣。</p>
<p>若因瘀血停留者，加味生化湯。痰飲食積者，加味二陳湯。外感風寒者，藿香正氣散。榮衛不和，乃氣血衰弱也，柴胡八珍湯。氣血並竭，陰陽兩虛，以致寒熱似瘧者，當補氣血為主，八珍湯、十全大補湯，陰陽平均則寒熱自除矣。宜與前寒熱條互相參考。</p>
<p>加味生化湯　本門五四</p>
<p>加味二陳湯　本門五五</p>
<p>藿香正氣散　本門五六</p>
<p>柴胡八珍湯　本門五七</p>
<p>八珍湯　見月經門二三</p>
<p>十全大補湯　見月經門二四</p>

<h3>蓐勞　三六</h3>
<p>產後氣血兩虛，蚤起勞動，六淫外傷，七情內損，致有寒熱往來，臍腹脹痛，懶食廢飲，貪臥嗜眠，起則目眩頭暈，甚而骨蒸潮熱，盜汗自汗，痰喘咳嗽，面色萎黃，肌肉消瘦，日漸尫羸，名曰蓐勞。皆不善調攝之所致也。當先健脾理胃，俾飲食漸進，中氣日充，則氣血生化，諸臟有賴，繼餌之以調榮益衛，補虛培損，庶可望其有濟也。</p>
<p>若健理脾胃，惟六君子湯加減主之，使能食易消，則水穀之氣，化生精微，後天氣血日隆，精神由之漸旺，然後調補榮衛，三合散加減主之。日久惟見虛羸者，法當大補氣血，如八珍、十全、人參養榮之類，隨宜施用。方俱見月經門，茲不冗贅。</p>
<p>六君子湯　見經閉門五</p>
<p>三合散　本門五八</p>

<h3>血崩　三七</h3>
<p>產後陰血已亡，未得平復，更患崩證、乃血脫氣陷之候也。致此之由，或勞役過度，或瘀血停留，或因驚恐而觸心，或為憤怒而傷肝。蓋氣血大虛之際，一切最易干犯，治此之法，須當詳審。若少腹滿痛不已，而脈實大緊數者，此肝陰已竭，肝氣隨敗矣。難治。</p>
<p>若勞役過度者，法當峻補，宜加味十全大補湯。瘀血停滯者，少腹必有形徵，按之則痛，佛手散、失笑敞，以逐之，倘遽止其血，必致淋漓。因驚恐者，歸脾湯。憤怒傷肝，疏泄用事，故血妄行也，茅地逍遙散。</p>
<p>加味十全大汁湯　本門五九</p>
<p>佛手散　見月經門八</p>
<p>失笑散　見經閉門八</p>
<p>歸脾湯　見月經門十四</p>
<p>茅地逍遙散　本門六十</p>

<h3>大便秘結　三八</h3>
<p>大腸者，傳導之官，變化出焉。產後血去太過，傷其津液，胃燥腸枯，故令大便秘結也。若飲食如常，腹無脹滿之苦者，不可輕易導下，致傷元氣，惟宜滋陰養血為主，血旺則腸胃津回，而便自通利矣。方宜四物湯重用當歸，大加肉蓯蓉、火麻仁之類。</p>
<p>四物湯　見月經門一</p>

<h3>小便淋閉　三九</h3>
<p>產後淋閉，由邪熱挾瘀血流滲膀胱，故腹脹而痛。當以和瘀通利為主，加味四物湯主之。</p>
<p>加味四物湯　本門六一</p>

<h3>小便頻數不禁淋瀝　四十</h3>
<p>產後氣虛陷下，多令小便頻數而色白。腎虛不固，小便自遺而不禁。若產時穩婆傷其胞脬，多致小便淋瀝。須詳分施治。</p>
<p>若氣虛頻數者，補中益氣湯。腎虛遺尿不禁者，加味地黃湯。胞脬傷而淋瀝者，黃耆當歸散。</p>
<p>補中益氣湯　見月經門四八</p>
<p>加味地黃湯　本門六二</p>
<p>黃耆當歸散　本門六三</p>

<h3>大便出血　四一</h3>
<p>產後便血，有因膏梁積熱，醇酒濕毒，壅積胃中，傳及大腸者；有脾氣餒弱，不能統攝者；有中氣下陷，無力升提者。析而明之，施治可也。</p>
<p>若腸胃積熱者，加味芩連四物湯。脾虛不能統血者，歸脾湯。中氣下陷者，補中益氣湯。</p>
<p>加味芩連四物湯　本門六四</p>
<p>歸脾湯　見月經門十四</p>
<p>補中益氣湯　見月經門四八</p>

<h3>小便出血　四二</h3>
<p>產後溺血，因氣血衰弱，熱由內起，乘之於血，血得熱則流滲脬內，故血隨尿出。若脅脹少食者，此肝乘脾也。</p>
<p>若熱流脬內者，加味四物湯。脅脹少食者，加味逍遙散。</p>
<p>加味四物湯　本門六一</p>
<p>加味逍遙散　見月經門十</p>

<h3>敗血成癰　四三</h3>
<p>新產半月前後，癰腫發於四肢胸腹者，則敗血不盡，流滯經絡。或氣虛血弱，榮氣不從，逆於腠理也。二者之辨，亦有差別。敗血瘀滯者，焮腫赤痛，而脈弦洪有力，當養血之中，佐以導瘀。氣虛血弱，榮澀衛逆者，平塌散漫，而脈虛微少神，宜峻補氣血，以固本元。以此察之，瘀虛立判。治療之法，隨其虛實，務使氣壯血和，其毒乃解。若以清涼解毒為事，勢必不膿不潰，而成壞證矣。</p>
<p>若敗血而成者，金翹生化湯。氣血虛弱者，十全大補湯加金銀花、乳香、沒藥。</p>
<p>金翹主化湯　本門六五</p>
<p>十全大補湯　見月經門二四</p>

<h3>月水不通　四四</h3>
<p>產後月水不通者，不必藥也。蓋衝任二脈，為經絡之海，皆起胞中，手太陽少陰二經，上為乳汁，下為月水。產時去血過多，乳汁每每不通，是乳與月水皆一血也，故乳子半歲一歲之內，月經不行者，乃其常候。或半歲經即行者，必少壯血盛之人。若一二年不行，無他疾苦，亦不宜用通經之藥。蓋此非勞傷榮衛，即衝任脈虛耳。但健理中州，培補氣血，則經自流行。倘強欲通之，是與榨乾汁者無以異也。</p>

<h3>產後虛實審宜　四五</h3>
<p>朱丹溪曰：產後氣血兩虛，惟宜大補，雖有他證，以末治之。張從政曰：產後慎不可作諸虛不足治。二公之淪，不無各偏。嘗見遵朱者，則失於溫補。守張者，則誤乎清涼。顛倒錯施，比比皆然。躬救其偏者，指不勝屈，故特剖而析之。夫人稟賦不齊，勇怯各異，即產後諸證，亦各有虛實之殊，如證發壯熱，色見紅赤，脈息沉實滑數之類者，實也，熱也。證候喜暖，色見黃白，脈息虛弱細遲者，虛也，寒也。治療之法，虛則補之，實則瀉之，寒則溫之，熱則清之。余守用有年，從未致誤。總之，能於形、證、脈三者參詳，何施不可？《經》曰：能合脈色，可以萬全。其斯之謂歟。</p>

<h2>產後門匯方</h2>
<p><u>奪命飲</u>　一</p>
<p>沒藥　血竭各等分。</p>
<p>上研為細末，才產下便用童便、細酒各半杯，煎一兩沸，調下二錢，良久再服，其惡血自下行，便不衝上，免生百疾。</p>
<p><u>生化湯</u>　二</p>
<p>當歸（四錢）　川芎（二錢）　丹參（一錢）　桃仁（十四粒，去皮尖）　紅花（八分）　薑炭（一錢）。</p>
<p>水煎服。</p>
<p><u>清魂散</u>　三</p>
<p>澤蘭葉　人參（各二錢）　川芎（五錢）　荊芥穗（一兩）　甘草（二錢，炙）。</p>
<p>上為末，用溫酒熱湯各半杯，調一錢灌之，下咽眼即汗，氣定即醒。</p>
<p><u>獨參湯</u>　四</p>
<p>用人參三五錢。</p>
<p>水煎服。</p>
<p><u>芎歸湯</u>　五</p>
<p>當歸（五錢，酒洗）　川芎（二錢五分）。</p>
<p>水煎服，或沖童便半杯服之。</p>
<p><u>大岩蜜湯</u>　六</p>
<p>當歸　熟地　白芍（各二錢）　乾薑　肉桂（各一錢）　吳茱萸　獨活　遠志（炙）　細辛　甘草（各八分，炙）。</p>
<p>上水煎眼。</p>
<p><u>加味二陳湯</u>　七</p>
<p>半夏　陳皮　茯苓　甘草（炙）　神麯　麥芽　砂仁　木香。</p>
<p>加生薑三片，水煎眼。</p>
<p><u>當歸羊肉湯</u>　八</p>
<p>肥羊肉（一斤，去脂）　當歸（五兩）　黃耆（四兩）　生薑（六兩）。</p>
<p>上先以水一斗煮羊肉，取汁八升，後下三味煮取二升五合，分為四服。</p>
<p><u>異功散</u>　九</p>
<p>人參　白朮　茯苓　陳皮　神麯　山楂肉　甘草（炙）。</p>
<p>上加薑棗，水煎服。</p>
<p><u>查術二陳湯</u>　十</p>
<p>半夏　陳皮　茯苓　甘草（炙）　白朮　山楂。</p>
<p>上加生薑三片，水煎溫眼。</p>
<p><u>香桂散</u>　十一</p>
<p>當歸　肉桂　川芎（各等分）。</p>
<p>上為末，酒調眼。</p>
<p><u>延胡索散</u>　十二</p>
<p>延胡索　當歸　赤芍藥　桂心　生蒲黃　紅花　琥珀（各等分）。</p>
<p>上以好醋浸一宿，焙乾為末，每服二錢，酒調下。</p>
<p><u>四君子湯</u>　十三</p>
<p>人參　白朮　白苓　甘草（炙）。</p>
<p>加薑棗水煎服。</p>
<p><u>佛手寄生湯</u>　十四</p>
<p>當歸　川芎　桑寄生　獨活　肉桂　續斷　牛膝　防風。</p>
<p>酒水各半煎眼。</p>
<p><u>趁痛散</u>　十五</p>
<p>當歸　官桂　白朮　黃耆　獨活　牛膝　生薑（各五錢）　甘草（炙）　薤白（各三錢五分）　桑寄生（五錢）。</p>
<p>上㕮咀，每服五錢，水煎服。</p>
<p><u>秦沒四物湯</u>　十六</p>
<p>熟地　當歸　白芍　川芎　秦艽　沒藥　桃仁　紅花。</p>
<p>酒一水二煎眼。</p>
<p><u>二陳湯</u>　十七</p>
<p>白苓　半夏　陳皮　炙草。</p>
<p>加姜水煎服。</p>
<p><u>丁香豆蔻散</u>　十八</p>
<p>公丁香　白豆蔻仁　伏龍肝各等分。</p>
<p>上為末，生薑湯點服。</p>
<p><u>參附湯</u>　十九</p>
<p>人參（一兩）　附子（五錢，炮）。</p>
<p>上作一服，薑棗水煎，徐徐服。去人參加黃耆，名耆附湯。</p>
<p><u>茹橘飲</u>　二十</p>
<p>竹茹　橘皮（各三錢）　乾柿（一枚）。</p>
<p>水姜煎服。</p>
<p><u>都氣湯</u>　二一</p>
<p>熟地（四錢）　山藥（炒）　山萸（各二錢，酒蒸去核）　白苓　丹皮（酒製）　澤瀉（各一錢五分）　五味子（五分）　肉桂（一錢，去皮）。</p>
<p>水煎服。</p>
<p><u>二味參蘇飲</u>　二二</p>
<p>人參（一兩，為末）　蘇木（二兩）。</p>
<p>上以蘇木煎湯，沖人參末服。</p>
<p><u>枳木湯</u>　二三</p>
<p>枳實（二兩，炒）　白朮（二兩，土炒）。</p>
<p>水姜煎服。</p>
<p><u>小調中湯</u>　二四</p>
<p>白朮（一錢五分）　茯苓　當歸　白芍　陳皮（各一錢）。</p>
<p>水煎眼。</p>
<p><u>小調經散</u>　二五</p>
<p>白芍　當歸　沒藥　琥珀　桂心（各一錢）　細辛　麝香（各五分）。</p>
<p>上為末，每服五分，薑汁溫酒各少許調服。</p>
<p><u>增損四物湯</u>　二六</p>
<p>當歸　白芍　川芎　人參　甘草（炙）　炮姜。</p>
<p>水煎服。</p>
<p><u>更生散</u>　二七</p>
<p>當歸　生地　川芎　人參（各二錢）　荊芥穗（三錢）　乾薑（八分，炮）。</p>
<p>水煎服。</p>
<p><u>蔥柴四物湯</u>　二八</p>
<p>熟地（四錢）　當歸（二錢）　白芍（三錢，酒炒）　川芎（錢五分）　蔥白（三寸）　柴胡（二錢）。</p>
<p>水姜煎服。</p>
<p><u>黃耆湯</u>　二九</p>
<p>黃耆（三錢，蜜炙）　牡蠣粉（二錢）　白朮（二錢，土炒）　茯苓（一錢）　麥冬（二錢，去心）　熟地（三錢）　防風（一錢）　甘草（七分，炙）。</p>
<p>上加浮小麥一合，煎眼。</p>
<p><u>當歸六黃湯</u>　三十</p>
<p>當歸　熟地黃　黃耆（各二錢，炙）　生地黃　黃柏（炒黑）　黃芩（炒黑）　黃連（各一錢，炒黑）。</p>
<p>水煎服。</p>
<p><u>附防十全大補湯</u>　三一</p>
<p>人參（一錢）　黃耆（二錢，炙）　白朮（二錢，土炒）　白苓（一錢）　熟地（三錢）　當歸（二錢）　白芍（二錢，酒炒）　川芎（一錢）　肉桂（一錢，去皮）　甘草（七分）　附子（一錢，炮）　防風（五分）。</p>
<p>上加薑棗水煎服。</p>
<p><u>釣藤八珍湯</u>　三二</p>
<p>人參（一二錢，去蘆）　白朮（二錢，土炒）　茯苓（一錢）　甘草（八分，炙）　熟地（三錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（一錢）　丹皮（酒洗）　生地（各一錢五分，灑洗）　釣藤鉤（一錢）。</p>
<p>薑棗水煎服。</p>
<p><u>釣丹四君湯</u>　三三</p>
<p>人參（一錢，去蘆）　白朮（二錢，土炒）　白苓（一錢五分）　甘草（八分，炙）　釣藤鉤（一錢五分）　丹皮（一錢，酒蒸）。</p>
<p>薑棗水煎服。</p>
<p><u>加味八珍湯</u>　三四</p>
<p>人參（一錢）　白朮（二錢，土炒）　白苓（一錢）　甘草（八分，炙）　熟地（三錢）　當歸（二錢，酒洗）　白芍（二錢，酒炒）　川芎（一錢）　遠志（六分，炙）　菖蒲（五分）　釣藤鉤（一錢）。</p>
<p>薑棗水煎服。</p>
<p><u>星連二陳湯</u>　三五</p>
<p>膽南星（一錢五分）　黃連（一錢，薑汁炒焦）　橘紅　半夏（姜炙）　白苓（各一錢五分）　甘草（六分，炙）。</p>
<p>生薑水煎服。</p>
<p><u>七珍散</u>　三六</p>
<p>人參　石菖蒲　生地　川芎（各一兩）　細辛（一錢）　防風　辰砂（各五錢，另研）。</p>
<p>上為細末，每眼一錢，薄荷煎湯調服。</p>
<p><u>茯神散</u>　三七</p>
<p>茯神（一兩，去木）　人參　黃耆（炙）　赤芍　牛膝　琥珀　龍齒（各一錢五分，研）　生地（一兩五錢）　窪心（五錢）　當歸（二兩）。</p>
<p>上為末，每服三錢，水煎服。</p>
<p><u>鎮心歸脾湯</u>　三八</p>
<p>人參（一錢）　白朮（二錢，土炒）　黃耆（二錢，炙）　當歸（二錢）　茯苓（一錢）　遠志（六分，制）　棗仁（二錢，炒研）　木香（四分）　甘草（八分，炙）　龍眼肉（一錢）　龍齒（一錢，研）　硃砂（五分，水飛調）。</p>
<p>加薑棗水煎服。</p>
<p><u>妙香散</u>　三九</p>
<p>甘草（五錢，炒）　遠志（制去心）　山藥（薑汁炒）　茯苓　茯神（去木）　黃耆（各一兩，炙）　人參　桔梗（各五錢）　辰砂（三錢，另研）　麝香（二錢，另研）　木香（一錢五分）。</p>
<p>上為細末，每服二錢，當歸熟地煎湯調下。</p>
<p><u>人參當歸湯</u>　四十</p>
<p>人參　當歸　熟地　麥冬　白芍（各二錢）　五味子（三分）　桂枝（一錢）。</p>
<p>上銼，水煎服。</p>
<p><u>參麥飲</u>　四一</p>
<p>人參　麥冬　五味。</p>
<p>上水煎服。</p>
<p><u>麥粉四物湯</u>　四二</p>
<p>麥冬（二錢）　花粉（一錢）　熟地（四錢）　當歸（二錢）　白芍（二錢，酒炒）　川芎（一錢）。</p>
<p>上水煎服。</p>
<p><u>竹葉歸耆湯</u>　四三</p>
<p>人參　白朮（土炒）　當歸　黃耆（各二錢，炙）　竹葉（二十片）　甘草（五分，炙）。</p>
<p>上銼，水煎服。</p>
<p><u>旋覆花湯</u>　四四</p>
<p>旋覆花　赤芍藥　荊芥穗　半夏曲　前胡　甘草（炙）　茯苓　五味子　杏仁（去皮尖麩炒）　麻黃（各等分）。</p>
<p>上㕮咀，每服四錢，水一盞半，生薑三片，棗一枚，煎至七分，去滓，食前溫服，有汗不宜用。</p>
<p><u>桃紅佛手散</u>　四五</p>
<p>當歸（五錢）　川芎（二錢）　杏仁（十四粒，去皮尖）　川貝（一錢，去心）　延胡索（二錢）　桃仁（十四粒，去皮尖研泥）　紅花（一錢，酒洗）。</p>
<p>上水煎服。</p>
<p><u>人參澤蘭葉湯</u>　四六</p>
<p>人參（五錢）　澤蘭葉　丹皮　牛膝（各二錢）　生地（三錢）　熟地（五錢）。</p>
<p>藕節五枚煎，沖童便服。</p>
<p><u>槐連四物湯</u>　四七</p>
<p>當歸　川芎　赤芍　生地　槐花　黃連（各一錢，炒）　御米殼（五分，去蒂蜜炙）。</p>
<p>上銼，水煎服。</p>
<p><u>六一四物湯</u>　四八</p>
<p>熟地（三錢，土炒）　當歸（二錢）　白芍（三錢，酒炒）　川芎（一錢）　甘草（三分）　滑石（二錢，末調）。</p>
<p>水煎服。</p>
<p><u>芍藥湯</u>　四九</p>
<p>白芍藥（炒）　當歸　黃連（各半兩，炒）　檳榔　木香　甘草（各二錢，炙）　桂（二錢五分）　黃芩（三錢，炒）。</p>
<p>上每服半兩，水煎，如不減，加大黃。此證又有因中氣虛弱，脾氣鬱結者，治當審察。</p>
<p><u>真人養臟湯</u>　五十</p>
<p>人參　白木　白芍　肉桂　肉蔻　訶子（各一錢，煨）　木香　甘草　罌粟殼（各八分）。</p>
<p>上銼，薑棗煎服。</p>
<p><u>人參敗毒散</u>　五一</p>
<p>羌活　獨活　柴胡　前胡（各一錢五分）　枳殼　桔梗　人參　茯苓（各一錢）　川芎（八分）　甘草（五分）。</p>
<p>上銼，薑蔥煎服。</p>
<p><u>香連丸</u>　五二</p>
<p>黃連（十二兩，淨）　吳茱萸（十兩，去枝梗）。</p>
<p>上先將二味用熱水拌和，入磁器內，置熱湯燉一日，同炒至黃連紫黃色，去茱用連為末，每末四兩，入木香末一兩，淡醋米飲為丸，梧桐子大，每服二三十丸，滾湯下。久痢中氣下陷者，用補中益氣湯下；中氣虛者，用四君子湯下，中氣虛寒者，加薑桂。</p>
<p><u>膠榆四物湯</u>　五三</p>
<p>熟地（四錢）　當歸（二錢）　白芍（二錢，酒炒）　川芎（一錢）　血餘（一錢，燒灰）　烏賊魚骨（一錢）　阿膠（一錢，炒）　地榆（一錢）。</p>
<p>上銼，水煎服。</p>
<p><u>加味生化湯</u>　五四</p>
<p>當歸　川芎　丹參　紅花　桃仁　薑炭　柴胡　鱉甲。</p>
<p>上銼，水煎服。</p>
<p><u>加味二陳湯</u>　五五</p>
<p>半夏　陳皮　白苓　山楂　厚朴　甘草（炙）。</p>
<p>加姜，水煎服。</p>
<p><u>藿香正氣散</u>　五六</p>
<p>藿香（一錢五分）　桔梗　大腹皮　紫蘇　茯苓　白木（炒）　白芷　半夏曲　陳皮　厚朴（各一錢，炙）　甘草（五分，炙）。</p>
<p>上銼，姜水煎服。</p>
<p><u>柴胡八珍湯</u>　五七</p>
<p>人參（一錢）　白木（二錢，土炒）　白苓（一錢）　甘草（八分）　熟地（三錢）　當歸（二錢）　白芍（二錢，酒炒）　川芎（一錢）　柴胡（一錢）　黃芩（一錢，炒）　半夏（一錢，姜炙）。</p>
<p>上加薑棗水煎服。</p>
<p><u>三合散</u>　五八</p>
<p>當歸　白芍　茯苓　熟地（各一兩）　柴胡　人參（各一兩五錢）　黃芩　半夏（制）　甘草（各六錢）　川芎（一兩）。</p>
<p>上為粗末，每服一兩，水一鍾半，煎服，日三。</p>
<p><u>加味十全大補湯</u>　五九</p>
<p>人參　白朮（土炒）　茯苓　甘草（炙）　熟地　白芍（酒炒）　當歸　川芎　黃耆　肉桂　阿膠　升麻　薑炭　續斷。</p>
<p>加薑棗，水煎溫服。</p>
<p><u>茅地逍遙散</u>　六十</p>
<p>當歸　白芍（酒炒）　白朮（土炒）　茯苓　柴胡　黑梔子　生地　白茅根　甘草（炙）。</p>
<p>水煎服。</p>
<p><u>加味四物湯</u>　六一</p>
<p>生地　當歸　白芍　川芎　蒲黃（生）　瞿麥　桃仁　牛膝　滑石　甘草梢　木香　木通。</p>
<p>水煎服。</p>
<p><u>加味地黃湯</u>　六二</p>
<p>熟地　山藥　山萸　白苓　丹皮　澤瀉　益智仁（炒）　桑螵蛸（炒）　補骨脂（炒）　附子（炮）　肉桂（去皮）。</p>
<p>上銼，水煎服</p>
<p><u>黃耆當歸散</u>　六三</p>
<p>人參　白朮（土炒）　黃耆　當歸　白芍（各三錢）　甘草（八分）。</p>
<p>上銼，薑棗水煎服。</p>
<p><u>加味芩連四物湯</u>　六四</p>
<p>生地（三錢）　當歸（二錢）　白芍（二錢，酒炒）　川芎（一錢）　黃芩（一錢，炒黑）　黃連（一錢，炒黑）　地榆（一錢，炒）　阿膠（一錢，炒）　荊芥穗（一錢，微炒）　升麻（八分，蜜制）　棕櫚皮（一錢，燒灰）。</p>
<p>上銼，水煎服。</p>
<p><u>金翹生化湯</u>　六五</p>
<p>當歸（三錢）　川芎（錢五分）　丹參（一錢）　紅花（八分）　桃仁（十四粒，去皮尖研）　薑炭（八分）　乳香（一錢，去油）　沒藥（一錢，去油）　金銀花（錢五分）　連翹（一錢）　甘草節（八分）。</p>
<p>上銼，水煎眼。</p>
<p><u>回生丹</u>　六六</p>
<p>錦紋大黃（一斤，為細末）　蘇木（三兩，打碎，用河水五碗，煎汁三碗，聽用）　大黑豆（三升，水浸取殼，用絹袋盛殼，同豆煮熟，去豆不用，將殼曬乾，其汁留用）　紅花（三兩，炒黃色，入好酒四碗，煎三五滾，去渣，取汁，聽用）　米醋（九斤，陳者佳）。</p>
<p>將大黃末一斤，入淨鍋，下米醋三斤，文火熬之，以長木筋不住手攪之成膏，再加醋三斤熬之，又加醋三斤，次第加畢，然後下黑豆汁三碗，再熬，次下蘇木汁，次下紅花汁，熬成大黃膏。取入瓦盆盛之，大黃鍋粑亦剷下，入後藥同磨。</p>
<p>人參　當歸（酒洗）　川芎（酒洗）　香附（醋炒）　延胡索（酒炒）　蒼朮（米泔浸炒）　蒲黃　茯苓　桃仁（各一兩，去皮尖油）　川牛膝（酒洗）　甘草（炙）　地榆（酒洗）　川羌活　廣橘紅　白芍（各五錢，酒炒）　木爪　青皮（各三錢，去穰炒）　乳香　沒藥（各二錢）　益母草（三兩）　木香（四錢）　白朮（三錢，米泔浸炒）　烏藥（二兩五錢，去皮）　良薑（四錢）　馬鞭草（五錢）　秋葵子（三錢）　熟地（一兩，務要九蒸九曬）　三稜（五錢，醋浸透紙里煨）　五靈脂（五錢，醋煮化焙乾研細）　山萸肉（五錢，酒浸蒸搗）。</p>
<p>上三十味並前黑豆殼，共曬為末，入石臼內，下大黃膏拌勻，再下煉熟蜜一斤，共搗千杵，取起為丸。每丸重二錢七八分，靜室陰乾，須二十餘日。不可日曬，不可火烘，干後只重二錢有零。鑠蠟護之，即蠟丸也。用時去蠟殼，調服。湯引列下：</p>
<p>一臨產用人參湯服一丸，則分娩全不費力。如無人參，用淡淡炒鹽湯，調化服之。</p>
<p>一凡胎已成，子食母血，血里其子，服此丹逐去敗血，自然易生。若橫生逆產者同治。</p>
<p>一氣血兩虛，力不能送，以致產難者，宜多用人參湯調服一丸。</p>
<p>一或因母染重病，或因抱重物傷胎，或腹為物所觸，致使子死腹中，用車前子一錢，煎湯調服一丸、或二丸、三丸，無不下者。</p>
<p>一因血下太早，子死腹中，用人參、車前子各一錢煎湯調服一丸，如無人參，用陳酒少許，煎車前子湯下之。</p>
<p>一胞衣不下，用炒鹽少許泡湯，調服一丸，或二丸、三丸即下。</p>
<p>一產後去血過多，以致血暈，用薄荷湯調眼一丸即醒。</p>
<p>以上六條，乃臨產緊要關頭，雖明醫不能措手，稍有餘貲者，當須備之。利已兼以濟人，功德無量矣。</p>
<p>一產後血暈，起止不得，眼見黑花，皆血氣未定，奔走五臟，上衝於肝之所致。用滾白水調化一丸，服之即愈。</p>
<p>一產後七月，血氣未定，因食與血結聚胸中，口乾心悶煩躁，用滾白湯送下一丸愈。</p>
<p>一產虛羸，血入心肺，熱入脾胃，寒熱往來似瘧，用滾白水送下一丸愈。</p>
<p>一產後敗血走注五臟，停留四肢，遍身浮腫，口渴惡寒，此乃血腫，非水腫也。用白滾水調服一丸自愈。</p>
<p>一產後心中煩躁，言語顛狂，此血熱也，非風邪也。用滾白水調眼一丸，或二丸愈。</p>
<p>一產後敗血流入心孔，閉塞聲音，用甘菊花（三分）　桔梗（三分）　煎湯調服一丸愈</p>
<p>一產後月內，誤食寒酸堅硬之物，與血相摶，流入大腸，不能克化，瀉痢膿血，用山楂煎湯，調眼一丸愈。</p>
<p>一產時百節開張，血入經絡，停留日久，以致周身虛脹痠痛，非濕也。用蘇梗三分煎湯，調服一丸愈。</p>
<p>一產月內飲食或不應時，事務或動氣怒，以致余血流入小腸，閉卻水道，小便澀結，溺血似雞肝，用木通四分煎湯，調服一丸。又或流入大腸，閉卻肛門，大便澀結，便下瘀血，如雞肝色者，用廣陳皮三分煎湯，調眼一丸愈。</p>
<p>一產後惡露未淨，飲食寒熱失調，以致崩漏，形色如肝，潮熱煩悶，背膊拘緊，用白朮（三分）　陳皮（二分）煎湯，調服一丸愈。</p>
<p>一產後血停於脾胃，脹滿嘔吐，非翻胃也，用陳皮煎湯，調服一丸愈。</p>
<p>一產後敗血入五臟六府，遍走四肢，面黃口渴，鼻中流血，通身斑點，危證也。陳酒化服一丸。</p>
<p>一產後小便澀，大便閉，乍寒乍熱，如醉如癡，用滾白水調服一丸愈。</p>
<p>以上十三條，皆產後敗血為害，服此丹最有奇功。至產後一切異證，人所未經，醫所不識，但服此丹，無不立效。一丸不應，二丸三丸必效無疑。胎前常服，能壯氣血養胞胎，室女經閉，月水不調諸證並效。</p>
<p><u>產後十八論神驗方</u>　六七</p>
<p>此蒙溪覺河圖道先氏傳也。序云：予子媳孕素弱多病，臨產愈甚，舉家惶恐，延醫十數，聚論無濟，真呼吸死生也。適有好友于老醫處覓得此方持送，極言其效。予無計可施，只得按症投藥，一服而母子保全，其應如響。後值家人婦三四輩，皆產後危症，按論而治，不爽毫釐，族黨親友以此方治人者，無不神驗，歷年以來，百投百效。用是公之於世，庶產難有解，而生全無算矣。</p>
<p>紅花（二兩）　官桂（一兩五錢）　乾薑（一兩，二味如婦人三十歲以外者再加五錢）　熟地（一兩）　當歸（一兩）　莪朮（一兩，麵煨）　蒲黃（一兩，炒）　赤芍（一兩）　雄黑豆（一兩）。</p>
<p>上藥九味，如法炮製，共為細末。盛磁瓶內，須封口勿令出氣，臨用時每服三錢。凡患產後諸症者，細查十八論中，必其所患與所論相符，乃照所論引子，用水二鍾，煎六分，將前藥三錢衝入攪勻，空心溫服即效，其服數不拘多少，總以病好為度。大約重者不過四五服，輕者二三服而已。</p>
<p>一孕婦有患熱病六七日，小腹疼痛欲死，指甲青色，而口中出沫者，皆因臟府熱極，以致子死腹中，不能順下耳。若眼此藥即產。用滑石、榆皮各一錢煎湯，加陳酒三分和藥服。如不熱，連鍾頓滾水內，候熱服。</p>
<p>一凡難產者，因子在母腹飲血十個月，或有餘血，凝結為塊，名曰兒枕。生時兒枕先破，敗血流入衣胞中，所以難產。急服此藥，逼去敗血，自然易生。用炒黃燕子糞、滑石、榆皮各一錢煎湯，加酒三分和藥服。</p>
<p>一胎衣不下，敗血流入衣中所致。用炒黃燕子糞、滑石、榆皮各一錢煎湯，加酒三分和藥服。</p>
<p>一產後三五日，起坐不得，眼見黑花及心迷不識人者，因敗血流入五臟奔注於肝。庸醫不知，誤認為暗風，治之必死。惟此藥能救。用陳酒一鍾，將生鐵燒紅，浸其內候鐵冷，取出，再燒紅浸之，如是三次。用榆恨皮炭、延胡索各一錢煎，入陳酒、童便各三分和藥服。</p>
<p>一產後口乾，心悶多煩渴者，乃氣血未定，便吃腥酸熱物，以致余血結聚於心，故有此症。用當歸一錢煎湯，入童便三分和藥服。</p>
<p>一產後寒熱往來，頭疼腰背痛者，皆產時偶受風寒，邪氣入於腸內，敗血不盡，上連心肺，下至肝腎，故有此症。用當歸一錢煎湯，入童便三分和藥服。</p>
<p>一產後發熱，或遍身寒冷，皆因敗血攻注於四肢，停滯日久，不能還元，仍結膿血，甚至四肢俱腫。若作水腫必誤，蓋水腫則喘，小便澀滯；氣腫則四肢寒熱，須細細辨明。先服此藥逐去敗血，次服通寶散立效。用官佳、紅花各一錢煎湯，入陳酒三分和藥服。</p>
<p>一產後言語顛狂，眼見鬼神，乃敗血攻心所致。急眼此散，用當歸一錢，酒半鍾煎湯，入童便三分和藥服。</p>
<p>一產後失音不語，是七孔三毛九竅，多被敗血沖閉，所以言語不得。用延胡索、棕皮各一錢煎湯，入陳酒三分和藥服。</p>
<p>一產後腹痛兼瀉痢，或腹脹虛滿者，皆因月中誤吃生冷熱物，而余血結聚，日久漸甚，腹脹疼痛，米穀不消，或膿血不止。水氣入腸冷痛，或敗血入小腸，變赤白帶。須先眼此藥，逐去敗血，然後調洽瀉痢。用葛恨一錢煎湯入童便、陳酒各二分和藥服。</p>
<p>一產後百節疼痛，乃敗血入於關節之中，聚結虛脹，不能還元故耳。用酒半鍾、牛膝一錢煎湯，入童便三分和藥服。</p>
<p>一產後有血崩如雞肝，昏悶發熱者，因敗血未定，誤吃腥酸之物所致。用樟柳根、杏膠各一錢煎湯，入陳酒三分和藥服。</p>
<p>一產後昏迷驚恐，氣逆咳嗽，四肢寒熱，口乾心悶，或背膊酸腫，腹中時痛，皆因血未還元，早吃熱物麵食，致有此症。日久甚至月經不通，黃赤帶下，而小便或滑或脹急，服此散。用樟柳根、杏膠各一錢煎湯，入陳酒三分和藥服。</p>
<p>一胸膈氣滿嘔逆者，敗血未淨，心有惡物，肺氣不清，所以如此。不可作傷食治，宜服此藥。可用樟柳根、杏膠各一錢煎湯，入酒三分和藥服。</p>
<p>一產後小便赤色，大便澀滯，或產門脹腫，乃敗血流入小腸，閉卻水道所致。切勿認作淋澀，當服此散。用樟柳根、杏膠各一錢煎湯，入陳酒三分和藥眼。</p>
<p>一產後舌乾鼻衄，繞項生點者，敗血流入五臟也。用當歸一錢，酒半鍾煎湯，入童便三分和藥服。</p>
<p>一產後腰痛眼澀，或渾身拘攣，牙關緊閉，或兩腳如弓，狀如中風者，因百日之內，過行房事耳。用烏蝦蟆、麻子各一錢煎湯入陳酒三分和藥服。</p>
<p>一產後臟腑不安，言語不得，咽喉作蟬聲者，乃月中誤吃熱物，或停宿食，而敗血攻注，喘息間上下往來，與牙關相緊，故有此症。用乳香一錢煎湯，入陳酒三分和藥服。</p>
<p>原方本系未藥，如倉卒有患產症者，未獲制末藥，即照原方藥料，用十分之一，仍按症照引煎服，以病好為度，亦百試百驗。</p>

<h1>卷八</h1>

<h2>乳證門</h2>

<h3>乳汁不行　一</h3>
<p>產婦乳汁，乃血液所化，稟乎太陰之氣，故其色白。其不行者，或因去血過多，則氣虛血弱，無可流通；或瘀血停留，則氣壅血滯，必脹而且痛。隨證施治，可使必已。既行之後，飲食最宜甘淡。蓋乳由氣血所化，而氣血必藉水穀長養，倘恣嗜無忌，則乳性隨之而變，以此哺兒，必致多病。有一兒昏睡，竟日不醒，舉家驚惶求醫投藥罔效。一高醫診之曰：此兒中酒得母乳，母曾痛飲乎？詢之果然。停藥而醒。可見其利害相關明矣。</p>
<p>若氣血虛者，加味四物湯或當歸補血加蔥白湯。氣脈壅滯者，湧泉散、漏蘆散。</p>
<p>加味四物湯　本門一</p>
<p>當歸補血加蔥白湯　本門二</p>
<p>湧泉散　本門三</p>
<p>漏蘆散　本門四</p>

<h3>乳汁自湧　二</h3>
<p>產後乳汁自出者，有胃氣虛弱，不能斂攝津液者，宜補胃氣以斂之；有氣血大虛，以致氣不衛外，血不榮里，而為妄泄者，宜調補榮衛以止之。若產婦勞役太過，乳汁湧下者，此陽氣虛而厥也。未產乳汁自出，謂之乳泣，生子多不育。</p>
<p>若胃氣虛者，四君子湯加黃耆。氣血大虛者，十全大補湯倍參、耆。勞役太過，陽氣虛而厥者，獨參湯。若食少乳多，欲回其乳者，兔懷散。若無兒食乳，欲斷者，麥芽煎。</p>
<p>四君子湯　見產後門十三</p>
<p>十全大補湯　見月經門二四</p>
<p>獨參湯　見產後門四</p>
<p>兔懷散　本門五</p>
<p>麥芽煎　本門六</p>

<h3>乳癰　三</h3>
<p>婦人乳房屬陽明，乳頭屬厥陰。若忽然紅腫，堅硬疼痛，憎寒壯熱，此欲成乳癰也。宜急治之，當疏肝清熱，兼以養血敗毒，則腫硬自消。否則必血滯不舒，加以乳汁壅積，則潰而成膿矣。</p>
<p>若初起或已成癰者，消毒飲加減主之。潰後氣血虛弱者，人參養榮湯。膿清不斂者，惟十全大補湯為最。</p>
<p>消毒飲　本門七</p>
<p>人參養榮湯　見月經門二二</p>
<p>十全大補湯　見月經門二四</p>

<h3>吹乳　四</h3>
<p>吹乳者，因乳兒之時，被兒口氣所吹，以致乳管不通，蓄積在內，遂成結核，腫硬脹痛。當早為消除，否則，久必成癰，潰腐流膿，則難治矣。</p>
<p>若初起之際，須忍痛揉散為妙。方宜瓜蔞散主之。服後不散者，立效散。外用天南星散敷之，又宜以蔥熨法熨之。</p>
<p>瓜蔞散　本門八</p>
<p>立效散　本門九</p>
<p>天南星散　本門十</p>
<p>蔥熨法　本門十一</p>

<h3>乳岩　五</h3>
<p>乳岩之證，初起結核，如圍棋子大，不痛不癢，五七年後，或十餘年，從內潰破，嵌空玲瓏，洞竅深陷，有如山岩，故名乳岩。皆由抑鬱不舒，或性急多怒，傷損肝脾所致。宜速開鬱解怒，戒七情，遠葷味。始望有濟矣。</p>
<p>若結核初起者，十六味流氣飲，外以木香、生地搗餅熱器熨之，又以青皮甘草飲不時飲之。若潰後久不愈者，惟宜培補氣血，如十全、八珍、歸脾等湯，選而用之。</p>
<p>十六味流氣飲　本門十二</p>
<p>木香生地餅　本門十三</p>
<p>青皮甘草飲　本門十四</p>

<h3>妬乳乳懸　六</h3>
<p>乳頭生瘡，謂之妬乳。若兩乳細長，下垂過腹者，謂之乳懸。乃瘀血上攻所致。此證惟產後始有，不概見也。</p>
<p>若乳頭主瘡者，宜鹿角散敷之，內服連翹散。兩乳細垂者，宜芎歸湯不時飲之，以其餘藥薰鼻，則瘀散乳即上升。如不上者，以萆麻仁搗，貼頂心，收急去之。</p>
<p>鹿角散　本門十五</p>
<p>連翹散　本門十六</p>
<p>芎歸湯　見產後門五</p>

<h2>乳證門匯方</h2>
<p><u>加味四物湯</u>　一</p>
<p>熟地　當歸　白芍　川芎　花粉　王不留行　木通。</p>
<p>上用豬蹄熬湯煎服。外以蔥白煎湯，時時淋洗乳房，以通其氣。</p>
<p><u>當歸補血加蔥白湯</u>　二</p>
<p>當歸（四錢）　黃耆（一兩）　蔥白（五寸）。</p>
<p>上銼，水煎服。或加白芷四五錢豬蹄湯煎服，酒水煎亦效。</p>
<p><u>湧泉散</u>　三</p>
<p>白丁香　王不留行　天花粉　漏蘆　殭蠶（各等分）。</p>
<p>上豬蹄湯煎服。</p>
<p><u>漏蘆散</u>　四</p>
<p>漏蘆（一兩半）　蛇退（十條，炙）　瓜蔞（十枚，急火煅存性，一方用恨十個切片炒）。</p>
<p>上為末，每服二錢，酒調下。仍食豬蹄羹以助之。</p>
<p><u>免懷散</u>　五</p>
<p>紅花　赤芍　歸尾　牛膝。</p>
<p>上銼，水煎服。</p>
<p><u>麥芽煎</u>　六</p>
<p>麥芽三兩。</p>
<p>水煎，作茶飲。</p>
<p><u>消毒飲</u>　七</p>
<p>青皮　白芷　當歸　柴胡　浙貝母　殭蠶　天花粉　金銀花　甘草節（各等分）。</p>
<p>水煎服。</p>
<p><u>瓜蔞散</u>　八</p>
<p>瓜蔞（一園）　乳香　沒藥　當歸　甘草（各等分）。</p>
<p>上為末，酒煎服。</p>
<p><u>立效散</u>　九</p>
<p>即前瓜蔞散加皂刺也。煎服同。</p>
<p><u>天南星散</u>　十</p>
<p>南星　半夏　殭蠶　白芷　皂刺　草烏（各等分）。</p>
<p>上為細末，用蔥汁合蜜調敷。</p>
<p><u>蔥熨法</u>　十一</p>
<p>用連根蔥一大把，搗爛成餅，一指厚，攤乳上，用瓦罐盛灰，覆蔥上，須臾汗出即愈。</p>
<p><u>十六味流氣飲</u>　十二</p>
<p>當歸　白芍　人參　黃耆（各二錢）　川芎　防風　蘇葉　白芷　枳殼　桔梗（各一錢）　甘草　檳榔（各五分）　烏藥　厚朴　官桂　本通（各八分）。</p>
<p>上銼，每服五錢，水煎服。</p>
<p><u>木香生地餅</u>　十三</p>
<p>木香（二錢）　生地（四錢）。</p>
<p>上二味搗成餅，置患所，以熱湯器熨之。</p>
<p><u>青皮甘草飲</u>　十四</p>
<p>青皮　甘草（各一錢）。</p>
<p>上為末，煎濃，薑湯調眼。</p>
<p><u>鹿角散</u>　十五</p>
<p>鹿角　甘草（各等分）。</p>
<p>上為末，雞子黃調銅器內，炙敷之。</p>
<p><u>連翹散</u>　十六</p>
<p>連翹　防風　元參（各二錢）　白斂　芒硝　大黃　射干（各一錢）　白芍（一錢）　升麻（五分）　甘草（五分）　杏仁（二十粒）。</p>
<p>上銼，姜水煎服。</p>

<h2>前陰門</h2>

<h3>陰腫　一</h3>
<p>婦人子戶腫脹墜痛，及兩抝疼痛者，謂之𤵄痃。乃肝心二經火盛，濕熱下注，或中氣素虛，下陷重墜，以致憎寒壯熱，小便澀滯，或腹內急痛，或小腹痞悶。法當瀉肝熱，養肝血，升補中氣，治無餘矣。</p>
<p>若兩抝小腹腫痛者，肝經濕熱壅滯也，龍膽瀉肝湯。玉門腫脹者，肝火盛而血虛也，加味逍遙散，或龍膽瀉肝湯加木香。倘投以散血攻毒之劑，則誤甚矣。若中氣素虛，下陷重墜者，補中益氣湯。外俱宜用騰洗之法，則腫消而痛自定。</p>
<p>龍膽瀉肝湯　本門一</p>
<p>加味逍遙散　見月經門十</p>
<p>補中益氣湯　見月經門四八</p>
<p>薰洗法　本門二</p>
<p>騰熨法　本門三</p>

<h3>陰痛　二</h3>
<p>婦人陰中作痛，名小戶嫁痛，痛極往往手足不能伸舒。由鬱熱傷損肝脾，濕熱下注所致也。治此者宜內服加味逍遙散，外以四物湯料合乳香搗餅，納陰中，其痛即定。</p>
<p>加味逍遙散　見月經門十</p>
<p>四物乳香敷法　本門四</p>

<h3>陰癢　三</h3>
<p>婦人陰癢，由鬱怒傷肝，結滯不散，濕熱蓄起，因而生蟲，甚則陰內癢痛，不時出水，肢體倦怠，小水淋漓。法當養血清肝，則癢痛可消矣。</p>
<p>若治此者，宜加味逍遙散，甚則龍膽瀉肝湯。外以桃仁雄黃膏納陰中，其蟲一聞肝腥，皆鑽於肝內吮食，將肝提出，此去蟲之法也。蟲去其病即愈。</p>
<p>加味逍遙散　見月經門十</p>
<p>龍膽瀉肝湯　本門一</p>
<p>桃仁雄黃膏　本門五</p>

<h3>陰挺　四</h3>
<p>婦人陰中突出一物如蛇頭，或如菌如雞冠者，名曰陰挺，即古之癲疝類也。或因胞絡損傷，或分娩用力太過，或氣虛下陷，或濕熱下注，但此證有熱虛之辨，不可不析。其形腫痛，小便赤數者，為熱、為濕；其形重墜小便清長者，為氣虛下陷也。</p>
<p>若屬濕熱者，龍膽瀉肝湯，或加味逍遙散。屬氣虛下陷者，補中益氣湯加青皮、山梔。外俱宜用蛇床洗法，洗後以黎蘆敷法敷之，無不愈者。</p>
<p>龍膽瀉肝湯　本門一</p>
<p>加味逍遙散　見月經門十</p>
<p>補中益氣湯　見月經門四八</p>
<p>蛇床洗法　本門六</p>
<p>藜蘆敷法　本門七</p>

<h3>陰滄　五</h3>
<p>婦人陰滄．名曰䘌。由七情鬱火，傷損肝脾，氣血凝滯，濕熱下注，久而蟲生，蟲蝕成滄，膿水淋漓，時疼時癢，有若蟲行，少腹脹悶，溺赤頻數，食少體倦，內熱哺熱，經候不調，赤白帶下，種種證見，須洋而治也。</p>
<p>若腫痛者，加味四物湯。潰爛出水而痛者，加味逍遙散。重墜者，補中益氣湯。</p>
<p>加味四物湯　本門八</p>
<p>加味逍遙散　見月經門十</p>
<p>補中益氣湯　見月經門四八</p>

<h3>陰痔　六</h3>
<p>婦人陰中有肉突出者，名曰陰痔，俗稱茄子疾也。流黃水者易治，流白水者則難愈矣。</p>
<p>治此者，宜逍遙散、歸脾湯、補中益氣湯量其虛實用之。外宜烏頭薰法。</p>
<p>逍遙散　見月經門九</p>
<p>歸脾湯　見月經門十四</p>
<p>補中益氣湯　見月經門四八</p>
<p>烏頭薰法　本門九</p>

<h3>陰冷　七</h3>
<p>婦人陰冷，皆由勞傷過度，風寒乘虛，客於子臟，久之血凝氣滯，多變他證，且艱於受孕也。</p>
<p>治此者，宜多服八味地黃丸，以漸圖功。外宜溫中坐藥。</p>
<p>八味地黃丸　本門十</p>
<p>溫中坐藥　本門十一</p>

<h3>陰吹　八</h3>
<p>婦人陰吹者，陰中時時氣出有聲，如穀道轉矢氣狀。《金匱》謂由穀氣實，胃氣下泄，用膏發煎，導病從小便而出，其法甚奧。若氣血大虛，中氣下陷者，宜十全大補湯加升麻、柴胡以升提之。</p>
<p>膏發煎　本門十二</p>
<p>十全大補湯　見月經門二四</p>

<h3>交接出血　九</h3>
<p>婦人每交接輒出血者，由傷損心脾二經也。宜歸脾湯中加優龍肝，或用《千金》桂心釜墨散。</p>
<p>歸脾湯　見月經門十四</p>
<p>桂心釜墨散　本門十三</p>

<h2>前陰門匯方</h2>
<p><u>龍膽瀉肝湯</u>　一</p>
<p>生地（二錢）　木通　車前子（各一錢五分）　澤瀉　黃芩（各二錢）　當歸（二錢）　黑梔仁　龍膽草　生甘草。</p>
<p>上燈心一團，水煎眼。</p>
<p><u>薰洗法</u>　二</p>
<p>防風（三錢）　大戟（一錢）　蘄艾（一團）。</p>
<p>上熬湯薰洗。</p>
<p><u>騰熨法</u>　三</p>
<p>枳實　廣皮（各等分）。</p>
<p>上為末，炒熱騰熨之。</p>
<p><u>四物乳香敷法</u>　四</p>
<p>四物湯（一料）　乳香（一錢）。</p>
<p>上搗餅，納陰中，其痛即定。</p>
<p><u>桃仁雄黃膏</u>　五</p>
<p>桃仁（五錢，研膏）　雄黃（三錢，末）。</p>
<p>上二味研勻，用雞肫肝切片，蘸藥納戶中，其蟲即鑽入肝，而癢自止。</p>
<p><u>蛇床洗法</u>　六</p>
<p>蛇床子（五錢）　烏梅（九枚）。</p>
<p>上二味，熬湯乘熱薰洗。</p>
<p><u>藜蘆敷法</u>　七</p>
<p>藜蘆為末。</p>
<p>上用豬脂油調敷自收。</p>
<p><u>加味四物湯</u>　八</p>
<p>生地　當歸　白芍　川芎　柴胡　山梔（炒）　龍膽草。</p>
<p>上銼，水煎服。</p>
<p><u>烏頭薰法</u>　九</p>
<p>烏頭。</p>
<p>上用釅醋熬薰自消。</p>
<p><u>八味地黃丸</u>　十</p>
<p>熟地（八兩，九蒸）　山藥（四兩，炒）　山萸（四兩，酒蒸去核）　白苓（三兩，乳制）　丹皮（三兩，酒焙）　澤瀉（三兩，鹽水拌炒）　附子（一兩，炮）　肉桂（一兩，去粗皮）。</p>
<p>煉蜜為丸，桐子大，每服三錢，空心淡鹽湯送下，忌三白。</p>
<p><u>溫中坐藥</u>　十一</p>
<p>遠志　乾薑　吳茱萸　蛇床子（各等分）。</p>
<p>上為末，綿里納戶內，一日二次換。</p>
<p><u>膏發煎</u>　十二</p>
<p>婦人亂髮一團。</p>
<p>上用豬膏熬化服之，小便利則愈。</p>
<p><u>桂心釜墨散</u>　十三</p>
<p>桂心　釜底墨（各等分）。</p>
<p>上二味為末，酒服方寸匕。</p>

<h2>雜證門</h2>

<h3>熱入血室　一</h3>
<p>《金匱》云：婦人中風七八日，續來寒熱，發作有時，經水適斷，此為熱入血室。其血必結，故使如瘧狀，發作有時，小柴胡湯主之。此言邪熱未盡，值經來，乘虛入於血室之間而潛藏之，故令血結，而寒熱有時如瘧狀也。血室肝主之，肝與膽為表裡，膽因肝受邪而病寒熱，故用小柴胡湯主之也。後人更加當歸、生地、丹皮者，所以清血分之熱也。</p>
<p>《金匱》云：婦人傷寒發熱，經水適來，晝日明瞭，夜則譫語，如見鬼狀，此為熱入血室，治之無犯胃氣及上二焦，必自愈。此言熱雖入子血室，然經行不斷，則熱不留結，勿謂譫妄，遂以硝黃犯其胃氣刺傷榮血，小柴胡和解犯上二焦，但俟其熱隨血去，病必自愈。《傷寒論》曰：血自下，下者愈，此之謂也。</p>
<p>《金匱》云：婦人中風，發熱惡寒，經水適來，得六八日熱除，脈遲身涼，胸脅滿，如結胸狀，譫語者，此為熱入血室也，當刺期門，隨其實而取之。又云：陽明病下血譫語者，此為熱入血室，但頭汗出者，當刺期門，隨其實而瀉之，濈然汗出者愈。此二條一言適來即斷，血結在裡，為實證；一言陽明病亦有熱入血室，但下血頭汗出為不同，故為熱入血室，亦由肝實，故均謂當刺期門也。不能刺者，以清熱行血湯治之。合四證觀之，大抵有寒熱如瘧之證，方可用小柴胡湯。否則或不藥自愈，或刺期門而清熱行血，以隨其實而瀉之。此仲景心法也，不得概以小柴胡治之也。</p>
<p>小柴胡湯　本門一</p>
<p>清熱行血湯　本門二</p>

<h3>血分水分　二</h3>
<p>婦人經水先閉後病腫者，乃寒濕傷於衝任，血壅經隧也，名曰血分。若先病腫而後經閉者，乃上虛不能制水，水邪氾濫，溢於皮膚也，名曰水分。血分難治，水分易愈，治者詳之。</p>
<p>血分腫，乃血壅不行，流於四肢，故令浮腫，此不必治腫，但調其經，經通其腫自消，宜小調經散加紅花、丹皮、牛膝。</p>
<p>水分腫，乃水飲內停，膀胱之氣化不行，水溢皮膚，故令浮腫經閉也。此但宜治水，水消腫退，其經自通，宜用茯苓導水湯，或照方水泛為丸服亦可。</p>
<p>小調經散　見產後門二五</p>
<p>茯苓導水湯　見胎前門十四</p>

<h3>夢與鬼交　三</h3>
<p>《經》曰：心藏神，肝藏魂，肺藏魄，脾藏意。婦人七情內傷，虧損心脾，意欲不遂，神無所護，以致魂魄不寧，隨神出入，故夜夢鬼交，晝則獨悲獨笑，宛有對忤，實自身神魂為病，非真有鬼邪干侵，而後若是也。當以養血安神為主，則鬼邪不驅而消滅矣。宜用歸脾湯調辰砂、琥珀末服之，則志定神清，魂魄寧而無邪夢矣。</p>
<p>歸脾湯　見月經門十四</p>

<h3>炙臠　四</h3>
<p>《千金方》云：咽中帖帖如有炙肉，吐之不出，吞之不下，即所謂咽中如有炙臠也。俗名梅核氣。蓋因內傷七情，外傷寒冷所致。惟《金匱》半夏厚朴湯為治此之神劑。</p>
<p>半夏厚朴湯　本門三</p>

<h3>血風瘡　五</h3>
<p>婦人血風瘡證，遍身起㾦㿔，如丹毒狀，或癢或痛，搔之則成瘡，由風濕血燥所致。法當養血。蓋血和風滅而燥為潤矣。</p>
<p>初起者宜加味逍遙散更加主地、黃連。如瘡結痂而愈，復起白屑，肌膚強硬者，乃血少不潤也，養榮湯主之。</p>
<p>加味逍遙散　見月經門十</p>
<p>人參養榮湯　見月經門二二</p>

<h3>臁瘡　六</h3>
<p>婦人憂思郁慈，傷損肝脾，或飲食不調，損其胃氣，則濕熱下注，更被寒濕外侵，則必兩臁生瘡。外臁屬足三陽經，其治易；內臁屬足三陰經，每多難痊。不可不知。</p>
<p>初起紅腫者，人參敗毒散。潰後腫水淋漓者；補中益氣湯，哺熱者，真陰虧虛也，六味地黃丸。食少體倦，畏寒喜暖者，真陽不足也，八味地黃丸。</p>
<p>人參敗毒散　見產後門四四</p>
<p>補中益氣湯　見月經門四八</p>
<p>六味地黃丸　見月經門二五</p>
<p>八味地黃丸　見前陰門十</p>

<h3>足跟痛　七</h3>
<p>足跟乃督脈發源之地，足少陰腎經徑過之所。若縱欲不禁，崩漏亡血，虧損三陰，虛熱內起，以致足跟疼痛者，當以填補真陰為主，不得妄清其熱也。治此者，宜大劑六味地黃湯峻補真水。若痛久不愈，腫潰流膿者，宜八珍湯之類，大補其氣血，乃克有濟也。</p>
<p>六味地黃湯　見月經門十五</p>
<p>八珍湯　見月經門二三</p>

<h2>雜證門匯方</h2>
<p><u>小柴胡湯</u>　一</p>
<p>柴胡（三錢）　黃芩（二錢）　半夏（一錢五分）　炙草（一錢）　人參（一錢）　生薑（三片）　大棗（一枚）。</p>
<p>上銼，水煎服。依本方加生地、當歸、丹皮尤妙。</p>
<p><u>清熱行血湯</u>　二</p>
<p>桃仁（一錢）　紅花（一錢）　丹皮　五靈脂　生地（各二錢）　甘草（五分）　穿山甲　赤芍（各一錢）。</p>
<p>上水煎服。</p>
<p><u>半夏厚朴湯</u>　三</p>
<p>半夏　厚朴　蘇葉　茯苓（各二錢）。</p>
<p>上生薑煎眼。</p>
