<header data-type="book">
<h1>串雅補</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>魯照/南厓</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>掃葉山房石印本</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>方士嘗言：一頂二串，湖海走遍。其方各承師技，多有名同藥異。守訣為衣食謀，雖妻兒不知，因藥霸而難與人言也。顧方術有四：一頂二串三抵四色。何謂頂？頂者，湧汗也。燒丹亦謂頂。串者，攻下也。毒藥亦謂串。抵者，偏藥抵金以欺人也。色者，拔牙、點痣、熨烙、火罐，諸戲謂色樣也。恕軒所集《串雅》，與方士所傳不同。然觀其門分截禁，而法不外抵、色。其所云七十二截，抑或另是別傳。予前二十年，嘗網羅方士諸術，淘汰成編，久藏敝簏。因恕軒書多，不備擇，其尤雅者類，仍其舊曰頂、串、抵、色，以其補所未備也，顏之曰《串雅補》。</p>
<p><u>道光五年臘月中旬三橋錄於復經室</u></p>

<h1>卷一</h1>

<h2>頂方</h2>

<h3>元黃頂</h3>
<p>此藥醇而不霸，能治內外一切症，用冠諸方之首。</p>
<p>番木鱉（一斤），泉水浸脹，刮去皮毛，劈作兩片，日換山水兩次，勿使移換地方。盛夏浸八九日，春秋十餘日，嚴冬二十餘日。嘗之味淡不苦者，撈起曬乾，掘向陽山上黃土斤余篩細，隨掘隨用，不可經宿。拌木鱉入鍋炒燥，勿使焦黑，攤地去火，用篩格出，即為細末，收貯嚴密，隨症施用。</p>
<p>此藥走而不守，有馬前之名，能鑽筋透骨，活絡搜風。治風痹癱瘓，濕痰走注，遍身骨節痠疼，類風不仁等症。每服二分，陳酒送下或隨煎飲用，使調入四五釐或一二分，和服大效。</p>
<p>一、治癰疽疔毒初起未成者，用一分，酒下即散；已潰者，能內托敗毒，去腐生新，用分許，陳酒送下；頑瘡瘰癧，管漏腐骨，內服外糝，雖年久難療者亦愈。</p>
<p>一、跌打損傷、金瘡、破傷風、禽獸蛇蟲傷咬，內服外敷。又糝諸瘡，能拔毒生肌完口，一切沉疴宿疾，屢建奇功，實力外散要藥，妙用甚多，真神方也。</p>

<h3>獨腳頂</h3>
<p>番木鱉，清水煮脹去皮，曬燥。將酒罈黃泥杵碎篩細，拌木鱉烈火炒鬆，勿令太焦，篩去黃泥。將木鱉為細末，或麵糊為丸如芥子大。臨睡避風，或清湯、或老酒送下。一分起，至三分為止。治病悉同前頂。</p>

<h3>黃金頂</h3>
<p>番本鱉（一斤），水浸脹，去毛。揀選大中小三等，用真麻油（一斤），盛於銅勺內，放風爐中炭火上熬滾沸，投入大等木鱉，候其浮起以打碎，黃色為度，如黑色則過於火候，失藥之靈性矣。取起。次下中等木鱉，亦如是法。三下小等木鱉，亦如是法，為細末。臨用須分年少老幼，用以二分為率。少壯者，可用三四分。或在跌打重傷，又非此例。以陳年老黃米粉糊為丸，卜子大，烈日曬乾藏貯。</p>
<p>一、感冒發熱，薑湯送下。</p>
<p>一、狂熱不識人事，薄荷湯下。</p>
<p>一、嘔吐，砂仁煨薑湯下。</p>
<p>一、頭痛，川芎、白芷、老薑，蔥白湯下。</p>
<p>一、口渴，乾葛、薄荷、老薑、烏梅湯下。</p>
<p>一、頭暈不省人事，半夏陳皮湯下。</p>
<p>一、骨節風痛，防風、羌活、姜皮湯下。</p>
<p>一、火氣暴升，黃柏湯和童便下。</p>
<p>一、哮喘痰火，陳皮湯下。</p>
<p>一、傷食，神麯、山楂湯下。</p>
<p>一、痰多氣多，白芥子、半夏、南星泡湯和薑汁下。</p>
<p>一、小便閉澀，木通、燈芯湯下。不通，和淡竹葉湯下。</p>
<p>一、冷汗不止，炙黃耆湯下。</p>
<p>一、食隔，神麯、麥芽湯下。</p>
<p>一、四肢身背風痛，防風、薄荷、羌活、老薑湯下。</p>
<p>一、鼻塞，細辛、辛夷湯下。</p>
<p>一、去邪退熱，遠志、硃砂、竹茹湯下。</p>
<p>一、惡寒，老薑湯下。</p>
<p>一、咳嗽，薑湯下。</p>
<p>一、霍亂吐瀉，茴香湯下。</p>
<p>一、水瀉，濃茶汁下。</p>
<p>一、大便閉澀，芝麻三錢研末，白湯下。</p>
<p>一、年久熱痰積滯、腹痛，牙皂湯下。</p>
<p>一、酒醉嘔吐，公英、枇杷葉、竹茹湯下。</p>
<p>一、耳聾眩暈，竹瀝湯下。</p>
<p>一、痰多盜汗，黑豆湯下。</p>
<p>一、陰症熱燥，荊芥、丹皮、竹茹、淡豉湯下。</p>
<p>一、頭風痛甚，防風、蔓荊、寄生、川芎、白芷湯下。</p>
<p>一、遍身骨節疼痛又兼畏寒怕熱，老酒下。</p>
<p>一、風氣疼痛，腰寒怕冷，燒酒下。</p>
<p>一、年久腹痛，山楂、乳香湯下。</p>
<p>一、年久風氣疼，手足拘攣難伸，寄生、河車酒下。</p>
<p>一、手足痿弱難伸，牛膝湯下。</p>
<p>一、皮膚癢極，桑白皮湯下。</p>
<p>一、脅痛，木香、乳香湯下。</p>
<p>一、半身不遂，莫能起止。若冷痛，五加皮、地榆制酒服，半月愈。如熱痛，菊花、豨薟浸酒送服，二十日愈。</p>
<p>一、中風口啞，生黃耆湯下。不語，薄荷湯下。</p>
<p>一、腰骨痛，羌活湯下。</p>
<p>一、陽症寒熱不調，川芎湯下。</p>
<p>一、遍身風痛怕熱，菊花酒下。</p>
<p>一、心氣走痛，川椒、烏梅湯下。</p>
<p>一、腰眼痛，乳香湯下。</p>
<p>一、陽癥結胸，大黃湯下。</p>
<p>一、積痛走動者，莪朮、老薑湯下。</p>
<p>一、腹痛難忍，姜皮湯調木香末下。又使君子、川楝子、木香、乳香湯下。</p>
<p>一、輕年肚痛，諸醫不效，黑梔、明礬湯下。</p>
<p>一、痰鬱積滯年深，黑梔、明礬湯下。</p>
<p>一、傷寒陽症痰多者，蘿蔔子、半夏、老薑湯下。又痰渴，硼砂湯下。</p>
<p>一、陽症熱多，黃柏、黃芩湯下，或蔥頭湯下。</p>
<p>一、陽症狂熱口渴，元明粉泡新汲水下。</p>
<p>一、陽症大便乾澀、閉結，麻仁研新汲水下。</p>
<p>一、陽症小便乾澀不利，六一散一錢，新汲水調下。</p>
<p>一、陽症轉作瘧疾，取向東桃柳枝各二寸，露水煎送。如陰症變瘧，半夏、陳皮、山楂、艾葉湯下。</p>
<p>一、陽症轉痢，苦參、艾葉、木香湯下；如紅加銀花。白加姜。</p>
<p>一、陰症沉重昏睡者，參耆湯下。若痰甚，薑汁、竹瀝下。</p>
<p>一、陰症冷汗常流，參耆湯下。（外用陳小麥煎湯洗澡。）</p>
<p>一、陰症痰盛者，南星、半夏、老薑湯下。又陳皮、半夏湯亦效。</p>
<p>一、陰症轉痢，蒼朮、半夏、陳皮、木香湯下。</p>
<p>一、傷暑口渴甚，呼水不止，六一散一錢，新汲水下。</p>
<p>一、傷暑面紅眼昏，氣喘者，新汲水泡元明粉下。</p>
<p>一、傷暑勞力發痧，面嘴手足變色青黑，心窩尚暖者，用前末調赤泥水灌下，俄頃，戰汗如水即蘇。</p>
<p>一、中暑，地漿水下。（素中寒而中暑者，蒜頭搗爛，冷水調下。）</p>
<p>一、隔食翻胃，竹茹、枇杷葉、南棗湯下。</p>
<p>一、寒熱瘧症，逐日來者，陳皮、半夏湯下。</p>
<p>一、間日瘧，或二、三日一發，厚朴、檳榔、山楂、半夏湯下。</p>
<p>一、山嵐瘴氣，檳榔湯下。</p>
<p>一、嘔吐清水，烏梅、訶子湯下。</p>
<p>一、瘟疫時症，涼水下。</p>
<p>一、小腸疝氣，小茴湯下。</p>
<p>一、嘔血，白茅根斤許，煎濃湯送下。</p>
<p>一、吐血不止，京墨汁下。</p>
<p>一、勞傷虛損，咳痰帶血絲者，知母、麥芽、童便下。</p>
<p>一、痰咳、柏葉、茅根湯下。</p>
<p>一、鼻血流不止，硼砂一錢為末，白湯下。</p>
<p>一、火眼痛，甘菊花湯下。</p>
<p>一、腸風下血，瀝膿不止，生地、歸尾湯下。</p>
<p>一、吐血發熱，扁柏葉、茅根、藕節湯下。</p>
<p>一、糞後下血不止，生地榆湯下。</p>
<p>一、大便下血，槐花、大薊湯下。</p>
<p>一、患病日久，夢與鬼交，硃砂、茯神湯下。</p>
<p>一、精神不寧，硃砂湯下。</p>
<p>一、病後精神恍惚，夢與鬼交，安息香湯下。</p>
<p>一、夢泄遺精，蓮鬚湯下。</p>
<p>一、寢臥亂言，桃柳枝湯下。</p>
<p>一、羞見三光眼痛，白芍、甘菊花湯下。</p>
<p>一、痰迷心竅，琥珀湯下。</p>
<p>一、目病赤澀，甘菊、桑皮湯下。</p>
<p>一、眼患熱痛，水煎百沸湯，置天井中露一宿，溫熱，調藥末如漿，擦敷眼眶，的有明驗。</p>

<h3>治女科症引</h3>
<p>一、月經凝滯不行，紅花酒下。</p>
<p>一、血熱未及信期而來，蘇木湯下。</p>
<p>一、血虛過期不來，益母草湯下。</p>
<p>一、赤白帶下，血淋不止，硫黃湯下。單白帶，胡椒湯下。</p>
<p>一、苦熱又吐血，烏梅、牡蠣、童便下。</p>
<p>一、熱淋痛甚，車前、地膚子草搗汁，和陳酒下。</p>
<p>一、血崩，側柏葉、山茶花、歸鬚湯下。</p>
<p>一、乳癰，鹿角屑焙乾焦為末，調酒下。</p>
<p>一、治胎衣不下，石花水澄清下。</p>
<p>一、產後血痛，益母丸泡薑汁下。</p>
<p>一、肚痛難忍，梔子湯下。</p>
<p>一、血毒，硫黃湯下。</p>
<p>一、婦人夢與鬼交，安息香湯下。</p>

<h3>小兒科湯引</h3>
<p>每服三、四、五、六、七釐為則。</p>
<p>一、啼哭無常，雄黃湯下。</p>
<p>一、驚風發熱，薄荷、燈芯湯下。（或加薑汁一匙。）</p>
<p>一、驚風危甚，抱龍丸淡薑湯下。</p>
<p>一、慢脾風泄瀉，蓮子、薄荷、老薑湯下。</p>
<p>一、發熱驚叫、銀花、硃砂湯下。</p>
<p>一、大頭瘟，甕菜湯下，仍研末醋調，敷腫處。（甕菜即大頭菜。）</p>
<p>一、咳嗽痰升喘急，貝母、知母湯下。</p>
<p>一、痰迷心竅，四肢冷逆，燈芯、姜皮泡麝香半釐下。</p>
<p>一、吐乳夜啼，薄荷、砂仁、姜皮、半夏、蟬蛻湯下。</p>
<p>一、疳積潮熱時劇，麥冬、黃連湯下。</p>
<p>一、肚腹虛脹，茯苓湯下。</p>
<p>一、疳病腹痛，使君子湯下。</p>
<p>一，傷風恐怖驚慌，茯神、琥珀湯下。</p>
<p>一、食積肚痛，五靈脂湯下。</p>
<p>一、水瀉不止，白朮湯下。</p>
<p>一、冷瀉，如水直出，參朮湯下。</p>
<p>一、小兒耳內流膿臭，用藥末和麝香少許，吹入耳內自干。</p>
<p>一、急驚風，硃砂、金箔湯下，再用末吹鼻。</p>

<h3>外科湯引</h3>
<p>一、無名腫毒，銀花湯下。</p>
<p>一、結核走竄，防風湯下。</p>
<p>一、跌僕頭面身黑、腫痛，用燒酒調敷，仍用酒送服。</p>
<p>一、腫毒，背腫毒，皂角湯下。</p>
<p>一、癰疽勢危，角刺湯下。</p>
<p>一、背瘡疔毒流注，山茶花、銀花湯下。</p>
<p>一、楊梅、天泡等瘡，銀花湯下。</p>
<p>一、痰注癧串結核，彌勒草浸酒下。</p>
<p>一、癧瘡結核，並穢爛不堪，土茯苓湯下。</p>
<p>一、癧疽臭爛、不生肌肉，土茯苓湯下。</p>
<p>一、喉癬等瘡，銀花湯下，再用末吹喉立除。</p>
<p>一、雙單喉鵝，明礬湯下。喉黃，生草湯下。</p>
<p>一、治五蠱脹腫，不論久近，五加皮湯下。</p>
<p>一、治五淋痛甚，生車前草搗汁下。</p>
<p>一、治通腸痔漏，膿血滴瀝，穢疼難忍，土茯苓湯下。</p>
<p>一、四肢浮腫，木瓜湯下。</p>
<p>一、食蠱，石燕湯下。</p>

<h3>九仙頂（主治湯引如前方）</h3>
<p>川木鱉（一斤），水浸一日，用陳酒四吊，煎百沸，脫去皮毛，用真麻油（一斤），放入鍋內同煎至黃色，勿令焦枯。取起，放瓦上草灰拌干，曬燥，為細末，分作九包，包好候用。九味藥汁配上九包木鱉，將九味藥各煎汁一盅，每一盅放末一包，須要浸一宿，曬乾，炒燥，再研細末用之。</p>
<p>花椒　石菖蒲　川烏　草烏　皂角　麻黃　生老薑　地蔥　生甘草（各二兩）</p>
<p>上九味各煎汁九盅，浸藥九包。各制燥為末，和勻收藏。每服一、二、三分，小兒減半。</p>
<p>第九次用天花粉（一兩），如前制，曬乾為末。每服二三分。湯引均如前所列。前方為丸服，此方為末服。</p>
<p>按：此藥性冷，不宜輕用。須辨陰陽、強弱，虛實，酌而用之。服藥後，須避風半日。若冒風則寒戰嘔吐，用黑豆或泥漿水煎滾，飲之即止。</p>

<h3>小風門頂（又名獨腳頂）</h3>
<p>治一切風病。如風痹癱瘓、拘攣不仁等症。</p>
<p>麻黃（一兩）　官桂（五錢）　木鱉子（二兩，水浸脹，去皮毛，切片）</p>
<p>共炒至木鱉黑色為度。去前二味，將木鱉為細末。每服三釐，陳酒送下，避風出汗。如冒風嘔吐、發戰，黃泥水煎薑湯解之。</p>

<h3>大元門頂（一名紫金丹）</h3>
<p>治諸毒風氣。量人虛實用之，症引照煎。</p>
<p>番木鱉（六兩），用甘草水煮脹，去皮毛，用真麻油（八兩）放入鍋內同煎至黃色，勿令焦枯。</p>
<p>虎骨（五錢，麻油炙）　茅山蒼朮　川芎　川斷　羌活　桂枝　白芷　當歸　川烏　草烏（薑汁炒）　木瓜　甲片　川漆　川蜈蚣　鬧羊花　全蠍（酒浸焙）　殭蠶　雄黃　乳香　沒藥　南星　地龍（以上各七錢）　蟾酥（二錢二）　麻黃（冬西兩、夏二兩、春秋三兩）</p>
<p>煎濃汁，打糊為丸，綠豆大。硃砂（一兩）為衣。每服四、五、六、七、八分，酒送，避風出汗。如若冒風，以薑湯解之，或地漿水同薑湯解之。</p>

<h3>又方（同前）</h3>
<p>番木鱉（六兩，水煮去皮，麻油炸黃，不令焦枯）　川芎　杜仲　羌活　生草　白芷　當歸　川芎（薑汁炒）　草烏（薑汁炒）　木瓜　甲片　川蜈蚣　全蠍　殭蠶　雄黃　乳香　沒藥　蟾酥（乳化）　南星　鬧羊花（火酒炒）　地龍（各五錢）</p>
<p>共為細末，麻黃（四兩），好酒煎濃汁，打糊為丸，綠豆大，硃砂（一兩）為衣。每服八分起至一錢，酒送下，臨臥蓋被出汗為度。如走風，薑湯解。</p>

<h3>小元門頂</h3>
<p>番木鱉（二兩，甘草水煮透，去皮毛。麻油三兩炸黃）　當歸　羌活　白芷　雄黃　甲片　殭蠶　乳香　沒藥（各一兩）</p>
<p>為末。每服七、八、九分，陳酒送下，蓋被出汗。如冒風嘔吐、發戰，以地漿水煮薑湯解之。</p>

<h3>大風門頂</h3>
<p>川芎　草烏　川烏（各五錢）　乳香（三錢）　秦艽（一錢五）　川牛膝（三錢）　羌活　防風　地龍（各三錢）　桂枝　麻黃（各一兩）　當歸（五錢）　虎骨（三錢）　白芷（五錢）　紅花　獨活（各五錢）　川木鱉（二兩，水煮脹，去皮毛，麻油炸黃）　木瓜（三錢）　蒼朮　加皮　蘄蛇肉（各三錢）　原麝香（五分　此內服方）　山楊柳（四兩，即芫花根）　朴硝（一兩，加山楊柳、朴硝即作糝敷藥）</p>
<p>上為細末，每服七八分至一錢，陳酒送下。治無名腫毒，癰疽發背，筋骨疼，痛風流注。不論陰症、陽症並治。又可作糝敷，神效神速。</p>

<h3>小風門頂</h3>
<p>症治如前。</p>
<p>當歸　麻黃　白芷　川芎　杏仁　生草　蒼朮　草烏（薑汁炒）　羌活（各一兩）</p>
<p>為末。每服七八分或一錢為止，酒送下。蓋被出汗為度。走風，解如前。</p>

<h3>大百風頂</h3>
<p>症治如前。</p>
<p>蒼朮　草烏頭　蔥頭　老薑（各八兩）</p>
<p>四味共搗碎成餅，入瓦罐內封固，埋土中。冬七日，夏三日取出，曬乾，入後藥共研末。</p>
<p>羌活　秦艽　川芎　白芷　麻黃　生草（各一兩）</p>
<p>上為細末，同前末和勻，酒糊為丸，綠豆大。每服八九分或一錢，酒送下，避風出汗為度。</p>

<h3>風頂（又名大風門）</h3>
<p>治麻風諸症，並痛風，跌打損傷、狗咬等症。</p>
<p>羌活（五錢）　獨活（五錢）　秦艽（三錢）　殭蠶（五錢）　全蠍（三錢）　蒼朮（七錢）　白芷（三錢）　甲片（五錢）　川蜈蚣（炙，十二條）　川烏（薑製，一兩）　草烏（薑製，五錢）　當歸（一兩）　桂枝（八錢）　麻黃（八錢）</p>
<p>又用虎吃不完的狗骨頭（煅，二兩），共為細末，磁器收貯。量人虛實，照前湯引送下。</p>

<h3>半篷風</h3>
<p>專治諸風。</p>
<p>川烏　草烏（薑汁炒）　甘松根　三奈（各一兩）　乳香（五錢，制）　沒藥（五錢，制）</p>
<p>共為細末。每服八分，多則一錢，酒送下，蓋被出汗。</p>

<h3>十三太保</h3>
<p>治風癱，癰疽發背，瘰癧腫毒等症，立止疼痛。</p>
<p>川烏　草烏　附子（薑汁炒）　當歸　甲片　龜板（酒炙，各一兩）　乳香　沒藥　腰面（各五錢）　靈仙（酒炒，二兩）　羌活（酒炒）　獨活（酒炒，各二兩。羌活、獨活、靈仙三味另炒，另為細末）　番木鱉（四兩，水煮透，去毛皮，用麻油四兩，炸黃色）</p>
<p>上各制，各為細末，和勻，收貯。每服一錢，用酒送下，避風。隔五日一服除根。上部加荊芥、防風、藁本、元參。下部加川漆、木瓜、胡椒。切忌見風。</p>

<h3>龍虎丹</h3>
<p>草烏　蒼朮（各八兩）　穿山甲（二兩，炒成珠）　補骨脂（一兩）　白芷（一兩）　蔥白（八兩）　老薑（八兩，洗淨搗亂，拌烏、術二味入壇內。於三伏天盦出白毛，有香味取出，曬乾）</p>
<p>和前藥為末，米糊為丸，桐子大。每服十五丸，加至三十丸止，臨臥服。間一日再服，不可多用。恐見風，發戰，解如前法。</p>

<h3>治症湯引</h3>
<p>一、左癱右瘓、半身不遂，防風湯下。</p>
<p>一、驚風，薄荷湯下。</p>
<p>一、手足頑麻、風癢，蔥白湯下。</p>
<p>一、頭風，川芎湯下。</p>
<p>一、跌打損傷，乳香湯下。</p>
<p>一、元虛畏冷、筋骨疼痛，蔥湯下。</p>
<p>一、腸風痔漏下血，槐花湯下。</p>
<p>一、遍身癢疥，荊芥湯下。</p>
<p>一、寒濕氣腳氣，木瓜湯下。</p>
<p>一、胃傷食積，薑湯下。</p>
<p>一、皮黃水腫，姜皮湯下。</p>
<p>一、赤白痢疾，米湯下。</p>
<p>一、下部疝氣，小茴湯下。</p>
<p>一、小兒肚腹膨脹，使君子湯下。</p>
<p>一、五淋，燈心湯下。</p>
<p>一、瘧疾，桃枝湯下。</p>
<p>一、無名腫毒瘡，酒下。</p>
<p>一、腰腿疼痛，合桃酒下。</p>

<h3>萬應丹</h3>
<p>主治湯引照前「黃金頂」例。</p>
<p>斑蝥（糯米泔浸一宿，炒黃色勿令焦）　川烏（煨）　草烏（炒）　三稜　莪朮　首烏　大茴　生地　熟地　黑醜　白醜　雄黃　五靈脂　硃砂　龜板　全蠍　甲片（以上各五錢）　半夏（薑製）　大黃　白芍　赤芍　麻黃（各三錢）　升麻（二錢）　殭蠶（四錢）　杏仁（二十粒，去皮，炙）　生草（一兩）　川蜈蚣（十條，酒洗炙乾）　麝香（五分）</p>
<p>上為細末，用大黑棗（二斤八兩），去皮核蒸熟，搗如泥，入藥末，杵千下，為丸。每丸重三分，每服一丸，隨症引下，症治悉照「黃金頂」引送，或陳酒送下。（酒隨量飲，孕婦忌服。）</p>

<h3>神惠小靈丹</h3>
<p>治附骨癰疽，諸毒疔腫。</p>
<p>番木鱉（二兩，水煮脹，去皮毛，用麻油二兩炸黃色）　甲片（麻油炒，一兩）　草烏（姜炒，六錢）　乳香　沒藥　雄黃（各五錢）　蟾酥（二錢）　麝香（二分）</p>
<p>上為細末，酒為丸，蘿蔔子大。每服七分，陳酒送下。勿令見風，出汗為妙。如見風發吐，以黃泥水煎飲即解。</p>

<h3>元門紫金丹</h3>
<p>治一切癰疽諸發及無名腫毒、流注、惡瘡，一服即消。</p>
<p>川木鱉（四兩，水浸，去皮毛）　麻油（四兩，炸黃色）　川烏　草烏　白芷　生草　羌活　當歸　雄精　沒藥　蜈蚣　全蠍　蟾酥（醋化）　乳香　鬧羊花　廣木香（各三錢）　虎骨（五錢）　麝香（一錢）　飛羅面（一兩）　麻黃（四兩）</p>
<p>為末。將藥粗渣泡湯，煮飛羅麵糊丸，梧子大，辰砂為衣。每服大人七分，老弱並小兒服三四分。上部陳酒下，下部燒酒送下。忌見風，恐嘔吐傷及元氣。服藥後蓋被取微汗乃已。</p>

<h3>鬼頭頂</h3>
<p>治四日兩頭，亦治哮喘。</p>
<p>白信（五錢），用豆腐一大方塊，中挖一池，放信於池內，以原豆腐蓋好，煮一炷香，去腐，用信、雄黃（五錢），陀僧（五錢），生半夏（一兩），為細末，煉蜜為丸，綠豆大。每服六丸，薑湯下。壯者七丸，弱者四五丸。</p>

<h3>又方（亦名鬼頭頂）</h3>
<p>專治四日兩頭、間日痁。</p>
<p>白信（一錢，制同前）　硃砂（三錢）　扁豆（七錢）</p>
<p>為末。綠豆粉糊丸，卜子大，作三十二服，白湯下。</p>

<h3>痰毒頂</h3>
<p>可吐痰毒，並治瘧疾。</p>
<p>白信（五錢，制同前）　生半夏（五錢）　生南星（五錢）　腰雄黃（五錢）</p>
<p>上為細末。神麯糊為丸，如卜子大。若鬼頭頂之輕者三粒，痰毒頂重者四粒。若頂虛眩者，龍眼湯補之。小兒減半。</p>

<h3>三白頂</h3>
<p>專治哮病。</p>
<p>生明礬（三錢）　枯礬（三錢）　生月石（三錢）　飛月石（三錢）　崑山豆豉（一兩）　白信（一錢，制如前）</p>
<p>為末。神麯糊丸，綠豆大。每日清晨白湯送下五分，至眼角紅即愈。</p>

<h3>又方（嚴冬可用）</h3>
<p>主治同前。</p>
<p>白信（一錢，制如前）　生石膏（三錢）　小麥粉（七錢）</p>
<p>共為細末。水為丸，作三十二服。鍋燒紅，入鍋內炒燥，收貯聽用。</p>

<h3>豆蔻頂</h3>
<p>治瘧吐痰毒，並吐清水。</p>
<p>豆蔻（一兩）　紅信（三錢，制同白信）　硃砂（三錢）　陀僧（五錢）</p>
<p>為末。神麯糊丸，卜子大，每服五六丸，白湯送下。此方與前「痰毒頂」不可並用，用前莫用後，用後莫用前，兩方相反，慎之！或鱉甲飲、清脾飲補之。若虛冷者，以龍眼湯補之。小兒減半。</p>

<h3>茶葉頂</h3>
<p>治蟲積並哮喘蟲脹。</p>
<p>茶葉（五錢）　青鹽（一錢）　洋糖（三錢）　三稜（三錢）　雷丸（三錢）</p>
<p>為末。將上鹽、糖煎好，後入二味調勻。每服三錢，白湯送下。治哮症痰喘，除根不發。</p>

<h3>瘧疾頂</h3>
<p>白信（一錢，制同前）　硃砂（二錢）　綠豆粉（七錢）</p>
<p>為末。每服三分，或薑湯調白砂糖送下。用此頂，量人虛實、老幼、大小，或一分、或二分、或分半、或二分半。服之即吐黃水，以冷粥湯補之，一服即愈。</p>

<h3>硃砂頂</h3>
<p>治四日兩頭。</p>
<p>白信（三錢，制同前）　硃砂（五錢）　綠豆粉（三錢）</p>
<p>為末。每服二分，冷茶湯送下。口吐黃水立愈。</p>

<h3>瘧頂</h3>
<p>白信（制同前）　陳細茶葉　綠豆粉　甘草（等分）</p>
<p>為細末。每服二十歲以上二分，二十歲以下一分五釐。五十歲以下二分，用無根水服。日日發，清晨早服。間日發，頭一日晚服。</p>

<h3>痰頂</h3>
<p>治痰症，亦治小兒驚風。</p>
<p>烏梅（五枚，去核焙乾）　製半夏（三錢）　大黃（三錢，焙）</p>
<p>為細末，煉蜜為丸，龍眼大。每服一丸，滾湯化服。無論一切痰症，皆吐出。</p>

<h3>烏梅頂</h3>
<p>治痰毒。</p>
<p>烏梅（十枚）　青黛（三錢）　牙皂（炙，三錢）　硃砂（三錢）</p>
<p>為細末，煉白蜜為丸，芡實大。大人三丸，小兒一丸，清湯送下。</p>

<h3>七釐頂</h3>
<p>治斑痧肚痛、翻胃噎膈、噁心嘔吐。</p>
<p>丁香　廣木香　良薑　川椒　廣皮　藿香（各五錢）</p>
<p>為末，亦可為丸，如芥子大，外用硃砂為衣，燒酒送下七粒。</p>

<h3>痰頂</h3>
<p>治哮喘。</p>
<p>白信（布包，綠豆煮過用）　巴霜（各一錢）　雄黃（三錢）　枯礬（四錢，制）　半夏（五錢）</p>
<p>為細末，綠豆粉糊丸，綠豆大。臨臥時，冷茶送下一丸。</p>

<h3>瘧疾頂</h3>
<p>白信（一錢，制如前）　綠豆粉（三錢）　陀僧（二錢）</p>
<p>棕角為丸，綠豆大，雄黃為衣。每服五丸，冷茶送下。</p>

<h3>銅綠頂</h3>
<p>冷天可服，後方同用。治一切痰症。</p>
<p>白信（一錢，制如前）　銅綠（三錢）　小麥粉（七錢）</p>
<p>冷水為丸，作三十二服，晚空心冷水送下。忌菸、酒、茶、飯一夜。十六歲以上可用，以下不可用。</p>

<h3>雀子頂</h3>
<p>四季可服。</p>
<p>白信（一錢，制如前）　麻黃（一錢）　雄精（一錢）　寒水石（煅通紅，一錢）　鵝管石（一錢）</p>
<p>為細末。每服一分，早空心冷水送下。隔五日一服，不可多吃。夜空心服亦可。忌菸、酒、茶、飯一日。十五服除根不發。不論冷熱風痰、痰火哮喘等症。</p>

<h3>水門頂</h3>
<p>專治淋帶。</p>
<p>黃柏（一兩，鹽水炒）　知母（一兩，鹽水炒）　川倍子（二兩）　烏梅（即煤炭，一名烏金石，二兩）</p>
<p>為細末。每服一兩，冷水送下立止。如無煤炭，陳蘆柴根燒炭代之。</p>

<h3>斬鬼丹</h3>
<p>治脾寒瘧疾。</p>
<p>生綠豆　馬料豆（各四十粒，水浸去皮）　硃砂（四分九釐）　白信（四分九釐，制如前）</p>
<p>為細末。同前二豆搗細為丸，作四十九粒。每服一粒，小兒半粒。臨期之日，清晨清湯送下。</p>

<h3>回生丹</h3>
<p>此即方士所用「大元門」「風門」二頂之響方也。治一切雜症。湯引照前「黃金頂」例。虛症不治。</p>
<p>番木鱉（四兩）　麻黃（四兩）　生草（一兩）</p>
<p>三味用水煮透，木鱉刷去毛，用麻油（五兩）炸浮取起以紙包，壓去油。殭蠶（三錢）烘黃色。</p>
<p>乳香　沒藥（各五錢，去油）　川蜈蚣（火酒浸，瓦上炙）　全蠍（酒洗，瓦上炙）　雄黃　硃砂（各三錢）　川山甲（五錢，香灰炒）　羌活　白芷　生草（各四錢）　當歸　大小烏（洗，淡薑汁炒）　草烏（制同前）　鬧羊花（火酒炒，各五錢）　虎骨（一兩，羊油炙酥）</p>
<p>上為細末，用麻黃（四兩）並汁，打神麯糊為丸，如卜子大，外以金箔為衣。每服五分，臨臥火酒送下，蓋被取汗。如無汗，再進一服，以出汗為度。服此藥，須避風要緊。如見風即作吐、發戰，以黃泥水服之即解。</p>

<h3>頂風立效散</h3>
<p>上治一切風症，不拘手足疼痛，不能行動者。</p>
<p>川烏（一兩，去皮臍，麵裹煨）　草烏（一兩，去尖，薑汁炒）　羌活（一兩）　海風藤（二兩，醋煮一夜，焙乾）</p>
<p>共為細末。每服五分。一切風症，陳酒送下。</p>

<h3>一箭金丹</h3>
<p>治一切瘍毒癰疽、疔腫、內癰、痔漏等症。</p>
<p>番木鱉（四兩，水煮透，去皮）　麻油（四兩）</p>
<p>炸浮取起，為末。</p>
<p>乳香　沒藥（去油，各一兩）　蟾酥（二兩）</p>
<p>共為細末，將蟾酥火酒浸化為丸，綠豆大，硃砂為衣。每服一丸，陳酒送下。</p>

<h3>五虎散（又名一醉散）</h3>
<p>治一切無名腫毒、癰瘍、濕毒流注、惡瘡等症。</p>
<p>番木鱉（八兩）　川蜈蚣（三十條）　花粉　北細辛（各三錢）　蒲黃　白芷（各一錢）　紫草　甲片（各五分）　雄黃（五分）</p>
<p>將木鱉水煮，去皮毛。麻油（十兩），入前各藥，煎至枯黑，去渣。次下木鱉炸松黃色，不令焦黑，撈起，為細末。每服一、二、三、四、五分，老酒送下。量人大小壯老，用藥輕重。孕婦忌服。</p>

<h3>截瘧丹</h3>
<p>截三陰脾瘧立驗。</p>
<p>雄黃　紅信（熱重者，雄黃四釐，紅信三釐；寒多者，紅信四釐，雄黃三釐）</p>
<p>二味共七釐，研極細末，用黑棗肉一枚研勻，作九丸，分三服。二次發期之先，服至臨發時為則。譬如今日午時要發，先於昨日夜膳前用一服，白湯送下。今早又服第二服，至今日發時之前，巳時之際，用白湯送下第三服，此發較前又重，發過即不再發。此驗過之方也。</p>

<h3>假氣頂</h3>
<p>治諸般心氣疼痛，氣滯不行，攻刺心腹，痛連胸膈，小腸吊疝，婦人血氣刺痛，立效良方。</p>
<p>青皮（醋炒）　五靈脂（醋炒）　川楝子　甲片（土炒）　大茴（各二錢）　延胡　良薑（香油拌炒）　檳榔　沒藥（去油，各二錢五）　廣木香（一錢二分）　砂仁（五粒）</p>
<p>以上共為細末，用川木鱉（一錢二分）切片，同前十一味拌炒令焦香，揀去木鱉不用。將前末每服不加食鹽，可生用陳酒或白湯送下，立效。</p>

<h3>三仙頂</h3>
<p>治風癱瘓。</p>
<p>生川附子（五錢）　草烏（一兩）　紫荊皮（二兩）</p>
<p>為細末。每服三分，陳酒送下，虛人忌服。</p>

<h3>八厘金</h3>
<p>治一切癰疽發背、疔腫瘡毒未成者，服之內消，甚效。上部飽服，下部飢服，每服八釐，陳酒送下。</p>
<p>番木鱉（水浸去皮，麻油炸枯，五錢）　蟾酥（三錢）　殭蠶（一錢）　乳香（二錢）　膽礬（一錢）　川蜈蚣（三錢）　甲片（一錢）　沒藥（二錢）　血竭（一錢）　硃砂（三錢）　蟬蛻（一錢）　全蠍（三錢）　原麝（五分）　牙皂（去弦，炙，五錢）　川烏（一錢）　雄黃（一錢）</p>
<p>上為細末。端陽修合，用水泛為丸，如萊菔子大。每服八釐，小兒減半。</p>

<h3>內消散</h3>
<p>治諸毒，服此內消。（一名五虎頂。）</p>
<p>木鱉（五枚，油炸）　蟾酥（三釐）　麝香（五釐）　雄精（一錢）　殭蠶（一錢）　川蜈蚣（三條）　甲片（一錢五）　全蠍（一錢）</p>
<p>上為細末。每服三分，酒送下。</p>

<h3>十寶丹</h3>
<p>治無名腫毒、發背癰疽等症。</p>
<p>甲片（七片）　蜈蚣（三條）　乳香　沒藥（各二錢）　全蠍（九隻）　殭蠶（三錢）　角刺（五分）　雄黃（一錢）　麝香（一分）　木鱉（油炸，一兩）</p>
<p>上為細末。每服三分，陳酒送下，出汗。</p>

<h3>小鋒頂</h3>
<p>治小兒蟲咬心痛欲絕者。</p>
<p>五靈脂（炒，二錢）　枯礬（五分）</p>
<p>為細末。水送下，不拘時服，蟲即吐出。</p>
<p>老蔥根能化蟲為水。</p>

<h3>化痰頂</h3>
<p>治頑瘡不化。</p>
<p>石青（一兩）　石綠（五錢）</p>
<p>為細末，麵糊丸，綠豆大。每服十丸，溫湯送。有痰即吐出三兩碗，不損人。</p>

<h3>蒙石頂</h3>
<p>一切老痰。</p>
<p>礞石（一兩）　大黃（一兩）　黃芩（二兩）　木香（一兩）　沉香（三錢）　白信（三錢）</p>
<p>上為細末。每服三五分，冷茶送下。</p>

<h3>六陳頂</h3>
<p>治哮喘痰症。</p>
<p>巴霜（一錢）　白土（豆腐制，二錢）　雄黃（三錢）　枯礬（四錢）　半夏（五錢）　南星（六錢）</p>
<p>上細末，綠豆粉為丸，每服三分，冷茶送下。</p>

<h3>硃砂頂</h3>
<p>（又名白玉頂）</p>
<p>一切痰證。</p>
<p>南星　半夏　滑石（等分）　巴霜（合三釐一服）</p>
<p>共為細末。每服三分，白湯下。</p>

<h3>小風門</h3>
<p>（又名十三太保）</p>
<p>川烏（一兩）　草烏（一兩）　蜈蚣（五條）　羌活（三錢）　甲片（三錢）　麻黃（三錢）　雄黃（三錢）　乳香（三錢）　沒藥（三錢）　桂枝（三錢）　全蠍（三錢）　防風（三錢）　馬前（一兩五錢）</p>
<p>各為細末，配合一處。每服一錢二分，酒送。臨臥服，避風出汗。</p>

<h3>風門頂</h3>
<p>雄黃（二錢）　川烏（二錢）　草烏（二錢）　明礬（三錢）　膽星（三錢）　白信（一錢）</p>
<p>上為細末。每服五分，冷酒少許，調姜白湯下。</p>

<h3>白豆頂</h3>
<p>白扁豆（三錢五分）　雨茶（三錢五分）　白信（一錢五分）　陀僧（一錢五分）</p>
<p>共為細末，糊為丸，分作十丸。每服一丸，冷濃茶送下。</p>

<h3>元門紫金丹</h3>
<p>治一切無名腫毒，不拘手足上下。一切風痛、瘰癧。</p>
<p>川鱉（五兩）　麻黃（四兩，去節）　雄黃（三錢）　蜈蚣（三錢）　蟾酥（三錢）　川烏（三錢）　沒藥（三錢）　乳香（三錢）　廣木香（五錢）　鬧羊花（三錢）　草烏（三錢）　生甘草（三錢）　麝香（二錢）　羌活（三錢）　虎骨（五錢）　全蠍（三錢）　歸身（三錢）</p>
<p>硃砂為衣。每服七分或五分，小兒三分。</p>

<h3>金剛頂</h3>
<p>跌打損傷。</p>
<p>當歸（酒炒）　金礞石（童便制）　草烏　乳香（各等分）</p>
<p>每服一錢或五分。</p>

<h3>小元門</h3>
<p>麻黃（二兩）　川芎（二兩）　乳香（二兩）　沒藥（二兩）　甲片（三兩）　馬前（炸，五兩）</p>
<p>為末。每服一錢，陳酒送下。</p>

<h3>截瘧</h3>
<p>草果（三錢）　常山（三錢）　丁香（七粒）　檳榔（三錢）　烏梅（三個）　建蓮（十三粒）　紅棗（十一個）</p>
<p>上藥水煎，露一宿，次早溫服。鬚髮日早晨吃。</p>

<h1>卷二</h1>

<h2>串方</h2>

<h3>八仙串</h3>
<p>除一切蟲積、食積、痰積、氣積、血積、寒積、水飲。一服如神，湖海之士，非此不行，珍秘不泄。乃串藥中最王道而響者，故列於首。</p>
<p>乾漆（炒令煙盡，五錢）　丁香（三錢）　廣木香（五錢）　檀香（五錢）　檳榔（五錢）　防己（一兩）　黑醜（取頭末，三兩）　白醜（取頭末，二兩）</p>
<p>黑、白醜頭末和勻，分一半生用，一半炒熟用，楝樹根皮為末（一兩。楝樹須要白皮而生子者用之，無子者不用。）</p>
<p>上為細末。每服三錢，小兒減半，砂糖泡湯送下。孕婦勿服。</p>

<h3>五色串</h3>
<p>主治同前。下物有五色，故名。</p>
<p>黑醜頭末（四兩）　檳榔（二兩）　生大黃（一兩）　木耳（二兩）</p>
<p>上為細末。每服三錢，白湯送下。</p>

<h3>四聖串</h3>
<p>治九種心痛，追蟲打積。</p>
<p>檳榔（四兩）　雷丸（二兩）　蕪荑（二兩）　黑醜頭末（三兩）　生大黃（二兩）</p>
<p>為末，砂糖湯送下。大人二錢，小兒錢半，重者二三次即止。</p>

<h3>十面串</h3>
<p>治小兒肚大腹脹，消痞去積。</p>
<p>明礬（三錢）　硃砂（二錢）　血竭（二錢）　紅曲（四錢）　兒茶（二錢）　神麯（二錢）　陳皮（二錢）　細辛（一錢）　川貝（二錢）　黑醜頭末（二兩）　白醜頭末（一兩）　檳榔（一兩）</p>
<p>共為細末。烏藥（二兩）煎湯去渣為丸，紅曲為衣。每服二錢，薑湯送下。</p>

<h3>檳榔串</h3>
<p>追蟲打積。</p>
<p>檳榔（二兩）　黑醜頭末（二兩）　陳皮（一兩）　廣木香（五錢）</p>
<p>上為細末。三四歲者一錢五分；七八歲至十歲內外者三錢，白湯送下。</p>

<h3>郁全串</h3>
<p>主治如前。</p>
<p>巴霜（一錢）　鬱金（五錢）　當歸（一兩）　官桂（五錢）　檳榔（一兩）</p>
<p>上為細末，砂糖調四分五釐。壯實者五分。能除一切積滯，串中無雙。</p>

<h3>單黃串</h3>
<p>治一切痰火食積。兒科尤善。</p>
<p>生大黃（二兩）　制礞石（一兩，留三錢為衣）　山楂（三錢）　麥芽（三錢）</p>
<p>為末，神麯為丸，每丸重一錢，青礞石為衣。每服一丸，清湯化下。</p>

<h3>小串（一名白頭兵）</h3>
<p>治傷風冷痰，寒積積飲等症。</p>
<p>南星　半夏　滑石（各一兩）　巴霜（五錢）</p>
<p>為細末。每服一分五釐，飯為丸，薑湯空心下，大便行三次，即以白粥止之。</p>

<h3>四賢串</h3>
<p>治食積疳勞，翻胃噎膈，五臌十脹，蟲積痞塊。</p>
<p>雷丸（一兩）　青皮（五錢）　三稜（三分）　黑醜頭末（五錢）</p>
<p>為末。早空心砂糖調服三錢，莫吃飯，恐蟲頭向內。候腹內疼即下矣，後下魚凍，再下蟲二三次，用粥飲湯止之。若治痞塊，用陳酒送下，塊即降消，不必用全蟲等類。</p>

<h3>牛榔串（一名小串）</h3>
<p>除積食腹脹。</p>
<p>黑醜頭末　檳榔（等分）</p>
<p>為末，不見火。每服三錢，白湯送下。瀉三次即止。</p>

<h3>鳶尾串</h3>
<p>臌脹行藥。</p>
<p>白蝴蝶花根（曬乾為末，四錢）</p>
<p>再加生者（一兩二錢），切如米粞狀，用老酒並砂糖溫服送二藥，下數次即以白粥補之。忌鹽百二十日。按：此藥不肯留存腹內，切碎鳶尾，囫圇瀉出無存。但此藥服後，忌一切食物，復發不救。</p>

<h3>三仙串</h3>
<p>治停食胸滿、瀉痢、積食。</p>
<p>生大黃（八兩）　乾薑（八兩）　巴豆帶殼（一斤，取仁壓去油）</p>
<p>上為細末，蜜丸，綠豆大。每服三丸，白湯送下。</p>

<h3>牛黃串</h3>
<p>治食積心痛。</p>
<p>生大黃（五錢）　細辛（五錢）　巴霜（三錢）</p>
<p>為細末，陳米飯為丸，如芥子。每服七粒，白湯送下。</p>

<h3>八仙過海</h3>
<p>治跌打損傷。</p>
<p>乳香　沒藥（各去油）　血竭　當歸　半夏　巴霜　䗪蟲（炙乾，各一釐）</p>
<p>為末，陳酒送下。</p>

<h3>七轉萬應丹</h3>
<p>治五積六聚、蟲積作痛。</p>
<p>蕪荑（四錢）　黑白醜頭末（四兩）　檳榔（三兩）　大黃（三兩）　木香（四錢）　雷丸（三兩）　鍋灰（三錢）　使君子肉（五錢）　鶴蝨（五錢）</p>
<p>上藥為細末，蔥白湯露一宿治丸，如黍米大。每服四錢，仍以蔥白湯露一宿，早晨溫酒送下。下蟲後，即以溫粥補之。</p>

<h3>萬應丸</h3>
<p>治蟲積心痛。</p>
<p>檳榔（五錢）　生大黃（八兩）　黑醜頭末（四兩）　苦楝根皮（一斤）　牙皂（十挺）</p>
<p>為末。將楝根、牙皂熬膏為丸，如梧子大。沉香、雷丸、木香、細辛共末為衣。每服十丸，四更時砂糖湯送下。</p>

<h3>又方</h3>
<p>追蟲取積，經驗神效。</p>
<p>黑醜（一斤，取頭末六兩）　檳榔（一斤，取頭末四兩）　生大黃（四兩）　使君子肉　蕪荑　雷丸（各五錢）　鍋灰（七錢五分）</p>
<p>共為細末，一處用蔥白連須煎湯打糊為丸，如桐子大。每服四錢，量人氣稟厚薄加減。如疾深再加五錢，如人弱止用二錢，小兒一錢五分，用蔥白湯隔夜露一宿，五更時冷服。至天明先行大便，次後即見血鱉等物。待日西申時後過三四次，方可用溫粥補之，徐徐而進，不可食熱物，恐犯藥性，忌二日並瓜果、麵食、生冷之物。</p>

<h3>追蟲取積丸</h3>
<p>治同前。</p>
<p>廣木香　雞心檳榔　蕪荑　鍋灰（各一兩）　生大黃（三兩）　生黑醜頭末（十兩）　使君子肉（二兩）</p>
<p>為末。先將牙皂（一兩五錢）、向南楝樹根皮（二兩），水煎濃汁為丸，綠豆大，沉香為衣。每服三四十丸，空心砂糖湯送下，行止如前。</p>

<h3>雷公串</h3>
<p>消脹滿積聚。</p>
<p>巴霜（一錢）　滑石（二錢）　薑黃（三錢）</p>
<p>為末，大水泛為丸。每服八分，空心冷薑湯送下。腹內痞如連炮，即解黃水，四五次愈。</p>

<h3>臌脹串</h3>
<p>專治水腫，立效。</p>
<p>三稜　莪朮　蒼朮　青皮　陳皮（各三錢）　商陸（二錢）　澤瀉　甘遂　木通　赤茯苓（各二錢）　胡椒（二兩）　黑醜頭末（二兩）　桑皮（五錢）</p>
<p>為末，醋糊丸，綠豆大。每服十五丸至二十丸，要在五更服，二、三夜三服。第一服，蔥湯下。第二服，陳皮、桑皮湯下。第三服，射干湯下或薑湯下。</p>

<h3>背積串</h3>
<p>治酒臌、酒積。</p>
<p>黑醜頭末　生大黃　檳榔　生甘草</p>
<p>每味春用（八分）、夏用（九分）、秋（七分）、冬（一錢），為細末。五更用井花水冷調下，後服「烏藥順氣湯」，至重者，服末藥五錢。</p>

<h3>八仙串（又名遇仙丹）</h3>
<p>治雜症，追蟲取積。</p>
<p>黑醜頭末（四兩）　尖檳（一兩）　茵陳（五錢）　廣木香（一錢）　血餘炭（一錢）　沉香（一錢）　牙皂（五錢）　加皮（二錢）</p>
<p>為末，醋糊為丸。每服三錢，五更冷茶送下。天明見效，不止自住，有蟲行盡，勿進飲食，恐蟲入內不下。</p>

<h3>黃白串</h3>
<p>治心疼立效。</p>
<p>白信（一分三釐）　巴霜（三分）　黃蠟（四錢）</p>
<p>上為細末，將黃蠟入銅勺內化開，下巴、信為丸，如綠豆大。每料作一百丸，硃砂為衣。每服一丸，熱燒酒緩緩送下，不可性急。忌黃豆、牛犬肉及一切葷腥蔥蒜等物，五日後不必忌。孕婦忌服。</p>

<h3>遇仙丹</h3>
<p>追蟲去積。</p>
<p>黑醜頭末（一斤）　生大黃（一斤）　牙皂（三兩）</p>
<p>照前引下。</p>

<h3>又方（一名九種靈丹。此藥方與前「九制」不同。湯引照前。）</h3>
<p>川木鱉（八兩，米泔水泡，去皮毛，切片。）</p>
<p>第一次用川芎（二錢），白芷（一錢五），水六碗，煎至三碗，去渣，入木鱉藥汁內，煮乾為度。</p>
<p>第二次用銀花、柴胡（各五錢）。</p>
<p>第三次用甘草（一兩），青鹽（二錢）。</p>
<p>第四次用南星、半夏（各五錢）。</p>
<p>第五次用川牛膝（二兩）。</p>
<p>第六次用杜仲（二兩）。</p>
<p>第七次用木瓜（二兩）。</p>
<p>以上俱如前收制。</p>
<p>第八次用乾薑（二錢），水二盅，煎汁一盅。</p>
<p>雞心檳榔（四兩）</p>
<p>為細末，水泛為丸。每服三錢，薑湯下。</p>

<h3>紅衣大炮</h3>
<p>莪朮　檳榔　鍋灰　鶴蝨（各一兩）　雷丸　使君子肉（各一兩）　廣木香（五錢）　黑白醜頭末（八兩）</p>
<p>共為細末。每服五錢，廣木香湯送下。不論遠年近日，一服打下積痞蟲瘕。</p>

<h3>鬱金串</h3>
<p>治經閉久不行者，服此即通。</p>
<p>鬱金（一錢五）　三稜（酒炒）　莪朮（酒炒，各一錢五）　南星　半夏（各二錢）　雄黃（五分）　生蒲黃（三錢）　赤芍（酒炒，一錢五）　五靈脂（三錢）</p>
<p>為末。每服五錢，紅花、桃仁煎湯送下，即行。</p>

<h3>三黃串</h3>
<p>不論食積、氣塊並治。</p>
<p>雷丸（一兩）　生大黃（九錢三分）　使君子肉（一兩）　廣木香（三錢）</p>
<p>為細末。每服五錢，砂糖調服。</p>

<h3>化食丹</h3>
<p>專消積食。</p>
<p>雄黃　鬱金　檳榔　乳香（各一錢）　巴霜（二錢）</p>
<p>為末，米糊為丸，桐子大。每服三五丸，白湯送下。</p>

<h3>千秋散（一名金鑰匙）</h3>
<p>專治小兒一切雜症。食積疳勞，肚大青筋，吐瀉軟弱，一切皆效。珍之，惜之。</p>
<p>山楂（八兩）　陳皮（八兩）　木香（二兩）　瓦楞子（煅，一兩）　胡連（三錢）　砂仁（三錢）　雞肫皮（炙焦，一兩）</p>
<p>為細末。每服二匙，看兒大小加減。</p>
<p>嘔吐，薑湯下。泄瀉，清湯下。</p>
<p>傷食，麥芽湯下。腹肚熱痛，黑梔湯下。</p>
<p>潮熱，柴胡湯下。腹肚冷痛，吳萸湯下。</p>
<p>飲食不通，米湯下。白痢，砂糖湯下。</p>
<p>赤痢，蜜湯下。瘧疾，鶴蝨湯下。</p>
<p>蟲積，苦楝樹根皮湯下。</p>
<p>傷寒，紫蘇湯下。傷風，薄荷湯下。</p>
<p>疳積，黃連湯下。食積，神麯湯下。</p>
<p>一切雜症，白湯送下。</p>

<h3>鬱金丸</h3>
<p>治臌脹。</p>
<p>廣木香（六分）　大茴（四錢）　雄黃（四兩）　沉香（六分）　鬱金（一兩二錢）　乳香　巴霜　五靈脂（各一兩二錢）</p>
<p>為末，米醋糊丸，桐子大，硃砂為衣。壯人七粒，弱人五粒，陳酒送下。</p>

<h3>消脹驗方</h3>
<p>此方逐水消脹，神速神效。施之壯實者，老小虛弱忌用。</p>
<p>沉香（一錢）　木香（二錢）　砂仁（二錢）　卜子（五錢）　甘遂（二錢）　檳榔（二錢）　陳皮（三錢）　川樸（五錢）　大黃（三錢）　楂肉（五錢）　枳殼（三錢）　芫花（二錢）　大戟（二錢）</p>
<p>為細末。每服三錢，清湯下。</p>

<h3>寬性如意丹</h3>
<p>治寒痰、食積，翻胃噎膈，水泄肚疼，心痛等症。</p>
<p>白信（五釐）　巴霜（二分）　雄黃　白芷（各一錢）　母丁香（五分）</p>
<p>上為細末，紅棗肉搗，為丸，如桐子大。每服大人二丸，小兒一丸，白湯送下。</p>

<h3>八仙妙應丹</h3>
<p>治男婦小兒外感內傷，水穀停留腸胃，生蟲成疾，噁心，嘔吐苦酸，嘈雜，瘧，痢，黃疸，水腫，臌脹，噎膈翻胃及婦人癥瘕積聚，心腹疼痛，小兒疳症，面黃肌瘦，肚大腳細，一切蟲積，並皆治之。</p>
<p>雷丸（一兩）　鍋灰（一兩五錢）　蕪荑（一兩）　木香（一兩）　生大黃（一兩）　檳榔（一兩）　使君子肉（一兩）　黑醜頭末（三兩）</p>
<p>上為細末，用蔥白一斤煮沸，露一宿，為丸，如粟米大。每服四錢，重病年深者，加至五錢，蔥薑湯下，或木香湯下。十五歲以上者，可服三錢。三歲至七歲，可服一錢。早晨送下，務要在房內，不要出外見風。或通泄見積如紫筋不斷，或如爛魚肚腸，或如雞肝黃色，或如米泔水，稠黏不斷，或如馬尾蟲，或成血鱉蟲。</p>

<h3>通關散</h3>
<p>治關膈不通，翻胃噎膈。</p>
<p>牙皂（三錢）　巴豆仁（二十一粒）　大枳殼（一個，去瓤、子、皮膜）</p>
<p>將牙皂切片、巴豆二味入枳殼內合住，線切緊，分為數次，曬乾切片，共為細末，加沉香一錢，白滾湯送下如神。</p>

<h3>治臌脹仙方</h3>
<p>生大黃（一兩）　甘菊（一兩）　黑醜　白醜（頭末，各一兩）</p>
<p>共末和勻，用紅糖十兩，將水拌成膏，作八服，白滾湯調服。服完藥，必大小七八次，脹即消。忌鹽二十一日。</p>

<h3>鬥金丸</h3>
<p>治一切感冒停食，胸滿積聚，泄瀉等症。各隨症下。</p>
<p>寒食麵（一錢二分）　巴霜（三錢）　硃砂（一錢五）</p>
<p>共為細末，再用寒食麵（四五錢）打糊為丸，如粟米大。大人七丸，小兒隨減。</p>

<h3>水腫串</h3>
<p>芫花（醋炒，五錢）　甘遂（三錢）　大戟（一錢）　千金霜（二錢）　蓽茇（三錢）　檳榔（三錢）　牙皂（二錢）　黑白醜（各三錢）</p>
<p>為末。每服一錢，白湯送下，或水泛為丸，白湯送下。</p>

<h3>蟾蜍串</h3>
<p>治氣膈臌脹。</p>
<p>蟾蜍炭（六分）　青皮（六分）　青丸炭（八釐）</p>
<p>為末。每服二分，用青皮（二分）煎湯送下，作痛瀉。</p>

<h3>十大功</h3>
<p>跌打損傷。</p>
<p>藤黃（一兩）　桑樹炭（一兩）</p>
<p>為末。每服八釐，酒化下。</p>

<h3>追蟲串</h3>
<p>黑、白醜（君）　檳榔（臣）　廣木香（少許）　枳殼　生軍（炒）　藍布灰</p>
<p>柳葉湯送下，如要取螺螄，積乾漆灰為引。</p>

<h3>五香串</h3>
<p>丁香（一錢）　廣木香（三錢五）　沉香（二錢五）　降香（三錢五）　巴霜（一錢）　硃砂（一錢，為衣）</p>
<p>共為末，神麯糊丸。每服五分，白湯送下。</p>

<h3>又方</h3>
<p>母丁香（八錢）　木香（一兩）　降香（一兩）　沉香（一兩）　松香（一兩）　藿香（一兩）　枳殼（八錢）　巴霜（五錢）</p>
<p>為末，糊丸。每服五分，薑湯下。</p>

<h3>開結串</h3>
<p>噎膈翻胃，脹滿癥瘕，黃疸水臌。</p>
<p>木香（一兩二錢）　大黃（二兩）　青皮（二兩）　枯礬（二兩）　葶藶（醋炒，二兩）　白朮（二兩）　枳實（二兩）　南星（二兩）　大牙皂（二兩）　半夏（二兩）　黑醜（曬為頭末，半斤）　白醜（同上，半斤）</p>
<p>以上十二味為細末，薑汁麵糊為丸。每服二三錢，白湯送下，或薑湯、溫酒下。</p>

<h3>水門串</h3>
<p>婦人小腹痛，經水不調，經閉等症。</p>
<p>沉香　小茴　萹蓄　瞿麥（各一兩）　大腹子（四錢）　生大黃（四兩）　巴霜（二錢五分）</p>
<p>為末。每服一錢，空腹陳酒下。</p>

<h3>又方</h3>
<p>木香（二錢）　小茴（二錢）　生軍（二錢）　三稜　莪朮　萹蓄　瞿麥（各二錢）　百草霜（五錢）　巴霜（六分）</p>
<p>為末。每服一錢。</p>

<h3>血鱉串</h3>
<p>胃氣腹痛，經水閉。</p>
<p>沉香（二錢五）　木香（六錢）　紅花（五錢）　大茴（五錢）　小茴（一兩）　尖檳榔（一兩）　萹蓄（五錢）　瞿麥（五錢）　巴霜（五錢）</p>
<p>為末。每服三錢，酒送下。</p>

<h3>檳牛大串</h3>
<p>追蟲打積，水腫，小兒腹大肚疼。</p>
<p>尖檳（一斤）　黑白醜頭末（各八兩）　牙皂（五錢）　鍋灰（五錢）　蘆薈（五錢）</p>
<p>為末。每服三錢，小兒一錢五，砂糖湯下。</p>

<h3>香桃串</h3>
<p>巴豆（半粒）　桃仁（五錢）　枳實（三分）　生軍（三分）</p>

<h3>二龍大串</h3>
<p>尖檳榔（四兩）　黑白醜頭末（各一兩五錢）　鍋灰（一兩）　雷丸（五錢）　大黃（一兩五錢）　枳殼（一兩）　莪朮（八錢）</p>
<p>為末。每服三錢，砂糖調下。</p>

<h3>小二龍串</h3>
<p>黑白醜頭末（各一兩）　生大黃（二兩）</p>
<p>為末。每服二錢，砂糖調薑湯下。</p>

<h3>將軍大串</h3>
<p>大黃　尖檳　黑白醜（各四兩）　鍋灰（二錢五）</p>
<p>為末。每服三錢。同上。</p>

<h3>五色大串</h3>
<p>黑醜　白醜（各六兩）　薑黃（二兩）　乾麵（二兩）　榆面（二兩）　神麯（一兩）　木耳（二兩）　楂肉（二兩）　巴霜（五錢）　紅曲（六兩）</p>
<p>為細末。每服五分，砂糖調薑湯下。</p>

<h3>青陳串</h3>
<p>治積聚潮熱，胃不和，身腫，蠱氣腹脹，足腫，大便不通。</p>
<p>青皮（五錢）　陳皮（五錢）　木香（五錢）　甘遂（五錢）　芫花（一兩，醋炒）　大戟（鹽水炒，一兩）　大黃（二兩）　黑白醜（四兩）</p>
<p>有蟲加蕪荑（三錢），共為細末，水泛為丸，如桐子大。每服五六十丸，白湯下。</p>

<h3>五臌串</h3>
<p>治五臌十脹、丹腹。</p>
<p>千金子（去油，一兩）　甘遂（三錢）　葶藶子（三錢）　牙皂（五錢）　檳榔（一錢）</p>

<h3>小串</h3>
<p>除疳積久瀉。</p>
<p>檳榔（一錢）　黑醜（二錢）　大棗（七枚）</p>
<p>加水，飯鍋上蒸三次，令先去藥，服汁與棗。</p>

<h3>化積串</h3>
<p>大便清。</p>
<p>茶葉（四兩）　羅蘇（一兩，即蘇子）</p>
<p>為末。每服一錢五。</p>

<h3>流星串</h3>
<p>大便紅。</p>
<p>紅曲（一兩）　澄茄（四兩）　香附（四兩）</p>
<p>為末。每服一錢。</p>

<h3>蟲積串</h3>
<p>治小兒驚疳諸證。</p>
<p>青蛤粉（一兩）　代赭石（五錢）</p>
<p>為末。每服一錢，鉤藤湯下。（專治小兒。）</p>

<h3>六神丸</h3>
<p>川樸（二兩）　白芷（一兩）　陳皮（二兩）　蒼朮（二兩）　薄荷（一兩）　檳榔</p>
<p>為末，葛粉為丸，雄黃、硃砂、紅曲為衣。</p>

<h3>平胃散</h3>
<p>川樸（一兩）　陳皮（一兩）　神麯（一兩）　炒晚米（一合）</p>
<p>每服三錢。</p>

<h3>八卦串</h3>
<p>治一切黃病。</p>
<p>茵陳（一錢）　蒼朮（一錢）　白朮（五分）　檳榔（五分）</p>
<p>為末。作一服。</p>

<h3>龍游串</h3>
<p>治一切瘡毒瘰癧。</p>
<p>銀花（一錢五）　寒水石（五分）　黃柏（一錢五）　甘石（一錢）　青黛（五分）　百草霜（五分）</p>
<p>為末。作二服。</p>

<h3>通關串</h3>
<p>治小兒食積痞塊，肚大瀉痢一切等症。</p>
<p>枳殼（一錢）　建曲（二錢）　麥芽（二錢）　谷蟲（二錢）　鉤藤（一錢）　山楂（二錢）</p>
<p>為末。作三服。</p>

<h3>連環串</h3>
<p>治風病。</p>
<p>麩皮（二錢）　硃砂（二分）　代赭石（一錢）　燈草灰（四分）</p>
<p>為末。作二服。</p>

<h3>補天串</h3>
<p>治夢遺。</p>
<p>象牙屑（一錢）　桑螵蛸（一錢）</p>
<p>為末。作一服。</p>

<h3>火門串</h3>
<p>治一切肚瀉，紅白痢疾。</p>
<p>蛤粉（一錢）　熟大黃（三分）　木通（一錢）　丁香（一對）</p>
<p>為末。作一服。</p>

<h3>落瓜方</h3>
<p>當歸　紅花　蘇木（酒炒，各二錢）　百草霜（一錢）　原麝（二分）</p>
<p>為末。水泛為丸，或酒或白湯送下。</p>

<h3>一丸散</h3>
<p>鴉片（三分）　麝香（五釐）　樟腦（一錢）</p>
<p>為末，蜜丸，作一丸絹包，塞入陰戶內，仰臥一二時，其胎即下。如落後，用甘草湯解之。內服後「金竹落胎散」三錢。</p>

<h3>金竹落胎散</h3>
<p>此方立驗。</p>
<p>䈽竹青皮（一錢）　水銀（一錢，同鉛三分熔化，投汞制，死）　黃芩　生蒲黃（各五錢）　斑蝥（三錢，去頭足，糯米炒黃色，去足不用）</p>
<p>共為細末，水泛為丸。每一月用一錢。如五、六月用藥五、六錢，老酒空心送下。</p>

<h3>斷胎方</h3>
<p>麝香　肉桂　紅花　冰片（等分）</p>
<p>水丸。土牛膝煎湯送下。</p>

<h3>下私胎立應方</h3>
<p>麝香（七分）　官桂（一錢）　蓖麻仁（二錢）</p>
<p>共為末，用棗肉共研，大半用桑枝送入陰戶，小半棗丸，好酒送下即落。</p>

<h3>又方</h3>
<p>斑蝥（一兩，去頭足，黏米炒黃色）　膽礬（三錢）　巴豆（二錢）　蓖麻仁（二錢）　金牛根（一兩）　白丁香（一錢五）　螢火蟲（二錢，去頭足，炙）　木鱉殼（一錢五）</p>
<p>上八味為末，用黑狗血為丸，每重一錢。加入麝香（一分）、金剛子（一粒）為末，放在丸內。如一月一丸，用芫花湯送下；未滿一月或二十日者，胎化膿血逐日下，血盡後用四物湯補之。</p>

<h3>通經下胎方</h3>
<p>斑蝥（七個，糯米炒黃）　瓜蒂　白丁香　赤小豆　白殭蠶　磨刀汁下細泥（各等分）</p>
<p>為末。五更井花水送下。二十以上服二錢，二十以下服一錢五。</p>

<h3>難產下胎方</h3>
<p>紅花（三錢）　當歸（五錢）　艾肉（五錢）　麝香（少許）</p>
<p>水煎和酒服。</p>

<h3>又方</h3>
<p>水銀（三錢）　青鉛（一錢五，熔化，入水缽制，死）　黃芩（一兩）</p>
<p>為末，蜜丸。空腹，白湯下二十丸。</p>

<h3>又方</h3>
<p>歸尾　川芎　川烏（各三錢）　川漆（三錢）　三稜　蓬朮　紅花　肉桂（各三錢）　蘇木　桃仁（各三錢）　芒硝（三錢）</p>
<p>水酒煎服。</p>

<h3>又方</h3>
<p>三、四、五月者可下，月分多者不效。</p>
<p>芫青（即青娘子，七個，去頭足）　樗雞（即紅娘子，七個，去頭足）　斑蝥（七個，去頭足）　桃仁（五分）　川木鱉（油炸黃，三分）　巴豆（一粒）　麝香（一分）　鍋灰（一錢）</p>
<p>如月分多而不下者，余藥加倍，惟木鱉、巴豆二味不可加。</p>
<p>為末。用蔥白、桃枝（各七寸），水酒煎湯送下。</p>

<h3>又方</h3>
<p>哺退鵝蛋殼（七個，去外硬殼，取內軟衣焙焦）</p>
<p>為末。空腹酒下或白湯亦可。</p>

<h3>三請諸葛</h3>
<p>鉛粉（二錢）　螞蟥干（一錢，火炙乾為末）　急性（三錢、生研淨末）　乾漆（二錢，炒透）　雌雄蟹殼（一月一對，炙黃，研為細末）</p>
<p>用蘇木（八兩）煎汁熬膏為丸。每日空腹送下三錢。</p>

<h3>又方</h3>
<p>斑蝥（五隻，去頭足，糯米炒）　歸尾（三錢）　淮牛膝（二錢）　川芎（一錢）　急性子（一錢）　巴霜（三分）　乾漆（炒，一錢）　三稜（醋炒，一錢）　莪朮（酒炒，六分）　青娘子　紅娘子（各一對）　沉香（三分）　肉桂（五分）</p>
<p>為末。神麯糊丸，原麝為衣。（此方疑不是吃藥，放塞戶中之用。）</p>

<h3>又煎方</h3>
<p>歸尾（八錢）　三稜（三錢）　莪朮（三錢）　川芎（二錢五分）　紅花（一錢）　淮膝　滑石（各三錢）　冬葵子（五錢）　炮姜（一錢）　蔞仁（十四粒）</p>

<h3>又方</h3>
<p>花粉（三錢）　青娘子　紅娘子（各一對）　斑蝥（七個）　麝香（五分）　細辛（五分）　丁香（一錢）　肉桂心（一錢）</p>
<p>加蔥頭（七個）搗爛裹藥，以絹片包藥，放入陰戶內竅中即下。</p>

<h3>又方</h3>
<p>官桂（一錢）　土牛膝（五錢）　梅樹根（三錢）　桃樹根（三錢）</p>
<p>為細末，加火酒一盅浸絞，取汁去渣，和酒漿一盅燉熱，空心服下，蓋暖一時即下。</p>

<h3>多子絕孕方</h3>
<p>棕櫚樹子（五錢，炒燥）　歸尾（三錢，焙）　血管鵝毛（三錢，煅存性）</p>
<p>為細末，作一服，用廣零陵香（五錢），淡竹葉根（五錢），車前子（一錢）煎湯送下。行經後服即不孕。</p>

<h3>厭生方</h3>
<p>血管鵝毛燒存性，為細末三錢。產後酒送下一服，永不受孕。</p>

<h3>又</h3>
<p>多年油木梳燒灰，白湯送下，行經後服。</p>

<h3>又</h3>
<p>零陵香酒煎，行經後服一兩，則一年不孕；二、三兩，則二、三年不孕。</p>

<h3>打胎方</h3>
<p>歸鬚（五錢）　桃仁（九個）　紅花（二錢）　斑蝥（七個，糯米拌炒）　乳香（二錢）　沒藥（二錢）　木香（一錢）　官桂（一錢）　紫葳花（二錢）　乾薑（一錢）</p>
<p>為末。每服二錢，空腹好酒送下。</p>

<h3>懸蒂湯</h3>
<p>歸尾（五錢）　三稜（二錢）　瞿麥（五錢）　王不留行（五錢）　冬葵子（三錢）　白蘞（二錢）　肉桂（一錢五）　土牛膝（鮮，一兩）　庵子（三錢）　半夏（一錢五）　鮮□□（一兩）　海帶（三錢）　赭石末（三錢）　桃仁（五錢）　淡竹葉根（五錢）　䗪蟲（三錢）　延胡（二錢）　酸醬草子（一錢五）　皂角仁（十四枚）</p>
<p>水煎，空腹服。</p>

<h1>卷三</h1>

<h2>抵方</h2>

<h3>黃金抵（又名赤金抵）</h3>
<p>方士以此抵金箔，詭言金箔用人乳、䈽竹瀝煅焠而成。</p>
<p>金精石（放炭火上燒松，層層可揭，宛似金箔，漆工作糝金畫扇，代回殘者即此。《本草》主治，潤燥消痰，去大風諸疾，能鎮驚安神，消斑解毒。故可入諸藥中作金以抵錢。）</p>

<h3>假猩血</h3>
<p>治一切無名腫毒。</p>
<p>端陽午時用白鹼（一兩二錢）　風化石灰（一兩二錢）　生大黃（三錢）　川倍子（二個）</p>
<p>先將大黃、倍子入砂鍋內，用水一大碗煎湯，沸時加水添上，如此數十次，仍盛一宮碗，撈起黃、倍入灰鹼攪勻，置瓷器內封固，遇毒時，將鮮草梗挑點，一刻數次即退。</p>

<h3>制天竺黃</h3>
<p>南天竹葉搗爛絞汁，入南星末和勻，將原樹根開皮去膜，霜降前放前藥於內，立冬日取出曬乾，功倍竺黃。</p>

<h3>膽星</h3>
<p>將南星為細末，同桃仁研爛曬乾，再為細末，調黃牛膽汁，仍入膽殼內，懸掛陰乾用之。</p>

<h3>制伽南香</h3>
<p>將花棧沉香或速香，並青皮濃汁煮乾，或同青皮煮一伏時。</p>

<h3>制百藥煎</h3>
<p>馬齒莧汁煮川倍子，曬乾即是。</p>

<h3>通血香</h3>
<p>方士以此偽孩兒口中血，藥肆以此偽山羊血。</p>
<p>風化石灰（篩細再研無聲，一兩）　生大黃（為末，二兩五錢）　浣衣白鹼（一兩）</p>
<p>加水一大碗熬化，下前二藥煮乾，捏如棗核樣者，謂孩兒血。撳作薄片，曬乾，謂山羊血。置米粒許於水上，即一紅絲下放。</p>

<h3>熊紅（一名針刺丸）</h3>
<p>膽礬（三錢）　明礬（一兩）</p>
<p>二味為丸，用針打濕，刺入即紅。</p>

<h3>假琥珀</h3>
<p>上黃蠟（三錢）入器熬清去浮沫淨，下提淨老松香（七錢）再熬清，入紫草濃汁和勻，色赤為度。先以篾圈圈定，或印子傾成錠子塊，先以木賊草打磨後，以新白布細細揩摹，至光澤與真琥珀無異。</p>

<h3>緊藥</h3>
<p>白蠟（三錢）　黃蠟（五錢）　辰砂（二錢）　血竭（一錢）　鹽滷（一錢）</p>
<p>共化作條，火燒為雄黃吃透，方可雕扇墜。</p>

<h3>猩猩血</h3>
<p>五倍子（五錢），瓜兒竭（一兩）為末，入茶內黑色。</p>

<h3>白靈藥</h3>
<p>生石膏（一兩）　墨（二錢）</p>
<p>為細末，入水黑色，二味須各研和勻。</p>

<h3>內消黃</h3>
<p>風化石灰（一兩）　槐米（三錢）</p>
<p>為細末，見水黃色。</p>

<h3>熊膽</h3>
<p>豬膽不拘多少，取汁塗板上曬乾，又塗又曬至膽汁數百，將膽膠刮下，用雞胸鐙皮裹如熊膽樣，陰乾，能分墨解塵，以偽熊膽。</p>

<h3>狗寶</h3>
<p>爐甘石（揀有層暈堅賦者用）　降香</p>
<p>煎濃汁加月石同煮乾、洗淨，陰乾偽之。</p>

<h3>牛黃</h3>
<p>揀囫圇禹餘糧石，輕輕敲碎，取中心黃子似牛黃而有層暈者，用大黃汁煮透曬乾以偽。</p>

<h3>硿碃</h3>
<p>治點一切目疾，奇效。</p>
<p>大蘿蔔種一個，不去苗根，側邊開一大孔，納雞子一枚，仍將原卜皮蓋好開，棉絮線縛定，將濕泥固好，仍埋地下，待其開花結子，將老之際拔起，取出雞子。其中俱化為水收藏，點眼如神。再用煅石膏四兩為細末，糯米粉打糊，搗千下如糕狀，將雞蛋裹作一團，陰乾似石，搖之泊泊有聲，鑽眼有水，一敷赤目即已。或加赭石、青黛、石屑於石膏中，宛如生成石子，外加黃白蠟砑光，可以入水不濡。</p>

<h3>磨鏡</h3>
<p>水銀　鉛　點銅（各二錢）</p>
<p>同熔，冷定，研細，和生明礬六錢研勻，每用少許磨之。（錫用老洋點。）</p>

<h1>卷四</h1>

<h2>色方</h2>

<h3>太乙紫金錠</h3>
<p>生大黃（二兩）　茅蒼朮（二兩）　川芎（二兩）　紫蘇（三兩）　黃柏　荊芥　大茴　香附　桂皮（各三兩）　薄荷（四兩）　細辛（二兩）　杜仲（一兩）　陳皮（四兩）　生草（二兩）　川椒（二兩）</p>
<p>共為細末。用糯米粉（半升，炒），大麥粉（四兩），狀元紅紅土（四兩），研細入糊內攪勻，和前末搗千下，印作大錠子，重一錢，曬乾聽用。</p>
<p>通治男女、大小、內外一切雜症，各隨症用引。</p>
<p>外感發熱，頭痛飽悶，川芎、蘇葉湯磨服。</p>
<p>心胃疼痛，陳皮、炙草湯磨服。</p>
<p>嘔吐清水，炒米湯磨服。</p>
<p>腰疼、背痛，補骨脂、杜仲酒煎磨服。</p>
<p>紅、白痢疾，苦參、艾葉醋煎磨服。</p>
<p>新久瘧疾，白芥子煎酒磨服。</p>
<p>四肢痛風，紅花煎酒磨服。</p>
<p>痔瘡、痔漏，槐花煎酒磨服。</p>
<p>婦人經水不調，薑湯磨服。</p>
<p>小兒百病，薄荷湯磨服。</p>
<p>跌打損傷，紅花酒磨服。</p>
<p>外科瘡瘍，銀花湯磨服。</p>

<h3>白虎抱龍丸</h3>
<p>治小兒驚風發熱，泄瀉，夜啼不乳，不食，牙疳口糜等症。</p>
<p>寒水石（生熟各四兩）　石膏（生熟各四兩）</p>
<p>為細末，生甘草熬膏為丸，如芡實大，硃砂為衣。每服一丸，白湯化服。</p>

<h3>九龍針</h3>
<p>治一切風痛痹濕，閃跌拳傷等症。</p>
<p>硫黃（二兩）　雄黃（一錢）　肉桂（三分）　硃砂（一錢）　川烏（三分）　草烏（三分）　原麝（三分）　乾蠍尾（三分）　蜈蚣箝（三分）</p>
<p>上為細末，放碗中微火溶，傾作片子。每用一米粒許，患上先用銅錢一枚放藥於中灼之，或用米飯三粒捻作餅子，先貼患上，納藥於中灼之，其痛立止。</p>

<h3>哭來笑去</h3>
<p>立止牙疼。</p>
<p>青鹽（一錢）　火硝（二錢）　樟腦（三錢）　月石（二錢）　薄荷（五分）　細辛（五分）　白鹼（一錢）</p>
<p>為細末，搽點痛牙。</p>

<h3>落牙方</h3>
<p>雌雄蜈蚣（一對，炙焦）　雄雞子（煨焦）　白馬牙（一對，煅）</p>
<p>共為細末。敷動牙根，耐一時，咳嗽一聲，牙即落矣。</p>

<h3>離骨散</h3>
<p>點牙即落。</p>
<p>大活鯽魚（一個，去腸，入白玉簪花根三錢），皮硝令滿縫好，大碗蓋住，令出白霜，掃下收貯。遇患牙點少許於牙根即落。</p>

<h3>田姜散</h3>
<p>治諸氣諸郁諸痛，男女、大小、內外不拘，嵐障痧毒瘡瘍，跌悶，禽獸蛇蟲傷螫，內服外敷，方士第一色樣。</p>
<p>生香附（去毛曬乾，為細末），每症用一錢，小兒五分，白湯送下。外傷用此，人乳調敷。瘍腫初起，用醋調敷。</p>

<h3>取牙不用鉗</h3>
<p>月石（三錢）　草烏　北細辛　白玉簪花根（干）　南星　川烏　生半夏（各三錢）　膽礬（五錢）</p>
<p>共為細末。夏三伏時，覓大雌鼠一個，十兩以上者，剝去皮、頭、足、尾，將藥放鼠肚內及身上，磁器收貯，俟二三日自化為水。去其骨淨，曬成霜，用鵝毛管取之，再放瓷器中收藏。用時先以針挑破牙肉，納藥少許，一時自落。</p>

<h3>雜平胃</h3>
<p>金精石為衣者，謂「金平胃」。東丹為衣者，謂「朱平胃」。</p>
<p>藥肆中日合丸、散、粗渣，積貯為末。將飯鍋巴炒為細末，對配打糊為丸，彈子大，烈日曬乾。用金精石煅松為末，入缸缽內，水研令稠，即入丸子搓擦，令石末黏透丸上，日乾再擦令光，宛似金衣。方士隨病施此，曰平來平去。</p>

<h1>卷五</h1>

<h2>皮行通用方</h2>

<h3>白玉膏</h3>
<p>專治寒濕瘡。</p>
<p>鉛粉（二兩）　銅綠（一錢）　甘石（一兩）　板油（一兩）</p>

<h3>八寶丹</h3>
<p>收口糝藥。</p>
<p>龍骨　虎骨（各五分）　兒茶　血竭（各二錢）　冰片　麝香（各二分）　乳香　沒藥（各一錢）</p>

<h3>眼科七寶丹</h3>
<p>一概眼疾。</p>
<p>甘石（二兩）　海螵蛸（一兩）　木賊灰（二錢）　硃砂（一錢）　冰片（一錢）　珊瑚（一錢）　琥珀（一錢）</p>
<p>加月石（一兩），可名「八寶丹」。</p>

<h3>寸金丹</h3>
<p>概治一切症候。</p>
<p>豆仁　砂仁　藿香　柴胡　乾薑　半夏（各一兩）　蒼朮　茯神　建曲　陳皮　厚朴　山藥（各四兩）　薄荷　蘇子　生草　獨活　枳殼　白芷　木瓜　遠志　防風（各二兩）　桂枝（五錢）　青竹葉（一百片）</p>
<p>神麯糊為丸，硃砂為衣。</p>

<h3>肥兒丸</h3>
<p>宣連（五錢）　神麯（四兩）　穀芽（四兩）　蕪荑（一兩）　使君子（二十個）　茯苓（四兩）　楂肉（一兩）</p>

<h3>定心丸</h3>
<p>石菖蒲（二兩）　遠志（一兩）　益智仁（一兩）　人參（三錢）　麥冬（一兩）　茯神（二兩）　炙草（三錢）</p>
<p>蜜丸，硃砂為衣。</p>

<h3>乳風</h3>
<p>穿山甲（一錢）　胡蘆巴（三錢）</p>
<p>為末，白酒送下。虛人作二服，飽時服。</p>

<h3>狗咬</h3>
<p>生芋艿搗亂，罨傷處即好。</p>

<h3>瘡藥</h3>
<p>治一切濕熱、寒濕下疳，梅毒等瘡。</p>
<p>大黃　黃柏　黃連（各一錢）　白芷（七分）　廣木香（八分）</p>

<h3>江湖切</h3>
<p>郎中（皮老）　膏藥（皮子）　丸藥（彈式）　眼藥（雙連）　末藥（隨付）　吐（頂）　瀉（串）　腰頭匡藥（大洋）　手頭用藥（出貨）　虎撐（鈴）　招牌（吊貨）　病（倦）　好（通）　不好（悶）　酒（清）　煙（云）　一應見效丸散膏（抵貨）</p>
<p>頂串賦、小包賦、皮子賦、惺惺小包賦、各項併除，供俱刪去。</p>

<h3>蓽茇散</h3>
<p>此散牙痛。</p>
<p>蓽茇（一錢）　蟾酥（三分）　燒鹽（一錢）　川椒（二錢）</p>

<h3>繡球丸</h3>
<p>疥瘡。</p>
<p>苦參（一兩）　黃柏（五錢）　枯礬（二錢五）　雄黃（一兩）</p>

<h3>桃花散</h3>
<p>金瘡、刀瘡。</p>
<p>大黃（二兩）　石灰（一斤）</p>
<p>共炒紅色為末。</p>

<h3>蟾酥丸</h3>
<p>治無名腫毒。</p>
<p>寒水石（二錢）　銅綠（五分）　雄黃（五錢）　蟾酥（三分）</p>

<h3>無雙頂（即掛印）</h3>
<p>豬血（一杯），大茴（四錢）為末，龜尿（少許），共為一處和勻，丸如桐子大，每丸內放苧線一根，長二尺許。吞下留線頭在外，停一時要吐，用水一盅，吐出變為紅蟲一條。</p>

<h3>出蟲法</h3>
<p>桑螵蛸勻干，和米為末，用水送下，其蟲即出於舌。</p>

<h3>扯胬肉</h3>
<p>桑皮紙一條，加膏藥油少許，加白丁香末於膏上，胬肉即出。</p>
<p>以上三法，江湖不肯傳人。</p>

<h3>孩兒血</h3>
<p>狗肺一塊，曬乾研末，少許砂糖水調勻為丸，如青果大聽用。</p>

<h3>紫河車</h3>
<p>白茯苓（一塊）研細末，加薑炭少許，鵝毛拌勻，其色白，見水即黑。</p>
