<header data-type="book">
<h1>小兒諸證補遺</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張昶</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1636">公元1636年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫在幼科，尤當精擇。蓋嬰兒稟氣未堅，難禁湯藥，自非深察，確見病源，鮮能奏效也。昔錢仲陽為小兒醫方之祖，其論述備載《準繩》中。第時異世殊，方證不合於今。至於陳氏諸書，偏寒偏熱，亦非南北共宜者，後學之士烏能以折衷而奇中也哉？余輯《問對》一書，小兒與大人證治相同者一不更贅，加觀氣色，驗指紋，胎寒胎熱、臍風撮口、變蒸、臟腑經絡、夜啼、驚風、疳癇、丹毒、囊腫、遊風、龜胸、丁奚、五軟解顱、痘疹等患，因數立方，依方合劑，名曰《小兒諸證補遺》。書成，公之眾方，俾家藏一冊，考究有素，可無臨證之妄投。語曰：為人父者，不可以不知醫。此類是也。</p>
<p><u>崇禎九年歲次丙子菊月上浣五日</u></p>
<p><u>大梁七十四歲老人張昶序</u></p>

<h1>一、面部五色圖</h1>
<figure>
<img data-orig-src="urn:270:10275.jpg" alt="面部五色圖">
</figure>
<p>青色肝病至　赤紅病心經</p>
<p>黃色脾與胃　白色肺不寧</p>
<p>黑色入腎危　俱現五色中</p>

<h1>二、面部五色歌</h1>
<p>左腮屬肝右屬肺　額屬心兮鼻屬脾</p>
<p>腎主頦間驗諸證　更參五色透天機</p>
<p>肝病生時面青黧　白色春來未為吉</p>
<p>是謂肺金克肝木　脅痛泄青不須疑</p>
<p>心經火病面紅赤　夏令黑起甚不宜</p>
<p>水來剋火心難支　狂惑天釣病蹺蹊</p>
<p>小兒面白知肺虛　秋時見紅火上移</p>
<p>金被火克無停止　咳嗽夜啼無寧時</p>
<p>腎病發現面青黧　冬來土黃上面皮</p>
<p>水被土克多癃閉　痿黃更無軟足膝</p>
<p>唇紅面赤感傷寒　臉黑唇青驚風疾</p>
<p>唇青面白染瘧痢　面黃如土停食積</p>

<h1>三、面部病證圖</h1>
<figure>
<img data-orig-src="urn:270:10276.jpg" alt="面部病證圖">
</figure>
<p>頭者，六陽經絡之會；面者，五臟氣血之榮。臟者，神之舍；色者，神之標。五臟衰敗，面容枯槁；五臟壯盛，顏色潤澤。枯槁者亡，潤澤者昌。經以望知為神，能察生死氣色也。</p>

<h1>四、面部病證歌</h1>
<p>額青主驚紅主熱，印堂青驚紅驚熱，印堂白淨無病證。太陽紅色下淋血，青驚亦是傷寒候；太陰青紅俱驚厄，青深惡候危篤困。兩眉尖頭顯紅色，每夜啼哭煩躁熱；風池紅熱更多啼，土黃吐逆危困也。兩眼黑睛黃傷寒，白睛黃積赤心熱，淡紅心虛短精神，兩睛青色肝經熱。山根紫傷乳青驚，若然青黑危困也。準頭近里名年上，偶發紅色或赤色，小兒吐痢無休歇。兩腮紫紅痰氣發，青是慢驚將至也。人中色黑蟲腹痛，點點黑星吐痢厄。臉赤傷寒顴紅熱，正口淡紅無病證。乾燥脾熱白虛怯，承漿黃吐青主驚，金匱青筋受驚色。凡治小兒諸病證，先看氣色後驗脈。</p>

<h1>五、小兒虎口三關脈歌</h1>
<p>食指側上頭節紋，男左女右風關定，青色雷響走獸驚，赤色飛鳥人嘯聲，黑色水喝痛撲跌，紫色風寒感冒重。食指二節氣關名，察看五色認里證，青色肝疳黑色腎，赤心白肺黃脾應，紫筋沖關成驚疳，察驗卯關沉疴病，紋到辰位傷命關，疲痞疳疾危惡境，諸筋屈曲食傷攻，內隱青筋急慢驚。紋頂命關顏色活，急整藥餌速救命，若見死暗開魚刺，到此無由再得生。色現寅位病勢輕，紋過卯關病已成，越外生枝實難醫，紋過辰位天命終。紋形一直透三關，說與醫家藥休用。（更參《按摩經·脈形》，驗小兒諸證有準。）</p>

<h1>六、小兒一指脈法</h1>
<p>或問曰：小兒脈謂何用一指診之也？對曰：小兒一歲二歲為嬰孩，只看虎口三關脈。男七歲為髫年，女八歲為齔年，身體漸長，乃可用小方脈診之。若三四歲時，號曰幼童，身軀矮小，肢體未能長成，難下三指，定寸關尺部位，可用一指從關上滾轉，看三部之脈，若五至六至為平和脈，更加一指無別疴，八九至是為積熱，三四至來受寒多。脈之浮沉遲數、大小長短，皆與大人相同，可以察看百病，方脈分別諸證。</p>

<h1>七、小兒胎寒證</h1>
<p>或問曰：小兒胎寒，何證也？對曰：嬰孩初生百日內，覺口冷腹痛，身起寒粟，時發戰慄，曲足握拳，日夜啼哭不止，或口噤不開，名曰胎寒。或曰：因何致此也？對曰：嬰兒在胎時，母因腹痛而致產，亦有孕婦喜吃肥甘生冷時果，皆致胎寒。或懷胎時外感風寒暑濕，多用涼藥，內傷胎氣，則孩生後昏昏多睡，間或嘔吐瀉白。若不早治，必成慢驚風症。宜用蒼朮、厚朴、半夏、當歸、人參、前胡、陳皮、川芎同煨姜煎服，微泄行後，用桔梗、陳皮、縮砂、茴香、炮薑、炙草調補，泄止氣勻，手足舒伸，冷用參苓白朮散，以養胃氣。乳母宜戒生冷飲食，庶保無虞。或曰：小兒有手足稍冷，唇面微青，額有多汗，不貪飲食，夜間多啼，可與胎寒同證否也？對曰：小兒腹痛腸鳴，瀉泄清濁，間有不泄者，日夜輕重，但不口冷寒戰，名為臟寒。此證亦在百日內有之，皆因臨產在地稍久，冷氣侵逼，或熱時涼水洗兒，或斷臍帶短，又捆縛不緊，為寒氣所傷，用白芍、澤瀉、甘草、薄桂、人參、蒼朮、厚朴、乾薑，加鹽炒茴香、吳萸、姜煎服，乳母同服，亦從寒類而治，萬無一失。</p>

<h1>八、小兒胎熱證</h1>
<p>或問曰：小兒胎熱，何證也？對曰：嬰兒產下三朝旬日之間，目閉而赤，眼胞浮腫，常作呻吟，或多啼哭，時復驚煩，遍體壯熱，小便赤黃，由懷胎腹中，母受時氣邪毒，或外感風熱，誤服溫藥，受孕好食五味，辛辣過多，熱蘊於內，熏蒸胎氣，生下才有此證，名曰胎熱。</p>
<p>或曰：日久成何病證？對曰：胎熱即驚風之肇端也，延遲不治，則鵝口、重舌、木舌、赤紫丹瘤，自此而生。先以木通、萹蓄、赤茯苓、瞿麥、滑石、梔仁、車前、黃芩、薄荷煎與乳母服，使入於乳，兒飲後通心氣，解煩熱，然後用燈心、黃連、秦皮、木賊、紅棗煎洗兩目，自開後用天竺黃、硼砂、牙硝、硃砂、蟬退、殭蠶、鬱金、川芎、茯神，令乳母服，牛蒡子、防風、薄荷、荊芥、黃耆、當歸、白芍、川芎、甘草使從乳過。乳母忌酒、肉、濕面，庶得證安，不致返復。</p>
<p>或曰：小兒熱證，久則重舌、木舌，若弄舌、舒舌，可與此同證否也？對曰：弄舌之證出於大病後，舌略出不長，一動即收，此是惡候。以木香、白朮、人參、茯苓、藿香、乾葛、甘草治之不愈，將傳危證。舒舌者，因著衣服不常，外感風熱，入於心脾，脾之脈絡繫於舌，時復舒捲，出急收緩，或渴或不渴，謂之舒舌。</p>
<p>或曰：治當何如？對曰：宜泄心脾之熱，藿香、梔仁、防風、石膏、甘草、黃芩煎服，但不可以大寒之劑攻之，熱退寒起，傳變他證難醫。</p>

<h1>九、小兒臍風撮口證</h1>
<p>或問曰：小兒初生，臍風撮口，何證也？對曰：嬰孩分娩，七日之內，肚腹脹硬，臍畔四圍浮腫，口撮牙關不開，攢眉而叫哭，名曰臍風證。</p>
<p>或曰：因何致此也？對曰：落草之初，剪臍帶甚短，或臍口捆縛不緊，致外風侵入臍內，或用鐵剪剪斷臍帶，為冷所侵，或牽動臍帶，水入生瘡，客風乘虛而入，傳之於心，蘊蓄其邪，復傳脾絡，致舌強唇青，手足微搐，口噤不能進乳，啼聲似啞，喉中痰涎潮響，是其候也。其證多致不救者，由收生婆鹵莽，以致於此。今後生下小兒，將臍中存下瘀血用手輕輕逼去，軃至小兒足跟相齊，提起胎衣，挽成疙疸勒緊了，外用布隔著，咬斷疙疸，外邊臍帶收盤，臍上包縛。小兒三日，用豬膽汁熱水洗畢小兒，捆縛枕上，和攝硬麵一窩，中鑽一孔，將臍穿過窩來，厚紙襯住肚皮，鐵著架起臍帶，油捻燎焦，收放窩中，取干蘄艾大炷，灸三二時，灸透臍內，干臍脫落，始免臍風撮口之患。</p>
<p>或曰：小兒一七之外，旬日之間，有臍突而殤者，何氣使然？對曰：臍突肚緊，面帶青色，口撮不開，此肝風盛而脾土受制，無法調治，若遇此證，百無一生。縱然用蠍梢、殭蠶、蟬退、龍齒、牛膽南星調治得安，亦非長壽者。一遇驚跌，必成慢脾風，竟殞厥軀。況臍突之證，又非臍風一類。</p>
<p>或曰：因何感受而成此證也？對曰：小兒初生，沐浴時扎臍不緊，穢水浸內，至旬日外，臍復光浮如吹，捻動微響，間或驚悸作啼，治用白芍藥、澤瀉、甘草、薄桂、薏苡，每服二錢，空心煎服，誤汗誤下，加人參、木香，臍腫敷外消散，大黃、牡蠣、朴硝研一二錢，水調敷患處，亦有可愈者。</p>

<h1>十、定小兒變蒸日期</h1>
<p>或問曰：小兒生變蒸，謂何而變？謂何而蒸也？對曰：變是上氣，蒸是體熱。小兒分娩後，定然生變蒸，如龍脫骨、虎轉爪、蠶成眠、蟬脫殼之類。此證初來，兩手搐搦，有似驚風，鼻氣喘急，有似胸喉，遍身發熱，有似感冒，腸鳴溏泄，有似傷食。先驗小兒唇生白點，口生牙黃，俗名小兒馬牙。變蒸之候，切不可妄投丸散、煎劑，亂行針灸，致變他證，禍生不測。當安常處順，節戒飲食，變蒸退去，自然安全。</p>
<p>或曰：變蒸病有定數，來有定期乎？對曰：小兒滿月，二日後即一變，生長腎氣。天一生水，所以先長腎氣也。六十四日二變一蒸，生長膀胱氣。膀胱乃州都之官，為腎之腑，二變即生也。九十六日三變，生長心氣。心氣至三個月始長。心屬火，此一變多生熱，虛弱兒熱甚，宜當涼臟，熱退後即能嘻笑。一百二十八日四變二蒸，生長小腸氣。小腸為心經之腑。一百六十日五變，生長肝氣。肝主筋，筋壯即能收持，可以獨坐，肝旺克脾，令兒泄青，變出泄止，勿作驚氣泄青治也。一百九十二日六變三蒸，生長膽氣。膽至二百日才長，此時宜用心保護，不宜驚跌，恐成驚癇。二百二十四日七變，生長肺氣。肺主皮毛，至此毛髮漸盛。二百五十六日八變四蒸，生長大腸氣，能動作扒步。二百八十八日，生長脾氣，肌肉強壯。三百零二十日十變五蒸，生長胃氣。脾胃至三百日始長成，小兒將周歲，自乳食之外，不可任與米麵肉食，致傷脾胃，染成積塊泄痢。小兒周歲，乳母嚼物，餂喂口中，帶上唾涎，入胃稠黏難化，聚生疳疾。至三百八十四日又一大蒸，一歲零一月膝骨成，始能獨立。四百四十八日又一大蒸，一歲零三月骨氣盛，齒生全。五百一十二日又一大蒸，一歲零五月筋力強壯，能步履不倦。五百七十六日變蒸方完，是一歲零七月，語言始利便，大都變蒸之患，是為小兒緊關。以二證較之，蒸則重於變也。據其所發之時，大約不越乎此數。若小兒稟受壯實，調養氣血充足，脾胃健旺，或過期而後發，發亦不甚覺；若調養失節，脾胃衰弱，必未期而先發，發即沉重纏綿。後學當以意忖量，不可執一而論也。</p>

<h1>十一、小兒春令肝膽證</h1>
<p>或問曰：肝膽屬何經絡？用事何時？為病何狀？對曰：足厥陰肝經，為臟足少陽，膽經為腑，屬木，木曰曲直，作酸，酸味走肝，王於春季。肝為將軍之官，納心血上貫於目，最宜清順，一有所傷，多成血證眼疾。膽為謀略之官，為人之威重，最宜調養，有傷則震駭怯弱等證作矣。虛則補之，熱則涼之。</p>
<p>或曰：補泄溫涼，宜用何藥？對曰：補肝虛，當歸、牛蒡、細辛、木香、草決明、蔓荊子；補膽虛，遠志、棗仁、胡黃連、龍齒、川芎、膽南星；涼肝熱，柴胡、龍膽、防風、赤芍、干菊花、枯苓、木賊、車前、地膚子；涼膽，琥珀、天竺黃、虎睛；溫膽，竹茹。</p>
<p>或曰：小兒肝證若何？對曰：肝開竅於目，瞳神屬腎，青膜屬肝，白膜屬肺，上瞼屬脾，下瞼屬胃，大小眥屬心。</p>
<p>或曰：目暗雀盲，宜用何藥？對曰：柴胡、黃芩、黃連、白芍、防風、木賊、款冬花、干菊、蔓荊、草決明，又宜穀精草、百草霜，等分末細，豬肝煮熟切片，蘸吃，以汁呷之。</p>
<p>或曰：肝經壯熱，青蒙赤腫，何藥治之？對曰：龍膽、柴胡、芩、連、芍藥、木賊、干菊、蔓荊、草決明、地膚，痛甚加當歸，有淚加細辛，熱倍地膚。</p>
<p>或曰：肺經熱甚，白膜赤障，何藥治之？對曰：防風、赤芍、山藥、玄參、桑白、天冬、麥冬、芩、連、桔梗、杏仁、菊花，加減同上。</p>
<p>或曰：心經熱盛，大小眥赤障胬肉，何藥治之？對曰：生地黃、滑石、石膏、芩、連、連翹、梔子、菊花、蔓荊、防風。</p>
<p>或曰：脾經積熱，上瞼赤腫膿爛，何藥治之？對曰：白朮、白芍、芩、連、枳實、石膏、生地、干菊、蔓荊、赤茯苓，加減同上。</p>
<p>或曰：胃經積熱，下瞼赤爛，何藥治之？對曰：白朮、赤芍、芩、連、滑石、石膏、梔子、朴硝、菊花、蔓荊、連翹，加減同上。</p>
<p>或曰：洗滌病眼以何藥？對曰：防風、荊芥、黃芩、黃柏、杏仁、蔓荊、文蛤，銅青煎湯，絹蘸洗，拭乾點藥。</p>
<p>或曰：點暴發眼用何藥？對曰：黃連洗淨，為末二錢，雞清敲打成水，綿紙蓋上，銅錢一個壓下，雞翎蘸汁點掃，其餘曬收，用時井花水化稀翎點。</p>
<p>或曰：點諸眼明用何藥？對曰：用海連膏甚捷，黃連二兩為末，井水一大碗和末，熬取一盞，防風、當歸各二錢，菊花、赤芍、生地、甘草、青鹽各五分，共為細末，入連汁內，入蜜半杯，熬成膏，傾入甌，候冷，入乳沒、血竭、兒茶、海螵蛸各五分，麝半分，共研千餘極細，攪勻收貯，新水化點。</p>
<p>或曰：小兒膽氣怯弱，心神驚悸，治宜何藥？對曰：柴胡、芩、連、人參、白朮、南星、棗仁、菖蒲、胡黃連、遠志、川芎。</p>
<p>或曰：心神虛怯，久驚不安，治宜何藥？對曰：柴胡、芩、連、生地、棗仁、菖蒲、遠志、金鉛，末細，麵糊，杵丸綠豆大，硃砂為衣，食遠米飲下三十丸。此小兒肝膽經之病證也。</p>

<h1>十二、小兒夏令心小腸證</h1>
<p>（附心包絡）</p>
<p>或問曰：心與小腸屬何經絡？用事何時？為病何狀？對曰：手少陰心經為臟，手太陽小腸經為腑，俱屬火。火曰炎上，作苦，苦味走心，王於夏令，心為君主之官，乃一身之主宰，最宜省事清順，有傷則怔忡、健忘等證必作。小腸為受盛之官，最宜溫和，有傷則結滯、嘔逆、關格等證必作。虛則補之，熱則涼之，寒則溫之，驚則鎮之。</p>
<p>或曰：補泄溫涼，宜用何藥？對曰：補心虛，紫河車、當歸、山藥、茯神、紅花、女貞子；涼心熱，黃連、連翹、麥冬、知母、貝母、生地、玄參、玄明粉、滑石、竹葉、澤蘭葉、竹瀝、荊瀝（能食用竹，不能食用荊）；涼腸熱，赤茯苓、石膏、玄明粉、滑石；鎮心驚，遠志、石菖蒲、麝香；溫心氣寒痛，吳茱萸、玄胡索、川楝肉；溫小腸寒，桂枝、肉桂、乾薑、白蔻、縮砂、草果、小茴、玄胡索；溫小腸冷痛，蒼朮、芍藥、陳皮、半夏、縮砂、乾薑、白蔻、蘿蔔子、玄胡；小腸食積，白芍、蒼朮、青陳皮、枳實殼、草果、山楂、神麯、蘇葉、萊菔子、麥芽；熱鬱小腸，柴胡、黃芩、黃連、連翹、滑石、青皮、朴硝、桔梗、梔仁。</p>
<p>或曰：心包絡為一經，何也？對曰：上古聖人論心包絡為一經者，為心外之膜絡，去心甚近，最宜保護，又名手心主，名手厥陰經，不言命門，至伯、區諸醫聖始別右腎為命門，作手厥陰經屬相火，亦作一臟，以三焦為腑配之，與左腎同。</p>
<p>或曰：心胞去心既近，亦能生證否也？對曰：宜用柴胡、薄荷、牡丹、紫蘇葉、蘇子、三稜、莪朮、皂莢，以調心氣。若心氣虛弱，顛倒健忘，人參、黃耆、當歸、茯神、山藥、菖蒲、遠志、女貞子，末細，紫河車煮熟搗爛，杵丸綠豆大，辰砂為衣，食遠茶下三十丸，心胸結滯不開，服涼心之品，自然心志開明，聰明能記，玄參、生地、黃芩、黃連、桔梗、菖蒲、遠志、知母、貝母、滑石，煎中和辰砂末服。心胸客熱熏蒸不安，用清上藥，除三焦煩熱，黃連四兩，酒浸煮，焙乾，末細，粳米飯杵丸綠豆大，青黛為衣，食遠白湯吞三十丸。心氣作痛，原於胃腕受寒，停痰作痛，謂在心邊，故為心氣，其實人無真心疼，一疼即死矣。治痛，蒼朮、白芍、陳皮、吳萸、乾薑、肉桂、香砂、草果、川楝肉、玄胡索、麥芽。狂惑之證，原於氣腦，痰迷心竅，激成心風，先服瓜蒂散，後服解風散調理。瓜蒂散，苦瓜蒂、藜蘆等分，末細，井水灌，吐不止，蔥白湯呷之立止；解風散，玄參、茯神、芩連、貝母、枳實、荊芥、防風、連翹、滑石、生地、半夏，水煎，和青黛服。此小兒夏令之病證也。</p>

<h1>十三、小兒土旺令脾胃證</h1>
<p>或問曰：脾胃屬何經絡？用事何時？為病何狀？對曰：足太陰脾經為臟，足陽明胃經屬腑，俱屬土，土曰稼穡，作甘，甘味走脾胃，脾胃為倉廩之官。人之司命，備具坤德而妙乾化，最宜溫和，一有所傷，則成積聚、痞滿、翻胃、吐酸、嘈雜、秘結、鼓脹等證矣。虛則補之，實則泄之，寒則溫之，熱者涼之。</p>
<p>或曰：補泄溫涼，宜用何藥？對曰：補脾虛，白朮、白芍、陳皮、黃耆、肉蔻；補胃虛，升麻、木香、蒼朮、草果、大腹皮、香白芷；泄脾實，枳實、枳殼、山楂、神麯、紫蘇子、萊菔子；泄胃實，大黃、芒硝；溫脾寒，縮砂、吳萸、肉桂、乾薑、白蔻、益智、附子、麥芽；溫胃寒，良薑、草蔻、丁香、木香、半夏；涼脾熱，生地、赤苓、芩、連、生甘草；涼胃熱，黃連、滑石、石膏、生芍藥。</p>
<p>或曰：小兒脾胃諸症，只以此治之，尤有別治乎？對曰：四制白朮丸，扶持脾胃，補益氣血，快爽精神，小兒不可少。此丸切不可多用，枳實最能破人真氣，況小兒脾胃純萃，須當謹忌者。方用白朮八兩，二兩人乳浸炒，二兩牛乳浸炒，二兩童便浸炒，二兩同黃耆水浸炒，犍豬肚包粳米煮熟，用末和丸黍米大，食遠清茶下三四十丸藥。豬肚亦能健脾胃，犍豬肚一個，酒洗淨，入黃耆、熟地末各二錢，裝肚內扎住，以醋醬少抹，磁罐煮熟吃粥，人弱加人參五分。如冒感風邪，須煎百沸湯解之，白水二大碗滾百沸，炒鹽一撮，一餂鹽，一飲湯，終必盡飲，少傾探吐，吐得出就有發散之義。吐後胃翻覆，以和中飲安之。和中飲，白朮、芍藥、陳皮、縮砂、半夏、草果、麥芽，寒甚加薑汁，和藥呷之。如飲食停聚，膨脹時痛，宜消導之，縮砂、草果、山楂、神麯、紫蘇子、萊菔子。如大寒腹痛，先用熨痛法，鹽一斤，分作兩處，各炒熱布包，更換熨痛處，再用白朮、蒼朮、陳皮、青皮、枳實、厚朴、防風、縮砂、草果、附子、麥芽水煎，薑汁呷之。熱鬱腹痛抑痰，飲防風、貝母、半夏、膽星、枳實、茯苓、白芥煎服。蛔攪腹痛，男嬰兒病一月即生蟲，女病兩月始生蟲，使君子、藜蘆、鶴蝨、雄黃、檳榔、白礬各等分，末細，外用楝根濃煎一碗調末，先用雞蛋煎餅，清晨吃下，引蟲來吃，少頃服下前藥，大蟲皆死而出，小蟲皆化為水。停血腹痛，除血散，桃仁、桂枝、朴硝、大黃下之，消痞膏，殭蠶一錢為末，白馬尿研成膏，布攤貼痞上自消。桃仁膏，桃仁、蒼朮、白芍、青陳皮、甘草梢、牛膝、人參等分末細，煉蜜和膏，入玄明粉，攪勻收貯，食遠白湯化二匙。翻胃：一為吃食，偶著氣惱，痰裹其食，留滯胃口塞實，少頃方吐；一為粗吃食物，忙咽納下，小腸礙下，心包腫脹不容，即時便吐；一為胃火旺盛，燒住死血，脾緊裹干，胃無所納化，半日方吐。若臌脹，須抑肝扶脾，蒼朮、白芍、青陳、枳實、枳殼、厚朴、茯苓、大腹皮，抑肝加柴胡、龍膽，氣陷加升麻、藿香。若水蠱，須扶脾消水，蒼朮、白芍、厚朴、枳殼、茯苓、郁李仁、甜葶藶（紙炒半生熟）共末，米飲調下。若腸癰，先消腫排膿，黃芩連、生地、射干、梔子、花粉、忍冬、蒲公英水煎，和沒藥末服。若咳逆，先溫暖脾胃，蒼朮、白朮、陳皮、半夏、乾薑、官桂、吳萸、縮砂、草果、附子、麥芽。</p>
<p>或曰：感何而成瀉泄？對曰：諸泄皆因熱，初病宜下，柴胡、黃芩、連、柏、梔子、連翹、石膏、朴硝、大黃下之。</p>
<p>或曰：肚腹脹滿，食即吐逆，何泄也？對曰：脾泄也。白朮、白芍、陳皮、白茯苓，諸泄必用之品，甘草、乾薑、肉桂、縮砂、草果、吳萸、附子、麥芽、文蛤炒作引。</p>
<p>或曰：飲食不化，下利黃色，何泄也？對曰：此胃泄也。白朮、白芍、陳皮、山楂、神麯、枳實、枳殼、茯苓、甘草、青皮、紫蘇葉、蘿蔔子炒作引。</p>
<p>或曰：大便色白腸鳴切痛者，何泄也？對曰：大腸泄也。白朮、白芍、青陳、當歸、枳殼、厚朴、縮砂、玄胡索。頭痛加川芎、白芷、石膏、藁本。渴加葛根、天花、澤蘭葉。</p>
<p>或曰：溲便膿血，小便時痛，何泄也？對曰：此小腸泄也。白朮、芍藥、青陳、石膏、黃連、梔子、木通、槐角。煩躁加黃連、知母、地骨皮，嘔吐加丁香、薑汁。</p>
<p>或曰：裡急後重，便澀，莖中作痛，何泄也？對曰：大瘕泄也。白朮、白芍、陳皮、升麻、枳殼、厚朴、梔子、木通、車前、滑石、黃柏、薄荷。</p>
<p>或曰：小兒病赤白痢疾，何也？對曰：白是濕熱傷氣，紅是濕熱傷血，初病可下，卻無止法。白用黃芩、黃連、芍藥、茯苓、滑石、柴胡、枳實、硝黃；紅用柴胡、黃芩、黃連、芍藥、桃仁、石膏、枳實、硝黃，一下痢稍久，則腸臟虛滑，不能禁止，切不可用粟殼兜澀，可用後火封丸，芩、連、芍諸痢必用，枳殼、甘草水煎，和木香汁服。白痢下後，加陳皮、生地、柴胡、白芷；血痢下後，文蛤、黃芩、黃連，加桃仁、當歸、蒲黃、藕節、地榆；紅痢下後，加白朮、當歸、桃仁；赤白相雜，加陳皮、蒼朮、當歸；裡急後重，加升麻、薄荷、厚朴、檳榔；大孔垢痛，加山梔仁、滑石、石膏、朴硝。加減用之。</p>
<p>或曰：噤口痢，何所感受而成？對曰：濕熱之甚也。白朮、白芍、黃芩、黃連、滑石、石膏、生地黃、升麻、風化硝，外用田螺搗爛，用少許敷臍中，內服人參石連散甚捷。痢止後復痢，乃氣血虛極，人參、黃耆、當歸、芍藥、白朮、川芎、枳殼、檳榔、阿膠，煎，同木香汁服。止泄痢，火封丸、文蛤丸，焙枯，末細，爛飯杵丸綠豆大，米飲下二十丸。封關散亦能止泄痢，大肉蔻一個，切破剜心，納乳香、附子各三分，麵煨末細，米飲調，一匙效。此小兒脾胃證也。</p>

<h1>十四、小兒秋令肺大腸證</h1>
<p>或問曰：肺與大腸屬何經絡？用事何時？為病何狀？對曰：手太陰肺臟、手陽明大腸腑屬金，金曰從革作辛，辛味走肺，旺於秋令。肺為華蓋，最上，至清，宜當安靜，一有所傷，則吐痰咳嗽、哮喘、脹滿、肺癰、肺痿等證連起。大腸為傳送之官，最宜清順，有傷則秘塞、腸風、積血等證作矣。虛則補之，寒則溫之，枯則潤之，盛則泄之，散則斂之，熱則涼之。</p>
<p>或曰：補泄溫涼，宜用何藥？對曰：補肺虛，人參補益肺氣，紫菀潤肺止嗽，阿膠補氣不足；溫肺寒，白蔻、紫菀、鹿角膠、木香、乾薑、白芷；潤肺枯，杏仁、瓜蔞仁、天花粉、牛蒡、白前、側柏葉；泄肺盛，枳實、貝母、防風、厚朴、枳殼；斂肺散，桑白皮、白芍、文蛤、訶子、五味子、烏梅；涼肺熱，桔梗、天冬、麥冬、黃芩、梔子、石膏、兜鈴、玄明粉、竹瀝、青黛；涼腸熱，白芍、黃連、滑石、地榆、芒硝、大黃、牽牛、芫花、槐莢、秦艽、蒲黃、檳榔。</p>
<p>或曰：小兒肺腸止從此治乎？另有別治乎？對曰：春天肺宜發表，荊芥、白芷、川芎、蘇葉。早晨咳嗽多，肺中有火，加地骨皮、知母、貝母。夏令宜清熱，竹茹、黃連、黃芩、梔子、地骨。前半日咳嗽重，胃火旺盛，黃芩、黃連、石膏、貝母。秋令宜解涼，柴胡、知母、連翹、石膏、梔仁。午後咳嗽，陰虛火動，四物加知母、黃柏。冬令宜祛寒，肉桂、麻黃、半夏。黃昏咳嗽，陰火上浮，加連翹、文蛤、白芍、地骨皮；上焦痰盛，加知母、貝母、枳實、防風、枳殼；夜間咳嗽，陰氣虛弱，加知母、百部、馬兜鈴、地骨；積熱喘嗽，加柴胡、黃芩、黃連、梔子、石膏；頭痛鼻塞，陽明火盛，加芎、芷、芩、連、梔仁、石膏。</p>
<p>或曰：上焦熱盛，脹滿喘咳，亦以此治乎？對曰：清肺為主，半夏泡七次，香油炒焦二兩，杏仁泡去黃皮尖，牙皂拌，煮熟去皂，貝母去心，各一兩，面丸綠豆大，青黛為衣，食遠茶下三十丸。</p>
<p>或曰：熱毒瘀積，腸中下血，何也？對曰：治以摘紅散、柴胡、芩、連、秦艽、地榆、檳榔、滑石、蒲黃、芒硝、大黃，一下便通，後用槐莢丸。熟地黃、槐莢、黃連等分末細，大豬腸一截，拌糯米，煮爛杵，丸綠豆大，茶下三十丸。此小兒秋令肺大腸病證也。</p>

<h1>十五、小兒冬令腎膀胱證</h1>
<p>（附命門、三焦證）</p>
<p>或問曰：腎經膀胱屬何經絡？用事何時？為病何狀？對曰：足少陰腎臟、足太陽膀胱腑屬水，水曰潤下作咸，鹹味走腎，旺於冬令。腎經為人之真元，宜當滋補，有傷則成虛損勞瘵、骨蒸盜汗等證。膀胱為人之水府，平素宜要清順，有傷則成赤澀秘結、淋瀝轉胞等證。虛則補之，寒則溫之，滑則澀之，熱則涼之。</p>
<p>或曰：冬時補泄溫涼，宜用何藥？對曰：補腎虛，紫河車、生地黃、天麥門冬、人參、黃耆、牛膝、菟絲子、肉蓯蓉、鎖陽、人牛乳、鹿茸、龜板；溫腎寒，胡蘆巴、枸杞子、韭子、虎脛骨；溫胞寒痛，草烏、小茴香、五加皮、胡蘆巴、木香、舶上硫黃、玄胡索、吳萸、大附子；澀腎滑，龍骨、牡蠣、益智子；涼腎熱，玄參、苦參、黃柏、黃連、青鹽、秦艽、地骨、牡丹皮、知母、梔子、秋石；涼胞熱痛，豬苓、澤瀉、茯苓、木通、瞿麥、梔子、滑石、車前、連翹、淡竹葉。</p>
<p>或曰：小兒腎經只以此治乎？尚有別治乎？對曰：祛小兒客熱，制腎家伏火，補益真元，用四制黃柏丸，川黃柏半斤，二兩人乳浸，炒胡，二兩牛乳，二兩薑汁，二兩蜜水，末細鍊蜜，丸綠豆大，食遠茶下三十丸。若保固真元，填精補髓，用三才丸，人參五錢，天冬、麥冬各一兩，生熟地黃各二兩，蜜丸，空心酒下四十丸。補添腎衰，須一妙丸，熟地黃四兩，麥冬二兩，煮羊肉杵丸綠豆大，空心椒鹽湯下四十丸。用五行丸亦可，知母屬金，一兩四錢，胡桃屬木，去粗皮，三兩二錢，黃柏屬水，二兩七錢，破故紙屬火，一兩八錢，縮砂屬土，同花椒炒，五錢，蜜丸服。若清心明目，用一老丸，槐子米泔浸炒，糊丸，空心服五十丸。精滑夢遺，固精丸，益智、菟絲子、韭子、牡蠣，等分末細，麻雀卵清和糊，丸綠豆大，空心鹽酒下三十丸。骨蒸勞瘵，梅連飲，銀柴胡、黃柏、黃連、犀角、地骨皮、牡丹皮、烏梅肉，水和童便煎服。小兒傳屍童勞，豬苓、澤瀉、銀柴胡、條芩、胡黃連、黃柏、秦艽、犀角，水和白馬溲煎，調雄黃末服。</p>
<p>或曰：小兒膀胱證，何證也？對曰：水道鬱熱不清，便亦秘結，豬苓、澤瀉、黃連、黃柏、茯苓、木通、瞿麥、車前、滑石、梔子、淡竹葉水煎，和青鹽汁服。便毒初起，大黃、白芷等分，酒水煎，中空心溫服，先取汗，後行三四次，冷粥補之。熱毒沉鬱膀胱而溲血，宜解熱止血，豬苓、黃連、黃柏、梔子炒黑、茯苓、木通、車前、滑石、蒲黃、大小薊、藕節水煎，和青鹽汁服。熱毒結內，溲血不止，俗曰莖衄，內服劉寄奴散，外用槐角、百草霜，等分研細，入馬口。</p>
<p>或曰：小兒諸淋，可同大人否也？對曰：濕熱傷血，陷下而血淋；濕熱傷氣，陷下而白淋；濕熱鬱結於下，追逼煎煉而成石淋。</p>
<p>或曰：治當何如？對曰：血淋，豬苓、澤瀉、升麻、木通、滑石、梔子、車前、瞿麥、茯苓、蒲黃、蘇葉、藕節，水煎，和青鹽汁服。白淋，豬苓、澤瀉、升麻、木通、黃連、黃柏、滑石、梔子、車前、薄荷、茯苓，煎，和青鹽汁服。石淋，豬苓、澤瀉、升麻、木通、瞿麥、黃連、黃柏、梔子、滑石、石韋，或水煎，或米糊丸，燈心湯三十丸。一方白果七枚搗爛，井花水一盞，入蜂蜜一兩和，服之妙。</p>
<p>或曰：膀胱病止此乎？尚有別證乎？對曰：有疝證，木腎囊腫，遺溲陰縮。</p>
<p>或曰：何因而致此也？對曰：寒冷鬱結於下，而成疝痛，寒冷郁下，墜於囊中，而成木腎；膀胱停濕，外囊浮腫，膀胱冷滑，而成遺溲；陰氣虛極，囊縮於內。</p>
<p>或曰：宜何藥治之？對曰：治疝痛，臺烏、小茴香、玄胡索、吳茱萸、肉桂、厚朴、香附、大附子，酒水煎七滾，熱服取汗。木腎內服疝痛藥，外用硫黃、附子、乾薑、吳茱萸，等分末細，大蒜搗爛，捶藥成膏，敷囊上，荷葉包之。囊腫內服疝痛藥，外用紫蘇葉、蟬退共末，韭菜搗汁，捶藥成膏，敷囊上，荷葉包之，若蚯蚓呵囊。連小兒雞嘴俱腫，蟬退煎湯，熏洗即消。遺溲，益智、菟絲、韭子、桂枝，為末，雄雞肝搗爛，千杵，丸綠豆大，早晚鹽、湯、酒任下三十丸。陰縮，硫黃為末，大蒜搗爛，捶成膏，敷陰上下，再用蛇床子，火燒筒中熏之，龜囊立出。</p>
<p>或曰：男兒右腎，又有三焦，屬何臟腑經絡？用事何時？為病何狀？對曰：右腎即命門。左為腎，以藏真水，右為命門，以藏相火，後世名為手厥陰之經、泄精之臟。診脈軟緩，是為命門平順，泄精太多，命門有傷，相火翕然而起，精泄，夢遺，潮熱，並吐咯紅痰。至於三焦，為手少陽之腑，管束人之一身，亦宜和平，有時或虛或熱，則身體不和矣。虛則補之，熱則涼之。</p>
<p>或曰：補泄可與左腎同否也？對曰：命門火衰，陽痿不舉，補以大附子、鎖陽、紫梢花、川續斷。三焦補虛，以人參、黃耆、熟附子、川芎、炙甘草。命門火熱，乃龍雷之火，得水愈熾，不宜直斥，龜板、鱉甲、地龍衰之以屬，滋陰則火降，涼三焦熱，柴胡、黃芩、連、柏、連翹、石膏、知母、地骨皮。</p>
<p>或曰：心胸結熱，脾胃熏蒸，痰火鬱滯，昏厥不省者，三焦有餘之火也，宜用何藥？對曰：石膏煅三兩、甘草三錢共末，不拘大小人，以一匙半，蜜研成膏，井花水化下，小兒半匙化下。</p>
<p>或曰：補三焦虛弱宜何如？對曰：補中湯，白朮、陳皮、人參、黃耆、川芎、當歸、白芍、甘草、附子、麥芽。</p>
<p>或曰：三焦有結熱宜何如？對曰：梨汁、竹瀝、頭男乳汁各一盞，瓷器盛，飯甑上蒸過，取出，候食遠，作一二服。</p>
<p>或曰：三焦火熱之甚宜何如？對曰：解毒湯，芩、連、柏、梔。內熱加柴胡、鬱金；外熱加牡丹、地骨；骨蒸潮熱，加地骨、牡丹、地龍；心熱加石膏、生地；肝熱，柴胡、龍膽、蔓荊；胃熱，滑石、石膏、甘草、芒硝；肺熱，天冬、麥冬；虛熱，參、耆、歸、芍；實熱，柴、膏、硝、黃。此小兒二腎膀胱三焦之病證也。</p>

<h1>十六、小兒夜哭證</h1>
<p>或問曰：小兒夜哭，何也？對曰：有驚熱、心熱、寒疝，觸犯神煞，皆能令兒夜哭。</p>
<p>或曰：因何致此諸證也？對曰：驚熱證為衣衾太厚，多抱極暖處久坐，致生煩悶，邪熱攻心，心藏神，神亂則驚，心與小腸為表裡，啼哭時遺溲是也。退熱鎮心治之自安。心熱證見燈愈哭，面紅多淚，去燈稍息。火，陽物也，心熱遇火，兩陽相搏，才有燈而哭甚。《經》曰：「火疾風生乃能雨。」即此義也。涼心安神，哭乃止。寒疝證，每到黃昏後更初時，哭多睡少，哭聲不止，直到天明，乃胎中受寒，夜間陽微陰盛，腰曲流汗，眼中無淚，面容白而夾青，伏臥而哭，乃盤腸內釣之證，名為寒疝，治宜去宿冷、溫下焦而安。觸犯神煞，小兒面色紫黑，氣滯如怒，呼時覺有恐懼，及睡中警惕，兩手抱母，大哭不休，此觸犯禁忌神煞而得，或為惡祟所侵。小兒目有所見，口不能言，但驚哭無時，指紋俱隱，《玉環集》有云：「忽然兩手脈不見，定知唐突惡神靈。」先解其表，次驅邪鎮心而安。</p>
<p>或曰：諸證治當何如？對曰：驚熱，牛蒡、防風、薄荷、荊芥、甘草、乾葛、黃芩、白附子、天麻、鬱金主之；心熱，豬苓、澤瀉、白茯苓、白朮、肉桂、黃芩、甘草，或用琥珀抱龍丸主之。</p>
<p>或曰：抱龍之名，何所取義？對曰：抱者，保也；龍者，肝也。肝應東方青龍木，木生火，所謂生我者父母也。肝為母，心為子，母安則子安。心藏神，肝藏魂，神魂定靜，驚從何生？故名抱龍也。丸用琥珀、天竺黃、檀香、人參、白茯苓各一兩半、粉草三兩、枳殼枳實各一兩、硃砂水飛四兩、山藥六兩、膽南星一兩、金箔三百片，除檀不見火，箔、砂不入內，余研細，汲新水，丸芡實大，砂、箔為衣，陰乾蠟固，薄荷湯化下。治寒疝，蒼朮、厚朴、川芎、白芷、人參、桔梗、枳殼、半夏、陳皮、吳萸、小茴香煎服。觸犯神煞，蘇合香丸，或抱龍丸，或貼倒吊驢，兒亦可止夜哭。</p>

<h1>十七、小兒急慢驚風證</h1>
<p>（附慢脾風、天釣、暑風）</p>
<p>或問曰：小兒急驚、慢驚，何以分別也？對曰：小兒急驚，古名陽癇。由於愛護不周，或抱當風，或近熱地，日中多吃辛辣，夜間覆衾太厚，鬱蒸邪熱，積於心經，傳於肝家，再遇跌撲叫呼，雷聲鼓吹，雞鳴犬吠，受一切驚，令兒夜臥不寧，夢寐或笑或哭，齧齒咬乳，鼻額有汗，氣促痰喘，忽然悶絕，目直上視，牙關緊急，手足搐掣，熱盛而成，惟面紅、脈數可辨。</p>
<p>或曰：何以致此也？對曰：心肝二經，乃陽中之陽。心，火也；肝，風也；風火，陽物也。風主於動，火見風，煙焰起。五行之造化，二陽相鼓，風火相搏，肝中之魂，心中之神，因熱則擾亂妄動，故發驚。心之神明，獨不受觸，遇有驚則發熱，熱極生風，風動搐掣，名曰急驚。若小兒慢驚，古名陰癇，陰主靜而搐緩，故言慢。</p>
<p>或曰：與急驚可同否也？對曰：此證皆因外感風寒，內作吐泄，久則曰慢。神昏，口角流涎，身微溫，眼上視，而手握拳而搐，又兼兩足動掣，各辨男左女右，搐者為順，反此為逆，口氣冷暖，或囟門陷，此虛極也。脈沉無力，睡則揚睛，謂兩目半開半合，此真陽衰耗，陰邪獨盛，陰盛生寒，寒為水化，水生肝木，木為風化，木克脾土，胃為脾腑，胃中有風，瘛瘲漸生。</p>
<p>或曰：瘛瘲何狀？對曰：兩肩微聳，兩手垂下，時復動搖不已，曰瘛瘲，此慢驚風也。</p>
<p>或曰：小兒慢脾風證，由急驚而成，由慢驚而成也？對曰：小兒慢脾風證，自慢驚傳變而成也，始因吐泄，經久不治，致胃弱脾虛，虛極生風，風入經絡，則手足不時動搖，昏沉不醒，面帶痿黃，風勢太甚，脾虛之極，急用天麻飲灌服，或用固真湯，不論有熱有痰，皆風入脾經，亦是危證。若痰如拽鋸之聲，面無潤澤之色，唇縮氣粗，項軟搐甚，無能為也。</p>
<p>或曰：相類者有天釣，其狀與此同否也？對曰：天釣初得時，煩悶呵欠，眼忽下淚，身熱，脈浮洪實，是風痰壅聚，上貫心包，致經絡閉而不通，目睛翻視，頸項強僵，兩手掣轉，而後大哭如怒，腳曲腰直，內熱痰鳴，爪甲皆青，狀如鬼祟，名曰天釣。治法與急驚藥服，先解風熱，次理痰氣，其證可瘳。</p>
<p>或曰：小兒暑風，亦能發搐，可與此同否也？對曰：暑風一證，因夏月感冒風熱太甚，致面垢唇紅，脈沉細數，忽發驚搐，不省人事，治用消暑清心飲、琥珀抱龍丸。切忌溫補，熱氣得補而愈盛，尤宜謹慎。戴原禮曰：「治驚不若滋腎。」蓋心屬火，火性燥，得肝風，則煙焰灼起，致生驚悸，滋腎則水升火降，邪熱無侵，雖有肝風，不生驚駭。其法當於申時，進補腎地黃丸一服，或用琥珀抱龍丸。用申時者，原水生於申，佐之以藥，則腎水得平，自無驚證矣。</p>

<h1>十八、小兒疳證</h1>
<p>或問曰：小兒因何而有疳疾也？對曰：疳之為病，多因過餐硬食而傷脾，成積而不治，傳之餘臟，而成五疳之疾。</p>
<p>或曰：五疳形狀若何？對曰：咬牙舒舌，舌上生瘡，愛飲冷水，唇紅面赤，喜伏眠於地，或頭面赤腫，名曰心疳。目生睚眵，髮際左臉多青，或白睛微黃，泄利稀水，或如苔色，或眼腫頭搖，胸熱羸瘦，名曰肝疳。愛吃泥土冷物，引飲無度，身面俱黃，發稀作穗，頭大項細，腹脹腳弱，釀瀉臭穢，肌瘦目蒙，日涼夜熱，不思飲食，名曰脾疳。鼻下赤爛，手足枯細，口有腥氣，咳嗽喘急，寒熱交攻，名曰肺疳。兩耳內外生瘡，腿如鶴膝，頭顱不合，牙齒臭爛，傳作走馬牙疳，名曰腎疳。唇口俱青，涎流虺出，名曰虺疳。滿頂餅瘡，腦熱顛高，名曰腦疳。身熱肌瘦，鼻瘡赤爛，名曰鼻疳。腦後有核，軟而不痛，名曰無辜疳。</p>
<p>或曰：治當何如？對曰：心疳，胡黃連、宣黃連、黃芩、生地、連翹、滑石、代赭石，末細，豬心血杵，丸綠豆大，硃砂為衣，薄荷湯下二十丸。肝疳，柴胡、黃芩、龍膽、黃連、川芎、茯苓、地骨皮，豬肝血、熟糯米杵丸，青黛為衣，茶下三十丸。脾疳，白朮、白芍、陳皮、川芎、山楂、神麯、青皮、芩、連、玄明粉。肺疳，桑白、款冬、天麥冬、杏仁、桔梗、黃芩、連翹、石膏、五味子、貝母。腎疳，苦參、澤瀉、梔子、茯苓、生地黃、牡丹皮、地骨皮。虺疳，桃仁、使君子、蘆薈、蕪荑、檳榔、蟾酥、雄黃末細，楝根煎湯，服二匙。腦疳，防風、荊芥、升麻、藁本、白芍、白芷、芩、連、草龍末細，薄荷湯服。鼻疳，芩、連、黃柏、兒茶、雄黃、乳香、沒藥、密陀僧，豬油研成膏搽。</p>
<p>或曰：無辜疳久則有利害否也？對曰：初生腦後項邊有核如彈子，按之轉動，軟而不痛，內中有蟲，形如米粉，宜速去之，免蟲隨氣血流散，淫蝕腑臟，以致肌體癰瘡，便利膿血，發熱羸瘦，頭露頂高，漸至不救，急用竹刀刺破，刮去核內粉蟲，內服胡黃連、宣黃連、黃芩、蕪荑、蝟皮，末細，粥丸黍米大，青黛為衣，米飲下三十丸。</p>
<p>或曰：走馬牙疳因何所致也？對曰：此證多因氣虛受寒，及有宿滯留而不去，積濕成熱，虛熱之氣上蒸，或吃甘酸鹹膩之物，脾雖喜甘，積滯日久，蘊熱上熏於口，致齒焦黑爛，時出清血，血聚成膿，膿臭生蟲，侵蝕口齒，甚致腮頰穿破，乳食不便，氣喘發熱，名曰走馬牙疳。</p>
<p>或曰：治當何如？對曰：先用溫鹽水灌嗽，或軟雞翎蘸鹽水拂洗，拭乾，密陀僧、輕粉、麝香末細敷上。經久不愈，傳染唇之上下，即成崩砂證，令穴發滿腮，齒落骨露，乳食漸減，氣促痰鳴，危篤難救。</p>

<h1>十九、小兒丹毒證</h1>
<p>或問曰：小兒因何而生丹毒也？對曰：積熱深久，鬱於經絡、皮膚之間，而成此毒也。</p>
<p>或曰：其名有幾？其狀若何？對曰：頭上先起，名赤杜丹；兩脅先起，名赤水丹；面上先起，名鬼火丹；陰上先起，名胡漏丹；項周匝先起，名飛煙丹；兩腿先起，名野火丹；臍周圍先起，名胡次丹；滿身齊起，名煙火丹；脊背先起，名天火丹；兩腳先起，名天煙丹。</p>
<p>或曰：治當何如？對曰：諸丹內服芩、連、黃柏、梔子、薄荷、滑石、石膏、生地、牡丹、地骨，水煎，和玄明粉服。外治：赤杜丹，赤石脂、滑石，雞清研搽；赤水丹，鐵鏽末，豬糞汁研搽；鬼火丹，伏龍肝，雞清調搽；胡漏丹，屋漏泥煅末，羊油研搽；飛煙丹，六一散煅末，蔥白研汁搽；野火丹，乳香、密陀僧研，羊油搽；胡次丹，檳榔、石膏，醋搽；煙火丹，豬槽下土煅末，香油搽；天火丹，桑白皮末，羊油搽；天煙丹，寒水石煅末，香油搽。此治小兒丹毒之大略也。</p>

<h1>二十、小兒陰囊證</h1>
<p>或問曰：小兒囊有腫者，有痛者，何氣使然？對曰：諸筋會於陰器，邪客於厥陰、少陰之經，與冷氣相摶，則陰囊腫痛而引縮，經中分為四證，腸㿗、氣㿗、水㿗、卵㿗也。小兒患此，調治不早，則成痼疾，如腰曲腹痛，冷汗自出，陰囊二子吊縮入腹，痛定方出，名曰內吊。又有陰根全縮不見，有陰囊光腫不痛，此因肝腎氣虛之極。</p>
<p>或曰：治當何如？對曰：橘核仁、金鈴子、小茴香、青皮、檳榔、陳皮、木香治之。</p>
<p>或曰：《內經》云「㿗癃疝」何症也？對曰：腹脹者，陰氣盛而脈脹不通，故為㿗癃疝。大都陰氣獨盛，遂致有此。吊縮者，筋急也，筋遇寒則引縮，遇熱則弛張，宜寬小腸氣，疏風邪為主。多因久坐濕地，感風濕而得。</p>
<p>或曰：治當何如？對曰：赤芍、當歸、川芎、麻黃、大黃、甘草、檳榔煎服。</p>
<p>或曰：外腎無故，而膚囊腫大，何也？對曰：其證木硬不痛，光亮如吹，此氣虛所致。</p>
<p>或曰：治當何如？對曰：桔梗、陳皮、縮砂、茴香、乾山藥、甘草治之。</p>
<p>或曰：小兒外腎、膚囊亦腫通明，及女兒陰戶腫脹，何氣使然？對曰：乃心熱之所傳，皆以木通、萹蓄、瞿麥、車前子、滑石、赤苓、梔仁、黃芩，或用酒煎天花粉、甘草，不能飲酒，水煎入酒服。治小兒陰囊之大略也。</p>

<h1>二十一、小兒赤遊風證</h1>
<p>或問曰：小兒有赤遊風，何證也？對曰：遊風入兒五臟，皆有外證可驗。</p>
<p>或曰：形狀若何？對曰：赤遊風入心經，令兒面赤唇紅，夜多啼哭；入肝經，搖頭揉目，多啼，木舌；入脾經，面黃嘔吐，虛汗酣睡；入胃經，嘔泄昏倦，下黃赤物；入肺經，面色慘白，氣粗喘急。赤遊風欲作驚風，令兒狂叫；遊風積熱之甚，令兒狂哭。</p>
<p>或曰：治以何藥？對曰：風入心，柴胡、黃芩、黃連、生地、連翹、桔梗、滑石、青黛；風入肝，柴胡、黃芩、龍膽草、黃連、芍藥、川芎、茯苓、地骨皮；風入脾，白朮、黃芩、黃連、石膏、滑石、白芍、扁豆；風入肺，桑白皮、款冬花、桔梗、杏仁、天麥門冬、連翹、梔仁。遊風狂叫，連翹、柴胡、滑石、石膏、茯神、風化朴硝、生地黃；熱甚狂哭，白朮、陳皮、芍藥、木通、生地、梔子仁。治赤遊風者以此。</p>

<h1>二十二、小兒龜胸證</h1>
<p>或問曰：小兒何謂而生龜胸證也？對曰：小兒風痰停飲，聚積心胸，再感風熱，肺為華蓋而最上，居於膻中，水氣氾濫，則肺脹浮，日久凝而為痰，停滯心胸，兼以風熱內發，外證唇紅面赤，咳嗽喘促，致胸骨高如復掌，名曰龜胸。</p>
<p>或曰：治當何如？對曰：人參、杏仁、桑白皮、柴胡、旋覆花、半夏、桔梗、枳殼、赤芍治之。若治愈而復作，傳變別證，目睛直視，痰涎上壅，兼以發搐，亦為難治之證。</p>
<p>或曰：小兒亦有龜背，何也？對曰：初生嬰孩未滿半周，強令坐早，客風吹著脊背，傳入於髓，突出於背，高如龜背之狀，終成痼疾，無法可治也。</p>

<h1>二十三、小兒丁奚證（附哺露證）</h1>
<p>或問曰：小兒謂何而生丁奚之證也？對曰：亦積久成疳之漸也。皆因飲食過多，致傷脾胃，脾胃虛弱，不能運化飲食，每食漸減，不能生髮氣血，面色慘白，潮熱往來，肚大青筋，手足如筒，顱囟開解，頸項細削而身體黃瘦，俗名丁奚病。多服參苓白朮散，以調脾為主。斯證非一朝一夕可取效，須緩緩圖之。欲求速效，豈可得乎？</p>
<p>或曰：小兒又有哺露證，與此同否？對曰：此證亦由飲食不節，損傷脾胃，脾胃虛弱，飲食便減，形容羸瘦，臟腑之氣不能宣通，遂成寒熱往來，名為哺露。此與丁奚相去不遠，但此證多吐泄，臟氣虛冷而瀉泄無度。如穢汙中有蟲，用殺蟲藥加於養臟藥中服。亦不可求速效之證也。</p>

<h1>二十四、小兒五軟證</h1>
<p>或問曰：小兒五軟，何氣使然？對曰：此證由於父精不足，母血素少，受胎怯弱而成。</p>
<p>或曰：止因父母精血衰弱而成，尚有別證乎？對曰：有因母體血海久冷，服藥強補而成孕者，有受孕後母多疾者，或因父好色貪酒，氣體虛弱而成孕者，或年紀已邁而後見子者，有懷孕不足月而生者，或誤服通經藥，胎不墮而竟成孕者，皆能耗傷真氣，縱然得活，有如陰地淺土，草苗雖見發生，而暢茂結實者少，又如培植樹木，搖動其根而成立者鮮矣。大都小兒怯弱，不耐寒暑，設使成人，多生疾病，胎元虛弱，降生之後，氣血不足，筋骨痿怯，肌膚羸瘦，精神短少，一經六淫所浸，便致頭項手足身軟，是名五軟。</p>
<p>或曰：治當何如？對曰：四物加參、耆、白朮、茯苓、山藥、茯神，或用六味地黃丸，減澤瀉，加鹿茸、牛膝。若投藥不效，終為廢人矣。</p>
<p>或曰：小兒肌膚強壯，並不瘦削，忽然項軟傾倒，何也？對曰：俗名下竄。由於肝腎氣虛，客邪侵襲風府，傳入筋骨，遂成此疾。蓋肝主筋，腎主骨，筋骨痿弱，則項軟垂下無力，又名天柱倒，與五軟相類，治亦相同。</p>
<p>或曰：小兒解顱，因何感受也？對曰：解顱者，囟縫不合，緣腎氣不足。腎主骨而腦為髓海，腎既不足，則腦髓不滿，故不合也，名為解顱。亦用前地黃丸，月餘見效，或有可治者。若服藥不效，亦成廢人。</p>
<p>或曰：有囟腫者，何也？對曰：有陰陽二證，堅硬為陰，紅軟為陽。</p>
<p>或曰：治當何如？對曰：陰證，桔梗、陳皮、縮砂、茴香、乾薑、粉草、人參、白朮；陽證，防風、川芎、大黃、白芷、黃芩、細辛、甘草、薄荷葉、當歸、赤芍。</p>
<p>或曰：有囟陷者，何也？對曰：虛之極也。虛寒則囟陷慢驚，胃寒脾困吐泄者，虛之極，急以人參、附子、白茯苓、白朮、山藥、黃耆、肉桂、甘草治之。</p>
<p>或曰：腦後枕陷何如？對曰：其證尤重於囟陷，亦以囟陷藥治。若不見效，無法可療，此大虛極，百無一生之理。</p>

<h1>二十五、小兒痘證</h1>
<p>或問曰：小兒痘證，宜當何如？對曰：小兒痘候，以脾為主，脾土健旺，自然剋制其水，竟免黑陷之患，便清自調。痘出不快，其病在表，宜當汗之；痘若黑陷，身熱便秘，其病在裡，宜當下之。當下而妄汗之，則必血虛難靨；當汗而誤下之，則必氣陷難出。所以痘候以解表和中為正法也。</p>
<p>或曰：痘證多端，宜何分治也？對曰：發脹之時，眼目緊合，肚腹膨脹，痘瘡黑陷，以土勝水，難治之證。用人大糞焙乾存性，蜜湯調服三匙，日進三服，陷痘可起。若不黑色而只頂陷，氣弱也，人參、黃耆、當歸、白芍、川芎、升麻、薄荷、紫蘇、紅花水煎，和木香汁服。熱悶驚搐者，肝熱盛也，柴胡、龍膽草、葛根、芍藥、黃芩、黃連、連翹、梔子、木賊、石膏、干菊，煎，和辰砂末服。譫語狂躁，心熱甚也，防風、柴胡、黃芩、連翹、梔仁、桔梗、滑石、石膏、生地、牛蒡，煎，和辰砂末服。胸前稠密，心實熱也，黃連、黃芩、黃柏、梔子，加連翹、桔梗、滑石、生地、牛蒡、紫蘇，煎，同硃砂末服。氣極喘滿，肺熱之甚也，柴胡、芩、連、連翹、天麥門冬、桔梗、石膏、桑白皮、款冬花、烏梅，煎，同青黛末服。小便赤澀，腎熱之甚也，苦參、茯苓、瞿麥、黃柏、黃連、黃芩、木通、澤瀉、滑石、石膏，煎，和青皮末服。口渴引飲，胃火太盛也，芩、連、柴胡、白芍、連翹、葛根、天花粉、天麥門冬、滑石、石膏、澤蘭葉。大便秘結，腸熱之極也，芩、連、柴胡、厚朴、枳實、薄荷、硝黃一下。泄痢不禁，腸胃濕熱也，豬苓、澤瀉、青陳、蒼朮、芍藥、川芎、茯苓。吐逆噁心，胃中寒也，白朮、陳皮、縮砂、白豆蔻、丁香、乾薑，煎，和木香汁服，常吃炒米湯為妙。痘濕爛不收，表虛血弱也，白朮、芍藥、人參、黃耆、當歸、熟地、薄荷、牛蒡、萆薢、地骨皮，外用破故紙、黃耆、密陀僧，共末搽上；若五七日不收，內熱之甚，芩、連、柏、梔，加滑石、石膏。身灼如火，不可太用寒涼，豬苓、澤瀉、蒼朮、芍藥、甘草、竹茹、車前、茯苓，煎，和硃砂末服。痘跳入眼，肝經積熱，柴胡、龍膽草、黃芩、黃連、木賊、蔓荊子、甘菊花、梔子仁、桔梗、連翹；涼肺安心，用常服散，絲瓜蒂燒灰存性，為末調服，或煎湯服。痘後風瘡，內服忍冬藤、牡丹皮、地骨皮、薄荷、黃柏、梔子、黃連、黃芩、柴胡，外敷乳香、沒藥、輕粉、兒茶、雄黃、陀僧。痘癰內服治風藥，外貼紫金膏妙。</p>

<h1>二十六、小兒麻疹證</h1>
<p>或問曰：小兒麻疹，宜當何如？對曰：小兒麻疹，以肺為主。肺氣若勝，自能平木，不生血熱、喘急、腸垢之患。便清自調，潮熱拘緊，病在於表，宜當汗之，身體煩躁，大腸垢，小便秘，病在於里，宜當下之。麻疹一出，遍於皮膚，現而復隱，是為在表，受毒尚淺，苟妄汗之，反激熱而沉重。發於皮膚，狀如錦紋，或赤斑結黑，遍體不收，是為裡急，受毒極深，苟誤下之，反氣弱而難收。如氣喘焮熱，腸垢大泄，是為木反勝金，難治之證。麻證初然發表，升麻葛根湯，升麻、葛根、芍藥、甘草。若見紅了，再不可用葛根，恐致表虛，使其難靨不收，熱毒把住，熱甚亦令不出，柴胡、黃芩、荊芥、防風、甘草、牛蒡。清弱血虛，亦令不出，白朮、白芍、人參、當歸、黃耆、甘草、紅花，煎，和木香汁服，外用胡荽擂酒熱搽，遍身發汗，其疹出快。表虛疹出爐灰色，白朮、蒼朮、芍藥、當歸、升麻、紅花，煎，和木香汁服。血虛疹出淡金色，白朮、陳皮、芍藥、川芎、人參、黃耆、升麻、當歸、胡荽、紅花，煎，和木香汁服。血熱之極，疹出太盛，防風、柴胡、黃芩、黃連、連翹、芍藥、犀角、牡丹皮、地骨皮。但凡痘疹出不快而癢塌者，血氣俱虛，以白朮、白芍、人參、黃耆、當歸、熟地、薄荷、白茯苓為主，如有別證，另行加減用之。此其大略也。</p>

<h1>二十七、小兒引經諸藥歌</h1>
<p>藁本引經至頂巔　羌活川芎頭中間</p>
<p>蔓荊引經至兩目　柴胡兩耳兩脅間</p>
<p>竹瀝引經心肺里　桔梗戴藥膈上邊</p>
<p>白芥引經上焦界　黃連引藥中焦安</p>
<p>麥芽引藥走脾胃　青鹽引經到腎源</p>
<p>檳榔直入大腸內　童便引藥到丹田</p>
<p>梔子降火小便出　牛膝虎脛至湧泉</p>
<p>黃柏引經達足下　丹骨梔皮皮膚串</p>
<p>荊芥蘇葉入腠理　狗脊直行兩臂間</p>
<p>桂枝引經至兩手　薄荷獨活周身纏</p>

<h1>二十八、小兒外治諸效方</h1>
<p>張昶曰：膏粱巨室產育嬰孩，多由嬌養信慣，百凡順從，釀成性體熱拗，病時定然不肯服藥，縱逼迫強灌，恐嚇成驚疾，是所利不及其所害。本堂擇家藏外治小兒效方三十有餘，刊附補遺卷末。遇小兒染恙，按方治療，免致他虞，亦活幼之一助也。</p>
<p>治小兒水泄不止。車前子連根科七月七日，採來洗淨，切碎陰乾。每用一兩，幼小用六七錢，裝一布袋中，汲水三四碗，熬四五滾，去袋。試水大溫，濯洗兩足，勿令過踝子骨上，洗至水冷。待一二時泄止，屢驗。誤洗過膝上，令小兒大便不行，戒之。</p>
<p>治小兒下部受濕，兩腿作痛，叫哭不止。取鮮艾葉二兩、蔥頭一握，搗碎，生薑二兩同搗，綿布裹成一包，蘸極熱燒酒搽患處，痛止為度。</p>
<p>治小兒鼻中衄血，日久不止。純黑驢糞，焙乾為末，頭髮燒灰存性等分。每用少許，吹入鼻中立止。如復見血，再吹一次，即止除根。</p>
<p>治小兒痢疾。回生膏，川烏、草烏、大茴、小茴、木鱉仁、川山甲各二兩，大附子一兩切片，香油半斤浸三日，熬枯去渣，入蔥姜炒過，黃丹四兩熬，滴水成朱，攤貼臍上。臍先姜搽，紅白諸痢，半日立止。</p>
<p>治小兒小便不通。取萵苣子搗碎，熱水調入臍中，填滿臍，約半炷香時分即通。</p>
<p>治小兒陰囊忽腫。蟬退五錢，水一茶鍾，煎湯，洗腫處，立消。至腫者，不過洗二次，永不發。</p>
<p>治小兒脫肛。取池塘西北角浮萍，放竹篩中，值水上陰乾為末，搽肛上即收，不過二次除根。</p>
<p>治小兒胎驚，天南星大者一個，童便浸透，火燒令裂，為末，寒水石火煅為末，等分，生薑汁為丸黃豆大，薑湯化哺一丸，乳汁送下，胎驚立除。</p>
<p>治胎娃初覺臍風撮口。白姜蠶直者，炒去絲嘴，為末，每服一二分，生薑汁調抹口內，乳汁帶下，可解以上二方。因月里小兒尚少知識，易於灌哺用此。</p>
<p>小兒臍濕不幹，頭髮燒灰為末，敷之即干。</p>
<p>小兒紅白口瘡，不肯吃搽藥餌，吳茱萸、生南星各一兩為末，醋丸彈弓子大，臨用醋化濃膏，晚上小兒睡著，男左女右，貼湧泉穴，貼上包裹，次日去藥，愈。</p>
<p>男女小兒七八歲或十數歲，紅爛眼梢，蕤仁取霜，官粉煅黃，等分為末，乳汁調稀稠得所，臨睡搽眼角上，次早洗去。至重者，不過搽二次如失。</p>
<p>小兒月發赤爛眼弦，杏仁一個，泡去皮尖，研成泥，銅綠豆大一塊為末，乳汁調勻，重湯煮熟，搽患處三二次，忌吃發物幾日，永不再發。</p>
<p>小兒初生月里，兩眼紅腫，啼哭不止，晚上用生白礬三錢為末，放硬布上，醋調稀稠得所，男左女右，貼腳心湧泉穴包裹，次早眼消去礬。</p>
<p>小兒緊急危症傷寒，不醒人事者，用川烏、草烏、斑蝥、巴豆、細辛、胡椒、白礬、乾薑、麻黃各等分，共為細末，密收，每用一錢半，醋麵糊丸一彈子，趁濕安在兒手心中，拿合紮緊，夾在腿襠中，以被蓋暖，露面出汗為度，醒時去藥，急用黃泥水洗手，無後患。</p>
<p>小兒乳蛾喉痹咽痛等症，蒲黃二錢、青黛一錢、飛白礬五分、雞內金五分，末之，竹筒吹喉中，二次即消。</p>
<p>小兒一切牙疳，熬荊芥水漱淨，上雄黃、銅綠、五倍子炒，各五錢，麝香一字，研為細末，搽患處上畢，漿水漱口上，至疳好為度。</p>
<p>小兒丹毒赤粒遍身，研雄黃、黃連、綠豆粉各三錢，香油調搽患處，粒消為驗。</p>
<p>小兒疥癬坐板瘡，海螵蛸去蓋淨，稱五錢為末，枯白礬一錢、雄黃一錢二分、硫黃一錢另研、蛇床子二錢為末，臼油三錢，入鐵杓中化開，入前末攪勻，候將冷為丸，彈弓子大，熱水洗去甲，火烤，搽三次瘥。</p>
<p>小兒割耳瘡，輕粉、乳香、沒藥、枯礬、官粉煅、紅棗燒糊，等分為末，瘡濕干搽，瘡干油調搽，兩三次即瘥。如瘡頑久不愈，加珍珠煅等分，同研用。</p>
<p>小兒盜汗不止，五倍子為末，唾津調填臍中，紙蓋手帕縛定，次日即止，如不止，再調填一次除根。</p>
<p>小兒耳底腫痛，膿水不幹，五倍子炒黃，白礬、枯龍骨煅，各一錢，麝香一分半、不見火片腦一分另研，通研細，密收，吹耳內，當時止痛，次日膿水立干。</p>
<p>小兒火燒湯燙著，香油五錢，涼水一小酒鍾，梔子末細一錢瓷碗中，銀簪打成稀膏，雞翎掃患處幾次，當時止痛，不退皮起泡，燒湯過兩三日成瘡，五倍子炒，末細重羅，搽瘡上片時，定甲止疼，甲落，痊。</p>
<p>小兒熱溲或熱汗，浸爛腿斑成瘡，腫癢痛楚，官粉一錢煅，蛤粉一錢半、寒水石三錢炒，白石脂、滑石各一錢二分，龍骨、粟米粉各五分，研細，密收，勿令泄氣，用時干散患處，一二次，爛處有皮為度。</p>
<p>小兒壞痘，外剝臭爛，夏月生蛆，折柳枝帶葉鋪地下，將小兒臥上，勿襯衣被，蛆蟲盡出，敗草散塗上愈。</p>
<p>小兒生䵶口瘡，川黃柏刮去粗皮，蜜炙胡黃為細末，搽瘡上一二次，當時止疼，三日落甲。</p>
<p>小兒頭面耳輪生瘡，膿水染流好皮，即便成瘡，俗名黃水瘡，乳母懷抱，皮黏膿水，亦成瘡。嫩黃耆為末，豆粉減半研細，香油調搽，定甲即痊。</p>
<p>小兒頭腦上生瘡，俗名膿黏瘡，厚甲腥穢不痊，海螵蛸、白膠香各一錢，輕粉五分，研極細末，密收，先用清油潤去瘡甲後，摻藥末，只塗一次定甲，如不痊，可再塗一次，平復除根。</p>
<p>小兒破傷手指，入水被妬，腫潰痛楚不愈，生黃丹、蛤蜊粉等分，砂鍋炒至變了色，取些須滲患處，瘡口上須臾妬水逐出，去水即瘥。</p>
<p>小兒蚰蜒誤入耳中，混腦搖頭，憔哭不止，知中其毒，取羊奶汁灌兩耳中，蚰蜒並下，入腦中子種盡皆化為水，永除病根。</p>
<p>治小兒傷寒塗囟法，麝香研一字、牛黃末一字、青黛末一字半、蜈蚣末半字、蠍尾去毒炒末半字、薄荷半字同研勻，熟棗肉和成膏，新綿上塗勻，貼囟上四方，可出一指許，火上炙手熱，頻熨。小兒初生百日裡外，可用此法塗熨，極效。</p>
<p><u>高都後學梁師孟曰叟甫繕書</u></p>
