<header data-type="book">
<h1>長沙證彙</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="田中榮信">田中榮信</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00339/index.html">早稲田大学図書館掃描本</a>；杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015362">國家圖書館掃描本</a>）；收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第七冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫物之為物也。有本乎天者也。有成乎人者也。本乎天者為性能之用。而成乎人者致性外之用也。水雖清冷。火蒸則為熱。金雖堅剛。鑄瀉則如泥。是合和之妙用。而人功之所以並於天地也。蓋醫之於藥。制之於方。則人巧既加。而功用自異。雖知其一藥之能。不審方法之道。得其功也難矣。世之庸醫。曾不留意於茲。預寫病證。漫投藥劑。其驗不見。則為方之咎。屢移其治。譬於射者。射而不中。反修於招也。何功之有哉。夫欲為良醫者。不可不先達方法之道。熟視病證之變。凡病有內同而外異。亦有內異而外同。同不同。異不異。皆證之相似也。故玉人患石之似玉。相劍者患劍之似刀。相似之物。愚者之所大惑。而智者之所加慮也。頃者播之田願仲作一冊子。名曰長沙證匯。蓋此著也。集長沙論中其病狀之相似者。建門分類。各載其主方。欲使無疑惑之患。是田氏之所篤於醫而猷之所以好其志也。書以題此卷首。</p>
<p><u>寬政二年庚戌之春平安吉益猷修夫題</u></p>

<h1>長沙正經證匯序</h1>
<p>夫仲景氏方論。悉古之遺訓。而對證奏效焉。後之業醫者。亦莫不講焉。然其文高古。往往意在文外。得其旨趣最難矣。且雜之以陰陽傳經脈說。或曰補曰能曰寒熱。相協成說。是皆古疾。醫所不論。大失經義矣。遂使後人不知古之方方各有妙。而存者二千有餘年矣。舉世莫能覺悟焉。方今國運隆盛。醫亦益造其道。然多拘因名而隨證案方者特鈔矣。間有知之者。亦不察依證之淺深緩急。而方亦異焉。余深以為憂。於是就仲景氏書輯其方證相對者。分門聚類。始能為編藏之家久矣。近濱天祐奧元純二生請梓以公之世。使一時醫者。知治術妙用。唯在證方相的當。而無復餘論也已。余深好其志。再加釐正以授之。雖未能盡得方意。庶幾乎免捨本求末之譏云爾。</p>
<p><u>日本寬政庚戌春三月田中榮信撰</u></p>

<h1>長沙證匯序</h1>
<p>方法醫本也。古今無有異議焉。但唐宋以還。名家方論方匯陸續鄭重。奚翅千百云也乎從乎。由漢以前。周秦疾醫之道。史傳不載。廑廑乎其方甚深。後世安得廣施之人邪。才有仲景氏遺論傷寒金匱二書而見之而已。今閱此冊。則分證立病門。參照彼二書。錄各方於其下。錯綜銓次。深造其理。因命曰長沙證匯。誠前人所以悉後。今人所以識古。乃本立道生。是作者微旨也。作者則播州暈浦老醫田中願仲矣。予素不解方伎。然唯喜此人有好古之名。而獎就四方之土。敢附一辭云。</p>
<p><u>寬政三年辛亥十月穀旦浪華後學播州奧田元繼識</u></p>

<h1>嘔吐門（附唾涎沫噫噦）</h1>
<p>諸嘔吐谷不得下者。小半夏湯。嘔家本渴。渴者為欲解。今反不渴。心下有支飲故也。同方胃反嘔吐者。大半夏湯。食谷欲嘔者。吳茱萸湯。食已即吐者。大黃甘草湯。嘔而發熱者。小茈胡湯。傷寒五六日。嘔而發熱者。同方。妊娠嘔吐不止。乾薑人參半夏丸。傷寒本自寒下。醫復吐下之。寒格更逆。吐下。若食入口即吐。乾薑黃連黃芩人參湯。太陽與陽明合病。不下利。但嘔者。葛根加半夏湯。太陽中風。汗自出。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯。產後中風續得之。數十日不解。頭微痛惡寒。時時有熱。心下悶。乾嘔。汗出者。同方。</p>
<p>上十二法嘔吐不得食或發熱證</p>
<p>嘔心下痞硬者。大半夏湯。嘔而腸鳴心下痞者。半夏瀉心湯。傷寒中風。醫反下之。其人下利日數十行。穀不化。腹下雷鳴。心下痞硬而滿。乾嘔心煩不得安。甘草瀉心湯。太陽中風。下利嘔逆。表解者。乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞硬。滿引脅下痛。乾嘔。短氣。汗出。不惡寒者。十棗湯。傷寒發熱。汗出不解。心下痞硬。嘔吐而下利者。大茈胡湯。太陽病過經十餘日。反二三下之。後四五日。茈胡證仍在者。先與小茈胡湯。嘔不止。心下急。鬱郁微煩者。大茈胡湯。卒嘔吐。心下痞。膈間有水眩悸者。小半夏加茯苓湯。乾嘔下利者。黃芩人參湯。乾嘔而利者。黃芩加半夏生薑湯。</p>
<p>上九法嘔吐心下痞硬下利證</p>
<p>少陰病吐利。手足厥冷。煩躁欲死者。吳茱萸湯。嘔而脈弱。小便複利。身有微熱見厥者。四逆湯。既吐且利。小便複利。而大汗出。下利清穀。內寒外熱。脈微欲絕者。同方。吐利。汗出發熱惡寒。四肢拘急。手足厥冷者。同方。少陰病飲食入口則吐。心中溫溫欲吐。復不能吐。若膈上有寒飲乾嘔者。不可吐也。急溫之。同方。少陰病下利清穀。裡寒外熱。手足厥逆。或乾嘔。或咽痛。通脈四逆湯。少陰病下利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯。</p>
<p>上七法嘔吐下利厥逆證</p>
<p>腹中寒氣雷鳴切痛。胸脅逆滿。嘔吐者。附子粳米湯。傷寒胸中有熱。胃中有邪氣。腹中痛欲嘔吐者。黃連湯。諸黃腹痛而嘔者。小茈胡湯。</p>
<p>上三法腹痛嘔吐證</p>
<p>胃反吐而渴欲飲水者。茯苓澤瀉湯。吐後渴欲得水而貪飲者。文蛤散。少陰病下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯。嘔吐而病在膈上。後思水者。豬苓散。先渴後嘔。為水停心下。小半夏加茯苓湯。中風發熱六七日不解。而煩。有表裡證。渴欲飲水。水入則吐者。名曰水逆。五苓散。</p>
<p>上六法嘔吐渴證</p>
<p>傷寒六七日。中風往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。小茈胡湯。陽明病脅下硬滿。不大便而嘔。舌上胎者。同方。本（按本字玉函無）太陽病不解。脅下硬滿。乾嘔不能食。往來寒熱。同方。產婦云云。大便堅。嘔不能食者。同方。傷寒十三日不解。胸脅滿而嘔。日晡所發潮熱已而微利。茈胡加芒硝湯。嘔而胸滿者。吳茱萸湯。</p>
<p>上六法胸脅苦痛嘔證</p>
<p>少陰病腹痛小便不利。四肢沉重疼痛。自下利或嘔者。真武湯。溫瘧者身無寒但熱。骨節疼煩。時嘔者。白虎加桂枝湯。傷寒六七日熱。熱微惡寒。支節疼煩。微嘔。心下支結者。茈胡加桂枝湯。</p>
<p>上三法支節疼痛嘔證</p>
<p>傷寒解後。虛羸少氣。氣逆欲吐者。竹葉石膏湯。傷寒云云。得之便厥。咽中干。煩躁吐逆者。甘草乾薑湯。</p>
<p>上二法吐逆證</p>
<p>乾嘔吐涎沫。頭痛者。吳茱萸湯。婦人吐涎沫。小青龍湯。傷寒表不解。心下有水氣。乾嘔發熱而咳或喘者。同方。乾嘔吐逆吐涎沫者。半夏乾薑散。咳逆上氣。時時唾濁。但坐不得眠者。皂莢丸。咳逆倚息不得臥。小青龍湯。時覆冒者。苓桂五味甘草湯。反更咳。胸滿者。苓甘五味姜辛湯。冒者必嘔。嘔者復內。半夏苓甘姜味辛夏湯。假令瘦人臍下悸。吐涎沫而癲眩。此水也。五苓散。蛔蟲之為病。令人吐涎沫。心痛發作有時。甘草粉蜜湯。大病差後喜唾。久不了了者。理中丸。</p>
<p>上九法乾嘔咳吐涎沫證</p>
<p>肺痿吐涎沫者。桂枝去芍藥加皂莢湯。肺痿咳唾。涎沫不止。咽燥而渴者。生薑甘草湯。肺痿吐涎沫而不咳者。甘草乾薑湯。咳而胸滿振寒。咽乾不渴。時出濁唾。腥臭。久久吐膿如米粥者。為肺癰。桔梗湯。同證。桔梗白散。</p>
<p>上五法肺痿肺癰涎沫濁唾證</p>
<p>發汗吐下後。虛煩不得眠。心中懊憹。若嘔者。梔子生薑豉湯。胸滿心下堅。咽中怗怗。如有炙肉。吐之不出。吞之不下者。半夏厚朴湯。心胸中有停痰宿水。自吐出後。心胸間虛氣滿不能食。茯苓飲。鱠食之在心胸間不化。吐復不出。速下除之。橘皮大黃朴硝湯。病人胸中似喘不喘。似嘔不嘔。似噦不噦。徹心中憒憒然無奈。生薑半夏湯。太陽病過經十餘日。心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱郁微煩者。調胃承氣湯。陽明病不吐不下。心煩者。同方。</p>
<p>上七法病在心胸中欲嘔吐不出證</p>
<p>傷寒發汗。若吐若下。解後心下痞硬。噫氣不除者。旋覆代赭石湯。傷寒汗出解之後。胃中不和。心下痞硬。干（按干字下脫嘔字。）噫食臭。脅下有水氣。腹中雷鳴下利者。生薑瀉心湯。</p>
<p>上二法心下痞硬噯證</p>
<p>乾嘔噦若手足厥者。橘皮湯。噦逆者。橘皮竹茹湯。黃疸病。小便色不變。欲自利。腹滿而喘噦者。小半夏湯。大便不通。噦數讝語者。小承氣湯。</p>
<p>上四法噦逆證</p>

<h1>大便不通門（附硬難）</h1>
<p>中惡心痛腹脹。大便不通者。走馬湯。少陰病六七日。腹脹不大便者。急下之。大承氣湯。大下後六七日不大便。煩不解。腹滿痛者。此有燥屎也。同方。陽明病脈遲。雖汗出不惡寒者。其身必重。短氣腹滿而喘有潮熱者。可攻裡。大承氣湯。發熱惡寒。若腹大滿不通者。小承氣湯。</p>
<p>上四法大便不通腹脹滿證</p>
<p>傷寒若吐若下後。不解。不大便五六日。上至十餘曰。日晡所發潮熱。不惡寒。獨語如見鬼狀。但發熱讝語者。大承氣湯。陽明病讝語有潮熱。反不能食者。胃中必有爆屎也。同方。二陽並病。太陽證罷。但發潮熱。手足漐漐汗出。大便難而讝語者。下之則愈。同方。產後七八日。無太陽證。少腹堅痛。此惡露不盡。不大便。煩躁發熱者。不食。食則讝語。同方。傷寒六七日。目中不了了。睛不和。無表裡（按里字衍）證。大便難。身微熱者。同方。病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。同方。得病二三日云云。須小便利。屎定硬。乃可攻之。同方。陽明病潮熱。大便微硬者。可與大承氣湯。不硬者。不與之。陽明病其人多汗。以津液外出。胃中燥。大便必硬。硬則讝語。小承氣湯。大便不通。噦數讝語者。同方。太陽病若吐若下若發汗。微煩。小便數。大便因硬者。同方。傷寒不大便六七日。頭痛有熱者。同方。</p>
<p>上十二法不大便讝語有燥屎證</p>
<p>傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。若其人大便鞭。小便自利者。桂枝附子去桂加朮湯。陽明病自汗出。若發汗。小便自利者硬此為津液內竭。雖硬不可攻之。當須自欲大便。宜蜜煎導而通之。若土瓜根及與大豬膽汁。皆可為導。太陽病云云。小便數者。大便必硬。不更衣十日。無所苦也。渴欲飲水者。五苓散。大便則難。其脾為約。麻仁丸。痛而閉者。厚朴三物湯。</p>
<p>上五法不大便鞭難證</p>
<p>陽明病脅下硬滿。不大便。而嘔。舌上白胎者。小茈胡湯。產婦云云。大便堅嘔不能食者。同方。</p>
<p>上二法不大便嘔證</p>
<p>陽明證。其人喜忘者。必有畜血。屎雖硬。大便反易。其色必黑。抵當湯。病人無表裡證。發熱七八日。雖脈浮數者。可下之。不大便者。有瘀血。同方。</p>
<p>上二法大便鞭有瘀血證</p>

<h1>小便不利門（附難自利自調）</h1>
<p>小便不利者。茯苓戎鹽湯。小便不利者。蒲灰散。小便不利者。滑石白魚散。服桂枝湯或下之。仍頭項強痛。翕翕發熱無汗。心下滿。微痛。小便不利者。桂枝去桂加苓朮湯。病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。大承氣湯。少陰病二三日至四五日。腹痛。小便不利。下利便膿血者。桃花湯。虛勞腰痛。小腹拘急。小便不利者。八味丸。</p>
<p>上七法小便不利或腹痛證</p>
<p>傷寒表不解。心下有水氣。乾嘔發熱而咳。或小便不利。少腹滿或喘者。小青龍湯。風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。桂枝甘草附子湯。妊娠有水氣。身重。小便不利。灑淅惡寒。起即頭眩者。葵子茯苓散。少陰病二三日不已。至四五日。腹痛。小便不利。四肢沉重。疼痛自下利者。真武湯。</p>
<p>上四法小便不利有水氣證</p>
<p>黃疸腹滿。小便不利而赤。自汗出。大黃硝石湯。里水者一身面目黃腫。其脈沉。小便不利。故令病水。越婢加朮湯。黃汗之病。兩脛自冷。又從腰以上必汗出。下無汗。腰髖弛痛。如有物在皮中狀。劇者不能食。身疼重。煩躁。小便不利。桂枝加黃耆湯。傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯。陽明病發熱汗出。此為熱越不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴引水漿者。此為瘀熱在裡。身必發黃。同方。太陽病身黃脈沉結。少腹硬。小便不利者。為無血也。小便自利。其人如狂者。血證諦也。抵當湯。男子黃。小便自利。小建中湯。黃疸病。小便色不變。欲自利。腹滿而喘。不可除熱。除熱必噦。噦者小半夏湯。</p>
<p>上八法小便不利或自利黃疸證</p>
<p>傷寒五六日。中風往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或心下悸。小便不利者。小茈胡湯。傷寒五六日。已發汗而復下之。胸脅滿。微結。小便不利。渴而不嘔。茈胡桂薑湯。傷寒八九日。下之。胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。茈胡加龍骨牡蠣湯。</p>
<p>上三法胸脅苦滿小便不利證</p>
<p>太陽病發汗後。若脈浮。小便不利。微熱消渴者。五苓散。本以下之。故心下痞。與瀉心湯。痞不解。渴而口躁煩。小便不利者。五苓散。陽明病脈浮而緊。咽燥口苦。腹滿而喘。若脈浮發熱。渴欲飲水。小便不利者。豬苓湯。小便不利者。有水氣。其人若渴者。栝蔞瞿麥丸。</p>
<p>上四法小便不利渴證</p>
<p>太陽病發汗。遂漏不止。其人惡風。小便難。四肢微急。難屈伸者。桂枝加附子湯。咳逆倚息不得臥云云。手足厥逆。氣從小腹上衝胸咽。手足痹。其面翕然如醉狀。因復下流陰股。小便難。時覆冒者。苓桂五味甘草湯。妊娠小便難。飲食如故者。歸母苦參丸。婦人少腹滿如敦狀。小便微難而不渴。生後者。此為水與血俱結在血室也。大黃甘遂湯。</p>
<p>上四法小便難證</p>
<p>傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。若其人大便鞭。小便自利者。桂枝附子去桂加朮湯。陽明病自汗出。若發汗。小便自利者。此為津液內竭。雖硬不可攻之。當須自欲大便。宜蜜煎導而通之。大豬膽汁方。及土瓜根方。若腎著之病。其人身體重。腰中冷。如坐水中。形如水狀。反不渴。小便自利。飲食如故。苓薑朮甘湯。太陽病六七日表證仍在。脈微而沉。反不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。抵當湯。</p>
<p>上四法小便</p>
<p>自利證太陽病若吐若下。若發汗微煩。小便數。大便因硬者。小承氣湯。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急云云。甘草乾薑湯。芍藥甘草湯。肺痿吐涎沫而不咳者。其人不渴。必遺尿。小便數者。甘草乾薑湯。</p>
<p>上三法小便數證</p>
<p>夫短氣有微飲。當從小便去之。八味丸。婦人病飲食如故。煩熱不得臥。而反倚息者。但利小便則愈。同方。夫短氣有微飲。當從小便去之。苓桂朮甘湯。諸病黃家。但利其小便。假令脈浮。當以汗解之。桂枝加黃耆湯。</p>
<p>上四法當利小便證</p>
<p>太陽病無汗。而小便反少。氣上衝胸。口噤不得語。欲作剛痙。葛根湯。陽明病發潮熱。大便溏。小便自可。胸脅滿不去者。小茈胡湯。傷寒不大便六七日。頭痛有熱者。與承氣湯。其小便清者。知不在裡仍在表也。桂枝湯。腸癰者小腹腫。按之即痛。如淋。小便自調。時時發熱。自汗出。復惡寒。大黃牡丹湯。</p>
<p>上四法小便自可證</p>
<p>嘔而脈弱。小便複利。身在微熱見厥者。四逆湯。既吐且利。小便複利。而大汗出。下利清穀。同方。傷寒有熱。少腹滿。應小便不利。今反利者。為有血也。抵當丸。男子消渴。小便反多。以飲一斗小便一斗。八味丸。</p>
<p>上四法小便複利證</p>

<h1>上衝門（附上氣氣逆）</h1>
<p>太陽病下之後。其氣上衝者。可與此方。桂枝湯。燒針令其汗。針處被寒。核起而赤者。必發奔豚。氣從少腹上衝心者。桂枝加桂湯。傷寒若吐若下後。心下厥滿。氣上衝胸。起則頭眩。苓桂朮甘湯。咳逆云云。手足厥逆。氣從小腹上衝胸咽。手足痹。其面翕然如醉狀。因復下流陰股。小便難。時覆冒者。苓桂五味甘草湯。治其氣衝。若面熱如醉狀。此為胃熱上衝熏其面。加大黃以利之。苓乾薑味辛夏仁黃湯。心胸中大寒痛。嘔不能飲食。腹中寒上衝。皮起出見有頭足。上下痛而不可觸近者。大建中湯。太陽病無汗。而小便反少。氣上衝胸。口噤不得語。葛根湯。病如桂枝證。頭不痛。項不強。胸中痞硬。氣上衝咽喉不得息者。瓜蒂散。</p>
<p>上七法上衝心胸證</p>
<p>大逆上氣。咽喉不利者。麥門冬湯。咳逆上氣。時時唾濁。但坐不得眠者。皂莢丸。咳而上氣。此為肺脹。其人喘。目如脫狀。越婢加半夏湯。肺癰胸滿脹。一身面目浮腫。鼻塞。清涕出。不聞香臭酸辛。咳逆上氣。喘鳴迫塞。葶藶大棗湯。心下痞。諸逆心懸痛者。桂枝枳實生薑湯。傷寒解後。虛羸少氣。氣逆欲吐者。竹葉石膏湯。胸痹心中痞。留氣結在胸。胸滿。脅下逆搶心者。人參湯。同證。枳實薤白桂枝湯。</p>
<p>上八法上氣氣逆證</p>

<h1>腹痛門（附滿脹少腹滿痛）</h1>
<p>心腹諸卒暴百病。若中惡客忤。心腹脹滿。卒痛如錐刺。氣急口噤。停屍卒死者。三物備急丸。心腹卒中痛者。茈胡桂枝湯。治中惡心痛。腹脹大便不通。走馬湯。</p>
<p>上三法心腹卒痛證</p>
<p>腹中寒氣雷鳴切痛。胸脅逆滿。嘔吐者。附子粳米湯。心胸中大寒痛嘔。不能飲食。腹中寒上衝皮起出見有頭足。上下痛而不可觸近。大建中湯。傷寒五六日。中風往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或腹中痛者。小茈胡湯。諸黃腹痛而嘔者。同方。傷寒胸中有熱。胃中有邪氣。腹中痛欲嘔吐者。黃連湯。</p>
<p>上五法腹中痛嘔吐證</p>
<p>婦人懷妊。腹中㽲痛。當歸芍藥散。婦人腹中諸疾痛者。同方。婦人有漏下。或妊娠下血。若腹中痛者。芎歸膠艾湯。產後腹痛煩滿不得臥。枳實芍藥散。產後腹痛。以枳實芍藥散不愈者。此為腹中有乾血著臍下。瘀血湯。</p>
<p>上五法婦人腹中痛證</p>
<p>寒疝腹中痛。逆冷。手足不仁。若身疼痛。灸刺諸藥不能治。烏頭桂枝湯。腹痛云云。寒疝繞臍苦痛。發則自汗出。手足厥冷。大烏頭煎。寒疝腹中絞痛。拘急不得轉側。發作有時。使人陰縮。手足厥逆。烏頭湯。寒疝腹中痛及脅痛。裡急者。當歸生薑羊肉湯。產後腹中㽲痛。並治寒疝。同方。</p>
<p>上五法寒疝腹中痛證</p>
<p>傷寒腹中急痛者。先與小建中湯。不差者。與小茈胡湯。虛勞裡急悸衄。腹中痛。夢失精。四肢痠痛。手足煩熱。咽乾口燥。小建中湯。婦人。腹中痛。同方。治婦人產後虛羸不足。腹中刺痛不止。吸吸少氣。或苦少腹中急摩。痛引腰背。不能食飲。當歸建中湯。</p>
<p>上四法腹中裡急痛證</p>
<p>少陰病至四五日。腹痛。小便不利。四肢沉重。疼痛自下利者。真武湯。少陰病至四五日。腹痛小便不利。下利不止。便膿血者。桃花湯。</p>
<p>上二法腹痛小便不利證</p>
<p>發汗不解。腹滿痛者。急下之。大承氣湯。病腹中滿痛者。此為實也。同方。大下後六七日不大便。煩不解。腹滿痛者。此有燥屎也。同方。本太陽病。醫反下之。因爾腹滿時痛者。桂枝加芍藥湯。大實痛者。桂枝加大黃湯。痛而閉者。厚朴三物湯。陽明中風。脈弦浮大而短氣。腹都滿。脅下及心痛。小茈胡湯。</p>
<p>上七法腹滿痛證</p>
<p>腹滿不減。減不足言。大承氣湯。少陰病六七日。腹脹不大便者。同方。陽明病脈遲。雖汗出不惡寒者。其身必重。短氣腹滿而喘。有潮熱者。此外欲解。可攻裡也。同方。若腹大滿不通者。可與小承氣湯。病腹滿發熱十日。脈浮而數。飲食如故。厚朴七物湯。傷寒吐後。腹脹滿者。調胃承氣湯。太陽病過經十餘日。心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱郁微煩。同方。發汗後腹脹滿者。樸姜甘半參湯。腹滿口舌乾燥。此膈間有水氣。己椒藶黃丸。二陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。白虎湯。傷寒下後。心煩腹滿。臥起不安者。梔子厚朴湯。下利腹脹滿。身體疼痛者。先溫里。乃攻其表。溫里四逆湯。攻表桂枝湯。陽明病脈浮而聚。咽燥口苦。腹滿而喘。發熱汗出。不惡寒。反惡熱。身重。心中懊憹。舌上胎者。梔子豉湯。</p>
<p>上十二法腹脹滿或不大便證</p>
<p>黃疸腹滿。小便不利而赤。自汗出。大黃硝石湯。傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯。黃疸病小便色不變。欲自利。腹滿而喘噦者。小半夏湯。黃家日晡所發熱。而反惡寒。膀胱急。小腹滿如水狀。大便必黑時溏者。消礬散。</p>
<p>上四法腹滿黃疸證</p>
<p>太陽病不解。熱結膀胱。其人如狂血自下。下者愈。但少腹急結者。桃核承氣湯。虛勞腰痛。小腹拘急。小便不利者。八味丸。腳氣上入少腹不仁者。同方。夫失精家小腹弦急。陰頭寒目眩發落。桂枝加龍骨牡蠣湯。天雄散。</p>
<p>上四法小腹拘急證</p>
<p>太陽病重發汗而復下之。不大便五六日。舌上燥而渴。日晡所小有潮熱。從心下至少腹硬滿而痛。不可近者。大陷胸湯。傷寒有熱。少腹滿。應小便不利。今反利者。為有血也。抵當丸。太陽病六七日。表證仍在。脈微而沉。不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。抵當湯。太陽病身黃。脈沉結。少腹硬。小便不利者。為無血也。小便自利。其人如狂者。血證諦也。同方。產後七八日。無太陽證。少腹堅痛。此惡露不盡。不大便。煩躁發熱云云。大承氣湯。帶下經水不利。少腹滿痛。經一月再見者。土瓜根散。婦人少腹滿如敦狀。小便微難而不渴生後者。此為水與血俱結在血室也。大黃甘遂湯。腸癰者小腹腫痞。按之即痛。如淋。小便自調。時時發熱。自汗出。復惡寒。大黃牡丹湯。傷寒表不解。心下有水氣。乾嘔發熱而咳。或小便不利。小腹滿或喘者。小青龍湯。</p>
<p>上九法少腹滿痛有瘀血證</p>

<h1>結胸門（附胸痹）</h1>
<p>傷寒六七日。結胸熱實。脈沉而緊。心下痛。按之石硬者。大陷胸湯。傷寒五六日。嘔而發熱者云云。若心下滿而硬痛者。此為結胸也。同方。太陽病脈浮而動數。膈內拒痛。短氣躁煩。心中懊憹。心下因硬。則為結胸。同方。傷寒十餘日。熱結在裡。復往來寒熱者。與大茈胡湯。但結胸無大熱者。此為水結在胸脅也。同方。結胸者項亦強。如柔痙狀。下之則和。大陷胸丸。小結胸病。正在心下。按之則痛。小陷胸湯。病在陽。應以汗解之云云。寒實結胸。無熱證者。同方。白散。病人手足厥冷。脈乍緊者。邪結在胸中。心中滿而煩。飢不能食者。當須吐之。瓜蒂散。病如桂枝證。頭不痛。項不強。胸中痞硬。氣上衝嘔喉不得息者。同方。</p>
<p>上九法結胸證</p>
<p>胸痹。胸中氣塞短氣者。茯苓杏仁甘草湯。胸痹。胸中氣塞短氣者。橘皮枳實生薑湯。胸痹。心中痞。留氣結在胸。胸滿。脅下逆搶心。枳實薤白桂枝湯。同證。人參湯。胸痹緩急者。薏苡附子散。胸痹不得臥。心痛徹背者。栝蔞薤白半夏湯。胸痹之病。喘息咳唾。胸者痛。短氣者。栝蔞薤白白酒湯。</p>
<p>上七法胸痹證</p>

<h1>心下痞硬門（附痞心中痞堅滿）</h1>
<p>傷寒中風。醫反下之。其人下利。日數十行。穀不化。腹中雷鳴。心下痞硬而滿。乾嘔心煩不得安。甘草瀉心湯。傷寒汗出解之後。胃中不和。心下痞硬。乾嘔噫食臭。脅下有水氣。腹中雷鳴下利者。生薑瀉心湯。嘔而腸鳴。心下痞者。半夏瀉心湯。傷寒五六日。嘔而發熱。茈胡證具云云。若心下滿而硬痛者。此為結胸也。大陷胸湯主之。但滿而不痛者為痞。半夏瀉心湯。嘔心下痞硬者。大半夏湯。傷寒發汗。若吐若下。解後心下痞硬。噫氣不除者。旋覆花代赭石湯。太陽病外證未除。而數下之。遂協熱而利。利下不止。心下痞硬者。桂枝人參湯。傷寒發熱。汗出不解。心下痞硬。嘔吐而下利者。大茈胡湯。傷寒服湯藥下利不止。心下痞硬。服瀉心湯已。復以他藥下之。利不止。醫以理中與之。利益甚。赤石脂禹餘糧湯。太陽中風。下利嘔逆。表解者乃可攻之。其人漐漐汗出。發作有時。頭痛心下痞硬。滿引脅下痛。乾嘔短氣。汗出不惡寒者。十棗湯。</p>
<p>上十法心下痞硬嘔下利證</p>
<p>卒嘔吐。心下痞。膈間有水。眩悸者。小半夏加茯苓湯。心下痞。按之濡者。大黃黃連瀉心湯。傷寒大下後。復發汗。心下痞。惡寒者。表未解也。表解乃可攻痞。攻痞瀉心湯。攻表桂枝湯。婦人吐涎沫。醫反下之。心下即痞。當先治其吐涎沫。小青龍湯主之。涎沫止乃治痞。瀉心湯本以下之。故心下痞。與瀉心湯。痞不解。其人渴而口躁煩。小便不利者。五苓散。心下痞而復惡寒汗出者。附子瀉心腸。</p>
<p>上六法心下痞證</p>
<p>膈間支飲。其人喘滿。心下痞堅。面色黧黑。其脈沉緊。得之數十日。醫吐下之不愈者。木防己湯。木防己去石膏加茯苓芒硝湯。心下堅大如盤。邊如旋杯。水飲所作。桂薑棗草黃辛附湯。同證。枳朮湯。太陽病脈浮而動數。短氣躁煩。心中懊憹。心下因硬。則為結胸。大陷胸湯。傷寒五六日。嘔而發熱云云。若心下滿而硬痛者。此為結胸也。同方。傷寒六七日。結胸熱實。脈沉而緊。心下痛。按之石硬者。同方。太陽病重發汗而復下之。不大便五六日。舌上燥而渴。日晡所小有潮熱。從心下至少腹硬滿而痛不可近。同方。病者脈伏。其人慾自利。利反快。雖利心下續堅滿。甘遂半夏湯。下利按之心下硬者。急下之。大承氣湯。</p>
<p>上九法心下堅硬證</p>
<p>按之心下滿痛者。大茈胡湯。服桂枝湯或下之。仍頭項強痛。翕翕發熱。無汗。心下滿微痛。小便不利者。桂枝去桂加茯苓朮湯。傷寒若吐若下後。心下逆滿。氣上衝胸。起則頭眩。苓桂朮甘湯。心下有痰飲。胸脅支滿。目眩者。同方。心痛徹背。背痛徹心。赤丸。</p>
<p>上五法心下滿痛證</p>
<p>胸痹心中痞。留氣結在胸。胸滿脅下逆搶心。人參湯。同證。枳實薤白桂枝湯。心中痞。諸逆心懸痛者。桂枝枳實生薑湯。傷寒五六日大下之後。身熱不去。心中結痛者。梔子豉湯。</p>
<p>上四法下痞或痛證</p>

<h1>胸脅苦滿門（附痛）</h1>
<p>傷寒五六日。中風往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔者。小茈胡湯。太陽病十日以去。脈浮細而嗜臥者。外已解也。設胸滿脅痛者。與茈胡湯。六脈俱浮者。與麻黃湯。陽明病發潮熱。大便溏。小便自可。胸脅滿不去者。小茈胡湯。本太陽病不解。脅下硬滿。乾嘔不能食。往來寒熱。同方。傷寒四五日。身熱惡風。頸項強。脅下滿。手足溫而遏者。同方。陽明病脅下硬滿。不大便而嘔。舌上白胎者。同方。傷寒十三日不解。胸脅滿而嘔。日晡所發潮熱已而微利云云。先宜小茈胡湯以解外。後茈胡加芒硝湯。傷寒五六日已發汗而復下之。胸脅滿。微結。小便不利。渴而不嘔。茈胡桂薑湯。腹中寒氣雷鳴。切痛。胸脅逆滿。嘔吐者。附子粳米湯。心下有痰飲。胸脅支滿目眩者。苓桂朮甘湯。</p>
<p>上十法胸脅滿或嘔證</p>
<p>支飲胸滿者。厚朴大黃湯。嘔而胸滿者。吳茱萸湯。太陽病下之後。脈促胸滿者。若惡寒者。加附子桂枝去芍藥湯。咳而倚息云云。而反更咳胸滿者。苓甘五味姜辛湯。咳而胸滿振寒。脈數咽乾。不渴。時出濁唾腥臭。久久吐膿。寒如米粥者為肺癰。桔梗湯。同證。桔梗白散。太陽與陽明合病。喘胸滿者。麻黃湯。傷寒八九日下之。胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。茈胡加龍骨牡蠣湯。肺癰胸滿脹。一身面目浮腫。鼻塞。清涕出。不聞香臭。酸辛咳逆。上氣喘鳴迫塞。葶藶大棗瀉肺湯。</p>
<p>上九法胸滿或咳證</p>
<p>夫有支飲家。咳煩胸中痛者。十棗湯。咳而引脅下痛者。同方。太陽中風。下利嘔逆云云。頭痛。心下痞硬。滿引脅下痛。乾嘔短氣。汗出不惡寒者。同方。太陽病過經十餘日。心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱郁微煩者。調胃承氣湯。咳有微熱。煩滿。胸中甲錯。是為肺癰。葦莖湯。發汗若下之。而煩熱胸中窒者。梔子豉湯。病人胸中似喘不喘。似嘔不嘔。似噦不噦。徹心中憒憒然無奈。生薑半夏湯。心胸中大寒痛。嘔不能飲食。腹中寒上衝皮起出見有頭足。上下痛而不可觸近者。大建中湯。心胸中有停痰宿水。自吐出水後。心胸間虛氣滿不能食者。茯苓飲。脅下偏痛發熱。其脈緊弦者。大黃附子湯。病如桂枝證。頭不痛。項不強。胸中痞硬。氣上衝咽喉不得息者。當吐之。瓜蒂散。</p>
<p>上十一法胸中痛或脅下痛證</p>

<h1>心下悸門（附臍下悸）</h1>
<p>心下悸者。半夏麻黃丸。傷寒厥而心下悸者。茯苓甘草湯。發汗過多。其人叉手自冒心。心下悸欲得按者。桂枝甘草湯。太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩。身瞤動。振振欲擗地者。真武湯。傷寒五六日。中風。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或心下悸。小便不利。小茈胡湯。卒嘔吐。心下痞膈。間有水眩悸者。小半夏加茯苓湯</p>
<p>上六法心下悸證</p>
<p>傷寒二三日。心中悸而煩者。小建中湯。虛勞裡急悸衄。腹中痛。夢失精。四肢痠痛。手足煩熱。咽乾口燥。同方。發汗後。其人臍下悸者。欲作奔豚。苓桂甘棗湯。假令瘦人臍下有悸。吐涎沫而癲眩。此水也。五苓散。</p>
<p>上四法心中悸或臍下悸證</p>

<h1>惡寒門（附惡風往來寒熱振寒）</h1>
<p>太陽中風。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯。太陽病頭痛發熱。汗出惡風者。同方。陽明病脈遲汗出。多微惡寒者。同方。產後中風。續得之數十日不解。頭微痛。惡寒。時時有熱。心下悶。乾嘔。汗出者。同方。傷寒大下後。復發汗。心下痞。惡寒者。表未解也。不可攻痞。當先解表。表解乃可攻痞。解表桂枝湯。攻痞大黃黃連瀉心湯。心下痞而復惡寒汗出者。附子瀉心湯。太陽病脈浮而動數。頭痛發熱。微盜汗出。而反惡寒者。表未解也。醫反下之。膈內拒痛。短氣躁煩。心中懊憹。心下因硬。則為結胸。大陷胸湯。陽明病脈遲。雖汗出不惡寒者云云。大承氣湯主之。若汗多微惡寒者。外未解也。若腹大滿不通者。小承氣湯。腸癰者。小腹腫痞。按之即痛。如淋。小便自調。時時發熱。自汗出。復惡寒也。大黃牡丹湯。</p>
<p>上九法惡寒發熱汗出證</p>
<p>太陽中風。脈緊。發熱惡寒。身疼痛。不汗出而煩躁。大青龍湯。傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。外證未去者。茈胡加桂枝湯。太陽病發熱惡寒。熱多寒少。脈微弱者。桂枝二越婢一湯。太陽病得之七八日。如瘧狀。發熱惡寒。熱多寒少。其人不嘔。清便欲自可。一日二三度。發脈微緩者。為欲愈也。桂枝麻黃各半湯。</p>
<p>上四法惡寒發熱不汗出證</p>
<p>大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。四逆湯。吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。同方。傷寒脈浮自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯。欲攻其表。此誤也。得之便厥。咽中干。煩躁吐厥者。甘草乾薑湯。發汗病不解。反惡寒者。芍藥甘草附子湯。惡寒脈微而複利。四逆加人參湯。太陽病下之後。脈促胸滿而若惡寒者。桂枝去芍藥加附子湯。少陰病得之一二日。口中和。其背惡寒者。當灸之。附子湯。</p>
<p>上七法汗吐下後惡寒或厥冷證</p>
<p>黃家日晡所發熱而反惡寒。此為女勞得之。膀胱急。少腹滿云云。消礬散。谷疸之為病。寒熱不食。食則頭眩。心胸不安。久久發黃。茵陳蒿湯。里水者一身面目黃腫。其脈沉。小便不利。惡風者。越婢加朮湯。</p>
<p>上三法惡寒發黃證</p>
<p>太陽病項背強𠘧𠘧。反汗出惡風者。桂枝加葛根湯。太陽病發汗遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯。風濕相搏。骨節煩疼掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。身微腫者。桂枝甘草附子湯。風濕脈浮身重。汗出惡風者。防己黃耆湯。妊娠有水氣。身重。小便不利。灑淅惡寒。起即頭眩。葵子茯苓散。</p>
<p>上五法汗出惡風證</p>
<p>太陽病頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯。太陽病項背強𠘧𠘧。無汗惡風者。葛根湯。</p>
<p>上二法無汗惡風證</p>
<p>太陽中熱者暍是也。汗出惡寒身熱而渴者。白虎加人參湯。傷寒無大熱。口燥渴。心煩背微惡寒者。同方。傷寒病若吐若下後。七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。同方</p>
<p>上三法惡寒渴證</p>
<p>傷寒五六日。中風。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。小茈胡湯。傷寒四五日。身熱惡風。頸項強。脅下滿。手足溫而渴者。同方。婦人中風。七八日。續得寒熱。發作有時。經水適斷者。此為熱入血室。同方。本太陽病不解。脅下硬滿。乾嘔不能食。往來寒熱者。同方。傷寒五六日。已發汗而復下之。胸脅滿微結。小便不利。渴而不嘔。但頭汗出。往來寒熱心煩者。茈胡桂薑湯。瘧寒多微有熱。或但寒不熱者。同方。傷寒十餘日。熱結在裡。復往來寒熱者。大茈胡湯。瘧多寒者名牡瘧。蜀漆散。牡瘧牡蠣湯。</p>
<p>上九法寒熱往來及瘧證</p>
<p>咳而胸滿振寒。咽乾不渴。時出濁唾腥臭。久久吐膿。寒如米粥者。桔梗湯。同證。桔梗白散。</p>
<p>上二法振寒證</p>

<h1>厥冷門（附厥逆）</h1>
<p>吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。四逆湯。大汗出。大下利而厥冷者。同方。嘔而脈弱。小便複利。身有微熱見厥者。同方。大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。同方。下利清穀。裡寒外熱。汗出而厥者。通脈四逆湯。少陰病下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。同方。吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯。少陰病下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯。少陰病吐利手足厥冷。煩躁欲死者。吳茱萸湯。</p>
<p>上九法手足厥冷吐利證</p>
<p>寒疝腹中絞痛。拘急不得轉側。發作有時。使人陰縮。手足厥逆。烏頭湯。寒疝繞臍苦痛。發則自汗出。手足厥冷。其脈沉弦者。大烏頭煎。寒疝腹中痛。逆冷。手足不仁。若身疼痛。烏頭桂枝湯。寒氣厥逆者。赤丸。</p>
<p>上四法寒疝厥逆證</p>
<p>病人手足厥冷。脈乍緊者邪結在胸中。心中滿而煩。瓜蒂散。乾嘔噦若手足厥者。橘皮湯。咳逆云云。手足厥逆。氣從小腹上衝胸咽。手足痹。其面翕然如醉狀。因復下流陰股。小便難。時覆冒者。苓桂五味甘草湯。傷寒脈滑厥者。里有熱也。白虎湯。手足厥寒。脈細欲絕者。當歸四逆湯。</p>
<p>上五法手足厥冷證</p>
<p>傷寒厥而心下悸者。茯苓甘草湯。傷寒脈浮。自汗出。小便數。心煩微惡寒云云。得之便厥。咽中干。煩躁吐逆者。甘草乾薑湯。厥而皮水者。蒲灰散。蛔厥者。烏梅丸。少陰病飲食入口則吐。心中溫溫欲吐。復不能吐。始得之手足寒。脈弦遲者云云。若膈上有寒飲。乾嘔者。四逆湯。少陰病身體痛。手足寒。骨節痛。脈沉者。附子湯。</p>
<p>上六法厥或手足寒證</p>

<h1>煩門</h1>
<p>太陽病初服桂枝湯。反煩不解者。先刺風池風府。卻與桂枝湯則愈。桂枝湯。傷寒發汗解。半日許復煩者。同方。傷寒八九日下之。胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。茈胡加龍骨牡蠣湯。傷寒二三日。心中悸而煩者。小建中湯。虛勞裡急悸衄。腹中痛。夢失精。四肢痠痛。手足煩熱。咽乾口燥者。同方。少陰病下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯。夫有支飲家。咳煩。胸中痛者。十棗湯。咳有微熱煩滿。胸中甲錯。是為肺癰。葦莖湯。</p>
<p>上八法煩證</p>
<p>火逆下之。因燒針煩躁者。桂枝甘草龍骨牡蠣湯。太陽中風。脈緊發熱惡寒。身疼痛。不汗出而煩躁。大青龍湯。發汗若下之。病仍不解。煩躁者。茯苓四逆湯。少陰病吐利。手足厥冷煩躁者。吳茱萸湯。黃汗之病云云。劇者不能食。身疼重煩躁。小便不利。桂枝加黃耆湯。得病二三日。脈弱無太陽茈胡證。煩躁心下硬云云。小承氣湯。大承氣湯。產後七八日。無太陽證。少腹堅痛。此惡露不盡。不大便。煩躁發熱云云。同方。大下後六七日。不大便。煩不解。腹滿痛者。同方。陽明病下之。心中懊憹而煩。胃中有燥屎者。同方。太陽病脈浮而數。膈內拒痛。短氣躁煩。心中懊憹。心下因硬則為結胸。大陷胸湯。</p>
<p>上十法煩躁證</p>
<p>虛勞虛煩不得眠者。酸棗仁湯。發汗吐下後虛煩不得眠。若劇者。必反覆顛倒。心中懊憹。梔子豉湯。下利後更煩。按之心中濡者。為虛煩。同方。下之後復發汗。晝日煩躁不得眠。夜而安靜。不嘔不渴。無表證。乾薑附子湯。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急云云。得之便厥。咽中干。煩躁吐逆者。甘草乾薑湯。產後腹痛。煩滿不得臥者。枳實芍藥散。婦人病飲食如故。煩熱不得臥。而反倚息者。但利小便則愈。八味丸。</p>
<p>上七法煩躁不得眠證</p>
<p>傷寒下後。心煩腹滿。臥起不安者。梔子厚朴湯。少陰病下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯。少陰病得之二三日以上。心中煩不得臥者。黃連阿膠湯。陽明病不吐不下。心煩者。調胃承氣湯。病人手足厥冷。脈乍緊者。邪結於胸中。心中滿而煩。飢不能食者。瓜蒂散。傷寒中風。醫反下之。其人下利日數十行。穀不化。腹中雷鳴。心下痞硬而滿。乾嘔。心煩不得安。甘草瀉心湯。傷寒五六日。已發汗而復下之。胸脅滿。微結。小便不利。渴而不嘔。但頭汗出。往來寒熱。心煩者。茈胡桂薑湯。少陰病下利咽痛。胸滿心煩者。豬膚湯。傷寒五六日。中風往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或胸中煩而不嘔者。小茈胡湯。</p>
<p>上九法心煩證</p>
<p>服桂枝湯大汗出後。大煩渴不解。脈洪大者。白虎加人參湯。傷寒病若吐若下後七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。同方。傷寒無大熱。口燥渴。心煩。背微惡寒者。同方。發汗已。脈浮數。煩渴者。五苓散。中風發熱六七日不解而煩者。有表裡證。渴欲飲水。水入則吐者。同方。本以下之故。心下痞。與瀉心湯。痞不解。其人渴而口躁煩。小便不利者。同方。病在陽。應以汗解之。反以冷水潠之。若灌之。其熱被劫不得去。彌更益煩。肉上粟起。意欲飲水。反不渴者。服文蛤散。不差者。五苓散。</p>
<p>上七法煩渴證</p>
<p>傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。桂枝附子湯。風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。桂枝甘草附子湯。濕家身煩疼。麻黃加朮湯。傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。茈胡加桂枝湯。溫瘧者其脈如平。身無寒但熱。骨節疼煩。時嘔。白虎加桂枝湯。</p>
<p>上五法煩疼證</p>
<p>病人煩熱。汗出則解。又如瘧狀。日晡所發熱脈實者。宜下之。脈浮虛者。宜發汗。大承氣湯。桂枝湯。婦人在草蓐自發露得風。四肢苦煩熱。頭痛者與。小茈胡湯。頭不痛但煩者。三物黃芩湯。發汗若下之而煩熱。胸中窒者。梔子豉湯。</p>
<p>上三法煩熱證</p>
<p>太陽病過經十餘日云云。茈胡證仍在者。先與小茈胡湯。嘔不止。心下急。鬱郁微煩者。大茈胡湯。太陽病若吐若下。若發汗。微煩。小便數。大便因硬者。小承氣湯。太陽病過經十餘日。心下溫溫欲吐。而胸中痛。大便反溏。復微滿。鬱郁微煩者。調胃承氣湯。傷寒醫以丸藥大下之。身熱不去。微煩者。梔子乾薑湯。</p>
<p>上四法微煩證</p>

<h1>汗出門（附黃汗盜汗）</h1>
<p>太陽病頭痛發熱。汗出惡風者。桂枝湯。太陽中風。汗自出。嗇嗇惡寒。淅淅惡風。翕翕發熱。同方。太陽病發熱汗出者。同方。陽明病脈遲。汗出多。微惡寒者。同方。產後中風。續得之。數十日不解。頭微痛。惡寒。時時有熱。心下悶。乾嘔。汗出證。同方。病常自汗出者。同方。病人藏無他病。時發熱。自汗出者。同方。病人煩熱。汗出則解。又如瘧狀。日晡所發熱者。脈實者宜下之。與大承氣湯。脈浮虛者宜發汗。桂枝湯。服桂枝湯大汗出。脈洪大者。與桂枝湯。如前法。若形如瘧。日再發者。汗出必解。桂枝二麻黃一湯。太陽病項背強𠘧𠘧。反汗出惡風者。桂枝加葛根湯。太陽病發汗。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯。風濕相搏。骨節煩疼掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風。桂枝甘草附子湯。心下痞而復惡寒汗出者。附子瀉心湯。風濕脈浮身重。汗出惡風者。防己黃耆湯。</p>
<p>上十四法汗出惡風發熱證</p>
<p>凡茈胡湯病證而下之。若茈胡證不罷者。復與茈胡湯。必蒸蒸而振卻。發熱汗出而解。陽明病脅下硬滿。不大便而嘔云云。身濈然而汗出解也。同方。傷寒發熱。汗出不解。心下痞硬。嘔吐而下利者。大茈胡湯。陽明病發熱。汗出多者。急下之。大承氣湯。太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩身瞤動。欲擗地者。真武湯。太陽中風。下利嘔逆。表解者乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞硬。滿引脅下痛。乾嘔短氣。汗出不惡寒。十棗湯。</p>
<p>上六法汗出發熱證</p>
<p>太陽中熱者。暍是也。汗出惡寒。身熱而渴。白虎加人參湯。服桂枝湯。大汗出後。大煩渴不解。脈洪大者。同方。太陽病發汗後。大汗出。胃中乾燥不得眠。欲飲水者。少少與飲之。令胃氣和則愈。若脈浮。小便不利。微熱消渴者。五苓散。太陽病其人發熱。汗出。復惡寒。不嘔云云。渴者同方。傷寒汗出而渴者。五苓散主之。不渴者。茯苓甘草湯。</p>
<p>上五法汗出渴證</p>
<p>汗出讝語者。以有燥屎在胃中也。大承氣湯。二陽並病。太陽證罷。但發潮熱。手足漐漐汗出。大便難而讝語者。同方。陽明病。其人多汗。以津液外出。胃中燥。大便必硬。硬則讝語。小承氣湯。</p>
<p>上三法汗出讝語證</p>
<p>發汗後不可更行桂枝湯。汗出而喘。無大熱者。麻黃杏仁甘草石膏湯。下後不可更行桂枝湯。汗出而喘。無大熱者。同方。陽明病脈遲。雖汗出不惡寒者。其身必重。短氣腹滿而喘。有潮熱者。此外欲解。可攻裡也。汗多微發熱惡寒。若腹大滿不通者。小承氣湯。陽明病脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出。不惡寒反惡熱。身重。心中懊憹。舌上胎者。梔子豉湯。</p>
<p>上四法汗出喘證</p>
<p>吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。四逆湯。既吐且利。小便複利而大汗出。下利清穀。內寒外熱。脈微欲絕者。同方。下利清穀。裡寒外熱。汗出而厥者。通脈四逆湯。吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯。</p>
<p>上四法汗出吐利厥冷證</p>
<p>風水惡風。一身悉腫。脈浮不渴。續自汗出。無大熱。越婢湯主之。惡風者。加附子。腸癰者。小腹腫。按之即痛如淋。小便自調。時時發熱。自汗出。復惡寒也。大黃牡丹湯。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯欲攻其表。此誤也。得之便厥。咽中干。煩躁吐逆者。甘草乾薑湯。芍藥甘草湯。二陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。若自汗出者。白虎湯。寒疝繞臍苦痛。發則自汗出。手足厥冷。其脈沉弦者。大烏頭煎。陽明病自汗出。若發汗。小便自利者。此為津液內竭。雖硬不可攻之。當須自欲大便。蜜煎導大豬膽汁方。</p>
<p>上六法自汗出證</p>
<p>黃汗之病。身體腫。發熱汗出而渴。狀如風水。汗沾衣色正黃如蘗汁。脈自沉。黃耆桂枝苦酒湯。黃汗之病云云。從腰以上必汗出。下無汗。腰髖弛痛。如有物在皮中狀。桂枝加黃耆湯。黃疸腹滿。小便不利而赤。自汗出。此為表和裡實。大黃硝石湯。陽明病發熱汗出。此為熱越不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴引水漿者。此瘀熱在裡。身必發黃。茵陳蒿湯。</p>
<p>上四法黃汗證</p>
<p>傷寒五六日。已發汗而復下之。胸脅滿。微結。小便不利。渴而不嘔。但頭汗出。往來寒熱心煩者。茈胡桂薑湯。太陽病脈浮而動數云云。頭痛發熱。微盜汗出。而反惡寒云云。心下因硬則為結胸。大陷胸湯。傷寒十餘日。熱結在裡。復往來寒熱者。與大茈胡湯。但結胸無大熱者。此為水結在胸脅。但頭微汗出者。同方。產婦鬱冒。其脈微弱。不能食。大便反堅。但頭汗出。小茈胡湯。風水脈浮為在表。其人或頭汗出。表無他病。病者但下重。從腰以上為和。腰以下當腫。及陰難以屈伸。防己黃耆湯。陽明病下之。其外有熱。手足溫。不結胸。心中懊憹。飢不能食。但頭汗出者。梔子豉湯。</p>
<p>上六法頭汗出證</p>

<h1>身疼痛門（附骨節痛）</h1>
<p>少陰病身體手足寒。骨節痛。脈沉者。附子湯。病歷節不可屈伸。疼痛者。烏頭湯。腳氣疼痛。不可屈伸。同方。寒疝腹中絞痛。拘急不得轉側。發作有時。使人陰縮。手足厥逆。同方。寒疝腹中痛。逆冷。手足不仁。若身疼痛。灸刺諸藥不能治。烏頭桂枝湯。少陰病二三日不已。至四五日。腹痛小便不利。四肢沉重。疼痛自下利者。真武湯。發汗後身疼痛。脈沉遲者。桂枝加芍藥人參生薑湯。霍亂頭痛發熱。身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸。病者一身盡疼。發熱。日晡所劇者。麻黃杏仁薏苡甘草湯。病發熱頭痛。脈反沉。若不差。身體疼痛。四逆湯。</p>
<p>上十法身疼痛或腹痛證</p>
<p>下利後。身疼痛。清便自調者。急當救表。桂枝湯。吐利止而身疼痛不休者。同方。下利腹脹滿。身體疼痛者。先溫其里。乃四逆湯。攻其表。桂枝湯。傷寒醫下之。續得下利清穀不止。身疼痛者。急當救里。後身疼痛。清便自調者。急當救表。同方。</p>
<p>上四法下利身疼痛證</p>
<p>太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯。太陽病脈浮緊。無汗發熱。身疼痛。八九日不解。同方。太陽中風。脈緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯。</p>
<p>上三法無汗身疼痛證</p>
<p>太陽病發汗。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯。大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。四逆湯。黃汗之病。從腰以上必汗出。下無汗。腰髖弛痛。如有物在皮中狀劇者。不能食。身疼重。煩躁。小便不利。桂枝加黃耆湯。其人身體重。腰中冷。如坐水中。形如水狀云云。苓薑朮甘湯。</p>
<p>上四法汗出身疼痛證</p>
<p>風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風。桂枝甘草附子湯。傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。若其人大便硬。小便自利者。桂枝附子去桂加朮湯。濕家身煩疼。麻黃加朮湯。傷寒六七日。發熱。微惡寒。支節煩疼。微嘔。心下支結。外證未去者。茈胡加桂枝湯。溫瘧者。其脈如平。身無寒但熱。骨節疼煩。時嘔者。白虎加桂枝湯。</p>
<p>上五法骨節煩疼證</p>

<h1>頭痛門</h1>
<p>太陽病頭痛發熱。汗出惡風者。桂枝湯。傷寒不大便六七日。頭痛有熱者。與承氣湯。其小便清者。知不在裡仍在表也。當鬚髮汗。同方。產後中風續得之。數十日不解。頭微痛惡寒。時時有熱。同方。婦人在草蓐自發露得風。四肢苦煩熱。頭痛者。小茈胡湯。乾嘔吐涎沫頭痛者。吳茱萸湯。太陽病脈浮而動數。頭痛發熱。微盜汗出而反惡寒者。表未解也。膈內拒痛。心下因硬。則為結胸大陷胸湯。病發熱頭痛。脈反沉者。若不差。身體疼痛。當救其里。四逆湯。太陽中風。下利嘔逆表解者。乃可攻之。其人漐漐汗出。發作有時。頭痛心下痞硬。滿引脅下痛。十棗湯。頭風摩散。一方霍亂頭痛。發熱身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸。</p>
<p>上十法頭痛證</p>

<h1>頸項強門</h1>
<p>傷寒四五日。身熱惡風。頸項強。脅下滿。手足溫而渴者。小茈胡湯。得病六七日。脈遲浮弱。惡風寒。手足溫。醫二三下之。不能食而脅下滿痛。面目及身黃。頸項強。小便難者。同方。結胸者項亦強。如柔痙狀。下之則愈。大陷胸丸。服桂枝湯或下之。仍頭項強痛。翕翕發熱無汗。心下滿。微痛。小便不利者。桂枝去桂加茯苓朮湯。</p>
<p>上四法頸項強證</p>
<p>太陽病。項背強𠘧𠘧。無汗惡風者。葛根湯。太陽病項背強𠘧𠘧。反汗出惡風者。桂枝加葛根湯。太陽病。其證備。身體強𠘧𠘧然。脈反沉遲。此為痙。栝蔞桂枝湯。</p>
<p>上三法項背強證</p>

<h1>渴門（附口乾舌燥）</h1>
<p>渴欲飲水不止者。文蛤散。傷寒汗出而渴者。五苓散。霍亂頭痛發熱。身疼痛。熱多欲飲水者。同方。太陽病。小便數者。大便必硬。不更衣十日。無所苦也。渴欲飲水。少少與之。但以法救之。渴者同方。病在陽應以汗解之。反以冷水潠之。若灌之。其熱被劫不得去。彌更益煩。肉上粟起。意欲飲水。反不渴者。服文蛤散。若不差者。五苓散。瘧病發渴者。茈胡去半夏加栝蔞湯。下利慾飲水者。以有熱故也。白頭翁湯。傷寒四五日。身熱惡風。頸項強。脅下滿。手足溫而渴者。小茈胡湯。傷寒五六日。中風。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或渴者。同方。肺痿咳唾。涎沫不止。咽燥而渴者。生薑甘草湯。太陽病重發汗。而復下之。不大便五六日。舌上燥而渴。日晡所小有潮熱。大陷胸湯。黃汗之為病。身體腫。發熱汗出而渴。狀如風水。汗沾衣。黃耆桂枝苦酒湯。</p>
<p>上十二法渴欲飲水證</p>
<p>胃反吐而渴欲飲水者。茯苓澤瀉湯。吐後渴欲得水而貪飲者。文蛤湯。傷寒表未解。心下有水氣。乾嘔發熱而咳。或渴。小青龍湯。先渴後嘔。為水停心下。小半夏加茯苓湯。少陰病下利六七日。咳而嘔。渴。心煩不得眠者。豬苓湯。嘔吐而病在膈上。後思水者。豬苓數。中風發熱。六七日不解而煩。有表裡證。渴欲飲水。水入則吐。名曰水逆。五苓散。</p>
<p>上七法嘔吐渴證</p>
<p>小便不利者。有水氣。其人若渴者。栝蔞瞿麥丸。若脈浮發熱。渴欲飲水。小便不利者。豬苓湯。太陽病發汗後大汗出。胃中干。煩躁不得眠。欲飲水者。少少與飲之。令胃氣和則愈。若脈浮小便不利。微熱消渴者。五苓散。本以下之故。心下痞。與瀉心湯。痞不解。其人渴而口躁煩。小便不利者。同方。發汗已。脈浮數煩渴者。同方。男子消渴。小便反多。以飲一斗。小便一斗。八味丸。</p>
<p>上六法渴小便不利證</p>
<p>服桂枝湯。大汗出後。大煩渴不解。脈洪大者。白虎加人參湯。傷寒病若吐若下後七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。同方。傷寒無大熱。口燥渴。心煩。背微惡寒者。同方。太陽中熱者。暍是也。汗出惡寒。身熱而渴。同方。傷寒脈浮。發熱無汗。其表不解者。不可與白虎湯。渴欲飲水。無表證者。同方。陽明病脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出。不惡寒。反惡熱。身重若渴欲飲水。口乾舌燥者。同方。</p>
<p>上六法大煩渴引飲證</p>
<p>虛勞裡急悸衄。腹中痛。夢失精。四肢痠痛。手足煩熱。咽乾口燥者。小建中湯。少陰病得之二三日。口燥咽乾者。急下之。大承氣湯。少陰病自利清水。色純青。心下必痛。口乾燥者。急下之。同方。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急云云。便厥咽中干。煩躁吐逆者。甘草乾薑湯。咳而胸滿振寒。脈數。咽乾不渴。時出濁唾。腥臭。久久吐膿。桔梗湯。同證。桔梗白散。腹滿口舌乾燥。此膈間有水氣。己椒藶黃丸。陽明病脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出。不惡寒。反惡熱。心中懊憹。舌上胎者。梔子豉湯。</p>
<p>上八法口舌咽乾燥證</p>

<h1>頭眩門（附冒眩）</h1>
<p>傷寒若吐若下後。心下逆滿。氣上衝胸。起則頭眩者。苓桂朮甘湯。心下有痰飲。胸脅支滿。目眩者。同方。太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩身瞤動。振振欲擗地者。真武湯。谷疸之為病。寒熱不食。食則頭眩。心胸不安。久久發黃。茵陳蒿湯。妊娠有水氣身重。小便不利。灑淅惡寒。起即頭眩。葵子茯苓散。</p>
<p>上五法頭眩證</p>
<p>假令瘦人臍下有悸。吐涎沫而癲眩。此水也。五苓散。心下有支飲。其人若冒眩。澤瀉湯。卒嘔吐。心下痞。膈間有水眩悸者。小半夏加茯苓湯。夫失精家小腹弦急。陰頭寒。目眩發落者。桂枝加龍骨牡蠣湯。發汗過多。其人叉手自冒心。心下悸。欲得按之者。桂枝甘草湯。咳逆倚息不得臥。小青龍湯主之。手足厥逆。氣從小腹上衝胸咽。手足痹。時覆冒者。苓桂五味甘草湯。病人小便不利。大便乍難乍易。時有微熱。喘冒不得臥者。有燥屎也。大承氣湯。</p>
<p>上七法冒眩悸證</p>

<h1>裡急門（附拘攣痛）</h1>
<p>傷寒腹中急痛者。先與小建中湯。不愈者。與小茈胡湯主之。虛勞裡急悸衄。腹中痛。夢失精。四肢痠痛。小建中湯。虛勞裡急諸不足。黃耆建中湯。寒疝腹中痛。及脅痛裡急者。當歸生薑羊肉湯。夫失精家少腹弦急。陰頭寒。目眩發落者。桂枝加龍骨牡蠣湯。天雄散。太陽病發汗。遂漏不止。其人惡風。小便難。四腫微急難而屈伸者。桂枝加附子湯。太陽病過經十餘日云云。嘔不止。心下急。鬱郁微煩者。大茈胡湯。太陽病不解。熱結膀胱。其人如狂血自下。下者愈。但少腹急結者。桃核承氣湯。黃家日晡所發熱而反惡寒。此為女勞得之。膀胱急。少腹滿。身盡黃。其腹脹如水狀。大便必溏。消礬散。</p>
<p>上九法裡急痛證</p>
<p>大汗出。熱不去。內拘急四肢疼。又下利厥逆而惡寒者。四逆湯。吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。同方。吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯。寒疝。腹中絞痛。拘急不得轉側。發作有時。使人陰縮。手足厥逆。烏頭湯。虛勞腰痛。小腹拘急。小便不利者。八味丸。</p>
<p>上五法拘急厥逆證</p>
<p>傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。芍藥甘草湯。痙為病。胸滿口噤。臥不著席。腳攣急。必齘齒。大承氣湯。</p>
<p>上二法攣急證</p>
<p>轉筋之為病。其人臂腳直。脈上下行微弦。轉筋入腹者。雞屎白散。</p>
<p>上一法轉筋證</p>

<h1>喘門（附咳嗽）</h1>
<p>喘家作桂枝加厚朴杏仁佳。太陽病下之微喘者。表未解故也。桂枝加厚朴杏仁湯。黃疸病小便色不變。欲自利。腹滿而喘噦者。小半夏湯。胸痹之病。喘息咳唾。胸背痛。短氣。栝蔞薤白白酒湯。病人胸中似喘不喘。似嘔不嘔。似噦不噦。徹心中憒憒然無奈。生薑半夏湯。傷寒若吐若下後。不解大便五六日。發潮熱。微喘。直視。脈弦者。大承氣湯。病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。同方。</p>
<p>上七法喘證</p>
<p>太陽病頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯。陽明病脈浮無汗而喘者。同方。太陽與陽明合病。喘而胸滿者。同方。</p>
<p>上三法無汗喘證</p>
<p>發汗後不可更行桂枝湯。汗出而喘。無大熱者。麻黃杏仁甘草石膏湯。下後不可更行桂枝湯。汗出而喘無大熱者。同方。太陽病桂枝證。醫反下之。利遂不止。喘而汗出者。葛根黃連黃芩湯。陽明病脈遲。雖汗出不惡寒者。其身必重。短氣腹滿而喘。有潮熱。大承氣湯。陽明病脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出云云。心中懊憹。舌上胎者。梔子豉湯。</p>
<p>上五法汗出喘證</p>
<p>傷寒表未解。心下有水氣。乾嘔發熱而咳或喘者。小青龍湯。傷寒心下有水氣。咳而微喘。發熱不渴者。同方。咳逆倚息不得臥。小青龍湯主之云云。反更咳。胸滿者。用桂苓五味甘草湯。去桂加乾薑細辛以治其咳滿。咳而上氣。此為肺脹。其人喘。目如脫狀。脈浮大者。越婢加半夏湯。傷寒五六日。中風往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔或咳者。小茈胡湯。少陰病二三日不已。至四五日。腹痛。小便不利。四支沉重疼痛。或咳者。真武湯。咳家其脈弦。為有水。十棗湯。夫有支飲家咳煩胸中痛者。同方。咳逆上氣。時時唾濁。但坐不得眠。莢皂丸。</p>
<p>上九法咳喘或發熱證</p>
<p>咳而胸滿振寒。脈數。咽乾不渴。時出濁唾腥臭。久久吐膿如米粥者。為肺癰。桔梗湯。同證。桔梗白散。肺癰喘不得臥者。葶藶大棗湯。肺癰胸滿脹。一身面目浮腫。鼻塞。清涕出。不聞香臭酸辛。咳逆上氣喘鳴迫塞。同方。咳有微熱煩滿。胸中甲錯。是為肺癰。葦莖湯。肺痿咳唾。涎沫不止。咽燥而渴者。生薑甘草湯。</p>
<p>上六法肺癰咳喘證</p>

<h1>諸黃門</h1>
<p>黃疸病。茵陳五苓散。諸黃。瓜蒂湯。黃疸。麻黃醇酒湯。諸黃。豬膏發煎。傷寒身黃髮熱者。梔子蘗皮湯。諸黃家病。但利其小便。假令脈浮。當以汗解之。桂枝加黃耆湯。黃家日晡所發熱而反惡寒。此為女勞得之膀胱急。少腹滿。身盡黃。消礬散。谷疸之為病。寒熱不食。食則頭眩。心胸不安。久久發黃。茵陳蒿湯。</p>
<p>上八法黃疸發熱證</p>
<p>黃疸腹滿。小便不利而赤。自汗出。大黃硝石湯。傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯。陽明病發熱汗出。此為熱越。不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴引水漿者。此為瘀熱在裡。身必發黃。同方。里水者。一身面目黃腫。其脈沉。小便不利。故令病水。越婢加朮湯。得病六七日。脈遲浮弱。惡風寒。手足溫。醫二三下之。不能食。而脅下滿痛。面目及身黃。頸項強小便難者。小茈胡湯。</p>
<p>上五法身黃小便不利或難證</p>
<p>傷寒瘀熱在裡。身必發黃。麻黃連軺赤小豆湯。男子黃。小便自利。小建中湯。太陽病身黃。脈沉結。少腹硬。小便不利者。為無血也。小便自利。其人如狂者。血證諦也。抵當湯。黃疸病小便色不變。欲自利。腹病而喘噦者。小半夏湯。</p>
<p>上四法身黃小便自利或瘀血證</p>
<p>諸黃腹痛而嘔者。小茈胡湯。酒黃疸心中懊憹。或熱痛者。梔子大黃豉湯。</p>
<p>上二法黃疸腹痛證</p>
<p>黃汗之為病。身體腫。發熱汗出而渴。狀如風水。汗沾衣。色正黃如蘗汁。脈自沉。黃耆桂枝苦酒湯。黃汗之病云云。又從腰以上必汗出。下無汗。腰髖弛痛。如有物在皮中狀。桂枝加黃耆湯。</p>
<p>上二法黃汗證</p>

<h1>下利門（附便膿血）</h1>
<p>傷寒醫下之。續得下利清穀不止。身疼痛者。四逆湯。脈浮而遲。表熱裡寒。下利清穀者。同方。吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。同方。既吐且利。小便複利。而大汗出。下利清穀。內寒外熱。脈微欲絕者。同方。大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。同方。大汗出。大下利而厥冷者。同方。下利腹脹滿。身體疼痛者。同方。少陰病下利清穀。裡寒外熱。手足厥逆。脈微欲絕者。通脈四逆湯。下利清穀。裡寒外熱。汗出而厥者。同方。少陰病。下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯。</p>
<p>上十法下利清穀厥逆證</p>
<p>乾嘔下利者。黃芩人參湯。太陽與陽明合病。自下利者。黃芩湯。若嘔者。黃芩加半夏生薑湯。乾嘔而下利者。同方。傷寒發熱。汗出不解。心下痞硬。嘔吐而下利者。大茈胡湯。少陰病吐利。手足厥冷。煩躁欲死者。吳茱萸湯。少陰病下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯。</p>
<p>上六法嘔而下利證</p>
<p>太陽病外證未除。而數下之。遂協熱而利。利下不止。心下痞硬。表裡不解者。桂枝人參湯。傷寒中風。醫反下之。其人下利日數十行。穀不化。腹中雷鳴。心下痞硬而滿。乾嘔心煩不得安。甘草瀉心湯。傷寒汗出解之後。胃中不和。心下痞硬。乾嘔噫食臭。脅下有水氣。腹中雷鳴下利者。生薑瀉心湯。病者脈伏。其人慾自利。利反快。雖利心下續堅滿。此為留飲欲去故也。甘遂半夏湯。下利。按之心下硬者。急下之。大承氣湯。</p>
<p>上五法心下痞硬而下利證</p>
<p>熱利下重者。白頭翁湯。下利慾飲水者。以有熱故也。同方。產後下利者。白頭翁加甘草阿膠湯。少陰病下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯。下利脈遲而滑者。內實也。利未欲止。當下之。大承氣湯。下利脈反滑。當有所去。下之乃愈。同方。下利不欲食者。當下之。同方。下利差後。至其年月日時復發者。以病不盡故也。同方。太陽與陽明合病者。必自下利。葛根湯。太陽病桂枝證。醫反下之。利遂不止。脈促者。表未解也。喘而汗出者。葛根黃連黃芩湯。少陰病二三日不已。至四五日。腹痛小便不利。四肢沉重。疼痛自下利者。真武湯。傷寒服湯藥。下利不止。醫以理中與之。利益甚。赤石脂禹餘糧湯。少陰病。下利咽痛。胸滿心煩者。豬膚湯。</p>
<p>上十三法下利或熱或身疼證</p>
<p>少陰病下利便膿血者。桃花湯。少陰病二三日至四五日。腹痛小便不利。下利不止。便膿血者。同方。下利便膿血者。同方。</p>
<p>上三法便膿血證</p>

<h1>水腫門（附身重）</h1>
<p>風水惡風。一身悉腫。脈浮不渴。續自汗出。無大熱。越婢湯。里水者一身面目黃腫。其脈沉。小便不利。故令病水。越婢加朮湯。里水若惡風者。同方。加附子。里水麻黃甘草湯。風水脈浮。為在表。其人或頭汗出。表無他病。病者但下重。從腰以上為和。腰以下當腫及陰。難以屈伸。防己黃耆湯。風濕（濕一作水）脈浮身重。汗出惡風者。同方。風濕相搏。骨節煩疼掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。桂枝甘草附子湯。皮水為病。四肢腫。水氣在皮膚中。四肢聶聶動者。防己茯苓湯。水之為病。其脈沉小。屬少陰。浮者為風無水。虛脹者為氣水。發其汗即已。麻黃附子甘草湯。浮者杏子湯。黃汗之為病。身體腫。發熱汗出而渴。狀如風水。汗沾衣。色正黃如蘗汁。黃耆桂枝苦酒湯。咳逆倚息不得臥云云。其人形腫者。苓甘姜味辛夏仁湯。大病差後從腰已下有水氣者。牡蠣澤瀉散。肺癰胸滿脹。一身面目浮腫。鼻塞。葶藶大棗湯。</p>
<p>上十三法一身水腫或小便不利證</p>
<p>妊娠有水氣。身重。小便不利。灑淅惡寒。起即頭眩。葵子茯苓散。腎著之病。其人身體重。腰中冷。如坐水中。形如水狀。及不渴。小便自利。苓薑朮甘湯。黃汗之病云云。從腰以上必汗出。下無汗。腰髖弛痛。如有物在皮中狀。桂枝加黃耆湯。陽明病脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出。不惡寒。反惡熱。身重。心中懊憹。舌上胎者。梔子豉湯。少陰病二三日不已。至四五日。腹痛小便不利。四肢沉重。疼痛自下利者。此為有水氣。真武湯。陽明病。脈遲。雖汗出不惡寒者。其身必重。短氣。腹滿而喘。有潮熱。小承氣湯。傷寒八九日。下之胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。茈胡加龍骨牡蠣湯。</p>
<p>上七法一身重或痛證</p>

<h1>短氣門</h1>
<p>胸痹。胸中氣塞短氣者。苓杏甘草湯。同證。橘皮枳實生薑湯。夫短氣有微飲。當從小便去之。八味丸。同證。苓桂朮甘湯。風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。桂枝甘草附子湯。陽明中風。脈弦浮大而短氣。腹都滿。脅下及心痛。小茈胡湯。麻黃湯。陽明病脈遲。雖汗出不惡寒者。其身必重。短氣腹滿而喘。有潮熱。大承氣湯。小承氣湯。太陽病脈浮而動數。膈內拒痛。短氣躁煩。心中懊憹。心下因硬則為結胸。大陷胸湯。胸痹之病。喘息咳唾。胸背痛。短氣者。栝蔞薤白白酒湯。太陽中風下利嘔逆云云。乾嘔短氣。汗出不惡寒者。十棗湯。</p>
<p>上十法短氣或汗出身痛證</p>
<p>發汗吐下後。虛煩不得眠。心中懊憹。若少氣者。梔子甘草豉湯。傷寒解後。虛羸少氣。氣逆欲吐者。竹葉石膏湯。</p>
<p>上二法少氣證</p>

<h1>咽痛門（附咽喉不利）</h1>
<p>少陰病。咽中痛者。半夏散及湯。少陰痛二三日咽痛者。甘草湯。同證不差者。桔梗湯。少陰病咽中傷生瘡。不能語言。聲不出者。苦酒湯主之。少陰病下利清穀。裡寒外熱。手足厥逆云云。或咽痛者。通脈四逆湯。少陰病下利咽痛。胸滿心煩者。豬膚湯。</p>
<p>上六法咽中痛證</p>
<p>病如桂枝證。頭不痛。項不強。胸中痞硬。氣上衝咽喉。不得息者。瓜蒂散。咳逆倚息不得臥云云。手足厥逆。氣從小腹上衝胸咽。手足痹云云。苓桂五味甘草湯。</p>
<p>上二法上衝咽證</p>
<p>大逆上氣。咽喉不利者。麥門冬湯。婦人咽中如有炙臠。半夏厚朴湯。狐惑之為病。狀如傷寒。默默欲眠。目不得閉。臥起不安。蝕於喉為惑。蝕於陰為狐。甘草瀉心湯。</p>
<p>上三法咽喉不利證</p>

<h1>血證門（附經水不調）</h1>
<p>心氣不定。吐血衄血者。瀉心湯。吐血不止者。柏葉湯。吐血衄血者。黃土湯。下血先便後血。此遠血也。同方。下血先血後便。此近血也。赤小豆當歸散。虛勞裡急。悸衄。腹中痛。夢失精云云。小建中湯。傷寒脈浮緊。不發汗。因致衄者。麻黃湯。傷寒不大便六七日。頭痛有熱者。與承氣湯。其小便清者。知不在裡仍在表也。當鬚髮汗。若頭痛者。必衄。桂枝湯。</p>
<p>上八法吐血衄血證</p>
<p>太陽病六七日。表證仍在。脈微而沉。反不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。抵當湯。太陽病身黃。脈沉結。少腹硬。小便不利者。為無血也。小便自利。其人如狂者。血證諦也。同方。陽明證其人喜忘者。必有畜血也。同方。病人無表裡證。發熱。七八日至六七日。不大便者。有瘀血也。同方。產婦腹痛。以枳實芍藥散。假令不愈者。此為腹中有乾血著臍下。下瘀血湯。傷寒有熱。少腹滿。應小便不利。今反利者。為有血也。抵當丸。婦人少腹滿如敦狀。小便微難而不渴。生後者。此為水與血俱結在血室也。大黃甘遂湯。太陽病不解。熱結膀胱。其人如狂血自下。下者愈。但少腹急結者。桃核承氣湯。陽明病云云。但頭汗出。身無汗。劑頸而還。小便不利。渴引水漿者。此為瘀熱在裡。身必發黃。茵陳蒿湯。</p>
<p>上九法瘀血證</p>
<p>婦人中風七八日。續得寒熱。為熱入血室。其血必結。小茈胡湯。婦人經水不利下者。抵當湯。經水不利。下瘀血湯。婦人宿有症病。經水斷未及三月。而得漏下不止。胎動在臍上者。桂枝茯苓丸。婦人有漏下者。或半產後因續下血都不絕者。有妊娠下血者。芎歸膠艾湯。惡寒脈微而複利。利止亡血也。四逆加人參湯。婦人經水閉不利。藏堅癖不止。中有乾血。下白物者。礬石丸。帶下經水不利。少腹滿痛。經一月再見者。土瓜根散。</p>
<p>上八法經水不調或亡血證</p>

<h1>不仁門</h1>
<p>寒疝腹中痛逆冷。手足不仁。若身疼痛。灸刺諸藥不能治。烏頭桂枝湯。血痹病云云。身體不仁。如風痹之狀。黃耆桂枝五物湯。腳氣上入小腹不仁者。八味丸。二陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。白虎湯。</p>
<p>上四法不仁證</p>

<h1>心中懊憹門</h1>
<p>發汗吐下後。虛煩不得眠。若劇者。必反覆顛倒。心中懊憹者。梔子豉湯。若少氣者。梔子甘草豉湯。若嘔者。梔子生薑豉湯。陽明病下之。其外有熱。手足溫。不結胸。心中懊憹。飢不能食。但頭汗出者。梔子豉湯。陽明病脈浮而緊。咽燥口苦。腹滿而喘。心中懊憹。舌上胎者。同方。黃疸心中懊憹。或熱痛者。梔子大黃豉湯。陽明病下之。心中懊憹而煩。胃中有燥屎者。大承氣湯。太陽病脈浮而動數。膈內拒痛。短氣躁煩。心中懊憹。心下因硬。則為結胸。大陷胸湯。</p>
<p>上六法心中懊憹證</p>

<h1>身瞤門</h1>
<p>太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩身瞤動。振振欲擗地者。真武湯。黃汗之病云云。若身重汗出已輒輕者。久久必身瞤瞤即胸中痛云云。桂枝加黃耆湯。太陽中風。脈緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯。若脈微弱。汗出惡風者。不可服。服之則厥逆筋惕肉瞤。此為逆也。</p>
<p>上三法身瞤證</p>

<h1>不得眠門（附臥起不安）</h1>
<p>虛勞虛煩不得眠者。酸棗仁湯。太陽病發汗後。大汗出。胃中干。煩躁不得眠。若小便不利。微熱消渴者。五苓散。少陰病下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯下之。後復發汗。晝日煩躁不得眠。夜而安靜。不嘔不渴。無表證。乾薑附子湯。發汗吐下後。虛煩不得眠。若劇者。必反覆顛倒。心中懊憹者。梔子豉湯。若少氣者。梔子甘草豉湯。若嘔者。梔子生薑豉湯。陽明病脈浮緊。咽燥口苦。腹滿而喘云云。若加燒針。必怵惕不得眠雲云。梔子豉湯。咳逆上氣。時時唾濁。但坐不得眠者。皂莢丸。</p>
<p>上七法煩躁不得眠證</p>
<p>產後腹痛煩滿不得臥者。枳實芍藥散。婦人病飲食如故。煩熱不得臥。而反倚息者。八味丸。少陰病得之二三日以上。心中煩不得臥者。黃連阿膠湯。胸痹不得臥。心痛徹背者。栝蔞薤白半夏湯。肺癰喘不得臥者。葶藶大棗湯。咳逆倚息不得臥者。小青龍湯。病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。大承氣湯。</p>
<p>上七法不得臥證</p>
<p>傷寒下後。心煩腹滿。臥起不安者。梔子厚朴湯。狐惑之為病。狀如傷寒。默默欲眠。目不得閉。臥起不安。蝕於喉為惑。蝕於陰為狐。蝕於上部則聲喝。甘草瀉心湯。蝕於下部咽乾。苦參湯洗之。蝕於肛者。雄黃薰之。傷寒脈浮。醫以火迫劫之。必驚狂。起臥不安者。桂枝去芍藥加蜀漆龍骨牡蠣湯。</p>
<p>上三法臥起不安證</p>

<h1>讝語門</h1>
<p>陽明病讝語有潮熱。反不能食者。胃中必有燥屎也。大承氣湯。汗出讝語者。以有燥屎在胃中也。同方。傷寒若吐若下後。不解不大便五六日。上至十餘日。日晡所發潮熱。不惡寒。獨語如見鬼狀。但發熱讝語者。同方。二陽並病。太陽證罷。但發潮熱。手足漐漐汗出。大便難而讝語者。同方。陽明病其人多汗。以津液外出。胃中燥。大便必硬。硬則讝語者。小承氣湯。大便不通。噦數讝語者。同方。產後七八日無太陽證。少腹堅痛。此惡露不盡。不大便。煩躁發熱。食則讝語。至夜即愈。同方。下利讝語者。有燥屎也。同方。陽明病讝語發潮熱。脈滑而疾者。同方。傷寒十三日不解。過經讝語者。以有熱也。調胃承氣湯。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。若胃氣不和。讝語者。同方。傷寒八九日。下之胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。茈胡加龍骨牡蠣湯。二陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。白虎湯。本（按本字玉函亡）太陽病不解。脅下硬滿。乾嘔不能食。往來寒熱。尚未吐下者。小茈胡湯。若已吐下。發汗溫針。讝語。茈胡證罷。此為壞病。以法治之。</p>
<p>上十四法讝語或有燥屎證</p>

<h1>發狂門</h1>
<p>太陽病。六七日表證仍在。脈微而沉。反不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。抵當湯。太陽病身黃脈沉結。少腹硬。小便不利者。為無血也。小便自利。其人如狂者。血證諦也。同方。太陽病不解。熱結膀胱。其人如狂。血自下。下者愈。但小腹急結者。乃可攻之。桃核承氣湯。</p>
<p>上三法有瘀血發狂證</p>
<p>傷寒醫以火迫劫之。必驚狂起臥不安者。桂枝去芍藥加蜀漆龍骨牡蠣湯。傷寒八九日。下之胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。茈胡加龍骨牡蠣湯。</p>
<p>上二法驚狂證</p>

<h1>癰膿門（附肺痿）</h1>
<p>咳而胸滿振寒。脈數。咽乾不渴。時出濁唾腥臭。久久吐膿。寒如米粥者。為肺癰。桔梗湯。同證。桔梗白散。肺癰喘而不得臥者。葶藶大棗湯。肺癰胸滿脹。一身面目浮腫。鼻塞。清涕出。不聞香臭。酸辛咳逆。上氣喘鳴迫塞同方。咳有微熱煩滿。胸中甲錯。是為肺癰。葦莖湯。癰膿以麥粥下之。枳實芍藥散。</p>
<p>上六法肺癰證</p>
<p>腸癰者小腹腫。按之即痛如淋。小便自調。時時發熱。自汗出。復惡寒也。大黃牡丹湯。腸癰之為病。其身甲錯。腹皮急。按之濡如腫狀。腹無積聚。身無熱。脈數。此為腸內有癰膿。薏苡附子敗醬散。</p>
<p>上二法腸癰證</p>
<p>肺痿吐涎沫者。桂枝去芍藥加皂莢湯。肺痿咳唾。涎沫不止。咽燥而渴者。生薑甘草湯。肺痿吐涎沫而不咳者。其人不渴。必遺尿。小便數。甘草乾薑湯。</p>
<p>上三法肺痿證</p>

<h1>蛔蟲門</h1>
<p>蛔之為病。令人吐涎。心痛。發作有時。甘草粉蜜湯。小兒疳蟲蝕齒。一方蛔厥者。其人當吐蛔。令病者靜而復煩。烏梅圓。</p>
<p>上三法蛔蟲證</p>

<h1>陰疾門</h1>
<p>溫陰中坐藥蛇床子散。少陰脈滑而數者。陰中即生瘡。陰中蝕瘡。爛者狼牙湯。陰狐疝氣者。偏有大小。時時上下。蜘蛛散。寒疝腹中絞痛。拘急不得轉側。發作有時。使人陰縮。手足厥逆。烏頭湯。夫失精家小腹弦急。陰頭寒。目眩發落。桂枝加龍骨牡蠣湯。風水脈浮為在表。其人或頭汗出。表無他病。病者但下重。從腰以上為和。腰以下當腫及陰。難以屈伸。防己黃耆湯。狐惑之為病。狀如傷寒。默默欲眠。目不得閉。起臥不安。蝕於陰為狐。苦參湯洗之。雄黃薰陰癩腫。土瓜根散。胃氣下泄。陰吹而喧者。豬膏發煎。</p>
<p>上九法陰病證</p>

<h1>留飲門</h1>
<p>病懸飲者。十棗湯。支飲胸滿者。厚朴大黃湯。支飲不得息者。葶藶大棗湯。病溢飲者。當發其汗。大青龍湯。小青龍湯。</p>
<p>上四法留飲證</p>

<h1>宿食門</h1>
<p>宿食在上脘。當吐之。瓜蒂散。有宿食當下之。大承氣湯。大病差後勞復者。若有宿食者。枳實梔子豉湯。</p>
<p>上三法宿食證</p>

<h1>雜門</h1>
<p>婦人藏躁。喜悲傷欲哭。象如神靈所作。數欠伸者。甘麥大棗湯。</p>
<p>火邪。桂枝去芍藥加蜀漆龍骨牡蠣湯。</p>
<p>腳氣衝心者。礬石湯。</p>
<p>上各一法</p>

<h1>長沙正經證匯諸方</h1>
<p>小半夏湯　半夏（一升）　生薑（半斤）　上二味。以水七升。煮取一升。分溫再服。</p>
<p>小半夏加茯苓湯　加茯苓三兩</p>
<p>大半夏湯　半夏（二升）　白蜜（一升）　人參（三兩）　上三味。以水一斗二升。和蜜揚之。二百四十遍。煮取二升半。溫服一升。余分再服。</p>
<p>吳茱萸湯　吳茱萸（一升）　人參（三兩）　生薑（六兩）　大棗（十二枚）　上四味。以水七升。煮取二升。去滓。溫服七合。日三服。</p>
<p>大黃甘草湯　大黃（四兩）　甘草（一兩）　上二味。以水三升。煮取一升。分溫再服。</p>
<p>小茈胡湯　茈胡（半斤）　黃芩（三兩）　人參　甘草（各三兩）　半夏（半升）　大棗（十二枚）　生薑（三兩）　上七味。以水一斗二升。煮取六升。去滓。再煎。取三升。溫服一升。日三服。</p>
<p>乾薑人參半夏丸　乾薑　人參（各一兩）　半夏（二兩）　上三味。末之。以生薑汁糊為丸。如梧子大。飲服十丸。日三服。</p>
<p>乾薑黃連黃芩人參湯　乾薑　黃芩　黃連　人參（各三兩）　上四味。以水六升。煮取二升。去滓。分溫再服。</p>
<p>葛根湯　葛根（四兩）　麻黃（三兩）　桂枝　芍藥（各二兩）　生薑（三兩）　甘草（二兩）　大棗（十二枚）　上七味。㕮咀。以水一斗。先煮葛麻。減二升。去沫。內諸藥。煮取三升。去滓。溫服一升。覆取微似汗。</p>
<p>葛根加半夏湯　加半夏半升</p>
<p>桂枝湯　桂枝　芍藥　生薑（各三兩）　甘草（二兩）　大棗（十二枚）　上五味。㕮咀。以水七升。微火煮取三升。去滓。適寒溫。服一升。服已須更歠歡熱稀粥一升余。以助藥力。溫覆令一時許。</p>
<p>桂枝加桂湯　加桂二兩</p>
<p>桂枝加芍藥湯　加芍藥三兩</p>
<p>桂枝去芍藥湯　去芍藥</p>
<p>桂枝加葛根湯　加葛根四兩</p>
<p>桂枝加黃耆湯　加黃耆二兩</p>
<p>栝蔞桂枝湯　加栝蔞根二兩</p>
<p>桂枝加附子湯　加附子一枚</p>
<p>桂枝去芍藥加附子湯　去芍藥加附子一枚</p>
<p>桂枝加厚朴杏子湯　加厚朴二兩杏仁五十個</p>
<p>桂枝去芍藥加皂莢湯　去芍藥加皂莢二枚</p>
<p>桂枝加芍藥大黃湯　加大黃一兩芍藥三兩</p>
<p>桂枝加龍骨牡蠣湯　加龍骨牡蠣各三兩</p>
<p>桂枝加芍藥生薑人參湯　加芍藥生薑各一兩人參三兩</p>
<p>桂枝去桂加茯苓朮湯　加茯苓朮各三兩去桂</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣湯　桂枝　生薑　蜀漆（各三兩）　甘草（二兩）　龍骨（四兩）　牡蠣（五兩）　大棗（十二枚）　上七味。以水一斗二升。先煮蜀漆減二升。內諸藥。煮取三升。去滓。溫服一升。</p>
<p>半夏瀉心湯　半夏（半升）　黃連（一兩）　黃芩　人參　乾薑　甘草（各三兩）　大棗（十二枚）　上七味。以水一斗。煮取六升。去滓。再煮取三升。溫服一升。日三服。</p>
<p>甘草瀉心湯　半夏瀉心湯方內加甘草一兩</p>
<p>生薑瀉心湯　半夏瀉心湯方內減乾薑二兩加生薑三兩</p>
<p>十棗湯　芫花　甘遂　大戟（各等分）　上三味。各別搗為散。以水一升半。先煮大棗肥者十枚。取八合。去滓。內藥末。強人服一錢匕。羸人服半錢。溫服之。平旦服。若下少病不除者。明日更服。加半錢。得快下利後。糜粥自養。</p>
<p>大茈胡湯　茈胡（半斤）　半夏（半斤）　黃芩　芍藥（各三兩）　生薑（五兩）　枳實（四枚）　大黃（二兩）　大棗（十二枚）　上八味。以水一斗二升。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>黃芩人參湯　黃芩　人參　乾薑（各三兩）　桂枝（一兩）　半夏（半升）　大棗（十二枚）　上六味。以水七升。煮取三升。分溫三服。</p>
<p>黃芩湯　黃芩（三兩）　芍藥　甘草（各二兩）　大棗（十二枚）　上四味。以水一斗。煮取三升。去滓。溫服一升。</p>
<p>黃芩加半夏生薑湯　加半夏半升生薑三兩</p>
<p>四逆湯　甘草（二兩）　乾薑（一兩半）　附子（一枚）　上三味。㕮咀。以水三升。煮取一升二合。去滓。分溫再服。強人可大附子一枚。乾薑三兩。</p>
<p>四逆加人參湯　加人參一兩</p>
<p>茯苓四逆湯　茯苓（四兩）　人參（一兩）　甘草（二兩）　乾薑（一兩半）　附子（一枚）　上五味。以水五升。煮取三升。去滓。溫服七合。日三服。</p>
<p>通脈四逆湯　甘草（二兩）　乾薑（三兩）　附子（一枚）　上三味。以水三升。煮取一升二合。去滓。分溫再服。</p>
<p>通脈四逆加豬膽汁湯　加豬膽汁半合。如無豬膽。以羊膽代之。</p>
<p>白通加豬膽汁湯　蔥白（四莖）　乾薑（一兩）　附子（一枚）　人尿（五合）　豬膽汁（一合）　已上三味。以水三升。煮取一升。去滓。內膽汁人尿和令相得。分溫再服。若無膽亦可用。</p>
<p>附子粳米湯　附子（一枚）　半夏（半升）　甘草（一兩）　大棗（十枚）　粳米（半升）　上五味。以水八升。煮米熟湯成。去滓溫一升。日三服。</p>
<p>黃連湯　黃連　桂枝　甘草　乾薑（各三兩）　半夏（半升）　人參（二兩）　大棗（十二枚）　上七味。以水一斗。煮取六升。去滓。溫服一升。日三服。夜二服。</p>
<p>茯苓澤瀉湯　茯苓（半斤）　澤瀉（四兩）　甘草　桂枝（各二兩）　術（三兩）　生薑（四兩）　上六味。以水一斗。煮取三升。內澤瀉。再煎取二升半。溫服八合。日三服。</p>
<p>文蛤散　文蛤（五兩）　上一味為散。以沸湯和一錢匕服。湯用五合。</p>
<p>豬苓湯　豬苓　茯苓　阿膠　滑石　澤瀉（各一兩）　上五味。以水四升。先煮四味。取二升。去滓。內下阿膠烊消。溫服七合。日三服。</p>
<p>豬苓散　豬苓　茯苓　術（各等分）　上三味。杵為散。飲服方寸匕。日三服。</p>
<p>五苓散　豬苓　茯苓　術（各十八銖）　澤瀉（一兩六銖半）　桂枝（半兩）　上五味為末。白飲和服方寸匕。日三服。多飲暖水。汗出愈。</p>
<p>茈胡加芒硝湯　於小茈胡湯方內加芒硝六兩</p>
<p>真武湯　茯苓　芍藥　生薑（各三兩）　術（二兩）　附子（一枚）　上五味。以水八升。煮取三升。去滓。溫服七合。日三服。</p>
<p>白虎加桂枝湯　於白虎湯內加桂枝一兩</p>
<p>茈胡加桂枝湯　茈胡（四兩）　半夏（二合半）　甘草（一兩）　大棗（六枚）　桂枝　人參　生薑　黃芩　芍藥（各一兩半）　上九味。以水七升。煮取三升。去滓。溫服一升。日三服。</p>
<p>竹葉石膏湯　竹葉（二把）　石膏（一斤）　半夏（半升）　人參（三兩）　麥門冬（一升）　甘草（二兩）　粳米（半升）　上七味。以水一斗。煮取六升。去滓。內粳米煮米熟湯成。去米溫服一升。日三服。</p>
<p>甘草乾薑湯　甘草（四兩）　乾薑（二兩）　上㕮咀。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>小青龍湯　麻黃　芍藥　乾薑　桂枝　細辛　甘草（各三兩）　半夏　五味子（各半升）　上八味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。</p>
<p>半夏乾薑散　半夏　乾薑（各等分）　上二味。杵為散。取方寸匕。漿水一升半煎取七合。頓服之。</p>
<p>皂莢丸　皂莢八兩　上一味末之。蜜丸。梧子大。以棗膏和湯服三丸。日三服。夜一服。</p>
<p>苓甘姜味辛夏湯　茯苓（四兩）　甘草　乾薑（各二兩）　五味子（半升）　細辛（二兩）　半夏（半升）　上六味。以水八升。煮取三升。去滓。溫服半升。日三服。</p>
<p>甘草粉蜜湯　甘草（二兩）　粉（一兩）　蜜（四兩）　上三味。以水三升。先煮甘草取二升。去滓。內粉蜜攪令和。煎如薄粥。溫服一升。</p>
<p>人參湯（一名理中丸）　人參（三兩）　甘草（三兩）　乾薑（三兩）　術（三兩）　上四味。以水八升。煮取三升。溫服一升。日三服。</p>
<p>生薑甘草湯　生薑（五兩）　甘草（四兩）　人參（三兩）　大棗（十五枚）　上四味。以水七升。煮取三升。分溫三服。</p>
<p>桔梗湯　桔梗（一兩）　甘草（二兩）　上二味。以水三升。煮取一升。去滓。分溫再服。</p>
<p>桔梗白散　桔梗　貝母（各三分）　巴豆（一分）　上三味為末。內巴豆更於臼中杵之。以白飲和服。強人飲服半錢匕。羸者減之。病在膈上者吐膿血。膈下者瀉出。</p>
<p>梔子生薑豉湯　於梔子豉湯方內加生薑五兩</p>
<p>半夏厚朴湯　半夏（一升）　厚朴（三兩）　茯苓（四兩）　生薑（五兩）　干蘇葉（二兩）　上五味。以水七升。煮取四升。分溫四服。</p>
<p>茯苓飲　茯苓　人參　術（各三兩）　枳實（二兩）　橘皮（二兩半）　生薑（四兩）　上六味。以水六升。煮取一升八合。分溫三服。如人行八九里進之。</p>
<p>橘皮大黃朴硝湯　橘皮（一兩）　大黃　朴硝（各二兩）　上三味。以水一大升煮至小升。頓服。</p>
<p>生薑半夏湯　半夏（半升）　生薑汁一升　上二味。以水三升。煮半夏取二升。內生薑汁煮取一升半。小冷分四服。日三服。夜一服。嘔止停後服。</p>
<p>調胃承氣湯　大黃（四兩）　甘草（二兩）　芒硝（半斤）　上三味。㕮咀。以水三升。煮取一升。去滓。內芒硝。更上火微煮令沸。少少溫服。</p>
<p>旋覆花代赭石湯　旋覆花　甘草（各三兩）　代赭石（一兩）　人參（二兩）　半夏（半升）　生薑（五兩）　大棗（十二枚）　上七味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>橘皮湯　橘皮（四兩）　生薑（半斤）　上二味。以水七升。煮取三升。溫服一升。下咽即愈。</p>
<p>橘皮竹茹湯　橘皮（二斤一作升）　生薑（半斤）　竹茹（二升）　大棗（三十枚）　甘草（五兩）　人參（一兩）　上六味。以水一斗。煮取三升。溫服一升。日三服。</p>
<p>小承氣湯　大黃（四兩）　枳實（三枚）　厚朴（二兩）　已上三味。以水四升。煮取一升二合。去滓。分溫二服。初服湯當更衣。不爾者盡飲之。若更衣者勿服之。</p>
<p>大承氣湯　大黃（四兩）　厚朴（半斤）　枳實（五枚）　芒硝（三合）　上四味。以水一斗。先煮二物。取五升。去滓。內大黃。煮取二升。去滓。內芒硝。更上火微一兩沸。分溫再服。得下余勿服。</p>
<p>桂枝附子湯　桂枝（四兩）　大棗（十二枚）　甘草　生薑（各三兩）　附子（二枚）　上五味。以水六升。煮取二升。去滓。分溫三服。</p>
<p>桂枝附子去桂加朮湯　去桂加朮四兩　上五味。以水三升。煮取一升。去滓。分溫三服。一服覺身痹。半日許再服。三服都盡。其人如冒狀。勿怪。即朮附並走皮中逐水氣未得除故耳。</p>
<p>蜜煎導　蜜（七合）　上一味。內銅器中。微火煎之。稍凝似飴狀。擾之勿焦。著欲可丸。並手捻作挺。令頭銳大。如指長二寸許。當熱時。急作冷則硬。以內穀道中。以手急抱。欲大便時。乃去之。</p>
<p>豬膽汁方　大豬膽（一枚）　瀉汁和醋少許。以灌穀道中。如一食頃。當大便出。</p>
<p>麻仁丸　麻子仁（二升）　芍藥（半斤）　厚朴（一尺）　枳實（半斤）　大黃（一斤）　杏仁（一升）　上六味末之。煉蜜和丸。梧子大。飲服十丸。日三服。漸加。以知為度。</p>
<p>厚朴三物湯　厚朴（八兩）　枳實（五枚）　大黃（四兩）　上三味。以水一斗二升。先煮二味。取五升。內大黃。煮取三升。溫服一升。以利為度。</p>
<p>抵當湯　水蛭　虻蟲（各三十個）　桃仁（二十個）　大黃（三兩）　上四味為末。以水五升。煮取三升。去滓。溫服一升。不下再服。</p>
<p>茯苓戎鹽湯　茯苓（半斤）　戎鹽（彈丸大一枚）　術（二兩）　上三味。先將茯苓朮煎成。入鹽再煎。分溫三服。</p>
<p>蒲灰散　蒲灰（七分）　滑石（二分）　上二味。杵為散。飲服方寸匕。日三服。</p>
<p>滑石白魚散　滑石　白魚（各二分）　亂髮燒（二分）　上三味。杵為散。飲服方寸匕。日三服。</p>
<p>桃花湯　赤石脂（一斤）　乾薑（一兩）　粳米（一升）　上三味。以水七升。煮米令熟。去滓。溫服七合。內赤石脂末方寸匕。日三服。一服愈。勿服。</p>
<p>八味丸　乾地黃（八兩）　澤瀉　茯苓（各三兩）　山茱萸　薯蕷（各四兩）　桂枝　附子（各一兩）　牡丹皮（三兩）　上八味。末之。煉蜜和丸。梧子大。酒下十五丸。日再服。</p>
<p>桂枝甘草附子湯　甘草　術（各二兩）　附子（二枚）　桂枝（四兩）　上四味。以水六升。煮取三升。去滓。溫服一升。日三服。初服得微汗則愈。</p>
<p>葵子茯苓散　葵子（一斤）　茯苓（三兩）　上二味。杵為散。飲服方寸匕。日三服。小便利則愈。</p>
<p>越婢湯　麻黃（六兩）　石膏（半斤）　生薑（三兩）　甘草（二兩）　大棗（十五枚）　上五味。以水六升。先煮麻黃。上去沫。內諸藥。煮取三升。分溫三服。</p>
<p>越婢加朮湯　加朮四兩又加附子一枚</p>
<p>越婢加半夏湯　加半夏半斤</p>
<p>大黃硝石湯　大黃　硝石　黃蘗（各四兩）　梔子（十五枚）　上四味。以水六升。煮取三升。去滓。內硝石。更煎。取一升頓服。</p>
<p>茵陳蒿湯　茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）　上三味。以水一斗。先煮茵陳。減六升。內二味。煮取三升。去滓。分溫三服。小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。</p>
<p>小建中湯　桂枝　甘草　生薑（各二兩）　芍藥（六兩）　大棗（十二枚）　膠飴（一升）　上六味。以水七升。煮取三升。去滓。內膠飴。更上微火消解。溫服一升。日三服。</p>
<p>茈胡桂枝幹薑湯　茈胡（半斤）　甘草（二兩）　黃芩　乾薑　桂枝　牡蠣（各三兩）　栝蔞根（四兩）　上七味。以水一斗二升。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>茈胡加龍骨牡蠣湯　茈胡（四兩）　半夏（二合）　人參　桂枝　龍骨　牡蠣　茯苓　鉛丹　生薑（各一兩半）　大黃（二兩）　大棗（六枚）　上十一味。以水八升。煮取四升。內大黃更煮取二升。去滓。溫服一升。</p>
<p>栝蔞瞿麥丸　栝蔞根（二兩）　瞿麥（一兩）　附子（一枚）　茯苓　薯蕷（各三兩）　上五味末之。煉蜜丸。梧子大。飲服三丸。日三服。不知。增至七八丸。以小便利腹中溫為知。</p>
<p>苓桂五味甘草湯　茯苓　桂枝（各四兩）　五味子（半升）　甘草（三兩）　上四味。以水八升。煮取三升。去滓。分溫三服。</p>
<p>歸母苦參丸　當歸　貝母　苦參（各四兩）　上三味末之。煉蜜丸。如小豆大。飲服三丸。加至十丸。</p>
<p>大黃甘遂湯　大黃（四兩）　甘遂　阿膠（各二兩）　上三味。以水三升。煮取一升。頓服之。其血當下。</p>
<p>苓薑朮甘湯　茯苓　乾薑（各四兩）　術　甘草（各二兩）　上四味。以水五升。煮取三升。分溫三服。腰中即溫。</p>
<p>芍藥甘草湯　芍藥　甘草（各四兩）　上二味。㕮咀。以水三升。煮取一升半。去滓。分溫再服之。</p>
<p>大黃牡丹湯　大黃（四兩）　牡丹（一兩）　桃仁（五十個）　瓜子（半升）　芒硝（三合）　上五味。以水六升。煮取一升。去滓。內芒硝。再煎沸。頓服之。有膿當下。如無膿當下血。</p>
<p>抵當丸　水蛭（二十個）　虻蟲（二十五個）　桃仁（二十個）　大黃（三兩）　上四味。杵分為四丸。以水一升。煮一丸。取七合。服之。晬時當下血。若不下。更服。</p>
<p>苓桂朮甘湯　茯苓（四兩）　桂枝（三兩）　術（二兩）　甘草（二兩）　上四味。以水六升。煮取三升。去滓。分溫三服。</p>
<p>苓甘姜味辛夏仁黃湯　茯苓（四兩）　甘草（三兩）　乾薑（三兩）　五味子（半升）　細辛（三兩）　半夏　杏仁（各半升）　大黃（三兩）　上八味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>大建中湯　蜀椒（二合）　乾薑（四兩）　人參（二兩）　上三味。以水四升。煮取二升。去滓。內膠飴一升。微火煮取一升半。分溫再服。如一炊頃。可飲粥二升。後更服。當一日飲糜溫覆之。</p>
<p>瓜蒂散　瓜蒂　赤小豆（各一分）　上二味。各別搗篩為散。已合治之。取一錢匕。以香豉一合。用熱湯七合。煮作稀糜。去滓。取汁。和散。溫頓服之。不吐者少少加。得吐乃止。</p>
<p>麥門冬湯　麥門冬（七升）　半夏（一升）　人參　甘草（各二兩）　粳米（三合）　大棗（十枚）　上六味。以水一斗二升。煮取六升。溫服一升。日三服。夜一服。</p>
<p>葶藶大棗湯　葶藶搗丸如彈丸大　大棗（十二枚）　上先以水三升煮棗。取二升。去滓。內葶藶煮取一升。頓服。</p>
<p>桂枝枳實生薑湯　桂枝　生薑（各三兩）　枳實（五枚）　上三味。以水六升。煮取三升。分溫三服。</p>
<p>枳實薤白桂枝湯　枳實（四枚）　厚朴（四兩）　栝蔞實（一枚）　薤白（半斤）　桂枝（一兩）　上五味。以水五升。先煮枳樸取二升。去滓。內諸藥。數沸。分溫三服。</p>
<p>三物備急丸　大黃　乾薑（各一兩）　巴豆（一分）　上藥各須精新。先搗大黃乾薑為末。研巴豆內中合治一千杵。用為散。蜜和丸亦佳。密器中貯之。莫令泄氣。</p>
<p>走馬湯　巴豆　杏仁（各二枚）　上二味。以綿纏槌令碎。熱湯二合。捻取白汁飲之。當下。老少量之。</p>
<p>當歸芍藥散　當歸（三兩）　芍藥（一斤）　茯苓　術（各四兩）　澤瀉（半斤）　芎藭（半斤一作三兩）　上六味。杵為散。取方寸匕。酒和。日三服。</p>
<p>芎歸膠艾湯　芎藭（二兩）　阿膠　甘草　艾葉　當歸（各二兩）　乾地黃（六兩）　芍藥（四兩）　上七味。以水五升。清酒五升。合煮取三升。去滓。內膠令消盡。溫服一升。日三服。不差更作。</p>
<p>枳實芍藥散　枳實　芍藥（各等分）　上二味。杵為散。服方寸匕。日三服。並主癰膿。以麥粥下之。</p>
<p>下瘀血湯　大黃（二兩）　桃仁（二十個）　䗪蟲（二十枚）　上三味。末之。煉蜜和為四丸。以酒一升。煎一丸。取八合。頓服之。新血下如豚肝。</p>
<p>烏頭桂枝湯　烏頭（五枚）　上一味。以蜜二升。煎減半。去滓。以桂枝湯五合解之。得一升後。初服二合。不知即服三合。又不知復加至五合。其知者如醉狀。得吐為中病。</p>
<p>大烏頭煎　烏頭（大者五枚）　上以水二升。煮取一升。去滓。內蜜二升。煎令水氣盡。取二升。強人服七合。弱人五合。不差。明日更服。不可一日再服。</p>
<p>烏頭湯　麻黃　芍藥　黃耆　甘草（各三兩）　川烏頭五枚。㕮咀。以蜜二升煎取一升。即出烏頭。　上五味。㕮咀。四味以水三升煮取一升。去滓。內蜜煎中。更煎之。服七合。不知。盡服之。</p>
<p>當歸生薑羊肉湯　當歸（三兩）　生薑（五兩）　羊肉（一斤）　上三味。以水八升。煮取三升。溫服七合。日三服。</p>
<p>當歸建中湯　當歸（四兩）　芍藥（六兩）　桂枝　生薑（各三兩）　甘草（二兩）　大棗（十二枚）　上六味。以水一斗。煮取三升。分溫三服。加飴糖六兩。湯成內之於火上。暖令飴消。</p>
<p>厚朴七物湯　厚朴（半斤）　枳實（五枚）　甘草　大黃（各三兩）　桂枝（二兩）　生薑（五兩）　大棗（十枚）　上七味。以水一斗。煮取四升。溫服八合。日三服。</p>
<p>厚朴生薑甘草半夏人參湯　半夏（半升）　厚朴　生薑（各半斤）　人參（一兩）　甘草（二兩）　上五味。以水一斗。煮取三升。去滓。溫服一升。日三服。</p>
<p>己椒藶黃丸　防己　椒目　大黃　葶藶（各一兩）　上四味末之。蜜丸如梧子大。先食飲服一丸。日三服。稍增。</p>
<p>梔子厚朴湯　梔子（十四枚）　厚朴（四兩）　枳實（四枚）　以上三味。以水三升半。煮取一升半。去滓。分三服。溫服。</p>
<p>梔子豉湯　梔子（十四枚）　香豉（四合）　上二味。以水四升。先煮梔子得二升半。內豉煮取一升半。去滓。分為二服。溫進一服。得吐者止後服。</p>
<p>硝礬散　硝石　礬石（各等分）　上二味為末。以大麥粥汁和服方寸匕。日三服。病隨大小便去。小便正黃。大便正黑。是候也。</p>
<p>桃核承氣湯　桃仁（五十個）　大黃（四兩）　桂枝　芒硝　甘草（各二兩）　上五味。以水七升。煮取二升半。去滓。內芒硝。更上火微沸。下火先食。溫服五合。日三服。當微利。</p>
<p>天雄散　天雄　龍骨（各三兩）　桂枝（六兩）　術（八兩）　上四味。杵為散。酒服半錢匕。日三服。不知。稍增之。</p>
<p>大陷胸湯　大黃（六兩）　芒硝（一升）　甘遂（一錢）　上三味。以水六升。先煮大黃取二升。去滓。內芒硝煮一兩沸。內甘遂末。溫服一升。得快利。止後服。</p>
<p>土瓜根散　土瓜根　芍藥　桂枝　䗪蟲（各三兩）　上四味。杵為散。酒服方寸匕。日三服。</p>
<p>大陷胸丸　大黃（半斤）　葶藶（半升）　芒硝　杏仁（各半升）　上四味。搗篩二味。內杏仁芒硝。合研如脂。和散。取如彈丸一枚。別搗甘遂末一錢匕。白蜜二合。水二升。煮取一升。溫頓服之。一宿乃下。如不下。更服。取下為度。</p>
<p>小陷胸湯　黃連（一兩）　半夏（半升）　栝蔞實（大者一枚）　上三味。以水六升。先煮栝蔞取三升。去滓。內諸藥。取二升。去滓。分溫三服。</p>
<p>茯苓杏仁甘草湯　茯苓（三兩）　杏仁（五十個）　甘草（一兩）　上三味。以水一斗。煮取五升。溫服一升。日三服。不差。更服。</p>
<p>橘皮枳實生薑湯　橘皮（一斤）　生薑（半斤）　枳實（三兩）　上三味。以水五升。煮取二升。分溫再服。</p>
<p>薏苡附子散　薏苡仁（十五兩）　附子（十枚）　上二味。杵為散。方寸匕。日三服。</p>
<p>栝蔞薤白半夏湯　栝蔞實（一枚）　薤白（三兩）　半夏（半升）　白酒（一斗）　上四味。同煮。取四升。溫服一升。日三服。</p>
<p>栝蔞薤白白酒湯　栝蔞實（一枚）　薤白（半升）　白酒（七升）　上三味同煮。取二升。分服。再服。</p>
<p>桂枝人參湯　桂枝　甘草（各四兩）　術　人參　乾薑（各三兩）　上五味。以水九升。先煮四味。取五升。內桂。更煮。取三升。溫服一升。日再服。夜一服。</p>
<p>赤石脂禹餘糧湯　赤石脂（一斤）　禹餘糧（一斤）　以上二味。以水六升。煮取二升。去滓。三服。</p>
<p>大黃黃連瀉心湯　大黃（二兩）　黃連（一兩）　上二味。以麻沸湯二升漬之。須臾絞去滓。分溫再服。</p>
<p>瀉心湯　大黃（二兩）　黃連　黃芩（各一兩）　上三味。以水三升。煮取一升。頓服之。</p>
<p>附子瀉心湯　黃連　黃芩（各一兩）　大黃（二兩）　附子（一枚）　上四味。切三味。以麻沸湯二升漬之。須臾絞去滓。內附子汁。分溫再服。</p>
<p>木防己湯　木防己（三兩）　石膏（雞子大十二枚）　桂枝（二兩）　人參（四兩）　上四味。以水六升。煮取二升。分溫再服。</p>
<p>木防己去石膏加茯苓芒硝湯　去石膏加茯苓四兩芒硝三合</p>
<p>桂薑棗草黃辛附湯　桂枝　生薑　甘草　麻黃（各三兩）　細辛（二兩）　大棗（十二枚）　附子（一枚）　上七味。以水七升。煮麻黃去上沫。內諸藥。煮取二升。分溫三服。當汗出如蟲行皮中。即愈。</p>
<p>枳朮湯　枳實（七枚）　術（二兩）　上二味。以水五升。煮取三升。分溫三服。腹中耎。即當散也。</p>
<p>甘遂半夏湯　甘遂（三枚）　半夏（十二枚）　芍藥（五枚）　甘草（指大一枚）　上四味。以水二升。煮取半升。去滓。以蜜半升。和藥汁煎取八合。頓服之。</p>
<p>赤丸　茯苓　半夏（各四兩一方用桂）　烏頭　細辛（各二兩）　上四味末之。內真朱為色。煉蜜丸。如麻子大。先食酒飲下三丸。日再服。夜一服。不知。消增之。以知為度。</p>
<p>麻黃湯　麻黃（三兩）　桂枝（二兩）　甘草（一兩）　杏仁（七十個）　上四味。以水九升。煮麻黃減二升。去上沫。內諸藥。煮取二升半。去滓。溫服八合。覆取微汗。</p>
<p>厚朴大黃湯　厚朴（一尺）　大黃（六兩）　枳實（四枚）　上三味。以水二升。煮取一升。分溫再服。</p>
<p>苓甘五味姜辛湯　茯苓（四兩）　甘草　乾薑　細辛（各三兩）　五味子（半升）　上五味。以水八升。煮取三升。去滓。溫服半升。日三服。</p>
<p>葦莖湯　葦莖（二升）　桃仁（五十枚）　薏苡仁　瓜瓣（各半升）　上四味。以水一斗。先煮葦莖得五升。去滓。內諸藥煮取二升。服一升。再服當吐如膿。</p>
<p>大黃附子湯　大黃（三兩）　附子（三枚）　細辛（二兩）　上三味。以水五升。煮取二升。分溫三服。若強人煮取二升半。分溫三服。服後如人行四五里進一服。</p>
<p>半夏麻黃丸　半夏　麻黃（各等分）　上二味末之。煉蜜和丸。小豆大。飲服三丸。日三服。</p>
<p>茯苓甘草湯　茯苓　桂枝（各二兩）　甘草（一兩）　生薑（三兩）　上四味。以水四升。煮取二升。去滓。分溫三服。</p>
<p>桂枝甘草湯　桂枝（四兩）　甘草（二兩）　上二味。以水三升。煮取一升。去滓頓服。</p>
<p>苓桂甘棗湯　茯苓（半斤）　桂枝（四兩）　甘草（三兩）　大棗（十五枚）　上四味。以甘爛水一斗。先煮茯苓。減二升。內諸藥。煮取三升。去滓。溫服一升。日三服。作甘爛水法。取水二斗。置大盆內。以杓揚之。水上有珠子五六千顆相逐。取用之。</p>
<p>大青龍湯　麻黃（六兩）　桂枝　甘草（各二兩）　杏仁（四十個）　生薑（三兩）　大棗（十二枚）　石膏（雞子大）　上七味。以水九升。先煮麻黃減二升。去上沫。內諸藥。煮取二升。去滓。溫服一升。取微似汗。</p>
<p>桂枝二越婢一湯　桂枝　芍藥　甘草　麻黃（各十八銖）　生薑（一兩三銖）　石膏（二十四銖）　大棗（四枚）　上七味㕮咀。以五升水煮麻黃一二沸。去上沫。內諸藥。煮取二升。去滓。溫服一升。</p>
<p>桂枝麻黃各半湯　桂枝（一兩十六銖）　麻黃　芍藥　甘草　生薑（各一兩）　杏仁（二十四個）　大棗（四枚）　上七味。以水五升。先煮麻黃一二沸。去上沫內諸藥。煮取一升八合。去滓。溫服六合。</p>
<p>芍藥甘草附子湯　芍藥　甘草（各三兩）　附子（一枚）　已上三味。以水五升。煎取一升五合。去滓分溫服。</p>
<p>附子湯　附子（二枚）　人參（二兩）　術（四兩）　茯苓　芍藥（各三兩）　上五味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>防己黃耆湯　防己（四兩）　黃耆（五兩）　術　生薑（各三兩）　甘草（二兩）　大棗（十二枚）　上六味。以水六升。煮取三升。分溫三服。</p>
<p>白虎加人參湯　於白虎湯方內加人參三兩</p>
<p>蜀漆散　蜀漆　雲母　龍骨（各等分）　上三味。杵為散。未發前以漿服半錢。</p>
<p>牡蠣湯　牡蠣　麻黃（各四兩）　甘草（二兩）　蜀漆（三兩）　上四味。以水八升。先煮麻黃蜀漆。去上沫。得六升。內諸藥。煮取二升。若吐。則勿更服。</p>
<p>白通湯　蔥白（四莖）　乾薑（一兩）　附子（一枚）　上三味。以水三升。煮取一升。去滓。分溫再服。</p>
<p>白虎湯　知母（六兩）　石膏（一斤）　甘草（二兩）　粳米（六合）　上四味。以水一斗。煮米熟湯成。去滓溫服一升。日三服。</p>
<p>當歸四逆湯　當歸　桂枝　芍藥（各三兩）　細辛　通草　甘草（各二兩）　大棗（二十五個）　上七味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>當歸四逆加吳茱萸生薑湯　加吳茱萸（二升）　生薑（半斤）　上九味。以水六升。清酒六升。和煮取五升。去滓。溫服。分五服。一方水酒各四升。</p>
<p>烏梅丸　烏梅（三百個）　細辛（六兩）　乾薑（十兩）　黃連（一斤）　當歸　蜀椒（各四兩）　附子　桂枝　人參　黃蘗（各六兩）　上十味。異搗篩合治之。以苦酒漬烏梅一宿。去核蒸之。五斗米下飯熟搗成泥。和藥令相得。內臼中。與蜜杵二千下。丸如梧桐子大。先食飲服十丸。日三服。稍加至二十丸。</p>
<p>桂枝甘草龍骨牡蠣湯　桂枝（一兩）　甘草　龍骨　牡蠣（各二兩）　上四味。以水五升。煮取二升半。去滓。溫服八合。日三服。</p>
<p>酸棗仁湯　酸棗仁（二升）　甘草（一兩）　知母　芎藭　茯苓（各二兩）　上五味。以水八升。煮酸棗仁得六升。內諸藥。煮取三升。分溫三服。</p>
<p>乾薑附子湯　乾薑（一兩）　附子（一枚）　上二味。以水三升。煮取一升。去滓頓服。</p>
<p>黃連阿膠湯　黃連（四兩）　阿膠（三兩）　芍藥（二兩）　黃芩（一兩）　雞子黃（二枚）　上五味。以水五升。先煮三物。取二升。去滓。內膠烊盡。少冷。內雞子黃攪令相得。溫服七合。日三服。</p>
<p>豬膚湯　豬膚（一斤）　上一味。以水一斗。煮取五升。去滓。加白蜜一升。白粉五合。熬香和相得。溫分六服。</p>
<p>麻黃加朮湯　於麻黃湯方內加朮四兩</p>
<p>三物黃芩湯　黃芩（一兩）　苦參（二兩）　乾地黃（四兩）　上三味。以水六升。煮取二升。溫服。多吐下蟲。</p>
<p>梔子乾薑湯　梔子（十四枚）　乾薑（二兩）　以上二味。以水三升半。煮取一升半。去滓。分二服。溫進一服。</p>
<p>桂枝二麻黃一湯　桂枝（一兩十七銖）　芍藥（一兩六銖）　麻黃（十六銖）　生薑（一兩六銖）　杏仁（十六個）　甘草（一兩二銖）　大棗（五枚）　上七味。以水五升。先煮麻黃一二沸。去上沫。內諸藥。煮取二升。去滓。溫服一升。日再服。</p>
<p>麻黃杏仁甘草石膏湯　麻黃（四兩）　杏仁（五十個）　甘草（二兩）　石膏（半斤）　上四味。以水七升。先煮麻黃減二升。去上沫。內諸藥。煮取二升。去滓。溫服一升。</p>
<p>黃耆桂枝苦酒湯　黃耆（五兩）　桂枝　芍藥（各三兩）　上三味。以苦酒一升。水七升。相和。煮取三升。溫服一升。當心煩。服至六七日乃解。若心煩不止者。以苦酒隔故也。</p>
<p>麻黃杏仁薏苡甘草湯　麻黃　薏苡仁（各半兩）　甘草（一兩）　杏仁（十個）　上銼麻豆大。每服四錢匕。水盞半。煮八分。去滓溫服。</p>
<p>頭風摩散　大附子（一枚）　鹽（等分）　上二味為散。沐了以方寸匕已摩疾上。令藥力行。</p>
<p>茈胡去半夏加栝蔞湯　於小茈胡湯方內去半夏加栝蔞根四兩</p>
<p>白頭翁湯　白頭翁（二兩）　黃柏　黃連　秦皮（各三兩）　上四味。以水七升。煮取二升。去滓。溫服一升。不愈。更服一升。</p>
<p>白頭翁加甘草阿膠湯　加甘草　阿膠（各二兩）</p>
<p>文蛤湯　文蛤　石膏（各五兩）　麻黃　甘草　生薑（各三兩）　杏仁（五十個）　大棗（十二枚）　上七味。以水六升。煮取二升。溫服一升。汗出即愈。</p>
<p>澤瀉湯　澤瀉（五兩）　術（二兩）　上二味。以水二升。煮取一升。溫再服。</p>
<p>雞屎白散　雞屎白　上一味。為散。取方寸匕。以水六合。和溫服。</p>
<p>葛根黃連黃芩湯　葛根（半斤）　黃連（三兩）　黃芩　甘草（各二兩）　上四味。以水八升。先煮葛根減二長。內諸藥。煮取二升。去滓。分溫再服。</p>
<p>一物瓜蒂湯　瓜蒂（二十個）　上銼以水一升。煮取五合。去滓頓服。</p>
<p>麻黃醇酒湯　麻黃（三兩）　上一味。以美清酒五升。煮取二升半。頓服盡。</p>
<p>豬膏發煎　豬膏（半斤）　亂髮（如雞子大三枚）　上二味。和膏中煎之。發消藥成分再服。病從小便出。</p>
<p>梔子蘗皮湯　梔子（十五枚）　黃蘗（二兩）　甘草（一兩）　上三味。以水四升。煮取一升半。去滓。分溫再服。</p>
<p>麻黃連軺赤小豆湯　麻黃　連翹　生薑（各二兩）　甘草（一兩）　赤小豆　生梓白皮（各一升）　杏仁（四十個）　大棗（十二枚）　以上八味。以潦水一斗。先煮麻黃再沸。去上沫。內諸藥。煮取三升。分溫三服。半日服盡。</p>
<p>梔子大黃豉湯　梔子（十二枚）　大黃（一兩）　枳實（五枚）　豉（一升）　上四味。以水六升。煮取二升。分溫三服。</p>
<p>麻黃甘草湯　麻黃（四兩）　甘草（二兩）　上二味。以水五升。先煮麻黃去上沫。內甘草。煮取三升。溫服一升。</p>
<p>防己茯苓湯　防己　黃耆　桂枝（各三兩）　甘草（二兩）　茯苓（六兩）　上五味。以水六升。煮取二升。分溫三服。</p>
<p>麻黃附子甘草湯　麻黃　甘草（各二兩）　附子（一枚）　上三味。以水七升。先煮麻黃一兩沸。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>黃耆建中湯　於小建中湯方內加黃耆一兩半</p>
<p>苓甘姜味辛夏仁湯　茯苓（四兩）　甘草　乾薑　細辛（各三兩）　五味子　半夏　杏仁（各半升）　上七味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>牡蠣澤瀉散　牡蠣　澤瀉　栝蔞根　商陸根　蜀漆　葶藶　海藻（各等分）　上七味。異搗下篩為散。更入臼中治之。白飲和服方寸匕。小便利。止後服。日三服。</p>
<p>梔子甘草豉湯　於梔子豉湯內加入甘草二兩</p>
<p>半夏散及湯　半夏　桂枝　甘草（各等分）　以上三味。各別搗篩。已合治之。白飲和服方寸匕。日三服。若不能散服者。以水一升。煎七沸。內散兩方寸匕。更煎三沸。下火令冷。少少咽之。</p>
<p>甘草湯　甘草（二兩）　上一味。以水三升。煮取一升半。去滓。溫服七合。日二服。</p>
<p>苦酒湯　半夏（十四枚）　雞子（一枚）　上二味。內半夏著苦酒中。以雞子殼置刀環中。安火上。令三沸。去滓。少少含咽之。不差。更作三劑。</p>
<p>柏葉湯　柏葉　乾薑（各二兩）　艾（三把）　上三味。以水五升。取馬通汁一升。合煮取一升。分溫再服。</p>
<p>黃土湯　甘草　乾地黃　附子　術　阿膠　黃芩（各三兩）　灶中黃土（半斤）　上七味。以水八升。煮取三升。分溫二服。</p>
<p>赤小豆當歸散　當歸（十兩）　赤小豆（三升）　上二味。杵為散。漿水服方寸匕。日三服。</p>
<p>桂枝茯苓丸　桂枝　茯苓　牡丹　桃仁　芍藥（各等分）　上五味末之。煉蜜和丸。如兔屎大。每日食前服一丸。不知加至三丸。</p>
<p>礬石丸　礬石（三分）　杏仁（一分）　上二味末之。煉蜜和丸。棗核大。內藏中。劇者再內之。</p>
<p>黃耆桂枝五物湯　黃耆　桂枝　芍藥（各三兩）　生薑（六兩）　大棗（十枚）　上五味。以水六升。煮取二升。溫服七合。日三服。</p>
<p>雄黃薰　雄黃　上一味為末。筒瓦二枚。合之。燒向肛熏之。</p>
<p>蝕齒方　雄黃　葶藶　上二味。末之。取臘日豬脂熔之。以槐枝綿裹頭四五枚。點藥烙之。</p>
<p>蛇床子散　蛇床子　上一味末之。以白粉少許。和令相得。如棗大。綿裹內之。自然溫。</p>
<p>狼牙湯　狼牙（三兩）　上一味。以水四升。煮取半升。以綿纏箸如繭浸湯瀝陰中。日四遍。</p>
<p>蜘蛛散　蜘蛛（十四枚）　桂枝（半兩）　上二味為散。取八分一匕飲和服。日再服。蜜丸亦可。</p>
<p>枳實梔子豉湯　枳實（三枚）　梔子（十四枚）　豉（一升）　上三味。以清漿水七升。空煮取四升。內枳實梔子煮取二升。下豉更煮五六沸。去滓溫分再服。覆令微似汗。</p>
<p>甘麥大棗湯　甘草（三兩）　小麥（一升）　大棗（十枚）　上三味。以水六升。煮取三升。分溫三服。</p>
<p>礬石湯　礬石（二兩）　上一味。以漿一斗五升。煎三五沸。浸腳良。</p>
<p>苦參湯　苦參（半斤）　槐白皮　狼牙根（各四兩）　上銼以水五升。煎三升半洗之。</p>
<p>薏苡附子敗醬散　薏苡仁（十分）　附子（二分）　敗醬（五分）　上三味。杵為散取方寸匕。以水二升。煎減半頓服。</p>
<p>排膿湯　甘草（二兩）　桔梗（三兩）　生薑（一兩）　大棗（十枚）　上四味。以水三升。煮取一升。溫服五合。日再服。</p>
<p>排膿散　枳實（十六枚）　芍藥（六分）　桔梗（二分）　上三味。杵為散。取雞子黃一枚。以藥散與雞黃相等。揉和令相得。飲和服之。日一服。</p>
<p>茵陳五苓散　茵陳蒿末（十分）　五苓散（五分）　上二物。和先食飲方寸匕。日三服。</p>
<p>杏子湯　方未見。</p>

<h1>跋</h1>
<p>夫以唐宋以來。長沙道衰。世之習醫者。唯宗李朱焉。噫。不塞不流。滔滔者皆是也。獨我友張海田氏專精學醫。托志仲景氏。常自謂人是活物也。治方之妙在於此。此語豈容易也哉。此篇甫成。質諸東洞先生。先生大喜之。因將副一序。亡幾先生逝矣。其文亦不成焉。於今為憾。予在同社親與聞此事。因作一言。證張海子費力此書之始末云。</p>
<p><u>天明三年癸卯仲夏播磨醫瞽松下原正跋</u></p>

<h1>長沙正經證匯後序</h1>
<p>古之良醫者。不察聲形。而分病之在膏肓矣。故苟欲為良醫者。必先方法焉。曩日吾　張海先生就傷寒金匱二經。因證立門聚方。其亦示以人。小子名曰長沙正經證匯。閟而不出者數年所焉。古人所謂方證相的當者。目擊道存矣。雖秦漢疾醫。豈亦外於此也乎。頃日請之　先生。再加釐正。且附方劑書卷末肇縷梓。庶乎使後學之士。解方證疑惑之憂焉爾。若夫　先生之微旨。則有逢原一書。不具於此。於時寬政二年庚戌季春日受業門人浪速奧田元純謹題並書</p>
