<header data-type="book">
<h1>嬰兒論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周士禰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1778">公元1778年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_01155/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>人之所愛。莫有過愛子者也。而受之至。不能無所憂。憂之至。莫有過憂其疾者也。唯其疾是憂。不知所以除之之道而可乎。傳云。有疾不擇醫。為不慈不孝。夫苟飲免不慈不孝之譏。且莫如擇醫之良矣。夫醫之為技。不專其科。則不能得也。志分道岐。盼一生技亦不能精也。如甘繩之射。甯越之學。輪扁之劉輪。佝僂丈人之承蜩。可以觀也已。自非神完守固。外物不膠考。何能有慧解哉。是以醫之為技。專門之士而往往有良言。平安廣川子。專業啞科。來遊於吾崎。留二歲。術日大行。即越人之通咸陽也。予頞好方脈之書。廣川子清與予交。每或相會。輒及脈家之說。一日攜清人周士稱嬰兒論。告曰。某曩購此書。實為獲異寶。玩而驗之嚴驚疳癖諸症。率皆無不奇中。周氏之於小方脈。可謂精矣。予欲附之剞劂。以公於天下。子幸賜弁一言。可以行遠也。予受卒業。乃欲曰。周氏之精啞科。猶業生鑑病於鏡。臟腑癥結。瞭然可知也。蓋神完守固。外物不膠。而後得者也。廣川子之獲之。亦不異越人之遇長桑君。斯筆之行也。天下之受其子。而憂其疾者。必延熟斯書之醫。則亦可不謂知所擇哉。支然後庶哉免不慈之飢矣乎。</p>
<p><u>寬政丁己孟陬望日長崎吉村正隆士興題</u></p>

<h1>辨初生脈證並治第一</h1>
<p>兒初生。肌膚至紅。啼聲吃吃。胸腹堅硬者。此為熱毒所致。兒生下。身體石硬。啼聲沉濁者。此為寒毒所致。兒落草。肌肉淡白。啼聲微細者。此為虛質。難養也。兒始生。發黑體實。遍身順和。啼聲高朗者。為無病也。兒口內含瘀濁。先急拭去。而宜與甘連湯。以吐若瀉也。初生肌膚淡白。啼聲虛微者。為血氣所虧也。宜五香湯主之。</p>
<p><u>五香湯方</u></p>
<p>丁香（三分）　藿香（二分）　木香（二分）　沉香（三分）　紅花（三分）　甘草（二分）</p>
<p>上六味。以沸湯五合漬之。須臾絞去滓。分溫服。兒為純陽。若身紅如然。及胸腹石硬者。宜甘連湯主之。</p>
<p><u>甘連湯方</u></p>
<p>甘草（三分）　黃連（二分）　大黃（三分）</p>
<p>上三味。以沸湯漬之。須臾絞去滓。用綿纏子釀。以令兒吮之。兒初生無脈。周時微動也。嬰兒脈。大指下六七至。是為常脈也。兒脈。亂髫一息七八至。為無病也。童草脈。一息五六至。為常脈也。兒初生。二晬時。則與乳而可。若速與乳。則使毒內伏。遂為瘡疹之病也。兒生下。黑便當續出。若稠黏而少者。甘連加大黃湯主之。兒落草。胸腹石硬者。為毒多。宜攻擊方。兒濁便竭者。可與乳餌。不竭者。未可與乳餌。若誤與者。後必致胎毒之病也。兒初浴後。六日而浴。爾後隔日而浴。三七後減浴。若妄浴者。致風寒之病也。落臍後濕爛者。為惡侯也。桃花箋傳之。兒初生。妄灸者發驚。無病不可逆灸也。落帶後。欲浴者。宜文蛤油敷之。</p>
<p><u>文蛤油方</u></p>
<p>川文蛤（一錢）　甘草（一分）</p>
<p>上二味研篩。調清油敷之。</p>
<p>兒初生。臍瘡出血。啼叫不安者。以白石脂研敷之。兒初生。乳汁稀少。飼以它物則致乳癖。或驚疳瀉痢之病也。兒初生。遍身微冷。啼聲不發者。宜蜜附湯主之。</p>
<p><u>蜜附湯方</u></p>
<p>人參（三分）　蜜香（三分）　附子（二分）　乾薑（二分）</p>
<p>上五味。以水一升。煮取七合。去滓分溫服。</p>
<p>兒初生。哺飯者。以周歲為可。法用陳米飯。始哺之。要研爛如泥。與乳每日與一二匙。漸至完飯。兒四五歲者。不與乳而無妨。二三歲者。未可斷乳。若強斷。則致疳癖之病也。兒顱門跳動者。為筋骨不實。宜五香加殭蠶湯主之。</p>
<p>兒身體羸弱。肌膚乾燥者。宜活血湯主之。</p>
<p><u>活血湯方</u></p>
<p>當歸（一錢）　芍藥（一錢）　紅曲（五分）　甘草（三分）</p>
<p>上四味。以水一升。煮取七合。去滓分溫服。</p>
<p>兒顱成八字。名解顱此為缺乳所致也。</p>
<p>兒溏瀉。真陽必陷降。遂致囟陷者。健骨湯主之。</p>
<p>兒語遲屬口軟。行遲屬腳軟。此為體氣虛缺所致。宜健骨湯主之。</p>
<p><u>健骨湯方</u></p>
<p>人參（二分）　當歸（五分）　白殭蠶（五分）　連蕊（二分）　野蠶（三分）　甘草（二分）　生薑（二分）</p>
<p>上七味。以水一升。煮取七合。去滓分溫服。兒口瘡加雪。為白雪瘡。腹中飢欲乳。口為妨。用羅纏指頭。釀薄荷湯。以屢拭。宜火濟湯。</p>
<p><u>火濟湯方</u></p>
<p>黃連（三分）　黃芩（三分）　黃柏（二分）　梔子（二分炒）　茉莉白（二分）</p>
<p>上五味以水一升。煮四味。取七合。去滓內茉莉白。攪調分溫服。</p>
<p>兒鵝口者。即白雪瘡也。若喉內腫者。名乳蛾。有雙單。俱胎毒熱灼所致。宜火炭母湯。</p>
<p><u>火炭母湯方</u></p>
<p>火炭母（一錢）　大黃芒消（各三分）　桔梗（五分）　甘草（二分）</p>
<p>上五味。以水一升。煮四味。取七合。去滓內芒消。攪調分溫服。乳蛾咽腫熱痛。啼聲不出。乳餌不能者。碧雪主之。</p>
<p><u>碧雪方</u></p>
<p>芒消（六兩）　寒水石（一兩）　青果（十個，去核）　甘草（半兩，研）</p>
<p>上四味。以水一斗。煮至半鬥。內藍板。以色碧為度。不住手攪和勻。傾盆內經宿。凝成雪研末。每含咽三分。或以水服一錢七。</p>
<p>兒初生。臍瘡。若遺毒。蝕爛者。宜桃花箋貼之。桃花箋方。</p>
<p>石灰（二兩）</p>
<p>上一味。以雪水五升。漬二旬。加辰砂攪調。色如桃花為度。以釀箋子一旬曬乾寸裂。貼患處。兒舌下腫尖。如小舌。名曰重舌。此為熱毒所致。急用鈹針刺之。血出當差。仍灸廉泉。若再發者。以不灸故也。</p>
<p>兒初生。元陽未實。若乳餌失節。若努力啼號。必臍尖。名曰臍突。宜消疳湯。臍尖如旋螺。脈數實者。枳芍加芒消湯主之。</p>
<p><u>枳芍加芒消湯方</u></p>
<p>枳實（三分）　芍藥（五分炒）　芒消（三分）</p>
<p>上三味。以水一升。煮取七合。去滓分溫服。</p>
<p>兒初生。眼目不開。脈必數。若大便難。此為胎熱所致。宜甘連加大黃湯。敷以熊膽汁。</p>
<p>兒初生。皮肉鎖其穀道。此為鎖肛。法急割破。大便當通。若不通者難治。兒變蒸。此為胎毒散。宜紅花湯主之。</p>
<p><u>紅花湯方</u></p>
<p>紅花（三分）　大黃（三分）　黃連（三分）　芒硝（三分）　甘草（二分）</p>
<p>上五味㕮咀。以水一升。煮取七合。去滓分溫。頻頻服。兒交奶為病。必發熱。或有㿍者即是也。宜犀角消毒湯。</p>
<p><u>犀角消毒湯方</u></p>
<p>犀角（二分）　荊芥（五分）　防風（五分）　牛房子（五分）　甘草（二分）</p>
<p>上五味。以水一升。煮五味。取七合。去滓內犀角屑。攪調分服。</p>
<p>兒初生。身熱不解。大便如膠。名曰胎熱。必發口瘡。若劇者發丹毒。宜紅花湯主之。</p>
<p>諸熱溫溫。元真昏晦者。發驚。若蟲動。若胎毒。亦發驚。</p>
<p>兒初生。身熱四五日。紅班簇簇者。為丹毒。宜火濟加辰砂湯。</p>
<p>兒初生。身體肥厚。反筋骨乏力。名曰胎肥。宜大麥煎主之。</p>
<p><u>大麥煎方</u></p>
<p>茯苓（五分）　砂仁（三分）　馬舄（三分）　麥芽（五分）</p>
<p>上四味。以水一升。先煮麥芽。減二合。內諸藥。再煮取六合。去滓分溫服。</p>
<p>兒始生。露骨柴削。晨暮啼躁不安。名曰胎瘦。宜養肝湯。</p>
<p><u>養肝湯方</u></p>
<p>縮砂（五分）　茯苓（五分）　紅曲（三分）　白朮（三分）　生薑（二分）</p>
<p>上五味。以水一升。煮取五合。去滓。如蜂蜜一匙。攪調分溫服。</p>
<p>兒初生。面體痝然浮肥。其色鮮明者。為胎肥。</p>
<p>茯苓加桃花飲主之。</p>
<p>兒初生。臍未乾。屢治。為濕邪所襲。遂發熱而驚。名曰臍風。宜還魂加辰砂湯。</p>
<p>兒臍風。必發驚。短息喘鳴者。麻杏甘石湯主之。</p>
<p><u>麻杏甘石湯方</u></p>
<p>麻黃（五分）　杏仁（五個）　甘草（三分）　石膏（一錢）</p>
<p>上四味。以水一升。先煮麻黃。二三沸。去上沫。內諸藥。煮取七合。去滓分溫服。</p>
<p>兒初生。發驚脈弦。痰喘張口。胸滿嘔而煩。不能乳者。紫霜丸主之。</p>
<p><u>紫霜丸方</u></p>
<p>代赭石（二錢，醋碎）　石脂（二錢）　巴豆（二錢，去皮，油）　杏仁（四錢）</p>
<p>上四味。相和。搗糊丸。嬰粟大。每服二三丸。兒生下。頭大頸細。若目多白睛。面㿠白。身體瘦者。多愁少喜也。</p>
<p>兒初生。遍身赤。胸腹硬。啼聲吃吃者。必發驚。兒初生。身冷膚硬。啼聲嗄。名曰硬體。此為陰毒也。兒生下。脈微續者為佳。若妄出者。難養。</p>
<p>兒初生。啼聲綿綿相續者。為有壽也。兒啼聲絕。復揚急者。為腹痛也。兒啼是歌。蓋胎毒散也。</p>
<p>兒初生。卵縫總黑者為實。浮白若腫大者為虛。兒頸細者。致夭橫。腹硬者。亦致夭橫。</p>
<p>兒初生。體膚如石硬。名曰五硬。胎毒凝結令然。厥冷而聲不發者死。</p>
<p>兒始生。身體軟弱而無力。為筋骨不成。名曰五軟。宜健骨湯主之。臘內臍風。發驚而嘔者不可治。百晬咳喘。亦不可治。嬰孩。腦後發瘡。如雞子大。紅紫而焮熱名曰腦瘡死。兒生下。無肛者。為鎖肛。急割之鎖肛者生。鎖肚者死。</p>

<h1>辨寒熱脈證並治第二</h1>
<p>寒熱之為候有風濕。有瘡疹。有宿食。有驚動。皆能發寒熱。須要別論。以無令誤也。病人發熱惡寒。脈緩者。名曰感風。病或已發熱。或未發熱。必惡寒。體痛嘔逆。脈陰陽俱緊者。名曰傷寒。兒灑淅惡寒。毛聳身厥者。發大熱。脈急弦者發驚。病人惡寒而振。反發熱。濈然汗出而解者。瘟病也。病人寒慄鼓頷。反發熱。汗流而解。反復必期時者。為瘧疾也。發熱惡寒。身振慄而無汗。面紅尻冷者。為痘疹。脈緊者。必發驚。兒發熱嘔乳。面紅神昏。睡則惕跳者為客忤也。兒身熱腹滿。必吐乳。脈滑而實者為食飪所傷。發驚。兒發熱啼哭。緩急交作。握拳齧齒者。為腹痛也。兒發熱有時。其熱睡則益盛者。以蟲動所致也。兒微熱啼號嘔乳發作。肌膚漸甲錯者。為缺乳也。病人脈細而數或渴或溏。元真昏晦身熱鬱郁。睡反益劇者草果飲主之。</p>
<p><u>草果飲方</u></p>
<p>草果（三分）　檳榔（五分）　柴胡（一錢）　黃芩（三分）　小連翹（五分）　生薑（三分）　大棗（二枚）</p>
<p>上七味。以水一升。煮取七合。去滓分溫服。兒身體微熱。若哯乳。反氣力如故者。為交奶。必發疹也。兒熱鬱。必發口瘡。如疳熱痢熱。發走馬疳。醫須要屢視其口內也。兒發熱惡風。鼽嚏鼻塞。若咳喘吐乳。若微搐。夜臥不安者。惺惺散主之。</p>
<p><u>惺惺散方</u></p>
<p>人參（二分）　白朮（三分）　茯苓（五分）　桔梗（五分）　天花粉（三分）　細辛（二分）　薄荷（一分）　甘草（三分）</p>
<p>上八味㕮咀。以水一升。煮取七合。去滓分溫服。兒鬾病者。乃飲母鬾乳所致。宜逐疳湯。</p>
<p><u>逐疳湯方</u></p>
<p>青皮　茯苓（各一錢）　白朮　使君子　紅曲（炒，各五分）　甘草（三分）</p>
<p>上五味。以水一升。煮取七合。去滓分溫服。兒交奶傷。與五香湯。發㿍者。與犀角消毒飲。惡寒發熱。鼻鳴乾嘔者。桂枝湯主之。</p>
<p><u>桂枝湯方</u></p>
<p>桂枝（二分）　芍藥（一錢）　甘草（三分）　生薑（二分）　大棗（二枚）</p>
<p>上五味㕮咀。以水一升。煮取七合。去滓。適寒溫分服。須臾歠熱稀粥。以助藥力。溫敷令汗出。若不汗更服。服桂枝湯。大汗出。脈洪大者。與桂枝湯如前法。若形如瘧。日再發者。汗出必解。宜桂枝二麻黃一湯。太陽病。項背強几几無汗惡風。葛根湯主之。</p>
<p><u>葛根湯方</u></p>
<p>葛根（五分）　麻黃（三分）　桂枝（二分）　芍藥（五分）　甘草（二分）　生薑（二分）　大棗（二枚）</p>
<p>上七味㕮咀。以水一升。先煮麻黃葛根。減二合。去沫。內諸藥。煮取七合。去滓溫服。將息及禁忌。傷寒身熱。睛不了了。致衂血。若發驚。是以陽氣重故也。傷寒脈浮緊。無汗反致衂者。欲解也。宜麻黃湯主之。太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯主之。</p>
<p><u>麻黃湯方</u></p>
<p>麻黃（五分）　桂枝（三分）　甘草（二分）　杏仁（八個）</p>
<p>上四味。以水二升。先煮麻黃。減五合。去上沫。內諸藥。煮取一升。去滓溫服。復取微似汗。如桂枝法將息。大陽中風。脈浮緊發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。</p>
<p><u>大青龍湯方</u></p>
<p>麻黃（二錢）　桂枝（五分）　甘草（三分）　杏仁（八個）　生薑（三分）　大棗（三枚）　石膏如彈丸大。</p>
<p>上七味。以水二升。先煮麻黃。減五合。去上沫。內諸藥。煮取一升。去滓溫服五合。取微似汗。若不汗。再三作劑。汗出多者。停後服。傷寒陽且證醫服陽且湯。尚不汗者以氣運未適故也。須續服前方。後得氣運適者。肌肉即和諧。仍濈濈汗出也。大陽病。發汗遂漏不止。其人惡風。小便難四肢微急。難以屈伸者。桂枝加附子湯主之。傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。外證未去者。柴胡加桂枝湯主之。傷寒五六日。若中風。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或胸中煩而不嘔。或渴。或腹中痛。或脅下痞硬或心下悸。小便不利或不渴。身有微熱。或咳者。與小柴胡湯主之。</p>
<p><u>小柴胡湯方</u></p>
<p>柴胡（一錢）　黃芩（五分）　人參（三分）　甘草（三分）　半夏（一錢）　生薑（三分）　大棗（三枚）</p>
<p>上七味。以水二升。煮減七合。去滓再煎。取一升。分溫服。大陽病。發汗後。大汗出。胃中干。煩燥不得眠。欲得飲水者。少少與飲之。令胃氣和則愈。若脈浮。小便不利。微熱消渴者。與五苓散主之。</p>
<p><u>五苓散方</u></p>
<p>豬苓（五分）　澤瀉（五分）　茯苓（三分）　桂枝（三分）　白朮（五分）</p>
<p>上五味為末。以白飲和。服方寸七。日三服。多飲暖水。汗出愈。潮熱者實也先宜小柴胡湯。以解外。後以柴胡加芒消湯主之。潮熱鬱郁。嘔不止。小便赤者。柴胡加芒消湯主之。傷寒病。若吐。若下。後七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。白虎加人參湯主之。傷寒脈滑。肌膚大熱。反大便溏。小便白。此為真熱假寒候。宜白虎湯主之。大陽病。過經十餘日。反二三下之。後四五日。柴胡證仍在者。先與小柴胡湯。嘔不止。心下急。鬱郁微煩者。為未解也。與大柴胡。下之則愈。</p>
<p><u>大柴胡湯方</u></p>
<p>柴胡（二錢）　黃芩（五分）　大黃（五分）　芍藥（一錢）　半夏（五分）　生薑（三分）　枳實（五分）　大棗（二枚）</p>
<p>上八味。以水二升。煮取一升。去滓再煎。分溫服。發汗後。惡寒者。虛故也。不惡寒。但熱者。實也。當和胃氣。與調胃承氣湯。</p>
<p><u>調胃承氣湯方</u></p>
<p>大黃（一錢）　甘草（五分）　芒消（五分）</p>
<p>上三味㕮咀。以水二升。煮取一升。去滓內芒消。更上火。微煮令沸。少少溫服。陽明病。其人多汗。以津液外出。胃中燥。大便必硬。硬則譫語。小承氣湯主之。若一服譫語止。更莫復服。</p>
<p><u>小承氣湯方</u></p>
<p>大黃（一錢）　厚朴（四分）　枳實（五分）</p>
<p>以上三味。以水二升。煮取一升。去滓分溫服。初服湯。當更衣。不爾者。盡飲之。若更衣者。勿服之。傷寒六七日。目中不了了。睛不和。無表裡證。大便難。身微熱。此為實也。宜大承氣湯。</p>
<p><u>大承氣湯方</u></p>
<p>大黃（一錢）　厚朴（四錢）　枳實（五分）　芒硝（三分）</p>
<p>上四味。以水二升。先煮二物。減五合。去滓。內大黃。煮取一升。去滓。納芒硝。更上火。微一兩沸。分溫再服。病位於開者。桂枝湯所適也。位於闔者。承氣湯所適也。位於樞者。柴胡湯以和之。病人振寒大熱。流汗而解。三日若四日。再三發作如故。此為溫毒所致。宜達元飲主之。</p>
<p><u>達元飲方</u></p>
<p>檳榔（五分）　厚朴（五分）　知母（三分）　芍藥（五分）　黃芩（三分）　草果（三分）　甘草（二分）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫服。傷寒解後。虛羸少氣。氣逆欲吐者。竹葉石膏湯主之。</p>
<p><u>竹葉石膏湯方</u></p>
<p>竹葉（七葉）　石膏（五分）　半夏（五分）　人參（三分）　甘草（二分）　粳米（三分）　麥門冬（五分）</p>
<p>上七味。以水二升。煮取一升。去滓。內粳米。煮米熟。湯成去米。溫服。病人脈微弱。而氣逆面紅。小便難。時時嘔。不食者。犀角辰砂湯主之。</p>
<p><u>犀角辰砂湯方</u></p>
<p>茯苓（一錢）　犀角（五分）　辰砂（三分）　食鹽（二分）　生薑（三分）</p>
<p>上五味。以水一升。煮取七合。去滓。分溫服。大陽病。二三日。振寒而汗出。一身涼和。反脈弦緊。此為瘧疾也。大陽病。熱忽退。身涼。頭痛未歇者。為瘧邪也。病人惡寒。脈數而弦。腕冷如灌水者。必瘧疾也。柴胡乾薑桂枝湯主之。</p>
<p><u>柴胡乾薑桂枝湯方</u></p>
<p>柴胡（五分）　黃苓（三分）　半夏（五分）　桂枝（三分）　乾薑（二分）　生薑（二分）　人參（二分）　大棗（二枚）　甘草（二分）</p>
<p>上九味。以水二升。煮取一升。去滓。分溫服。瘧病。必振寒。而發熱。休作難愈者。食鮧魚為妙。附子摩散主之。</p>
<p><u>附子摩散方</u></p>
<p>附子（一塊，去皮）</p>
<p>上一味。研如泥。醋調。發前一時。敷脊骨自驗。瘧疾。若溫病。虛羸少氣。氣逆欲吐。小便必赤。若足熱。此為餘熱未解。宜竹葉石膏湯主之。瘧病夜發者法出血中之邪。宜桂枝加桃仁當歸湯若欲截邪者。斬鬼丹主之。</p>
<p><u>斬鬼丹方</u></p>
<p>黃丹（研）　獨頭大蒜（研如泥）</p>
<p>上二味。同搗為丸。發日五更。以水五合。服一錢匕。傷寒。若瘟疫。發汗而復下之。胸脅滿微結。小便不利。渴而不嘔。伹頭汗出。往來寒熱。心煩者。此為未解也。柴胡桂枝幹薑湯主之。</p>
<p><u>柴胡桂枝幹薑湯方</u></p>
<p>柴胡（五分）　桂枝（三分）　乾薑（三分）　栝蔞根（三分）　黃芩（三分）　牡蠣（三分）　甘草（二分）</p>
<p>上七味。以水一升。煮取七合。去滓再煎。二三沸。分溫服。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。風濕相搏。骨節煩疼掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。</p>
<p><u>甘草附子湯方</u></p>
<p>甘草（五分）　附子（三分）　白朮（五分）　桂枝（三分）</p>
<p>上四味。以水一升。煮取七合。去滓。分溫三服。風濕在表者。開鬼門。在裡者。潔淨腑。宜滲濕湯。</p>
<p><u>滲濕湯方</u></p>
<p>仙遺糧（二錢半生半炒）　茯苓（一錢）　黃柏（黑炒三分）　生薑（三分）　大棗（二枚）</p>
<p>上五味。以水二升。煮取一升。去滓。分溫服。濕家。身煩疼。可與麻黃加朮湯。發其汗為佳。慎不可以火攻之。</p>
<p><u>麻黃加朮湯方</u></p>
<p>麻黃（五分）　桂枝（三分）　甘草（二分）　杏仁（七個）　白朮（五分）</p>
<p>上五味。以水二升。先煮麻黃。減五合。去上沫。內諸藥煮。取一升。去滓溫服。復取微似汗。皮水為病。四肢腫。水氣在皮膚中。四肢聶聶動者。防己茯苓湯主之。</p>
<p><u>防己茯苓湯方</u></p>
<p>防己（一錢）　黃耆（五分）　桂枝（三分）　茯苓（一錢）　甘草（二分）</p>
<p>上五味。以水二升。煮取一升。去滓。分溫三服。陽明病。發熱汗出。此為熱越。不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴引水漿者。此為瘀熱在裡。身必發黃。茵陳湯主之。</p>
<p><u>茵陳湯方</u></p>
<p>茵陳蒿（二錢）　梔子（一枚）　大黃（五分）</p>
<p>上三味。以水二升。先煮茵陳。減五合。內二味。煮取一升。去滓。分溫三服。小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。諸病黃家。但利其小便。茵陳五苓散主之。</p>
<p><u>茵陳五苓散方</u></p>
<p>茵陳蒿（一錢）　五苓散（一錢）</p>
<p>上二物。以水二升。煮取一升。去滓分溫服。黃家所得。從濕得之。一身盡黃。發熱煩喘。胸滿口燥者。生蘿蔔取之。諸病黃家。假令脈浮。當以汗解之。熱在裡。當下之。以汗解之。宜桂枝加葛根湯。欲下之。宜大承氣湯。夏熱所傷。頭痛身熱。脈微浮而小便如血。宜黃連香薷飲主之。</p>
<p><u>黃連香薷飲方</u></p>
<p>香薷（三分）　厚朴（五分）　黃連（三分）　白扁豆（五分炒）　甘草（二分）　生薑（三分）　大棗（三枚）</p>
<p>上七味。以水一升。煮取七合。去滓分溫服。大陽中熱暍足也。脈浮而渴。若睡中微搐。若小便澀者。五苓散加辰砂三分服之。夏月伏熱煩渴脈微數。若瀉黃者。大順散主之。</p>
<p><u>大順散方</u></p>
<p>桂枝（四錢）　杏仁（四錢）　乾薑（四錢）　甘草（二錢）</p>
<p>上四味。搗研篩。每服一錢七。以白飲服。兒體羸弱。少氣力。適感觸夏熱客邪食真遂飧泄。而脈微弱者。解暑補真湯主之。</p>
<p><u>解暑補真湯方</u></p>
<p>黃耆（五分，蜜炒）　參葉（三分）　甘草（三分）　五味子（十個）　麥門冬（五分）　黃連（二分）　茯苓（五分）　白朮（三分）　陳皮（五分）</p>
<p>上九味。以水一升。煮取七合。去滓分溫服。暴卒腹痛。若霍亂吐瀉。四肢厥者。宜藿香飲。</p>
<p><u>藿香飲方</u></p>
<p>藿香（三分）　木香（三分）　益知（三分）　白朮（三分）　木瓜（三分）　食鹽（二分）</p>
<p>上六味。以水二升。煮取一升。去滓分溫服。身熱焰焰。煩渴舌焦。脈滑而數。小便如血。宜白虎加人參葉湯主之。喝病身熱。煩悶大渴。少氣倦怠。或霍亂昏眩。吐瀉冷汗者。濕霍亂也。不吐瀉者。此為乾霍亂。難治。紫霜丸服之。傷寒若中喝。吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。四逆湯主之。</p>
<p><u>四逆湯方</u></p>
<p>附子（三分）　乾薑（三分）　甘草（三分）</p>
<p>上三味㕮咀。以水一升。煮取七合。去滓分溫再服。少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕身反不惡寒。面赤色。或腹痛。或乾嘔。或咽痛。或利止脈不出者。通脈四逆湯主之。</p>
<p><u>通脈四逆湯方</u></p>
<p>甘草（五分）　附子（五分）　乾薑（五分）</p>
<p>上三味。以水二升。煮取一升。去滓。分溫再服。其脈即出者愈。身體暴厥。以陰陽難順接故也。若脈滑而厥者。熱厥也。宜白虎加桂枝湯。少陰病吐利。手足厥冷。煩躁欲死者。吳茱萸湯主之。</p>
<p><u>吳茱萸湯方</u></p>
<p>吳茱萸（五分）　人參（五分）　生薑（五分）　大棗（二枚）</p>
<p>上四味。以水二升。煮取一升去滓溫服。病人奄忽而厥者。發大熱。前熱者後必厥。厥劇者熱亦劇。厥微者熱亦微。紫霜丸導之。病胸腹硬痛。額汁出。四肢厥寒。此為食厥。宜急吐之。發汗若下之。陰虛陽暴絕。病仍不解。煩燥者。茯苓四逆湯主之。</p>
<p><u>茯苓四逆湯方</u></p>
<p>茯苓（五分）　人參（二分）　甘草（二分）　乾薑（五分）　附子（五分）</p>
<p>上五味。以水二升。煮取一升。去滓分溫服。吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯主之。傷寒脈浮。身汗出。小便數心煩微惡寒。腳攣急。反與桂枝湯。欲攻其表。此誤也。得之便厥。咽中干。煩燥吐逆者。作甘草乾薑湯與之。</p>
<p><u>以復其陽甘草乾薑湯方</u></p>
<p>甘草（三分）　乾薑（三分）</p>
<p>上㕮咀。以水一升。煮取七合。去滓分溫服。發汗病不解。反惡寒者虛故也。若四肢攣拘而微厥者。宜芍藥甘草附子湯主之。</p>
<p><u>芍藥甘草附子湯方</u></p>
<p>芍藥（二錢）　甘草（五分）　附子（五分）</p>
<p>以上三味。以水二升。煮取一升。去滓加蜜一匙。分溫服。蛔厥者。當吐蛔。令病者靜而復時煩。此為藏寒。蛔上入膈。故煩須臾復止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。烏梅丸主之。</p>
<p><u>烏梅丸方</u></p>
<p>烏梅（二百個）　細辛（六兩）　乾薑（十兩）　黃連（一斤）　當歸（四兩）　附子（六兩炮）　川椒（四兩去仁）　桂枝（六兩）　人參　黃柏（各六兩）</p>
<p>上十味。異搗篩。合治之。以苦酒漬烏梅。一宿去核。蒸之五升米下。飯熟搗成泥。和藥令相得。內臼中。與蜜拌二千下。丸如梧子大。先食飲服十丸三服稍加。至二十丸。禁生冷滑臭等食。病人腹滿身熱。合面倦臥。其脈細數。雖腹硬不可攻之。宜柴胡平胃湯。</p>
<p><u>柴胡平胃湯方</u></p>
<p>柴胡（五分）　黃芩（三分）　人參（三分）　甘草（三分）　半夏（五分）　生薑（二分）　蒼朮（三分）　陳皮（五分）　厚朴（五分）</p>
<p>上九味㕮咀。以水二升。煮取一升。去滓分溫。頻頻服。潮熱反復。腹硬而肉脫。轉屬疳病。壞病也。宜消疳湯主之。虛勞悸衄。身體微熱。四肢痠痛者。當皈建中湯主之。</p>
<p><u>當歸建中湯方</u></p>
<p>當歸（五分）　芍藥（五分）　桂枝（三分）　生薑（二分）　甘草（三分）　大棗（二枚）</p>
<p>上六味。以水二升。煮取一升。去滓內膠飴。更上微火。消解。溫服三合。日三服。氣血兩衰。鬱火起伏。胸硬腹弱。少氣悸動。兼主眼目不了了者。宜枸杞涼肝湯。</p>
<p><u>枸杞涼肝湯方</u></p>
<p>枸杞　厚朴　香附子（各一錢）　茯苓（二錢）　黃柏　甘草（各五分）</p>
<p>上九味。以水二升。煮取一升。去滓分溫服。羸瘠之氣。腰腹拘急。四肢沉重。咽乾唇燥。面顏少色。二脈不足者。黃耆建中湯主之。身熱發作。氣血消爍。若煩渴。真熱假熱。俱既濟湯主之。</p>
<p><u>既濟湯方</u></p>
<p>生地黃（五錢，搗碎）　黃連（五分）</p>
<p>上二味。以水二升。煮取一升。去滓。分溫服。若渴劇者。冷服真熱加石膏。假熱加人尿。譫語加辰砂。身體血燥。暮時潮熱。吸吸咳喘。喉內痰響者。鹿角菜湯主之。</p>
<p><u>鹿角菜湯方</u></p>
<p>鹿角菜　鱉甲　牛皮消（各二錢）　犀角（五分）　竹菇（三分）　甘草（三分）</p>
<p>上六味。以水一升。煮五味。減三合。去滓內犀角。攪調分溫服。少陰病。二三日不已。至四五日。腹痛小便不利。四肢沉重疼痛。自下利者。此為有水氣。其人或咳。或小便利。或下利。或嘔者。真武湯主之。</p>
<p><u>真武湯方</u></p>
<p>茯苓（五分）　芍藥（五分）　生薑（三分）　白朮（三分）　附子（三分）　上五味。以水二升。煮取一升。去滓。分溫服。大逆上氣。咽喉不利。止逆下氣者。麥門冬湯主之。</p>
<p><u>麥門冬湯方</u></p>
<p>麥門冬（五分）　半夏（五分）　人參（三分）　甘草（二分）　粳米（五分）　大棗（三枚）</p>
<p>上六味。以水一升。煮取七合。分溫服。大熱口焦。譫語欲死者。極於陽也。厥冷鄭聲。須悸欲死者。極於陰也。病屬陰。脾氣衰弱。口內乾燥。嘔而不食。其舌恰如鳥肉。名曰濡舌。試以芡實湯主之。</p>
<p><u>芡實湯方</u></p>
<p>芡實（微炒，五分）　參葉（三分）　蓮蕊（五分）</p>
<p>上三味。以水一升。煮取七合。去滓分溫。加薑汁服之。傷寒若痢疾。雖客熱稍解。其脾氣遂失運行。食飲不思者。當含嚼桐斷令以延胃氣也。病發於陽。引日者。多佳兆也病發於陰。引日者。多惡候也。病自外動者。候在於鼻也自里動者。候在於口也。病人體羸脾衰。脈微弱。食飲難進者。宜蘿蔔粥。</p>
<p><u>蘿蔔粥方</u></p>
<p>陳米（不拘多少）　蘿蔔（去皮研作泥等分）</p>
<p>上二味。先以水煮陳米。作稀粥。內蘿蔔。調和。再上火。四五沸。夫實則譫語。虛則鄭聲。鄭聲重語也。劇者撮空循衣。此為氣血兩敗也。養榮湯主之。</p>
<p><u>養榮湯方</u></p>
<p>人參（三分）　黃耆（三分）　麥門冬（五分）　五味子（五分）　當歸（五分）　地黃（五分）　甘草（三分）</p>
<p>上七味。以水二升。煮取一升。分溫服。虛逆者。加人尿。厥冷者加附子。病人煩苦。忽斷食者。尚可治。無煩苦漸失食者。雖今少食。不可治。兒腹癖胸滿。小便如米泔。其脈緊弦細數。或能食。反羸瘠者。不可治。兒骨蒸潮熱。頸細腹大。眼睛無神。足跗微腫者死。蛔厥驚呼。煩渴而昏沉。試捻之。仍不醒者。為死候也。厥冷煩渴。面赤吐利不休。小便如血者。不可治。病態隨時變動。假令朝劇暮安。若胸脅攣急。劇則四肢厥冷。此為癇厥也。四逆散主之。柳肝加膠飴散亦主之。</p>
<p><u>四逆散方</u></p>
<p>甘草　枳實　柴胡　芍藥</p>
<p>上四味。各十分搗篩。白飲和。服方寸匕。或加膠飴。攪調服之。病人體瘦。脈微面郁赤。如醉狀。四肢冷。咂口捻衣。此為陽絕也。病人身熱。飲食不能。反欲飲酒者。少少與飲。但勿令意極也。諸病解後。脾氣必衰弱。要慎飲食。若妄飼者。致食復。夏月腹痛。煩燥。若暴泄。身忽厥。反眼跳動。元陽欲脫者。為直中。灸之。陽復者生。不復者死。暍之為恙。多脫症。須要春夏交。服健脾劑。此謂豫防。何以論之。曰暍病必發於吐瀉故也。食厥。腹痛劇者。必反覆顛倒。脈結欲死者。要吐瀉。宜紫霜丸主之。暴泄忽厥。脈微額汗出者。灸天樞湧泉。厥不還。脈不鼓。反微喘者死。病人煩動。大汗出。脈陰陽俱盛者死。體羸食減。脈陰陽俱虛。身熱不解者死。諸病勞復二三。若自復。若擊天和者。俱不可治。病人脈浮而洪。身汗如油。喘而不休。水漿不下。體形不仁。乍靜乍亂。此為命絕也。</p>

<h1>辨發驚脈證並治第三</h1>
<p>問曰。驚有陽有陰。何以別之。答曰。兒肝氣實盛。適與風氣相搏。竄視反張。脈浮而弦者。名曰陽癇也。兒元真虛弱。肝氣獨亢。睡惕露睛。脈細而弦者。名曰陰癇也。兒風熱傷食。若瘡熱蟲動。是皆發驚跳。以元真不勝任也。陽癇為病。大熱皆強。上竄撮口。四肢必瘛瘲者。還魂湯主之。</p>
<p><u>還魂湯方</u></p>
<p>麻黃（五分）　杏仁（五核）　芍藥（一錢）　釣藤（三分）　射干（三分）　甘草（二分）</p>
<p>上五味。以水一升。煮取七合。去滓分溫。頻頻服。兒啼聲輕者。氣也弱也。重濁者痛也。高喊者。熱欲狂也。聲急者。神驚也。聲塞者痰也。聲戰者寒也。兒發熱頰赤。瞌睡跳惕。齧齒咬乳者。宜釣藤湯主之。兒體熱。面無色。反折而啼號者。欲驚也。陽癇為病。角弓反張。直視而脈促。若劇者。厥寒欲死。須要截風去痰。若熱不減。減不足言。當急攻之。大承氣湯主之。惡寒發熱。若呵欠面赤。無汗而脈盛大者。必致驚惕。宜大青龍湯主之。兒發驚。痰涎壅盛。短息煩躁。腹硬脈弦者。宜紫霜丸。導以減其盛氣也。馬脾風。即肺脹也。搖肩滾肚。張口喘鳴者。宜鐵漿加薑汁服之。身熱昏沉。咽內如水雞聲。脈促面赤者欲驚。宜麻黃杏仁甘草石膏加射干湯主之。驚之為病。有上竄瘛瘲者。發於陽也。有下竄微搐者。發於陰也。兒昏沉五六日。吐乳跳惕。身熱不解。奄忽發驚者。病反瘥。若不瘥。直視休作者。難治也。兒驚跳。似寒似熱。似嘔似瀉。名曰陰陽合病。宜與芍藥甘草湯。以將息也。驚病恍惚。手腳偏動。吐若瀉。其脈微澀。此為陰陽俱虛。不可更汗更攻。宜通脈四逆加豬膽汁湯主之。兒微熱瞌睡。必露睛。四肢致動惕此為慢驚之兆也。兒身體微熱。慢跳休作。溏瀉遺溲。此為純陰也。宜四逆加人參湯主之。兒一身微冷。反指頭熱。此為熱厥。必發大熱。若驚搐也。病真熱者陽也。假熱者陰也。陽者發急驚。陰者發慢驚。急驚者宜寒瀉方。慢驚者宜溫養方。驚病。身熱力猛者。為陽癇。身冷力劣者。為陰癇。若擗地而作聲。口流涎者。癲癇也。驚之為病。仰視者為天吊。內視者為內吊。角弓反張。脈數疾者。為痘病也。驚病者。須要扶持而將息。若強擒捉。則邪熱益激。遂迫入骨。假令病瘥。必手腳攣拘也。發熱竄視。痰涎潮盛。口噤瘛瘲。此為榮衛凝結。百脈不通。故暴烈也。驚有陽有陰。天釣者。為熱陽也。內釣者。似癇陰也。兒發驚。脈浮數洪緊弦。為急驚也。脈沉遲散緩微。為慢驚也。急驚緩治之。宜寒冷方。慢驚急治之。宜溫熱方。兒初生。哯乳惕而不安。此為胎驚。宜朱蜜。</p>
<p><u>朱蜜方</u></p>
<p>硃砂（豆大）　蜂蜜（雞子大）</p>
<p>上二味。研調。每日含之。日二三次。臘內直視。齘齒手腳拘急。脈促弦者。為胎驚。宜紫雪主之。</p>
<p><u>紫雪方</u></p>
<p>黃金（十兩）　寒水石（四兩八錢）　石膏（四兩八錢）　玄參（一兩）　犀角（一兩）　羚羊角（一兩）　甘草（八錢）　升麻（六錢）　沉香（五錢）　木香（五錢）　丁香（五錢）</p>
<p>上十一味。以水五斗。先煮黃金及二石。至三斗。入諸藥。再煎至一斗。去滓入芒硝三兩二錢。慢火煎。以柳枝不住手攪。侯欲凝。入瓷盆中。更下硃砂麝香。各三錢。急攪自然凝。成紫雪為度。臘內發驚。假者可治。真者不可治。何以論之。曰假者為風外也。真者為癇里也。客忤者。客氣忤犯其主氣之謂也。發熱哯乳睡必微跳。宜惺惺散主之。客忤發熱微搐。若劇則如狂癇。反視撮口。惕而不安。宜紅雪服之。兒人語物響。易動跳者。此為元真虛拙。必發驚癇也。宜竹筎溫膽湯主之。</p>
<p><u>竹筎溫膽湯方</u></p>
<p>茯苓（一錢）　陳皮（五分）　半夏（七分）　黃連（三分）　枳實（五分）　竹筎（三分）　甘草（二分）　生薑（三分）　大棗（五枚）</p>
<p>上九味㕮咀。以水二升。煮取一升。去滓分溫服。加辰砂三分為佳。兒善怒啼哭。腳腹攣拘。脈必沉弦。劇則齧齒咬乳。此為蟲驚。宜芍藥甘草湯。蟲驚如癇恕號而顏紅胸脅必攣拘脈乍動。乍靜者是也。宜柳肝加膠飴湯。</p>
<p><u>柳肝加膠飴湯方</u></p>
<p>柴胡（五分）　川芎（三分）　當歸（五分）　白朮（三分）　茯苓（五分）　釣藤（五分）　甘草（三分）　膠飴（雞子大）</p>
<p>上八味。以水二升。煮七味取一升。去滓內膠飴。更上微火。消解溫服。日三服。身溫睡多。胸腹滿而微惕或食臭。或嘔逆者。宜厚朴三物湯。兒體壯熱面赤尻冷。寒慄而振。奄忽發驚。此為痘疹兆也。宜續命湯主之。</p>
<p><u>續命湯方</u></p>
<p>葛根（五分）　麻黃（三分）　桂枝（二分）　芍藥（五分）　釣藤（三分）　黃連（二分）　石膏（五分）　甘草（三分）　生薑（二分）　大棗（三枚）</p>
<p>上十味。以水二升。先煮麻黃葛根。減五合。去沫內諸藥。煮取七合。去滓分溫服。兒膚有瘡。發熱而驚者。名曰破傷風。即痓病也。宜續命湯。若身厥者。芍藥甘草附子湯主之。病者身熱。無汗而小便反少。氣上衝胸。口噤不得語。欲作剛痓。葛根湯主之。病者身熱足寒。頸項強急惡寒時頭熱面赤目赤獨頭動搖。卒口噤。背反張者。痓病也。若發其汗者。寒濕相得。其表益虛。即惡寒甚。發其汗已。其脈如蛇。太陽病。發汗大多。若亡血虛家。俱致痓病宜黃耆建中湯主之。痓為病胸滿口噤。臥不著席。腳攣急。必齘齒。可與大承氣湯主之。大陽中熱者。喝是也。汗出惡寒。身熱而渴。劇者竄視反張。宜白虎加人參湯。喝病發熱面赤而哽其脈弦細芤遲。小便已。洒洒然毛聳。手足逆冷。咽燥口乾。若發其汗。則其惡寒甚。加溫針則發熱甚。宜生脈散主之。</p>
<p><u>生脈散方</u></p>
<p>人參（三分）　麥門冬（五分）　五味子（三分炒）</p>
<p>上三味。以水一升。煮取七合。去滓加薑汁。若竹瀝。攪調頻頻服。暍病煩渴而顏赤脈促者欲驚。宜黃連白虎湯。暴卒中暍直視失㙇。四肢厥寒者。附子理中湯主之。</p>
<p><u>附子理中湯方</u></p>
<p>人參（三分）　白朮（五分）　附子（五分）　乾薑（五分）　甘草（三分）</p>
<p>上五味㕮咀。以水一升。煮取七合。去滓分溫服。諸暴病。反眼瘛瘲。若痰喘短息。不論陰陽。先與人參黃連湯。人參熊膽湯亦主之。痰喘甚者。加薑汁主之。驚病致上竄者。為陽實也。致下竄者。為陰虛也。實者攻之。虛者溫之。兒元真不實。動受物驚觸。即客忤之謂也。中惡者惡邪觸害之謂也。即客忤之重也。白虎者即輕也。兒驚熱不可灸。令努氣益盛。須用善推法。劇者刺之。宜鎮肝湯主之。</p>
<p><u>鎮肝湯方</u></p>
<p>牲實（五分）　麻黃（三分）　寒水石（五分）　枳實（三分）　芍藥（五分）　甘草（三分）　生薑（三分）</p>
<p>上七味。以水一升。先煮六味。取七合。去滓內牲實。碾調。分溫服。發熱驚跳。短氣燥煩。神魂亂。若口渴。若嘔吐者。宜金雪。</p>
<p><u>金雪方</u></p>
<p>金膏　石膏　芒硝（各一錢）　龍腦（二分）　麝香（一分）</p>
<p>上四味。碾調。每服一字。驚癇。眼神翻騰者。為天釣。諸治驚法。須要寬氣托毒也。宜釣藤湯主之。</p>
<p><u>釣藤湯方</u></p>
<p>釣藤（五分）　野蠶（一個）　芍藥（五分）　辰砂（三分）　犀角（三分）　甘草（二分）　生薑（三分）</p>
<p>上七味。以水一升。煮取七合。去滓分溫服。陽癇日二三發。引日不解。遂轉屬陰癇。此為壞病也。陰癇不得有汗。若有汗者。恐亡陽也。宜四逆湯。驚病。昏沉氣鹿喉。內如挽鋸者。宜麥門加竹瀝湯。驚病。衄血者可治。嘔血者不可治。何以謂也。曰衄血者邪熱散也。嘔血者榮血敗也。陰癇即慢驚也。若哯乳而大便溏者。名曰慢睥風難治。天釣者。神昏惡𦸉。若齧奶熱也。內釣者。多啼瞌睡。必動惕寒也。兒臍風。若胎驚。胸腹石硬。反視而不能眴者。宜紫霜丸。服丸須臾。大便通者生。不通者死。驚熱。夜不可停燈。若停燈者。陽炎卻熱氣。益驚跳而藥力必不可鎮也。驚病眼睛如魚。喘鳴氣急。額頭有汗。爪之吃吃者死。暴卒發熱。痰喘肩息。啼聲吃吃。乳餌不通者名曰纏喉風。不可治。陽癇。口鼻氣冷。露睛而微惕。有汗者亡陽也。宜桂枝附子加黃耆湯。驚病必有痰。痰者動於熱。熱靜則伏於脾。若熱盛。痰動者。發驚癇。驚癇四證八侯。盡備者。不可治。身體厥冷。反煩渴。動躁而神魂亂。小便如血者。屬牝臟洞竭也。昏睡不醒。四肢舒撒。二便不禁者死。二便不通者亦死。諸熱發驚。反復二三。亂髫尚可治。嬰孩心不可治。發熱發驚。短息痰鳴。反復而不解。女者可治男者難治。身冷麵熱。倦睡呻吟。若屍臭者。孤陽飛越也。嬰孩為物。有熱必虞驚。亂髫則少減虞。至童丱則更減之。然熱盛。則不能全無虞也。問曰。癲癇何狀也。答曰。暴驚有聲而倒。口涎必流。須臾還蘇。名癲癇也。癲癇暴倒。狀如死。須臾自惺。後必苦頭痛。若鬱勃如癡者是也。宜斷癇丸主之。</p>
<p><u>斷癇丸方</u></p>
<p>黃耆（五分）　蛇蛻（五寸）　靈砂（三錢）　細辛（五分）　甘草（二分）　蟬蛻（四枚）　牲實（三錢）</p>
<p>上七味為末。棗肉丸。如麻子大。每服二十丸。以人參湯服。病人肥白多濕。黑瘦多癇。屬濕者。宜滲濕方。屬癇者。寧肝湯主之。</p>
<p><u>寧肝湯方</u></p>
<p>沉香（五分）　縮砂（三分）　香附（五分）　吳茱萸（三分）　黃連（三分）</p>
<p>上五味。以水一升煮取七合。去滓分溫服。病人重陰者癲。重陽者狂。如婦女。月信適動。病益劇。獨言妄語者。宜了了丸。</p>
<p><u>了了丸方</u></p>
<p>黑鉛（一兩半）　水銀（二兩）　硃砂（一兩）　乳香（一兩）　牲實（七錢）</p>
<p>上五味。先以黑鉛。入銚溶化。次下水銀。候結成砂子。再下二味。乘熱用柳木。捶研勻。內牲實糊丸。如芡實大。每服二丸。以井水送下。病人若睡。勿驚動自覺即安。再服二丸。癇病沉痼。必變癡。名曰癡癇。若口吶而不能語者。名曰癇啞。廢人也。</p>

<h1>辨瘡疹脈症並治第四</h1>
<p>瘡疹為病熱毒所致。惡寒發熱。食飲反如故。此為瘡疹之漸也。寒熱發作。口渴脈滑。身體有熱處者發瘡瘍也。惡寒發熱。脈滑而肌膚髮紅班者。名曰丹毒也。灑淅惡寒。肌肉發紅脈者。名曰紅絲疔也。紅絲疔者。為浸蔓。法急砭。以取毒血也。狼牙湯主之。兒丹毒。為云片。若癬疥。若毒熱喉腫。兼殺腹內一切蟲。宜狼芽湯主之。</p>
<p><u>狼牙湯方</u></p>
<p>狼牙草（五分）　防風（五分）　惡實（一錢）　甘草（三分）　生薑（三分）</p>
<p>上五味。以水一升。煮取七合。去滓內茉莉白三分。調均。分溫服。兒身體血燥。白癍作痂者。名曰白遊風。宜托裡湯。</p>
<p><u>托裡湯方</u></p>
<p>當歸（五分）　黃耆（三分）　紅花（三分）　野蠶（一個）　惡實（五分）　甘草（三分）　大棗（二枚）</p>
<p>上七味㕮咀。以水一升。煮取七合。去滓分溫服。兒始生。鼻口。若穀道。蝕爛。此為遺毒發動也。托毒湯主之。</p>
<p><u>托毒湯方</u></p>
<p>小連翹（一錢）　龜板（浸醋灸碎，一錢）　紅曲（炒五分）</p>
<p>上三味。以水二升。煮取一升。去滓分溫服。若蝕爛劇者。加人中白三分。攪調分溫服。兒遺毒發動。蝕爛惡臭。諸方無效者。宜一字灰主之。</p>
<p><u>一字灰方</u></p>
<p>蝦蟆（燒灰一錢）　礬石（燒二分）　石灰（水飛二分）　龍腦（二分）　麝香（一分）</p>
<p>上五味。研調。摻瘡上。日二三次。或以雞子清。調和敷之。兒胎毒若遺毒。蝕潰浸淫者。宜奇良膏主之。</p>
<p><u>奇良膏方</u></p>
<p>奇良（一兩八錢）　龜板（一兩）　雞子殼（五錢）</p>
<p>上三味。研羅。以膠飴。調均。每服彈丸大。兒惡瘡痛癢。若瘻膿滴瀝不竭。若大人微毒骨痛。遠年近日。腐爛臭敗。或咽喉唇鼻破壞。諸藥無驗者。紫寶丹主之。</p>
<p><u>紫寶丹方</u></p>
<p>龜板（醋煅二兩）　石決明（煅紅浸童尿）　天靈（黑炒）　銀爐粕（各六錢）</p>
<p>上四味。搗篩。醋糊丸。每服小兒五分。大人一錢。骨節疼痛者。溫酒服。腐爛惡臭者。奇良湯服。傷寒陽毒。紅潤稀疏者。五六日自瘥。若紫黑稠蜜。致大熱者。不可治。陽毒身冷。反大渴者難治。身熱煩渴者。宜化癍加犀角湯主之。陽毒如錦文狀。此為熱極令然也。宜火濟湯主之。陰毒發胸背。若四肢。如蚊咬狀者。宜大建中湯。黃耆建中湯亦主之。兒四肢若背腹。癍疹出沒者。名曰風疹。宜圭麻各半加荊芥防風湯主之。風疹者即時毒也。癢劇抓則發疹。為泄風。宜敷薑汁而解也。風疹煩癢。抓益劇。</p>
<p><u>兼主陰毒諸疹熨方</u></p>
<p>白礬（四錢）　食鹽（二兩）　樟腦（三錢）</p>
<p>上三味。以水五升。煮減二合。以屢熨也。兒惡寒發熱。熱解反發疹。如痘泡。名曰天泡疹。宜消毒飲主之。兒天行。熱癍簇簇。口燥而渴。脈數鼾睡者。化班湯主之。兒夏月疹如粟狀者名曰疿瘡。宜苦參湯浴之。</p>
<p><u>苦參湯方</u></p>
<p>苦參（一斤）　韶腦（二兩）</p>
<p>上㕮咀。以水一斛。煮熟浴之。日二三次。兒身體濕爛。浸淫痛癢者。名曰浸淫瘡。宜防風排毒飲。</p>
<p><u>防風排毒飲方</u></p>
<p>防風（一錢）　野蠶（一個）　蝮蛇（炒研三分）　生薑（三分）　大棗（三枚）　甘草（三分）</p>
<p>上六味。以水二升。煮五味。取一升。去滓。內蝮蛇。攪調。分溫服。病人本有瘡。卒瘥者。為惡候。若本無瘡。反發者。為佳兆也。疹髮指岐。煩癢漸延遍身。名曰癬疥。宜防風解毒湯。</p>
<p><u>防風解毒湯方</u></p>
<p>防風（五分）　荊芥（三分）　惡實（五分）　小連翹（五分）　大黃（三分）　火炭母（五分）　甘草（三分）</p>
<p>上八味。以水二鍾。煮取一鍾。去滓。分溫服。疥疹必痛癢。若膿瀝。觸則傳染者是也。烏頭煎洗之。</p>
<p><u>烏頭煎方</u></p>
<p>川烏頭（四錢）</p>
<p>上一味。以水三升。煎取二升。以洗。日二三次。瘡疹忽燥。腹脹息迫。煩而不安。是以毒內伏故也。麻黃野蠶湯主之。</p>
<p><u>麻黃野蠶湯方</u></p>
<p>麻黃（三分）　野蠶（一個）　杏仁（七枚）　桑白皮（二分）　沉香（二分）　丁香（二分）　紅豆（黑炒一錢）　木香（二分）　乳香（二分）　生薑（二分）　甘草（二分）　大棗（三枚）</p>
<p>上十二味。以潦水二升。先煮麻黃。再沸去上沫。內諸藥。煮取一升。分溫三服。疥疹感觸。煩癢爬反痛。唯癢者。宜莽草湯洗之。</p>
<p><u>莽草湯方</u></p>
<p>莽草（一斤）　韶腦（一兩）　食鹽（半斤）</p>
<p>上三味。以水一斗二升。煮取六升。去滓溫洗。日二三次。以瘡瘥為度。兒夏月。面厖腫微熱。瘡如砂。此為漆氣感觸也。漆瘡。熱痛煩癢者。宜無患子皮煎。</p>
<p><u>無患子皮煎方</u></p>
<p>無患子（十個去實）</p>
<p>上一味。以水二升。煎減半升。去滓用管吹之。當泡起。仍追取。敷患處。漆瘡煩癢難瘥者。宜鐵漿灌之。礬石湯亦主之。</p>
<p><u>礬石湯方</u></p>
<p>礬石（一斤）</p>
<p>上一味。以醋一斛。水二斛。煮熟浴之。瘡毒骨痛。若腳氣衝心。俱浴之。兒㿍疹起伏。若微熱。若吐乳。此為交奶所致也。頭瘡醫欲急攻之。是誤也。若被攻者。其瘡忽燥。痰鳴息商。必腹滿。四肢厥。宜麻黃野蠶湯主之。更將𧃲片。浸溫酒。以熨頭上。瘡潤者生。否者死。頭瘡。白班痂㿔。若癢。若不癢。名曰白禿瘡。狼牙湯主之。兒白禿瘡。難瘥者。宜松子灰散。</p>
<p><u>松子灰散方</u></p>
<p>松子灰（四錢）　韶腦（四錢）</p>
<p>上二味。研篩。以雞子白。敷患處。頭髮臭癢劇。爬則作片而落。名曰白屑風。宜白屑散主之。</p>
<p><u>白屑散方</u></p>
<p>白附子（三兩）　土硫黃（二兩）　礬石（二兩）　側柏葉（一兩五錢）　百藥煎（八兩）　甘松香（四錢）　三奈（三兩）　龍腦（一錢）</p>
<p>上八味。研篩。分發擦之。以瘥為度。鼻發紅班。若痛癢者。名曰肺風。薄荷煎主之。</p>
<p><u>薄荷煎方</u></p>
<p>薄荷（一兩）　防風（一兩）　石膏（一兩研）　枳椇子（一兩搗如泥）　白糖（三兩）</p>
<p>上五味。以水一斗。先煎薄荷防風。減四升。去滓內三味。再煎如膏。每服彈丸大。兒胎感酒毒。鼻紅。若紫而瘡。名齄鼻。宜枳椇子膏主之。</p>
<p><u>枳椇子膏方</u></p>
<p>枳椇子（二兩去核）　石膏（一兩燒）　蜂蜜（八錢）</p>
<p>上三味。內臼中。搗為膏。每服彈丸大。以白湯服之。鼻內瘜肉。此為鼻痔。宜砭惡血去其重勢也。九竅蝕瘡。隨月盈虛起伏者。名曰月蝕瘡。宜五香連翹湯主之。</p>
<p><u>五香連翹湯方</u></p>
<p>麻黃（三分）　射干（三分）　枳實（五分）　大黃（三分）　連翹（三分）　雞舌香（二分）　沉香（三分）　木香（二分）　薰陸香（二分）　麝香（一分）</p>
<p>上十味。以水二升。煮九味。取一升。去滓內麝香。攪調。分溫服。鼻蝕瘡熱燥。意欲濕者。名曰鼻䘌。即鼻疳也。熊膽膏敷之。</p>
<p><u>熊膽膏方</u></p>
<p>熊膽（一錢）　燕脂（二分）　蜂蜜（五分）</p>
<p>上三味調和。以重湯。微溫敷。日五六次。病人結核。如梅實狀。名曰瘰癧。如馬刀蛤。名曰馬刀瘡。發頸若胸脅。即氣腫也。夏枯草膏主之。</p>
<p><u>夏枯草膏方</u></p>
<p>夏枯草（一斤）</p>
<p>上一味。以酒二斗。煮取一斗。去滓內膠飴八兩。以文火。再煮攪調。每服彈丸大。瘰癧馬刀。無膿者是也。灸瘡頭。若肩髃肘髎俱主之。瘡頭隔蒜而灸之也。兒體腫結。有膿者為胎毒。無膿者痰核也。結核家。須食海菜。常食則經久。當自愈也。發熱惡寒。頭面暴腫。其脈緊數者。宜葛根加荊防湯。</p>
<p><u>葛根加荊防湯方</u></p>
<p>葛根（五分）　芍藥（五分）　甘草（二分）　桂枝（二分）　荊芥（三分）　防風（三分）　生薑（二分）　大棗（二枚）</p>
<p>上八味。以水二升。煮取一升。去滓分溫服。頸項強痛。難顧薲者。法以纊。厚纏其頸。服葛根湯。以酣睡。濈濈汗出而瘥。頭面腫起。焮熱煩痛。脈洪數。此為風毒所致。名曰頭瘟。宜消毒飲主之。面傍。厖腫熱痛者。為蝦蟆瘟也。頭瘟耳鳴如海響。名曰雷頭風。若從頤頷硬腫。食飲難通者。名曰鸕鷀瘟。難治也。問曰。有喉痹。有乳蛾。有纏喉。有走馬喉。其狀如何。答曰。乳蛾者。以形之謂也。纏喉者。以病劇之名也。走馬者。以病急之謂也。喉痹者。為總名。此皆為陰陽鬱塞所致。宜桔梗湯主之。</p>
<p><u>桔梗湯方</u></p>
<p>桔梗（一錢）　甘草（三分）</p>
<p>上二味。以水一升。煮取七合。去滓分溫服。兒喉腫。若帝鍾風。宜射干麻黃湯主之。</p>
<p><u>射干麻黃湯方</u></p>
<p>射干（一錢）　麻黃（五分）　狼牙（五分）　牛房子（五分）　甘草（二分）</p>
<p>上五味。以水一升。煮取七合。去滓分溫服。喉嚨即懸癰也。腫者帝鍾風也。喉風者刺而愈。帝鍾風不可刺也。兒喉塞發熱。肩息痰響。啼聲吃吃者。名曰纏喉風。兒暴卒喉腫。發熱反張欲死者。名曰走馬喉也。諸喉風腫痛。食飲不能者。宜急刺取血也。風毒嗌窒。若胃熱熏灼。上焦怫鬱。口爛食斷也。春霞丹主之。</p>
<p><u>春霞丹方</u></p>
<p>寒水石（五錢）　蓬砂（一錢）　辰砂（一錢）　馬牙硝（一錢）　龍腦（五分）　冰糖（七錢）</p>
<p>上六味。碾調含服。喉風者多痰。發熱脈數。食飲不能者。含蓄膏主之。</p>
<p><u>含蓄膏方</u></p>
<p>雀屎（二十個）　梅肉（一個）　白糖（一匙）</p>
<p>上三味。以薑汁碾調。入𧃲袋含服。舌瘡若喉腫。咽嗌不利者。宜火濟加薄荷湯主之。乳蛾喉腫者。烏頭一塊研如泥。醋面調。以貼足心。再三換之。舌腫喉瘡。柑檻膏主之。</p>
<p><u>柑檻膏方</u></p>
<p>柑檻肉（三個）　白糖（四錢）</p>
<p>上二味。研調含服。疳熱脈微。血燥咽蝕者。宜翹花煎。病人體羸血涸。假火漸熏灼。遂為喉癬。食飲廢絕者死。纏喉若走馬喉。大熱脈急。反眼肩息者死。無熱大便瀉者亦死。問曰。指瘡。有代指。有甲疽。有瘭疽。其狀如何。答曰指頭焮熱腫痛。爪甲脫落者。名曰代指瘡。爪甲發瘡。煩痛若有熱。若無熱。名曰甲疽。瘡色紫黑而蝕脫者。即瘭疽也。宜雞子清浸之。雞子殼。鑿作口。以浸指。須臾當痛定也。指瘡焮熱煩痛者。宜蚯蚓油敷之。</p>
<p><u>蚯蚓油方</u></p>
<p>蚯蚓（三條去泥）</p>
<p>上一味。研為泥。以蓖麻油漬之。指頭髮瘡。黑硬者瘭祖也。宜附子膏主之。</p>
<p><u>附子膏方</u></p>
<p>附子（一錢）　韶腦（五分）　飴糖（一錢）</p>
<p>上三味。研調。以敷。當引出毒氣也。掌內濕癬。休作不解者。名曰鵝掌瘡。宜熏之。</p>
<p><u>熏方</u></p>
<p>鼠屎（二錢）　川芎（四錢）　大黃（四錢）</p>
<p>上三味。燒煙以熏之。日二三次。禁菸撲鼻也。指頭觸寒毒。血頑凝。不知痛癢者。名曰凍瘡。宜附子煎洗之。</p>
<p><u>附子煎方</u></p>
<p>附子（一塊）　韶腦（五分）</p>
<p>上二味。以酒二升。煎取一升。溫洗。日二三次。以瘡愈為度。胎癬毒腫。若癰瘡。俱宜清冷膏解之。</p>
<p><u>清冷膏方</u></p>
<p>木芙蓉（花葉同一兩不拘生干）　紅豆（半兩）</p>
<p>上二味。以蜂蜜。研調。以敷。且干且敷。始發者。熱散痛歇。膿成者。膿當自出也。身體發瘡。若大若小。若多若少。無定者。此為血花。名曰血風瘡。宜防風敗毒湯服之。體膚班瘡。若圓。若斜。爬必有白屑。名曰白癬也。白癬若紫癬。漸長煩癢者。磨好墨敷之。夏月蒸熱。汗氣凝結。發班如錢狀。名癧瘍。即汗班也。癧痬得秋涼而解。若不解者。米秕燒取油敷之。問曰。癜風如何。答曰。無瘡而有色者。癜風也。癜風。有白有黑。黑者易治。白者難治。宜蜜陀膏敷之。</p>
<p><u>蜜陀膏方</u></p>
<p>金蜜陀（四錢）　天南星（四錢）　附子（四錢）</p>
<p>上三味。碾篩。用茄蒂醋釀。點藥末。以磨患處。二三次有驗。面顏發黑點。此為瘀濁所致。名曰黑痣。</p>
<p><u>療黑痣方</u></p>
<p>糯米（百粒）　石灰（拇指大）　巴豆（三個）</p>
<p>上三味。碾調。納瓷瓶。窨三日。先以針撥靨子。仍點膏。當蝕落也。身體發瘡。狀如椒子。名曰⿰虫⿳吅一⿱口𧘇瘡。宜灸瘡頭。自然脫落。面顏有滓者。此為嗣面。婦人則粉氣所致也。問曰。有贅有癭其狀如何答曰癭者如櫻桃是也。瘤者留結之謂也。贅者贅出者是也。贅瘡宜以蜘絲。纏其腳。經久而當落也。贅瘡若胬肉。宜白梅肉敷之。</p>
<p>白梅肉（去核不拘多少）</p>
<p>上一味。研如泥。以敷。自然消盡也。癭瘤。若大若少。無痛癢者是也。問曰。五癭六瘤如何也。答曰。石肉筋血氣。此為五癭也。骨肉膿血石脂。此為六瘤也。俱不可剪割。唯脂瘤。當割破。而去脂也。五般癭瘤。俱蠟礬丸主之。</p>
<p><u>蠟礬丸方</u></p>
<p>黃蠟（二兩）　白礬（四兩）</p>
<p>上二味。搗調。丸桐子大。每以溫酒。服三十丸日三次。內疽腸癰俱治之。膁瘡。餘瀝不斷。煩癢者。宜洗之。熏之。海桐皮。石榴皮。各等分。以水煎去滓。灌洗。更燒房子熏之。黑癬癮疹。若瘻瘡。膿瀝不竭者。七寶丹主之。</p>
<p><u>七寶丹方</u></p>
<p>福良（八錢漬醋煅數次）　九孔螺（七錢，以麵裹煨，去粗皮）　銀丹（一錢，研末）　鉛丹（五錢五分）　大黃（七錢五分）　甘草（三分五釐）　白糖（四錢）</p>
<p>上七味。研篩。以蜂蜜。若砂糖湯服。日二三次。遺毒。若黴瘡。膚肉欲蝕盡。宜麝香油敷之。</p>
<p><u>麝香油方</u></p>
<p>麝香（一分）　蟾蜍（一分）　人油（一蜆殼）</p>
<p>上三味。碾調敷之。日二三次。問曰。五痔何也。答曰。牝痔。牡痔。腸痔。血痔。脈痔是也。腸風臟毒者。大便血。即瘀濁腸澼也。若毒凝塞者。名曰痔瘡也。痔血鮮紅者。為腸風。濁瘀者。為臟毒。宜紅藍酒。去瘀血。生新血。</p>
<p><u>紅藍酒方</u></p>
<p>藍花（一兩五錢）　胡椒（四錢）　白糖（一斤）</p>
<p>上三味。以燒酒一斤。釀一七日。絞去滓分溫服。臟熱凝結。腸頭作塊。名曰痔。宜逐毒飲。</p>
<p><u>逐毒飲方</u></p>
<p>小連翹（一錢）　惡實（一錢）　雞子殼（炙碎五分）</p>
<p>上三味。以水一升煮取七合。去滓。分溫服。九竅腫突者。俱為痔也。宜刺取血。若作口而膿瀝。名曰瘻瘡。宜七寶丹主之。痔為毒。腸澼是也。劇者大便血。即腸風臟毒也。風毒。客於腸間者。為腸風也。熱毒。客於臟內者。為臟毒也。腸風者。宜驅風熱也。臟毒者。宜逐瘀血也。問曰。血有遠近者何也。答曰。鮮明者。必近血也。濁瘀者。必遠血也。近血者易治。遠血者難治。痔沉痼者漏也。用熏方。</p>
<p><u>熏方</u></p>
<p>五倍子（四錢）　韶腦（四錢）　艾葉（一兩八錢）</p>
<p>上三味。為粗漠。充釭內。點火跨坐。以煙盡為度。痔漏。蝕爛煩痛者。宜木鱉湯主之。</p>
<p><u>木鱉湯方</u></p>
<p>木鱉仁（五個）</p>
<p>上一味。搗如泥。內熱湯。熏且洗。更木鱉粉。調雞子清。以敷。其痛當自解也。痔瘡遣毒。諸漏瘡。萬方無驗者。宜七寶丹。兼食龜卵。其應如浮鼓也。兒兩腸衰弱。魄門翻脫者。名曰腸痔也。良薑飲主之。</p>
<p><u>良薑飲方</u></p>
<p>良薑（三分）　蓮蕊（三分）　龍骨（三分）　粳米（一錢）　甘草（三分）</p>
<p>上五味。以水二升。煮四味。取一升。去滓。內龍骨。攪調。分溫服。兒泄痢。廣腸脫出者。宜猿膽敷之。</p>
<p>猿膽（一錢）　韶腦（三分）</p>
<p>上二味。以雞子清。碾調。敷痛處。病人腸氣虛極。廣腸翻脫者。宜蜘蛛散主之。</p>
<p><u>蜘蛛散方</u></p>
<p>蜘蛛（不拘多少黑炒）</p>
<p>上一味。以蜂蜜。研調敷之。問曰。傷損如何。答曰。大便必難。劇者瘀血沖胸。若妄語。此為驚氣入心。宜桃核承氣湯主之。傷損家。小便必如血。大黃黃連瀉心湯主之。打撲血出者。為血散。若血不出者。此為伏血。宜蘿蔔汁敷之。蘿蔔（生一個）</p>
<p>上以醋研調塗痛處。日四五次。傷損。血出過多。目眩悸動者。此為氣血虛耗所致。宜涼肝湯主之。諸瘀血衝心。煩躁欲死者。還元湯主之。</p>
<p><u>還元湯方</u></p>
<p>金水（五合）　苦酒（二合）</p>
<p>上二味調和。煮三兩沸。加薑汁。攪調。頻服。諸瘀血家。宜膠飴酒主之。</p>
<p><u>膠飴酒方</u></p>
<p>膠飴（半斤）　梅肉（二兩研）　清酒（一升）</p>
<p>上三味。煮調。分溫服。傷損焮熱煩痛。若瘡疹熱腫者。桐葉醋敷之。</p>
<p><u>桐葉醋方</u></p>
<p>桐葉（一兩）　苦酒（三合）</p>
<p>上二味。研調。敷患處。日數次。瘀血凝結。作魂而痛者。芥子醋敷之。</p>
<p><u>芥子醋方</u></p>
<p>白芥子（三兩）　生薑（一兩）</p>
<p>上二味。以醋研調。敷患處。閃肭失足。瘀血凝結。而煩痛者。宜橘核散主之。</p>
<p><u>橘核散方</u></p>
<p>橘核（炒，三兩）　延胡索（一兩）　桃仁（炒一兩）</p>
<p>上三味。研篩。每二錢。以溫酒服之。瘀血衝心。驚悸煩躁。欲死者。宜鐵漿主之。</p>
<p><u>鐵漿方</u></p>
<p>鐵砂（三兩）</p>
<p>上一味。以童尿一斗。攪調。入罐內密蓋。冬月埋地三尺。至春出之。分溫。加苦酒薑汁。服之。問曰。湯火傷瘡如何。答曰。火傷忍痛。反灸則痛自解。若灌水者。痛不可解也。湯火瘡。煩痛者。雞子油主之。</p>
<p><u>雞子油方</u></p>
<p>雞子黃（七個熬取油）　雲母（一錢）</p>
<p>上二味。研調。敷痛處。湯火傷瘡。熱腫煩痛者。宜蘿蔔汁。若痛不解者。生梨汁亦敷之。湯火傷。皮脫肉蝕者。宜黃明膠膏主之。</p>
<p><u>黃明膠膏方</u></p>
<p>黃明膠（二兩）　清酒（五合）</p>
<p>上二味。以文武火。煮為膏。敷患處。問曰。風犬傷如何。答曰。春夏之交犬。多發狂。被咬傷者。熱腫疼痛。劇者。作讝言妄語。此為毒入心所致也。犬狗傷者。急砭去血。仍灌入溺。再塗人屎。更掩以紙。灸之百壯。紙焦屎燥。則再三易之。連日如斯。灸至四五百壯。為度。犬咬瘡。用杏仁粥。禁酒。若服酒者。毒入心。驚躁不可治。</p>
<p><u>杏仁粥方</u></p>
<p>杏仁（一合）　陳米（一合）</p>
<p>上二味。調和。煮熟食之。問曰。蛇咬傷如何。答曰誤被咬傷者。急灌自已熱溺。仍敷以馬錢散。</p>
<p><u>馬錢散方</u></p>
<p>馬錢（一錢）</p>
<p>上一味。研篩。調唾以敷。更服醋二合。令毒無妄走也。問曰。鼠咬瘡如何。答曰。毒鼠咬人。熱腫疼痛。若劇者。致鼠鳴。宜貓毛灰敷之。</p>
<p><u>貓毛灰方</u></p>
<p>貓毛（燒灰三錢）　麝香（一分）</p>
<p>上二味。研調。以唾敷之。鼠傷瘡者。宜綿實熏主之。</p>
<p><u>綿實熏方</u></p>
<p>綿實（一斤）</p>
<p>上一味。燒煙。以熏瘡。將息二三次。鼠傷。若犬毒。衝心而煩躁者。宜鑯漿。兼防風解毒湯服之。諸蟲傷。煩癢者。宜胡椒粉敷之。</p>
<p>胡椒（研篩一分）</p>
<p>上一味。以唾沫調和。敷痛處。河豚為毒。膚肉潤動者。毒在腑也。胸腹㽲痛者。毒在臟也。毒在腑者。宜韶腦酒。毒在臟者。宜承氣湯。</p>
<p><u>韶腦酒方</u></p>
<p>韶腦（五分）</p>
<p>上一味。以酒二升。煮減二三合。分溫頻頻服。魚毒食傷。胸腹絞痛。二脈沉弦者。宜縮砂飲主之。</p>
<p><u>縮砂飲方</u></p>
<p>縮砂（一錢）　山楂子（一錢）　厚朴（五分）　枳實（三分）　青皮（三分）　白朮（三分）　生薑（三分）　甘草（二分）</p>
<p>上八味。以水二升。煮取一升。去滓。分溫服。病人。誤服熱方。煩熱動躁者。此為藥煩也。宜黑豆湯。</p>
<p><u>黑豆湯方</u></p>
<p>黑豆（一錢）　茉莉白（三分）　大黃（二分）　生薑（二分）　甘草（二分）</p>
<p>上五味。以水二升。煮取一升。去滓分溫服。病人。誤服烏附。目眩欲死者。宜地漿主之。</p>
<p><u>地漿方</u></p>
<p>黃土（二錢）</p>
<p>上一味。以水二升。攪調。令清澄。碩取冷服。多食膠飴亦佳。人誤服輕粉。口顏喎僻。手腳拳攣。不能伸舒。此為毒入骨髓也。石榴皮湯主之。</p>
<p><u>石榴皮湯方</u></p>
<p>石榴皮（二錢）　甘草（五分）　石決明（醋煅去鹿皮研篩一錢）</p>
<p>上三味。以水二升。先煮二味。取一升。去滓。內石決明。攪調。分溫服。砒霜為毒。煩悶吐血。劇者。一身紫色而煩熱。急取黑鉛四兩。磨水一升灌服兼刺雞鴨熱血。服之。又人糞汁。灌之。又巴豆去殼。一個為末。砂糖大一塊。水化調一升服之。</p>

<h1>辨疳病脈證並治第五</h1>
<p>問曰。疳有五疳者。何謂也。答曰。五疳者。五臟所發見也。疳者屬脾。脾實則無五疳。有五疳者。此為脾既病也。疳之為恙。肉脫血燥。腹硬而脈細數。若身熱發作。若大便溏。小便必如米泔也。疳有陽。有陰。蒸熱便難者。陽也。身腫便瀉者。陰也。疳有陽。有陰。始多陽。終多陰陽者宜寒涼方。陰者宜溫熱方。疳病。鼻燥欲濕者。名曰鼻疳。宜熊膽蜜敷之。</p>
<p><u>熊膽蜜方</u></p>
<p>熊膽（三分）　芒硝（一分）　蜂蜜（一錢）</p>
<p>上三味。研調敷。干再三敷之。疳病嗜泥好炭。此為脾郁所致也。兒啼哭。聲噎者。氣不順也。喘痰者。氣促迫也。聲濁沉靜者。疳積也。兒身熱發作。胸腹痞硬。若嘔乳者。宜柴胡平胃散料主之。疳癖。胸脅轆轆有聲。若潮熱發作。若氣逆妄怒者。宜潰堅湯主之。兒疳。露骨萎黃。身熱而溏。臭不可近者。消疳湯主之。</p>
<p><u>消疳湯方</u></p>
<p>茯苓（三分）　白朮（炒二分）　乳柑皮（五分）　莪朮（五分）　三稜（五分）　馬舄（五分）　使君子（去殼研二分）　生薑（二分）</p>
<p>上八味。以水一升。先煮七味。取七合。去滓。加使君子。攪調。分溫食遠服。病人手背熱者。為真火也。手心熱者。為假火也。兒無食腸。而與食。遂致食癖。劇則穀不化。血氣漸孤弱者。名曰疳癖也。病乳癖易化。谷癖難化。體瘦腹鼓。脈沉緊者。名曰谷瘕。宜潰堅湯。</p>
<p><u>潰堅湯方</u></p>
<p>茯苓（五分）　白朮（炒三分）　半夏（三分）　枳實（炒三分）　陳皮（五分）　檳榔（五分）　山楂子（炒二分）　香附子（五分）　縮砂（三分）　綿實（黑炒五分）　風化硝（三分）　莪朮（三分）　三稜（五分）　麥芽（黑炒一錢）　生薑（二分）　甘草（一分）</p>
<p>上十六味。㕮咀。以水二升。煮取一升。去滓。分溫服。病體瘦熱動。臉赤鼻燥。大便難。小便澀者。名曰陽疳。宜柏皮湯主之。兒身熱啼哭。腰腹如削者。此為缺乳疳也。兒無食腸者。強與食。胸腹硬滿。時痛。若唇紅唾沫。宜𪋞胡湯主之。</p>
<p><u>𪋞胡湯方</u></p>
<p>𪋞胡菜（一錢）　檳榔（五分）　大黃（五分）　苦楝皮（二分）　甘草（五分）</p>
<p>上五味。以水二升。煮取一升。分溫二服。暮時減食。次朝勿食。當有驗。糜粥自養。兒頭脹大漸長。反四肢瘦者。名曰腦疳。宜逐疳丸主之。兒體羸腹大。眼內生醫者。名曰疳眼。宜柳肝加馬舄湯主之。疳熱鬱釀。致蝕瘡者。宜烏頭灰。以雞子清敷之。兒疳。骨節疼痛。遂致傴僂跼背。若胸上突起。名曰龜胸。宜鐵漿服之。更龜尿煎敷之。</p>
<p><u>龜尿煎方</u></p>
<p>龜尿（三合）　燒酒（五合）　韶腦（三分）</p>
<p>上三味。調和煎熟。乘熱熨突處。疳熱膠凝。骨節疼痛。胸背欲突起者。宜逐疳丸。頻服當自愈也。疳病。脈細數。必蒸熱。蒸熱者。致盜汗。遂屬肌膚甲錯也。兒疳愛吃泥土者。宜伏龍肝丸。</p>
<p><u>伏龍肝丸方</u></p>
<p>優龍肝（二兩）　使君肉（二兩）　檳榔（一兩）　南星（薑製一兩）　鰻鱺頭（黑炒二兩）　熊膽（一錢）</p>
<p>上六味。研調蜜丸。吃炭者。去伏龍加炭二兩。吃米者。加米二兩。兒體羸膚燥。煩渴者。名曰疳渴。宜白梅湯主之。</p>
<p><u>白梅湯方</u></p>
<p>白梅（二個）　菟絲子（一錢）</p>
<p>上二味。以水一升。煮取七合。去滓分溫服。兒疳。煩渴不解。脈微數。小便赤而澀者。宜益元散主之。</p>
<p><u>益元散方</u></p>
<p>滑石（三錢）　辰砂（一錢）</p>
<p>上二味。研調。以雪水冷服。兒體瘦咬爪。大便溏泄。連日不解。名曰疳瀉。宜扶脾湯主之。痢疾既解。反潮熱血燥者。為疳病也。痘瘡解後。血液必竭。四肢瘦削。脈細而數。此為轉屬疳病也。兒病胸骨露。腹肚脹大。四肢微冷。而大便溏者。名曰冷疳。宜養真湯主之。</p>
<p><u>養真湯方</u></p>
<p>茯苓（五分）　白朮（三分）　乳柑皮（五分）　青皮（二分）　半夏（五分）　香附子（五分便制）　縮砂（三分酒製）　藿香（二分）　人參（二分）　破故紙（三分）　附子（二分）　麥芽（五分）　甘草（三分）　生薑（二分）　大棗（二枚）</p>
<p>上十五味。以水二升。煮取一升。去滓分溫服。病身熱血燥。脈細而數。脾氣衰則大便鶩溏。胃氣衰則四肢微腫。名曰脾癆。宜扶脾湯主之。病腹肚石硬。胃弱不殺穀。面顏銀白。朝涼暮熱。脈細數。而肌膚甲錯者。名曰疳勞。宜抉脾湯主之。</p>
<p><u>抉脾湯方</u></p>
<p>茯苓（五分）　白朮（二分）　半夏（五分）　縮砂（三分）　香附子（童便制五分）　蓮蕊（三分）　乳柑皮（五分）　青皮（三分）　食鹽（一分）　人參（二分）　紅曲（二分）　生薑（二分）</p>
<p>上十二味。以水二升。煮取一升。去滓空肚溫服。疳勞為病。朝涼暮熱。咳痰心悸。肌肉血燥。脈細而數者。宜逐疳丸主之。</p>
<p><u>逐疳丸方</u></p>
<p>天靈蓋（黑炒一兩）　蝦蟆灰（四錢）　鰻鱺頭（燒灰四錢）　獺肝（灸干八錢）　真珠（一錢）　松脂（水飛九錢）　田螺灰（四錢）　犀角（四錢）　龍腦（一錢）　麝香（五分）</p>
<p>上十味。研篩。以燒酒糊。丸梧子大。每服五分。雞卵濃湯送下。病人。骨熱起伏。其脈微數。四肢肉脫。一身血燥。名曰乾血勞。宜鰻鱺膏。</p>
<p><u>鰻鱺膏方</u></p>
<p>鰻鱺（去頭骨三斤）　清酒（一斗）</p>
<p>上二味。以文火。煮為膏。隨意食之。疳之為病。陽虛則吐血。陰虛則小便難。陰陽俱虛竭。則身體枯燥。蒸熱盜汗。心悸不安。若口渴而咽痛者。宜柴鱉湯。</p>
<p><u>柴鱉湯方</u></p>
<p>柴胡（一錢）　黃芩（三分）　鱉甲（丸，二錢）　茯苓（二錢）　枳實（五分）　寒水石（二錢）　鹿角菜（三分）　蓮蕊（二分）　甘草（一分）</p>
<p>上九味。以水二升。煮取一升。去滓。分溫服。疳熱骨蒸。肌肉銷鑠者。宜梔子飯。</p>
<p><u>梔子飯方</u></p>
<p>梔子（四錢）</p>
<p>上一味。以水一斗。煮取汁。以炊米。作粥食。病人。氣血虛竭。鬱熱起伏。二脈細數。大便若燥。若溏。胸痞悸動。呴其氣。而熱愈動。滋其血。而胸益痞。宜八珍湯主之。</p>
<p><u>八珍湯方</u></p>
<p>人參（三分）　茯苓（二錢）　枸杞（三錢）　縮砂（五分）　鹿角霜（七分）　蓮蕊（三分）　生薑（一片）　甘草（三分）</p>
<p>上八味。以水二升。煮取一升。去滓。分溫服。陰痿遺精。腰腳痠痛。胸間悸動。臍下脫力。呴真元。滋腎液。七珍膏主之。</p>
<p><u>七珍膏方</u></p>
<p>人參（四錢）　破故（微炒二錢）　枸杞（二十錢）　雀肉（研如泥十錢）　雞子黃（塗板面烈日曬乾十錢）　白糖（二十錢）　蜂蜜（一合）</p>
<p>上七味。以燒酒二升。文火煮。膠凝為度。每服彈丸大。鹽湯送下。氣血耗散。脾胃虛弱。遂變見諸症。勿論其證。勿拘其脈。宜連服陰陽調勻湯。以取窮境之效也。</p>
<p><u>陰陽調勻湯方</u></p>
<p>人參（三分）　茯苓（二錢）　白朮（五分）　橘皮（炒五分）　半夏（一錢）　香附子（便制一錢）　縮砂（五分）　破故（五分）　枸杞（一錢）　黃柏（酒製三分）　甘草（三分）　生薑（一片）</p>
<p>上十二味。以水二升。煮取一升。去滓分溫服。疳勞。身微腫。四肢沉重。若大便泄痢者。宜真武加馬舄湯。若有陰熱者。更加鱉甲三分。病人。肌膚乾枯。咳喘少氣。名曰疳咳。榧子去殼。微灸蘸蜜。每食一二枚。日二三次。病胸脅攣拘。夜臥盜汗。若身發虛班。若心悸動者。黃耆建中湯主之。疳病。腹癖膨脹。雷鳴而微痛。若四肢微腫者。大麥煎主之。</p>
<p><u>大麥煎方</u></p>
<p>紅豆（出芽五分）　茯苓（一錢）　乳柑皮（五分）　枳實（三分）　大腹皮（五分）　大麥芽（二錢）　生薑（二分）</p>
<p>上七味。以水二升。煮麥芽。減七合。去滓。內六味。再煮取七合。去滓。分溫服。疳腫腹脹。小便不通者。宜瞿麥湯主之。</p>
<p><u>瞿麥湯方</u></p>
<p>瞿麥（五分）　商陸（五分）　茯苓（一錢）　琥珀（二分）　大腹皮（三分）　生薑（二分）　甘草（三分）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫服。疳病。面黃頸細。腹大青筋。大便溏而澄清者。宜七成湯主之。</p>
<p><u>七成湯方</u></p>
<p>破故紙（一錢）　附子（三分）　蓮蕊（二分）　茯苓（一錢）　人參（二分）　生薑（二分）　甘草（二分）</p>
<p>上七味。以水一升。煮取七合。去滓。分溫服。疳病。玄府衰則自汗出。牝臟衰則大便溏。宜溫臟丸主之。</p>
<p><u>溫臟丸方</u></p>
<p>蝮蛇（灸四錢）　縮砂（二錢）　破故（炒二錢）　蓮蕊（炒一錢）　熊膽（五分）　甘草（三分）</p>
<p>上六味。研篩。以燒酒糊丸。每服三十丸。疳熱發渴。要視口內。若齒焦黑者。名曰走馬疳。宜大黃黃連瀉心加茉莉白湯主之。疳熱骨蒸。咳喘煩悸。渴而小便赤者。五蒸湯主之。</p>
<p><u>五蒸湯方</u></p>
<p>石膏（五分）　知母（三分）　黃柏（二分）　龜板（五分）　地黃（三分生用）　人參（二分）　甘草（二分）　生薑（二分）　大棗（二枚）</p>
<p>上九味。㕮咀。以水二升。煮取一升。去滓。加童便。分溫服。疳熱骨蒸。咳痰吐食。其腹郁膨。若微痛。吞酸腥臭者。宜鱉甲枸杞飲。</p>
<p><u>鱉甲枸杞飲方</u></p>
<p>鱉甲（一錢）　枸杞（一錢）　犀角（三分）</p>
<p>上三味。以水一升。煮取七合。去滓。分溫服。病骨熱咳痰。身微腫。吐鮮血者。宜犀角山漆湯。</p>
<p><u>犀角山漆湯方</u></p>
<p>犀角（五分）　山漆（二錢）　人中白（三分）</p>
<p>上三味。先煮二味。去滓。內人中白。攪調。分溫服。若痰多者。更加竹瀝三分。亡血家飲食減少肌色脫是趹必致腫也。疳病。脈細而沉。腹滿腸鳴。必作䭇也。趹陽脈。浮而數。浮則為虛。數則為熱。虛熱相搏。故令氣䭇。言胃氣虛竭也。百骸乏力。咳痰倚息。身浮腫。大便泄利者。不可治。疳病。腹滿如鼓。為丁奚。若吐乳食。為哺露。俱屬難治。病人。倦臥而不食。其眼失神。顴時紅者。孤陽之動也。疳病。倦臥唇色脫。盜汗不歇者死。病。奐口倚息。鼻焦唇燥。蛔既出者死。病暴熱倚息。飲食不能者。可治。漸熱休作。行動煩悸。飲食少進者。不可治。陰虛者。陽必動之。熱也。陽虛者。陰必𦑜之。腫也。陰陽偏廢者。不可治。</p>

<h1>辨上焦病脈證並治第六</h1>
<p>問曰。上焦病何謂也。答曰。假令如鼻耳眼口所患。此為上焦之病也。頭痛發熱。咳嗽鼻鼽。脈浮而數者。風寒也。頭痛休作。肌膚鮮明。而脈滑者。為留飲也。頭痛胸痞。若腳攣。脈細而弦者。宜柴胡蒿本湯主之。</p>
<p><u>柴胡蒿本湯方</u></p>
<p>銀柴胡（五分）　黃芩（二分）　半夏（五分）　人參（二分）　蒿本（五分）　川芎（二分）　桂枝（三分）　大棗（二枚）　生薑（二分）　甘草（二分）</p>
<p>上十味㕮咀。以水二升。煮取一升。去滓分溫服。頭痛氣逆。若頭眩。脈微滑者。桂枝茯苓白朮甘草湯主之。</p>
<p><u>桂枝茯苓白朮甘草湯方</u></p>
<p>茯苓（五分）　桂枝（三分）　白朮（五分）　甘草（三分）</p>
<p>上四味。以水一升。煮取七合。去滓分溫服。頭痛發作。脈數實。此為頭瘡之兆也。宜芎黃加味丸。</p>
<p><u>芎黃加味丸方</u></p>
<p>天靈蓋　大黃（各二兩）　川芎（一兩）</p>
<p>上三味。研篩。以酒糊丸。頭痛脈細。胸中溫溫。唾白涎者。宜吳茱萸湯。頭痛胸痞。若悸動。脈關上浮者。大黃黃連瀉心湯主之。頭痛眼黃。大便硬者。宜大承氣湯主之。頭腦刺痛。四肢厥冷。額汗出。此為痛人泥丸宮。即真頭痛也。朝發者夕死。夕發者朝死。兒疳熱熏灼。遂客於頭腦。其囟尖高者。名曰囟填也。兒瀉泄不禁。真元降陷。囟致坖者。名曰囟陷。宜抉脾加殭蠶湯主之。問曰。眼病何以所致。答曰。疳熱風毒。若胎毒。是皆眼疾之所因也。眼目暴腫。焮熱而疼痛者。風熱所致也。眼翳朧朧然。胸腹如娠。脈沉細者。疳熱所動也。眼目熱紅。膚作班者。為胎毒。宜火濟湯主之。眼瞼蝕爛。身涼和。脈沉細者。為遺毒也。芎黃加味丸主之。眼疾熱痛不解者。宜鐵落漿點之。</p>
<p><u>鐵落漿方</u></p>
<p>鐵落（四錢以雪水五合浸之一七日色如皂角汁）　燕脂（寒制二分）</p>
<p>上二味。調和以點。日四五次。眼病脈數緊。目脈血腫而痛。此為風眼。若不痛。名曰疫眼也。菊花湯主之。</p>
<p><u>菊花湯方</u></p>
<p>菊花（五分）　防風（一錢）　川芎（三分）　梔子（黑炒三分）　甘草（二分）</p>
<p>上五味。以水二升。煮取一升。分溫服。眼瞼發瘡。脾郁所致。名曰眼疣。減飲食而自愈。朝明暮暗。名曰雀目。此為疳郁所致也。宜夜明砂丸主之。</p>
<p><u>夜明砂丸方</u></p>
<p>夜明砂（三錢炒研）　熊膽（五分）</p>
<p>上二味。研調。糊丸麻子大。每服三十丸。血眼熱痛。若疫眼紅腫。俱點還元水。兼與三黃加細辛馬舄湯主之。疳火鬱蒸。遂害精萃。翳如霧裡。此為疳眼也。兒省目。若疳眼者。鰻鱺膽。若海鯽膽。皆食之。當自愈。兒眼瞼。浮腫休作者。食飲過飽所致也。痘眼致星障。若翳膜者。須要急治。點以雞冠血。點燕卵清亦佳。痘毒。若風毒。致翳障者。宜辰砂膏主之。</p>
<p><u>辰砂膏方</u></p>
<p>蓖麻子（一兩）　茬油（三合）　辰砂（四錢）</p>
<p>上三味。搗爛作膏。貼百會。又敷諸瘡而愈。若產婦胞衣不降者。貼足心。傷損眼。焮熱煩痛者。宜蘘荷根點之。</p>
<p><u>點方</u></p>
<p>蘘荷根（一個去粗皮）</p>
<p>上一味。研絞取液。以屢點。痛當自解也。塵砂侵眼。磣痛多淚者。好墨磨清水。以點入。闔眼少頃。以紙捻。從眥尾。向眥頭。拭淨二三次。塵當出也。眼目焮熱。煩痛者。為陽眼也。無熱而碧白。不辨物者。陰眼也。陰眼者難治。陽眼焮痛。瞳仁破者。亦難治。風眼熱腫疼痛。瞳仁翻突者。不可治。問曰。鼻病如何。答曰。鼻焮熱而燥。屢欲濕之。濕則蝕爛而痛者。為鼻疳也。鼻熱紅若腫大。脈洪而數者。為肺風也。鼻濁瀝流如泉。名曰鼻淵。即腦漏也。頭為風熱。客於肺所致。必致瞑目。劇者致衄蔑。宜三黃瀉心加細辛薄荷湯。鼻內瘜肉。即鼻痔也。若焮熱紅腫。鼻甕凝塞。名曰鼻齆。宜割破取瘀濁也。肺風腫痛。諸鼻瘡。其脈洪數者。宜火濟湯服之。鼻瘡齄鼻。酒毒入肺所致者。葛花湯主之。</p>
<p><u>葛花湯方</u></p>
<p>葛花（五分）　枳椇（五分）　薄荷（三分）　石膏（一錢）　甘草（二分）</p>
<p>上五味。以水一升。煮取七合。去滓。分溫服。兒鼻熱燥。遂窒塞。鼻息高鼾。睡眠不安。名齁䶎。宜蜂蜜點之。病人肺竅。為風熱所闔。遂齁䶎。難以息者。宜瓜蒂散。用管吹之。燥煩而解也。鼻瘡腫大。其脈洪而滑者。為鼻齆也。通肺飲主之。</p>
<p><u>通肺飲方</u></p>
<p>蒼耳子（五分）　辛䓴仁（五分）　白芷（三分）　細辛（二分）　薄荷（二分）　龍腦（一分）　生薑（二分）</p>
<p>上七味。以水一升。煮六味去滓。內龍腦。二三沸。分溫服。日三服。鼻不聞香臭。此為肺竅郁遏所致。宜通肺飲主之。問曰。有衄血。有吐血。其別如何。答曰。鼻者與肺通。血溢於腦者。致衄血也。血動於胸者。致吐血也。病人血氣暴動。致衄血。其脈數實者。宜大黃黃連瀉心湯主之。衄血為恙。惡寒發熱。其脈浮而緊者。此為風熱。欲解所致也。鼻衄若吐紅。喘痰盜汗。脈虛微者。宜玄參湯。</p>
<p><u>玄參湯方</u></p>
<p>玄參（三分）　地黃（生三分）　梔子（炒三分）　犀角（三分）</p>
<p>上四味。以水一升。煮取七合。去滓分溫服。驚觸。逆動而暴衄者。先以冷水噀其面。仍與大黃黃連瀉心湯。鼻衄吐紅暴流。元陽欲脫者。宜灸湧泉大敦。熨百會亦為佳。病人身體羸瘦。其脈細數。咳血若衄血者。此為上實下虛之侯也。宜燒酒加蘿蔔汁服之。又紫糖。以燒酒。和解服之。使大蒜研如泥。貼足心。病人衄蔑顏紅。此為孤陽奔騰。好墨磨熱湯。加人尿服之。又花蕊石散主之。</p>
<p><u>花蕊石散方</u></p>
<p>花蕊石（四錢）　食鹽（一錢）</p>
<p>上二味研均。以童尿服。咯血。若大便血。諸虛動所致者。宜攝血陽主之。</p>
<p><u>攝血湯方</u></p>
<p>當歸（五分）　芍藥（五分）　地黃（生三分）　川芎（二分）　蝮蛇（炒研三分）　生薑（二分）</p>
<p>上六味。以水二升。先煮五味。取一升。去滓內蝮蛇。攪調分溫服。血動為病。陽盛則身熱。陰盛則身冷。身冷者易治。身熱者難治。病人九竅失血。身熱不解。脈滑數者。不可治。傷寒熱客於膀胱。遂致血泄。此為病解也。病人吐紅。腥臭不可近。其脈洪大。若頭眩者。為難治。血動為侯。其人。肌膚黑瘦者易治。白肥者難治。問曰。耳疾如何。答曰。耳之為恙。脈浮者為實。沉者為虛。實者發瘡。虛者致聾。兒耳膿瀝而敗臭。此為脾郁所致。以食飲過飽故也。名曰聤耳。宜大黃黃連瀉心湯。風熱。上攻而鼓擊。耳鳴恰如海濤者。宜防風攻毒飲主之。</p>
<p><u>防風攻毒飲方</u></p>
<p>防風（五分）　細辛（二分）　牛房子（五分）　黃柏（炒三分）　寒水石（一錢）　芒硝（三分）　甘草（二分）</p>
<p>上七味。以水二升。煮取一升。去滓分溫服。病人耳鳴恰如蟬聲。暮則劇。朝則減。此為無根假火奔騰所致也。烏鴉黑散主之。</p>
<p><u>烏鴉黑散方</u></p>
<p>烏鴉（黑炒四錢）　黃柏（黑炒二錢）　梔子（黑炒三錢）</p>
<p>上三味。研調。以白湯。加童便服之。耳痛休作。若膿滴。若蟬聲者。宜白礬油主之。</p>
<p><u>白礬油方</u></p>
<p>白礬（五分）　麝香（一分）</p>
<p>上二味。先以清油二升。煮白礬。內麝香。攪調滴入。日二三次。耳鳴休作。久久致聾者不可治。風毒逆鼓而耳鳴如聾者。尚可治。假火奔騰。為勞聾者。不可治。問曰。齒齦腫痛何謂也。答曰。齒齶熱腫而痛脈必浮數者。為風熱所致。若脈沉數。其齒焦者為齵齒也。齦齶暴腫而痛此為風毒所致。宜消毒飲主之。齒齦煩熱疼痛若風熱若脾熱所致者。宜木鱉散主之。</p>
<p><u>木鱉散方</u></p>
<p>木鱉子（一錢）　龍腦（二分）</p>
<p>上二味。研篩醋調。敷患處。齒暴燔灼。乾黑而脫落者。為走馬疳也。蘿勒散主之。</p>
<p><u>蘿勒散方</u></p>
<p>蘿勒（三分）　蝦蟆（燒作灰二分）　龍腦（二分）</p>
<p>上三味。研調敷患處。重齶。焮熱而煩痛者。宜砭瘀血也。齒痛體作者。灸列缺若陽谿不復發也。問曰。口涎流出者。何謂也。答曰。涎者脾液也。口流涎者。此為脾失收攝所致也。養臟湯主之。</p>
<p><u>養臟湯方</u></p>
<p>茯苓（五錢）　白朮（炒三分）　陳皮（五分）　半夏（四分）　人參（二分）　柯子（二分）　生薑（二分）　大棗（三枚）　縮砂（三分）　甘草（三分）</p>
<p>上十味。以水二升。煮取一升。去滓。分溫服。問曰。暴啞者何以所致也。答曰。病人暴啞其聲啾啾。脈沉伏而咳。此為風痰凝結也。若聲吃吃。脈動數。狀如狂者。驚觸。若蟲癖也。病人失聲。如囁狀。此為風痰凝塞所致也。白糖飲主之。</p>
<p><u>白糖飲方</u></p>
<p>白糖（四錢）　蘿蔔汁（五分）　姜（三勺）</p>
<p>上三味。調和。頻頻服。病人。由驚觸而啞者。宜蜜陀丸。</p>
<p><u>蜜陀丸方</u></p>
<p>金蜜陀（四錢）　麝香（一分）　辰砂（三分）　豬膽（二分）</p>
<p>上四味。研篩。薑汁糊丸。桐子大。每服三十丸。以溫膽湯服之。兒情態恰如癡而吶語。此為癇啞也。病人體倦乏氣力。其聲如隔壁而語。此為病末。以血液竭故也。病人身熱。脈數而嘔者。為胃熱所致也。若身冷脈沉者。胃寒令然也。病候。有聲而無物。名曰嘔。無聲而有物。此為吐。若脈滑為痰飲。脈弦為蟲動。蟲動所致。宜安蛔湯。</p>
<p><u>安蛔湯方</u></p>
<p>人參（二分）　白朮（三分）　茯苓（五分）　乾薑（三分）　烏梅（一個）　蜀椒（二分）</p>
<p>上六味。以水一升。煮減三合。去滓分溫服。病人。諸嘔吐。水穀難入者。宜半夏茯苓湯主之。</p>
<p><u>半夏茯苓湯方</u></p>
<p>半夏（五分）　茯苓（五分）　生薑（三分）</p>
<p>上三味。以水一升。煮取七合。去滓。分溫服。嘔逆微熱。胸脅苦滿。其脈細弦者。宜柴胡湯主之。病人胸間漉漉作聲。吐出水穀者。茯苓飲主之。</p>
<p><u>茯苓飲方</u></p>
<p>茯苓（五分）　人參（三分）　白朮（三分）　枳實（二分）　橘皮（三分）　生薑（二分）</p>
<p>上六味。以水一升。煮取七合。分溫服。病發熱而渴。飲反嗆者。為水逆也。五苓散主之。嘔吐休作。飲食不能者。宜燒酒服之。</p>
<p><u>服法</u></p>
<p>燒酒（五合）　白糖（四錢）　薑汁（一合）</p>
<p>上三味。研調。每服一蜆殼。日五六次。嘔家腹滿潮熱。若腹痛。唇燥舌乾者。此為實。宜大承氣湯主之。兒暴吐脈腹反如故。此為乳餌所妨也。嘔家有癰膿者勿治。膿儘自愈。嘔乳休作。連日不解者。發驚癇。不可治也。嘔吐腹大。四肢瘦。其脈細弦者疳也。嘔家要減飲食。若妄飲食者。不可治也。問曰。膈噎病。何以所致也。答曰。天質虛弱。七情鬱塞。若飲食飢飽過度。脾力仍孤竭。濁痰膠疑。致以飲食溢吐也。飲食噎出。肌膚血燥。脈微弱者。為極虛也。與蜆殼散。</p>
<p><u>蜆殼散方</u></p>
<p>蜆殼（浸醋燒四錢）　雞子殼（四錢）　白糖（一兩）</p>
<p>上三味。研調。以生薑湯服之。病人。脈滑而動。飲食時噎吐者。宜大半夏湯。</p>
<p><u>大半夏湯方</u></p>
<p>半夏（一錢）　人參（三分）　白蜜（五錢）</p>
<p>上三味。以水二升。調和。煮取一升。去滓。分溫服。膈噎胃反。飲食時吐出者。宜鸕鷀散。</p>
<p><u>鸕鷀散方</u></p>
<p>鸕鷀（黑炒）</p>
<p>上一味。研篩。每一錢。以燒酒溫服。膈噎。飲食吐出而難內。其脈沉弦。此為病屬沉痼也。宜老涎飲主之。</p>
<p><u>老涎飲方</u></p>
<p>老牛涎（一升）　燒酒（一升）</p>
<p>上二味調和。兩三沸。更加薑汁。每服一二合。以病愈為度。終身當不復發也。胃反膈噎。諸脾虛。食穀不化。若留飲。胸腹雷鳴。俱宜丁香煎主之。</p>
<p><u>丁香煎方</u></p>
<p>丁香（三十五個）　大棗（二十枚）　生薑（一錢）</p>
<p>上四味。以水五升。煎取三升。去滓。煮陳米一升為粥。加食鹽一匙。攪調歠食。兼服白梅蘿蔔汁等。朝食暮吐暮食朝吐四肢瘦。腹肉脫者。為難治。嘔家勿攻。以上實下虛所致也。飲食噎而難內者。尚可治。內而難收者不可治。問曰。噯氣吞酸何謂也。答曰噯者出食臭。酸者致酸味。是以食飪鬱塞也。食谷不殺。吞酸噯臭。劇者膨滿而痛。宜平胃散主之。病人腹力衰弱。胸間留飲。若嘔逆食臭者。宜茯苓飲服之。病人胸痞雷鳴。大便泄利。若干噫食臭者。是以胸腹不和故也。生薑瀉心湯主之。</p>
<p><u>生薑瀉心湯方</u></p>
<p>生薑（三分）　甘草（二分）　人參（三分）　乾薑（三分）　黃苓（三分）　半夏（一錢）　黃連（二分）　大棗（二枚）</p>
<p>上八味。以水一升。煮取七合去滓分溫服。論曰。𩞄雜為恙。痰火鬱灼。為此害也。宜青皮湯和之。</p>
<p><u>青皮湯方</u></p>
<p>青皮（一錢）　食鹽（燒三分）　生薑（五分）</p>
<p>上三味。以水一升。煮取七合。去滓分溫服。師曰。穀氣實則噫。虛則噦。噦為吃逆。吃者噦聲輕也。噦者吃聲重也。噦者吃吃作聲。以草刺鼻。嚏而解即是也。吃逆休作。數月不解。食飲喜戲反如故。此為蟲氣令然也。病人困倦。噦吃而脈沉細。此為胃虛也。宜柿蒂湯主之。</p>
<p><u>柿蒂湯方</u></p>
<p>柿蒂（一錢）　半夏（五分）　丁香（三分）　生薑（三分）</p>
<p>上四味。以水一升。煮取七合去滓。分溫服。噦吃。若熱若寒。俱宜蘿蔔飲主之。</p>
<p><u>蘿蔔飲方</u></p>
<p>蘿蔔汁（五合）　白糖（二兩）　燒酒（二升）</p>
<p>上三味。調和。分溫頻頻服。噦家體羸血燥。脈沉而細。此為陰陽失順攝也。問曰。咳嗽其別如何。答曰。浮風緊寒。數熱。細濕。虛勞。俱為肺氣不利也。風寒所襲。其人若胸間有水氣。若干嘔。必脈數而咳。宜小青龍湯主之。</p>
<p><u>小青龍湯方</u></p>
<p>麻黃（五分）　芍藥（五分）　半夏（五分）　五味子（三分）　乾薑（三分）　桂枝（三分）　細辛（三分）　甘草（二分）</p>
<p>上八味。以水一升五合。先煮麻黃。減五合。去上沫。內諸藥。煮取七合。去滓。分溫服。咳家夜間更劇。引日難解者。宜斂肺飲。兼齅方主之。</p>
<p><u>斂肺飲方</u></p>
<p>射干（一錢）　白芥子（一錢）　生薑（三分）　罌粟殼（炒一錢）</p>
<p>上四味以水二升。煮取一升。去滓。分溫服。</p>
<p><u>齅方</u></p>
<p>木鱉子（一兩）　款冬花（一兩）</p>
<p>上二味。作莫。每三錢焚煙。以鼻吸。少頃當涎出仍服生薑湯。兒骨露血燥。咳喘而乏氣力。此為疳咳。宜苦酒雞子噉之。榧實蜜灸亦佳。</p>
<p><u>苦酒雞子方</u></p>
<p>雞子（一個）</p>
<p>上瀹熟去殼。以苦酒再煮噉之。咳家體瘦血燥其脈細數。必致咯血。此為虛極也。鱉枸湯主之。論曰。病有喘有哮。短氣息迫。名曰喘也。喉內致響聲。名曰哮也。宜茯杏甘橘枳薑湯主之。</p>
<p><u>茯杏甘橘枳薑湯方</u></p>
<p>茯苓（一錢）　杏仁（七個）　甘草（三分）　橘皮（五分）　枳實（三分）　生薑（三分）</p>
<p>上六味。　㕮咀。以水一升。煮取七合。去滓。分溫服。喘家多以暑月寒月。必發動。此為肺臟久蓄濁氣所致也。茶實飲主之。</p>
<p><u>茶實飲方</u></p>
<p>茶實（炒五分）　蒂藶（五分）　桑白皮（三分）　乾薑（三分）　大棗（二枚）　甘草（二分）</p>
<p>上六味。以水一升。煮取七合。去滓。分溫服。喘咳氣逆。痰息煩動。其脈沉弦者。澤漆湯主之。</p>
<p><u>澤漆湯方</u></p>
<p>澤漆（一錢）　半夏（五分）　紫參（五分）　白前（三分）　生薑（三分）</p>
<p>上五味。以水一升。煮取七合。去滓分溫服。病人動躁。汗出而喘。無大熱者。可與麻黃杏仁甘草石膏湯主之。</p>
<p><u>麻黃杏仁甘草石膏湯方</u></p>
<p>麻黃（四分）　杏仁（七個）　甘草（二分）　石膏（一錢）</p>
<p>上四味。以水一升。先煮麻黃。減二合去上沫。內諸藥。煮取六合。去滓。分溫服。咳喘交作。短息而動躁其脈浮大。眼如脫狀。此為肺脹也。越婢加半夏湯主之。體瘦肌燥。喘哮休作。若痰咳咯血。夜臥不安者。薯蕷膏主之。</p>
<p><u>薯蕷膏方</u></p>
<p>薯蕷（去上皮一顆）　白糖（一兩）</p>
<p>上二味。搗如泥。每服彈丸大。日四五次。肺脹息迫。四肢厥。額汗流。脈沉結者死。問曰。熱在上焦者。因咳為肺痿。肺痿之病。何從得之。師曰或從汗出。或從嘔吐。或從消渴。小便利數或從便難又被快藥下利。重亡津液。故得之曰脈數其人咳。口中反有濁唾涎沫者何師曰。為肺痿之病。若口中辟辟燥。咳即臍中隱隱痛。脈反滑數。此為肺癰。咳唾膿血。脈數虛者為肺痿。數實者為肺癰。桔梗湯主之。</p>
<p><u>桔梗湯方</u></p>
<p>桔梗（二錢）　甘草（五分）</p>
<p>上二味。以水二升煮取一升。去滓。分溫服。肺痿。吐涎沫。而不咳者。其人不渴。必遺尿小便數。所以然者。以上虛不能制下故也。此為肺中冷。必眩多甘草乾薑湯以溫之。肺癰喘不得臥。蒂藶大棗瀉肺湯主之。</p>
<p><u>蒂藶大棗瀉肺湯方</u></p>
<p>蒂藶（炒一錢）　大棗（三枚）　白芥子（五分）</p>
<p>上三味。以水一升。煮取七合。去滓分溫服。咳而胸滿。振寒脈數。時出痰血。腥臭。此為肺癰之漸也。肺癰。吐膿血不息。一身蒸。熱脈細而數。自汗若盜汗者。不可治。問曰。骨鯁何以所治。答曰。魚骨為恙。急噉膠飴。無驗者。再三噉而愈。人誤為魚骨所害。金鳳實服之。金鳳實三個研末。以冷水調服。更以熱湯嗽之。人噉餅。誤膠其喉。煩悶而欲死者。急苦酒白糖攪調服蘿蔔汁。頻服亦佳。兒誤吞稻筆咽嗌不利。而煩亂者。急食膠飴。無驗者。再三食之。兒誤吞金銀。若銅鐵。宜縮砂飲。</p>
<p><u>縮砂飲方</u></p>
<p>縮砂（一錢）　生薑（五分）</p>
<p>上二味。以燒酒一升。煮取七合去滓分溫納白糖。攪調服。問曰。胸痹心痛何謂也。答曰。胸痛。其人脈滑者。痰飲所致也。腹滿而胸痛脈實緊者。谷飪所致也。胸脅攣拘。其痛休作有時。此為蟲動也。傷寒脈浮。反攻之。遂胸痞而痛。名曰結胸。但滿而不痛。此為痞。宜半夏瀉心湯。</p>
<p><u>半夏瀉心湯方</u></p>
<p>半夏（五分）　黃芩（三分）　乾薑（三分）　人參（二分）　黃連（三分）　大棗（三枚）　甘草（二分）</p>
<p>上七味。以水一升。煮取七合。去滓分溫服。胸痞按之濡。其脈開上浮者。大黃黃連瀉心湯主之。</p>
<p><u>大黃黃連瀉心湯方</u></p>
<p>大黃（五分）　黃連（五分）</p>
<p>上二味。以麻沸湯一升。漬之須臾。絞去滓。分溫再服。胸痞乾噫食臭。脅間有水氣。腹中雷鳴下利者。生薑瀉心湯主之。支飲胸滿者。厚朴大黃湯主之。</p>
<p><u>厚朴大黃湯方</u></p>
<p>厚朴（一錢）　大黃（五分）　枳實（三分）</p>
<p>上三味。以水一升。煮取七合。去滓。分溫再服。心下痞。而復惡寒。汗出者。附子瀉心湯主之。心胸中有停痰宿水。自吐出水。後心胸間。虛氣滿。不能食。茯苓飲主之。大陽病。外證未除。而數下之。遂協熱而利。利下不止。心下痞硬。表裡不解者。桂枝人參湯主之。胸痞劇則致痛。痛劇則徹背。遂動躁。而脈沉伏。宜鬼箭湯。</p>
<p><u>鬼箭湯方</u></p>
<p>鬼箭（二錢）　人中白（五分）　芒硝（三分）　甘草（二分）</p>
<p>上四味。以水一升。煮取七合。去滓。分溫服。大寒痛。嘔不能飲食。皮粟起。宜大建中湯主之。</p>
<p><u>大建中湯方</u></p>
<p>蜀椒（五分）　乾薑（四分）　人參（三分）</p>
<p>上三味。以水二升。煮取一升。去滓內膠飴二錢微微火煎。取一升。分溫再服。蛔蟲之為病。令人吐涎。心痛發作有時。毒藥不止。甘草粉蜜湯主之。</p>
<p><u>甘草粉蜜湯方</u></p>
<p>甘草（五分）　粉（三分）　蜜（一錢）</p>
<p>上三味。以水一升。先煮甘草。取七合。去滓內粉蜜。攪令和。煎如薄粥。溫服。胸間虛氣滿。若疼痛。其脈細弦者。熊膽飲主之。</p>
<p><u>熊膽飲方</u></p>
<p>熊膽（三分）　石決明（浸醋燒去火毒五分）</p>
<p>上二味。以燒酒。先解熊膽。更內石決明。攪調。分溫服。潮熱。胸滿而痛。不可近者。大陷胸湯主之。</p>
<p><u>大陷胸湯方</u></p>
<p>大黃（五分）　芒硝（五分）　甘遂（五分）</p>
<p>上三味。以水二升。先煮大黃。取一升。去滓。內芒硝。煮一兩沸。內甘遂末。溫服。得快利。止後服。支飲家。咳煩胸中大痛。宜十棗湯主之。</p>
<p><u>十棗湯方</u></p>
<p>芫花　甘遂　大戟大棗</p>
<p>上三味等分。各別搗為散。以水一升半。煮大棗肥者十枚。取八合。去滓。內藥末。強人服三分。羸人服二分。溫服之。利後糜粥自養。胸腹急痛。若噫息。其脈滑動。急與食鹽湯。仍以鵝翎探其喉。當暴吐而愈。胸腹硬滿而大痛。其脈滑數。急與厚朴三物湯。胸腹硬滿卒痛。身厥脈伏。急與紫霜丸。胸腹疼痛。脈乍數。乍遲。當吐蛔也。胸痛反覆動轉。面顏失色。額汗如流。身厥脈結。名曰真心痛。朝發者暮死。暮發者朝死。</p>

<h1>辨中焦病脈證並治第七</h1>
<p>問曰。中焦為病侯何謂也。答曰。乳食飢飽失度。遂致腹內萬變病。假令如疳癖谷瘕。若腫滿脹單。即是也。兒嗔聲緩急。啼號無淚。而脈弦急。此為腹痛也。腹痛在臍上硬滿者。必食飪也在臍下石硬者。後必致淋也。腹痛。食飪所致者。平胃散主之。</p>
<p><u>平胃散方</u></p>
<p>厚朴（三兩四錢）　陳皮（四兩）　蒼朮（一兩）　甘草（五錢）　生薑（五錢）</p>
<p>上五味。㕮咀。焙搗為末。每服一錢。以鹽湯。攪調服。傷寒。發汗後。腹脹滿者。宜厚朴生薑甘草半夏人參湯主之。</p>
<p><u>厚朴生薑甘草半夏人參湯方</u></p>
<p>厚朴（一錢）　生薑（三分）　半夏（五分）　人參（二分）　甘草（三分）</p>
<p>上五味。以水一升。煮取七合。去滓。分溫服。兒腸脆窄。過餐生冷。腹鬱滿而微痛此為食鬱。莪朮丸主之。</p>
<p><u>莪朮丸方</u></p>
<p>莪朮　三稜　陳皮　青皮　縮砂（各五錢）　乾薑　胡椒（各二錢）</p>
<p>上七味。搗篩。以醋糊為丸。每服二三分。脅腹。攣拘而痛者。與建中湯。若膨滿而痛者不當。與也。體膚㿠白。四肢乏力。腔內時痛。雷鳴而溏。宜厚朴枳實湯。</p>
<p><u>厚朴枳實湯方</u></p>
<p>厚朴（五分）　枳實（三分）　陳皮（五分）　茯苓（五分）　香附子（五分）　檳榔（五分）　黃連（三分）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫服。腹硬脈弦。痛而閉者。厚朴三物湯主之。</p>
<p><u>厚朴三物湯方</u></p>
<p>厚朴（一錢）　枳實（五分）　大黃（五分）　甘草（三分）</p>
<p>上四味。以水一升。煮取七合。去滓。分溫服。腹內絞痛。四肢厥冷。脈沉伏而陰縮者。豬膽酒主之。</p>
<p><u>豬膽酒方</u></p>
<p>野豬膽（二個）</p>
<p>上一味。以燒酒一升。煮減二三分。分溫。頻頻服。胸腹雷鳴急痛。脈沉弦。腰腳如冰冷者。宜熏臍法。熏臍法。碗表鑿二三孔。仍以熟艾指大。倒著其裡面。點火以覆其臍。煙當從孔出。熏竭再三依前法。以腹溫為度。盤腸痛。屬寒疝。但不直視者是也。烏頭桂枝湯主之。</p>
<p><u>烏頭桂枝湯方</u></p>
<p>烏頭（一枚熬）</p>
<p>上一味。以蜜三升。煎減一升。去滓。以桂枝湯一升解之。分溫少少服。不知者。稍加服。知者如醉狀。得吐者為中病。盤腸痛。冷氣鬱結而不解者。當歸四逆加吳茱萸湯主之。</p>
<p><u>當歸四逆加吳茱萸湯方</u></p>
<p>當歸（一錢）　芍藥（一錢）　桂枝（三分）　細辛（三分）　吳茱萸（二分）　生薑（三分）　通草（一錢）　甘草（二分）　大棗（二枚）</p>
<p>上九味。以水一升。清酒一升。煮和。取一升。去滓。分溫三服。兒腹肚絞痛。有瘛瘲者內釣也。無瘛瘲此為盤腸。宜當歸附子湯。</p>
<p><u>當歸附子湯方</u></p>
<p>當歸　牛膝　芍藥（各二錢）　桂枝　附子　甘草（各五分）</p>
<p>上六味。以水二升。煮取一升。去滓。分溫服。婦女腰腹絞痛。面紅者。此為血氣所致也。宜桃核承氣湯。桂枝茯苓丸亦主之。</p>
<p><u>桂枝茯苓丸方</u></p>
<p>桂枝　茯苓　牡丹（去心）　桃仁（去皮尖熬）　芍藥（各等分）</p>
<p>上五味。末之。煉蜜和丸。如彈丸大。每日食前服一丸。不知加至三丸。腹內血氣㽲痛者。蟹爪枳實湯主之。</p>
<p><u>蟹爪枳實湯方</u></p>
<p>蟹爪（浸醋灸一錢）　枳實（一錢）　芒硝（三分）　芍藥（一錢）　桃仁（五分）　甘草（三分）</p>
<p>上六味。以水二升。煮取一升。去滓。分溫服。脅下偏痛。發熱脈緊弦。此寒也。以溫藥下之。大黃附子湯主之。</p>
<p><u>大黃附子湯方</u></p>
<p>大黃（五分）　附子（三分）　細辛（三分）</p>
<p>上三味。以水二升。煮取一升。去滓。分溫三服。腹中寒氣。雷鳴切痛。胸脅逆滿嘔吐。附子粳米湯主之。</p>
<p><u>附子粳米湯方</u></p>
<p>附子（三分炮）　半夏（五分）　甘草（三分）　大棗（三枚）　粳米（五分）</p>
<p>上五味。以水一升。煮米熟。湯成去滓。分溫服。論曰。腹滿按之硬。而落落者。為癖塊也。濡而漉漉者。為濕腫也。兒脾弱。食穀不化。遂致食瘕。宜潰堅湯主之。腹內食谷不消。鬱塞而硬滿。逐致蟲塊。宜鷓鴣菜湯。癖塊屬脾弱。其治無瀉法。宜磨谷化塊方。癥結。積聚虛冷。若中暍霍亂。宜木天蓼湯主之。</p>
<p><u>木天蓼湯方</u></p>
<p>木天蓼（五分）　枳實（三分）　茯苓（五分）　桂枝（三分）　生薑（三分）</p>
<p>上五味。以水一升。煮取七合。去滓。分溫服。癥塊鼓滿。按之不移。四肢細削者。潰堅酒服之。</p>
<p><u>潰堅酒方</u></p>
<p>狼毒（一兩）　三稜（五錢）　莪朮（五錢）　枳實（四錢）　檳榔（四錢）　縮砂（三錢）　青皮（三錢）　乾薑（三錢）　白糖（半斤）</p>
<p>上九味搗篩。以燒酒一斗。攪調蜜封。四五日分服。日二三次。病者腹滿。時減。復如故。此為脾虛鼓滿之漸也。宜羅勒湯主之。</p>
<p><u>羅勒湯方</u></p>
<p>羅勒（一錢）　人參（三分）　枳實（三分）　青皮（三分）　茯苓（五分）　白朮（三分）　厚朴（三分）　生薑（三分）　大棗（三枚）</p>
<p>上九味。以水二升。煮取一升。去滓。分溫服。消食破滿氣。檳榔丸主之。</p>
<p><u>檳榔丸方</u></p>
<p>檳榔（三錢）　木香　人參（各二錢）　枳實（四錢）　胡椒（一錢）　甘草（二錢）</p>
<p>上六味。酒糊丸。病人鼓滿漸脹。飲食反如故。此為腸表瘜肉。名曰脹單。廢人也。胸腹大滿。奔豚悸動。短息而額汗出者。不可治。塊瘕漸大。四肢腫滿。從臍水瀝流者。為難治。腫從四肢。向腹者。尚可治也。從腹向四肢者。不可治也。</p>

<h1>辨下焦病脈證並治第八</h1>
<p>問曰。下焦病何謂也。答曰。大便難。若瀉。小便不利。若遺溺。及痿躄。腳痛。此為下焦所患也。大陽病。桂枝證。醫反下之。利遂不止。脈促者。表未解也。宜葛根黃芩黃連湯主之。</p>
<p><u>葛根黃芩黃連湯方</u></p>
<p>葛根（五分）　甘草（五分）　黃芩（五分）　黃連（三分）</p>
<p>上四味。以水二升。先煮葛根。減半升。內諸藥。煮取一升。去滓。分溫三服。大陽與少陽合病。自下利者。與黃芩湯。若嘔者。黃芩加半夏生薑湯主之。</p>
<p><u>黃芩湯方</u></p>
<p>黃芩（三分）　甘草（三分）　芍藥（一錢）　大棗（三枚）</p>
<p>上四味。以水二升。煮取一升。去滓。分溫服。脈浮小便不利。微熱消渴。大便洞瀉。其色黃。此為熱瀉。宜五苓散主之。發熱惡寒。吐瀉煩渴。若腹痛者。清寧湯主之。</p>
<p><u>清寧湯方</u></p>
<p>葛根（五分）　人葉（三分）　蒼朮（三分）　茯苓（五分）　木香（三分）　藿香（三分）　甘草（二分）</p>
<p>上七味。以水二升。煮取七合。去滓。分溫服。發熱汗出不解。心下痞硬。嘔吐而下利者。大柴胡湯主之。下利。脈遲而滑者實也。利未欲止。急下之。宜大承氣湯。下利。脈反滑者。當有所去。下乃愈。宜大承氣湯。下利已瘥。至其年月日時。復發者。以痛不盡故也。當下之。宜大承氣湯。少陰病。四逆其人或咳。或悸。或小便不利。或腹中痛。或泄利下重者。四逆散主之。下利脈沉弦者。下重。脈大者。為未止。宜硬飯湯。</p>
<p><u>硬飯湯方</u></p>
<p>硬飯（二錢半黑炒半生用）　檳榔（一錢）　芍藥（一錢）　枳實（五分）　茯苓（一錢）　甘草（三分）　大棗（五枚）　生薑（三分）</p>
<p>上八味。以水二升。煮硬飯。減五合。內諸藥。煮取一升。去滓。分溫服。有熱者。加黃連黃苓。有寒者。加附子乾薑。兒大便窘迫。狀如膠。而面顏皺者。為痢也。瓊脂湯服之。</p>
<p><u>瓊脂湯方</u></p>
<p>瓊脂（五分）　枳實（五分）　芍藥（一錢）　檳榔（五分）　大棗（三枚）　甘草（二分）　生薑（三分）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫服。大陽病。外證未除。而數下之。遂協熱而利。利下不止。心下痞硬。表裡不解者。桂枝人參湯主之。</p>
<p><u>桂枝人參湯方</u></p>
<p>桂枝（三分）　甘草（二分）　白朮（三分）　人參（二分）　乾薑（三分）</p>
<p>上五味。以水二升。先煮四味。取一升。肉桂。更煮。三兩沸。去滓。分溫服。下利。腸澼腥臭。腰髖煩痛。宜剪紅丸。</p>
<p><u>剪紅丸方</u></p>
<p>蜜香（四錢）　縮砂（四錢）　熊膽（一錢）　阿片（一錢）　龍腦（三分）　麝香（一分）　甘草（三分）</p>
<p>上七味。研篩。以燒酒糊丸。桐子大。每服二三丸。大便後重而節續。煩渴而小便澀。若大便去紅者。山漆湯服之。</p>
<p><u>山漆湯方</u></p>
<p>山漆根（二錢）　山藥（酒製炒一錢）　芍藥（二錢）　枳實（五分）　大棗（三枚）　生薑（三分）　甘草（二分）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫服。大便窘迫。腰腹絞痛而煩。取熱湯。灌觸器仍登器。湯氣熏蒸。腰腹自和。大便當快通也。下利。手足微冷。脈澀者。不可更攻。宜呴血散。</p>
<p><u>呴血散方</u></p>
<p>當歸（四錢）　蝮蛇（三錢黑炒）</p>
<p>上二味。研篩以溫酒服之。發熱暴瀉。脈浮。渴而小便不利者。五苓散主之。發熱脈數。腹中痛。屢欲圊便。煩渴而小便少。此為瘕泄也。瘕泄大便如糜。法須攻之。瘕不竭。痢示不罷也。痢疾為瘀濁。故後重而腸垢。必苦裡急。假令無腸垢者。無後重也。若脈滑而疾者。當屎膿也。腹痛暴瀉。惡臭不可近者。為食積也。兒暴瀉。難以陽決之。久痢。難以陰決之。暴瀉以多脫陽也。久痢以多瘀熱也。小陰病。下利便膿血。若廣腸脫出。宜桃花湯主之。</p>
<p><u>桃花湯方</u></p>
<p>赤石脂（五分）　乾薑（三分）　粳米（三分）</p>
<p>上三味。以水一升。煮米令熟。去滓。溫服。下利。如蟹渤。勃勃作聲者。此為氣痢也。氣痢丸主之。</p>
<p><u>氣痢丸方</u></p>
<p>訶子皮（四錢）　蜜香（二錢）　人參（三分）</p>
<p>上三味。研篩蜜丸桐子大。每服二十丸。痢疾。後重不解。其脈虛而動。此為便血之兆也。小連翹湯主之。</p>
<p><u>小連翹湯方</u></p>
<p>小連翹（二錢）　芍藥（一錢）　檳榔（二錢）　木香（七分）　甘草（三分）</p>
<p>上五味。以水二升。煮取一升。去滓。分溫服。大腸熱則致後重。寒則致驚溏。若噯息者。谷飪也。夏月。腹痛而泄瀉。痛一陣。泄一陣。此為腸間熱也。黃連香薷飲主之。發熱煩渴。大便如卵黃者。熱瀉也。無渴而清澄者。驚溏也。病人為冷食所傷。遂脅寒而利。如鴨屎。此為驚溏也。抉脾湯主之。下利日數十行。血液內竭。脾氣空乏。煩渴嘔逆。飲食不能。此為禁口痢也。蓮肉飲主之。</p>
<p><u>蓮肉飲方</u></p>
<p>蓮肉（炒二錢）　黃連（三分）　食鹽（炒二分）</p>
<p>上三味。以水一升。煮取七合。去滓。內蘿蔔汗。攪調。分服。下利。陰陽內竭。胸腹悸動。飲食不能。宜熏臍溫之。痢疾。腰腹絞痛。諸方無驗者。灸章門京門。若腰腹諸穴。痢下旬余。體瘦血燥。四肢微冷。反面色緣緣正赤。此為孤陽沸郁所致也。麥門冬湯服之。大便滑泄。胸腹雷鳴。脈沉弦。此為脾冷所致也。薯蕷湯主之。</p>
<p><u>薯蕷湯方</u></p>
<p>薯蕷（一錢）　茯苓（一錢）　白朮（五分）　人參（三分）　青皮（三分）　半夏（一錢）　縮砂（三分）　香附子（浸童便灸五分）　藿香（三分）　蓮蕊（三分）　甘草（三分）　生薑（三分）</p>
<p>上十一味。以水二升。煮取一升。去滓。分溫服。脈微而數。微為陰虛。數為陽動。虛動相搏。孤陽不能獨立體膚自冷瘦。黎明大便溏。此為腎冷然也。宜七成湯主之。小陰病。二三日不已至四五日。腹痛。小便不利。四肢沉重疼痛。自下利者。此為有水氣。真武湯主之。病人。陰陽俱厥。脾氣孤弱。五腋注下。下焦不闔。清便飧泄。若腹築湫而痛者。參茯白朮散主之。</p>
<p><u>參茯白朮散方</u></p>
<p>人參　白朮　茯苓　山藥　縮砂　陳皮　乾薑　蓮肉（各三錢）　藿香　白扁豆　薏苡　甘草（各半減）</p>
<p>上十二味。搗篩為散。或以膠飴。調勻服之。痢疾。禁妄攻。若妄攻者。瘀濁未減而血液必竭也。痢疾。要屢視口內。若齒焦者。為走馬疳也。痢毒疫熱。若瘡疹毒。宜翹花煎服之。</p>
<p><u>翹花煎方</u></p>
<p>翹花（五錢）　白糖（五錢）</p>
<p>上二味。以水二升。煮翹花。去滓。內糖服之。痢熱不減。煩渴而昏睡。其脈弦急者。此為發驚之漸也。溏泄家。要減飲食。若妄食者。為難療。痢後血液燥竭。腳肉殊脫削。若攣急而疼痛。此為鶴膝風也。痢疾。後重而努力。必致脫肛。以下焦虛故也。痢下數旬不解。血液干竭。而脈細數者。轉屬疳瀉也。病人脈沉而遲。面少赤。身有微熱。下利清穀者。必鬱冒。汗出而解。其人必微熱。所以然者。其面戴陽下虛故也。面體羸瘠。脾胃虛弱。飲食減少。苦瀉泄者。宜白朮膏服之。</p>
<p><u>白朮膏方</u></p>
<p>白朮（一斤焙）　茯苓（四兩）　陳皮（四兩）</p>
<p>上三味。以水一斗。熬取三升。濾去渣。又以水八升。熬取二升。將渣搗爛。又以水五升。熬取一升。都合前汁。再熬至二升。加蜜四兩。熬至稠。滴水成珠為度。每服彈丸大。日二三次。瀉泄家。小便當少。今反多。是欲愈也。痢疾為恙。以順氣活血為要。其氣順則裡急減。其血活則泄利自愈。痢下。數月休作者。為休息痢也。病人瀉泄。脈浮而遲。此為表熱裡寒。其便必完穀也。四逆湯服之。少陰病。下利清穀。裡寒外熱。四肢厥。脈微欲絕者。通脈四逆湯主之。加人參三分。前後二便。易其位而出。名曰交腸。此為臟腑錯雜所致也。痢下腸澼。如魚腦。若屋漏。目紅唇燥。此為氣血敗絕也。痢下。旬余不解。鮮血自利。脈微肩息。多呼少吸者死。下利。手足厥冷。無脈者灸之。不溫。若脈不還。反微喘者死。暴利。脈絕。手足厥冷。晬時脈還。手足溫者生。脈不還者死。痢下。體瘦脈虛。反能飲食者生。不能飲食者死。體厥。脈微口渴。下利清穀。短氣煩躁者死。痢下。數旬不解。嘔噦足跗微腫。若吐蛔者死。問曰。大便難。何以所致。答曰。脾實則大便難。虛則大便溏。不溏不難。其人必實健也。潮熱便難。若譫語。若目中不了了者。此為邪熱在裡也。大承氣湯主之。病人不大便六七日。頭痛有熱者。大承氣湯主之。孩兒胸腹。䐜脹硬滿。大便不利。此為乳癖所致也。白花湯主之。體羸肌燥。大腸血乾。大便硬者。宜波淡花噉之。波淡花一斤。白糖一斤。搗如泥。盛壺密蓋。每噉梅實大。趹陽脈。浮而澀。浮則胃氣強。澀則小便數。浮澀相搏。大便則難。其脾為約。麻仁丸主之。</p>
<p><u>麻仁丸方</u></p>
<p>麻子仁（四錢）　芍藥（四錢）　大黃（八錢）　厚朴（二錢）　枳實（一錢）　杏仁（四錢）</p>
<p>上六味為末。煉蜜為丸。桐子大。飲服十丸。日三服。漸加。以和為度。陽明病。自汗出。若發汗小便自利者。此為津液內竭。雖硬不可攻之。當須自欲大便。宜蜜煎導而通之。</p>
<p><u>蜜煎導方</u></p>
<p>蜜（七合）</p>
<p>一味。內銅器中。微火煎之。稍凝似飴狀。擾之勿令焦者。欲可丸。並手捻作挺令頭銳。大如指長。二寸許。當熱時急作。冷則硬。以內穀道中。以手急抱。欲大便時。乃去之。病人體羸血燥。大便結燥者。以熱湯內觸器。乘熱而登。須臾當肛潤使通也。病人氣乏體羸。腸內血燥。大便必硬。宜逐腸丸主之。</p>
<p><u>逐腸丸方</u></p>
<p>巴豆（四錢）　硫黃（二錢）　檳榔（二錢）　甘松（二錢）　鐵落（四錢）　大黃（四錢）</p>
<p>上六味。搗篩。酒糊丸。枳實大。別蜀椒二錢。以水二升。煮取一升。去滓。洗掌中。拭淨更塗胡麻油。仍握一丸。男左女右。以大便通為度。若不通。更握新者。或左右俱握。若通而不禁者。以冷水。頻洗掌中。便當頓止。問曰。小便不利者。何謂也。答曰。膀胱以氣化理。寒熱虛實。其氣不行。仍失轉化。小便不利。即是也。病人。脈數身熱。渴而溲便澀者。膀胱有客熱。若脈澀而身微腫者。此為風濕也。病人腹硬脈沉。而小便不利。是癖塊令然也。病人脈浮微熱消渴。小便不利者。五苓散主之。身腫。小便少。水氣在皮膚中。四肢聶聶動者。宜防己茯苓湯。</p>
<p><u>防己茯苓湯方</u></p>
<p>防己（一錢）　黃耆（一錢）　桂枝（三分）　茯苓（一錢）　甘草（三分）　上五味。以水二升。煮取一升。分溫三服。風濕。脈浮身重。汗出惡風。小便少者。宜防己黃耆湯。</p>
<p><u>防己黃耆湯方</u></p>
<p>防己（一錢）　甘草（三分）　白朮（三分）　黃耆（五分）</p>
<p>上銼麻豆大。每抄二錢七。生薑一片。大棗一枚。水盞半。煎八分。去滓。分溫服。風水惡風。一身悉腫。脈浮不渴。續自汗出。無大熱。越婢湯主之。</p>
<p><u>越婢湯方</u></p>
<p>麻黃（一錢）　石膏（一錢）　生薑（三分）　大棗（二枚）　甘草（二分）</p>
<p>上五味。以水二升。先煮麻黃。去上沫。內諸藥煮取一升。分溫三服。身重。從腰以上。必汗出下無汗。腰髖馳痛。如有物在皮中狀。劇者不能食。身疼重煩燥。小便不利者。桂枝加黃耆湯主之。病人溲便澀痛而旁射。是膀胱熱也。滑石湯主之。</p>
<p><u>滑石湯方</u></p>
<p>滑石（一錢）　芒硝（三分）　柏實（五分）　茯苓（一錢）　甘草（三分）　生薑（三分）</p>
<p>上六味。以水二升。煮取一升。去滓。分溫服。肚腹硬滿。腰腳攣急。而小便不利。此脬痹也。病人滲道癃閉所致。腹滿短氣者。蕁麻湯主之。</p>
<p><u>蕁麻湯方</u></p>
<p>蕁麻（一錢）　茯苓（二錢）　豆黃卷（三錢）　馬舄（二錢）　甘草（三分）</p>
<p>上五味。以水二升。煮取一升。去滓。分溫服。病人。元陽減耗。胞胱乏轉化。遂腹脹。小便不利。醫欲以淡滲利之。是誤也。得之反益劇。短氣息迫。宜折水湯主之。</p>
<p><u>折水湯方</u></p>
<p>桑白皮（一錢）　吳茱臾（五分）　枳實（七分）　檳榔（一錢）　茯苓（一錢）　縮砂（五分）　香附（五分）　附子（三分）　生薑（三分）　麥芽（二錢）</p>
<p>上十味。以水二升。先煮麥芽。減五合。內諸藥。煮取一升。去滓。分溫服。病人胸腹大滿。結熱不解。若腳氣心悸。俱與降氣散。</p>
<p><u>降氣散方</u></p>
<p>田螺（去殼黑炒一兩）　麝香（三分）</p>
<p>上二味。研均。每錢七。以白湯服之。病腫脹稍解。但足跗難消者。宜附子煎。</p>
<p><u>附子煎方</u></p>
<p>附子（四錢）　樟腦（四錢）</p>
<p>上二味。以酒五升。煎取三升。溫熟。頻頻熨之。日五六次。病人。脬轉而小便不利者。陰陽熨法主之。疳瘕鼓滿。小便不利者。與黑散。</p>
<p><u>黑散方</u></p>
<p>蝦蟆（一兩）　縮砂（一兩）</p>
<p>上二味。為黑炒。存性。研篩。以生薑湯服之。病人。小腹攣急。心胸中動氣。此為元臟虛也。溺必如泔汁。宜破故湯。</p>
<p><u>破故湯方</u></p>
<p>破故（一錢）　鹿角霜（五分）　茯苓（一錢）　連蕊（三分）　紅曲（五分）　甘草（三分）</p>
<p>上六味。以水二升。煮取一升。去滓。分溫服。病人胸腹腫滿。如石硬。雖體氣虛弱。須先破之。有故無害。此為霸道也。桃花煎破之。</p>
<p><u>桃花煎方</u></p>
<p>茯苓（一錢）　白朮（三分）　枳實（三分）　半夏（一錢）　人參（三分）　香附（五分）　砂仁（三分）　藿香（五分）　甘草（三分）　乾薑（三分）</p>
<p>上十味。以水二升。煮白桃花一錢。減五合。內諸藥。煮取一升。去滓。分溫服。得泄利二三行為度。後去桃花。服本方。小便當漸通也。諸小便不利。腫滿轉側不能者。紅豆煎主之。</p>
<p><u>紅豆煎方</u></p>
<p>紅豆（炒一兩）　茯苓（一錢）　枳實（五分）　吳茱臾（三分）　桑白皮（五分）　檳榔（五分）　白朮（三分）　生薑（三分）</p>
<p>上八味。以水二升。先煎紅豆。減五合。內諸藥。再煎取一合。去滓。分溫服。病人跗腫脈微。口張氣粗。額上汗出者死。腫滿。小便不利。多脾虛。煩悸而飲食不進者。不可治。問曰。淋有五種者。何謂也。答曰。淋之為病。有寒有熱。有血有石也。又真臟大虛。肚腹攣急而溺點者。此名勞淋也。陰頭痛而小便淋瀝。其色如血者。名曰熱淋也。宜石葦湯。</p>
<p><u>石葦湯方</u></p>
<p>石葦（二錢）　滑石（二錢）　茯苓（五錢）　黃柏（五分）　甘草（三分）</p>
<p>上五味。以水二升。煮取一升。去滓。分溫服。小便難澀而鮮血滴。此為血淋。後致膿淋也。涼血湯主之。</p>
<p><u>涼血湯方</u></p>
<p>小連翹（五分）　當歸（一錢）　芍藥（一錢）　枳實（五分）　桂枝（三分）　桃仁（三分）　生薑（三分）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫服。身體冰冷。其脈沉弦。小便頻數。或身微腫。此名曰冷淋。宜甘草附子湯主之。</p>
<p><u>甘草附子湯方</u></p>
<p>甘草（三分）　附子（三分）　紅曲（三分）　桂枝（三分）</p>
<p>上四味。以水二升。煮取一升。去滓。分溫服。血活則膀胱滋。氣化則溲便行。若氣血窒塞。則滲道澀。名曰氣淋也。枳實湯主之。</p>
<p><u>枳實湯方</u></p>
<p>枳實（三分）　厚朴（一錢）　茯苓（一錢）　木香（三分）　藿香（三分）　糖霜（二錢）　生薑（三分）</p>
<p>上七味。以水二升。煮六味。取一升。去滓內糖霜攪調。分溫服。膀胱鬱結。瘀濁致淋。凝則為砂。散則為膏。宜海金砂湯主之。</p>
<p><u>海金砂湯方</u></p>
<p>海金砂（一錢）　琥珀（五分）　茯苓（五分）　糖霜（五分）　大棗（二枚）　生薑（三分）</p>
<p>上六味。以水二升。煮取一升。去滓。分溫服。發熱脈浮。渴欲飲水。溲便澀而不利者。豬苓湯主之。</p>
<p><u>豬苓湯方</u></p>
<p>豬苓　茯苓　阿膠　滑石　澤瀉（各五分）</p>
<p>上五味。以水二升。先煮四味。取一升。去滓。內阿膠烊消。若嘔家。去阿膠。加蜂蜜分溫服五合。日三服。淋疾。有熱膿多者。為易治。無熱膿點滴不盡者。為難治。問曰。夢遺失精者。何謂也。答曰。實壯人。欲火盛而致夢遺者。宜轉移其情想而愈也。若羸弱人。假火妄動而致遺泄者。桂枝加龍骨牡蠣湯主之。</p>
<p><u>桂枝加龍骨牡蠣湯方</u></p>
<p>桂枝（三分）　芍藥（一錢）　生薑（三分）　甘草（三分）　大棗（二枚）　龍骨（五分）　牡蠣（一錢）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫三服。病人夢泄。時目眩。若腰腹弦急而痛。此為牝臟虛。宜安神丸鎮之。</p>
<p><u>安神丸方</u></p>
<p>黃連（六錢）　生地黃（一錢）　當歸（二錢）　硃砂（五錢）　牛黃（五分）　甘草（一錢）</p>
<p>上六味。為末。蒸餅糊丸。黍米大。金箔為衣。每服十五丸。腎漏白淫。頭眩振振。胸間悸動。強陰不倒。此為虛火不皈其原也。宜知柏枸杞飲。</p>
<p><u>知柏枸杞飲方</u></p>
<p>知母（二錢）　黃柏（酒炒三分）　枸杞（二錢）　食鹽（二分）　甘草（五分）</p>
<p>上五味。以水二升。煮取一升。去滓。分溫服。病人二臟衰弱。陰痿不振。夢交精脫。脈微沉細弦數。起居勞汗出。此為過極琢削所致也。極秘滋陰膏主之。</p>
<p><u>極秘滋陰膏方</u></p>
<p>反鼻（黑炒七錢）　破故（五錢）　縮砂（十錢）　枸杞子（八錢）　蓮蕊（五錢）　萑肉（八錢）　雞子黃（十錢）　山茱萸（八錢）　龍涎（六錢）　夏草冬蟲（五錢）　人參（五分）</p>
<p>上十一味。為極末。先以燒酒二升。煮雀肉雞子黃為膏。更以蜂蜜二升燒酒八升。與諸藥同煮為膏。每服彈丸大。問曰。陰器疼痛者。何謂也。答曰。陰器為恙。有腫痛。有隱痛。此為牝臟毒火所致也。陰物。隱痛煩亂。毒火所致者。黑豆湯主之。</p>
<p><u>黑豆湯方</u></p>
<p>黑豆（一錢）　犀角（五分）　甘草（三分）</p>
<p>上三味。以水二升。煮二味。減一升。內犀角末。攪調。分溫服。玉莖腫痛。若隱痛。恰如刀割。動燥不安者宜甘草湯浸之。</p>
<p><u>甘草湯方</u></p>
<p>甘草（八錢）　食鹽（一錢炒）</p>
<p>上二味。以水五升。煮取三升。內竹筒。適寒溫。以浸玉莖。冷易之。日五六次。以痛定為度。論曰。臀骨隱痛。朝昏不解。諸藥無療者。伹灸法治之。灸龜尾。仍與柏皮湯。論曰。脬氣實。則溲便適度。虛則失其約。名遺溺。宜破故紙丸。</p>
<p><u>破故紙丸方</u></p>
<p>破故紙（二兩）　縮砂（一兩）　附子（半兩）　五倍子（一兩黑炒）　甘草（五錢）</p>
<p>上五味。研篩。酒糊丸桐子大。以馬溺溫服。遺溺若陰痿。俱為牝臟虛冷所致。宜破故紙酒服之。</p>
<p><u>破故紙酒方</u></p>
<p>破故紙（一兩）　縮砂（一兩）　蓮蕊（五錢）</p>
<p>上三味。搗為末。以燒酒一斗。糖霜一斤。同調均。內壺密封。七日酒熟。每服二三合日三次。師曰。腎囊偏大漸長。若腰腳攣急而痛。名囊疝。宿寒令然。宜防風湯</p>
<p><u>防風湯方</u></p>
<p>防風（一錢）　芍藥（二錢）　烏頭霜（五分）　甘草（二分）　生薑（二分）</p>
<p>上五味。以水二升。煮取一升。去滓。分溫服。腰腳攣拘。屈伸不任。若行動跋跳。其睪丸偏大者。卵疝也與烏頭霜。芍藥甘草附子湯亦服之。</p>
<p><u>烏頭霜方</u></p>
<p>烏頭霜（二兩）　白糖（二兩）</p>
<p>上二味研調。每一錢七。以溫酒服之。諸宿寒疝病。若陰腫。若腰冷。宜當歸四逆加吳茱萸生薑湯。陰囊腫大。腰冷轉筋。其脈沉伏。此為厥疝。大金鈴子丸主之。</p>
<p><u>大金鈴子丸方</u></p>
<p>金鈴子（去核四錢）　破故紙（二錢）　附子（一錢）　桂枝（四錢）　吳茱萸（一錢）　甘草（一錢）　上六味。搗篩。以燒酒糊丸。桐子大。每服三十丸。日二三次。陰囊濕癢。得溫氣反益劇者。名腎臟風。宜滲濕湯。陰囊偏腫。漸長大者。宜牡蠣散塗之。</p>
<p><u>牡蠣散方</u></p>
<p>牡蠣（一錢）</p>
<p>上一味。研篩。以雞子清。調和塗之。日二三次。腎臟風煩癢。數旬難解者。宜蛇狀子煎洗之。</p>
<p><u>蛇狀子煎方</u></p>
<p>蛇狀子（一錢）　白礬（三錢）　菸草莖（一兩）</p>
<p>上三味。以水五升。煮取三升。以洗之。冷則更溫洗。日二三次。以煩癢解為度。身厥脈伏。腰腹酷痛。額汗出。名寒疝。宜烏頭煎主之。</p>
<p><u>烏頭煎方</u></p>
<p>烏頭（大者五枚熬去皮不㕮咀）</p>
<p>上一味。以水三升。煮取一升。去滓。內蜜二升。煎令水盡。取二升。強人服七合。弱人服五合。不愈明日更服。不可一日再服。問曰。緩風痿躄。何謂也。答曰。南方多濕。瘴氣所襲。致腳痹者。名曰緩風也。緩風為恙。食飲起居如故。卒起腳屈弱者。即是也。腳弱頑麻。若攣拘。反不濕腫者。名乾腳氣也。腫者為濕腳氣。劇者如瓜瓠也。風濕身腫脈洪。小便澀而腳弱者。宜越婢加朮湯主之。腳脛軟弱頑痹。若轉筋。胸滿短息者。宜大檳榔湯。</p>
<p><u>大檳榔湯方</u></p>
<p>檳榔（一錢）　生薑（二分）　青皮（五分）　茯苓（一錢）　厚朴（一錢）　桑白皮（一錢）　吳茱萸（五分）　半夏（一錢）　白芥子（三分）　木瓜（五分）</p>
<p>上十味。以水二升。煮取一升。去滓。分溫服。腳腫漸長。諸藥不禁者。須急攻之。後利滲道。此謂劫其重勢也。宜白花湯主之。</p>
<p><u>白花湯方</u></p>
<p>白桃花（一錢）　檳榔（三分）　枳實（三分）　茯苓（五分）　麥芽（炒一錢）　生薑（三分）</p>
<p>上六味。以水二升。煮取一升。去滓。分溫服。腳氣始起。多不令人識。飲食語言。氣力如故。惟漸頑痹蹎蹶。寒風濕之病也。腳氣奔騰。毒氣鼓擊。痰喘悸動。息迫而欲死者。宜與鐵漿支之。腳氣毒入腹。喘滿氣粗。昏眩躁煩。四肢厥寒。脈沉伏者。宜杉節湯主之。</p>
<p><u>杉節湯方</u></p>
<p>杉節（炒一錢）　白芥子（一錢）　檳榔（一錢）　枳實（一錢）　生薑（三分）　吳茱萸（三分）</p>
<p>上六味。以水二升。煮取一升。去滓。分溫服。論曰。濁氣所襲。深入髓。元陽不能昫。遂致疼痛。此為寒濕。宜烏頭桂枝湯主之。</p>
<p><u>烏頭桂枝湯方</u></p>
<p>烏頭</p>
<p>上一味。以蜜二升。煎減半。去滓。以桂枝湯一升解之。服二合。不知即服三合。風濕血痹。身體不仁。若四肢痿弱者。山萮菜湯主之。</p>
<p><u>山萮菜湯方</u></p>
<p>山萮菜（一錢）　防風（一錢）　當歸（一錢）　牛房子（一錢）　甘草（三分）</p>
<p>上五味。以水二鍾。煮取一鍾。去滓。分溫服。發熱惡寒。手腳關節掣痛。名白虎歷節風。風毒鼓擊所致也。腳腫疼痛。若痿躄。脈洪數。小便如血。宜白虎加桂枝湯主之。肢節疼痛。身體尫羸。腳腫如脫。頭眩短氣。溫溫欲吐。桂枝芍藥知母湯主之。</p>
<p><u>桂枝芍藥知母湯方</u></p>
<p>桂枝（三分）　芍藥（五分）　麻黃（五分）　防風（五分）　知母（五分）　白朮（五分）　附子（三分）　甘草（三分）</p>
<p>上九味以水二合煮取一合。去滓。分溫服。歷節風病。若腳氣攣急。不可屈伸者。宜烏頭湯。</p>
<p><u>烏頭湯方</u></p>
<p>麻黃（一錢）　芍藥（一錢）　黃耆（五分）　甘草（三分）　川烏（一錢㕮咀以蜜二升煎取一升即出烏頭）</p>
<p>上五味。㕮咀。以水二升。煮四味。取一升。去滓。內蜜煎中。更煎之。服三合。不知再三服之。寒濕疼痛。腳脛攣拘。熱腫若瘦削。是屬鶴膝風也。寬筋涼血湯主之。</p>
<p><u>寬筋涼血湯方</u></p>
<p>防風　威靈仙　牛膝　小蓮翹　當歸（各二錢）　寒水石　芍藥（各三錢）　甘草　生薑（各一錢）</p>
<p>上九味。以水二升。煮取一升。去滓。分溫服。痢疾稍解。反腳痛乏力。此轉屬鶴膝也。宜寬筋溫血湯主之。</p>
<p><u>寬筋溫血湯方</u></p>
<p>防風　牛膝　當歸　芍藥（各一錢）　桂枝　附子（各七分）　甘草（五分）</p>
<p>上七味。以水二升。煮取一升。去滓。分溫服。風濕疼痛。若血痹不仁。若鶴膝痿弱。諸身體頑麻。俱宜麻黃膏服之。</p>
<p><u>麻黃膏方</u></p>
<p>麻黃（三兩）　桂枝（一兩）　膠飴（一斤）</p>
<p>上三味。以酒一斗。煮一味。減二升。去上沫及滓。內膠飴。再煮為膏。每服彈丸大。日五六次。腰腳寒痹。不仁痿弱。身無大熱者。宜芥子膏塗之。</p>
<p><u>芥子膏方</u></p>
<p>白芥子（不拘多少）</p>
<p>上一味。研如泥。溫酒調塗。日二三次。病人胸腹攣急而蹠跛。此為癇瘕。若蟲塊所致。宜以法治之。體筋弛。腳力空脫。行動難支者。宜三妙湯主之。</p>
<p><u>三妙湯方</u></p>
<p>牛膝（一錢）　黃柏（三分炒）　知母（一錢）　杜仲（一錢）　破故紙（一錢）　桂枝（三分）　附子（三分）　甘草（三分）　生薑（三分）</p>
<p>上九味。以水二升。煮取一升。去滓。分溫服。腳氣痿躄。雖夏月常須著綿裩。至冬寒倍令兩脛溫暖。得微汗為佳。常令按摩數勞動關節。令氣血通暢。此拒風濕之法也。陰虧則形壞。故肢體為之廢弛。膝臏腫大。不能行步。名曰鶴膝風。血燥劇者。不可治。風痹寒濕。痿痹偏廢。若鶴膝。膝臏疼痛。如虎咬者。宜樟木湯浴之。</p>
<p><u>樟木湯方</u></p>
<p>樟木屑（一斗）　桐木皮（五升）</p>
<p>上二味。以水一斛。煎以浴痛處。日七八次。以痛定為度。腳氣房勞虛乏。小陰脈不至。腎氣微。少精血。奔氣促迫。上入胸膈者。為難治。腳氣衝心。恍惚氣急。四肢厥。額汗出。脈乍大乍小者。不可治。腳氣之為恙。不得大補。亦不可大瀉。多由氣實而死氣虛者亦難治。</p>

<h1>附錄</h1>

<h2>護養</h2>
<p>兒護養。皆失於姑息。富家過愛。遂多夭橫。貧家不及。反得壽長。兒受三分冷。吃七分飽此為護養之要。兒心胸要冷。背腹要溫。哭是歌。不哭不僂儸也。兒有胸無心。病多從口成。乳後勿與食。食後勿與乳。兒乳養欽者。必致疳病。藥補是不如食補也。兒頭以涼為要。足以溫為要。體易虛易實。勿服多寒。勿服多熱。兒敏解人意。是真陽發泄。恐難養。兒瘦先撿乳餌。一碗粥勝一斤參。兒肌膚鮮明者。有留飲。宜滲泄方。青暗者。有寒毒。宜溫散方。兒額有筋而頸細。身體乏力者。屬疳病也宜赤風蛤噉之。風者百病之長。食者百治之原。飲食不能者。不可治。兒妄笑者。為心虛。笑少者。為心實。兒谷腸多蟲。乳腸少蟲。有病者胎毒也。兒穀氣勝於元氣者體肥而多病。元氣勝於穀氣者。體瘦而少病。諸病解後。脾胃必衰弱。強食則發熱而腹滿。是食復也。病人貪食者。當減也。若惡者反要強。何以論之。曰。食即惡之基。惡者真元不支故也。寒熱必有真假。真者勿慢治。假者勿拘泥。病候有真假。真者隱伏。多在裡。假者發見。多在表。兒吃熱勿吃寒。吃軟勿吃硬吃少勿吃多。醫有常變。有寬急。勿以常為變。勿以變為常。勿以寬為急。勿以急為寬。方有君臣。有佐使。勿以君為臣。勿以臣為君。勿以佐為使。勿以使為佐。方有多有單。多者補澤所用也單者攻擊所用也。致偏廢者。有偏見也。劑有寒因熱用。有熱因寒用。有寒因寒用。有熱因熱用。寒因熱用。熱因寒用。此為從治所用也寒因寒用熱因熱用。此為反治所用也。醫有反治。有從治。體實者。反治所宜體虛者。從治所宜反治者為常治。從治者為變治。問曰。醫有逐機。有持重。何也。答曰。逐機者。逐病侯而轉方也。持重者重病因而不轉方也。若識逐機者。假令一日轉百方。不為以誤也。若識持重者。假令百歲用一方。亦不為以誤也。凡診病者。當以一級重決之也。若以輕決之者。必取敗缺也。醫之為伎。劑也易處。病也難診。若置其診。而欲擬其劑者。未可與論也。兒病始吐蛔者。為熱。病當瘥。終吐蛔者為寒。病不可治。問曰。病熱。用寒方益盛。用熱方反安者。何也。答曰。夏月體熱。然反灌熱湯。後身自涼也。假令如火燒瘡。急忍痛而灸後痛頓減。此皆從治之類也。問曰。醫有從治。有反治。何謂也答曰。熱用寒。寒用熱。此為反治。熱用熱寒用寒。此為從治病輕者反治所宜也。病重者。從治所宜也。兒暴瀉昏沉。脈微弦而四肢冷。若驚惕者。冬月易治夏月難治。病始為實。終為虛。暴虛者易治。漸虛者難治。兒病多兼蛔。以脾蟲故也。始吐蛔者佳。終吐蛔者不佳。兒未期月而生者。至腳弱。以筋骨有所缺也。醫伎。非劑而在七。以劑說治者。未可與論也。診病要在氣息。氣息安靜者生。短息者死。癖塊。有磨法無瀉法。若妄攻者。真元必傷。不可治。兒腹有塊者。不問食癖蟲塊。俱為惡侯。須急論治。診病以銀海為要。虛實必顯。以精萃所奏故也。病五實者死五虛者亦死。病多反復者。不可治也。</p>
