<header data-type="book">
<h1>婦科玉尺</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈金鰲</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1773">公元1773年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2858">北京大學圖書館掃描本</a>；《沈氏尊生書·婦科玉尺》，清乾隆49年刊本（<a href="https://www.digital.archives.go.jp/file/1079266">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>尺者劃分寸。量短長。取其準也。尺而以玉為之。分寸所劃。堅久不磨。尤准之准也。余竊思短長之數。必取准於尺。於物然。於病亦然。於婦女之病更無不然。何則。婦女深居閨房。則情不暢。婦女見地拘局。則識不開。婦女以身事人。則性多躁。婦女以色悅人。則心偏妒。稍有不遂。即為憂思。憂思之至。激為怨怒。不知憂則氣結。思則氣鬱。怨則氣沮。怒則氣上。血隨氣行。故氣逆而血亦逆。血氣乖爭。百疾於是乎作。及其疾作。又苦不自知。即或知之。而幽私隱曲。又不肯自達。且多掩蔽。於是其家一委之醫。醫一憑之脈。而此翕翕跳動之脈。欲藉以測婦女幽私。達婦女隱曲。毫釐千里。貽禍不小。豈非妄意揣度。而未知用玉尺以量之。且用玉尺以求得其準乎。昔者倉公診女子。知其欲男子不得。脈出魚際一寸。是以玉尺量准者也。古來如倉公之醫者不乏。亦皆量以玉尺而能准者。舉古人為法。求得其準焉。夫何幽私隱曲之不可達哉。雖然。言醫之書甚繁。其不能讀者無論已。有能讀者。苟非識精見卓。確有把持。將此紛紛聚訟者。何自援以為準。余故不憚參稽。著為婦科六卷。所言諸病。必按脈切症。要於的當。不失幽私隱曲之所在。摘錄前人之語及方。悉皆至精至粹。百用百效者。以是而當。盡之分寸。庶幾如玉所劃。堅久不磨。取以量婦女病。應無不得其準之准者歟。</p>
<p><u>乾隆甲午清明前二日無錫沈金鰲自書</u></p>

<h1>凡例</h1>
<p>一婦女病。倍多於男子。其原不外經產崩帶數大端。故是書篇目。雖止有九。而一切病。皆統於是矣。</p>
<p>一每篇正文。皆充類至盡。似無遺症。然病變無方。或有未備者。又當臨時裁度。因勢酌方。不可拘泥。岳武穆云。運用之妙。存乎一心。兵法也。亦醫法也。</p>
<p>一崩漏雖屬血病。然非專由經也。前人往往雜於經病中。非是。余故次於產後病下。</p>
<p>一小產原是胎前之患。不得以大產小產遞及。今列於臨產前者。明其病屬於胎前也。</p>
<p>一每篇正文後。前人論說。必擇至精且當。歸於一是者。然後採錄。期免矛盾之誚。</p>
<p>一所採古方。除試驗獲效外。其餘必取方藥之性味。按合所主之症。再四考訂。果屬針對不爽。才敢載筆。稍覺阻礙。即棄去。雖分量多寡。亦必籌較。未敢輕心相掉。貽誤將來也。</p>
<p>一方有與症相合。本文及前論。卻俱未引及者。亦附錄備考。不肯割愛云爾。</p>

<h1>卷一</h1>

<h2>月經</h2>
<p>經者常也。女子十四歲。任脈通而天癸至。任與沖遂為經脈之海。外循經絡。內榮臟腑。氣血調和。運行不息。一月之間。衝任溢而行。月事以時下。此常經也。故曰。經貴乎如期。若來時。或前或後。或多或少。或月二三至。或數月一至。皆為不調。不調則病作。甚至積而不行。則病更作。昔人謂經至。十年無男子合則不調。未至十年。思男子合而不得。亦不調。不調則瘀不去。新誤行。或漬而入骨。或變而成腫。故云室女憂思積想在心。則經閉而癆怯者多。然亦有因脾胃傷損者。不盡可作血凝經閉治也。只宜調養脾胃。脾氣旺則能生血而經自通。亦有因飲食停滯致傷脾胃者。宜消食健脾。若經來時。飲冷受寒。或吃酸物。以致凝積。血因不流。當以辛溫活血行氣藥通之。此經閉也。精神壯盛。陰血有餘。偶感風寒。或食冷物。以致氣滯血凝而閉。宜以通氣活血藥導之。此氣滯也。先天不足。或病後產後失於調理。以致真陰虧損。火熱煎熬。或陰虛火旺。肝不生血。或墮胎。及產多而亡血。或因久患潮熱。盜汗耗血。乃將成癆瘵之候矣。宜以滋陰養血清火藥治之。此血枯也。故即血凝之症。當有經閉氣滯血枯三項因緣。未可概視。若專用攻伐。恐經不通而血反涸也。至如痛經一症。乃將行經而少腹腰腿俱痛。此淤血。當於臨經時血熱氣滯也。宜以通利活血藥調之。經病大端。不過如是。而其詳則有可舉者。如經水不調。所下淡色似水者。血虛也。宜四物湯加參、耆、香附。腹痛加阿膠、艾。下血色紫而成塊者。熱從火化而熱血凝結也。或離經畜血所致。經水必下多或作痛。宜四物加芩、連、知、柏、白芍。婦人室女月不調。血積堅如石者。受寒也。宜和血通經湯。婦女經不調者。或由諸般氣滯也。宜艾附丸。經不調先期而來者。血熱也。宜四物加芩、連。或涼血調經丸。經行先期腰腹發熱者。亦血熱也。宜涼血丸。經水不調。臨行時先腹痛者。氣滯血實也。宜四物加延胡索、炒枳殼、蓬朮、木香、桃仁。月行時。口渴。吃水多。心痞。喜嘔。不進飲食者。脾病也。宜山梔湯。婦人年二十餘。月來不勻。來時先呵欠。腹隱痛。血色紫。食少無力者。弱也。宜黃連白朮湯。經來紫黑色。一月二次。或三次。不思飲食。口乾而苦。發熱者。血熱妄行也。宜四君子湯加生地、當歸、陳皮、麥冬、白芍、木通、甘草。經來或不來。腹痛。喜食熱物者。氣痛也。宜半夏木通湯。經來時。心神不寧。四肢微熱。虛勞者。曾受驚也。宜菖蒲飲。臨經時。或食生冷酸澀。至膀胱小腹疼。腹飽悶者。血偶滯也。宜破結丸。經水後期而行者。血虛有寒也。宜四物加黃耆、陳皮。或香附芎歸湯。過期太甚。膠艾丸。經水過期色淡者。痰也。宜二陳湯加川芎、當歸。有痰佔住血海之地。因而不來。目必漸昏。肥人多有之。是痰礙經而不行也。宜星芎丸。經來十數日不止者。血熱也。宜止血藥中加山梔、柴胡。經水來而不止者。氣虛不能攝血也。宜補氣固經丸。經水過多不止。平日肥壯。不發熱者。體虛寒也。宜姜棕散。經水過多不止。平日瘦弱。常發熱者。由火旺也。宜龜板丸。經來不止及血崩者。血溢也。宜必效散。婦人四十九歲。經當止。今每月卻行過多。及五旬外。月事比少時更多者。血熱或血不歸經也。宜芩心丸、琥珀丸。婦人室女經閉。疼痛。或成血瘕者。淤積也。宜通經丸。經閉。或但不調。血塊氣痞腹痛者。氣血滯也。宜調經湯。或煩熱肢疼體痛。口乾盜汗。嗜臥。經不調。寒熱如瘧。痰嗽骨蒸者。血虛也。宜逍遙散。不愈。加味逍遙散。瘦弱人經閉者。血氣受傷。或生育多也。宜四物加紅花、桃仁。又瘦人經閉者。或氣滯也。宜通經丸、調經湯。經壅。身體發虛。四肢無力。潮熱骨疼者。內有氣塊也。宜蒼朮香附丸。經閉腹痛者。內結腹痛也。宜歸尾丸。經事不來者。血閉也。宜調經琥珀湯。經閉不來。或過月者。血不調也。宜紅花湯。經行後作痛者。氣血虛也。宜八珍湯。婦人室女。七情傷感。至於血並。心腹作疼。或連腹痛。或引背膂上下攻刺痛。血瘀作搐。或經不調。一切血氣病也。宜延胡索散。有血氣發來似刀刮攪腸胃。及心胸刺痛欲絕者。血氣衝心也。宜紅花散。有遊走至腰膂俱痛者。亦血氣痛也。宜蓬朮散。有上氣衝心。變作乾血氣者。血氣久而不行也。宜絲瓜散。有乾血癆者。憂思積想所致也。宜月紅湯。有婦人血黃者。血瘀病也。宜茄子散。其總治經水不調。或前或後。或多或少。及一切氣食等症。則惟四制香附丸。或丹參散為主。經病之煩多若此。然而有宜小心者。婦人二三月經不行。宜用驗胎法以驗之。未可遽用攻伐通利之劑也。如果驗之無胎。斯可隨症而通之。或至瘦弱身熱。口乾唇頰紅色。下午尤甚。或先微寒。乃血枯經閉。陰虛發熱。將成癆瘵也。宜逍遙散。婦人之病。甚於男子。不益可信哉。</p>
<p><u>脈法</u>　脈經曰。左手關上脈陰虛者。足厥陰經也。婦人病苦月經不利。腰腹痛。肝脈沉之而急。浮之亦然。女人月事不來。時亡時有。得之少時有所墜墮。尺脈滑。血氣實。婦人經脈不利。宜服大黃朴硝湯。下去經血。針關元瀉之。少陰脈弱而微。微則少血。寸口脈浮而弱。浮則為虛。弱則無血。脈來如琴絃。少腹痛。主月不利。孔竅生瘡。尺脈來而斷續者。月水不利。當患小腹引腰痛。氣滯上攻胸臆也。經不通。繞臍寒疝痛。其脈沉緊。此由寒氣客於血室。血凝積血為氣所沖。新血與故血相搏。故痛。腎脈微澀。為不月。李梴曰。浮澀脅傷經不利。浮絕精傷與經閉。又曰。經病前後。脈軟如常。寸關雖調。尺絕痛腸。沉緩下弱。來多要防。微虛不利。間月何妨。浮沉一止。或微遲澀。居經三月。氣血不別。三月以上。經閉難當。心脾病發。關伏寸浮。心事不足。左寸沉結。又曰。腎脈沉微。氣虛也。女子崩帶。經脈不調。</p>
<p><u>月水不調</u>　陳自明曰。婦人月水不調。由風邪乘虛客於胞中。而傷衝任之脈。損手太陽少陰之經。蓋衝任之脈皆起胞中。為經血之海。與小腸心為表裡。乳汁下為月水。然月水乃經絡之餘。苟能調攝得宜。則經以時應矣。劉完素曰。月水不調。則風熱傷於經血。故血在內不通。或內受邪熱。脾胃虛損。不能飲食。榮衛凝澀。或大腸虛。變為下利。流入關元。致絕子嗣。李杲曰。經不調。右尺脈按之空虛。是氣血俱脫大寒症。輕手其脈數疾。舉指弦緊或澀。皆陽脫症。陰火亦亡。見熱症於口鼻眼。或渴。此皆陰躁陽欲去也。用升陽舉經湯。大升浮血氣。補命門之下脫也。戴思恭曰。月水或前後。或多少。或欲來先病。或來而斷續。皆曰不調。和氣飲加香附五分。經來或不來。皆腹痛。皆血不調也。欲調血先調氣。四物加吳萸五分。痛甚。延胡索湯。然又恐感外邪食積。宜詳審。和氣飲卻能兼治。李梴曰。以期言之。對期者。性和血足易受孕。差一二日不為害。以色言之。心主血。陰從陽。故紅為正。雖不對期。而色正者易調。或前後多少。或逾月不至。或一月再至。當歸散、調經散、單丹參散。經前後痛。通用交加地黃丸、七制香附丸。萬全曰。經不調有三。一脾虛。二衝任損傷。三痰脂凝塞。胃為水穀之海。血氣之母也。惟憂愁思慮。心氣受傷。則脾氣失養。鬱結不通。腐化不行。飲食減少。斯有血枯血閉。及血少色淡。過期。或數月一行也。又脾為血海衝任之系。或嫉怒褊急。以傷肝氣。致衝任失守。血氣妄行。或血未行而妄合以動其血。或經未斷而即合。衝任內傷。血海不固。為崩為漏。有一月再行者矣。肥碩之人。膏脂充滿。元室之戶不開。或痰涎壅滯。血海之波不流。故有過期而經始行。或數月而經一行。及為濁為帶為經閉。為無子之病者矣。</p>
<p><u>月閉</u>　陳自明曰。或醉飽入房。或勞役過度。或吐血失血。傷損肝脾。但滋其化源。其經自通。若小便不利。頭眩腰背痛。足寒時痛。久而血結於內。變為癥瘕。若血水相併。脾胃虛弱。壅滯不通。變為水腫。若脾氣衰弱。不能制水。水浸肌肉。變為腫滿。當益津液。大補脾胃。方可保生。張從政曰。月不通者。經曰。胞脈閉也。胞脈者屬火。而絡於脬中。今氣上迫肺。心氣不得下通也。茶調散吐之。吐訖。玉燭散、三和湯、桂苓白朮散。量虛實選用。慎勿服峻熱藥。致變肺痿骨蒸潮熱。咳嗽咯膿嘔血喘逆。尿澀寢汗不已。漸至脈大形瘦。必不救。李杲曰。二陽之病發心脾。女子不月。其傳為風消。為息賁。死不治。婦人脾胃久虛。形羸氣血衰。致經不行。病中消。胃熱善食。漸瘦液枯。夫經者血脈津液所化。為熱所爍。肌肉消瘦。時燥渴。血海枯竭。病名血枯經絕。宜瀉胃之燥熱。補益氣血。經自行矣。此症或經適行而有子。子不安。為胎病者有矣。或心包脈洪數。躁作。時見大便秘澀。小便雖清不利。而經閉絕。此乃血海乾枯。宜調血脈。除包絡中火邪。而經自行。內經所謂小腸移熱於大腸。為癥瘕。為沉。脈澀不利。則月事沉滯而不利。故云為癥瘕為沉也。或因勞心。心火上炎。月事不來。安心和血瀉火。經自行矣。故經云胞脈閉也。胞脈者屬心而絡於胞中。今氣上迫肺。心氣不得下。故月不來也。又曰。凡婦女之病。經水適斷。俱作少陽治之。傷寒雜病皆同。經云。身有病而有邪。經脈閉也。經脈閉者。尺中不至。胞脈閉者。生化源絕。二者皆血病也。厥陰主之。厥陰病則少陽病矣。治法或實作大熱。或變成癆。脈有浮中沉之不同。故藥有表裡和之不一。察其在氣在血。定其行陰行陽。使大小得宜。輕重各當。則可萬全。此少陽一治不可不知也。朱震亨曰。陰虛。經脈久不通。尿澀體痛。四物加蒼朮、牛膝、陳皮、甘草。又用蒼莎丸料加蒼耳、酒芍藥為丸。就用前藥吞下。經候微少。漸漸不通。手足煩疼漸瘦。潮熱。脈微數。四物去芎、地、加澤蘭三倍、甘草半分。王倫曰。經不行。有由脾胃損傷者。不可便為經閉死血。輕用攻破藥。須審脾胃如何。若因飲食勞倦。損傷脾胃。少食惡食。泄瀉疼痛。或因誤服汗下攻伐藥。傷其中氣。致血少不行。只宜用白朮為君。苓芍為臣。佐以黃耆、甘草、陳皮、麥芽、柴胡、芎、歸等。脾旺自能生血。而經自行。又有飲食積滯。致損脾胃。亦宜消積補脾。若脾胃無病。果有血結。方可行血通經。李梴曰。經行時。余血一點未盡。或外被風寒。濕冷暑熱。或內傷生冷。七情鬱結。為痰為瘀。曰血滯。或經止後。用力太過。入房太甚。及食燥熱。以致火動邪盛而精血衰。曰血枯。經後被驚。血氣妄行。上逆則從口鼻出。逆於身則水血相搏。變為水腫。恚怒則氣血逆於腰腿心腹背脅手足間。重痛。經行則發。過期則止。怒極傷肝。則有眩暈嘔血瘰癧血風瘡瘍等病。加之經血滲漏於其間。遂成竅穴生瘡。淋瀝不斷。濕熱相搏。遂為崩帶。血結於內。變為癥瘕。凡此變症百出。不過血滯血枯而已。但血滯血枯。俱有虛熱。故重則經閉不通。以滯枯分言之。輕則經不調。止言虛與熱而已。總而言之。經水不通。不出虛熱痰氣四症。不調亦相似。則飲食調和。自然血氣流通。更有凝滯。然後可用紅花當歸散、紫葳散、通經丸、導經丸之類。虛者只用當歸散。通後又須養血益陰。使津液流通。若以毒藥攻逐。必死。又曰。經閉腹大。僅一月間便能動作。乃至過期不產。或腹痛。必是蟲症。雄砂丸主之。李時珍曰。經閉有有餘不足二症。有餘者血滯。不足者傷肝。素問云。少時有所大脫血。或醉入房中。氣鬱肝傷。故月來衰少。或不來。治之以烏賊骨四蘆茹一。此正血閉不足之病也。萬全曰。經閉而骨蒸潮熱。脈虛。用增損八物柴胡湯。熱甚。服此不平者。加乾薑灰神效。經閉發熱咽燥。唇乾脈實者。四物涼膈散。張介賓曰。血枯血隔本不同。蓋隔者阻隔。枯者枯竭。阻隔者邪氣隔滯。血有所逆也。枯竭者衝任虧敗。源斷其流也。凡婦女病損。至旬月半載之間。未有不經閉者。正因陰竭所以血枯。枯之為義。無血而然。故或羸弱。或困倦。或咳嗽。或血熱。或飲食減少。或亡血失血。及一切無脹無痛無阻無隔。而經有久不至者。皆血枯經閉之候。欲其不枯。無如養榮。欲以通之。無如充之。（此誠要義）但使血行。則經脈自至。乃醫者不論有滯無滯。多兼開導之藥。其有甚者。則專以桃仁、紅花之類通利為事。豈知血滯者可通。血枯者不可通乎。是宜知之矣。</p>
<p><u>經血暴下</u>　成無己曰。婦人年及五十以上。經血暴下者。婦人經血終於七七之數。數外暴下。內經曰。火主暴速。亦因暴喜暴怒憂結驚恐之致。切不可作冷病治。用峻熱藥。必死。止可用黃連解毒湯。以清於上。更用蓮殼灰、棕灰以滲於下。然後用四物加延胡索散。涼血和經之藥是也。</p>
<p><u>來止腹痛</u>　張從政曰。經來腹痛。由風冷客於胞絡衝任。或傷手太陽少陰經。用溫經湯、桂枝桃仁湯。若憂思氣鬱而血滯。桂枝桃仁湯、地黃通經丸。若血結成塊。萬病丸。劉完素曰。氣衝經脈。月事頻並。臍下痛。芍藥六合湯。若經欲來。臍腹絞痛。八物湯。朱震亨曰。經候過而作痛者。乃虛中有熱也。經將來作疼者。血實也。四物加桃仁、黃連、香附。臨行腰疼腹痛。乃鬱滯有瘀血。四物加紅花、桃仁、蓬朮、延胡、木香、香附。發熱加黃芩、柴胡。紫色成塊者熱也。四物加黃連、柴胡。經行微少。或脹或疼。四肢痛。四物加延胡、沒藥、白芷為末。淡醋湯下。經不調。心腹疼痛。只用芎、歸二味。名君臣散。經欲行。臍腹絞痛。四物加延胡、檳榔、苦楝、木香減半。又曰。月候不調之中。有兼疼痛者。或常時痛。或經前痛。血積也。或經後痛。血虛也。有兼發熱者。或常時熱積也。或經來時熱。血虛有熱也。王肯堂曰。仲景治帶下。月水不利。小腹滿痛。經一月再見者。土瓜根散主之。此散乃破堅下血之劑。觀此則經不及期。有因瘀血者矣。前論所未及也。然欲知瘀血。須以小腹滿痛為憑。又曰。經水者。行氣血。通陰陽。以榮於身者也。或外虧衛氣之充養。內乏榮血之灌溉。血氣不足。經候欲行。身體先痛也。張介賓曰。凡經期有氣逆作痛。全滯而不虛者。須順氣。宜調經飲。甚者。排氣飲。氣血俱滯。失笑散。若寒滯於經。或因外寒所逆。或平日不慎寒涼。致凝聚作痛。而無虛者。須祛寒。宜調經飲加薑、桂、吳萸。或和胃飲。若血熱血燥。滯澀不行作痛。加味四物湯。或保陰煎去續斷、加減。以上諸症。但察其有滯無虛。方是真實。若兼虛不得任行克伐。若痛在經後。多由血虛。八珍湯。然必察其寒熱虛實以為佐使。自效。其有餘滯未行者。決津煎最妙。若但遇經期。則必作痛。或食則嘔吐。肢體困倦。或兼寒熱。是必素稟不足。八珍湯。虛而寒甚者。理陰煎漸加培補。久必愈。有因帶濁多而虛痛者。大營煎。隨寒熱加佐使主之。</p>
<p><u>血色痛塊</u>　朱震亨曰。經水陰血也。陰必從陽。故其色紅。稟火色也。血為氣配。其成塊者。氣之凝也。將行而痛。氣之滯也。來後作痛。氣血俱虛也。色淡亦虛也。錯經妄行。氣亂也。紫者氣熱也。黑者熱甚也。人但見紫黑痛塊。率為風冷。而用溫熱。必敗。夫熱甚者必兼水化。所以熱則紫。甚則黑也。李梴曰。色紫風也。黑者熱甚也。淡白虛也。或挾痰停水混之也。如煙塵水。如屋漏水。如豆汁。或帶黃混濁模糊者。濕痰也。成塊作片。色不變。氣滯也。或風冷乘之也。色紫黑。血熱也。大概紫者。四物加白芷、荊、防。黑者。四物加香附、芩、連。淡白者。古芎歸湯加參、耆、白芍、香附。有痰。二陳加芎、歸。如煙塵。二陳加秦艽、防風、蒼朮。如豆汁。四物加芩連。成塊。四物加香附、延胡、陳皮、枳殼。通用琥珀調經丸。</p>
<p><u>熱入血室</u>　李杲曰。晝則明瞭。夜則譫語。熱入血室。無犯胃氣及上二焦。不治自愈。甚則四順飲子。桃仁承氣湯。症相似。當不妨用之。羅天益曰。熱入血室而成結胸。由邪氣傳入經絡。與主氣相搏。上下流行。遇經適來適斷。邪乘虛入於血室。血為邪迫入於肝經。肝受邪。則譫語見鬼。復入膻中。則血結於胸。何則。婦人平日水養木。血養肝。未孕為月水。既孕則養胎。既產則為乳。皆血也。今邪逐血。並歸於肝經。聚於膻中。結於乳下。故手觸之則痛。非藥可及。故當刺期門也。李梴曰。婦女傷寒。寒熱似瘧。經水適斷者。亦名熱入血室。其血必結而不行。小柴胡湯。或黃龍湯。加丹皮、桃仁。婦人此症最多。切忌汗下。若見喜忘如狂。腹滿泉清。當以淋血法治之。又不可拘於不下也。男女均有此。男由陽明而傳。女人則隨經而入。武之望曰。邪入血分。則發在暮。且譫語屬胃經者多。恐誤犯之。故仲景云。無犯胃氣也。又曰。凡經行後似瘧譫語。便是熱入血室。又曰。經水適來適斷。或有往來寒熱者。先服小柴胡以去其寒熱。後以四物湯和之。又曰。潮熱有時為內傷為虛。無時為外感為實。虛者大溫經湯。熱者四物加芩連。骨蒸者大胡連丸。五心潮者四物加黃連、胡黃連。經前潮熱血虛有滯。逍遙散加丹皮、桃仁、延胡。經後潮熱血虛有熱。逍遙散去柴胡加生地、地骨皮。此方加減。為退熱聖藥。</p>
<p><u>室女寡婦師尼</u>　李梴曰。女子十四月至。必近二十方可配。陰氣不易成也。或恣食鹹酸熱燥。致氣血上壅不通。紅花當歸散、大黃膏、紫葳散。如逾年未下。或年未及而思男。思傷心血。火炎脾虧。肺爍腎枯。而血閉成癆者難治。四物加柴、芩。逍遙散加芩、連、山梔。以養血涼血。降火柏子仁丸亦妙。因怒逆者。四制香附丸加黃芩、生地。因驚者。抱膽丸。又曰。寡婦鬱悶百端。或想夫。或門戶不支。或望子孫。心火頻熾。加之飲食厚味。遂成痰火。其症惡風體倦。乍寒乍熱。面赤心煩自汗。肝脈弦長。當抑肝之陰氣。柴胡抑肝湯、抑陰地黃丸、越鞠丸。貧苦食淡者。四制香附丸。每日上午。神思昏憒。怕見明處。惡聞人聲。至午後方可。及頭昏腹痛驚惕。稍涉勞動。及經來時尤劇。此不得遂志也。宜清神養榮四物湯。加人參、茯神、陳皮、柴胡、羌活、甘草、香附。萬全曰。愆期未嫁之女。偏房失寵之妾。寡居之婦。庵院之尼。欲動不能遂。感憤不得言。多有經閉之疾。含羞強忍。不欲人知。致成癆瘵難治者。宜四制香附丸、參朮大補丸。攻補兼行。庶幾可瘳。此七情之變。難以法治者也。張介賓曰。張氏云。室女月不行。切不可用青蒿等涼藥。醫家多以室女為血熱。故以涼藥解之。殊不知血得熱則行。冷則凝。不可不知。若經微少。漸漸不通。手足骨肉煩疼。日漸羸瘦。漸生癆熱。其脈微數。此由陰虛血弱。陽往乘之。少水不能滅盛火。火逼水涸。耗亡津液。治當養血益陰。毋以毒藥通之。宜柏子仁丸、澤蘭湯。羅天益曰。宋褚澄療師尼寡婦。別制方者。蓋有謂也。此二種寡居。獨陰無陽。欲心萌而多不遂。是以陰陽交爭。乍寒乍熱。全類溫瘧。久則為癆瘵也。武之望曰。師尼寡婦之癆。專主肝經。以相火寄於肝也。男女之欲。皆從此出。觀天地之氣始於春。則知欲火之動亦由於肝也。鳥獸孳尾亦然。故治此者。當以柴胡湯為法。</p>

<h3>治月經病方</h3>
<p><u>大黃朴硝湯</u>　治經年月水不行。胞中有風冷所致。宜下之。</p>
<p>大黃　牛膝（各五兩）　代赭石（一兩）　朴硝　丹皮　甘草　紫菀（各三兩）　虻蟲　水蛭　桃仁　乾薑　細辛　芒硝（各二兩）　麻仁（五合）</p>
<p>水一斗五升。煮五升。去渣。納硝。分五服。五更為首。去一炊頃。自下後將息。忌見風。</p>
<p><u>小柴胡湯</u>　治婦人經病間用此加減。</p>
<p>柴胡　黃芩　人參　半夏　甘草　姜　棗</p>
<p><u>二陳湯</u>　治女人經病。有痰在中脘。飲食少進。</p>
<p>茯苓　陳皮　半夏（各一錢）　炙草（五分）</p>
<p><u>八珍湯</u>　治氣血兩虛。</p>
<p>人參　茯苓　白朮　炙草　川芎　當歸　白芍　熟地</p>
<p><u>調經湯</u>　治瘀積經閉。</p>
<p>當歸　延胡索　白朮（各二錢）　香附　白芍　生地（各一錢）　川芎　陳皮　丹皮（各八分）　甘草（六分）　益母草（三錢）</p>
<p>經來日。空心服。</p>
<p><u>逍遙散</u>　治血虛經閉。</p>
<p>當歸　柴胡　白朮　白芍　茯苓　甘草</p>
<p><u>加味逍遙散</u>　治血虛經病。</p>
<p>逍遙散加山梔　丹皮</p>
<p><u>必效散</u>　治婦人月經不調。及崩漏不止。</p>
<p>棕皮燒　木賊炭去節（各二兩）　麝香（一錢）</p>
<p>另研。每二錢。空心酒服。</p>
<p><u>大溫經湯</u>　治衝任虛損。月候不調。或來多不已。或過期不行。或崩中去血過多。或胎產瘀血停留。小腹急痛。五心煩熱。並皆治之。但此溫劑。納冷者宜。</p>
<p>當歸　川芎　人參　阿膠　桂心　白芍（炒）　淡吳萸　丹皮　炙草（各一錢）　麥冬（二錢）　半夏（二錢半）　姜（五片）</p>
<p>食前。稍熱服。</p>
<p><u>八物湯</u>　治經事將行。臍腹絞痛者。氣滯血澀故也。</p>
<p>當歸　川芎　白芍　熟地　延胡索　苦楝（碎炒，各一錢）　木香　檳榔（各五分）</p>
<p>食前服。</p>
<p><u>和血通經湯</u>　治因受寒而經不調。或閉。</p>
<p>當歸　三稜（各五錢）　蓬朮（四錢）　木香　熟地　官桂（各三錢）　紅花　蘇木（各二錢）　血竭（另研一錢）　共為末。酒下。</p>
<p><u>艾附丸</u>　治由氣滯經不行。</p>
<p>蘄艾（四兩）　香附（一斤）　當歸（四兩）　半酒半醋炒</p>
<p>醋糊丸。有氣。加枳殼、陳皮四兩。肌瘦。加人參二兩。白朮四兩。茯苓三兩。身熱。加柴胡四兩。</p>
<p><u>蒼朮香附丸</u>　治氣塊。</p>
<p>蒼朮　三稜　神麯　姜厚朴　生地　莪朮　當歸　香附（各二兩）　明礬（半斤麩炒黑）</p>
<p><u>歸尾丸</u>　治血塊。</p>
<p>檳榔　秦艽　歸尾　延胡索　薑炭　木香　桃仁　丹皮</p>
<p><u>破結丸</u>　治經閉。由過食生冷酸澀。</p>
<p>琥珀　延胡索　降香　五靈脂　莪朮　生膝（各五錢）　桃仁　歸尾（各一兩）　肉桂心　血竭（各三錢）</p>
<p><u>涼血調經丸</u>　治血熱經病。及熱甚經閉。</p>
<p>黃芩　黃柏　白芍　鱉甲　杞子　歸身　樗皮</p>
<p><u>涼血丸</u>　治經行先期。</p>
<p>枇把葉　白芍　五味子　生地　青蒿　甘草　山萸　黃柏　川斷　杜仲　阿膠</p>
<p>山藥打糊丸。</p>
<p><u>香附芎歸湯</u>　治經行後期。</p>
<p>川芎　當歸　香附　白芍　蘄艾　熟地　麥冬　杜仲　橘紅　甘草　青蒿</p>
<p>若太甚。並半邊頭痛。加甘菊、藁本、荊芥、童便。去艾、杜仲、香附、橘紅。</p>
<p><u>膠艾丸</u>　治經行後期太甚。</p>
<p>香附　生地　枳殼　白芍　砂仁　艾葉　阿膠　山藥糊丸。</p>
<p><u>越鞠丸。</u>　治郁傷氣滯。胸膈痞悶。肚腹膨脹。飲食少思。吞酸噯腐。女人經病。</p>
<p>香附　蒼朮　川芎　山梔　山楂　神麯　等分。神麯糊丸。食遠。白湯下。</p>
<p><u>桃仁承氣湯</u>　治月事沉滯。</p>
<p>桃仁（十二個）　官桂　甘草　芒硝（各五錢）　粗末五錢。水煎。</p>
<p><u>黃連解毒湯</u>　治經血暴下。</p>
<p>黃連　黃柏　黃芩　山梔　等分。每粗末五錢。水煎。</p>
<p><u>升陽舉經湯</u>　治經水不調。右尺按之空虛。輕手數疾。舉指弦緊或澀。</p>
<p>柴胡根　當歸根　白朮　黃耆（各三錢）　羌活根　防風根　藁本（各二錢）　紅花　白芍（各五分）　獨活根　細辛（各六分）　桃仁（去皮尖十枚）　川芎　熟地　人參　炮附子　甘草梢（各一錢）　肉桂心（秋冬五分夏不用）</p>
<p>每㕮咀二錢。空心水煎。稍熱服。諸藥言根者。近根處去苗便是。</p>
<p><u>補氣固經丸</u>　治經病由氣虛。</p>
<p>人參　炙草　茯苓　白朮　黃耆　砂仁</p>
<p><u>姜棕散</u>　治虛寒經病。</p>
<p>棕炭（一兩）　炮姜（五錢）</p>
<p>為末。酒煎。烏梅湯下。若初血崩尚有火。宜槐子灰。用醋湯下。</p>
<p><u>龜板丸</u>　治經水來而過多不止。</p>
<p>龜板（醋炙）　條芩　白芍　椿根皮（各一兩）　黃柏（蜜炙三錢）</p>
<p>蜜丸。淡醋湯下。</p>
<p><u>芩心丸</u>　治年老月行不止。</p>
<p>芩心（二兩）　醋浸七日炙乾。又浸炙七次。醋糊丸酒下。</p>
<p><u>琥珀丸</u>　治同上。</p>
<p>黃芩（炒黑）　便香附（二兩）　當歸　川芎（各一兩）　三稜　琥珀（各五錢）</p>
<p>黃米飯丸。空心服。</p>
<p><u>柴胡抑肝湯</u>　治寡居獨陰。寒熱似瘧等症。女人陰病。</p>
<p>柴胡（二錢半）　赤芍　丹皮（各一錢半）　青皮（二錢）　連翹　生地（各五分）　地骨皮　香附　蒼朮　山梔（各一錢）　川芎（七分）　神麯（八分）　甘草（三分）</p>
<p><u>山梔湯</u>　治脾病。</p>
<p>山梔　木通（各錢半）　黃芩（一錢）　白朮　陳皮（各二錢）　甘草（三分）</p>
<p><u>半夏木通湯</u>　治氣痛。</p>
<p>白朮　茯苓　木通　半夏　甘草</p>
<p><u>黃連白朮湯</u>　治月經來止。多少不勻。</p>
<p>白朮（四錢）　黃連　陳皮（各二錢半）　丹皮（二錢）　木通　茯苓　山萸　人參（各錢半）　炙草（三分）</p>
<p><u>蒼莎丸</u>　調中散郁。</p>
<p>蒼朮　香附（各四兩）　黃芩（二兩）　蒸餅丸。薑湯下。</p>
<p><u>失笑散</u>　治經水時行時止。心痛。</p>
<p>蒲黃　五靈脂　等分　每末二錢。醋調膏。水沖服。</p>
<p><u>加味四物湯</u>　治血分有熱。</p>
<p>四物加柴胡　丹皮　山梔</p>
<p><u>抱膽丸</u>　治室女經將行。驚邪蘊結。並治男女一切驚恐風狂神效。</p>
<p>黑鉛（兩半）　水銀（二兩）　硃砂　乳香（各一兩）</p>
<p>先溶鉛化。入水銀。候結砂子。再下朱乳末。柳枝錘研勻。丸芡子大。每一丸。空心井水下。病者得睡。莫驚動。醒即安。二服除根。</p>
<p><u>雄砂丸</u>　治蟲症經閉腹痛。</p>
<p>鶴蝨　蕪荑　乾漆　殭蠶（各三錢）　榴皮　貫仲（各五錢）　硃砂　雄黃　雷丸　甘遂（各錢半）　米粉糊丸。麻子大。每十丸。五更時粥飲下。一方。加麝香少許尤妙。</p>
<p><u>紫葳散</u>　治經不來。發熱腹脹。</p>
<p>紫葳　肉桂　赤芍　白芷　延胡索　當歸　劉寄奴　丹皮　等分　紅花（少許）　酒一水二煎。</p>
<p><u>玉燭散</u>　治二便閉塞。月事不行。</p>
<p>四物湯加芒硝　大黃　甘草　姜（三片）</p>
<p><u>萬病丸</u>　治經不行。繞臍痛。</p>
<p>乾漆　酒浸牛膝（焙，各一兩）</p>
<p>以生地汁一升。入末。熬至可丸。每二十丸。空心米飲下。一名萬痛丸。</p>
<p><u>土瓜根散</u>　治帶下經水不利。小腹滿痛。經一月再至者。</p>
<p>土瓜根　白芍　桂枝　䗪蟲（各七錢半）　每末方寸匕。酒下。日三服。</p>
<p><u>溫經湯</u>　治血海虛寒。月水不調。</p>
<p>川芎　當歸　白芍　莪朮（各錢半）　人參　牛膝（各二錢）　桂心　丹皮（各一錢）　甘草（五分）</p>
<p><u>菖蒲飲</u>　治驚恐而致經病。</p>
<p>人參　菖蒲（各一錢）　茯神　遠志（各錢半）　麥冬　山藥（各二錢）　真珠　琥珀（各三分）　金箔（一片）　膽星（五分）　牛黃（二分）　麝香（五釐）　天竺黃　雄黃　硃砂（各二分）</p>
<p>為末。薄荷薑湯下。</p>
<p><u>紅花湯</u>　治經行過期。及不月。</p>
<p>紅花　琥珀　白芍　麝香　沒藥　當歸　桂枝　桃仁　蘇木</p>
<p><u>調經琥珀湯</u>　治不月。</p>
<p>三稜　蓬朮　白芍　劉寄奴　當歸　熟地　官桂　甘菊　延胡索　蒲黃</p>
<p>痛甚。加炮薑、紅花、桃仁、牛膝、蘇木、香附。</p>
<p><u>星芎丸</u>　治痰滯經病。</p>
<p>南星（四兩）　便香附（四兩）　川芎　蒼朮（各三兩）</p>
<p><u>紅花散</u>　治血氣。</p>
<p>當歸（一兩）　沒藥　紅花　官桂　赤芍　蘇術　青皮（各二錢半）</p>
<p><u>蓬朮散</u>　治血氣遊走。</p>
<p>蓬朮　乾漆　胡桃　共末。酒下。</p>
<p><u>茄子散</u>　治血黃。</p>
<p>黃茄子陰乾為末。酒下。</p>
<p><u>絲瓜散</u>　治血氣不行。</p>
<p>乾絲瓜燒存性。研末酒下。</p>
<p><u>丹參散</u>　治月候不準。</p>
<p>丹參曬為末。酒下。</p>
<p><u>交加地黃丸</u>　治月不調。血塊。氣痞肚腹痛。</p>
<p>生地（搗汁存渣）　老薑（搗汁存渣各一斤）　延胡索　當歸　川芎　白芍（各二兩）　沒藥　木香（各一兩）　桃仁　人參（各五錢）　香附（半斤）</p>
<p>共為末。先以薑汁浸地黃渣。地黃汁浸姜渣。曬乾汁盡。共十一味。作一處曬乾。研細。醋糊丸。空心薑湯下。</p>
<p><u>桂枝桃仁湯</u>　治經前腹痛不可忍。</p>
<p>桂枝　白芍　生地（各二兩）　桃仁（四十枚）　甘草（一兩）</p>
<p>每咀片五錢。加姜三片。棗二枚。煎服。</p>
<p><u>延胡索湯</u>　治婦人室女。七情傷感。致血與氣並。心腹作痛。或連腰脅。或引背膂。上下攻刺。甚作搐搦。經候不調。但是一切血氣疼痛。並可服之。</p>
<p>延胡索　酒當歸　赤芍　炒蒲黃　官桂（忌火，各五錢）　薑汁炒黃連　木香忌火　乳香　沒藥（各三錢）　炙草（二錢半）</p>
<p>每咀片四錢。加姜五片煎。食前服。如吐逆。加半夏、橘紅各五錢。</p>
<p><u>三和湯</u>　治熱結血閉。</p>
<p>生地　白芍　川芎　當歸　連翹　大黃　朴硝　薄荷　黃芩　山梔　甘草（各七分）</p>
<p>此方乃集四物涼膈調胃承氣三方為一方。</p>
<p><u>通經湯</u>　治月閉。</p>
<p>四物湯加大黃　官桂　厚朴　枳殼　枳實　黃芩　紅花　蘇木（各七分）　烏梅一　姜三　棗二</p>
<p><u>通經丸</u>　治月候不調。致成血痢。</p>
<p>桂心　炮大黃　青皮　炮姜　川椒（炒出汗）　炮川烏　莪朮　乾漆　酒當歸　炒桃仁（各一錢）　雞子清丸。每二十丸。淡醋湯下。加至三十丸。</p>
<p><u>調經散</u>　又名溫經湯。治月不調。</p>
<p>麥冬（二錢）　當歸（錢半）　人參　半夏　川芎　白芍　丹皮（各一錢）　阿膠　炙草（各七分半）　吳萸　肉桂（各五分）　姜三</p>
<p><u>四制香附丸</u>　能調和經脈。</p>
<p>香附米一斤。分四制。一鹽水薑汁煮。略炒。主降痰。一醋煮。略炒。主補血。一山梔四兩同炒。去梔。主散郁。一童便洗。不炒。主降火。川芎　當歸（各二兩）</p>
<p>麵糊丸。每五七十丸。隨症作湯下。氣虛。加四君子湯。血虛。加四物湯。</p>
<p><u>七制香附丸</u>　治月事不調。結成癥瘕。或骨蒸發熱。</p>
<p>香附米足十四兩。勻七分。一同當歸二兩。酒浸。一同蓬朮二兩。童便浸。一同丹皮、艾葉各一兩。米泔浸。一同烏藥二兩。米泔浸。一同川芎、延胡各一兩。水浸。一同三稜、柴胡各一兩。醋浸。一同紅花、烏梅各一兩。鹽水浸。</p>
<p>各浸春五夏三。秋七冬十日。曬乾。只取香附為末。以浸藥汁打糊為丸。臨臥。酒下八十丸。</p>
<p><u>導經丸</u>　治經閉不通。腰腹痛。</p>
<p>大黃（二兩）　川芎　當歸　白芍　官桂　桃仁　甘草（各一兩）　血竭（二錢半）　紅花（一錢）　斑蝥糯米同炒二十個　蜜丸。酒下。</p>
<p><u>琥珀調經丸</u>　治婦人胞冷無子。能令經調。</p>
<p>香附（一斤分各半童便醋各浸九日和淨熟艾四兩再加醋五碗砂鍋內炒乾）　琥珀（一兩）　川芎　當歸　熟地　白芍　生地　沒藥（各二錢）　醋糊丸。每百丸。空心艾醋湯下。</p>
<p><u>當歸散</u>　治婦人久積㽲痛。小便刺痛。四肢無力。</p>
<p>當歸　酒赤芍　劉寄奴　枳殼　延胡索　沒藥　等分。每末二錢。熱酒調下。不拘時。</p>
<p><u>柏子仁丸</u>　治血虛有火。月經耗損。漸至不通。日漸贏瘦而生潮熱。兼治室女思慮成癆。經閉。切毋以毒藥通之。宜此。兼服澤蘭湯。</p>
<p>柏子仁（炒另研）　牛膝　卷柏　澤蘭　川斷（各二兩）　熟地（三兩）　搗泥加蜜丸。</p>
<p><u>澤蘭湯</u>　治同上。</p>
<p>澤蘭（三兩）　酒當歸　白芍（各一兩）　甘草（五錢）　每咀片五錢煎。</p>
<p><u>單大黃膏</u>　治婦人乾血氣。</p>
<p>大黃四兩為末。</p>
<p>醋熬膏。成丸芡子大。每一丸。酒化。臨臥。溫服。大便一二行。紅脈自下。是調經之仙藥也。一方。加歸頭。一方。加香附二兩。童便浸炒為末。入膏。丸桐子大。酒下四十丸。</p>
<p><u>抑陰地黃丸</u>　治寡婦癆瘵。</p>
<p>生地（二兩）　赤芍（一兩）　柴胡　黃芩　秦艽（各五錢）</p>
<p>蜜丸烏梅湯下。</p>
<p><u>芎歸湯</u>　亦治妊娠先患冷氣。忽中心腹痛如刀刺。</p>
<p>人參　川芎　吳萸　茯苓　酒當歸　桔梗（各三兩）　厚朴　白芍（各二兩）</p>
<p>水煎。分三服。</p>
<p><u>和胃飲</u>　兼治孕婦胃寒氣實。胎氣上逼者。</p>
<p>厚朴　陳皮（各錢半）　炮姜（一二錢）　炙草（一錢）</p>
<p><u>理陰煎</u>　治婦人臟寒忽嘔。胎氣不安。亦治產後脾氣虛寒。嘔吐食少腹痛。又治產後陽虛中寒。或外感寒邪。以致心腹痛嘔吐厥逆。</p>
<p>熟地（三五七錢或一二兩）　炙草（一二兩）　當歸（二三錢或五七錢）　乾薑（炒黃一二錢）</p>
<p>煎。熱服。或加桂。</p>
<p><u>保陰煎</u>　兼治胎氣熱而不安。亦治產婦淋瀝不止。</p>
<p>生地　熟地　白芍（各二錢）　山藥　川斷　黃芩　黃柏　生草（各一錢）</p>
<p>食遠。溫服。</p>
<p><u>決津煎</u>　兼治產後。及胎氣已動。勢有難留。</p>
<p>當歸（三五錢或一兩）　澤蘭（錢半）　牛膝（二錢）　肉桂（一二錢）　烏藥（一錢）　熟地（二三錢或五七錢）　如氣血虛弱。不用烏藥。</p>
<p><u>驗胎法</u>　驗胎之有無。</p>
<p>川芎（二三錢。炒為末。）</p>
<p>艾湯下。停一二時。小腹內微動者胎也。如不動。再一服。又不動。則非胎矣。</p>

<h1>卷二</h1>

<h2>胎前</h2>
<p>凡有胎者。貴衝任脈旺。元氣充足。則飲食如常。身體壯健。色澤不衰。而無病患相侵。血氣充實。可保十月滿足。分娩無虞。母子堅牢。何疾之有。若血氣不充。衝任脈虛。則經水愆期。豈能受孕。縱得孕而胞門子戶虛寒。亦受胎不實。或衝任脈虛而協熱。輕則胎動不安。重則三五七月即墮。更加外感六淫。內傷七情。或飲食傷脾胃。或淫欲損真元。皆致疾之由也。故凡有胎者。以安為要。佐以養血順氣。蓋血有餘。則子得血而易長。故四物湯為要劑。若氣得順。則中氣舒轉。飲食加飧。母氣旺子氣亦旺。故須砂仁、香附以順氣。然血虛者。四物加香、砂。氣虛者。即以四君加香、砂。古人治胎前。每將人參、砂仁同用。取其一補一順。補則氣旺而無墮胎之患。順則氣血通和而無難產之憂。良要法也。今舉胎前之症而縷述之。妊娠三月以來。心虛煩悶。名曰惡阻。宜人參橘皮湯、人參木瓜湯。亦有體困肢懶。或眩暈嗜臥。噁心嘔吐。漿粥不入。甚至惡寒發熱者。宜丁術湯。或體肥惡阻。痰必盛。宜二陳湯加減。體瘦惡阻。火必多。宜二陳湯加山梔、連翹。總之。惡阻一症。古人以形病而脈不病別之。余則謂惡阻者。無不喜食酸物。不若以嗜酸別之為更明切。亦有平日氣血調和。臟腑榮暢。不患惡阻。雖患亦甚輕甚暫者。又不可不知。妊娠三四月間。忽然失音不語。名曰子喑。此非藥可愈。待產子自愈。以胎氣上侵肺系及喉。雖喑而不為病也。妊娠四五月來。本君相二火養胎。平素有火。而胎熱氣逆。胎上湊心不安。胸膈脹滿。名曰子懸。宜子懸湯、紫蘇飲。妊娠五六月。乃少陰君火以養精。六七月。乃少陽相火以養氣。平素有火之人。內外之火相感。而作煩躁悶亂不安者。名曰子煩。宜安神丸。妊娠五六月以來。浮腫如水氣者。名曰子腫。俗呼琉璃胎。宜防己湯。若面目腫如水。氣喘而短虛也。宜白朮散。亦有胎前浮腫。專由脾虛者。宜芍艾湯。妊娠五六月間。腹大異常。胸膈脹滿。名曰胎水。此胞中蓄水也。若不早治。生子手足必然軟短。形體殘疾。或水下即死。宜鯉魚湯。妊娠七八月。忽然卒倒僵仆。不省人事。頃刻即醒。名曰兒暈。宜葛根湯。亦有因氣血兩虛而卒暈者。宜八珍湯。妊娠七八月以來。胎氣漸粗。兩足浮腫。頭目不腫者。亦名子腫。與五六月間之腫各異。又名皺腳。宜健脾補氣。宜平胃散。若兩足腫。足趾間出黃水。乃水氣腫滿之故。宜天仙藤散。妊娠八九月。小便不通。蓋因氣弱不能舉胎。胎壅膀胱。水不能出。名曰轉胞。忌服利水之品。宜人參升麻湯。妊娠將臨月。兩目失明。不見燈火。頭痛眩暈。腮頷腫。不能轉側。此肝經熱毒上攻。由過食炙煿火酒辛辣等物。名曰胎熱。宜消風散、天門冬飲。妊娠有三四月而墮者。有六七月而墮者。有屢孕屢墮者。由於氣血不充。名曰滑胎。宜固胎丸。以上皆按月可稽者也。其有妊娠經血不時而來者。名曰漏胎。當察其脈之何虛以治之。或氣虛。宜四君子湯加黃芩、阿膠。或血虛。宜四物湯加芩、連、白朮、益母草。皆不可混。妊娠因酒色過度。內傷胞門。或飲食積熱。以至水道秘塞。小便淋瀝而痛者。名曰子淋。宜安榮散。亦有兼內熱而淋者。宜五苓散。妊娠瘧疾。名曰子瘧。或熱多寒少。宜清脾飲去半夏。或寒多熱少。宜人參養胃湯去半夏。或元氣虛弱。宜勝金丹。皆當分別。妊娠心痛。非心痛也。乃胎氣上升所致。亦名子懸。與四五月之子懸不同。須安胎養血。佐以順氣。而又有客熱犯胃而痛者。宜二陳湯去半夏加二朮、黃芩。又有客寒犯胃而痛者。宜火龍散。妊娠咳嗽。名曰子嗽。此胎氣為病。產後自愈。不必服藥。然或因外感風寒。宜桔梗散。或因火盛乘金。宜兜鈴散、百合散。是又不可不治者。妊娠中風。頭項強直。筋攣語澀。痰涎壅甚。昏不知人。名曰子癇。宜羚羊角散。妊娠不守禁忌。縱恣口腹。過食生冷瓜果。及當風取涼。以致胎冷不安。胸腹脹痛。腸中虛鳴。四肢拘急。便泄欲絕。名曰胎寒。宜安胎和氣飲。妊娠初時。即常患腹痛者。此由血熱之故。名曰痛胎。一時不易愈。只宜時服涼血藥稍解之。宜梔芩湯。以上皆妊娠病之有名可舉者也。此外如妊娠傷寒。其六經治例。與常人同。但專以清熱安胎為主。或汗或下。俱當隨其五臟表裡所見脈症主治。切勿犯胎氣。故萬密齋治妊娠傷寒。在表發汗。用香蘇散。和解半表裡。用黃龍湯。在裡宜下。用三黃解毒湯。自謂家傳之秘。活人甚多。良有然也。如或妊婦稟受素弱。偏患傷寒。藥中必佐以四物。庶可無誤。半夏犯胎。最易取用。以古方用之者多。須留心檢點。宜羌活湯及萬氏所用三方。病甚。再須護胎。宜護胎法。妊娠痢疾。若初起腹痛。裡急後重。元氣尚實者。攻之。宜香連化滯湯。痢久元虛。日夜無度者。補之。宜胃風湯。熱下迫痛。裡急者解之。宜黃芩芍藥湯。其餘赤白膿血。一切等症。皆臨時酌治。總之胎前雜症雖多。惟傷寒痢疾。最為惡候。不可不慮。妊娠有泄瀉不渴。小便清白者。宜三白散加砂仁、厚朴、蒼朮、甘草。有泄瀉腸垢。煩渴內熱。小便赤澀者。宜黃芩湯加白朮、通草、茯苓。腹痛加砂仁、黃連。有泄瀉喜飲嘔逆。水穀不化。為協熱下利者。宜黃連阿膠丸。有泄瀉或青或白。水穀不化。腹痛腸鳴。為洞泄者。宜五苓散。次用黃連阿膠丸。有泄瀉黃水有沫。腸鳴腹痛。脈沉緊數者。宜戊己丸。其餘如傷脾傷胃風冷暑濕等傷而致泄瀉者。皆隨症調治。妊娠二便不通。臟腑積熱也。大腸熱則大便不通。宜四物湯加枳殼、黃芩。亦或由大腸氣滯者。宜紫蘇飲加杏仁、黃芩。小腸熱則小便不通。宜冬葵子湯。大小腸俱熱則二便不通。他如胃虛。宜六君子湯加紫蘇、杏仁。氣血虛。宜朝用八珍湯加桃仁。杏仁。晚用加味逍遙散加車前子。心肝虛熱。宜加味逍遙散加車前子。肝脾積熱。宜龍膽瀉肝湯。鬱怒傷肝。宜加味歸脾湯、加味逍遙散。皆能致二便之不通。妊娠有怔忡脈亂。驚悸不安。夜臥不寧。恍惚氣觸者。宜大聖湯。有血少神虛而心不寧者。宜益榮湯。有虛而心不定者。宜定志丸。有火盛者。宜安神丸。妊娠冒暑。或煩渴悶亂而不安。宜香茹飲。煩熱甚而多飲。宜香茹飲加麥冬、黃芩、花粉、五味、山梔。妊娠傷食。胸滿脅痛。右關緊甚。宜於消導。如傷冷物而胸膈劣悶欲吐者。脈必遲。宜丁香散。如嘔。加姜。妊娠瘛瘲。肝風心火相熾也。宜鉤藤湯。妊娠霍亂。或邪在上胃脘。則當心痛而吐多。邪在下胃脘。則當臍痛而利多。邪在中脘。則腹中痛而吐利俱多。吐多傷氣。利多傷血。邪擊胎元。母命易殞。氣血傷而無以養胎。子命易傾。此急症也。當急治。宜香蘇散。如轉筋加木瓜。胎動加白朮。夏加黃芩。冬加參、術。妊娠遺尿。或脬中蘊熱。宜加味逍遙散。或肝腎氣虛。宜六味丸。或脾肺氣虛。宜補中益氣湯加益智仁，或肝火血虛。宜六味丸合加味逍遙散。其因不一。妊娠尿血。乃勞傷經絡。熱邪乘之。侵及於血。血得熱則流滲入於脬故也。宜加味逍遙散、六味丸、續斷湯。妊娠臟躁。即仲景云。婦人臟躁。悲傷欲哭。象如神靈。數欠伸是也。推其故。或由肺有風邪。或由寒水攻心。故無故而但欲自悲耳。宜甘麥大棗湯。妊娠腹中兒哭。蓋臍帶上疙瘩。兒含口中。因登高舉臂。脫出兒口。以故作有哭聲。只令妊婦曲腰就地如拾物。則疙瘩仍入兒口。哭自止。或再服藥。宜補遺方。其妊婦有腹內鐘鳴聲者。亦同法。妊娠胎不長。必其宿有風冷。故致胎痿。或將理失宜。臟腑衰損。氣血虛弱。故不能長大。或傷動胎氣。又兼衝任素虧。無血養胎。俱當益氣養血。或兼治疾疢。宜長胎白朮丸、人參丸。或脾氣不足。面黃晡熱而胎不長。宜八珍湯倍參、朮、茯苓。或肝脾鬱怒。脅痛嘔吐。寒熱往來。而胎不長。宜六君子湯加柴胡、山梔、枳殼、紫蘇、桔梗。皆當究悉其因。妊娠心痛。風邪痰飲交結。傷心支絡。故乍安乍作而痛。宜火龍散。亦或肝脾氣滯。胸脅脹。吞酸不食而痛。宜二陳湯加山楂、山梔、青皮、木香。妊娠腹痛。須辨寒熱虛實。寒者脈遲。宜理中湯。熱者脈數。宜芩芍湯。虛者脈無力。乃血少不能養胎。宜四君子湯加歸、芍。實者脈有力。宜香殼丸。便秘者脈兼實。宜香殼丸加芩、芍、厚朴。又有腹中不時作痛。或小腹重墜者。名曰胎痛。宜地黃當歸湯。其心腹俱痛者。或有冷積。或新觸風寒。邪正相擊而並於氣。隨氣上下。上衝心則心痛。下攻腹則腹痛。上下混攻。則心腹俱痛。若不時差。其痛衝擊胎絡。必致動胎。可不懼哉。宜當歸芍藥湯。有時腹但脹痛。抑猶輕已。宜桑皮湯加姜。至如娠將屆期。腹脅脹滿。心胸刺痛。宜壯氣四物湯。娠已月倍。臨期三日前。心腹脅肋疼痛。宜安胎四物飲。皆不可不藥。妊娠小腹痛。大概由胞絡虛。風寒相搏之故。宜紫蘇飲。雖或致病多端。而均以川芎為末酒調服。或芎、歸等分煎服。無不解。不然痛甚。亦能動胎也。妊娠腰痛。最為緊要。蓋以胞胎繫於腰。故腰疼酸急。胞欲脫腎。必將產也。即不然。或因勞傷損動其經。宜小品苧根湯。或因冷氣襲腹。痛引於腰背。宜五加皮散。或因挫閃氣滯。宜通氣散。或因腎元虛損。宜青娥丸。或因怒動肝火，宜小柴胡湯加白朮、枳殼、山梔。或因肝脾氣鬱。宜歸脾湯加柴胡、枳殼。或膀胱風邪乘襲。宜拔萃羌活湯。或因血熱血滯。宜四物湯加乳、沒、木香、黃柏、火麻仁。雖由來不同。若其痛不止。多動胎氣。大抵治法。總以固胎為主。通用千金保孕方。妊娠胎動不安。其由於本然者。衝任經虛。受胎不實也。宜常服安胎散。其餘則皆外之所致。如素有內熱。以致內火旺盛。故不安也。宜安胎丸。如多勞乏。氣血虛不能榮養。故不安也。宜四物湯加通氣藥。如飲酒房勞過度。或損動。故不安也。宜安胎散。如誤觸擊。或因跌撲。腰腹疼痛。胎上搶心。去血腹痛。故不安也。宜阿膠耆艾丸。如從高墜墮。或為重物所壓。觸動胎氣。腹痛下血。胃虛嘔逆。此等之症。皆能傷胎。故不安也。宜佛手散、從高墜下方。如忽有喜怒。氣宇不舒。傷於心肝。觸動血脈。故不安也。宜鉤藤湯。如平日膏粱奉養太過。氣不運動。或身肥累墜。故不安也。宜瘦胎散。妊娠誤服毒藥毒物。故不安也。宜黑豆湯。或白扁豆子去皮研末米飲下。如因母病。薰灼其胎。故不安也。宜十聖散。如遇內外熱病。火熱侵胎。故不安也。宜伏龍散、護胎方。如舌青黑。腹冷指甲青。脹悶甚。口中糜臭。此胎死腹中。不但不安矣。宜平胃散加朴硝。酒下。或鹿角膠酒化服。使胎化為水。以上皆胎前病之時有。不可不加意者。總之婦人月事。一月不通。六脈平和。或見吞酸惡食。或見微寒微熱。懶於舉動。胎也。若六脈中見有病脈。便非。若知已有胎。而噁心嘔吐。不思食。惟宜養血安胎。理氣健脾。此為要著。宜受娠和中湯。倘或胎不安。腰腹痛。食不甘。必當安之。宜安胎飲。蓋胎之所以不安者。除一切外因。總由氣血虛。不能榮養胎元所致。故必用參補氣。當歸補血。亦或因內多邪熱。氣血沸騰。胎不寧養。故用黃芩以涼之。又胎繫於脾。脾虛蒂無所附。以至墮落。故用白朮、炙草以培之。至於陳皮、香附、蘇梗以理氣。砂仁開胃理中。杜仲治腰痛。白芍和腹痛。內熱口渴則去砂仁而加麥冬。見紅則加生地、地榆。皆妊娠概治之法也。間有所謂鬼胎者。營衛虛損七情相干。妖魑精鬼。得入於臟。竟似懷胎。其狀卻顢頇如抱一甕。或寒熱面黃。或少食體倦。大約患此症者。肝脾必致兩傷。治法總以補元氣為主。而佐以行散之藥。如雄黃丸、芫花散之類。至於保生易產之法。尤不可不講。蓋以生不可催。只可調和氣血。產乃無虞。八九月後。便當服保產達生散。或至九月。服便產方一劑。臨產再服一劑。自無產難之憂。吾邑秦氏。世傳妊娠逐月養胎方。尤為大妙。誠屬百用百效。凡服此者。從未見有產厄。真寶方也。</p>
<p><u>脈法</u>　仲景曰。寸口脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。寒虛相搏。此名為革。婦人則半產漏下。旋覆花湯主之。王叔和曰。尺中不絕。胎脈方真。太陰洪而女孕。太陽大而男娠。或遇俱洪而常雙產。此法推之。其驗如神。月數斷之。各依其部。假令中衝若動。此乃將及九旬。孫思邈曰。左尺浮大者男。右尺沉細者女。若來而斷絕者。月水不利。陳自明曰。寸微關滑尺帶數。流利往來並雀啄。小兒之脈已見形。數月懷胎猶未覺。左疾為男右為女。流利相通速來去。兩手關脈大相應。胎已成形非漫語。左脈帶縱兩個男。右手帶橫一雙女。左手脈逆生三男。右手脈順還三女。寸關尺部皆相應。一男一女分形症。有時子死母身存。或即母亡存子命。往來三部通流利。滑數相參皆替替。陰實陽虛脈得明。遍滿胸堂皆逆氣。左手太陽浮大男。右手太陰沉細女。諸陽為男諸陰女。指下分明常記取。三部沉正等無疑。尺內不止真胎婦。夫乘妻兮縱氣霧。妻乘夫兮橫氣助。子乘母兮逆氣參。母乘子兮順氣護。小兒日足胎成聚。身熱脈亂無所苦。汗出不食吐逆時。精神結備其中住。滑疾不散三月胎。但疾不散五月母。弦緊牢強滑利安。沉細而微歸泉路。</p>
<p><u>惡阻</u>　竇漢卿曰。惡阻心下憒悶。吐逆不食。惡聞食氣。頭眩。四肢百節煩疼。多臥少起。旋覆半夏湯。病醋心。胸中冷。腹痛吐逆。不喜飲。人參半夏湯。胃虛氣逆。嘔吐不食。縮砂散。戴思恭曰。惡阻俗謂之病兒。蓋其人宿有痰飲。血壅遏而不行。故飲隨氣上。停滯肝經。肝之味酸。則必喜酸物。金能剋木。以辛勝之。小半夏茯苓湯。甚者二陳湯。有服熱藥攻膈。悶熱成疾。宜荷葉散。李梴曰。或大吐。或時吐清水。惡聞食臭。由子宮經絡絡於胃口。故逢食氣。引動精氣衝上。必食吐盡而後精氣乃安。亦有誤交合而子宮穢甚者。過百日則愈。</p>
<p><u>胎動不安</u>　陳自明曰。妊娠將養如法。則氣血調和。胎得其所。而產亦易。否則胎動氣逆。臨產亦難。至危矣。此謂胎氣上逼也。又曰。有驚胎者。懷妊將滿。胎神已具。墜撲傷胎。甚至下血不省。若欲驗其子母安否。當參胎動不安方論治之。若鉤藤湯、紫蘇飲、歸脾湯、佛手散。隨症選用。又曰。胎動不安。重者必致傷墜。若面赤舌青。是兒死也。面青舌赤。是母死也。唇口色青。兩邊沫出。子母俱死也。當察而治之。嚴用和曰。兩三月胎動。由子宮久虛。易令墮胎。宜預服杜仲丸以養胎。若胎動腹痛。易變漏胎。宜如聖湯。又曰心神忡悸。睡中多驚。兩脅膨脹。腹滿連臍急痛。坐臥不寧。氣急逼迫。皆由氣悶。或為喧呼。至令胎驚。筋骨傷痛。四肢不安。急服大聖散。朱震亨曰。產婦因火動胎。逆上作喘急者。急用條芩、香附之類為末服之。又曰。漏胎屬氣虛有熱。四物加阿膠、白朮、條芩、香附、砂仁、糯米。李梴曰。胎動因七情氣逆。心腹脹滿疼痛。紫蘇飲。因外感發熱。頭痛嘔逆。胸脅脹滿。安胎飲加柴胡、大腹皮。氣血虛。安胎飲倍參、術。下血者。膠艾芎歸湯加砂仁、秦艽、卷柏、杜仲。下血腹痛難忍。或下黃汁如漆如豆汁者。用野苧根金銀花根各五錢酒煎。下血產門痛。黃連末一錢酒下。胎動腹痛。由於寒。理中湯加砂仁、香附。由於熱。黃芩湯。血虛腹痛。四物湯。或平胃散加鹽煎湯吞二宜丸。氣虛痛。四君子湯加白芍、當歸。氣實心腹脹痛。香附、枳殼等分為末白湯下。胎動心痛。因寒。艾葉、小茴、川楝等分煎。因熱。二陳去半夏加山梔、黃芩。又曰。胎動。通用古芩術湯加阿膠。風邪加姜豉。寒加蔥白。熱加花粉。寒熱加柴胡。項強加蔥白。溫熱腹痛加白芍。腹脹加厚朴。下血加艾、地榆。腰痛加杜仲。驚悸加黃連。煩渴加麥冬、烏梅。思慮太過加茯神。痰嘔加旋覆花、貝母。或酌用半夏曲。勞役加黃耆。氣喘去朮加香附。便燥加麻仁。素慣難產加枳殼、蘇葉。素慣墮胎加杜仲。素血虛加芎、歸。此安胎之聖藥也。凡卒有所下。急則一日三五服。緩則五日十日一服。常服安胎易產。所生男女。又無胎毒。</p>
<p><u>胎漏</u>　李梴曰。心腹痛而下血者。為胎動不安。不痛而下血者。為胎漏。二者所由分也。大抵漏胎由熱者。下血必多。內熱作渴者。四物加芩、連、白朮、益母草。血黑成片。三補丸加香附、白芍。血虛來少。古膠艾湯。或合四物湯。氣虛。四君子湯加黃芩、阿膠。因勞役感寒。致氣虛下血欲墜。芎歸補中湯。或下血如月信。以致胞乾子母俱損者。用熟地炒乾姜各二錢為末米飲服。惟犯房下血者。乃真漏胎也。八物湯加膠艾救之。</p>
<p><u>妊娠傷寒</u>　朱肱曰。妊婦傷寒。仲景無治法。用藥宜有避忌。不可與尋常婦人一概治。傷寒安胎。宜阿膠散、白朮散。憎寒壯熱。當發汗。蔥白湯。或中時行。灑淅作寒。振慄而悸。或加噦。蘇術湯。頭痛。嘿嘿不欲飲食。脅下痛嘔逆。痰氣。黃龍湯。頭目旋疼。壯熱心躁。旋覆花湯。壯熱頭疼。嘔逆不思飲食。胎不安。麥門冬湯。妊婦發斑變黑色。梔子大青湯。壯熱頭疼。心煩嘔吐。不下食。蘆根湯。傷寒頭疼壯熱。梔子五物湯。頭疼肢節疼。壯熱。前胡七物湯。四日至六日以來。加心腹脹。上氣渴不止。食飲不多。腰疼體重。枳實散。妊七月傷寒壯熱。赤斑變黑溺血。升麻六物湯。發熱煩悶。葛根一物湯。熱病。蔥白豉湯。傷暑頭痛惡寒。身熱躁悶。四肢疼痛。背項拘急。唇口乾燥。柴胡石膏湯。萬全曰。妊娠傷寒。專以清熱安胎為主。或汗或下。各隨臟腑表裡所見脈症主治。勿犯胎氣。故在表發汗。香蘇散。和解半表裡。黃龍湯。在裡宜下。三黃解毒湯。此吾家傳之秘。活人甚多。陳士鐸曰。妊娠臨月。忽感少陰經風邪。惡寒蜷臥手足冷者。不治。少陰腎也。無論傳經至少陰。與直中少陰。多不能治。蓋少陰腎經。宜溫不宜寒。今風寒入之。則命門火微。而腎宮無非寒氣。勢必子宮亦寒。手足冷者。脾胃寒極之兆也。其死必矣。幸而胎未下。急以散寒救胎湯溫之。人參一兩。白朮二兩。肉桂、乾薑、炙草各一錢。一劑。不惡寒二劑。手足溫不蜷臥。三劑全愈。又妊娠臨月。感少陰經症。噁心腹痛手足厥逆者。不治。亦以寒入腎宮。上侵於心。不獨下侵於腹已也。較上症更重。夫腎水滋心。何以反至克心。蓋腎之真水。心藉以養。腎之邪水。心得之亡。今腎感寒邪。挾腎水而上凌於心。故心腹兩相作痛。手足一齊厥逆。至急至危。非驅少陰之邪不可。方用回陽救產湯。人參、當歸各一兩。肉桂、乾薑、甘草各一錢。白朮五錢。此方妙在加當歸。蓋少陰之邪敢上侵於心者。欺心中之無血也。用當歸補血。助人參之力以援心。則心中得養。而薑、桂無非祛寒蕩邪之品。況又有術草之利腰臍而調心腹。有不痛止逆除者乎。又妊婦臨月。忽感少陰症者。急以參朮大劑溫之。不應則死。此仲景之文也。似乎舍參朮無可救矣。吾以為單用參朮尚非萬全。苟用參朮不應。急加附桂乾薑。無不應也。今定一方。名全生救難湯。人參、白朮各一兩。附子一錢。甘草五分。凡感少陰經之邪者。用此神效。</p>
<p><u>孕癰</u>　陳自明曰。治孕癰。用烏藥五錢水一鍾。煎七分。入牛皮膠一兩化服。或苡仁煮汁飲之。注曰。孕癰即是腹內患癰。如前法不應。宜牡丹皮散、薏苡仁湯。王肯堂曰。大凡孕婦患肚癰。與尋常治法迥異。內用紫蘇飲安胎。勿輕與他藥。若臨月則兒與膿俱下。若尚遠。則膿自大便出。若初起。只服藥可消。若癰在外而其症為熱。只可用中和藥收功。亦須審輕重用之。恐有誤而難救也。萬全曰。妊娠咽喉痛者。以東垣涼膈散加牛蒡子一錢。口舌生瘡同治。乳癰。托裡解毒湯。背生瘡毒。屬陽明經也。本方去青皮。加升麻、葛根各一錢。胸前兩頰生瘡毒。此少陽經也。本方去白芷。加柴胡、山梔、龍膽草。肩膊脅下生瘡毒。太陰經也。本方去青皮。加陳皮、天冬、桔梗、桑皮各一錢。胯內陰旁生瘡毒。厥陰經也。本方去白芷。倍青皮。手足掌內生瘡毒。少陰經也。本方去白芷、青皮、花粉。加黃連、黃柏、木通各一錢。</p>
<p><u>產前白帶</u>　陳士鐸曰。產前無白帶也。有則難產之兆。即幸而順生。產後亦有血暈之虞。方用黑豆三合。煎湯二碗。先用一碗。入白果十個。紅棗二十個。熟地一兩。山萸、苡仁、山藥各四錢。茯苓三錢。澤瀉、丹皮各二錢。加水二碗煎服。一劑或二劑。永不白帶。亦通治婦人諸帶。無不神效。</p>
<p><u>預防難產</u>　萬全曰。生育者。婦人之常。非病則不必藥。惟素有難產之苦。不得不講求其方。以為保生之計。其束胎之方。用各不同。如枳殼瘦胎散。及用滑石方。氣實多痰者宜之。達生散、束胎丸。氣虛少有熱者宜之。若不審其虛實。不若不服之為善也。</p>
<p><u>雙胎品胎鬼胎</u>　朱震亨曰。精氣有餘。岐而分之。血因分而攝之。故成雙胎。若夫男女同孕者。剛日陰時。柔日陽時。陰陽混雜。不屬左。不屬右。受氣於兩岐之間者也。亦有三胎四胎者。猶是而已。張介賓曰。鬼胎者。豈真鬼氣襲人胞宮而成形乎。不過由本婦氣質弱。或以邪思蓄注。血隨氣結而不散。或以衝任滯逆。脈道壅瘀不行。是固內因之病。而必非外來之邪。蓋即血癥氣瘕之類耳。當即以癥瘕法治之。如狐魅異類之遇。則實有所受。而又非鬼胎之謂。亦當於癥瘕類求法治之。又曰。治鬼胎。當以補元為主。而繼以去積之藥。然補中兼行者。無如決津煎。欲去滯而不猛峻者。無如通瘀煎。既加調補。而欲直攻其病。則奪命丹、回生丹。皆可酌用。或以當歸、紅花濃煎湯。送赤金豆亦妙。</p>
<p><u>胎前不治症</u>　竇漢卿曰。產前咽喉痛。而脈浮者不治。面赤。而目睛上視者不治。面黑汗出者不治。心胸緊滿。吐痰不出者不治。自利不止者不治。氣促。四肢厥冷者不治。心中怔忡。胸前紅甚。舌卷面赤。目上視者不治。血氣攻心欲絕。面紅者不治。自利而喘者不治。潮熱往來。時發譫語者不治。胸腹脹急者不治。喉中或雷聲。或嗆食者不治。</p>
<p><u>逐月養胎方</u>　徐之才曰。妊娠一月。名胎胚。飲食精熟酸美受御。宜食大麥。毋食腥辛。是謂才正。是月足厥陰脈養胎。不可針灸其經。足厥陰屬肝。主筋及血。一月之時。血行痞澀。不為力事。寢必安靜。無令恐畏。是月陰陽新合。為胎寒多。為痛熱多。卒驚。舉重腰痛。腹痛胞急。卒有所下。當預安之。宜服烏雌雞湯。</p>
<p>烏雌雞（一雙治如食法）　茯苓　阿膠（各二兩）　吳萸（一升）　麥冬（五合）　人參　白芍　白朮（各三兩）　甘草　生薑（各一兩）</p>
<p>水二斗二升。煮雞取汁六升。煎藥取三升。入酒三升。並阿膠烊盡。取三升。每服一升。日三服。</p>
<p>妊娠二月。名始膏。毋食辛臊。居必靜處。男子勿勞。百節皆痛。是為胎始。是月足少陽脈養胎。不可針灸其經。少陽屬膽主精。二月之時。兒精成於胞里。當慎護之。勿驚動也。是月始陰陽踞經。有寒多壞不成。有熱即痿悴。中風寒有所動搖。心滿。臍下懸急。腰背強痛。卒有所下。乍寒乍熱。宜艾葉湯。</p>
<p>艾葉　丹參　當歸　麻黃（各二兩）　生薑（六兩）　人參　阿膠（各三兩）　甘草（四錢）　大棗（十二枚）</p>
<p>水一斗。酒三升。煎三升。化膠。分三服。</p>
<p>妊娠三月。名始胞。此時未有定象。見物而化。欲生男者操弓矢。欲生女者弄珠璣。欲子美好數視璧玉。欲子賢良端坐清虛。是謂外象而內感者也。是月手心主脈養胎。不可針灸其經。屬心。母悲哀思慮驚動。是月為定形。有寒。大便青。有熱。小便難。不赤即黃。卒驚恐憂愁嗔怒喜僕。動干經脈腹滿繞臍痛。或腰背痛。卒有所下。宜雄雞湯。</p>
<p>雄雞（一隻治如食法）　白芍（四兩）　黃芩　白朮　生薑（各一兩）　麥冬（五合）　大棗（十二枚）　甘草　茯苓　人參　阿膠（各二兩）</p>
<p>水一斗三升。煮雞取汁減半。入藥煎半。入酒三升。並膠。煎取三升。分三服。一日盡。一方無薑、芩。有川芎、當歸各二兩。</p>
<p>妊娠四月。始受水精以成血脈。食宜稻宜魚。是謂盛血氣以通耳目。而行經絡。是月手少陽脈養胎。不可針灸其經。內輸三焦。此時兒六腑順成。當靜形體。和心志。節飲食。是月有寒。心下溫溫欲嘔。胸膈滿。不欲食。有熱。小便難。數數如淋狀。臍下苦急。卒風寒。項頸強痛。寒熱。或驚動。身軀腰背腹痛。往來有時。胎上迫胸。心煩不得安。卒有所下。宜菊花湯。</p>
<p>菊花（五錢）　麥冬（一升）　大棗（十二枚）　人參（兩半）　當歸　甘草（各二兩）　麻黃　阿膠（各三兩）　半夏（四兩）　生薑（五兩）</p>
<p>水八升。煮入膠。並酒三升。煎三升。分二服。當汗以粉撲之。護風寒四五日。</p>
<p>妊娠五月。始受火精以成其氣。臥必晏起。沐浴浣衣。深其居處。厚其衣服。食稻粱。羹牛羊。和菜萸。調五味。是謂養氣以定五臟。是月足太陰脈養胎。不可針灸其經。屬脾。此時兒四肢皆成。毋太飢飽。毋食乾燥炙熱。毋太勞倦。是月有熱。苦頭眩心亂嘔吐。有寒。苦腹滿痛。小便數。卒有恐怖。四肢疼。寒熱。胎動無常處。腹痛。悶頓欲僕。卒有所下。宜阿膠湯。</p>
<p>阿膠（四兩）　人參（一兩）　生薑（六兩）　當歸　白芍　甘草　黃芩（各二兩）　旋覆花（二合）　吳萸（七合）　麥冬（二升）</p>
<p>水九升。煎半入膠。並酒三升。煎三升半。分四服。日三夜一。先食服。</p>
<p>妊娠六月。始受金精以成其筋。身欲小勞毋逸。出遊於野。食鳥獸肉。是謂變腠理紉筋以養其力。以堅背膂。是月足陽明脈養胎。不可針灸其經。屬胃。主口目。此時兒口目皆成。調五味。食甘美。毋太飽。是月卒有所動不安。寒熱往來。腹脹滿。體腫。驚悸。卒有所下。腹痛如欲墜。手足煩疼。宜麥冬湯。</p>
<p>麥冬（二升）　人參　甘草　黃芩（各二兩）　生地（三兩）　阿膠（四兩）　生薑（六兩）　棗（十五枚）</p>
<p>水七升。煎半入膠。並酒二升。煎三升。分三服。中間進粥。</p>
<p>妊娠七月。始受木精以成其骨。勞身搖肢。毋使安逸。動作屈伸。以運血氣。居燥處。飲食避寒。食稻粱。以密腠理。是謂養骨而堅齒。是月手太陰脈養胎。不可針灸其經。屬肺。主皮毛。此時兒皮毛已成。無多言哭。毋洗浴。毋薄衣。毋飲冷。是月忽驚恐搖動。腹痛。卒有所下。手足厥冷。脈若微寒。煩熱。腹滿短氣。常苦頸項及腰背強。宜蔥白湯。</p>
<p>蔥白（長三四寸十四莖）　半夏　麥冬（各一升）　旋覆花（二合）　黃芩（一兩）　人參（兩半）　甘草　蜜黃耆　當歸（各三兩）　阿膠（四兩）　生薑（八兩）</p>
<p>水七升。煎半入膠。並酒三升。煎四升。分四服。日三夜一。取汗。若無汗。加麻黃一兩。再服。秋後勿強汗。</p>
<p>妊娠八月。始受土精以成膚革。和心靜息。無使氣極。是謂密腠理而光澤顏色。是月手陽明脈養胎。不可針灸其經。屬大腸。主九竅。此時兒九竅皆成。毋食燥物。毋大怒。是月中風寒。有所犯觸。身體盡痛。乍寒乍熱。胎動不安。常苦頭眩痛。繞臍下寒。時時小便白如米泔。或青或黃。或寒慄。腰背苦冷而痛。目𥉂𥉂無見。宜芍藥湯。</p>
<p>白芍（四兩）　生薑（六兩）　厚朴（二兩）　甘草　當歸　土白朮　人參（各三兩）　蔥白切（一升）</p>
<p>水五升。酒四升。煎三升。分三服。日二夜一。</p>
<p>妊娠九月。始受石精以成皮毛。六腑百節。莫不畢備。飲醴食甘緩帶。是謂養毛髮致才力。是月足少陰脈養胎。不可針灸其經。屬腎。主續縷。此時兒脈絡續縷皆成。毋處濕冷。無著炙衣。是月若卒得下痢。腹滿懸急。胎上衝心。腰背痛。不可轉側。短氣。宜半夏湯。</p>
<p>半夏（三兩）　大棗（二十枚）　麥冬　吳萸　當歸　阿膠（各二兩）　乾薑（一兩）</p>
<p>水九升。煎三升。入蜜八合。分四服。痢即止。</p>
<p>妊娠十月。五臟俱備。六腑齊通。納天地氣于丹田。故使關節人神皆備。只俟時而生。是月足太陽脈養胎。不可針灸其經。屬膀胱。宜服滑胎藥。自一月至十月。惟手少陰手太陽無所專主。以君主之官無為也。</p>
<p><u>受胎保護</u>　保產要錄曰。一受胎後。不宜食牛羊犬等肉。並蟹鱉烏魚無鱗魚胡椒姜蒜及辛辣之物。一受胎後。不可看戲及鬼怪形象。一最戒暴怒。口不可出惡言。手不可用鞭撻。蓋怒傷氣血。不能養胎。多有因此動胎者。即幸不動胎。怒氣入胎。子生多痰。亦不可登高上梯。恐跌有損。亦不可伸手高處取物。恐傷胎而子鳴腹中。子鳴亦有法。但令鞠躬片時自安。一受胎三五個月後。常要緊束其身。勿令胎放。或六七個月。或七八個月。胎忽亂動。三兩日間。或痛或止。或有水下。但腰不甚痛。脈未離經。名曰弄胎。又有臨產一月前。忽然腰痛。卻又不產。此是轉胎。名曰試月。胎水有無俱不妨。但直身坐臥行立。不可驚憂逼迫以致誤事。二者俱非正產。必因曲身觸犯致此。</p>
<p>鰲按。胎產書如達生錄。達生編之類甚多。然明白周詳。細心切要。語語可遵而行之者。惟有保產要錄一書最妙。余故於胎前小產臨產產後各門。分錄其語。俾妊孕家知有所法。又恐人混視之。特識於此。以使閱者觸目驚心焉。卷後但書青溪主人識五字。惜不得其姓名。</p>

<h3>治胎前病方</h3>
<p><u>白朮散</u>　妊娠養胎。</p>
<p>白朮　川芎（各一兩）　川椒（去汗七錢）　牡蠣（五錢）</p>
<p>每末一錢。酒下。日三夜一。但苦痛。加白芍。心下毒痛。倍川芎。心煩肚痛。不能食飲。加細辛一兩半。大棗十枚服之。更服酸漿水。服漿水不解。飲小麥汁。又渴者服大麥粥。病雖愈。此粥亦可服。</p>
<p><u>旋覆花湯</u>　治妊婦見革脈。半產漏下。</p>
<p>旋覆花（三兩）　蔥（十四莖）　新絳少許</p>
<p>同煎。</p>
<p><u>人參橘皮湯</u>　治孕婦病兒。</p>
<p>人參　橘皮　赤苓　白朮　麥冬　厚朴（各一錢）　竹茹　甘草（各八分）</p>
<p><u>人參木瓜湯</u>　治同上。</p>
<p>人參　木瓜　橘紅　枇杷葉　麥冬　藿香　竹茹</p>
<p><u>丁術湯</u>　治同上。</p>
<p>丁香　白朮　人參　甘草</p>
<p><u>防己湯</u>　治妊娠脾虛。遍身浮腫。腹脹喘促。小便不利。</p>
<p>防己　赤苓　桑皮　紫蘇（各一錢）　木香（五分）</p>
<p><u>白朮散</u>　治孕婦面目虛浮。四肢腫如水氣。名曰子腫。</p>
<p>白朮（二錢半）　茯苓皮（錢半）　陳皮　姜皮　桑皮　大腹皮（各一錢）</p>
<p>本方去白朮。名五皮散。</p>
<p><u>天仙藤散</u>　治妊娠自三月成胎之後。兩足自腳面漸腫至腿膝。艱行喘悶妨食。狀似水氣。甚至足趾間有黃水出者。謂之子氣。</p>
<p>天仙藤（即青木香藤洗略炒）　香附　陳皮　甘草　烏藥　木香</p>
<p>等分。每咀片五錢。加姜三片。紫蘇五葉。煎。日三服。腫消止藥。一方木香換木瓜。</p>
<p><u>安神丸</u>　治子煩。</p>
<p>硃砂（一兩）　黃連（一錢）　生薑　當歸　甘草（各五分）</p>
<p><u>紫蘇飲</u>　治妊娠失調。胎氣不安。上攻作痛。名曰子懸。或臨產氣結不下等症。</p>
<p>人參　甘草（各五錢）　大腹皮　川芎　紫蘇葉　白芍　陳皮　當歸（各一兩）</p>
<p>每咀片一兩。加蔥姜煎。一方有木香。無人參。一方無川芎。名七寶散。若肝脾氣血虛而有火不安者。宜兼逍遙散。若脾氣虛弱而不安者。宜四君芎歸湯。</p>
<p><u>子懸湯</u>　治子懸。</p>
<p>人參　蘇梗　砂仁　陳皮　歸身　白芍　丹參　黃芩　香附</p>
<p><u>安榮散</u>　治妊娠小便澀少。遂成淋瀝。</p>
<p>麥冬　木通　滑石（各三錢）　人參　細辛（各二錢）　當歸　燈心　甘草（各五錢）</p>
<p><u>清脾飲</u>　治妊娠瘧疾。寒少熱多。或但熱不寒。口苦舌乾。大便秘澀。不進飲食。脈弦數者。</p>
<p>青皮　厚朴　白朮　草果　炙甘草　柴胡　黃芩　茯苓　半夏（各五分）</p>
<p><u>人參養胃湯</u>　治妊娠瘧疾。寒多熱少。或但寒不熱。噁心頭疼。身痛。面青白。脈弦遲者。</p>
<p>半夏　厚朴　橘紅（各八分）　蒼朮（一錢）　藿香葉　草果　茯苓　人參（各五分）　炙草（三分）　姜（七片）　烏梅（一個）</p>
<p>水煎服。</p>
<p><u>勝金丹</u>　治子瘧能使不發。</p>
<p>常山（酒炒四錢）　檳榔（一錢）</p>
<p>醋糊丸綠豆大。發前三更時。酒下三丸。</p>
<p><u>鯉魚湯</u>　治妊娠腹脹滿。或渾身浮腫。小便赤澀。</p>
<p>當歸　白芍（各一錢）　茯苓（錢半）　白朮（二錢）　橘紅（五分）</p>
<p>鯉魚一尾去鱗腸。煮汁取盞半。入姜三片。煎一盞。空心服。胎水即下。如未盡。腹悶未除。再一服。</p>
<p><u>葛根湯</u>　治兒暈。</p>
<p>葛根　桂枝　麻黃　白芍　甘草</p>
<p><u>火龍散</u>　治子懸。心氣疼。</p>
<p>川楝子　茴香（各三錢）　鹽炒艾葉末（錢半）</p>
<p>煎。不拘時服。</p>
<p><u>桔梗散</u>　治妊娠肺壅。咳嗽喘急不食。</p>
<p>天冬　赤苓（各一錢）　桑皮　桔梗　紫蘇（各五分）　麻黃（三分）　貝母　人參　炙草（各二分）</p>
<p>一方有杏仁。無貝母。加姜。</p>
<p><u>馬兜鈴散</u>　治妊娠氣壅塞。咳嗽氣喘。</p>
<p>馬兜鈴　桔梗　人參　甘草　貝母（各五分）　桑白皮　陳皮　大腹皮　紫蘇（各一錢）　五味子（三分半）</p>
<p>一方有枳殼。無人參、貝母、桑皮。</p>
<p><u>百合散</u>　治妊娠風壅。咳嗽痰多喘滿。</p>
<p>百合　紫菀茸　貝母　白芍　前胡　赤苓　炒桔梗（各一錢）　炙草（五分）　姜（五片）</p>
<p><u>羚羊角散</u>　治妊娠冒悶。角弓反張。名曰子癇風痙。</p>
<p>羚羊角　獨活　棗仁　防風　五加皮　苡仁　酒當歸　川芎　茯神　杏仁（各五分）　木香　甘草（各二分）</p>
<p><u>舉輕古拜散</u>　治同上。</p>
<p>荊芥穗炒為末。湯下。</p>
<p><u>安胎和氣飲</u>　治胎冷腹痛引兩脅。小便頻數。大便虛滑。</p>
<p>煨訶子　白朮（各二錢）　陳皮　炒良薑　木香　白芍　陳米　炙草（各一錢）　姜（五片）</p>
<p>忌食生冷。</p>
<p><u>消風散</u>　治胎熱。</p>
<p>荊芥　甘草　羌活　川芎　人參　茯苓　殭蠶　防風　藿香葉　蟬蛻　陳皮　厚朴</p>
<p><u>天門冬飲</u>　治同前。</p>
<p>天冬　知母　茯苓　羌活　人參　防風　五味　茺蔚子</p>
<p><u>梔芩湯</u>　治妊娠時常腹痛。名曰痛胎。</p>
<p>山梔　黃芩　當歸　元參　枳殼　蘇梗　廣皮　白芍　杜仲</p>
<p><u>人參升麻湯</u>　治妊娠轉胎。</p>
<p>人參　升麻（各二錢）</p>
<p><u>固胎丸</u>　治滑胎。</p>
<p>人參　黃耆　茯苓　白朮　杜仲　川斷　山萸肉　白芍　丹參　川芎　山藥　當歸　生地　香附　砂仁　薄荷</p>
<p><u>香連化滯丸</u>　治妊娠下痢赤白。</p>
<p>青皮　陳皮　厚朴　枳實　黃芩　黃連　當歸　白芍　滑石　木香　甘草　檳榔</p>
<p>此方力頗大。當臨時酌量虛實用之。</p>
<p><u>胃風湯</u>　久痢。</p>
<p>人參　茯苓　川芎　白朮　當歸　白芍（各一錢）　肉桂（四分）</p>
<p><u>黃連丸</u>　治妊娠白痢。</p>
<p>黃連　乾薑　砂仁　川芎　阿膠　白朮（　各一兩）　枳殼（五錢）　乳香（三錢）</p>
<p><u>三白散</u>　治妊娠泄瀉。</p>
<p>白朮　茯苓（各三錢）　白芍（二錢）</p>
<p><u>黃芩湯</u>　治同上。</p>
<p>黃芩（二錢）　白芍（一錢）　甘草（五分）</p>
<p><u>冬葵子湯</u>　治妊娠身熱入臟。二便不利。此能除熱安胎。</p>
<p>冬葵子　赤苓</p>
<p><u>通氣散</u>　治妊娠腰痛不可忍。此方神效。</p>
<p>補骨脂不拘多少。瓦上炒為末。空心先嚼胡桃肉一個。酒調下。</p>
<p><u>青娥丸</u>　治同上。</p>
<p>補骨脂　杜仲（各四兩）　胡桃肉（三十個研泥）</p>
<p>蜜丸。酒下四錢。</p>
<p><u>小品苧根湯</u>　治損動胎氣。腰腹痛。去血。胎動向下。</p>
<p>生地　苧根（各二兩）　當歸　芍藥　阿膠　甘草（各一兩）</p>
<p>水三升。煮二升。入膠化。分二服。</p>
<p><u>千金保孕方</u>　常服固胎。</p>
<p>糯米（一升煮粥）　杜仲（八兩搗去系拌粥曬乾再拌再曬粥完為度炒研）　川斷（六兩）</p>
<p>將山藥四兩。打糊為丸。空心米湯下。</p>
<p><u>芩芍湯</u>　治胎動因熱。</p>
<p>黃芩　白芍　白朮　肉桂</p>
<p><u>香殼丸</u>　治胎動因實。</p>
<p>香附　枳殼</p>
<p><u>大聖湯</u>　治妊娠怔忡。</p>
<p>川芎　黃耆　當歸　木香　人參　甘草　茯苓　麥冬</p>
<p><u>益榮湯</u>　治同上。</p>
<p>棗仁　遠志　黃耆　柏子仁　當歸　人參　茯神　白芍（各一錢）　紫石英　木香（各八分）　甘草（三分）</p>
<p><u>定志丸</u>　治同上。</p>
<p>人參　遠志（各一兩）　蒲黃（二兩）　茯苓（三兩）</p>
<p><u>丹參膏</u>　此膏養胎。臨月服之。滑而易產。</p>
<p>丹參（半斤）　當歸（各二兩）　川椒（五合）</p>
<p>上三味。以酒拌濕一夜。以熬成豬膏四升。微火煎膏。色赤如血。膏成。新布去渣。每取棗許。入酒服之。不可逆服。必至臨月乃可服。有熱者。以火麻仁五合代椒。</p>
<p><u>阿膠散</u>　治妊娠。或因頓僕胎動不安。腰腹痛。或有所下。或胎上衝心。</p>
<p>熟地（二兩）　白芍　艾葉　當歸　甘草　阿膠　黃耆（各一兩）</p>
<p>每粗末五錢。加姜三棗一煎。一方有川芎。</p>
<p><u>丁香散</u>　治妊娠傷食。</p>
<p>丁香　砂仁　白朮</p>
<p><u>安胎丸</u>　治胎動不安。由於火旺。</p>
<p>黃芩　白芍　白朮　當歸　川芎</p>
<p><u>阿膠蘄艾丸</u>　治妊娠因跌撲閃挫。以致胎動不安。</p>
<p>川芎　當歸　白芍　熟地　甘草　阿膠　艾葉</p>
<p><u>佛手散</u>　治跌撲傷胎。或子死腹中。疼痛不已。口噤昏悶。或心腹飽滿。血上衝心者。服此生胎安。死胎下。又治橫生倒產。及產後腹痛發熱頭痛。逐敗血。生新血。能除諸疾。</p>
<p>當歸（五錢）　川芎（三錢）</p>
<p>水七分。酒三分。同煎至七分服。胎傷下血腹痛。加膠、艾、川斷、白朮、杜仲、條芩。橫生倒產。子死腹中。加馬料豆一合。炒焦熱淬水中。加童便一半煎服。少刻再服。產後惡露停瘀上攻。迷暈。急服。產後瘀血上衝入肺而嗽。加桃仁、紅花、杏仁、川貝、延胡索。</p>
<p><u>瘦胎散</u>　妊娠預服。</p>
<p>川芎　當歸　白芍　血餘　木香　甘草　枳殼　乳香</p>
<p><u>苧根湯</u>　治胎動不安。</p>
<p>生地　砂仁（各三錢）</p>
<p>苧根打汁和服。</p>
<p><u>黑豆湯</u>　治誤食毒物毒藥胎動。</p>
<p>黑豆（三合）　淡竹葉（二十片）　甘草（三錢）</p>
<p><u>黃耆湯</u>　治妊娠漏下黃水。</p>
<p>黃耆（一兩）　川芎（一錢）　粳米（一合）</p>
<p><u>伏龍肝散</u>　治妊娠熱病。防胎傷墮。</p>
<p>伏龍肝末。和井泥。調敷肚上。</p>
<p><u>護胎方</u>　治同上。</p>
<p>白藥子不拘多少。雞子白調塗臍下胎處。如碗大。上用棉紙蓋之。干則以水潤之。</p>
<p><u>桑皮湯</u>　治妊娠腹脹痛。</p>
<p>桑皮　茯苓　橘紅　白朮　木瓜　秦艽</p>
<p><u>二香散</u>　治胎動不安。</p>
<p>藿香　香附　甘草　等分</p>
<p><u>安胎方</u>　治同上。</p>
<p>人參　砂仁　香附　黃芩　黃柏</p>
<p><u>安胎四物飲</u>　治妊娠諸痛。</p>
<p>四物湯加　肉桂　厚朴　枳殼　檳榔</p>
<p><u>壯氣四物湯</u>　治臨期腹脅脹滿。心胸刺痛。</p>
<p>四物湯加　木香　青皮　陳皮　枳殼　甘草</p>
<p><u>安胎飲</u>　治胎氣不安。</p>
<p>人參　白朮　甘草　陳皮　川芎　當歸　白芍　蘇梗　條芩　香附　砂仁</p>
<p><u>受娠中和湯</u>　治初受娠。養血安胎。健脾理氣。</p>
<p>砂仁　香附　白芍　茯苓　人參　當歸身　藿香　陳皮</p>
<p><u>鉤藤湯</u>　治八九月胎動不安。心腹疼痛。面目青冷。汗出氣欲絕。此由勞動用力。有傷胎宮。急治之。</p>
<p>桔梗（兩半）　桑寄生（五錢）　鉤藤鉤　當歸　人參　茯神（各一兩）</p>
<p>每咀片五錢。不拘時煎服。煩熱。加石膏二兩半。忌豬肉菘菜。</p>
<p><u>如聖湯</u>　治胎動腹痛。或胎漏。</p>
<p>鯉魚皮　酒當歸　白芍　熟地　阿膠　酒川斷　川芎　炙草　等分</p>
<p>每粗末四錢。加苧根少許。姜五片。一方有竹茹。</p>
<p><u>芎歸湯</u>　治妊娠先患冷氣。忽中心腹痛如刀刺。</p>
<p>川芎　人參　吳萸　茯苓　桔梗　當歸（各三兩）　厚朴　白芍（各二兩）</p>
<p>水九升。煮三升。分三服。氣下即安。</p>
<p><u>安胎飲</u>　治妊娠卒然腰痛。下血不已。</p>
<p>四物湯加　阿膠　艾葉　黃耆（各一錢）　地榆　炙草（各五分）　加薑棗</p>
<p><u>白朮散</u>　治妊娠氣不調和。飲食易傷。</p>
<p>焦術　紫蘇（各一兩）　人參　白芷（各七錢五分）　川芎　訶子皮　青皮（各五錢）　甘草（二錢五分）</p>
<p>每末三錢。加姜三煎。</p>
<p><u>白朮散</u>　治妊娠傷寒熱病。先以此安胎。但覺頭痛發熱。便可服二三劑即瘥。若四肢厥逆屬陰症者。不可服。</p>
<p>黃芩（瓦上炙）　白朮</p>
<p>等分。每粗末三錢。加棗、姜。</p>
<p><u>香蘇散</u>　治妊娠傷寒。勿論日數。但覺惡寒頭疼。以此主之。</p>
<p>香附　紫蘇（各二錢）　陳皮（一錢）　甘草（五分）</p>
<p>加姜三蔥五煎。頭痛。加川芎、白芷各一錢。名芎芷香蘇散。如得肝脈。外症。善潔面青善怒。其三部脈浮而弦。惡寒。里和。謂清便自調也。加羌、防各一錢。謂肝生風。是膽受病也。如得心脈。外症。面赤口乾善笑。其三部脈浮而洪。惡寒。里和。加黃芩、石膏各錢半。謂心主熱。是小腸受病也。如得脾脈。外症。面黃善噫善思。其尺寸浮而緩。惡寒。里和。加白朮、防己各錢半。謂脾主濕。是陽明受病也。如得肺脈。外症。面白。善嚏善悲。不樂欲哭。其尺寸浮而澀。惡寒。里和。加黃耆、防風各一錢。謂肺主燥。是大腸受病也。如得腎脈。外症。面黑善恐。其尺寸浮而濡。惡寒。里和。加炮附子一錢。謂腎主寒。是膀胱受病也。</p>
<p>鰲按。附子犯胎禁。須斟酌用之。</p>
<p><u>麥門冬湯</u>　治妊娠心驚膽怯煩悶。名曰子煩。</p>
<p>麥冬　茯苓　防風（各三錢）　人參（一錢半）　姜（五片）　淡竹葉（十片）</p>
<p>不拘時服。</p>
<p><u>杜仲丸</u>　治兩三月胎動不安。腰痛防其墮。宜預服之。</p>
<p>杜仲　川斷（各二兩）</p>
<p>棗肉丸。</p>
<p><u>半夏茯苓湯</u>　治妊娠脾胃虛。飲食不化。嘔吐不止。</p>
<p>半夏　陳皮　砂仁（各一錢）　茯苓（二錢）　甘草（五分）</p>
<p>加薑、棗、烏梅。</p>
<p><u>歸脾湯</u>　治妊娠鬱結傷脾。亦治發熱盜汗。健忘怔忡。驚悸少寐。</p>
<p>人參　白朮　茯苓　黃耆　當歸　龍眼　遠志　棗仁（各一錢）　木香　炙草（各五分）</p>
<p>本方加柴胡、山梔。名加味歸脾湯。</p>
<p><u>半夏茯苓湯</u>　治惡阻病嘔吐心煩。頭目眩暈。惡聞食氣。飲食不進。多臥少起。百節煩疼。羸瘦痰盛。</p>
<p>半夏（錢半）　赤苓　熟地（各一錢）　旋覆花　人參　白芍　川芎　桔梗　甘草　橘紅（各七分）　姜（七片）</p>
<p><u>理陰煎</u>　治臟寒惡嘔。胎氣不安。亦治產後脾氣虛寒。嘔吐食少腹痛。又治產後陽虛中寒。或外感寒邪。心腹痛嘔吐厥逆。</p>
<p>熟地（三五七錢或一二兩）　炙草（一二三錢）　當歸（二三錢或五七錢）　乾薑（炒黃一二錢）</p>
<p><u>赤金豆</u>　治鬼胎。一名八仙丹。</p>
<p>巴霜（錢半）　皂角（炒微焦二錢）　附子（略炒燥）　硃砂（各二錢）　輕粉（一錢）　丁香　木香　天竺黃（各三錢）</p>
<p>醋浸蒸餅丸萊菔子大。硃砂為衣。欲漸去者。每服五七丸。欲驟行者。每服一二十丸。俱開水下。若下多不止。可飲冷水一二口即止。蓋此藥得熱則行。得冷則止也。</p>
<p><u>芎歸膠艾湯</u>　治妊娠腹痛。胞阻胎漏。半產後下血不絕。及八九月內胎動下血。</p>
<p>川芎　阿膠　炙草（各二兩）　艾葉（炒）　當歸（各三兩）　白芍（四兩）　生地（五兩）</p>
<p>水五升。酒三升。煎三升。化膠。分二服。日三。</p>
<p><u>黃芩湯</u>　治胎孕不安。</p>
<p>黃芩　白朮　當歸（各二錢）</p>
<p>不拘時服。一方有砂仁。</p>
<p><u>芎歸補中湯</u>　治血氣虛弱。不能衛養。以致胎漏。每四五月而墮。名曰半產。</p>
<p>川芎　阿膠　五味子　炮姜（各一錢）　黃耆　酒當歸　白芍　白朮（各錢半）　人參　杜仲　木香　炙草（各五分）</p>
<p>不拘時煎服。一方無木香。</p>
<p><u>加減梔子五物湯</u>　安胎清熱。</p>
<p>葛根　柴胡　香茹　石膏　山梔　前胡　黃芩　蔥白　陳皮　甘草　知母</p>
<p><u>梔子大青湯</u>　治妊娠熱病。發斑變黑。</p>
<p>黃芩　升麻　山梔（各一錢）　大青　杏仁（各五分）　蔥白（三莖）</p>
<p><u>枳殼瘦胎散</u>　孕婦八九月。胎氣壅滿。服之滑胎。易產平安。</p>
<p>枳殼（五兩）　甘草（一兩）　香附（兩半）</p>
<p>每末二錢。湯下。</p>
<p><u>束胎丸</u>　能縮胎易產。</p>
<p>白朮　枳殼</p>
<p>等分。水浸燒蒸丸。</p>
<p><u>蘆根湯</u>　治妊娠嘔吐不食。兼吐痰水。</p>
<p>生蘆根（七分）　橘紅（四分）　生薑（六分）　檳榔（二分）　枇杷葉（三分）</p>
<p>空心熱服。</p>
<p><u>蘆根湯</u>　治妊娠惡食。心中煩憒。熱悶嘔吐。</p>
<p>麥冬　竹茹（各三兩）　前胡（二兩）　橘紅（去白）　蘆根（各一兩）</p>
<p>如身熱四肢煩熱。加地骨皮一兩。水煎。分二服。</p>
<p><u>人參半夏湯</u>　治惡阻醋心。胸腹冷痛。吐逆不食。</p>
<p>人參　半夏　乾薑（各五錢）</p>
<p>以地黃汁浸蒸餅丸。</p>
<p><u>縮砂散</u>　治妊娠胃虛氣逆。嘔吐不食。</p>
<p>每砂仁末一錢。薑汁調。米湯下。</p>
<p><u>蔥白湯</u>　治胎上逼心煩悶。亦治胎動困篤。</p>
<p>蔥白二七莖煮汁飲之。若胎未死即安。已死即出。不效再服。此方神效。脈浮滑者宜之。本草云。蔥白通陽氣安胎。</p>
<p><u>黃龍湯</u>　治妊娠傷寒。得之三五日後。有惡寒發熱。內有煩渴引飲小便赤澀之症。此邪在半表半裡也。此方主之。</p>
<p>柴胡（二錢）　黃芩（錢半）　人參　甘草（各一錢）</p>
<p>加姜三棗二。如寒熱往來。無汗口乾。加葛根二錢。去棗。入蔥白三莖。頭疼不止。加川芎、白芷各一錢。去棗入蔥。發熱有汗口渴。加白朮、花粉各錢半。脈浮大有力。大熱大渴。本方合人參白虎湯。去薑、棗。心煩不臥。加茯苓、麥冬各一錢。嘔噦。加茯苓、半夏各一錢。去棗。胸膈滿痛。加炒黑川芎、枳殼、香附各一錢。大便秘。加大黃五分。利則止。不利加一錢。以利為度。</p>
<p><u>理中湯</u>　治妊娠霍亂腹痛。四肢逆冷。汗出脈虛弱者。</p>
<p>人參　白朮　炮姜　炙草</p>
<p><u>三黃解毒湯</u>　治妊娠傷寒。五六日後表邪悉去。但煩躁發熱大渴。小便赤。大便秘。或利下赤水。六脈沉實。此為邪在裡也。此方主之。</p>
<p>大黃　黃連　黃柏　黃芩　黑山梔</p>
<p>等分。更隨五臟脈症加減。如得沉弦有力之肝脈。內症煩滿消渴。倍山梔。加當歸錢半。甘草五分。得沉數有力之心脈。內症煩躁心中熱。倍黃連。加麥冬一錢。得沉緩有力之脾脈。內症腹脹滿譫妄。倍大黃。加枳實、厚朴各一錢。得沉滑有力之肺脈。內症喘咳胸滿多嚏。倍黃連。加桔梗五分。葶藶一錢。得沉石有力之腎脈。內症下重足腫。寒而逆。倍黃柏。加熟地一錢。炮姜五分。</p>
<p><u>芫花散</u>　治妊娠非娠。是得鬼胎。形如抱甕者。</p>
<p>芫花（醋炒）　吳萸　秦艽　白殭蠶　柴胡　川烏　巴戟</p>
<p>共為末。酒下。</p>
<p><u>補遺方</u>　治小兒在腹中哭。</p>
<p>黃連濃煎汁。母常呷之。即止。</p>
<p><u>加味逍遙散</u>　治初次產育。產門腫脹。或焮痛不閉。</p>
<p>當歸　柴胡　白朮　白芍　茯苓（各一錢）　炙草（五分）　薄荷（七葉）</p>
<p>此逍遙散也。今加山梔、生地、白茅根。</p>
<p><u>續斷湯</u>　治妊娠下血及尿血。</p>
<p>當歸　生地（各一兩）　川斷（五錢）　赤芍（一錢半）</p>
<p>每末二錢。空心蔥白湯下。一方阿膠、熟地等分為末。米湯下二錢。</p>
<p><u>甘麥大棗湯</u>　治婦人臟躁。悲傷不止。</p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）</p>
<p>水煎。分三服。</p>
<p><u>長胎白朮丸</u>　治宿有風冷。胎痿不長。或失調理傷胎。多致損墮。常服益血養胎。調補衝任。</p>
<p>白朮　川芎　阿膠　生地（各六錢）　牡蠣（二錢）　川椒（一錢）</p>
<p>蜜丸。每三十丸。米湯下。</p>
<p><u>桂心散</u>　有妊娠羸弱。或挾疾病。臟腑虛損。氣血枯竭。不能養胎。至胎動而不能堅固。若其勢終不能安者。不如下之。免害妊婦。則以此方主之。然必確審其果不能留。方可議下。切勿造次。慎之慎之。若如此而行私妄用。則更斷斷不可。</p>
<p>一方單用牛膝一兩。酒一鍾。煎七分。作二服。</p>
<p>又方麥芽一升為末。和水煮二升。服之即下。神效。</p>
<p>一方取雞子一枚。以三指撮鹽放雞子中。服之立出。</p>
<p><u>千金神造方</u>　治婦人陰陽俱盛。名曰雙軀。少陰微緊者血即凝濁。經養不周。胎即偏夭。一生一死。不去其死。害母失胎。此方主之。</p>
<p>蟹爪（一升）　阿膠（三兩）　甘草（二兩生）</p>
<p>取東流水一斗。先煎二味。至三升去渣。化膠頓服之。不能分再服。</p>
<p><u>下胎方</u>　治妊母因疾病胎不得安。可下之。</p>
<p>取七月七日法曲四兩。水二大盞。煎取一盞。三分。去渣。分溫三服。立下。</p>

<h3>秦氏世傳逐月養胎方</h3>
<p><u>陳皮半夏湯</u>　妊娠二月服。治有氣血不足。胎氣始盛。逆動胃氣。惡阻嘔吐。飲食少進。更詳加減法。</p>
<p>陳皮（去白鹽水炒）　茯苓　半夏（各一錢）　酒黃芩　麩枳殼　紫蘇（各八分）　炙草（五分）</p>
<p>肥人用此。必將半夏炒黃。加姜一片。</p>
<p><u>柳青丸</u>　妊娠三月服。</p>
<p>川黃連薑汁炒三次。三兩。</p>
<p>米糊丸綠豆大。每服三四五分至七八分。即將前方煎汁送下。此須未交三月前十日服起。按三月墮胎。由心經火盛故也。故此方宜之。</p>
<p><u>安胎和氣散</u>　妊娠四月服。治有覺倦臥不安。或口苦頭痛腳弱及腫急則服此。如無此等症則止藥。</p>
<p>土白朮（錢半）　鹽廣皮（一錢）　鹽香附（研二錢）　茯苓（八分）　炒白芍　酒黃芩（各一錢）　川芎　炙草（各五分）　酒歸身（一錢六分）</p>
<p>水煎服二次。熱多。加黑山梔一錢。</p>
<p><u>養胎飲</u>　妊娠五月服。治覺胎長腹重。睡臥不安。</p>
<p>酒洗歸身　酒白芍　鹽澤瀉（各一錢）　土白朮（錢半）　酒黃芩　麩枳殼　川芎（各八分）　炙草（四分）</p>
<p>二服。</p>
<p><u>大安胎如勝飲</u>　妊娠六月服。治覺胎氣不和。或漸痛脹。胎動不安。</p>
<p>當歸（二錢）　焦術（一錢半）　酒黃芩　酒白芍　炒砂仁　茯苓　酒煎續斷（各一錢）　炙草（五分）</p>
<p>水煎二服。六日進一服。</p>
<p><u>清胎萬全飲</u>　妊娠七月服。治覺腹大重。</p>
<p>阿膠蛤粉炒熟地　酒白芍　酒黃芩（各一錢）　酒川斷　土炒當歸　川芎（各錢半）　炒茯苓　炒荊芥（各八分）　炙草（五分）</p>
<p>二服。</p>
<p><u>和胎調氣飲</u>　妊娠八月服。治覺胎氣喘腫。不問有無外感。</p>
<p>炒陳皮（二錢）　酒黃芩（一錢半）　土炒茯苓　焦術（各一錢）　麩枳殼（八分）　炙草（三分）</p>
<p>二服。七日進一服。</p>
<p><u>順胎飲</u>　妊娠九月服。雖無他症。亦宜順氣和中安胃。便無難產之患。</p>
<p>當歸（二錢）　焦術（錢半）　酒黃芩　滑石末　酒蘇梗　酒白芍　酒洗大腹皮（各八分）</p>
<p>二服。八日進一服。</p>
<p><u>滑胎飲</u>　妊娠十月服。</p>
<p>茯苓　當歸（各錢半）　焦術　煨川芎　制香附　廣皮（各一錢）　蘇梗（八分）　酒黃芩（五分）　炙草（三分）</p>
<p>氣虛。加人參一錢。胎肥。加麩炒枳殼錢半。二三日進一服。至產方止。以上逐月養胎方止。</p>
<p><u>便產神方</u>　專治一切產症。懷孕不拘月數。偶傷胎氣。腰痠腹痛。甚至見紅。勢欲小產者。並一服即安。再服全愈。又或臨產交骨不開。兒死腹中。橫生逆產。至六七日不產。命在須臾者。服此無不神效。但臨月預服三五劑。即無難產之患。真濟世神方也。</p>
<p>蘄艾（醋炒）　厚朴（薑汁炒各七分）　當歸（酒洗）　川芎（各錢半）　白芍（酒炒一錢二分冬月一錢）　川貝母　菟絲子（酒泡各一錢）　荊芥穗　生黃耆（各八分）　羌活　甘草（各五分）　枳殼（麩炒六分）　生薑（三片）</p>
<p>炮製宜精。藥料宜真。分量宜准。切不可增減以自誤。預服者宜清晨。如臨產及胎動則隨時。</p>

<h1>卷三</h1>

<h2>小產</h2>
<p>小產元氣虛損。不能榮養乎胎而自墮。昔人譬之以枝枯則果落。藤萎則花墜是也。然或勞怒傷情。內火發動。亦能墮胎。則猶風撼其木。人折其枝也。夫火能消物。造化自然。說者乃謂風冷傷其子臟。此未得病情者也。大抵屬虛屬熱。當視其輕重而治之耳。是知正產者。正如果中慄熟。其殼自開。兩無所損。半產者。則猶之採斫新慄。碎其膚殼。損其皮膜。然後取得其實。以其胎臟傷損。胞系斷壞。而後胎至墮落。故小產後須十倍調治。總以補血生肌養臟。生新去瘀為主。世有一種恣情妄為。偷生不正。或多男女。厭於養育。往往以草藥毒之。每至敗血不下。衝心悶亂。喘汗交作而死者。急須以解毒行血藥救之。宜白扁豆散。或有受孕至三五七陽月。胎必墮者。宜未至應墮之期。先清其熱。宜芩術湯、安胎丸。若氣不足。預行補助。宜八珍湯。明醫雜著云。凡小產多在三五七月。若前次三個月墮。則下胎必如期復然。故須於前次小產後。多服養氣血固胎元之藥。以補其虛。下次有胎。必於兩個月半後。即服清熱安胎藥數帖。以防三月之墮。至四個半月。再服數帖。防過五月至六個半月。再服數帖。以防七月之墮。至九個月。服達生散數帖。則可保無虞矣。宜千金保胎丸、金匱當歸散、芎歸補中湯、五味安胎丸、安榮湯、和痛湯。孰謂小產而可忽視哉。凡小產後諸病。與產後參看。</p>
<p><u>脈法</u>　脈訣曰。半產漏下。革脈主之。弱則血耗。立見傾危。脈經曰。陰脈浮而緊。緊則疝瘕。腹中痛。半產而胎墮。</p>
<p>鰲按。脈訣脈經所言。皆由內因而墮胎者。若由跌撲挫犯及誤服毒藥。則不得拘此。</p>
<p><u>墮胎</u>　陳自明曰。凡妊婦腰痛。多墮胎。又妊未足月而痛如欲產。或應產而難。或為子煩。用知母一味蜜丸米湯下。或蒲黃末水調錢許亦效。朱震亨曰。有賈氏婦。但孕三月左右。必墮。診其脈。左手大而無力。重取則澀。知其少血也。以其妙年。只補中氣。使血自榮。時正初夏。教以濃煎白朮湯下黃芩未一錢。三四十帖。遂得保全而愈。王綸曰。有數墮胎。胎元損甚者。服藥須多且久。則可以留。方用四物加人參、白朮、陳皮、茯苓、甘草、艾葉、阿膠、條芩。多氣。加砂仁、香附。有痰。少加半夏曲。黃芩為安胎聖藥。清熱故也。暑月尤宜加用。養胎全在脾胃。故白朮補脾。為安胎君藥。若因氣惱致胎不安。宜川芎、陳皮、甘草、茯苓。多加砂仁。少佐木香以行氣。王肯堂曰。袁了凡先生云。受胎在腹。七日一變。展轉相成。各有相生。今婦人墮胎。在三五七月者多。在二四六月者少。臟陰而腑陽。三月屬心。五月屬脾。七月屬肺。當在五臟之脈。陰常易虧。故多墮耳。惟一月墮胎。人皆不知有胎。但謂不孕。不知其受而墮也。一月屬肝。怒則墮。多洗下體。則竅開亦墮。既墮一次。則肝脈受傷。他次亦墮。今之無子者。大半是一月即墮。非盡不孕也。故凡初交之後。最宜將息。切勿交接以擾子宮。勿怒。勿勞。勿舉動。勿洗浴。而又服養肝平氣之藥。胎可固矣。萬全曰。孕而多墮者。男子貪淫縱情。女子好欲性偏。又好食辛熱。暴損衝任故也。其膏粱藜藿不同。欲之多寡故也。有等婦人。有胎似無胎。痰氣疼痛發熱。醫者不明醫理。不知胎宜養。病宜攻。妄施攻耗。豈不誤歟。故養胎者血也。護胎者氣也。或有婦人小產太多。至中年欲保全。設法服藥。但欲心不絕。又百凡上氣。逆損衝任。因而殞命者有之。又曰。脾胃傷則胎易墮。寒熱交雜。子亦多痰。況多食酸傷肝。多食苦傷心。多食甘傷脾。多食辛傷肺。多食鹹傷腎。隨其食物。傷其臟氣。不但胎易墮。即不墮子病亦多。又曰。喜傷心。氣散。怒傷肝。氣上。思傷脾。氣鬱。憂傷肺。氣結。恐傷腎。氣下。母氣既傷。子氣應之。母傷則胎易墮。子傷則臟氣不和。多盲聾喑瘂癡呆癲癇。又曰。孕後行立坐臥若太久。則筋骨肌膚受傷。子在腹中。氣通於母。必有傷者。睡臥處要人護從。恐邪氣侵也。虛險處毋往來。恐墮跌也。張介賓曰。凡墮胎者。或氣虛而提攝不固。或血虛而灌溉不周。故善保胎者專顧血。虛以胎元飲為主。次則芍藥芎歸湯。次則泰山磐石散、千金保孕丸。皆有奪天之功。又胎熱者血易動。血動者胎不安。故墮於內熱。而虛者正多。如脾氣虛而血熱者。四聖散。肝腎虛而血熱者。涼胎飲。肝脾虛而血熱者。固胎煎。此外凡有他症而胎不安者。當於安胎條中酌治。陳士擇曰。小產非正產之症。亦可作產前治。蓋小產之氣血亦大傷。宜急補之。則日後坐胎不致再有崩漏。用人參、當歸、白朮、各五錢。茯苓三錢。熟地一兩。杜仲二錢。炮姜五分。此方乃補氣補血之聖方。胎動而下。必損帶脈。補其氣血。則帶脈損處可以重生。他日受孕。不致有再損之虞。武之望曰。日月未足。胎氣未全而產者。謂之半產。俗呼小產。由妊婦衝任氣虛。不能滋養於胎。胎氣不固。或顛撲閃墮。致氣血損動。或因熱病溫瘧之類。皆令半產。忌黑神散。恐犯熱藥。轉生他疾。宜玉燭散、和經湯之類。薛氏云。小產重於大產。但人輕忽致血者多。治法宜補形氣。生新血。去瘀血。若未足月痛而欲產。芎歸補中湯倍加知母止之。產而血不止。人參黃耆湯。產而心腹痛。當歸川芎湯。胎氣弱而小產。八珍湯。血出過多而發熱。聖愈湯。汗不止。急用獨參湯。發熱煩躁。肉瞤筋惕。八珍湯。大渴面赤。脈洪而虛。當歸補血湯。身熱面赤。脈沉而微。四君加姜附。東垣云。晝發熱而夜安靜。是陽氣自旺於陽分也。晝安靜而夜發熱。是陽氣下陷於陰分也。晝夜俱發熱。重陽無陰也。峻補其陰。王太僕云。如大寒而甚。熱之不熱。是無火也。熱來復去。晝見夜伏。夜發晝止。時節而動。是無火也。如大熱而甚。寒之不寒。是無水也。熱動復止。倏忽往來。時動時止。是無水也。陽氣自旺者。四物二連湯。陽氣陷於陰者。補中益氣湯。重陽無陰者。四物湯。無火者。八味丸。無水者。六味丸。</p>

<h3>治小產病方</h3>
<p><u>白扁豆散</u>　治服打胎毒藥。</p>
<p>白扁豆為末。新汲水下三錢即蘇。口噤者抉口灌之。</p>
<p><u>芩術湯</u>　清熱安胎。</p>
<p>條芩　白朮</p>
<p><u>安胎丸</u>　治同上。</p>
<p>即將前方為丸。白湯下。</p>
<p><u>金匱當歸散</u>　治同上。</p>
<p>黃芩　白朮　當歸　川芎　白芍（各一兩）</p>
<p>每末二錢。酒下。或酒糊丸。米湯下亦可。</p>
<p>鰲按。古人用術燥濕。芩清熱固已。而胎尤賴血培養。此方加芎歸芍以補血。則胎自安。且易產。所生子更無胎毒。痘症亦稀也。素慣小產者更宜服。以清其源。</p>
<p><u>五味安胎丸</u>　治同前。</p>
<p>即前方用酒糊丸。此方白朮減半。</p>
<p><u>芎歸補血湯</u>　治同上。</p>
<p>當歸　黃耆　白朮　杜仲　白芍（各一錢）　乾薑　阿膠　五味子　川芎　木香　人參　甘草（各五分）</p>
<p>一方無木香。此兼治胎漏而墮。</p>
<p><u>安榮湯</u>　治同上。</p>
<p>熟地　白芍　川芎　桑寄生　當歸　阿膠　香附　白朮　砂仁　黃芩（各一錢）　糯米（百粒）</p>
<p><u>和痛湯</u>　治小產心腹痛。</p>
<p>四物（各錢半加）　延胡索（一錢）　澤蘭　香附　青皮（各八分）　桃仁　紅花（各五分）　加酒　童便</p>
<p><u>千金保胎丸</u>　凡婦人三月小產者。雖氣血不足。乃中衝脈有傷。中衝脈即陽明胃經。供應胎孕。至此時必須節飲食。絕欲戒怒。庶免小產之患。服此可以保全。</p>
<p>薑汁炒熟地　土炒白朮　姜杜仲　酒當歸　酒續斷　阿膠珠　四制香附　益母膠　條芩（各二兩）　陳皮　醋艾葉　川芎（各一兩）　砂仁（五錢）</p>
<p>棗肉丸。</p>
<p><u>泰山磐石散</u>　治氣血兩虛。或肥而不實。或瘦而血熱。或肝脾素虛。倦怠少食。屢致墮胎。</p>
<p>人參　黃耆　當歸　川斷　黃芩（各一錢）　熟地　川芎　白芍（各八分）　白朮（二錢）　炙草　砂仁（各五分）　糯米（一撮）</p>
<p>但覺有孕。每三五日進一服。至四月後無慮矣。</p>
<p><u>涼胎飲</u>　治胎氣熱而不安。</p>
<p>生地　白芍（各二錢）　當歸　黃芩（各一二錢）　甘草（七分）　枳殼　石斛（各一錢）　茯苓（一錢半）　熱甚加黃柏一二錢</p>
<p><u>胎元飲</u>　治衝任失守。胎元不安不固者。隨症加減用之。或間日。或二三日服一。</p>
<p>人參隨宜　當歸　杜仲　白芍（各二錢）　熟地（二三錢）　白朮（錢半）　炙草（一錢）　陳皮（七分無滯者不用）</p>
<p><u>四聖散</u>　治漏胎下血。</p>
<p>黃芩　白朮　阿膠　砂仁</p>
<p>等分。每末二錢。艾湯下。一方有芍藥。無阿膠。此方若改湯劑。砂仁減半。</p>
<p><u>固胎煎</u>　治肝脾多火多滯。而屢墮胎者。</p>
<p>黃耆（二錢）　白朮（一二錢）　陳皮（一錢）　當歸　白芍　阿膠（各錢半）　砂仁（五分）</p>
<p><u>四物二連湯</u>　治血虛發熱。或口舌生瘡。或晝安夜熱者。</p>
<p>四物加胡黃連　宣黃連各一錢</p>

<h2>臨產</h2>
<p>夫胎前產後。皆為易病之時。皆為易病而難治之時。尤不若臨產時為更危險也。蓋產之易者。諸凡順當。母子俱安。產之難者。生死反掌。必須救治。方能起死回生。稍不急救。多致夭枉。救不得法。藥不應手。亦莫能全生。可不懼哉。蓋有少婦初生。神氣怯弱。子戶未舒。腰曲不伸。展轉胎側。兒不得出。故難產者。有中年婦人。生育多。氣血虛。而難產者。須胎前服調理之藥。乃易產。有臨產努力太早。兒轉未逮。以致胎落於胯。及兒欲出時。母力已乏。而難產者。先以獨參湯接力。次服藥。宜滑胎散。有將產之際。愚蠢穩婆。不審其偏正。每腹痛。努力催生。以致橫生逆產者。宜催生四物湯。有體肥脂厚。平素安逸而難產者。有石矮婦人。交骨不開而難產者。蓋交骨不開。乃元氣虛弱。胎前失於調養。以致氣血不能運達而然也。宜加味芎歸湯、交骨不開方。有破胞久。漿水瀝盡。產門風進。產路乾澀而難產者。俗名瀝胞生。宜神應散。有血先下。或胞漿先下。子逆上衝者。宜子逆湯、黃葵子散。有產不下。橫逆生而欲絕者。宜加味芎歸湯。有臨產腰腹痠疼見紅者。宜催生如意散。有胎死腹中不下者。驗其舌色青黑腹冷是也。宜二陳湯加朴硝五錢。即朴硝一味亦可。若天寒時。須使胎得暖氣才下。急服藥。宜官桂丸。此方暑天及內熱者皆禁用。其死胎不下。反上衝心而欲絕者。急服藥。宜牛膝二兩。砂仁、丹參各二錢煎。虛加人參。又方。伏龍肝末酒下。有腹中積水。腹大異常。脈細而弱。名曰胞水。臨產必去水斗余方產者。方載胎前。有臨產去血太多。昏不知人。產下即死。曰血暈者。宜芎歸湯。若產後虛脫。兼防血暈。宜人參、鹿角膠、蘇木煎。入童便服。有火盛血奔上而昏暈者。宜清魂散。如不醒。以韭汁和醋灌之。或醋炭法熏之。又不醒。急掐人中。提頂心頭髮。薑汁童便灌之。即活。有失血過多。虛熱太甚。目暗神昏。手足冷者。宜川芎、當歸、人參、薑、桂。汗多加黃耆。有才產。忽然噤口。語言顛倒。乍見鬼神。由敗血攻心者。宜妙香散。有臨盆用力太過。氣血暈悶。不省人事者。宜膠珠湯。有將產而痢不止者。宜四君子湯加白芍、杜仲、赤石脂、菟絲子、建蓮、山藥、芡實、砂仁。有子下而胞不下。由敗血灌入胞中者。宜牛膝歸尾湯、牛膝芒硝酒。或草紙菸熏其鼻。令納氣自下。或胞不下。而臍腹堅。疼脹急。病更甚。宜牛膝湯。有兒胞下後。膀胱落下。名曰茄病。或由臨盆用力太過。或由血氣兩虛。其色紫者可治。白者難治。先用熏洗法。宜急以黃連、狗脊、五倍子、水楊根、枯礬各一錢。為末煎湯。先熏後洗。乘熱輕輕托進。一二日自愈。急服藥。宜補中益氣湯、十全大補湯。去耆、苓。加陳皮、枳殼、茱萸。有子宮落下。痛不可忍。名曰瘣疾者。宜鐵粉散。外用托藥或摻藥。有氣血虛而產門不閉。必須大補者。宜加味芎歸湯。一法用石灰炒熱。淬水洗。即閉。至臨產危症。莫有如偏產、倒產、橫產、礙產、盤腸產、悶臍產、數大端。最為生死交關之候。然亦非無法以處之者。切不可驚惶擾亂。致產母心怯。然後依法治之。無弗安然也。其原由方治。俱採前人之論。詳錄於後。以前人論極明當。毋庸續說也。其有胞水先破。不即產。甚至延及兩三日、四五日者。此亦甚險。急早調治。宜魚膠五錢煅存性酒下。或冬葵子三錢炒煎服。夫如是而臨產之病。庶可免矣。</p>
<p><u>脈法</u>　脈經曰。懷妊離經。其脈浮。設腹痛引腰脊。為今欲生也。又曰。懷妊六七月。脈實大堅牢。弦緊者生。沉細者死。又曰。脈勻細。易產。大浮緩。氣散難產。脈訣云。欲產之婦脈離經。沉細而滑也同名。夜半覺痛應分誕。來朝日午定知生。又曰。身重體熱寒又頻。舌下之脈黑復青。反舌上冷子當死。腹中須遣母歸冥。面赤舌青細尋看。母活子死定應難。唇口俱青沫又出。母子俱死總教拼。面青舌赤沫出頻。母死子活定知真。不信若能看應驗。尋之賢哲不虛陳。（以上附驗看生死法）李梴曰。臨產六至。脈號離經。或沉細滑。如無即生。浮大難產。寒熱又頻。此是凶候。急於色徵。面頰唇舌。忌黑與青。面赤母活。子命必傾。若胎在腹。子母歸冥。</p>
<p><u>產難</u>　嚴用和曰。有欲產暈悶者。乃臨產時氣血忽然暈悶。不省人事。蓋因用力太過。脈理衰微。精神困倦。心胸痞悶。目眩口噤。面青發直。命在須臾。急用來蘇散。有胞肥難產者。乃身居富貴。口厭甘肥。聚樂不常。食物無度。既飽便臥。致令胞胎肥厚。根蒂堅固。行動氣急。蓋緣不曾預服瘦胎之藥。故至難生。入月可服無憂散。則易生。萬全曰。凡臨產一二日間艱難者。只以加減五苓散主之。如過二三日。人事強實。飲食能進者。此胞漿乾澀也。加味四物湯調益元散主之。如過二三日。人事困頓。飲食少者。此中氣不足。不能運動其胎也。加味四君子湯主之。如三四日不產。或胎死腹中者。奪命丹主之。又曰。凡兒逆生。切不可用針刺足心。及鹽塗之法。兒痛上奔。母命難存。又曰。凡患盤腸生。恐防再犯者。宜於此後無孕時。多服地黃丸。加五味子一兩。肉桂一兩。以固下元之關鍵。及有孕時。多服胡連丸加人參一兩以補氣。又服三補丸以涼血。如滑胎瘦胎之藥。切勿輕服於入月之時。再服八物湯加訶子、瞿麥、蜜炙粟殼。服十餘劑。庶可免矣。張介賓曰。妊娠將產。切不可占卜問神。使巫覡妄言凶險。恐嚇謀利。禱神祈佑。產婦聞之。致生疑懼。夫憂慮則氣結。滯而不順。多致難產。切戒。又曰。滑胎法。惟欲易產耳。然難產之由。在血之盈虛。不在藥之滑利。蓋血多則潤而易產。血虧則澀而難產。故於未產前。但宜以培養氣血為主。如滑胎煎、五福飲、小營煎、四物、八珍之類。即皆滑胎要藥。若用過滑利。或產期未近。無火無滯。而妄用清火行氣沉降等寒涼藥。必能暗殘榮氣。走泄真陰。多致血虧氣陷。反為臨期大害。若果肥盛氣實者。紫蘇飲、保生無憂散、滑胎枳殼散之類。皆可選用。</p>
<p><u>死胎</u>　陳自明曰。子死腹中。多因驚動太早。或觸犯禁忌。其血先下。胎乾涸而然也。須驗產母舌。若青黑。其胎死矣。當下之。用平胃散一兩。入朴硝五錢。水酒煎妙。又熱病至胎死。亦用前方效。郭稽中雲。母本患熱病。臟腑極熱。熏煮其胎致死。而用黑神散熱藥者。兒死身冷不能出。暖之即出也。劉完素曰。兒死腹中。及血暴下。胞幹不能產者。半夏湯。胞死不下。三一承氣湯調益元散五錢。或須臾再用油漿調益元散溫服。前後俱下而胎下。可活產母也。夫難產死胎不一。皆由風熱燥澀。緊斂結滯。產戶不得自然開通。故其症逆。脈弦數而澀。面赤或青。或變五色。腹滿急痛。喘悶。胎已不動者是也。手足溫而脈滑者。只為難產。但宜滑胎催生。慎不可下也。李梴曰。雙胎一死一生者。用蟹爪一盞。甘草二兩。東流水十盞。煎三盞。化阿膠三兩。分三服。則死者出。生者安。又曰。通下死胎。用霹靂丹、奪命丸。外用如聖膏塗足心。仍用催生藥。及通關散。吹鼻即下。</p>
<p><u>胞衣不下</u>　郭稽中曰。胞衣不下。因氣力疲憊。不能努出。或血入衣中。脹大而不能下。致心胸脹痛喘急。速服奪命丹。血散脹消即下。牛膝湯亦效。亦有胎下力弱。不能更用氣力。產胞經停。遇風冷乘之。血道閉澀。故胞衣不下者。急取黑豆一合炒熱。入醋一大盞。煎三五沸。分三次溫服。陳自明曰。若腸出而氣虛不能入。補中益氣湯。或蓖麻子一兩研塗母頭頂心。即上。急洗之。胞不下。塗右足心。一下即洗去。緩則仍入。益母丸亦效。其血流胞下者。急用奪命丹、失笑散。以消瘀血。緩則不救。其元氣虛不能送者。腹中不脹痛。用保生無憂散。以補固元氣。</p>
<p><u>催生法</u>　王肯堂曰。滑以流通滯澀。苦以驅逐閉塞。香以開竅逐血。氣滯者行氣。胞漿先破疲睏者固血。張介賓曰。所謂催生者。不過助其氣血而利導之。直待臨期。乃可用脫花煎。或滑胎煎。隨症加減主之。或經日久。產母困倦難生。俱宜服滑胎煎。以助氣血。令兒速生。其有氣虛無力。艱於傳送者。獨參湯隨多少接濟其力。皆為催生要法。若期未至。而妄用行氣導血等劑。亦猶宋人之揠苗耳。</p>
<p><u>臨產斟酌</u>　保產要錄曰。一臨產時。最戒用力太早。（要緊）脈訣云。夜半覺痛應分娩。來朝日午定知生。由此言之。則身痛半日後（便不宜早用力）恰當產也。但產之難易。人各不同。時亦有異。（便不可執定半日痛之說）有素易產。素難產者。有先難後易。先易後難者。俱無一定。如臨產腹痛不生。非是難生。還是子未出胎產。母切勿懼怕。即一二日至三五日無妨。安心定氣。任其自然。勉強忍痛。（要著）進其飲食。（要著）要坐則坐。要行則行。要睡則睡。莫聽穩婆逼迫。用力太早。自己亦勿求速。旁人亦勿多言。驚慌恐懼以亂其心。時至自然分娩。一穩婆逼迫有二。有不知時候。惟恐後時者。有急完此家。復往他家者。極誤大事。一未產前幾個時辰。子亦要出產戶。轉身至手。被母用力一逼。即手先出。轉身至腳。母力一逼。即腳先出。橫生倒生。皆因錯於用力。其實無手足先出之理。但於將產時。穩婆以意推度。產婦以意審詳。必是臍腹痛急。腰間重痛。眼中如火。糞門迸急。胞水或血俱下。（要緊須令產母知之）此時子已出胎。產母方用努力。庶不誤事。如數徵未到。即半日一日不產。切不可老少驚惶。求神許願。（要緊）恐產母見之。必生憂慮。一有憂慮。自然膽怯力衰。飲食難進。亦不可憫其痛楚急欲離身。強之用力。（更要緊）用力太早。關係母子性命。可不畏哉。一有用力太早。致水衣先破。被風所吹。因而產戶腫脹。乾澀狹小。但從容俟之無妨。又有穩婆無知。或有意害人。私掏破水衣者。極要關防。一將產。最戒曲身眠臥。（八九月即宜戒之臨產尤要）蓋產母畏痛。多不肯直身行動。以致胎元轉身不順。兒將到產門。被母曲腰。遮閉再轉。又轉閉則必無力而不能動。決是難產。人見其不動。則為死胎。其實因無力。非死也。此時任有良方妙藥。不能令子有力而動。只要產母心安氣和。漸漸調理。可保無虞。又有胞水已下。子忽不動。停一二日三五日者。調治之外。切戒驚恐憂懼暴躁。蓋驚則神散。憂則氣結。躁暴則氣不順。血必妄行。多至昏悶。知此善調。自然無患。一將產時。須戒喧鬧。進飲食。蓋進飲食。則氣充膽壯。不致虛乏無力。戒喧鬧則專靜自安。不致疑懼惶惑。一臨產腹痛。而腰不甚痛者。產未急也。須扶起直身而行。（要緊）若行不得。則倚物而立。（要緊）一產時。以飲食為本。有等婦人。臨產不能飲食。則精氣不壯。以何用力。必未產前預買人參二三錢。將產煎服。大助精力。勝於肉食。一交骨不開。由元氣素弱。胎前失於調攝也。用加味芎歸湯立驗。一天氣寒冷。產母血氣凝滯。兒不能速生。故衣裳宜厚。產室宜暖。背心亦宜溫和。庶兒易生。一盛暑之月。產母宜溫涼得宜。熱甚則頭痛面赤昏暈。若產室人多。熱氣蒸逼。亦致此患。若夏月風涼陰雨。亦當謹避。一將產。錯用努力。手先出者。名橫生。俗為覓鹽生。夫鹽主收斂緊縮。且蜇人痛。兒手得鹽。且痛且縮。自然轉身生下。其法急令產母仰臥。略以鹽半分。塗兒手心。仍抹香油輕輕送入。推上扶正。直待兒身轉頭出。然後服濟生方藥。以助精力。渴則以蜜半小盞。香油半小盞。入滾水化開飲之。可以潤燥滑胎。令其易產。飢則食稀粥。令其中氣不乏。審是兒欲來。方扶挾起身。用力一送。兒即生矣。如送手入後。兒轉身快。則不必服藥。足先出者。亦治如上法。一手足先出之患。其始因穩婆不知時候。誤叫用力。其繼穩婆無主張。任其出而不知治法。反叫用力而致傷命。今後但見兒手足稍有出意。即令產母仰臥。輕輕送入。莫令多出。蓋出少則易入。時未久則易入。若出久。則手足青硬。而子必傷。難以扶入。且手足出非藥可入。又切不可聽凶婦用刀斷兒手。（痛哉切戒）兒手一斷。則必腹中亂攪而兩傷矣。一產母危急時。當看面舌。面青母傷。舌青子傷。面舌俱赤。子母無恙。唇舌俱青。子母難保。凡產時子死腹中。服回生丹三丸立下。產母無恙。若一時無此藥。以平胃散一兩。投朴硝五錢。煎四五沸溫服。其胎化水而出。即不服藥。人不慌忙逼迫。亦遲遲生下而不傷母。蓋人腹中極熱。惟不忙迫。產母安心飲食。腹內熱氣熏蒸。胎自柔軟腐化。或一二日。三四日。自然生下。但所出穢氣。令人難聞。此可見死胎。不必用力。況活胎乎。一見有怪胎。人不驚慌。亦自然生下。但穩婆有見識者。勿令產母見之更妙。一產時門戶俱正。兒已露頂而不下。此因兒轉身。臍帶絆其肩也。名曰礙產。治法令母仰臥。輕輕推兒向上。以手指輕按兒肩。去其臍帶。候兒順正。扶挾起身。用力送下。又有生路未正。被母用力一逼。令兒偏柱左右腿畔。兒頭在產戶不下。但云兒已露頂。非頂也。乃額角也。名曰偏產。治法亦令產母仰臥。輕輕推兒近上。審是偏左偏右。以手扶其頭頂端正。用力送下。又有頭之後骨偏柱穀道。兒乃露額。名曰棖後。治法於穀道外旁。輕輕推兒頭令正。然後用力送下。或用膝頭令產母抵住亦可。三產之難。皆母曲腰坐臥用力太早致之。三手法。必歷練有分曉者。不可輕易。一兒出戶時。人即以兩手輕抱產母胸前。產母自亦以兩手緊抱肚臍。令胎衣下墜。如胎衣來遲。只管斷臍洗兒。但先用軟絹物。繫住臍帶。然後斷臍。系時宜輕巧牢固。此帶極脆。要用心拿定。若血流入衣中。血脹不下。治之少緩。脹滿以次上衝心胸。疼痛喘急者。難治。但服奪命丹。以速去衣中之血。血散脹消即下。回生丹最妙。服至三丸。無不下者。如無。牛膝湯亦可。濟生湯亦可。用滾酒服失笑散亦可。若腹痛。手按稍緩。此氣虛不能送出也。用無憂散、回生丹妙。益母丸亦妙。有用便捷方。以草紙菸熏產母鼻。令氣內納即下。或以滾水一杯。磨好墨一二匙沖服即下。一盤腸生者。未產腸先盤出。其治法。急將淨盆盛溫水。寒天即熱水。少入香油養潤。待兒並胞衣下時。產母略仰臥。自己吸氣上升。穩婆香油塗手。徐徐送入。一法以磁石煎湯服之。即收上。磁石須陰陽家用過有驗者。又一法。蓖麻仁四十九粒研塗產母頭頂。腸收上。急洗去。遲則有害。又一法。半夏末搐鼻中。腸自上。又一法。以麻油潤大紙捻。點火吹滅。以煙薰鼻。腸即上。又一法。腸出盛以潔淨水。濃煎黃耆湯浸之。腸即上。此法最佳。唯服大劑補中益氣湯更妙。又有兒並胞衣下後。膀胱壅出產戶者。同前法送入。此皆用力太早之故。送入後。宜服安內臟藥。一悶臍生者。兒糞門有一膜。閉住兒氣。故不能出聲。以手微拍之。則膜破而能哭矣。如拍之不破。須女人輕巧者。以銀簪腳輕輕挑破甚便。或不能挑。急用暖衣緊包。勿令散放。以熱水浸其胞衣。寒天則加火熱之。久則熱氣內鼓。其膜自破。出聲而蘇。一產後產門不閉。乃血氣虛也。服加味芎歸湯。總以補氣血為相宜。</p>
<p><u>達生篇說</u>　亟齋居士曰。臨產有六字真言。一曰睡。二曰忍痛。三曰慢臨盆。又曰。或問臨盆服藥。有益無損否。曰。安得無損。鼠兔二丸。大耗氣而兼損血。回生丹大破血而兼損氣。蓋鼠兔例用香竄之藥。產時百脈解散。氣血虧虛。服此散氣藥。兒已出而香未消。其損多矣。且令毛竅開張。招風入內。禍不可言。回生丹以大黃、紅花為君。其餘亦多消導之品。血已耗而又大破之。多致產後發熱等病。遺患無窮。都只謂產後失調。誰復歸咎於藥。按此數方。古人稱為神靈奇寶者。尚然如此。其他可知。或又問總無可用之藥乎。曰。有。只須加味芎歸湯、佛手散二方用之不盡矣。蓋胎時全要血足。血一足如舟之得水。何患不行。二方皆大用芎歸。使宿血頓去。新血驟生。藥味隨地皆有。且使身體壯健。產後無病。真正有益無損。此皆先賢洞明陰陽之理。制此神方。以利濟後世。奈何人只求奇怪之藥。不論損益。豈不可嘆。</p>
<p><u>臨產逐條要論</u>　醫宗金鑑坐草條曰。凡產婦坐草。最要及時。不可太早。若兒身未順。寧可遲遲。寬心以待。又臨盆條曰。凡兒之生。自有其時。時至則兒身轉順。頭頂正當產門。胞漿大來。腰重腹痛。穀道挺迸。產母中指中節或本節跳動。此方為正產之時。方可臨盆用力送兒。自順生矣。又曰。臨產之家。必用收生婆。須預擇老成歷練。明白經事之人。無故切勿令其先使手法。如試水探漿等事。但囑令寬心寧耐可也。又驚生條曰。產室之內。不可多人。人多則語聲喧譁。產母之心必驚。驚則心氣虛怯。至產時多致困乏。號曰驚生。有如此者。須急急摒出。只留服役一二人。使寂靜而無嘈雜之聲。則母心始安。安則其心亦寧靜矣。又產室條曰。產室之內。四時俱要寒溫適中。若大熱大寒。均不相宜。夏月必須清涼。勿使炎熱。致產母中暑暈迷。冬月必須溫暖。勿令寒冷。以致血凝難產。又曰。妊娠月數未足時。或腹中痛。痛定如常者。此名試胎。宜養血以安其胎。若月數未足。腹痛或作或止。腰不痛者。此名弄胎。不宜輕動。二者均非正產之時。切勿躁擾疑惑。惟宜寧靜以待其時。</p>
<p><u>體元子借地法</u>　東借十步。西借十步。南借十步。北借十步。上借十步。下借十步。壁方之中。四十餘步。安產借地。或有穢汙。或有東海神王。或有西海神王。或有南海神王。或有北海神王。或有日遊將軍。白虎夫人。遠去十丈。軒轅招搖。舉高十丈。天符地軸。入地十丈。令地空閒。產婦某氏安居。無所妨礙。無所畏忌。諸神擁護。百邪速去。急急如律令敕。此借地法。於入月第一日朱書一幅。貼產婦房內牆壁上。更不須避忌諸神煞也。</p>

<h3>治臨產病方</h3>
<p><u>加味芎歸湯</u>　治一切橫生倒產。瀝漿生交骨不開。子死腹中等症。大劑連服。即生。神驗。</p>
<p>當歸（二錢半）　川芎（一錢）　龜板（一錢酥炙）　生子頭髮（瓦上炙存性一錢）</p>
<p>水煎服。如人行五里許即生。一方。當歸一兩。川芎七錢。龜板一個。頭髮一握。分量多少。臨時酌量。</p>
<p><u>佛手散</u>　治一切橫生倒產。子死腹中。</p>
<p>當歸（五錢）　川芎（三錢）</p>
<p>水七分。酒三分。同煎七分服。一方。遇橫生倒產死胎。加馬料豆一合。炒乘熱淬水中。加童便一半煎服。少刻再服。</p>
<p><u>滑胎飲</u>　治臨產努力太早者。</p>
<p>滑石（一兩）　冬葵子（五錢）　甘草（一錢）</p>
<p>酒下末二錢。</p>
<p><u>催生四物湯</u>　治橫生逆產。</p>
<p>四物湯加　枳殼　蜀葵子</p>
<p><u>交骨不開方</u>　治交骨不開。</p>
<p>人參（二錢）　生地（三錢）　當歸（錢半）　牛膝（錢六分）</p>
<p><u>神應散</u>　治瀝胞生。</p>
<p>生蜜　酒釀　菜油（各半杯）</p>
<p>煎數沸。入童便。潤腸易產。</p>
<p><u>子逆湯</u>　治子逆衝上。</p>
<p>人參（二錢）　砂仁（一錢）　菜油（熬一兩）</p>
<p><u>黃葵子散</u>　治同上。</p>
<p>黃葵子七十粒。</p>
<p>炒研。酒下。</p>
<p><u>催生如意散</u>　治臨產前先見紅。</p>
<p>人參　乳香（各一錢）　辰砂（五分）</p>
<p>雞子清調薑湯下。</p>
<p><u>平胃散</u>　治死胎不下。指甲青舌青。脹悶。口中作屎臭。</p>
<p>蒼朮　厚朴　陳皮（各一錢）　炙草（五分）</p>
<p>水酒煎好。入朴硝五錢。再煎三四沸。溫服。其胎化血水下。或只用朴硝五錢研細。童便調。溫服亦妙。或用二錢。順流水下。</p>
<p><u>官桂丸</u>　治同上。</p>
<p>當歸　官桂　甘草　白芍　炮姜　生地（各一兩）　黑豆（三兩）</p>
<p>共為末。酒下。</p>
<p><u>清魂散</u>　治產時血暈。</p>
<p>澤蘭　荊芥　人參（各一錢）　川芎（四錢）　甘草（三分）</p>
<p>為末。</p>
<p><u>牛膝歸尾湯</u>　治胞衣不下。</p>
<p>牛膝　歸尾　木通（各三錢）　滑石（四錢）　秋葵子　瞿麥（各一錢半）</p>
<p><u>牛膝芒硝湯</u>　治同上。</p>
<p>牛膝　芒硝　當歸　紅花　桃仁</p>
<p>酒煎。</p>
<p><u>牛膝湯</u>　治同上。</p>
<p>延胡索（五錢）　牛膝　當歸（各三錢）</p>
<p>酒煎。</p>
<p><u>妙香散</u>　治敗血衝心。</p>
<p>麝香（一錢另研）　辰砂（三錢另研）　木香（二錢半另研）　姜山藥　遠志　茯苓　茯神（各一兩）　人參　桔梗　甘草（各五錢）</p>
<p>酒下二錢。</p>
<p><u>二萸散</u>　治茄病。</p>
<p>吳萸　山萸　川楝子（各一錢）　白蒺藜（九分）　海藻　延胡索　桔梗　青皮（各八分）　小茴　五味（各七分）　茯苓（五分）</p>
<p>米湯下。</p>
<p><u>鐵粉散</u>　治子宮不收。</p>
<p>當歸　磁石（各五錢）　鐵粉（三錢）</p>
<p>共為末。米湯下。</p>
<p><u>托藥</u>　治同上。</p>
<p>蓖麻葉有角者。搗爛。加枯礬末。以紙片攤藥托之。</p>
<p><u>摻藥</u>　治同上。</p>
<p>先用淡竹根煎湯洗淨。次以五倍子白礬共為末摻之。</p>
<p><u>難產方</u>　總治產難。</p>
<p>川芎　當歸　榆皮　龜板　百草霜（各一錢）　前胡（七分）</p>
<p><u>勝金丹</u>　治虛勞。婦人臨產。</p>
<p>人參　白芍　赤芍　川芎　丹皮（各兩半）　肉桂　茯苓　牛膝（各二兩半）　當歸　白薇（各四兩）　藁本（三兩）</p>
<p>以上藥合一處。酒浸一日。井水淘出。焙末。四制香附末一斤。熟地四兩打和一處。再入　赤石脂　白石脂（各二兩）　乳香　沒藥（各一兩）　琥珀　硃砂（各五錢）</p>
<p>蜜丸。金箔為衣。酒下。汗出愈。兼治子宮虛冷不育。服二十丸即孕。又治積年手足麻痹。半身不遂。又下死胎。又治崩帶。又治產後等疾。不論遠近。並宜服之。又治男子五勞七傷。</p>
<p><u>如聖膏</u>　治難產。及死胎不下。十分危急者。</p>
<p>巴豆（去殼十六粒）　蓖麻子（去殼四十粒）　麝香（二錢）</p>
<p>同打如泥。攤絹帛。貼臍上一時。產下急急洗去。</p>
<p><u>奪命丹</u>　治產後血入胞衣。脹滿衝心。日久不下。危急者。</p>
<p>炮附子（五錢）　丹皮　炒乾漆（各一兩）</p>
<p>以醋一升。入大黃末一兩。熬成膏。和丸。酒下五十丸。</p>
<p><u>牛膝湯</u>　治胞衣不下。腹脹滿即殺人。服此即爛下。</p>
<p>滑石末（三錢）　冬葵子（二錢）　木通　當歸　牛膝　瞿麥（各錢半）</p>
<p><u>奪命丸</u>　治小產下血多。子死腹中。憎寒。手指唇口爪甲青白。面色黃。黑胎上搶心。悶絕欲死。冷汗出。喘滿不食。或誤服毒物草藥。傷動胎氣。下血不止。胎尚未損者。服之可安。已死可下。若胎腐腹中危急者。立可取出。此方的系異人傳授。至妙。</p>
<p>桂枝　丹皮　赤苓　赤芍　桃仁</p>
<p>等分。蜜丸芡子大。空心服三丸。淡醋湯下。此即仲景桂枝茯苓丸。但用淡醋湯下不同耳。</p>
<p><u>蟹爪散</u>　下胎極效。妊婦有病欲去胎者宜此。</p>
<p>蟹爪（二合）　桂心　瞿麥（各一兩）　牛膝（二兩）</p>
<p>每末一錢。空心酒服。</p>
<p><u>滑胎煎</u>　臨月宜常服數劑。以便易生。亦治胞衣不下。</p>
<p>當歸（三五錢）　熟地（三錢）　杜仲　山藥（各二錢）　川芎　枳殼（各七分）</p>
<p>食前溫服。氣弱體虛。加人參、白朮。隨宜用之。</p>
<p><u>又方</u>　治同上。</p>
<p>阿膠（八兩）　滑石（三兩）　車前子（一升）</p>
<p>每末方寸匕。米飲下。日二服。至生月。乃服此藥。大利九竅。切不可未至臨月。先服或多服。虛弱人亦不可服。</p>
<p><u>保生無憂散</u>　治胎肥氣逆。臨蓐難產。</p>
<p>酒浸當歸　鹽枳殼　川芎　木香　白芍　炙草（各錢半）　血餘炭（另研）　乳香（另研各五分）</p>
<p>水煎。入二末。不拘時服。</p>
<p><u>半夏湯</u>　治胞干。不能生產。</p>
<p>半夏曲（兩半）　肉桂（七分）　大黃（五分）　桃仁（略炒三十枚）</p>
<p>先服四物湯一二帖。次服本方。每咀片一錢。加姜三片煎。</p>
<p><u>小營煎</u>　治胎衣不下。臨月服之亦易生。</p>
<p>炒白芍　當歸　山藥　杞子（各二錢）　炙草（一錢）　熟地（二三錢）</p>
<p>食遠溫服。</p>
<p><u>脫花煎</u>　凡臨盆將產者。宜先服此藥催生最佳。並治難產。經曰。或死胎不下。俱妙。</p>
<p>川芎（二錢）　當歸（七八錢或一兩）　肉桂（一二三錢）　牛膝（二錢）　車前子（一錢半）　紅花（一錢催生不用亦可）</p>
<p>水二盞。煎八分。熱服。或服後飲酒數杯亦妙。若胎死堅滯不下者。加朴硝三五錢即下。</p>
<p><u>胡連丸</u>　安胎聖藥。</p>
<p>條芩（四兩）　砂仁（略炒）　炙草（各一兩）　白朮　蓮肉（各二兩）</p>
<p>用山藥四兩。打糊為丸。米飲下。</p>
<p><u>壽脾煎</u>　一名攝營煎。治心脾氣虛。胎動不安。</p>
<p>白朮（二三錢）　當歸　山藥（各二錢）　棗仁（錢半）　炙草（一錢）　遠志（三五七分）　炮姜（一二錢）　炒蓮肉（二十粒）　人參（一二錢急者隨症多加）</p>
<p><u>五福飲</u>　治氣血俱虛。胎動不安。</p>
<p>人參（隨宜）　熟地（二三四錢）　當歸（二三錢）　炙草（一錢）　白朮（錢半）</p>
<p>食遠溫服。</p>
<p><u>紫蘇飲</u>　治妊娠失調。胎氣不安。上攻作痛。名曰子懸。並臨產氣結不下等症。</p>
<p>人參　甘草（各五錢）　大腹皮　川芎　紫蘇葉　白芍　陳皮　當歸（各一兩）</p>
<p>每粗末一兩。加蔥姜煎。一方。無人參有香附。又一方無川芎。名七寶散。若肝脾氣血虛而有火不安者。宜兼逍遙散。若脾氣虛弱而不安。宜四君芎歸湯。</p>
<p><u>滑胎枳殼散</u>　妊娠七八月。宜常服此。滑胎易產。即湖陽公主所服方也。</p>
<p>麩枳殼（二兩）　炙草（一兩）</p>
<p>每末三錢。千沸湯點服。一方。加當歸、木香等分。蜜丸。所以佐枳殼之苦寒也。名內補丸。</p>
<p><u>來蘇散</u>　治臨盆用力太過。氣脈衰弱。精神困倦。目眩頭暈。口噤面青發直。不省人事。</p>
<p>木香　神麯　陳皮（去白）　麥芽　阿膠　黃耆　白芍　苧根　甘草（各三錢）　糯米（一合半炒黑生薑一錢）</p>
<p>水煎。如不下。抉口灌之。速進為妙。</p>
<p><u>加味四君子湯</u>　治嘔逆不止。</p>
<p>人參　白朮　茯苓　炙草　半夏　陳皮　藿香　砂仁</p>
<p>每粗末四錢。加姜三棗二煎。</p>
<p><u>油蜜煎</u>　治難產。瀝漿胞。干胎不得下。</p>
<p>香油　白蜜</p>
<p>童便各一碗。和勻。慢火煎一二沸。掠去沫。入滑石末一兩。或益母草末。攪勻。頓服。外以油蜜於母腹臍上摩之。一方。止用油蜜童便。能下難產。</p>
<p><u>霹靂丹</u>　治臨產忽然氣痿。目翻口噤。面黑唇青。沫出。子母俱損。兩頰微紅。子死母活。</p>
<p>蛇蛻（一條瓦罐內煅）　蠶蛻（燒存性二錢）　男發灰（一錢）　黑鉛（二錢半）　制水銀（七分半）　千里馬（即路上左腳草鞋一隻取鼻洗淨燒灰一錢）</p>
<p>豬心血丸桐子大。金箔為衣。每二丸。倒流水灌下。或入伏龍肝調下。生著兒頭戴出。</p>
<p><u>黑神散</u>　一名催生如聖散。治橫生逆產。其功甚大。並治胎前產後。月水不止崩漏等症。</p>
<p>白芷不見火　百草霜</p>
<p>等分每末二錢。以童便米醋和如膏。加沸湯調下。或童便酒煎。進二服。血得黑則止。此方大能固血。又免血涸甚妙。一方。加滑石末煎。芎歸湯送下。</p>

<h3>附前人效方</h3>
<p><u>三合濟生湯</u>　治臨產艱難。雖一日不下者。服此自然轉動下生。</p>
<p>當歸（三錢）　川芎　枳殼（各一錢）　香附　大腹皮（各一錢半）　蘇葉（八分）　甘草（七分）</p>
<p>水煎。必待腰腹痛甚。服之即產。一方。加白芷一錢。此方乃以枳殼芎歸達生三方。抽其精粹而成合此湯。</p>
<p><u>產難方</u>　治產難。累日氣力乏盡。不得生。此是宿有病者。宜此方。</p>
<p>阿膠（二兩）　赤小豆（二升）</p>
<p>水九升。煮豆令熟。去豆。化膠。每服五合。不覺更服。不過三服。即出。</p>
<p><u>勝金丹</u>　治難產神效。</p>
<p>敗兔毫筆頭一枚。燒灰研細。生藕汁一盞下之。立產。若虛弱及素有冷疾者。恐冷動氣。即於銀器內重湯溫過服。</p>

<h1>卷四</h1>

<h2>產後</h2>
<p>俗云。胎前一團火。產後一盆冰。理固然也。蓋以胎前每多邪熱。易至氣血沸騰。故如火。產後真元大損。氣血空虛。其如冰也必矣。故產後之疾。先以大補氣血為主。縱有他疾。亦以末治之。或欲祛邪。必兼補益。此大較也。其間又當細分氣虛血虛。血悶血脫。症候之別。以或補或泄之。蓋氣虛者當補氣。血虛者當補血。血悶者嬰兒下盆之後。血上衝心。以致牙關緊閉面色赤。脈洪數。須問產時去血多少。可以行瘀藥導之。血脫者。因兒下之時去血過多。面色白。唇舌色淡。短氣不足以息。脈來或沉或浮。宜用人參。即血脫補氣之說也。然亦有血雖脫而瘀血未盡者。其腹內痛。必攻補兼施。血脫者但骨節痛。以此為辨耳。夫產後氣血大虧。固多虛症。然有全虛者。或有虛實兼者。間又有全實者。亦不可不辨。概作虛治。其說詳見於後張氏論中。至月內產母。切不可恃健。不自保重。或勞碌以損榮。或多食以傷胃。外感六淫之邪。內傷七情之氣。倘絲毫犯之。甚至惡露未盡。而作熱作疼。真元難復。而為勞為痿。其為患有不可勝言者。伕力壯易產者。尚不免感疾。況素虛弱。而可不慎乎。蓋產後病最重而難治者。莫如蓐勞。蓐勞之由有二。一由內傷。因產理不順。調養失宜。或憂勞思慮。傷其臟腑。榮衛不宣。令人寒熱如瘧。頭痛自汗。痰咳氣逆。虛羸喘乏。體倦肢怠。宜補虛湯。一由外感。不滿日月。氣血虛耗。風冷乘之。與氣血相搏。不能溫於肌膚。令人發熱憔悴。飲食不消。肢體煩痛。若風冷之邪。感入於肺。肺受微寒。咳嗽口乾。頭昏體痛。榮衛受於風邪。流注臟腑。發眩盜汗。寒熱如瘧。背膞煩痛。肢體沉重。此皆蓐勞之所由成也。宜白茯苓散、加味佛手散、人參鱉甲散。其或兼內傷飲食泄瀉。與夫瘀血未盡者。皆有之。不可不別也。產後又有三大病。一病痙。二病鬱冒。三病大便難。仲景云。新產血虛。多汗出。喜中風。故令病痙。亡血復汗。寒多。故令鬱冒。亡津液。胃燥。故大便難是也。余每臨症。詳察病情。三者常相因。如新產胃虛。不食。往往昏冒而神不清。或厥。是鬱冒也。宜白薇湯。鬱冒則多汗。必致痙。宜鉤藤湯。且多汗。必液少而大便秘。至五七日七八日之久。宜養榮血。腸自潤矣。宜蘇麻粥。產後血暈。亦險症也。宜立應四物湯。於產兒下地時。用荊芥炭五分。童便調服。可預防血暈之患。其或血去過多而暈。宜芎歸湯加人參。或為血閉血迷而暈。宜血竭破棺丹。皆宜詳究。產後中風。口噤。牙關緊閉。手足瘛瘲者。以氣血大損。經絡空虛。勞碌太早。風邪從虛而入。宜舉輕古拜散、小續命湯。故忽然口眼喎斜。痰涎潮壅。或角弓反張。宜大豆子湯。產後傷寒。因氣血大虛。雖有寒邪。不可大發散。宜芎歸湯加參、蘇、葛根微汗之。即或大熱不止。宜芎歸湯加黃連、知母。亦不可妄投峻劑。以耗元氣。苟非正傷寒。不可絕其飲食。二者皆產後重症。不可輕視。產後發寒熱。多因血虛。只宜養血。其外感者十之一二。即系外感。不可大發散。只宜和解。或陰分不足。憎寒壯熱。日輕夜重。宜四物湯加炭姜。微熱加茯苓。或血虛發熱。而自汗心煩短氣。宜人參當歸散。或因乳蒸而發熱。宜四物湯加黃耆、花粉。或因收束骨節而發熱。此不必藥。只多服益母草湯足已。產後兒枕腹痛。宜延胡索散。或身體壯熱。小腹有塊而痛。亦名兒枕。宜歸尾澤蘭湯、杏蘇散。或不發熱。但腹痛。或有塊。時起時沒。亦名兒枕。宜延胡索散、歸尾澤蘭湯。二症皆產後所常患。幾於十人而八九。調治之可也。產後心腹痛。則以敗血凝聚。氣上衝心之故。宜大岩蜜湯。亦或七情相干。血與氣並而心疼。宜延胡索湯。亦或敗血攻刺心腹而疼。宜當歸失笑散。亦或寒氣相侵而腹疼。宜理中湯。吐加姜。小便不利加茯苓。腎氣動去朮。產後遍身疼痛。因氣血走動。升降失常。留滯於關節間。筋脈引急。或手足拘攣。不能屈伸。故遍身肢節走痛。宜趁痛散。若瘀血不盡。流於遍身。則肢節作痛。宜如神湯。產後頭痛。有由血虛所致者。其症朝輕暮重。時作時止。雖亦太陽巔頂痛。惟眉稜骨不痛。不可作外感治。若風寒頭痛。則無時間止。並眉稜骨痛耳。然雖屬風寒。亦宜以四物加減。或手足搐搦。咬牙。頭痛而昏冒者。尤宜急治。宜先用四物湯加減。後用秦艽湯。有頭疼作嘔不食者。乃血虛火炎也。宜麥冬橘紅湯。如嘔止而頭痛。加天冬。產後腹痛嘔吐。由惡露下少。敗血乘虛散入於脾而為脹滿。胃受之則嘔吐也。宜抵聖湯。或腹脹嘔逆。為胃不和。宜桔梗半夏湯。或乾嘔不止。不思食。為胃弱不和。宜和胃湯。產後腿痛。不能立久。而不進飲食。此脾陰不足之候。脾主四肢。故病下體也。宜石斛牛膝湯。甚則連腰臍腿胯俱痛。則又兼腎氣之不足矣。宜補骨四物湯。以上諸痛症。患之者雖不若寒熱兒枕痛之多。要皆為產後所常患者。此外則有由內因者。如產後不語。因敗血上干於心。心氣閉塞。舌為心苗。故舌強不語。宜逐血補心湯。亦或痰氣壅滯。目閉不言。宜白礬湯吐之。亦或惡血攻心。欲死而不語。宜鬱金三錢。燒存性。醋調服之。產後浮腫。有因敗血蓄於五臟。循經流入四肢而化為水。因乘虛浮腫者。宜調經湯。有氣血大虛。肢體浮者。不可利水。宜八珍湯。有浮腫而有水氣當利者。宜宣氣湯。產後怔忡驚悸。心血虛耗也。必睡不寧。宜養心湯、益榮湯。心氣虛耗亦然。宜茯苓湯。產後乍見鬼神。由血虛之極。敗血攻衝。邪淫於心。胡言亂語。如見鬼祟。非風邪也。宜調經散、妙香散。產後氣喘急。下血過多。榮血暴竭。氣無所主。獨發於肺。故令喘。此孤陽絕陰。難治。若敗血停滯。上朝於肺。而亦作喘。宜奪命丹、固血湯。氣滯。亦作喘。宜蘇木湯。若自汗不止。飲湯即汗。為氣虛。亦作喘。宜蘇木湯加歸、地、黃耆。不效。宜補心。心主血。又汗為心液。故血耗而病汗也。宜白芍、棗仁、五味子等。痰飲盛。亦作喘。宜潤肺湯。產後驚悸。聞聲欲死。非他人用力抱持。則虛煩欲死。由心肝脾三經虛也。宜石斛散。產後五六朝。狂亂胡言。持刀欲殺人。乃陰血暴崩。肝火虛炎也。宜澤蘭湯。產後陰虛血弱。有煩悶者。宜知母湯。亦有因虛耗而血熱心煩口渴者。宜涼血飲、生脈散。產後失血。或因去血過多。兼腹疼身熱自汗。宜當歸黃耆湯。或兼眩暈。宜芎歸湯。或兼虛熱。宜芎歸湯加人參、薑炭。或兼腹痛。宜加肉桂。或兼寒熱往來。盜汗脈浮。宜和解四物湯。或兼陰虛內熱。而自汗心煩氣短。宜當歸建中湯。產後諸淋。宜茅根湯。或則敗血不止。淋漓不斷。宜烏金散。或則淋久不止。四肢沉困無力。宜牡蠣散。或則小便閉而淋瀝。小腹膨脹。宜祐元湯。產後口鼻黑而衄。由產時氣消血敗。榮衛不理。散亂入於諸經。不得還元。故口鼻黑氣而變衄血。此乃產後虛熱成為胃絕肺敗。皆死症也。宜犀角地黃湯。若產後即見鼻衄。則由血溢妄行。宜必效四物湯。產後虛渴。必口乾少氣。足弱。頭昏目暈。宜熟地黃湯。產後消渴。飲水不止。由於液枯火燥已極。宜止渴四物湯。產後小便不利。宜木通散。大便閉結。宜通潤四物湯。皆由火盛。產後小便尿血。宜牛膝一味濃煎。大便下血。宜黃連四物湯。皆由血虛而熱。產後惡露不下。有結聚成塊。心胸煩悶。臍下堅痛者。宜當歸血竭丸。有惡露不下。兼受冷熱勞碌。腰脊骨煩疼者。宜丹參散。有惡露不下。寒熱交攻。心慌昏沉。腹中痛者。宜通瘀飲。有惡露方下。忽然斷絕。驟作寒熱。臍腹百脈皆痛如錐刺。由冷熱不調。或思慮動作氣所壅遏。血蓄經絡者。宜沒藥丸。產後惡露不止。小便急痛。宜磨塊四物湯。或血下過多。漸至瘦弱。宜八珍湯去甘草。加厚朴、黃柏、阿膠、丹皮。或下如豆汁。紫黑過多。宜加味四物湯。或至月餘。猶淋瀝不止。已為陷下。宜加味四物湯。或下不止。至於數月及半載之久。宜千金方。或惡血不絕。崩血不可禁。腹中絞痛。氣息急。宜牛角腮丸。或惡露淋瀝不斷。心悶短氣。四肢乏弱。頭目昏重。五心煩熱。面黃體瘦。宜牡蠣散。以上皆由於內因者。又有由外因者。如產後下痢腹痛。裡急後重。宜香連散加消導藥。或痢久不止。宜四君子湯加收斂藥。產後瘧疾。治與胎前略同。卻宜以虛為主。其或寒熱往來。或熱多於寒皆是也。宜草果飲。產後泄瀉。有挾寒腹痛。腸鳴小水清白。口不渴者。宜君苓湯加肉果、肉桂、白芍。有熱泄腸垢。口渴。痛一陣下一陣者。宜君苓湯加黃連、木通、六一散。有濕勝水泄者。宜胃苓湯。產後霍亂。或渴而飲水。宜五苓散。或寒多不渴。宜人參理中湯。或吐利厥冷。宜附子理中湯。或腹痛甚而手足寒。宜高良薑散。或轉筋。宜木瓜散。不止。辣蓼煎湯洗之。產後偏正頭風。有頭疼目眩者。宜愈風四物湯。有風壅目眩。遍身疼痛者。宜瀉肝四物湯。產後四肢麻痹。皮膚搔癢不仁。皆血虛風襲之。宜逐邪四物湯。產後大驚恐而發寒熱。嘔吐痰盛。嘔即汗出。宜八珍湯加黃耆。小腹痛加桂。產後閃傷。腹痛。血崩。宜兼去瘀。宜五靈脂湯。或代赭石湯。產時穩婆誤損其尿胞。每致日夜淋瀝。宜參朮膏。以上皆由於外因者。而又有兼內外因者。如產後風痿。經云。諸風痿弱。筋攣無力。血不足以養筋也。宜血風湯。有血弱氣虛多汗。風摶而成痓者。其症口噤。脊強反張。若汗出不止者死。宜大聖湯加川芎。產後咳嗽。有因惡露上攻。肺經受邪者。宜二母散。有感風咳嗽。由外邪。惡風寒發熱者。宜參蘇飲。有產後血風感寒暑濕氣。咳嗽喘滿壅甚者。宜旋覆散。產後腳氣。熱悶氣上衝。若因平日感六淫之氣。今又因產後血氣不足。遂襲於足經。因乘虛而發也。宜獨活寄生湯。以上皆兼內外因者也。產後之病。其繁瑣累重若此。丹溪謂寧治十男子。莫治一婦人。正以此也。至於生子有乳。乃天地化生自然之理。所謂有是子。則有所以養是子者。其或不行。皆由氣血虛弱。經絡不調所致。或產後乳脹疼痛。由年少之人。初經產乳。內有風熱也。須服清利藥則乳行。若累經產而無乳。亡津液故也。須服滋陰藥。若雖有乳。卻苦其少。須服通經藥。並引以羹臛。蓋乳資於衝脈與胃經通也。此其大略也。其或產後血氣盛實而乳汁不通。宜通草散。其或婦人肥盛。氣脈壅滯而乳不通。又經絡凝滯。乳內脹痛。欲作癰腫。宜漏蘆散、秘傳湧泉散。其或乳汁不通。或乳房結硬疼痛。宜皂角散。其或氣血虛而乳不通。宜加味四物湯。其或乳脈不行。身體壯熱疼痛。頭目昏痛。大便澀滯。宜玉露散。其或氣脈不足。經血衰弱。而乳汁澀少。宜通乳湯。皆當隨症而各與以藥。乃有乳汁自出者。是胃氣虛所致。宜止以補藥。若乳多溢滿急痛。溫帛熨之。但以漏蘆散亦可。有未產前而乳汁自出者。謂之乳泣。生子多不育。此無藥可服。至如乳上外症。詳雜病中。茲不重載。</p>
<p><u>脈法</u>　脈經曰。診婦人新生乳子脈。沉小滑者生。實大堅弦急者死。診婦人新生乳子。因得熱病。其脈。懸小。四肢溫者生。寒清者死。診婦人生產。因中風傷寒熱病。喘鳴而肩息實者。浮緩者生。小急者死。診婦人生產之後。寸口脈焱疾不調者死。沉微附骨不絕者生。脈訣曰。產後因得熱病臨。脈細四肢暖者生。脈大忽然肢逆冷。須知其死不留停。陳自明曰。新產之脈緩滑吉。實大弦急死來侵。若得沉重小者吉。忽若堅牢命不停。寸口澀疾不調死。沉細附骨不絕生。審看此後分明記。長鬚念此向心經。</p>
<p><u>產後脈症總論</u>　仲景曰。新產婦人有三病。一者病痙。二者病鬱冒。三者大便難。何謂也。師曰。新產血虛。多汗出。喜中風。故令病痙。亡血復汗寒多。故令鬱冒。亡津液胃燥。故大便難。產婦鬱冒。其脈微弱。嘔不能食。大便反堅。但頭汗出。所以然者。血虛而厥。厥而必冒。冒家欲解。必大汗出。以血虛下厥。孤陽上出。故頭汗出。所以產婦喜汗出者。亡陰血虛。陽氣獨盛。故當汗出。陰陽乃復。大便堅。嘔不能食。小柴胡湯主之。又病解能食。七八日更發熱者。此謂胃實。大承氣湯主之。又產後腹中㽲痛。當歸生薑羊肉湯主之。又產後腹痛。煩滿。不得臥。枳實芍藥散主之。又產婦腹痛。法當以枳殼芍藥散。假令不愈。此為腹中有乾血著臍下。宜下瘀血湯。又產後七八日。無太陽症。少腹堅痛。此惡露不盡。不大便。煩躁發熱。切脈微實。再倍發熱。日晡時煩躁者。不食。食則譫語。至夜即愈。大承氣湯主之。熱在裡。結在膀胱也。又產後風。續續數十日不解。頭微痛。惡寒時時有熱。心下悶。乾嘔汗出。雖久。陽旦症續在耳。可與陽旦湯。又產後中風發熱。面正赤。喘而頭痛。竹葉湯主之。又婦人乳中虛。煩亂嘔逆。安中益氣。竹皮大丸主之。又產後下利。虛極。白頭翁加甘草阿膠湯主之。又婦人少腹滿如敦狀。小便微難而不渴。此為水與血俱結在血室也。大黃甘遂湯主之。又婦人晝後臟燥喜悲傷。欲哭。象如神靈所作。數欠伸。甘麥大棗湯主之。劉完素曰。產後經水適斷。感於異症。手足牽搐。咬牙昏冒。宜增損柴胡湯。前症已去。次服秦艽湯。去其風邪。又產後風氣在表。面目四肢浮腫。宜七聖丸。以利為度。如又喘嗽。加木香、檳榔倍之。謂氣多也。如又昏冒。加羌活、川芎。謂多風也。又產後虛勞。雖日久而脈浮疾者。三元湯。日久虛勞。微有寒熱。脈沉面浮。宜柴胡四物湯。日久虛勞。針灸小藥俱不效者。三分散。日久虛勞不能食。十全散。又產後諸積不可攻。當養陰去熱。其病自退。芍藥湯。又產後沖脹。胸中有物。狀如噎。氣不降。紫金丹。又產後頭痛。血虛痰癖寒厥。皆令頭痛。加減四物湯。如有汗者。是氣弱頭痛也。加芍藥三兩。桂一兩五錢。生薑煎。如痰癖頭痛。加半夏三兩。茯苓一兩半。生薑煎。如熱厥頭痛。加天麻三兩。附子一兩半。生薑煎。又產後諸病。但以雙解散服之。通身中外血氣宣通。病皆除愈。然孕婦。及產後月經過多。並泄瀉者。勿與服之。又俗未知產後亡液。損血疼痛怖懼。以致神狂氣亂。則陰氣虛損。邪熱太甚。而為諸熱症。由不讀素問。不知造化。故不識症候陰陽。反妄以為產後諸虛百損。便為虛冷而無熱也。遂以熱藥溫補。或見煩渴者。不令飲水。本雖善心。為害多矣。但以臨時審其臟腑。六氣虛實。明其標本。如法治之而已。朱震亨曰。產後血暈。因虛火載血上行。漸漸運來。方用鹿角燒灰。出火毒研極細。酒同童便灌下。一呷即醒。行血極快。大凡產後有病。先固正氣。又產後泄瀉。惡露不行。此余血滲入大腸為瀉。洞泄不禁。下青白黑色。用荊芥穗炒黑入麝研湯下。藥雖微。能治大病。方名的奇散。又產後才見身熱。便不可發表。發熱惡寒。皆是氣血虛。左手脈不足。補血多於補氣藥。右手脈不足。補氣多於補血藥。惡寒發熱腹痛者。當去惡血。腹滿者不是。腹痛者是。又嘗見尿胞因穩婆不謹。破損而得淋瀝。遂為廢疾。因思肌肉尚可完補。胞雖在腹。亦可治。其症血氣必虛。必用大補。以參、術為君。芎、歸為臣。桃仁、陳皮、茯苓、黃耆為佐。而煎以豬羊胞。極飢時飲之。亦必多服。氣血自長。其胞自完。恐稍遲緩。殊難成功。李梴曰。產婦體實無病。不藥可也。但難產氣衰。瘀血停留。非藥不行。古法。產後用古芎歸湯加童便一半服之。如無童便。以淡醋磨墨一小盞入煎湯藥亦好。又產後百病。皆血虛火盛。瘀血妄行而已。間有內傷飲食。外感風寒。然亦必先逐瘀補虛為主。又產後瘀消。方可行補。如左脈弱。加補血藥。右脈弱。加補氣藥。如不兼逐瘀。但服參、耆停滯之劑。有瘀血攻心即死者。食肉太早亦然。又凡產母。但覺小水短少。（此是微旨）即是病生。便須服藥。調理脾胃肝腎。如不愈者。必氣滯且逆。蓋婦人凡事多憂思恚怒。憂思過。則氣結而血亦結。恚怒過。則氣逆而血亦逆。甚則乳硬脅痛煩熱。要之。女病皆因氣血鬱結。所以古方多用行氣藥。薛己曰。產後發痙。大補氣血。可保無虞。但攻風邪。死無疑矣。又產後寒熱。因氣血虛弱。或脾胃不足。經云。陰虛則發熱。陽虛則惡寒。若兼大便秘。尤屬氣血虛。切不可發表降火。若寸口脈微陽不足。陰氣上入陽中則惡寒。補中益氣湯。尺脈微陰不足。陽氣下陷陰中則發熱。六味地黃丸。大抵陰不足。陽往乘之。則陽內陷而發熱。陽不足。陰往從之。則陰上入而惡寒。此陰陽不歸其分。以致寒熱交爭。故惡寒又發熱也。八珍湯。又婦人性情執著。不能寬解。多被七情所傷。遂遍身痛。肢節腫痛。或氣填胸滿。或如梅核塞喉。咽吐不出。或涎痰壅盛。上氣喘急。或嘔逆噁心。甚者渴悶欲絕。產婦多成此症。宜四七湯。先調滯氣。更用養血。若因憂思致小便白濁者。用此藥吞青州白丸子。屢效。又血出過多。恆病睛珠痛不能視。羞明隱澀。眼睫無力。眉骨太陽痠痛。當歸養榮湯。當歸補血湯。除風益損湯。選用。有熱。加黃芩。脾胃不和。噁心不進食。加生薑。產漏。加阿膠。復其血。使有所養則愈。然要忌咸物。經曰。咸走血。血病無多食鹹。王肯堂曰。凡婦人患風氣。臍下虛冷。皆產後未滿百日會合之故。慎之。張介賓曰。凡產後氣血俱去。誠多虛症。然有虛者。有少虛者。有全實者。當隨人隨症。辨其虛實以治。不得有成心。概行大補。以致助邪。又產婦虛症。素弱之人多有之。或於產後。氣血俱去。而更弱者亦有之。總當因人察脈。因脈察症。若脈氣形氣病氣俱不足。此當以全虛治之。若形氣不足。病氣有餘。或兼火邪。或兼外邪。或以飲食停滯。此亦虛中有實。不可不審。此中委曲。未能言盡。惟明者悟之。產後不虛症。或因素日無病。或以年少。或以素耐辛苦貧勞之質。此輩無不足。一旦受孕。乃於無病腹中參入於此物。故致氣血壅塞。為脹為嘔。是皆添設有餘之病。及其既產。始見通快。所留得去。仍復故吾。常人之產。此類極多。是何虛之有。然或內傷。或外感。產後之病。難保必無。倘有所犯。去之即愈。若概行大補。果能堪否。即臨盆帶去血氣未免暫見耗損。然以壅滯之餘。不過皆護胎隨從之物。去者當去。生者旋生。不出數日。必已來復。此生化自然之理。何至是產皆虛也。凡遇此類。固當因症用治。產後全實症。有如外感風寒。頭痛身熱。便硬中滿。脈緊數洪大有力。此表邪之實症也。又火之盛者。必熱渴躁煩。或便結腹痛。口臭舌焦黑。酷喜冷飲。眼眵。尿管痛。脈見洪滑。此內熱之實症也。又鬱怒動肝。胸脅脹痛。大便不利。脈弦而滑。此氣逆之實症也。又惡露未盡。瘀血上衝。心腹脹滿。疼痛拒按。大便難而小便利。此血逆之實症也。又凡富貴家保養太過。或過用人參、耆、術。以致血壅盛。過用糖酒炭火。以致內熱。或產本不虛。而妄用大補之藥。以致增病。此調攝之實症也。又或因產過食。並其勞困。固令勉強。以致停蓄不散。此內傷之實症也。夫既有表症。則不得不解。既有火邪。則不得不清。既有內傷停滯。則不得不開通消導。丹溪但補氣血之言。豈可偏執。又病機機要云。治胎產之病。當從厥陰症論之。當無犯胃氣及上二焦。是為三禁。謂不可汗。不可下。不可利小便。但使不犯三禁。則營衛自和。而寒熱自止。凡治法。如發渴則白虎。氣弱則黃耆。血虛則當歸。腹痛則白芍。大抵產病天行。從加減柴胡。雜症從增損四物。宜察脈症用之。按此雖為產育之大法。然病發不同。倘有是症不得不用是藥。所謂有病則病受之也。但此經常之法。固不可不知。而應變之權。亦不可執一。又新產後有陽虛而寒從中生。或寒由外入。致心腹作痛。嘔吐不食。四肢厥冷者。大岩蜜湯。或理陰煎。產後有脾虛腎虛而為腹痛者。此不由產而由臟氣不足。若脾氣虛寒。為嘔吐。為食少。而兼腹痛者。五君子煎、六君子湯、溫胃飲、腎氣虛寒。為瀉為痢。而兼腹痛者。胃關煎、理陰煎。若飲食停滯。及氣逆作痛。亦當因類而消去之。排氣飲、大和中飲。</p>
<p>鰲按。景岳一書。多偏溫熱。議亦駁雜。無甚特識。獨產後一門。則特闢精旨。能發前人之所未發。其酌方治。亦至當不易。誠婦科之寶籙也。</p>
<p><u>虛極生風</u>　陳自明曰。產後生風。因去血過多。氣無所主。以致唇青。冷汗出。目眩神昏。命在須臾。此但虛極生風也。急服濟危上丹。若投風藥。誤甚。</p>
<p><u>感冒風邪</u>　陳士鐸曰。產後太陽感風。大喘大吐大嘔。不治症也。喘則元陽將絕。況大喘乎。吐則胃氣將亡。況大吐乎。嘔則脾氣將脫。況大嘔乎。方用人參、麥冬、白朮、當歸、川芎、荊芥、桂枝。名轉氣救產湯。大劑與之。喘嘔止。當有生機。否則仍死。若太陽症。口吐膿血。頭痛欲破。心煩不止。腹痛如死。或作結胸。小見症便難救。若齊見必死。方用佛手散。多加人參。佐以肉桂、荊芥。即見功矣。產後少陽感風。譫語煩躁。更加驚悸者死。蓋少陽膽經也。膽無汁不能潤心。心無血不能為養。是以心中恍惚。而譫語煩躁驚悸。相因而生也。夫膽木受邪。不發表。則血無以生。然徒發表。則血更耗散。方以佛手散加人參、棗仁、麥冬、竹茹、硃砂、熟地治之。產後陽明感風。而大喘大汗。亦不治。用麥冬、人參、元參、桑葉、蘇子。名補虛降火湯。若陽明症發狂亡陽。不救也。狂症多實熱。產後則虛熱。實熱可瀉。虛熱不可瀉。然正惟兼亡陽。雖實熱仍屬氣虛。方用人參、桑葉、麥冬、元參、青蒿。名收陽湯。一帖汗止。二帖狂定。不得服三帖。蓋此止可救亡陽急症。不可據以治產後。二帖後。即單用人參、麥冬、當歸、川芎、五味。調理自安。產後忽感少陰症。仲景法用參朮溫之。吾以為倘不應。宜加附子、甘草治之。凡感少陰之邪者。神效。若少陰症三四日至六七日。忽然手足蜷臥。息高氣喘。噁心腹痛。不救。此蓋少陰感寒邪。而在內之真陽逼越於上焦。上假熱而下真寒也。方用人參、麥冬、肉桂、白朮、吳萸。微冷頓服。名平喘祛寒散。若半月後將至滿月。亦患前症。又當用人參、茯苓、附子、白朮、當歸、熟地、山萸、麥冬、牛膝。名護產湯。若少陰症腎水上泛。嘔吐下利。真陽飛越。亦死症。以產後腎火衰微。為寒所祛。水亦隨寒而趨也。方用人參、白朮、熟地、山萸、茯苓、附子、肉桂、車前。名補火引水湯。若產婦手足青。一身黑。不救。此陰寒最重。而毒氣之最酷者。原無回生之法。姑以人參、白朮、當歸、附子、肉桂。大劑與之。如青黑退。庶有生機。否則仍死。名開青散黑湯。若但足純青。心下痛。雖較上症少輕。而寒毒之攻心則一。亦致死。以前方投之。往往多效。蓋此症由下而上。一散其下寒。而上寒即解。所以易於奏功。至產後四五日。忽感風寒發厥。乃陽氣既虛。而陰血又耗。外感寒邪以成之者也。方用人參、附子煎服。名轉厥安產方。產後厥陰感邪。嘔吐。兩脅脹滿者。必便血。不治。方用當歸、麥冬各一兩。川芎五錢。三七末一錢。名平肝救血湯。若厥陰症下利厥逆。躁不得臥。或厥不止。俱是死症。方用人參、當歸、荊芥。名參歸湯。</p>
<p><u>產後用藥</u>　孫思邈曰。婦人草蓐中傷風。四肢苦煩熱。頭疼。與小柴胡。頭不疼。但煩。三物黃芩湯。產後虛羸。發寒熱。飲食少。腹脹等疾。增損柴胡湯。張從政曰。產後之疾。皆是敗血惡物。發作寒熱。臍腹撮痛。乳汁枯涸。食飲少減。醫者不察。便謂氣血俱虛。便用溫熱之劑。養血補虛。止作寒治。舉世皆然。競傳黑神散之屬。能治產後一十八症。非徒不愈。而經脈涸閉。前後淋閉。嘔吐咳嗽。凡百熱症生矣。若此誤死。不可勝計。曷若四物湯。與涼膈散。停對下之。利數行惡物俱盡。後服淡甘之劑自愈。又大產之後。心火未降。腎水未升。如黑神散補之。輕則危。甚則死。又備急丸。以巴豆、乾薑、大黃。三味蜜丸。亦是下藥。止可施於平素粗劣之人。若產後脹悶用之。不死則危。李杲曰。婦人分娩及半產漏下。昏冒不省。瞑目無知。蓋因血暴亡。心神無所養。心與包絡者。君火相火也。得血則安。亡血則危。火上熾故令人昏冒。火勝其肺。瞑目不省。是陰血暴去。不能鎮撫也。世醫多用滑石、甘草、石膏之類。乃辛甘大寒。能瀉氣中之熱。今血虧瀉氣。是陰虧瀉陽。使二者俱傷。反為不足虛勞之病也。惟當補其血而升降之。則得血而養。神不昏矣。血暴下。是秋冬之令大旺。今舉而升之以助其陽。則目張。神不昏迷矣。其可誤用寒涼哉。朱震亨曰。或曰。初產之婦。好血已虧。瘀血尚留。黑神散非要藥歟。余曰。初產之婦。好血未必虧。瘀血未必積。臟腑未必寒。何以藥為。飲食起居。勤加調護。何病之有。誠有汗血。體怯而寒。與之數帖。亦自簡便。或有他病。當求病起何因。病在何經。氣病治氣。血病治血。寒者溫之。熱者清之。凝者行之。虛者補之。藥多者止之。何用妄製藥方。致令無病生病。彼黑神散者。用乾薑、當歸之濕熱。黑豆之甘。熟地之微寒。以補血之虛。佐以炒蒲黃之苦。以防出血之多。芍藥之酸寒。有收有散。以為四物之助。官桂之大辛熱以行滯氣。推凝血。和以甘草之緩。其為取用。似乎精密。然驅逐與補益。似難同方施治。設有性急者。形瘦者。本有怒火者。夏月坐蓐者。時屬火令。薑桂皆為禁藥。至於將護之法。尤為悖理。肉汁發陰經之火。易成內傷之病。胡為羊雞濃汁作糜。而又常服當歸丸。當歸建中湯。四順理中丸。雖是滋補。悉犯桂、附、乾薑僭熱之劑。臟腑無寒。何處消受。若夫兒之初生。母腹煩冤。便啖雞子。且吃火鹽。不思雞子難化火鹽發熱。輾轉為病。醫者不識。每指他病。率爾用藥。寧不誤人。余每見產婦之無疾者。必教以卻去黑神散。與夫雞子火鹽諸般肉食。且與白粥將理。間以些少石首鯗煮令甘淡食之。至半月後方與少肉。彼富貴之家。驕恣之婦。卒有白帶。頭風。氣痛。膈滿。痰逆。口乾。經水不調。發脫體熱。皆是陽勝陰虛之病。安知非此等謬妄啟之耶。若五積散之治產後余血作痛。以蒼朮為君。麻黃為臣。厚朴、枳殼為佐。雖有芍藥當歸之補血。僅及蒼朮三分之一。且其方中言婦人血氣不調。必腹撮痛。閉而不行。並宜服之。何不思產後之婦。有何寒耶。血氣未充。似難發汗。借曰推陳致新。藥性辛溫。豈可妄用麻黃之散。附以蒼朮、枳殼。虛而又虛。禍不旋踵。（此段專辨黑神散之非名論也）樓英曰。續命湯、大豆紫湯、舉輕古拜散。太陽厥陰藥也。邪實脈浮弦有力者固宜。產後血氣大虛之人。不宜輕發其表。但用防風當歸散治之為妙。虞摶曰。產後禁用酸寒。能伐生生之氣也。先哲制四物。以芎、歸之溫。佐以芍地之寒。是以寒溫適中。為婦人諸疾之妙劑也。或用於產後。必取白芍。以酒重複制炒。去其酸寒之毒。但存生血活血之能。胡為其不可也。薛己曰。腹痛發熱。或脹滿不食。水道滯澀。產後多有此症。薏苡仁湯。藥品和平。其功且速。</p>
<p><u>產後要論</u>　醫宗金鑑曰。產後發熱之故。非止一端。或飲食太過。或外感風寒。或瘀血停留。或亡血陰虛。或產後勞乏。或三日乳蒸。當詳其有餘不足。或攻或補。或用涼藥正治。或用溫藥反治。要在臨症細細參考也。凡產後頭疼惡寒而發熱者。屬外感。不當作傷寒治。惟宜用四物加柴胡、蔥白服之。若陰血暴亡。孤陽無附。而外感發熱者。急進參附湯。遲則必大汗大喘。是陽欲亡。雖藥必無救矣。產後咳嗽。若感冒風寒。用旋覆花湯。即荊芥穗、前胡、麻黃、杏仁、半夏、茯苓、赤芍、五味子、甘草、旋覆、薑、棗也。若因陰虛火炎。上爍肺金而嗽者。宜六味丸加麥冬、五味子。名麥味地黃湯。滋其化源。若因瘀血上衝入肺而嗽者。宜佛手散加桃仁、紅花、川貝、延胡索。以破其瘀。其嗽自愈。凡一應傷胎。子死腹中者。須當急下。勿使上奔心胸。然必驗其舌青面赤。肚腹脹大。腹冷如冰。久之口中有穢氣出者。方可議下。然猶必審其人之虛實寒熱。隨宜而施治之。</p>
<p><u>產後當知</u>　保產要錄曰。一、產後忌大喜大怒。未可便上床伸足側臥。令血不行。宜用衣服靠住。曲膝仰臥。以手從心下輕輕按摩至臍。日五七次。則惡血盡下。次日乃止。不問有無病痛。宜以益母草煎湯攙和童便。日服數次。可免血疾及弱虛。童便須臨時取用。亦須用清秀不吃韭蒜者。一、乳汁乃血氣所成。產後不可多食鹽。鹽止血少乳。且發嗽。夏月忌貪涼用扇。食冷物。當風睡。夏月房中。貯水一二缸解熱氣。冬月加火一二盆。取暖氣。一兒生三日。相傳洗三。如冬寒切不可洗。恐洗時風入臍中。臍風由此而起。即初生亦戒浴。保全真元。一、兒生下時。欲斷臍帶。必以蘄艾為燃。香油浸濕。熏洗臍帶。至焦方斷。其束臍須用軟帛厚棉裹束。日間視之。勿令兒尿濕臍。此預防臍風。第一要緊事。一、兒生次日三日。即看口中上齶。如有白泡子。即以銀挖耳輕輕刮破。將泡內白粒取出。勿令落入喉中。仍以京墨搽之。如次日不取。則泡老難刮。誤事。又有馬牙在牙根處。亦須挑破取出。以墨搽之。一、子初生下。母即昏暈不省者。此時即有藥不能入口。遲則又不能救。其法即用柔軟舊衣。謹閉產戶。以知事女子。曲膝抵住。勿令下面氣泄。又一人一手挽住頭髮。一手捫住鼻口。勿令上面氣泄。俟稍轉。方用茶湯接氣。如再暈。速換濕衣。照前為之。一、母血衣不可日曬。兒濕衣不可夜露。夜有鳥糞。能生毒瘡。一、滿月之期。一月為小滿月。兩月為大滿月。此兩月內不暴怒。少勞碌。禁淫欲。終身無病。且多生子。一、臨月不可洗頭濯足。恐致難產。（以上各條並保兒之法亦詳在內）</p>

<h3>治產後病方</h3>
<p><u>四物湯</u>　治婦人胎產諸疾。多用此加減。</p>
<p>川芎　當歸　白芍　熟地</p>
<p>等分。水煎。產後悶亂。加茯神、遠志各五錢。產後敗血築心。加地骨皮。產後潮熱。加白朮、北柴胡、甘草、丹皮、地骨皮。煩熱。加黃芩。汗多。加浮麥。產後腹痛。血塊攻腸。加大艾、沒藥、好酒。產後病眼。加細辛、羌活、荊芥、菊花、甘草、木賊草、草決明、石決明。產後浮腫。氣急腹大。喉中水雞聲。加丹皮、荊芥、白朮、桑皮、杏仁、半夏、薄荷、生薑、馬兜鈴、大腹皮、赤小豆、蔥白。產後不語失音。加生訶子、人參、沙參、百藥煎蜜。產後欲推陳致新。補血海。治諸疾。加生薑。產後血塊不散。亡血過多。惡露不止。加茱萸。陽臟人少用茱萸。陰臟人多用。婦人產後。每日可一二服。產後痢風。加乳香、龍骨、茱萸、木香、肉桂、蒼朮、丹皮、白薇、人參、甘草、澤蘭、茴香。產後被驚。氣滯種種。積滯敗血。一月內惡物微少。敗血作病。或脹或疼。胸膈脹悶。或發寒熱。四肢疼痛。加延胡索、沒藥、白芷。等分為細末。淡醋湯或童便調下。產後血風乘虛發作。或產後傷風。頭痛發熱。百骨節痛。四物料共一兩。加荊芥穗、天麻、香附、石膏、藿香各一分。每三錢煎服。產後發熱頭痛。加石膏一兩。甘草五錢。產後虛憊。發熱煩悶。加生地。產後腹脹。加枳殼、肉桂。產後惡露不盡。或不行。腹痛不止。加桃仁、蘇木、牛膝。產後寒熱往來。加柴胡、麥門冬。</p>
<p><u>人參鱉甲散</u>　蓐勞。</p>
<p>人參　當歸　茯苓　肉桂　白芍　熟地　桃仁　麥冬　甘草　桑寄生（各五錢）　川斷（三錢）　牛膝（錢半）　鱉甲（一兩）　黃耆（一兩）</p>
<p>豬腰一對。去膜。水二碗。加姜三棗二。煮一碗。入藥二錢。蔥白一段。烏梅半個。荊芥一錢。</p>
<p><u>白茯苓散</u>　治蓐勞。頭目四肢疼痛。寒熱如瘧。</p>
<p>茯苓（一兩）　當歸　川芎　熟地　白芍　黃耆　人參　肉桂（各五錢）</p>
<p>先以水三盞。入豬腰一對。姜三棗二。煎二盞。入藥末半兩。煎一盞服。</p>
<p><u>加味佛手散</u>　治產後血虛勞倦。盜汗。多困少力。咳嗽有痰。</p>
<p>當歸　川芎　蜜黃耆（各一兩）　柴胡　前胡（各錢半）</p>
<p>每咀片五錢。加桃柳枝各三寸。烏梅棗各一枚。姜一片。煎。有痰去烏梅。</p>
<p><u>補虛湯</u>　治蓐勞。</p>
<p>人參　黃耆　肉桂　炙甘草　川芎　當歸　白芍　姜　棗</p>
<p><u>逐血補心湯</u>　治產後失音不語者。心肺二竅。為血所侵。又感傷風故也。</p>
<p>當歸（錢半）　生地　桔梗　紫蘇葉　前胡　茯苓　防風　黃連　膽星　紅花　葛根（各一錢）　人參　薄荷　升麻（各七分）　半夏（一錢二分）　甘草（五分）　姜（三片）</p>
<p><u>涼血飲</u>　治產後血熱。</p>
<p>黃芩　赤芍　荊芥　川芎　麥冬　花粉（各二錢）　甘草（一錢）</p>
<p><u>調經湯</u>　治產後面目四肢浮腫。</p>
<p>當歸　桂枝　赤芍（各一錢）　麝香（五釐）　琥珀（另研）　沒藥（另研各二分）　炙甘草　細辛（各三分）</p>
<p><u>香連散</u>　治產後下痢。</p>
<p>木香　黃連</p>
<p><u>當歸黃耆湯</u>　治產後失血。</p>
<p>當歸（三錢）　黃耆（二錢）　白芍（一錢）　加姜</p>
<p><u>和解四物湯</u>　治產後發寒熱。</p>
<p>四物湯加　柴胡　黃芩　人參　半夏　甘草　姜　棗</p>
<p><u>必效四物湯</u>　治產後衄血。</p>
<p>四物湯加蒲黃</p>
<p><u>補骨四物湯</u>　治產後腿痛。</p>
<p>四物湯加　川烏　茜草　菖蒲</p>
<p><u>通潤四物湯</u>　治產後液枯。大便秘。</p>
<p>四物湯加火麻仁</p>
<p><u>立應四物湯</u>　治血暈。</p>
<p>四物湯加　五靈脂（不拘多少半生半炒）</p>
<p>末服。</p>
<p><u>磨塊四物湯</u>　治惡露不止。</p>
<p>四物湯加　延胡索　桃仁　肉桂　熟大黃</p>
<p><u>愈風四物湯</u>　治產後頭風。</p>
<p>四物湯加　荊芥　細辛　麻黃　防風　甘草</p>
<p><u>瀉肝四物湯</u>　治風熱壅盛。</p>
<p>四物湯加　秦艽　連翹　防己　龍膽草</p>
<p><u>逐邪四物湯</u>　治產後四肢麻痹。</p>
<p>四物湯加　白附子　羌活　獨活　薄荷　白芷</p>
<p><u>止渴四物湯</u>　治產後液枯。火盛消渴。</p>
<p>四物湯加　知母　黃柏　茯苓　黃耆</p>
<p><u>黃連四物湯</u>　治產後大便秘結。</p>
<p>四物湯加　黃連</p>
<p><u>加減四物湯</u>　治產後頭痛。血虛痰癖、寒熱。皆能令頭痛。</p>
<p>川芎　當歸　羌活　防風　香附（炒）　白芷　甘草（各一兩）　蒼朮（一兩五六錢）　石膏（二兩半）　細辛（一兩半）</p>
<p>每粗末一兩。水煎。不拘時熱服。如有汗。氣虛頭痛也。加白芍二兩、肉桂兩半、生薑。痰癖頭痛。加半夏三兩、茯苓一兩、生薑。熱厥頭痛。加白芷三兩、石膏二兩、知母一兩。寒厥頭痛。加天麻三兩、附子一兩半、生薑三片。煎。</p>
<p><u>增損四物湯</u>　治產後亡血。榮衛虛損。乍寒乍熱。</p>
<p>川芎　當歸　白芍　人參　乾薑　甘草　等分。</p>
<p><u>宣氣湯</u>　治產後浮腫。由於水氣者。</p>
<p>白朮　郁李仁　葶藶　桑皮　炙草　赤苓　陳皮　川芎　當歸　白芍　生地</p>
<p><u>人參當歸散</u>　治產後去血過多。陰虛內熱。</p>
<p>人參　當歸　熟地　麥冬　白芍　肉桂　加姜　竹葉</p>
<p><u>大聖湯</u>　治產後風痿多汗。</p>
<p>川芎　黃耆　當歸　木香　人參　甘草　茯苓　麥冬　加川烏</p>
<p><u>血風湯</u>　治風痿。</p>
<p>秦艽　羌活　白朮　地黃　茯苓（各一錢）　白芍　黃耆（各一錢半）　川芎（一錢二分）　白芷　半夏（各八分）</p>
<p><u>益榮湯</u>　治產後血虧。心失所養而怔忡</p>
<p>紫石英　當歸　黃耆　棗仁　遠志　茯神　木香　人參　白芍　柏子仁　甘草</p>
<p><u>茯苓湯</u>　治產後心虛。</p>
<p>人參　甘草　山藥　當歸　茯苓　桂心　麥冬　遠志　大棗　生薑</p>
<p><u>舉輕古拜散</u>　治產後中風不語。手足攣搐。</p>
<p>荊芥穗一味。為末。</p>
<p><u>小續命湯</u>　治產後汗多變痙。口噤項強。或搖頭馬嘶。不時舉發。氣息如絕。又治產後中風。身體緩急。或頑痹不仁。或口眼喎斜。牙關急緊。角弓反張。</p>
<p>防風（一錢）　麻黃　黃芩　芍藥　人參　川芎　肉桂心　防己（各七分）　炮附子　杏仁（各五分）　炙草（四分）</p>
<p>中風有熱。去附減桂半。中風有汗。去麻黃加葛根。中風骨節煩疼。去附子加白芍。中風精神恍惚。加茯神遠志。中風煩心多驚。加犀角。中風嘔逆腹脹。加人參、半夏。中風臟寒下痢。去防、芩。加附、術。中風煩悶。大便澀。去附加芍。入竹瀝。盛冬、初春。去芩。風痙有汗。去麻黃。</p>
<p><u>大豆紫湯</u>　治產後風虛。五緩六急。手足頑麻。氣血不調等症。</p>
<p>獨活（兩半）　馬料豆（半升）　酒（三升）</p>
<p>先用酒浸獨活。煎一二沸。別炒豆令極熱。焦煙出。以酒沃之。每服一二合許。得少汗則愈。日夜數服。一以去風。一以消血結。如妊婦折傷胎死腹中。服此即瘥。一方無獨活。只以豆炒焦。淋酒服。</p>
<p><u>知母湯</u>　治產後煩悶。</p>
<p>酒知母（二錢）　酒黃芩（一錢）　赤芍（一錢二分）　桂心（八分）</p>
<p><u>調經散</u>　治血氣虛損。陰虛發熱。或瘀血停滯。以致心神煩躁。言語譫妄。如見鬼神。</p>
<p>琥珀（另研）　沒藥　桂心（各一錢）　酒浸當歸　赤芍（各一兩）　細辛（二錢半）　麝香（少許）</p>
<p>每細末五分。薑汁酒各少許調服。</p>
<p><u>妙香散</u>　治產後心神顛倒。語言錯亂。如見鬼神狀。</p>
<p>山藥　茯苓　茯神　黃耆　遠志（各一兩）　人參　甘草　桔梗（各五錢）　硃砂（三錢）　木香（二錢半）　麝香（一錢）</p>
<p>每末二錢。酒服。一方用生地當歸煎湯服。立效。</p>
<p><u>黃龍湯</u>　治產後發熱不止。兼治傷熱入胞中。寒熱如瘧。及病後勞復。餘熱不解。</p>
<p>柴胡（四錢八分）　人參　黃芩　甘草（各一錢八分）</p>
<p>水煎服。無汗口渴。加葛根。有汗口渴。加花粉、白朮。頭疼不止。加川芎、白芷。心煩不臥。加茯苓、麥冬。嘔吐。加茯苓、半夏。胸膈滿痛。加枳殼、香附、川芎。大便秘。加大黃五分。不利。加一錢。脈浮大有力。大熱大渴。本方合人參白虎湯去棗姜。</p>
<p><u>君苓湯</u>　治產後泄瀉。</p>
<p>人參　白朮　茯苓　甘草　澤瀉　豬苓</p>
<p><u>延胡索湯</u>　治產後瘀血心疼。</p>
<p>延胡索　當歸　白芍　厚朴　川楝子　蓬朮　京三稜　木香　檳榔（各一錢）　桔梗（一錢二分）　黃芩（八分）　甘草（七分）</p>
<p><u>二母散</u>　治產後咳嗽。</p>
<p>知母　貝母　人參　茯苓（各一錢）　桃仁（四十九粒）　杏仁（四十九粒各去皮尖）</p>
<p><u>參蘇飲</u>　治產後感風咳嗽。</p>
<p>人參　蘇葉　半夏　葛根　前胡　桔梗　枳殼　陳皮　茯苓　甘草　木香　姜　棗</p>
<p><u>高良薑散</u>　治產後心腹痛甚。</p>
<p>高良薑　當歸　草蔻仁</p>
<p><u>木瓜散</u>　治轉筋。</p>
<p>木瓜（錢半）　吳萸　茴香（各一錢）　蘇葉（五分）　甘草（三分）</p>
<p><u>白薇湯</u>　治產後鬱冒。</p>
<p>白薇　當歸（各三錢）　人參（錢半）　甘草（七分）</p>
<p><u>鉤藤湯</u>　治產後發痙。口噤背強。</p>
<p>鉤藤鉤　茯神　當歸　人參（各一錢）　桔梗（一錢半）　桑寄生（五分）　煩熱。加石膏。</p>
<p><u>趁痛散</u>　治產後氣弱血滯。經脈拘攣疼痛。</p>
<p>當歸　白朮　牛膝　黃耆　生薑　肉桂　薤白　獨活　桑寄生</p>
<p><u>如神湯</u>　治產後瘀血。遍身作痛。腰痛。</p>
<p>當歸　延胡索　桂心</p>
<p>等分。水煎服。</p>
<p><u>奪命散</u>　治產後敗血衝心。胸滿上喘。命在須臾。亦治產後血暈。血入心經。語言顛倒。健忘失志。及產後百病。</p>
<p>血竭　沒藥</p>
<p>等分。每末二錢。童便酒各半盞。煎一二沸調下。</p>
<p><u>固血湯</u>　治喘急。</p>
<p>四物湯加　黃柏　桑皮　楮白皮</p>
<p><u>蘇木湯</u>　治氣喘。</p>
<p>蘇木　人參　麥冬</p>
<p><u>潤肺湯</u>　治痰喘。</p>
<p>人參　厚朴　半夏　官桂　杏仁　川芎　當歸　白芍　生地</p>
<p><u>秦艽湯</u>　治產後頭痛。</p>
<p>秦艽　石膏（各一錢）　炙草　川芎　當歸　白芍　羌活　獨活　防風　黃芩　白朮　熟地　茯苓（各五分）　生地（六分）　白芷（七分）　細辛（三分）　冬加姜。春夏加知母。</p>
<p><u>烏金散</u>　治產後淋瀝。</p>
<p>當歸（五錢）　百草霜　乾麵（各一兩）　天麻　木香（各二錢半）　金墨（煅二錢）</p>
<p><u>祐元湯</u>　治同上。</p>
<p>甘草　滑石　瞿麥　車前子　木通　川芎　當歸　白芍　生地</p>
<p><u>牡蠣散</u>　治產後久淋不止。</p>
<p>牡蠣　龍骨（各二錢）　川芎　生地　茯苓　當歸　人參　艾葉　地榆（各一錢）　炙甘草（五分）</p>
<p><u>參朮膏</u>　治產時誤損尿胞。以致小便不禁。</p>
<p>人參　白朮</p>
<p>等分。煎膏。每三匙。湯下。</p>
<p><u>抵聖湯</u>　治產後嘔吐。</p>
<p>赤芍　半夏　澤蘭　陳皮　人參（各一錢）</p>
<p><u>桔梗半夏湯</u>　治產後胃氣不和。</p>
<p>桔梗　陳皮（各二錢）　半夏（八分）　姜（三片）</p>
<p><u>和胃湯</u>　治乾嘔。</p>
<p>丁香　半夏　枳實　白蔻仁　麥芽　川芎　當歸　白芍　地黃　姜　棗</p>
<p><u>犀角地黃湯</u>　治產後衄血。</p>
<p>犀角　丹皮　白芍（各一錢）　生地（四錢）</p>
<p><u>石斛牛膝湯</u>　治產後腿痛。</p>
<p>石斛　牛膝　木瓜　白芍　棗仁　生地　杞子　茯苓　黃柏　甘草　車前子</p>
<p><u>澤蘭湯</u>　治產後出血太多。肝虛火炎。</p>
<p>龍齒　茯神　生地　當歸　牛膝　遠志　棗仁　澤蘭</p>
<p><u>石斛散</u>　治產後血虛驚悸。</p>
<p>人參　棗仁　茯神　遠志　白芍　石斛　麥冬　炙草　五味子　桂圓湯下</p>
<p><u>熟地黃湯</u>　治產後虛渴等症。</p>
<p>人參（四錢）　花粉（六錢）　炙草（一錢）　麥冬（二錢）　熟地（五錢）　姜　棗</p>
<p><u>木通散</u>　治產後小便不通。</p>
<p>木通　滑石　葵子　檳榔　枳殼　甘草</p>
<p><u>延胡索散</u>　治產後兒枕腹痛。</p>
<p>延胡索　當歸（各一兩）　赤芍（五錢）　肉桂（三錢）　琥珀（另研）　炒蒲黃（各二錢半）　紅花（二錢）</p>
<p>每末二錢。食前童便酒服。</p>
<p><u>楂蘇湯</u>　治同上。</p>
<p>山楂（一兩）　蘇木（三錢）</p>
<p><u>歸尾澤蘭湯</u>　治同上。並惡露不下。</p>
<p>歸尾　澤蘭　牛膝　紅花　延胡索　桃仁（各一錢）</p>
<p><u>血竭破棺丹</u>　治血暈。</p>
<p>血竭　乳香　箭頭巴豆</p>
<p>研為丸。冷酒下。</p>
<p><u>當歸血竭丸</u>　治惡露停結。</p>
<p>當歸　血竭　蓬朮　五靈脂</p>
<p>醋糊丸酒下。</p>
<p><u>孤鳳散</u>　治產後不語。</p>
<p>明礬研末一錢。熱水下。</p>
<p><u>五靈脂湯</u>　治產後閃傷。</p>
<p>歸尾　陳皮　白朮（各一錢）　川芎　白芍　茯苓　人參（各八分）　炙草（三分）　五靈脂（五分）　加砂仁</p>
<p><u>代赭石丸</u>　治同上。</p>
<p>丹皮　炮姜　發灰　酒白芍　醋煅代赭石　醋地榆　酒生地</p>
<p><u>小柴胡湯</u>　治產後鬱冒。便難。嘔不能食。汗多病痙。及草蓐露風。四肢煩熱頭疼等症。</p>
<p>人參　黃芩　生薑　甘草（各三兩）　柴胡（半斤）　半夏（半升）　大棗（十二枚）</p>
<p>水一斗二升。煮六升。去渣再煎三升。溫服一升。日三。</p>
<p><u>芍藥湯</u>　治產後虛熱頭痛。及腹中拘急。</p>
<p>白芍　熟地　牡蠣（各五錢）　桂心（三錢）</p>
<p>日三服。</p>
<p><u>三物黃芩湯</u>　治婦人在蓐得風。四肢煩熱。頭不痛。</p>
<p>黃芩　苦參（各二錢）　生地（四錢）</p>
<p>煎。適口溫服。日二服。多吐下蟲。分量加增至一二倍亦可。</p>
<p><u>濟危上丹</u>　治產後去血過多。氣無所主。以致唇青肉冷。汗出目瞑神昏。命在須臾。此虛極生風也。急服此丹。若以風藥治之則誤矣。</p>
<p>乳香　五靈脂　硫黃　元精石　另研極細　阿膠蛤粉炒　生卷柏　桑寄生　去白陳皮</p>
<p>等分。先將上四味末和。入金石器內。微炒勿令焦。再研極細。再入余藥末和勻。生地汁丸。每二十丸。食前溫酒下。</p>
<p><u>防風當歸散</u>　治產後痙。</p>
<p>防風　當歸　川芎　生地（各一兩）</p>
<p>每咀片一兩。水煎。</p>
<p><u>增損柴胡湯</u>　治產後感異症。手足搐搦。涎潮昏悶。</p>
<p>柴胡（三錢）　黃芩（一錢二分）　人參　炙草　半夏（各錢半）　知母（一錢）石膏（二錢）　黃耆（二錢半）</p>
<p>咀片。分二服。加姜三棗二。不拘時。</p>
<p><u>秦艽湯</u>　增損柴胡湯症已去。次服此方。去其風邪。</p>
<p>秦艽　白芍　柴胡（各一錢七分）　黃芩　防風（各一錢二分）　炙草（一錢三分）　人參　半夏（各一錢）</p>
<p>咀片。分二帖。加姜三片煎。食遠服。</p>
<p><u>三分散</u>　治產後日久。虛勞發熱。</p>
<p>四物湯加　白朮　茯苓　黃耆（各一錢）　柴胡　人參（各錢半）　黃芩　半夏　甘草（各五分）　姜三棗二</p>
<p>食前服。</p>
<p><u>胃關煎</u>　治產後腎氣虛寒。瀉利腹痛。</p>
<p>熟地（三五錢或一兩）　炙草（一二錢）　山藥　白扁豆（炒各二錢）　炒焦乾姜（一二三錢）　泡吳萸（五七分）　白朮（一二三錢）</p>
<p>食遠溫服。</p>
<p><u>排氣飲</u>　治產後氣逆食滯。脹痛等症。</p>
<p>陳皮　藿香　枳殼（各錢半）　厚朴（一錢）　澤瀉　烏藥　香附（各二錢）　木香（七分至一錢）</p>
<p>熱服。</p>
<p><u>大和中飲</u>　治同上。</p>
<p>陳皮（一二錢）　山梔　麥芽（各二錢）　枳實（一錢）　砂仁（五分）　厚朴　澤瀉（各錢半）</p>
<p>食遠溫服。</p>
<p><u>大岩蜜湯</u>　治素有宿寒。因產大虛。寒搏於血。血凝不散。上衝心之絡脈。故作心痛。</p>
<p>酒當歸　熟地　吳萸（炒）　白芍（炒）　乾薑（炒）　獨活　桂心　小草（各一錢）　細辛　甘草（各五分）</p>
<p>一方熟地換生地。</p>
<p><u>紫金丹</u>　治產後沖脹。胸中有物。狀如噎氣。</p>
<p>代赭石　磋礪石</p>
<p>等分。醋糊丸。每二三十丸。酒下。胸中痛。當歸湯下。久服。治血癖。</p>
<p><u>又方</u>　治同上。</p>
<p>代赭石（一兩）　桃仁（泥炒三錢）　大黃（五錢）</p>
<p>薄荷湯打糊丸。</p>
<p><u>七聖丸</u>　治產後風氣壅盛。面目四肢浮腫。涕唾稠黏。咽乾口燥。心脅脹滿。大便秘。小便赤。睡臥不寧。</p>
<p>酒蒸大黃　川芎　桂心　檳榔　木香（各五錢）　郁李仁　羌活（各一錢）</p>
<p>蜜丸。每十五丸。食後湯下。山嵐瘴地。最宜服。量虛實加減。如浮腫。又頭痛昏冒。加川芎、羌活。謂風多也。如只浮腫。但用本方。</p>
<p><u>通瘀飲</u>　治產後惡露不通。心慌昏沉。寒熱交攻者。</p>
<p>歸尾　大黃（各三錢）　白朮　木通（各一錢）　紅花（五分）　桃仁泥（三十粒）</p>
<p>水一碗。酒一小盞。煎三沸。入桃仁再煎一沸。溫服。</p>
<p><u>牛角腮丸</u>　治惡血不絕。崩血不可禁。腹中絞痛。氣息急。</p>
<p>發灰（一兩）　阿膠（二兩）　代赭石　乾薑（三兩）　生地（四兩）　馬蹄殼（燒一個）　牛角腮（酥炙五兩）</p>
<p>蜜丸。</p>
<p><u>加味四物湯</u>　治產後血崩如豆汁。紫黑過多者。</p>
<p>四物湯加　蒲黃　阿膠　薊根　白芷</p>
<p><u>加味四物湯</u>　治產後月餘。經血淋瀝不止。此陷下者必舉之也。</p>
<p>四物湯加　升麻　白芷（各一錢）　血餘灰另入五分</p>
<p><u>千金方</u>　治惡血不盡。或經月及半年者。</p>
<p>升麻（三兩）　清酒（五升）</p>
<p>煮取二升。分二服。</p>
<p><u>沒藥丸</u>　治惡露方行。而忽然斷絕。驟作寒熱。腹臍百脈皆痛如錐刺非常。此由冷熱不調。或思慮動作。氣所壅遏。血蓄經絡。</p>
<p>當歸（一兩）　白芍　桂心（各五錢）　桃仁（炒）　沒藥（研各二錢半）　虻蟲（去翅足炒）　水蛭（炒焦各二十枚）</p>
<p>醋糊丸。梧子大。淡醋湯下三丸。</p>
<p><u>產後調理方</u>　產後服此。永無疾病。</p>
<p>香附（一斤醋童便各浸三日將艾葉同煮乾取出打為餅曬乾為細末）　歸身（酒炒）　熟地（各四兩）　川芎（三兩）</p>
<p>酒糊丸。湯下。</p>
<p><u>產後主方</u>　治同上。</p>
<p>當歸　白朮　丹皮（各一錢）　益母草（三錢）　川芎（八分）　紅花（七分）　陳皮（五分）　甘草（三分）</p>
<p>有瘀腹痛。加延胡索八分。痛甚。加肉桂三分、楂炭一錢。身熱汗出。加黃耆一錢。但身熱。加茯苓三錢。汗出神虛。加人參一錢。心虛膽怯。加遠志、棗仁各一錢。腰痛。加牛膝、杜仲、川斷各一錢。風寒發熱。及停食噁心。或泄瀉減食。宜另斟酌。</p>
<p><u>斷產方</u>（附）　神效。不傷人。</p>
<p>四物湯各五錢加蕓薹子二錢</p>
<p>經行後。空心溫服。</p>
<p><u>又方</u>　治同上。</p>
<p>蠶子故紙。方圓一尺。燒為末。經後酒服。終身不孕。</p>

<h1>卷五</h1>

<h2>帶下</h2>
<p>帶下之因有四。一因氣虛。脾精不能上升而下陷也。一因胃中濕熱及痰。流注於帶脈。溢於膀胱。故下濁液也。一因傷於五臟。故下五色之帶也。一因風寒入於胞門。或中經脈。流傳臟腑而下也。然有赤白之分者何也。赤者屬血屬熱。熱入小腸而成。若實熱鬱結。則為赤白兼下。白者屬氣屬寒。寒入大腸而成。因血少復亡其陽。故白滑之物下流。亦有濕痰流注下焦。或肝腎陰淫之濕。或緣驚恐而木乘土位。濁液下流。或色欲太甚。腎精虧損之故。或產多之婦。傷血傷液。皆能成帶下之疾。宜概用蓮鬚、杜仲、續斷之輩。大抵屬痰與熱者居多。以濕熱下注而化痰也。宜投止澀升提之品。寒者十無一二。宜投鹿角膠溫澀之品。然總要健脾燥濕。升提胃氣。佐以補澀。如茯苓、白朮、柴胡、川芎之類。總之婦人多郁。鬱則傷肝。肝傷則脾受克。濕土下陷。脾精不守。不能輸為營血。而白物下流。宜開鬱補脾。若色如濃泔臭穢者。濕熱甚也。宜二朮、芩、柏、半夏、車前。佐以升提。下如雞子白狀。脾腎虛也。腰腿痠疼。面目浮腫。必脾腎雙補。宜歸脾丸、八味丸。婦人又多憂思恚怒。傷損心脾。肺臟之火時發。血走不歸經。而患赤白帶下。白是脾虛。蓋肝氣鬱則脾受傷。脾傷則濕勝。皆由風木鬱於地中使然耳。宜開提肝氣。助補脾元。宜補中益氣湯加茯苓、棗仁、山藥、蒼朮、黃柏、麥冬。或六味丸加杜仲、牡蠣。牛膝、海螵蛸。若陰虛火盛。則以滋陰清火為要。宜六味丸加五味子、杞子、黃柏、車前、菟絲子。昔人云。崩中日久。變為白帶。漏下多時。骨水枯竭。何謂也。蓋崩久氣血虛脫。故白滑之物。下流不止也。必大補之。赤帶多因心火。時熾不已。久而陰血漸虛。中氣漸損。而下赤矣。必養心和肝。緩中涼血清氣之品。若赤帶久不止。必血虛矣。宜膠艾四物湯加麥冬、杏仁、牡蠣。帶下之因。不外乎此。其詳更有可述者。如白帶腥臭。多悲不樂。陽氣虛衰者。大寒也。宜桂附湯。脈息沉微。赤白帶下。腹中痛。陰中亦痛。經來愆期。子宮虛冷。不能成孕者。寒甚也。宜元戎六合湯。白帶久不止。臍腹冷痛。陰中亦痛。經水不止。或因崩後。脈弱無力而痠疼。由於虛也。宜東垣固真丸。產後去血多。經水不調。白帶如傾。淋瀝臭穢。亦由虛也。宜衛生湯。內熱脈數。赤白帶下不止。由於熱也。宜杞子、生地。內火盛。陰虛煩熱而赤白帶下。或七情所傷。脈數而帶下。亦由於熱也。宜二黃三白丸、白芷散。或益母草末酒服。肥人白帶。陰戶痛。身黃皮緩體重。陰中如水濕也。宜升麻燥濕湯。濕而挾熱。大便或泄或閉。小便塞。脈澀而氣盛。濕熱也。宜十棗湯。下身畏冷。帶下如雞子白。脾腎虛憊也。宜補骨脂丸加肉桂。漏血久冷。赤白帶下。月水不調。面黃肢弱。經水或多或少。如梔子汁。如屋漏水。血虛而寒也。宜血虛帶下方。白帶淫水不絕。精神虛損也。宜八珍湯加升麻、南星、半夏、陳皮、香附。血氣不調。濕熱白帶。四肢倦怠。五心煩熱。痰鬱嘈雜也。宜解帶散。脈數而白帶不止。七情所傷也。宜側柏樗皮丸。女人癥瘕痃癖。腹脹胸滿。赤白帶下。久患血氣虛弱。萎黃無力。乃由寒濕也。宜大聖萬安散。赤白帶下不止。燥熱煩渴。由濕熱鬱於下焦之分也。宜宣明導水丸。勞役過度。飲食不節。損傷脾胃。以致陽氣下陷。白帶久不止也。宜補中益氣湯。時時帶下。由胃虛有痰。飲食減少。中氣不和也。宜六君子湯。健忘怔忡。驚悸不寐。怠惰體困。不思飲食。時常白帶不止。由思慮過傷心脾也。宜歸脾湯。臍下冷。撮痛。陰冷大寒。而白帶時下也。宜延胡苦楝湯。勞傷血脈。胞絡受寒。小便白濁。日夜無度。臍腹疼痛。腰膝無力也。宜內金鹿茸丸。㿗疝。白帶下注。腳氣。腰以下冷。尿數。與白帶長流而不禁固。肌瘦身重。面白。目無見。行步欹側。腿膝枯細。大便閉。心下痞悶。懊憹。飲食不下。背寒。此上中下三陽真氣俱竭也。故噦嘔不止。為胃寒已極。脈沉緊而澀。按之空虛。為陰寒已竭。宜酒煮當歸丸。老年白帶白淫不止。日久淋瀝。皆氣多血少。虛寒力衰也。宜老年白帶方。十全大補湯加益智仁。室女帶下純白。衝任虛寒也。宜白蘞丸。寡婦師尼室女。鬱火盛熾。陰戶或癢或痛。而成赤淋。乃血熱也。宜瀉膀胱之火。宜赤淋丸。其或白淋。則氣虛也。宜烏金丸、烏艾丸。如是以治帶病。寧有或遺哉。</p>
<p><u>脈法</u>　脈經曰。診婦人漏血。下赤白。日下血數升。脈急疾者死。遲者生。又曰。診婦人漏下赤白不止。脈小虛滑者生。大緊實數者死。又曰。婦人帶下脈浮。惡寒者。不治。又曰。婦人帶下。六極之病。脈浮則為腸鳴腹滿。緊則為腹中痛。數則為陰中癢痛生瘡。弦則陰中掣痛。李梴曰。腎脈浮遲。主患帶濁。</p>
<p><u>帶下原由症治</u>　孫思邈曰。諸方說三十六疾者。十二症。九痛。七害。五傷。三痼不通。是也。何謂十二症。是所下之物。一曰狀如膏。二曰如黑血。三曰如紫汁。四曰如赤肉。五曰如膿痂。六曰如豆汁。七曰如葵羹。八曰如凝血。九曰如清血。血似水。十曰如米泔。十一曰如月浣。乍前乍卻。十二曰經度不應期也。何謂九痛。一曰陰中傷痛。二曰陰中淋瀝痛。三曰小便即痛。四曰寒冷痛。五曰經來腹中痛。六曰氣滿痛。七曰汁出陰中如有蟲齧痛。八曰脅下分痛。九曰腰胯痛。何謂七害。一曰竅孔痛不利。二曰中寒熱痛。三曰小腹急堅痛。四曰臟不仁。五曰子門不端引背痛。六曰月浣乍多乍少。七曰害吐。何謂五傷。一曰兩腹支滿痛。二曰心痛引脅。三曰氣結不通。四曰邪思泄利。五曰前後痼寒。何謂三痼。一曰羸瘦不生肌膚。二曰絕產乳。三曰經水閉塞。病有異同。方亦不一。又曰三十六種疾。皆由子臟冷熱。勞損而下起於陰內也。陳自明曰。帶下有五因。經行產後。邪入胞門。傳於臟腑而致之。若傷足厥陰肝經。色如青泥。傷手少陰心經。色如紅津。傷手太陰肺經。形如鼻涕。傷足太陰脾經。色如爛瓜。傷足少陰腎經。黑如衃血。人有帶脈橫於腰間。如束帶之狀。病生於此。故名為帶。東垣云。血崩久則亡陽。故白滑之物下流。未必全拘於帶脈。亦有濕痰流注下焦。或腎肝陰淫之濕勝。或因驚恐而木乘土位。或思慕為筋痿。戴人以六脈滑大有力。用宣導之法。此瀉其實也。東垣以脈微細沉緊。或洪大而虛。用補陽調經。乃兼責其虛也。丹溪用海石、南星、椿根皮之類。乃治其濕痰也。竊謂前症皆當壯脾胃升陽氣為主。佐以各經見症之藥。色青屬肝。小柴胡加山梔、防風。濕熱壅滯。小便赤澀。龍膽瀉肝湯。肝血不足。或燥熱風熱。六味丸。色赤屬心。小柴胡加山梔、當歸。思慮過傷。妙香散。色白屬肺。補中益氣湯加山梔。色黃屬脾。六君子加山梔、柴胡。不應。歸脾湯。色黑屬腎。六味丸。氣血俱虛。八珍湯。氣血下陷。補中益氣湯。濕痰流注。前湯加茯苓、半夏、蒼朮、黃柏。氣虛痰飲下注。四七湯送六味丸。不可拘肥多痰瘦多火。而以燥濕瀉火藥輕治之。張從政曰。聖惠方以帶下由風冷。巢氏內篇。又以為寒則多白。熱則多赤。二家之說皆非也。蓋以衝任督三脈。皆統於篡戶循陰氣。行廷孔溺孔之端。以帶脈束之。因諸經上下往來遺熱於帶脈之間。熱者血也。血積多日不流。火則從金之化而為白。乘少腹間冤熱。白物滑溢。隨溲而下。綿綿不絕。或有痛者。則因壅礙而成痛也。內經曰。少腹冤熱。溲出白液。冤者屈帶也。病非本經。為他經冤抑而成此疾也。猶之赤白痢。赤者新積屬心火。白者舊積從肺金。故赤白痢不可曲分寒熱。又如癰癤。始赤血。次潰白膿。又豈為寒哉。且赤白痢者。是邪熱傳於大腸。下廣腸。出赤白也。帶下者。傳於小腸。入脬經。下赤白也。據此二症。皆可同治濕法以治之。先以導水丸、禹功散瀉訖。次以淡劑降心火。益腎水。下小溲。分水道。則自愈。然有此法。又不可偏執。更宜詳其虛實而用之。內經惟腸澼便血。血溫身熱者死。赤白帶下。白液白物。蠱病腎消。皆不能死。人有死者。藥之過也。室女同。戴思恭曰。赤白帶下。皆因七情內傷。或下元虛冷。感非一端。大率下白帶多。間有赤者。並宜順氣散吞震靈丹。仍佐艾附丸。或米飲調沙參末。帶下不止成尫羸者。四物加煅牡蠣五分。吞固真丸。多服取效。有帶疾愈後。一二月或再發。半年一發。先血而後下帶。來不可遏。停蓄未幾。又復傾瀉。此名漏帶。最難治者也。下截之血。小腹主之。有因血虛而虛熱陷下小腸。致小便澀痛。色白如泔。或成砂粒。不可作淋治。用冷劑。宜四物五苓各半帖和煎。李梴曰。瘦人多熱。脈數。外症潮熱。乃陰虛火盛也。芩柏樗皮丸不止。用地骨皮一兩、生地五兩、酒十盞煎三盞。分三服。肥人多濕。身黃脈緩。陰戶如冰或痛。白帶。升陽燥濕湯。濕痰流下。滲入膀胱。二陳加二朮、升、柴。因日久淋瀝不已。或崩中暴下。或產後去血過多。以致陰虧陽竭。榮氣不升。經脈凝注。衛氣下陷。精氣累滯於下焦。蘊積而成。白滑如涕。下流腥臭者。黃耆建中湯。去桂加當歸煎。吞苦楝丸。始因亡血。復亡其陽。陽氣虛極。帶下腥臭。多悲不樂。附桂湯。常用酒煮當歸丸。風邪入胞門。或中經脈。流傳臟腑。俱宜胃風湯。或單地榆散。平時陰陽過多。及產後亡血下虛。風邪乘虛入於胞絡。暖宮丸加薑、附、吳萸。孕婦帶下。全是濕熱。芩術樗皮丸。室女經水初下。一時驚悸。或浴以冷水。或當風取涼。故經水止而即患帶下。琥珀硃砂丸。又有白淫一症。如白精之狀。不可誤作白帶。過服熱藥。王肯堂曰。有濕痰而弱不禁攻者。燥之。熱濕宜涼燥。寒濕宜溫燥。帶下久而枯涸者濡之。常以四物料蜜丸服。以此療年高婦人白帶良驗。為潤劑也。有脈微食少。及久病曾經攻下者。俱非虛治。有熱用涼補。無熱用溫補。有因腸間敗膿。淋露不已。腥穢殊甚。遂至臍腹更增冷痛。卒無已期者。治須排膿為先。白芷一兩。單葉紅蜀葵根二兩。白芍、枯礬各五錢。蠟丸。空心及飯前。米湯下十丸或十五丸。候膿盡。仍別以補藥補之。吳昆曰。白芷性香而升舉。黃荊實性辛而利氣。瓦楞子性燥而勝濕。炒焦則火可生土。土可防水。煅粉則燥可勝濕。濕勝則無以下注而白帶止。此古人於此三物。有單用一物以止之也。又曰。葵花稟草木之陰。涵天地之陽。故能潤燥升陽。使營衛上行。不復陷於帶脈之下而為帶下。故以之治帶病也。又曰。婦人無病容。單下白帶者。責之濕熱下注。婦人久病赤白。並責之氣血下陷。多成瘵也。又曰氣陷下焦。則白帶。血陷下焦。則赤帶。必澀藥止之。將未盡之帶留而不去。以利藥下之。則既損其中。又傷其下。皆非治也。千金用白馬毛散。以白馬則得干之剛。可以利氣。毛得血餘。可以固血。氣利則白愈。血固則赤止。以此意也。龜鱉牡蠣。外剛內柔。離之象也。去其柔而用其剛。故可以化癥。而赤白之成帶者。無復中留。可使營衛之行不復陷下。營不陷則無赤。衛不陷則無白。武之望曰。白淫。謂曰物淫如白精之狀。又有日夜津流如清米泔。或如黏膠者。謂之白崩。與白淫大同。多憂思過度所致。用平補鎮心丹。思傷脾胃者。四七湯下白丸子。痞悶少食者。沉香降氣湯。勞傷腎氣。心腎不交者。金鎖正元丹。</p>

<h3>治滯下病方</h3>
<p><u>膠艾四物湯</u>　治婦人赤帶。</p>
<p>四物湯加　阿膠　艾葉</p>
<p><u>桂附湯</u>　治白帶腥臭。多悲不樂。大寒。</p>
<p>肉桂（一錢）　附子（二錢）　黃柏　知母（各五分）</p>
<p>如食少常飽。有時似腹脹。加白芍五分。不思飲食。加五味二十粒。煩惱面上麻木如蟲行。乃胃中元氣極虛。加黃耆二錢、人參七分、炙草三分、升麻五分。此方乃補陽氣。極虛用知柏為引。用又升降陰陽藥也。</p>
<p><u>元戎六合湯</u>　又名元戎四物湯。治赤白帶下。脈沉微腹痛。或陰中痛。</p>
<p>四物湯（各一錢）加　肉桂　附子（各五分）</p>
<p>一方　四物加茴香、肉桂。</p>
<p><u>東垣固真丸</u>　治白帶大下不止。臍腹寒痛如冰。陰中亦然。目溜火。齒惡熱。</p>
<p>白石脂煅　柴胡（各一錢）　酒煮龍骨飛（二錢）　酒洗當歸（三錢）　乾薑（炮四錢）　酒黃柏　白芍（各五分）</p>
<p>糊丸。每三十丸。空心沸湯下。少頃。以粥壓之。是不令熱藥犯胃。忌生冷硬物。</p>
<p><u>衛生湯</u>　治帶下由於熱者。</p>
<p>白芍　當歸　黃耆（三錢）　甘草（一錢）</p>
<p><u>二黃三白湯</u>　治帶下由於熱者。</p>
<p>酒扁柏　川連　黃柏（各五錢）　醋香附　白石脂　白朮　白芍（各一兩）　椿白皮（二兩）</p>
<p><u>白芷散</u>　治赤白帶下。</p>
<p>白芷（一兩）　海螵蛸（三錢）　胎髮（煅一錢）</p>
<p>每末。二錢。酒下。</p>
<p><u>補骨脂丸</u>　治年老人久帶。</p>
<p>補骨脂　杜仲　醋牡蠣　五味子（各三兩）　車前子（二兩）　艾葉（一兩）</p>
<p><u>老年白帶方</u>　治同上。</p>
<p>黃柏　五味　杜仲（各四錢）　萸肉（五錢）　補骨脂　牡蠣（煅各三錢）　醋香附（八錢）　砂仁　川椒　川芎　茯苓　車前子（各二錢）　醋炒艾葉（一錢）　醋化阿膠（五錢）　白芍（六錢）</p>
<p>鹿角膠丸。鹽湯下。</p>
<p><u>血虛帶下方</u>　治帶下由於血虛者。</p>
<p>四君四物二湯加　陳皮　杜仲　黃耆　香附　砂仁　黃柏　知母</p>
<p>蜜丸。</p>
<p><u>烏金丸</u>　治赤白帶下。</p>
<p>烏頭　烏附　莪朮　艾葉</p>
<p>共用醋煮爛。搗如泥。再以　熟地　當歸（各四兩）　白芍　川芎（各二兩）</p>
<p>為末。和前藥。泥丸。淡醋湯下。</p>
<p><u>烏艾丸</u>　治同上。</p>
<p>烏藥（二兩半）　艾葉（六兩）　香附（四兩）</p>
<p>將艾浸醋中十數日。再將香附後一日曬乾。共為末。醋糊丸。酒下。</p>
<p><u>赤淋丸</u>　治赤淋。</p>
<p>茯苓　生地　知母　黃柏　續斷　杜仲　丹參　甘草　白芍</p>
<p><u>白馬毛散</u>　治帶下赤白。</p>
<p>白馬毛（二兩）　龜甲（四兩）　牡蠣（一兩十八銖）　鱉甲（十八銖）</p>
<p>為末。空心酒下。方寸匕。日三。加至匕半。如下白。取白馬者。下赤。取赤馬者。</p>
<p><u>小柴胡湯</u>　治肝膽經症寒熱往來。晡熱潮熱。默默不欲飲食。或怒火。口苦耳聾。咳嗽發熱。脅下作痛。甚者不能展側。兩脅悶痞。或泄利。或吐酸食苦水。皆主之。治帶下亦間用此加減。</p>
<p>柴胡（二錢）　黃芩（一錢）　人參　半夏（各七分）　甘草（五分）</p>
<p><u>歸脾湯</u>　治脾經失血。少寐。發熱盜汗。或思慮傷脾。不能攝血。以致妄行。或憂思傷脾。血虛發熱。或肢體作痛。大便不調。或經候不準。帶下。晡熱內熱。</p>
<p>人參　白朮　黃耆　茯苓　當歸　龍眼　棗仁　遠志（各一錢）　木香　甘草（各五分）　姜　棗</p>
<p><u>龍膽瀉肝湯</u>　治肝經濕熱。兩拗腫痛。或腹中疼痛。或小便澀滯等症。用此加減。治帶下。</p>
<p>龍膽草　澤瀉（各一錢）　酒生地　車前子　木通　酒當歸　山梔　黃芩　甘草（各五分）</p>
<p><u>妙香散</u>　治心氣不足。精神恍惚。虛煩少睡盜汗等症。亦用此加減治帶下。</p>
<p>人參　甘草（炒）　桔梗（各五錢）　薑汁炒山藥　茯苓　遠志　茯神　黃耆（各一兩）　硃砂（另研，三錢）　麝香（另研二錢）　煨木香（二錢半）</p>
<p>每末二錢。溫酒下。</p>
<p><u>四七湯</u>　治七情鬱結成痰。或如梅核梗於喉中。或中脘停痰氣痞。或痰壅氣喘。或痰飲嘔逆噁心。亦治帶下有痰者。</p>
<p>半夏（錢半）　蘇葉　厚朴　茯苓（各一錢）</p>
<p><u>導水丸</u>　治赤白帶下。隨宜酌用。</p>
<p>大黃　黃芩（各二兩）　黑牽牛頭末　滑石（各四兩）</p>
<p>水泛丸。臨臥水下。</p>
<p><u>禹功散</u>　治同上。</p>
<p>黑牽牛頭末（四兩）　炒茴香（一兩）　或加木香（一兩）</p>
<p>每末一二錢。臨臥薑汁下。</p>
<p><u>芩柏樗皮丸</u>　治瘦人多熱。致成帶下。</p>
<p>黃芩　樗白皮　黃柏　川芎　滑石　海浮石　青黛　當歸　白芍</p>
<p>醋糊丸。</p>
<p><u>芩術樗皮丸</u>　治孕婦白帶。</p>
<p>黃芩　白朮（各三錢）　黃柏（錢半）　樗皮　白芍　山萸（各二錢半）　白芷　川連（各二錢）</p>
<p>酒糊丸。溫酒下。</p>
<p><u>琥珀硃砂丸</u>　治室女帶下。</p>
<p>琥珀　木香　當歸　沒藥（各四錢）　乳香（一錢）　麝香　硃砂（各二分半）</p>
<p>水丸芡子大。每一丸。溫酒磨下。</p>
<p><u>胃風湯</u>　治風邪傳腎帶下。黑如衃血。</p>
<p>人參　茯苓　川芎　當歸　白朮　白芍　肉桂（各七分）　粟米（百粒）</p>
<p><u>三補丸</u>　治赤帶。兼服此丸。</p>
<p>黃芩　黃連　黃柏</p>
<p>等分。蜜丸。湯下。</p>
<p><u>震靈丹</u>　一名紫金丹。治婦人血氣不足。崩漏虛損。帶下虛冷。胎臟無子。</p>
<p>乳香（另研）　五靈脂（另研）　沒藥（另研並去砂石各二兩）　硃砂（飛一兩）　禹餘糧石（醋淬捻得碎為度）　代赭石（同糧石制）　紫石英　赤石脂</p>
<p>以上四味。並作小塊。入鍋內。鹽泥固濟。候乾。用炭十斤煅通紅。火盡為度。埋地二宿。出火毒。糯米粉打糊。丸如芡子大。每丸空心醋湯送下。如有孕。不可服。</p>
<p><u>苦楝丸</u>　治赤白帶。</p>
<p>苦楝碎酒浸　茴香炒　當歸</p>
<p>等分。酒糊丸。每三五十丸。空心酒下。腰腿疼。四物四兩。加羌活、防風各一兩。煎湯送下。</p>
<p><u>酒煮當歸丸</u>　治癲癇白帶下注。腳氣。腰以下冷等症。</p>
<p>當歸（一兩）　茴香（五錢）　炮附子　良薑（各七錢）</p>
<p>上四味。銼如麻豆大。酒一升半。至酒盡為度。焙乾。研細末。入炒黃鹽　丁香（各五錢）　全蠍（三錢）　柴胡（二錢）　升麻根　木香（各一錢）　苦楝子　炙草（各五分）　延胡索酒炒（四錢）</p>
<p>酒煮。麵糊丸。每二十丸。空心宿食消盡。淡醋湯下。忌油膩酒面生冷。</p>
<p><u>解帶散</u>　治濕熱痰鬱白帶。</p>
<p>酒當歸　醋香附（各錢半）　酒白芍　白朮（各錢二分）　茯苓　蒼朮　陳皮　丹皮（各一錢）　川芎　延胡索（各八分）　炙草（四分）　加姜（二片）</p>
<p>空心服。</p>
<p><u>側柏樗皮丸</u>　治七情所傷白帶。</p>
<p>椿根皮（二兩）　醋香附　白芍　白朮（各一兩）　側柏葉　川連　黃柏（炒各五錢）　白芷灰（三錢）</p>
<p>粥丸。</p>
<p><u>大聖萬安散</u>　治寒濕帶下。</p>
<p>白朮　木香　胡椒（各二錢半）　陳皮　黃耆　桑皮　木通（各五錢）　白牽牛（炒取頭末二兩）</p>
<p>每末二錢。臨臥薑湯下。少頃。再飲薑湯數口催之。平明可行三五次。取下惡物。以粥補之。服此藥。忌食暈酒晚飯。</p>
<p><u>延胡苦楝湯</u>　治大寒帶下。</p>
<p>延胡索　苦楝子（各二分）　黃柏（一分）　附子　肉桂（各三分）　炙草（五分）　熟地（一錢）</p>
<p><u>白蘞丸</u>　治室女帶下。</p>
<p>鹿茸（二兩）　白蘞　狗脊（制去毛各一兩）</p>
<p>醋艾煎汁。打糊丸。</p>
<p><u>內金鹿茸丸</u>　治勞傷帶濁。</p>
<p>鹿茸　黃耆　五味　雞內金　肉蓯蓉　遠志　牡蠣　桑螵蛸　龍骨　附子</p>
<p>等分。蜜丸。</p>
<p><u>金鎖正元丹</u>　治真氣不足。呼吸短氣。四肢倦怠。腳膝痠軟。目暗耳鳴。盜汗遺精。及婦人白濁白淫等症。</p>
<p>肉蓯蓉　巴戟　葫蘆巴（各一斤）　補骨脂（十兩）　五倍子（八兩）　茯苓（六兩）　硃砂（三兩）　龍骨（二兩另研）</p>
<p>酒丸。每二十丸。鹽湯下。</p>

<h2>崩漏</h2>
<p>大凡女子自天癸既通而後。氣血調和。則經水如期。不先不後。自無崩漏之患。若勞動過極。以致臟腑虧傷。而衝任二脈。亦虛不能約束其經血。使之如期而下。故或積久或不須積久。忽然暴下。若山之崩。如器之漏。故曰崩漏。究其原。則有六大端。一由火熱。二由虛寒。三由勞傷。四由氣陷。五由血瘀。六由虛弱。何以見火熱之所由也。或脾胃傷損。下陷於腎。與相火相合。濕熱下迫。血色紫黑。臭如爛肉。中挾白帶。則寒作於中。脈必弦細。中挾赤帶。則全由熱作。脈必洪數。其症兼腰臍下痛。兩脅急縮。心煩悶。心下急。不眠。欲崩。先發寒熱。平時臨行經。亦發寒熱。此必大補脾胃而升降氣血。宜補中益氣湯與涼血地黃湯相合加減用。或心氣不足。心火大熾。旺於血脈之中。又脾胃失調。而心火乘之。肌肉顏色如常。此為心病。經水不時下。亦暴下不止。治必大補氣血。脾胃少加。鎮墜心火。以治其心。補陰瀉陽。而崩自止矣。宜六味丸加黃連、麥冬。或肝經有熱。血得熱而下行。宜四物湯加柴胡、山梔、蒼朮。或風熱鬱於肝經。血得風而妄行。宜加味逍遙散。或怒動肝火。肝家血熱而沸騰。宜小柴胡湯加山梔、丹皮、龍膽。或脾經鬱熱。血為熱迫而不歸經。宜歸脾湯加柴胡、山梔、丹皮。或悲哀太過。損傷胞絡。令血下注。宜四君子湯加柴胡、丹皮、山梔。或血為熱傷。脈象虛洪。所下皆紫黑色。宜河間生地黃散。或血室有熱。崩下不止。服溫藥不效。宜金華散。或天暑地熱。陽來乘陰。經血沸溢。宜簡易黃芩湯。以上皆火熱所統之病也。何以見虛寒之所由也。或心氣不足。又勞役飲食不節。其脈兩尺弦緊而洪。按之無力。其症臍下如冰。求厚衣被以禦寒。白帶白滑之物雖多。間下如屋漏水。下時有鮮血。不多。右尺脈時微洪。屋漏水多。暴下者。是急弦脈為寒多。而洪脈時見乃熱少。合而言之。急弦者。北方寒水多也。洪脈時出者。命門包絡之火也。黑物多。赤物少。合成屋漏水之狀。宜丁香膠艾湯。（此條脈症與方本東垣）或經候過多。其色瘀黑。甚者崩下。呼吸少氣。臍腹冷極。則汗出如雨。尺脈微小。由衝任虛衰。為風冷客乘胞中。氣不能固。宜鹿茸丸。或氣血勞傷。衝任脈虛。如經來非時。忽然崩下。或如豆汁。或成血片。或五色相雜。或赤白相兼。臍腹冷痛。經久未止。令人黃瘦口乾。飲食減少。四肢無力。虛煩驚悸。宜伏龍肝散。或經血適下。過服寒涼之藥等物。因愈崩漏。肚腹痞悶。飲食不入。發熱煩躁。脈洪大而虛。由脾經氣血虛而發躁。緩治則不救。宜八珍湯加炮姜。以上皆虛寒所統之病也。何以見勞傷之所由也。或因勞役。令脾胃虛弱。氣短氣逆。自汗不止。身熱悶亂。惡見飲食。肢倦便泄。漏下不止。其色鮮明。宜當歸芍藥湯。（此條亦本東垣）或思慮傷脾。不能攝血。致令妄行。並健忘怔忡。驚悸不寐。且心脾傷痛。怠惰少食。宜歸脾湯。或憂思鬱結。勞傷心經。不能為血之主。遂令妄行。宜柏子仁湯。或緣卒然大怒。有傷肝臟。而血暴下。宜養血平肝散。以上皆勞傷所統之病也。何以見氣陷之所由也。或經漏不止。鮮血。項筋急。腦痛。脊骨強痛。不思飲食。宜柴胡調經湯。或露下惡血。月水不調。或暴崩不止。多下水漿之物。皆由飲食不節。或勞傷形體。或素有心氣不足。因飲食勞倦。致令心火乘脾。必怠惰嗜臥。四肢不收。困倦乏力。無氣以動。氣短上氣。逆急上衝。其脈緩而弦急。按之洪大。得之脾土受邪也。脾主滋榮周身者也。心主血。血主脈。二者受邪。病皆在脈。脈者血之府也。脈者人之神也。心不主令。胞絡代之。故曰。心之脈主屬心系。心系者。胞絡命門之脈也。主月事。皆由脾胃虛而心胞乘之。故漏下。血水不調也。況脾胃為血氣陰陽之根蒂。當除濕去熱益氣。氣上伸以勝其濕。又云。火鬱則發之。宜調經升陽除濕湯。（此條亦本東垣）或衝任氣虛。經脈不調。崩中漏下。宜斷下湯。以上皆氣陷所統之病也。何以見血瘀之所由也。或血大至。純下瘀血成腐。勢不可止。甚則頭目昏暈。四肢厥冷腹痛。宜膠艾湯。或血崩不止。昏迷不省。宜五靈脂散。或瘀積血崩。所下皆成五色。宜香附子散。或瘀積久而血崩。臍腹㽲痛。宜立效散。或室女二七之期。天癸未至而後至。亦有卒然暴下。淋瀝不止。有若崩漏者。其失血必多。宜加減四物湯。以上皆血瘀所統之病也。何以見虛弱之所由也。或崩中不止。結作血片。如雞肝色。碎爛。宜小薊根湯。或崩血無度。虛損羸瘦。宜鹿茸散。或諸虛不足。久不受孕。骨熱形羸。而崩中帶下。宜補宮丸。或帶下漏血不止。及風寒冷熱勞損衝任。崩中暴下。腰重裡急。淋瀝不斷。宜芎藭湯。以上皆虛弱所統之病也。就此六者。而分類推之。以究其原。崩漏之病。寧有遺哉。然其治之。亦必有道矣。方氏云。血屬陰靜。則循經榮內。動則錯經妄行。凡人七情過極。則動五志之火。五志之火亢盛。則經血暴下。久而不止。謂之崩中。如風動木搖。火燃水沸之類。治崩次第。初用止血以塞其流。中用清熱涼血以澄其源。末用補血以還其舊。若止塞流而不澄源。則滔天之熱不可遏。若止澄源而不復舊。則孤孑之陽無以立。故本末不遺。前後不紊。方可言治。方氏此論。乃治崩要法。醫者深悉乎六者之由。而運之以塞流澄源復舊三法。則庶幾其得之矣。</p>
<p><u>脈法</u>　仲景曰。寸口脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。寒虛相搏。此名曰革。婦人則半產漏下。旋覆花湯主之。脈經曰。問曰。五崩何等類。師曰。白崩者。形如涕。赤崩者。形如絳津。黃崩者。形如爛瓜。青崩者。形如藍色。黑崩者。形如衃血也。又曰。診婦人下赤白。日下血數升。脈急疾者死。遲者生。婦人帶下。脈浮惡寒漏下者不治。又曰。尺脈急而弦大。風邪入少陰之經。女子漏白下赤。又曰。漏血下赤白不止。脈小虛滑者生。大緊實數者死。陳自明曰。寸脈微遲為寒在上焦。則吐血衄血。尺脈微遲。為寒在下焦。則崩血便血。大抵數小為順。洪大為逆。大法當調補脾胃為主。又曰。尺寸脈虛者。漏血脈浮者。俱不治。李梴曰。脈微弱為少氣。女子崩中漏下。致面色焦枯。心脈獨沉。主氣鬱下流。血崩去紅。腎脈浮芤。腎虛也。女人則經漏。後部彈手、陰蹺脈也。主裡急。</p>
<p><u>崩漏原由症治</u>　素問曰。陰虛陽搏謂之崩。又曰。少陽司天。初之氣。風勝乃搖。候乃大溫。其病血崩。陳自明曰。婦人血崩而心痛甚。名曰殺血心痛。由心脾血虛也。若小產去血過多而心痛甚者亦然。用烏賊骨炒為末。醋湯調下妙。失笑散亦妙。嚴用和曰。婦人平居。經脈調適。衝任二脈。互相涵養。陰陽二氣不相偏勝。則月事時下。若將理失宜。喜怒勞役。過度傷肝。肝為血庫。傷之則不能藏血於宮。宮不能傳血於海。所以崩漏。漏下者。淋瀝不斷。病之輕者也。崩中者。忽然暴下。乃漏症之甚者也。倘久不止。面黃肌瘦。虛煩口乾。臍腹冷痛。吐逆不食。四肢虛困。甚則為脹為腫者不治。李杲曰。婦人脾胃虛損。致命門脈沉細而數疾。或沉弦而洪大有力。寸關脈亦然。皆由脾胃虧。下隔於腎。與相火收合。溫熱下迫。經漏不止。其色紫黑而臭。中有白帶者。脈必弦細。寒作於中。中有赤帶者。其脈洪數疾。其熱明矣。必腰痛。或臍下痛。臨經欲行。先見寒熱往來。兩脅急縮。兼見脾胃症。如四肢困熱。心煩不臥。心下急。宜以大補氣血之藥。舉養脾胃。微加鎮墜心火之藥治其心。補陰瀉陽。經自止矣。又曰。婦人血崩。是腎水陰虛。不能鎮守包絡相火。故血走而崩也。涼血地黃湯。朱震亨曰。東垣治法。洵不容易。但學者尤當尋思急則治標。用白芷湯調百草霜末。甚者用棕灰。後用四物加炒乾姜調理。因勞用參耆帶升補藥。因寒用乾薑。因熱用黃芩。崩過多。先用五靈脂末一服。當分寒熱。蓋五靈脂能行能止。紫色成塊者熱也。四物加黃連之類。李梴曰。崩漏之由。虛與熱而已。治法多端。隨症制宜。如經行犯房。勞役過度。氣血俱虛。忽然暴下者。宜大補氣血。氣虛。四物加參、耆。血虛。四物加膠、艾、炒乾姜。虛寒臍腹冷痛。伏龍肝散。膏粱厚味。致脾濕下流於胃。與相火合為濕熱。迫經下漏者。解毒四物湯、四物坎離丸。飲食失節。火乘脾胃下陷。容顏似無病。而外見脾氣困倦。煩熱不臥者。宜補陰瀉陽。升陽調經湯、升陽舉經湯。子宮為四氣相搏。血亦難停者。風搏。不換金正氣散加川芎、官桂。四物加荊芥。寒搏。及年老久崩。伏龍肝散加附子、鹿茸、阿膠蒲黃丸。暑搏。單芩心丸。或益元散加百草霜。濕搏。升陽除濕湯。悲哀甚而包絡絕。包絡絕而陽氣內陷。發則心下崩。數溲血者。備金散、四制香附丸。徐春甫曰。崩漏最為大病。年少之人。火熾血熱。房事過多。經行交感。俱致斯疾。大都涼血固澀。升氣益榮。而可愈也。中年以上人。及高年寡婦。多是憂慮過度。氣血俱虛。此為難治。必須大補氣血。養脾升胃固血。庶保十之二三。若不早治。正如圯廈之難支也。蓋血崩症。有因虛。有因熱。虛則下陷。熱則流溢。視其緩急標本治之。緩用四物加條芩、附子。急用神效丸。有因血臟虛冷。宜四物加黃芩、阿膠、參、耆。東垣謂崩帶下久。有屬於寒。不可一論。王肯堂曰。冷者。脈緊細。手足寒。紅而淡黑。或五色。當歸建中湯加龍骨、血竭、附子。送下紫石英丸。熱者脈洪。四肢溫。心煩。口苦燥。血沸而成。黃芩湯、清心蓮子飲。加竹瀝、生地。甚者生地汁、磨京墨、百草霜冷服。虛者膠艾湯加麥冬、鹿茸、龍骨、棗仁。實者腹中痛。四物加香附。心虛者。恍惚多夢。健忘。舌強盜汗。小便多而紅。柏子仁湯。酸棗仁湯加龍骨、京墨、百草霜。若崩中。作麝香、當歸、香者。（者疑為附之誤）心氣已散。急服靈砂、龍骨等。又曰。血者心之色也。血見黑即止。腎水制心火故也。又曰。凡血崩。脈沉弦而洪。或沉細而數。或崩而又兼久瀉者。皆胃氣下陷也。故以升舉為要。萬全曰。崩中多因中氣虛。不能收斂其血。加以積熱在裡。迫血妄行。故令暴崩。崩久不止。遂成下漏。治法。初病宜止血。四物調十灰散。以血止為度。次則清熱。用涼血地黃湯。如血未盡。再吞十灰丸。血已盡止。裡熱盡除。然後補其虛。宜加味補中益氣湯、地黃丸、參朮大補丸。以平為度。武之望曰。丹溪云。涎郁胸中。清氣不升。故經脈壅遏而降下。非開涎不足以行氣。非氣升則血不能歸隧道。此論血泄之義甚明。蓋開胸膈濁涎。則清氣升。清氣升則血歸隧道。不崩矣。故其症或腹滿如孕。或臍腹㽲痛。或血結成片。或血出則快。止則悶。或臍上動。其治法。宜開結痰。行滯氣。消瘀血。余嘗謂丹溪先生善治痰。觀此另得一種見解。不益信哉。</p>
<p>鰲按。痰鬱氣遏。是崩漏中有此一症。非必定如是也。</p>

<h3>治崩漏病方</h3>
<p><u>補中益氣湯</u>　治脾胃虛損崩漏。</p>
<p>人參　黃耆　白朮（各一錢）　炙草　當歸　陳皮（各七分）　升麻　柴胡（各三分）</p>
<p><u>涼血地黃湯</u>　治同上。又治血崩由腎水陰虛不能鎮守包絡相火。故血走而崩者。</p>
<p>生地　歸尾（各五分）　黃連　黃柏　知母　藁本　川芎　升麻（各二分）　防風　羌活　黃芩　細辛　荊芥　炙草　蔓荊子（各二分）　紅花（一分）</p>
<p><u>歸脾湯</u>　治思慮傷脾。不能攝血。妄行崩漏。</p>
<p>人參　黃耆　白朮　茯苓　當歸　遠志　圓眼　棗仁（各二錢）　木香　炙草（各五分）　姜三棗一</p>
<p>加柴胡、山梔。名加味歸脾湯。</p>
<p><u>河間生地黃散</u>　治脈虛洪。血色紫黑。</p>
<p>生地　熟地　白芍　黃耆　天冬　杞子　柴胡　地骨皮</p>
<p>便血者。加地榆。</p>
<p><u>金華散</u>　治血室有熱而崩漏。</p>
<p>延胡索　瞿麥穗　當歸　丹皮　乾薑（各一兩）　石膏（二兩）　威靈仙　桂心（各七錢）　蒲黃（五錢）</p>
<p>每末三錢。水煎。空心溫服。日二。</p>
<p><u>簡易黃芩湯</u>　治天暑地熱。經血沸溢。</p>
<p>黃芩末（三錢）</p>
<p>用秤錘燒紅淬酒中。名霹靂酒下。</p>
<p><u>丁香膠艾湯</u>　治漏下屋漏水之狀。</p>
<p>當歸（錢二分）　白芍　熟地（各三分）　川芎　丁香（各四分）　艾葉（一錢後入）　炒阿膠（六分後入）</p>
<p>空心服。三服效。</p>
<p><u>鹿茸丸</u>　治風冷客乘胞中崩漏。</p>
<p>鹿茸（酥炙）　赤石脂（煅）　禹餘糧（煅各一兩）　炮附子　艾葉　柏葉（各五錢）　當歸　熟地　川斷（各二兩）</p>
<p>蜜丸。酒下。</p>
<p><u>伏龍肝散</u>　治氣血勞傷。衝任脈虛崩漏。</p>
<p>川芎（三兩）　伏龍肝　赤石脂（各一兩）　艾葉（微炒）　熟地（各二兩）　麥冬（兩半）　當歸　乾薑（各七錢半）　肉桂　甘草（各五錢）</p>
<p>每粗末四錢。加棗一枚煎。</p>
<p><u>當歸芍藥湯</u>　治勞役傷脾胃崩漏。</p>
<p>黃耆（錢半）　白朮　蒼朮　歸身　白芍（各一錢）　熟地　陳皮（各五分）　生地　炙草（各三分）　柴胡（二分）</p>
<p><u>柏子仁湯</u>　治勞傷心經崩漏。</p>
<p>柏子仁　香附　川芎　鹿茸　茯神　當歸（各錢半）　川斷（二錢）　阿膠　遠志（各一錢）　炙草（五分）　姜（三片）</p>
<p><u>養血平肝散</u>　治大怒血崩。</p>
<p>當歸　白芍　香附（各二錢）　醋青皮　柴胡　川芎　生地（各八分）　甘草（五分）</p>
<p><u>柴胡調經湯</u>　治漏下鮮血。</p>
<p>羌活　獨活　升麻　藁本（各五分）　蒼朮（一錢）　柴胡（七分）　葛根　當歸　炙草（各三分）　紅花（少許）</p>
<p>稍熱服。取微汗。立止。</p>
<p><u>調經升陽除濕湯</u>　治漏下惡血。</p>
<p>黃耆　蒼朮　羌活（各錢半）　防風　藁本　柴胡　升麻　炙草（各一錢）　當歸　獨活（各五分）</p>
<p>空心服。少時。以早膳押之。</p>
<p><u>五靈脂散</u>　治血崩昏迷。</p>
<p>五靈脂炒熱。</p>
<p>溫酒下末一錢。</p>
<p><u>香附子散</u>　治崩下五色。</p>
<p>香附末。每二錢。米飲下。</p>
<p><u>斷下湯</u>　治衝任氣虛崩漏。及經不調。並三十六種帶病。</p>
<p>人參　熟地　醋艾葉（各一兩）　烏賊骨灰　酒當歸（各二兩）　阿膠　川芎（各七錢）　炮乾薑（五錢）</p>
<p><u>立效散</u>　治血崩臍腹痛。</p>
<p>香附（三兩）　當歸（一兩）　赤芍　良薑　五靈脂（各五錢）</p>
<p>每末三錢。酒一盞。童便少許煎。</p>
<p><u>加減四物湯</u>　治室女下血。</p>
<p>四物湯（四錢）　加香附（錢半）　姜（五片）</p>
<p>如血色鮮。去熟地。加生地。</p>
<p><u>小薊根湯</u>　治陽傷於陰漏血。</p>
<p>小薊莖葉搗汁。生地搗汁各一盞　白朮（五錢）</p>
<p>入水一盞。煎半。溫服。</p>
<p><u>鹿茸散</u>　治虛羸漏下。</p>
<p>鹿茸（一兩）　龍骨　鱉甲　熟地　白芍　白石脂　續斷　烏賊骨（各二兩）　肉蓯蓉（兩半）</p>
<p>每末二錢。食前。米湯下。</p>
<p><u>補宮丸</u>　治諸虛不足崩漏。</p>
<p>白薇　牡蠣　白芍　鹿角霜　山藥　白朮　白芷　茯苓　烏賊骨</p>
<p>等分。糊丸。</p>
<p><u>芎藭湯</u>　治四氣勞損衝任下血。</p>
<p>川芎　吳茱萸　黃耆　白芍　生地　炙草（各二兩）　當歸　乾薑（各一兩）</p>
<p>水一斗。煮三升。分三服。若經後有赤白不止者。去生地、吳萸。加人參、杜仲各二兩。</p>
<p><u>伏龍肝散</u>　治崩中下赤白。或如豆汁。</p>
<p>伏龍肝（如彈子大七枚）　生薑（五兩）　生地（銼四升）　甘草　艾葉　赤石脂　桂心（各二兩）</p>
<p>水一斗。煮三升。分四服。日三夜一。</p>
<p><u>四物坎離丸</u>　治脾濕下流於腎。與相火合為濕熱。迫經下漏。紫黑臭腐。</p>
<p>生地（兩半）　酒浸熟地（搗膏）　當歸身（二兩）　酒白芍（兩半）　酒黃柏　知母（各一兩）　槐子　側柏葉（各一兩同炒）　連翹（六錢）</p>
<p>蜜丸。</p>
<p><u>升陽舉經湯</u>　治飲食勞倦。暴崩不止。或下水漿。怠惰嗜臥。四肢困倦。及帶下脫漏。</p>
<p>肉桂　川芎　紅花（各五分）　細辛（六分）　人參　熟地（各一錢）　附子　獨活　甘草（各錢半）　羌活　藁本　防風（各二錢）　白朮　當歸　黃耆　柴胡（各三錢）　桃仁（十枚）</p>
<p>咀片。分作四帖煎。夏月不用桂。</p>
<p><u>不換金正氣散</u>　治風冷血崩。</p>
<p>厚朴　陳皮　藿香　半夏　蒼朮（各一錢）　甘草（五分）　姜（三片）　棗（一枚）</p>
<p><u>升陽除濕湯</u>　治濕盛血崩。</p>
<p>蒼朮（一分）　升麻　柴胡　防風　神麯　澤瀉　豬苓（各五分）　陳皮　甘草　麥芽（各三分）　姜　棗</p>
<p><u>平補鎮心丹</u>　治血崩。</p>
<p>茯苓　茯神　五味　車前子　肉桂　麥冬（各兩二錢半）　遠志肉　山藥　天冬　熟地（各兩半）　棗仁（二錢半）　龍齒（二兩半）　人參　硃砂（各五錢）</p>
<p>蜜丸。每三十丸。米飲下。</p>
<p><u>解毒四物湯</u>　一名溫清飲。治崩漏面黃腹痛。</p>
<p>四物湯（各一錢）　加黃芩　黃連　黃柏　山梔　生地（各一錢）</p>
<p>此四物湯與黃連解毒湯合劑也。</p>
<p><u>備金散</u>　治血崩不止。</p>
<p>香附（四兩）　歸尾（兩二錢）　五靈脂（炒一兩）</p>
<p>每末三四五錢。空心醋湯調。</p>
<p><u>地黃丸</u>　治足三陰虧損。經行數日不止。及帶下無子。</p>
<p>熟地　山萸　蕪荑仁　白芍（微炒）　代赭石（各一兩）　殭蠶（炒）　炮乾薑　厚朴（各三錢）</p>
<p>蜜丸。酒下。日三。</p>

<h3>附錄前人效方</h3>
<p><u>五灰散</u>　治下血不止成血崩。</p>
<p>蓮蓬殼　百草霜　黃絹　血餘　棕皮（以上共燒存性）　山梔　蒲黃（炒）　血竭　京墨</p>
<p>每細末一二錢。調服。</p>
<p><u>十灰散</u>　治下血不止。</p>
<p>錦片　木賊　棕皮　柏葉　乾漆　艾葉　當歸　血餘　鯽魚鱗　鯉魚鱗</p>
<p>以上各燒存性。等分研末。入麝香少許。每末二錢。空心酒下。</p>
<p><u>十灰丸</u>　治崩漏不止。</p>
<p>綿灰　黃絹灰　馬尾灰　艾葉灰　藕節灰　蓮房灰　油須灰　赤松皮灰　棕灰　蒲黃灰</p>
<p>等分。醋煮米糊丸。每五七十丸至百丸。空心米飲下。</p>

<h1>卷六</h1>

<h2>婦女雜病</h2>
<p>婦女者陰之集。常與濕居者也。男子之為道也以精。婦女之為道也以血。精為陽。此其所以成男子也。血為陰。此其所以為婦女也。蓋自十四衝任脈通而天癸至。血氣之存。外循經絡。內榮臟腑。不失其度。則月事以時下。而諸疾不生。如不然者。陰氣浮溢。百想經心。內傷五臟。外損姿容。月水去留。前後互異。瘀血停滯。中道斷絕。其間傷損。不可俱論。聖惠方云。婦女所以別立方者。以其氣血不調。胎妊產生崩傷多異之故。旨哉言乎。可見婦女之不同於男子。婦女之病難治於男子數倍也。蓋以男子之病。多由傷精。婦女之病。多由傷血。然而婦女之欲。每甚於丈夫。故感病亦每易於丈夫。又況嫉妒憂患。繫戀愛憎。入之深。著之固。情不自抑。不知解脫。由陰凝之氣。鬱結專滯。一時不得離散。非若陽氣之偶有所抑。畢竟易於發散。故其為病根深也。夫婦女之病。莫有如經。莫有如胎。莫有如產前後。莫有如崩中帶下。此數大端。別自有論。此外有最易作而最難治者。一曰癆瘵。一曰積聚癥瘕。一曰浮腫。其癆瘵之由。復有數種。或因先天氣血不足。乍寒乍熱。不思飲食。尫羸無力。宜滋陰百補丸。或吐衄。咳唾血。發熱盜汗。痰嗽心惴。因虛勞而經水不調。宜滋陰地黃丸。甚或心肺俱損。血脈虛弱。皮聚毛落。亦因虛勞而致經水不調。宜滋血湯。其有先經水不調而致癆瘵者。則五心煩熱。寒熱如瘧。或煩熱潮熱。盜汗痰嗽。宜逍遙散、加味逍遙散。至如室女思慮傷心。經閉成癆。則名乾血癆。其候最難調治。只宜益陰血。制虛火。慎勿妄用通經破血之藥。（要法俗人不知）宜柏子仁丸、澤蘭湯。或因產後早犯房事。勞役過度。將理失宜。皆能致病。名曰產後癆。宜人參鱉甲散、胡氏牡丹散。又或血氣既虧。為風冷所搏。則不能溫於肌膚。使人虛羸憔悴。飲食不消。又或風邪兩感於肺。肺受微寒。喘嗽口乾頭昏。百節痛。又或風邪侵於營衛。流及臟腑。寒熱如瘧。盜汗。背膊煩悶。四肢沉重。名曰蓐癆。俗總謂之產後癆。宜黃耆丸、白茯苓散。當與產後篇參看。積聚癥瘕者。本男女皆有之病。而婦人患此。大約皆胞胎生產。月水往來。血脈精氣不調。及飲食不節。脾胃虧損。邪正相侵。積於腹中之所生。準繩謂推之不動為癥。推之動為瘕是也。試詳言之。癥有二。一、血癥。由臟腑氣虛。風冷相侵。或飲食失節。與血氣相搏。適值月水往來。經絡痞塞。惡血不除。結聚成塊。漸至心腹。兩脅痛苦。害於飲食肌膚瘦羸。宜桃仁、五靈脂、生地、牛膝、大黃、甘草。二、食癥。亦由月信往來食生冷之物。而臟腑虛弱不能消化。與臟氣搏結。聚而成塊。盤堅不移也。瘕有八。一、黃瘕。由經來或大小。產後血氣未定。臟腑空虛。或當風便利。陰陽開合。關節四邊。中於風濕。邪從下入於陰中。積留不去所成。其症寒熱身重。淋露不食。左脅下有結氣拒按。宜皂莢散。二、青瘕。由新產起行浣洗太早。陰陽虛。產門四邊解散。子戶未安。骨肉皆痛。手臂不舉。又犯風濕所成。其症苦寒。洒洒入腹。煩悶。結熱不散。惡血不除。聚在兩脅下。藏於背膂。其後月水不通。或反不禁。宜青瘕坐導方。三、燥瘕。由月水未盡。或以夏暑。或以舉重汗出。卒以恚怒。致月水與氣相搏。反快涼飲。月水橫流。溢入他臟。有熱。則成燥瘕。大如半杯。上下腹中痛。連兩脅下。上引心而煩。喜嘔吐。腰背重。足酸削。忽遺溺。月閉。宜療燥瘕方。四、血瘕。由月事中止。飲食過度。五穀氣盛。溢入他臟。或大飢寒。呼吸未調。而自勞動。血下未定。左右走腸胃間。留絡不去。內有寒熱。與月水合會而成。其症不可俯仰。橫骨下有積氣。堅如石。少腹急痛。背疼。腰腹攣。陰中若生風冷。月水來止不常。宜療血瘕方、桃仁煎。五、脂瘕。由月信初來。或生未滿月而交。胞門傷。子戶失禁。關節散。臟腑津流。陰道瞤動。百脈四解。子精與血氣相遇。不能成子而成脂瘕。其症少腹重。腰背如刺。四肢不舉。臥不安。左右走腹中痛。時少氣。頭眩。身體解㑊。苦寒惡風。二便血。月事來止不常。宜療脂瘕方、導散方。六、狐瘕。由月來悲憂。或風雨雷電驚恐。且受濕。心神恍惚。四肢振寒。體倦神散。邪入陰里不去而成。其症少腹滯。陰中腫。小便難。胸膈腰背痛。氣盛善食。多所思。如有身狀。宜療狐瘕方。七、蛇瘕。由月新止。陰陽未平。飲汙井之水。食不潔之物。誤吞蛇鼠之精。留臟不去而成。其症長成蛇形。在臍上下。或左右脅。不得吐氣。上蝕心肝。少腹熱。膀胱引陰中痛。腰痛。兩股脛間痛。時寒熱。月水或多少。宜療蛇瘕方。八、鱉瘕。由月水新至。其人作勞。適受風濕。恍惚覺悟。心尚未平。復見所好。心為之開。魂魄感動。五內消脫。或沐浴不以時出。而神不守。水氣與邪氣俱入至三焦中幕。玉門先閉。津液妄行。留絡不去而成。其症形如小枰。小腹切痛。左右走。上下腹中痛。持之躍手。下引陰里痛。腰背亦痛。不可以息。月事不通。宜療鱉瘕方。由此推之。又有近臍左右。各有一條筋脈急痛。大如臂。小如指。因氣而成。如弦之狀。名曰痃者。又有僻匿在兩脅間。時痛時止。名曰癖者。皆由陰陽乖。經絡痞。飲食滯。邪冷搏而成也。俱宜麝香丸。又有臟腑虛弱。氣血勞傷。風冷入腹。與血相結。留聚浮假而痛。推移則動。名曰疝瘕者。乃由經產後胞中有惡血。復為邪結而成也。宜乾漆散、黑神丸。又有所謂腸覃者。寒客大腸。與胃相搏。大腸為肺傳送。寒則濁氣凝結。日久便生瘜肉。始如雞卵。大如懷胎。按之堅。推之動。月則時下。此氣病而血未病也。宜晞露丸。或二陳湯加香附。又有所謂石瘕者。寒客下焦。血氣俱為所閉塞。日益大。亦如懷子。但不得推移。且多墜小腹。與腸覃相類而實異。宜見晛丹。要之婦人積聚之病。雖屢多端。而究其實。皆血之所為。蓋婦人多鬱怒。鬱怒則肝傷。而肝藏血者也。婦人多憂思。憂思則心傷。而心主血者也。心肝既傷。其血無所主則妄溢。不能藏則橫行。迨至既溢既行。離其部分。或遇六淫。或感七情。血逐瘀滯。而隨其所留臟腑。所入經絡。於是而百疾作。有如前種種惡症矣。若夫月經偶閉。或產後惡露未盡。乘風取涼。為風冷所乘。便成瘀血。而此瘀在腹中。必至發熱面黃。食少體瘦。然此但為瘀血而未成積聚等症者。不早圖之。堅結成形。亦難免矣。婦女浮腫之病。有先斷經而後致四肢浮腫。小便不通者。乃血化為水。古人謂之血分。宜椒仁丸、人參丸。亦有先因小便不通。而後身面浮腫。竟至經水不通者。乃水化為血。古人謂之水分。宜葶藶丸。其原皆由外傷六淫。內傷七情。飲食失度。起居失宜。漸至脾胃受傷。失生髮統攝之節。氣與血俱乖而後然也。蓋人身氣血。本屬相須。血者氣之化。氣者水之母。非氣無以生血。非血無以養氣。若經水不通。則血病。血病而氣亦病矣。血不通而化水者。實是氣壅不能化血。遂變為水也。至薛氏云。月水不通。凝結於內。久而變為血瘕。血水相搏。亦為水腫。夫血凝成瘕。因而致腫。亦屬於水。此症之故。則以血水相搏。既凝之血。亦從乎水者矣。當細思之。總之血分者。不可以水治。水分者。不可以血治。理固然也。以上皆最易作。而最難治之病也。其有不易作。而實難治者。婦女陰中之疾是已。如陰戶腫痛不閉。寒熱。溺澀體倦。少食。宜補中益氣湯加升、柴。量入茯苓、山梔。陰戶不閉。小便淋瀝。腹中一物。攻動腹痛。宜逍遙散加柴胡、山梔、車前。皆由肝脾有傷之故。嘗考石室秘錄曰。婦人羞隱之處。不便明言。然大約非寒即熱。今擬一方。先用歸、芍各三錢。川芎一錢。熟地五錢。甘草、柴胡、白芥子各一錢。黃芩、炮姜各三分。水煎服之後。較前平善。則是虛症。隨用四物治之可也。未好。則是熱痛作祟。方中加梔子三錢治之。必奏效。此誠可謂善於試之者矣。至若陰瘡陰挺一切等症。詳載雜病源流前陰條。參考可也。而婦女之疾。關係最鉅者。則莫如乳。如乳炭岩、乳癰、乳吹等症。亦詳雜病源流身形門。茲不贅。其有乳癧者。女子十三四歲。經脈將行。或一月二次。或過月不行。致生此疾。多生於寡薄虛弱之人。每乳上止有一核。可治。若串成三四個。即難療。宜服敗毒散加生地。再服黃礬丸。通用逍遙調經湯。其有乳硬者。多因厚味濕熱之痰。停蓄膈間。與滯乳相搏而成。又有滯乳。因兒口氣吹噓而成。又有拗怒氣激滯而生者。煅石膏、栝蔞子、青皮、甘草節。皆神效藥也，然此病。若早治之。立消。有月經時悉是輕病者。到五六十歲無月經時。不可作輕易看也。其有未產而乳自出者。謂之乳泣。生子多不育。產後乳汁自出者。乃胃氣虛。宜服補藥止之。或治以漏蘆散亦可。以上皆不易作而難治之病也。此外若婦女氣盛於血。往往無子。且變生諸症。頭暈膈滿。有所必至。抑氣散、異香四神丸。若血風體痛。寒熱盜汗。頰赤口乾。胸滿痰嗽。月水不調。臍腹㽲痛。瘕癖成塊。宜人參荊芥散。若風虛夢與鬼交。妄有所見。言語錯亂。宜伏神湯。若經水不調。血氣攻注。遂至腹脅疼痛。積聚成塊。宜神仙聚寶丹。若怒氣傷肝。不能藏血。血失常經。以致肌膚手足間。俱有血線絡隱然可見。宜橘歸丸。則皆婦女之病所不可忽者。至於尋常雜病。與男子略同者。已詳雜病源流中。故可無贅。惟此種種。乃婦女所獨。因不憚條載而縷述之焉。</p>
<p><u>脈法</u>　脈經曰。婦人疝瘕積聚。脈弦急者生。虛弱者死。又曰。少陰脈浮而緊。緊則疝瘕。半產而墮傷。浮則亡血。惡寒絕產。</p>
<p><u>虛勞原由症治</u>　王肯堂曰。勞倦所傷。用補中益氣湯調治。乃暴病也。失治而有發熱潮熱。盜汗咳嗽諸症出焉。謂之虛勞。又復失治。而有皮聚毛落。飲食不為肌膚。骨髓中熱。經閉不行諸症出焉。謂之瘵骨蒸熱。至於傳屍勞。別自一種。其原不起於勞倦。其流至於滅門。</p>
<p>鰲按。婦女虛勞。多半由於經血。即有由勞倦者。亦必內傷脾胃。及於衝任之故。不與男子虛勞一般。</p>
<p>大全曰。婦人冷勞。即無熱虛勞也。由血氣不足。臟腑虛寒。以致臍腹冷痛。手足時寒。月經失常。飲食不省。或時嘔吐。惡寒發熱。骨節痠疼。肌膚羸瘦。面色蔞黃也。婦人熱勞。即有熱虛勞也。由心肺壅熱。傷於氣血。以致心神煩躁。頰赤頭疼。唇乾眼澀。口舌生瘡。神思困倦。四肢壯熱。飲食無味。肢體痠疼。心忡盜汗。肌膚日瘦。或寒熱往來。當審其所因。調補氣血。其病自愈矣。又曰。婦人有瘵骨蒸熱。多因經行胎產。或飲食起居七情。重傷肝脾之所致。又有失於調攝。或過於攻伐而成。與男子治法。稍有不同。故方亦專治婦人。薛己曰。無熱虛勞。有內外真寒。有內外真熱。有內真熱而外假寒。有內真寒而外假熱者。若飲食難化。大便不實。飲食畏寒。手足逆冷。面黃嘔吐。畏見風寒。此內外真寒之症也。宜用附子理中湯以回陽。八味丸以壯火。若飲食如常。大便堅實。胸腹痞脹。飲食喜冷。手足煩熱。面赤嘔吐。不畏風寒。此內外真熱之症也。宜用黃連解毒湯以消陽。六味丸以壯水。若飲食如常。大便堅實。胸腹痞脹。飲食喜寒。手足逆冷。面黃嘔吐。畏見風寒。此內真熱而外假寒也。亦用解毒湯、六味丸。若飲食少思。大便不實。吞酸噯氣。胸腹痞滿。手足逆冷。面赤嘔吐。畏見風寒。此內真寒而外假熱也。亦用理中湯、八味丸。當求其屬而治之。（屬謂心腎也）經曰。益火之源以消陰翳。壯水之主以制陽光。使不知真水火之不足。泛以寒熱藥治之。則舊疾未去。新病復生矣。夫所謂屬者。猶主也。謂心腎也。求其屬者。言水火不足。而求之於心腎也。火之源者。陽氣之根。即心也。水之主者。陰氣之根。即腎是也。非謂火為心。源為肝。水為腎。主為肺也。又曰。有熱虛勞。乃壯火食氣。虛火煎熬真陰之所致也。王太僕云。如大寒而甚。熱之不熱。是無火也。熱來復去。晝見夜伏。夜發晝止。是無火也。當治其心。如大熱而甚。寒之不寒。是無水也。熱動復止。倏忽往來。時動時止。是無水也。當助其腎。心盛則生熱。腎盛則生寒。腎虛則寒動於中。心虛則熱收於內。竊謂此症。若由肝脾血虛。用四物參朮。肝脾鬱怒。小柴胡合四物。脾胃氣虛。補中益氣湯。肝脾血虛。加味逍遙散。肝經風熱。加味小柴胡湯。心經血虛。天王補心丹。肺經氣虛。人參補肺湯。肝經血虛。加味四物湯。大抵午前熱屬氣分。用清心蓮子飲。午後熱屬血分。四物加參、朮、丹皮。熱從左起。肝火也。實則四物加龍膽、山梔。虛則四物加參、朮、黃耆。熱從臍下起。陰火也。四物加參、朮、知、柏、酒拌炒黑。又五味、麥冬、肉桂。不應。急用加減八味丸。不時而熱。或無定處。或從腳心起。此無根虛火也。加減八味丸。及十全大補湯加麥冬、五味。武之望曰。瘵骨蒸者。此主脈之病也。夫腎主骨。骨至於蒸。真陰竭矣。陽何以附。曰骨蒸者。由積熱附於骨而然也。又曰。傳屍殗殢。復連無辜。皆由脾胃虧損所致。其形羸瘦。腹脹泄痢。肢體無力。傳於腎則盜汗不止。腰膝冷痛。夢鬼交侵。小便赤黃。傳於心則心神忡悸。喜怒不時。頰唇赤色。乍熱乍寒。傳於肺則肺滿短氣。咳嗽吐痰。皮膚甲錯。傳於腎則兩目昏暗。脅下妨痛。閉戶忿怒。五臟既病。則難治療。</p>
<p><u>室女勞瘵</u>　寇宗奭曰。人以氣血為本。人之病。未有不先傷氣血者。若室女童男。積想在心。思慮過度。多致勞損。男則神色消散。女則月水先閉。蓋憂愁思慮則傷心。而血逆竭。神色先散。月水先閉。且心病則不能養脾。故不嗜食。脾虛則金虧。故發嗽。腎水絕則水氣不榮。而四肢干痿。故多怒。鬢髮焦。筋骨痿。若五臟傳遍。則死。自能改易心志。用藥扶持。切不可用青蒿、虻蟲等。涼血行血之藥。薛己曰。經云。五穀入胃。其糟粕精液宗氣。分為三隧。故宗氣積於胸中。出於喉嚨。以貫心肺而行呼吸。榮氣者。泌其精液。注之於脈。化以為血。以榮四末。內養五臟六腑。若服苦寒之劑。復傷胃氣。必致不起。</p>
<p><u>蓐勞症治</u>　薛己曰。產後蓐勞。當扶養正氣為主。六君子湯加當歸。若脾肺氣虛而咳嗽口乾。補中益氣湯加麥冬、五味。若因中氣虛而口乾頭暈。補中益氣加蔓荊子。肝經血虛而肢體作痛。四物加參朮。肝腎虛弱而自汗盜汗。寒熱往來。六味丸加五味。脾虛血弱。肚腹作痛。月水不調。八珍湯倍白朮。脾虛血燥。皮膚瘙癢。加味逍遙散。大抵此症。多因脾胃虛弱。飲食減少。以致諸經疲憊而作。當補脾胃。飲食一進。精氣生化。諸臟有所倚賴。其病自愈。仍參虛損發熱方論主治。</p>
<p><u>積聚癥瘕症治</u>　薛己曰。婦人食癥。由形氣弱。須先調補脾胃為主。而佐以消導。若形氣充實。當先疏導。而佐以補脾胃。若氣壅血滯而不行。宜用烏藥、蓬朮、肉桂、當歸、桃仁、青皮、木香等分為末。每二錢。熱酒調下。名烏藥散。散而行之。如脾氣虛而血不行。宜用四君芎歸。補而行之。若氣鬱而血不行。宜用歸脾湯。解而行之。若肝脾血燥而不行。宜加味逍遙散。清而行之。大抵食積痞塊之癥為有形。蓋邪氣勝則實。真氣奪則虛。當養正辟邪。而積自除矣。又或問。癥一也。何以知是血癥。曰血外之癥。昏悶煩躁。迷妄驚狂。痰嘔汗多。骨熱肢冷。其蓄在下焦者。必臍下急結。外熱內痛。尺脈洪而數也。又曰。子和云。遺溺閉癃。陰痿浮痹。精滑白淫。皆男子之疝也。若血痼。月事不行。行後小腹有塊。或時移動。前陰突出。後陰痔核。皆女子之疝也。但女子不謂之疝。而謂之疝瘕。</p>
<p><u>乳疾形症</u>　陳實功曰。初起紅赤腫痛。身微寒熱。無頭眩口乾微疼者順。已成。焮腫發熱疼痛。有時一囊結腫。不侵別囊者輕。已潰。膿黃而稠。腫消痛漸止。四邊作癢生肌者順。潰後。膿水自止。腫痛自消。新肉易生。瘡口自合者順。初起一乳通痞大痛。不紅。寒熱。心煩嘔吐。不食者逆。已成。不熱不紅。堅硬如石。口乾不眠。胸痞食少者逆。已潰不膿。正頭腐爛。腫勢愈高。疼痛愈盛。流血者死。潰後肉色紫黑。痛苦連心。涴氣日深。形體日削者死。初起發熱惡寒。頭眩體倦。六脈浮數。邪在表。宜散之。發熱無寒。噁心嘔吐。口乾作渴。胸膈不利者。宜清之。憂鬱傷肝。思慮傷脾。結腫堅硬微痛者。宜疏肝行氣。已成焮腫發熱。疼痛有時已。欲作膿者。宜托裡消毒。膿已成而脹痛者。宜急開之。如脾胃虛弱。更兼補托。潰而不斂。膿水清稀。腫不消。痛不止。大補氣血。結核不知疼痛。久而漸大。破後流汙水。宜養血清肝。張介賓曰。產後乳自出。乃陽明胃氣不固。當分有火無火。而泄不止。由氣虛也。十全大補湯。若陽明血熱而溢者。保陰煎。肝經怒火上衝。乳脹而溢者。加減一陰煎。乳多脹痛而溢者。用溫帛熨而散之。</p>

<h3>治婦女雜病方</h3>
<p><u>補中益氣湯</u>　治形神勞倦。或飲食失節。以致脾胃虛損。清氣下陷。發熱頭痛。四肢倦怠。心煩肌瘦。日漸羸弱。</p>
<p>人參　黃耆　白朮（各一錢）　炙草（五分）　當歸　陳皮（各七分）　升麻　柴胡（各二分）</p>
<p>本方加生地、花粉。名加味補中益氣湯。</p>
<p><u>補肺湯</u>　治勞嗽。五臟虧損。晡熱發熱。自汗盜汗。唾痰喘逆。</p>
<p>人參　黃耆　紫菀　五味子（各五分）　熟地　桑皮（各一錢）</p>
<p>入蜜少許。食後服。</p>
<p><u>滋陰百補丸</u>　治婦人勞傷氣血。諸虛百損。五勞七傷。陰陽不和。乍寒乍熱。心腹疼痛。不思飲食。尫羸無力。</p>
<p>香附（一片，用酒醋鹽童便各浸一分焙）　益母草（半斤）　當歸（六兩，酒洗）　熟地（薑汁炒）　川芎　白朮（各四兩）　白芍（三兩）　延胡索　人參　茯苓（各二兩）　炙草（一兩）</p>
<p>蜜丸。空心下五六十丸。</p>
<p><u>附子理中湯</u>　治真陽不足。飲食難化。大便不實。腸鳴腹痛。飲食畏寒。手足逆冷。</p>
<p>人參　白朮　炙草　乾薑　附子</p>
<p>等分。每咀片四錢。加姜十片煎。</p>
<p><u>十全大補湯</u>　治婦人冷勞最妙。</p>
<p>人參　白朮　茯苓　炙草　當歸　白芍　川芎　熟地　黃耆　肉桂（各二錢）</p>
<p><u>逍遙散</u>　治血虛勞倦。五心煩熱。肢體疼痛。頭目昏重。心忡頰赤。口燥咽乾。發熱盜汗。減食嗜臥。及血熱相搏。月水不調。臍腹眼痛。寒熱如瘧。又主室女血弱陰虛。榮衛不和。痰嗽潮熱。肢體羸瘦。漸成骨蒸。</p>
<p>當歸（酒洗）　白芍（酒炒）　茯苓　柴胡（各一錢）　炙草（五分）</p>
<p>加姜三片、薄荷少許。一方無薄荷。加麥冬二十粒。如熱甚。加丹皮、山梔。骨蒸。加知母、地骨皮。咳嗽。加五味子、紫菀。吐痰。加半夏、貝母、栝蔞仁。飲食不消。加山楂、神麯。發渴。加麥冬、花粉。胸中作熱。加黃連、山梔。心慌。加遠志、棗仁。吐血。加阿膠、生地、丹皮。自汗。加黃耆、棗仁。久瀉。加炒黑乾薑。遍身痛。加羌活、防風、川芎。以利關節。手足顫掉。加防風、荊芥、薄荷。氣惱胸膈痞悶。加枳實、青皮、香附。怒氣傷肝。眼目昏花。加龍膽、黃連、山梔。小腹痛。加香附、延胡索。經閉不通。加桃仁、紅花、蘇木。左腹血塊。加三稜、蓬朮、桃仁、紅花。右腹氣塊。加木香、檳榔。</p>
<p><u>白茯苓散</u>　治產後蓐勞。頭目四肢疼痛。寒熱如瘧。</p>
<p>茯苓（一兩）　四物湯（各五錢）　黃耆（炙）　人參　肉桂（各五錢）</p>
<p>先以水三盞。煮豬腰一對。姜三棗三。至二盞。煎藥。</p>
<p><u>黃耆丸</u>　治蓐勞寒熱進退。頭目眩痛。骨節痠疼。氣力羸乏。</p>
<p>黃耆　鱉甲　當歸（各一兩）　川芎　白芍　肉桂　川斷　肉蓯蓉　柏子仁　牛膝　沉香　枳殼（各七錢半）　五味　熟地（各五錢）</p>
<p>蜜丸。</p>
<p><u>人參鱉甲散</u>　治動作勞傷蓐勞。</p>
<p>鱉甲　黃耆（各一兩）　牛膝（七錢半）　人參　茯苓　當歸　白芍　麥冬　熟地　桃仁　桂心　甘草　桑寄生（各五錢）　川斷（二錢半）</p>
<p>先煮豬腰一對。姜五棗三。取汁。入藥末二錢。蔥白三寸。烏梅一個。荊芥五穗。煎服。</p>
<p><u>胡氏牡丹散</u>　治產後虛羸。發熱自汗。欲變蓐勞。</p>
<p>當歸　白芍　人參　五加皮　地骨皮（各五錢）　丹皮（三錢）　桂心　沒藥（各二錢）</p>
<p>每末二錢。入開元錢一枚。麻油蘸之。煎服。煎不可攪。吃不可吹。</p>
<p><u>柏子仁丸</u>　治血虛有火成勞。</p>
<p>柏子仁　牛膝　卷柏（各五錢）　澤蘭　川斷（各二兩）　熟地（三兩）</p>
<p>煉蜜丸。</p>
<p><u>澤蘭湯</u>　治同上。並與前方兼服。</p>
<p>澤蘭（三兩）　當歸　白芍（各一兩）　甘草（五錢）</p>
<p>每粗末五錢。煎服。</p>
<p><u>皂莢散</u>　治黃瘕導方。</p>
<p>川椒　皂莢（各一兩）　細辛（兩半）</p>
<p>為末。以三角囊。大如指。長二寸。貯之。納陰中。欲便則出之。便已復納之。惡血出。洗以溫湯。三日勿近男子。</p>
<p><u>療青瘕坐導方</u>　照方治。</p>
<p>戎鹽（一升）　炙皂莢（五錢）　細辛（一兩）</p>
<p>治法照前方。但臥。瘕當下。青如葵汁。養之如產法。</p>
<p><u>療燥瘕方</u>　照方治。</p>
<p>大黃如雞子許　乾薑（二兩）　黃連（三兩）　厚朴（四兩）　桂心　郁李仁（各一兩）　䗪蟲（熬三枚）　雞肫黃（炙一枚）</p>
<p>每末三錢。清早酒服。瘕當下。養如產法。三月勿交。無子者當有。</p>
<p><u>療血瘕方</u>　照方治。</p>
<p>大黃　當歸（各半兩）　皂莢　山萸（各一兩）　細辛　戎鹽（各二錢半）</p>
<p>豬脂丸如指大。每一丸。綿裹納陰中。正坐良久。瘕當下。養如乳婦法。</p>
<p><u>桃仁煎</u>　治血瘕血積。經候不通。</p>
<p>桃仁　大黃（各一兩）　虻蟲（炒五錢）　朴硝（另研一錢）</p>
<p>醋二升半。煎取升半。下大黃、桃仁、虻蟲。攪。煎至可丸。下硝攪勻。出之。丸梧子大。前一日不吃晚飯。五更溫水下五丸。日午下如赤豆汁。或如雞肝蝦蟆衣狀。未下再服。如鮮血來。即止。隨以調補氣血藥補之。氣虛血弱者忌用。</p>
<p><u>療脂瘕方</u>　照方治。</p>
<p>皂莢（七錢半）　礬石（燒二錢半）　五味　川椒　乾薑　細辛（各五錢）</p>
<p>為末。香脂和丸。大豆許。著男子陰頭以合陰陽。不三行。其瘕即愈。</p>
<p><u>導散方</u>　治同上。</p>
<p>皂莢（炙）　吳萸　當歸（各一兩）　川椒　乾薑　大黃　戎鹽（各二兩）　細辛　礬石（燒）　五味（各二分）</p>
<p>為末。以絹袋如指大。長三寸。盛滿。納陰中。坐臥隨意。只勿走。小便時去之。別換新者。</p>
<p><u>療狐瘕方</u>　照方治。</p>
<p>取新死鼠一枚。裹新絮。塗黃土。穿地坎。足沒鼠身。置其中。桑柴火灼其上一日一夜。出之。研為末。肉桂心末二錢半。酒服二方寸匕。病當下。甚者不過再服。</p>
<p><u>療蛇瘕方</u>　照方治。</p>
<p>大黃　黃芩　芒硝（各半兩）　甘草（大如指者一尺炙）　烏賊魚骨（二枚）　皂莢（酥炙六枚）</p>
<p>水六升。煮數沸。去渣。下硝。適寒溫服之。十日一劑。空腹服之。瘕當下。</p>
<p><u>療鱉瘕方</u>　照方治。</p>
<p>大黃（兩半）　乾薑　側子（各五錢）　附子　人參（各三錢七分半）　䗪蟲（一寸匕）　桂心（一兩二錢半）　細辛　䱇（各七錢半）　白朮（一兩）</p>
<p>為末。酒服。方寸匕。日三。</p>
<p><u>麝香丸</u>　治婦人痃癖冷氣。兼疰氣心腹痛不可忍。</p>
<p>麝香（另研五錢）　阿魏（二錢半）　五靈脂　三稜（各七錢半）　桃仁（七錢）　芫花（醋炒）　檳榔（各一兩）　蓬朮　桂心　沒藥　當歸　木香（各五錢）</p>
<p>飯丸。每十丸。淡醋湯下。不拘時。</p>
<p><u>乾漆散</u>　治婦人疝瘕。久不消。令人黃瘦尫羸。兩脅妨悶。心腹疼痛。</p>
<p>乾漆（炒）　木香　芫花（醋炒）　赤芍　桂心　當歸　琥珀（另研）　川芎（各半兩）　大黃（炒二兩）　牛膝（七錢半）　桃仁（一兩）　麝香（二錢半）</p>
<p>每末一錢。不拘時酒下。</p>
<p><u>黑神丸</u>　治疝瘕。</p>
<p>神麯　茴香（各四兩）　川椒　丁香（各五錢）　檳榔（四枚）　漆（六兩，半生半用重湯煮半日令香）</p>
<p>上除椒漆外。皆半生半炒為細末。用前生熟漆和丸彈子大。又用茴香末十二兩。鋪陰地蔭干。候乾。並茴香收器中。至極干。去茴。治腎氣膀胱痃癖。及疝墜五膈。血崩。產後諸血。漏下赤白。並一丸。分四服下。死胎一丸。皆綿灰酒下。難產。炒葵子四十九枚搗碎。酒煎下。諸疾不過三服。痃氣十服。膈氣癥瘕五服。血瘕三丸。當瘥。</p>
<p><u>見哯丹</u>　治寒客下焦。血氣閉塞而成瘕。日以益大。狀如懷子。名曰石瘕。</p>
<p>炮附（四錢）　鬼箭羽　紫石英（各三錢）　澤瀉　肉桂　延胡索　木香（各二錢）　血竭（另研錢半）　水蛭　檳榔（二錢半）　桃仁（另研三十個）　三稜（五錢）　大黃（七錢）</p>
<p>酒糊丸。每三十丸。醋湯食前下。</p>
<p><u>椒仁丸</u>　治先經斷。後浮腫。血化為水。名曰血分。</p>
<p>椒仁　千金子（去皮研）　甘遂　炮附子　郁李仁　黑牽牛　五靈脂　當歸　延胡索　吳萸（各五錢）　芫花（醋浸）　石膏（各三錢）　膽礬（一錢）　蚖青　斑蝥（各十個）</p>
<p>麵糊丸。梧子大。每陳皮湯下一丸。</p>
<p><u>葶藶丸</u>　治先小便不利。後浮腫。水化為血。名曰水分。</p>
<p>甜葶藶（炒另研）　千金子（另研各五錢）　干筍末（一兩）</p>
<p>棗肉丸梧子大。每七丸。扁竹湯下。如大便利者。減葶藶、千金各一錢。加白朮五錢。</p>
<p><u>人參丸</u>　治經脈不利。血化為水。名曰血分。</p>
<p>人參　當歸　大黃（紙裹蒸切炒）　瞿麥穗　桂心　赤芍　茯苓（各半兩）　甜葶藶（炒研一錢）</p>
<p>蜜丸。每十五丸至二三十丸。空心米湯下。</p>
<p><u>抑氣散</u>　治氣盛於血。</p>
<p>香附（四兩）　陳皮　茯苓　甘草（各一兩）</p>
<p><u>異香四神散</u>　治同上。</p>
<p>香附（四錢）　陳皮　烏藥（各二錢）　甘草（一錢）　姜　棗</p>
<p><u>人參荊芥散</u>　治婦女虛勞。</p>
<p>人參　荊芥　生地　柴胡　棗仁　鱉甲　白朮　枳殼　羚羊角（各七分半）　桂心　川芎　當歸　防風　丹皮　赤芍　甘草（各五分）　姜（二片）</p>
<p><u>加味逍遙散</u>　治同上。</p>
<p>柴胡　白芍　當歸　白朮　茯苓　甘草　加知母　地骨皮　山梔　黃柏　桔梗　麥冬　生地</p>
<p><u>滋血湯</u>　治同上。</p>
<p>當歸　白芍　山藥　黃耆（炙）　熟地（各錢半）　人參　川芎　茯苓（各七分）</p>
<p><u>滋陰地黃丸</u>　治同上。</p>
<p>熟地（四兩）　山萸　山藥　天冬　麥冬　生地　知母　貝母　當歸　香附（各二兩）　茯苓　丹皮　澤瀉（各兩半）　蜜丸。</p>
<p><u>茯神湯</u>　治同上。</p>
<p>茯神（錢半）　茯苓　人參　菖蒲（各一錢）　赤芍（五分）</p>
<p><u>橘歸湯</u>　治血線。</p>
<p>橘紅（四兩）　當歸（二兩）　蜜丸。酒下。</p>
<p><u>神仙聚寶丹</u>　治積塊。</p>
<p>琥珀（另研）　當歸（各一兩）　乳香　沒藥（俱另研各二錢半）　硃砂（另研）　木香（另研）　麝香（另研各一錢）</p>
<p>水丸。每兩作十五丸。每服一丸。酒磨。溫酒下。</p>
<p><u>清心蓮子飲</u>　治心煩發渴。</p>
<p>車前子　地骨皮　麥冬　黃芩　炙草（各錢半）　蜜黃耆　人參　茯苓　石蓮肉（各七分半）</p>
<p>一方加遠志、菖蒲各一錢。發熱。加柴胡、薄荷。</p>

<h3>附錄前人效方</h3>
<p><u>益母草丸</u>　治婦人骨蒸勞瘦。月候不通。心神煩熱。四肢疼痛。不能飲食。</p>
<p>益母草　青蒿（各二斤）　桃枝　柳枝（各一握長一尺）</p>
<p>先銼四味。用童便一斗。煎三升。去渣。熬成膏。再用　柴胡　犀角屑　赤芍（各一兩）　鱉甲（二兩）　桃仁泥（五兩）　天靈蓋（酥炙微赤）　硃砂　木香　炙草（各二兩）　麝香（五錢）</p>
<p>用前膏搗丸。每三十丸。烏梅甘草湯下。不拘時。</p>
