<header data-type="book">
<h1>醫學讀書志</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曹禾</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1851">公元1851年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>古醫以拯危為務，故尚學術，今醫以摶利為務，學術不講久矣。惟曰：醫者意也。夫醫者意也，在人思慮，出唐書許胤宗傳。胤宗陳隋名醫，治療若神。人求其著作，因以此語發端，而述別脈識病用藥之難，不敢著書，非令人不尚學術也。醫為先王之一政，周設醫師，校醫學術之良劣，民無夭扎。醫經經方本草，實當時學術之源，至漢尤為尊重，故倉公之對孝文，莫不井然合度。仲聖具天縱之才，恐去古日遠，學術漸岐，乃博採諸家，束繁歸簡，成傷寒卒病論，為萬世醫方之祖。運移漢祚，幾亡兵燹，賴晉高平王氏輯殘繕整，一火傳薪。迨至宋齊，岐分遂眾。治醫經者：晉有皇甫謐，隋有全元起、巢元方，唐有王冰。治經方者：魏有華佗、吳普，晉有葛洪，宋齊有徐氏四傑，唐有孫思邈、甄立言、王燾。治本草者：魏有李鐺之，齊有徐之才，梁有陶弘景，隋有甄權，唐有蘇敬、孟詵、陳藏器。宋祖御宇，高繼沖編上傷寒論，始別成一家，與醫經經方本草三家並傳。於是治經方者：有陳言、許叔微、嚴用和、陳自明。治本草者：有大明、唐慎微、寇宗奭。治傷寒者：有朱肱、龐安時、郭雍。嗣後劉完素、張元素崛起於金，撰醫方以配醫經，實悖醫經本旨。而張從正、李杲、羅天益、王好古、羅知悌、朱震亨、徐彥純、王履、戴原禮等，南北分宗，遞相授受，遂成門戶結習。幸成無己，當劉張時，獨注傷寒，趙以德受丹溪業，反注金匱。滑壽、倪維德、淑艾四子，一注難經，一參龍樹。呂復博考群經古方，齊德之崇尚病源千金，皆當時之砥柱也。前明薛己、張介賓、繆希雍、孫一奎、王肯堂、李時珍等，沿金元結習，誇多鬥靡，各爭門戶，以矜獨解。然盧復、劉若金，窮物理以治本草，方有執、喻昌、研章句以治傷寒，皆守學術之正。因瑕瑜並存，更繹我朝治醫經、經方、傷寒、本草者十六家，各加論斷，成醫學讀書志九十九篇。自今伊始，讀其書知其人矣，然妄議前修，按圖索驥，其咎肇於此乎？咸豐元年春仲。武進曹禾。</p>

<h1>卷上</h1>
<p>簡籍者，所以稽古哲之謀猷，驗時髦之學術，歷代秘府，皆搜儲至富。宋元革命，載罹兵燹。明成祖廣集遺書，編成《永樂大典》二萬二千九百卷，繁重不能刊布，嘉靖中僅加繕寫。我高宗純皇帝敕繕四庫全書，頒貯七閣。許士民註冊借鈔，覆命撰全書提要，舉書之大凡，人之行履，更節為簡明目錄，宣示臣民，俾得周知學術，樂育人材，亙古未有。禾生逢盛世，暢讀秘書。而在醫言醫，不敢縱越。謹以史志所載，耳目所及之書，志其次第曰：漢方技三十六家八百六十八卷。梁醫方一百三十二部一千二百一卷。隋醫方一百五十六部四千五百一十三卷。唐明堂經脈三十四家四十部二百四十一卷，醫術二百五十七家一百九十二部四千四百五十四卷。宋醫書五百八部三千三百一卷。金醫書三十六部未載卷，一部一百四十三卷。元醫書一百三十六部未載卷，三十八部七百七十七卷。明醫書九十八部未載卷，一十九部一千二百六十二卷。國朝醫書一百九十六部二千五百一十九卷。合共一千三百九十四部，一萬九千一百三十六卷。令引伏羲氏一部二十卷。神農氏八部四十三卷，注一家四卷。軒轅氏二十九部二百三十七卷，注一家一百九卷。唐三朝五部三十八卷，附梁隋七部二千九百二十八卷。宋五朝七部一百六十六卷，補二部二百九卷。國朝純廟一部九十卷。岐伯四部十三卷，雷公二部七卷，扁鵲俞拊一部二十三卷，桐君一部三卷。秦越人九部四十七卷，注三家八卷，附呂博望一部三卷，呂廣一部三卷，楊元操一部一卷。亡名氏十二部三百六十四卷。淳于意二部二卷。先師張子十三部七十二卷，附衛汛三部未載卷，二部三卷。華佗四部八卷。吳普二部十六卷。李鐺之四部十一卷。王叔和七部五十卷，附王洙。葛洪二部十三卷，皇甫謐二部十三卷，附範汪一部一百七十卷。徐叔向十一部一百六卷。徐文伯五部七卷。徐嗣伯三部九卷。徐之才五部二十一卷。陶弘景七部四十五卷。姚僧垣二部十五卷。巢元方一部五十卷。全元起一部八卷。甄權三部五卷。甄立言二部五十七卷。孫思邈八部一百七十七卷。蘇敬四部五十七卷。孟詵三部十六卷。王燾二部五十卷。陳藏器一部十卷。王冰四部六十七卷。大明一部二十卷。王惟德一部七卷。唐慎微一部三十卷。孫兆一部十二卷，附高保衡二部五卷。韓祗和一部二卷。龐安時四部十六卷。錢乙二部十三卷。朱肱二部二十三卷。成無己三部十四卷。陳師文、裴宗元二部十三卷。郭雍一部二十卷。許叔微一部十二卷。寇宗奭一部二十卷。陳言二部二十六卷，附嚴用和一部十卷。陳自明一部二十四卷。張杲一部十卷。楊士瀛二部三十三卷。劉完素十四部四十一卷，附常德一部一卷，鎦洪一部一卷。張元素四部八卷，附子璧二部三卷。張從正五部二十二卷。李杲八部未載卷，一部二十五卷。羅天益三部四十四卷。王好古六部二十三卷。朱震亨十五部三十三卷，附羅知悌一部一卷。趙以德一部二十二卷。王履三部一百二十一卷，附徐春甫一部一百卷。危亦林一部二十卷。呂復十一部皆未載卷。滑壽十部十六卷。倪維德二部五卷。齊德之一部二卷，葛乾孫三部二十三卷，附父應雷一部十二卷。馬宗素一部一卷。戴原禮六部未載卷，二部二十一卷。徐用誠二部五十四卷。盛寅一部未載卷。陶華四部二十四卷。王綸二部皆未載卷。虞搏二部十六卷。薛己八部十六卷，附父鎧一部二十卷。李湯卿一部二卷，附朱撝一部二卷。王肯堂四部三百二十八卷。李時珍三部五十四卷。孫一奎五部三十八卷。張介賓二部九十六卷。繆希雍四部四十六卷。盧之頤五部無卷，二部十五卷，附父復四部不著卷。吳有性一部三卷。劉若金一部三十二卷。方有執三部十一卷。周子干八部三十卷，附胡住思一部一卷，查了吾一部一卷。李中梓四部二十二卷，附尤乘一部二卷。張志聰六部三十二卷。喻昌三部十三卷，附徐彬一部二十四卷。沈明宗二部三十四卷。張璐五部五十五卷，附子登一部一卷，倬一部一卷。葉桂八部五十三卷。戴天章一部四卷。徐大椿六部十七卷。程林二部未載卷，一部二十六卷。魏荔彤四部六十二卷。程應旄三部二十一卷。尤怡五部二十三卷。柯琴三部八卷。黃元御十一部九十八卷。陳士鐸四部四十一卷。沈金鰲一部七十二卷。陳念祖四部四十六卷，附姚球一部四卷。鄒澍六部三十九卷。計三墳暨列朝敕撰之書七十一部三千八百四十四卷，歷代名醫四百一十六部三千八百七十三卷。</p>
<p>論曰：弊根於法，法立則弊生，法行則弊裕，法猶水也，弊猶土也，水本清，土揚之則渾，法本平，弊撓之則陂，持法繩弊，適足固弊，因弊繕法，尚可存法。晉唐經方家法也，南陽書實法中之法。金元諸大家弊也，薛己輩尤弊中之弊。南陽述而不作，故其方旨精嚴，學者折矩旋規，恆虞差失。劉朱作而不述，故其論議媮簿，學者蒙睛盲視，亦洞隱微。無如俗好新奇，人趨簡易，循弊者眾，勵法者寡，相沿日久，遂成結習。苟有討究淵源，品騭曲直者，必群誹膠泥昏狂，是醫之劉朱，即儒之楊墨，劉朱之言不拒，南陽之道不彰。拒之之法，衍其支派，臚其載籍，與道脈並傳，俾治方技者悉讀全書而求其意趣，則淄澠自別，或可免以冰致蠅，以貍致鼠之誚也夫。</p>

<h2>太昊伏羲氏</h2>

<h3>漢書藝文志</h3>
<p>雜子道二十篇</p>

<h2>炎帝神農氏</h2>

<h3>漢書藝文志</h3>
<p>食禁七卷</p>
<p>雜子技道二十三卷</p>

<h3>梁七錄</h3>
<p>本草五卷</p>
<p>本草屬物二卷</p>
<p>明堂圖一卷</p>

<h3>隋書經籍志</h3>
<p>本草八卷</p>
<p>本草經三卷</p>

<h3>唐書藝文志</h3>
<p>本草三卷</p>

<h3>宋史藝文志</h3>
<p>食忌一卷</p>
<p>五藏論一卷</p>

<h2>黃帝軒轅氏</h2>

<h3>漢書藝文志</h3>
<p>內經十八卷</p>
<p>外經三十九卷</p>
<p>養陽方二十卷</p>
<p>雜子步引十二卷</p>
<p>雜子芝菌十八卷</p>
<p>雜子十九家方二十一卷</p>

<h3>梁七錄</h3>
<p>眾難經呂博望注一卷</p>
<p>素問八卷</p>
<p>甲乙經十二卷</p>
<p>針灸經十二卷</p>
<p>明堂流注六卷</p>

<h3>隋書經籍志</h3>
<p>素問全元起注九卷</p>
<p>甲乙經十卷音一卷</p>
<p>八十一難經二卷</p>
<p>針經九卷</p>
<p>流注脈經一卷</p>
<p>養胎經一卷</p>
<p>素問女胎一卷</p>
<p>療婦人產後雜方三卷</p>
<p>明堂偃側人圖十二卷</p>
<p>針灸蝦蟆忌一卷</p>
<p>十二經脈明堂五藏人圖一卷</p>

<h3>唐書藝文志</h3>
<p>素問全元起注八卷</p>
<p>甲乙經十二卷</p>
<p>針經十卷</p>
<p>流注脈經一卷</p>
<p>十二經脈明堂偃側人圖曹氏注十二卷</p>
<p>十二經脈明堂五藏圖一卷</p>
<p>針灸經十二卷</p>
<p>雜注針經一卷</p>
<p>明堂三卷</p>
<p>內經明堂十三卷</p>
<p>九靈經靈寶注十二卷</p>
<p>三部針經皇甫謐集十三卷</p>
<p>素問王冰注二十四卷釋文一卷</p>
<p>明堂經楊元操注三卷</p>
<p>內經明堂類成楊上善注十三卷</p>
<p>內經太素楊上善注三十卷</p>

<h3>宋史藝文志</h3>
<p>素問全元起注八卷</p>
<p>八十一難經宋庭臣註釋一卷</p>
<p>針經九卷</p>
<p>九靈內經五卷</p>
<p>脈經一卷</p>
<p>內經素問王冰注二十四卷</p>
<p>三部針灸經十二卷</p>
<p>靈樞經九卷</p>
<p>太素經三卷</p>
<p>以上四部林億等校正</p>
<p>灸經明堂三卷</p>
<p>五藏論一卷</p>
<p>問岐伯灸經一卷</p>
<p>問答疾狀一卷</p>

<h3>國朝四庫</h3>
<p>素問王冰注二十四卷</p>
<p>靈樞經十二卷</p>
<p>甲乙經八卷</p>
<p>上三墳書六十五種，除復一十九種，凡四十六種。漢志七種，梁錄亡，隋志逸本草屬物等五種，增八十一難經等九種。唐志亡養胎經等四種，復出針灸經一種，增明堂及九靈經等注家十種。宋去甲乙經之復，亡針經等十種，增靈樞經等八種。今時傳本，惟王冰注素問二十四卷，皇甫謐三部針經十二卷，靈樞經十二卷，八十一難經二卷，凡四種五十卷。夫辨藥性者必托神農，療疾疢者必依黃帝。劉向指內經為諸韓公子所著。漢書匡衡傳：奏罷本草待詔七十餘人。樓護傳：少誦醫經本草數十萬言。平帝元始五年，詔舉天下通知本草者，乘傳詣京師。則醫經本草漢時已專門傳習。雖非一時之言，一人之述，要皆醫書之祖也。</p>

<h2>唐高宗</h2>

<h3>唐書藝文志</h3>
<p>本草藥圖二十卷</p>
<p>圖經七卷</p>

<h2>玄宗</h2>

<h3>唐書藝文志</h3>
<p>開元廣濟方五卷</p>

<h3>宋史藝文志</h3>
<p>天寶神驗藥方一卷</p>

<h3>德宗</h3>

<h3>唐書藝文志</h3>
<p>貞元集要廣利方五卷</p>

<h3>宋史藝文志</h3>
<p>貞元集要廣利方五卷</p>
<p>上書五種，唐三朝御撰。高宗顯慶四年，詔英國公李勣、太尉長孫無忌、兼侍中辛茂將、太子賓客宏文館學士許敬宗、禮部郎中兼太子洗馬宏文館大學士孔志約、尚藥奉御許孝崇、胡於家、蔣季璋、尚藥局直長藺復珪、許宏直、侍御醫巢孝儉、太子藥藏監蔣季瑜、吳嗣、宗丞蔣義方、太醫令蔣季琬、許宏承、蔣茂昌、太常丞呂才、賈文通、太史令李淳風、潞王府參軍吳師哲、禮部主事顏仁楚、右監門府長史蘇敬等，參考本經別錄，分門部類，增為一百一十四種，廣為二十卷。又別撰圖經七卷，宋謂之唐本草，唐志又有孔志約本草音義二十卷，蘇敬新修本草二十卷，目一卷，本草圖二十六卷，本草音三卷，本草圖經七卷，今皆不傳。元宗開元廣濟方，尚見於外臺秘要。天寶藥方、天寶單方藥圖，僅於宋志及蘇頌本草圖經序中，載其名目。德宗貞元廣利方則絕無引用之者。隋唐志梁武隋煬皆有醫書。隋志，梁武所服雜藥方一卷，大略丸方五卷，靈素雜方二卷，隋煬四海類聚方二千六百卷，四海類聚單方三百卷。唐志，梁武座右方十卷，如意方十卷，隋煬類聚方卷仍其舊，單方僅存一十六卷，蓋當時第儲秘府，未播民間，兵革頻仍，遂遭焚燬耳。</p>

<h2>宋太祖</h2>

<h3>宋史藝文志</h3>
<p>開寶詳定本草二十卷目一卷</p>
<p>重定本草二十卷目一卷</p>

<h2>太宗</h2>

<h3>宋史藝文志</h3>
<p>太平聖惠方一百卷</p>

<h2>仁宗</h2>

<h3>宋史藝文志</h3>
<p>慶曆普救方一卷</p>
<p>皇佑簡要濟眾方五卷</p>

<h2>神宗</h2>

<h3>宋史藝文志</h3>
<p>太醫西局濟世方八卷</p>

<h3>徽宗</h3>

<h2>宋史藝文志</h2>
<p>聖濟經十卷</p>
<p>上書七種，宋五朝敕撰。太祖開寶六年，詔尚藥奉御劉翰，道士馬志，翰林醫官翟煦、張素、王從蘊、吳復圭、王光佑、陳明遇、安自良等，詳校諸本草，參以陳藏器拾遺，刊正別名，增益品目，馬志為之註解，覆命左司員外郎知制誥扈蒙，翰林學士盧多遜校定，御製序文，鏤版於國子監。七年，又以所釋藥類或有未允，仍命劉翰、馬志等重加增損，復詔翰林學士李昉，知制誥王佑、扈蒙等詳看。凡神農所說別以白字，名醫所傳別以墨字，仍為二十一卷。偽蜀孟昶，亦命其翰林學士韓保升，與諸醫士取唐本圖經合參，更加刪補註釋，自為制序，凡十卷，名蜀本草。太宗太平興國中，出潛邸時所儲名方親驗者千餘首，詔醫局各上家傳方書，命王懷德、王佑、鄭彥、陳昭遇等，校正編類，各篇之首，著其疾證，淳化初書成，御製序引。仁宗慶曆八年，以福州奏，獄醫林士元，藥下蠱毒，人獲生全，詔錄其方，令國醫類集附益，書成頒行。皇祐三年，又以外無善醫，不能救民疾疫，令醫官使周應簡聖惠方之要者，頒下諸道，敕長吏案方拯濟。嘉祐二年八月，置醫書局於編修院，詔光祿卿直秘閣林億、太常少卿直集賢院掌禹錫、國子博士高保衡、殿中丞秘閣校理張洞、殿中丞秘閣校勘蘇頌、殿中丞孫兆、尚書屯田郎中孫奇等，校正補王冰注素問二十四卷，靈樞經九卷，難經二卷，甲乙經十二卷，脈經十卷，太素經三卷，傷寒論十卷，金匱要略三卷，金匱玉函經八卷，巢氏諸病源候論五十卷，千金要方三十卷，千金翼方三十卷，外臺秘要方四十卷，補註開寶本草三十一卷，凡一十四種。每一書畢即奏上，億等皆為序。詔下國子監鏤版頒行。神宗元豐中，置提舉判局，設方脈、針、瘍三科，春間考試醫士，第一場問素、難、脈三經大義五道；次場問病源龍樹、千金翼方中方脈、臨證、運氣各二道；針瘍二科則去脈經，而增三部針灸經，為小學大義三道，運氣二道；三場假令治病法三道。中格高等為尚藥局醫師。又詔天下高手醫各以得效秘方進，下太醫局試驗，依方製藥鬻之，仍模本傳世。徽宗政和間，御撰聖濟經十篇，凡四十二章，以達道、正紀、孕元、立本、制字、命物名篇，祖述內素，旁援老氏，書成頒於兩學。辟雍生吳禔為之解義。吳禔、陳振孫書錄解題作梁武吳斌。藝文志有黃維解義十卷，令皆亡佚無徵。但據呂復群經古方考論之說如此。大觀中，詔庫部郎中陳師文等校正和劑局方，又出御府所藏禁方秘論，集海內名醫纂集聖濟總錄，卷二百方二萬，御撰序引。汴京破後，隨內府圖籍北行，南宋未有此本，故宋志不載。元大德四年，集賢學士焦惠校序，稱始成於政和，重刊於大定，今時所傳為國朝乾隆五十三年震澤汪鳴珂校刻，其友程勳多方訪覓，尚缺一百九十五、一百九十九、三百三卷。前有江蘇學政沈初、光祿卿王鳴盛序。論同病源，方同千金外臺，惟改換面目，不注出處，致篾經方之舊。案王應麟玉海：高宗紹興十八年閏八月二十三，改熟藥所為太平惠民局，二十一年十二月十七日，以監本藥方頒諸路。陳振孫書錄解題。紹興二十九年，詔醫官王繼先重校嘉祐本草，刻版於修內司，今皆不傳。徽宗崇寧間，廢提舉判局春試，改隸國子監，分上舍內舍外舍。孝宗乾道中罷局，僅存醫學科，更不置局。淳熙中，又稍變其制。光宗紹熙二年，復置局。永樂大典集紹熙程文，凡墨義九道，脈義六道，大義三十七道，論方八道，假令十八道，運氣九道，國朝四庫編為九卷，稱其學術通貫，辨析精微。可見宋代留意醫學之盛。</p>

<h2>清高宗</h2>

<h3>敕撰醫宗金鑑九十卷</h3>
<p>乾隆四年十一月十七日，太醫院使錢鬥保，右院判王炳，御醫吳謙，奉上諭：爾等衙門該修醫書，以正醫學，欽此。又諭一應纂修事宜，著和親王大學士伯鄂爾泰總管。五年二月十六日，和親王具奏：傷寒論、金匱要略、雜病論、有吳謙刪訂未完稿本，請將大內所有醫書全行發出，以資考覈，即可擇吉開館，不必行取各直省之書。乾隆十四年告成。僅按訂正傷寒論注十七卷，金匱要略八卷，刪補名醫方論八卷，四診要訣一卷，運氣要訣一卷，諸科心法要訣五十四卷，正骨心法要旨五卷，大意以有方有論之書，始於仲聖，乃醫學之正軌。名醫隨證消息，其精詣處必方論並存，始能測識。至脈學簡括，無過紫虛；運氣幽微，不可竟廢。而雜證之變無窮，正骨之法多秘，皆為繪圖制訣，俾學者易誦易求，務歸實用。不若宋代聖濟總錄、和劑局方之博而寡要，偏而失中，誠萬世遵行之盛典也。</p>

<h2>岐伯氏</h2>

<h3>漢書藝文志</h3>
<p>按摩一卷</p>

<h3>隋書經籍志</h3>
<p>岐伯經十卷</p>

<h3>宋史藝文志</h3>
<p>針經一卷</p>
<p>論針灸要訣一卷</p>

<h2>雷公氏</h2>

<h3>隋書經籍志</h3>
<p>本草注四卷</p>

<h3>唐書藝文志</h3>
<p>集撰本草四卷</p>

<h3>宋史藝文志</h3>
<p>養性治身經三卷</p>

<h2>扁鵲氏</h2>

<h2>俞拊氏</h2>

<h3>漢書藝文志</h3>
<p>泰始黃帝扁鵲俞拊方二十三卷</p>

<h2>桐君氏</h2>

<h3>隋書經籍志</h3>
<p>採藥錄三卷</p>

<h3>唐書藝文志</h3>
<p>採藥錄三卷</p>
<p>上書十種，除復二種，凡八種，為上古名醫撰，今亡。按帝王世紀，黃帝使岐伯著醫方以療民疾，是岐伯為醫方傳世之祖。陶隱居本草經序，上古文字未傳，識識相因，至桐雷始著簡編，是桐君雷公為本草傳世之祖。秦越人以扁鵲自命，虢中庶子為荒誕之辭侮之曰：上古俞拊治病，不用藥石、針熨，見病之應，因五藏之輸，乃割皮解肌，抉脈結筋，搦髓腦，揲荒爪幕，湔浣腸胃，漱滌五藏，練精易形，先生之方，毋乃類是。漢志扁鵲內外經，或古扁鵲撰，或秦越人撰，書亡無考，姑列於秦越人之下。</p>

<h2>周秦氏越人</h2>

<h3>漢書藝文志</h3>
<p>內經九卷</p>
<p>外經十二卷</p>

<h3>隋書經籍志</h3>
<p>黃帝八十一難經二卷</p>
<p>肘後方三卷</p>
<p>偃側針灸圖三卷</p>

<h3>唐書藝文志</h3>
<p>八十一難經二卷</p>

<h3>宋史藝文志</h3>
<p>黃帝八十一難經二卷</p>
<p>黃帝難經疏十三卷</p>
<p>脈經一卷</p>
<p>療黃經三卷</p>
<p>針傳一卷</p>
<p>上書十一種，去復二種，凡九種。周渤海鄚人秦越人著。越人慕古扁鵲之學，因號扁鵲。受長桑君禁方，名聞天下。秦太醫令李⿰酉盆媿技不如，使人刺殺之。其弟子子陽善針，子豹善熨。唐志始有秦越人八十一難經，吳太醫令呂廣注。則書自三國前出。梁七錄之呂博望，或即呂廣眾難經，八十一難經，或即唐志之難經。今難經中有經云，而素問靈樞所無者，殆諸經之文歟。宋志有呂博望金滕玉匱針經三卷，呂廣金韜玉鑑經三卷，陳振孫書錄解題，有呂廣注楊元操演八十一難經五卷，皆失傳。</p>

<h2>無名逸書</h2>

<h3>漢書藝文志</h3>
<p>白氏內經三十八卷</p>
<p>外經三十六卷</p>
<p>旁篇二十五卷</p>
<p>五藏六府痹十二病方三十卷</p>
<p>五藏六府疝十六病方四十卷</p>
<p>王藏六府癉十二病方四十卷</p>
<p>風寒熱十六病方二十六卷</p>
<p>五藏傷中十一病方三十一卷</p>
<p>客疾五藏狂癲病方十七卷</p>
<p>金瘡瘛瘲方三十卷</p>
<p>婦人嬰兒方十九卷</p>
<p>湯液經法三十二卷</p>
<p>上書十二種，不著撰人名氏，先師未引，殆當時傳習之書也。梁七錄不載，豈漢獻遷都，晉懷奔逸，亡於兵燹歟？思邈千金方以五藏六府分配諸病，意取法於此，或當時尚有遺書可據。特鈔其目，俾見經方之舊。</p>

<h2>漢淳于氏意</h2>

<h3>漢書列傳</h3>
<p>對孝文帝二十九條</p>

<h3>宋史藝文志</h3>
<p>決死生秘要一卷</p>
<p>上書二種，漢臨甾淳于意撰。意為齊太倉長。文帝四年，中人坐以刑法，少女緹縈上書，願沒為官婢以贖父罪，帝憫而宥之。詔詢醫學，因條疏以對曰：高後八年，師同郡元里公乘陽慶，受黃帝扁鵲脈書禁方，年三十九，次陳治病原委並效驗，具載史記。決死生秘要，系宋人所集，今亦失傳。其弟子馮信受審病逆順，和劑五味湯藥法，唐安受五診上下奇咳，四時應陰陽法，高期受經脈高下、奇絡俞氣所居、針灸砭石法，杜信受上下經脈五診法，皆擅名漢世。</p>

<h2>漢先師張子</h2>

<h3>梁七錄</h3>
<p>辨傷寒十卷</p>
<p>療傷寒身驗方一卷</p>
<p>評病要方一卷</p>
<p>黃素藥方二十五卷</p>

<h3>隋書經籍志</h3>
<p>藥方十五卷</p>
<p>療婦人方二卷</p>

<h3>唐書藝文志</h3>
<p>藥方十五卷王叔和集</p>
<p>傷寒卒病論十卷王叔和集</p>

<h3>宋史藝文志</h3>
<p>脈經一卷</p>
<p>五藏榮衛論一卷</p>
<p>五藏論一卷</p>
<p>傷寒論十卷</p>
<p>口齒論一卷</p>
<p>金匱要略方三卷王叔和集</p>
<p>療黃經一卷</p>
<p>上書十五種，去復二種，凡十三種。漢南陽張機字仲景撰。師嘗舉孝廉，官長沙太守。後漢書，三國志皆失載。傷寒論自序云：建安紀年，未及十稔，宗族死亡者三之二，乃勤求古訓，博採眾方，撰用素問九卷、八十一難經、陰陽大論、胎臚藥錄、並平脈辨證為傷寒雜病論，合一十六卷。晉王叔和編次。宋開寶中，節度使高繼沖編進。嘉祐中，孫奇等校上傷寒論十卷，二十二篇，三百九十七法，一百一十三方。金匱要略三卷，二十五篇，二百六十二方。案梁錄傷寒藥方各二種隋志藥方二種，唐志傷寒藥方各一種，宋志二書之外，復有脈經等五種皆亡。千金方食治序論，引仲景及河東衛泛述扁鵲曰二則，他書未載。宋李昉太平御覽引仲景方序云：衛泛仲景弟子，撰小兒顱囟方三卷，及四逆三部厥經，婦人胎藏經，宋志及明永樂大典，有師巫顱囟經而無泛書。今從函海中摘出，僅存一卷，為綿州李調元校。首脈法，次病證，凡二十四條，驚癇疳痢方二十三首，火丹證十五方十四首，雜治方十五首。</p>

<h2>魏華氏佗</h2>

<h3>梁七錄</h3>
<p>內事五卷</p>

<h3>隋書經籍志</h3>
<p>觀形察色並三部脈經一卷</p>
<p>枕中灸刺經一卷</p>

<h3>宋史藝文志</h3>
<p>藥方一卷</p>
<p>上書四種，魏沛國譙人華佗撰。倫又名旉，字元化。遊藝徐土，年且百歲，猶有壯容。精於方藥，治病奇詭，而性惡難合，恥以醫名。武帝苦頭風，佗針之即止。後求歸取方，托妻病，召之不赴。帝怒其詐，收獄殺之，書皆不傳。</p>

<h2>魏吳氏普</h2>

<h3>梁七錄</h3>
<p>本草六卷</p>

<h3>隋書經籍志</h3>
<p>華佗方十卷</p>

<h3>唐書藝文志</h3>
<p>本草因六卷</p>
<p>集華氏藥方十卷</p>
<p>上書四種，去復二種，凡二種，魏廣陵吳普撰。普，華氏弟子，准師處療，多所全濟。受虎鹿熊猨鳥五禽道引之戲，年九十餘，耳目聰明，齒牙完固，其書至宋失傳。佗又有弟子樊阿善針，受漆葉青黏散，服之年百餘歲。世傳中藏經八卷，隋唐未錄，宋志始見。且方中所用太平錢，山藥，一為宋熙陵初年號，一為避厚陵偏諱。鄧處中究不知為何時人，其自序荒誕，與本傳不合。然書中論脈察聲色形證具有至理，王氏脈經徵引極多，殆即吳氏所集之書。後人附入別方，幻改今名耳，特識於吳氏之下。</p>

<h2>魏李氏鐺之</h2>

<h3>梁七錄</h3>
<p>藥錄六卷</p>
<p>本草經一卷</p>
<p>藥方一卷</p>

<h3>唐書藝文志</h3>
<p>李氏本草三卷</p>
<p>上書四種，魏李鐺之撰。新唐志作華氏弟子，不列爵里，書皆失傳。</p>

<h2>晉王氏叔和</h2>

<h3>梁七錄</h3>
<p>論病一卷</p>

<h3>隋書經籍志</h3>
<p>脈經十卷</p>

<h3>唐書藝文志</h3>
<p>脈經十卷</p>
<p>仲景藥方十五卷</p>
<p>傷寒卒病論十卷</p>

<h3>宋史藝文志</h3>
<p>脈經十卷</p>
<p>金匱要略方三卷</p>
<p>金匱玉函經八卷</p>
<p>脈決機要三卷</p>
<p>民間行本</p>
<p>脈經十卷</p>
<p>金匱玉函經八卷</p>
<p>上書十一種，去復四種，凡七種。西晉太醫令高平王叔和撰。叔和一代名醫，去漢未遠，故有深知灼見，能傳仲景道脈。摭集古經名論，撰脈經九十七篇。仲景傷寒金匱之文十載八九，當成於三陰三陽篇之先。宋熙寧初校正後，鏤板於廣西漕司，長樂陳孔碩序。元泰定間，龍興醫學教授謝縉重刻，東陽柳道傳序。道光癸卯，疁城黃鋐刊本，跋稱得明萬曆三年晉安袁表本，卷末識童文舉復校重梓者。又得趙府居敬堂本，元泰定四年宗濂書院本，與家藏鈔本校刻，前有叔和自序，及熙寧元年林億等進呈剳子，附袁氏補註金匱玉函經林億校定二十九篇一百一十五方。首證治總例一十六條，次痙濕暍二十八條，辨脈四十五條，三陰三陽三百二十八條，厥利嘔噦五十條，霍亂十條，陰陽易等八條，與傷寒次序不合；不可發汗等一十七篇三百四十七條，與脈經次序不合；且文義增損，語義不侔，恐是宋人偽託。傳本為國朝康熙丙申上海陳世杰校刻，首列宋英宗治平三年校上疏，次自序與何焯、陳汝楫序。案仁宗朝，王洙於館閣蠹簡中，得金匱玉函要略三卷，上卷傷寒，中卷雜病，下卷藥方並療婦人。林億以論傷寒者為金匱玉函經，論雜病療婦人者為金匱要略。而論雜病之文出脈經八卷，療婦人之法出脈經九卷。王洙宋城人，舉進士，累官翰林學士，泛覽博記，無所不通。著易傳十卷，雜文十餘篇。子欽臣，賜進士及第，累官集賢院待制知成德軍，為文至多，藏書萬卷，皆手自仇正。</p>

<h2>晉葛氏洪</h2>

<h3>梁七錄</h3>
<p>肘後方二卷</p>

<h3>隋書經籍志</h3>
<p>玉函煎方五卷</p>
<p>肘後方六卷</p>

<h3>唐書藝文志</h3>
<p>肘後救卒方六卷</p>

<h3>宋史藝文志</h3>
<p>肘後備急百一方六卷</p>

<h3>國朝四庫</h3>
<p>肘後備急方八卷</p>
<p>上書六種，去復四種，凡二種。晉句容葛洪撰。洪字稚川，受業於從祖元之弟子鄭隱。元帝為丞相闢為椽，以平賊功爵關內侯，遷散騎常侍，領大著作，因年老辭，乞為句漏令，入羅浮山煉丹，年八十一卒。肘後方梁僅二卷，隋唐宋六卷，類皆後人增入。金匱藥方十五卷亡。</p>

<h2>晉皇甫氏謐</h2>

<h3>隋書經籍志</h3>
<p>依諸方撰一卷</p>

<h3>唐書藝文志</h3>
<p>黃帝三部針經十二卷</p>

<h3>宋史藝文志</h3>
<p>黃帝三部針經十二卷</p>

<h3>國朝四庫</h3>
<p>甲乙經八卷</p>
<p>上書四種，去復一種，凡三種。晉魏郡皇甫謐撰。謐字士安，自號元晏先生。郡召上計椽舉孝廉。景元初，晉王為相國，闢皆不就。泰始受禪，著釋勸論以通志，武帝敦闢不已，謐上疏辭疾，稱草莽臣，患軀半不仁。十九載服寒食散違節，隆冬裸袒食冰者七年。又表借帝書，時人目為書淫，因病學醫。甘露中，撰集黃帝、岐伯、針經、素問、明堂孔穴針灸治要，使事類相從，刪浮去復，成一十二卷，自為序。梁錄作十二卷。隋志作甲乙經十卷、音一卷。舊唐志作黃帝三部針經十三卷，皇甫謐著。新唐志既有甲乙經十二卷，又有三部針經十三卷，當是復誤。書凡一百二十八篇，句中夾註多引楊氏太素，孫氏千金，王冰素問注，王維德銅人圖，皆宋林億等校正所加。今時所傳，系明新安吳勉學校刻。晉書，謐幼名靜，安定朝那人。漢太尉嵩之曾孫，出後叔父徙居新安，年二十，遊蕩不好學。叔母任氏，流涕婉教，乃感激就鄉人席坦受書，居貧恆力穡勤學，遂博綜典籍，有高尚之志，以著述為務，太康三年卒，年六十八。遺命：服幅巾故衣，以蘧篨裹屍，麻約二頭，置屍床上，擇不毛之地，穿阮深十尺，長一丈五尺，舉床就阮，去床下屍，平生之物，皆無所隨，惟齋孝經一卷，蘧篨之外，便以親土，土與地平，還其故草，使生其上。不種樹木，形骸與后土同體，魂爽與元氣合靈。亡有前後，不得移祔，無張神座，無十五日朝夕上食禮，不墓祭，但月朔於家設席以祭，百日而止。臨必昏明，不得以夜。撰帝王世紀、年曆、高士、逸士、列女等傳，元晏春秋，及詩賦諫頌論難等。門人摯虞、張軌、牛綜、席純皆為晉名臣。子童靈、方回，方回少遵父操，永嘉初，屢徵博士不起，避亂荊州，閒戶閒居，尊賢愛物，人咸崇敬之。刺史陶侃，每著素士服望門輒下，禮敬甚厚。王敦遣從弟廙代侃，遷侃廣州，方回諫阻不從，敦果欲殺侃，賴周訪獲免。廙至荊州，大失物情，以方回為侃所敬，乃收斬樹威。荊土華夷莫不流涕。晉名臣見於外臺秘要者，有範汪、張湛。湛無傳。汪字元平，雍州刺史晷之孫，少孤貧，六歲過江、依外家新野庾氏，荊州刺史王澄，見而奇之。年十三喪母，家貧好學。蘇峻之亂，汪西遁詣庾亮，溫嶠陳討賊狀，始解褐參護軍事。賊平，賜爵都鄉侯，為亮佐吏十餘年，轉鷹揚將軍，徵拜中書侍郎，屢有建白。桓溫徵蜀，委以荊州留府。蜀平，進爵武鄉杲侯。溫請為長史，江州刺史，皆不就，自求為東陽太守，甚有惠政。遷除都督徐兗青冀揚州之晉陵諸軍事假節，桓溫北伐，以失期免為庶人。汪屏居吳郡，從容講肄，不言枉真，後至姑孰見溫，溫謂汪遠來詣已，引身望袁宏曰：范公來可作太常。及見溫方謝意，汪曰：亡兒瘞此故來視之耳。溫大失望，年六十五卒於家，贈散騎常侍，諡曰穆。撰東陽方，梁錄一百七十六卷，隋志一百五十卷目一卷，唐志一百七十卷，尹穆纂。長子康嗣早卒，次子寧，字武子，崇儒抑俗，為豫章太守。以江州刺史王凝之彈劾免官。子泰時為天門太守，棄官稱訴，得赦免。</p>

<h2>宋徐氏叔向</h2>

<h3>梁七錄</h3>
<p>本草病源合藥要鈔五卷</p>
<p>雜療方二十二卷</p>
<p>雜病方六卷</p>
<p>療少小百病雜方三十七卷</p>
<p>談道述徐蛻合著體療雜病疾源三卷</p>
<p>談道述徐蛻合著體療雜病本草要鈔十卷</p>
<p>解寒食散方六卷</p>
<p>解散消息節度八卷</p>

<h3>隋書經籍志</h3>
<p>針灸要鈔一卷</p>

<h3>唐書藝文志</h3>
<p>針灸要鈔一卷</p>
<p>體療雜病方六卷</p>
<p>腳弱方八卷</p>
<p>解寒食散方十五卷</p>
<p>上書十三種，去復三種，凡十種。宋大將軍參軍東海徐叔向撰。叔向為晉濮陽太守熙之孫，射陽令秋夫之子。熙好黃老，隱於秦望山。得扁鵲鏡經，遂以醫名。秋夫益精其術，能針灸芻人，以療鬼疾，生道度、叔向皆工醫，道度有腳疾，文帝令乘小輿入殿為諸王子療疾，仕至蘭陵太守。</p>

<h2>宋徐氏文伯</h2>

<h3>梁七錄</h3>
<p>辨傷寒論一卷</p>
<p>傷寒總要二卷</p>
<p>藥方二卷</p>
<p>辨腳弱方一卷</p>

<h3>隋書經籍志</h3>
<p>療婦人瘕方一卷</p>
<p>上書五種，宋鄱陽王常侍，齊東莞、太山、蘭陵、三郡太守，東海徐文伯撰。文伯字德秀，道度子。療孝武路太后石水、除官，又療明帝官人發癥，及隨廢帝針落娠婦雙胎，皆奇驗。弟謇字成伯，虜入後魏，以醫官至光祿大夫，平北將軍。正始元年卒。延昌初。贈安東將軍，齊州刺史。諡曰靖。子踐字景升，襲爵位，建興太守。</p>

<h2>宋徐氏嗣伯</h2>

<h3>隋書經籍志</h3>
<p>落年方三卷</p>
<p>藥方五卷</p>

<h3>唐書藝文志</h3>
<p>落年方三卷</p>
<p>藥方五卷</p>
<p>雜病論一卷</p>
<p>上書五種，去復二種，凡三種。宋正員郎諸府佐東海徐嗣伯撰。嗣伯字叔紹，叔向之子，有學行，不屈意於公卿。療房伯玉伏熱，及用死人枕治三疾，皆奇秘。</p>

<h2>魏徐氏之才</h2>

<h3>隋書經籍志</h3>
<p>徐王八世家傳效驗方十卷</p>
<p>徐氏家傳秘方二卷</p>
<p>徐王方五卷</p>

<h3>唐書藝文志</h3>
<p>雷公藥對二卷</p>
<p>徐王八代效驗方十卷</p>
<p>徐氏脈經訣三卷</p>

<h3>宋史藝文志</h3>
<p>徐氏脈經三卷</p>
<p>徐王藥對二卷</p>
<p>上書九種，去復四種，凡五種。後魏丹陽徐之才撰。之才祖文伯，父雄，仕齊為員外散騎侍郎，醫雄江左。豫章王綜入魏，以醫術薦之才。乾昌二年，詔徵至洛，禮遇甚優。武帝時，封安昌杲侯。天平中，齊神武徵赴晉陽，常在內館。武定四年，自散騎常侍轉秘書監。文宣踐祚，除侍中，封池陽縣伯。皇建二年，除西兗州刺史，未之官。天統四年，迂尚書左僕射兗州刺史，給鐃吹一部。武成病酒色過度，之才療愈。每發必遣騎追召，投劑即已。後疾大漸，之才馳到，先一日已崩。後主武平元年，除左僕遷射尚書令，封西陽郡王，年八十卒，贈司徒公錄尚書事，諡文明。長子林太尉司馬，次子同卿太子庶子，皆無學術。弟之範，亦以醫見知，位太常卿，襲王爵。入周為儀同太將軍，隋開皇中卒。諸徐之書皆失傳，惟藥對採入嘉祐本草補註。</p>

<h2>梁陶氏弘景</h2>

<h3>梁七錄</h3>
<p>本草十卷</p>
<p>本草經集註七卷</p>
<p>補闕肘後百一方九卷</p>

<h2>隋書經籍志</h2>
<p>名醫別錄三卷</p>
<p>名醫集驗方三卷</p>
<p>服餌方三卷</p>

<h2>唐書藝文志</h2>
<p>名醫別錄三卷</p>
<p>集註神農本草三卷</p>
<p>效驗方十卷</p>
<p>補肘後救卒方六卷</p>
<p>上書十種，去復三種，凡七種。梁華陽隱居陶弘景撰。宏景好神仙吐納，撰真誥二十卷。武帝屢徵不出，賜以鹿皮巾，號貞白先生。國家每有大事，無不諮詢，時號山中宰相。自序神農本草云：軒皇以前，文字未傳，識識相因，至桐雷乃著編簡，未預秦火，亡糜獻懷，核今書郡縣多系後漢，疑仲景元化等所記，恐醫家不能備見，因區軫物類，兼注時用土地所出，仙經所需，以神農三品三百六十五味為主，名醫三百六十五味為副，並序錄合為七卷，其法度周詳，自唐以後累代校修，為本草家之祖。肘後補闕效驗服餌諸方亡。弘景本秣陵人，齊高帝引為諸王侍讀，永明中掛冠神武門，遁居句曲山，號其居曰：華陽隱居。</p>

<h2>周姚氏僧垣</h2>

<h3>隋書經籍志</h3>
<p>集驗方十二卷</p>
<p>備急草要方三卷</p>

<h3>唐書藝文志</h3>
<p>集驗方十卷</p>
<p>上書三種，去復一種，凡二種。周姚僧垣撰。僧垣字法衛，梁吳興武康人，仕梁為太醫正。武帝太清元年，轉湘東王府記室。簡文帝即位，兼中書舍人。元帝平侯景，改晉安王府諮議，梁亡入周。武成元年，授小畿伯下大夫，魏於謹極敬禮之。武帝天和六年，遷遂伯中大夫。建德三年，授驃騎大將軍開府儀同三司，敕停朝謁，非別敕不勞入見。四年，帝東征至河陰，病口不能言，瞼垂複目不能視，一足短縮不能行，僧垣以次處療。比至華州，疾已全瘳。除華州刺史，仍詔隨駕。宣政元年，表請致仕。宣帝立，封長壽縣公。靜帝嗣位，遷上開府儀同大將軍。隋開皇初，進爵北絳郡公。三年卒，年八十五。遺誡衣帢入棺，朝服勿斂，靈上唯置香奩，每日止設清水。贈本官加荊湖二州刺史。長子詧，次子最，事具南北史。集驗方，惟見外臺秘要。</p>

<h2>隋巢氏元方</h2>

<h3>唐書藝文志</h3>
<p>諸病源候論五十卷</p>

<h3>宋史藝文志</h3>
<p>諸病源候論五十卷</p>

<h2>國朝四庫</h2>
<p>諸病源候論五十卷</p>
<p>上書一種，隋大業中太醫博士巢元方等奉詔撰。元方籍里無考。書凡六十七門一千七百二十論，但詳病源，不載方藥。惟附導引法，其言精密，洵漢代醫經經方之遺緒。宋朝舊制用以命題課醫，太平聖惠方以此論冠於每篇之首。今時傳本系明汪濟川、方礦校，前有宋天聖五年學士宋綬序。案隋書經籍志，有吳景賢諸病源候論五卷，目一卷，舊唐志作五十卷，新唐志吳景賢巢元方病源候論各五十卷，宋志始專存巢氏而去吳氏。疑當時吳景賢巢元方皆編撰官書者，唐時所存，或系各人稿本，宋時察其雷同，故去吳存巢耳。隋志五卷上當脫十字，不然，則五卷書豈有一卷目耶。</p>

<h2>隋全氏元起</h2>

<h3>隋書經籍志</h3>
<p>內經注八卷</p>

<h3>唐書藝文志</h3>
<p>素問注八卷</p>

<h3>宋史藝文志</h3>
<p>素問注八卷</p>
<p>上書一種，隋全元起撰。爵里無考，其書久亡，而篇目次序，訓解大略，宋校正中尚能得其梗概，是為注素問之祖。楊上善太素，亦可於校正中約略求之。</p>

<h2>隋甄氏權</h2>

<h3>隋書經籍志</h3>
<p>甄氏本草三卷</p>

<h3>唐書藝文志</h3>
<p>脈經一卷</p>
<p>本草藥性三卷</p>

<h3>宋史藝文志</h3>
<p>針經鈔一卷</p>
<p>上書四種，去復一種，凡三種。隋秘書正字許州扶溝甄權撰。權因母病與弟立言精專醫術，開皇初，稱疾免官。唐太宗貞觀十七年，親倖其宅，訪咨醫藥，賜几杖衣服，授朝散大夫，年一百三歲卒。今書全佚，惟嘉祐本草補註間引其說。</p>

<h2>隋甄氏立言</h2>

<h3>隋書經籍志</h3>
<p>本草音義七卷</p>

<h3>唐書藝文志</h3>
<p>本草音義七卷</p>
<p>古今錄驗方五十卷</p>
<p>上書三種，去復一種，凡二種。唐太常丞許州甄立言撰。立言權之弟。高祖武德間授官，其書宋志已佚。天寶間王燾集外臺秘要，恆引其古今錄驗方。</p>

<h2>唐孫氏思邈</h2>

<h3>唐書藝文志</h3>
<p>千金方三十卷</p>
<p>千金髓方二十卷</p>
<p>千金翼方三十卷</p>
<p>神枕方一卷</p>

<h3>宋史藝文志同又有</h3>
<p>五藏旁通鑑圖一卷</p>
<p>針經一卷</p>
<p>芝草圖三十卷</p>
<p>太常分藥格一卷</p>

<h3>國朝四庫</h3>
<p>千金要方九十三卷</p>
<p>民間刻本</p>
<p>千金翼方三十卷</p>
<p>上書十種，去復二種，凡八種。唐京兆華原孫思邈撰。思邈當隋末季隱居不仕，太宗登極，召授官爵，辭不就。魏徵修五代史，時訪以齊、梁、陳、周、隋事，述如目睹。高宗顯慶四年，召拜諫議大夫，又固辭。上元元年，辭疾請歸，賜良馬及鄱陽公主邑。永淳元年卒，年九十四。子行，中宗天授中為鳳閣侍郎。其千金要方二十六門二百三十一類，宋校正後，一為明嘉靖甲辰，四川按察使，耀州喬世寧依道經輯為九十三卷刊行，一為國朝康熙三十年，西昌轉運山左喻武公重校。千金翼方十八門二百十三類，宋校正後，一為明萬曆乙巳金壇王肯堂重刻，一為國朝癸未金匱華希閎校刊，即今通行本也。余書亡逸，其他著述無關醫道者，不具錄。</p>

<h2>唐蘇氏敬</h2>

<h3>唐書藝文志</h3>
<p>新修本草二十一卷</p>
<p>本草圖二十六卷</p>
<p>本草音三卷</p>
<p>本草圖經七卷</p>
<p>上書四種，唐高宗顯慶初，右監門府長史蘇敬（宋作恭）上表請修陶隱居所著本草，因詔司空英國公李勣等三十三人撰，今惟嘉祐注徵引。</p>

<h2>唐孟氏詵</h2>

<h3>唐書藝文志</h3>
<p>食療本草三卷</p>
<p>補養方三卷</p>
<p>必效方十卷</p>

<h3>宋史藝文志</h3>
<p>食療本草六卷</p>
<p>上書四種，去復一種，凡三種。唐汝洲梁人孟詵撰。詵舉進士，武后垂拱初，為鳳閣舍人。因識鳳閣侍郎劉禕之所賜藥金，後不悅，出為台州司馬。累遷春官侍郎。睿宗在藩召充侍讀。長安中，為同州刺史加銀青光祿大夫。中宗神龍初，致仕歸伊山之陽。元宗開元初卒，年九十三。書凡三卷，皆言食藥治病之效。張鼎又補入八十九種，今書亡佚，惟嘉祐補註徵引。</p>

<h2>唐王氏燾</h2>

<h3>唐書藝文志</h3>
<p>外臺秘要方四十卷</p>
<p>外臺要略十卷</p>

<h3>宋史藝文志</h3>
<p>外臺秘要方四十卷</p>
<p>外臺要略十卷</p>

<h3>國朝四庫</h3>
<p>外臺秘要四十卷</p>
<p>上書五種，去復三種，凡二種。唐郿邑王燾撰。燾，珪之孫，唐書附列珪傳，官給事中徐州司馬鄴郡太守。唐故事三司監院官帶御史者號外臺，是編成於守鄴時，故曰外臺。性至孝，母病彌年，衣不廢帶。居館閣二十餘載，多見弘文館方籍，又數從高醫窮研技術，書凡一千一百四門，皆先論後方，論主巢氏病源，方採古來專門經方諸名家，每條之下，必詳註出某書某卷，古書亡佚，賴此以存。傳本為明新安程衍道重刻，首有燾天寶十十一年自序，宋皇祐二年內降剳子，治平四年孫兆等校上序，每卷之首署林億銜名。要略宋志已亡。</p>

<h2>唐陳氏藏器</h2>

<h3>唐書藝文志</h3>
<p>本草拾遺十卷</p>

<h3>宋史藝文志</h3>
<p>本草拾遺十卷</p>
<p>上書一種，唐京兆府三原縣尉陳藏器撰。藏器開元間人，籍里無考。書分序例一卷，拾遺六卷，解紛三卷，補陶蘇之遺逸。其書失傳，惟嘉祐補註廣引之。</p>

<h2>唐王氏冰</h2>

<h3>唐書藝文志</h3>
<p>素問注二十四卷</p>

<h3>宋史藝文志</h3>
<p>素問注二十四卷</p>
<p>素問六脈玄珠密語十卷</p>
<p>昭明隱旨三卷</p>

<h3>宋晁氏讀書志</h3>
<p>天元玉策三十卷</p>

<h3>國朝四庫</h3>
<p>素問注二十四卷</p>
<p>上書六種，去復二種，凡四種。唐太僕令王冰撰。籍里無考。新唐書宰相世系表，作景兆府參軍。昭明隱旨亡，玄珠密語與天元玉策相類，殊似後人偽託。素問注首有寶應元年自序，稱於先生郭子齋堂，受先師張公秘本，排抉幽奧，頗有發明，惟全氏篇次，悉為更易，幸每篇之下必注全本幾字，猶可考見其舊，亦素問注家之祖矣。</p>

<h2>宋大氏明</h2>

<h3>嘉祐補註目</h3>
<p>日華子本草二十卷</p>
<p>上書一種，宋四明大明撰。明開寶中人，號日華子。其書以寒溫性味華實蟲獸為類，集諸家本草及近時所用藥名功狀甚悉。今見嘉祐補註中，原書亡。</p>

<h2>宋王氏惟德</h2>

<h3>宋史藝文志</h3>
<p>新鑄銅人腧穴針灸圖經三卷</p>

<h3>國朝四庫</h3>
<p>銅人針灸經七卷</p>
<p>上書一種，宋王惟德奉詔撰。惟德一字惟一，官尚藥奉御。仁宗以針砭之法傳述不同，命惟德鑄銅人及是書。天聖五年十月成，詔一置醫官院，一置大相國寺仁濟殿，翰林學士夏竦作序。人以精銅為之，藏府全具，背面二器，合則渾然全身，腧穴以錯金書名於旁，外塗黃臘，中實以水，俾醫工以分析寸，按穴試針，中穴則針入水出，稍差則不入矣。宋時醫人，均由考授，即此可見其精慎，今銅人失傳，其書尚存。</p>

<h2>宋唐氏慎微</h2>

<h3>宋史藝文志</h3>
<p>經史證類備急本草三十卷</p>

<h3>國朝四庫</h3>
<p>證類本草三十卷</p>
<p>上書一種，宋蜀州晉原唐慎微撰。慎微字審元，凡治士人病，辭酬值，而以名方秘錄為請，故其學問淹博。尚書右丞蒲傳正，欲以執政恩例奏與一官，拒不受。其書取陶書增補而成，嘉祐初，詔掌禹錫補註繪圖，識以墨蓋子。元祐七年，閬中陳子承合二書為一，名重廣補註本草圖經，天章閣待制都尉長樂林希作序，紹興二十七年，王繼先上校定大觀本草三十二卷釋音一卷，詔秘書副監鏤板，當時已非慎微舊本。今時傳世，一為元大德壬寅宗文書院本，前有大觀二年仁和縣尉艾晟序，又有金大定己酉麻革序，劉祁跋稱平陽張存惠增入寇宗奭衍義，及政和六年宗奭轉官剳付嘉祐補助圖經奏勑。一為明成化戊子翻刻金泰和甲子晦明軒本，前有宋政和六年提舉醫學曹孝忠序，稱欽奉玉音使臣楊戩總工刊寫，末有金皇統三年翰林學士宇文虛中跋。大德本作三十一卷，朱墨分明。泰和本以卷末移入三十卷之前，雖刊刻清整，而朱墨不楚。一為明萬曆丁丑翻刻大德本。一為國朝順治丁酉春谷王秋重刻本，前有自序，後有其子大獻序。其書一卷至二卷為序例，三卷至五卷為玉石三品二百五十三種，六卷至十一卷為草部三品四百四十七種，十二卷至十四卷為木部三品二百六十三種，十五卷人部二十六種，十六卷至十八卷為獸部三品五十八種，十九卷為禽部三品五十六種，二十卷至二十二卷為蟲魚部三品一百八十七種，二十三卷為果部三品五十三種，二十四卷至二十六卷為米穀部三品四十八種，二十七卷至二十九卷為菜部三品六十五種，三十卷為有名未用一百九十四種，末卷為本經外草木藤類九十八種，總一千七百四十八種。所引吳氏本草，藥對，藥總訣，藥性論，唐本草，食療、拾遺、四聲、刪繁性事類，南海藥譜、食性，日華子及開寶劉翰馬志等詳定本草，李昉、王祐、扈蒙等重定本草，寇宗奭衍義，凡一十七家，汪洋浩瀚，誠千古之大觀。然諸家之旨，賴此以傳，諸家之書，緣茲遂廢矣。</p>

<h2>宋孫氏兆</h2>

<h3>明史藝文志</h3>
<p>素問註釋考誤十二卷</p>
<p>上書一種，宋殿中丞孫兆撰。兆父用和，昭陵時官尚藥奉御太醫令。宋志有孫氏傳，家秘寶方五卷，自言為思邈之後，父子皆以醫名。兆弟宰為河東漕屬，呂惠卿為並帥，從宰得其書序而刻之。與兆同校書之國子博士高保衡字若納，宋史藝文志有素問誤文闕義一卷，傷寒類要四卷，與孫氏之書世皆不傳。</p>

<h2>宋韓氏祗和</h2>

<h3>國朝四庫</h3>
<p>傷寒微旨二卷</p>
<p>上書一種，宋韓祗和撰。祗和史志不載，宋陳振孫據序題元祐丙寅，定為哲宗時人明永樂大典始標其名，而亡其序。國朝四庫，從大典中錄出一十五篇，釐為二卷。稱其能變通仲聖之旨，以汗下溫三法分案時候辰刻，參之脈理病情，可汗篇分陰盛陽虛、陰虛陽盛、陰陽俱盛三門。又以陽黃歸之汗溫太過，陰黃歸之過下亡津，皆研析精微，切中窾要。惟以早下為大戒，並不聲明脈症，未免矯率。禾於沈氏傷寒綱目中，讀其所引七條，未窺全豹。</p>

<h2>宋龐氏安時</h2>

<h3>宋史藝文志</h3>
<p>難經解義一卷</p>
<p>驗方一卷</p>

<h3>宋晁氏讀書志</h3>
<p>家藏秘寶方五卷</p>

<h3>國朝四庫</h3>
<p>傷寒總病論六卷音訓一卷修治藥法二卷</p>
<p>上書四種，宋蘄水處士龐安時撰。安時字安常，余書亡佚，惟傷寒總病論三種，自明王宇泰用活字版印後，至國朝道光癸未，吳門黃丕烈，始得宋本影刻。首有蘇軾帖，黃廷堅後序，張來跋，蘇黃名皆空白，蓋當政和禁絕蘇黃文字時也。安常豪富，輕財慈愛，名傾淮南，中年屏絕戲弄，刻意學術，故其持論精卓，足為仲聖羽翼。</p>

<h2>宋錢氏乙</h2>

<h3>宋史藝文志</h3>
<p>小兒藥證直訣八卷</p>
<p>上書一種，宋鄆錢乙撰。乙字仲陽，吳越王宗屬，曾祖贇，隨王納土，因家於鄆。父顥善針，匿姓名東遊海上。乙三歲母亡，姑嫁醫工呂，哀其孤，撫為子以授其業，姑病革始告之，故乙泣請跡父，五六往始得遇，又數年乃迎歸。乙年三十，以顱囟方著名山左。元豐中，治長公主疾有功，授翰林醫學，賜緋。又愈皇子儀國公病，擢太醫丞，賜紫衣金魚。俄以病免。哲宗復召入禁中宿值，久之辭疾予告，左手足攣痹者十數年，年八十二卒。其傷寒論指微五卷，宋潛溪稱其深造仲景閫奧，並嬰孺論百篇，當時即已散佚。今之直訣，系宋閻孝忠所集，明薛己竄改，殊為紕繆，全失錢書之真。</p>

<h2>宋朱氏肱</h2>

<h3>宋史藝文志</h3>
<p>內外二景圖三卷</p>
<p>南陽活人書二十卷</p>
<p>上書二種，宋吳興朱肱撰。肱，秘書丞臨之子，中書舍人服之弟，登第仕至朝奉郎直秘閣。是書因傷寒辭旨雅奧，淺學費解，遂設為問答，綴緝成篇，計九萬一千三百六十八字，自己巳至戍子歷二十寒暑而成。本名無求子傷寒百問方，武夷張蕆作序，易此名，以仲景南陽人而活人者。傳本系明金壇王宇泰醫統正脈中摘出。內外二景圖亡。</p>

<h2>宋成氏無己</h2>

<h3>宋史藝文志</h3>
<p>傷寒論注十卷</p>
<p>明理論三卷</p>
<p>論方一卷</p>

<h3>國朝四庫同</h3>
<p>上書三種，金聊攝成無己撰。無己宋嘉祐時人，後聊攝入金，遂為金人。正隆丙子年九十餘尚存。先師傷寒論，自晉王叔和編輯，宋高繼沖重編，林億等校定，無己研究終身，深有所得，故其註釋簡謹。又著明理論五十篇，論方二十篇，闡明辨證用方之義。紹興甲子，洛陽嚴器之撰序推挹極至。開禧元年，歷陽張孝忠跋云：紹興庚戍，得傷寒論注十卷於醫士王光庭家。後守荊門，又於襄陽訪得明理論。因合刊於郴山。今郴山本尚有藏者。明新安吳勉學校本首有嚴序，宋志有嚴器之明理論四卷，或是此書之注。郭長揚自序有常器之補治論，極為推重，或是一人，存疑俟考。</p>

<h2>宋陳氏師文</h2>
<p>裴氏宗元</p>

<h3>宋史藝文志</h3>
<p>太平惠民和劑局方五卷</p>
<p>明朝刻本</p>
<p>惠民和劑局方十卷</p>
<p>用藥指南總論三卷</p>

<h3>國朝四庫</h3>
<p>惠民和劑局方十卷</p>
<p>用藥指南總論三卷</p>
<p>上書五種，去復三種，凡二種。宋大觀中庫部郎中陳師文，太醫令裴宗元，將仕郎陳承奉詔撰。凡十卷，十四門七百八十八方，與朱震亨二百九十七方之說不合，今本為明崇禎丁丑羅青山人朱葵，冶城袁元熙校刻。首冠炮灸凡例，三臣會銜撰進表，亡。用藥指南，其書有方無論。方似千金外臺經方，藥每同而名迥異。蓋遵聖濟體制，先聖濟而出耳。局方發揮惟闢其用溫補燥熱，而牛黃丸混入薯蕷丸全方，竟未察出，何哉。</p>

<h2>宋郭氏雍</h2>

<h3>國朝徐氏刻本</h3>
<p>傷寒補亡論二十卷</p>
<p>上書一種，宋河南郭雍撰。雍字白雲，朱文公熹稱為長陽沖晦先生。淳熙八年，自序言仲兄之言通守夷陵、秭歸二郡，以多疾訪醫，見常器之、康醇道，因究仲景之學。雍受兄教，漸磨日久，行年八十，略舉岐黃及近代諸書大綱，集成論說二十卷，方藥五卷，合一千五百餘條，分七十餘門，總五萬言。慶元五年，熹為之作序。明萬曆五年，誠意伯劉世延序而重刻。亡第十六卷及方藥五卷，僅十九卷六十四門一千四百餘條，今時傳本為國朝道光元年長洲徐錦校刻。</p>

<h2>宋許氏叔微</h2>

<h3>宋史藝文志</h3>
<p>普濟本事方十二卷</p>

<h3>國朝四庫</h3>
<p>普濟本事方十卷</p>
<p>上書一種，宋真州許叔微撰。叔微字知可，或曰揚州人，或曰毗陵人。惟曾敏行與叔微同時，其獨醒雜誌謂為真州人，當不誤。紹興二年進士，官爵未詳。曰學士者，乃宋詞臣之通稱。書旨簡雅，多載醫案驗方，故曰本事。明朱國禎湧幢小品，記叔微所著翼傷寒論二卷，辯論五卷，傷寒歌三卷凡百篇，治法八十一篇。仲景脈法三十六圖，未有傳本。</p>

<h2>宋寇氏宗奭</h2>

<h3>晁氏讀書志</h3>
<p>本草衍義二十卷</p>
<p>上書一種，宋通直郎澧州司戶曹事添差充收買藥材所辦驗藥材寇宗奭撰。籍里無考。自序衍未盡之理，伸隱避之情，證脫誤之義，煩避諱之名，考據頗屬精詳，其書為金平陽張存惠增入嘉祐補註，外無傳本。</p>

<h2>宋陳氏言</h2>

<h3>宋史藝文志</h3>
<p>三因病源六卷</p>

<h3>國朝四庫</h3>
<p>三因極一病證方論十八卷</p>
<p>上書二種，宋括蒼陳言撰。言字無擇，行履無考。其書命名本於金匱，其方論典雅簡該，絕無冗鄙之弊。嚴用和剽竅其論，附以已所驗方，吳澄易簡歸一序，極稱其美。三因方傳本為明何巨校刻，分為一十八卷。二卷中太醫習業，有二十一史之文，非南宋人語，蓋明代鈔寫傭人妄改。濟生方收存四庫，外無行本。惟目錄中載其自序云：論治五十，方凡四百，總為十卷。</p>

<h2>宋陳氏自明</h2>

<h3>國朝四庫</h3>
<p>婦人大全良方二十四卷</p>
<p>上書一種，宋臨川陳自明撰。自明字良父，官建府醫學教諭。是書刻於嘉熙元年。自序稱三世學醫，藏書甚夥，而行履所至，必加詢訪。凡八門，二百餘論，論後附方，首調經，次眾疾，求嗣，胎教，坐月，產難，產後，序列秩然，既詳且富。薛氏所集，則刪訂增附，別成一書，非勤有書堂原本矣。</p>

<h2>宋張氏杲</h2>

<h3>國朝四庫</h3>
<p>醫說十卷</p>
<p>上書一種，宋新安張杲撰。杲字季明，伯祖擴，受龐安時業，著名京洛，杲承其家學，撰為是編。前七門，總序古來名醫醫書，及針灸診視之類，次雜證二十八門，雜論六門，婦人小兒二門，瘡及五絕痹疝三門，終以醫功報應，凡四十七門。皆系古今治驗，而禁方秘論往往間出。惟雜採說部，頗病神怪。且既戒天靈蓋不可用，又出拾遺人肉一條，自相矛盾，不可為訓。然實有淵源，非泛常炫說者可比。</p>

<h2>宋楊氏士瀛</h2>

<h3>國朝四庫</h3>
<p>仁齋直指二十六卷</p>
<p>傷寒類書活人總括七卷</p>
<p>上書二種，宋福州楊士瀛撰。士瀛字登甫，號仁齋。序題景定甲子，乃宋末人。是書為明嘉靖中，徽州朱崇正，字仲儒，號惠齋者校刻。其傷寒類書，自序成於直指之前，因卷帙較少，附遺於後。</p>
<p>提要辨述原委甚悉。禾從沈金鰲尊生悉其大凡，實為支離穿鑿。惟外無行本，不能窮其底蘊。</p>

<h1>卷下</h1>

<h2>金劉氏完素</h2>

<h3>金史藝文志補</h3>
<p>素問玄機原病式二卷</p>
<p>宣明論方十五卷</p>
<p>素問要旨論八卷</p>
<p>運氣要旨論一卷</p>
<p>傷寒直格三卷</p>
<p>傷寒直格方三卷</p>
<p>傷寒後集一卷</p>
<p>傷寒續集一卷</p>
<p>傷寒別集一卷</p>
<p>傷寒標本心法類萃二卷</p>
<p>治病心印一卷</p>
<p>十八劑一卷</p>

<h3>國朝四庫</h3>
<p>素問玄機原病式二卷</p>
<p>宣明論方十五卷</p>
<p>傷寒直格方三卷</p>
<p>傷寒標本心法類萃二卷</p>
<p>上書十六種，去復四種，凡十二種。金河間劉完素撰。完素字守真，自號通元處士，大揚醫道於大定明昌間。所著原病式，舉至真要大論二百七十七字為綱，反復辯論至二萬餘言，謂已深探奧妙。宣明論方，採內經六十一證，分一十七門，撰為主治之方，其性矜伐，工自譽，尊仲聖為亞聖，又以為未備聖人之道，推朱肱為博辨，又以為未知陰陽之理，意欲度越古人。蓋當時典籍散亡，醫皆市儈，完素一出，士大夫咸翕然從風，因開七百餘年偏執寒涼之弊。余書文義淺率，疑多偽託，病機氣宜保命集，系張元素撰，謬誤始末，詳元素下。今通行河間六書，末附都梁鎦洪傷寒心要一卷，鎮陽常德傷寒心鏡一卷，心鏡一名張子和別集。案李濂醫史，張從正草創儒門事親，常仲明又摭其遺法為治法心要，德疑即仲明之名，書凡七篇，首論河間雙解散及子和增減法，心要凡十八方，並病後四方，敷衍河間之說，多掇拾殘緒，罕所發明。</p>

<h2>金張氏元素</h2>

<h3>金史藝文志</h3>
<p>病機氣宜保命集三卷</p>
<p>醫學啟源二卷</p>
<p>本草二卷</p>

<h3>國朝四庫</h3>
<p>病機氣宜保命集三卷</p>
<p>民間行本</p>
<p>家珍一卷</p>
<p>上書五種，去復一種，凡四種。金易州上谷張元素撰。元素字潔古，八歲應童子舉，二十七試進士，犯廟諱下第，遂工醫。保命集，首列原道等總論十，次病論二十三，闡發深至。病機一篇，亦如原病式例，用至真要大論為綱，而援證精博，文氣滂沛，斷非守真所能。楊威直為河間遺書偽序付梓，明初寧王權重刻亦踵其誤。李時珍本草綱目序例，始糾其繆而復其真。子壁，號云岐子，撰保命集二卷，專論傷寒，文頗簡潔，蓋家學也。注王氏脈訣一卷，與保命集並傳。</p>

<h2>金張氏從正</h2>

<h3>金史藝文志</h3>
<p>儒門事親十五卷</p>
<p>汗吐下法治病撮要一卷</p>
<p>傷寒心鏡一卷</p>
<p>秘錄奇方二卷</p>
<p>經驗方三卷</p>

<h3>國朝四庫</h3>
<p>儒門事親十五卷</p>
<p>上書六種，去復一種，凡五種。金唯州考城張從正撰。從政字子和，號戴人。宣宗興定中召補太醫，末幾辭去。學宗守真，而規模侷促，意旨粗率，麻知幾、常仲明與之友善。其書蓋子和述，而知幾仲明文飾之。故儒門事親中，辨記解誡箋詮式斷、論疏述衍、諸體皆具，而以為儒者始明其理，事親必當取資也。然擅用寒涼汗吐下三法，當時實多異議，因有辨謗及高技常孤諸論。明嘉靖辛丑，邵輔以母年望六，求是書與醫，聞忠校序鋟版，欲以垂暮之年，試瞑眩之藥，亦危矣哉。</p>

<h2>金李氏杲</h2>

<h3>元史藝文志</h3>
<p>脾胃論三卷</p>
<p>蘭室秘藏六卷</p>
<p>辨惑論二卷</p>
<p>內外傷寒辨三卷</p>
<p>醫學發明九卷</p>
<p>傷寒會要未載卷</p>
<p>用藥法象一卷</p>

<h3>國朝四庫</h3>
<p>脾胃論三卷</p>
<p>蘭室秘藏六卷</p>
<p>內外傷辨惑論三卷</p>
<p>民間行本</p>
<p>醫學發明一卷</p>
<p>活法機要一卷</p>
<p>上書十二種，去復四種，凡八種。金真定李杲撰。杲字明之，自號東垣老人。金亡入元，年五十五，又十七年乃卒。大定初校籍，富冠真定、河間兩路，納貲得官監濟源稅，因母嬰疾、為眾醫雜治死，遂捐千金，從張元素學醫，許魯齋先生目為醫中王道。明隆慶四年，曹灼集元素父子，及王好古、李東垣、田幼科書十種，稱五人各以專學著述，東垣獨能集其大戊，故序刻成一家之言。脾胃論三十六條，有圖有論有方，大抵原本內經，實未能得內經精蘊。蘭室秘藏，二十一門，十九論，二百八十三方，皆諄重脾胃，極言寒涼攻伐之害，為河間別樹一幟。雖用藥繁重，專尚香燥，論固執而辭不達意，亦當時救弊之砥柱也。</p>

<h2>金羅氏天益</h2>

<h3>明朝刻本</h3>
<p>衛生寶鑑二十四卷補遺一卷</p>
<p>內經類編九卷</p>
<p>東垣試效方九卷</p>
<p>上書三種，金真定羅天益撰。天益字謙甫，東垣傳付著作弟子。是書一至三卷為藥誤永鑑，四至二十卷為名方類集，二十一卷為藥象類集，二十二至二十四卷為醫驗紀述，補遺為傷寒外感表裡陰陽三十一症治法。大要修飾師說，炫耀已長，不免流俗之茸，而信崇仲景，論述內經，殊為青出於藍。然文義闒茸，欲暢不能，亦固已哉。卷首有永樂十五年盧陵胡廣、建安楊榮序。</p>

<h2>元王氏好古</h2>

<h3>元史藝文志</h3>
<p>醫壘元戎十二卷</p>
<p>此事難知二卷</p>
<p>湯液本草三卷</p>
<p>湯液大法四卷</p>
<p>陰症略例一卷</p>
<p>癍論萃英一卷</p>

<h3>國朝四庫</h3>
<p>醫壘元戎十二卷</p>
<p>此事難知二卷</p>
<p>湯液本草四卷</p>
<p>民間行本</p>
<p>醫壘元戎一卷</p>
<p>上書十種，去復四種，凡六種。元趙州王好古撰。好古字進之，號海藏，官本州教授提舉醫學。受業潔古，潔古歿，遂師事東垣。此事難知，專論傷寒，醫壘元戎，兼述雜病。其書推尊仲聖，效法朱肱，復斟酌二家，變通其說，雖於長沙大法，無所闡明，而寅畏小心，實當時之翹楚。醫壘元戎，為明萬曆癸卯遼東巡撫顧遂刻，而體例參差費校，今本東垣十書竟刪成一卷。湯液本草，融會潔古珍珠囊，東垣藥類法象，用藥心法，於本草原旨了無干涉。</p>

<h2>元朱氏震亨</h2>

<h3>元史藝文志</h3>
<p>金匱鉤玄三卷</p>
<p>平治薈萃方三卷</p>
<p>傷寒論辨疑一卷</p>
<p>傷寒摘疑一卷</p>
<p>格致餘論一卷</p>
<p>局方發揮一卷</p>
<p>治痘要法一卷</p>
<p>活幼便覽二卷</p>
<p>纂要八卷</p>
<p>治法語錄三卷</p>
<p>外科精要新論一卷</p>
<p>本草衍義補遺一卷</p>
<p>醫案一卷</p>

<h2>國朝四庫</h2>
<p>金匱鉤玄三卷</p>
<p>格致餘論一卷</p>
<p>局方發揮一卷</p>
<p>民間行本</p>
<p>心法五卷</p>
<p>上書十七種，去復三種，凡十四種。元婺州義烏朱震亨撰。震亨字彥修，學者尊為丹溪翁。師許文正公衡，究道德性命之學，文正患末疾，喻使習醫，翁遂棄舉子業，致力於陳裴二百九十七方，漸悟其非，乃遊歷他郡，遇羅知悌，知悌字子敬，號太無先生，宋理宗朝寺人。初劉完素授醫學於荊山浮屠，知悌悉受其傳，又旁通子和、明之二家，翁盡得其秘。歸起文正疾，益推廣意旨，因作相火及陽有餘，陰不足之論，專尚滋陰降火，心法首論六篇，分一百門，金匱鉤玄，分一百三十八類，有方有論，劉氏之學，至翁益彰。然絕去深沉，專趨淺近，執寒涼之結習，滋流弊於三朝，亦可謂功之首、罪之魁矣。戴良盛稱其敦孝友之行，得道學之源，重倫常而輕榮利，為之作傳。明休寧方廣，字約之，號古庵，以醫遊河、洛間，寓陳留，集丹溪心法附餘二十四卷，龐雜不倫，大失丹溪之旨。尚有脈藥證治地理等書未見。</p>

<h2>元趙氏以德</h2>

<h2>民間刻本</h2>
<p>金匱衍義二十二卷</p>
<p>上書一種，元趙以德撰，本書署曰宋人，明程充序丹溪心法，有丹溪門人劉叔淵、戴元禮、趙以德，此書史志未戴。元志有趙良金匱音義醫學宗旨。華亭縣誌：趙良，字以德，號云居，浦江人。張士誠據吳，屢召不赴，挈家隱華亭鄉間，鬻醫自活。</p>

<h2>元王氏履</h2>

<h3>元史藝文志</h3>
<p>醫韻統一百卷</p>
<p>百病鉤玄二十卷</p>
<p>醫經溯洄集一卷</p>

<h3>國朝四庫</h3>
<p>醫經溯洄集一卷</p>
<p>上書四種，去復一種，凡三種。元崑山王履撰。履字安道，朱震亨弟子，工詩善畫，明洪武初始卒。嘗謂素問人傷於寒則為病熱，是論病之常。仲景始分寒熱而義猶未盡，又言陽明篇無目痛，少陰篇無胸背痛，太陰無隘乾，厥陰篇無囊縮，必有脫簡。乃取三百九十七法中有方治者，得二百三十八條，為二百三十八治，書凡二十一篇，名醫經溯洄集。辭雖誇伐，於醫道實有發明，足矯當時結習。明祁門徐春甫云：鉤玄醫統二書若存，利濟民生匪淺。因撰古今醫統一百卷，既仍其名，復仍其卷。意春甫本有二書，但改韻歸類增損而成己作耳。春甫字東皋，以醫受知太師成國公朱希忠，官太醫，名其術於公卿間。故首有靈壁侯湯世隆等六人，及嘉靖丙辰自序。後列恭順侯吳繼爵，臨淮侯李言恭，平江伯陳王謨等三十八人銜名。書分福、壽、康、寧四集，每集十冊，以富貴榮華客，清閒自在仙，鵬程九萬里，鶴算八千年，玉質成飛步，朱顏永駐延，平安無量劫，靜默有真源，四十字為號。廣引道藏經籙，養生修煉，及林靈素大成，金書諸目。一卷為歷代名醫二百七十二人小紀，採摭書籍二百八十二部目錄。二卷為內經要旨十一篇，曰陰陽、攝生、病能、論治、脈候、色診、藏象、經度、運氣、標本、針刺。三卷為翼醫通考。四卷為內經脈侯。五卷為運氣易覽。六卷為經穴發明。七卷為針灸直指。八卷至七十九卷為病機治法。凡一百四十二門。八十、八十一為外科理例。八十二、八十三為婦科心鏡。八十四為螽斯廣育。八十五為胎產須知。八十六、八十七為老老余編。八十八至九十為幼幼類集。九十一為豆疹泄秘。九十二為奇病續抄一百三十七侯。九十三為經驗秘方一百八十四道。九十四、九十五為本草集要。九十六為本草御荒。九十七為製法備錄。九十八為通用諸方十類，曰藥品、花木、天時、人道、飲食、衣服、起居、器物、鳥獸、雜著。九十九、一百為養生余錄，以神仙安期生，名臣范蠡等五十二人，亦為名醫，經史子集註疏小說四十四種，廁於醫籍。甚至以僦貸季為岐伯之師，少俞為俞拊之弟，少師為桐君之爵，太乙為雷公之號，且名以宋時雷斆之斆，陳藏器唐開元中人，誤為梁人，曰華子大明，宋開寶中人，誤為陳氏北齊雁門人，白虎通壽命一篇，毫不涉醫，乃曰直抉醫家未宣之奧，其紕繆自欺處不勝枚舉。至病機雖祖述內經巢氏，而治法不本漢唐，惟著意於南宋以下諸子，尤崇信當時胡濙易簡方，蓋前明考據家陋習。好奇務繁，以誇博辨，往往掛一漏萬，根據無稽，第體例甚井，非萬病回春，嵩崖尊生可比，陳念祖欲一概廢之，未免太過矣。</p>

<h2>元呂氏復</h2>
<p>九靈山房集滄洲翁傳</p>
<p>內經或問</p>
<p>切脈樞要</p>
<p>脈序脈系圖</p>
<p>長沙傷寒十釋</p>
<p>靈樞經脈箋</p>
<p>運氣圖說</p>
<p>難經附說</p>
<p>五色診奇胲</p>
<p>養生雜言</p>
<p>四時燮理方</p>
<p>松風齋雜著皆未載卷</p>
<p>上書十一種，元鄞人呂復撰。復字元膺，少孤，事母至孝，母病求醫，遇衢醫鄭禮之，得其古先禁方色脈藥論諸書，遂精醫學，薦為台州仙居縣儒學教諭，後調臨海及升本郡教授，俱不就。因晦跡邱園，著書自樂。年老無子，有女四人，人比之為太倉公，其書不傳。戴良九靈山房集滄洲翁傳，採其治效最著者二十三條為醫案。並節其群經古方論考，極為精審。</p>

<h2>元滑氏壽</h2>

<h3>明史藝文志</h3>
<p>十四經絡發揮三卷</p>
<p>素問注鈔三卷</p>
<p>難經本義二卷</p>
<p>傷寒論鈔二卷</p>
<p>診家樞要一卷</p>
<p>醫家引彀一卷</p>
<p>五臟補瀉心要一卷</p>
<p>脈訣一卷</p>
<p>醫韻一卷</p>
<p>痔瘻篇一卷</p>

<h3>國朝四庫</h3>
<p>難經本義二卷</p>
<p>上書十一種，去復一種，凡十種。元餘姚滑壽撰。壽字伯仁，晚號攖寧生。先世自襄徙儀真，又徙餘姚。師京口王居中，受素問難經，又師東平高潤陽學針法，復參仲景、完素、東垣三家之旨。年七十餘，容如童子。行步蹻捷，飲酒無算。其十四經絡發揮，難經本義，明薛己刻入集中，素問注鈔等七種亡。</p>

<h2>元倪氏維德</h2>

<h3>明史藝文志</h3>
<p>原機啟微集二卷</p>
<p>東垣試效方三卷</p>
<p>上書二種，元吳縣倪維德撰。維德字仲賢，祖父皆以醫顯。病陳裴之學，乃求金守真、戴人、東垣三家書，研求意旨，因得盛名。殆私淑三家之矯矯者。原機啟微，專論目科，薛己刪為一卷，刻入集中。東垣試效方亡。明學士宋濂，為撰墓銘，稱為敕山老人。洪武十年卒，壽七十五。子衡，亦以醫名。</p>

<h2>元齊氏德之</h2>

<h3>元史藝文志</h3>
<p>外科精義二卷</p>

<h3>國朝四庫</h3>
<p>外科精義二卷</p>
<p>上書一種，元醫學博士充御藥院外科太醫齊德之撰。籍里無考，其書上卷論，下卷方，皆本巢氏病源，千金要方，千金翼方，而參以所學。雖不著出處，鮮有發明。於瘍醫書中，實為善本。民間行本，刊入東垣十書內。</p>

<h2>元危氏亦林</h2>

<h3>國朝四庫</h3>
<p>世醫得效方二十卷</p>
<p>上書一種，元南豐危亦林撰。亦林字達齋，官本州醫學教授。是書積其高祖以下五世所集醫方，凡八種：一大方脈科，九十一門，二小方脈科，七十一門，三風科十門，四產科兼婦人雜病三十三門，五目科十二門，六口齒咽喉科六門，七正骨金簇科二十九門，八瘡腫科二十四門，附孫真人養生法，針灸科散附各科中，有目無書。序稱創始於天曆元年，訖功於後至元三年，凡一十六年。由江西醫學提舉司牒呈醫院下諸路提舉司重校，復白醫院始准刊行，其慎重如此。前有太醫院銜名，凡院使十一人，同知院事二人，僉院事二人，同僉院事二人，判官二人，經歷二人，都事二人，椽史二人。其書彙集古方，足資考據。第無所發明。禾於會稽梁氏，見其元朝刻本，惜未鈔錄。</p>

<h2>元葛氏乾孫</h2>

<h3>明史藝文志</h3>
<p>醫學啟蒙經絡十二論十卷</p>
<p>十藥神書一卷</p>
<p>上書二種，元長洲葛乾孫撰。乾孫字可久，貌魁碩，好擊刺陣法，後折節讀書，通陰陽律歷之學，屢試不售。父應雷，字震父，官江浙醫學提舉。師中州李醫官，始傳守真、潔古之學於江南。著醫學會同十二卷。乾孫受父業，名埒丹溪，所傳十藥神書，專尚奇詭，絕無情義。</p>

<h2>元馬氏宗素</h2>

<h3>元史藝文志</h3>
<p>傷寒醫鑑一卷</p>
<p>上書一種，元平陽馬宗素撰。宗素私淑守真。是書凡一十一條，皆摘活人書中溫藥主治之病。不證以仲景原文，但引素問論熱守真主寒之說，極意攻排，不遺餘力，甚云：下立死，不下亦死，宜用涼膈散，涼膈散非下藥乎？是以人命為孤注矣。明吳有性著瘟疫論，實本諸此。夫傷寒論、律也，內經、經也，經主乎體，律主乎用，循經引律，貴乎持平。苟偏袒自專，各爭門戶，則經律相失，體用相違，未有不僨事者。</p>

<h2>明徐氏用誠</h2>

<h3>元史藝文志</h3>
<p>玉機微義五十卷</p>
<p>本草發揮四卷</p>

<h3>明史藝文志</h3>
<p>劉純玉機微義五十卷</p>

<h3>國朝四庫</h3>
<p>玉機微義五十卷</p>
<p>上書四種，去復二種，凡二種。明會稽徐用誠撰，咸寧劉純續增。用誠字彥純，丹溪弟子。元亡入明，遂為明人。是書本名醫學折衷，凡一十七類。純以其未備，增三十三類，易以是名，每條各注續添，以為辨識，皆採擷諸家方論，附以案語，頗為詳審。嘉靖庚寅，延平黃焯刻於永州，楊士奇為序。當時李氏之學多在中州，劉氏之學獨傳江浙，故朱氏一派，專主寒涼補陰。</p>

<h2>明戴氏原禮</h2>

<h3>明史藝文志</h3>
<p>證治要訣十二卷</p>
<p>校正金匱鉤玄三卷</p>
<p>推求師意二卷</p>
<p>證治類元未載卷</p>
<p>證治用藥未載卷</p>

<h3>國朝四庫</h3>
<p>校正金匱鉤玄三卷</p>
<p>推求師意二卷</p>
<p>民間行本</p>
<p>證治要訣十二卷</p>
<p>證治類方四卷</p>
<p>上書九種，去復三種，凡六種。明婺州浦江戴原禮撰。原禮字思恭，丹溪弟子。元亡入明，遂為明人。洪武中徵為御醫，太祖不豫，少間，御右順門、治侍疾無狀諸醫，獨慰思恭為仁義人，太孫嗣位，罪諸醫，復獨擢思恭為太醫院使。永樂初，以年老乞歸。三年夏復徵入，進見免拜，是年冬乞骸骨，遣官護送，賚賜金帛，逾月卒。遺行人致祭，年八十二。校正丹溪金匱鉤玄附論六篇，並推求師意，皆保全其師補陰制火之說。又隱括心法諸要，撰證治要訣類方，圓融委曲，情法備至，以救當時漫用寒涼之弊，誠朱氏之功臣也。</p>

<h2>明盛氏寅</h2>
<p>張氏醫通引書</p>
<p>醫林廣義未載卷</p>
<p>上書一種，明吳江盛寅撰。書亡俟考。初吳邵王賓慕思恭技，從之遊，思恭欲其執弟子禮，賓辭以老，伺思恭出，竊書以去。將死無子，以書授寅。寅字啟東，永樂初為醫學正科，坐累，輸作天壽山，監者奇之。令主算值前，療愈脹病，中人薦治其主疾，既愈，待成祖西苑校射，成祖愕其尚在。因奏寅愈疾狀，召診稱旨，授御醫。東宮妃張氏，經水十月不至，寅獨以為非娠，妃聞甚信，遂進破血劑。東宮素惡寅，因械以待，俄血下病已，賜紅仗導歸。仁宗嗣位，出為南京太醫院。宜宗立，召還，正統六年卒，子孫皆世其業。</p>

<h2>明陶氏華</h2>

<h3>明史藝文志</h3>
<p>傷寒全書五卷</p>
<p>傷寒六書六卷</p>
<p>傷寒九種書九卷</p>
<p>民間行本</p>
<p>傷寒全生集葉桂評本四卷</p>
<p>傷寒六書六卷</p>
<p>上書五種，明餘杭陶華撰。華字節庵，是書不述本論，惟憑臆斷，而文理荒謬，意旨瑣絮，雖間有精義名方，實皆剽竊陳言，攘為已作，閱其正統十年自序云：年七十七，子方弱冠，又多疾病，慮已歿後，誤於庸醫，致絕祖祀，因編書貽教。全生集分列傷寒溫病等辨治一百七十三條，復撰六書摯其要領，又恐不知珍重，遂定家秘，殺車槌、一提金、截江網、等鄙俚之名，耄荒溺愛，亦可悲矣。</p>

<h2>明王氏綸</h2>

<h3>明史藝文志</h3>
<p>本草集要</p>
<p>明醫雜著皆未載卷</p>
<p>上書二種，明慈溪王綸著。綸字汝言，號節齋，舉進士，正德中以右副都御史巡撫湖廣。其明醫雜著，薛己刻入集中，坊間亦有行本，多金元諸家膚淺之說。</p>

<h2>明虞氏搏</h2>

<h3>明史藝文志</h3>
<p>方脈發蒙八卷</p>
<p>醫學正傳八卷</p>

<h3>四庫存目</h3>
<p>醫學正傳八卷</p>
<p>上書二種，明義烏虞搏撰。搏字天民，自號花溪恆德老人。是書成於正德乙亥。其學宗尚朱震亨，參以仲聖、孫思邈、李杲，並選方之精粹者，次於丹溪要語之後。又撰或問五十條，以申明之。禾家有殘帙二卷，並於沈金鰲傷寒綱目，讀其引略，雖畦徑褊仄，亦精簡可採。</p>

<h2>明薛氏己</h2>

<h3>國朝四庫</h3>
<p>薛氏醫案十六種七十八卷</p>
<p>上書一集，明吳縣薛己撰。己字立齋，初為瘍醫，後方工於內科。因聯絡金元四家法，創立真陰真陽論，推衍金匱腎氣丸為六味八味，及增損一二味，則別成一方，自謂神明變化，遂開張介賓、趙養葵等固執滋填之弊。案金匱要略用腎氣丸者五條：一曰虛勞腰痛，少腹拘急，小便不利；一曰短氣，有微飲，當從小便去之；一曰男子消渴，小便反多，飲水一斗，小便亦一斗；一曰婦人轉胞不得溺，附方曰腳氣上入少腹不仁，是腎氣丸專為理腎氣利小便而設。難經以兩腎之中為生氣之根，濁氣凝冱，則生氣格硋，津液消亡，故用附桂通陽，必重用滋燥、斂陰、泄濁之藥為佐，又恐滋斂味厚，致妨胃氣，用丸而不用湯，地黃分兩特重者，慮陰液隨濁溲並泄，用以保全津液，非藉之填補也。己不明此理，直以為補陰君藥，昧者或從而武和，或從而訕謗，介葛廬亦難解紛矣。自著書八種：曰內科摘要，女科撮要，外科樞要，癘瘍機要，正體類要，口齒類要，保嬰金鏡錄，凡一十六卷。父鎧所著保嬰撮要二十卷，辭旨譾劣，非金元諸家之實力窮研者可比。且多載治驗，援引貴遊，殊形醜謬。其刪改舊本，附以己說者七種：曰倪維德原機啟微，陳自明婦人良方，錢乙小兒直訣，王綸明醫雜著，陳文仲小兒痘疹方、杜本傷寒金鏡錄，朱震亨外科精要，凡四十二卷，悉非原書之舊。天啟中朱明重刻，前有紀事一篇，言夢己求刻此書甚為怪誕。</p>

<h2>明李氏湯卿</h2>

<h3>四庫存目</h3>
<p>心印紺珠經二卷</p>
<p>上書一種，明李湯卿撰。湯卿提要亦不知何許人。書為明嘉靖丁未，嘉興府知府趙瀛校刻。上卷曰：原道統，推運氣，明形氣，詳脈法。下卷曰：察病機，理傷寒，演治法，辨藥性十八劑。錢大昕補元史藝文志，有羅知悌心印紺珠一卷，朱撝字好謙，心印紺珠二卷，不知即系此書，或別有二種容俟博考。</p>

<h2>明王氏肯堂</h2>

<h3>明史藝文志</h3>
<p>醫論四卷</p>
<p>證治準繩一百二十卷</p>
<p>鬱岡齋筆麈四卷第一卷凡四十頁論醫</p>
<p>醫統正脈一百九十六卷</p>

<h3>國朝四庫</h3>
<p>證治準繩一百二十卷</p>
<p>上書五種，去復一種，凡四種。明金壇王肯堂撰。肯堂字宇泰。兵部主事，諫阻武宗南巡，子杖、臬之孫。右都御史，贈太子少保，諡恭簡、樵之子。舉萬曆十七年焦竑榜進士，與松江董其昌同科。選庶常，授檢討，倭寇朝鮮，疏陳十議，願假御史銜，練兵海上。疏疏留中，遂引疾。會京察罷黜，歸而研醫，以著述自樂。復以薦補南京行人司副，終福建參政。其醫統正脈集書四十四種，自素問、靈樞、難經、脈經、傷寒論、金匱要略、明理論、活人書以下，繼以守真，終於陶華，皆沿金元以來結習。證治準繩六種，首雜病證治八冊，附以類方八冊，次傷寒準繩八冊，瘍醫準繩六冊，幼科準繩九冊，女科準繩五冊，凡四十四冊，皆一年而成。二種雖採掇繁富，而珠礫雜收，茫無去取，徒眩後人耳目。蓋其成功甚速，決非一人之手。況罷黜未幾，又復起用，宦興方殷，著輯宜其率略矣。醫論筆麈，泛述醫事，頗精卓可觀。</p>

<h2>明李氏時珍</h2>

<h3>國朝四庫</h3>
<p>本草綱目五十二卷</p>
<p>脈學一卷</p>
<p>奇經考一卷</p>
<p>上書三種，明蘄水李時珍撰。時珍字東壁，官楚王府奉祠正。子建中，為四川蓬溪知縣，神宗詔修國史。子建元，上遺表及書命刊行天下。是書取諸家本草，芟復補闕糾謬，凡一十六部，六十二類，一千八百八十二種。每藥以正名為綱，釋名為目。次以集解、辨疑、正誤、氣味、主治、附方。自云：歷年三十，採書三百餘家，三易稿而成。萬曆間為王世楨序刻，雖蒐羅至富，考據精詳，而誇多鬥靡，究與經方意旨未相融貫。又集其父言聞四診發明，糾脈訣之失，為瀕湖脈學，附以宋道士崔嘉彥四言詩。復考證奇經八脈，創為氣口九道之圖，詳其診法，好名之心，亦良苦矣。</p>

<h2>明孫氏一奎</h2>

<h3>國朝四庫</h3>
<p>赤水玄珠三十卷</p>
<p>醫旨緒餘二卷</p>
<p>三吳治驗二卷</p>
<p>新都治驗二卷</p>
<p>宜興治驗二卷</p>
<p>上書五種，明休寧孫一奎撰。一奎字東宿，號生生子。玄珠分七十門，每門又各分類次，詳論寒熱、虛實、表裡、氣血受病之原，古今病證名稱之混，晰理入彀，治法適中。殆擷取金元精粹之義，加以文飾而成者。醫旨分配太極陰陽五行於人身藏府經絡，又直以癲癇為二病，皆自擅聰明，憑虛結撰。又精究用人補人採煉之法，以治勞損，邪說導淫，乃書中大瑕。子泰來、明來，輯其醫案，多所誇詡，大抵專揚醫名，不窮醫理，淆於世俗之結習也。</p>

<h2>明張氏介賓</h2>

<h3>國朝四庫</h3>
<p>類經三十二卷</p>
<p>景岳全書六十四卷</p>
<p>上書二種，明山陰張介賓撰。介賓字會卿號景岳。元劉靜修集金李杲嘗命其徒羅天益所撰之內經類編，曾三毀其稿，又閱三年乃成，今書不傳。介賓殆仿其體，類集素問靈樞三百九十條，分為一十二門曰：攝生、陰陽、藏象、脈色、經絡、標本、氣味、論治、病疾、針刺、運氣、會通，又增圖翼十一卷，附翼四卷。雖割裂古經，而條理甚井，注多發明。全書首為傳忠錄，次脈神章，傷寒典，雜證謨，婦人規，小兒則，痘疹詮，外科鈐，本草正，次新方，次古方，皆分八陣。曰：補、和、寒、熱、固、因、攻、散。又集婦人、小兒、痘疹、外科諸方，妄稱典謨，殊為乖謬。且持論偏執，工於怒罵，沿薛己真陰真陽之習，斥劉朱寒涼制火之非。雖救當時攻伐之弊，實開後世膩補之愆。且每門首列經文，而論中不提一字，甚為疏忽。然酒色越度，精血消亡，溫養填補，在所必需，其書又未可偏廢。</p>

<h2>明繆氏希雍</h2>

<h3>明史藝文志</h3>
<p>本草經疏二十卷</p>
<p>方藥宜忌考十卷</p>
<p>本草單方十卷</p>

<h3>國朝四庫</h3>
<p>先醒齋廣筆記四卷</p>
<p>本草經疏三十卷</p>
<p>上書五種，去復一種，凡四種。明常熟繆希雍撰。希雍字仲醇，天啟中，王紹徽作點將錄，以東林諸人，分配水滸名，希雍為神醫安道全。本草單方亡。廣筆記為長興丁元薦裒希雍所用方成帙，雍又增入群方，及本草常用之藥，傷寒溫病時疫治法。經疏以神農為主，附以諸家主治藥味禁忌，次序悉依大觀本草，然論多紕繆，當時名醫以為經疏出而本草亡，亦詆之太過矣。張介賓與希雍同時，希雍擅用寒涼，介賓擅用溫補，希雍尚變化，介賓守法度。二人各立門逕，其實各有得力處。</p>

<h2>明盧氏之頤</h2>

<h3>國朝四庫</h3>
<p>本草乘雅半偈十卷</p>
<p>痎瘧論疏一卷</p>
<p>民間傳本</p>
<p>學古診則四卷</p>
<p>上書三種，明錢塘戶之頤撰。之頤字子繇，又字自觀。父復字不遠，號芷園蒲癡，著芷園臆草五種。又集醫種子四種，一為醫經種子，集本草經難經；一為醫論種子，集傷寒論、金匱要略；一為醫方種子，集仲景方、附薛己方、杜本舌法；一為醫案種子，集扁鵲倉公傳，附薛己醫案，及嘉靖中撫州易大艮思蘭醫案十八首。萬曆丙辰庚申自序，天啟甲子張天鱗、何白、李流芳序。嘗著本草綱目博議，命子繇成之，子繇因取本經藥二百三十二種，別錄至綱目諸書一百四十三種，每藥之下，有核參衍斷四目，辨論精博，甄錄謹嚴，為註釋藥性家之祖。閱十八載始成，稿亡兵燹，追憶重修，因名半偈。痎瘧方雖不古，論實簡當，診則為晚年目瞽所述，雖重複錯誤，猶可見少時篤學之功。摩索金匱九卷，及傷寒金鏡抄，醫難晰疑未傳。</p>

<h2>明吳氏有性</h2>

<h3>國朝四庫</h3>
<p>瘟疫論二卷補遺一卷</p>
<p>上書一種，明震澤吳有性撰。有性字又可。是書以四時沴氣蘊為瘟疫，病類傷寒而迥異，古未分別，乃著此論。謂邪自口鼻入伏膜原，與傷寒邪從毫竅入者相反。數百瘟疫中，偶或有一傷寒，言殊鹵莽滅裂。蓋崇禎之世，兵燹頻仍，凶荒迭薦，民生流離，死亡載道，其乖戾汙穢之氣，蒸為瘟疫。病源即屬凶殘，治法不妨峻厲。有性智不及此，遂因當時治效，輒著正名正誤諸篇，誹議先賢，流毒後世，聖裔孔以立為之註釋，亦讀書偏信之過耳。</p>

<h2>明劉氏若金</h2>
<p>劉氏自刻本</p>
<p>本草述三十二卷</p>
<p>上書一種，明潛江劉若金撰。若金字云密，天啟乙丑進士，由縣令歷監司，忤時罷歸，正氣聞天下。崇禎末膺薦復起，以司寇驅馳閩海，知事不可為，即於學易之年，束身引退，自號蠡園逸叟，隱居著書三十載。康熙乙巳卒，年八十。是書集藥六百九十一種，分水、火、土、金、石、滷石、山草、芳草、隰草、毒草、蔓草、水草、石草、谷菜、五果、山果、夷果、味部、蓏部、水果、香木、灌木、苞木、蟲、鱗、介、禽、獸、人，三十部。權藥物生成之時，度五氣五味五色，以明陰陽升降之理，有似平空結撰。然理暢義博，實發農經陶錄之秘，與盧氏父子互相補苴，允為註釋藥性家之祖。校之前人屬火、屬水、入心、入腎之說，大相逕庭。此為康熙己卯。其子字漣水者，令淳安時刻本。有遂安毛際可，嘉興高佑釲，竟陵吳驥序。</p>

<h2>明方氏有執</h2>

<h3>國朝四庫</h3>
<p>傷寒論條辨八卷</p>
<p>本草鈔一卷</p>
<p>或問一卷</p>
<p>痙書一卷</p>
<p>上書四種，明歙縣方有執撰。有執字中行，以傷寒論為王氏改移，成氏竄亂，致後世目為不全之書，或沿襲其誤，大失仲聖著書之旨，因竭二十餘年心力，始得端緒，考訂成編。然傷寒論屢經兵燹，王氏萃集之後，又為高繼沖編輯，必以為何人改移，何人竄亂，非質諸仲聖，終系穿鑿。惟成氏註釋未盡厥義，頗藉發明。所附本草鈔，或問痙書，皆有據之學。是書刻於萬曆壬辰。國朝鄭重光，字在辛，為方氏里人，刪其支辭，參以程喻二家，並附己意，名曰續注，亦行於世。</p>

<h2>明周氏子干</h2>
<p>民間行本</p>
<p>慎齋三書三卷</p>
<p>脈法一卷</p>
<p>醫案五卷</p>
<p>運氣化機三卷</p>
<p>脈學正傳四卷</p>
<p>續醫案十二卷</p>
<p>胡慎柔五書一卷</p>
<p>查了吾正陽篇一卷</p>
<p>上書八種，明寧國周子干撰。子干字慎齋，太平人，學宗薛己而別開蹊徑，多謬悠欺偽之說。毗陵胡住思，涇縣查了吾，皆師事之。住思弟子毗陵石震字瑞章，註釋三書，五書，並脈學正傳，運氣化機，慎齋醫案，俱未世梓。世傳鈔本，疑是石震偽託。惟慎齋三書脈法解，為國朝乾隆間，武進陳嘉樹鏤版傳世。</p>

<h2>明李氏中梓</h2>

<h3>四庫存目</h3>
<p>刪補頤生微論四卷</p>
<p>民間行本</p>
<p>醫宗必讀十卷</p>
<p>士材三書六卷</p>
<p>上書四種，明華亭李中梓撰。中梓字士材。其頤生微論已刊於萬曆戊午。崇禎壬午又自為刪補成二十四篇，皆論醫家大要，又雜入道家修煉諸法。復輯醫宗必讀十卷，首一卷為雜論，二卷為脈色，三、四卷為本草，五卷為傷寒，餘五卷為雜病三十二門。崇禎丁丑自序有云：醫書漢七家，唐六十四家，採一百九十七家，而漢志醫經七家，經方十有一家唐志明堂經脈三十四家，醫術二百五十七家，宋志醫書五百八部，與其所引，幾風馬牛不相及，殆信筆欺人，並未檢閱史志耳。三書首論脈法，為診家正眼二卷；次論藥性，為本草通玄二卷；次論病四十五門，為病機沙篆二卷；國朝順治庚寅刻後，旋即散失。康熙丁未，其門人長洲尤乘補刻，附入壽世青編二卷。首列勿藥須知，服藥須知，次為食鑑本草，食物治病，皆規模金元明諸子。雖援引經義，殊鮮發明，脈法本草尤淺率無味。青編則悉踵其師陋習，專務養生，殊為遇誕。</p>

<h2>國朝張氏志聰</h2>
<p>民間行本</p>
<p>素問集註九卷</p>
<p>靈樞經集註九卷</p>
<p>傷寒論集註六卷</p>
<p>金匱要略集註三卷</p>
<p>本草崇原三卷</p>
<p>侶山堂類辨二卷</p>
<p>上書六種，錢塘張志聰撰。志聰字隱菴，盧之頤弟子，自稱南陽後裔。於內經仲祖書童而習之，白首始獲其要。乃晝思夜夢，又積二十年方成是集。其論素問陰陽應象、六節藏象二篇，乃五運六氣之綱。天元紀、五運行、六微旨、氣交變、五常正、六元正紀、至真要七篇皆論運氣，篇卷浩大，當即仲聖陰陽大論，王冰得之，以補足舊缺者。然四氣調神亦曰大論，所述亦四時主客之氣，何以不與大綱之列。又謂靈樞八十一篇，乃君臣問難之辭，即仲景所引八十一難，似甚有理。然平脈所引經文，乃不在靈樞而在越人八十一難，竟未指出。其傷寒論提挈六經三百八十一證，霍亂易復等九十三症，使理明條貫，一掃諸家割裂之非，自有卓識。</p>

<h2>國朝喻氏昌</h2>

<h3>國朝四庫</h3>
<p>尚論篇八卷</p>
<p>醫門法律十二卷</p>
<p>寓意草四卷</p>
<p>民間行本</p>
<p>尚論前篇二卷</p>
<p>尚論後篇四卷</p>
<p>醫門法律六卷</p>
<p>寓意草一卷</p>
<p>上書三種，南昌喻昌撰。昌字嘉言，明崇禎中以選貢入都，卒無所就，往來靖安間，後復寄寓常熟，皆以醫名。是書首為尚論大義一篇，謂卒病傷寒論十六卷，卒病論六卷已亡。傷寒論系王氏以己意編集，賴有三百九十七法，一百一十三方之名目，可以校正。又駁正序例，校定篇目，推方氏改叔和之舊，為有卓識。殊不知方法之數，定於林億。傷寒卒病唐志本系一書，僅有十卷。王氏編後，尚有高氏，其叫囂拗執，實緣不善讀書。法律明治療之術，定功罪之律，專為庸醫誤人而作，思患予防，亦醫林之砥柱也。所引宋人劉溫舒撰運氣論奧三卷，見四庫全書總目提要。明姑蘇人俞子容，字約齋，撰續醫說十卷。懷慶河內人何柏齋，名塘，宏治壬戍進士，官南京右付都御史，撰醫學管見。弟子秀水徐彬字忠可，撰一百十三方發明，未載卷，金匱要略論注二十四卷，康熙辛亥梓行。沈明宗字目南，與彬同時同里。師海鹽石楷，撰傷寒論注十卷，金匱要略注二十四卷，康熙壬申梓行。二家書皆精爽可觀。</p>

<h2>國朝程氏林</h2>

<h3>四庫</h3>
<p>聖濟總錄纂要二十六卷</p>
<p>上書二種，休寧程林撰。林字云來。以聖濟總錄簡編殘缺，購得三本，互相補苴，尚缺一百七十至一百七十七卷。其友項睿補撰小兒方五卷，因繁重難行，乃撮取要旨，節成二十六卷。序疏門類，悉仍其舊。今震澤汪氏所梓，已復程缺，又失末後二卷，惜未獲程書補全。林與喻昌同時。每摘傷寒疑義詰質，尚論篇中有答問一十六條。張璐醫通引書目錄，載金匱直解，未見傳本。</p>
<p>案：金匱要略直解，有康熙十二年癸丑（一六七三）刊本，惜程氏未之見耳。耿鑑庭補記。</p>

<h2>國朝張氏璐</h2>

<h3>四庫存目</h3>
<p>張氏醫通十六卷</p>
<p>傷寒纘論二卷緒論二卷</p>
<p>本經逢原四卷</p>
<p>診宗三昧一卷</p>
<p>民間行本</p>
<p>千金方衍義三十卷</p>
<p>千金傷寒舌鑑一卷</p>
<p>子倬傷寒兼證析義一卷</p>
<p>上書五種，長洲張璐撰。璐字路玉，號石頑。匯次古今方論為張氏醫通。主治宗薛己、張介賓，門類次第依王肯堂。又別擇三十六方為祖，統隸三百九十四方。附景岳八略，改其因略為兼略。並著傷寒纘緒二論，纘論先列原文，次附註釋及正方一百十三，皆本喻昌。緒論首載總論四十八篇，次雜法五篇，證治百篇，雜方百四十九，皆擷採陳言，出以己語，大要以簡易淺近為宗。診宗三昧，則論議風生，無可多否。譏脈經太素為溷雜毒於經語中、展卷即有金屑入目。譏紫虛、丹溪攖寧、士材等為刻舟求劍，案圖索驥，自詡己作為風中鳥跡，水上月痕，非智慧辨才不能測識。書凡總論七篇，脈解三十二篇，口問十二篇，逆順異脈婦人嬰兒四篇。康熙己巳即墨，郭琇為之序刻。己酉仁廟南巡，其子登以書進呈，奉旨留覽。己丑秀水朱彝尊作序。千金方衍義，因真人之書無人能讀，恐致失傳。故敷衍其義，以期昭揭，用心良苦。然幽奇窔奧，斷難強解，豈反激逆從四字可概，真非所能而自以為能矣。惟仍隸三十卷，藉見宋本舊目云，一卷雜論，二卷婦人，求子至下乳，三卷虛損至雜治，四卷補益至月水不調，五卷上下少小序例至雜病，六卷上下竅目病至面藥，七捲風毒至諸膏，八卷雜風至風痹，九卷傷寒例至發汗吐下後，十卷傷寒雜治至診溪毒，十一肝藏，十二膽府，十三心藏，十四小腸府，十五上下脾藏，十六胃府，十七肺藏，十八大腸府，十九腎藏，二十膀胱府，二十一三焦方，二十二丁腫瘭疽，二十三九漏至大風，二十四解食毒至㿗病，二十五卒死至火瘡，二十六食治，二十七養性，二十八平脈，二十九三十針灸。其三十一門二百二十三類與九十三卷者同。是書未經進呈，故四庫存目不載。登字誕先，又字以柔，補醫通中痘疹，又擴充金鏡錄，觀舌心法，為圖一百二十，各有總論，名傷寒舌鑑。次子倬，字飛疇，著傷寒兼證析義，專論傷寒兼雜病，凡一十七篇，設為問答，並補目科。</p>

<h2>國朝陳氏士鐸</h2>

<h3>四庫存目</h3>
<p>石室秘錄六卷</p>
<p>民間行本</p>
<p>傷寒辨證錄十四卷附脈法一卷</p>
<p>辨症奇聞十二卷</p>
<p>洞天奧旨八卷</p>
<p>上書四種，山陰陳士鐸撰。士鐸字遠公。別號朱華子、居稱大雅堂。其書議論奇特，方法新異。蕪湖顧世澄瘍醫大全，無錫沈金鰲尊生書，皆廣引其方論，信服其新奇。案士鐸自序稱康熙丁卯，遇岐伯、仲聖、雷公、元化、稚川、思邈等於京師，親受其法。岐伯自號中清殿下宏宣秘錄無上天真大帝真君，仲聖自號廣蘊真人，竟為士鐸撰序。書體皆曰，人有某病，眾以為某故，殊不知乃某故，非某故也，人用某方必不效，且致死，己用某人某法，則死者復生。然立方多有可取者。聞尚有本草新編，未見。</p>

<h2>國朝戴氏天章</h2>
<p>存存書屋刻本</p>
<p>廣瘟疫論四卷</p>
<p>上書一種，上元戴天章撰。天章字麟郊，學者稱北山先生。長子瀚，雍正癸卯一甲第二人。孫翼，官御史，貤贈朝議大夫。是書折衷吳氏，增辨症八兼證五夾證十，並原論凡一百一十三條，末附藥方八十三首。為歙人鄭某剽刻。其孫祖啟，出存存書屋原稿更正。雖論議委婉，不若有性之決裝，究為偏見不可訓。</p>

<h2>國朝魏氏荔彤</h2>
<p>民間行本</p>
<p>素問註疏二十四卷</p>
<p>靈樞註疏九卷</p>
<p>傷寒論註疏八卷</p>
<p>金匱要略注二十二卷</p>
<p>上書四種，柏鄉魏荔彤撰。荔彤字念庭。康熙間歷官京口監司，與吳中王子接為友。自言於帖括吏牘之暇，即研求醫理，積五十餘年撰成是編，實士大夫攻醫之矯矯者。</p>

<h2>國朝葉氏桂</h2>

<h3>四庫存目</h3>
<p>臨症指南醫案十卷續一卷</p>
<p>民間行本</p>
<p>種福堂續醫案一卷溫熱論一卷</p>
<p>葉康王三家醫案三卷內葉一卷</p>
<p>葉薛繆三家醫案三卷內葉一卷</p>
<p>本事方箋釋十二卷</p>
<p>景岳全書發揮十二卷</p>
<p>陶氏全生集評本四卷</p>
<p>醫效秘傳四卷</p>
<p>上書八種，吳縣葉桂撰。桂字天士，號香岩。顯醫名於康熙雍正間。乾隆丙戍錫山華南田，輯其晚年門人朱心傳、吳厚存、張亮揆等日記醫案，分八十八門，每門之末附以總論，名曰臨症指南醫案。其後張氏集其遺案，合康作霖、王子接為三家。吳氏合薛雪、繆遵義為三家。皆仿華氏體例，不載稱呼，不誇效驗，但冠姓與年歲，掃盡諸家浮習。其審病處方，實詳慎簡潔，不刻意於古，而自饒古趣。康、王、薛、繆、奚能武其後塵，惟酬應太繁，淺率諧俗之方居半，集者失於校擇，遂開近時浮薄之端。至全生集，本山陰劉大化所撰，坊賈竄入偽序，藉盛名以求速售耳。醫效秘傳，本事方箋釋，景岳全書發揮，類皆偽託。提要稱桂生平無所著作，信矣。顧景文手錄溫熱論二十則，治一時傳染之病，異於吳有性之專尚攻擊，及幼科痘證一門，皆精簡可採。</p>

<h2>國朝徐氏大椿</h2>

<h3>四庫</h3>
<p>蘭臺軌範八卷</p>
<p>神農本草經百種錄一卷</p>
<p>傷寒類方二卷</p>
<p>醫學源流論二卷</p>
<p>難經經釋二卷</p>
<p>醫貫砭二卷</p>
<p>上書六種，吳江徐大椿撰。大椿字靈胎，號洄溪，雍正間以醫名。自序難經經釋，謂越人本內經以作難經，則內經具在，錯謬處當援而駁正。其殊法異議，必別有師承，不得仍執內經議其可否。案漢書藝文志：扁鵲內經九卷，外經十二卷，與黃帝內經十八卷，外經三十九卷並傳。後漢時仲景所引，呂博望所注。二千年來，絕無異議，大椿既以難經為兩漢前書，又不能指今之內經為漢之何經，況呂注已亡，無從稽考，自當闕疑，何得妄為強解。本草經，亦僅取百種，而日用之藥，置其大半，反孳孳於方士所附輕身延年之說。趙獻可醫貫，執薛己真陰真陽，持八味六味庸識，本無足砭，乃逐句逐字，索垢求疵，肆加辱詈。醫學源流論，抉發積弊，可稱傑作。而人參論則曰：誤服溫補，補住邪氣，至死不出，核諸傷寒金匱，用人參三十二方，附子二十三方，乾薑三十六方，仲聖絕無告戒，何尋常治法，猶恐誤用害人，此等巨患，竟不齒及。傷寒類方，削去病論，專載醫方，令人按病求方，不必循經辨症，尤非體例。蓋椿天性恃才傲物，每信筆欺人，又評葉桂醫案，大率類此，惟蘭臺軌範尚覺平允。</p>

<h2>國朝尤氏怡</h2>
<p>民間行本</p>
<p>傷寒貫珠集八卷</p>
<p>金匱心典三卷</p>
<p>金匱翼八卷</p>
<p>醫學讀書記二卷續一卷</p>
<p>靜香樓醫案一卷</p>
<p>上書五種，長洲尤怡撰。怡字在涇、號拙吾。工詩，與顧秀野、沈歸愚為友，著北田吟稿。乾隆間以醫名於世。嘗病方、喻、程三家之書，條分未當，因分傷寒三陽治法為十一門，三百九十四條，方九十道。三陰治法三門，一百十七條，方二十七道。提綱挈領，束繁歸整，為貫珠集。雖踵沿陋習，播亂原文，較之三家，則醇多疵少。其金匱心典，尤精簡可宗。又著金匱翼，專療雜病，分四十九門，每門各別類次，論治簡而有要，惟每類之末，必有新定之方，意欲度越古人，猶是金元故態。讀書記雖無甚精詣，亦可見其用心之勤苦矣。</p>

<h2>國朝程氏郊倩</h2>
<p>民間行本</p>
<p>傷寒後條辨十五卷</p>
<p>醫經脈圖句測四卷</p>
<p>藥方二卷</p>
<p>上書三種，休寧程郊倩撰。郊倩字應旄。因方有執傷寒條辨未窮隱奧，覆蓋加推擴，故條分愈眾，論議愈新，究於仲聖立論之旨了無干涉。脈圖藥方俟考。</p>

<h2>國朝黃氏元御</h2>

<h3>四庫全書存目</h3>
<p>素問懸解十三卷</p>
<p>靈樞懸解九卷</p>
<p>難經懸解二卷</p>
<p>傷寒懸解十五卷</p>
<p>金匱懸解二十二卷</p>
<p>傷寒說意十一卷</p>
<p>長沙藥解四卷</p>
<p>四聖懸樞四卷</p>
<p>四聖心源十卷</p>
<p>玉楸藥解四卷</p>
<p>素靈微蘊四卷</p>
<p>上書十一種，昌邑黃元御撰。元御字坤載。以素問本病刺志刺法三篇，舊本皆曰亡，細為紬繹，則本病之文誤入玉機真藏，刺志誤入診要經終，刺法誤入通評虛實，未嘗亡也。經絡論即皮部論之後半篇，皮部屬十二正經經絡之正文，因正其錯簡，復八十一篇之舊。又考靈樞難經之文，亦多脫誤。如標本誤名衛氣、四時氣大半誤入邪氣，藏府病形、津液五別誤名五癃津液別經，別前十三段為正經，後十五段為別經，且誤入經脈中，悉比櫛其辭，俾相聯屬，復治傷寒論得脈法八十三章，六經正病及誤治壞病三百六十八章，外感類病並用法宜忌八十六章，合五百三十七章。及金匱要略內傷雜病四診九候諸法，皆定其次第，釋其隱奧，更撰說意，會通傷寒大旨。藥解詳繹長沙二百八十八方，一百六十種藥，處方療病之原。心源融貫四聖之書，創治雜病之法。懸樞推究歲氣所應，為堵禦寒溫痘疹四疫之方。又擷經文精義，為胎化等解九篇，病解一十七篇，附以醫案，別成玉楸藥解，自述用藥微義，咸自作序意，並撰杝元一篇以示志。嘗曰：思邈真人千金方以下，著作如林，與岐伯立言，仲景立法之旨，竟無一線微通，而庸醫效尤，俗子遵守，天下咸棄圭壁而寶碔砆，最可痛苦流涕。語甚激烈。蓋其左目為庸醫誤治成盲，致落仕籍，因發憤窮醫，故抑塞磊落之氣時形楮墨，雖四聖心源增損古方，不存舊目，且有天魂地魄等名，不免炫奇篾古。然持論皆以扶陽配陰為宗，一洗金元以來滋陰熄火之習，自是特識。其傷寒懸解，雖割裂古書，而條分縷析，實能窺見先師堂奧。道光中，陽湖張琦序刻傷寒懸解，長沙藥解，素靈微蘊，四聖心源，於宛鄰叢書，金匱懸解尚未付梓。</p>

<h2>國朝柯氏琴</h2>
<p>民間行本</p>
<p>傷寒論注四卷</p>
<p>傷寒論翼二卷</p>
<p>傷寒附翼二卷</p>
<p>上書三種，總名來蘇集，慈谿柯琴撰。琴字韻伯，號似峰，本儒者，工詩，好為古文辭。嘗讀傷寒論，病方氏條辨之妄定，喻氏尚論之矜奇，乃逐條逐句，細加研勘，摘出脫文衍文，倒句冗句，或刪或正，皆條理疏暢，論議明晰。惟以何者為仲聖之言，何者為王氏之筆，並闢林成二家三百九十七法之謬，及改訛補闕諸字，仍蹈文人擅作聰明結習，失註釋家大體。至謂傷寒雜病異軌同轅，六經本為百病立法，不專擊傷寒，實傳仲景數千年未火之薪，厥功偉矣。</p>

<h2>國朝沈氏金鰲</h2>
<p>芊綠草堂刻本</p>
<p>尊生書七十二卷</p>
<p>上書一種，錫山沈金鰲撰。金鰲字芊綠，號再平，屢試京兆不售，遂專以醫鳴。書凡七種：首載脈象統類一卷，諸脈主病詩一卷，附明道士曹元白南北規中導引法十八則，次雜病源流犀燭三十卷，傷寒論綱目十八卷，婦科玉尺六卷，幼科釋迷六卷，要分劑藥十卷，自序統會群書，研審意理，積數十年而成是編。卒後十數年，其弟子奇豐額藩皖時，為之序刻。首為藏府門七十五候十卷，次奇經八脈門附一候一卷，六淫門二十八候六卷，內傷外感門十二候四卷，面部門八候三卷，身形門三十五部候六卷。附諸穴及癰疽圖，皆冠以總論，附以群方。婦科採輯眾說，分為九門，其論求嗣，備述擇鼎進火，及用金鳳銜珠方，並描摹情狀，大能導淫。案房中八家，列於漢志。班氏已論及迷者必生疾殞命，千金方有房中補益之術，後賢指為書中大疵。況倉公為漢代神醫，止生五女，其師公乘陽慶，年七十餘無子。求嗣之說，倡於褚澄，今所傳書，實宋人偽託。明李濂作醫史，亦言世傳種子術皆妄，何過信如此。又胎孕所由篇，褚氏云：並非千金所引，不知所本何書。幼科分二十四門，冠以四言韻語，便初學記誦，亦甚有理。序稱其師孫慶曾與葉桂同門，頗精痘科，因受業。時未陳臨診，今師已故。雖素讀錢、陳、曾、萬、湯、魏、翟、聶八家之書，心明瞭而手目未能相應，故缺而有待。傷寒論以本文為綱，諸家為目。分太陽為六十七門，陽明三十九門，少陽十門，太陰六門，少陰二十三門，厥陰十一門，病後症五門。序稱常讀傷寒百餘家，又假稽氏所藏欽定古今圖書集成藝術部按次詳讀，採擷英華，擬成是編。又言條例悉本柯琴。禾案：傷寒家播亂原文，倡於方有執，刪改字句始於柯琴。二人皆獨抒心得，別開畦徑，不傍他人門戶。琴更文思俊爽，措語周詳，其以方類論，實能束棼歸整。金鰲無琴之才識，學琴之形似，雖以症類論，以目釋綱，亦殊有理，而改補原文，幾至不可句讀，採集諸家，復美醜不齊，不著書名，任情竄抹，每非原書之舊。且疏忽失檢，序云百家，所引止四十二家，徒為考據者所笑。蓋其性尚矜誇，胸無成轍，雖獲睹秘書，實未得書中旨趣。然四十二家之內，世罕行本者，若韓祗和、楊士瀛、危亦林、趙嗣真、朱撝、虞搏、樓英、吳綬、閔芝慶、婁全善、黃仲理、張兼善，一十二家之書，藉此遂窺其底蘊。此外世所通行，若朱肱、龐安常、蘇頌、許叔微、寇宗奭、成無己、劉完素、張元素父子、李杲、王好古、朱震亨、王履、戴原禮、陶華、張介賓、繆希雍、趙獻可、王肯堂、方中行、李中梓、喻昌、徐彬、柯琴、魏荔彤、程郊倩、陳士鐸等，本志已詳。未詳者：婁全善、淅人，撰醫學綱目，見古今醫統。明史藝文志，醫學綱目四十卷，樓英撰。金鰲兩引之，或別有據。龔信，字瑞之，號西園，江西金溪人。撰古今醫鑑十六卷，刻於萬曆乙丑。有扶溝劉自強，鄢陵劉巡，及恆我齋自序。是書首列脈訣、病機、藥性、運氣，次分中風等一百三十三門，終藥膏通治救荒，皆金元以後餘緒，特以己見出之耳。即如廣瘡天疱，源流各異，患害懸殊，信乃扭合為一，既諄戒切忌用水銀輕粉，檢閱其方，用水銀者五，輕粉者七，且有並用者。其他謬誤，可概見矣。沈氏所引，並非此書。子廷賢，字子才，號雲林，著雲林醫聖八卷，神彀四卷，萬病回春八卷，壽世保元十卷。汪昂、國朝休寧人，字訒庵，撰素靈類纂三卷，本草備要四卷，醫方集解三卷，湯頭歌訣一卷。</p>

<h2>國朝陳氏念祖</h2>
<p>民間行本</p>
<p>傷寒論淺注六卷</p>
<p>長沙方歌括六卷</p>
<p>金匱要略淺注三十卷</p>
<p>公餘醫錄四種</p>
<p>上書七種，長樂陳念祖撰。念祖字修園。自序傷寒論，引漢書藝文志云：湯液經出於伊尹，傷寒金匱方，除崔氏腎氣丸，候氏黑散外，皆伊尹遺方。考漢志並無此語，念祖所見，或非今本，淺注貫串原文，頗便童蒙誦習，然牽強附會處、正復不少。其作令保陽時，又集神農木草經三品藥百十八種，附別錄藥四十七種，為本草經讀二卷。又約論醫精語為三字經二卷、附以藥方一卷，並陰陽藏府論經絡四診運氣歌一卷。又編補重輕宣通泄滑澀濕燥寒熱十二劑方百八道，為時方歌括二卷。又採脈法及雜病三十六門並婦人傷寒為時方妙用二卷。其立論主於排擊金元，實不能越金元之圍範，推崇漢唐，亦不能得漢唐之綱領。本草經解要四卷，為梁溪姚球字頤真撰，自序學醫始末，著書原委，門人王從龍跋，從龍叔海文序，又列參校門人華元龍等一十八人名，為六安州守楊公子字遠齋者所刻。稱尚有南陽經解，幼科新書，刪補慎齋遺書，評點景岳全書，類經諸稿未梓。坊賈因書不售，剜補桂名，遂致吳中紙貴。念祖未見原本，故踵其訛誤如此。候官蔣慶齡本草經讀序言，念祖自述所著，尚有傷寒論注四卷，重訂柯注傷寒論八卷，重訂活人百問八卷，金匱淺注十六卷，醫醫偶錄二卷，醫學從眾錄八卷，真方歌括二卷，景岳新方砭四卷，傷寒論讀四卷，金匱讀四卷，醫約二卷，醫訣三卷，本草經注六卷，凡一十三種。今惟金匱淺注傳世，余皆未見。</p>

<h2>國朝鄒氏澍</h2>
<p>家藏刻本</p>
<p>本經疏證十二卷</p>
<p>本經續疏六卷</p>
<p>本草序疏要八卷</p>
<p>家藏未刻稿</p>
<p>讀醫經筆記三卷</p>
<p>傷寒通解四卷</p>
<p>長沙方疏證六卷</p>
<p>上書六種，武進鄒澍撰。澍字潤安，晚號閏庵。悟先儒性命之旨，不習舉業，特致力於醫。嘗用春秋屬辭比事法，治素問、傷寒論、金匱要略，於不合處求其義之所在，又以劉潛江本草述，雖意旨精博，而不甚用力於漢唐。因將仲聖所用藥百七十三味，研究六年、撰成本經疏證。常用藥百四十二味，成本經續疏。猶以為未盡厥旨，復取序例所列主療八十三類，及徐氏續入九類，詮釋其要，翼附二疏，成本經序疏要，皆自為序。道光甲辰，遽捐館舍。癸卯，禾錄稿寄湯君用中，倡鋟於維揚，歸板於其嗣子夢龍。長沙方疏證，讀醫經筆記，皆未卒業，因校序以待刻傳。</p>

<h1>跋</h1>
<p>陶靖節先生，讀書不求甚解，非不求解也。特其天資敏捷，不藉窮研冥索，自能融會貫通耳。畸庵業師，初習金元劉張李朱、立齋、損庵、東壁之學，久悟其非，乃轉求醫經、經方、傷寒、本草，著瘍醫雅言，及豆疹索隱。又悉取所儲醫書史傳，研求大旨，考覈行履，為讀書志九十九篇，一秉虛衷，不淆群議。絕去固執穿鑿之弊，非敏捷者不能，願與真求解者共讀而共解之。庶得偕升古人之堂，偕入古人之室。然求而得其解者，必以為古人之諍臣；不得其解者，必以為古人之罪臣。是則攸系民生之幸與不幸，而夫子壽人之心，終歸不朽矣。</p>
<p><u>咸豐元年上巳日門人陽湖劉汝航謹跋。</u></p>
