<header data-type="book">
<h1>產科發蒙</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>片倉元周</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第九冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015281">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>治產外科成矣。其書為相山鶴陵先生深甫氏所著。蓋博取古今善說。附以己治驗。定為此編。以補產論不備云。先生初學賀川翁所。受產論而歸。即誦讀前後二十年。頗極精微。出而為人解難。乃生子呱呱而泣矣。百無一失。其名藉藉然起焉。今之言產者。皆折衷深甫氏也。予雖未睹產論。而今得視此書。則思過半矣。唐有孫真人。志在濟世。嘗列其方於華表石上。豎之鑑山之下漆沮合流路隅。便人覽且抄也。今夫深甫氏之仁於民乎功豈在真人之下哉。苟卿有言曰。青出於藍。青於藍信然矣。是為序。</p>
<p><u>享和三年歲次癸亥中秋前五日題於崎陽客館之環翠樓中。吳起程赤城。</u></p>

<h1>序</h1>
<p>婦人生產生生不絕者。天地自然之理。而非疾病則其不須藥餌也固矣。然將養失常。胎教乖方。則孕中之諸證。臨產之倒橫。產後之眾疾。變化百端。不可悉極。是以顓科者。救護之術。治法之要。二者相須若車兩輪。豈可不精練研究哉。若治法救護不得其法。則子母之命懸焉。實可畏也。夫陳自明婦人大全良方。昝殷產寶方。陳治道保產萬全書。陳朝階奚囊便方。湯居士保產機要。高賓便產須知。王化貞產鑑。何鍾臺達生編等諸書。皆是專門。而雖非方論不備。至於救護術。則僅僅無幾。後人無所宗法焉。余得賀川氏之書。見其術之精詳。而嘆發前哲所未發。後遊其門。愈信其術之有神驗矣。乃服事其教二十餘年。起死回生之效。不可勝紀也。其閱歷之久。周之不敏亦有稍稍所發明。因蒐集既驗者。以成編。題曰產科發蒙。雖然不過正其疑似而詳其未詳也。後之君子。幸以賀川氏書為綱。以此書為目。而施諸治法。則益見賀川氏之功之不少矣。</p>
<p><u>寬政乙卯歲陬月上元鶴陵居士片倉元周撰並書。</u></p>

<h1>卷一</h1>

<h2>胎子位置形狀論第一</h2>
<p>余壯歲西遊子玄先生之門。學產科術。蓋其術皆出於親試獨得。而診訣占候。實精詳鍜煉。是以其施治。皆莫不有神驗也。可謂能究產蓐微奧矣。余乃覃思研精。晝夜不輟。於是不出百日。而得入其室矣。及還東都。再取其所著產論及翼等書。沉潛反覆而讀之。論中有謂。大抵五月之後。腹中胎大如瓜。必背面而倒首。其頂當橫骨上際而居焉。其胞衣則蓋於胎之尻上。而當母鳩尾之下。至臨月按之。可得別其體貌而盡矣。又曰。自其背而探之。其左右足膝皆張而旁出。則應是其面作箕服或結趺也。如其手膊則並展其臂。而常自依脅旁。則未嘗縮手足也云云。又閱產論翼。載背面倒首。而皮膜裹胎。其胞衣則見附蒂於上。而蓋尻上。其莖則從膜上垂下。過脊背越左肩。向腹部之圖。予嘗依其論與圖。而沉思默想者。不啻累月積年。未能攻究其胞莖之貫皮膜而至臍之處。在何地而為何狀也。疑之久之。頃歲城南山下門外。笹井某妻。妊娠方期月。忽腹疼腰痛。於是人定速余治診。即便往。發劑飲之。而拊摩其腹。則蹲循之際。兒便產下。而無啼聲。乳媼抱起看時。亦無手足面目。唯蠢乎微動。乃以為怪物。將裹草棄之。余細檢之。隔膜才見兒頭面手足。謂曰此囊兒也。因就熟視之。胞衣在腹部而其形橢。上至頷下。下逮臍下。而胞衣四邊。薄皮引出以包裹胎。視之如雲母屏中物。兒在其內。屈臂握手。以魚腹印耳下。其形似邦俗取膏肓穴之狀。又跼兩膝。而膝頭僅過乳上。膝外廉與膊內廉相齧。猶人登圊狀。臍帶則自左手與胸旁之間。蟠屈而出二寸許。斜至肩。余即執小刀剖頷下膜（男子也）則白膜縮蹙歸於胞四邊矣。急含少水。以噀兒面。始揚聲啼叫。眾皆稱天幸哉。余取胞衣置於油單紙上。以攤視之。其形圓匾。徑六寸許。其外面則中央最厚。至邊而漸薄。高低出沒。皺皮錯交。其色紫紅綠黑。混然相雜。而不甚濃。又往往有紫黑濃斑點。反覆視其裡面則有文理筋絡。宛乎似荷葉裡面。其色紫碧黑。比表面則稍淡。筋絡則青與白交加參錯。其胞莖則如無名指大。而若人工捻作者然。又類於繩索。其色不異筋絡。（按胞莖始出。其色灰白色。既而過一二時。變為青白參錯。）莖中有三孔相通。余以為一以輸氣。一以注血。一反氣血者也。是亦若人有咽與喉。而氣穀道各異者歟。未可知也。皮膜之形。如歷制海蛇。其色淡黃也。近八街堀。葺屋匠妻。年二十七。彌月而產囊兒。（女子也）亦復如是。其所異者。肚帶紆曲在於右腰聞而已。於是乎始悟子宮者。蓋附著於腎腸前面。而為一界郭。而兒在於其中也。背面倒首而屈手足。其頷著缺盆骨上。而面與膝頭相聚。若自窺臍者。其形蟠縮一團若煮蝦魚然。胞衣則對兒腹。皮膜自生裹胎。其胞蓋當子宮中後面而黏著。母之血氣繇是先入胞內。乃流布於文理筋絡。自文理筋絡。達於胞帶中之隊孔。而至臍中以將養於兒者無疑。故知彌月將產。而陣痛頻至。八髎腰髖之邊幾摧。而周身灼熱。漐漐汗出者。此胞衣著母體之處。將離脫之勢爾。以此推之。則如龐安常云。兒出胞而誤執母腸胃。故隔腹針兒虎口。於法開云。使積日不娩之婦。食羊十餘臠而針是。則須臾羊膋（音聊脂膏也）裹兒出。盛起東云。將分娩但子抱母心。因便針之之類。雖後之醫家稱譽其明診。以載於書籍。豈足可信哉。儒門事親云。醫者不察孕。加燔針於臍兩旁。方不數月生一女子。兩目下各有燔針痕。又太平聖惠。和劑局方。婦人良方等書。所載催生丹方後云。服一丸即時產。隨男左女右手中握出。是亦虛言空論。殆惑來學。皆刪去而可也。夫子宮者。自是腸胃外囫圇一界郭爾。必非有孔竅而通於腸胃者矣。子在其中也。胞與膜裹之。無一點孔竅。其胞附著子宮而受養。乘其將分娩之勢。而皮膜自破。漿水迸出。然後兒出門矣。奚有執母腸。抱母心。羊膋裹兒。手握藥出。兩目下有燔針痕等事邪。不但此也。魏志所載。華佗診甘陵相夫人有娠。使人手摸知所在。在右則女。在左則男。人云在左。於是為湯下之。果下男形之類。試之今日。無有的確。是皆後人信筆增奇者而已。曷足為法乎。古人妄誕往往有此類。學者不可不擇也。頃又覽明錢雷人鏡經附錄。載男女胎元圖說云。精勝其血。自左子宮受氣而男形成。精不勝血。自右子宮受氣而女形成。又曰。男負陽而抱陰。故頭東而足西。女負陰而抱陽。故頭西而足東。頭與手足。蟠行一團如卵黃然。其漿水如卵白也。又曰。胞帶起於兩腎中間。著脊而生。有一系繫於兒臍。懸兒於胞中。此通母之血氣遺蔭之道路也。云云。而其胎元圖。作低頭踡跼腰背。屈曲兩足。男首向左。女首向右。仰而橫臥者。此皆本十九難所謂男子生於寅。女子生於申之義。而設圖說者耳。雖似可憑。至其以子宮為二。男女頭足異乎東西。懸兒於胞中。仰而橫臥。則臆度亦甚。近閱蘭醫牒分的兒產科書。載易產難產圖。總二十有三。而其胞衣有戴於頭頂者。有蓋於尻上者。又有負於背藉於臀。插於兩股間者。且其胎形狀。則有橫生。倒生。礙產。（肚帶攀其肩也）偏產。（見額角也）棖後。（頭之後骨偏掛穀道兒即露額也）及頷掛橫骨而出雙手。或一足已出。而胞帶將出。或肩臨子戶而出帶。或湊兩腳於面前。臀向人門而露一手。或臀出其半而不能達。或腹向產戶而出胞帶。或與上形同而不露帶。或背脊向子宮口。或肚帶纏頸而四肢將出。或兩足與一手已出子門。或駢屈兩膝而將出。又雙胎。一則仰臥。一則跨其上而露其臍帶。又正產仰出者。伏出者。礙橫骨者。拄肛門者。向腰左右者等之異。其他形狀不能備錄。而胞衣之所在不一者。彼以為子宮有欹側正直之殊也。然不載胞之對腹者。則彼未睹囊兒乎。其圖說雖似詳。或出臆見者十過其半。嗟乎。萬古以來。不論華夷。凡醫家於懷孕圖說。氾濫懵懂。紛紛不一者。皆由不觀真囊兒。故未有一人能為的當之說者也。夫蘭人雖言事出其實。豈能如殷紂刳孕婦腹而視之乎哉。故其所圖。不可信據也。夫吾子玄先生於產科一技。終身用意刻苦。是以其術超邁於古今。如其所謂素背面倒首而無轉身者。則千古卓見也。雖然至其謂胞衣蓋胎之尻上。其手膊並展依脅旁。而其左右足膝皆張而旁出未嘗縮手足。則偶未深考耳。又產論翼中所錄。懷孕圖凡三十有二。而其胞衣皆表裡反復。不無可疑也。又如被膜胎圖。（余所稱囊兒是也。）則為胞在腹中。其帶垂下而出育門。帶頭皮膜生而裹胎者。亦不可解也。苟若其所圖。則產訖當胞莖近兒臍。而有皮膜。余治產婦無慮數百人。見其生子未嘗視皮膜之附著於胞莖者。又未視胞與膜相離者。其偶相離者。則死胎經日而娩者。及胞衣日久而漸漸壞下者。皆皮膜腐敗。與穢物並下也。其他豈有此理哉。夫膜也者。附著於胞衣裡面之薄皮。自引延而包胎者爾。凡尋常生產。兒子瞥然出門。然後胞衣尋下者。皆皮膜忽縮蹙於胞之四邊。故人多不識之也。今舉其胞莖而視之。則膜之垂下者。藹藹如車蓋。則膜之與胞衣。不相離者可知矣。何有胞莖生皮而裹兒邪。且摘胞之遊旒。而徐剝之。胞與膜隨手而離。此亦兩片相合。故復徐徐分拆之。則離成兩片。而其表面著於胞者。薄脆易破。裡面比表面則粗而厚強。故較難破。余幸獲觀二囊兒之一男一女。而數年大疑。釋然冰解。從前謬迷。一時霧散。豈不亦愉快哉。雖然不敢自斷為是。或得復視數兒如此。則此說永為鼎鍾銘錄矣。唯恨余今年歲已不惑。稟受怯弱死生難期。況囊兒千百中之一二而已。假令有之。大抵托於無智生婆。則孰能詳正之乎。我終身不能復眎未可測也。因姑記所目擊與所發明。以示同志。後來君子。若遇囊兒而不異乎余所說。則請繼續於此。以為萬世定規矣。嗟乎子玄先生之書。率出於實驗實得。議論切當。有益今日。而其論不及於此。其有差忒者。疑未嘗遇真囊兒。而妄作之圖說歟。抑門人誤記。亦未可知也。噫先生今既往矣。恨我不在其生時以斯質焉。（篇內所論諸圖悉見卷六宜以參看）</p>

<h2>辨駢胎位置第二</h2>
<p>凡駢胎腹象皆突出於前而高。比之尋常娠腹。則甚大而不張於左右。比及臨月。揣其兩脅則空軟。由此觀之。駢胎之在子宮中。必非二胎正相位左右也。其胎累重於前後者無疑矣。而其分娩也。後者先出。而前者後生也。雖子玄先生之精核。未及於此。而為相併於左右者。乃其候法曰。任脈窪成一道者孿胎也。余屢視攣胎腹。未嘗見其如此者。偶有似為窪者。決非孿胎也。惟其腹形。大抵七八月已上。漸慚突出如甕者是也。（圖說見卷六宜以參看）</p>

<h2>孿胎一胞辨第三</h2>
<p>宇宙至大也。至夫事物之變化。則雖聖人亦有所未盡也。自非聖人以下。則雖常有之物。非所親視歷觀。而推理以究。任臆為斷。則恐誤天下後世不淺也。在我醫則為最甚矣。今夫以有涯之性命。欲親規歷觀而究無涯之變化。以傳之後世。是豈易得盡乎哉。子玄先生於產科書。率皆出於所親歷實驗。詳悉審辨。似無遺漏矣。產論翼中所載。孿胎圖凡六。一逆一正。雙逆雙正雙坐等。非不精細也。然而唯出兩胎各有胞者。而未載雙胎一胞者。且產論曰。任脈窪成一道者。為孿胎之候。然此惟五六月間見之。至八九月一道者。即隱不見。但腹左右大張。狀有稜角。而腹面卻平。是為孿候。產論又云。一倒首向下。一豎頭向上。其胞衣各一。是為孿胎正法。或雙皆上首。共一胞。胞皆大如盤。是為孿孕奇法矣。而不說孿子肚帶之狀。吾未一見其真物。豈可不容疑於茲哉。己酉初夏。城東富澤坊。買故衣利兵衛妻。娠方九月。小便癃閉。煩渴引飲。腹滿太甚。四肢亦浮。求治於余。乃與五苓散。而撫摩其腹者三日。得小便快利。而四肢見皺紋。然其腹猶便便。因以為是必孿胎。更候其腹容。無任脈窪成一道。又非腹面平而左右有稜角。唯圓高突出。倍尋常娠腹耳。既而至五月初四。而舉二男。其先出者正產。後出者逆生也。胞衣一而其形平長。徑一尺許。橫不過七八寸。筋絡甚粗。而生二帶。其一則在於去中央一寸許。而大如無名指。其一則去中央三寸余。近邊僅寸許。較之於近中央者。則其細居半。爾後見孿胎數人。雙皆順生。而一逆一正者卻寡。且其胞衣皆一。而臍帶所著之處。各不同也。近橫山街打金匠妻。及本石坊小津某妻。娠而腹甚大。突出於前面。而如抱甕。既而期月臨盆。俱先生一女。後乳一男。胞各一。其生下皆正產。但此二人胞各一而已。嗚呼先生父子。竟不視孿胎一胞而又皆正產者歟。若其有親視。則盍並列之圖中。以示後學邪。抑先生父子之所遇者。多是一正一逆。而胞衣各有歟。將余之所眎。皆順且一胞者多歟。雖然余之所親視。既以十數。則以頭之倒豎互殊者與胞之各有者。為孿胎之正法。吾不敢從也。又至於以任脈窪而成一道者。與腹面平而左右有稜角者。為孿胎之腹容。吾愈不信也。覽西洋牒分的兒產科書。孿胎圖式。亦惟載各兒各胞者。而未舉雙胎一胞者。則亦未深究而已。噫事物之不可究盡者。率皆如斯矣。雖然。凡孿胎。吾所親歷視者。胞皆一者實多。則吾將以胞之一者。為孿胎正法。以胞各有者為奇法也。後之醫者。若疑我說。則每遇孿胎。親視其胞。而究其形狀。又召坐婆數人詢其所親視。則必有得之矣。然後知吾言之不妄耳。吾豈敢妄立一家言而駁前輩成說邪。</p>

<h2>一產二子命呼第四</h2>
<p>一產兩子。古人所稱不一。今採錄余之所看過者。以示初學。曰雙生。（昭十一年左傳注及西京雜記）曰孿。（說文）曰孿子。（戰國策）曰兩胎。（後漢書華佗傳）曰孖。（津之切一產二子也鄭漁仲六書略）曰駢胎。（褚氏遺書）曰二胎。（病源候論）曰雙生。（公羊傳）曰孿生。（宋伯象睽車志）曰孖生。（五雜組）曰孿生。（槐西雜誌）又揚子方言曰。陳楚之間。凡人獸乳而雙產。謂之釐孳。秦晉之間。謂之僆子。自關而東。趙魏之間。謂之孿生。又字彙。二女曰𡦞。</p>

<h2>辨孿子兄弟第五</h2>
<p>孖生之疑兄弟其說尚矣。何休解公羊云。其雙生也。質家據見立先生。文家據本意立後生。所謂據見者。據其所見前後生以判兄弟也。所謂本意者。其意以為後生者先受胎。故以先生為弟。以後生為兄也。是殷周文質之所以殊也。西京雜記。霍光引殷王祖甲。許釐莊公。楚太夫唐勒。鄭昌峕。文長蒨。滕公。李生皆一產二子。並以前生者為長證之。則亦似無異論。然王長公引公羊傳。文家據本意。立後生之文。即以後生為兄。則後人不知其所適從焉。按巢氏病源論云。陽施陰化。精氣有餘。故生二胎。餘數就孖生驗其胞衣。胞一者常多。兩者甚少。夫二精交暢。當成一胎。而今二胎之成。一胞而生兩帶。則蓋其一則精氣之餘贏耳。巢氏之說似可據也。但其孖生體有肥大健強。瘦小疲弱之異焉。肥大健強者。承母將養之厚。而瘦小疲弱者。承將養之薄。此將養之厚者主。而將養之薄者客。是以不論分娩之前後。以肥大健強者為兄而可也。且夫孿子之在母腹。俱在一囊膜中。自一胞衣而承將養。又何可以受胎之前後而論之也。但胎自有主客異耳。又孿子臍帶之附胞衣。一生中央。一生一邊者多。而其居中央者必大。而居一邊者必小。此亦主客之分。最可取信者也。若孿子並健強疲弱相均。則依霍氏之說。而可也。又如孿子胞各一。則此非精氣有餘者。蓋交接再各成胎者無疑也。其肥瘦強弱並無齊等。則從王氏之說而可。千載以來未有辨此義而斷之者。噫明李空同曰。雙生以後為兄者。昧化理者也。凡產必迴轉下首。首下則生矣。即以受氣前後論。則迴轉時先氣者先生矣。凡先者宜為兄。凡先生者體較大。亦先齔云云。夫兒本蟠屈倒首於子宮中。必非為迴轉而出者也。又有一胞孿子與孿子各胞之別。李氏未辨此理。而妄以受氣先後。論先生後生。定兄弟者可謂謬矣。凡先生者體較大。亦先齔云者。亦未為盡然也。</p>

<h2>產前產後諸證發明二十五則第六</h2>
<p>（醫案一條附）</p>
<p>凡娠妊嘔不止者。其因不一。有痰飲蛔蟲痞積鬱結等之異。其候證治方。詳見惡咀門。若諸藥不效。則宜與蜜湯。其功極偉。是不可不知也。</p>
<p>有妊娠似勞證者。有勞證似妊娠者。分之之法。二三月臍下胎仍不見。則以其眼中悅澤。白睛變青色者。與掌中見紅色者。肌肉不消。脈不細數者。此為娠候。四月以上。宜捫按其臍下。手到而辨之矣。又有勞證中而娠者。大抵難治。</p>
<p>妊娠惡阻。寒熱咳嗽盜汗懶執作等證。若誤認為勞證而施治。則雖誤治。亦不害於生育。勞證最初經閉二三月有前證者。若誤認為惡咀而施治。則卒致不救。不可不審也。</p>
<p>娠而六七月以上。其胎常逼胸下者。其婦多有鬱火。又娠而胎常在小腹者。其婦多天賦薄弱。若不然則病後體氣未平復而受孕者也。</p>
<p>妊娠有下利日三四行。或五六行。累月不止。百方不效者。雖然肌肉不消。飲食如故。而無邪脈。則不可慮也。此症至臨月或產後而便自止。是亦妊中常好食偏味者。產後自止之類也。俱難以理推極者也。</p>
<p>妊娠五六月。有妊與否猶未可決者。令婦仰臥須施產論翼按腹第六術數回。其間不論左右脅傍必忽焉瞤動激射而觸醫手中。其狀恰如電之眩目也。其有之者。斷然為妊娠。不可不知也。</p>
<p>娠而有口舌糜爛者。又有舌生芒刺如貓兒舌者。並不分娩則不差。○嘗治長谷川君夫人。妊娠七月舌旁糜爛。凡溫冷入口則射舌。因才食淡粥之微溫而已。予與清熱補血湯敷綠袍散十餘日。依然不效。便改投清熱補氣湯亦十餘日。猶尚不愈。竊以為非產後則不復。姑以達生散加薄荷黃連。外將城嫗散（方見雜病試效）加青黛貼之。如此六七日而全差。嗟乎藥之中肯綮不亦神乎。</p>
<p>有妊娠心下大膨脹者。必無慮之。未眎由是害於產者。此大抵氣脹。或留飲之所致也。宜順氣化痰之劑。</p>
<p>懷孕患惡咀者。其婦必有蟲積或痰飲。產後發血暈者。其婦必有症癖鬱怒。其無此者。皆莫有二證也。</p>
<p>妊娠八月以上吐血者。產後必發大患。而終難救。六七月前有之者。無患。然大吐血者甚殆。</p>
<p>凡小產婦女子。惡寒戰慄後壯熱甚而大汗出。或頭暈目眩。飲食不美。腹微滿。按之軟弱而如綿絮。此證甚似外感。而實不然。或有請醫而不告其實。偽為外感求治。醫雖詰問之匿不敢言者。其識之之法。臨按其腹部。必鼻聞血臭也。若然者宜斷為小產而施治法。此余之所數歷驗也。香川太衝行余醫言。舉鼻嗅病人臭氣數症。而於此一候遺之者何也。（治驗在卷六宜以參看）</p>
<p>凡臨產貴其婦有熱狀者。與有汗者。若無二狀則動輒不達而斃。雖其能達。產後多危殆。</p>
<p>凡臨產手背清冷者。或面色無血色。唇口青白。及呼氣冷者。或脈細而不數者。皆非慶事。產後多生變證。</p>
<p>產前患水腫。逮產後腫滿益甚者。用藥腫減十之八。而余腫淹延數日不消。則後必為不治症。</p>
<p>產後久泄。自利完穀者。雖服藥稍瘥。竟致不起者甚多。</p>
<p>婦人身重。則世醫食物禁忌甚嚴。世俗亦守之。而為一大緊要事。方其阻病不食之時。猶禁所好之物。而致使婦益食少。實可憐耳。陳自明云。凡妊娠惡食者。以所思食。任意食之必愈。不可不察也。</p>
<p>凡方臨月大血數崩下者。非子死腹中。則免身後多致婦不起。其天賦壯實者。或有不然矣。</p>
<p>孕而七八月。患久咳久泄等。形體漸虛羸者。候其腹容。胎當臍腹而縮小。胸下兩脅皆空軟可容指者。則不出三日而必產。生子多瘦弱。育者甚罕。</p>
<p>凡臨產移時不娩。煩渴不止者必死。此證必脈無根腳。而手足清冷。</p>
<p>凡臨產腹堅硬如石者。必子僵腹中。</p>
<p>臨產二三日不能娩。而加煩躁者死胎也。若脈細弱時反張者。子母俱危。</p>
<p>臨產二三日雖不分娩。其婦飲食如故。自能起居。轉側。眼中和而脈有精神者。子雖死腹中。醫施回生術令娩身。則婦當不死若睛不和。飲食不進。脈微細者。雖達多死。</p>
<p>妊娠六七月而上。腰腳微腫者。十居其半。蓋以胎漸長。壓母腸胃輒錯和而已。不足深患。大抵產後自消散。雖然周身洪腫。小便不利者。宜隨脈證虛實而施攻補法。勿必拘有胎而泥芎歸之類。若夫身體腫脹甚。久不消散。而免身者。子母並危。（治驗錄卷六宜以參看）</p>
<p>凡妊娠不論月足與不足。偶腰腹疼痛。而產宮下水或血者。必死胎也。雖不腰腹疼痛。或有所見而忽腹堅硬如石者。亦必死胎也。</p>
<p>凡臨產數日不能娩。而其婦反飲食健啖。眼中清瞭。發語輕捷。或又笑言。殆似不病人。甚非佳事。醫雖為救之。產後多致不起矣。此證不但妊婦也。傷寒壞證。水腫久不差等類。往往有焉。皆屬不治候。不可不知也。</p>

<h2>惡阻治法第七</h2>
<p>婦人孕二三月之間。必中憒悶。嘈雜噁心。或吐痰沫。或嘔飲食。或心中懊憹。好啖酸果。或又好啖辛鹹物。或頭目旋暈。憎聞食氣。或四肢倦怠不欲執作。多臥少起。厭厭困懶。或四節煩疼。面黃肌瘦。或好未嘗食之物。或惡其所常嗜之物。或作寒熱頭痛。或作胸膈煩懣。或恍惚不能支持等之證。巢氏病源此名惡阻。又曰惡食。稱惡字。昝殷產寶方謂之子病。小品方命阻病。產經或呼病阻。戴元禮曰。俗謂之病鬼。無論名呼多端。宜先用清膈飲竹茹湯之類。驅逐病痰必愈。若嘔甚者。並加伏龍肝一二錢。若大段不欲飲食者。千金生蘆根湯。若其人體弱下利者。半夏藿香湯。集驗橘皮湯之類。重者乾薑人參半夏加朮湯。若腹中雷鳴下利者。生薑瀉心湯。渴而嘔者。醫方筆記一方。若疲極黃瘦。小便不利者。產經半夏茯苓湯。四肢委然。胸下痞悶者。茯苓丸。若挾痞積蛔蟲者。蘆橘加半夏湯。兼吞紅丸子。或又烏梅丸。理中安蛔湯之類。若挾氣滯鬱結者。二香散。七氣湯選用。其人素有鬱怒症疝等者。必用左金丸。各隨其症治之。已上證候。其不甚者。則大抵逮輸三四月。精神自清爽。漸向平安。又至其變。則尚不愈。或咳逆上氣。不能橫臥。或作下利。作不食。作吐蛔。作肩背疼痛。或寒熱咳嗽吐出白沫。或惡明而坐暗處。且不欲與人言。又每睡著汗多出。其狀殆如勞瘵。甚則往往不出妊中而斃。可不懼哉。又作口舌乾燥。作舌心焦煤。或舌上生芒刺。恰如貓舌。或又有口舌糜爛妨飲食。百藥不能療。遂延產後而久不差者。此因濕毒得疾。當於產後口舌門取藥。又有稟質羸瘦者。每受孕必肥滿。或肥滿者反瘦瘠。又有懷孕已來無有惡阻候。而至八九月。遽噁心嘔吐。不受藥食者。清膈飲。半夏茯苓湯。可選而用。然此症動輒至產後作蓐勞。不可不早滋養氣血固根本也。</p>
<p>王碩云。妊婦惡阻。嘔吐全不納食。百藥不療。惟是紅丸子最妙。佐以二陳湯服之。但人疑其墮胎必不信服。每每易名用之。時有奇功。○方廣云。大全方論半夏動胎而不用。仲景方皆用半夏。豈不知此而用乎。予治阻病累用半夏薑製炒黃用之。未嘗動胎。經云。有故無殞是也。（周云。方之說雖確論。然尚用薑製炒黃半夏。則此拘陳氏說也。用生半夏而可也。凡方有病。則雖巴豆硝黃亦不可畏也。何況半夏乎。）</p>
<p>清膈飲（周新定方）治妊娠嘔吐全不納藥食神效。</p>
<p>枇杷葉　竹茹（各一錢）　生半夏　茯苓（各一錢半）</p>
<p>上生薑七片。水煎溫服。</p>
<p>集驗橘皮湯　治任身嘔吐不可食。</p>
<p>橘皮　竹茹　人參　術（各三兩）　生薑（四兩）　厚朴（二兩）</p>
<p>凡六物切。以水七升。煮取二升半。分三服之。</p>
<p>產經竹茹湯　治痰熱惡阻嘔吐不下食。</p>
<p>半夏（五兩）　竹茹　橘紅（各三兩）　茯苓　生薑（各四兩）</p>
<p>上水六升。煮取二升。分三服。</p>
<p>乾薑人參半夏　治妊娠嘔吐不止。</p>
<p>乾薑　人參（各一兩）　半夏（二兩）　生薑（一兩）</p>
<p>上四味。水煎溫服。（此即仲景乾薑人參半夏丸也。予每作湯子用之。）</p>
<p>醫方筆記治惡阻一方</p>
<p>橘皮　人參　竹茹（各一錢）　麥門冬　木瓜（各二錢）　枇杷葉（三大片）　藿香（五分）</p>
<p>下咽即驗。</p>
<p>丹波康賴醫心方引產經云。半夏茯苓湯。治任身阻病。心中憒悶。空煩吐逆。惡聞食氣。頭重四支百節疼痛沉重。多臥少起。惡寒汗出。疲極黃瘦方。</p>
<p>半夏（五兩）　生薑（五兩）　茯苓（二兩）　橘皮　細辛　芎藭　人參　芍藥　澤瀉　甘草（各二兩）　旋覆花（一兩）　乾地黃（二兩）</p>
<p>凡十二物。以水一斗。煮取三升。分三服。若病阻積日月不得治。及服藥冷熱。先候病變客熱煩渴。口生瘡者。除橘皮細辛用前胡知母各二兩。若變冷下者。除乾地黃用桂肉二兩。若食少胃中虛生熱。大行閉塞。小行赤少者。宜加大黃三兩。除地黃加黃芩一兩。余藥依方。服一劑得下後。消息看氣力冷熱。更增損方調定。即服一劑湯便急將茯苓丸。令得食便強健也。（小品方同之）</p>
<p>小品方云。茯苓丸治任身阻病。患心中煩悶。頭重眩目。憎聞飯氣。便嘔逆吐悶。顛倒。四支委熱。不自勝持。服之即效。要先服半夏茯苓湯兩劑。後將茯苓丸也。</p>
<p>茯苓（一兩）　人參　桂肉　乾薑　半夏（炮各二兩）　橘皮（一兩）　白朮　枳實　葛根屑　甘草（炙各二兩）</p>
<p>凡十物。搗篩蜜和丸。如梧桐子。飲服二十丸。漸至三十丸。日三。（產經同之案原出外臺方）</p>
<p>紅圓子（易簡方）　治阻病有痞積蟲積而為患者。</p>
<p>莪朮　三稜　橘皮　青皮（各五斤）　胡椒　乾薑（炮）　阿魏（各三斤）　礬紅</p>
<p>上為細末。醋和為丸。梧子大。礬紅為衣。每服三十丸。薑湯。二陳湯。小半夏加茯苓伏龍肝湯等嚥下。</p>
<p>蘆橘姜檳湯　治妊娠嘔吐痰水不食。</p>
<p>生蘆根（一兩）　橘紅（七錢）　生薑（一兩）　檳榔子（三錢）</p>
<p>上作三次水煎服。或加半夏。</p>
<p>二香散　療妊娠胎氣不安。氣不升降。飲食不美。嘔吐酸水。起坐覺重宜服之。</p>
<p>香附子　藿香葉　甘草（各二錢）</p>
<p>上為細末。每服二錢。入鹽少許。百沸湯點下。</p>
<p>加減七氣湯（直指方）　治氣鬱嘔吐。</p>
<p>半夏（二兩半）　人參　辣桂　厚朴（各一兩）　茯苓（一兩半）　甘草（炙半兩）</p>
<p>上每三錢半。姜七片。棗一枚煎服。加木香亦得。（周按沈朗仲病機匯論去甘草加紫蘇橘皮。尚名七氣湯。治七情之氣鬱結於中。心腹絞痛。不可忍者。）</p>
<p>左金丸　治因鬱怒及症疝而嘔吐。</p>
<p>黃連（六兩）　吳茱萸（一兩同炒）</p>
<p>為末。神麯糊丸如梧桐子大。每服三四十丸。白湯下。</p>
<p>生薑瀉心湯　治惡阻嘔而腹中雷鳴下利者。</p>
<p>生薑（四兩）　甘草（三兩）　人參（三兩）　乾薑（一兩）　黃芩（三兩）　半夏（半斤）　黃連（一兩）　大棗（十二枚）</p>
<p>上八味。以水一斗。煮取六升去滓。再煎取三升。溫服一升。日服。</p>
<p>烏梅丸　治嘔而氣上衝心。或吐蛔蟲者。</p>
<p>烏梅（二十錢）　黃連（十錢五分）　乾薑（十錢）　細辛　附子　桂枝　人參　黃蘗（各六錢）　當歸　蜀椒（各四錢）</p>
<p>上細末打米糊丸。梧桐子大。每服二三十丸。量病輕重進之。○此方傷寒論所載分兩甚多。倉猝之際難制。因取原方三分之二。改定以隨便爾。</p>
<p>生蘆根湯　理中安蛔湯（並見傷寒啟微）</p>

<h2>妊娠吐血第八</h2>
<p>妊娠吐血者。繹其所因。驚怒憂思為之根基。而其始或胸背疼痛。或咳嗽連聲不止。遂發此症矣。不問何因。先用清血湯。兼進三聖散。若因內傷氣上逆者。甘草乾薑湯。養中湯。加減雞蘇散。柔脾湯之類。俱加童子小便半盞。若因盛怒而致此症者。芍藥地黃湯。川芎三黃湯。雞蘇散。洞當飲之類。併兼用四生丸。若血勢猛而不止者。將云垂煎。加血竭棕櫚亂髮。並燒存性一二錢。有外熱者。車輪煎加白芨花蕊石一錢尤神驗。若隔二三日而吐血者。麥冬飲子。必勝散。並有奇效。凡諸血證用湯藥之外。更將三聖散童便和下。無不神驗。夫童便之治血證。長於諸藥。而世醫不察。遇血症則不論虛實。唯犀角之求。予常為之浩嘆也。齊褚澄云。吐血服涼藥百不一生。飲溲溺百不一死。誠稱其功力優也。不可不察也。</p>
<p>清血湯（家方）　治吐血鼻衄咳血神效。</p>
<p>牡丹皮　當歸　川芎　芍藥　地黃　山梔子　蒲黃（炒）　阿膠　黃連　百合　麥門冬（各中）　甘草（下）</p>
<p>上十二味。水煎溫服。若血勢猛者。加鼴鼠燒存性者。</p>
<p>三聖散　止血之妙劑。</p>
<p>蒲黃（酢炙）　棕櫚（燒存性）　亂髮（燒存性各等分）</p>
<p>上細末。每服一錢。童便和下。急則淡酢湯亦得。</p>
<p>甘草乾薑湯</p>
<p>炙甘草（二錢）　黑炒乾姜（一錢）</p>
<p>上以水一合半。煮取一合溫服。</p>
<p>養中飲</p>
<p>人參　白朮　乾薑（各中）　甘草（下）　白扁豆　當歸　阿膠（各中）　艾葉（上）</p>
<p>上以水二合。煮取一合。去滓溫服。</p>
<p>川芎三黃湯（仁齋直指）</p>
<p>大黃（濕紙裹蒸）　川芎　黃連　黃芩（各等分）</p>
<p>每服二錢。水煎溫服。（本為散用今為湯）</p>
<p>加減雞蘇散　治婦人吐血心煩昏悶。</p>
<p>薄荷　阿膠　地黃　柴胡（上）　羚羊角　黃耆　甘草　茜根（中）　黃芩　麥門冬　當歸　伏龍肝（下）</p>
<p>每服四錢。水一盞。姜三片。竹茹半雞子大。煎至六分。溫服。</p>
<p>芍藥地黃湯（方見傷寒啟微吐血門）　洞當飲（見產論）</p>
<p>柔脾湯　治吐血衄血白汗出。</p>
<p>甘草（下）　芍藥（中）　黃耆（中）　地黃（上）</p>
<p>上銼。每服四錢。水二盞。煎至七分。去滓溫服。</p>
<p>四生丸　療吐血衄血。陽乘於陰。血熱妄行。</p>
<p>生荷葉　生艾葉　生柏葉　生地黃</p>
<p>上等分。爛研。丸如雞子大。每服一丸。水三盞。煎至一盞。去滓溫服。（若無生者則將乾者細末醋和丸聽用）</p>
<p>云垂煎　車輪煎（並見傷寒啟微下）</p>
<p>麥門冬飲子（病機匯論）　治吐血久不愈者。</p>
<p>麥冬　黃耆（各上）　人參　當歸　地黃（各中）　五味子（下）</p>
<p>上銼。水煎溫服。</p>
<p>必勝散（局方）　治男女血妄行。吐血嘔血咯血衄血。</p>
<p>人參　當歸　熟地　小薊　川芎　蒲黃（炒）　烏梅</p>
<p>上等分。粗末。水煎去滓服。</p>

<h2>妊娠鼻衄第九</h2>
<p>肺通竅於鼻。故肺生熱。則熱氣迫血而鼻血。宜用清血湯。伏龍肝散。遠志散之類。兼服蓬砂散。胡粉散最妙。或將棕櫚亂髮反鼻鼴鼠之類燒黑者。吹入鼻中。而以紙醋醮塞鼻孔。若尚不止者。與四黃煎。別以食鹽一合焙。厚紙裹之。熨百會穴。其效如神。或以杉原紙水醮置顛上入火於熨斗子以熨其上亦復妙。若脾胃虛弱。精神短少者。人參飲子。芎歸百草湯之類。宜擇用。</p>
<p>伏龍肝散（千金）</p>
<p>伏龍肝　生地黃　竹茹（各上）　當歸　芍藥　黃芩　川芎　甘草（各中）</p>
<p>上以水一盞半。煮取一盞服。</p>
<p>遠志散（聖惠方）　治鼻衄不止。</p>
<p>遠志（中）　白芍（中中）　天門冬（中）　麥門冬（中）　阿膠（中）　當歸（中）　藕節（中）　大黃（中）　甘草（中）　桂枝（下）　桃仁（下）　沒藥（上）　茈胡（上）　生地黃（上）</p>
<p>上水煎服。</p>
<p>蓬砂散</p>
<p>蓬砂不拘多少細末。每服四五分。井花水送下。神驗。</p>
<p>胡粉散（聖惠）　治大衄不止。</p>
<p>胡粉（炒黑）</p>
<p>細末。醋服一盞即止。</p>
<p>四黃煎</p>
<p>黃連　黃芩　大黃　地黃（各等分）</p>
<p>上水煎服。</p>
<p>人參飲子（病機匯論）　治脾胃虛弱。氣促氣虛。精神短少。衄血吐血。</p>
<p>人參（上）　黃耆（上）　麥冬（上）　白芍（中）　當歸（中）　五味子（中）　炙甘草（下）</p>
<p>上水煎。食遠服。</p>
<p>芎歸百草飲　治鼻血不止。</p>
<p>當歸（上）　川芎（上）　人參（中）　甘草（下）　乾薑（炒）　百草霜（各中）</p>
<p>上水煎溫服。○凡衄不止者。針足大指爪甲角。及三里。下其氣必止。炙亦可。</p>

<h2>妊娠胸滿第十</h2>
<p>妊娠胸下苦滿而痛者。先哲以為胎上逼心。乃名曰子懸。子玄先生曰。非胎而唯血氣上逼者甚多矣。予按又有由飲食停滯。水飲停畜。及氣鬱結。而作此症者。其飲食停滯者。有吞酸噯腐惡心等證。宜厚朴生薑湯。清化湯之類。若胸下膨脹。漉漉有聲者。此水飲停畜之所致也。宜用小半夏加茯苓湯。苓桂朮甘湯。旋覆花湯等。若肩背痛。或氣宇不舒暢者。屬氣滯。紫蘇飲。氣鬱湯之類。宜擇用。又有既至臨月忽覺腰腹疼痛。或四肢如脫。忽肚腹脹滿。心下逼痛者。此藥食並進。停畜胸下之所致也。必先吐出飲食。而後當得陳痛至矣。此以胎充足將出。故其所食物。不運化也。</p>
<p>厚朴生薑甘草半夏人參湯</p>
<p>厚朴　半夏　生薑（各上）　人參　甘草（各下）</p>
<p>上以水一盞半。煎至一盞溫服。</p>
<p>清化湯　飲食停滯。胸腹飽悶。嘔吐噁心。服之神效。</p>
<p>半夏　茯苓　陳皮（各上）　神麯　山楂子　麥芽　黃連（薑汁炒）　青皮　香附子　山梔子（各中）</p>
<p>上水煎。法同前。</p>
<p>小半夏加茯苓湯</p>
<p>半夏（上）　生薑（中）　茯苓（上）</p>
<p>上以水二盞。煮取一盞溫服。</p>
<p>茯苓桂枝白朮甘草湯　治心下有痰飲。胸脅支滿。</p>
<p>茯苓（上）　桂枝（中）　白朮（下）　甘草（下）</p>
<p>上水煎。法同前。</p>
<p>旋覆花湯　治心下有寒飲。嘈雜噁心。口出清水。</p>
<p>旋覆花　半夏　茯苓（各上）　芍藥　陳皮</p>
<p>桔梗　肉桂　細辛（各中）　生薑（上）　甘草（下）</p>
<p>上水煎服。</p>
<p>紫蘇飲　治妊娠氣結。胎氣不和。胸滿疼痛。</p>
<p>大腹　人參　川芎　橘皮　芍藥（各中）　紫蘇（上）　當歸（下）　甘草（下下）　生薑（三片）</p>
<p>上以水一盞半。生薑三片。蔥白二寸。煎至一盞溫服。</p>
<p>氣鬱湯　治一切思念太過。胸滿膈痛。嘔逆脈沉澀者。</p>
<p>香附　蒼朮　半夏（各上）　陳皮　紫蘇　具母　茯苓　梔子　川芎（各中）　木香　檳榔　甘草　生薑（各下）</p>
<p>上每服四錢。以水二盞。煮取一盞。去滓溫服。</p>

<h1>卷二</h1>

<h2>妊娠咳嗽第一</h2>
<p>妊娠咳嗽所感未審。宜用潤肺湯。此方孕中咳嗽之套劑也。若感風寒喘嗽者。宜小青龍湯。腹中吊疼喉音不清者。東鄰飲。嗽心胸不利者。錦囊百合散。若嗽久不止痰喘滿悶者。濟生百合散。飲食失節脾氣不利。肺又有客邪。嗽吐痰與食俱出者。以山楂飲加伏龍肝。足成十品同煎。功效尤勝。孕中諸嗽。措劑外宜兼用百花散。嘗試有奇效。</p>
<p>潤肺湯（家方）　治胎婦喘咳。</p>
<p>芎藭（炒）　阿膠　縮砂（各一錢）　烏梅　生薑　紫蘇　杏仁（各五分）</p>
<p>上水煎。溫服。</p>
<p>小青龍湯</p>
<p>麻黃（中）　芍藥（中）　桂枝（中）　乾薑（中）　細辛（中）　甘草（下）　半夏（上）　五味子（上）</p>
<p>每服四錢。以水二合。煮取一合溫服。</p>
<p>東鄰飲　治妊娠傷風咳嗽。腹中吊疼。痰壅喉音不清。頭暈目眩。</p>
<p>人參　白朮　陳皮　貝母　茯苓　桔梗　紫蘇　黃芩　前胡　粉草　桑白皮（各等分）</p>
<p>上水煎。溫服。（生生子制此方治東鄰妻。予取之常用。姑名曰東鄰。）</p>
<p>百合散（錦囊）　治妊娠咳嗽。心胸不利。煩滿不食。胎動不安。</p>
<p>百合　紫菀　麥冬　桔梗　桑白皮（各一兩）　甘草（五錢）　竹茹（一團）</p>
<p>每服八錢。水煎去滓。入蜜半匙。再煎一二沸。食後溫服。</p>
<p>濟生百合散　治妊娠風壅。咳嗽痰喘滿悶。</p>
<p>百合（蒸）　紫菀茸（洗）　貝母（去心）　白芍藥　前胡（去蘆）　赤茯苓（去皮）　桔梗（去蘆炒各一兩）　甘草（炙五錢）</p>
<p>上每服四錢。水一盞。姜五片。煎至八分。去滓溫服。不拘時。</p>
<p>山楂飲　治咳嗽連聲。吐痰與食俱出者。</p>
<p>山楂子（上）　半夏（上）　茯苓（上）　木香（中）　枳殼（中）　陳皮（中）　杏仁（上）　細辛（中）　甘草（下）</p>
<p>每服四錢。生薑五片。水煎溫服。</p>
<p>百花散　治婦人產中咳嗽。</p>
<p>黃蘗　桑白皮（用蜜塗慢火炙黃色為度）</p>
<p>二味各等分。為細末。每服一二錢。水一盞。入糯米二十粒同煎。至六分。以款冬花燒灰六錢。攪在藥內。同調溫服之。</p>

<h2>子癇第二</h2>
<p>娠妊忽呼吸息迫。痰涎潮搐。目吊口噤。角弓反張。不省人事。乍醒乍發。又或仍不醒。謂之子癇。一名子冒。又號痙病。號風痙。（並外臺）此症古論為風寒相搏發者。以葛根湯。羚羊角散主之。然而試之取效甚寡。而產論及翼。論此病曰。七情鬱結。內火煽盛之所致也。又平日多妒。夫妻反目。怒火熾盛。因發此病。其治法則一味熊膽。參連湯。第二和劑湯。第五和劑湯。及救癇術是也。此與古論遠。而實有奇效。余亦別有發明。凡此症已發則牙關緊閉。不能灌藥。雖施救癇術。尚口不開者。須以蘇合香圓。熊膽各五六分。溫湯化開。乃以曲頭管。入患者口內。沿齒進頷里。至牙齒盡處。斜入管頭曲處於上下齦間。右手持其管。左手取前藥汁。自含之自管之下口吹入患者之咽中。吹盡一劑。而牙關立開。尋將單兵散一錢。熊膽二三分。薑汁湯和調頻與之。更用鐵砂三黃湯。若喉間喘鳴甚者。兼用妙功救命散尤妙。此余之所經驗也。又有柴胡鐵鏽湯。雙神元。雄黃解毒丸等奇方。臨症宜擇用焉。此病雖謂子癇。非胎離橫骨迫心也。蓋症疝。癖積。鬱怒。蛔蟲等宿疴。因胎長大。偶相激發者也。故其胎臨產門。而攻心下之狀。正與腳氣衝心。及癲疾發作之候不異。今熊膽合蘇合香丸而用之者。則假其芬芳香竄氣。以開鬱閉通壅塞。彼能導熊膽。而折攻心之邪勢也。較單用熊膽者。其效甚捷。（曲頭管圖見卷六）</p>
<p>葛根湯（小品方）　療妊娠臨月。因風痙忽悶憒不識人。吐逆眩倒。小醒復發。名為子癇。</p>
<p>葛根　貝母（去心）　木防己　防風　當歸　川芎　茯苓　桂心　澤瀉　甘草（各中）　獨活　石膏（碎）　人參（各上）</p>
<p>上以水三盞。煮取一盞服。貝母令人易產。若未臨月者。升麻代之。忌海藻。菘菜。酸物。</p>
<p>羚羊角散（濟生方此方見諸方書今不載）　參連湯　第二和劑湯　第五和劑湯　救癇術（並見產論翼今不載）</p>
<p>蘇合香丸（局方）　療傳屍骨蒸。殗殜肺痿。疰忤鬼氣。卒心痛。霍亂吐利。時氣鬼魅瘴瘧。赤白暴利。瘀血月閉。痃癖丁腫。驚癇。鬼忤中人。小兒吐乳。大人狐貍等疾。</p>
<p>蘇合油（入安息香膏內）　薰陸（別研）　龍腦（研各二錢半）　白朮　青木香　丁子　白檀　硃砂（研水飛）　烏犀角　香附　沉香　蓽茇　安息香（研為末用無灰酒一合熬膏）　麝香　訶黎勒（煨各五錢）</p>
<p>上為細末。入研藥勻。用安息香並煉白蜜和劑。每服旋丸如梧子大。井花水溫冷任意化服。（四拆原方分兩而便調劑）</p>
<p>單兵散　治腳氣衝心神方。假以治子癇。</p>
<p>檳榔子一味極細末。每服一二錢。薑汁或童便和下。</p>
<p>鐵砂三黃湯　治肝鬱盛怒。氣逆躁擾。或不省人事。</p>
<p>鐵砂（上）　大黃　黃連　黃芩（各中）</p>
<p>上以水一盞半。煮取一盞溫服。</p>
<p>妙功救命散　治痰涎壅盛。咽喉鋸聲。角弓反張。</p>
<p>鹿角灰（四錢）　牛膽（二錢）　麝香（三分）</p>
<p>上鹿角極研。以牛膽水化開。灌前末攪和。日曬乾。入麝香。再研細。貯錫器聽用。</p>
<p>柴胡鐵鏽湯　治癇症。</p>
<p>柴胡（上）　鐵鏽（上）　人參（中）　茯苓（中）　桂枝（中）　蔚金（中）　牡蠣（中）　大黃（中）　甘草（下）</p>
<p>上水煎。溫服。</p>
<p>雙神元　治子癇。神驗不可具述。可秘可秘。</p>
<p>牛膽南星（八錢）　雞冠雄黃（四錢）</p>
<p>上二味。極細末。煉蜜丸如梧桐子大。每服五十粒。白湯送下。</p>
<p>解毒雄黃丸（熊宗立）　治婦人中風。卒然倒僕。牙關緊急。角弓反張。口禁不識人。並解上膈壅熱。痰涎咽喉腫閉。</p>
<p>蔚金　雄黃（各二錢半）　巴豆（去皮油十四個）</p>
<p>上為末。醋煮糊丸。綠豆大。每服七丸。熱茶清吞下。吐出頑涎立蘇。</p>

<h2>妊娠過期不產第三</h2>
<p>妊娠過期而不產者。虞搏曰。屬氣虛有熱。武之望曰。血虛氣滯。余未知其說孰是。然竊以事物之理推之。凡果實成熟。期至而自落矣。其間又有過期而不落者。此猶懷孕之過期而不產歟。夫果實何故久留而不落乎。懷孕何以過期而不產乎。此皆常與變之分耳。唯其臨產貴母氣充足。故常宜服活血補氣劑。今又舉虞武二氏之方。以備參考。</p>
<p>虞摶云。過期不產者。屬氣虛有熱。四物湯加阿膠白朮黃芩縮砂香附炒黑艾葉糯米主之。</p>
<p>武之望雲。過月不產者。四物湯加香附杏仁枳殼縮砂紫蘇。用此補血行滯。</p>

<h2>妊娠頓僕失踞胎動第四</h2>
<p>妊娠因頓僕失踞。胎動不安者。須先與砂糖湯而施按腹第五六之術以安胎矣。若胎動轉上搶心。短氣昏悶。或腰腹疼痛。有所見者。大阿膠湯。和榮湯。蟹爪湯之類。宜擇用。若下血多者。必致半產。宜速隨臨產治法施藥。</p>
<p>大阿膠湯（三因方云。治妊娠不問月數淺深。因頓僕胎動不安。腰腹痛。或胎奔上刺心短氣。）</p>
<p>當歸（中）　芍藥（中）　地黃（中）　阿膠　艾葉（上）　乾薑（中炒黑）　川芎（中）　甘草（下）</p>
<p>上八味。以水四合煮取二合服。</p>
<p>和榮湯　胎動不安。有所見者。服之極驗。</p>
<p>當歸　芍藥（上）　桂枝　阿膠　蓮房（炙黑各中）　甘草　大棗（各下）</p>
<p>上水煎服。</p>
<p>蟹爪湯</p>
<p>蟹爪（上）　阿膠（上）　桂枝（中）　甘草（下）</p>
<p>上水煎服。</p>
<p>按腹術（見產論翼）</p>

<h2>妊娠嘔吐第五</h2>
<p>夫嘔吐之疾。皆出於胃之不和。是以有胃寒胃熱宿食痰飲氣攻等之翼。寒嘔其聲低無臭氣而喜溫。脈沉遲。甚者四肢清冷。半附理中湯。二生散。熱嘔胸中煩而其聲高。肌熱盛而喜冷。脈數有力。竹茹湯。茅根湯。宿食嘔臭氣不可聞。心腹絞痛。脈必緊。驢耳飲。消導飲。痰飲嘔唾沫稠黏。心中懊憹。或咳嗽。高良薑湯。旋覆半夏湯。氣嘔則其人生平多妒。或婢妾朝夕所為。不愜己意。或費思乎活計。而膈間常不平者。致胸滿膈痛是也。四聖散。加減七氣湯。其他宜與惡阻條旁參互考焉。</p>
<p>半附理中湯　治胃中虛冷。嘔吐不止。</p>
<p>半夏（上）　附子　人參　白朮　乾薑（各中）　甘草（下）</p>
<p>上以水一盞半。煎至一盞溫服。</p>
<p>二生湯　治嘔吐不止。及藥入咽即吐逆者。</p>
<p>生附子　生半夏（各二分）　生薑（十片）　木香（少）</p>
<p>上以水一盞半。煎至一盞溫服。</p>
<p>竹茹湯（見傷寒啟微上）　茅根湯（見傷寒啟微上）</p>
<p>驢耳飲　治飲食停滯。嘔吐腹痛。或眩暈頭痛者。</p>
<p>枇杷葉（上）　半夏（上薑製）　吳茱萸（下）　桂枝（下）　莪朮（中）　木香（下）　檳榔（中）</p>
<p>上生薑三片。水煎服。</p>
<p>消導飲　諸飲食所傷。此方悉能治之。</p>
<p>香附　砂仁　神麯　麥芽　山楂子　乾薑　蘭草（各中）　木香（下）　半夏（上）</p>
<p>上生薑三片。水煎溫服。</p>
<p>高良薑湯（見傷寒啟微下）</p>
<p>旋覆半夏湯　治痰飲在胸膈嘔不止。心下痞硬者。</p>
<p>旋覆花　半夏（各上）　茯苓　青皮（各中）</p>
<p>上水煎。溫服。</p>
<p>加減七氣湯（見惡阻）</p>
<p>四聖飲　治氣攻嘔吐。諸藥不效者。</p>
<p>藿香　良薑　陳皮　莪朮（各等分）</p>
<p>上四味。每服三錢。熱湯浸去滓用。此方五雲子所傳云。（予常讀藥方中藿香。皆以蘭草換之。功力殊優。說見青囊瑣探。宜參看。）</p>

<h2>妊娠小便不利第六</h2>
<p>婦人妊娠不得溺。飲食如故。煩熱不得臥。而倚息者。古名之轉胞。曰胞系了戾所致。腎氣丸主之。唯胞系了戾說。未穩。獨陳無擇云。妊娠胎滿逼胞。（胞者乃謂尿胞非血胞也）故小便不利。此說甚妙。予常以補中益氣湯。臨服入韭菜汁一小酒杯。服訖施開閉術奏奇效。或與開脬煎。葵子散。澤瀉散之類。施整胎術亦可。</p>
<p>腎氣丸</p>
<p>地黃（上）　山茱萸　薯蕷（各中）　澤瀉　茯苓　丹皮（中之中）　桂枝　附子（各下）</p>
<p>上八味末之。蜜丸梧子大。酒下十五丸。（令作湯用之甚驗）</p>
<p>補中益氣湯（見諸方書故不載錄）</p>
<p>開閉術</p>
<p>令患者橫臥床間。醫以患者兩腳膝灣。架於肩上。將患者下身。虛空提起。搖擺數四。俾尿脬倒上。徐徐放下。患者去衣不及。小便箭射而出。（出孫東宿醫按予依此法屢奏效）</p>
<p>開脬煎（周定）　治妊娠小便不通。</p>
<p>石葦（去毛）　茯苓　車前子　冬葵子（各等分）</p>
<p>每服五錢。水二盞。煎至一盞服。</p>
<p>冬葵子散（濟陰綱目）　治孕婦轉胞。小便不通。男子亦效。</p>
<p>冬葵子　山梔子　滑石（上之上）　木通（中）</p>
<p>上水煎。溫服。外以冬葵子。山梔子。滑石為末。田螺肉搗膏。或生蔥汁調膏。貼臍中立通。</p>
<p>澤瀉湯（周新定方）　治妊娠小便不利神效。</p>
<p>澤瀉　木通　茯苓　枳殼　桑白皮　檳榔　葵子　瞿麥（等分）</p>
<p>上生薑三兩。水煎服。</p>
<p>整胎術（見產論翼）</p>

<h2>妊娠浮腫第七</h2>
<p>妊娠兩腳腫者。先賢謂之子氣。或名脆腳。或呼皺腳。亦通身腫滿者。名曰胎水。曰胎腫。曰子腫。凡孕婦四五月以後。兩腳微腫者。十居其六七。蓋以胎漸長。脾氣失運行。膀胱錯氣化而不能通暢津液。因致腳腫。木通散。防己散。雙全散。宜擇用。其最輕者。雖不藥產後自消散。若面目浮腫者。全生白朮散。分心氣飲。腰腳腫者。腎氣丸。通身腫滿。小便赤澀。不大便者。宜澤瀉散。尚大便不通兼用龍飛丸。以知為度。又有腫滿之稍盛。妊中不得消。往往延產後而加甚者。治法見產後。宜參考焉。若夫遍身洪腫甚者。動輒子僵於腹中。而產母亦殆。可不畏哉。又有一種挾濕毒而腫滿者此症初必有身發瘡疥。或陰門瘙癢等候。詳詢之果然。宜用龍膽瀉肝湯。</p>
<p>木通散　治妊娠有水氣。兩腿手足浮腫。</p>
<p>木通　香附子　陳皮　烏藥　木瓜　紫蘇（各等分）　甘草（減半）</p>
<p>上每服五錢。生薑三片。水煎溫服。</p>
<p>防己散　治脾虛遍身浮腫。腹脹喘促。小便不利。</p>
<p>防己（三錢）　桑白皮（炒）　紫蘇莖葉　茯苓（各五分）　木香（二分）</p>
<p>上生薑水煎。溫服。</p>
<p>雙全散（證治大還）　孕婦四肢腫。宜護胎調養。</p>
<p>當歸　白朮　蒼朮　防風　木通　茯苓　豬苓　桂枝（名中）　甘草（小）</p>
<p>上水煎服。</p>
<p>全生白朮散（女科撮要）　治妊娠面目虛浮。四肢腫如水氣。名曰胎腫。（石頑云。此方較澹寮五皮湯稍善。中間惟白朮易桑皮而功用懸殊。點鐵成金手也。）</p>
<p>白朮（上）　生薑皮　陳皮　大腹皮　茯苓（各中）</p>
<p>上各為末。每服二錢。米飲下。</p>
<p>分心氣飲（局方）　治一切氣不化。胸膈痞悶。身面虛脹。</p>
<p>木通　芍藥　肉桂　茯苓　桑白皮　腹皮　半夏　陳皮　青皮　甘草　羌活（各中）　紫蘇（上）</p>
<p>每服三錢。水一盞。生薑三片。棗二枚。燈心五莖同煎。至七分服。</p>
<p>腎氣丸加車前子牛膝亦可。（方見前）</p>
<p>澤瀉散（婦人良方）　治妊娠遍身浮腫。上氣喘急。大便不通。小便赤澀。</p>
<p>澤瀉　桑白（炒）　木通　枳殼（麩炒）　檳榔　茯苓（各五分）</p>
<p>上生薑水煎。○按證治大還。加紫蘇莖葉。</p>
<p>龍飛丸（見傷寒啟微下）　龍膽瀉肝腸（見黴癘新書）</p>

<h2>妊娠腹內鐘鳴第八</h2>
<p>孕婦腹內鐘鳴者。先哲以為小兒在腹中哭者。乃以鼠窟土麝香末。溫酒調服。或與黃連濃煎汁。夫兒之在腹中胞衣裹胎。堅固縝密。無有針眼罅隙。豈有揚聲之理乎。子玄先生既撥其說。而為大便燥結氣逆而鳴者。余亦屢驗此症。妊娠五六月以前。腹中鳴者。率皆屬疝瘕。六七月以後者。高處聳身取物。胎為之失其所。據腹內胎際作空隙。而成聲也。與症疝累積。而空氣成蛙聲者正同。宜施按腹術數遍。更令婦匍匐而行房內一兩次。胎復於本位而愈。至於醫學正傳。謂以兒脫所含之臍帶故哭。妄誕極甚。</p>

<h2>半產第九</h2>
<p>子玄先生常有病家自行墮胎藥。不能產而來請者。固辭而不往。蓋其意一則憎其不仁。一則恐我道之混墮胎家也。是以其證候。不詳載焉。余嘗謂其不仁實可憎。而彼亦不得已而為之。若不為治。則或致非命之死者亦可愍。不得不隨其請而往救之。凡寡婦室女。及貧家多產而無力育之。輒至三四五月。就市中穩婆。行墮胎挫藥法者。如天受壯實者。則不延醫師。不語親戚。乃偷產而恬然。若在稟賦怯弱。或大病後正氣未復者。則往往殞命矣。其證候惡寒戰慄如灌水。雖蒙重被尚鼓頷不止。須臾反煩熱如灼。雖寒天欲得涼風。或腰腹疼痛。乍來乍止。其來也。如刺如割。如絞如齧。而流汗如雨。呻吟不已。或又渴好熱湯。而陰門下瘀液臭汁。雖症有輕重。大抵不外於此。宜用救生湯。益母飲之類。胎已下後牛膝散。行瘀煎等並佳。若壯婦則大黃牡丹湯。若穢物頻下。疲勞尤甚。血熱熾盛。口舌乾燥。而脈細數者甚殆。宜用大劑還元煎。若誤用破血之劑。則禍不旋踵。謹之戒之。</p>
<p>一貧民妻。妊娠方五月。就市中媼。行白牡丹術。胎已下後。血熱熾盛。口舌乾燥。渴好熱湯。飲食不進。既而昏冒不省人事。命如風前燈。求治於予。脈之細數無力。產屍下穢汁臭氣不堪聞。予乃與還元煎日三四貼。五日而神爽。二十餘日而全愈。</p>
<p>救生湯</p>
<p>當歸　川芎　牛膝　桂枝（各上）　炒乾姜　人參（各中）</p>
<p>上水酒各一盞。煎一盞溫服。或水煎。另與溫酒半盞許亦可。</p>
<p>益母飲</p>
<p>益母草（上）　人參（中）　白朮（中）　炒姜（中）　黃耆（上）　炙甘草（下）　當歸（上）</p>
<p>上以水一盞半。煎一盞溫服。</p>
<p>牛膝散（見產後血暈）</p>
<p>大黃牡丹湯</p>
<p>大黃（中）　牡丹皮（上）　桃仁（上）　瓜子（大）　芒硝（下）</p>
<p>上以水二盞。煎一盞。去滓內芒硝。再煎服之。</p>
<p>桂枝茯苓當歸湯</p>
<p>桂枝　茯苓　牡丹　桃仁　芍藥　當歸（各等分）</p>
<p>上以水一盞半。煎一盞溫服。</p>
<p>還元煎（周定）　治小產後。元氣困弱危極者。應驗如神。可秘。</p>
<p>艾葉　阿膠（各上）　白朮　人參　炒黑乾薑（各中）　炙甘草（下）</p>
<p>水一盞半。煎七分去滓。入童子小便半盞。再溫頓服。（此方男婦大血崩下後。精神困憊。危嶮者。用之返元氣於無何有之鄉。炒劑也。）</p>

<h2>妊娠淋疾第十</h2>
<p>孕而患淋疾者。其婦本有濕熱而受孕。故下焦之運化失常度。而隨胎漸長。更釀成鬱熱也。龍膽瀉肝湯。地膚大黃湯。葵子蜀黍湯。芣苡湯之類。令小便通利。則濕熱自去而愈。</p>
<p>龍膽瀉肝湯（見黴癘新書）</p>
<p>地膚大黃湯（小品）　療妊娠患子淋。</p>
<p>地膚子（上）　大黃　知母　黃芩　茯苓　芍藥　木通　升麻　枳實（各中）　甘草（下）</p>
<p>上每服四錢。水一盞半。煎一盞溫服。（周按大全良方茯苓作豬苓）</p>
<p>葵子蜀黍湯（家方）　療子淋小便澀痛。又用男子奇效。</p>
<p>冬葵子　蜀黍　木通　滑石（各等分）</p>
<p>上每服四錢。水一盞半。煎一盞溫服。</p>
<p>芣苡湯（種子編本無方名周定）　治子淋小便短澀。</p>
<p>車前子　麥門冬　當歸　川芎　木通　滑石（各五分）　細辛　甘草（各三分）</p>
<p>燈心一彈。水煎服。</p>
<p>周按大全補遺。安榮散。即此方無車前子川芎。而有人參。用燈草各等分。細末。每服三錢。煎麥門冬湯調下。</p>

<h2>妊娠溏泄第十一</h2>
<p>泏注如水。其色黃白無臭氣。或水穀不化。或腹攻刺作痛。或時亦雷鳴。脈沉弱者。此寒瀉也。宜丁附理中湯。真武湯主之。隨證加木香良薑砂仁桂枝之類。若腹痛而下利一二行如水。卻彈過響似欲出。而肛門括縮。又隱隱腹痛。須臾欲出亦猶不出。方其出則如射如傾。或吞酸噫腐。或溫溫欲吐。不思飲食。其脈緊弦者。傷食瀉也。宜治中湯。若渴小便不利者。胃苓湯。並宜合九物飲。或以內消散吞下紅丸子二三十粒亦可。若脾氣大虛。泄瀉久不止者。宜遽用四逆輩加訶子罌粟殼烏梅肉豆蔻之類。以兜住之。又宜將四神丸茱萸斷下丸之類。旦暮服二三錢。若久泄不止。加浮腫者。往往不出妊中而斃。其他泄瀉。其因不一。治法亦殊。以載雜病試效略於此。</p>
<p>丁附理中湯（見傷寒啟微嘔吐門）</p>
<p>真武湯</p>
<p>附子　茯苓　芍藥　生薑　白朮（各上）</p>
<p>上以水二盞。煮取一盞。去滓溫服。加乾薑一大合最妙。</p>
<p>治中湯（局方）</p>
<p>人參　乾薑（炮）　白朮（各上）　甘草（下）　青皮　陳皮（各上）</p>
<p>上以水一盞半。煎一盞稍熱服。</p>
<p>胃苓湯（大全良方）　治脾胃傷冷。水穀不分。泄瀉不止。</p>
<p>平胃散五苓散兩合者。</p>
<p>九物飲　治諸飲食傷神效。</p>
<p>神麯（炒）　麥芽　山楂　香附　青皮　乾薑（炮）　木香　厚朴　檳榔（各等分）</p>
<p>生薑水煎。或合諸主方。或為丸散兼用亦佳。</p>
<p>內消散　治凡尋常飲食諸傷皆效。</p>
<p>香附　砂仁　陳皮　半夏　茯苓　神麯　山楂　莪朮　三稜　乾薑　枳實（各等分）</p>
<p>上以水二盞。煎一盞服。</p>
<p>紅丸子（見前惡阻門）</p>
<p>四神丸</p>
<p>破故紙（十錢）　肉豆蔻（麵煨五錢）　吳茱萸（浸炒二錢半）　五味子（五錢）</p>
<p>上為末。生薑二十錢。大棗二十五個。煮熟取棗肉去皮。和丸如桐子大。每服一二錢。空心術米飲下。</p>
<p>茱萸斷下丸　治藏府虛寒。腹痛泄瀉大效。</p>
<p>吳茱萸（十錢炒）　赤石脂　乾薑（各七錢半）　艾葉（炒）　縮砂仁　肉豆蔻　熟附子（各五錢）</p>
<p>為末。麵糊丸。每服二三錢。米飲送下。○此方不惟懷妊。凡久瀉不止。用理中之湯丸。參附及諸止瀉之劑不效者。用此尤神效。今舉一案於後。以示同志。</p>
<p>新石街。里正某妻。年三十許。日溏泄六七行。既五閱月尚不愈。醫與參苓白朮散。附子理中湯。四逆湯等。並不效。形肉羸脫。不能起床。既在死法中。友人橘尚賢勸余診之。氣口脈沉細稍有神。乃以茱萸斷下丸料作湯。每服下四神丸五十粒。用之六七日。瀉利減其半。十餘日而大便始見糞。調理五十餘日而平復。</p>

<h2>妊娠痢疾第十二</h2>
<p>凡妊娠痢疾。三四十行已上者。已六七日而不差。動輒致墮胎。非救之於早。則不啻殞胎。母命亦殆矣。世醫拘有胎。直用和平之劑遲緩延日。疾勢轉劇。往往致子母兩斃。豈不悼哉。凡痢疾初起二三日。臍下小腹纏擾撮痛。裡急後重。頻欲登圊。及去而所下無多。既起而腹內復急。不問白涕膿血。赤白雜下。紫黑褐色。黃汁豆汁之異。不論天賦之肥瘦強弱。又不拘白為寒赤為熱之說。其纏擾撮痛。裡急後重者。皆是腸間濕熱鬱滯之所致也。及胃氣未損元氣未虧。不可不行滯氣下濕毒也。宜用五味蕩滯飲。若嘔者加半夏。或用黃芩加半夏生薑湯。並旦吞下四寶丸十二粒。晚吞下龍飛丸三十粒。後一二日。微利數十行中。有快下一二行者。此即藥有驗之兆也。若未見其驗者。以七味蕩滯飲。增加前丸各五六粒。尚不快利。則與八味蕩滯飲。龍飛丸加至五十粒。數日後痢數減半。丸數亦減三分之一。若見虛候。則宜益榮蕩滯飲。逆挽湯之類。若初挾外邪惡寒發熱頭痛者。先與葛根湯五六貼。而後依前治法矣。凡痢疾在五六日間。施前項治法。則百發百中。應效如桴鼓。雖然無裡急後重。腹痛亦甚輕。或病日夕淹延見虛候者。育腸煎。益榮蕩滯飲。桂附理中湯。大斷下圓。如神丸之類。隨證擇用。又有膿血痢初誤治而數日不差。以黃連厚朴湯兼下蘗蒜丸而安者。治妊婦痢疾之法。拘拘於有胎。而勿畏疏滌之劑。經云。有故無損。不可不察也。</p>
<p>五味蕩滯飲　治痢疾初發二三日。不問赤白。無表證者。</p>
<p>當歸　芍藥　厚朴　檳榔（各一錢）　甘草（三分）</p>
<p>上以水二合。煮取一合溫服。○或加黃芩亦可。</p>
<p>七味蕩滯飲　用前方腹痛後重者。此方主之。</p>
<p>枳實（七分）　木香（五分）　當歸　厚朴（各六分）　芍藥（一錢）　檳榔（七分）　甘草（三分）</p>
<p>照前水煎。</p>
<p>八味蕩滯飲　治下痢膿血。裡急後重。腹痛日夜無度。即七味蕩滯飲加大黃六分。</p>
<p>四寶丹　此方治痢神藥。與龍飛丸。旦暮兼用。無不應驗。</p>
<p>丁子（一錢）　胡黃連（三錢）　巴豆霜（一錢○治巴豆霜。見黴癘新書）</p>
<p>上三味。為細末。老米飲搗爛為丸。如蘿蔔子大。每旦服十二粒。不知。漸加至二十粒。小兒五六粒。</p>
<p>育腸煎　治虛弱患痢。</p>
<p>人參（三錢）　白朮（二錢半）　芍藥（炒一錢半）　神麯（炒七分）　升麻（五分）　蒼朮（一錢）　茯苓（二錢）　桂枝（一錢）</p>
<p>上作一服。水煎。後重加木香三分。檳榔七分。黃連七分。澤瀉六分。炙甘草五分。防風一錢。酒當歸一錢。滑石炒五分。</p>
<p>益榮蕩滯飲（家方）　治痢疾歷雜治。數日不差。氣血虛者。</p>
<p>當歸　川芎　芍藥　地黃　大黃　人參　白朮　茯苓　黃耆　桂枝（各等分）　甘草（減半）</p>
<p>上以水二合。煮取一合。去滓溫服。</p>
<p>逆挽湯　治一二日微熱。泄瀉數十行。而滯血裡急後重。</p>
<p>蒼朮　肉桂　生薑（各一錢）　茯苓　乾薑（各八分）　枳殼　人參（各六分）　甘草（二分）</p>
<p>上水煎。裡急後重甚者。加檳榔木香倍乾薑。風證多者。加酒製芍藥倍肉桂。</p>
<p>葛根湯　治痢疾初起。發熱惡寒頭痛。脈浮數者。</p>
<p>葛根（六分）　麻黃（三分）　生薑（四分）　桂枝（三分）　甘草（一分）　芍藥（三分）　大棗（二分）</p>
<p>上以水二合。煮取一合。去滓溫服。宜服日夜三四貼。</p>
<p>桂附理中湯</p>
<p>人參　白朮（炒）　乾薑（炒）　肉桂　附子（各等分）　甘草（炙減半）</p>
<p>每服七錢。以水四合。煮取二合。去滓溫服。</p>
<p>大斷下圓　治藏府停寒。腸胃虛弱。腹痛泄瀉。全不思食。</p>
<p>附子（炮去皮臍一兩）　細辛（七錢半）　良薑（一兩半）　肉豆蔻（一兩面裹煨）　訶子（煨去核一兩）　乾薑（炮一兩半）　龍骨（一兩半研）　赤石脂（一兩半研）　牡蠣（火煅一兩）　白礬（一兩）　酸石榴皮（一兩米醋浸一宿取出炙令焦黃）</p>
<p>上件為細末。酸煮糊和丸。如梧桐子大。每服三十丸。溫米飲下食前。</p>
<p>如神丸　治赤白痢疾。及泄瀉不止。諸藥不效者。</p>
<p>阿片（一錢）　黃蘗　黃連　木香　麵粉（各五分）　沉香　乳香（各三分）</p>
<p>上七味。細末。打米糊丸。一粒重一分。辰砂為衣。</p>
<p>黃連厚朴湯　療妊娠腹痛。下痢膿血不止。</p>
<p>黃連（八分）　厚朴（制）　阿膠　當歸（各六分）　艾葉　黃蘗（各四分）　乾薑（五分）</p>
<p>上為細末。空心米飲調下方寸匙。日三服。又水煎服。</p>
<p>蘗蒜丸　療妊娠臍下刺痛。大便白。晝夜三五十行。</p>
<p>黃蘗（厚者蜜煮令焦）　大蒜（煨令熟爛去皮）</p>
<p>上以黃蘗為末。研蒜作膏。為丸如梧子大。空心粥飲下三十丸。日三服妙。（周按產論青陽丸即此方無大蒜）</p>

<h2>臟燥第十三</h2>
<p>婦人妊娠。無故慘慼悲傷。淚下不止。如有憑數欠者。古謂之臟燥。即以甘麥大棗湯主之。若心中虛悸。煩悶氣逆者。宜用淡竹茹湯。兼用震靈散尤妙。</p>
<p>甘麥大棗湯（方見產論）</p>
<p>淡竹茹湯</p>
<p>淡竹茹（上）　麥門冬　小麥　茯苓　半夏（各中）　甘草　生薑　大棗（各下）</p>
<p>上八味。以水二合。煮煎一合溫服。若心虛驚悸甚者。加人參以安定精神。</p>
<p>震靈散</p>
<p>茯苓（十錢）　辰砂（五錢）</p>
<p>上極細末。每服七八分。白湯調下。</p>

<h2>妊娠數墮胎第十四</h2>
<p>有婦人孕三四月。或八九月。頻墮胎。蓋夫妻一精氣清冷。則兩精交暢。雖已成胎。以其不純粹。不能持期月。而輒墮矣。譬諸移果樹於瘠地。雖能結實。竟不熟而皆落也。余所知三兩家。懷孕八月而墮胎者。皆六七產。而產前後無有他故。此等證皆是由心脾二經不足所致也。後遇此症。博索方於前哲書籍。適用孫文垣補天手飲數月。得月足而產好兒。初學者宜試之矣。又黃耆散。白朮丸。山藥丸。加味四物湯。千金保孕湯等。隨症可擇用。凡小產雖獨系婦人怯弱。亦有男子精氣清冷而不能保孕者。則求嗣者。宜夫妻俱服藥餌也。如婦人有症痼蓄瘀害娠者。須祛逐之。宜大黃茯苓丸。牛膝散。應效丹之類。</p>
<p>補天手飲　治懷孕不能養胎。數月而墮胎。</p>
<p>酸棗仁　遠志　茯神（各一錢）　白朮（二錢）　甘草（五分）　當歸　枸杞子　芍藥（各一錢五分）　生地黃（八分）　艾絮（二分）　龍眼肉（五枚）</p>
<p>上十一味。以水四合。煮取二合。去滓溫服。</p>
<p>黃耆散　治婦人懷胎。數落而不結實。或冷或熱。百病之源。</p>
<p>人參　黃耆　甘草（炙）　白朮　川芎　地黃　當歸　乾薑　吳茱萸（各等分）</p>
<p>上搗散。清酒服一匙半。日再服。加至兩匙為劑。</p>
<p>白朮丸（古今錄驗）　療妊娠養胎。</p>
<p>白朮　川芎（各四分）　阿膠　地黃　當歸（各一兩）　牡蠣（二分）　川椒（三分）</p>
<p>上為末。煉蜜為丸。如梧桐子大。空心米飲吞三四十丸。酒醋湯亦可。</p>
<p>山藥丸（簡便方）　治頻慣墮胎。三四月即墮者。</p>
<p>杜仲（八兩糯米煎湯浸透炒）　續斷（二兩酒浸焙乾）</p>
<p>上末。以山藥五兩為末作糊丸。空心米湯下。</p>
<p>加味四物湯（胎產須知）　治胎氣不固常小產者。</p>
<p>四物湯加炒阿膠。炒黑香附。白朮。黃芩。砂仁。糯米。</p>
<p>千金保孕湯（玄珠）　治氣血不足。每至三四月而墮。</p>
<p>人參　杜仲　白朮　黃耆　歸身　白芍　阿膠　續斷　砂仁　甘草　糯米（五十粒）</p>
<p>上制水煎。食遠服。（如肚痛加艾葉香附。）</p>
<p>大黃苓茯丸　治有症痼害妊娠者。</p>
<p>大黃　茯苓　桂枝　芍藥　桃仁　牡丹皮（各等分）</p>
<p>上六味。細末。煉蜜和丸如兔屎大。每日食前服一丸。不知。加至三丸。</p>
<p>應效丹　治血塊在小腹者。</p>
<p>乾漆　牡丹皮　大黃（各一兩）　莪朮（五錢）</p>
<p>上細末。醋糊丸。如梧子大。溫酒吞二三十丸。</p>

<h2>妊娠心腹腰背痛第十五</h2>
<p>胎前產後心痛。用川楝茴香炒各三錢。鹽炒艾葉錢半。水煎服之神效。</p>
<p>茯苓厚朴湯　治妊娠卒心痛氣欲絕。</p>
<p>當歸　川芎　茯苓　厚朴（制各等分）</p>
<p>每服五錢。以水三合。煮取一合。以延胡索末一錢。和調頓服。</p>
<p>白朮湯　治妊娠卒心痛欲死不可忍者。</p>
<p>白朮（五錢）　芍藥（四錢）　黃芩（二錢）</p>
<p>上以水六合。煮取二合半。分三服。半日令盡。</p>
<p>當歸芍藥散　治妊娠腹中絞痛。心下急痛。及療產後血暈。內虛氣乏。崩中久痢。</p>
<p>芍藥（四錢）　當歸　白朮（各二錢）　澤瀉　茯苓　川芎（各一錢）</p>
<p>上為末。每服二錢。食前溫酒調服。</p>
<p>茱萸當歸湯　治冷氣忽中。心腹痛如刀刺。</p>
<p>當歸　吳茱萸　人參　川芎　茯苓　桔梗（各三錢）　芍藥　厚朴（各二錢）</p>
<p>每服五錢。以水二合。煎取一合溫服。氣下即安。</p>
<p>草豆蔻散　治妊娠心腹常痛。吃食減少。四肢不和。全不入食。</p>
<p>草豆蔻　橘皮　地黃　白朮（各五錢）　川芎（三錢二分）　當歸（炒）　桂枝　乾薑　木香（各二錢半）</p>
<p>上為末。每服四錢。水一盞。棗二枚。煎至六分熱服。</p>
<p>當歸散　治妊娠中惡。心腹㽲痛。</p>
<p>當歸　丁香　川芎（各三錢）　青皮（二錢）　吳茱萸（炒黑一錢）</p>
<p>上為細末。無時溫酒調一錢。</p>
<p>杜仲散　療妊娠腰疼痛不可忍。或連胯痛。</p>
<p>杜仲（四錢）　阿膠（炙）　防風　狗脊　川芎　芍藥　細辛　五加皮　萆薢（各三錢）　杏仁（炒一錢）</p>
<p>上每服五錢。以水二合。煮取一合。去滓溫服。</p>
<p>秘方鹿角散　治妊娠腰痛如折。不能轉側。</p>
<p>鹿角（酒浸燒三次）</p>
<p>為末。每一錢。溫酒調下。（又縮砂炒末溫酒下亦妙）</p>
<p>紫蘇飲　治妊娠背痛者。是氣滯也。（方見胸滿）</p>
<p>補中益氣湯加續斷杜仲　治妊娠腰腹背痛。因勞傷損。動痛不止。多動胎氣者。</p>
<p>八珍湯加阿膠艾葉黃耆　腰痛甚者。腎虛極也。其胎必墮。急與此方。（已上二方見諸方書今不載錄）</p>
<p>阿膠散　治妊娠胎動。腹中㽲痛。不思飲食。</p>
<p>白朮　茯苓　川芎　阿膠（各三分）　當歸（炒）　陳皮（各三兩）　甘草（一分）</p>
<p>上每服三錢。水一盞。姜三片。棗一個。煎至七分服。</p>

<h2>妊娠誤服毒藥傷動胎氣第十六</h2>
<p>奪命丸　治婦人小產。下血至多。子死腹中。其人憎寒。手指唇口。爪甲青白。面色黃黑。冷汗自出。或胎上搶心。</p>
<p>茯苓　桂枝　桃仁　牡丹皮　芍藥（各等分）</p>
<p>上為細末。以蜜丸如彈子大。每服兩丸。淡醋湯嚼下。</p>
<p>妊娠因頓僕。或因毒藥胎動不安。腹滿腰痛。或有所下者。芎歸膠艾湯加黃耆甘草主之。</p>

<h1>卷三</h1>

<h2>鎮帶辨第一</h2>
<p>夫婦人之有生產。天地自然之理。雖無醫藥當無難矣。而今往往有橫生難生者。有所由來也。是故古人論七因。曰。久坐久臥以致氣不運行血不流順。胎亦沉滯不活動。故令難產一也。恣食厚味不知減節。故致胎肥而難產二也。縱淫欲火擾於中。血氣沸騰。胎元漏泄。或胎動小產。或子肥白而不壽三也。保胎之計切。而或問卜禱神。或聞適有產變者。常懷憂懼。心懸意怯。因亦致難產四也。少婦初產。神氣怯弱。子戶未舒。展轉傾側。兒不得出五也。聽從愚蠢穩婆之言。但見腹痛。遽令努力。以致橫生六也。兒未欲生。用力太早。及兒欲出母力已乏。令兒停止七也。至本朝子玄先生。則雖不盡舍其說。特論鎮帶之害於生產。列舉其弊。斷然禁之。余既信其言。每遇妊婦。叮嚀告戒。務禁鎮帶。然世俗泥滯舊習。疑而不信。孕婦亦懷恐懼。而不從之。夫以鎮帶緊扎腹者。實非所宜也。本朝習俗。孕婦五月。用鎮帶者。未知昉何時。筑紫風土記。及東鑑等諸書。皆載其事。而上自貴勝下至細民。擇其月良辰。以行賀儀。稱曰著帶者。既千有餘年。今欲使天下人悉禁之。焉可得勝乎。夫醫之臨疾病。在察機宜。貴權變。是以余則不廢舊儀。每用軟絹。或軟粗布。掩纏全腹。唯禁緊縛而已。如此則人不致疑阻。亦當免孕中疾患。而不致難生。此吾門之所法也。穩婆不解事。皆以為鎮帶緩則兒子肥大。必令孕婦緊扎其腹。以為保護切要之第一。因之榮衛失順流。而致身面浮腫。或嘔吐痞塞。種種證候。若夫壯婦雖無甚害豈可效之哉。是以醫家宜命孕家令鎮帶緊緩得中矣。</p>

<h2>新定難產八因辨第二</h2>
<p>子玄先生曰。產育發生之大端。而今用鎮帶反壅壓發生之機。乃譬之於宇下之竹。預避其字則長達。石下之草根移石則忽萌芽。周以為是過當詭激之說也。本朝婦人。平生所用之帶。其制大抵闊六七寸。或至尺有餘。而以粗布為干。裹之以絮。然後隨貴賤。加種種表裝。其狀殆如蓐。常以之纏腰腹二三匝。若以單布之鎮帶束腹者為壅壓發生機。則當先禁平生之帶耳。又曰。禽獸之胎孕不假鎮帶之施設。人亦不異於此也云云。雖是似近情切理之言。人豈可比於禽獸乎。且雖禽獸。不得言無難產。余向歲見家豬之生產。先生一子而次者不能出。反覆顛倒。呻吟悶亂。逾宿才產。又有一貓臨產。子露半身而不娩。苦楚殆極。人為救之。然後復生三子。並皆死胎也。夫人稟五常。具七情。天地間最靈者也。故居處不結屋室則不住。冬夏不異裘葛則不服。飲饌不歷烹熟則不食。況方其懷孕。則不獨鎮帶之可護胎也。衣食寒暄。臥起動作。亦宜均適焉。若不節謹之者間致難產。故貴豪家難產罕有。而中人以下甚多者。蓋在保護得宜與否也。（古來醫家皆云。富貴家多難產。貧賤者無之。余救難產數百人。貧賤者反多。而富貴家甚少。此吾說之所以反於眾也。）夫鎮帶之事。宋元以上雖無其說。保產機要。達生編。奚囊便方等。既有其說。保產機要云。受胎三五月後。常要緊束其身。勿令胎放。達生編云。孕已知覺。即宜用布一幅。六七寸闊。長視人肥瘦約纏兩道。橫束腰間。直至臨盆之時。才解去。若是試痛仍不宜解。此有二妙。胎未長成。得此則腰膂有力。些須閃挫。不致動胎。其一常令腹中窄狹。及到解開。則腹中乍寬。轉身容易。</p>
<p>奚囊便方云。凡懷妊必於四五個月前後。用軟絹或帛闊七八寸。自背纏至腹。以針線縫注。如兜肚樣。晝夜不解。倘胎長大。覺胸中有氣急狀。方可放線三分或五分。不可滿寸。漸以調之。則肌肉有所束縛。不使胎長極大。便於產也。</p>
<p>而在本朝。則古來妊娠五月皆用此帶。而神聖之大統數千載不絕。庶民之苗裔益繁滋。則不得謂鎮帶害於生產也。假令論其害於生育以去之。中人以下或可信。而至王公貴人。則決不能改之。是以與固執難行之說。抗顏費辨。不若循我邦之禮以意折衷無弊也。今不拘鎮帶之有無。又不依古賢所論七因。新錄難產八因。但屬臆見。俟有道之明質云。</p>
<p>婦人天賦薄弱者。受孕而輸血氣於胎。因此精神漸衰憊。至臨產不堪用力。往往致難產一也。</p>
<p>不論壯婦與怯婦。兒子在腹中自長大。是以臨產雖力息頻至。不能出門戶。遂子僵於腹中。而不能分娩二也。</p>
<p>受胎之初。父母交暢之精氣不得滿足。雖才成胎。以本有所缺。或逮臨月亦多死腹中三也。</p>
<p>子宮口自欹側。臨產雖陣痛頻來。子頭向脅傍而不能出。遂致露手不收四也。</p>
<p>臨月大便燥結。數日不通。既而臨產燥屎填滿廣腸。推壓子宮。而門戶為之窄狹。因致不能出五也。</p>
<p>臨盆子頭已近人門以壅尿道。雖力息才來。未免期而反多與催生湯藥。膀胱為之努脹而壓胎。因致不分娩六也。</p>
<p>夏月縱取涼。冬月不謹風寒。並下焦受寒冷。而臨產陽氣不能振。亦致難產七也。</p>
<p>伸手高處。或偶失跌仆地。胎為之轉動。或子宮口相戾。臨產不隨正路八也。</p>

<h2>產要第三</h2>
<p>懷孕七八月以後。偶略曲身。胎失其所。或脅腹疼痛。或腿股攣痛。或腰曲不能伸。或水血並下。惟腰不甚痛。名曰弄痛。原非正產候。宜施整胎術。（整胎術見產論翼）</p>
<p>懷孕九月忽然腰痛。或血下或水下。卻又不產。名曰試月。非正產。若腰痛甚弩掙自來者致半產。宜用大阿膠湯。</p>
<p>孕婦臨月。忽然腰股拘急。不能起者。漸迫產期。</p>
<p>孕婦臨月。忽小便頻並數十行者。亦催產氣之兆。</p>
<p>孕婦臨月。忽下水傾囊數升者。亦為免身兆。</p>
<p>大阿膠湯（見頓僕失踞胎動門）</p>

<h2>臨產第四</h2>
<p>孕婦臨蓐。子將出則臍腹急痛。腰間重墜。周身灼熱。濈然汗出。力息頻來而兩手握拳。眼中出火。欲臥不能臥。欲不揚聲音。不能止之。產戶腫滿。糞門迸急。或遺尿。或胞水血俱下。有此十二候而子出育門。</p>
<p>婦人孕中壯健。既至臨月臍腹急痛。腰間重墜者。宜用芎歸加桂湯。已免身者。先將清心湯。安榮湯之類。熱湯浸絞去滓。取獨行散一二匙。攪調以與之。或加味芎歸湯。兼用黑神散安神散之類亦可。繼用牛膝散。以下惡露。若臍腹絞痛者。猶兼以獨行散二三錢。若不效。惡露下少而發熱者。宜行瘀煎。又獨味山楂子三四錢。水煎服。此亦治兒枕痛勝藥也。</p>
<p>臨產陣痛時來時止。止則直寐而鼻息鼾。復忽陣痛來呻吟。（俗呼曰涅摸慄谷失）脈沉緩而不數者。切不可令其扶坐努力。有此候者。率皆不遽分娩矣。須坐臥任意也。此以母氣未振。子宮未開故也。宜與救生加附子湯。</p>
<p>臨產移時不能分娩。則在產室中者。不宜呫囁耳語也。婦人聞之則生疑懼。因令氣宇結滯。而害乎產也。辛訖則不可高聲喧鬧。恐婦人由是驚動。或妨熟寐。則血氣不能收。而發血暈矣。二者不可不戒也。</p>
<p>臨產陣痛頻頻來。將分娩卻不產。數次後陣痛止而不來。惟腰間重墜。臍腹微痛者。醫須先探宮以候兒。若兒頭皮膜未破者。雖至五六日為非死胎。與盤珠煎。脫花煎之類。以俟5其自然可也。勿妄以手法催生。若皮膜已破產宮下臭液。惟臍下攣痛。其痛不注糞門者。多死胎也。以回生術救之。</p>
<p>臨產陣痛來甚。往來三四次。兒頭已至產門。二三日尚不下。惟力息微微來。脈沉緩不數者。因陽氣虛餒也。宜救生湯兼以雲母散溫酒調服。若手足微冷者。附子理中湯四逆加人參湯之類。選而用之。併兼用見龍散可也。</p>
<p>芎歸加桂湯　將產腹痛者。用此神效。</p>
<p>當歸　川芎　桂枝（各等分）</p>
<p>上銼。每服四錢。水酒各一盞半。煮取半溫服。若嘔者加半夏生薑。此方妙在水酒各半煎。</p>
<p>清心湯　凡婦人諸般雜病。及胎前產後諸疾。悉能治之。世人以此方為血暈之妙劑。又治金瘡打撲損傷等證。</p>
<p>萍蓬根（十五錢）　大黃（八錢）　當歸　川芎　芍藥　乾地黃　黃芩　黃連　沉香（各六錢）　人參　檳榔子　木香　細辛　桂枝　丁子　炙甘草（各四錢）</p>
<p>上藥除丁子沉香肉桂木香。在外不炒。余藥合為一劑。用好酒一杯。將藥潤濕。入鍋內。炒至黃色為度。取起攤地上。候冷入前四味。每三四錢。以麻沸湯浸。須臾絞去滓服。再以滓以水一杯半煮。取一杯溫服。</p>
<p>安榮湯　治血暈妙方。</p>
<p>萍蓬根（酒炒五錢）　人參　白朮　當歸　川芎　黃芩　黃連　桂枝　木香（各一錢）　甘草（三分）</p>
<p>上十味。細銼。每服三錢。麻沸湯浸。絞取汁服。</p>
<p>獨行散　治瘀血腹痛。及血迷神昏。（方見產後血暈）</p>
<p>加味芎歸湯　產後最為穩當。功亦巨。</p>
<p>荊芥（酒炒二錢）　當歸（一兩）　川芎（五錢）　桂枝（二錢）</p>
<p>上四味。水煎酒對服。○陳飛霞曰。俟胞衣已下。隨即服之。永無血暈之患。效經千百。斷不誤人。</p>
<p>周按集驗良方云。治產後血暈。不省人事。提起頭髮。坐定不可眠倒。急以燒紅炭。投入陳醋內。對鼻孔薰之自蘇。另用當歸（六錢）　川芎（二錢）　荊芥穗（炒黃二錢）水煎。臨服入好酒童便和服神效。</p>
<p>黑神散　治產後血暈。眼花頭旋。起坐不得。或瘀血不盡。上逆耳鳴。或惡寒戰慄。呻吟昏憒者。及兒枕痛等證。此方治產後血迷之妙劑也。</p>
<p>火麻（五月五日取苗洗淨。無灰好酒浸一時許。土器中燒存性。）</p>
<p>上為末。產訖服一錢。則無血暈之患。○本邦婦人產訖。必以麻皮縛頭髮手腕。又綰以懸頸。蓋取其能收血也。</p>
<p>妙功散　治產後血暈。頭目昏眩。安神鎮心之妙劑。</p>
<p>茯苓（二錢）　黃耆　遠志（各一錢）　人參　桔梗（各五錢）　辰砂（一錢）　山藥　木香（各五分）　甘草（一分）</p>
<p>上為細末。每服一錢。白湯送下。（虛人宜此方。實人宜獨行散。）</p>
<p>牛膝散　行瘀煎（並見血暈）　救生湯（見半產）</p>
<p>脫花煎　盤珠飲（見胞衣不下）　附子理中湯（見痢疾）</p>
<p>雲母散（良方）　救療產難經日不生。及胞衣不下。</p>
<p>雲母粉（五錢）</p>
<p>溫酒調服。入口當產。不順者即產。萬不失一。（陸氏方云。是何德楊方云。已救三五十人。卻用雲母粉澄過研細。取一團如雞子大。臨用以無灰酒調下。）</p>
<p>四逆加人參湯</p>
<p>甘草（二兩炙）　附子（一枚生去皮破八片）　乾薑（一兩半）　人參（一兩）</p>
<p>上四味。以水三升。煮取一升二合。去滓分溫再服。再加當歸桂枝數錢功更捷。</p>
<p>見龍散　治難產及胞衣不下者。神驗。</p>
<p>雲母（上）　百草霜（上）　白芷（中）　烏龍尾（中）　麝香（下）</p>
<p>上為細末。每服一二錢。溫酒送下。海蘿湯亦可。</p>

<h2>產後第五</h2>
<p>產訖遽呼吸促迫者難治。此證率皆眼睛無神。而言語清輕。然大抵過一霎時。必發煩躁。或交牙而死。其死期已迫。鼻中必青涕流出。</p>
<p>凡產後詳小腹痛與不痛軟與硬。可知惡露之多寡。痛與硬者。惡露多。反之者否。又詳大便通與不通。可知津液之干潤。大便通者津液足。反之者否。又詳乳汁飲食多少。可知胃氣之充餒。多者胃氣充。反之者否。宜先審此三者。更參考脈證以施治法。</p>
<p>產後忽然口噤。手足搐搦。角弓反張。或因怒氣發熱迷悶者。將愈風散。用水酒童便各半盞。煎一盞灌之。若牙關緊者。以曲頭管灌之。仍捻其鼻。使得下喉即活矣。（曲頭管圖見附錄）</p>
<p>愈風散　治產後中風。不省人事。口噤牙緊。手足瘛瘲。如角弓狀。口吐涎沫。亦治血暈。四肢強直。或築心眼倒。吐瀉欲死。</p>
<p>荊芥穗（酒炒至黑）　當歸身尾（各三錢）</p>
<p>上為末。每服三錢。豆淋酒及童子小便調下。其效如神。</p>
<p>凡生子肥盛壯實者。產後惡露下自少。生子羸瘦虛弱者。惡露下必多。產時下血多者。產後惡露少。視其惡露少。妄與破血之駿劑者謬矣。</p>
<p>產後以血下之多。津液自乏。法當大便五六日而來。若過之不通。小腹硬滿。脈沉有力者。為有胃熱。宜急與龍飛丸二三十粒。導大便以救津液。若小腹硬痛者。有瘀血。宜行瘀煎。若產後一二日。而大便下利者。胃中虛冷也。宜理中湯之類。</p>
<p>行瘀煎（周新定）　治產後血暈。惡露不下。及兒枕痛神效。</p>
<p>接骨木（上）　紅花　當歸　芍藥　桂枝　山楂子　桃仁（各中）　川芎　蘇木　甘草（各下）</p>
<p>上十味。水煎溫服。○此方不特治產後惡露不下。凡瘀血結滯。成諸疾者。用之神效。方中接骨木能通瘀血。山楂子消滯血。妙在此二品。</p>
<p>理中湯</p>
<p>人參　白朮　乾薑（炒黑）　甘草（炙各等分）</p>
<p>上照常水煎。</p>
<p>產後惡露有六七日而止者。又有至十餘日者。蓋以其人瘀血有多寡也。當用尋常調血之劑。若及逾月淋漓不止者。宜膠艾四物湯。惜紅煎。若不效者。云垂煎去竹茹加柏葉蒲黃各五分。佐以雙烏散食空白湯送下。此止血之勝藥也。</p>
<p>膠艾湯　惜紅煎（並見崩漏）　云垂煎（見傷寒啟微下）</p>
<p>產後疲勞甚者。及產前患下利。而產後有熱者。俱宜用芎歸理中湯。尤效。但當倍加人參用乾薑炒黑者。若惡露下多。虛憊甚。熱壯而口燥者。將還元煎煎成。臨服加童子小便一小杯。兼以雙烏散。屢試屢效。</p>
<p>產後婦人不涉深虛。在蓐中。血熱不去者。桂枝調血飲。夾外邪者。熟料五積散。若壯婦而不大便。熱盛者。大黃牡丹湯。或三黃熟艾湯。隨證加減而用之。</p>
<p>芎歸理中湯　即理中湯加川芎當歸。</p>
<p>還元煎（見半產）</p>
<p>雙烏散</p>
<p>蓮房灰　棕櫚灰（各等分）</p>
<p>上二味。燒存性。極細末。白湯點服。</p>
<p>桂枝調血飲　治產後氣血虛損。脾胃怯弱。惡露不行。致心腹疼痛。發熱惡寒。自汗口乾。頭暈眼花等者。</p>
<p>桂枝　當歸　川芎　芍藥　白朮　茯苓　陳皮　香附　丹皮　乾薑（炒）　益母草（各等分）　甘草（減半）</p>
<p>每服四錢。水煎溫服。</p>
<p>大黃牡丹湯（見半產）</p>
<p>熟料五積散　陳飛霞曰。此方專治婦人產後外感內傷。瘀血不行。痰凝氣滯。頭身痛。惡寒發熱。心腹疼痛。寒熱往來。似瘧非瘧。小腹脹滿。傷風咳嗽。嘔吐痰水。不思飲食。胸緊氣急。手足搐搦。狀類中風。四肢痠疼。渾身麻痹。凡產後一切無名怪症。並皆治之。</p>
<p>夫產後百節俱閉。氣血兩敗。外則腠理不密。易感風寒。內則藏府空虛。易傷飲食。稍有不慎。諸證叢生。古書有產後以大補氣血為主。雜病以末治之之戒。後世莫不遵之。惟事滋補。不知風寒未去。食飲未消。滋補一投。反成大害。昧者猶以為藥力未到。愈補愈深。死而後已。天下之通弊。莫此為甚。予昔於潭州。遇師指授此方。按法治之。往輒裕如。不敢自秘。逢人口授。並刊板印送。於茲四十餘載。活人莫可勝紀。但慮世人不悟。以為淺近之方。安能神應若是。故古人謂千金易得。一訣難求。予今訣破。庶狐疑頓釋。方名五積者。謂此方能去寒積血積氣積痰積食積也。今產後之病怯。正犯此五積。以五積之證。投五積之方。豈非藥病相值乎。猶慮藥味辛散。而以醋水拌炒。名熟料五積散。俾藥性和緩。表而不發。消而不攻。方內所用肉桂解表逐寒。白芍和營諸衛。蒼朮厚朴走陽明而散滿。陳皮半夏疏逆氣以除痰。芎歸姜芷入血分而祛寒濕。枳殼桔梗寬胸膈而利咽喉。茯苓去飲寧心。甘草和中補土。大虛大怯者。加人參。微虛者可不用。共為溫中散寒之妙劑。用於產後。無往非宜。</p>
<p>白芷（二錢）　肉桂（一錢此二味不必炒）　厚朴　川芎　半夏　枳殼　炒蒼朮　茯苓　白芍　炮姜　陳皮　炙甘草（已上各一錢）　當歸（二錢）　虛加人參（一錢）</p>
<p>上藥味皆宜秤過。除白芷肉桂在外不炒。余藥合為一劑。用好醋小半杯。淨水一杯。與醋和勻。將藥潤濕。入鍋內炒至黃色為度。取起攤地上去火毒。候冷入白芷肉桂在內。生薑三片。紅棗三枚。淨水二碗。煎至一碗熱服。此方至平穩。見效之後。依而服之。不拘劑數。以愈為度。惟產後大汗泄瀉。或虛脫之證忌之。蓋此方但能去病。不能補虛。</p>
<p>三黃熟艾湯（見傷寒啟微下）</p>
<p>產後二三日。小腹有大塊如盤。以手按之。則遷移者。不得一概謂瘀血。雖不下血塊者。過五六日則必自消。蓋此氣塊而已。當用尋常產後治法。若七日以上依然不消者。宜察其虛實用破血之劑。</p>
<p>產後六七日。惡露已快下。仍腰股攣急。或疼痛者。不可一概為殘瘀而治焉。往往有挾疝而然者。余於此證用加味通氣湯。每每奏奇效。（方見兒枕痛門）</p>
<p>孕婦已產。則蒸蒸身熱。胸中築動。呼吸短息。濈然汗出。猶平人勞動奔走呼吸不接也。此際特可懼者。脫血一證也。若發此證則必致卒亡矣。預防之法。宜用冷水一小盞。點黑神散一匙以與之。血熱得清冷。而胸中開豁。浮散之陽歸源而神氣清快。實免產後暴血之神丹也。不知者以為寒涼傷胃也。然分娩用力甚。五內擾亂身熱如毀。投之以一盞冷水者。如久旱霢霂。自咽喉入胃中之際。化為溫湯。故無有後患。然不可再與之矣。夫冷水澀血勝於諸藥。故婦人月信過多時飲一盞則須臾血自止。可以證也。雖然易產如達者。宜斟酌矣。</p>
<p>產論云。產婦分娩後。切無用產椅。當倚褥高枕而右側臥也云云。後學宜遵之撥俗習矣。予又有一口訣。凡臨產用力過多。而才娩者。須先與冷水一小盞。乃命坐婆手握綿絮緊閉育門。使婦匍匐移褥跪坐。手尚不可放。令一人緊抱婦半時許。待氣息虛里稍定。而後高枕褥臥。則無有</p>
<p>血迷崩血患也。</p>
<p>俗習禁產後熟寐。若寐則看守者。數呼其名。不應則不止。甚不可。夫熟寐則血氣流暢能歸源易收也。但宜使一人在傍常聞其呼吸。呼吸平夷。則俟自覺來而可也。若呼吸促迫。或目竄視。則急呼起而可與藥也。</p>
<p>產訖有遽嘔吐者。此由臨產之時。坐婆強與食也。與理中湯加半夏生薑。難產力息數來。而陣痛不來。由此產母疲倦。二三日又不分娩則死胎也。</p>
<p>醫為救之免者。宜先與當歸理中湯。還元煎之類。若從產後三日無拘虛實必用折衝飲之說變證立至。謹之戒之。</p>
<p>產後口鼻見黑色而衄者。胃氣虛憊。而血滯也。宜二味參蘇飲。</p>
<p>二味參蘇飲</p>
<p>人參（一錢）　蘇木（二錢）</p>
<p>上以水一盞半。煮取一盞溫服。</p>
<p>產後面赤嘔逆欲死者。名曰沖肺。以二味參蘇飲加芒硝一錢。若敗血衝心煩悶者。難十救一。</p>
<p>產後煩悶嘔惡。腹滿腹痛者。名為沖胃。平胃加桂枝生薑湯主之。</p>
<p>平胃加桂枝生薑湯</p>
<p>蒼朮　厚朴　陳皮　桂枝　生薑（各等分）　甘草（減半）</p>
<p>上照常水煎。</p>
<p>產後腹滿不減。歷數日漸漸復舊者。此為常疾。若產訖腹遽縮小者。必屬虛家。不可不察。</p>
<p>產訖世俗皆以麻線緊扎婦之頭髮。而云防血暈。此雖俗習。亦有據。千金方曰。產後心悶。眼不得開。即當頂上取發如兩指大。強以人牽。眼即開。即此意也。</p>
<p>產後二三日。邦俗以糯粃味噌汁煮食之。予少以為出於愚婦臆見者。昨偶讀五雜組曰。稻有水旱二種。又有秫田。其性黏軟。故謂之糯米。食之令人筋緩多睡。其性懦也。作酒之外。產婦宜食之。因知俗習有所原出矣。</p>
<p>產後三四朝。有忽發寒熱者。謂之蒸乳。寒熱止後。乳汁大行。此蓋胃氣所浮化也。若無寒熱。脈虛數而乳汁絕不出者。此榮衛不調。急宜與內補當歸建中湯。否則彌月後。漸漸發寒熱。而成蓐勞。</p>
<p>內補建中湯　此藥令人氣血壯健。</p>
<p>當歸　桂枝（各中）　芍藥（上）　炙甘草（下）</p>
<p>上每四錢。姜三片。棗二枚。煎去渣。入飴糖一塊。再煎一沸溫服。</p>

<h2>產後血暈第六</h2>
<p>產後發血暈。此其婦素有積聚。由產而動。乃與瘀血相搏。惡露不下。遂逆上湊心。因致昏悶焉。宜先以淬醋炭令聞其氣。繼以清心湯。行瘀煎。牛膝散之類。兼服獨行散。熊參丸等。又一法。治心下硬滿。神昏口噤。不省人事者。將硇砂石灰各等分。水和勻盛器近鼻孔。令聞其氣。則醒。此本蠻人之方。即與用炭醋意同。若惡露下多而暈者。病人低頭。昏悶煩亂。而心下不硬滿。此為虛暈。還元煎。扶陽飲。清魂湯。宜選用。或兼用愈風散。桃花散。震靈散。妙功散之類。</p>
<p>凡胞衣不下而發血暈者。從於產論所論。宜先施禁暈之術。施之暈猶不止。面目唇口無血色。手足微冷。譫語者。難治。若面目唇口紅活。而脈未至微細者。急與扶陽飲。兼用雲母散。乃當下其胞衣。其下胞衣之法。已至於近產門。則安之。不可急取下焉。若急取下則氣血脫泄。而禍不旋踵。謹之戒之。</p>
<p>聖惠牛膝散　治產後血迷。及兒枕痛。</p>
<p>牛膝（一兩）　桂枝　赤芍　當歸（炒）　木香　牡丹皮　川芎　延胡索（各半兩）　桃仁（三分麩炒）</p>
<p>上銼。每服四錢。水煎溫服。（按產論折衝飲。即此方去木香加紅花也。）</p>
<p>獨行散（婦人良方）　治產後血暈。昏迷不省。衝心悶絕。</p>
<p>五靈脂（二兩半生半炒）</p>
<p>上為末。溫酒調下二錢。口噤者。拗開口灌之。入喉即愈。（周曰。不須拗開口。即用曲頭管吹入則落喉。○曲頭管圖見後。）</p>
<p>元周按衛生方。名立應散。證治準繩名五靈脂散。但炒令煙盡研末用。</p>
<p>治婦人血崩。及男子脾積氣。兼能解毒。及蛇蠍蜈蚣咬。塗傷處立愈。一方每服三錢。水酒童便各半盞。煎至八分通口服。名抽刀散。治產後有病。服三服散惡血。或心腹脅肋腳痛不可忍者。或止用童子小便佳。</p>
<p>參熊丸</p>
<p>熊膽（真者味苦。有香氣而不腥。解之無一點之渣滓。燒之為灰。其色灰白色而平夷。偽者亦味苦。有腥氣不香。解之有渣滓。燒之則作泡高起。其色黑而不為灰。）　人參（各二錢）</p>
<p>上細末。打米糊丸。梧桐子大。每服六七丸。白湯下。</p>
<p>扶陽飲</p>
<p>當歸　川芎　桂枝　乾薑（炒黑）　附子（熟）　人參（各一錢半）</p>
<p>上七味。以水二合。煮取一合。溫服。</p>
<p>清魂湯　治產後血暈。昏不知人。</p>
<p>澤蘭葉（上）　人參（去蘆上）　荊芥穗（炒上上）　甘草（中）　川芎（下）</p>
<p>上五味。每服四錢。水煎溫服。（本為散用。予每作湯屢驗。）</p>
<p>桃花散　此治血暈之神藥也。</p>
<p>烏賊魚骨（十錢）　硃砂（二錢）</p>
<p>上為末。每服一二錢。白湯送下。</p>
<p>清心湯（見臨產）　行瘀煎（見產後）　雲母散（見臨產）　還元煎（見半產）　愈風散（見產後）</p>
<p>震靈散（見藏燥）　妙功散（見臨產）</p>

<h2>胞衣不下第七</h2>
<p>產後胞衣不下。為之致斃者。予常愍然以為非命之死也。若夫產科熟練之醫於分娩之近。速救療之。則莫有胞衣不下之理矣。娩後未經數時。則陰中滋潤。子宮不收口。是以手術易施。藥餌亦有效。但其施術之法。功效最速。而非筆力之可形容焉。因舉羅浮山人集驗方所載一法於後頃。由是潛心覃思。或當冰融焉。雖歷一二日不下者。胞衣在近門戶一二寸者。猶可療也。若胞衣在高。黏著子宮底不離。且子宮已收口。則不能遽下之。此證間有肚腹堅滿。觸之痛甚。手不可近者。以千金半膝湯。脫花煎之類。兼進含陽散。若虛者盤珠煎加人參二三錢。此皆百死中求一活之法也。若夫歷四五日。戰慄發熱一日二三度作。或煩渴汗出。或譫語煩躁。或飲食不進。或喉中有痰聲者。必死。</p>
<p>集驗方云。產下如胞衣不來。先將嬰孩抱定。不可斷臍帶。（周云。當斷臍帶而施術。假令斷之。曷害於子母耶。）用一伶俐老成女眷。將右手二指。緊跟臍帶而上。帶盡處。將指向上半寸余。摸之覺有血。便是胞衣逆轉。盛血在內。不得下。即以指連胞衣向下一捺。其血覆其衣自隨而下。法甚簡明。每見孕婦衣不下。多服藥。或用吐法。甚至以足拄腹者。易至喪命。小必至於成病。不知衣之不下。正為嬰孩出門。臍帶一扯。衣必逆轉向上。汙血淋下。盡入衣中。以致衣漸滿大不能出。夫豈藥力之所能與哉。故特書之。以免此患。</p>
<p>往歲一貧家婦。產後數月經血不止。已用膠艾四物。溫經等湯。毫末無效。予將黃連解毒湯。兼用獨味蓮房灰。日二三錢。不日而奏全效。一日婦謂予曰。妾至於今凡八產。其初產再產。則傭穩婆而托之。其後懷孕至五月則以帛自纏腹。已至彌月。稍覺腰腹攣痛。則設草與故絮於屋隅。乃就灶下燃釜沸湯。而待生下。若陣痛頻來。則趨坐於草上而努力。已分娩則厲聲呼鄰家婦。（東都貧民所居之屋。大抵一棟而分數家。隔壁一層以成鄰。）而與俱浴兒。自收拾穢物胞衣訖。乃倚被而坐焉。過二三日。則與平常無異矣。如此者總六產。曾不請媼婆。其間偶胞衣不下者半日。因自銜頭髮。使油氣入咽。溫溫欲吐而衣即下云。此雖出發愚婦一時之智。實與薛新甫蔣示吉等有銜頭髮尾作嘔而胎衣自下之法暗相合矣。予亦用此法。凡遇壯婦之胎衣不下者。則常以雞翎或紙捻。探其咽中。令其噁心。而取效甚多。如怯弱婦。容易勿施。</p>
<p>含陽散（家方）　治胞衣不下神效。</p>
<p>蝮蛇（燒存性）　雲母　鹿角（燒存性各一錢）　麝香（二分）</p>
<p>上細末。每服一二錢。海蘿湯攪調頓服。</p>
<p>千金牛膝湯　治產兒胞衣不出令胞爛。</p>
<p>牛膝　瞿麥（各一兩）　當歸　通草（各一兩半）　滑石（二兩一方用桂心二兩）　葵子（半升）</p>
<p>上六味。㕮咀。以水九升。煮取三升。分三服。（周按羅浮山人集驗方用牛膝瞿麥當歸木通葵子各一錢。滑石赤小豆各二錢。命曰經驗難產奪命方。）</p>
<p>脫花煎（景岳全書）　凡生產臨盆。此方最佳。並治難產經日不下。並死胎胞衣不下俱妙。</p>
<p>當歸（一錢）　川芎（三錢）　桂枝（二錢）　牛膝（二錢）　車前子（一錢五分）</p>
<p>水煎。加酒對服。若胎死不下。及胞衣不來。並加芒硝五錢。氣虛困劇者。加人參二三錢。更加附子二錢。無不下者。此方比平胃散加芒硝。功勝百倍。以其藥味甘溫。不傷元氣故也。</p>
<p>盤珠煎（家方）　治難產經日不下。並死胎及胞衣不下。</p>
<p>當歸（一錢）　川芎（二錢半）　桂枝　牛膝（各二錢）　附子（一錢）</p>
<p>水煎。先飲溫酒一盞。尋服此藥。虛甚者加人參二三錢。</p>
<p>健捷散（秘家）　治難產經日。及胞衣不下。又尋常經閉。兒枕痛等服此。其效如神。</p>
<p>香白芷　乾薑　桂枝　雲母（各等分）</p>
<p>上四味。細末。每服二三錢。海蘿湯攪和勻頓服。</p>
<p>桂芎當歸散　治胞衣不下。</p>
<p>當歸　川芎　芍藥　地黃　桂枝（各二錢）　牛膝（五分）</p>
<p>上六味。生薑水煎。溫服。</p>
<p>治胞衣不下屢試驗（妙乙齋種子編）</p>
<p>芒硝（三錢）　牛膝　當歸（各五錢）</p>
<p>上三味。水酒煎服。</p>
<p>一方　治胞衣不下。</p>
<p>茄子（陰乾）</p>
<p>為末。白湯送下。</p>
<p>又方</p>
<p>酸漿實（熟紅者壓而陰乾）</p>
<p>上細末。每服一枚許。海蘿湯下。</p>
<p>治難產經日不下及胞衣不出者神效方（太永醫話）</p>
<p>取烏鴉左翅全者十二枚。燒研末。每服一錢。海蘿湯送下即時出。</p>
<p>下谷頭踏街。一武士室女。年十九歲。天性伶俐。父母鐘愛太甚。而女偶與一奴通而娠。事已發覺。而奴先見追。後父母竊相議。謂令其施白牡丹術。則恐害乎性命。遂決令偷生。因令稱病而不令逢於人。迨其娩身。兒子生地呱聲達四鄰。女慮臭聲外聞隕家聲。驚畏而發血暈。醒後胞衣不下。百藥不效。既歷九日而邀余。余便往坐堂上。則女自房內步出而求診。余心竊疑。胞衣不下數日而行步如常。乃望之。面色青慘。唇舌無血色。問之。臍帶三日而腐脫。惟微微下黃汁而已。近之則臭氣撲鼻。切其脈沉勁。候其腹縮小。獨臍下微滿堅硬如石。余乃欲按其腹以下胞衣。居然不移。蓋以子宮已收其口複本位也。因進大劑脫花煎加芒硝二貼。其夕下血片一甌許。然其家以余術之無捷效。又延醫求藥。腐穢漸漸下。歷累月而得盡矣。唯形體羸瘦。飲食不成肌膚。遂為廢人者。一年有半。然後氣體漸復。十又余月而始得為完人矣。余嘗治胞衣不下者。以百數。其逾七八日而尚不出者。率皆見發熱譫語等證而不救焉。嗟乎此女有天稟所實而然者歟。豈不亦奇哉。</p>

<h2>產後顛狂第八</h2>
<p>產後顛狂。言語錯亂。神思不安。如有鬼祟者。人皆以為敗血衝心也。按其人本有鬱怒釀成癥瘕。因產藏府擾亂。遂動其宿症。與瘀血相併。奔騰而侵心神者也。宜與鐵砂牡蠣湯。三黃硃砂煎之類。兼用抱膽丸極效。若屬血虛者。加味八珍湯。兼服妙功散震靈散之類。若瘀血一滴不下者。行瘀煎。大黃牡丹湯並可。</p>
<p>鐵砂牡蠣湯　治由鬱怒心神不寧。言語錯亂。似有鬼祟者。</p>
<p>鐵砂（上）　柴胡（上）　大黃（中）　牡蠣（中）　茯苓（中）　桂枝（中）　甘草（各下）</p>
<p>上七味。水煎溫服。</p>
<p>三黃硃砂煎</p>
<p>黃連　黃芩　大黃（各等分）</p>
<p>每服二錢。水煎。臨服入硃砂一錢攪勻服。</p>
<p>抱膽丸</p>
<p>水銀（二兩）　黑鉛（一兩五錢）　硃砂（一兩細研）　乳香（一兩細研）</p>
<p>上將黑鉛入銚內。火熔開。下水銀。攪結成砂子。下硃砂乳香。乘熱用柳木槌研勻。丸如雞頭實大。每服一丸。空心薄荷湯下。得睡勿驚覺。覺來即安。（周按產論鎮亢丸。即此方而去乳香一味。）</p>
<p>加味八珍湯　產後顛狂。乃血虛神不守舍。不補養元氣。則不可。此方主之。</p>
<p>人參　白朮　茯苓　甘草（炙）　當歸　川芎　芍藥　熟地　遠志　茯苓（各二錢）</p>
<p>上銼。加薑棗。水煎服。</p>
<p>妙功散　治產後心神顛倒。語言錯亂。如見鬼神。（方見臨產）</p>
<p>震靈散　行瘀煎（見產後）　大黃牡丹湯（見半產）</p>

<h1>卷四</h1>

<h2>產後咳嗽第一</h2>
<p>咳嗽之病。雖其本不一。皆是肺家病。產後患之者。宜先與丹參湯。功效尤勝。若惡露下少。而咳嗽不已者。宜二母飲。嗽而牽引脅下。臥則喘咳益甚者。必有伏火。瓜蔞湯加知母黃芩各八分。感風寒咳嗽喘滿。痰涎壅盛者。宜旋覆花湯。已試之驗。</p>
<p>丹參湯</p>
<p>丹參（一錢）　百部根　桔梗（各六分）　百合　茯苓（各八分）　五味子（五分）　桑白皮（一錢）</p>
<p>上以水二合。煮取一合。溫服。</p>
<p>二母散　治產後惡露上攻。咳嗽不已。</p>
<p>知母　貝母　茯苓　人參（各五錢）　桃仁　杏仁（並生去皮尖各一兩）</p>
<p>上每服五錢。水煎溫服。</p>
<p>瓜蔞湯（赤水醫案）　治產後咳嗽。痰不易出。左脅疼痛。內熱氣壅。不能伏枕者。</p>
<p>瓜蔞仁（六兩）　桑白皮　杏仁　半夏　桔梗　紫蘇子　枳殼（各一錢）</p>
<p>上水煎。溫服。</p>
<p>旋覆花湯　治產後傷風。感寒暑濕。咳嗽喘滿。痰涎壅盛。坐臥不寧。</p>
<p>旋覆花　芍藥　前胡　半夏　甘草　五味子　荊芥　茯苓　杏仁　麻黃（各等分）</p>
<p>上銼。每服四錢。水一盞半。姜五片。棗一枚。煎至七分。去滓。食前溫服。（熊宗立云。產後咳嗽。此方最良。元周以此法治若干人皆驗。）</p>

<h2>產後寒戰交牙第二</h2>
<p>產後患寒戰交牙者。其人瘀血不得下而發。宜將折衝飲行瘀煎之類。點服獨行散一二匙。若惡露下過多。或難產而用力太甚。才分娩而發者。與還元煎。疲勞甚者。附子湯。人參湯之類。宜擇用。併兼用奪命散最妙。</p>
<p>折衝飲（見產論）　行瘀煎（見血暈）　還元煎（見半產）</p>
<p>附子湯（聖濟）</p>
<p>附子　人參　生薑　大棗（各等分）</p>
<p>上水煎。溫服。</p>
<p>人參湯</p>
<p>人參（二三錢）</p>
<p>以水二盞。煮取一盞溫服。</p>
<p>奪命散（大全良方）　治產後血暈。血入心經。語言顛倒。健忘失志。及產後百病。</p>
<p>沒藥　血竭（各等分）</p>
<p>上細研為末。才產下便用童子小便。細酒各半盞。煎一二沸。調下二錢。良久再服。</p>

<h2>產後崩漏第三</h2>
<p>產後惡血崩漏不止者。當速施遏崩之術。令產戶緊閉。乃與膠艾湯。或惜紅煎。兼用三聖散。獨黝散之類。若不止者。宜還元煎。凡血症用理血之劑而不效者。非理氣之藥則難收效。不可不知也。又收血理氣之藥。並不效者。卻宜涼血之劑。三黃炙艾湯尤神效。又古方有瑞蓮散。實產後血崩之神藥也。</p>
<p>膠艾湯（一方加乾薑一兩）</p>
<p>芎藭　阿膠　甘草（各二兩）　艾葉　當歸（各二兩）　芍藥（四兩）　乾地黃（六兩）</p>
<p>上七味。以水五升。清酒五升。合煮取三升。去滓內膠令消盡。溫服一升。</p>
<p>日三服。不差更作。</p>
<p>惜紅煎　治婦人經血不固。崩漏不止。及腸風下血等證。</p>
<p>白朮　山藥　炙甘草　地榆　續斷（炒）　芍藥（炒）　五味子　荊芥（炒）　烏梅</p>
<p>水一鍾半。煎七分。食遠服。○如火盛者。加黃連黃芩。</p>
<p>獨黝散　此方不獨治經血不止。諸血用之悉驗。</p>
<p>蓮房不拘多少。燒存性</p>
<p>細末。每服一二錢。湯子送下。</p>
<p>遏崩術（見產論翼）　三聖散（見產前吐血）　還元煎（見半產）</p>
<p>瑞蓮散　治產後惡血崩漏。狀如泉水。</p>
<p>瑞蓮（百枚燒存性）　棕櫚（燒存性）　當歸　官桂（各十錢）　檳榔（二枚）　川芎（七錢半）　鯉魚鱗（炒七錢半）</p>
<p>上為細末。每服三錢。煨生薑酒調。如未止更進一服。</p>

<h2>產後兒枕痛第四</h2>
<p>（一名產枕痛一名血枕痛）</p>
<p>產後臍下疼痛。其痛一陣來而止。後來者。名曰兒枕痛。此瘀血將出而為痛者。其實佳兆也。然產訖則忽腹中空虛。是以產婦多不堪其痛。宜用破血之劑。行瘀煎。獨行散。延胡索散。熊氏延胡索湯之輩。宜擇用。若產後不大便數日。而小腹疼痛者。宜兼用龍飛丸。或用四物加大黃湯。木直煎之類。若初瘀血頗快下。大便亦如故。而腹中㽲痛者。則屬疝。加味建中湯。加味通氣湯之類。並有奇效。</p>
<p>永類延胡索散　治產後兒枕腹痛效。</p>
<p>延胡索　當歸（各一兩）　琥珀　蒲黃（炒各一分）　芍藥（五錢）　肉桂（三分）　紅藍花（二錢）</p>
<p>上為末。童子便合。溫調三錢。食前服。</p>
<p>熊氏延胡索湯　治兒枕痛。不可忍者。甚效。</p>
<p>當歸　桂心　延胡索（各等分）</p>
<p>上水煎服。○舊為散。周常加山楂子等分。為湯用。甚效。</p>
<p>行瘀煎（見產後）　獨行散（見血暈）　龍飛丸　木直煎（並見傷寒啟微）</p>
<p>四物加大黃湯　即四物湯加大黃。</p>
<p>加味建中湯</p>
<p>芍藥（上）　桂枝（中）　甘草（下）　木香（下）　吳茱萸　茴香（中）　生薑（中）　大棗（中）</p>
<p>上八味。水煎溫服。</p>
<p>加味通氣湯　治小腹及腰疼。甚則肛門窘迫不可忍。</p>
<p>茴香　烏藥　當歸　芍藥　香附（各上）　山楂子　陳皮　茯苓　白朮　延胡索　吳茱萸　檳榔　澤瀉（各中）　木香（中下）　甘草（下）</p>
<p>上十五味。水煎溫服。</p>

<h2>產後發熱第五</h2>
<p>產後發熱者。多因血虛而陽無所依。浮散於表也。勿妄為外感施治。宜七味益母飲。加尿瓦一二錢。內有四物補陰。益母行血。炮姜辛溫從治而能收浮散之陽以歸於陰。若氣血俱虛。而惡寒發熱。渴而煩躁者。十全散。熱甚者倍桂。加炮姜熟附子。若夜熱甚。小腹及腰痛者。與雙和湯。調中益血則熱自解。若由外感而發熱頭痛。頸項強。無汗。脈浮而有力者。宜竹葉湯。或熟料五積散。又壯熱煩悶。乾嘔口燥。吟呻喘滿。脈實者。宜用黃連解毒湯。</p>
<p>七味益母飲</p>
<p>益母草（上）　當歸　川芎　芍藥　乾地黃　乾薑（炮各中）　甘草（下）</p>
<p>上七味。水煎溫服。</p>
<p>十全散　雙和湯（並見黴癘新書）</p>
<p>竹葉湯　黃連解毒湯（並見傷寒啟微）</p>
<p>制尿瓦法　安土器於廡下。尿之三百日。便取起打破。再炭火中燒赤。置地上一宿。極細末聽用。（予往往以此易用於童便）</p>
<p>熟料五積散（見產要）</p>

<h2>產後飽悶第六</h2>
<p>惡露不下而飽悶者。瘀血上逆也。宜行瘀煎。若腹中有塊。上衝欲吐者。與九聖飲。兼進白丸子。若塊在小腹不散者。琥珀黑龍丹。若胸膈飽悶。心下痞硬。或肩背疼痛。有寒熱者。屬氣滯。宜指迷七氣湯一貼。正氣天香湯一貼。相和用之。</p>
<p>九聖飲　治腹中有塊。溫溫欲吐。或上衝心下痛甚者。</p>
<p>半夏　茯苓（各上）　肉桂　乾薑　橘皮　香附　山楂　莪朮（各中）　甘草　烏梅（各下）</p>
<p>上十味。水煎溫服。</p>
<p>白丸子</p>
<p>半夏（醋煮乾）　茯苓（各十錢）</p>
<p>上細末。以生薑汁作薄糊丸。梧子大。每三十粒。溫水下。</p>
<p>行瘀煎（見產後）　黑龍丹（見言語錯亂）</p>
<p>指迷七氣湯　治胸膈飽悶。心下痞硬。</p>
<p>青皮　陳皮　桔梗　莪朮　桂枝　藿香　益智（各十錢）　香附（十錢半）　甘草（三分）　加半夏（三分）</p>
<p>上每三錢。水一盞。姜四片。棗二枚。煎七分服。</p>

<h2>產後乳結痛第七</h2>
<p>婦人產後血氣盛。而乳房作脹。乳頭縮退。兒不得飲。余乳蓄結脹痛。憎寒發熱者。須先令細心人微微揉之柔和。卻吮乳汁通之。然後宜與麥芽煎。或玉露散。外將百草霜水和勻。塗乳房尤神驗。</p>
<p>麥芽煎</p>
<p>麥芽（炒熟五錢）</p>
<p>上水煎。溫服立消（此薛己方）</p>
<p>玉露散（良方）　治產後乳脈行。身體壯熱疼痛。頭目昏痛。大便澀滯。悉能治之。涼膈壓熱下乳。</p>
<p>人參　茯苓　甘草（各中）　桔梗　川芎　白芷（各上）　當歸　芍藥（各下）</p>
<p>上為細末。每服三錢。水一盞。煎至七分溫服。如煩熱甚大便秘者。加大黃。</p>

<h2>產後語言錯亂第八</h2>
<p>產後談笑不止口。或錯言妄語。如見鬼物。或欲逾牆上屋者。此敗血凌心也。多死。與黑龍丹。萬死中求一活。若唯煩亂者。失笑散加鬱金各等分。</p>
<p>黑龍丹（良方）　治產後一切血疾。產難胞衣不下。危急惡疾垂死者。但灌藥得下。無不全活。神驗不可言。</p>
<p>當歸　五靈脂　川芎　良薑　熟地黃（各十錢）</p>
<p>上細銼。以沙合盛。封口鹽泥固濟。以文武火。煆一炷香。放涼處。退火毒。取開看。成黑糟色。乃取出細研。入後藥。</p>
<p>百草霜（五十錢）　硫黃　乳香（各一錢半）　花蕊石　琥珀（各一錢重）</p>
<p>上共前煆過藥研勻。酢糊丸彈子大。每服一丸。用薑汁好酒童便半盞。將藥一丸。於炭火中燒。淬入酒便內。調化頓服立效。○前哲既稱讚此方之神驗。余屢試之。實不虛。</p>
<p>失笑散（局方）</p>
<p>蒲黃（炒）　五靈脂（各等分）</p>
<p>為末。釅醋調二錢服。</p>

<h2>產後嘔吐第九</h2>
<p>產後嘔吐者。宜先用半夏竹茹湯。若緣惡露不行者。二陳湯加當歸莪朮肉桂乾薑。若傷食胸腹㽲滿者。六君子湯加木香厚朴。或二陳湯加丁子縮砂。若不效。更加人參炮姜澤蘭蘭草。若虛寒脈沉微者。理中湯加丁子蘭草。若敗血散於脾胃。腹脹嘔吐者。抵聖湯加肉桂穿山甲。其效尤捷。</p>
<p>半夏竹茹湯</p>
<p>半夏　竹茹　茯苓　伏龍肝（各錢）</p>
<p>上水一盞半。入生薑五片。煎取一盞服。</p>
<p>二陳湯　六君子湯　理中湯（見產後）　抵聖湯（見產後腹滿）</p>

<h2>產後淋疾第十</h2>
<p>產後小便淋瀝澀痛者。此瘀熱在膀胱之所致也。宜用開閉煎。或滑石散。石葦湯並效。若痛甚者。宜緩痛煎。若惡露下少。臍下有堅塊者。此舊瘀血。礙尿道之所致也。將行瘀煎加葵子滑石車前子甚效。又有子宮下墜。壓尿道而致癃閉者。輕者終日而始通。重者一日夜而自利。此以子宮漸複本位也。若倘不得通。小腹脹滿者。便宜施泄閉術。隨手即效。尋宜用五聖飲。又未產前。不大便五六日。延產後倘數日不通。而小便癃閉者。此燥屎填滿於大腸。小腸為之被窄狹之所致也。宜木直煎。或用開閉煎。吞龍飛丸三十粒。未效者。不將芒硝滋之則不可。潤下飲。每每奏奇效。</p>
<p>開閉煎（家方）　治男婦小便淋閉之妙方。</p>
<p>夏枯草　白茅根（各上）　莽草　瞿麥　茯苓　冬葵子　西洋參　滑石（各中）　甘草（下）</p>
<p>上水煎。溫服。</p>
<p>滑石散（千金）　治產後淋。</p>
<p>滑石（五錢）　木通　車前子　冬葵子（各四錢）</p>
<p>上為末。以漿水調服方寸匙。</p>
<p>石葦湯（家方）　治小便淋瀝。陰中痛。</p>
<p>石葦（上）　瞿麥（中）　車前子（上）　葵子（中）　木通（中）　甘草（下）　茯苓（中）</p>
<p>上水煎服。○此方治男子膿淋。其效如神。</p>
<p>緩疼煎（家方）　凡諸淋小便澀痛。不可忍者。用之功效如神。</p>
<p>當歸（中）　川芎（下）　芍藥（中）　地黃（中）　焰硝（上）　甘草（上）　車前子（上）</p>
<p>上水煎服。</p>
<p>行瘀煎（方見產後）</p>
<p>五聖飲（家方）　此方治諸淋甚妙。</p>
<p>萍蓬根（四錢）　車前子　蜀黍　蘇木　甘草（各二錢）</p>
<p>上以水六合。煮取三合。去滓溫服。可斷鹽味。</p>
<p>木直煎　龍飛丸（並見傷寒啟微）</p>
<p>潤下飲　治小便淋瀝澀痛。大便秘結。</p>
<p>大黃　芒硝　當歸　地黃　芍藥（各等分）</p>
<p>上水煎。溫服。</p>

<h2>產後腫滿第十一</h2>
<p>凡胎前腰腳微腫煮。十居六七。然此症雖不用利水之劑。過產後十餘日。則自消散。若小便澀滯。漸腫滿者。此濁液流入經絡。留淫日深。而散漫偏身也。宜橐吾飲。其人若小腹有塊堅硬。唇口乾燥。惡露下少者。紫葳蘇木湯。千金牛膝湯之類擇用。若腫中有凝結者。澤蘭湯。若腫脹稍硬。腰以下更甚。而無光澤。小便短少者。六皮煎。用之不效。而腫勢日盛者。禹翼湯尤神效。若服諸導水消瘀藥。而並不效。腫脹充滿。腹如抱甕。手足似腰大。皮膚光澤如瑩者。非用禹績湯。則決不能取效。此方實出於予之心裁。而救危起廢之神劑也。若每欲小便。必大便不利者。甚治難。宜用茯苓湯加琥珀一錢。若腫不甚。涉遍身而飲食氣宇如故。或時肩背拘急。或又疼痛者。宜利氣之劑。集香湯尤妙。若面獨腫而久不消者。分心氣飲。或獨味紫蘇湯。若面無血色。腫狀如熟李。大便滑者。下焦虛。琥珀湯。加味腎氣丸料之類。宜選用焉。其他有腳氣濕毒敦阜等腫。而見證多端。治法各異焉。不能備錄於茲。詳載在腫脹彙編。</p>
<p>橐吾飲　治產後浮腫。</p>
<p>當歸　芎藭　芍藥　茯苓（各一中合）　桑白皮（一大合）　甘草（一小合）　橐吾莖葉（三大合）</p>
<p>上水煎服。次日加橐吾四錢。又次日加六錢。更加南天燭實尤妙。</p>
<p>紫葳蘇木湯　治惡露不盡。產後浮腫者。</p>
<p>紫葳（即凌霄花葉一大合半）　冬瓜子（一大合）　蘇木　當歸　川芎　茯苓　牡丹皮（各一中合）　甘草（一小合）</p>
<p>上以水一盞半。煮取一盞。去滓溫服。</p>
<p>澤蘭湯　治產後四肢腫滿。腫中或凝結有塊。而不食者。</p>
<p>澤蘭　防己（各上）　枳殼　琥珀　桂心　商陸　半夏　歸尾　莪朮　茯苓　麥芽　桃仁　神麯　桑白皮（各中）</p>
<p>上生薑水煎。食遠服。大便秘者。加大黃。</p>
<p>千金牛膝湯（見血暈）</p>
<p>禹翼湯（鶴陵定）　治產後腫滿。皮膚無光澤。腫稍硬者。</p>
<p>桑白（二大合）　防己（一大合半）　茯苓　豬苓（各一中合）　黑豆（一大合）　澤蘭（一大合半）</p>
<p>上以水一盞半。煮取一盞溫服。日與二三貼。○若氣不和。加紫蘇一大合。</p>
<p>禹績湯（鶴陵定）　治遍身腫滿。皮膚光澤如瑩。小便不利。諸藥不能療者。</p>
<p>西瓜皮　赤小豆（冬瓜內蒸曬乾各二大合）　冬瓜子　西瓜子　豬苓　茯苓（各一中合）　大腹皮　冬瓜皮（各一大合半）　海金砂（一小合）</p>
<p>上以水一盞半。煮取一盞溫服。宜進日二貼。（以上二方余之所創裁。而治產後腫脹之神方也。余歷年試用。救危起廢者。不勝枚陳矣。夫古人作詩數千首。其間一二自有令人感動之合作。余之立此方。亦自得配合之宜者也。分兩必不可加減。奇效靈驗。難以具述。）</p>
<p>茯苓湯（楊氏）　治脾氣不實。手足浮腫。小便秘澀。氣急喘滿。</p>
<p>白茯苓　澤瀉　香附子　大腹皮　乾生薑　橘紅　桑白皮（細銼炒各等分）</p>
<p>每服五錢。水一盞半。煎至七分。去滓溫服。不拘時候。</p>
<p>集香湯（直指）　凡腫脹先用諸香以透徹關絡。則小便易利。</p>
<p>沉香　丁香（各二錢）　木香　青木香　藿香　川芎　檳榔　赤茯苓　枳殼　甘草（炙各三錢）　乳香（錢半）　麝香（一字別研）</p>
<p>上粗末。每二錢半。姜三片。紫蘇三葉。空心煎服。</p>
<p>分心氣飲</p>
<p>紫蘇（二大合）　大腹　芍藥　木通　半夏　茯苓　桑白皮（炒）　橘皮　青皮　羌活　甘草　燈草（各一中合）</p>
<p>生薑三片。棗二枚。水煎溫服。</p>
<p>琥珀湯　治脾腎虛寒。小水不利。遍身腫滿。或咳喘者。</p>
<p>琥珀　人參　白朮（一大合）　茯苓（一中合）　桂枝　附子　乾薑　砂仁（一小合半）　陳皮　破故紙　桑白皮（童子小便浸炒各一中合）</p>
<p>上水煎。食遠服。</p>
<p>加味腎氣丸</p>
<p>即八味丸。加車前子。牛膝。</p>
<p>加味六皮煎</p>
<p>大腹皮（上）　桑白皮（上）　五加皮（中）　茯苓皮（上）　生薑皮（中）　木瓜（中）　橘皮（中）　薑黃（下）　燈草（上）</p>
<p>上九味。以水二盞。煮取一盞溫服。</p>

<h2>產後玉門不閉第十二</h2>
<p>產後玉門不閉者。因難產強努力。或死胎不娩。以回生術救之後。玉門錯和。氣血失運行。而不能括縮。致不知小便漏出也。以十全散加五味子。外石灰湯浸患處。又努掙太過。陰肉下脫內出者。硫黃洗方。石灰韭菜洗方。並有奇效。</p>
<p>石灰湯</p>
<p>石灰（一升炒令能燒）</p>
<p>上投熱湯中攪調。俟適溫。乃取澄清移大盆內。坐湯中以浸玉門。斯須平復如故。（此方原肘後方）</p>
<p>十全散（見黴癘新書）</p>
<p>產後陽氣虛寒玉門不閉用（陳飛霞）</p>
<p>石硫黃　海螵蛸　五味子</p>
<p>上等分。共為末。摻患處。日三易。（同上）</p>
<p>治產後玉門不閉陰戶突出方（陳飛霞）</p>
<p>石硫黃（三錢）　菟絲子　吳茱萸（各二錢）　蛇床子（一錢五分）</p>
<p>水一大碗。煎至半碗。頻洗自收。</p>
<p>治產後子宮墜出戶外。數日不收。用未經水石灰幹一塊重二三斤者。又以韭菜二三斤。煎湯置盆中。將石灰干投入。灰開湯沸聲盡。乃濾去灰。帶熱坐於盆上。先薰後洗。即以熱韭菜於患處揉抑。一日洗一二次。以消軟收入為度。（赤水玄珠）</p>

<h2>產後口舌病第十三</h2>
<p>產後口舌糜爛者。已投尋常瀉火清熱劑。而不效者。往往綿歷累月不差矣。前哲方書。率皆略之不載。予二十年來每於此證。求治法於方書口舌門。屢試數方。多不得效。竊恨小恙之難醫焉。近有一二患者。已三閱月不差。於是覃思焦神。略有所悟。乃制方與之。七八日而得全愈。後試之數人。應效如桴鼓。凡舌上舌傍。如無皮狀。其色紅赤。飲食刺舌者。此皆血分濕熱之所致也。宜令服當歸飲。而傅間碧散。若咽喉生瘡。舌上有白胎。久不愈者。屬淡飲加味導淡湯主之。若咽喉口舌腐爛者。宜薔薇遺糧湯對喉癬湯。</p>
<p>當歸飲</p>
<p>當歸　川芎　芍藥　地黃　何首烏　荊芥　防風　黃耆（各五分）　甘草（二分）　蒺藜子（七分）</p>
<p>上水煎。溫服。</p>
<p>間碧散（鶴陵定）　治產後口舌糜爛神效。可秘可秘。</p>
<p>淡竹干（燒存性五錢）　人中白（瓦上燒以變白色為度四錢）</p>
<p>上二味。極細末。傅舌上。日五六度。</p>
<p>加味導淡湯</p>
<p>陳皮　枳實　半夏　茯苓　南星（各上）　甘草（下）　竹瀝（一大蛤殼）　白芥子（中）</p>
<p>上七味。水煎。入竹瀝更溫服。</p>
<p>薔薇遺糧湯　喉癬湯（並見黴癘新書）</p>

<h2>產後煩渴第十四</h2>
<p>產訖面色青慘汗出。而煩渴不止者。此因驟脫血也。此證多難治。（治法見第一卷）若產後二三日發熱頭痛。脈浮數而煩渴者。宜竹葉湯。若惡露下多。發熱煩渴者。集驗栝樓湯。若吐利腹痛。手足清冷煩渴者。聖惠白朮散。隨症宜擇用。</p>
<p>集驗栝樓湯　療產後血渴。</p>
<p>地黃（中）　栝蔞根（上）　土瓜根（上）　甘草（下）　人參（中）　麥門冬（中）　大棗（中）</p>
<p>上水煎服。（產寶無地黃麥門冬。有牡蠣粉等分。）</p>
<p>聖惠白朮散</p>
<p>白朮　橘皮　人參　麥門冬　乾薑（炮各上）　甘草（中）　生薑（下）</p>
<p>上水煎服。</p>
<p>竹葉湯（見傷寒啟微）</p>

<h2>產後自汗盜汗第十五</h2>
<p>產後虛汗不止者。經效黃耆湯主之。若不效者。宜投黃耆建中湯。加牡蠣浮麥麻黃根。若絕汗如雨。手足清冷者。危如風前燈。當用參附耆蠣湯。於百死中求一活。凡自汗盜汗證。以五倍子細末。酢和調貼臍中。止汗甚妙。用溫粉亦宜。（方見傷寒啟微）</p>
<p>經效黃耆湯　治產後汗出不止。</p>
<p>黃耆（上）　白朮　牡蠣　茯苓　麥門冬　防風　地黃　大棗（名中）</p>
<p>上以水二合。煮取一合。去滓溫服。</p>
<p>黃耆建中湯</p>
<p>芍藥（上）　黃耆（中）　桂枝（中）　甘草（中）　生薑（中）　大棗（下）　膠飴（上）</p>
<p>上六味。以水二合。煮取一合。去滓。內膠飴更上微火。消解溫服。</p>
<p>參附耆蠣湯（家方）</p>
<p>人參　黃耆　附子　牡蠣（各等分）</p>
<p>上作大劑。以水二合。煮取一合。溫服。</p>

<h2>產後脅下疼痛第十六</h2>
<p>產後惡露不盡。脅肋疼痛者。宜先與豁脅散。此方不效。仍引脊膂攣急者。此血氣不和之所致也。宜枳殼煮散。當歸柴胡湯。柴胡疏肝散之類。若寒熱頭眩。脅脹作痛。或身疼者。此肝腎二經。氣血虧損者。宜用補肝散。若脅滿氣急。目昏濁視物不明。其脈遲弱者。檳榔湯主之。</p>
<p>豁脅湯　治因瘀血留滯。脅肋疼痛神效。</p>
<p>芍藥　延胡索　肉桂　牡丹皮（各中）　香附子（上）</p>
<p>上五味。水煎溫服。</p>
<p>枳殼煮散（本事方）　治因悲哀鬱結。血氣不和。兩脅牽痛。筋脈緊急。漸至脊膂攣急。</p>
<p>枳殼（炒黃）　細辛　桔梗　防風　川芎（各上之上）　葛根　甘草（炙各中）　生薑（下）</p>
<p>上每服四錢。水一盞半。煎七分服。</p>
<p>當歸柴胡湯　治產後血氣脅肋脹痛。</p>
<p>當歸（上）　芍藥　桔梗　檳椰　枳殼（各中）</p>
<p>桂枝　柴胡　青木香（中之下）</p>
<p>上以水二合。煮取一合服。（本出經效方）</p>
<p>柴胡疏肝散</p>
<p>柴胡　陳皮（醋炒各上）　川芎　芍藥　枳殼（麩炒）　香附子（各中）　甘草（下）</p>
<p>上每服四錢。水煎服。</p>
<p>補肝散（滑氏）　治肝腎二經氣血虧損。脅脹作痛。或寒熱頭眩身痛。</p>
<p>當歸　山藥　黃耆（炒）　川芎　山茱萸　五味子　木瓜（各上）　熟地黃　白朮（各下）　酸棗仁（炒）　獨活（各中）　大棗（下）</p>
<p>上每服五錢。水煎服。</p>
<p>檳榔湯</p>
<p>檳榔　附子　母姜（各上）　茯苓　橘皮　桂心（各下）　桔梗　白朮（各中）</p>
<p>上水煎溫服。若氣喘者。加半夏（上）川芎（中）甘草（下）。</p>

<h2>產後大便閉結第十七</h2>
<p>產後大便當六七日而來。若過之不通。腹痛腰疼。或腹滿者。宜調道飲。若猶不利者。兼吞龍飛丸二三十粒。至大段閉結者。不以芒硝潤導不效。宜桃核承氣湯。</p>
<p>調道飲（聖惠）　治婦人產後。大便不通。</p>
<p>當歸　川芎　防風　枳殼（制各上）　甘草（炙）</p>
<p>上每服五錢。用生薑三片。棗二枚。水煎服。</p>
<p>龍飛丸（見傷寒啟微）</p>
<p>桃核承氣湯</p>
<p>桃仁（上）　桂枝（中）　芒硝（中）　大黃（上）　甘草（中）</p>
<p>上以水一合半。煮取一合溫服。</p>

<h2>產後下利第十八</h2>
<p>產後下利不止者。不問何證。宜先與芍藥香附湯。兼用青陽丸。若不止者。宜茯苓建中湯。每服點服燒黑魚狗末五分。若腹痛者當歸湯。調中湯。量證擇用。滑瀉不止者。神效參香散主之。</p>
<p>芍藥香附湯　治產後下利。上氣足冷時發熱。腸鳴切痛。</p>
<p>芍藥　香附（各上）　乾薑（中）　甘草（下）　丁子（下）　砂仁（中）　一方加黃連。治下利不已。乾噫食臭。</p>
<p>上每服四錢。以水二合。煮取一合溫服。</p>
<p>青陽丸（方見產論）</p>
<p>茯苓建中湯</p>
<p>即小建中湯如茯苓。（上）</p>
<p>當歸湯（千金）　療產後下利腹痛。</p>
<p>當歸　龍骨（各上）　乾薑　甘草（炙）　附子（炮）　熟艾（各下）　白朮（中）　芎藭（上之上）</p>
<p>上八味。水煎溫服。</p>
<p>調中湯　治產後腸胃虛怯。冷氣乘之。腹脅刺痛。洞泄不止。</p>
<p>良薑　當歸（酒浸）　桂心　芍藥（炒）　附子（炮）　川芎（各上）　甘草（中）</p>
<p>上為粗末。水煎熱服。</p>
<p>神效參香散　治產後脾胃虛寒。泄瀉洞下。及痢疾日久。積已盡。滑瀉不止。此收澀如神。</p>
<p>人參　木香（各二錢）　肉豆蔻（煨）　茯苓　白扁豆（各四錢）　陳皮　罌粟殼（去蒂穰醋炙每一兩）</p>
<p>上為細末。每服一錢匙。清米飲調下。食遠服。</p>

<h2>產後遺尿第十九</h2>
<p>鹿蠣飲（鶴陵定）　治產後遺尿不知出。及小便頻數。</p>
<p>芍藥　黃耆　牡蠣　益智　鹿茸　人參（各等分）　大棗（減半）</p>
<p>上七味。水煎溫服。（治驗在卷五宜參看）</p>
<p>喬一方（醫綱）　婁英曰。町婦人產後尿不禁。面微浮。略發熱於午後。此膀胱為坐婆所傷。</p>
<p>黃耆　當歸　芍藥（各一錢半）　白朮（一錢）　人參　陳皮（各五分）　甘草（炙些）</p>
<p>上水煎。熱飲之。</p>
<p>桑螵蛸散（千金翼）　治產後小便數。及遺尿。</p>
<p>桑螵蛸（三十個炒）　鹿茸（酥炙）　黃耆（各三兩）　牡蠣（煅）　赤石脂　人參　厚朴（各二兩）</p>
<p>上為末。空心粥飲調下二錢。（外臺方無厚朴石脂有甘草生薑）</p>

<h2>產後腹脹第二十</h2>
<p>產後腹脹而嘔吐。心下痞硬。或腹痛者。由飲食停滯。宜消導飲。加半夏一二錢。若不嘔吐而腹脹滿。小腹疼痛。大便難者。宜木直煎。若無腹痛痞硬等證。唯腹脹滿悶。嘔吐不定者。敗血犯脾胃也。抵聖湯。加穿山甲肉桂極妙。又惡露下少。腹脹滿。大小便秘澀者。宜忍冬飲。</p>
<p>消導飲（方見嘔吐）　木直煎（方見傷寒啟微）</p>
<p>抵聖湯　治婦人產後腹脹者。尤神效。</p>
<p>赤芍　半夏　澤蘭葉　人參　陳皮（各分）　甘草（一錢）</p>
<p>上每服一劑。用水一碗。生薑焙乾半兩。煎至半碗。去滓。分熱三服。</p>
<p>忍冬飲</p>
<p>當歸　川芎　芍藥　木通　赤茯苓　蓽澄茄　忍冬（各等分）</p>
<p>每服五錢。水煎溫服。○此方又治婦人月經不來。二三月。腹脹滿。大小便秘者。忍冬消腹脹之神藥。人未知之。</p>

<h2>產後痿躄第二十一</h2>
<p>產後之痿躄。多患水腫痢疾等證之後。血液耗亡。筋失滋養者。間致此證也。大抵不歷百日以上。若半歲。則難得功矣。所以然者。因產亡血。因疾損津液也。健腳煎。續斷丸。思仙續斷丸之類。宜擇用。</p>
<p>健腳煎</p>
<p>鹿茸（酒洗炒）　續斷　當歸（酒洗）　芎藭　芍藥　熟地黃　牛膝（酒洗）　杜仲（炒去絲各等分）</p>
<p>上八味。水煎服。</p>
<p>續斷丸</p>
<p>續斷（二兩）　破故紙（酒炒）　牛膝（酒洗）　木瓜（酒洗）　萆薢（酒洗）　杜仲（去粗皮切片酒洗炒去絲各一兩）</p>
<p>上為細末。煉蜜丸如梧子大。每服六七十丸。空心酒下。</p>
<p>思仙續斷丸</p>
<p>萆薢（四兩）　防風（去蘆）　薏苡仁　思仙木（即杜仲銼絲斷各五兩）　牛膝（酒浸）　續斷　羌活　生地黃　五加皮（各一兩）</p>
<p>上為末。酒三升。化青鹽三兩。木瓜半斤去皮子。以鹽湯煮木瓜成膏。杵丸如梧桐子。每服五十丸。空心溫酒送下。○余作湯用之亦效。</p>

<h2>產後陰門腫痛第二十二</h2>
<p>產後陰門腫痛者。初產婦常多。而累產者小矣。初產多者。蓋方分娩之際。兒頭擦破陰門也。如累產者。既以為熟路。不致破傷也。然難產而娩者。雖經產者。往往致損傷。率皆陰肉起脹。欲小便。則陰中疼。輕者取蛤煮汁薰洗。擦枳殼散。重者將六味薰洗方熨之。而後傅收傷油極妙。或傅失痛散亦可。內宜將補中益氣湯加五味子主之。</p>
<p>枳殼散　治產後陰門破傷。或陰腫下脫內出。</p>
<p>枳殼（燒存性）</p>
<p>上為細末。麻油和敷患上。</p>
<p>收傷油　治金瘡。及擦破之妙方也。</p>
<p>麻油（一合）　椰子油（二錢）　乳香　沒藥（各五分）　小麥（五錢）</p>
<p>上以小麥入麻油中。煮一炊時。候麥變黑色浮油上。以絹布濾去滓。下火。入余藥攪勻。綿浸。磁器收貯聽用。</p>
<p>六味熏洗方</p>
<p>艾葉（上）　荷葉（上）　干萊卜葉（上經三年以上者佳）　防風（中）　枯礬（下）　甘草皮（中痛甚者倍加）</p>
<p>上為大劑。以水五六升。煮連滓熏洗。</p>
<p>補中益氣湯（方見諸書不復錄）</p>
<p>失痛散</p>
<p>滑石　黃丹　甘草（各二錢）　質干（一錢）</p>
<p>上極細末。雞子清和調。先入手帛於熱湯中。絞取熨患處。便傅。</p>

<h2>產後乳汁少第二十三</h2>
<p>古論曰。乳汁乃氣血所化。其或不行者。皆由血氣虛弱所致也。雖然有屢產乳汁絕無者。則不得謂特由氣血虛弱也。若夫血氣虛弱。奚能屢懷妊。蓋素乳脈壅閉。不能為乳者而已。故如絕無乳者。雖與藥率皆不效。惟雖有乳不甚多者。宜服藥以通之。今擇經驗方列於下。</p>
<p>通乳煎　產後乳汁少者。宜服之。</p>
<p>當歸　王不留行　天花粉　甘草（各上）　柴胡　穿山甲　香附子（各中）</p>
<p>上作大劑。水煎。凡欲服此藥。先以赤小豆二合煮熟。食一盞訖。服藥汁一碗。復每歷一炊時。服藥食小豆如前法。最後尋飲溫酒少許。凡欲令小兒吮乳。宜揉乳頭數遍而後與之。</p>
<p>木通丸　治產後百日內。不乳出者。</p>
<p>木通葉（六錢）　牡蠣（四錢）　麥門冬（二錢）</p>
<p>上為細末。丸大豆大。蒲黃為衣。每服四十五粒。日三夜三。忌五辛生蔬他煎湯。</p>
<p>胡桃散　通乳汁之妙劑。</p>
<p>穿山甲（一錢）　帶皮胡桃（十個）</p>
<p>上為細末。分作三貼。宜每食前服一貼。服後吃醴酒二盞。凡服日三。二三日而必有奇效。可秘。</p>
<p>玄素散</p>
<p>百草霜　天花粉（各等分）</p>
<p>上細末。每服一錢。大麥煮汁送下。日二。一臈內服。服僅一日而見奇效如神。（一臈七朝也。）</p>
<p>通乳瓢畜飲</p>
<p>瓢畜（一錢）　桔梗（八分）　天花粉（七分）　紫蘇（五分）　甘草（五釐）</p>
<p>上五味。以水一盞半。煮取一盞溫服。</p>

<h2>產後目疾第二十四</h2>
<p>婦人產後眼昏頭暈。虛渴口乾者。宜熟地黃湯。若午後至夜。昏花不明者。四物補肝湯。若產後崩漏。亡血過多。致睛珠疼痛者。四制香附丸。若瘀血留滯發血暈。赤脈遮睛。隱澀難開者　宜芎藭湯。又不問產前產後。凡眼內紅腫。痛爛難開者。以掃紅煎熏洗。內服加味四物湯。若怒滿白睛疼痛甚者。以灼明煎頻熏煎。內服退血湯極妙。</p>
<p>熟地黃湯（審視瑤函）　治產後婦人眼昏頭暈。虛渴口乾。氣少腳弱。</p>
<p>熟地黃（酒洗曬乾八分）　糯米（一撮）　人參（一錢）　麥門冬（去心一錢五分）　甘草（炙五分）　花粉（三錢）</p>
<p>上銼劑。水二鍾。姜一片。棗二枚去核。煎至八分去滓服。</p>
<p>四物補肝湯（同）　治婦人產後。午後至夜昏花不明。</p>
<p>熟地黃（焙乾二兩）　香附子（酒製）　川芎　白芍藥（酒洗炒）　當歸身（酒洗炒）　夏枯草（各八錢）　甘草（四分）</p>
<p>上共為細末。每服二三錢。食後滾白湯送下。</p>
<p>四制香附丸（同）　治婦人產後崩漏。亡血過多。致睛珠疼痛。經水不調等證。</p>
<p>香附（杵去皮毛淨子八兩分作四分酒醋童便鹹水煮曬炒）　熟地黃（酒水煮爛搗膏）　黃蘗（酒炒各一兩）　澤蘭葉（淨葉）　白芍藥（酒洗炒）　當歸（炒各一兩半）　益母草（四兩勿犯鐵器）</p>
<p>除地黃膏。另入余藥。共為細末。鋪地一宿。去其火性。煉蜜為丸。如梧桐子大。每服二三錢。空心滾白湯送下。</p>
<p>芎藭湯（秘方）　治婦人有瘀血發血暈。因致眼疾者。</p>
<p>川芎　梔子　芍藥（各二錢）　香附　黃連（各一錢）　白芷（五分）　木香（七分）　沉香（八分）　茯苓（五錢八分）　人參（五分）　桔梗（四錢三分）　柴胡（一錢）　當歸（七分）　菊花（八分）　黃芩（七分）　陳皮（四錢）</p>
<p>上十六味。照常水煎服。</p>
<p>掃紅煎　治諸般眼患紅腫痛爛。</p>
<p>甘菊花　黃連（各錢半）　防風　荊芥　白芷（各三錢）　紅花　當歸（各一錢）　芒硝（二錢）　白礬（五分）</p>
<p>上煎湯。先熏後洗最效。</p>
<p>加味四物湯　灼明煎　退血湯（並見青囊瑣探）</p>

<h2>產後蓐勞第二十五</h2>
<p>蓐勞者。生產後更似無它疾。數日後四體倦怠。乍起乍臥。或五心煩熱。寒熱如瘧。或自汗盜汗。咳嗽吐痰。或口舌乾燥。虛羸喘乏。腹中絞刺。是其候也。至於已上證候略具。則積日累月。漸漸柴瘠。或加下利。或加不食。或加浮腫。而終致不起矣。其始雖似無它疾。必脈細數。或弦大無根。此際不論惡露多寡。宜用內補建中湯。若自汗盜汗者。加黃耆浮麥麻黃根。如血氣虛弱。產內失將理而成者。人參鱉甲散。三合散之類。如五心煩熱。熱熾而脈弦大有力者。加味四物湯。如四體疼痛乏力者。懷熟地湯。如虛熱悠悠。盜汗咳嗽。吐涎沫者。宜新定補元煎。虛甚者。加人參四五錢。又宜隨證加減。如蒸蒸身熱。口舌乾燥。欲得飲水。或咳逆上氣嘔吐者。崔氏竹葉飲。如虛汗不止者。經效黃耆散。麻黃根散之類。宜選而用之。凡自汗盜汗者。用藥外並宜將龍骨散貼臍中尤效。若此症累月後。至於四體羸瘦。腕後肉脫形匾。則雖扁倉復生。不能挽回矣。</p>
<p>內補建中湯（見產後）</p>
<p>人參鱉甲散　治蓐勞。皆由在產內未滿百日體中虛損。血氣尚弱。失於將理。或勞動作傷致成蓐勞。其狀虛羸乍起乍臥。飲食不消。時有咳嗽頭中昏痛。發歇無常。夜有盜汗。寒熱如瘧。背膊拘急。沉困在床。服此大效。</p>
<p>黃耆　鱉甲（各一兩）　牛膝（七錢半）　人參　茯苓　當歸　白芍　桑寄生　麥門冬　桂心　桃仁　熟地黃　甘草（各半兩）　續斷（二錢半）</p>
<p>上為細末。每服先以豬腎一對。去筋膜。以水兩大盞。生薑半分。棗三枚。煎至一盞去豬腎薑棗。然後入藥末二錢。蔥白三寸。烏梅一個。荊芥五穗。煎至七分。去滓空心晚食前溫服。神效。</p>
<p>三合散　治產後日久。虛勞發熱。</p>
<p>當歸　白芍　茯苓　地黃（各一兩）　柴胡　人參（各一兩五錢）　黃芩　半夏　甘草（各六錢）　川芎（一兩）</p>
<p>上為粗末。每服一兩。加生薑三片。紅棗一枚。水煎食前服。</p>
<p>加減法。如寒熱往來。臍腹脹痛。則去人參黃芩地黃加延胡桃仁。如懶食喜睡頭眩。則去柴胡加黃耆縮砂陳皮。如骨蒸盜汗自汗。則去川芎柴胡加鱉甲地骨皮牡蠣。如痰喘咳嗽。則去人參柴胡加麥冬貝母百合。如面黃肌瘦乏力。則去柴胡川芎加黃耆倍用人參。</p>
<p>加味四物湯（汪石山）　治產後蓐勞。四肢無力。睡而汗出。日晡潮熱。口乾五心如炙。熱熾而脈弦大有力者。</p>
<p>當歸　川芎　芍藥　地黃（各二錢半）　胡黃連　蓁艽　青蒿（各五錢）</p>
<p>上以水五盞。煮取二盞半服。</p>
<p>懷熟地湯（聖濟）　治產後蓐勞。寒熱肢體痛力乏。</p>
<p>熟地黃　當歸　人參　白朮　茯苓　甘草　淡竹葉　鱉甲　牛膝　桂心　麥門冬（各一錢）</p>
<p>上水煎。溫服。</p>
<p>新定補元煎（元周定）　治產後蓐勞。咳嗽吐痰。寒熱盜汗。顏色青慘。或面戴陽。肢體乏力。或大便滑利者。</p>
<p>人參（一二錢或四五錢）　白朮　炒姜　貝母　牡蠣　五味子（各一錢二分）　訶子　烏梅　甘草（各五分）</p>
<p>以水二合半。煮取一合。去滓溫服。蒸熱加地骨皮鱉甲胡黃連。咳嗽甚者。加沙參百部根天門冬。下利不止者。加熱附子肉豆蔻。</p>
<p>崔氏竹葉飲　治骨蒸唇乾口燥。欲得飲水。</p>
<p>竹葉（一握）　麥冬　半夏（各一升）　甘草（炙三兩）　大棗（二十枚）　粳米（五合）　生薑（三兩）</p>
<p>上水煎。溫服。</p>
<p>經效黃耆散　療產後汗出不止。</p>
<p>黃耆（十二分）　白朮　牡蠣　茯苓　防風　麥冬（去心）　生地黃（各八分）　大棗（八個）</p>
<p>上以水二升。煎取七合。去滓空心溫服。（黃耆得防風。其功愈大。為易於固表也。）</p>
<p>麻黃根散　治產後虛汗不止。</p>
<p>當歸　黃耆　麻黃根　牡蠣（煆為粉）　人參　粉草（各等分）</p>
<p>上㕮咀。每服四錢。水一盞。煎至七分。去滓溫服。</p>
<p>新定龍骨散　此方予所新定。而治自汗盜汗之神藥也。用此莫不悉神驗。</p>
<p>龍骨（三錢）　五倍子（五錢）</p>
<p>上二味。極細末。嚴醋和調貼臍中。以紙蓋其上。</p>

<h1>卷五</h1>

<h2>治驗（三十四道）</h2>
<p>福山侯臣某。住丸山第。其妻臨產。腰腹俱痛。莫有休止。卻不免者四日。醫者踵接。治卒無一驗。精神狼狽。腰重如帶五千錢。小恭欠利者一日夜。因而更腹滿致加重若覆箕。啼泣呻吟。欲求自盡。至使傍人悸。或以為駢胎。或以為子死腹中。眾論落落不一。舉家虩虩。決之蓍。揲者釋策曰。此卦得醫於東南。而有幽谷回春之象焉。乃商親知問擅名於東南者。同僚中澤養亭曰。我曩讀櫟窗先生序於黴癘新書。而知片倉深甫工於產蓐之技。是以上年山婦娠孕患水腫時。倚渠而得全安。其居今正中東南。亟迎治之。或可無恙。遂修書懇予治診。往診視之。患狀雖似危殆。喜脈迢迢有神。尤可措手。乃曰無慮。得小恭利。苦楚必安。以加味芎歸湯煎服之。而施導水術。則隨手小恭利約數升。忽艱若悉釋貼席而睡。於是舉族始悸定心降。予曰。今夜必可達即便歸矣。而夜過半叩予門急。塾生起問之。則報曰。丸山產者。復號呼悶亂幾至於死。請速再診視。予謁使者曰。黃昏細察無可慮。何倏爾有此大變乎。是必迫免身者爾。淫雨泥濘。途遠而夜闌。奚須冒此往乎。便合牛膝散二帖。獨行散一帖。囑使者曰。娩訖宜交用之也。使者持之還家。則坐婆已褰裳澡浴兒矣。婦則若遽然惡夢始覺。神思清爽。不數日而步履飲啖一如舊矣。（一）</p>
<p>染戶街鋸子匠妻。難產不達。速予治診。時予不在。門人往與藥。娩。死胎訖。喘息煩悶。身若燔炭。汗淋漓如雨。口渴氣促。人事昏憒。語言含舌不清。門人與折衝飲。嘔加而大便瀉下二次。譫語昏沉。舉家驚怖。議治於予。診之六脈洪數鼓指。予曰。此中氣大虛。虛陽浮散之所致。皆假熱症也。以還元煎倍用童便。旬余而全瘳。門人服予之立方神矣。（二）</p>
<p>難波街一店主婦。方臨月。忽腹痛頻來。腰間重墜。皆以為迫產期。急呼穩婆。又服催生藥以待焉。一日夜而痛止。只腰腹拘急。伸舒則攣痛矣。已逾候不產。且小便不通二日。求治於予。乃撫摩其腹數十回。而後探宮試之。兒頭在高。皮膜未破。謂曰。未娩期勿倉皇。便與脫花煎。次日惡露少下。尚不腹痛。於是眾說蜂起。以為子死於腹中。急予請診。予方視其惡露。有生活氣而無臭穢氣。因斷言曰。決非死胎。若誤用鬥藥。必有害焉。尚服前方矣。逮其夜醜寅間。遽陣痛來。生一女子而母亦無恙。（三）</p>
<p>百田善兵衛妻。亦臨產。與前相似。其症臈月二十九日。腹疼腰痛。往來五六次。至翌日。子門水血俱下。腰胯重墜。陣痛頻來。莫能當。便以為娩期。強令努力。尚不分娩。自此日日小腹脹痛。育門窘迫。時來時止。遷延六七日。證守定略無進退。更飲餌不進。小溲閉塞。於是病家甘分死胎。惟要令早娩而持母命。正月八日夜初更。敦予求治。脈之沉弦有神。且所下血腥。有活氣而無死臭。予曰。臨盆雖數日。不有死胎候。乃發救生加附子湯曰。宜飲之待其自然焉。百田曰。曩我親族。艱產累日。先生來而投劑施術。即時免死胎母無恙矣。今於荊妻艱苦之際。特與藥不施術者。以婦命不可救歟。自走使於先生。婦俟臨顧者。甚於久旱望雲霓。飢渴求飲食。幸賴先生手術得娩。則今宵產今宵死。無恨也。孕婦亦踵而速分娩。予曰。曷不解事之甚也。若夫胎死不免。母氣脫困。則雖一二日。必當令亟免身以救母命矣。今雖近浹旬。胎猶無恙。奚可用手法以促此哉。俟明旦則必有熊羆之喜也。拂袂便歸矣。次日早晨修書曰。荊婦逮黎明。忽陣痛頻來。舉男兒而子母平安。昨夜診視之不差。豈不敬服哉。實非老手識練。必不能為此明鑑也。（四）</p>
<p>淺草天王橋頭。一商賈妻。臨產子露半身而不娩。易收生媼三人。皆不能出而迯去。遂召產科專門治療之。醫乃與門生俱來。自辰至巳。手術藥劑百計。治竟無效。產婦精神漸疲睏。於是求治於余。諦觀其色則青慘。眼胞陷下。所幸者。脈尚和緩。尤可措手。便以芎歸理中湯頻與之。將用手法。則兒頭已切而項邊僅留皮寸許。因呼主人謂曰。兒頸已如此。我使此娩。汝勿言為我首體異處。主人唯唯退。余乃以兩大指緊推兒膈俞邊。則育門才得寬鬆。而畜水迸出三升許。乃以袽裹兒。一引如拔無根草。瞥然產下矣。闔家少長皆無不感嘆以為神也。乃使婦蓐臥。用前方三日。精神大王。唯腹中有塊大如茶甌。以手推之。左右移動。仍於前方內加丹皮桃仁。五日而穢水大下。塊消其大半。飲食頗進。七八日不圊。因與桃核承氣湯。二日而尚自若也。更欲作大劑與之。又竊思疲勞未復。非激劑過用所宜也。遂將八珍湯。加營實桃仁丹皮。兼以龍飛丸臨臥與五十粒。二日而得燥屎一升許。塊如失。更以當歸建中湯調養二旬。而寢食俱安矣。（余初見兒之露半身不出。即以為此必下身肥大。產論所謂壯尻胎也。然行導水術而見子生地。則尋常胎也。便知此畜水填滿膀胱。壓胎而然者也。此產論所未言及者也。）</p>
<p>子宮之所位。在尿胞後廣腸前。有臨產兒頭向陰門久不娩。則為之尿道閉塞。且多服催生藥。使尿胞填滿。而產道愈窄狹害乎達生者。其二日已上者。須施導水術。以泄畜水。使子宮得寬鬆而易免焉。若死胎候具。則以回生術救之。又有產訖胞衣不下者。間由尿胞畜水怒脹壓胞衣不下者。治之之法。在心融手巧。須口授面命。非筆下之可形容。有志君子。來而詢之則可矣。我豈敢秘惜者也哉。（五）</p>
<p>伊勢坊。道成橋頭。熊野屋重兵衛妻。逆產子露頸以下。頭獨不出。穩媼數人。交施展手法。不能令娩。諸醫亦湯劑亂投。全然不應。後延專科二人。相與商確。作劑進之。以蜂蜜塗產戶極力引之。則頭不動而卻援移母體三尺。更腰胯重墜。橫骨監骨幾摧。通宵叫痛不輟聲。於是子店友朋所薦來醫輿出入。若織機然。診視畢悉駭辭不治。專科二人尚在後堂。對坐藥箱傍。舉觴以俟其達矣。舅姑親戚。郡然張惶。禱禳百般無所不至矣。偶藥鋪佐平以予療奇疾推獎。懇之紹介。速予治診。時日在辰巳間。適門頭請劑者數十人。不暇捨去。便報曰。發劑畢即往焉。使歸未一飯頃。復促診。診者再四。漏已晌午。乃率弟子策往。則男女蟻集。慌忙紛擾。不遑辨何為其主。直延予於房內。婦側臥床褥。緊握坐婆手。尚呻呼不輟口。環坐相扶者七八人。予脈之緩而有神。私喜以為可治也。乃視小兒時肌冷如冰。氣脈絕無。呼主人謂曰。兒業已殤。然產婦精神未疲憊。即今施治即今可達也。滿坐羅拜於地曰。多方治之無一效。產母艱苦不忍見。乃速予治劑。予消十全湯。背加人參二錢與之。專科二人遙望之。目諾微笑。蓋似誚予劑之平平者矣。予留看視者二人。以圍屏遮房門。坐產婦傍。吃茶吹煙。命策使婦仰臥。卷小褥入腎下令舉之矣。此時家族及醫者。自屏外隙處伺視者數人。予乃以手巾縛兒頸二匝。以覆蓋不令見人。使策持手巾。予以綿衣裹兒捉持之。一齊併力。向下邊緩緩拽之。放右手進兒頷邊。則得兒口。急緊搦之。又一齊強引一回。忽然產下。此時滿堂稠人感嘆讚美之聲。猶風吹松樹為老龍吟。老嫗輩則以予為藥師如來現世矣。而專科聆之赧然稱奇而去。予就視兒子。其頭頵腄醜惡殊甚。宜哉其不出矣。而予歸舍。則病家持棘鬣魚二頭。來而謝再造之恩。後以行瘀煎。桂枝調血飲。調養二旬而復舊。此等治法。予術不足以為奇。而人昏唶唶遞稱譽以為神矣。噫近世有不學徒。以此類售虛名者。君子所深恥也。（六）</p>
<p>神門外松下街。米客某妻。年二十歲。懷孕以來壯健勝於平日。而逾臨月之四日。俄然發戰慄。直視口噤。喉間喘鳴。鼻流清涕。兩手搐搦如拽鋸。背脊反張類痙病。氣上衝心下不省人事。命如風前燈。已延醫氏二人治之。以其口噤不開。不能灌藥。因灸隱白湧泉等並不效。各束手辭謝。遂迓余乞治。余到則先福井主一在坐。乃曰。我在京日。聞足下之精於醫術尚矣。今孕婦疾勢危急甚。請為治療。余便行至後堂。則婦跪坐於褥上。眾人抱持之。舉大聲呼其名。父母在屏外痛怚號泣。余先命坐婆令緊按其心下扶容穴。乃診脈緩而有神氣。竊以為可治。即以單兵散延命散各一錢許。白湯攪勻。自含之以曲頭管自齒齦極處入管頭吹送藥。乃以左手捻其鼻。則嘓然有聲藥落咽。而忽諸症頗穩。乃作大黃黃連瀉心湯加鐵鏽交用之。過二三時而始醒索食。其夜人定。力息頻來。娩死胎而母無恙。但血枕痛頗來。與山楂子丹皮二味。六七日。惡露快下。而康安如常日。（七）</p>
<p>余之同街。採緞鋪勘介妻。年十七。懷孕數月。無有他故。其父母以為夫婦青年家無嚴君。婢妾亦不有慣產者。已至九月。招膝下保護矣。（其家在本所東江精舍北里許。距本銀街六里有奇。）而彌月初二日。辰巳間。澡浴後。忽然暈厥。目作上視。裸裎不暇羞恥。痰涎湧盛。角弓反張。煩擾悶躁。手足瘛瘲。昏憒不知人事。看守者抱時。則或捶或咋。急走使迓余。余會應鯖江侯招往三田邸。是以延醫氏三四輩。累經治療不見減瘥。更嘔血盈盆。至此病勢轉凶。眾工無藥術。頻令人急予。病家甘分必死。唯延領待余到。余黃昏歸家。其家所來轎伕數人俟者多時。余便往診視。前證依然。喜脈緩而有神。余謂其親曰。凡子癇症。以子死於腹中。與症疝擊搏而發焉。長女疾患。稍醒則必當子向產門。若向門則我術以令娩。娩必性命無恙矣。一醫在傍曰。子在高而腰腹不痛。今夜安能向產門。余為不聞。命弟子策將膽星一二錢。白湯化開。以曲頭管灌之。仍捻其鼻使落喉。須臾反張稍定。繼以三黃熟艾湯。加硃砂二錢。自亥至醜服五貼盡。煩躁有間。乃大聲呼其名才答。試不用管飲藥。則自能飲。便探其產戶。兒頭既已向門。乃用雲母散三錢。續與稀粥。助母氣以催生。已至黎明猶未分娩。時時目瞪切齒。煩躁悶亂。於是以回生術得娩死胎。即以加味芎歸湯。兼用震靈散二日。尚神氣未醒。三日而稍辨親疏。四日而忽開兩目。問其母曰。我緣何至此。母曰。你發子癇幾死。數日不省。得鶴陵先生治之乃活。婦聞之始知已產矣。唯惡露不下。小腹硬滿。用行瘀煎三日。血衊快下。而小腹軟。與加味八珍湯。調燮數日而平復。嗟呼余狐疑不決而不施術。失時姑息。恐不分娩而斃也。故醫之臨疾患。在權時宜而已。（八）</p>
<p>小田原街賣魚客甚八妻。產前患腳腫。產後三日身面四肢皆浮。眼胞腫而無縫。小水短少。一臈之後。氣喘咳嗽。不能貼席而睡。飲食減三之二。更腰腳愈腫。按之窅然不起。懇予請劑。診視之。皮膚無光澤。腫勢不可言。惟精神存。用禹翼湯十劑而全瘳。（九）</p>
<p>花坊販繒客妻。產後左腳獨腫。大如漆桶。小溲不利。以禹翼湯加桃仁紫葳。小溲日解約三升許。五日而平復。（十）</p>
<p>一貴家乳母。方夏月。忽患惡寒戰慄。發熱頭痛。煩渴引飲。腹裡拘急證。醫為溫病治之已三日。戰慄拘急才止。而熱勢益猛。汗漐然出。飲食不進。呻吟在床枕。偶有誤信余之能治傷寒之虛名以勸余者。遂延求治。診其脈洪數。按其腹軟弱如綿絮。拊之而手漸及臍下。則忽鼻嗅血腥。余以為是必竊行墮胎坐藥而然者。乃欲詢其實。以旁有人不肯出言。出房呼老婢私謂曰。乳母候證非溫病。必由小產者爾。乃與行瘀煎兼用失笑散。惡露漸漸下。熱解渴止。飲食日進。十有餘日。而諸症平。初老婢聞余言。大愕。乃與其家臣長相商。入房內遠人。便以余言詰問之始吐其實矣。乃及其疾患差。即追之。此症孀婦室女。或貧而子多者。往往有匿其實請治者。須以其腹軟弱按之如綿絮者。與鼻聞血臭者。斷為小產也。若夫尋常經水來者。其腹必不如綿絮。又其血腥頗殊焉。然其血腥之異同。非毛穎所能盡也。有志士其能用意則自判然。（十一）</p>
<p>予同坊第二街舂米客某妻。產後口中糜爛。飲食用糒。（音門粥凝也）猶觸口裡痛不可忍。因僅啜淡粥之爛者而充飢。治療三月略不見功。遂來予廬商治。診視得濕毒候。乃以喉癬湯對薔薇遺糧湯煎飲之。外以白梅昆布各三錢。巴豆一錢五分。俱燒存性為細末。敷於患處。日三。二十餘日而能食如常。（十二）</p>
<p>鳴戶驛澱橋頭。太和屋傳四郎妻。年二十五歲。天受瘦𤸆。甲寅五月經止後。氣宇不和。飲餌不美。時臥時起。酷似阻病候矣。逮逾兩月。小腹微滿。重按有塊大如鴨卵。或以為妊。或以為非妊。而忽患下利頻並。裡急後重證。歷十餘日而平復。後形容更臞。腹滿漸減。於是舉家甘分非娠。醫亦為畜血療之數十日。後偶罹陰陽之患。發熱惡寒。頭痛汗出。面如渥丹。醫氏曰。此尋常感傷。談笑可以已矣。乃發劑調治七八日。病轉劇烈。譫語煩躁。昏困不省。心下痞悶。大過下利。小溲赤澀。一醫用復元湯投之漠如也。又延一醫曰。此小柴胡湯適證也。乃服之。下利煩躁將至顛巇。於是不厭距余廬十有餘里之遠。以禮來迓余。余往診。其脈沉微數。舌胎沉香色。虛里劇動。臍下有一塊。（予按捫數回欲判胎與塊不能辨認）乃出房問侍病者曰。大便色不漆黑乎。曰黑。又問時無笑乎。曰有。余曰。婦人稟賦薄弱。且曩患下利而正氣未復。更用破血之劑。今又患傷寒。已有所問二候。則實不可救療也。余連辭將去。則房內喧鬧。忽報云。婦危急甚。促余進看。行至後堂。看視者云。病婦今跨淨器大過訖。而產門下一物見之則胎也。由此昏冒困憊為劇。請速賜治劑。火急之際。余不可辭。先以人參五錢。緊火煎與之。繼以還元煎。而後視其所墮胎。其頭未生毛髮而色紅赤。手足細小如厚紙作為者。兩手則冒心。兩腳則屈曲不伸。其色皆水葒色。唯四末之爪處白肉也。又胸背脅臀。則其色深赤。腹部則紫黑色帶青色。肋骨高起膈皮可數。九竅蓋白膜而稍高。特鼻隼則隆起而大。臍帶甚細色皎白。胞衣留母腹不下。是故未能審也。兒頭較身體甚大。余以曲尺度之。自巔至腳底二寸六分。展其腳而度之。則三寸六分。其形如泥塑人可以安掌中也。（圖見卷六）余按此婦天賦怯弱。又且多病。其懷孕雖五越月。血氣不能將養胎而不長者爾。今視此等胎容。則賀川先生所謂展手膊而依脅膀之說。益難取信也。而此婦疲極羸憊益劇。歷三日而卒斃。（十三）</p>
<p>予之同坊。一木工妻。前年春舉一子。後未數月經水來如常。而翌年三月。忽經水不來。至五月初。自知為懷孕。遂與其夫相商。就市中墮胎媼用坐藥。既而汙水漏下。寒慄戰齒。烘烘蒸熱。腹疼腰痛。苦楚不可言。而胎尚不下。於是怖而求治於余。乃合大劑脫花煎服之乃得分娩。調理七日而全可矣。余看其所墮者。已成形而與前案所論其大小正同。但胞帶絆頸一匝。此為異而已。此受孕僅三個月。計日數六十餘日。不但胎成形。又臍帶自絆頸。於是便知成胎之始偶有臍帶自絆頸者。前哲曰。妊娠至五月始成形。又以臍帶絆肩者。此名礙產。即為轉身之時所致者。臆度亦甚。今圖記其形狀以告同志者。使知常套不可信據也。（圖式見末卷十四）</p>
<p>高崎侯臣朝岡角左衛門妻。月信不爽期。但其來少而腹漸漸大。或以為娠。或以為瘀。既歷數月。猶不能決焉。其歸之於娠。亦未能定受胎月。求治於余。余診按其脈腹曰。蓋此八月之始也。朝岡曰。孕而經水來。世有此證歟。余曰。古人謂之漏胎。又名胎漏。及胞阻。或又稱狗兒胎。（武州川肥方言曰看花胎）余適記得虞摶屬氣虛有熱之說。乃將四物湯加阿膠白朮條芩縮砂香附炒黑艾葉糯米。用之數十日。經水不復來。既而彌月。腰腹不疼痛。而血復漏下。余竊以為此漸迫產氣者。乃與補血暖宮之劑。尋四五日。血仍漸漸漏下。腹亦漸漸縮小。後下血塊大如鴨卵者兩枚。而腹益緊小。且小溲閟絕。初為瘀血者。揚揚得志大言自矜曰。吾儕業醫皆三代。診視必不謬矣。而誚余之診訣浮焉。乃命使速余至而扣予曰。雖證候如此。足下尚以為妊娠乎。余診其脈緩弱。候其腹縮小。而小腹結硬如斗。按之如石。詢其所下血有臭氣乎否。則婦曰。始則血腥耳。今日稍有穢氣。余謂朝岡曰。今詳內人脈狀證候。實非尋常臨產候。蓋眾醫所見。或當弗差。雖然余獨以難斷然為畜血。何則血塊既下。而又豈有忽小便閟絕之理哉。此必兒頭下墜。而塞人門者也。又腹緊小而不疼痛。脈亦不進。且所下稍有穢氣者。是恐子死腹中者也。若夫有力息陣痛等證。則余當一搜宮而即決焉。然其候未有。而豈妄搜陰僻地哉。請俟一宿。則必判然也。如內人命必勿慮。余實有所察焉。遂與盤珠煎而歸。其夕力息不來。而果子自臨產戶。復忙走人迓余。便往命坐婆強努力。遂娩死胎。而婦無恙。嗟乎吾為眾醫說所惑。以為瘀血。則不能免雪上加霜之謬診也。醫之臨疾病。其不可不慎也。（十五）</p>
<p>高砂坊釀家某妻。年向三十。天稟壯實。形體充肥。寬政癸丑四月。經止後孕狀既已具。至甲寅二月未產。人或曰。初孕則往往逾期月者耳。便晏然俟焉。又逾月而尚未生。腹漸漸大。而猶抱甕狀。親知見駭。必非駢胎則品胎也。遂延余請藥。余乃據羅謙甫妊娠月足而不產者。當補血行滯之說措劑。（即四物湯加香附縮砂紫蘇枳殼桃仁）婦俟分娩日又一日。猶飢人思食。渴者欲水。既而又過一月。婦慮產期之不來。屢責余促免身。余曰。雖積累月於期月。精神氣宇。略無小異。何慮之有。古人已有瓜熟自落之譬。則宜任其自然也。余又戲謂曰。昔帝堯十四月生。老聃十八年生。則必當賢才子生。而慰其情矣。而至五月五日夜。遽腰腹稍拘急。產門水少下。於是喜其當產。深夜走使邀余。時余適有微恙。是以饋藥不到。明旦不俟日出而往。則醫者二人在堂上。余問曰。何以延醫之多也。主曰。昨夜君不到。因招鄰坊一醫。乃診視曰。此難產也。非我一人可能收。遂延其族醫。將與俱併力以強令分娩焉。予就詳其證候。非臨產候。所謂弄痛耳。乃曰。何可以此為難產哉。二醫在傍互目諾。咋舌掩口。余曰。若夫欲早免身。而按腹揉腰。服催生藥。則後必噬臍也。乃用十全散五貼。腰腹拘痛頓止而如故。婦厭雖服藥其久不產。遂不復服。自是又歷一月。而始努力陣痛頻來。下血七八升。疼痛止。而腹滿減其半。尚未達。穩婆或以為非孕。余往與藥。至黎明舉一女。而產母平安如常日。但惜生子不出三朝而殤。此婦懷孕既十有五月。而才生產。其子不育者。誠可悼哉。嗚呼懷孕變化。無有一定。庸醫慌忙每惑人意。業此技者。不可不詳練也。（十六）</p>
<p>小網街。一艌匠妻。臨產五日不娩。逆予求治。診察其證候。子既死腹中。與盤珠煎。兼用雲母散。自辰至下午。服各三帖盡。殤兒生地。而產後小水不禁。用鹿蠣飲十有餘日。而漸漸復故。（十七）</p>
<p>天野君夫人。年二十三。初受娠孕。稟賦怯弱。原有肝鬱症。辛亥九月十五日。生一男子。產後三四日惡露下少。一醫作劑進之。泄瀉日二三行。至一臈忽精神昏迷。不省人事。小腹有一氣起。時時升心下。胸中衝跳不止。煩擾悶躁。痛劇欲死。呻吟撼鄰。其父鵜殿君常在傍即按撫胸腹。久之漸定。如眠如醒。津津汗出。過半時許。則惕然驚醒。開眼而發前候。如此者已三日夜。大便微利。小便遺矢。常置敗絮於臀下。濕則換易之。故小便清濁難辨。與之粥飯則才食一二口。而後噤口不納。湯劑丸散種種施之。全然不應。二十九日逆予為治。探其脈沉弦無力。腹濡近虛。據見證則似畜血。視脈與腹。則為心虛肝亢矣。予苦措劑。姑以淡竹茹湯加酸棗仁飲之。外將鉤藤鉤三錢甘草一錢水煎。送下震靈散二三錢。二日而略無影響。十月二日改用七寶散兼以舉卿故拜散。下利始止。譫言妄語轉加。以手捶人。乃三黃瀉心湯加柴胡鉤藤牡蠣。病勢愈增劇。至此危急甚。舉族嘆為物故矣。予亦以屢改方漠如無效。恐診之未准。明早往而細察之。腹總虛軟。手至臍下橫骨邊重按。則磊塊累累在腹底觸指下。更重手按之。則患者皺眉。於是方悟病根全在茲。與滯患相搏。諸症叢集者也。便放膽合大劑桃核承氣湯。加鐵砂二錢鉤藤一錢。自旦至夜半。服三劑盡。則至黎明大下三四行。自此病祟十減其六。予以為雖藥中肯綮。其人素虛弱。鬥藥爭方不宜久服。改以淡竹茹湯為主。副以三黃加鐵砂湯。間服之。三日而諸症大平。小腹塊如失。乃改副煎換抑肝散。至十月十日。神思始清。與傍人說話。至十一日始得起床。而又跨淨器自更衣矣。乃以十全湯調養旬余而康安如常日矣。患者起床之日。其大孺人喜曰。便溺遺失。已半月。幸依君之力得救一女於死地矣。自此每歲冬夏贈時服白鏹。謝活命之恩者六年於今云。（十八）</p>
<p>豐島街。賣故衣某妻。臨盆子露手膊。生婆不能收。迎專科求治。師與門生俱來。殫力罄技。反子益橫。其手及肘竟日不產。遂截斷其肘。而猶不能。渠以技竅。稱病先歸矣。門生亦欲辭去。則病家不可。乃揚言曰。諸君已切去兒手。而今棄去則小人無所依倚。惟得分娩。雖死無憾。請為度之矣。門生益騂羞。無能為計。與鄰翁相商。夜四鼓。邀予乞診。門生謁予曰。幸先生來。我將歸去。予留之曰。諸君畢力不產。予亦恐不能為也。予姑試之。足下必莫歸矣。以其家隘。門生待於鄰翁。予乃診視。子僕於腹中如橫梁狀。探之得脊骨。此亦艱產中所罕有而實不易治也焉。雖形體已瘁。眼精脈神。俱尚五分存。庶僥倖於萬一。亟以芎歸理中湯倍用人參煎服。尋以回生術得令免矣。門生聞之。不謁於予。去矣。而當坐婆收拾之。主人取隻手於庖廚來。而合藏之。嗚呼稱今之產科者。僅傅賀川先生說。急於鬻己術。往往致有斯過失。反使先生方術人多置議也。先生嘗以有初學術未精欲早施之於事者。引莊子之見卵求時夜之譬以警之。其可不謹哉。（十九）</p>
<p>住吉街。賣油商某妻。年十九。孕逾五月患痢。所下皆白膿。腹痛裡急後重。日夜三十餘度。時醫治與丹水逆挽湯。逾候。反嘔吐頭痛。發熱口渴。赤白俱下。腰重墜難當。更衣五十餘次。腹疼來則喊叫之聲。四舍悚駭。至此疾勢危急。家人畏怖胎隕。夜過半亟叩予門。起而問之曰。為產者急矣。即往而診之。其脈三部弦數。指下累累如薏苡子狀。予曰。此有餘症也。急治胎當保持。乃合黃芩加半夏生薑湯。伏龍肝澄清汁煎煮與之。二貼而嘔逆頓止。乃改以八味蕩滯飲進之。兼服四寶丹十二粒。兩日而腹痛纏墜如失。痢減十之六。五日而穢積已盡。糟粕未實。晚間糞如兔屎狀者一二枚雜下。改以十全大補湯加酒炒大黃一小匕。駸駸平復。及彌月而生好男子。若拘常禁。不用半夏大黃巴豆等。專用補脾滋血之藥。豈不誤哉。（二十）</p>
<p>男谷鳩齋妾。妊娠九月忽腰腹痛而產門下血。求治於予。診之外無寒熱。飲食如故。大小便自可。乃將芎歸膠艾湯加西洋參一錢。黑炒乾姜三分。兼以雙烏散一二錢。三日而腹痛止。下血亦漸漸減。守用前方。八日而全愈。歷十有餘日。足月而產一男矣。凡孕而七八月以後。腹痛有所見久不止。則致半產者常多矣。又間有延期月猶不止者。雖飲食健啖。逮臨產多生變症難救焉。故妊中下血。不可不懼也。（二十一）</p>
<p>傳馬街。一商賈某妻。期月臨盆。子露手膊不收。呻吟無賴。其鄰有所立庵者。雖與予交未深。傳聞予之屢救艱產。便致書以求治。時余不在。黃昏歸家。則塾生謂曰。傳馬街產者告急者已三。小子等詢之。則使者曰。橫生也。予終日省眾患疲倦太甚。雖稍生厭心。亦重人命所繫。乃往至所醫家。則見一醫氏坐堂上披藥箱措劑。予問所醫曰。鄰婦已免乎。曰未也。予曰。良醫來製藥。我當辭去。所醫留予曰。累書迓先生俱不在。是以招弘前候醫官樋口道泉亦以當直。令其弟子代之。今請藥者即是也。請先生一診視之。予乃通名刺於醫氏畢。問曰。產婦可達歟。曰甚難。因修書呼同學。其來則須相與商矣。予與所醫俱至鄰家看脈詳證。兒露左手已至肘。予曰。此艱產中之尤至難者也。樋口自來施治則可也。今醫生曰。宜召同學併力救之。則以手術未精練爾。我與藥而用手法。則目下可產也。我非與渠爭技。非利貲財。又非顯我功以求名。今產婦頗疲睏。若延引時刻。則精神瘁憊。假令產母命殆矣。便主人與所醫商確。遂乃托予。作救生湯加人參一錢。以回生術得娩焉。乃與還元煎。相囑曰。此症不可遽用破血之劑。但宜用補脾暖宮之藥。正氣旺後隨症治之。次晨使奴曰。昨夜忽惡寒戰慄。因延他醫。醫謂前劑欠當。便與折衝飲差。是以姑辭先生治劑。而服前方六日。忽然脫血而斃。（二十二）</p>
<p>福井街。古董客藤八妻。臨產五日不娩。服藥無數。毫末不效。小便閟絕者三日夜。腹滿益甚。卻腰腹不痛。唯糞門重墜甚。而喊叫聲震中外。坐婆二人。或隔腹推胎。或抱腰提舉。或令浴腰以下。交施手法不產。面色青慘。微喘嗚呼。脈沉細而數。眾醫危之。皆辭去。病家亦甘於死鄰坊有豐倉氏者曰。片倉深甫有奇見。試問之。遂走使求治。予適不在。弟子伊達生即往與救生加附子湯。探宮視之。得兒臀尻。便初更致書告急。予外歸方食。乃吐哺肩輿至。則藤八再拜曰。荊婦命有燒眉之急。疊卵之危。冀以先生靈。得分娩。則假令死亦幸耳。予診視曰。汝所言實然。雖吾術可以令娩。婦命幾危。然見有娩而生者。未聞不娩而活者。乃仿張子和一婦難產取秤鉤救之之法。一下手忽然達生。如風滅燈之速矣。此時穢氣熏一室。眾人一時兀兀欲吐。蓋子死於腹中三日以上也。使伊達生下胞衣留門邊。乃作還元煎頻與之。過一炷香便取下之。直以敗絮塞育門防脫血。次日喘鳴止。而手足清冷。脈沉微而結代。予慮正氣不能接續。心甚危之。尚依前方倍人參。午後手足溫。而好食粥飯。自此日日精神旺。而惡露冉冉下。守用前方八日。駸駸有生意。唯左腳攣痛。雙和湯加丹皮澤蘭。調理數旬而全安。如此之症。若始用破血之劑。決不能得生也。初學者勿拘拘產後三日必下瘀血之說也。（二十三）</p>
<p>林重藏妻。懷孕八月。患小便滴瀝澀痛十餘日。求治於余。乃以石葦散加木通甘草。數日而瘥。而彌月分娩後。惡露不下。飲食無味。熟寐汗出。寸口虛數。余曰。不亟調治恐成蓐勞。乃用內補建中湯加黃耆浮麥。惡露自下。二十餘日而脈和諸證始安矣。此等證。若局局然逐瘀血則去生遠矣。（二十四）</p>
<p>遠山君夫人。年幾三十。懷孕彌月方臨產。多進催生藥及粥飯。才產下而緣其子已殤。悲傷大過。忽發暈眩。惡露下頗多。吐飲食藥汁而胞衣不下。穩婆按腹強令努力引胞莖而不出。渠術極巧言曰。強下之必有不測之變。不如俟其自然下也。自此昏暈往來。脈沉細數。或時沈伏。乃延眾醫診視。或曰。脈沉細為虛寒。若胞衣下必脫血。乃以四味回陽飲。參附湯交用之。至次日前症不愈。或曰。夫人平素多鬱結。用開鬱之劑。則必可暈止而胞衣亦下也。便用沉香香附枳實人參甘草之類。猶不驗。於是黃昏走使邀予。乃診視曰。予見與諸醫不侔。今屢暈眩或脈沉伏者。此以胞衣黏著於子宮底血氣不順流故也。胞衣得下則必痊矣。其下之予在生產日行手術。談笑可奏功。今已失之遲。則假令施術。不得為必可以下也。然為予聽。則當萬全者十之九矣。親串議者。嘵嘵曰。何敢輕試手術乎。寧耐靜俟。毋涉險為也。予極言排之曰。胞衣者。乃血肉之渣滓。子生地後。以取下為佳。何得與生產之譬諸瓜熟自辭蒂者同日而論哉。用藥俟自下者。是舍紀律而務野戰也。若胞更不下二日。則夫人之命。必至顛巇。舉族聞予言大悚駭。欲求予治。則又有畏前醫與坐婆之言。躊躇不決。漏已近雞鳴。傍有夫人親家長臣某者。聽予之論。而幡然有悟。乃勸主人。遂亟索予劑。又請手術。便先與含陽散。繼以盤珠煎。而後按腹數回。令離胞之黏著於子宮底者。乃欲下而視肚帶。則夫人之命。必至顛巇。舉族聞予言大悚駭。欲求予治。則又有畏前醫與坐婆之言。躊躇不決。漏已近雞鳴。傍有夫人親家長臣某者。聽予之論。而幡然有悟。乃勸主人。遂亟索予劑。又請手術。便先與含陽散。繼以盤珠煎。而後按腹數回。令離胞之黏著於子宮底者。乃欲下而視肚帶。則三裂如絲。蓋坐婆強引而傷者爾。予百計殫力。胎裂四而悉取下。此時予周身汗津津下。衣里盡如灌水。主人大喜曰。微足下荊妻已為黃泉物必矣。便與還元煎。自此諸患脫然如失。飲食日進。數日而康寧如常。（二十五）</p>
<p>新輿坊木商婦。患產前兩腳浮腫。產後三日。面手大腫。小便短少。大便下利。日三四行。時時嗢嗢欲吐。如此者已三日。延余治療。診之脈沉緊。余以為臨產飲食過飽。因留停而胃中不和也。乃用胃苓湯加神麯山楂子。小便大利。下利止惡露自下。七八日而平復。（二十六）</p>
<p>陶器街一驛戶某妻。年三十許。稟厚豐肥。有身其腹甚大。方期月臨盆。力息重沓。腰腹烈疼。晝夜不休。坐婆二人。按腹揉腰。揮汗竭力。徒增痛苦。而不能達。已歷四日。求治於予。診之腹堅硬如石。脈不甚數。小便不通一晝夜。予雖知子死腹中。然以形體未甚衰。幸加陣痛一等。或當娩也。乃將大劑脫花煎。水酒各二大碗濃煎與之而還矣。服一劑盡猶不娩。於是黃昏復走使邀予。予便率弟子二人往。則婦呻吟不絕口。予就診之。則才舉聲曰。腹痛不可忍。願割腹出子。則縱死無恨耳。子憐其苦楚之切。先煎人參三錢服之。然後施回生術則漸而兒頭出人門。便命弟子出體。予則出房措劑。久之房內低語嘖嘖。予伺之謂弟子曰。曷出體之遲緩也。對曰。小子等相與湊周身力於雙手而曳之。然確然不移也。於是予復用手法齣兒右手。然後令一人踞小兒伸兩腳入婦股間抵承臀尻。而以綿衣包兒頭。兩手緊握之。別以綿布三四尺者纏縛兒頸二三匝。而令門人及其夫緊捉其餘端。予則坐婦左傍隔腹推下胎。便一齊併力引之才得娩矣。予即以冷水一呷。送下桃花散一錢。尋與參耆芎歸大劑及糜粥。俟喘息虛里稍定。命門人取下胞衣。婦困憊太甚。仰臥裀褥。不能反側浹旬。穢物漸漸下。小水遺失不固。守用前方。精神清健。飲餌日加。頗能起床。小水稍固。惟腹滿不減。惡露下少。不大便十餘日。臍下有一塊。大如拳硬如石。改用桃核承氣湯。則日下結糞一二枚。經五六日而惡露微微下。凡用承氣湯十有三日。塊散腹滿減。而起居如常日。唯小水時遺。因與鹿蠣湯十餘日而全愈。此等證若泥產後必逐瘀之說。早與破血之劑。禍不旋踵也。初兒生地時。見之形體肥大。骨肉堅剛。如生後百日已上兒。宜乎其不能自娩矣。嗟微此術不死何待。（二十七）</p>
<p>兒玉君夫人。小產後。經血不止五十日。服芎歸膠艾湯。溫經湯。並不效。請予治之。先灸關元三十壯。將黃連解毒湯加艾葉蒲黃八貼。而經血始止。（二十八）</p>
<p>新堀街和泉屋平吉妻。娠而五月。產戶瘙癢。自將干萊卜葉食鹽熏洗之而差。至七月腰以下有微腫。而小便不利。自此水氣漸漸充滿於周身。兩足大瘇。一脛之大幾如腰。一指之大幾如股。育門起脹幾如臀。𨂂盭而不能立床。仰臥於褥上。而手足不得屈信。諸友交治。既三閱月不效。迫彌月蓐母視之。大駭曰。若其如此而就臨盆。必不能免艱產也。病家惶懼。急會親串評工於治水病者。偶聞予治晴陰街中島屋某腳氣腫滿。乞予求治。診之脈沉弦。渴而飲湯水。予乃以龍膽瀉肝湯加滑石豬苓。外以管針刺陰門兩邊起水皰者各一痏。清水出一掬計。間一日復刺之。而陰腫始消。渴止小便頗多。仍用前方去滑石豬苓。加冬瓜子二錢。六七日而小便大利。水氣悉消。起居如尋常孕婦。唯心中懊憹。二陳湯加薄荷梔子旋覆花用之。三日而全痊。經二日分娩如達。子母無恙。一醫謂予曰。曩我用真武湯數日。毫末無效。君有何所見。用瀉肝湯而成功曷故哉。予曰。陰門瘙癢者。此肝經濕熱也。予治其本故取效而已。（二十九）</p>
<p>小松侯臣寺尾堅次內人年三十餘。稟賦怯弱而多產。懷孕八月患腰腳微腫。累日漸加。期月易產後。小便一日夜而一行。不過三合許。如此者十餘日。腫脹日甚一日。兩腳腫大不能屈。腹滿如鼓。呼吸促迫不能臥。唯倚蓐坐者若干日。諸導水消瘀之劑。莫不概嘗。罔有一應。飲餌漸減。小溲益短少。渠自覺危急。乃喚夫囑後事。同僚海津元畏見而憐之。乃宣言曰。片倉深甫者名士也。能細心察人病。盍召彼令展盡底蘊。遂延予為治。診之脈沉細而數。顏色青慘。腫氣充滿全軀。光澤如瑩。足心平。氣息奄奄。一語而三換氣矣。予曰。法在不治。然書曰。醫而不起者有矣。未有不藥而起者也。我有一奇方。所自制也。其相應則效出人意表。服之五六日內。得見少效。則必可圖生。便用禹績湯二日而無應效。因思雖大便自可。腹滿尤甚。此肝氣有餘。而脾氣失化。胃中生濁。以不能滲入津液於膀胱。故不驗也。次日空心與犀角丸二錢同前藥吞之。其夜大便三兩行。色暗黑。小便多前日二合半。尚以前方加紫葳。再送下丸藥。則又下黑便三行。小便利一升余。大有生意也。乃止丸藥。自此小便利日一二升。十有七日。而浮腫盡消散。而周身有皺紋。乃以十全湯加人參數錢。首尾一月半。而健步如常矣。（三十）</p>
<p>丙辰杪冬初四黃昏。予從外歸。則塾生遽出門迎接曰。小傳馬街。佛具匠妻。疾危急甚。因速先生診看者二。予直往其家。則婦坐褥上。床前積褥。褥上安枕。額伏枕上。動搖腰臀。汗出飛飛。叫喚動鄰。此以小腹玉戶俱脹裂痛劇難忍故也。予詢其病由。則其諸父在旁。口將言而囁嚅。面渥赭而忸怩。予詰之曰。今當令侄艱苦之甚。不詳說病由何也。夫雖聖智以望聞問切四者施治法焉。予素非有聖智。惡得不問而盡病情哉。請審具述焉。諸父乃俯首徐應而將發言。則病婦舉頭面色騂羞曰。請勿高聲言矣。便耳語曰。先生諒無哂。侄女生來子戶中有一物壅之。其初以不害於小水。父母不為深慮矣。齡及至十七八。月汛未行。雖自憂之。以隱疾羞澀於言。特為經閉求醫治。服破血之劑者。積月累歲。絕無應效。後來延數醫竊語之。藥餌針灸無有虛日。然又無小驗。今年春秋已二十。無緣於許嫁。舉家憂之。今之為夫者原近鄰一工匠。渠不知其所以。偶以豔書挑之。遂互通情。近以媒請娶。因試送之。今幾三越月。往而未半月。小腹漸漸脹起。子戶一物亦脹益加。十日而來。小腹子戶俱疼痛。劇則不可支。或欲飛去壁上。或欲求自盡。飲食俱減。不交睫者五日夜。女科及外科見之不識為何疾。各縛手辭謝。聞先生能療怪疾救艱產尚矣。特相迎以祈治劑。予竊以為是必陰挺疾。可與蝟皮散瀉肝湯之類。然不見其形狀則不可決矣。便謂諸父曰。雖隱處不忍視。一匕落咽人命所繫。不可不細察也。遂諸父舉燈相與視之。則如鵝卵者。填滿於陰中。其色淺紅。按之劇痛。乃以指頭入陰中四邊試淺深。入僅六七分而指頭不進。此症目之所稀覯。而亦非陰挺疾。予俯思久之。以為此生來子宮有一膜絕汛期道者。偶得男子欲情數萌而不得遂。經血動而不能漏。充滿子宮而所致也。今以陰之四邊指頭不進者考之。則為皮膜無疑也。即放膽以䤵針刺陰中填滿上八九分。乘勢向下邊割之一寸許。忽黑血如墨者。漉漉為聲。湧出三四升。痛楚頓止而精神清快。二十年來不具。脫然復常。後用理血之劑。六日而全瘳。次年正月汛行。戊午三月生男。（三十一）</p>
<p>陶器街島屋作兵衛妻。妊娠五月。爾來大便泄瀉日兩三次。延及臨月不止。忽暈厥不省人事。其夫灸內庭。吐清水一盂許即醒。繼腰腹疼痛。於是惶急求治。適予以微恙辭謝。又懇請云。先生不能來。使門弟子代焉。因命診於一門人。臨其往囑之曰。凡胎婦方臨產暈厥者。非其子死腹中。則產後其婦必斃。鮮有子母俱全者。汝當須細察。必莫倉皇診視以隕師名矣。門人往診視。顏色青慘。飲食減半。脈左右細弱。以治中湯加當歸桂枝與之。次早遽陣痛來。舉男子訖。而產婦忽暈倒昏憒。煩躁呻吟。不遑進藥而斃。門人服予之預察精確矣。（三十二）</p>
<p>一染匠之婦。產後五日。精神昏昧。時又譫語。飲食卻如無事人。大便泄利。醫為血迷治之。延予求治。探其脈細數無根。予曰。此正氣大虛。心神放散。而為錯語者。於法為不治。雖其善餐不足喜也。辭去不藥。明日下午遽煩躁呻吟而死。（三十三）</p>
<p>久保喜三郎君夫人。妊已八月。遍身浮腫。至九月咳嗽氣湧。心中懊憹。粥藥入口即吐。醫治浹旬纖毫罔效。於是求療於余。乃診視曰。浮腫非產後不消。須先治嘔也。用清膈飲。加知母山梔子。七日而嘔止能食。而期月分免後。小水短少。咳嗽益加。余以為內經曰。水病其本在腎。其末在肺。又曰。急則治其標。今咳嗽殊甚。當舍其本而治其標也。便與栝蔞湯。三劑而小水大利。五劑而咳嗽如失。十劑而腫滿悉消。自能轉側。惟兩腳拘急不能立。八珍湯加牛膝杜仲。調理二旬而全愈。（三十四）</p>

<h1>卷六</h1>
<p>懷孕圖式。及易產艱產。雙生逆生等諸圖。產論翼中所載。總三十有二。非不詳悉矣。而唯其間被膜胎圖。尤欠妥當。因舉予之所親見者。以釋醫家疑團。其他圖記一二所發明者及胞衣形狀。聊以補遺漏焉。又並附明錢雷胎元圖說。英機黎國救難產圖二道。及喎蘭醫牒分的兒之臨產艱易諸圖二十有七。以備參考云。</p>
<figure>
<img data-orig-src="urn:270:06612.jpg" alt="妊娠二三月未成形而墮胎者剖之見裡面圖">
</figure>
<p>大如瓜灰色而稍帶淡紫。割之見其裡面。則恰如過臘魚子。其色鮮黃而有青赤筋絡。</p>
<figure>
<img data-orig-src="urn:270:06613.jpg" alt="懷孕六月墮胎圖">
</figure>
<p>毛髮未生。九竅未開。頭獨大而手足甚小。自巔至腳底長三寸六分。狀如泥塑人。非尋常六月胎矣。蓋孕婦抱病胎不長者歟。抑病中而受胎者歟。未可知也。</p>
<figure>
<img data-orig-src="urn:270:06614.jpg" alt="懷孕三月墮胎圖">
</figure>
<p>胎之形狀大小。與前圖同。而唯臍帶纏頸一匝。世俗以為失踞則臍帶必纏兒頸。誰知胚胎之始。有肚帶自纏者。孫真人云。三月有血脈。四月形體成。然有未滿九十日已如此者。則難一定也。</p>
<figure>
<img data-orig-src="urn:270:06615.jpg" alt="囊兒生下膈膜睹全形圖">
</figure>
<p>胞衣在腹前其形橢。上至頷下。下連臍下。其四邊薄皮引出。以包裹胎。猶雲母屏中物。</p>
<figure>
<img data-orig-src="urn:270:06616.jpg" alt="正孕圖">
</figure>
<p>兒倒首向脊裡。屈曲手足。著頷於缺盆骨上。而面與膝頭相聚。其形如低頭窺臍者。</p>
<figure>
<img data-orig-src="urn:270:06617.jpg" alt="逆孕圖">
</figure>
<p>兒體素上頭下足。此為逆孕。自足出者皆是也。</p>
<figure>
<img data-orig-src="urn:270:06683.jpg" alt="兩胎一胞雙首向下圖">
</figure>
<p>駢胎在子宮中。累重於前後。其分娩則後者先出。而前者後生也。</p>
<figure>
<img data-orig-src="urn:270:06684.jpg" alt="駢胎一胞一順一逆圖">
</figure>
<p>先出者正產。後出者逆生是也。</p>
<figure>
<img data-orig-src="urn:270:06685.jpg" alt="駢胎各胞雙順圖">
</figure>
<p>胞之著於子宮裡。各異其所矣。此孕蓋交接二。而並受胎者也。</p>
<figure>
<img data-orig-src="urn:270:06686.jpg" alt="駢胎各胞一順一逆圖">
</figure>
<p>尋常懷孕胞必對兒腹。駢胎則以與常異。故胞之所在。亦不一定也。</p>
<figure>
<img data-orig-src="urn:270:06687.jpg" alt="逆產兒頭頵腄露全體而頭獨不出圖">
</figure>
<p>以兒子逆出既至頸。胞亦隨兒自下而蓋頭上也。非素在頭上矣。</p>
<figure>
<img data-orig-src="urn:270:06688.jpg" alt="子露半身已上因尿脬填滿下身不能出圖">
</figure>
<figure>
<img data-orig-src="urn:270:06689.jpg" alt="因產後尿脬填滿胞衣不能下圖">
</figure>
<figure>
<img data-orig-src="urn:270:06690.jpg" alt="胚胎之始臍帶不絆頸當欲分娩之際適兒頭貫帶之曲彎中纏頸產下圖">
</figure>
<figure>
<img data-orig-src="urn:270:06691.jpg" alt="胞衣表面圖">
</figure>
<p>中央最厚。至邊而漸薄。高低出沒。皺文錯交。其色紫紅綠黑相雜。而又有紫黑濃斑點。</p>
<figure>
<img data-orig-src="urn:270:06692.jpg" alt="胞衣裡面圖">
</figure>
<p>紋理筋絡。似荷葉裡面。而其色淡紫碧。筋絡有粗密之異不一樣。</p>
<p>子宮形如倒壺盧。其左右上側。各數丸子附著焉。解體新書所謂卵巢者是也。口形則作十字樣。此山脅東洋解刑婦體而所親見者也。</p>
<figure>
<img data-orig-src="urn:270:06693.jpg" alt="子宮前面圖　子宮後面圖">
</figure>
<figure>
<img data-orig-src="urn:270:06694.jpg" alt="胞作車蓋狀不下圖　胞莖在邊偶作襞積不出圖">
</figure>
<figure>
<img data-orig-src="urn:270:06695.jpg" alt="胞衣離子宮底衣附蒂向下圖">
</figure>
<p>（尋常胞衣易下者皆為此狀）</p>
<figure>
<img data-orig-src="urn:270:06696.jpg" alt="胞衣黏著子宮底圖">
</figure>
<p>（此症產訖即不施治術則竟不下而死）</p>
<figure>
<img data-orig-src="urn:270:06697.jpg" alt="胞莖生邊圖">
</figure>
<figure>
<img data-orig-src="urn:270:06698.jpg" alt="兩胎胞衣圖">
</figure>
<p>（肚帶一生中央一生一邊如此者常多）</p>
<figure>
<img data-orig-src="urn:270:06699.jpg" alt="兩胎胞衣異形圖">
</figure>
<p>（胞莖抽一二寸而作兩股此奇中之最奇者也）</p>
<figure>
<img data-orig-src="urn:270:06700.jpg" alt="兩胎胞莖生正中圖">
</figure>
<figure>
<img data-orig-src="urn:270:06701.jpg" alt="品胎胞衣圖">
</figure>
<p>以上二十七圖。並周之所錄也。今亦舉華蠻之圖式於後。以備於參考。明錢雷人鏡經。胎元圖說云。精氣盛則成二男。血氣盛則成二女。精血皆盛則成一男一女。或精血散分則成品胎。或精血混雜。則成非男非女。男不可為父。女不可為母。皆非純氣。或感邪祟。鬼怪之沴氣。則成異類矣。</p>
<figure>
<img data-orig-src="urn:270:06702.jpg" alt="人鏡經胎元圖一">
</figure>
<p>精勝其血自左子宮受氣而男形成</p>
<figure>
<img data-orig-src="urn:270:06703.jpg" alt="人鏡經胎元圖二">
</figure>
<p>精不勝血自右子宮受氣而女形成</p>
<p>周向得英機黎國醫所編產科書。然以其文字絕異。固不可讀。特其所載易難諸產圖。總十有五。而畫極精妙最足觀矣。蓋其遇難產子難達。則必以器出之。雖其器制不能詳。此死中求活之一奇器也。因撮出圖式二道。以錄於此。智巧之士。仿此製造。臨事施之。則可謂回生之一助也。</p>
<figure>
<img data-orig-src="urn:270:06704.jpg" alt="英機黎國救難產圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06705.jpg" alt="英機黎國救難產圖二">
</figure>
<figure>
<img data-orig-src="urn:270:06706.jpg" alt="一蘭書所載剝胞衣裡面皮而見筋絡圖">
</figure>
<figure>
<img data-orig-src="urn:270:06707.jpg" alt="又臍帶絆頭項圖">
</figure>
<p>已下二十有七圖。喎蘭醫牒分的兒產科書中所載也。凡從胎之位置正變。以至難易諸產。盡寫其形狀。究其變態。而其治術論說。亦復詳審。雖然以其文異其辭殊。不遽易解。今姑譯其圖說。請寒岩馬文奎，縮其圖而摸之。舉其梗概。以示同志云。</p>
<figure>
<img data-orig-src="urn:270:06708.jpg" alt="第一圖">
</figure>
<p>兒面於腹前。在子宮圖。此為正孕。大抵轉身而自頭出者是也。</p>
<figure>
<img data-orig-src="urn:270:06709.jpg" alt="第二圖">
</figure>
<p>兒面於脊骨。在子宮圖。此為變孕。以其非正孕。多艱於產。然其將分娩也。或有轉身而出者。或有不回身。自足露出者。雖然孕狀如此者。每多逆生。</p>
<figure>
<img data-orig-src="urn:270:06710.jpg" alt="第三圖">
</figure>
<p>正孕者。兒已轉身。而其頭直向產門圖。此為順產。</p>
<figure>
<img data-orig-src="urn:270:06711.jpg" alt="第四圖">
</figure>
<p>同上子宮口正。而不歪斜。胎之位置亦正。而易產圖。</p>
<figure>
<img data-orig-src="urn:270:06712.jpg" alt="第五圖">
</figure>
<p>面於背者。已轉身將出。而以子宮差寬闊。故兒頭未望於其口圖。</p>
<figure>
<img data-orig-src="urn:270:06713.jpg" alt="第六圖">
</figure>
<p>正孕者。轉身欲出。而其頤撐橫骨。而不能出。先露雙手圖。</p>
<figure>
<img data-orig-src="urn:270:06714.jpg" alt="第七圖">
</figure>
<p>子宮素傾側。其底偏於右。而其口向左之監骨捷骨際。是故兒雖已轉身。但向其口。而不能出子門圖。</p>
<figure>
<img data-orig-src="urn:270:06715.jpg" alt="第八圖">
</figure>
<p>兒已轉身。而其頭抵母之橫骨。欲出而不出。力息頻到。先出臍帶圖。</p>
<figure>
<img data-orig-src="urn:270:06716.jpg" alt="第九圖">
</figure>
<p>子宮欹斜。而偏於右。其口向左邊。因此兒頭抵母之左監骨。而不能出。遂肚帶先露圖。</p>
<figure>
<img data-orig-src="urn:270:06717.jpg" alt="第十圖">
</figure>
<p>子宮欹側。其底偏於右。其口向左捷骨。因之兒頭拒左監骨不能出。而肘臂及臍帶出圖。</p>
<figure>
<img data-orig-src="urn:270:06718.jpg" alt="第十一圖">
</figure>
<p>子宮口向左監骨與橫骨之間。而兒頭礙橫骨右邊。將先出其肩圖。</p>
<figure>
<img data-orig-src="urn:270:06719.jpg" alt="第十二圖">
</figure>
<p>兒頭拒橫骨與監骨。而先出手圖。</p>
<figure>
<img data-orig-src="urn:270:06720.jpg" alt="第十三圖">
</figure>
<p>兒側面低頭。絆臍帶於頸。體屈曲而將先露兩腳圖。</p>
<figure>
<img data-orig-src="urn:270:06721.jpg" alt="第十四圖">
</figure>
<p>子宮不正。其底偏於右。其口向左監骨及捷骨際。而兒體亦傾側圖。</p>
<figure>
<img data-orig-src="urn:270:06722.jpg" alt="第十五圖">
</figure>
<p>面於背者必不轉身。偶屈折舉手腳先露臀尻圖。</p>
<figure>
<img data-orig-src="urn:270:06723.jpg" alt="第十六圖">
</figure>
<p>兒側面。體彎屈而舉兩足。聚於面。其臀向人門。右手先出圖。</p>
<figure>
<img data-orig-src="urn:270:06724.jpg" alt="第十七圖">
</figure>
<p>兒體頎側。反折而其腹向子門。乃露臍帶圖。</p>
<figure>
<img data-orig-src="urn:270:06725.jpg" alt="第十八圖">
</figure>
<p>兒體欹側。仰而屈身。舉兩腳湊於上背脊向產門。而臍帶將出圖。</p>
<figure>
<img data-orig-src="urn:270:06726.jpg" alt="第十九圖">
</figure>
<p>雙胎元頎側。俱失轉身。而不能分娩。先露臍帶圖。</p>
<figure>
<img data-orig-src="urn:270:06727.jpg" alt="第二十圖">
</figure>
<p>兒失轉身。而先露右腳圖。</p>
<figure>
<img data-orig-src="urn:270:06728.jpg" alt="第廿一圖">
</figure>
<p>兒失轉身而露兩腳圖。</p>
<figure>
<img data-orig-src="urn:270:06729.jpg" alt="第廿二圖">
</figure>
<p>子宮歪斜。其口向腰椎。是以兒轉身將出而頭向其口圖。</p>
<figure>
<img data-orig-src="urn:270:06730.jpg" alt="第廿三圖">
</figure>
<p>子宮不正。其底當脊椎。其口向腹前。兒已轉身將出而頭拄橫骨難出圖。</p>
<figure>
<img data-orig-src="urn:270:06731.jpg" alt="第廿四圖">
</figure>
<p>子宮不正。兒轉身將出而左肩拒橫骨圖。</p>
<figure>
<img data-orig-src="urn:270:06732.jpg" alt="第廿五圖">
</figure>
<p>與前圖同。而右肩礙橫骨圖。</p>
<figure>
<img data-orig-src="urn:270:06733.jpg" alt="第廿六圖">
</figure>
<p>子宮不正。其底偏於右。其口向監骨及橫骨左邊。而兒體亦欹側而頭向其口圖。</p>
<figure>
<img data-orig-src="urn:270:06734.jpg" alt="第廿七圖">
</figure>
<p>子宮不正。其底偏於右。其口向左監骨及腰椎之間。而幾面於背。而向其口圖。</p>

<h1>附錄</h1>

<h2>產前後經驗方</h2>
<p>長德散　產訖服此藥。必無諸疾。</p>
<p>麻葉（陰乾。收磁器內埋燒麥糠火中。）　血竭　虎骨　烏犀角（各二錢）</p>
<p>上為細末。每服一錢二分。好酒送下。以微醺為炒。產後七日止服。凡服此藥產訖不須依椅。惟宜平臥。若產後數十日。舊瘀不盡。發諸疾者。宜用後方。</p>
<p>麻葉（制同上十錢）　血竭　虎骨　烏犀角（各三錢）</p>
<p>上細末。服法如前。忌青菜川魚等。此方武州足立郡浦和領。芝村。長德寺秘方。里人稱枕下藥。</p>
<p>莕菜湯（一名長榮湯又稱山田擺藥）　治產前產後諸病。及金創之妙劑。</p>
<p>當歸　川芎　芍藥　人參　白朮　黃芩　黃連　丁子　沉香　木香　肉桂　萍蓬根（各等分）　甘草（減半）</p>
<p>上銼。除丁沉木桂。余藥炒黃色。每服三錢。水煎服。○一方加鬱金。熟地黃。（此方修閤家有種種傳法。或酒浸。日乾。或炒用。）</p>
<p>赤井龍王湯　治產前後諸疾。及打撲折傷金瘡。腹痛食傷。淋疾癲狂。黃胖病。又癰疔諸惡瘡。類中風。痘瘡後諸症。又能解酒毒。開鬱冒。效驗難悉述。</p>
<p>當歸　川芎　芍藥　黃耆（各上）　良薑（中）　萍蓬根（上）　木香　黃芩　黃連（各中）　人參　大黃　肉桂　桂心　甘草（各下）</p>
<p>上銼。土器中炒。每服二錢。沸湯漬絞用。滓再煎服。○有熱加柴胡。○金創筋斷加檳榔。（中）　丁子。（下）○打撲倍萍蓬根。</p>
<p>救急飲　治婦人臨產血暈悶絕垂死。或呵欠。或嘔逆。或狂躁。或譫語失笑。及一切危症見者。</p>
<p>炮姜　炮黑豆　當歸身　川芎　益母葉（各一錢）　玄胡索　牛膝（各二錢）</p>
<p>上水二大碗。煎七分。和新鮮童便一盞服。如血崩不止。本方加炒荊芥。人參各二錢。</p>
<p>赤白帶下</p>
<p>白物神散　治婦人帶下。因氣滯欲鬱血郁者。</p>
<p>土茯苓（炒十五錢）　當歸　川芎　薏苡仁　牡丹皮（各五錢炒）　人參　甘草（各二錢）</p>
<p>上為細末。每服一錢。白湯送下。</p>
<p>束帶飲　治赤白帶下。及產後惡露盡後。清血不止者。</p>
<p>續斷　炙艾　紅花（各上）　地榆　川芎（各中）　地黃　芍藥（各中）　當歸（上）</p>
<p>上每服四錢。以水一盞半。煎取八分服。</p>
<p>八仙飲　治赤白帶下不止。陰門瘙癢。</p>
<p>土茯苓　陳皮　茯苓　木通　當歸　金銀花　大黃　川芎（各等分）</p>
<p>上八味。每服四錢。水二盞。煎一盞溫服。</p>
<p>玄胡索湯　治臍下撮刺痛。陰冷大寒。白帶下。</p>
<p>黃柏　苦楝子（各一分）　附子　肉桂（各三分）　玄胡索（二分）　熟地黃（一錢）　炙甘草（二分）</p>
<p>上銼一劑。水煎服。</p>
<p>木香順氣湯　治因七情內傷。下白帶。</p>
<p>良薑　乾薑（炮）　茴香　陳皮　縮砂　厚朴（薑汁炙）　桔梗　蒼朮　甘草　丁香皮　肉桂（各等分）</p>
<p>上銼。每服二錢。水一盞。生薑三片。棗二枚。煎八分服。</p>
<p>治梅毒。及產後。帶下久不止方。</p>
<p>十全大補湯去人參。用地黃一錢。加牡丹皮紅花各五分。土茯苓二三錢。水煎服。後宜與妙應散。</p>
<p>妙應散</p>
<p>白朮　茯苓　陳皮　香附子　川芎　沉香（各六錢）　血竭（七錢）　人參（三錢）　甘草（二錢）</p>
<p>上為細末。每服一錢。白湯送下。○如腰腳冷者。加熟附子二錢。</p>
<p>治帶下前陰糜爛癢痛者。用此甚神效。</p>
<p>鰒魚（去殼用身腸）　菖蒲根（各等分）</p>
<p>入土器中燒存性。細末。白麻油和調敷患處。癢痛立愈。</p>
<p>如聖丹　治婦人赤白帶下。月經不來。</p>
<p>白礬　蛇床子（各等分）</p>
<p>為末。醋打麵糊丸。如彈子大。以胭脂為衣。綿子裹納於陰戶。如熱極再換。（儒門事親）</p>
<p>坐藥方　治婦人久不產。陰中隱隱如蟲齧。冷冷如風吹。或轉胞不通。或妊子不成。慣墮者。</p>
<p>硫黃　桂皮　川芎　丁香（各等分）</p>
<p>上為細末。以絹袋盛。大如指。束內陰中。坐臥任意。勿走行。小便時取出。更安新者。</p>
<p>又方　治婦人經閉。瘀滯下不斷。或濃淋下疳。腐臭不可近。陰中突出。如菌子。如雞冠。不堪焮痛者。</p>
<p>桃仁　大黃（各一錢）　礬石　龍腦（各五分）</p>
<p>上如前法納陰中。若夫前方惟宜溫下體之氣。而後方則下瘀血。及青黃濁汁。以其諸症漸退為度。</p>

<h2>經閉血瘕</h2>
<p>溫經湯　治經道不通。繞臍寒疝痛徹。其脈沉緊。此由寒氣客血室。血凝不行。</p>
<p>當歸　川芎　芍藥　牡丹皮　莪朮（各半兩）　人參　牛膝　甘草（各一兩）</p>
<p>上㕮咀。每服五錢。水一盞半。煎至八分。去滓溫服。</p>
<p>澤蘭湯　調經。通血脈。治經閉。</p>
<p>澤蘭（二錢）　柏子仁　當歸　白芍　熟地黃　牛膝　茺蔚子（各一錢五分）</p>
<p>上七味。水煎服。</p>
<p>通經散　治婦人經水不來者。</p>
<p>紫檀　紅花　牛膝（各二錢）　肉桂　白礬　代赭石（各一錢）</p>
<p>上為細末。分作五貼。三日服盡。尚經水不來者。更加桔礬二分。</p>
<p>本事通經丸　治婦人室女。月水不通疼痛。或成血瘕。</p>
<p>桂心　青皮（去白）　大黃（炒）　乾薑　川烏頭　當歸　桃仁　莪朮　乾漆（各等分）</p>
<p>為末。先將四錢。用米醋熬成膏。和余末調勻。搗千杵。丸如梧子大。曬乾。每服二十丸。淡醋湯下。加至三十丸。溫酒亦得。</p>
<p>鱉甲乾漆散　治血瘕症癖。</p>
<p>鱉甲　琥珀　大黃　乾漆（各等分）</p>
<p>上作散。酒服二錢許。少時惡血即下。若婦人小腸中血下盡。即休服也。（本系甄權方。予常加乾漆。用之尤效。）</p>
<p>魁蛤丸　治瘀血作痛。經閉不行。</p>
<p>香附（醋煮四兩）　桃仁　瓦楞子（即魁蛤煅醋煮一晝夜各二兩）　大黃（蒸）　牡丹皮　當歸（各一兩）　川芎　紅花（各半兩）</p>
<p>為末。𩚫餅丸。梧子大。空心溫酒下三五十丸。（生生子方）</p>
<p>乾漆丸　治瘀血在膀胱者。</p>
<p>歸尾　紅花（各三錢）　乾漆（五錢）　大黃　桃仁（各二錢）</p>
<p>上五味。細末。醋糊丸。梧桐子大。每服二三十丸。白湯下。</p>
<p>潰堅丸　治經閉血痼腹痛者。</p>
<p>生漆　大黃　麵粉（各等分）</p>
<p>上三味。煉蜜和調丸。梧桐子大。每服五分。白湯送下。日二夜一。發赤疹為知。</p>

<h2>崩漏</h2>
<p>補氣退血湯　治婦人血崩。氣血兩虛而兼熱者。</p>
<p>當歸（酒洗）　阿膠　人參　黃耆　白朮　梔子（炒黑）　荊芥　黃芩　地榆　艾葉（酢炒各一錢）　川芎（七分）　芍藥（八分）　防風（八分）　地黃（一錢半）　黃連　蒲黃（各一錢半）　甘草（三分）</p>
<p>上十七味。水煎。或薑棗湯煎服。</p>
<p>大全黃芩湯　治經血不止。</p>
<p>黃芩　當歸　蒲黃　側柏葉（各四分）　艾葉（一分）　生地黃（二錢半）　伏龍肝（二錢）</p>
<p>上七味。生薑三片。水煎服。</p>
<p>十全大補湯加香附子棕櫚灰　治崩中去血過多。</p>
<p>木耳散（百一）　治血山崩。</p>
<p>陳粽　木耳　蓮房　槐木（各研存性）</p>
<p>上等分為細末。每服三錢。溫酒或米湯調下。</p>
<p>五靈散　治婦人血崩。或作肚腹刺痛者。</p>
<p>五靈脂　蒲黃（炒）　官桂　雄黃　甘草（各等分）</p>
<p>上為細末。每服一錢。薑湯調下。</p>
<p>黃連解毒湯加艾葉　治血崩不止。（方見傷寒啟微頭痛壯熱）</p>
<p>柏葉散（證治大還）　治元氣虛弱。崩中漏下。久而不止。又治白帶。</p>
<p>柏葉（炒）　續斷（炒）　川芎　當歸　生地　鱉甲　龜甲　禹餘糧（各一兩半）　阿膠　地榆　牡蠣（煆）　艾藥　鹿茸　赤石脂（各五錢）</p>
<p>上為細末。米飲下二錢。</p>
<p>益胃升陽湯　治血脫益氣。古人之法也。先補胃氣以助生長。故曰。陽生陰長。諸甘藥為之先務。舉世皆以為補氣。殊不知甘能生血。此陽生陰長之理也。故先理胃氣。人之身內。穀氣為實。</p>
<p>黃耆（二錢）　人參　神麯（炒各一錢半）　白朮（三錢）　生黃芩（二錢）　升麻　柴胡（各五分）　歸身（酒洗）　甘草（炙）　陳皮（各一錢）</p>
<p>上水煎溫服。一方用地黃。</p>

<h2>乳癰乳結</h2>
<p>栝蔞牛蒡湯　治乳癰初起。寒熱往來。乳房紅腫熱痛者。</p>
<p>栝蔞仁　牛蒡子（研炒）　花粉　黃芩　皂刺　連翹　金銀花　生梔子　陳皮　甘草（各一錢）　青皮　柴胡（各五分）</p>
<p>水二鍾。煎八分。入煮酒一杯和勻。食遠服。</p>
<p>橘葉散　治婦人有孕。胎熱為內吹。有兒吃乳。名外吹。致乳結成腫痛。寒熱交作。甚者噁心嘔吐。並服之。</p>
<p>柴胡　陳皮　川芎　山梔　青皮　石膏　黃芩　連翹（各一錢）　橘葉（二十個）　甘草（五分）</p>
<p>水二鍾。煎八分。食遠服。渣再煎服。</p>
<p>清肝解鬱湯　治一切憂鬱氣滯。乳結腫硬。不疼不癢。久漸作疼。或胸膈不利。肢體倦怠。面色痿黃。飲食減少。</p>
<p>陳皮　白芍　川芎　當歸　生地　半夏（各八分）　青皮　遠志　茯神　貝母　蘇葉　桔梗（各六分）　香附（八分）　山梔　木通　甘草（各四分）</p>
<p>水二鍾。姜三片。煎八分。食遠服。</p>
<p>鯪甲散　治乳癰。</p>
<p>穿山甲　皂刺　橘葉　當歸　栝蔞仁　木通（各等分）</p>
<p>上六味。水煎溫服。</p>
<p>神效栝蔞散　治乳癰乳癌神效。丹溪亦云妙捷。</p>
<p>大栝蔞（一個去皮焙為末）　甘草（生）　當歸（酒浸焙各半兩）　乳香（另研）　沒藥（另研各二錢半）</p>
<p>上為末。每用五錢。醇酒三鍾。慢火熬。至一鍾。去渣。食後服。如有奶癌便服此藥。可杜絕病根。如毒氣已成。能化膿為黃水。毒未成。即於大小便中通利。</p>
<p>回乳四物湯　治產婦無兒吃乳。致乳汁腫脹。堅硬疼痛難忍。</p>
<p>當歸　川芎　白芍　熟地（各二兩）　麥芽（二兩炒為粗末）</p>
<p>水二鍾。煎八分。食遠服。</p>
<p>蔞貝散　治乳中結核漸漸大。堅硬疼痛。根形散漫者。</p>
<p>栝蔞　貝母　天南星　甘草（生）　連翹（各一錢）</p>
<p>水二鍾。煎八分。澄渣加酒二分。食遠服。一加青皮升麻。</p>
<p>治乳結硬妙方</p>
<p>天南星　百草霜（各等分）</p>
<p>為末。茶湯調。以雞翎塗之。（予將此方每得奇效）</p>
<p>皂角散　治吹乳。</p>
<p>皂角（燒灰）　蛤粉（各等分）</p>
<p>為末。每服二錢。溫酒調下。</p>

<h2>乳岩</h2>
<p>集驗良方云。乳岩先因乳中一粒。大如豆。漸漸大如雞蛋。七八年後方破。破則不可治矣。宜急服此藥。生蟹殼砂鍋內焙焦為末。每服二錢。酒調下。日日服之。不可間斷。</p>
<p>治乳岩奇方</p>
<p>露蜂房　苦楝子　雄鼠屎（各燒存性三錢○鼠屎入水沉者雄浮者雌也）</p>
<p>上為細末。每服一錢。溫酒送下。日三。</p>
<p>又方</p>
<p>大栝蔞（一個半生半炒）</p>
<p>酒二鍾。煎一鍾。食後服。</p>
<p>又方</p>
<p>夏枯草花葉。俱擂。入食鹽少許。再和勻敷患處。其效如神。鹽分兩以適人口為佳。</p>
<p>乳癌神方</p>
<p>守宮（燒存性）</p>
<p>為末。醋和。敷患處。</p>
<p>化癌煎（大西洋方）　治一切癌瘡。</p>
<p>奇良（上）　鹿角（生屑上）　桂枝（中）　甘草（下）</p>
<p>每服三錢。水二盞。煎一盞。日服三貼。</p>
<p>十六味流氣飲　治乳癌。</p>
<p>當歸　川芎　白芍　黃耆　人參　官桂　厚朴　桔梗　枳殼　烏藥　木香　檳榔　白芷　防風　紫蘇　甘草（等分）</p>
<p>上銼一劑。水煎服。</p>
<p>治乳頭裂破方</p>
<p>以蛤粉胭脂等分。水調傅。</p>
<p>治乳頭為兒所齧裂破不瘥</p>
<p>粳米飯（燒存性）</p>
<p>為末。傅患處。</p>
<p>又方</p>
<p>鼴鼠燒存性。細末。津液調傅。</p>
<p>療乳癰初得令消方</p>
<p>赤小豆　菵草（等分）</p>
<p>上為細末。苦酒和。傅之愈。</p>
<p>療乳癰或瘡久不差膿汁出疼痛欲死不可忍。</p>
<p>鹿角（二兩）　甘草（半兩）</p>
<p>上為細末。用雞子白和於銅器中。暖溫傅患處。日五七易即愈。</p>
<p>東宿治程玉吾內人。妊已七月。乳忽紅腫而痛。灑淅惡寒。發熱而成內吹。以大栝蔞（四錢）為君。當馬尾（二錢）為臣。甘草節蒲公英貝母連翹（各一錢二分）為佐。柴胡青皮（各八分）橘藥（五片）為使。水煎飲之。兩劑而瘳。此方治驗不可勝數。若將成膿。可加白芷。○周依此方。每奏奇效。因舉於此。</p>

<h2>陰瘡　陰腫</h2>
<p>苦參煎（周新定方）　治婦人陰中生瘡。膿汁淋瀝疼痛者。神效。</p>
<p>苦參（五錢）　防風　鼠麴草　荊芥　野菊花　蛇床子（各二錢半）</p>
<p>以水二升。煮取一升六合。熏洗即愈。</p>
<p>菖蒲散（赤水）　治月水澀滯。陰戶腫痛。</p>
<p>菖蒲　當歸（炒各一兩）　秦艽（二兩）</p>
<p>上每服五錢。入蔥白水煎服。</p>
<p>白礬散（同）　治陰腫堅痛。</p>
<p>白礬（五錢）　甘草（五分）　大黃（一兩）</p>
<p>上為末。水調如棗大。綿裹內陰中。一日兩換。以愈為度。</p>
<p>治婦人陰中突出如菌。四圍腫痛。內用補中益氣加山梔茯苓車前子。或加味歸脾湯。外以生豬脂和藜蘆末塗之而收。（同上）</p>
<p>余治一婦人。妊娠六月。陰中突出如菌。其色灰白有皺紋。以龍膽瀉肝湯。加白芷金銀花。六七日而全愈。頃閱香奩潤色。治女人陰門忽生雞冠或瘰者。用瀉肝湯加大黃一錢即消。與余治驗正同。</p>
<p>小網街。賣油商。作兵衛妻。產後陰門傷破。數日不瘥。後潰爛膿水常出。而痛楚亦甚。已逾一月尚不愈。予用柞皮湯及薰洗方。十餘日而全安。（二方並見黴癘新書。宜以參看。）</p>
<p>本船街。肉糕鋪。平三郎妻。娠孕患子腫。數月不消。漸小便短少。至臨月腰腳腫尤甚。忽陰門大腫。如股間挾球。陰肉垂下。殆似牛舌。其色㿠白如水晶。開股屈腳。倚褥仰坐。兩膝以枕承之。兀然不能轉側。眾醫用利水及熏洗之劑。毫末無效。勢增劇矣。乃迎予求治。予曰。此症甚易易。即以三稜針刺陰門腫上。左右各三痏。垂肉上一痏。清水滴出。便以故絮裹之。通宵水出盡。而陰門復常。次日予往。則婦離床跪坐。若未始有病者。後逾六日分娩如達。後橐吾飲禹翼湯交用。而腰腳腫悉消。未三候而動履如初。</p>

<h2>曲頭管圖式</h2>
<figure>
<img data-orig-src="urn:270:06735.jpg" alt="曲頭管圖式">
</figure>
<p>曲頭管長六寸。大如小筆管。曲頭七分。於頭端上際穿一小孔。為出藥處。當以銅或銀製之。此管不獨可用子癇。又產後痙病。其他卒中風。小兒驚癇等之症。牙關緊閉者。宜以此管灌藥矣。而其灌藥法。須以管頸入口內。隨齒進之。至牙齒不生處。以曲頭入上下齦間。乃醫自銜藥。自管下口向喉里吹灌之。是不須開牙關。落藥於咽中之良法也。此管真救卒病之神器。醫家不可一日無也。</p>
