<header data-type="book">
<h1>癰疽神秘驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陶華</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00584_0039/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>癰疽十段關</h1>
<p>癰疽，遍身拘急，疼痛寒熱，宜宣通經絡，宜用人參敗毒散。</p>
<p><u>人參敗奏散</u></p>
<p>人參　獨活　柴胡　桔梗（炒）　羌活　枳殼（炒）　茯苓　川芎　前胡　甘草（各一錢）</p>
<p>作一劑，水二鍾，姜三片，煎一鍾。服後服內托復煎散。</p>
<p><u>內托復煎散</u></p>
<p>地骨皮　防己（酒拌）　官桂　白芍藥（炒）　甘草（炙）　當歸（酒拌）　茯苓　白朮（炒）　人參　黃芩　黃耆（鹽水拌炒，各一錢）　防風（二錢）</p>
<p>㕮咀，先以蒼朮一片，水五升煎，去朮入藥再煎，至二升。終日飲之，渣再煎服。</p>
<p>愚按：《機要》云：治瘡之法，當分三因。用前二劑者，蓋為外因之治也。邪在表者，用人參敗毒散散之，後服內托復煎散托之，使邪不得內侵，固為善也。亦有內因，邪在臟，致大便不能通，宜用內疏黃連湯。又有不內外因者，便利調勻，飲食如故，邪在經絡，宜用托裡榮衛湯，不可一概用前二劑也。</p>
<p><u>內疏黃連湯</u></p>
<p>黃連（炒）　芍藥（炒）　當歸（酒拌）　檳榔　木香　黃芩（炒）　山梔（炒）　薄荷　桔梗（炒）　甘草（各七分）　連翹（錢半）　大黃（炒，二錢）</p>
<p>作一劑，水二鍾，煎八分，食前服。</p>
<p><u>托裡榮衛湯</u></p>
<p>黃耆（炒）　紅花　桂枝　蒼朮（米泔浸，炒）　柴胡　連翹（各一錢）　羌活　防風　當歸身（酒拌）　甘草（炙）　黃芩（各七分半）　人參（五錢）</p>
<p>作一劑，水二鍾，煎八分，食遠服。</p>
<p>癰疽大渴發熱，或瀉或小便如淋，宜用竹葉黃耆湯。</p>
<p><u>竹葉黃耆湯</u></p>
<p>生地黃　黃耆（各二錢）　當歸（酒拌）　淡竹葉　川芎　甘草（炙）　黃芩（炒）　白芍藥（炒）　人參　半夏　石膏（煅，各一錢）</p>
<p>作一劑，水二鍾，姜三片，煎八分，食遠服。</p>
<p>愚按：前證七惡中之一惡也，此方治之，其功甚捷。亦有左手脈浮大，而熱或渴者，宜發散表邪；右手脈沉實而熱或渴者，宜疏去內邪。若潰後作渴，或小便如淋，或脈大而無力者，屬氣血虛也，宜大補氣血。亦有潰後熱不止，或作渴，遂以為敗證不治。若素有胃火，或胃經熱毒未盡，胃脈尚數者，仍宜服前湯。服而脈反大，熱愈甚，渴愈作，斯為敗證，蓋因真氣虛而邪氣實也。今之潰瘍，畏石膏、黃芩二藥性冷，多不肯服。若胃脈未靜，非此藥莫能治也。著因循日久，煎熬氣血，膿血愈多，氣血愈虛，反成敗證矣。治者當舍證從脈可也，大抵瘡瘍之證，七惡內見一二惡，甚可畏。虛中見惡證者，不治。實證無惡候者，自愈。</p>
<p><u>又方</u>　托裡黃耆湯</p>
<p>黃耆（炒，六錢）　甘草（炙）　瓜蔞根（各一錢）</p>
<p>作一劑，水二鍾，煎八分，頻服之。加人參一錢亦可。愚用此方治氣虛作渴甚效。若氣血俱虛，或膿血大泄作渴，或兼發熱者，宜用托裡養榮湯。</p>
<p><u>托裡養榮湯</u></p>
<p>人參　黃耆（炙）　當歸（酒拌）　芍藥（炒）　川芎　白朮（各一錢）　五味子（沙炒）　麥門冬（去心）　甘草（炙，各五分）　熟地黃（用生者，酒拌銅鍋內蒸半日）</p>
<p>作一劑，用水二鍾，姜三片，棗二枚，煎八分，食遠服。</p>
<p>癰疽，膿血大泄，敗臭痛甚，宜用黃耆人參湯。</p>
<p><u>黃耆人參湯</u></p>
<p>人參　蒼朮（米泔浸，炒）　白朮（炒）　陳皮　麥門冬（去心）　當歸（酒拌）　神麯（炒）　甘草（炙）　五味子（杵，炒，各一錢）　黃耆（炙，二錢）　黃柏（炒）　升麻（各四分）</p>
<p>作一劑，水二鍾，姜三片，棗二枚，煎八分，食遠服。</p>
<p>愚按：前證，七惡中之二惡也。宜用此方治之。亦有潰後虛而發熱，或作痛少寐，尤效。若痛少止，大便不實，黃柏、麥門冬可不用，蓋惡寒中也。凡瘡膿潰之後，若脈洪大，則難治自利者不治。</p>
<p>癰疽，喘急恍惚嗜臥，此心火刑肺金，宜用人參平肺散。</p>
<p><u>人參平肺散</u></p>
<p>桑白皮（炒）　知母（七分，炒）　杏仁（去皮尖，炒）　地骨皮　紫蘇　橘紅　半夏（薑製）　茯苓　青皮　人參（各一錢）　甘草（炙，五分）　五味子（米泔炒，杵）</p>
<p>作一劑，水二鍾，姜三片，煎八分，食遠服。</p>
<p>愚按：此方理氣清肺化痰之劑，若肺脈洪數無大者宜用；若兼發熱作渴，脈洪數有力者，宜用如金解毒散。此證火剋金，為惡候。面赤者亦不治。</p>
<p><u>如金解毒散</u>（方見後）</p>
<p>癰疽，目斜視上，黑睛緊小，白睛青赤，肝挾火邪，宜用瀉青丸。</p>
<p><u>瀉青丸</u></p>
<p>當歸（酒拌）　川芎　山梔仁（炒）　羌活　草龍膽（酒拌，炒）　防風　大黃（酒拌，炒，各等分）</p>
<p>為細末，煉蜜丸雞頭實大。每服一丸，煎淡竹葉湯化下，日進二三服。如瀉，去大黃加荊芥，或用黃連瀉心湯一二劑亦可。</p>
<p>愚按：前證，七惡中之三惡也，若肝脈弦緊洪數者最當。亦有目視不正，晴不了了，脈微或浮者，乃真氣虛也，宜用大補之劑。夫瀉青者，瀉肝經之火邪也。肝屬木，其色青，故耳。</p>
<p>癰疽，四肢沉重，宜用胃苓散。</p>
<p><u>胃苓散</u></p>
<p>蒼朮（二錢，米泔浸，炒）　厚朴（薑製）　陳皮　甘草（炙）　白朮（炒，各一錢）　茯苓（一錢七分）　澤瀉　木香　白芍藥（炒，各一錢）　官桂（五分）　淡竹葉（二十片）</p>
<p>作一劑，水二鍾，姜三片，棗二枚，煎八分，食前服。</p>
<p>愚按：前症，七惡中之五惡也，服而若脾氣醒，濕氣除，宜用參苓白朮散之類，多服恐導損津液。</p>
<p><u>參苓白朮散</u></p>
<p>人參　茯苓　白朮（炒）　蓮肉（去心）　砂仁（炒，杵）　薏苡仁（炒）　山藥（各二兩）　桔梗（炒）　甘草（炙）　白扁豆（薑汁浸，炒，去皮）</p>
<p>為細末，每服二錢，用石菖蒲煎湯調下。</p>
<p>癰疽，嘔吐不下，食不知味，宜用橘半胃苓湯。</p>
<p><u>橘半胃苓湯</u></p>
<p>橘紅　半夏（薑製，各一錢）　蒼朮（米泔浸，炒）　白朮（炒）　厚朴（薑製）　甘草（炙）　茯苓　人參　澤瀉　茅根（各二錢）　薑汁（數匙）</p>
<p>作一劑，水二鍾，煎一鍾，入薑汁煎一二沸，作十餘次飲之。</p>
<p>愚按：前症，七惡中之六惡也，用此方後，胃氣將醒，宜用六君子湯兼服之。亦有煩躁飲冷不食，脈沉實而嘔者，恐不可用，此宜用內疏黃連湯。</p>
<p><u>內疏黃連湯</u>（方見前）</p>
<p>癰疽，聲嘶色敗，唇鼻青赤，面目浮腫，宜用調胃白朮散。</p>
<p><u>調胃白朮散</u></p>
<p>白朮（炒）　茯苓（各二錢）　陳皮　白芍藥（炒）　檳榔　澤瀉（各一錢）　木香</p>
<p>作一劑，水二鍾，姜三片，煎八分，食後服。如腫不退，加白朮（炒）、枳實（麩炒，各一錢。）</p>
<p>愚按：前症，乃七惡也，用此方若濕除氣少退，用六君子湯、參苓白朮散之類，大便不實尤效。再用檳榔、木香，恐傷真氣也。亦有真氣虛而致前症者，尤不宜用二藥。</p>
<p><u>六君子湯</u></p>
<p>人參　白朮　茯苓　半夏（薑製）　陳皮（各一錢）　甘草（炙，五分）</p>
<p>作一劑，水二鍾，姜三片，棗三枚，煎六分，食遠服。</p>
<p><u>參苓白朮散</u>（方見前）</p>
<p>癰疽，胸滿腹痛泄瀉，咳逆惛憒，宜用托裡溫中湯。</p>
<p><u>托裡溫中湯</u></p>
<p>羌活　乾薑（炮，各一錢）　附子（炮，四錢）　益智仁（搗碎）　丁香　沉香　木香　茴香（各一錢）　甘草（炙，一錢）　陳皮（一錢）</p>
<p>作一劑，水二鍾，姜三片，煎八分。食前服。</p>
<p>愚按：此寒氣內陷之方也。羅謙甫舍時從證，曰《內經》云：寒淫於內，治以辛熱，佐以苦溫。故以乾薑、附子大辛熱，溫中外，發陽氣，自里之表，故為君。羌活味苦辛溫，透關節。炙甘草甘溫，補脾胃，行經絡，通血脈。胃寒則嘔吐，吃逆不下食，益智仁、丁香、沉香大辛熱，以散寒為佐。瘡氣內攻，氣聚而為滿，木香、茴香、陳皮苦辛溫，治痞散滿，為使也。用治前證，誠為良方，非精於醫治者，不能立也。若寒氣散，中氣溫，宜用托裡健脾之劑。</p>
<p>癰疽，大痛不止，宜用加味解毒湯。</p>
<p><u>加味解毒湯</u></p>
<p>黃耆（鹽水炒拌）　黃連（炒）　黃芩（炒）　黃柏（炒）　連翹　當歸（酒拌，各七分）　甘草（炙）　白芍藥　梔子仁（炒，各一錢）</p>
<p>作一劑，水二鍾，煎八分服之，藥下痛即止。</p>
<p>愚按，此方若脈洪大，按之有力者，用此解之，其功甚大。亦有便秘脈實而痛者，宜甩內疏黃連湯下之。若潰而反痛者，宜用內補黃耆湯補之。穢氣所觸而痛者，和解之。風冷所逼而痛者，溫養之。丹溪云。凡瘡不可不痛，不可大痛，煩悶者不治。</p>
<p><u>內疏黃連湯</u>（方見前）</p>
<p><u>內補黃耆湯</u></p>
<p>黃耆（鹽水炒拌）　熟地黃（酒拌）　人參　茯苓　甘草（炙，各五分）　芍藥（炒）　川芎　官桂　遠志（去心炒）　當歸（酒拌，各八分）　麥門冬（去心，五分）</p>
<p>作一劑，水一鍾半，姜三片，棗二枚，煎六分，食遠服。</p>
<p>癰疽，勢惡平陷，一應無名疔毒，活人無數，宜用真人活命散。</p>
<p><u>真人活命散</u>（一名仙方活命飲）</p>
<p>滴乳（研）　防風　白芷　貝母　赤芍藥　當歸尾　明沒藥（研）　皂角刺（炒）　天花粉　甘草節　穿山甲（炮，各一錢）　陳皮　金銀花（各三錢）</p>
<p>在背俞皂角刺為君，在腹募白芷為君，在胸次加瓜蔞仁二錢，在四肢金銀花為君。如疔瘡加紫河車草根（三錢，如無亦可）。上為粗末，瘡大四兩，瘡小二兩，作一劑，無灰酒十茶鍾，瘡小五茶鍾，入有嘴瓶內，以厚紙封口，勿令泄氣，煎至三大鐘，去渣。作三次服，接連不斷，隨瘡上下服。能飲酒者，服藥後再飲三五杯。此藥並無酒氣，不動臟腑，不傷氣血。忌酸薄酒、鐵器。服後側睡覺，痛定回生，神功浩大，不可臆度。</p>
<p>真人：真人活法世間稀，大惡癰疽總可醫，消毒只如湯潑雪，化膿漸使肉生肌。</p>
<p>偶云：陰功何止萬人活，神效何須刻日期，留下仙方誠信授，存仁修制上天知。</p>
<p>愚常用此方，不問陰陽虛實，善惡腫潰，大痛或不痛，先用此劑，大勢已退，然後隨餘證調治，其功甚捷，誠仙方也。</p>
<p><u>二黃膏</u>　治一切腫毒。</p>
<p>黃柏　大黃（各等分）</p>
<p>為末，用醋調搽，如干用水潤之。</p>
<p><u>又方揭毒散</u></p>
<p>大黃（兩半）　白及（一兩）　朴硝（二兩）</p>
<p>為末，井水調搽，如干再搽。</p>
<p>愚按：此二方乃寒涼之藥，若瘡瘍焮腫作痛，屬陽之證，宜用之。或微腫痛，而不焮赤者，恐不宜用。蓋氣血喜溫而惡寒，若冷氣入里，反為難治之證矣。</p>
<p><u>又方</u>　治一切癰疽腫毒。</p>
<p>草烏　貝母　天花粉　南星　芙蓉葉（各等分）</p>
<p>為細末，用醋調搽，四圍中留頭出毒，如干仍用醋潤之。</p>
<p>愚按：此方藥性溫和，常用不問陰陽腫潰，並效。</p>
<p><u>宣毒散</u>　治一切毒瘡，其功不可盡述。</p>
<p>大黃（煨，五錢）　白芷（五錢）</p>
<p>作一劑，水二鍾，煎一鍾，食前服。</p>
<p>愚按：此方乃宣通攻毒之劑，若脈沉實便秘者，乃毒在臟也，宜服之以絕病源，其功甚大。或臟腑調和而脈不實，恐不可用。《醫林集要》方，大黃一斤，白芷六兩，為末，每服三錢，熱酒調下。更用茶清，調搽患處。命名萬金散，蓋因其功而珍之也。當以水泛為丸，令可服。吳申江金憲兄，背患疽，木悶堅硬，脈沉實，乃毒在內，用一服，大小便下汙物，再服而消。恐患者忽此二藥，故以所嘗治驗者告之。</p>
<p><u>集香散</u>　洗癰疽潰爛。</p>
<p>白芷　藿香　茅香　香附　防風（各二錢）　木香　甘草（各一錢）</p>
<p>作一劑，用水三碗，煎數沸，去柤，淋洗患處。</p>
<p>愚按：此方乃馨香之劑也。經云：血氣聞香則行，得臭則逆。即此意也。若瘡毒將盡，宜用之。若毒未盡，或有瘀肉，宜先用雄黃解毒散解之，後宜用此方。須用膏藥護貼，使風邪弗入，肌肉易生。大凡一有瘡口，即用膏藥貼之，至收口為度，最忌生肌之劑。</p>
<p><u>雄黃解毒散</u>　治一切癰疽潰爛，解毒。凡下部濕毒作癢未膿者，連用數次自消。</p>
<p>雄黃（一兩）　白礬（四兩）　寒水石（一兩）</p>
<p>為末，用滾水二三碗，乘熱入前藥一兩，薰洗患處。</p>
<p><u>神仙太乙膏</u>　治癰疽及一切瘡毒，不問年月深淺，已未成膿者，並治之。如發背，先以溫水洗淨，軟帛拭乾，用纖帛攤貼之，更用冷水送下。血氣不通，溫酒下。赤白帶下，當歸酒下。咳嗽及喉閉纏喉風，並用新綿裹，置口中噙化下。一切風赤眼，捏作小餅，貼太陽穴，更以山梔湯下。打撲傷損，外貼內服，橘皮湯下。腰膝痛者，患處貼之，鹽湯下。唾血者，桑白皮湯下，以蛤粉為衣，其膏可收十餘年不壞，愈久愈烈。又治瘰癧瘻瘡，並用鹽湯洗貼，酒下一丸。婦人經脈不通，甘草湯下。一切疥，別煉油少許，和膏塗之。虎犬蛇蠍湯火刀斧傷者，皆可內服外貼。</p>
<p>玄參　白芷　當歸　肉桂　大黃　赤芍　生地黃（各一兩）</p>
<p>為咀，用麻油二斤，入銅鍋內煎至黑，濾去柤，入黃丹十二兩，再煎，滴水中，捻軟硬得中，即成膏矣。予常用，但治瘡毒並內癰有奇效。忽一婦，月經不行，腹結塊作痛，貼之，經行痛止。後隨前云治證，用之無有不效，愈知此方之妙也。</p>
<p><u>生肌散</u>　治瘡口不合。</p>
<p>木香（二錢）　黃丹　枯礬（各五錢）　輕粉（二錢）</p>
<p>上件各另為細末，用豬膽汁拌勻曬乾，再研細糝患處。</p>
<p>愚按：此方乃解毒去腐搜膿之劑，非竟自生肌藥也，蓋毒盡則肉自生。常見患者，往往用龍骨、血竭之類，以求生肌，殊不知餘毒未盡，肌肉何以得生，反增潰爛耳。若此方誠有見也。亦有氣血俱虛不能生者，當用托裡之劑。又有風寒襲於瘡所，不能生者，宜用豆豉餅灸之。若流注頑瘡，內有膿管，或瘀肉，或癧核，須用針頭散腐之錠子，尤妙。如背瘡、杖瘡、湯火瘡大潰，當用神效。當歸膏則能去腐生新，大有神效。</p>
<p><u>豆豉餅</u>　治瘡瘍腫硬不潰，及潰而不斂，並一切頑瘡惡瘡。用江西豆豉為末，唾津和作餅子如錢大，厚如三文，置患處，以艾壯干餅上灸之，餅乾再用唾津和作如有瘡腫大，用漱口水調作餅，覆患處，以艾鋪於餅上燒之。如未成者用之即消，已成者縱不能全消，其毒頓減。前人俱稱有奇功，不可忽之。</p>
<p><u>神效當歸膏</u>　治癰疽瘡毒，及湯火杖瘡潰爛，最能止痛，推陳致新。</p>
<p>當歸（二兩）　麻油（四兩）　白蠟（五錢，如用黃蠟一兩尤效）</p>
<p>先用當歸入油，煎至焦黑色，去柤入蠟溶化，即成膏矣。此方用蠟為君。前人每云，蠟為外科之要藥，生肌定痛，續筋補虛，其功不可盡述。常見善訟者，杖後隨食蠟兩許，飲酒一二碗，一睡之後，血散痛止，輕者即消，重者雖腐潰亦易愈，可見蠟之功為大，用者不可忽之。</p>
<p>癰疽勢退調治，堤防作渴，宜用加減八味丸。</p>
<p><u>加減八味丸</u>　補腎，止口渴虛煩。</p>
<p>五味子　乾山藥（各四兩）　官桂（一兩）　白茯苓　牡丹皮（白者佳）　澤瀉（蒸，各三兩）　山茱萸肉（四兩，酒拌搗膏）　熟地黃（用生者二兩，酒拌銅器蒸，半日即為熟地。砂器亦可搗膏）</p>
<p>為細末，入二膏，加煉蜜或酒糊丸梧子大。每服七八十丸，空心溫酒下，鹽湯亦可。</p>
<p>愚按：此方乃陰虛火動之劑也。瘡疽痊後，及將痊，口渴甚者，口黃堅硬，及未患先渴，或心煩躁渴，小便頻數，或白濁陰痿，飲食少思，肌膚消瘦，及腿腫腳先瘦，及口齒生瘡不絕，此乃腎水枯涸，不能上潤，心火炎上，不能既濟，服此藥以生腎水降心火，諸證悉治，誠良方也。一男子作渴，口飲水數碗，冬月亦然，彼用前方去肉桂服之不應。一男子患此，欲治以前丸，彼謂肉桂性熱，乃服知母、黃柏等藥，渴不止，背發疽而歿。一男子亦患此證，漸消瘦，與前丸數服，渴減半，一劑而痊，再劑形體復壯。夫肉桂腎經藥也，前證乃腎經虛火炎上，無製為患，用肉桂導引諸藥以補之，及引虛火歸原，故效。一男子口舌糜爛，津液短少，眼目赤，小便數，痰涎壅盛，腳膝無力，或冷或午後腳熱，勞而愈盛，數年不愈，服之即愈。此皆治驗。</p>
<p><u>地黃大補丸</u>　治癰疽愈後作渴。</p>
<p>龜板（酒炙，兩半）　黃柏（酒炒，五錢）　知母（去皮，五錢，酒拌搗膏）　人參（一兩）　熟地黃（用生者兩半，酒拌銅器蒸半日，搗膏）</p>
<p>為細末，入二膏，如前方丸服。</p>
<p><u>大補腎氣丸</u>　治證同前。</p>
<p>五味子（炒）　黃柏（酒炒，各一兩）　知母（去皮，一兩，酒拌搗膏）　龜板（童便炙，二兩）　熟地黃（用生者，二兩，酒拌，銅鍋內蒸半日）</p>
<p>為細末，入二膏，加酒糊和丸梧子大。每服四五十丸，五更酒送下，鹽湯亦可。</p>
<p>愚按：二方常治陰虛相火之證，有奇效。亦有中氣虛而作渴，須用六一湯、補中益氣湯之類。</p>
<p><u>補中益氣湯</u></p>
<p>黃耆（炙，錢半）　甘草（炙）　人參　當歸（酒拌）　白朮（炙，各一錢）　升麻　柴胡（各三分）　陳皮（五分）</p>
<p>作一劑，水二鍾，姜三片，棗二枚，煎一鍾，空心服。</p>
<p><u>六一湯</u>（方見前）</p>
<p><u>黃礬丸</u>　定痛生肌。</p>
<p>黃蠟（真者二兩）　明礬（二兩）</p>
<p>先將黃蠟溶開，離火待少溫，入礬末和勻，眾手急丸，如梧子大。每服二三十丸，食前溫酒下，每日二服。</p>
<p>愚按：此方不惟定痛生肌而已，護膜止瀉消毒化膿，及內癰排膿托裡之功甚大。或金石補藥發疽，非此莫能治。更用白礬一兩，每服一錢，溫酒調下尤效。有遍身生瘡，狀如蛇頭，名曰蛇頭瘡，尤宜服之。每日百丸，方有功效。若蛇蠍並一切毒蟲所傷，熔化熱塗患處，內更服之，其毒即解，為外科之要藥也。服至三四兩之上，愈見其功矣。</p>
<p><u>秘方托裡散</u>　治一應瘡毒，始終常服，不致內陷。</p>
<p>瓜蔞（大者一個，杵）　當歸（酒拌）　黃耆（鹽水拌炒）　甘草　白芍藥（各兩半）　皂角刺（炒，一兩）　金銀花　（一兩）　天花粉（一兩）　熟地黃（用生者一兩，酒拌銅器蒸半日）</p>
<p>用無灰酒五茶鍾，和藥五兩，入磁器內，厚紙封口，再用油紙重封，置湯鍋內煮，用蓋覆之，煮至藥香，取出分服，直至瘡愈。</p>
<p>愚按：此方藥品平易，消毒之功甚大，且不動臟腑，不傷氣血，不問陰陽腫潰，屢用屢效，誠仙方也。常治發背腦疽，勢盛者，更隔蒜灸。若脈沉實，大小便秘者，先用疏通，而後用此，其功甚捷。若大毒已退，不作膿，或不潰者，用托裡潰而不斂，及膿清用峻補。</p>
<p><u>三合湯</u>　治癰疽不肯作膿。</p>
<p>新江子肉　砒　斑蝥（各等分）</p>
<p>為細末，纖瘡內，惡肉自化。</p>
<p>愚按：此方藥性太毒，果惡毒之證，宜用腐之，更取以毒攻毒。亦有陽氣虛，不能腐化成膿者，宜用大補之劑，及桑木灸之，以補接陽氣。丹溪云：氣血壯實，膿自湧出。大抵瘡之潰斂遲速，乃血氣盛衰使然也。</p>
<p><u>梧桐淚方</u></p>
<p>癰疽勢腫惡不潰堅硬，以快利刀將患處劃成十字路，用面水調稠厚，周圍瘡口外，高起五分許，如塘池樣，將淚填半滿，用好米醋滴淚上，須臾自沸，勿令滾出面外。次日用金銀花煎湯洗淨，再如前用一次，只用醋洗，不痛爛肉自去。</p>
<p>愚按：此方果惡瘡惡肉不腐，宜用之。亦有陽氣虛，不能腐化者，宜用大補之。</p>
<p>李頤顏先生口授治疔瘡。</p>
<p><u>回生丹</u>　非泛常之藥，萬寶之秘，專治一切疔毒，並有神效。</p>
<p>金腳信　明硇砂　明乳香　半夏　上緋丹（各五分）　江子肉（不去油）　明雄黃　大南星　南硼砂（各一錢）　大斑蝥（十五個，去頭足翅）</p>
<p>為細末，旋取蟾酥和丸麻子大，硃砂為衣。每服十五丸，好酒下。看瘡生上下，食前後服。能飲者至醉。如腫毒失治，毒氣入腹，用此藥能起死回生，良久吐瀉俱作，乃蘇。</p>
<p><u>飛龍奪命丹</u>　治一切疔瘡毒瘡，神效。</p>
<p>乾蟾酥（二錢，乳化）　硼砂（一錢，嚼成餅者真）　沒藥　寒水石（煅）　硼砂　雄黃（各三錢）　乳香　硃砂　明礬（枯，各一錢）　輕粉　冰片（各五分）　蝸牛（四十九個，研為膏，如無亦效）　蜈蚣（一條，去頭，酒浸焙乾）</p>
<p>上各味俱另為細末，取蝸牛、蟾酥研勻，入前末，熟杵丸綠豆大，硃砂為衣。每服四五丸。嚼蔥白一口，吐在手，將藥包蔥內，用溫酒吞下。須臾汗出，或少吐瀉，毒即解。</p>
<p>愚按：前方乃慓悍攻毒之劑也，蓋無經不至，無氣不動者，後方尚緩。若食一切禽畜毒物所致，及瘡脈沉緊細數，毒畜在內，並惡毒證，欲汗吐者，宜用前丹有神效。老弱之人，或瘡毒稍輕者，宜用後丹，還更以隔蒜灸之為良。常治此疾，先以隔蒜灸之，痛者灸至不痛，不痛者灸至痛。若灸之而不痛者，明灸之，及針疔四畔，去惡血，以後丹一粒入瘡頭，針孔內以膏藥貼之。若針之不痛，或無血者，以針燒赤，頻烙患處，以痛為度，更宜服之。眼黑見火光者，此毒氣入臟腑也，不治。若患在手足，紅絲攻心腹者，就於紅絲盡處刺去惡血，更服敗毒藥。若紅絲近心腹者，更挑破瘡頭。去惡水，以膏藥貼之。如麻木者服後丹，更以隔蒜灸，明灸亦善。凡人暴死，多是疔毒，用燈照看遍身，若有小瘡即是。宜急灸之，候醒更服敗毒散。或前丹。《養生方》云：人汗入肉，食之則生療瘡。不可不慎。予常用後方，無硼砂、血竭、蜈蚣、冰片，名奪命丹，甚效，方見《外科心法》上。緋丹即黃丹也。</p>
<p>治冷癰青硬，無頭阻毒：</p>
<p>生鐵鏽（二錢）　白松香（兩半）　輕粉（二錢）　麝香（少許）</p>
<p>先將鐵鏽、松香為細末，入銚內，加麻油一兩，慢火煎數沸，離火，待熱少退，入輕粉、麝香末攪勻，即為膏矣，收貯。量瘡大小，攤貼患處。</p>
<p>愚按：此方常治瘡疥毒瘡皆效，冷癰之證未試。</p>
<p><u>御史散</u>　治疔瘡。</p>
<p>生鐵鏽（三錢）</p>
<p>為末，木香磨酒調下。分病上下，食前食後服之。得微汗而愈。</p>
<p>愚按：此方乃秘法也，未嘗試用。常治疔瘡，有赤絲攻心腹者，用鐵鏽三錢，牡蠣二錢，青鹽一錢，為末，挑破瘡頭，以燈內油調搽，其絲自回，名喚回丹，但未用服。考之本草云，鐵鏽，生鐵上衣也，治惡瘡疥癬，蜘蛛等咬，蒜磨敷之，亦未云服。《家藏方》用貓兒眼草一擔，細切，以水擔余，浸二日，煮百餘沸，去柤取汁，煎至三四碗，用生鐵鏽細末三兩，徐徐入汁內，以鐵杖不住手攪，再煎至二碗許，成膏子，治一切癰疽瘡毒甚效。瘰癧潰後，塗瘡內尤效。</p>
<p><u>四聖散</u>　治熱毒及疔瘡。</p>
<p>槐花（炒）　龜甲（童便炙，各四兩）　鐵鏽（三錢）　大黃（如瀉不用）　穿山甲（炮，一兩）　五靈脂（炒，各一兩）</p>
<p>為末，酒下三錢。如疔瘡，加紫河車根三錢。</p>
<p>愚按：此方清涼降火，攻毒之劑，非積熱陽證，膿未成者，恐不宜用。</p>
<p><u>黑末子</u>　治癤毒。</p>
<p>用羊角連內骨，燒存性為末，酒調三錢，分上下服之，瘡可散。</p>
<p>愚按：此方未嘗用服，蓋秘方也。常治面上或身卒得赤斑，或癢或瘰毒，不治殺人，以羖羊角燒存性，研令極細末，以雞子清調塗之，甚效。本草亦云然。</p>
<p><u>蜣螂膏</u>　治疔毒。</p>
<p>蜣螂（三個，肚白者佳）　黃麻蟲（十個）</p>
<p>上二味搗勻，撥破患處貼之。如患在手足間，有紅絲上臂，絲盡處將針挑斷出血，仍用前藥。</p>
<p>愚按：此方常用有效，如無麻蟲亦效。毒盛者更服敗毒藥。蜣螂即屎蚵螂也。</p>
<p><u>拔毒散</u>　治一切癰疽腫毒，其功不可盡述。</p>
<p>乳香　沒藥　穿山甲（炮）　當歸　木鱉子（各一錢）　瓜蔞仁（各八分）　甘草（炙，五分）　忍冬藤（二錢）　牙皂角（七分，炒）　大黃（生熟各錢半）　連翹（一錢）　貝母（七分）</p>
<p>作一劑，用酒水各一鍾，煎一鍾，食前服。</p>
<p>愚按：此方攻毒止痛化膿之良劑也，屢用屢驗。若有膿或已潰者，大黃可不用，恐泄其真氣，則膿者難潰，潰者難斂也。亦有膿雖潰，脈仍洪數或沉實，喜冷者，火邪尚在，又所宜用。</p>
<p><u>牡蠣散</u>　治血疝，即便毒。</p>
<p>當歸（酒拌，錢半）　甘草節（錢半）　滑石（煅，錢半）　牡蠣（煅，錢半）　大黃（三錢）　木鱉子（五個杵）</p>
<p>作一劑，用水二鍾，煎一鍾，露一宿，五更頓服，冬月火溫服。已未潰膿，血從大便出。</p>
<p>愚按，此方乃鹹寒導滯之劑，若久曠房室，大小便秘，發熱焮痛，或交感強固精氣，致精血交錯，腫結疼痛便秘者，宜用。若勞倦之人，不甚焮痛，大小便如常，或小便赤色，發熱不作膿，及潰而不斂，宜用十全大補湯。蓋此證多起於勞役不足，或房芳過度精氣俱虛之人。俗云：一石米瘡。此言百日後可愈也。若大補氣血，不旬日而愈，何用百日。蓋瘡之收斂，在乎血氣之盛也。嘗治舉人凌持之，虛而服克伐藥，幾致危殆，予用托裡健脾藥而消。秀才王文遠，勞苦患之，服小柴胡湯，而表證散後，用托裡藥，膿成針之，而旬日愈。胡判官，膿請脈弱，以大補之藥而已愈。因新婚復發，自用連翹消毒散，致瀉痢不止，竟致不救。可見此證屬不足多矣，非補不可。大抵便毒屬肝經，初起堅硬，肝主筋故也。五七日後，當赤軟，膿成故也。若尚堅硬，乃元氣不能腐化。往往人見堅硬，只欲內消，反服攻散藥，多致虛虛之禍。前所治者，即具驗也。</p>
<p><u>十全大補湯</u></p>
<p>人參（二錢）　肉桂（五分）　地黃（酒拌，蒸，焙）　川芎　茯苓　白芍藥（炒）　白朮（炒）　黃耆（鹽水拌，炒）　當歸（酒拌，各一錢）　甘草（炙，五分）</p>
<p>作一劑，用水二鍾，姜三片，棗二枚，煎八分，食前服。若潰而毒未盡者，加金銀花、連翹、白芷各五分。</p>
<p><u>威靈仙散</u>　治便毒。</p>
<p>威靈仙　貝母　知母（各一兩）</p>
<p>為末，每服三錢，空心酒調下。如不散再服。</p>
<p>愚按：此方通經去膿，消毒，補虛益氣。蓋此證多患於陰虛之人，此方乃是一見也。亦有焮痛小便數者，宜先用加減龍膽瀉肝湯。大小便秘，焮腫作痛，宜八正散。增寒發熱，荊防敗毒散。然後用此方。若不作膿，或膿不潰，宜用大補之劑。潰而不斂者，更用豆豉餅灸。</p>
<p><u>加減龍膽瀉肝湯</u></p>
<p>龍膽草（酒拌，炒）　澤瀉　車前子（炒）　木通　生地黃　當歸尾（酒拌）　山梔（炒）　黃芩（各一錢）　甘草（生，五分）</p>
<p>作一劑，水二鍾，煎八分，食前服。如濕盛加黃連，大便秘加大黃。</p>
<p><u>八正散</u></p>
<p>大黃（酒拌，炒）　車前子（炒）　瞿麥　萹蓄　山梔仁（炒）　木通　甘草（各一錢）　滑石（煅，二錢）</p>
<p>作一劑，水二鍾，煎八分，食前服。</p>
<p><u>荊防敗毒散</u>（方見前）</p>
<p><u>豆豉餅</u>（方見前）</p>
<p><u>防風通聖散</u>　治瘡瘍便毒。若瀉去芒硝、大黃。能解暑月熱毒，或遍身頭面患瘡。</p>
<p>芍藥（焙）　芒硝　滑石（煅）　川芎　大黃（煨）　桔梗　石膏（煅）　荊芥　麻黃（各四分半）　山梔　白朮　連翹　當歸　薄荷　甘草　防風　黃芩（焙，各八分）</p>
<p>作一劑，水二鍾，煎八分服。</p>
<p>愚按：此方非表裡俱實，大小便秘者，恐不可用，宜審之。</p>
<p><u>郭氏神效烏金散</u>　治一切瘡毒。</p>
<p>蒼耳頭　小草（烏頭）　火麻頭　木賊（去節）　蝦蟆頭　樺皮節　麻黃（去根節）</p>
<p>愚按：此方乃攻毒表散之劑，外因用之為宜。前云再服解毒疏利之藥，則又為內因也。果內外因者宜乎如此，否則大犯徑庭矣。常治外因者汗而不下，內因者下而不汗。《玉機微義》云：讓方治疔腫癰疽、時毒、附骨疽、諸惡瘡等證。若瘡黑陷，如石堅硬，四肢逆冷，脈細，或時昏冒譫語，循衣煩渴危篤者，服此汗之，瘡即起，此可見治外因之專藥也，常用有效。蝦蟆頭即車前草。</p>
<p><u>郭氏青金錠子</u>　治發背癰疽，開瘡口，去腐肉，好肉自生。</p>
<p>峻利生砒，開瘡；緩劑煅，去死肉用；慢劑去砒、枯礬，生好肉用。</p>
<p>愚按：此以毒攻毒之意也。嘗一縣尹，背瘡竟背，腐潰色黯，重若負石，甚危，喜飲食頗進。用桃紅散，色漸赤，負漸輕，再用而肌生，更服托裡藥而愈。蓋此亦大毒證，非此峻藥，莫能治。此亦用砒，故用攻毒有效。然有氣血虛，不能腐潰，宜養補血氣。常治發背，初起未成膿，先用烏金膏，或援生膏點患處數點，以殺其大勢，更服仙方活命飲。如飲食少思，或不甘美，用六君子湯加藿香，連進三五劑。如外皮腐動，用雄黃解毒散洗之，每日用烏金膏塗腐處。候有瘡口，即用紙作捻，蘸烏金膏紝入瘡內。若有膿，為筋膜間隔不出，致作脹痛，用針引之，腐肉堵塞者去之。若瘀肉腐動，用豬蹄湯洗。如膿稠焮痛，飲食如常，瘀肉自腐，用消毒藥與托裡，相兼服之，仍用烏金膏塗搽。若瘀肉已離好肉，即去之。如膿不稠不稀，微作痛，飲食不甘，瘀肉腐遲，用桑柴灸患處，更用托裡藥主治之。瘀肉不腐，或膿清稀，不焮痛者，服大補之劑，仍用桑木灸之，以補接陽氣，解散郁毒，其肉自腐。</p>
<p><u>援生膏</u>　治一切惡瘡，及瘰癧初起點破，雖未全消，亦得以殺其毒。</p>
<p>血竭（一錢）　蟾酥（三錢）　麝香（五分）　雄黃（五錢）　輕粉（三錢）　乳香（一錢）　沒藥（一錢）</p>
<p>用蕎麥秸灰或真炭灰一斗三升，淋灰湯八九碗，將慄柴或桑柴文武火煎作三碗，存一碗，以備日久藥干添用。取二碗盛於磁器內，將前藥研為極細末，入灰湯內，用鐵干或柳枝順攪，再入好細石灰一升，再攪勻，過一宿，卻分於小磁罐收貯。凡遇諸惡瘡，點當頭一二點，一日換二次，次日又一次，以出血水為度。如藥干卻加所存灰湯少許調之。</p>
<p><u>烏金膏</u>　解一切瘡毒，及腐化瘀肉。此藥最能推陳致新。</p>
<p>用巴豆一味，去殼炒焦，研如膏。點腫處，則解毒。塗瘀肉，則自腐化。加乳香、沒藥少許，亦可。如絍瘡內，入香油少許，調稀可用。但人謂巴豆有毒，炒焦用之，其毒已去，不過能去舊生新耳，何毒之有？</p>
<p><u>桑木灸法</u>　治發背癰疽，瘀肉不腐潰，或不起發，陰瘡、瘰癧、流注、臁瘡、頑瘡、惡瘡久不愈者，須多灸為佳。</p>
<p>此法未潰則拔毒止痛，已潰則補接陽氣，誠良方也。用桑木燃著，吹熄焰，用火灸患處，每次灸片時，以瘀肉腐動為度。丹溪云：火以暢達，拔引郁毒。此從治之意也。</p>
<p><u>豬蹄湯</u>　治一切癰疽，消腫毒，去惡肉，潤瘡口，止疼痛。</p>
<p>白芷　黃芩　赤芍藥　當歸　羌活　甘草　露蜂房（蜂兒多者佳，各五錢）</p>
<p>先以豬蹄一雙，用水四五碗煮熱，取清湯，入前藥煎二十餘滾，去藥溫洗患處，隨用膏藥護貼。</p>
<p><u>內疏黃連湯</u>（方見前）　治焮腫發熱。</p>
<p>愚按：此方乃疏通攻毒之劑也。毒在臟，致便秘澀，脈沉實，嘔啘心煩，發熱者，服之輒效。</p>
<p><u>破棺丹</u>　治熱毒癰疽。</p>
<p>大黃（二兩，半生半熟）　芒硝　甘草（各二兩）</p>
<p>上為末，煉蜜丸如彈子大。每服一丸，用童便加酒半盞，滾白湯和酒化服。</p>
<p>愚按：此方乃鹹寒解毒之劑。若脈沉實，發熱多汗，大渴煩躁便秘，或譫語結陽之證，用之即效。如無前證，恐不宜用。</p>
<p><u>如金解毒散</u>　治肺癰。</p>
<p>桔梗（一錢）　甘草（錢半）　黃連（炒）　黃芩（炒）　黃柏（炒）　山梔（炒，各七分）</p>
<p>作一劑，水二鍾，煎八分，作十餘次呷之，不可急服。</p>
<p>愚按：此方乃降火解毒之劑也。發熱煩渴、脈洪大者，用之俱效。若脈數，咳痰腥臭，或唾膿瘀，宜用桔梗湯。大抵肺癰之證，肺脈洪大，或吐膿不止者，難治；膿自止，脈短澀者，自愈；面赤，火剋金也，不治。</p>
<p><u>桔梗湯</u>　治咳而胸膈隱痛，兩胠腫滿，咽乾口燥，煩悶多渴，時出濁唾腥臭，小便赤色，大便多澀。</p>
<p>桔梗（炒）　貝母（去心）　當歸（酒浸）　瓜蔞仁（杵）　枳殼（麩炒）　薏苡仁（炒）　桑皮（炒）　甘草節　防己（去皮，各一錢）　百合　五味子　地骨皮　甜葶藶（炒）　杏仁（去皮尖）　知母（炒五分）　黃耆（鹽水拌炒，錢半）</p>
<p>作一劑，水一盞半，姜三片，煎至七分，不拘時溫服。咳加百藥煎，熱加黃芩，大便不利加煨大黃少許，小便澀甚加木通、車前子，煩躁加白茅根，咳而痛甚加人參、白芷。</p>
<p><u>瀉白散</u>　治肺癰</p>
<p>桑白皮（炒，二錢）　地骨皮　甘草（炙）　貝母（去心）　紫菀　桔梗（炒）　當歸（酒拌，各一錢）　瓜蔞仁（錢半）</p>
<p>作一劑，水一鍾，姜三片，煎八分，食遠服。</p>
<p>愚按：此方乃瀉肺邪消毒之劑也。若喘嗽，唾痰沫，肺脈浮數者，用之有效。如脈大發熱作渴，宜用解毒散解之，而後用此劑。其或唾膿之際，宜排膿。如唾膿後，及脈將安，宜補肺。初起胸隔脹滿，喘急咳嗽，宜發散表邪。</p>
<p><u>排膿散</u>　治肺癰吐膿後，宜服此排膿補肺。</p>
<p>黃耆（鹽水拌炒）　白芷　五味子（炒，杵）　人參　（各等分）</p>
<p>為細末，每服三錢，食後蜜湯調下。</p>
<p><u>寧肺湯</u>　治咳嗽唾膿，自汗，上氣喘急，用此補肺，及治榮衛俱虛，發熱自汗。</p>
<p>人參　當歸（酒拌）　白朮　熟地黃　川芎　白芍藥　甘草（炙）　五味子（搗炒）　麥門冬（去心）　桑白皮　阿膠（蛤粉炒，各一錢）　白茯苓（二錢）</p>
<p>作一劑，水二鍾，姜三片，煎八分食後服。</p>
<p><u>青龍湯</u>　治肺經受寒，咳嗽喘急，服此發散表邪。</p>
<p>半夏（湯泡七次，二兩半）　乾薑（炮）　細辛　麻黃（去節）　肉桂　芍藥　甘草（炙，各三錢）　五味子（二兩）</p>
<p>每服五錢，水一鍾，姜三片，煎七分，食後服。</p>
<p><u>附子散</u>　治腸癰。</p>
<p>薏苡仁（二兩半）　附子（炮，五錢）　敗醬草（一兩二錢）</p>
<p>每服四錢，水煎，空心溫服。</p>
<p>愚按：此方乃辛熱之劑也，若積久陰冷所致，宜用。丹溪云：身甲錯，腹皮急，按之濡如腫狀，腹無積聚，身無熱，脈數，此腸內有癰，積久陰冷所致，故《金匱》有用附子溫之，即此方也。</p>
<p><u>茯苓湯</u>　專治腸癰。</p>
<p>赤茯苓　桃仁（去皮尖，各一錢）　甜瓜子（研）　芒硝　大黃（炒，各二錢）　牡丹皮（二錢半）</p>
<p>作一劑，水二鍾，煎一鍾，食前服。</p>
<p><u>牡丹皮湯</u>　專治腸癰。</p>
<p>牡丹皮（一錢）　大黃（炒）　桃仁（去皮尖）　芒硝（各二錢）　瓜蔞仁（研一錢）</p>
<p>作一劑，水二鍾，煎一鍾，食前服。</p>
<p>愚按，此二方乃行血破血之劑也，如發熱自汗惡寒，小腹作痛，小便如淋，脈遲者，有效。丹溪云：小腹腫痞，按之痛，小便如淋，或自調，發熱身無汗，復惡寒，其脈遲緊者，膿未成，宜下之，當有血。此內結熱所成也，故《金匱》有用大黃利之，即此方也。若無前證，恐不宜用。亦有腹內脹痛，脈滑數，或膿已下，或後重，時時而下，宜用排膿散、太乙膏、蠟礬丸，及托裡藥。</p>
<p><u>排膿散</u>　治腸癰小腹脹痛，脈滑數，或裡急後重，或時時下血。</p>
<p>黃耆（鹽水拌，炒）　當歸（酒拌）　金銀花　白芷　穿山甲（蛤符炒）　防風　連翹　瓜蔞（杵）　白芷（各一錢）</p>
<p>作一劑，水二鍾，煎八分，食前服。若膿將盡，去穿山甲、連翹，加當歸、川芎。或為末，每服三錢，食後蜜湯調下亦可。</p>
<p><u>太乙膏</u>（方見前）</p>
<p><u>蠟礬丸</u>（方見前）</p>
<p><u>薏苡仁湯</u>　治腸癰，煩毒不安。</p>
<p>薏苡仁（五錢）　瓜蔞仁（四錢，研）　桃仁（去皮尖，三錢）　牡丹皮（二錢）</p>
<p>作一劑，水二鍾，煎一鍾，食前服。</p>
<p>愚按：此方藥品和平，其功且速，常治腹痛或發熱，或脹滿不食，水道澀滯。產後多有此證，或月經欲行，或行後作痛，尤效。</p>
