<header data-type="book">
<h1>麻疹專論</h1>
</header>

<h1>《麻疹專論》宗序</h1>
<p>予素不知醫，嘗讀《漢書·藝文志》，有《醫經》七家，《經方》十一家。李子聰甫以編著《麻疹專論》示予，此經方類也。聰甫籍湖北黃梅，少遊學江州，精活人木。弱冠即以醫鳴，客九江久，聲名鵲起，就治者戶履為滿，大江南北咸知聰甫其人。暇嚐遍閱醫籍，窮究病症，乃蹙然以慈幼為懷，慨古無麻疹專書，而小兒之厄於斯症者尤眾，爰有志編纂。會逢國難，流竄兵間，未竟所業。溯江上下，再寓梅城，耳予名，袖其湘鄂道中詩來謁予，予初但悉其精醫，展卷讀竟，乃知其素業詩而托醫以隱者也。予由秣陵來湘旅梅城，與邑人士結「萸江吟社」，乃邀之入社。聰甫更不恥下問，願隸弟子籍，朝夕相親，日者謂予曰：流寓異鄉，寥寂寡歡，第不忘結習應診之餘，以詩遣日，因之養性情而資閱歷，又於其間搜採方書，參以臨症，所得續成《麻疹專論》一書，願乞一言序而存之。予謝不敏，但觀聰甫之為人，穎悟誠篤，品格高潔，當路爭相器重，而不輕結交貴人。及其論詩，一字不肯苟，務求精審而後已。其於醫也，可知其猶秉其生平保赤之心，奔竄於關津烽火之間，鍥而不捨，有志者事竟成，予於聰甫見之矣。此書出，而蜚聲載籍，嘉惠孩提，方技傳中增一位置。予喜聰甫之精於所業，立志堅而利人溥，爰書數語以述其梗概，並志契合之緣云。</p>
<p><u>庚辰冬月常熟宗威序於資濱寓次</u></p>

<h1>《麻疹專論》柳序</h1>
<p>余客梅城年餘，食貧而健飯，未當有求於醫也。庚辰春，忽進疾，內子亦懨懨病。余友陳子懇皆日必臨存，謂宜速覓良醫。頃之同客來，神清骨俊，翩翩儒者，詢之為李子聰甫名醫，而避難於此者也。因浼診視，謂余病雖重，一刀圭可愈；內子肝脾不睦，非數易方不為功。試之，余即瘥，內子亦小愈。於是日來一診，殷勤周至，坐談或久，相與論及古今之詩，如數家珍，始知其不徒精於醫，且工於詩也。無何，龍華會屆，約同遊慧龍禪林，歸示所為詩，鏗然金石不同凡響，往還十疊韻，詞源如三峽水。而查脈審方，內子之病且瘳矣。益知其調劑君臣，左宜右有，一如詩之斟思酌句，層出不窮也。未幾，告余當懸壺江州，時曾編《麻疹專論》一書，甫屬稿，而國難作，轉徙流離，未遑重理。今將續成之。余謂：醫，仁術也，及身行之，其所施有限；若公諸世，受之者廣，而為用日長，曷速竣厥？事果不數月，裒然成集矣。是更知其醫術之精，固嘗潛修弗懈，窮其理以通其意，而有得於心也。適楊君培甫見之，慨然以佽金，自任屬書賈，付剞劂。李子曰：將取償於價而璧還之。殆如焦尾之琴，已入中郎之聽耶，則非徒若陸宣公之鈔胥秘方，以術活人也。雖然李子之詩，今尚不逮於醫。余固不欲以其醫而揜詩名，亦不欲其馳騖於詩而弛此仁術。茲即麻疹一門，已足見其精思妙運。果能將諸門之所心得，一發前人未發之蘊，以公諸於世，豈不懿歟？李子勉乎哉！</p>
<p><u>歲次庚辰初冬望後湘陰柳敏泉謹撰</u></p>

<h1>《麻疹專論》自序</h1>
<p>余自幼失恃。嘗憶先母胡太君病重，誨余曰：「大丈夫不能建五丈旗，為國家平大難，斬尺寸地為人民興善政、革壞俗，則將來為醫以濟人。吾死亦瞑目矣。」敬聆遺言，刻之心版，然限於家道式微，進取為艱，遂決心趨於醫藥一途。年十三遊學江州，甫二十而問世，邑中賢士大夫交深信仰；丁卯己巳之間悔露頭角，與聞邑事。疊膺變亂，與世沉浮，斯道幾欲廢矣。庚午五月，復避鄉亂於九江，遂懸壺焉。九江為長江中埠，人類輻輳，華洋雜處。日所醫治者不下百十，又非一鄉一井之人，故潛心於男婦老幼之診斷識別。其風土體氣之各異，而消息於寒熱溫平之所宜，益信古人所云治小兒難，余抑又進之曰治小兒麻症尤難也。何以故治小兒難？難於不能述症，全憑察紋望色，小兒質嬌臟脆，偶有歧訛，殊增沉篤，所以難也。麻症變態之速，有十倍於雜病，明達之醫往往躊躇失措，庸俗見之，藥物倒施，頃刻逆轉，挽救不及者多矣。蓋由昔賢忽視麻症，置之弗論，即賢如路玉、密齊諸公能具保赤子之心，不過卷後概述數篇，語焉不精，辨之不詳，讀者深憂不能應無窮之變；惟謝普齊麻科一書，搜採雖富而頭緒雜亂，眩人心目，讀者仍有涉海問津之苦。或以治痘之法治麻，或以雜病之方治麻，任意揮來，盡出疊見，目擊因而夭殤極夥，痛夫！治小兒麻症為尤難也。惜不能化一身為千百身，普救赤子於爐火上，慨然有編著《麻疹專論》之志，目錄成於丁丑，遭遇國亂空襲，一日數避，而此書遂不暇計。及其明年，馬當失陷，九江震動，倉卒間，挈妻孥於竄役，折徙三湘，流寓上梅。萍蹤初定，復取各家方書之論麻者，逐一勘校，去膚取精，參以管見，證諸經驗。八越月而初卷甫成，頓生入蜀之念，行抵宜昌，舟難上溯，買棹南旋，重遊舊地。擱筆三月，仍竟是書之志，繼編二三四卷，條分縷晰，不尚虛談，以薪實用。業醫者讀之，可供臨病之考證；居家者讀之，藉輸麻疹之常識，庶減赤子夭喪之弊。余也，昂藏七尺，寄託六合，自慚不能衛國平難，興善政，革壞俗，而於建國強種之基，不無小補，頗足以慰先母於九原耳。</p>
<p>稿成於庚辰九月，新化楊寓園先生得潘君叔愚相告，索覽之，謂能裨益社會，毅然助資付印，促播海內，以公同好仁者愛人之心，又非余之所逮也。</p>
<p><u>民國第一庚辰中冬月黃梅李明聰甫識於新化醫寓</u></p>

<h1>凡例</h1>
<p>●是書悉本國醫學說，採集各家論著，刪繁補略，證諸經驗，以求實用，不尚浮詞。</p>
<p>●是書論麻分「未出」、「正盛」、「沒後」之初、中、末三法，不徒醫家閱之了了心目，且為育嬰之家所必讀，以增進常識，一旦嬰孩患麻不致誤事。</p>
<p>●古方治麻多有雜入升麻、桔梗、甘草等味者，悉為刪改，方名仍書如宣毒發表湯、清熱透肌湯之類是也。然有古方所不宜用者，則以余經驗所得而訂立之方附之，冠以「新定」二字以識別。</p>
<p>●方中有必須升麻、甘草等味者，如麻後「瀉痢脫肛」、「痰邪如瘧」等症是也，方後附「明按」語以釋其義，使讀者不惑矣。</p>
<p>●余自臨症以來，案帙甚多，乃戰雲壓境，倉卒奔竄，家業蕩然，存稿不復問矣。茲於書、報紙、醫刊中關於麻症者搜尋出來，僅數則爾，後新化經診一案因並記之。</p>

<h1>卷一</h1>

<h2>麻疹原起</h2>
<p>麻疹受病，由於天時不正之氣，從口鼻中吸收進去，蘊蓄肺胃兩部分，乘陽氣鼓動的機會，暴發出來，系流行病之一種。</p>
<p>嬰孩臟腑嫩脆，抵抗力薄，容易發生此種證候，大人間亦有之。苟病孩呼吸之氣，散布空氣當中，與病飲食之具，移作他兒去用，皆足以傳染其他未病之嬰孩。故一孩病麻必要傳遍一家之嬰孩，一家嬰孩病麻，必要傳遍一村、一市，完全是穢濁氣候的傳染。因為鼻孔呼吸之空氣，直接達肺；口舌納進之食料，直接通胃。嬰孩體氣純陽，無形中最易感召時行穢濁的毒素，潛伏肺胃，一旦生陽萌動，天氣轉溫（每發於冬至節後，衰於立夏以前），它就在肺胃部分活動起來，肺部方面就發生咳嗽、噴嚏等症；胃部方面就發生嘔吐、泄瀉等症。肺主皮毛，胃生肌肉，其蘊熱從裡面宣布出表，就要憎寒發熱，或但發蒸熱，遂由肺胃鬱蒸氣血，漸漸透出肌膚上面，成為疹子，粒粒勻淨而小，其形如疥，其色如丹。三數日內，麻毒完全透化，肺胃自安。若乳母哺乳失當；或慮其受飢，無節制地給予食物，以致呆化胃部消化機能；或感受風寒，疹郁不得透越，以致惡化，肺部呼吸機能每令抑迫，邪毒不得透解，攻陷臟腑，而變生種種危險症候，如疹焦黑不出、喘促搐痢等狀者極多。此固育嬰者之過失，然醫師臨診時，所宜注意尋源，急於謀治者也。</p>

<h2>麻名</h2>
<p>麻疹名稱各省不同：河北呼為「溫疹」，河南呼為「粰瘡」，晉陝俱呼「糠瘡」，魯粵桂滇黔蜀皆呼「疹子」，江南呼為「痧子」，浙江呼為「厝子」，湖廣江西俱呼「麻子」，福建呼為「膚疹」。雖四方命名不同，實一麻也。調治之法無異耳。</p>

<h2>預解麻毒</h2>
<p>春日之溫，夏日之熱，秋日之涼，冬日之寒，四序之正氣也。冬應寒而反溫，謂之逆冬，氣潛陽暴泄火，令早行人不知節。房勞內損，腎精暗竭；或更紅爐暖酒，益露真元。當春之交，木未升而火先升，腎陰不能涵濟，至春而溫病生焉。</p>
<p>小兒精血未充，體屬純陽，同感非時之氣，毒火蘊郁肺胃，麻患應生，一時傳染，遠近皆然。為父母者如見境里麻疹盛行，急當設法為兒女避免隔絕；已病之嬰孩，預服消毒保嬰丹以滌化肺胃，可使毒澈而不為己甚也。</p>
<p><u>消毒保嬰丹</u></p>
<p>纏豆藤（一兩五錢。不拘黃豆、綠豆根上纏繞細紅絲藤，於八月內揀取，陰乾）　黑大豆（三十粒）　赤小豆（七十粒）</p>
<p>牛蒡子（炒）　飛辰砂　生地黃　山楂肉（各一兩）　荊芥　防風　獨活　當歸　黃連　山豆根　黃芩（各五錢）　連翹　赤芍（各七錢五分）　老絲瓜（隔年經霜者二個，連藤帶蒂五寸，燒灰成性）</p>
<p>共研細末，砂糖為丸，如核桃大。濃煎金銀花湯分期化服。</p>
<p>明按：此方主以纏豆藤，輔以黑大豆、赤小豆者，凡豆皆能解毒也，纏豆藤得豆之餘氣而生性極輕清，尤能解肺胃蘊之毒，於八月採取陰乾，正得金秋之氣，入肺而宣也；黃連、山楂清胃之毒，黃芩、連翹搜肺之毒，牛蒡、豆根、絲瓜絡提肺胃之毒於經絡，荊芥、防風、獨活提經絡之毒於膚表，次第引出；生地、當歸、赤芍防護其血，辰砂寧靜其心，使毒化於無形，而不侵擾其心與血也；金銀花為解毒要品，煎汁化丸，取清芬善透之意，共成消毒之功。妙用心生，斯無愧耳。</p>

<h2>驗麻</h2>
<p>麻疹多發於冬至以後，而盛行於春季（秋後發疹是感非時逆氣，患者極少）。蓋冬至，陽升溫風始，至蘆管飛灰，紙鳶騰空，嬰孩肺胃中潛伏之火毒乘積發動。其初發也，先必身發熱，指頭涼，咳嗽連聲，噴嚏多涕，眼中出淚，面浮腮赤狀，類傷風。即順其情，以辛輕疏解法，如葛根、荊芥、防風、蟬蛻、杏仁、浙貝母、牛蒡子、枳殼、前胡、橘紅、薄荷等味，服一兩劑，熱輕咳減則為傷風；若身熱不退，咳聲仍密，二三日後須留心視其耳旁、鼻旁、項頸、胸背等處，隱隱有紅點者便是麻疹。當繼續辛涼宣解，不使邪戀肺胃，宣毒發表湯主之。</p>
<p><u>宣毒發表湯</u>　治麻發熱欲出時，各症俱宜。</p>
<p>葛根　荊芥　防風　蟬蛻　浙貝母　牛蒡（炒）　枳殼　前胡　連翹　木通（各八分）　杏仁（去皮尖，一錢）　薄荷（四分）</p>
<p>水煎服。</p>
<p>明按：麻症流行之際，如見嬰孩初潮，可服此方，縱非麻候，用之無害。</p>

<h2>脈紋</h2>
<p>麻疹未出以前，脈多浮數；正出之時，脈多浮洪；收沒之脈，宜見浮緩。如未出、正出時，脈搏沉緊，乃風寒襲表，麻疹難透，即當解表透疹。沒後脈見洪數者，必肺胃毒火未清，變症莫測也。</p>
<p>指紋以浮紅潤活為吉；最忌青黑色，推之不移動者。</p>

<h2>舌苔</h2>
<p>舌居咽喉之外，直通肺胃。麻原肺胃火毒熏蒸，故舌有苔。苔有白、黃、黑三種：白苔熱在肺，黃苔熱在胃，常按症施治。黑苔則肺胃熱極，黑而潤者，熱淫血分；黑而燥者，熱淫氣分，皆屬危候，宜白虎解毒湯。潤者，倍生地，加玄參；燥者，倍黃芩、黃連、麥冬、淡竹葉，加地骨皮。黑漸退則吉，不退者不治。</p>
<p><u>白虎解毒湯</u>　治麻症極熱，火毒壅實，清瀉肺胃，急救津液之方。</p>
<p>石膏（二錢）　知母　天花粉　黃芩（炒）　山梔（炒。各一錢）　麥冬　生地黃（各錢半）　黃連（五分）　淡竹葉（十片）</p>
<p>水煎服。</p>
<p>明按：舌苔至黑色，必麻出正盛時，或正沒時，始見之。絕無麻疹未出之先，而見此舌。其症必兼煩躁喘渴、昏搐腹脹等狀。拯溺救焚，不容少緩。勿泥大寒而生畏心，致失事機也。</p>

<h2>麻疹定期</h2>
<p>麻疹普通期間，須身熱二三日，耳鼻兩旁漸有紅粒隱隱現出，胸背四肢俱欲出齊，細視鼻端、掌心、足心皆宜見疹。若三處未見疹，雖頭面胸背厚密，尚不能算出齊，仍當辛涼透發，始免後患。疹出三日以後，漸漸收沒，身熱亦隨之漸退，方為良好現象。麻疹亦有乍涼乍熱、六七日或半月乃出者，但察其乾咳連聲，目赤多淚，嘔惡便溏，認定確為麻疹。必因肌膚緻密，寒鬱熱邪不能外透的原故。仍進辛輕疏解，始終勾引肺胃之邪，開豁表裡之氣，以汗出溲調、疹化熱清為妥。如無險症暴露，不可驚為惡候。</p>

<h2>麻疹調護</h2>
<p>麻疹感時令不正之氣為病，療治固欲得宜，而病家對於嬰孩起居之調護同時重要。茲概分數點於下：</p>
<p>臥室方面：病兒臥室頗宜空氣流通，最忌風寒侵襲。病榻置房中，床面不可對著窗子，避免風邪直射；帷帳亦不可少，好避兩頭的風；而窗子除天陰或大風外，還是要推開才好；但逢陰雨大風的氣候，切勿輕啟窗扇牖，恐招風寒襲擊。在麻疹未出齊時，假外邪郁遏，疹子不得透出，毒反內攻，極為危險。若疹子出完以後，肌腠空疏，氣液未復，觸犯風寒也容易轉變症候；肺胃既受麻毒的焦灼，風寒侵入，辛解不敢輕投，恐其重竭津液；滋涼復難任用，慮其阻滯外邪，每每因此變生險惡者多矣。所以對於病兒起居的調護，當隨時注意及此。</p>
<p>衣被方面：衣服過少固不足以抵抗風寒，令麻疹不能透表，毒火內逼肺胃，或喘、或搐、或便秘、或痢、或疹色焦黑不出，不出成險狀者有之；然衣服過多，被褥過厚，使其肺胃火熱之氣不能充分外泄，內外鬱蒸，元氣敗壞，亦足以釀成汗泄、驚搐、吵煩、氣促、昏睡以及麻後虛嬴不食等危窘狀態。大人在調護病兒的時候，亦當注意衣被寒溫適宜。</p>
<p>飲食方面：必須按時給食，食量多寡劃一；食後多飲開水，以流暢腸胃；下午六時以後，勿給以食物；所食以軟質物為好。至於宜食、忌食等問題，參閱麻疹宜忌條。</p>
<p>用具方面：所經病麻嬰孩飲食的碗匙，沐浴的巾帕，不可再給未病的嬰孩去用。若誤與之，定要傳染。病孩的臥室亦應隔絕，未病的嬰孩不使進去，以免吸收病氣而受傳染。病孩的用具按時洗滌潔淨。病孩室中亦宜檢掃清潔，燒一炷衛生香（檀香亦可）以避穢濁，但不可多焚。蓋病孩鼻中呼出的是火氣，若外面吸入又是火氣，以火濟火，殊堪悶絕。</p>

<h2>麻疹宜忌</h2>
<p>麻毒發源於胃。胃為水穀出納的機關，一旦有緊急，當戒嚴飲食，不能妄進。在麻疹未出、初出之際，寒涼當禁，如瓜、果、生、冷等類。若誤食之，寒遏火毒於胃，以致疹不得透。服藥亦不可先投苦寒，以抑迫其邪於裡。須待邪已出肺，疹已透齊，而現熱燥症狀，方可兼用山梔、黃芩等於辛涼劑中，自無過失。燥烈藥品，如乾薑、細辛、桂枝、蒼朮等味，始終禁勿亂投；食物中椒、薑、蔥、蒜皆在禁列，恐益邪火而焚肺胃；雞、豚、魚、面俱能遏邪滋熱，禍變橫生。至於酸味斂邪、甘味滯毒、咸性下行，過用亦能拒疹透發，延咳生喘，致虛肺胃，皆當切忌。最宜進以軟質的食料，如稀粥、牛乳、藕粉、百合粉等，少食多餐，始易消化（要有一定的限制）。乾飯不可沾唇，恐呆滯脾胃的消化，阻撓肺胃的邪火。須俟麻疹出透，約待六個星期，咳已嗽平，糞色已正，方可少食煮爛白飯，小試撇盡肥油的豬肉湯以養胃津。哺乳嬰孩未可嘗試，必如此方免害咎也。飲食一道豈可忽諸？</p>
<p>風寒亦當痛禁。疹子未出、將出之交，誤觸風寒，汗孔閉塞，皮膚乾焦，疹子不得外透，或一現即收，以及疹後感冒風寒，直入肺胃，俱足變生險逆症狀也。與麻疹調護互閱。</p>

<h2>順險逆</h2>
<p>麻症原有順、險、逆三種症狀之辨別，順症不治自愈，逆症治之無益，惟險症非醫治不足以濟事，在醫師臨診時明通善變也。茲分述症狀於下：</p>
<p>或熱或退，五六日而後出者，順；身有漿漿微汗，氣息平和者，麻出必順；疹色淡紅滋潤，頭面勻靜而多者，順；透疹三日而漸收者，順。</p>
<p>口鼻出血者，毒重，險；二便出血者，毒更重，險；初起手足心如火灼熱者，險；初起腳冷如冰者，險；頭面不出者，險；氣喘鼻乾鼻煽、嘔吐、驚搐、狂躁無汗者，最險；疹色紅紫暗燥者，險；咽痛不食者，險；收早者，險；移毒大腸變痢者，險；舌出血者，險。</p>
<p>黑暗、乾焦、一出即沒者，逆；喘急胸前吸者，逆；遍身紅，與肌膚平者，當發表，表後復如故者，逆；鼻煽、口張、目無神光者，逆；鼻青糞黑者，逆；當面牙齒黑者，逆；走馬牙疳者，逆；舌長過寸者，逆；口氣極穢，胃爛者，逆；麻後泄瀉不止者，逆；尋衣撮空者，逆；疹收之後飲食如常，卒然心腹絞痛，遍身汗出冰冷者，此元氣虛而中惡也，朝發夕死。</p>

<h2>部位</h2>
<p>麻疹出自肺胃，屬於火毒，所以向陽部分宜多，向陰部分宜少。然麻疹密盛，陰部多亦無妨。頭面背與四肢向外者皆陽，如疹多而透表則無後患；胸腹腰與四肢向內者皆陰，若陰部透表，陰部雖不盡透，仍屬順候。若陽部少而陰部多者，須防後患，以宜宣毒發表湯透之（方見驗麻）。陰陽兩部俱少者，乃麻毒輕微也。</p>
<p>張路玉曰：凡發自頭至足為齊；先從頭面胸腹暖處起，漸發四肢者，順；若從手足起漸發胸腹背者，逆。</p>

<h2>形色</h2>
<p>麻疹色貴紅潤，形貴尖聳。故色紅鮮者吉，色深赤者重，色黃者危，色黑者死。</p>
<p>色白不分肉地，唯點粒高聳，晬時即沒者，邪熱本輕也，不治而愈。</p>
<p>表氣本虛而色白者，但調護溫暖，過一二日，自變紅活也。</p>
<p>麻正出時，為風寒阻遏，而色白如膚，必毛竅慄起，手足不溫。當發之，以宣毒發表湯（方見驗麻）。</p>
<p>麻色紫赤而暗，火毒熾盛頂粒起者可治，宜涼血飲；枯燥不起者難治。</p>
<p>麻雖紅潤而不起，二便艱澀者，邪火遏於肺也，清熱透肌湯主之。</p>
<p>麻雖透表，而粒頭焦者，無論紅淡，皆屬熱劇，並宜白虎解毒湯（方見色苔），無汗，加防風；冬月，加蜜酒、炙麻黃以發之；大便秘者，加酒蒸大黃以導之。</p>
<p>麻出成片，風寒被襲，變白，身不發熱，毒反內攻，煩躁、腹痛、痰喘氣息者，危。</p>
<p><u>涼血飲</u>　治麻疹火毒熾盛，紫赤而暗。</p>
<p>生地黃（錢半）　玄參　連翹（各一錢）　黃芩　荊芥　山梔（炒）　丹皮　紫草　木通　牛蒡子（炒。各八分）　紅花（四分）</p>
<p>水煎服。</p>
<p><u>清熱透肌湯</u>　治麻疹未透，熱甚而咳。</p>
<p>石膏（一錢）　玄參　牛蒡子（炒）　荊芥　防風　前胡　葛根　杏仁（去皮尖。各八分）　薄荷（四分）</p>
<p>水煎服。</p>

<h2>發不出</h2>
<p>麻症初起，必現發熱、咳嗽、噴嚏、嘔吐、目赤流淚等證，然後察其耳旁、鼻端、頭頸、胸背、腰腹，遍及手足心為齊；總以頭面多者為佳；麻頂尖長形小而勻淨者為吉也；若干嘔悶亂，欲出不出，危亡立至，一出即沒，死在反掌間矣。</p>
<p>麻疹將發，風寒暴襲，寒鬱熱毒不能外出，症見氣粗喘促、腹中脹痛、煩躁不寧，急以新定麻石消毒飲治之，輕則宣毒發表湯主之（方見驗麻）。</p>
<p>皮膚堅厚，腠理閉塞而無汗者，明是麻症卻不見出，胡荽四兩切碎，先以好酒三杯，壺內煎滾，入胡荽於內蓋定，勿煎，勿令泄氣，以苧麻蘸酒，遍體抹之。但勿令感風，衣被稍暖，自然出快。</p>
<p>如自發生麻疹症狀後不大便者，毒盛於胃，阻伏不出，宜涼膈散。</p>
<p>凡有麻出不快者，宜宣毒發表湯主之（方見驗麻）。</p>
<p><u>新定麻石消毒飲</u>　治麻出暴收，毒攻肺胃，喘息煩悶，以此解之。</p>
<p>石膏（一錢）　杏仁　牛蒡子　荊芥（各八分）　麻黃（蜜酒炙黑，五分）</p>
<p>水煎服。</p>
<p>明按：此就麻杏石甘湯、三味消毒飲俱去甘草而定之方也。麻既由胃而出於肺，肺合皮毛，皮毛為風寒逆襲，邪毒壅塞肺部不得外解，發生喘急氣粗等狀，肺受圍困也；甚則腹中脹痛，肺難容毒，反欲攻胃也。故以麻黃、荊芥辛之，輕則達膚腠，疏在表之風寒；石膏辛寒，清展在肺之鬱熱；杏仁利肺氣；牛蒡宣肺毒。藥只五味，斂肺甚速，余屢試屢驗者也，因定名麻石消毒飲。</p>
<p><u>涼膈散</u>　治疹疫行，表裡俱熱，胃火亢盛，目赤便秘。</p>
<p>大黃（酒潤，二錢）　連翹　牛蒡子（炒）　黃芩　山梔（炒，各一錢）　枳殼（八分）　薄荷（四分）　淡竹葉（十片）</p>
<p>水煎服。</p>

<h2>透表</h2>
<p>麻疹透表，方免後患。如粒頂尖大，或細小者，離肉收根，俱為透表也。</p>
<p>扁闊焮赤成塊，塊上覆有小粒，平塌不起者，熱邪留伏於肺，宜淡竹葉、石膏、麥冬、連翹、牛蒡子以滋化之。</p>
<p>一片如風毒，遍身燥癢，偏高紅腫，但粒頭不尖者，熱邪留伏於胃，宜化毒清表湯主之。縱有餘熱，從此渙散矣。</p>
<p><u>化毒清表湯</u>　治麻疹已出，紅腫太甚。</p>
<p>葛根　知母　前胡　連翹（各八分）　玄參　地骨皮　瓜蔞根（各一錢）　牛蒡子（炒）　木通（各七分）　黃芩（酒炒）　山梔（炒）　防風（各五分）　黃連（酒炒）　薄荷（各三分）　淡竹葉（十片）</p>
<p>水煎服。</p>

<h2>不透表</h2>
<p>麻疹隱於皮膚中，欲出不透，其因有三，治當詳審。</p>
<p>皮膚乾燥，毛孔疏立，因風寒鬱遏者，法當疏托，宣毒發表湯主之（方見驗麻）。如表虛不勝疏托者，以香蔥白煎湯頻服，得微汗而疹透。</p>
<p>麻疹根地混成一塊，其色紅紫顆粒，因火毒內熾，熱極不能透表者，急以消毒化熱，白虎解毒湯（方見舌苔）加荊芥、玄參、連翹、牛蒡子治之。</p>
<p>皮膚不燥，唇色淡白，二便如常，因中氣本虛，麻出不透者，雖有蘊熱，不可輕用寒涼，但宜清化，以新定蟬衣宣毒飲治之。</p>
<p>惟見胸腹腰背一二處現疹，粒頭紅赤，頭面手足乍有乍無，此症必纏綿難已。</p>
<p>且有收後數日，復發如前，兩三日而愈者，此乃氣候變異關係，非不透也，只宜辛涼宣解，以清熱透肌湯（方見行色）去石膏治之，漸次求安。</p>
<p><u>新定蟬衣消毒飲</u>　治中氣虛弱，麻出不透。</p>
<p>蟬蛻（去頭足，一錢）　荊芥　防風　連翹　牛蒡子（炒）　瓜蔞殼（各八分）　木通（六分）　薄荷（三分）</p>
<p>水煎服。</p>

<h2>沒早</h2>
<p>麻疹出沒，當在三日漸出漸收，其毒必輕。若疹出未經三日，而一日半日即沒者，必屬風寒外襲，或為熱毒內陷，或誤食酸鹹物品，周身絕無紅影，終變危候也。若肌膚暖處尚未全沒，乘時急與發表，或審其觸犯何種食物而與內解。</p>
<p>風寒外襲而沒早者，皮乾無汗，指涼咳密，宣毒發表湯主之（方見驗麻）。冬月，加蘇葉發之，發不出加蜜酒、炙麻黃三四分，以助發之。不急治則發喘脹而死。</p>
<p>遍身青紫熱腫，喘脹氣急，乃毒滯血凝，半匿肌表，急以涼膈散（方見發不出），加玄參、熟石膏、紫草茸、蜜酒炙麻黃、薄荷以發越之。若腹脹喘促，溺澀臍突，加葶藶子，庶或挽救一二。</p>
<p>內加痰熱火毒，抗拒伏匿，煩躁脹喘、不省人事者，以白虎解毒湯（方見舌苔）加玄參、牛蒡子、連翹、瓜蔞霜等消化之。</p>
<p>誤食酸鹹物品，肺竅忽閉，麻疹伏匿，壯熱喘咳，煩悶者，先以豬膽汁、炙甘草煎成，繼續與服，探吐，再用三味消毒飲煎服之。</p>
<p>誤食豬肉，喘脹氣促而疹忽沒，以三味消毒飲加枳殼、楂肉、萊菔子、杏仁等味，便閉加酒蒸大黃下奪之。</p>
<p>誤識桃李生冷等物，喘咳聲音，以新定蟬衣宣毒飲（方見不透表），加枳殼、杏仁、馬兜鈴以展化之，必熱退身安，氣息漸調，方可無慮。</p>
<p>大病之後或素患洞瀉而出麻者，中氣本虛，其邪不得發越而沒早，惟當健運中氣兼解表清熱之劑，以新定培中清表湯。</p>
<p>明按：誤食致變，當從細問始明，切勿粗疏兒戲生命也。</p>
<p><u>三味消毒飲</u>　治麻出一日，風寒所襲而收，麻毒內攻急用之。</p>
<p>牛蒡子（炒）　荊芥穗　防風（各一錢）</p>
<p>水煎服。</p>
<p><u>新定培中清表湯</u>　治中虛久瀉，麻出不徹。</p>
<p>薏苡米　茯苓（各錢半）　葛根　北沙參（各一錢）　連翹　牛蒡子（炒）　荊芥　防風　蟬蛻　貝母（去心）　麥冬（去心。各八分）　廣陳皮（五分）</p>
<p>水煎服。</p>
<p>明按：薏苡米、茯苓、陳皮培胃氣之虛也；沙參、麥冬、貝母培肺氣之虛也；葛根、荊芥、防風、蟬蛻以疏表；連翹、牛蒡子以宣毒，不犯苦寒傷中之禁，永為中氣虛人麻出早收之正劑也。</p>

<h2>難沒</h2>
<p>麻疹二日漸次沒收，身熱亦漸退清，為最佳象。然西北風土剛勁，稟質亦厚，麻每五七日乃收，不在難沒之列，當須識之。</p>
<p>凡麻疹難沒者，必衛氣素虛，不能焮發；或衣被單薄，阻其發越之機，以致身熱不清，點燥色白，隱隱肌膚之間，綿延多日者，法當辛散透達，新定蟬衣宣毒飲（方見不透表），加前胡、玄參、浙貝母、地骨皮等味，切勿遽投苦寒，閉其開瀉之路也。</p>
<p>麻出不盡，心悶，啼哭不止，十分危急，死在須臾，或下痢腹痛者，俱當解毒快疹湯主之。</p>
<p><u>解毒快疹湯</u>　治麻現二三日，疹出不盡，變生險症。</p>
<p>葛根（一錢）　連翹　牛蒡（炒）　荊芥　防風　當歸　生地　蟬蛻（各八分）　黃芩（酒炒）　枳殼　木通（各八分）　西河柳（五分）　犀角（三分，磨汁沖）</p>
<p>水煎服。</p>

<h2>雲頭片</h2>
<p>麻疹出如雲頭大片，症狀有二：麻現焮紅大片，微腫離肉者；紅腫大片之上，復現小紅點，皆由血分火毒熾甚所致。當速清解血熱鬱蒸之勢，白虎解毒湯（方見舌苔）加玄參、葛根主之。</p>

<h2>夾斑</h2>
<p>病發熱時，大便硬秘，皮膚紅如錦文者，熱蒸胃腑，是發斑症。不可誤視為麻，妄投發散之劑。化斑飲主之，一則可以消斑，再則無礙於麻。大便秘者，加酒蒸大黃微利之。</p>
<p>麻出如錦文斑闌，或出膿血，腥臭不幹，心胸煩悶，嘔吐清水，身溫溫熱者，白虎解毒湯（方見舌苔）加防風、荊芥、連翹、牛蒡子治之，遲則不救。</p>
<p>麻已出而夾斑紋者，犀角紅花飲主之。</p>
<p><u>化斑飲</u>　治胃火鬱盛，蒸熱發斑。</p>
<p>石膏（錢半）　葛根　知母　麥冬　玄參　生地（各一錢）　大青　木通（各八分）　枳殼（六分）　淡竹葉（十片）</p>
<p>水煎服。</p>
<p><u>犀角紅花飲</u></p>
<p>犀角（磨汁）　紅花　當歸尾　丹皮　連翹　牛蒡子　木通　枳殼</p>
<p>水煎服。</p>

<h2>夾癮</h2>
<p>身熱，麻初發時皮膚中有似斑屑者，乃風寒迫表而成隱疹，只須疏解。俟麻一透，疹自退。切勿認為斑而施苦寒，致麻內陷難救。宣毒發表湯主之（方見驗麻）。</p>
<p>隱疹遍身狀如雲頭片，紅頭乍有乍無者，風毒凝阻血分，消風散主之。</p>
<p><u>消風散</u></p>
<p>當歸　生地　防風　荊芥　蟬蛻　牛蒡子（炒）　連翹　玄參　丹皮　瓜蔞皮（各一錢）　木通（五分）</p>
<p>水煎服。</p>

<h2>麻瘡</h2>
<p>麻後發瘡，多由冷水澡浴過早，水氣留滯肌膚而發。但每日以荊芥、防風、艾葉煎水洗之。勿用生水洗，勿敷藥末，免致每年如期發瘡，須注意之。</p>
<p>麻疹沒後遍身瘙癢，露風太早，風邪留滯肌膚，凝阻血液流暢，消風散主之（方見夾癮）。</p>

<h2>水痘</h2>
<p>小兒發熱，身起紅點，漸如水泡，邊有紅盤，由水泡而膿泡而結疤，皮薄色嫩者，曰水痘；紅潤形軟者，曰赤痘，不似正痘之根窠圓緊也。皆由風熱鬱於肌膚而發，大人間亦有之。當與新定蟬衣宣毒飲（方見不透表），加車前仁、浙貝母、酒炒黃芩、炒山梔、當歸等味解之。</p>

<h1>卷二</h1>

<h2>發熱</h2>
<p>麻症之初，必由發熱，或乍涼乍熱，或壯熱不清。始熱之際兼見面赤眼浮，多涕淚，咳嗽連聲，是其候也。蓋麻毒由胃而肺，達於肌表，鬱蒸其血而為疹，非發熱則火毒不能外透。故在麻疹未出之先，宜微熱而乍熱而潮熱，漸至於壯熱，麻出乃得而齊也。苟初起壯熱，其毒必重，則當疏托清化，不使逗留肺胃。若不現身熱、正氣不足，或風寒外閉，亦當疏托肌表，恐邪內逼。麻收之後熱當漸化，方無險惡症狀發生也。</p>
<p>麻疹初潮，眼淚汪汪，噴嚏咳嗽，疹欲宣透也，宣毒發表湯主之（方見驗麻）。</p>
<p>初發壯熱，至已出熱不少衰者，肺胃熱重，清熱透肌湯主之（方見行色）。</p>
<p>麻疹出盡，壯熱不退者，化毒清表湯（方見透表）去黃連、葛根，加熟石膏、麥冬、荊芥以涼解之。</p>
<p>麻疹沒後，壯熱不退，大非所宜，乃熱陷肺胃也，化毒清表湯（方見透表）去黃連、黃芩，加生地、鮮桑葉治之。</p>
<p>麻正出時，煩熱甚，乃邪熱未解復內攻也，清熱透肌湯主之（方見形色）。</p>
<p>麻沒後見煩熱者，餘邪未盡，肺胃陰損，新定柴胡清熱飲主之。</p>
<p>麻退身涼，越數日而復熱者，乃餘熱未清、餘毒復還所致，宜清涼和解、滋培肺胃虛燥為主，新定柴胡清熱飲加當歸身、白芍、瓜蔞皮治之。</p>
<p><u>新定柴胡清熱飲</u>　治麻後身熱延綿不清。</p>
<p>北柴胡（八分）　生地黃　地骨皮　玄參　沙參　麥冬（去心。各錢半）　鮮桑葉　知母　連翹（各一錢）　淡竹葉（十片）</p>
<p>水煎服。</p>
<p>明按：方中生地、地骨皮、玄參、麥冬、沙參，一派甘涼，滋養肺胃之陰液；鮮桑葉、知母、連翹、淡竹葉，苦淡輕清，宣化肺胃之虛熱；得柴胡之辛苦平，一轉樞機，其熱始得而解，即《內經》亢則害承乃制之義也。</p>

<h2>汗</h2>
<p>麻疹發熱，常宜漿漿微汗，皮膚滋潤，肌腠豁達，邪易透化，乃為常候。若皮膚乾澀，必風寒抗阻，疹難外出，恐有內逼之變。疏表解肌，既得微似汗，又不可過事升發，恐汗大泄也。蓋汗為水穀之精氣，所以潤五臟者也。汗大泄，則肺胃陰傷，燥火益熾，難免不敗事也。</p>
<p>壯熱無汗，皮膚乾燥，必風寒阻滯，麻疹難出，或腹脹痛，或發氣促，速與疏解，宣毒發表湯主之（方見驗麻）。冬月加紫蘇葉，使毒從汗解，元府開而麻疹透，衛中之表邪隨之而散矣。</p>
<p>瀉極火鬱，皮膚乾燥無汗，而麻難出者，必唇舌焦裂、二便秘澀、壯熱昏睡，或身痛、腹脹痛、喘促痰鳴。無論發熱幾日，急宜新定麻石消毒飲（方見發不出）加連翹、玄參、貝母、酒炒黃芩、炒山梔、地骨皮、前胡治之。</p>
<p>麻後自汗，多成痙病，切勿見風。當濡陰抑陽，使肺胃虛熱清退而汗自止。以當歸身、生地黃、玄參、地骨皮、牡蠣粉治之。日久兼不食吐蛔者，乃胃虛症，加白芍、金釵石斛、藿香葉、淡竹茹、廣陳皮、烏梅肉等味。</p>

<h2>咳嗽</h2>
<p>麻疹咳嗽，乃由胃部火毒發動，勢欲出表，肺部為必經途徑，撞擊而鳴，連聲乾咳。在麻疹潛伏期中發熱、噴嚏之際，最宜咳嗽，以其火邪由肺而外越也。咳愈密則疹出愈順，以其火邪有開泄之路也。麻疹正出之時，尚不妨多咳，以透盡其邪，達於肌表。如疹齊漸沒，身熱漸清，咳嗽之勢亦應隨之漸解，斯為順候；若其咳依然甚密，面浮，復熱，痰中嗆血，乃肺火留戀，或風寒未避，或飲食失宜，阻遏餘邪出路，日久肺葉焦舉，必致虛羸難救，可不慎歟？</p>
<p>麻疹未出之先發熱、噴嚏、眼淚、咳嗽連聲者，法當展肺透疹，宣毒發表湯主之（方見驗麻）。</p>
<p>麻出正盛時，身熱、鼻乾、咳嗽甚密者，以化疹清肺法，新定蟬衣宣毒飲（方見不透表）加杏仁、浙貝母、前胡、炒黃芩主之。</p>
<p>麻疹沒後咳仍不止，餘熱未清，肺金被燥也，清咽滋肺湯主之。</p>
<p>麻後咳嗽，日久連綿不已，皮焦膚熱而煩躁，肺舉成虛羸狀態者，以生地黃、當歸尾、茯苓、川貝母、炙桑白皮、杏仁、柿霜以滋化之，而咳漸止；或以新定柴胡清熱飲（方見發熱）去連翹、竹葉，加西黨參、當歸身、白芍、茯苓、貝母、枇杷葉滋培肺胃可也。</p>
<p>麻後餘毒留滯於肺，咳吐黃膿，乃肺癰也，以百部化癰湯治之。不愈則成肺痿，紫菀湯主之。</p>
<p>久咳不止，面浮目腫，胸高如龜，肩聳息喘，搖手擺頭，口鼻出血，面色乍青乍白，鼻如煤黑，而昏悶者，肺絕，不治。</p>
<p><u>清咽滋肺湯</u>　治麻後餘熱，咳嗽聲音。</p>
<p>荊芥　牛蒡子（炒）　前胡（各八分）　玄參　貝母（去心）　瓜蔞仁　馬兜鈴　麥冬　鮮桑葉　枇杷葉（去毛）　沙參　地骨皮（各一錢）　薄荷（三分）</p>
<p>水煎服。</p>
<p><u>百部化癰湯</u>　治麻後肺燥，將成癰膿。</p>
<p>百部　地骨皮　麥冬　天冬　知母　玄參　瓜蔞仁　百合　貝母　生苡仁　金銀花　白芨</p>
<p>水煎服。</p>
<p><u>紫菀湯</u>　治燥火蘊肺，久咳肺痿。</p>
<p>西黨參　茯苓　川貝母　黑驢膠　紫菀茸（各一錢）　知母　桔梗（各八分）　炙甘草（五分）</p>
<p>水煎服。</p>

<h2>噴嚏</h2>
<p>麻疹噴嚏，乃火毒從里之表，由胃而肺，斬關奪門而出，激搏有嚏聲也。肺氣宣通，涕濁得泄，在麻疹始終為最吉之兆。</p>
<p>初熱無涕、鼻塞不通者，風邪阻滯肺竅，宣毒發表湯主之（方見驗麻）。</p>
<p>初潮鼻乾無涕，肺部熱重，閉塞不得宣泄，解毒快疹湯（方見難沒）去當歸尾、生地黃、犀角，加玄參、杏仁、薄荷辛涼分解。</p>
<p>麻正出熱甚時，鼻外干塞，似無涕者，以宣毒發表湯（方見驗麻）去葛根，加酒炙黃芩治之，得嚏而涕漸出。亦有先無涕，其後熱退，鼻通有涕者。</p>
<p>麻已出身熱，鼻乾無涕者，肺熱尚重也，新定柴胡清熱飲主之（方見發熱）。</p>
<p>以上數端，要皆肺氣通暢，雖重可救，醫者須詳審焉。</p>

<h2>齁齃</h2>
<p>麻疹齁齃，喉鳴牽鋸，乃痰火結於肺胃，邪熱阻逆，不得發熱所致也，見於麻疹未出、正出之間。法當清熱肅肺，可救十中一二，除熱清肺湯主之。若見於疹子正收及收後者，邪熱未透，毒火內迫，或露風早收，餘熱反攻，多有此症，為肺氣受逼也，每難救治。</p>
<p><u>除熱清肺湯</u>　治麻盡透，壯熱咳嗽，大便閉結。</p>
<p>石膏（一錢）　麥冬　玄參　生地　川貝母　瓜蔞仁（各八分）　薄荷（四分）</p>
<p>水煎服。</p>

<h2>喘促</h2>
<p>麻疹喘促，每發於身熱極甚之際。呼吸粗速，謂之氣促；張口布息，謂之氣喘。氣促之症乃痰火壅遏肺部，氣道阻塞而然，故氣促之甚者，多轉喘症，喘之甚者鼻煽胸高，則肺脹而難治也。</p>
<p>麻症氣促，見於未出及正出之時，藥宜疏托，清熱透肌湯主之（方見形色）。</p>
<p>麻症氣促，見於正收及收後，又宜降火清肺，清咽滋肺湯主之（方見咳嗽）。</p>
<p>麻症初發熱而喘者，風寒截火熱於肺，不得發越也，新定麻石消毒飲（方見發不出）去石膏，加炒黃芩、連翹、枳殼治之。</p>
<p>麻出盛時，身熱而喘者，新定麻石消毒飲主之（方見發不出）。</p>
<p>麻已出而喘者，肺被燥而焦舉，清肺降火湯主之。</p>
<p>麻出三日後作喘者，清咽滋肺湯（方見咳嗽）加杏仁治之。</p>
<p>麻後喘急，鼻煽胸高，肺已脹壞，不治。</p>
<p><u>清肺降火湯</u>　治麻出喘急。</p>
<p>石膏　麥冬　貝母　瓜蔞仁　地骨皮　生地黃（各一錢）　炒黃芩　炒山梔　桑白皮　杏仁（各八分）　葶藶子（炒）　玉蘇子（炒。各五分）　燈心草（十根）</p>
<p>水煎服。</p>

<h2>喑</h2>
<p>麻症音喑，大半由於風寒襲肺，肺胃之熱不能盡達於表，咳甚音傷，故嘶喑也。法宜宣熱展肺，新定蟬衣宣毒飲（方見不透表）加玄參、浙貝母、酒炒黃芩治之。聲喑而咽喉腫痛者，火鬱陽明之經也，射干消毒飲主之。</p>
<p><u>射干消毒飲</u>　治火鬱咽疼。</p>
<p>射干　荊芥　玄參　連翹　牛蒡子（炒）　黃芩　山豆根　瓜蔞殼　薄荷葉</p>
<p>水煎服。</p>

<h2>諸失血</h2>
<p>麻本熱蘊肺胃，鬱蒸其血，透發肌表，則為疹。熱甚血逐，被迫而溢出，上溢則為衄血，為咯血，為牙出血；下溢則為便血，為溺血。經云：陽絡傷則血上溢，陰絡傷則血內溢。內溢者，下溢也。俱屬肺胃熱鬱，逼血妄行之候也。</p>
<p>衄血發於初潮及麻未出時，是為順候。良由肺火載血上行，溢出於鼻，熱得開泄之路，取諸發散之義也。</p>
<p>衄血過多，肺胃火迫，謂之奪血，急需止之，加味犀角地黃湯主之。</p>
<p>麻疹沒後鼻衄血不止者，陰不勝陽也，宜養陰清血湯以滋化之。</p>
<p>咯血之症，每見於麻疹收後，咳嗽日久，咳嗆出血，乃熱鬱肺燥，咳傷肺絡也。當以清燥治咳為主，咳清則血自止也，以清咽滋肺湯（方見咳嗽）去荊芥、前胡，加生地黃、白茅根治之。</p>
<p>牙出血者，多由胃火鬱升，每因此成牙疳重症，於兼症中急清胃火，不使蔓延成疳為妥，加味犀角地黃湯去荊芥，加玄參、酒炒黃連主之（牙疳治法見後口舌）。</p>
<p>麻出大便下血，或小便溺血者，或二便閉澀赤痛，身熱口渴，火毒下迫大腸或膀胱，加味犀角地黃湯去荊芥、連翹、白茅根，加黃連、黃柏治之。</p>
<p>凡麻疹諸血症，須察其是發熱甚抑失血甚發熱甚者。黃連解毒湯為主；失血甚者，犀角地黃湯為主。活法在人，不可拘也。</p>
<p><u>加味犀角地黃湯</u>　治麻疹熱鬱，諸失血症。</p>
<p>犀角（磨汁）　地黃　丹皮　荊芥　黃芩（酒炒）　山梔（炒）　白茅根　連翹（各等分）</p>
<p>水煎服。</p>
<p><u>養陰清肺湯</u>　治麻熱甚溢耗。</p>
<p>生地黃　當歸身　白芍　麥冬　白茅根　玄參（各等分）</p>
<p>水煎服。</p>
<p><u>黃連解毒湯</u>　治熱邪內外俱盛。</p>
<p>黃連　黃芩　山梔（炒）</p>
<p>水煎服。</p>
<p><u>犀角地黃湯</u>　治傷寒溫病，一應發汗而不得汗，內蓄血及鼻衄吐血不盡，內余淤血，大便血，面黃或中脘作痛。</p>
<p>犀角　生地黃　丹皮</p>
<p>水煎服。</p>

<h2>渴</h2>
<p>麻症作渴，肺胃熱盛，精液灼燥之象也。當其發渴時，唇邊必先紅如丹，脾胃火鬱甚矣。醫者當分初、中、末三法，急為圖治。初為麻未出時，治之以宣毒；中為麻正盛時，治之以泄火；末為麻已沒時，治之以滋津，斯得之矣。</p>
<p>初熱麻未出時，口渴，火鬱未展也，宣毒發表湯（方見驗麻）去杏仁、枳殼，加炒山梔、天花粉治之。</p>
<p>麻出盛時，壯熱口渴，熱灼肺胃，葛根麥門冬飲主之。</p>
<p>麻盡沒而口渴不止者，餘熱尚重，肺胃陰傷也，麥冬甘露飲主之。</p>
<p>麻後二便清利，唇色淡而不紅，惟口渴者，此必過服寒涼，脾虛不生津液而渴也，新定葛根益脾湯主之。</p>
<p>麻後口大渴，小便極清，飲一溲一，已成消渴，肺胃枯燥也，蓮鬚生津飲主之。</p>
<p>麻後口渴，恣飲冷水，致成水蓄腹脹，揉之水響，或嘔或瀉，或小便不利者，以新定益脾分消飲治之。</p>
<p>若口渴腹脹，食納不入，本虛實滯，為難治也。</p>
<p><u>葛根麥門冬飲</u>　治麻毒壯熱，口渴煩悶。</p>
<p>葛根　石膏　麥冬　玄參（各一錢）　天花粉　連翹　牛蒡子（炒。各八分）　淡竹葉（十片）</p>
<p>水煎服。</p>
<p><u>麥冬甘露飲</u>　治麻後熱甚而渴。</p>
<p>麥冬　玄參　生地　地骨皮（各一錢）　瓜蔞根　連翹　黃芩（酒炒。各八分）　淡竹葉（十片）</p>
<p>水煎服。</p>
<p><u>新定葛根益脾湯</u>　治麻後脾虛，津液不生而渴。</p>
<p>西黨參　淮山藥　白茯苓　粉葛根（各一錢）　藿香葉（六分）　金釵石斛（錢半）　粳米（一撮）</p>
<p>水煎服。</p>
<p>明按：此即錢氏七味白朮散之變方也，去白朮之苦燥，甘草之緩滯，木香之辛溫，易山藥、石斛、粳米甘平滋液，佐參、苓以益脾，葛根升下陷之津，藿香化結滯之氣，氣化津升，脾機乃運，水精四布而渴止矣。麻後肺胃被燥，白朮且不敢投，足知苦辛溫燥皆當切禁。</p>
<p><u>蓮鬚生津飲</u>　治上消口渴，飲水不休。</p>
<p>葛根　西黨參　雲茯苓　生地　麥冬　蓮鬚（各一錢）　白芍　天花粉（各八分）　知母（六分）　黃連　五味子（各三分）　炙甘草（四分）　烏梅（去核，一粒）　淡竹葉（十片）</p>
<p>水煎服。</p>
<p><u>新定益脾分消飲</u>　治胃燥脾虛，水精不運，致成水蓄。</p>
<p>茯苓　金釵石斛（各錢半）　葛根　麥冬　大腹皮　生穀芽　竹茹（各一錢）　天花粉　陳皮　澤瀉（各八分）　藿香葉（五分）</p>
<p>水煎服。</p>
<p>明按：胃既被麻而燥，所賴者，脾能為胃行津液也。脾復因過服寒涼而致虛，水穀之入蓄於胃中，不能灌輸精微。津液不生，口中乾渴，小便不利，甚則升降悖逆，或嘔或瀉，而求出路。方中茯苓、石斛聯袂而入，一以輸脾之精，一以滋胃之燥；腹皮、陳皮、穀芽、藿香所以輔茯苓者也；麥冬、竹茹、花粉所以佐石斛者也，脾精一布。胃燥能滋；葛根鼓舞胃氣，上行津液，口渴乃止；澤瀉通調水道，下輸膀胱，小溲自長。清升濁降，何有水蓄嘔瀉之虞哉！</p>

<h2>嘔吐（【附】吐蛔）</h2>
<p>麻症初起嘔吐，乃為常候，因胃火勃鬱，載水穀以升逆，麻毒從裡外出，其順可知，以邪能發泄也。若欲吐不吐，如干霍亂者，邪毒閉胃，不得外越，殊甚危篤。麻後嘔吐，有為餘毒留滯胃脘所致，肺胃之虛熱也，前者當疏，後者當清，治之不可混淆。</p>
<p>麻症初熱嘔吐者，毒未發越，藥宜疏托，宣毒發表湯（方見驗麻）去杏仁，加橘紅治之。</p>
<p>麻疹正出及正沒時，嘔吐不止，毒未出盡，清涼中少加疏散，三味消毒飲（方見沒早）加枳殼、炒黃連治之。痰多，加貝母。</p>
<p>麻收後仍嘔吐者，餘毒留胃，肺胃有虛熱也，石斛清胃飲主之。</p>
<p>嘔吐蛔蟲者，乃胃熱甚，不能納穀，蛔無所養而上竄也。病者能食，其蛔自安。如麻後他症中兼見吐蛔者，方內隨加炒黃連、烏梅以安蛔。但烏梅不可施於麻疹未出及正出時，以其酸能斂邪，惟少用炒黃連以安之耳。如蛔出多而不能食，胃敗不治。</p>
<p><u>石斛清胃飲</u>　治麻後胃虛熱滯，嘔吐不食。</p>
<p>金釵石斛　扁豆衣　茯苓　竹茹　枇杷葉（去毛。各一錢）　枳殼　陳皮　丹皮　焦楂肉（各八分）　藿香葉（五分）　柿蒂（三個）</p>
<p>水煎服。</p>

<h2>呃逆</h2>
<p>呃逆之症，乃沖氣上逆而有聲也。麻屬胃火，其氣循衝脈上逆為呃，實居十之八九，虛者十無一二也。</p>
<p>實熱痰火發呃逆者，必見唇紅、口渴、小溲赤澀。麻出正盛時，偶有此象。治宜清胃降火，竹茹、柿蒂、陳皮、貝母、熟石膏之類。</p>
<p>呃逆不止者，胃氣不安，用黃芩、炒麥芽、木通、澤瀉、刀豆子、金釵石斛治之。</p>
<p>呃逆一連二三十聲不歇者，肺氣阻塞也，以紙條通鼻孔中，得嚏即已。</p>

<h2>腹痛</h2>
<p>麻疹腹痛，火毒鬱於胃中而不能出，或風寒外拒，或飲食停滯，皆足以致痛也。麻未出時，即當宣發，鬱而得伸，其痛自止。火鬱便秘，法兼通利；食停痛脹，法兼消導。總宜疏通胃腑，斯無誤耳。</p>
<p>腹痛見於初熱與正出之間，風寒壅遏火毒內郁，急以疏表疹透，而痛可止，宣毒發表湯主之（方見驗麻）。</p>
<p>飲食傷滯，腹痛脹者，法當導滯化毒，以枳殼、焦楂肉、麥芽、木通、牛蒡子、連翹等味。大便閉者，加酒蒸大黃。</p>
<p>麻正收及收末盡而腹痛者，邪未盡透，復入於裡也。當疏托中佐以清解，清熱透肌湯（方見形色）去石膏，加炒黃芩、枳殼、木通治之。</p>
<p>麻疹沒後腹痛者，分利餘熱，化毒清表湯（方見透表）去葛根、知母、瓜蔞殼、淡竹葉，加荊芥、枳殼治之。</p>
<p>麻後脾氣不調，腹脹且痛，面目四肢浮腫者，分利小便為主，導赤散加白芍主之。</p>
<p>元氣大虛，已失升降功能，小水不利，遍身浮腫，腹痛喘促者，難治。</p>
<p><u>導赤散</u>　治心經熱搐，小腸實熱，小便短澀。</p>
<p>生地黃（錢半）　木通　車前仁（炒。各一錢）　淡竹葉（十片）　燈心（一握）</p>
<p>水煎服。</p>

<h2>泄瀉</h2>
<p>泄瀉一症，多由風行腸胃，清氣下陷，或濕邪侵脾，或飲食傷胃，皆足以致瀉，不急止之，則脾胃元氣益虛矣。麻疹之瀉則不然。夫火鬱於胃，觸感時行之氣，暴發於中上則達肺出表，腑氣不通，邪火迸越於上，壅塞肺部，肺為嬌臟，不堪過受火熱之蒸熬，易變肺脹喘急之險惡。故麻症初潮以至正出、正收，俱不防瀉。大便一行，火毒分消，既不使邪留於胃，亦足以減輕肺部之逼迫。余治小兒之麻，每察其能瀉則喜，逐專治其麻，不慮其瀉，疹透而瀉自止。如察大便不通，毫無思索的於宣毒透疹方中加酒蒸大黃，兼通腑氣，無不應手而愈。麻後之瀉，養胃清熱，漸次平安，亦不必遽用分利，蓋肺胃被灼，津液已傷，再投去陰之品，必敗事矣。</p>
<p>麻疹初熱至疹出正齊時，便瀉黃褐稠黏，一日數次，乃胃熱得以開泄，一心宣毒透疹，不必止瀉。</p>
<p>久瀉之人，忽患麻症，中虛疹出不透徹者，新定培中清表湯主之（方見沒早）。</p>
<p>瀉而窘迫，腹痛脹滿，噯氣如敗卵者，為飲食滯阻，以枳殼、焦楂肉、麥芽、木通治之。</p>
<p>麻後瀉而不止者，新定葛根益脾湯（方見渴）去粳米，加苡米、陳皮治之。</p>
<p>麻收後水瀉日久，四逆不渴，小便不黃，脾胃過傷，恐成腫痢者，枳實理中湯從權治之，不可過劑，以傷胃陰也。</p>
<p>久瀉而脫肛者，當養血理氣，宣解腸胃之熱，以導赤散（方見腹痛）去車前仁、淡竹葉，加玄參、連翹、黃連、當歸身、川芎、升麻治之。</p>
<p>明按：麻後久瀉脫肛，與麻後痢疾脫肛，皆為餘邪與氣俱陷，故當於清養劑中權用升麻三五分升陷止脫，不似痢前之火毒正盛、載濁致喘，故無礙耳。</p>
<p>麻後瀉利不止，口渴目合，四肢不溫，嘔吐不食，洞瀉不知，脾胃俱罷，不治。</p>
<p><u>枳實理中湯</u>　治本虛夾食，不能受攻者。</p>
<p>西黨參　漂於術　茯苓（各一錢）　枳實（六分）　炮姜　炙甘草（各五分）</p>
<p>水煎服。</p>
<p>明按：此方，非宜於麻症，必如上述之症狀與時期，始可權為用之。</p>

<h2>痢疾（【附】下蟲）</h2>
<p>麻之成痢，每見於正收及收後，乃緣於肺胃熱邪未盡透出，餘毒內陷所致。夫肺與大腸相表裡，胃與大腸手足陽明經腑相通，肺胃火毒不清，則下移大腸而為痢，故發多在麻透未盡之時也，間有初熱；或正出而痢者，乃胃熱太重，表裡充斥也。亦有自始至終痢下不輟者，風寒留滯於裡也。又有因瀉成痢者，脾胃虛熱而氣下陷，也臨症之頃，宜加詳察，而大法不外和血調氣、清熱解毒八字而已。</p>
<p>初熱麻未出及麻正出時下痢者，熱毒太重，不能儘量外散而下迫，法當疏托，宣毒發表湯（方見驗麻）去葛根，加檳榔治之。</p>
<p>麻已出齊，身熱未盡退，邪毒下注成痢者，清熱導滯湯去白芍、楂肉，加生地黃、地骨皮、木通主之。麻正沒及沒後而痢下色白者，清熱導滯湯去白芍、楂肉、犀角，加防風、生地、川芎主之。下膿血者，白頭翁湯主之。</p>
<p>因食積而滯下者，必其腹脹，或噯氣，枳殼湯主之。</p>
<p>麻後下痢，身熱腹痛者，黃連解毒湯（方見諸失血）去黃柏，加白芍治之。</p>
<p>麻後赤痢，四物湯加黃連、黃芩、枳殼治之；白痢，四物湯加陳皮、茯苓、木香治之。</p>
<p>麻後泄瀉成痢者，四物湯加炒黃芩、地骨皮治之。</p>
<p>麻後久瀉成痢者，氣血已虛，人參黃連黃芩甘薑湯主之。</p>
<p>自始至終下痢不輟者，風毒留滯腸胃，清熱導滯湯去當歸、淡竹葉，加荊芥、防風治之。</p>
<p>麻收之後下痢脫肛者，不可認作氣虛，而用參、術，法當導滯清毒，導赤散（方見腹痛）去車前仁、淡竹葉，加玄參、連翹、黃連、當歸、牛蒡子、黃芩、枳殼、飛滑石、丹皮、升麻、酒蒸大黃等味。兼潮熱者，加鮮地骨皮治之。</p>
<p>謝璞齊曰：脫肛之症多見於將收、已收之後，蓋由毒火內迫，大腸枯燥，肺部受傷，不能傳送，致成裡急後重之症。而病者難忍，掙努催便，以冀稍松，致肛脫出不可忍，不可認作氣虛施治。治法總宜清熱解毒，導腸行滯，兼用升提之品。以導赤散之生地、木通、燈心，合玄參、連翹、黃連之解毒者，加當歸尾潤腸胃，破惡血而養新血；牛蒡子以消毒，枯黃芩瀉肺火，以涼肺血；枳殼以行氣滯，滑石各八分，通利六腑九竅，以蕩熱散濕；酒蒸大黃六分（原本用牽牛子，不妥）以除壅滯；丹皮四五分以開陷伏之邪，使之外散；升麻三五分以升散大腸、胃、膽三焦之火熱。如兼潮熱者，加鮮地骨皮二三錢治之。</p>
<p>麻後下蛔者，胃熱少食，蟲不能安而下也，但調飲食自愈。</p>
<p>痢兼嘔吐，噤口不食，或下鮮血，或下紫暗，或如癰膿如屋漏水、如雞肝色、如黑豆汁之類，兼之氣喘、躁渴、熱甚、呃逆，麻色紫暗者，皆不治症。</p>
<p><u>清熱導滯湯</u>　治熱毒郁陷腸胃，腹痛下痢。</p>
<p>黃連（酒炒）　檳榔　黃芩（酒炒）　白芍　枳殼　陳皮（各八分）　青皮（三分）　連翹殼　牛蒡子（炒。各八分）　楂肉　當歸　淡竹葉（各五分）　燈心（十根）　犀角（三分，磨汁）</p>
<p>水煎服。</p>
<p><u>白頭翁湯</u>　治熱痢下重。</p>
<p>白頭翁（一錢）　黃連（五分）　秦皮　防風（各八分）</p>
<p>水煎服。</p>
<p><u>枳殼湯</u>　治麻後食積下痢。</p>
<p>枳殼（炒）　陳皮　檳榔　焦楂肉　麥冬　木通（各等分）</p>
<p>水煎服。</p>
<p><u>四物湯</u>　治一切血虛，凡血症通用。</p>
<p>當歸（酒洗）　生地（酒洗，各一錢）　白芍（八分）　川芎（五分）</p>
<p>水煎服。</p>
<p><u>人參黃連黃芩乾薑湯</u>　治胃虛客熱，痞滿。</p>
<p>西黨參　黃芩（炒。各一錢）　黃連（酒炒）　乾薑（炮。各五分）</p>
<p>水煎服。</p>

<h2>便秘</h2>
<p>麻症大便秘者，由於胃火壅實，大腸津燥也。無論先後，皆非所宜，急宜清涼通潤之劑，以解胃家之困。苟遲延稍久，火盛逼血，麻變紫黑，焦枯，則難救矣。</p>
<p>初熱麻未出時，面色或青或紅，或唇紫，或煩躁，大便秘而不通者，以宣毒發表湯（方見驗麻）去葛根，加酒蒸大黃治之。大便一通，專用宣托以發出麻疹。</p>
<p>麻症收及收後，大便不通者，熱留於胃，須防喘，涼膈散主之（方見發不出）。</p>
<p>麻後便秘，發熱身痛者，熱陷表裡之間，樞機不利也，大柴胡湯主之。</p>
<p>麻後便秘腹痛，氣喘者，前胡、枳殼、葶藶子、酒蒸大黃治之。</p>
<p><u>大柴胡湯</u>　治表症未除，里症又急汗下，兼行用之。</p>
<p>北柴胡　黃芩　枳殼（各八分）　杏仁（去皮尖）　酒蒸大黃（各一錢）</p>
<p>水煎服。</p>

<h2>溺澀</h2>
<p>麻疹小便赤澀，胃家熱甚，迫於膀胱也；亦有肺部被燥，相傳失職，氣化不及州都也。前者實熱，後者虛熱。實熱每見於麻疹未出之先，虛熱則見於麻疹將收以後，不可不辨。</p>
<p>初熱麻將出時，小便赤澀者，宣毒發表湯（方見驗麻）倍木通，加燈心治之。</p>
<p>麻出正盛時熱甚，小便赤澀，譫語驚恐者，導赤散（方見腹痛）加飛辰砂治之。</p>
<p>小便不利而嘔吐者，木通、車前仁、赤茯苓、淡竹茹、枇杷葉、枳殼治之。</p>
<p>小便二三日不通者，導赤散（方見腹痛）加連翹、玄參、炒山梔、薄荷主之。</p>
<p>麻正收及收後，小便不通者，餘熱下匿膀胱，以導赤散（方見腹痛）去車前仁，加麥冬、玄參以導化之。小便仍不通暗合，必因大腸秘塞之故，法兼通利大便，再加當歸、枳殼、酒蒸大黃治之。大便一暢，小便自利。</p>

<h1>卷三</h1>

<h2>搐</h2>
<p>麻症發搐，為痰熱聚於心包，互相搏擊，一時血脈為痰熱所阻扼，失其常度，手足驚掣而目斜竄也。喉中痰鳴，方為真搐。見於初發熱及疹出未透時，俱無妨害。若已出、正沒之後，津血燥涸，宗筋焦縮，殊為難治。若搐無痰鳴，或自齧指者，非真搐也，乃正氣虛敗，不能主持，危矣。</p>
<p>初熱麻未透時而發搐者，治宜辛涼宣解，清熱透肌湯（方見形色）去杏仁，加瓜蔞仁、淡竹葉治之。</p>
<p>麻後發搐者，難治，惟宜清輕之劑調之，最忌金石鎮墜之藥，以導赤散（方見腹痛）加玄參、連翹、黃連、貝母、瓜蔞仁治之。痰邪壅甚，先以瓜蔞仁一味煎服，湧吐其痰，庚服前藥。</p>
<p>麻後渾身壯熱不除，未至羸瘦，但發搐掣、煩躁不寧者，熱犯心肝二經，以導赤散（方見腹痛）去車前仁，加當歸、麥冬、炒山梔、茯神、炒黃連、地骨皮、龍膽草治之。小便清長者吉。</p>

<h2>煩悶</h2>
<p>麻症煩悶，乃胃火阻郁，上逼包絡，心臟被熾，故煩悶不寧也。</p>
<p>煩渴便閉，致麻不出，最為危篤，宜新定蟬衣宣毒飲（方見不透表）加前胡、玄參、枳殼、黃芩、炒山梔等味，三服而麻即出。</p>
<p>久病之人，元氣虛弱，以致煩躁口渴，麻竟不收，血虛故也，以養陰清血湯（方見諸失血）去白茅根，加荊芥、川芎、薄荷、連翹治之。</p>

<h2>譫妄</h2>
<p>麻症譫妄言，乃熱邪熾盛，火壅包絡，心神擾亂，故顯此候。</p>
<p>初發熱而煩悶妄言，麻隱不出者，以宣毒發表湯（方見驗麻）去杏仁，加淡竹葉、燈心、飛辰砂、飛滑石治之。</p>
<p>發熱麻將出而譫妄者，火邪內伏，不得透表。仍宜辛涼疏托，宣毒發表湯（方見驗麻）去杏仁，加燈心、麥冬、赤茯苓、熟石膏、知母治之；甚則加蜜酒炙麻黃，以發越之。使麻盡透肌表，譫妄自止。</p>
<p>麻正收及收後譫語者，急宜白虎解毒湯（方見舌苔）去天花粉，加牛蒡子、連翹、木通、赤茯苓治之。</p>
<p>麻疹已出之後，狂言亂語者，以淡竹葉、燈心煎湯，沖飛辰砂、飛滑石治之。</p>
<p>麻收後，餘熱攻陷，循衣摸床，譫語神昏者，死症也。</p>

<h2>瘧疾</h2>
<p>麻疹初潮之時，有寒熱似瘧者，兼見咳嗽、噴嚏、眼淚汪汪等狀，察其確屬麻症。則其寒熱為邪熱，被寒拒於少陽經界，不得展越。法當宣表托疹，未可以治瘧之法治也。</p>
<p>麻出以後竟成瘧疾者，肺胃間並無餘毒。夫瘧之發也，必有痰。麻後之瘧，必肺胃虛而生痰。故治當滋益肺胃而化痰也，如小柴胡湯，正所宜用，不必拘泥。</p>
<p>麻症發熱，將出之時，寒熱似瘧者，邪郁肌表，宣毒發表湯主之（方見驗麻）。麻出盡時寒熱如瘧者，表裡未和諧也，新定柴胡清熱飲（方見發熱〕去生地、麥冬、知母、淡竹葉，加酒炒黃芩、赤茯苓、貝母治之。</p>
<p>麻後竟成瘧疾，治當健脾展胃，清涼和解，鱉甲飲主之。</p>
<p><u>鱉甲飲</u>　治麻後痰邪為瘧。</p>
<p>制鱉甲　楂肉　茯苓（各一錢）　炒苡米（錢半）　陳皮　白芍　貝母　葛根（各八分）　知母（六分）　北柴胡　淡竹葉（各五分）　炙甘草（三分）</p>
<p>水煎服。</p>
<p>不渴，去麥冬、知母；渴，加熟石膏。</p>

<h2>眼目</h2>
<p>麻疹初起，眼光如水而多眵淚，或白睛微紅，此正候也。小兒身發潮熱，雖咳嗽、噴嚏，如未兼見此象，不得誤認為麻症也。</p>
<p>麻毒入目生翳障者，以蟬蛻、白菊花治之。</p>
<p>熱毒上攻，眼目生翳，暴赤羞明者，以新定蟬衣宣毒飲（方見不透表）去牛蒡子、瓜蔞殼，加白菊花、木賊、炒梔、穀精草，白蒺藜、酒炒黃芩治之。</p>
<p>麻後餘毒不解，上攻眼目，紅赤腫閉，羞明怕日，雲翳眵淚多者，羚羊角散主之。</p>
<p>麻後眼眶赤爛，常流淚者，風熱所侵也，以新定柴胡清熱飲（方見發熱）去沙參、麥冬、知母，加防風、赤芍、荊芥、山梔、薄荷急治之，久則為終身痼疾。</p>
<p>麻後白睛紅赤者，肺經風熱未清，瀉白散加木通、荊芥、薄荷、連翹、玄參、牛蒡子治之。</p>
<p>麻後目閉不開，赤而腫痛者，脾肺兩經，風熱壅遏也，以導赤散（方見腹痛）和瀉白散，加玄參、連翹、酒炒黃連、荊芥、薄荷、牛蒡子治之。</p>
<p>麻後雀盲，日暮不能見物者，餘火上擾，肝陰之虧也，以六味地黃湯合四物湯（方見痢疾）加石決明、夜明砂治之。</p>
<p><u>羚羊角散</u>　治麻毒侵目，眼赤生翳。</p>
<p>羚羊角（磨汁）　炒黃芩　炒黃連　草決明　車前仁　防風　大黃（酒蒸）　連翹　牛蒡子（炒）　薄荷</p>
<p>水煎服。</p>
<p><u>瀉白散</u>　治肺熱咳嗽，手足心熱。</p>
<p>桑白皮（酒炒）　地骨皮（各三錢）　淡竹葉（十五片）</p>
<p>水煎服。</p>
<p><u>六味地黃湯</u>　治腎水，真陰不足。</p>
<p>熟地黃（一錢）　山茱萸（去核）　淮山藥（炒。各五分）　茯苓　丹皮　澤瀉（各七分）</p>
<p>水煎服。</p>

<h2>口舌</h2>
<p>麻疹之口瘡、舌珠、牙疳、唇裂諸象，雖有心脾肝肺之殊要，不外胃火之鬱蒸也。故治法當以清胃為主。胃熱宣化無餘，則心肝脾肺自然寧靜，口舌痛苦迎刃而解矣。</p>
<p>口氣臭穢，熱蘊於胃，以清味散主之。若口臭不堪接近者，胃敗不治。</p>
<p>口瘡之症，滿口唇舌生瘡，或黃，或赤，或白而爛，獨牙齦無恙者是也。此症多見於麻正收及收後，乃心脾胃三經蘊熱，毒壅上焦，二便秘澀，宜清心脾之火，兼導腸胃之閉，以導赤散（方見腹痛）加杏仁、酒蒸大黃治之。外以綠袍散塗之。</p>
<p>麻收之後，口瘡唇裂者，涼膈散主之（方見發不出）。</p>
<p>麻收之後，口臭、口瘡，唇爛，兼咽喉痛者，以清味散加酒炒黃芩、天花粉、玄參、金銀花、薄荷、黃柏、淡竹葉、犀角磨汁兌服。</p>
<p>唇燥多屬脾胃之熱，色淡而燥者，其熱輕，以化斑湯（方見夾斑）去葛根、枳實、大青、生地、竹葉，加牛蒡子治之。色赤而燥者，其熱重，白虎解毒湯（方見舌苔）加玄參、牛蒡、連翹、木通治之。色紫黑枯燥者，加犀角磨汁兌服。</p>
<p>唇舌破裂，心脾之火上衝也，色必深赤，初熱麻正出時見之，其症尚輕，藥宜辛涼宣化，化毒清表湯（方見透表）去防風、前胡，加石膏、荊芥治之。</p>
<p>麻正收及收後，唇舌破裂者，白虎解毒湯（方見舌苔）加黃柏，山豆根、木通治之。更兼紫黑枯燥，血色不活，為心脾俱絕，難治。</p>
<p>麻疹咬牙，例皆熱候，乃陽陷於陰，故手足熱而喜冷飲者，以犀角地黃湯（方見諸失血）去犀角，加當歸、麥冬治之。</p>
<p>咬牙手足逆冷、喜食熱物者，為熱邪內亢，後必下血、咽痛、痰鳴而死，白虎湯主之，然多不救。</p>
<p>麻出以後未曾服藥而咬牙者，實邪也，三味消毒飲（方見沒早）加玄參、地骨皮、石膏等味。屢服寒涼而咬牙者，氣血之傷也，四物湯（方見痢疾）加西黨參治之。</p>
<p>麻正收及收後，舌生白珠，粒粒如粟，甚則上齶齦頰皆有，蓋由心脾之熱無所泄而發於舌。夫舌乃心苗，而脾脈又絡於舌，故舌生白珠而痛也。涼血飲（方見形色）去荊芥、紅花、紫草，加石膏、黃連、麥冬治之。大便閉者，加酒蒸大黃。</p>
<p>上下牙齦腐爛，曰牙疳，其毒最重，症最危急。宜清胃涼血，佐以通利大便之劑，以清胃散加當歸、犀角、荊芥、薄荷、酒蒸大黃治之。外以慄根白皮煎湯漱洗；以救苦散塗患處十次，痊愈。</p>
<p>麻疹一出即收，毒反入里，致生牙疳、大熱譫語不食者，以化毒清表湯（方見透表）去前胡、防風，加生地、麥冬治之。另以生附子切片，貼手足心，以拔之。</p>
<p>麻後牙齦黑爛肉腐出血、呼吸穢氣逼人者，曰走馬牙疳。急用人中白（即尿桶白垢刮取），火煅如鹽五錢，加冰片五分研極細末，蜜調，頻塗患處；內服清胃散加葛根、玄參、荊芥、犀角磨汁兌服。俟症稍平，以四物湯（方見痢疾）加木通、山梔、山茵陳、犀角磨汁兌服，使血熱下行，則毒火不致上攻矣。</p>
<p>通齦白色者、自外延入內者、無膿血者、齒落口臭者、喘促痰鳴者、頰腫腮穿者、環口青黑者，皆不治症。</p>
<p><u>清胃散</u>　治胃中蘊熱，中脘作痛，寒熱，齒齦腫痛出血，痛引頭腦。</p>
<p>生地黃　連翹　石膏（各一錢）　丹皮　牛蒡子（炒。各八分）　黃連（五分）</p>
<p>水煎服。</p>
<p><u>白虎湯</u>　治胃火實熱，清肺經火邪，小便赤者宜之。</p>
<p>石膏（錢半）　知母（六分）　甘草（四分）　粳米（一撮）</p>
<p>水煎服。</p>
<p>明按：麻症本不宜用甘草，恐滯邪也，然病至四逆，喜食熱物，乃陽極似陰之狀。然咬牙暴露一線劇熱之機。胃氣原虛，不能鼓動其熱而展出也，故有下血、咽痛、痰鳴之險。急以白虎之石膏、知母直清肺胃，借甘草、粳米以救胃氣，不得已而用之也。</p>
<p><u>綠袍散</u>　治一切口瘡腐爛。</p>
<p>荊芥穗　薄荷葉　飛青黛（各三錢）　元明粉　硼砂（各二錢）　白藥煎（二錢五分）　甘草（一錢五分）</p>
<p>共研極細末點舌上，令其自化，或用新汲井水和蜜調，點舌上亦可。</p>
<p><u>救苦散</u>　治口瘡舌疳。</p>
<p>人中黃（煅，五錢）　寒水石（飛三錢）　青黛（五分）　殭蠶（炒）　黃柏　冰片（各一錢五分）　牛黃（二分）</p>
<p>共為細末，先以芽茶洗患處，然後以末搽上三五次，少愈，十次痊愈。</p>

<h2>咽喉</h2>
<p>咽喉痛為麻疹之常症，以咽喉為肺胃之大關也，麻從肺胃外出，火熱重者，上蒸咽系，多患喉嚨腫痛也。</p>
<p>初潮咽喉痛者，宣毒發表湯（方見驗麻）加射干、山豆根治之。外以苦參、殭蠶二味為末，吹喉二三次，即痛止腫消。</p>
<p>麻已出而咽痛者，射干消毒飲（方見喑）加蟬蛻、木通治之。</p>
<p>麻毒上攻，咽喉腫痛，身熱口渴等症，清肺降火湯（方見喘促）去貝母、瓜蔞、生地、杏仁、葶藶、玉蘇子，加知母、玄參、牛蒡子、防風、薄荷治之。</p>
<p>咽喉不利兼咳嗽者，射干消毒飲（方見喑）去荊芥、豆根，加麥冬、貝母治之。</p>

<h2>不食</h2>
<p>麻疹未透以前，熱毒赤胃，每多不能進食者，卻無妨礙，待其麻毒盡透，自然能食。不必強與之食，反傷胃氣也。</p>
<p>初熱麻正出時，不能食者，宣毒發表湯（方見驗麻）去扁豆衣、柿蒂，加炒黃芩、麥門冬治之。</p>
<p>麻收之後仍不能食，如精神委頓者，須防虛羸之患。當理脾養胃為主，新定益脾分消飲（方見渴）去葛根、大腹皮、天花粉、澤瀉，加炒薏米、當歸身、枇杷葉、白芍、川芎、炒陳米治之。</p>
<p>麻後身熱、煩渴不食、唇裂、眼腫閉、大便秘者，此為膈熱，涼膈散主之（方見發不出）。</p>
<p>麻後面青唇紫、身熱不食、或瀉或渴、或咳嗽者，毒火太重，黃連解毒湯（方見諸失血）加地骨皮、薄荷治之。</p>
<p>麻收後不思食、鼻乾無涕者，以新定培中湯（方見早沒）去苡米、茯苓、葛根、牛蒡子，加前胡、黃芩、竹茹治之。</p>
<p>麻收之後，貪食不厭者，胃火之盛也，症成中消。以解毒快疹湯（方見難沒）去葛根、枳殼、西河柳、犀角，加炒梔、飛滑石、車前仁、地骨皮、黃連、熟石膏、知母治之。</p>
<p>凡出麻後，胃氣未復，飲食不可驟進，宜稀粥緩調，使胃氣漸復，自無後患。若給葷腥、乾硬、甘酸等食物過早，變症蜂起，咬牙撕口、揎眼毛、看手咬人等狀態之發生，遂成胃氣虛敗矣。</p>

<h2>睡</h2>
<p>小兒麻症之睡有沉睡、昏睡兩種。沉睡者，嗜臥也，如精神不振、但欲寐是也；昏睡者，昏迷不知人事之睡，如大醉之狀也。沉睡，人事清白，為胃熱侵脾之症；昏睡，人事昏迷，為胃熱犯心之候。二者最當詳辨，庶幾臨證無訛也。</p>
<p>麻正出時，精神困倦，沉睡不醒者，為逆。蓋緣脾胃虧損，邪火內郁，正氣不勝也。宜養陰清血湯（方見諸失血）去白芍、茅根，加牛蒡、荊芥、連翹、薄荷治之。</p>
<p>麻正收及收後，能食而安靜沉睡者，為火毒退去，脾胃乃虛，而求息靜，此為順候。治當扶脾養血為要，以四物湯（方見痢疾）加苡米、茯苓治之。</p>
<p>昏睡不知起止，掐其頰車、合谷而不知痛，似寐非寐，無問正出、正收，良非吉兆，當察兼見他症而施治也。</p>
<p>麻收後煩擾不寐者，餘火復燃，急需滋陰養血，虛陽自斂。以養陰清血湯（方見諸失血）去茅根，加金釵石斛、茯苓、貝母、淡竹葉、生棗仁治之。</p>

<h2>身冷</h2>
<p>麻之為病，肺胃主之。其初潮時，則從頭部先熱，然後至足，其足自熱，斯無慮也。若上身疹已透齊，足尚不溫，一面服宣毒透疹之劑，勿使早收；一面以胡荽煎水，或西河柳煎水，蒸洗足部，以苧麻蘸水搽之，足溫疹出較快。若麻已出齊，通體溫和如一，則佳。足尚冷者，或初出時腰以下不熱，疹出旋收者，真元不足，皆為惡候。急宜溫養脾腎，間有得生者，以熟地、當歸、白芍、連翹、牛蒡子、炙甘草治之。若身體反冷如冰者，無論初出、已出，大逆不治。</p>

<h2>虛羸</h2>
<p>麻患即平，身熱漸退，斯為良耳。若身熱不除，精神倦怠，飲食減少，或咳嗽不已，或便瀉無度，形體羸瘦，毛髮焦豎，真元虧損，恐成疳疾。如不早圖，以致睡則露睛、厥逆、瘛瘲，成為慢脾，不救者矣，柴胡四物湯主之。</p>
<p><u>柴胡四物湯</u>　治麻疹收後，發熱不退，毛焦肉削。</p>
<p>北柴胡（八分）　西黨參　當歸身　白芍　生地黃　地骨皮　枇杷葉（去毛）　麥門冬（各一錢）　川芎（五分）　金釵石斛（一錢五分）　鮮桑葉（三片）　炙甘草（四分）</p>
<p>水煎服。咳嗽，加貝母、沙參各一錢；泄瀉，加茯苓、山藥各一錢；食穀不化，加生穀芽一錢，廣陳皮五分，緩緩調治，以冀成功。</p>
<p>明按：此方余所改定者也，以枇杷葉、石斛、甘草三味易古方中之黃芩、知母、淡竹葉，正以陰血滋肺胃，轉樞清熱，純而不雜。喻嘉言於清燥救肺湯中，且避天冬、知母之味苦不用，況麻後肺胃燥涸，至毛焦肉削之時，更投黃芩、知母苦寒傷胃者乎！胃為肺之母，胃陰再劫，肺氣何以資生乎？淡竹葉亦因偏涼免去，故不若枇杷葉、石斛、炙甘草甘平佐治，庶克有濟。</p>

<h2>婦人麻疹</h2>
<p>婦女之血及月而虧，蓋其血常不足也。若病帶、漏、血崩，亦足以損其血。故治婦女之疾，養血為要。結縭以後，胎前需血護胎，產後血舍空虛，可說一生為血虛也。麻疹一證，乃胃熱鬱蒸血液，布為疹子，全由血分受病。夫婦女之血既不足，復感受麻症，最當注意其血之耗、其邪之陷，而變生危殆者也。</p>
<p>女子十四而天癸至。有出麻者，發熱之時，經水忽來，卻非正經之期，乃毒火蘊逼胞宮，迫血妄行，故經汛不依時下也。當清血宣毒，須經止疹透始佳，涼血飲（方見形色）去紫草、木通，加薄荷治之。</p>
<p>妊娠出麻，患之最險。當初熱未出時，須察其熱之輕重；正出之際，須驗其色之紅淡。疏解中佐以清血安胎，不可犯胎損氣，致邪內陷，宣毒發表湯（方見驗麻）去枳殼、杏仁、浙貝、木通，加黃芩、當歸、生地、玄參治之。</p>
<p>妊娠麻後，法當養血清胎，四物湯（方見痢疾）加荊芥、牛蒡子治之。</p>
<p>孕婦出麻熱甚，以致小產，不問麻疹現否，急當去瘀清熱，自獲奇效。四物湯（方見痢疾）加生蒲黃、炒蒲黃、牛旁、黃芩、連翹、焦山梔、荊芥治之。</p>

<h1>卷四</h1>

<h2>麻疹三法概說</h2>
<p>麻疹未出，謂之初期，症見乍涼乍熱、潮熱、咳嗽、噴嚏、鼻流清涕、眼淚汪汪、或嘔或瀉，毒蘊肺胃，漸欲外布。當遂其性而發越之，使其邪熱由胃而肺、而血脈、而肌膚，盡透於表，通體現疹。初期治法，宜用辛輕宣展，宣毒發表湯是也。</p>
<p>麻出正盛，謂之中期，毒火集肺，胸中灼熱如爐，目赤鼻乾、口渴唇焦、壯熱不退、呼吸促粗、二便秘澀，甚則驚搐狀者，疹未盡透，仍須宣托。麻既出齊，當從清解辛苦進，始無偏弊，輕則清熱透肌湯，重則化毒清表湯之類是也。</p>
<p>麻疹收後，謂之末期，肺胃被燥，精液耗損，每多餘熱不清，咳嗽而煩。若餘毒未盡，上攻則為牙疳、為喘，下攻則為便血、為痢疾。久之邪陷陰傷，皮焦肉削，竟成虛羸、疳疾者。養血滋津，乃為上策，清咽滋肺湯、新定柴胡清熱飲之類是也。</p>
<p>三期治法，概義闡明，臨診變通，全仗心巧。初期麻尚未出，切忌黃芩、白芍、石膏、黃連……一切酸鹹苦降等味，恐抑疹不出也。二期麻出正盛，胸肺之部，如火燎灼，當禁甘寒滋膩，如麥冬、生地等品，以阻滯邪熱發展；疹未透齊，石膏、黃連亦須慎投，宜以辛苦清涼並進，如荊芥、防風、黃芩、山梔、連翹、牛蒡、薄荷、元參之類，允為合度。三期麻既收後，肺胃焦舉，則不宜於辛苦，更傷陰液，生地、白芍、玄參、麥冬、石斛、地骨皮都登要品，而防、芩、連又當藏之藥籠中也。</p>
<p>明按：三法亦可約為兩大法，視麻疹出齊為標準，未齊之先宣毒托疹，既齊之後清胃滋肺，更簡而易明者也。</p>

<h2>麻疹禁用升麻桔梗甘草人中黃論</h2>
<p>麻疹禁用之藥多矣：發散如桂枝、細辛，攻下如芒硝、牽牛，補如黃耆、白朮，溫如附子、乾薑，皆為麻疹所忌。而獨以升麻、桔梗、甘草、人中黃四味，提為首禁，何也？曰：麻疹禁藥雖多，而人知之而不敢用。唯此四味則隨筆揮來，以為升麻托疹，桔梗宣肺，甘草、人中黃俱能解毒，放膽用之，每致麻出忽沒，疹變紫黑，喘促煩亂而無救者。醫者反復思之，莫得其解，且曰：升麻葛根湯，古人用以發麻者，何用之證倏變逆耶？曷知升麻葛根湯，古人專為托痘所立之方。夫麻屬陽邪，鬱蒸肺胃，性喜發越。方中白芍之斂、甘草之滯皆足以閉麻出路；再得升麻以陽濟陽，如火添薪，邪熱頓熾，喘逆立至。</p>
<p>不特此也，在麻疹初出及正盛時，桔梗舟楫之劑，引諸藥上至高之分，亦當知所禁也。余曾見一孩患麻，身熱鼻乾，咳嗽氣促，一醫於清解中雜用桔梗，甫進二匙，頃刻喘急。余命去之，加瓜蔞仁、枇杷葉於內，喘促遂平。足見桔梗能載引濁邪壅肺，非但升麻當慎也。</p>
<p>甘草味甘，甘者緩也，麻毒鬱於肺胃，宜用宣發，邪熱透盡，自無遺患，最忌味甘性緩之藥，阻遏其邪，不得外越。醫者以甘草為九土之精，能解百毒，麻疹亦毒，正可用以解之。</p>
<p>更有用人中黃以解麻毒者。殊知甘草浸於溷廁中，取以為藥，其氣臭穢。麻疹欲出時宜焚一炷香，使芳馥之氣由鼻中以達於肺，引出其邪。昔人指麻有神，勸病家潔室焚香，既是此義。若投甘草之緩，反致阻邪難出，更投以人中黃之穢，未有不毒反內逼而增劇變者。余嘗親見麻疹出極順，服甘草、人中黃，其疹忽收，喘急而死。嗚呼，誠可慨也！深望同道者知此四味於麻症中所當切戒矣。</p>

<h2>麻疹正出慎用黃連石膏論</h2>
<p>黃連大苦大寒，直瀉心胃之火；石膏味辛大寒，極清肺胃之熱，二者皆陰行降令者也。麻屬陽邪，固宜陰以制之。然毒火內蘊肺胃之時，鬱蒸其血，法當辛輕疏托，由胃而肺而血液，化為疹子出於皮膚，邪自解矣。方麻疹出時，症見身熱息粗、鼻乾唇紅，純是熱象。此時辛涼宣展未可鬆放。昧者只知其熱，遂忘其疹，黃連、石膏肆用無忌。如疹化十分之七，經此大寒阻截，麻後或喘、或瀉，延綿難愈；如疹化十分之三，經此大寒阻截，毒火不得發越，反攻肺胃，即見危亡。不但黃連、石膏二味，即鮮石斛、麥冬、生地、玉竹，一切甘滋之品，在麻疹未透齊以前，皆宜慎用，恐阻邪毒開瀉之路也。曩者鄉先輩石椿山先生，嘗謂余曰：麻疹未出之先，甘寒亦能殺人。至哉斯言！況大寒極降，如黃連、石膏者乎？</p>
<p>明按：麻出盛時，壯熱口渴，似乎有非石膏不可者，宜煅熟用之。喻氏云：熟石膏稟清肅之氣，極清肺熱，卻無大寒迫毒不出之弊，至穩至當。果察疹已出齊，肺胃火淫，譫渴躁擾，舌苔黃黑，情勢萬急，則白虎解毒湯之石膏、黃連又不宜惜而不用也。麻沒後數日，若顯此狀，肺胃陰液竭涸，急應大劑甘涼滋濟，誤投石膏、黃連，死在反掌間矣。麻症宜用石膏者頗多，宜用黃連者極少，何也？石膏辛涼，尚含發散之義；黃連極苦極降，違反麻之本性，余不輕用此藥。然遇麻出正盛時，偶兼嘔吐、吐蛔等狀者，則以酒炒黃連三幾分佐之，每獲特效。總之，醫師臨診識症議藥，不可先有成見，橫拒胸中也。</p>

<h2>嬰孩未滿三歲麻後乳哺極關重要</h2>
<p>麻疹發於胃，出於肺，鬱蒸血液，散布皮膚。其症之作也，通體內外如火焚灼。迨疹已出透，胃之干也，肺之燥也，血液之耗也，皮膚之焦也，在在表現津血不足以榮養。嬰孩臟腑嫩脆，肌肉薄弱，若不濟以濡養，俾早恢復常態，則其肺胃日枯，肌肉日瘦，便成疳疾虛羸矣。濡養維何？飯耶，魚耶、豚耶、雞耶？皆非也。嬰孩脾胃消化之機能未充，飲食有節，方少受病。麻症後胃陰既傷，乾飯硬菜尤不宜於入口，以致呆化胃機，製造積病，宜啜稀粥以養之。魚豚雞具屬葷膩食品，大人脾胃弱者食之，尚虞吐瀉腹脹之疾，何況嬰孩病後耶？不特此類，即甜酸太鹹之味，皆當禁戒，免其阻滯肺胃機能，而纏綿疾苦也。然則何以濡養？曰：乳哺為嬰孩唯一之滋養素。李士材曰：乳乃血化，生於脾胃，攝於沖、任。未孕，則下為月汛；既孕，則留為養胎；產後變赤為白，上為乳汁。此造化玄微之妙，卻病延年之品。且味甘性平，適合嬰孩嬌嫩之脾胃，故襁褓中得以資生者也。嬰孩未滿三歲，雖經斷乳，在麻症以後，津血損涸，肺胃枯燥，得乳者而復原快，不得乳者恢復則難；體氣較虛者，立見疳羸不起。欲謀恢復常態之速者，乳汁哺養極關重要，未可忽視也。</p>

<h2>醫案六則</h2>
<p><u>麻出不透表一案</u></p>
<p>九江八角市許宅附戶，王氏一孩，南昌人，四歲，頭身發熱，四肢不溫，已六七日，皮膚乾澀，無汗。延余治之，察其乾咳，息促，眼淚汪汪，鼻流清涕，斷為麻疹未透。擬用：</p>
<p>葛根（一錢五分）　蟬蛻（一錢）　象貝母（一錢）　廣橘紅（八分）　木通（八分）　荊芥穗（一錢）　杏仁（一錢二分）　枳殼（一錢）　牛蒡子（一錢）　連翹（一錢）　薄荷（四分）　防風（一錢）　前胡（一錢）</p>
<p>煎服一劑，額頰鼻旁，寥寥數點，隱伏膚內，汗仍不出，是麻無疑。但表汗不徹，殊為可慮。再擬：</p>
<p>蘇葉（八分）　防風（一錢）　牛蒡子（一錢）　連翹（一錢）　薄荷（四分）　杏仁（一錢二分）　葛根（一錢）　枳殼（一錢）　木通（八分）　香蔥白（二錢）　荊芥（一錢）　前胡（一錢）　象貝母（一錢）</p>
<p>再服一劑，胸背亦微現疹，其色焦紅，面部疹子漸沒，四肢漸涼，身仍無汗，小兒精神亦疲，父母驚憂甚。後延蔣以莊至，主張用石膏、梔子、黃連，以為熱伏太深，如不急清，恐有他變。余曰：表寒閉拒，邪熱不得發越，若遂投大苦寒藥，恐增劇也。是時無新鮮胡荽，令多購胡荽子煎酒，苧麻蘸擦遍體，覆蓋薄褥一面。擬定：</p>
<p>蘇葉（一錢）　防風（一錢）　牛蒡子（一錢）　蟬蛻衣（一錢）　香蔥白（二莖）　杏仁（一錢五分）　葛根（一錢）　枳殼（一錢）　荊芥（一錢）　前胡（一錢）　連翹（一錢）　胡荽子（一錢五分）　薄荷（四分）</p>
<p>煎成與服，一時許，胸背漿漿汗出，四肢轉溫，頭面胸背疹子漸透，皮表色仍赤暗，知為鬱閉日久，血被焦灼。復定：</p>
<p>蘇葉（八分）　杏仁（一錢）　連翹（一錢）　京赤芍（八分）　炒黃芩（八分）　枳殼（八分）　木通（一錢）　粉丹皮（一錢）　薄荷（四分）　防風（八分）　前胡（八分）　牛蒡子（一錢）</p>
<p>一劑，麻色紅潤，手足現疹，血已活矣。方中去蘇葉，加玄參一錢，連服二劑，疹化熱清而安。</p>

<h3>麻疹焦赤發搐一案</h3>
<p>湖口人，吳姓小兒，住丁官路，春初患麻，兒科張醫治之，疹出不透，隱隱焦赤，忽發搐搦，鼻乾息促。急迎至房中，窗戶俱閉，身著重棉，裹厚褥，檀香堆焚案上，榻旁置一紅爐，滿室熏煙之氣，余見而訝之曰：不須病死，快欲閉死。命速去紅爐，啟窗牖，派人撈鮮浮萍一碗，揀淨煎水，頻頻灌服。甫半小時，胸背漿漿汗出，搐搦漸止，庚服後藥。方定：</p>
<p>荊芥（八分）　玄參（一錢）　丹皮（八分）　炒黃芩（八分）　木通（八分）　防風（八分）　連翹（八分）　炒山梔（八分）　象貝母（一錢）　蟬蛻（八分）　前胡（八分）　牛蒡子（八分）　薄荷葉（四分）</p>
<p>服一劑而疹透，色轉紅潤；再劑，頭身疹子漸沒，身熱漸退，數日而痊。當時若不急以浮萍，辛涼透發，以啟膚腠之熱閉，則迂緩難救矣。</p>

<h3>麻出嘔逆沉睡一案</h3>
<p>殷松亭，鎮江人，有孫甫周歲，麻已出齊，嘔吐不食，目合沉睡已三日矣。兒母坐視涕泣，乃延余治。細推指紋尚活，大便未閉，認為胃家虛熱，方議：</p>
<p>荊芥（六分）　廣陳皮（六分）　牛蒡子（八分）　炒黃芩（六分）　枇杷葉（一錢）　藿香葉（五分）　薄荷（三分）　淡竹茹（八分）　金釵石斛（一錢）　連翹（八分）　瓜蔞殼（八分）</p>
<p>甫進一劑，吐止目開；再劑，息勻受乳矣。</p>

<h3>麻出壯熱喘急一案</h3>
<p>同鄉程金山住汙時，其養媳年十一，麻疹盡出，喘急鼻煽，胸高，壯熱口渴，情勢極險。首至高寓乞診，高凌雲兄望之，不敢議藥；登車急馳金山，復奔余寓求救。按脈搏洪數，唇舌俱焦，口氣極穢。余曰：邪火內逼，肺脹胃熾，頃刻肺胃焦腐矣。姑擬清胃救肺，以幸萬一。</p>
<p>生石膏（三錢）　炒山梔（二錢）　桑白皮（一錢五分）　川貝母（一錢五分）　瓜蔞仁（三錢）　連翹（二錢）　知母（一錢五分）　葶藶子（炒一錢）　杏仁（二錢）　玄參（二錢）　牛蒡子（炒，一錢五分）</p>
<p>一劑喘急頓平，再劑霍然而起，誠意料所不及矣。</p>

<h3>麻後咳血虛羸一案</h3>
<p>九江丁季相之女，八歲，麻後咳嗽，家人不甚注意。遷延匝月，咳嗽益劇，痰膿帶血，息促頸脹，午熱顴紅，皮焦爪枯，肌肉盡脫，食納大壞，狀若癆瘵。始迎余治，脈來濡疾，唇舌焦赤，肺胃燥火內燔，胃陰被劫，肺葉焦舉，法當益胃滋肺。方用：</p>
<p>生地黃（一錢五分）　麥門冬（一錢五分）　瓜蔞仁（一錢五分）　牛蒡子（一錢）　鮮桑葉（一錢五分）　地骨皮（一錢五分）　北沙參（一錢五分）　枇杷葉（一錢五分）　前胡（八分）　知母（一錢）　川貝母（一錢五分）　北柴胡（一錢）　金釵石斛（一錢五分）</p>
<p>連服四帖，神氣少佳，咳熱較減，確由肺胃虛燥，再擬滋化法。</p>
<p>生地黃（一錢五分）　麥門冬（一錢五分）　瓜蔞仁（一錢五分）　炙紫菀（一錢）　鮮桑葉（一錢五分）　地骨皮（一錢五分）　北沙參（一錢五分）　枇杷葉（一錢五分）　知母（八分）　漂百合（一錢二分）　川貝母（一錢五分）　北柴胡（八分）　金釵石斛（一錢五分）</p>
<p>再服兩帖，食納漸進，痰內無血。余覺肺胃稍振，當從事滋益陰血，乃定：</p>
<p>生地黃（一錢五分）　地骨皮（一錢五分）　北沙參（一錢五分）　金釵石斛（一錢五分）　漂百合（一錢）　當歸身（一錢五分）　北柴胡（八分）　川貝母（一錢）　炙紫菀（一錢）　鮮桑葉（三片）　白芍（一錢）　麥門冬（一錢五分）　枇杷葉（一錢五分）</p>
<p>更進兩帖，身熱全退，脈搏不疾，唯夜寐咳少密，口少干耳，其氣液之虛可知。緣議氣液雙進法。</p>
<p>生地黃（一錢五分）　西黨參（米炒，一錢五分）　麥門冬（一錢五分）　枇杷葉（一錢五分）　北沙參（一錢五分）　當歸身（一錢五分）　漂於術（一錢）　金釵石斛（一錢五分）　地骨皮（一錢）　鮮桑葉（三片）　白芍（一錢）　茯苓（一錢）　川貝母（一錢）</p>
<p>續服兩帖，諸象盡釋，僅微咳耳。因察燥火無餘，堪圖補益。</p>
<p>炙黃耆（一錢）　當歸身（一錢五分）　川芎（五分）　金釵石斛（一錢五分）　枇杷葉（一錢五分）　西黨參（一錢五分）　白芍（一錢）　麥門冬（一錢）　川貝母（一錢）　炙甘草（三分）　漂於術（八分）　茯苓（一錢）　地骨皮（一錢）</p>
<p>善後之方，約附數帖，半月即恢復康健矣。</p>

<h3>麻後喘逼復熱一案</h3>
<p>新化梓木沖吳信安令郎，甫二歲，麻疹沒後，病勢危篤，舉室惶亂。乃舅魏定光君，因事適經該處，見狀急修函專輿迎治。比至，壯熱喘急，鼻扇頭搖，鼻孔掀黑如煤，以手撕胸，面色青暗，指紋青黑，推之不動。檢視前方，大都白虎解毒湯意。余曰：麻未透盡，餘毒陷肺，而肺部告急也。姑擬救肺宣毒之劑，何如：</p>
<p>荊芥（八分）　南沙參（一錢五分）　前胡（一錢五分）　連翹（一錢五分）　鮮桑葉（一錢五分）　瓜蔞仁皮（各一錢五分）　炒山梔（八分）　川浙貝母（各一錢）　地骨皮（一錢二分）　枇杷葉（一錢五分）　杏仁（一錢）　炒山梔（八分）</p>
<p>連服二劑，至夜躁亂不寧之狀略減，翌晨喘逼亦較緩。迨午後喘熱忽增，家人環視啜泣。乃戚鄧仲榕君，草擬電告邵陽吳君處，謂病已入絕境，然持以鎮靜嘀余。再擬：</p>
<p>荊芥（八分）　南沙參（一錢五分）　前胡（八分）　玄參（一錢五分）　地骨皮（一錢二分）　鮮桑葉（一錢五分）　瓜蔞仁皮（各一錢五分）　炒枯芩（八分）　牛蒡子（炒，八分）　連翹（一錢二分）　枇杷葉（一錢五分）　杏仁（一錢）　川貝母（一錢）</p>
<p>復進二劑，至三日晨，噴嚏兩次，稍能吮乳。餘日：肺漸清展，似可脫險。三擬：</p>
<p>荊芥（六分）　南沙參（一錢五分）　前胡（八分）　玄參（一錢五分）　地骨皮（一錢二分）　鮮桑葉（一錢五分）　瓜蔞仁皮各（一錢五分）　麥門冬（一錢）　牛蒡子（炒，八分）　連翹（一錢）　杏仁（一錢）　枇杷葉（一錢五分）　川貝母（一錢五分）</p>
<p>日夜更進兩劑。第四日晨，鼻內似來清涕，喘逼大減。旋在城擬去一方：</p>
<p>荊芥（六分）　枇杷葉（一錢五分）　瓜蔞皮（一錢五分）　麥門冬（一錢二分）　玄參（一錢五分）　地骨皮（一錢二分）　鮮桑葉（一錢五分）　南沙參（一錢五分）　杏仁（一錢）　牛蒡子（炒，八分）　川貝母（一錢二分）　連翹（一錢）　淡竹葉（十片）</p>
<p>續服二劑，喘熱俱平，此餘下鄉三次所收之效果也。半月後風、油不禁，餘熱復還，又發壯熱口渴，二便閉澀，鄉間所服疏解劑不應。聞余不暇下鄉，遂來成城就診，察指紋浮露，膚澀唇焦，知為肺胃虛燥，發當滋益。議用：</p>
<p>生地黃（一錢五分）　川貝母（一錢二分）　鮮桑葉（一錢五分）　連翹（一錢二分）　北柴胡（八分）　玄參（一錢五分）　地骨皮（一錢五分）　枇杷葉（一錢五分）　瓜蔞仁（一錢五分）　麥門冬（一錢五分）　知母（八分）　淡竹葉（十片）　南沙參（一錢五分）　天花粉（一錢）</p>
<p>有鄧醫者亦吳戚也，極贊余之治法，唯對用藥方面似嫌生地之滯、柴胡之升。余笑曰：柴胡雖升，得生地而有制；生地雖有滯，得柴胡而不凝。且相攜以成轉樞退熱之功。鄧醫唯唯。約服三劑，熱清渴減。鄧醫復謂余曰：熱既清矣，生地、柴胡可除否？余知鄧醫深疑二味，暫屏之。煎服一次，熱渴復作，鄧醫始信余言之不謬也。余乃擬：</p>
<p>生地黃（一錢五分）　川貝母（一錢二分）　鮮桑葉（一錢五分）　天花粉（一錢）　當歸身（一錢）　北柴胡（八分）　地骨皮（一錢五分）　枇杷葉（一錢五分）　玄參（一錢五分）　淡竹葉（十片）　瓜蔞仁（一錢五分）　麥門冬（一錢五分）　南沙參（一錢五分）　金釵石斛（一錢五分）</p>
<p>鄧醫又阻之曰：當歸恐驟補矣。余復順其意，以白芍易之。連投兩劑，熱渴俱平，遂專滋肺胃。方定：</p>
<p>生地黃（一錢五分）　玄參（一錢五分）　瓜蔞皮（一錢五分）　北沙參（一錢五分）　馬兜鈴（一錢）　當歸身（一錢）　金釵石斛（一錢五分）　地骨皮（一錢五分）　枇杷葉（一錢五分）　淡竹葉（十片）　白芍（一錢）　麥門冬（一錢五分）　鮮桑葉（一錢五分）　川貝母（一錢）</p>
<p>鄧醫仍有懷疑當歸意。余曰：陰涸已極，早欲投之，此時猶畏，尚待何時？鄧醫聞余語氣，確有把握，為之心折。於是庚服數劑，形神俱旺矣。</p>

<h1>補遺</h1>

<h2>「麻疹不再出」釋義</h2>
<p>《麻疹專論》印行，讀者難之，曰：君言：麻疹受病於天時不正之氣，從口鼻中吸收進去，蘊蓄肺胃兩部分，乘陽氣鼓動的機會，暴發出來，系流行病之一種。何以一經出麻之兒，不至再出，其天時不正之氣不復從口鼻吸入耶？何以有一二歲而發，三五歲而發，八九歲而發，十餘歲而發，且有二三十歲乃發者，其不正之氣蘊蓄肺胃，久暫相殊，若是耶？</p>
<p>余曰：此問最為得要，足以發余之遺忘也。《骨髓賦》有云：麻雖胎毒，多帶時行。昔人又謂：麻乃少陰君火，陰道常乏，故麻小而碎密。夫嬰兒墮地以具斯毒，其毒潛伏血液，隨血循環。少陰者，心也，心主血，麻毒涵混血內，故亦為心臟之所主。試閱本書預解麻毒之消毒保嬰丹中，生地、當歸、赤芍防護其血，辰砂寧靜其心，正以麻毒活動心血可知矣。不過未遇天時不正之氣相感召，不會發生出來。若不正之氣，吸蘊余胃，胃為多血多氣之腑，一旦暴發，勢必侵激血液之伏毒，充斥表裡，蒸肺布疹。譬如電臺廣播，有收音機者始能響應，亦即磁鐵珀芥同氣相召之理也。小兒麻疹既經宣發無餘，以後血清無毒，自然不再發生疹子。然而傳染時行病氣，蘊蓄肺胃，殆不可免。所以小兒每感天時不正之氣，發熱咳嗽、噴嚏流涕，一如出麻，但不復現疹子，此之謂風溫，不似血潛胎毒症，有定期也。至於周年半歲，或數歲，或十餘歲而發者，又當視兒潛伏胎毒之輕重，血液制力之強弱而發生，或遲或早。更有二三十歲出麻之人，血氣方剛，生陽最旺，蓋其毒久被血之壓抑，不甘終伏，於是乘機暴動，症之險重，尤甚於小兒。小兒質嬌臟脆，毒易發越，大人火淫腠密，或因情欲傷身，飛焰無窮，池澤盡竭，其危機不大歟？然陰固麻順者，又當別論。</p>

<h1>附錄</h1>

<h2>答友人秋傷於燥之疑問</h2>
<p>老聰應診方暇，客有同道劉君過訪。坐間，述其治一婦人，年甫二十，病咳嗽，脈來彈指，胸脹口乾，咳則頭汗出，目如脫。余遵喻嘉言秋傷於燥之旨，屢以清燥救肺法進退投之，而病反劇，痰中帶血，其理何居？老聰笑曰：此君盡信書之過也。夫燥者，秋令之主氣也，肺所司也，安得為病？《內經》：春傷於風，夏生餐瀉；夏傷於暑，秋必痎瘧；秋傷於濕，冬生咳嗽；冬傷於寒，春必病溫。喻氏改：夏傷於暑，長夏傷於濕，秋必痎瘧；秋傷乾燥，冬生咳嗽。以六氣分配四時，於理極合。然承襲東垣清肅之氣為濕所傷，秋令不及，所勝妄行，故火得以炎上而剋金，心火刑肺，肺氣逆而為咳之說，遂謂冬月之咳嗽，悉由秋令之燥火。故其所制清燥救肺湯，誤燥為病氣，專取甘寒潤肺，壅滯嬌臟。若夾一絲客邪於肺部，此法一行，則邪結窠囊，必轉肺癆而死。要知燥本秋令之主氣，或風、或寒、或火、或濕之客邪，當秋而傷燥令，必然影響本臟受病也。殆冬令移權於腎，本臟無有保障，則伏機漸起，咳嗽並作。譬如人之政權在握，未敢輕議，及至交卸，則平日處事之錯，定有指責也。故仲景小青龍湯為治咳嗽主方，其能驅散客邪，開合肺氣，所以為經。君今所治，無非謂其胸脹口乾，脈來彈指，以為秋燥害肺，同室抄戈，遵用清燥救肺法。殊知其所表現之病象，俱是濕邪傷害燥令。歷代名醫皆以《內經》春傷於風，夏傷於暑，秋傷於濕，冬傷於寒。為春令傷風、夏令傷暑、秋令傷濕、冬令傷寒，隨文順釋，不加詳究。試思春果傷風，當病頭痛發熱，惡風自汗，奚待夏生飧瀉哉？夏果傷濕則應病濕熱，冬果傷寒則病傷寒，又奚必待秋而為痎瘧，待春而為溫病哉？即舉溫病一端，多生於膏粱之家，以其紅爐暖閣，醉而入房，內藏發露，溫邪竊入，傷殘寒水之本氣。冬令失權，溫病乃發，與秋傷於燥同一理也。劉君復問：君所言誠是，然則有秋燥傷肺而咳嗽者乎？老聰應之曰：有此燥令太過，本臟自病，為內傷，絕非秋傷於燥、冬生咳嗽之例。虛虛實實，尤宜分別辨之。劉君唯唯。</p>

<h2>預測瘟疫病之盛行</h2>
<p>（見九江《民國日報》專欄二十四年）</p>
<p>甲戊冬令失權，當寒而溫，冰雪不見，九天之陽入地不深。迨春木升時，火胎於內，隨之而升，故人多溫病。經曰「冬傷於寒，春必病溫」是也。歷代醫家釋為冬月受寒淺矣，不知經言「春氣溫和，夏氣暑熱，秋氣清涼，冬氣冷冽」為四時正氣之序。是則「冬傷於寒」為或風、或火、或燥、或濕之客邪，傷犯寒水之令，可知矣。故冬月冰雪愈嚴，則井泉愈暖，坎中之陽氣能潛，春木之本源必厚，人無夭扎，物無疵癘。反此則為逆冬氣，翌年草木必華而易萎，禾稻必秀而不實，斷斷然也。人稟天地四序之氣以生存，感此浮薄、時行之逆氣，又焉得而不病？</p>
<p>夫瘟疫之發，斷在夏初，盛於長夏。初起頭痛如劈，面赤如醉，即其候也。三五日內，輕則衄血，重則發斑，遍體如蚊跡，目赤譫妄，下利頻作，最為危篤。其邪始終胎於肝木，蘊於胃土。其發也，首先害肺，次傳心包，乘春之升，交夏，得勢內外，合邪燔灼無忌，濁氣流行，傳染必盛。或曰夏月病人當多，如君所言，得非投機之語耶？老聰笑曰：夏月病多時感（如霍亂、痢疾等）。症余所云者，《傷寒論》：無暴大寒，又不冰雪，而有人壯熱為病，此屬春時陽氣，發於冬時，伏寒變為溫病，是以一歲之中長幼之病多相似者，則時行之氣也。一段而預測之。若謂不然，試觀小兒麻疹，盛行於冬至以後。蓋小兒體質柔脆，陽熱之氣內蘊，外裹重棉，圍火爐，所以一觸即發，勢不可遏，木未升而火先升，不待行春之令也。苟治法失宜，夭殤立至。此皆陽氣入地不深，坎中不滿，邪發胃而犯肺，故其表現症候多關肺胃也。大人體氣堅而榮衛密，火鬱不易暴發，必藉春木之升以升，火令得勢之時而病乃作，其傳染之廣，危機之大，未可與時感等症同日而語。</p>
<p>預防之法，首重節欲。夫既陽氣不潛，陰精復耗，腎失閉蟄封藏之職，更易吸引其邪，為害尤烈，譬如失慎之家無儲水以熄其焰，立見燎原之禍矣。次重清潔。蓋冬無冰雪之年，積水易生蟲垢穢濁，尤易觸鼻。同類相招，誠傳染瘟疫之媒介，譬諸火藥盈庫，一燃即發也。至於慎起居，節飲食，尤屬生活中常宜注意者。經曰：必先歲氣，無伐天和。老聰誠味乎斯言，遂於應診之暇表而出之。</p>

<h2>腦膜炎與盲腸炎之認識</h2>
<p>（見九江《民國日報》專欄二十四年）</p>
<p>余自渡江懸壺應診以來，屢承潯江人士，或以「腦膜炎」為何等病、應如何救治為問，或以「盲腸炎」為何等症、應如何診斷為問。</p>
<p>余初不知何謂「腦膜炎」、何謂「盲腸炎」。去年秋，有本埠蔣氏子，腹痛裡急，腰脊傴僂，情甚迫切，求治於余。其父告以：曾至生命活水醫院診斷為盲腸炎，盲腸脹爛，非施行手術割治其腸，別無辦法。但施用手術時，必須親屬簽字，雖死不能歸咎於該醫院。余因懼治術之險，又感金錢之窘，始易治於君。余診其脈，尺部沉滑，右兼弦勁，舌苔黃厚，目睛黃，唇色白，腹痛拒按，頭汗淋漓，溲赤痛如沙石，大便裡急不通。余曰：此「腸癰」也，濕熱結於小腸，腸部生癰，傳化失職，故二便不利，濕熱鬱蒸，故頭汗目黃，痛急則唇白，邪實則拒按，法當清腸化氣，宣熱導濕，方擬白芍、當歸、飛滑石、檳榔、木香、車前仁、赤茯苓、吳茱萸、黃芩、黃連、青皮、陳皮、茵陳、山梔、川楝子、枳實、桔梗、甘草等味出入以治。甫二劑，大便排出膿血極多，痛減其半，四劑痛止，諸症隨釋，調理半月即恢復康健。因知社會人士互相驚訝之「盲腸炎」者，即「腸癰」也。</p>
<p>近有劉惠民者，其子十歲，頭覺昏痛，初未介意，至晚目瞀直視，項強脊脹，咽脹，嘔苦，頭痛如劈，壯熱足冷，神識昏亂。惠民聞系「腦膜炎」，急危急險症候，奔乞余治。余視之乃「痙病」也，察其脈來沉緊，腹部拒按，及考所見症狀太陽、陽明所受病。太陽經脈起於目內，皆從頭絡腦下項循背，抵腰至足。陽明經脈起鼻循喉，下膈繞臍，入膝下足。陽明實熱內郁，太陽表氣不通，火焰循經脈上炎，勢欲燎原，頃刻腦膜焦裂，亦必然之勢，上熱甚，故足冷。所現諸症，不越二陽之範圍。為今之計，法當撤太陽之表，攻陽明之實。本仲景運樞之旨，以溫膽湯去甘草，加羌活、大黃、白芍、左金丸等治之。夜半索桶，解下黏穢膿血甚多，蛔出已腐，兩劑而諸象平。釜底抽薪，其焰自殺，少用羌活，正以撤太陽狼狽之勢耳。</p>
<p>曩者余治鄉人陶莊武侄女，兩日來頭痛，頗密瞬變，角弓反張，腳攣口噤，齘齒有聲，六脈俱伏，以手按腹，反張更甚。乃悟《金匱》云：痙為病，腹滿口噤，臥不著席，腳攣急，必齘齒，可與大承氣湯。恰相符合，遂用厚朴、枳實各錢半，煎水，泡大黃、元明粉各三錢，抉齒灌之。須臾，身肢反復，大便排出膿穢，五色悉具，臭惡逼人，一服痙止人蘇，再服而愈。夫當時斷齒齘腳攣者，乃頭腹痛極之表現，亦即所謂「腦膜炎」也。</p>
<p>余按：「腦膜炎」、「盲腸炎」皆屬腸胃濕熱積滯為病。上下郁遏者，為「盲腸炎」——「腸癰」是也；表裡郁遏者，為「腦膜炎」——「痙病」是也。我國醫界當守國醫原則而探索其究竟，精研其治法，若徒知好奇炫異，逐末忘本，國醫前途何堪設想？余以識見所及、臨症所得，爰為紀錄，就正同道，並書之以代答問。</p>

<h2>【附】上海陸士諤先生書</h2>
<p>（見上海《新聞報·國醫周刊》）</p>
<p>聰甫先生閣下：</p>
<p>千里外惠書論學，虛懷若谷，不恥下問，欽佩之至。尊論腦膜炎即是痙病，盲腸炎即是腸癰，認證正確，足見手眼之明快。惟論治立方，則鄙見稍有出入：腸癰有未成之治法、將成之治法、已成之治法；痙症有剛痙之治法、柔痙之治法。尊方所擬，似乎專於已成之腸癰、痙病之剛痙，而將成、未成之腸癰，痙病之柔痙似當別謀治法。孟子云：不直則道不見。士諤年雖腐朽，薑桂之性，未免老而愈辣，直言莫怪，諸希諒之。</p>
<p><u>陸士諤頓首</u></p>
<p><u>五月十九日</u></p>
<p>按：「腦膜炎與盲腸炎之認識」，在辨確國醫固有之病名，而非論腸癰之未成、已成，痙病之剛痙、柔痙也。士諤先生來書，乃就國醫學說作進一步之研討也。</p>

<h2>讀「江西發現驚人熱疫」之我見</h2>
<p>（見九江《民國日報》專載二十五年）</p>
<p>余讀八月十六日上海《新聞報·國醫周刊》「江西發現驚人之熱疫」一篇，內容為江西省會公安局施君與滬醫陸士諤先生問答之詞。</p>
<p>在施君報告病狀：（1）病者多系三歲以內嬰孩。（2）大略症象，先發微熱，泄瀉溲赤，心煩口渴，脈數稍洪，再發壯熱驚搐，抓口撕胸，日夜不安，喜飲茶湯，舌赤中黃，屎瀉青如蛋花泡，小便清白稍長，或角弓反張，喉間痰鳴，頭部熱甚，四肢溫，腹中鳴響飽脹，間發嘔吐，病兒多向口中抓挖；最後症狀益加厲害，喉作乾嘔，大便黃膿，小便頻數，身體及聲音不如前之壯烈，一息奄奄，因而夭殤。統計小兒患此病而死者，將有三十上下，但在病中者亦為數不少……等語。</p>
<p>陸先生答謂：此熱疫症也，以病發由於蘊熱，名之曰熱疫。綜其見症，初病不過是陽明經腑兩病，身熱煩渴，脈洪，確是陽明經證；泄瀉便赤，確是陽明腑證。經腑兩病治法，當從經著手，經病解，腑病不攻自愈；失治則病勢內陷，變成陽明、厥陰雙傳，症就難治矣。以胃口膜原鄰近三焦，故傳入厥陰，極易壯熱口渴，頭熱肢溫，腹脹、舌黃，糞色青黃，無一不是陽明見證。驚搐手足亂舞，抓口撕胸，喜飲，舌邊赤，角弓反張，小便清長，嘔吐，日夜不安，無一不是厥陰見證，法當氣血兩清。至傳入三陰則病者，陰陽兩皆，縱有神丹亦難挽救。以熱減音低，為陽竭之徵；乾嘔，為陰竭之徵，小便頻數，陽不攝陰也；一息奄奄，氣陰兩盡也，非但不能救亦不及救。云云。</p>
<p>陸先生又出二法以治陽明經腑兩病，治從經著手，方用：鮮竹茹四錢，生石膏八錢，人中黃八分，生知母三錢，天花粉四錢，淡竹葉四錢。</p>
<p>以治陽明厥陰雙傳症，方用：生大黃三錢，黃連一錢（二味，泡入），黃芩三錢，知母四錢，天花粉六錢，連翹三錢，鮮生地一兩，犀角尖五分，羚角尖五分，鮮竹葉四錢，鮮竹茹四錢，人中黃八分。</p>
<p>余詳研施陸問答之辭而有所感，不能無言。據施君所述症狀，本夏秋間最普通之時行病，九江俗稱「渴瀉燒」是也。陸先生分經論症，特具卓見，應無置喙之餘地。然「陽明之上，中見太陰」，故陽明見症則太陰同病。身熱煩渴，雖屬陽明經症，泄瀉腹鳴飽脹則為太陰本症。大凡嬰孩受此病者，每由乳母臥兒於風露中，或啖哺瓜果生冷，以致風露之邪束遏肌表，生冷之質阻困脾胃，始則身熱不清，泄瀉無度。津液下陷則煩渴，氣化不及則便赤。外顯假熱，中伏極寒，初起陽明太陰同病，則有之矣。錢氏七味白朮散尚為合法，參、朮、甘草甘味以和中，木香、藿香溫以助脾，茯苓甘淡，分陰陽利水穀，葛根甘平氣輕，倍於眾藥，鼓舞胃氣，上行津液，又解陽明之熱也。苟失其治則，壯熱口渴，頭熱舌黃，陽明之經邪傳腑矣，肢溫腹脹，糞色青黃，太陰之氣液愈傷矣。脾胃既困，津液將亡，木火乘之，則見驚搐亂舞，抓口撕胸，喜飲，角弓反張，小便清長，日夜嘔吐不安等之嚴重症象，當依前法重加生白芍以平木火之氣，萊菔汁以滋脾胃之液，可望回生。若迨熱減音低，乾嘔，便數，一息奄奄，氣液兩盡，誠如陸先生所云，非但不能救，亦不及救矣。今夏九江，小兒患此病者，為數最多，余皆以前法，按症輕重妥為加減，成效歷歷（用藥之出入，視症之轉移。另錄醫案，未及詳載）。今讀《國醫周刊》所述症狀，與余臨診所見若合符節，遂不揣淺陋，用書所治，以供海內同道之指正云。</p>

<h1>跋</h1>
<p>黃梅李君聰甫，懸壺九江，名震遐邇。國難後轉徙新化，與余傾蓋定交。過從日密，因得窺所學，而嘆其才之雋也。君好讀書，工詩詞，尤精於醫，舉凡《內經》、《難經》、《傷寒》、《金匱》、《千金》、《外臺》，既能窮流竟源，得其奧義。而於後賢著述，如金元四大家及明清各家之書，復能剖精析微，棄短取長，而不為所囿，又何用力之勤也！君僑新經年，見小兒夭折於麻疹者，日必數見，將前所著未完之《麻疹專論》一書，發憤成之。常熟宗師子威，湘陰柳丈敏泉，即各為之序矣。以余宿尚方術，又為莫逆交，不可無言，屬書其後。余考麻疹一症，古無專書。有清謝玉瓊《麻科活人》，亦不過摭拾前人，緒餘理膚，方泛鮮切實用。君則本其宏富之經驗，幽眇之深思，空所依傍，獨標心得，分此症為初、中、末三期，方有先後之序，藥有宜忌之時，規量謹嚴，有條不紊。又恐人之拘泥也，加附按語，於一定不移之中，示以權衡變通之妙。余固知此書一出，足以嘉惠嬰孩，流傳千古矣。昔扁鵲過秦，聞秦人愛小兒即為小兒醫，是書之竟，殆即其意也歟！君且年富力強，殫心著述，其利於斯世者，靡有涯涘，豈惟造福嬰孩已哉！</p>
<p><u>民國二十九年新化半僧陳懇皆於資東憶佛軒</u></p>
