<header data-type="book">
<h1>鄒氏寒疫論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鄒漢璜</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>序</h1>
<p>道光庚子之秋，里中病利死者數十，其經余治者凡二十，以貧不能具藥而死者，一人耳。然或半月而愈，或十日而愈，或瀕死而復健，或病輕而更纏綿，准之古法，參差不齊，有莫解其故者。昔越人留五泄之名，仲景編下利之證，元方有利病之候，《千金》具下利之方。若《外臺秘要》，家無購本，至宋、明以來數十家，則等諸自鄭以下可耳。吾日寢食於秦、張、孫、巢之書，而細思其義，輒不與病情合，唯《傷寒經》陽明、少陰、厥陰中有數條可按，若承氣湯、桃花湯、白頭翁湯，猶與今證相髣髴，自非數方無一相契者。乃追憶所治諸候，准之以《靈》、《素》陰陽、藏府之理，紬繹沉潛，頗得其解，因成一編。</p>
<p><u>新化鄒漢璜識</u></p>

<h1>寒疫痢證論</h1>
<p>今之痢疾，自張介賓以來，咸謂即《內經》之腸澼，余謂不然。腸澼非外感所成，乃陰陽、藏府氣虛，因而腸澼耳。痢疾則注下赤白，或沃白、沃赤、赤白沫，皆是外感。《著至教論》所謂三陽獨至，《辨脈法》所謂寸口脈陰陽俱緊者，法當清邪中上、濁邪中下是也。《五十八難》五種傷寒之濕溫，即《傷寒》序例之時行寒疫，此亦其一也。餘生長三十七年矣，竊見通都大邑，當夏秋之交輒病痢疾，或以一方而愈數百人，或客歲之方，今歲用之，略無一驗。大抵時行之氣，歲各不同，而藏府之氣應之亦不一其處，要當於寒疫中求之。而瓜瓤、蝦蟆、攪腸諸證，輒復與痢疾相間，雜然並具，彼瓜瓤、蝦蟆、攪腸亦是寒疫耳。夏秋之交，腠理疏泄，氣為暑熱所侵，亦渙散不聚，寒因客之，不病痢即病瘧。邪之來也，皆自太陽入，精血虛者，即內容少陰之分，乃遊於募原，迫於府則病痢；不迫府者，發為瘧。其從少陰轉太陰，即從缺盆至胸中者，從闔部陷胸中，則為瓜瓤（瓤，音陽瓜是也，即俗所謂瓜中之腸也。瓜瓤證，胸高脅起、嘔血如汁者是也，宜生犀飲）。捻頸、大頭諸證，由胸復下腹為蝦蟆證，發於表為疙瘩證（疙，頭上瘡突起也。疙瘩證者，發塊如瘤，遍身流走，旦發夕死者是也）。其邪入里，從衛氣散於諸經，根結之氣者，為攪腸痧（攪，音絞。攪腸證者，腸鳴、乾嘔、水泄不通者是也）。其乘氣街，以傷三焦者，為霍亂。霍亂者，必泄，蓋傷府則利作也。痢證之邪有屬少陰者，有屬陽明者。邪在少陰，伏於伏沖，上干衝脈，則下血。迫於三焦，則注下、後沃、脈沉遲或沉細。下部精足，則流於厥陰，而少腹急痛、下白。邪在陽明，則胸痛、嘔逆；屬寒者，脈遲細而弦；屬熱者，脈浮躁。其循陽明之氣而下侵大腹之部，則下白；其入胃者，則注下，胃氣傷也；其循三焦之氣而下膈者，則腹脹、發熱、裡急後重而沃，太陰之精傷也；其迫於腸者，為後沫；邪不幹府而客於厥陰，則少腹痛、下白；其下藏液者，邪由上脘入胃，復出中焦，由中焦之絡入藏，藏得邪，則液不得留也。沃白者，中焦輸水穀之精於脾，邪在太陰，則穀精不上輸而下墜也；沃赤者，太陰之絡傷也；下白者，邪客大腸，大腸六府之精之所留也。腎氣不利，則六府之精或動也。赤瓣者（赤瓣者，謂所出似腦，腦中有赤脈經，繞如赤瓣），小腸之絡破，從白並下也。白如雞子白，其精不雜者，六府之精也；稀如涎唾、不甚黏膩者，五藏之液也；稠如鼻涕，又雜米泔形者，太陰之精也。食入於胃，上輸於脾，淫氣於筋，淫精於肝，肝在脾下，脾氣不升，得肝之陽氣，故稠。脾不散精於肝，故下米泔形也。結沫如漚者（漚，水上浮泡也），腸間之液也。穀精之留於大小腸者，得三焦之氣，則蒸而為膏。邪客腸間，液不為膏，因迸出也。肺氣通調水道，大小腸受之。邪在腸間，則滲入腸內也。結沫者，膏之未成者也；與沫俱出者，水氣也。</p>

<h2>太陽證</h2>
<p>太陽寒疫，頭痛、鼻塞、背微寒，邪在風府，前及缺盆也，肺尚未受病，寸口脈左浮右弱，黃耆川芎羌活湯主之。</p>
<p>黃耆（生用，三錢）　川芎（四錢）　羌活（二錢五分）　白芷（二錢）　紫蘇（二錢）</p>
<p>太陽寒疫，頭痛、發熱、咳嗽者，邪與肺氣爭也，寸口脈左右皆浮，羌活桔梗甘草湯主之。</p>
<p>羌活（三錢）　桔梗（二錢半）　甘草（二錢半）　半夏（二錢半）　紫蘇（二錢半）</p>
<p>太陽寒疫，發熱二三日，頭痛止而渴，小便黃赤而熱者，肺液熱也，胸微緊，寸口脈右部浮滯，鼠黏子前胡湯主之。</p>
<p>鼠黏子（三錢）　前胡（三錢）　茯苓（三錢）　枳殼（二錢）</p>
<p>太陽寒疫，發熱三四日，頭痛止、煩心、眠不安者，邪在胸也，關上脈右部浮大，黃連連翹梔子湯主之。</p>
<p>黃連（磨，一錢）　連翹（三錢）　梔子（五個）　枳殼（二錢）</p>
<p>太陽寒疫，肺擁，鼻乾、發熱、泄而沫白，邪從肺傷大腸也，寸口右脈滯大、尺中右脈微澀，馬兜鈴牛蒡子湯主之。</p>
<p>馬兜鈴（十五個）　牛蒡子（二錢）　前胡（二錢半）　桔梗（二錢半）　黃芩（二錢）</p>
<p>太陽寒疫，心煩、口熱、小便澀赤、沫赤，關上左部滑大，尺中右部滑，梔子黃連連翹湯主之。</p>
<p>梔子（十個）　黃連（磨，二錢）　黃芩（四錢）　連翹（五錢）　當歸（四錢）　赤茯苓（二錢）　車前（五兜）</p>

<h2>陽明證</h2>
<p>陽明寒疫，胸滿、胃脘痛、不欲食、見食則嘔，邪聚上焦也，寸口脈右部浮大而軟濁，鼠黏子前胡湯主之。</p>
<p>鼠黏子（三錢）　前胡（二錢半）　枳殼（二錢半）　連翹（三錢）　茯苓（三錢）</p>
<p>證如上，關上脈右部遲者，寒氣盛也，半夏檳榔草果湯主之。</p>
<p>半夏（五錢）　檳榔（二錢）　草果（三個）　茯苓（四錢）　甘草（三錢）　枳殼（三錢）</p>
<p>胸中滿，上脘痛，見食則嘔，關上脈右部遲而濁，半夏檳榔草果湯除草果加鼠黏子二錢主之。</p>
<p>陽明寒疫，胸痛，手或冷，聲息下，脈沉細而弦，上焦氣不布也，冬蜜半夏湯主之。</p>
<p>冬蜜（一兩）　半夏（六錢）　茯苓（四錢）　人參（三錢）　細辛（八分）　桂枝（二錢）　炙草（二錢）　粳米（一合）</p>
<p>陽明寒疫，上脘寒痛，見食則嘔，或腹中兩旁痛、注下，或下藏液者，邪從上焦入胃，從胃復出中焦，未入胃者，從上焦下行腸間也。中焦傷，則邪從經絡入於五藏；中焦傷，則水穀之精不入五藏，而流入腸中也。脈寸口關上右部遲而弱，半夏赤石脂湯主之。</p>
<p>半夏（六錢）　肉豆蔻（一個）　赤石脂（五錢）　粳米（一合）　炮姜（二錢半）　茯苓（四錢）　人參（三錢）　炙草（二錢）　藿香（二錢）</p>
<p>陽明寒疫，上脘痛止，腹旁臍下痛，注下與大便相雜，關上尺中脈右部遲而微緊者，蜜耆當歸茯苓湯主之。</p>
<p>蜜耆（四錢）　焦術（三錢）　茯苓（三錢）　當歸（三錢）　炙草（二錢半）　生薑（二錢半）　乾薑（二錢）　木香（磨，一錢）　烏藥（一錢）</p>
<p>陽明寒疫，上脘、腹中痛皆止，飲食進，沃白未盡止者，寸口關上尺中脈小而遲者，蜜耆當歸棗仁湯主之。</p>
<p>蜜耆（四錢）　當歸（五錢）　人參（三錢）　棗仁（三錢）　焦術（三錢）　茯神（三錢）　炙草（二錢）　乾薑（錢半）　生薑（二錢）　木香（磨，一錢）　紅棗（三個）　元眼（五個）</p>
<p>陽明水泄，寒氣從上焦入胃，中焦為寒所傷，中焦不治，水穀之氣下行，則泄也，脈寸口關上右部皆遲小，焦術乾薑木香湯主之。</p>
<p>焦術（五錢）　人參（四錢）　乾薑（炮，三錢）　炙草（三錢）　木香（磨，錢半）</p>
<p>陽明寒疫，胸中、腹中不痛，嘔逆、泄瀉、沃白者，邪盡入胃中，氣街之氣無邪也，太陰營氣傷，中焦微也。中焦微，則氣街總無邪，而其氣不能如經也，故嘔逆、泄瀉、沃白，脈關上右部微弱，藿香半夏湯主之。</p>
<p>藿香（三錢）　半夏（三錢）　蒼朮（二錢半）　厚朴（錢半）　陳皮（一錢）　炙草（一錢）　生薑（三片）　紅棗（三個）</p>
<p>泄甚，加茯苓三錢。</p>
<p>上焦沃白者，邪從中焦復出，與氣街氣混而行於太陰，太陰氣不升，邪為府氣所迫，入於腸，裡急後重，或與大便並出。與大便並出者，大小腸府氣亂也；或獨圊，其液膠黏少如鼻涕。獨圊無大便者，大小腸府氣亂也，關下尺中右部浮而弱。浮者，府氣不和；弱者，太陰氣衰。茯苓當歸湯主之。</p>
<p>茯苓（三錢）　當歸（五錢）　甘草（二錢半）　酒芍（二錢半）　黃芩（二錢）　黃連（磨，一錢）　枳殼（錢半）　厚朴（二錢）</p>
<p>不裡急後重，關上尺中脈右部遲者，當歸蜜耆木香湯主之。</p>
<p>當歸（四錢）　蜜耆（三錢）　茯苓（三錢）　陳皮（八分）　炙草（錢半）　木香（磨，一錢）</p>
<p>與水液並下，加扁豆三錢（炒）。</p>
<p>陽明寒疫，發熱，鼻乾，胸痛，嘔逆，後沃，邪乘三焦之氣傷太陰，胸中之邪未解也，關上右部浮躁，馬兜鈴藿香湯主之。</p>
<p>馬兜鈴（三錢）　牛子（二錢）　藿香（二錢）　白芷（錢半）　前胡（二錢）　枳殼（二錢）　甘草（二錢）　酒芍（二錢）　黃芩</p>
<p>陽明寒疫，中焦沃白，腹痛，邪乘三焦氣街，止於中脘之下，而傷太陰也。氣街之邪未解者，發熱，關上右部浮大而弱。浮大者，邪在外呼吸之道也；弱者，太陰之氣傷也。大黃木香湯主之。</p>
<p>大黃（酒浸，三錢）　木香（磨，錢半）　桔梗（二錢半）　厚朴（二錢半）　甘草（二錢半）　黃芩（二錢半）　當歸（三錢）　茯苓（三錢）</p>
<p>中焦沃白，發熱，腹滿，數至圊不出，三焦氣獨盛，太陰氣衰也。三焦氣所以獨盛者，與邪合故也。脈關上右部浮大，上及寸口，下及尺中，大黃牛蒡子車前草湯主之。</p>
<p>大黃（酒浸，調服，六錢）　芒硝（二錢半）　枳殼（三錢）　厚朴（四錢）　車前（五兜）　牛子（三錢）</p>
<p>胸以上熱盛，加石膏四錢。</p>
<p>下之熱減，滿去，沃沫不止者，熱未徹也，關上脈大而弱，黃芩當歸大黃湯主之。</p>
<p>黃芩（三錢）　當歸（五錢）　生地（四錢）　大黃（三錢）　木香（錢半）　厚朴（二錢）　茯苓（三錢）</p>
<p>中焦沃白、呃逆、四支涼，關上尺中小弱者，邪在中焦，乘中焦之絡上逆，故呃。氣街之氣頗為邪所阻，故四肢涼也。黃連柿蒂藿香湯主之。</p>
<p>黃連（錢半）　大黃（酒浸，三錢）　酒芍（二錢半）　甘草（二錢半）　柿蒂（五個）　藿香（二錢）　腹毛（錢）</p>
<p>以黃連錢半，吳萸錢半，拌勻合炒，去吳萸不入藥。</p>
<p>中焦沃白，呃逆，四肢厥，心煩，脈微，寸口尺中時不見，三焦之氣為邪所阻也。香連桂樸湯主之。急治之，否則入藏也。其人喜冷身寒者，邪猶在府，心昏、神惕者不治。</p>
<p>黃連（二錢）　大黃（三錢）　甘草（三錢）　酒芍（三錢）　阿膠（二錢）　肉桂（錢半）　厚朴（三錢）　腹毛（二錢）　藿香（二錢）　當歸（四錢）　茯苓（三錢）　防風（二錢）　芒硝（五分）</p>
<p>拌炒黃連如前法。</p>
<p>中焦沃白，邪去，太陰氣未復，泄不止而後沫，三部脈皆弦弱者，當歸茯苓防黨湯主之，歸脾湯亦主之。</p>
<p>當歸（五錢）　茯苓（三錢）　防黨（三錢）　炙草（二錢）　扁豆（炒，三錢）　桔梗（二錢）　木香（磨，一錢）　生薑（三片）　紅棗（三個）　白朮（三錢）　酒芍（錢半）</p>
<p>中焦下沫，邪自中焦而將歸下焦也，小便不利，或後重，臍下微痛，脈關下尺上右部小滑而弱。小滑者，小腸大腸之氣傷於邪也；弱者，小腸大腸之水液不行，陰氣衰也。茯苓白朮車前湯主之。</p>
<p>茯苓（三錢）　澤瀉（三錢）　白朮（二錢半）　黃芩（錢半）　車前（三兜）</p>
<p>中焦邪去者，除白朮、黃芩，加朱苓二錢；沫赤者，加當歸三錢；不後重者，中焦邪盡也。</p>
<p>中焦下注白，邪自中焦歸於大腸也。邪歸大腸，則水液不行，府精必動，故下注白也，小便不利或後重。茯苓扁豆厚朴湯主之。</p>
<p>茯苓（四錢）　澤瀉（三錢）　焦術（二錢半）　黃芩（二錢）　扁豆（三錢）　甘草（二錢）　厚朴（二錢）　木香（磨，一錢）</p>
<p>中焦邪去者，小便必利，除焦朮、黃芩、厚朴、木香。後重者，不除厚朴。</p>
<p>下焦下注白，邪自胸中乘氣街歸於下焦也。胸中邪未解者，鼻乾、口渴，寸口尺中右部浮小而澀，鼠黏子茯苓澤瀉湯主之。</p>
<p>鼠黏子（一錢）　前胡（二錢）　枳殼（錢半）　茯苓（三錢）　澤瀉（二錢）　朱苓（錢半）　桔梗（錢半）</p>
<p>下焦下注白，胸中邪解者，鼻不幹，口不渴，尺中右部脈軟動，朱苓澤瀉湯主之。</p>
<p>朱苓（三錢）　澤瀉（二錢半）　茯苓（三錢）　桔梗（二錢半）</p>
<p>後重，加枳殼一錢，厚朴錢半。</p>
<p>陽明寒疫，歸於厥陰，小腹緊痛，下白，尺中右部脈沉，烏藥茯苓湯主之。</p>
<p>烏藥（二錢）　小茴（錢半）　茯苓（三錢）　厚朴（一錢）　枳殼（一錢）</p>
<p>陽明寒疫，頭痛、腹痛、口渴者，邪乘陽明氣下，復上走頭也。寸口關上尺中脈右部皆軟而浮。軟者，邪在根結氣之外也；浮者，邪未乘氣街之氣也。石膏白芷湯主之。</p>
<p>石膏（三錢）　白芷（二錢）　葛根（煨，錢半）　甘草（錢半）　防風（二錢）　荊芥（二錢）　粳米（一合）</p>
<p>陽明寒疫，鼻乾、心煩，邪乘根結之氣也。寸口右部浮小而弦。浮小者，根結之氣為邪所乘也；弦者，陽氣不旁通也。藿香前胡桔梗湯主之。</p>
<p>藿香（二錢）　前胡（二錢半）　桔梗（二錢）　甘草（一錢）　荊芥（一錢）　紫蘇（錢半）</p>
<p>陽明寒疫，鼻乾、心煩，發熱，寸口右部浮而澀。牛蒡子連翹湯主之。</p>
<p>牛蒡子（錢半）　馬兜鈴（十個）　連翹（二錢）　前胡（錢半）　黃芩（錢半）　枳殼（一錢）</p>
<p>熱甚，加黃連五分，磨。</p>
<p>陽明寒疫，下沫、脫肛而腫者，邪自肺乘大腸之絡，入於大腸也。脈小而弱，尺中右部時一躁也，寸口右部時一滯也。馬兜鈴當歸牛蒡子湯主之。</p>
<p>馬兜鈴（三錢）　厚朴（三錢）　當歸（五錢）　牛子（二錢）　枳殼（二錢）　槐角（二錢）　澤瀉（二錢）　秦艽（二錢）　地榆（錢半）　芒硝（五分）</p>

<h2>少陰證</h2>
<p>少陰寒疫，頭痛、背項𠘧𠘧、惡寒、手足清冷、喉中痰作者，邪在伏沖，兼及肺也。寸口關上左右、尺中左部脈散弱。當歸常山湯主之。</p>
<p>當歸（五錢）　生耆（三錢）　熟首烏（五錢）　益母（三錢）　常山（錢半）　羌活（二錢半）　防風（二錢）　葛根（二錢）　茯苓（三錢）　生薑（二錢半）</p>
<p>少陰寒疫，傷沖，四肢懈惰，背痛連心，下血，關上脈左部遲澀，尺中脈左部遲，生耆防風當歸湯主之。</p>
<p>生耆（四錢）　當歸（五錢）　防風（二錢半）　羌活（二錢半）　殭蠶（錢半）　柴胡（錢半）　紫草（一錢）　葛根（二錢）　生薑（三片）</p>
<p>少陰寒疫，由腰際隨囟門吸氣，直過黃庭，至胃下，與原氣別使之氣入胃，其人關元氣衰也。腰冷，腹寒痛，先水泄，後注下，脈尺中左部、尺中右部、關上右部微而遲。肉桂吳萸湯主之。</p>
<p>熟地（四錢）　山藥（炒，三錢）　扁豆（炒，三錢）　炙草（錢半）　乾薑（二錢）　吳萸（八分）　肉桂（蒸，八分）　附片（二錢半）　白朮（二錢半）　木香（磨，八分）</p>
<p>後重，加厚朴一錢；滑脫不禁，加烏梅三個。</p>
<p>少陰寒疫，由黃庭直抵關元，繞臍痛甚，呼謈不已者，寒實關元也，其人小便不利，關元未衰，故不泄也。關下左右脈皆微而弦。大黃附子湯主之。</p>
<p>大黃（三錢）　芒硝（七分）　生附子（三錢）　枳實（二錢）</p>
<p>少陰寒疫，遊於募原，募原近氣街之道，則三焦原氣受邪，少陰之氣既傷，三焦原氣復受邪，以輸於大腸，則府精動，而腸間水氣不瀉，水與府精相混而下，下注白也。尺中左右脈皆沉而遲。茯苓澤瀉肉桂湯主之。</p>
<p>茯苓（五錢）　澤瀉（三錢）　枳殼（二錢）　肉桂（磨，一錢）　黑姜（錢半）</p>
<p>少陰寒疫，遊於募原，而成注下者，必先季脅痛，而後腹痛，中焦穀氣自升，水氣不瀉，水氣與府精相混而下，利其水則愈，五苓散主之。</p>
<p>朱苓（三錢）　澤瀉（五錢）　茯苓（三錢）　肉桂（二錢）　白朮（三錢）</p>
<p>少陰寒疫，腰痛，腹不痛，循玉房直下，則傷腎液，傷腎液必下黑豆汁。寒疫為非節之寒，寒屬北方，又幹腎部，故下黑汁。脈弱而燥，弱反在關，燥反在尺，弱反在上，微反在下，遲反在上，燥反在下也。朱苓湯主之。</p>
<p>朱苓　茯苓　阿膠　滑石　澤瀉（各二錢半）</p>

<h1>續寒疫痢證</h1>
<p>太陽寒疫，客於風府，乘風府之衛氣，下入伏沖，上薄大腸，則為下白、沃沫。</p>
<p>少陰寒疫，頭痛、背項𠘧𠘧、惡寒、手足清冷、喉中痰作者，邪在伏沖，兼及肺也。脈寸口關上散弱。當歸常山湯主之。</p>
<p>當歸（五錢）　生耆（三錢）　熟首烏（五錢）　益母（三錢）　羌活（二錢半）　防風（二錢）　葛根（二錢）　生薑（二錢）　茯苓（錢）　常山（錢半）</p>
<p>少陰寒疫，腰腹痛、下泄、沃白者，脈沉弱，尺中脈左右皆弦。當歸細辛常山湯主之。</p>
<p>當歸（五錢）　茯苓（三錢）　獨活（錢半）　細辛（八分）　澤瀉（三錢）　枳殼（二錢）　厚朴（三錢）</p>
<p>《傷寒論》曰：少陰病，下利，便膿血者，桃花湯主之。下為精部，腎主之。六府氣和，則腎氣堅固，不下泄也。寒氣客於少陰，則六府氣不和，腎不藏而下泄。邪氣從衝脈而經於中焦，十二經脈皆聚中焦，以輸胃之精液於五藏，邪至中焦，則從中焦之絡，以內干五藏而動血海。便膿者，中焦之液下瀉也；便血者，血海之血下滲也。故曰：便膿血，其脈弦小而澀。弦小者，六府之氣不散邪，邪循衝脈上行也；澀者，血海下滲，營氣不能滿於隧道也。皆於尺中見之，微及關上也。</p>
<p>赤石脂（一半全用，一半篩末，三兩八錢四分）　乾薑（三錢）　粳米（一大白杯）</p>
<p>上三味，以水七升煮米，令熟去渣，內赤石脂末方寸匕，溫服七合，日三服，若一服愈，余勿服。</p>
<p>《傷寒論》曰：少陰病，二三日至四五日，腹滿，小便不利，下利不止，便膿血者，桃花湯主之。衝脈者，營血之藪也。衝脈起氣街，並少陰之經，挾臍上行，故腹滿，小便不利，故知邪氣經於中焦。血海在心後，邪傷中焦，止當便膿，今又便血，故知邪乾血海。赤石脂鎮藏之物，粳米益藏之品，故知邪由五藏而犯血海。成氏注《傷寒》，謂便膿血為協熱者，非也。</p>
<p>《傷寒論》曰：少陰病，下利，便膿血者，可刺。謂刺足少陰之腧，使不上侵中焦，故知邪挾臍上行也。</p>
<p>少陰寒疫，亦宜有此證。傷寒之邪緩，寒疫之邪重，重則氣猛，故不必侵中焦，苟及大腸，則已能下白。腎氣下固，則屈而上逆，以干中焦，乃成膿血。</p>
<p>《傷寒論》曰：少陰病，自利清水，色純青，心下必痛，口乾燥者，急下之，宜大承氣湯。少陰中風，風入腎部，腎為水藏，水不藏，則利清水。色純青者，風生木，木色青也。心下必痛者，少陰之脈注胸中，少陰之邪亦循經至胸中也。口乾燥者，風性熱，熱傷氣液，清水皆液所成，利清水，則液已大傷，故口乾燥。寒疫之從少陰下者，亦宜有此證。搏黴利近之矣，但搏黴利色如黑豆汁。色如黑豆汁者，從北方之色也。寒疫為非時之寒，寒屬北方，而又幹腎部，故從北方之色也。其脈與下純青水者相同也，必弱而燥，弱反在關，燥反在尺，弱反在上，微反在下，遲反在上，燥反在下也。然清水，宜大承氣湯；黑汁，大承氣不中與也，朱苓湯主之。</p>
<p>《傷寒論》曰：傷寒，先厥後發熱，下利必自止。而反汗出，咽中痛者，其喉為痹。發熱無汗，而利必自止；若不止，必便膿血。便膿血者，其喉不痹。又曰：傷寒熱少厥微，指頭寒，默默不欲食，煩躁。數日，小便利，色白者，此熱除也。欲得食，其病為愈；若厥而嘔，胸脅煩滿者，其後必便血。又曰：傷寒發熱四日，厥反三日，復熱四日，厥少熱多，其病當愈。四日至七日熱不除者，其後必便膿血。又曰：下利，寸脈反浮數，尺中自澀者，必清膿血。又曰：下利，脈數而渴者，令自愈。設不差，必清膿血，以有熱故也。厥者，邪在厥陰，阻外呼吸之氣，故陽氣不布於四肢。原氣別使之氣勝，則呼吸三焦之氣亦勝而發熱，邪乃退入於衝脈之分，上則陽氣勝，故喉痹；下則陰氣盛，原氣別使之氣既復，故下利，利則邪去，不利，則邪轉入少陰，而客於衝脈之氣分，瘧與癘疫所棲之處也。遊於孫絡，以入於別絡，則絡傷。絡傷，則便血。膿者，外呼吸之氣既為所傷，中焦之營亦傷，精液下墜也。宜白頭翁紫參湯。</p>
<p>白頭翁（二兩）　紫參（二兩）　黃柏（二兩）　秦皮（三兩）</p>

<h1>附類方</h1>
<p><u>活人敗毒散</u></p>
<p>羌活（一兩）　獨活（一兩）　前胡（一兩）　柴胡（一兩）　茯苓（一兩）　枳殼（一兩）　桔梗（一兩）　人參（一兩）　川芎（一兩）　甘草（半兩）</p>
<p>上為細末。每服二錢，水一盞，入生薑三片，煎至七分，溫服，或沸湯點亦得。治傷寒、瘟疫、風濕、風眩、拘蜷、風痰、頭痛、目眩、四肢痛、增寒壯熱、項強、睛痛，及老人、少兒皆可服。或瘴煙之地，或瘟疫時行，或人多風痰，或處卑濕腳弱，此藥不可缺也。日二三服，以知為度。煩熱、口乾，加黃芩。</p>
<p>此方，寒疫初起，頭痛、鼻塞、發熱，可服之。</p>
<p><u>普濟消毒飲</u>（東垣方）</p>
<p>黃芩（酒炒）　黃連（酒炒，各五分）　元參　陳皮　甘草（各二錢）　連翹　薄荷　鼠黏子　板藍根（如無，以青黛代之）　馬勃（俗名土包菰，各一錢）　殭蠶（七分）　升麻（七分）　柴胡　桔梗（二錢）</p>
<p>上為末。湯調，時時服之，或蜜丸含化。如大便硬，加大黃一二錢酒蒸。</p>
<p>此治大頭瘟方也。寒疫胸滿、上脘痛而發熱，亦可服。</p>
<p><u>藿香正氣散</u>（《局方》）</p>
<p>藿香　紫蘇葉　白芷（各三兩）　枳殼（二兩）　厚朴（二兩）　大腹皮（三兩）　橘皮　半夏（各二兩）　茯苓（三兩）　白朮（二兩）　甘草（一兩）</p>
<p>每五錢，加薑、棗煎。</p>
<p>此治霍亂之方，寒疫初起，憎寒、發熱、頭痛、嘔逆、下泄，邪乘三焦之氣下，肺液之通調水道者皆受邪，邪並肺液漬入腸間，因而泄作，此方主之。</p>
<p><u>涼膈散</u>（《局方》）</p>
<p>連翹（四兩）　黃芩（酒炒，一兩）　竹葉（七片）　薄荷（一兩）　大黃（酒浸）　芒硝（各二兩）　甘草（二兩）</p>
<p>加生蜜煎。</p>
<p>太陽寒疫，已下陽明，淫於心肺，止於膈上，上焦不受邪，邪隨三焦之氣止於大腸，故病心熱、口渴、小便澀少、大便急痛，其脈寸口尺中浮澀而數。浮者氣傷，數者熱盛也。</p>
<p><u>神效東風散</u>（《普門醫品》）</p>
<p>川連　黃芩　白芍　楂肉（各一錢二分）　枳殼　檳榔　厚朴（炒）　青皮（各八分）　當歸尾　地榆（炒黑）　甘草（各五分）　紅花（酒洗，三分）　木香（三分）　桃仁（三分）</p>
<p>陽明寒疫，從上脘入胃，又從三焦之氣下行，復出中焦，為沃白。邪傷其絡，則兼赤色。邪郁不解，迸入大腸，故腹痛、後重。腹痛者，邪熱傷營也；後重者，邪氣在大腸也。其脈沉小而數躁，此湯主之。</p>
<p><u>感應丸</u></p>
<p>肉豆蔻　丁香（各兩半）　木香（一兩半）　杏仁（百四十粒）　乾薑（一兩）　巴豆（七十粒）　百草霜（一兩）</p>
<p>巴豆、杏仁另研，同各末和勻，用黃蠟六兩溶化，濾去渣，入好酒一升，煮數沸，候酒冷，蠟浮，令用青油煎熟，取蠟同化成汁，乘熱拌勻前藥，丸如豆大。</p>
<p>陽明寒疫，或內入胃中，或外壓三焦之氣街以下，大腸營衛與胃氣皆傷，赤白注下，又成後重，其脈遲澀，遲為衛寒，澀為營傷，此方主之。</p>
<p><u>道氣丸</u>（《赤水玄珠》）</p>
<p>青木香　萊菔子（炒）　茴香（炒）　檳榔　黑牽牛</p>
<p>上等分為末，粥丸。每三十丸，米飲下。</p>
<p>陽明寒疫，心下有水氣，進入胃中，傷中焦，赤白注下，小便不利，腹滿脹痛，上渴引飲，其脈沉遲。此方主之。</p>
<p><u>舟車丸</u>（河間）</p>
<p>黑牽牛（炒，四兩）　大黃（酒浸，三兩）　甘遂（麵煨）　大戟（麵煨）　芫花（醋炒）　青皮（醋炒，各一兩）　木香（五錢）　橘紅（一兩）</p>
<p>上為末，水丸椒目大。空心服五丸，日三服。痞悶者多服。煩滿者宜初服二丸，每加二丸，快利為度。</p>
<p>陽明寒疫，從上脘入胃，復從中脘，外傷營氣，又從三焦氣行，進入氣液之中，使水液不行，皆聚於腹，致滿脹、小便赤澀、口渴引飲，營衛皆閉不通，其脈遲大而弦，此方主之。</p>
<p><u>大黃丸</u>（《潔古》）　治瀉利久不愈，膿血稠黏，裡急後重，日夜無度。</p>
<p>用大黃一兩銼碎，好酒二大盞，浸半日許，煎至一盞半，去渣，分作二服，頓服之，利止勿服。如未止，再服，取利為度，後服芍藥湯和之。利止，再服白朮黃芩湯，盡撤其毒也。</p>
<p>陽明寒疫，循氣街而下，滿於中焦，則為沫白後沫。其脈浮而弱。浮者，三焦之氣傷；弱者，大陰營氣傷。邪氣滿於腹，腸胃之隙皆邪所樓，故里急後重，日夜無度，大黃蕩邪推陳，好酒調營散衛也。</p>
<p><u>芍藥湯</u>　治行血調氣。經曰：溲而便膿血，知氣行而血止，行血則便自愈，調血則後重除。</p>
<p>芍藥（一兩）　當歸（五錢）　黃連（五錢）　黃芩（五錢）　大黃（三錢）　肉桂（二錢半）　甘草（炒，二錢）　檳榔（二錢）　木香（一錢）</p>
<p>如便後藏毒，加黃柏半兩。</p>
<p>上九味，㕮咀，每服五錢。水二盞，煎至一盞，去渣，溫服。如利不減，漸加大黃，食後服。</p>
<p>陽明寒疫，中焦沃白，與以大黃湯而即止。邪總傷營，營氣已復也。其營氣未復者，沃白必不止，邪盛而營氣不能驟復也。關上尺中遲弦而躁。遲弦者，太陰氣滯也；躁者，邪干太陰也。邪本居於太陰而上達於陽明也。熱者，加石膏。</p>
<p><u>白朮黃芩湯</u>　服前藥，利疾總愈，更宜調服。</p>
<p>白朮（一兩）　黃芩（七分）　甘草（三錢）</p>
<p>上㕮咀，作二服，水一盞半，煎一盞，溫服。</p>
<p>更宜調服，謂營氣為邪所幹，病之大氣總除。太陰猶有餘熱而不和也。潔古三方，治寒疫沃白甚善，洵有功於世。但沃赤白而手足清冷、生呃逆者，尚當別處一方。</p>
<p><u>黃連阿膠丸</u>（《和劑》）　治冷熱不調，下利赤白，裡急後重，臍腹疼痛，口燥煩渴，小便不利。</p>
<p>黃連（去須，三兩）　阿膠（碎炒，一兩）　茯苓（去皮，二兩）</p>
<p>上以連苓為細末，水熬阿膠膏和丸，如梧子大。每服三十丸，空心、溫米湯下。</p>
<p>陽明寒疫，中焦沃白見赤，營傷絡破也。脈關上尺中小而滑。小者，營血衰；滑者，邪隨三焦氣陷入營分也。此方主之。</p>
<p><u>黃連丸</u>（一名羚羊角丸）　治一切熱利，及休息利日夜頻，併兼治下血，黑如雞肝色。</p>
<p>黃連（去須，二兩半）　羚羊角（一兩半）　黃柏（去粗皮，一兩半）　赤茯苓（去皮，半兩）</p>
<p>上為細末，蜜和丸如桐子大。每服二十丸，姜蜜湯下。暑月下利，用之尤驗，一方用白茯苓臘茶送下。</p>
<p>陽明寒疫，寒鬱為熱，隨宗氣下傷太陰，為沃白；上傷心包衝脈，為下血。其脈關上尺中小而躁，此方主之。</p>
<p><u>生地黃湯</u>　治熱利不止。</p>
<p>生地黃（五錢）　地榆（七錢半）　甘草（三錢）</p>
<p>上㕮咀，如麻豆大，以水二盞，煎至一盞，去渣，分溫二服，空心日晚再服。</p>
<p>陽明寒疫，隨氣街氣行，變而為熱，熱傷太陰營氣及大腸精液，沃白沃赤，沫赤白，關上尺中脈浮躁而沉，此湯主之。</p>
<p><u>鬱金散</u>　治一切熱毒利，下血不止。</p>
<p>川鬱金（五錢）　槐花（炒，五錢）　甘草（炙，二錢半）</p>
<p>上為細末。每服一二錢，食前用豆豉湯調下。</p>
<p>陽明寒疫，上傷心絡衝脈，血瀉大腸，大腸亦熱，其脈關上左部、尺中右部皆澀而滑，中焦未傷也。小腸通氣於心，小腸受心之熱歸於大腸也。</p>
<p><u>茜根散</u>　治血利，心神煩熱，腹中痛，不納飲食。</p>
<p>茜根（一兩）　地榆　生地黃（乾者）　當歸　犀角屑　黃芩（各一兩）　梔子仁（五錢）　黃連（去須，微炒，二兩）</p>
<p>上㕮咀，每服四錢，以水一盞，入豆豉五十粒，薤白七寸，煎至六分，去渣，不拘時溫服。</p>
<p>陽明寒疫，寒鬱為熱，傷心包與沖，下及中焦，邪在中焦，故腹中痛，不納飲食，脈三部小而滑。此方主之。</p>
<p><u>芍藥黃芩湯東垣</u>　治泄利腹痛，或後重、身熱久不愈、脈促者，及下利膿血黏稠。</p>
<p>黃芩（一兩）　芍藥（一兩）　甘草（一兩）</p>
<p>上㕮咀，每服一兩，水一盞半，煎至一盞，溫服無時，如痛加桂少許。</p>
<p>陽明寒疫，下及腹中，陽明與太陰之氣不和，致腹痛、身熱、沫下、後重，脈關上弦而數。弦者，陰陽不和；數者，府氣為邪所幹。此方主之。</p>
<p><u>香連丸</u>（《直指》）　治下利赤白，裡急後重。</p>
<p>黃連（去蘆，用吳萸十兩同炒，令赤，去吳萸不用，二十兩）　木香（不見火，四兩八錢八分）</p>
<p>上為細末，醋糊丸，如梧子大。每服三十丸，空心飯飲下。</p>
<p>陽明寒疫，下及腹中，陽明與太陰之氣不和，邪從陽明，內干太陰營分，為沃白兼赤，關上尺中脈弦而滯，此方主之。脈微，沃白兼赤，上為呃逆，此方亦主之。</p>
<p><u>地榆芍藥湯</u>　治泄利，膿血，脫肛。</p>
<p>蒼朮（八兩）　地榆（三兩）　卷柏（三兩）　芍藥（酒炒，三兩）</p>
<p>上四味㕮咀，每服用二兩，以水一升，煎至八合，溫服，病退勿服。</p>
<p>陽明寒疫，自下焦迸入大腸，則沫赤、腸癖、脫肛，其脈尺中滑，此方主之。</p>
<p><u>倉廩湯</u>　治噤口利有熱，及毒氣衝心，食即吐出。</p>
<p>人參　茯苓　甘草（炙）　前胡　川芎　羌活　桔梗　獨活　柴胡　枳殼　陳倉米（各等分）</p>
<p>上㕮咀，每服五錢，水一盞半，生薑三分煎，去渣，無時熱服。</p>
<p>陽明寒疫，下入腹中，中焦受邪，太陰氣傷，沃白。邪還，從中焦之絡上衝於心，故噤口，脈軟濁，此方主之。</p>
<p><u>犀角丸</u>　但是利證，服之無有不差。</p>
<p>犀角屑（取黑紋理粗者，產後用彌佳）　宣州黃連　苦參（多買，輕搗）　全州黃柏（赤色者）　川當歸</p>
<p>上各等分為細末，和勻，空服，爛煮糯米飲，調方寸匕服之，日再服，忌黏滑、油膩、生菜。</p>
<p>與羚羊角丸同義。</p>
<p><u>白頭翁湯</u>（《金匱》）</p>
<p>白頭翁（三兩）　黃連（三兩）　黃柏（三兩）　秦皮（三兩）</p>
<p>上四味，以水七升，煮取二升，去渣，溫服一升，不愈再服。</p>
<p>陽明寒疫，下入大腸，後重、下白，脈尺中滑弦，滑則為熱，弦則為減，府精動而府氣傷也。此方主之。</p>
<p><u>加減平胃散</u>（《潔古》）</p>
<p>白朮（一兩）　厚朴（一兩）　陳皮（一兩）　木香（三錢）　檳榔（三錢）　甘草（七錢）　桃仁（五錢）　人參（五錢）　黃連（五錢）　阿膠（五錢）　茯苓（五錢）</p>
<p>上㕮咀，每服五錢，姜三片，棗一枚，水煎，溫服無時。血多，加桃仁；熱，加黃連；小便澀，加茯苓、澤瀉；氣不下，後重，加檳榔、木香；腹痛，加官桂、芍藥、甘草；膿多，加阿膠；濕多，加白朮；脈洪大，加大黃。</p>
<p>陽明寒疫，中焦沃赤白，脈弦遲而濁者，此方主之。</p>
<p><u>犀角散</u>　治熱利下赤黃膿血，心腹困悶。</p>
<p>犀角屑（一兩）　黃連（去須，微炒，一兩）　地榆（一兩）　黃耆（一兩）　當歸（五錢）　木香（二錢五分）</p>
<p>上為散，每服三錢，以水一盞，煎至六分，去渣，溫服無時。</p>
<p>陽明寒疫，上傷心包衝脈，下及太陰氣與大腸，外傷三焦氣，脈關上尺中寸口大而躁，此方主之。</p>
<p><u>紫參湯</u>（《金匱》）　治下利腹痛。</p>
<p>紫參（八兩）　甘草（三兩）</p>
<p>上二味，以水五升，先煮紫參，取二升，內甘草，煮取一升半，分溫三服。</p>
<p>下焦寒疫，自陽明下腹，致腸胃熱，太陰、陽明不和，二便妄行，為後沫、下白也。脈尺中左右滑。此方主之。</p>
<p><u>除濕湯</u>（《百一》）</p>
<p>蒼朮（泔浸，炒）　半夏（薑製）　厚朴（薑製，各二兩）　藿香　陳皮（去白）　茯苓（去皮，各一兩）　炙草（二錢）　白朮（生用，一兩）</p>
<p>或加羌活、防風、藁本各三四錢，每四錢加薑棗煎。</p>
<p>陽明寒疫，下及腹中，未變熱，致腹滿、泄利，時有白沃如鼻涕者，濕氣盛，太陰不營也。其脈弦遲，此方主之。</p>
<p><u>黃連阿膠湯</u>（《海藏》）</p>
<p>黃連（四兩）　黃柏　阿膠（俱炒，各一兩）　山梔（五錢）</p>
<p>每四錢煎。</p>
<p>陽明寒疫，中焦沃赤，內傷太陰營氣，上傷衝脈三焦，邪熱未解，其脈關上左右皆浮滑而弦。氣熱則浮，太陰傷則弦也。</p>
<p><u>茯苓湯</u>　治利後遍身微腫。</p>
<p>赤茯苓（去黑皮，一兩）　澤漆葉（微炒，一兩）　白朮（微炒，一兩）　黃芩（三兩）　射干　防己　桑白皮（炙黃）　澤瀉（各三兩）</p>
<p>上㕮咀，每服五錢匕，先以水三盞，煮大豆一合，取二盞，去渣，內藥煎至一盞，分為二服。未瘥，頻服二料。</p>
<p>陽明寒疫，沃白、沫後既止，則太陰、陽明之氣和，而餘邪乘陽明之散布者，上走頭，旁走手足，夫太陰穀氣不行，則病沃白、沫後，穀氣既行，府氣未復，水氣未必遂行也，故與以行水之劑。</p>

<h1>附　瘟疫方</h1>
<p>瓜瓤瘟者，胸高脅起，嘔血如汁者是也，宜生犀飲。</p>
<p>犀角（屑，二錢）　蒼朮（泔浸，麻油炒）　川連（各一錢）　黃土（五錢）　金汁（半盞）　茶葉（一大撮）</p>
<p>上水煎，去渣，入金汁攪和，日三服，夜二服。虛，加鹽水炒人參；大便結，加大黃；渴，加栝蔞根；表熱，去蒼朮、黃土，加桂枝、川連；便膿血，去蒼朮，倍黃土，加黃柏；便滑，以人中黃代金汁。</p>
<p>大頭瘟者，其濕熱傷高巔，必多汗，氣蒸，初憎寒壯熱，體重，頭面腫甚，目不能開，上喘，咽喉不利，舌乾，口燥，不速治，十死八九，宜普濟消毒散。如大便硬，加酒蒸大黃一二錢，緩緩服，作丸噙化尤妙。若額面焮赤腫、脈數者，加石膏；內實，加大黃；若發於耳上下前後，並額角旁紅腫者，加柴胡、花粉；便實，亦加大黃；若發於頭腦項下，並耳後赤腫者，荊防敗毒散加芩、連。甚者，砭針刺之。</p>
<p><u>普濟消毒散</u></p>
<p>川連　黃芩（酒炒）　人參　黑姜　甘草　桔梗　連翹　牛子（炒研）　升麻　白芷　馬勃（各一錢）</p>
<p>殭蠶（炒，七分）　板藍根（如無，以青黛代之）　柴胡</p>
<p>上為末，半用水煎，去渣，食後徐服。半用蜜丸，噙化就臥，以令藥行上行也。</p>
<p><u>荊防敗毒散</u></p>
<p>羌活　獨活　前胡　柴胡　人參　甘草（人中黃更妙）　枳殼　桔梗　茯苓　川芎　薄荷　牛子（炒）　荊芥（各一錢）　防風（錢半）</p>
<p>上水煎，緩服，加金汁一杯尤效。</p>
<p>捻頸瘟者，喉痹失音，頸大、腹脹如蝦蟆者是也，宜荊防敗毒散。</p>
<p>楊梅瘟者，遍身紫塊，忽然發出梅瘡者是也。宜清熱解毒湯及人中黃丸，並刺塊出血。</p>
<p><u>清熱解毒湯</u></p>
<p>川連（酒洗）　白芍（酒洗）　生地　黃芩（酒洗）　人參（各三錢）　石膏（雞子大）　羌活　知母（各二錢）　甘草（一錢五分）　升麻　葛根（各一錢）　生薑（二錢）</p>
<p>上以水一斗，煮取五升，每服一升，日三夜二。</p>
<p><u>人中黃丸</u></p>
<p>大黃（尿浸，三兩）　人中黃（如無，坑垢代之）　蒼朮（麻油炒）　桔梗　滑石（各三兩）　人參　川連（酒洗）　防風（各五錢）　香附（薑汁拌勻炒，一兩五錢）</p>
<p>神麯丸。氣虛，四君子湯送；血虛，四物湯送；痰甚，二陳湯送；熱甚，童便送；通，用清熱解毒湯送，二三服。</p>
<p>疙瘩瘟者，發塊如瘤，遍身流走，旦發夕死者是也，三稜針刺入委中三分，出血，及服人中黃散。</p>
<p>辰砂　雄黃（要透明者，各一錢五分）　人中黃（一兩）</p>
<p>上為末。薄荷桔梗湯下二錢，日三服，夜二服。</p>
<p>絞腸瘟者，腸鳴、乾嘔、水泄不通者是也。探吐之，宜雙解散。</p>
<p>防風　麻黃　川芎　連翹　薄荷　當歸　芍藥　大黃　芒硝（各五錢）　石膏　黃芩　桔梗（各一兩）　白朮（薑汁拌，生用）　荊芥　山梔　滑石　炙草（各三兩）</p>
<p>上為散。每三錢，加姜三片煎，去渣服。</p>
<p>軟腳瘟者，便清、泄白、足腫難移者是也，即濕溫，宜蒼朮白虎湯。</p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩）　粳米（六合）　蒼朮（三兩）</p>
<p>上以水煮，米熟去渣，內四味再煮，減八分，溫服一升，日三服。</p>

<h1>附　採名方</h1>
<p>治狐惑，黃連犀角湯。</p>
<p>犀角（磨汁，三錢）　川連（二錢）　烏梅（四個）　木香（磨汁，三分）</p>
<p>上以水盞半，煎連梅八分，入犀角、木香汁和勻服。</p>
<p>治疫毒發斑、嘔逆，黑膏。</p>
<p>生地（三兩六錢）　好淡豆豉（二兩六錢）　豬膏（十兩）</p>
<p>上合煎，令三分減一，去渣，取濃汁如膏，入明雄黃如豆大，麝香少許和勻，分三服。</p>
<p>治毒氣發斑、痛癢，犀角消毒湯。</p>
<p>牛蒡子（炒）　防風（二錢）　荊芥（一錢）　甘草（八分）　犀角（磨汁）</p>
<p>上水煎，每服三錢，入犀角汁服。</p>
<p>治時疫疙瘩惡證，消毒丸。</p>
<p>大黃　牡蠣（煅）　殭蠶（炒，各一兩）</p>
<p>上為末，蜜丸彈子大。新汲水化下一丸，不拘時。</p>
<p>治大頭時疫，三黃湯。</p>
<p>川連（酒炒）　黃芩（酒炒）　生甘草（各等分）</p>
<p>上以水盞半，煎八分，每服五錢，稍溫，徐徐呷之。</p>
<p><u>又黃連瀉心湯</u></p>
<p>川連　生地　知母（各一錢五分）　生甘草（五分）</p>
<p>上以水盞半，煎八分，溫服。</p>
<p><u>又香蘇飲</u></p>
<p>紫蘇　香附（醋炙，各二兩）　陳皮（一兩）　甘草（五錢）</p>
<p>上為細末。每服三錢，水煎，溫服。</p>
<p><u>闢疫雄黃丸</u></p>
<p>明雄黃（研，一兩）　赤小豆（炒熟）　丹參　鬼箭羽（各二兩）</p>
<p>上為細末，煉蜜丸如梧桐子大。每日空心以溫水下五丸，總同床共被，亦不沾染。</p>
<p>利者，謂大便之出如流水之便利也。</p>
<p>赤白者，謂便出有赤、有白也。</p>
<p>注下者，謂大便急如射箭也。</p>
<p>沃者，謂所出如蜜之稠、如米泔之黏也。</p>
<p>沫者，謂稀於沃又不黏而有泡沫耳。</p>
