<header data-type="book">
<h1>經效產寶</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>昝殷</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="0850">公元850年</data></dd></div>
<div><dt>底本</dt><dd>日本影宋鈔本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀002492）。電子文本整理自行政院中醫藥委員會94年文本CM059。</dd></div>
</dl>
</header>
<h2>卷上</h2>
<h3>妊娠安胎方論第一〔凡十一道〕</h3>
<p>療妊娠三四個月，腹痛，時時下血。
續斷〔八分〕、艾葉〔六分炒〕、當歸〔六分〕、竹茹〔四分〕、乾地黃〔六分〕、
阿膠〔四分炙〕、雞蘇〔四分〕，右以水一升，煎取六合，去滓，空心再服，
隔日更服。
治妊娠六七個月，忽胎動下血，腸痛不可忍。
芎藭〔八分〕、桑寄生〔四分〕、當歸〔十二分〕，右以水一升，煎取八合，
下清酒半升，同煎取九合，分作三服，如人行五六里，
再溫服。治妊娠下血，時時漏血，血盡子死。
生地黃汁〔三合〕、清酒〔三合〕，
右相和，煎三四沸，空腹分溫，溫服。
治妊娠心頭煩懣，兩脅脹，不下食。
檳榔〔三個〕、人參〔四分〕、柴胡〔五分〕、枳殼〔四分炙〕、肉豆蔻〔二分〕、
生薑〔二分〕、桑寄生〔四分〕，右以水二升，煎取六合，分溫三服。
治妊娠身傷寒，頭痛壯熱，肢節煩痛。
前胡〔六分〕、石膏〔十二分〕、大青〔四分〕、子苓〔五分〕、知母〔四分〕、
山梔〔四分〕、蔥白〔七莖〕、甜竹茹〔三分〕，右以水二升，煎取八合，
食後分溫三服。
治妊娠胎動腰痛，及下血，安胎。當歸〔四分〕、芎藭〔四分〕、蔥白〔二七莖〕、
艾葉〔二分〕、茅根〔六分〕、鹿角膠〔六分炙為末〕，右以水二升，煎取八合，
空心熱喫三服。
治妊娠損動，安胎。
鯉魚〔一斤〕、粳米〔一升〕，右作矔食之佳。
治妊娠嘔吐不食，兼吐痰水。
生蘆根〔十分〕、橘皮〔四分〕、生薑〔六分〕、檳榔〔二分〕，右以水二升，
煎取七合，空腹熱服。治妊娠脅滿腹脹，心胸煩，見即吐，漸加羸瘦。
赤茯苓〔四分〕、前胡〔四分〕、小半夏〔四分湯洗〕、生薑〔三分〕、白朮〔一分〕
、大腹子〔五個〕、麥門冬〔六分去心〕、檳榔〔五枚〕、紫蘇〔四分〕，右水二升，
煎取八合，空心分溫三服。
治妊娠常苦煩悶，此是子煩，宜服此方。
茯苓〔八分〕、防風〔六分〕、知母〔六分〕、竹瀝〔三合溫用〕、生門冬〔十二分〕
，右水二升，煎取七合，下竹瀝後作兩服。
治妊娠胎動不安，煩悶。
當歸〔四分〕、芎藭〔三分〕、阿膠〔二分炙臨時入〕、蔥白〔十四莖〕、豉〔八合〕
、桑寄生〔四分〕，右水二升，煎取八合，下阿膠，空腹分兩服。</p>
<h3>妊娠食諸物忌方論第二〔凡五道〕</h3>
<p>食雞肉與糯米共食，令子生白蟲。
食鯉魚柔雞子，令子多疳。
食羊肝，令子多厄。
食鴨子，令子倒生。
食兔肉犬肉，令子缺脣無音聲。</p>
<h3>益氣滑胎令易產方論第三〔凡一道〕</h3>
<p>潤胎益氣，令子易生，訶子丸。
檳榔〔八分〕、芎藭〔二分〕、吳茱萸〔三分〕、訶子皮〔三分蒸〕，右為細末，
煉蜜為丸，如綠豆大，空心酒下十九丸，自七八個月，服至分解。</p>
<h3>妊娠惡阻吐不食方論第四〔凡四道〕</h3>
<p>論曰：夫阻病之候，心中潰潰，頭旋眼眩，四肢沉重懈怠，惡聞食氣，好喫酸鹹果實。
多臥少起，三月四月多嘔逆，肢節不得自舉者，以此治之。
人參〔八分〕、厚朴〔六分炙〕、茯苓〔十三分〕、葛根〔八分〕、白朮〔十二分〕、
橘皮〔六分〕、生薑〔十一分切〕，右水七升，煮二合，分溫三服，忌桃李醋等物。
治妊娠三四月，嘔吐惡聞食氣。
橘皮、青竹茹、生薑、茯苓、白朮〔各二兩〕，右水六升，煎二升，分溫三服，
忌同前。
治妊娠薤病，心中潰悶，見食嘔吐，憎聞食氣，肢節煩疼，身體沉重，
多臥嗜睡黃瘦方。
人參〔八分〕、橘皮〔八分〕、茯苓〔十二分〕、生薑〔十二分〕、甘草〔十二分〕、
大棗〔十二枚〕、生麥門冬子〔十二分去心〕，右水五升，煎取二升，分溫三服，
忌菘菜醋等。凡妊娠惡食者，以所思食，任意食之，必愈。</p>
<h3>胎動不安方論第五〔凡十八道〕</h3>
<p>論曰：安胎有二法，因母病以動胎，但療母疾，其胎自安，又緣胎有不堅，
故致動以病母，但療胎則母瘥，其理甚效，不可違也，胎不動，不知子死生者，
但看母脣口青者，兒死母活，口中青沫出者，子母俱死，口舌赤青沫者，母死子活也。
療胎數落而不結實，或冷或熱。
甘草〔三兩〕、黃耆、人參、白朮、芎藭、乾地黃、吳茱萸〔各二兩〕，右為末，
空腹酒調二錢，忌菘菜醋等物。
治胎動不安。
好銀〔煮取水〕。
右著蔥白，作羹食之佳。
治胎動下血，心腹絞痛，兒在腹死活未分，服此藥死即下，活即安，極妙。
當歸〔三兩〕、芎藭〔六兩〕，右水四升，酒三升，煮取三升，為三服。
治妊娠三二月，及七八月，胎動不安，或腰肚痛，有血下。
芎藭、當歸各四兩、艾葉〔二兩〕、甘草〔一兩〕、阿膠〔二兩炙〕，右水五升，
煮取二升，分溫三服〔古方無艾葉〕。
治妊娠搶心，下血不止，腰腹痛不可忍。
上銀〔一斤水一斗煎取七升〕、芎藭〔四兩〕、當歸〔四兩〕、阿膠〔三兩〕、
生地黃〔五兩〕，右以前銀水煮取二升，分三服。
治妊娠無故胎動不安，腹內絞痛。
蔥白〔切一升〕、阿膠〔三兩炙〕、當歸〔四兩〕、川芎〔四兩〕、桑寄生，
右取銀水七升，煮藥取二升半，分三服。
治妊娠五六月，胎猶不安，不常處。
白朮〔三兩〕、厚朴〔二兩〕、旋覆花〔一兩〕、黃芩〔二兩〕、茯苓〔三兩〕、
生薑〔二兩〕、枳殼〔二兩〕、芍藥〔二兩炙令黃色〕，右以水七升，煮取二升半，
食後分溫五服。
治胎動不安。
熟艾〔二兩〕、蔥白〔切一升〕、阿膠〔二兩炙〕，右以水四升，煮取一升半，
分溫兩服。
又方
芎藭〔二兩〕、蔥白〔切一升〕，右水七升，煮取二升半，分溫三服。
治妊娠冷熱，腹內不調，致胎不安。
當歸〔三兩〕、乾薑〔三兩〕、芎藭〔四兩〕、艾葉〔二兩〕，右水四升，煎取二升，
分為四服。治妊娠經八九個月，或胎動不安，因用力勞乏，心腹痛，面目青，冷汗出，
氣息欲絕，由勞動驚胎之所致。
釣藤〔二兩〕、伏神〔二兩〕、人參〔二兩〕、當歸〔二兩〕、桔梗〔三兩〕、
寄生〔一兩〕，右水五升，煎取二升，分為三服，忌豬肉菘菜，若煩熱加石膏五兩，
臨月加桂心二兩。
治妊娠因夫所動困絕。
右取竹瀝，飲一升，立愈。
療妊娠被驚惱，胎向下不安，小腹痛連腰，下血。
當歸、芎藭各八分、阿膠〔六分炙〕、人參〔六分〕、艾葉〔四分〕、大棗〔十二枚〕
、茯苓〔十分〕，右水四升，煮取二升，分為三服。
治墮胎忽倒地，舉動擎促損腹中不安，及子死腹中不出。
芎藭〔一兩〕
右為末，服寸匕，須臾三服，立出。
治胎動衝心，煩悶欲死，安胎止痛。
甘草〔炙〕、當歸、芎藭、人參、阿膠〔各二兩〕、蔥白〔切一升〕，右以水七升，
煎取二升，分為三服。
療妊娠忽黃汁下如膠，或如小豆汁。
粳米〔五升〕、黃耆〔五兩〕，右以水七升，煎取二升，分為四服。
治妊娠胎動欲落，肚痛不可忍。
上銀〔一斤〕、茅根〔去黑皮切二升〕，右以水九七升，煮銀取二升，入清酒一升，
同煎茅根取一二升，分為三服，立安。
療妊娠腹內冷痛，忽胎動。
薤白〔切一升〕、當歸〔四兩〕，右以水五升，煎取二升，作三服。</p>
<h3>妊娠漏胞下血方論第六〔凡五道〕</h3>
<p>療漏胎下血不止，胞乾即死，宜急治之。
生乾地黃〔為細末〕，右酒服方寸匕，日三服，夜一服，即愈。
治妊娠下血不止，及腹內冷者。
生地黃、乾薑，右兩味等分，同煎服。
治妊娠無故，卒下血不絕。
阿膠〔三兩炙〕，右清酒一升半，煎取一升，頓服。
又方
生地黃〔八兩〕，右擣碎，以酒浸，絞去滓，分兩服，以止為度。
療妊娠下血如月信來，若胞乾則損子傷母。
乾地黃〔五兩〕、乾薑〔五兩〕，右以水六升，煎取二升，下蜜少許，更煎兩沸，
分二服。</p>
<h3>妊娠心腹腰痛方論第七〔凡十一道〕</h3>
<p>治妊娠二三月，腹痛腰痛。
當歸〔三兩〕、阿膠〔炙〕、甘草〔各二兩〕、蔥白〔切一升〕，右水七升，
煮取二升，分三服，忌豬肉菘菜醋等物。
治妊娠三五月已來，忽心腹絞痛。
大棗〔十四枚燒令焦〕，右取小便調服之。
治妊娠心腹痛不可忍。
鹽〔一斤燒令赤〕，右以兩指取一撮，酒調服之。
治妊娠遍身痛，或衝心欲死，不能飲食。
白朮〔五兩〕、黃苓〔二兩〕、芍藥〔四兩炙令黃〕，
右以水六升，煮取二升半，為三服，緣胎有水致痛，兼易產。
治妊娠卒心痛，氣欲絕。
芎藭、當歸、茯苓各三兩、厚朴〔三兩炙〕，右水六升，煎取二升，分為兩服，
忌食如前。
治妊娠腰背痛，反覆不得。
鹿角〔一枚長五六寸燒令赤酒中淬之冷又燒之更淬以角碎為度〕，右取酒飲之，
作散服，鹿角亦得。
療妊娠先患冷氣，忽衝心腹，痛如刀刺。
芎藭、人參、茯苓、吳茱萸、桔梗、當歸各三兩、厚朴〔炙〕、芍藥〔炙〕各二兩，
右水九升，煎取三升，分三服，氣下即瘥。
治妊娠患腹痛，并胎動不安。
蔥白〔切一升〕、人參、厚朴〔炙〕、阿膠〔炙〕、芎藭各二兩、當歸〔三兩〕，
右水七升，煎取三升，分作三服。
治妊娠疼痛不可忍，或連胯痛。先服此散。
杜仲〔四兩〕、五加皮、阿膠〔炙〕、狗脊、防風、川芎、細辛、芍藥各三兩、萆薢
〔三兩〕、杏仁〔八十枚去尖〕，右水九升，煮取二升，去滓，下膠，作三服。
治妊娠三兩月，腰痛不可忍者。先服前散後服此丸
續斷、杜仲各十分、芎藭〔三兩〕、獨活〔三兩〕、狗脊、五加皮、萆薢、芍藥、
薯藥、訶子已上各八兩，右為末，蜜和為丸，梧桐大，空心，酒下四十九丸，日再服。
治觸動胎，以致腰痛背痛。
杜仲、五加皮、當歸、芍藥〔炙〕、芎藭、人參、萆薢各三兩，右以水七升，
煎取二升半，分溫三服。</p>
<h3>妊娠傷寒熱病防損胎方論第八〔凡五道〕</h3>
<p>論曰：非即之氣，傷折産婦，熱毒之氣，侵損胞胎，遂有墮胎漏血，俱害子母之命。
治妊娠傷寒，骨節疼痛，壯熱，不急治，則胎落。
蔥白〔切一升〕、前胡、葛根、石膏各十分、青黛六分、升麻〔八分〕、梔子仁
〔十二分〕，右以水七升，煮取二升半，分三服。
治妊娠頭痛壯熱，嘔吐不下食，心煩熱。
青竹茹、葛根、知母各三兩、蘆根〔一升〕、生麥門冬〔四兩去心〕，右水七升，
煎取三升，分三服。
治妊娠時氣頭痛，腰背強，壯熱。
升麻、黛青、前胡、黃芩、山梔各二兩、葛根〔三兩〕、石膏〔八分〕，
右水五升，煎取三升半，分為三服。
治妊娠六七月，傷寒熱入腹，大小便秘結不通，蒸熱。
前胡〔十分〕、大黃、石膏各二十分、梔子仁〔十枚〕、知母、黃芩、伏苓、生薑
〔各八分〕，右水八升，煎取二升半，後下大黃，更煎三五沸，分作三服。
治妊娠傷寒，苦熱不止，身上斑出，忽赤忽黑，小便如赤血，氣欲絕，胎欲落。
梔子仁、升麻〔各四兩〕、黛青〔二兩〕、石膏〔八兩碎〕、蔥白〔切一升〕、
生地黃〔二十分〕、黃芩〔三兩〕，右水九升，煎取三升，作三服，忌熱物。</p>
<h3>妊娠患淋小便不利方論第九〔凡二道〕</h3>
<p>治妊娠患淋，小便澀不利，小腹水道熱痛。
冬葵子〔一升〕、芍藥〔二兩炙〕、黃芩、茯苓、車錢子〔各三兩〕，右以水七升，
煎取二升，分溫三服。</p>
<h3>妊娠下痢黃水赤白方論第十〔凡七道〕</h3>
<p>論曰：妊娠下痢，皆因誤食生冷肥膩，冷即色白，熱即黃赤，氣不和，赤白相兼，
攪刺疼痛，脾胃不調之所致也。
治妊娠患痢膿血，狀如魚髓，小腹絞痛難忍。
薤白〔切一升〕、地榆、醋榴皮、黃連各三兩、阿膠〔二兩炙〕，右水七升，
煎取二升半，分三服，忌生冷肥膩。
治妊娠痢白膿，腹內冷。
乾薑〔四兩〕、赤石脂〔六兩〕、粳米〔一升炒令黃色〕，右水七升，煎取二升，
分三服，忌如前。
療妊娠腹痛，下痢不止。
黃連、石榴皮、當歸〔各三兩〕、阿膠〔二兩炙〕、艾〔一兩半〕，
右水六升，煎至二升，分為三服，忌如前。
療妊娠下痢，腹內痛，膿血不止。
黃連〔八分〕、厚朴〔炙〕、阿膠〔炙〕、當歸〔各六分〕、艾葉、黃柏〔各四分〕、
乾薑〔五分〕，右為末，空心，米飲調下一匙，日進三服。
療妊娠膝下刺痛，大便白，晝夜三五十行。
根黃〔厚者塗蜜炙令焦〕、大蒜〔炮令爛熟〕，右大蒜去皮，研如膏，和根黃末為丸，
如梧桐子大，空心粥飲下三十丸，日進三服妙。
療娠痢，黃水不絕。
厚朴〔三兩炙〕、黃連〔二兩〕、豆蔻〔五枚連皮〕，
右水二升，煮取一升，頻服，忌如前。
治妊娠忽被驚奔走，墮胎，下血不止兼痛。
乾地黃〔四兩〕、當歸、艾葉各二兩、阿膠〔炙〕、芎藭各三兩，右水七升，
煮取二升半，分作三服，痛加杜仲、五加皮各三兩。</p>
<h3>治妊娠水氣身腫腹脹方論第十一〔凡四道〕</h3>
<p>論曰：臟氣本弱，因產重虛，土不剋水，血散入四肢，遂致腹脹，手足面目皆浮腫，
小便秘澀。
治妊娠身腫有水氣，心腹脹滿，小便少。
茯苓〔四兩〕、杏仁〔尖去〕、檳榔〔三兩〕、旋覆花、郁李仁各一兩，右水六升，
煮取二升，分溫溫服，小便通即瘥。
治妊娠四肢皮肉拘急及腫。
桑白皮〔切二升〕、樟桂根〔一兩〕、赤小豆〔二升〕，右水一斗二升，煮二味，
取七升，下小豆，煮令熟，先食豆，候渴即飲其汁，
小便利即瘥。
治妊娠遍身洪腫方。
葶藶子〔十分〕、白朮〔二十分〕、茯苓〔二兩〕、桑白皮〔二兩〕、郁李仁〔八分〕
，右水六升，煎取二升，作兩服，小便利即瘥。
又方
澤瀉〔三兩〕、葶藶子〔三兩〕、白朮〔六兩〕、枳殼〔炙〕、茯苓〔各六兩〕，
右制度服，食如前。</p>
<h3>妊娠千金易產方論第十二〔凡六道〕</h3>
<p>論曰：夫婦人特將產至重者，胞衣也，凡胞衣不出者，世謂之息胞，由產時用力過度，
已產而體已疲頓，不能更用氣，經停之間，而外冷氣乘之，則血澀逆否，
故令胞衣不出，則不得斷臍沐浴，冷氣傷兒則成病也。
舊方胞衣不損兒者，依法截臍。而以物繫其帶一頭，所有產時看生人，不用意謹謢，
而率挽胞系斷其胞，上掩心而夭命也，凡欲產時，必先脫常所著衣裳，以籠神驗。
胞衣不出血
竈下土〔一大寸研碎〕，
右用好醋調令相和，內於臍中，續取生乾草湯三四合服。
又方
槐子〔十四枚〕、蒲黃〔一合〕，右酒煎溫服，須臾末效，更進一服。
又方
生地黃汁〔五合〕、生薑汁〔半大合〕，右煎三四沸，頓服之。
又方
槐子〔槐枝切一升最好〕、瞿麥〔八分〕、牛膝〔八分〕、通草〔十二分〕、
白榆〔切一大升〕、冬麥仁〔一大升研〕，右水五升，煎二大升，去滓，下麻仁，
分三服。
小品顏服散，令易產，母疾病，未生一月已前，預服，過三十日，行步不覺兒生。
甘草〔八分〕、粳米〔一合〕、大豆黃〔炒〕、黃芩、乾薑、桂心、吳茱萸、
冬麥仁〔研如泥〕各二分，右為末，空腹煖酒，服方寸匕，忌生冷肥膩。
又易產方
飛生鳥〔一隻燒〕、槐子〔十四枚〕、故箭羽〔十四片燒〕，右為末，蜜為丸，
大覺痛，服三十丸，未產須臾再服之。</p>
<h3>治產難諸疾方論第十三〔凡十二道〕</h3>
<p>易產方
榆白皮〔十四分〕、通草〔十二分〕、葵子〔三合〕、滑石、瞿麥〔各八分〕，
右水二升，煎取八合，分溫三服。
又方
羚羊角〔一枚燒刮取末〕，右以酒調方寸匕服。
又方
滑石〔八分〕、葵子〔一合〕、榆皮〔十二分〕、牛膝〔六分〕，右水一升八合，
煎取六合，再服。
又方
含醋噀面，悶即噀之。
又方
吞槐子七枚，即下。
又方
吞雞子白兩枚即產。
又方
兩手各把一石燕，立產。
又方
兔皮和毛〔燒灰研〕，右以酒調兩錢匕即產，衣不下，服之即下。
又方
大麻根三莖，右水一升，煎取半升，頓服立產，衣不下，服之即下。
又方
弓弩絃燒灰，右為末，酒調方寸匕，服之即下。
又方
銅弩牙，右燒赤，投於醋三合內，良久頓服，立產。
又方
麝香〔一錢〕，右研水調服之，立產。</p>
<h3>難產死生方論第十四〔凡八道〕</h3>
<p>療胎死腹中不出，母氣欲絕。
水銀〔二兩〕，
右頓吞之，兒立出。
治產橫倒不出。
右令夫唾口中二七遍，立出。
療產經數日不出，或子死腹。
瞿麥〔六兩〕、通草〔三兩〕、桂心〔三兩〕、榆白皮〔切一升〕，右水九升，
煎取三升，分三服。
又方
瞿麥，右水煮取濃汁，服之佳。
療子死腹中不出。
伏龍珠〔為末三錢〕，右酒調服之，土當兒頂上戴出妙。
又方
朱砂〔一兩〕，右水煎數沸，然後取酒和服之。
又方
水銀〔二兩〕，右水煮二三十沸，服之立產。
滑胎易產。
白蜜、苦酒、豬脂〔各一升〕，右相和，煎三四沸，臨腹痛時，以熱酒調下三四錢匕，
不過五六服即出。</p>
<h3>難產令易產方論第十五〔凡七道〕</h3>
<p>論曰：夫難產者，內宜用藥，外宜用法，蓋多門救療，以取其安也，療產難坐草數日，
困乏不能生，此為母先有病，經絡俱閉所然。
赤小豆〔二升〕、膠〔三升〕，右水九升，煎令熟，去豆內膠，烊令清服之，
須臾更一服。
又方
右令夫從外含水，吐著產婦口中，即出。
療難產，疑胎在腹已死。
當歸〔四分〕、芎藭〔六分〕，右水六升，煎取二升，分作兩服，便安胎，死即出，
酒煎亦得，神驗。
治難產困乏腹痛，有所見，兒及衣不出。
蒺藜子〔四兩〕、貝母〔四兩〕，右為末，每服一匙，酒調服之，時再服，以出為度，
熟水調下，亦得。
治難產
箭〔一隻燒為末〕，右以水調服之。
又方
鱉甲〔燒為末〕，
右服方寸匕立出，未生更服。
治療落胎腹痛。
芍藥、當歸、牛膝、瞿麥〔各五分〕、桂心、芎藭〔各四分〕，
右以水一升七合，煎取八合，空心溫服。</p>
<h3>胎死胞衣不出方論第十六〔凡十八道〕</h3>
<p>療妊娠經五六月，胎死腹中，或胞衣不出。
生地黃〔五兩〕、牛膝、朴硝〔各八分〕、桂心、芎藭、大黃各〔六分〕、蒲黃
〔五分〕，右水二升，煎取八合，入蒲黃，空心作二服。
療子死腹中不出。
雄雞糞〔二十一枚〕，右水二升，煎取五合，以米作粥食，胎即出。
治妊娠經六七月，子死腹中不出。
黑豆三合，右醋一升，煎取八合，空心，分溫三服。
治子死腹中，母悶絕。
水銀〔十二分〕，右取井底土，如雞子黃，水研服之。
又方
赤小豆，右生吞七枚出，若是女，即二七枚出。
經效理胎衣不出令爛。
牛膝、瞿麥〔各四兩〕、滑石〔研八分〕、當歸〔二兩〕、通草〔六兩〕、葵子
〔一升〕，右方五升，煎取二升，分三服，溫服。
又方
竈突土三撮，右和煖水服之。
崔氏治胎胞不出。
大豆〔一升〕，右苦酒五升，煮取三升，分為三服。
又方
右吞雞子兩三隻，解髮刺喉中令嘔，若因熱，以水煮螻蛄一枚，三四沸，
瀉口中汁下，即出。
又方
大麥、小麥、小豆，右等分相和，煮取濃汁，飲之出。
又方
赤朱〔一兩〕，右研為粉，以苦酒和服之，即出。
又方
皂莢，右為末，著鼻中兩度，自出。
療胞衣久不出，腹滿即殺人，服此方即爛。
桂心、牛膝、通草各三兩、滑石〔二兩〕、葵子〔一升〕、瞿麥〔四兩〕，右水九升，
煎取三升，分三服，甚效。
又方
瞿麥〔四兩〕、桂心〔三兩〕、通草〔三兩〕、牛膝〔五兩〕、葵子〔一升〕，
右水三升，煎取一升半，分為三服。
又方
真珠〔一兩〕，右研細，苦酒調服之。
又方
洗兒水，右取半碗，服之即出。
治胞衣不出。
牛膝〔八兩〕、葵子〔二升〕，右水七升，煮取三升，分三服。
胞衣半出半不出，或子死腹中，著脊不下，數日不產，血氣上衝。
牛膝〔六兩〕、葵子〔一升〕、榆白皮〔四兩〕、地黃汁〔八合〕，右水九升，
煎取三升，分三服即出。</p>
<h2>卷中</h2>
<h3>產後心驚中風方論第十七〔凡七道〕</h3>
<p>論曰：產後心悶氣絕，眼張口噤，通身強直，腰背反偃，狀如癎疾，心忪驚悸，
言語錯亂，皆是宿有風毒，因產心氣虛弱，風因產發成風疰。
防風、當歸、茯苓、漢防己、麻黃〔去節各八分〕、秦艽、人參、芎藭、獨活、
白鮮皮、甘草〔炙〕、白微各六分、石膏〔十二分〕、竹瀝〔二升〕，右水七升，
先煮麻黃掠去沫下諸藥，入竹瀝，煎取二升半，去滓，三服，忌菘菜豬肉生冷。
療產後狂語，志意不定，精神昏亂，心氣虛，風邪所致。
茯苓、乾地黃〔各十二分〕、遠志〔十分〕、白微、龍齒〔各十分〕、甘草〔炙〕、
人參、防風、獨活〔各八分〕，右以銀一大斤，水一斗五升，煎取七升，下諸藥，
煎取三升，分溫三服，忌如前。
療產後心虛，忪悸不定，亂語謬說，精神恍惚不定，當由心虛所致。
人參、甘草〔炙〕、芍藥、當歸、生薑〔各八分〕、遠志、茯苓〔各十分〕、桂心
〔六分〕、門冬〔去心〕、大棗〔各十二分〕，右水八升，煎取三升，去滓，分溫三服。
療產後心氣虛損，卒驚強語，或歌哭嗔笑，性氣不定。
上銀〔一斤〕、桂心、甘草〔各六分〕、細辛〔四分〕、人參、生薑、遠志、茯神
〔各八分〕、生地黃〔二十分〕、龍骨〔一分〕、大棗〔一枚〕，右水八升，
煮銀取一升半，入諸藥煎，分三服，溫溫進。
療產後多虛弱羸瘦，苦大汗痢，皆至於死，此重虛故，故患中風謬語，昏悶不知人者。
人參、茯苓、羌活、桂心、大棗、遠志〔各十分〕、竹瀝〔一升半〕，右水六升，
煮取三升，下竹瀝，更煎取二升，分為三服。
療產後身忽痓，口噤面青，手腳強急。
右竹瀝二升，飲之最佳。
產後惡寒壯熱，一夜三五度發惡語，口中瘡生，時時乾嘔，困乏欲絕。
人參、獨活、白鮮皮、葛根、防風、青竹茹、遠志各六分、茯神〔八分〕、白歛
〔十分〕、玄參〔十二分〕、竹瀝〔二升半〕，右銀一斤水，一斗五升，煎取七升，
下諸藥，重煎取三升，分溫三服，忌魚酒麵等物。</p>
<h3>產後餘血奔心煩悶方論第十八〔凡十五道〕</h3>
<p>論曰：餘血奔心，蓋是分娩不了解，便與童子小便并扞心下，及臥太早，
兼食不相宜之物所致，但能依方療之，無不痊可。
療產後心中虛熱煩悶，氣欲絕。
大棗〔十二分〕、茯苓〔十二分〕、生薑〔八分〕、甘草〔五分〕、竹瀝〔一升〕、
人參〔六分發熱方用〕、粳米〔若食小加三合〕、生麥門冬〔二十分〕，右水六升，
煎取三升，方下竹瀝，更煎取二分，分溫三服。
餘產後餘血不盡奔衝，心煩悶腹痛。
生地黃、芎藭〔各三兩〕、枳殼〔炒〕、芍藥〔各三兩〕，右擣篩為末，酒服方寸匕，
日進二服。又方
生藕〔研汁〕，
右飲二升甚效。
又方
清酒〔一升〕、生地黃汁〔一升〕，
右相和，煎一沸，分為兩服。
療產後腹內塊痛不止。
芎藭、當歸、芍藥、乾薑〔各二兩〕，
右擣羅為末，酒調方寸匕，日三服。
療產後下血不盡，腹內堅痛不可忍。
當歸、芍藥、桂心各三兩、桃仁〔一百二十枚〕，
右水六升，煮取二升，分溫二服，如未瘥，加大黃三兩。
療產後血結下不盡，腹絞痛不止。
大黃〔別浸〕、當歸、乾地黃各十分、芎藭、芍藥、桂心〔各八分〕、甘草炙、黃芩
〔各六分〕、桃仁〔四十九枚〕，右水七升，煮取二升半，下大黃，更煎三沸，
分為三服。
療先患冷氣，因產後發腹痛。
芎藭、桂心、當歸、茱萸、茯苓、芍藥、
甘草〔各六分〕、桃仁〔十分去尖〕，
右水七升，煮取二升，分三服。
治產後心腹切痛，不能食，乏氣忽熱。
當歸、芎藭、黃芩、人參、甘草、芍藥、防風、生薑〔各三分〕、桃仁〔八十枚〕，
右水七升，煮取二升，下大黃，更煎三沸，分作三服。
療產後血不盡，腹中除痛無計。
青木香、當歸、牛膝、芎藭、黃耆、芍藥〔各八分〕、大黃〔十三分浸〕、芒硝
〔十二分〕，右水七升，煎取二升，後下大黃，更煎三沸，分三服。
療產後血下不止，虛羸迨死。
蒲黃〔二兩〕，右水二升，煎取八合，頓服。
療產後血泄不止，無禁度。
乾地黃末，
右酒服匙頭，日三四服。
療產後餘血攻心，或下血不止，心悶面青，冷氣欲絕。
羊血，右以一盞頓服，如不定，更服立效。
療氣痛欲死。
槐雞〔半兩〕，右為末，用酒濃煎，頓服立愈。
療產後餘血作痛兼塊者。
桂心、薑黃，右等分為末，酒服方寸匕，血下盡妙。</p>
<h3>產後渴不止方論第十九〔凡二道〕</h3>
<p>療產後渴不止，飲水，小便數多。
土瓜根、栝蔞根、人參、甘草、牡蠣粉〔各二兩〕、大棗〔十二枚〕，右水九升，
煮取三升，分溫三服。
療產後大渴不止。
蘆根〔切一升〕、栝蔞〔三兩〕、人參、甘草、茯苓各三兩、大棗〔十二枚〕、
生麥門冬〔四兩〕，右水九升，煮取三升，分為三服，頓服，四劑即瘥，忌菘菜。</p>
<h3>產後淋病諸方論第二十〔凡六道〕</h3>
<p>論曰：產後患淋，因虛損後有熱氣客於胞中，內虛則起數，熱則小便澀痛，故謂之淋，
又有因產損血氣，血氣虛則挾熱，熱搏於血，血即流滲於胞中，
故血隨小便出為血淋者，如雨之淋也。
療產後淋病小便澀痛或血淋者。
瞿麥、黃芩、冬葵子各二兩、通草〔三兩〕、大棗〔十二枚〕，右水七升，
煮取二升半，分作兩服。
療產後血淋。
車前子、睢麥各四兩、黃芩〔三兩〕、鬱金〔一兩末〕，右水六升，取二升，
下鬱金末分三服
廣濟療產後卒患淋穴便澀痛及血淋。
冬葵子〔三合〕、石葦〔二兩炙去毛〕、通草、黃芩、滑石、茯苓〔各三兩〕，
右水二升，煎取一升，下滑石空心服。
集驗療產患淋小便痛。
石葦〔炙去毛〕、黃芩〔各二兩〕、通草、芍藥、甘草、冬葵子〔各三兩〕、榆白皮
〔五合〕，右水二升，煎取一升，空心溫溫服。
經效療產後氣淋熱淋。
貝齒〔兩枚燒作末〕、葵子〔二兩〕、石膏〔五兩〕、陽石末三兩，右水二升，
煎取一升，下兩般末空心服。
療產後淋小便痛及血淋。
黃茅〔五兩〕、瞿麥〔二兩〕、車前子〔二兩〕、通草〔三兩〕、冬葵子〔二合〕、
鯉魚齒〔一百枚為末〕，
右水二升，煎取一升，入齒末，空心分兩服。</p>
<h3>產後虛羸下痢方論第二十一〔凡三道〕</h3>
<p>論曰：產後本虛患痢，更加羸弱，飲食不進，便痢無常，赤白不定，
蓋因飲食傷於生冷之致。
療產後虛羸，下痢膿血腹痛。
黃連、芍藥、甘草、當歸、乾薑、人參〔各八分〕、艾葉〔三分〕，右水七升，
煮取二升，分為三服，忌豬鹿肉。
療產後痢不禁止，因乏氣欲絕，無問赤白水榖。
黃連、厚朴各三兩、芍藥、黃柏〔各二兩〕，右水六升，煮取二升，分為二服。
療產痢赤白，心腺絞痛羸困。
地榆、石榴皮、黃連各三兩、當歸〔二兩〕、薤白〔切一升〕，右水七升，
煮取二升半，分為三服。</p>
<h3>產腰痛羸瘦補益玉門不閉方論第二十二</h3>
<p>療產後少氣，困乏虛煩。
人參〔十二分〕、甘草、桂心、茯苓、芍藥〔各八分〕、生地黃、生麥門冬
〔各十二分〕，右水九升煮取二升，分溫三服。
療產後喘乏氣羸，腺內絞痛，血汗出。
黃耆、人參、茯苓、甘草、當歸、芎藭五味子、白朮〔各八分〕、澤蘭葉、
橘皮各六分、訶子、麥門冬〔各十二分〕、桂心、乾地黃〔各十二分〕，右擣羅為散，
煉蜜和丸，如梧桐子，空心酒下三十丸，日再服。
療產後風虛，羸弱勞瘦，不生肌肉。
黃耆、當歸、芍藥、人參〔各二兩〕、桂心、甘草〔炙〕、芎藭、生薑各八分、大棗
〔十二枚〕，右水七升，煮取三升，分溫三服。
療產後虛勞，骨節疼痛，頭疼汗不出。
當歸、人參、生薑各二分、黃耆〔三兩〕、豉〔五合〕、粳米〔三合〕、豬腎
〔一對切〕、薤白〔切三合〕，右水一斗五升，先煮豬腎取六升，後下諸藥，煎至二升，
分為三服。
又方
豬腎一對，右入蔥豉作臛，如常食之。
療產大虛，心腺急痛，血氣上搶心，氣息乏補益方。
黃耆、白朮、當歸、甘草〔炙〕、人參各二兩、生薑〔四兩〕、白羊肉，
右水一斗九升，煮肉取五升，後下諸藥更煎取三升為三服。
療產後陰腫，下脫肉，出玉門不閉。
石灰〔一斤炒令色黃〕，右水二升，投灰中，停冷澄清，重燒以浸玉門，
斯須平後如故。</p>
<h3>產後中風方論第二十三〔凡十五道〕</h3>
<p>論曰：產後中風，由產傷動血氣，勞損臟腑，未平復起，早勞動，氣虛而風邪氣乘之，
故中風，風邪冷氣，客於皮膚經絡，但疼痺羸乏，不任少氣，
若又筋脈挾寒則姅急喎僻，挾溫則弛縱緩弱，若入諸藏，恍惚驚悸，
隨其所傷臟腑經絡而生病。療產後中風口噤，不任大小獨活湯。
獨活〔四分〕、乾薑〔六分〕、甘草〔二分〕、生薑〔六分〕，
右水二大升，煎取一大升，分為兩服。
小品大豆湯，主產後中風困篤，或背強口噤，或但煩躁，或頭身皆重，或身癢，
劇者嘔吐直視，此皆虛冷中風直餌此。
大豆〔三升炒令極熟〕，右以銅器盛清酒五升沃之，密封良久，去豆分為三服，
服了覆衣取微汗，身才潤即愈，產後皆宜服，一則防風，二乃消血。
張仲文療產後中風受寒，遍身冷直，口噤不識人等方。
白朮〔四兩〕，右酒三升，煎取一升，頓服之效。
千金雞糞酒，療產後中風，及男子諸中風，井產後百疾神效方。
烏雞糞〔三升〕、大豆〔二升〕，右先炒豆令聲絕，次炒雞糞令黃，以酒一升，
先淋雞糞，取汁淋大豆，每服一升。
重者凡四五日，服之極妙。
經效療產後風虛頭痛，語言時僻。
乾葛、防風、茯苓、麥門冬〔各八分〕、芍藥、芩〔各六分〕、犀角〔四分〕、甘草
〔三分炙〕，右水二升，煎取七合，分為兩服。
療產後中風心忪悸，或志意不定恍惚，言語錯亂方。
人參〔六分〕、茯神、麥門冬、羚羊角〔各八分〕、黃芩白鮮皮、甘草〔各四兩〕、
石膏〔十二分〕，淡竹瀝〔兩大合〕，
右水二大升，煎取七合，煎取七合，下竹瀝分為三服。
療產後中風，身背拘急如束，并渴。
芎藭、芍藥、羌活、羚羊角、酸棗仁〔各四兩〕、桑白皮〔六分〕、防風〔五分〕，
右水四升，煎取二升，分溫三服。
療產後中風，四肢拘束筋節掣痛，不得轉側，角弓反張。
麻黃〔八分去節〕、生薑、桂心、白朮各四分、防風、芍藥〔各六分〕、芎藭〔五分〕
、甜竹瀝〔二合〕，右水三升，先煎麻黃掠去沬，下諸煎取七合，方下竹瀝，
更煎三沸，食後分三服，取微汗為度。
療產後中風，血氣不散，邪氣入藏，狂言妄語，精神錯亂，腰痛骨疼。
麻黃、茯神各八分、防風、白鮮皮〔各六分〕、杏仁、當歸、桂心〔各四分〕、芍藥、
獨活〔各五分〕，右水二升五合，煎取九合，空腹熱服。
療產後中風，身體疼痛，四肢痿弱不遂，羌活湯。
羌活、芍藥、黃耆〔各六分〕、乾葛、麻黃、乾地黃〔各八分〕、甘草、桂心
〔各四分〕，右水二升，先煎麻黃去沬，後下諸藥，取八合，食後熱服，覆衣出汗愈。
療產後中風，煩渴。
紅花子〔五合微熱研碎〕，右水一升，煎一匙頭，取七合，徐徐呷之。
療產後中風，口噤四肢頑痺不仁，或如角弓張。
羌活、防風〔各三兩〕、大豆〔一升炒令皮拆〕，右酒五升，先浸兩味，經宿，
將炒豆熱投酒中，攪勻，蜜封一日，以湯煮瓶良久，服八合，覆衣取汗急速，
且以豆淋，服羌活、防風亦佳。
療產後中風，腰背強直，時時反張名風痙。
防風、葛根、芎藭、乾地黃〔各八分〕、麻黃〔去節〕、甘草、桂心、獨活、漢防己
〔各六兩〕、杏仁〔五枚去尖〕，右水八升，煮麻黃去沫，後下諸藥，煎取三升，
分溫三服。
療產後中風口噤，潰悶不能言，身體痙直。
羌活、防風、秦艽、桂心、甘草、葛根〔各三分〕、生薑〔八分〕、附子〔一隻炮〕、
杏仁〔八十枚去尖〕、麻黃〔十分去篩〕，右水九升，先煮麻黃去沫，後下諸藥，
取二升，分為三服。
療產後中風口噤，拘急困篤，腰背強直時反張。
大豆〔二升炒令聲絕〕，右清酒六升投之，煮三四沸，去滓飲之，令微醉，如汗出瘥，
切勿觸風，如已成風者，加雞糞白和豆炒，同喫，兼飲竹瀝佳。</p>
<h3>產後餘血上搶心痛方論第二十四〔凡六道〕</h3>
<p>論曰：夫產後血上搶心，由產後氣虛挾宿冷，冷搏於血，則凝結不消，氣逆上者，
則血隨上衝擊而心痛也，凡產後餘血不盡，得冷則結，與氣相搏則痛困，重遏於寒，
血結尤甚。
乾地黃、當歸、獨活、吳茱萸、芍藥、乾薑、甘草〔各三兩〕、細辛〔一兩〕，
右水三升，煎取一升，空心分三服，忌生冷。
經效療產後氣虛，冷搏於血，血氣結滯，上衝心滿脹，當歸湯。
當歸、桂心、芎藭、橘皮、生薑、吳茱萸各二兩、芍藥〔三兩〕，右水三升，
煮取一升，空心服。
千金治產後內虛，寒氣入腹，腹中絞痛，下赤白痢，妄言見鬼，羊肉湯。
甘草炙、當歸、芍藥〔各一兩〕、肥羊肉〔一斤去脂〕，
右水六升，先煮肉取二升，去肉入諸藥，更煎取一升，分作兩服。
千金翼茱萸酒，論心腹內外痛。
吳茱萸〔十二分〕，右酒二大升，煎取一升，空心分兩服。
必效療腹中絞刺痛方。
羌活〔二大兩〕，右酒二升，煎取一升，去滓，分為兩服。
千金治產後渴少氣。
麥門冬、淡竹葉〔各十二分〕、大棗〔七枚〕、生薑、甘草、人參〔各六分〕、小麥
〔五合〕，右水二升半，煎取一大升，去滓分兩服。</p>
<h3>產後汗不止方論第二十五〔凡五道〕</h3>
<p>論曰：產後汗不止，夫汗由陰虛而得，又加之裏虛表實，陽氣發於外，故汗出為陰虛，
是令汗出，為陰氣虛弱未平復也，凡產後皆血氣虛，故多汗，因遇風邪，則變為疾也。
千金治產後風虛，汗出不止，小便難，四肢微急，難以屈伸。
大棗〔十二枚〕、附子、桂心〔各四兩〕、芍藥〔八分〕、生薑〔六分〕，右水三升，
煎取七合，空腹分為兩服，忌豬肉冷水生葱等物。
經效療產後汗不止。
黃耆〔十二分〕、白朮、牡蠣、茯苓、防風、乾地黃、麥門冬各八分、大棗〔七枚〕，
右水二升，煎取七合，空心分為兩服。
千金治產後餘疾，腹中絞痛，不下食，瘦乏。
當歸、黃耆、芍藥〔各六分〕、乾地黃、白朮〔各八分〕、桂心、甘草〔各四分〕、
大棗〔十四枚〕，右水二升，煎取八合，空心作兩大服，忌生葱。</p>
<h3>產後冷熱痢方論第二十六〔凡二道〕</h3>
<p>療產後驟血不止，續命湯。
白蜜〔一匙頭〕、生薑〔一片〕，右同煎候蜜色赤，投童子小便一升，去薑，
更煎兩沸，分為三服，頓服之。
廣濟治產後腹痛氣脹，脅下悶，不下食，兼微痢。
茯苓、人參、當歸、甘草〔各六分〕、生薑、陳橘皮〔各四分〕、厚朴〔八分炙〕，
右水二升，煎取七合，空心分為兩服，忌如前。</p>
<h3>產後虛羸方論第二十七〔凡三道〕</h3>
<p>論曰：產後虛羸者，因產損傷臟腑，勞侵氣血，輕者將養滿日即瘥，重者日月雖滿，
氣血猶不調和，故患虛羸也。
廣濟治產後風虛冷氣，腹肚不調，補益悅澤。
澤蘭、桂心、遠志、厚朴〔炙〕、石斛、白芷、續斷、防風、乾薑〔各三分〕、芎藭、
白朮、柏子仁、黃耆〔各四分〕、甘草、當歸〔各五分〕、赤石脂、乾地黃〔各六分〕
、人參〔三分〕，右擣羅為末，煉蜜為丸，如梧桐子大，空心酒下五十丸，忌如前。
桃仁煎，療產後百病，及諸氣，補益悅澤。
桃仁〔一千二百枚去皮尖炒熟研如膏〕，右酒一斗五升，研濾三四遍，如作麥粥法，
以極細為佳，內長頸小瓶中，密封頭，內湯中，煮一日一夜，使瓶口常出湯上，
勿令沒，熟後以酒服一合，日再服。
千金增減澤蘭丸，療產後百病，治血補虛勞。
澤蘭、防風、甘草、當歸、芎藭〔各七分〕、乾薑、麥門冬〔各八分〕、附子、白朮、
桂心、細辛〔各四分〕、柏子仁、乾地黃、石斛〔各六分〕、人參、牛膝〔各五分〕、
厚朴、葉本〔各二分〕，右為末，蜜丸，梧桐子大，空心酒下二十丸，忌如前。</p>
<h3>產後煩渴方論第二十八〔凡二道〕</h3>
<p>經效理產後血氣心煩渴。
紫葛〔三大兩〕，右水二升，煎取一升，去滓，呷之效。
集驗療產後心煩渴。
瓜蔞根、人參、甘草炙各六兩、麥門冬〔二分〕、大棗〔七枚〕、生地黃〔十二分〕，
右水二大升，煎取八合，食後分為兩服。</p>
<h3>產後煩悶虛熱方論第二十九〔凡六道〕</h3>
<p>論曰：產後煩悶虛熱，夫產即臟腑勞傷，血氣傷而風邪乘之，搏於血，使氣不宣，
而痞澀則生熱，或肢節煩疼口乾，但因生熱，其煩悶由產後血氣虛弱未復，
而氣逆乘之，故煩悶也，其氣故令脅滿，妨不下食。
生地黃汁〔一升〕、當歸〔一兩半〕、清酒〔五升〕、生薑汁〔三合〕、童子小便
〔二升〕，右相和合煎三四沸，分溫四服，中間藥消進食，食消更進藥。
經效理血氣煩悶，脅肋脹滿及痛。
芍藥、蒲黃、延胡索各四分、當歸〔六分〕、荷葉蒂三枚炙，右水二升，煎七合，
後入蒲黃，空心服兩服。
又方
生藕，右取汁，煎兩沸，飲兩服效。
集驗療產後血氣煩悶。
酒〔二合〕、生地黃汁〔一升〕，右相和，煎一兩沸，分為兩服，立效。
千金療產後血氣喘，心煩悶不解。
淡竹葉、麥門冬、小麥、茯苓〔各二分〕、甘草、生薑〔各一兩〕、大棗〔七枚〕，
心悸，加人參二兩食少，加粳米〔二合〕，右水二升，煎取七合，食後分為兩服。
療產後血下不盡，
煩悶腹痛。羚羊角〔炭火上燒作膠二兩古方燒作灰〕、芍藥〔二兩炒黃〕、枳殼
〔二兩炒令焦黃色〕，右擣羅為散，水調方寸匕，服之。</p>
<h3>產後血瘕方論第三十〔凡四道〕</h3>
<p>論曰：產後血斷，由新產之後，有血氣相搏，謂之瘕，瘕者，假也，謂其痛浮走無定，
緣內宿有冷血氣，不治，至產血下即少，故成此疾也。
童子小便〔三升〕、生藕汁〔一大升〕、地黃汁〔一升〕、生薑汁〔三升〕，
右先煎三味，合三分，減二次，下薑汁，慢火煎如稀餳，每取一合，煖酒調服。
療血瘕痛，臍下脹，不下食。
當歸〔八分〕、桂心、芍藥、蒲黃、麟竭〔各六分〕、延胡索〔四分〕，右為散，
空心溫酒調下兩錢匕。
千金療血瘕。
乾地黃〔一兩〕、烏賊魚骨〔二兩〕，右為散，空腹溫酒下兩錢匕。
又方
鐵秤錘〔燒赤〕，右以酒一升淬之，分為兩服。</p>
<h3>產後餘疾痢膿血方論第三十一〔凡八道〕</h3>
<p>論曰：產後餘病，由產勞傷臟腑不足，日月未滿，起早勞動，虛損不補，為所傷冷，
氣力瘦乏，若風冷入於胃，胃傷虛冷，則血即變白膿，膿血相雜，冷熱不調，
為滯痢也。深師方。
黃連〔六兩〕、烏梅〔三兩〕、乾薑〔二兩〕，右為末，煉蜜為丸，如桐梧子大，
空心米飲下三十丸，忌如前。
廣濟療產後赤白痢，臍腹絞痛。
當歸、黃連〔各八兩〕、艾葉、地榆、甘草〔炙〕、龍骨、厚朴、黃芩、乾薑各六兩，
右水二大升，煎取七合，空心分兩服。
經效療產後赤白痢，臍下氣痛。
厚朴〔八分〕、當歸、枳殼、訶子〔各六分〕、甘草〔五分〕、肉豆蔻〔五枚〕、
薤切〔三合〕，右水一升，煎取九合，空心分為三服。
張仲文療產後赤白痢，腹中絞痛。
黃連、阿膠〔炙〕、蒲黃〔各一兩〕、梔子仁、當歸黃芩，右為散，
空腹米飲下方寸匕，日兩服。
救急療產後赤白痢，腹中絞痛。
芍藥、阿膠、艾葉〔各二兩〕、乾地黃、甘草、當歸各三兩，右水一升，煎取八合，
空心分兩服。
必效療產後赤白痢，腹中絞痛，不下食。
當歸、石榴皮、地榆〔各二兩〕、白芰荷、黃連〔各十二兩〕、黃柏〔一分〕、犀角
〔四兩〕、黃芩、枳殼、甘草、升麻〔各六分〕、茜根〔八分〕、粳米〔二合〕、薤白
〔切一升〕，右為末蜜丸，如梧桐子大，空心米飲下二十丸。
療產後血痢，小便不通，臍腹痛。
生馬齒菜，右擣取汁三大合，煎一沸，下蜜一合調，頓服。
千金療產後水痢，霍亂下痢無度。
白石脂、乾薑〔各十二分〕，
右為散，麵粥為丸，梧桐子大，空心米飲下三十丸。</p>
<h3>產後小便赤方論第三十二〔凡二道〕</h3>
<p>論曰：產後小便數，此由胞內宿有冷，因產後冷發動，冷氣入腹，虛弱不能制，
其小便即數，有遺尿者，由產用氣，傷於膀胱，而冷氣入於胞，胞囊決漏，不禁小便，
故令遺失，多因產難之所致。
廣濟療產後小便不禁。
雞屎〔燒作灰〕，右研細，空腹酒服方寸匕。
千金翼療產後小便數及遺尿。
桑螵蛸〔三十枚炒〕、鹿茸〔炙〕、黃耆〔各三兩〕、赤石脂、厚朴〔炙〕、牡蠣
〔各二兩〕，右擣羅為末，空心米飲下方寸匕，忌冷茶毒等物。</p>
<h2>卷下</h2>
<h3>產後小便遺血方論三十三〔凡四道〕</h3>
<p>療產後大小便利血。
車前子、黃芩、蒲黃、乾地黃、牡蠣、芍藥〔各六分〕，右為散，空心，
米飲服方寸匕，忌麵蒜。
崔氏療產後血氣滲入大小腸。
車前草汁〔一升〕、蜜〔一大合〕，右相和，煎取一沸，分為兩服。
又小便利血。
亂髮燒灰研如粉，右米飲服方寸匕。
古今經驗療產後勞傷熱，大小便赤澀。
雞蘇〔一分〕、通草〔十分〕、冬葵子〔三合〕、芍藥、滑石、芒硝各八分、生地黃
〔十二分〕，右水三升，煮取八合，下芒硝，空心分三服。</p>
<h3>產後大小便不通方論第三十四〔凡四道〕</h3>
<p>論曰：產後大小便不通，腸胃本挾於熱，因產大小便血俱下，津液竭燥，腸胃痞澀，
熱氣結於腸胃，故不通也。
集驗療產後津液竭燥，大小便不通。
芍藥、大黃、枳殼、麻仁研〔各二兩〕，右為末，煉蜜和丸，梧桐子大，空心，
熟水下二十丸，漸加之，以利為度。
經效療大便不通，熱氣結於腸胃。
大黃〔二兩〕、芒硝〔一兩〕，右水一大升，煎取六合，下芒硝，空心，作兩服。
古今錄驗療產後大便不通。
黃芩、芒硝〔各六分〕、大黃、芍藥、杏仁〔去皮尖研如膏各八分〕，右為末，蜜丸，
梧桐子大，空心，煎水下十五丸，漸加，以利為度。
千金療產後熱結，大便不通。
蜜〔五合火煎令強以水投中良久取出〕，
右捻如拇指大，長二寸，內下部即通。</p>
<h3>產後寒熱方論第三十五〔凡四道〕</h3>
<p>論曰：產後寒熱，因產勞傷血氣，使陰陽不和，反相乘剋，陽勝則熱，陰勝則寒，
陰陽相激，故發寒熱，又產餘血亦令人寒熱，其腹時痛則是也。
療產後虛弱喘乏，作寒熱，狀如瘧，名為蓐勞。
豬腎〔一具切去膜〕、豉〔五合綿裹〕、白梁〔二合〕、癎白切〔一升〕、人參、
當歸〔各一兩〕，右水二升，煎取八合，分為兩服。
經效療產後虛煩頭痛，氣短欲死，心亂不解。
淡竹茹、乾葛〔各八分〕、甘草〔六分〕、麥門冬子〔三合〕、小麥〔二合〕、石膏
〔十二分〕，右水二升，煎取八合，食後分為兩服。
療產後虛熱煩痛。
乾地黃、牡蠣、茯苓〔各八分〕、芍藥〔十二分〕、黃芩、桂心各六分，
右水二升，煎取一升，分為兩服。</p>
<h3>產後咳嗽方論第三十六〔凡三道〕</h3>
<p>論曰：喘嗽肺臟微寒，即成喘嗽，又因產後氣虛，風寒傷於肺，故令咳嗽。
集驗療產後風傷寒，咳嗽多疾，唾粘。
甘草、桔梗〔各六分〕、款冬花〔四分〕、生麥門冬〔各十二分〕、蔥白〔一握〕、
豉〔二合舊方不蔥白與豉〕，右水二升，煎取八合，食後，良久兩服。
經效療咳嗽多痰，唾粘氣急。
前胡、五味子、紫菀、貝母〔各六分〕、桑白皮、茯苓〔各八分〕、淡竹葉〔二十片〕
，右水二升，煎取八合，食後分為兩服。
療產後咳嗽氣喘。
百部根、桔梗各六分、桑白皮〔十二分〕、乾百合、赤茯苓各八分，右水二升，
煎取七合，食後，分兩服。</p>
<h3>產後氣痢方論三十七〔凡六道〕</h3>
<p>論曰：妊娠之時，脾胃氣挾於冷，大腸氣虛，因產後轉加虛損，或誤食生冷酒麵，
便成痢疾，赤白氣不和，赤黃胃熱，或青色極冷也。
療產後氣痢不止。
青木香〔三分〕、訶子皮〔八分酥炙令黃〕，右為散，空心，米飲調方寸匕，服之。
療產後赤白痢疾。
黃連〔八分〕、阿膠〔炙六分〕、赤茯苓、當歸、黃檗〔各四分〕、乾薑〔三分〕，
右為末蜜丸，如梧桐子大，空心，粥飲二十丸。
療產後水痢。
枳殼〔四分〕、厚朴〔炙〕、茯苓、黃連各六分、當歸〔三分〕，右水一升，
煎取八合，空心，分為三服。
又方
黃連〔六分〕、烏梅肉〔五分〕、石榴皮、當歸、赤石脂〔各四分、乾薑〔三分〕，
右為末蜜丸，梧桐子大，空心，米飲下三十丸。
療產後下痢，赤白有血。
赤石脂、黃連、地榆〔各六分〕、當歸〔四分〕、乾薑、甘草〔各三分〕、厚朴
〔十二分〕、薤白〔七莖〕，右水二升，煎取八合，空心，分兩服。
療產後血痢不止。
臭樗根〔六分〕，右為末，水和丸，如棗核大，麵柦作飩餛，每度煮二七個，熱吞之。</p>
<h3>產後血暈悶絕方論第三十八〔凡十道〕</h3>
<p>論曰：產後血暈者，其狀心煩，氣欲絕是也，亦有用心過多而暈，亦有下血極少亦暈，
若下血多暈者，但煩而己，下血少而氣逆者，則血隨氣上撩，心下滿急，
此二者難並為暈，而症狀各異，當問其產婦血下多少即知，須速投方藥，若不急療，
即危其命也，凡暈者，熱血氣乘虛奔逆上所致也，但才分解了，燒秤錘江石令赤，
置器中，向產母床前帳裏投醋淬之，得醋氣可除血暈之法也，十日內時時作，
此法不妨暈者，如日月之有暈也。
經效產後虛悶，汗出不識人。
雞子〔三個〕，右打破吞之便醒，不醒者，可灌童子小便，入腹即醒，若久不醒，
忽時時發者。
此為有風，因產血氣暴風虛風行脈中，若虛去血多者，尤甚也。
產後血氣暴虛，汗出。
淡竹葉，右煎湯三合，微溫服之，須臾再服。
又方
馬齒菜〔葉研取汁三大合如無用乾者亦得〕，右煎一沸，投蜜一匙，令勻頓服。
廣濟療產後血暈，心悶不識人，神言鬼語，氣息欲絕。
芍藥、甘草〔各一兩〕、生地黃汁〔一升〕，丹參〔四分〕、生薑汁、蜜〔各一合〕，
右水二升，煎取八合，下地黃、薑、蜜汁，分兩服。
療產後惡露不多，下腹絞痛。
大黃〔八分〕、牛膝〔六分〕、芍藥、蒲黃〔各四分〕、牡丹皮、當歸〔各二分〕，
右為末，空心煖酒，服方寸匕。
救急療產後血不盡，疼悶心痛。
荷葉〔炒令香〕，右為散，煎水調方寸匕，服。
療初平安血氣煩悶。
童子小便〔五合〕、生地黃汁〔三合〕，右煎三沸，溫再服。
療產後血暈虛悶。
蒲黃〔四分〕、紫葛、芍藥〔各八分〕、紅藍花〔十二分〕，右水二升，煎取七合，
入生地黃汁二合，更煎三五沸，每服三合。
產後血暈，心悶亂恍惚如見鬼。
生益母草〔汁三合根亦得〕、地黃汁〔二合〕、小便〔一合〕、雞子〔三枚取清〕，
右煎三四沸，後入雞子清，勻攪，作一服。
產後血暈，狂語不識人，狂亂。
童子小便〔五合〕、地黃汁〔一合〕、赤馬通〔七枝〕、紅雪〔八分〕，右以上二味，
浸馬通絞去滓，下紅雪，溫兩服。</p>
<h3>產後乳無汁方論第三十九〔凡五道〕</h3>
<p>論曰：氣血虛弱，經絡不調所致也，乳汁勿投於地，蟲蟻食之，令乳無汁，
可臥東壁上佳。
療產後乳無汁。
土瓜根、漏蘆〔各三兩〕、甘草〔二兩〕、通草〔四兩〕，右水八升，煎取兩升，
分溫三服，忌如常法。
又方
土瓜根，右為末，酒調兩錢匕，日進二三服效。
又方
母豬蹄〔二枚切〕、通草〔六兩〕，右以綿裹，煮作羹食之，最好。
又方
漏蘆、通草、土瓜根〔各三兩〕、甘草、桂心〔各一兩〕，右為散，飲服方寸匕，
日進三服。
又方
栝樓末，
右以井花水，服方寸匕，日二服，夜流出。</p>
<h3>產後乳結癰方論第四十〔凡十九道〕</h3>
<p>論曰：產後宜裂去乳汁，不宜蓄積，不出惡汁，內引瘀熱，則結硬堅腫，牽急疼痛，
或渴思飲，其嬭手近不得，若成膿者名姤乳，乃急於癰，宜服連翹湯，利下熱毒，
外以赤小豆末，水調塗之，便愈，忽數，擔去乳汁，忽小孩手勻動之，
忽大人含水嗍之，得汁吐之，其汁狀如膿，若產後不曾乳兒，蓄積乳汁，亦結成癰。
產後姤乳并癰。
連翹子、升麻、芒硝〔各十分〕、玄參、芍藥、白歛、漢防己、夜干〔各八分〕、大黃
〔十二分〕、甘草〔六分〕、杏仁〔八十枚去尖〕，右水九升，煎取三升，下大黃，
次下硝，分三服。
又方
右熟擣傅腫上，日三度易之，并葉煎汁飲之，亦佳，食之亦得，姤乳及癰並差。
又方
地黃，右取汁，塗熟即差。
療乳腫。
右以馬溺塗之，立愈。
療婦人發乳，丈夫發背，爛生膿血後，虛成氣疾。
黃耆、地黃、麥門冬、升麻、人參、茯苓〔各三兩〕、當歸、芍藥、遠志、甘草
〔各一兩〕、大棗〔十枚〕，右水二升，煮取一升，分溫兩服。
療乳頭裂破。
右以丁香為末，傅之立愈。
療姤乳及癰。
葵莖及子，右擣篩為散，服方寸匕即愈。
又方
雞屎，右為末，服方寸匕，須臾三服愈。
又方
皂莢〔十條〕，右以酒一升，揉取汁，硝石半兩，煎成膏傅之。
療諸癰不散，已成膿，懼鍼，令自決破下。
右取白雞內翅，及第一翎各一莖，燒末服之，即決。
又方
取雄雀糞白者研塗上，乾即易之。
療乳癰初得令消。
赤小豆、莽草，右等分為末，苦酒和傅之愈。
療發背乳癰，四肢虛熱大渴。
竹葉〔切三升以水一斗二升煮取九升〕、生地黃〔六兩〕、黃芩、芍藥、人參、知母、
甘草〔各二兩〕、升麻、黃耆、麥門冬、栝樓〔各三兩〕、大棗〔十二枚〕，
右以竹葉汁煮取三升，渴則飲之。
療乳腫方。
升麻、白歛、大黃〔各三兩〕、黃芩、芒硝〔各二兩〕，右水二升，煎取一升，下硝，
分為兩服，後以綿縕藥貼腫上，日夜勿停即差。
又方
黃檗〔一分末〕、雞子白，右調和勻塗之，乾則易，立愈。
又方
苧根，右擣傅之愈。
又方
鹿角，右於石上磨取濁汁塗上，乾則易之。
又方
鹿角，右燒作灰，以酒調塗之立愈。
又方
粢米粉〔炒令黑〕，右以雞子白和如泥，以塗帛上貼之，穿帛作穴，以泄癰毒氣，
易之效。</p>
<p>產後乳汁自出方論第四十一〔凡三道〕
論曰：產後乳汁自出，蓋是身虛所致，宜服補藥以止之，若乳多溫滿急痛者，溫熨之。
療乳癰始作。
大黃、樗實〔各三兩〕、芍藥〔六分〕、馬蹄〔炙六分〕。</p>
<h2>經效產寶續編</h2>
<h3>周頲傳授濟急方論〔凡四道〕</h3>
<p>頲嘗見人傳經效諸方，自曾修合，實有有大功，遂編於卷末，普用傳授，以濟急難，
治產後血暈血氣，及滯血不散，便成癥瘕兼瀉，面色黃腫，嘔逆惡心，頭痛目眩，
口吐清水，四肢弱，五臟虛怯，常日睡多，喫食減少，漸覺羸瘦，年久變為勞疾，
如此所患，偏宜服餌勝金丸。
澤蘭〔四兩〕、當歸、芍藥、芫荑、甘草、芎藭〔各六分〕、乾薑、桂心〔各三分半〕
、石膏、桔梗、細辛、茱萸、柏子仁、防風、厚朴、烏頭、白微、枳殼、南椒、
金釵石斛、石頷、蒲黃、茯苓〔各三分〕、白朮、白芷、人參、葉本、青木香
〔各一分〕，右二十八味，並州土分兩差，杵羅為末，煉蜜為丸，彈子大，有所患，
熱酒研一丸，入口便愈，忌腥膩熱麵豉汁生蔥冷水果子等，若死胎不下，胎衣在腹，
並以炒鹽酒研服，未退再服。
治產後諸疾，聖散子。
澤蘭〔九分〕、石膏〔八分如粉〕、芎藭、當歸、芫荑、芍藥、甘草〔各七分〕、
乾薑、桂心〔各五分〕、細辛、卷柏〔去土〕、柏子仁、茱萸、防風〔去蘆頭〕、南椒
〔出汗〕、厚朴〔薑汗炙〕、茯苓〔各四分〕、白芷、白朮、人參、丹參、葉本、
五味子、黃耆〔各三分〕、烏頭〔炮〕、白微〔各二分〕，右擣羅為散，
以新瓦器密封，毋令失氣，每服以熱酒調下兩錢匕，忌如常。
神效治產後一切，黑散子。
鯉魚皮〔三兩燒灰〕、芍藥、蒲黃〔各二兩〕、當歸、沒藥、桂心、好墨、卷柏、
青木香、麝香〔各一兩〕、鉎墨〔半兩〕、丈夫髮〔灰半兩〕，右一十二味，
擣羅為散，以新瓷器盛，密封勿令失氣，每產後以好酒調下一錢，如血暈衝心，
下血不盡，臍下攪刺，疼痛不可忍，塊血癥疾甚，日加兩服，不拘時候服，
忌冷物果子粘食。
神效療妊娠十個月內不安，至臨分解時，並宜服，此保生丸。
金釵石斛、貝母〔去心〕、黃芩、明淨石膏細研如粉、桂心、烏頭卷、秦椒〔去目炒〕
、蜀椒〔去目炒〕、甘草〔炙〕、糯米〔炒已上各二兩〕，右並須州上者，
如法修合為散，煉蜜丸，如彈子大，或有妊娠諸疾，喫食減少，及氣喘疾痛，
面目痿黃，身體羸瘦，四肢無力，手腳浮腫，始臟不安，並以棗湯研一丸，空心服之，
忌腥膩果子粘食雜物冷肉等。</p>
<h3>濮陽李師聖施郭稽中論〔二十一證方十六道〕</h3>
<h4>第一論，熱病死胎腹中者如何？</h4>
<p>答曰：母患熱疾，至六七日，以致藏府熱極，蒸煮其胎，是以致死，緣兒死身冷，
不能自出，但服黑神散暖其胎，須臾胎氣溫暖，兒即自出，何以知其死，
看產婦舌色青者，是其驗，宜以黑神散主之。
雄黑豆〔小者是炒去黑皮用二兩〕、當歸、芍藥、甘草炙、乾薑、蒲黃
〔用安石器內炒赤色〕、肉桂、熟地黃〔溫洗〕，右等分，焙乾為末，每服二錢，
空心溫酒調下，若三十歲已上，生產少者，不用桂、薑，卻以炒生薑、紅花各二兩。</p>
<h4>第二論，胎衣不下者如何？</h4>
<p>答曰：母生子了，血流入衣中，為血所脹，遂不能下，若治之稍緩，則滿腹中上衝，
心胸疼痛，喘急難治，但服奪命丹，速去衣中血，血散脹消，胎衣自下，而無所患矣，
奪命丹。
附子〔半兩炮去皮臍〕、牡丹皮〔一兩〕、乾漆〔一分研碎炒令煙出〕，
右為末，用釅醋一升，大黃末一兩，熱成膏，和藥丸如菉豆大，
溫酒送下五七丸，不計時候。</p>
<h4>第三論，難產者如何？</h4>
<p>答曰：胎側則成形塊者，呼為兒枕，子欲生時，枕破敗血裹其子，故難產，
但服勝金散治之，逐其敗血，兒即自生，若橫生逆生皆治之。
麝香〔一錢〕、鹽豉〔一兩用舊青布裹火燒令通紅急以乳槌研為細末〕，
右為末，取秤錘燒紅，以酒淬之，每服調一錢。</p>
<h4>第四論，悶絕不知人事者如何？</h4>
<p>答曰：產後血氣暴，未得安靜，血隨氣上攻，迷亂心神，眼前生花極甚者，令人悶絕，
不知人事，口噤神昏氣冷，醫者不識，呼為暗風，若如此治之，必難愈，宜服清魂散。
澤蘭葉〔一分〕、人參〔一錢〕、荊芥穗〔一兩〕、芎〔半兩〕、甘草〔二分炙〕，
右為末，每服一錢，熱湯半盞，入溫酒半盞，調勻急灌之，藥下便愈。</p>
<h4>第五論，口乾痞悶者如何？</h4>
<p>答曰：產宮胃太虛，血氣未定，食麵太早，胃不能消化，麵毒結聚於胃脘，上熏胸中，
是以口乾煩悶，心下痞悶，醫者不識，認為胸膈壅滯，以藥下之，萬不能一，
但服眼兒現丸。
薑黃、京三稜〔炮〕、畢澄茄、人參、陳皮〔去白〕、高良薑、蓬莪朮，
右等分為末，用細切蘿蔔，慢火煮令爛研細，將餘汁煮麵糊為丸，菉豆大每服十丸，
蘿蔔湯下，不拘時候。</p>
<h4>第六論，產後乍寒乍熱如何？</h4>
<p>答曰：陰陽不和，敗血不散，皆作乍寒乍熱，產後血氣虛損，陰陽不和，陰勝則乍寒，
陽勝則乍熱，陰陽相乘則或熱，若因產勞傷臟腑，血弱不能寬越，故敗血不散，
入肺即熱，入脾即寒，醫人若作寒瘧疾治之，則謬矣，陰陽不和，宜服增減四物湯，
敗血不散，宜服奪命丹。
又問二者何以別之。
答曰：時有刺痛者，敗血也，但寒熱無他證者，陰陽不和也，增減四物湯。
當歸、芍藥、芎、人參、乾薑〔炮裂各二兩〕、甘草〔四兩炙〕，
右為末，每服二錢，水一盞，生薑五片，同煎至六分，去滓，微熱服，不計時候。</p>
<h4>第七論，產後四肢虛腫者如何？</h4>
<p>答曰：產後敗血乘，停積於五臟，循經流入四肢，留淫入深，回還不得，腐壞如水，
故令四肢面目浮腫，醫者不辨，作氣治之，凡水氣多用導水藥極虛之，夫產後既虛，
又以藥虛之，是重虛也，但服調經散，血行腫消，則病自愈。
沒藥〔一錢研〕、琥珀〔一錢研〕、桂〔去粗皮半錢〕、芍藥〔一錢〕、當歸〔一錢〕
、麝〔半錢〕、細辛〔半錢〕，右為末，每服半錢，生薑汁溫酒各少許，調勻服之。</p>
<h4>第八論，產後不語者如何？</h4>
<p>答曰：人心有七孔三毛，產後血流氣弱，多致停積，敗血閉於心竅，神志不能明了，
又心氣通於舌，心氣閉則舌亦強矣，故令不語，但服七珍散。
人參、石菖蒲、川芎、熟地黃各一兩、細辛〔一錢〕、防風〔半兩〕、朱砂〔半兩研〕
，右為末，每服一錢，薄荷湯調下，不拘時候。</p>
<h4>第九論，</h4>
<p>產後乍見鬼神者如何？答曰：心主身之血脈，因產傷耗血脈心氣，則虛血停積，
上干於心受觸激，遂 生煩燥，坐臥不安，乍見鬼神，言語顛錯，醫者不識，呼為風邪，
如此治之，必不能愈，但服調經散，加生龍腦一捻，得睡即安，調經散方在第七論中。</p>
<h4>第十論，產後腹痛又瀉痢者如何？</h4>
<p>答曰：產後腸胃虛怯，寒邪易侵，若未滿月，飲冷當風，則寒邪乘虛進襲，留於胸腹，
散於腹脅，故腹痛作陣，或如錐刀所刺，流入大腸，水穀不化，洞泄腸鳴，或下赤白，
腹脅填脹，或走痛不定，急服調中湯立愈，醫者若以為積滯取之，則禍不旋踵矣。
高良薑、當歸、桂去皮、芍藥、附子〔炮去皮臍〕、川芎〔各一兩〕、甘草〔半兩炙〕
，右為粗末，每服三錢，水三盞，煎至一盞，去滓，熱服。</p>
<h4>第十一論，產後遍身疼痛者如何？</h4>
<p>答曰：產後百節開張，血脈流走，遇氣弱則經絡分肉之間，血多留滯，累日不散，
則骨節不利，筋脈引急，故腰背轉側不得，手足搖動不得，更身熱疼痛，
醫者以為傷寒治之，若出汗則筋脈動惕，手足厥冷，變生他病，但服趁痛丸以墨塗之。
牛膝、當歸、桂去皮、白朮、黃耆〔各半兩〕、薤白〔一分〕、獨活〔半兩〕、生薑
〔半兩〕、甘草〔一錢炙〕，右為粗末，每服半兩，水五盞，煎至二盞，去滓，
熱服一盞。</p>
<h4>第十二論，產後大便秘澀者如何？</h4>
<p>答曰：產臥水血俱下，腸胃虛竭，津液不足，故大便秘澀，若過五六日，
腹中悶痛者，乃有燥糞在臟腑，以其乾澀，不能出耳，宜服麻仁丸，更以津潤之，
若誤以為熱而投寒藥，則陽消陰長，變動百生，性命危矣，麻仁丸。
麻仁〔研〕、枳殼〔炒〕、人參、大黃〔各半兩〕，右為末，煉蜜丸，梧桐子大，
空心，溫湯下二十丸，未通加丸數。</p>
<h4>第十三論，產後血崩者何？</h4>
<p>答曰：產臥耗傷經絡，未得平復，而勞役損動，致血暴崩下，淋漓不止，
或因鹹酸不節，傷蠹營衛，氣衰血弱，亦變崩中，若小腹滿痛，肝經已壞為難治，
急服固經丸以止之。
艾葉、補骨脂炒、木賊草、赤石脂〔各半兩〕、附子〔三枚炮去皮臍〕，右為末，
陳米飲和丸桐子大，食前溫酒下二十丸，米飲亦得。</p>
<h4>第十四論，產後腹脹悶滿嘔吐不定者何？</h4>
<p>答曰：血散於脾胃，脾受之，不能運化精微而成腹脹，胃受之，
則不得受納水穀而生吐逆，醫者不識，若以尋常治脹止吐藥療之，病與藥不相干，
轉更傷動正氣，疾愈難治，但服抵勝湯必瘥。
赤芍藥、半夏〔湯洗七次〕、人參、陳皮〔各二錢〕、澤蘭〔二錢〕、甘草〔炙一錢〕
、生薑〔半兩〕，右為粗末，水二盞，煎至一盞，去滓，微熱服，分為三服。</p>
<h4>第十五論，產後口鼻黑氣起及鼻衄如何？</h4>
<p>答曰：陽明者，經絡之海，起於鼻交頰中，還出俠口，交人中之左右，
是蓋因夫產後氣消血散，榮衛不理，散亂入諸經絡，回還不得，致令口鼻黑氣起，
及變鼻衄，此緣產後諸虛熱變生此疾，不可治也，名曰脾絕肺散。</p>
<h4>第十六論，喉中氣急喘者如何。</h4>
<p>答曰：榮者血也，衛者氣也，榮行脈中，衛行脈外，相隨上下，謂之榮衛，
因產後下血過多，榮衛暴竭，氣無所生，獨聚於肺中，故令喘也，
此名孤陽絕陰為難治，若惡露不快，敗血停凝，上熏於肺，亦令喘息，可服奪命丹，
方見前第二論中。</p>
<h4>第十七論，產後中風者如何？</h4>
<p>答曰：產後五七日內，強力下床，或一月之內，傷於房室，或懷憂悲怒，擾蕩洩和氣，
或因著灸驚惕，臟腑得疾之初，眼澀口噤，肌肉相搐，腰脊筋急強直者，不可治，
此乃人作，非偶爾中風所得也。</p>
<h4>第十八論，產後心痛者如何？</h4>
<p>答曰：心者血脈之主，人有挾宿寒，因產大虛，寒摶於血，血凝滯不得消散，
其氣逆上，衝擊於心經，故心痛，宜以大蜜湯，治寒則去，血脈溫則經絡通，
心痛自止，若誤以為有所傷治之，則虛極而寒益甚矣，心絡寒甚，傳心之正經，
則變成心痛者，朝發則夕死，是藥不可輕用也。
乾地黃、當歸、獨活、吳茱萸、芍藥、乾薑〔炮〕、甘草〔炙各一兩〕、細辛〔半兩〕
、桂〔一兩去粗皮〕、少葉〔一兩遠志葉是也〕，右為粗末，每服半兩，用水三大盞，
煎取一盞，去滓，微熱。</p>
<h4>第十九論，產後熱悶氣上轉為腳氣者如何？</h4>
<p>答曰：產後臥血虛生，熱復因春夏取涼過多，地之蒸濕，因足履之，所以著成腳氣，
其狀熱悶掣廢，驚悸心煩，嘔吐氣上，皆其候也，服小續命湯，三二劑必愈，
若誤以敗血藥攻之，則血去而病益增矣。
人參、黃芩、官桂〔去皮〕、白朮、防己、麻黃〔去節〕、川芎、芍藥、甘草
〔各一兩〕、生薑〔五兩〕、防風〔兩半〕、附子〔一枚去皮〕，
右為末，每服半兩，用水五盞，煎去滓，溫服。</p>
<h4>第二十論，產後出汗多而變痙風如何？</h4>
<p>答曰：產後血虛，內理不密，故多汗，因遇風邪摶之，則變痙風也，痙者口噤不開，
背強而直，如發癇狀，搖頭馬鳴，身反折，須臾十發，息如絕，宜速斡開口，
灌小續命湯，稍暖即出汗如雨，手拭不及者不治。</p>
<h4>第二十一論，產後下血過多虛極熱生風如何？</h4>
<p>答曰：婦人以勞血為主，因產血下太多，氣無所主，唇青肉冷，汗出，目瞑，神昏，
命在須臾，此皆虛熱非風也，可服濟危上丹，若以風藥治之，則誤人矣。
乳香〔研〕、石靈脂、留黃〔研〕、陳皮〔去白〕、桑寄生、
真阿膠炙烊炒成米子、太陰玄精石研，
右將上四件，同研勻，石器內微火上炒動，勿令焦著，炒了再研細，後入餘藥末，
用地黃汁煮糊為丸，菉豆大，每服酒下二十丸，當歸酒尤佳。</p>
<h3>產後十八論方〔凡九道〕</h3>
<p>一曰：產後因熱病，胎死腹內者如何？
答曰：因母患熱病，經六七月間，藏府熱，遂煮其胎熱是致死，故知之，
緣死即身熱痛，只因沫出，爪甲指黑，四肢逆冷，但服烏金散，其胎即下。
二曰：產難者如何？
答曰：其胎以或成形，為食實物後，十月足日，食有餘，遂有成塊，呼為兒枕，
欲生塊破，遂血裹其子，故難產，但服烏金散，解其敗血即自生，
或橫生逆生不下，並宜服之。
三曰：產後衣不下者如何？
答曰：母生子了，產後血入衣中，被衣所脹，故當難下，但服烏金散，
去其衣中血即下，如帶斷亦同。
四曰：血暈者如何？
答曰：產後三日，起坐不得，眼生花，即運走五臟，流入汗血，醫人不識，呼為暗風，
但可服烏金散。
五曰：口乾心悶者如何？
答曰：產後七日已來，血氣未盡，蓋為母食麵，結盛心上，是以煩躁乾渴，醫人不識，
將謂膈不利壅滯所致，烏金散立效。
六曰：乍寒乍熱者如何？
答曰：產後虛羸，敗血入於肺臟，即熱即寒，醫人不識，呼為瘧疾誤矣，
宜服烏金散立效。
七曰：產後虛腫者如何？
答曰：血敗於五臟，流入四肢，即還不得，遂成膿血，醫人不識，呼為水氣血氣，
何以知之，若水氣喘而小腸澀，血氣傷而四肢塞，但服烏金散，薑酒調下，
須臾服朱砂丸，令瀉下毒物即愈。
八曰：乍見鬼神者如何？
答曰：敗血流入於心，心不受觸，遂被心熱，極躁三兩日，言語顛狂，醫人不識，
呼為風邪太誤，宜服烏金散療之。
九曰：產後月內不語如何？
答曰：人心有孔，孔內有毛，產後敗血閉毛，故不語也，宜服烏金散。
十曰：腹內疼痛，兼瀉痢者如何？
答曰：產後未滿月飲冷水，與血相聚，大腸水穀不化，或腹脹痛，急服烏金散，
更加服氣藥、止瀉藥。
十一曰：產後遍身疼痛者如何？
答曰：產後百節開張，敗血走流諸處，留停日久，不散結聚，成此疼痛，
宜服烏金散有效。
十二曰：產後血崩者如何？
答曰：產後惡血敗露自下未止間，早先治之，及食鹹酸之，遍體無血色，
腹痛難治，肝家欲作發寒熱作悶，宜烏金散，須臾服朱砂丸。
十三曰：產後血氣不通咳嗽者如何？
答曰：產後咳嗽，多以食熱麵壅結，或熱病，或有氣塊，發時沖心痛，氣急咳嗽，
四寒熱，心悶口乾，或時煩躁，睡夢驚悸，氣虛，肢體無力，宜服烏金散。
十四曰：產後乍寒乍熱，心痛，月候不來如何？
答曰：敗血沖心，痛遶臍腹，面色無采，縱然得效，暫時痊安，不過三兩日又發，
服烏金散大效。
十五曰：產後腹脹滿，嘔逆不定者如何？
答曰：敗血停於脾胃，食充胃，胃充氣，既不安即吐逆，沖腹脹，急服烏金散，
次服朱砂丸，三兩日，炒生薑一錢，醋湯下七丸，立效。
十六曰：產後口鼻黑氣，及鼻衄者如何？
答曰：敗血入臟腑，頭目卻還不得，口乾舌焦，鼻黑起，是產後變作此候，
名曰敗肺，此不可治療。
十七曰：產後喉中氣喘急者何如？
答曰：產後敗血不盡，冷惡死血上衝心，過於心即轉於喉，喉中即喘，醫人不識，
認作風涎，十死不治。
十八曰：產後中風者如何？
答曰：產後七日，無故下床，一月之內，傷於房室，或因著熱，有驚臟腑，
風中之物，眼澀腰疼，似角弓之反張，牙關閉，急宜治之，亦非風疾所致也。
烏金散
乾地黃〔熟水浸〕、肉桂〔去皮〕、蒲黃紙裹炒已上各二兩、
黑豆〔炒盡煙為炭秤二兩〕、當歸〔洗〕、芍藥、甘草〔炙〕、白薑炮已上各一兩，
右為末，空心，日午夜中，熱酒下二錢匕，忌生冷一切毒物。
朱砂丸，治產後因寒瘀積，結成諸疾。
黑附子〔炮皮臍半兩〕、肉桂〔半兩去皮〕、白薑〔半兩炒〕、川巴豆
〔一錢醋浸煮去皮研〕，右細研麵糊為丸，麻子大，每服三丸，至五丸，冷茶下，
服之取瀉為度。
治產後胎衣不下。
雞子白〔一個〕、滑石末〔二錢〕，
右灘頭急流水，調下立出。
治孕婦傷寒。
柴胡、前胡、川芎、川當歸、地黃、人參、芍藥、粉草，
右等分為末，每服兩錢，棗四枚，薑錢三片，同煎服，要出汗加蔥。
治孕婦傷寒涎嗽。
知母、杏仁〔去皮尖炒〕、天門冬〔去心〕、桑白皮，右等分為粗末，煎去滓服。
治婦人帶下。黃君正方
茅花〔一握炒〕、櫚炭〔三寸〕、嫩蓮葉〔三個〕、甘草葉，右為末。</p>
