<header data-type="book">
<h1>專治麻痧初編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>凌德</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1890">公元1890年</data></dd></div>
</dl>
</header>

<h1>引言</h1>
<p>痘疹麻痧類皆象形而名之也。惟麻痧證變幻莫測，向無專書，古人名言半多散見於痘科書中。且患家視為泛常，以謂風痧輕證，每多忽略，避忌漫不經心，迨至凶陷告危，無從挽救，追悔何及。縱使天數，當然究由人事之未盡耳。伏讀御纂《醫宗金鑑》曰：麻疹須留神調治，始終不可一毫疏忽，較之於痘雖稍輕，而變化之速則在頃刻也。至哉訓言，諄諄垂誡。爰不自揣譾陋，謹將古今麻痧證治匯錄成編，釐為四編。曰崇正，曰述古，曰徵今，附以成方曰方論，計六卷。後之學者果能尋原討究，行遠自邇，拯斯民於衽席，醫豈小道云乎哉。</p>
<p><u>時光緒十六年龍集庚寅正月十五日丙辰立春歸安凌德蟄庵手自寫本</u></p>

<h1>卷一</h1>

<h2>御纂《醫宗金鑑》疹門心法要訣</h2>

<h3>疹原</h3>
<p>麻為正疹亦胎毒，毒伏六腑感而出，初發之狀有類痘，形尖漸密不漿殊，始終調護須留意，較痘雖輕變化速。</p>
<p>注：疹非一類，有瘙疹、癮疹、溫疹，蓋痘疹皆非正疹也。惟麻疹則為正疹，亦胎元之毒伏於六腑，感天地邪陽火旺之氣，自肺脾而出，故多咳嗽，噴嚏，鼻流清涕，眼淚汪汪，兩胞浮腫，身熱二三日，或四五日始見點於皮膚之上，形如麻粒，色若桃花，間有類於痘大者，此麻疹初發之狀也。形尖疏稀，漸次稠密，有顆粒而無根暈，微起泛而不生漿，此麻疹見形之後大異於痘也。須留神調治，始終不可一毫疏忽，較之於痘雖稍輕，而變化之速則在頃刻也。</p>

<h3>麻疹輕重</h3>
<p>麻疹出時非一端，其中輕重要詳參。氣血和平輕而易，表裡交雜重則難。</p>
<p>注：麻疹出時有輕重之分，臨時須要詳察。若氣血和平，素無他病者，雖感時氣而正能制邪，故發熱和緩，微微汗出，神氣清爽，二便調勻。見點則透徹散沒，不疾不徐，為輕而易治者也。若素有風寒食滯，表裡交雜，一觸邪陽火旺之氣，內外合發，而正不能制邪，必大熱無汗，煩躁口渴，神氣不清，便閉尿澀。見點不能透徹，收散或太緊速，則為重而難治者也。</p>

<h3>麻疹主治大法</h3>
<p>疹宜發表透為先，最忌寒涼毒內含，已出清利無餘熱，沒後傷陰養血痊。</p>
<p>注：凡麻疹出貴透徹，宜先用表發，使毒盡達於肌表。若過用寒涼冰伏毒熱，則必不能出透，多致毒氣內攻，喘悶而斃至。若已出透者，又當用清利之品，使內無餘熱，以免疹後諸證。且麻疹屬陽熱，甚則陰分受傷，血為所耗，故沒後須以養血為主，可保萬全。此首尾治疹之大法，至於臨時權變，惟神而明之而已。</p>

<h3>麻疹未出證治</h3>
<p>欲出麻疹身微熱，表裡無邪毒氣松。若兼風寒食滯熱，隱伏不出變叢生。宣毒發表為主劑，隨證加減莫亂從。</p>
<p>注：麻疹一證非熱不出，故欲出時身先熱也。表裡無邪者熱必和緩，毒氣鬆動則易出而易透。若兼風寒食熱諸證，其熱必壯盛，毒氣鬱閉則難出而難透。治以宣毒發表湯，其間或有交雜之證，亦照本方隨證加減治之。</p>
<p><u>宣毒發表湯</u></p>
<p>升麻　葛根　前胡　桔梗　枳殼（麩炒）　荊芥　防風　薄荷葉　木通　連翹（去心）　牛蒡子（炒研）　淡竹葉（即鮮竹葉）　生甘草</p>
<p>引加芫荽水煎服。凡服荊芥忌食魚腥。</p>
<p>感寒邪者加麻黃，夏月勿用。</p>
<p>食滯加南山楂。</p>
<p>內熱加黃芩。</p>
<p>方歌：疹伏宣毒發表湯，升葛前桔枳荊防，薄通翹蒡淡竹草，引加芫荽水煎嘗。</p>

<h3>麻疹見形證治</h3>
<p>麻疹已出貴透徹，細密紅潤始為良。若不透徹須分晰，風寒毒熱氣虛詳，風寒升葛湯加味，毒熱三黃石膏湯，氣虛人參敗毒散，托裡透疹效非常。</p>
<p>注：麻疹見形貴乎透徹，出後細密紅潤則為佳美。有不透徹得須察所因，如風寒閉塞必有身熱，無汗，頭疼，嘔惡，疹色淡紅而黯之證，宜用升麻葛根湯加蘇葉川芎牛蒡子；因毒熱雍滯者，必面赤，身熱，譫語，煩渴，疹色赤紫滯黯，宜用三黃石膏湯；又有正氣虛弱不能送毒外出者，必面色㿠白，身微熱，精神倦怠，疹色白而不紅，以人參敗毒散主之。</p>
<p><u>升麻葛根湯</u></p>
<p>升麻　葛根　赤芍藥　生甘草</p>
<p>引加芫荽水煎服。</p>
<p>方歌：發熱升麻葛根湯，表邪痘疹兩得方；升麻葛根赤芍草，隨證宜加法最良。</p>
<p><u>三黃石膏湯</u></p>
<p>麻黃　石膏　淡豆豉　黃柏　黃連　梔子　黃芩</p>
<p>水煎服。</p>
<p>方歌：疹出不透因毒熱，三黃石膏湯急尋，麻黃石膏淡豆豉，黃柏黃連梔子芩。</p>
<p><u>人參敗毒散</u></p>
<p>人參　川芎　羌活　獨活　前胡　枳殼（麩炒）　桔梗　柴胡　生甘草　赤苓</p>
<p>引用生薑水煎服。</p>
<p>方歌：疹因氣虛出難透，人參敗毒有奇功，參芎羌獨前枳桔，柴胡甘草赤茯苓。</p>

<h3>麻疹收沒證治</h3>
<p>疹出三日當收沒，不疾不徐始無虞。收沒太速毒攻內，當散不散虛熱醫。毒盛荊防解毒治，外用胡荽酒法宜；虛熱柴胡四物劑，應證而施病漸離。</p>
<p>注：麻疹見形三日之後當漸次沒落，不疾不徐始為無病。若一二日疹即收沒。此為太速，因調攝不謹，或為風寒所襲，或為邪穢所觸，以致毒反內攻，輕則煩渴譫狂，重則神昏悶亂。急宜內服荊防解毒湯，外用胡荽酒熏其衣被，使疹透出方保無虞。當散不散者，內有虛熱留滯於肌表也，其證潮熱煩渴口燥咽乾，切不可純用寒涼之劑，以柴胡四物湯治之，使血分和暢，餘熱悉除，疹即沒矣。</p>
<p><u>荊防解毒湯</u></p>
<p>薄荷葉　連翹（去心）　荊芥穗　防風　黃芩　黃連　牛蒡子（炒研）　大青葉　犀角　人中黃</p>
<p>引用燈心蘆根水煎服。</p>
<p>方歌：收沒太速毒內攻，荊防解毒治最靈，薄翹荊防芩連蒡，大青犀角共人中。</p>
<p><u>胡荽酒</u></p>
<p>胡荽（四兩，切碎）　黃酒（半斤）</p>
<p>同煎勿令泄氣。</p>
<p><u>柴胡四物湯</u></p>
<p>白芍（炒）　當歸　川芎　生地　人參　柴胡　淡竹葉　地骨皮　知母（炒）　黃芩　麥冬（去心）</p>
<p>引加生薑紅棗水煎服。</p>
<p>方歌：當散不散因虛熱，柴胡四物芍歸芎，生地人參柴竹葉，地骨知母芩麥冬。</p>

<h3>身熱不退</h3>
<p>麻疹已發身猶熱，毒熱壅遏使之然，出用化毒清表劑，沒後柴胡清熱煎。</p>
<p>注：麻疹非熱不出，若既出透，其熱當減。倘仍大熱者，此毒盛壅遏也，宜用化毒清表湯治之。疹已沒落而身熱者，此餘熱留於肌表也，宜柴胡清熱飲治之。</p>
<p><u>化毒清表湯</u></p>
<p>葛根　薄荷葉　地骨皮　牛蒡子（炒研）　連翹（去心）　防風　黃芩　黃連　元參　生知母　木通　生甘草　桔梗</p>
<p>引用生薑燈心水煎服。</p>
<p>方歌：疹已出透身壯熱，化毒清表為妙訣，葛薄地骨蒡翹防，芩連元知通甘桔。</p>
<p><u>柴胡清熱飲</u></p>
<p>柴胡　黃芩　赤芍　生地　麥冬（去心）　地骨皮　生知母　生甘草</p>
<p>引用生薑燈心水煎服。</p>
<p>方歌：疹已沒落熱不減，柴胡清熱效通仙，柴胡黃芩芍生地，麥冬地骨知母甘。</p>

<h3>煩渴</h3>
<p>毒熱內盛火上炎，心胃擾亂煩渴添。未出升葛湯加味，已出白虎湯為先，沒落竹葉石膏用，因時醫治莫遲延。</p>
<p>注：凡出麻疹煩渴者，乃毒熱壅盛也。蓋心為熱擾則煩，胃為熱鬱則渴。當未出時宜升麻葛根湯加麥冬天花粉，已出者宜白虎湯，沒後煩渴者用竹葉石膏湯。</p>
<p><u>升麻葛根湯</u>（方見前）</p>
<p><u>白虎湯</u></p>
<p>石膏（煅）　生知母　生甘草</p>
<p>引用粳米水煎服。</p>
<p>方歌：麻疹已發多煩渴，白虎清熱自能安，石膏知母生甘草，引加粳米用水煎。</p>
<p><u>竹葉石膏湯</u></p>
<p>人參　麥冬（去心）　石膏（煅）　生知母　竹葉　生甘草</p>
<p>水煎服。</p>
<p>方歌：疹已沒落當安靜，若加煩渴熱未清，竹葉石膏湯參麥，石膏知母竹甘從。</p>

<h3>譫妄</h3>
<p>疹發最怕毒火盛，熱昏心神譫妄生。未出三黃石膏治，已出黃連解毒靈。</p>
<p>注：譫妄一證乃毒火太盛，熱昏心神而然也。疹未出而譫妄者，三黃石膏湯主之；疹已出而譫妄者，黃連解毒湯主之。</p>
<p><u>三黃石膏湯</u>（方見前）</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃芩　梔子　黃柏</p>
<p>加味：丹皮生地黃生甘草金銀花連翹（去心）</p>
<p>引加燈心水煎服。</p>
<p>方歌：麻疹已出譫妄燒，毒鬱熱結未曾消，黃連解毒芩梔柏，加丹生地草銀翹。</p>

<h3>喘急</h3>
<p>疹初無汗作喘急，宣發麻杏石甘宜；毒熱內攻金受克，保肺清氣化毒醫。</p>
<p>注：喘為惡候，麻疹尤忌之。如初出未透無汗喘急者，此表實拂鬱其毒也，宜用麻杏石甘湯發之。疹已出胸滿喘急，此毒氣內攻，肺金受克，宜用清氣化毒飲清之。若遲延失治，以致肺葉焦舉，則難救矣。</p>
<p><u>麻杏石甘湯</u></p>
<p>石膏（煅）　麻黃（蜜炒）　杏仁（去皮尖炒）　生甘草</p>
<p>引用生薑水煎服。</p>
<p>方歌：喘用麻杏石甘湯，石膏火煅合麻黃，杏仁去尖須微炒，甘草相配引生薑。</p>
<p><u>清氣化毒飲</u></p>
<p>前胡　桔梗　栝蔞仁　連翹（去心）　桑皮（炙）　杏仁（炒去皮尖）　黃芩　黃連　元參　生甘草　麥冬（去心）</p>
<p>引用蘆根水煎服。</p>
<p>方歌：毒熱內攻肺喘滿，清氣化毒飲最靈，前桔栝蔞翹桑杏，芩連元參草麥冬。</p>

<h3>咳嗽</h3>
<p>疹初咳嗽風邪郁，加味升麻葛根良，毒熱熏蒸金受制，清金寧嗽自堪嘗。</p>
<p>注：麻疹發自脾肺，故多咳嗽。若咳嗽太甚者，當分初沒治之。初起咳嗽此為風邪所郁，以升麻葛根湯加前胡桔梗蘇葉杏仁治之；已出咳嗽乃肺為火灼，以清金寧嗽湯主之。</p>
<p><u>升麻葛根湯</u>（方見前）</p>
<p><u>清金寧嗽湯</u></p>
<p>橘紅　前胡　生甘草　杏仁（去皮尖炒）　桑皮（蜜炙）　川連　栝蔞仁　桔梗　浙貝母（去心）</p>
<p>引用生薑紅棗水煎服。</p>
<p>方歌：嗽用清金寧嗽湯，橘紅前草杏仁桑，川連栝蔞桔貝母，引用紅棗共生薑。</p>

<h3>喉痛</h3>
<p>疹毒熱甚上攻喉，腫痛難堪實可擾，表邪元參升麻用，裡熱涼膈消毒求。</p>
<p>注：疹毒熱盛上攻咽喉，輕則腫痛，甚則湯水難下，最為可慮。表邪郁遏，疹毒不能發舒於外，致咽喉作痛者，元參升麻湯主之。裡熱壅盛，或疹已發於外而咽喉作痛者，以涼膈消毒飲主之。</p>
<p><u>元參升麻湯</u></p>
<p>荊芥穗　防風　升麻　牛蒡子（炒研）　元參　生甘草</p>
<p>水煎服。</p>
<p>方歌：表郁疹毒喉腫痛，急服元參升麻湯，荊芥防風升麻蒡，元參甘草水煎嘗。</p>
<p><u>涼膈消毒飲</u></p>
<p>荊芥穗　防風　連翹（去心）　薄荷葉　黃芩　生梔子　生甘草　牛蒡子（炒研）　芒硝　生大黃</p>
<p>引用燈心水煎服。</p>
<p>方歌：裡熱喉痛苦難當，涼膈消毒飲最良，荊防翹薄芩梔草，牛蒡芒硝生大黃。</p>

<h3>失音</h3>
<p>疹毒聲啞肺熱壅，元參升麻有奇功，已發加減涼膈散，沒後兒茶音即清。</p>
<p>注：失音者，乃熱毒閉塞肺竅而然也。疹初失音者，元參升麻湯主之；疹已發而失音者，加減涼膈散主之；疹沒後聲啞者，兒茶散主之。</p>
<p><u>元參升麻湯</u>（方見前）</p>
<p><u>加減涼膈散</u></p>
<p>薄荷葉　生梔子　元參　連翹（去心）　生甘草　苦桔梗　麥冬（去心）　牛蒡子（炒研）　黃芩</p>
<p>水煎服。</p>
<p>方歌：加減涼膈治失音，薄荷梔子共元參，連翹甘草苦桔梗，麥冬牛蒡與黃芩。</p>
<p><u>兒茶散</u></p>
<p>硼砂（二錢）　孩兒茶（五錢）</p>
<p>共為細末，涼水一盞，調藥一匙，服之。</p>

<h3>嘔吐</h3>
<p>疹發緣何嘔吐逆，火邪擾胃使之然，竹茹石膏為主治，和中清熱吐能安。</p>
<p>注：麻疹嘔吐者，由於火邪內迫，胃氣衝逆也，須以竹茹石膏湯和中清熱，其吐自止。</p>
<p><u>竹茹石膏湯</u></p>
<p>半夏（薑製）　赤苓　陳皮　竹茹　生甘草　石膏（煅）</p>
<p>引用生薑水煎服。</p>
<p>方歌：竹茹石膏湯治吐，半夏薑製配茯苓，陳皮竹茹生甘草，石膏火煅共合成。</p>

<h3>瀉泄</h3>
<p>毒熱移入大腸經，傳化失常瀉泄成，初起升葛湯加味，已發黃連解毒清。</p>
<p>注：麻疹瀉泄乃毒熱移入腸胃，使傳化失常也，治者切不可用溫熱諸劑。疹初作瀉者，以升麻葛根湯加赤苓豬苓澤瀉主之；疹已出作瀉者，以黃連解毒湯加赤苓木通主之。</p>
<p><u>升麻葛根湯</u>（見前）</p>
<p><u>黃連解毒湯</u>（見前）</p>

<h3>痢疾</h3>
<p>夾疹之痢最難當，毒熱凝結移大腸，腹痛下痢赤白色，悉用清熱導滯良。</p>
<p>注：麻疹作痢謂之夾疹痢，因毒熱未解，移於大腸所致也。有腹痛欲解，或赤或白，與赤白相兼者，悉用清熱導滯湯主之，不可輕投澀劑。</p>
<p><u>清熱導滯湯</u></p>
<p>山楂　厚朴（薑製）　生甘草　枳殼（麩炒）　檳榔　當歸　白芍（酒炒）　條芩（酒炒）　連翹（去心）　牛蒡子（炒研）　青皮（炙）　黃連（吳茱萸炒）</p>
<p>引用生薑水煎服。</p>
<p>方歌：痢用清熱導滯湯，山楂樸草枳檳榔，歸芍條芩翹牛蒡，青皮黃連引生薑。</p>

<h3>腹痛</h3>
<p>小兒發疹腹中疼，毒郁腸胃食滯凝，曲腰啼叫眉頻蹙，加味平胃散堪行。</p>
<p>注：麻疹腹痛者，由食滯凝結，毒氣不得宣發於外。故不時曲腰啼叫，兩眉頻蹙，須以加味平胃散治之，滯消毒解，而痛自除矣。</p>
<p><u>加味平胃散</u></p>
<p>防風　升麻　枳殼（麩炒）　葛根　蒼朮（炒）　陳皮　厚朴（姜炒）　南山楂　麥芽（炒）　生甘草</p>
<p>引用生薑燈心水煎服。</p>
<p>方歌：加味平胃散如神，防風升麻枳葛根，蒼陳厚朴楂芽草，生薑燈心水煎勻。</p>

<h3>衄血</h3>
<p>疹家衄血莫倉惶，毒從衄解妙非常，衄甚吹鼻發灰散，內服犀角地黃湯。</p>
<p>注：肺開竅於鼻，毒熱上衝，肺氣載血妄行，則衄作矣。然衄中有發散之義，以毒從衄解不須止之。但不可太過，過則血脫而陰亡也。如衄甚者，宜外用發灰散吹入鼻中，內服犀角地黃湯，其血可止。</p>
<p><u>發灰散</u></p>
<p>取壯實人頭髮洗淨，陰陽瓦煅成灰，放地上去火性，研細末，吹入鼻中，血衄自止。</p>
<p><u>犀角地黃湯</u></p>
<p>粉丹皮　白芍藥　犀角　生地黃</p>
<p>便硬者加川大黃。</p>
<p>水煎服。</p>
<p>方歌：犀角地黃湯，治衄效非常，丹皮芍犀地，便秘加大黃。</p>

<h3>瘙疹</h3>
<p>兒在母腹血熱蒸，生後不免遇涼風，遍體發出如粟米，此名瘙疹何須評。</p>
<p>注：瘙疹者，兒在胎中受母血熱之氣所蒸已久，及生後外遇涼風，以致遍身紅點，如粟米之狀。滿月內見者名為爛衣瘡，百日內見者又名百日瘡，未出痘瘡之先見者即名瘙疹，調攝謹慎不治自愈。</p>

<h3>蓋痘疹</h3>
<p>痘後出疹蓋痘傳，餘毒未盡夾食寒，遍身作癢如雲片，加味消毒服即安。</p>
<p>注：蓋痘疹者，謂痘方愈而疹隨發也。因痘後餘毒未盡，更兼恣意飲食，外感風寒，以致遍身出疹，色赤作癢，始如粟米，漸成云片。宜加味消毒飲疏風清熱，疹即愈矣。</p>
<p><u>加味消毒飲</u></p>
<p>荊芥穗　防風　牛蒡子（炒）　升麻　生甘草　赤芍藥　南山楂　連翹（去心）</p>
<p>引用生薑水煎服。</p>
<p>方歌：蓋痘疹因風熱成，加味消毒飲最靈，荊防牛蒡升麻草，赤芍山楂連翹從。</p>

<h3>癮疹</h3>
<p>心火灼肺風濕毒，隱隱疹點發皮膚，疏風散濕羌活散，繼用消毒熱盡除。</p>
<p>注：癮疹者乃心火灼於肺金，又兼外受風濕而成也。發必多癢，色則紅赤，隱隱於皮膚之中，故名曰癮疹。先用加減羌活散疏風散濕，繼以加味消毒飲清熱解毒，表裡清而疹愈矣。</p>
<p><u>加味羌活散</u></p>
<p>羌活　前胡　薄荷葉　防風　川芎　枳殼（麩炒）　桔梗　蟬蛻　連翹（去心）　生甘草　赤苓</p>
<p>引用生薑水煎服。</p>
<p>方歌：癮疹羌活散相當，羌活前胡薄荷防，川芎枳桔淨蟬蛻，連翹甘草赤苓姜。</p>
<p><u>加味消毒飲</u>（見前）</p>
<p>右編曰崇正。</p>

<h2>附司天掌訣歌</h2>
<p>子午少陰君火天　陽明燥金應在泉</p>
<p>丑未太陰濕土合　太陽寒水兩纏綿</p>
<p>寅申少陽相火王　厥陰風木地中連</p>
<p>卯酉卻與子午倒　辰戍巳亥亦皆然</p>

<h1>《專治麻痧》述古編敘</h1>
<p>小兒醫謂之啞科，誠如古諺曰：寧治十男子，莫治一婦人；寧治十婦人，莫治一小兒。小兒痘疹驚疳，最難一時分辨。要在醫家博覽群書，多識險證，尤須臨診虛心，時加體察。深恐病重藥輕，因循誤事；慎勿偏執己見，毒藥殺人。夫如是始可稱之曰能事。徐洄溪云：痘瘡無人可免。自種痘之法起，而小兒方有避險之路。此天意好生，有神人出焉，造良法以救人也。夷考治痘治疹之書，不下百數十家，莫不切近和平，各出心裁，垂方立法。經余曾所見聞者，臚陳其目，俾後之學小兒醫者，知有正路可由焉。</p>
<p>周巫妨《顱囟經》錢仲陽《小兒藥證直訣》</p>
<p>董汲之《小兒斑疹方論》閻孝忠《小兒直訣附方》</p>
<p>劉方明《幼幼新書》鄭瑞友《全嬰方論》</p>
<p>宋人《小兒衛生總微方》陳文仲《小兒痘疹方論》</p>
<p>楊仁齋《直指小兒方論》劉守真《保童秘要》</p>
<p>曾省翁演山口議《活幼心書》朱丹溪《治痘心法》</p>
<p>王賓湖《幼科類萃》徐用宣《袖珍小兒方》</p>
<p>錢大用《活幼全書》高梅孤《痘疹管見》</p>
<p>汪石山《痘疹理辨》寇美《全幼心鑑》</p>
<p>繆仲淳《廣筆記幼科》聶久吾《活幼心法》</p>
<p>翟良《痘科類編釋意》萬密齋《痘疹心法》</p>
<p>徐東皋《痘疹卮言》張景岳《痘疹詮》</p>
<p>吳志中《兒科方要》李言聞《痘疹要訣》</p>
<p>李實《痘疹溯源》蔡維藩《小兒痘疹方》</p>
<p>聞人規《痘疹疹論》張清川《痘疹便覽》</p>
<p>湯衡《嬰孩妙訣》婁居中《恤幼集》</p>
<p>董大英《活幼悟神集》謝天錫《瘡疹證治》</p>
<p>黃良佐《麻痘秘法》吳洪《痘疹彙編》</p>
<p>崔岳《痘診詳辨》張渙《小兒醫方妙選》</p>
<p>魯伯嗣《嬰童百問》姚和眾《童子秘訣》</p>
<p>王日新《小兒方》魏桂岩《博愛心鑑》</p>
<p>竇夢麟《痘瘡形證論治》費建中《救偏瑣言》</p>
<p>徐杏泉《痘疹玉髓》翁仲仁《痘疹金鏡錄》</p>
<p>陸道元《金鏡錄補遺》許宣治《橡村痘訣》</p>
<p>朱濟川《痘疹傳心錄》王損庵《痘疹證治準繩》</p>
<p>薛良武《保嬰撮要》黃五芝《痘疹正傳》</p>
<p>孫一奎《痘疹心印》秦景明《痘疹折衷》</p>
<p>馮楚瞻《痘疹錦囊全集》徐仲光《痘疹仁端錄》</p>
<p>沈惠民《活幼心書》李檉《小兒保生方》</p>
<p>喜泰順《疹痘秘書》許培元《痘疹筆議》</p>
<p>左忠《痘疹方》許學文《痘科約言》</p>
<p>邵慈庵《痘科秘法》夏卓溪《幼科鐵鏡》</p>
<p>郭鐵崖《天花精言》陳奇生《痘科扼要》</p>
<p>程鳳雛《慈幼筏》朱玉堂《痘疹定論》</p>
<p>葉天士《幼科要略》陳飛霞《幼幼集成》</p>
<p>醉玄子《痘疹方》王海暘《痘書》</p>
<p>曹畸庵《豆醫蠡酌錄》強健《痘證寶筏》</p>
<p>上曾見者七十餘家，其葉氏《幼科要略》所引未知名字，伍氏袁氏無從求考，他如管檉《保赤全書》，葉大椿《痘學真傳》以及《痘科正宗》之類，乃痘科中之楊墨也，姑無論矣。第思近時，治痧治疹，率多取法陳靜岩《疫痧草》金保三《喉科枕秘》張筱衫《痧喉正義》等書之數家者，其於痘疹麻痧似是而非，首鼠兩端，惑人主見。然竟有認麻痧為臭毒之痧，別喉痧為喉科之證，便用紫金錠、紅靈丹、冰硼散等藥，野狐譚禪，真堪捧腹，不容不表而斥之。</p>
<p><u>時光緒庚寅冬十月赤霆子凌德識</u></p>

<h1>卷二</h1>

<h2>錢氏《小兒藥證直訣》</h2>

<h3>小兒脈法</h3>
<p>氣不和脈弦急，傷食脈沉緩，虛驚脈促急，（一作促結）風脈浮，寒脈沉細，脈亂不治。</p>
<p>寇氏《全幼心鑑》云：小兒一歲以前，看虎口食指寅卯辰三關，以驗其病。（寅卯辰即風氣命三關也）脈紋從寅關起不至卯關者易治，若連卯關者難治，若寅侵卯，卯侵過辰者，十不救一。其脈紋見有五色，如因驚必青，瀉痢必紫，當以類而推之。一歲後則可用一指轉側辨其三部脈弦急浮沉。四五歲後脈七八至而細數者為平，九至者傷，十至者困，六至五至者為虛，為寒，弦緊為風癇，弦急為客忤。</p>

<h3>面部證</h3>
<p>左腮為肝，右腮為肺，額上為心，鼻為脾，頦為腎，若色赤者熱也，隨證治之。</p>

<h3>目部證</h3>
<p>目內色赤者心實熱，淡紅者心虛熱；青者肝實熱，淡青者肝虛熱；黃者脾實熱，微黃者脾虛熱；白而混者肺實熱；目無精光者腎虛也。</p>

<h3>五臟虛實寒熱</h3>
<p>心主驚，實則叫哭，發熱飲水而搐；虛則臥而悸動不安。視其睡，口中氣溫，或合面睡，及上竄咬牙，皆心熱也。心氣實則喜仰臥。</p>
<p>肝主風，實則目直，大叫，呵欠，項急，煩悶。（一作頓）虛則咬牙多欠。肝熱則手尋衣領，及亂捻物，壯熱，飲水，喘悶，目赤，發搐。肝有風則目連札，（一作眨目動也）得心熱則發搐，或筋脈牽繫而直視。風甚則身反張，強直不搐，心不受熱也，當補腎治肝。</p>
<p>脾主困，實則困睡，身熱飲水；虛則吐瀉生風，面白腹痛，口中氣冷，不思飲食，或吐清水。呵欠多睡者，脾氣虛而欲發驚也。</p>
<p>肺主喘，實則悶亂喘促，有飲水者，有不飲水者；虛則哽氣長出氣。肺熱則手搗眉目鼻面。肺盛復感風寒，則胸滿氣急，喘嗽上氣。肺藏怯則唇白悶亂，氣粗喘促。哽氣者難治，肺虛甚也。</p>
<p>腎主虛，無實也。惟瘡疹腎實則變黑陷。若胎稟虛怯，神氣不足，目無精光，面白顱解，此皆難育，雖育不壽，或更加色欲，變證百出，愈難救療。或目畏明下竄者，蓋骨重而身縮者，咬牙者，腎水虛而不能制心火也。</p>

<h3>五臟瘡疹證治</h3>
<p>小兒在胎，食五臟血穢，伏於命門。若遇天行時熱，或乳食所傷，或驚恐所觸，則其毒當出。初起之候，面燥腮赤，目胞亦赤，呵欠頓悶，乍涼乍熱，咳嗽嚏噴，手足梢冷，驚悸多睡。宜究其何藏所發，察其何因所起。令乳母亦須節飲食，慎風寒。五臟各有一證，肝藏水疱青色而小，肺藏膿疱色白而大，心藏斑色赤而小，脾藏疹小次斑，故色赤黃淺也。先發膿疱後發疹子者順，先疹子後斑者順，反此為逆。惟腎無候，但見䯌冷耳冷是也。若寒水來侮，故黑陷而耳䯌反熱，為逆也。（疱同皰音泡）</p>
<p>如發潮熱三日以上，出不甚多，而熱不止者，未盡也。潮熱隨出，如早食潮熱不已，為水疱之類也，一發便出盡者重，瘡夾疹者半輕半重也。出稀者輕，裡外微紅者輕，外黑裡赤者微重，外白里黑者大重也，瘡端里黑點如針孔者勢最劇也。青乾紫陷，昏睡汗出，煩躁熱渴，腹脹啼喘，二便不通者困也。有大熱，利小便解熱毒。若紫黑干陷，或寒戰咬牙，或身黃腫紫者，急下之。復寒熱不已，身冷出汗，耳䯌反熱者，死證也，此腎氣大旺，脾虛不能制故也。下後身熱氣溫飲水者可治，以脾土勝，腎寒去，而溫熱也。不黑者不可下，下則內虛歸腎。大抵瘡疹屬陽，在春夏為順，秋冬為逆，冬月腎旺盛，寒病多歸腎，變黑。又當辨春膿疱，夏黑陷，秋斑子、冬疹子者，十活四五，黑者十難救一。</p>
<p>身熱煩渴腹滿而喘，便澀面赤悶亂大吐，此當利小便，不瘥者，下之。若能食而痂頭焦起，或未焦而喘實者，亦可下之。若五七日痂不焦是內熱也，宜導之，生犀汁解之。</p>
<p>斑疹作搐為脾虛而肝旺乘之，心火妄動，風熱相搏也，當瀉心肝補脾土。</p>
<p>瘡黑而忽便膿血並痂皮者乃脾氣實，腎邪退而病安也。泄瀉而乳食不化者，脾虛不能制腎，故難治。</p>
<p>徐洄溪曰：此即近世痘瘡之證，其病與斑疹同列，並無起脹成漿收靨等說。大抵宋時之瘡形治法不過如此。近日愈變愈重，與斑疹絕不相類，治亦回別。因知天下之病，隨時隨地變化無窮，所以《內經》有五運六氣、異法方宜等論，為醫者苟不能知天運之轉移，及五方之體性，終有偏執之處，不可以稱上工也。</p>
<p><u>瀉青丸方</u>　治肝經實熱，急驚搐搦，脈洪實。</p>
<p>當歸（焙）　草龍膽（焙）　川芎藭　山梔子仁　川大黃　羌活　防風（焙）</p>
<p>上等分為末，煉蜜和丸，如芡實大，每服半丸或壹丸，煎竹葉湯同沙糖化下。</p>
<p><u>導赤散</u>　治小兒心熱，上竄咬牙，小腸實熱，小便秘赤。</p>
<p>生地黃　生甘草　木通（各等分）</p>
<p>上為末，每服三錢，水一盞，入竹葉同煎至五分，食後溫服。一本不用甘草用黃芩。</p>
<p><u>瀉心湯</u>　治小兒心氣實，氣澀不得通，喜仰臥。</p>
<p>黃連</p>
<p>上為末，每服五分，臨臥溫水化下。</p>
<p><u>瀉黃散</u>（又名瀉脾散）　治脾胃實熱弄舌。</p>
<p>藿香葉（七錢五分）　山梔子仁（一兩）　石膏（五錢）　甘草（七錢五分）　防風（三兩，焙）</p>
<p>上銼，用蜜酒微炒香，為細末，每服一二錢，水一盞至五分，溫服清汁。</p>
<p><u>異功散</u>　治脾胃虛弱，吐瀉不思乳食。</p>
<p>人參　茯苓（去皮）　白朮　陳皮　甘草（各等分）</p>
<p>上為細末，每服二三錢，水一盞，生薑大棗同煎至七分，食前溫服。</p>
<p>附《顱囟經》　和平飲子　治小兒初生日，與：</p>
<p>人參　茯苓　甘草　升麻（各一分）</p>
<p>上水煎，時時與之，臨時冷加白朮，熱加芒硝。</p>
<p><u>益黃散</u>（又名補脾散）　治脾胃虛寒，嘔吐泄瀉，及治脾疳腹大身瘦。</p>
<p>陳皮（一兩，去皮）　丁香（二錢），一方用木香訶子（炮，去核）　青皮（去白）　炙甘草（各五錢）</p>
<p>上為末，三歲兒一錢半，水半盞，煎三分，食前服。</p>
<p><u>白朮散</u>　治脾胃久虛，嘔吐泄瀉，但欲飲水，乳食不進。</p>
<p>人參（二錢五分）　白茯苓　白朮（炒）　藿香葉　葛根（各五錢）　木香（二錢）　甘草（一錢）　</p>
<p>上㕮咀，每服三錢，水煎，熱甚煩渴去木香，《本事方》。</p>
<p><u>白朮散</u>　治小兒嘔吐，脈遲細有寒，白朮　人參（各二錢五分）　半夏曲（二錢）　茯苓　乾薑　甘草（各一錢）</p>
<p>上為細末，每服二錢，水一盞，姜（三片），棗（一枚）擘去核，煎至七分，去渣溫服，日二三服。</p>
<p><u>瀉白散</u>　治肺實熱盛，咳嗽氣急痰喘。</p>
<p>地骨皮　桑白皮（炒各一兩）　炙甘草（一錢）</p>
<p>上銼散，入粳米一撮，水二小盞，煎七分，食前服。</p>
<p><u>阿膠散</u>（又名補肺散）　治肺虛咳嗽，氣粗喘促口渴。</p>
<p>阿膠（一兩五錢，麩炒）　黍黏子（炒香）　甘草（炙，各二錢五分）　馬兜鈴（五錢，焙）　杏仁（七個，去皮尖炒）　糯米（一兩，炒）</p>
<p>上為末，每服一二錢，水一盞，煎至六分，食後溫服。</p>
<p>曾氏《活幼心書》　補肺散　去黍黏子，加茯苓。</p>
<p><u>地黃丸</u>（又名六味丸）　治腎怯失音，䪿開不合，神不足，目中白睛多，面色㿠白等虛證。</p>
<p>熟地黃（八錢，酒洗）　山萸肉　山薯蕷（各四錢）　澤瀉　牡丹皮　白茯苓（各三錢，去皮）</p>
<p>上為末，煉蜜丸如梧子大，空心，溫水化下二十丸。</p>
<p>寇氏《全幼心鑑》去澤瀉加人參鹿茸名參茸地黃丸，治稟賦不足，腎氣虛弱，骨髓枯竭，解顱語遲，齒生緩，行步多艱。</p>
<p><u>生犀角汁</u>　治瘡疹不快，吐血衄血。</p>
<p>生烏犀角（磨汁）</p>
<p><u>玉露散</u>（又名甘露散）　治傷熱吐瀉，汗出口渴，脈浮洪大。</p>
<p>寒水石　石膏（各半兩）　生甘草（一錢）</p>
<p>上為細末，每服一匙，或半錢一錢，食後溫湯調下。</p>
<p><u>甘桔湯</u>　治小兒肺熱。</p>
<p>桔梗（二兩）　甘草（一兩）</p>
<p>上為粗末，每服二錢，水一盞煎至七分，去滓，食後溫服，加荊芥防風名如聖湯。</p>
<p>董氏《斑診備急方》加惡實麥門冬，亦名如聖湯。</p>
<p><u>閻氏孝忠附方</u></p>
<p>小兒耳冷䯌冷，手足乍冷乍熱，面赤，時嗽嚏驚悸，此瘡疹欲發也。未能辨認，間服升麻葛根湯，消毒散，已發未發皆宜服；仍用胡荽酒，黃柏膏；暑月煩躁，食後與白虎湯，玉露散；熱盛與紫雪；咽痛或生瘡與甘桔湯，甘露飲子。余依錢氏說。</p>
<p>大人同。</p>
<p><u>升麻葛根湯</u>　治傷寒溫疫風熱，壯熱頭痛肢體痛，瘡疹已發未發並宜服之。</p>
<p>升麻　乾葛　芍藥　甘草（各半兩，炙）</p>
<p>上為粗末，每服四錢，水一盞半，煎至一盞，量大小與之，溫服無時。</p>
<p>《千金方》無甘草有黃芩，名　四物解肌湯　，治少小傷寒。</p>
<p><u>消毒散</u>　治瘡疹未出；或已出，未能勻遍，又治一切瘡。涼膈去痰治咽痛。</p>
<p>牛蒡子（二兩，炒）　甘草（半兩）　荊芥穗（一兩）</p>
<p>上為粗末，每服三錢，水一盞半，煎至一盞，溫服不拘時。</p>
<p>《活人書》　鼠黏子湯　有防風，治證同。</p>
<p><u>黃柏膏</u>　治瘡疹已出，用此塗面，用胡荽酒。</p>
<p>黃柏（一兩，去皮）　甘草（四兩）　新綠豆（一兩半）</p>
<p>上為細末，生油調，從耳前至眼輪，並厚塗之，日三兩次。如早用瘡不上面，縱有亦少。</p>
<p><u>胡荽酒</u>　胡荽（細切四兩，以好酒二盞，煎一二沸，入胡荽，再煎少時，用物合定放冷）上每吸一二口，微噴從頂至足勻遍，勿噴頭面。病人左右常令有胡荽，即能闢去汗氣，瘡疹出快。</p>
<p>瘡疹忌外人及穢觸之物，雖不可受風冷，然亦不可擁遏，常令衣服得中，並虛涼處坐臥。</p>
<p><u>甘露飲子</u>　治心胃熱，咽痛口舌生瘡，並瘡疹已發未發並可服。又治熱上攻牙齦腫，牙齒動搖。</p>
<p>生地黃（焙）　熟地黃（焙）　天門冬（去心焙）　麥門冬（去心焙）　枇杷葉（去毛）　黃芩（去心）　石斛（去苗）　枳殼（去穰麩炒）　甘草（炙）　山茵陳葉</p>
<p>上各等分，為粗末，每服二錢，水一盞，煎八分，食後溫服。牙齒動搖，牙齦腫熱，含漱渫並服。《活人書》曰：胃中客熱，口臭不思飲食，或飢煩不欲食，齒齦腫疼，膿血，舌口咽中有瘡，赤眼，目瞼重不欲開，瘡疹已發未發並宜服此。《本事方》無麥冬犀角尖，治胃熱口臭牙宣，赤眼口瘡，一切瘡疼。</p>
<p><u>白虎湯</u>　解暑毒煩躁，身熱，痰盛，頭痛，口燥，大渴。</p>
<p>知母（一兩半，焙）　甘草（半兩，炒）　石膏（四兩）　白粳米（八錢）</p>
<p>上為粗末，每服三錢，水一盞，煎至八分。食後溫冷隨意服，氣虛人加人參同煎。</p>
<p><u>紫雪</u>　治驚癇百病，煩熱涎厥，及傷寒胃熱發斑，一切熱毒喉痹腫痛，又治瘡疹毒氣上攻咽喉，水漿不下。</p>
<p>黃金（十兩）　寒水石　磁石　滑石　石膏（各四兩八錢，並搗碎）</p>
<p>以上用水五升，煮至四升，去滓入下項藥：</p>
<p>玄參（一兩六錢，搗碎）　木香（搗碎）　羚羊角屑　犀角屑　沉香（各半兩，搗碎）　升麻（一兩六錢，搗碎）　丁香（一錢，搗碎）　甘草（八錢，炙銼。）</p>
<p>以上八味入前藥汁中，再煮取一升五合，去滓入下項藥：</p>
<p>硝石（三兩一錢）　芒硝亦得　朴硝（一斤，精者）</p>
<p>以上二味入前汁中，微火上煎，柳木篦攪不住手，候有七合，投在木盆中半日，欲凝入下項藥：</p>
<p>硃砂（三錢，研飛）　麝香當門子（一錢一字，研）</p>
<p>以上二味入前藥中攪勻，寒之二日。</p>
<p>上件成紫色霜雪，每服一字至五分，冷水調下，大小以意加減。咽喉危急病，捻少許，乾嚥立效，又治大人腳氣，毒遍內外，煩熱不解，口中生瘡，狂易叫走，瘴疫毒癘，卒死，溫瘧，五屍，五疰，大能解諸藥毒。每服一錢至二錢，冷水調下，並食後服。</p>

<h2>董氏《小兒斑疹備急方論》</h2>
<p>（東平董汲及之論次）</p>

<h3>序</h3>
<p>世之人有得一奇方，可以十全愈疾者，恐恐然惟慮藏之不密，人或知之，而使其藥之不神也，其亦陋矣。夫藥之能愈病，如得人人而告之，使無夭橫，各盡其天年以終，此亦仁術也。志友董及之，少舉進士不第，急於養親，一日盡棄其學而從事於醫。然醫亦非鄙術矣，古之人未嘗不能之，如張仲景、葛洪、陶隱居、孫思邈，皆名於後世。但昧者為之，至於異貴賤，別貧富，自鄙其學，君子不貴也。及之則不然，凡人之疾苦如己有之，其往來病者之家，雖祁寒大暑未嘗少憚，至於貧者或昏夜，自惠薪粲以周其乏者多矣。他日攜《小兒斑疹方》一秩見過，求序於余。因為引其略，亦使見及之之所存，知世之有奇方，可以療疾者，不足貴也。如此，東平十柳居士孫准平甫序。</p>

<h3>自序</h3>
<p>夫上古之世，事質民淳，稟氣全粹，邪不能幹，縱有疾病，祝由而已，雖大人方論，尚或未備。下逮中古，始有巫妨氏者，著《小兒顱囟經》以卜壽夭，別死生，歷世相援，於是小兒方論興焉。然在襁褓之時，臟腑嫩弱，脈促未辨，癢不知處，痛亦難言，只能啼叫；至於變蒸驚風，客忤解顱，近世巢氏一一明之。然於斑疹欲出證候與傷風相類，而略無辨說，致多謬誤。而復醫者不致詳慎，或乃虛者下之，實者益之，疹者汗之，風者溫之，轉生諸疾，遂致夭斃，噓可嘆也。今採摭經效秘方，詳明證候，通為一卷，目之曰《斑疹備急方》，非敢謂有補於後世，意欲傳諸好事者，庶幾鞠育之義存焉。東平董汲及之序。</p>

<h3>總論</h3>
<p>論曰：夫生民之道，自微而著，由小而大，此物理灼然，不待經史，證據可知。然小兒氣稟微弱，故《小品方》云：人生六歲以上為小，六歲以下，經不全載，所以乳下嬰兒有疾難治者，皆為無所依據。至如小兒斑疹一候，不惟脈理難辨，而治療最比他病尤重。覺證與傷寒陰癇相近，通都輔郡，名醫輩出，則猶能辨其一二。遠地左邑，執病不精，失於詳審，投藥暴妄。加之小兒臟腑嬌嫩，易為傷動，斑疹未出，往往疑為傷風，即以麻黃等藥重發其汗，遂使表虛里實。若為陰癇治之，便用溫驚藥品，則熱勢愈盛。直至三四日證候已定，方得以斑疹藥治之，則所失多矣。大率世俗醫者，斑疹欲出，多以熱藥發之，遂使胃中熱極。其初作時即斑疹見於皮下，其已出者變黑色而內陷，既見不快，尤用熱藥，熏蒸其疾，斑疹得熱則出愈難。轉生熱證，大小便不通，更以巴豆取積藥下之，則使兒臟腑內虛，熱又不除，邪氣益深，變為喘滿便血，或為疱癰，身體裂破，遂使百年之壽一旦為俗醫所誤者，可不痛哉。大抵斑疹之候，始覺多咳嗽，身體溫壯，面色與四肢俱赤，頭痛腰疼，眼睛黃色，多睡中瘛瘲，手足厥，耳尖及尻冷，小便赤，大便秘，三部脈洪數絕大不定是其候也。其乳下兒可兼令乳母服藥。其證候未全或未明者，但可與升麻散解之。其已明者即可用大黃青黛等涼藥下之，次即與白虎湯。如秋冬及春寒未用白虎湯之時，但加棗煎服，不必拘於常法。仲景云：四月後天氣大熱，即可服白虎湯，特言其梗概耳，大率疹疱未出即可下。已出即不可下。出足即宜利大小便。其已出未快者可與紫草散，救生散，玳瑁散之類，其重者以牛李膏散之。或毒攻咽喉者，可少與紫雪及如聖湯，無不效也。其餘熱不解，身熱煩渴及病疹兒母俱可與甘露飲。或便血者以牛黃散治之兼宜常平肝臟，解其敗熱，慮熱毒攻肝，即衝於目，內生障翳，不遇醫治，瞳人遂損，尤宜慎之。然已出未平，切忌見雜人，恐勞力之人，及狐臭熏觸故也。未愈不可當風，即成瘡痂。如膿疱出可燒黑醜糞灰，隨瘡貼之，則速愈而無瘢也。及左右不可闕胡荽，蓋能御汗氣辟惡氣故也。如兒能食物，可時與少葡萄，蓋能利小便，及取如穗出快之義也。小兒斑疹本以胎中積熱，及將養溫厚，偶胃中熱，故乘時而作。《外臺方》云：胃爛即發斑。微者赤斑出，極者黑斑出。赤出五死一生，黑斑出十死一生。其腑熱即為疹，蓋熱淺也。臟熱即為疱，蓋熱深也。故《證色論》云：大者屬陰，小者屬陽。汲總角而來，以多病之故，因而業醫。近年累出諸處治病。當壬申歲冬無大雪，天氣盛溫，逮春初，見小兒多病斑疹。醫者頗如前說，如投以白虎湯之類，即竊笑云白虎湯本治大人。蓋不知孫真人所論大人小兒為治不殊，但用藥劑有多少為異耳。則是未知用藥之法，故多失誤。今博選諸家及親經用有效者方，備錄為書。</p>

<h3>藥方</h3>
<p><u>升麻散</u>　治疹疱未出，疑貳之間，身熱與傷寒溫疫相似，及瘡子已出發熱，並可服之方。</p>
<p>升麻　芍藥　葛根（銼炒）　甘草（炙，各一兩）。</p>
<p>上為細末，每二歲兒，服二錢，水一盞，煎至五分，去滓，溫服不以時，日三夜一服。</p>
<p><u>白虎湯</u>　治痘疱麩疹斑瘡赤黑出不快，及疹毒餘熱，並溫熱病，中暑氣，煩躁熱渴方。</p>
<p>石膏（四兩）　知母（一兩半，銼）　甘草（炙，三兩）　人參（半兩）</p>
<p>上為細末，每服二錢，水一盞，入粳米二十粒，同煎至七分，去滓，溫服，不以時，小兒減半服。春冬秋寒有證亦服，但加棗煎，並乳母亦令服之。</p>
<p><u>紫草散</u>　（閻氏名四聖散）　治伏熱在胃經，暴發痘疱瘡疹，一切惡候，出不快，小便赤澀，心腹脹滿方。</p>
<p>紫草（去苗，一兩）　甘草（生用）　木通（去根節銼）　枳殼（去穰麩炒）　黃耆（炙銼，各半兩）</p>
<p>上為細末，每服二錢，水一盞，煎至八分，去滓，溫服無時。閻氏治瘡疹出不快，及倒擫，四聖散即此方也。然既名四聖散，何以有五味，疑黃耆當注云虛者加入。</p>
<p><u>附錢氏紫草散</u>　發斑疹。</p>
<p>釣藤鉤子　紫草茸（各等分）</p>
<p>上為細末，每服一匙，或五分、一錢，溫酒調下，無時。</p>
<p>又附　閻氏方藍根散　治瘡疹出不快及倒擫。</p>
<p>板藍根（一兩）　甘草（三錢，銼）</p>
<p>上為細末，每服半錢或一錢，取雄雞冠血三兩點，同溫酒少許，食後同調下，二方無證勿服。</p>
<p><u>抱龍丸</u>　治一切風熱，中暑，驚悸，瘡疹欲出，多睡，咳嗽，涎盛，面赤，手足冷，發溫壯，睡中驚，搐搦不寧，脈洪數，頭痛嘔吐，小便赤黃方。</p>
<p>天南星（銼開，里白者生為末，臘月內取黃牛膽汁和為劑，卻入膽內陰乾，再為末，半斤）　天竺黃（二兩，別研）　硃砂（二錢，研水飛）　雄黃（半兩，研水飛）　麝香當門子（一錢，別研）　牛黃（一字，別研）</p>
<p>上同研極細末，甘草水和丸，芡實大，窨干，竹葉或薄荷湯化下一丸，不拘時候。一方不用牛黃。</p>
<p><u>救生散</u>　治瘡疹膿疱、惡候危困、陷下黑色方。</p>
<p>豶豬血（臘月內以新瓦罐子盛，掛於屋棟上，陰乾取末一兩）馬牙硝（一兩，研）　硼砂（研）　硃砂（研水飛）　牛黃（研）　龍腦（研）　麝香（一錢，別研）</p>
<p>上研極細，每二歲兒取一錢，新汲水調下，大便下惡物，瘡疱紅色為度，不過再服，神驗無比。</p>
<p><u>牛李膏</u>（錢氏云：一名必勝膏）　治瘡疹痘疱惡候見於皮膚下不出，或出而不長，及黑紫內陷，服之即順，救危急候。愚小年病此，危惡殆極，父母已不忍視，遇今太醫丞錢公乙下此藥得安，因懇求真法。然此方得於世甚久，惟於收時不知早晚，故無全效。今並收時載之，學者宜依此方。</p>
<p><u>牛李子</u>（一名烏罡子，一名楮李子，一名牛消子，一名鼠李子，一名禾鐮子）好生道旁田畔，過秋結實成穗，垂葉間，味甘可食，色黑多汁。九月後採取，研細，絹濾汁不以多少，於銀石器中熬成膏，可丸。每膏二兩，好麝香半錢，細研和入。</p>
<p>上每二歲兒服一丸，如桐子大，漿水煎杏膠湯化下。如瘡疱紫黑內陷者不過再服，當下惡血及魚子相似；其已黑陷於皮下者，即紅大而出，神驗。</p>
<p><u>玳瑁散</u>　治瘡疹熱毒內攻，紫黑色，出不快方。</p>
<p>生玳瑁甲（水磨濃汁一合，豶豬心一丸，從中取血一皂子大，同研），上以紫草嫩茸，濃汁煎湯調，都作一服。</p>
<p><u>利毒丸</u>　治瘡疹欲出前，胃熱發溫壯，氣粗腹滿，大小便赤澀，睡中煩渴，口舌乾，手足微冷，多睡，時嗽涎實，脈沉大滑數，便宜服之方。</p>
<p>大黃（半兩）　黃芩（去心）　青黛（各一錢）　膩粉（炒，一錢）　檳榔　生牽牛（取末，各一錢五分）　大青（一錢）　龍腦（研）　硃砂（研飛，各五分）</p>
<p>上杵研為細末，麵糊為丸，如黃米大，每二歲兒服八丸，生薑蜜水下，不動再服，量兒大小、虛實加減。</p>
<p><u>如聖湯</u>　治咽喉一切疼痛，及瘡疹毒攻咽喉，腫痛有瘡，不能下乳食方。</p>
<p>桔梗（銼）　甘草（生用）　惡實（微炒，各一兩）　麥門冬（去心，半兩）</p>
<p>上為細末，每二歲兒，服一錢，沸湯點，時時呷服，不以時。</p>
<p><u>甘露飲</u>　解胃熱及瘡疹已發，餘熱溫壯，齦齒宣腫牙痛，不能嚼物，飢而不欲食，煩熱，身面黃，及病瘡疱，乳母俱可服之方。</p>
<p>生乾地黃（切焙）　熟乾地黃（切焙）　天門冬（去心）　麥門冬（去心）　枇杷葉（去毛）　黃芩（去心）　石斛（去根苗銼）　甘草（炙銼）　枳殼（去穰麩炒）　山茵陳葉（去土，各一兩）</p>
<p>上為散，每服二錢，水一盞，煎至七分，去滓，溫服不以時候，量力與服。</p>
<p><u>蘇恭紫雪</u>　治大人小兒一切熱毒，胃熱發斑，消痘疱麩疹，及傷寒熱入胃發斑，並小兒驚癇涎厥，走馬急疳，熱疳，疳黃，疳瘦，喉痹腫痛，及瘡疹毒攻咽喉，水漿不下方。</p>
<p>黃金（百兩）　寒水石（三斤）　石膏（三斤）　磁石（三斤）　滑石（三斤）　犀角屑（五兩）　羚羊角屑（五兩）　玄參（一斤）　沉香（五兩）　青木香（五兩）　丁子香（一兩）　甘草（八兩）　升麻一升（皆㕮咀）</p>
<p>上以水五斗，煮金至三斗，去金不用，入諸藥，再煎至一斗，濾去滓，投硝石四升，芒硝亦可用，朴硝精者十斤，投汁中，微火煎，以柳木篦攪勿停手，候欲凝入木盆中，更下研硃砂真麝香各三兩，急攪勻，候冷貯於密器中，勿令見風，每服一錢，溫水化下，小兒半錢一字，咽喉危急病，捻少許，乾嚥之立效。</p>
<p>附：藥味分兩悉照《外臺秘要》蘇恭紫雪方更正。</p>
<p>徐洄溪曰：方中黃金百兩，以飛金一萬頁代之尤炒。邪火毒火穿經入臟無藥可治，此能消解，其效如神。</p>
<p><u>調肝散</u>　敗肝藏邪熱，解散斑疹餘毒，服之瘡疹不入眼目方。</p>
<p>犀角屑（一分）　草龍膽（半錢）　黃耆（半兩，銼炙）　大黃（一分，炒過）　桑白皮（一分，炙）　釣藤鉤子（一分）　麻黃（一分，去根節）　石膏（別研）　栝蔞實（各半兩，去穰皮）　甘草（一分，炙）</p>
<p>上為散，每服二錢，水一盞，煎至五分，去滓，溫服，量兒大小加減，不以時候。</p>
<p><u>護目膏</u>　治疹痘出後，即須愛護面目，勿令沾染。欲用胡荽酒噴時，先以此藥塗面上，然後方可以胡荽酒噴四肢。大人小兒有此，悉宜用之方。</p>
<p>黃柏（一兩，去皮銼）　綠豆（一兩半，揀淨）　甘草（四兩，生銼）</p>
<p>上為細末，以生油調為膏，從耳前眼眶並厚塗目三五遍。上塗面後，可用胡荽酒微噴，勿噴面也。早用此方塗面即面上不生疹痘，如用此方塗遲，縱出亦少。</p>
<p><u>胡荽酒</u>　治斑痘麻疹，欲令速出，宜用此方。</p>
<p>胡荽（四兩）</p>
<p>上細切，以酒二大盞煎令沸，沃胡荽，便以物合定，不令氣出，候冷去滓，微微從頂已下噴背及兩腳胸腹，令遍，勿噴頭面。（仍將滓焙乾，紅絹袋子盛，縫合令乳母及兒佩帶，余酒與乳母飲之）</p>
<p><u>牛黃散</u>　治瘡疹陽毒入胃，便血日夜無節度，腹痛啼哭方。</p>
<p>川鬱金（一兩）　西牛黃（一錢）</p>
<p>上研為末，每二歲兒服半錢，以漿水半盞，煎至三分，和滓溫服，大小以此增減之。</p>
<p><u>蛇蛻散</u>　治斑疹入眼，翳膜侵睛，成珠子方。</p>
<p>馬屁勃（一兩）　皂莢子（二十七個）　蛇蛻皮（全者一條）</p>
<p>上入小罐子內，鹽泥固濟，燒不得出煙，存性研為細末，溫水（閻氏用溫酒）調下一錢，食後服。</p>
<p><u>真珠散</u>　治斑疱瘡疹入眼疼痛，翳膜眼赤羞明方。</p>
<p>栝蔞根（一兩）　蛇蛻皮（四錢一條，全炙）</p>
<p>上為末，用羊子肝一枚，批開去筋膜，摻入藥二錢，用麻縷纏定，以米泔內煮熟，任意與吃。如少小未能吃羊肝，以熟羊肝研和為丸，如黃米大，以生米泔下十丸，乳頭上與亦可，日三服。（兒小未能食肝，與乳母食之佳）</p>

<h3>附閻氏方</h3>
<p>蟬殼末</p>
<p>上用水煎羊子肝湯，調服一二錢。</p>
<p>凡痘瘡才欲著痂，即用酥或面油不住潤之，可揭即揭去。若不潤及，遲揭瘡痂，硬即隱成瘢痕，終身受累。（附）</p>
<p>凡小兒實熱疏轉後，如無虛證，不可妄溫補。熱必隨生，（附）</p>

<h3>後序</h3>
<p>余平生刻意方藥，察脈按證，雖有定法，而探源應變，自謂妙出意表。蓋脈難以消息求證，不可言語取者，褪褓之嬰，孩提之童。尤甚焉。故專一為業，垂四十年。因緣遭遇，供奉禁掖，累有薄效，誤被恩寵。然小兒之疾，陰陽為癇最大，而醫所覃思，經有備論；至於斑疹之候，蔑然危惡反驚搐，傷寒二癇大同，而用藥甚異，投劑小差，悖謬難整，而醫者恬不為慮。比得告歸里中廣川，及之出方一秩示予，予開卷而驚歎曰：是予平昔之所究心者，而子乃不言，傳而得之。予深嘉及之少年，藝術之精，而又愜素所願以授人者，於是輒書卷尾焉。</p>
<p><u>時元佑癸酉八年十月丙申日翰林醫官太醫丞賜紫金魚袋錢乙題董氏《小兒斑疹備急方論》全</u></p>

<h2>朱氏翼中《類證活人書》</h2>
<p>此一卷論小兒瘡疹。瘡疹與傷寒相類，頭疼身熱，足冷脈數，疑似之間，只與升麻湯。緣升麻湯解肌兼治瘡子，已發未發皆可服，但不可疏轉，此為大戒。傷寒身熱固不可下，瘡疹發熱在表尤不可轉，世人不學乃云初覺以藥利之，宣其毒也。誤矣。又云瘡豆已出不可疏轉，出得已定或膿血太盛，卻用疏利亦非也。大抵瘡疹首尾皆不可下。小兒身熱，耳冷，尻冷、咳嗽輒用利藥，即毒氣入里殺人，但與化毒湯，紫草木通湯，鼠黏子湯；出得太盛，即用犀角地黃湯解之；若瘡痘出不快，煩躁不得眠者，水解散，麻黃黃芩湯，升麻黃芩湯，活血散主之；黑瘡倒厭，豬尾膏，無比散，龍腦膏子無不驗也；若熱毒攻咽喉痛，如聖湯；瘡豆入眼，決明散，撥雲散，密蒙花散，通聖散，蛤粉散主之。治瘡疹法無出此矣。</p>
<p><u>升麻湯</u>　治傷寒中風，頭痛憎寒壯熱，支體痛，發熱畏寒，鼻乾不得睡。兼治小兒大人瘡疹已發未發，皆可服，兼治寒暄不時，人多疾疫，乍暖脫著，及暴熱之次忽變陰寒，身體疼痛，頭重如石者。</p>
<p>升麻　白芍藥　甘草炙　乾葛（各等分）</p>
<p>上銼如麻豆大，每服五錢，以水一盞半，煎至八分，去滓，溫服。若太假寒，即熱服，若熱即溫服。瘡疹亦准此，服藥已，身涼止藥。小兒量度多少服，如老兒吃，去芍藥加柴胡一兩，人參半兩，雪白芍藥一分。</p>
<p><u>犀角地黃湯</u>　治傷寒及溫病應發汗而不發汗，內有瘀血者，及鼻衄吐血不盡，內有餘，瘀血面黃，大便黑者，此方主消化瘀血，兼治瘡疹出得太盛，以此解之。</p>
<p>芍藥（三分）　生地黃（半斤）　牡丹皮（去心，一兩）　犀角（一兩，屑，如無以升麻代之）</p>
<p>上銼如麻豆大，每服五錢匕，水一盞半，煎取一盞。有熱如狂者，加黃芩二兩；其人脈大來遲，腹不滿自言滿者，為無熱，更不用黃芩也。</p>
<p><u>麻黃黃芩湯</u>　治小兒傷寒無汗，頭疼發熱，惡寒，兼治天行熱氣，生豌豆瘡，不快，益煩躁昏憒，或出尚身疼熱者。</p>
<p>麻黃（去節，一兩）　黃芩　赤芍藥（各半兩）　甘草（炙）　桂枝（去皮，各一分）</p>
<p>上搗羅為細末，每服二錢，滾水調下日三服。</p>
<p><u>升麻黃芩湯</u>　治小兒傷風有汗，頭疼發熱惡寒，若時行瘡痘出不快，煩躁不眠者，加木香（一錢五分）。</p>
<p>升麻　葛根　黃芩　芍藥（各三錢）　甘草（炙，一錢半）</p>
<p>上銼如麻豆大，每服二錢，以水一中盞，煎至六分，去滓，溫服。</p>
<p><u>化毒湯</u>　治小兒瘡痘已出未出並皆服之。</p>
<p>紫草嫩者　升麻　甘草（炙，各半兩）</p>
<p>上銼如麻豆大，以水二盞，糯米五十粒，煎至一盞，去滓，溫服。</p>
<p>德按：劉氏《幼幼新書》加木通二錢五分，名曰　奪命散　，此瘡疹之祖方也。</p>
<p><u>紫草木通湯</u>　治小兒瘡疹。</p>
<p>紫草（去蘆）　木通　人參　茯苓（去皮）　糯米（各等分）　甘草（半之）</p>
<p>上銼如麻豆大，每服四錢匕，以水一盞半，煎至一盞，去滓，溫服。</p>
<p><u>鼠黏子湯</u>　治疹痘欲出未能得透，皮膚熱，氣攻咽喉，眼赤心煩者。</p>
<p>鼠黏子（四兩，炒香）　甘草（一兩）　防風（半兩）　荊芥穗（二兩）</p>
<p>上搗羅為末，每服二錢，沸湯點服，食後臨臥，逐日三服，大利咽膈，化痰涎止嗽。若春冬間，常服免生瘡癤，老幼皆宜服。</p>
<p><u>水解散</u>　治天行頭痛壯熱一二日，兼治疱瘡未出煩躁，或出尚身體發熱。</p>
<p>大黃　黃芩　桂心　甘草（炙）　芍藥（各二兩）　麻黃（四兩，去節湯泡焙）</p>
<p>上搗羅為末，患者以生熟湯浴訖，以暖水調下二錢，相次二服，得汗利便瘥。強實人服二方寸匕。此調風實之人，三伏中宜用。若去大黃，即春夏通用。</p>
<p><u>活血散</u>　治瘡子或出不快。</p>
<p>用白芍藥末一錢酒調，如欲止痛用溫熱水調下。</p>
<p><u>豬尾膏</u>　治瘡子倒厭黑陷。</p>
<p>用小豬兒尾尖刺血三兩點，入生龍腦少許，同研，新汲水調下立效，惟實熱證，方可用此。</p>
<p><u>無比散</u>　治瘡疹惡候不快，及黑瘡子，應一切惡候。</p>
<p>牛黃　麝香　龍腦　膩粉（各一分，研細）　硃砂（一兩，先研如粉）</p>
<p>上為極細粉，小兒一字，大人五分，水銀少許，同小豶豬尾上血三兩滴，新汲水少許，同調服，先安穩得睡，然後取轉，下如爛魚腸蒲桃穗之類涎臭惡物便安，小兒用奶乳汁滴尤妙。</p>
<p><u>龍腦膏子</u>　治時疾發豌豆瘡，及赤瘡子未透，心煩狂躁，氣喘妄語，或見鬼神，或已發而陷伏，皆宜速治，不爾毒入臟必死。</p>
<p>生龍腦（一錢）</p>
<p>上細研，旋滴豬心血和丸，芡實大，每服一丸。心煩狂躁者用紫草湯化下，若瘡子陷伏者用溫酒化下，少時心神便定得睡，瘡疹發透，依常將息也。</p>
<p><u>附閻氏方</u>　治伏熱在心，昏瞀不省，或誤服熱藥，搐熱冒昧不知人，及瘡疹倒厭黑陷。</p>
<p>生梅花腦子研半字或一字，取新殺豬心一個，取心中血同研作大丸，用新汲水少許化下，未省再服；如瘡疹陷伏者，溫酒化下。</p>
<p><u>如聖湯</u>　治小兒瘡疹，毒攻咽喉腫痛。</p>
<p>桔梗（一兩）　牛蒡子（炒，一兩）　生甘草（一兩）　麥門冬（去心，半兩）</p>
<p>上為細末，每服二錢，沸湯點，細細呷服，入竹葉煎服尤妙。</p>
<p><u>決明散</u>　治疹痘瘡入眼。</p>
<p>右決明子（一分）　栝蔞根（半分）　赤芍藥（一分）　甘草（一分，炙）</p>
<p>上搗羅為末，每服半錢，蜜水調下，日進三服。</p>
<p><u>撥雲散</u>　治疹痘瘡入眼及生翳。</p>
<p>桑螵蛸（真者一兩，炙令焦，細研）</p>
<p>上搗羅為細末，入麝香少許，令勻，每服二錢，生米泔調下，臨臥服之。</p>
<p><u>密蒙花散</u>　治疹痘瘡並諸毒氣入眼。</p>
<p>密蒙花（一錢半，淨）　青葙子　決明子　車前子（各半錢）</p>
<p>上為細末，用羊肝一片，破開作三片，摻藥令勻，卻合作一片，以濕紙七重裹，塘灰火中煨熟，空心食。</p>
<p><u>通望散</u>　治疹痘瘡入眼及生翳。</p>
<p>白菊花（一兩），如無以甘菊花代之　綠豆皮　穀精草（去根，各一兩）</p>
<p>上搗羅為末，每服用一大錢，乾柿一個，生粟米泔一盞，共一處，煎後，米泔盡，只將乾柿去核吃之，不拘時候，一日可吃三枚，日淺者五七日可效，遠者半月愈矣。</p>
<p><u>蛤粉散</u>　治小兒瘡子入眼。</p>
<p>穀精草　蛤粉（各等分）</p>
<p>上為末，每服一錢匕，豬肝二兩許，批開摻藥，捲了青竹葉，裹麻縷纏定，水一碗煮令熟，入收口瓷缸內，熏眼後，溫取食，日作，不過十日退。</p>

<h2>許白沙先生論小兒病脈</h2>
<p>凡候小兒脈，當以大指按三部，一息六七至為平和。十至為發熱，五至為內寒。（一作脹）脈緊為風癇，沉緩為傷食，促急為虛驚，弦急為氣不和，沉細為冷，浮為風，大小不勻為惡候，為鬼祟，浮大數為風為熱，伏結為物聚，單細為疳勞腹痛多喘嘔。而脈洪者為有蟲，沉（一作浮）而遲潮熱者胃寒也，溫之則愈。予嘗作歌以記之，歌曰：小兒脈緊風癇候，沉緩傷食多吐嘔，弦急因知氣不和，急促虛驚神不守，冷則沉細風則浮，牢實大便應秘久，腹痛之後緊而弦，脈亂不治安可救。變蒸之時脈必變，不治自然無過謬，單細疳勞洪有蟲，大小不勻為惡候，脈沉（一作浮）而遲有潮熱，此必胃寒來內寇，（內一作作）瀉利浮大不可醫，仔細斟量宜審究。凡嬰兒未可脈者，俗醫多看虎口中紋顏色，與四肢冷熱，驗之亦有可取。予又以二歌記之。虎口色歌曰：紫熱紅傷寒，青驚白色疳，黑時因中惡，黃即困脾端。冷熱證歌曰：鼻冷定知是瘡疹，（一作痘症）耳冷應知風熱證，通身皆熱是傷寒，上熱下冷傷食病。若能以色脈參伍，驗之所得亦過半矣。</p>

<h2>郭白雲先生論痘疹三不宜</h2>
<p>凡盛出之際宜解肌，以托其出，不宜汗，汗則氣弱而陷；宜和里以紓其壅，不宜下，下則毒反入內；宜化毒以濟其陰，不宜涼折，涼折則毒閉不出。此通弊也，學者不可不知。</p>

<h2>王海藏先生論痘疹出不快</h2>
<p>身後出不快者，足太陽經也，用荊芥甘草防風湯；身前出不快者，手陽明經也，用升麻葛根湯；四肢出不快者，足陽明經也，用防風芍藥甘草湯。此皆解毒升發之劑也，不可不知。</p>
<p><u>右編曰述古上</u></p>

<h1>卷三</h1>

<h2>繆氏《廣筆記幼科》</h2>

<h3>痧疹論並治法</h3>
<p>繆氏仲醇曰：痧疹者，手太陰肺足陽明胃二經之火熱發而為病者也。小兒居多，大人亦時有之。殆時氣瘟疫之類歟。其證類多咳嗽，多嚏，眼中多淚，多泄瀉，多痰，多熱，多渴，多煩悶，甚則躁亂，咽痛，唇焦，神昏是其候也。治法當以清涼發散為主。藥用辛寒甘寒苦寒以升發之，惟忌酸收，最宜辛散，誤施溫補，禍不旋踵。辛散如荊芥穗乾葛西河柳石膏麻黃鼠黏子；清涼如玄參栝蔞根薄荷竹葉青黛；甘寒如麥門冬生甘草蔗漿；苦寒如黃芩黃連黃柏貝母連翹皆應用之藥也。量證輕重，製劑大小，中病則已，毋太過焉。</p>

<h3>痧疹續論</h3>
<p>痧疹乃肺胃熱邪所致，初發時必咳嗽，宜清熱透毒，不得止嗽。疹後咳嗽，但用貝母栝蔞根甘草麥門冬苦桔梗玄參薄荷以清餘熱，消痰壅則自愈，慎勿用五味子等收斂之劑。若多喘，喘者熱邪壅於肺故也，慎勿用定喘藥，惟應大劑竹葉石膏湯加西河柳兩許，玄參薄荷各二錢。如冬天寒甚痧毒為寒氣鬱於內，不得透出者，加蜜酒炒麻黃一劑立止。凡熱勢甚者，可用白虎湯加西河柳，忌用升麻，服之必喘。若多泄瀉，慎勿止瀉，惟用黃連升麻乾葛甘草則瀉自止。疹家不忌瀉，瀉則陽明之邪熱得解，是亦表裡分消之義也。倘痧後泄瀉及便膿血，皆由熱邪內陷故也，大忌止澀，惟宜升散，仍用升麻乾葛白芍甘草黃連扁豆花，便膿血則加滑石末，必自愈。其或痧後生瘡不已，餘熱未盡故也，宜用金銀花連翹荊芥穗玄參甘草黃連木通濃煎飲之良。</p>
<p>痧疹不宜依證施治，惟當治本，本者手太陰足陽明二經之邪熱也。解其邪熱則諸證自退矣。</p>
<p>治痧疹發不出，喘嗽煩躁，悶亂狂越。</p>
<p>西河柳葉風乾為細末，水調四錢，頓服立定，此神秘方也。</p>
<p><u>又方</u>　仲醇立</p>
<p>蟬蛻（一錢）　鼠黏子（炒研，一錢五分）　荊芥穗（一錢）　玄參（二錢）　生甘草（一錢）　麥冬（一錢五分，去心）　乾葛（一錢五分）　薄荷葉（一錢）　知母（一錢）　西河柳（五錢）　竹葉（三十片）　甚者，加石膏（五錢）　冬米（一撮）</p>
<p><u>又方</u>　加黃芩黃連黃柏等治之。</p>
<p>冬月痧疹因寒不得發透，喘渴悶亂，煩躁不定，用麻黃去節，湯泡過，以蜜酒拌炒，加一錢，或七八分於治痧藥中，一服立透。藥用乾葛麥冬貝母前胡荊芥穗玄參西河柳甘草知母一服，而痧疹立透。</p>
<p>繆氏《本草經疏》</p>
<p>赤檉木（一名西河柳，又名觀音柳，三眠柳）味甘，微咸，氣溫，無毒。近世有以治痧疹熱毒不能出，用為發散之神藥。經曰：少陰所至為瘍疹，正劉守真所謂諸痛癢瘡瘍，皆屬心火之旨也。蓋熱毒熾於肺胃，則發斑疹於肌肉間。以肺主皮毛，胃主肌肉也。此藥正入肺胃心三經，三經毒解則邪透肌膚，而內熱自消。此皆開發升散，甘鹹微溫之功用也。</p>
<p>主治：同石膏知母薄荷荊芥穗玄參牛蒡子麥冬竹葉連翹黃芩甘草之屬，治斑疹發不出，或雖發不透，如熱甚毒熾，舌生芒刺，大渴譫語，斑色紫黑者，加入三黃石膏湯內大效。</p>
<p>單用及兼各藥並主痧疹首尾諸證。</p>
<p>汪氏雙池曰：赤檉柳一名西河柳。枝葉似柏實，柳類也。生水澤旁，天將雨則木有云氣上蒸，故又名雨師。性味甘辛鹹寒，能瀉肺熱，散瘀血，挹潤澤之氣以上行而宣毒，去郁麻證，用之最良。</p>

<h2>聶氏《活幼心法》</h2>
<p>聶氏久吾曰：麻疹形如麻痘，疹形如豆，皆象其形而名之也。麻痘俱胎毒。而痘出五臟，臟屬陰，陰主閉藏，其毒深而難散；麻出六腑，腑屬陽，陽主發泄，其毒淺而易散。臟陰多虛寒，故痘可溫補；腑陽多實熱，故麻宜解散。然麻雖屬腑，而其熱毒之氣上蒸於肺，肺主皮毛，實受其毒。是以發熱之初雖似傷寒，而肺家見證獨多，咳嗽，噴嚏，鼻流清涕，眼泡腫，眼淚汪汪，面腫腮赤，是也。治之之法惟在宣發其毒，以盡出之於外。雖紅腫之甚，狀如漆瘡，亦不足慮，以其既發於外，即可免乎內攻，不若痘家之必顧其收結也。此證若調治得法十可十全，而調治失宜則殺人易如反掌。蓋麻疹有所大忌，病家犯其所忌則至於殺人，醫家犯其所忌亦至於殺人也。其所忌不同，同忌閉塞，其毒不得發泄也。今先標四大忌於前，令人勿犯，然後制方於後。</p>
<p>忌葷腥生冷風寒</p>
<p>出麻疹時大忌食葷腥，食生冷，冒犯風寒，皆能使皮膚閉塞，毒氣抑鬱而內攻也。</p>
<p>忌驟用寒涼</p>
<p>初發熱時最忌驟用寒涼以冰毒，使毒邪抑遏不得出，則成內攻之患。而昔人謂天氣喧熱宜用辛涼發之，如黃連解毒湯之類，不知天時暑熱之氣，豈寒涼之藥所能解，今驟用寒涼恐不足以解外熱，而適足以阻內熱，使不得出也。曾見有一宦家艱子息，得一男甫一歲，出麻發熱，麻未見形而發搐，醫誤認為急驚，而用涼藥攻之，遂令麻毒隱隱在皮下不出，後醫以滋陰為主，而用四物等藥亦不能救，煩悶聲啞至旬日而死，此可以知涼藥冰毒之害矣，今因天熱而驟用寒涼豈理也哉。</p>
<p>忌多用辛熱</p>
<p>初發熱時最忌多用辛熱，以助毒，如桂枝麻黃羌活之類，能使毒壅蔽而不得出，亦致內攻之患。而昔大謂天氣大寒宜用辛熱，如桂枝湯之類發之，不知天氣大寒只宜置之燠室，謹避風寒可也，且天氣雖寒而人身之熱毒未必減也，而多用辛熱豈理也哉。</p>
<p>忌誤用補澀</p>
<p>麻出之時多有自利不止者，其毒亦因利而散，殊無妨害。如泄利過甚，則以加味四苓散與之，切忌用參朮訶蔻補澀之藥，重則令腹脹喘滿而不可救，輕則變為休息痢纏綿不已也。戒之戒之。</p>
<p><u>加味四苓散</u>　木豬苓　木通（各八分）　澤瀉　赤茯苓（各七分）　車前子（略炒）　川黃連　黃芩（俱乾炒）　牛蒡子（揀淨炒香研碎，各五分）　燈心（一團。同煎，食前服，初發熱欲出未出時宜用。）</p>
<p><u>宣毒發表湯</u>　升麻　白粉葛（各八分）　防風（去蘆）　桔梗（各五分）　荊芥穗　薄荷　甘草（各三分）　牛蒡子（炒香研細）　連翹（去心蒂研碎）　前胡　枳殼（麩炒）　木通　淡竹葉（各六分）　天氣大熱加黃芩（炒，八分）大寒加麻黃（八分炙），麻已出而紅腫太甚宜用。</p>
<p><u>化毒清表湯</u>　牛蒡子（炒香研碎）　連翹　天花粉　地骨皮　川黃連　黃芩　山梔（炒）　知母　乾葛　元參（各八分）　桔梗　前胡　木通（各六分）　甘草　薄荷　防風（各三分），口渴加麥冬（去心，一錢）　白石膏（煅研，三錢）　大便澀加酒炒大黃（一錢二分），有毒氣流注而成痢者宜用。</p>
<p><u>清熱導滯湯</u>　川連　條芩　白芍　炒枳殼　山楂肉（各一錢）　厚朴（去皮薑汁炒）　青皮　檳榔（各六分）　當歸　甘草　牛蒡子　連翹（各五分）　紅多者加紅花（三分）　地榆炭（五分）　秘澀甚者加酒炒大黃（一錢二分）紙捻照法</p>
<p>用學書竹紙或燒錢草紙烘乾作捻子，如小指大，蘸清油於燈上，往來熏熾，令紙條無泡，不瀑吒，又飽蘸油略熏熾，令油無泡即點捻子，將患者房內窗門閉，令黑暗，看其左顴有何色點，右顴有何色點，中庭有何色點，觀兩顴，宜以捻子在兩耳邊及鼻邊平照；觀中庭，宜以捻子在兩目角邊平照，看其皮中，歷歷可指，是赤是紫是點是塊曉然明白。若是麻疹則浮於皮外肉內無根，若是痘瘡根在肉內極深。若以捻子當顴及中庭正照則黯而不見，捻子有灰即掐去，令光明朗。如此照之，病情在內者可以預見，若以天日之光觀之亦不見矣。</p>

<h3>麻疹避忌（附）</h3>
<p><u>避穢氣</u>　婦女月經氣，房幃淫液氣，新產血汙氣，遠行勞汗氣，腋下狐騷氣，瘡毒膿腥氣，酒醉口臭氣，衣褲汗酸氣，誤燒毛骨氣，吹滅燈燭氣，牛油羊臊氣，芸香燥烈氣，菸火蚊煙氣，硫黃火油氣，煤炭焦烘氣，煎焰油熬氣，韭蒜熏辣氣，溝而穢濁氣，新屋油漆灰土氣，空房潮濕黴蒸氣。</p>
<p><u>守禁忌</u>　睡中勿高聲叫喚，禁生人往來，忌厲色呼喊，勿對梳頭，勿對搔癢，勿使尼僧師巫凶服進房，勿對歌哭怒罵飲酒食肉，勿言語驚慌，勿翻床掃地，勿於臥榻前列便壺馬桶，禁止鬨鬧鑼鼓花爆雞犬惡聲。以上諸避忌，謹之則重可變輕，不謹則輕變重，重變危矣。</p>

<h2>翁氏《痘疹金鏡綠》（許宣治註釋）</h2>
<p>麻疹附余</p>
<p>翁氏仲仁曰：夫麻疹之與痘瘡始似而終殊，原同而證異，痘瘡發於五臟，麻疹出於六腑。然麻疹一證先動陽分而後歸於陰經，故標屬陰而本屬陽。其熱也，氣與血分相搏，故血多虛耗。其治也先發散行氣，而後滋陰補血。凡動氣燥悍之藥皆不可用也。（許注：所以要養陰）</p>
<p>發熱之初，憎寒壯熱，鼻流清涕，身體疼痛，嘔吐泄瀉，咳嗽氣急，腮紅眼倦，多是麻候，宜服升麻葛根湯。表之得汗，則皮膚通暢，腠理開豁，而麻疹易出也。於發散藥中加蔥白生薑，使孔竅中微汗潤澤，免熱閉發搐之證。</p>
<p>發熱咳嗽之時既明麻疹有出不快者，用麻黃湯，羌活湯，消毒飲，發散解毒之劑，外以芫荽酒糟蒸熱擦之，自頭上至足為齊，頭面愈多者為佳。</p>
<p>凡看麻疹之法，多於耳後項上腰眼先見，其頂大而不長，其形小而勻淨，既出之時，如色紫紅，乾燥暗晦乃火盛毒熾，宜用六一散解之，四物湯換生地加柴胡黃芩乾葛紅花牛蒡連翹之類，滋陰涼血而熱自除，所謂養陰退陽之義也。如麻疹出後見風沒早，未清爽者，宜消毒飲加發散之藥，雖不復出亦尋愈矣。有麻出三日不沒者，乃內有實熱，宜四物湯加清利之藥，則熱自解而麻自消矣。麻後瀉痢者乃積熱移於大腸，宜四苓散加木通芩連白芍藥或香連丸之類。</p>
<p>麻後痰嗽不止，四物合二陳加栝蔞桔梗五味子，渴加麥冬枳殼，喘加蘇子桑皮。（火剋金者不必降氣）</p>
<p>麻後牙疳紅腫者，清胃湯合甘桔湯加牛蒡荊芥元參，（便閉者急下之）胃爛者不治之證也。（德按：清胃湯用升麻當歸黃連丹皮生地）</p>
<p>孕婦出麻，以四物湯加白朮條芩艾葉砂仁，以安胎清熱為主，則胎不動而麻自愈矣。（麻證多熱，砂仁艾葉恐非所宜）麻疹正出之時不進飲食者，但得麻色淡紅潤澤亦無害也，乃熱毒未解內蘊實熱，故不食耳，麻退不食者，用四物湯加神麯砂仁，一二帖自然能食矣。（麻退不食，肺胃有熱者多，溫燥之劑未可概施）</p>
<p>凡出麻證之時大忌葷腥生冷，宜避風寒水濕，苟有不謹，最為深患，戒之慎之。</p>

<h3>麻疹辯疑賦</h3>
<p>麻雖胎毒多帶時行氣候，暄熱傳染而成其發也，與痘相類，其變也比痘匪輕。先起於陽，後歸於陰，毒盛於脾，熱流於心，臟腑之傷，肺則尤甚，始終之變，腎則無證。初則發熱，有類傷寒。眼胞因倦而難起，鼻流清涕而不幹。咳嗽少食，煩渴難安。斜目視之隱隱皮膚之下，以手摸之磊磊肌肉之間。其形若疥，其色若丹。出見三日，漸沒為安；隨出隨沒，喘急防端。根窠若腫兮疹而兼癮，皮膚加赤兮疹尤夾斑，似錦而明兮不藥而愈，如煤而黑兮百無一痊。麻疹既出，調理甚難，坐臥欲暖，飲食宜淡，咳唾涎沫，不禁酸鹹；忽生喘急，肺受風寒，心脾火灼，口舌生疳，肺胃蘊熱，津液常干；有此變證，治法不同，微汗毒解，熱勢少凶，二便清調，氣行無壅。腠理拂鬱兮即當發散，腸胃秘結兮急與疏通。鼻衄者不必憂治，邪從衄解；自利者不必遽止，毒以利松。麻後多利兮熱毒移於大腸，咳嗽喉痛兮痰氣滯於心胸。口渴心煩法在生津養液，飲食減少治宜調胃和中。餘證無常，臨時變通。此則麻之大旨，妙用存乎一心。</p>

<h3>麻疹輕重不治要訣</h3>
<p>或熱或退五六日而後出者輕。淡紅滋潤頭面勻淨而多者輕。發透三日而漸沒者輕。</p>
<p>頭面不出者重，紅紫暗燥者重，咽喉腫痛不食者重，冒風沒早者重，移熱大腸變痢者重。黑暗乾枯一出即沒者不治，鼻扇口張目無神者不治，鼻青糞黑者不治，氣喘心前吸者不治，麻後牙疳臭爛者不治。許氏橡村曰：麻之為患與痘並重，然一時出者，其形證大略相似，故治者嚴於痘而略於麻。不知痘之境寬雖極險惡猶可從容圖治，麻之境促變生頃刻多有不及救者，故不可不預為之防也。預防之法在病家坐臥欲暖，飲食宜淡，二語盡之。在醫家慎發表三字盡之矣。所謂慎發表者，其一，體實之兒，火毒盛甚，發之太過，熱擁於上多有氣粗喘閉者，醫家見其喘閉，復以表藥繼之，熱不能降，甚致焚爍而死。抑思古人立方，升麻葛根湯之用芍藥所以和陰也，麻黃石膏湯發中有降也。其一，體虛之兒出每遲滯，小經發散，元氣已浮，醫者謂出未透更重發之，麻雖出，而真陽之氣盡，拔無陰以攝致，有頃成喘脫者，予用六味地黃湯加人參納氣歸元，曾救一二。嘗語同道：凡見體弱之兒，及囟開面白目無神者，失母欠乳者，大病瘥後、或瘧痢後者，出雖遲緩，即當照顧元氣，萬不可過行發表，至於大概出見及輕重不治等證，守此數條，真屢試屢中之言，除虛實二者外皆當字字遵之，雖千狀萬變總不離此。</p>

<h2>朱氏《痘疹傳心錄》</h2>
<p>（《六醴齋醫書》）</p>

<h3>疹</h3>
<p>（一名痧子，又名麻子，又名瘯子）</p>
<p>朱氏濟川曰：夫疹亦胎毒也，比痘稍輕，然中有臟腑之分，發因時氣之擊。（春溫夏熱秋涼冬寒，此四時之正氣也，冬宜寒而反溫，則陽氣發泄太早，至春必發疹也，故經曰：冬居溫暖，春必痘疹，又曰：少陽客勝則丹疹外發）證分虛實之異，治有補瀉之殊。然其證之發也，類於傷寒，寒熱頭疼，目淚汪汪，鼻流清涕，嘔吐泄瀉，喘嗽噴嚏，譫妄溺澀，飲食不進，煩躁悶亂，睡臥不寧，此因陽火攻擊，以致毒乘於脾，熱留於心，而干於肺，蓋肺主皮毛，脾主肌肉，疹之出賴二臟以行其毒，惟利於發得透徹，則毒盡出皮膚，內熱自清，則無患矣。所以疹之出必咳嚏衄血嘔吐泄瀉也。若其初發自頭面先見，而至足為齊。頭面淡紅愈多為佳，其形若芥子細密，其色若桃花紅活，隱見二三番，三四日漸沒，人事安寧，飲食如常，二便清調，此其順也。若亢熱喘急，發不能出，或一出即沒，或冒風沒早，或雖出而紫黑無神，或淡白乾枯，或身肢雖見，而頭面不出，及加喘脹胸高，肩息，狂言譫語，或口鼻出血，搦手搖頭，尋衣摸床，飲食不進，噦惡便秘，口出屍氣，皆不治，若喘嗽煩悶，睡臥不安，二便堅閉，飲食不進，疹雖出而紫滯，乃毒火熾盛，治宜清解為主。若疹雖透而色淡白，乾咳不續，減食便溏，精神疲倦，乃中氣不足，宜固中氣而兼清肺為主。一有正氣不足，不能逐邪外出，致毒伏於內，喘脹而死，俗名悶疹也。間有風寒外襲，閉其腠理，或飲食停滯而氣道窒塞，以致疹不易出，治宜疏利為主。論曰：微汗而邪無蓄，便清而毒無壅。且如腸胃結而疏利弗緩，腠理窒而發散毋遲，衄血而邪從衄解，利下而毒以利松，咽喉腫而降火為急，煩渴不已解毒為先。飲食減常須救胃，語言譫妄必清心。時令冷兮投辛熱，時令涼兮用辛溫，時令既溫辛涼無阻，時方炎熱辛寒可施。故曰：必先歲氣，毋伐天和。然而為治之要先宜解散為主，解散則皮膚通暢腠理開豁，則毒盡透解，則無餘邪之為後患。若不知解散，或藥誤溫寒，或坐視犯禁，使邪不盡泄，留蓄於中，變證百出。或煩躁悶亂，瀉利失血，目赤口疳，不食便秘，喉痛聲啞，喘嗽痰涎，疔癰瘡腫等證見矣。古人曰：治別虛實，法宜變通。所謂活潑潑地是神術也。</p>
<p>今人以疹為輕，不能調護，乃為風寒外束，及為生冷內傷，郁遏毒氣，而不得外達。欲出不出或一出即沒，反毒內攻噬臍何及。醫者亦以為易治，孟浪用藥而不知禁，往往誤人，不為己咎也，可痛可惜。</p>
<p>疹之出有中腑之正疹，有風寒發疹，有厲毒發疹，有內傷發疹不可不辯。然中腑之正疹者辛涼而發之，風寒發疹者辛溫而汗之，厲毒發疹者辛寒而清之，內傷發疹者苦平而利之也。</p>
<p>凡疹之出雖先以發散為貴，若表實不易透，或風寒壅遏者發解可也；若表虛自汗，疹毒易出而妄投之，豈免虛虛之禍乎，臨疹當辯虛實不同一治。</p>
<p>凡出疹首尾慎不可用燥悍之藥者，蓋疹從肺始，肺屬金而西兌，勝燥之方性勇悍而少柔，喜清潤而畏燥烈，故曰疹要清涼，投清涼則升，用燥烈則亟。倘不得已而用麻黃桑皮等性燥之藥，必須蜜炒，再加性潤之藥佐之，以折其悍氣則可矣。若誤用之則金愈燥烈，譬猶滔天之焰復添以油，豈有不斃之理哉。</p>
<p>錢氏論疹要清涼，以辛涼之藥發之當矣。而昧者遂以清涼作寒涼看，始出便用芩連梔膏等以涼其邪熱，眼見圜闠之中疹兒殞歿相繼者多矣。蓋曰：疹者亦穢液之氣也，伏藏於人身之中，初無形臭，必待風寒時氣，鼓擊而出，則汗解之宜也。辛散之宜也。其可以苦者堅之乎。寒者束之乎。經曰：邪氣盛則實。邪既盛矣，非汗散由何而解，若以苦而堅其肌皮，以寒而束其毫腠，則欲出未出之疹邪，使之從何地而宣泄乎。乃致反戈內攻，喘脹悶亂而死者多矣。間有受毒之輕，感邪之淺，或邪毒出於大半，其暴烈之勢稍衰者，亦從而侵蝕於喉舌而為疳，或留連於腸胃而為滯，延綿日久使兒悴弱而斃者亦多矣。凡用寒涼但可施於君相之令、炎夏之時，疹盡出之後亦當中病即止。若寒水之司嚴寒之令，疹未盡出而投之，則火為寒鬱豈能發越乎。</p>

<h3>附治驗</h3>
<p>一小兒身熱喘嗽，嘔吐不食，余謂疹症也。皆由風寒封閉腠理，故伏而不出。以麻黃葛根湯表之，得汗則皮膚通暢，疹透而症悉平矣。亦有表之無汗不透，或雖透即沒，反加喘脹不治。</p>
<p>一兒身熱咳嗽，疹出隱隱，醫以疹藥發之不見不沒。余謂癮疹也，由客受風寒鬱而不散，非若中腑之正疹也，以芎蘇散治之愈。</p>
<p>一女出疹，藥用寒涼。又食生梨一二，疹即隱沒，喘急胸滿，面青肢冷，眼合，聲嘔，昏暈。余謂毒為寒鬱，反毒內攻而然也。以麻黃湯加葛根紫蘇甘草桔梗生薑服之，外以被覆得汗而蘇，疹復出。喘甚於前，余謂驟用麻黃燥烈之藥，致毒火盛而肺氣熱也，宜清潤之，以甘草桔梗牛蒡前胡杏仁元參知母天花粉黃芩麥門冬治之，喘息而愈。</p>
<p>一兒身熱，喘急腹脹。醫云內傷外感，治之不效。召余，視其胸背隱隱赤色乃疹症也。以麻黃葛根湯表之，疹雖見頭面，不出即沒而死。</p>
<p>一兒身熱喘脹，人事不蘇，口鼻出血，面色青白，乾枯，余謂悶疹，不治。</p>
<p>一兒身熱，疹出吐瀉。余謂初出疹而吐瀉者，乃陽火得泄，吉兆也。以升麻葛根湯表之，疹盡透而愈，亦有兼傷食吐利者，前方加消化之藥。</p>
<p>一兒身熱，頭疼骨痛（傷寒症）咳嗽氣急，（疹症也）噦惡不食，余謂傷寒而兼疹。發以百解散十神解毒湯治之，症平疹透愈。亦有症類如前醫緩治之疹，雖透而色紫黑喘脹悶亂不治。</p>
<p>一兒疹半出，壯熱喘脹，煩躁悶亂。余謂疹不盡透，邪毒內攻而然也。以麻黃甘草桔梗乾葛荊芥前胡枳殼牛蒡治之。疹盡出，二三番漸沒而愈。</p>
<p>一兒疹不易透，喘脹昏憒。余謂客冒風寒致毒鬱而不易出。以桂枝湯加麻黃葛根前胡服之。又以防風煎湯一盆，置病人床下熏之，厚衾，汗出，疹毒盡透而愈。或以芫荽防風湯浴洗頭面手足，為妙。又以苧麻蘸芫荽酒遍身戛之愈妙。</p>
<p>一兒汗出疹透喘急不止。余謂邪氣壅盛。以炒黑麻黃杏仁甘草石膏治愈。</p>
<p>一兒疹出色紫，便秘溺赤，煩躁悶亂。余謂疹毒亢盛。以大柴胡湯利行三次，前症悉平愈。</p>
<p>一兒疹出彌盛，形如錦紋，而間有頭粒，色赤，壯熱煩躁，舌胎，便秘，全謂斑疹並行。以調胃承氣湯利之，又白虎湯合葛根湯治之愈。</p>
<p>一兒疹出紫色，喘嗽，噦瀉不食。余謂疹毒亢盛。以解毒飲挑痧法愈。</p>
<p>一兒疹盡出，客冒風寒，沒早，喘脹，不治。亦有急用麻黃桂枝湯而疹復見愈。</p>
<p>一兒元月發疹身肢隱見不振，而頭面不出，面色青白，喘脹悶亂，右寸脈微。余謂正氣虛不能逐邪上升於頭面。宜補益而助升發為主，以麻黃桂枝湯加人參二錢水煎服，又以芫荽防風煎湯浴洗頭面手足，疹透症平而愈。</p>
<p>一兒疹出色紫，便秘溺赤，煩躁悶亂。余謂疹毒亢盛。以大柴胡湯愈。</p>
<p>一兒疹正出，而恣食停滯，腹飽便秘，壯熱譫語。余謂食壅而毒不化。以大黃枳實厚朴栝蔞仁甘草黃連利之。而尚喘嗽，壯熱，脈遲肢冷。以附子理中湯又歸芍六君子湯治之愈。</p>
<p>一兒疹雖出而喘脹便秘，壯熱譫語。余謂毒壅不盡出。以黃連枳實栝蔞仁桑白皮地骨皮知母石膏人中黃治之愈。</p>
<p>一兒出疹誤與酸醋聞之，聲啞不清，竟爾終身痼疾。</p>
<p>君相司天之歲，時行發疹。凡治以清涼發解之劑無有不愈。若以燥悍藥發之多有壞亂也。經曰：必先歲氣，毋伐天和。正此謂也。</p>
<p>德按：每逢甲庚戊壬辰戌巳亥之年，少陽客氣所勝，多見時行發疹，治宜宣毒發表為先。</p>
<p>一兒疹不易出，余以二仁膏服之疹即盡出而愈。</p>
<p>一兒疹出腹飽便秘。余謂內傷發疹。以承氣湯下之愈。</p>
<p>一兒疹出紫色沒早，喘急不嗽，通關嚏不，口張肩聳，胸高如龜，舌乾唇燥，搖頭搦手，面枯青白。余謂邪火熾盛而肺竅窒塞不通，不治也。故曰：喘而咳嗽者可療，喘而不嗽者難醫。</p>
<p>一兒疹雖出而咽喉嗆水，舌胎唇燥。余謂毒留心胃。以黃連解毒湯加連翹牛蒡治之愈。</p>
<p>一兒疹出身熱，咳嗽不止。余謂餘毒乘金。以清金化毒湯愈。</p>
<p>一兒出疹，汗出喘甚。余謂，仲景曰喘而大熱者，內熱甚也。以麻黃杏仁石膏治之愈。</p>
<p>一兒夏月出疹不易透，無汗而喘，以麻黃湯加知母石膏黃芩治之愈。</p>
<p>一兒夏月出疹，身熱頭疼，喘嗽無汗。余謂風寒壅閉腠理。以升麻葛根湯加羌活白芷荊芥桔梗前胡知母治之出疹盡透，而但身熱，以香薷飲而合化斑湯愈。</p>
<p>一兒夏月出疹熱甚煩渴。余謂疹兼暑毒。以香薷飲合葛根湯治之愈。</p>
<p>一兒痘後出疹。眾謂痘後正氣未復，以補兼升發之劑，喘急而為悶疹不治。</p>
<p>一男子身熱喘嗽，醫以退熱止嗽之劑，身涼喘甚，咽痛。余謂疹症，藥誤寒涼，毒為寒鬱，而疹不出也。以麻黃桂枝湯加乾葛治之冷汗微出，疹透而愈。</p>
<p>一兒疹邪不盡，身熱喘嗽聲喑。余以甘桔牛蒡湯加蘇子前胡桑皮杏仁連翹治之愈。又一兒症亦如前，余以甘桔牛蒡湯加杏仁知母元參前胡天花粉麥門冬淡竹葉治之愈。</p>
<p>一兒疹後身熱，余以涼膈散治之愈。</p>
<p>一兒疹後乾咳不續。余謂醫過發散，致肺氣虛耗。以小異功散加門冬五味子貝母桔梗治之愈。</p>
<p>一兒疹後乾咳，便溏，減食。余謂中氣虧耗。宜溫補之，以六君子湯治之愈。</p>
<p>一兒疹後身熱不已，午後尤甚。余謂疹出之後，陰分曾受煎熬，血必虧耗，乃血虛症也。治當滋陰清火，此養陰退陽之義也。</p>
<p>一兒疹後咽喉腫痛。余謂餘毒不解。以甘桔湯加牛蒡射干元參連翹知母治之，又葛槿散吹之而愈。</p>
<p>一兒疹後身熱，煩渴不已。余謂虛煩。以竹葉石膏湯去半夏加乾葛花粉治愈。</p>
<p>一兒疹後痰嗽口疳，身熱腹飽。余謂補益太早。以清胃湯加腹皮枳殼治愈。</p>
<p>一兒疹後衄血不止，余以茅花煎濃汁服之愈，或用白茅根亦可。</p>
<p>一兒疹後壯熱，咳嗽痰血。余謂毒留肺胃。以黃連黃芩山梔知母花粉元參人中黃愈。</p>
<p>一兒疹後壯熱煩渴，利下鮮血不止。以白頭翁湯治之愈。</p>
<p>一兒疹後利下膿血，裡急後重。余謂毒入大腸。先以三黃丸利之，次黃連芍藥湯治之愈。</p>
<p>一兒疹後滯下不止，飲食少進，脈緩肢冷。余謂脾胃氣虛。用理中湯又歸芍六君子湯治之愈。亦有不應藥者，或噤口而死，或飧泄而死。</p>
<p>一兒疹後壯熱羸瘦，煩躁悶瞀。余謂邪不盡解，而乘心肝。治以清解之劑愈。亦有不應藥者，漸至皮毛枯槁，成為疳瘵，津液乾涸而卒。</p>
<p>一兒疹後壯熱乾咳，煩渴便秘。余謂疹邪不解。以三黃湯利之，又以知母門冬前胡元參黃連當歸天花粉淡竹葉治之。熱雖退而咳渴不止。余謂肺氣受傷而津液不足。以參苓門冬五味貝母陳皮甘草桔梗花粉知母治之漸愈。</p>
<p>一兒症亦如前但熱不退，漸至肌肉消瘦，面色枯白，噦惡泄利。余謂疹後疳勞，不治。延至六旬而歿。</p>
<p>一兒疹後乾咳便溏，身熱羸瘦，皮毛枯悴。余謂疹後疳瘵之症。以小異功散加貝母黃連青蒿地骨皮龍膽草芍藥治之漸愈。亦有不應藥漸為慢脾風而死。</p>
<p>一子新婚出疹後痰嗽不已，眾謂餘毒不盡，用清解藥而痰愈熾。余謂陰虧而火炎無制，故午後潮熱而咳甚也。治宜壯水為主，以六味地黃丸料加麥冬知母治之愈。又一婦出疹症亦如前，余以前方加當歸治之愈。</p>
<p>一兒疹後兩目赤腫，壯熱煩渴。余謂毒不盡解，乘於肝胃。以清胃解毒湯治之愈。每有延綿失治，或瞽或瞎。</p>
<p>一兒疹後瘡痍遍體，壯熱躁煩。余謂疹毒不盡。先以葛根湯加荊防發之，又犀角地黃湯治之愈。</p>
<p>一兒疹後走馬牙疳，齦潰穿鼻，諸藥不效。（德按：或恐梅花疳毒）余以黃牯牛糞，後尖瓦上煅存性，煅人中白黃柏為末，等分和勻吹之，潰竅漸長，齦齒俱生而愈。</p>
<p>一兒疹邪不盡發為疔毒。余謂痧疔也。治同痘疔。又一兒疹毒不解發為腫癰。余謂痧癰也。治同痘癰。</p>
<p>一兒疹後乾咳不已。余謂疹時過於解散，肺氣虛耗，宜補脾肺為主，不信，只以清火止嗽藥，其背漸駝，腿足細小，終身痼疾。亦有嗽久而胸高腫滿，狀如龜胸。啟云先生曰：疹後久嗽則金衰，金衰不能生腎水，腎主骨髓，腎無生氣則骨枯而髓減，風寒乘虛而入於髓，其邪凝滯故腰脊不舉而為斯疾也。治法先以防風散其邪，又八味地黃丸，加人參　杜仲　牛膝　當歸　石斛　何首烏　米仁　菟絲子　萆薢　鹿茸蜜丸，又以驅風壯筋活血膏貼其凸處，又灸肺俞穴。（第三椎骨下各開一寸半）膈俞穴（第七椎骨下各開一寸半）一兒患此，余診右脈緩弱，謂脾肺不足，先以人參白朮茯苓陳皮甘草貝母當歸芍藥米仁石斛水煎服，脾土稍固，又以前方法治之，腿足漸而生肉，背駝稍愈，但不能脫然如故。</p>
<p>蓋疹後當避風寒，節飲食，以保脾土為上，若有虛實為之補瀉，不可因循苟且以致變壞也。其雞肉葷腥鹹酸辛辣宜過七七期方漸與食。故曰雞肉早飧，豈免脾泄之患；鹹酸不禁，難免哮喘之疴。一或不慎終身痼疾，為父母者當加謹焉。</p>

<h3>附婦人出疹治驗</h3>
<p>凡孕婦出疹，恐熱毒內蒸而胎受傷，當以清熱安胎而兼解散之劑，使胎無虞而疹易解也。故曰疹與痘不同，痘宜內實，若胎落而母亡；疹宜內虛，故胎去而母存。雖云胎去而母存，孰若子母兩全之為妙。業是者當識此。</p>
<p>一孕婦出疹，熱甚而觸動其胎，胎墮而去血過多，疹雖沒而燥熱煩喘，昏憒悶絕。余謂血脫也。當益其氣，以理中湯而蘇，又以人參一兩當歸五錢阿膠炮姜荊芥艾葉，又隨症調理愈。</p>
<p>一孕婦出疹，熱極煩悶。醫以清熱安胎之劑，而熱甚。余謂《心鑑》曰：凡孕婦發疹，熱極不退者，內實故也。必下其胎，墜胎下疹，即隨熱內解，母命可存。否則熱甚喘脹，子母難全。不從余治，果如而斃。</p>
<p>一孕婦疹出熱盛，小腹痛而漏血。余謂熱盛觸動其胎。以升麻葛根湯加荊芥紫蘇條芩當歸川芎阿膠白朮陳皮砂仁治之，血止愈。亦有不同前治，胎墮而子母俱亡，或子亡母存。</p>
<p>一產婦疹不易出，熱甚而去血不已。余謂產後氣血不足，不能拘毒盡外解。以麻黃葛根湯加當歸阿膠荊芥白芷人參治之，血止疹盡透，調理而愈。</p>
<p>一娠婦疹不易出，熱極悶亂，喘脹。余謂疹熱危劇，必不能兩全，宜下其胎，胎去而母存矣。以表散而兼墮胎藥，其胎墮下疹透熱退而愈。</p>
<p>一妊婦疹出熱盛，墮胎而難產。余以魚膠三寸燒灰存性，麝香一分，共研末，好酒調下即產。若難之甚，橫生逆產，用魚膠一尺制如前法，雖其胎立下但不能活矣。</p>
<p>一婦人疹後咳嗽，夜熱早涼，面白少神，肌瘦唇赤。咸謂氣血不足，用八珍湯不效。余審其疹後房勞不慎，用六味地黃湯合生脈散，又獨處百日愈。</p>
<p>又一婦疹後房勞不慎，漸為虛怯枯涸告斃。</p>
<p><u>發斑</u></p>
<p>斑者，斑如錦紋，紅色而無頭粒也。乃熱毒郁遏，煎熬陰血，血得熱而不解，浮於肌肉為斑，足陽明主之。《活人書》曰：傷寒下之太早，熱氣乘虛入胃，故發斑；下之太遲，熱留胃中，亦發斑；陽症用熱藥過多，胃熱焦爛亦發斑。有內傷胃氣極虛，火遊行於外亦發斑也。斑色紅活者順，赤斑者熱毒盛也，青斑黑斑者逆也。治法清解為上，不可表汗，若汗之重，令開泄，更增斑爛也。《病機》曰：斑疹固有陰陽輕重，皆從火化。急則治標，緩則治本。陽症可清熱化斑，陰候宜調中溫胃。</p>

<h3>附治驗</h3>
<p>一兒發斑，余以荊防敗毒散治之愈。又發斑咽痛，加牛蒡連翹元參愈。</p>
<p>一兒發斑，赤色煩躁，便秘溺澀。余謂熱毒壅盛。以黑奴丸微利之愈。</p>
<p>一兒發斑，身熱，口舌乾燥。余以化斑湯加小柴胡黃連治之愈。</p>
<p>一兒發斑赤色，腹脹痛便秘。余謂內傷發斑。以調胃承氣湯下之。身冷，脈沉，肢厥。以附子理中湯六君子湯量而用之。</p>
<p>一兒夏月發斑。余謂暑毒發斑。以化斑湯合香薷飲治之愈。</p>
<p>一兒發斑，嘔吐利下，目赤口瘡。余以黃連橘皮湯治之愈。</p>
<p>一兒發斑、狂煩、面赤、咽痛。余以梔子仁湯治之愈。</p>
<p>一兒夏月發斑咽痛。余謂毒壅咽喉。以升麻元參甘桔牛蒡治之愈。</p>
<p>一兒夏月發斑疹，熱盛狂煩。余謂溫毒發斑。以五瘟丹治之愈，或用黃連陳皮湯治之愈。</p>
<p>一兒發斑身熱，頭疼咳嗽。余謂風熱發斑。以芎蘇散又葛根湯治之愈。</p>
<p>一兒發斑赤色。余謂胎毒發斑。以犀角解毒湯治之，又砭出紫血愈。亦有毒氣內攻喘脹而卒。</p>
<p>一兒發斑丹色。余謂胎毒而發。以磁鋒刺血。以犀角大青湯治之，漸退解愈。</p>
<p>一兒痘後發斑紫色，身熱便秘。余審病原順候。醫妄用溫補藥致毒蓄而使然也。以四順清涼飲利下，又解毒化斑之劑而愈。</p>
<p><u>水痘</u></p>
<p>蓋水痘由紅點而水疱，有紅盤，水疱而膿疱結疕，但其形咼斜，非正瘡痘也。然小兒肌肉嫩薄，尤多此症。皆由傷風寒熱，邪鬱於肌表，不能作汗而解，發為水痘也。當審其稀密輕重而治之。初起時宜升發之，為水疱宜解散之，膿成宜斂之。亦有夾疹而出，或有夾正痘而出者；不可不辨。</p>

<h3>附治驗</h3>
<p>一兒水痘不易生長，壯熱煩躁。以百解散得微汗愈。</p>
<p>一兒出水痘，不作漿而疕結乾枯，身熱煩躁。余謂倒陷也。皆由風寒壅窒腠理，失於解散故也。以葛根湯加荊防翹蟬木通治之，腫退遍身紅點，余謂餘毒發疹，用荊防解毒湯愈。</p>
<p>一兒夏月出水痘稠密間多黑陷，煩渴，便秘，壯熱。余謂熱毒太甚，以三黃丸利之，又香薷飲合黃連解毒湯治之愈。</p>
<p>一兒水痘結疔於上齦，潰齒穿鼻。余謂痘時失於解散，毒乘陽明。以清胃湯合解毒湯愈。</p>
<p>一兒水痘失於解散，痘或膿瘡不斂。余以綿繭散敷之，又收歟解毒之劑愈。</p>
<p>又有風塊遊走遍體，或赤，或白，或癢，或痛，由風熱淫毒蘊於氣血，相搏而生，也用升麻葛根湯加荊防薄荷治之。</p>

<h2>秦氏《痘疹折衷》</h2>

<h3>痧疹總論</h3>
<p>秦氏景明曰：夫疹發熱之初，多似傷寒，惟疹子即痧麻，則咳嗽噴嚏，鼻流清涕，眼胞浮腫，其淚汪汪，面浮腮赤，噁心乾嘔為異耳。但見此候便要謹避風寒，戒葷腥厚味，用藥以表散之，俾皮膚通暢，腠理開豁，疹毒易出也。痘疹之發雖曰胎毒，未有不由天行厲氣而發者，故一時傳染彼此皆出。用藥發散必先明其歲氣，如時令溫暖以辛涼之藥發之，防風解毒湯。暄熱以辛寒之藥發之，黃連解毒湯。嚴寒以辛溫之藥發之，桂枝解毒湯。時寒時暖以辛平之藥發之，升麻解毒湯。用升麻參朮乃權宜之法，須因時用藥不可誤作傷寒，妄施汗下反伐天和也。此言大有精細，又須看其虛實，如大便閉結，煩熱，甚而發不出者，以酒大黃利之；吐瀉不止，以參朮之類補之。經曰：毋實實，毋虛虛，損不足，補有餘。夭人性命也。出之太遲發表為貴，出之太甚解毒為先。母伐天和，嘗觀歲氣。寒風凜凜，毒氣鬱而不行。炎日蒸蒸，邪氣乘而作厲。或施溫補勿助其邪，或用寒涼休犯其胃。制其過但取其平，誅其暴必欲其已。遠寒遠熱陰陽之勝負不齊，責實責虛人稟之強弱或異。大抵麻疹以發散為主，用藥發散而疹隨見則毒盡解矣。若發不出再加藥發之，如加味麻黃散，外以芫荽酒糟蒸熱擦之，用薑汁和酒漿搽抹亦驗。自頭至足為齊。若出而頭面愈多者為佳，若遲延日久而不能出，反加腹脹氣喘昏眩悶亂煩躁而死矣。</p>
<p>看麻出法多於耳後、頂上、腰骽先見，其頂尖而不長，其形小而勻淨者，吉也。若色紅者，兼火化也證輕，化斑湯主之，人參白虎湯主之。如色白者血不足也，養榮湯主之。如紫赤乾燥晦暗乃火盛毒熾，六一散主之，四物湯去生地加柴胡黃芩乾葛紅花牛蒡子連翹之類，滋陰涼血而毒自除，所謂養陰退陽之義也，此證五死一生，如大青湯元參化毒湯亦可選用。若黑煤伏隱者則火毒尤甚，此證十死一生不可不明察之，而烏得混為施治也。</p>

<h3>痧疹發熱證治</h3>
<p>痧疹雖云穢液之氣，必因風寒時氣攻擊則出，汗解之宜也，辛散之宜也。其可以苦者堅之乎，寒者束之乎。經曰：邪氣盛則熱，邪既盛矣非汗解何由而除。又曰：發表不遠熱，表既實非辛散何由而解。若表虛自汗疹毒易出，而妄投發表之藥，不免蹈虛虛之戒；若表實無汗大宜表散，則皮膚通暢麻疹易出矣。若猶未出亦不可再汗，恐致亡陽之變，只宜常以蔥白湯飲之，臨證審明虛實而治之。</p>
<p>時行出疹發熱，以火照之遍身，如塗朱之狀，此將出之兆。形細密，與痘細密者相以，但疹子出而易沒，非若痘之以漸長大也。形鮮紅與傷寒發斑相似，但疹之粒有小頭，非若斑之皮紅成片如蟻蚤之跡也。發熱之時遍身汗出者，毒從汗解，玄府開疹易出也。有鼻中血出者，毒從衄解，俱不可遽止。若汗出太多，血出不止，此又火甚逼迫太過，致液妄流，血妄行，急以當歸六黃湯加浮小麥以止汗，茅花湯加元參百草霜以止衄，遲則汗出多而元氣虛，血出多而精神散，轉為不治之證矣。</p>
<p>渴喜飲水純是火邪肺焦胃干心火亢故也。初發熱渴者，升麻葛根湯加天花粉；已出而渴者，加天花粉麥門冬。渴甚，白虎湯合黃連解毒湯主之。然疹發之時未有不口渴者，但當以綠豆燈心炒陳米湯飲之，白虎湯佐之。若恣飲冷水必生水蓄之證，其有口不渴，渴不欲飲者，脾胃虛濡，有痰濕也。</p>
<p>身熱脈浮頭疼骨痛咳嗽氣急噦惡不食者乃傷寒而兼出疹也。以十神解毒湯或敗毒散主之。如夏月宜升麻葛根湯加羌活荊芥白芷桔梗前胡知母枳殼治之。若得汗而疹透，但身熱者，香薷飲合化斑湯療之。</p>

<h3>疹子不出證治</h3>
<p>發熱時未出見，咳嗽百十聲不已，喘急面浮眼胞腫，時臥時起，火毒內蒸肺葉焦枯，宜人參白虎湯，或去參，加牛蒡子薄荷葉治之。</p>
<p>發熱六七日明是疹子卻不見出，此皮膚厚腠理密，或風寒封閉，或曾吐利乃伏也。急用托裡發表以麻黃葛根湯加蟬蛻，或麻黃散主之，外用胡荽酒敷之。如一向大便秘者，毒甚於里，伏而不出，以桂枝大黃湯主之，外用豬膽導之，再不出者死證也。</p>
<p>客冒風寒致毒鬱而不出，喘脹昏憒者，用葛根湯加紫蘇柴胡川芎桔梗前胡荊芥防風蟬蛻，或麻黃桂枝亦可暫用，或敗毒散去人參加荊芥防風主之。又以防風煎湯浴頭洗面手足，又以苧麻蘸芫荽酒戛之，或以絹帛蘸熱酒搭之俱妙。</p>
<p>疹已出而反沒者，乃風寒所迫而然也，若不早治，毒內攻而死矣。急用消毒飲合升麻湯熱服，使疹復出方可無虞。</p>
<p>疹出不透，壯熱喘脹，煩躁悶亂，毒內攻也。宜竹葉石膏湯或甘草桔梗乾葛荊芥前胡枳殼牛蒡治之，使疹出盡為妙。頭面少者多加川芎，煩渴者黃連解毒湯，嘔泄者黃連陳皮木通澤瀉山梔連翹甘草竹茹生薑等治之。</p>

<h3>疹子出見證治</h3>
<p>紅影初出皮膚切戒風寒生冷，一或犯之則肌膚閉塞毒氣壅滯，遂變為渾身青紫，毒反內攻，煩躁腹痛，氣喘悶亂，癢塌諸證作矣。欲出不出，危亡立至。父母醫者其可忽諸。</p>
<p>初出吐瀉者乃陽火得泄此吉兆也。宜升麻葛根湯主之，亦有兼傷食吐利者加消食藥。又云疹子吐瀉者不須治，止要消毒散熱。</p>
<p>疹初起煩躁譫語者，宜升麻葛根湯調辰砂益元散治之。</p>
<p>疹色紅焰或微紫或太甚，並宜大青湯主之。黑者死證也，急用燒人屎研細酒調服。（白馬屎黃牛屎白狗屎貓屎豬屎皆可用，貓屎尤捷）須臾若黑變紅色可治，人中黃火煅代之亦可，若出不透莫如發散解毒，仍用升麻葛根湯加牛蒡荊防蟬蛻連翹一二進服以清涼繼之，庶毒邪不為寒鬱，後來亦易調理矣。疹子既出熱甚不解，此毒邪壅遏，宜大青湯解其表。便閉以黃連解毒湯合白虎湯解其里。大便不通四順飲主之。</p>
<p>疹出身熱咳嗽不止，乃餘毒乘肺金也，以清金化毒湯主之。若更有痰宜橘紅貝母桔梗甘草芩連栝蔞仁連翹知母麥冬牛蒡燈心之類。咽喉腫痛加元參，喘者加石膏竹葉紫菀兜鈴蘇子，雖喘而壯熱者，亦宜竹葉石膏湯起劑而合前諸藥，或加杏仁川樸，但不必用紫菀兜鈴蘇子耳。石膏止可用一二帖不宜多服。石膏大寒性沉主降，小兒每服一二錢，大人倍之，寒月煨用，夏月生用，楊氏《直指》曰：赤疹遇清涼而後化，白疹得溫暖而方消。</p>
<p>疹出咳嗽口乾心煩者，毒在心肺發未盡也。瀉白散加花粉連翹元參黃連以瀉心火或黃連杏仁湯。</p>
<p>夏月出疹熱甚煩渴是疹兼暑毒也。宜香薷飲合葛根湯，元氣虛弱者禁用香薷辛溫。</p>
<p>疹既出而發熱吐利滯下者乃火邪內迫，上行則吐，下行則利，甚至毒盛則裡急後重而為滯下。吐者宜竹葉石膏湯去半夏主之，利者升麻澤瀉湯。邪在中焦則吐利並作宜黃芩湯加陳皮黃連竹茹。而裡急後重者黃連解毒湯合天水散主之，或黃芩芍藥湯加黃連生地木通當歸枳殼等治之，或少加大黃以微利之。</p>
<p>疹出時自利不止，或瀉糞水頻數者，最為惡候。但看疹若遍身稠太甚或紫或紅者，則又不妨。蓋毒在大腸非瀉則鬱遏不解，惟用平胃散加葛根連翹以解之，疹子發透自然瀉止；若已收而瀉不止者，疹尤未盡，加連翹黃連牛蒡木通澤瀉以分利之。若用訶子肉果罌傑殼等藥，即變腹脹痞滿喘急悶亂不治之證矣。</p>
<p>疹出後熱不退，連綿三四日不收者，乃毒火太盛外發未盡，內有餘邪，以大青湯或化斑解毒三味消毒飲加元參桔梗石膏治之。</p>
<p>疹出時咽喉作痛不能飲食者，此毒火拂鬱上蒸咽喉也，宜甘桔湯加元參牛蒡連翹知母門冬花粉竹葉，或射干鼠黏子湯徐徐咽服，勿作喉疳同論，妄用針刺。</p>
<p>疹出渾身如錦紋者，化斑湯主之。色淡者血不足也，養血益榮湯主之。若黑斑者，十死一生，急用大青湯主之。</p>
<p>形如錦紋而間有頭粒赤者，壯熱煩躁，舌胎或焦黃或燥黑，大便秘結，乃斑疹並行也。宜調胃承氣湯利之，繼用白虎湯治之。</p>
<p>疹出而手足發疱者，脾熱也，宜消毒飲多加白芍藥，少加防風即愈。</p>
<p>疹子之輕者，常以六時為度，如子後為陽午後收，午後為陰子後收，乃陽生陰成，陰生陽化之理也，故漸出漸收者其熱亦輕。</p>

<h3>疹子出後證治</h3>
<p>疹子收後身雖不見羸瘦，但時發壯熱，煩躁不寧，搐掣驚悸，神昏志亂，此陰火衰耗致餘毒入肝而傳於心也，宜養血安神，四物湯加麥冬棗仁竹葉燈心甘草石菖蒲龍膽草茯神黃連為治，或以前藥為末用，蒸餅，豬心血為丸，服之亦可。</p>
<p>疹後發熱不除忽作搐者，不可與急驚風同論，用導赤散加麥冬，送安神丸。小便清長者治之易，短少者治之難。</p>
<p>疹後咽痛嗆水，舌胎唇燥者，乃流毒心胃也，宜黃連解毒湯加連翹牛蒡治之，疹後痢下膿血，裡急後重者，毒入大腸也，先用三黃丸利之，次用黃連芍藥湯治之。</p>
<p>疹出時曾作瀉痢，未經清解，疹退後變為休息痢，不問紅白裡急後重，晝夜無度，餘毒在大腸也，須分虛實治之。實者三黃丸利之，虛者香連丸和之，後用黃芩湯養血行氣為治。</p>
<p>疹後滯下不止，飲食不進，脈緩肢冷乃脾胃氣虛也，先用理中湯，次用芎歸六君子湯治之。</p>
<p>疹後壯熱煩渴，利下鮮紅，宜白頭翁湯或芩連柏葉槐花枳殼荊芥炭之類治之。</p>
<p>疹後餘熱未盡，熱甚而失血者，宜用犀角地黃湯或四物湯加茵陳木通犀角之類以利小便，俾熱得下行而愈。</p>
<p>疹後渾身發熱晝夜不退，此毒未盡解，邪火鬱於肌肉之間，久則毛髮焦乾，皮膚枯槁，肌肉羸瘦，為骨蒸勞瘵之證，急服蘆薈肥兒丸加龍膽草當歸連翹等治之。遲則變為睡則露睛，口鼻氣冷，手足厥逆，瘈瘲，為慢脾不治之證，用清熱除疳丸亦可。</p>
<p>疹後餘熱未盡，日夜煩燥，譫語狂亂，燈心湯下辰砂益元散，或辰砂五苓散（去桂術）加芩連地骨皮治之。</p>
<p>疹後耳痛紅腫成膿，用煅枯礬夜明砂胭脂邊各一錢麝香二分同研，先用綿裹杖子搌淨，以藥少許摻之，若日久不愈，宜服犀角飲解之。</p>
<p>疹後身熱煩渴不已，乃虛煩也，宜竹葉石膏湯去半夏加乾葛天花粉麥冬治之。</p>
<p>疹後壯熱喘嗽痰血者，乃毒留於肺胃也，宜黃芩山梔知母貝母天花粉元參人中黃治之。</p>
<p>疹後而復拂拂煩熱，頻作嘔吐者，此毒尚未盡，留連於肺胃之間，宜化斑湯主之；大便閉者，稍加大黃微利之。</p>
<p>疹後便溏干嗽，身熱羸瘦，皮枯憔悴者，乃疳瘵之證，宜四君子湯加陳皮貝母黃連地骨皮青蒿子龍膽草白芍藥治之。如渾身壯熱，未至羸瘦皮枯憔悴，但搐掣煩躁，此熱在心肝，以當歸養血湯、黃連安神丸間服可也。</p>
<p>疹後微微嗽者用清肺飲加消毒飲主之。</p>
<p>疹後干嗽不已，因過於解散，以致肺氣虛耗，宜補脾肺為主，用四君子湯加陳皮貝母歸身白芍米仁石斛治之。有用清火止嗽藥，背漸駝肥骽足細小者，有咳久而胸高腫滿狀如龜背者，乃疹後久嗽則金衰，金衰則不能生水制木，木火刑金，蓋腎主骨髓，腎無生氣則骨枯而髓減，風寒乘虛而入於髓內，其邪凝滯故腰脊不舉而有斯疾。治法先以防風散驅其邪，後以八味地黃丸加人參杜仲牛膝當歸霍石斛何首烏米仁野黑豆兔絲子枸杞子巴戟肉萆薢桑寄生鹿茸蜜丸，又以驅風壯筋活血膏貼其突處，又以艾灸肺俞穴（第三椎骨下各開一寸半）鬲俞穴（第七椎骨下各開一寸半）。</p>
<p>疹後嗽甚氣喘，連聲不住，甚至飲食湯水俱嗆出，或咳血，此熱毒乘肺而然也。宜服門冬清肺飲加連翹主之；若胸高如龜背，肩聳而喘，血從口鼻而出，搖頭擺頸，面色或青或白或紅，而色枯黯者，不可治然，亦有肺氣虛為毒所遏而發喘連聲不已，但無咳嗽，血出嗆食等證，宜清肺飲倍加人參治之。此又不可拘肺熱之一端，而純用清肺解毒之藥也。</p>
<p>疹後痰嗽不已，午後發熱者乃陰虧而火炎無制也。治宜壯水為主，以六味地黃丸加門冬知母治之。</p>
<p>疹後兩目赤腫，壯熱煩渴者，毒乘肺胃也。宜清胃解毒湯治之。</p>
<p>疹後痰嗽口疳，身熱腹飽者，宜清胃湯加大腹皮枳殼治之。</p>
<p>疹後聲啞不出，或嗽或喘，身熱不退，日久不愈，乃熱毒剋制肺金。宜清金降火湯加竹瀝薑汁主之。</p>
<p>疹後熱毒未盡，發疔發癰，肢節疼痛者，以羌活散微汗微下。</p>
<p>疹後熱毒未盡，壯熱煩躁，瘡疥遍體，先以葛根湯加荊芥發之，次用犀角地黃湯。</p>
<p>疹色變黑，牙根黑爛，肉腐血出，臭息沖人者，用天生白馬蹄放熱瓦上炙過，存性，研細擦患處，或三妙疳方，馬鳴散主之。有齒潰鼻穿諸藥不效者，急以牯牛糞後尖瓦上煅，同人中白俱煅存性，和川柏末研細吹之，則潰竅漸漲，齒齦俱生。若面頰浮腫，環口青黑，唇崩鼻壞，穿頰破腮者死。如唇口多瘡，其聲嘎啞者曰狐惑，以化慝丸主之。若更煩躁失聲者死，外以文蛤散雄黃散搭之，內用人中黃使君子龍膽草川黃連五靈脂侵蒸餅為丸，滾水服以清胃火，然或有得生者，不多見也。孕婦出疹當以四物湯加冬朮條芩蘇梗艾葉安胎清熱為主，使胎無虞，而疹易出沒也；如胎氣上衝急用苦葶藶艾葉煎湯磨檳榔汁服之，更宜多服上藥為妙。</p>
<p>孕婦痧疹熱毒蒸胎，胎多受傷，而母實無恙也。蓋疹與痘不同，痘宜內實，故胎落而母亡，疹宜內虛，故胎去而母存，孰若子母俱全之為愈也。</p>

<h3>疹子不治證</h3>
<p>乾紫黑煤青黯，面目胸腹稠密，咽喉攢纏，發不出而喘，沒早而喘，循衣摸床，譫語撮空，厥逆瘛瘲，神昏志喪，喘急不嗽，通關不嚏，口張肩聳，胸高突起，舌乾唇燥，搦手搖頭，目無液淚，乃火邪熾盛，餘毒內攻，肺竅不通也。</p>
<p>身熱喘脹，人事不省，口鼻出血，面色青白乾枯者，乃悶疹也，不治。</p>
<p>疹後飲食動止如常，乃卒心腹絞痛，遍身汗出如水者，此因元氣虛弱，失於調養，外雖無病，內實虛損，偶為寒邪所襲，謂之中惡，朝發夕死，夕發朝死。</p>
<p>疹後須避風寒，切戒水濕，如或不謹，遂致終身咳嗽瘡疥，無有愈期。</p>
<p>疹後大忌豬羊雞魚蝦蟹之類，恐惹終身惡累，若食萊菔則終身有心糟之患，諸如此類隨處留神，必先叮囑告戒。</p>

<h3>疹子輕重不治證</h3>
<p>或熱或退而後出者，輕。</p>
<p>淡紅滋潤，頭面勻淨而多者，輕。</p>
<p>發透三日而漸沒者，輕。</p>
<p>頭面不出者，重。</p>
<p>紅紫乾燥者，重。</p>
<p>冒風沒早者，重。</p>
<p>熱移大腸變痢者，重。</p>
<p>目睛無神者，不治。</p>
<p>黑暗乾枯一出即沒者，不治。</p>
<p>氣喘，心前吸者，不治。</p>
<p>鼻煽口張，撮唇弄舌者，不治。</p>
<p>鼻準青，糞色黑者，不治。</p>
<p>疳瘡色白為胃爛，不治。</p>
<p>喉腫色黑為內陷，不治。</p>
<p>疹之一證比痘尤甚，若調理失宜禍不旋踵。痘由胎毒外邪感觸而發，其形勢多少輕重吉凶自可豫斷；疹雖由感受邪氣而發，然輕者可重，重者可輕，皆在於調養得宜。故必避風寒，節飲食，斯為至要。若誤食雞魚，則終身皮膚如雞皮之狀，凡遇天行出疹之時，又復重出。若誤食豬肉，則每歲出疹之時，必然痢下膿血。若誤食鹹酸，令人咳不止。誤食五辛令人生驚悸。所以通禁必待四十九日之後方可食肉，才無禁忌。苟或不慎，邪內伏，輕變重，重者死，業醫者當囑病家謹守，慎之，戒之。</p>
<p>德按：秦氏《痘疹折衷》余藏寫本所引湯藥不全，令錄數方於後。</p>
<p><u>羌活散</u></p>
<p>羌活　防風　白芷　荊芥穗　川芎　地骨皮　甘草　連翹　柴胡　牛蒡子　大腹皮。</p>
<p><u>蘆薈肥兒丸</u></p>
<p>三稜　莪朮　青皮（俱醋炒）　陳神麯　黃連　胡黃連　使君肉　蘆薈　檳榔　香附　陳皮　麥芽　蕪夷　南木香　有癖塊加阿魏　乾漆</p>
<p><u>化慝丸</u></p>
<p>蕪荑　蘆薈　青黛　川芎　白芷梢　胡黃連　蝦蟆灰</p>
<p><u>開豁腠理湯</u></p>
<p>升麻　葛根　羌活　荊芥　防風　前胡　柴蘇　牛蒡子　陳皮　甘草　桔梗　枳殼</p>
<p>上十二味水煎服。</p>

<h2>張氏《痘疹詮》</h2>

<h3>麻疹述原</h3>
<p>景岳子曰：痘之與疹原非一種。雖痘之變態多證，而疹之收斂稍易。然疹之甚者，其勢凶危亦不減於痘。最為可畏蓋疹毒痘毒本無異也。第古人重痘而忽疹，多不詳及，使後人無所宗法，余實悵之。自得羅田萬氏之刻，見其理透法精，鄙念斯慰。今悉從其訓，備述於此，雖其中稍有裁訂，亦不過正其疑似，詳其未詳耳。使此後患疹者幸獲迷津之指南，亦以見萬氏之功為不少矣。</p>

<h3>名義</h3>
<p>疹者痘之末疾，惟二經受證，脾與肺也。內應於手足太陰，外合於皮毛肌肉，是皆天地間沴戾不正氣，故曰疹也。（音同癘）然其名目有異，在蘇松曰痧子，在浙江曰瘄子，（音同錯）又曰瘯子，在江右湖廣廣東安徽曰麻子，在山陝曰籽瘡，曰糠瘡，曰赤瘡，在北直曰疹子，（音同軫）名雖不同其證則一。但疹在痘前者，痘後必復出疹，惟痘後出疹者，方為正疹結局。</p>

<h3>疹逆順</h3>
<p>萬氏曰：疹以春夏為順，秋冬為逆。以其出於脾肺二經，一遇風寒，勢必難出，且多變證，故於秋冬為不宜耳。夫天行不正之氣，致為人之瘍疹。然古人於痘、疹二字始終歸重於痘，並不分別。疹為何物，豈可以二證歸於一證耶。想當時重痘不重疹，故爾略之，致使後人不得心法，因而害事者往往有之。今以吾家四代傳流，以及今日心得之法開載於後，用此應治，定不瘥矣。敢有毫釐隱秘，天其鑑之。</p>

<h3>疹脈</h3>
<p>凡出疹，自熱起至收完，但看右手一指脈洪大有力，雖有別證亦不為害。此定存亡之要法也。</p>
<p>景岳曰：按此即陽證得陽脈之義，若細軟無力則陽證得陰脈矣。元氣既弱安能勝此邪毒，是即安危之基也。故凡診得陰脈者，即當辨識為陰證，而速救元神，宜用傷寒溫補托法，參酌治之。若執以麻疹為陽毒，而概用清寒則必不免矣。</p>

<h3>疹證</h3>
<p>疹雖非痘之比，然亦胎毒蘊於脾肺，故發於皮毛肌肉之間。但一時傳染，大小相似，則未有不由天行癘氣而發者，此其源。雖內發而證多屬表，故其內為胎毒則與痘證同。外有表邪則與傷寒類。其為毒也，總由君相二火燔灼太陰而脾肺受之。故其為證則有咳嗽噴嚏，面腫腮赤，目胞浮腫，眼淚汪汪，鼻流清涕，呵欠悶頓，乍涼乍熱，手足稍冷，夜臥驚悸，或噁心嘔噦，或以手捋面目唇鼻者，是即出疹之候。便宜用解毒散邪等藥透達，不使留停於中，庶無他患。但凡是疹證，必其面赤，中指冷而多嗽，又必大熱五六日而後見紅點遍身，此其所以與痘、與傷寒有異也。</p>
<p>痘欲盡發而不留，疹欲盡出則無病，邪氣鬱遏則留而不去，正氣損傷則困而不伸。毒歸五臟變有四證：歸脾則泄瀉不止，歸心則煩熱不退而發驚，歸肺則咳嗽血出，歸腎則牙齦爛而疳蝕。</p>
<p>程氏曰：麻疹初出類傷風寒，頭疼咳嗽熱甚，目赤頰紅，一二日內即出者輕，必須解表，忌見風寒，葷腥厚味，如犯之恐生痰涎，變為驚搐，必致危矣。如初起吐瀉交作者順，乾嘔霍亂者逆，欲出不出者危亡立至。</p>
<p>景岳曰：痘疹之屬有四種：曰痘，曰疹，曰麻，曰斑也。痘則陸續漸出，自小而大，或稀或密，部位顆粒有辨也。疹則一齊發出，大者如蘇子，次者如芥子，小者如蠶子，而成粒成片者是也。麻則最細，而碎如蚊跡，模糊者是也。斑則無粒，惟成片紅紫如雲如錦者是也。大都疹與麻斑同類，即發斑傷寒之屬。而痘則本非其類也。蓋痘毒本於肝腎，出自中下二焦，是以始終不妨於食，而全賴水穀為主所以能食則吉，不能食則凶，故治痘者不可不顧脾胃。麻疹之毒則由表邪不解，而內犯太陰陽明，病在上中二焦，所以多不能食，故治麻疹者但宜解散火邪，邪散則自能食矣。是痘疹之治，當各有所重者如此。</p>

<h3>疹期</h3>
<p>出疹之候，初熱一日至次日雞鳴時，其熱即止，止存五心微熱，漸見咳嗽，鼻流清涕，或腹中作痛，飲食漸減，到申酉之間，其熱復來，如此者四日。用手滿按髮際處甚熱，其面上熱少減二三分，咳嗽連聲，面燥腮赤，眼中多淚，噴嚏頻發，或忽然鼻中出血，至五日其熱不分晝夜，六日早時其疹出於兩頰下細細紅點，至午時兩手背並腰下及渾身密密俱有紅點，七日普遍掀發，其鼻中清涕不流，噴嚏亦不行，七日晚兩頰顏色漸淡，此驗出疹之要法。</p>
<p>凡疹熱六日而出一定之規也，若醫者無識，用藥太早耗散元氣，及至出時變害多矣。或嗽而變喘，或出一二日即隱，或作大瀉，或合目而喘，此醫者用藥不當之害也。吾家治法定不在五日內用藥，必待見疹方用徐徐升表，然用藥亦有次第，凡一劑必作十餘次飲之，況疹在皮膚之間，若作一次服，則藥性催之太急，每至譫語煩躁，故當慎之。</p>
<p>景岳曰：按此萬氏之法，謂醫家用藥太早恐致耗散元氣，故必待見點而後施治，及作一次服恐藥性催之太急，皆惟恐無益而反以致害。此固其心得之法也。然以愚見，則醫有高下，藥有宜否，但使見有確真，發無不當，則於未出之前，或解或補，必有得預防之力，以潛消其毒者；既出之後亦必有善調之方，而不致催急者，此在善與不善或不嫌早與不早也。嘗見庸流之誤治者，多是誠不服藥，為中醫也。此萬氏之說，所以不可不遵。</p>
<p>凡疹熱五六日必出矣。醫者用藥見不能散，父母見藥不效，醫者見熱嗽不能除，或以別證治之，病家又或更醫，此世之所以誤者多矣。</p>

<h3>麻疹初熱</h3>
<p>麻疹發熱之初與傷寒相似，惟疹子則面頰赤，咳嗽噴嚏，鼻流清涕，目中有淚，呵欠善睡，或吐瀉，或手捋眉目面赤為異耳，但見此候即是疹子，便宜謹避風寒，戒葷腥厚味。古法用升麻葛根湯以表散毒邪，余制透邪煎代之更佳，或柴歸飲亦妙。但使皮膚通暢腠理開豁，則疹毒易出。不可作傷寒，妄加汗下也。妄汗則增熱，而為衄血咳血，為口瘡咽痛，為目赤腫，為煩躁乾渴，為大小便不通。妄下則裡虛，為滑泄，為滯下。經曰：必先歲氣，母伐天和，言不可妄汗妄下也。</p>
<p>凡疹初熱疑似之間，切不可輕易用藥，總有他證，必待五日腮下見疹，方可用升表之劑。嗽多，連打噴嚏，鼻流清涕，或流鼻血，飲食減少，好飲涼水，只宜調理飲食，戒葷腥麵食。</p>
<p>疹子初發熱時未見出現，咳嗽百十餘聲不已，上氣喘急而目胞腫，時臥時起，此火毒內蒸，肺葉焦舉，宜甘桔湯合白虎湯加牛蒡子薄荷主之。如疹出之時咳嗽口乾心煩者，此毒在心肺，發未盡也，瀉白散加天花粉連翹元參黃連主之。</p>
<p>疹子欲出未出之時，宜早為發散，以散其毒則無餘患，若不預解使之盡出，多致毒蓄於中，或為壯熱，久枯瘁，或成驚癇，或為瀉痢，或為咳血喘促，或作疳蝕而死，此雖一時戾氣之染，然未有不由於人事之未盡也。</p>

<h3>疹出沒</h3>
<p>疹子出沒常以六時為準，假如子後出午後即收，午後出子後即收，乃陽生陰成，陰生陽成，造化自然之數也。凡此旋出旋收者輕，若一出連綿三四日不收者，乃陽毒太甚，宜大青湯或用荊芥牛蒡子甘草元參石膏桔梗主之；若逡巡不出者，乃風寒外束，皮膚閉密也，宜荊防敗毒散主之。</p>
<p>疹已出而覆沒者，乃風寒所逼而然。若不早治毒必內攻以致癢塌而死。急用升麻湯加荊芥牛蒡子甘草熱服，則疹必復出而安矣。</p>
<p>發熱六七日以後，明是疹子卻不見出，此必皮膚堅厚腠理閉密，或為風寒所襲，或曾有吐瀉，皆能伏也。急用托裡散表之劑，如麻黃湯去杏仁加蟬蛻升麻，外用胡荽酒之類，如一向未更衣者，必毒甚於內，伏而不出，《局方》涼膈散加牛蒡子主之。</p>
<p>疹子只怕不能得出，若出盡則毒便解，故治疹者於發熱之時，當察時令寒暄酌而治之。如時證大寒以桂枝葛根湯或麻黃湯發之，時證大熱以升麻葛根湯或合人參白虎湯發之，不寒不熱以荊防敗毒散發之。如盡一劑不出再作本湯服之，外用胡荽酒，又以苧麻蘸酒遍身戛之，務令亟出。如三四作更不出，加腹中脹痛，氣喘昏悶則死證也。</p>
<p>景岳曰：按此萬氏之法極得因時制宜之善，已盡發表之義矣。然發表之義亦最不易，即如營衛不足而疹有不能出者，其證甚多，若徒知發之，而不知滋之，則營衛有弱者，非惟不能發，而且恐窮其源矣。此其或在脾胃，或在血氣，必得其神。庶乎有濟如傷寒三表之法，實亦有關於此。</p>
<p>疹毒出盡則邪氣解散，正氣自然和平。如發熱煩悶，或嘔吐，或泄瀉，此毒邪壅遏尚未出盡也。煩熱者黃連解毒湯，嘔泄者柴胡橘皮湯並外用胡荽酒及苧麻戛法如前，待疹子出盡，則煩熱自去，嘔吐自止矣。</p>
<p>疹有既收而餘毒未盡，至三日之外又復發出，或至五六次不已者，此因發熱之時，不避風寒，致令邪氣鬱於肌肉之間，留連不散，雖曾解散終屬未暢耳，若兼雜證亦當隨證治之。</p>

<h3>疹形色</h3>
<p>凡看麻疹初出之法，多於耳後項上腰骽，先見其頂尖而不長，其形小而勻淨者吉也。若色見通紅則疹發於心，紅者火之正色也。若疹色淡白者心血不足也，養血化斑湯主之，或四物湯加防風。色大紅焰或微紫者，血熱也，或出太甚者，並宜大青湯主之，或四物去川芎加柴胡黃芩乾葛紅花牛蒡子連翹涼血滋陰而熱自除，所謂養陰退陽之義，亦五死一生之證也。若黑色者，則熱毒尤甚，而十死一生之證，此尤不可不明察之，而混為施治也。</p>
<p>凡疹初出色赤者，毒盛之勢也，但大便調，咳嗽多，右手一指脈輕重取皆有力，雖勢重無礙，但當隨證調理。若嗽少右手一指脈無力，雖三日後收，其渾身疹瘡變為紫色，壅結於皮膚之間，若用解利之藥，其色漸轉紅色，嗽多流涕，頗思飲食者生。若投二三劑難變者，難疔也。</p>

<h3>疹涕</h3>
<p>凡疹出至二三日，必兩鼻孔俱干，待收完看，毒氣輕者，清涕即來就思飲食，此不必服藥。若清涕來遲不思飲食者，須要清肺解毒，必俟清涕出方可不用藥。</p>

<h3>疹吉凶</h3>
<p>或熱或退五六日而後出者，輕。</p>
<p>透發三日而漸沒者，輕。</p>
<p>淡紅滋潤頭面勻淨而多者，輕。</p>
<p>頭面不出者，重。</p>
<p>紅紫黯燥者，重。</p>
<p>咽喉腫痛不食者，重。</p>
<p>冒風沒早者，重。</p>
<p>移熱大腸變痢者，重。</p>
<p>黑黯乾枯一出即沒者，不治。</p>
<p>鼻扇口張目無神者，不治。</p>
<p>鼻青糞黑者，不治。</p>
<p>氣喘心前吸者，不治。</p>

<h3>總論治法</h3>
<p>疹喜清涼而惡濕，痘喜溫暖而惡涼，此固其大法也。然亦當有得其宜者，如疹子初出亦須和暖則易出，所以發苗之初只要發出得盡，則疹毒便解。非若痘之苗而秀，秀而實，而後毒解也。痘瘡成熟之時，若太溫熱則反潰爛不收，是痘之後亦喜清涼也。故治痘疹者無過熱，無過寒，必溫涼適宜，使陰陽和平，是為得之。</p>
<p>痘宜內實可用補劑，疹忌內實只惟解散。惟初熱發表時略相似耳，既出之後痘宜補氣，以生血，疹宜養陰，以制陽，何也？蓋疹熱甚則陰分受其熬煎，而血多虛耗，陰金被克，故治以清火滋陰為主，而不可少動其氣，若燥悍之劑，首尾皆深忌也。世知痘證所繫之重，而不知疹之殺人尤烈，方書多忽而不備，良可太息也夫。</p>
<p>斑疹之毒皆由於火，《內經》曰：赫曦之紀，其病瘡瘍。故或遇二火司天，或司運之歲，肺金受制，感而發者居多。輕者如蚊跡之狀，或壘腫於皮膚間，名曰癮疹。重者如珠點紅暈，或片片如錦紋，名曰斑疹。大抵色赤者吉，色黑者凶，其證似傷寒發熱，凡三四日而出，七八日而靨也。凡此之類皆屬邪熱，治之之法惟辛涼解利而已。即若吐瀉亦斷不可用溫補也，如豆蔻乾薑之類切勿輕用，而初發之時尤不可大汗，只宜升麻葛根透邪煎之屬微表之耳，故用宜斟酌，有不可一概取必也。</p>
<p>標出不紅，現而發熱轉甚，或頭痛，身痛煩躁者，升麻湯或透邪煎。</p>
<p>色赤稠密，身痛煩躁者，升麻湯加紫草連翹。</p>
<p>寒熱並作，頭痛背強者，升麻湯加羌活防風連翹。</p>
<p>頭項面腫，升麻湯加牛蒡子荊芥；若脈強火盛熱渴者，宜清降其火，以白虎湯加減用之。</p>
<p>自汗煩渴，氣壅脈數者，化斑湯。</p>
<p>身熱煩渴泄瀉者，柴苓湯或四苓散，如夏月用益元散。</p>
<p>熱甚，小便赤澀，譫語驚恐者，導赤散、四苓散加辰砂，夏月益元散加辰砂。</p>
<p>咳嗽甚者，二母散、麥門冬湯、清肺湯。</p>
<p>喘者小柴胡湯去人參加五味子。（德按：痧疹初出究非虛喘，五味子切不可加）</p>
<p>熱甚鼻衄，或便血、溺血熱甚者，黃連解毒湯；血甚者，犀角地黃湯。</p>
<p>傷寒嘔吐，六君子湯加藿香乾葛，或減去人參；熱甚嘔吐者，解毒湯；小便不利而嘔吐者，四苓散；一二日不通者，導赤散。</p>
<p>大便秘結，發熱身痛者，大柴胡湯；腹脹氣喘者前胡枳殼湯。</p>
<p>咽喉不利甘桔湯，兼風熱咳嗽者，加防風。</p>
<p>寒熱往來似瘧小柴胡湯，如兼咳嗽去人參。</p>
<p>靨後身熱不除者，升麻湯；或去升麻加黃芩黃連各用酒炒。</p>
<p>下利赤白腹痛者，黃芩芍藥湯，或加枳殼；身熱腹痛者，解毒湯。</p>
<p>餘毒未盡，變生癰疽瘡癤者，升麻湯加荊芥防風牛蒡子連翹。</p>
<p>景岳曰：按以上萬氏治疹諸條皆極詳明，然其中惟瀉痢、氣喘二證則最多疑似。蓋二證之由疹毒，因當如其治矣。然有不因疹毒者，如俗醫但見是疹無不概用寒涼，不知有可涼者，有不可涼者，其有脾氣本弱而過用寒藥，或以誤食生冷致傷脾胃，而為泄瀉者亦多有之，此一證也。雖曰由疹而發，而實非疹毒之病矣，但察其別無熱證熱脈，而兼之色白氣餒者，便須速救脾腎，急從溫補。若執謂疹毒不可溫則無不危矣，此醫之當知本也。又如氣喘一證，大有虛實，蓋十喘九虛。若察其本非火證，又非外邪，而或以大瀉，或以大汗而致喘者，此皆氣脫之後也。凡此二者皆不可不加細察，而或者以氣促作氣喘，則萬萬大誤矣。又痘瘡總論中有因人因證之辨，與此麻疹實同一理，所當參閱，故不可以麻疹之邪悉認為實火，而不知虛火之為害也。</p>
<p>徐氏東皋曰：痘難疹易之說此俗談耳，其有胃氣原弱所感入深，又或因瀉痢而發有不快，或發之未透，而隨現隨隱，久之邪氣漸入於胃，必泄瀉不已，出而復出，加之喘促，則必危矣。凡若此者又豈可以易言哉，所以但有出疹，若見虛弱急當先補脾胃，其有欲出不出，急當托裡發表以助之，且首尾俱不可瀉，（言用下也）一如痘證同也。</p>

<h3>疹禁忌</h3>
<p>凡疹出發表之後，紅影現於肌膚，切戒風寒生冷，如一犯之，則腠理閉密，毒氣壅滯，遂變渾身青紫，而毒反內攻，煩躁腹痛氣喘悶亂諸證作矣，欲出不出，危亡立至，醫家病家皆不可不慎。</p>
<p>疹瘡之證，全在調治，禁忌如雞魚炙煿鹽醋五辛之類，直過七七之後方可食之，惟宜清淡。不可從口恣食，致生他疾也，若誤食雞魚則終身皮膚粟起如雞皮魚靨之狀，或遇天行出疹之時又令重出，誤食豬羊肉則每歲凡遇出疹之月多有下利發痧乖瘡，誤食鹽醋致令咳嗽，則每歲出疹之月必多咳嗽，誤食五辛之物則不時多生驚熱目赤口臭，此痘疹之家皆所當慎也。</p>
<p>痘疹非熱不出，凡疹子欲出必遍身發熱，或煩躁，或頭眩，或身體拘急，及既出則身便涼，諸證悉解，此一層疹子隨即收者極輕者也，如疹子既出而熱甚不減，此毒盛者也，宜大青湯解其毒。便澀者宜黃連解毒湯合白虎湯或大連翹飲解其里。大便不通者，《局方》涼膈散加牛蒡子主之。</p>

<h3>疹喘嗽</h3>
<p>凡疹證多嗽，此頓出頓入之勢也。但有疹毒須假嗽多而散，故疹後旬日之內尚宜有嗽，切不可見嗽多而治嗽也，宜慎之。</p>
<p>疹證屬肺與脾胃，肺受火邪則嗽多，嗽多則頓出頭面並及四支。大腸受火邪，則上連脾胃而為泄瀉，若早瀉則嗽必減而變為喘，蓋喘嗽二者皆屬於肺。然嗽實喘虛，（德按：亦有因毒邪外閉肺脹而喘者）得嗽者出，得喘者入，入則閤眼多痰，胸滿腹脹，色白而毒不盡出，證則危矣。此疹之宜嗽不宜喘，而最不宜於泄瀉也。</p>

<h3>疹吐瀉</h3>
<p>凡疹子初起發熱吐利，純是熱證，不可作寒論，此乃火邪內逼，上焦則多吐，下焦則多利，中焦則吐利並作。自利者宜黃芩湯，吐利者宜黃芩湯加半夏生薑，自利裡急後重宜黃連解毒湯合益元散。</p>
<p>凡疹出一二日或三四日忽然大瀉嗽多者，用升表之藥加以分利治之，若瀉而兼喘，復見悶亂搖頭者，凶。</p>
<p>麻疹現後大便下膿血，或因泄瀉而變成膿血者，或徑自利者，但看疹瘡出多而色紅又多嗽者，只宜表疹，俟其收後方宜解毒，兼治其利。</p>
<p>疹之初起最忌泄瀉，然亦有始終泄瀉而不妨者，稟之強弱異也，若因瀉而嗽減變為喘者，則危矣，詳前喘嗽條。</p>
<p>身熱煩渴泄瀉者，柴苓湯四苓散，如熱甚或夏月益元散。</p>
<p>疹後作利，亦有看手，咬指甲，撕口唇皮，及咬人等證，當以解毒分利藥治之，若所下稠涎紅白相兼者，務要用解毒之藥。若晝夜有二三十次漸減至二三次，或漸多嗽，右手一指脈漸起，清涕復來者，方可望生。若利變煤塵色，或成屋漏色，或如青菜色，肛門如直筒，喘促音啞，食飲不進，午後腮紅，皆不治之證。</p>
<p>景岳曰：自古方書凡發揮未盡，及用治未當者，間亦有之。而惟於泄瀉一證，則尤其為最。何也？蓋古人泄瀉為熱者什九，故多用河間黃芩芍藥湯為主治，而不知凡屬泄瀉最多脾腎虛寒也。即如出疹一證，雖有由疹毒而瀉者，然果系實熱多不作瀉，但致瀉者，率由脾胃之弱。若但知清火解毒，則脾土日敗，而漸成屋漏菜青色及氣促絕食不治之證矣。病而至此豈猶熱耶，總屬誤耳。（德按：馬元儀曰暴病則多實，久病則多虛，滑脫者多寒，澀滯者多熱，參之脈證百無一失）故凡治泄瀉者，即雖是疹，亦必察其有無熱邪，故無熱證熱脈，即當於痘瘡泄瀉條中求法治之。庶最危者，猶可望其生也，如余於諸法之外，而獨言其要者有如此。</p>

<h3>疹飲食</h3>
<p>凡出疹者多有五六日不飲食，此胃為邪氣所侵，亦為邪氣所養，故不食亦不妨，切不可著意治之，只宜治疹，疹瘡出盡，毒氣漸解，即思飲食。尤不可與麵食，雖用粥飲，每次只可少與，候神氣清爽，身全不熱，漸漸加添，但宜少而頻也。凡出疹之先，平昔過用麵食者，正出時吃麵食者，或胃氣漸開即思麵食而用早者，因動胃火，以致清涕不來，身體作熱，兩眼看手，咬指摳鼻，撕口唇皮，及撕眼札毛者，此皆疹後食復之病也，當清肺解毒加消導之劑治之。</p>

<h3>疹飲水</h3>
<p>凡患疹之人，不拘大小，自起至收，必皆喜飲涼水，（可與花露代）此不必禁，但宜少不宜多，宜頻不宜頓，則毒氣隨之漸解。</p>

<h3>疹渴</h3>
<p>凡疹子渴喜飲水，純是火邪，肺焦胃干，心火內亢故也。初發熱發渴者，升麻葛根湯加天花粉麥門冬，渴甚者人參白虎湯合黃連解毒湯主之。</p>

<h3>疹汗衄</h3>
<p>凡疹子發熱，或自汗，或鼻衄者，不須止之，此亦散越之義。汗者毒從汗散，衄者毒從衄解，但不可太過，如汗太多人參白虎湯或合黃連解毒湯，衄太多者元參地黃湯。</p>

<h3>疹躁妄狂亂</h3>
<p>凡疹有初熱而見煩擾譫妄狂亂者，宜升麻葛根湯調辰砂益元散主之。</p>
<p>疹收之後餘熱未盡，日夜煩躁，譫語狂亂者，辰砂益元散用燈心湯調下，或四苓散加燈心黃連黃芩調水飛辰砂五分主之。</p>

<h3>疹咽痛</h3>
<p>痘疹咽痛亦是常候，乃火毒上熏而然也。切勿以喉痹同論，妄用針刺，蓋此非喉痹癰腫，原無惡血可去也。痘疹喉痛，只是咽乾作痛宜甘桔湯加牛蒡子，或射干鼠黏子湯細細嚥之，更以玉鑰匙吹之。（德按：咽喉腫痛若果爛喉痧毒外閉內陷者，大忌冰片牛黃涼遏）</p>

<h3>疹唇口瘡</h3>
<p>凡出疹之先，或有胃火，及出疹之後，餘毒不散，此熱毒收於牙齦上下，故並唇口生瘡，遇有此證，每日用溫米泔水洗十餘次，（或用生甘草湯漱口）急用解毒之藥治之，若或失治多變走馬疳也。</p>

<h3>疹腹痛</h3>
<p>凡疹初熱一日至五六日之間，多有腹痛之證，此大腸之火鬱於脾竅之中，故作腹痛。俱不可認作傷食，用消導之藥，或以手揉，俱能致害。但解疹毒，毒散則腹痛自止，最宜慎之。</p>

<h3>疹後諸證</h3>
<p>凡疹後餘毒未盡，隨當解之。若停留日久不解，則必致喘嗽，或喉中痰響，或為四支冷痹，或目無光彩面色青白，或鼻孔如煙筒，或嗽聲不出，若右手一指脈輕取散亂，重按全無，則成難治之證矣。</p>
<p>疹子收後身有微熱者，此虛熱也，不須治之，待血氣和暢，其熱自退。若熱勢太甚，或日久不減，宜用柴胡麥門冬散，甚則黃連解毒湯或合人參白虎湯。</p>
<p>疹後熱不退而發枯毛豎，肉消骨立，漸漸羸瘦，為骨蒸勞瘵之證者，宜萬氏柴胡四物湯主之，或蘆薈肥兒丸加當歸連翹治之。遲則變證為睡則露睛，口鼻氣冷，手足厥逆，遂成慢脾風，瘛瘲不治之證矣。</p>
<p>疹後熱不除，忽作搐者，不可以急驚風同論，宜導赤散加人參麥門冬送七味安神丸。小便清者可治，短少者難治。如見多痰或用抱龍丸，或以四物湯加麥門冬棗仁淡竹葉甘草龍膽草黃連茯苓辰砂石菖蒲之類治之，或以此藥為末用，蒸餅，豬心血為丸服亦可。</p>
<p>疹退後多有咳嗽之證，若微嗽不已者，此餘毒未盡也，用清肺飲加生甘草牛蒡子主之。若嗽甚氣逆發而不已者，此肺中伏火，金虛葉焦也，宜清肺飲或清肺湯合人參白虎湯六一散之類主之。若身熱頓嗽，甚至飲食俱嗆出，或咳出血，皆熱毒乘肺而然，宜多用門冬清肺湯或加連翹或清金降火湯主之。若咳甚而面浮目腫，胸高喘急，血出口鼻，面色青赤，昏躁搖頭者，死證也。又有肺氣本虛，為毒所逼而發喘不已，但無嗽血嗆食等證者，宜用清肺飲倍加人參治之。不可拘於肺熱之說，而純用清肺解毒之藥也。</p>
<p>疹後餘熱未盡，或熱甚而失血者，四物湯加茵陳木通以利小便，熱氣下行則愈，若血在上者去川芎。</p>
<p>疹後餘毒入胃，久而不散，以致牙齦黑爛，肉腐血出，臭氣衝人者名為走馬疳，用馬鳴散主之。甚者急用人中白蘆薈使君子龍膽草黃連五靈脂浸蒸餅為丸，滾水服之，以清胃火。若面頰浮腫，環口青黑，齒脫唇崩，鼻壞者，死證也。疹退之後，飲食如常，動止如故，乃卒然心腹絞痛，遍身汗出如雨者，此因元氣虛弱，失於調養，外雖無病，內實虧損，偶然為惡氣所中，謂之中惡，此朝發夕死之證。</p>

<h3>附麻疹</h3>
<p>痘之外有疹，疹之外又有麻疹。麻疹者亦疹之類，即斑疹也。但正疹則熱至五六日而後一齊湧出，出皆粒粒成瘡，非若麻疹之皮紅成片也。且麻疹之出則不拘三四日，以火照之，遍身如塗朱之狀，此將出之兆，出則細碎皮紅成片，如蚊蚤僭膚之跡者，即麻疹也。（德按：此言麻疹乃時行疫癘之痧，非正出之痧也）亦或有六日始出，出而又沒，沒而又出，不過一周時許，世俗謂一日三出，三日九出後，方齊出透徹。然亦有不拘者，只三日間，從面至胸背手足，雖隨出隨沒，然只要出透，以遍身紅潤者為美。重者遍身膨脹，眼亦封閉，色有赤白微黃不同，只要紅活，最嫌黑陷，及面目胸腹稠密，纏繅咽喉者，為逆，發不出而喘者，即死。所謂麻者以遍身細碎如麻，無有空處故也。然又有遍身但紅而絕無斑點者，是又謂之丹痧，亦其類也。故痘家有夾斑夾疹夾丹等證，總皆熱毒所致，俱當詳辨也。</p>
<p>麻初起呵欠發熱惡寒，咳嗽噴嚏流涕，宜升麻葛根湯加蘇葉蔥白以解肌，切忌大汗。若潮熱甚者加芩連地骨皮。譫語者調辰砂益元散。咳嗽加黃連杏仁麥門冬石膏。咳甚熱甚者用涼膈散加桔梗地骨皮。泄瀉者宜四苓散。便紅合犀角地黃湯（德按：凡麻疹初起大忌犀角羚羊，可與葛根芩連湯加扁豆花山茶花之類）吐血衄血用犀角地黃湯加山梔。小便赤加木通。（德按：若大便秘者，可與三黃瀉心湯加生地梔丹之類）寒熱似瘧小柴胡湯。</p>
<p>麻疹已出，煩躁作渴者，解毒湯合白虎湯。喘而便閉者，前胡枳殼湯加五味子。（德按：五味子太斂，可與杏樸蘇子桑白皮之類）便秘甚者，小承氣湯。譫語溺閉者，導赤散。小便如泔者，四苓散加車前子木通。譫語如狂者，解毒湯調辰砂益元散。大小便血者，犀角地黃湯合解毒湯。吐血衄血解毒湯加炒山梔童便。泄瀉解毒湯或四苓散。喘兼泄瀉溺赤澀者，柴苓湯。煩熱大渴作瀉者，白虎湯加蒼朮豬苓。熱盛乾嘔者，解毒湯。傷食嘔吐，四君子湯。夏月因熱作嘔，四苓散加人參。</p>
<p>麻證初起，及已出已沒一切雜證俱與痘疹大同，但始終藥宜清涼。雖曰麻喜清涼，痘喜溫暖，不易常道。然虛則補，實則瀉，寒則溫，熱則涼，方是醫家玄妙。故治麻亦有血虛而用四物湯，氣虛而用四君子湯，傷冷則溫中理中之藥，皆當因證而用也。</p>
<p>麻疹收後餘毒內攻，凡尋衣摸床，譫言妄語，神昏志亂者死。如熱輕而余未除，必先見諸氣色，若有所見須預防之。始終以升麻葛根湯為主，或四味消毒飲，或六味消毒飲，解毒湯，隨證選用，仍忌魚腥蔥蒜等物。</p>

<h3>水痘</h3>
<p>凡出水痘先十數點，一日後其頂尖上有水泡，二日三日又出漸多，四日渾身作癢，瘡頭皆破，微加壯熱即收矣，但有此痘須忌發物，七八日乃痊。</p>
<p>水痘亦有類傷寒之狀，身熱二三日而出者，或咳嗽面赤，眼光如水，或噴嚏，或流涕，但與正痘不同，易出亦易靨，治以清熱解毒為主。</p>

<h2>周氏《慎齋遺書》</h2>
<p>周氏慎齋曰：麻初出於陰而傳於陽，人之一身，惟火甚速，肺金居上，畏火者也。脾土居中，畏木者也。火炎上則肺有虧矣，火宜發之。疏通血脈，滋潤皮毛，而肺無傷則左腎足，木得其潤澤，肝血潤則脾血藏，脾陰又何傷乎。脾通血脈，胃主四肢，胃氣上升，肺津乃降，滋生元氣，萬物生長。心之神化，脾得其真，火化從何起。蓋火是邪，邪從虛起，有餘易去，不足難扶。未出之先，肺先受邪，當發其表，邪從汗散。假如求汗不至，或汗多，疹或隱或見凶。皆是元氣不足，脾虛不統故也。當補脾陰之不足，血藥之中少加參桂亦無害也。庸醫未見其理，謂麻宜清涼，痘宜溫補，痘有先清後補之別，則麻無有溫之之意。求汗不至，不可再攻，攻則化而為火，肺熱無救，一也。未出或已出，自汗吐下，真氣已傷，脾肺先受害也。麻以二藏為主，切宜斟酌，再無汗吐下也。胃喜濕熱而上升，清氣下陷，小便赤而渴者，葛根前胡桔梗甘草牛蒡連翹木通之類；或飲食所傷，腹痛泄瀉，小便清而不渴，屬寒，五苓加神麯山楂砂仁之類。或吐下無汗，不可再攻，宜緩候待養，得神至自和，不可不察。元氣虛弱，照依常例行之，醫死而不悔者多矣。自經汗吐下者十餘日不退，久病無陽，宜陽生陰長，四物加參可也。熱甚加沙參，不可過用寒涼，過用則脾氣絕，二也。出作二次而不齊者，已出者，宜養芽不使枯槁，用芎歸赤芍木通，未出者，宜表，蘇葛加前胡桔梗牛蒡，喉痛加元參，或血經妄行宜犀角地黃湯或升麻葛根湯加沉香梔子連翹之屬，切莫忘陰而攻表以成陰血動，三也。麻不宜發綻，綻者凶。亦不宜隱，隱而不現無神者斃。出未至足，便作出盡，不行消毒，純用寒涼，使陰血凝滯而陰不發越熱，傳於血室，或吐或下或熱鬱於內，變成疳勞，或一月二月而安，或傳而至死，四也。已出三四日而下沒者，內有熱也，四物加芩連梔子木通，七八日後有熱內虛而邪盛不散，當扶正以卻邪，宜養陰以滋脾肺，使無克勝，黃芩白芍燈心人參沙參天冬麥冬當歸山藥蓮子，煩加竹葉棗仁，看輕重加減治之，不養陰而誤滋陰，五也。痰涎湧甚譫語發渴屬裡，宜救陰宜白虎湯，若用消毒飲疏散正氣，肺絕而亡，六也。大便閉經血燥，宜用芎歸湯加紅花麻仁，因血虛不能養肝，胃氣不能上升故也。而反用柴胡瀉肝血致腎絕，七也。出一二日滿口細瘡，全無空地，火鬱宜發之，消毒散加甘草桔梗牛蒡連翹，如反純用寒涼逼毒內攻，八也。靨後口內黑點瘡者，凶，恐胃爛不治，或一月半月餘熱不退，發渴屬虛，宜生脈散兼四物湯調養氣血不致乾涸，但久病無陽莫依常例，治之致脾虛不食，或四五六日口舌硬瘡，變成疳疾，或致胃爛，宜消毒，甘桔加元參沙參炮姜，如反用白虎損傷胃氣，九也。麻後痢只因脾虛不醒宜用芎歸，白痢煨生薑，赤痢香連丸，切莫大下，瀉痢不愈，宜大補氣血，若大下則泄盡元氣，黃脹而死，十也。</p>
<p>發表一節冬用麻黃羌活白芷並消毒飲。春夏用蘇葛湯加連翹甘草桔梗。喉痛加牛蒡。四季前胡貝母不可缺。升麻恐升其毒湊咽，不可輕用；若患泄瀉則氣下陷宜用之。嘔用陳皮貝母薑汁竹茹。前後咳嗽乃風寒所感，宜表中祛邪，過於清者，絕胃家生髮之氣，過於補者動胃火，二者皆非疹之正治，惟補陽中之陰，隨證施治，莫偏於寒莫偏於熱，則元氣足，易起易發，若元氣衰則毒鬱於表，表熱而火土涸，真陰絕，而不救矣。</p>

<h2>吳氏《溫疫論》</h2>
<p>吳氏又可曰：疫邪留血分，裡氣壅閉，非下不能發斑，斑出則毒邪從外解矣。如下後斑漸出，更不可大下。設有下證，宜少與承氣緩緩下之。若復大下則元氣下振，斑毒內陷則危，宜托裡舉斑湯。</p>
<p><u>吳氏舉斑湯</u></p>
<p>白芍藥（一錢）　當歸（一錢）　升麻（五分）　柴胡（七分）　白芷（七分）　穿山甲（二錢，炙）　生薑（一片）上七味水煎溫服。</p>
<p>如下後斑毒隱伏，反見循衣摸床，直視撮空，脈漸微者危。本方加人參三錢得補，發出者生，補不及者死。妊娠時疫設用三承氣，須隨施治不可過慮，慎勿惑於參朮安胎之說，病家見用承氣先自驚疑，更加左右有粗知醫者，從旁嘈雜必致掣肘，遂令子母皆大不祥。若應下之證，反用補劑安胎，熱毒愈熾，胎愈不安，耗氣搏血，胞胎何賴。是以古人有懸鐘之喻，梁腐而鍾未有不落者，惟用承氣逐去其邪，火毒消散，淡熇頓為清涼，氣回而胎自固。當此證候大黃反為安胎聖藥，歷治歷當，母子俱安。若見腹㽲腰痛，此將欲墜之候，服藥亦無及矣，須預言之。</p>

<h2>費氏《救偏瑣言》</h2>

<h3>懷娠出疹治驗</h3>
<p>費氏建中曰：一友朱良老，其閫懷娠六月，出疹於隆冬，躁亂不寧，燔熱如火。道中一友以寬氣養血安胎為主，佐以甘桔牛蒡蟬蛻荊芥疏肌透發。三朝疹非不透，熱終如火，煩渴不已，嗽而增喘，徹夜無眠，至五日不惟不寐，並不能就枕，不惟喘急，並不能出聲，面如土色，目睛直視，手指厥冷，渴想西瓜，六脈絕無，影響其娠，追下小腹，痛楚難禁，身無安放，立刻可斃，舉家但顧，得母無恙足矣。余殆無藥，惜其未得一對病之劑，覺有不忍，為熱腸所迫，以大黃五錢，石膏一兩，滑石生地各七錢，炒黑麻黃三分，佐以赤芍丹皮牛蒡荊芥地丁木通甘桔，以蘆筍煎湯代水，二劑後諸證稍緩。遍覓一大西瓜，陸續以濟其渴，又二劑其疹又透，諸證減半，而娠不追下矣。前方減麻黃仍以二劑，面顏頓轉，喘定而得伏枕，熱渴亦殺大半，娠即安然，但咳嗽不止，前方去大黃赤芍丹皮減石膏滑石及半，加元參花粉黃芩金銀花二劑，熱渴俱平，胃氣大開。遽垂斃重證，幸而復生，尚須調理，見安和而遂弗藥。越數日後娠復不安，但不追下，飲食減半，復有餘熱，口內生疳，以消斑快毒湯減蟬蛻丹皮赤芍加金銀花天花粉佐以消疳散吹之全愈。是證所用湯劑據常格，胎前所大忌者，而得既保其母，並安其娠，見有病病受，不第無損於胎，正見所以安之之妙。疹與痘雖異，其所異者惟氣虛痘耳，若烈毒之證原同一軌，令是證但留其母猶畏大黃等味，利畏害並存，尚費躊躇，竟爾子母俱全，凡志醫者可不深思，而潛玩也耶。</p>
<p><u>消斑快毒湯</u>　治痘有夾疹夾斑，膚紅如醉者此湯主之。</p>
<p>連翹　元參　生地　牛蒡子　木通　蟬蛻　丹皮　荊芥穗　黃連　甘草　地丁　赤芍　極熱者加大黃　加燈心二十莖。</p>
<p><u>消疳解毒散</u>　治痘疹後牙疳。</p>
<p>薄荷（五分）　兒茶（一錢）　冰片（一分）　人中白（三錢煅）　天花粉（一錢）　生甘草（五分）　飛青黛（一錢）　黃連（五分）　西牛黃（一分）　珠子粉（二分）　雨前茶（五分）　硼砂（一錢）</p>
<p>研極細，以無聲為度，先以濃茶拭淨方吹。</p>
<p>上編曰述古下。</p>

<h1>卷四</h1>

<h2>許氏橡村《痘疹訣》</h2>

<h3>麻疹要略</h3>
<p>許氏宣治曰：麻之一證比痘稍輕。《金鏡錄》辨疑一賦，及輕重不治數條大略已可見矣。尤有未盡其變者，在時氣之暄寒與兒質之厚薄耳。然痘出之境界寬，雖極險猶可從容圖治；麻之境窄，又多出於嚴寒之令，變生倉卒，多有不及措手者。予故復錄數條，以補前賢之未備，使後學知所通變焉。</p>
<p>或問痘毒出於臟，麻毒出於腑，胃，腑也，何以痘多胃熱發斑之證；肺，臟也，何以麻多肺閉喘促之證。予曰：痘毒出於藏，而赴於胃，是由臟而之腑。胃主肌肉故也，麻毒出於府而甚於肺，是由腑而之臟，肺主皮毛故也。然而痘之出五臟之毒而胃總受之，麻之出六腑之毒而肺總受之，《麻疹辨疑賦》所謂先起於陽者出於六腑也，後歸於陰者肺受之也。</p>
<p>凡病起於陽者從陰化，起於陰者從陽化，理所必然。</p>
<p>麻之出必先咳嗽，不嗽而出非麻也。出而噴嚏者吉，肺氣通也。</p>
<p>麻多出於嚴寒之令，冬月伏陽在內，冬至陽生，故麻出也。俗云庵麻䠞痘，因乎時也。亦有春夏而出者，是由冬季傳染而至於夏也，夏令之出，其亢已甚，何可更庵，但須避風耳。</p>
<p>盛夏之令火旺金傷，葆肺為上，輕輕一散，即宜葆肺，石膏梨汁二味為最妙。夏月無麻黃證，其有不出者，是正氣為熱所傷不能升舉，疏托中宜兼益氣，是予得心之處也。</p>
<p>其有富貴之家麻毒本甚，更加郁遏太過，火甚金傷，致生喘促者有之。經所謂壯火食氣者是也，急宜瀉火以保肺金，不得再行表散。</p>
<p>亦有貧寒之子，破屋當風，衣不蔽膝，麻毒正出，外受寒邪，急生喘促者，急宜溫散，使表氣宣通，麻毒得解，方保性命，否則謂之麻閉，頃成不救。</p>
<p>寒邪外閉，火甚傷金二證，皆見喘促，醫者當知診視。寒邪外閉者，面色青，四支冷，麻點隱隱於皮膚之內，鼻扇而聲細，微有惡寒之象，宜麻黃杏仁蘇葉防風胡荽等味，急進一服暖覆片時，喘定面赤麻漸出者生，若面色如銀者不可治也。火甚傷金者，壯熱面赤，煩躁口渴，四支熱，喘息粗，而脈洪大，心煩嘔吐，或吐出長蟲，急宜白虎加黃連，雖嚴寒之令勿避也。</p>
<p>前二證一經說明不難分辨，復有火毒本甚，外感寒邪，外雖寒而中實熱，又宜表裡雙解，古人所以有麻黃石膏湯之用，予以其法全活甚多。又有火毒本甚，父母只知郁遏，醫家只知交熾，火極似水，反生厥逆之象者有之。書所謂熱深厥亦深是也，急宜白虎湯加黃連，若作寒治殆矣。</p>
<p>養陰退陽古人妙著，後世只知表散，而不知養陰升之。又升陰陽之火齊起，有一發無制而成喘脫者，要知升麻葛根湯之用芍藥，發中有收也，麻黃石膏湯升麻石膏湯一升一降也，小兒純陽之體，有升無降其可恃乎。</p>
<p>肺屬金而主氣，又為嬌嫩之臟，畏火實甚。六腑之火，齊舉而攻之不喘奚。俟石膏一味為麻證之至寶，色白屬金，味甘微辛，升中有降，降中有升，雖為清胃之藥，實保肺之靈丹也。</p>
<p>刑金之火由胃而來，石膏本清胃之藥，而清肺是與之去路也。</p>
<p>養陰退陽書用四物湯。予少時常習用之，多不獲效。以歸芎辛溫之性為不合也，因制生地丹皮麥冬赤芍為麻瘡四物湯，節節應手。古方不必盡泥，師其意可也。</p>
<p>治麻大概有三法，一升散，一降火，一養陰，善用者升散之中即寓清涼之意，養陰之劑不離生髮之極。</p>
<p>麻點隱隱未透，發熱咳嗽，有涕淚，宜升散。兩頰不透，宜升散。發熱四支冷，面不赤唇不燥，宜升散。喘促鼻扇辨得是表邪，宜升散。泄瀉日五六行宜升散。</p>
<p>麻疹已出壯熱不退宜降火。嘔吐煩渴吐出長蟲宜降火。不食宜降火。熱盛爍金而喘宜降火。鼻衄宜降火。小便不利宜降火喉痛腮腫牙痛口瘡宜降火。牙疳臭爛宜降火。</p>
<p>麻疹三四日後大熱不退宜養陰。紫點不收宜養陰。脈來數大宜養陰。夜熱心煩齗齒宜養陰。音啞不清宜養陰。目赤羞明宜養陰。身癢便燥宜養陰。</p>
<p>宜升散，而不升散重則頃成喘閉，輕則餘毒纏綿。宜降火，而不降火則肺胃受傷，或音啞煩渴，或牙疳口瘡。宜養陰，而不養陰則午後潮熱，肌膚瘦削，漸成麻疳之證。</p>
<p>大人出麻十中二三多有房室經產之患，大概輕輕一散，即宜養陰，麻黃升麻羌活等味俱當慎用。</p>
<p>書云痘宜內實，故胎落母亡。麻宜內虛，故胎落母存。予嘗治一婦出痘孕三月，五六分擔（德按：擔者，一石之謂言痘效如擔之重也）腰腹痛，惡已行，時方四朝，證多實火，方用生地丹皮當歸白芍黃連黃芩山梔升麻紫草桔梗甘草共十一味，一服熱退惡止，次日喉嚨痛甚，除白芍加牛蒡連翹，日令服稀粥間服魚湯浸蒸餅漸次成膿，胎固母安。痘出胎落者一生未見，孕婦出麻或三四個月或八九個月所見不一，小產大產母皆無恙，麻宜內虛信矣。</p>
<p>麻後潮熱最可嫌，發在午後，天明退涼，退時脈平靜，發時脈數大，唇紅舌赤而無苔，齩牙揉鼻人漸瘦，多不治。間有能食者大劑養陰可救一二。麻後音啞者多總由火甚傷金，宜甘桔牛蒡山梔之屬，雖遲半月愈無妨。麻後口瘡治法同牙疳，鼻爛與痘後同治。</p>
<p>往年麻證多不損目，邇來有損目者，其來甚速，二三日翳膜遮透即不能治。緣兒本有肝熱，更加郁遏，或病家不知是火，飲以芫荽酒，遂令熱毒攻目，速宜清涼之劑，養陰退陽，不必再行疏散。如雞肝羊肝豬肝等味，麻後所大忌者，萬不可誤。</p>

<h3>麻後余義</h3>
<p>麻出總要表透，表一透裡熱雖甚，清之可愈。表未透，毒陷於中，門戶一關。發表不可，養陰又不可，多致因循而死。</p>
<p>表透者非皮毛之表，要從臟腑透出，沒得從容，才是表透。亦有火毒甚，外見繁紅，沒後猶作牙疳肺癰者，或鼻衄下利者，臟腑之熱未透出也。</p>
<p>麻痘之毒由腑臟而出，雖已到表而根蒂在裡。解字從表，化字從里，表雖解而里不化，其為後患實多。</p>
<p>解表之藥從陽分從氣分其效速而易見，化毒之藥從陰分從血分其效緩而難成。《金鏡錄》養陰退陽四字治麻之要訣也。</p>
<p>麻後咯吐膿血腥臭有肺癰者，有胃脘癰者，皆肺胃遺熱為患，亦牙疳口瘡之類，循經而出則為牙疳，著於臟腑則為癰也。當辨其在肺在胃而施治。予用甘桔牛蒡銀花穭豆枳殼赤芍數味，在肺加山梔子貝母桑皮，在胃加生地花粉木通之類以佐之，身無大熱者可治。</p>
<p>問牙疳肺癰之證可治而愈者，何也？毒已化而出也。毒化而臟腑不敗者可治，臟腑腐敗不能治也。</p>
<p>丙辰歲夏令麻證大行因時論治</p>
<p>痘毒出於五臟，麻毒出於六腑。府屬陽，冬至陽生，麻毒出焉。故其傳染多在嚴寒之令，古稱庵麻䠞痘，因乎時也。予治麻證五十年所見率多類此，間有延及春深至夏亦無不止，邇來夏令出麻，令歲盛暑不斷，時勢何其異也。時勢既異，醫者即當隨時變通以定治法。庸工不察執守成方，愚夫愚婦更加庵遏，火盛金傷，致成麻喘，殊可悲。為定新方數條，以救時弊，明理者當取則焉。</p>
<p><u>第一方</u></p>
<p>升麻　蟬蛻　荊芥　防風　前胡　桔梗　牛蒡子　甘草　加芫荽少許一服。</p>
<p>一服麻出，去升麻加赤芍連翹，煩加炒梔子，嘔加石膏，嗽加杏仁枳殼。夏月表氣先開用表藥，只宜輕不宜重，荊防蟬即是表藥。一服出未透者，再用升麻加葛根以透之，麻黃夏月禁用人所共知，羌活亦不得浪用，葛根亦不得再用，面部一透即宜轉手。</p>
<p><u>第二方</u></p>
<p>荊芥　防風　桔梗　甘草　牛蒡子　連翹　杏仁　炒梔子　木通</p>
<p>此三朝方也。面部已透，即荊防亦宜減去，平守一日，待其緩收最穩。熱甚煩渴加石膏竹葉。壯熱不退加枯芩麥冬。若瀉減杏仁木通加赤苓。</p>
<p><u>第三方</u></p>
<p>生地　麥冬　丹皮　梔仁　連翹　桔梗　甘草　煩渴加竹葉石膏　熱甚加枯芩知母。</p>
<p>此四五朝方也。養陰退陽治麻大法，況暑月乎。生地須用二等，原枝洗去土，咀斷用。麥冬撿大而白者，此二味為養陰退陽之要藥。丹皮佐之以退熱，甘桔以升肺之清氣，黃芩以瀉肺之濁氣，石膏胃家正藥，色白屬金西方之象，又為清肺之藥，麻出火甚熏灼肺胃，石膏一物兼清二經至當不易，在乎用者之見機耳。</p>
<p>有麻出四五朝綿密紅紫不收者，熱甚不退者，此發散太過，火勢盡發，急宜養陰退陽。</p>
<p>天寒出麻，寒邪在表，熱蘊於中，所見不過數證。急者為嘔為喘為衄，緩者為口瘡為下利，甚者為牙疳，此外更無他變。夏令出麻，火毒燔灼，暑邪交熾變證之奇多，有見所未見者。有雙目紅腫如桃李，流出血水，急瀉肝火，命雖保而目全損者。有兩頜紅腫如痄腮，數日而潰，流出膿血碗許，內服清胃解毒藥，外貼洪少崗膏藥而愈者。有通身發泡，皮塌痛楚，用松花粉撲之而愈者。有手足曲池發腫，如痘毒之鬼腫者。有面部胸背發紫疔數十，其暈大如棋子，中黑而陷，發熱不食，用涼血解毒不應，七日而死者。種種變怪，無非火毒燔灼，尤有熱甚不死之證，無非熱傷陰液，熱傷正氣，俗流不知益氣養陰，只知托散，喘汗而脫者，比比皆是。此等證病家延予至急，進參麥湯所救不少。治麻至老不意逢此一度，若不因時制宜，重定治法，何以示後而知應變，執成方者蓋審諸。</p>
<p>麻證中藥引惟芫荽一物為最妙，辛香之中更含生氣，合之升麻葛根荊防蟬蛻能升陽透表，面部一出即宜減去，若辛散太過反能助火。</p>

<h2>許氏《怡堂散記》</h2>

<h3>風痰（七條）</h3>
<p>風痰一證，乳兒最多，四時皆有。大概冬春之交宜溫散，荊防甘桔橘半生薑杏仁蘇子之類。夏令宜清散，杏仁牛蒡梔子之類。秋令宜清潤，枳殼栝蔞之類。冬令嚴寒有用麻黃湯而解者。肺為嬌嫩之臟，總宜疏解不得妄投丸散。</p>
<p>德按：徐洄溪曰，嗽藥中多用桔梗，桔梗升提，甘桔湯中用之以載甘草上行，治少陰之喉痛。與治嗽，宜清降之法，非宜服之，往往令人氣逆痰升，不得著枕。愚竊以謂小兒不知咯痰，尤當慎用。</p>
<p>肺雖喜潤，胃中濕痰宜燥。小兒乳膩生痰，外證有鼻水多涕淚，二陳為治痰總劑，合之前胡桔梗荊防蘇子枳殼麥芽杏仁之類，或加生薑蔥白，結者散之，保赤之善也。</p>
<p>肺喜潤，潤之中亦有分辨，如杏仁蘇子溫而潤者也，宜於冬春。杏仁牛蒡散而潤者也，宜於夏。杏仁栝蔞則清而潤者矣，宜於秋燥。能知此等界限，則用藥不雜。</p>
<p>栝蔞一味能發嘔，易滑泄，乳兒無用栝蔞之理。穀食之兒燥火傷肺，嗽久不止，乃可用之。</p>
<p>半夏毒輕，薑汁製而陳者性平，故可入君子湯。南星毒烈實非良藥，制以牛膽之苦寒，病久膠結或可少投，時行感冒無可用之理。竹瀝薑汁之潤下，海石之咸能軟堅，尤非風痰可輕試者。</p>
<p>書云蠶與馬並屬午火，在卦為離，主心，又云蠶食而不飲，性燥，得濕則腐，得風則僵，故能宣風化痰，辛溫之藥也，風寒閉結者宜之，痰熱結聚非所宜也。肺為貯痰之器，只有開提一法，為解化之用。世俗之化痰丸，徒傷胃氣耳。至若王隱君之礞石滾痰丸為治頑痰怪證而設，於小兒有何干涉。</p>
<p>風痰乳滯小兒輕，病不從疏解而事丸散，殺兒實多，目睹心傷，為之苦口。</p>
<p><u>論廣東蠟丸及人家制送丸散之誤</u></p>
<p>藥之治病務在臨時變通，非調補之有賴於丸也。以時行之風痰壅閉，理當隨時用藥，自制丸散尚不可服，而何有於蠟丸。蠟丸制於廣東，不離麝桂，挾利者貨之。四方愚夫愚婦誤服而受害者，不可知凡幾。醫家執而從誤是誠何心。孔子云：未達不敢嘗。予嘗語送藥之家必系以方，使服者但然無疑。若送藥無方，昧者求之，有識之士其肯服乎。</p>
<p>德按：《素問·異法方宜篇》言西方人生病，其治宜毒藥。可見外國藥水丸散半多辛烈有毒，其味酸澀其性收引，倘中國人外感風寒暑濕切勿以身輕試，然信奉西法者終難與之言辯也。</p>

<h2>怡堂散記續編</h2>

<h3>麻證續言</h3>
<p>麻之出不離肺胃兩家，前集已言之詳矣。喘閉者肺證也，煩渴者胃證也。冬月喘閉知治者多麻黃杏仁為救急之藥，治之速，麻出喘定而解者有之。夏令出麻，麻黃與時不合，庸工不識，一見喘閉執而用之，故隨藥而死。麻多火證，火甚剋金，夏令金虧，天人皆病，麻黃萬不能受。冬月之喘閉有面青唇暗者，有四支冷者，故可用麻黃。夏月肺氣已虧，表氣已開，斷無寒證，亦有四支冷者，是陽氣虧不能四達，只可荊防甘桔從輕用藥，虧甚者加人參，火甚喘者升麻石膏湯救之，喘漸定者可治。</p>
<p>胃熱煩渴者必多汗，純是裡熱，即荊防葛根不可輕使，升麻石膏湯是對證之藥，合之甘桔則肺胃二家之熱解矣。</p>
<p>喘閉證在一二朝見，汗渴證在五六朝見，肺不容邪其變也速，胃能容受其變也遲。</p>
<p>麻痘是先天之病，熱從內生，必傷陰液，毒解之後，熱久不退，總以養陰為主。胃氣不敗，緩緩收功，肌瘦不食者，不可為矣。</p>
<p>肺主皮毛，麻雖出於六腑，必從皮毛而解，故不離乎肺。解之不透，久咳潮熱，累成麻疳者有之，此疳字非疳積之疳，潮熱肌瘦有似乎疳，宜潤肺，辛燥藥用不得。</p>
<p>胃為受毒之壑，遣熱甚多，莫急於牙疳。牙疳是失清之證，須大劑清裡。便閉者下之，使熱毒內泄，與痘後同治。予前集有勒馬飲，甚者加大黃，急清之稍遲，不但齒落腮穿，有唇鼻蝕爛者，塗藥不過幫扶而已。</p>
<p>麻證表一透無變證，表未透而生變。在嚴寒盛暑之月，不過一個時辰便走，未透表之麻證須要早回。</p>
<p>（附）足陽明胃脈，循鼻外，上入齒中，挾口環唇，循頰車，上耳前，主上牙根；手陽明大腸脈，上頸貫頰，入下齒中，俠口交人中，主下牙根。牙疳陽明經病，煎劑宜經藥為響導，予制勒馬飲。</p>
<p>生地黃（五錢）　石膏（三錢）　綿茵陳　鮮竹葉　江枳殼　人中黃（各六分）　黃連　犀角（各五分）　升麻（三分）　金汁（五匙）</p>
<p>此方重用清胃之藥，加升麻竹葉茵陳引入陽明之經，人中黃金汁大解胃中熱毒。清而不能達經，與不能解毒，均非法之善也。</p>
<p>凡見牙疳，一日齦黑，二日齒動，三日齒落，其來最速，故謂之走馬。</p>
<p>牙疳在門牙者唇腫。在坐牙者腮腫。洗去臭穢，吹以敷藥，腫消而牙不落者易愈。若牙落而腫不消者不可治也。</p>
<p>又有誤服辛燥藥而成者，治法稍松。但與清解之劑，如竹葉石膏湯加甘草穭黑豆山梔木通之類。</p>
<p>牙疳單見無兼證者可治。若身發大熱，飲食不思者不可治也。</p>

<h2>陳氏《幼幼集成》</h2>

<h3>萬氏痘麻</h3>

<h4>麻疹骨髓賦</h4>
<p>麻雖胎毒，多帶時行，氣候寒暄，非令男女，傳染而成。其發也與痘相似，其變也比痘匪輕。愚夫愚婦每視為泛常，若死若生總歸於天命。不知毒起於胃，熱流於心，始終之變，腎則無證，臟腑之傷，肺則尤甚。閉戶問塗，何若出門尋徑；揚湯止沸，不如去火抽薪。</p>
<p>初時發熱，儼以傷目出淚而不止，鼻流涕而不幹，咳嗽太急，煩躁難安，以火照之隱隱皮膚之下，以手抹之亭亭肌肉之間。其形如疥，其色若丹，隨出隨沒，乍隱乍現。根窠若腫兮麻而兼癮，皮膚加赤兮麻以夾斑。似錦而明兮十有九吉，如煤而黯兮百無一痊。</p>
<p>麻毒最重治法不同，微汗常潤熱勢越而不容，清便自調毒氣行而無壅。腠理怫鬱兮即當發散，腸胃秘結兮急與疏通。苟忽大而若細恐變吉而為凶。故衄血不必憂，邪從衄解；利血不必止，毒以利松。所喜者身上清涼，可畏者咽中腫痛，渴飲不休法在生津養液，常餐若減調宜清胃和中。</p>
<p>又如出之太遲發表為貴，出之過甚解毒堪宜。母伐天和，常觀歲氣。寒威凜凜毒氣鬱而不行，火勢炎炎熱邪乘之作戾，設施溫補勿助其邪，若用寒涼休犯其胃。制其亢但得其平，誅其暴無傷其正。遠寒遠熱陰陽之勝負不齊，責實責虛人稟之強弱或異。</p>
<p>麻疹既出將息尤難，坐臥欲暖飲食宜淡。風寒若襲兮為腫為熱，鹹酸不禁兮為嗽為喘。異氣縱因外感，變象仍究內端。喉腫音啞，毒癘深陷，氣促鼻扇，風寒閉關。便多膿血兮倉廩有熱，咳多涎沫兮華蓋有痰。胸悶煩冤麻未出透，身涼氣爽終保無虞。苟不詳於臨證，何以望其來蘇。</p>

<h2>陳氏飛霞刪潤萬氏原本</h2>

<h3>麻疹證治</h3>
<p>痘麻皆胎毒所為，毒者火也。痘為少陽相火，陽道常饒，故痘大而掀腫。麻乃少陰君火，陰道常乏，故麻小而碎密。心火旺則肺受之，故治麻當以肺為主，凡咳嗽者火炎於肺也，鼻流清涕者以火鑠金而液自流也，目中淚出乃肺熱移於肝也，凡手掐眉目鼻面者肺熱證也。</p>
<p>春溫夏熱秋燥冬寒此四時之主氣也，冬應寒而反溫，陽先暴泄，火令早行，人感其氣，至於來春，必生瘡疹，未出痘麻者，必感而發，雖曰胎毒，未有不由天行戾氣，故一時傳染大小相似，但見麻疹之出，宜服天代宣化丸以預解之，可使毒徹不為已甚也。</p>
<p><u>重訂天代宣化丸</u>（即韓飛霞五瘟丹有香附紫蘇大黃煎湯為丸辰砂雄黃為衣外貼金箔）。</p>
<p>預解時行疫癘、傳染相似，並治痘疹毒邪毒火。</p>
<p>生甘草（甲己屬土之年為君）　黃芩（乙庚屬金之年為君）　黃柏（丙辛屬水之年為君）　山梔（丁壬屬木之年為君）　黃連（戊癸屬火之年為君）　連翹（佐）　山豆根（佐）　牛蒡子（佐）</p>
<p>前五味視年歲之所屬者以為君，其餘四味以為臣。為君者分兩倍之，為臣者減半之。為佐者如臣又減半。於冬至日修合為末，取臘雪水煮升麻湯打糊為丸，龍眼核大，用飛辰砂為衣，每服一丸，竹葉煎湯下。</p>
<p>麻初發熱與傷寒相似，但麻疹則面頰赤，咳嗽，噴嚏，鼻流清涕，目中淚出，呵欠喜睡，或吐瀉，或手掐眉目鼻面，宜升麻葛根湯。不可作傷寒，妄用汗下也。汗之則增其熱，為衄血，為咳血，為口瘡咽痛，為目赤痛，為煩躁，為大小便不通。下之則虛其里，為滑泄，為滯下。經曰：必先歲氣毋伐天和，此之謂也。</p>
<p>麻喜清涼，痘喜溫暖，此法人皆知之。然麻疹初發亦宜和暖則易出，所以發苗之初，只要發出得盡，則毒便解矣。若痘必苗而秀，秀而實，毒斯解也；然成實之時，若太溫熱，則反潰爛不收，是痘後亦宜清涼也。故治痘麻無過熱，無過寒，溫涼得宜，陰陽自和，是為得之。</p>
<p>麻疹只怕不能得出，若出得盡，毒便解矣。凡麻疹發熱之時當審時令寒暄以藥發之，如時令大寒以桂枝葛根湯發之，大熱以升麻葛根湯合人參白虎湯發之，不寒不熱荊防敗毒散發之，如兼疫癘時行以人參敗毒散發之，外以胡荽酒用苧麻蘸酒遍身戛之，務令亟出。若發而不出，反加腹中脹痛氣上喘促昏悶譫妄者死證也。</p>
<p><u>桂枝葛根湯</u>　治嚴寒時令麻毒難出，以此發之。</p>
<p>柳陽桂　粉乾葛　赤芍藥　綠升麻　北防風　炙甘草</p>
<p>生薑三片，淡豆豉一錢為引，水煎服。</p>
<p><u>升麻葛根合人參白虎湯</u>　治炎天暑月，毒為熱隔，以此涼解之。</p>
<p>綠升麻　粉乾葛　白芍藥　炙甘草　淨知母　熟石膏　上揀參</p>
<p>白米一撮，水煎服。</p>
<p><u>荊防敗毒散</u>　治天時不寒不熱，以此平解之。</p>
<p>上揀參　北柴胡　正川芎　苦桔梗　荊芥穗　白雲苓　陳枳殼　信前胡　川羌活　川獨活　北防風　炙甘草。</p>
<p>薄荷五片為引，水煎熱服。</p>
<p><u>人參敗毒散</u>　時逢疫癘流行，適值麻疹以此涼解之。</p>
<p>官揀參　川羌活　川獨活　信前胡　北柴胡　川芎胡　白雲苓　陳枳殼　芽桔梗　炙甘草</p>
<p>生薑三片，水煎服。</p>
<p><u>胡荽酒</u>　治麻疹不出以此發之。</p>
<p>胡荽四兩，切碎，先以好酒二杯，壺內煎滾，方入胡荽在內，蓋定勿煎，勿令泄氣，以苧麻蘸酒遍身戛之，使麻易出，真神法也。</p>
<p>發熱六七日以後，明是麻證卻不見出，此皮膚堅厚腠理閉塞，又或為風寒襲之，會有吐瀉乃伏也，急用發表之劑，麻黃湯去杏仁加蟬蛻升麻，外以胡荽酒散麻刮之。如一向未更衣者，毒甚於里，伏而不出，涼膈散加牛蒡子發而解之。再不出者死證也。</p>
<p><u>麻黃湯</u>　治麻疹六七日應出不出，或風寒閉塞。</p>
<p>淨麻黃　熟石膏　淨蟬蛻　綠升麻　炙甘草。</p>
<p>蔥白三寸為引，水煎服。</p>
<p><u>涼膈散</u>　治麻毒深重，裡氣不通，而應出不出。</p>
<p>錦大黃　白芒消　淨連翹　黑梔仁　南薄荷　淡竹葉　甘草梢</p>
<p>水煎去渣，加生蜜三匙和服。</p>
<p>麻疹初發熱時未見出現，咳嗽百十聲不已，上氣喘急，面浮目胞腫，時臥時起，此火毒內蒸，肺葉焦舉，宜甘桔湯加石膏知母牛蒡子主之。</p>
<p><u>甘桔湯加石膏知母牛蒡子</u>　治麻疹胃火炎肺金，咳嗽面浮，應出不出。</p>
<p>生甘草　芽桔梗　熟石膏　淨知母　牛蒡子</p>
<p>生薄荷葉五片為引，水煎服。</p>
<p>麻疹發熱自汗或鼻血出不須止之，亦發散之義，故汗者毒從汗散，衄者毒從衄解。但不可太過，如汗太多，人參白虎湯合黃連解毒湯清之，衄太甚，元參地黃湯涼之。</p>
<p><u>人參白虎合黃連解毒湯</u>　治麻疹自汗太過，恐防衛弱，以此止之。</p>
<p>官揀參　淨知母　熟石膏　生甘草　正雅連　川黃柏　片黃芩　黑梔仁</p>
<p>白米一撮為引，水煎熱服</p>
<p><u>元參地黃湯</u>　治麻疹衄血太過，恐防傷陰。</p>
<p>潤元參　懷生地　粉丹皮　黑梔仁　綠升麻　杭白芍　生蒲黃　生甘草　白茅根（一握，去心梗）　為引水煎熱服。</p>
<p>麻疹發熱吐瀉，純是熱證，不可作寒論。及火邪內迫，毒在上焦則吐，毒在下焦則瀉，毒在中焦則吐瀉並作。單瀉黃芩湯，吐而兼瀉黃芩加半夏湯，自利裡急後重黃連解毒湯合天水散。</p>
<p><u>黃芩湯</u>　治麻疹發熱自利。</p>
<p>枯黃芩　白芍藥　炙甘草</p>
<p>大紅棗一枚為引，水煎熱服。</p>
<p><u>黃芩加半夏湯</u>　治麻疹發熱自利嘔吐。</p>
<p>即前黃芩湯加半夏生薑。</p>
<p><u>黃連解毒合天水散</u>　治麻疹自利裡急後重。</p>
<p>正雅連　川黃柏　枯黃芩　黑梔仁　飛滑石　炙甘草</p>
<p>淨水濃煎，空心滾熱服。</p>
<p>麻痘咽痛本為常候，乃火毒熏蒸而痛也。切勿與喉痹同論，妄用針刺。蓋喉痹之證，內作癰腫故宜以針決去惡血。麻痘只是咽乾作痛，宜甘桔湯或鼠黏子湯細細嚥之自愈。</p>
<p><u>甘桔湯</u>　治麻疹咽喉疼痛，飲食艱難</p>
<p>生甘草（君）　芽桔梗（臣）　牛蒡子（使）</p>
<p>燈心十莖為引，水煎服。</p>
<p>鼠黏子湯治證同前，稍重者用此。</p>
<p>鼠黏子（即牛蒡子炒）　綠升麻　鮮射干　生甘草</p>
<p>燈心為引水煎熱服</p>
<p>德按：麻疹咽痛出自肺胃，非少陰少陽喉痹證也。禁用涼遏，吹藥尤忌冰片、牛黃。即使爛喉，滴水不能下咽，不得已可用《三因方》玉宵無憂散，《端效方》四神散以治之。</p>
<p><u>玉屑無憂散</u>　治纏喉風，咽喉腫痛，語聲不出，咽物有礙，或風涎壅滯，口舌生瘡，大人酒症，小兒奶癖，或誤吞骨屑，哽塞不下或子舌脹，重舌，木舌，腫脹閉塞，水漿不下。</p>
<p>淨硼沙（一兩五錢，煅）　過寒水石（五錢）　淨盆消（三錢）　飛清黛（三錢）　蘇薄荷葉（五錢）　蒲黃末（五錢）　川黃連（二錢）　貫眾末（生曬，二錢）　元參（二錢）　白雲苓（二錢）　滑石（二錢，飛）　荊芥穗（二錢）　山豆根（二錢）　帶殼縮砂仁（二錢）　生甘草（二錢）</p>
<p>上十五味為細末，每服半錢，乾摻舌上，以清水嚥下此藥，除三尸，祛八邪，闢瘟疫，療煩渴。</p>
<p>元人施丸端效方。</p>
<p><u>四神散</u>（大名王國祥傳）</p>
<p>川大黃　寒水石　牛蒡子（炒，各一兩）　淨芒消（五錢）</p>
<p>上四味為細末，治熱病腫毒，一切危惡疫癘。若腫甚，新汲水調塗。咽喉腫塞，水藥不下，用生蜜為丸，時時含化咽津妙。</p>
<p>德按：若治爛喉丹痧可加硼砂飛青黛各五錢尤效。</p>
<p>麻疹渴喜飲水，純是火邪，肺焦胃干，心火內亢故也。初發熱作渴，升麻葛根湯加天花粉麥門冬。渴甚人參白虎湯合黃連解毒湯。</p>
<p>三方俱見前。</p>
<p>痘疹貴三四次出謂出勻，麻疹貴一齊湧出謂出盡。麻疹只要發出得透便輕減，以火照之遍身如塗朱之狀，此將出之兆。出形細密與痘疹密者相似，但麻疹粒粒成瘡，非若斑之皮紅成片如蚊咬之跡也。</p>
<p>痘麻之色不可同論，太抵痘怕太紅，皮嫩易破，必生瘙癢。麻喜通紅，麻發於心，紅者火之正色。若麻色淡白，心血不足，宜養血化斑湯主之。色太紅豔、或微紫、或出太甚，並宜大青湯。黑者死證也。</p>
<p><u>養血化斑湯</u>　治麻疹色淡白，心血不足。</p>
<p>官揀參　當歸身　懷生地　鮮紅花　淨蟬蛻</p>
<p>生薑大棗引，水煎服。</p>
<p><u>大青湯</u>　治麻疹色太紅、或微紫、或出太甚。</p>
<p>鮮大青　潤元參　懷山藥　熟石膏　淨知母　川木通　地骨皮　荊芥穗　生甘草</p>
<p>淡竹葉十二片為引，水煎熱服。</p>
<p>麻疹出沒常以六時為準，假如子後出午時即收，午後出子時即收，乃陽生陰成，陰生陽成，造化自然之數。凡此旋收者輕。若一出連綿三四日不收，乃陽毒太甚，大青湯解之。逡巡不出，乃風寒外束，皮膚閉密，宜荊防敗毒散。</p>
<p>二方見前。</p>
<p>麻疹欲出則遍身發熱，或煩躁，或頭眩，或身拘急，及既出則身即清涼，諸病悉解，此一層麻疹隨收矣。如麻既出，熱甚不減，此毒壅遏，宜大青湯以解其表；小便澀，大連翹湯以解其里；大便秘涼膈散加牛蒡子。</p>
<p><u>大青湯</u>（方見前）</p>
<p><u>大連翹湯</u>　治麻疹既出，熱盛不減，小便短澀。</p>
<p>淨連翹　北防風　瞿麥穗　荊芥尾　淮木通　車前子　當歸尾　北柴胡　淨蟬蛻　赤芍藥　枯黃芩　飛滑石　黑梔仁　紫草茸</p>
<p>燈心十莖為引水煎熱服。</p>
<p><u>涼膈散</u>（方見前）加牛蒡子。</p>
<p>凡麻疹只要出得盡，則毒邪解散，正氣和平。如怫鬱發熱，煩悶不寧，如蛇在灰，加蚓在塵之狀，或嘔吐，或泄瀉，此毒邪壅遏尚未出盡，煩熱，黃連解毒湯。嘔瀉，柴胡橘皮湯二者並外用胡荽酒以苧麻蘸酒戛之。（方法見前）待麻出盡，則煩熱自除，嘔瀉自止矣。</p>
<p><u>黃連解毒湯</u>　治麻疹出後，仍發熱煩躁，麻出未盡也。</p>
<p>川雅連　川黃柏　枯黃芩　黑梔仁</p>
<p>淨水煎滾熱服。</p>
<p><u>柴胡橘皮湯</u>　治麻疹熱邪未盡，麻未出完而兼嘔吐泄瀉。</p>
<p>官揀參　軟柴胡　法半夏　枯黃芩　白雲苓　廣陳皮</p>
<p>鮮竹茹一團，生薑一片為引，水煎服。</p>
<p>麻疹欲出未出之時，即當早為發散，以解其毒，庶無餘患。若不預解使之盡出，以致毒蓄於中，麻後必為壯熱，日久枯瘁，或成搐搦，或為痢疾，或咳血喘促，或作疳慝而死。此雖一時疫戾之染，未有不由人事之未盡。</p>
<p>麻疹收後身有微熱，此虛熱也，不須施治，待氣血和暢，自然清涼。若熱太甚，或日久不減，以柴胡麥冬湯清之。如發枯毛豎，肉消骨立，漸漸羸瘦，柴胡四物湯主之。</p>
<p><u>柴胡麥冬湯</u>　治麻疹收後大熱不退，毒未出盡也。</p>
<p>官揀參　軟柴胡　北沙參　揀麥冬　潤元參　草龍膽　炙甘草</p>
<p>燈心一束為引，水煎熱服。</p>
<p><u>柴胡四物湯</u>　治麻疹收後，發熱不退，毛悴色夭。</p>
<p>官揀參　北柴胡　枯黃芩　當歸身　正川芎　懷生地　杭白芍　地骨皮　揀麥冬　淨知母　淡竹葉</p>
<p>霜桑葉五片為，引水煎服。</p>
<p>麻後熱不除，忽作搐搦，不可誤為驚風，而用風藥。宜導赤散加人參麥冬煎湯送安神丸。（德按：用萬氏牛黃清心丸較穩）</p>
<p>小便清者，可治。短少者，不可治。</p>
<p><u>導赤散</u>　治麻後熱不除而作搐。</p>
<p>懷生地　淮木通　麥門冬　生甘草</p>
<p>淡竹葉十片為引，水煎送安神丸。</p>
<p><u>安神丸</u>　治麻後餘熱未除，神昏譫妄。</p>
<p>真吐黃（五分）　真雅連（酒炒，三錢）　當歸身（二錢五分）　鏡辰砂（水飛，二錢）　黑山梔（二錢五分）</p>
<p>上為細末，取雄豬心血研和為丸，如綠豆大，硃砂為衣，每服五丸，燈心湯下。</p>
<p>凡麻後牙齦黑爛，肉腐血出，臭息沖人曰走馬疳，馬鳴散主之。若面頰浮腫，環口青黧，頰漏齒脫，唇崩鼻壞者，死證也。</p>
<p><u>馬鳴散</u>　治麻後牙齦潰爛，臭氣衝人。</p>
<p>馬鳴蛻即蠶眠蛻皮也，火煅過存性（二錢半）　人中白即尿甏垢刮取火煅如鹽（五錢）　五倍子（二錢）　白明礬（二錢）</p>
<p>將礬打成塊，裝入五倍子內，火煅，以礬枯為度。</p>
<p>共為極細末，以米泔水漱口，然後敷藥</p>
<p>麻後泄痢，日久不已，曰休息痢，不可妄用澀劑以圖霸功。宜黃芩湯合六一散，煎送香連丸。若嘔吐不能食，謂之禁口，更加腸滑不止，或下鮮血，或如煙塵水者，死證也。</p>
<p><u>黃芩湯合天水散</u>　治麻後患痢日久不愈，仍宜清解，禁口痢可加廣陳皮石蓮肉。</p>
<p>枯黃芩　杭白芍　飛滑石　粉甘草（生炙並用）</p>
<p>大棗為引，水煎熟去滓，送香連丸。</p>
<p><u>香連丸</u>　治下利赤白裡急後重。</p>
<p>真雅連（一兩，以吳茱萸五錢同炒去茱萸不用）　南木香（五錢銼細末）</p>
<p>共為細末，醋打神麯糊丸，如芥子大，每服一錢。</p>
<p>麻疹收後微咳，此肺氣未平，不須調治。若咳轉甚，喘氣上逆，發則連不已，此肺中伏火，宜人參清膈散主之。若身熱門冬清肺湯主之。若咳久不止，面浮目胞腫，胸高而喘息則聳肩，血自口鼻中出，面色或青，或赤，鼻扇昏悶，搖頭擺手者，死證也。</p>
<p><u>人參清膈散</u>　治麻後咳嗽日久，連綿不已。</p>
<p>官揀參　北柴胡　當歸身　杭白芍　淨知母　鮮桑葉　漂白朮　白雲芩　炙黃耆　地骨皮　枯黃芩　飛滑石　熟石膏　生甘草</p>
<p>生薑一片為引，水煎服</p>
<p><u>門冬清肺湯</u>　治麻後咳喘不已，身熱煩冤。</p>
<p>天門冬　麥門冬　淨知母　鮮桑葉　懷生地　枯黃芩　地骨皮　信前胡　北沙參　炙甘草</p>
<p>上十味水煎服。</p>
<p>麻後通禁雞魚炙煿鹽醋之類，須過七七之後方可食之，惟宜食淡，不可縱口，以貽後患也。</p>
<p>曾見痘麻收後動止出入飲食如常，忽然心胸絞痛而死者。究是元氣怯弱，疫癘之毒乘之，正不能勝，邪伏於中，外若無病，內已虧損，故一中即死，謂之中惡。良由病後失調，自召其禍。</p>
<p>凡小兒初生未滿月者，遍身紅點，俗呼奶麻痧是也。此胎中受熱，故生下即發現於皮膚，不可作時行麻毒論治，妄用湯劑。蓋臟腑嬌嫩不能勝藥石也，但宜溯源解毒湯與奶母服之。</p>
<p><u>溯源解毒湯</u>　治乳子出胎後，遍身奶麻痧。</p>
<p>正川芎　大當歸　杭白芍　懷生地　上揀參　北沙參　陳廣皮　生甘草　淨連翹　金銀花　正川連　淮木通</p>
<p>水煎乳母服之，不可令兒服。</p>

<h2>夏氏《幼科鐵鏡》</h2>

<h3>麻證</h3>
<p>夏氏禹鑄曰：痘出於臟，麻出於腑，麻乃大腸主之，毒氣蒸肺，故發咳嗽，先輩書未嘗齒及。麻證蓋以其輕，而忽之也，卻不知表證雖輕，毒侵肺腑，亦多與鬼為鄰。予經歷甚眾，費手居多，因不惜筆力詳著於篇，以杜嬰兒麻證之患流行。麻證其候燒熱，必發咳嗽，聲必稍啞，麵皮微有腫樣，兩腮顏色微紅，此吉兆也。如出發不快，及不透發，或紅點見面，偶挾風邪而隱，或醫人不知，誤用寒涼，隱而不見，復內作痛。治之神，莫神於天保采薇湯，聖，莫聖於天保采薇湯，只須一服即得發出，或有不盡發透者，再加一服，從未有不效者，真神劑也。如肺臟先虛，又加大腸毒氣攻肺，麵皮像澆薄的式樣，慘白浮浮，光光溜溜，便是肺氣已絕，必死之兆，藥之無濟。</p>
<p><u>天保采薇湯</u></p>
<p>羌活　前胡　柴胡　赤芍　川芎　蒼朮　升麻　葛根　獨活　厚朴　枳殼　桔梗　陳皮　半夏　白茯苓　廣藿香　生甘草</p>
<p>煩熱加黃芩。</p>

<h2>朱氏《痘疹定論》</h2>

<h3>麻疹</h3>
<p>朱氏玉堂曰：凡疹初未見標之時，先必身熱，頭疼咳嗽，或作吐作瀉，或鼻塞，鼻流清涕，噴鼾，眼胞腫，腮赤，煩躁不寧，細看兩耳根下，頸項連耳之間，以及背脊之下至腰間，必有三五紅點，此乃疹之報標。若無紅點之證佐，當以別證論，此屢試屢驗者也。如果有紅點與前證相同，宜用宣毒發表湯加芫荽作引，以托之出外，不必拘泥。吐瀉疹出，而吐瀉自止。蓋熱蒸胃則吐，熱沖大腸則瀉，此乃疹之常候，不必憂其吐瀉之不止也。昔人云疹出六腑，或因有此證而云然也。凡出疹見標之後，形似麻粒，大粒而尖，稀疏磊落，再後成片紅色滋潤者順，若神清氣爽者更順。若初出一時湧出不分顆粒，深紫色者險，黑色者逆，不可視為泛常，不可用藥失序，不可過用攻表，不可驟用寒涼，調治之法避風忌葷，兼忌穢惡，惟在用藥宣發其毒，以盡出之於外。雖紅腫之甚，狀如漆瘡，亦不足慮，以其出之於外，即可免夫內攻，此證若調治得法，用藥合宜，百不失一，若調治失宜，則殺人易如反掌，可不慎哉。</p>
<p>初發熱時必當發表，見標之後發表而兼清涼，通身上下，通紅總成一片，手足之末上下相同，無有空處此為出透，可用清涼解毒之劑，不必兼用發表之藥，一解即愈。</p>
<p>又有一種疹，初出眼胞腫，白夾赤色，聲啞唇腫掀翻，鼻乾，鼻扇氣喘，口燥煩渴，腰疼腹脹，人事昏沉，口鼻出血，煩亂狂叫，二便出血，此係毒氣鬱遏於內名曰閉證，最為難治，用宣毒發表湯內加酒炒黃芩七分，麻黃五分，若能托疹標出外，漸次出現或可望生，若不出現則無救矣。但凡疹證鼻出血者毒重，口出血者毒尤重，二便出血者毒更重，且危矣。初起手足心如火熱者毒重，初起腳冷如冰者毒更重。</p>
<p>若初見疹標尚未出透，失於清解，誤用芩熱之劑以致毒蘊於胃，口鼻出氣腥臭，必生牙疳，宜用化毒清表湯加石膏二錢；若已出透速收速散，身熱不退，餘毒流注大腸裡急後重，紅白相兼已成痢證，宜用清熱導滯湯。</p>
<p>若其人素稟虛弱，當出疹之際過於發散，出透之後過用寒涼，解毒以致虛弱之極，骨瘦神疲，面無紅色，且不能多食，食多即吐，急用香砂六君子湯去半夏加麥冬以補之。種種壞證不可不慎。</p>
<p>上海強氏按云：若非脾胃虛弱，少食吐食，而但本原虛損，朝涼暮熱，咳嗽痰多，將成骨立者，俗名痧勞，恐補脾礙肺，香砂惟恐不宜。</p>
<p>疹之出也，出三日而始盡。每日出二次，子時出者巳時散，午時出者亥時散，經三日而出，六次出透，稠密無縫，方為吉兆，昔人有云痘喜稀疏，疹宜稠密，雖如漆瘡，通紅一片，亦不足為慮。</p>
<p>若甫彌月及至半歲一歲之間，時值天氣炎熱，或出奶疹痧疹風癮等疹，不在正疹之列，亦不由於胎毒而致，可以母須用藥，（德按：可用蔥白三寸泡湯服之）其疹自散，此類內因變蒸，外感風熱而出，乃皮膚小恙，常見出一次，又出一次及有連出不已者，無關利害，倘要用藥微用疏風清熱之劑，一服即愈。凡出疹發熱三日見標者為順，遲至五六日不見標者為逆，神氣清爽者為順，昏沉者為逆。病家知禁忌者逆可以變順，不知禁忌者順亦變逆，當於出疹之家明言之，防於未然，一體告戒。</p>

<h3>出疹家有四大忌</h3>
<p><u>一忌葷腥煎炒</u></p>
<p>疹初出時以至出淨之日，俱忌食葷腥即素菜亦忌煎炒，恐葷腥煎炒能助胃火，昔人云：葷痘素疹。誠哉是言也。</p>
<p><u>二忌恣食生冷米粥</u></p>
<p>疹初出時以至出透之日，未免口渴煩躁，想飲冷水不妨少與飲些，以解其煩渴，然不可多飲，若土產荸薺甜秋梨甘蔗汁及柿餅有霜者亦不妨間與食之，雖生吃無妨，切不可與米飲粥湯，及糕餅糖飴麵食枝圓蜜餞之類，食之恐助毒火。倘覺飢餓則用開水煮飯，滯小半鐘調勻稀薄，溫服少食，淡食為宜。</p>
<p><u>三忌風寒</u></p>
<p>當出疹之時必須謹避風寒，若不避忌，風寒外束，疹即收回，要其再出甚為難矣，慎之慎之。</p>
<p><u>四忌房幃厭穢</u></p>
<p>人家生兒產女當出疹之時，各宜小心加意，謹慎潔淨內外，勿使穢汙惡濁氣息觸犯出疹之人，一或犯之多致不救。</p>

<h3>醫疹家有三大忌</h3>
<p><u>一忌驟用寒涼</u></p>
<p>當疹初出之時，雖有身熱煩躁，口渴等證，即以宣毒發表湯少加酒炒黃芩三五分以清之，切不可遽投黃連黃柏梔子等大寒之藥，恐冰其毒而內伏，疹不得外出矣，後雖設法宣表而疹終不得出，可不畏哉。</p>
<p><u>二忌誤用辛熱</u></p>
<p>疹初出時或有嘔吐之證，（德按：王太僕曰內格嘔逆，食不得入是有火也。病嘔而吐，食入反出是無火也）醫家必用蒼朮二陳平胃丁香砂仁暖胃，或手足稍冷，必用桂枝肉桂溫其手足，殊不知作嘔吐者火熱蒸於胃也，今反以辛溫之味攻之，是抱薪而救火也。至於手足稍作冷者，熱極似寒之象，俟疹出透而手足自然溫和。醫不明此反以桂枝可達四支之末，肉桂可以溫經回陽，誤之又誤，陷人性命可不懼哉。</p>
<p><u>三忌遽用補澀</u></p>
<p>疹初出時多有瀉而不止者，其毒火亦因瀉而減，此殊無妨。倘或泄瀉過甚，則用加味四苓散一服立愈，切不可用參朮訶蔻補澀之劑以圖速止。醫家不思肺與大腸為表裡，風邪熱毒傷肺犯胃，火性急速下行，乃曰吾於清解藥中兼用些參朮訶蔻，分兩又少何礙於事，一服不見立效，且曰分兩輕之故耳，於是多加分兩再服，而疹忽變證矣，重則腹脹喘滿而不可救，輕則變為休息痢，纏綿不已，終歸夭命。不可慎哉。</p>
<p>若麻疹出淨之後，瀉黃紅色，乃內有伏熱，仍宜加味四苓散服之可也，且不可專用補澀。記之慎之。</p>
<p><u>加味四苓散</u></p>
<p>豬苓（七分）　赤苓（六分）　澤瀉（八分）　木通（七分）　黃芩（五分，酒炒）　黃連（二分，酒炒）　牛蒡子（五分，炒香研細）　車前子（七分，炒）</p>
<p>燈心五十寸同煎服。</p>
<p>初發熱，欲出未出時，宜用宣毒發表湯（今以半歲男女為式看其年之小大，隨證加減）。</p>
<p>升麻（三分）　乾葛（八分）　防風（五分）　桔梗（五分）　薄荷（三分）　前胡（六分）　連翹（六分，去心）　枳殼（六分，麩炒）　荊芥穗（五分）　牛蒡子（六分，炒研）　木通（六分）　生甘草（三分，去皮）　淡竹葉（一錢），同煎服。</p>
<p>天氣大熱加酒炒黃芩五分，天氣嚴寒加炒麻黃二分或三分。</p>
<p>麻疹已出面紅腫太甚宜用化毒清表湯。</p>
<p>前胡（六分）　乾葛（七分）　知母（七分）　連翹（七分，去心）　元參（一錢）　桔梗（六分）　黃連（三分，酒炒）　黃芩（五分，酒炒）　薄荷（三分）　梔子（五分，炒黑）　木通（六分）　防風（三分，不用亦可）　牛蒡子（七分，炒研）　天花粉（八分）　地骨皮（八分）　生甘草（三分）</p>
<p>淡竹葉一錢，燈心五十寸為引，同煎服。</p>
<p>若口渴加麥門冬去心一錢，石膏一錢五分，大便秘澀可加酒炒大黃七分。</p>
<p>疹已出透身熱未全退，毒氣流注而成痢者，宜用　清熱導滯湯　。</p>
<p>黃連（五分，酒炒）　黃芩（七分，酒炒）　白芍（七分，酒炒）　枳殼（五分，麩炒）　青皮（五分）　山楂（一錢，去核炒）　檳榔（五分）　厚朴（五分，薑汁炒）　當歸（五分）　陳皮（五分）　生甘草（三分）　連翹（八分，去心）　牛蒡子（八分，炒研）（德按：倪涵初治痢方有木香二分，無連翹牛蒡子）</p>
<p>淡竹葉一錢，燈心五十寸為引，同煎服。</p>
<p>若紅多加紅花三分酒炒，地榆五分，桃仁去皮尖炒五分，秘澀甚者，裡急後重之極加酒炒大黃八分。</p>
<p>以上三方聶氏手定，但其中變化相時看證，或加減一二味藥，又或斟酌分兩，或稍加減一二分，投之即得應效。</p>
<p>內廷訂方總以十三味，為式，只可少決不可多，如滿十三味則將淡竹葉煅石膏入於藥引之內更覺妥當。予每看疹看其證候，相其時日，聞氣聽聲，觀形察色，然後參之以脈，始用宣毒發表湯表之，繼以化毒清表湯清之，總遵此二方加減逐日變化，若麻疹未透則前葛荊防為必用之藥，既透則前葛荊防為可去之劑，氣喘除升麻不用，便秘蒸大黃必需，疹色乾焦生地歸尾要用，若還紫黑紅花紫草宜加，咳嗽氣急清肺飲除肺熱，口瘡口臭敗毒散清胃利咽，成方在此活法由人。麻疹已出透齊，用生犀角磨汁和服大能解毒。</p>
<p>凡疹後咳嗽氣粗宜清肺飲。</p>
<p>桑白皮（五分，炙）　地骨皮（五分）　麥門冬（一錢，去心）　柴胡（六分）　元參（八分）　桔梗（七分）　陳皮（三分）　黃芩（七分，酒炒）　石膏（一錢，煅）　天花粉（八分）　生地黃（一錢）　木通（七分）　生甘草（三分）</p>
<p>燈心淡竹葉為引煎，再磨羚羊角汁和服。</p>
<p>如肺熱亟去陳皮加丹皮五分，連翹（去心）六分，牛蒡子（炒研）六分</p>
<p>凡疹後口臭口瘡唇爛，兼之咽喉疼痛宜敗毒散。</p>
<p>生地黃（一錢五分）　丹皮（七分）　柴胡（七分）　桔梗（八分）　薄荷（五分）　連翹（八分，去心）　牛蒡子（八分，炒研）　黃柏（五分，蜜水炒）　天花粉（八分）　黃芩（七分，酒炒）　元參（八分）　赤芍藥（五分）　金銀花（八分）　生甘草（三分，去皮）</p>
<p>煅石膏一錢，淡竹葉一錢，燈心五十寸為引同煎，再用生犀角磨汁和服，以上清肺飲敗毒散二方，予每調出疹，因時設法，想理度情用之，輒有效驗，敢以鄙見續於聶氏之後。</p>

<h2>張氏《侶山堂類辨》</h2>

<h3>疹論（古名疹今名瘄）</h3>
<p>張氏隱菴曰：痘乃先天之毒，疹屬後天之邪。先天之止有水火，後天始備五行。產下發聲吮乳肇自後天，是以發聲之時，口中有毒即嚥下而歸於陽明。故瘄之毒氣發於陽明，上達於肺，出於皮毛，肺主氣而外合皮毛。是以痘毒走於血分，而氣以化之為順。瘄毒走於氣分，而血以和之為順。若走於血分而見雲頭紫赤斑者逆也，瘄乃氣分之毒更速於痘，若停留於胃則爛牙齦，阻滯在肺則為鼻扇喘急，發表疏里清熱解毒，事在良醫之臨證妙用者也。夫氣為陽，血為陰，痘乃精血中毒。故應四時之生長收藏，以合地支之數。瘄乃氣分之毒，是以一日三烹，三而三之，以應陽九之終。痘發於陰，故宜頭面稀疏，不喜獨見陽位，瘄發於陽，故喜大烹頭面，不宜惟在心胸。此人之陰陽血氣應天地自然之道也。治瘄主方。</p>
<p>葛根　荊芥　防風　杏仁　牛蒡子　甘草　桔梗　陳橘皮</p>
<p>上方用泉水煎服。再隨四時之氣而加減用之。如寒閉者宜麻黃，熱閉者宜石膏，食閉者宜枳樸山楂，熱甚者加黃芩黃連，毒甚者加白花地丁西河柳，渴者加知母，喘者倍杏仁。蓋痘疹有血氣之分，而用藥亦宜分別。肺主氣而心主血，故清痘之熱毒宜以連為君，而芩為佐；清瘄之熱毒，以芩為君而連佐之。又如金銀花花開黃白，藤名忍冬，能啟陰氣而解痘瘄之熱毒，蓋黃走血，而白走氣也。若夫白花地丁又專於瘄證者也。此用藥之大關目，學者引伸觸類微妙無窮。</p>

<h2>閻氏《胎產心法》</h2>

<h3>妊娠麻疹論</h3>
<p>閻氏誠齋曰：妊娠出疹當以四物加減，而加條芩艾葉以安胎清熱為主，則胎不動而麻疹自出矣。然熱毒蒸胎，胎多受傷，但胎雖傷而母實無恙也。蓋疹與痘不同，痘宜內實，以痘當從外解，故胎落毒氣乘虛而內攻其母亡；疹宜內虛，以疹當從內解，故胎落熱毒隨胎而下其母存。雖然與其胎去而母存，孰若子母兩全之為愈也。且古之徒知清熱以安胎，不思疹未出而即以清熱為事，則疹難出而內熱愈深。是欲保胎反足以傷胎也。宜輕揚表托則疹出而熱自清，繼以滋陰清解則於疹於胎兩不相礙，不安胎而胎自安矣。如疹出不快宜白虎湯合用升麻葛根湯倍加元參牛蒡子治之，胎氣上衝急用苧根艾葉煎湯磨檳榔服之，再以四物湯進之，如又腹疼腰痠即知胎有必墮之機，如胎墮即以產法論治矣。</p>
<p><u>升麻葛根湯</u>　此解表發散之方也，表熱壯盛，邪實於表，經曰：輕可去實，故用升麻葛根以疏表，所以然者升麻能解疫毒，升陽於至陰之下，以助發生之氣；葛根能解熱毒，兼疏營衛，以導起發之機。二味之外又加甘草佐之，以和在表之氣，芍藥佐之以和在裡之營，去其實邪，和其營衛，風寒自解，麻疹自出。</p>
<p>凡婦人方產之後或半月左右適逢出痘疹者，此無胎繫累，惟氣血尚虛，治宜大補營衛為主。若出多者，則加連翹牛蒡之類，余即照常一例而治，不必多疑反生他誤。</p>

<h2>強氏《痘疹寶筏》</h2>

<h3>麻疹論</h3>
<p>云間秦氏曰：麻疹乃時行不正氣候，暄熱非其時而有其氣，傳染而成者也。稱之為胎毒誤矣。《內經》曰：少陰所至為瘍疹。夫少陰所至者乃君火有餘，熱令大行，戊子戊午之歲也。在人則心火主之，心火大過則制已所勝而燒爍肺金，肺主皮毛故色紅如錦見於皮膚之間，實心火侮而乘之之色也。經又曰：疹屬於脾。故《金鏡錄》謂毒盛於脾，熱留於心。乃知心與脾肺俱受邪而發者。其欲出之時腮紅眼赤，壯熱憎寒，身體疼痛，嘔吐泄瀉，咳嗽煩渴，是其候也，其脈陽浮而數，陰實而大，宜服開豁腠理湯，升麻葛根荊芥防風前胡羌活紫蘇牛蒡蟬蛻桔梗枳殼甘草陳皮等，使之易出。如頭面愈多鮮明勻淨，精神爽健，氣息和平，此吉兆也。若紫黑乾燥晦暗模糊，或未出透，身熱煩悶，聲啞喘急，隱隱難出，出而復隱，此危急之兆也，速將前方加炒麻黃石膏檉柳之類以發之。如不出透，或喘更甚，此為不治之證也。若大便堅燥不可輕用下藥或用豬膽蜜煎法導之，則自來矣。其或微瀉者不必治之，正假此以發泄熱毒也，若痧後瀉痢不止此又熱毒下陷之故，當以五苓散去桂加芩連芍藥木通之類，毒解熱退則瀉痢自止，不可用燥濕溫補之劑。古人云可汗不可下，可表不可補是也。其痧後壯熱氣促不止者，此餘毒留連未盡也，須用瀉熱清金之劑，以竹葉石膏湯加芩連元參桔梗枳殼牛蒡花粉蟬蛻之類。痧後咳嗽不止者二陳加栝蔞桔梗元參黃芩象貝治之，渴則花粉知母，喘則葶藶蘇子桑白皮杏仁可也。若痧出過三日後而不沒不化者，此內有實熱也，加清利之藥則自解矣，乃治麻疹之大概也。凡初出之時，大忌米穀生冷葷腥麵食風寒暑濕穢濁之氣，苟有不慎最為深患，間有犯之而獲愈者，此因內稟之氣實外感之邪輕耳，不可執此以望僥倖也。</p>
<p>上海強氏健按：麻疹水痘皆時行傳染，多肺家之候，必兼咳嗽喘息，鬚髮得透化得清始無後患。大法以風熱暑濕為治，藥貴輕清不事辛溫香燥，忌用發散風藥，蓋風藥勝反動其火耳。</p>
<p>云間秦氏曰：夫痘已出而有稠密細小如麻子者，此夾疹也。《心鑑》云：痘毒之發被風閉塞腠理，熱毒激動腑毒，故與痘並出，此亦無妨於痘也，蓋疹出於六腑，痘出五臟，臟屬於陰乃為積受之地其毒深，腑屬於陽而為傳道之所其毒淺。故痘之始終每於二旬為限，而疹之消散一晬而已，可不從其急而先治之乎，經曰：急者先治，治宜先散其疹，而後治其痘。疹不散則痘不起。若疹散痘起綻凸勻調紅潤其勢吉。若疹散而痘稠密平塌灰白紫滯者其勢亦險也。故曰痘夾疹者吉凶相半也。又有出痘之時或冒風寒不能自汗發而為疹，亦與外感發疹者同，先散其疹而後痘得起也。</p>
<p>上海強氏健按：疹有赤白二種，赤者屬風熱，白者屬暑濕，無論四時皆因外感而發，麻出夾疹亦從時氣所感，發熱之初必先見嘔惡咳嗽噴嚏，而皮膚隱隱如麻根散而有頭粒者為疹。須先托透清解以化之，則痘易起不比斑之甚也。若壯熱昏沉色赤而即發煩悶者，痘色雖善時氣，毒深亦有凶候，未可信為夾疹之痘多吉也。前輩拘泥於痘屬臟疹屬腑，又云疹系先天之陽毒，又云斑屬三焦無根之火，疹屬心火諸說皆似是而實非也，又謂為脾胃遊火，是與外感時氣更相悖矣。究其實在皆外邪所中，傳入於胃，熱鬱成斑，客於肺則結而為疹，俱在經之證，而諸說盡屬穿鑿之言明矣。《內經》曰：風為陽邪，其傷在表，皮毛者肺之合也，皮毛先受邪氣，邪氣以從合也，故發疹必兼咳嚏等證；皮毛屬表之表，故疹出沒無時，喜溫暖而惡寒冷，故覆蓋宜謹也。因其生長於輕清之地，可一汗而化之，非臟腑之病而拖時日者比，只須升麻葛根湯加牛蒡杏仁蟬蛻木通甘草桔梗前胡石膏檉柳托化兼施，疹必退而痘自起。諸家證論各採其精者集之，獨論疹一段未當，然不可缺，此但取秦氏所謂發痘時感冒一句斯為大旨，更加詳辨以破疑團，使後人不墮迷津而當於用也，然又不可忍煞風寒在表擅投羌防荊芥枳殼赤芍等藥，發散破氣，劫奪損血，反致風從火熾，疹不化而痘難起，無漿中變往往因之誤事。</p>
<p>云間秦氏曰：夫斑者形似蚤班有點無頭，又有形似雲頭，色赤成片而膚上浮起無頭粒者，乃謂之丹，總乃血之形也。因謂火毒壅遏煎熬陰血，血熱相搏與痘相夾而發，急用涼血解毒，輕而小者加以涼解可化。至如紫青黑者乃毒氣壅結之甚，面腫唇裂十無一生。予曾間治而獲效者，因諸色之斑雖現，而痘自起發，且能安睡進食，多服紫草犀角石膏及一切涼血解毒等方，此亦僥倖中之萬一，不宜一概施治，反取謗於人也。</p>
<p>上海強氏健按：斑之由來多因侵染時氣，邪毒壅於陽明，熱搏其血乘發痘之際。必兼嘔吐夾出也，非痘家應有之物，夫痘為先天正氣之毒，斑乃後天時氣之邪，感之輕者斑紅點小而少，感之重者斑赤紫或藍黑點大而多。輕者升麻葛根湯加石膏豆豉蟬蛻以托之，兼連翹花粉以化之。重而紫赤者更加犀角黃連大青紫草，若藍黑則毒盛胃爛即倍用清涼亦無及矣，如止有兩三點而痘色潤，神氣清尚可治療。前輩未詳時氣之由特表而出之。蓋痘之善惡雖具於先天，然因時氣觸之而發，故曰時痘。所謂時氣者，一時之氣遞相傳染也，一歲之中分四時，四時之內分六節，而六節之氣相更變，則有善有惡，乃從寒暑晦明所致。人在氣交之中，感其善氣則痘雖重而無夾帶，感其惡氣則痘雖輕而雜斑疹。若痘本惡而又值惡令，則斑毒異色不但現於肢體且先見於唇舌，邪盛正憊不終朝而死矣，此時氣之傳變每以逐節更張。健常經歷灼見最應沿村比戶，一時遇此惡氣無可措手，須從避之之法庶可免禍。世人未知其故，盡委於先天蘊毒而失察乎。時痘之義將二字分究之各有吉凶之秘存焉。至於夾丹乃本兒平素胎毒或血熱風濕相搏趁此兼發，是遊行之火聚於皮毛，而無青黑之色與斑較為輕也，前方中加檉柳蘆根茅根浮萍冬梨汁俱可化之，痘自起發矣。敢以告諸來者。</p>
<p>上編曰徵今上</p>
<p>德按：經曰一陰一陽結，謂之喉痹。一陰心主之脈，一陽三焦之脈，皆循喉嚨，氣熱內結故為喉痹。究屬腎水不足，君火相火為病耳。設或素本陰虧勞倦體質，外感風邪，惡寒咽痛，脈不浮大洪數，身無煩熱，咳嗽，口不渴，大便結，法當養陰清熱。倘若春夏潮熱適值天時疫戾，誤認痧疹隱伏，疑似爛喉丹痧，輒用麻黃豆豉升柴羌葛荊防大力之類升提發表，火趁風威焰烈莫遏，劫奪津液而變證逢起矣，所以《醫門法律》申明風溫不可發汗，濕溫不可發汗之條，大凡風熱相搏發為風溫，熱濕交合發為濕溫，六淫化火莫疾乎風，治之復發其汗，如此死者醫殺之也。</p>
<p><u>光緒庚寅閏二月朔日辛丑一介道人謹識</u></p>

<h1>卷五</h1>

<h2>汪氏《醫林纂要·麻疹部》</h2>
<p>汪氏雙池《醫林探源》曰：麻疹乃六腑之留毒，發自足陽明胃，胃為六腑之海也。湯氏云：小兒斑瘡動於天行時氣，熱不能解，蘊積於胃，胃主肌肉，故毒氣熏發於肌肉狀如蚊子所齧，此證與斑不同，斑如錦紋有空缺處，如雲頭之狀，麻則通身無空缺，但以疏密輕重分耳。愚按：麻雖觸於時行，究竟本是胎毒，但痘發於臟而歸於陽，麻發於腑而歸於陰耳。其熱自脾胃而浮於心，自心而爍於肺，故每傷肺為甚。其初發熱亦似痘及傷寒證，眼包困倦、鼻流清涕、咳嗽減食、煩悶不安、嘔吐清水、瀉泄黃赤、喘渴氣急、目赤腮紅，則是麻候，凡熱三日而見疹，發透三日而漸沒，以九日為恆，有或熱或退五六日而後見，斜視之隱隱肌膚問，手磨之磊磊皮肉外，色淡紅滋潤，頭面勻淨而多發透，三日以漸而沒，此輕證也。若隨熱即出，或頭面皆無，或紅緊暗燥，或咽喉腫痛不能食，移熱大腸變而成痢或為風寒所遏，疹沒太速皆重證也，若黑暗乾枯一出即沒，鼻扇口張、兩目無神、鼻青糞黑、氣喘而心窩吸動、麻後牙疳臭爛皆死證也。大抵麻疹發於陽，陽則熱盛而陰受傷，故治宜先發表行氣以散其熱，而後為之滋陰補血。凡動氣燥悍之藥皆所忌也。</p>

<h2>葉氏《幼科要略》</h2>

<h3>看三關法</h3>
<p>滑氏云：小兒三歲以內，看男左女右手虎口三節曰三關。紋色紫熱紅傷寒，青驚風，白疳病，黃色淡紅乃平常小恙，其筋紋宜藏不宜暴露，若見黑色則為危險，再脈紋見下截風關為輕，中截氣關為重，上截命關為尤重耳，直透三關為大危。</p>
<p>痧疹（吳音痧子徽州麻子）（浙江瘄子）（北音疹丹）</p>
<p>葉天士曰：痧屬陽府經邪，初起必從表治，證見頭痛喘急咳嗽氣粗嘔惡，一日二日即發者輕，三五日者重，陽病七日外，隱伏不透，邪反內攻，喘不止，必腹痛脹秘悶，危矣。治法宜苦辛清熱涼膈去硝黃。</p>
<p>方書謂足陽明胃疹如雲布密，或大顆如豆，但無根盤。方書謂手太陽肺疹但有點粒，無片片者，用辛散解肌，冬月無汗壯熱喘急用麻杏加華蓋散三拗湯，夏月無汗用辛涼解肌葛根前胡薄荷防風香薷牛蒡枳殼桔梗木通之屬。</p>
<p>古人以表邪口渴，即加葛根，以其升陽明胃津，熱甚煩渴，用石膏辛寒解肌，無汗忌用。</p>
<p>凡瘡疹辛涼為宜，連翹辛涼，翹出眾草，能升能清，最利幼科，能解小兒六經諸熱。</p>
<p>春令發痧從風溫，夏季從暑風，暑必兼濕，秋令從熱爍燥氣，冬月從風寒。</p>
<p>疹宜通泄，泄瀉為順，下利五色者亦無妨，惟二便不利者最多凶證，治法大忌止瀉。</p>
<p>痧本六氣客邪，風寒暑濕必從火化。痧既外發，世人皆云邪透。孰謂出沒之際，升必有降，勝必有復。常有痧外發，身熱不除致咽啞齦腐、喘急腹脹、下利不食、煩躁昏沉、竟以告斃者，皆屬裡證不清致變，須分三焦受邪孰多，或兼別病累瘁，須細體認。</p>
<p>上焦藥用辛涼，中焦藥用苦辛寒，下焦藥用鹹寒。（徐洄溪曰：當用清滌內邪之法）</p>
<p>上焦藥：氣味宜輕，以肺主氣，皮毛屬肺之合。外邪宜辛勝，里甚宜苦勝，若不煩渴，病日多邪郁不清，可淡滲以泄氣分。</p>
<p>中焦藥：痧火在中，為陽明燥化，多氣多血，用藥氣味苦寒為宜，若日多胃津消爍，苦則助燥劫津，甘寒宜用。</p>
<p>下焦藥：鹹苦為主，若熱毒下注成利，不必咸以軟堅，但取苦味堅陰燥濕。</p>
<p>古人以痧為經府之病，忌溫燥澀補，所謂痘喜溫暖，疹喜清涼也。然常有氣弱體虛表散寒涼非法，淹淹釀成損怯，但陰傷為多，救陰必扶持胃汁。氣衰者亦有之，急當益氣。稚年陽體，純剛之藥忌用。《幼科方書歌括》曰：赤疹遇清涼而消，白疹得溫暖而解。此溫字即後人酒釀檉木粗草紙木棉紗之屬，雖不可不知，然近年用者多無益。</p>
<p>痧疳濕盛熱蒸口舌咽喉疳蝕，若不速治有穿腮破頰咽閉喘促告斃矣，治之宜早，外治另有喘方，（德按：痧疹內陷忌用冰片犀黃）若湯藥方法必輕淡能解上病，或清散亦可。</p>
<p>痧痢乃熱毒內陷與傷寒協熱，邪盡則痢止，同法忌升提，忌補澀，輕則分利宣通，重則苦寒解毒。</p>

<h3>附案</h3>
<p>光緒己丑年正月初風木主客同氣，余門人陳生錫周，時年十三歲，曾出正痧，瘥後戒口百日始食油葷，又於五月芒種節前，忽覺咽物梗痛、頭眩乾嘔、身體發熱如火、咳嗽、煩悶、脈浮滑濡數、舌胎縫中厚白苔，此乃痧後遺邪。用甘草桔梗葛根荊芥牛蒡子蟬蛻連翹象貝母枳殼木通竹葉朱燈心西河柳煎湯沖服玉雪救苦丹兩丸，復出痧疹遍身透布，將次回齊。無端陰囊之筋吊而垂脹，溺管澀痛，小溲滴淋，即以柴胡四物湯清肝滲濕，用柴胡撫芎條芩竹葉朱燈心各五分鮮生地歸身赤芍藥連翹象貝母夏枯草天花粉蒲公英各一錢甘草桔梗木通各四分一劑，三服而病痛告痊。（嘉六謹記）又治譚姓六歲癘邪云溫邪時癘，觸自口鼻，穢逆遊行三焦，而為麻疹，目赤鼻煤、吐蛔瀉蛔、津津汗出而喘渴欲飲。當與辛苦寒，劉河間法世俗不知，金曰發痧，但以荊防蟬殼升提，火得風揚，焰烈莫遏，津劫至變矣。</p>
<p>涼膈去硝黃加石膏牛蒡赤芍。</p>

<h2>李氏《爛喉痧論》</h2>

<h3>吳醫匯講</h3>
<p>爛喉痧一證古書不載，起於近時，而並易傳染。治之者每謂太陰陽明二經風熱之毒，而至爛之由亦不可不詳察也。譬之於物以盛火逼之，只見乾燥而不知濕熱鬱蒸，所以致爛耳。此證凡風熱者治宜清透，濕熱者治宜清滲，痰火凝結者治宜清降。蓋邪達則痧透，痧透則爛自止矣。若過用寒涼熱必內陷其害可勝言哉。夫證有可治，有不可治。口中作臭者謂之回陽，其色或淡黃或深黃者，此係痰火所致皆可治之證。他如爛至小舌者，鼻塞者，閤眼朦朧者，並有元氣本虛毒氣深伏色白如粉皮樣者皆不可治之證也。總之因天地不正之氣感而受之，故體有虛實之不同，即證有輕重之各異耳。其餘痧證喉證古人言之詳矣，既不復贅。</p>

<h2>祖氏鴻範《爛喉丹痧治宜論》</h2>
<p>夫丹痧一證方書未有詳言，余究心是證之所來，不外乎風寒溫熱時戾之氣而已。故解表清熱各有所宜。治之得當，愈不移時，治失其宜，禍生反掌，無非宜散宜清之兩途也。其證初起凜凜惡寒、身熱不甚、並有壯熱而仍兼憎寒者，斯時雖咽痛煩渴，先須解表透達為宜，即或宜兼清散，總以散字為重，所謂火鬱發之也。苟漫用寒涼則外益閉而內火益焰，咽痛益劇，潰腐日甚矣。不明是理者反云：如此涼藥，尚且火勢勃然，不察未散之誤，猶謂寒之未盡，於是愈涼愈遏以致內陷而斃者有之。或有云：是證專宜表散者，余謂所見亦偏前所云，寒熱之時散為先務，俾汗暢而丹痧透發已無惡寒等證，至此則外閉之風寒已解，內蘊之邪火方張，寒涼泄熱是所宜投，熱一盡而病自愈矣。若仍執辛散之方，則火得風而愈熾，腫勢反增，腐亦滋蔓，必致滴水下咽痛如刀割，間有議用清涼者乃以郁遏誹之，炎熱燎原殺人最暴，此偏於散而謗匪清者之為害也。彼言散之宜，此言散之禍，彼言寒之禍，此言寒之宜。要惟於先後次第之間隨機應變，斯各中其窾耳。再此證愈後每有四支痠痛難以伸屈之狀，蓋由火爍陰傷，絡失所養，宜進滋陰，非同痹證，此又管窺之所及，敢以質之高明。</p>

<h2>屠氏疏村《論白㾦》</h2>
<p>白㾦一證考古方書無專條論及，間有在斑疹門中發明一二，究未能盡其底蘊。今溫熱證中每多發出，如曲如粟，色白形尖者謂之白㾦。有初病即見者，有見而即愈者，有見而危殆者，有病經日久斑疹已見補瀉已施之後仍然發此而愈者。泛稱時氣所致，殊不知致病之由既異，治疔之法不同，不可不與斑疹詳辨而審處之也。蓋傷寒傳經，熱病汗出不徹，邪熱轉屬陽明多氣多血之經，或由經入府受熱蒸灼，營傷血熱不散而裡實表虛，熱氣乘虛出於膚腠，故稀如紋跡稠如綿紋者為斑，紫黑為胃爛而不治也，時行風熱之氣侵入肺虛血熱之體，失於清透傷及手太陰血分，乘虛出於皮膚如沙如粟而色紅璅碎者為麻，或歲當火運復感時厲之毒即咽痛而成丹痧及爛喉痧之類為最劇者也，至於白㾦一證則溫熱暑邪病中必兼濕為多。蓋伏氣之發本從內出，然必因外感，及人身素蘊之濕與外觸之邪互相蒸發，上甚為熱。初病治法設不用清透滲解則肺為熱傷，氣從中餒，不能振邪外解，熱漸陷於營分，轉投清營滋化，勢稍緩而肺氣亦得藉以自復，所留之濕仍從上焦氣分尋隙而出，於是發為白㾦。以肺主氣故多發於頸項肩背胸臆之間，白為肺之色，光潤為濕之餘氣，至此而邪始盡泄也，甚有幾經補瀉之後病仍不解忽然發此而愈者，以其人之氣液內復邪自外透故不治亦愈也。（德按：予嘗每遇虛羸體質氣液告竭之證，亟需滋養而礙難遽投補劑者，即以生地門冬之類用砂甑蒸取其露與服之頗獲見效，此之謂以氣液之品而補氣液之不足也）若其根本已虛無氣蒸達多有延為衰脫者，故此證以元氣未漓色潤晶瑩有神者為吉，枯白乏澤空殼稀散者為氣竭而凶。總以形色之枯潤卜其氣液之竭與否也，大抵此證在春末夏初暑濕之令為甚，秋冬則間有之，要不出乎手經受病仍從手經發泄，不比足經之邪可從下解也。夫肺為主氣之臟，氣旺則邪從外解上泄而病愈，氣衰則邪正並竭，雖發必朽白無神而難治。觀《內經》暑與濕同推，仲聖痙濕暍合論，益知暑熱溫邪證中多夾濕邪更無疑矣，一隙微明以俟高賢正之。</p>
<p>德按：有另時疫白喉嚨一證，其發有時，其傳染甚速，其證最危最險。此病熱證多，寒證少，有以色白為寒者，不知此證初發於肺，肺屬金其色白，為五臟六腑之華蓋處至高之位，毒氣自下熏蒸而上肺，病日深故其本色日著，宜解散風毒引熱下行，勿令蓄積於肺。若因色白疑為寒證，投以細辛附桂是謂抱薪救火愈熾愈烈，即有知為毒火執意不可輕用升提開散之品，輒以涼膈硝黃下之，不思此證已傳至上焦氣分，本與中下焦無涉，既繫上焦氣分受傷，再以硝黃攻伐太過，使中下焦又損，元氣更虛，氣陰並傷，病必變凶。此乃瘟疫之變證，殺人最速，時醫辨證未明，投以平淡之劑，不求有功但求免過，是謂優容養奸，因循誤事。迫延至五六日毒氣重矣，元氣傷矣，善治者不得不以猛劑救之，然病已垂危，成則無以計功，一日不起，病家不咎優容之過，反怨猛劑非宜，此非誤於後而實誤於前也。然又有虛勞白喉嚨證，證由陰虛火燥痛極而水米難，下漸至腐爛、形容枯槁、面目憔悴，必需補劑，使元氣充復，而喉痛自愈。尤拙吾先生曰：急喉痹其聲齁䶎者痰在喉響，有如拽鋸，甚者音啞，此為肺絕之候。速宜人參膏救之，用竹瀝薑汁放開頻頻服之，如無參膏獨參湯亦得。早則十全七八，次則十全三四，遲則十不全一也。設或以若是陰虛白喉誤認為時行喉證，差之毫釐失之千里。更有一種白喉，無惡寒發熱表證，脈浮沉不一，細而微者，喉內起白粉皮隨落隨長，的是陰虛寒證非用附桂八味煎湯冷服不愈。即誤投消風敗毒之藥亦無大損。設若以如斯寒證誤認為時疫熱證終成潰敗為害匪輕。近有一種楊梅結毒喉疳，蒂丁腐爛，聲音改變，飲食難進，原因欲速求痊，早用點藥，或以熏藥收遏瘡毒，深入骨髓致貽後患，若患此者又當以黴瘡方法治之。凡此以上等證皆非因痧而致白喉之證，如果喉痛因痧而起但當宣毒發表透達痧疹外出，則喉痛自除。大忌冰片珠黃即如玉鑰匙亦在禁用之例。</p>

<h2>陸氏《世補齋醫書》</h2>

<h3>丹痧斑疹辨</h3>
<p>陸氏九芝曰：丹痧斑疹四者，丹與痧類，斑與疹類，痧輕而丹重，疹輕而斑重，丹與斑皆出與膚平而成片，痧與疹皆高出於膚而成點。痧自痧，丹自丹也渾言之則通曰痧，亦疹自疹，斑自斑也，渾言之則通曰疹。而痧之原出於肺，因先有痧邪而始發表熱，治痧者當治肺，以升達為主，而稍佐以清涼。疹之原出於胃，因表熱不解已成裡熱而蘊為疹邪，治疹者當治胃以清涼為主而少佐以升達。痧於當主表散時不可早用寒瀉，疹於當主苦泄時不可更從辛散。大旨升達主升麻葛根柴之屬，清涼主芩梔桑丹之屬，惟宗仲景葛根芩連一法出入增減，則於此際之細微層折皆能曲中而無差忒，此治痧疹之要道也。自來治此證者主辛散則禁寒泄，主寒泄則禁辛散，故兩失之至，不僅為痧與疹，而為丹為斑則皆裡熱之甚，惟大劑寒藥乃克勝任，非第痧疹之比矣。有是四者脘必悶，四者之齊與不齊以脘悶之解與未解為辨。有是四者熱必壯，四者之解與不解以汗出之透與未透為辨。故當正治痧疹時必兼行升清兩法，表裡交治，務使痧疹與汗並達。惟痧疹當發出之際，病人每悶極不可耐，稍一輾轉反側其點即隱，病邪反從內陷，此正不必有外來之風也，即袖端被角間略有疏忽其汗便縮，一縮之後旋即周身皆干。此時厥有二斃，一則汗方出時毛孔盡開新風易入，一則汗已大出不可再汗。非特痧疹立隱，且津液既泄，熱必益熾，後此變端，皆從此起。病家只道未愈，醫者亦但說變病，孰知皆汗不如法之故耶。凡病之宜從汗解者無不皆然，而兼痧疹者尤甚。故特於此發之。</p>

<h3>附不謝方</h3>
<p>痧疹二證升散清涼宜合用之，不可偏廢，甚者須用石膏，切忌犀角。</p>
<p>升麻　葛根　柴胡　黃芩　赤芍　元參　連翹　銀花　牛蒡子　山梔子　生甘草　桔梗　或加殭蠶　蟬蛻　西河柳</p>

<h3>附案</h3>
<p>歲己丑夏四月，小滿節濕土客氣，山妻潘氏年四十七，忽患頭疼身熱咳嗽，惡風，仍然操作，不避風寒，乃致咽痛如割音嘎咯血，耳後項頸兩旁掀腫，手臂胸膺遍現白疹，形同沙粒；筋骨痠軟，便秘飽悶，口苦不渴，脈濡滯而澀急，用西河柳三錢煎甘桔牛蒡子竹葉蘆根湯沖服玉雪救苦丹一顆，頃刻白疹變為紅色，周身透達頸腫漸平。惟咽茶扦格，再服玉雪丹一丸，諸恙若失，不覺其全愈如斯之速也。當山妻患出白疹，喉中早已腐爛，緣向來頰車不利，牙關閉緊不能開齒，飲食惟覺喉𠿓痛如刀割，咳出臭惡膿血令人掩鼻，不得張口可看爛喉，亦不吹藥，可見喉痛是痧疹之常。但當透發痧疹，大忌錯認喉風禁用吹藥涼遏，切囑戒口避風。痧疹出齊則喉痛自愈，如此凶惡重證生死易如反掌，可不懼哉。猶憶同治甲戌尤君劍泉弟婦曾患時疫喉痧，咽喉腫閉，白腐壅塞，項頸擁腫如瓠，滴水不能下咽，湯藥入口，仍由鼻孔噴出。予與同鄉張君聽泉誤認喉痹，醫不如法，日見沉重，特請上海耆醫黃翁菊泉來診，乃問曰：曾服涼藥乎？已經吹藥乎？證勢危險矣，然幸未喘促尚可挽救，大凡喉痧多因冬不藏陽，伏氣內發，風寒外閉致成爛喉，豈可再用涼遏，所以大忌吹藥，若用冰片犀黃愈吹愈壞，愈爛愈深。但當宣毒發表透達痧疹外出自然諸恙解化，劍泉弟婦服涼藥而遏抑加劇，投表劑而宣透告痊。予於是憬然大悟，諺所謂熟讀湯頭歌，不如得臨證多。而今而後時時勉夫。爰書於此以志從前之過。</p>
<p><u>光緒辛卯二月花朝赤霆子凌德時年六十又一。</u></p>

<h2>顧氏《丹痧經驗闡解》</h2>

<h3>總論</h3>
<p>顧氏玉峰曰：近年喉痧一證日甚一日，且多殞命者，其故何也。只緣捨本求末，重於咽喉，忽於痧子，早進寒涼遏伏厲邪之故耳。蓋天有六氣俱能生殺成物，凡疾風暴雨酷暑嚴寒四時不正之氣即為厲氣，人若感之便能為害。邇年天道南行，冬不藏陽，每多溫暖，及至春令，反有暴寒折伏，皆為非時不正之厲氣。感觸者蘊釀成病所以其證發必一方，長幼男女相似，互為傳染，與厲疫同。稟氣旺者雖感重邪其發亦輕，稟質弱者即感微邪其發亦重。夫人肺主一身之氣，肺主皮毛，脾主肌肉，肺開竅於喉鼻。鼻氣通於天氣，受邪之時從口鼻而入於肺脾，發必由肺脾而出於肌表。當厲毒發作之時，熱淫之氣浮越於肺之經隧，所以必現咽喉腫痛、鼻塞噴嚏、咳嗽胸悶、嘔惡、渾身痠痛等形，此非厲邪痧子為本，咽喉咳嗽等形為末乎？今醫不究其受病之因，乃執《內經》諸痛屬火，紅腫為熱，急進寒涼，甚至用犀羚石膏金汁黃連等味稍兼辛涼表散以為雙解之法。體質強旺者幸藉元氣充足或以敵邪致愈，稟之單弱者即變音啞喉腐，氣促腹瀉、齒鼻流血、舌縮唇焦、膚干無汗、發厥口噤種種險候。醫家見之猶曰病重藥輕，更以寒涼培進，必致痧毒內陷，燔灼愈騰，喉閉痰升，命歸泉路。要知頭面紅腫焮赤正痧毒外達之勢，當此之時亟進表散開達之劑，寒涼清膩等藥一味不可兼雜，使其痧從汗透則其毒自然不留，其毒既泄咽喉豈有不愈，所以先賢諸敗毒散中皆用表散亦同此意命名也。余非業醫者，因從前子女慘遭其害，爰是潛心醫學，研究歲運司天。數年以來稍悟一斑，凡有親友患此者商治於余，皆以表散開達為主直待痧回腫退，鼻有清涕，遍身作癢蛻皮；方進涼血清解之味，靡不應手速效，近見蘇杭此證盛行殞命者不少，予仰體上蒼好生之德，敢將一得管見布告四方，並非立異矜能，炫玉求售，惟冀醫林高士，藥業仁人，鑑余微忱，勿加訕詈，則患者辛甚，余亦幸甚。</p>

<h3>論證治</h3>
<p>凡形寒壯熱，咽喉腫痛，頭痛咳嗽，胸悶鼻塞，嘔惡，兩目汪汪，手足指冷，脈來濡數或現浮數，此即厲邪痧證，需進後方荊芥葛根湯兩三劑，俟其暢汗，痧透點至足心，舌有楊梅刺，方進辛涼清解之味，總之痧慎於始，若有一毫胸臆未清，便是痧疹未透，不可早進寒涼，遏伏以致不治。</p>
<p>凡痧疹欲出未出之時，宜早為發散，以解其毒，則無餘患。若不預解使之盡出，或早投寒涼遏伏，多致毒蓄於中，或為壯熱日久枯悴，或成驚癇，或為瀉痢，或為咽喉腐爛咳血喘促，或作浮腫疳蝕而死。此雖一時戾氣之染，然未始不由於人事之未盡也。</p>
<p>凡痧疹逡巡不出者，乃風寒外束皮膚閉密也，宜荊防葛根湯主之，外用芫荽酒苧麻蘸酒戛之。（恐露體冒風可不必用）</p>
<p>凡形寒發熱面若裝朱，痧疹不出肌膚即現上吐下瀉，腹痛如絞，甚至發厥口噤目閉神昏，此乃內挾濕滯痧穢，外感戾毒，暴寒折伏，表裡為病，陰陽不通，最屬危候。每至朝發夕死，不能過兩三日者。若投寒涼清解有如操刃急進，藿香正氣散加煨葛根牛蒡子蟬衣焦神麯等味一兩劑得暢汗吐瀉厥止，痛停，痧得焮赤，扶過三日庶無妨礙。但此證吐瀉之後，津液大傷，必然發渴思冷，切勿與吞冷水、所有甘蔗水梨一切寒涼之物，切忌切忌。</p>
<p>凡熱邪壅於肺，逆傳心胞絡，痧疹不得出或已出而覆沒者，乃風寒所遏而然，若不早治毒必內攻，以致喘急音啞而死，急用升麻葛根湯加荊芥牛蒡子蟬衣桔梗櫻桃核浮萍草枇杷葉等煎服，外用芫荽酒苧麻蘸酒戛之，使痧疹復出而喘定，方可無虞，倘體質單弱不能透達，需用透邪煎或柴歸飲發之，如進此二湯仍不焮赤者，急進托裡舉斑湯。</p>
<p>凡痧疹只怕不能出，若出得暢盡，其毒便解，故治痧疹者貴慎於始，發熱之時，當察時令寒暄酌而治之，倘時令嚴寒即桂枝葛根湯或麻黃湯俱可用，勿拘辛溫而遲疑，二湯內俱加入牛蒡子蟬衣桔梗發之。如時令炎熱以升麻葛根湯加牛蒡子蟬衣辰砂益元散發之。如果熱勢充熾稍加生石膏三四錢亦可。倘時令平和，以荊防葛根湯加浮萍草發之。務使發得透暢，莫使其有絲毫逗留，致生變幻，纏綿不已。</p>
<p>痧疹後勿可任性貪涼，適意喜冷，切忌大葷海鮮油腥甜膩酸辣生硬咸澀食物，以杜後患，慎戒百日，切囑切囑。</p>

<h3>經驗方</h3>
<p><u>荊防葛根湯</u></p>
<p>煨葛根（一錢半或一錢）　牛蒡子（炒研，三錢）　炒荊芥（一錢半）　炒防風（一錢半）　桔梗（一錢）　枳殼（一錢，麵炒）　甘草（四分）　光杏仁（三錢，便溏者勿研）　象貝母（去心研，三錢）　加浮萍（三錢）　荊芥防風不炒亦可。</p>
<p><u>升麻葛根湯</u>（痧點隱隱不透者用之）</p>
<p>升麻（五分）　葛根（錢半）　赤芍（錢半）　生甘草（四分）　荊芥（錢半）　牛蒡子（三錢）　蟬衣（一錢）　桔梗（一錢）　加櫻桃核（三錢）　浮萍草（二錢）</p>
<p><u>藿香正氣散</u></p>
<p>藿香　紫蘇　制茅朮　制川樸　茯苓　陳皮　甘草　桔梗　半夏曲　加葛根　牛蒡子　蟬衣　焦神麯</p>
<p>茅朮川樸舌胎白膩濕重者可用。</p>
<p>原方有大腹皮白芷當酌用之。</p>
<p><u>透邪煎</u></p>
<p>歸身　赤芍　荊芥　防風　升麻　乾葛根　炙甘草</p>
<p>加牛蒡子　蟬衣</p>
<p><u>柴歸飲</u>（即前方內）</p>
<p>加柴胡</p>
<p><u>托裡舉斑湯</u></p>
<p>歸身（五分，瀉者勿用）　赤芍（一錢，酒炒）　升麻（五分，見點後勿用）　柴胡（五分）　加浮萍草（三錢）</p>
<p>原方有炙甲片（一錢）　白芷（七分）　當酌用之。</p>
<p>乾葛牛蒡子蟬衣荊芥象貝母隨證可加。</p>
<p>德按：惟冬令平寒必須麻黃，輕者三分，重則六七分，（炙焦潤之）若竹葉石膏桑葉杏仁西河柳枇杷葉蘆根白茅根隨時加用可也。</p>
<p><u>上編曰徵今</u>（下）</p>
<p>徵今編書後</p>
<p>《內經》言：火鬱發之。王安道先生解曰：發者汗之也，升舉之也。升舉發汗即發散之義也。仲聖太陽篇曰：脈浮者，病在表，可發汗。脈浮而數者，可發汗。陽明篇曰：脈浮無汗而喘者，發汗則愈。又曰：咽喉乾燥者，不可發汗。咽中閉塞，不可發汗。然在近時爛喉痧證竟有以發汗而生，以不發汗而死者。如光緒丁丑三年吳下邗上大疫時行，患喉痧者，老幼傳染。醫用寒涼死亡相繼，曾服麻杏荊防發汗宣透者轉危為安。若投黑膏犀角地黃頃刻告斃。可見天行疫癘當推歲氣論治，未可拘一定成法。薛一瓢先生曰：凡大疫之年，多有難識之證。醫者絕無把握，方藥雜投，夭枉不少。要得其總訣，當就三年中司天在泉，推氣候之相乖者在何處，再合本年之司天在泉，求之以此用藥，雖不中不遠矣。《內經》云：必先歲氣，母伐天和。此之謂歟。余輯是編不無掛一漏萬，明哲高賢匡予未逮，惠我名言，自當續付棗梨，同垂不朽，後學凌德拜識。</p>
<p>日本多紀櫟窗先生著有《麻疹心得》《麻疹輯要方》《麻疹纂類》各一卷，求之多年未得一見，深以為憾，茲特附載卷端，以俟他日訪錄續編。辛卯夏日蟄庵謹又識。</p>

<h1>卷六</h1>

<h2>謝氏《蕙庭良方集腋合璧》</h2>
<p><u>玉雪救苦丹</u></p>
<p>水安息　廉珠粉　真血珀　鵝管釧乳（以上四味各三錢）　真西黃　梅片腦　當門子（以上三味各三分）　蘇合油（二兩）　制川樸　寒水石　川黃連（水炒，以上三味各一兩）　白螺螄殼（土牆上自死枯白色者，一錢）　軟柴胡　淡豆豉　赤茯苓　飛辰砂片　制茅朮　前胡　廣藿香　大黃豆卷　防風　生白朮　荊芥穗　白茯苓皮　秦艽　粗桂枝　生大黃　石膏（另研）　天花粉　江枳殼　江枳實　麻黃去節　生甘草　苦桔梗　牛蒡子　土貝母（去心）　赤芍藥　光杏仁　小青皮　車前子　連翹殼　六神麯　建神麯　製半夏曲　陳廣皮　木通　廣木香　尖檳榔（以上三十六味淨末各八錢）　大腹絨（一兩六錢）另煎湯用。</p>
<p>上方四十九味，除香料細藥八味，及大腹絨外，其粗藥用陰陽水浸拌一宿，明日曬乾共研為極細末，後入細藥再同研和勻，乃將麝香西牛黃蘇合油水安息外加六神麯肆兩，大腹絨湯打漿，共搗和加入煉白蜜一斤，糊丸每丸濕重一錢五分，曬乾重一錢，再入石灰壇內礦燥，然後用蠟丸封固，擇吉日頂禮大悲陀羅尼心法懺一永日，務須供藥虔誠敬禮。</p>
<p>此丹照引服之，真有起死回生之功，雖垂危莫救命在呼吸之間者亦能立時奏效，屢試屢驗百不失不一，誠千金難得之良方也，虛勞孕婦忌服。</p>
<p>德按：原方內有大麥仁，疑是大杏仁，因思麻杏甘膏為風溫發汗逐邪之主劑。既用麻黃石膏豈可不用杏仁泄肺以利氣乎，用敢僭妄而直改之。</p>
<p>此方專治咽喉一切諸證，及爛喉丹痧、痰涎壅塞、口噤氣喘、身尚熱而命在頃刻者，急用開水化藥一丸，徐徐灌之，立刻回生，再進一丸即愈，或用荷葉三錢煎湯化服亦可。</p>
<p>治小兒悶痘，細葉石菖蒲汁開水沖化服半丸。</p>
<p>治小兒時痧發不出，用西河柳三錢煎湯化服一丸。如未透再進一丸。凡痧痘輕者半丸，重者服一二丸。</p>
<p>治小兒急驚風，身熱嘔乳，驚悸抽搐，便青用釣藤鉤三錢煎數沸去渣量兒大小化服半丸或一丸，分作四次服之立效。</p>
<p>治月內赤子，胎驚不乳，或夜啼哯乳，用藥一丸分作四股之一，研極細末安在乳頭上，與兒吮乳同下之，立愈。</p>
<p>治風癇痰厥，不省人事，用陳膽星五分開水化服一丸，或衝入生薑汁鮮竹瀝服之尤效。</p>
<p>治肝氣厥逆，不省人事，用生石決明二兩煎湯化服一丸。</p>
<p>治傷寒時行瘟疫，寒熱頭痛，胸悶體酸，一二候身熱不解，神昏譫語，開水化服一丸如身熱不盡，再進一丸立有奇效。</p>
<p>治癰疽發背，腦疽疔毒，一切無名腫瘍，外用牛膝一兩搗汁調藥半丸敷之，又用開水或生甘草三錢煎湯化服，大證一丸，輕者半丸，未成即消，已成即潰。</p>

<h2>王氏滄洲《古方選注》</h2>
<p><u>痧疹防風解毒湯</u></p>
<p>防風（八分）　荊芥（八分）　薄荷（七分）　牛蒡子（一錢，炒研）　石膏（一錢）　知母（八分）　連翹（一錢）　淡竹葉（八分）　木通（八分）　枳殼（七八）　桔梗（八分）　甘草（三分）</p>
<p>上水一鍾煎八分，不拘時服。</p>
<p>王氏曰：痧疹初發以肺經藥主之，風溫雖分逐年歲氣雜至，要皆輕清之邪或從口鼻，或襲三焦，四時皆有，惟春為甚。聶久吾曰：治痧疹最忌誤用辛熱，驟用寒涼，治以防風解毒湯防風荊芥薄荷牛蒡，以辛散之。石膏知母連翹淡竹葉辛寒以清之，木通通氣，枳殼疏表，桔梗甘草載引諸藥以達肺經。繆仲醇曰：痧疹不宜依證施治，惟當治肺，使痧疹發出，毒邪解化，則了無余蘊矣。</p>
<p>德按：天時陰雨地居新屋，宜加銀花貫仲西河柳活蘆根；毒盛者加紫雪丹。</p>
<p><u>痧疹竹葉石膏湯</u></p>
<p>竹葉（三十片）　石膏（五錢）　西河柳葉（五錢）　牛蒡子（一錢五分，炒研）　荊芥穗（一錢）　蟬蛻（一錢）　薄荷葉（一錢）　麥門冬（去心，二錢）　知母（蜜炙，一錢）　乾葛（一錢五分）　元參（二錢）　甘草（一錢）　冬米（一撮）</p>
<p>上水一鍾八分煎五分，不拘時服。</p>
<p>王氏曰：痧疹熱邪壅於肺，逆傳於心胞絡。喘咳煩悶躁亂狂越者，非西河柳不能解。仲醇間嘗獨用西河柳葉風乾為細末，水調服四錢喘躁立定；水漿不入口者，灌之可生。力贊其為神秘之方。又云：慎勿用定喘藥，惟應大劑竹葉石膏湯加西河柳兩許，另出心裁立一湯方，表裡施治蓋以客邪犯心肺二經，營衛並傷，非獨主於裡也。大凡灼熱固表無汗而見諸證者，則有竹葉石膏之辛涼解肌發汗，熱毒蘊里而見諸證者，則有西河柳之鹹溫潤燥開結和營以解天行時熱。至於十味佐使之藥，不外乎潤肺解肌清營透毒毋容議也。</p>
<p>德按：若已經表傷氣液者，急當救陰生津液為先。</p>
<p><u>痧疹麻黃散</u></p>
<p>麻黃（蜜，酒拌炒去節）　升麻（酒炒）　人中黃　牛蒡子（炒研）　蟬蛻（去頭足，各等分）</p>
<p>上為末，每服三錢，水煎服。</p>
<p>王氏曰：嚴寒之時，風邪襲肺，玄竅為寒所閉，目微紅，淚汪汪，鼻塞喘嗽，咽腫，此痧疹不得出也，治以蜜酒炒麻黃溫衛發汗，酒炒升麻入營開泄溫風，佐以人中黃清解溫熱，使以牛蒡蟬蛻祛風出疹。仲醇曰：肺氣虛者升麻宜輕，重用必喘，學者宜臨證斟酌。</p>

<h2>柯氏韻怕《名醫方論》</h2>
<p><u>升麻葛根湯</u>　治傷寒瘟疫風熱，壯熱頭痛，肢體痛，瘡疹已發未發並宜用之。</p>
<p>升麻　乾葛（細銼）　芍藥　甘草（銼炙各等分）</p>
<p>上同為粗末，每服四錢，水一盞半煎至一盞，量大小與之，溫服無時。</p>
<p>張氏景岳曰：麻疹之證多屬陽明火毒。凡欲解表散邪但表實邪盛者最宜用此，然愚謂以柴胡代升麻用之更妙，若血氣稍虛而邪有未解者，惟柴歸飲為最妥。</p>
<p>汪氏雙池曰：此陽明經藥也，麻疹發於陽明故以此方為要藥，升麻葛根以達陽氣於外，芍藥甘草以和脾胃於中，加芫荽生薑以微汗之，使元腑潤澤，則熱毒不郁也。</p>
<p>柯氏曰：此為陽明初病解表和里之劑。可用以散表熱，亦可用以治裡虛。一方而兩擅其其長也。此方仿仲景葛根湯去薑桂之辛熱大棗之甘壅，以升麻代麻黃，便是陽明表劑，而非太陽表劑矣。葛根甘涼可散表實，協升麻以上升，則使清陽達上而濁陰降下，可以托散本經自病之肌熱，並可以升提與太陽合病之自利也。芍藥收斂脾陰，甘草緩急和里，治里仍用表藥者，以表實下利而非裡實故也。痘疹自里達表，初起內外皆熱故亦宜於涼散耳。若無汗加麻黃，有汗加桂枝，渴熱加石膏，咽痛加桔梗，頭痛合芎芷，有少陽證加柴芩，火盛加芩連。凡邪在三陽以此出入，無不利也。</p>
<p>德按：聞人氏伯圜曰：道有經有權，兵有正有奇，病有常有變。病之常者可必，病之變者不可必。古人立升麻湯治小兒瘡痘為一定之論，豈固而不通者哉。嘗思古人之意，升麻湯一方蓋治瘡痘之常，不治瘡痘之變。常者何也，未有斑點之前均發熱者常也，已結痂疕後之均有餘熱拂鬱而肌表未清涼者亦常也，是以升麻湯方狀云：治瘡疹未發，已發，未發者謂未見斑點之前，已發者謂已作痂疕之後，此升麻湯所以為治瘡痘之常者也。若夫斑點既見與夫痂疕未結，其候千變萬化，治法在隨證參調，曾非定論之可拘。猶如傷寒之變異不一也，當此之際安可執一藥以應無窮之變哉。且升麻湯所用之藥不過涼肌解表而已，未見斑點之前，已結痂疕之後，則可以涼肌可以解表，古人處方之意如此，曷嘗令用之於瘡疹正作之時耶。今昧者不能究此，既見斑點尚令兒服餌，致肌寒表弱陷伏而危殆。籲讀古人之書而不能探古人之妙，不可以言醫矣。</p>
<p><u>麻黃杏仁甘草石膏湯</u>　治溫熱內發，表裡俱熱，頭痛身疼，不惡寒反惡熱，無汗而喘，大煩大渴，脈陰陽俱浮者，用此發汗而清火，若脈浮弱、沉緊、沉細、惡寒，自汗出而不渴者，禁用。</p>
<p>麻黃（四兩）　杏仁（五十個，炮去雙仁去皮尖）　甘草（二兩，炙）　石膏（八兩，碎綿裹）</p>
<p>上四味，以水七升，先煮麻黃減一升，去上沫，內諸藥，煮取二升，去滓，溫服一升。本云黃耳杯。</p>
<p>王氏曰：喘家作桂枝湯加厚朴杏仁治寒喘也，今以麻黃石膏加杏仁治熱喘也，麻黃開毛竅，杏仁下里氣，而以甘草載石膏辛寒之性，從肺發泄，俾陽氣出者出，降者降，分頭解散，喘雖忌汗，然此重在急清肺熱以存陰，熱清喘定汗即不輟，而陽亦不亡矣。觀二喘一寒一熱，治法仍有營衛分途之義。</p>
<p>柯氏曰：此溫病發汗逐邪之主劑也，石膏為清火之重劑，青龍白虎皆賴以建功。然用之不當適足以召禍，故青龍以無汗煩躁得薑桂，以宣衛外之陽也，白虎以有汗煩渴須粳米以存胃中之液也，此但熱無寒故不用薑桂喘不在胃而在肺，故不須粳米其意重在存陰，不必慮其亡陽也。故以麻黃湯去桂枝之監製取麻黃之專開，杏仁之降，甘草之和，倍石膏之大寒，除內外之實熱，斯溱溱汗出，而內外之煩熱喘渴悉除矣。</p>
<p>程氏扶生曰：此治寒深入肺發為喘熱也，汗即出矣，而喘是寒邪未盡，若身無大熱，則是熱壅於肺，故以麻黃散邪，石膏除熱，杏仁利肺，於青龍湯內減麻黃，去薑桂，穩為發散除熱清肺之劑也，石膏去熱清肺故肺熱亦可用。</p>
<p>德按：程氏杏軒云：予治出麻冒風，隱閉喘促，煩躁凶險急證，每用此方獲效。</p>
<p>蓋麻出於肺閉，則火毒內攻多致喘悶而殆。此方麻黃髮肺邪，杏仁下肺氣，甘草緩肺急，石膏清肺熱，藥簡功專，所以效速。杏軒著有《醫述》。（已刊行世）</p>
<p><u>白虎湯</u></p>
<p>治陽明證汗自出，渴欲飲水，洪大浮滑，不惡寒反惡熱。</p>
<p>石膏（一斤，碎綿裹）　知母（六兩）　甘草（二兩，炙）　粳米（六合）</p>
<p>上四味，以水一斗，煮米熟，湯成，去滓，溫服一升，日三服。</p>
<p>王氏曰：白虎湯治陽明經表裡俱熱，與調胃承氣導陽明腑中熱邪，白虎泄陽明經中熱邪，石膏泄陽，知母滋陰，粳米緩陽明之陽，甘草緩陽明之陰。因石膏性重知母性滑，恐期其疾趨於下，另設煎法以米熟湯成，俾辛寒重滑之性，得粳米甘草載之於上，逗遛陽明成清化之功，名曰白虎者，虎為獸，以明石膏知母之辛寒，肅清肺金則陽明之熱自解，實則瀉子之理也。</p>
<p>柯氏曰：陽明邪從熱化故不惡寒而反惡熱，熱蒸外越故熱汗自出，熱爍胃液故渴欲飲水，邪盛而實故脈洪大，半猶在經故兼浮而滑也。陽明屬胃外主肌肉，雖有大熱而未成實。然火炎土燥，終非苦寒之味所能治也。經曰：甘先入脾，又曰：以甘瀉之，由是知甘寒之品乃瀉胃火生津液之上劑也。石膏辛寒，辛能解肌，寒能勝熱，味甘入脾，質剛而主降，備中土生金之體，色白通肺，性柔而含脂具金，能生水之用，入以為君。知母氣寒主降，苦以泄肺火，辛以潤腎燥，故為臣。甘草為中宮舟楫，能土中瀉火，寒藥得之緩其寒，使沉降之性皆得留連於胃。粳米氣味溫和稟容平之德，作甘稼穡，為後天養命之資。得此二味為佐陰寒之物，庶無傷胃損脾之慮。煮湯入胃，輸脾歸肺，水精四布，大煩大渴可除矣。白虎乃西方金神，取以名湯者，秋金得令而炎暑自解也。更加人參以補，承製石膏知母之寒，瀉火而土不傷，乃操萬全之術者。</p>
<p>德按：白虎本為達熱出表，若其脈浮弦而細者不可與也，脈沉細而微者不可與也，凡病雖有壯熱而無煩渴，汗不出者，知不在陽明，切勿誤與白虎，學者慎毋孟浪。</p>
<p><u>白虎加人參湯</u></p>
<p>石膏（一斤，碎綿裹）　知母（六兩）　甘草（二兩，炙）　粳米（六合）　人參（三兩）</p>
<p>上五味，以水一斗，煮米熟湯成，去滓，溫服一升，日三服。</p>
<p>王氏曰：陽明熱病化燥白虎加人參湯何也。石膏辛寒僅能散表熱，知母甘苦僅能降裡熱，甘草粳米僅能載藥留於中焦，若胃經熱久傷氣，氣虛不能生津者，必須人參養正回津而後，白虎湯乃能清化除燥。</p>
<p>柯氏曰：更加人參者，以氣為水母，邪之所湊，其氣必虛。陰虛則無氣，此大寒劑中必得人參之力以大補真陰，陰氣復而津液自生也。若壯熱之人，元氣未傷，津液未竭，不大渴者，只須滋陰以抑陽，不必加參而益氣。若元氣已虧者，但用純陰之劑，火去而氣無由生，惟加人參則火瀉而土不傷，又使金能得氣，斯立法之盡善歟。此方重在煩渴，是熱已入里，若無汗煩渴而表不解者，則是麻杏甘石證矣。</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉（三把）　石膏（一斤，碎綿裹）　麥門冬（一升）　人參（三兩）　半夏（半升，洗）　甘草（二兩，炙）　粳米（半升）</p>
<p>上六味以水一斗，煮取六升，去滓，內粳米煮米熟湯成，去米，溫服一升，日三服。</p>
<p>王氏曰：此湯分走手足兩經，而不悖於理者，以胃居中焦，分行津液於各臟，補胃瀉肺，有補母瀉子之義也。竹葉石膏麥冬瀉肺之熱，人參半夏炙草平胃之逆，復以粳米緩於中，使諸藥得成清化之功，是亦白虎越婢麥門冬三湯之變方也。</p>
<p>錢氏天來曰：竹葉性寒而止煩熱，石膏入陽明而清胃熱，半夏蠲飲而止嘔吐，人參補病後之虛，同麥冬而大添胃中之津液，又恐寒涼損胃，故用甘草和之，而又以粳米助其胃氣也。</p>
<p>周氏禹載曰：石膏最涼兼竹葉以清熱，則胃與小腸之邪俱去矣，半夏豁痰以止嘔，麥冬清肺以除煩，則中上二焦之邪俱降矣，惟甘草可生肌肉，粳米可益胃氣，正與虛羸少氣者相宜也。且傷寒，熱病也。即云解後其內蘊之熱未必全清，故以甘寒之品清熱補虛，此正為熱邪未全退之證而設，若用此以治虛羸則不可也。</p>
<p>德按：徐氏洄溪注曰：此仲景先生治傷寒愈後調養之方也。其法專於滋養肺胃之陰氣，以復津液，蓋傷寒雖六經傳遍而汗吐下三者皆肺胃當之。又《內經》云：人之傷於寒也，則為病熱。故滋養肺胃，歧黃以至仲景不易之法也。後之庸醫則用溫熱之藥峻補脾腎，而千聖相傳之精義消亡盡矣。</p>

<h2>程氏云鵬《慈幼筏》</h2>
<p><u>拔疔散</u></p>
<p>番滷砂　白丁香　蟾酥（酒化）　輕粉　大蜈蚣　全蠍（酒漂）　硃砂　雄黃（各一錢）　金頂砒（五分）　射香（三分）　乳香（六分）</p>
<p>共為細末，取活穿山甲，或甲中油，杵成膏，如麥粒大，針透疔根，插入一粒，候四邊裂縫，是疔根搖動，可拔去，若刺針無血，插藥乾枯，膿汁不變，終無生理。</p>
<p>德按：如無穿山甲鮮血，擬用炙甲片一錢代之。一方用金頂砒、大蜈蚣、人指甲、水鄉陳年久爛陰黴所剩舊木橋梁老杉木節煅為炭各等分研末，薄貼蓋之，其疔撥出即愈。</p>
<p>疔毒在肉如丁著木，必藉此毒烈之性方可拔出，此藥當預備以應急用。</p>
<p>許氏橡村曰：疔毒當服解毒之劑，外以銀針挑破，口含清水吸去惡血，才可敷藥，重者須用拔疔散，解毒之劑如連翹牛蒡子銀花甘草穭黑豆之類必加蒲公英、白菊花根二味，蒲公英化肌肉之毒，野白菊花治疔毒之聖藥也。</p>
<p>上編曰：方論</p>

<h2>喻氏《解後須知》</h2>
<p>喻氏嘉言曰：蓋凡人當感後身中之元氣已虛，身中之邪熱未淨，於此而補虛則熱不可除，於此而清熱則虛不能任，即一半補虛，一半清熱，終屬模糊不得要領。然舍補虛清熱，外更無別法。當細辨之。補虛有二法一補脾，一補胃。如瘧痢後脾氣衰弱飲食不能運化，宜補其脾。如傷寒後胃中津液久耗，新者未生，宜補其胃。二者有霄壤之殊也。清熱亦有二法：初病時熱為實熱，宜用苦寒藥清之，大病後之熱為虛熱宜用甘寒藥清之。二者亦霄壤之殊也。人身天真之氣全在胃口，津液不足即是虛，生津液即是補虛，故以生津之藥合甘寒清熱之藥而治感後之虛熱，如麥門冬生地黃牡丹皮人參梨汁竹瀝之屬，皆為合法。河間每用天水散以清虛熱，正取滑石甘草一甘一寒之義也。設誤投參耆苓朮補脾之藥為補，寧不並邪熱而補之乎。至於飲食之補，但取其氣不取其味，如五穀之氣以養之，五菜之氣以充之，每食之間便覺津津汗透，將身中蘊蓄之邪熱以漸運出於毛孔何其快哉。人皆不知此理，急於用肥甘之味以補之，不思油膩阻滯經絡，邪熱不能外出，久久充養完固，愈無出期矣。前哲有鑑於斯，寧食淡茹蔬使體暫虛，而邪易出乃為貴耳。</p>
<p>德按：《內經》曰：飲食自倍，腸胃乃傷。《物理論》云：穀氣勝元氣，其人肥而不壽。養生之術，常令穀氣少，則病不生。穀氣且然，況五味饜飫為五內之害乎。</p>
<p><u>龍集庚寅十二月望十六日辛亥寫成。</u></p>
