<header data-type="book">
<h1>傷寒雜病論集解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="張機">張機</data>著，<data value="林億">林億</data>等集解</dd></div>
<div><dt>朝代</dt><dd>漢</dd></div>
<div><dt>底本</dt><dd>日本鈔本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀000932–000934）</dd></div>
</dl>
</header>
