<header data-type="book">
<h1>脈學類編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>崔嘉彥</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
</dl>
</header>

<h1>《四言舉要類編》自序</h1>
<p>蓋夫《四言舉要》，出於月池翁，而其論原於崔真人，此推明《內經》一脈十變之法也。明五臟之平脈，分四季之時脈，通二十八之體狀，別奇經八脈交加中外之理。可謂脈法盡之矣。《脈要精微論》曰：微妙在脈，不可不察。趙王曰：神存於心手之間，蓋其難也。易氏曰：九竅皆見於外者，觀其證之變，而有通塞之二候。九臟皆藏於內者，察其脈之動靜，而有浮中沉三部。嗚呼！其要微矣。余念上古良醫治疾，未有不先診脈者，自岐黃已然，辨人鬼，別男女，特其粗爾。微芒呼吸之間，而生死輕重系焉，如診病人之色不變，而在死法中，此脈病而形不病也。故曰無數者同之，有數者異之，苟不明乎脈法，則同者多矣。叔和曰：天雨下降，溝渠溢滿，聖人不能圖也；脈絡流溢，諸經不能復拘也。然則經脈明而諸證無不可察，亦可窮吾治之方矣。所見諸家脈訣行於世者，而世本絕不及《四言舉要》之精切也。予讀而珍之，推為脈法之全。蓋啟《內經》之鑰，倒軒岐之篋，盡出其秘，以示人。而惜乎人之都不知讀，豈不能讀耶？能讀之者，止李延、劉淵二賢，而不無歧解，非倒亂失次，即荒唐間雜，而其注又多有不善，以致脈學愈闡愈昧，求脈之道，愈超愈蹶，良由不解活法推源之故，因是類編注解，庶學者披卷瞭然，是為序。</p>
<p>（同治四年歲次乙丑仲秋　玄庵山人謹書）</p>

<h1>考證諸書目</h1>
<p>黃帝素問　崔真人脈訣　孫真人千金方論</p>
<p>扁鵲難經　劉宗厚論證　李東垣醫學發明</p>
<p>華佗脈經　陳無擇論經　通真子脈要新括</p>
<p>金匱方論　朱丹溪論證　黎文濤決脈精要</p>
<p>張氏類經　楊仁齋脈論　張仲景傷寒論注</p>
<p>得效方論　王叔和脈經　戴同父脈訣刊誤</p>
<p>巢氏病源　潘碩甫論脈　太倉公生死秘要</p>
<p>聖濟經解　靈樞經　柳氏論證</p>

<h1>脈學類編</h1>
<p>類編名義：類編者，合兩篇而匯其類，所以簡而明也。兩篇者，《崔紫虛脈訣》、《李瀕湖脈學》，總曰《舉要》。舉者，舉其提綱挈領，包源若一之法。要者，其玄秘，須知精粹總括之妙。操觚者，執是編而習之，則庶乎其不差矣。</p>

<h2>舉要</h2>
<p>脈乃血脈，氣血之先，血之隧道，氣息應焉。</p>
<p>（脈者氣血之神，邪正之鑑也。有諸中必形諸外，華元化曰：氣血盛則脈盛，氣血衰則脈衰；氣血熱則脈數，氣血寒則脈遲；氣血弱則脈微，氣血平則脈緩是也。潘石甫曰：人身之血，猶夫水也；血中之脈，猶夫派也。派通則水源活，脈通則氣血行。隧，伏道也，脈行伏道之中，其行也以息往來。然非呼吸不能行，故曰氣息應焉。）</p>
<p>其象法地，血之府也，心之合也，皮之部也。</p>
<p>（脈者，如水潛行地中之象也。經曰：脈者血之府也。心主血而合脈，惟外可見者，如手魚之絡屬陽明，此皮之部也。其色多青則痛，多黑則痹，黃赤則熱，多白則寒，五色互見，則主寒熱也。）</p>
<p>資始於腎，資生於胃。</p>
<p>（脈由氣血而賦形者也，其水穀日進，脾胃醞釀，化其精微而為血，注之於脈，潛滋暗長，脈道得以充實，豈非資生於胃乎？熟腐水穀，遊溢精氣，全賴命門，一點真陽，豈非資生於腎乎？）</p>
<p>陽中之陰，本乎營衛。營者陰血，衛者陽氣，營行脈中，衛行脈外，脈不自行，隨氣而至，氣動脈應，陰陽之平，氣如橐籥，血如波瀾。血脈氣息，上下循環。</p>
<p>（脈者非氣非血，其猶氣血之橐籥也，如大波之渙瀾也。營屬陰而主裡，衛為陽而主表，故營在脈中，衛在脈外。是以經脈流通，必由乎氣，相隨上下，運行不息，而形體得以常存者，亦藉此之榮也。　）</p>
<p>十二經中，皆有動脈，惟手太陰寸口處決，此經屬肺，上至魚際，脈之大會，息之出入，一呼一息，四至為息。</p>
<p>（《難經》曰：十二經中，皆有動脈，獨取寸口，以決夫五臟六腑死生吉凶之法，何謂也？曰：寸口者脈之大會，五臟六腑之所以終始也。出氣曰呼，入氣曰吸，一呼一吸，總名一息四至也。）</p>
<p>十二時辰，三千五百，一呼一吸，脈行六寸，日夜不停，病為取缺。</p>
<p>（十二辰，即十二支也，在月為建，在日為時，日以百刻為度，每一刻脈行一百三十五息，十刻脈行一千三百五十息，百刻脈行一萬三千五百息。人之宗氣，積於胸中，以行呼吸而通經脈也。凡一呼一吸，是為一息。脈氣行六寸，十息脈氣行六尺。其日行之數，當以周天二十八宿，宿，三十六分相因，以每日共得一千零八分之數為實，以一萬三千五百息為法，除之則每十息，日行止七釐四毫六絲六忽不盡，此晝夜水漏下百刻之數，亦合人身脈度也。）</p>
<p>初持脈時，令仰其掌，掌後高骨，是為關上，關前為陽，關後為陰，陽寸陰尺，先後推尋。</p>
<p>（持診也，要診他人之脈，令仰其掌，以中指診彼掌後高骨之間，是為關上，次下食指於關前，名曰寸口，再下無名指於關後，名曰尺澤。關前為陽，脈得寸內九分而浮，關後為陰，脈得尺內一寸而沉。以關在其中矣，其所以云尺寸者，以內外本末，對待為言，而分其右也。）</p>
<p>心肝居左。</p>
<p>（心脈居左寸，肝脈居左關。）</p>
<p>脾肺居右。</p>
<p>（肺脈居右寸，脾脈居右關。）</p>
<p>腎與命門，居兩尺部。</p>
<p>（腎有兩枚，分居兩尺部，其中命門者，付診於右尺也。）</p>
<p>其魄與神，皆見寸口，左主司宮，右主司府。</p>
<p>（《脈要精微論》曰：左外以候心，心藏神者也。內以候膻中，膻中者，心之宮城也。右外以候肺，肺藏魄者也。內以候胸中，胸中者肺之府也。</p>
<p>左大順男，右大順女，本命扶合，男左女右。）</p>
<p>男子為陽，左亦為陽，女子為陰，右亦為陰，故男脈左手偏大為順，女脈右手偏大為順。關前一分，入命之主，左為人迎，右為氣口。</p>
<p>（《靈樞·終始篇》曰：陰者主臟，陽者主腑，陽受氣於四末，陰受氣於五臟，持其氣口人迎，以知陰陽有餘不足，平與不平，天道舉矣。《內經》以人迎之脈察六腑之陽，氣口之脈察五臟之陰。《太陰陽明論》曰：太陰為之行氣於三陰，陽明為之行氣於三陽，皆言人迎為陽明之腑脈，故主乎於表。氣口為太陰之臟脈，故主乎里。蓋上古診法有三，一以三部九候，以診通身之病；一以太陰陽明，以診臟腑之氣；一以人迎氣口，以診陰陽之本也。）</p>
<p>腎命決斷，兩在關後，人無二脈，病死不愈。</p>
<p>（關後尺部也，二尺之間命門也。經曰：七節之旁，中有小心，正此之謂也。其中所藏，而蓄坎離之交媾，為生氣之海，為元陽之竇，闢精血於子宮，司人生之壽夭。華元化曰：腎者精神之舍，性命之根。《十四難》曰：人有兩尺脈，如樹有根；人無兩尺脈，如樹之無根矣。）</p>
<p>男女脈同，惟尺則異，陽弱陰盛，反此病至。</p>
<p>（男女脈同，同於定位，惟尺則異，異於生育。男子為陽，脈當寸強尺弱；女子為陰，脈當寸微尺盛，反此則病。）</p>
<p>脈有七診，曰浮中沉，上下左右，消息求尋。</p>
<p>（七診者，然九候之中，而復有七診之法也，如獨大獨小，獨疾獨遲，獨熱獨寒，獨陷下者，皆病脈也。謂其或在上或在下，或在左或在右之不同也。）</p>
<p>又有九候，舉按輕重，三部浮沉，各候五動。</p>
<p>（《十八難》曰：三部者，寸、關、尺也；九候者，浮、中、沉也。診脈惟在指法之巧，曰舉曰按曰尋，大法輕手循之曰舉，重手取之曰按，不輕不重，委曲求之曰尋。人臂長當疏排指，人臂短當密排指。五動者當從心肺俱浮，肝腎俱沉，脾在中州，則與叔和之守寸關尺，寄位以候五臟六腑者，正有相成之妙。）</p>
<p>寸候胸上。</p>
<p>（寸主上焦，故候胸膈以上至頭之有疾。）</p>
<p>關候膈下。</p>
<p>（關主中焦，故候胸膈以下至臍之有疾。）</p>
<p>尺候於臍，下至跟踝。</p>
<p>（尺主下焦，故候於臍以下至足有疾。）</p>
<p>左脈候左，右脈候右，病隨所在，不病者否。</p>
<p>（《難經》曰：脈有逆順，男女有恆而反者何謂也？然男子生於寅，寅屬木陽也。女子生於申，申屬金陰也，故男脈在關上，女脈在關下，是以男子尺脈恆弱，女子尺脈恆盛，是其常也。反者，男得女脈，女得男脈也。男得女脈為不足，病在內（也），左得之病在左，右得之病在右，隨脈言之也。女得男脈為太過，病在四肢，左得之病在左，右得之病在右，隨脈言之，此之謂也。按寅申之說，他書無考，推越人之意，倘亦以男為陽為火，而火生在寅。女為陰為水，而水生於在申云耳。火炎上，故男脈盛在關上，水潤下，故女脈盛在關下也。男得女脈者，謂寸弱而尺盛，此謂不足，病在內也。女得男脈者，謂寸盛而尺弱，此謂太過，病在四肢，非病在外之說也。蓋男子以陽為主，女子以血本，非男女經脈有別也，從其陰陽，以察其盛衰也。）</p>
<p>浮為心肺。</p>
<p>（浮脈屬陽，心為陽中之陽，肺為陽中之陰。）</p>
<p>沉為腎肝。</p>
<p>（沉脈屬陰，腎為陰中之陰，肝為陰中之陽。）</p>
<p>脾胃中州，浮沉之間。</p>
<p>（脾胃屬土，土居中也，浮沉之間，陰陽和平之脈也。謂浮中沉，候五臟之說，本乎天者親上，本乎地者親下。心肺居於至高之分，故應乎浮，肝腎處乎至陰之位，故應乎沉，脾胃在中，不離中部，大都脈代時宜，無太過無不及，自有一種雍容和緩之狀，便是胃氣之脈。）</p>
<p>心脈之浮，浮大而散。</p>
<p>（心合脈，心脈循血而行，脈者指法如六菽之重，按至血脈而得為浮，稍加力脈道粗者為大。又稍加力，脈道濡潤者為散，乃心之帶胃氣而神應者也。）</p>
<p>肺脈之浮，浮澀而短。</p>
<p>（肺合皮毛，肺脈循皮毛而行，脈者指法如三菽之重，按至皮毛而得為浮，稍稍加力，脈道不利為澀。又稍加力，脈道不及本位為短，乃肺之帶胃氣而神應者也。）</p>
<p>肝脈之沉，沉而弦長。</p>
<p>（肝合筋，肝脈循筋而行，脈者指法如十二菽之重，按至筋而得為沉，稍加力脈道如箏弦者為弦，次稍加力，脈道迢迢者為長，乃肝之帶胃氣而神應者也。）</p>
<p>腎脈之沉，沉滑而濡。</p>
<p>（腎合骨，腎脈循骨而行，脈者指法如十五菽之重，按至骨而得為沉，舉指來疾流利者為滑，次重按之，脈道無力為濡，乃腎之帶胃氣而神應者也。）</p>
<p>脾胃屬土，脈宜和緩。</p>
<p>（脾胃合肌肉，脾胃脈循肌肉而行，脈者指法如九菽之重，按至肌肉而得，一種雍容和緩之氣，乃胃氣之常而神應者也。）</p>
<p>命為相火，左寸同斷。</p>
<p>（命門名相火，付診於右尺，而左寸心脈也。《靈蘭秘典》曰：膻中者臣使之官，喜樂出焉。今考心胞，臟居［鬲］（膈）上，經始胸中，正值膻中之所，位居相火，代君行事，實臣使也。《內經》發明火義，而以君相明位四字為目，此四字個個著實，是誠至道之綱領，有不可不闡揚其精義者，亦何以見之。蓋君道惟神，其用在虛，相道惟力，其用在實，故君之能神者，以其明也，相之能力者，以其位也。明者明於上，為化育之元主。位者位於下，為神明之洪基，此君相相成之大道，而有此天不可無此地，有此君不可無此相也，明矣。）</p>
<p>春弦夏洪，秋毛冬石，四季和緩，是為平脈，太過實強，病生於外，不及虛微，病生於內。</p>
<p>（春弦者肝脈也，東方木也，萬物之所以始生也，其氣來軟弱，輕虛而滑，端直以長，故曰弦。反此者病，其氣來實而強，此謂太過病在外，其氣來不實而微，此謂不及病在中。夏洪者心脈也，南方火也，萬物之所以盛長也。其氣來盛去衰故曰洪，反此者病。其氣來盛去亦盛，此謂太過病在外，其氣來不盛去反盛，此謂不及病在中。</p>
<p>秋毛者肺脈也，西方金也，萬物之所以收成也。其氣來輕虛以浮，來急去散，故曰毛，反此者病。其氣來毛，而中央堅兩傍虛，此謂太過病在外。其氣來毛而微，此謂不及病在中。</p>
<p>冬石者腎脈也，北方水也，萬物之所以合藏也。其氣來沉而堅搏，故曰石，反此者病。其氣來如彈石，此謂太過病在外，其氣來如數者，此謂不及病在中。）</p>
<p>春得為秋脈，死在金日，五臟准此，推之不失。</p>
<p>（人之臟氣喜所生，而畏所克，如春令肝臟木旺之時，其脈當弦長，今反浮澀而短，是金來剋木。［期］（其）在庚申辛酉日，金旺之時必死，餘臟仿此。）</p>
<p>四時百病，胃氣為本。</p>
<p>（人生所賴者水穀，故胃氣以水穀為本。《終始篇》曰：邪氣來也緊而疾，穀氣來也徐而和，是皆胃氣之謂。）</p>
<p>脈貴有神，不可不審，調停自氣，呼吸定息。四至五至，平和之則，三至為遲，遲則為冷，六至為數，數則為熱，轉遲轉冷，轉數轉熱。</p>
<p>（醫家調息之法，以自己呼吸而定他人之脈也。其法以一呼脈再動，一吸脈亦再動，呼吸定息，總名一息四至。閏以太息，謂之五至也。東垣曰：不病之脈，不求其神，而神無不在也。有病之脈，則當求其神，如六數七疾熱也。脈中有力，即有神矣，為泄去其熱則愈。三遲二損寒也，脈中有力，即有神矣，為散去其寒則安。若無力即無神矣，何以泄熱而散寒乎？苟不知此，而泄去之散去之，神將何恃而生耶！）</p>
<p>遲數既明，浮沉分別。</p>
<p>（此診脈辨證之法也，如上文遲數既明，則當別浮沉表裡，相兼之用。如浮數表熱，沉數里熱，浮遲表虛，沉遲冷結，可謂脈法得之耳。）</p>
<p>浮沉遲數，辨內外因，外因於天，內因於人，天有陰陽，風雨晦明，人喜憂怒，思悲恐驚。</p>
<p>（外因於天者，天有六氣，謂寒暑燥濕風火是也。內因於人者，如《陰陽應象大論》曰：心在志為喜，肝在志為怒，脾在志為思，肺在志為憂，腎在志為恐。此外尚有病悲者，曰肝悲哀動里則傷魂，悲傷於肝也。有病為驚者，曰東方色青，入通於肝，其病發驚駭，以肝應東方風木，風主震動，而連乎膽也。有曰陽明所謂甚則厥。聞木音則惕然而驚者，肝邪乘胃也。有曰驚則心無所倚，神無所歸者，心神散失也。此肝、膽、胃、心，皆能病於驚也。由此觀之，是情志之所傷，雖五臟各有所主，然其所由，則無不從心而發。《本神篇》曰：心怵惕思慮由則傷神，神傷則恐懼自失。《邪氣臟腑病形篇》曰：憂愁恐懼則傷心。《口問篇》曰：悲哀憂愁則心動，心動則五臟六腑皆搖，可見心為五臟六腑之大主，而總統魂魄，兼該志意，故憂動於心則肺應，思動於心則脾應，怒動於心則肝應，恐動於心則腎應，所以五志惟心所使也。設能善養其心，居處安靜，無為懼懼，無為欣欣，婉然從物，讓而不爭，與時變化，空諸所礙，則志意順，精神專值，悔怒不起，魂魄不散，五臟調和，邪亦安從奈我哉！）</p>
<p>外因之浮，則為表證，沉里遲陰，數則陽盛。</p>
<p>（浮則為表，沉則為里，遲則為陰，數則為陽，此外因之綱領也。）</p>
<p>內因之浮，虛風所為，沉氣遲冷，數熱何疑？</p>
<p>（仲景曰：風則浮虛，沉潛水蓄，遲則為冷，數則熱煩，此內因之綱領也。</p>
<p>浮數表熱，沉數里熱，浮遲表虛，沉遲里結，表裡陰陽，風氣冷熱，辨外內因，脈證參別。脈理浩繁，總括於四，既得提綱，引申觸類。</p>
<p>浮沉遲數，乃脈之綱領也。總結上文，下引《李瀕湖脈學》詩抄八十二首。）</p>
<p>浮脈法天，輕手可得，汛汛在上，如水漂木。</p>
<p>浮脈（陽）</p>
<p>（浮脈舉之有餘，按之不足《脈經》。如微風吹鳥背上毛，厭厭聶聶，如循榆莢《素問》。如水漂木崔氏，如捻蔥葉黎氏。</p>
<p>浮脈法天，有輕清在上之象，在卦為乾，在時為秋，在人為肺。</p>
<p>《體狀詩》：浮脈惟從肉上行，如循榆莢似毛輕，三秋得令知無恙，久病逢之卻可驚。</p>
<p>《相類詩》：浮如木在水中浮，浮大中空乃是芤，拍拍而浮是洪脈，來時雖盛去時悠。</p>
<p>浮脈輕平似捻蔥，虛來遲大豁然空，浮而柔細方為濡，散似楊花無定蹤。</p>
<p>《主病詩》：浮脈為陽表病居，遲風數熱緊寒拘，浮而有力多風熱，無力而浮是血虛。</p>
<p>寸浮頭痛眩生風，或有風痰聚在胸，關上土衰兼木旺，尺中溲便不流通。）</p>
<p>有力洪大，來盛去悠。</p>

<h2>洪脈（陽）</h2>
<p>（洪脈指下極大《脈經》，來盛去衰《素問》，來大去長通真子。）</p>
<p>洪脈在卦為離，在時為夏，在人為心，《素問》謂之大，亦曰鉤。滑氏曰：來盛去衰，如鉤之曲，上而復下，應血脈來去之象，像萬物敷布下垂之狀。</p>
<p>《體狀詩》：脈來洪盛去還衰，滿指滔滔應夏時，若在春秋冬月分，升陽散火莫狐疑。</p>
<p>《相類詩》：洪脈來時拍拍然，去衰來盛似波瀾，欲知實脈參差處，舉按弦長愊愊堅。</p>
<p>《主病詩》：脈洪陽盛血應虛，相火炎炎熱病居，脹滿胃翻須早治，陰虛泄痢可愁虞。</p>
<p>寸洪心火上焦炎，肺脈洪時金不堪，肝火胃虛關內察，腎虛陰火尺中看。）</p>
<p>無力虛大，遲而且柔。</p>

<h2>虛脈（陰）</h2>
<p>虛脈遲大而軟，按之無力，隱指豁豁然空《脈經》。</p>
<p>《體狀相類詩》：舉之遲大按之松，脈狀無涯類谷空，莫把芤虛為一例，芤來浮大似慈蔥。</p>
<p>《主病詩》：脈虛身熱為傷暑，自汗怔忡驚悸多，發熱陰虛須早治，養營益血莫蹉跎。</p>
<p>血不營心寸口虛，關中腹脹食難舒，骨蒸痿痹傷精血，卻在腎門兩尺居。</p>
<p>虛甚則散，渙漫不收。</p>

<h2>散脈（陰）</h2>
<p>散脈大而散，有表無里《脈經》，渙漫不收崔氏，無統紀，無拘束，至數不齊，或來多去少，或去多來少，渙散不收，如楊花散漫之象，產婦得之生，孕婦得之墮柳氏。</p>
<p>戴同父曰：心脈軟散怔忡，肺脈軟散汗出，肝脈軟散溢飲，脾脈軟散跗腫，此皆病脈也。腎脈軟散，諸病脈代散，死脈也。</p>
<p>《體狀詩》：散似楊花散漫飛，去來無定至難齊，產為生兆胎為墮，久病逢之不必醫。</p>
<p>《相類詩》：散脈無拘散漫然，濡來浮細水中綿，浮而遲大為虛脈，芤脈中空有兩邊。</p>
<p>《主病詩》：左寸怔忡右寸汗，溢飲左關應軟散，右關軟散胻［胕］（跗）腫，散居兩尺魂應斷。</p>
<p>有邊無中，其名曰芤。</p>

<h2>芤脈（陽中陰）</h2>
<p>芤脈浮大而軟，按之中央空兩邊實《脈經》。中空外實，狀如慈蔥《素問》。戴同父曰：營行脈中，脈以血為形，芤脈中空脫血之象也。</p>
<p>《體狀詩》：芤形浮大軟如蔥，按之傍有中央空，火犯陽經血上溢，熱侵陰絡下流紅。</p>
<p>《相類詩》：中空傍實乃為芤，浮大而遲虛脈呼，芤更帶弦名曰革，血亡空革血虛虛。</p>
<p>《主病詩》：寸芤積血在於胸，關上逢芤腸胃癰，尺部見之多下血，赤淋紅痢漏崩中。</p>
<p>浮小為濡，綿浮水面。</p>

<h2>濡脈（陰）</h2>
<p>濡（音軟）脈極軟而浮細，如綿在水中，輕手相得，按之無有《脈經》。</p>
<p>《體狀詩》：濡形浮細按之輕，水面浮綿力不禁，病後產中猶百藥，平人若見是無根。</p>
<p>《相類詩》：浮而柔細知為濡，沉細而柔作弱持，微則浮微如散絕，細來沉細近於微。</p>
<p>《主病詩》：濡為亡血陰虛病，髓海丹田暗已虧，汗雨夜來蒸入骨，血山崩倒濕傷脾。</p>
<p>寸濡陽微自汗多，關中其奈氣虛何，尺傷精血虛寒甚，溫補真陰可起疴。</p>
<p>濡甚則微，不任尋按。</p>

<h2>微脈（陰）</h2>
<p>微脈極細而軟，按之如欲絕，若有若無《脈經》，細而稍長戴氏，氣虛微則脈微《素問》。</p>
<p>《體狀相類詩》：微脈輕微瞥瞥乎，按之欲絕有如無，微為陽弱細陰弱，細比於微略較粗。</p>
<p>《主病詩》：氣血微兮脈亦微，惡寒熱汗淋漓，男為勞極諸虛候，女作崩中帶下醫。</p>
<p>寸微氣促或心驚，關脈微時脹滿形，尺部見之精血弱，惡寒消癉痛呻吟。</p>
<p>沉脈法地，近於筋骨。</p>

<h2>沉脈（陰）</h2>
<p>沉脈重手按至筋骨乃得《脈經》，如石投水，必極其底。</p>
<p>沉脈法地，有淵源在下之象，在卦為坎，在時為冬，在人為腎。</p>
<p>《體狀詩》：水行潤下脈來沉，筋骨之間軟滑勻，女子寸兮男子尺，四時如此號為平。</p>
<p>《相類詩》：沉幫筋骨自調勻，伏則推筋著骨尋，沉細如綿真弱脈，弦長實大是牢形。</p>
<p>《主病詩》：沉潛水蓄陰經病，數熱遲寒滑有痰，無力而沉虛與氣，沉而有力積兼寒。</p>
<p>寸沉痰鬱水停胸，關主中寒痛不通，尺部濁遺並泄痢，腎虛腰及下元痌。</p>
<p>深深在下，沉極為伏。</p>

<h2>伏脈（陰）</h2>
<p>伏脈重按著骨，指下裁動《脈經》，脈行筋下刊誤。</p>
<p>《體狀詩》：伏脈推筋著骨尋，指間裁動隱然深，傷寒欲汗陽將解，厥逆臍疼證屬陰。</p>
<p>《相類詩》：見沉脈。</p>
<p>《主病詩》：伏為霍亂吐頻頻，腹痛多緣宿食停，蓄飲老痰成積聚，散寒溫里莫因循。</p>
<p>食鬱胸中雙寸伏，欲吐不吐常兀兀，當關腹痛困沉沉，關後疝痛還破腹。</p>
<p>有力為牢，實大弦長。</p>

<h2>牢脈（陰中陽）</h2>
<p>牢脈似沉似伏，實大而長微弦《脈經》。</p>
<p>《體狀相類詩》：弦長實大脈牢堅，牢位常居沉伏間，革脈芤弦自浮起，革虛牢實要詳看。</p>
<p>《主病詩》：寒則牢堅里有餘，腹心寒痛木乘脾，疝㿗癥瘕何愁也，失血陰虛卻忌之。</p>
<p>牢甚則實，愊愊而強。</p>

<h2>實脈（陽）</h2>
<p>實脈浮沉皆得，脈大而長，微弦應指然《脈經》。</p>
<p>《體狀詩》：浮沉皆得大而長，應指無虛愊愊弦，熱蘊三焦成壯火，通腸發汗始安康。</p>
<p>《相類詩》：實脈浮沉有力強，緊如彈索轉無常，須知牢脈幫筋骨，實大微弦更帶長。</p>
<p>《主病詩》：實脈為陽火鬱成，發狂譫語吐頻頻，或為陽毒或傷食，大便不通或氣疼。</p>
<p>寸實應知面熱風，咽疼舌強氣填胸，當關脾熱中宮滿，尺屬腰腸痛不通。</p>
<p>無力為弱，柔小如綿。</p>

<h2>弱脈（陰）</h2>
<p>弱脈極軟而沉細，按之乃得，舉手無有《脈經》。</p>
<p>《素問》曰：脈弱以滑，是有胃氣，脈弱以澀是謂久病，病後老弱見之順，平人少年見之逆。</p>
<p>仲景曰：陽陷入陰，故惡寒發熱，弱主筋，沉主骨，陽浮陰弱，血虛筋急。</p>
<p>柳氏曰：氣虛則弱，寸弱陽虛，尺弱陰虛，關弱胃虛。</p>
<p>《體狀詩》：弱來無力按之柔，柔細而沉不見浮，陽陷入陰精血弱，白頭猶可少年愁。</p>
<p>《相類詩》：見濡脈。</p>
<p>《主病詩》：弱脈陰虛陽氣衰，惡寒發熱筋骨痿，多驚多汗精神減，益氣調營急早醫。</p>
<p>寸弱陽虛病可知，關為胃弱與脾衰，欲求陽陷陰虛病，須把腎門兩尺推。</p>
<p>弱甚則細，如蛛絲然。</p>

<h2>細脈（陰）</h2>
<p>細脈小於微，而常有細直而軟，若絲線之應指《脈經》，《素問》謂之小。</p>
<p>《體狀詩》：細來累累細如絲，應指沉沉無絕期，春夏少年俱不利，秋冬老弱卻相宜。</p>
<p>《相類詩》：見微濡。</p>
<p>《主病詩》：細脈縈縈血氣衰，諸虛勞極七情乖，若非濕氣侵腰腎，即是傷精汗泄來。</p>
<p>寸細應知嘔吐頻，入關腹脹胃虛形，尺逢定是丹田冷，泄痢遺精號脫陰。</p>
<p>遲脈屬陰，一息三至。</p>

<h2>遲脈（陰）</h2>
<p>遲脈一息三至，去來極慢《脈經》，遲為陽不勝陰，故脈來不及。</p>
<p>《體狀詩》：遲來一息至惟三，陽不勝陰氣血寒，但把浮沉分表裡，消陰須益火之源。</p>
<p>《相類詩》：脈來三至號為遲，小駃於遲作緩持，遲細百難知是澀，浮而遲大以虛推。</p>
<p>《主病詩》：遲司臟病或多痰，沉痼癥瘕仔細看，有力而遲為冷痛，遲而無力定虛寒。</p>
<p>寸遲必是上焦寒，關主中寒痛不堪，尺是腎虛腰腳重，溲便不禁疝牽丸。</p>
<p>少駃於遲，緩不及四，二損一敗，病不可治，兩息奪精，脈已無氣。</p>

<h2>緩脈（陰）</h2>
<p>緩脈去來，少駃於遲《脈經》，一息四至戴氏，如絲在經，不卷其軸，應指和緩，往來甚勻張太素，如微風輕颭柳［稍］（梢）滑伯仁，如初春楊柳舞風之象楊玄操。</p>
<p>緩脈在卦為坤，在時為四季，在人為脾，陽寸陰尺，上下同等，浮大而軟，無有偏勝者平脈也。</p>
<p>《體狀詩》：緩脈阿阿四至通，柳［稍］（梢）嫋嫋颭輕風，欲從脈里求神氣，只在從容和緩中。</p>
<p>《相類詩》：見遲脈。</p>
<p>《主病詩》：緩脈營里衛有餘，或風或濕或脾虛，上為項強下痿痹，分別浮沉大小軀。</p>
<p>寸緩風邪項背拘，關為風眩胃家虛，腎門濡泄或風秘，或是蹣跚足力迂。</p>
<p>浮大虛散，或見芤革。</p>

<h2>革脈（陰）</h2>
<p>革脈弦而芤仲景，如按鼓皮丹溪，時珍曰：此即芤弦二脈相合，故均主失血之候。</p>
<p>《體狀主病詩》：革脈形如按鼓皮，芤弦相合脈寒虛，女人半產並崩漏，男子營虛或夢遺。</p>
<p>《相類詩》：見芤牢。</p>
<p>浮小濡微，沉小細弱，遲細為澀，往來極難，易散一止，止而復還。</p>

<h2>澀脈（陰）</h2>
<p>澀脈細而遲，往來難，短且散，或一止復來《脈經》，參伍不調《素問》，如輕刀刮竹《脈訣》，如雨沾沙通真子，如病蠶食葉。</p>
<p>澀主血少精傷之病，女人有孕為胎病，無孕為敗血。</p>
<p>《體狀詩》：細遲短澀往來難，散止依稀應指間，如雨沾沙容易散，病蠶食葉慢而艱。</p>
<p>《相類詩》：參伍不調名曰澀，輕刀刮竹短而難，微似秒芒微軟甚，浮沉不別有無間。</p>
<p>《主病詩》：澀緣血少或傷精，翻胃亡陽汗雨淋，寒濕入營為血痹，女人非孕即無經。</p>
<p>寸澀心虛痛背胸，胃虛脅脹察關中，尺為精血俱傷候，腸結溲淋或下紅。</p>
<p>結則來緩，止而復來。</p>

<h2>結脈（陰）</h2>
<p>結脈往來，緩時一止復來《脈經》。</p>
<p>越人曰：結甚則積甚，結微則積微，浮結外有痛積，伏結內有積聚，結主陰盛之病。</p>
<p>《體狀詩》：結脈緩而時一止，獨陰偏盛欲亡陽，浮為氣滯沉為積，汗下分明在主張。</p>
<p>《相類詩》：見代脈。</p>
<p>《主病詩》：結脈皆因氣血凝，老痰結滯苦沉吟，內生積聚外癰腫，疝瘕為殃病屬陰。</p>
<p>代則來緩，止不能回。</p>

<h2>代脈（陰）</h2>
<p>代脈動而中止，不能自還，因而復動仲景，脈至還入尺，良久方來吳氏。</p>
<p>《體狀詩》：動而中止不能還，復動因而作代看，病後得之猶可療，平人卻與壽相關。</p>
<p>《相類詩》：數而時止名為促，緩止須將結脈呼，止不能回方是代，結生代死自殊途。</p>
<p>《主病詩》：代脈原因臟氣衰，腹疼泄痢下元虧，或為吐瀉中宮病，女子懷胎三月兮。</p>
<p>數脈屬病，六至一息，七疾八極，九至為脫。</p>

<h2>數脈（陽）</h2>
<p>數脈一息六至《脈經》，脈流薄疾《素問》，數為陰不勝陽，故脈來太過，浮沉遲數，脈之綱領，《素問》、《脈經》皆為正脈。</p>
<p>《體狀詩》：數脈息間常六至，陰微陽盛必狂煩，浮沉表裡分虛實，惟有兒童作吉看。</p>
<p>《相類詩》：數比平人多一至，緊來如數似彈繩，數而時止名為促，數見關中動脈形。</p>
<p>《主病詩》：數脈為陽熱可知，只將君病火來醫，實宜涼瀉虛溫補，肺病秋深卻畏之。</p>
<p>寸數咽喉口舌瘡，吐紅咳嗽肺生瘍，當關胃火併肝火，尺屬滋陰降火湯。</p>
<p>浮大者洪，沉大牢實，往來流利，是謂之滑。</p>

<h2>滑脈（陽中陰）</h2>
<p>滑脈往來流利，展轉替替然，如珠之應指《脈經》，漉漉如欲脫。</p>
<p>《體狀相類詩》：滑脈如珠替替然，往來流利卻還前，莫將滑數為同類，數脈惟看息至間。</p>
<p>《主病詩》：滑脈為陽元氣衰，痰生百病食生災，上為吐逆下蓄血，女脈不調定有胎。</p>
<p>寸滑膈痰生嘔吐，吞酸舌強或咳嗽，當關宿食肝脾熱，濁痢㿗淋看尺部。</p>
<p>有力為緊，彈如轉索。</p>

<h2>緊脈（陽）</h2>
<p>緊脈往來有力，左右彈人手《素問》，數如切繩《脈經》，如轉索無常仲景，如紉簞絲丹溪。諸緊為寒為痛，人迎緊盛傷於寒，氣口緊盛傷於食，尺緊痛居其腹，沉緊疾在其腰。</p>
<p>《體狀詩》：舉如轉索切如繩，脈象因之得緊名，總是寒邪來作寇，內為腹痛外腰疼。</p>
<p>《相類詩》：見弦實。</p>
<p>《主病詩》：緊為諸痛主於寒，喘咳風癇吐冷痰，浮緊表寒鬚髮越，緊沉溫里自然安。</p>
<p>寸緊人迎氣口分，當關心腹痛沉沉，尺中有緊為陰冷，定是奔豚與疝疼。</p>
<p>數見寸口，有止為促。</p>

<h2>促脈（陽）</h2>
<p>促脈來去數時一止復來《脈經》，如蹶之趣，徐疾不常黎氏。促主陽盛之病，促結之因，皆有氣血痰鬱飲食五者之別，一有留滯，則脈必見止矣。</p>
<p>《體狀詩》：促脈數而時一止，此為陽極欲亡陰，三焦鬱火炎炎盛，進必無生退可去。</p>
<p>《相類詩》：見代脈。</p>
<p>《主病詩》：促脈惟將火病醫，其因有五細推之，時時喘咳皆痰積，或發狂斑與毒疽。</p>
<p>數見關中，動脈可候，厥厥動搖，狀如小豆。</p>

<h2>動脈（陽）</h2>
<p>動脈乃數脈見於關，上下無頭尾，如豆大厥厥動搖《脈經》。</p>
<p>仲景曰：動則為痛為驚，陰陽相搏名曰動，陽動汗出，陰動發熱，形冷惡寒，此三焦傷也。</p>
<p>成無已曰：陰陽相搏，則虛者動，故陽虛則陽動，陰虛則陰動。</p>
<p>龐安常曰：關前三分為陽，關後三分為陰，關位半陰半陽，故動隨虛見。</p>
<p>《素問》曰：陰虛陽搏謂之崩。</p>
<p>《體狀詩》：動脈搖搖數在關，無頭無尾豆形圓，其原本是陰陽搏，虛者搖兮勝者安。</p>
<p>《相類詩》：見數脈。</p>
<p>《主病詩》：動脈專司痛與驚，汗因陽動熱因陰，或為泄痢拘攣病，男子遺精女子崩。</p>
<p>長則氣治，過於本位。</p>

<h2>長脈（陽）</h2>
<p>長脈不大不小，迢迢自若朱氏，如循長竿末［稍］（梢）為平，如引繩為病《素問》。</p>
<p>《體狀相類詩》：過於本位脈名長，弦則非然但滿張，弦脈與長爭較遠，良工尺度自能量。</p>
<p>《主病詩》：長脈迢迢大小勻，反常為病似牽繩，若非陽毒癲癇病，即是陽明熱勢深。</p>
<p>長而端直，弦脈應指。</p>

<h2>弦脈（陽中陰）</h2>
<p>弦脈端直以長《素問》，如張弓弦《脈經》，狀若箏弦《脈訣》，按之不移綽綽，如按琴瑟弦巢氏，從中直過，挺然指下刊誤。</p>
<p>戴同父曰：弦而軟其病輕，弦而硬其病重，一手見曰單絃，兩手見曰雙弦，此寒痼之脈。</p>
<p>弦脈在卦為震，在時為春，在人為肝，輕虛以滑者平，滑實如循長竿者病，勁急如新張弓弦者死。</p>
<p>《體狀詩》：弦脈迢迢端直長，肝經木旺土應傷，怒氣滿胸常欲叫，翳矇瞳子淚淋浪。</p>
<p>《相類詩》：弦來端直似絲絃，緊則如繩左右彈，緊言其力弦言象，牢脈弦長沉伏間。</p>
<p>《主病詩》：弦應東方肝膽經，飲痰寒熱瘧纏身，浮沉遲數須分別，大小單雙有重輕。</p>
<p>寸弦頭痛膈多痰，寒熱癥瘕察左關，右關胃寒心腹痛，尺中陰疝腳拘攣。</p>
<p>短則氣病，不能滿部，不見於關，惟尺寸候。</p>

<h2>短脈（陰）</h2>
<p>短脈不及本位《脈訣》，應指而回，不能滿部《脈經》。</p>
<p>戴同父曰：短脈只見尺寸，若關中見短，上不通寸，下不通尺，是陰陽絕脈必死。</p>
<p>《體狀相類詩》：兩頭促縮名為短，澀短遲遲細且難，短澀而浮秋喜見，三春為賊有邪干。</p>
<p>《主病詩》：短脈惟於尺寸尋，短而滑數酒傷神，浮為血澀沉為痞，寸主頭疼尺腹疼。</p>

<h2>切脈論證</h2>
<p>一脈一形，各有主病，數脈相兼，則見諸證。</p>
<p>（總結上文下切脈論證。）</p>
<p>浮脈主表，里必不足，有力風熱，無力血弱。</p>
<p>（浮脈屬陽故主表，舉之有餘，按之不足，浮而有力者則為風熱，浮而無力者是血虛也。）</p>
<p>浮遲風虛。</p>
<p>（浮遲屬陰，一息三至，浮遲兼見，風虛之候也。）</p>
<p>浮數風熱。</p>
<p>（數脈屬陽，一息六至，浮數兼見，風熱之候也。）</p>
<p>浮緊風寒。</p>
<p>（緊脈如繩，左右彈指，浮緊兼見，風寒之候也。）</p>
<p>浮緩風濕。</p>
<p>（緩脈去來，少快於遲，浮緩兼見，風濕之候也。）</p>
<p>浮虛傷暑。</p>
<p>（舉之遲大，按之無力，浮虛兼見，傷暑之候也。）</p>
<p>浮芤失血。</p>
<p>（中空外實，狀似慈蔥，浮芤兼見，失血之候也。）</p>
<p>浮洪虛熱。</p>
<p>（洪脈來時，滿指滔滔，浮洪兼見，虛熱之候也。）</p>
<p>浮微勞極。</p>
<p>（微脈軟細，按之欲絕，浮微兼見，勞極之候也。）</p>
<p>浮濡陰虛。</p>
<p>（浮而柔細，如綿在水，浮濡兼見，陰虛之候也。）</p>
<p>浮散虛劇。</p>
<p>（有表無里，渙漫不收，浮散兼見，虛極之候也。）</p>
<p>浮弦痰食。</p>
<p>（端直以長，狀若箏弦，浮弦兼見，痰食之候也。）</p>
<p>浮滑痰熱。</p>
<p>（往來流利，漉漉欲脫，浮滑兼見，痰熱之候也。）</p>
<p>沉脈主裡，主寒主積，有力食痰，無力氣鬱。</p>
<p>（沉脈屬陰，故主裡，按之有力，舉之不足，沉而有力者，為痰飲食滯，寒冷積聚等症；沉而無力者，則病諸氣憤郁也。）</p>
<p>沉遲虛寒。</p>
<p>（遲脈屬陰，一息三至，沉遲兼見，虛寒之候也。）</p>
<p>沉數熱伏。</p>
<p>（數脈屬陰，一息六至，沉數兼見，熱伏之候也。）</p>
<p>沉緊冷痛。</p>
<p>（緊脈如繩，左右彈指，沉緊兼見，冷痛之候也。）</p>
<p>沉緩水蓄。</p>
<p>（緩脈去來，少快於遲，沉緩兼見，水蓄之候也。）</p>
<p>沉牢痼冷。</p>
<p>（牢脈弦長，實大而堅，沉牢兼見，痼冷之候也。）</p>
<p>沉實熱極。</p>
<p>（脈大而長，愊愊應指，沉實兼見，熱極之候也。）</p>
<p>沉弱陰虛。</p>
<p>（沉細而柔，則為弱脈，沉弱兼見，陰虛之候也。）</p>
<p>沉細痹濕。</p>
<p>（細直如絲，應指無絕，沉細兼見，痹濕之候也。）</p>
<p>沉弦飲痛。</p>
<p>（端直以長，狀若箏弦，沉弦兼見，飲痛之候也。）</p>
<p>沉滑宿食。</p>
<p>（往來流利，漉漉欲脫，沉滑兼見，宿食之候也。）</p>
<p>沉伏吐利，陰毒聚積。</p>
<p>（重按著骨，指下裁動，沉伏兼見，陰毒聚積也。）</p>
<p>遲脈主臟，陽氣伏潛，有力為痛，無力虛寒。</p>
<p>（遲為陽不勝陰，故主臟，遲而有力者為冷痛，遲而無力者，虛寒之候也。）</p>
<p>數脈主腑，主吐主狂，有力為熱，無力為痛。</p>
<p>（數為陰不勝陽，故主腑，數而有力者，為陽盛為實熱，故主狂妄吐血等證；數而無力者，為口舌咽喉，風火牙痛之候也。）</p>
<p>滑脈主痰，或傷於食，下為蓄血，上為吐逆。</p>
<p>（數而流利謂之滑，但滑而數大者內熱也。上則為心肺，頭目咽喉之熱，故主吐逆等證，下則為小腸膀胱二便之熱，故主蓄血等證。若弦滑則脾腎受傷，多主陰虛痰火等證。）</p>
<p>澀脈少血，或中寒濕，反胃結腸，自汗吐逆。</p>
<p>（不論男婦，凡尺中沉澀者，艱於子嗣，正以血少精傷，故女人懷孕而得澀脈，則血不足以養胎，如無孕而得澀脈，將有陰衰髓竭之憂。景岳曰：凡脈見澀者，多由七情不遂，營衛耗傷，血無以充，氣無以暢，故主自汗。在上則有反胃吐逆，在下則有便結傷濕之確證。）</p>
<p>弦脈主飲，病屬膽肝，弦數多熱，弦遲多寒。</p>
<p>（蓋弦為木化，氣通於膽肝，但弦而強勁者，脾土必傷，故主痰飲等證，弦數者為陽邪，多主熱病，弦遲者為陰邪，多主寒病也。）</p>
<p>浮小支飲。</p>
<p>（凡咳逆倚息，氣喘不得臥，其形若腫，脈見浮小者，此病支飲也。）</p>
<p>沉小懸痛。</p>
<p>（凡水飲後而水流在脅下，咳唾引痛，脈見沉小者，此病懸痛也。）</p>
<p>陽弦頭痛，陰弦腹痛。</p>
<p>（陽弦陰弦者，謂寸為陽，尺為陰也，故寸部見之主頭痛，尺部見之主腹痛。）</p>
<p>緊脈主寒，又主諸痛，浮緊表寒，沉緊里痛。</p>
<p>（景岳曰：緊脈多陰少陽，乃陰邪激搏之候，故主寒主痛，浮緊在表，為傷寒發熱，沉緊在裡，為胸腹脅痛之候也。）</p>
<p>長脈氣平。</p>
<p>（長脈在時為春，在卦為震，在人為肝，肝主春生之令，天地之氣至此而發舒。經曰：長則氣治。月池翁曰：心脈長者神強氣壯，腎脈長者蒂固根深，皆言平脈也。）</p>
<p>短則氣病。</p>
<p>（經曰：短則氣病，蓋以氣屬陽，主乎充沛。若短脈獨見，氣衰之確兆也。然肺為主氣之臟，偏與短脈，相應何也？經曰：平脈來厭厭聶聶如落榆莢，則短中自有和緩之象，氣仍治也。若短而沉且澀，是氣不治而病也。）</p>
<p>細則氣少。</p>
<p>（《匯辨》云：大都浮而細者屬之陽分，則見自汗氣急等症，沉而細者屬之陰分，則見下血血痢等症。）</p>
<p>大則病進。</p>
<p>（經云：形瘦脈大，多氣者死，以其氣方張也，或雖未病，而其脈大於診者，所以逆知，病之必進也。）</p>
<p>浮長風癇。</p>
<p>（浮長風邪之脈也，故主風痰驚癇之候。）</p>
<p>沉短宿食。</p>
<p>（短脈有陽氣不充，由胃氣阨塞，不能條暢百脈，或因痰氣食積阻礙氣道所致也。）</p>
<p>血虛脈虛。</p>
<p>（經曰：血虛脈虛，血來虛微為不及，病在內也。）</p>
<p>血實脈實。</p>
<p>（經曰：血實脈實，血來實強為太過，病在外也。）</p>
<p>洪脈為熱，其陰則虛。</p>
<p>（洪脈為熱，屢下不解，謂之壞病，不可救治，洪為陽氣滿溢，陰氣垂絕之脈也。）</p>
<p>細脈為濕，其血則虛。</p>
<p>（胃虛少食，冷涎泛逆，便泄腹痛，腳軟自汗失精，皆有細脈，主於濕病，浮沉取之，在陽為氣不足，在陰為血不足也。）</p>
<p>緩大者風。</p>
<p>（若脈形長大而來去寬縱不前，即張太素所謂如絲在經，不卷其軸之謂，是曰縱緩，病主於熱，而主於風也。）</p>
<p>緩細者濕。</p>
<p>（緩細者，蓋血虛氣弱，不足以充，故為傷濕痹痛之病也。）</p>
<p>緩澀血少。</p>
<p>（肺之為臟，氣多血少，故右寸見之為合度之診，腎之為臟，專司精血，故右尺見之，為虛殘之候。）</p>
<p>緩滑內熱。</p>
<p>（夫脈之謂，而不甚有力者，皆浮滑、濡滑、微滑、緩滑之類，終非無力之比，滑為血實氣壅之脈，悉屬有餘。）</p>
<p>濡小陰虛，弱小陽竭，陽竭惡寒，陰虛發熱。</p>
<p>（小，細也，浮細如綿曰濡，沉細如綿曰弱，濡主陰虛，陰虛則發熱，弱主陽竭，陽竭則惡寒。）</p>
<p>陽微惡寒，陰微發熱，男微虛損，女微瀉血。</p>
<p>（陽微陰微者，謂浮為陽，沉為陰也，故浮微主惡寒，沉微主發熱，男主勞極諸虛，女主崩中帶下。）</p>
<p>陽動汗出，陰動發熱，為痛與驚，崩中失血。</p>
<p>（惟夫陽欲降，而陰逆之，陰欲升而陽逆之，兩者逆之，而成動脈之形著矣，故陽動不能衛於外者則汗出，陰動不能守於內者則發熱，陰陽相搏，心脾不安，故為痛為驚，為崩中失血之候。）</p>
<p>虛寒相搏，其名為革，男子失精，女子失血。</p>
<p>（仲景曰：弦則為寒，芤則為虛，虛寒相搏，此名曰革，男子亡血失精，女子半產漏下。）</p>
<p>陽盛則促，肺癰瘍毒。</p>
<p>（促為陽獨盛，而陰不能和也，為怒氣上逆，為胸滿煩［燥］（躁），為血瘀發斑，為狂妄，為癰腫，諸實熱之候。）</p>
<p>陰盛則結，疝瘕積鬱。</p>
<p>（結為陰獨盛，而陽不能入也，為七情所郁，為積聚疝瘕，為寒飲死血，為腹痛，為癲癇，諸留滯之候。）</p>
<p>代則氣衰，或瀉膿血，傷寒心悸，女胎三月。</p>
<p>（滑伯仁曰：無病而羸瘦，脈代者危脈也，若有病而氣血作損，其氣不能續者，只為病脈。又妊婦脈代，胎必三月。）</p>
<p>脈之主病，有宜不宜，陰陽順逆，凶吉可推。</p>
<p>（診切之要，順逆為寶，若順逆不明，則陰陽虛實，死生吉凶之法莫別也。）</p>
<p>中風浮緩，急實則忌。</p>
<p>（其證口噤不開，喉內無聲，手足厥冷，而身不冷，兩目上視，此其候也。）</p>
<p>浮滑中痰。</p>
<p>（此證類似中風，痰涎湧盛，昏迷不醒人事，口眼歪斜，惟喉內有聲，是其候也。）</p>
<p>沉遲中氣。</p>
<p>（中氣，氣厥也，如曠野新屋，綿綿乎屬不滿日之所，卒中天地不正之氣，稟賦虛怯，邪以乘之，此謂陽神不聚，其死在陰也。）</p>
<p>屍厥沉滑，卒不知人，入臟身冷，入腑身溫。</p>
<p>（華元化曰：邪客於手足少陰、太陰、足陽明之絡，此五絡皆會於耳中，上絡左角，五絡俱竭，令人身脈皆動，而形無知也。其狀若屍，故名屍厥。鬄左角之發方寸，燔治飲以美酒一杯，不能飲者灌之立已。詳此屍厥一證，乃外邪卒中之惡候。凡四時不正之氣及山魔土煞，五屍魘魅之屬，皆能犯之者，忽然手足厥冷，肌膚寒促，面目青黑，精神不守，或口噤妄言，痰涎壅塞，或旋運倒僕，不省人事，即名飛屍卒厥，或針或灸，如秦承祖灸鬼、華佗灸脫陽之法為妙。凡用藥之法，當知邪之所湊，其氣必虛，故以左角之血餘，用補五絡之脫竭，其義可知。）</p>
<p>風傷於衛，浮緩有汗，寒傷於營，浮緊無汗。</p>
<p>（浮緩有汗者為傷風，風傷於衛也；浮緊無汗者為傷寒，寒傷於營也。）</p>
<p>暑傷於氣，脈虛身熱。</p>
<p>（暑病則傷氣，而不傷形也。若微涼外感，則熱傷心胞，必致惡寒發熱，其脈則虛。）</p>
<p>濕傷於血，脈緩細澀。</p>
<p>（濕之為病，有出於天氣者，傷於人皮肉筋脈之間，雨霧之屬也。地氣亦然，泥水之屬也。有出於飲食者，酒酪之屬也。在肌表則為發熱、惡寒、自汗，在經絡則為痹重，筋骨疼痛，不能轉側，四肢痿弱痠麻，為胕腫，為黃疸，為嘔吐，為脹滿，為便澀，為溏泄後重脫肛等證。凡肌表經絡之病，濕由外而入者也。飲食氣血之病，濕由內而生者也。此其在外者為輕，在內者為甚，是固然矣。然及其甚者，則未有表濕而不連臟也，里濕而不連經者，此論濕病之變也。）</p>
<p>傷寒熱病，脈喜浮洪，沉微澀小，證反必凶。汗後脈靜，身涼則安，汗後脈躁，熱甚必難。陽病見陰，病必危殆，陰病見陽，雖困無害。上不至關，陰氣已絕，下不至關，陽氣已絕，代脈止歇，臟絕傾危。</p>
<p>散脈無根，形損難醫。</p>
<p>（傷寒熱病，未得汗、脈浮洪者為陽易已，沉微澀小者為陰難已。既得汗、脈沉小安靜為順，浮大躁疾者逆，故南陽首言：陽病見陰脈者死，陰病見陽脈者生。只此可推卒病之順逆，可廣諸病之死生。此著先機，至顯至微矣。上不至關者，言尺脈上不能通於關，故陰氣已絕，下不至關者，言寸脈下不能通於關，故陽氣已絕。古人以代散為必死之脈，蓋散為腎敗之徵，代脈為脾絕之候，加之形脫如削者為不治。）</p>
<p>飲食內傷，氣口急滑。</p>
<p>（經曰：人迎緊盛傷於寒，氣口緊盛傷於食，凡氣口急滑而有力者，為宿停滯，澀伏模糊，則為寒冷傷脾。）</p>
<p>勞倦內傷，脾脈大弱。</p>
<p>（人之經營煩擾，則肢體轉旋，而過於勞者，無不傷脾也。《太陰陽明論》曰：太陰為之行氣於三陰，氣口為太陰之臟脈。凡診於氣口，脈虛大者為氣虛，弦細或澀者為血虛。若躁疾堅搏大汗出，發熱不止者死，以裡虛不宜復見表開泄也。）</p>
<p>欲知是氣，下手脈沉，沉極則伏，澀弱久深。</p>
<p>（經曰：天之在我者德也，地之在我者氣也，德流氣薄，而生者也。又曰：百病生於氣也，怒則氣上，喜則氣散，悲則氣消，恐則氣陷，寒則氣收，炅則氣泄，驚則氣亂，勞則氣耗，思則氣結，九氣主病異同。）</p>
<p>火鬱多沉，滑痰緊食，氣澀血芤，數火細濕。</p>
<p>（沉雖屬裡，未必盡為陰寒，但脈沉滑、沉數者，及有頭痛身熱，正屬表邪，火鬱所以脈沉也。）</p>
<p>滑主多痰，弦主留飲，熱則滑數，寒則弦緊，浮滑兼風，沉滑兼氣。食傷短疾，濕留濡細。</p>
<p>（痰飲之為病，必有所因而致之者，或熱或寒，或風或氣，或食傷，或濕氣停滯之類，皆為痰之本也。凡治痰不治痰之本，非其治也，所以治其本而成痰者，而痰自清，正以痰非病之本，而痰為病之標耳。）</p>
<p>瘧脈自弦，弦數者熱，弦遲者寒，代散者截。</p>
<p>（瘧疾之病，本由外感，《內經》論瘧，無非曰風曰寒，其義甚明。察其症先發熱而後寒者，寒病也；先戰寒而後發熱者，熱病也。若陽陰倒亂，則寒熱往來，其治以截者則已。故瘧病自陰而漸陽，自遲而漸早者，重亦漸輕不見也。自陽而漸陰，自早而漸遲者，輕亦漸重愈甚也。凡感邪深者，其發必遲，而多至隔日，必使漸早漸近，方是佳兆。欲知其來，所知其本矣。）</p>
<p>泄瀉下痢，沉小滑弱，實大浮洪，發熱則惡。</p>
<p>（泄瀉下痢，本屬傷陰耗里之證，脈見沉小滑弱，乃為相宜。若實大浮洪，此邪盛正虛，加之發熱則惡矣。）</p>
<p>嘔吐反胃，浮滑者昌，弦數緊澀，結腸者亡。</p>
<p>（嘔吐反胃之脈，浮滑大便潤者順，痰氣阻逆，胃氣未艾也。弦數緊澀，涎如雞清，大便燥結者逆，氣血枯澀，痰火鬱結也。）</p>
<p>霍亂之候，脈代勿訝，厥逆遲微，是則可怕。</p>
<p>（霍亂乃卒然吐瀉，而神氣昏悶，脈有不續，而見代者，但俟里和，而脈自出矣，此非斷絕者比，令勿驚訝。若四肢厥冷，是為陽衰陰盛，真元漸絕之象，則去生已遠，恐驟脫難救。又安得不怕乎。）</p>
<p>咳嗽多浮，聚肺關胃，沉緊小危，浮濡易治。</p>
<p>（有聲無痰謂之咳，有痰無聲謂之嗽，有聲有痰，此謂咳嗽者，其證非止聚於肺，而五臟皆有之，其愈關於胃氣之有無也。）</p>
<p>喘急息肩，浮滑者順，沉澀肢寒，散脈逆證。</p>
<p>（上氣喘息低昂脈，浮滑手足溫為順，脈沉澀四肢寒者逆，上氣脈散者死，謂其形損故也。歷陳上氣喘咳諸例，皆以軟弱緩滑為順，澀數堅大者逆，蓋緩滑為胃氣尚存，堅實為胃氣告遺之脈也。）</p>
<p>病熱有火，洪數可醫，沉微無火，無根者危。</p>
<p>（熱病本屬陽證，脈當洪數為順，若沉微者陰脈也。陽病見陰脈，病必危矣。）</p>
<p>骨蒸發熱，脈數而虛，熱而澀小，必殞其軀。</p>
<p>（骨合腎，腎能變蒸，輕則虛驚，蒸蒸而熱，微汗耳冷，上唇生白泡，重則寒熱往來，腹痛吐逆等證，脈數而虛者順，熱而澀小者逆，蓋氣血兩虛，陰火日熾，必至不救。）</p>
<p>勞極諸虛，浮濡微弱，土敗雙弦，火炎急數。</p>
<p>（勞極一證，即東垣所謂內傷證也。凡疾病在人，有另因外感而受病於內者，則無非內傷，而東垣乃獨以飲食失節，勞役不足之病為內傷，其故何也？蓋外感內傷，俱有惡寒發熱等證，外感惡寒者，即內傷寒也。內傷寒熱者，即勞役也。傷寒以外邪有餘，多宜攻散，勞役以內傷不足，多宜溫補，然此二者，病多相類，最易惑亂，故東垣特作內傷二字，以為外感之別。蓋恐以勞役之傷，作傷寒之治，則必致誤治矣。此其大要所當先辨。脈若兩手弦勁，此木來剋土。如急數者，乃陰虛火炎之候也。）</p>
<p>諸病失血，脈必見芤，緩小可喜，數大可憂。</p>
<p>（陰血既亡，陽無所附，故脈則見芤，緩小則胃氣可喜，若數大則邪盛方張，火爍真陰，誠為憂矣。）</p>
<p>瘀血內蓄，卻宜牢大，沉小澀微，反成其害。</p>
<p>（瘀血內蓄，脈宜牢大者，以其可攻，而逐去之則安，若沉小澀微，則邪實正虛，難施峻猛之劑，安望速愈耶。）</p>
<p>遺精白濁，微澀而弱，火盛陰虛，芤濡洪數。</p>
<p>（遺精白濁，所主不異，凡有所注戀而夢者，此精為神動也。其因在心有欲事不遂而夢者，此精失其位也。其因在腎，在值勞倦即遺者，此筋力有不勝，肝脾之氣弱也。有因用心思慮過度徹遺者，此中氣有不足，心脾之虛陷也。有因濕熱下流，相火妄動而遺者，此脾腎之火不清也。有無故滑而不禁者，此下元之虛，肺腎之不固也。有素稟不足而精易滑者，此先天元氣單薄也。有久服冷利等劑，以致元陽失守而滑泄者，此誤藥之所致也。有壯年氣盛，久節房欲而遺者，此滿而溢者也。凡此之類，是皆遺精之病。凡治此者，亦當各求所因而致病，至若盛而溢者，只理飲食，調其和平，出得自然為固也。）</p>
<p>三消之脈，浮大者生，細小微澀，形脫可驚。</p>
<p>（三消者，三焦受病也。上消者大渴引飲，飲隨渴以消津液。經曰：二陽為病發心脾，其傳為風消，中消者多食善飢，飢隨食以消瘦。經曰：心移熱於（肺）脾，其傳為［鬲］（膈）火消，下消者小便黃赤，為膏為淋，為便濁，面黑耳焦，日漸消瘦，其病在腎。此三症古人悉認為火證，然有實火者，以邪氣有餘也。有虛火者，以其陰不足也。凡治消症，不辨虛實，未有不誤者，宜深察之。）</p>
<p>小便淋閉，鼻頭色黃，澀小無血，數大何妨。</p>
<p>（鼻頭色黃，必主小便難，以中焦熱燥腸胃，津液枯涸所致也。然必枯黃而不澤，若黃而明者，必有留飲，留飲以津液不行，穀氣受鬱而致黃也。如脈數大，而小便不利者，乃濕熱所致，此氣病而血不病也。若脈澀小而利者，乃營虛為淋，此傷血而不傷氣也，二者故別之。）</p>
<p>大便秘結，須分氣血，陽數而實，陰遲而澀。</p>
<p>（秘結一證，在古方書有虛、風、寒、熱、濕、燥等秘，立名太繁，又無確據，不得其要，徒滋疑惑，不無為臨證之害也。不知此證之當辨者惟二，曰陰結陽結而書之矣。蓋陽結者邪有餘，宜攻宜瀉者也，陰結者為正氣不足，宜補宜滋者也，知斯二者，即知秘結之綱領矣。）</p>
<p>癲乃重陰，狂乃重陽，浮洪吉兆，沉急凶殃。</p>
<p>（癲狂既分陰陽，而脈皆取浮洪者，蓋浮洪屬陽，在狂病固屬相宜，而癲疾乃陰病見陽脈者，均為吉兆之義，若沉急則陰邪盛極矣，故凶殃立至。）</p>
<p>癇脈宜虛，實急者惡，浮陽沉陰，滑痰數熱。</p>
<p>（《別錄》所載五癇，曰豬、雞、牛、羊、馬者，即今人之謂發羊吊也，乃痰涎壅塞之頑證，驚風之固疾也。緣其所由，有因受胎時，七情六慾驚怖，口腹所致者，發則眼直目牽，口噤流涎，肚膨發搐，項背反脹，腰脊強勁等候，宜取耳背後青紋脈，刺出血可除病之根矣。）</p>
<p>喉痹之脈，數熱遲寒。</p>
<p>（喉痹一證，在古方書有十八證之辨，人悉指為火，然喉雖多由火，而復有陰證者，不可不察也。蓋火有真有假，如真火者，脈必洪數，假火者，脈必遲弱也。）</p>
<p>纏喉走馬，微伏則難。</p>
<p>（喉證則名目雖多，似有不必盡辨者，然亦有不可不辨者，如雙乳蛾、單乳蛾及纏喉走馬之類，有不同也。蓋腫於咽喉兩傍者為雙蛾，腫於一邊者為單蛾，若腫突而發於喉間者，多以刺出膿血則愈，此癰癤之屬也。若纏喉走馬，則滿片紅腫，多不成膿，亦不可刺，其證急，其害速，故有走馬之名。喉乃丹田之標，證屬手少陽，脈見微伏，則為難治。）</p>
<p>諸風眩暈，有火有痰，左澀血死，右大虛看。</p>
<p>（眩暈一證，虛者居其八九，而兼火兼痰者，不過十中一二耳，原其所由，則有勞倦過度而暈者，有飢飽失時而暈者，有嘔吐傷上而暈者，有泄瀉傷下而暈者，有汗過亡陽而暈者，眴目驚心而暈者，有焦思不釋而暈者，有被毆被辱，氣奪而暈者，有悲哀痛楚，大叫大呼而暈者，此皆傷其陽中之陽也。又有吐血衄血，便血而暈者，有膿血癰疽大潰而暈者，有金石破傷，失血痛苦而暈者，有男子縱欲，氣隨精去而暈者，有女子崩淋產難，去血過多而暈者，此皆傷其陰中之陰也。再若大醉之後，濕熱相乘而暈者，傷其濕也。有大怒之後，本肆其強而暈者，傷其氣也。有痰飲留中，治節不行而暈者，脾之弱也，此亦有餘之中不足也。至若老年精衰，勞倦日積，而忽患不眠，忽苦眩暈者，此營衛兩虛之致然也。由此察之，虛實可辨矣。）</p>
<p>頭痛多弦，浮風緊寒，熱洪濕細，緩滑厥痰，氣虛弦濡，血虛微細，腎厥弦堅，真痛短澀。</p>
<p>（頭痛有各經之辨，凡外感頭痛，當察三陽、厥陰，蓋三陽之脈會於巔頂，故仲景《傷寒論》則為三陽有頭痛，厥陰亦有頭痛，而太陰、少陰，則有無頭痛，為察脈辨證之法，則頭腦額顱，三陽俱有所會，無不可痛焉。然太陽在後，陽明在前，少陰在側，此有各經所主，亦外感之所當辨也，至若內傷頭痛，則不得以三陽為拘矣。如《內經》所言，下虛上實，過在足少陰、巨陽及手少陰、少陽，皆有之矣。腦者陰也，髓者骨之充也，凡痛在頭腦上，豈非少陰之病乎，此內證外證之異，不可不察也。）</p>
<p>心腹之痛，其類有九，細遲從吉，浮大延久。</p>
<p>（經曰：有寒滯而痛，有熱鬱而痛，有食積而痛，有蟲積而痛，有瘀血而痛，有虛勞而痛，有中惡而痛，有痰癖而痛，有火毒而痛。脈若細遲，則為氣減舒徐，厥邪欲退，理當從吉。設或浮大，正是邪氣方張，難以捷效也。）</p>
<p>疝氣弦急，積聚在裡，牢急者生，弱急者死。</p>
<p>（疝氣為病，凡少腹睪丸，為腫為痛，上作無時之屬也。但疝症不一，如《內經》所謂，狐疝者，以其出入不常也。有言㿗疝者，以其頹腫不仁也，有沖疝者，以其自少腹上衝而痛也。有厥疝者，以結氣在陰，而氣逆為疝也，有疝瘕者，以少腹冤熱而痛，出白者蠱疝也，有六經風氣為疝者，感受四時之氣，留滯而成也。有少陽疝者，臟腑不和，虛實不調也。此七者總皆疝之為義也。）</p>
<p>腰痛之脈，多沉而弦，兼浮者風，兼緊者寒，弦滑痰飲，濡細腎著，大乃腎虛，沉實閃肭。</p>
<p>（腰乃腎之府，腎與膀胱為表裡，在經則屬太陽，在臟則屬腎，而又為衝任督帶之要會，所以凡病腰痛者，多由真陰之不足也。二曰風痹寒濕者，風濕著腰而痛也。三曰勞役傷腎，四曰墜墮損傷，五曰寢臥濕地，表裡寒熱之異，知斯六者，庶乎盡矣，而治之亦無難也。）</p>
<p>腳氣有四，遲寒數熱，浮滑者風，濡細者濕。</p>
<p>（陳無擇曰：腳氣不專主一氣，亦不專主在一經，兼有雜生諸病，未易分別，須尋經絡之乾溼，再察脈息之虛實，以為治也。凡汗走注者為風勝，無汗攣急，掣痛者為寒勝，腫滿重著者為濕勝，煩渴燥熱者為暑勝，若四氣兼中者，但察其多者為勝，以施治也。）</p>
<p>痿病肺虛，脈多微緩，或澀或緊，或細或濡。</p>
<p>（痿，壞也。人有久咳，肺受傷損，漸見形體消削，聲嘶盜汗，喘不得臥，吐出紫血，痰稠腥穢，毛髮焦枯，嗽時必忍氣須臾，輕輕吐痰，始覺胸膈不疼，否則大痛難堪，氣息欲絕奄奄者，此癆病成矣。其患本不可救，然治之得法，亦多有可生者，但察其胃氣尚存，治猶可療。療之之法，救胃為主，培養兼行，安其正氣，然後執拾餘邪，緩病緩醫，補中有清，清中有補，勿伐勿助，若有若無，始能助效也。）</p>
<p>風寒濕氣，合而為痹，浮澀而緊，三脈乃備。</p>
<p>（《痹論》曰：風寒濕三氣雜至合而為痹也，其風氣勝者為行痹，蓋風善行而數變，成其為病，則走注歷節，無有定所。寒氣勝者為痛痹，以氣血感寒，筋脈凝澀，留而不行，滯於經絡為痛也。濕氣勝者為著痹，以濕氣傷其形體，而肢節沉重，或麻木不仁，留著不移也。）</p>
<p>五疸實熱，脈必洪數，澀微屬虛，切忌發渴。</p>
<p>（《論疾診尺篇》曰：身痛而色微黃、齒垢黃、爪甲上黃，黃疸也。五疸者，黃疸、黃汗疸、酒疸、谷疸、女勞疸也。劉宗厚曰：按一身盡痛而黃者，濕氣勝，其病在表。若不痛者，其病在裡。煩［燥］（躁）者，熱勝也，大渴不止者死。陽經受病，脈必洪數，其人戰寒發熱，陰經受病，脈必澀微，其人嘔吐悶亂也。）</p>
<p>脈得諸沉，責其有水，浮氣與風，沉石或里，沉數為陽，沉遲為陰。浮大出厄，虛小可驚。</p>
<p>（丹溪曰：水腫脈多沉，病陽水兼陽證，脈必沉數，病陰水兼陰證，脈必沉遲。仲景曰：病風水證，其脈自浮，病石水證，其脈自沉。《得效方》云：水腫脈浮大可保，虛小可驚。）</p>
<p>五臟為積，六腑為聚，實強者生，沉細者死。</p>
<p>（《難經》曰：病有積有聚，何以別之？曰：積，陰氣也，聚，陽氣也，故陰沉而伏，陽浮而動。氣之所積名曰積，氣之所聚名曰聚，積者五臟所生，聚者六腑所生，積發有常，其痛不離其部，聚發無常，留止無所，上下無定，因其病或動或靜，知其名之為積為聚焉。）</p>
<p>中惡腹痛，緊細者生，脈若浮大，邪氣已深。</p>
<p>（中惡一證，以其卒然倒僕，四肢厥逆，身直如屍，口鼻出血，心腹刺痛，反復不寧者，蓋人氣之與天氣皆失守，則陽神不聚，陰鬼幹人，致死之兆也。然天地間，萬物萬殊，莫非五行之化，人之臟氣，鬼之幹人，亦惟此耳。）</p>
<p>癰疽浮散，惡寒發熱，若有痛處，癰疽所發，脈數發熱，而痛者陽，不數不熱，不痛陰瘡，未潰癰疽，不怕洪大，已潰癰疽，洪大可怕。</p>
<p>（華元化曰：癰疽瘡腫之作，皆五臟六腑，蓄毒不流，非獨因營衛閉塞而發也。《靈樞經》曰：發內癰內疽者。其本經募上肉必浮腫，募中必時時隱痛，浮腫為癰，隱痛為疽，此即內癰內疽之徵驗也。）</p>
<p>肺癰已成，寸數而實，肺痿之形，數而無力，肺癰色白，脈宜短澀，不宜浮大。</p>
<p>（《金匱方淪》曰：熱在上焦，因咳傷肺，為肺痿，肺痿之病，氣口脈數而無力，其人口中觸吐涎沫者也。若面白而口中辟辟燥咳，胸中隱隱而痛，寸口脈數而實者，此為肺癰之病也。脈宜短澀，乃肺之本脈也。若見浮大，則火來剋金卻忌之。）</p>
<p>吐糊吐血，腸癰實熱，滑數可知，數而不熱，關脈芤虛，微澀而緊，未膿當下，緊數膿成，切不可下。</p>
<p>（陳遠公曰：有腹疼口渴，左足不伸，伸則疼甚，手按之猶不可忍，人以為腸中生癰也。然腸癰大小腸之分，屈右足者，入腸生癰也，屈左足者，小腸生癰也。但大腸癰易治，小腸癰難醫，以大腸可瀉，小腸難瀉也。然得法又何不可瀉哉，蓋大腸瀉火，從糟粕而出，小腸瀉火，從溲溺而泄也。）</p>
<p>婦人之脈，以血為本，血旺易胎，氣旺難孕。少陰動甚，謂之有子，尺脈滑利，妊娠可喜，滑疾不散，胎必三月，但疾不散，五月可別，左疾為男，右疾為女，女腹如箕，男腹如釜。</p>
<p>（婦人之脈，以血為本，血旺則經調而子嗣，氣旺則喘泛而難孕，身體之盛衰，無不肇端於此。《素問》曰：婦人手少陰脈動甚者妊子也。經曰：脈者血之府也，血盛則脈滑，故腎脈宜之。仲景曰：婦人脈滑疾而經斷者為有孕。《聖濟經》曰：天之德地之氣，陰陽之至和，流薄於一體，因氣而左動則屬陽，陽資之則成男，因氣而右動則屬陰，陰資之則成女。是以胎有男女，則成有遲早，體有陰陽，則懷有向背。故男動在三月，陽性早也，女動在五月，陰性遲也。女胎肖母而懷，故母之腹，下大上小，如箕之覆也。男胎面母而懷，故母之腹，圓突如釜之覆也。此皆得理之談，所當察也。）</p>
<p>欲產之脈，其至離經，水下乃產，未下勿驚。</p>
<p>（《難經》曰：脈一呼三至曰離經，一呼一至，亦曰離經。婦人慾產者，脈皆離經也，但夜半覺痛，日中即生，日中覺痛，夜半即生。《良方》云：孕婦人月腹痛，或作或止，名曰弄胎，非正產之候。或腹雖痛，而腰不甚痛，非正產之候。胎高未陷者，非正產之候。穀道未挺迸者，非正產之候。水脬未破，水血未出，非正產之候。水血雖出，而腹不痛，非正產之候。且令熟忍，不可坐草，務宜膽定安心，時際見機而待，此謂穩婆之任也。）</p>
<p>新產之脈，緩滑為吉，實大弦牢，有證則逆。</p>
<p>（新產，即產後也。產後氣血兩傷，脈貴和平，故脈緩滑為吉。若見實大弦牢，設有外證則逆。）</p>
<p>少兒之脈，六至為平，更察色證，與虎口紋。</p>
<p>（少兒三歲以下，氣血未充。經脈未備，須看虎口三關紋色。其法以食指初節為風關，二節為氣關，三節為命關。紋色在初節為輕，二節為重，三節則危。其色以紫為風熱，紅為傷寒，青為驚風，白為疳積，惟黃隱隱而淡紅，此為常候。若三關多亂紋者為內吊，主腹痛吐瀉身熱不食。若上唇有白泡珠點者為變蒸。若紋直而細者，為虛寒少氣多難愈。紋粗而顯者多易愈。紋中有斷續如流珠者為宿食，其紋自外向內者為外感，自內向外者為內傷。岐伯曰：陰絡之色應其經，陽絡之色變無常，隨四時而行也。至三歲以上，以一指而定三關，即三部之診也。其脈以六至為準，添則為熱，減則為寒，浮長為風癇，浮數風熱，浮緊風寒，浮遲風虛，沉短宿食，沉數熱伏，沉緊冷痛，沉遲虛寒。如吐瀉手足溫則易已，手足寒則難已。其外腮赤，目眥紅，呵欠頓悶，乍涼乍熱，四肢厥冷，氣粗聲嘶，及耳背現紅絲紋縷，脈來急數者，皆痘疹之候也。湯藥這所忌者甚多，慎勿漫投，貽其咎也。）</p>
<p>奇經八脈，其診又別。</p>
<p>（脈有奇常，十二經者常脈也，所見諸證皆平常無奇。其奇經八脈，交加中外，絡繹諸經，所見諸證，皆忽起忽伏，脈亦倏去倏來，故謂之奇。舊說以為奇偶之奇，恐非至當。若爾則不應有陽陰維蹺之偶矣。所謂督脈，督於身後諸陽，任脈，任於身前諸陰，沖為諸脈之海，又為血海。陽維，維絡諸陽，主一身之表；陰維，維絡諸陰，主一身之裡。陽蹺得足太陽之別。主一身左右諸陽，陰蹺得足少陰之別，主一身左右諸陰，二蹺皆起跟中，使人矯捷。帶脈橫束季脅，約束諸脈，為諸經之別貫，各有專司。蓋人身之氣血，常行於十二經，而後及八脈，若受邪則先傷八脈，而後傳以六經。所以越人譬之溝渠，溝渠滿溢，諸經不能復拘也。）</p>
<p>直上直下，浮則為督。</p>
<p>（督脈起於下極之俞，並於脊裡，上至風府（項中央之脈，督脈也，名曰風府），入屬於腦，陽脈之海也。其絡循陰器合篡間，繞篡後，繞臀至少陰，與巨陽中絡者，合少陰，上股內後廉貫脊，屬太陽，起於目內眥，上額交巔，上入絡腦，還出別下項，循肩髆內，挾脊抵腰中，入循膂，絡腎，其男子循莖下至篡，與女子等少腹，直上者貫臍中央，上貫心，入喉上頤，環唇上系兩目之內中央，其脈直上直下，而中央或尺寸，俱強直而浮者督脈也。）</p>
<p>牢則為沖。</p>
<p>（衝脈起於少腹之內胞中，為血之海也，其浮於外者，起於氣街（即氣衝在少腹），並足少陰之經（《難經》云：並足陽明之經以穴參之，足陽明挾臍各二寸而下行，與衝脈會於宗筋。足少陰挾臍五分而上行，《針經》所載衝脈在腹關元等穴，皆屬少陰，非陽明），挾臍上行至胸中而散，衝脈任脈，皆起於胞中，上循背裡，為經絡之海，其脈直上直下，而中央牢脈者衝脈也。）</p>
<p>緊則任脈。</p>
<p>（任脈起於中極之下，以上毛際，循腹裡上關元，至咽喉上頤，循面入目絡舌，陰脈之海也。同足三陰並行腹裡，其浮於外者，出毛際，循關元石門（即丹田）氣海，而歷三腕，循膻中至缺盆（缺盆之中，任脈也名曰天突），其脈橫寸口邊，丸丸緊細而長，或弦出寸口上魚際，而丸滑者任脈也。）</p>
<p>寸左右彈，陽蹺可決。</p>
<p>（陽蹺起於跟內，出外踝，直上，循股外廉，循脅後胛，上行肩髆外，上挾口吻，至目內，上行髮際，後入風池，其脈寸口左右彈，浮而細綿綿者陽蹺也。）</p>
<p>尺左右彈，陰蹺可別。</p>
<p>（陰蹺起於然谷之後，上內踝之上，直上循陰股入陰中，循胸裡入缺盆，上出人迎之前，入鼻屬目內眥，至咽喉，交貫衝脈，其脈尺內左右彈，沉而細綿綿者陰蹺也。）</p>
<p>關左右彈，帶脈當決。</p>
<p>（帶脈起於季脅，圍身一周，如束帶然，與足少陰會於十四椎（自上數下第十四椎），十二經與奇經七脈，皆周流上下，惟帶脈橫束如衝脈。沖、督、任三脈，同起而並行，一源而三歧，皆絡帶脈，其脈中部左右彈，而橫滑者帶脈也。）</p>
<p>尺外斜上，至寸陰維。</p>
<p>（陰維起於諸陰之交（諸陰皆交於胸），主持營血，其脈發於足少陰內踝，循股內廉，上行入少腹，會足三陰，上腹裡（去腹中行四寸半），循脅會足厥於期門（直乳一寸半），上胸脅挾咽，與任脈會於頸，其脈從尺外斜上至寸，而沉實者陰維也。）</p>
<p>尺內斜上，至於陽維。</p>
<p>（陽維起於諸陽之會（諸陽皆會於頭），主持衛氣，其脈發於足太陽外踝，循膝外廉，上髀關抵少腹，別循脅筋斜上肘，會手足太陽，陽蹺於臑俞上，循耳會督脈於氣府，上腦空下至風池，與諸陽會於頭，其脈從尺內斜上至寸，而浮者陽維也。）</p>
<p>督脈為病，脊強癲癇。</p>
<p>（督脈動苦，少腹上衝心而痛，不得前後，為沖疝，其女子不孕，癃痔遺溺，嗌乾卒口噤，背反張，瘛瘲腰脊強痛，不得俯仰，頭重不舉，大人癲疾，少兒風癇。）</p>
<p>任脈為病，七疝瘕聚。</p>
<p>（任脈動苦，少腹繞臍，引陰中切痛（入房太過，沖、督、任受傷多此），男子內結七疝，女子帶下瘕聚，月事不以時下，腹皮急，腹中有氣如指上搶心，不得俯仰拘急（志欲不遂，陰火上乘多此）。）</p>
<p>衝脈為病，逆氣裡急。</p>
<p>（衝脈動苦，逆氣裡急，氣上衝咽喉不得息，喘息不得臥，腹中刺痛拘急，寒氣客於衝脈，則脈不通，喘動應手，有寒疝痛，則上引胸中痛。）</p>
<p>帶主帶下，臍痛精失。</p>
<p>（帶脈動苦，腹滿腰溶溶，若在水中（溶溶，緩縱貌），腹縱如囊水伏，婦人腰痛，少腹痛，裡急瘛瘲，牽引季脅下空軟處，月事不調，赤白帶下。）</p>
<p>陽維寒熱，目眩僵仆。</p>
<p>（陽維動苦，寒熱（陽維為病在表，故苦寒熱而足太陽、少陽始終聯附，故二經為病苦寒熱），腰痛，痛上怫然腫。又腰痛不可以咳，咳則筋縮急，肌肉痹癢，皮膚痛，下部不仁，汗出而寒，羊癇倒僕（多發於日），手足相引，甚者不能言。若陽維不能維於陽，則溶溶不能自收持。）</p>
<p>陰維心痛，胸脅刺築。</p>
<p>（陰維動苦，心痛（陰維為病在裡，故苦心痛，陰維雖交三陰●●，與任脈同歸，故心痛腹痛多屬少陰●●●●維，任脈也），脅滿腰痛，甚則悲以恐，癲疾，失音（多發於夜），肌肉痹癢，汗出惡風，身洒洒然。若陰維不能維於陰，則悵然失志。）</p>
<p>陽蹺為病，陰緩陽急。</p>
<p>（陽蹺動苦，縱緩不收，陰緩而陽急（陽蹺脈急，當從外踝以上急，內踝以上緩），腰背痛，羊倒僕（多發於日），惡風偏枯，瘡瘍體痹，目嗔不得瞑。）</p>
<p>陰蹺為病，陽緩陰急。</p>
<p>（陰蹺動苦，拘急不弛，陽緩而陰急（陰蹺脈急，當從內踝以上急，外踝以上緩），少腹痛，裡急，腰痛相引陰中，男子陰疝，女子漏下不止，癲疝寒熱（多發於夜），皮膚淫痹，風痙，目閉不得開。）</p>
<p>癲癇瘛瘲，寒熱恍惚，八脈之證，各有所屬。</p>
<p>（癲，顛倒錯亂也。癇，有風痰邪氣，驚搐兼虛也。其證有五畜配五臟，心癇其聲如羊，肝癇其聲如犬，脾癇其聲如生，肺癇其聲如雞，腎癇其聲如豬。發則卒然倒僕，口眼相引，手足搐搦。口吐涎沫，食頃乃蘇。瘛主搐搦，狂病也；瘲主縱緩，風病也。）</p>
<p>平人無脈，移於外絡，兄位弟乘，陽谿列缺。</p>
<p>（列缺在手腕後側，上一寸五分。滑伯仁曰：以手交叉，當食指未，筋骨罅中是穴，此手太陰之絡，從腕後別走陽明，直出食指內廉，出其端。凡人寸關尺三部不見脈。而脈見於列缺者，謂之反關脈，此經脈虛而絡脈滿也。）</p>
<p>病脈既明，吉凶當別，經脈之外，又有真脈。</p>
<p>（黃帝曰：見真藏脈曰死，何謂也？岐伯曰：五臟者皆稟氣於胃，胃五臟之本也。臟氣者不能自至於手太陰，必因於胃氣，乃至於手太陰也。邪氣勝則精氣衰，胃氣不能與之，故真藏之氣獨見者，病勝臟也，故曰死。）</p>
<p>肝絕之脈，循刀責責。</p>
<p>（肝絕之脈，中外弦勁而急，如循刀責責然，色青白不澤，乃余來剋木也。）</p>
<p>心絕之脈，轉豆躁疾。</p>
<p>（心絕之脈，短促躁疾，如轉豆累累然，色赤黑不澤，乃水來剋火也。）</p>
<p>脾則雀啄，如屋之漏，如水之流，如杯之覆。</p>
<p>（脾絕之脈，乍疏乍數，如雀啄食，連三五至一止復來，如屋之殘漏，良久一滴，如水之墮流，點滴無倫，如覆杯之傾瀉，去而不返也。色黃青不澤，乃木來剋土也。）</p>
<p>肺絕如毛，無根蕭索，麻子動搖，浮波之滑。</p>
<p>（肺絕之脈，羽毛麻子浮波者，皆是飄浮無根之脈也。色白赤不澤，乃火來剋金也。）</p>
<p>腎脈將絕，至如省客，來如彈石，去如解索。</p>
<p>（腎絕之脈．沉實如彈石劈劈然，如省客之無常，如解索散亂面無序，色黑黃不澤，乃土來剋水也。）</p>
<p>命脈將絕，鰕游魚翔，至如湧泉，絕在膀胱。</p>
<p>（命絕之脈，如鰕游魚翔者，則脈浮泛於上，而乖違其就下之常也。湧泉者有升無降，有出無入，勢甚洶湧，莫能遏御也。）</p>
<p>真脈既形，胃已無氣，參察色證，斷之以臆。</p>
<p>（既明真藏脈也，參察胃氣之有無，則順逆吉凶，生死之法，胸次瞭然心目矣。）</p>
