<header data-type="book">
<h1>秘珍濟陰</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周詒觀</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1830">公元1830年</data></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>昔范文正公曰：「不為良相，當為良醫。」蓋良相活國，良醫活人，濟人一也。余老友湘門周先生，少攻舉子業，屢試不售，既而改業岐黃，親受於綸、樹蕙兩翁秘旨，日夜博覽，參稽以歷代之載籍。兩師所指授，其有濟於人如《周禮·醫師》所謂十全者，蓋已多歷年所矣！一日自顧老景頹唐，喟然嘆曰：予雖心乎濟人，何能濟時者、濟後世乎？夫內外諸科，皆非臨症審脈，功深折肱，莫能探其奧竅，而其旁見側出，雜症百端者尤著。若婦人一科，爰以平日古方參已歷試有驗者，彙輯上中下三卷作為歌訣，便人記誦，顏曰《秘珍濟陰》，鐫諸梨棗。夫曰《濟陰》者，謂有濟婦人也。於戲！陰陽一氣，是即太極，渾括乾坤，其所濟者無窮，夫豈獨在閨幃也哉？辱顧小孫秀美𣻹真付梓，因贅數語，弁其首云。</p>
<p><u>道光拾年初夏研牙蓮浦陶鴻響謹撰</u></p>

<h1>序二</h1>
<p>自古著方書垂憲後世者，皆以濟人利物，仁人之心，亦天地好生之心也。然非默契乎陰陽造化之妙，洞悉乎天人性命之旨，博極群書，神而明之，無以折衷而得其指揮焉。吾友周君湘門，少習舉業，相與奔逐場屋者歷有年所，既而得名師傳授，精長桑之術，風行邑里，所在蘇危困、起沉疴者，百不失一，名噪遐邇，數十年於茲矣。近輯《秘珍濟陰》一書，專為婦人而設，分門別類，辨析詳明，能令閱者一目瞭然，詢醫家之圭臬，證治之準繩也。昔唐孫真人著《千金方》三十卷，首列婦科諸症，至詳且盡，今湘門此集較之尤為曲暢，誠以婦女多抑鬱幽思，病常變態百出，診治之艱較男子有甚焉者，故曾治療之法無不精通，而於此獨拳拳致意也。余忝舊好，喜湘門仁愛中存，能體天地之心以為心也，故樂為之序云。</p>
<p><u>道光上章攝提格皋月上浣之吉姻愚弟西園張啟翰頓首拜書時年七十有五</u></p>

<h1>自序</h1>
<p>余少習舉子業，未遂青雲之志，乃棄儒就醫，親䖲族高祖於綸、岳太邑庠陳樹蕙二公清訓，俱云斯道不易，而婦科尤不易，自調經種子，胎前產後，以及一切雜症，若非平時考究，臨期未免有誤。於是採集群書，汰繁存要，分門別類，剖說詳明，其中方法為余所經驗者，括歌一二成句，便記誦也。緣以單復捷方與《達生編》合訂成冊，名曰《秘珍濟陰》。餘年已近耋，不為刊訂，後必遺亡，因而質諸高明。朋輩中見而愛之，捐貲付剞劂。余維醫經醫法不下數十百家，僅執管見採選，何敢問世？第以閱學經驗彙輯成帙，或者臨症一覽，不無小補，至於正訛補缺，是所望於後之君子焉。</p>
<p><u>道光十年歲次庚寅麥秋朔六湘門周詒觀時年七十有八</u></p>

<h1>卷之一</h1>

<h2>調經門</h2>

<h3>濟陰通微賦</h3>
<p>陰陽異質，男女殊科，特立專門之診治，以救在室之沉疴。因其血之虧也，故調之必使流通；因其血之盈也，故抑之不使曠達。體本嬌柔，性最偏頗。肥白者多痰，瘦黑者多火。胃太過者氣結，營不足者血涸。專寵愛者，治宜異乎孤冷。飫膏粱者，療莫同於藜藿。月事時下兮，如朝夕之應期。血海常滿兮，似江漢之流波。若謂無病可以勿藥。或不及期而先來兮，氣有餘而血易虧。或過期而後來兮，氣不足而血本弱。月色淡白兮，由血室之水虛。經水紫黑兮，被胞戶之火灼。經未行而腹痛兮，氣滯血澀宜調經。已行而腹痛兮，和氣養血勿錯，或一月再行兮，邪火迫而氣血不藏。或數月一行兮，元氣虧而生化不多。是皆損真之病，貴在調理之和。滿而不泄兮，為經閉，為血枯，為　癥瘕。泄而不滿兮，為崩中，為帶下，為漏濁。常滿者，惡其放流。常泄者，慮其氣脫。脈惟喜乎芤澀，診切忌乎洪數。或隱忍而病盛兮，愚婦自速其亡。妄攻補而增劇兮，庸醫反助其虐。</p>

<h3>妊娠診驗</h3>
<p>震風之喜有徵（肝脈旺），妊娠之脈必確。尺數關滑而寸盛，陽搏陰別而雀啄。精神雖倦，桃腮更妍。飲食惡阻，天癸不落。無妨惡阻之害，所慎漏胎之濁。熱常要清，脾不可弱，熱若盛而胎動不安，脾若虛而胎危易墮。惟以安胎為本，其餘雜症為末。斯先哲之格言，宜當病以授藥。</p>

<h3>胎元雜症</h3>
<p>子懸急痛而勿疑，子癎卒倒而可愕，子滿胎肥而氣壅，子瘧脾虛而氣弱，子咳子嗽而胎傷，子鳴疙瘩而脫落。子煩子淋兮，胎熱所為。子腫子氣兮，胎水所作。病痢病漏兮，胞有熱而宜清。傷寒傷食兮，疾苦多而成惡。常慘常笑兮，肺氣結而非祟。暴啞不語兮，心血虛而勿藥。胎若肥而瘦胎之藥速進，脈怕微而診脈之時休錯。</p>

<h3>藥餌</h3>
<p>經候不調兮，烏雞（丸）可投。天癸或阻兮，蒼（術）莎（即香附）宜託。地黃補腎宜施，參朮養脾莫卻。三補涼血兮，專治崩中之藥。補中暖宮兮，能固帶下之脫。安胎胡（黃）連兮，在妊娠為最宜。瘦胎達生（散）兮，視形症而休錯。黑神（散）去惡露而可取胎衣，十全（大補）補虛弱而能除陰火（三補丸涼血見匯方）。</p>

<h3>調經章</h3>
<p>經曰：女子二七而天癸至，衝任滿盛，月事時行，必有常候。得其常候者為無病，不可妄投調經之劑。苟不及期而經先行者，或過期而經後行者，或一月而經再行者，或數月而經一行者，或經閉不行者，或崩，或漏下者，此皆失其常候，不可不調也。大抵調治之法，熱則清之，冷則溫之，虛則補之，滯則行之，滑則固之，下陷則舉之，對症施治，以平為期。如芩、連、梔、柏，清熱之藥也；丁、桂、薑、附，溫暖之藥也；參、朮、歸、耆，補虛之藥也；川芎、香附、青皮、延胡索，行滯之藥也；牡蠣、赤石脂、棕櫚灰、側柏葉，固精之藥也；升麻、柴胡、乾葛、白芷，升舉之藥也。隨其症而善用之，鮮有不效者矣。</p>

<h3>經候不調有三</h3>
<p>一曰脾虛。經曰：二陽之病發心脾。夫二陽者，陽明胃也。胃主受納水穀，溉灌臟腑，流行經隧，為血氣之母而亦與心系，惟憂愁思慮以傷心，心氣受傷，脾氣失養，鬱結不通，腐化不行，則脾胃虛弱，飲食減少，氣漸耗，血漸少，以致婦人有血枯、血閉及血少色淡，過期始行，數月一行之病。</p>
<p>二曰衝任損傷。經曰：氣以吹之，血以濡之。故氣行則血行，氣止則血止焉。女子之性多執拗、褊急、忿怒、妒忌，致傷肝氣。肝為血海衝任之系，失守則血氣妄行。又或未及二七天癸之期，而男子強與之合，或適月事未斷之時而男子縱欲不已，致衝任內傷，血海不固，由斯二者乃有為崩、為漏，一月再行，不及期而行者矣。</p>
<p>三曰脂痰凝塞。蓋婦人之身所貴，內而腸胃開通，無所阻塞，外而經隧流利，無所凝滯，則血氣和暢，經水應期。惟彼肥碩者，膏脂充滿，元室之戶不開。挾痰者，痰涎壅滯，血海之波不流。故有過期而經始行，或數月而經一行及為濁，為帶，為經閉，無子之病。</p>

<h3>經候脈證歌</h3>
<p>女子二七天癸至，調經察脈要分明。左右尺脈皆沉伏，此病分明是閉經。肝大肺小應有子，兩尺不斷滑脈形。心腎俱旺知是孕，肺大肝小孕不成。左寸滑實為男脈，右尺沉滑女兒真。兩關沉緊腹之痛，肝肺俱浮痛在胸。一月一行為經信，或前或後莫輕心。先期而行為血熱，後期而至是寒經。經來疼痛為氣滯，行後或痛氣虛臨。其色黑者多濕熱，淡白而至是痰凝。徒行黃水血不足，紫色由來風邪侵。行經之時宜慎重，若有憂鬱血必停。走於腰膝多疼痛，散在四肢則不仁。停於血海生寒熱，逆上衝心患戰驚。此是調經真妙訣，醫人熟記信有靈。</p>

<h3>行經三忌</h3>
<p>—　行經感冒風寒，不宜發表取汗，必俟經盡，方可服解表退熱之劑。</p>
<p>—　行經不宜多浴冷水，恐患四肢麻痹，又不宜多飲冷水，恐傷肺氣，致聲啞咳嗽，無藥救治。</p>
<p>—　行經不宜飲酒大醉，恐引血妄行，又不宜鬱怒太甚，恐經血忽停，變成閉經。又不宜驟用補藥，恐致蓄血，或四肢疼痛，或五心發熱，為害非輕。</p>

<h3>調經主方</h3>
<p>當歸　白芍　熟地　甘草　陳皮　香附　川芎</p>
<p>先期而來是血熱，本方加酒炒黃芩、柴胡、丹皮。</p>
<p>後期而至是血虛，本方加蜜炒黃耆、土炒白朮、茯苓、杜仲、故紙。</p>
<p>經來痛者，氣滯，本方加五靈脂、延胡索、紅花。若痛甚有痞塊者，血瘀，本方加三稜、莪朮、山楂核。</p>
<p>經行後作痛，虛中有滯，用八珍湯（方見後）加吳萸、故紙、小茴。</p>
<p>經來色淡，脈滑者多痰，本方加半夏、南星、肉桂、白朮。</p>
<p>經來多黑塊，脈實者，熱極，本方加黃連、紅花、丹參。</p>
<p>經來多黃水者，血不足，本方加茯苓、黃耆、肉桂、人參、白朮。</p>
<p>經來手足痠痛，本方加桂枝、防風、秦艽。</p>
<p>經來撲地，脈散腮紅，火熱肝也。不可誤作中風、中痰，本方加膽草、梔仁、黃芩、柴胡。</p>
<p><u>四物湯</u></p>
<p>地黃　白芍　當歸　川芎</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　茯苓　炙草</p>
<p>四物合四君名八珍湯，再加黃耆、肉桂名十全大補湯。</p>
<p>歌曰</p>
<p>調經主方四物呈，甘草陳皮香附成，先期血熱丹芩紫，後期耆朮杜紙苓，來痛氣滯延紅五，血瘀查覈莪朮稜。虛滯合君吳茴紙，淡滑星夏術桂增，黑塊實極參連紅，手足痠痛桂防秦，黃水苓朮參耆桂，撲腮紅梔膽柴苓。</p>

<h3>【附錄】八珍十全合方歌</h3>
<p>四物地芍與歸芎，血家百病此方通。八珍合入四君子，氣血雙療功獨崇。再加黃耆與肉桂，十全大補補方雄。</p>
<p>凡婦人經不調，心腹痛，兼嘔逆，喜輕摸則緩，是寒熱相搏，（湘門）常用黃連湯煎服可愈，三服全瘳，屢試屢效。</p>
<p>黃連湯以明黨為君，黃連用三五分（須煨薑汁炒）。</p>
<p>歌曰</p>
<p>黃連湯內用乾薑，半夏人參甘草藏，更入桂枝兼大棗，寒熱平調嘔痛亡。</p>
<p>按：此湯與小柴胡湯同意以桂枝易柴胡，以黃連易黃芩，以乾薑易生薑，余藥俱同，皆和解之意。但小柴胡湯屬少陽藥，此湯屬太陽陽明藥。</p>

<h3>經水一月再行歌</h3>
<p>經水一月再來行，多因怒氣損肝經，四物湯內柴芩入，川連加來信有靈，另增知柏為丸服，滋陰降火治衝任。</p>
<p>—　脈與症無火，而經早不及期者，乃心脾氣虛不能固攝而然，宜八珍湯（方見前）加杜仲、續斷、五味子。若作火治，仍用寒涼，為害非輕。</p>
<p>—　經行一月之內或二三至，或半月旬日及二十日數至，此血氣敗亂之症，治當用十全大補湯（方見前）峻補，不得作經早同治。</p>

<h3>經水過月乃行歌（若是季經，每三月一行，必不成孕）</h3>
<p>過月而行多血虛，婦人脾胃弱無疑，歸脾湯加芎芍杜，或用八味丸治之。肥盛婦人痰阻滯，加減道痰湯亦宜，芎歸白朮苓夏草，南星蒼朮芍陳皮。</p>
<p><u>歸脾湯</u></p>
<p>白朮　人參　黃耆（炙）　當歸　炙草　茯神　志肉　棗仁　木香　龍眼肉</p>
<p>薑棗引。</p>
<p>歌曰</p>
<p>歸脾湯用術參耆，歸草茯神遠志隨，棗仁木香龍眼肉，煎加薑棗益心脾，怔忡健忘俱可卻，腸風崩漏總能醫。</p>
<p><u>八味地黃湯</u>（即八味丸）</p>
<p>熟地　茯苓　山藥　丹皮　澤瀉　棗皮　附片　肉桂</p>
<p>歌見後匯方。</p>
<p><u>加減導痰湯</u></p>
<p>茯苓　法夏　陳皮　甘草　當歸　川芎　白朮　南星　蒼朮　芍藥　（歌合症內）</p>
<p>—　血熱經遲，由婦人陰火內灼，血本熱而亦每過期，此水虧血少，燥澀而然。何以驗之？其經來必多紫黑，腹微痛，宜服知柏地黃湯（見中卷匯方即六味地黃湯加味）。</p>
<p>歌曰</p>
<p>血熱經遲陰火灼，水虧血少愆期作，腹中微痛色紫黑，知柏地黃湯堪著。</p>
<p>—　血寒經遲，陽氣不足，生化失期，乃至過月。何以驗之？其經來色淡不鮮，或澀滯而少，惡寒喜暖，脈多微沉，此是無火之症，宜服理陰扶陽四物湯。</p>
<p><u>理陰扶陽四物湯</u></p>
<p>當歸　川芎　白芍　熟地　黑姜　肉桂　吳萸　蓽茇</p>
<p>歌曰</p>
<p>血寒經遲陽氣虧，色淡滯澀脈沉微，理陰扶陽湯四物，加桂蓽茇吳姜灰。</p>

<h3>經行數日不止歌</h3>
<p>（三日為常。或五六日，七八日，乃血熱所致。每期至第四日，以此方連服二劑，若血多紫黑服四劑，兩月見效）</p>
<p>經水多來皆屬熱，四物柴芩湯主之，五心煩躁為妙藥，不拘肥瘦並相宜，芩柏芍柴阿荊芥，歸芎地合病可治。</p>
<p><u>四物柴芩湯</u></p>
<p>生地（二錢）　當歸（一錢）　白芍（一錢）　川芎（一錢）　阿膠（用蒲黃炒，二錢）　荊芥（三錢，炒成炭）　黃芩（一錢，酒炒）　黃柏（一錢，炒成炭酒淬）　柴胡（一錢，酒炒）</p>
<p>歌合症內。</p>

<h3>經來色淡不多歌</h3>
<p>經來色淡屬血虛，只須八物湯主之。肥人痰滯經來少，再加半夏南星醫。</p>
<p>即八珍湯加半夏、南星（八珍湯方見前）。</p>

<h3>經水逆上妄行歌</h3>
<p>經來何為上逆行，皆由血熱不歸經，或唾或衄或吐出，四物涼膈投自平。</p>
<p><u>四物涼膈湯</u></p>
<p>當歸　川芎　赤芍　生地　黃芩　梔仁（炒）　連翹　蒲黃　薄荷　丹皮　桔梗　柴胡　荊芥</p>
<p>經行鼻血者，本方加柏葉、茅根汁、發灰。</p>
<p>經行吐血者，本方加茜草、丹參。</p>
<p>經行唾中痰內有血絲者，本方加沙參、桑皮、側柏葉。</p>
<p>歌曰</p>
<p>四物涼膈治逆經，連翹梔薄蒲黃芩，丹皮桔梗柴荊芥，經行吐血茜丹參。鼻血須加柏茅發，唾絲沙參桑側增。</p>

<h3>經水或前或後歌</h3>
<p>或前或後不如常，當服溫經滋補湯，更有歸附丸尤妙，氣盛血衰抑氣良。</p>
<p><u>溫經滋補湯</u>　治脈虛兩尺沉微，眼花目眩，腰膝痠痛。</p>
<p>當歸　川芎　熟地　白朮　白芍　茯苓　山藥　棗皮　丹皮　小茴　延胡　杜仲</p>
<p>歌曰</p>
<p>脈虛兩尺又沉微，花眩腰膝痠痛隨，溫經滋補湯宜用，地芍芎芩與小茴，白朮山藥丹皮棗，延胡杜仲共當歸。</p>
<p><u>歸附丸</u>　治氣亂經期或前或後。</p>
<p>當歸（四兩）　香附（八兩，童便浸一晝夜曬乾，再加酒、醋、鹽、水、薑汁各炒一次，合為五制）</p>
<p>上藥二味共碾細末籮過，米糊為丸，溫湯吞服。</p>
<p>歌曰</p>
<p>氣亂前後歸附丸，附八歸四米糊為。</p>

<h3>又抑氣散方歌</h3>
<p>若氣盛血衰，前後不如期，多致不孕，宜抑氣散。</p>
<p><u>抑氣散</u></p>
<p>香附　陳皮　茯神　甘草</p>
<p>歌曰</p>
<p>氣盛血衰妊難藏，或前或後抑氣良，陳皮香附童便炒，堅白茯神甘草安。</p>

<h3>經閉不行三候歌</h3>
<p>一因脾胃受虛損，食少血虧非血停，急宜補脾還養血，血充氣足自經行。二因憂怒損肝經，肝火鬱閉經始停，開鬱二陳湯急用，或制女聖丸亦靈。三因體肥痰滯壅，故令經血不能通，加減導痰湯作主，多服方知藥有功。未嫁衍期經忽閉，急宜婚嫁勿藥攻。</p>
<p><u>補脾散</u></p>
<p>蜜耆　白朮　當歸　茯神　志肉　棗仁（炒）　砂仁（薑汁炒）　人參　甘草　川芎　山藥　桂元</p>
<p>歌曰</p>
<p>補脾散用歸棗仁，參朮耆砂志茯神，芎草淮山桂元等，脾虛血少經閉靈。</p>
<p><u>養血活經湯</u>　治血枯經閉。</p>
<p>當歸　川芎　肉桂　丹參　澤蘭　茜草　烏賊骨</p>
<p>酒同煎。</p>
<p>歌曰</p>
<p>養血活經當歸桂，茜草丹參澤蘭配，川芎烏賊酒同煎，血枯經閉不須慮。</p>
<p><u>開鬱二陳湯</u></p>
<p>蒼朮　陳皮　茯苓　半夏　當歸　川芎　香附　梔仁（炒）　青皮　木香　柴胡　薄荷　甘草　澤蘭</p>
<p>歌曰</p>
<p>開鬱二陳術陳苓，芎歸香半青梔仁，木香柴薄澤蘭草，肝盛火鬱經閉行。</p>
<p><u>女聖丸</u>　治氣盛經閉。</p>
<p>香附（一斤，童便浸一晝夜，曬乾後用薑汁、鹽水、酒、醋各炒一次，合成五制）</p>
<p>碾極細末，米糊為丸如梧桐子大。</p>
<p>歌曰</p>
<p>香附五制米糊丸。</p>
<p><u>加減導痰湯</u></p>
<p>陳皮　蒼朮　南星　半夏　茯苓　枳殼　甘草　當歸</p>
<p>若白來多加乾薑、肉桂各一錢、丹參三錢。</p>
<p>歌曰</p>
<p>體肥痰滯經不行，加減導痰星半陳，蒼朮茯苓歸甘枳，白多加薑桂丹參。</p>
<p><u>烏雞丸</u>（歌括）　此丸專治婦人脾胃虛弱，衝任損傷，血氣不足，經候不調，以致無子者，服之屢驗。</p>
<p>未鐓烏骨白雄雞，粳米餵養七日期，吊死去毛並雜細，一斤為卒藥料隨，天麥二冬生熟地，灌入雞肚羨方奇。醇酒十碗砂罐煮，取出去藥火焙之，焙至焦枯碾為末，再加杜仲炒斷絲，蓯蓉小茴破故紙，炙草歸芎白朮遺，丹參香附砂仁茯（苓），諸藥為末細研斯，酒調麵糊為丸服，空心飲下經候醫。</p>

<h3>閉經集要</h3>
<p>—　性沉多慮，吞酸胸滿，經水不行，用補中益氣湯加梔仁、香附。</p>
<p>—　素有胃火，口臭，牙齦腫痛，消爍陰血，經水不行，用逍遙散加丹皮、梔仁。</p>
<p>—　久病氣血兩虛，經水不行，朝用補中益氣湯，暮用六味地黃湯（方見彙集）。</p>
<p>—　私妮寡婦經閉不行，多因情欲不遂或因憂鬱而致，宜服加味逍遙散。</p>
<p><u>補中益氣湯</u></p>
<p>蜜耆　白朮　陳皮　升麻　柴胡　人參　當歸　炙草</p>
<p>歌曰</p>
<p>補中益氣耆朮陳，升柴參草當歸身，虛勞內傷功獨擅，亦治陽虛外感因，木香蒼朮易歸術，調中益氣暢脾神。</p>
<p><u>加味逍遙散</u></p>
<p>當歸　芍藥　柴胡　茯苓　白朮　甘草　煨姜　薄荷　丹皮　梔仁</p>
<p>歌曰</p>
<p>逍遙散用當歸芍，柴苓朮草加姜薄，散郁除蒸功最奇，調經八味丹梔著。</p>
<p>—　女子年屆二三十歲，月水不行又無病症，名室女。終身不孕，不在閉經例論，若室女經來復止又無病，名歇經。不必服藥。</p>
<p>—　婦人終身不行經而反多孕者，亦常有之，不必服藥。</p>
<p>—　婦人脈虛經閉，骨蒸潮熱，宜服加減八物柴胡湯。</p>
<p><u>加減八物柴胡湯</u></p>
<p>人參　茯苓　炙草　當歸　白芍　生地　麥冬（去心）　知母　柴胡　竹葉</p>
<p>有汗加地骨皮，無汗加丹皮，如熱甚加黑姜灰。</p>
<p>歌曰</p>
<p>加減八物柴胡湯，參苓芍草生地當，麥冬知母柴竹葉，汗加地骨無汗丹，熱甚黑姜參神效，脈虛經閉熱潮安。</p>
<p>—　婦人脈實經閉，咽燥唇乾，發熱，宜服加減四物涼膈散。</p>
<p><u>加減四物涼膈散</u></p>
<p>當歸　川芎　赤芍　生地　黃芩　連翹　川連（酒炒）　梔仁（炒）　薄荷　甘草　桔梗　淡竹葉</p>
<p>歌曰</p>
<p>加減四物涼膈芩，芎歸翹芍地梔仁，川連竹葉桔甘薄，咽燥唇乾經閉行。</p>
<p>—　經閉服破血破氣藥而不應者，宜養血，俟其自行，不必再損元氣，恐生他症，慎之。</p>
<p>—　經閉飽脹，腹痛成痞塊，宜服通經活血湯。</p>
<p><u>通經活血湯</u></p>
<p>丹皮　荊芥　赤芍　當歸　川芎　生地　熟地　桃仁　紅花　澤蘭　延胡　枳殼　香附　丹參　川膝</p>
<p>歌曰</p>
<p>通經活血丹荊芍，桃紅澤蘭芎枳殼，丹參香附生熟地，川芎當歸延胡索。</p>
<p>凡婦人經閉不行，血痞腹大如孕子狀者，宜服活血消痞丸。</p>
<p><u>活血消痞丸</u></p>
<p>當歸（二兩）　川芎（一兩五錢）　赤芍（一兩五錢）　木枝（三兩）　小茴香（一兩五錢）　烏藥（一兩）　香附（五兩）　三稜（一兩二錢）　莪朮（一兩二錢）　延胡索（一兩二錢）　青皮（一兩二錢）　阿魏（一兩五錢）　茯苓（一兩五錢）　川膝（一兩五錢）　上桂（五錢）</p>
<p>共碾細末，酒醋麵糊為丸，白開水送下。</p>
<p>凡婦人經不調，腹中撮痛，或結聚癥瘕，及產後中風等症，宜服交加散（癥音真，癥者真也，有塊可徵。瘕音加，瘕者假也，痛而無形）。</p>
<p><u>交加散</u></p>
<p>生地（一斤取汁）　生薑汁（十二兩取汁）</p>
<p>以地黃汁炒姜柤，以薑汁炒地黃柤，干為末，每服三錢，溫酒調，加芍藥、延胡、當歸、蒲黃、桂心各一兩，沒藥、紅花各五錢尤效。</p>
<p>有室女忽經閉，腹脹痛。醫用行氣逐瘀之藥罔效，又用延胡、稜莪、桃紅等藥，痛甚難當，至數月。延湘門診視，其脈虛緩，作血虛氣滯治，用四物加丹參、明黨、茯苓、香附、烏藥、陳皮、小茴養血理氣，使血足氣行而經自通。服十劑相安，仍守方，間有熱加酒柴芩至三十餘劑，忽脹痛甚如產，速延至湘，知經將通，即以生丹參、赤芍、延胡、香附（童便炒）、烏藥、木通、川膝、山查炭、桂心、沒藥、澤蘭、樹烏苞根、車前草同煎，童便對服，外用乾荷葉、舊棕燒灰，取艾絨（燒酒炒）和前灰，將稀布包熨臍腹，令熱入內，血即大下，其病若失。</p>
<p><u>通月水單方</u>　見《綱目》。</p>
<p>芥子（為末酒服）。又絲瓜（為末酒服）。又人乳（日飲三合）。又鼠屎（酒服一錢）。兼瘕塊用馬鞭草（熬膏服）。經脈逆行用韭汁（入童便飲）。月經久閉用蠶砂（炒煮酒飲一盞即通）。澤蘭養營氣，破宿血，主婦人勞瘦，女科要藥也。茺蔚子調經，令人有子，活血行經，有補陰之功。紫荊皮活血行氣。</p>
<p>岳太邑庠陳樹蕙翁傅治婦人奇病，名曰珍珠積。因血氣凝滯，經水數月不行如孕子狀，但腹痛，時用手按之有小團，或至年餘不產，形體消瘦，宜服琥珀湯。</p>
<p><u>琥珀湯</u></p>
<p>琥珀（一兩，火磚燒紅焙研末）　家生地（一兩，搗汁和調）　生澤蘭（二兩）</p>
<p>煎水，酒對服即產下血珠、水珠全愈（湘門）。在省一婦患此病，依方治之，捷效。真妙方也。</p>

<h3>石瘕</h3>
<p>石瘕者，因行經之時寒氣自陰戶而入，客於胞門，致經血凝聚，月信不行，其腹漸大如孕子狀，婦人壯盛者半年之後小水長而消矣。若虛怯者必成腫病。溫經湯主之。</p>
<p><u>溫經湯</u></p>
<p>當歸　川芎　赤芍　人參　炙草　牛膝　故紙　小茴　莪朮</p>
<p>歌曰</p>
<p>溫經湯用芎歸參，赤芍炙草牛膝並，故紙小茴逢莪朮，石瘕虛怯此方靈。</p>

<h3>腸覃</h3>
<p>腸覃者，因行經之時寒氣自肛門而入，客於大腸，致經血凝聚，月信雖行而卻血少，其腹漸大如孕子狀，如胎漏狀，壯盛婦人半年以後氣盛自消，虛怯者必成脹病，桂枝桃仁湯主之。</p>
<p><u>桂枝桃仁湯</u></p>
<p>桂枝　桃仁　生地　白芍　枳殼　炙草</p>
<p>歌曰</p>
<p>腸覃桂枝桃仁湯，桂桃地芍及枳甘。</p>
<p>以上二症詳《靈樞》經，女科未載，特表出之。</p>

<h3>交腸病</h3>
<p>交腸一症，乃女人之疾。大便從前陰出，小便從後陰出，雖見於方書，而世罕見，姑就醫案二條以示後。</p>
<p>昔一婦產後惡露不行，腹脹喘滿，大便從前陰出，因婦酷嗜燒酒，所產之兒身無骨，因而驚駭，遂患此症。用芎歸湯（方見達生編）加莪朮、肉桂、山楂（炒黑），一服瘀血即行，二便如常。又治一女子，方四歲，秋患血痢，稀糞出前陰，作冷熱不調治之，用加味五苓散，服二劑而安。</p>
<p><u>加味五苓散</u></p>
<p>白朮　澤瀉　豬苓　茯苓　官桂　甘草　木香　黃連</p>
<p>歌曰</p>
<p>加味五苓朮澤瀉，豬苓二苓官桂列，再加甘草與木香，黃連煎服病除絕。</p>

<h3>花顛病（詳《石室秘錄》）</h3>
<p>婦人花顛，乃忽然顛癇，見男子則抱住不肯放者。乃思慕男子，不遂其欲，忽然心昏，罔識羞恥，見男子則以為情人也。此肝木枯槁，內火燔盛，脈必弦出寸口，法當用平肝祛邪之劑，宜服八味逍遙散（方見調經）加香附（童便炒）。</p>

<h3>崩漏論</h3>
<p>婦人崩中之病，皆因中氣虛不能收斂其血，加以積熱在裡，迫血妄行，故令經血暴下，而成崩中。崩久不已，遂成漏下。叔和《脈訣》云：崩中日久為白帶，漏下時多腎水枯，治有三法，初止血，次清熱，後補其血，未有不痊者矣。</p>

<h3>崩症三候歌</h3>
<p>血崩之症分五名，赤者汁如洗絳形（肝火），黃如爛瓜流黃水（脾經濕熱），白猶鼻涕不留停（肺氣虛），青則恰如青靛色（肝氣實），黑乃紫黑血塊凝（肝脾濕熱），血未來時先發熱，此因肝火內相侵，清肝涼血有主方，加味逍遙實可尋。血虛氣弱血崩下，歸脾湯服信有靈，白崩之症另有方，八珍加減不須驚。</p>
<p>凡婦人初得崩中暴下之病者，宜用止血之劑，所謂急則治其標也。四物湯調十灰散主之。</p>
<p><u>四物湯</u>　方見前。</p>
<p>用此煎水調。</p>
<p><u>十灰散</u></p>
<p>藕節　蓮蓬　艾葉　柏葉　乾薑（炮）　頭髮　乾漆　蒲黃　山梔　棕櫚</p>
<p>以上十味各燒灰存性。</p>
<p>歌曰</p>
<p>十灰散用藕節棕，艾柏乾薑與蓮蓬，山梔蒲黃乾漆發，暴崩宜用四物充。</p>
<p>如血已止，裡熱未除，宜服清熱之劑，涼血地黃湯主之。</p>
<p><u>涼血地黃湯</u></p>
<p>生地　當歸　黃連　黃柏　黃芩　知母　川芎　炙草　紅花　升麻　柴胡　荊子　荊芥　防風</p>
<p>歌曰</p>
<p>涼血地黃芎歸鬚，芩連梔柏蔓防宜，荊芥升麻紅花草，血止里熟此方隨。</p>
<p>如血止裡熱已除，又宜補虛加味補中益氣湯主之。</p>
<p><u>加味補中益氣湯</u></p>
<p>即補中益氣湯（方見前）加白芍、知母（酒炒）、川柏（酒炒）、茯苓。</p>
<p>歌曰</p>
<p>血止熱除用補中，苓芍知柏加見功。</p>
<p>如崩久成漏，連年不休者，此中氣下陷，元氣不固，宜服補中益氣湯，兼服鹿角霜丸。</p>
<p><u>補中益氣湯</u>　方歌見前調經門。</p>
<p><u>鹿角霜丸</u></p>
<p>鹿角霜　柏子仁（去油）　當歸　茯神　龍骨（煅）　阿膠</p>
<p>氣陷元氣均能固。</p>
<p>治崩症色如絳汁，靛汁紫黑，宜服加味逍遙散。</p>
<p><u>加味逍遙散</u>　方歌見前調經門。</p>
<p>治崩症色淡白或流黃水，宜服歸脾湯。</p>
<p><u>歸脾湯</u>　方歌見前調經門。</p>
<p>若血來不止，發熱，五心不煩，加續斷、阿膠、杜仲。若血來小腹微痛加小茴、吳萸。</p>
<p>治崩症紅少白多，宜服八珍湯。</p>
<p><u>八珍湯</u>　方歌見前調經。</p>
<p>若白多，四肢怯寒，加熟附片、肉桂、黑薑、吳萸。</p>

<h3>血崩心痛</h3>
<p>婦人血崩而心痛甚，名曰殺血心痛。由心脾血虛也，小產去血過多而心痛甚者亦然，方用烏賊骨炒為末，調失笑散。一服即愈，仍多服歸脾湯（方見前）調養心脾。</p>
<p><u>失笑散</u></p>
<p>五靈脂（酒炒）　蒲黃</p>
<p><u>崩漏單方</u>　見《綱目》。</p>
<p>用雞冠花（及為末子酒服）。凌霄花（為末酒服）。竹茹（微炒水煎服）。黑豆（炒焦沖酒服）。魚鰾膠（和雞子煎餅食酒下）。阿膠（炒焦酒服，和血滋陰）。</p>
<p>崩中垂死用羊肉、當歸、川芎、乾薑煮服。其四物活血理氣，及椿白皮、烏骨雞、蚌殼、艾葉、茅根等藥在人採用。止澀用棕灰、梅葉（水煎酒對）、蓮房（經不止燒研酒服，血崩同荊芥燒服。產後崩同香附燒服）、松煙墨（漏下五色水服）、翻白草（擂汁酒服）、蠶脫紙（槐子服）、桂心（研段飲服，二錢）、木賊（漏血不止者用五錢），煎水服。血崩氣痛同香附、厚朴硝末服之。崩中赤白脈不斷同當歸、川芎服，伏龍肝（同阿膠、蠶砂末酒服）。</p>
<p>婦人血崩宜服消汙湯。</p>
<p><u>消汙湯</u></p>
<p>乾荷葉（煎湯）</p>
<p>腹痛加香附。</p>
<p>婦人血崩氣痛宜服備金散。</p>
<p><u>備金散</u></p>
<p>香附　歸尾　靈脂（炒）</p>
<p>俱用醋製為末服。</p>
<p>婦人血崩不止宜服柏黃散。</p>
<p><u>柏黃散</u></p>
<p>黃芩　柏葉　蒲黃（炒）</p>
<p>共為末，灶心土煎水，泡調服。</p>
<p>婦人血崩目癢宜服無比散。</p>
<p><u>無比散</u></p>
<p>晚蠶砂（炒）</p>
<p>為末，灶心土煎水，泡調服。</p>
<p>婦人血暴崩宜服如聖散。</p>
<p><u>如聖散</u></p>
<p>棕（燒灰）　烏梅肉（燒灰）　黑姜（燒灰）</p>
<p>共為末，烏梅湯下。</p>
<p>婦人血崩如絳色宜服一笑散。</p>
<p><u>一笑散</u></p>
<p>新紅綢（二尺燒灰）</p>
<p>空心酒下。</p>
<p>婦人肝經有風血崩宜服獨聖散。</p>
<p><u>獨聖散</u></p>
<p>防風</p>
<p>為末，每服二錢，空心食前，酒煮白麵清飲調下極驗。</p>
<p>婦人血虛內熱，血不歸源而崩，宜服神應散。</p>
<p><u>神應散</u></p>
<p>桂心（燒存性）</p>
<p>為末，每服一二錢，米飲調下。</p>
<p>一方　治血崩、血瘕，或經行產後心腹脅痛。五靈脂（炒煙盡），為末，每服一錢或三錢，水酒童便調下。</p>
<p>一方　治風熱血崩。芥穗（燈火燒焦），為末，每服三錢，童便調下。</p>
<p>一方　治血虛內熱血不歸源而崩。陳槐花一兩，百草霜五錢，為末，每服一二錢，燒紅稱錘淬酒下。</p>
<p>一方　治紅崩。</p>
<p>糖雞芽根（為君），桂元、紅棗。</p>
<p>一方　治白崩。糖雞芽根（為君），土茯苓。</p>
<p>婦人經候凝結，血塊暴下，脾虛水瀉，宜服益胃升陽湯。</p>
<p><u>蓋胃升陽湯</u></p>
<p>即補中益氣湯加神麯（炒）、黃芩。</p>
<p>上方詳見《醫通》。</p>

<h3>赤白帶下論</h3>
<p>帶下之病，婦人多有之，赤者屬熱，兼虛兼火；白者屬濕，兼虛兼痰，白芷散主之。又有白濁、白淫，略與白帶相似，但白帶時常流出清冷稠黏，此由下元虛損。白濁者，濁隨小便而來，渾濁如泔，此胃中濁氣滲入膀胱，加味二陳湯主之。白淫者，常在小便之後而來，亦不多，此男精不攝，不須治而自愈。</p>
<p>用藥歌</p>
<p>赤帶四物用芩連，升麻丹皮服無虞，白帶六君加蒼朮，吳萸黑姜實可祛。老年白帶多氣虛，補中益氣湯可除，增入黑姜茯半夏，引加薑棗自然無。</p>
<p><u>白芷散</u></p>
<p>白芷　烏賊骨　發灰</p>
<p>歌曰</p>
<p>白芷散醫赤白帶，賊骨發灰白芷載。</p>
<p><u>加味二陳湯</u></p>
<p>陳皮　半夏　茯苓　白朮　蒼朮　益智仁　炙草　升麻（酒炒）　柴胡（酒炒）</p>
<p>歌曰</p>
<p>加味二陳湯茯苓，陳半甘草益智仁，蒼白升柴同一罐，如泔渾濁服之靈。</p>
<p>治虛寒白帶、小便白濁等症，宜服內金鹿茸丸。</p>
<p><u>內金鹿茸丸</u></p>
<p>熟附　淮藥　黃耆　鹿茸（酒塗炙）　蓯蓉　五味　遠志　牡蠣（煅）　雞內金（即雞肫皮）　桑螵蛸</p>
<p>歌曰</p>
<p>內金鹿茸附山茸，遠志耆蓯雞內金，牡蠣桑螵五味等，虛寒帶濁效如神。</p>

<h3>崩漏帶下不治之症</h3>
<p>—　崩帶日久，純下臭黃水，或帶紫黑筋塊，腥穢不堪者不治。</p>
<p>—　崩帶日久，腹滿不能飲食，不受參朮補益者不治。</p>
<p>—　崩帶服大補劑後反加寒熱、口燥、面目足脛浮腫者不治。</p>
<p>—　崩帶已止，少腹不疼，後變陰戶腫脹，痛如刀割者死期迫矣。</p>

<h3>帶濁單方（見《綱目》）</h3>
<p>木槿皮煎水酒兌，隨赤白用。</p>
<p>雞冠花煎水酒兌，或煮雞子服，隨赤白用。</p>
<p>白合搗如泥，滾酒泡服，或炒豬肉吃，治白帶。</p>
<p>白扁豆炒研末飲服花同。</p>
<p>白淫用糯米、花椒炒研醋糊丸服。</p>
<p>白帶冷痛腥穢用白芷、蜀葵根、白芍飯和丸服，或用白蠟化和丸。</p>
<p>產後赤白帶絕孕用羊肉豉蔥煮熟入酥食。</p>
<p>治白帶白濁宜益智天冬四物湯，湘門自擬，屢試屢驗。</p>
<p><u>益智天冬四物湯</u></p>
<p>當歸（二錢）　正芎（一錢）　酒芍（一錢）　熟地（四錢）　塊苓（三錢）　淮藥（三錢）　益智仁（鹽水炒研一錢）　天冬（二錢）　香附（薑汁炒研，二錢）　條芩（酒炒八分）　條草（一錢）</p>
<p>身體痛加丹參（酒炒，二錢），有熱加柴胡（酒炒，一錢），有痰加半夏（一錢），腹痛加小茴（一錢）。或陰癢加芥穗（酒炒，一錢）、沙蒺藜（酒炒，一錢）。如有臭氣加熟石膏（六七分），同煎，連服四五劑可效。如不能全愈，及愈而復發，久則甚而不禁。經云：漏下時多腎水虧。須以澀之，用芭蕉蔸切片，用滾水撈過，每用三兩炒豬腈肉四兩，著醬油食之，數服全愈。愈後用前方作丸一料服之，數月能孕。</p>
<p>歌曰</p>
<p>益智天冬芎歸芍，地附苓甘芩山藥。體痛丹參熱柴胡，痰夏腹痛小茴卻。陰癢芥穗沙蒺藜，如有臭氣石膏合。久濁不禁澀芭蕉，腈肉炒食病全脫。</p>

<h2>求嗣門</h2>

<h3>求嗣論</h3>
<p>聞之乾道成男，坤道成女，乾坤以二氣交感而生化萬物。男女以二氣交感而廣其嗣。源此，男女配匹厥系匪輕也。然必陽道乾健而不衰，陰癸應候而不愆，陰陽交暢，精血凝合而胎元易成。倘陽衰而不能下應乎陰，陰衰而不能上從乎陽，即欲有子而不可得。雖雲天命之有定，抑亦人事之未盡歟？</p>

<h3>立命保身夫婦交合禁忌</h3>
<p>五月十五為天地交日，夫婦當分床宿，若犯禁忌，二年內夫婦雙亡，惟子時犯之，半年雙亡（子時系十四下半夜）。</p>
<p>每月初一、十五、三十及十二月二十三夜，俱系司命申奏善惡之期，須當敬畏，如犯主凶。</p>
<p>凡立春、春分、立夏、夏至、立秋、秋分、立冬、冬至，系天狗日，若嫁聚及交合，主無嗣。</p>
<p>立春、立夏、立秋、立冬各前一日為四絕，春分、夏至、秋分、冬至各前一日為四離，此八日夜若交合，雖妊多不育。</p>
<p>凡雷、風、雨、暗及日蝕、月蝕等日，俱不可犯，若犯主凶。</p>

<h3>傳世奇聞</h3>
<p>溟南一士人奉呂仙甚虔，年四十生九女，望子甚切，因朝夕焚香禱祝。一日，有道人至其家云：我有一聯，書之貼於臥室床後柱上，便可生子。叩其聯，乃「五更露結桃花實，二月春生燕子窩」十四字也。書時須默唸《易經》四句，云：無思也，無為也。寂然不動感，而遂通一氣。念七遍，恰恰寫就，又須不令人知方妙。士人遵行，連生三子，皆顯達。因廣傳於人。余常以此告琢堂於公，果生子。於琢堂轉告人俱驗，真續世仙方也。愚意奉此法者神，堂亦須虔奉呂祖，以答神庥。</p>

<h3>調治子宮四方</h3>
<p>—　肥盛婦人稟賦既厚，恣於酒食，經水不調，不能成胎，謂之軀脂溢滿，閉塞子宮，宜行痰燥濕，用蒼（術）莎（即香附）導痰湯合女聖丸（方見前調經門）。</p>
<p><u>導痰湯</u></p>
<p>茯苓　法夏　陳皮　甘草　南星　枳實</p>
<p>加蒼朮、香附，即名蒼莎導痰湯。</p>
<p>歌曰</p>
<p>—　導痰湯用苓夏陳，甘草南星枳實增，加上蒼朮並香附，蒼莎導痰湯名成。</p>
<p>—　婦人瘦怯性急，經水不調，不能成胎。謂之子宮乾澀無血，不能攝受精氣，宜滋陰地黃湯。</p>
<p><u>滋陰地黃湯</u></p>
<p>即六味地黃湯（方見彙集）加知母、黃柏（鹽水炒）。</p>
<p>—　婦人素有濁漏帶下之病，不能成胎，謂之下元虛，不能聚血受精，宜補虛澀脫，宜用烏雞丸（方見前調經門）及內金鹿茸丸（方見前亦白帶）。</p>
<p>—　婦人子宮久冷不能孕育，宜服紫石英丸。</p>
<p><u>紫石英丸</u></p>
<p>紫石英（火煅，醋淬）　熟地　山藥　棗皮　當歸　牡蠣（煅）　乾薑　烏賊骨　熟附片　遠志肉　黃耆（蜜炙）</p>
<p>蜜丸服。</p>
<p><u>調經種子丸</u>（湘門）　屢用獲驗。</p>
<p>大本枝（八兩，用老薑二兩搗汁和水煮極熟，又用薑汁炒砂仁五錢，研末水酒一斤和蒸，曬十餘烈日）　當歸（四兩，酒洗）　撫芎（二兩）　赤芍（三兩，酒炒）　條芩（二兩，酒炒）　淮山藥（四兩，酒炒）　茯苓（去皮，三兩）　香附（二兩，童便浸一晝夜炒乾，又用薑汁酒醋鹽水各炒）　枸杞（三兩，同地黃蒸）　杜仲（二兩，鹽水炒）　粉草（一兩）</p>
<p>若咳嗽加寸冬片一兩（合地黃蒸），虛甚出汗加淮黃耆一兩（蜜炙），有熱加紅柴胡一兩（酒炒）、丹皮一兩（酒洗），小腹痛加小茴八錢（鹽水炒），痰甚加法夏三錢（薑汁炒）、南星片一錢。</p>
<p>婦人月經不調，兩月一行，色黑氣臭，兼脅下結核，有一筋痛連手臂及乳，期門作熱，經前腹脹，（湘門）常擬方用當歸二錢（酒洗）、白芍一錢（酒炒）、川芎一錢、香附一錢半（童便、薑汁、鹽水、醋各炒一次）、茯神二錢、延胡一錢（酒炒）、續斷三錢（酒炒）、陳皮（去白）一張，丹皮一錢（酒洗）、青皮八分（酒洗）、柴胡一錢（酒炒）、丹參二錢（酒炒）、貝母一錢（薑汁炒研）、家生地三錢、老薑一錢，同煎服三四劑，漸愈，守方十餘劑，諸病悉除，核消，後服生血理氣藥至年餘則生育矣。</p>
<p><u>調經育子方</u>（或前或後或無期或色黑，臨期對服一劑）</p>
<p>丹參（三錢，酒炒）　當歸（一錢）　川芎（一錢）　白芍（一錢）　乾地（一錢）　陳皮（去白一張）　青皮（六分）　香附（錢半，童便炒研）　延胡（一錢，酒炒）　紅花（五分，酒洗）　甘草（八分）</p>
<p>若飲酒人致脾虛加白朮一錢、紫蘇小根五分、水刺根鬚五分同煎服，五六劑見效。又後服調理培體藥八珍湯（方見調經）。若血凝足痛，以蒼朮易白朮，加川柏六分（酒炒）、姜三片、紅棗（去核）三枚，同煎，數服全愈。</p>
<p><u>邑庠楚大瑞翁傳調經育子方</u>　不拘紫黑色，月有月無，痛極已成，燒經至眼胞色黑，皆可治之。</p>
<p>凡有熱先以大青根（俗名淡親家母），羊羖朸根、百解根（俱要去粗皮）、車前草、水燈芯⿰目弇五個（去細根）、紫蘇小根。若暑熱天加生石膏八分、香薷五分，煎服一劑。常月或加陳茶、梔子。後用烏苞根（去粗皮切片一兩此烏苞多生於䀮土間，蔓苗葉似冬莧有毛朸，要在無竹根處者方可用之）間日煮雞蛋一二個，蛋宜煮於老紅色食之，或加鹽醋亦可，以本湯當茶飲。月餘或二三月又取紅冠綠耳白烏骨雞殺之，去毛腸、頭頸、足翅，將此藥三兩灌入雞腹內，久煮去藥，連湯食之（若空心後服納不住，用鹽醋蘸之與飯同食亦可）。或黃烏骨雞亦可，但不要雜色毛。或用豬腈肉四兩，用米泔水洗之，用烏苞根藥一兩拌炒食之亦效。或有熱加大青根（去粗皮）三錢和煮，每臨期三方俱不可用，要俟潔淨三日後方可用之，調理無病，月期如常至，半年後不妊，（湘門）每用調經種子丸服半料至一料則成妊矣。此烏苞根（湘）常用水酒炒，與人煎服調經或與調經藥同煎，每每獲效，此係調經聖藥也。</p>
<p><u>調理心肝腎氣血方</u>　凡服調經種子丸後，及諸方調經後，用此方浸酒。</p>
<p>全身當歸（二兩）　玉竹（四兩）　淮黃耆（一兩，蜜炙）　遠志肉（五錢）　茯神（兩半）　棗仁（五錢，炒研）　枸杞（一兩）　續斷（一兩，酒炒）　杜仲（一兩，鹽水炒）　粉草（八分）　子條芩（五錢，酒炒）</p>
<p>有郁加香附四錢（酒炒研），小腹痛加小茴三錢（鹽水炒）、桂元一兩、大紅棗（去核）一兩。水酒浸蒸一炷香久，早晚服。</p>
<p><u>調經種子奇方</u>　大金丹，至寶丸，調經妙藥也，然修合不易，余常以此方用水煎服，竟有奇功，故錄之。</p>
<p>當歸身（揀肥者一錢二分）　熟地（二錢）　香附（一錢，童便，浸三日，醋炒，研）　白芍（一錢，酒炒）　陳皮（七分）　艾絨（七分，去梗筋，醋炒）　茯苓（八分）　炙草（三分）　延胡（八分，酒炒）　丹皮（八分，酒洗）　山茱肉（一錢二分）　乾薑（三分炮）　川芎（八分，酒洗）　官桂（四分）</p>
<p>上十四味，依法炮製加煨姜（三片）、大紅棗（一個）、水（二碗），煎至八分，空心服下，渣再煎，臨臥時服。每於月經至淨後即服此方，一日一劑，服至四五劑後，不必再服。旬日內即能成孕。如經期不調者，每月服五劑，三月後必經調而成妊矣。</p>

<h2>胎前門</h2>

<h3>保胎要論</h3>
<p>保胎之法要精詳，說與醫人仔細商。古方安胎和氣飲，不宜早用墜胎囊。我今按月有定方，依方取用自安康。論胎猶如一鐘紐，系懸必須好堅梁。氣虛恰似梁木朽，系墜梁兮胎必傷。四月以前少胎氣，和氣無如益氣良，當歸散用為妙藥，生血養氣保無妨。五六月間胎氣逼，安胎和氣飲相當。八九十月達生散，前人灼見允為臧。胎家雜病不一緒，別有良方作主張。</p>

<h3>妊娠忌藥歌</h3>
<p>蚖斑水蛭及䖟蟲，烏頭附子配天雄，野葛水銀並巴豆，牛膝薏苡與蜈蚣，三稜代赭芫花麝，大戟蛇脫黃雌雄，牙硝芒硝牡丹桂，槐花牽牛皂莢同，半夏南星與通草，瞿麥乾薑桃仁通，硇砂乾漆蟹甲瓜，地膽茅根都不中。</p>
<p>按：伏毛、紫蘇、香附、陳皮、枳殼之屬本行胎中滯氣，黃芩、黃連之屬本清胎熱，若用之太早，體虛者是益以虛而墜胎必矣。惟胎至五六月，胎氣漸逼，可斟酌用之。</p>
<p><u>安胎和氣飲</u></p>
<p>黃芩　熟地　當歸　川芎　白芍　人參　甘草　陳皮　紫蘇梗　砂仁（炒研）</p>
<p>薑棗煎。</p>
<p>歌曰</p>
<p>安胎和氣飲黃芩，熟地當歸芎芍參，甘草陳皮紫蘇梗，砂仁炒碾薑棗臨。</p>
<p><u>當歸散</u></p>
<p>當歸　撫芎　白芍　砂仁　故紙　白朮　炙草</p>
<p>若嘔加黃芩（酒炒），氣虛加蜜耆，腰痛加杜仲、續斷（鹽炒）。</p>
<p>歌曰</p>
<p>當歸散用當歸身，撫芎白芍並砂仁，故紙白朮炙甘草，嘔加黃芩酒炒珍，若是氣虛蜜耆入，腰痛固腎藥味增，杜仲續斷鹽水炒，各一錢半等分均。</p>
<p><u>加減安腎湯</u>　此方滋陰為主（以胎繫於腎故也，若見兩尺虛弱，胎動不安者宜服此）。</p>
<p>熟地　棗皮　山藥　杜仲（鹽水炒）　當歸　白朮　白芍　阿膠　故紙（鹽水炒）　續斷（鹽水炒）</p>
<p>歌曰</p>
<p>加減安腎棗山藥，熟地歸術杜白芍，續斷阿膠與故紙，滋陰安胎由尺弱。</p>
<p>禁用</p>

<h3>妊娠傷寒辨</h3>
<p>專以清熱和胎為主，各隨六經所見之症治之，不可與常病同治，宜以四味紫蘇飲為主。</p>
<p><u>四味紫蘇和胎飲</u></p>
<p>紫蘇　條芩（酒炒）　白朮　甘草</p>
<p>歌曰</p>
<p>四味紫蘇芩術甘。</p>
<p>惡寒、頭痛、項強、腰脊痠痛，病在太陽經。本方加羌活、防風、川芎。</p>
<p>寒熱、口苦、嘔吐、脅痛、耳聾，病在少陽經。本方加柴胡、枳殼、桔梗、杏仁。</p>
<p>惡寒、不發熱，只頭痛、鼻乾、不眠，或項強，病在陽明經。本方加乾葛、白芷。</p>
<p>惡寒、發熱、倦臥、手足並冷，病在足少陰腎經。本方加獨活、熟地、細辛。</p>
<p>惡寒，手足厥冷，唇口青，遍身痛如被杖，病在厥陰肝經。本方加當歸、吳萸、細辛、羌活。</p>
<p>凡妊娠傷寒五六日後，不惡寒，不頭痛，只發熱、口渴咽乾，此病邪在裡。宜用黃龍湯為主。</p>
<p><u>黃龍湯</u></p>
<p>柴胡　黃芩　甘草</p>
<p>歌曰</p>
<p>黃龍湯用柴芩甘。</p>
<p>發熱口渴，小便不利，本方加知母、黃柏、赤茯苓、木通。</p>
<p>發熱口渴煩躁，大便不利，本方加知母、石膏、竹葉、熟大黃。</p>
<p>發熱乾嘔，心煩不眠，病在膽經。本方加麥冬、花粉、棗仁、竹茹。</p>
<p>發熱口渴，腹痛自利，病在脾經。本方加白朮、白芍、阿膠。</p>
<p>發熱口渴，利下膿血，手足冷，病在肝經。本方加當歸、白芍、茯苓、烏梅。</p>
<p>若遇天行時氣傳染者，初起止用敗毒散加和胎藥解之，如見諸症，只依上分六經表裡而治之。</p>

<h3>妊娠惡阻歌</h3>
<p>胎氣衝胸成嘔吐，飲食下咽多惡阻，輕者不藥總無妨，重者日久胎須輔。加減養胃湯速治，再有單方亦可愈，養胃歸芍術砂陳，藿曲炙草煨姜與。</p>
<p><u>養胃湯</u>　歌合症內。</p>
<p>白朮　當歸　白芍　陳皮　砂仁（炒）　藿香　神麯　甘草　煨姜</p>
<p>瘦人多火口渴，宜　人參橘皮湯　主之。</p>
<p>人參　橘皮　白朮　麥冬　甘草（炙）　竹茹　厚朴（薑汁炒）　陳皮　黃芩</p>
<p>舌黑心火亢甚，加酒炒黃連。</p>
<p>歌曰</p>
<p>妊娠火渴系瘦人，人參橘皮參朮陳，竹茹芩樸炙草麥，火亢酒連舌黑增。</p>
<p>肥人吐痰水，宜　二陳湯　加砂仁主之。</p>
<p>法夏　陳皮　茯苓　甘草</p>
<p>歌曰</p>
<p>二陳湯用半夏陳，益以茯苓甘草成，利氣調中兼去濕，一切痰飲此為真。</p>
<p>婦人惡阻，甚不能食，宜保生湯。</p>
<p><u>保生湯</u></p>
<p>人參　砂仁　白朮　香附　烏梅</p>
<p>若口渴面赤加川連（吳萸炒），胃寒惡阻去香附加川椒、丁香、白豆蔻。</p>
<p>歌曰</p>
<p>妊娠惡阻食不能，砂術烏梅香附參，口渴面赤連吳炒，寒減附加椒寇丁。</p>
<p><u>惡阻吐嘔不止單方</u></p>
<p>食鹽（炒）　砂糖　煨姜　炒米（一撮）</p>
<p>煎水服。</p>
<p>若吐蛔蟲，加川椒、烏梅。</p>
<p>婦人惡阻，（湘門）常用蓮心五錢煎湯，飲下得安，即用神香散。仍取蓮心五錢，煎湯泡服愈。</p>
<p><u>神香散</u>　景岳新方治胸脅胃脘逆氣，難解疼痛，嘔逆脹滿，痰飲膈噎等症最妙。（湘門）用治婦人產後胃痛作逆喜按，加上桂共碾泡服，屢效。</p>
<p>歌曰</p>
<p>神香散治胃寒神，噎膈痰凝氣不清，白蔻丁香共細末，清湯調下五三分。</p>

<h3>妊娠中風歌</h3>
<p>忽然中風口眼斜，手足搐掣實堪嗟，只有白朮三錢許，再加荊芥一同誇，黑豆一合炒淬酒，三味煎服總不差。</p>
<p>若還口噤不下咽，通關散用最為先，細辛牙皂共為末，吹入鼻中勿遲延。增損八珍湯速備，撓口灌服病自痊。歸芍蜜耆與秦艽，炙草防風續斷拈。</p>
<p><u>增損八珍湯</u>　歌合症內。</p>
<p>當歸　蜜耆　白芍　秦艽　炙草　防風　續斷</p>
<p>胎氣下墜，宜用補中益氣湯。</p>
<p>一云坐胎有轉胎，氣虛下坐者，有來水者，俗云破水衣，又有來余血者，用此湯主之，凡胎未足月，脈未離經，俱宜依此飲。</p>
<p><u>補中益氣湯</u>　歌見前調經門。</p>
<p>當歸（三錢）　焦術（一錢）　蜜耆（二錢）　陳皮（去白，一張）　銀柴胡（酒炒，一錢）　升麻（酒炒，三分）　明黨（三錢）　炙草（五分）</p>
<p>加杜仲二錢，薑棗引。</p>
<p>若不應，減白朮必愈。方內加子條芩（酒炒）一錢，取其清熱安胎利水；或小腹脹痛兼子氣加香附、天仙藤、烏藥之類；或腰痛加杜仲（鹽水炒）、續斷（鹽水炒）。</p>

<h3>妊娠漏胎歌</h3>
<p>有胎下血名漏胎，氣虛血熱血乃來。或時點滴方為漏，血多胎動恐為災。加減八珍湯速進，氣血調和血自回。地芍芩柏術膠艾，杜仲京墨草當歸。</p>
<p><u>加減八珍湯</u>　歌合症內。</p>
<p>熟地　白芍　黃芩（酒炒）　杜仲（鹽水炒）　炙草　白朮　當歸　黃柏（酒炒）　阿膠（蒲黃炒珠）　艾葉（醋炒）</p>
<p>京墨引。服後血仍不止，加黃耆、發灰，若氣急加蒲黃灰。</p>
<p><u>乾薑地黃散</u>　治漏胎下血。</p>
<p>黑姜灰　熟地炭</p>
<p>煎服。</p>
<p>若小腹微痛加蒲黃、艾葉。</p>
<p>歌曰</p>
<p>姜灰地炭水煎服，小腹微痛加艾蒲。</p>
<p><u>歸芎湯</u>　治漏胎。</p>
<p>當歸　川芎　側柏葉　蒲黃（炒）</p>
<p>歌曰</p>
<p>歸芎湯側炒蒲黃。</p>
<p><u>四聖散</u>　治漏下血，亦能安胎。</p>
<p>條芩（酒炒）　白朮（土炒）　阿膠（蒲黃炒珠）　砂仁（薑汁炒研）</p>
<p>歌曰</p>
<p>四聖芩術砂仁膠。</p>
<p>凡因暴怒漏胎下血，宜用加味逍遙散（方見調經門）加阿膠。因脾虛飲食少，思漏胎點滴，宜用歸脾湯（方見調經門）加阿膠、續斷。因氣虛下陷，足腫漏胎下血，宜用補中益氣湯（方見調經門）倍升麻。</p>
<p><u>止漏絕神丹</u></p>
<p>白朮　熟地　山漆根</p>
<p>煎服（此方山漆根乃止血神品，故效）。</p>
<p>歌曰</p>
<p>止漏絕神丹白朮，熟地山漆根神效。</p>
<p><u>膠艾湯</u>（歌括）</p>
<p>膠艾湯中四物先，阿膠艾葉甘草全。婦人良方單膠艾，胎動血漏腹痛痊。膠艾四物加香附，方名婦寶調經專。</p>
<p>又方　用蔥白（下血，於心困篤，濃煎服，未死安，已死出）、藠頭（同當歸煎服）、糯米（胎動黃水同黃耆、川芎煎服）、秫米（同上）、粳米（同上）。</p>

<h3>妊娠咳嗽歌</h3>
<p>傷風咳嗽不須忙，參蘇飲加歸芍良，好入杏仁代半夏，再加黃芩去木香，三子養親宜慎用，蘇沉九寶不宜嘗（二方恐墮胎）。</p>
<p><u>參蘇飲</u></p>
<p>沙參　陳皮　桔梗　前胡　杏仁　乾葛　茯苓　粉草　當歸　白芍　黃芩　柴蘇　枳殼</p>
<p>歌曰</p>
<p>參蘇飲內用陳皮，枳殼前胡半夏宜，乾葛木香柑桔茯，內傷外感此方須。</p>
<p>動小便來，速服人參阿膠散，胎固嗽安胸自開，沙參苓草膠術仲，歸芍桔柴白果排。</p>
<p><u>人參阿膠散</u>　歌合症內。</p>
<p>沙參　茯苓　炙草　蘇梗　阿膠　桔梗　當歸　白芍　白朮　白果（去心）　杜仲　柴胡</p>
<p><u>加減二陳湯</u>　治子咳宜多服，胎安咳止。</p>
<p>炙草　茯苓　白朮　廣皮（鹽水浸透去白，曬乾，一兩五錢，銼片）　糯米（炒一撮）</p>
<p>煎服。</p>
<p>歌曰</p>
<p>加減二陳苓朮陳，炙草糯米煎服靈。</p>

<h3>妊娠瘧疾歌（安胎為主，治瘧次之）</h3>
<p>懷胎瘧疾實堪憐，速用柴胡知母煎。黃芩白朮當歸芍，桂枝蘇葉甘草痊。若用截瘧諸般藥，忽然胎下是誰愆。頭痛川芎加羌活，服之二劑自安然（常山、檳榔、厚朴、草果皆忌藥也）。</p>
<p>久瘧不退恐傷胎，柴胡白朮及烏梅，首烏石斛參苓用，歸芎加入自無災。</p>
<p>單方　瘧疾臨期，用上肉桂一塊含口中，少頃，又含數次即止。</p>

<h3>妊娠痢症歌（安胎為主，治痢次之）</h3>
<p>懷胎痢症有定方，生地黃芩白芍良，當歸烏梅陳皮草，痛甚略加廣木香，有熱柴胡用酒炒，墮胎髮散急須妨。</p>
<p>懷胎痢症苦難言，好把三奇湯速煎。黃耆三錢防風入，加上陳枳殼一錢。舌若黑胎兼口渴，增入三分好川連。此方屢用無差錯，石榴皮飲（方見彙集）更能痊（先服上方，不愈，次服此方）。</p>
<p>久痢不安兩足腫，脾氣虧兮恐胎損。歸脾湯（見前崩漏）內故紙加，阿膠艾葉胎自穩。</p>
<p>禁用丹皮、地榆、紅花、桃仁、三稜、莪朮、青木香、檳榔、枳實。</p>

<h3>妊娠瀉泄歌</h3>
<p>懷胎瀉泄屬脾虧，白朮當歸白芍隨，芡實山藥肉豆蔻，蓮肉糯米茯苓醫，口渴腹痛黃芩炒，傷食神麯兼用之。</p>
<p>補脾不愈屬氣虧，補中益氣（湯見前）用之宜，更加故紙同肉蔻，炒熟吳萸薑棗隨。</p>
<p>夜間瀉泄為腎瀉，六味地黃（湯見彙輯）真奇絕，二神故紙與吳萸，糯米同加瀉自歇。若系臟寒食不化，增入桂姜方成捷（辛熱之藥動胎宜審實用之）。</p>

<h3>妊娠子癎歌</h3>
<p>子癎由來似中風，時醒時發病不同，良由氣虛挾痰火，清神湯服信有功。脈滑沫出痰為病，脈散腮紅肝火攻。參朮茯苓炙甘草，蜜耆當歸麥冬逢。挾痰竹瀝薑汁入，殭蠶天麻勾藤芎。挾火黃連梔仁炒，臨症制方貴園融。</p>
<p>口噤搐掣風火頻，涎潮僵仆屈難伸。再有古方速投服，羚羊角散杏薏仁，防獨芎歸和甘草，棗仁炒研並茯神，木香磨對姜一片，子癎風中可回春。</p>
<p>若是牙關緊難開，通關散用不傷胎，吹鼻依然昏不醒，徐徐候著自然回。先將竹瀝薑汁取，醒時一灌痰自隤。</p>
<p>癎症看法：</p>
<p>眼眶下如炭火薰黑者，火動其痰也。</p>
<p>眼目昏沉或認黑為白、認白為黑者，神不足也。</p>
<p>口吐清水味淡者脾虧也，昏醒後多服歸脾湯（方見崩漏）。</p>

<h3>妊娠子懸歌</h3>
<p>胎氣不和曰子懸，衝上心胸痛不蠲。治之只用紫蘇飲，參朮甘陳歸芍連，加上川芎並大腹，薑蔥為引病自痊。</p>
<p><u>紫蘇飲</u>　歌合症內。</p>
<p>人參　紫蘇　白朮　甘草　陳皮　當歸　白芍　川芎　腹絨</p>
<p>熱甚不應加川連、薑蔥為引。</p>

<h3>妊娠子煩歌</h3>
<p>終日煩悶曰子煩，心驚膽怯神不安。只消竹葉湯速進，茯神麥冬當歸參。更有黃芩防風入，浪投涼劑損胎元。虛用人參麥冬散，生地當歸茯神援，酒炒知母炙甘草，燈芯為引是良單。</p>
<p><u>芩麥柴胡湯</u>　治子煩脅痛寒熱。</p>
<p>陳皮　沙參　黃芩（酒炒）　柴胡（酒炒）　甘草　麥冬</p>
<p>若口渴加花粉。</p>
<p>歌曰</p>
<p>子煩脅痛寒熱興，芩麥柴胡湯沙參，陳皮酒芩柴甘草，麥冬口渴花粉增。</p>

<h3>妊娠子腫歌</h3>
<p>四肢頭面皆浮腫，名為子腫身體重。</p>
<p>又有氣腫不同，看胎水腫兮。另一種加味五皮水腫用，紫蘇散治氣腫壅。</p>
<p>凡四肢浮腫皮膚光澤，此土虧不能制水，小便不利，通身腫滿，謂之水腫，宜先服黃耆、防己、生薑以達表，次服加味五皮飲。</p>
<p><u>加味五皮飲</u></p>
<p>茯苓皮　大腹皮　桑柏皮　五加皮　生薑皮　白朮　當歸　川芎　白芍</p>
<p>歌曰</p>
<p>加味五皮飲歸芎，苓芍桑皮大腹絨，五加姜皮兼焦術，妊娠水腫此方攻。</p>
<p>凡時消時復謂之氣腫，胸腹脹急，宜服消腫紫蘇飲。</p>
<p><u>消腫紫蘇飲</u></p>
<p>紫蘇　陳皮　大腹皮　當歸　白芍　川芎　姜皮　赤茯苓</p>
<p>歌曰</p>
<p>氣腫宜用消腫飲，芎芍姜皮赤茯苓，紫蘇陳皮歸大腹，時消時復胸腫靈。</p>
<p><u>千金鯉魚湯</u>　安胎，治胎水腫，遍身浮腫，胸脅不分，皮上按之深窩不起。</p>
<p>白朮　茯苓　白芍　當歸　陳皮　生薑　活鯉魚（一隻）</p>
<p>煮湯代水煎服。</p>
<p>歌曰</p>
<p>胎水腫分通身腫，按之深窩不復起，千金鯉魚湯術苓，歸芍陳皮生薑使。</p>
<p>凡半身以上腫者，眼如臥蠶，四肢怯寒，此兼冒風寒宜發散，黃耆、防己、桂枝、防風達表。</p>
<p>凡半身以下腫者，小便不利，宜五皮飲（方見彙輯）加木通、車前。小便長清者，此脾虛下陷，宜補中益氣湯（方見調經）。</p>
<p>合歌曰</p>
<p>上腫怯寒宜發表，黃耆防己桂枝防。下腫五皮加通前，便清脾虛補中湯。</p>
<p>又方　陳艾　蔥（連根苗）　老薑　柑子葉</p>
<p>合搗碎，炒熱燒酒淬布包，遍熨二三次即失。</p>

<h3>妊娠子氣歌</h3>
<p>兩足腫大行步難，或流黃水足趾間，此症名之為子氣，不須服藥產後刪。若或氣粗兼飽悶，天仙散服自康安。</p>
<p><u>天仙藤散</u></p>
<p>天仙藤（即青木香藤）　陳皮　木瓜　紫蘇　香附　烏藥　甘草</p>
<p>歌曰</p>
<p>紫蘇木瓜天仙藤，香附陳烏甘草增。</p>

<h3>妊娠子淋歌</h3>
<p>小便澀痛曰子淋，移熱膀胱虛腎陰，加味火府丹速進，兼治溺血此方尋。麥冬生地通芩芍，竹葉甘梢引燈芯，小便尿血生地散，柏葉發灰膠黃芩。</p>
<p><u>火府丹</u>　歌合症內。</p>
<p>木通　生地　條芩　麥冬　赤芍　竹葉　甘草梢</p>
<p>燈芯引。</p>
<p><u>生地黃散</u>　歌合症內。　治小便尿血。</p>
<p>生地　柏葉　黃芩　阿膠　發灰</p>

<h3>妊娠轉胞歌</h3>
<p>小便不通曰轉胞，胎壓一邊清氣淆，臍下急痛胎不舉，徒用滑利反見嘲，宜服丹溪參朮飲，或用倒豎法亦高。熟地芎芍參歸術，陳半甘草氣即拋。</p>
<p><u>參朮飲</u>　歌合症內。</p>
<p>當歸　熟地　川芎　白芍　人參　白朮　陳皮　法夏　甘草</p>
<p>倒豎法：將妊娠倒豎，胎轉而小便自通。</p>

<h3>妊娠遺尿</h3>
<p>遺尿不覺，胎滿故也，宜服千金白薇散。</p>
<p><u>千金白薇散</u></p>
<p>白蘞　白薇　白芍</p>
<p>酒煎服。</p>
<p>歌曰</p>
<p>白薇蘞芍酒煎行。</p>

<h3>妊娠子鳴歌</h3>
<p>子啼腹中曰子鳴，失脫疙瘩此病生。治法撒豆令母塞，兒口復含自無聲。</p>
<p>一方　黃連濃煎成汁，母常呷之即止。</p>
<p>又方　取鼠穴門土一大塊，母口含之即止。</p>

<h3>妊娠諸血論（以安胎為主，與常血症治略不同）</h3>
<p>大凡胎熱者血易動，血動者胎不安。吐血、嗽血、嘔血、咯血、鼻血，胎前皆不宜見。蓋胎賴血養，不宜上溢妄行，妄行者多致墮胎，惟便血溺血者次之。面赤聲啞者不治，心悶者不治，五心煩熱氣粗者不治，不受滋補者不治，產後吐衄者不治。</p>
<p>—　因暴怒吐血者，宜加味逍遙散（見前調經）。</p>
<p>—　因膏粱厚味飲食積熱吐血者，宜加減清胃飲。</p>
<p><u>加減清胃飲</u>　治胃火吐血。</p>
<p>生地　升麻　當歸　川連（酒炒）　犀角（磨）　連翹　甘草</p>
<p>歌曰</p>
<p>加減清胃生地犀，歸連升草連翹宜。</p>
<p>—　因肺經有火，以致痰中帶血或鼻血，宜黃芩清肺飲。</p>
<p><u>黃芩清肺飲</u></p>
<p>當歸　黃芩　白芍　紫菀　茯苓　陳皮　甘草　阿膠</p>
<p>歌曰</p>
<p>黃芩清肺陳紫菀，歸芍甘草膠茯隨。</p>
<p>—　因脾虛不能攝血，飲食少思致血上逆，宜歸脾湯（見前崩漏）加阿膠、側柏葉。</p>
<p>—　因腎經虛火，咯血間數日或一兩月吐一二口即止，血不黏手者，宜六味地黃湯（方見彙輯）加阿膠、當歸（即八仙長壽丹）。</p>
<p><u>止衄散</u>　治鼻血過多。</p>
<p>蜜耆　當歸　白芍　生地　阿膠　赤苓</p>
<p>歌曰</p>
<p>止衄散耆歸白芍，阿膠生地赤苓醫。</p>
<p><u>四灰散</u>　治妊婦吐衄不止。</p>
<p>荷葉灰　側柏灰　荊芥灰　乾薑灰</p>
<p>四味燒灰存性，童便酒對為引。</p>
<p>歌曰</p>
<p>四灰荷側荊乾薑，燒灰便酒對服良。</p>

<h3>妊娠諸痛</h3>
<p>—　素有偏正頭風，因火觸動者，宜加減川芎茶調散。</p>
<p><u>加減川芎茶調散</u></p>
<p>白芷　防風　川芎　薄荷　荊芥　殭蠶　甘草　香附</p>
<p>茶一撮引。</p>
<p>歌曰</p>
<p>加減茶調白芷風，荊薄蠶草香附芎。</p>
<p>—　胃口痛，痛時或吐清水，或嘔逆，宜服養胃湯。</p>
<p><u>養胃湯</u></p>
<p>乾薑（炮）　陳皮　白朮　川椒　人參　甘草</p>
<p>歌曰</p>
<p>養胃乾薑白朮陳，川椒甘草與人參。</p>
<p>—　腹痛時發時止，名胎痛，屬血少。宜四物湯（方見調經）加香附、艾葉。</p>
<p>—　腹中滿痛衝心，不能飲食，此胎氣不安。宜芩術芍藥湯。</p>
<p><u>芩術芍藥湯</u>（藥俱提出不必錄歌）</p>
<p>黃芩（酒炒）　白朮（土炒）　白芍（酒炒）</p>
<p>—　腰腹背皆痛，此因勞傷損動胎元，宜補中益氣湯（方見調經）加杜仲。</p>
<p>—　周身上下走注疼痛無定，此因敗血入經，宜四物湯（方見調經）加烏藥、香附。</p>
<p>—　腰痛甚，腎虛不能系胎，其胎必墮，宜八珍湯（方見調經）加杜仲、黃耆、阿膠、續斷、艾葉。</p>
<p><u>紫酒</u>　治妊婦腰痛如折。</p>
<p>黑料豆（二合炒焦熟）　白酒（一大碗）</p>
<p>煎至七分空心服。</p>
<p>—　臍下冷痛，小便頻數，大便虛滑，宜小建中湯。</p>
<p><u>小建中湯</u></p>
<p>桂枝　白芍　甘草　飴糖　黑姜（炮）</p>
<p>紅棗、姜引。</p>
<p>歌曰</p>
<p>小建中湯芍藥多，桂姜甘草大棗和，更加飴糖補中臟，臍下冷痛服之瘥。</p>
<p>—　小腹痛近陰處，腫脹浮薄發光者，孕癰也，宜千金托裡散。</p>
<p><u>千金托裡散</u></p>
<p>黃耆　當歸　甘草　川芎　白芷　白芍　防風　連翹　金銀花</p>
<p>歌曰</p>
<p>千金托裡草歸耆，白芷川芎白芍宜，防風連翹同兩寶，孕癰腫脹服之離。</p>
<p>—　小腹作痛其胎不安，氣攻左右，或時逆上下、小便不利，用小柴胡湯（方見彙輯）加青皮、山梔，清肝火而愈。後因怒小腹脹滿，小便不利，水道重墜，胎仍不安，此亦肝火熾盛所致。用龍膽瀉肝湯（方見彙輯）一劑，諸症頓愈，乃以四君子湯（方見調經）加升麻、柴胡以培脾土。</p>
<p>—　氣脹諸藥不效，用紫蘇煮雞蛋服之愈。</p>
<p>妊娠諸痛不治症：</p>
<p>—　心腹急痛，煩悶，唇青，面黑，冷汗，氣絕，不治。</p>
<p>—　腰腹痛，下血不止，胎上衝心，痛不可止，不治。</p>
<p>—　大足指痛，爪下一黑塊，肝氣絕，不治。</p>
<p>—　妊娠胃脘氣痛喜按，宜用藿香正氣散（方見彙輯）加水泡薑、蘇葉、生薑。或兼血凝氣滯，生瘍，方內宜加衫荊子根同煎。一服效，數服愈。此（湘門）屢試屢驗之方。</p>

<h3>妊娠雜症</h3>
<p>—　妊婦無故悲泣，若見鬼神者，臟熱也，宜服竹茹湯。</p>
<p><u>竹茹湯</u></p>
<p>人參　麥冬　茯神　竹茹　薑棗（引）</p>
<p>歌曰</p>
<p>竹茹湯用人參麥，茯神竹茹薑棗設。</p>
<p>—　妊婦至九十月忽然聲啞不語，此少陰之脈下養於胎，不能上榮於舌，名曰啞胎。不必服藥，至十月生子之後自能言矣。</p>
<p>—　妊婦臟腑熱極，譫語，宜童便時時灌之，兼服生地黃連散。清其胎熱，庶胎得安。</p>
<p><u>生地黃連散</u></p>
<p>生地　當歸　川芎　赤芍　黃連　黃芩　梔仁　甘草</p>
<p>歌曰</p>
<p>生地黃連散赤芍，芎歸芩草梔仁卻。</p>
<p>若傷胎下血，心神無主而譫語，多不治，宜大補元氣。</p>
<p>—　孕婦未產，乳汁先下，名乳泣。生子多不育。若體肥血盛者，間或乳下不多，生兒亦無害。</p>
<p>—　妊娠誤服熱毒藥動胎者，宜服三物解毒湯解之。</p>
<p><u>三物解毒湯</u></p>
<p>甘草　黑豆　淡竹葉</p>
<p>濃煎服。</p>
<p>—　妊婦目赤痛者，宜芎歸湯（方見彙輯）加羌活、防風、白菊、蟬蛻、木賊。</p>
<p>—　妊婦咽喉痛者，宜柑桔湯（方見彙輯）加炒研牛子、薄荷、黃芩。</p>
<p>—　妊婦病乳癰者，宜服托裡解毒湯。</p>
<p><u>托裡解毒湯</u></p>
<p>當歸　川芎　黃芩　白芷　連翹　花粉　銀花　草節　青皮</p>
<p>皂角刺引。</p>
<p>歌曰</p>
<p>托裡解毒歸芎芩，白芷連翹花粉銀，草節青皮皂刺引，乳癰妊婦服之靈。</p>
<p>凡背上，臀上生瘡者，此陽明胃經也，本方去青皮加乾葛、升麻。胸前、兩頰生瘡者，此少陽膽經也，本方去白芷加柴胡、梔仁。肩膊腋下生瘡者，此太陰經也，本方去青皮加陳皮、桔梗、天冬。在胯內陰旁生瘡者，此少陰心經也，本方去白芷、青皮加黃連、黃柏、木通。</p>
<p>—　妊婦口麋裂，名繭唇，取黃薔薇花根，用二次米泔水和擂汁含漱數次愈（或取根洗淨搗本汁搽唇上亦效）。</p>
<p>—　婦血熱上壅心包，舌乃心之苗，致舌脹滿口，用生蒲黃末一錢頻搽乃愈。又用生蒲黃、北乾薑各一錢合研末擦之愈。此一涼一溫取陰陽相濟也。</p>
<p>—　婦臨產，惡寒發熱，頭痛身痛骨疼，湘門用五積散去麻黃加天台、香附，依法略炒，用酒淬各熟料，餘生料桂芷陳，加正蘇唅、乾生薑合前同煎，急服盡劑即愈。</p>
<p>—　婦經不調，心腹痛劇，腹內有塊攻衝，右有一條，小便若淋，主張更醫十日罔效，復延（湘門）用活血理氣天台香附、薑黃、木通等多劑得愈。每月一發，依法一二劑愈。將年自述小腹有數小塊，（湘門）擬是痞，旋用熟料五積散，去麻黃加天台入金、木通四劑全愈。不四月即妊無恙。</p>

<h1>卷之二</h1>

<h2>小產論</h2>
<p>半產者俗名小產，蓋由衝任氣虛不能攝養，或跌撲閃墜，房事過度，七情氣鬱，熱病溫瘧痢疾之類，損傷氣血，致胎動不安，遂患此疾。治法宜預服泰山盤石散加減安腎湯（方見首卷胎前）。因於跌撲者，倍用杜仲、續斷；困於房事者，倍用阿膠、熟地，兼調男子褲襠灰；因於七情者，倍用芎歸白朮，隨各經見症用藥；因於熱病溫瘧痢疾者，照各專門施治。如此調理，即慣半產者亦永保無傷。</p>
<p>—　胎未滿月，痛而欲產者，用加味八珍湯（方見首卷）加阿膠、黃耆、甘草。</p>
<p>—　小產胎下而血來不止，宜用保元湯加阿膠、當歸、艾葉，熱加黑姜。</p>
<p><u>保元湯</u></p>
<p>黨參（三錢至一兩）　炙耆（三錢至六錢）　炙草（二兩）</p>
<p>歌曰</p>
<p>小產胎下保元湯，黨參三錢至一兩，炙耆三錢至六錢，二兩炙草應如響。</p>
<p>—　小產心腹痛或發寒熱，以手按之惡痛者屬瘀血，宜用芎歸湯（即佛手散，方見後）加黑薑、山楂、延胡、丹皮。</p>
<p>—　小產心腹痛，以手按之則緩者，宜用八珍湯（方見調經）去白芍加黑薑、肉桂，若昏沉不省人事，亦倍用八珍湯加炮薑、肉桂。</p>
<p>—　治產難水下胎干，致胎滯不生，宜用滑石散。</p>
<p><u>滑石散</u></p>
<p>滑石（一兩水飛過）　白蜜　香油（各半盞）</p>
<p>先將油蜜慢火熬三四沸，掠去沫，調滑石末頓服，外以油調於產婦臍腹上下摩之，兒即下，其效如神。</p>

<h2>保產神效四方</h2>
<p>其一</p>
<p>當歸（一兩）　川芎（五錢）　車前仁（三錢，焙黃研末）</p>
<p>將芎歸煎湯泡前仁末服。冬月加肉桂。</p>
<p>其二</p>
<p>當歸（一兩）　川芎（五錢）　益母草（六錢）　芒硝（三錢）</p>
<p>煎熱候溫，一氣服下，少頃即產，或胎死腹中亦下。</p>
<p>其三</p>
<p>好水酒　麻油　雞蛋白　童便（各一盞）</p>
<p>碗盛安滾水上蒸數沸，溫服。</p>
<p>其四</p>
<p>陳螃蟹殼（焙黃研末）</p>
<p>臨產用一錢，以熱好酒砂糖調下。大凡催生之藥，不宜用早，或是轉胎猶遲數日方生者，恐誤，總以胞破時服之安穩。</p>

<h2>治產後十一症加減《千金》不易仙方</h2>
<p><u>益母芎歸湯</u></p>
<p>當歸　川芎　熟地　澤蘭葉　香附　延胡　益母草，（各一錢五分）</p>
<p>水煎服。</p>
<p>冒風加防風、天麻，血暈加五靈脂、荊芥穗（炒黑），發熱加人參、黑薑、黃耆，心膈迷悶加陳皮、枳殼、砂仁（薑汁炒），血崩加地榆、山梔（炒黑）、丹皮，咳嗽加杏仁、桑皮、桔梗，死血不行加桃仁、紅花、枳實，飲食不進加山楂、麥芽，脾胃作脹加白朮、茯苓、蒼朮、厚朴（薑汁炒）、陳皮、枳實，心神恍惚加茯神、遠志，胞衣不下加芒硝。</p>

<h2>錄《綱目》方</h2>
<p>產難至九月十月用香附、縮砂、甘草末服，名福胎飲，永無驚恐。</p>
<p>—　蒺藜子（炒）、貝母二味末服，催生、墮胎、下胞衣。</p>
<p>柞木皮、甘草煎服。</p>
<p>—　血攻心白狗血煎服。</p>
<p>—　蛇蛻橫生逆產胎衣不下炒焦酒服，泡湯浴產門，或同蟬蛻、頭髮燒研酒服。</p>
<p>—　鑿木柄灰酒服。</p>
<p>破草鞋灰酒服。</p>
<p>簸箕淋水服或泡莧菜子服。</p>
<p>本婦爪甲燒末酒服。</p>
<p>鳳仙子水吞。</p>
<p>—　矮小女子交骨不開，用當歸、發灰、龜甲燒末服，或加正芎、黨參、苧根、爪甲。</p>
<p>雞頭葉五月五日、六月六日採取，臨用一葉扯開。</p>

<h2>將產未產真偽辨</h2>
<p>—　胎未滿月，胞水不破，先下血者，此是傷胎，非產也。宜服保元湯（方見前），隨服八珍湯（方見首卷）即安，不安再服。</p>
<p>—　血虛至夜發熱，煩渴引飲，其脈洪大而重按之全無者，宜服當歸補血湯。</p>
<p><u>當歸補血湯</u></p>
<p>黃耆（炙，六錢）　當歸（二錢）</p>
<p>歌曰</p>
<p>補血耆六歸二錢。</p>
<p>—　胎未滿月，先破水，腰不痛，名試水症，非產也，宜服八珍湯（方見首卷）加杜仲、故紙、益母草數貼，俟月足，自易產。</p>
<p>—　惡露少者，雖久不妨，此胞水未破，不宜早用力，宜服佛手散（方見彙輯）以生血，水破即生。</p>
<p>—　胎水先破，惡露行盡，數日不生者，血虛也，宜服八珍湯（方見首卷）、佛手散（方見彙輯）以生血，不可遽用催生，此症（湘門）用補中益氣湯（方見首卷）加香附、烏藥、酒條芩屢效。</p>
<p>—　腰痛甚，水破者，將產也。腰者，腎之府，以胎繫於腎故也。宜服佛手散（方見彙輯）若胞水久破，其血已涸，致兒干擱不下，宜用佛手散加人參、蜜糖（半盞）為引服。</p>
<p>謹錄康熙乙未涵齋先生於南昌郡署輯（《達生編》）大意云：胎產一事寶產諸書，發明甚詳，保胎臨產方法甚周，然或專精方藥而不言其理，或略一言之而不竟其旨，倘非究心有素之人，於倉卒之間，安能易明而用之乎！茲特倡明原生之理，不厭煩絮，重複以言於人，俾人平日可以預防，臨時可以應急，從此天下後世，產母嬰兒同登壽域，豈不快哉。然亦遵古人之意而條達之，非創為異說也。</p>
<p>—　此編只是反復以言其理，至於方藥殊未之及，偶載一二，皆取古方極穩者，試之甚效，方敢錄上。若一切矜奇炫異之方，概置不錄。然保護得法，藥亦可緩。</p>
<p>—　凡胎前臨產、產後調護之法，一一備載，不厭煩複。蓋原系家居日用閨房瑣屑之事，一有不到，皆足致病。與其服藥於病後，曷若致謹於平時。</p>
<p>—　此編言語俚俗，未免見笑大方，但原為婦人而設，識字者固不必言，不識字者令人誦之，皆可通曉。然須平時講誦，令心中明白，臨時自有主張，不但產母宜知，一應男婦皆當知之。</p>
<p>—　此編雖眾所當知，而富貴之家尤宜熟講。蓋閨人平時口饜肥甘，身安樂逸，體氣脆薄，且性情驕傲，未必肯聽人言。到臨產時才一知覺即不能耐，點燈著火，上呼下應，房中擠簇多人，內外嚷成一片，穩婆絡繹，各要爭功，脈未離經，胎未轉下，即便坐草，反致不順，甚或奇方怪藥，紛紛亂投，致母子兩誤者多矣，豈不惜哉。但能留意此編，自可平安清吉，斷無壞事。</p>
<p>—　胎產之書甚多，此一編特為難產而設，其胎前產後略載一二極靈驗者，以概其餘，若曰此編足以盡之，則重予過矣。</p>
<p>—　開卷即載臨產者，恐臨時倉卒，不及細撿，因以切要者載之篇首，令人一目瞭然，專意行持，自然無誤，若平時講說仍從保胎順序看之也。</p>
<p>—　試痛一篇尤為緊要，蓋知試痛之誤，方知正生之易，與臨產一篇，互相表裡，最宜細看。仍採先賢格言之足相發明者，數條載之，以徵予言不謬也。</p>
<p>—　語云：勿以善小而不為，此篇固小之小者，然誠有見於胎產為人生之始，隨時隨地體驗而成，且身經目擊，口授耳聞，千試不爽，忘其猥陋，出以語人，漏萬之譏，固所不免。</p>
<p>世之君子原其心焉可矣。</p>
<p>此編明白切要，好生者見之，宜為廣布，有力者重刊通行，無力者手抄數冊，口授數人，隨分所至，功德無量。</p>

<h2>《達生編》上卷</h2>

<h3>臨產</h3>
<p>六字真言：一曰睡，二曰忍痛，三曰慢臨盆。此六字無不靈驗，臨產謹記。初覺腹痛，產母自己拿穩主意，要曉得此是人生必然之理，極容易之事，不必驚慌。但看腹疼一陣不了，又疼一陣，一連五六陣漸疼漸緊，此是要生，方可與人說知，以便伺候。若痛得慢，則是試痛，只管安眠穩食，不可妄動，此時極要留心著意，產婦自拿主張，乃是第一關頭，不可忽略。若認作正產，胡亂臨盆，則錯到底矣。</p>
<p>此時第一要忍痛為主，不問是試痛，是生產，要忍住疼，照常吃飯睡覺，疼得極熟，自然易生，且試痛與正生，亦要疼久，看其緊慢方辨得清，千萬不可輕易臨盆坐草，更不可早接穩婆揉腰擦肚。至囑至囑。再者，站要穩站，坐要端坐，不可將身左右擺扭，須知此事他人替不得，自家性命相關，全要自己作主。</p>
<p>到此時必要養精惜力為主，能上床安睡閉目養神最好。如不耐煩睡，暫時起來，或扶人緩行，或靠桌站立，疼若稍緩又上床睡，總以睡為第一妙法，但宜仰睡，使腹中寬舒，小兒易於轉動，且大人睡下，小兒亦是睡下，轉身更不費力。蓋大人不宜早用力，使小兒亂動。先宜惜力，以待臨時用之，自是易生。切記切記。</p>
<p>無論遲早，切不可輕易臨盆，切不可聽穩婆胡言亂語，說破了水衣，又說兒頭已在此，以致臨盆早了，盡誤大事。此乃天地自然之理，若當其時，小兒自會鑽出，何必著急。因恐小兒力薄，其轉身時用力已盡，及到產門不能得出，或亦有之，宜稍用力一陣助之，則脫然而下。蓋瓜熟蒂落，氣血兩分，渾身骨節一時俱開，無所勉強，及至生下，即產母亦不知其所以然矣。</p>
<p>或曰大便時亦須用力，如何生產不用力，不知大便呆物，必須人力。小兒能活動，待其自轉，不但不必用力，更忌用力太早。蓋小兒端坐腹中，及至生時垂頭轉身向下，腹中窄狹，他人有力難助，要聽其自家慢慢轉身到產門，頭向下，腳向上，倒懸而出。若小兒未曾轉身，用力一逼，則腳先出，乃名之曰腳踏蓮花生。或轉身未定用力一逼，則橫臥腹中，一手先出，又名之曰討鹽生。或轉身向下，略未條直，用力略早，亦或左或右，偏頂腿骨而不得出。不知此等弊病，皆是時候未到，誤聽穩婆之言，用力太早之故。奉勸世人萬萬不可早用力，當用力時只一盞茶久，其餘切不可亂動。比如大便未到其時，縱用力亦不能出，而況於人乎。</p>
<p>或問何以知此一盞茶久用力乎？曰：此時自是不同，若小兒果然逼到產門，則渾身骨節疏解，胸前陷下，腰腹重墜異常，大小便一時俱急，目中金花爆濺，真其時矣，於此時用力一陣，只一盞茶久，母子分張，何難之有。</p>
<p>或問小兒自會鑽出之說，到底未敢盡信，不知古人曾言及否。曰：古人立言，不過撮其大要，安能事事而悉言之。只要後人能體會耳，觀「瓜熟蒂落」四字，即知小兒自會鑽出，觀「揠苗助長」四字，即知將試痛認作正生之弊矣。夫哺雞，日足自能啄殼而出，豈亦有催生之神藥，穩婆之伺候乎。古有遲至二三年而後生者，此是不肯鑽出耳，既自不肯鑽出，誰能強之，自要鑽出，誰能止之。</p>
<p>或曰早一時固不亂動，不知遲一時可無妨否？曰：不妨，若果當其時，必無不出之理。然或偶有不出者，是小兒力盡，不能得出，宜令產母上床安睡，使小兒在腹中亦安睡，歇力少刻，自然生矣。</p>
<p>或曰倘或兒到產門而大人睡下，豈不有礙？曰：更好。蓋小兒向下時而大人立坐，則小兒倒懸矣，豈能久待？今大人睡下，兒亦睡下，有何妨礙。又曰：倘或悶壞奈何？曰：他十個月不怕悶，今乃悶乎。</p>
<p>或問忍疼過久，恐亦不妙。曰：最妙。從未聞私產婦人而難產者。蓋胎起於私，怕人知覺，只得極力忍疼，不敢告人，疼得沒奈何時，自脫然而出，故產下而家人多不知，且不至壞事者，忍痛慢臨盆之故也。由此而推可知，忍疼慢臨盆之語非虛言也。</p>
<p>或曰：不宜用力，已聞教矣。不知先誤用力，以致橫生倒產，可有法治之否。曰：急令安睡，用大劑加味芎歸湯服之，將手足緩緩托入再睡一覺，自然生矣。或又曰：倘托之不入奈何？曰：若睡了，再無托不入之理，若到此時仍不許他睡，妄聽穩婆之言，動手動腳，甚有沒良心的穩婆，預置小刀以待，致母子喪命者。又或亂吃方藥，以致失事者，皆宜猛省。</p>
<p>或問盤腸生是何緣故？曰：是用力之過。蓋產母平日氣虛，臨產時用力弩掙，渾身氣血下注，以致腸隨兒下，一次如此，下次路熟又復如此，若能慢臨盆，等到瓜熟蒂落之時，何得有此異怪。</p>
<p>或問有一痛便生，令人措手不及者，此又何也？曰：此乃正理，何足為異。蓋胎氣已足，母子兩分，兒自鑽出，雖欲留之，而不可得。人人皆是如此，皆各有此一時，只要忍耐得住，等待此一時耳。</p>
<p>或曰：穩婆不必用乎？曰：穩婆之名，有曰接生，有曰收生。按收接二字之義，因其年老慣熟令之接兒落地，收兒上床耳。既有此輩喚至家中，不過使彼接兒收兒，切不可聽其胡言亂語。況此等人，多是愚蠢，不明道理，一進門來，不問遲早，不問生熟，便令坐草用力；或兒未轉身，他妄說兒頭在此，揉腰擦肚，無所不至；更或手入產門探摸，多致損傷。彼總想獻功勞，不肯安靜。更有一等狡惡之婦，藉此居奇射利，禍不忍言，每見富貴之家預將穩婆留放家中，及到臨時，稍不快利，前門後戶接到無數，紛紛攘攘，炒成一片，而此等惡婦各要爭功，或眾惡商同嚇詐銀錢，或動手動腳以先逼小兒下地為功緻誤人事者。奉勸世人遇臨產之時，總以慢接穩婆為主。切記切記。</p>
<p>或問臨時有經驗之藥，亦可用否？曰：不用。從前奇方莫過鼠腎兔腦丸，今時盛行，莫過回生丹，非謂不效而不用也，總用不著耳。既不用力又不動手，又有睡法佐之，他自會生，何消用藥。縱有不順，睡為上策，曷不觀貧苦之家，那得藥吃，偏然易生，於此可知。</p>
<p>或問服藥有益無損否？曰：安得無損。鼠兔二丸大耗氣而兼損血，回生丹大破血而兼損氣。蓋鼠兔丸內多用香竄之藥，產時百脈解散，氣血虧虛，服此散氣藥，兒已出而香未消，其損多矣。且令毛竅開張，招風入內，禍不可言。回生丹以大黃紅花為君，其餘亦多消導之品，血已耗而又大破之，多致產後發熱等病，遺患無窮。都只謂產後失調，誰復歸咎於藥？按此數方古今稱為神靈奇寶者，尚然如此，其他可知。送藥者，本是善念，但知其利不知其害耳。大抵此藥亦不得已而用之。若無怪症及坐草早致失者，以睡為第一法，不必用藥。</p>
<p>或問總無可用之藥乎？曰：有。只須加味芎歸湯、佛手散二方，用之不盡矣。蓋胎時全要血足，血一足，如舟之得水，何患不行。惟恐產母血少，又或胞衣早破，以致乾澀耳。令二方皆大芎歸，使宿血頓去，新血驟生，藥味易得，隨地皆有，且使身體壯健，產後無病，真正有益無損，此皆先賢明陰陽之理，制此神丹以利濟天下後世。奈世人以為藥料，平常多不肯用，必求奇怪之藥，不論損益，致多誤事，豈不可嘆。</p>
<p>或問依此言，世間總無難產者耶。曰：偶亦有之。或因母太虛，胎養不足，血氣不完；或母病傷寒之後，熱毒傷胎；又或夫婦同房太多，不能節戒，以致欲火傷胎；又或平日過食椒姜煎炒熱物及野味，毒風火毒傷胎；或跌撲損傷，皆致難產，多令胎死腹中。除此之外，更無難者矣。然而房欲傷胎，人多易犯。切切記之。</p>
<p>又有嚴寒天氣，滴水成冰之時，貧家房中火氣微薄，以致血寒而凍，亦或難產。然此亦因臨盆太早，寬衣坐久之故耳。若令擁被安臥，待時而產，豈有此患。</p>
<p>凡生產艱難，或天寒孩兒生下不哭，或已死者，急用衣物包裹，再用香油紙捻將臍帶慢慢燒斷，暖氣入腹，漸漸作聲而活。倘或先剪斷臍帶，則死矣。</p>
<p>或問臨產時飲食如何？曰：此時心內憂疑，腹中疼痛，甚至精神疲倦，口中失味，全要好飲食調理，但不宜過於肥膩耳。倘不能食，只將雞鴨湯肉湯之類吹去油，澄清，頻頻飲之，亦能壯助精神。人以食為命，豈可一日闕乎。</p>
<p>老鴨方可食。</p>

<h3>宜忌</h3>
<p>臨產時宜老成安靜，婦人二三個伺候，不必多人嚷鬧，一切親族婦人俱婉言謝卻，勿令入房。夏月更不宜多人在房，熱氣擁盛，能令產母煩躁發暈，其害非小。房中宜輕行輕語，令產母得睡為妙。</p>
<p>第一要勸產母放心安靜，忍痛歇息，切忌在房中大驚小怪，交頭接耳，咨嗟嘆息，令產母憂疑攪亂以致誤事，倘頭產者更宜寬慰。</p>
<p>房中宜安靜如常，不得當面求神許願，叫天叫地。</p>
<p>穩婆不過要他接收孩兒，余無別用。倘有老成婦女在房，則穩婆亦不必用，今人多雲接穩婆壯膽，不知穩婆原多射利，他不嚇詐混鬧，利不能到手，是接之來壯膽，竟接他來誤事。試看鄉村僻壤，哪有穩婆，再無不生之理，且少壞事者，則知穩婆一途，原無緊要，可用可不必用也。</p>
<p>飲食宜頻頻少與，或雞肚雞蛋等湯更妙。房中宜設火盆，夏月多貯井水，以收熱氣，仍頻換之。</p>

<h3>試痛</h3>
<p>或問試痛何故。曰：兒到七八個月，手足五官全備，已能動彈，或母腹中火盛，或起居不時，令兒不安，以此大動而痛，名曰試痛。只宜照常穩食安眠一二日，自然安靜。或痛之不止，用保胎藥服一二劑自止，此後近則數日，遠則月餘，甚至再過三四個月才產，人多不知。輕易臨盆，終日坐立，不令睡倒，或抱腰擦肚，或用手拖，或用藥打，生生將兒逼出，母則九死一生，兒則十胎九夭，慘不可言，世間難產皆此故也。蓋胎不足氣血不全，比方剖卵出雛，裂繭出蛹，豈能活乎！只說小兒難養，誰復根究到此。又有受寒及傷食腹痛者，勿認作試痛，不可不知。</p>
<p>或問何以辨其為試痛，為正生。曰：只看痛法：一陣緊一陣者，正生也。一陣慢一陣或乍緊乍慢者，試痛也。</p>
<p>或問傷食受寒何以辨之。曰：傷食者當臍而痛，手按之更痛，或臍旁有一硬，寒痛多在臍下，綿綿而痛，不增不減，得熱物而稍緩是也。</p>
<p>或曰試痛亦有，恐未必多。曰：甚多。曰：何以見？曰：以今之難產者多也，蓋難產皆因試痛認作正生也。</p>
<p>或問試痛認作正生，其害如此，倘將正生認作試痛，以致過時，不亦有害乎？曰：何害。若果當其時，小兒自會鑽出，縱或過時，不過落在褲中，生在床上而已，有何大害乎！</p>

<h3>驗案</h3>
<p>前太僕卿霍山張公三君葆華，繼夫人年輕體壯，孕則八個月而產，產必數日，百苦而後生，所生必周而夭。再孕再產再夭，皆同。予謂後當生，宜相聞。明年又八個月，坐草三日不下，忽憶予言，飛輿相召，中途逢驅車者云，迎其父母作永訣計。比余到其家已夜分，診之脈，未離經，人余殘喘，穩婆在旁，問之曰，兒頭已抵產門，不得出耳，予急令安臥，且戒勿擾，與安胎藥。次早主人出，笑而不言。問之，曰：好了。予曰：昨言兒頭已抵產門，今若何？曰：不見了。予曰：夫人本是試痛，並非正生，妄聽穩婆之言，無故坐草，且誤聽兒頭抵產門之說，夫人過於用力，故此僅餘殘喘。豈有兒抵產門而不生之理，豈有先抵產門而今反倒轉之事，是穩婆誤之也。後此百二十日，計十二個月而生男，謂余為父。今已長成，始知從前之難產與產而夭者，乃活活逼出，以體壯年輕，幸保母命耳。</p>
<p>在張宅之日，又有邑庠程以學邀至其家，有寵人坐草二日而不生，亦與安胎藥，過十六日而生女。</p>
<p>太學戴時濟與予比鄰契好，先是弟媳一產三男，母子俱殞，一猶在腹。今又婢孕，其腹昂大，頗患之。比產時先令安臥，與加味芎歸湯，每隔半日而產一子，積日半，三子俱生。康熙四十八年安撫葉公。題奏陳氏妻生九日夜不下，一息尚存，聞予有兔腦丸，踵門求藥。余問之，亦曰：兒頭已抵產門不得出，予諭令安臥，再來求藥，強之而後去。頃復來，與以加味芎歸湯服之，次日生子，母子兩全。按此皆坐草太早，產母用力逼令橫在腹中耳。豈有兒倒懸十日，而尚得生者乎？</p>
<p>昔一婦產兒，手先出不得入，穩婆惡婦藏快刀想割斷，予急叱止之，先令產母安睡，後與大劑芎歸湯服之，徐徐將兒手送入產門，次早生一子，母子皆安，兒右臂紫黑，數月方消。若聽惡穩婆割斷，則兒必死，兒死不能出，母豈能獨生乎？於此可見，穩婆之害人非淺也。</p>

<h2>《達生編》下卷</h2>

<h3>保胎</h3>
<p>保胎以絕欲為第一，其次亦宜節欲。蓋欲寡則心清，胎氣靜逸，不特胎安，且易生育，少病而多壽。</p>
<p>保胎又宜小勞為妙，試看鄉間農婦僕婢下人，墮胎甚少，以勞故也。蓋勞則氣血流通，筋骨堅固，胎在腹中習以為常，以後雖有些微閃挫，不至壞事。倘安逸不動，則筋骨柔脆，氣血不行，略有閃挫，隨至隨落，然非胎後方勞，正謂平日不宜安逸耳。若平日安逸，及孕後方勞，適足損胎，何筋骨堅強之有耶？夫敬姜百乘之家也，老而猶績，尋常富貴，年少力強，正宜勤事，豈可暇逸以自病乎？</p>
<p>懷孕三四月後，即宜用布一幅六七寸闊，長短視人肥瘦，纏兩道橫束腰間，直至臨盆之時才解去，若是試痛，仍不宜解。更有二妙，胎未長成，得此則腰膂有力，些須閃挫不致動胎。其一常令腹中窄狹，及到解開，則腹中乍寬，轉身容易，此法最妙，有孕者宜知之。</p>
<p>有孕後睡宜兩邊換睡，不可盡在一邊，要使小兒左右便利，手足慣熟，則產時中道而出，自不難矣。</p>

<h3>飲食</h3>
<p>保胎藥餌諸書皆載，不必再陳。但飲食一道殊未之及，茲略言之。飲食宜淡泊，不宜肥濃；宜輕清，不宜重濁；宜甘平，不宜辛熱。青蔬白飯，亦能養人，即在貧家，頗為不乏，但富貴之人，平日肥甘饜足，抑令從儉，勢所不堪，酌乎其中，臚列於下。</p>
<p>宜食諸物：海參、半大雌雞、豬肚、豬肺、鴨（老者可食，新者切忌）、鯽魚、淡鯗、雞蛋、白菜、熟藕、山藥、芡實、腐皮、麻油，或時蔬不生冷滯氣者，亦可食。以上諸味總宜白煮，鹽醋調食清湯，不可過飲，恐灌入小兒肌膚。切忌煎炒。懷孕六七月後，腐皮麻油宜多食，麻油解毒，腐皮滑胎，但麻油不宜熬熟。</p>
<p>忌食諸物：椒、薑、煎炒、野味、異味、豬肝、狗肉、驢、馬、豬血、騾、自死肉、蟹、腳魚、蝦、鱔魚、蝦蟆、勿多飲酒，勿亂服藥，勿吃牛肉（吃了小兒缺唇）。</p>
<p>又孕妊禁忌：一切宰殺凶惡之事不宜看，修造興工動土不可看，龜、兔俱不可見。</p>

<h3>小產</h3>
<p>小產者謂胎已墮下之後，一切調理，俱照大產一樣。</p>
<p>《便產須知》云：小產不可輕視，其漿養須過於正產十倍，可也。薛立齋先生云：小產重於大產。蓋大產如粟熟自脫，小產如生採，破其皮殼、斷其根蒂也。但人往往輕忽，故死者多矣。</p>
<p>小產數日後，忽然渾身大熱，面紅眼赤，口大渴欲飲涼水，晝夜不息，此血虛之症，宜用當歸補血湯，以補其血。若認作傷寒，而用石膏、芩連等寒涼之藥，則必死矣。</p>

<h3>產後</h3>
<p>產後調理，諸書論之詳矣，茲不復贅。但取一二緊要及所未載者存之，以備採擇。</p>
<p>產後上床宜高枕靠墊，勿令睡下，膝宜豎起勿伸直，宜夾緊勿放開，隨飲熱童便一盞，只宜閉口靜養，勿令熟睡，恐血氣上壅，因而眩暈，又不宜高聲急鬥，以致驚恐。</p>
<p>四壁宜避風，不問有痛無痛，俱用熱童便和熱酒各半，每次一杯，一日三五次，三日而止。酒亦不宜太多，若無大病，只是如此，不必服藥。</p>
<p>產後宜用鐵秤錘或白石子燒紅入醋內，令醋氣入鼻，以免血暈。且收斂神氣，又能解穢。每日三四次，亦三日而止。</p>
<p>或有惡血衝心，血暈昏悶，不省人事者，用韭菜一把，切碎，放有嘴壺內，以熱醋一大碗灌入，蜜札口，扶起病人以壺嘴向鼻，遠遠熏之，燃漆渣或紙亦解血暈。</p>
<p>生男生女夫命所招。蓋百世禮祀以夫家為主，與婦人何干，倘或連胎生女，亦人事之常，不可在旁咨嗟，令產婦氣苦，曾有不明公姑，愚蠢夫婿，將婦埋怨，每每致病傷生，可笑可恨。凡此只宜寬慰為主，又有將女溺死者，忍心害理，後嗣不昌。甚有因溺女而或絕嗣者，謹戒謹戒。</p>
<p>產後各處風俗不同，或用紅沙糖，或用山楂，或用吳茱萸，或用胡椒煎水飲之，總莫過於熱酒對童便。或腹痛之甚，用生化湯一服，無不立愈（方見後）。</p>
<p>產後飲食各處不同，徽俗才上床，即與肥雞、乾飯、吳俗率與虀粥，甚至有彌月而後茹葷者，皆不通可笑。蓋徽俗終年食粥，產後胃弱，驟與雞飯，殊不相宜，然其患猶小，吳中終年食飯，至產後腸胃空虛，正宜滋味調養，以生氣血，轉令食虀食粥，習俗移人，牢不可破，說亦不信，予意必有以此傷生者，習焉而不察耳，及至虛弱發熱咳嗽，此大虛也。血脫益氣急，宜大劑芎歸耆苓補之，猶可挽回。若認產勞，與以滋陰降火之藥，以至於死而不悟，良可嘆也。</p>
<p>或問必如何調理而後可？曰：粥時吃粥，飯時吃飯，但不可食鹹鹽，豬肉不可多食，豬油更宜少吃。恐擁塞經絡，令血氣不通，致生病端，余有何忌。</p>
<p>雞子有去瘀生新之能，食之甚宜，不可食糖心蛋，恐生物凝滯損人，鵝鴨蛋切不可食。</p>
<p>或問食物必要去油，取其清耶。曰：然。不但要清，且更宜淡。蓋清淡之味本乎天，清能生精神，濁則否矣。</p>
<p>或曰何以驗之？曰：產婦宜飲淡酒，宜食淡味，若飲醇酒食鹹味，皆令燒乾無乳，此清濁之驗也。但不得如吳俗食虀粥耳。</p>

<h3>胎死腹中</h3>
<p>死胎只宜佛手散，服之自下或不下，再用平胃散一服，加朴硝二三錢，能令化下，極易耳。古人立法各有精義，且經屢驗，不吾欺也。甚勿用奇方怪藥以傷母命。</p>
<p>或問何以知其胎死，曰：面赤舌青，母活子死；面青舌赤，子活母亡；面舌俱青，子母俱死。況死胎墜脹瘀痛，與常產不同。</p>

<h3>胞衣不下</h3>
<p>或問胞衣不下何故？曰：總是臨盆早之故。當產之時骨節開張，壯者數日而合，怯者彌月方合。今不待其開而強出之，故胎出而骨眼隨閉，以致胞出不及。</p>
<p>又曰：聞此乃極惡之症，可以損命。有諸曰：不妨，不必服藥，不必驚慌，但以本婦頭髮攪入喉中，使之作嘔即下。或燃傘衣，或用產婦鞋底炙熱熨小腹上下，皆妙。若猶不下，用粗麻線將臍蒂繫住，又將臍帶雙摺再系一道，以微物墜住，再將臍帶剪斷，過三五日，自痿縮干小而下，累用有驗。只要與產母說知放心，不必驚恐，不可聽穩婆妄用手取，多有因此傷生者。慎之慎之。</p>

<h3>乳少</h3>
<p>乳少者血虛之故。如產母去血過多，又或產前有病，以及貧儉之家，僕婢下人，產後失於調養，血脈枯槁；或年至四十，血氣漸衰，皆能無乳。但服通脈湯，自有乳。若亂用穿山甲、王不留行等藥，往往不效。即或勉強打通，乳汁清薄，令兒不壽，且損傷氣血，產後多病，不久便乾，反為不美。</p>

<h3>格言</h3>
<p>大全方曰：婦人懷孕有七八個月生者，有一年二年至四年而後生者，不可不知。</p>
<p>楊子建十產論，可謂詳悉之極。予之所論多本於此。但惜稍冗，勿卒視之，安能得其要乎。謹錄傷胎一篇，亦足以盡之矣。</p>
<p>今有未產一月以前，忽然臍腹疼痛有如欲產，仍卻無事，是名試月，非正產也。但未有正產之候，切不可令人抱腰，產母亦不可妄亂用力。蓋兒身未順，穩婆無知，即教產母虛亂用力，兒身才方轉動，卻被用力一送，使兒錯路，或橫或倒，不能正生，皆緣誤聽穩婆之言，產母用力未當之所致。凡產母用力，須待兒子順身臨逼產戶，方始用力一逼，令兒下生，此方是產母用力之當也。若未有正產之時，用力太早，並妄服藥餌，令兒下生，譬如揠苗助長，無益而有害矣。此名傷產。</p>
<p>薛院使云：欲產之時，覺腹內轉動，即當正身仰睡，待兒轉身向下，時時作痛，試捏產母手中指節跳動，脈已離經，方與臨盆即產矣。</p>
<p>大旨云：大凡生產，自有時候，未見時候，切不可強服催生藥，切不用早坐草，及令穩婆亂動手。</p>
<p>朱丹溪先生云：催生只用佛手散，最穩當又效捷。</p>
<p>又云：產後以去瘀補新血為主，縱有他症，以末治之。</p>

<h3>方藥</h3>
<p><u>加味芎歸湯</u>　百試百驗，萬叫萬靈，真神方也。</p>
<p>當歸（一兩）　川芎（七錢）　龜板（手大一片約五六錢，重醋炙，研末）　婦人頭髮（如雞蛋大，瓦上焙，存性）</p>
<p>上用水二碗煎一碗溫服，服下如人行五里路之久即生，即死胎亦下。若交骨不開者，陰氣虛也。服此方神效。</p>
<p>薛云上舍某之妻，產門不開，兩日未生，服此方一劑，即時而產。上舍傳此方，用之者無不效驗。</p>
<p><u>佛手散</u>　治六七個月後，因事跌磕傷胎；或子死腹中，疼痛不已，口噤昏悶；或心腹飽滿，血上衝心者服之，生胎即安，死胎即下。又治橫生倒產及產後腹疼、發熱頭疼，逐敗血生新血，能除諸疾。</p>
<p>當歸（五錢）　川芎（三錢）</p>
<p>用水七分酒三分同煎，至七分溫服。如橫生倒產，子死腹中者，加黑馬料豆一合，炒焦熟，乘熱淬入水中，加童便一半煎服，少刻再服。</p>
<p><u>平胃散</u></p>
<p>蒼朮（米泔炒）　厚朴（薑汁炒）　陳皮（去白。各三錢）　甘草（一錢二分）</p>
<p><u>生化湯</u>　治產後兒枕血不下，及惡瘀未盡、腹痛等症。</p>
<p>當歸（六錢）　川芎（四錢）　乾薑（炒黑五分）　桃仁（去皮尖，只用五分不可太多）　甘草（水炙五分）</p>
<p>上用水一盅，童便一盅，煎溫服（若惡血已行，腹痛已止，減去桃仁），服三四劑妙。</p>
<p>湘門不用生化湯，常隨症選，依法制清魂散。或惡露少者，用黑神散，合糖楂煎，童便水酒對，逐瘀止痛。如衣未下，用清魂散加川牛膝二錢，柞樹皮刺兩許，田邊樹烏苞根五錢。腹痛，仍加糖楂合煎，童便水酒對，或加冬葵子，每每獲效。有服一二劑不下，用平胃散加芒硝一錢煎服，即化碎而下。此方兼治胎死，舌與指甲俱青，心胸脹悶，口中作臭，但下後宜補血，合保元培養氣血為主，相體見證，變通加減，免貽後患。</p>
<p><u>安胎方</u></p>
<p>黃耆（蜜炒）　杜仲（薑汁炒）　茯苓（各一錢）　黃芩（錢半）　白朮（生用五分）　阿膠珠（一錢）　甘草（三分）　續斷（八分）</p>
<p>若胸中脹滿加紫蘇、陳皮各八分，下紅加艾葉、地榆各一錢、阿膠多加、糯米百粒為引，酒二杯水二杯，煎半溫服，倘腹痛，即用急火煎。</p>
<p><u>安胎銀苧酒</u>　治妊婦胎動欲墮、腹痛難忍及胎漏下血。</p>
<p>苧根（二兩）　紋銀（五兩）</p>
<p>酒一碗如無苧根之處，即用茅草根五兩，加水煎之。</p>
<p><u>紫酒</u>　治孕婦腰痛如折。</p>
<p>黑料豆（二合焦熟）</p>
<p>白酒一大碗，煎至七分空心服。</p>
<p><u>當歸補血湯</u>　大補陰血，退血虛發熱，其效如神。</p>
<p>黃耆（蜜炒一兩）　當歸（三錢）</p>
<p>水二碗煎一碗，一服立愈，分兩不可加減。</p>
<p><u>華佗愈風散</u>　治婦人產後中風，口噤，手足抽掣及角弓反張，或產後血暈，不省人事，四肢強直，或心頭倒築，吐瀉欲死。</p>
<p>荊芥穗（除根不用，焙乾研末）</p>
<p>每服三錢，童便調服，口噤則挑牙灌之。斷噤則不碾末，只將荊芥以童便煎，放微溫，灌入鼻中，其效非常。</p>
<p><u>通脈湯</u>　治乳少或無乳。</p>
<p>黃耆（生用一兩）　當歸（五錢）　白芷（五錢）</p>
<p>七孔豬蹄一對煮湯，吹去浮油，煎藥一大碗摻服，覆面睡即有乳。或未效再服，無不通矣。新產無乳者不用豬蹄，只用水一半酒一半煎前藥服之，體壯者，加好紅花（五分）以消惡露。</p>
<p><u>保產神效奇方</u>　未產能安，臨產能催，偶傷胎氣，腰疼腹痛，甚至見紅不止，勢欲小產，危急之際，一服即愈，再服全安。臨產時交骨不開，橫生逆下，或子死腹中，命在垂危，服之奇效。</p>
<p>當歸（一錢五分）　生黃耆（八分）　川羌活（五分）　菟絲子（一錢九分，酒泡曬乾，揀淨泥沙）　荊芥穗（八分）　真川芎（一錢五分）　紫厚朴（七分，薑汁炒）　川貝母（一錢去心，稱准，研細，煎好方入）　細甘草（五分）　枳殼（六分，麩炒）　艾（七分，醋炒）　白芍藥（一錢二分酒炒，冬月只用一錢）</p>
<p>生薑三片為引，水二盅，煎八分，復渣，水一盅煎六分，預服者空心服。臨產隨時服，藥要揀道地，炮治要精，分兩不可任意增減，必照方稱准。此乃仙授奇方，救濟群生，屢驗神效。按以上藥方，如加味芎歸湯、佛手散，真百試百驗，其餘似當審脈察證，不必拘泥。</p>
<p>預防嬰兒臍風馬牙簡驗神方，枯礬一錢五分、硼砂五分、硃砂二分、冰片五釐、麝香五釐。共為細末，凡嬰兒下地洗過，即用此末摻臍眼上，每日換尿布時，仍摻此末，摻完一料，是兒永無臍風等症。</p>
<p>凡小兒初生預辦桃枝、槐枝、柳枝、桑枝、榆枝一名蚊子榔煎水，名曰五枝湯。用青綢塗拭口，至三朝止，此方能去瘀解毒，使後少生瘡癤。</p>
<p>凡小兒多啼哭腸鳴，無論晝夜，是臍氣。湘門每用藿香梗八分、鬱金一錢、條草一錢、天台烏六分、青皮三分、赤芍五分，蒸服屢效，方內有桔梗、艾葉一皮燒酒炒。又面白體虛，用白波蔻四粒、西砂仁一粒、廣木香二分、公丁香一粒、勾藤勾五分、長燈芯一莖，蒸服全效。</p>
<p>凡小兒生馬牙，礙乳，啼哭，用小針挑破，取糖墨雞屎搽之愈。再生亦挑破，用建黛、硼砂、明雄各三分、上片三釐。合乳細，搽之愈。若常生，屬胃熱陽明，多血多氣，須內用枳實、檳榔、木通、車前仁各五分、莊黃三分、勾藤勾七個，水蒸服，外亦挑破，用前末藥，搽之愈。</p>
<p>小兒臍痛突出，經久不入，用艾葉一握、燈芯一丸、敝絮一團各燒存性、胡椒七粒、黃丹一分、水粉一錢，共研細末，用麻油塗臍，以手揉按，令入，將藥敥上，覆以艾餅，外用布緊束，勿使放鬆。不數日，臍自縮入。不應，再如法用一二次，無不獲效。此耀楚屢試屢驗方也。</p>

<h3>小兒夜啼有四</h3>
<p>—　胎熱夜啼，邪火入心，心與小腸為表裡，夜啼而遺溺者是也，瀉心腸主之（川連三五分，水酒炒長燈芯五莖同蒸，每喂三五匙）。有見燈煩躁愈啼者，心火甚也，宜服導赤散（乾地一錢、木通五分、淡竹葉三分、甘草梢錢長燈芯五莖，同蒸與飲）。有遇寒即啼者，寒疝也，金鈴子散主之（金鈴子三個，小茴三分，鹽水炒，廣木香一分，共研細末，籮過，再乳極細，老薑、燈芯湯調喂）。有面色紫黑，口吐白沫，睡中驚跳者，此誤觸異物而夜啼也，宜硃砂安神丸（當歸錢、乾地錢、甘草錢、川連五分，酒炒，鏡面硃砂三分，乳細或以前藥倍分為丸，硃砂為衣，水磨服或蒸湯調硃砂服，亦可）。</p>
<p>單方　治夜啼取燈花三個，用燈芯蒸湯調摸兒口中，即令吮乳送下，日二次即愈。或用燈芯燒灰搽乳上，令兒含乳數次愈。</p>
<p>—　凡口中起黃泡者，用青黛、洋片、黃連、硼砂、苦參，研細籮過吹之，即時消退。有起白小泡者，名白雪，一名鵝口瘡。取白鵝矢，瓦上焙乾，合黃泡藥吹之愈。</p>

<h3>逆生論</h3>
<p>—　兒未生先露手足，謂之逆生，非吉兆也。古人方：用繡花針將兒手足心針一二下，兒得驚一縮。又法：以食鹽塗其手足心，使老成穩婆緩緩推入。產母久睡不縮，又推，難恃藥方之功。</p>
<p>萬蜜齋婦科云：針刺手足心及鹽塗之法，致兒痛上奔，母命難存。求慣熟穩婆剪去指甲，以香油潤手，將兒足輕輕送入，又再推上，兒身必轉，直待身轉頭正，服催生藥一貼，然後扶掖起身，用力一送，兒即生矣。此極為良法，宜熟記之。湘門每用補中益氣湯加條芩獲效。</p>
<p>—　兒被臍帶纏絆不得下者，謂礙產。急令產母仰臥，穩婆細審臍帶絆著兒身何處。以手法輕輕取脫扶起母，用力一送，兒即生矣。</p>

<h3>盤腸生</h3>
<p>當產之時，子腸先出，盤露於外，子隨後生，產後而腸不上收，謂之盤腸生。蓋由產母平日氣虛，不能斂束血熱，致下元不固，關鍵不牢。治法，須令產母仰臥，穩婆先將子腸用濃煎黃耆湯乘溫洗淨托起，輕輕送入，又令產母兩足夾緊穀道，此為上法。或用萆麻子去殼搗爛，貼產母腦頂心，腸即收上，急去其藥。此為次法。或用大紙條一根，以麻油浸透，火點燃吹滅，以煙燻產母鼻孔，腸即上，此為次法。欲免其苦者，宜於未孕時多服地黃丸，加五味子、肉桂以補虛，有孕時多服當歸黃耆補血湯以固脫。如此調治，庶無患矣。</p>
<p>臨產母腸拖出，及兒已產下，其腸仍有不收者，急以芝麻油抹之，以防風襲用蓖麻子四十九粒，去殼搗爛，塗產母頭頂心上，其腸自收。待腸收上，急將頭頂蓖麻子洗去，勿緩。或為風乾不能收者，以磨刀水少許，溫熱塗潤其腸一面，用上好磁石煎湯服之，腸即收。磁石俗稱吸鐵石，須陰陽家用過有驗者乃佳。俗以水噀產母面背，令其驚而腸收。然驚則氣散，恐致害。戒之。</p>

<h3>催生方論</h3>
<p>五行論命，以年月日時支幹，五行相生相值，以推其貴賤，其間最切要者時也。得其時，則終身富貴，失其時，一世貧賤。然則命賦於有生之初，豈可催乎。世之催生之說，蓋為難產而設也。今開歷驗數方於後。</p>
<p>一方　用伏龍肝碾末，每服一錢酒調下，兒頭戴土而下。</p>
<p>又方　吞槐子十四粒而下。</p>
<p>催生常用：全歸五錢，酒洗正芎二錢、蜜耆三錢、炙草一錢、枳殼錢半。</p>
<p>若兒已抵產門，加菟絲錢半。</p>
<p><u>催生柞木飲子</u>　治產難，或胎爛腹中，腹悶，其效如神。</p>
<p>生柞木一尺銼五段　甘草大者五寸銼五段</p>
<p>水三鍾，紙封煎鍾半，候胎順產門，徐徐溫服，即時分娩，更無諸苦。切不可早於坐草，及穩婆下手催逼。</p>

<h3>催生四法</h3>
<p>凡臨產數日艱難者，　加減五苓散　主之。</p>
<p>豬苓　澤瀉　白朮　木通　滑石　冬葵子　車前</p>
<p>如產母飲食能進，人事強實，不得產者；或水下過多，此必胞漿乾澀。佛手散加蜜糖為引主之。</p>
<p>如產母飲食不嗜，人事困頓，不得產者，此中氣不足，不能運送其胎，保元湯主之。</p>
<p>如三四五日不產者，或胎死腹中，於何驗之？觀其母之唇舌俱紅者，子母無事。唇青舌紅沫出者，母死子活。唇紅舌青者，子死母活。唇舌俱青，沫頻出者，子母俱死。　奪命丹　主之。</p>
<p>黑附子（泡五錢）　丹皮（一兩）　乾漆（炒盡煙二錢）</p>
<p>共為末酒調服。</p>

<h3>死胎驗</h3>
<p>凡子死腹中，多因觸傷跌僕，或胞破血乾，日久困憊。但察其母腹，飽脹面赤舌青，或下血塊其子已死，或為吐嘔，或為穢氣上衝，皆子死之症，宜速用下死胎方下之。下後察其虛實，隨加調補自愈。若唇舌面色俱青，是子母皆危之兆。</p>

<h3>下死胎方</h3>
<p>當歸　川樸　陳皮　紅花　麥芽</p>
<p>酒對熱服。</p>
<p>雙胎一死一活，方用蟹爪一盞，甘草二兩，東流水煎，去渣，入阿膠二兩，分二三次投服，能令生者安，死者出。</p>
<p>單服蟹爪湯，下死胎如神。</p>
<p>下死胎用芎歸取流水煎，童便對服。</p>
<p>又　肉桂為末，童便酒泡服。</p>
<p>又　松煙墨水服。</p>
<p>又　伏龍肝酒服仍貼臍下。</p>
<p>又　羊血熱飲。</p>
<p>又瞿麥、川貝母、益母草、沒藥、丹砂、丹參、人參，看症採藥。</p>

<h3>交骨不開</h3>
<p>凡交骨不開初生者有之，兒頭到門久而不下，謂之交骨不開。方用柞木枝、當歸、正芎、人參煎服。倘兒頭未下，方內不可用柞木枝。蓋此藥專開交骨，兒未回頭而兒門先開，亦死之道。又方用芎歸湯加龜板灰、發灰，以熱童便調服。若見咬牙昏憒，急以熱童便灌醒，速進十全大補培補，否則不能救矣。</p>
<p>又一法，用人參佛手散加苧根三錢，丈夫指甲炙焦，煎服神效。</p>

<h3>子宮不收</h3>
<p>亦用十全大補湯及補中益氣湯，子宮收後亦宜多服（方藥俱列於後）。</p>

<h3>寤生方法（氣絕不啼曰寤生）</h3>
<p>子下時母獲其痛，傴僂傾側，兩足不開，抵夾兒頭，氣不得伸，故生下悶絕不啼。救法待胞衣來，勿遽斷臍，急取小鍋燒水，以胎衣置湯中，頻用水㿏（音沃）臍帶，須臾氣暖入腹，兒即回啼聲發。若倉卒斷臍，不可救矣。</p>

<h3>胞衣不下</h3>
<p>凡胞衣不下，或因產母力乏，氣不轉運，或因血少乾澀，或因子宮空虛，吸貼不下，若倉卒無藥可尋，破草鞋一隻近陰處，軟系臍帶數道，務宜緊束系定，然後截斷臍帶。又令一人掖扶產母，緊束產母腰腹，其胞衣必出。又法：令穩婆以手拌臍輕輕探取臍蔸掐住，又令產母自銜頭髮尾尖得嘔噦，胞自出；或外用鞋底炙熱熨產母小腹，如上數法；或一時不下，有過旬日而爛下者，屢試有驗。最忌不斷臍帶，使子氣貫入衣中，惡露脹胞衝心上，喘滿不休，痛不可忍，大凶之兆。</p>

<h2>用藥歌括</h2>
<p>產後何症最為急，胞衣不下飽悶極，皆因惡露脹胞中，漸衝心上痛不息。若喘滿時定主凶，胞衣散用為中的，牛膝木通三錢許，歸尾枳殼滑石集，再加冬葵熱煎服，用上數法真有益。又方單用鐵秤錘，燒紅童便淬入吃（取鐵器重鎮）。</p>
<p>瘀血脹胞不能出，人參三分不可忽，更加蘇木用三錢，童便一盞令煎服。</p>
<p>蓖麻十個麝一錢，共搗塗貼足心邊，方名如聖膏即是，胞衣不下此方先。胞出此藥速洗去，稍遲腸出屬誰愆，若果腸出何方用，此膏即移貼頂巔。</p>
<p><u>催生飲</u>　治難產並胞衣不下。</p>
<p>白芷　滑石　冬葵子　伏龍肝　百草霜　甘草　正芎　當歸</p>
<p>煎服入童便對。</p>
<p>又單方　治胞衣不下，用雞卵黃二三枚，沸水泡吞。又令產婦解發刺喉得嘔，即下。</p>
<p>又方　以五月五日或六月六日取雞頭葉陰乾，臨用將一葉扯做三塊，開水泡服，胞衣即下。或將葉燒灰，開水泡服亦可。</p>
<p>又方　用壯黃牯肚下撒尿陰毛，剪下洗淨，燒存性，加麝香一分碾末酒泡服。</p>
<p>又方　用一葉一枝刺（即水柞朸）紫竹根或三五七錢各等分，煎水，水酒兌服。</p>
<p>又方　用回頭馬（即路上草鞋鼻子向我者）取頭前一節燒灰研末，或用煎藥水兌服。</p>
<p>又方　用千槌草（即鑿柄），亦碾末，用前藥水或用開水、水酒調下。</p>
<p>又方　用牛欄壁上牛尾轉成牛糞團取下，開水泡服即效。</p>
<p>又方　用莧菜子壹調羹，碗盛，以滾茶傾入簸盤內，盪數下，即入碗中泡莧子旋，一併服之，衣下有菜子可驗。</p>
<p>又方　用銅鑼仰放入鍋內，蓋以淘盆久蒸，取氣水服之即下。</p>
<p>一方　治胞衣不下及兒死腹中，宜炙獨陰穴，三壯即下。按獨陰穴在足第二趾一節腕中。</p>
<p><u>奪命散</u>　治胞衣不下，腹中脹痛。</p>
<p>制沒藥　血蠍（等分）</p>
<p>碾細末，才產下即用童便陳酒各半杯煎一兩沸，調二錢，良久再服，其血自下行，便不衝上，免生百病。</p>
<p><u>奪命丹</u>　治胞衣不下及已下腹中脹痛或胎死腹中難下。</p>
<p>附子（五錢，炮）　丹皮（一兩）　乾漆（一兩，研碎炒令煙盡）</p>
<p>為細末，好醋一升，大黃末一兩，同熬成膏，和藥為丸，如梧桐子大，溫酒下五七丸，消瘀止痛，下胞胎如神。</p>
<p><u>安胎催生藥方</u>（李氏存仁傳）　凡婦人懷妊三五個月，或感冒寒熱，胎動不安，及未足月之時，能服之即安。已足月即產，不論體之強弱，年之老少。皆可服之，其效如神。</p>
<p>秦歸（一錢）　貝母（八分）　紫蘇（六分）　枳殼（六分）　條芩（酒炒，五分）　白芍（一錢）　甘草（二分）　厚朴（五分）　藿香（三分）　靳艾（三分）　菟絲子（一錢四分）　黃耆（八分）</p>
<p>白水煎服一二劑或三四劑，自然快順兩全。產後不可服，曾有誤服壞事。慎之慎之。定要照分過等，不可加減。</p>
<p>歌曰</p>
<p>當歸一錢耆貝八，蘇殼六分絲錢四，白芍一錢芩樸五，藿艾三分甘草二。</p>
<p>凡產後胞衣不下，用無名異方服之即下（無名異即漆匠煎油的籤子）。以無名異為末三錢，以鴨蛋白調勻碗貯，次用老米醋一茶杯、燒滾，和藥同服，其胞衣即縮小如稱錘下來。如或不下，不必驚惶。再服三錢，定然下來，萬無一誤。</p>
<p>凡胎前產後臍腹作痛者，用　益母丸　服之即安。</p>
<p>益母草（取紫花方莖者，不犯鐵器摘碎風乾。八兩）　川當歸　赤芍　木香（各二兩）</p>
<p>共為末，煉蜜為丸如彈子大。或胎前臍腹作痛，胎動不安，下血不止，用米湯下，或秦當歸煎湯下。又胎前產後臍腹作痛作聲，或寒熱往來狀如瘧疾者，用米湯下。又臨產併產後各用一丸，如彈子大，童便入酒下，能安魂定魄，調順血氣，諸痛不作，並可催生。以上三方，李氏祖傳，歷試歷驗，萬無一失（更期廣相傳布）。</p>
<p><u>萬金不傳遇仙丹</u>（專治胎前產難歷經奇驗）　凡生產累日不下，危急之極者，用蓖麻子（去殼）十四粒、明雄黃錢半、明硃砂錢半、蛇蛻一尺，燒存性，共碾細末，用漿水飯和丸如彈子大，先用椒湯淋泄產婦臍下，然後以藥一丸放於臍中，用紙數層蓋上，再加闊帛束之，待兒頭生下，急取去藥。</p>
<p><u>救產難聖丹</u></p>
<p>凡產難危急者，用寒水石四兩（二兩生用，二兩煅赤）同碾細末，加硃砂五錢同碾加深桃花色，每用三分並花水調如薄糊，以紙剪如杏葉大，將藥塗紙上，貼臍心，候乾再易，還三上即產，橫生倒生死胎皆驗。</p>
<p><u>保產神妙方</u>　並能安胎，能催生，能保全子母，百用百效。</p>
<p>當歸（酒炒，一錢五分）　菟絲子（二錢四分）　川芎（一錢五分）　荊芥穗（八分）　厚朴（生薑汁炒，七分）　川貝（去心，一錢）　靳艾（五分，二錢炒）　羌活（五分）　黃耆（八分）　枳殼（炒，六分）　甘草（五分）</p>
<p>加姜三片，煎服。</p>
<p>凡產婦橫生者，用益母草六兩煎濃汁，加童便一大杯服下，仰臥片時，兒即順生。</p>
<p>凡胎將墮欲死者，用懷生地（酒炒）一錢、砂仁末五錢，酒煎服，立保安全。</p>
<p>凡產後惡血上攻者，先用舊漆器燒煙，熏產婦鼻邊，再以山楂煎汁半盅和童便半盅對服下，惡血消退，立可回生。</p>
<p>凡產婦血暈，不省人事，危急之極，當令臥倒，扶持正坐。背後一人撐住，釅醋（濃醋也），將火炭浸醋中熏之，使醋氣熏入鼻中。再用花蕊石一錢，童便調下，如口噤，抉開灌之，即醒。</p>
<p>又法　以五靈脂二兩（半生半炒），為末，二錢溫酒調下，如口噤，抉開灌之，神效。</p>
<p>又法　以真鬱金燒，存性，為末，用二錢，以釅醋一合調灌，立效。</p>
<p>又方　以半夏末，用冷水和丸，如大豆大，納鼻中，立效。</p>
<p>凡產婦中風不省人事，口吐涎沫，手足瘛瘲者，用歸身、荊芥等分為末，每服二錢，水一盞，酒少許，童便少許，煎七分，灌之下咽，即愈。</p>
<p>凡婦人患陰瘡者，用豬肝切大片，蔥白、川椒拌豬油熬熟，待冷，納陰戶內，少傾取出，再換一片，其蟲鑽入豬肝內，出盡為度，再以五倍子、川椒、苦參、蔥白、明礬、蛇床子煎水，頻洗。</p>

<h2>彙輯驗方</h2>
<p><u>前八珍湯</u>　治婦人胎產崩漏，氣血俱虛者。</p>
<p><u>八物湯</u>　治營衛俱虛，畏寒發熱。</p>
<p>八珍去人參加黃耆。</p>
<p>按：八珍八物功用懸殊，以人參專補臟腑元氣，黃耆惟司營衛開闔也。世人每謂黃耆代人參，恆用八物補益臟腑之氣，大為噴飯。</p>
<p><u>四物湯</u>（《局方》）　地芍歸芎（治營血虛熱）。</p>
<p><u>加減四物湯</u>　治停經血滯小腹結痛。</p>
<p>四物湯換赤芍加三稜、蓬朮、肉桂、乾漆灰。</p>
<p><u>四烏湯</u>　治血中氣滯小腹急痛。</p>
<p>四物湯加烏藥、香附、甘草。</p>
<p><u>當歸芍藥散</u>（《金匱》）　治腹中諸痛。</p>
<p>四物湯去地黃加白朮、茯苓、澤瀉為散，酒調服方寸匕日三。</p>
<p><u>芎藭湯</u>（《千金》）　治產後崩漏下血不止。</p>
<p>四物湯換生地，加黃耆、甘草、乾薑、吳茱。若夏月經後有赤白不止，除地黃加人參、杜仲。</p>
<p><u>補血湯</u>（即黃耆六一湯）　治衛虛自汗，晝日煩熱。</p>
<p>黃耆（炙六錢）　甘草（一錢）　棗仁（一枚）</p>
<p><u>三黃補血湯</u>　治血虛至夜發熱自汗。</p>
<p>四物湯換生地加黃耆、升麻、柴胡、丹皮。</p>
<p><u>四物二連湯</u>　治重陽無陰，晝靜夜熱，必其人時火亢極於陰分者乃為相宜，此方不可混用也。其陰虛蒸熱自有六味地黃，血虛發熱自有當歸補血，亦何藉於此哉。</p>
<p>此方即四物湯加黃連、胡連也。</p>
<p><u>玉燭散</u>　治血熱大便秘結。</p>
<p>四物湯換生地，加酒大黃、元明粉、甘草、生薑，萬金方無大黃、明粉，易青皮、枳殼。</p>
<p><u>芎歸湯及散</u>　治妊娠胎不轉運。</p>
<p>當歸正芎湯則煎服，散則酒調，服之以驗胎息，若是真胎，服之即動，勿經火炒乃效。</p>
<p><u>佛手散</u>　治產婦胎不得下。</p>
<p>當歸、撫芎等分，炒碾為散，紅酒調服。</p>
<p><u>加味佛手散</u>　治產婦交骨不開。</p>
<p>當歸（三錢）　正芎（一錢）　人參（三五錢，若出血過多至一兩）</p>
<p>臨服入童便半盞續續進之。質壯氣實者，加童便，人參不用也。</p>
<p><u>溫經湯</u>（《金匱》）　治經水不調崩帶，及唇口乾燥，並治經閉不通，咳嗽便血，此肺移熱於大腸也。</p>
<p>當歸　白芍　川芎　人參　甘草　麥冬　肉桂　吳茱　半夏　阿膠　丹皮　生薑</p>
<p>更加白朮名大溫經湯。</p>
<p>此方本膠艾湯而立，以虛火上炎，唇口乾燥，故用麥冬。濁濕下滲，不時帶下，故用半夏。若無二症，不必拘執成方也。</p>
<p><u>丁香膠艾湯</u>　治經漏兼白帶。</p>
<p>四物湯加丁香、阿膠、艾葉。</p>
<p><u>加味香附丸</u>　治倒經、自汗、胎漏下血。</p>
<p>熟地（八兩）　當歸（四兩）　白芍（四兩）　西芎（三兩）　香附（一斤，童便薑汁酒醋四制）　澤蘭葉　烏賊骨（各六兩）</p>
<p>為末，用浮麥、面、酒、醋開水調糊為丸，如綠豆大，每服百丸，早暮如一。服溫酒、沸湯任下。</p>
<p><u>艾煎湯</u>（《局方》）　治婦人崩傷、淋瀝、帶下、赤白、小腹㽲痛也。</p>
<p>乾地（用砂鍋和糠頭拌炒乾油枯易磨）　當歸　白芍（各二兩）　川芎　人參　石菖蒲（炒）　吳茱（用間口者醋炒。各一兩）</p>
<p>共為末，用蘄艾四兩（酒煎濃汁）入糯米粉糊為丸如梧子大，每服百丸醇酒下。更加肉桂、熟附片各一兩、香附四兩，名艾附丸。</p>
<p><u>大營煎</u>（景岳新方）　治真陰精血虧，及婦經遲血少，腰膝筋骨疼痛，或氣血虛寒，心腹疼痛（藥歌明晰不贅錄）。</p>
<p>大營熟地當歸身，杜仲甘杞牛膝成，血氣虛寒尊肉桂，經遲筋骨痛宜溫。</p>
<p>如寒滯在經，氣血不能流通，筋骨疼痛甚者加附片，滯濁腹痛加故紙，氣虛加人參、白朮，中氣虛寒嘔惡加炒乾姜。</p>
<p><u>小營煎</u>（景岳新方）　治血少陰虛，此性味和平之方也（藥歌明晰不贅錄）。</p>
<p>小營熟地當歸芍（藥），枸杞淮山甘草合，性味和平是此方，陰虛血少須斟酌。</p>
<p>如陰虛於上，而為驚恐怔忡，不眠多汗者，加棗仁、茯神；如營虛多寒，加酒芍、生薑；如氣滯有痛者，加香附引而行之。</p>
<p><u>舉元煎</u>（景岳新方）　治氣虛陷下，血崩血脫，亡陽垂危等症。</p>
<p>人參　白朮　升麻（酒炒）　黃耆（炙）　甘草（炙）</p>
<p>舉元煎治血崩脫，參朮升耆甘草酌，只用升提升下陷，氣虛血脫無他著。</p>
<p>如兼陽氣虛寒者，桂附乾薑隨宜佐用；如滑脫者，加烏文蛤。</p>
<p><u>濟川煎</u>（景岳新方）　凡病涉虛損而大便閉結不通，則攻利不可，用此方最妙。</p>
<p>濟川煎治便難通，虛損病人不可攻，枳殼升麻牛膝澤，當歸多共肉蓯蓉。</p>
<p>如氣虛者加人參；如有火加黃芩；若腎虛加熟地。</p>
<p><u>溫胃飲</u>（景岳新方）　治中寒嘔吐、吞酸泄瀉，不思飲食，及婦人臟寒嘔惡，胎氣不和等症（藥歌明晰不贅錄）。</p>
<p>溫胃飲中參朮姜（水泡），陳皮扁豆炙草甘，中寒嘔吐吞酸泄，胎氣不和此亦良。</p>
<p>如下寒帶濁者加故紙；如氣滯兼胸腹痛者，加藿香、丁香、木香、砂仁、白寇、白芥之屬；如兼外邪及肝腎之痛者，加桂枝、肉桂，甚者加柴胡；如脾氣虛陷者而兼身熱加升麻；如水逆為痰而胸腹痞滿者加茯苓；如脾胃虛甚嘔吐不止者，倍用參朮，仍加胡椒。湘門常以本方加藿砂，治妊娠嘔逆喜熱飲者屢效。</p>
<p><u>三補丸</u>　治血熱暴崩。</p>
<p>黃柏（一兩，炒黑光如漆，水酒淬）　生條芩（一兩，切片水酒炒）　黃連（三錢，水酒炒）</p>
<p>上共為末用紅砂糖二兩，蒸溶和丸，用開水、童便送下，分三服。</p>
<p>黃耆鱉甲（散羅謙甫）地骨皮，（秦）艽（紫）菀（人）參（茯）苓柴（胡）半（下）知（母），地黃芍藥（天）冬（肉）桂甘（草），桔梗桑皮勞熱宜。</p>
<p>按：此藥歌治男女虛熱，五心煩熱，四肢怠惰，咳嗽咽乾，自汗食少，或日晡發熱。鱉甲天冬知芍補水養陰，參耆桂苓甘草固衛助陽，桑桔瀉肺熱，菀夏理疫嗽，艽柴地骨退熱升陽，為表裡氣血交補之劑。</p>
<p>秦艽鱉甲（散羅謙甫）治風勞，地骨柴胡及青蒿，當歸知母烏梅合，止嗽除蒸斂汗高（治風勞骨蒸，午後壯熱咳嗽，肌瘦，煩赤盜汗，脈來細數，鱉甲、地骨、柴胡各一兩，青蒿五葉、秦艽、當歸、知母各五分，烏梅五個，治略同前。汗多倍黃耆，此方加青蒿、烏梅，皆斂汗退蒸之意）。</p>
<p>秦艽扶羸（湯《直指》）鱉甲柴（胡），地骨當歸紫菀偕，半夏人參兼炙草，肺勞蒸嗽服之諧（治肺痿骨蒸，或寒或熱或勞，咳嗽聲嘎不出，體虛自汗，四肢倦怠。透肌解熱，柴胡、秦艽、乾葛為要劑，故骨蒸方中多用之。此方雖表裡交治，而以柴胡為君）。</p>
<p>紫菀湯（海藏）中知（母）貝母，（人）參（茯）苓五味阿膠偶，再加甘（草）桔（梗）治肺傷，咳血吐痰勞熱久（治肺傷氣極勞熱，吐痰吐血及肺痿變癰）。</p>
<p>經產之劑十二首，附方二十二久嗽。</p>
<p>婦人諸病與男子同，惟行經妊娠不可以例治，故王海藏立經產一門。</p>
<p>海藏妊娠六合湯，四物為君妙義長（當歸地黃川芎白芍）。傷寒表虛地骨桂（表虛自汗，發熱惡寒，頭痛脈浮，四物四兩，加桂枝、地骨皮各七錢，二藥解肌實表，名表虛六合湯），表實細辛兼麻黃（頭痛身熱，無汗脈緊，四物四兩，加細辛、麻黃各五錢，二藥溫經發汗，名表實六合湯）。少陽柴胡黃芩入（寒熱脅痛，心煩喜嘔，口苦脈弦，為少陽症，加柴胡解表，黃芩清裡，名柴胡六合湯）。陽明石膏知母藏（大熱煩渴，脈大而長，為陽明症，加白虎湯，清肺瀉胃，名石膏六合湯），小便不利加苓瀉（加茯苓、澤泄利水，名茯苓六合湯），不眠黃芩梔子良（汗下後不得眠，加黃芩、梔子養陰除煩，名梔子六合湯），風濕防風與蒼朮（兼風兼濕，肢節煩痛，身熱脈浮，加防風搜風，蒼朮燥濕，名風濕六合湯）。發斑升麻連翹嘗（胃中濕熱發斑，加升麻解毒，連翹散熱，名升麻六合湯），胎動血漏加膠艾（傷寒汗下後胎動漏血，加阿膠、艾葉益血安胎，名膠艾四物湯），虛痞樸實頗相當（胸滿痞脹，加厚朴、枳實炒，散滿消痞，名樸實六合湯）。脈沉寒厥亦桂附（身冷拘急，腹痛脈沉，亦有不得已，而加附子肉桂，散寒回陽者，名附子六合湯），便秘蓄血桃仁黃（大便秘，小便赤，脈實數，或膀胱蓄血，亦有加桃仁大黃，潤燥通幽者，名大黃六合湯）。安胎養血先為主，余因各症細參詳，後人法此治經水，過多過少別溫涼。溫六合湯加芩術（加黃芩、白朮、治經水過多，黃芩抑陽，白朮補脾，脾能統血），色黑後期連附商（加黃連清熱，香附行氣，名連附六合湯）。熱六合湯梔連盆（加梔子、黃連、治血熱妄行），寒六合湯加附姜（加泡薑、附子，治血海虛寒），氣六合湯加陳樸（加陳皮、厚朴治氣鬱經阻），風六合湯加艽羌，（加秦艽、羌活，治血虛風痙）。此皆經產通用劑，說與時師好審量。</p>
<p>當歸生薑羊肉湯（《金匱》：當歸三兩，生薑五兩，羊肉一斤），產中腹痛蓐勞匡（產後發熱、自汗身痛名蓐勞，腹痛者瘀血未去新血不生也），亦有加入參耆者（氣能生血。羊肉辛熱同氣血之屬，以補氣血，當歸引入血分，生薑引入氣分，以生新血，加參耆者，氣血交補也），千金四物甘桂姜（千金羊肉湯，芎歸地芍甘草乾姜肉桂加羊肉煎）。</p>
<p>達生（散）（丹溪：達，小羊也，取其易生）紫蘇大腹皮，參朮甘陳歸芍隨，再加蔥葉黃楊梢，孕婦臨盆先服之（大腹皮三錢，紫蘇、人參、白朮土炒，陳皮、當歸酒洗，白芍酒洗，各一錢，甘草炙二錢，青蔥五葉，黃楊梢七個煎，歸芍以益其血，參朮以補其氣，陳腹蘇蔥以疏其壅，不虛不滯，產自無難矣）。若將川芎易白朮，（名）紫蘇飲子（嚴氏）子懸宜。（胎氣不和上衝心胸，名子懸）。</p>
<p>當歸散（《金匱））益婦人妊，術芍芎歸及子芩，安胎養血宜常服，產後胎前功效深（婦人懷妊宜常服之，臨盆易產且無眾疾，當歸、川芎、白芍、黃芩各一斤，白朮半斤，為末酒調服。丹溪曰：黃芩白朮安胎之聖藥，蓋孕宜清熱涼血，血不妄行則胎安。黃芩養陰退陽能除胃熱，白朮補脾亦除胃熱，脾胃健則能化血養胎，自無半產、胎動、血漏之患也）。</p>
<p>當歸散若腰痛加杜仲（鹽水炒）、續斷（酒炒）各八兩，本方及加味，或用四股之一，在人變通。</p>
<p><u>四神湯</u>　四物湯去地黃加乾薑，名四神湯。治婦人血虛心腹㽲（音朽）痛，四物湯用乾地加丹皮全皮（治婦人骨蒸）。</p>
<p><u>生地黃連湯</u>　治婦人血風症，去血過多，因而燥涸，循衣摸床，撮空閉目，揚手擲足，錯語失神，脈弦浮而虛，男子去血過多，亦有此症。</p>
<p>生地　白芍　當歸　川芎（各七錢）　北豐（一兩）　梔子　黃芩　黃連（各三錢）</p>
<p>合磨為散，每服五錢，沸湯下，如脈實，加大黃。</p>
<p><u>五積散</u>　治少陰傷寒，及外感風寒，內傷生冷，身熱無汗，頭痛身痛，項背拘急，胸滿惡食，嘔吐腹痛，寒熱往來，腳氣腫痛，冷痹寒瘧，惡寒無汗，婦人經不調。</p>
<p>當歸　川芎　白芍　麻黃　蒼朮　枳殼　桔梗　桂枝　軍姜（炮）　甘草　茯苓　厚朴　陳皮　半夏　白芷（上除白芷、桂枝、陳皮，余藥合略炒，用酒淬推冷，名熟料五積散，加蘇梗、老薑煎服亦可）</p>
<p>五積散治五般積，麻黃蒼芷芍歸芎，枳桔桂姜甘茯樸，陳皮半夏加薑蔥；除桂芷陳余略炒，熟料尤增濁散功，溫中解表祛寒濕　散痞調經用各無。</p>
<p>按：此方治婦人經滯氣痞等症。（湘門）減麻黃加烏藥（行氣活血），後加生香附（化氣達表）更為穩捷。</p>
<p><u>正氣天香散</u>（紺珠）　治一切諸氣，氣上湊心，心胸攻築，脅肋刺痛，月水不調（婦人多憂鬱，故氣病為多，氣為血配，氣滯則血亦不能行，故月候下調也）。</p>
<p>紺珠正氣天香散，香附乾薑蘇葉沉（香），烏藥舒郁兼除痛，氣行血活自經勻。</p>
<p><u>柏子仁丸</u>（《良方》）　治經行復止，血少神衰。</p>
<p>柏子仁丸熟地黃，牛膝續斷澤蘭芳，卷柏加之通血脈，經枯血少腎肝匡。</p>
<p>經曰：心氣不得下降，則月事不來。柏仁安神養心，熟地、續斷、牛膝補肝益腎，澤蘭、卷柏活血通經。</p>
<p><u>牡丹皮散</u>（《良方》）</p>
<p>牡丹皮散延胡索，歸尾桂心赤芍藥，牛膝（三）稜莪（術）酒水煎，氣行瘀散血瘕削。</p>
<p>瘀血凝聚則成瘕，桂心、丹皮、赤芍、牛膝則行其血，三稜、莪朮、歸尾、延胡兼行氣中血滯，血中氣滯則結者散矣。</p>
<p><u>固經丸</u>（《良方》）</p>
<p>固經丸用龜板君，黃柏樗皮香附成，黃芩芍藥酒丸服，漏下崩中色黑殷。</p>
<p>治經不止色紫黑者，屬熱陰虛，不能制包絡之火故經多。龜板、芍藥滋陰壯水，黃芩清上焦，黃柏清下焦，香附辛以散郁，樗皮澀以收脫。</p>
<p><u>六味地黃湯</u></p>
<p>熟地　茯苓　澤瀉　丹皮　山藥　棗皮</p>
<p>加知母、黃柏名知柏地黃湯，加肉桂、附子名八味丸。</p>
<p>六味地黃湯滋陰，地棗丹澤淮山苓，壯水知柏鹽水炒，桂附八味益火精。</p>
<p><u>小柴胡湯</u>　治傷寒中風少陽症，往來寒熱，胸脅痞滿，默默不欲食，心煩喜嘔，或腹痛，或脅痛，或渴咳，或利悸，小便不利，口苦耳聾，脈弦，或汗後餘熱不解，及春月時嗽瘧發寒熱，婦人傷寒，熱入血室。</p>
<p>小柴胡湯和解供，半夏人參甘草從，更用黃芩加薑棗，少陽百病此為宗。</p>
<p><u>五苓散</u>　治太陽病，發汗後大汗出，胃中干，煩躁不得眠，欲飲水者，少少與之，令胃氣和則愈，若脈浮，小便不利，微熱，消渴者，此湯主之。</p>
<p>五苓散治太陽府，白朮澤瀉豬（苓）茯苓，膀胱化氣添官桂，利便消暑煩渴清。</p>
<p><u>腎著湯</u>　治傷濕身重腹痛，腰冷不渴，小便自利，飲食如故，病屬下焦，宣明用治胞痹膀胱熱痛，澀於小便，上為清涕（藥歌明晰不贅錄）。</p>
<p>腎著湯內用乾薑，茯苓甘草白朮襄，傷濕身痛與腰冷，亦名乾薑苓朮湯。黃耆防己除姜茯（苓），（白）術甘（草）薑棗共煎嘗。此治風水與諸濕，身重汗出服之良。</p>
<p><u>獨活寄生湯</u>　治肝腎虛熱，風濕內攻，腰膝作痛，冷痹無力，屈伸不便。</p>
<p>當歸　川芎　乾地　白芍　秦艽　防風　細辛　桂枝　赤苓　杜仲　萎參　川膝　甘草</p>
<p>獨活寄生艽防辛，芎歸地芍桂苓均，杜仲牛膝萎參草，冷風頑痹屈能伸，若去寄生加（黃）耆續（斷），湯名三痹古方珍。</p>
<p><u>獨活湯</u>　治風虛瘛瘲，昏憒不覺，或為寒熱。</p>
<p>當歸　川芎　茯神　志肉　白薇　羌活　獨活　防風　細辛　桂枝　萎參　半夏　菖蒲　甘草</p>
<p>獨活湯中羌獨防，芎歸辛桂參夏菖，茯神遠志白薇草，瘛瘲昏憒力能匡。</p>
<p><u>理中湯</u>　治傷寒太陰病，自利不渴，寒多而嘔，腹痛糞溏，脈沉無力，或厥冷拘急，或結胸吐蛔，及感寒霍亂（藥歌明晰不贅錄）。</p>
<p>理中湯主理中鄉，炙草人參（白）術黑姜，嘔利腹痛陰寒盛，或加附子總扶陽。</p>
<p><u>二妙散</u></p>
<p>蒼朮（法制有霜者佳黃）　黃柏（鹽水炒）</p>
<p>加川膝名三妙散。</p>
<p><u>龍膽瀉肝湯</u>（《局方》）　治肝膽經實火濕熱，脅痛耳聾，膽溢口苦，筋痿陰汗，陰腫陰痛，白濁溲血。</p>
<p>梔子　黃芩　柴胡　生地　車前　澤瀉　木通　龍膽草　歸尾　甘草</p>
<p>龍膽瀉肝梔芩柴，生地車前澤瀉偕，木通甘草當歸尾，肝經實熱力能排。</p>
<p><u>藿香正氣散</u>　治外感風寒，內傷飲食，憎寒壯熱，頭痛嘔逆，胸膈滿悶，咳嗽氣喘，及傷冷傷濕，瘧疾中暑，霍亂吐逆，凡感嵐障不正之氣者，並宜增減用之。</p>
<p>藿香　大腹皮　紫蘇　甘草　桔梗　陳皮　茯苓　白朮　厚朴　半夏　神麯　白芷　生薑　紅棗</p>
<p>藿香正氣大腹蘇，甘桔陳苓朮樸具，夏曲白芷加薑棗，感傷嵐障並能驅。</p>
<p><u>甘桔湯</u>　治少陰咽痛喉痺,　肺癰吐膿，乾咳無痰，火鬱在肺。</p>
<p>甘草　桔梗</p>
<p><u>五皮飲</u>　治水病腫滿，上氣喘急，或腰以下腫。</p>
<p>陳皮　大腹皮　姜皮　桑柏皮　茯苓皮</p>
<p>五皮飲用五般皮，陳茯姜桑大腹奇，或用五加易桑柏，皮虛膚脹此方醫。</p>
<p><u>人參養營湯</u>　治脾肺氣虛，營血不足，驚悸健忘，寢汗發熱，食少無味，身倦肌瘦，色枯氣短，毛髮脫落，小便赤澀。</p>
<p>即用十全大補湯，去川芎加五味、遠志、陳皮、薑棗同煎。</p>

<h3>妊娠痢</h3>
<p><u>石榴皮飲</u>（一名厚朴湯）　《千金》治二三年熱痢不止。</p>
<p>厚朴　乾薑　阿膠（各四錢）　黃連（六錢）　石榴皮　艾葉（各五錢）</p>
<p>上六味水煎日再服。</p>
<p><u>白頭翁加甘草阿膠湯</u>（《金匱》）　治挾熱利下膿血及產後利不止。</p>
<p>白頭翁　黃連（炒黑）　黃柏（炒黑）　秦皮　甘草（炙，各錢半）　阿膠（蒲黃炒珠，三錢）</p>
<p>上六味先煮上照味去滓，內膠，烊盡，溫分三服。</p>
<p><u>伏龍肝湯丸</u>　治胎前下痢，產後不止，及元氣大虛，瘀積小腹結痛，不勝攻擊者。</p>
<p>炮黑楂肉（一兩）　熬桔黑糖（二兩）</p>
<p>上二味一半為丸，一半為末，用伏龍肝（二兩）煎湯代水煎末（二錢），送前丸（二錢），日三夜二，服，一晝夜，令盡氣。虛加人參（二三錢），以駕馭之。虛熱加炮薑、肉桂、茯苓、甘草，兼感風寒加蔥白、香豉，膈氣不舒磨沉香汁數匙調服。</p>
<p>—　嘔逆難於飲食湯藥，用開水泡覆椿，細嚼止，與飲食嘔，亦用椿咽定安，此暑月更宜。</p>
<p>—　服湯藥帶逆，用陳茶葉少水煎發，取葉和灶心土搗為丸，納右鼻孔可止。</p>
<p>—　嘔逆甚不拘，二三日不能飲食，而湯水黏唇則嘔。用胡椒五粒，著鹽少許和搗細，取米半盞放紅灰上燒糊，令煙盡鉗於潤地退火，將小罐燒水一茶碗，俟滾，以糊米入內，滾一二滾，泡椒服之即止。則可進湯藥能食，若再嘔依法再用，甚者不過二三次全愈。</p>
<p>—　嘔數日不止，更醫至，不書單，用老薑五六錢，煨熟搗碎，以百沸湯一大碗泡，取蛋大白圓石燒紅，淬入湯內，乘熱服一蠱即止。又有止而復嘔者，仍用此制湯當茶服，一晝夜全愈，後用調和胃氣之藥獲痊。</p>
<p>湘門得此四方，俱屢試屢驗。並治一盧姓，食入反出藥水，如是已八日，即與石薑湯進飲相安，方用北芥子為君，制貢樸、五爪、焦薑、藿梗、砂仁、焦朮、法夏、香附、天台、竹茹、薑汁炒，以此湯和煎，進二劑相安，取覆椿咽巴巴五個則不反矣。</p>

<h1>卷之三</h1>

<h2>產後門</h2>

<h3>產後血暈</h3>
<p>產婦忽然昏眩、卒倒，不省人事、口噤氣冷、謂之血暈。此由坐草時，不知用防血暈等方所致。其症有二，宜分別治之。</p>
<p>—　血來太多卒然昏撲者，此氣血太虛也，急用鐵秤錘燒紅淬醋中，對產婦鼻孔熏之，使醋氣嗅鼻，血暈必醒，清魂散主之。</p>
<p><u>清魂散</u></p>
<p>人參（五錢）　澤蘭葉（錢）　荊芥穗（炒黑，二錢）　川芎（錢）　炙草（錢）</p>
<p>或加當歸錢。共為末，童便熱酒調下。</p>
<p>歌曰</p>
<p>清魂散用澤蘭葉，荊芥祛風兼理血，人參甘草並川芎，產暈服後神魂帖。</p>
<p>—　血來少，惡露未盡，腹痛昏眩者，亦用上嗅鼻法令醒，黑神散主之。</p>
<p><u>黑神散</u></p>
<p>當歸　熟地　白芍　蒲黃（炒）　黑姜　上桂　黑豆　甘草（各藥四錢）　黑豆（半筒，炒去皮）</p>
<p>共為末，童便、熱酒調下，或合煎童便熱酒對服。</p>
<p>歌曰</p>
<p>黑神散中熟地黃，歸芍甘草桂黑姜，蒲黃黑豆童便酒，消瘀下胎痛逆忘。</p>
<p>又方　用陳荊芥穗，燈上燎焦黑，存性，每服三錢。童便少酒調下極妙，若新芥穗先於柴火上炒黑，又於桐油燈上再炒，存性，合上清魂散服更穩。</p>

<h3>產後子宮脫出</h3>
<p>產婦平日氣虛，臨產用力太過，致子宮脫出不收，宜服補中益氣湯（方見首卷），外用荊芥穗、藿香葉、臭椿樹皮等分銼碎煎水，不時淋洗，子宮即收。</p>

<h3>錄《綱目》方（產後補虛破血）</h3>
<p>—　人參（血運，同蘇梗煎童便酒兌服。不語，同石菖蒲煎服。發喘，用蘇木湯兌服一錢。秘澀，同火麻仁、枳殼丸服。諸虛，同當歸、豬腎煮食）。</p>
<p>—　當歸（血痛，同黑姜灰煎服；自汗同黃耆、白芍煎服）</p>
<p>—　蘇木（血運血脹、血噤及氣喘欲死，煎服）</p>
<p>—　馬齒莧（破血，治產後虛汗及血痢）</p>
<p>—　澤蘭葉（益母草、蒲黃、阿膠、桃仁、羊肉隨採用）</p>
<p>—　油菜子（行滯血，治產後一切心腹痛）</p>
<p>—　紅花（血運，煮酒服，下惡血胎衣）</p>
<p>—　紅曲（擂，滾酒泡服）</p>
<p>—　續斷（血運，寒熱心下硬，煎服）</p>
<p>—　百合（血運狂言，水煎童便兌）</p>
<p>—　香附（狂言，生研，薑棗煎服）</p>
<p>—　漆器（燒煙薰）</p>
<p>—　米（醋煅炭淬熏，鐵秤錘淬熏。韭菜葉搗放錫壺內燒滾沃熏。□童便滾酒兌）</p>
<p>—　貫眾（心腹痛，醋炙研末服）</p>
<p>—　艾葉（血不止，用老薑煎服立止。感寒腹痛，焙熨臍上）</p>
<p>—　百草霜（同白芷末服）</p>
<p>—　椿白皮（煎水服）</p>
<p>—　凌霄花（煎水服，主產後惡露淋漓）</p>
<p>—　桑柏皮（炙，煎服）</p>
<p>—　荊芥穗（炒黑，主產後中風痙直，口噤寒熱並作，不省人事，水煎童便對或加當歸）</p>
<p>—　黑豆（炒焦，水煎沖酒服）</p>

<h3>產後乍見鬼神</h3>
<p>心主血，血去太多，心神恍惚，睡臥不安，言語失倫，如見鬼神，俗醫不知，呼為邪祟，誤人多矣。宜茯神散主之。</p>
<p><u>茯神散</u></p>
<p>茯神　志肉　人參　當歸　生地　炙草　桂心　辰砂　柏仁</p>
<p>煎湯煮獖豬心服。</p>
<p>歌曰</p>
<p>生地參歸茯志桂，炙草辰砂柏仁配。</p>
<p>如心下脹悶，煩躁昏亂，狂言譫語，如見鬼神者，此敗血乾心，心不受觸，便成此症，芎歸瀉心湯主之。</p>
<p><u>芎歸瀉心湯</u></p>
<p>蒲黃　丹皮　桂心　歸尾　川芎　延胡　五靈脂　童便（兌）</p>
<p>歌曰</p>
<p>芎歸瀉心延胡桂，丹蒲五靈童便兌。</p>

<h3>產後心痛</h3>
<p>心者血之主，宿寒內伏，因產後虛寒，血凝不行，上衝心之絡脈，故心痛也。但以大岩蜜湯治之，寒去則血脈行而經絡通，心痛自止。若誤以敗血攻之，則虛極寒益甚，漸傳心之正經，變為真心痛而死矣。</p>
<p><u>大岩蜜湯</u></p>
<p>當歸　吳萸　乾薑（炮）　炙草　桂心　細辛　酒芍　獨活</p>
<p>歌曰</p>
<p>大岩蜜湯薑桂吳，歸芍草獨細辛除。</p>
<p>一方　治血氣痛，用羊屎樹蔸（即紫薇花）煎水服即止，或酒煎亦妙。久痛皆效。</p>
<p>一方　杉荊子一兩（一名王掃子）、天台一兩，煎湯水酒對服神效。</p>
<p>一方（名糖楂煎）山楂一兩炒成炭存性，紅沙糖一兩（即白流糖炒枯）同煎，童便、水酒對服神效。或有熱加青蒿，用童便浸一宿曬乾三錢。</p>
<p>一方　紫荊花樹根肉皮為末醋糊丸櫻桃大，每用酒化一丸。</p>
<p>一方　取艻烏苞樹根下之細根錢半，煎水用水酒對服（此藥分量不宜多，多則止血生病）。</p>

<h3>錄《綱目》方（治血氣痛）</h3>
<p>—　丹參（破宿血生新血）</p>
<p>—　川芎延胡（煎水酒兌）</p>
<p>—　天仙藤（炒碾，童便滾酒泡服）</p>
<p>—　荷葉（炒香煎水，童便對服）</p>
<p>—　紫荊皮（醋糊丸服）</p>
<p>—　伏龍肝（酒服立下）</p>
<p>—　雞冠花（水煎酒對）</p>
<p>—　蟹爪（酒醋煎服，血不下煮蟹食之）</p>
<p>—　乾漆（產後青腫瘀痛及血氣水疾同麥牙煅碾酒服）</p>
<p>—　山楂、黑川糖。</p>
<p>—　鬼箭羽（同當歸紅花煎服，或合四物湯煎服）</p>
<p>至紅曲、牛膝、薑黃、鬱金、秦椒、桂心、白蔻、丁香隨取用。</p>

<h3>產後腹脹滿悶嘔吐噁心</h3>
<p>敗血散於脾胃，脾受則不能運化津液而生腹脹。胃受則不能納水穀而生嘔吐，不得作平常脹嘔治之，宜用抵聖湯。</p>
<p><u>抵聖湯</u></p>
<p>赤芍　半夏　澤蘭　陳皮　人參　炙草　煨姜</p>
<p>歌曰</p>
<p>抵聖赤芍半夏澤，參陳炙草煨姜得。</p>
<p>亦有傷食而腹脹嘔逆者，以脈辨之，因瘀血則脈弦澀不惡食而嘔多血腥，因食則脈滑而嘔多酸臭，加味六君子主之。</p>
<p><u>加味六君子湯</u></p>
<p>白朮　茯苓　半夏　陳皮　甘草　山楂　薑黃　煨姜</p>
<p>歌曰</p>
<p>苓朮半陳草楂姜。</p>

<h3>產後口乾痞悶</h3>
<p>產婦臟氣本虛，宿食積冷，胸腹脹痛，嘔吐噁心，飲食減少，亦因新產氣血暴虛，風冷來之，致寒邪內勝，宿疾益加，宜用吳茱萸湯。</p>
<p><u>吳茱萸湯</u></p>
<p>吳茱萸（炮）　乾薑（炮）　炙草　半夏　當歸　茯苓　細辛　桂心　陳皮　煨姜</p>
<p>歌曰</p>
<p>吳姜炙草半夏苓，當歸辛桂煨姜陳。</p>
<p>若因胎衣未下，惡露不來，肚腹脹大，繃急如鼓，嘔吐黃水，多帶腥臭，加喘者死。</p>
<p>若因平素多疾，產後妄投湯丸，重虛其內，神少氣乏，乾嘔者死。</p>

<h3>產後咳嗽</h3>
<p>肺主氣，氣為衛。所以充皮毛密腠理也。產後氣虛皮毛不充，腠理不密，風寒襲之，先入於肺，致成咳嗽。其症發熱惡寒，鼻塞身重，或多噴嚏清涕，加減參蘇飲。</p>
<p><u>加減參蘇飲</u></p>
<p>沙參　蘇葉　前胡　雲苓　杏仁　半夏　桂枝　甘草　陳皮　當歸　桔梗</p>
<p>歌曰</p>
<p>加減參蘇前茯杏，半桂草陳歸桔梗。</p>
<p>若因惡露上攻，流入肺經，致成咳嗽，其症見胞膈脹悶，宜服蘇杏湯。</p>
<p><u>蘇杏湯</u></p>
<p>蘇木　杏仁　茯苓　人參</p>
<p>歌曰</p>
<p>蘇木杏茯與人參。</p>

<h3>產後氣喘</h3>
<p>營主血衛主氣，產後血下過多，營血暴竭，衛氣無主，獨聚肺中，故令喘促，此名孤陽絕陰，最為難治，急取鞋底炙熱於小腹上下熨之，次服景岳真元飲，大補元煎、都氣湯、理陰煎選用。</p>
<p><u>真元飲</u>　治氣短似喘，呼吸促急，提不能升，咽不能降，氣道噎塞，勢劇垂危者，常人但知氣急而不知元海無根，虧損肝腎，此子午不交氣脫症也，婦人血海常虧者多有此症，凡診此脈必微細無神，倘庸眾忽略不知，妄云痰逆氣滯，用牛黃青陳枳殼，則速其危。</p>
<p>當歸　熟地　甘草</p>
<p>歌曰</p>
<p>真元飲治氣短促，熟地當歸甘草足，元海無根肝腎損，休稱氣滯痰凝屬。</p>
<p>加兼嘔惡或惡寒者，加煨姜。氣虛脈微者，加人參。肝腎陰虛手足厥冷者，加肉桂。</p>
<p><u>大補元煎</u>　治男婦氣血虛精神耗，景岳新方。</p>
<p>當歸　熟地　人參　淮藥　山茱萸　杜仲　枸杞　炙草</p>
<p>歌曰</p>
<p>大補元煎補陣魁，人參熟地杞當歸，山茱杜仲淮山草，逆挽先天失所為。</p>
<p>如元陽不足多寒者，加附桂黑姜。氣虛，加耆朮。血滯，加川芎去山茱，加故紙、五味。</p>
<p><u>都氣湯</u></p>
<p>熟地　棗皮　淮山　丹皮　茯苓　澤瀉　五味</p>
<p>歌曰</p>
<p>地棗淮丹苓瀉味。</p>
<p><u>理陰煎</u>（景岳新方）　凡脾腎中虛等症，真陰不足，虛弱脹滿嘔噦痰飲，噁心吐瀉婦人經遲血滯並宜用之。</p>
<p>熟地　當歸　甘草　乾薑（炒）　肉桂</p>
<p>歌曰</p>
<p>理陰煎治真陰虛，熟地甘歸薑桂居，脹滿噁心嘔瀉痛，經遲血滯服之舒。</p>
<p>若肺脈疾大火盛剋金而痰作者，宜服乾薑甘桔湯。</p>
<p><u>乾薑甘桔湯</u></p>
<p>桔梗　甘草　乾薑（炒）　陳皮</p>
<p>歌曰</p>
<p>甘桔陳皮及乾薑。</p>
<p>若血入肺，面赤發喘欲死者，宜服參蘇飲。</p>
<p><u>參蘇飲</u></p>
<p>蘇木　人參</p>

<h3>產後腰痛</h3>
<p>腎主腰，胎繫於腎，產後胞脈虛則腎氣虛，故腰痛或耳鳴，宜服加味地黃湯。</p>
<p><u>加味地黃湯</u></p>
<p>杜仲　當歸　續斷　熟地　茯苓　澤泄　丹皮　山藥　棗仁</p>
<p>歌見匯方。</p>
<p>若敗血流入腎經，帶脈阻塞，腰痛其症脹痛如刺，時作時止手不可近，宜服復元通氣散。</p>
<p><u>復元通氣散</u></p>
<p>當歸　正芎　小茴（炒）　固紙（鹽水炒）　延胡　牛膝　丹皮　桂心　乳香</p>
<p>歌曰</p>
<p>復元通氣芎紙歸，牛膝延丹桂乳茴。</p>
<p>若因產時起伏掙扎，挫閃腎氣及帶脈致腰疼，亦用上覆元通氣散。</p>

<h3>產後遍身痛</h3>
<p>產時骨節開張，血脈流散經絡內分之間，血多凝滯，故腰背手足不能轉側屈伸而痛，又或寒熱如瘧，蓐勞自汗，頭目昏眩，不得誤作風寒，浪投汗劑，重虛其表，宜趁痛散茯苓散二方主之。</p>
<p><u>趁痛散</u></p>
<p>當歸　桂心　白朮　牛膝　黃耆　獨活　炙草　薤白（即藠頭）　生薑</p>
<p>歌曰</p>
<p>趁痛散用歸術桂，耆獨膝草藠姜配。</p>
<p><u>茯苓散</u></p>
<p>當歸　川芎　茯苓　黃耆　桂心　白芍　人參　熟地</p>
<p>豬腰子一對去膜切片同藥煎。</p>
<p>歌曰</p>
<p>茯苓散茯芎桂心，歸芍耆地豬腰參。</p>
<p>有婦產後自腰至腿疼痛，右手背自高骨前至指筋節俱痛，手不能舉，指不能握，延湘門診視。其脈濡緊，是因寒滯瘀故，關節腫痛用前趁痛散二劑，身痛減半，惟手如常，改用舒筋散加烏藥、香附、側柏、蘇杆、老薑，一服稍減，連服二劑腫消痛減。手不能舉握，又守方桂易薄桂橫行手臂，加尋骨風（二錢）、南星片（一錢）。進二服，其腫盡退，其指能握。減南星又二服，腕能運動，連進十餘劑，方得全愈。</p>
<p><u>舒筋散</u>（歌括）</p>
<p>舒筋散用上潯桂，醋炒延胡當歸配，因瘀血凝滯經絡，遇節腫痛此方退。</p>

<h3>產後腹痛</h3>
<p>產後敗血攻衝作痛，乍作乍止，其痛如刺，手不可近，黑神散主之（見前血暈）。若外受風寒，內傷生冷作痛，得人按摩略止，此虛痛也，宜服當歸建中湯。</p>
<p><u>當歸建中湯</u></p>
<p>當歸　白芍　白朮　桂心　炙草</p>
<p>歌曰</p>
<p>當歸建中歸白芍，白朮炙草桂心合。</p>

<h3>產後兒枕痛</h3>
<p>腹中有塊，上下時動，痛不可忍，此惡露未盡，新血與舊血相搏而痛，俗謂之兒枕痛，即血瘕是也，宜服當歸延胡湯。</p>
<p><u>當歸延胡湯</u></p>
<p>歸尾　赤芍　延胡　蒲黃　桂心　紅花</p>
<p>童便酒對服。</p>
<p>歌曰</p>
<p>歸延蒲芍合為湯，紅桂童便酒最安。</p>
<p><u>羊肉湯</u>　專治虛羸及腹痛兒枕痛神方。</p>
<p>睛羊肉（四兩）　當歸（一兩）　川芎（五錢）　老薑（三錢）</p>
<p>共煮濃湯去渣服。</p>

<h3>產後頭痛</h3>
<p>頭者諸陽之會，產後去血過多，陰血已虧，陽氣失守，故為頭痛，但補其陰血，則陽氣得從，而頭痛自止，芎歸湯主之（方見遠生）。若敗血停留子宮厥陰之位，（其脈）上貫頂巔頭痛者，宜服加味四物湯。</p>
<p><u>加味四物湯</u></p>
<p>生地　赤芍　歸尾　川芎　荊芥　蒲黃　黑姜</p>
<p>歌曰</p>
<p>頭痛加味四物湯，地芍歸芎芥蒲姜。</p>
<p>一方　艾葉一錢、小黑豆一兩煎服神效。</p>
<p>（湘門）治一婦頭痛腮腫，用當歸三錢、川芎一錢、芥穗錢半、白芷一錢、黃芩一錢（酒炒）、炙甘草一錢、生香附三錢、黑豆一羹、艾葉三皮，一服全愈。</p>
<p>又　一婦同症，但心胃有熱，以酒丹參五錢易當歸，進服全愈。</p>

<h3>產後寒熱</h3>
<p>陽虛畏寒，陰虛發熱，產後氣血兩虛，寸口脈不足為陽虛惡寒，尺部脈微弱為陰虛發熱。其症或心胸煩滿，或呼吸短氣，或頭痛悶亂，乍寒乍熱，日晡熱甚，非若外感憎寒壯熱，頭痛身痛，脈見急數，日夜不休，又非若真瘧，寒則湯火不御，熱則冰水不解，發作有時，煩苦困頓，宜十全大補湯（見首卷）、八味地黃湯（見中卷彙輯方）。若但大熱不除，治宜四物湯（見中卷彙輯方）加黑姜以攝其陰。蓋黑姜能引血藥生血，但不可獨用，必與補陰藥同用，此造化自然之妙。若產後三朝五更發寒熱，不頭痛不腹痛，此名曰乳蒸，不必服藥。</p>
<p><u>錄《綱目》方</u>　寒熱。</p>
<p>柴胡、羚羊角灰（主寒熱悶脹酒服）、苦參（主煩熱）、松花（即松樹花，壯熱同芎、歸、蒲、黃、紅花、石膏煎服）、血竭、黃芩（酒炒）、柴葛（煩渴煎呷）、壁錢窠（產後咳逆三五日，欲死，煎汁呷之）。</p>

<h3>產後汗出</h3>
<p>血為營行乎脈中，氣為衛行乎脈外，產後去血過多，營血不足，衛氣失守，故汗易泄出，宜急止之，當服麻黃根湯。</p>
<p><u>麻黃根湯</u></p>
<p>當歸　蜜耆　人參　炙草　牡蠣（煅）　麻黃根　浮小麥</p>
<p>煎服。</p>
<p>如眩暈汗出，此名胃汗，虛極也，急用參耆炙草附。</p>
<p><u>參耆炙草附</u>（方藥名悉不用歌）</p>
<p>黃耆　人參　炙草　熟附（塊）</p>
<p>水煎撓口灌之，若口不開，即用茶匙挑入鼻中亦醒。如汗出不止，風邪乘入，忽然悶倒口眼喎斜，手足攣曲，反張角弓，此危症不治，或用前方亦有可救。</p>
<p>如產後半月忽然大汗大渴，舌乾發熱面燥，有似傷寒，亦危症也，宜服加味保元湯。</p>
<p><u>加味保元湯</u></p>
<p>人參　當歸　黃耆　五味　麥冬　桑葉</p>
<p>煎服。</p>
<p>此虛汗非補不止，須用前藥清中有澀，故有起死回生之妙。</p>
<p>歌曰</p>
<p>亡陽汗出參歸耆，麥味桑葉煎勿遲（此汗出亡陽宜急用）。</p>
<p>又胃虛自汗，晝日煩熱，宜服黃耆六一湯。</p>
<p><u>黃耆六一湯</u></p>
<p>炙耆（六錢）　炙甘草（一錢）　棗肉（一枚）</p>

<h3>產後虛渴</h3>
<p>胃者水穀之海，津液之府，產後津液內耗胃氣暴虛，頓生內熱，故令口燥乾渴，宜服加減竹葉湯。</p>
<p><u>加減竹葉湯</u></p>
<p>人參　麥冬　生地　花粉　炙草　粳米　淡竹葉</p>
<p>歌曰</p>
<p>宜用竹葉加減湯，參麥地粉米竹甘。</p>

<h3>產後中風</h3>
<p>諸風振掉皆屬於肝。肝為血海，胞之主也，產後正氣暴虛，百節開張，風邪中之，不省人事，口目蠕動，手足攣曲，身如角弓，此風由外中，宜用愈風湯。</p>
<p><u>愈風湯</u></p>
<p>當歸　川芎　白芍　黃耆　肉桂　天麻　秦艽　白附</p>
<p>歌曰</p>
<p>愈風耆歸芎芍艽，天麻白附潯桂高。</p>
<p>若神昏氣少，汗出膚冷，眩暈卒倒，手足瘛瘲，此肝虛生風，風由內生，宜服當歸建中湯。</p>
<p><u>當歸建中湯</u></p>
<p>黃耆　人參　肉桂　附塊　當歸　白芍　鉤藤　甘草</p>
<p>歌曰</p>
<p>當歸建中湯又異，參桂附芍甘鉤耆。</p>

<h3>產後傷風傷寒</h3>
<p>氣血俱虛，營衛不守，起居失節，調養失宜，傷於風，則衛受之，其症鼻塞身重，頭項痛，腰脊強，發熱，惡風自汗，脈必浮緩。</p>
<p>傷於寒則營受之，其症亦鼻塞身重，頭項痛，腰脊強發熱，但惡寒無汗，脈必浮緊，此皆足太陰表症，不得照尋常通用表劑治之，宜用補虛五物湯隨症加減。</p>
<p><u>補虛五物湯</u></p>
<p>人參　當歸　川芎　白芍　炙草</p>
<p>薑蔥引。</p>
<p>有汗傷風本方加桂枝、桔梗、防風。無汗傷寒本方加麻黃、細辛。寒熱往來本方加柴胡，頭痛加藁本，遍身痛加羌活，但熱不寒加柴胡、乾葛，發熱而渴加麥冬、花粉、黃芩。</p>
<p>歌曰</p>
<p>五物湯用參歸芍，川芎炙草薑蔥合，有汗加桂桔防風，無汗麻黃細辛著，往來寒熱加柴胡，頭痛加藁身羌活，發熱口渴麥花芩，但熱不寒加柴葛。</p>

<h3>產後瘧疾</h3>
<p>氣血俱虛，營衛不固，脾胃未復，或外感風寒內傷飲食，皆能成瘧，又有胎前病瘧產後未愈者，產後之瘧最難料理，宜補虛扶正氣為主，正氣勝則邪氣自退。不可輕用截藥，重虛止氣，為害甚大，宜服加減柴胡四物湯。</p>
<p><u>加減柴胡四物湯</u></p>
<p>柴胡　人參　半夏　炙草　當歸　川芎　乾薑（炮）　肉桂</p>
<p>若久瘧加黃耆、鱉甲（醋炙）。</p>
<p>歌曰</p>
<p>加減柴胡四物湯，參半歸草芎桂姜。</p>

<h3>產後痢疾</h3>
<p>無積不成痢，產母飲食過倍，脾胃受傷，兼濕熱停滯成痢。赤則屬熱，白則屬濕，俗云赤為熱白為寒非也，宜審症治之。</p>
<p>腹中脹痛裡急窘迫，身熱口渴六脈數實，用小柴胡湯（見匯方），加厚朴、木香、黃連下之。</p>
<p>如下痢赤白，腹痛窘急，身不熱，口不渴，脈沉數無力者，此虛痢也，宜行氣和血，用當歸芍藥湯。</p>
<p><u>當歸芍藥湯</u></p>
<p>當歸　人參　白芍　茯苓　炙草　木香　枳殼　黑姜　陳皮　烏梅</p>
<p>歌曰</p>
<p>當歸芍藥與參苓，木香枳草姜梅陳。</p>
<p>如久痢不止，滑脫不禁，此氣虛血少，宜四君子湯（見首卷）加白芍、烏梅、粟殼治之。</p>
<p>又有惡露不下，致敗血滲入大腸，而下鮮血者，腹中刺痛，里不急後不重是也，宜用枳殼、荊芥研末煎服。</p>

<h3>產後泄瀉</h3>
<p>產後外傷風寒，內傷生冷，致脾胃疼痛，泄瀉不止，宜服理中湯。</p>
<p><u>理中湯</u></p>
<p>人參　炙草　白朮　黑姜</p>
<p>如泄不止加肉豆蔻（麵裹煨去油）。</p>
<p>歌曰</p>
<p>理中湯主理中鄉，炙草人參術黑姜，嘔利腹痛陰寒甚，或加附子總扶陽。</p>

<h3>產後浮腫</h3>
<p>產後敗血乘虛流入經絡，凝滯不行，腐化為水，故四肢浮腫，乍寒乍熱，勿作水氣，遽用滲利，宜服調經湯。</p>
<p><u>調經湯</u></p>
<p>當歸　赤芍　丹皮　桂心　炙草　陳皮　細辛　乾薑（炮）　赤苓</p>
<p>歌曰</p>
<p>調經丹桂芍歸苓，陳草乾姜並細辛。</p>
<p>如腠理不密，外受風濕，面目四肢浮腫者，加味五皮飲主之。</p>
<p><u>加味五皮飲</u></p>
<p>廣陳皮　桑柏皮　老薑皮　茯苓皮　大腹皮　炙甘草　漢防己　山木通</p>
<p>歌曰</p>
<p>陳柏姜苓大腹皮，草已木通服自知。</p>
<p>—　產後手足目腫面浮，每至下午兩足秘痛則腫，口渴，用前加味五皮飲，如不效（湘門）細閱醫道，擬以芎歸加桂枝陳皮，一服效，數貼全愈。</p>

<h3>產後氣喘</h3>
<p>產後氣滿大汗，面唇俱白，脈緩無力，此屬虛寒症，宜加味補血湯</p>
<p><u>加味補血湯</u></p>
<p>蜜耆（五錢）　秦歸（三錢）　明黨（四錢）</p>
<p>或脈虛面紅，此虛中挾火，加童便炒黑枝仁八分，水煎服。</p>

<h3>產後咳逆</h3>
<p>此氣從胃中上衝賁門吃忒而作聲也，有胃氣虛寒而咳逆者；有衝任虛火直犯清道而咳逆者；有大小便閉下焦不通、氣上而咳逆者；有胃氣將絕而咳逆者。大約產後咳逆，多屬胃虛氣寒，宜服加味理中湯。</p>
<p><u>加味理中湯</u></p>
<p>人參　白朮　炙草　乾薑　丁香　柿蒂</p>
<p>歌曰</p>
<p>宜服加味理中湯，參朮姜草蒂丁香。</p>
<p>有熱去丁香加竹茹，如虛羸太甚飲食不思咳逆者，此胃絕不治。</p>

<h3>產後脅痛</h3>
<p>厥陰之脈循行脅肋，產後敗血流入肝經，脅下脹痛　手不可按，屬瘀血為患，宜去瘀，用芎歸瀉肝湯。</p>
<p><u>芎歸瀉肝湯</u></p>
<p>歸尾　川芎　青皮　木香　赤芍　紅花</p>
<p>童便對。</p>
<p>歌曰</p>
<p>芎歸瀉肝芎歸尾，芍木青紅童便對。</p>
<p>如喜人手按，其氣閃動肋骨，狀若奔豚，此去血太多，肝臟虛痛，宜當歸地黃湯。</p>
<p><u>當歸地黃湯</u></p>
<p>當歸　白芍　熟地　人參　粉草　陳皮　肉桂</p>
<p>歌曰</p>
<p>當歸熟地與白芍，人參粉草桂陳合。</p>

<h3>產後霍亂吐瀉</h3>
<p>產後血去氣損，飲食易傷，風冷易乘，少失調理，即生霍亂，心腹絞痛，手足逆冷，吐瀉並作，宜服藿樸理中湯。</p>
<p><u>藿樸理中湯</u></p>
<p>人參　白朮　炙草　乾薑（炮）　陳皮　藿香　厚朴（薑汁炒）</p>
<p>歌曰</p>
<p>宜服藿樸理中湯，參朮草陳姜樸香。</p>

<h3>產後大便閉</h3>
<p>人身腸胃中能使糟粕運行者氣也，滋養津液灌溉溝瀆者血也。產後氣虛不運，故糟粕壅滯而不行。血虛不潤，故溝瀆乾澀而不流。大便不通乃虛證，不可誤用下藥攻，宜服潤腸丸。</p>
<p><u>潤腸丸</u></p>
<p>當歸　川芎　白朮　熟地　麻仁（炒）　蘇子　人參　甘草　郁李仁（去殼）</p>
<p>蜜糖引。</p>
<p>歌曰</p>
<p>潤腸當歸芎術地，麻李參草蘇子蜜。</p>
<p>又有產後鬱冒多汗，汗多則大腸津涸，傳道艱難澀痛，宜用麻仁蘇子煮粥啜下，兼服滋腸五仁丸。</p>
<p><u>滋腸五仁丸</u></p>
<p>杏仁（去皮尖）　桃仁　橘紅　柏子仁　松子仁　郁李仁</p>
<p>歌曰</p>
<p>滋腸五仁杏桃松，橘紅柏李蜜丸通。</p>
<p>蜜丸或加麻仁、當歸，稍或煎服亦可。</p>
<p>—　婦已生二子，至四十餘歲又妊孕，僅六七月因腹痛，誤藥水瘀俱下欲產，醫治罔效。至五六日，腹痛更甚，心胸滿悶難當，延湘門診視，面色白，脈沉細歇指，舌黑大半，不問而知胎已損也。因以芎歸合保元（見前）加人參五分同煎服，一時胎衣俱下，腥臭不堪，保婦無虞。但便閉三日，此是氣血不足，湘門用芎歸合保元，無人參加火麻仁養血補氣潤腸，令待數日自通。至四日（湘）復往。有一醫稱治此病神效，其夫延至家，用歸芍甘莊（名元戎四物湯）一服不久便通，醫誇談而去。次早又延至復脈，醫令盡劑，即刻嘔瀉，昏倒不省人事，忙進十全大補湯罔效。仍延余理治，用四君子湯（方見首卷）加丁香、白豆蔻、熟參一錢，濃蒸撓口灌入一盞，半時略醒，盡劑方蘇。蓋此通方非體實不可用也，特表以為戒。</p>

<h3>產後小便不通或短少</h3>
<p>膀胱者州都之官，津液藏焉，氣化則能出矣。產後氣虛不能運化流通津液，故令小便不通，雖通而亦短少，勿作淋秘，輕用滲利，宜加味補中益氣湯。</p>
<p><u>加味補中益氣湯</u></p>
<p>即本方加車前、麥冬、赤苓（益氣湯見首卷中風）。</p>
<p>若惡露不下，敗血停滯閉塞水瀆。其症小腹脹滿刺痛，乍寒乍熱，煩悶不安，宜服加味四苓散（白朮、茯苓、豬苓、澤泄）加紅花、蘇木。</p>

<h3>產後小便澀痛成淋</h3>
<p>腎為至陰，主行水道。去血過多，真陰虧損，一水不足，二火更甚，故內生熱症，小便澀痛成淋，宜服導赤散。</p>
<p><u>加味導赤散</u></p>
<p>生地　赤芍　木通　麥冬　黃柏　知母　桂心　甘草梢</p>
<p>燈芯引。</p>
<p>歌曰</p>
<p>加味導赤是地冬，知柏桂草燈芍通。</p>
<p>又單方　治小便不通腹脹，命在須臾。</p>
<p>炒鹽（五錢）　麝香（一分）</p>
<p>共填臍中，外布蔥葉，將艾於蔥上炙，使熱氣入內，小便自通。</p>

<h3>產後諸淋</h3>
<p>取紫荊花樹肉皮五錢，半酒半水煎溫服效。</p>

<h3>產後尿血</h3>
<p>小腹痛乃敗血流入膀胱，若尿止澀痛出血，小腹不痛，此內熱也，宜服小薊飲子。</p>
<p><u>小薊飲子</u></p>
<p>生地　赤芍　木通　蒲黃　淡竹葉　滑石　甘草梢　藕節　歸尾　梔仁（炒黑）　小薊根</p>
<p>敗血加紅花，內熱加黃芩、麥冬。</p>
<p>歌曰</p>
<p>小薊飲子藕蒲黃，赤芍通滑生地襄，歸草黑梔淡竹葉，血淋熱結服之涼。</p>

<h3>產後小便數及遺尿不禁</h3>
<p>下焦如瀆，所以主瀦泄也，產後氣血虛脫，溝瀆決裂，瀦畜不固，水泉不止，故數而遺也，下者舉之，脫者澀之，宜用升陽調元湯合桑螵蛸散。</p>
<p><u>升陽調元合桑螵蛸散</u></p>
<p>人參　黃耆　炙草　升麻　益智仁</p>
<p>煎調　桑螵蛸散</p>
<p>桑螵蛸　牡蠣（煅共碾細末）</p>
<p>歌曰</p>
<p>升陽調元參耆草，益升煎湯調螵牡。</p>
<p>又有臨產穩婆用手誤破胞，致小便不禁者，宜服參朮湯補脬飲。</p>
<p><u>參朮湯</u></p>
<p>人參　白朮　桃仁　陳皮　茯苓　黃耆　炙草</p>
<p>用豬脬或羊脬一個，洗淨煮湯一碗，去脬入藥煎，食前多服。</p>
<p>歌曰　</p>
<p>參朮桃陳苓耆草。</p>
<p><u>補脬飲</u></p>
<p>生熟絹（黃色者一尺）　丹皮（取白色者）　白及（各二錢）</p>
<p>用水一碗煎至絹爛如餳服之，勿作聲，作聲無效。</p>
<p><u>《千金》方</u>　治產後小便不禁。</p>
<p>白薇　白芍</p>
<p>共為末酒調下。</p>
<p>又方　以黃絹用白炭淋汁煮爛入蜜，蠟茅根、馬勃同煎日服。</p>

<h3>產後不語</h3>
<p>人心有七孔三毛，產後敗血停積，閉於心竅，故多昏憒。又心氣通於舌心，氣閉則舌硬不語，宜服七珍散。</p>
<p><u>七珍散</u></p>
<p>人參　生地　川芎　細辛　防風　辰砂　石菖蒲</p>
<p>歌曰</p>
<p>七珍散用參辰砂，芎地細防石菖佳。</p>
<p>又有言語謇澀含糊，此由血去過多，心氣失守，不能上營於舌，宜服加味參麥散。</p>
<p><u>加味參麥散</u></p>
<p>人參　麥冬　歸身　生地　炙草　五味　石菖蒲</p>
<p>歌曰</p>
<p>參麥歸地草味蒲。</p>
<p>豬心一個劈開入藥同煎，去藥，食心、湯，並治怔忡等症。</p>

<h3>產後暴崩</h3>
<p>產後衝任損傷，或恣情欲，勞動胞脈，或食辛熱，鼓動相火，或惡露未盡，固澀太速，宜四物湯（見首卷調經類）倍川芎、當歸，各視所傷加減。因房勞者，本方加黃耆、阿膠、艾葉、炙草；因辛熱者，本方加白朮、茯苓、甘草、黃連；因劫澀者，本方加桃仁、香附。</p>
<p>如崩久不止，本方調十灰散（見首卷崩漏）服之。蓋崩非輕病，產後尤不可忽。</p>

<h3>產後蓐勞</h3>
<p>蓐勞者因生產艱難，疲極筋力，憂勞心慮，或調養失宜，虛風客之，致令虛羸喘乏，乍寒乍熱，百節疼痛，頭痛自汗，肢體倦怠，咳嗽痰逆，腹中絞痛，當扶正氣為主，余皆從末治之，宜用加味芎歸湯加荊芥末、益母草煎服。</p>
<p><u>加味芎歸湯</u></p>
<p>當歸　川芎　荊芥穗（末）　益母草</p>
<p>共煎服。</p>
<p>有熱加酒炒柴胡，有寒加黑姜，有瘀加山楂炭，鼻衄加麥冬，夜熱加地骨皮，有痰加白芥子，宿食加炒曲，余藥不可浪加。</p>

<h2>輯驗案單複方</h2>

<h3>產後氣血虧</h3>
<p>婦人初生後十餘日，頭痛畏寒夜熱，腰腹脹痛，不思飲食，神衰氣短，唇紅口渴，其脈兩寸微弱，乃氣血大虧之候，宜審症治之。</p>
<p>蜜耆（八錢）　當歸（六錢）　熟地（八錢）　條參（蜜炒，四錢）　炙草（一錢）　上熟桂（一錢）　制杜仲（二錢）　續斷（酒炒，二錢）　砂仁（薑汁炒，一錢）　川膝（一錢）　黑姜灰（四分）</p>
<p>黑豆一羹炒枯合煎，服二劑諸症自除，食可稍進，或神氣未足，仍以本方減桂膝，又進數劑全愈。此湘門試驗良方也。</p>

<h3>妊婦陰戶翻突紅腫</h3>
<p>妊婦陰戶翻突紅腫，延診視詢其婦，素性躁暴，想故是肝脈絡陰器，氣虛胎熱兼以鬱火下逼致病，諸醫有用導赤散加味者，有用升提者多不效。湘門以補中益氣湯加減治之，外用桃葉煎濃湯熏洗，日三五次，至次日少減，守方五日全愈。</p>
<p><u>加減補中益氣湯</u></p>
<p>黃耆　陳皮　人參　柴胡　升麻　粉草　丹參　條芩　香附　乾地　芥穗</p>
<p>煎服。</p>

<h3>婦人氣痛</h3>
<p>婦人氣痛，取椿樹上油，焙枯研末，黏米燒酒泡服，不拘遠年近日，服之即效。</p>

<h3>治婦人眉心痛</h3>
<p>凡婦人眉心痛，多是少陰客邪，隨大陽陷入陽明，湘門常治此病。用六味地黃湯（見匯方）加羌活一服即愈。</p>

<h3>婦人寒濕著筋</h3>
<p>有婦於三伏頭暈言亂，腹痛臍續手足痛牙緊。湘門以薑桂理中湯（方見匯方）一劑臍腹愈，但手足牙關俱痛，又進獨活寄生湯（見匯方）二劑略減，又用獨活湯（見匯方）二劑，其手足痛時，即屈不能伸，四肢俱冷，脈亦沉緊，此病系寒濕著筋，旋用五積散（見匯方）加附片、秦艽、蘇杆、生薑同煎，一服減半，連服六貼全愈。</p>

<h3>肥人眩暈眼花</h3>
<p>治肥人眩暈眼花宜清痰祛眩湯。</p>
<p><u>清痰祛眩湯</u></p>
<p>歌曰</p>
<p>清痰祛眩（南）星半（夏）陳（皮），天麻蒼朮（川）芎（茯）苓桔（梗），枳殼烏藥黃芩（甘）草，肥人眩花此方平。</p>

<h3>腋下腫痛</h3>
<p>凡少陽濕熱留滯則腋下腫痛，宜用小柴胡湯加減治之。</p>
<p>小柴胡湯（見匯方）加撫芎、枳殼、枳實，去人參加龍膽草。</p>
<p>體肥痰盛加白芥子。有痰聚而痛者，導痰湯（見匯方）加柴胡為向道，柴胡系少陽藥也。</p>

<h3>腋汗</h3>
<p>經云：陽氣有餘，為身熱無汗。陰氣有餘，雖多汗身寒，其腋汗、脅汗。須知從陰陽交互時及陰陽交互處發泄者，皆陰陽不和，半表半裡症也，宜小柴胡湯、逍遙散治之。湘門常治婦人經水不調，微咳，腋冷汗甚多，用八味逍遙散（見首卷調經類）十餘劑愈。至經調後，因他病所觸，腋汗仍發，用小柴胡湯及逍遙散二方，每次間服二三劑，數次全愈。</p>

<h3>狐臭五方</h3>
<p>—　陀僧五錢（研細），用大糯米半盞，渥飯和，搗作兩餅，敷兩脅下，三日一易，如法制一連三次，至九日，若未愈或愈後復發，緩月仍依法制，亦以三次。重者內服逍遙散（見首卷閉經類）加青皮、吳萸、蓽澄茄。</p>
<p>—　用枯礬、蛤粉、樟腦上片、真麝共為末，和糯米飯作餅夾之，臭隨餅出，永不再發，但此餅須埋在土內，勿令觸人。</p>
<p>—　陀僧為末，用無糖心麵包子出籠急切開，將末敥上，乘熱夾之，一二次愈。</p>
<p>—　檀香、木香、零香、麝香合為末，用袋盛掛腋下可除。</p>
<p>—　用枝元核、胡椒二十七粒合碾細，遇汗出擦之，須數次即愈。</p>

<h3>汗斑</h3>
<p>方用陀僧、硫黃、川椒、海螵蛸、共為細末，用老薑切片蘸藥末，遍擦患處或加明雄、蓽澄茄亦效。</p>
<p><u>—</u>　治赤白風丹驗方</p>
<p>制首烏（五錢）　當歸（一錢）　防風（二錢）　芥穗（一錢）　石菖蒲（一錢）　蒺藜（三錢，炒碾）　蟬蛻（去翅足，十五隻）　川柏（一錢，酒炒）　兩寶（二錢，即銀花）</p>
<p>歌曰</p>
<p>防風荊芥石菖蒲，蟬蛻蒺藜歸首烏，加上黃柏立兩寶，赤白風丹一掃無。</p>
<p>又方　用補中益氣湯（方見首卷）加防風二錢，柴浮萍（燒紅瓦上焙乾）五分，煎服效。</p>
<p>又方　赤，用石朱（水磨），開水酒對服效。白，取楓樹蔸上干菌（名靈芝）煎水，燒酒對服效。</p>
<p>又一法　用魚罾熾熱揩之亦效。</p>
<p>一方　治婦人一生不能食肉，食則頃刻遍身生赤白風丹其癢異常，用芥穗四分、白芷五分、升麻八分（酒炒）、香附一錢（酒炒　）、楂肉錢半、銀花八分、梔仁錢二分（酒炒紅黑色）、穿山甲七片（頭頸身，四足各一片，酒炙成珠碾碎）、天丁三枚、石膏錢、歸尾五分同煎。</p>
<p>惟用此藥如法炮製煎好，先將肉煮熟連湯服之，隨即將前所煎之藥一氣服完，發出丹毒，一次即愈，再用黃帚子樹根炒肉吃，以斷其根，自後食肉永無此恙。</p>
<p>—　小兒遍體有紅腫癢極與風丹無異，醫用消風敗毒藥更甚，延湘門治即詢其病候每日下午則發，至天明自愈，思是血熱生風，遇風藥辛熱則燥甚，擬用乾地（三錢）、當歸（一錢）、麥冬（去心）二錢、天冬錢半、牛子二錢（炒碾）、殭蠶（錢半）薑汁炒、側柏葉一錢等味涼血潤燥消風散腫，一服效，三服全愈。</p>
<p>一法　治遍身生疹癢極及麻痘前後癢。</p>
<p>摘松毛一枝（放火上熾洋）滿身揩擦神效。</p>
<p><u>治一切頑癬神驗方</u></p>
<p>生白礬　生南星　白芷硝</p>
<p>等分碾細末篩過，加銀珠水粉和乳勻，每將癬剃破（先用片糖搽之然後用藥擦之一二三次），數日全愈。</p>
<p>—　銅錢癬　取古銅錢一個，用釅醋少許浸待起綠，剃破癬指，塗採擦之，數次愈。</p>
<p>—　荷葉癬　取牛舌大黃根磨醋，剃破擦之，數次愈。</p>
<p>—　治牛皮癬　用銷牛皮灶上黑土三錢、寒水石三錢、白礬二錢、花椒錢半，共碾細末，豬油調搽，並治膝彎牛壓癬亦效。</p>
<p>肌衄：血從毛孔出者為肌衄。脈數，當歸補血湯；脈浮，黃耆建中湯；脈弱，保元湯；脈盛，當歸六黃湯（方俱見前）。</p>
<p>滑伯仁治一婦體肥氣盛，因無子常服暖子宮藥，積久火盛，迫血上行為衄，衄必升余。醫者獨以為上實下虛，用丹劑鎮墜之藥。經云：上者下之。今氣血俱盛，溢而上行，法當下導，奈何？實實耶？即與桃核承氣三四下，瘀積既去，繼服既濟湯十餘劑而愈。</p>
<p><u>桃核承氣湯</u>（即桃仁承氣湯）</p>
<p>桃仁　桂枝　甘草　大黃　芒硝</p>
<p>歌曰</p>
<p>桃仁承氣五般奇，甘草硝黃立桂枝，熱結膀胱小腹脹，如狂畜血最相宜。</p>
<p><u>既濟湯</u></p>
<p>黨參　石膏（煨）　竹葉　麥冬　半夏　甘草　熟附子　生薑　粳米</p>
<p>同煎。</p>
<p>歌曰</p>
<p>既濟湯用參石膏，麥冬竹葉夏甘饒，熟附生薑同粳米，瘀積已去繼服高。</p>
<p>一方　治婦人血箭（此無故一孔出血），用生腈肉一片貼之即愈。</p>
<p>一方　治婦人鼻孔生紅毛長尺許，用鹽醋浸之即愈。</p>
<p>一婦頭昏心不安，數日忽視鏡內，有兩臉形容不異，轉顧竟有兩人並立，即告姑與夫，疑是邪祟，請巫醫兩治月餘罔效。湘門兼眼科常用磁朱丸，查《綱目》「丹砂性」注，此病名曰離魂。用辰砂一錢、人參二三分、茯苓五錢，濃煎日飲。真者氣爽，假者化也。《類編》云：錢丕少卿，夜多惡夢，通宵不寐，自慮非吉，遇登州推官胡用之，曰昔常如此。有道士教戴辰砂如箭鏃者，浹旬即驗，四五年不復有夢。因解髻中一絳囊遺之，即夕無夢，神魂安靜。道書謂丹砂辟惡安魂，觀此二事可徵矣。</p>

<h3>尻痛</h3>
<p>尻乃足少陰與腎脈所過之處，屬厥陰。若腎虛者，六味丸（見首卷調經類）加肉桂治之。不愈，加鹿茸。肥人屬濕痰，二陳湯合二妙散（見匯方）。有因死血作痛者，用當歸、赤芍、牡丹、桃仁、延胡索、生牛膝、山甲、肉桂之類。不應，加地龍、生附子。</p>

<h3>足跟痛</h3>
<p>婦人腎臟陰虛，則足脛時熱而足跟痛，宜六味丸（見首卷調經類）加龜板、肉桂。陰虛不能久立而足跟痛，宜八味丸（見首卷調經類）。挾濕重著而腫，宜兼濕治之。肥人濕痰流注，宜導痰湯（見匯方）加木瓜、萆薢、防己。虛人用補中益氣、十全大補湯（俱見首卷調經類）並少加附子為引。此病惟婦人患者多。</p>

<h3>足心痛</h3>
<p>足心及踝骨熱疼者為腎虛。濕著命門，火不歸經，宜腎著湯（方見匯方）下八味丸（見匯方）肥人多濕痰流注足心作痛，但久坐臥起則痛甚，行動則緩，宜腎著湯合二妙散（俱見匯方）。慎勿用補腎藥及血藥助陰，愈增其劇。</p>
<p>戴人治一人，兩膝臏屈伸有聲，剝剝然，此筋濕也。濕則筋急有聲，緩者不鳴，急者鳴也。乃一湧一泄上下去其水，水去則自然無聲矣。</p>

<h3>足臀熱痛難當</h3>
<p>當歸（二錢）　乾地（三錢）　獨活（錢半）　秦艽（一錢，酒炒）　宣木瓜（一錢）　北風（一錢）　防己（一錢，酒炒）　血龜板（二錢，炙。用水酒淬數次以黃脆為度）</p>
<p>水煎二三服。效後再發，亦如法三劑，數次全愈不復發矣。有寒濕痛而不熱喜火熾者，減防己加附片錢此屢驗方也。</p>

<h3>婦人足趾及兩邊痛</h3>
<p>婦人足趾及兩邊痛，想是血虛風濕乘入，久而反熱。湘門常以膠艾四物湯滋陰養血，加威靈仙順氣清痰，搜風散濕。一服捷效，守方全愈。</p>
<p>極熟乾大懷地（六錢，或用制首烏亦可）　川芎（錢半）　秦歸（二錢，或用酒丹參亦可）　白芍（錢半，用燒酒炒）　黑驢膠（蒲黃炒珠，三錢）　威靈仙（二錢，酒炒）　艾葉（五皮燒酒炒）</p>
<p>又　婦人腳丫作癢，乃從三陽風濕下流凝結不散，故先作癢，而後生濕爛；又或足底彎曲之處癢濕皆然，宜用枯礬散。</p>
<p><u>枯礬散</u></p>
<p>枯礬（五錢）　煨石膏（三錢）　輕粉（三分）　黃丹（三錢）</p>
<p>上為末溫湯洗淨搽藥即愈。</p>

<h3>產後乳汁不通</h3>
<p>初產之婦，乳方長或乳脈未行，產多之婦氣血弱或乳汁短少，宜服加味四物湯。</p>
<p><u>加味四物湯</u></p>
<p>當歸　川芎　赤芍　生地　桔梗　甘草　麥冬　芷稍</p>
<p>如身體壯熱，胸膈脹悶，頭目昏眩，加木通、滑石。更用豬蹄一對，洗淨煮爛入蔥調和，再用炒過穿山甲共煮，去甲食之，神效。外更用蔥湯頻洗。</p>
<p>又方　生綿耆一兩、當歸五錢、白芷五錢、通草錢半。先用豬蹄一對揀盡黑獖豬前腳煮湯，去沫後入前藥同煎，水酒對服，服後須覆面睡，一時用手揉擦而乳長流矣（此方耀楚屢試屢驗，更有不終劑而乳長流者）。</p>
<p>新產者豬蹄不必用，《達生編》無通草，體壯加紅花五分以消惡露。</p>
<p>又　乳不足或病後無乳，取牛附子四兩（去粗皮切用），用豬腈肉半斤和炒，淬水酒、醬鹽連湯服之，神效（附子無味，少服亦可）。</p>
<p>又方　取泉水內小蝦子七錢、膀胱子七錢，取淨黑母豬前足蹄一隻，要腳彎內有五七九單孔者，加鹽酒和煮糜爛，一併數次服之，其乳即足。體極虛者，另用當歸三五錢、焦術三錢、雲苓三錢，煎濃湯，用布揪汁盌盛，將上法肉湯對服更妙，此屢試屢驗神方。</p>

<h3>錄《綱目》方（下乳汁）</h3>
<p>—　母豬蹄（同通草煮食飲汁）</p>
<p>—　花粉（酒水煎服）</p>
<p>—　王不留行（通血脈下乳汁之神品水煎酒對服）</p>
<p>—　穿山甲（炙碾，酒服二錢名湧泉散）</p>
<p>—　羊肉及鹿肉（各作濃食）</p>

<h3>回乳方</h3>
<p>產後無子食乳欲迴轉者，麥芽（炒碾白湯泡服三錢）。繳腳布勒乳一夜即回（一方有神麯不可用恐致後無乳）。</p>

<h3>斷乳方</h3>
<p>山梔（三錢）</p>
<p>燒存性，明珠砂共碾乳細末，入清油、輕粉三釐調勻，俟兒睡時畫於兩眉，醒後自不吮乳。</p>

<h3>婦人烏髮方</h3>
<p>當歸（一兩）　雲苓皮（五錢）　生首烏（三兩）　側柏葉尖（一兩）　桑樹葉尖（三錢）　老薑</p>

<h3>治發少及不生髮方</h3>
<p>—　用羊糞入鯽魚腹中，燒紅瓦上燒乾成灰存性，和香油搽之，數日即長。</p>
<p>—　生大癤後，結肉無發，取黃牛糞乘熱敷之，日易之，數日即生。</p>

<h3>浸油光發方</h3>
<p>甘松（三五錢）　排草（一兩）　靈草（五錢）　白芷梢（五錢）　嫩桂枝（五錢）　馬尾歸（五錢）</p>

<h3>頭生風皮方</h3>
<p>用株樹葉煎濃湯洗髮，每洗能愈一月，或用老薑自然汁水酒對漱亦妙。</p>

<h2>婦人雜病</h2>

<h3>乳癰內吹外吹</h3>
<p>乳房陽明所主，乳頭厥陰所屬。婦人不知調養，或為忿怒所逆，鬱悶所遏，厚味所釀，致厥陰之氣不行，陽明之熱沸騰，兒口含乳而睡，熱氣掀吹，遂令結核。初起時揉軟吮透自消，若稍忽必成癰腫。兒未生結核名內吹，兒生結核名外吹。法宜以青皮疏厥陰之滯，以石膏清陽明之熱，以甘草節散瘀濁之血，以瓜蔞仁導凝滯之毒，或加銀花、皂角刺、白芷、貝母、沒藥、花粉消腫軟堅，隨意加減可也，切不可妄用針刀，為害非輕（—　腫痛用□頭搗碎於滾茶罐上蒸溫敷之），此法湘門屢試屢驗（—　紫薇花根六兩銼，分三次煎湯，用水酒對服，三日連進全愈）。</p>
<p><u>芷貝散</u>　治乳癰內外吹。</p>
<p>白芷　貝母</p>
<p>—　腫痛單用尖川貝碾末吹入兩鼻內即止，此方如法吹之亦效。</p>
<p>一方　白芷三錢、川貝三錢、蒲公英二兩，水煎服神效（蒲公英得生者更美）。</p>
<p><u>四丸湯</u></p>
<p>黃耆　當歸　甘草　銀花</p>
<p><u>外敷藥</u></p>
<p>蒲公英　薑黃　白芷　赤芍　花粉　大黃　連翹（各二錢）</p>
<p>共碾細末，用半酒半水茶調敷。</p>
<p>又方　用海金砂藤葉搗汁，體實者用米泔水對服，虛者以滾水酒兌服。若不愈，用尖葉樹烏胞根煎服。</p>
<p>又方　用刺桐樹根、犁頭草、四葉草，搗碎用水酒炒熱敷之，若紅甚用燒酒，不拘紅腫已潰未潰，俱可治之。</p>
<p>又方　用鹽楓機根、刺桐樹根、山螞蝗根水酒對服效。</p>
<p>此二方系湘門屢驗特表錄之。</p>
<p><u>黃連胡粉膏</u>　治乳瘡並諸濕癢、黃爛肥瘡。</p>
<p>黃連　水銀　胡粉殼（即蚌蛤）</p>
<p>三味共為細末敷。</p>
<p>又方　用生蒲公英二兩、尖貝三錢、白芷五錢。</p>
<p>同煎水酒對服神效。耀楚屢試屢驗。</p>

<h3>妒乳</h3>
<p>婦人新產兒未能飲，致乳不泄汁，結在內血氣相搏，壯熱，大渴引飲，牢強掣痛，手不得近，名曰妒乳。初起以手捏去乳汁，或令他兒助吮自止。若久則作瘡有膿，其熱必盛成癰，宜服瓜蔞散。</p>
<p><u>瓜蔞散</u></p>
<p>瓜蔞（一個，半生半炒）　甘草（一寸，半生半炙）　生薑（一塊，半生半煨）</p>
<p>酒煎服，少頃，痛不可忍，即捏去敗乳，臨臥再服（一方用榆白皮俗名蚊子榔，取根皮搗碎和陳醋渣調服日六七易效）。</p>

<h3>乳岩</h3>
<p>脾氣消阻，肝氣橫逆，結核如鱉，棋子大不痛不癢，十數年遂成陷瘡，名曰乳岩。以其形嵌凹似巖穴也。此疾多生憂鬱積忿中年婦人，未破可治，成瘡不治。初起宜用蔥白、生半夏共搗爛，將棉花裹塞鼻，兼服青皮散。若虛弱宜用益氣養榮湯（見匯方）、十全大補湯（見前）。</p>
<p><u>青皮散</u></p>
<p>青皮　甘草</p>

<h3>乳懸</h3>
<p>由此產後瘀血上攻，兩乳伸長直過小腹，痛不可忍，此極危證，治宜服芎歸湯（見匯方）數貼，再用一料燒煙安放病人面前桌子下，令病人將口鼻及病乳吸菸氣。若不復舊，用蓖麻子搗爛貼病人頂上，片時自收，當即洗去。</p>
<p>單方　治乳癰潰爛見心者。</p>
<p>用貓兒腹下毛煅存性為末，合輕粉少許青油調搽。</p>
<p>又方　治乳頭破裂。</p>
<p>用丁香為末敷上，或用芙蓉花或葉為末干搽。</p>

<h3>懸乳症（此證與乳懸更甚）</h3>
<p>從乳尖一血絲長流至地結一珠，痛不可忍。方用瓦一塊，鋪艾絨於瓦上，取干牛糞末置艾絨上，用白炭火燒紅瓦，待藥出煙，從地就血絲薰至漸續至乳，久薰即脫，隨用絲線將乳尖扎緊，勿令出血，其人即暈，先備撫芎八兩煎濃湯，暈即灌服一大碗，隨愈（此秘授方）。</p>

<h3>乳汁自出</h3>
<p>產後乳汁自出，此是胃虛所致，宜服五味異功散（即四君子加陳皮，見首卷調經類）加黃耆、五味攝之。若乳多溢滿，急痛，只用烘熱溫布熨上。婦人血氣方盛，乳房作脹，或無兒食要乳消者，方用麥芽二錢炒熟水煮服，或合用四物湯（方見匯方）亦可。</p>

<h3>陰挺</h3>
<p>婦人陰中長出如蛇，或數寸，或一二尺，俗呼陰挺。乃七情鬱火濕熱下注所致。宜服加味歸脾湯。</p>
<p><u>歸脾湯</u>　見首卷調經。</p>
<p>加丹皮、梔仁、柴胡、膽草。</p>
<p><u>陰挺外治方</u></p>
<p>金毛狗　五倍子　枯礬　魚腥草　水楊柳　黃連</p>
<p>共為末煎湯，熏洗陰戶三四次，長則脫斷，無血出。</p>

<h3>陰菌</h3>
<p>婦人陰門翻突如餅，俗呼陰菌，宜加味補中益氣湯</p>
<p><u>補中益氣湯</u>　見上卷崩漏。</p>
<p>加丹皮、梔仁。</p>

<h3>陰腫</h3>
<p>婦人陰門腫即陰挺之類，但挺者虛，腫者多熱，宜服加味逍遙散（見上卷調經類）。</p>
<p><u>陰腫中外治方</u></p>
<p>陳枳殼銼片炒熱布包熨之，又用硫黃、藁本、荊芥、蛇床共為末，香油調搽，流水則干敥之。</p>
<p>—　用桃仁（燒碾敷）、食鹽（炒熨）、訶黎勒（和蠟燒薰）、枸杞根（水煎洗）、五倍子（碾末敷）。並交接後血出不止。</p>

<h3>陰癢</h3>
<p>婦人陰癢難忍，必有陰蟲，乃肝經濕熱，內蘊鬱火所致，宜服　龍膽瀉肝湯　。</p>
<p>膽草　梔仁　黃芩　柴胡　生地　車前　澤瀉　木通　白芍　當歸</p>
<p><u>陰癢外治方</u></p>
<p>用桃仁碾膏和雄黃末、輕粉塗豬肝納入陰中，以制其蟲。</p>
<p>—　花椒、吳萸、蛇床、陳茶炒鹽煎湯熏洗。</p>
<p>—　荊芥、牙皂、牆頭腐草煎湯熏洗，杜仲煎洗，桃仁燒煙燻，杏仁、桃葉搗爛敷及煎湯熏洗。</p>
<p>烏賊骨，主治婦人陰癢、陰蝕、陰瘡。</p>
<p>又方　治陰癢突出，形如雞冠，用臭椿樹皮、荊芥穗、藿香葉煎湯熏洗，即癢止而入。</p>
<p>又方　用生蔥頭數個搗爛，煎雞蛋二三個作餅敷陰戶，蟲出而愈。</p>

<h3>產後腸癢</h3>
<p>產後腸癢用針線袋密安席下，勿令人知。</p>

<h3>陰戶出血</h3>
<p>婦人交接出血，此肝傷不能藏血，脾傷不能攝血也，宜服加味逍遙散（見首卷調經類）添肉桂或歸脾湯（見首卷調經類）、八味丸（見匯方）。</p>

<h3>陰戶病</h3>
<p>有疼痛出黃臭水，用綿繭燒存性碾細敥之。</p>
<p>有腫如石撞則甚，用綿繭燒存性碾細，用青魚膽調敷。</p>

<h3>茄病</h3>
<p>婦人陰門墜出，或紅或白，狀如茄子，名曰茄病。紅屬濕熱，宜服白薇散。白屬氣虛，宜服四物吳萸湯或三茱丸。</p>
<p><u>白薇散</u></p>
<p>白薇　川芎　當歸　熟地　白芍　蒼朮　澤蘭　丹皮　靈霄花</p>
<p><u>四物吳萸湯</u></p>
<p>吳萸　當歸　人參　白朮　熟地　川芎　陳皮　白芍　沉香　肉桂　甘草</p>
<p>白茄根引。</p>
<p><u>三茱丸</u></p>
<p>吳茱萸　家茱萸　山茱萸（各一兩）</p>
<p>米糊為丸。</p>
<p>又方　用硫黃五分、海螵蛸二錢，碾細，鴨蛋清調搽。</p>

<h3>陰戶糞門生寸白蟲</h3>
<p>陰戶糞門生寸白蟲用蜂蜜和甘草末黏於紙上，安癢處，蟲出於紙上即止。</p>

<h3>產婦發狂</h3>
<p>產婦發狂用家麻蔸洗淨切片，濃煎汁服，熱退狂止。</p>

<h3>去雞眼二方</h3>
<p>去雞眼用烏梅肉搗融，入醋少許加鹽水調勻，貼上自消。</p>
<p>—　用地骨皮、紅花碾細敷之，雖成瘡立愈。</p>

<h3>裹小腳二方</h3>
<p>裹小腳用皮硝、鳳仙、花子、石榴皮各五錢，茵陳四錢，煎水洗，不可用手。</p>
<p>—　用白鳳仙花葉根一併搗碎，煎湯頻頻洗之，骨自柔軟，不受痛苦，若猴骨煎水洗，斷不可用。</p>

<h3>點痣</h3>
<p>用大糯草燒灰碗盛開水泡，以布濾瀽水，少許，風化石灰半羹，入水內攪起泡，以新筆塗泡汁點痣上，二三次即退去。又方取小鼠和石灰搗爛，量痣大小點之。</p>
<p>以上諸疾，男婦俱有，惟婦人更多，故特附錄，便於兼治。</p>

<h3>沿肛瘡（男婦俱有，患此最是惡疾）</h3>
<p>生於肛門外，合則如圓蛋，開如劈蛋，黃白俱有，痛極難忍，至數日則頭髮脫落，此病湘門常用樟腦八分、明雄八分、兒茶五分、辰砂五分、連翹三分、花粉三分、黑砂一分，共碾細，搗飯為丸，黃丹一分為衣，分三次開水下（乩方）。</p>

<h3>治雀斑酒刺白屑風皮方</h3>
<p>真綠豆粉八分，滑石、白芷各一兩，白附子五錢，共碾細末，每夜擦之。</p>
<p>又　治雀斑。</p>
<p>皂角、紫背、浮萍、白梅肉共碾細末，入水洗面，連擦數次即愈。</p>

<h3>陰吹</h3>
<p>婦人胃氣下泄，有陰吹病，宜豬膏煎亂髮化服，病從小便出。</p>

<h3>陰寒</h3>
<p>吳萸、川椒、丁香、蛇床（並塞），硫黃煎洗。</p>

<h3>陰脫</h3>
<p>半夏（坐產子腸先下，產後不收，碾末嗅鼻自止）　石灰（炒淬水洗）　升柴　羌活（水酒煎服）　枯白礬（陰脫作癢，酒對服日三次）</p>

<h3>陰㿗硬如卵狀</h3>
<p>穿山甲（炙，碾末，水酒煎服）需用藥性黃楊木（人家多栽插之枝葉，攢簇上聳葉似初生槐芽而青厚，不花不實，四時不凋，其性難長，俗說歲長一寸，遇閏則退。令試之，但閏不長耳，其性堅膩，作梳剜印最良，木重無火，用水試之，沉則無火，凡取此木，必以陰晦夜無一星伐之，則不裂）</p>
<p>葉氣味苦平無毒，主治女人難產，入「達生散」中用，又主暑月生癤搗爛塗之（出《綱目》時珍）。</p>
<p>紫荊，一名紫珠（《拾遺》），皮名肉紅（《綱目》），內消（皮色紅而消腫，故瘍科呼肉紅，又曰內消，與首烏同名）。苦平無毒，破宿血、下五淋。濃煮汁服，通小腸解諸毒物。疤疽喉痹飛屍蠱毒腫下痿，蛇虺蟲蠶狂犬毒，並煮汁服。亦以汁洗瘡腫，除血長膚，活血行氣，消腫解毒，治婦人血氣疼痛，經水凝澀，狂犬咬傷（紫荊皮末、沙糖調塗，留口，退腫；口中仍嚼咽杏仁，去毒），鼻中疳瘡（取花陰乾為末貼之），發背初生，一切癰疽皆治（單用皮為末，酒調，箍住自然撮小不開，內服柞木飲子，乃救貧良之劑），癰疽未成（取皮與白芷為末，酒調服，外用荊皮、木蠟、赤芍等分為末酒調作箍藥），痔瘡腫痛（取皮五錢，新水，食前並服）。</p>
<p>柞木釋名斧子木（此木堅硬，可為鑿柄故為名），木皮苦平無毒，治黃疽病燒末水服，方寸匕三日。治鼠瘻，難產，催生，利竅。</p>
<p>鼠瘻（取皮五升，水一斗，煮汁二升，服當有宿肉出而愈竅。）</p>
<p>婦人難產（催生柞木飲，不拘橫生、倒產、胎死腹中，用此屢效，用大柞木枝□尺洗淨，大木草五寸，並寸折，以新汲水三升半，同新沙餅內以紙三重緊封，文武火煎至一升半，待腰腹重痛欲坐草時溫飲一小盞，便覺下開豁如渴，又飲一盞至三四盞，下腫便生，更無訴苦，切不可坐草太早，及穩婆亂為也）。</p>
<p>柞木飲（治諸般癰腫發背，皆用干柞木葉、乾荷葉中心蒂干、萱草根、甘草節、地榆炭四兩細銼，每用半兩，水二碗煎一碗，早晚各一服，已成者其濃血自漸乾涸，末成者自消散，忌一切飲食毒物）</p>
<p>黃荊子（能通利胃心氣痛疝氣，凡治牙齦腫痛用三五錢，碾細末煮豆腐或腈肉，服二三次全愈）</p>
<p>又　治婦人白帶，退骨間熱，用童便浸一宿炒乾。</p>
<p>松花（即松樹花）一名松黃，甘溫無毒，潤心肺，益氣，除風，止血，亦可釀酒，拂取似蒲黃酒，服令輕身。花上黃粉山人及時拂取，作湯點之甚佳，但不堪停久，故鮮用寄遠。今人收黃和白沙糖印為餅膏，充果餅食之，且難久收。治產後壯熱，頭痛頰赤，口乾唇焦，煩渴昏悶，用松花、蒲黃、當歸、川芎、石膏等分為末，每服二錢，水二合，紅花二捻，同煎七分細呷。</p>
