<header data-type="book">
<h1>葉選醫衡</h1>
<dl class="元資料">
<div><dt>年份</dt><dd><data value="1898">公元1898年</data></dd></div>
</dl>
</header>

<h1>曹序</h1>
<p>嬴秦燔書，古籍灰燼，惟醫書及《周易》，得免斯厄。良以醫之精理，參天地，通陰陽，實與易相表裡，而非區區方技家所能該也，又非末學淺夫所得管窺而莛撞也。軒岐以來，代有傳書，汗牛充棟，非精識之士，不能讀也。即讀矣，而旁騖歧出，未得宗旨。狃古方以診百病之變遷，猶患其顧此失彼，適燕趙而不改南轅也。然則醫之難如是，讀醫書之難如是。苟得一窮究醫理，卓然成家，蒐羅群籍，提要鉤元，豈非快事耶？吾吳葉香岩先生，嘗裒集古今醫書，削繁就簡，折衷一是，為《醫衡》若干卷，雖篇頁無多，而去取有法，圭臬不遠，實淮南枕中鴻寶也，顧其書不少概見。庚申之變，板毀於兵，識者病焉。恆家自高曾以來，潛心醫理，不乏藏書，俱付劫火，恆幼承先大父命，考求醫學，勿敢有間。二十年來，徵集舊帙，百不獲一，猶復臨診鮮暇，偶一治書，輒感慨系之。常熟繆丈少初，久宦中州，循聲卓著，今以假歸，嚐出是編示恆曰：君世習醫，將謀重鋟以資利濟，君不可以無言。竊惟是書簡而有法，純而不駁，擴充之，可得醫學源流，即墨守是編，已足為南針之指，夫醫道不明久矣。淺陋者，逐利而不足言；博雅之士，膠柱鼓瑟，狃於一偏。病淺而求諸深，病易而求諸難。班志所謂原人血脈經絡骨髓陰陽表裡，以起百病之本，死生之分，而調百藥。齊和之所宜者，戛戛難之。今繆丈重鋟是編，津梁後學，洵仁人之用心哉，吾知是編之出，有目共賞，不脛而走，無待贅言，異日更著活人之書，作萬家生佛，召父杜母，流聲馥蘭，恆且仰睇之而未有艾也，爰不揣固陋，而志其緣起云。</p>
<p><u>光緒十六年歲在上章攝提格壯月吳縣曹元恆敘</u></p>

<h1>柳序</h1>
<p>醫學肇於《靈》、《素》，猶儒家之有六經，乃眾理之總彙，證治之極則，所謂不廢江河萬古流也。長沙張仲景出，實有以紹軒岐之傳，廣湯液之用，於醫門推為至聖，洵不誣已。魏晉以降，醫術流為方技，士大夫恥習其業，墜緒茫茫，不絕者如縷。宋和政間，開和劑、惠民等局，以療民病，令太醫院試其通於《靈》、《素》之理者，授之以官，始令為醫，於是醫學稍稍振興。劉李朱張各家，崛起金元間，而或論溫熱，或主脾胃，或專滋陰，或任攻伐，家各為說，人持一是。正如漢儒說經，各承家法，靡所折衷。明代王損庵等諸賢輩出，拾遣補闕，闡發經旨，斯道昌明，於斯為盛。其中矯然特出，獨立門戶者，則如張鳳逵之論暑，吳又可之論疫，喻西昌之補秋燥，張介賓之辨陽虛，皆能於此道中開徑自行，不為舊說所蒙。然或嫌其略，或失之粗，或辨焉而過於刻深，或論焉而涉於膚淺，亦猶宋儒鑽研性理，疏說經義，非不各有心得，可以扶翼聖道，而各得一偏，要未能悉歸至當，則甚矣。斯理之精深，而不可無以衡之，以衷於壹是也。我朝醫學昌明，名流迭出。吾吳葉天士先生，以穎敏之才，探靈蘭之奧，一時活人之名，震乎宇內，惜乎求治者多，其生平精力，殫於治病，未遑有所著述。世傳醫案數種，亦非其所手定，其中真贗相參，瑜瑕不掩，讀者病焉。外如《景岳發揮》一書，雖有闡發而言多憤激，似非著作體裁。又有《本草經注》，《本事方釋義》兩種，類以五行五臟配合敷衍，絕少精意，似亦非先生手筆，或者先生名重當時，門弟子竊其緒論，著為成書，遂托其名於先生歟。《惟溫熱論》一卷，雖篇帙無多，而其中發明證治，補前賢之遺闕，示後學以指歸，言皆精要，語不遊移，洵可法可傳之作。而溫邪犯肺逆傳心包一語，猶為後人指摘，則信乎著述之難，而醫理之不可不衡以壹是也審矣。甲午長夏，晤繆君少初於石梅精舍，縱譚醫理，繆君不以詒為固陋，出先生所著《醫衡》一書見示，而索序焉。詒受而讀之，其書雖採自前人，而綱羅宏富，抉擇精嚴，其不愜於理者，又經改定，間附論說，以裨闕漏。所謂衡之以理，而衷於壹是者，此書其庶幾乎？繆君以賢宰官乞退，闢精廬於湖山佳處，怡情松菊，寄傲煙霞，蓋有古人之高致者，而惓惓於是書。刊以行世，蓋以極斯人之疾苦而登之仁壽，其猶是賢宰官愛人無已之心也夫。繆君深於斯理，而不屑以醫名，爰書此以質之，或者其有以教我乎，即幸甚。</p>
<p><u>光緒二十年甲午中秋前二日江陰後學柳寶詒書於琴川舟次</u></p>

<h1>繆序</h1>
<p>餘本不知醫，少年奔走四方，見夫率爾操觚，草菅人命者，指不勝屈，心竊憫之。由是稍稍涉獵方書，又苦諸家持論不同，或拘泥古法，或固執偏見，或狃於門戶習氣，各承師說，聚訟紛紜。淺識者寡陋孤聞，易為掏惑；博覽者依違兩可，靡所適從。是醫書愈多，醫學愈雜，誠不如不服藥之為中醫也。嘗欲訪求專門名家，足以抗衡前人者，相與考覈群編，鑑空衡平，權衡至當，俾業醫者折衷壹是，奉為定衡，庶不至倒行逆施，旁騖歧出，為醫書之枕中秘，即為醫學之指南針，豈非杏林橘井之集大成者耶？惜乎有其志而無其人也。嗣遊京師，獲交會稽呂梅卿先生，見其衡診立方，舉重若輕，適如分量，不偏不倚，直可合劉李朱張為一家，向之所謂抗衡前人者，先生其庶幾乎？心折既深，時從請益，臨別乞授片言，先生曰：籲！古今醫書，汗牛充棟，烏能以管窺蠡測，謂遽可融會而貫通耶？雖然！有執簡御繁之一法，有由博返約之一法。子吳人也，亦知吳中有葉先生乎？曾見其《醫衡》一書乎？誠得是書翻覆玩索，即不啻三折肱矣。余恍記曾經寓目，歸而搜諸敝簏，原書具在，狂喜不禁，然不知吳中先未刊行，竟為絕無僅有之本。陽湖管君敬伯，長洲彭君簫九，皆奄貫百家，尤精軒岐學，僉稱見所未見，囑即補刊，以廣其傳。攜歸里門，適楊濱石太常，養疴家居，假觀逾月。凡字句訛闕處，逐一添注塗改，悉臻完善。請制弁言，則以醫非夙　習辭。維時以醫道著名，繼葉先生而代興者，吳門則曹君智涵，澄江則柳君谷孫，均已樂為之序。備述此書功效，余但記校刊緣起，並諸君之相與有成云。</p>
<p><u>光緒二十年甲午季秋虞山繆萼聊識於伊園</u></p>

<h1>金序</h1>
<p>醫道至微，蓋難言喻矣！天有六淫之感，人有七情之擾。人在氣交之中，好惡動於內，利慾奪於外，曷能免是？則百病從此出矣。病之由輕而致愈，由重而致殆，其生死之權，醫操之也。得醫而良，則病可免，得醫而庸，則夭枉不可勝數矣。然而為醫者，莫不喜良而惡庸，脫庸者，亦必自詡為良，此人之情也。無如明理者少，而悖理者多。一為資質所限，一為師心自用，遂致流於庸者一途而不自知也。苟欲明理，非博考方書，研究病情不可。然自軒岐而下，方書汗牛棄棟，高明者，好為穿鑿，或失之泛。固陋者，苟守繩墨，即失之隘。誠欲一編簡明詳盡理暢辭達者，而不可得，學者病之。我朝葉天士先生，以天縱之才，秉穎敏之質，又復潛心好學，孳孳不倦，想因診事忙碌，未遑有所著述。然此《醫衡》一書，乃生生裒集先賢精論名言，其中論脈論症論治，靡不詳且備焉。吾知是編一出，　學者庶得有所遵循，而無多歧之感矣。願君渭川，才廣學博，藏書數百種，暇輒手握一卷以自遣。其於五運六氣之不齊，南北方土之異宜，人身經絡之支別，營衛運行之離合，以及臟腑脈理病情變化，莫不窮源竟委，洞燭機宜，以余之愚，猶復虛衷辱問，雖土壤細流，無裨大益。然其胸懷過人處，有非平常所可幾及者。今以重刊《醫衡》，以便同志探討，索序於余，余即以平日所言者銓次之，用敢質諸先生，先生其有以教我乎！</p>
<p><u>宣統二年十一月下浣元和繹聲金文鍾識於海上寄廬</u></p>

<h1>顧序</h1>
<p>余自束髮受書以來，即喜岐黃家言，暇輒涉獵之，雖稍稍有所進益，然無師承，終以未得門逕為憾。及冠，從家叔兆麟，專習醫理，自《黃帝內經》、《神農本草》而下，熟讀者，數十種，披覽者，百餘卷。潛心十餘年，頗得此中奧妙，以應病者之求，十愈七八，顧未能萬全也，心竊愧之。旋逢同志創立醫學研究所，復蒙上海道憲頒給鈐記，以鄭重衛生，研究醫學為宗旨。然上古醫學，莫要於針灸，至今幾湮沒不聞，良可惜也！乃在所內復設針灸傳習所，聘請教員以教諸生。余均與其事，二年畢業，後始覺斯道大明。蓋針灸與湯藥，法雖不同，而理實一貫。誠以治病之要，首先辨證，辨證不明，針藥奚從。考古方書，汗牛充棟，聚訟盈庭，各鳴一得，或以陽氣為重，或以陰血為主，或講脾胃，或論溫熱，淺學讀之而搖惑，高明觀之而用歧。因思葉天士先生，有《醫衡》一書，皆蒐羅先賢精傑之作，或抽揚脈理，或闡發病機，其論旁通曲達，義明辭顯，可為醫家模範。奈世少傳本，坊刻多謬，余乃將藏本細加校正。誤者改之，缺者補之，付之石印，以便同學由此書先行研究。然後博覽群籍，即不為異說所惑，始可升仲景之堂，而入軒岐之室，豈僅抗衡前人而衷於一是者乎！然則是編也，不惟為湯藥之津梁，抑且為針灸之指南焉耳！</p>
<p><u>宣統二年葭月孟河顧夢熊渭川撰於上海醫學研究總所</u></p>

<h1>自序</h1>
<p>近世醫理不明，醫學荒雜，治病不辨三因虛實，一概籠統用藥，以致虛虛實實，殺人如麻，曷勝悼嘆！良由不肯留心前人論病論脈論治諸說，遂至越規矩，棄繩墨，師心自用。若欲脫去陳方舊論，而獨闢新奇，殊不知仲景而下，如河間、丹溪、東垣、潔古、海藏諸賢，衡證衡脈，用藥立方，絲絲入扣，不偏不倚，如物之有衡焉。法有定衡，不及於衡者，擴而充之；太過於衡者，約而斂之，庶可以起沉疴而不誤人。命余早歲業醫，深陋俗習，渴欲抗衡前人，以為近日醫流砥柱，匯採前人論病論脈論治，精確不磨之說，以成上下卷，標其目為醫衡，垂作模楷，則三因辨，虛實分，自無籠統用藥之弊，不特後學可為衡鑑。即余之惟日孳孳，長恐誤人者，亦未嘗敢越比衡中也，竊願持衡不失，得進而抗衡前人，斯幸矣！</p>
<p><u>古吳葉桂天士書</u></p>

<h1>卷上</h1>

<h2>養身論</h2>
<p>猗歟哉，歷代醫書之盛，凡三百七十九家，五百九十六部，一萬三千一百餘卷，反復詳明，其要主於卻病而已。然《內經》有一言而可盡廢諸書，則不治已病治未病是也。此說一出，而後多以修養為言，不知夫修養與保養，原自有異修養則雜於方外元遠，而非恆言恆道。保養則於日用飲食，而為可法可經。如運氣之法，運任督者，久則生癰；運脾土者，久則腹脹；運丹田者，久則尿血運；頂門者，久則腦泄。其餘丹砂烹煉之說，遺禍累累。然則修養之與保養，不大相逕庭哉！請述保養之法。《上古天真論》曰：飲食有節，起居有常，不妄作勞，精神內守，病安從來？故形與神居而盡終天年，度百歲乃去，此保養之正宗也。蓋有節有常，則氣血從軌，而無事於搬運之煩，精神內守，則身心寧定，而無事於制伏之強，形與神居，而神不離形。形不離神，而無損天年之慮。保養既若是之易且顯，何今之夭者多而壽者少歟？蓋香醪美酒陳於前，雖病所忌也而弗顧；情況意興動於中，雖病所禁也而難遏；貪名競利之心急，雖勞傷過度而不覺；何況心神百結，斫耗多端。劉孔昭曰：萬人操弧而向一鵠，鵠能無中乎？萬物炫耀以惑一生，生能無傷乎？即有少知收斂精神，安居靜養者，又不知百年機括，希求不死。雖終日閉目，只是一團私意，靜亦動也。若識透百年定分，而事事循理，不貪不躁不妄，可以卻未病而盡天年矣。蓋主乎私則生死念重，而昏昧錯妄，愈求靜而不靜。主乎理則人慾消亡，而心清神悅，不求靜而自靜，此吾所以但言保養，而不言修養也。然則保養之法，不亦盡廢諸書乎。避風寒以保其皮膚六腑，則麻黃、桂枝、溫中、四逆之劑，不必服矣；節勞逸以保其筋骨五臟，則補中益氣、劫勞健步之劑，不必服矣；戒色欲以養精，正思慮以養神，則滋陰降火、養營凝神等湯，又何用哉？薄滋味以養血，寡言語以養氣，則四物、四君、十全、三和等湯，又何用哉？要之血由氣生，氣由神全，神乎心乎，養心莫善於寡欲，吾聞是語，未見其人，不得已而仍從一萬三千一百餘卷中，更覓一治已病之法也。</p>

<h2>運氣說</h2>
<p>運氣之說，有太過不及，而勝復由以生正。太過者，其氣勝，勝而複製，則傷害甚矣。不及者，其氣衰，衰而復克，則敗亂極矣。此勝復循環之道，出乎天地之自然，而亦不得不然也。故在天有五星勝氣之應，在地有萬物盛衰之應，在人則有臟腑疾病之應。如木強勝土，則歲星明而鎮星暗，土母受侮，子必復之，故金行伐木以救困土，則太白增光，歲星反晦也。凡氣之現於上者，則災應乎下，宿屬受傷，逆犯尤甚。正運互為勝復，其氣皆然，至其為病，如木勝肝強，必傷脾土，肝勝不已，燥必復之，而肝亦病矣。燥勝不已，火必復之，而肺亦病矣。此五臟互為盛衰，其氣亦皆然也。夫天運之有太過不及者，即如人身之有虛實也。惟其有虛而復，強者勝之。有勝而復，承者復之。無衰，則無勝矣。無勝則無復矣。其氣和平，焉得有病？恃強肆暴元氣先盡，焉得毋虛。故曰：有勝則復，無勝則否，勝微則復微，勝甚則復甚。可見勝復之微甚，由變化之盛衰，本無其常也。六元正紀論所載天時地化人事等議，至詳至備，蓋以明其理之常者如此也。即如周易之六十四卦，三百八十四爻，乃闡明易道之微妙，教人因易以求理，因象以致變。故孔子曰：書不盡言，言不盡意。此其大義，正與本經相同。夫天道元微，本不易測，及其至也，雖聖人亦有不知焉。故凡讀易者，當知易道有此變，不當曰變止於此也。讀運氣書者，當知天道有是理，不當曰理止於是也。然變化雖難必，而易盡其機也。天道雖難測，而運氣盡其妙矣。自余有知以來，常試以五大之義，逐氣推測，則彼此盈虛，十應八九，即有少不相符者。正如井蛙之見，而見有未至耳，豈天道果不足憑耶？今有昧者，初不知常變之道，盛衰之理，孰者為方，孰者為圓，孰者為相勝反勝主容承製之位。每執鑿經文以害經意，徒欲以有限之年晨，概無窮之天道，隱微幽顯，誠非易見管測求全，陋亦甚矣。此外復有不明氣化，如馬宗素之流者，假仲景之名，而為《傷寒鈐法》，用氣運之更遷，擬主病之方治，拘滯不通，誠然謬矣。然又有一等偏執己見，不信運氣者，每謂運氣之學，何益於醫？且云：疾病相加，豈可依運氣以施治乎？非切要也？余喻之曰：若所云者，是真運氣之不求，而運氣可易言哉，觀歲運之流行，即安危之關係。或疫氣遍行一方，皆病風溫，或清寒傷臟，一時皆犯瀉痢。以眾人而患同病，謂非運氣之所使然歟。</p>

<h2>奇經八脈大旨</h2>
<p>人之一身，有經脈，有絡脈。直行曰經，旁行曰絡。幾經有十二，手足三陰三陽是也。絡有十五，乃十二經各有一別絡，而脾又有一大絡，並任督二絡，為十五絡也。共二十七氣，相隨上下，如泉之流，如日月之行，不得休息，故陰脈榮於五臟，陽脈榮於六腑，陰陽相貫，如環無端，菲知其紀，終而復始。其流溢之氣入於奇經，轉相灌溉，內運臟腑，外濡腠理。奇經凡八脈，不拘制於十二經，無表裡配合，故謂之奇。蓋奇經猶夫湖澤，正經之脈隆盛，則溢於奇經。秦越人比之天雨下降溝渠溢滿，滂沛傍行，流於湖澤，此發《靈》、《素》之秘也。八脈散在群書，略而不悉予雖不敏。謂陳大旨。八脈者，陰維也，陽維也，陰蹺也，陽蹺也，沖也，任也，督也，帶也。陽維起於諸陽之會，由外踝而上行於衛分；陰維起於諸陰之交，由內踝而上行於營分，所以為一身之綱維也。陽蹺起於跟中，循外踝而上行身之左右；陰蹺起於跟中，循內踝而上行身之左右，所以使機關之蹺捷也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。衝脈起於會陰，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經脈之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也，是故陽維主一身之表。陰維主一身之裡，以乾坤言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰以東西言也，督脈主身後之陽，任脈主身前之陰，以南北言也，帶脈橫束諸脈，以六合言也，八脈之中惟任督二脈，為人身之子午，為升降之道，交媾之鄉，如鹿運尾閭，能通督脈足於精，龜納鼻息，能通任脈足於氣，是以二物得壽。此奇經八脈之大旨，至於經穴病狀，具見《瀕湖脈考》中。</p>

<h2>六脈綱領</h2>
<p>《靈樞》以緩急大小滑澀六脈而定病變，可謂總諸脈之綱領。《素問》則曰：大小滑澀浮沉。《難經》曰：浮沉長短滑澀。而仲景則曰：弦緊浮沉滑澀。此六者，名為殘賊，能為諸脈作病。滑伯仁曰：大抵綱領之要，不出浮沉遲數滑澀六脈。所謂不出者，以其足統夫表裡陰陽虛實冷熱風寒濕燥臟腑血氣之病也。浮為陽為表，證為風為虛；沉為陰為里，證為濕為實；遲為在臟，為寒為冷；數為在腑，為燥為熱；滑為血有餘澀；為氣獨滯也。此諸說者，詞雖少異，意實相通。若以予見言之，總不出乎表裡虛實寒熱六者而已。如浮為在表，則散大而芤可類也；沉為在裡，則細小而伏可類也；數為熱，則洪滑疾促之屬可類也；遲為寒，則澀結代緩之屬可類也；虛為不足，則短弱濡微之屬可類也；實為有餘，則弦緊動革之屬可類也。然即此六者之中，又復有大相懸絕之要，則又不可不知。夫浮為在表，而凡陰虛者，脈必浮而無力，是浮不可概言表矣，可升散乎？沉為在裡，而凡邪初感之甚，陰寒束於皮膚，陽氣不能外達，則脈必先現沉緊，是沉不可概言里矣，可內攻乎？諸數為熱，而凡陰虛之候，陰陽俱虛，氣血散亂者，脈必急數，愈數者愈虛，愈虛者愈數，是數不可概言熱矣，可寒涼乎？微細類虛，而痛極閉塞者，則多伏匿，是伏不可概言虛矣。可驟補乎？弦數類實，而真陰大虧者，必關格倍常，是弦不可概言實矣，可消伐乎？夫如是是，即於綱領之中，而復有大綱領者存焉。設不以四證相參，而孟浪任意，未有不覆人於反掌間者，此脈道所以難言，而毫釐不可不辨也。</p>

<h2>血營氣衛論</h2>
<p>氣取諸陽，血取諸陰。人生之初，具此陰陽，則亦具此氣血。氣血者，其人生之根本乎。血何以為營？營行脈中，滋榮之義也。氣何以為衛？衛行脈外，護衛之義也。然則營與衛，豈獨無所自來哉？曰：人受谷於胃，胃為水穀之海，灌溉經絡，長養百骸，五臟六腑，皆取其氣故清者為營，濁者為衛，營衛之氣，周流不息，一日一夜，脈行五十度，平旦以復會於氣口，所謂陰陽相貫，如環無端，則是二氣恆相隨而不相離也。夫惟血營氣衛，常相流通，則人何病之有？一有窒礙，百病由此生矣。故氣之作養，發而為喜怒憂悲驚恐寒熱思勞，聚而為積痞癥瘕痃癖，上為頭旋，中為五膈，下為臍間動氣，或喘促，或咳噫，聚則中滿，逆則足寒。凡此者，皆氣使之然也。血之為患，其妄行則為吐衄，其衰涸則為虛勞，蓄之在上其人妄，蓄之在下其人狂，逢寒則筋不營而攣急，挾熱則內瘀而發黃，在小便則為淋痛，在大便則為腸風，在婦人月事進退漏下崩中病尤不一，凡此者，皆血使之然也。夫血譬之水也，氣譬之風也，風行水上，即氣血之義也。蓋氣血之帥也。氣行則血行，氣止則血止，氣溫則血活。氣寒則血凝，氣有一息之不運，則血有一息之不行，病出於血，調其氣猶可以導之。病原於氣，區區調血何與焉？人之一身，調氣為主，是亦先陽後陰之義也。若夫血有敗瘀泥滯乎諸經，則氣之道，未免有所壅遏，又當審所先而決去之。經所謂先去其血，而後調之，又不可不通其變矣！然則調氣之劑，以之調血則兩得。調血之劑，以之調氣則乖張，如香附、木香之類，治氣可也，治血亦可也。若以歸、地輩論之，則其性纏綿，於胃氣有虧矣，用藥者審之。</p>

<h2>君臣佐使逆從反正說</h2>
<p>君為主，臣為輔，佐為助，使為用，制方之原也。逆則攻，從則順，反則異，正則宜，治病之法也。必熱必寒必散必收者，君之主也；不宜不明不授不行者，臣之輔也；能授能令能合能分，佐之助也；或劫或開或擊或散，使之用也。破寒必熱，逐熱必寒，去燥必濡，除濕必滲者，逆則攻也。治驚則平，治損須益，治留須攻，治堅須潰者，從則順也。熱病用寒藥，而導寒攻熱者必熱，如陽明病發熱，大便硬者，大承氣湯、酒製大黃熱服之類是也。寒病用熱藥，而導熱去寒者必寒，如少陰病下利，服附子、乾薑不止者，白通加人尿、豬膽之類是也。塞病用通藥，而導通除塞者必塞，如胸滿煩驚小便不利者，柴胡加龍骨、牡蠣之類是也。通病用塞藥，而導塞止通者必通，如太陽中風下利，心下痞硬者，十棗湯之類是也。反則異也，治遠以大，治近以小，治主以緩，治客以急。正則宜也，至真大要論曰：辛甘發散為陽，酸苦湧泄為陰，淡味滲泄為陽，鹹味湧泄為陰，六者，或收或散，或緩或急，或燥或潤，或軟或堅，或以所利而行之，調其氣使之平，故味之薄者，為陰中之陽，味薄則通，鹹苦鹽平是也。氣之厚者，為陽中之陽，氣厚則發熱，辛甘溫熱是也。氣之薄者，為陰中之陽，氣薄則發泄，辛甘淡平溫涼是也。味之厚者，為陰中之陰，味厚則泄，鹽寒酸苦是也。《易》曰：同聲相應，同氣相求，水流濕，火就燥，云從龍，風從虎。聖人作而萬物睹，本乎天者親上，本乎地者親下，則各從其類也。故治病制方者，須本此說而推之。</p>

<h2>吐汗下該盡治法論</h2>
<p>人身不過表裡，氣血不過虛實。良工先治其實，後治其虛；粗工或治虛，或治實；謬工則虛虛實實；惟庸工但補其虛，不敢治其實。舉世不省悟，此余所以著三法也。夫病非人身素有之物，或自外入，或自內生，皆邪氣也。邪氣中人，去之可也，攬而留之可乎？留之輕則久而自盡，甚則久而不已，更甚則暴死矣。若不去邪，先以補劑，是盜未出門，而先修室宇，正氣未勝，而邪氣已橫鶩矣。惟脈脫下虛，無邪無積之人，始可議補耳。他病惟先用三法攻去邪氣，而元氣自復也。《素問》一書，言辛甘發散滲淡為陽，酸苦湧泄為陰，發散歸於汗，湧歸於吐，泄歸於下，滲歸解表，解表同於汗，泄利便同於下，殊不言補。所謂補者，辛補肝，咸補心，甘補腎，酸補脾，苦補肺，更相君臣佐使，皆以發腠理，致津液通血氣而已。非今人所謂用溫燥邪僻之補也，蓋草木皆以治病，病去則五穀果菜肉皆補也。又當辨其所宜，使無偏傾可也。若以藥為補，雖甘草、人參，亦有偏勝之患，是故三法猶刑罰也，粱肉猶德政也。治亂用刑，治治用德，理也。余用三法，常兼眾法，有按有蹺，有揃有導，有增減，有續止。醫者不得余法而反誣之，哀哉！如引痰、漉涎、取涕迫淚，凡上行者，皆吐法也；熏蒸、渫洗、熨烙、針制、砭射、導引、按摩，凡解表者，皆汗法也；催生、下乳、磨積、逐水、破經、泄氣，凡下行者，皆下法也。天之六氣，風寒暑濕燥火，發病多在於上。地之六氣，霧露雨雪水泥，發病多在於下。酸苦甘辛鹹淡，發病多在於中。發病者三，出病亦三。風寒之邪，結搏於皮膚之間，滯於經絡之內，留而不去，或發痛麻淋痹腫癢拘攣，皆可汗而去之。痰飲宿食，在胸膈，發為諸病，皆可湧而去之。寒熱痼冷火熱，客下焦，發為諸病，皆可泄而出之。吐中有散，下中有補，經言知其要者，一言而終。此之謂也。</p>

<h2>補瀉當分緩急有無說</h2>
<p>經言邪氣盛則實，精氣奪則虛，二句為治病之大關。其詞甚顯，其義甚微，敢為詳辨。蓋實言邪氣實，宜瀉也；虛言正氣虛，宜補也。凡邪正相搏而為病，則邪實正虛，皆可言也。故主瀉者，則曰邪氣盛則實，當瀉也；主補者，則曰精氣奪則虛，當補也。各執一詞，毫無確據，藉口文飾，孰得言非，是以至精之訓，反釀莫大之害。不知理之所在，必有不可移易者，奈醫者不能察耳。余請析之為四，孰緩孰急，其有其無也。無虛者，急在邪氣，去之不遠，留則生變也；多虛者，急在正氣，培之不早，臨期無濟也；微虛微實者，亦治其實，可一掃而除也；甚虛甚實者，所畏在虛，但固守根本。以先為己之不可勝，則邪無不退矣。二虛一實者，兼其實，開其一面也。二實一虛者，兼其虛，防生不測也。總之，實而誤補，固必增邪，猶或可救；虛而誤攻，真氣忽去，勢必難回，此虛實之緩急，不可不思也。所謂有無者，察邪氣之有無也，凡風寒暑濕燥火，皆能增邪，邪之在表在裡在臟在腑，必有所居，求得其本而直取之。此所謂有，有則邪氣之實也，若非六氣之邪而病出之陰，則皆情欲以傷內，勞倦以傷外，似邪非邪，似實非實。此所謂無，無則病在元氣也。不明虛實有無之人，必致以逆為從，以標為本，絕人長命，可不慎哉！</p>

<h2>推《內經》不宜主旺氣說</h2>
<p>經言治其旺氣者，謂病有陰陽，氣有盛衰，旺則治之反甚。如陽盛陰衰者，陰虛火旺也，治之者，不知補陰以配陽，而專用苦寒治火之旺，豈知苦寒皆沉降，沉降則亡陰，陰愈亡則火愈盛，故服寒反熱者，陰虛不宜降也。又如陽衰陰盛者，氣弱生寒也，治之者，不知補陽以消陰，則寒愈甚，故服熱反寒者，陽虛不宜耗也。又如夏令本熱，而伏陰在內，故多中寒，冬令本寒，而伏陽在內，故多內熱。設不知此，而必欲用寒於夏，治火之旺；用熱於冬，治寒之旺；則有中寒隔陽者，服寒反熱；中熱隔寒者，服熱反寒矣，是皆治旺之謂，而病之所以反也。</p>

<h2>陽有餘陰不足論</h2>
<p>夫陽常有餘，陰常不足，在天地則該萬物而言，在人身則該一體而言，非直指氣為陽而血為陰也。經曰：陽中有陰，陰中有陽，正所謂獨陽不生，獨陰不長也。姑以治法兼證論之曰：氣虛者，氣中之陰虛也，治法以四君子湯，補氣中之陰；曰血虛者，血中之陰虛也，治法以四物湯，補血中之陰；曰陽虛者，心經之元陽虛也，病多惡寒，責其無火，治法以補氣藥中加桂，甚則三建中湯、正陽散之類；曰陰虛者，腎中之真陰虛也，病多壯熱，責其無水，治法以補血藥中加知柏等藥，或大補陰丸、滋陰地黃丸之類。夫真元極衰之候，初不可服桂、附等藥，恐反助火而爍真陰。元陽虛脫之軀，亦不可投芎、苓等辛散淡滲之劑，恐反開腠理而泄其氣。昧者謂氣虛即陽虛，止宜用四君，斷不可服芎、苓之屬。血虛即陰虛，止宜用四物，切不可用參、耆之屬。殊不知血脫補氣，昔賢之治法也。惟真陰虛極，將為勞蒸咳嗽，必用參、耆，恐肺熱傷肺，不能抵當，而反益其病，可勿泥也。</p>

<h2>病有真假辨</h2>
<p>經云：病有逆從者，以病有微甚；病有微甚者，以證有真假，不知寒熱有真假。真者正治，知者無難，假者反治，乃為難耳。如寒熱之真假者，真寒則脈沉而細，或弱而遲，為厥逆，為嘔吐，為腹痛，為飧泄下利，為小便頻。即發熱必欲得衣，此浮熱在外，沉寒在裡也。真熱則脈數有力，滑大而實，為煩躁喘滿，為聲音壯厲，或大便秘結，或小便赤澀，或發熱掀衣，或脹痛熱渴，此皆真病。真寒者，宜溫其寒；真熱者，宜解其熱，是當正治也。至若假寒者，火極似水，陽證似陰也，外雖寒而內則熱，脈數而有力，或沉而鼓擊，或身惡衣，或便熱秘結，或煩渴引飲，或腸垢臭穢，此則惡寒非寒，明是熱證，所謂熱極反兼寒化，亦曰陽盛格陰也。假熱者，水極似火，陰證似陽也。外雖熱而內則寒，脈微而弱，或數而虛，或浮大無根，或弦芤斷續，身雖熾熱而神色自靜，語雖譫妄而聲音則微，或虛狂起倒而禁之則止，或蚊跡假斑而涉紅細碎，或喜冷水而所飲不多，或舌面赤而衣被不徹，或小水多利而大便不結。此則惡熱非熱，明是寒證，所謂寒極又兼熱化，亦曰陰盛格陽也，此皆假病假寒者。清其內熱，內清則浮陰去舍矣。假熱者，溫其真陽，中溫則虛火歸元矣，是當從治者也。又如虛熱實熱，實則瀉之，虛則補之，此不易之法也。然至虛有盛候，則有假實矣；大實有羸狀，則有假虛矣。總之虛者，正氣虛也，為色慘形瘦，為神衰氣怯，或自汗不收，或二便不禁，或夢遺精滑，或嘔吐鬲塞，或久病攻多，或短氣似喘，或勞傷過度。或暴困失志，雖外證似實，而脈弱無神者，皆虛證之當補也。實者邪氣實也，或外閉於經絡，或內結於臟腑，或氣壅而不行，或血流而凝滯，必脈病俱盛，乃實證之當攻也。然而虛實之間，最多疑似，有不可不辨其真者。如經云：邪氣盛則實，精氣奪則虛，此虛實之大法也。設有人焉，正已奪而邪方盛者，將顧其正而補之乎？抑先其邪而攻之乎？見有不的，則死生系之，此其所以宜慎也。夫正者本也，邪者標也。若正氣既虛，則邪氣雖盛，亦不可攻，蓋恐邪未去而先脫，呼吸變生，則措手無及。故治虛邪者，先當顧正氣，正氣存，則不至於害。且補中自有攻意，未有正氣復而邪猶不退者，此治虛之道也。若正氣無損者，邪氣雖微，自不宜補，蓋補之則正無與，而邪反盛，適足藉寇兵而齎盜糧。故治實證者，必直去其邪，邪去則身安，但法貴精專，使致速效。治實之道也。要之能勝攻者，便是實證，不能勝攻者，便是虛證。惟是假虛之證不多見，而假實之證最多也；假寒之證不難治，而假熱之證治多誤也。世有不明真假本末，而云知醫，我敢輕許乎哉？</p>

<h2>虛損宜分陰陽施治論</h2>
<p>夫病有虛實，虛因正氣不足。實因邪氣有餘。凡外入之病多有餘，如六氣所感，飲食所傷之類。內出之病多不足，如七情傷氣，勞欲傷精之類是也。實者宜瀉，經曰：寒者熱之，熱者寒之，堅者削之，客者除之，結者散之，留者攻之，濕者行之，強者瀉之之屬，皆用瀉之法也。虛者宜補，經云：散者收之，燥者潤之，急者緩之，脆者堅之，衰者補之，勞者溫之，損者益之，驚者平之之屬，皆用補之法也。虛實之治，大概如此。但當今之人，實者無幾，虛者七八，病實者，其來速，故其治易。病虛者，損傷有漸，不易復元，故其治難。治實者，但如為少壯新邪，則可攻可拔，猶足無慮。治虛者，但察其根本有虧，有倏忽變幻，可無慮乎？故治實之法，外有餘，可散其表；內有餘，可攻其里；氣有餘，可攻其滯；血有餘、可逐其瘀。方法星羅，可無贅也。惟虛損之治法有未盡，不得不詳其要也。夫人之虛損，有先天不足，有後天不足。先天者，由於稟受，宜倍加謹慎，急以後天之事補之，庶可延年，使覺之不早，而漫不為意，則未有不夭折者也。後天者，由於勞傷，宜速加警省，即以性情藥石調攝之，使治之不早，而遷延諱疾，則未有不噬臍者也。凡勞傷之辨，勞者勞其神氣，傷者傷其形體。如喜怒思慮則傷心，憂愁恐哀則傷肺，是皆勞其神氣也。飲食失度則傷脾，起居不慎則傷肝，色欲縱肆則傷腎，是皆傷其形體也。損其肺者傷其氣，為皮焦而毛落；損其心者傷其神，為血脈少而不榮於臟腑，此自上而傷也。損其肝者傷其筋，緩而不能收持；損其腎者傷其精，為骨髓消減，痿弱不能起，此自下而傷也。損其脾者，傷其倉稟之本，為飲食不為肌膚，此自中而傷也。夫心肺傷而神色敗，肝腎損而形體痿，脾胃傷而飲食不化，感此病者，皆損之類也。《難經》云：損其肺者益其氣，損其心者調其營衛，損其脾者調其飲食，適其寒溫，損其肝者緩其中，損其腎者益其精，此治損之法也。然所損雖分五臟，而五臟所藏，無非精與氣耳。夫精為陰，人之水也。氣為陽，人之火也。水火得其平，則為精為氣；失其和，則為寒為熱。此因偏損，所以致有偏勝。故水中不可無火，無火則陰勝而寒病生。火中不可無水，無水則陽勝而熱病起。但當詳辨陰陽，則虛損之治，無餘議矣。如水虧者，陰虛也，則宜大補真陰，不可再伐陽氣。火虧者，陽虛也，只宜大補元陽，不可再傷陰氣。蓋陰既不足，而復伐其陽，陽亦亡矣。陽既不足，而復伐其陰，陰亦損矣。夫治虛治實，本自不同。實者陰陽固自有餘，但去所餘而得其平。虛者陰陽本有不足，再去所有，則二者俱敗，其能生乎？故治虛之要，凡陰虛多熱者，最忌辛燥，恐助陽邪也，尤忌苦寒，恐伐生陽也，惟喜純甘壯水之劑，補陰以配陽，則剛為柔克，虛火自降，而陽歸乎陰矣。陽虛多寒者，最嫌涼潤，恐助陰邪也，尤忌辛散，恐傷陰氣也，只宜甘溫益火之品，補陽以消陰，則柔得其主，而沉寒自斂，而陰從乎陽矣。是以氣虛者，宜補其上；精虛者，宜補其下；陽虛者，宜補而兼暖；陰虛者，宜補而兼清。此固陰陽之治辨也。其有氣因精而虛者，自當補精以化氣；精因氣而虛者，自當補氣以生精，又如陽失陰而離者，非補陰何以收散亡之氣；如陽失火而敗者，非補火何以蘇隨散之陽，此又陰陽相濟之妙用也。故善補陽者，必於陰中求陽，則陽得陰助，而生化無窮；善補陰者，必於陽中求陰，則陰得陽而升，泉源不渴，故以精氣分陰陽，則陰陽不可離；以寒熱分陰陽，則陰陽不可混。此又陰陽邪正之離合也，知陰陽邪正之治，則陰陽和而生道得矣。經曰：不能治其虛，何問其餘，此之謂也。</p>

<h2>因病似虛因虛致病論</h2>
<p>萬病不出乎虛實兩端，萬方不越乎補瀉二法。顧治實之法，猶易知易行，姑置弗論。惟是治虛之法，自古難之。世運日衰，元氣日薄，虛病日眾，方書日繁，而治法日誤，何歟？良由誤於因病似虛，因虛致病之分耳，請得論之。所謂因病似虛者，其人本無他恙，或感六淫之邪，或傷飲食之積，或為情志怫鬱，或為氣血瘀留，以致精神昏昧，頭目昏花，懶於言語，倦於動作，口中無味，面目痿黃，氣短脈沉，厥冷泄瀉，種種見證，羸狀雖彰，而鬱邪內固。病者每多不謹於恆，無不以虛自據，而畏攻畏涼，傍人但執外見之形，無不指其虛而勸補。醫者復多不明標本，專聽陳言病源，輒投補劑。即有明者，知其因病似虛，而又首鼠兩端，恐遭疑訕，遷延時日，坐失機宜，邪得補而愈甚，積得補而愈深。怫鬱者，解散靡從；瘀留者，滋蔓益甚，又安知此病之所為，非虛之所致也？苟非先去其病，安能即療其虛。譬之城池失守，而寇盜得以乘之，乃不事驅攘，惟汲汲於增墉置陴，終當劫資燔舍，斬關排䟾而後已。亦何益於事哉？故曰：因病似虛者，病為本而虛為標，治本而標自己，與其畏虛而釀成不可起之病，孰若去病而猶冀有可補之虛也，倘有以養正則邪自去，君子進則小人退之說為喻，是故大虛之中兼有實者論也。若夫因病似虛之不可補，又如一齊眾楚，雖進君子之藥，轉為小人進之用矣。所謂因虛致病者，其人先天之賦稟素弱，後天之調養復乖。或縱欲而傷精，或心苦而神耗，或處境有凍餒勞役，或任情有驕姿宴安。精傷者，腎曠其作強之官。神耗者，心失其君主之用。形寒飲冷傷肺，飢飽勞役傷脾，貧賤者多有之；大怒逆氣傷肝，醇醴厚味傷胃，富貴者多有之。內藏既傷，外患易作，以致陽虛惡寒，陰虛惡熱，上氣喘滿，脅脹腹膨，前後不通，躁擾悶亂，飲食不入，脈大無根，種種形證，虛而類實。雖肌肉未脫，而神宰消亡，即起居如常，而患端萌伏。然變證百出，本乎一虛，於此應補之際，而病人旁人轉生疑慮，或謂外邪未散，或謂內積未除。欲補陰，畏寒涼之傷脾；欲補陽，畏燥熱之助火，加之以無斷之醫，遷就苟合幸試圖功。殊不知此病之所為，皆虛之所致也！苟不專治其虛，安能分治其實。譬之旱澇相仍，四民失業，盜賊因而蜂起，使非眚災施赦，發粟賑貧，而猶以徵朱為事，恐朱之則不可勝朱，盜賊未靖而元氣益受困矣。故曰：因虛致病者，虛為本而病為標，亦治本而標自己，與其去病而虛不可保，毋寧補虛而病可漸除。倘醫者徒知應補，而又不別夫營衛陰陽逆從反正，陽虛而補陰，則如水益深；陰虛而補陽，則如火益熱，猶之因病似虛之法，而治因虛致病之訛也。辨此二者，則虛證治之斯易，又何有方書日眾，治法日誤之慮哉！</p>

<h2>中風五派異同論</h2>
<p>中風暴僕癱瘓等證，古昔所論，皆為外中風寒有餘之證，而用大小續命八方等湯，辛熱疏散之藥。及劉河間出，以為中風癱瘓者，非肝之風實，亦非外中之風邪，良由將息失宜，心火暴甚，腎水虛衰，不能制之，則陰虛陽實，熱氣怫鬱，心神昏冒，筋骨不用，而卒倒無知。亦由喜怒憂恐驚，五志過極，皆為熱甚。俗云風者，言末而忘其本也。至東垣則又云：中風非風，乃本氣病也。凡人年逾四旬，氣衰之際，或因憂喜忿怒傷其氣者，多有此證，壯歲之時無有也。若肥盛者間有之，亦是形盛氣衰所致。然亦有賊風襲虛而中風者，有三焉：中府者，病在表，多著四肢，故肢節廢；中臟者，病在裡，多滯九竅，故性命危；中血脈者，病在半表半裡，故口眼喎斜。丹溪則論之曰：諸書則謂外中風邪，惟劉河間作將息失宜，水火不濟，極是。若真中風邪，則東垣中腑中臟中經之說甚好，然地有不同，西北氣寒，真為風所中者有之。東南氣溫，皆是濕生痰，痰生熱，熱生風耳。有血虛，有氣虛。血虛者，左手足不仁；氣虛者，右手足不仁。此三子之論，異於古說者也。至王安道出，推河間；東垣非風之說，丹溪濕痰之言，遂以古論為真風。三子論為類風，愚竊有疑焉。夫河間既曰中風非風，又曰風者言末而忘其本也，就風末言則有風存之意，及用防風通聖，藥品雖瀉火而實以治風。東垣既曰中風，何又辨有三中之異？及致詳於治風之法，丹溪既云濕生痰熱，而何以又曰生風，予因知皆未嘗外於風，今別之為類風者，又何足以盡三子之旨乎？予考六經中善行數變者，莫如風也。挾寒而為風寒，挾暑而為風暑，燥為風燥，濕為風濕，兼熱則成火兼鬱則類氣。古昔類風止作風寒，而不及招風取中之因，冷熱虛實之變，有非辛熱之可通治。故諸子之論，各明其因也。所謂非風者，是矯飾之辭耳，何則。凡外邪之中人，皆由氣體先虛。經曰：邪之所湊，其氣必虛。且古之通稱風從汗散，而不審虛極者，難施辛散之藥，恐泄其真氣，愈虛其虛，是以東垣發氣本之論。俾學者知風因虛而中，當分虛實以治。又風雖為涼氣，若因火熱自甚，肝風燥動，腠理疏豁，風乘熱中，從火為邪，豈可例用辛溫，是以出火熱之論。深知世俗止知風末，而不知有火邪之本也。又東南二地，素鮮烈風寒，雖風不易中，間有中者，悉皆火熱內盛，因虛而致。非若北地常有大風甚寒，人體略虛，衣或單薄，純被風寒逼中也。是以丹溪深韙河間之說，以西北真為風所中者有之。東南之人，多由痰熱生風也。風本無意中人，人自取於風也。故風本一邪，有內外出入寒熱虛實之異，諸子各摛精論，何嘗外於真風，而別為類風哉。但當以古論為風寒邪實外至之證，是天致病於人也。三子論為痰熱氣虛內致之因，是人取病於天也。本乎外者，內輕而外重，取法於古；因於內者，內重而外輕，始從三子定中風論。</p>

<h2>中風證治論</h2>
<p>風之為病，最易誤治。誤治者，在不明其表裡耳。蓋外風者，八方之所中；內風者，五臟之本病也。八方自外而入，先有發熱惡寒，頭痛身痛之證，此因於外者，顯然有可察也。五風由內而病，則絕無外證，而忽病如風，其由內傷可知也，然既非外感，而經曰：諸暴強直，皆屬於風。諸風掉眩，皆屬於肝。何也？蓋肝為東方之臟，其藏血，其主風，血病則無以養筋，筋病則掉眩強直之類，諸變百出，此皆肝木之化，故云皆屬於風。謂之屬者，以五氣各有所主，如諸濕腫滿，皆屬於脾之類，其義同也。蓋有所中者，謂之中外感也。無所中者，謂之類中內傷也。故王安道有類中真中之辨，後世不明此義，不惟以類風者認為真風，而且以內奪暴厥等證，俱認為風，誤亦甚矣！夫外盛者，邪襲肌表，故多陽實。內傷者，由於酒色勞役七情口腹，致傷臟氣，故多陰虛。凡臟氣受傷，脾虛者，病在四肢，或多痰飲；腎病者，或如在髓，或在二陰；心病者，或在血脈，或在神志；肺病者，或在營衛，或在聲音；肝病者，或在筋瓜，或在脅肋。故東垣曰：有中風卒然昏憒不省人事者，此非外來之邪，乃本氣自病也。夫人生於陽而根於陰，凡陽虛則氣衰耗，故病在元神，神志為之昏亂；陰虧則則形體壞，病在精血，故肢體為之廢弛。俗以神離形壞之證，不求根本之虛，而以風治，鮮不危矣？然外感者，非云絕無虛證，氣虛則虛也；內傷者，非曰必無實證，有滯則實也。治虛者，當察其在陰在陽，而直補之；治實者，當察其因痰因氣，而暫開之。此於內傷外感虛實攻補之間，最當審其有無微甚，而配其治也。甚至有元氣素弱，猝然仆倒，上無痰，下失禁，瞋目昏沉，此厥竭之證，尤與風邪無涉。使非大劑參附，或七年之艾，破格挽回，又安望其復真氣於將絕之頃哉？倘不察表邪，不辨虛實，但以之為名，多用風藥，不知風藥皆燥，燥復傷真陰，風藥皆散，散復傷元氣，以內傷為外感，以不足作有餘，此促人之死也。可不慎哉！</p>

<h2>酒人多中風說</h2>
<p>按中風之證，先哲皆尚論邪之所湊，其氣必虛，而未嘗言虛之所自。乃後世輒指之曰：某中風因少年曾多斫喪也，某中風因高年尚有侍姬也。以余視之，房勞致虛者固眾，而沉湎致虛者尤多。蓋嘗歷治中風之人，強半系善飲者，亦大明驗也。按《內經》云：飲酒中風，亦名酒風。《醫壘元戌》云：酒濕之為病，亦能作痹證，口眼斜歪，半身不遂云云。丹溪亦曰；頭風之病，多見於嗜酒之人，頭風眩暈，即中之漸也。是知酒人多中，洵不誣也。蓋酒性溫散，善解腠理，衛虛則外邪易入，酒氣濕熱，能釀痰涎，痰多則內風易動。當少壯時，血強氣雄，不能為害。中年以後，經脈骨肉，皆糟粕之味，所積穀食漸減，蒸胃腐腸，雖或色澤榮華，而中實敗壞。譬之本根朽蠹，未遇狂風耳。丹溪論中風主濕與痰，雖未嘗專指曲，然致痰濕者，莫盛於酒。豈徒以衽席議虛哉？若酒色並嗜之流，又為雙斧伐木，其僕可立而待，不得獨冤狂樂矣。</p>

<h2>痹證析微論</h2>
<p>痹者，閉也，皮肉筋骨，為風寒濕氣雜感，血脈閉塞而不流通也。三氣之中，一氣獨盛，即能為痹也。《內經》痹名甚多，不能細數。如雲風痹寒痹濕痹者，指病之因；行痹痛痹著痹者，言病之狀；脾肝心肺腎痹者，言病之所屬；筋脈皮肉骨痹者，言病之所在。故昔人云：風寒濕氣所謂行痹痛痹著痹，又以所遇之時，所客之處，而命其名，非行痛著之外，別有何脈之五痹也。今世有憒憒者，問及痹證，輒曰；此痛風之類耳，亦不謬哉？惟近代王損庵列證最為有見，既以痹字提綱，復分條而直斷之曰：行痹者，行而不定，世稱走注、疼痛之類是也；痛痹者，疼痛苦楚，世稱痛風、白虎歷節之類是也；著痹者，著而不移，世稱麻木不仁之類是也。又走注與歷節不同，但支節疼痛，未必流行也。至於治痹之要，治行痹者，散風為主，祛寒利濕，仍不可廢。大抵參以治血之藥，蓋治風先治血，血行風自滅也。治痛痹者，散寒為主，疏風燥濕，仍不可缺。大抵參以補火之劑，非大辛大溫，不能釋其凝寒為害也。治著痹者，利濕為主，祛風解寒，仍不可少，大抵參以補脾補氣之劑，蓋土強可以制濕，而氣自足，自無麻頑也。然痹而因三氣者，治之宜然。若邪郁病久，風變為火，寒變為熱，濕變為痰，即當易轍尋之，以降火清熱溪痰為主，參以通經活血，流散邪滯之劑，安可全作三氣治哉？此義惟丹溪得之。在《內經》原自有熱痹之證，非鑿說也，故凡痹而知痛知癢易治，不紅不痛而痹者難醫。又宜圖之於早，遲則必至煩悶喘嘔，肺傷；上氣嗌乾腹滿，心傷；多飲數溲，夜臥則驚，肝傷；尻以代腫，脊以代頭，腎傷。四肢懈惰。發咳嘔沫，脾傷五臟，證險而難愈矣。外有胞痹、腸痹、周痹、血痹、支飲作痹等證。仍當博考群書，以求全旨。</p>

<h2>痿論</h2>
<p>經曰：神傷思慮則肉脫，意傷憂愁則肢廢，魂傷悲哀則筋攣，魄傷喜樂則皮槁，志傷盛怒則腰脊難俯仰，所以筋攣不便之證，為內因之病，不可倒作風治。然五痿論云：有所失亡，所求不得，則肺熱葉焦，皮毛枯燥而生痿躄，名曰皮毛痿。悲哀太甚，則經絡絕，名曰脈痿。思慮無窮，熱入於肝，致出白淫，名曰筋痿。感於卑濕，土氣傷脾，致肌肉不仁名曰肉痿。勞倦熱渴，陽氣內乏，熱舍於腎，腰脊不舉，甚則骨髓枯減，名曰骨痿。夫皮毛筋脈三痿，固為內因，而骨肉二痿，又屬外感。況生氣通天論云：因於濕，首如裹，濕熱不攘，大筋軟短，小筋弛長，軟短為拘，弛長為痿，觀此則痿亦有外感者矣。丹溪以痹為外感風寒實邪，痿為內因濕熱本虛。愚謂痹乃正氣本和，因外感之風寒冷濕，為剛烈之邪，當以有餘名之。痿乃正氣本虛，致成怫鬱懈惰之病，為柔緩之邪，當以不足名之。故或因初感七情，乃飲食厚味，中焦鬱積，淫氣不清，濕熱乘虛而痿者有之。或因初感濕痹，郁久成熱，氣血漸虛為痿者有之，難以拘論也。至於治法，如濕勝者，則有脾胃虛濕之證，脈微而緩弱，宜滲水燥土。熱勝者，則有內傷鬱熱之證，脈虛而浮大，宜益氣清熱，此內經治痿獨取陽明之法也。如肝腎精血虛而濕多者，謂之正虛，宜溫補精髓，內雖有熱，乃為虛熱，補之自除。若真火熱勝者，謂之偏虛，脈必沉數，及兼遺精，白濁、陰火等證，宜滋陰降火。熱甚者，宜服瀉火表劑以救肺熱，此丹溪治痿瀉南補北之法也，有用愈風湯、健步丸，以治濕熱相半之痿，愚謂止可施於挾風之證。若風邪甚者，又為痹矣。</p>

<h2>風痹痿論</h2>
<p>風者，以病因而為名者也。痹與痿，以病形而為名者也。夫風為六淫之長，痹則三氣雜合，故有以風痹同稱者。因其病形之相似也。痹與痿，俱有筋骨皮肉脈五者之分，又俱有氣血不行，肌肉不仁，四肢不用等證，故有以痹痿同稱者，因其病形之相似也。至於風與痿，則不可概而稱，又不可概而治，此丹溪所以斥《局方》之非，正千古之誤。而徐彥純特分風痿為二門，有功於來學不小。雖然，寧獨風與痹不可混，即風證與痿皆不可混。如風證之四肢不用，分左癱為血虛為痰，右瘓為氣虛有痰。痹證之四肢不用，乃濕土化，重著不移，傷於風，則陽受之，感於風寒濕，則陰受之，是風與痹之不可混而稱，亦不可混而治也。痹者，三氣雜至，為外來有餘之邪，法當疏風散寒利濕為主，則氣行血順而愈。痿則積虛內熱，而後病及於臟，為內生不足之證，法當獨取陽明，或兼瀉南補北，則氣升血旺而愈，是痹於痿之不可混而稱，亦不可混而治也。然則三者，既不可混，將安別之？亦在夫脈與證相參而已。如因中風卒倒之後，以至半身不遂，或手足不隨，兼有痰不語，口眼歪斜等證，雖有氣虛血虛之分，然留而不去，其病則實。此風證也。其脈必浮而滑。如因汗出當風，坐臥卑濕，涉水沖寒，以至骨節疼痛，皮膚不仁，肢體重著，四肢緩縱引急等證，雖與風證同系外邪，然引痛重著，自有三者之狀，此痹證也。其脈必緊而澀。如因七情勞役，酒色無節，既非沖寒受濕之邪，又無卒倒暴厥之證，日漸痿疲，而至精枯髓減，筋骨痿弱，緩縱不收，此痿證也。其脈必虛而數，明乎此，則三證之不可混，洞若觀火，又安得有混治之誤哉！</p>

<h2>厥論</h2>
<p>厥者，手足逆冷，陰陽不相接之謂也。凡陰虛而不接者，則溫之；陽陷伏而不相順者，則下之。熱邪入而未深者，則散之，皆四肢逆冷之厥也。至於《內經》厥意則不然，以足三陰起於足趾之端，足三陰聚於足心之下。若陽氣盛則陰氣虛，陽乘陰位，故熱厥，必從足下始，而陰虛之病，足心多熱也。若陰氣勝則陽氣虛，陽不勝陰，故寒厥，必起於足五指而不行於膝，其寒非從外入，皆由內生。所以陽虛之證，四肢多不溫也，論得寒厥之由，則謂其人自恃質壯，於秋冬陰盡之時，縱欲以奪精，精虛於下，寒氣因而上逆，陽衰不能滲營其經絡，而手足寒也。論得熱厥之由，則其人醉飽入房，酒谷之氣相薄，耗竭真元，脾腎之陰傷於內，元陽無制，而手足熱也。夫陰陽內外，各有所司。陽主表，其氣溫，陰主裡，其氣寒。表裡之脈，循環相接於四肢，故舉傷於酒色，以陰陽二厥之大者為例。著於篇首，續序十二經病形，皆不言手足之厥，亦不及受病之因，謂二例在前，可因此而推之。故葉氏曰：內經所謂寒熱二厥，乃陰陽氣逆而為虛損之證。寒厥補陽，熱厥補陰，正合王太僕壯水之主以制陽光，益火之源以消陰翳之法。仲景、河間、安道所論，乃傷寒手足之厥冷也，證既不同，治法亦異，可稱明辨。他如煩勞過度，陽氣必張，陰精內竭，積至於夏，則為煎厥。大怒傷肝，形氣暴絕，血菀於上，則為薄厥，亦名氣逆。二陽一陰發病，則為風厥。五絡俱竭，或飛屍鬼擊，卒然中惡，則為屍厥。惡血衝心，則為血厥。痰涎迷悶，則為痰厥。因醉得者，則為醉厥。因飽得者，則為食厥。此皆卒中暴僕之厥也。外有骨枯爪痛為骨厥，身立如椽為骭厥，漏而強直為陽明厥，長蟲吐出為蛔厥，與夫厲頭痛，厥心痛，厥腰痛、厥疝、痿厥、痹厥、腳氣厥等，此因有逆氣而名厥者也。學者詳其治以施之。</p>

<h2>風厥辨</h2>
<p>《內經》風厥並陳，後世不察，概以卒倒暴厥之急候名為中風，僅以手足逆冷則名為厥，抑何顛倒之甚也。經云：暴厥者，不知與人言。又云：血之與氣，並走於上，則為大厥，厥則暴死，氣復反則生，不反則死。又云：手足少陰太陰，足陽明，五絡俱竭，令人身脈俱動，而形無知，其狀若屍，或曰屍厥。觀此則不但手足之謂，辨之之法，靜而不搐者為厥，動而伸搐者為風；脈微身冷者為厥，脈浮身暖者為風。風為邪氣有餘，病多經絡之受傷。厥為正氣不足，或挾氣食卒倒，純系外邪。病形俱實者，乃為中風。氣衰邪犯，形虛病實者，即名風厥。絕無外邪，形病俱虛者，是名暴厥。又若因氣、因食、因邪祟暴僕之證，既可名中氣、中惡、中食，亦可名氣厥、食厥、屍厥也。如此則經旨彰明。風厥有別，而從來類中風證紛紛辨喙可息矣。</p>

<h2>傷寒約法</h2>
<p>（從李念莪刪本）</p>
<p>傷寒一法，變態不測。其中立言之善，無出仲景。用藥之善，須遜節庵。其於曲折之微，靡不詳盡，余復何言？然猶有不能已於言者，在於條目之洪繁，而後學求之不易也。陶節庵曰：得其綱領，易如拾芥，脈證與理而已，求之多歧，則支離破碎，如涉海問津矣。脈證者，表裡陰陽虛實寒熱也。理者如其常，通其變也。多歧者，蔓衍之方書也。余有感於斯言，約六法以盡之。曰：汗吐下溫清補。汗者，治其表也，而汗法有三，一曰溫散，寒勝之時，陰勝之臟，陽氣不充，則表不解，身雖有大熱，必用辛溫。一曰涼解，炎熱熾盛，表裡枯涸，陰氣不榮，亦不能汗，宜用辛涼。一曰平解，病在陰陽之間，既不可溫，又不可涼，但宜平用期於解表而已。吐者，治在上也，吐中有發散之意，可去胸中之實。經曰：在上者，因而越之是也。下者，攻其里也。而下法有五，痞滿在氣，燥實在血，四證具者，攻之宜峻也。但見滿燥實者，攻之稍緩。但見痞實者，攻之更緩，或行血蓄，或逐水停，輕重緩急，隨證變通也。溫者溫其中也，臟有寒邪，不溫則死。夫氣為陽，氣虛則寒，故溫即是補。又名救里者，以陽虛可危，急當救里也。清者清其熱也，有熱無結，本非下證，若不清之，熱何由散，下後餘邪亦宜清之。補者補其虛也，古人言之已詳，今人畏而不用，使傷寒犯虛者，坐而待斃，大可憾也！如屢發而汗不解，陰不能達也，人知汗屬於陽，升陽可以解表，不知汗生於陰，滋陰可以發汗也。又如內熱不解，屢清火而不退，陰不足也，人知寒涼可以退熱，不知壯水可以清火。又如正虛邪熾，久而不痊，補正則里自除，溫中則邪自散，此必見衰微之陰脈者也。《傷寒論》曰：陰證得陽脈者生，陽證見陰脈者死。人皆奉其言，未知釋其義。夫正氣實者，多見陽脈；正氣者，多見陰脈。證之陽者，假實也；脈之陰者，真虛也。陳氏曰：凡察陰證，不論熱與不熱，惟憑脈用藥，是為穩當，不論浮沉大小，但指下無力，重按全無，便是伏陰。然則沉小者，人知為陰脈，而不知浮大者，亦有陰脈也，是則傷寒雖有萬變，虛實二字，可以提綱。正勝則愈，邪勝則死。正氣實者，雖感大邪，其病亦輕。正氣虛者，雖感微邪，其病亦重。氣實而病者，攻之即愈，雖不服藥，經盡亦安，何足慮也。所可慮者，惟挾虛耳。奈何庸淺之輩，不察虛實，但見發熱，動手便攻，虛而攻之，無不死者。且曰傷寒無補法，謬之甚矣！獨不觀仲景三百九十七法，而治虛寒者，一百有奇。垂一百一十三方，而用人參附桂八十有奇，東垣、丹溪、節庵，亦有補中益氣，回陽返本，溫經益元等湯，未嘗不補也，而謂傷寒無補法可歟。</p>

<h2>論六經無再傳</h2>
<p>傷寒傳變，邪熱漸入，而六經以次受之，六經傳盡，無出而再傳之理也。欲知其傳之始末，先別人身六經。足太陽為三陽，最在外；陽明為二陽，在太陽內；少陽為一陽，在陽明內；此三陽為表也，皆由內以數至外。故一二三之次第如此，傷寒由表入里，邪氣漸以深，傳六七日厥陰也，此論其常耳。變則不可拘於次第，拘於日數。其傳至厥陰，為傳經盡，再不復傳。成氏曰：六曰厥陰傳經盡，七日當愈，七日不愈者，謂之再傳，言再自太陽傳至厥陰，謂傳經盡，十三日當愈，十三日不愈者，謂之過經。謂再過太陽經，以次而傳也謬矣！馬仲化曰：自太陽以至厥陰，猶人由戶登堂入室，厥陰復出而傳於太陽，奈有少陰太陰少陽陽明以隔之，豈有遽出傳於太陽之理？此斥再傳之非，誠千古斷案，惜乎釋七日病衰，猶有未明，使後人於傳經不無障蔽耳。然則邪氣之入，果無由里而出於表者乎？其在太陽篇曰：欲自解者，必當先煩，乃有汗而解。何以知之？脈浮故汗出欲解也，此以脈浮知邪氣還表，知是向安之地，不待更用湯藥。邪自外散者，散則復何傳焉？須知里邪不出則已，出則欲愈，非欲傳也。或曰：太陽篇云：太陽病頭痛，七日以上自愈者，以行其經盡故也。若欲作再經者，針足陽明，使經不傳則愈，此非一日至六日傳三陽三陽經，至七日當愈。不愈者，則太陽之邪再傳陽明者歟。曰：傷寒始於太陽受病，以次而終，於厥陰為傳經盡。諸經受病，凡七日自愈者，為行其經盡。太陽病至七日頭痛自愈者，以行太陽經盡也。邪氣行來始終，則在太陽一經而盡，其七日當愈之數也。太陽篇曰：發陽者七日愈，以陽數七故也。若七日以上不自愈，欲過太陽一經，當針足陽明經，迎而奪之，使不傳陽明則。愈玩其行經之句，不曰傳經盡，則仲景之意昭然矣。成氏誤以行其經盡。為傳（遍）六經，則厥陰之邪，再傳太陽，太陽再傳陽明，則宜厥陰未傳太陽之前，預針太陽矣，何必欲傳陽明而後針陽明哉？或曰：霍亂篇有曰十三日愈，所以然者，經盡故也。此非傷寒傳變三陽三陰。後六日再傳經盡，十三日當愈者歟。太陽篇有曰：傷寒十三日不解。過經譫語者，以有熱故也，當以湯下之。此非十二日再傳經盡，十三日不愈者，謂之過經者歟，如太陽行其經盡之謂也。由太陽受病於一日至七日，為行太陽經盡之理推之，則諸經皆屈指而期矣。陽明受病於二日至八日自愈者，謂行陽明經盡。少陽受病於三日至九日自愈者，為行少陽經盡，卻四五日至三陰上，次第至十二日自愈者，為行厥陰經盡。十三日當大氣皆去，精神爽慧之期也，故曰若過十三日不間，尺寸陷者為大危。其曰十三日不解，過經譫語者，正以當解之期，不解乃過於經，而入於裡。此為內實，而熱結於裡也，當以湯下之。此泛言過經，不專指何經者也，何嘗有再傳經盡謂之過經之旨哉？詳考過經之意，或有言過太陽經成里證者，或有專言過太陽經者，或有泛言過太陽經者，可引而證之。陽明篇曰：汗出譫語者，以有燥屎在胃中，此為風也，過經乃可下之。蓋謂燥屎在胃中而譫語者，其風邪在表而汗出，其燥屎在胃中而當下，須過太陽經，無表證而結於裡，乃可下之，此言過太陽經而成里病者也，果如成氏十三日再傳經盡，謂之過經，則燥屎在胃，乃待十三日乃可下之乎。於此則注曰：須過太陽經無表證，乃可下之，則無再傳經盡。謂之過經者，相矛盾也。太陽篇曰：太陽過十餘日，及二三下之，後四五日，柴胡證仍在者，先與小柴胡湯。蓋謂太陽經無太陽表證也，然里證未具者，未如下。及二三下之，後四五日當有少陽柴胡證者，須與小柴胡湯。此則專言過太陽經者也。霍亂篇曰：下痢後，當便鞭能食者愈。今反不能食，服則復過一經，過一經能食，過一日當愈，不愈則不屬陽明也。此承上文言下痢霍亂後亡津液而便硬。硬而能食者愈。屬陽明胃氣和也。今反不能食。傳入後一經中，頗能食，是復過一經能食矣，此暴熱使之能食。非陽明胃氣和也。此泛言過經者也。何嘗有再傳經盡謂之過經之旨哉？況邪傳六經，豈有三度之理。朱氏釋仲景書。闡明奧旨。惠及後世多矣。猶於傳經少達，乃至穿鑿之甚。蘊要祖成氏之注。其過經不解例注曰：經言傷寒十三日不解謂之過經，仲景焉有此話？是以成注為經矣。其六經傳變論又曰：過經不解，乃為壞病。夫仲景所謂壞病者，言為逆犯所壞也。蘊要之說，訛上之訛也。陶尚文曰：傷寒汗不愈而過經，其證尚在而不除者，亦溫病也。更不可曉。</p>

<h2>論寒證無傳經</h2>
<p>太陽篇曰：無熱惡寒者，發於陰也。此言寒邪直中陰經之寒證也。始終則在一經非若熱證之傳經者也。人傷於寒者，自表而始，則皮膚受傷，陽氣不能伸越，乃鬱而成熱，是為發於陽之熱證，表邪不解，則以次而傳經。若夫非表始而直入於陰經，不由陽鬱熱而來，初起便手足厥冷，或惡寒伴倦，成無熱惡寒之證。始於陰經，是為發於陰之寒證，三陰所見，雖有吐痢，語證稍異，如自利不渴屬太陰，自痢而渴屬少陰之類，皆起於無熱惡寒，乃其常耳。惟少陰有始得之反發熱脈沉者，以罕有是證，故語其變而曰反也。然則發於陰經之寒證，豈可與發於陽經之熱證並論哉？熱證屬陽，寒證屬陰，陰陽動靜，造化自然。陰寒直入，只在一經無傳之理。何成氏昧於此，謂其從太陽始，亦以次而傳變六經，且以再傳三傳推之，有是理乎？《少陰篇》曰：少陰病，脈微細，但欲寐者，陰主靜也。乃注曰：邪氣傳裡深也。若此之類，無始得便厥之文。蓋誤認為熱證，無惑乎傳裡之說也。《厥陰篇》曰：傷寒厥四日，熱反三日，復厥五日，其病為進，寒多熱少，陽氣退，故為凶也。夫先厥四日者，寒邪直入厥陰陰勝也。熱後三日，陽氣欲復耳，非變為傳經之熱證也。復厥五日者，陰氣勝陽，陽不能復，故曰病進。乃注曰：先厥四日，卻熱三日，七日傳經盡當愈。若不愈而復厥者，再作傳經，蓋再從太陽傳裡之謂也。陽經受病，必鬱而成熱，有先厥者乎？《靈樞》曰：邪之中人，或中於陰，或中於陽，何嘗必自太陽始耶？蓋因其或寒或熱，不知始終。只是厥陰證，亦無惑乎傳經之失也。至若辨脈篇曰：其脈沉而遲，不能食，身體重，大便反硬，名曰陰結也，期十四日當劇。注曰：沉遲陰結也，不能食，身體重，陰證也。陰病見陰脈則當下，今大便硬者，為陰氣結，陽不得而雜之，是名陰結。成氏知其寒證為純陰矣，而復以傳經至再三釋之。夫既為陰氣結固，則結固於里者，能出而傳之表乎？不可下篇曰：無陽陰強，大便硬者，必清穀腹滿，此即陰結之寒證也。成氏亦注曰：陰強者寒多，陰結即裡寒之證，其有傳經者哉。總由不知傷寒有直入三陰之寒證，又不知寒邪與熱病大不相同，其意混謂中寒則必傳經。故雖知寒氣勝而先厥者，概以自表而傳論之。三陰註釋，誤者紛紛，立言垂訓之士，胡為若此，學者明於取捨，始得尚友之道矣。</p>

<h2>訛稱陰證辨</h2>
<p>人傷於寒，有陰陽二證，陽證不具論。中所謂陰證者，傳經之陰證，即三陽熱病。以次及於三陰，而見腹滿咽乾，口燥渴，煩滿，囊縮諸證是也。有直中之陰證，乃寒邪不由陽經直入三陰而來，無熱惡寒，唇青舌卷，厥冷自痢等證是也。有傳陽變陰之陰證，即陽病汗下太過，真氣虛脫，或病中不慎，保攝失宜，以致熱邪變寒，亦如直中陰經之證是也。舍二者無所謂陰矣。乃今吳下俗傳，凡系人房後而感寒邪，輒名證陰，殊屬不解。若乃男因女而得曰陰，則女因男而得者，當名陽證矣。夫既有訛稱，則必誤治而投溫補之劑。設令其人陽虛感邪，猶有邪得補而愈甚之誤。若精虧火旺，與熱邪並熾者，其誤可勝言哉？使房勞受寒，謂之邪乘虛入則可，直曰陰證則不可也。誤稱之害小，誤治之害大，不得不辨。</p>

<h2>釋六經七日病愈</h2>
<p>六經以漸受病，其愈皆以七日為期，陽數七故也。傷寒例曰：其不兩感於寒者，更不傳經，不加異氣者，至七日太陽病衰，頭痛少愈；八日陽明病衰，身熱稍歇；九日少陽病衰，耳聾漸聞；十日太陰病衰，腹減如故，則思飲食，十一日少陰病衰，渴止舌乾，已而嚏；十二日厥陰病衰，囊縱，少腹微下，大氣皆去，病人精神爽慧也。此論六經七日病愈，本諸《素問·論熱篇》，彼此註釋者，皆不能無誤，皆未明也。敢釋之曰：其者指傷寒也，不兩感於寒者，不是一日並傳陰陽二經也。更不傳經者，邪在此經，更不傳彼經也。不加異氣者，傷寒病熱不重，感寒感風感濕感溫熱而變他病也。夫如是，則可期六經病愈日期矣。太陽篇曰：發於陽者七日愈，以是數計之，乃知六經之病自一日受者，七日當衰。二日受者，至八日衰。亦是七日之數也。故七日邪在太陽，幸而更不傳陽明，更無變證。則至七日太陽病衰，頭痛少愈，如或二日邪受陽明，更不傳變。至八日而陽明病衰，身熱少愈。又或邪受少陽，更不傳變，至九日少陽病衰，耳聾微聞，如四日邪傳少陰，更不傳變，至十一日少陰病衰，渴止舌乾已而嚏。又或六日邪傳厥陰，傳經盡而更不傳變。至十二日厥陰病衰，囊縱少腹微下也，大氣皆去，病人精神爽慧。此二句總承六經而言，如言或傳或不傳，當病衰時，則皆大氣去而精神慧也。成氏注曰：六經傳變，則與更不傳經之說背矣。《素問》馬氏注：七日之際，巨陽病衰，頭痛少愈。正以初時所感之邪太盛。既以二日傳之陽明矣。而其未盡傳者何？在太陽至此，而比之一日之際少愈焉　，六日傳至厥陰，而其未盡傳者，尚在少陰，至十二日比之六日之際少愈焉，如果傳至陽明，由此而傳之厥陰，當六日之時。前之邪氣未盡傳者，俱如太陽之尚在。頭痛以至囊縮，諸證紛紜，甚於兩感矣。七日之際，焉得不死，反曰病衰乎？況太陽受病，若必傳變六經，則二日陽明，三日少陽，本經猶有頭痛，至四日傳太陰，太陰經不至頭，當腹滿咽乾之時，不得有頭痛矣。何必至七日而頭痛少愈也。或曰：太陽傳陽明，其未盡傳者，尚在太陽，豈無是證歟？曰：有之，是太陽陽明並病之證也。若釋太陽證衰而傳之陽明，如此則非矣。由歧伯無更不傳經，不加異氣二句，而馬氏注《素問》：遂失合仲景之意耳。或曰：所謂更不傳經者，謂六經傳遍，七日當再傳太陽也，噫！此因成氏註釋之謬，後世有是說耳，然已辨之詳矣。或曰：子謂更不傳經，如曰太陽更不傳陽明者，有據乎？太陽篇曰：傷寒一日，太陽受之，脈若靜者，謂不傳也。少陽篇曰：傷寒三日，三陽為盡，三陰當受邪，其人反能食而不嘔，此為三陰不受邪也，是皆當傳不傳者也。雖仲景此篇似有可疑，曰頭痛少愈，身熱少歇，耳聾少聞，少腹微下，是病衰而未全愈也。曰腹減如故，渴止舌乾已，大氣皆去，而後為全愈也。六經病衰與愈，何不同歟？要之，仲景之論，本之《素問》，學其大體而已，即六經病衰之期，寧無先之者乎？後之者乎？傷寒原不以日數拘也，況傳經六日，至於囊縮，危且急矣。得至十二日病衰而囊縱者，不可以為常也。學者當以圓通得之。</p>

<h2>溫病熱病解</h2>
<p>（原病集）</p>
<p>傷寒者，以病因而為病名者也。溫病熱病，以天時與病形而為名者也。由三者皆起於感寒，或者通以傷寒稱之。夫通稱傷寒者，原其因之所自耳。至於用藥，不可以一例施也，何也？人之傷寒，蓋於霜降後，春分前，天令嚴冷之時，感而即發。寒邪閉其腠理，故非辛甘溫之劑，不足以散之，此仲景所以桂枝麻黃等湯之必用也。溫病熱病，在霜降後春分前，感不即發，寒邪伏於肌肉，至春夏天令暄熱之時，怫然自內達外，郁其腠理，無寒在表。此非辛涼之劑，不足以解之。此桂枝麻黃等湯之所以不用也。而後人所處沖和湯，通解散、解肌湯，調和表裡者之所以可用也。夫即病之傷寒，有惡風惡寒之證者，風寒在表，而表氣受傷故也。後發之溫病熱病，有惡風惡寒之證者，重有風寒新中，而表氣亦受傷故也。若無新中之風寒，則無惡風惡寒之證。即間有之，亦因病人表氣本虛，熱達於表，又重傷表氣，故不禁風寒。非傷風惡風，傷寒惡寒，但衛虛則惡風，營虛則惡寒耳。故仲景曰：太陽病，發熱而渴不惡寒者，為溫病。不惡寒，則病非外來，渴則明其熱自內熾，溫病如此，則熱病可類推矣。凡不渴而惡寒者，非溫病熱病明矣。然溫病熱病，亦有先見表證而後入里者。由怫鬱自內達外，熱鬱腠理，不得外泄，遂還里而成可攻之證，非如傷寒從表而始也。或者不悟此理，乃於春夏溫熱病，而求浮緊之脈，不亦疏乎？不知緊為寒脈，有寒邪則見之，無寒邪則不見也。豈其本然哉？又或者不識脈形，但見弦便呼為緊，斷為寒而妄治。蓋脈之盛而有力者，每每見弦，豈可錯認為緊而斷為寒。夫溫熱病之脈多在肌肉之分而不甚浮，且右手反甚於左手，誠由怫鬱在內故也。其或左手盛或浮者，必有重感於風寒，否則非溫熱病，暴感風寒之病耳。凡溫熱病，苦無重感表證，雖見而裡熱為多，故不渴者少。治法當以清熱為主，而解表兼之。亦有治里而表自解者，余每見世人治溫熱病，或誤攻其里，猶無大害。誤發其表，變不可言。此足以明其熱之自內達外矣。其間有誤攻裡而致大害者，乃春夏暴寒所中之疫證。邪純在表，未入於裡故也。寧可與溫熱同論哉？夫惟世以溫熱病混稱傷寒，故每混寒熱二字，以求浮緊之脈，以用溫熱之藥，又方書多混稱四時傷寒，每以春夏之溫熱病，與秋冬之傷寒一類治之而無別。不知秋冬之傷寒，真傷寒也。春夏之傷寒，疫病也。與溫病自是兩塗，豈可同治？況傷寒之有直傷陰經與太陽，雖傷不及鬱熱，即傳陰經為寒證而當溫者，又與溫熱大不相同，其可妄治乎？或者知一不知二，謂仲景發表之藥今不可用，而攻裡之藥乃可用。嗚呼！其可用不可用之理，果何在耶？彼時行不正之氣所作，及重感異氣而變者，又當觀其何時何氣，參酌傷寒溫熱之法，損益而治之，尤不可例以仲景即病傷寒之藥通用也。</p>

<h2>辨正風溫溫瘧溫毒溫疫</h2>
<p>《內經》云：冬傷於寒，春必病溫。又云：冬不藏精，春必病溫。此論熱溫病之大原也。《傷寒論》云：太陽病，發熱而渴，不惡寒者，為溫病。若發汗已，身灼熱者，名曰風溫。風溫為病，脈陰陽俱浮，自汗出，身重多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲。若被火者，微發黃色，劇則如驚癇，時瘛瘲，若火熏之，一逆尚引日，再逆促命期。此論溫病之大勢也。自王叔和論溫條中，有風溫、溫瘧、溫毒、溫疫四變之說，而其旨反晦。蓋冬傷於風，至春始發為風溫。冬傷寒，至春始發為溫病，其理一也。觀仲景於溫字上加一風字，正以別夫傷於寒者耳。汗後身反灼熱，脈陰陽俱浮，身重多眠睡，鼻息必鼾，語言難出，一一盡顯傷風之因，則不可復從溫病之傷寒施治矣。故溫為怫鬱，自內達外，不可發表。風溫為衛虛自汗，更不可發表。即誤下亦致表邪內陷，誤火亦致外助溫氣，皆為促其死亡。後人不察，惜其有論無方，詎知森森治法，全具於傷風傷寒證中，正賴後人之因時設施乎。叔和不究精微之用，謂風溫即是溫病之變。不知仲景正特出手眼處，見冬不藏精之人，兩腎間先已習習生風，得溫風相召，而病發於春。溫病中之風溫，亦猶冬寒證之有傷風也。後世喻嘉言別其重感重變之誤，誠為卓識，但謂溫病發於太陽經，風溫中於少陰經，誤之甚矣。風溫如果中於少陽，則下之必致死亡，熏之必得少解。焉有初起反發熱脈浮，誤下止便不利，誤火則一逆再逆哉？至若溫瘧者，因冬不藏精，邪本輕淺，故止成瘧，寒熱時發時止，非外感之正病也。《內經》云：溫瘧得之冬中於風，寒氣藏於骨髓之中，至春則陽氣大發，邪氣不能自出，因遇大暑，腦髓爍，肌肉消，腠理發泄，或有所用力，邪氣與汗俱出，此病藏於腎，其氣先從內出之於外，名曰溫瘧。可見溫瘧為冬不藏精，故風寒得以入腎。又見溫瘧，遇溫尚不易發，必大暑大汗始發之也。叔和以重感於寒立說，豈其不讀《內經》乎？又如溫毒者，因久病不解，熱邪熾甚，亦溫病中之一病也。溫證之有溫毒，亦如傷寒之有陽毒陰毒耳，仲景不以傷寒中之寒毒另有一證，叔和何得以溫病中之溫毒別立一名，更如溫疫因時下另感一氣，乃溫病而加時加疫，又非溫證之比矣。其辨詳於喻氏《溫疫論》中。</p>

<h2>溫疫論</h2>
<p>聖王御世，春無愆陽，夏無伏陰，秋無悽風，冬無苦雨。乃至民無夭札，物無疵癘，太和之氣，彌滿宇宙，安有所謂溫疫哉？然而周禮儺以逐疫，方相氏掌之，則溫疫之由來久矣。古人元旦汲清泉以飲芳香之藥，上已採蘭草以襲芳香之氣，重滌穢也。後漢張仲景著《傷寒論》，欲明冬寒春溫夏秋暑熱之證，自不能併入疫病以混常法。然至理已畢具於脈法中，叔和不為細繹，乃謂更遇溫氣變成溫疫，又謂春應溫而反大寒，夏應熱而反大涼，秋應涼而反大熱，冬應寒而反大溫，非其時而有其氣，是以一歲之中，長幼多病相似者，此時行之疫氣也。又謂從春分節以後至秋分節以前，天有暴寒，皆為時行寒疫，是皆使人不能無疑者耳。蓋四時不正之氣，感之者，因而致病，初不名疫也，因病致死，病氣屍氣，混合不正之氣，斯為疫矣。以故雞溫死雞，豬溫死豬，牛馬溫死牛馬。推之於人，何獨不然。凡饑饉兵凶之際，人體虛乏，所以溫疫病盛行，大率春夏之交為尤甚，因溫暑溫熱之氣交結互蒸，人在其中，無隙可避，故沿門合境，受之者，無不渾身壯熱，眩暈嘔逆，病如一類。況乎共室連床，邪穢尤易相親，屍蟲載道，呼吸即能相染哉。是以盛夏溫熱之病，即藏濕熱在內。一人受之，即為濕溫，一方遍傳，溫為疫也。然世俗所稱大頭瘟者，頭面腮頰腫如瓜瓠是也；蝦蟆瘟者，喉痹失音，頸節脹大是也；瓜瓠瘟者，胸脅高起，嘔汁如血是也；疙瘩瘟者，遍身紅腫，發塊如瘤者是也；絞腸瘟者，腹鳴乾嘔，水泄不通是也；軟腳瘟者，便清泄白，足重難移是也。小兒痘疹尤多，以上疫證，倘不明治法，咸委之劫運，謂非醫者之罪耶？觀仲景於平脈篇中雲：寸口脈陰陽俱緊者，法當清邪中於上焦，濁邪中下焦，清邪中上，故名潔也。濁邪中下，故名渾也。陰中於邪，內必慄也。凡二百六十九字，闡發奧理，全非傷寒所有之事，乃邪疫從入之門，受病之總，人自不識耳。篇中大意，謂人之鼻氣通於天，故陽中霧露之邪為清邪，從鼻息而上入於陽，入則發熱頭痛項強頸攣，正與俗稱大頭瘟，蝦蟆瘟之說符也。人之口氣通於地，故水土之邪，為飲食濁味，從口舌而下入於陰，入則人必先內慄，足膝逆冷，便溺妄出，清便下重，臍築揪痛，正與俗稱絞腸瘟、軟腳瘟之說符也。然從鼻口所入之邪，必先注於中焦，以次傳布上下。故中焦受邪，因而不即治。則胃中為濁，營衛不通，血凝不流，其病變即在中焦，俗稱瓜瓠瘟、疙瘩瘟等證，則又陽毒癰膿，陰毒遍身青紫之類是也。凡傷寒之邪先行身之背，次行身之前。由外廓而入，故邪在表者，汗之即散。邪在裡者，下之即解。溫疫之邪。則直行中道，散漫三焦，故雖表之不散，攻之復合，此疫證與傷寒表裡諸法，所以略無干涉也。治者於未病前，先飲芳香正氣藥，使邪不能入。邪即入，則以逐穢為第一義，斯又得焉。上焦如霧，升而逐之。中焦如漚，疏而逐之；下焦如瀆，決而逐之；各兼以解毒，使營衛既通，乘勢逐拔，病安從奈我哉。</p>

<h2>中暑中熱論</h2>
<p>潔古云：靜而得之為中暑，動而得之為中熱，中暑為陰證，中熱為陽證。東垣云：避暑熱於深堂大廈得之者，名曰中暑。其病必頭痛惡寒，身形拘急，肢體疼痛而心煩，肌膚大熱而無汗，是為房室之陰寒所遏，使周身陽氣不能升越，大順散主之。若行人或農夫，於日中勞役得之者，名曰中熱。其病必苦頭痛，發躁惡熱，捫之肌膚大熱，大渴引飲，汗大泄，無氣以動，乃為天熱外傷肺氣，蒼朮白虎湯主之。余竊謂之不然。蓋暑熱者，夏之令也。大行於天地之間，或勞動，或飢餓，元氣虧乏，不足以御天令亢熱，於是受傷而為病，名曰中暑，亦名中熱，其實一也。今乃以動靜所得分之，何哉？夫中暑熱者，因多在勞役之人，勞役則虛，虛則邪入，邪入則病不虛，則天令雖亢，亦無由以傷之。彼避暑於深堂大廈，得頭痛惡寒等證，蓋亦傷寒之類是耳，烏得以中暑名之耶？其所以煩心與肌膚大熱者，由身中陽氣，為陰寒所遏而作，非暑邪也。苟欲治之，非辛溫發散之劑不可，今乃以大順散治之，吾恐不能解表，反增內煩矣。夫大順散一方，原其初意，本為冒暑伏熱引飲過多，脾胃受寒濕而立。故甘草、姜皆經火制，又用肉桂而非桂枝，蓋溫藥也。內有杏仁，不過取其能下氣耳。今世俗往往不明，類曰夏日陰氣在內，大順散必用之藥。籲！其誤也不亦甚歟！夫陰氣非寒氣也，以夏月陽氣發散在外，故陰氣在內耳。豈得治陰氣為寒氣而用溫熱之藥乎？陰果為寒，何以夏日則飲水乎？其白虎湯雖宜用，亦不可視為通行之藥，必參之治暑諸方，隨所見證而用之，然後合理。若所謂靜而得之之證，雖當暑月，原非暑證，宜分出治之，使後人勿致有似同而異之感。</p>

<h2>附傷暑脈證論</h2>
<p>觀仲景論傷寒，則知中暑中暍中熱，同一夏令之病，但其脈證有虛實耳。何潔古強以動靜分暑熱，而與夏日傷冷之病並稱乎？此亦名不正矣。大約暑之傷也，勞苦多得之。闈要云：暑邪中太陽，開腠理，奪正氣，若隨汗大泄，邪不入里，所謂精氣奪則虛。而發熱者，虛火是也。脈當遲細，宜扶正氣為主，帶祛暑邪，清暑益氣湯之類是也。東垣又有血虛發熱，證類白虎，惟脈不長為辨，此又似中暑而非中暑，類傷寒又有類中暑，辨不可不明，治豈可不慎哉。</p>

<h2>濕論</h2>
<p>濕者，天地間陰陽蒸潤之氣也。所感之由，或因霧露之侵，或因陰雨所客，或因汗出沾衣，為風所閼。或因涉水行泥，為寒所郁。或因引飲過多，或以卑濕之地，有傷於皮肉筋骨。或感頭面四肢，尤多患於腰腳者，蓋傷濕則下先受之也。更喜侵於脾胃者，以其同氣相感也。大抵濕之為病，感於寒則為寒濕，兼於風則為風濕，動於火則為濕熱，逆於氣則為濕氣，郁聚於中則為痰。流注於下則為水，入皮膚則為頑痹，入氣血則為倦怠。入肺則為喘滿，入脾則為濕痰腫脹，面目萎黃，入肝則脅滿而四節不利，入腎則腰痛胯痛，身如板夾，脅如沙墜。入腑則麻木不仁，入臟則肢體強直。注於關節，或腫或疼；流於經絡，難伸難屈；滯於經脈，則為腳氣等疾。若內素有寒濕，或初患浮腫等證，又重感外濕，以致內外交攻，正氣衰竭，卒倒無知，似乎中風，其脈沉澀細遲者，即中濕也。凡治者，宜分其屬寒屬熱以施之。濕熱者，脈必洪數沉實，證必溺赤口渴，如水之瀦蓄而無從得出之，故宜利小便為主。即開溝渠以泄水之義也。寒濕者，脈必沉細緩弱，證必倦怠濡泄，如地雨泥而不能生物之象，故用燥脾土為主，猶用干灰以收泥濕之義也。外如中濕者，乃寒濕之甚，陽氣衰微，非參、芍、桂附等甘溫辛熱之劑，不能治之。又如積凍凝陰，雨雪相繼，而求開霽回春於和氣杲日之義也。是以濕之為病，所在皆有，而人不知治者眾矣。醫者宜審之。</p>

<h2>霍亂證治論</h2>
<p>霍亂之治，嘗考之《內經》，有太陽所致，為中滿霍亂吐下。有土鬱之發，民病嘔吐霍亂注下。有歲土不及，風乃大行，民病霍亂餐泄。有熱至則身熱霍亂吐下。《靈樞》曰：足太陽之別，名曰公孫，去本節後一寸，別走陽明。其別者，入絡腸胃，厥氣上逆則霍亂。實則腸中切痛，虛則蠱脹。有清氣在陰，濁氣在陽，營衛順行，衛氣逆行，清濁相干，亂於腸胃為霍亂。至《巢氏病源》，因此一條乃云：霍亂者，由清濁二氣相干於腸胃間，因遇飲食而變，發則心腹絞痛，挾風而實者，發熱頭痛體疼，虛則但心腹痛而已。亦有因飲酒食肉腥膾生冷過多，居處不節，或露臥濕地，或當風取涼，冷風之氣，歸於三焦，傷於脾胃，水穀不化，皆成霍亂。自巢氏之說行，後世守之為法，無復知有《內經》諸條者矣。至河間云，吐下霍亂，三焦為水穀傳化之道路，熱氣盛則傳化失常，而吐瀉霍亂，火性燥動故也。世俗止謂是停食者，誤也。轉筋者，亦是脾胃土衰，熱氣燥爍。夫筋則筋攣而動，非寒也。夫論病當從《內經》隨宜施治，安可執一端而已哉？張戴人則以風濕暍三氣合而為邪，以脾濕土為風木所克，鬱則熱乃發，發則心火炎上，故嘔吐，嘔吐者，暍也。脾濕下注故注瀉。注瀉者，濕也。風急則轉筋，轉筋者，風也。可謂善推病情者乎？海藏亦謂風濕熱外至，生冷內加，內外合病者，此條殆似之矣。然則此病當何以為要，謂脾胃之濕為本，諸邪感動者，為病之由。而其間脾胃有虛有實，邪有陰陽相感之孰甚者，皆宜消息處治。至若明理論謂傷寒吐利者，由邪氣所傷。霍亂吐利者，飲食所傷，其有兼傷寒之邪，內外不和，加之頭痛發熱而吐利者，是霍亂傷寒也。原仲景之意，豈必在飲食始為病哉？由寒邪傳入中焦，胃久因之不和，陰陽否隔，故得至此耳。不然何以用理中、四逆等湯治之？然病有乾霍亂、濕霍亂，乾霍亂死者多，濕霍亂死者少。蓋濕者上吐下利，則所傷之物得以出泄，胸中水穀盡則止，所以死者少。乾者上不得吐，下不得利，則所傷之物不得出泄，擁閉正氣，乖隔陰陽，煩擾悶亂，喘脹而死者多矣。嗟乎！飲食有節，起居有常，寧有此證耶！</p>

<h2>瘧疾證治論</h2>
<p>《內經》論瘧多以風寒暑濕為言。然風與暑，陽邪也。寒與濕，陰邪也。得病之由，多因夏傷於暑，汗大泄，腠理開發，因遇夏氣悽愴之水，寒邪先伏於皮膚，及遇秋令，而新涼束之，則表邪不能外越，於是乎陰欲入而陽拒之，陽欲出而陰遏之，陰陽相搏而病作矣。其證大抵多熱多寒，或單寒不熱，或單熱不寒，或先寒後熱，或先熱後寒，或有汗無汗，或汗多汗少，或頭疼骨痛，大渴引飲，或嘔吐不思食，或煩躁不得眠，或大便燥結，或腹滿瀉利。其淺者，病在三陽，能隨衛氣以為出入，而一日一作；其深者，病在三陰，則邪氣不能與衛氣並出，故或間日一作，或三四日作。作愈遲者，其病愈深。是以瘧之輕重，惟在陰陽淺深，於《本經》則有寒溫癉瘧，及六經五臟之分，語無漏義矣。丹溪復有食水痰飲敗血之別，此不過瘧之兼證耳，豈果因此而成瘧哉？其外如瘴瘧者，出嶺南瘴濕之地。牝瘧者，多生陽氣不足之人。勞瘧者，表裡氣虛，因勞所發。鬼瘧者，本無瘧鬼，邪氣亂神。故治瘧者，當察其邪之深淺，證之陰陽，必令其自臟而腑，自里而表，由陰而陽，由晏而蚤，引而散之，升而舉之，使邪氣得出，自然和矣。至於痰食血氣，內寒內熱等證，不過隨其甚者而兼治之，弗得以此為主而兼補。然邪在陽者取汗易，邪在陰者取汗難。又熱多者，涼藥為靈，寒多者，溫藥為主。其有外受風寒，內傷生冷，表裡俱虛，則瘧痢並作者，以瘧感由經，痢感由藏，但兼表裡而去，其溫濕之本，亦必漸愈也。</p>

<h2>痢疾證治論</h2>
<p>痢疾即古所稱腸澼也，自仲景而後，又謂之滯下。其所下者，或赤或白，或膿或血，有痛者，有不痛者，有裡急後重者，有嘔惡脹滿者，有噤口不食者，有寒熱往來者，雖有變態多端，終不外乎表裡寒熱。而於虛實之辨，更為切要。若以表裡言之，如經云：春傷於風，夏為飧泄腸澼。又曰：虛邪之中人也，留而不去傳舍於腸胃之間，多寒則腸鳴飧泄，食不化。多熱則溏出如糜，是皆由於外邪，即時氣相傳之屬也。凡邪在表者，必有表證。但兼其表而行散之，邪解而痢自愈。如無表證，則必由口腹，悉屬內傷也。但傷於內者極多，因於表者，間或有之，此表裡之不可不辨也。若以寒熱言之，則古以赤者為熱，白者為寒。至劉河間非之，如赤白相兼者，豈寒熱俱盛於腸胃，而同為痢乎？蓋白者肺之色也，青者肝之色也，黃者脾之色也，赤者心之色也。至色黑而亦言為熱，由火過熱，反兼勝己之化，故色黑也。或言痢色青白為寒者，誤也。若果為寒，則不能消穀，何由反化為膿乎？又曰：若完穀不化而色不變，吐痢腥穢，澄澈清冷，小便清而不澀，身涼不渴，脈遲細而微者，寒證也。凡消穀者，無問痢色及他證，便為熱也。其言治曰：苦能燥濕，寒能勝熱，或微加辛熱以佐之。又曰：行血則便膿自愈，調氣則後重自除。此皆河間之說也。丹溪則引之曰：赤利乃自小腸來，白痢乃自大腸來，皆濕熱為本，自二子言出，而後世莫違之。雖二家方書，非無從溫之治，然亦不過備立言之缺略。而其大意，則專以濕熱為主。今之醫家，悉宗此訓，一見痢證，無分寒熱虛實。或謂欲清其火，非芩連不可；欲去其積，非硝黃不可；欲行血者，必用當歸、延胡之類；欲利水祛濕者，必用五苓、益元之類；欲補中行滯者，必用檳榔、木香、枳實之類；欲和血涼血者，必用丹皮、白芍、地榆之類。朝夕更改，不過如是。及至臨危，猶云濕熱未除，積滯未消，舉世皆然，可勝其害。愚見則大不然。夫瘧痢疾發於夏秋，本因溽暑，豈云非熱？但炎蒸之令，本乎天也。苟能順天之令，焉得有病。惟因熱求涼，過於縱肆，則病由乎人耳。故凡風寒之中於外者，其邪在經，病多為瘧。生冷之傷於內者，其邪在臟，病多為痢，或表裡俱傷，則瘧痢並作，未有不中於寒而為瘧為痢者。此致病之本，其為寒為熱可知也。若暑邪之郁久而成熱，所以痢多熱證，此固自然之理。然有貪食瓜果，過傷生冷，未及鬱積，隨觸而痢者，豈是鬱熱耶？又有素慎口腹，或中雨水陰寒，或因飲食之相犯，皆能致痢，是又何熱之有哉？且凡病痢者，必有膿血，使無膿血，焉得為痢？蓋傷其臟腑之脂膏，動其腸胃之脈絡，故或寒或熱，皆成膿血，若謂膿血必因乎熱，豈痢疾絕無寒證耶？使必待完穀不化，痢色不變，及澄澈清冷等證，始認為寒，則其陽已盡去，脾已盡敗，幾於危矣。豈無其漸而遽至是哉？不知至此之由，即寒證也，矧痢因於濕生於土，夫五行之理，熱因火化，寒因水化，此陰陽之不易者也。惟濕土寄旺於四者之中，故從乎火則陽土有餘，而濕熱為病。從乎水則陰土不足而寒濕為病，故但言濕熱而不去寒濕，豈非醫家之誤乎？至於以赤白分寒熱者，是古法本不為謬，而河間乃謂白者屬肺，赤者屬心，蓋謂白主乎氣，赤主乎血，亦近理也。若以愚見言之，則赤中未必無白，白中豈必無赤，赤白兼者，豈其寒熱同病乎？但其清濁微甚，是有陰陽可辨耳。雖赤痢亦有寒證，然終是熱多。白痢亦有熱證，然終是寒多，其有白而熱者，則證脈必熱。赤而寒者，則證脈必寒，亦易辨也。若謂白必屬肺，恐白痢非血化，赤必屬心，恐血痢不離乎氣，此寒熱之不可不辨也。再以虛實言之，如頭痛身熱，筋骨痠痛者，表邪之實也。脹滿惡食，急痛拒按者，里邪之實也。舉按滑數，往來有力者，脈息之實也。煩渴引飲，喜冷畏熱者，陽邪之實也。舍此之外，無可言實矣。今有以口渴為熱者，不知凡系瀉痢，必亡津液，液亡於下，則津涸於上，焉得不渴。故當以喜熱喜冷分虛實也。有以腹痛為實者，不知痢出於臟，則腸胃必有損傷，膿血切膚，焉得不痛？故當以痛之緩急，按之可否，臟之陰陽，腹之脹與不脹，分虛實也。有以小水之黃赤短為實熱者，不知水從痢去，溲必不長，液以亡陰，溺因色變，故當以便之熱與不熱，液之涸與不涸，分虛實也。有以裡急後重為實熱，但知濕熱壅於大腸，因而重墜，不知氣陷則倉廩不藏，陰亡則門戶不攝，故當以病之新久質之強弱，分虛實也。若邪正不明，禍如反掌，此虛實之不可不辨也。以治法言也。則當求其所入之邪，所受之臟，以明致病之本，其他所變，皆為標也。如因於濕熱者，去其濕熱。因於積滯者，去其積滯；因於氣者，調其氣；因於血者，和其血。新感而實者，可以通因通用；久病而虛者，當以塞因塞用，是皆常法，無待言矣。第見今人之病痢者，虛常六七，而治利者，補無一二。氣本陷矣，而復行其氣，後重不將甚乎？中本虛矣，而再攻其積，元氣不將竭乎？濕熱傷血，自宜調血。若過用推陳，血愈傷矣。津亡作渴，自宜止渴。若專於滲利，津愈亡矣。使必待血和痛止而後補，則事已無及矣。此無他，本末未明，但舉現在有形之疾病，不知可慮者，在無形之元氣也。苟未省夫寒熱新久，而一概混治，其能免於虛虛實實之誤哉。</p>

<h2>泄瀉九法論</h2>
<p>《內經》之言泄瀉，或言風，或言濕，或言熱，或言寒，此明四氣皆能泄也。又云清氣在下，則生飧泄，此明脾虛下陷之泄也。統而論之，脾土強者，自能勝濕，無濕則不瀉，故曰濕多成五泄。若土虛不能勝濕，則風寒與熱皆得干之而為病。其治法有九，一曰淡滲，使濕從小便而出。如農人治潦，導其下流，雖處卑濕，不憂巨浸。經云：治濕不利小便，非其治也。又云：在下者，引而竭之是也。一曰升提，氣屬於陽，性本上升。胃氣迫注，輒爾下陷，升柴羌葛之類，鼓舞胃氣上騰，則注下自止。又如地下淖澤，風之即干，故風藥多燥，且濕為土病，風為木藥，木可勝土，風亦勝濕。所謂下者舉之是也。一曰清涼，熱淫所致，暴注下迫，苦寒之劑，用滌煩蒸，猶溽暑伊鬱之時，而商飈颯然倏動，則炎熇如失矣。所謂熱者清之是也。一曰疏利，痰凝氣滯，食積所停，皆令人泄。隨證祛逐，勿使逗留。經云：熱者泄之。又云：通因通用也。一曰甘溫、泄利不已，急而下趨，愈趨愈下，泄何由止？夫甘能緩急，善禁急速，且稼穡作甘，甘為土味，所謂甘以緩之是也。一曰酸收，瀉下有日，則氣散不收，無能統攝，則注下何時而已。酸之一味，能助收攝之權，經云：散者收之是也。一曰燥脾，土德無慙，水邪不溢，故瀉者，皆成於土濕，濕皆本於脾虛。倉廩得職，水穀善分，虛而不培，濕淫轉甚。經云：虛者補之是也。一曰溫腎，腎主二便，封藏之本，位雖屬水，真陽之火寓焉。少火生氣，火為土母，此火一衰，何以運行三焦，熟腐水穀乎？故積虛者必挾寒，脾虛者必補母。經云：寒者溫之是也。一曰固澀，注瀉日久，幽門道滑，雖投溫補，未克奏功，須以澀劑，久則變化不愆，揆度合節，所謂滑者澀之是也。夫是九者，治泄之大法。業無遺蘊，至於先後緩急之權，豈能預擬，臨證之頃，圓機靈變，可以胥天下並登於壽域矣。</p>

<h2>腳氣論</h2>
<p>按腳氣之病，自古無有稱之。自晉蘇敬始，其頭痛寒熱類傷寒，而病起足膝腫病，則與傷寒異。其逆氣上行，類風厥而痛甚，乃至悶倒，則與風厥異。其兩足軟弱，類痿痹而時發時止，痛惟在足，則與痿之一廢不復，痹之無定所者異。致此之由，多因美飲醇醪，上承濕熱之下注，蹈寒涉水，下吸清濕之上升，兩者交成，故名壅疾。自東垣有南方腳氣，外感清濕作寒治；北方腳氣，內傷酒乳作濕熱治之論。致使後人泥之，遂成南北兩派。互相拘執，不知北方縱無地之卑濕，其冒雨露，履汗韈，與夫脫卸靴履，汗出而風吹之，致血凝於足，豈不與南方卑濕同類，盡屬外中者乎？南方縱無潼乳之濕，其酒食過多，與臟腑所傳，津液水穀停積於中而下注者，豈不與北方潼乳之濕同類，盡屬內傷者乎？學者苟能圓通活變，斯萬舉萬當矣。</p>

<h1>卷下</h1>

<h2>燥論</h2>
<p>至直大要論列病機一十九條，而遺漏燥證，為其兼乎風熱之化，故但言風熱而燥在其中矣。河間特補此義於《原病式》中，然義有未悉，敢再陳之。夫燥兼風化者，經云：風能勝濕，濕去則燥自生，始因風甚而燥及於肺，則木氣有餘，侮所不勝，而金更微邪。復因燥甚而病及乎肝，則木氣亢害，承者制之，而金行報復，故筋脈勁強，口噤風癇，皮膚燥屑，收斂急切之病生矣。燥兼熱化者，熱即火也。易曰：燥萬物者，莫熯乎火。始由真陰耗竭，致有剋金之火，而燥乃成。金受邪，不能生制火之水，而燥益甚，故消穀善飢，噎膈胃枯。二便閉塞，燥烈枯涸等證生矣。由熱生風，由風生燥，燥又生熱，循環勝復。至於髓液咸枯，燥非淺患明矣。臻燥之因，或遇陽膽司天，燥化大行；或久勞於風日之中，頻邇於火燥之畔，外因也。七情不節，神傷血耗，及大病吐汗下克伐太過，亡其津液，內因也。食味辛熱過多，虛勞誤投溫補，與夫服食家金石之劑發燥，不內外因也。凡此諸論，皆令熱極生風，風火相煽，陰中伏火，煎熬津液，而燥證深矣。是以燥在外，皮膚皺揭，疥癢爪枯；燥在中，脾胃乾涸，消穀善飢；燥在上，則鼻燥咽乾；燥在下，則便難癃閉；兼熱，則手足痿；兼風，則痙癇作。虛而燥熱，必致勞咳；實而燥熱，必見癲狂；挾痰食者，終為噎膈等證。治燥之法，當觀沸釜之理，以血喻湯，而氣喻火也。若火猛湯沸，當沃薪滅火，不使絕竭，猶用芩連、梔、膏、朴硝、大黃，大苦至寒治標等劑，清降火邪，則血不為衰，而燥不為甚也。若沸久將干，又將添益新水，使能勝火，猶用地黃、門冬、參、耆、歸、芍，甘寒甘溫，治本之劑，氣血雙補，則燥得所潤，而火有所制也。昔賢云：休治風，休治燥，治得火時風燥了，然則獨無寒燥者乎？嘗考《醫壘元戎》，有五方治燥諸法元：北方其脈遲，寒燥也，宜溫熱藥治之，如桂、附、硫黃、良薑、巴豆之屬，是知燥亦兼寒。張景岳論消渴亦云：陽勝固能消陰，陰勝獨不能消陽乎？經云：移寒於肺為肺消，飲一溲二死，不治之證，曾以八味丸、歸脾湯，治一縉紳得愈。又如大便燥結，有系臟寒則血枯，臟冷則氣澀，食少脈微為陰結者，宜半硫丸、香附湯治之。夫消渴閉結，燥證之大者，乃有屬於陰寒，海藏非鑿說矣。知常識變，圓妙無窮，始得不愧為司命。</p>

<h2>火論</h2>
<p>火之為病，其害甚大，其勢生彰，其死甚暴。何者？蓋能燔灼焚焰，飛走狂越，銷鑠萬物，莫能過之，遊行於三焦虛實之兩途。故凡動皆屬火化，火不妄動，隨觸而發。夫人在氣交之中，多動少靜，欲無觸發可得乎？火一妄行，元氣更傷，動之極也，遂與元氣不兩立。經云：一水不能勝二火之火，出於天造。曰：君火、人火也，曰相火、龍火、雷火也。經所謂一水不勝五火之火，出於人為。蓋大怒則火起於肝，醉飽則火起於胃，房勞則火起於腎，悲哀動中則火起於肺，心為君主，自焚而死，此五志厥陽之火也。又考《內經》病機一十九條，而屬火者五，可見火熱致病者甚多。然五志之火，詳於河間；君相二火，辨自丹溪，可謂無漏義矣！其見之於證也，上為喘嘔吐酸，吐血衄血，氣逆膹脹，瞀瘈冒昧，喉痹耳鳴　等證；下為暴注下迫，下血溺血，小便淋瀝，大便閉結，霍亂轉筋等證；或為瘡腫癰疽，寒熱戰慄，擾躁狂越，證見於外；或為悲哭譫妄，驚悸怔忡，骨蒸咳嗽，證發於內。凡諸火邪，不一而足，其形之於脈也。浮而洪數為虛火，沉而實大為實火，見於兩寸為上焦之火，心肺是也；見於兩關為中焦之火，脾胃肝膽是也；見於兩尺為下焦之火，腎與膀胱是也。滑數而舉按皆有力，真火也；浮而重按全無，假火也。其藥之所主也，君火可以經伏，可以水滅，可以直折，黃連之屬可以制之。相火不可以水折，當從其性而伏之，惟黃柏之屬可以降之。然黃連瀉心火，黃芩瀉肺火，芍藥瀉脾火，柴胡瀉肝火，知母瀉腎火，此皆苦寒之味，能瀉有形之火耳。若飲食勞倦，內傷元氣之火，宜以甘溫之劑除之。如陽亢陰微，煎熬血液之火，宜以甘寒之劑降之。如門冬、地黃之屬。若左腎真陰失守而火熾。則地黃、元參之類，可以壯水制陽。若右腎命門虛弱火衰，則桂、附之類，可以消陰益火。若胃虛過食冷物，抑遏陽氣於脾土之中，則升麻、葛根、可以升散鬱火。不明此類而求治火病，未免實實虛虛之誤矣。</p>

<h2>痰論</h2>
<p>痰之為病，仲景論四領六證，無擇敘內外三因，俱為切當。蓋四領則敘因痰而顯諸證者，三因則論因有所傷而成痰者也。惟王隱君論人之諸疾悉出於痰，此發前人所未論，可謂深識痰之情狀而得其奧者矣。制滾痰丸一方，總治斯盛，固為簡便。較之仲景無擇，有表裡內外而分汗下溫利之法，則疏闊矣，況又有虛實寒熱之不同哉。夫痰之為病，有因熱而生痰者，熱則熏蒸津液而成痰；亦有因痰而生熱者，痰則阻礙氣道而生熱；有因風寒火熱而得者，有因驚而得者；有因氣而得者；有因飲酒而得者；有因食積而得者；有脾虛不能運化而生者；有腎虛水泛為痰者。風痰多成中風癱瘓奇證，寒痰多成冷痹骨痛，火痰多成煩熱喘嗽，濕痰多成倦怠嗜臥，驚痰多成心痛癲癇，氣痰多成胸腹膨脹，酒痰多成嘔吐泄瀉。痰飲多成脅滿胸臂痛，食積痰多成癖塊痞滿。脾虛之痰，因勞倦傷脾，痰清食少，腎虛之痰，因房勞傷腎，痿冷昏暈。然亦有痰冷而屬熱者，其為病狀，種種難名，王隱君論中頗為詳盡。學者當察其病形脈證，則知所挾之邪，隨其表裡上下虛實治之可也。大凡病久淹留，卒不致死者，多因食積痰飲所致。此何以故？　蓋胃氣亦賴痰積所養，飲食雖少，胃虛猝不便虛故也。亦有治痰用峻利藥過多，則脾氣愈虛，津液不運，痰反生而愈甚，法當補胃清中氣，則痰自然運下，此法之本也。</p>

<h2>咳嗽要論</h2>
<p>咳嗽必由於肺。而《內經》則曰；五臟六腑，皆令人咳，是不獨在肺矣。蓋痰有內傷外感之分，故自肺而傳及五臟者有之，自五臟而傳及於肺者亦有之。如風寒暑濕傷於外，則必先中於皮毛，皮毛為肺之合，而受刑不解，此則自肺而復傳於諸臟也。勞欲情志傷於內，則臟氣更傷，先由陰分而病及上焦，此則自臟而傳於肺也。但自表而入者，其病在陽，故必自表而出之。治法宜辛宜溫，求其屬而散去外邪。則肺氣清而咳自愈矣。自內而生者，傷於陰也，陰虛於下，則陽浮於上，水涸金枯，則肺苦於燥，肺燥則癢，癢則咳不能已。治此者，宜甘以養陰，潤以養肺，使水壯氣復，而肺自寧也。大法治表邪者，藥不宜靜，靜則留滯不靜，久則必變生他病，故最忌寒涼收斂之劑。如五臟生成篇所云：肺欲辛者此也。治里證者，藥不宜動，動則虛火不寧，真陰不復。燥癢愈增，病必日甚，故最忌辛香助陽等劑。如宣明五氣篇所云：辛走氣，氣病無多食辛者此也。然表者雖宜動，動以散邪，若形病俱虛者，又當補中而以和解。倘專於發散，恐肺益弱，腠理益疏，邪乘虛入，病反增劇也。治里者，雖宜靜以養陰，若命門火衰，不能歸元，則參、耆、桂、附，在所必用，否則氣不化水，終無補於陰也。至若因於火者宜清，因於濕者宜利，因痰者降其痰，因氣者理其氣。雖方書所載條目極多，求其病本，則惟風寒勞損二者居其八九。風寒者責在陽實，勞損者責在陰虛，此咳證之綱領，其他治標之法，亦不過隨其所見之證調之而已。至於老人久咳，則元氣既虛，本難全愈，多宜溫養脾肺，或兼治標，但保其不至羸困則善矣。觀者詳之。</p>

<h2>虛勞論</h2>
<p>（天士改）</p>
<p>按《內經》之言虛勞，惟是氣血兩端，至《巢氏病源》始分五臟之勞，七情之傷，甚至分六極三十二蒸，本事方更分傳屍、鬼疰，至於九十九種，其鑿空附會，重見複出，固無論已，且使學者感於多歧，伊誰之咎乎？蓋以《內經》為式，第以脾腎分主氣血，約而該，確而可守也。夫人之虛，不屬於氣，即屬於血，五臟六腑，莫能外焉。而獨居脾腎者，水為萬物之元，土屬萬物之母，二臟安和，一身皆治，百病不生。夫脾具土德，脾安則土為金丹，金實水深，且土不陵水，水安其位，故脾安則腎愈安也。腎兼水火，腎安則火不挾肝上泛而凌土濕，火能益土，運行而化精微，故腎安則脾愈安也。孫思邈云：補脾不如補腎。許學士云：補腎不如補脾。兩先生深知二臟為生人之根本，又知二臟有相贊之功能，故其說似背，其旨實同也。救腎者，必本於陰血，血主濡之，血屬陰，主下降，虛則上升，當斂而抑，六味丸是也。救脾者，必本於陽氣，氣主煦之，氣為陽，主上升，虛則下陷，當升而舉也，補中益氣湯是也。近世治勞，專以四物湯加知、柏，不知血藥常滯，非痰多食少所宜；血藥常潤，久行必至滑腸。且知、柏性苦寒，能瀉實火，名曰滋陰，其實燥而損血，且苦先入心，久而增氣，反能助火，至其敗胃，所不待言。丹溪有言實火可瀉，虛火可補，勞證之火，虛乎實乎？瀉之可乎？矯其遍者，輒以桂、附為家常茶飯，此惟火衰者宜之。若氣血燥實之人，能無助火為害哉？大抵虛勞之證，疑難不少。如補脾補肺，法當兼行，然脾喜溫燥，肺喜清潤，保肺則礙脾，補脾則礙肺，惟熱燥而甚。能食而不瀉者，潤肺當急，而補脾之藥不可厥也。倘虛羸而甚，食少瀉多者，雖喘嗽不寧，但以補脾為急，而潤肺之藥宜戒矣。常見勞證之死，多死於泄瀉。泄瀉之因，多因於清潤，司命者，能不為之兢兢耶？又如補腎補脾，法當兼行，然方欲以甘寒補腎，其人減食，又恐不利於脾，方欲以辛溫快脾，其人陰陽，又恐愈耗其水。兩考衡量，而較重脾者，以脾土上交於心，下交於腎也。若腎大虛而勢危篤，又不可拘執，當隨時參活法耳。前哲有言土旺而金生，勿拘拘於保肺，水壯而火熄，毋汲汲於清心，可謂洞達《內經》之旨，深窺根本之治者也。</p>

<h2>吐血三要論</h2>
<p>凡治吐血宜降氣，不宜降火；宜行血，不宜止血；宜補肝，不宜伐肝。何謂宜降氣不宜降火也？氣有餘便是火，氣降則火降，火降則氣不上升，血隨氣行，無濫出上竊之患矣。降火必用寒涼之劑，反傷胃氣，胃氣傷，則不能統血，血愈不能歸經矣。今之療吐血者，大患有二。一則專用寒涼，如芩、連、山梔、青黛、柿餅灰，四物湯加知、柏之類，往往傷脾作泄，以致不救。一則專用人參，以致肺熱，使肺愈傷，咳逆愈甚。亦有用參而獲效者，此是氣虛嗽咳，氣屬陽，不由陰虛火熾所致，然亦百不一二也，宜以白芍、炙甘草制肝，枇杷葉、麥冬、橘紅、貝母、薄荷清肺，米仁、山藥養脾，韭菜、降香、蘇子下氣，青蒿、鱉甲、銀柴胡、地骨皮補陰清熱，棗仁、茯神養心，地黃、山萸、枸杞、牛膝補腎，此屢試輒驗之方。然陰無驟補之法，非多服不效。病家欲速其功，醫者張皇無主，百藥雜試，以致隕命，覆轍相尋而不悟，悲夫！何謂宜行血不宜止血也？血不循經絡者，氣逆上壅也。夫血得熱則行，得寒則凝，故降氣行血，則血循經絡，不求止而自止矣。若有意止血則血凝。血凝則必發熱惡食，及胸脅痛，病日沉痼矣！何謂宜補肝不宜伐肝也？經曰：五臟者，藏精氣而不瀉者也。肝為將軍之官，主藏血。吐血者，肝失其職也，養肝則肝氣平而血有歸，伐之則肝虛不能藏血，血愈不止矣。此三者，乃余獨得之要，當為斯世告之。</p>

<h2>諸血病論</h2>
<p>經云：榮者，水穀之精氣也，調和於五臟，灑陳於六腑，乃能入於脈也。源源而來，生化於脾，總統於心，藏受於肝，宣布於肺，施泄於腎，灌溉一身，出入升降，皆有所使。故目得之而能視，耳得之能聽，手得之而能攝，掌得之而能握，足得之而能步，苟調養未周，而內動於相火，外傷於寒熱，則氣血亂其常度，而病生矣。凡陽盛陰虛，有升無降，血隨氣升，越出上竅，則上見於鼻。故鼻中出者為衄血，以鼻竅通於腦，火上衝於腦，又肺竅通於鼻，火內炎其金也。口中出者為吐血，又有嘔血、咯血、咳血、嗽血之不同焉。吐血者，血雖出而無聲。一吐輒以升計，甚至鬥許，而色頓白，舉體懈惰，乃陽明胃經之火上逆。證雖極陰，而實易治，以邪淺在腑，未動臟陰，又陽明為氣血俱多之經故也。嘔血者，血每出則先有嘔逆聲。其血必紫黑成塊，脅痛內熱，氣塞煩悶，乃肝厥陰經之火，或盛怒不和所致，急宜降氣清火，以肝為牝藏，為納血之海，其氣最宜靜固。一有不寧，則衝脈騰沸，譬如大海生濤，未有不拍天而撼島者，倘遷延不治，必至上湧不止而死矣。咯血者，每血出喉中先癢，癢則所咯皆血，其血或鮮或紫，或兼有痰，口燥嗌乾，心虛驚悸，乃手少陰君火太盛。或夏月暑熱傷心所致，宜清心降火，若由於情思者，又宜於自己消息之，苟患是而一任其縱橫，雖瓊漿玉醴，其如心病何哉？咳血者，其證必先病咳嗽，咳之不已，復有鮮血，即世所謂虛勞之證。或痰內有紅絲，是為肺痿，皆陰精虧損，陽火亢極，銷鑠肺金所致，患此必十死八九，最為難治。嗽血者，素未嘗病咳，而又無咳逆聲，但痰嗽則必有血，四肢無力，或兼泄瀉，乃鬱結傷脾，或久坐臥傷氣所致，宜培補真元，雖人參、煨姜，亦可選用，惟忌苦燥，以苦傷陽而燥傷陰也。唾血者，每有鮮血必隨唾而出，骨蒸內熱，乾咳肌瘦，乃腎水枯涸，火反內淫，或入房太甚，陰虛火盛所致，與肺病咳血同為危候。治此者，必曲盡其術，天始克旋，毋專恃功於知藥也。又血從齒齦出，謂之牙宣，胃與腎之火也。血從汗孔出，謂之肌衄。從舌出，謂之舌衄，心與肝之熱也。此皆血之見於上者也。其病於下，在大便，則有腸風、臟毒、滯下、便紅之殊，在小便，則有赤淋、溺血、帶下、崩中之異。腸風者，其人本腸胃蓄熱，熱則生風，或邪氣外入，滲透腸間，其血來色必清淡。藏毒者，喜食膏粱，過耽醇醴，或偏服熱藥，蘊毒臟腑也，其血來必渾濁，滯下之由，多由濕蒸熱瘀，故必膿血相雜，裡急後重。便紅之病，多由脾虛先統，故但有血而無膿，澼澼作聲，赤淋則溺管澀痛，法宜清利，溺血便是溺中見紅，法當涼解。帶下者，經水淋漓，如帶不斷之謂。崩中者，血下崩騰，妄行不止之稱。二者於婦人多有之，此皆血病之見於下者也。其病於內，則熱勝於陰，必發瘡瘍，濕滯於血，必發痛癢癮疹，凝澀皮毛，則為冷痹，損壞肌肉，則為破傷。病於外，則跌僕留瘀疼痛，寒冷相搏，必凝取成瘕。蓄於上焦，人必喜妄；蓄於下焦，人必如狂。此又血證之見於內外者也。先哲云：血貴寧靜，不喜疏動，疏動則有泛溢之虞。又云：血宜流通，不當凝滯。凝滯則有瘀著之慮。人苟能善調其營，靜而不至於凝，通而不至於動，則經脈流行，皮膚潤澤，筋骨強勁，關節清利矣。又何有以上數者之病哉？</p>

<h2>內傷余議</h2>
<p>嘗觀東垣內外篇辨曰：外傷風寒客邪，有餘之病，當瀉不當補。內傷飲食勞役，不足之病，當補不當瀉。自此議一出，而天下後世，知內傷外感之有別，而仲景之法不可例用，其惠也不亦大哉？然夷考其說，猶或有可疑者，僭用條之如曰飲食勞倦傷而內熱者，乃陰火乘其坤土之位，故內熱極乎胸中。又曰：經云勞者溫之，損者溫之，惟宜溫藥以補元氣而瀉火邪。又云：甘溫能除大熱。又曰：飲者無形之氣，傷之則宜發汗利小便，使上下分消其濕；食者有形之物，傷之則宜損其谷，其次莫如消導。若此者，皆不能使人無疑者也。謹按調經論曰：陰虛生內熱奈何？歧伯曰：有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，胃氣熱，熱氣熏胸中，故內熱，嗟呼？此內傷之說之源乎！請釋其義如左。夫人身之陰陽，有以表裡言者，有以氣血言者，有以臟腑言者。如上下前後升降呼吸之類甚多，不必悉舉。此所謂陰虛之陰，其所指數者皆不同。蓋勞動之過，則陽和之氣亢極而為火矣。況水穀之味又少入，是故陽愈甚而陰愈衰，此陰虛之陰，蓋指身中之陰氣，與水穀之味耳。或以下焦陰分為言，或以腎水真陰為言，皆非也。夫有勞役者，過動皆火也；形氣衰少者，壯火食氣也；穀氣不盛者，勞傷元氣，則食少而氣衰也；上焦不行者，清陽不升也；下脘不通者，濁陰不降也。夫胃受水穀，故清陽升而濁陰降，以傳化出入，滋榮一身。今胃不納穀，而穀氣衰少，則清無升而濁無降矣。故曰：上焦不行，下脘不通。然非謂絕不行不通也，但比之尋常無病時，則謂之不行不通耳。上不行，下不通，則鬱矣，鬱則少火皆成壯火，而胃居上焦下脘之間，故胃氣熱，熱則上炎，故熏胸中而內熱也。東垣固宜引此段經文，以為內傷發熱之本，乃反不引而謂陰火乘其土位，故內熱及胸中，此不能無疑者也。夫陰火二字，《素》、《難》未嘗言，而東垣每每言之。《素問》止有七節之旁，中有小心二句，而守真推其為命門屬火不屬水，引仙經心為君火，腎為相火以為證，然亦不以陰火名之，是則名陰火者，其東垣始歟。竊謂內熱之作。非皆陰火，但氣鬱則成熱耳。雖曰心為君不主事，然《內經》所敘諸病之屬熱者甚眾，豈君火不能為病，而直欲純歸之陰火乎？至真大要論曰：勞者溫之，損者益之。夫勞則動之大過，而神不寧矣。故溫之，溫之者，養也，所謂調其飲食，適其起居，澄心息慮，從容以待其真氣之復也。《禮記》所謂柔色以溫之，即是此義。今東垣乃以溫涼之溫，謂宜溫藥以補元氣之虛而瀉火邪；又易損者益之，為損者溫之；又以溫能除大熱為《內經》之言，而遍考《內經》並無此論，此亦不能無疑者也。然溫藥之補元氣，瀉火邪，亦惟氣溫而味甘者，斯可矣。養溫能益氣，甘能助脾而緩火，故元氣復而火邪息也。夫宜用溫藥，以為內傷不足之治則可，以為勞者溫之之證則不可。陰陽應象論所謂形不足者，溫之以氣。其溫字亦是滋養之義，非指藥也。夫形不足，乃陽虛而不充也。氣者藥之氣也，藥有氣厚氣薄，味厚味薄。味厚者屬陰而滋精；氣厚者，屬陽而滋形。今以藥氣厚者滋陽，不兼形乎？故曰：形不足者，溫之以氣。雖以藥溫養之，亦未嘗不兼乎調飲食，適起居，與澄心息慮者也。溫字固具二義，然終不可視為溫涼之溫。苟以補之除之抑之舉之散之等語，比類而推焉，則其義自著矣。夫五行運於天，則無形質可觀，其麗於地，則有形質矣。金木水土，有形有質者矣。火者，有形而質不實者也，酒性雖熱，體同於水，今東垣乃謂飲者無形之氣，此又不能無疑者也。既待發汗利小便以去之，其可謂之無形之氣乎？且勞倦傷、飲食傷二者雖俱為內傷，然不可混而為一。《難經》云：飲食勞倦則傷脾。蓋謂脾主飲食，而四肢亦屬脾，故飲食失節，勞役四肢，皆能傷脾，非謂二者同類而無辨也。夫勞倦傷、飲食傷，雖與風寒暑濕有餘之病不同，然飲食傷比之勞倦傷又不同者，誠當於不足之中，更觀其有餘不足也。夫飢渴不飲食者，胃氣空虛，則為不足，固失節也。以傷言則不足，以停滯言則有餘矣，惟其不足故補益。惟其有餘故消導。亦有物滯氣傷，必消補兼行者；亦有物暫滯而氣不甚傷，獨宜消導者；亦有既停滯，不復自化，不須消導，但當補益，或亦不須補益者，潔古枳朮丸、東垣橘皮枳實丸等，雖曰消導，固有補益之意存乎其間。他如木香分氣丸、導氣枳實丸，雖無補益，然施之於物停滯氣不甚傷者，豈不可哉？但不宜視為通行之藥耳。且所滯之物，非枳朮之力所能去者，安可泥於消導而不知變乎？故備急丸、感應丸之推逐者，潔古、東垣亦未嘗委之而弗用也，故善將兵者，攻亦當，守亦當；不善將兵者，宜攻而守，宜守而攻，其敗也，非兵之罪，用兵者之罪耳。觀乎此，則知消導推逐補益之理矣！若夫勞役傷，則純乎補益，自不待議，雖東垣丁寧告戒，然世人猶以苦寒之劑，望除勞倦內傷之熱，及其不愈而反甚，自甚而至危，但曰病熱已極，藥不能勝耳。醫者病者，一委之天命，皆不悟其妄治之失，嗚呼！仁人君子，能不痛心哉？夫東垣先哲之出類者也，奚敢輕議，但嫌白壁微瑕，或貽後人毫釐千里之謬，故不得不僭陳耳，知我者其鑑之。</p>

<h2>五郁六郁解</h2>
<p>夫郁者，閉結凝滯瘀蓄抑遏之總名。《內經》五郁，以運氣言也。丹溪六郁，以病因言也。以五郁言之，有諸家之釋。然張氏之說為得其正，其說曰：天地有五運之郁，人身有五臟之應，鬱則結聚不行，乃致當升不升，當降不降，當化不化，而鬱作矣。故或鬱於氣，或鬱於血，或鬱於表，或鬱於里，或因鬱而生病，或因病而生郁。鬱而太過者，宜裁之抑之；鬱而不及者，宜培之助之。大抵諸病皆兼郁，為治有不同。所謂木鬱達之者，達、暢達也。凡木鬱之病，風之屬也，其臟應肝膽，其經在脅肋，其主在筋爪，其傷在脾胃，在血分，其性喜調暢。故在表者，當疏其經；在裡者，當疏其臟，但使氣得通行，皆謂之達。諸家以吐為達，又安足以盡之？火鬱發之，發、發越也。凡火鬱之病，為陽為熱之屬也。其臟應心，主小腸三焦，其主在經絡，其傷在陰分，火之所居，有結聚斂伏者，不宜蔽遏，當因其勢而解之散之升之揚之，如開其窗，揭其被，皆謂之發，非止於汗也。土鬱奪之，奪、直取之也。凡土鬱之病，溫濕之屬也。其藏在脾胃，其主在肌肉四肢，其傷在胸腹，土畏壅滯。凡滯在上者，奪其上，吐之可也；病在中者，奪其中，伐之可也；病在下者，奪其下，瀉之可也。凡此皆謂之奪，非止於下也。金鬱泄之者，泄、疏利也。凡金鬱之病，為斂為閉，為燥為塞之屬也，其藏應肺與大腸，其主在皮毛聲息，其傷在氣分，或解其表，或破其氣，或通其便，故在表在裡，在上在下，皆可謂之泄也。水鬱折之者，折、調製也。凡水鬱之病，為寒為水之屬也，水之本在腎，水之標在肺，其傷在陽分，其反克在脾胃，水性喜流，宜防氾濫，折之之法，如養氣可以化水，治在肺也；實土可以制水，治在脾也，壯火可以勝水，治在命門也；自強可以帥水，治在腎也；分利可以泄水，治在膀胱也。凡此皆謂之折，豈獨抑之而已哉。郁有五，法亦有五，郁去則氣調矣。又以六郁言之，如氣鬱者，必胸腹滿痛，其脈沉澀；濕鬱者，身體重著，或關節疼痛，遇陰寒即發，其脈沉緩；痰鬱者，動則喘息，起臥怠惰，其脈沉滑；血鬱者，四肢無力，能食便紅，其脈沉芤；食鬱者，噯酸惡食，痞塊腹脹，其脈氣口沉緊：熱鬱者，瞀悶口乾，小便淋赤，其脈沉數，六郁不言風寒者，蓋風寒鬱則為熱故也。然丹溪又云：氣鬱而濕滯。濕滯而成熱，熱鬱而生痰，痰滯而血不行，血滯而食不消化，是郁雖有六，又皆相因為病者也。夫治六郁者，以越鞠為丸為主方，固為盡善，但郁者至久，元氣未有不傷，克伐屢投，隨散而隨郁者，比比然也。於此當顧慮根本，權其重輕，或攻補兼施，使邪衰而正勝，或專行於補益，俾養正以除邪。然郁在氣血者，當以有形之藥，分氣血以療之，醫者之責也。若郁在情志者，即當以情志解散，此無形之氣藥，病者所自具也。知乎此而立五六之治，思過半矣。</p>

<h2>諸氣不當作寒治論</h2>
<p>捍衛沖和不息之謂氣，擾亂妄動變常之謂火。當其和平之時，外護其表，復行於里，周流一身，循環無端，出入升降，繼而有常。原出中焦，總統於肺氣，曷常病於人也。及其七情之變攻，五志之間發，乖戾失常，清者遽變為濁，行者遏抑而反止，表失外護而不知，里失健捍而少降，營運漸遠，肺失主持，妄動不已，五志厥陽之火起焉。上熾於肺，氣乃為病，何者？氣本為陽，反勝則為火矣。河間有曰：五志過極，皆為火也。何後世不本此議，而以香辛燥熱之劑，概作寒治，所據何理？且言指迷七氣湯，用青皮、稜、朮、益、桂之屬，可以通七情，混同一義，不按某藥治某病，以下諸方。尤有甚焉者，茲不具論，不知經言九氣之治，各有分別，如高者抑之，下者舉之，寒者熱之，熱者寒之云云，何嘗混作寒論，而以燥熱之劑通治諸氣。若用燥熱之劑，不過暫卻滯氣，沖快於一時耳。滯氣暫開，久而復郁，郁至久而生熱，熱積久而生痰，痰飲下隔，升降不行，濁氣混濛，清虛耗竭，此習俗相沿之誤，莫能救挽者。又有腎虛不能攝氣歸元，用黑錫丹、養氣丹，以有形金石，鎮無形之氣，譬以石投水，水固未嘗沉也，豈不殆歟？丹溪云：上升之氣，自肝而出，中挾相火，其熱為甚。自覺冷者，非真冷也，火極以水，陽亢陰微，故有此證，認假於真，可勝道哉？大抵七情傷氣，鬱結不舒，痞悶壅塞，發為諸病，當詳所起之因滯於何經，始則用辛溫以散之，稍久即以辛平和之，辛寒折之。然藥中有行散者，有損泄者，用之能卻氣之標，而不能制氣之本，豈可久佐以燥熱之藥，以火濟火，混同為治，使之常服多服可乎？氣之與火，一理而已，動靜之變，反化為二，氣作火論，與病情相得。丹溪《局方發揮》云：冷生氣者，出於高陽生之謬言也，是非身受寒氣，口食寒物而遽論寒者，吾恐千不得其一二也。</p>

<h2>腫脹引經別證辨</h2>
<p>腫脹一證，經云：五臟六腑，無不有之。再考全經，如脈要論曰：胃脈實，氣有餘則脹。病形篇曰：胃病者，腹腫脹，胃脘當心而痛。本神篇曰：脾氣實則腹脹，經溲不利。應象論曰：濁氣在上，則生䐜脹。此皆實脹也。太陰陽明論曰：飲食起居失節，入五臟則腹滿閉塞。師傳篇曰：足太陰之別，分孫虛則鼓脹，此皆虛脹也。經脈篇曰：胃中寒則脹滿。方宜論曰：臟寒生滿病。風論曰：氣隔塞不通則善脹，失衣則善脹，皆寒脹也。陰陽別論曰：二陰一陽發病，善脹心滿。診要經終篇曰：手少陰終者，腹脹閉，足太陰終者，腹脹閉，此心脾受傷之脹也。此外如六元正紀、至真大要等論曰：太陰所至為跗腫，及土鬱之發，太陰之初氣，太陰之勝復，皆濕勝之腫脹也。或曰：水運太過，寒勝則浮。或曰：太陰司天，太陽勝復，皆寒勝之腫脹也。或曰：少陰司天，少陰勝復，少陽司天，少陰勝復，熱勝則腫，皆火勝之腫脹也。或曰：厥陰司天在泉，厥陰之復。或曰：陽明之復，皆水邪之侮土，及金氣反勝之腫脹。由是觀之，則不惟五臟六腑，即五運六氣，亦各有腫脹矣。然經有提其綱者，曰：諸濕腫滿，皆屬於脾。又曰：其本在腎，其末在肺，皆聚水也。又曰：腎者，胃之關也，關門不利，故聚水而從其類也。可見諸經雖皆有腫脹，無不由於脾肺腎者。蓋脾土主運行，肺金主氣化，腎水主五液，凡五氣所行之液，悉屬於腎；五液所行之氣，悉屬於肺；轉二藏以制水生金者，悉屬於脾，故腫脹不外乎三經也。但陰陽虛實，不可不辨。大抵陽證多熱，熱者必實；陰證必寒，寒者多虛；先脹於內，而後及於外者多實；先腫於外，而後及乎里者多虛；小便黃赤，大便秘結者多實；小便清白，大便溏泄者多虛；脈滑數有力者多實；弦浮微細者多虛；形色紅黃，氣息長者多實，容顏憔悴者，聲短促者多虛。凡諸實證，必以六淫有餘傷其外，飲食怒氣傷其內，故致氣逆不行，三焦壅閉。此則多在氣分，無處不到，故不分部位，而多通身浮腫。又或氣實於中，又為單腹脹急，然陽邪急速，其至必暴，每成於數日之間，此惟少壯者多有之。但破其急氣，利其壅滯，則病無不愈，此治實之道也。若是虛證，必以五志積勞，酒色過度，傷其脾腎，日積月累，其來有漸，每成於經月之後，此多成於中年之外。其形證脈氣，必有虛寒之候，顯然可見，非若實證之暴至，而邪熱壅結，肝氣悍逆之有因也。則治實恆易，理虛頗難耳！然虛有在氣者，有在水者。在氣者，以脾氣虛寒，不能運化，所謂氣滿中虛者。在水者，以脾虛不能制水，則寒水反侮脾土，氾濫為邪。其始也，必從陰分漸次而升，按肉如泥，腫有界分，所謂水膨水脹者也。然水雖制於脾，實則統於腎。蓋腎本水藏，而元陽生氣所由出。若腎中陽虛，則命門火衰，既不能自制陰寒，又不能溫養脾土，陰陽不得其正，則化而為邪矣。夫氣即火也。精即水也，氣之與水，本為同類，但在化與不化耳。故陽旺則化精而為氣，陽衰則不化而為水，即為邪。凡火盛水虧則病燥，水盛火虧則病濕。故火不能化，則精不從陽，而精化為水。所以水腫之證，多屬陽虛，故曰寒脹多，熱脹少也。然觀丹溪之治腫脹云：清濁相混，隧壅閉而為熱，熱留為濕濕熱相生，遂成腫滿。治宜補其肝，又須養肺金以制木，使脾無邪賊之患，滋腎水以制火，使肺得清化之權。夫制火可以保金，獨不慮其害土乎？若以此法，施於陽實而熱者則可，若以治陽虛而氣弱者，豈不反助陰邪而益其病哉？更有不明虛實，專執下則脹已之一法，雖得少寬於一時，真氣愈衰，未幾而腫脹再作，遂至不救，殊可嘆也！余於此證察其實者，直清陽明，反掌收功。苟涉虛者，溫補肝腎，漸次康復；或虛實混淆，陰陽疑似者，寧先以治不足之法，探治有餘，若不投而病反加者，不宜補也，不妨易轍，自無大害。若誤以治有餘之法治不足，而曾經峻攻者，真氣復傷，雖神丹不能療矣！其有不大虛不大實者，先以清利見攻，繼以補中調攝，此治虛之道也。又有標實而本虛者，瀉之不可。攻之無功，極為危險。在病名有鼓脹與蠱脹之殊，鼓脹者，中空無物，皮膚繃急，多屬於氣；蠱脹者，中實有物，腹形充大，非蠱即血也。在女科有氣分血分之殊，氣分者，心胸堅大，而病發於上，先病水腫而後經斷；血分者，血結胞門，而病發於下，先因經斷而後水腫。在治法有理肺理脾之殊，先喘而後脹，治在肺；先脹而後喘，治在脾。以上諸治，其大略也，貴在神而明之，庶可免於虛虛實實之害矣！</p>

<h2>腹脹禁用攻瀉論</h2>
<p>從來腫病，遍身頭面俱腫，尚易治。若只單單腹腫，則為難治。此其間有所以然之故，不可不辨也。蓋傳世諸方，皆是悍毒急攻之法，耗損真元，虧傷脾胃，可一而不可再。用藥縱取效於一時，倘再腹腫，則更無法可用矣！且遍身俱腫者，五臟六腑各有現證，故瀉肝瀉肺瀉膀胱大小腸之藥，間有取效之時。而單單腹脹，則中州之地久窒其四運之軸，而清者不升，濁者不降，互相聚結，牢不可破，實因脾氣衰微所致。而瀉脾之藥，尚敢漫用乎？且腫病之可瀉者，但可施之西北盛壯之人，及田野農夫之流，豈膏粱老少之所能受？設謂腫病概可用之，大滿大實，必從乎瀉，而病後腫與產後腫，亦將瀉之耶？且古方原載腫病五不治：唇黑傷肝，缺盆平傷心，臍突傷脾，背平傷肺，足底平傷腎，此五者不可治矣。是其立方之意，非皆為不可治之證而設，後人不察，概從攻瀉者何耶？所以凡用劫奪之藥者，其始非不遽消，其後攻之不消矣，其後再攻之如鐵石矣。不知者觀之，方謂何物邪氣？若此之盛，自明者觀之，不過為猛藥所攻而致。覺此身之元氣，轉於此身為難者，直有驅良民為寇之弊，所謂亦子盜兵，弄於潢池亶其然乎？明乎此，則有培養一法，補益元氣是也；則有招納一法，升陽舉氣是也，則有解散一法，開鬼門潔淨府是也。三法俱不言瀉，而瀉在其中矣，無餘蘊矣。</p>

<h2>喘脹標本論</h2>
<p>喘脹二因，皆小便不利，喘則必生脹，脹則必生喘，但證有先後之殊，而復有標本之異，可得而辨焉。何則？先喘而後脹者，生於肺；先脹而後喘者，生於脾。蓋肺金司降，外主皮毛。經曰：肺朝百脈，通調水道，下輸膀胱，是小便之行，由於肺氣之降下而輸化也。若肺受邪而上喘，則失降下之令，故小便漸短，以致水溢皮膚而生腫滿焉，此則喘為本而脹為標也。脾土惡濕，外主肌肉，土能剋水，若脾土受傷，不能制水，則水濕妄行，漫漬肌肉，水既上溢，則邪反侵肺，氣不得降而生喘矣，此則脹為本而喘為標也。屬肺者，當清金降氣，而行水次之；屬脾者，當實脾行水，而清金次之。苟肺證而用燥脾之藥，則金得燥而喘愈加；脾病而用清金之藥，則脾得寒而脹愈甚矣。治喘脹者，但知實脾行水，不知分別脾肺先後之證，故為發明之。</p>

<h2>喘哮短氣氣逆息賁辨</h2>
<p>經云：出入廢則神機化滅，升降息則氣立孤危。又云：一息不運則機緘窮，一毫不續則穹壤判。此言人生之氣出入升降，貴乎往來不窮，乃成生生之妙用。若外為六淫所傷，內為七情所結，則喘哮、短氣、少氣、氣逆、息賁之證，種種作矣。然何以辨之？喘者，促促氣急，喝喝痰聲，張口抬肩，搖身擷肚，由於肺氣感邪，肺葉張舉，或虛而挾寒；或實而挾熱，或水氣上乘，虛火上炎；或氣鬱所感，脾胃不足，皆有此候。風寒必有冷痰如冰之證；實熱必有壅盛燥渴之證；水氣必脅下脹滿有聲，四肢浮腫；虛火必得食即減，食已即發，乍進乍退；氣鬱必鼻息引張，煩悶胸滿，胃虛必氣道奔急，喘甚不休。治者隨證而施。使浮游之火下降，清肅之令下行，自不復有火矣。哮者與喘相類，但不似喘開口出氣之多。《聖濟總錄》名為呷嗽是也，以胸中多痰，結於喉間，與氣相系，隨其呼吸有呀呷之聲。得之鹹酸太過，積熱膠痰，痰去則聲少息。倘不節口，而胸中未盡之痰，得新味相結，哮又作矣，治之以吐痰為生。若遇冷而發者，因中外皆寒，宜溫其肺金。若寒包其熱者，宜清肺藥中兼加發散，則自然愈也。短氣者，呼吸雖急而不接續，似喘無痰聲，亦不搖肩呻吟，而無痛禁，雖若氣上衝，實非氣上衝也。凡氣食阻者宜瀉之，元氣虛者宜補之。少氣者，氣少不足以言，即經所謂言而微，終日復言，為奪氣之候，皆因中氣不足所致，故短氣猶有屬實，少氣惟有補虛而已。逆氣者，但氣上奔急，肺壅而不下，若有不能呼吸之狀，實於哮喘短氣不同。息賁者，五積中之肺積也，喘息奔急，亦名息積，右脅下必有積塊以別之。人之五臟，皆有上氣，而肺為之總司，其體清虛，有升有降，即出入皆利，其用健運，少氣少血，即升降無資。故喘哮諸證，皆在肺金分野，治之亦宜在肺。然屬實者，毋庸更論；屬虛者，又應變通。如土虛而不能生金者，則治在脾而中樞能運；或腎虛而不能納氣者，治在腎而北門有鎖。皆以氣味厚藥，實其中下二焦之間，不得泥夫壅逆之候，而束手逡巡也。</p>

<h2>噦逆咳逆乾嘔嘔吐五證辨</h2>
<p>噦逆者，噦而氣逆也。俗所謂發呃、吃逆、吃忒，總當名噦是也。咳逆者，咳而氣逆也，咳嗽之咳也。乾嘔者，空嘔也，聲出而物不出也。嘔者，聲物兼出也。吐者，物出而聲不出也。此數者，方書每混論無別，何以辨之？《靈樞》曰：胃有故寒氣，與新穀氣俱還入胃，新故相亂，真邪相攻，氣並相逆，復出於胃，故為噦。《素問》曰：病深者其聲噦，《傷寒論》有食谷者噦，有飲水、火劫、失下、妄下諸逆治。至病深者噦，蓋指俗論發呃而吃吃然有聲者為噦也，《千金方》謂咳逆為噦逆之名非矣。《素問》云：歲金太過，有病咳逆，少陽司天，初之氣，二之氣，俱有病咳逆。又金鬱之發，民病咳逆，蓋皆論肺金及火為病，分明指咳嗽之咳，因氣逆者而名為咳耳，烏得與噦逆紊乎？仲景《傷寒論》咳逆者，僅見於辨脈、平脈二篇，至《金匱要略》稱咳逆者疊出，可略舉而證也。曰：病咳逆脈之，何以知為肺癰？寸口脈微而數，微則多風，數則為熱。且云：風傷皮毛，合於肺則咳。又曰：咳逆上氣，時時吐濁。但坐不得眠，皂莢丸主之。又肺癰胸滿，一身微腫，咳逆上氣，喘鳴迫塞，瀉肺湯主之。又曰：咳逆倚息不得臥，小青龍湯主之。此皆咳而氣逆為病也，須知論咳而或曰咳，或曰咳逆。同一咳證而已。兼以逆字言者，不過因咳而氣上逆耳，是即喘吐噦嘔，有曰喘逆、吐逆、噦逆、嘔逆類耳。《明理論》以辨脈篇咳逆脈散者，入於咳冷之條，而與噦目為一類。謂噦則吃吃然有聲者。斯皆合仲景之旨矣，奈何論聲則是，論名則非。故又曰：噦者，咳逆是也，附和《千金》之說，強合二證為一名矣，由是後世以吃逆忒逆為咳逆者紛紛。王安道既知咳嗽為咳逆，又認有吃忒之咳逆，故亦蹈俗呼之弊。良由昧於噦耳，謂乾嘔乃噦之微，噦乃乾嘔之甚。乾嘔者，其聲輕小而短。噦者，其聲重大而長。夫二者雖有微甚之分，蓋一證也，安道此說，強分一證為二名矣。乾嘔雖甚，可變為噦哉。若視乾嘔為病輕，斷為病重，遂斷聲有輕重大小長短，以乾嘔甚為噦，因引《素問》病深者其聲噦之句，以證噦病重於乾嘔，不思人病重時，每有作噦忒聲者，非病深而噦者乎。反以乾嘔之甚者名噦，未免以吃芯之當名噦者為咳逆矣，欲辨昔人之非，得毋轉相紊亂乎？或曰：子以安道為非。然《要略》有云：乾嘔噦，若手足厥者，橘皮湯主之。豈非乾嘔噦乃同類之一證，故合言之耶。余曰：此正乾嘔且噦二證互見，故並言之也。然則所謂乾嘔吐逆吐涎沫，用半夏乾薑散者，亦乾嘔與吐逆並言也，亦可視為同類之一證哉。安道之論噦與咳逆，余雖未能從，若夫乾嘔與吐之辨，則信乎千古定論也。其曰：嘔兼聲物，故無物而聲空鳴者，謂之干，干猶空也。至於吐則必有物矣，其可謂之干。仲景於嘔字加一干字，所以別，夫嘔為聲物俱去也。又仲景嘗言欲嘔矣，未嘗言欲乾嘔欲噦也。夫欲之為義，將出未出而預覺之者，惟有形之物則然，無形之聲則不然也。嘔與吐，主物言，故可謂之欲，乾嘔與噦主聲，故不可謂之欲。發明聲物兼出為嘔，物之獨出為吐，聲之獨出為乾嘔，聲獨出而吃忒作聲為噦逆，咳嗽上逆為咳逆，孰能易其言哉？</p>

<h2>噎膈反胃本於陰枯陽結論</h2>
<p>噎膈反胃，多因於內傷，憂鬱失志，及恣意酒食，縱情勞役，以致陽氣內結，陰血內枯而成也。經云：三陽結謂之膈，三陽，手太陽小腸、手陽明大腸、足太陽膀胱也。蓋小腸熱結，則小水短少，而火氣不泄；大腸熱結，則大解不利，而鬱熱難除；膀胱熱結，則津液不充，而道路蹇澀；三陽並結，則前後之氣不行。下既不行，則火邪上逆。氣火上逆，則痰涎愈生。痰涎生則往來之氣愈阻，而嘔逆噎膈之證起矣。且也重傷之以七情，更感之以六氣。或不戒炙爆肥膩之物；或妄投辛香燥熱之劑，遂使火邪愈熾，津液枯，痰涎愈結，病情愈深，豈易療哉？須分上中下三焦以治之。夫咽嗌梗塞，氣不順行，水飲可行，食物難入，其槁在吸門，名之曰膈。其或食下則胃脘作痛。煩悶不安，須臾吐出，食出而安，其槁在賁門，名之曰噎。噎者屬上焦，其或食雖可下，良久復出。槁在幽門，名曰反胃，亦曰胃反，此屬中焦。其或朝食暮吐，暮食朝吐，所出完谷，小便赤，大便難，或如羊矢，其槁在闌門，亦名反胃。上屬下焦。然壯者猶或可治，當用透膈疏氣，化痰清火，健胃和脾之劑。經又曰：噎膈多生於血乾，反胃亦生於脾弱。東垣曰：脾、陰也，血亦陰也，陰主靜，內外兩靜，則臟腑之火何由而生？金水二臟有養，陰血自生，腸胃津液傳化合宜，噎膈反胃之有哉？</p>

<h2>三消證治論</h2>
<p>夫三消者，即《內經》之所云消癉、消中也。多飲而渴不止為上消，如氣厥論云：肺消、膈消，奇病論云：消渴是也。消穀善飢為中消。如脈要精微論云：癉成為消中。師傳篇云：胃中熱則消穀是也。溲便頻膏濁不禁為下消，如病形篇云：肝腎脈微小為消癉，肝腎在下是也。何柏齊齋曰：造化之機，水火而已，宜平不宜偏，宜交不宜分。水為寒濕，火為燥熱，火性炎上，水性潤下，憔火在下，水在上，方為既濟，而坎離相交。若水偏盛不交，則為腫脹，火偏盛不交，則為消渴，惟制其偏而使之交。斯為善治者矣。《袖珍》云：人生之有腎，猶水之有根，故腎臟受病，必先形容憔悴，雖加滋養，不能光澤。凡患此證，皆腎經為病，由壯盛之時不能保攝，恣情快欲，或飲酒無度，或嗜炙爆過多，或久服丹石之藥，遂致腎水枯竭，心火燔灼，三焦猛烈，五臟煎熬而消渴生焉。治當補腎水，瀉心火，除腸胃燥熱之盛，濟身中津液之衰，使道路散而不結，津液生而不枯，血氣和平，其病自已。此治消渴者但察其虛實，清火壯水，或滋瀉。隨所宜而用之法也。然《內經·陰陽別論》曰：二陽之病發心脾，其傳為風消。此陽明為十二經之海，土衰而木氣乘之，故為肌肉消也。氣厥論曰：心移寒於肺為肺消，飲一溲二，死不治。此言元陽之衰，而金寒水冷，則為肺腎之消也。病形篇曰：五臟之脈微小者，皆為肺癉。此言寸口之脈弱見於外，以氣血之衰而消於內也。又氣交變大論曰：歲水太過，上臨太陽，民病渴而妄冒。五常政大論曰：太陽司天寒淫所勝，民病嗌乾，渴而欲飲，是皆以陰抑陽，以水制火，必以溫劑散去寒邪，其病自愈也。由是觀之，又烏得概作熱治哉？余嘗治一縉紳，年逾四旬，因案牘積勞，致神困食減，時多恐懼，上焦無渴，不嗜湯水，或少飲則沃而不行，每至夜必去溺三十餘合，半皆津液。最後延余診視，因相告曰：自病以來，通宵不寐者，已半載余，間或朦朧睡去，必夢見亡人凶喪等事，又與鬼魅相親。余謂之曰：此思慮積勞，損傷心腎。元氣既虧，則陰邪勝之。故多陰夢，陽衰則氣虛，陽不帥陰，則水不化氣，故飲雖少而陰濁多也。此正《素問》飲一溲二之疾，幸脈猶帶緩，肉尚未脫，胃氣尚行，可以無慮。必俟陽氣漸回，則陰邪自漸退矣，乃用歸脾去木香，八味去丹澤，一以養陽，一以養陰。至三百餘劑，人參二十餘斤而後愈。此正肺消於上，精消於下之證。可見消亦有陰陽，醫斷不可執滯而不通也，知我罪我，其鑑予言。</p>

<h2>三消從火斷論</h2>
<p>八卦之中，離為烜物。五行之中，火能焚物。六氣之中，火能消物。故火之為用，燔木則消而為炭，焚土則消而為磚，鍊金則消而為汗，煨石則消而為灰，煮水則消而為湯，煎海則消而為鹽，鍊汞則消而為粉，熬錫則消而為丹。故澤中之潦，涸於炎暉。鼎中之水，涸於壯火。蓋五臟心為君火正化，腎為君火對化，三焦為相火正化，膽為相火對化，得其平，則烹煉飲食，糟粕去焉。不得其平，則燔灼臟腑，而津液竭焉。故入水之物，無物不長。入火之物，無物不消。無一身之心火，甚於上為膈膜之消，甚於中為腸胃之消，甚於下為膏液之消，甚於外為肌肉之消。上甚不已，則消及於肺；中甚不已，則消及於脾；下甚不已，則消及於肝腎；外甚不已，則消及於筋骨。四臟皆消盡，則心始自焚而死矣。故《素問》有消癉、消中、消渴、風消、膈消、肺消之說。消之證不同，歸之於火則一也。故消癉者，眾消之總名；消中者，善飢之通稱；消渴者，善飲之通謂，惟風消、膈消、肺消三說，不可不分。風消者，二陽之疾，多風邪所鼓。格拒賁門，消鑠腸胃，水不能咽，口乾善渴。經曰；二陽結，為之消，善食而瘦者，名曰食㑊是也。膈消者，金受火邪，善飲數溲，變為水腫。經曰：心移熱於肺，為膈消是也。肺消者，肺外為寒邪所搏，陽氣不施，內為火所燥，元極水復，故皮膚索澤而㑊著，溲溺積濕而頻下，上飲半升，下行十合。經曰：心移寒於肺為肺消，飲一溲二死，不治是也。膈消不為寒所薄，陽氣得以散於外，為可治。肺消為寒所薄，陽氣自潰於中，為不可治。夫消者必渴，渴亦有別。膏粱之人，多肥甘之渴，與藥石之渴；藜藿之人，則惟燥熱之渴而已。故火在上者，善渴，火在中者善飢。火在下者善渴。多飲而數溲，火在中下者不渴而溲白液；火遍上中下者，飲多而數溲，此其判也。後人斷消為腎虛，水不勝火之故，其用藥則又非是，何也？以八味丸治消水不能生，而火反助也，惟河間制言立法，甚得《內經》之旨，而世俗不知。故消渴一證，調之而不下，則水潤少濡，不能殺炎上之勢，下之而不調，亦旋飲旋消，不能沃膈膜之干。下之調之，而不戒嗜欲，不節喜怒，不減滋味，則病已而復作。能知此者，消渴不足憂也。</p>

<h2>消渴亦有屬寒辨</h2>
<p>按消渴之證，雖由火熱，然亦有屬虛寒者。如《內經》所云：心移寒於肺為肺消，飲一溲二，死不治之證是也。蓋飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺。其肺所受之津液，俱賴心火以熏蒸之，故能上及耳。設心火既衰，則上下不交，陰陽失偶，津液何由熏蒸上達哉？故肺燥則求救於水，究無火以熏蒸，則愈飲愈渴。上飲半升，下行十合，譬之釜底有火，則釜中水沸，自然暖氣升騰，其蓋有汗。若火滅水寒，則氣不上行，釜蓋自無以潤，此理之必然也。今之醫者，不達其故，謂內為熱所傷，外為寒所膈，其亦不思之甚矣！其心火者，君火也，雖不可以妄動，而亦不可消滅。今《內經》言移寒於肺，明是火衰之候，與下文心移熱於肺為膈消，火甚鑠金之病，二證迥然各別，何得一概作熱治之乎？若果然，則能消水矣，何反飲一溲二乎？昔人以八味治渴，正為此證。倘不明陰陽虛實，概用寒涼之劑，未免增其病耳，故辨及之。</p>

<h2>首疢論</h2>
<p>方書多分頭痛頭風為二門，然一病也，但有新久去留之分耳。淺而近者，名頭痛，卒然而至，易於解散。深而遠者，名頭風，作止不常，愈後仍發，皆當驗邪所從來，乃世俗不作風醫，即從寒治，安知《內經》有不一之邪乎？如雲風從外入，振寒汗出頭痛。新沐中風，則為首風。大寒內至骨髓，髓以腦為主，腦逆故頭痛。傷寒一日，巨陽受之，頭項痛，少陽司天，初之氣，候乃大溫，病氣發於上，頭痛。二之氣，熱鬱於上，頭痛，又火淫所勝。民病頭痛，濕淫所勝，頭痛時眩。凡此皆六淫相侵，與清陽真氣上薄而痛者也。有云頭痛甚，則腦盡痛，手足寒至節，死。頭痛巔疾，下虛上實，心熱甚，頭痛面赤，肺熱病。頭痛汗出，腎熱病。頭痛貞貞淡淡然，厥頭痛。面若腫，起而煩心益悲泣，貞貞頭痛。頭半寒痛，膀胱足太陽所主；頭囟頂腦戶中痛，膽足少陽所主。凡此皆臟腑經脈之氣，逆亂於清道，壅遏經隧而痛也。蓋頭象天，天府清陽之氣，皆會於此，五臟清華之血，亦注於此，於是天氣所發六淫之邪，人氣所變五賊之逆，皆能相害。或蔽覆其清明，或瘀塞其經絡，因邪氣相薄，鬱而成熱，脈滿則痛。若邪氣稽留，脈滿而氣血亂，則痛甚，是實痛也。若寒濕所侵，真氣虛弱，雖不相薄成熱，然邪客於脈外，則血泣脈寒，寒則縮卷筋急，外引小絡而痛。得溫則止，是虛痛也。因風痛者，抽掣惡風，或無汗；因熱痛者，煩心惡熱，或有汗；因濕痛者，頭痛而遇天陰更甚；因痰痛者，頭昏而憒憒欲痛；因寒痛者，結急而惡寒戰慄；氣虛而痛，遇勞則甚，其脈大；血虛而痛，善生驚惕，其脈芤；傷食頭痛，痞塞咽酸而惡食；傷酒頭痛，噁心眩暈而吐酒。更有偏頭風者，在左屬風與血虛，在右屬痰與氣熱。雷頭風者，或因風邪所客，起塊起核；或因痰火上逆，如蟬如雷。真頭痛者，上引泥丸，死於旦夕。大頭痛者，腫大如斗，疫氣時行。眉稜骨痛者，風寒痰熱皆得干之。頭風白屑者，木旺凌脾，金來報復。頭癢者，濕也痰也，二者皆能郁。頭搖者，風也火也，二者皆能動。用是分別施治，無不得矣。</p>

<h2>心胸胃脘脅腹諸痛辨</h2>
<p>《內經》之論心痛，未有不兼五臟為痛者，獨詳於心而略於胸腹，舉一以例其餘也。心為君主，義不受邪，受邪則本經自病，名真心痛，必死不治。然經有云：邪在心則病心痛，喜悲眩僕，此言包絡受邪，在腑不在臟也。又云：手少陰之脈動，則病嗌乾心痛，渴而欲飲，此言別絡受邪，在絡不在經也。其絡與府以邪，皆因怵惕思慮，傷神涸血，是以受如持虛。而分論九種。曰飲、曰食、曰熱、曰冷、曰氣、曰血、曰悸、曰蟲、曰疰，苟不能遍識病形，將何以為治耶？胃屬剛土，列處中焦，為水穀之海，五臟六腑十二經脈，皆受氣於此。壯者邪不能幹，怯者著而為病。偏熱偏寒，水停食積，皆與真氣相薄而痛。肝木相乘為賊邪，腎寒厥逆為微邪，挾他藏而見證，當與心痛相同，但或瀉或脹，或嘔吐，或不能食，或吞酸，或大便難，或瀉利面浮而黃。本病與客邪必參雜而見也，胸痛即膈痛，其與心痛別者，心痛在歧骨陷處，胸痛則橫滿胸間也。其與胃脘痛別者，胃脘在心之下，胸痛在心之上。經曰：南風生於夏，病在心，腧在胸脅，此以脅屬心也。肝虛則胸痛引背脅，肝實則胸痛不能轉側。此又以胸屬肝也，夫胸中實肺家之分野，其言心者，以心之脈，從心系卻上肺也。其言肝者，以肝之脈貫膈，上注於肺也，脅痛舊從肝治，不知肝固內舍膺脅，何以異於心肺，內舍膺脅哉？若謂肝經所過而痛。何以異於足少陽心主所過而痛哉？若謂經脈挾邪而痛。何以異於經脈所過而痛哉？故非察色按脈，細審各經氣變，卒不能萬舉萬當也，且左右肝肫氣血陰陽，亦有不可盡拘，而臨證者可無詳察耶。腹痛分為三部，臍以上痛者，為太陰脾；當臍而痛者，為少陰腎；少腹痛者，為厥陰肝，及大小腸衝任四經，每部各有五賊之變，七情之發，六氣之苦，五運之邪，至紛至博，苟能辨氣血虛實，內傷外感而為之調劑，未有不中痛情者矣。</p>

<h2>心痛解</h2>
<p>夫心者，君主之官，一身之所聽命焉。故五臟失治，皆為心痛之病，經中刺治分經，理甚明悉。若是金針用藥，尤宜詳察。腎心痛者，多由陰邪上衝，故善瘈。如從後觸其心，胃心痛者，多由停滯，故胸腹脹滿。脾心痛者，多當寒逆中焦，故其病甚。肝心痛者，多由木火之郁，病在血分，故色蒼蒼如死狀。肺心痛者，多由上焦不清，病在氣分，故動作則痛益甚。若知在氣則順之，在血則行之，鬱則開之，滯則通之，火多實則清之散之，寒多虛則溫之補之，必隨手取效也。凡諸經心痛，心與背相引，心痛徹背，背痛徹心，宜急溫其經。諸府心痛，難以俯仰，小腹上衝，卒不知人，嘔吐泄瀉，其勢甚銳，急宜溫其腑。至臟邪乘心，名真心痛，手足青至節，不可救藥者，多宜急溫其心包，並注邪別脈。然心痛甚者，脈必伏，以心主脈，不勝其痛，其脈自伏也，切不可因其脈伏神亂。駭為心虛，而用地黃、白朮補之。蓋邪得溫藥則散，得寒膩藥則不散，不可不慎之也，溫散之後，方可陰陽平補之。</p>

<h2>痛無補法辨</h2>
<p>後世治痛之地，有曰痛無補法者；有曰通則不痛，痛則不通者，有曰痛隨利減者，人皆傳誦以此為不易之。法凡是痛證，無不執而用之，不知痛而閉者，固可通之。如經云：熱結小腸，閉而不通之類是也。痛而泄者，不可通也，如經云：寒客小腸，後泄腹痛之類是也。觀王荊公解痛利二字最妙，曰：治實法，云：諸痛為寒，痛隨利減，後世以利為下也。假令痛在表者，實也；痛在裡者，實也；痛在血與氣者，亦實也。故在表者，汗之即愈；在裡者，下之即愈；或在氣血者，散之行之即愈，豈可以利為下乎？宜作通字訓則可。此說甚善，得治實之法矣。然痛證亦有虛實，治法亦有補瀉，其辨之之法，不可不詳。凡痛而脹閉者多實，不脹不閉者多虛；痛而拒按者為實，可按者為虛；喜寒者多實，愛熱者多虛；飽而甚者多實，飢而甚者多虛；脈實氣粗者多實，脈虛氣少者多虛；新病壯年者多實，愈攻愈劇者多虛。痛在經者脈多弦大，痛在臟者脈多沉微，必普脈證而察之，則虛實自有明。辨實者可利，虛者亦可利乎？不當利而利之，為害不淺。凡治表虛而痛者，陽不足也，非溫經不可。裡虛而痛者，陰不足也，非養營不可。上虛而痛者，心脾實傷也，非補中不可。下虛而痛者，脫泄亡陽也，非速救脾腎溫補命門不可。夫以溫補而治痛者，非不多也，奈何醫者專執痛不可補氣之說，豈良法哉？</p>

<h2>痃癖等七種釋名論</h2>
<p>或悶痞與痃癖積聚癥瘕，病雖相似，而名各不同，請逐一條陳其說，以曉後學可乎？曰：痞者否也，如天地不交之否，內柔外剛，萬物不通之義也，物不可以終否，故痞久則成脹滿，而莫能療焉；痃癖者，懸絕隱僻，又元妙莫測之名也；積者跡也，挾痰血以成其跡，亦郁久積至之謂耳；聚者緒也，依元氣以為端緒，亦聚散不常之意耳；症者徵也，以其有所徵驗，及久而成積聚也；瘕者假也，又遐也，以其假借氣血成形，及歷年遐遠之謂也。大抵痞與痃癖，乃胸膈之候；積與聚，乃肚腹間之病，因屬上中二焦之病，故多見於男子；其癥與瘕。獨見於臍下，是為下焦之病，故常見於婦人。大抵腹中有塊，不問積聚癥瘕，俱為惡候，切不可視為尋常，而不求醫早治。若待脹滿已成，胸脅膨擊，雖倉扁復生，亦莫能救。遘此疾者，可不慎乎！</p>

<h2>治積按初中末法論</h2>
<p>積之成也，正氣不足，而後邪氣踞之。如小人在朝，由君子衰也，正氣與邪氣，勢不兩立。若低昂然，一勝則一負，邪氣日甚，正氣日消，不攻去之，喪亡無及矣。然攻之太急，正氣轉傷，初中末之三法，不可不講也。初者，病邪初起，正氣尚強，邪氣尚淺則任受攻。中者，受病漸久，邪氣較深，正氣較弱，任受且攻且補。末者，病魔經久，邪氣侵凌，正氣消殘，則任受補。蓋積之為義，日積月累，匪伊朝夕，所以去之者，亦當有漸，太急則傷正氣，正氣傷則不能運化，而邪反固矣。余嘗制陰陽二積之劑，藥品稍峻，用之有度，補中數日，然後攻伐，不問其積之多少，又與補中，待其神旺，則復攻之，屢攻屢補，以平為期，此余獨得之訣，百發百中者也。經曰：大積大聚，其可犯也，衰其大半而止。故去積及半，純與甘溫調養，會脾土健運，則破殘之餘積，不攻而自走，必欲攻之，無餘不遺，其人之不夭殃者，亦鮮矣。經曰：壯者氣行即愈，怯者著而為病。潔古云：壯盛人無積，虛人則有之，故當養正，則邪自除。譬如滿座皆君子，一二小人，自無容身之地，雖然，此謂輕淺者言爾。若大積大聚，不搜而逐之，日進補湯無益也。審知何經受病？何物成積？見之既確，髮直入之兵以討之，何患其不愈？兵法之善攻者，敵不知其所守，是亦醫中之良將也夫。</p>

<h2>蟲積論</h2>
<p>蟲由濕熱鬱蒸而生，觀之日中有雨，則禾節生蟲，其理明矣。古分九蟲三尸等論，余謂自積成蟲，難以定名。若盜食人之氣血，得其清者，謂之靈蟲，久能移害於人，即勞蟲、傳屍、屍疰之類是也。若採人之飲食，得其濁者，謂之物蟲，久而能變異，即寸白、蛔蟲、魚鱉、癥瘕之類是也。故物蟲者，多因自積而成，乃有形可驗之物，治宜以有形相制相畏之藥，如雷丸、蕪荑、使君、川椒、黃連、苦楝之屬。靈蟲者，多因自虛而致，乃變化莫測之物，治宜以氣類相感之藥，如桃仁、川椒、天靈蓋、蘇合香、麝香、硃砂之屬。外有鬼氣中惡，亦靈蟲之類也。因飲食蟲蛭，及果中毒蟲，亦物蟲之類也。治宜格其物理，考其所畏以制之。又有久患勞瘵，氣亢血熱之人，勿用辛烈等藥，大抵人面萎黃，四肢無力，飲食不為肌膚，乃血氣虛損，起伏作痛，聚散不定，皆有蟲害，宜急攻之。若待成靈，傷殘臟腑，不可救矣。服蟲藥宜前半月上半日，蟲頭向上時，忌妄言預泄，蓋蟲既有靈，能拒避湯藥故也。</p>

<h2>黃疸證毋拘五證宜別三焦論</h2>
<p>丹溪云：疸證不必分五，同是濕熱，如⿳𠆢覀皿醬相似，斯言已得大義。然考之《內經》有上中下之分，有曰目黃曰黃疸者，有曰黃癉暴病久逆之所生也。少陰厥陰司天，四之氣溽暑，皆發黃疸者，悉是上焦濕熱病也。有云食已如肌曰胃疸者，與脾風發癉腹中熱出黃者，又脾脈搏堅而長，其色黃者，《靈樞》所謂脾所生病黃疸，皆中焦濕熱病也。有謂溺黃赤安臥者黃疸，及腎脈搏堅而長其色黃，《靈樞》所謂腎所生病黃疸，皆下焦濕熱病也。獨仲景妙得其義，詳於傷寒證中。有曰邪熱入里，與脾經相交，則發黃；或內熱已甚，覆被火熱，兩陽相灼亦發黃；或陽明熱甚無汗，小便不利，濕熱不泄亦發黃；或發汗已，身面目俱黃者，為寒濕在裡不解，故發黃。是知非特濕熱發黃，而寒濕亦發黃也，但寒濕之黃，黑暗不明，熱甚之黃，明如橘色。大抵黃家屬太陰，太陰者脾也，為濕熱所蒸，則土之本色外現，或脈沉小，腹硬，小便自利，其人如狂者，又為血在下而發黃也。治疸須分新久，新疸濕熱少張，即當消導滲利，如茵陳五苓散、茯苓滲濕湯之類，無不效者。久病脾胃受傷，血氣必弱，宜用補劑，如參朮健脾湯、當歸、秦艽之類，使正氣盛則邪氣自退，庶可收功。若口淡怔忡，耳鳴腳軟，或微寒熱，小便赤白濁，又當作虛治，宜養榮湯，或八味丸、四君子皆可用，不可過用涼劑，強通小便。恐腎水枯竭，久而面黑黃色，不可治矣。</p>

<h2>陰黃說</h2>
<p>先哲云：水火即人身熟腐水穀之氣，得其平謂之水火，失其宜謂之濕熱，濕熱相搏，氣不　得達而生黃，是固然矣。然王海藏云：傷寒病遇太陽太陰司天，若下之太過，往往變成陰黃。一則寒水太過，水來犯土；一則土氣不及，水來侵之，用茵陳湯，次第加薑、附、茱萸治之。夫傷寒熱病而有陰黃，則雜病黃疸亦有陰黃矣。故身冷畏寒，陰黃也；濕勝脾虛，陰黃也；二便清利，陰黃也；脈沉而微，陰黃也。凡遇此等，非溫補不愈。設以黃色為土邪有餘，而過行朱伐，飲食必減，胃氣必虧。由脾傳腎，變為黑疸而不可治，良可悲矣！</p>

<h2>七疝解</h2>
<p>疝、隱疾也，古稱七疝，寒、水、筋、血、氣、狐、㿗也。寒疝者，腰痛牽引睪丸，屈而不伸，其脈沉遲，得此之由，必是寒客下體，如坐於卑濕，涉於寒水之所起也，寒氣自外入內，束其少火，郁其肝氣，故令腰痛，痛而牽引睪丸者，肝之經絡環陰器故也；寒主收引，故令屈而不伸；尺內主腰，脈沉遲，皆陰象也，宜吳茱萸加附子湯主之。水疝者，腎囊腫大，陰汗不絕，得之飲水，醉後勞於使內。蓋飲水醉酒，則濕氣勝。勞於使內，則腎氣虛，腎虛則濕勝而流攻者，勢也，故令陰囊腫大如水晶，陰汗不絕，如罅漏也。經云：下者舉之。又云：風能勝濕，宜升陽除濕湯主之。筋疝者，莖筋掣痛，挺脹不堪。此得之房勞邪術，所使春方，多熱毒之劑，故令脹滿不堪，宜甘草梢黑豆湯主之。血疝者，外腎因撲損而傷，睪丸偏大，有時疼痛者，中有瘀血，名曰血疝，宜於夜分之時，自以一手托其下，一手按其上，由輕至重，揉摩百遍，彌月之間，瘀血盡散，陳氣皆行，誠妙法也。氣疝者遇有拂鬱，則睪丸腫大，遇有悲哀，則不藥而消，蓋邪之所湊，常垂其虛拂鬱，而睪丸腫大者，肝氣垂腎之也，悲哀則不藥而消者，氣有所泄也。先哲云：肝腎之病同一法，治宜虎潛丸主之。或曰：何以不用橘核、川楝、枳實、青皮之類？余曰：皆破氣之藥，昔人多用之，然治標云爾，況蹈重虛之戒乎？氣實用之可也，狐疝者：晝則氣出而腎囊腫大，令人不堪，夜則氣入而腫脹皆消，如無其疾。狐之為物，晝則出穴而溺，夜則入穴而不溺，以斯證肖之，故名狐疝。晝陽也，夜陰也，晝病而夜否，氣病而血不病也。宜補中益氣湯，升舉下陷之陽，加黃柏、知母，以益夫不足之坎。或曰：何不用子和辛香流氣之品？余曰：此氣虛所致，若更流藏，非惟無益，而又害之也。㿗疝者，頹大也，睪丸雖大而無疾。此係父子相傳，得於有生之初，非有生以後，外因所致之疾也，故不必主治。或先有㿗疝，後來疼痛疾苦者，必兼前六證之法治之。</p>

<h2>淋閉證治論</h2>
<p>小便不通之謂閉，滴瀝作痛之謂淋。二者因心腎不交，蘊積熱毒，或酒後房勞，或飲食燥熱，七情鬱結所致，皆一類也。自嚴氏有五淋之分，氣淋者，小腹滿悶，便澀，常有餘瀝；砂淋者，莖中痛，尿難卒出；膏淋者，尿如脂膏；勞淋者，勞倦即發，痛引氣衝；血淋者，遇熱即發，甚則溺血，候其鼻色黃者，小便難也。至東垣論肺為生水之上源，腎為主液之元氣，若淋而口渴，身熱脈數者，為肺受肝邪熱，失其降水之令為氣分證，宜以輕清淡滲藥瀉熱。若無身熱口渴，為血分之候，宜以滋陰厚味藥助腎。愚按嚴氏之意，乃以腎與膀胱本病論之。東垣之辨，是兼他證而言也，何也？以其論中肺受熱邪之證，及肺患喘嗽，與夫脾病脹滿，淋閉水泄，小便澀少，皆他病致淋，不因腎與膀胱也。是知淋閉之證，主乎心腎，而實關乎脾肺矣。丹溪則又謂膀胱之府，有上口而無下口，得引升騰之氣，乃施滲泄之令，氣化則能出。苟氣血偏濁，或正虛下陷，遂郁成淋，譬之滴水之器。上竅不通，則下竅不出，宜加柴胡、升麻等藥提之。若中氣弱，不能運化清濁而淋者，宜加補氣之藥。若因血虛而氣不能升提者，蓋氣為血配，血虛則氣亦虛，而湧泄之令不行，宜補血加升提。若酒食過度，濕痰積於胸膈，脈見弦滑，證見痞悶者，宜二陳湯加香附、木香探吐、次加山梔、木通調之，此亦一法也。愚按造化之理，陽無陰不化，陰無陽不行，非升不能降，非降不能升。故吐者，升之法也；滲利者，降之法也。利濕清熱等劑者，陽分氣藥也；瀉火滋陰等劑者，陰分血藥也。或升降同用，或氣血兼加，但血分之病不用偏施滲泄，恐反耗其精液，以致虛而愈燥，惟少用肺，引通子母相生之情。氣分之病，不可純用沉寒，恐更泥滯其化生，以致郁愈而淋，惟少用辛潤行氣，令氣化則滲泄而出。今人見用溫藥，遂疑淋有冷證，不知此氣鬱從治之法耳。外有挾寒淋瀝先寒戰而後溲便，因寒氣與正氣爭，邪氣盛，則寒戰成淋，正氣盛，則寒戰解而便利。有汗過多，小便當赤澀如淋，因五內枯燥，慎勿用利小便之劑。亦有小便艱難，莖中不痛而癢者，乃積所致，非淋也。又有跌僕損傷，及服溫藥燥澀太過，致血汙留並，婦人經水不通，血積成瘕，並能作淋閉，則必小腹滿痛，或手不可近，宜用紅花、桃仁等破血。更有難產為收生者損胞，致小便淋瀝不斷，其證必無痛澀，但滴而不自覺，或覺而不痛，別當大補氣血。若大小便皆閉，上為嘔吐者，世稱關格，最難調治。經云：不得盡期而死也。</p>

<h2>精濁論</h2>
<p>溺與精所出之道不同。淋病在溺道，故綱目列之肝膽部。濁病在精道，故綱目列之腎膀胱部。今患濁者，雖便時莖中如刀割火灼，而濁自清，惟竅端時有穢物，如瘡之有膿，目之有眵，淋瀝不斷。初與便溺不相混濫，如河中之清也，至易辨之，每見時醫，以淋法治之，五苓、八正，雜投不已，因而增劇者，不可勝數。余每正之，其餘當難以臆說也。蓋由敗精腐者什九，由濕熱流注而虛者什一。或曰：昔人以赤濁為心虛有熱，由思慮而得之；白濁為腎虛有寒，由嗜欲而得之。何原病式以二濁俱屬於熱？丹溪亦云：濕熱有痰，子能與我折乎？曰：辨古今之得失，必以《內經》正之，自《巢氏病源論》，言白濁由勞傷腎虛冷，歷代宗其說有異詞。不惟白濁之理未明，即治濁之法亦誤。不思《內經》本無白濁之名，惟言思想無窮，入房太甚，發為白淫，與脾移熱與腎出白，少陰在泉溲白，此白濁之源也。原病式因《內經》諸病，水液混濁，皆屬於熱。言天氣熱則水渾濁，寒則清潔；又言水體清，火體濁。正如清水為湯，自然白濁也。可謂發聖人之旨，正千秋之誤。而不讀其書者，猶未盡知也。丹溪則以濕熱痰虛並言，然虛寒者，不可謂盡無，但熱多寒少耳。故《靈樞》有中氣不足，便溲為變之語。是當先補中氣以升舉之，而後分其氣血施治。設腎虛甚，或火邪亢極者，不宜峻用苦寒，必反佐治之，更在權衡輕重而已。</p>

<h2>精滑便濁分別辨</h2>
<p>精滑與便濁不同。便濁是便溺渾濁，即五淋之膏淋也，乃是胃中濕熱滲入膀胱，與腎經絕無干涉。精滑則牽引黏膩，雖不便溺，亦時有之。此是，腎水不足，淫火易動，精離其位，故令漸積而出耳。治之者，宜滋腎清心，健脾固脫，蓋精濁雖腎之液，而所以精濁者，心為之主也。夫君火一動，真精自失，能止其心，乃我身之大丹也。又考《千金方》，治精遺便濁凡九方，而用韭子者居其半。夫韭子辛熱，何思邈取之深也？蓋用以治便濁者，取其辛熱之氣，能燔土濕，使蒸熱上行而不下，乃釜底加薪之法，益火之源以消陰翳也。用以治遺精者，取其辛熱之氣以壯真陽，使之涵蓄陰精而不漏，乃益土防水之法，衛外而為固也。凡此不傳之秘，可與知者道耳。</p>

<h2>遺精白濁皆由心腎兩虛辨</h2>
<p>遺精者，不交而自泄也；夢遺者，夢交而泄也，二者皆從精道而出。夫精雖藏於腎，而實主於心，雖有邪術所使，夢與人交，及娩人鬼胎夜感之甚，未必不由心腎兩虛，邪乘虛入者。何也？蓋心之所藏者神，腎之所藏者精，心腎者，精神之根蒂也。凡男子思慮過度，則水火不交；快情恣欲，則元精失守。所以心動者神馳，神馳者精散。因晝之所思，故夜有所夢。今人多用龍骨、牡蠣等澀精之劑，隨止隨發，惟知固腎，不知治心。殊不知神不歸舍，則無精無主，安能自守哉？濁者從小便竅中而出，如油如膏，或有五色光彩，或赤或白，或澄根渾濁，或如精狀，名曰白淫。雖與遺精所出各異，所感則一，亦心血虧少，相火內熾，中焦濕熱，淫氣不清。譬如井中取水至清，烹之為白湯，澄之則有腳，豈非濕熱渾濁者乎？醫者但當分其虛實輕重，濕熱多少而治。如有虛損諸證者，則從虛治。因於心者，養心以收神；因於腎者，因腎以澀精；正虛者，主濕勝，宜溫補心腎之劑；偏虛者，主熱勝，宜清補心腎之劑；濕熱從丹溪治法；若患久者，宜升舉之藥。其外更有思欲不遂而精泄，有氣盛久無色欲，精漏遺泄者，非病也。</p>

<h2>老年人耳聾與少年人異治法論</h2>
<p>人身有九竅，陽七竅，眼耳口鼻是也；陰二竅，前後便溺所出是也。清陽走上竅，而下入於陰位，則有溺溲腹鳴之候；濁陰走下竅，而上入於陽位，則有窒塞耳鳴之候。故人年五十以外，腎氣漸衰於下，每每從陽上逆，而耳之竅職失聰，耳之聰司於腎，腎主閉藏，不欲外泄，因肝木為子疏泄母氣而散於外，是以謀慮鬱怒之火一動，陰氣從之上逆，耳竅窒塞不清，故能近聽不礙，而聽遠不無少礙。高年之體、大率類然。較之聾病，一天一淵。聾病者，其竅中另有一膜庶蔽，外氣不得內入，故以開竅為主，而方所用石菖蒲、麝香等藥，及外填內攻等法者，皆為此而設。至於高年不自收攝陰氣，致越出上竅之理，從無一人言及，反以治少壯耳聾藥，及發表散氣藥，兼帶陰虛不治。是以百無一效，不知陰氣至於上竅，亦隔一膜。不能超出竅外，止於竅中，汨汨有聲，如蛙鼓蚊雷，鼓吹不已，以故外入之聲，為其內聲所混，聽之不清，若氣少不逆上，則聽少清；氣全不逆上，則聽全清矣。故凡治高年逆上之氣，大法宜以磁石為主，取其重能達下，性主下吸，又能制肝木之上吸故也；次用地黃、龜膠群陰之藥以補之；更用五味、山萸之酸以收之，令陰氣自至於本宮，不上觸於陽竅。由是空曠無塞，耳之於聲，似谷之受響，萬籟之音，尚可細聆，豈更與人聲相混，艱於遠聽耶？此實至理所在。但醫術淺薄之輩，不能知之，試觀人之收視而視益明，反聽而聽愈聰者，亦可恍然悟矣！</p>

<h2>自汗盜汗論</h2>
<p>經云：陽之汗，以天地之雨名之。此言陰陽和而雨澤降，非病也，惟無因而汗，斯為病矣。或謂汗出於心或出於脾，或謂心脾二臟為汗之總司，實不知五臟皆能令人汗出也。夫在內為血，在外為汗，而心實主血，此汗之主於心，西南坤土，在人為脾，人之汗，猶土氣濕熱蒸為雨露，此汗之出於脾。金臟主氣，又主皮毛，氣虛則腠理不固，而津液泄，此汗之出於肺。木臟主風，又主疏泄，故傷風必自汗，此汗之出於肝。腎主五液，又主閉臟，陰虛則陽垂之，故虛勞多盜汗，此汗之出於腎。又如經云：驚而奪精，汗出於心；持重遠行，汗出於腎；疾走恐懼，汗出於肝；動搖勞苦，汗出於脾；飲食飽甚，汗出於胃。由是觀之，不惟五臟有汗，而六腑亦有汗矣。然約言之。自汗盜汗，無不由於心腎兩虛而得之者。蓋津與汗同類，隨其陽氣所在之處而生，亦隨其火擾之處而泄為汗。自汗者，不因發散，不因勞動，不分寤寐，溱溱然自然汗出，由陰蒸於陽分也。玉屏風散主之。盜汗者眠熟則出，醒則倏然而收，即《內經》之寢汗，陽蒸於陰分也，當歸六黃湯主之。蓋腎虛即陰虛，陰虛陽必湊，不能內營而退臟，則盜汗而發熱，多屬內傷也。心虛即陽虛，陽虛陰必垂。不能衛外而為固。則自汗而發熱，多屬外傷。又汗孔謂之鬼門，盜汗甚則令人喪魄，陰陽之道，陽密乃固，自汗甚則令人妄陽。二汗之義，大概如斯。然傷寒邪在半表半裡，似盜汗者，則非陰虛之比，又為小柴胡湯之證矣。火氣上蒸，胃濕而自汗，則非陽虛之比，又為涼膈散之證矣，學者詳之。</p>

<h2>癲癇狂辨</h2>
<p>癲、癇、狂，三證不同，而方書或言癲癇，或言風癇，或言風癲，或言風狂，每致混淆無別。蓋癇歸於五臟於心，故立言之家。癲狂可以合論者，以癲為陰而狂為陽，則對待立名，互相闡發也，癇證則自有陰陽之分，迥與二證不同，所宜特立一門也，姑撮其要言之。癲者，或悲或笑，或歌或泣，如醉如癡，言語不分次序，處境不分穢淨，積年愈難，此志願不遂者多有之。狂者，猖狂剛暴，妄見妄言，罵詈不避親疏，牴觸不畏水火，甚則棄衣而走，登高而歌，逾牆上層，非力所能，如有邪附，此傷寒陽明內實才多有之。蓋心熱甚則多喜而為癲，笑語失序，癲倒錯亂之謂也。肝熱甚則多怒而為狂，躁擾奔越，狂妄不禁之謂也。二者俱屬痰熱內實之證，信乎河間之卓識？然以《難經》重陰重陽之說為非理，又不然矣。如《內經》云：暴怒傷肝，以肝氣逆而血亂也；暴喜傷陽，以心氣緩而神逸也。又云多陽者多喜，多陰者多怒，是以《難經》亦以喜怒分陰陽，而未嘗以寒熱分陰陽也。癲狂之證，皆名失心，心主不明，則十二官危，故視聽言動，皆失其職。初病者，宜瀉其實；久病者，宜安其神，此治法之大概也。癇者，皆以風熱痰而得之，在表而淺名陽癇，故言易治；在裡而深名陰癇，故云難治。此又以表裡淺深名陰陽，亦非以寒熱分陰陽也。其證發即仆地，悶亂無知，嚼舌吐沫，背反張，目上視，手足搐搦，或作六畜聲，一月數發者易治，經年一發者難治。吳山甫云：風、陽氣也。《內經》云：陽之氣，以天地之疾風名之，故其發也暴。然所以令人仆地者，厥氣並於上，上實下虛，清濁倒置，令人悶亂無知者，濁邪干乎天君，而神明壅窒也。舌者心之苗，而脾之經絡連於舌本，陽明之經絡，入上下齒縫中，故風邪入於心脾，則舌自挺。風邪入於陽明，則口自噤。一挺一噤，故令人齧舌吐沫，風熱入於內也，此風來潮湧之象。背反張目上視者，風在太陽經也。足太陽經起於睛明，挾脊而下，風邪干之，則實而勁急，故目上視而背反張。手足搐搦者，風屬肝木，肝木主筋，風熱甚於肝，則一身之筋牽搐，故令手足搐搦也。搐者，四肢屈曲之名；搦者，十指開握之義，或作六畜聲者，風痰鼓其氣竅，而聲自變也。譬之弄笛焉，六孔閉塞不同，而宮商別異是也。治法宜疏風豁痰，清熱安魂，實者即攻，虛者先補，其純因情志者，從《內經》五志相勝法解之。</p>

<h2>驚悸恐辨</h2>
<p>或問驚悸怔忡恐怖之別，曰：悸即怔忡也。怔忡者，本無驚恐，動而不寧，驚者，因外有所觸而卒動，子和云：驚為不自知，恐為自知是也。蓋驚者聞響即驚，恐者自知，如人將捕之狀，與夫不能獨處，必須伴侶，方不恐懼，或夜無燈燭，亦生恐懼之類。怖與恐，於義相同，《內經》無有稱驚怖者，始於《金匱要略》，有云驚怖，由是而見，為驚恐即驚怖也，大凡連稱其名以為提綱者，多是一陰一陽對待而言，如喜怒並稱者。喜出於心，心居於陽，怒出於肝，肝居於陰，志意並稱者，志是靜而不移，意是動而不定，靜則陰也，動則陽也，驚恐並稱者，驚因觸於外事，內動其心，心動則神搖，恐因感於外事，內歉其志，志歉則神卻。是故《內經》謂驚則心無所依，神無所歸，慮無所定，故氣亂矣。恐則神卻，卻則上焦閉，閉則氣還，還則下焦脹，故氣不行矣。又謂嘗貴後賤，嘗富後貧，恐憂內結，至於脫營失精，病深無氣，則灑然而驚，此類皆是病從外致，而動內之心神者也。若夫在身之陰陽盛衰而致驚恐者，驚是火熱鑠動其心，心動則神亂，神動無力，故驚之變態亦不一狀，隨其所之，與五神相應而動。肝藏魂，魂不安，則為驚駭，為驚妄。肺藏魄，魄不安，則驚躁。脾藏意，意不專則驚惑。腎藏志，志歉而驚恐，心惕惕然。胃雖無神，然為五臟之海，諸熱歸之，則發驚狂，若聞木音，亦惕然心欲動也。恐者，則是熱傷其腎，腎傷則精虛，精虛則志不足，志本一定而不移，故恐亦無他狀。《內經》於驚之病邪者，有火熱，熱淫司天在泉，勝復之氣，有各經熱病所致，有三陽積並，有氣並於陽，皆為驚疾。故病機統而言曰：諸病驚駭，皆屬於火也。於恐之病邪者，有精並於腎則恐；有血不足則恐；有陰少陽入，陰陽相搏則恐；有胃氣熱，腎氣微弱則恐；有腎是動，病氣不足則恐。然於肝之驚恐，互相作者，以其臟屬陽居陰。納血藏魂，魂不安則神動，神動則驚，血不足則志歉，志歉則恐，皆因人之陰陽所動而內生者也。為治之法，驚則安其神，恐則定其志。神屬陽，陽則氣也，火也，志屬陰，陰則精也，水也，水火既濟，全在陰精上奉以安其神，陽氣下藏以定其志，神安則散亂之氣可斂，氣斂，氣斂則陽道行矣。志定然後走失之精可固，精固則陰氣用矣。若為外事驚者，子和謂驚者平之。平、常也，使病者時時聞之，習熟而不驚，固是良法。余謂不若使其平心易氣以先之，而後安其神，定其志為得也。</p>

<h2>驚風論</h2>
<p>驚風一證，從來謬認，蓋小兒初生，以及童幼，肌肉筋骨臟腑血脈，俱未充長。陽則有餘，陰則不足，不比七尺之軀，陰陽交盛也。惟陰不足，陽有餘，故身內易至於生熱。熱甚則生痰生風生驚，亦所恆有，設當日直以四字立名，曰熱痰風驚。則後人不炫，因四字不便立名，乃節去二字，以驚字領頭，風字煞尾，使後人不能解，遂以為奇特之病。且謂此病有八候：以其頭搖手痙也，而立抽掣之名；以其卒口噤腳攣急也，而立目斜心亂搐搦之名；以其脊強背反也，而立角弓反張之名，相傳既久，不知其妄造，遇見此等證出，無不以為奇特。不知小兒之腠理未密，易於感冒風寒，風寒中人，必先入太陽經，太陽之脈起於目內眥，上額交巔，入絡腦，還出別下項夾脊抵腰中，是以病則經脈強，因經脈牽強，則生抽掣搐搦角弓反張。種種名目，而用金石藥鎮墜，外邪深入臟腑，千中千死，萬中萬死，間有體堅證輕得愈者。又詫為再造奇功，遂至各守專門，雖日殺數兒，不知其罪。如方書有云：小兒八歲以前無傷寒，此等糊語，竟出自高明，偏足為驚風之說樹幟，曾不思小兒肌肉柔脆，不耐風寒，初傳入太陽一經，早已身強多汗，筋脈牽動，人事昏沉，勢已極於本經，湯藥亂投，死亡踵接，何由見其傳經耶。此所以誤言小兒無傷寒也，不知小兒易於外感，易於發熱，傷寒為獨多，世稱為驚風者即是也。小兒傷寒，要在三日內即愈為貴，若待經盡方解，必不能耐矣。又剛痙無汗，柔痙有汗，小兒剛痙少，柔痙多，世醫見其汗出不止，神昏不醒，往往以慢驚風證為名，而用參、附、耆、術等藥，閉其腠理，熱邪不得外越，亦為大害。所以凡治小兒之熱，但當徹其出表，不肯引其入里也，仲景原有桂枝，若舍而不用，從事東垣內傷為治，毫釐千里，最宜詳慎。又新產婦人，去血過多，陰虛陽盛，其感冒發熱，原與小兒無別，醫者相傳，稱為產後驚風，尤堪笑破口吻。然小兒亦非無驚風病也，一二歲時氣怯神弱，凡遇異形異聲，驟然跌僕，皆生驚畏，其候面青糞青，多煩多哭，略有所觸，則洒洒然，時恐懼不寧，不比熱邪塞竅，神識昏迷，對面撞鐘放銃，全然不聞者，斟酌細勘自識，從來混治之誤矣。</p>

<h2>七情考</h2>
<p>世之所謂七情者，即《內經》之五志也。五志之外，尚餘者二，總之曰喜、怒、憂、思、悲、恐、驚，然情有七，無非出於五臟。如陰陽應象論曰：心在志為喜，肝在志為怒，脾在志為思，肺在志為憂，腎在志為恐。此五臟五志之分屬也。至若五志有互通之病者，如喜本屬心，而有曰肺，喜樂無極則傷魄，蓋心肺皆主喜也。夫喜傷於陽，而心肺皆為陽臟，故喜出於心而移於肺，所謂多陽者多喜。又若怒本屬肝，而有曰膽為怒者，以肝膽為表裡，肝氣雖強盛，而取決於膽也。有曰血並於上，氣並於下，心煩惋善怒者，以陽為陰勝，故病及於心也。有曰腎盛怒不止則傷志，有邪客於足少陰之絡，令人無故喜怒者，以怒發於陽而侵乎腎也。是以肝、膽、心、腎四臟，皆能病怒，所謂多陰則怒，亦曰陰出之陽則怒。又若思本屬脾，而有曰思則心有所存，神有所歸，正氣留而不行，故氣結矣。蓋心為脾之母，母氣不行，則病及其子，所謂心脾皆病于思也。又若憂本屬肺，而有曰心之變動為憂者，有曰心小則易以傷憂者，蓋憂則傷神，故傷心也。有曰精氣並於肝則憂者，肝勝侮脾也。有曰憂愁而不解則傷意者，脾主中氣，中氣受抑，則生意不申，故鬱而為憂，是心、肺、肝、脾四臟，皆能病於憂也。又若恐本屬腎，而有曰恐懼則傷心者，神傷則恐也。有曰血不足則恐，有曰肝虛則恐者，以肝為將軍之官，肝氣不足，則怯而恐也，有曰恐則脾氣乘矣。有曰精並於脾則畏，畏即是恐，以腎虛而脾勝之也。有曰胃為氣逆為噦為恐者，以陽明土勝，亦傷腎也。是心、肝、脾、肺、腎五臟皆主於恐，而恐則氣下也。五志五病之辨，既詳如上，其外尚有悲病者，有曰肝悲哀動中則傷魂，是悲傷於肝也。有曰精氣並於肺則悲，有曰悲則肺氣乘矣，亦金氣傷肝也。有曰心虛則悲，有曰神不足則悲，有曰悲哀太甚則胞絡絕，胞絡絕則陽氣內動，發心下崩，致溲血者，皆悲傷於心矣。此肝、肺、心三臟皆病於悲，而氣為之消也。有病為驚者，曰東方青色，入通於肝，其病發驚駭，以肝應風木，風主震動而連乎膽之。有曰陽明所謂甚則驚厥，聞木音則惕然而驚者，肝邪乘胃也。有曰驚則心無所倚，神無所歸者，心神散失也。此肝、膽、胃、心四臟皆病於驚，而氣為之亂也。由此言之，是情志之傷，雖五臟各有所屬，然求其所由，則無不從心所發。故本神篇曰：憂愁恐懼傷心。病形篇曰；怵惕思慮則傷神，神傷則恐懼自失。口問篇曰，悲哀憂愁則心動，心動則五臟六腑皆搖。可見心為五臟六腑之大主，而總統魂魄，兼該志意，故憂動於心則肺虛，思動於心則脾虛，怒動於心則肝虛，恐動於心則腎虛。所謂五志惟心所使，設能善養此心，而居處安靜，無為懼懼，無為欣欣，婉然從物而不爭，與時變化而無我，則志意和，精神定，悔怒不起，魂魄不散，五臟俱安，邪亦安從奈我哉。</p>

<h2>寢食說</h2>
<p>經云：調寢食在醫藥之先。即聖人治未病之說，夫色聲既受，非安穀不能生精與氣，非安枕不能養血與神。是以百病阽危，必首論云漿粥能進否，驗其胃氣之敗與不敗，寤寐如常否，察其神思之寧與不寧。不食少臥病也，多食嗜臥亦病也。衛生卻病者，能不諦當於寢食間哉？不能食之證，有傷寒而痞滿嘔惡嘔食者，有氣滯而痛楚妨食者，有痰聚而不能容食者，有能食而食入反出者，有憂恐太過鬱結而不思食者，有孕婦胎成而惡阻者，有脾胃熱而胃脘寒，雖飢不嗜食者，有脾胃自虛而不能健運者，有火不生土無由熟腐者，有大病後中氣虛，惡聞食氣者，有胃脘乾槁而勺粒不入者。大抵因多食而頓不能食者為實，從少食而漸不能食者為虛。多食之證，有火伏陰分，胃熱善消穀，或大腸移熱於胃，胃移熱於膽。善食而瘦謂之食㑊，亦名息中者。有傷寒入臟，厥冷下利，當不食而反能食，名曰除中者。有中風風木自盛克脾，脾土受克求助而多食者。有一臟之虛，必偏嗜一味，如懷孕之肝虛嗜酸者；有蟲積為患，好食茶葉、生米、泥炭、草紙之類者；有病後胃虛之極，而飽食易飢者。大抵多食易化，責在陽明之火，火食難化，責在太陰之虛。不得臥之證，若勞神憂慮，耗其陰血，惺惺不寐，病在心也。若神氣衰微，疑神疑鬼，怔忡悸怯，獨處無睡，病在肝膽也。若水氣上逆，喘嗽有音，不能仰臥，病在肺也。若因有驚恐，神出舍空，痰乘虛入，則譫妄不寐病在心胞絡也。若氣血不足，病後虛煩，則，略睡而醒，病在脾也。若傷寒陽明府病，內有燥屎，則熱甚而臥不安，病在胃也。若年高之人，氣虛血減，肌肉漸澀，晝不精而夜不瞑，病在營衛也。故心、脾、肝、膽、營、衛之不臥，多屬不足。肺、胃、胞、絡之不臥，多屬有餘也。嗜臥之證，若肝氣受熱，或濁火亂其神明，多睡少醒，由於熱也。若脈緩怠惰，四肢不收，體重泄瀉而嗜臥，由於濕也。若頭重身熱而昏憒不醒，屬於風也。若勞役之餘，及脫血下痢之後，精神未復而酣然沉困，屬虛也。若其人天稟有餘，腸胃大而皮膚澀。大者，衛氣留於陰分者久；澀者，衛氣行於陽分者遲。既久且遲，衛氣不達而多眠臥，屬於陽不勝陰也。若飲食才入，輒生困倦，精神昏冒，呵欠欲睡者，由於脾倦，或兼濕熱也。然傷寒邪入少陰，則脈微細但欲寐也。故神間而甘寢者，人之常。神憊而嗜臥者，人之病。以上諸條，寢食不調之候，可謂略具，別證既明，則治法可從而推廣，然此皆為已病而設也。若未病豫調之說，在養生家說述甚夥，吾有取於侗初張氏之言曰：凡飲食之節，減滿受虛，故當飢而食，節其滿未飽，先止留其虛。睡臥之法，先睡心，後睡眼。睡心是止法，睡眼是觀法。能斯二者，始可與言養生。然世復有寢食無節之流，顧不食而縱酒，不寐而漁色，是又疾不幹人，人來求疾。是以莊生云，人之可畏者，在衽席飲食之際，信矣。</p>
