<header data-type="book">
<h1>新刊補註銅人腧穴鍼灸圖經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>宋·<data value="1026">王惟一</data>原著，金·<data value="1026">閉邪瞶叟</data>增補</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1186">公元1186年</data></dd></div>
<div><dt>底本</dt><dd>元刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=8a83fceb9c65436cae2f084f7659197bfDcyMTUw0&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>
