<header data-type="book">
<h1>時病論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>雷豐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM073</dd></div>
</dl>
</header>
<h2>時病論卷之一</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衢雷豐少逸手著</p>
<p>受業新安程曦錦雯盈川江誠抱一恭訂</p>
<h3>冬傷於寒春必病溫大意</h3>
<p>經謂冬傷於寒，春必病溫，是訓人有伏氣之為病也，夫冬傷於寒，甚者即病，
則為傷寒，微者不即病，其氣伏藏於肌膚，或伏藏於少陰，
至春陽氣開泄忽因外邪乘之，觸動伏氣乃發，又不因外邪而觸發者，遇亦有之，
其藏肌膚者，都是冬令勞苦動作汗出之人，其藏少陰者，都是冬不藏精腎臟內虧之輩，
此即古人所謂最虛之處，便是容邪之處，何劉松峰陳平伯諸公，皆謂並無伏氣，
悖經之罪，其可逭乎，據豐論春時之伏氣有五，曰春溫也，風溫也，溫病也，溫毒也，
晚發也，蓋春溫者由於冬受微寒，至春感寒而觸發，風溫者亦由冬受微寒，
至春感風而觸發，溫病者，亦由冬受微寒，寒釀為熱，至來春陽氣弛張之候，
不因風寒觸動，伏氣自內而發，溫毒者，由於冬受乖戾之氣，至春夏之交，更感溫熱，
伏毒自內而發，晚發者，又由冬受微寒，當時未發，發於清明之後，
較諸溫病冕發一節也，此五者，皆由冬傷於寒，伏而不發，發於來春而成諸溫病者，
當辨別而分治之。</p>
<p>程曦曰推松峰與平伯，皆謂並無伏氣，有由來也，一執雲笈七籤冬傷於汗之句，
一執錢氏冬傷寒水之臟之文，殊不知兩家祇顧一面文章，全不顧春傷夏傷秋傷之訓，
作何等解，思二先生天資高邁，亦受其蒙，不正其訛，反助其說，毋怪後之醫者，
統稱暴感，恣用發散，羌防麻桂，逼汗劫津，誤人性命，固所不免，
此不得不歸咎於作俑之人也。</p>
<h4>春溫</h4>
<p>考諸大家論春溫者，惟嘉言與遠公，精且密矣，嘉言以冬傷於寒，春必病溫為一例，
冬不藏精春必病溫又為一例，既傷於寒，且不藏精，至春同時並發，又為一例，
舉此三例，以論溫病，而詳其治，遠公所論都是春月傷風之見證，分出三陽若何證治，
三陰若何證治，觀二家之論，可謂明如指掌，然宗嘉言，不合遠公，宗遠公不合嘉言，
反使後人無從執法，其實嘉言之論，遵經訓分為三例，意在伏氣，遠公之論，
皆係傷風見證，意在新感，總之春溫之病，因於冬受微寒，伏於肌膚而不即發，
或因冬不藏精，伏於少陰而不即發，皆待來春加感外寒，觸動伏氣乃發焉，
即經所謂冬傷於寒，春必病溫，冬不藏精，春必病溫是也，其初起之證，頭身皆痛，
寒熱無汗，咳嗽口渴，舌苔浮白，脈息舉之有餘，或弦或緊，尋之或滑或數，
此宜辛溫解表法為先，倘或舌苔化燥，或黃或焦，是溫熱已扺於胃，即用涼解裏熱法，
如舌絳齒燥，譫語神昏，是溫熱深踞陽明營分，即宜清熱解毒法，以保其津液也，
如有手足瘛瘲，脈來弦數，是為熱極生風，即宜卻熱息風法，如或昏瞶不知人，
不語如尸厥，此邪竄入心包，即宜袪熱宣竅法，春溫變幻，不一而足，
務在臨機應變可也。</p>
<h4>風溫</h4>
<p>風溫之病，發於當春厥陰風木行令之時，少陰居火初交之際，陳平伯謂春月冬季居多，
春月風邪用事，冬初氣煖多風，風溫之病，多見於此，其實大為不然，
不知冬月有熱渴咳嗽等證，便是冬溫，豈可以風溫名之，即按六氣而論，
冬令如有風溫，亦在大寒一節，冬初二字，大為不妥，推風溫為病之原，與春溫彷彿，
亦由冬令受寒，當時未發，腎虛之體，其氣伏藏於少陰，勞苦之人，伏藏於肌腠，
必待來春感受乎風，觸動伏氣而發也，其證頭痛惡風，身熱自汗，咳嗽口渴，
舌苔微白，脈浮而數者，當用辛涼解表法，倘或舌絳苔黃，
神昏讝語以及手足瘛瘲等證之變，皆可仿春溫變證之法治之。</p>
<p>或問曰，因寒觸動伏氣為春溫，初起惡寒無汗，因風觸動為風溫，初起惡風有汗，
二病自是兩途，豈可仿前治法，答曰，新感之邪雖殊，伏藏之氣則一，是故種種變證，
可同一治，必須辨其孰為勞苦之輩，孰為冬不藏精之人，最為切要，
試觀病勢由漸而加，其因於勞苦者可知，一病津液即傷，變證疊出，
其因於冬不藏精者又可知，凡有一切溫熱，總宜刻刻顧其津液在陰虛者，
更兼滋補為要耳。又問風溫之病，曷不遵仲景之訓為圭臬，今觀是論，
並未有脈陰陽俱浮，自汗出，身重多眠睡，鼻息必鼾，
語言難出等證，豈非悖仲景之旨以為醫乎，曰此仲景論風溫誤治之變證也，非常證也，
曰常證何，曰太陽病發熱而渴，不惡寒者為溫病，此常證也。</p>
<p>又問平伯論風溫一十二條總稱暴感時氣，肺胃為病，鞠通雜於諸溫條中，分治三焦，
試問以平伯為然，抑亦以鞠通為然，曰總宜遵內經冬傷於寒，春必病溫之論，
庶乎宜古宜今，見肺胃之證，即為肺胃之病，見三焦之證，即為三焦之病，
弗宜印定可也。又問春溫風溫，皆有伏氣為病，今時醫每逢春令見有寒熱咳嗽，
並無口渴之證，便言風溫可乎，曰可，益春令之風，從東方而來乃解凍之溫風也，
謂風溫者，未嘗不可耳，其初起治法，仍不出辛涼解表之範圍也。</p>
<h4>溫病</h4>
<p>嘗讀介賓之書，謂溫病即傷寒，治分六要五忌，又可之書，謂溫病即瘟疫，
治法又分九傳，殊不知傷寒乃感冬時之寒邪，瘟疫乃感天地之厲氣，較之伏氣溫病，
大相徑庭，豈可同日而語哉，推溫病之原，究因冬受寒氣，伏而不發，久化為熱，
必待來年春分之後，天令溫煖，陽氣弛張，伏氣自內而動，一達於外，表裏皆熱也，
其證渴口引飲，不惡寒而惡熱，脈形愈按愈盛者是也，此不比春溫外有寒邪，
風溫外有風邪，初起之時，可以辛溫辛涼，是病表無寒風，所以忌乎辛散，若誤散之，
則變證蜂起矣，如初起無汗者，衹宜清涼透邪法，有汗者，清熱保津法，
如脈象浂大而數，壯熱譫妄，此熱在三焦也，宜以清涼蕩熱法，倘脈沉實，
而有口渴譫語，舌苔乾燥，此熱在胃腑也，宜用潤下救津法，凡溫病切忌辛溫發汗，
汗之則狂言脈躁，不可治也，然大熱無汗則死，得汗後而反熱，脈躁盛者亦死，
又有大熱，脈反細小，手足逆冷者亦死，或見痙搐昏亂，脈來促結沉代者皆死，
醫者不可不知。</p>
<p>劉松峰曰，雲笈七籤中，引作冬傷於汗甚妙，益言冬時過暖，以致汗出，
則來年必病溫，余屢驗之良然，冬日嚴寒，來春並無溫病，以其應寒而寒，
得時令之正故耳，且人傷於寒，豈可稽雷在身，俟踰年而後發耶。豐按冬傷於汗，
汗字欠妥，松峰反贊其妙，既謂冬傷於汗，試問春夏秋三時，所傷為何物耶，
又謂冬時過暖，來年病溫，此說是有伏氣，又謂人傷於寒豈可稽雷此說又無伏氣，
片幅之中如此矛盾，誠為智者一失耳。</p>
<h4>溫毒</h4>
<p>溫毒者，由於冬令過暖，人感乖戾之氣，至春夏之交，更感溫熱，伏毒自內而出，
表裏皆熱，又有風溫溫病冬溫，誤用辛溫之劑，以火濟火，亦能成是病也，
其脈浮沉俱盛，其證心煩熱渴，咳嗽喉痛，舌絳苔黃，宜用清熱解毒法，
加甘草桔梗治之，然有因溫毒而發斑發疹發頤喉腫等證，不可不知，蓋溫熱之毒，
扺於陽明，發於肌肉而成斑，其色紅為胃熱者輕也，紫為熱甚者重也，
黑為熱極者危也，鮮紅為邪透者吉也，當其欲發未發之際，宜用清涼透斑法治之，
如斑發出，神氣昏蒙，加犀角元參治之，心法云，疹發營分，營主血，故色紅，
棒喝云，邪鬱不解，熱入血終而成疹，疹亦紅輕紫重黑危也，雖然邪鬱未解，熱在營分，
但其溫毒己發皮毛，與斑在肌肉為大異，益肺主皮毛，胃主肌肉，
所以古人謂斑屬足陽明胃病，疹屬手太陰肺病，疆界攸分，不容混論，鞠通混而未別，
虛谷己駁其非，洵非謬也，當其欲發未發之時，速用辛涼解表法，
加細生地菉豆衣治之，甚者加青黛連翹治之，又有溫熱之毒，協少陽相火上攻，
耳下硬腫而痛，此為發頤之病，頤雖屬於陽明，然耳前耳後，皆少陽經脈所過之地，
速當消散，緩則成膿為害，宜內服清熱解毒法，去洋參麥冬，加馬勃青黛荷葉治之，
連面皆腫，加白芷漏蘆，腫硬不消，加山甲皂刺，外用水仙花根，剝去赤皮與根鬚，
入臼搗爛，敷於腫處，乾則易之，俟膚生黍米黃瘡為度，又有溫熱之毒，發越於上，
盤結於喉，而成腫痺，內經云，一陰一陽結，謂之喉痺，一陰者，手少陰君火也，
一陽者，手少陽相火也，二經之脈，并絡於喉，今溫毒聚於此間，則君相之火並超，
益火動則生痰，痰壅則腫，腫甚則痺，痺甚則不通而死矣，急用玉鑰匙以開其喉，
繼以清熱解毒法，去洋參麥冬，加殭蠶桔梗牛旁射干治之，溫毒之病，變證極多，
至於斑疹頤喉，時恆所有，故特表而出之。</p>
<h4>晚發</h4>
<p>晚發者，亦由冬令受寒，當時未發，發於來年清明之後，夏至以前，
較之溫病晚發一節，故名晚發病也，其證頭痛發熱，或惡風惡寒，或有汗無汗，
或煩躁，或口渴，脈來洪數者是也，亦當先辨其因寒因風而觸發者，
始可定辛溫辛涼之法而治之，但其曩受之伏寒，必較溫熱之伏氣稍輕，峻劑不宜孟浪，
如無風寒所觸者，仍歸溫病論治，此宜清涼透邪法，加蟬衣梔殼治之，如有變證，
可仿諸溫門中，及熱病之法治之，但是病與秋時之晚發，相去雲坭，
彼則夏令之伏暑而發於秋，此則冬時之伏氣而發於春，慎勿以晚發同名，
而誤同一治耳。</p>
<p>或問曰，細考風溫春溫，發於大寒至驚蟄，溫病溫毒，發於春分至立夏，界限雖分，
然與內經先夏至日為病溫，不相符節，何獨晚發一病，發於清明之後，夏至以前，
偏與內經拍合何也，答曰，大寒至驚蟄，乃厥陰風木司權，風邪觸之發為風溫，
初春尚有餘寒，寒邪觸之發為春溫，春分至立夏，少陰君火司令，陽氣正升之時，
伏氣自內而出，發為溫病溫毒，晚發仍是溫病，不過較諸溫晚發一節也，以上五證，
總在乎夏至之先，誠與內經先夏至日為病溫，皆不枘鑿矣。</p>
<h3>擬用諸法</h3>
<h4>辛溫解表法</h4>
<p>治春溫初起，風寒寒疫，及陰暑秋涼等證。</p>
<p>防風〔一錢五分〕、桔梗〔一錢五分〕、杏仁〔一錢五分去皮尖研〕、廣陳皮〔一錢〕、
淡豆豉〔三錢〕，加蔥白五寸煎。是法也，以防風桔梗，袪其在表之寒邪，杏子陳皮，
開其上中之氣分，淡豉蔥白，即蔥豉湯，乃肘後之良方，用代麻黃，通治寒傷於表，
表邪得解，即有伏氣，亦冀其隨解耳。</p>
<h4>涼解裏熟法</h4>
<p>治溫熱內熾，外無風寒，及暑溫冬溫之證。</p>
<p>鮮蘆根〔五錢〕、大豆卷〔三錢〕、天花粉〔二錢〕、生石膏〔四錢〕、生甘草〔六分〕，
新汲水服。溫熱之邪，初入於胃者，宜此法也，益胃為陽土，得涼則安，
故以蘆根為君，其味甘，其性涼，其中空，不但能去胃中之熱，抑且能透肌表之邪，
誠涼而不滯之妙品，大勝尋常寒藥，佐豆卷之甘，平花粉之甘涼，並能清胃除熱，
更佐石膏，涼而不苦，甘草瀉而能和，景岳名為玉泉飲，以其治陽明胃熱有功，
凡寒涼之藥，每多敗胃，惟此法則不然。</p>
<h4>清熱解毒法</h4>
<p>治溫毒深入陽明，劫傷津液，舌絳齒燥。</p>
<p>西洋參〔三錢〕、大麥冬〔三錢去心〕、細生地〔三錢〕、元參〔一錢五分〕、金銀花〔二錢〕、
連翹〔二錢去心〕，加菉豆三錢煎服。此法治溫熱成毒，毒，即火邪也，
溫熱既化為火，火未有不傷津液者，故用銀翹菉豆，以清其火而解其毒，洋參麥冬，
以保其津，元參細地，以保其液也。</p>
<h4>卻熱息風法</h4>
<p>治溫熱不解，劫液動風，手足瘛瘲。</p>
<p>大麥冬〔五錢去心〕、細生地〔四錢〕、甘菊花〔一錢〕、羚羊角〔二錢〕、鉤籐鉤〔五錢〕，
先將羚羊角煎一炷香再入諸藥煎。凡溫熱之病，動肝風者，惟此法最宜，
首用麥冬細地，清其熱以滋津液，菊花羚角，定其風而甯抽搐，佐鉤籐者，
取其舒筋之用也。</p>
<h4>袪熱宣竅法</h4>
<p>治溫熱溼溫冬溫之邪，竄入心包，神昏讝語，或不語，舌苔焦黑，或笑或痙。
連翹〔*T錢去心〕、犀角〔一錢〕、川貝母〔三錢去心〕、鮮石菖蒲〔一錢〕，
加牛黃至寶丹一顆去蠟殼化沖。是法治邪入心包之證也，連翹苦寒，苦入心，寒勝熱，
故瀉心經之火邪，經曰火淫於內，治以鹹寒，故兼犀角鹹寒之品，亦能瀉心經之火邪，
凡邪入心包者，非特一火，且有痰隨火升，蒙其清竅，故用貝母清心化痰，
菖蒲入心開竅，更用牛黃至寶之大力，以期救急扶危於俄頃耳。</p>
<h4>辛涼解表法</h4>
<p>治風溫初起，風熱新感，冬溫襲肺咳嗽。</p>
<p>薄荷〔一錢五分〕、蟬退〔一錢去足翅〕、前胡〔一錢五分〕、淡豆豉〔四錢〕、
瓜蔞殼〔二錢〕、牛旁子〔一錢五分〕，煎服如有口渴再加花粉。此法取乎辛涼，
以治風溫初起，無論有無伏氣，皆可先施，用薄荷蟬退，輕透其表，前胡淡豉，
宣解其風，葉香巖云，溫邪上受，首先犯肺，故佐蔞殼牛旁開其肺氣，氣分舒暢，
則新邪伏氣，均透達矣。</p>
<h4>清涼透邪法</h4>
<p>治溫病無汗，溫瘧渴飲，冬溫之邪內陷。</p>
<p>鮮蘆根〔五錢〕、石膏〔六錢煨〕、連翹〔三錢去心〕、竹葉〔一錢五分〕、淡豆豉〔三錢〕、
菉豆衣〔三錢〕，水煎服。此治溫病無汗之主方，其伏氣踓不因風寒所觸而發，
然亦有有汗無汗之分，無汗者宜透邪，有汗者宜保津，一定之理也，凡清涼之劑，
涼而不透者居多，惟此法清涼且透，蘆根中空透藥也，石膏氣輕透藥也，
連翹之性升浮，竹葉生於枝上，淡豆豉之宣解，菉豆衣之輕清，皆透藥也，伏邪得透，
汗出微微，溫熱自然達解耳。</p>
<h4>清熱保津法</h4>
<p>治溫熱有汗風熱化火，熱病傷津，溫瘧舌苔變黑。
連翹〔三錢去心〕、天花粉〔二錢〕、鮮石斛〔三錢〕、鮮生地〔四錢〕、麥冬〔四錢去心〕、
參葉〔八分〕，水煎服。此治溫熱有汗之主方，汗多者因於裏熱薰蒸，恐其傷津損液，
故用連翹花粉，清其上中之熱，鮮斛鮮地，保其中下之陰，麥冬退熱除煩，
參葉生津降火。</p>
<h4>清涼蕩熱法</h4>
<p>治三焦溫熱，脈洪大而數，熱渴譫安。</p>
<p>連翹〔四錢去心〕、西洋參〔二錢〕、石膏〔五錢煨〕、生甘草〔八分〕、知母〔二錢鹽水炒〕、
細生地〔五錢〕，加粳米一撮煎服。是法也，以仲聖白虎湯為主，治其三焦之溫熱也，
連翹洋參，清上焦之熱以保津，膏甘粳米，清中焦之熱以養胃，知母細地，
瀉下焦之熱以養陰。</p>
<h4>潤下救津法</h4>
<p>治熱在胃府，脈沉實有力，壯熱口渴，舌苔黃燥。</p>
<p>熟大黃〔四錢〕、元明粉〔二錢〕、粉甘草〔八分〕、元參〔三錢〕、麥冬〔四錢去心〕、
細生地〔五錢〕，流水煎服。陽明實熱之證，當用大小承氣，急下以存津液，
但受溫熱之病，弱體居多，雖有是證，不能遽用是藥，故以仲聖調胃承氣為穩，
且芒硝改為元明粉，取其性稍緩耳，合用鞠通增液湯方，更在存陰養液之意。</p>
<h4>清涼透斑法</h4>
<p>治陽明溫毒發斑</p>
<p>石膏〔五錢煨用〕、生甘草〔五分〕、銀花〔三錢〕、連翹〔三錢去心〕、鮮蘆根〔四錢〕、
豆卷〔三錢井水發〕，加新荷錢一枚煎服如無用乾荷葉三錢亦可。凡溫熱發斑者，
治宜清胃解毒為主，膏甘治之以清胃，銀翹治之以解毒，更以蘆根豆卷透發陽明之熱，
荷錢者即初發之小荷葉也，亦取其輕升透發之意，熱勢一透，則斑自得化矣。</p>
<p><b>備用成方</b></p>
<h4>葳蕤湯</h4>
<p>治風溫初起，六脈浮盛，表實壯熱，汗少者，先以此方發表。</p>
<p>葳蕤、白微、羌活、葛根、麻黃、川芎、木香、杏仁、石膏、甘草，
共十味水煎日三服。豐按風溫之病，因風觸發，發熱有汗，不可汗之，今謂汗少者，
風必兼寒可知，故兼用羌葛麻黃，倘汗多者，不宜浪用，如春溫之病，因寒觸發，
熱重無汗，體素盛者，此方權可用之，弱者尚嫌太猛耳。</p>
<h4>銀翹散</h4>
<p>治風溫溫病冬溫等證。
金銀花、連翹、苦桔梗、薄荷、荊芥穗、淡豆豉、牛旁子、竹葉、生甘草，
鮮蘆根湯煎服。</p>
<h4>小定風珠方</h4>
<p>治溫病厥而且呃，脈細而勁者。生龜版、真阿膠、淡菜、雞子黃，加童便一杯沖服。</p>
<h4>大定風珠方</h4>
<p>治溫熱爍陰，或誤表妄攻，神倦瘛瘲，脈氣虛弱，舌絳苔少，時時欲脫者。
大生地、生白芍、真阿膠、麥冬、生龜版、生鱉甲、生牡蠣、雞子黃、火麻仁、
五味子、炙甘草，木煎服。豐按以上三方，皆鞠通先生所製，銀翹散，方極輕，
靈風溫冬溫初起者，用之每多應手至於大小定風珠，似乎膩滯，非脈證審確，
不可輕用。</p>
<h4>消毒犀角飲</h4>
<p>治風熱之毒，喉腫而疼，發斑發疹。防風、荊芥、牛旁子、甘草、犀角，
水煎服如熱盛加連翹薄荷黃芩黃連。</p>
<h4>連翹敗毒散</h4>
<p>治時毒發頤。
連翹、天花粉、牛旁子、柴胡、荊芥、防風、升麻、桔梗、羌活、獨活、紅花、蘇木、
川芎、歸尾、粉甘艸，水煎服，如兩頤連面皆腫，加白芷漏蘆，堅腫不消，
加皂刺穿山甲，大便燥結，加酒炒大黃。</p>
<h4>犀角黃湯</h4>
<p>治胃火熱盛，陽毒發斑吐血衄血。大生地、生白芍、牡丹皮、犀角，水煎服，
熱甚如狂者再加黃芩。</p>
<h4>三黃石膏湯</h4>
<p>治傷寒溫毒，表裏俱盛或己經汗下，或過經不解，三焦大熱，六脈洪盛及陽毒發斑。
黃連、黃芩、黃柏、石膏、梔子、麻黃、淡豆豉，加薑棗細茶入煎熱服。</p>
<h4>涼膈散</h4>
<p>治溫熱時行，表裏實熱，及心火亢盛，目赤便閉，胃熱發斑。</p>
<p>連翹、梔子、黃芩、薄荷、大黃、芒硝、甘艸，加竹葉煎服一方加白蜜一匙。
豐按以上五方，皆治時風溫熱之毒，而成發斑發疹發頤喉腫等證，在體實者，
皆可施之，虛者俱宜酌用。</p>
<h4>九味羌活湯</h4>
<p>治感冒四時不正之氣，傷寒傷風，溫病熱病。</p>
<p>羌活、防風、細辛、蒼朮、川芎、白芷、黃芩、生地、甘草，加生薑葸白煎。
豐按張元素製是方者，必欲人增減用之如傷寒傷風初起者，黃芩生地斷斷難施，
溫病熱病初發者，羌細蒼防，又難輒用，可見醫方不能膠守，此所謂能使人規矩，
不使人巧也。</p>
<h3>臨証治案</h3>
<h4>春溫過汗變症</h4>
<p>城東章某，得春溫時病，前醫不識，遂謂傷寒輒用荊防羌獨等藥，一劑得汗，
身熱退清，次劑罔靈，復熱如火，大渴飲冷，其勢如狂，更醫治之，謂為火證，
竟以三黃解毒為君，不但熱勢不平，更變神昏瘛瘲，急來商治於豐，診其脈，
弦滑有力，視其舌黃燥無津，豐曰，此春溫病也，初起本宜發汗，解其在表之寒，
所以熱從汗解，惜乎繼服原方，過汗遂化為燥，又加苦寒遏其邪熱，以致諸變叢生，
當從邪入心包，肝風內動治之，急以袪熱宣竅法，加羚角鉤藤服一劑，瘛瘲稍定，
神識亦清，惟津液未回，唇舌尚燥，守舊法，除去至寶菖蒲，加入涉參鮮地，連嘗三劑，
諸恙咸安。</p>
<h4>春溫甫解幾乎誤補</h4>
<p>三湘劉某之子，忽患春溫，熱渴不解，計有二十朝來，始延豐診，脈象洪大鼓指，
舌苔不燥而乾，即以涼解裏熱法治之，次日黎明，復來邀診，詣其處，
見几上先有藥方二紙，一補正回陽，一保元斂汗，劉曰，昨宵變證故延二醫酌治，
未識那方中肯，即請示之，豐曰，先診其脈再議，劉某伴至寢所，見病者覆被而臥，
神氣尚清汗出淋漓，身涼如水，六脈安靜，呼吸調勻，豐曰，公弗懼，非脫汗也，
乃解汗也，曰，何以知之，曰脈靜身涼，故知之也，倘今見汗防脫，投以溫補，
必阻其既解之邪，變證再加，遂難治矣，橋梓仍信豐言，遂請疏方，思邪方解之秋，
最難用藥，補散溫涼，概不可施，姑以蔞皮暢其氣分，俾其餘邪達表，
穭豆衣以皮行皮，使其盡透肌膚，益汗為心之液，過多必損乎心，
再以柏子茯神養其心，也加沙參以保其津，細地以滋其液，米仁甘草，調養中州，
更以浮小麥養心斂汗，連服二劑，肢體回溫，汗亦收住，調治半月，
起居如昔矣。或問曰，先生嘗謂凡學時病，必先讀仲景之書，曾見傷寒論中，漏汗不止，
而用附子，今見大汗身涼，而用沙參細地，能不令人駭然，請詳其理，答曰，用附子者，
其原必寒，其陽必虛，今用沙地者，其原乃溫其陰乃傷，一寒一溫，當明辨之，
又問春溫之病，因寒觸動，豈無寒乎，曰，子何迂也，須知溫在內，寒在外，
今大汗淋漓，即有在外之寒，亦當透解，故不用附子以固其陽，而截其既解溫邪之路，
用沙地以滋津液，而保其既傷肺腎之陰，若執固陽之法，必使既散之邪復聚，
子知是理乎。</p>
<h4>風溫入肺胃誤作陰虛膩補增劇</h4>
<p>雲岫孫某，平素清癯，吸煙弱質，患咳嗽熱渴，計半月矣，前醫皆以為陰虛肺損，
所服之藥，非地味阿膠，即沙參款麥，愈治愈劇，始來求治於豐，按其脈，摶大有力，
重取滑數，舌絳苔黃，熱渴咳嗽，此明是風溫之邪，盤踞肺胃，前方盡是滋膩，
益使氣機閉塞，致邪不能達解，當暢其肺清其胃，用辛涼解表法，加蘆根花粉治之，
服二劑，胸次略寬，咳亦暢快，氣分似獲稍開，復診其脈稍緩，但沉分依然，
舌苔化燥而灰，身熱如火，口渴不寐，此溫邪之勢未衰，津液被其所劫也，
姑守舊法減去薄荷，加入石膏知母，服至第三劑，則肌膚微汗潤，體熱退清，
舌上津回，脈轉緩怠，繼以調補，日漸而安。</p>
<h4>風溫誤補致死</h4>
<p>里人范某，患風溫時病，藥石雜投，久延未愈，請豐診視，視其形容憔悴，
舌苔尖白根黃，脈來左弱右強，發熱纏綿不已，咳嗽勤甚，痰中偶有鮮紅，
此乃賦稟素虧，風溫時氣未罄，久化為火，刑金劫絡，理當先治其標，緩治其本，
遂以銀翹散去荊芥桔豉，加川貝兠蟬，此雖治標，實不礙本，倘見血治血，
難免不入虛途，病者信補不服，復請原醫，仍用滋陰涼血補肺之方，另服人參燕窩，
不知溫邪得補，益不能解，日累日深，竟成不起，鳴呼，醫不明標本緩急，誤人性命，
固所不免矣。</p>
<h4>風溫夾溼</h4>
<p>南鄉梅某，望七之年，素來康健，微熱咳嗽患有數朝，時逢農事方興，
猶是勤耕綠野，加冒春雨，則發熱忽熾，咳嗽頻頻，口渴不甚引飲，身痛便瀉，
有謂春溫時感，有言漏底傷寒，所進之方，僉未應手，延豐診治，按其脈，濡數之形，
舌苔黃而且膩，前恙未除，尤加胸悶溺赤，此係風溫夾洷之證，上宜清暢其肺，
中宜溫化其脾，以辛涼解表法，去蔞殼，加葛根蒼朮神麯陳皮治之，服二劑身痛己除，
便瀉亦止，惟發熱咳嗽，口渴喜涼，似乎客濕已解，溫熱未清，當步原章，
除去蒼朮神麯，加入紹貝蔞根，蘆根甘草，疊進三劑，則咳嗽漸疏，身熱退淨，
復診數次，諸恙若失矣。</p>
<h4>胃虛溫病</h4>
<p>海昌張某，於暮春之初，突然壯熱而渴，曾延醫治，胥未中機，邀豐診之，
脈駛而躁，舌黑而焦，述服柴葛解肌，及銀翹散，毫無應驗，推其脈證，溫病顯然，
刻今熱勢炎炎，津液被劫，神識糢糊，似有逆傳之局，急用石膏知母，以袪其熱，
麥冬鮮斛，以保其津，連翹竹葉，以清其心，甘草粳米，以調其中，服之雖有微汗，
然其體熱未衰，神識略清，舌苔稍潤，無如又加呃逆，脈轉來盛去衰，斯溫邪未清，
胃氣又虛謁矣，照前方增入東洋參刀豆殼，服下似不齟齬，遍體微微有汗，熱勢漸輕，
呃逆亦疏，脈形稍緩，繼以原法，服一煎諸恙遂退，後用金匱麥門冬湯為主，
調理匝月而安。</p>
<h4>胃實溫病</h4>
<p>山陰沈某，發熱經旬，口渴喜泠，脈來洪大之象，舌苔黃燥而焦，豐曰，此溫病也，
由伏氣自內而出，宜用清涼透邪法，去淡豉竹葉菉豆衣，加杏仁蔞殼花粉甘草治之，
服一劑，未中肯綮，更加譫語神昏，脈轉實大有力，此溫邪熾盛，胃有燥屎昭然，
改用潤下救津法，加杏霜枳殼治之，午前服下，至薄暮腹內微疼，先得矢氣數下，
交子夜始得更衣，有堅燥黑屎十數枚，繼下溏糞，色如敗醬，臭不可近，
少頃遂熟寐矣，鼾聲如昔，膚熱漸平，至次日辰牌方醒，醒來腹內覺饑，啜薄粥一碗，
復脈轉為小軟，舌苔己化，津液亦生，豐曰，病全愈矣，當進清養胃陰之藥，服數劑，
精神日復耳。程曦曰，斯二症皆是溫病，見證似乎相仿，一得人參之力，
一得承氣之勳，可見學醫宜恭脈證，一加呃逆，脈轉洪形，便知其為胃氣之虛，
一加譫語，脈轉實大，論其常證，相去不遠，見其變證，虛實攸分，臨證之秋，
苟不審其孰虛孰實，焉能迎刃而解耶。</p>
<h4>有孕發斑</h4>
<p>建德孫某之妻，懷胎五月，忽發溫毒之病，延豐診之，己發斑矣，
前醫有用補養安胎，不知溫毒得辛溫愈熾，得補養彌盛，是以毒勢益張，
壅滯肌肉而發為斑，其色紫者，胃熱盛也，脈數身熱，苔黃而焦，此宜解毒清斑，
不宜專用安補，遂以石膏蘆根，透陽明之熱，黃芩鮮地，清受灼之胎，
佐連翹甘草以解毒，荷葉以升提，服一帖身熱稍清，斑色退淡，惟脈象依然數至，
舌苔未見津回，仍守舊章，重入麥冬，少增參葉，繼服二帖，諸恙盡退，
後用清補之法，母子俱安。</p>
<h4>溫毒發疹</h4>
<p>古越胡某之郎，年方舞象，忽患熱渴咳閉，己半月矣，前醫罔效，病勢日加沉重，
遣人延豐診治，詣其寓所，先看服過三方，皆是沙參麥冬桑皮地骨，清金止咳等藥，
審其得病之時，始則發熱咳嗽，今更加之胸閉矣，診其脈，兩寸俱數，
此明係溫熱之毒，盤踞於上，初失宣氣透邪之法，頓使心火內熾，肺金受刑，
益肺主皮毛，恐溫毒外聚膚腠而發為疹，遂令解衣閱之，果見淡紅隱隱，
乘此將未透之際，怡好輕清透劑以治之，宜以辛涼解表法，去蔞殼，
加荷菉豆衣西河柳葉，服下遂鮮紅起粒，再服漸淡漸疏，而熱亦減，咳亦平，
繼以清肅肺金之方，未及一旬，遂全瘥耳。</p>
<p>喉痺急證</p>
<p>城東陳某之室，偶沾溫毒而成喉痺，來邀診治，見其頸腫牙閉，不能納食，
惟湯水略為可嚥，脈象浮中不著，沉分極數，豐曰，此溫毒之證，過服寒涼，
則溫毒被壓，益不能化，索前方一閱果然，據愚意理當先用溫宣，解其寒涼藥氣，
俟牙鬆腫減，而後以涼劑收功，滿座皆曰然，遂以殼精紫菀開其喉痺，
薄荷荊芥宣散風邪，橘紅快膈化痰，甘草瀉火解毒，桔梗載諸之性在上，
仍能開暢咽喉，細辛治喉痺有功，且足少陰本藥，以少陰之脈，循喉嚨也，速令煎嘗，
另用玉鑰匙，即馬牙硝錢半，蓬砂五分，殭蠶三分，大坭冰片一分，擂細吹喉，
令涎多出，自日晡進藥，至二更時候，牙關略展，忽作咳嗽連聲，次日復邀診視，
告以病情，豐曰，有生機也，脈形稍起，苔色純黃，此溫毒透達之象，
改以元參細地紹貝牛旁參葉射干大洞果金果欖等藥，疊進三劑，頸腫盡消，
咽喉暢利，咳嗽亦漸愈矣。</p>
<p>或問曰，觀先生數案，皆用法而不用湯，嘗見古人治斑疹頤喉，皆不出吳氏舉斑湯，
錢氏升葛湯，活人玄參升麻，東垣普濟消毒飲等方，方內皆用升麻，
竊思斑疹賴其透發，頤喉藉其升提，今先生舍而不用者是何意也，答曰，吳淮陰云，
升騰飛越太過之病，不當再用升提，說者謂其引經，亦愚甚矣，誠哉非謬也，
豐深有味乎斯言，即遇當升透之病，莫如荷葉桔梗為穩，升麻升散力速，他病為宜，
於斑疹頤喉，究難用耳。</p>
<p>伏氣晚發若耶趙某，頗知醫理，偶覺頭痛發熱，時或惡風，自以為感冒風邪，
用辛溫散劑，熱勢增重，來迓於豐脈象洪滑而數，舌根苔黃，時欲煩躁，口不甚渴，
豐曰此晚發證也，不當辛散，宜乎清解之方，病者筦爾而笑，即謂晚發在乎秋令，
春時有此病乎，見其几上有醫書數種，內有葉香巖醫效秘傳，隨手翻出使閱，
閱之面增愧色，遂請賜方，以辛涼解表法，加蘆根豆卷治之，連服三煎，
一如雪污拔刺諸恙咸瘳。</p>
<h2>時病論卷之二</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衢雷豐少逸手著</p>
<p>受業〔新安程曦錦雯盈川江誠抱一〕恭訂</p>
<h3>春傷於風大意</h3>
<p>內經云，春傷於風，謂當春厥陰行令，風木司權之候，傷乎風也，夫風邪之為病，
有輕重之分焉，輕則曰冒，重則曰傷，又重則曰中，如寒熱有汗，是風傷衛分，
名曰傷風病也，鼻塞咳嗽，是風冒於表，名曰冒風病也，當分輕重淺深而治之，
且風為六氣之領袖，能統諸氣，如當春尚有餘寒，則風中遂夾寒氣，
有感之者是為風寒，其或天氣暴熱，則風中遂夾熱氣，有感之者是為風熱，
其或春雨連綿，地中潮溼上泛，則風中遂夾溼氣，有感之者是為風溼，
倘春應溫而反寒，非其時而有其氣，有患寒熱如傷寒者，是為寒疫，
此七者皆春令所傷之新邪，感之即病，與不即病之伏氣，相去天淵，當細辨之。</p>
<h4>傷風</h4>
<p>傷風之病，即仲景書中風傷衛之證也，諸家己詳，可毋細論耳，然其初起之大概，
亦當述之，夫風邪初客於衛，頭痛發熱，汗出惡風，脈象浮緩者，
此宜解肌散表法治之，經曰，傷於於風者，頭先受之，故有頭痛之證，風併於衛，
營弱衛強，故有發熱汗出之證，汗出則腠疏，故有惡風之證，脈浮主表，緩主風，
故用解肌散表之法，以袪衛外之風，倘脈浮緊發熱汗不出者，不可與也，當須識此，
勿令誤也，若誤用之，必生他變，然則當按仲景法治之，世俗每見鼻塞咳嗽，
遂謂傷風，而不知其為冒風也，冒風之病，詳在下篇。</p>
<h4>冒風</h4>
<p>冒風者，風邪冒於皮毛，而未傳經入裏也，汪訒庵曰，輕為冒，重為傷，
又重則為中，可見冒風之病，較傷風為輕淺耳，近世每以冒風之病，指為傷風，
不知傷風之病，即仲景書中風傷衛之證也，今謂冒風，乃因風邪覆冒皮毛，
皮毛為肺之合，故見惡風微熱鼻塞聲重頭痛咳嗽，脈來濡滑而不浮緩，
此皆春時冒風之證據，與風傷衛之有別也，宜乎微辛輕解法治之，倘或口渴喜飲，
是有伏氣內潛，如脈數有汗為風溫，脈緊無汗為春溫，務宜區別而治，
庶幾無誤。</p>
<p>或問曰，曾見靈胎書中有頭痛發熱咳嗽涕出，俗語所謂傷風，
非仲聖傷寒論中之傷風也，今先生竟以風傷衛分為傷風，與靈胎相悖，究竟誰是誰非，
曰，靈胎所論之傷風，即是書之冒風，是書之傷風，即仲聖書中風傷衛分之傷風，
據理而論，當遵聖訓為是，俗語為非，曰，觀先生所論之冒風，較傷風為輕，
靈胎所論之傷風，為至難治之疾，一輕一重，何其相反，曰，豐謂風邪初冒皮毛，
其證輕而且淺，不難數服而瘥，故曰輕也，彼謂邪由皮毛而入於肺，經年累月，
病機日深，變成癆怯，故曰至難治之疾也，一論初起，一論病成，何相反之有。</p>
<h4>中風</h4>
<p>中風之病，如矢石之中人，驟然而至也，古人謂類中為多，真中極少，
是書專為六氣而設，故論真中為亟耳，觀夫卒中之病，在春中風為多，在夏中暑為多，
在秋中溼為多，在冬中寒為多，是以中風之病，詳於春令，益風之中於人也，忽然昏倒，
不省人事，或喎斜舌強，痰響喉間等證，當其昏倒之時，急以通關散取嚏，有則可治，
無則多死，口噤者，用開關散擦牙軟之，痰涎壅盛，用諸吐法涌之，
此乃急則治標之法，再考諸賢論治，惟金匱分為四中，最為確當，堪為後學準繩，
一曰中經，一曰中絡，一曰中腑，一曰中臟，如左右不遂，筋骨不用，邪在經也，
當用順氣搜風法治之，口眼喎斜，肌膚不仁，邪在絡也，當用活血袪風法治之，
昏不識人，便溺阻隔，邪在腑也，當用宣竅導痰法，益以百順丸治之，神昏不語，
唇緩涎流，邪在臟也，亦宜此法，佐以牛黃清心九治之，如口開則心絕，目合則肝絕，
手撤則脾絕，鼾睡則肺絕，遺溺則腎絕，又有搖頭上竄，汗出如油，脈大無倫，
或小如纖，皆不可治。</p>
<p>或問古人治中風，每有中腑中臟中血脈之分，中腑以小續命湯，中臟以三化湯，
中血脈以大秦艽湯，今既曰遵金匱之四中，然與原文不符合者何，曰，
此遵金鑑訂正之文，諒無有誤耳，曰，論中又謂真中極少，類中為多，究竟真類，
何以別耶，曰，忽然昏倒，真類皆有之證，然中者，但無口眼喎斜，不仁不用等證也，
曰，真類既分，不知類中有幾，曰，類中之病有八也，一因氣虛之體，煩勞過度，
清氣不升，忽然昏冒為虛中，也治宜補氣，一因氣實之人，暴怒氣逆，
忽然昏倒為氣中也，治宜順氣，一因七情過極，五志之火內發，卒然昏倒無知為火中也，
治宜涼膈，一因過飽感受風寒，或因惱怒氣鬱食阻，忽然昏厥為食中也，治宜宣消，
一因登塚入廟，冷屋棲遲，邪氣相侵，卒然妄語，頭面青黑，昏不知人為惡中也，
治宜辟邪，所有暑中論在卷四，溼中論在卷六，寒中論在卷八，此八者，
皆稱為類中也。</p>
<p>程曦曰，是書以金匱之四中為準繩，而不以內經偏枯風痱風懿風痺四者為綱領何，
思之良久，恍然有會，益偏枯者，半身遂也，風痱者，四肢不舉也，風懿者，
卒然不語也，風痺者，遍身疼痛也，竊謂偏枯風痱風懿，皆屬中風，而風痺一病，
斷斷不能涵入，恐後學者，以痺為為中，所以宗後聖而未宗先聖，職是故耳。</p>
<p>江誠曰，諸書以半身不遂，分出左癱右瘓，不用不仁，蓋謂癱者坦也，筋脈弛縱，
坦然不收，瘓者渙也，氣血渙散筋骨不用，又謂右為不用，左為不仁，其實癱與不仁，
即論中之邪中乎絡也，瘓與不用，即論中之邪中乎經也，今以此四中括之，
真所謂要言不煩矣。</p>
<h4>風寒</h4>
<p>經云，風為百病之長也，以其能統諸氣耳，夫春令之風，多兼溫氣，夏令之風，
多兼暑氣，秋令之風，多兼濕氣，冬令之風，多兼寒氣，今風寒之病，不論於冬，
而論於春令者，蓋以風為重也，如冬令之風寒，以寒為重可知，若此別之，
在春令辛溫不宜過劑，在冬令辛熱亦可施之，所以前人用藥宜分四時，洵非謬也，
是論風寒者，緣於初春尚有餘寒，所至之風，風中夾寒，人感之者，即寒熱頭痛，
汗出不多，或咳嗽，或體痠，脈來浮大，或兼弦緊是也，宜以辛溫解表法治之，
然此病較當春之寒疫稍輕，較冬令之傷寒則更輕矣，治之得法，不難一二劑而瘳，
但當審其兼證為要，如兼痰者，益以苓夏，兼食者，加入神查，隨證減增，庶幾有效。</p>
<h4>風熱</h4>
<p>春應溫而過熱，是為非時之氣，所感之風，風中必夾熱氣，故名風熱病耳，
此不但與風溫為兩途，抑且與熱病為各異，益風溫熱病，皆伏氣也，風熱之邪，
是新感也，其初起寒微熱甚，頭痛而昏，或汗多，或咳嗽，或目赤，或涕黃，
舌起黃苔，脈來浮數是也，當用辛涼解表法為先，倘惡寒頭痛得瘥，轉為口渴喜飲，
苔色黃焦，此風熱之邪，已化為火，宜改清熱保津法治之，倘或舌燥昏狂，
或發斑發疹，當仿熱病門中之法治之，或問曰，嘗見昔賢所謂春應溫而反寒，
是為非時之氣，今先生謂春應溫而過熱，亦為非時之氣，昔今之論，何其相反，
請詳悉之，答曰，昔賢之論，固非有謬，豐之鄙論，亦有所本，今謂春應溫而過熱，
即金匱所謂至而太過，禮記所謂春行夏令也，昔賢謂春應溫而反寒，
即金匱所謂至而不去，禮記所謂春行冬令也。</p>
<h4>風濕</h4>
<p>風濕之病，其證頭痛發熱，微汗惡風，骨節煩疼，體重微腫，小便欠利，
脈來浮緩是也，羅謙甫云，春夏之交，人病如傷寒，為風溼證也，宜用五苓散自愈，
由是觀之，風溼之邪，多傷於太陽者，不待言矣，宜用兩解太陽法疏其膀胱之經，
復利其膀胱之府也，如風勝者，多用羗防，濕勝者，多加苓澤，陰虛之體，脈中兼數，
宜加黃柏車前，陽虛之體，脈內兼遲，宜入戟天附片，醫者總宜分其風勝濕勝，
辨其陰虛陽虛，庶無貽誤。</p>
<p>喻嘉言曰，風溼之中人也，風則上先受之，溼則下先受之，俱從太陽膀胱而入，
風傷其衛，溼留關節，風邪從陽而親上，濕邪從陰而親下，風邪無形而居外，
溼邪有形而居內，上下內外之間，邪相摶擊，
故顯汗出惡風短氣發熱頭痛骨節煩疼身重微腫等證，此固宜從汗解，
第汗法與常法不同，貴徐不貴驟，驟則風去溼存，徐則風溼俱去也。豐按論風溼，
惟嘉言先生為白眉，明出上下表裏，可謂批卻導竅矣，更妙論汗之法，貴徐不貴驟，
此五字誠為治風溼之金針，學者不可以其近而忽之也。</p>
<h4>寒疫</h4>
<p>叔和序例曰，從春分以後，至秋分節前，天氣暴寒者，皆為時行寒疫也，考之。
金鑑又謂春應溫而反寒，名曰寒疫，據此而論，春有是病，而夏秋無是病也，
其實夏令之寒，是為陰暑之病，秋月之寒，是為秋涼燥氣，此分明夏秋不病寒疫，當宗。
金鑑之訓，寒疫在乎春令也，益疫者役也，若役使然，大概眾人之病相似者，
皆可以疫名之，此又與瘟疫之疫，相懸霄壤，須知瘟疫乃天地之厲氣，
寒疫乃反常之變氣也，其初起頭痛身疼，寒熱無汗，或作嘔逆，人迎之脈浮緊者，
宜用辛溫解表法治之，觀此見證，與冬令傷寒初客太陽無異，因在春令所以不名傷寒，
又因眾人之病相同，所以名為寒疫，然其治法，又與傷寒相去不遠矣，如有變證，
可仿傷寒法治之。或問曰，先生謂夏令之寒，是為陰暑之病，倘未交小暑大暑之令，
而受立夏小滿芒種夏至之寒，可以名寒疫否，答曰可也，昔賢謂夏應熱而反涼，
是為非時之氣，若因見證與寒疫相合，不妨用寒疫之方，此所謂超乎規矩之外，
仍不離乎規矩之中也。</p>
<h3>擬用諸法</h3>
<h4>解肌散表法</h4>
<p>治風邪傷衛，頭痛畏風，發熱有汗等證。嫩桂枝、白芍藥、粉甘草、生薑、大棗，
水煎服。此仲景之桂枝湯，治風傷衛之證也，舒馳遠曰，桂枝走太陽之表，
專驅衛分之風，白芍和陰護營，甘草調中解熱，薑辛能散，棌甘能和，又以行脾之津液，
而調和營衛者也。</p>
<h4>微辛輕解法</h4>
<p>治冒風之證，頭微痛，鼻塞咳嗽。
紫蘇梗〔一錢五分〕、薄荷梗〔一錢〕、牛旁子〔一錢五分〕、苦桔梗〔一錢五分〕、
瓜蔞殼〔二錢〕、廣橘紅〔一錢去白〕，水煎服。
凡新感之風邪，惟冒為輕，只可以微辛輕劑治之，夫風冒於皮毛，皮毛為肺之合，
故用紫蘇薄荷以宣其肺，皆用梗而不用葉，取其微辛力薄也，益風為陽邪，極易化火，
辛溫之藥，不宜過用，所以佐牛旁之辛涼，桔梗之辛平，以解太陰之表，
及蔞殼之輕鬆，橘紅之輕透，以暢肺經之氣，氣分一舒，則冒自解矣。</p>
<h4>順氣搜風法</h4>
<p>治風邪中經，左右不遂，筋骨不用。
台烏藥〔一錢〕、陳橘皮〔一錢五分〕、天麻〔一錢〕、紫蘇〔一錢五分〕、甘菊花〔一錢〕、
參條〔二錢〕、炙甘草〔五分〕、宣木瓜〔一錢〕、加桑枝三錢為引水煎服，
此師古人順風勻氣散之法以治風邪中經之病也，香巖曰，經屬氣，
所以進烏藥陳皮以順其氣，天麻蘇菊以搜其風，經曰，邪之所湊，其氣必虛，
故佐參草輔其正氣，更佐木瓜利其筋骨，桑枝遂其左右之用也。</p>
<h4>活血袪風法</h4>
<p>治風邪中絡，口眼喎斜，肌膚不仁。
全當歸〔三錢酒炒〕、川芎〔一錢五分〕、白芍〔一錢酒炒〕、秦艽〔一錢五分〕、
冬桑葉〔三錢〕、雞血籐膠〔一錢〕，加橘絡二錢煎服。
此治風邪中絡之法也，香巖云，絡屬血，故用雞籐川芎以活其血，
即古人所謂治風須養血，血行風自滅也，經曰，營虛則不仁，故用當歸白芍補益營血，
而治不仁也，秦艽為風藥中之潤品，散藥中之補品，且能活血榮筋，桑葉乃箕星之精，
箕好風，風氣通於肝，最能滋血去風，斯二者，誠為風中於絡之要劑，
更佐橘絡以達其絡，絡舒血活則風邪自解，而喎斜自愈矣。</p>
<h4>宣竅導痰法</h4>
<p>治風邪中臟中腑，及瘧發昏倒等證。
遠志〔一錢去心〕、石菖蒲〔五分〕、天竺黃〔二錢〕、杏仁〔三錢去尖研〕、
瓜蔞實〔三錢研〕、殭蠶〔三錢炒〕、皂角炭〔五分〕，水煎溫服。
風邪中於臟腑者，宜施此法，其中乎經，可以順氣搜風，其中乎絡，可以活血袪風，
今中臟腑，無風藥可以施之，可見中臟之神昏不語，唇緩涎流，中腑之昏不識人，
便溺阻隔等證，確宜宣竅導痰，方中天竺遠菖，宣其竅而解其語，杏仁蔞實，
導其痰且潤其腸，殭蠶化中風之痰，皂角通上下之竅，此一法而兩用也，
尤恐其力之不及，中腑更佐以百順，中臟更佐以牛黃，按法用之，庶無差忒。</p>
<h4>辛溫解表法（見卷一第十頁）</h4>
<h4>辛涼解表法（見卷一第十一頁）</h4>
<h4>清熱保津法（見卷一第十二頁）</h4>
<h4>雨解太陽法</h4>
<p>治風溼之證，頭痛身重，骨節煩疼，小便欠利。
桂枝〔一錢五分〕、羌活〔一錢五分〕、防風〔一錢五分〕、茯苓〔三錢〕、澤瀉〔一錢五分〕、
生米仁〔四錢〕、苦桔梗〔一錢五分〕，流水煎服。斯法也，乃兩解太陽風溼之邪，
風邪無形而居外，所以用桂枝羗防，解其太陽之表，俾風從汗而出，溼邪有形而居內，
所以用苓澤米仁，滲其膀胱之裏，俾溼從溺而出，更以桔梗通天氣於地道，
能宣上復能下行，可使風溼之邪，分表裏而解也，嘉言雖謂風溼之病，固宜從汗而解，
然風勝於溼者，則溼可隨風去，倘溼勝於風者，則宜此法治之。</p>
<p><b>備用成方</b></p>
<h4>海藏神朮散</h4>
<p>治外感風寒，發熱無汗。蒼朮、防風、甘草，生薑蔥白煎服。香蘇飲，
治四時感冒風寒，頭痛發熱，或兼內傷，胸悶咳逆。香附、紫蘇、陳皮、甘草，
加薑蔥煎，傷食加砂麯，咳嗽加桑杏，有痰加苓夏，頭痛加芎芷，有汗加桂枝，
無汗加麻黃。</p>
<h4>參蘇飲</h4>
<p>治外感內傷，發熱咳嗽，傷風泄瀉等證。
人參、紫蘇、茯苓、陳皮、半夏、甘艸、枳殼、桔梗、前胡、乾葛、木香，加薑棗煎，
外感多者，去棗加蔥白，肺中有火，去人參，加杏仁桑皮。</p>
<h4>金沸草湯</h4>
<p>治肺經傷風，頭目昏痛，咳嗽多痰。
金沸草〔即旋覆花用絹包煎〕、製半夏、茯苓、前胡、荊芥、細辛、甘草，加薑棗煎，
如胸悶加枳殼桔梗，有熱加柴胡黃芩，頭痛加川芎。</p>
<h4>桂枝湯</h4>
<p>治風傷衛，陽浮而陰弱，發熱頭痛，自汗惡風，鼻鳴乾嘔等證。
藥味見解肌散表法（在本卷第二七頁）。</p>
<p>豐按神朮散，香蘇散，皆治風寒之輕證也，重則不可恃耳，參蘇飲，
乃治氣虛之外感，稍壯者減參可也，金沸草湯，治肺經之傷風，桂枝湯，治衛分之傷風，
此皆疏散之方，施治有別，弗宜溷用。</p>
<h4>開關散</h4>
<p>治中風不省人事。南星、皂角、細辛、薄荷、生半夏，共為細未，吹入鼻中，
有嚏可治，無嚏難治。開關散，治中風口噤。烏梅肉、上冰片、生南星，為抹擦牙，
其噤可開，此二方乃救暴中之急，預當備之。</p>
<h4>小續命湯</h4>
<p>治中風不省人事，半身不遂，口眼喎斜，語言蹇澀，及剛柔二痙。
防風、桂枝、麻黃、杏仁、川芎、白芍、人參、甘草、黃芩、防己、附子，
加薑棗煎服。三化湯，治中風邪氣作實，二便不通。羌活、大黃、厚朴、枳實，
水煎溫服。大秦艽湯，治中風手足風手足不能運掉，舌強不能言語，風邪散見，
不拘一經者。
秦艽、石膏、當歸、白芍、川芎、生地、熟地、白朮、茯苓、甘艸、黃芩、防風、
羌活、獨活、白芷、細辛，水煎溫服。</p>
<h4>烏藥順氣散</h4>
<p>治中風遍身頑麻，骨節疼痛，步履艱難，語言蹇澀，口眼喎斜，喉中氣急有痰。
烏藥、橘紅、麻黃、川芎、白芷、殭蠶、枳殼、桔梗、薑炭、炙草，加薑蔥煎。</p>
<h4>順風勻氣散</h4>
<p>治中風半身不遂，口眼喎斜。
烏藥、沉香、青皮、木瓜、白芷、天麻、蘇葉、人參、白芷、甘草，加生薑煎服。</p>
<h4>牽正散</h4>
<p>治中風口眼喎斜，無他證者，白附子、殭蠶、全蠍，等分為末每服二錢酒調下。
豐按以上諸方，皆治真中之病，若東垣所謂煩勞過度，清氣不升而中者，
丹溪所謂溼熱生痰，痰氣上冒而中者，河間所謂七情過極，五志之火內發而中者，
此皆為類中之病，慎毋誤投。</p>
<h4>黃耆五物湯</h4>
<p>治風痱身無痛，半身不遂，手足無力，不能動履者，久久服之，自見其功。
炙黃耆、炒白芍、嫩桂枝，加薑棗煎服。</p>
<h4>防風黃耆湯</h4>
<p>治中風不能言，脈遲而弱者。防風、黃耆，水煎溫服。豐按此二方，皆用黃耆，
是治氣虛之體，患中風之病也，非腎虛不函肝木，木動生風，而發眩仆之虛風可比，
務宜分別而治，庶不齟齬。</p>
<h4>防風通聖散</h4>
<p>治一切風寒暑溼，饑飽勞役，外諸邪所傷，及丹斑癮疹等證。
防風、荊芥、麻黃、桔梗、連翹、梔炭、黃芩、薄荷、大黃、芒硝、石膏、滑石、
白朮、甘草、當歸、白芍、川芎，加生薑蔥白煎。豐按此方，是河間所製，
主治甚多不能盡述，其藥味表裏氣血皆備，醫者不能拘守成方，務宜臨時權變，
本除大黃芒硝名雙解散，汪訒菴曰，麻防荊薄川芎以解表，芩梔膏滑連翹以解裏，
復有歸芍以和血，甘桔白朮以調氣，故日雙解。</p>
<h4>柴葛解肌湯</h4>
<p>治太陽陽明少陽合病，頭目眼眶痛，鼻乾不得眠，寒熱無汗，脈象微洪，或兼弦。
柴胡、葛根、羌活、白芷、黃芩、赤芍、桔梗、甘草、石膏，加薑棗煎服。金鑑云，
此方陶華所製，以代葛根湯，凡四時太陽陽明少陽合病之輕證，均宜此湯加減治之，
如無太陽證者減羌活，無少陽證者減柴胡，下利減石膏，以避裏虛，嘔逆加半夏，
以降裏逆。</p>
<h4>蘇羌飲</h4>
<p>治寒疫有效，并治傷風傷寒，可代麻桂十神之用。
紫蘇、羌活、防風、陳皮、淡豉、生薑、蔥白。豐按是方，乃劉松峰所製，
治寒疫之功頗捷，倘豐之辛溫解表法，未獲效者，可繼此方，堪為接應之兵也，
慎毋忽諸。</p>
<h3>臨證治案</h3>
<h4>冒風輕證不慎口食轉重</h4>
<p>城西孫某，感冒風邪，豐用微辛輕解法加杏仁象貝治之，服二劑，復來趕請，
謂方藥無靈，病忽益劇，息賁胸閉，鼻衄如泉，即往診之，寸脈皆大，沉按滑數而來，
豐曰，此風痰壅閉於肺，化火劫絡之證也，方中並無補劑，何得加閉，又無熱藥，
何得動衄，詢其日咋所食之物，乃火酒下雞，夫雞乃關風之物，酒為助火之物，
宜乎增劇，無怪方藥，遂用金沸草湯去細辛荊芥，加葶藶杏仁降肺氣以開其閉，
黃芩梔炭清血熱而止其衄，連服三煎，即中病機，若以查肉雞金消其積，
葛花枳椇解其醒，便是刻舟求劍矣。</p>
<h4>風邪中絡</h4>
<p>城西馬某之母，望八高年，素常輕健，霎時暴蹶，口眼喎斜，左部偏枯，形神若塑，
切其脈端直而長，左三部皆兼濇象，豐曰，此血氣本衰，風邪乘虛中絡，
當遵古人治風須治血，血行風自滅之法，
於是遂以活血祛風法加首烏阿膠天麻紅棗治之，連服旬餘，稍為中窺復診脈象，
不甚弦而小濇，左肢略見活動，口眼如常，神氣亦清爽矣，惟連宵少寐，
睡覺滿口焦乾，據病勢已衰大半，但肝血腎液與心神，
皆己累虧姑守舊方除去秦艽桑葉白芍天麻，加入枸杞蓯容地黃龍眼，又服十數劑，
精神日復，起居若舊矣。</p>
<h4>中風急證</h4>
<p>南鄉余某，年將耳順，形素豐肥，晨起忽然昏倒，人事無知，口眼喎斜，牙關緊閉，
兩手之脈皆浮滑，此為真中風也，誠恐痰隨風湧耳，令購蘇合香丸，未至痰聲遂起，
急以開關散先擦其齦，隨化蘇合香丸，頻頻灌下，少焉，痰如鼎沸，隔垣可聞，
舉家驚惶，索方求救，又令以鵝翎向喉內蘸痰，痰忽湧出，約有盈碗，人事略清，
似有軟倦欲寐之狀，屏去房內諸人，待其寧鏡而睡，鼻有微鼾，膚有微汗，稍有痰聲，
頃間又一醫至，遂謂鼾聲為肺絕，汗出為欲脫，不可救也，即拂衣而去，豐思其體頗實，
正未大虛，汗出微微，諒不至脫，痰既湧出，諒不至閉，詢其向睡，亦有鼾聲，
姑以宣竅導痰法加東參薑汁治之，從容灌下，直至二更時分，忽聞太息一聲，
呼之遂醒，與飲米湯，牙關似覺稍鬆，詰其所苦，又有垂頭欲睡之態，即令弗擾，
聽其自然，依舊鼾聲而寐，汗出周身至次日黎明甫醒，皮膚汗減，痰聲亦平，
口眼亦稍端正，復診其脈滑而不浮，以乎風從微汗而去，痰尚留滯於絡也，
繼用茯神柏子養心收汗，橘絡半夏舒絡消痰，加穭豆桑葉以搜餘風，
遠志菖蒲以宣清竅，更佐參甘輔正，蘇合開痰，本末兼醫，庶幾妥當，合家深信，
一日連嘗二劑，至第五朝諸恙皆減，飲食日漸進矣。</p>
<h4>中風脫證</h4>
<p>城中鄭某，年屆古稀，倏然昏仆，左肢不遂，肌膚不仁，無力而攤，舌強言蹇，
郡中醫士，或專用補益，或專以疏風，或開竅消痰，或標本兼理，咸未中病，
迨邀豐診，脈小如纖，汗下如雨，喘急遺溺，神識昏蒙，豐曰，脫證見矣，
不可挽也，乃郎再四求治，念其孝心純篤，勉存一法，用高麗人參五錢，附片三錢，
姜汁一匙，令濃煎頻服，又迎他醫，亦係參附為君，延至三天，果歸大暮。</p>
<h4>真中死證</h4>
<p>北野賀某之妻，陡然昏倒，口目歪斜，神識朦朧，左肢不遂，牙關緊閉，脈大無倫，
但其鼾聲似睡，分明肺絕之徵，謂其婿曰，死證已彰，不可救矣，復延他醫診治，
終不能起。程曦曰，觀前之鄭案，至於汗多喘急，遺溺神昏，脈小如纖，知為脫證，
此案神昏牙閉，鼻息如鼾，脈大無倫，知為絕證，脫絕之證已顯，死期可必矣，
思吾師課徒之心甚苦，書中輕未重案，以及死案，一概詳之，未始非臨證之一助也。</p>
<h4>風溼雨感</h4>
<p>海昌濮某之媳，孤幃有數載矣，性情多鬱，鬱則氣滯，偶沾風溼，遂不易解，
始則寒熱體疼，繼則遍身浮腫，述服數方，僉未中肯，豐佑其體素虧，剝削之方，
似難浪進，姑以兩解太陽法去米仁澤瀉二味，白茯用皮，再加陳皮厚朴香附鬱金治之，
服二劑稍有汗出，寒熱已無，浮腫略消，下體仍甚，思前賢有上腫治風，
下腫治溼之說，姑照舊法除去羌活，更佐車椒巴戟，連嘗五劑，始獲稍寬，
後用調中化溼之方，醫治旬餘，得全瘥矣。</p>
<h4>風溼誤為風溫</h4>
<p>須江毛某，販柴來城，忽然患病，曾延醫治，乏效來迓於豐，見其所服之方，
皆作風溫論治，診其脈，弦而緩，考其證，寒熱身疼，舌苔雖黃，黃而滋膩，
口雖作燥，不甚引飲，豐曰，此屬風溼時邪，實非風溫伏氣，就目前厥陰主氣而論，
風溫之病似矣，不審今春淫雨纏綿，地中之溼上泛，隨時令之風而襲人，遂成諸證，
況無咳嗽口渴，又無滑數之脈，顯然非風溫也，
從風溼立法以平胃神朮蔥豉三方合為一劑，連進數服而安。</p>
<h4>產後寒疫</h4>
<p>豫章邱某之室，分娩三朝，忽時行寒疫，曾經醫治，有守產後成方用生化者，
有遵丹溪之法用補虛者，僉未中的，而熱劫益張，邀豐診之，脈似切繩轉索，
舌苔滿白，壯熱汗無，豐曰，此寒疫也，雖在產後，亦當辛散為治，
擬用辛溫解表法去桔梗，加芎芷乾薑黑荊穭豆，囑服二劑，則熱遂從汗解，
復用養營滌污之法，日漸而瘳。</p>
<h4>時行寒疫</h4>
<p>城中王某之女，剛針黹時，偶覺頭痛畏寒，身熱無汗，延醫調治，混稱時證，
遂用柴葛解肌，未效又更醫治，妥謂春溫伏氣，用萎蕤湯又未中病，始來商治於豐，
按其脈，人迎緊盛，舌白而浮，口不乾渴，豐曰，春應溫而反寒，寒氣犯之，
是為時行寒疫，前二方，未臻效者，實有乎膏芩，幸同羌葛用之，尚無大害，
據愚意法當守用辛溫，弗入苦寒自效，即以松峰蘇羌飲加神麯豆卷治之，
令其輕煎溫服，謹避風寒，覆被安眠，待其汗解，服一煎，果有汗出，熱勢遂衰，
繼服一煎，諸痾盡卻矣。</p>
<h2>時病論卷之三</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衢雷豐少逸手著</p>
<p>受業新安程曦錦雯盈川江誠抱一恭訂</p>
<h3>春傷於風夏生飧泄大意</h3>
<p>經謂春傷於風者，乃即病之新感也，即二卷中傷風冒風之證，今謂春傷於風，
夏生飧泄者，此不即病之伏氣也，蓋風木之氣也，內通乎肝，肝木乘脾，脾氣下陷，
日久而成瀉泄，經又云，邪氣留連，乃為洞泄，此亦言伏氣為病，可見飧泄洞泄，
皆由伏氣始然，然有寒瀉火瀉暑瀉濕瀉痰瀉食瀉，雖不因乎伏氣，又不得不並詳之，
益飧泄則完穀不化，洞泄則直傾於下，寒泄則脈遲溺白，腹中綿痛，火瀉則脈數溺赤，
痛一陣，瀉一陣，又有煩渴面垢為暑瀉，胸痞不渴為濕瀉，或時瀉，或時不瀉為痰瀉，
噯氣作酸，瀉下腐臭為食瀉，泄瀉之病，盡於斯矣，靈樞又云，春傷於風，
夏生後泄腸澼，腸澼者，古之痢名也，痢有風寒濕熱噤口水穀休息五色之分，
均宜辨治，風痢者，似腸風下血而有痛墜，寒痢者，下稀水而清腥，腹中痛甚，
熱痢者，如魚腦而黏稠，窘迫而痛，溼痢者，色如豆汁，胸悶腹疼，又有下痢不食，
或嘔不能食，名噤口痢，糟柏膿血雜下者，名水穀痢，時發時止者，名休息痢，
五色膿血相溷而下，名五色痢，痢証多端，治宜分別，復揣夏生後泄腸澼之訓，
是獨指風痢而言，其餘之痢，在夏為少，在秋為多，而吾醫者，又弗可膠於句下耳。</p>
<h4>飧泄</h4>
<p>推飧泄致病之因，乃風邪也，木勝也，寒氣也，脾虛也，伏氣也，內經云，
春傷於風，夏生飧泄，又云久風為飧泄，據此而論，因風邪致病，又云厥陰之勝，
腸鳴飧泄，又云歲木太過，民病飧泄，據此而論，因木勝致病，又云胃中寒則腹脹，
腸中寒則飧泄，據此而論，因寒氣致病又云脾病者，虛則腹滿，腸鳴飧瀉食不化，
據此而論因脾虛致病，又云，虛邪之中人也，留而不去，傳舍於腸胃，
多寒則腸鳴飧泄食不化，多熱則溏出糜，據此而論，因伏氣致病，總而言之，
良由春傷於風，風氣通於肝，肝木之邪，不能調達，鬱伏於脾土之中，中土虛寒，
則風木更勝，而脾土更不主生，反下陷而為泄也，故經又謂清氣在下，則生飧泄，
所以當春升發之令而不得發，交夏而成斯證矣，其脈兩關不調，或弦而緩，腸鳴腹痛，
完穀不消，宜以培中瀉木法治之，如尺脈沉遲，按之無力，乃屬下焦虛寒，
寒則不能消穀而成是病，宜以補火生土法治之，倘脈細小而遲，手足寒者，不易治也，
勉以緩培卑監法治之，倘日久穀道不合，或肛門下脫，乃元氣下陷也，
急以補中收脫法治之，飧泄之病，屬虛者多，屬實者少，如執治瀉不利小便之偏，
必致不起，悲夫。</p>
<p>或問曰，諸賢論飧泄，皆謂濕兼風也，又謂濕多成五瀉，瀉又謂治溼不利小便，
非其治也，今先生論中一無濕字，反謂偏利小便，必致不起，能不違悖古人乎，答曰，
是病專論春傷於風之伏氣，所以論風而謂及溼，如有溼邪相溷，即有溼之見證，
辨之明確，始可佐之通利，蓋飧泄下利清穀，乃屬脾土虛寒，不能運化而下陷，
倘執通利趨下之方，啟非落井而又下石哉，通篇皆本內經，何違悖之有，又問曰，
先生謂飧泄乃屬脾土虛寒，所以下利清穀，殊未見醫統又云胃火，由火性急速，
傳化失常，為邪熱不殺穀也，指掌亦謂完穀不化，以火治之，由是觀之，
又與先生之論，不相符節，究竟以前人為火乎，抑以先生為寒乎，答曰，
豐按內經而推，飧泄屬虛寒者固矣，醫統指掌皆謂為火者，其實即諸瀉中之火瀉也，
須知寒與火，極易明辨，如脈數胎黃，小溲熱赤，即是屬火之瀉，否則便是虛寒，
問者首肯而退。</p>
<h4>洞泄</h4>
<p>經云，春傷於風，夏生飧泄，邪氣留連，乃為洞泄，蓋因風木之邪，留連既久，
木氣剋土，則倉廩而為洞泄，可見是病，亦由伏氣所致也，李士材曰，洞泄一名濡泄，
濡泄因於溼勝，此病非但因伏氣內留，中氣失治，亦有溼氣相兼治病也，考其脈象，
軟緩乏力，或關脈兼絃，身重神疲，肢體懈怠，下利清穀，小便短赤是也，
宜乎培中瀉木法加蒼朮澤瀉治之，經曰，腎脈小甚為洞泄，蓋腎為胃關，
因腎虛失閉藏之職，伏邪乘虛而深陷也，宜乎補火生土法，加煨葛荷葉治之，
總之脾虛以補至中為先，腎虛以固下為亟，風勝佐之疏透，溼勝佐之滲利，臨證之頃，
神而明之，則旋踵之禍，庶幾免焉。</p>
<p>程曦曰，觀飧泄洞泄之論，總不離乎木氣剋土，故治洞泄，皆仿飧泄之法，
然其中之虛實，當細別之，蓋飧泄因脾虛為多，所以完穀不化，洞泄因溼勝為多，
所以體重溺紅，屬脾虛者，不宜偏利，屬溼勝者不宜偏補，斯二者，
皆當審其虛實而分治之。</p>
<h4>寒泄</h4>
<p>寒泄者，因寒而致瀉也，不比飧瀉洞瀉，皆屬春傷於風之伏氣，伏氣之瀉，
前二篇已詳悉矣，所有寒火暑溼痰食等瀉，雖不因乎伏氣，然又不可不詳，
蓋寒瀉致病之原，良由感受乎寒，寒氣內襲於脾，脾胃受寒則陽虛，虛則不司應用，
清陽之氣，不主上升，反下陷而為便瀉，故所下澄澈清冷，儼如鴨糞，腹中綿痛，
小便清白，脈來緩怠近遲，此宜緩培卑監法去西潞益智，加木香查炭治之，書又云，
寒瀉及鶩瀉，以其瀉出如鴨騖之糞也，又謂鴨溏者，濕兼寒也，若有溼證所著，
宜佐化溼之藥，隨其證而加減可也。</p>
<h4>火瀉</h4>
<p>火瀉即熱瀉也，經云，暴注下迫，皆屬於熱，暴注者，卒暴注瀉也，下迫者，
後重裹急也，其證瀉出如射，糞出穀道，猶如湯熱，肛門焦痛難禁，腹內鳴想響而痛，
痛一陣瀉一陣，瀉腹澀滯也，非食瀉瀉後，覺寬之可比，脈必數至，舌必苔黃，
溺必赤濇，口必作渴，此皆火瀉之證也，張介賓曰，熱勝則瀉，而小水不利者，
以火乘陰分，水道閉塞而然，宜用通利州都法，去蒼朮，加芩蓮治之，
大概暴注新病者可利，實熱閉澀者可利，形氣強壯者可利，小腹脹滿者可利，
今泄瀉屬火而不寒，屬實而不虛，故可用通利之法，如久病陰虧者，氣虛屬寒者，
皆不可利，醫者不可不知也。</p>
<h4>暑瀉</h4>
<p>長夏暑失溼之令，有人患泄瀉者，每多暑瀉也，夫暑熱之氣，不離乎溼，
蓋因天之暑熱下逼，地之濕熱上騰，人在氣交之中，其氣即從口鼻而入，直擾中州，
脾胃失消運之權，清濁不分，上升精華之氣，反下降而為便瀉矣，考暑瀉之證，
瀉出黏稠，小便熱赤，脈來濡數，其或沉滑，面垢有汗，口渴喜涼，通體之熱，
熱似火炎，宜以清涼滌暑法，用卻燔蒸，譬如商飆，颯然倏動，則炎熇自蕩無餘矣，
如夾溼者，口不甚渴，當佐木通澤瀉，如溼盛於暑者，宜仿溼瀉之法可也。</p>
<h4>溼瀉</h4>
<p>內經云溼勝則濡瀉，難經曰，溼多成五泄，可見泄瀉之病，屬溼為多，溼侵於脾，
脾失健運，不能滲化，致闌門不克泌清別濁，水穀併入大腸而成泄瀉矣，溼瀉之為病，
脈象緩濇而來，瀉水而不腹痛，胸前痞悶，口不作渴，小便黃赤，亦或有腹中微痛，
大便稀溏之證，考治溼瀉之法，惟念莪先生可宗，乃曰滲利，使溼從小便而去，
如農人治澇，導其下流，雖處卑監，不憂巨浸，經曰，治瀉不利小便，非其治也，
若此論之，必當滲利膀胱，宜用通利州都法，則瀉自得止矣。</p>
<p>或問曰，觀先生是論，既引內經之濡泄復引難經之五泄，何書中不列濡瀉之門，
又不發五泄之論，如斯簡括，詎無掛漏乎，答曰，濡泄即洞池，洞池之病，已論於前，
五泄即胃脾大腸小腸大瘕也，考五十七難中胃泄脾泄，即今之食瀉也，
大腸池小腸泄大瘕泄，即今之痢疾也，食瀉痢疾，皆詳於後，可弗置論耳。</p>
<h4>痰瀉</h4>
<p>痰瀉者，因痰而致瀉也，昔賢云，脾為生痰之源，肺為貯痰之器，夫痰乃溼氣而生，
溼由脾弱而起，蓋脾為太陰溼土得溫則健，一被寒溼所侵，遂困頓矣，脾既困頓，
焉能掌運用之權衝，則水穀之精微，悉變為痰，痰氣上襲於肺，肺與大腸相為表裏，
其大腸固者，肺經自病，而為痰嗽，其不固者，則肺病移於大腸，而成痰瀉矣，
其脈弦滑之象，胸腹迷悶，頭暈惡心，神色不瘁，或時瀉，或時不瀉是也，
宜以化痰順氣法治之，俾其氣順痰消，痰消則瀉自止耳。</p>
<h4>食瀉〔附飲瀉〕</h4>
<p>食瀉者，即胃瀉也，緣於脾為溼困，不能健運，陽明胃府，失其消化，
是以食積太倉，遂成便瀉，其脈氣口緊盛，或右關沉滑，其證嚥酸噯臭，胸脘痞悶，
惡聞食氣，腹痛甚而不瀉，得瀉則腹痛遂鬆，當用查麯平胃法治之，又有渴能飲水，
水下復瀉，瀉而大渴，名為溢飲滑瀉，即金鑑中之飲瀉，良由水漬於胃而然，
宜用增損胃苓法去厚朴蒼朮，加白朮甘草治之，近來之醫，飲食混稱者多，
豈可不為分別哉。</p>
<p>或問先生之書，專為六氣而設，今痰瀉食瀉，不關六氣，亦雜論其中，究係何意，
答曰，痰從溼生，溼非六氣之一乎，食瀉即胃瀉，胃瀉居五泄之一，
越人謂溼多成五泄，食瀉豈無濕乎，前論飧泄洞泄，皆因伏氣致病，其寒瀉因寒，
火瀉因火，暑瀉因暑，溼瀉因溼，然痰瀉食瀉，雖因痰食，亦難免乎無溼，
而飧洞寒火暑溼等瀉，偶亦有痰食相兼，兼證如文字之搭題，弗宜顧此失彼，
醫者不可不明。</p>
<h4>風痢</h4>
<p>針經云，春傷於風，夏生後泄腸澼，註家謂春令傷乎風邪，風木內干，損其胃氣，
則上升清陽之氣，反內陷而為飧泄，久則傳太陰而為腸澼，此分明因風而致，
故謂之風痢也，夫風痢之證，先作泄而後作痢，脈象每見沉小而弦，腹微痛而有後重，
似腸風而下清血，此由春令之伏氣，至夏而發，是屬木勝土虧之候，如體素寒者，
宜用培中瀉木法加木香蒼朮治之，體素熱者，宜本法去吳萸炮姜，加芩連煨葛治之，
如胸悶溺赤者，必夾濕也，宜佐赤苓澤瀉治之，吞酸噯腐者，必夾食休，
宜佐山查厚朴治之。或問曰，古云先瀉後痢，為脾傳腎，今風痢亦先瀉後痢，
究竟係脾傳腎否，曰，否也，昔賢謂先瀉後痢，為土剋水之證，此言先瀉後痢者，
由風木剋胃傳脾之證，自是兩途，當辨治之，又問曰，嘗見痢多發於秋令者多，
夏令者少，今言至夏而發，得無謬乎，曰，諸痢多發於秋令，或發於夏秋之交，
惟風痢獨發於夏，蓋由春時之伏氣，從內而發，經曰，春傷於風，夏生後泄腸澼，
此之謂也。</p>
<h4>寒痢</h4>
<p>前言風痢，是論春時伏氣，至夏而發，其餘之痢則不然，今先以寒痢論之，
其病雖發於夏秋之交，其實受寒較受暑為多，景岳云，炎熱者，天之常令，當熱不熱，
必反為災，因熱貪涼，人之常事，過食生泠，所以致痢，每見人之慎疾者，雖經盛暑，
不犯寒涼，終無瀉痢之患，可見寒痢之證，實因炎熱貪涼，過食生泠，泠則凝滯，
中州之陽，不能運化，清氣不升，脾氣下陷，以致腹痛後重，痢下白色，稀而清腥，
脈遲苔白者，當去其寒，兼扶脾土，則痢自止，宜用煖培卑監法佐以查炭木香治之，
然而寒痢亦有赤色者，不可不別，總之以脈遲苔白為據，倘脈數苔黃者便為熱痢，
溫熱之品，又不可施，醫者總當以脈舌分其寒熱，慎弗忽諸。</p>
<p>王海藏曰，寒毒內傷，復用寒涼非其治也，況血為寒所凝，浸入大腸間而便下，
得溫乃行，所以用熱藥其血自止，經曰，治病必求其本，此之謂也，胃既得溫，
其血不凝而自行，各守其鄉矣。</p>
<p>程曦曰，嘗見今之治痢，不分屬熱屬寒，開口便言溼熱，動手便用寒涼蓋因未究脈象，
未審舌苔之故耳，凡辨病之寒熱虛實表裏陰陽，皆當於脈舌中，細細求之，庶幾無誤。</p>
<h4>熱痢〔附暑痢〕</h4>
<p>熱痢者，起於夏秋之交，熱鬱溼蒸，人感其氣，內干脾胃，脾不健運，胃不消導，
熱挾濕食，醞釀中州，而成滯下矣，蓋熱痢之為病，脈滑數而有力，裏急後重，
煩渴引飲喜冷畏熱，小便熱赤，痢下赤色，或如魚腦，稠黏而穢者是也，
治宜清痢蕩積法益以查肉檳榔治之，如體弱者，以生軍改為製軍最妥，時賢謂熱痢，
即暑痢也，豐細考之則非，準繩云，暑氣成痢者，其人自汗發熱，面垢嘔逆，
渴欲引飲，腹內攻痛，小便不通，痢血頻迸者是也，擬以清涼滌暑法去青蒿瓜翠，
加黃連荷藥治之，臨證之間，亦當辨治。</p>
<h4>溼痢</h4>
<p>劉河間論痢，總不外乎溼熱，孔以立非之，乃謂六淫之邪，俱可兼傷，
不獨在乎溼熱也，然古有溼痢之名，決不可廢，竊謂河間專言溼熱，似乎太偏，
以立為不然，似乎太過，據豐論溼痢，有寒熱之分焉，蓋夫寒溼之為痢也，
腹綿痛而後墜，胸痞悶而不渴，不思穀食，小便清白，或微黃，痢下色白，或如豆汁，
脈緩近遲之象，宜用溫化溼邪法加木香治之，熱溼之為痢也，裏急後重，忽思飲，
飲亦不多，忽思食，食亦乏味，小便熱澀，痢下赤色，或淡紅焦黃，脈來濡之形，
當用通利州都法去蒼朮，加木香黃連治之，又有陰虛患痢，裏急欲便，
坐久而仍不得便者，謂之虛坐努責，不可偏言乎溼，而投滲利，利之益傷其陰，
如當歸白芍生地丹皮阿膠澤瀉及石蓮等品，隨證加減可也。</p>
<p>程曦曰，以立論，痢，謂六淫之邪，俱可兼傷，由是觀之，豈非一歲俱有痢疾耶，
須知風痢雖傷於風，但發於夏，寒痢因熱貪涼而受寒，亦發於夏，
非冬令之寒而致痢也，熱痢發於相火之令，溼痢發於溼土之令，
其實痢疾雖有風寒熱溼之殊，然總發於夏秋之令，而春冬罕見是病，以立邁六淫俱傷，
豈不貿貿哉。</p>
<h4>噤口痢</h4>
<p>噤口者，下痢不食，或嘔不能食也，痢而能食，知胃未病，今不食者，
緣於脾家溼熱，壅塞胃口而然，又有誤服利藥，犯其胃氣者，止濇太早，留邪於中者，
脾胃虛寒，溼邪干犯者，氣機閉塞，熱邪阻隔者，穢積在下，惡氣薰蒸者，肝木所勝，
乘其脾胃者，又有宿食不消者，水飲停蓄者，皆能使人噤口也，擬用調中開噤法，
隨證加減，緩緩服之，冀其有效，然噤口之因，非審其脈不能明晰，如右部浮濡沉細，
或緩怠無力，胃虛也，洪大急滑，火熱也，渾渾浮大或浮弦濁氣上壅也，沉而滑，
或右濇滯，宿食停積也，遲細者，胃寒也，弦急者，木勝也，細別其脈而治之，
更為確當，倘或絕不思食，下痢無度，不可治也，惟有獨參湯合陳廩米濃煎頻服，
幸冀萬一耳。</p>
<p>孔以立曰，予嘗治噤口痢，以藕汁煮熟稍和砂糖頻服，兼進多年陳米稀糜，
調其胃氣必效，即石蓮子之意也，古治噤口痢多有用黃連者，苦而且降，不能升提，
非胃虛所宜，大抵初痢噤口，為熱瘀在胃口，故宜苦燥，若久痢口噤不食，此胃氣告匱，
非此初痢噤口，尚有濁氣可破，積滯可驅，惟大劑參朮，
佐以茯苓甘草藿香木香煨葛之屬，大補胃氣，兼行津液乃可耳，但得胃氣一復，
飲食稍進，便宜獨參湯，略加陳皮，或製香附，緩緩調補，兼行氣滯，方為合劑，
如茯苓之淡滲，木香之耗氣，乾葛之行津，皆當屏除也。</p>
<p>江誠曰，斯論超出乎眾，謂初痢之噤口，宜以苦燥，久則胃虛，必以大劑參朮為君，
苦燥之黃連，又在禁用，此洵為治噤口不易之良法也。</p>
<h4>水穀痢</h4>
<p>水穀痢者，糟粕膿血雜下，腹中微痛，登圊頻頻，飲食少餐，四肢困倦，
脈來細緩無力，或關部兼弦，此因脾胃虛寒，虛則不能健運，寒則不能消化也，
當用緩培卑監法治之，亦有因風木剋土，土虛不運者，宜本法內加白芍防風，
有因勞役過度，脾陽困頓者，加黃耆荷葉，有困下焦無火，不能熟腐者，加故紙吳萸，
有因痢後中虛，飲食停積者，加陳皮查肉，然痢疾總不離乎脾胃為病，或木勝，或火衰，
當按法加減治之，自然應手耳。</p>
<h4>休息痢</h4>
<p>下痢屢發屢止，久而不愈，面色痿黃，脈形濡滑者，為休息痢也，多因止澀太早，
積熱未盡，或不能節飲食，戒嗜好，所以時作時止也，亦有過服寒涼而致者，
肝脾內傷而致者，元氣下陷而致者，腎虛不固而致者，皆當審其因而分治之，
擬用調中暢氣法，俾其氣機得暢，則積熱自清中州得調，則脾胃自復，倘或腹中隱痛，
宜加吳萸姜炭，以化中焦之寒，赤痢纏綿，當佐秦皮白芍，以清肝脾之血，肛門重墜，
更加升麻桔梗，以升下陷之元，虛滑不禁，再入骨脂龍骨，以固下焦之脫，
凡一切之藥，不應手者，當細辨其脈象，若脈沉實，雖日遠仍當攻下，切宜辨確，
勿可誤也。</p>
<h4>五色痢</h4>
<p>金鑑云，五色膿血相雜而下也，若有臟腑屍臭之氣則凶，
因於用止濇太早或因滯熱下之未盡，蘊於腸胃，傷臟氣也，用一切補養之藥不應，
則可知初病非澀之太早，即下之未盡也，診其脈若有力，雖日久仍當攻也。</p>
<p>醫通日，患五色痢者，良由臟腑之氣化并傷，是以五色兼見，然古人皆言腎病，
以腎藏精之室，所居之位，最下最深，深者既病，其淺而上者，安有不病之理，
精室既傷，安能任蟄藏之令乎，仲景以五液注下，臍築痛，命將難全也，
夫以精室受傷，五液不守之患，須知益火消陰，實脾隄水，兼分理其氣，
使失於氣化之積，隨之而下，未失氣化之精，統之而安，誠不出乎此法。</p>
<p>豐安二論，誠痢門之要旨，前言止濇太早，滯熱未盡，後言臟腑之氣化并傷，
歸於腎病，合而論之，斯疾有虛有實，分別治之，庶乎穩妥，如初起者為實，
日久者為虛，裏急後重者為實，頻頻虛坐者為虛，脈實有力者為實，脈虛無力者為虛，
虛則宜補，以補火生土法治之，實則宜瀉，以清痢蕩積法治之。</p>
<h3>擬用諸法</h3>
<h4>培中瀉木法</h4>
<p>治伏氣飧泄洞泄，及風痢。
白朮〔二錢土炒〕、白芍〔一錢土炒〕、陳廣皮〔一錢〕、軟防風〔一錢〕、白茯苓〔三錢〕、
粉甘草〔五分〕、炮薑炭〔八分〕、吳萸〔八分泡〕，加新荷葉一蕞。</p>
<p>朮芍陳防四味，即劉草牕先生治痛瀉之要方，用之為君，以其瀉木而益土也，
佐苓甘培中有力，薑炭煖土多功，更佐吳萸疏其木而止其痛，荷葉升其清而助其脾。</p>
<h4>補火生土法</h4>
<p>治飧泄洞泄，命門無火，久瀉虛痢。
淡附片〔八分〕、肉桂〔六分細剉分沖〕、菟絲子〔一錢〕、破故紙〔一錢〕、
吳茱萸〔八分泡〕、益智仁〔一錢〕、蘇芡實〔二錢〕，加蓮子肉十粒入煎。下焦無火，
不能薰蒸腐化，致瀉完穀，故以桂附辛甘大熱，補命門之火以生脾土，菟絲故紙，
溫補其下，吳萸益智，煖其下復煖其中，中下得其溫煖，
則火土自得相生，而完穀自能消化，更佐芡實蓮子，補其脾且固其腎，益火土生，
脾腎固，而飧泄洞泄無不向愈矣。</p>
<h4>煖培卑監法</h4>
<p>治脾土虛寒泄瀉，及冷痢水穀痢。
西潞黨〔三錢米炒〕、白茯苓〔三錢〕、於潛朮〔二錢土〕、粉甘草〔五分水炙〕、
炮薑炭〔八分〕、茅蒼朮〔六分土炒〕、益智仁〔一錢〕、葛根〔五分煨〕，加粳米一撮煎服。
經云，土不及曰卑監，法中以四君合理中，煖培其脾土也，脾喜燥，故佐以蒼朮，
喜溫佐以益智，喜升佐以葛根，喜甘佐以粳米。</p>
<h4>補中收脫法</h4>
<p>治泄痢不已，氣虛下陷，穀道不合，肛門下脫。
東洋參〔三錢〕、黃耆〔二錢米炒〕、於潛朮〔一錢土炒〕、粉甘草〔五分炙〕、
罌粟殼〔一錢炙〕、白芍藥〔一錢土炒〕、訶黎勒〔一錢五分〕，加石檑皮一錢同煎。
此治瀉痢日久，氣虛脫肛之法也，以參耆朮草之甘溫，補中州以提其陷，
罌芍訶黎之酸濇，止瀉利且斂其肛，用檑皮為引者，亦取其酸以收脫，濇以住利也。</p>
<h4>通利州都法</h4>
<p>治火瀉溼瀉，溼熱痢疾。
白茯苓〔三錢〕、澤瀉〔一錢五分〕、蒼朮〔八分土炒〕、車前子〔二錢〕、通草〔一錢〕、
滑石〔三錢飛〕、苦桔梗〔一錢〕，河水煎服。斯仿舒馳先生加減五苓之意，州都者，
膀胱之官名也，首用茯苓甘淡平和，而通州都為君，澤瀉鹹寒下達，而走膀胱為臣，
佐蒼朮之苦溫，以化其溼，車前通滑之甘淡，以滲其溼，
使桔梗之開提，能通天氣於地道也。</p>
<h4>清涼滌暑法</h4>
<p>治暑溫暑熱，暑瀉秋暑。
滑石〔三錢水飛〕、生甘草〔八分〕、青蒿〔一錢五分〕、白扁豆〔一錢〕、連翹〔三錢去心〕、
白茯苓〔三錢〕、通草〔一錢〕，加西瓜翠衣一片入煎。滑石甘草，即河間之天水散，
以滌其暑熱也，恐其力之不及，故加蒿扁瓜衣以清暑，又恐其干犯乎心，
更佐連翹以清心，夫小暑之節，在乎相火之後，大暑之令在乎溼土之先，
故先賢所謂暑不離溼也，兼用通苓，意在滲溼耳。</p>
<h4>化痰順氣法</h4>
<p>治痰氣閉塞，痰瘧痰瀉。
白茯苓〔四錢〕、製半夏〔二錢〕、陳皮〔一錢五分〕、粉甘草〔八分〕、廣木香〔五分煨〕、
厚朴〔一錢姜製〕，加生薑三片水煎服。法中苓夏陳甘，即局方二陳湯化痰之妥方也，
加木香厚朴，以行其氣，氣得流行，則順而不滯，故古人謂化痰須順氣，氣行痰自消，
且木香厚朴，均能治瀉，以此法治其痰瀉，不亦宜乎。</p>
<h4>查麯平胃法</h4>
<p>治因食作瀉，兼治食瘧。
查肉〔三錢炒〕、神麯〔三錢炒〕、蒼朮〔一錢土炒〕、厚朴〔一錢姜製〕、陳廣皮〔一錢〕、
甘草〔八分〕，加䏶胵二枚為引。法內蒼陳朴草，係局方之平胃散，為消導之要劑，
佐山查健脾磨積，神曲消食住瀉，䏶胵乃雞之脾也，不但能消水穀，而且能治瀉利，
食瀉投之，必然中鵠。</p>
<h4>增損胃苓法〔見卷四第六十九頁〕</h4>
<h4>清痢蕩積法</h4>
<p>治熱痢夾食，脈滑數，煩渴溺赤。
廣木香〔六分煨〕、黃連〔六分吳萸炒〕、生軍〔三錢酒浸〕、枳殼〔一錢五分麩炒〕、
黃芩〔一錢酒炒〕、白芍〔一錢五分酒炒〕、粉甘草〔五分〕、葛根〔五分煨〕，
加鮮荷葉三錢煎服。此法首用香連治痢為主，加軍枳以蕩其積，芩芍以清其血，
甘草解毒，荷葛升提，施於實熱之痢，每多奏效耳。</p>
<h4>溫化溼邪法</h4>
<p>治寒溼釀痢，胸痞溺白。
藿香〔一錢五分〕、蔻殼〔一錢二分〕、神麯〔三錢炒〕、厚朴〔一錢姜製〕、
陳皮〔一錢五分〕、蒼朮〔八分土炒〕，加生薑三片為引。凡溼在表宜宣散，在裏宜滲利，
今在氣分，宜溫藥以化之，藿香蔻殼，宣上中之邪滯神麯厚朴，化脾胃之積溼，
陳皮理其氣分，蒼朮化其溼邪，更佐生薑溫煖其中，中焦通暢無滯，滯下愈矣。</p>
<h4>調中開噤法</h4>
<p>治下痢不食，或嘔不能食，即噤口痢證，
西潞黨〔三錢米炒〕、黃連〔五分薑汁炒〕、製半夏〔一錢五分〕、廣藿香〔一錢〕、
石蓮肉〔三錢〕，加陳廩米一撮煎服。痢成噤口，脾胃俱憊矣，故用潞黨補其中州，
黃連清其餘痢，米夏和中止嘔，藿香醒胃甦脾，石蓮肉開其噤，陳廩米養其胃，
倘絕不欲食者，除去黃連可也。調中暢氣法，治中虛氣滯，休息痢疾，并治脾虧泄瀉。
潞黨參〔三錢米炒〕、於朮〔二錢土炒〕、黃耆〔二錢酒炒〕、炙甘草〔四分〕、
陳廣皮〔一錢〕、腹皮〔一錢五分酒洗〕、廣木香〔三分煨〕，加鮮荷葉三錢為引。
參耆朮草，調補中州，陳腹木香，宣暢氣分，加荷葉助脾胃而升陽氣也。</p>
<p><b>備用成方</b></p>
<h4>草窗痛瀉方</h4>
<p>治腹痛便瀉不止。白朮、白芍、陳皮、防風，水煎服久瀉加升麻。</p>
<h4>胃苓湯〔一名對金飲子〕</h4>
<p>治中暑傷溼，腹痛泄瀉。
豬苓、茯苓、白朮、澤瀉、肉桂、厚朴、蒼朮、陳皮、甘草，水煎服如夾食者可加查肉。</p>
<h4>四神丸</h4>
<p>治脾腎兩虛久瀉。肉果霜、破故紙、五味子、吳萸，用生薑煮棗肉搗丸。</p>
<p>胃關煎</p>
<p>治脾腎虛寒作瀉，甚至久瀉，腹痛不止，冷痢等證。
大熟地、懷山藥、淡乾薑、吳萸、白扁豆、白朮、炙甘草，水煎食遠服。</p>
<p>豐按草窗痛瀉方，主治木乘土位之瀉，胃苓湯，主治溼氣侵脾之瀉，四神丸，
胃關煎，主治脾腎虛寒之瀉，如兩關不調者，或弦有力者，是為土被木乘之象，
濡緩而怠者，是為脾受濕侵之象，細小無力者，或兩尺沉遲者，是為脾腎虛寒之象，
總須辨脈審證而分治之。</p>
<h4>薑茶飲</h4>
<p>治寒熱瘧，及赤白痢。生薑、細茶葉，每味約三錢濃煎服之。</p>
<p>豐按此方，乃東坡居士所製，雖平淡無奇，然用意頗妙，生薑味辛而溫，能解表也，
茶葉甘苦微寒，能清裏也，二味合用，喜無寒熱之偏，功在和解，故能治瘧耳，諺云，
無痰不作瘧，無食不成痢，考薑茶之功，並能消痰消食，所以治瘧猶兼治痢也。</p>
<h4>香連丸</h4>
<p>治下痢赤白，膿血相雜，裏急後重。木香、黃連，醋糊丸米飲下。</p>
<h4>芍藥湯</h4>
<p>治下痢膿血稠粘，腹痛後重。
芍藥、歸尾、黃芩、黃連、木香、檳榔、大黃、甘草、肉桂，
水煎服如痢不減大黃可以加重。</p>
<p>豐按此二方，可治初起之痢，而無外感最宜，若有寒熱外感之見證者，
便推人參敗毒散為第一，歷嘗試之，屢治屢驗，嘉言先生取名逆流挽舟之法，
洵不謬也。</p>
<h4>蒼朮地榆湯</h4>
<p>治脾經受溼，痢疾下血。蒼朮〔泔浸炒〕、地榆〔炒黑〕，照常煎服。</p>
<h4>人參樗皮散</h4>
<p>治臟毒挾熱下血，久痢膿血不止。人參、樗根白皮〔東引者去粗皮醋炙〕，
等分為末米飲或酒調下。</p>
<p>豐按地榆樗皮，皆濇劑也，觀其主治之證，並無裏急後重之字樣，
其治久痢久虛者可知，但有一二實證所彰，濇藥便難孟浪思古人立法，至精至妥，
奈今人不察，隨手用之，未有不殺人者也。</p>
<h4>補中益氣湯</h4>
<p>治煩勞內傷，陽虛自汗，氣陽虛自汗，氣虛不能攝血，久痢久瘧。
人參、黃耆、白朮、炙草、歸身、陳皮、柴胡、升麻，加薑棗煎服。</p>
<h4>真人養藏湯</h4>
<p>治瀉痢日久，虛寒脫肛。人參、白朮、當歸、白芍、罌粟殼〔蜜炙〕、訶子
〔麵裹煨〕、肉豆蔻〔麵裹煨〕、木香、炙甘草、肉桂，煎服藏寒甚加附子一方無當歸。</p>
<h4>肉蓯蓉湯</h4>
<p>治噤口痢，日久不愈，下焦累虛。
肉蓯容〔泡淡〕、附子、人參、薑炭、當歸、白芍〔肉桂湯浸炒〕，
水煎緩緩服胃稍開再服。豐按此三方，惟東垣補中益氣獨超，每遇脾氣虛陷而作痢者，
用之屢效，謙甫真人養藏，治氣血兩傷之久痢，鞠通肉蓯蓉湯，治肝腎兩虛之久痢，
用之偶亦並效，但餘氣未清，正氣未虛，皆不宜輕試。</p>
<h3>臨證治案</h3>
<h4>飧泄誤為食瀉</h4>
<p>城南程某，平素略知醫理，於立夏後一日，腹痛而瀉，完穀不化，自疑日昨因餅所傷，
又執治瀉利小便之說，輒用五苓加消食之品，未效，來邀豐診，診得兩關，一強一弱，
氣口之脈不緊，乃曰非傷食也，是飧泄也，此因伏氣致病，即內經所謂春傷於風，
夏生飧泄之候，消食利溼，益使中虛，理當扶土瀉木，
即用理中湯加黃芩白芍煨葛防風，連服三煎遂愈。</p>
<h4>飧泄之病熱補得瘳</h4>
<p>羊城雷某，患瀉無度，肌肉忽脫，脈兩關並弦，豐曰，未瀉之先，腹必鳴痛，
痛必便瀉，瀉必完穀，曰，然也，不知病在何經，曰，此肝風傳脾，脾受其制，
不能變化，內經名為飧泄，後賢稱為胃風，見豐論證確切，即請撰方，
乃劉草窗痛瀉要方，加吳萸益智煨葛不香荷葉為引，服一劑，未臻大效，
再加參耆姜附，方服一煎，遂得小效，繼服忽全瘥矣。</p>
<h4>洞泄之痾虛實兼治得效</h4>
<p>若耶倪某，患瀉不瘳，來延豐治，閱前方，乃批暴注下迫，皆屬於熱，
用芩連蘆葛等藥，未獲中機，脈之，神門小弱，餘皆弦緩，舌色少榮，苔白而薄，
直傾無度，腹痛溺黃，就二便而論，似屬火瀉，就脈舌而論，大為不然，
思內經謂腎脈小甚為洞泄，明是先天素弱，伏氣深陷之徵，餘部弦緩，腹痛頻頻，
木乘土位之候，溺黃者，夾濕也，此證虛中兼實，當補先後二天，兼以平肝滲溼，
病者素諳醫理，聞言嘆服，
遂用於朮黨參菟絲故紙防風白芍澤瀉雲苓煨葛木香荷葉為引，一日一劑，連服五朝，
痛瀉並愈。</p>
<h4>便瀉剛逢經轉</h4>
<p>雲岫葉某之女，於長夏之令，忽發熱便瀉，前醫用五散，略見中機，月事行來，
加之歸芍，詎知其瀉復甚，益加腹痛難禁，脈象右勝于左，此暑溼之邪，在乎氣分，
氣機閉塞，不但邪不透化，抑且經被其阻，即以溫化溼邪法加木香香附蘇梗延胡，
連進三煎，經行瀉止身熱亦退矣。</p>
<p>程曦曰，溼在氣分，本當暢氣以透濕，經事當期，最宜順氣以經理氣之方，
一舉兩得矣。</p>
<h4>傷食作瀉</h4>
<p>檇李張某，年逾五旬，素來痰體，一日赴宴而歸，腹痛而瀉，邀豐診之，
右關獨見弦緊，噯氣頻作，乃曰此屬䅽飥之邪，團結於中，脾氣當升不升而瀉作，
胃氣宜降失降而噯頻，當遵薛立齋治劉進士用六君加木香之法，更佐山查枳椇子，
服二劑腹痛已止，但瀉未住，復診，更加蒼朮厚朴，再服二劑方得全瘥。</p>
<h4>小產之後偶沾風痢</h4>
<p>豫章鄧某之室，小產後計有一旬，偶沾風痢之疾，前醫未曾細辨，以腹痛為瘀滯，
以赤痢為腸紅，乃用生化湯，加槐米地榆艾葉黃芩等，藥服下未效，來迎豐診，脈之，
兩關俱弦詰之，胎未墮之先，先有便瀉，瀉愈便血，腹內時疼，肛門作墜，豐曰，
此風痢也，良由伏氣而發，亦用生化湯除去桃仁，加芥炭防風木香焦芍，敗醬草為引，
服二帖赤痢已瘳，依然轉瀉，思以立有云，痢是閉塞之象，瀉是疏通之象，
今痢轉為泄瀉，是閉塞轉為疏通，係愈機也，照舊方除去防風敗醬，益以大腹陳皮，
繼服二貼，諸恙屏去矣。</p>
<h4>風痢病一誤再誤</h4>
<p>城東孔某之子，放學歸來，腹中作痛，下利清血，其父母疑為傷損，遂服草藥，
應效全無，始迎豐診，脈象緩怠而小，右關獨見弦強，豐曰，非傷損也，
是屬春傷於風，夏生腸澼之候也，腸澼雖古痢之名，然與秋痢治法有別，痢門成方，
弗宜膠守，即用培中瀉木法去炮薑，加黃連治之，服下未有進退，更醫調治，
便云血痢，所用皆是止濇之藥，血雖減少，而腹痛尤增，甚則四肢厥冷，
仍來商治於豐，診其脈，往來遲滯，右關依舊弦強，此中土虛寒，被木所淩之象，
總宜溫補其脾，清平其肝，用煖培卑監法加黃連川棟，服之腹痛頓止，手足漸溫，
惟下紅未愈，照前法除去炮薑智楝，加芥炭木香枯芩艾葉，令嘗五劑，喜中病機，
復用補中益氣，方穫全安。</p>
<h4>赤痢亦有屬寒溫補得愈</h4>
<p>古黔黃某之母，望六之年，忽患痢疾，曾延醫治未應，治來邀豐，閱前醫之方，
係潔古芍藥湯加減，詢其痢狀，腹痛即墜，墜則欲便，下痢皆赤，按其脈，
右部緩怠而遲，左部細小而濇，舌無榮，苔白薄，豐曰，此脾土虛寒，寒溼竊據，
陰絡之血，得寒而凝，凝則氣機不行，清氣不升而陷，所以有腹痛後墜赤痢等證，
即進補中益氣加炮薑附片，令服二帖，遂中病矣，後用皆參耆朮附為君，
約半月而愈。</p>
<p>程曦曰，此案用薑附參耆，以收全效，益信王海藏謂血為寒氣所凝，
用熱藥其血自止之訓，今之醫者，一見赤痢，非投涼血之方，即需清溼之藥，
嘗見輕淺之病，誤治轉重者眾矣。</p>
<h4>瘧痢兩作</h4>
<p>雲岫錢某，忽因冒雨，當夜遂發寒熱，頭身並疼，吾衢土俗，怕有齷齪所染，
即以揪刮當先，第三朝始延醫治，醫見寒熱交作，遂以小柴胡湯加消食之品，
不但未效，更增面浮痛痢，合家驚駭，來迓豐醫，脈形浮緩兼弦，舌苔白澤，
此風濕由表入裏，虐痢兩兼之候也，當用嘉言先生逆流挽舟之法，加木香荷葉治之，
服二劑寒熱頓除，痛痢並減矣。</p>
<h4>痢下純血死證</h4>
<p>城中鄭某，赴杭鄉試，未入關時，忽患痢疾，即歸桑梓，遂延醫療，未獲應手，
始來商治於豐，脈之兩尺俱虛，餘皆濡數，形體尪羸，舌光如鏡，眠食俱廢，
痢下純血，泄出不禁，豐曰，此陰分被溼所傷，斯時利溼，益傷其陰，補陰恐礙乎溼，
正躊躇間，其父出前醫之方，閱之，乃補中兼濇，思其喫大癮之煙，貪非分之色，
其真陰未始不耗損者，前醫補濇並用，似不冰炭，豊亦從本調治，勉以乾地阿膠，
養其真陰，丹皮白芍，清其血分，禹糧赤石，止痢固脫，銀花甘草，養血解毒，
生苡茯苓，扶其脾而滲其溼，東參荷葉，挽其正而升其清，方已寫竣，謂其父曰，
書謂下純血者死，速當早訪高明，後延他醫治之，未及一旬而歿。</p>
<h4>實熱痢疾止濇太早用下得瘥</h4>
<p>安徽蘇某之姪，由遠方來，途中感受暑熱，即病煩熱口渴，渴欲引飲，醫謂陽暑，
用白虎湯為君，服之熱退，腹內轉疼，更醫治之，遂駁用涼之謬，謂涼則凝滯，
將來必變為痢也，用平胃散加薑附吳萸，腹痛未除，果變為痢，其叔深信如神，
復邀診視，詎知乃醫固執不化，詢得病者不思穀食，遂稱為噤口痢也，
守原方益以石蓮訶子，服後痢雖減少，然腹痛益劇，呌號不己，一家驚惶無策，
著人來迓於豐，其叔令閱前方，并述病狀，按其脈，數大而強，舌苔黃燥，腹痛拒按，
口渴喜涼，豐曰，令姪氣血方剛之體，患此暑熱夾食之痾，而成燥實之候，
非攻下猛劑，不能望瘳，用生軍只實花粉元明黃連荷葉，請服一煎，
當夜遂下赤白夾雜，稠黏而臭，又得硬屎數枚，腹痛方定，神氣疲倦，就枕即熟寐矣，
次日用調中和劑，服十餘帖而安。</p>
<h4>高年噤口痢疾</h4>
<p>城北李某，望八高年素來瞿鑠，秋間忽患痢疾，即延醫療，藥石無功，邀豐診之，
脈形小緩而怠，痢下赤白，嘔逆頻來，日內全不思食，豐曰，此脾胃虛弱，
不能化溼消導，壅滯胃口，而成噤口痢也，即用六君佐以查肉藿香石蓮倉米，黃土漿煎，
服一劑嘔逆己甯，仍不思食，登圊無度，痢不甚多，脈象相符，較昨乏力，
明是脾氣虛陷之象，倘見病治病，不顧其本，虛脫必難保也，
改用補中益氣去當歸柴胡，加煨葛石蓮穀芽倉米，令服一帖，中機再服，
幸喜病藥相投，覺思飲食，但發浮腫，舉家驚惶，來邀復診，脈轉遲細而濇，
舌淡苔白，豐曰，斯是脾虛發腫，非五皮淡滲等藥所可用也，
宜以附子理中湯加酒炒黃耆生米仁二味，疊進五劑，浮腫漸消，痢疾亦減，仍率舊章，
略為增損，調治匝月而愈。</p>
<h4>痢久脾腎兩虛</h4>
<p>城東鄭某之母，患痢兩月來，大勢己衰，但頻頻虛坐，有時糟粕膿血相雜而下，
合郡諸醫，延之殆盡，仍邀豐診，脈小而濇，兩尺糢糊，豐曰，凡治病有先後緩急，
初起之時，邪勢方盛，故用宣散消導之方，今牽延六十餘朝，而脾腎並累虧損者，
理當進煖補二天之法，弗謂豐前後之方，相去霄壤，
乃用四君四神加銀花炭炒陳米治之，服三劑，痢已減矣，惟兩足加之浮腫，
此必因溼從下注，再循舊法，加生薏苡巴戟天，連嘗五劑，逐漸而痊。</p>
<h4>休息痢誤認腸風</h4>
<p>豫章羅某，痢後下紅，淹綿數月，比余診之，脈來弦小而濇，肛門虛墜，神倦懶餐，
此餘溼未罄，肝脾內傷，而成休息痢也，前醫不辨，乃作腸風治之，投以槐角地榆，
焉望入殼，豊以銀花白芍，育血養肝，潞黨黃耆，補脾益氣，薏苡滲其餘溼，
秦皮其餘痢，穀牙甦胃，荷葉升清，連進四五煎，赤痢漸少矣，後循舊法出入，
約十餘劑而瘳。</p>
<p>或問曰，曾見準繩論腸風，腹中有痛，所下清血純血，與是痢相似，最易魚目混珠，
不識何以別之，答曰，極易別也，休息痢，因痢而起也，腸風病，因外風內客，
隨感隨見也。</p>
<h4>陰虛之體患五痢</h4>
<p>鄂渚佘某之甥，患痢兩月餘矣，憔悴不堪，夜不成寐，渴飲不食，脈數苔無，
取觀所下之痢，五色雜見，豐曰，此五色痢也，凶症耳，佘某頗諳醫藥，即告之曰，
甥體素係陰虧，今痢久纏，真陰益加虛損，先生謂五色痢，究係溫熱未盡耶，
抑亦真陰有損耶，豐曰，石頑有云，痢下五色，膿血稠粘，滑洩無度，多屬陰虛，
今此證分明久痢傷腎，下焦不攝，即先哲所謂陰虛痢是也，斯時即有溼證所彰，
亦不能投之滲利，當用銀花生地白芍黃芩，四者均炒為炭阿膠炒珠，山藥炒黃，
與陳皮石蓮，合為一劑連嘗三四服，遂中肯矣，登圊略減數遭，惟口渴寐少，
脈轉小數，欠力欠神，此氣血津液，皆虧損也，照前方除去枯芩，加入東參炙艸夜交籐，
服數劑更為合拍，後用六味合四君為主，調治月餘，始得痊可</p>
<p>或問曰，先生謂五色痢，即陰虛痢也，嘗見古書之中，不惟有陰虛痢之名，
且有虛滑食積氣滯瘀血蟯蟲疰等痢之名，今概而不論，毋乃太簡乎，答曰，實慮其繁，
故就其簡，今既問及，姑略言之，蓋虛滑痢虛而滑脫，法當補濇，食積痢，因食所積，
法當消導，氣滯痢，因氣所滯，法當調氣，瘀血痢，因血所瘀，法當行血，蟯蟲痢，
因胃弱腸虛，細蟲從穀道而出，法當殺蟲，蟲疰痢，因服金石湯丸，逼損真陰，
痢下黑色，形如豬肝，為難治也，以上等病，聊述其概，
其實風寒熱溼噤口水縠休息五色等痢為多，學者得能細玩，餘痢無難治耳，又問曰，
秋痢之證，致死者多，何謂無難答曰，不犯者死也，犯者死也，曰，死證何，曰，
下純血者，如塵腐色者，如屋漏水者，厥逆冷汗者，呃逆不止者，身熱不除者，
噤口不食，藥不能開者，驟然能食為除中者，皆死證也，又有如赤豆汁者，
唇若塗硃者，大孔如竹筒注者，皆不可治也，又有如魚腦者，如豬肝色者，身熱脈大者，
皆半生半死也，用藥得法，間有生者，不可棄而不治也。</p>
<h2>時病論卷之四</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衢雷豐少逸手著</p>
<p>受業〔新安程曦錦雯盈川江誠抱一〕恭訂</p>
<h3>夏傷於暑大意</h3>
<p>夏傷於暑者，謂季夏小暑之令，傷於暑也，其時天暑地熱，人在其中，
感之皆稱暑病，夫暑邪襲人，有傷暑冒暑中暑之分，且有暑風暑溫暑咳暑瘵之異，
傷暑者，靜而得之為傷陰暑，動而得之為傷陽暑，冒暑者，較傷暑為輕，
不過邪冒肌表而已，中暑者，即中暍也，忽然卒倒，如中風狀，暑風者，須臾昏倒，
手足遂抽，暑溫者，較陽暑略為輕可，暑咳者，暑熱襲肺而咳逆，暑瘵者，
暑熱劫絡而吐血，又有霍亂之證，因暑氣夾風寒溼食擾於中，痧氣之證，因南方體弱，
偶犯沙穢之氣，穢濁之證，因暑氣夾穢而襲人，即俗稱為齷齪也，
此皆季夏由暑氣所傷之證也，更有春末夏初之疰夏，孟夏之熱病，仲夏之霉溼，
亦當論治，蓋疰夏者，入霉之後，梅雨淫淋，感其雨溼之氣為病，斯三者，附論於茲，
則夏令之病，皆全備矣。</p>
<h4>傷暑</h4>
<p>長夏傷暑，有陰陽之別焉，夫陰暑之為病，因於天氣炎蒸納涼於深堂大廈，
大扇風車得之者，是靜而得之之陰證也，其脈浮弦有力，或浮緊，頭痛惡寒，
身形拘急，肢節疼痛而心煩，肌膚大熱而無汗，此為陰寒所逼，使周身陽氣不得伸越，
宜用辛溫解表治減去防風，益以香薷藿香治之，嘔逆加茯苓半夏，便瀉加厚朴木香，
又有陽暑之病，緣於行旅長途，務農田野，烈日下逼得之者，是動而得之之陽證也，
其脈浮洪有力，或洪數，面垢喘咳，壯熱心煩，口渴欲飲，蒸蒸自汗，此為炎熱所蒸，
使周身中外皆熱，宜以清涼滌暑法去扁豆通草，加石膏洋參治之，嘔逆加竹茹黃連，
便瀉加葛根荷葉，更宜審其體實體虛而藥之，自無不當耳。</p>
<p>張介賓曰，陰暑證，或在於表，或在於裏，惟富貴安逸之人多有之，總由恣情任性，
不慎風寒所致也，陽暑證，惟辛苦勞役之人多有之，由乎觸冒暑熱，有勢所不容已也，
然暑熱逼人者，畏而可避，可避則犯之者少，陰寒襲人者，快而莫知，
莫知則犯之者多，故凡有病暑者，陽暑多不見，而陰暑居其八九，今之人治暑者，
但見發熱頭痛等證，則必曰此中暑也，而所用無非寒涼，其不達也亦甚矣。江誠曰，
介賓先生謂陰暑多於陽暑，最為確切，今人治暑不別陰陽，一見發燒，遂投涼藥，
若此貿貿，則害人匪淺矣。</p>
<h4>冒暑</h4>
<p>冒暑者，偶然感冒暑邪，較傷暑之證，稍為輕淺耳，夫暑熱之邪，初冒於肌表者，
即有頭暈寒熱汗出咳嗽等證，宜以清涼滌暑法加杏仁蔞殼治之，其證雖較傷暑為輕，
然失治入裏，此又不可以不知也，如入於肉分者，則周身煩躁，頭脹體燒，
或身如針刺或有赤腫等證，以袪暑解毒法治之，如入於腸胃者，則有腹痛水瀉，
小便短赤，口渴欲飲，嘔逆等證，宜以增損胃苓法佐黃連治之，然冒暑之證，
雖謂為輕，亦必須防微杜漸耳。</p>
<h4>中暑〔即中暍附暑厥〕</h4>
<p>潔古曰，靜而得之為中暑，東垣曰，避暑乘涼得之者，名曰中暑，其實二說，
皆是陰暑之證，而無中字情形，似不可以中暑名之，考中暑即係中暍，中暍之證，
可以不必另分，蓋中暑忽然而發，如矢石之中人也，不似傷暑初則寒熱無汗，
或壯熱蒸汗之可比，是病忽然悶倒，昏不知人，軀熱汗微，氣喘不語，牙關微緊，
亦或口開，狀若中風，但無口眼喎斜之別，其脈洪濡，或滑而數，緣其人不辭勞苦，
赤日中行，酷暑之氣，鼓動其痰，痰阻心包所致，宜清暑開痰法治之，如果手足厥冷，
名曰暑厥，宜蘇合香丸化開灌之，或以來復丹研末白湯灌之，或以蒜水灌之，
或剝蒜肉入鼻中，皆取其通竅也，俟其人事稍甦，繼進卻暑調元法為治。</p>
<h4>暑風</h4>
<p>暑風之病，良由暑熱極盛，金被火刑，木無所畏，則風從內而生，
此與外感風邪之治法，相懸霄壤，若誤汗之，變證百出矣，夫木既化乎風，
而脾土未嘗不受其所制者，是以卒然昏倒，四肢搐搦，內擾神舍，志識不清，
脈多弦勁或洪大，或滑數，總當去時令之火，火去則金自清，而木自平，
兼開鬱悶之痰，痰開則神自安，而氣自甯也，擬用清離定巽法佐以鬱金川貝治之，
倘有角弓反張，牙關緊閉者，宜加犀角羚羊，痰塞喉間有聲者，宜加膽星，天竺，
服藥之後依然昏憒者，宜加遠志，菖蒲，然而證候至，此亦難治矣。</p>
<h4>暑溫</h4>
<p>考暑溫之證，較陽暑略為輕可，吳淮陰曰溫者熱之漸，熱乃溫之極也，其名暑溫，
比暑熱為輕者，不待言矣，在醫者務宜留心慎藥，弗使，溫盛成熱耳，
夫暑溫之初病也，右脈勝於左部，或洪或數，舌苔微白，或黃而潤，身熱有汗，
或口渴，或咳嗽，此邪在上焦氣分，當用清涼滌暑法加杏仁蔞殼治之，
倘汗少而有微寒，或有頭痛者，宜透肌膚之冒，於本法內去扁豆瓜翠，
加藿香香薷治之，如口不渴者，乃兼溼也，加米仁半夏治之，如舌苔黃燥，渴欲喜飲，
宜清胃家之熱，用涼解裏熱法治之，如舌苔光絳，傷於陰也，
宜用清熱保津法加西洋參北沙參元參治之，總當細究其因，或夾冒，或夾溼，或胃熱，
或陰傷按證而分治之，未有不向愈者。</p>
<h4>暑咳</h4>
<p>暑咳之為病，獨在暑月也，良由暑熱下逼，先傷乎上，夫五臟之位，惟肺最高，
為諸臟之華益，暑熱襲之，肺經先病者，固無論矣，且暑中有火，肺體屬金，
火未有不剋金者也，其脈濡滑而數，兩寸有力而強，咳逆乏痰，即有亦少，
或身熱口渴，或胸悶脅疼，此皆暑熱入肺之脈證也，宜用清宣金臟法加滑石甘草治之，
如痰多者，不因暑而因溼，不名咳而名嗽，不在肺而在脾，不用清而用溫，
果因痰而致嗽者，宜用加味二陳法治之，倘不細辨，以暑為溼，誤用溫藥，
擾動其絡，絡中血沸，而成吐血之痾，然則宜用卻暑調元法去東參半夏，
加杏仁花粉旱蓮生地治之，大概總宜清暑保金，庶不至蔓延虛損耳。</p>
<h4>暑瘵</h4>
<p>暑瘵者，驟然吐血，頭目不清，煩熱口渴，咳嗽氣喘，脈象浮取則洪，中取則空，
沉取復有，此因盛夏之月，相火用事，火爍肺金，復燃陽絡，絡血上溢所致，
昧者以為癆瘵，殊不知火載血上，非真陰虧損而為虛癆者比也，當清暑熱以保肺，
清絡熱以止血，如初起體實者，宜以清宣金臟法加枯芩黑梔治之，體弱者，
宜以卻暑調元法去石膏半夏粳米，加鮮地鮮斛鮮藕節治之，如未止，
再加丹皮旱蓮草可也，雖非癆瘵之病，但失血有潮熱咳嗽之證，小數之脈，
其陰分不虧亦虧，又當以甘鹹養陰法治之，倘蹉跎失治，傷及真陰，遂難療矣。</p>
<h4>霍亂</h4>
<p>霍亂之證，在夏秋為多，得之於風寒暑熱，飲食生冷之邪，雜揉交病於中，
正不能堪，一任邪之揮霍撩亂，故令三焦混淆，清濁相干，亂於腸胃也，其證嘔吐瀉利，
腹中大痛，脈多微濇，或沉而伏，或大而虛，其風甚者，則頭痛寒熱，寒甚者，
則轉筋厥冷，暑甚者，則大渴引飲，邪在上焦則吐多，下焦則瀉多，中焦則吐瀉俱甚，
總宜治亂保安法加減主之，風甚加蘇葉橘紅，寒甚加草蔻木瓜，暑甚加蘆根竹茹，
吐多加黃連乾薑，瀉多加葛根荷葉，倘吐瀉不己，損傷中焦之氣以致陰陽間隔，
手足厥冷，脈微欲絕，不多飲水者，無分風寒暑熱，急以挽正回陽法救之，
若欲吐不吐，欲瀉不瀉，名曰乾霍亂也，又名絞腸痧也，急用古方炒鹽調童便，
服之探吐則愈，若舌卷筋縮，卵陰入腹為難治，大率霍亂之脈，洪大而滑者生，
微濇漸遲者死。</p>
<h4>痧氣</h4>
<p>南方之人，體氣不實，偶觸糞土沙穢之氣，即腹痛悶亂，名之曰痧，即沙字之訛也，
蓋痧在皮膚氣分者，宜刮之，在肌肉血分者，宜刺之，此輕而淺者言也，
若深重者脹塞腸胃，壅阻經絡，直犯乎心，斯須莫救，刮刺無功，非藥劑不能救也，
須知痧無定脈，凡脈與證不應者，即為痧脈也，其見證不可不分，如風痧者，
頭疼自汗，腹痛肢麻，暑痧者，頭暈汗多，吐瀉腹痛，陰痧者，腹痛肢冷，即涼痧也，
陽痧者，腹痛肢煖，即熱痧也，又有膚隱紅點，一如（病昔）疹，此痧在肌表，
為紅痧也，滿身脹痛，且有黑斑，此痧毒在乎臟腑，為烏痧也，欲吐不吐，欲瀉不瀉，
心腹大痛，為絞腸痧也，痧之為病，不盡六氣所觸，或因飢飽勞役，或因穢濁所犯，
皆可成痧，總宜芳香化濁法治之，法內有半夏藿香，慎勿信俗醫為痧病中之禁藥也，
風痧加荊芥防風，暑痧加滑石木瓜，陰痧加豆蔻砂仁，陽痧加連翹梔子，
紅痧加牛旁薄荷，烏痧加檳榔枳殼，悶痧加細辛桔梗，絞腸痧加檀香烏藥，
倘其勢急不及進湯藥者，先以痧疫回春丹治之。</p>
<h4>穢濁</h4>
<p>穢濁者，即俗稱為齷齪也，是證多發於夏秋之間，良由天暑下逼，地溼上騰，
暑溼交蒸，更兼穢濁之氣，交溷於內，人受之，由口鼻而入，直犯暮原，
初起頭痛而脹，胸脘痞悶，膚熱有汗，頻欲惡心，右脈滯鈍者是也，然有暑溼之分，
不可以不察也，如偏於暑者，舌苔黃色，口渴心煩，為暑穢也，偏於溼者，苔白而膩，
口不作渴，為溼穢也，均宜芳香化濁法治之，暑穢加滑石甘草，溼穢加神麯茅蒼，
吾衢見穢濁之證，便禁藥餌，惟以揪刮當先，殊一知禁滋膩呆滯之藥，
如地歸沙參等味是也，芳香氣分之品又何害乎，倘執禁藥之說，每見其輕證轉重，
重證轉危誤人性命，不可勝數，悲哉悲哉。</p>
<h4>疰夏</h4>
<p>疰夏者，每逢春夏之交，日長暴煖，忽然眩暈頭疼身倦腳軟，體熱食少，頻欲呵欠，
心煩自汗是也，蓋緣，三月屬辰土，四月屬巳火，五月屬午火，
火土交旺之候，金水未有不衰，夫金衰不能制木，木動則生內風，故有眩暈頭疼，
金為土之子，子虛則盜母氣，脾神困頓，故有身倦足軟，體熱食少，又水衰者，
不能上濟乎心，故有頻欲呵欠，心煩自汗等證，此皆時令之火為患，
非春夏溫熱之為病也，蔓延失治，必成癆怯之根，宜以金水相生法治之，如眩暈甚者，
加菊花桑葉，頭痛甚者，加佩蘭荷錢，疲倦身熱，加潞黨川斛，心煩多汗，
加浮麥蓮子，加減得法，奏效更捷耳。</p>
<h4>熱病</h4>
<p>金鑑云，經曰冬傷於寒，春必病溫，至夏為熱病，熱病者，乃冬傷正令之微寒，
未即病也，倪氏謂交立夏以來，久伏之氣，隨時令之熱而觸發，故初病即發熱汗出，
口渴心煩，不惡寒而反惡熱，脈來洪大之象，是為熱病也，醫通曰，邪非外來，
故但熱不惡寒，熱自內發，故口燥渴而多引飲，其邪既鬱為熱，不得復言為寒，
合而觀之，熱因伏氣者了然，然較晚發更發於晚，比諸溫更伏於深，初起之時，
宜用清涼透邪法，熱勢不衰，繼用清涼蕩熱法，倘有惡寒相兼，脈象舉取浮緊，
是有夏時暴寒所加，寒外而熱在裏，先用辛溫解表法，以透其外，外邪得透，
再用清涼之劑，以蕩其裏熱也，設無浮緊之脈，又無惡寒之證，誤用辛溫之方，
耗傷津液者，宜用清熱保津法加西洋參石膏治之，倘或兼之惡風，微微汗出，
脈象舉取浮緩，此表有風邪所加，風在外而熱在裏，當用辛涼解表法，先解其外也，
至於舌苔化燥，譫語昏狂，急用清涼蕩熱法加紫雪丹治之，發斑者，加蓮連梔子，
發疹者，加荷葉牛旁，須知熱病最易傷陰，當刻刻保陰為要，辛溫劫液之劑，
勿浪用也。</p>
<h4>霉溼</h4>
<p>霉溼之為病，在乎五月也，芒種之後，逢丙入霉，霉與梅通，其時梅熟黃落，
乍兩乍晴，天之日下逼，地之溼上蒸，萬物感其氣則霉，人感其氣則病，
以其氣從口鼻而入，即犯上中二焦，以致胸痞腹悶，身熱有汗，時欲惡心，
右脈極鈍之象，舌苔白滑，以上皆霉溼之濁氣，壅遏上中氣分之證，非香燥之劑，
不能破也，擬以芳香化濁法，俾其氣機開暢，則上中之邪，不散而自解也，
倘或連朝風雨，人冒之者，即患身痛腰疼，惡寒發熱，此邪由太陽之表，
而入於少陰之裏，即內經所謂雨氣通於腎也，宜乎表裏兩解，擬以二活同祛法，
倘兼腹痛泄瀉，再加煨葛木香治之。</p>
<p>或問曰，溼土之令，始於大暑，終於白露，今論霉溼在乎芒種之後，夏至節中，
斯時相火司令，不論火而論溼，得非矛盾乎，答曰，溼土之令，在於夏未秋前，
蓋按內經六氣之主政也，然而土寄於之末四時皆有溼病，總當因時制宜，
不必拘於常例，即如春日陽和，夏日炎熱，秋日燥烈，冬日溫煖，何溼之有，
惟其春雨瀟瀟，夏雨淋淋，秋雨霏霏，冬雨紛紛，人感之者，皆為溼病，
今專論霉溼在乎五月，以其乍雨乍晴，溼中有熱，熱中有溼，與諸溼之病頗異，
故列霉溼一門。</p>
<h3>擬用諸法</h3>
<h4>辛溫解表法〔見卷一第十頁〕</h4>
<h4>清涼滌暑法〔見卷三第四十九頁〕</h4>
<h4>祛暑解毒法</h4>
<p>治暑毒煩熱赤腫，身如針刺。
茯苓〔三錢〕、製半夏〔一錢五分〕、滑石〔三錢水飛〕、粉甘草〔五分〕、參葉〔六分〕、
黃連〔八分〕、銀花〔三錢〕、連翹〔三錢去心〕，加菉豆衣三錢煎服。凡暑熱成毒者，
此法最宜，苓夏偕甘，即海藏消暑方也，滑石偕甘，即河間清暑方也，
更佐參葉以郤暑，黃連以清心，銀翹菉豆以解毒也。</p>
<h4>增損胃苓法</h4>
<p>治暑溼內襲，腹病水瀉，小便熱赤。蒼朮〔一錢米泔炒〕，厚朴〔一錢姜汁炒〕，
廣陳皮〔一錢五分〕，豬苓〔一錢五分〕，白茯苓〔三錢〕，澤瀉〔一錢五分〕，
滑石〔三錢水飛〕，藿香〔一錢五分〕，水煎溫服。蒼朴陳皮以化溼，即平胃散損甘草也，
二苓澤瀉以利溼，即五苓散損桂朮也，增滑石清暑滲溼，增藿香止瀉和中，
凡因暑溼而致瀉者，是法最為拍合耳。</p>
<h4>清暑開痰法</h4>
<p>治中暑神昏不語，身熱汗微，氣喘等證。黃連〔一錢二分〕，香薷〔一錢〕，
扁豆衣〔三錢〕，厚朴〔一錢姜汁炒〕，杏仁〔二錢去尖研〕，陳皮〔一錢五分〕，
製夏〔一錢五分〕，益元散〔三錢入煎〕，加荷葉梗七寸為引，汗多除去香需。連薷扁朴，
清熱祛暑，杏仁陳夏，順氣開痰，益元散，清暑甯心，荷葉梗，透邪宣竅。</p>
<h4>卻暑調元法</h4>
<p>治暑熱盛極，元氣受傷。石膏〔四錢煨〕，滑石〔三錢飛〕，白茯苓〔三錢〕，
製半夏〔一錢〕，東洋人參〔二錢或用西洋人參〕，門冬〔二錢去心〕，粉甘草〔六分〕，
加粳米一撮為引。石膏滑石卻暑瀉火為君，茯苓半夏消暑調中為臣，暑熱刑金，
故以人參麥冬保肺為佐，暑熱傷氣，故以共草粳米調元為使。</p>
<h4>清離定巽法</h4>
<p>治昏倒抽搐，熱極生風之證。連翹〔三錢去心〕，竹葉〔一錢五分〕，細生地〔四錢〕，
元參〔三錢〕，甘菊花〔一錢〕，冬桑葉〔三錢〕，鉤籐鉤〔四錢〕，宣木瓜〔一錢〕，
井華水煎服。此法治熱極生之證，故用連翹竹葉，以清其熱，熱甚必傷陰，
故用細地元參，以保其陰，菊花桑葉，平其木而定肝風，鉤籐木瓜，舒其筋而甯抽搐，
大易以離為火，以巽為風，今日清離定巽，即清火定風之謂也。</p>
<h4>涼解裏熱法〔見卷一第十頁〕</h4>
<h4>清熱保津法〔見卷一第十二頁〕</h4>
<h4>清宣金臟法</h4>
<p>治熱爍肺金，咳逆胸悶，身體發熱。牛旁子〔一錢五分〕，川貝母〔二錢去心〕，
馬兜鈴〔一錢〕，杏仁〔二錢去皮尖研〕，陳瓜蔞殼〔三錢〕，桔梗〔一錢五分〕，
冬桑葉〔三錢〕，加枇杷葉三錢去毛蜜炙為引。夏日炎暑，火旺剋金，宜乎清熱宣氣，
保其金藏，法中旁貝兜鈴，清其肺熱，杏蔞桔梗，宣其肺氣，夫人身之氣，肝從左升，
肺從右降，今肺被暑熱所爍，而無降氣之能，反上逆而為咳矣，故佐桑葉以平其肝，
弗令左升太過，杷葉以降其肺，俾其右降自然，升降如常，則咳逆自安謐矣。</p>
<h4>加味二陳法〔見卷七第一二七頁〕</h4>
<h4>甘鹹養陰法</h4>
<p>治熱傷血終，損及陰分，潮熱咳嗽。大乾地〔四錢〕，龜版〔三錢炙〕，
阿膠〔二錢另燉沖〕，旱蓮草〔三錢〕，女貞子〔二錢〕，牡丹皮〔一錢五分〕，
加淡菜三錢井水煎服。法中乾地甘寒，龜版鹹寒，皆養陰之要藥，阿膠甘平，
淡菜鹹溫，並治血之佳珍，旱蓮甘寒，汁黑屬腎，女貞甘涼，隆冬不凋，
僉能補益腎陰，佐以丹皮之苦清血中之伏火，火得平靜，則潮熱咳血均愈矣。</p>
<h4>治亂保安法</h4>
<p>治夏秋之間，霍亂吐瀉，腹中絞痛。廣藿香〔一錢五分〕，台烏藥〔一錢〕，
廣木香〔五分〕，製半夏〔一錢〕，白茯苓〔三錢〕，茅蒼朮〔八分米泔浸炒〕，
陽春砂仁〔八分研沖〕，加伏龍肝三錢水煎服。邪擾中州，揮霍撩亂，宜此法也，
首用藿香烏木，行氣分以治其亂，夏苓蒼朮，袪暑溼以保其中，更佐砂仁和其脾，
伏龍安其胃，此猶兵法勦撫兼施之意。</p>
<h4>挽正回陽法</h4>
<p>治中寒腹痛，吐瀉肢冷，或昏不知人，脈微欲絕。東洋參〔三錢米炒〕，
白茯苓〔三錢〕，於潛朮〔一錢土炒〕，粉甘草〔五分炙〕，安桂〔八分細剉分沖〕，
淡附片〔八分〕，炮薑炭〔六分〕，吳茱萸〔八分泡淡〕，頭服略煎次服濃煎。
是法即陶節菴回陽救急湯，除陳夏五味也，蓋以參苓朮草挽其正，炮薑桂附回其陽，
更佐吳茱萸，破中下之陰寒，陰寒一破，有若撥開雲霧，而見天與日也。</p>
<h4>芳香化濁法</h4>
<p>治五月霉溼，并治穢濁之氣。藿香葉〔一錢〕，佩蘭葉〔一錢〕，陳廣皮〔一錢五分〕，
製半夏〔一錢五分〕，大腹皮〔一錢酒洗〕，厚朴〔八分姜汁炒〕，加鮮荷葉三錢為引。
此法因穢濁霉溼而立也，君藿蘭之芳香，以化其濁，臣陳夏之溫燥，以化其溼，
佐腹皮寬其胸腹，厚朴暢其脾胃，上中氣機，一得寬暢，則溼濁不克凝留，
使荷葉之升清，清升則濁自降。</p>
<h4>金木相生法</h4>
<p>治疰夏眩暈神倦，呵欠煩汗，及久咳肺腎並虧。東洋參〔三錢〕，麥冬〔三錢去心〕，
五味子〔三分〕，知母〔一錢五分〕，元參〔一錢五分〕，炙草〔五分〕，水煎溫服。
法內人參補肺，麥冬清肺，五味斂肺，此千金生脈飲也，主治熱傷元氣，氣短倦怠，
口渴汗多等證，今以此方治疰夏，真為合拍，加色白之知母，以清其肺復清其腎，
色黑之元參，以滋其腎兼滋其肺，更以甘草協和諸藥，俾金能生水，水能潤金之妙耳。
二活同袪法，治表裏受溼，寒熱身疼，腰痛等證。羌活〔一錢五分〕，防風〔一錢五分〕，
獨活〔一錢五分〕，細辛〔五分〕，茅蒼朮〔一錢五分〕，甘草〔五分〕，加生薑三片煎服。
兩感表裏之溼證，此法堪施，其中羌活防風，散太陽之表溼，獨活細辛，
搜少陰之裏溼，蒼朮燥濕氣，生薑消水氣，蓋恐諸藥辛溫苦燥，故佐甘草以緩之。</p>
<p><b>備用成方</b></p>
<h4>藿香正氣散</h4>
<p>治外感風寒，內傷飲食，及傷冷傷溼，瘧疾中暑，霍亂吐瀉，凡感嵐障不正之氣，
並宜增減用之。藿香、紫蘇、白芷、桔梗、大腹皮、厚朴、陳皮、半夏麯、白朮、
茯苓、甘草，加薑棗煎服。</p>
<h4>六和湯</h4>
<p>治夏月飲食不調，內傷生泠，外傷暑氣，寒熱交作，霍亂吐瀉，及伏暑煩悶等證。
藿香、砂仁、杏仁、厚朴、扁豆、木瓜、人參、白朮、茯苓、半夏、甘草，
加薑棗煎服。</p>
<h4>縮脾飲</h4>
<p>清暑氣，除煩渴，止吐瀉霍亂，及暑月酒食所傷。
扁豆、葛根、烏梅、草果、砂仁、粉甘草。豐按正氣散之白朮，六和湯之人參，
縮脾飲之烏梅，凡病初起者，如參朮之滯，烏梅之收，不克遽用，務宜臨時，增減可也。</p>
<h4>香薷飲</h4>
<p>治感冒暑氣，皮膚蒸熱，頭痛肢倦，或煩渴，或吐瀉。香薷、製厚朴、扁豆。
本方加黃連名四味香薷飲治同。新加香薷飲，治暑溫汗不出者。
香薷、厚朴、鮮扁豆花、銀花、連翹，水煎稍涼服。</p>
<h4>豐按香薷辛溫香散</h4>
<p>宜於陰暑而不宜於陽暑也，蓋陰暑無汗，用香薷以發之，陽暑多汗，用香薷以發之，
陽暑多汗，用之能無害乎，李時珍曰，香薷乃夏月解表之藥，猶冬月之用麻黃，
由是論之，其發表之功可見矣，今人不別陰陽，一概用之則誤甚。桂苓甘露飲，
治中暑受溼，引飲過多，頭痛煩渴，溼熱便秘。
石膏、寒水石、滑石、甘艸、白朮、茯苓、豬苓、澤瀉、肉桂。豐按河間製是方，
以膏寒滑清其暑熱，佐以五苓利其溼熱，如舌苔白者，或黃澤者皆可用之，稍乾燥者，
是暑熱將化為火，肉桂又當禁用。</p>
<h4>竹葉石膏湯</h4>
<p>治傷暑發渴，脈虛。竹葉、石膏、人參、甘草、麥冬、製夏，加粳米生薑水煎溫服。</p>
<h4>人參白虎湯</h4>
<p>治太陽中暍，身熱汗出，惡寒足冷，脈微口渴。人參、石膏、知母、甘草，
加粳米為引先煮石膏數十沸再投藥米米熟湯成溫服。豐按斯二方，
皆長沙所作人皆知長沙之書，專治傷寒，誰知其亦治暑乎，故豐嘗謂欲治六氣久時邪，
總當先讀傷寒書而後可。</p>
<h4>六一散</h4>
<p>治傷寒中暑，表裏俱熱，煩熱口渴，小便不通，瀉痢暑瘧，霍亂吐瀉。
滑石〔六兩水飛〕，甘草〔一兩〕，為末燈心湯調下。此方是河間所作也，一名天水散，
少加辰砂以清心，名益元散，少加薄荷以清肺，名雞蘇散，少加青黛以清肝，名碧玉散，
治同。三石湯，治暑溫蔓延三焦，舌滑微黃，邪在氣分者。
生石膏、寒水石、飛滑石、通草、杏仁、竹茹、銀花、金汁，水煎溫服。</p>
<h4>清營湯</h4>
<p>治者溫逼近心包，舌赤煩渴，不寐譫語，舌苔白滑，不可與也。
元參、丹參、生地、麥冬、黃連、竹葉、連翹、銀花、犀角，水煎溫服。
豐按鞠通先生云，溫者熱之漸，熱者溫之極也，暑溫較暑熱為輕者，不述可知，
此二方乃大寒之劑，治暑溫似乎過峻，試問治暑熱之病，將何寒藥所用耶，
竊謂治暑熱，二方最可，治暑溫，不若豐之清涼滌暑法為穩。</p>
<h4>來復丹</h4>
<p>治上盛下虛，裏寒外熱，及伏暑泄瀉，中暍冒暑。
玄精石、硝石、硫黃、五靈脂、青皮、陳皮，米飲糊丸如桐子大每服三十丸開水送下。
豐按此丹，可備中暑之急。</p>
<h4>介賓玉女煎</h4>
<p>治水虧火盛，六脈浮洪滑大，煩熱乾渴，失血等證，
生石膏、知母、麥冬、熟地、牛膝，水煎服如火盛極者加梔子地骨皮之屬。豐按此方，
以生地易熟地最妥。</p>
<h4>生脈散</h4>
<p>治熱傷元氣，氣短倦怠口渴多汗，肺虛而咳。人參、麥冬、五味子，水煎服。
清暑益氣湯，治長夏溼熱炎蒸，四肢困倦，精神減少，胸滿氣促，身熱心煩，
口渴惡食，自汗身重，肢體疼痛，小便赤濇，大便溏黃，而脈虛者。
人參、黃耆、白朮、炙草、麥冬、五味子、蒼朮、神麯、青皮、陳皮、黃柏、澤瀉、
升麻、葛根、當歸。加薑棗煎服，豐按千金生脈散，治熱傷元氣，熱中無溼，
所以用麥冬以清熱，人參以補氣，五味以斂氣，無溼之證，故用甘涼滋臟無害也，
東垣清暑益氣湯，治暑傷元氣，暑中有溼，所以用柏蒼陳澤等藥於益氣之中，
有溼之證，故佐苦燥通利無害也，古人用藥，少而不漏，多而不亂，學者當細玩之。</p>
<h4>漿水散</h4>
<p>治中暑泄瀉，多汗脈弱。炮薑、附子、炙甘草、肉桂、高良薑、醋炒半夏，
漿水煎去滓冷服。醫通曰，漿水者，乃秫米和麯釀成，如醋而淡，集解曰，泄利漿水，
澄徹清冷，觀此二說，全不相合，豐每用是方，以土漿煎藥，無不取效，
似不必辨其孰是，考土漿之功能，主治瀉痢，入此方中，最合拍耳。</p>
<h4>冷香飲子</h4>
<p>治中暑，內夾生冷飲食，腹痛瀉利。附子、草果、橘紅、炙草，加生薑水煎冷服。</p>
<h4>大順散</h4>
<p>治冒暑伏熱，引飲過多，脾胃受溼，霍亂吐瀉。乾薑、肉桂、杏仁、甘草，
共為末每服二錢沸湯調服。豐按漿水散，冷香飲子，皆治中暑之泄瀉，
而用薑附之熱劑，其實治暑月之陰寒，非治陽暑之證，可想而知矣，大順散，亦然也，
所以治暑宜分陰陽，弗執暑為陽之說耳。</p>
<h4>痧疫回春丹</h4>
<p>治一切痧疫神效。蒼朮〔二兩〕，雄黃〔七錢飛淨〕，沉香〔六錢〕，丁香〔一兩〕，
木香〔一兩〕，鬱金〔一兩〕，蟾酥〔四錢〕，麝香〔一錢〕，
共研細末水泛為丸加飛淨硃砂為衣，每服五厘，開水和服，亦可研末吹鼻。豐按此丹，
治痧極安，無論風暑陰陽紅烏悶絞等痧，皆可治之，倘能辨者，於藥引中變動可也。</p>
<h4>行軍散</h4>
<p>治霍亂痧疫，去一切穢惡。西牛黃〔一錢〕，當門子〔一錢〕，雄黃〔入錢飛淨〕，
火硝〔三分〕，蓬砂〔一錢〕，梅冰〔一錢〕，飛金〔二十頁〕，真珠〔一錢〕，
入味各研極細再合擂勻每二三分冷開水下。</p>
<h4>絳雪〔一名紅靈丹〕</h4>
<p>治霍亂吐瀉，痧（病長）時疫等證。硃砂〔一兩〕，雄黃〔六錢飛〕，飛金〔五十頁〕，
礞石〔四錢煆〕，牙硝〔一兩〕，蓬砂〔六錢〕，當門子〔三錢〕，梅片〔三錢〕，
共研極細末每一分開水送下。豐按此二方，皆可援一時之急，凡有求名遠處者，
覓利他方者，皆可預藏於篋，以備自用或可濟人。</p>
<h4>紫雪</h4>
<p>治內外煩熱，一切火證。
寒水石、石膏、滑石、磁石、硝石、朴硝、辰砂、沉香、木香、丁香、麝香、升麻、
元參、羚羊角、犀角、甘草、黃金，合成退火氣，冷開水調服每一二錢。豐按是方，
藥力峻猛，體非強壯，證非實火，不易浪用，嘗見今之醫者，一遇神昏譫語，
不分虛實，遂謂邪入心包，隨手用之，毫無忌憚，倘鄭聲喃喃，由心神不足而致者，
一安用之，禍必旋踵，臨證之際，當分虛實而施，庶無差誤。黃龍湯，
治失下循衣撮空，體虛熱盛，不下必死。
大黃、厚朴、枳實、芒硝、熟地黃、當歸、人參，照常煎服。豐按此方，
治熱病已成可下之證，醫者因其體虛，當下失下，而成撮空理線，循衣摸床等證，
所以用攻補兼施之方，蕩其邪而不傷正，補其正而不礙邪，誠穩妥之良方，
今醫畏用何哉。</p>
<h3>臨證治案</h3>
<h4>陰暑誤用陽暑之藥</h4>
<p>古黔吳某，晚餐之後，貪涼而睡，醒來頭痛畏寒，壯熱無汗，氣口脈緊，
舌苔邊白中黃，豐曰，此陰暑兼食之證也，即以藿香正氣散去白朮，加香薷治之，
服一煎未有進退，又更一醫，遂駁陰暑之謬，暑本屬陽，何謂為陰，見病人身熱如火，
遂用白虎湯加蘆根連翹等藥，初服一帖，似得小效，繼服一帖，即譫語神昏，
頻欲作嘔，舌苔灰黑，醫謂邪入心包，照前方再加犀角黃連紫雪等品，服下全無應驗，
仍求豐診，其脈右勝左，形力並強，此邪尚在氣分，猶未逆傳心包，視其舌苔，
灰黑而厚，依然身熱昏譫嘔逆等證，竊思其邪必被寒涼之藥所阻，非溫宣透法，
不克望其轉機，當用杏仁薤白豆卷藿香神麯蔻仁香薷橘殼，加益元散合為一劑，
服頭煎熱勢益劇，次煎通身有汗，則熱漸退盡矣，來邀復診，神未清明，譫語仍有，
舌苔未退，更覺焦乾，右脈仍強，愈按愈實，豐曰，汗出熱退，理脈靜津回，
神氣清爽，今不然者，定有燥結留於腸胃，思表邪退盡，攻下無妨，
用黃龍湯以芒硝改元明粉，以人參換西洋參，服下半日許，遂得更衣，諸恙忽退，
繼用甦土養陰之法，日漸全可。</p>
<p>或問曰，彼醫證雖誤治，謂暑本屬陽，何謂為陰，亦似近理，其說當有所本耶，
答曰，然也，即條辨有云，暑字從日，日豈陰物乎，暑中有火，火豈陰邪乎，
殊不知前賢取陰暑二字之義，陰，陰寒也，暑，暑月也，暑月傷於陰寒，故名陰暑，
曰，何不以傷寒名之，曰，寒乃冬令之氣，在暑月不能直指為寒，蓋恐後學不明時令，
先賢之用心，亦良苦矣。</p>
<h4>驟然中暑</h4>
<p>盛夏時，豐赴西鄉療病，路過石梁村口，見一人奄然昏倒於道傍，遂停輿出診，
脈之兩手洪大，其為暑熱所中者昭然，即以通關散吹鼻，似欲噴嚏而不得，
令輿夫揪之，又令入村採蒜取汁，頻頻灌之，連得噴嚏，少焉乃甦，求賜一方，
遂用六和湯去參朮厚朴，加滑石通草，囑服三貼，數日後，登門泥首而去。</p>
<h4>暑風急證</h4>
<p>城西陳某，年近五旬，倏然昏倒，人事無知，手足抽掣，一醫作中暑論治，
雖不中亦不遠矣，一醫輒稱中風，反駁前醫有誤，敢以小續命湯試之，更加搐搦，
身熱大汗，迓豐商治，診其脈，洪大而數，牙關緊閉，舌不能出，但見唇焦齒燥，
豐曰，此暑風證也，稱中風之醫，亦在座中，遂曰子不觀指南醫案，常有暑風，
何得有搐搦之證，曰，香巖之案謂暑風，係暑月所感之風，非熱極生風之內風也，
豐今所謂乃暑熱內燃，金被火爍，木無所制，致發內風之證也，理當清其暑熱，
兼平風木，遂用清離定巽法加石甘草橘絡扁豆花治之，彼醫似為不然，病家咸信於豐，
即使人揀來煎服，幸喜法中病機，抽搐稍定，神識亦省，繼服二貼，得全愈矣。</p>
<p>江誠曰，今之醫者，每見夏月有頭痛發熱，而無昏倒肢抽，皆批為暑風之證，
大概得香巖之皮毛，而未得其骨髓，此耳聽之學，非神聽之學可知。</p>
<h4>暑溫過服大寒致變</h4>
<p>西鄉吳某，偶患暑溫，半月餘矣，前醫證無差，惜乎過用寒劑，非但邪不能透，
而反深陷於裏，竟致身熱如火，四末如冰，復邀其診，乃云熱厥，仍照舊方，
添入膏知犀角等藥，服之益劇，始來求治於豐，診其左右之脈，舉按不應指，
沉取則滑數，豐曰，邪已深陷於裏也，其兄曰，此何證也，曰，暑溫證也，曰，
前醫亦云是證，治之乏效何，曰，暑溫減暑熱一等，蓋暑溫之勢緩，纏綿而愈遲，
暑熱之勢暴，涼之而愈速，前醫小題大做，不用清透之方，恣用大寒之藥，
致氣機得寒益閉，暑溫之邪，陷而不透，非其認證不明，實係寒涼過度，
刻下厥冷過乎肘膝，舌苔灰黑而膩，倘或痰聲一起，即有倉扁之巧，亦莫如何，
明知證屬暑溫，不宜熱藥，今被寒涼所壓，寒氣在外在上，而暑氣在裏在下，
暫當以熱藥破其寒涼，非治病也，乃治藥也，得能手足轉溫，仍當清涼養陰以收功，
遂用大順散加附子老蔻，服一帖，手足漸轉為溫，繼服之，舌苔仍化為燥，通身大熱，
此寒氣化也，暑氣出也，當變其法，乃用清涼透邪法去淡豉，加細地麥冬蟬衣荷葉，
一日連服二劑，周身得汗，而熱始退盡矣，後擬之法，皆養肺胃之陰，調治匝月而愈。</p>
<p>程曦曰，學醫知常為易，知變為難，病有千變，而藥亦有千變，即如是証，
過服寒涼，熱證未去，而寒證又生，此病一變也，暫用溫熱之劑，先破寒涼之氣，
此藥一變也，服之肢體回溫，舌胎仍燥，此病又一變也，即舍熱藥，轉用涼劑收功，
此藥又一變也，不知通變之醫，反謂朝秦暮楚，僥倖圖功耳。暑熱劫絡致成暑瘵</p>
<p>長洲葉某，忽然血湧盈升，身熱口渴，速來求治於豐，抵其寓，見几上有參湯一盞，
病者即詢可服否，豐曰，姑診其脈，辨其虛實可知，按之洪大而來，舌胎黃而欠潤，
此暑熱內劫陽絡之侯，即經謂陽絡傷，血從上溢是也，當從暑瘵治之，
速清暑熱以養其陰，參湯勿可服也，遂用玉女煎以生地易熟地，再加滑石蔞根杏仁桑葉，
兩日連嘗四劑，咳血並止，身熱亦退矣。</p>
<h4>陰寒霍亂熱補而瘳</h4>
<p>施秉羅某之父，大耋高年，素來（瞿又）鑠，忽於孟秋之初，霍亂吐瀉，腹痛肢涼，
差人來請豐診，其脈遲細，神識模糊，曰此中陰寒之證也，急以挽正回陽法治之，
至日晡腹痛益甚，汗出淋漓，逆冷益深，倏然昏倒，大眾驚慌，復來邀診，
診得六脈全無，不語如尸，呼吸微絕，思丹奚有云，倉卒中寒，病發而暴，難分經絡，
溫補自解，忽記其家有真參寶藏，速取一錢，合野山高麗蔘五錢，淡附片四錢，
濃煎滲下，次煎繼之，約一時許，忽長嘆一聲，漸有呼吸，五更時分，身體稍溫，
次日清晨，又邀復診，按其脈象，沉細如絲，舌淡無榮，苔白而潤，四肢轉煖，
人事亦清，吐瀉腹疼僉減，今當溫補脾陽，兼養心營，仍用二參附片，
加入薑炭耆甘歸神柏棗，服下又中病機，一候遂全瘥矣。</p>
<h4>陰虛疰夏</h4>
<p>江蘇張某，於麥秋患頭暈目眩，食減神疲，偶欲頭痛，一醫作水不涵木治之，
雖未中機，尚稱平穩，一醫作風溼侵脾治之，服之神氣更疲，邀豐診之，脈濡且弱，
毫無外感之形，見其呵欠頻頻，似屬虧象，豐曰，此陰虛之體，過於煩勞，
勞傷神氣所致，所以前醫滋補無妨，後醫宣散有損，張曰，頭痛非外感乎，曰，非也，
外感頭痛，痛而不止，今痛而暈，時作時止，是屬內傷，曰，何證也，曰，疰夏也，
當用金水相生法去玄參知母，加冬桑葉穭豆衣省頭草治之，服至第三劑，
諸痾皆屏矣。</p>
<h4>熱病化燥傷津</h4>
<p>芹嶺王某，來郡應試，忽沾熱病，其師知醫，以為風食，而用羌防查麯等藥，
則熱渴更甚，譫語發狂，邀豐醫治，脈形洪數有力，舌苔黑燥而厚，此屬熱邪化燥，
津液被劫非鹹苦下法，不能攻其熱而保其陰，倘畏而不用，則津液告匱為難治，
即以潤下救津法加柴雪五分，隨即揀來煎服，服後約半月許遂欲更衣，乃得燥屎數團，
狂勢似緩，繼進次煎，又得燥屎無數，神氣覺疲，令房中寂靜，待其安睡，
計五六時始醒，醒來神識已清，身涼微汗，舌黑而潤，六脈不躁，豐曰，邪己解也，
用西洋參麥冬生地玉竹麻仁蔞殼米仁炙草等，令服三劑而安。</p>
<h4>霉溼時病</h4>
<p>東鄉劉某，來舍就醫，面目浮腫，肌膚隱黃，胸痞脘悶，時欲寒熱，舌苔黃膩，
脈來濡緩而滯，豐曰，此感時令之溼熱也，必因連日務農，值此入霉之候，
乍雨乍晴之天，溼熱之邪，固所不免，病者曰然，豐用芳香化濁法，
加白芷茵陳黃芩神麯治之服五帖遂向愈矣。</p>
<h2>時病論卷之五</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衢雷豐少逸手著</p>
<p>受業〔新安程曦錦雯盈串江誠抱一〕恭訂</p>
<h3>夏傷於暑秋必痎瘧大意</h3>
<p>經云，夏傷於暑，秋必痎瘧，謂夏令傷於暑邪，甚者即患暑病，微者則舍於營，
復感秋氣涼風，與衛并居，則暑與風涼合邪，遂成痎瘧矣，景岳云，痎者皆也，
總瘧之稱也，瘧者虐也，淩虐之義也，瘧之為病非止一端，當分晰而治之，
考古有暑瘧、風瘧、寒瘧、溼瘧、溫瘧、瘴瘧、癉瘧、牝瘧、痰瘧、食瘧、疫瘧、
鬼瘧、虛瘧、勞瘧、瘧母、三日瘧之名，臨證之時，不可不辨治也，暑瘧者，
惡寒壯熱，煩渴引飲也，風瘧者，寒少熱多，頭疼自汗也，寒瘧者，
寒長熱頭疼無汗也，溼瘧者，寒重熱輕，一身盡痛也，溫瘧則先熱後寒，
因於冬令伏氣，瘴瘧則發時昏悶，因感山嵐瘴氣，癉瘧則獨熱無寒，牝瘧則寒多熱少，
又有頭痛而眩，瘧發昏迷為痰瘧，寒熱交併，噫氣惡食為食瘧，沿門合境，
證皆相似為疫瘧，寒熱日作，多生恐佈為鬼瘧，元氣本虛，感邪患瘧為虛瘧，
瘧疾患久，遇勞即發為勞瘧，經年不愈，結成痞塊，藏於脅腹為瘧母，正氣本虛，
邪客於腑，間兩日而作者為三日瘧，更有似瘧非瘧之伏暑，亦因伏天受暑而發於秋，
最難速愈，倘秋時炎蒸於夏，而內並無伏氣，其見證與陽暑相似者，名曰秋暑，
此二證皆在乎秋，今附論於斯，蓋恐誤為瘧治耳。</p>
<h4>暑瘧</h4>
<p>暑瘧者多因長夏納涼，感受陰暑，暑汗不出，則邪遂伏於內，直待秋來，
加冒涼氣而發，先賢云，暑氣內伏者，陰氣也，秋涼外束者，陰邪也，
新邪與衛氣并居，則內合伏暑，故陰陽相搏而瘧作矣，其證惡寒壯熱，口渴引飲，
脈來弦象，或洪或軟，或著衣則煩，去衣則凜，肌膚無汗，必待汗出淋漓而熱始退，
治宜清營捍瘧法治之，如渴甚者，麥冬花粉佐之，凡瘧連日而發者則病淺，
間日而者則病深，間二日而發者則愈深矣，漸早為輕，因正氣勝而外出，漸晚為重，
因邪氣勝而內入，初起多實，宜以祛邪為先，患久多虛，宜以養正為主，
醫者須分淺深輕重虛實新久而治之，則庶幾投劑有效耳。</p>
<p>張景岳曰，傷暑為瘧，何謂陰邪，蓋陽暑傷氣，其證多汗，感而即發，邪不能留，
其留藏不去者，惟陰暑耳，以其無汗也，故凡患瘧者，必因於盛暑之時，貪涼取快，
不避風寒，或浴以涼水，或澡於河流，或過食生冷，壯者邪不能居，未必致病，
怯者蓄於營衛，則所不免，但外感於寒者多為瘧，內傷於寒者多為痢，使能慎此二者，
則瘧痢何由來也。</p>
<h4>風瘧</h4>
<p>經云，夏暑汗不出者，秋成風瘧。金鑑謂風瘧，先傷於寒，後傷於風，據此二說而論，
是證之因，亦由長夏先受陰暑，至秋感風而發也，然而有暑無風惟病暑，
有風無暑惟病風，必風暑合邪，始成瘧病，此雖與暑瘧得病之因無異，發病之時亦同，
但其見證，自有攸分，不可以不辨也，蓋風瘧之為病，寒少熱多，不似暑瘧惡寒壯熱，
或著衣則煩，去衣則凜，風瘧則頭疼自汗出，不似暑瘧肌膚無汗，
必待汗出淋漓而熱始退，風瘧之脈，弦而兼浮，不似暑瘧，脈象純弦，或洪或軟，
若此分別，投劑自合拍耳，初宜辛散太陽法去羌活，加秦艽治之，必俟寒熱分清，
始可進和解之法，總當細審其因，可散則散，可和則和，可補則補，可截則截，
全在臨時活法耳。江誠曰，細觀暑瘧風瘧，皆由長夏感受陰暑，並發於秋，
但暑瘧因秋涼所觸，風瘧因秋風所觸，以此別之，毫釐無謬。</p>
<h4>寒瘧</h4>
<p>寒瘧者，緣於先受陰寒，或沐浴之水寒，寒氣伏於肌腠之中，
復因外感邪風觸之而發，正合經云，寒者陰氣也，風者陽氣也，先傷於寒，而後傷於風，
故先寒而後熱也，蓋寒瘧之脈證，弦緊有力，寒長熱短，連日而發，或間日而發，
發時頭痛微汗，或無汗乾熱，此當遵古訓體若燔炭，汗出而散之旨，
擬用辛散太陽法治之，如寒熱按時而至，方可繼進和解，今人不別何經，
動手概用小柴胡湯，則誤甚矣。</p>
<h4>溼瘧</h4>
<p>溼瘧之證，因於久受陰溼，溼氣伏於太陰，偶有所觸而發，發則惡寒而不甚熱，
脈象緩鈍而不弦，一身盡痛而有汗，手足沉重，嘔逆脹滿者是也，俗謂脾寒，
大概指是證耳，此宜宣透膜原法，使其邪化瘧除，但辛燥之劑，於陰虧熱體者，
須酌用之，陽虛寒體者，更可加老蔻乾薑，所有斷截之法，不宜早用，用之非膨鼓，
即成瘧母之痾，瘧證殊多，總宜分別而治。</p>
<h4>溫瘧</h4>
<p>經謂溫瘧，由冬令感受風寒，伏藏於骨髓之中，至春不發，交夏陽氣大泄，
腠理不緻，或有所用力，伏邪與汗並出，此邪藏於腎，自內而達於外，如是者，
陰虛而陽盛，陽盛則熱矣，衰則其氣復入，入則陽虛，陽虛生外寒矣，又謂先傷於風，
後傷於寒，故先熱而後寒也，亦以時作，名曰溫瘧，溫瘧之證，先熱後寒，
其脈陽浮陰弱，或汗多，或汗少，口渴喜涼，宜清涼透邪法治之，如汗多者去淡豉，
加麥冬花粉，如舌苔化為焦黑者，宜清熱保津法治之，嘉言云，治溫瘧，
當知壯水以救其陰，恐十數發而陰精盡，盡則真火自焚，頃之死矣，此與香巖論溫病，
當刻刻護陰之說，不相悖也，凡有變證，仿春溫風溫溫病溫毒門中之法可也。</p>
<p>或問溫瘧得之於冬，發之於夏，何不列於溫病之門，或附於熱病之後，今列如斯，
其意何也，答曰，就溫字而言，當列於彼，就瘧字而論，當附於此，欲使學者，
知諸瘧有先熱後寒，有先寒後熱，有寒多熱少，有寒少熱多，有獨熱不寒之各異也，
又問金匱論溫瘧，謂身無寒但熱，今先生論中謂先熱後寒，得毋有違仲景乎，曰，
先熱後寒者，遵內經之訓也，金匱謂無寒但熱，定係傳寫之訛，殊不知但熱無寒，
乃癉瘧也，不可不為分辨。</p>
<h4>瘴瘧</h4>
<p>瘴瘧之證，嶺南地方為多也，乃因天氣炎熱，山氣溼蒸，多有嵐瘴之毒，人感之者，
即時昏悶，一身沉重，或寒甚熱微，或寒微熱甚，亦有疊日間日而作者，
亦有狂言妄語者，亦有口瘖不言者，揆其諸證，初起之時，邪必鬱於氣分，
甚則血瘀於心，涎聚於脾，先宜宣竅導痰法，探吐其痰，然後辨其輕重表裏為要，
其輕者在表，宜用芳香化濁法加草果檳榔，其重者在裏，宜用和解兼攻法為治。</p>
<h4>癉瘧</h4>
<p>帝曰，癉瘧何如，岐伯曰，癉瘧者，肺素有熱，氣盛於身，厥逆上衝，
中氣實而不外泄，因有所用力，腠理開，風寒舍於皮膚之內，分肉之間而發，
發則陽氣盛，陽氣盛而不衰則病矣，其氣不及於陰，故但熱而不寒，氣內藏於心，
而外舍於分肉之間，令人消爍肌肉，故命曰癉瘧，帝曰善。</p>
<p>金匱云，師曰陰氣孤絕，陽氣獨發，則熱而少氣煩冤，手足熱而欲嘔，名曰癉瘧，
若但熱不寒者，邪氣內藏於心，外舍分肉之間令人消鑠肌肉。豐按素問謂肺素有熱，
又謂氣內藏於心，金匱亦謂邪氣內藏於心而未及肺，合而論之，似異而實同也，
蓋肺心皆居膈上，主乎陽位，陽氣盛，故但熱而不惡寒，石頑注金匱云，少氣煩冤者，
肺主氣，肺受火刑也，手足熱者，陽主四肢，陽盛則四肢熱也，欲嘔者，火邪上沖，
胃氣逆也，內藏於心者，陽盛則邪氣內藏，而外舍分肉之間也，消爍肌肉者，
火盛則肌肉爍也，治癉瘧惟宜白虎，蓋白虎專於退熱，其分肉四肢，內屬於胃，
非切於所舍者乎，又瀉肺火，非救其煩冤者乎，據此而觀，不但病在肺心，
亦且兼之胃病，嘉言意用甘寒，亦屬非謬，真所謂智謀之士，所見略同，
竊思陽氣盛則陰益傷，擬用甘寒生津法，庶幾針芥。</p>
<h4>牝瘧</h4>
<p>金匱云，瘧多寒者，名曰牝瘧，趙以德不辨魚魯，註為邪在心而為牡，
喻嘉言亦為邪伏於心，心為牡臟，即以寒多熱少之瘧，名日牡瘧，二公皆以牝瘧為牡，
又皆謂邪藏於心，石頑已正其非，堪為來學之圭臬也，乃曰若係邪氣內藏於心，
則但熱而不寒，是為癉瘧，此則邪氣伏藏於腎，故多寒而少熱，則為牝瘧，
以邪氣伏結，則陽氣不行於外，故作外寒，患斯證者，真陽素虛之體為多，
緣當盛夏之時，乘涼飲冷，感受陰寒，或受陰溼，其陽不能制陰邪之勝，故瘧發時，
寒盛熱微，慘戚振慄，病以時作，其脈必沉而遲，面色必淡而白，
宜以宣陽透伏法治之，因寒者薑附為君，因溼者蒼果為主，日久不愈，溫補之法為宜。</p>
<h4>痰瘧</h4>
<p>痰瘧者，因夏月多食瓜困油膩，鬱結成痰，或素係痰體，其痰據於太陰脾臟，
伏而不發，一旦外感涼風，痰隨風起，變為瘧病矣，初發之時，頭痛而眩，痰氣嘔逆，
寒熱交作，脈來弦滑之象，古諺云，無痰不作瘧，豈不然乎，宜以化痰順氣法，
加草果藿香治之，如昏迷卒倒者，宜以宣竅導痰法，加厚朴草果蘇合香丸治之，
肥盛之人，痰藥更宜多用。</p>
<h4>食瘧</h4>
<p>食瘧者，即胃瘧也，因於飲食失節，饑飽不常，穀氣乖亂，營衛失和，一有不謹，
則外邪冒之，遂成瘧疾矣，其證寒己復熱，熱已復寒，寒熱交併，噫氣惡食，
食則吐逆胸滿腹脹，脈滑有力，或氣口緊盛者，宜以查麯平胃法，加藿香草果治之，
如脈遲滯，必兼寒也，可加乾薑白蔻，如脈緩鈍者，必兼溼也，可加半夏茯苓，
食瘧之證，兼寒兼溼為多，法當分治。</p>
<p>或問曰，介賓之書，謂瘧疾之作，無非外邪為之本，豈果因食因痰有能成瘧者耶，
據此而論，痰食是為兼證，今先生專列痰瘧食瘧之門何也，豐曰，素來痰體，
加感涼風而致瘧者，以痰為本，故曰痰瘧，飲食停積，加受外邪而致瘧者，以食為本，
故曰食瘧，如前所論暑風寒溼溫瘴癉牝等瘧，倘有頭眩嘔逆脈滑者，是痰為兼證也，
噫氣，惡食脈緊者，是食為證也遂不能以痰瘧食瘧名之，本證兼證，詎可以不辨哉。</p>
<h4>疫瘧</h4>
<p>疫瘧之為病，因天時寒熱不正，邪氣乘虛而襲膜原，欲出表而不能透達，
欲陷裏而未得空隙，故作寒熱往來，或一日二三次，或一次而無定期也，寒輕熱重，
口渴有汗，右脈多勝於左，是為疫瘧也，蓋疫者役也，若役使然，大概沿門合境，
長幼之瘧相似者，皆可以疫名之，竟不必拘於一定之見證，當隨時令而治，
此司天運氣之所宣考也，擬以宣透膜原法為主。</p>
<h4>鬼瘧</h4>
<p>鬼瘧者，因卒感尸疰客忤，寒熱日作，惡夢多端，時生恐佈，言動異常，
脈來乍大乍小者是，俗云夜發為鬼瘧者非，獨有通一子謂無鬼瘧，不啻阮瞻一流人也，
豐歷見之，患是證者，都係體弱屬陰之人，而強壯屬陽之體，無一患者，
古云壯士不病瘧，殆指鬼瘧而言，擬用驅邪辟崇法治之，如未效者，咒法亦可用之。
程曦曰，瘧不離乎少陽，誠哉是言，蓋少陽者膽也，膽壯自然無鬼，惟怯者則有之，
試看膽壯之人，心無忌憚，所以避之可脫，膽怯之輩，每多疑心，心寒則膽益怯，
怯則鬼魅愈侵，所以糾纏不巳，即避之亦不能脫體也。</p>
<h4>虛瘧</h4>
<p>元氣本虛，感邪患瘧名虛瘧也，其證寒熱交作，自汗倦臥，飲食並減，四肢乏力，
脈象舉按俱弦，尋之則弱，宜以補氣升陽法治之，又有久患瘧疾，脾胃累虛，
亦名虛瘧也，蓋胃虛則惡寒，脾虛則發熱，寒則灑灑，熱則烘烘，脈象浮之則濡，
按之則弱，此宜營衛雙調法，則瘧疾不截而自罷矣，倘有肢涼便瀉者，均加附子乾薑，
或吐涎不食者，並加砂仁半夏，治虛瘧之法，盡於斯矣。</p>
<h4>勞瘧</h4>
<p>勞瘧者，因瘧疾日久延為癆也，或因久病勞損，氣血兩虛而病瘧也，或因勞役過度，
營衛空虛而患瘧也，脈象或軟或弱，或小滑，或細數，發熱惡寒，寒中有熱，
熱中有寒，或發於晝，或發於夜，每遇小勞即發，氣虛者多汗，飲食少進，血虛者，
午後發熱，至晚微汗乃解，此似瘧非瘧也，若誤為瘧治，而投剝削之劑，
未有不成瘵疾者也，擬用營衛雙調法，氣虛者倍加參耆，血虛者倍加歸芍，
倘寒熱分清，按時而至，脈兼弦象，顯出少陽兼證，始可佐柴胡青蒿，否則不可耳。</p>
<h4>瘧母</h4>
<p>凡瘧經年不愈者，謂之老瘧，或食積，或痰涎，或瘀血，皆能結成痞塊，藏於腹脅，
作脹而痛，令人多汗，謂之瘧母，亦有因調治失宜，營衛俱虛，或截瘧太早，
邪伏肝經脅下，成痞塊者，豐歷見之，其痞居左脅者為多，蓋左脅屬肝，當補虛之中，
兼以疏肝為治，宜用調中暢氣法去耆朮甘荷，加青皮鱉甲牡蠣半夏治之，如形氣未衰，
塊痛甚著，蓬棱肉桂，並可加入，倘偏用攻破剝削，以治其塊，而不顧其正者，
延為中滿，遂不可醫，可不謹歟。</p>
<h4>三日瘧</h4>
<p>三日瘧，又名三陰瘧，間兩日而發者是也，丹溪曰，發於子午卯酉日者為少陰瘧，
寅申巳日者為厥陰瘧，辰戍丑未日者為太陰瘧，其說似乎近理，然介賓路玉皆駁為非，
悉以軒岐之訓為準則也，經曰，時有間二日，或至數日而發者，邪氣與衛氣客於六腑，
而有時相失，不能相得，故休數日乃作也，李念莪釋云，客，猶言會也，邪在六腑，
則氣遠會稀，故間二日，或休數日也，由是觀之，丹溪之言，不足為訓，
蓋間二日而作者，以邪氣深客於腑，是與衛氣相失而然，宜以雙甲摟邪法治之，
如陰虛之體，益以首烏當歸，陽虛之體，益以鹿霜潞黨，至間數日而作者，其邪愈深，
不待言矣，凡邪深陷者，必因正氣空虛，當用補氣升陽法，助其既虛之正，
提其已陷之邪，使正氣復旺，邪氣自出，則瘧不驅自遁矣。</p>
<p>或問先生論瘧，即及三陰，而不及三陽者合也，答曰，丹溪分別三陰，前賢已駁之矣，
今即問及三陽，不得不略言之，大概瘧在太陽則寒重，法當汗之，在陽明則熱重，
法當清之，在少陽則寒熱往來，法當和之，又問諸瘧悉詳，何獨遺胎瘧一證，
究竟何如，曰，胎瘧今之俗名也，有謂襁褓小兒患瘧為胎瘧，有謂從未患瘧為胎瘧，
又以母年之多寡，與瘧期相應，此未盡然總之無論其襁褓壯年，而未曾患瘧者，
悉稱為胎瘧也，仍當分暑風寒溼等瘧而治，歷嘗見之，較諸瘧逾格纏綿，最難速愈，
必俟其勢衰微，方可斷截耳。</p>
<h4>伏暑</h4>
<p>伏天所受之暑者，其邪盛，患於當時，其邪微，發於秋後，時賢謂秋時晚發，
即伏暑之病也，是涼風颯颯侵襲肌膚，新邪欲入，伏氣欲出，以致寒熱如瘧，或微寒，
或微熱，不能如瘧分清，其脈必滯，其舌必膩，脘痞氣塞，渴悶煩冤，每至午後則甚，
入暮更劇，熱至天明得汗，則諸恙稍緩，日日如是，必要二三候外，方得全解，
倘調理非法，不治者甚多，不比風寒之邪，一汗而解，溫熱之氣，投涼則安，
擬用清宣溫化法，使其氣分開，則新邪先解，而伏氣亦隨解也，然是證變易為多，
其初起如瘧，先服清宣溫化法，倘畏寒已解，獨發熱淹綿，可加蘆竹連翹，
本法內之半夏陳皮，乃可刪去，恐其溫燥之品，傷津液也，其舌苔本膩，
倘漸黃漸燥漸黑漸焦，是伏暑之熱，已傷其陰，於本法內可加洋參麥冬元參細地治之，
倘神識昏蒙者，是邪逼近心包，益元散，紫雪丹，量其證之輕重而用，倘壯熱舌焦，
神昏譫語，脈實不虛，是邪熱歸併陽明，宜用潤下救津法治之，如年壯體強，
以生軍易熟軍，更為有力，種種變證，務在臨證之時，細審病之新久，體之虛實，
按法用之，庶無差忒耳。</p>
<p>或問曰，曾見禹載書中論伏暑，謂三伏之時，以書晒曝烈日之中，隨即收藏於笥，
火氣未散，冬時啟笥，觸之遂病，今是論中全未言及，得毋遺漏乎，答曰，
子誠刻求劍也，此不過偶一有之之證，若此論之，則伏暑之證，專病晒書之家，
而無書晒者則不病，專病在冬，而三秋則不病，可發一笑。</p>
<h4>秋暑〔附秋涼〕</h4>
<p>七月大火西流，暑氣漸減，而涼氣漸生，其時炎⿰高炎尚存，一如盛夏，
亦有較盛夏更熱之年，人感其熱而病者，為秋暑，即世俗所稱秋老虎是也，
斯時溼土主氣，猶是暑溼交蒸，但見壯熱煩渴，蒸蒸自汗，脈象洪濡或數，
是秋暑之證，其治法與陽暑相同，亦宜清涼滌暑法，倘交秋令以來，涼氣龔人，
人感其氣，即患頭痛惡寒，發熱無汗，脈象浮弦或緊，是秋涼之證，
其治法與陰暑無異，亦宜辛溫解表法，若交秋分之後，燥金主氣，遇有秋涼之見證者，
是為燥之勝氣，宜用苦溫平燥法，遇有秋暑之見證者，是為燥之復氣，
宜用甘寒生津法，每見近時之醫，不究六氣者多，一交秋令便云秋燥，不知初秋煩熱，
是為秋暑，又不知斯時溼土主令，指暑指溼，而為燥氣，不甚謬哉。</p>
<h3>擬用諸法</h3>
<h4>清營捍瘧法</h4>
<p>治暑瘧惡寒壯熱，口渴引飲。連翹〔一錢五分去心〕，竹葉〔一錢五分〕，
扁豆衣〔二錢〕，青蒿〔一錢五分〕，木賊草〔一錢〕，黃芩〔一錢酒炒〕，
青皮〔一錢五分〕，加西瓜翠衣一片為引。此治暑瘧之法也，夫暑氣內舍於營，
故君以翹竹清心，卻其上焦之熱，臣以扁衣解暑，青蒿祛瘧，佐以木賊發汗於外，
黃芩清熱於內，古云瘧不離乎少陽，故以青皮引諸藥達少陽之經，
瓜翠引伏暑透肌膚之表。</p>
<h4>辛散太陽法</h4>
<p>治風瘧寒少熱多，頭痛自汗，兼治傷寒傷溼。嫩桂枝〔一錢〕，羌活〔一錢五分〕，
防風〔一錢五分〕，甘草〔五分〕，前胡〔一錢五分〕，淡豆豉〔三錢〕，
加生薑二片紅棗三枚煎服。凡外邪襲人，必先傷於太陽之表，
瘧雖因於伏暑又必因外感秋風而觸發也，蓋風瘧有風在表，故宜辛散之方，
其中桂羌防草，即成方桂枝羌活湯，本治風瘧之劑也，內加前胡散太陽，復泄厥陰，
淡豉解肌表，且祛瘧疾，更加攘外之薑，安內之棗，表裏俱安，何瘧之有哉。</p>
<h4>宣透膜原法</h4>
<p>治溼瘧寒甚熱微，身痛有汗，肢重脘懣。厚朴〔一錢姜製〕，檳榔〔一錢五分〕，
草果仁〔八分煨〕，黃芩〔一錢酒炒〕，粉甘草〔五分〕，藿香葉〔一錢〕，
半夏〔一錢五分姜製〕，加生薑三片為引。此師又可達原飲之法也，
方中去知母之苦寒，及白芍之酸斂，仍用朴檳草果，達其膜原，袪其盤踞之邪，
黃芩清燥熱之餘，甘草為和中之用，擬加藿夏暢氣調脾生薑破陰化溼，
溼穢乘入膜原而作瘧者，此法必奏效耳。</p>
<h4>清涼透邪法〔見卷一第十二頁〕</h4>
<h4>清熱保津法〔見卷一第十二頁〕</h4>
<h4>宣竅導痰法〔見卷二第廿九頁〕</h4>
<h4>芳香化濁法〔見卷四第七十二頁〕</h4>
<h4>和解兼攻法</h4>
<p>治寒熱瘧疾，兼之裏積。柴胡〔一錢五分〕，黃芩〔一錢酒炒〕，
半夏〔一錢五分姜製〕，甘草〔六分〕，元明粉〔二錢〕，熟軍〔二錢〕，
枳殼〔一錢五分〕，流水煎服。柴芩夏草以和解，元明軍枳以攻裏，
此仿長沙大柴胡之法也。</p>
<h4>甘寒生津法</h4>
<p>治癉瘧獨熱無寒，手足去欲嘔。大生地〔五錢〕，大麥冬〔三錢去心〕，
連翹〔三錢去心〕，竹葉〔一錢五分〕，北沙參〔三錢〕，石膏〔四錢煨〕，
加蔗漿梨汁每一盞沖服。金匱癉瘧條下，但云以飲食消息止之，
嘉言主以甘寒生津可愈，豐立是法，即遵斯訓也，首用生地麥冬，甘寒滋膩以生津液，
此證不離心肺胃三經，故以翹竹清心，沙參清肺，膏蔗清胃，梨汁生津。</p>
<h4>宣陽透伏法</h4>
<p>治牝瘧寒甚熱微，或獨寒無熱。淡乾薑〔一錢〕，淡附片〔一錢〕，
厚朴〔一錢姜製〕，蒼朮〔一錢土炒〕，草果仁〔一錢煨〕，蜀漆〔一錢五分〕，
加白豆蔻三顆去殼細研分沖。乾薑宣其陽氣，附子制其陰勝，厚朴開其滯氣，
蒼朮化其陰溼，草果治獨勝之寒，蜀漆逐盤結之瘧，佐以豆蔻，不惟透伏有功，
抑且散寒化溼，施於牝瘧豈不宜乎。</p>
<h4>化痰順氣法〔見卷三第五十頁〕</h4>
<h4>查麴平胃法〔見卷三第五十頁〕</h4>
<h4>驅邪辟崇法</h4>
<p>治鬼瘧寒熱日作，多生恐佈，脈來乍大乍小。龍骨〔三錢煆〕，
茯苓〔三錢雄黃染黃〕，茅蒼朮〔一錢土炒〕，廣木香〔五分〕，
柏子仁〔三錢正粒〕，石菖蒲〔五分〕，加桃葉七片為引。龍骨，陽物也，可以鎮驚，
可以祛崇，用之以治鬼瘧最宜，茯苓寧心，以雄黃染之，能祛鬼魅，蒼朮木香，
皆能殺一切之鬼也，柏子辟邪，菖蒲宣竅，桃葉發汗，開其鬼門，俾潛匿之邪，
盡從八萬四千毛竅而出也。</p>
<h4>補氣升陽法</h4>
<p>治氣虛患瘧，寒熱汗多，倦怠食減。西潞參〔三錢米炒〕，上黃耆〔二錢蜜炙〕，
於潛朮〔二錢米炒〕，粉甘草〔五分炙〕，廣陳皮〔一錢五分〕，
當歸身〔二錢酒炒〕，綠升麻〔五分〕，柴胡梢〔五分〕，加生薑兩片紅棗三枚為引。</p>
<p>此東垣補中益氣湯也，首用參耆朮草以埔其氣，陳皮以行其氣，弗使補而呆滯，
俾其補而靈動也，當歸以活其血，血氣流行，則邪不能容矣，升柴提其瘧邪，
薑棗和其營衛，此方治虛瘧，最為確當。</p>
<h4>營衛雙調法</h4>
<p>治灑寒烘熱，脈濡且弱，虛瘧癆瘧並宜。嫩桂枝〔一錢〕，黃耆皮〔二錢蜜炙〕，
當歸身〔一錢五分土炒〕，白芍〔一錢土炒〕，西潞參〔三錢〕，甘草〔五分炙〕，
加生薑二片紅棗三個煎服。古人云，胃者衛之源，脾者營之本，
今脾胃累虛而作寒熱者，宜以營衛雙調，故用桂耆護衛，歸芍養營，參草補益胃脾，
薑棗調和營衛，此從源本立方，勿見寒熱，便投和解。</p>
<h4>調中暢氣法〔見卷三第五十一頁〕</h4>
<h4>雙甲搜邪法</h4>
<p>治三日瘧，久纏不愈。穿山甲〔一錢醋炙〕，鱉甲〔一錢五分炙〕，木賊草〔一錢去節〕，
嫩桂枝〔一錢〕，製首烏〔三錢〕，鹿角霜〔二錢〕，東洋人參〔二錢〕，當歸身〔二錢土炒〕，
頭服輕煎次服濃煎。瘧邪深竄而成三瘧者，須此法也，穿山甲善竄之物，
主搜深踞之瘧，鱉甲蠕動之物，最搜陰絡之邪，木賊中空而輕，桂枝氣薄而升，
合而用之，不惟能發其深入於陰分之邪，而且能還於陽分之表，以何首烏養其陰也，
鹿霜助其陽也，人參益其氣也，當歸補其血也，陰陽氣血並復，
則瘧邪自無容身之地矣。</p>
<h4>清宣溫化法</h4>
<p>治秋時晚發之伏暑，并治溼溫初起。連翹〔三錢去心〕，杏仁〔二錢去皮尖研〕，
瓜蔞殼〔三錢〕，陳皮〔一錢五分〕，茯苓〔三錢〕，製半夏〔一錢〕，甘草〔五分〕，佩蘭葉
〔一錢〕，加荷葉二錢為引。連翹寒而不滯，取其清宣，杏仁溫而不燥，取其溫化，
蔞殼宣氣於上，陳皮化氣於中，上中氣分，得其宣化，則新涼伏氣，皆不能留，
茯苓夏草，消伏暑於內，佩蘭荷葉，解新邪於外也。</p>
<h4>潤下救津法〔見卷一第十二頁〕</h4>
<h4>辛溫解表法〔見卷一第十頁〕</h4>
<h4>清涼滌暑法〔見卷三第四十九頁〕</h4>
<h4>苦溫平燥法〔見卷六第一一七頁〕</h4>
<p><b>備用成方</b></p>
<h4>小柴胡湯</h4>
<p>治傷寒少陽證，往來寒熱，口苦耳聾，脅痛脈弦，瘧發寒熱，及婦人傷寒，
熱入血室等證。柴胡，半夏，黃芩，人參，甘草，加薑棗煎服。豐按此方，
專治寒熱往來，邪在少陽之瘧也，倘惡寒甚者，兼太陽也，宜加羌活，發熱甚者，
兼陽明也，宜加葛根。</p>
<h4>景岳木賊煎</h4>
<p>凡瘧疾形實氣強，多溼多痰者，宜此截之大效。木賊草，小青皮，製厚朴，製半夏，
檳榔，蒼朮，水煎露一宿，於未發之先二時溫服，能飲者，酒煎最妙。
豐按此方用木賊，取其入肝經氣分，蓋肝與膽相表裏，故可通治瘧疾，喜其輕能升散，
空能發汗，即太陽之餘邪未盡者，亦可用之，較柴胡更為穩耳。</p>
<h4>嚴氏清脾飲</h4>
<p>治瘧疾熱多寒少，口苦嗌乾，小便赤澀，脈來弦數。青皮，厚朴，柴胡，黃芩，
製半夏，草果仁，茯苓，白朮，甘草，加薑煎一方加檳榔瘧不止加酒炒常山烏梅。
豐按是方，即小柴胡湯加減，減人參人補，大棗之滯，以解少陽往來寒熱之邪，
其方不名清膽，而名清脾者何也，蓋因近世稱瘧為脾寒，其脾受寒而作瘧者，
亦屬不少，故加厚朴溫其脾胃，苓朮輔其中州，更加草果青皮，祛其瘧邪，
而脾自得清肅，故曰清脾，其存小柴胡法者，良由瘧不離乎少陽之意耳。</p>
<h4>麻杏甘石湯</h4>
<p>治溫瘧，先熱後寒。麻黃，杏仁，甘草，石膏，水煎服。豐按集解謂此方，
以治溫瘧，不知溫瘧係冬令伏邪，發於夏令，陽氣大泄之時，麻黃辛散，豈可用乎，
如體實壯熱無汗而喘者，只宜暫用，否則不可輕試，慎之慎之。</p>
<h4>柴平湯</h4>
<p>治溼瘧，身重身痛。柴胡，製夏，黃芩，人參，厚朴，蒼朮，陳皮，甘草，
加薑棗煎服。</p>
<h4>藿香平胃散</h4>
<p>治胃寒腹痛嘔吐，及瘴疫溼瘧。藿香，製夏，蒼朮，厚朴，陳皮，甘草，加薑棗煎服。</p>
<h4>太無神朮散</h4>
<p>治感山嵐瘴氣，憎寒壯熱，一身盡痛，頭面腫大，瘴瘧時毒。藿香，石菖蒲，蒼朮，
厚朴，陳皮，甘草，水煎溫服。豐按以上之方，治溼瘧瘴瘧之證，極為平妥，
但柴平湯之人參，必體弱氣虛者，乃可用之，倘不細審而概施之，恐補其氣而阻其邪，
病必增劇。</p>
<h4>人參敗毒散</h4>
<p>治傷寒頭痛，憎寒壯熱，及時氣疫癘，嵐障鬼瘧，腮腫毒痢，諸瘡斑疹。人參，
茯苓，枳殼，桔梗，羌活，獨活，前胡，柴胡，川芎，薄荷，甘草，加生薑三片煎服。
豐按此方，非但主治傷寒疫癘鬼瘧等證，而嘉言每以治痢，亦屢奏功，
豐遇瘧痢兩兼之證，用之更有神效，誠良方也。</p>
<h4>咒法</h4>
<p>鬼瘧不能愈者，可用咒法治之，取紅棗一枚，面東念咒曰，吾從東方來，
路逢一池水，水中一條龍，九頭十八尾，問伊食甚的，惟食瘧病鬼，念一遍，
吹一口氣在棗兒上，念七遍，吹七口氣，令病人於臨發曰五更雞犬不聞時，
面東立食之，於淨室安養，忌食生冷葷腥為要。豐按用咒法者，足能令人膽壯，
膽壯則邪自遁，不獨專治鬼瘧而他瘧偶亦有靈。</p>
<h4>截瘧七寶散</h4>
<p>治實瘧久發不已，鬼瘧食瘧皆治之。常山〔酒炒〕，草果〔煨〕，青皮，陳皮，檳榔，
厚朴〔薑製〕，甘草，等分用酒水各一杯煎好以紗蓋之露一宿於當發之早面東溫服。
局方常山飲，瘧久不止者，用此截之。常山〔火酒炒二錢〕，草果〔煨二錢〕，
檳榔〔一錢〕，烏梅〔二個〕，知母〔一錢〕，貝母〔去心一錢〕，
加生薑三片棗一枚半酒半水煎露一宿日未出時面東空心溫服。</p>
<h4>子和常山散</h4>
<p>治痰瘧神效。常山〔一兩〕，甘草〔二兩五錢〕，右為細末水煎空心服之取吐。
豐按常山之功，在乎祛痰截瘧，其性猛烈，體稍虛者，不可遽用。鱉甲飲，
治瘧久不愈，腹中結塊，名曰瘧母。白朮，黃耆，川芎，白芍，檳榔，草果，厚朴，
陳皮，鱉甲，甘草，等分薑三片棗一枚烏梅少許煎。</p>
<h4>四獸飲</h4>
<p>治瘧病胃虛，中挾痰食。人參，茯苓，白朮，炙草，陳皮，製夏，草果，烏梅，
加薑棘煎服。豐按前方用耆朮烏梅，此用參朮烏梅，皆是補中兼收，非體虛久瘧，
切弗輕試。</p>
<h4>追瘧飲</h4>
<p>瘧甚佳，凡血氣未衰，屢散之後，而瘧有不止者，用此截之，已經屢驗。何首烏，
當歸，青皮，陳皮，柴胡，半夏，甘草，井水河水合煎。何人飲，截瘧如神，
凡氣血俱虛，久瘧不止可服。何首烏，人參，當歸，陳皮，煨生薑，
水煎八分於發前二三時溫服之。</p>
<h4>休瘧飲</h4>
<p>此止瘧最妙之劑，若汗散既多，元氣不復，或以衰老，或以弱質，而瘧有不能止者，
俱宜用此，此化暴善後之第一方也。人參，白朮，何首烏，當歸，炙甘草，
煎七分食遠服。豐按以上三方，皆景岳治瘧之劑，揆其用意，在乎少陽，
觀其治實瘧者，每以木賊，治虛瘧者，不離首烏當歸，蓋木賊疏肝透邪，歸烏滋肝養血，
肝與膽相為表裏，其意在少陽者，可想而知矣。</p>
<h3>臨證治案</h3>
<h4>虛寒之體忽患暑瘧</h4>
<p>建陵靳某之妾，於仲秋忽患暑瘧，連日一作，寒灑熱蒸，汗出如雨，口渴欲飲，
脈來弦滑，舌苔微黃，此暑瘧也，靳問曰，因何致病，豐曰，良由暑月貪涼，
過食生冷，其當時為患者，是為陰暑，伏匿日久，至今而發者，
即內經所謂夏傷於暑，秋為痎瘧是也，即用清營捍衛法，服下益熱，急邀復診，
脈之轉為弦遲，詢之口反不渴，豐曰，此瘧邪外達之徵，請勿慮耳，觀其形體肥白，
知其本質虛寒，改用溫補為主，以理中湯加豆蔻製夏蜀漆柴胡，薑棗為引，
以河井水合煎，連嘗三劑，瘧邪遂遁矣。</p>
<h4>暑瘧熱盛逼血上吐</h4>
<p>城南葉某之子，偶染瘧疾，邀豐診之，脈象迢迢有力，寒熱間日而來，口渴喜涼，
熱退多汗，此為暑瘧，遂用清營捍衛，法去木賊，加藿香草果柴胡甘草治之，
服下瘧勢仍來，尤吐鮮紅數口，復按其脈，轉為弦大而數，必因暑熱內炎，
逼傷血絡所致，思古聖有治病必求其本之訓，此證暑熱是本，吐血是標，
可不必見病治病也，即用清涼滌暑法去扁豆，加黃芩知母治之，連進兩貼，瘧發漸早，
熱勢漸輕，不知不覺而解，血恙亦未復萌。</p>
<h4>截瘧太早變成腫脤</h4>
<p>西鄉鄭某，偶患瘧疾，熱重寒微，口渴便瀉，先用符禁未效，又服斷截之藥，
瘧與瀉並止矣，數日後腹中忽脹，小便短少，來舍就診，兩手脈鈍，沉取尚強，
此乃暑瘧夾溼之證，其邪本欲向表分裏而出，誤用截法，阻其邪路，暑欲達表而不能，
溼欲下行而不得，交阻於中，氣機不行而成腫脹，法當治標為先，
即以木瓜蒿藿以解其暑，芩蒼通草以行其溼，又以青皮厚朴杏粒檳榔，
行其氣而寬其膨，服下稍為中病，每得一矢氣，腹內略鬆，更加菔子以破其氣，
雞金以消其水，服之矢氣更多，溺亦通快，其腹逐漸消去，後用調脾化氣，得全安耳。</p>
<p>江誠曰，觀以上三案，雖暑瘧之輕證，但其夾證各有不同，設不細辨而妄治之，
則輕證轉重，重證轉危耳，如靳案本體虛寒，得溫補而愈，葉案暑熱劫絡，
得清劑而安，鄭案夾溼變脤，得破削而寬，可見醫法，有一定之理，無一定之方，
倘膠於某證某藥，則鈍根莫化矣。</p>
<h4>風瘧時邪乘入血室</h4>
<p>城南龔某之女，先微寒而後發熱，口渴有汗，連日三發，脈弦而數，舌苔黃膩，
此因夏傷於暑，加感秋風，名風瘧也，遂用辛散太陽法去羌活，加秦艽藿梗治之，
服二帖瘧勢未衰，漸發漸晏，且夜來頻欲譫語，復診其脈，與昨彷彿，俱左部之形力，
頗勝於右，思仲景有云，晝則明了，夜則譫語，是為熱入血室，今脈左勝，
疑其血室受邪即詢經轉未曾，其母曰，昨來甚寡，以後未行，此顯然邪入血室之證也，
姑守前方去防風淡豉，加當歸赤均川芎柴胡，服之經水復來，點滴而少，譫語亦減，
惟瘧疾仍然，再復其脈，左部轉柔，餘皆弦滑，已中病藪，可服原方，
幸得瘧勢日衰一日，改用宣透膜原法加柴胡紅棗治之，疊進三煎，瘧邪遂解。</p>
<p>程曦曰，時證易治，兼證難療，若此案不細詢其經事，則醫家病家，兩相誤也，
倘見譫語之證，而為邪入心包，或為胃家實熱，清之攻之，變證必加，
苟不熟仲景之書，而今日之證，必成壤病矣，吾師嘗謂不通仲景之書，不足以言醫也，
信夫。</p>
<h4>寒瘧之證溫補治驗</h4>
<p>城東潘某，體素豐滿，大便常溏，中土本屬虛寒，固無論矣，忽於孟秋寒熱交作，
肌膚汗少，即延醫診，遂作陰暑論治，輒投四味香薷飲加寒涼之劑，未獲奏效，
即來商治於豐，診其脈弦而兼緊，舌苔白薄，寒先熱後，隔日而來，此寒瘧也，
良由體質本寒，加感秋涼致病，若果陰暑之證，在長夏而不在秋，況陰暑之寒熱，
從未見隔日而發，當用附子理中湯加柴胡草果藿香陳皮治之，服二劑周身微汗，
寒熱略清，繼服二帖，瘧邪遂未發矣。</p>
<h4>溼瘧之證辛散獲效</h4>
<p>新定王某之室，浣衣度活，平日難免無溼所受，患瘧半月以來，前醫之法無效，
懇豐治之，切脈緩大有力，遍身浮腫而疼，寒熱汗無，連日一發，此明是溼邪為瘧也，
思先哲有風能勝溼之論，宜以辛溫散邪，遂以羌活滲溼湯加草果厚朴為治，
先服二劑小效，繼服二劑全瘥。</p>
<h4>溫瘧誤為暑熱</h4>
<p>豫章張某，於仲夏中旬，發熱連日，口渴喜飲，醫者皆作暑熱論治，
所用不離藿薷滑扁等藥，未臻效驗，轉商豐治，診之脈濡且弱，舌苔微燥而黃，
合其見證恭之，似屬暑熱，但其未審既熱之後，每有灑淅惡寒之證，
此即內經所謂先熱後寒，病以時作，名曰溫瘧是也，溫瘧之證，最易傷陰，切忌溫散，
治宜清涼透邪法，服之熱勢已挫，口渴依然，仍守原方，益以麥冬鮮地，連服三劑，
始得全愈。</p>
<h4>產後癉瘧熱補至變</h4>
<p>四明沈某之室，誕後將匝月以來，忽然壯熱汗多，口渴欲飲，有謂產後陰虛，
陽無所附，有謂氣血大虛，虛熱薰蒸，皆用溫補之方，嚴禁寒涼之藥，
見病者忽爾尪羸，日晡發熱，益信其為蓐癆，愈增熱補，更加唇焦齒燥，舌絳無津，
復請前二醫合議，議用導龍入海，引火歸源之法，不但諸證未減，尤加氣急神昏，
始來商之於豐，豐即往診，兩手之脈，皆大無倫，推其致病之因，閱其所服之藥，
實因誤補益劇，非病至於此險也，沈曰，此向證也，豐曰，乃癉瘧也，
此即古人所謂陰氣先傷，陽氣獨發，不寒癉熱，令人消爍肌肉，當用甘涼之劑治之，
曰，產後用涼，可無害乎，曰，有病則病當之，若再躊躕，陰液立涸，必不可救矣，
即用甘寒生津法，加西洋參紫雪丹治之，頭煎服下，未見進退，次煎似有欲寐之形，
大眾見之，無不疑昏憒之變，復來請診，脈象稍平，唇舌略潤，諸恙如舊，
但增手戰循衣，豐曰，此陰陽似有相濟之意，無何肝風又動之虞，仍守原章，
佐以阿膠龜版，及雞子黃，令其濃煎溫服，是夜安神熟寐，熱勢大衰，次早診之，
諸逆證皆已屏去，幾以清滋補養，調理兩月方瘳。</p>
<h4>陰邪入腎發為牝瘧</h4>
<p>江南陶某之室，寡居五載，腰如兩截，帶下淋滴，時值中秋，炎蒸如夏，
或當風而納涼，或因渴而飲冷，其陰邪乘虛而陷少陰，發為牝瘧，脈來沉小之象，
畏寒而不甚熱，肌膚浮腫，面色痿黃，飲食減少而乏味，小水淡黃而欠舒，
此陰虛邪陷之證，顯而易見，豐用金匱腎氣去萸肉丹皮，加乾薑蒼朮，連服十餘劑，
諸恙全安。</p>
<h4>寒溼入脾證成牝瘧</h4>
<p>金陵張某，作客來衢，形素豐肥，向有盧仝之癖，其體屬寒溼者，先露一斑，
忽患間日惡寒，按時而至，胸前痞悶，口不作乾，脈緩近遲，苔膩而白，此牝瘧也，
古人雖有邪氣伏藏於心於腎之論，但今之見證，皆屬乎脾，宜用平胃合二陳，
加乾薑草果白蔻砂仁治之，令嘗五劑，三日服盡，諸證咸瘥。</p>
<p>程曦曰，凡學醫者，必須天機活潑，毫無膠固之人而後可，如趙喻註金匱，
皆言邪舍於心，石頑正其失，專言邪藏乎腎，吾師前以石頑之訓為準繩，今觀是案，
又謂在脾，其實非矛盾也，良由見證而斷也，總因間日惡寒，按時而至，稱為牝瘧，
可見醫者，審證為第一耳。</p>
<h4>瘧發昏迷治痰得效</h4>
<p>南鄉酆某之母，年逾六旬，偶沾瘧疾，淹纏數月，藥石無功，乘興來舍就診，
診其脈，兩手皆弦，其瘧連日而發，每於薄暮時，先微寒而後微熱，神識漸漸昏悶，
約一時許始甦，日日如是，閱前醫之方，皆不出小柴胡湯清脾飲等法，思其發時昏悶，
定屬痰迷，即以二陳湯加老蔻藿香杏仁草果潞參薑汁治之，連進三劑，神識遂清，
繼服二劑，寒熱亦卻。</p>
<h4>時行疫瘧</h4>
<p>已卯夏五，患寒熱者甚眾，醫者皆以為瘧，所用咸是小迆胡湯清脾飲，
及何人飲休瘧飲等方，未有一方奏效，殊不思經謂夏傷於暑，秋必痎瘧，
瘧每發于秋令，今於芒種夏至而發者何也，考崴氣陽明加於少陽，天政布涼，
民病寒熱，斯時病瘧者，盡是時行疫瘧也，有建德錢某來舍就醫，曰，患瘧久矣，
請先生截之，豐曰，此乃時行疫瘧，遂用宣透膜原法加豆卷乾薑治之，其效捷於影響，
後來求治者，皆與錢病無異，悉以此法治之，莫不中窾，可見疫瘧之病，
不必拘瘧門一定之方，又不必拘一定之證，更又不必拘一定之時，但其見證相同，
而用藥亦相同者，斷斷然矣。</p>
<h4>鬼瘧屬陰得眾人陽氣而解</h4>
<p>東鄉葉某，自初秋患瘧，至孟冬未愈，每每發於午後，寒不甚寒，熱不甚熱，
言語錯亂，如見鬼神，至後半夜，神識遂清，倦怠而寐，日日如是，曾延醫治，
盡屬罔靈，請豐診之，兩手之脈，不調之至，曰此鬼瘧也，即用驅邪辟崇法去龍骨，
加草果常山，服之神氣稍清，瘧仍未解，時值鄰村會戲，熱鬧異常，病者往觀，
在眾人堆內，擁擠不出，得周身大汗，越過瘧期，寒熱遂未發作，此分明鬼瘧無疑，
蓋熱鬧場中，眾人堆內，陽氣旺極，其陰邪不能勝陽，故瘧鬼不得纏身而遁。</p>
<h4>久瘧陰虛及陽</h4>
<p>鑑湖黃某之內，患瘧三年，尪羸之至，無醫不迓，靡藥不嘗，邀豐治之，
脈象纖微無力，灑寒烘熱，每發於申酉之時，舌淡無榮，眠食俱癈，大便溏薄，
月水不行，豐曰，此虛瘧也，出方閱之，計有數百餘紙，聊審近日之方，非參耆朮草，
即地芍歸膠，未嘗有一劑浮鼓，細思是證，乃瘧邪深踞於陰，陰虛及陽之候，
即用製首烏五錢，補其陰也，淡附片三錢，補其陽也，鱉甲二錢，青蒿五分，
搜其陰分久踞之邪，鹿霜三錢，羌活五分，隨即領邪而還於表，東洋參三錢，
炙甘草八分，補其正而禦其邪，生薑二片，紅棗五枚，安其內而攘其外，
諸藥雖經服過，然製方實屬不同，古云用藥如用兵，孰為主將，孰為先鋒，指揮得法，
自可望其破壘耳，黃某深信，即使人揀來煎服，二劑寒熱覺輕，又二劑，精神稍振，
再又二劑，諸痾盡卻，調補三月，月信始行，起居猶昔矣。</p>
<h4>體虛勞瘧</h4>
<p>安徽汪某，體本虛怯，飲食並減，神氣極疲，精遺於夢，汗漏於寐，閒居靜養，
諸恙如無，偶有煩勞，遂作寒熱等證，延豐診之，脈來小濇，此屬勞瘧之證，
分明若繪矣，擬用何人散加鱉甲牡蠣茯神龍骨，令服十餘劑，調養數月而康。
瘧母破劑無效溫補鹹軟得安南鄉傅某，自同治紀元，患瘧之後，
左脅下結成一塊即瘧母也，迄今十五載矣，身體安然，不知不覺，每一違和，
漸次居中，初服常山飲子，後用鱉甲煎丸，皆無效驗，因停藥勿治，邇苦眩暉遺精，
耳鳴盜汗，曾用六黃兼六味，服之雖妥，但其痞塊，漸大漸中，將有變蠱之勢，
脈形緩滯，兩尺皆弱，先天虧損，斷斷無疑，消破之劑，決難浪施，
余用桂附八味加龍骨牡蠣龜版鱉甲，蜜丸，服一料諸恙少減，二料得全瘥矣。</p>
<h4>瘧母攻破致死</h4>
<p>歙北一醫，在吾衛名冠一時，時有里人范某，久患瘧母，寢食若舊，動作如常，
聞此醫欲歸梓里，恐郡內諸醫，不能杜其病根，即商其治，所用硝黃枳朴巴豆蓬棱，
一派攻伐之劑，未數日腹如覆釜，神氣頓疲，飲食減少，病勢日加一日，至於危急，
始來商治於豐，診其脈沉小而濇，此因攻破太猛，正氣受傷之候，證弗易治，
囑商明手，其兄再四哀求，不得已，勉以香砂六君損益，服之未效，復請固辭，
再商他醫，終不能起。</p>
<p>程曦曰，古人謂不服藥為中醫，誠哉是言，歷見因病致死者少，因藥致死者多，
若此病是藥速其亡也，不思李念莪云，養正則邪自除，譬如滿痤皆君子，一二小人，
自無容身之地，曦之鄙見，當補正為君，稍兼攻積，庶乎穩妥，偏於攻破，非法也。</p>
<h4>三瘧擾傷氣血補益得效</h4>
<p>南鄉李某，患三日瘧，纏線兩三載，方藥靡效，近用多是甜茶，服之嘔吐，
吐傷胃氣，穀食減少，神氣愈疲，而瘧疾仍來，來舍求治於豐，診其脈緩濇沉弦，
形色清癯之至，此氣血陰陽受虧之象也，非補益不能望痊，即用製首烏五錢，潞黨四錢，
鱉甲鹿霜各二錢，乾薑附片各八分，囑服十劑，臨發之日勿服，至第八劑，
寒熱遂未發矣，復來就診曰，先生之方，效於拔刺，然諸藥前醫亦曾用，
而未驗者何也，豐曰，一則藥味雜亂，二則服法未精，不知間二日之瘧，其邪深，
其正虛，所以用補法於未發之先助其氣血陰陽，則邪不能勝正而自止矣，
今脈轉為緩小，沉分亦然，瘧邪果遠遁也，當守舊法，加之熟地歸身，薑棗為引，
連服十劑而安。</p>
<h4>產後三瘧久纏</h4>
<p>北鄉杜某之內，自誕後氣血未復，偶沾三瘧，糾纏半載未瘳，發時背如負重，
腰如兩截，寒灑灑欲覆被，熱烘烘欲思飲，診其脈，舉之若浮綿，按之不滿部，
面色白而無榮，舌色淡而無苔，此屬奇經本虛，瘧邪竄入於陰，陰虛及陽之證，
斯宜未發之日，大補奇脈陰陽，俾正氣復充，邪氣自卻，倘以常山草果，專治其瘧，
便是舍本求末矣，豐用東參熟地鹿霜狗脊龜版牡蠣炙耆桂枝，薑棗為引，
約服二十餘劑，瘧始脫體。或問曰，曾見景岳治瘧，每迎其銳而擊之，最捷最效，
今先生治瘧，用藥於未發之先，究遵景岳耶，抑遵先生耶，答曰，治初患之瘧，
邪氣方盛，正氣未虛，可以迎其銳而擊之，久患之瘧，邪氣深陷，正氣已虛，
則不可耳，故於未發用補，補其正氣，正氣旺，則邪自衰，不用擊而瘧自罷矣。</p>
<h4>伏暑過服辛溫改用清涼而愈</h4>
<p>武林陳某，素信於豐，一日忽作寒熱，來邀診治，因被兩阻未往，伊有同事知醫，
遂用辛散風寒之藥，得大汗而熱退盡，詎知次日午刻，熱勢仍燃，汗多口渴，
痰喘宿恙又萌，脈象舉取滑而有力，沉取數甚，舌苔黃黑無津，豐曰，此伏暑病也，
理當先用微辛，以透其表，荊防羌芷，過於辛溫，宜乎劫津奪液矣，今之見證，
伏邪已化為火，金臟被其所刑，當用清涼滌暑法，去扁豆通草，加細地洋參，
服二劑舌苔轉潤渴飲亦減，惟午後尚有微燒，姑照舊方，更佐蟬衣荷葉，又服二劑，
熱後汗解，但痰喘依然，夜臥不能安枕，改用二陳加蘇葶旋杏，服之又中病機，
後議補養常方，稛載歸里矣。</p>
<h4>產後伏暑</h4>
<p>城東孔某之室，素來多病，其體本孱，分娩三朝，忽然頭痛難忍，寒熱無汗，
大渴引飲，脈來浮大之象，此肌表重感秋涼，而曩伏之暑熱，觸動而繼起矣，
詢知惡露勻行，腹無脹痛，生化成方，可勿用耳，即以白芷青蒿秦艽芥當歸川芎，
加敗醬草合為一劑，蓋白芷為產後疏風妙藥，青蒿乃產後卻熱最宜，
秦艽荊芥活血散風，當歸川芎生新去瘀，本草謂敗醬草味苔而平，主治產後諸病，
此方最穩，請服二煎，其熱從汗而退，次日邀診脈象頓平，詢之口亦不渴，
惟覺神倦少眠，此伏暑已隨秋涼而解，心脾被邪擾攘而虧，當守原方去白芷之香燥，
荊芥之辛散，加茯神柏子以安神，神安自熟寐矣，又加西潞炙草以扶元，
元復自強健矣，後用八珍損益，未及半月而康。</p>
<h2>時病論卷之六</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衢雷豐少逸手著</p>
<p>受業〔新安程曦錦雯盈川江誠抱一〕恭定</p>
<h3>秋傷於溼大意</h3>
<p>土寄於四季之未，四時皆有溼氣，何獨經謂秋傷於溼乎，蓋一歲之六氣者，
風君相溼燥寒也，推四之氣，大暑至白露，正值溼土司權，是故謂之秋傷於溼，
鞠通先生列溼溫於夏未秋初，誠有高見，豐謂因溼為病者有六，一曰傷溼，一曰中溼，一曰冒溼，
一曰溼熱，一曰寒溼，一曰溼溫，蓋傷溼者，有表裏之分焉，在表由於居溼涉水，
雨露沾衣，從外而受者也，在裏由於喜飲茶酒，多食瓜果，從內而生者也，中溼者，
卒然昏倒，頗與中風相似，冒溼者，因冒早晨霧露，或冒雲瘴山嵐，溼熱者，
夏末秋初感受為多，他時為少，寒溼者，先傷於溼，後傷生冷，溼溫者，溼釀成溫，
溫未化熱，最難速愈，非寒溼之證，辛散可化，溼熱之證，清利可平之比也，此六者，
皆溼邪之為病耳，喻嘉言先生又謂秋傷於燥，發出秋燥之論，其說未嘗有謬，
據按六氣而論，其實溼氣在於秋分之前，燥氣在於秋分之後，理固然矣，
姑附秋燥一條，以備恭考。</p>
<h4>傷溼</h4>
<p>傷溼之病，原有表裏之因，蓋傷乎表者，因於居溼涉水，雨露沾衣，其溼從外而受，
朿於軀瞉，證見頭脹而𤻴，胸前作悶，舌苔白滑，口不作渴，身重而痛，發熱體疲，
小便清長，脈浮而緩，或濡而小者，此言溼邪傷於表也，又有傷於裏者，
因於喜飲茶酒，多食瓜果，其溼從內而生，踞於脾臟，證見肌肉隱黃，脘中不暢，
舌苔黃膩，口渴不欲飲水，身體倦怠，微熱汗少，小便短赤，脈沉而緩者，
此言溼氣傷於裏也，李時珍曰，凡風藥可以勝溼，利小便可以引溼，
為治表裏溼邪之則也，豐師其法，治表溼宜辛散太陽法減去桂豉，加之蒼朴，
俾其在表之溼，從微汗而解也，治裏溼宜通利州都法，俾其在表之溼，從小便而去也，
傷溼之證，務宜分表裏而治之，斯為確當。倪松亭云，治溼之道非一，當細察而藥之，
如溼氣在於皮膚者，宜用麻桂二朮之屬，以表其汗，譬如陰晦非雨不晴也，
亦有用羌防白芷之風藥以勝溼者，譬如清風薦爽，溼氣自消也，水溼積於腸胃，
肚腹腫脹者，宜用遂戟芫牽之屬以攻其下，譬如水滿溝渠，非導之不去也，
寒溼在於肌肉筋骨之間，拘攣作痛，或麻痺不仁者，宜用薑附丁桂之屬以溫其經，
譬如太陽中天，則溼自乾也，溼氣在於臟腑之內，肌膚之外，微而不甚者，
宜用朮蒼朴夏之屬以健脾燥溼，譬如些微之溼，以灰土糝之，則溼自燥也，
溼氣在於小腸膀胱，或腫或渴，或小水不通，宜用二苓車瀉之屬以滲利之，
譬如水溢溝澮，非疏通其竇不達也，學者能於斯理玩熟，則治溼之法，必中鵠矣。
豐按此論，可為治溼之提綱，醫者勿忽。</p>
<h4>中溼</h4>
<p>中溼者，即類中門中之溼中也，蓋溼為陰邪，病發徐而不驟，今忽中者，
必因脾胃素虧之體，宿有痰飲內留，偶被溼氣所侵，與痰相摶而上沖，令人涎潮壅寒，
忽然昏倒，神識昏迷，與中風之證，亦頗相似，但其脈沉緩沉細沉濇之不同，
且無口眼喎斜不仁不用之各異，此即丹溪所謂溼熱生痰，昏冒之證也，
宜以增損胃苓法去豬苓澤瀉滑石，加蘇子製夏遠志菖蒲治之，倘有痰築喉間，
聲如鼎沸，誠有須臾變證之虞，可加蘇合香丸，分為兩次沖服，倘得痰平人省，
始有轉機，否則不可救也。</p>
<h4>冒溼</h4>
<p>冒溼之病，得之於早晨霧露，雲瘴山嵐，或天陰淫雨，晴後溼蒸，初受其氣者，
似乎有物蒙之，以致首如裹，遍體不舒，四肢懈怠，脈來濡緩之象，
宜用宣疏表溼法取其微汗，仿嘉言貴徐不貴驟之意，俾其溼邪還表而解，
毋使其由表而入於裏，倘或脘中痞悶，微熱汗少，小便短赤，是溼邪己入於裏也，
宣疏之劑，又不相宜，宜改通利之方，自然中的，傷溼條內，須恭閱之。</p>
<h4>溼熱</h4>
<p>賈氏曰，夏熱則萬物溼潤，秋涼則萬物乾燥，若此論之，溼熱之證，
在長夏而不在秋，豈非與內經之秋傷於溼不合耶，細思之，斯二句書，不重夏秋二字，
當重在熱涼二字也，蓋熱蒸則濕，涼勝則燥，理固然矣，即立秋處暑之令，炎蒸如夏，
患者非秋濕，即秋暑，其實秋令之濕熱，亦必夾濕熱，亦必夾之秋暑也，
考溼熱之見證，身熱有汗，苔黃而澤，煩渴溺赤，脈來洪數是也，
當用通利州都法治之，如大便秘結，加瓜蔞薤白，開其上以潤其下，如大便未下，
脈形實大有力者，是溼熱夾有積滯也，宜本法內加元明粉製大黃治之。</p>
<p>或問曰，先賢嘗謂暑必夾溼，今先生謂溼熱夾暑，有是說乎，答曰，小暑之節，
在於相火之後，大暑之氣，在於溼土之先，故先賢有暑必夾溼之訓也，豐謂溼熱夾暑，
專在大暑至白露而言，蓋斯時溼土主氣，暑氣漸退，溼令方來，而溼甚於暑者，
故謂之溼熱夾暑也，又問曰，章虛谷錄薛生白溼溫之條，加之註解，
統以溼溫稱為溼熱，今先生分門而論者何也，曰，溼體本寒，寒溼可以溫散，
醞釀成熱，熱溼可以清通，惟溼溫不熱不寒，最為難治，斷不可混溼溫為溼熱，
理當分列溼熱溼溫為二門，又問曰，溼熱致病者多，何略而弗詳乎，曰，因溼致病者，
固屬不少，如腫滿黃疸淋濁等證，諸先賢皆早詳於雜證之書，是編專論時病，
毋庸疊贅可耳。</p>
<h4>寒溼</h4>
<p>傷溼又兼寒，名曰寒溼，蓋因先傷於溼，又傷生冷也，夫寒溼之證，
頭有汗而身無汗，遍身拘急而痛，不能轉側，近之則痛劇，脈緩近遲，小便清白，
宜以辛熱燥溼法治之，毋使其醞釀成溫，而成濕溫之病，溫甚成熱，而成濕熱之病，
又毋使其變為痰飲，伏而不發交冬發為咳嗽之病，由是觀之，可不速罄其溼乎，
須知寒溼之病，患於陽虛寒體者為多，辛熱燥溼之法，未嘗不為吻合，溼熱之證，
患於陰虛火體者為多，此法又宜酌用耳，貿貿者，不別病之寒溼熱溼，體之陰虛陽虛，
一遇溼病，概投通利之方，若此鹵莽，未有不誤人者也。</p>
<h4>溼溫</h4>
<p>溼溫之病，議論紛紛，後學幾無成法可遵，有言溫病復感乎溼，名曰溼溫，
據此而論，是病乃在乎春，有言素傷於溼，因而中暑，暑溼相摶，名曰溼溫，據此而論，
是病又在乎夏，有言長夏初秋，溼中生熱，即暑病之偏於溼者，名日溼溫，據此而論，
是病又在乎夏末秋初，細揆三論，論溼溫在夏未秋初者，與內經秋傷於溼之訓，
頗不齟語，又與四之氣大暑至白露，溼土主氣，亦屬符節，當宗夏末秋初為界限也，
所有前言溫病復感於溼，蓋溫病在春，當云溫病夾溼，言素傷於溼，因而中暑，
暑病在夏，當云中暑夾溼，皆不可以溼溫名之，考其致病之因，良由溼邪踞於氣分，
醞釀成溫，尚未化熱，不比寒溼之病，辛散可瘳，溼熱之病，清利乃解耳，是病之脈，
脈無定體，或洪或緩，或伏或細，故難以一定之脈，印定眼目也，其證始惡寒，
後但熱不寒，汗出胸痞，舌苔白，或黃，口渴不引飲，宜用清宣溫化法去連翹，
加厚朴豆卷治之，倘頭痛無汗，惡寒身重，有邪在表，宜用宣疏表溼法，
加葛羌神麯治之，倘口渴自利，是溼流下焦，宜本法內去半夏，加生米仁澤瀉治之，
倘有脛冷腹滿，是溼邪抑遏陽氣，宜用宣陽透伏法去草果蜀漆，加陳皮腹皮治之，
如果寒熱似瘧，舌苔白滑，是為邪遏膜原，宜用宣透膜原法治之，如或失治，
變為神昏譫語，或笑或痙，是為邪逼心包，營分被擾，宜用袪熱宣竅法，
加羚羊鉤籐元參生地治之，如撮空理線，苔黃起刺，或轉黑色，大便不通，
此溼熱化燥，閉結胃腑，宜用潤下救津法，以生軍易熟軍，更加枳殼，
庶幾攻下有力耳，倘苔不起刺，不焦黃，此法不可亂投，溼溫之病，變證最多，
殊難罄述，宜臨證時活法可也。</p>
<h4>秋燥</h4>
<p>推六氣之中，燥金主氣，自秋分而至立冬，喻嘉言以燥令行於秋分之後，
所以謂秋不遽燥，確與氣運相合也，沈日南云，性理大全謂燥屬次寒，
奈後賢悉謂屬熱，大相徑庭，如盛夏暑熱炎蒸，汗出濈濈，肌肉潮潤而不燥也，
深秋燥令氣行，人體肺金應之，肌膚乾槁而燥，乃火令無權，故燥屬涼，
謂屬熱者非矣，豐細玩之，誠非謬也，凡治初患之燥氣，當宗屬涼擬法，夫秋燥之氣，
始客於表，頭微痛，畏寒咳嗽，無汗鼻塞舌苔白薄者，宜用苦溫平燥法治之，
若熱渴有汗，咽喉作痛，是燥之涼氣，已化為火，宜本法內陰去蘇荊桂芍，
加元參麥冬牛旁象貝治之，如咳逆胸疼，痰中兼血，
肺絡被燥火所劫，宜用金水相生法去東參五味，加西洋參旱連草治之，如諸證一無，
惟腹作脹，大便不行，此燥結盤踞於裏，宜用松柏通幽法治之，總而言之，燥氣侵表，
病在乎肺，入裏病在腸胃，其餘肝燥腎燥，血枯虛燥，皆屬內傷之病，茲不立論。
或問曰，先生遵喻氏秋燥論中秋不遽燥，燥氣行於秋分以後之說，殊未見醫醇賸義中，
論之最詳，又明出喻氏之謬，既謂燥氣行於秋分以後，而秋分以前四十五日，
全不關於秋燥矣，故云初秋尚熱，則燥而熱，深秋既涼，則燥而涼，
此誠是振聾發瞶之語，先生曷不遵之為龜鑑耶，答曰，子不知六氣循環，
亦疑喻氏之謬，不察大寒至驚蟄，主氣風木，春分至立夏，主氣君火，小滿至小暑，
主氣相火，大暑至白露，主氣溼土，秋分至立冬，主氣燥金，小雪至小寒，主氣寒水，
此年年之主氣，千古不易，由是而推，則由是而推，則燥金之令，
確在乎秋分而至立冬，而秋分以前之白露處暑立秋四十五日，猶是溼土主氣，
豈可誤為燥氣乎，子以為然否，或唯唯而退。</p>
<p>程曦曰，論燥氣者，首推嘉言，其次目南與通也，嘉言論燥，引大易水流溼，
火就燥，各從其類，乃論燥之復氣也，目南所論燥病屬涼，謂之次寒，乃論燥之勝氣也，
至鞠通論燥，有勝氣復氣，與正化對化，從本從標之說，可為定論，
乃曰如仲景用麻桂薑附，治寒之勝氣也，治寒之正化也，治寒之本病也，白虎承氣，
治寒之復氣也，治寒之對化也，治寒之標病也，能於此理悟通，
則燥氣之勝復正對本標，亦皆了然於胸中矣。</p>
<p>江誠曰，人皆知溫為熱，而不知燥為涼，以燥為熱者，蓋因燥字從火之弊耳，
試問既以燥為熱，曷不以溫字從水而為寒乎，不知四時之令，由春溫而後夏熱，
由秋涼而後冬寒，目南先生引性理大全之說，謂燥屬涼，真所謂千載迷津，
一朝點破耳。</p>
<h3>擬用諸法</h3>
<h4>辛散太陽法〔見卷五第九十三頁〕</h4>
<h4>通利州都法〔見卷三第四十九頁〕</h4>
<h4>增損胃苓法〔見卷四第六十九頁〕</h4>
<h4>宜疏表溼法</h4>
<p>治冒溼證，首如畏，遍體不舒，四肢懈怠。蒼朮〔一錢土炒〕，防風〔一錢五分〕，
秦艽〔一錢五分〕，藿香〔一錢〕，陳皮〔一錢五分〕，砂殼〔八分〕，生甘草〔五分〕，
加生薑三片煎服。此治冒溼之法也，君以蒼朮防秦，宣疏肌表之溼，被溼所冒，
則氣機遂滯，故臣以藿陳砂殼，通暢不舒之氣，溼藥頗燥，佐以甘草潤之，溼體本寒，
使以生薑溫之。</p>
<h4>辛熱燥溼法</h4>
<p>治寒溼之病，頭有汗而身無汗，遍身拘急而痛。蒼朮〔一錢二分土炒〕，
防風〔一錢五分〕，甘草〔八分〕，羌活〔一錢五分〕，獨活〔一錢五分〕，白芷〔一錢二分〕，
草豆蔻〔七分〕，乾薑〔六分〕，水煎服。法中蒼防甘草，即海藏神朮散也，
用於外感寒溼之證，最為中的，更加二活白芷，透溼於表，草蔻乾薑，燥溼於裏，
諸藥皆溫熱辛散，倘陰虛火旺之體，勿可浪投。</p>
<h4>清宣溫化法〔見卷五第九六頁〕</h4>
<h4>宣透膜原法〔見卷五第九十四頁〕</h4>
<h4>宣陽透伏法〔見卷五第九十五頁〕</h4>
<h4>袪熱宣竅法〔見卷一第十一頁〕</h4>
<h4>潤下救津法〔見卷一第十二頁〕</h4>
<h4>苦溫平燥法</h4>
<p>治燥氣侵表，頭微痛，畏寒無汗，鼻塞咳嗽。杏仁〔三錢去皮尖研〕，
陳橘皮〔一錢五分〕，紫蘇葉〔一錢〕，荊芥穗〔一錢五分〕，桂枝〔一錢蜜水炒〕，
白芍〔一錢酒炒微焦〕，前胡〔一錢五分〕，桔梗〔一錢五分〕，水煎溫服。
凡感燥之勝氣者，宜苦溫為主，故以橘杏蘇荊以解之，加白芍之酸，桂枝之辛，
是遵聖訓燥淫所勝，平以苦溫，佐以酸辛是也，秋燥之證，每多咳嗽，
故佐前桔以宣其肺，肺得宣暢，則燥氣自然解耳。</p>
<h4>金水相生法〔見卷四第七十二頁〕</h4>
<h4>松柏通幽法</h4>
<p>治燥結盤踞於裏，腹脹便閉。松子仁〔四錢〕，柏子仁〔三錢〕，冬葵子〔三錢〕，
火麻仁〔三錢〕，苦桔梗〔一錢〕，瓜蔞殼〔三錢〕，薤白頭〔八分〕，大腹皮〔一錢酒洗〕，
加白蜂蜜一調羹沖服。此仿古人五仁丸之法也，松柏葵麻皆滑利之品，潤腸之功非小，
較硝黃之推蕩尤穩耳，丹溪治腸痺，每每開提上竅，故以桔梗蔞薤開其上復潤其下，
更加大腹寬其腸，白蜜潤其燥，幽門得寬得潤，何慮其不通哉。</p>
<p><b>備用成方</b></p>
<h4>羌活勝溼湯</h4>
<p>治溼氣在表，頭痛頭重，或腰脊重痛，或一身盡痛，微熱昏倦。
羌活、獨活、川芎、藁本、蔓荊子、防風、甘草，水煎服。平胃散，治溼淫於內，
脾胃不能剋制者。蒼朮、陳皮、厚朴、甘草，為末薑湯下。</p>
<h4>除溼湯</h4>
<p>治傷溼腹痛，身重足軟，大便溏瀉。蒼朮、陳皮、茯苓、白朮、甘草，水煎服。
豐按經心錄，加肉桂牛膝杜仲澤瀉，更為切當，訒庵雖謂屬外感之溼，非腎虛也，
竊謂受邪之處，無有不虛，標本兼治，未嘗不妥。</p>
<h4>松峰達原飲〔又可達原飲有知母黃芩無黃柏梔子茯苓〕</h4>
<p>治溼熱盤踞膜原。檳榔、草果、厚朴、白芍、甘草、黃柏、梔子、茯苓，水煎服。
劉松峰日溫而兼溼，故去知母，而換黃柏以燥溼，且救水而利膀胱，去黃芩換梔子，
瀉三焦之火，而下行利水，加茯苓利小便而益脾胃，三者備，而溼熱除矣。</p>
<h4>三仁湯</h4>
<p>治溼溫胸悶不飢舌白不渴，午後身熱，狀若陰虛。
杏仁、蔻仁、生米仁、滑石、通草、竹葉、厚朴、製夏，水煎日三服。</p>
<h4>蒼苓白虎湯</h4>
<p>治溼溫身重，胸滿頭疼，妄言多汗，兩脛逆泠。蒼朮、茯苓、石膏、知母、生甘草，
加粳米煎服。豐按三仁湯，治溼溫之輕者，蒼苓白虎湯，治溼溫之重者，
當別見證而分治之。</p>
<h4>桂苓甘露飲</h4>
<p>統治溼溫溼熱。茯苓、豬苓、白朮、澤瀉、肉桂、滑石、石膏、寒水石，水煎溫服。
豐按此方，即五苓散加三石，蓋五苓利溼，三石清熱，治溼溫最合，倘治熱，
當去肉桂可也。</p>
<h4>杏蘇散</h4>
<p>治燥傷本藏，頭微痛惡寒，咳嗽稀痰，鼻寒嗌寒，脈弦無汗。
杏仁、蘇梗、茯苓、製夏、陳皮、甘草、枳殼、桔梗、前胡，加薑棗煎服。
清燥救肺湯，治諸氣膹鬱，諸痿喘嘔之因於燥者。麥冬，阿膠，杏仁，麻仁，桑葉，
枇杷葉，人參，甘草，石膏，水煎溫服。</p>
<h4>滋燥養營湯</h4>
<p>治火爍肺金，血虛外燥，皮膚皺揭，筋急爪枯，或大便秘結。當歸，黃芩，生地，
熟地，白芍，甘草，秦艽，防風，水煎溫服。</p>
<h4>蜜煎導法</h4>
<p>治陽明證，自汗，小便利，大便秘者。蜂蜜。
用銅器微火熬頻擾勿令焦候凝如飴捻作挻子頭銳如指，糝皂角末少許，乘熱納穀道中，
用手抱住欲大便時去之，〔加鹽少許亦可，鹽能潤燥軟堅〕。豐按六氣之中，
惟燥氣難明，今人治燥，動手非沙參玉竹，即生地二冬，不知燥有勝氣復氣，
在表在裏之分，如杏蘇散，是治燥之勝氣，清燥救肺湯，是治燥之復氣，滋燥養營湯，
血虛外燥者宜之，蜜煎導法，液虧裏燥者宜之，一偏滋補清涼，非法也。</p>
<h3>臨證治案</h3>
<h4>裏溼釀熱將成疽證</h4>
<p>徽商張某，神氣疲倦，胸次不舒，飲食減少，作事不耐煩勞，前醫謂脾虧，
用六君子湯為主，未效又疑陰虛，改用六味湯為主，服下更不相宜，來舍就診，
脈息沉小緩濇，舌苔微白，面目隱黃，豐曰，此屬裏溼之證，誤用滋補，使氣機閉塞，
則溼釀熱，熱蒸為黃，黃疸將成之候，倘不敢用標藥，蔓延日久，必難圖也，
即用增損胃苓法去豬苓，加秦艽茵陳查肉，雞金治之，服五劑胸脘得暢，黃色更明，
惟小便不得通利，仍照原方去秦艽，加木通桔梗又服五劑之後，黃色漸退，小水亦長，
改用調中補土之方，乃得全愈。</p>
<h4>裏溼誤補成鼓得破則愈</h4>
<p>西鄉鄭某，水溼內侵於脾，神疲肢軟，自疑為體虧而餌大棗，則腹皮日脹，
納食尤劇，來求豐診，兩手之脈，沉緩而鈍，以手按其腹，緊脹如鼓，此屬氣阻溼雷，
將成鼓脹之候，乘此體質尚實，正氣未衰，當用消破之劑，以治其標，
即以蓬朮檳榔青皮菔子乾薑官桂厚朴蒼朮，雞金為引，連服七劑而寬。</p>
<h4>中溼誤作虛風</h4>
<p>城東葉某，因公勞役，由遠方歸，覺眩暈神疲，自以為虧，先服東參龍眼，
即延醫治，乃作水不涵木，木動生風論治，服藥後忽倒，神識糢糊，急求治於豐，
診得脈象，沉小而滑，思脈沉肢冷為中氣，今肢不冷者非，忽倒神昏似中風，
然無口眼喎斜者又非，推其起病之初，有眩暈神疲等證，其神疲者必因溼困於脾也，
眩暈者，無痰不作也，此宿伏之痰，與新侵之溼，相搏上沖所致，斯為中溼證也，
即用宣竅導痰法加竹瀝薑汁治之，三劑而神醒矣，後用六君為主，以收全效。</p>
<h4>秋溼時令忽患暴中</h4>
<p>丁丑孟秋，炎蒸如夏，乍雨如霉，患急病者甚眾，有城北王某，刈稻歸來，
正欲晚餐，倏然昏倒，不知人事，痰響喉間，吾衢土俗，以為齷齪，即倩人揪刮，
神識略見清明，邀豐診之，脈來沉細，舌苔白滑，豐曰，此中溼也，傍有一醫曰，
沉細之脈，白滑之苔，當是中寒，分明四逆大順之證，豐曰，欲用桂附，
則予謝不敏矣，彼醫不言而退，其妻泣涕求治，豐聞呼吸之聲，將有痰起，風雲之變，
恐在頃刻，即用藿香神麯川朴杏仁製夏陳皮菖蒲遠志竹瀝薑汁合為一劑，
服之未有進退，令加蘇合香丸，痰響漸平，人事稍醒，守舊略為增損，連嘗數劑而瘥。</p>
<p>江誠曰，舌苔白滑，寒象也，沉細之脈，少陰中寒也，考今歲又係太陽在泉寒淫於內，
彼醫謂中寒，欲用四逆大順，似乎相像，不知中寒中溼，大有攸分，以脈舌而論，
似屬中寒，以時令而論，實為中溼，雖脈沉細，舌苔白滑，但無吐瀉腹痛肢冷等證，
豈可遽認為寒，四逆大順，豈可隨手而用，況在孟秋，正值溼土主氣，相火客氣，
又非寒水加臨之候，故是證直斷為溼，而用宣竅導痰之藥，以收效耳。</p>
<h4>溼溫誤作伏暑</h4>
<p>錢江陸某，偶患溼溫時氣，延醫調治，從伏暑立方，未效來迓於豐，推其起病根由，
確係溼溫之病，前用一派涼劑，焉望中窾，殊不知溼為陰邪，因氣機閉阻，
溼邪漸化為溫，而未釀熱，所以涼藥無功，即熱劑亦無效驗，非比寒溼辛散可解，
熱溼清利可瘥，今診脈形，右部勝左，舌苔黃澤，胸悶汗多，發熱纏綿靡已，
此邪尚在氣分，猶望其宣透而解，當用清宣溫化法加厚朴治之，服二劑胸次稍寬，
汗亦減少，惟軀熱尚未退盡，繼以舊法除去半夏，再加通草蟬衣，連服三煎遂愈。</p>
<h4>高年溼溫傷氣</h4>
<p>徽歙程某，年屆賜鳩，忽患溼溫之證，曾延醫治，一稱伏暑，一稱溼溫，一稱虛損，
清利與補，皆未中鵠，始來商治於豐，診其脈，虛數少神，心煩口渴，微熱有汗，
神氣極疲，此皆溼溫傷氣之證也，治宜益氣卻邪，
即以東參麥味甘草陳皮生苡苓瀉治之，令服數貼，熱渴並減，但精神尚倦，飲食少餐，
姑率舊章，佐以神苓夏麯，又服數貼，日復一日矣。</p>
<h4>溼溫化燥攻下得愈</h4>
<p>須江周某之郎，由溼溫誤治，變為唇焦齒燥，舌苔乾黑，身熱不眠，張目妄言，
脈實有力，此分明溼溫化熱，熱化燥，燥結陽明，非攻下不能愈也，即用潤下救津法，
服之未效，屢欲更衣而不得，後以熟軍改為生軍，更加杏霜枳殼，始得大解，
色如敗醬，臭不可近，是夜得安寐，讝妄全無，次日舌苔亦轉潤矣，繼以清養肺胃，
調理二旬而安。</p>
<h4>妊娠燥氣為病</h4>
<p>三湘喻某之內，孕經七月，忽受燥氣，咳嗽音嘶，前醫貿貿，不詢月數，
方內遂批為子瘖，竟忘卻內經有婦人重身，九月而瘖一段，醫者若此，
未免為識者所譏，觀其方案，龐雜之至，所以罔效，豐診其脈，弦滑而來，
斯時肺經司胎，咳逆音啞，顯係肺金被燥氣所侵之證，宜辛涼解表法去蟬衣淡豉，
加桑葉菊花，橄欖為引，連嘗三服，音揚咳止矣。</p>
<h4>感受秋涼燥氣</h4>
<p>城西戴某之女，賦稟素虧，忽患微寒微熱，乏痰而咳，前醫用耆皮桂芍，和其營衛，
百合款冬，潤其乾咳，西黨歸身，補其氣血，方藥似不雜亂，但服下胸膈更閉，
咳逆益勤，寒熱依然不減，豐診其脈，浮弦沉弱，舌苔白薄，此感秋涼之燥氣也，
即用蘇梗橘紅蟬衣淡豉蔞皮叭噠象貝前胡，服二劑，寒熱遂減，咳逆猶存，病家畏散，
不敢再服，復來邀診，豐曰，邪不去則肺不清，肺不清則咳不止，倘懼散而喜補，
補住其邪，則虛損必不可免，仍令原方服二劑，其咳日漸減矣，後用輕靈之藥而愈，
可見有是病當用是藥，知其虧而不補者，蓋邪未盡故也。</p>
<h4>血虧液燥加感燥氣</h4>
<p>雲岫錢某之妹，素來清瘦，營血本虧，大解每每維艱，津液亦虧固已，邇來畏寒作咳，
胸次不舒，脈象左部小濇，而右部弦勁，此屬陽明本燥，加感燥之勝氣，肺經受病，
氣機不宣，則大便益不通耳，遂用蘇梗杏仁陳皮桔梗蔞皮薤白淡豉蔥葉治之，
服二劑畏寒已屏，咳逆亦疏，惟大解五日未行，思丹溪治腸痺之證，每每開提肺氣，
使上焦舒暢，則下竅自通泰矣，今照舊章加之兠鈴紫菀紫菀柏子麻仁，除去蘇陳蔥豉，
令服四煎，得燥尿數枚，肛門痛裂，又加麥冬歸地生黑芝麻，服下始獲全愈。</p>
<p>程曦曰，鞠通論燥氣，有勝復之分，今觀書中之論治，更有表裏之別焉，
如秋分至立冬之候，有頭痛惡寒作咳者，是燥氣在表之證也，法當宣散其肺，
有大便秘結而艱難者，是燥氣在裏之證也，法當滋潤腸胃，其能識勝復，別表裏者，
則治燥之法，無餘蘊矣。</p>
<h2>時病論卷之七</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衛雷豊少逸手著</p>
<p>受業〔新安程曦錦雯盈川江誠抱一〕恭訂</p>
<h3>秋傷於溼冬生咳嗽大意</h3>
<p>考六氣之中，溼氣在乎秋令，故經謂秋傷於溼，溼土之氣，內應乎脾，脾土受溼，
不司運化，內溼釀成痰飲，上襲於肺，遂為咳嗽病矣，夫六氣之邪，皆能令人咳嗽，
又不獨乎濕也，斯言溼者，是為伏氣咳嗽有西昌喻嘉言先生疑溼字之訛，
改作秋傷於燥，發明秋燥之論，雖有悖經之罪，然亦因乎六氣起見也，蓋內經論溼，
殆在乎立秋處暑白露濕土主氣之時，喻氏論燥，殆在乎秋分寒露霜降燥金主氣之候，
據愚意更有界限分焉，竊謂秋初傷溼不即發者，溼氣內釀成痰，痰襲於肺而作嗽，
名曰痰嗽，治宜理脾為主，滲溼為佐，如秋末傷燥，不即發者，燥氣內侵乎肺，
肺失清降而作咳，名曰乾咳，治宜理肺為主，潤燥為佐，總之不越兩太陰之治也，
斯言傷溼傷燥而咳嗽者，皆由秋令之伏氣而發于冬，其即發者，
仍歸傷溼秋燥門中治之。</p>
<h4>痰嗽</h4>
<p>痰嗽者，因痰而致嗽也，夫作嗽之病，風寒暑熱，皆能致之，古人議論紛紜，
惟李雲問章若耶二先生，皆括為內傷外感，觀其立論，卓犖不群，
然與內經秋傷於溼之嗽無預，豐不揣鄙陋而特補之，斯病也，良由立秋以後，秋分以前，
先傷於溼，溼氣內踞於脾，釀久成痰，痰龔於氣分壅塞，治節無權，直待冬來，
稍感寒氣，初客皮毛，漸入於肺，肺氣上逆，則潛伏之溼痰，隨氣而逆，
遂成痰嗽之病矣，其脈必見弦滑，或見微緊，右寸關必較餘部不調，舌苔白潤，
胸次不舒，痰白而稀，口不作渴，此皆秋溼伏氣之見證也，理當治脾為主，
滲溼化痰為佐，宜以加味二陳法治之，如有惡寒發熱者，再加蘇梗前胡，氣喘者，
加之旋覆蘇子，當隨其證而損益之。</p>
<p>或問作嗽之病，四時皆有，今觀是篇，獨發於冬，他時之嗽，因何勿論耶，答曰，
子不觀本論中，原有風寒暑熱皆能致之之說，四時都有咳嗽之病也，曰，
何不分而論之，曰，前之風溫風熱風寒冒風暑咳秋燥，以及後之冬溫條中，
皆有咳嗽之證，若重複而論之，能不令人心厭乎，是論專言伏氣釀痰致嗽，
而風寒暑熱致嗽者，可毋重贅耳。</p>
<h4>乾咳</h4>
<p>乾咳者，乏痰而咳逆也，此因秋分之後，先傷乎燥，燥氣內侵乎肺，當時未發，
交閉藏之令乃發，斯為金寒水冷之欬也，前論秋燥條中，是為燥之新邪，此論乾咳，
是為燥之伏氣，其證咳逆乏痰，即有痰亦清稀而少，喉間乾癢，咳甚則胸脅引疼，
脈沉而勁，舌苔白薄而少津，當用溫潤辛金法治之，如胸脅痛者，可加旋覆橘絡，
咳逆艱難者，再加松子款冬，咳劇震動血絡，喉痛吐紅，脈轉沉滑，或沉數，
此燥氣己化為火也，當用清金甯絡法治之，如咳逆氣短，甚則有汗，咽喉乾燥者，
當用金水相生法治之，蹉跎失治最易延為癆損，可不謹歟。</p>
<p>或問曰，曾見內經有五臟六腑，皆令人咳之訓，今先生只列痰嗽乾咳為二門，
不及臟腑等咳，毋乃遠漏乎，曰，是書專論四時之咳，如春令風溫之咳，
夏令暑熱之咳，秋令秋燥之咳，冬令冬溫之咳，其實五臟六腑之咳，
不過就其見證而分，如胸疼喉痛為心欬，兩脅下痛為肝欬，右胠痛引肩背為脾欬，
喘急欬血為肺欬，腰背相引而痛為腎欬，又有小腸欬者，欬而失氣也，膽欬者，
欬嘔苦水也，胃欬者，欬而欲嘔也，大腸欬者，欬而遺屎也，膀胱欬者，欬而遺溺也，
三焦欬者，腹滿而不食也，此皆內經分臟腑之欬也，念莪先生已分條治之，茲不復贅。</p>
<h3>擬用諸法</h3>
<h4>加味二陳法</h4>
<p>治痰多作嗽，口不作渴。
白茯苓〔三錢〕、陳廣皮〔一錢〕、製半夏〔二錢〕、生甘草〔五分〕、
生米仁〔三錢〕、杏仁〔三錢去皮尖研〕，加生薑二片飴糖一匙為引。苓陳夏草，
即二陳湯也，汪訒菴曰，半夏辛溫，體滑性燥，行水利痰為君，痰因氣滯，
氣順則痰降，故以陳皮利氣，痰由溼生溼去則痰消故以茯苓滲溼為臣，中不和，
則痰涎聚，又以甘草和中補土為佐也，擬加米仁助茯苓以去溼，杏仁助陳皮以利氣，
生薑助半夏以消痰，飴糖助甘草以和中，凡有因痰致嗽者，宜施此法。</p>
<h4>溫潤辛金法</h4>
<p>治無痰乾欬，喉癢脅疼。紫菀〔一錢蜜水炒〕，百部〔一錢蒸〕，松子仁〔三錢〕，
款冬花〔一錢五分〕，叭噠杏仁〔二錢去皮尖用〕，陳廣皮〔一錢蜜水炒〕，
加冰糖五錢為引。肺屬辛金，金性剛燥，所以惡冷而喜溫潤也，紫菀溫而且潤，
能暢上焦之肺，百部亦溫潤之性，暴咳久咳咸宜，更加松子潤肺燥，杏仁利肺氣，
款冬與冰糖本治乾咳之單方，陳皮用蜜製，去其燥性以理肺，肺得溫潤，
則咳逆自然漸止。</p>
<h4>清金甯絡法</h4>
<p>治燥氣化火，喉痛欬紅。麥冬〔三錢去心〕，肥玉竹〔二錢〕，北沙參〔三錢〕，
元參〔一錢五分〕，細生地〔三錢〕，旱蓮草〔三錢〕，冬桑葉〔三錢〕，
加枇杷葉三錢去毛蜜炙為引。此治燥氣化火刑金劫絡之法，麥冬玉竹，清其燥火，
沙參元參，潤其肺金，細地旱蓮，甯其血絡，蓋血藏肝臟，故加冬桑葉以平其肝，
肺氣上逆，故加枇杷葉以降其肺，使肺氣得降，肝血得藏，則欬逆吐紅，均可定矣。</p>
<h4>金水相生法〔見卷四第七十二頁〕</h4>
<p><b>備用成方</b></p>
<h4>瀉白散</h4>
<p>治肺經有火，皮膚蒸熱，灑淅寒熱，日晡尤甚，喘嗽氣急等證。桑白皮，地骨皮，
粉甘草，梗米，水煎溫服。</p>
<h4>清肺飲</h4>
<p>治痰氣上逆，而作咳嗽。杏仁，貝母，茯苓，橘紅，桔梗，甘草，五味子，
加薑煎食遠服。</p>
<h4>瓊玉膏</h4>
<p>治乾咳嗽。地黃〔四斤〕，茯苓〔十二兩〕，人參〔六兩〕，白蜜〔二斤〕，
先將地黃熬汁去渣入蜜煉稠再將參苓為末和入磁罐封水煮半日白湯化服。</p>
<h4>丹溪咳血方</h4>
<p>治咳嗽痰血。青黛〔水飛〕，括蔞〔去油〕，海石，槴子，訶肉，
等分為末蜜丸噙化嗽甚加杏仁。</p>
<h4>千金久嗽方</h4>
<p>治長久咳嗽神效。白蜜〔一斤〕，生薑〔二斤取汁〕，
先秤銅銚知觔兩訖納蜜薑汁微火熬令薑汁盡惟有蜜觔兩在則止每含如棗大一丸日三服。</p>
<h4>二陳湯</h4>
<p>治一切痰飲為病，咳嗽脹滿，嘔吐惡心，頭眩驚悸。茯苓，製半夏，陳皮，甘草，
加生薑煎服。</p>
<h4>景岳六安煎</h4>
<p>治風寒咳嗽，痰滯氣逆等證。陳皮，半夏，茯苓，甘草，杏仁，白芥子，
加生薑三片煎七分食遠服。豐按以上諸方，通治咳嗽，然而咳屬肺，嗽屬脾，
前於痰嗽乾咳門中，已詳辨矣，須知前五方多潤肺之品以治咳，
後二方多理脾之品以治嗽，若此分療，治無不中。</p>
<h3>臨證治案</h3>
<h4>伏溼作嗽認為冬溫</h4>
<p>鑑湖沈某，孟冬之初，忽患痰嗽，前醫作冬溫治之，開二十餘天，未能奏效，
延豐診治，右部之脈極滯，舌苔白滑，痰多而嗽，胸閉不渴，豐曰，
此即內經秋傷於溼，冬生咳嗽之病，非冬溫之可此也冬溫之病，必脈數口渴，
今不數不渴者非，冬溫治在乎肺，此則治在乎脾，張冠李戴所以乏效，
遂用加昧二陳法去米仁一味，加蘇子芥子治之，三劑而胸開，五劑而痰嗽減，
後用六君子湯增損，獲全愈矣。</p>
<h4>伏溼致嗽</h4>
<p>南鄉張某，左脈如平，右關緩滯，獨寸口沉而且滑，痰嗽纏綿日久，外無寒熱，
內無口渴，前醫用散不效，改補亦不見功，不知此證，乃係伏溼釀痰，
痰氣竄肺而致嗽，即經所云，秋傷於溼，冬生咳嗽也，當理脾為主，利肺為佐，
即以製夏化紅茯苓煨薑杏仁紹貝蘇子甘草治之，約服三四劑，痰嗽遂減矣，
後循舊法出入，調治旬日而安。</p>
<h4>痰嗽補脾取效</h4>
<p>城南程某，患嗽月餘，交冬未愈，始邀豐診，診得脈形，沉弱而滑，舌體無榮，
苔根白膩，神氣疲倦，飲食並廢，豐曰，此賦稟素弱，溼襲於脾，脾不運化，
釀痰入肺所致，以脾溼為病本，肺痰為病標，即先哲云，脾為生痰之源，肺為貯痰之器，
治當補脾為主，程曰，風痰在肺，補之恐增其閉，即出曾服十餘方，
皆是荊防枳桔杏貝蘇前等品，豐曰，此新感作嗽之藥，與之伏氣，理當枘鑿，
即用六君加玉蘇子生米仁治之，服五劑神氣稍振，痰嗽漸疏，繼進十餘劑，方得全愈。</p>
<p>江誠曰，痰嗽之證，須知有新感有伏氣，新感之脈必多浮，伏氣久脈必多沉，
新感之嗽，必兼鼻塞聲重頭痛發熱，伏氣之嗽而無諸證也，凡伏氣之證法當宣氣透邪，
前醫以荊防枳桔反未臻效，而吾師用六君補氣蘇子降氣，米仁滲溼，而反效者何也，
蓋由風寒暑溼潛伏者，固宜透發，惟此則不然，當知溼氣未成痰之先，可以透發，
既成痰之後，焉能向外而解耶，因痰之源在脾，故用六君子扶脾以去其溼，而化其痰，
蘇子降氣，毋使其痰上襲於肺，米仁滲溼，毋使其溼再釀成痰，
倘用宣提之方則痰益襲於肺，而嗽更無愈期矣。</p>
<h4>燥氣伏邪作咳</h4>
<p>括蒼馮某，陰虛弱質，向喫洋菸，患乾咳者，約半月矣，曾經服藥未驗，十月既望，
來舍就醫，兩寸之脈極數，餘部皆平，豐曰，據此脈形，當有咳嗽，馮曰，然，
曾服散藥未效何，豐曰，散藥宜乎無效，是證乃燥氣伏邪之咳，非新感風寒之咳，
理當清潤肺金，庶望入殼，遂用清宣金臟法去兠鈴杷葉，加甘菊梨皮，服一劑，
減一日，連服五劑，咳逆遂屏，後歸桑梓，擬進長服補丸。</p>
<h4>燥氣刑金致使咳紅</h4>
<p>鄂渚阮某之妾，乾咳喉疼，纏綿匝月，始延豐治，未診即出前方閱之，
初用辛散之方，後用滋補之藥，不但罔效，尤增咳血頻頻，細診其脈，左部緩小，
右部搏指，舌尖絳色而根凝黃，此屬燥之伏氣，化火刑金，雖乾咳吐紅，真陰未損，
前以辛散治之固謬，以滋補治之亦非，斯宜清暢其肺，以理其燥，肺得清肅，
則咳自平，而血不止自止，即用桑葉杏仁兠鈴浙貝梔皮杷葉蔞殼梨皮，再加橄欖為引，
請服三煎，忌食煎炒之物，服下稍知中竅，繼進三劑，遂獲全可。</p>
<h4>陰虛之體伏燥化火刑金</h4>
<p>古黔劉某婦，素吸洋煙，清癯弱體，自孟冬偶沾咳逆，一月有餘，未效來商豐診，
閱前所用之藥，頗為合理，以桑菊蔞旁杏蘇桔貝等藥，透其燥氣之邪，
但服下其咳益增，其體更怠，晝輕夜劇，痰內夾雜紅絲，脈形沉數而來，
舌絳無苔而燥，豐曰，此屬真陰虛損，伏燥化火刑金之候也，思金為水之母，
水為金之子，金既被刑，則水愈虧，而火愈熾，制火者，莫如水也，今水既虧，
不能為母復仇，必須大補腎水，以平其火，而保其金，金得清，則水有源，水有源，
則金可保，金水相生，自乏燎原之患，倘或見欬治欬，見血治血，即是舍本求末也，
豐用知柏八味除去山萸，加入阿膠天麥，連進五劑，一如久旱逢霖，而諸痾盡屏卻矣。</p>
<h2>時病論卷之八</h2>
<p>安州劉賓臣先生鑒定</p>
<p>三衢雷豐少逸手著</p>
<p>受業〔新安程曦錦雯盈川江誠抱一〕恭訂</p>
<h3>冬傷於寒大意</h3>
<p>經曰，冬傷於寒，謂交玄冬之後，寒氣傷人，其能固密者，何傷之有，一有不謹，
則寒遂傷於寒水之經，即病寒熱無汗，脈來浮緊，名曰傷寒是也，一交春令，
便不可以傷寒名之，然冬令受寒，有淺深之別焉，深者為中，淺者為冒，蓋中寒者，
寒邪直中於三陰之裏，故有吐瀉腹痛，急宜熱劑祛寒，冒寒者，寒邪冒於軀殼之外，
則有寒熱身疼，不難一汗而愈，傷寒中寒冒寒，略述其概，有冬溫之證，不可不詳，
冬溫者，冬應寒而反溫，非其時而有其氣，人感之而即病者是也，宜用辛涼之法，
慎勿誤用麻桂青龍，若誤用之，必變證百出矣，此四者，乃冬時即病之新感也，
倘受微寒微溫之氣，當時未發必待來春而發者，便是伏氣之病，須別諸溫而治之。</p>
<p>或問曰，曾見東垣之書，已有冬傷於寒，春必病溫等論，先生拾前人之唾餘，
竟以為獨開生面之創，欺人乎，抑亦自欺之甚也，答曰，子言過矣，
豐亦見此事難知之內，有論四篇，所云都是五行生剋有餘不足，所勝所不勝之理，
其義難明，誠難知之書也豐今分論八篇，以為時證提網，其理透徹，閱者易知，
明出冬傷於寒之新感，所見何證，冬傷於寒，春必病溫之伏氣，所見何證，一一詳明，
瞭如指掌，與東垣之論，意思懸殊，何嘗拾其唾餘，以為己出耶，此猶應試，
共一題目，而文字實不雷同，奚敢欺人復自欺耳，然乎否乎。</p>
<h4>傷寒</h4>
<p>傷寒者，由冬令之寒邪，傷於寒水之經也，考諸賢之書，皆謂霜降之後，春分以前，
有感觸者，是為傷寒，據六氣而推之，似乎不然，蓋霜降之後，猶是燥金主氣，
有感之者是涼氣也，如或天氣大寒，即金匱所謂未至而至也，春分以前，
正是風木司權，有感之者，是風邪也，如或天氣大寒，即金匱所謂至而不去也，
若此則界限分矣，其實傷寒之病，確在乎立冬之後，寒水主政之時，一交春令，
風木主政，便不可以傷寒名之，即有寒熱為病，與傷寒相似者，
便是先賢所謂春應溫而反寒，寒疫之病也，夫傷寒之為病，頭疼身痛，寒熱無汗，
脈來浮緊者，宜用辛散太陽法去前胡紅棗，加紫蘇蔥白治之，如體實邪盛者，
仲聖麻黃湯亦可用之，若果有汗，脈浮而緩，便是傷風之病，倘誤用之，變證蜂起矣，
此略述寒邪初傷太陽寒水之經之證也，其傳經兩感，合病併病，及誤治變證壞證，
仲景書中細詳，可毋重贅，豐嘗謂凡學時病者，必須恭讀仲景傷寒論，庶可融會貫通，
否則不可以言醫也。</p>
<h4>中寒</h4>
<p>中寒者，交一陽之後，令過於嚴寒，突受寒淫殺厲之氣，卒然腹痛，面青吐瀉，
四肢逆冷，手足攣踡，或昏閉身涼，或微熱不渴等證，丹溪曰，倉卒中寒，病發而暴，
難分經絡，溫補自解，斯說似乎滅裂，其實有三陰之別焉，蓋太陰中寒，則脘中作痛，
少陰則臍腹作痛，厥陰則少腹作痛，見證既分，更當審其脈象，如沉緩中太陰，
沉細中少陰，沉遲中厥陰，若此別之，庶幾導窾，如果脈微欲絕，昏不知人，
問之不能答，似此難分經絡，始可遵丹溪用溫補之劑，急擬挽正回陽法治之，
三陰中寒，皆以甘熱袪寒法治之，若寒中太陰，以乾薑為君，少陰以附子為君，
厥陰以吳萸為君，吐甚加藿香豆蔻，瀉甚加蒼朮木香，筋攣者，佐以木瓜橘絡，
呃逆者，佐以柿蒂丁香，臨證之間，切宜細辨而治，庶無貽誤。</p>
<h4>冒寒</h4>
<p>冒寒之病，偶因外冒寒邪，較傷寒則輕，比中寒甚緩，蓋傷寒傷乎六經，
中寒直中乎裏惟冒寒之病，乃寒氣單冒於軀殼之外，而未傳經入裏也，是以遍體疲疼，
頭亦微痛，畏寒發熱而乏汗，脈象舉之而有餘，宜辛溫解表法治之，服藥之後，
務宜謹避風寒，覆被而臥，俾其微微汗出而解，否則傳經入裏，當審何經而分治之，
倘或伏而不發，來年必發為春溫風溫等病，不可以不知也。</p>
<h4>冬溫</h4>
<p>昔賢謂冬應寒而反溫，非其時而有其氣，人感之而即病者，名曰冬溫是也，
其勞力辛苦之人，動作汗出，溫氣乘襲，多在於表，其冬不藏精之人，腎經不足，
溫氣乘襲，多在於裏，冬溫蜼發於冬時，然用藥之法，與傷寒迴別，蓋溫則氣泄，
寒則氣斂，二氣本屬相反，誤用辛溫，變證疊出矣，其證頭痛有汗，咳嗽口渴，
不惡寒而惡熱，或面浮，或咽痛或胸疼，陽脈浮滑有力者，乃溫邪竄入肺經也，
宜用辛涼解表法加連翹象貝治之，口渴甚者，溫邪入胃腑也，
再加蘆根花粉治之如或下利，陰脈不浮而滑，溫邪已陷於裏也，
宜以清涼透邪法加葛根黃芩治之，倘熱勢轉劇，神氣昏憒，讝語錯亂，舌苔轉黑者，
不易治也，勉以祛熱宣竅法治之，紫雪丹，亦可用之，種種變證，不能盡述，
須防諸溫門中之法可也。</p>
<p>或問冬溫發熱而不惡寒，倘惡寒者，為何病也，答曰，冬溫惡寒，偶亦有之，
良由先感溫氣，即被嚴寒所侵，寒在外而溫在裏，宜用辛溫解表法先去寒邪，
繼用涼解裏熱法而清溫氣，又問曰，傷寒冒寒皆惡寒，何以別之，曰，
傷寒冒寒初起無口渴，以此別之，曰，溫邪當發為冬溫，倘其微者，伏而不發為，
何病也，曰，伏而不發，來春必變為溫毒也，凡治時病者，新邪伏氣，切要分明，
庶不至千里毫釐之失。</p>
<p>又問先生之書，專為六氣而設，風寒暑溼燥，皆已詳明，何獨火證不詳，
恐為不全之書，而火證可補述否，答曰，子不知君火秉權之候，有溫病溫毒也，
相火主政之時，有熱病暑病也，君相司令而病者，非火證而何，何不全之有哉，
況火為陽邪，其證最著，如脈數有力，舌苔黃燥，或目赤，或口渴，或喉痛，或溺紅，
皆火證也，法當清涼治之，其餘五志之火，龍雷之火，悉屬內傷，茲不論之。</p>
<h3>擬用諸法</h3>
<h4>辛散太陽法〔見卷五第九十三頁〕</h4>
<h4>挽正回陽法〔見卷四第七十一頁〕</h4>
<h4>甘熱祛寒法</h4>
<p>治寒邪直中三陰之證。甘草〔二錢炙〕，淡乾薑〔一錢〕，淡附片〔一錢〕，
淡吳萸〔一錢〕，用開水略煎冷服。此即仲景四逆湯也，擬加吳萸之大熱，祛厥陰之寒邪，
以之治寒中三陰，最為中的，訒菴原解曰，寒淫於內，治以甘熱，故以薑附大熱之劑，
伸發陽氣，表散寒邪，甘草亦散寒補中之品，又以緩薑附之上僭也，必冷服者，
寒盛於中，熱飲則格拒不納，經所謂熱因寒用，又曰治寒以熱，涼而行之是也。</p>
<h4>辛涼解表法〔見卷一第十一頁〕</h4>
<h4>清涼透邪法〔見卷一第十二頁〕</h4>
<h4>祛熱宣竅法〔見卷一第十一頁〕</h4>
<h4>辛溫解表法〔見卷一第十頁〕</h4>
<h4>涼解裏熱法〔見卷一第十頁〕</h4>
<p><b>備用成方</b></p>
<h4>麻黃湯</h4>
<p>治傷寒太陽病，惡寒發熱，頭痛項強，無汗而喘，脈浮而緊者。麻黃，桂枝，杏仁，
甘草，水煎溫服，覆取微汗。</p>
<h4>葛根湯</h4>
<p>治傷寒太陽未罷，又傳陽明，脈浮長，緣緣面赤，頭痛連額，發熱惡寒而無汗，
目痛鼻乾不得眠等證。葛根，麻黃，桂枝，白芍，甘草，生薑，大棗，
水煎溫服取微似汗。</p>
<h4>小柴胡湯</h4>
<p>治傷寒少陽病，往來寒熱，口苦耳聾脅滿脈弦，目眩，不欲食，心煩喜嘔，
及婦人傷寒，熱入血室等證。柴胡，人參，製夏，黃芩，甘草，生薑，大棗，
水煎溫服。</p>
<h4>理中湯</h4>
<p>治傷寒太陰病，自利不渴，寒多而嘔，腹痛便溏，脈沉無力，或厥冷拘急，
或結胸吐蚘，及感寒霍亂。人參，白朮，炮薑，炙草，本方加附子名附子理中湯。</p>
<h4>真武湯</h4>
<p>治少陰傷寒腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣，或咳或嘔，
或小便利，及太陽病發汗，汗出不解，仍發熱，心悸頭眩，筋惕肉瞤，振振欲擗地，
氣虛惡寒。附子，白芍，白朮，茯苓，加生薑煎服。</p>
<h4>四逆湯</h4>
<p>治三陰傷寒，身痛腹痛，下利清穀，惡寒不渴，四肢厥冷，或反不惡寒，面赤煩躁，
裏寒外熱，或乾嘔，或咽痛，脈沉微細欲絕。附子，乾薑，炙甘草，水煎冷服。
豐按傷寒之方，計有一百一十三道，長沙書中，已全備矣，凡學醫者，必須熟玩，
今錄此六方，不過明六經傷寒之用，其寒邪化熱，及傳變諸方，不能盡錄，
當閱傷寒之書，自明著矣。</p>
<h4>千金陽旦湯</h4>
<p>治冬溫脈浮發熱，項強頭痛。桂枝，白芍，黃芩，甘草，加薑棗煎服。</p>
<h4>千金陰旦湯</h4>
<p>治冬溫內寒外熱，肢節疼痛，中挾寒食。即陽旦湯加乾薑。</p>
<h4>豐按陽旦湯</h4>
<p>主治先感冬溫，又被風寒所過之病，陰旦湯主治體質本寒，忽受冬溫之病，
如咳嗽口渴甚者，薑桂究難浪用，凡一切溫熱之病，最忌辛溫之藥，偶或用之，
非本質屬寒，即外加寒氣，倘拘於陽旦陰旦，為冬溫一定之方，不亦惑乎。</p>
<h3>臨證治案</h3>
<h4>傷寒調治失法變證</h4>
<p>須江毛某，患傷寒之病，壯熱不退，計半月來，前醫當汗不汗，當下不下，
調治失法，變為神昏譫語，循衣摸床，舌苔黃燥，脈來沉實，此傷寒誤治之變證也，
速宜攻下之劑，蕩熱保津，倘以硝黃為砒鴆者，則不可救，即以大承你湯加生地石膏，
煎一大劑，午後服頭煎，未見動靜，薄暮服次煎，至四更時分，得鞕屎數十枚，
譫語漸少，手足漸定，肌膚微汗，身熱退清，神識亦稍省矣，次日復邀豐診，
脈形仍實不柔，舌苔尚少津液，此餘熱未淨也，當守原方，再服一帖，
其兄恐藥力太過，豐曰，必要脈象轉柔，舌苔轉潤，裏熱始盡，否則餘邪復聚，
遂難治矣，復將原方煎服，服下又得硬屎數枚，其兄急來問曰次煎可服否，豐曰，
往診再議，幸得脈轉平緩，舌苔亦見有津，改用仲景炙甘草湯除去桂枝薑棗，
加入柏子茯神，連服數煎，得全瘥耳。</p>
<p>程曦曰，凡治病必以脈舌為主，若遇神昏譫語，循衣摸床之證，倘其脈見軟弱者，
舌淡苔微者，皆不可攻也，必須脈來沉實，或大有力，舌苔黃燥，或起芒刺，
方可攻之，以上見證，有虛有實，或補或攻，當細別之，又不可執於承氣一法也。</p>
<h4>傷寒吐蚘</h4>
<p>新定章某，患傷寒六七日來，身熱如焚，前醫初用辛散，繼用苦寒，熱仍不退，
更加嘔逆吐蚘，四末微冷，急來求治於豐，診其脈，細小而沉，舌苔白薄，豐曰，
此陰陽錯雜之證，將成蚘厥之徵，思先哲云，雜病吐蚘責於熱，傷寒吐蚘責於寒，
即用椒薑以溫其中，桂枝以透其表，參附以扶其正，連梅以安其蚘，
更佐豆蔻和中止嘔也，令服一劑，嘔逆已定，四末轉溫，惟軀熱未清，
姑守舊方除去薑附，加入芩柴一服中機，後議數方並效，調理半月得安。</p>
<h4>陽體中寒仍用熱劑而愈</h4>
<p>濲水姜某，稟體屬陽，生平畏嘗熱藥，一日腹中作痛，比豐診之，兩手之脈皆沉遲，
舌根苔白，豐曰，此寒氣中於太陰，理當熱藥祛寒，曰，素不受熱藥奈何，曰，
既不任受，姑以溫中化氣為先，中機最妙，否則再商，即以豆蔻砂仁吳萸烏藥，
木香厚朴蘇梗煨薑，服之未驗，復診其脈，益見沉遲，四肢逆冷更甚，豐曰，
寒邪深入，誠恐痛厥，非薑附不能效也，雖然陽臟，亦當先理其標，
即用甘熱祛寒法加肉桂白芍治之，遂中病機，腹疼頓減，脈形漸起，手足回溫，
改用調中，始得安適，可見有病有藥，毋拘稟體陰陽，但陽體中寒，辛熱不宜過劑，
陰質患熱，寒涼不可過投，遵內經衰其大半而止最妥。</p>
<h4>冬溫肺胃合病</h4>
<p>城北方某，木火體質，偶患冬溫，約有半月矣，治療乏效，轉請豐醫，
按之脈形洪數，兩寸極大，苔黃舌絳，口渴喜涼，喘咳頻頻，甚則欲嘔，痰內時有鮮紅，
思內經有肺咳之狀，咳甚唾血，胃咳之狀，咳甚欲嘔之文，此顯係肺胃受邪，
明若觀火矣，見前方都是滋陰滋血之劑，宜乎冰炭耳，豐用清宣金臟法去桔梗，
加花粉鮮斛治之，疊進五劑，諸證漸平，調治旬餘遂愈。</p>
<h4>冬溫新感商值經行</h4>
<p>徽歙鮑某之女，閨中待字，經水素不調勻，一月兩期，難免血海無熱，
一日忽患冬溫，發熱咳嗽，胸閉喉疼，天癸又至，斯時用芩連梔子，以卻其溫，
實有礙乎經事，倘用歸芎艾葉，以調其經，實有礙乎溫氣，細推其證，口不作渴，
其邪在肺而不在胃，腹不作痛，其經因熱而不因寒，古人雖謂室女莫重於調經，
然今溫邪告急，不得不先治標，其實清肺之方，治上而不妨下，
遂用牛旁象貝桔梗射干桑葉薄荷蔞皮叭杏，青果為引，連服三劑，軀熱退清，
咳嗽亦衰大半，腹內轉疼，天癸滴瀝靡盡，仍照原方，益以香附澤蘭，又服數煎，
諸恙平復矣。</p>
<h4>冬溫傷陰將欲成損</h4>
<p>豐於冬至赴龍掃墓，經過安仁街，適有楊某患冬溫未愈，有相識者，謂豐知醫，
楊即懇診，查其所服之方，非辛溫散邪，即苦寒降火，皆未得法，其脈細小滑數，
咳嗽痰紅，發熱顴赤，此溫熱傷陰之證也，當用甘涼養陰，辛涼透熱，虛象己著，
急急隄防，若再蔓延，必不可挽，即用清金甯絡法去枇杷葉麥冬，細地改為大地，
再加丹皮地骨川貝蟬衣治之，服至五貼，熱退紅止矣，豐返，復過其處，
見病者面有喜色，謂先生真神藥也，病勢減半，惟賸咳嗽數聲，日晡顴赤而已，
診之脈亦稍和，此欲愈之象也，姑照原方去旱遵蟬退，加龜版鱉甲，令其多服，
可以免虛，歲暮以荼食來謝，始知其恙全可。</p>
<h3>附論</h3>
<h4>治時病常變須會通論</h4>
<p>拙著已告竣矣，首先論證，其次立法，其次成，方又其次治案，醫者能於此熟玩，
自然融會貫通，弗執定某證之常，必施某法，某證之變，必施某法，
臨證時隨機活法可也，姑先論其常而通其用，如初起因於風者，宜以解肌散表法，
因於寒者，宜以辛溫解表法，因於暑者，宜以清涼滌暑法，因於溼者，
宜以增損胃苓法，因於燥者，宜以苦溫平燥法，因於火者，宜以清涼透邪法，
此皆言初患六氣之常證，通用之定法也，至於反常之變證，不定之活法，
則又不可不知，如春溫條中，有舌絳齒燥，譫語神昏，手足瘈瘲，昏瞶不語之變，
溼溫條中，有或笑或痙，撮空理線，舌苔黃刺，或轉焦黑之變，然而亦非一定之變也，
須知春溫亦有溼溫之變證，溼溫亦有春溫之變證，論中不能印定，須活法而通治之，
此又不特春溫溼溫可以會通，而暑溫冬溫，以及諸病，皆有等證之變，悉可以通治之，
又如諸病，見有舌絳齒燥，熱傷於陰者，清熱保津法，可通用之，譫語神昏，
熱亂神明者，祛熱宣竅法，可通用之，手足瘈瘲，熱極生風者，清離定巽法，
可通用之，昏瞶不語，痰襲心包者，宣竅導痰法，可通用之，及至發笑之證，
皆由邪襲於心，發痙之證，皆係風乘虛入，或至撮空理線，循衣摸床等證，
皆當審其虛實，通其活法，則不但治時病可以融會，即治雜病亦有貫通之妙耳。</p>
<h4>五運六氣論</h4>
<p>治時令之病，宜乎先究運氣，經曰，不知年之所加，氣之盛衰，不可以為工也，
戴人云，不讀五運六氣，檢遍方書何濟，由是觀之，治時病者，可不知運氣乎，
近世之醫，皆謂五運六氣，與歲多有不應，置之弗習，是未達夫天地之常變也，
常者如君相司令則當熱，寒水主政則當寒，變者當熱反寒，當寒反熱之類是也，
試以其常而言之，五運者，木火土金水也，一運主七十二日有奇，六氣者，
風君相溼燥寒也，一氣司六十日有奇，故五運六氣合行，而終一歲，蓋主運主氣，
歲歲皆然，客運客氣，年年更換，每年從大寒日，初交木運，二為火運，三為土運，
四為金運，終為水運，此主運也，經曰，甲己之歲，土運統之，乙庚之歲，金運統之，
丙辛之歲，水運統之，丁壬之歲，木運統之，戊癸之歲，火運統之，如甲己之年，
甲己化土，土為初運，金為二運，水為三運，木為四運，火為五運，此客運也，
主氣亦從大寒日交，厥陰風木為初氣，少陰君火為二氣，少陽相火為三氣，
太陰溼土為四氣，陽日燥金為五氣，太陽寒水為終氣，此主氣也，客氣每歲循環，
依年推算，如子午之年，初為寒水，二為風木，三為君火，四為溼土，五為相火，
終為燥金，又如丑未初為風木，寅申初為君火，卯酉初為溼土，辰戊初為相火，
己亥初為燥金，此客氣也，每年三氣為司天，終氣為在泉，如子午之年，
三氣是君，火乃君火司天，主熱淫所勝，終氣是燥金，乃燥金在泉，主燥淫於內，
其餘可類推矣，倘遇壬戊甲庚丙之年，皆曰太過，木曰發生，火曰赫曦，土曰敦阜，
金曰堅成，水曰流衍，丁癸己乙辛之年，皆曰不及，木曰委和，火曰伏明，土曰卑監，
金曰從革，水曰涸流，若太過被剋，不及得助，皆曰平運，木曰敷和，火曰升明，
土曰備化，金曰審平，水曰靜順，此述五運六氣之主客，司天在泉，太過不及之大概，
在學者，先宜熟此有定之常，然後審其無定之變可也，倘欲深求底蘊，再考內經，
慎毋惑於飛疇運氣不足憑之說耳。</p>
<h4>濕瘟不同論</h4>
<p>溫者，溫熱也，瘟者，瘟疫也，其音同而其病實屬不同，又可瘟疫論中，
謂後人省水加疒為瘟，瘟即溫也，鞠通溫病條辨，
統風溫熱溫疫溫毒冬溫為一例，兩家皆以溫、瘟為一病，殊不知溫熱本四時之常氣，
瘟疫地之厲氣，豈可同年而語哉，夫四時有溫熱，非瘟疫之可比，如春令之春溫風溫，
夏令之溫病熱病，長夏之暑溫，夏末秋初之溼溫，冬令之冬溫，以上諸溫，
是書皆己備述，可弗重贅，而鞠通先生之書，其實為治諸溫病而設也，至於瘟疫之病，
自唐宋以來，皆未詳細辨論，迨至明末年間，正值凶荒交迫，處處瘟疫，慘不堪言，
吳又可先生所以著瘟疫論一書，所謂邪從口鼻而入，則其所客，內不在臟腑，
外不在經絡，舍於伏脊之內，去表不遠，附近於胃，乃表裏之分界，是為半表半裏，
即鍼經所謂橫連膜原是也，其初起先憎寒而後發熱，日後但熱而無憎寒，
初得之二三日，其脈不浮不沉而數，頭痛身疼，晝夜發熱，日晡益甚者，
宜達原飲治之，咸豐八載，至同治紀元，粵匪竄擾吾衢，大兵之後，繼以凶年，
沿門合境，盡患瘟疫，其時豐父子診治用方，皆宗又可之法也，更有頭面頸項，
頰腮並腫者，為大頭瘟，發塊如瘤，遍身流走者，為疙瘩瘟，胸高脅起，嘔汁如血者，
為瓜瓤瘟，喉痛頸大，寒熱便秘者，為蝦蟆瘟〔一名捻頸瘟〕，兩腮腫脹，憎寒惡熱者，
為鸕鶿瘟，遍身紫塊，發出黴瘡者，為楊梅瘟，小兒邪鬱皮膚，結成大小青紫斑點者，
為葡萄瘟，此皆瘟疫之證，與溫病因時之證之藥，相去徑庭，決不能溫瘟混同而論也，
因憶又可著書，正崇禛離亂之凶年，鞠通立論，際乾嘉昇平之盛世，一為瘟疫，
一為溫熱，時不同而病亦異，由是觀之，溫病之書，不能治瘟疫，瘟疫之書，
不能治溫病，故凡春溫風溫溫病暑溫溼溫冬溫，字必從水，
瘟疫大頭疙瘩瓜瓤蝦蟆鸕鶿楊梅葡萄等瘟，字又從疒，溫瘟兩字，判然不同，
而況病乎，知我者，幸弗以豐言為河漢也。</p>
<h4>傷寒書統治六氣論</h4>
<p>漢長沙著傷寒論，以治風寒暑溼燥火六氣之邪，非僅為寒邪而設，
然則其書名傷寒何也，蓋緣十二經脈，惟足太陽在表，為寒水之經，
凡六淫之邪為病者，皆必先傷於寒水之經，故日傷寒，今人都以寒水之寒字，
誤為寒熱之寒，若此則傷寒之書，專治寒邪，而風暑燥溼火，了不干涉矣，
殊不思長沙首列桂枝湯以治風，明明指人統治六氣，而非僅治一寒邪之意，
於此已露一斑，若果專治寒邪，理當列麻黃湯，附子湯，四逆理中等湯為先，
而不列桂枝湯為首也，況又有白虎湯以治暑，五苓散以治溼，
炙甘草湯以治燥，大小承氣以治火，此顯明六氣統治之書，而今以為專治寒邪，
則誤甚矣，時賢又謂傷寒論六經，溫熱論三焦，此兩句書，更為印定眼目，
不知邪氣襲人，皆由表而入於裏，惟瘟疫之氣，穢濁之氣，乃論三焦可也，
以其氣從口鼻而入，先擾於上，次傳中下，除此而外，則風寒暑溼燥火，
無不盡從表入，況李彣謂太陽行身之表，外邪皆得傷之，其傷寒之書，能統治六氣者，
可無疑矣，凡學治時病者，必須讀仲景傷寒論，恭讀時賢之書，考古酌今，
則胸中自有風寒暑溼燥火之界限，若不讀仲景之本，而專讀時賢之書，
真所謂舍本求末矣。</p>
<h4>闢俗醫混稱傷寒論</h4>
<p>人被寒所傷者，謂之傷寒，夫寒居六氣之一，豈可混稱乎，嘗考寒水之令，
在乎小雪大雪冬至小寒之節，共主六十日有奇，蓋小雪居於十月，乃六陰盡出之際，
而寒氣方盛之時，大雪冬至居十一月，小寒居十二月，正觱發粟烈之候，斯時之氣，
人感觸者，盡屬傷寒之病勿可以，大寒至驚蟄之風木，春分至立夏之君火，
小滿至小暑之相火，大暑至白露之溼土，秋分至立冬之燥金，等等之時所患者，
混同一稱傷寒，然而亦有可稱者，不可不知，豐於前論中，有謂傷寒之寒字，
為寒水之經之寒，非寒熱之寒也，凡風寒暑溼燥火，無不由表而入，
皆必先傷於寒水之經，六氣之邪，僉可稱為傷寒，但有不可稱者，又不得不力辨其非，
嘗聞專治傷寒家，有溫病傷寒，熱病傷寒，痧證傷寒，瘡瘍傷寒等名，不知溫病熱病，
皆屬伏氣，痧因沙穢，瘡因溼熱，豈可混稱為傷寒乎，尤有夾痰傷寒，夾食傷寒，
夾氣傷寒，夾血傷寒等名，揆厥由來，痰食氣血，
是為傷寒之兼證又豈可混稱為傷寒乎，仲景原文，從未見有此證，竊疑其為杜撰也，
後見吳中戈存橘先生傷寒補天石中，果有以上諸證之名，始知其有自也，
雖然戈氏之書，醫者不必宗之，其所當宗者，如無己之明理，嘉言之尚論，韻伯之來蘇，
路玉之大成，誠為醫家不可少之書，後學所宜奉為圭臬也，至時俗混稱傷寒之證，
更為不通，見初起嘔吐者，謂為齷齪傷寒，泄瀉者，為漏底傷寒，脅痛者，
為刺脅傷寒，寒不甚寒，熱不甚熱，綿綿難愈者，為癟疲傷寒，即徽俗謂之混沌傷寒，
名目極多，難以枚舉，總之小雪至小寒而重感者，為真傷寒，風暑燥溼火，
先傷寒水之經者，亦可稱為傷寒，至溫病熱病，痧症瘡瘍，決不能混入傷寒，
兼痰食氣血者，是為傷寒之兼證，其餘種種不通之名，皆不足論，醫者須按四時之六氣，
而分其孰為風暑，孰為燥溼，究不可籠統混為傷寒病也。</p>
<h4>闢時俗齷齪斑證論</h4>
<p>吾衢土俗，凡患四時之感冒，見有發熱嘔吐等證，開口便云齷齪，動手便是刮揪，
揪之刮之，未嘗不善，但其邪在肌肉者，頃刻而鬆，在經絡者，非藥不愈，最可惡者，
先服礬湯一碗，以為治齷齪之需，殊不知齷齪，即方書所謂穢濁，
宜用芳香宣解之方，反服酸寒收濇之藥，益使穢濁之邪，膠固氣分，而無解病之期，
更有一種俗醫，以指節刮病人之身，見有一條扛起者，妄言為斑，不知人感穢濁時邪，
氣機阻滯，血脈不通，用指節刮之，或粗或細，必有一條見出，
豈可偽稱為斑證，更為之取出蛇斑蚤斑等等之名，其謂為蛇斑者，必令人服蜈蚣數條，
取蛇畏蜈蚣之義，而庸夫俗子，聽之益信，不知蜈蚣之性，辛溫有毒，直入厥陰，
初患時邪之證，服之極易化火，更引最淺之邪，而入於深，曷不觀方書所云，
大如錦紋者為斑，其色紅紫而成片，或至黑色而病危，是為胃熱之候，
古人所以用舉斑湯化斑湯之類以治之，或見病人身發紅點，遂稱為蚤斑，而亂投草藥，
及至危險，便說斑老難醫，推其身見紅點，即方書所謂小如蚊咬者為疹，
是為肺熱之候，古人所以用升葛湯銀翹散之類以治之，俗醫以偽溷真，豈不可歎，
既以初起之時邪，為齷齪斑證，更禁病人勿服湯藥，每見輕病轉重，重病轉危，
此皆吾衢土俗之貽害匪淺也，要之揪刮無妨，所患者惟礬湯蜈蚣草藥禁藥之獘，
奉勸病家，不可過信俗醫而自誤，則幸甚矣。</p>
<h4>夾證兼證論</h4>
<p>人皆謂夾證與兼證難治，豐獨曰無難也，曷為夾證，譬如受風便是傷風，
宜桂枝湯之屬，受寒便是傷寒，宜麻黃湯之屬，倘風寒兩傷者，即為夾證也，
蓋風宜散，寒宜溫，溫散之方，宜桂麻各半湯之屬，倘或暑邪夾溼，溼宜利，暑宜清，
清利之方，宜天水散之屬，倘或燥氣夾火，火宜涼，燥宜潤，涼潤之方，
宜清燥救肺湯之屬，其餘風暑風溼風燥風火，皆係夾證，其治法皆可仿此，
至於兼證奈何，假如少壯遺精，當分夢之有無，有者宜坎離既濟湯之類，
無者金鎖固精丸之類，此定法也，或被溼熱所觸者，便為兼證，利溼必傷其陰，
補陰必滯其溼，思利溼而不傷陰者，如豬苓湯六味丸之類，若濕邪甚者，
又當先治其溼，濕邪一化，再濇其精可也，又如老年虛損，當分證之淺深，
淺者宜六君四物之類，深者宜固本大造之類，此定法也，倘被風邪所客者，便為兼證，
散風益虛其正，補正必關其邪，思散邪而不損正者，如參蘇，飲補中益氣之類，
若風邪甚者，又當先散其風，風邪一解，再補其損可也，又如女子經當行，
必審其或先或後，先則為血熱，宜丹梔四物之流，後則為血寒，宜香砂四物之流，
此為定法，或被寒邪所觸者，即兼證也，考諸方能散寒且能調經，如香蘇飲之流，
若過盛者，必須先散其寒，再調其經則可矣，又如婦人產後發熱，必辨其屬虛屬實，
虛則宜補益，如加味四物之流，實則宜破瘀，如生化失笑之流，此為定法，
設被暑邪所感者，即兼證也，考諸方能清暑且治產後，如竹皮大丸之流，若過盛者，
必須先清其暑，再治產後則可矣，醫者能於如此圓變，則治夾證兼證，何難之有。</p>
<h4>成方須損益論</h4>
<p>自南陽制方而始，厥後唐未元明，及國朝以來，成方不可勝紀，焉能熟悉於胸，
嘗見有讀千金方者，有讀醫方考者，有讀景岳新方者，有讀訒菴集解者，
往往宗此而不知彼，宗彼而不知此者，不待言矣，竊謂古人成方，猶刻文也，臨證，
猶臨場也，即有如題之刻文，慎勿直抄，必須師其大意，移步換形，庶幾中式，
而臨證即有對病之成方，亦當諒體之虛實，病之新久而損益之，思成方不在多，
而在損益，譬如二陳湯，即夏苓陳草也，治一切痰飲之病，除去陳皮，
乃海藏之消暑丸，伏暑煩渴用之，此一減而主治之法，相去逕庭矣，平胃散，
即陳蒼朴草也，治一切溼氣之病，加入芒硝，乃女科之下胎方，死胎不下用之，
此一加而主治之法，相懸霄壤矣，此損益之法也，醫者知是理乎，又如氣虛用四君，
血虛用四物，倘氣血兩虛之候者，二方合用名八珍湯，
此深一層之病，而加深一層之方也，利溼用五芩，清熱用三石，倘溼熱並盛之候者，
二方合用名甘露飲，此亦深一層之病，而加深一層之方也，又如固本丸，治虛勞損證，
減去麥冬生地，名曰三才，以治三焦虧證，此輕一等之病，而減為佐之藥也，香蘇飲，
治四時感冒，減去香附紫蘇名曰二賢，以治膈中痰飲，此亦輕一等之病，
而減為君之藥也，諸如此類，不可枚舉，在醫者，必須臨證權衡，當損則損，
當益則益，不可拘於某病用某方，某方治某病，得能隨機應變，則沉痾未有不起也。</p>
<h4>胎前產後慎藥論</h4>
<p>胎前之病，如惡阻胞阻胎漏墮胎等證是也，產後之病，如血塊血暈等證是也，
婦科書中已詳，可毋備述，而其最要述者，惟胎前產後用藥宜慎，凡治胎前之病，
必須保護其胎，古人雖有有故無殞，亦無殞也，大積大聚，其可犯也，
衰其大半而止之訓，奈今人膠執有故無殞之句，一遇裏積之證，恣意用攻，
往往非傷其子，即傷其母，蓋緣忽略衰其大半之文耳，竊揣胎在腹中，一旦被邪盤踞，
攻其邪則胎必損，安其胎必礙乎邪，靜而籌之，莫若攻下方中，兼以護胎為妥，
此非違悖內經，實今人之氣體，不及古人萬一也，且不但重病宜慎其藥，即尋常小恙，
亦要留心，如化痰之半夏，消食之神麯，寬脹之厚朴，清腸之槐花，涼血之丹皮茅根，
去寒之乾薑桂附，利溼之米仁通滑，截瘧之草草果常山，皆為犯胎之品，最易誤投，
醫者可不儆懼乎，至於產後之病，嘗見醫家不分虛實，必用生化成方，感時邪者，
重投古拜，體實者未嘗不可，虛者攻之而裏益虛，散之而表益虛，虛虛之禍，
即旋踵矣，又有一等病人信虛，醫人信補，不分虛實，開口便說丹溪治產後之法，
每每大補氣血，體虛者未嘗不可，倘外有時邪者，得補益劇，內有惡露者，得補彌留，
變證疊加，不自知其用補之咎耳，要之胎前必須步步護胎，產後當分虛實而治，
毫釐差謬，性命攸關，惟望同志者，凡遇胎前產後之痾，用藥勿宜孟浪，慎之慎之。</p>
<h4>治輕證宜細心重病宜大膽論</h4>
<p>膽欲大而心欲小，此孫真人祝醫最確之語也，竊謂治初起之輕證，必須細心，
當辨其孰為風而用疏，孰為寒而用溫，孰為暑而用清，孰為溼而用利，孰為燥而用潤，
孰為火而用瀉，尤當審其體之虛實，病之新久，在女子兼詢經期，婦人兼詳胎產，
如是者，則用藥庶無差忒矣，倘粗心而不細者，大意茫茫，不分六氣所感何氣，
動手便用荊防，病家告之有痰，遂投陳夏，有食遂用神查，問其何病，指鹿為馬，
問其輕重，總說無妨，往往使輕淺之病，日漸延深，是誰之過歟，聖人云，不忽於細，
必謹於微，其可略乎，至若垂危之重證，必須大膽，見心包邪竄者，當宣則宣，
肝風內動者，當平則平，脾虛氣陷者，當培則培，肺氣欲絕者，當補則補，
腎液欲涸者，當滋則滋，更有危險之虛證，速宜用參耆之屬，實證用硝黃之屬，
寒證用薑桂之屬，熱證用犀羚之屬，勿宜遲緩，亟亟煎嘗，如是者，
則沉痾庶有挽救矣，倘膽小而不大者，當用而不敢用，或用而不敢重，重用恐其增變，
變證恐其歸怨，往往姑息養奸，坐觀其敗，是誰之過歟，古人云，不入虎穴，
焉得虎子，其可懼乎，若果輕淺之證，過於膽大立方，不啻小題大做，沉重之證，
過於小心慎藥，無異杯水車薪，其實膽大而不細心，所謂暴虎馮河者，誤事也，
細心而不大膽，所謂狐疑鼠首者，亦誤事也，誠哉孫氏之言，足為千古之醫訓矣。</p>
<h4>醫家嫉妒害人論</h4>
<p>嘗觀世之同行，每多嫉妒，行行猶可，惟醫道中最為甚焉，夫醫以蘇人之困，
拯人之危，性命為重，功利為輕，而可稍存嫉妒哉，奈何今之醫者，氣量狹窄，
道不求精，見有一神其技者則妒之，妒心一起，害不勝言，或謠言百出，或背地破道，
或前用涼藥，不分寒熱而改熱，前用熱藥，不別寒熱而改涼，不顧他人之性命，
惟逞自已之私心，總欲使有道者道晦，道行者不行，以遂其嫉妒之意，每見病家，
患溫熱之病，醫者投以辛涼甘涼，本不齟齬，但服一二劑，未獲深中，
病者見熱渴不已，心中疑懼，又換一醫，且明告曾延醫治，而所換之醫，
遂不察其病因，見前有寒涼之藥，便咎前醫用寒涼之害，不辨證之寒熱，脈之遲數，
舌苔黃白，小水清濁，竟亂投溫熱之方，不知溫熱之病，得溫熱之藥，無異火上添油，
立刻津乾液涸，而變生俄頃，倘前用熱藥，以治其寒，亦咎其用熱藥之害，
總不辨其為寒為熱，亂用寒涼之方，不知寒證服寒涼，猶如雪上加霜，立使陽亡氣脫，
而變在須臾，直至垂危，尚怨前醫之誤，可勝悼哉，然亦有明駁前醫，暗師前法，
而獲效者，竟爾居功，索人酬謝，若此重財輕命，只恐天理難容，奉勸醫者毋懷妒忌，
大發婆心，則幸甚矣。</p>
<h4>醫毋自欺論</h4>
<p>醫者依也，人之所依賴也，醫毋自欺，斯病家有依賴焉，夫醫之為道，先詳四診，
論治當精，望色聆音，辨其臟腑之病，審證切脈，別其虛實而醫，若此可謂毋欺也，
至臨證之時，細分部候，知其何為浮主表病，沉主裏病，遲主寒病，數主熱病，
何為人迎脈大之外感，氣口脈大之內傷，更須望其青赤黃白黑五色之所彰，
聞其角徵宮商羽五音之所發，問其臊焦香腥腐五氣之所喜，
以明其肝心脾肺腎五臟之病因，而用其酸苦甘辛鹹五味之藥餌，能如是者，何欺之有，
惟其一種庸流，欺人妄誕，見病人有寒熱者，一疑其為外感，欺病家不知診法也，
不別其脈之虛實，而浪投發散之劑，又見病人有咳嗽者，一疑其為虛損，
欺病家不諳醫理也，不辨其體之強弱，而恣用補益之方，至於五色五音五氣，
一概不知審察，焉能明其五臟之病，而用其五味之藥乎，如是者，不獨欺人，
實為自欺，彼愚夫愚婦，受其欺者，本無足怪，至文人秀士，亦受其欺，殊為可笑，
見人喜補者，遂謂虛衰，喜散者，遂云外感，畏熱藥者，便用寒涼，畏涼藥者，
便投溫熱，順病人之情意，亂用醫方，竟不讀靈素以下諸書，全用欺人之法，
噫醫之為道，死生攸繫，一有欺心，即藥餌妄投，存亡莫卜，奈何濟人之方，
竟視作欺人之術也，吾願醫者，必須志在軒岐，心存仲景，究四診而治病，
毫不自欺，方不愧為醫者也。</p>
<h4>古今醫書宜參考論</h4>
<p>昔賢云，觀今宜鑑古，無古不成今，今古醫書，均宜參考焉，考今古醫書，
不能盡述，姑略提其要者言之，如神農本草，軒轅靈素，越人難經長沙玉函，
以及劉李張朱四大名家之書，皆可備讀也，蓋讀本草者，
可知其性有寒熱溫涼平之不同，其味有酸苦甘辛鹹之各異，何為補正，何為祛邪，
讀靈素者，可以上明天文，下達地理，兼知人身臟腑經絡受病之因，讀難經者，
可補內經脈象病因及奇經八脈之未逮，讀玉函者，可識傷寒雜病之源頭，
此皆古聖之醫書，必須玩索，至於四大家者，即河間劉守真，法多苦寒，溫病熱病者，
須參考之，東垣李明之，法多升補，內傷脾胃者，須參考之，
太積大聚者，須參戴人張子和攻下之法，陰虛內損者，須考丹溪朱彥修清補之法，不特，
此四家以補先聖之未備，可參可考，而後賢所發之論，偶亦有超出於四大家者，
如雲間李念莪，西昌喻嘉言，延陵吳又可，金壇王宇泰，會稽張介賓，長洲張路玉，
吳邵薛立齊，慈谿柯韻伯，檇李沈目南，錢江張隱菴是也，以上諸公，各有著作，
皆當採取，亦可以備參閱，近時之醫書，亦不能盡述，如閱古吳葉香巖之臨證指南，
可知臨時之圓變，用藥之靈機，閱若耶章虛谷之醫門棒喝，可知名家之疵謬，
醒醫家之聾瞶，閱淮陰吳鞠通之溫病條辨，可知寒傷於足經，溫傷於手經，
閱吳門周禹載之溫熱暑疫全書，可知溫熱暑疫受病之源各別，此皆時賢之書，
亦宜備考，至於長樂陳修園，新安程觀泉，鹽官王孟英，武進費伯雄，皆有著述所傳，
偶或有導窾之處，亦宜參閱，竊思書有古今，而人亦有古今，古人氣體俱厚，
今人氣體漸薄，若執古方以治今人之病，不亦重乎，故醫家不可執古書而不讀今書，
亦不可執今書而不讀古書，參考古今，則醫理自得中和之道矣。</p>
