<header data-type="book">
<h1>癲狂條辯</h1>
</header>

<h1>原序</h1>
<p>《癲狂條辯》，邑郭楚賢先生著也。先生精岐黃術，於此道別有薪傳，治者罔不應手輒愈，所活不下數百人，而先生尤不敢以枕中之秘獨得居奇。癸亥冬，余有《寒溫條辯》之刊，先生遂以此編囑余，願付剞劂以公諸世。余觀古今醫書，汗牛充棟，而茲證獨略。非故略也，特無專科耳。舉世莫察，遂以鬼怪治之，其貽誤豈淺鮮哉！乃以慄山先生之書與先生之書合觀焉，乃知狂之迥別乎癲，猶溫疫之迥別乎傷寒也。傷寒與癲，則一內一外，兩不相侔。若狂，實即溫疫之變證也。慄山先生言溫疫之雜氣由口鼻而直入三焦，先生言狂之變證，其審穴專在三焦。又可先生言溫疫在半表半裡，先生言狂之初起，痰在肝，熱在膽，非證之出於少陽乎？慄山言傷寒自外之內，溫疫自內之外。先生言傷寒由外傳內，狂證由內傳外，非雜氣之均伏於裡乎？慄山先生言傷寒少而溫疫多，先生言癲證少而狂證多。惟癲證不概見，故編中重在狂證立論，非與慄山先生之略傷寒而重溫疫者如出一轍乎？況溫疫亦有譫語狂叫、棄衣登高等證，其方藥亦復相仿，則又證之顯相類者也。故慄山先生有寒溫之條辨，余又因先生之辨而更增一條耳。所異者，疫證有外邪而無內郁，狂證有外邪而兼有內郁，癲證則無外邪而止有內郁。蓋癲之癡迷昏憒，由憂思鬱結、痰迷心竅也，內邪也，陰也。疫之發熱咽燥，癘氣之伏於裡而浮越於表也，外邪也，陽也。狂則憂鬱之氣結於臟，瘴癘之氣復入於腑，內邪與外邪交戰於臟腑之間，即欲浮越於表而不能，所以身無寒熱而怪證百出，及陰陽混雜也。故編中治顛，僅溫中解鬱以理痰盡矣；治狂，則以理痰為先，清火次之。蓋理痰以治其內，清火以治其外，標本兼治而法備矣。其辨證下方條理井然，學者誠當奉為矩矱。至於觸類旁通，增減變化，則在神而明之者。</p>
<p><u>同治二年癸亥一慄主人周崇第謹識</u></p>

<h1>癲狂總論</h1>
<p>或有問於予曰：癲狂胡為而作也。予應之曰：人受天地之中以生，不外陰陽氣化。陰陽和則百病不生，陰陽乖則邪氣易入。故人感之，即發為異病。癲狂者，病之異也。感之淺則治之易，感之深則治之難。惟治之有要，斯亦易而無難耳。曰：然則治之奈何？曰：是必有專方，乃能對症下藥。若不得師指授，則虛實不明，陰陽莫辨，何從措手哉！曰：其本源若何？曰：是症不外憂思鬱結，痰火夾攻，延及五臟，因有闡、笑、歌、泣等症。須知癲症專責乎痰，痰火夾攻則狂也。蓋火屬陽而常動，故有傳經之變；痰屬陰而常靜，故有結聚之堅。痰本不動，其動者，火逼之也。狂雖有傳變，又與傷寒傳經異，傷寒自外而入，狂則自內而出。傷寒始於太陽膀胱，一日一傳。狂則始於厥陰肝，次傳心，次傳脾，次傳肺，次傳腎。至腎不愈，則又反而傳肝。要之，心為君主之官，神明出焉。邪不入心，天君泰然，百體從令，焉能為患。蓋優思則傷脾，郁久而怒則傷肝，土鬱而木復克之，此痰所由生也，痰迷心竅而昏憒作矣。嵐瘴戾氣伏入於裡，積久成熱，此火所由生也，火的心君而妄念作矣。內亂既生，外侮因而乘之，痰火觸逼，兩相夾攻，心神亦因之擾亂而諧狂作矣。其或棄衣逃匿，逾牆上屋，風熱相爭也。呼神叫鬼，晝夜不寐，神不守舍也。採青摘葉，肝風動也。擢土破物，風熱入脾也。時而收物藏匿，邪入於陰也。時而拋物棄外，邪出於陽也。不拒水火，不拘生熟，陰陽混雜也。更可奇者，前之所為言之了了，目今所為毫不省著，蓋痰在裡而熱在表也。治是症者，須察症候起於何經，虛實貴乎明辨。豈得以痰火概治之，以硝、黃、陳、半統治之哉！分辨數條，縷列於後。</p>

<h2>審脈以辨虛實</h2>
<p>經曰：癲之始發，意不樂，直視僵仆，其脈三部俱陰。又曰：狂之始發，少臥而不飢，自高賢也，自辯智也，自貴據也，妄笑樂、歌舞、行走不休，其脈三部俱陽。故癡迷而知畏懼者，陰也，不足也，癲也。忿怒而莫可制者，陽也，有餘也，狂也。而尤宜辨者，人雖知虛實之治不同，而不知癲症少而狂症多。患斯病者，癲症不過百中一二，故脈每多實強。善治者，不得忽視。夫脈亦不得徒泥乎脈，脈症參觀，斯為盡善。</p>

<h2>審色以辨淺深</h2>
<figure>
<img data-orig-src="urn:270:08899.jpg" alt="圖">
</figure>
<p>欲知症之真偽，須察耳後穴。經系青紫色，目斜視而白珠色紅者，夾無疑焉。其穴在耳後，系三焦經之顱息穴。觀銅人圖便知。初起之時，穴上有紋二條上衝髮際，當察以辨其病在何經。在肝，色青；在心，色赤；在脾，色淡黃；在肺，色淡白；在腎，色黑。病退則散。若紋漸收縮，凝而成珠，形如豆粒，則難治矣。如恐未的，可再用青油燃紙，令患者向火久視，目中定現五色彩暈，亦以紅、青、黃、白、黑，分心、肝、脾、肺、腎。現某色者，即屬某經；或全現者，病流五臟。若經紋之色隱而不現，火光之色亦不現，即宜以獨活湯一二劑升發之。後仍不現，非病之將散，即屬他症，又當參詳再辨。舌色初起，色深紅；熱燥極，色黃。若用硝、黃太早，則色轉黑，又宜以升陽散火湯主之。若胎如積粉，即屬疫症，以達原飲主之。又觀面色以驗生克，或面黃而內現青，為木剋土；或面白而內現赤，為火剋金，凡五行相剋者准此，俱宜以一補一泄之法治之。</p>

<h2>審症以辨經絡</h2>
<p>癲之始發，不過癡迷昏憒而已，元他症也。狂之始發，身無寒熱，心神昏迷，狂妄相乘，譫語疊作，似有邪祟依附，以故喜怒哀樂失其正，愛惡情欲反其常，言則無非神抵，見則無非妖怪或社壇禮拜。凡呼天誓地，甚至裸體忘羞，遠方逃匿，種種異狀，難以枚舉。其見證大要有五：一曰悲泣也。熱在膽，痰在肝，肝與膽相通，則熱炎於肝而氣不暢，故悲而泣也。二曰喜笑也。熱在小腸，痰在心，心與小腸相通，則熱炎於心，心血上升，故喜而笑也。三歌樂也。熱在大腸，痰在肺，肺與大腸相通，則熱炎於肺，肺竅氣塞，則氣逼熱邪而散於脾，子入母懷，故樂而歌也。四曰詈惡也。熱在胃，痰在脾，脾與胃相通，則熱炎於脾，脾土燥極，故詈而惡也。五曰闡怒也。熱在膀胱，痰在腎，腎與膀胱相通，則熱蓄下焦，水不生木而肝燥，故怒而闡也。至登堂上坐，男稱帝，女稱佛，則邪已傳胃，一下即愈，此狂症之常也。時而棄衣狂走，逾牆上屋，行窄徑如行平地，或側退或棄履，或言語不倫，此五行混雜，五臟合病也。時而仰觀，為火有餘；時而俯視，為水有餘；時而左顧右盼，如見五色精兵、天仙往來、神鬼相攻，此則五行互克，病愈深而治愈難矣。世俗每見前證，疑有魔鬼相攻，輒以巫師治之，實非鬼也，乃狂症之變也。總之，不離乎痰者近是。然五臟見證，間印《內經》不合，大抵病為怪病，而理亦相反，謹導師授，亦我用我法云爾。</p>

<h2>審方以辨先後</h2>
<p>或病之初起，或初接他人手，審症未的，俱宜以獨活湯升發之，次則依各條主方治之，或隨症變通，或隨方增減，神而明之，則存乎其人。但不可先用補劑阻塞經絡，以致不可救藥；亦不可遽用硝、黃，致痰為寒涼所陷，凝結不散。總以理痰為先，清火次之。若血蓄下焦及病已傳胃，即宜急以硝、黃下之。既下之後，又當救陰，或以金水六君煎主之。若直中癲症，則又以溫中升陽為主，寒涼斷不可用。</p>
<p><u>獨活湯</u></p>
<p>獨活　羌活　川芎　當歸　細辛　桂枝　人參　石蒲　云神　志肉　法夏　陳皮　白薇　甘草</p>
<p><u>升陽散火湯</u></p>
<p>紅胡　北風　葛根　升麻　羌活　獨活　人參　白芍　甘草　生薑　大棗</p>
<p><u>金水六君煎</u></p>
<p>熟地　當歸　陳皮　法夏　茯苓　甘草</p>
<p><u>達原飲</u></p>
<p>檳榔　草果　厚朴　知母　黃芩　白芍　甘草</p>

<h2>五臟分治法</h2>
<p>邪傳肝經，則泣，以清風飲子主之，或羚羊角散、犀角地黃湯加柴、苓亦可。</p>
<p><u>清風飲子</u></p>
<p>青黛　防風　膽星　梔子　香附</p>
<p><u>羚羊角散</u></p>
<p>川芎　當歸　棗仁　茯神　香附　獨活　防風　苡仁　杏仁　廣香　炙草　生薑</p>
<p><u>犀角地黃湯</u></p>
<p>犀角　白芍　丹皮　生地</p>
<p>邪傳心經，則血旺，故多言多笑，以天黃散主之，或導赤散亦可。</p>
<p><u>天黃散</u></p>
<p>花粉　黃連</p>
<p><u>導赤散</u></p>
<p>生地　木通　草梢　淡竹葉</p>
<p>邪傳於脾，氣不能舒則署，以柴陳湯主之，或二石滾痰丸、滌痰湯、越鞠丸亦可。</p>
<p><u>柴陳湯</u></p>
<p>紅胡　法夏　陳皮　茯苓　黃芩　甘草</p>
<p><u>二石滾痰丸</u></p>
<p>法夏　陳皮　茯苓　香附　石蒲　鬱金　礞石　海石　膽草　甘草</p>
<p><u>滌痰湯</u></p>
<p>法夏　細辛　橘紅　人參　茯苓　石蒲　枳實　熟軍　甘草　竹茹</p>
<p><u>越鞠丸</u></p>
<p>法夏　砂仁　蒼朮　川芎　陳皮　茯苓　梔子　香附　甘草</p>
<p>邪傳於肺，則壅塞肺竅，必歌、必喊叫，以潤肺飲主之。</p>
<p><u>潤肺飲</u></p>
<p>知母　貝母　花粉　桔梗　陳皮　麥冬　茯苓　甘草</p>
<p>邪傳於胃，則血蓄下焦，故闡怒，以桃仁承氣湯主之。</p>
<p><u>桃仁承氣湯</u></p>
<p>桃仁　桂枝　熟軍　玄明粉　甘草</p>
<p>邪傳於胃，則病將愈。然有男女之分，在女必稱神、佛之尊，在男必稱帝位之尊。急宜下之，以導痰承氣湯主之。</p>
<p><u>導痰承氣湯</u></p>
<p>知母　厚朴　海石　陳皮　法夏　茯苓　鬱金　枳實　粉葛　莊黃　甘草</p>

<h2>五臟合病治法</h2>
<p>凡翻壇打廟、逾牆上屋，棄衣棄履、狂走倒退、行徑拜揖等證，皆五臟合病，五行混雜，宜調和營衛，清熱化痰，以五臟飲主之，或八味逍遙散亦可。若仰觀、俯視、左顧右盼而面色又相剋，此亦五行混雜，病必糾纏，亦以五臟飲加減調養可也。</p>
<p><u>五臟飲</u></p>
<p>法夏　陳皮　茯苓　知母　貝母　香附　膽草　花粉　黃連　梔子　甘草</p>

<h2>伏火上炎治法</h2>
<p>患延日久，伏火上炎，則邪著於腎，故好淫，男女皆同，用知柏地黃湯主之。</p>
<p><u>知柏地黃湯</u></p>
<p>知母　黃柏　乾地黃　牡丹皮　澤泄　山茱萸　茯苓　懷山藥</p>

<h2>狂轉癲症治法</h2>
<p>狂症轉顛，皆因泄熱太早，痰為寒涼所凝，痰陷諸竅，則癲也，以回陽升麻湯主之。</p>
<p><u>回陽升麻湯</u></p>
<p>熟地　人參　附塊　乾薑　當歸　升麻　甘草</p>

<h2>直中癲症治法</h2>
<p>直中癲症，因陰邪內積，抑鬱難伸，故不語不樂，默默如醉，目光直視，無時顛仆，三部之脈俱虛，宜回陽升麻湯主之，或附桂理陰煎、胡椒理中湯亦妙。</p>
<p><u>回陽升麻湯</u>　見前。</p>
<p><u>附桂理陰煎</u></p>
<p>熟地　當歸　肉桂　北姜　附子　炙草</p>
<p><u>胡椒理中湯</u></p>
<p>川椒　蓽茇　北姜　細辛　附子　白朮　陳皮　款冬　炙草</p>

<h2>心神不安治法</h2>
<p>諸證皆可參入。風熱邪痰相攻，心神不安，宜五福飲主之。</p>
<p><u>五福飲</u></p>
<p>竹葉（錢）　側柏葉（半錢）　陳壁土（兩）</p>
<p>共煎水壹碗，用秤鉈燒紅，以藥水淬之，溫服。</p>

<h2>將愈吉兆</h2>
<p>證見掃屋拂塵最佳，臟腑痰除熱退，指日清順矣，以完功盪滌丸主之。</p>
<p><u>家傳完功盪滌丸</u>　恐除邪未盡，以方盪滌之。</p>
<p>礞石　海石　陳皮　法夏　西莊　枳實　香附　鉤藤　天麻　知母　川樸　葶藶　芒硝　人參　茯苓　沉香　麝香　甘草</p>
<p>研末，飯丸。孕婦，去麝香，加竺黃。</p>

<h2>愈後宜調理</h2>
<p>是症有一治而愈者，有久治而後愈者，有愈後略欠調理、數月復發者，最難治。故治此病者，宜拔其根本，劫其巢穴，寬之以歲月，養之以優遊，方保無反復之憂，或用天王補心丹，或金水六君煎主之。</p>
<p><u>天王補心丹</u></p>
<p>地黃　人參　丹參　玄參　桔梗　五味　當歸　遠志　天冬　麥冬　柏仁　棗仁　茯神</p>
<p><u>金水六君煎</u>　見前。</p>

<h2>應用諸方</h2>
<p><u>吐法鹽刀散</u></p>
<p>用鐵刀一把，將鹽五錢置刀繡上，放碗中，以淡竹葉煎濃湯傾於內，澄清服之。</p>
<p><u>白金丸</u></p>
<p>白礬（兩）　鬱金（兩）</p>
<p>共研細末，飯糊丸，硃砂為衣，薑湯下。</p>
<p>二方隨用以之吐痰。</p>
<p><u>家傳化邪丸</u>　妄言邪鬼，尚未言神，此方主之。</p>
<p>真琥珀　鬼箭羽　蒼朮</p>
<p>共研末，飯糊丸，硃砂為衣。薑湯下。</p>
<p><u>四七湯</u></p>
<p>人參　延胡索　法夏　官桂　甘草</p>
<p><u>服蠻煎</u></p>
<p>生地　麥冬　白芍　石蒲　石斛　丹皮　茯神　陳皮　木通　知母</p>
<p><u>防風通聖散</u></p>
<p>熟軍　明粉　荊芥　麻絨　梔仁　白芍　連翹　桔梗　川芎　當歸　石膏　滑石　薄荷　黃芩　白朮　防風　甘草</p>
<p><u>逍遙散</u></p>
<p>當歸　白芍　紅胡　茯苓　白朮　薄荷　甘草　生薑</p>
<p>本方加丹皮、梔仁，名八味逍遙散。</p>
<p><u>生鐵落飲</u></p>
<p>以鐵落一升，用水二斗，煮取一斗，入後項藥，煮至五升，用竹瀝兌服之。</p>
<p>鐵落（即鐵屎）　石膏　龍齒（醋煅）　茯苓　防風　玄參　秦艽　竹淚</p>
<p><u>二石滾痰丸</u>　滌痰湯　越鞠丸　羚羊角　散犀角　地黃湯　天王補心丹　俱見前。</p>
<p>以上應用諸方，隨證加減用之。</p>

<h2>附　痰飲辨</h2>
<p>在脾經者，名曰濕痰，以二陳湯主之。</p>
<p><u>二陳湯</u></p>
<p>法夏　茯苓　陳皮　甘草</p>
<p>在肺經者，名曰燥痰，其痰澀而難出，以利金湯、潤肺飲主之。</p>
<p><u>利金湯</u></p>
<p>貝母　茯苓　陳皮　枳殼　桔梗　甘草</p>
<p><u>潤肺飲</u>　見前。</p>
<p>在肺經名曰風痰，其痰清而多泡，以防風丸、川芎丸主之。</p>
<p><u>防風丸</u></p>
<p>防風　天麻　川芎　硃砂　甘草</p>
<p><u>川芎丸</u></p>
<p>川芎　細辛　防風　薄荷　桔梗　甘草</p>
<p>在心經名曰熱痰，其痰堅而多塊，以天竺散主之。</p>
<p><u>天竺散</u></p>
<p>南星（制）　法夏　黃芩　官桂　天竺黃</p>
<p>在腎經名曰寒痰，其痰有黑點而多稀，以薑桂丸主之。</p>
<p><u>薑桂丸</u></p>
<p>泡姜　肉桂　白朮　廣皮　法夏　人參　茯苓　炙草</p>
<p>又有五飲之號。其人素盛今羸，水走腸間，漉漉有聲，名曰痰飲，以桂苓朮甘湯主之。</p>
<p><u>桂苓朮甘湯</u></p>
<p>桂枝　茯苓　白朮　甘草</p>
<p>水流脅下，咳唾引痛，名曰懸飲，以十棗湯主之。</p>
<p><u>十棗湯</u></p>
<p>大戟　芫花　甘遂　南星（制）　大棗</p>
<p>水流四肢，身體疼痛，名曰溢飲，以大青龍湯主之。</p>
<p><u>大青龍湯</u></p>
<p>麻黃　桂枝　杏仁　石膏　甘草　姜　棗（引）</p>
<p>咳逆倚息，氣短不得臥，其形如醉，名曰支飲，以五苓散主之。</p>
<p><u>五苓散</u></p>
<p>白朮　茯苓　朱苓　澤泄　上桂</p>
<p>膈滿嘔吐，喘咳寒熱，腰背痛，目淚出，身瞤惕，振振惡寒，名曰伏飲，以倍術丸主之。</p>
<p><u>倍術丸</u></p>
<p>白朮　桂心　官桂</p>
<p>更有一種非痰非飲，時吐白沫，不甚稠黏，此脾虛不能約束津液也，宜六君子湯加益智仁。症各不同，治迥異，司命者慎之。</p>
<p><u>六君子湯</u></p>
<p>人參　白朮　茯苓　法夏　陳皮　炙草</p>

<h2>附錄　癲犬咬方</h2>
<p>人或被咬，或銜衣或觸氣，皆能使人發狂。於初咬之時，即服人參敗毒散加地榆、紫竹根一二劑。至七日，以生黃豆試之，如口不知生氣，心不作嘔逆，又再服一二劑。至二七，又照前試之，如毒未盡，又再服。三七，亦如前試之，至口知生氣，則毒盡矣，永不復發。即毒已發，以此方灌之，亦可起死回生。屢試屢驗之方，慎毋以平淡而忽之也。</p>
<figure>
<img data-orig-src="urn:270:08900.jpg" alt="圖">
</figure>
<p><u>人參敗毒散</u></p>
<p>人參　茯苓　羌活　獨活　川芎　薄荷　前胡　紅胡　枳殼　桔梗　甘草　地榆　紫竹根</p>
<p>再加婆婆針同煎，更妙。此藥稀少，草本，葉對節生，頂有蕊，內有白毛黑針。即單用酒兌亦佳。雖已成形，亦化水而下。</p>
<p><u>又方</u></p>
<p>路邊荊一斤，一半用青黛炒，一半用黃土水炒，五六日內服完。即與前方並服亦可。</p>
