<header data-type="book">
<h1>靈樞經脈翼</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>夏英</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1497">公元1497年（明·弘治十年）</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>人身之有脈絡流注以充其內外非聖人莫能知何以然脈絡人皆不可得而見者雖析其肌剖其膚莫之能有也惟聖人能探其所從來諳其所攸止是以靈樞經脈明著其實以開後學其功博哉蓋天之七政所歷九道非若經星麗天之有章而交會向背自無毫釐之差地之濟瀆所行一脈非若常流入海之可見而起伏出入自有分殊之別而人之榮衛所循周身雖非眉目在面之顯著而灌注之理又豈無其所自耶此聖人所以能洞察而眾人固莫知之耳夫何靈樞之文世古言深中有錯簡易置況無註釋後世不無失其真者此許昌滑氏十四經發揮所以作也仁和夏君時彥以世醫業儒讀書明理有契於是而愛之自惟醫之為道人之司命攸系苟不能知脈絡經穴之所繇不但施於針砭艾焫而已將何以察感受之因乎若昧昧焉以執方徒懵懵焉以耳目妄是猶傷胸捫足幾何而不誤人之疾戕人之生耶於是悉取祖遺諸秘有裨靈樞經脈之旨者若實太師諸家韻語更加演繹自成一家之言復疏靈樞本文於下就以滑氏注條列其次仍為總括以承之後附奇經八脈仰伏人尺寸間亦時出己意正其紛錯明其分截略加潤色而隱括之列圖分類粲然昭明名曰靈樞經脈翼展卷一覽皆在阿堵視發揮為益要較滑注為益明且以便於初學記誦猗歟快哉時彥知予知其最詳書成出示以序囑予予告之曰傳有之云人莫不飲食也鮮能知味今時彥能以是用心可謂能味者乎祖述前賢而使後學有所憑據察病識源循經又疾曷啻飲上池而洞見五臟歟是雖滑氏鼓其波於前而時彥揚其濤於後是誠能羽翼乎靈樞而大有功於醫道也活人之德奚淺淺夫因紬繹其理敢用僣著於篇端云</p>
<p><u>時弘治十年日南至古郯徐伯齡序</u></p>

<h1>凡例</h1>
<p>—是編不但為砭焫而設蓋通察經穴脈絡之繇是以全論周身經脈雖則參考樞素諸篇而皆一本靈樞經脈之者故云經脈翼云</p>
<p>—十二經所列次第並以流注之序為之先後起子手大陰肺經終於足厥陰肝經附以任督二奇其有專穴也</p>
<p>—經脈歌括雜取竇太師洎諸家之言有裨於靈樞經脈之旨者大書列之仍分疏靈樞經文於下其經文分截一以靈樞本文為主仍取滑氏發揮所注附於經文之後以圈別之其諸穴絡與他經交會過脈者復以外圈隔之云見某經不復更贅</p>
<p>—經脈流注本經曰歷曰循曰至曰抵其交會者曰會曰過曰行其或經行之處，既非本經又非交會則不以字例統之</p>
<p>—諸經之穴編入括中者今則隨所分截而大書開具行列明釋以便初學其諸取穴則參考樞素諸篇洎滑氏發揮而取之其有所取周折未易得者旁取針經集要等書附註以足之間一竊附己意一二以贅於下其言某穴在某所者完穴也取某穴上下者必屈伸偃仰坐臥跪彈而後得之也此與流注所經又不可以一例統之也</p>
<p>—後附總歌則雜取諸家相合之言演之仍以管見為愚按於下以紀一經之始末云</p>
<p>—經脈歌括有與經文分截不同者今則斷章求義以求其不皆或牽滯下文併為一句韻語者今則略加隱括嫠而為二但使之理平順不乖其義不計工拙</p>
<p>—諸家所明經穴有顛倒互釋而與流注次第不同者今亦皆改正不令矛盾</p>
<p>—靈樞所載本文是助所主之繇而滑氏折載有詳略不同者今一以靈樞為主而辨證滑氏之異於後</p>
<p>—奇經八脈雖不若十二經之有常道亦非若諸絡脈之微眇也任督二脈之直行者既以列之圖穴於諸經之後其陰陽維蹺沖帶六脈則別具編焉為其有六脈所發之穴今著於偏首以備參考</p>
<p>上以上凡十條</p>
<p>是編英自孩提時得先大父先人講論緒餘拳拳服膺錄之手照閱三十年凡遇四方高明時加取正旁遘諸書參其所同去其所異必歸於正一得之見如是而已恐久散失不揣僣妄輯而成書敢用傳之壽梓與為人子者洎初學之士共之</p>
<p><u>弘治丁巳長至日古杭夏英時彥謹識於杏花春曉亭</u></p>

<h1>上卷</h1>

<h2>手少陰心五臟通之圖</h2>
<figure>
<img data-orig-src="urn:270:05770.jpg" alt="手少陰心五臟通之圖">
</figure>

<h2>手太陰肺起寅之圖</h2>
<figure>
<img data-orig-src="urn:270:05771.jpg" alt="手太陰肺起寅之圖">
</figure>
<p>夫經脈十二所以周流一身如環無端與天同一運行焉蓋天以三百六十五度四分度之一為一周天而終一晝夜人之榮衛則以五十度周於身氣行一萬三千五百息脈行八百一十丈而終一晝夜適當明日之寅時而復會於手太陰是與天同度周而復始以人呼吸之數言之一呼脈行三寸一吸脈行三寸呼吸定息脈行六寸其氣常以平旦始從中焦注手太陰而終注於足厥陰計呼吸二百七十息脈行一十六丈二尺漏下二刻為一周身於是復還注手太陰積而盈之人一呼一吸為一息每刻一百三十五息每時八刻計一千八十息十二時九十六刻計</p>
<p>一萬二千九百六十息刻之餘分得五百四十息合一萬三千五百息也一息脈行六寸每二刻二百七十息脈行一十六丈二尺每時八刻脈行六十四丈八尺榮衛四周於身十二時計九十六刻脈行七百七十七丈六尺為四十八周身刻之餘分行二周身得三十二丈四尺總之為五十度周身脈得八百一十丈也此呼吸之息脈行之數周身之度合晝夜百刻之詳也</p>

<h1>卷中</h1>

<h2>手太陰肺經之圖</h2>
<figure>
<img data-orig-src="urn:270:05772.jpg" alt="手太陰肺經之圖">
</figure>

<h2>手太陰肺經歌</h2>
<p>手太陰肺之經腹走腋而腋走手是經多氣少血起於中府止於少商計十一穴左右共二十二穴肺之為藏六葉兩耳四垂如蓋附著於脊之第三椎中有二十四空行列分布諸臟清濁之氣為五臟華蓋雲手太陰經肺起寅中焦下絡大腸行還循胃口幽門穴上膈循行會本經靈樞第十篇雲手太陰之脈起於中焦下絡大腸還循胃口上膈屬肺○滑氏曰起發也絡繞也還循也循巡也又依也沿也屬會也中焦者在胃中脘當臍上四寸之分大腸注見本經胃口胃上下口也胃上口在臍上五寸上脘穴下口在臍上二寸下腋穴之分也膈者隔也凡人心下有膈膜與脊脅周迴相著所以遮隔濁氣不使上熏於心肺也手太陰起於中焦受足厥陰之交由是循任脈之外足少陰經脈之裡以次下行當臍上一寸水分穴之分繞絡大腸手太陰陽明相為表裡乃復行本經之外上循胃口迤邐上膈而屬會於肺榮氣有所歸於本歲也○幽門見腎經水分見任脈</p>
<p>屬肺還從肺系出絡肺橫行來肘腋穴從中府過雲門</p>
<p>循臑天府下俠白漸行心主少陰前肘中尺澤約紋偏靈樞第十篇去從肺系橫出腋下下循臑內行少陰心主之前下肘中○滑氏曰肺系謂喉嚨也喉以候氣下接於肺肩下脅上際曰腋膊下對腋處為臑肩肘之間也臑盡處為肘臂節也自肺藏循肺系出而橫行循胸部第四行之中府雲門以出腋下下循臑內歷天府俠白行手少陰手心主之前下入肘中抵尺澤穴也蓋手少陰循臑臂出小指之端手心主循臑臂出中指之端手太陰則行手二經之前也</p>
<p>中府　在雲門下一寸乳上三肋間動脈應手陷中</p>
<p>雲門　取天突下一寸兩旁各六寸陷中動脈舉臂取之天突見任脈</p>
<p>天府　在腋下三寸臑內廉動脈中以鼻取之禁灸</p>
<p>俠白　在天府下去肘五寸動脈中</p>
<p>尺澤　在肘中約紋上動脈中</p>
<p>循絲臂內到孔最骨間列缺交經傳寸口即是經渠穴</p>
<p>掌後大淵魚際側出從大指少商頭</p>
<p>靈樞第十篇云循臂內上骨下廉入寸口上魚可循魚際出大指之端○滑氏曰肘以下為臂廉隅也邊也手掌後高骨旁動脈為關關前動脈為寸口曰魚曰魚際云者謂掌骨之前大指本即之後其肥肉隆起處統謂之魚魚際則其間之穴名也既下肘中乃循臂內上骨之下廉歷孔最列缺入寸口之經渠太淵以上魚循魚際出大指之端至少商穴而終也端杪也</p>
<p>孔最　去腕上七寸手太陰之郄</p>
<p>列缺　去腕側上一寸五分以手交叉食指末筋骨罅中太陰之絡別走陽明交經絡穴也</p>
<p>經渠　在寸口陷中禁灸</p>
<p>太淵　在掌後陷中脈之會也</p>
<p>魚際　在手大指本節後內側散脈中</p>
<p>少商　在手大指端內側白肉內宛宛中去爪甲如韭葉</p>
<p>交手陽明大腸脈</p>
<p>靈樞第十篇云其支者從腕後直出次指內廉出其端○滑氏曰臂骨盡處為腕脈之大隧為經交經者為絡本經終於大指之端此則從腕後列缺穴達次指內廉出其端而交於手陽明大腸經</p>
<p><u>總歌曰</u></p>
<p>肺起中焦絡大腸還循胃口近心旁自知屬肺橫循腋出臂徐徐入少商</p>
<p>愚按手太陰肺之脈起於中焦終於大指內廉端上其支音自腕後列缺穴直行於大指次指內廉出其端長三尺五寸交於手陽明大腸經故手陽明之脈起於大指次指之端商陽穴始也</p>
<p><u>穴歌曰</u></p>
<p>手太陰經十一穴中府雲門天府列俠白尺澤孔最存列缺經渠大淵涉魚際少商如韭葉</p>
<p><u>是動所生歌曰</u></p>
<p>此經多氣而少血是動則病喘與咳肺脹膨膨缺盆痛兩手交瞀為臂厥所生病者為氣嗽喘渴煩心腦滿結臑臂之內前廉痛小便頻數掌中熱氣虛肩背痛而寒氣盛亦疼風汗出穴伸少氣不足息遺失無度溺變色靈樞第十篇云是動則病肺脹滿膨膨而喘咳缺盆中痛甚則交兩手而瞀此為臂厥是主肺斫生病者咳上氣喘渴煩心腦滿臑臂內前廉痛厥掌中熱氣盛有餘則肩背痛風寒汗出中風小便數而欠熱虛則肩背痛寒少氣不足以息弱色變為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大三倍於人迎虛者寸口反小於人迎也○滑氏所生病者咳咳下有嗽字前廉痛痛下無厥字風寒。滑氏曰寒字疑衍溺色變下有卒遺失無度五字○越人云經言脈有是動有所生病一脈變為二病者何也然經言是動者氣也所生病者血也邪在氣氣為是而動邪在血血為所生病氣主呴之血主濡之氣留而不行者為氣先病也血壅而不濡者為血後病也故先為是動後所生病也○滑氏曰此脈字非尺寸之脈乃十二經隧之脈也後凡言是動所生病者義皆仿此</p>
<p><u>音釋</u></p>
<p>脘　臑（奴侯反）　膊（音剝）　腕（音緩）　瞀（音茂）　腋（音抑）　臂（音閉）　迤（音以）　邐（音里）　杪（音渺）　罅（音腵）</p>

<h2>手陽明大腸經之圖</h2>
<figure>
<img data-orig-src="urn:270:05773.jpg" alt="手陽明大腸經之圖">
</figure>

<h2>手陽明大腸經歌</h2>
<p>手陽明大腸之經手走頭而頭走腹是經氣血俱多起於商陽止於迎香計二十穴左右共四十穴大腸</p>
<p>為腑長二丈一尺廣四寸當臍右回十六曲</p>
<p>手陽明是大腸經商陽二間三間行合谷陽谿兩筋內</p>
<p>靈樞第十篇雲手陽明之脈起於大指次指之端循指上廉出合谷兩骨之間上人兩筋之中○滑氏曰大指次指大指之次指謂食指也手陽明大腸經也凡經脈之道陰脈行手足之裡陽脈行手足之表此經起於大指次指之端商陽穴受手太陰之交行於陽之分也由是循指之上廉歷二間三間以出合谷兩骨之間復上入陽谿兩筋之中</p>
<p>商陽　在手表大指次指內側去爪甲如韭葉</p>
<p>二間　在手表大指次指本節前內側陷中</p>
<p>三間　在手表大指次指本節後內側陷中</p>
<p>合谷　在手表大指次指岐骨間陷中動脈</p>
<p>陽谿　在手表腕中上側兩筋陷中</p>
<p>循臂偏歷溫溜升下廉上廉三里去曲池肘髎來五里臂臑肩髃兩骨間</p>
<p>靈樞第十篇云循臂上廉入肘外廉循臑外前廉上肩○滑氏曰自陽谿而上循臂上廉之偏歷溫溜下廉上廉三里入肘外廉之曲池循臑外前廉歷肘髎五里臂臑絡臑會上肩至肩髃穴也○臑會見手少陽經手陽明之絡也</p>
<p>偏歷　在腕中後三寸別走太陰</p>
<p>溫溜　取腕後小士六寸大士五寸間動脈中</p>
<p>下廉　在輔骨下去上廉一寸去曲池四寸</p>
<p>上廉　在三里下一寸</p>
<p>三里　在曲池下二寸按之肉起</p>
<p>曲池　在肘外輔骨屈肘曲骨之中以手拱胸取之</p>
<p>肘髎　在肘大骨外廉陷中</p>
<p>五里　在肘上三寸行向里大脈中禁針</p>
<p>臂臑　在肘上七寸䐃向端陽明之絡</p>
<p>肩髃　在肩端兩骨間陷者宛宛中舉臂有空陽明蹺脈之會</p>
<p>巨骨上與大椎會</p>
<p>靈樞第十篇云出髃骨之前廉上出於柱骨之會上○滑氏曰肩端兩骨間為髃骨肩胛上際會處為天柱骨出髃骨前廉循巨骨穴上出柱骨之會上會於大椎○大椎見督脈手足三陽督脈之會</p>
<p>巨骨　在肩端上行兩叉骨間陷中陽明蹺脈之會</p>
<p>此經直下缺盆行陷中本屬是陽明陽明外絡繞肺臟下膈竟屬大腸停</p>
<p>靈樞第十篇云下入缺盆絡肺下膈屬大腸○滑氏曰自大椎而下入缺盆循足陽明經脈外絡繞肺臟復下膈當天樞之分會屬於大腸也○缺盆天樞俱見足陽明經</p>
<p>其支又自缺盆別上行天鼎扶突接貫腮及入於下齒</p>
<p>靈樞第十篇云其支別者從缺盆上頭貫腮入下齒中○滑氏曰頭莖為頸耳以下曲處為一口前小者為齒其支別者自缺盆上行於頸循天鼎扶突上貫於頰入下齒縫中</p>
<p>天鼎　在頸缺盆直扶突後一寸仰首取之</p>
<p>扶突　在氣舍後一寸五分又云在人迎後一寸五分仰首取之氣舍人迎見足陽明經</p>
<p>上唇交互人中穴左右相交挾鼻孔任督手陽明會總禾髎一寸是迎香交足陽明經胃統靈樞第十篇　云還出挾口交人中左之右右之左上挾鼻孔○滑氏曰口唇上鼻柱下為人中既入齒縫復出夾兩口吻相交於人中之分左脈之右右脈之左上挾鼻孔循禾髎迎香而終以交於足陽明也○人中見督脈手陽明督之會</p>
<p>禾髎　在鼻孔下俠水溝旁五分禁灸</p>
<p>迎香　在禾髎上一寸鼻孔旁五分手足陽明之會禁灸</p>
<p><u>總歌曰</u></p>
<p>手陽明脈起商陽過臂交肩絡大腸再出缺盆還入齒上行俠鼻到迎香愚按手陽明大陽之脈起於大指次指手表內側端上終於絡肺會屬大腸其支者從缺盆入於下齒左之右右之左相交頞中橫至兩目之下承泣穴長五尺交於足陽明胃經故足陽明之脈起於承泣穴始也</p>
<p><u>穴歌曰</u></p>
<p>手中陽明始商陽二間三間合谷藏陽谿偏歷及溫溜下廉上廉三里長曲池肘髎迎五里臂臑肩髃巨骨當天鼎扶突禾髎接終以迎香二十穴</p>
<p><u>是動所生歌曰</u></p>
<p>此經氣盛血亦盛是動頸腫並齒痛所生病者為鼻衄目黃口乾喉痹生大指次指難為用肩前臑外痛相仍靈樞第十篇云是動則病齒痛頸腫是主津液○所生病者目黃口乾鼽衄喉痹肩前臑痛大指次指痛不用氣有餘則當脈所過者熱腫虛則寒慄不復為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大三倍於寸口虛者人迎反小於寸口也</p>
<p><u>音釋</u></p>
<p>髃　䐃（渠殞也）　胛（音甲背胛也）　頰（右脅反結腮也）　吻（音文上聲）鼽（音求鼻塞）</p>

<h2>足陽明胃經之圖</h2>
<figure>
<img data-orig-src="urn:270:05774.jpg" alt="足陽明胃經之圖">
</figure>

<h2>足陽明胃經歌</h2>
<p>足陽明胃之經頭走腹而腹走足足經氣血俱多起於承泣止於厲兌計四十五穴左右共九十穴胃大一尺五寸纖曲屈伸長二尺六寸</p>
<p>足陽明起鼻睛明平足太陽少陽並是足陽明五脈會又足太陽顴上循斜行承泣目瞳子四白巨髎來上齒出環唇口地倉行交互承漿下唇會</p>
<p>靈樞第十篇云足陽明之脈起於鼻交頞中旁約太陽之脈下循鼻外入上齒中還出挾口環唇下交承漿○滑氏曰頗鼻莖也鼻山根為頗足陽明起於鼻兩旁迎香穴由是而上左右相交於頞中過睛明之分下循鼻外歷承泣四白巨髎入上齒中復出循地倉挾兩口吻環繞唇下左右相交於承漿之分也○迎香見手陽明經睛明見足太陽經手足太陽少陽足陽明五脈之會承漿見任脈足陽明任脈之會</p>
<p>承泣　在目下七分直瞳於陷中足陽明任蹺脈之會禁針</p>
<p>四白　在目下一寸直瞳子</p>
<p>巨髎　在夾鼻孔旁八分直瞳子蹺脈之會</p>
<p>地倉　在夾口吻旁四分外如近下有微微動手足陽蹺脈之會</p>
<p>卻循頤後大迎出斜上頰車下關客足陽明與少陽交發際頭維至顱額顳顬手足少陽經額顱督脈到神庭足太陽明三脈會</p>
<p>靈樞第十篇云卻循頤後下廉出大迎循頰車上耳前過客主人循髮際至額顱○滑氏曰腮下為頷頷中為頤囟前為髮際髮際前為額顱自承漿卻循頤後下廉出大迎循頰車上耳前歷下關過客主人循髮際行懸釐頷厭之分經頭維會於額顱之神庭○客主人懸釐頷厭並見足少陽經皆手足少陽陽明之交會神庭見督脈足太陽陽明督脈之會</p>
<p>大迎　在曲頷前一寸三分骨陷中動脈以口下當兩肩</p>
<p>頰車　在耳下曲頰端陷中側臥張口取之</p>
<p>下關　在客主人下耳前動脈下廉合口有空開口即閉足少陽之會客主人足見少陽經</p>
<p>頭維　在額角入髮際本神旁一寸五分神庭旁四寸五分足少陽交會本神見足少陽經神庭見督脈足太陽陽明督脈會足陽明脈自大迎行上終於此穴入神庭散腦中</p>
<p>其支再下大人迎水突穴居氣舍上夾喉天突缺盆當循足少陰俞府行下膈屬胃上脘旁胃口會厭為吸門　屬胃上脘足陽明會手太陰下一寸即由中脘是其經乃手太陽少陽合又同任脈會其穴絡脾微著左脅些相依胃上無差別</p>
<p>靈樞第十篇云其支者從大迎前下人迎循喉嚨入缺盆下膈屬胃絡脾○胸兩旁高處為膺膺上橫骨為巨骨巨骨上陷中為缺盆其支別者從大迎前下人迎循喉嚨歷水突氣舍入缺盆行足少陰俞府之外下膈當上脘中脘之分屬胃絡脾○俞府見足少陰經上脘見任脈足陽明手太陽任脈之會中脘見任脈手太陽少陽足陽明所生任脈之會</p>
<p>人迎　在頸大脈動應手夾結喉旁一寸五分動脈仰首取之禁針灸</p>
<p>水突　在頸大筋前直人迎下氣舍上二穴之中間</p>
<p>氣舍　在頸直人迎下夾天突陷中天突見任脈</p>
<p>缺盆　在肩下橫骨陷中禁針</p>
<p>直行又自缺盆底氣戶庫房並屋翳膺窗當乳乳根停斜入不容承滿位梁門穴過關門通太乙滑門天樞同挾臍外陵下大巨水道歸來入氣衝</p>
<p>靈樞第十篇云其直者從缺盆下乳內廉下挾臍入氣衝中○滑氏曰直行者從缺盆而下下乳內廉循氣戶庫房屋翳膺窗乳中乳根不容承滿梁門關門太乙滑肉門下挾臍歷天樞外陵大巨水道歸來諸穴而入氣衝中也○自氣戶至乳根去中行各四寸自不容至滑肉門去中行各三寸自天樞至歸來去中行各二寸</p>
<p>氣戶　取天突下一寸兩旁各四寸微近下陷中直乳頭仰取天突見任脈</p>
<p>庫房　在氣戶下一寸六分陷中下直乳頭仰而取之</p>
<p>屋翳　在庫房下一寸六分陷中直乳頭仰而取之</p>
<p>膺窗　在屋翳下一寸六分陷中下直乳頭仰而取</p>
<p>乳中　當乳中是也禁針灸</p>
<p>乳根　在直乳下一寸六分陷中仰而取之自氣戶至乳根去中行各四寸</p>
<p>不容　取巨關兩旁各三寸直四肋端巨闕見任脈</p>
<p>承滿　在不容下一寸</p>
<p>梁門　在承滿下一寸</p>
<p>關門　在梁門下一寸</p>
<p>太乙　在關門下一寸</p>
<p>滑肉門　在太乙下一寸下挾臍自不容至滑肉門去中行各三寸</p>
<p>天樞　取臍兩旁各二寸大腸之募</p>
<p>外陵　在天樞下一寸</p>
<p>大巨　在外陵下一寸</p>
<p>水道　在大巨下三寸</p>
<p>歸來　在水道下二寸自天樞至日來去中行各二寸</p>
<p>氣衝　在歸來下鼠溪上一寸動脈應手宛宛中禁針一名氣衝</p>
<p>其支腹從胃口下別行循腹肓俞走足少陰經與本經復會氣衝從下溜靈樞第十篇云其支者起胃下口循腹裡下至氣衝中而合○滑氏曰胃下口下脘之分難經云太倉下口為幽門者是也自屬胃處起胃下口循腹裡過足少陰肓俞之外本經之裡下至氣衝中與前之入氣衝者合</p>
<p>髀關伏兔陰市從梁丘膝上兩筋同膝臏犢鼻至三里上廉條口下廉中豐隆解谿衝陽屬陷谷內庭厲兌足</p>
<p>靈樞第十篇云以下髃關抵伏兔下入膝臏中下循胻外廉下足跗入中指外間○滑氏曰抵至也股外為髀髀前膝上起肉處為伏兔伏兔後交文為髀關挾膝解中為臏脛骨為䯒跗足面也既相合氣衝中乃下髀關抵伏兔歷陰市梁丘下入膝臏中經犢鼻下循䯒外廉之三里巨虛上廉條口巨虛下廉豐隆解谿下足跗之衝陽陷谷入中指外間之內庭至厲兌而終也</p>
<p>髀關　在膝上伏兔後交文分中禁灸</p>
<p>伏兔　在膝上六寸起肉端正跪坐而取之一云膝蓋上七寸禁灸</p>
<p>陰市　在膝上三寸伏兔下陷中拜而取之禁灸</p>
<p>梁丘　在膝上二寸兩筋間</p>
<p>犢鼻　在膝臏下䯒骨上骨解大筋中禁灸</p>
<p>三里　在膝眼下三寸䯒骨外廉大筋內宛宛中舉足取之極重按之則跗上動脈止矣</p>
<p>上廉　在裡下三寸舉足取之</p>
<p>條口　在下廉上一寸舉足取之禁灸</p>
<p>下廉　在上廉下三寸舉足取之</p>
<p>豐隆　在外踝上八寸䯒外廉陷中當繫鞋帶處</p>
<p>解谿　在衝陽後一寸五分腕上陷中當繫鞋帶處</p>
<p>衝陽　在足跗上五寸骨間動脈去陷谷三寸</p>
<p>陷谷　在足大指次指之間本節後陷中</p>
<p>內庭　在足大指次指外間陷中</p>
<p>厲兌　在足大指次指之端去爪甲如韭葉</p>
<p>靈樞第十篇云其支者下膝三寸而別以下入中指外間○滑氏曰此支自膝下三寸循三里穴之外衝陽反出行間來交足太陰脾脈續</p>
<p>靈樞第十篇云其支者別跗上入大指間出其端○滑氏曰此支自跗上衝陽穴別行大指間斜出足厥陰行間穴之外循大指下出其端</p>
<p>以交於足太陰行間見足厥陰經</p>
<p><u>總歌曰</u></p>
<p>胃脈先由鼻頞中卻循頤後過喉嚨絡脾屬胃俠臍下下脛還知厲兌通</p>
<p>愚按足陽明胃之脈起於鼻頞終於足大指次指端上其支者自跗上衝陽穴別行入足大指之下長八寸交於足太陰脾經故足太陰之脈起於大指之端內側隱白穴始也</p>
<p><u>穴歌曰</u></p>
<p>四十五穴足陽明承泣四白巨髎經地倉大迎頰車峙下關頭維人迎對水突氣舍連缺盆氣戶庫房屋翳屯膺窗乳中延乳根不容承滿梁門起關門太乙滑肉門天樞外陵大巨存水道歸來氣衝次髀關伏兔走陰市梁丘犢鼻足三里巨虛連條口位下巨虛兮及豐隆解谿衝陽陷谷中內庭厲競經穴終</p>
<p><u>是動所動歌曰</u></p>
<p>此經多氣復多血是動欠呻面顏黑悽悽惡寒畏見人忽聞木音心震惕登高而歌棄衣走甚則腹脹仍賁響凡此諸疾皆骭厥所生病者為狂瘧濕溫汗出鼻流血口喎唇胗仍喉痹膝臏疼痛腹脹結氣膺伏兔䯒外廉足跗中指俱痛徹有餘消穀溺色黃不足身前寒振慄胃中寒時脹滿生氣盛身前皆有熱</p>
<p>靈樞第十篇云是動則病洒洒振寒善呻數欠顏黑病至則惡人與火聞木音則惕然而驚心欲動獨閉戶塞牖而處甚則欲上高而歌棄衣而走賁響腹脹是為骭厥是主血所生病者狂瘧溫淫汗出鼽衄口喎唇胗頸腫喉痹大腹永腫膝臏腫痛循膺乳氣街股伏兔骭外廉足跗上皆痛中指不用氣盛則身以前皆熱其有餘於胃則消穀善飢溺色黃氣不足則身以前皆寒慄胃中寒則脹滿為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大三倍於寸口虛者人迎反小於寸口也</p>
<p><u>音釋</u></p>
<p>顳　顬　顱（音盧囟也）　突（防骨反觸也）　翳　肓　髀（音陛股也）　臏　犢　髎</p>
<p>頞（音遏）　頷（音順下也）　囟（音信）　鼷　獨　骭（音旱脛骨）　䯒　峙</p>

<h2>足太陰脾經之圖</h2>
<figure>
<img data-orig-src="urn:270:05775.jpg" alt="足太陰脾經之圖">
</figure>

<h2>足太陰脾經歌</h2>
<p>足太陰脾之經足走腹而腹走胸是經多氣少血起於隱白止於大包計二十一穴左右共四十二穴脾廣三寸長五寸掩乎太倉附著於脊之第十一椎</p>
<p>足太陰經解隱白太都太白同其直公孫別走足陽明商丘踝下微前覓上踝三寸三陰交靈樞第十篇云足太陰之脈起於大指內側白肉際過覈骨後上內踝前廉○滑氏曰覈骨一作核骨俗云孤拐骨是也足跟後兩旁起骨為踝骨足太陰起大指之端隱白穴受足陽之交也由是循大指內側白肉際大都穴過核骨歷太白公孫商丘上內踝前廉之三陰交也</p>
<p>商丘　在足內踝下微前陷中</p>
<p>三陰交　在內踝上三寸骨下陷中</p>
<p>上腨循行漏谷超厥陰前有地機穴陰陵泉在膝之坳靈樞第十篇云上腨內循䯒骨後交出厥陰之前○滑氏曰腨腓腸也由三陰交上腨內循䯒骨後之漏谷上行二寸交出足厥陰經之前至地機陰陵泉</p>
<p>漏谷　在內踝上六寸骨下陷中</p>
<p>地機　在膝下五寸太陰之郄</p>
<p>陰陵泉　在膝下內側輔骨下陷中伸足取曲膝亦得之</p>
<p>上循膝股號血海箕門越筋陰股內上行入腹至衝門府舍橫行中極會關元任脈三陰還又循腸腹結在經歸大橫臍直下脘太陰任脈腹哀行腹哀在下日月是足太陽少陽訪陽維三會上期門直乳三陰屬脾臟循行中脘下脘回屬脾絡胃無猜疑此經本自腹哀起別腹還循膈上來</p>
<p>靈樞第十篇云上循膝服內前廉入腹屬脾絡胃滑氏曰髀內為股臍上下為腹自陰陵泉上循膝股內前廉之血海箕門迤邐入腹經衝門府舍會中樞關元復循腹結大橫會下脘歷腹哀過日月期門之分循本經之裡下至中脘下脘之際以屬脾絡骨也○中極關元並見任脈皆足三陰任脈之會下脘見任脈足太陰任脈之會日月見足少陽經足太陰少陽陽維之會期門見足厥陰經足太陰厥陰陰維之會也</p>
<p>血海　在膝臏上內廉白肉際二寸中</p>
<p>箕門　在魚腹上越筋間陰股內動脈中</p>
<p>衝門　去大橫五寸在府舍下橫骨端約中動脈厥陰之會</p>
<p>府舍　在腹結下三寸太陰郄厥陰陰維之交會</p>
<p>腹結　在大橫下一寸三分</p>
<p>大橫　在腹哀下三寸五分直臍旁</p>
<p>腹哀　在日月下一寸五分自衝門起至腹哀止去腹中行各四寸五分日月見足少陽經</p>
<p>斜上本經食竇穴舉臂可取天溪接仰取寸六是胸鄉更上周榮回下脅大包布脅九肋間手足太陰中府攢斜行竟上人迎位夾喉連舌散何難</p>
<p>靈樞第十篇云上膈挾咽連舌本散舌下○滑氏曰咽所以咽物居喉之前至胃長一尺六寸為胃系也舌本舌根也由腹哀上膈循食竇天溪胸鄉周榮由周榮外曲折向下至大包又自大包外，曲折向上會中府上行人迎之裡挾咽連舌本散舌下而絡焉○中府見手太陰經足太陰之會人迎見足陽明經</p>
<p>食竇　在天溪下一寸六分舉臂取之</p>
<p>天溪　在胸鄉下一寸六分仰而取之</p>
<p>胸鄉　在周榮下一寸六分陷中仰而取之</p>
<p>周榮　在中府下一寸六分陷中仰而取之中府見手太陰經</p>
<p>大包　在淵腋下三寸淵腋見足少陽經</p>
<p>別支又從腹哀去再歷胃經中脘外上注膻中穴里終兩手少陰心經起</p>
<p>靈樞第十篇云其支者復從胃別上膈注心中○滑氏曰此支由腹哀別行再從胃部中脘穴之外上膈注於膻中之裡心之分以交於手少陰○中脘膻中並見任脈</p>
<p><u>總歌曰</u></p>
<p>指端側內方由踝股脛崎嶇氣脈通入腹屬脾並絡胃俠咽連舌注胸中</p>
<p>愚按足太陰脾之脈起於足大趾內側終於俠咽散舌下別支又自腹哀歷胃經注膻中之裡心之分交於手少陰心經故手少陰之脈起於心中上肺橫出腋下極泉始也</p>
<p><u>穴歌曰</u></p>
<p>足中太陰脾經偏隱白太都太白先公孫商丘三陰交漏谷地機陰陵泉血海箕門衝門近府舍腹結大橫連腹哀食竇天溪去胸鄉周榮大包全</p>
<p><u>是動所生歌曰</u></p>
<p>此經氣盛而血衰是動其病氣所為食入即吐胃脘痛更兼身體痛難移腹脹善噫舌本強得後與氣快然衰所生病者舌亦痛體重不食亦如之煩心心下仍急痛泄水溏瘕寒瘧隨不臥強立股膝腫疽發身黃大指痿</p>
<p>靈樞第十篇云是動則病舌本強食則嘔胃脘痛腹脹善噫　得後與氣則快然如衰身體皆重是主脾所生病者舌本痛體不能動搖食不下煩心心下急痛溏瘕泄水閉黃疸不能臥強立股膝內腫厥足大趾不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大三倍於人迎虛者寸口反小於人迎也○滑氏　下急痛下有寒瘧二字</p>
<p><u>音釋</u></p>
<p>踝（胡瓦反）　覓（音密）　坳　猜　攢　肋（音勒）　拐　腓</p>

<h2>手少陰心經之圖</h2>
<figure>
<img data-orig-src="urn:270:05776.jpg" alt="手少陰心經之圖">
</figure>

<h2>手少陰心經歌</h2>
<p>手少陰心之經腹走胸而胸走手是經多血少氣起於極泉止於少衝計九穴左右共一十八穴心形如未敷蓮花居肺下膈上附著於脊之第五椎</p>
<p>手少陰心五臟通下膈絡繞小腸中</p>
<p>靈樞第十篇雲手少陰之脈起於心中出屬心系下膈絡小腸○滑氏曰心系有二一則上與肺相通而入肺兩大葉間一則由肺葉而下曲折向後並脊膂細絡相連貫脊髓與腎相通正當七節之間蓋五臟系皆通於心而心通五臟系也手少陰經起於心循任脈之外屬心系下膈當臍上二寸之分絡小腸</p>
<p>別從心系橫支起上夾喉門目系同</p>
<p>靈樞第十篇云其支者從心系上挾咽系目系○滑氏曰支者從心系出任脈之外上行而挾咽系目也</p>
<p>其支復從心系出上循肺上橫循腋極泉穴在臂內廂腋下筋間當動脈</p>
<p>靈樞第十篇云其直者復從心系卻上肺出腋下○滑氏曰直者復從心系直上至肺臟之分出循腋下抵極泉也</p>
<p>極泉　在臂內腋下筋間動脈入胸</p>
<p>下循臑外後廉行太陰心主後青靈下肘內廉來少海</p>
<p>靈樞第十篇云下循臑內後廉行太陰心主之後下肘內廉○滑氏曰自極泉下循臑內後廉行太陰心主兩經之後歷青靈穴下肘內廉抵少海</p>
<p>青靈　在肘上三寸舉臂取之</p>
<p>少海　在肘內大骨外去肘端五分</p>
<p>臂廉靈道甚分明通理排來陰郄底掌後神門循小指少府前行出少衝交手太陽小腸是</p>
<p>靈樞第十篇云循臂內後廉抵掌後兌骨之端入掌內後廉循小指之內出其端○滑氏曰腕下踝為兌骨自少海而下循臂內後廉歷靈道通理至掌後兌骨之端經陰郄神門入掌內廉至少府循小指端之少衝而終以交於手太陽也</p>
<p>靈道　在掌後一寸五分</p>
<p>通理　在腕後一寸陷中</p>
<p>陰郄　在掌後脈中去腕五分</p>
<p>神門　在掌後兌骨之端陷者中</p>
<p>少府　在手小指本節後陷中直勞宮</p>
<p>少衝　在手小指內廉端去爪甲如韭葉</p>
<p><u>總歌曰</u></p>
<p>心脈元來起膈中更還心系始通胸絡腸出腋方循肘入掌分明見少衝</p>
<p>愚按手少陰心之脈起於心中終於小指內廉出其端長三尺五寸而直交於手太陽小腸經蓋心為君主之官示尊於他藏故其交經授受不假別支而直自本經少衝穴交於手太陽小腸經故手大陽之脈起於小指外側端少澤穴始也</p>
<p><u>穴歌曰</u></p>
<p>九穴心經手少陰極泉青靈少海深靈道通理陰郄遂神門少府少衝尋</p>
<p><u>是動所生歌曰</u></p>
<p>多氣少血屬此經是動心脾痛難任渴欲飲水咽乾燥所生脅痛目如金脅臂之內後廉痛掌中有熱向經尋</p>
<p>靈樞第十篇云是動則病嗌乾心痛渴而欲飲是為臂厥是主心所生病者目黃脅痛臑臂內後廉痛厥掌中熱痛為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大再倍於人迎虛者寸口反小於人迎也</p>

<h2>手太陽小腸經之圖</h2>
<figure>
<img data-orig-src="urn:270:05777.jpg" alt="手太陽小腸經之圖">
</figure>

<h2>手太陽小腸經歌</h2>
<p>手太陽小腸之經手走頭而頭走腹是經多血少氣起於少澤止於聽宮計十九穴左右共三十八穴小腸長三丈二尺左回疊積十六曲胃之下口小腸之上口也在臍上二寸水穀於是入焉復下一寸為水分穴則小腸下口也至是而泌別清濁水腋入膀胱滓穢入大腸云</p>
<p>手太陽經絡小腸起於少澤小指旁前谷後谿循腕骨腕中陽谷陷中藏養老東骨上空罅</p>
<p>靈樞第十篇雲手太陽之脈起於小指之端循手外側上腕出踝中○滑氏曰臂骨盡處為腕腕下兌骨為踝本經起小指端少澤穴由是循手外側之前谷後谿上腕出踝中歷腕骨陽谷養老穴也</p>
<p>少澤　在手表小指外側端去爪甲一分陷中</p>
<p>前谷　在手表小指外側本節前陷中</p>
<p>後谿　在手表小指外側本節後陷中起肉之下</p>
<p>腕骨　在手表外側腋前起骨下陷中</p>
<p>陽谷　在手表外側腕中兌骨下陷中○兌骨腕下骨也</p>
<p>養老　在手踝骨上一空腕後一寸陷中</p>
<p>支正少陰來小海臑俞陽明手少陽膊部肩貞居骨解臑俞天宗與秉風曲垣肩外其肩中上行循臂大推穴手足三陽督脈同</p>
<p>靈樞第十篇云直上循臂骨下廉出肘內側兩筋之間上循臑外後廉出肩解繞肩胛交肩上○滑氏出肘內側起至循臑外後廉止無此十四字今錄於此以備參考○胛一名膊○滑氏曰脊兩旁為膂膂上兩角為肩解肩解下成片骨為肩胛自養老穴直上循臂骨下廉支正穴出肘內側兩骨之間歷小海穴上循臑外後廉行手陽明少陽之外上肩循肩貞臑俞天宗秉風曲垣肩外俞肩中俞諸穴乃上會大椎因左右相交於兩肩之上○大椎見督脈手足三陽督脈之會</p>
<p>支正　在腕後五寸別足少陰</p>
<p>小海　在肘內大骨外去肘端五分陷中屈手向頭取之</p>
<p>肩貞　在肩曲胛下兩骨解間肩髃後陷中</p>
<p>臑俞　在挾肩髎後大骨下胛上廉陷中手足太陽陽維蹺脈之會天髎見手少陽經</p>
<p>天宗　在秉風后大骨下陷中</p>
<p>秉風　在天髎外肩上小髃後舉臂有空手太陽陽明手足少陽之會天髎見手少陽經</p>
<p>曲垣　在肩中曲胛陷中按之應手痛</p>
<p>肩外俞　在肩胛上廉去脊三寸陷中</p>
<p>肩中俞　在肩胛內廉去脊二寸陷中</p>
<p>就向肩前缺盆陷下腋絡心膻中滿循咽透膈抵胃中竟屬小腸來下脘</p>
<p>靈樞第十篇云人缺盆絡心循咽下膈抵胃屬小腸○滑氏曰自交肩上入缺盆循肩向腋下行當膻中之分絡心循胃系下膈過上脘中脘抵胃下行任脈之外當臍上二寸之分屬小腸○膻中上脘中脘並見任脈會穴也</p>
<p>其支別自缺盆升循頸天窗旁頸筋穴歷天容循頰面顴髎兌督聽宮停靈樞第十篇云其支者別從缺盆循頸上頰至目銳眥卻入耳中○滑氏曰目外角為銳眥支者別從缺盆循頸之天窗天容上頰抵顴髎上至目銳眥過瞳子髎卻入耳中循聽宮而終也○瞳子髎見足少陽經</p>
<p>天窗　在頸大筋前曲頰下扶突後動脈應手陷中扶突見任</p>
<p>天容　在耳下曲頰後</p>
<p>顴髎　在面鳩骨下廉銳骨端陷中手少陽之會</p>
<p>聽宮　在耳中珠子大如赤小豆足少陽之會</p>
<p>別支循頰過䪼鼻循至睛明來眥內手足三陽五脈攢交足太陽膀胱位靈樞第十篇云其支者別頰上䪼抵鼻至目內眥斜絡於顴滑氏無斜絡於顴四字○滑氏曰目下為䪼目大角為目內眥其支者別循頰上䪼抵鼻至目內眥睛明穴以交於足太陽也○睛明見足太陽經</p>
<p><u>總歌曰</u></p>
<p>少澤因知手太陽上循盆內下連腸其支自頸斜交頰俠鼻還來目眥旁</p>
<p>愚按手太陽小腸之脈起於小指之端循手外則而上終於耳中聽宮穴其支者自聽宮別行頰上抵鼻至目內眥長五尺交於足太陽故足太陽之脈起於目內眥睛明穴始也</p>
<p><u>穴歌曰</u></p>
<p>手太陽穴一十九少澤前谷後谿偶腕骨陽谷可養老支正小海肩貞走臑俞天宗及秉風曲垣肩外復肩中天窗天容上顴髎卻入耳中循聽宮</p>
<p><u>是動所生歌曰</u></p>
<p>此經少氣還多血是動則病痛咽嗌頷下腫兮不可顧肩如拔兮臑似折所生病主肩臑痛耳聾目黃腫腮頰肘臂之外後廉痛部外猶當細分則</p>
<p>靈樞第十篇云是動則病嗌痛頷腫不可以顧肩似拔臑似折是主腋所生病者耳聾目黃頰腫頸頷肩臑肘臂外後廉痛為此諸病盛則瀉○之虛則補之熱則疾之寒則留之陷下則灸之不盛○不虛以經取之盛者人迎大再倍於寸口虛者人迎反小於○以顧滑氏作回顧寸口也</p>
<p><u>音釋</u></p>
<p>罅（音鰕）　膊（音搏肩膊）　膻（音誕與昶同）　䪼（音拙廣）　眥（靜計反）</p>

<h1>卷下</h1>

<h2>足太陽膀胱經之圖</h2>
<figure>
<img data-orig-src="urn:270:05778.jpg" alt="足太陽膀胱經之圖">
</figure>

<h2>足太陽膀胱經歌</h2>
<p>足太陽膀胱之經頭走脊而脊走足是經多血少氣起於睛明止於至陰計六十三穴左右共一百二十六穴膀胱重九兩二銖縱廣九寸居腎下之前大腸之側當臍上一寸水分穴之處小腸下口乃膀胱上際也水腋由是滲入焉</p>
<p>足太陽屬膀胱經起自目眥由睛明上行攢竹神庭穴督太陽經　並曲差五處承光額二十五通天從左脈交行百會右耳尖</p>
<p>靈樞第十篇云足太陽之脈起於目內眥上額交巔　滑氏曰目大角為內眥髮際前為額腦上為巔巔頂也足太陽起目內眥睛明穴上額循攢竹過神庭歷曲差五處承光通天自通天斜行左右相交於巔上之百會也神庭百會俱見督脈俱足太陽督脈之交會也</p>
<p>睛明　在目內眥頭外畔宛宛中手足太陽陽明少陽之會禁灸</p>
<p>攢竹　在兩眉頭陷中禁灸</p>
<p>曲差　取神庭外旁臨泣之裡二穴之間髮際內五分臨泣見足少陽經</p>
<p>五處　在上星旁曲差後五分</p>
<p>承光　取曲差後二寸禁灸</p>
<p>通天　取曲差後二寸五分</p>
<p>右脈仍從百會出耳角入髮際五分率谷浮白連竅陰乃足太陽少陽會從茲三穴散諸經　靈樞第十篇云其支者從巔至耳上角○滑氏曰支別者從巔之百會抵耳上角過率谷浮白竅陰所以散養於經脈也○率谷浮白竅陰三穴見足少陽經足太陽少陽之會也</p>
<p>其經再自通天項絡卻直行來玉枕循行腦戶選周傍足太陽同督脈並別循出腦還本經下項復從天柱仍</p>
<p>靈樞第十篇云其直　者從巔入絡腦還出別下項○滑氏曰腦頭髓也頸上為腦腦後為項此直行者由通天穴後循絡卻玉枕入絡腦復出下項抵天柱也○腦戶見督脈足太陽督脈之會</p>
<p>絡卻　在通天後一寸五分</p>
<p>玉枕　在絡卻後一寸五分或取後項上入髮際三寸腦戶旁一寸三分枕骨起肉</p>
<p>天柱　在頸項大筋外廉夾項後髮際陷中</p>
<p>大椎手足三陽會卻循陶道兩　行大杼風門皆夾脊肺俞厥陰四椎極心膈肝膽脾胃連三焦腎俞同臍直十六八椎大小腸膀胱十九椎兩旁中膂內俞白環入膂絡胃由膀胱</p>
<p>靈樞第十篇云循肩膊內挾脊抵腰中入循膂絡腎屬膀胱○滑氏曰肩後之下為肩膊椎骨為脊尻上橫骨為腰挾脊為膂自天柱而下過大椎陶道卻循肩膊內挾脊兩旁下行歷大杼風門肺俞厥陰俞心俞膈俞肝俞膽俞脾俞胃俞三焦俞腎俞大腸俞小腸俞膀胱俞中膂內俞白環俞由是抵腰中入循膂絡腎下屬膀胱也○大椎見督脈手足三陽督脈之會陶道見督脈足太陽督脈之會</p>
<p>大杼　在項後第一椎下兩旁各一寸五分陷中足少陽之會又骨會此夾脊第二行俞穴</p>
<p>風門　在第二椎下督脈之會兩旁各一寸五分</p>
<p>肺俞　在第三椎下兩旁各一寸五分</p>
<p>厥陰俞　在第四椎下兩旁各一寸五分</p>
<p>心俞　在第五椎下五旁各一寸五分</p>
<p>膈俞　在第七椎下兩旁各一寸五分</p>
<p>肝俞　在第九椎下兩旁各一寸五分</p>
<p>膽俞　在第十椎下正坐取之兩旁各一寸五分</p>
<p>脾俞　在第十一椎下兩旁各一寸五分</p>
<p>胃俞　在第十二椎下兩旁各一寸五分</p>
<p>三焦俞　在第十三椎下兩旁各一寸五分</p>
<p>腎俞　在第十四椎下與臍平兩旁各一寸五分</p>
<p>大腸俞　在第十六椎下兩旁各一寸五分</p>
<p>小腸俞　在第十八椎下兩旁各一寸五分</p>
<p>膀胱俞　在第十九椎下兩旁各一寸五分</p>
<p>中膂內俞　在第二十椎挾脊起肉兩旁各一寸五分</p>
<p>白環俞　在二十椎下伏取之禁灸自大杼循肩膊至白環俞抵腰中去脊中各一寸五分</p>
<p>其支別從白環入下循腰髁夾其脊上髎次髎中下髎會陽穴旁陰尾骨貫穿臀內下承扶殷門浮郄委陽途膕中只是委中穴</p>
<p>靈樞第十篇云其支者從腰中下挾脊貫臀入膕中○滑氏支下有別字腰中下下無挾脊二字○滑氏曰臀尻也挾腰臗骨兩旁為機機後為臀腓腸上膝後曲處為膕其支別者從腰中循腰髁下挾脊歷上髎次髎中髎下髎會陽下貫臀至承扶殷門浮郄委陽入膕中之委中穴也○按腰髁即腰監骨人脊椎骨有二十一節自十六椎節而下為腰監骨扶脊附著之處其十七至二十空云云也會陽在尾髎骨兩旁則二十一椎乃復見而終焉又按督脈當脊中起於長強在二十一椎下等而上之至第十六椎下為陽關穴其二十椎至十七椎皆無穴乃知為腰監骨所掩明矣○</p>
<p>上髎　在第一空腰髁下一寸挾脊陷中足太陽少陽之絡</p>
<p>次髎　在第二空夾脊陷中</p>
<p>中髎　在第三空挾脊陷中足厥陰少陽所結</p>
<p>下髎　在第四空挾脊陷中足太陽厥陰所結</p>
<p>會陽　在陰尾髎骨兩旁</p>
<p>承扶　在尻臀下股陰上紋中</p>
<p>殷門　在肉郄下六寸</p>
<p>浮郄　在委陽上一寸展膝得之</p>
<p>委陽　在承扶下六寸屈身取之足太陽之後出於膕中外廉兩筋間委中在膕中央約文中動脈伏面挺腹至地取之血郄也○此支自夾脊第二行至白環俞而入歷上下髎循會陽直至委中與附分至秩邊者合共會於委中</p>
<p>別支天柱膊中鋪別行左右附分去貫穿伸膂來魄戶膏肓穴下循神堂譩譆膈內七椎數魂門第九近陽綱意舍前行取胃倉肓門又勒接志室胞肓直抵秩邊藏</p>
<p>靈樞第十篇云其支　者從膊內左右別下貫胂挾脊內過髀樞○滑氏曰膂內曰胂夾脊肉也其支者為挾脊兩旁第三行相去各三寸之諸穴自天柱而下從膊內左右別行下貫胂膂歷附分魄戶膏肓神堂譩譆膈關魂門陽綱意舍胃倉肓門志室胞肓秩邊下歷尻臀過髀樞也股外為脾楗骨之下為髀樞</p>
<p>附分　在第二椎下附項內廉正坐取之手足太陽之會夾脊第三行俞穴</p>
<p>魄戶　在第三椎下兩旁各三寸正坐取之</p>
<p>膏肓　在第四椎下近第五椎上兩旁各三寸取穴時令人正坐曲脊伸兩手以臂著膝前令端直手大指與膝頭齊以物支肘母令臂動搖離胂骨容側指許按之痠痛</p>
<p>神堂　在第五椎下兩旁各三寸正坐取之</p>
<p>譩譆　在肩膊內廉第六椎下兩旁各三寸正坐取之</p>
<p>膈關　在第七椎下兩旁各三寸正坐闊肩取之</p>
<p>魂門　左第九椎下兩旁各三寸陷中正坐取之</p>
<p>陽綱　在第十椎下兩旁各三十陷中正坐取之</p>
<p>意舍　在第十一椎下兩旁各三十陷中正坐取之</p>
<p>胃倉　在第十二椎下兩旁各三寸</p>
<p>肓門　在第十三椎下兩旁各三寸又肋間陷中</p>
<p>志室　在第十四椎下兩旁各三寸陷中並正坐取之</p>
<p>胞肓　在第十九椎下兩旁各三寸伏而取之</p>
<p>秩邊　在第二十椎下陷中兩旁各三寸伏而取之或云在第二十一椎下○此支復自天柱而下歷附分至此而穴終由此穴循本絡直注於委中合</p>
<p>經從秩邊貫臀內髀樞穴內承山外旁廂一寸五分間髀從裡廉委中會合陽膝約下二寸貫穿腨內承筋䪼承筋正在腨腸中下至承山腸肉分飛揚外踝七寸存附陽踝下循崑崙僕參申脈白肉際金門京骨足邊屯足外大骨赤白肉小指本節收束骨通谷之前出至陰交足少陰腎經脈靈樞第十篇云循髀外後廉下合膕中以下貫腨內出外踝之後循京骨至小指外側○滑氏曰腨腓腸也循髀外後廉髀樞之裡承扶之外一寸五分之間而下與前之入膕中者相合下行循合陽穴下貫腨內歷承筋承山飛揚附陽出外踝後之崑崙僕參申脈金門循京骨束骨通谷至小指外側端之至陰穴以交於足少陰也</p>
<p>合陽　在膝約文中央下三寸或取委中下三寸</p>
<p>承筋　在腨腸中央陷中</p>
<p>承山　在兌腨腸下分肉間陷中</p>
<p>飛陽　在足外踝上七寸太陽之絡別走太陰</p>
<p>附陽　在足外踝上二寸太陽前少陽後筋骨間陽蹺之郄</p>
<p>崑崙　在足外後跟骨上陷中</p>
<p>僕參　在跟骨下陷中拱足得之</p>
<p>申脈　在外踝下陷中容爪甲白肉際陽蹺脈之所生</p>
<p>金門　在足外踝下太陽之郄陽維所屬</p>
<p>京骨　在足外側大骨下赤白肉際陷中</p>
<p>束骨　在足小指外側本節後陷中</p>
<p>通谷　在足小指外側本節前陷中</p>
<p>至陰　在足小指外側去爪甲角如韭葉</p>
<p><u>總歌曰</u></p>
<p>內眥交巔方下項循肩挾脊抵腰中從腰絡腎膀胱過髀骨源流小指通</p>
<p>愚按足太陽膀胱之脈起於目內眥睛明穴上額交巔抵天柱過大椎挾脊下行循膂絡腎屬膀胱其支者從腰入膕中其支別者復自天柱從膊內左右挾脊而下合膕中出小指外側端至陰穴長　交於足少陰腎故足少陰之脈起於小指之下斜趣足心湧泉穴始也</p>
<p><u>穴歌曰</u></p>
<p>足太陽經六十三睛明攢竹曲差參五處承光上通天絡卻玉枕天柱嶄大杼風門引肺俞厥陰心俞膈俞注肝俞膽俞脾俞同胃俞三焦腎俞中大腸小腸膀胱俞中膂白環兩俞輸自從大杼至白環相去脊中三寸間上髎次髎中復下會陽承扶殷門亞浮郄委陽委中罅膊內挾脊附分當太陽行背第三行魄戶膏肓與神堂譩譆膈關魂門旁陽綱意舍仍胃倉育門志室胞之肓二十椎下秩邊藏合膕以下合陽是承筋承山居其次飛陽附陽泊崑崙僕參申脈連金門京骨束骨又通谷小指外側至陰續</p>
<p><u>是動所生歌曰</u></p>
<p>是經血多氣猶少是動頭疼不可當項如拔兮腰似折</p>
<p>髀強痛徹脊中尖膕如結兮腨如裂是為踝厥筋乃傷所生瘧痔小指廢頭囟頂痛目色黃腰尻膕腳疼連背淚流鼻衄及顛枉</p>
<p>靈樞第十篇云是動則病沖頭痛目似脫項似拔脊痛腰似折髀不可以曲膕如結腨如裂是為踝厥是主筋所生病者痔瘧狂顛疾頭囟頂痛目黃淚出鼻衄項背腰尻膕腨腳皆痛小指不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大再倍於寸口虛者人迎反小於寸口也</p>
<p><u>音釋</u></p>
<p>竅　杼　膂（音呂脊骨兩旁　髁（苦瓦反腰骨）　臀（音屯髀也）　郄　膕（戈麥反曲腳也）　膊（補合反）　噫（音依痛聲也）　嘻（音熙痛聲也）　腨（時充反音喘）　尻（若高反）</p>

<h2>足少陰腎經之圖</h2>
<figure>
<img data-orig-src="urn:270:05779.jpg" alt="足少陰腎經之圖">
</figure>

<h2>足少陰腎經歌</h2>
<p>足少陰腎之經足走腹而腹走胸是經多氣少血起於湧泉止於俞府計二十七穴左右共五十四穴腎有兩枚狀如石卯色黑紫當胃下兩旁入脊膂附脊之第十四椎前後與臍平</p>
<p>足少陰經起足心</p>
<p>靈樞第十篇云足少陰之脈起於小指之下斜趣足心○滑氏曰趣向也足少陰起小指之下斜向足心之湧泉也</p>
<p>湧泉然谷太谿深別入跟中大鐘穴照海須從內踝尋水泉之穴循踝內行上厥陰太陽外復溜相連交信來少陰之前太陰背踝上三寸三陰交內循上腕築賓高出膕內廉至陰谷大小筋內尋其凹</p>
<p>靈樞第十篇云出然谷之下循內踝之後別入跟中上腨內出膕內廉○滑氏曰跟足跟也由湧泉轉出足內踝然谷穴下循內踝後太谿穴別人跟中之太鍾照海水泉乃折自太鍾之外上循內踝行厥陰太陰之後經復溜交信過三陰交上腨內循築賓出膕內廉抵陰谷也○三陰交見足太陰足三陰經之交會也</p>
<p>湧泉　在足心宛宛中屈足卷指取之</p>
<p>然谷　在足內踝前起大骨下陷中</p>
<p>太谿　在足內踝後跟骨上動脈陷中</p>
<p>太鍾　在足跟後沖中少陰之絡別走太陽</p>
<p>照海　在足內踝下陰蹺脈之所生</p>
<p>水泉　在內踝下太谿下一寸少陰之郄</p>
<p>復溜　在內踝上二寸動脈陷中</p>
<p>交信　在足內踝上二寸少陰前太陰後廉前筋骨間</p>
<p>築賓　在內踝上腨分中</p>
<p>陰谷　在膝內輔骨後大筋下小筋上動脈按之應手屈膝乃得之</p>
<p>上股後廉長強位督脈絡繞在脊骶足少陰連足少陽卻循橫骨沿毛際大赫血氣四滿外中注之上肓俞分平臍左右各寸半會屬循臍腎命門下騰關元會中極乃足三陰共任脈絡繞膀胱屬腎經</p>
<p>靈樞第十篇云上股內後廉貫脊屬腎絡膀胱○滑氏曰由陰谷上股內後廉貫脊會於脊之長強穴還出於前循橫骨大赫氣穴四滿中注肓俞當肓俞之所臍之左右屬腎下臍下過關元中極而絡膀胱也○長強見督脈足少陰少陽所結會督脈別絡也關元中極並見任脈足三陰任脈之會</p>
<p>橫骨　在大赫下一寸肓俞下五寸千金云</p>
<p>大赫　在氣穴下一寸或取肓俞下四寸</p>
<p>氣穴　在四滿下一寸或取肓俞下三寸衝脈之會一名胞門一名子戶</p>
<p>四滿　在中注下一寸氣海旁一寸或取肓俞下二寸</p>
<p>中注　在一寸衝脈之會</p>
<p>肓俞　在商曲下一寸去臍旁五分衝脈之會○橫骨至肓俞去中行各一寸五分</p>
<p>其支再從肓俞出上臍商曲石關騰一寸陰都通谷行貫穿肝部幽門過巨闕旁廂各五分上膈斜經步廊穴一寸六分要分別神封向上是靈墟仰取神藏彧中接更有俞府在胸堂正在璇璣二寸旁從前循向人迎去上項沿喉舌本藏</p>
<p>靈樞第十篇云其直者從腎上貫肝膈入肺中循喉嚨挾舌本○滑氏曰其直行者從肓俞屬腎處上行循商曲石關陰都通谷諸穴貫肝上循幽門上膈歷步廊入肺中循神封靈墟神藏或中俞府而上循喉嚨並人迎挾舌本而終也○人迎見足陽明經</p>
<p>商曲　取幽門下四寸肓俞上一寸衝脈之會</p>
<p>石關　在陰都下一寸衝脈之會</p>
<p>陰都　在通谷下一寸衝脈之會</p>
<p>通谷　在幽門下一寸衝脈之會○自商曲至通谷去腹中行各五分</p>
<p>幽門　挾巨闕旁各五分　見上門衝脈之會</p>
<p>步廊　在神封下一寸六分陷中或取俞府下八寸</p>
<p>神封　在靈墟下一寸六分陷中或取俞府下六寸四分</p>
<p>靈墟　在神藏下一寸六分陷中或取俞府下四寸八分</p>
<p>神藏　在或中下一寸六分陷中或取俞府下三寸二分</p>
<p>彧中　在俞府下一寸六分陷中　自步廊至去胸中行各二寸並仰而取之</p>
<p>俞府　在巨骨下璇璣旁</p>
<p>支經橫自神藏發絡心正向膻中治膻中兩乳直胸中交手厥陰心包絡</p>
<p>靈樞第十篇云其支者從肺出絡心注胸中○滑氏曰兩乳間為胸中支者自神藏別出繞心注胸之膻中以交於手厥陰也</p>
<p><u>總歌曰</u></p>
<p>腎經足底斜循踝出膕還從股後逢貫脊絡腸方屬腎上行俠舌散胸中</p>
<p>愚按足少陰腎之脈起於小指之下斜趣足心終於胸中俞府　其支別者復自神藏　橫出繞心注膻中交於手厥陰心包絡經故手厥陰之脈起於胸中出脅下腋三寸天池穴也</p>
<p><u>穴歌曰</u></p>
<p>足少陰經二十七湧泉然谷太谿溢太鍾照海通水泉復溜交信築賓連陰谷橫骨大赫赫氣穴四滿中注立肓俞商曲石關樽接都通谷幽門僻步廊神封靈墟位神藏彧中俞府既</p>
<p><u>是動所生歌曰</u></p>
<p>是經多氣而少血是動病飢不欲食喘嗽唾血喉中鳴坐而欲起面如漆目視䀮䀮氣不足心懸如飢常惕惕所生病者為舌乾口熱咽痛氣賁逼股內後廉並脊痛心腸煩痛疸而澼痿厥嗜臥體怠惰足下熱痛皆腎厥</p>
<p>靈樞第十篇云是動則病飢不欲食麵如漆柴咳唾則有血喝喝而喘坐而欲起目䀮䀮如無所見心如懸若飢狀氣不足則善恐心惕惕　如人將補之是為骨厥是主腎所生病者口熱舌乾咽腫上氣嗌乾及痛煩心心痛黃疸腸澼脊股內後廉痛痿厥嗜臥足下熱而痛為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之灸則強食生肉緩帶被髮大杖重履而步盛者寸口大再倍於人迎虛者寸口反小於人迎也○</p>
<p>滑氏面下有黑字漆柴易地色二字為字易謂字澼作癖字脊下有臀字</p>

<h2>手厥陰心包經之圖</h2>
<figure>
<img data-orig-src="urn:270:05780.jpg" alt="手厥陰心包經之圖">
</figure>

<h2>手厥陰心包絡經歌</h2>
<p>手厥陰心包絡之經腦走腋而腋走手是經多血少氣起於天池止於中衝計九穴左右共一十八穴心包一名手心主以藏象校之在心下橫膜之上堅膜之下與橫膜相黏而黃脂漫裹者心也其漫脂之外有細筋膜如絲與心肺相連者心包也或問手厥陰經曰心主又曰心包絡何也曰君火以名相火以位手厥陰代君大行事以用而言故曰手心主以經而言則曰心包絡一經面二名實相火也</p>
<p>心主心包手厥陰如絲箸膜肺連心脈從胸中心包會下膈三焦臍下停靈樞第十篇雲手厥陰之脈起於胸中出屬心包下膈歷絡三焦○滑氏曰手厥陰受足少陰之交起於胸中出屬心包由是下膈歷絡於三焦之上脘中脘及臍下一寸下焦之分也其支又自心包走橫出循胸來乳後一寸天池厥肋間循腋天泉循臑肘前行尺澤肘紋空</p>
<p>靈樞第十篇云其交者循胸出脅下腋三寸上抵腋下下循臑內行太陰少陰之間入肘中○滑氏曰脅上際為腋自屬心包上循胸出脅下腋三寸天池穴上行抵腋下下循臑內之天泉穴介乎太陰少陰兩經之中間入肘中之曲澤也</p>
<p>天池　在乳後一寸腋下三寸著脅直腋撅肋間足少陽之會</p>
<p>天泉　在曲腋下去臂二寸舉臂取之</p>
<p>曲澤　在肘內廉下陷中屈肘取之</p>
<p>直行下臂兩筋中郄門間使內關去大陵自掌來勞宮惟有中衝在中指</p>
<p>靈樞第十篇云下臂行兩筋之間入掌中循中指出其端○滑氏曰由肘中下臂行臂兩筋之間循郄門間使內關大陵入掌中勞宮穴循中指出其端之中衝去</p>
<p>郄門　在掌後去腕寸厥陰之郄</p>
<p>間使　在掌後三寸兩筋間陷中</p>
<p>內關　在掌後去腕二寸或取惠人三指橫加掌後腕上以中指之下當中兩筋間陷中</p>
<p>大陵　在掌後兩筋間陷中</p>
<p>勞宮　在掌中央動脈中屈無名指取之厥陰少陽絡穴也</p>
<p>中衝　在手中指端去爪甲如韭葉</p>
<p>其支別自勞宮起出掌循行次指端交手少陽三焦位</p>
<p>靈樞第十篇云其支別者從掌中循小指次指出其端○滑氏曰小指次指無名指也自小指逆數之則為次指云支別者自掌中勞宮定別行循小指次指出其端而交於手少陽也</p>
<p><u>總歌曰</u></p>
<p>氣自胸中何所注心包由始對三焦其注入中衝入指標</p>
<p>愚按手厥陰心包絡之脈起於胸中終於手中指中行穴其支別者復自掌中勞宮穴別行循小指之表端長三尺交於手少陽三焦經故手少陽之脈起於手小指次指之表端關衝穴始也</p>
<p><u>穴歌曰</u></p>
<p>九穴心包手厥陰天池天泉曲澤深郄門門使內關去大陵勞宮中衝臨</p>
<p><u>是動所生歌曰</u></p>
<p>是經少氣原多血是動則病手心熱肘臂攣急腋下腫甚則胸脅支滿結心中澹澹或大動善笑目黃面赤色所生病者為煩心心痛掌中熱即生</p>
<p>靈樞第十篇云是動則病手心熱臂肘攣急腋腫甚則胸脅支滿心中澹澹大動面赤目黃喜笑不休是生脈所生病者煩心心痛掌中熱為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大一倍於人迎虛者寸口反小於人迎也</p>
<p><u>音釋</u></p>
<p>撅（居越反）</p>

<h2>手少陽三焦經之圖</h2>
<figure>
<img data-orig-src="urn:270:05781.jpg" alt="手少陽三焦經之圖">
</figure>

<h2>手少陽三焦經</h2>
<p>手少陽三焦之經手走肩而肩走是經多氣少血起於關衝止於絲竹空計二十三穴左右共四十六穴三焦者水穀之道路氣之所終始也上焦在心下下膈在胃上口其治在膻中直兩乳間陷者中中焦在胃中脘當臍上四寸不上不下其治在臍旁下焦當膀胱上口其治在臍下一寸</p>
<p>手少陽經三焦儔關衝液門中渚流陽池上臂外關透別走心主名支溝會宗空處三陽絡四瀆肘前天井泊</p>
<p>靈樞第十篇雲手少陽之脈起於小指次指之端上出兩指之間循手表腕出臂外兩骨之間上貫肘滑氏兩指作次指○滑氏曰臂骨盡處為腕臑盡處為肘手少陽起小指次指端關衝穴上出次指之間歷液門中渚循手表腕之陽池出臂外兩骨之間循外關支溝會宗三陽絡四瀆乃上貫肘抵天井穴也</p>
<p>關衝　在手表小指次指之端去爪甲如韭葉</p>
<p>液門　在手表小指次指間陷中</p>
<p>中渚　在手表小指次指本節後間陷中</p>
<p>陽池　在手表腕上陷中禁灸</p>
<p>外關　在手表腕後二寸陷中少陽之絡別走手心主</p>
<p>支溝　在手表腕後三寸兩骨間陷中</p>
<p>會宗　在手表腕後三寸空中一寸</p>
<p>三陽絡　在臂上大交脈支溝上一寸</p>
<p>四瀆　在肘前五寸外廉陷中</p>
<p>天井　在肘外或大骨後上一寸兩筋間陷中屈肘取或義手按膝頭取之兩筋骨罅</p>
<p>上臑臑外清冷淵肩肘腋斜是消濼上肩臑會共肩髎更有天髎毖骨高秉風手足三陽後肩井橫量三指滔陽維手足少陽會竟入缺盆膻中去散走絡繞心包行遍屬三焦石門募</p>
<p>靈樞第十篇云循臑外上肩而交出足少陽之後入缺盆布膻中散絡心包下膈循屬三焦○滑氏肩下無而字布字作交字循字作遍字○滑氏曰肩肘之間膊下對腕處為臑從天井上行循臂臑之外歷清冷淵消濼行手太陽之裡陽明之外上肩循臑會肩髎天髎交出足少陽之後過秉風肩井下入缺盆復由足陽明之外而交會於膻中散布絡繞於心包乃下膈當胃上口以屬上焦於中腕以屬中焦於陰交以屬下焦也○秉風見手太陽經手足少陽手太陽陽明之會肩井見足少陽經手足少陽陽維之會缺盆足陽明經穴膻中見任脈心包相火用事之分也中脘陰交見任脈三焦之募任脈氣所發也</p>
<p>清冷淵　在肘上二寸伸肘舉臂取之</p>
<p>消濼　在肩下臂外腋斜肘分下行手太陽脈之裡陽明脈之外</p>
<p>臑會　在肩前廉去肩頭三寸手陽明之絡</p>
<p>肩髎　在肩端臑上陷中舉臂取之</p>
<p>天髎　在肩缺盆中上毖骨之際陷中央手少陽之絡陽維之會</p>
<p>其支又自膻中移缺盆上項來大椎手足三陽督脈會橫循天牖經懸釐頷厭手足少陽會翳風瘈脈斜行耳顱息青筋上角孫陽白睛明歸囟眥手足太陽與少陽陽明五脈會晴旁回循下額至於䪼顴髎兌骨陷中藏</p>
<p>靈樞第十篇云其支者從膻中上出缺盆上項系耳後直上出耳上角以屈下頰至䪼○滑氏系字作挾字○滑氏曰腦戶後為項目下為䪼其支者從膻中而上出缺盆之外上項過大椎循天牖上挾耳後經翳風瘈脈顱息直上出耳上角至角孫過懸釐頷厭及過陽白晴明屈曲下頰至䪼會顴髎之分也○大椎見督脈手足三陽督脈之會懸釐頷厭見足少陽經手足陽明少陽之交會也陽白見足少陽經手足陽明少陽之會晴明見足太陽經顴髎見手太陽經手少陽太陽之會也</p>
<p>天牖　在頸大筋外缺盆上天窗後天柱前完骨下發際上天窗資生經作天容</p>
<p>翳風　在耳後尖角陷中按之引耳中痛手足少陽之會</p>
<p>瘈脈　在耳本後雞足青絡中　在耳後青脈中</p>
<p>角孫　在耳郭中間上問口有空手足少陽之會</p>
<p>其支別從耳後起再自翳風穿入耳聽宮即是耳中珠二陽少陽三脈聚耳門缺當和髎親瞳子髎懸皆五分絲竹空居眉後陷交足少陽之膽經</p>
<p>靈樞第十篇云其支者從耳後入耳中出走耳前過客主人前交頰至目銳眥○滑氏入耳中中字下有卻字無走耳前過客主人前交頰十字目銳眥目外眥也○滑氏曰此支從耳後翳風穴入耳中過聽宮歷耳門和髎卻出至目銳眥會瞳子髎循絲竹空而交於足少陽也○聽宮見手太陽經手足少陽手太陽三脈之會瞳子髎見足少陽經手太陽手足少陽之會</p>
<p>耳門　在耳前起肉當耳缺中</p>
<p>和髎　在耳前兌發下橫動脈</p>
<p>絲竹空　一名目髎在眉後陷中</p>
<p><u>總歌曰</u></p>
<p>關衝流注方循腕過肘交肩下缺盆散絡心包還上項至於銳眥卻歸源</p>
<p>愚按手少陽三焦之脈起於手小指次指之表端終於眉後陷中絲竹空其支別者復自和髎別行至目銳眥長五尺交於足少陽膽經故足少陽脈起於目銳眥瞳子髎穴始也</p>
<p><u>穴歌曰</u></p>
<p>手中少陽是三焦關衝液門中渚朝陽池外關支溝引會宗三陽四瀆豪天井清冷淵消濼臑會肩髎天髎各天牖翳風瘈脈連顱息角孫耳門樂和髎絲竹空共全二十三穴並無錯</p>
<p><u>是動所生歌曰</u></p>
<p>是經少血還多氣是動耳鳴喉腫痹所生病者汗自出耳後痛兼目銳眥肩臑肘臂外眥疼小指次指亦如廢靈樞第十篇云是動則病耳聾渾渾焞焞嗌腫喉痹是主氣所生病者汗出目銳眥痛頰痛耳後肩臑肘臂外皆痛小指次指不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大一倍於寸口虛者人迎反小於寸口也</p>
<p><u>音釋</u></p>
<p>濼　毖　釐　頷</p>

<h2>足少陽膽經之圖</h2>
<figure>
<img data-orig-src="urn:270:05782.jpg" alt="足少陽膽經之圖">
</figure>

<h2>足少陽膽經歌（首頁佚）</h2>
<p>瞳子髎　在目外五分手太陽之會</p>
<p>聽會　在耳前陷中上關下一寸動脈宛宛中張口得之</p>
<p>客主人　耳前起骨上廉開口有空動脈宛宛中側臥張口取足陽明會一名上關某針</p>
<p>頷厭　在曲周下腦空上廉手足少陽陽明之交會</p>
<p>懸顱　在曲周上腦空中</p>
<p>懸釐　在曲周上腦空下廉手足少陽陽明之交會</p>
<p>曲鬢　取耳上將耳掩前對耳尖髮際曲曲陷中鼓頷有空足太陽之會　</p>
<p>率谷　在耳上如前三分入髮際一寸五分陷者宛宛中嚼而取之足太陽之會</p>
<p>天衝　在耳上如前三分耳後髮際二寸</p>
<p>浮白　在耳後入髮際一寸足太陽之會</p>
<p>竅陰　在完骨上枕骨下搖動有空足太陽之會</p>
<p>完骨　在耳後入髮際四分</p>
<p>本神　在曲差旁一寸五分耳上入髮際四分陽維之會</p>
<p>陽白　在眉上一寸直目瞳子陽維之會</p>
<p>臨泣　在眉上直入髮際五分陷中直目瞳子足太陽之會</p>
<p>目窗　在臨泣後一寸或取眉上入髮際一寸五分直目瞳子陽維之會</p>
<p>正營　在目窗後一寸或取眉上入髮際二寸五分直目瞳子陽維之會</p>
<p>承靈　在正營後一寸五分或取眉上入髮際四寸夾玉枕骨上陽維之會</p>
<p>腦空　在承靈後一寸五分夾玉枕骨下陷中陽維之會</p>
<p>風池　在腦空後髮際陷中夾風府兩旁陽維之會</p>
<p>循頸行來至天牖還從肩井穴中過手足陽明少陽後大椎手足三陽督大迎太陽少陽足秉風手足四陽交前項缺盆下胸腹</p>
<p>靈樞第十篇云循頸行手少陽之前至肩上卻交手手少陽之後入缺盆○滑氏交出下無手字○滑氏曰自風池循頸過天牖穴行手少陽脈之前下至肩上循肩井卻左右相交出手少陽之後過大椎大杼秉風當秉風前入缺盆之外○天牖見手少陽經大椎見督脈手足三陽督脈之會大杼見足太陽經足太陽少陽之會秉風見手太陽經手太陽陽明手足少陽之會缺盆見足陽明經</p>
<p>肩井　在肩上陷中缺盆上大骨前一寸五分三指按取中指下陷中手中少陽陽維之會</p>
<p>其支別向耳之中穴自懸釐過翳風循出聽宮並聽會瞳髎銳眥後方終靈樞第十篇云其支者從耳後入耳中出走耳前至目銳眥後○滑氏曰其支者從耳後顳顬間過翳風之分入耳中過聽宮出走耳前復自聽會至目銳眥瞳子髎之分也○翳風見手少陽經手足少陽之會聽宮見手太陽經手足少陽太陽三脈之會聽會瞳子髎見前</p>
<p>別支再起銳眥側大迎顴髎頰車驀下頰循還本路前以合缺盆下胸臆天池貫膈自期門足太陰經會厥陰就屬膽募到日月太陽少陽陽維臨靈樞第十篇云其支者別銳眥下大迎合於手少陽抵於䪼下加頰車下頸合缺盆以下胸中貫膈絡肝屬膽○滑氏其支者別別下有目字大迎合合下無於字手少陽陽下無抵於二字合缺盆盆下無以字○滑氏曰其支者別自目外瞳子䪼而下大迎合干少陽於䪼當顴髎穴之分下臨頰車下頸循本經之前與前之入缺盆者相合下胸中天池之外貫膈即期　門之所絡肝下至日月之分屬於膽也○大迎見足陽明經顴髎頰車見手太陽經天池見手心主手厥陰足少陽之會期門見足厥陰日月見下文膽之募也循脅章門氣衝出繞毛髀厭環跳入</p>
<p>靈樞第十篇云循脅裡出氣沖繞毛際橫入髀厭中○滑氏曰脅怯也腋下為脅曲骨之分為毛際毛際兩旁動脈中為氣衝捷骨之下為髀厭即髀樞也自屬膽處循脅內章門之裡出氣沖繞毛際遂橫入髀厭中厭中之環跳也○章門見足厥陰經足少陽厥陰之會氣衝見足陽明經環跳在髀樞中其直依然自缺盆下腋循胸至淵腋輒筋日月至章門季脅還從帶脈行更有五樞維道穴居髎卻與上髎分中髎夾脊長強骶足少陰陽相結會合於環跳髀樞中太陽經內陽明外中瀆陽關犢鼻偏出行膝內陽陵泉</p>
<p>靈樞第十篇云其直者從缺盆下腋循胸過季脅下合髀厭中以下循髀陽出膝外廉○滑氏曰脅骨之下為季脅此直者從缺盆直下腋循胸歷淵腋輒筋日月穴過季脅循京門帶脈五樞維道居髎由居髎入上髎中髎長強而下與前之入髀厭者相合乃下循髀外行太陽陽明之間歷中瀆陽關出膝外廉抵陽陵泉也○上髎中髎並見足太陽經上髎為足少陽太陽之絡中髎則足少陰少陽所結之會也長強見督脈足少陰少陽所結之會犢鼻見足陽明經</p>
<p>淵腋　在腋下三寸宛宛中舉臂取之禁灸</p>
<p>輒筋　在腋下三寸腹前一寸著脅陷中</p>
<p>日月　在期門五分足太陽陽維之會膽之募也</p>
<p>京門　在臨骨下腰中季肋本夾脊腎之募也</p>
<p>帶脈　在季肋下一寸八分</p>
<p>五樞　在帶脈下三寸或云水道旁一寸五分</p>
<p>維道　在章門下五寸三分帶脈之會</p>
<p>居髎　在章門下八寸三分監骨上陷中陽蹺之會</p>
<p>環跳　在髀樞中側臥伸下足屈上足取硯子骨宛宛中</p>
<p>中瀆　在髀骨外膝上五寸分肉間陷中少陽之絡</p>
<p>陽關　在陽陵泉上三寸犢鼻外陷中禁灸○犢鼻見足陽明經</p>
<p>陽陵泉　在膝下一寸外廉陷中蹲地取尖骨前乃筋之會</p>
<p>下循陽交外丘穴光明陽輔骨如前經行懸中來髁內丘虛臨泣地五會俠谿岐骨竅陰中</p>
<p>靈樞第十篇云下外輔骨之前直下抵絕骨之端下出外踝之前循足跗上入小指次指之間○滑氏曰䯒外為輔骨外踝以上為絕骨足面為跗自陽陵泉下外輔骨前歷陽交外丘光明直下抵絕骨之端循陽輔懸鐘而下出外踝之前至丘墟循足面之臨泣地五會俠谿乃上入小指次指之間至竅陰而終也</p>
<p>陽交　在足外踝上七寸斜屬二陽分肉之間陽維之郄</p>
<p>外丘　在足外踝上七寸</p>
<p>光明　在足外踝上五寸少陽絡別走厥陰</p>
<p>陽輔　在足外踝上四寸輔骨前絕骨端如前三分去丘墟七寸</p>
<p>懸鐘</p>
<p>丘墟　在足外踝下如前陷中去臨泣三寸</p>
<p>臨泣　在足小指次指本節後間陷中去俠谿一寸五分禁灸</p>
<p>地五會　在足小指次指本節後陷中去俠谿一寸</p>
<p>俠谿　在足小指次指岐骨間本節後陷中</p>
<p>竅陰　在足小指次指之端去爪甲如韭葉</p>
<p>當有別支臨泣遞沿跌橫入岐骨間貫甲三毛大指端其名只是大敦穴交足厥陰經屬肝羒蔪第十篇云其支者別跗上入大指循岐骨內出其端還貫入爪甲出三毛○滑氏曰足大指本節後為岐骨大指爪甲後為三毛其支者自足跗上臨泣穴別行入大指循岐骨內出大指端還其入爪甲出三毛交於足厥陰也</p>
<p><u>總歌曰</u></p>
<p>銳眥交巔行耳後缺盆假道絡於肝下循髀厭方流膝更過三毛出指端愚按足少陽膽之脈起於目銳皆瞳子髎終於足小指次指之端竅陰穴也其支別者復自跗上臨泣穴別行足大指之端長八尺交於足厥陰肝經故足厥陰之脈起於足大指端三毛中大敦穴始也</p>
<p><u>穴歌曰</u></p>
<p>少陽足經瞳子髎四十三穴行迢迢聽會客主頷厭集懸顱懸釐曲鬢翹率谷天衝浮白次竅陰完骨本神企陽白臨泣開目窗正營承靈腦空繼風池肩並淵液長輒筋日月京門當帶脈五樞維道續居髎環跳下中瀆陽關陽陵復陽交外丘光明陽輔高懸鐘丘墟足臨泣地五俠谿竅陰畢</p>
<p>此經前圖內頭部自瞳子髎至風池凡二十穴作三折向外而行始瞳子髎至完骨是一折又自完骨外折上至陽白會睛明是一折又是睛明上行循臨泣風池是一折綠其穴曲折外多難為科牽故此作一至二十次第以該之一瞳子髎二聽會三客主人四頷厭五懸顱六懸釐七曲鬢八率谷九天衝十浮白十一竅陰十二完骨十三本神十四陽白十五臨泣十六目窗十七正營十八承靈十九腦空二十風池　</p>
<p><u>是動所生歌曰</u></p>
<p>此經多氣及少血是動口若善太息心脅疼痛難轉移面塵足熱體無澤所生頭痛連銳眥缺盆腫痛並兩腋馬力挾癭生兩旁汗出振寒痎瘧疾胸脅髀膝至䯒骨絕骨踝痛及諸節靈樞第十篇云是動則病口若善太息心脅痛不能轉側甚則面微塵體無膏澤足外反熱是為陽厥是是骨所生病者頭痛頷痛目銳眥痛缺盆中腫痛腋下腫馬刀挾癭汗出振寒瘧胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛小指次指不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大一倍於寸口虛者人迎反小於寸口也○滑氏面微下無有字腋下腫腫作瘇字</p>

<h2>足厥陰肝經之圖</h2>
<figure>
<img data-orig-src="urn:270:05783.jpg" alt="足厥陰肝經之圖">
</figure>

<h2>足厥陰肝經歌</h2>
<p>足厥陰肝之經足走腹而腹走目是經多血少氣起於大敦止於期門計一十三穴左右共二十六穴肝之為藏左三葉右四葉凡七葉其治在左其藏在右脅右腎之前並胃著脊之第九椎</p>
<p>足厥陰經起聚毛大敦行間大沖超中封內踝前半寸</p>
<p>靈樞第十篇云足厥陰之脈起於大指聚毛之際上循足跗上廉去內踝一寸○滑氏曰足大指爪甲後為三毛三毛後橫文為聚毛去相去也足厥陰起於大指聚毛之大敦穴循足跗上廉歷行間大沖抵內踝一寸之中封也</p>
<p>大敦　在足大指端去爪甲如韭葉及三毛中</p>
<p>行間　在足大指間動脈應手陷中</p>
<p>大沖　在足大指本節後三寸或云一寸五分許骨罅陷中動脈應手</p>
<p>中封　取足內踝前一寸斜行陷中仰而取之使逆則宛使和則通搖足而得之</p>
<p>上踝三寸三陰交蠡溝中都䯒骨里八寸交出太陽際膝關眼內來曲泉</p>
<p>靈樞第十篇云上踝八寸交出太陰之後上膕內廉○滑氏曰自中封上踝過三陰交歷蠡溝中都復上一寸交出太陰之後上膕內廉至膝關曲泉○三陰交見足太陰經足少陰太陰厥陰之交會也</p>
<p>蠡溝　在內踝上五寸厥陰之絡</p>
<p>中都　在內踝上七寸䯒骨中與少陰相直</p>
<p>膝關　在犢鼻下二寸陷中犢鼻見足陽明經</p>
<p>曲泉　在膝內輔骨下大筋上小筋下陷中屈膝得之在膝橫文頭是</p>
<p>循股陰包經五里陰廉動脈至衝門府舍循行繞陰器小腹上來曲骨端舉經相會脈𨇅仕中極三陽任脈部上自關元應過腹章門臍直季脅端直入期門屬肝募繞膽循募依日月</p>
<p>靈樞第十篇云循股陰入毛中過陰器抵小腹抉胃屬肝絡膽○滑氏作循股入陰中環陰器○滑氏曰髀內為股臍下為小腹由曲泉上行循股內之陰包五里陰廉遂當衛門府舍之分入陰毛中左右相交環繞陰器抵小腹而上會曲骨中極關元筱循章門至期門之所挾胃屬肝下日月之分絡於膽也○衝門府舍見廷太陰曲骨見任脈足厥陰任脈之會中極關元見任脈足三陰任脈之會也日月見足少陽經</p>
<p>陰包　在膝上四寸股內廉兩筋間足厥陰別走</p>
<p>五里　在氣衝下三寸陰股中動脈</p>
<p>陰廉　在羊矢下去氣衝二寸動脈中</p>
<p>章門　大橫外側臥屈上足伸下足舉臂取或臍上二寸兩旁各四寸半少陽會脾募藏會</p>
<p>期門　取巨闕兩旁各四寸半直乳下寸半第二肋端動脈足厥陰太陰陰維之會肝募也</p>
<p>貫穿胸膈食竇穴淵腋三寸是大包三寸裡間是布脅雲門直入至人迎扶結喉旁寸五分喉升升入是頏顙大迎骨陷地倉行四白陽白上眉去瞳子髎旁連目系出額臨泣發五分督脈相連逢百會</p>
<p>靈樞第十篇云上貫膈布脅肋循喉嚨之後上入頏顙連目繫上出額與督脈會於巔○滑氏曰目內連深處為目系頏顙咽顙也自期門上貫膈行食竇之外大包之裡散布脅肋上雲門淵腋之間人迎之外循喉嚨之後上入頏顙行大迎地倉四白陽白之外連目繫上出額行臨泣之裡與督脈相會於巔頂之百會也○食竇大包足太陰經穴雲門見手太陰經淵腋見足少陽經人迎大迎地倉四白見足陽明經陽白臨泣見足少陽經百會見督脈</p>
<p>復從目系頰還唇</p>
<p>靈樞第十篇云其支者從目系下頰裡環唇內○滑氏曰前此連目繫上出額此支從目系下行任脈之外本經之裡下頰裡交環於口唇之內</p>
<p>別支貫膈自期門食竇外廂本經去交手太陰之肺經</p>
<p>靈樞第十篇云其支者復從肝別貫膈上注肺○滑氏曰此交經之支從期門屬肝處別貫膈行食竇之外本經之裡上注肺中下行至中焦挾中脘之分以交於手太陰也○食竇見足太陰經中脘見任脈</p>
<p><u>總歌曰</u></p>
<p>大敦上踝方交膕入股還陰不到腰抵腸屬肝方絡膽從肝貫膈復中焦愚按足厥陰肝之脈起於足大指聚毛之上循足跗上行與督脈會於巔其支者從期門注肺行中焦之分長六尺五寸交於手太陰肺經故手太陰之脈起於中焦中府穴始也</p>
<p><u>穴歌曰</u></p>
<p>足中厥陰肝經是大敦行間太衝始中封蠡溝中都傳膝關曲泉陰包里五里陰廉至章門相將直到期門止</p>
<p><u>是動所生歌曰</u></p>
<p>此經血多氣少焉是動腰疼俛仰難男疝女人少腹腫面塵晚色及咽乾所生病者為胸滿嘔逆洞泄小便艱或時遺溺並狐疝臨症還須仔細看</p>
<p>靈樞第十篇云是動則病腰痛不可以俛仰丈夫㿗疝婦人小腹腫甚則嗌乾面塵晚色是主肝所生病者胸滿嘔逆飧泄狐疝遺溺癃閉為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大一倍於人迎虛者寸口反小於人迎也</p>
<p><u>音釋</u></p>
<p>蠡　䯒　𨇅　頏　顙　㿗　俛</p>

<h2>督脈之圖</h2>
<figure>
<img data-orig-src="urn:270:05784.jpg" alt="督脈之圖">
</figure>

<h2>任脈之圖</h2>
<figure>
<img data-orig-src="urn:270:05785.jpg" alt="任脈之圖">
</figure>
