<header data-type="book">
<h1>金匱方歌括</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳念祖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1811">公元1811年</data></dd></div>
<div><dt>底本</dt><dd>《陳修園醫書五十種·金匱方歌括》，清光緖乙巳31年商務印書館（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-615817">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>小引</h1>
<p>辛未秋孟。元犀趨保陽。承膝下歡。竊見家君公事稍暇。取傷寒、金匱等書業已三四注者。而又更易其稿。傷寒論淺注已竣。金匱淺注亦成其半。晦明間樂此不倦。元犀欲以高年節勞為請。然而不敢遽請也。一日。命元犀取金匱方按分兩並煮服等法韻注之。仿傷寒一百一十二方歌括體裁。元犀退而遵訓。擬作六卷。家君見而樂之。遂即改正命繕。附於金匱淺注之後。</p>
<p><u>嘉慶十六年重九前一日。次男元犀識於保陽旅寓。</u></p>

<h1>序</h1>
<p>竊聞醫之有仲景。猶儒之有孔子也。仲景治黃岐之學而綜其要。猶孔子祖堯舜之道而集其成也。金匱、傷寒論等書注之者以王叔和、張隱菴、張令韶為最。餘子皆不及之。以至於今。窺其微者。蓋少矣。吾鄉陳修園先生宰畿輔。退公之餘。操是術以救世。歲活人甚多。而又恐其可以救一時而不可以濟千古也。著傷寒論、金匱淺注及傷寒救症、經讀時方、三字經等四種。明白簡約。斟酌盡當。厥功偉矣。塚嗣古愚得其傳。著長沙歌括六卷。所以便傷寒論淺注之讀也。而金匱淺注未及梓行。故歌括未作。仲嗣靈石先生世其業。益有聲。真所謂能讀父書者。余自京師旋鄉里。蓋已聞而慕之。繼得微疾。醫無一當者。跡其名往訪之。一劑而愈。益以嘆先生之神也。先生繼父志。既為梓金匱淺注十卷。復踵成其未備者成金匱歌括六卷。而金匱淺注亦自是以行。且自是易讀矣。夫孝莫大於繼志。而德莫大於救人。先生以繼志之能。存救人之隱。是又與古愚先生同為可敬者。誠不可無以表其能而彰其隱也。於其成。謹作序以與之。</p>
<p><u>道光十六年。歲次丙申春正月。愚弟江鴻升拜撰。</u></p>

<h1>凡例</h1>
<p>一、方中分兩煮法服法。俱遵原本。但古今之權量不同。漢之一兩。今止二錢零。予遵程氏活法。每方取古方三分之一。以作一劑又從二劑中取三分之一為一服。每劑分為三服。如桂枝湯。原方生薑、桂枝、芍藥各三兩。今一劑此數味用各九錢。分而三之。是每服此數味各三錢是也。甘草二兩。今一劑用六錢。分而三之。是此味每服二錢是也。大棗全料用十二枚。今照數不減者。以稱則隨時不同。而棗之分枚則一也。分而三之。是此味每服四枚是也。啜粥溫覆禁忌。俱依古法。余仿此。</p>
<p>一、每方歌括之後。必加方解。間有治法方法。意義既詳於歌中者。不復於方後再解。</p>
<p>一、前賢名言精論。千古不磨者。本集或於歌中。或於注中。採集不遺。間有未愜於心者。取原文細繹其旨。求其合於內經。又與難經之言相為表裡。參之千金、外臺之說相發明者。而後補註之。嘗閱吳醫匯講。以獨開生面不襲老生常談為高。而予正與之相反。覽斯集者。必以剿說病之。然而甘受而不辭也。</p>
<p>一、傷寒、金匱諸方。皆出伊聖湯液經。說見藝文志。其方通造化之微。不可以尋常寒溫補瀉之說以窺測之。且其用法。俱本神農本草經。若執宋元后之本草。及李時珍綱目。汪訒庵備要等。查對藥性。失之遠矣。家君刻有神農本草經讀行世。凡讀傷寒金匱者。不可一日離之。</p>
<p>一、金匱附方。雖系後人贅入。而方引藥味。卻亦不凡。今其方名以仿宋字體別之。</p>

<h1>卷一</h1>

<h2>痙濕暍病方</h2>

<h3>栝蔞桂枝湯</h3>
<p>治太陽病。其症備。身體強。𠘧𠘧然。脈反沉遲。此為痙病。此湯主之。</p>
<p>栝蔞根　桂枝　生薑（切。）　芍藥（各三兩。）　甘草（二兩。炙。）　大棗（十二枚。擘。）</p>
<p>上六味㕮咀。以水九升。微火煮取三升。溫分三服。微汗。汗不出。食頃啜熱粥發。</p>
<p>歌曰　太陽症備脈（反）沉遲。身體𠘧𠘧欲痙時。三兩蔞根薑桂芍。二甘十二棗枚宜。</p>
<p>元犀按。痙是血虛筋燥為病。言濕者。是推其未成痙之前。濕氣挾風而鬱成內熱也。本條云。太陽症備脈反沉遲者。此沉遲乃血虛所致。非臟寒症也。故以桂枝湯和營衛以祛風。加栝蔞根。則清氣分之熱。而大潤太陽既耗之液。則經氣流通。風邪自解。濕氣自行。筋不燥而痙愈矣。</p>
<p>又按。方中薑、桂合甘、棗為辛甘化陽。芍藥合甘、棗為苦甘化陰。陰陽和則得微汗而邪解矣。啜粥則又資陽明之穀氣以勝邪。更深一層立法。但項背𠘧𠘧脈浮數者。為風淫於外而內之津液未傷。故加葛根以宣外。脈沉遲者。為風淫於外而內之津液已傷。故加栝蔞根以滋內。以栝蔞根苦寒潤燥之功大也。內經云。肺移熱於腎。傳為柔痙。龐安常謂此方栝蔞根不主項強𠘧𠘧。其意以肺熱不令移於腎也。此解亦超。</p>

<h3>葛根湯</h3>
<p>（歌見長沙方歌括。）　治太陽病無汗而小便反少。氣上衝胸。口噤不得語。欲作剛痙。此湯主之。</p>
<p>葛根　麻黃　甘草　芍藥　桂枝　生薑　大棗</p>
<p>元犀按。無汗例用麻黃湯。然惡其太峻。故於桂枝湯加麻黃以發汗。君葛根以清經絡之熱。是發表中。寓養陰之意也。又此方與前方皆是太陽中兼陽明之藥。以陽明主宗筋也。</p>

<h3>大承氣湯</h3>
<p>（歌見長沙方歌括。）　治痙病胸滿口噤。臥不著席。腳攣急。必齘齒。可與此湯。</p>
<p>大黃　厚朴　枳實　芒硝</p>
<p>元犀按。胸滿口噤腳攣急齘齒等證。皆熱甚灼筋。筋急而甚之象。以此湯急下而救陰。</p>
<p>齘牙藥不能進。以此湯從鼻中灌之。</p>

<h3>麻黃加朮湯</h3>
<p>治濕家身煩疼。發其汗為宜。慎不可以火攻之。宜此湯主之。</p>
<p>麻黃（三兩。去節。）　桂枝（二兩。）　甘草（一兩。炙。）　白朮（四兩。）　杏仁（七十個。去皮尖。）</p>
<p>上五味。以水九升。先煮麻黃減二升。去上沫。納諸藥。煮取二升半。去滓。溫服八合。覆取微汗。</p>
<p>歌曰　煩疼濕氣裹寒中。發汗為宜忌火攻。莫訝麻黃湯走表。術加四兩里相融。</p>
<p>元犀按。身煩疼者。寒濕之邪著於膚表也。膚表實故無汗。無汗則邪無從出矣。方用麻黃湯髮膚表之汗。以散表寒。又恐大汗傷陰。寒去而濕反不去。加白朮補土生液而助除濕氣。此發汗中寓緩汗之法也。又白朮補脾驅濕之功甚大。且能助脾之轉輸而利水。觀仲祖用術各方可知。今人炒燥炒黑上蒸水漂等制。皆失經旨。</p>

<h3>麻黃杏仁薏苡甘草湯</h3>
<p>治病者一身盡疼。發熱日晡所劇者。此名風濕。此病傷於汗出當風。或久傷取冷所致也。</p>
<p>麻黃（半兩。）　杏仁（十個。去皮尖）　薏苡（半兩。）　甘草（一兩。炙）</p>
<p>上銼麻豆大。每服四錢匕。水一盞半。煎八分。去滓。溫服。有微汗避風。</p>
<p>歌曰　風濕身疼日晡時。（濕無去來。風有休息。與上節濕家分別在此。）當風（汗出當風。）取冷（久傷取冷。）病之基。薏麻半兩十枚杏。炙草扶中（予其勝濕之權。）一兩宜。</p>
<p>（參）　以上二方。為濕家立法也。又有風濕之證。其痛輕掣不可屈伸。非如濕家之痛重著不能轉側。且濕家發熱旦暮不殊。風濕發熱日晡增甚。晡申時也。陽明旺於申酉戌。土惡濕。今為風濕所幹。當其旺時。邪正相搏。則反劇也。濕無去來。風有休作。故名風濕。然言風。寒亦在其中。觀原文云。汗出當風或久傷取冷。意可知矣。蓋痙病非風不成。濕痹無寒不作。方中麻黃散寒。意苡除濕。杏仁利氣。助麻黃驅寒之力。甘草補中。予薏苡勝濕之權。制方之精密如此。</p>

<h3>防己黃耆湯</h3>
<p>治風濕脈浮身重。汗出惡風者主之。</p>
<p>防己（一兩。）　甘草（半兩。炙。）　白朮（七錢半。）　黃耆（一兩一分。一本。用一兩。）</p>
<p>上銼麻豆大。每服五錢匕。生薑四片。大棗一枚。水盞半。煎八分。去滓溫服。　喘者。加麻黃半兩。　胃中不和者。加芍藥三分。　氣上衝。加桂枝三分。　下有陳寒者。加細辛三分。　服後當如蟲行皮中。從腰下如冰。後坐被上。又以一被繞腰下溫。令微汗。瘥。</p>
<p>歌曰　身重脈浮汗。（上節無汗。故用麻黃髮之。此節汗出。只用防己驅之。）　惡風。七錢半術五（錢）甘（草）通。己耆一兩磨分服。（每服五錢匕。）四片生薑一棗充。</p>
<p>加減歌曰　喘者再入五錢麻。胃不和兮芍藥加。三分分字去聲讀。七錢五分今不瘥。寒取細辛氣衝桂。俱照三分效可誇。服後如蟲行皮里。腰下如冰取被遮。遮繞腰溫得微汗。伊岐秘法闡長沙。</p>
<p>（合參）　上方治實邪無汗。即桂枝、麻黃二湯例也。虛汗自出。故不用麻黃以散之。只用防己以驅之。服後如蟲行及腰下如冰云云。皆濕氣下行之徵也。然非耆、朮、甘草。焉能使衛陽復振。而驅濕下行哉。元犀按。張隱菴本草經注云。防己生於漢中者。破之紋如車輻。莖藤空通。主通氣行水。以防己土之藥。故有防己之名。金匱治水治痰諸方。蓋取氣運於上而水能就下也。李東垣謂防己乃下焦血分之藥。上焦氣分者禁用等論。張隱菴歷歷指駁。使東垣聞之。當亦俯首無詞。噫。不讀神農本經。而妄為臆說。甘為伊岐之罪人。復何責焉。防己功用。余先君注有神農本草經。議論甚詳。毋庸再贅。</p>

<h3>桂枝附子湯</h3>
<p>桂枝　附子　生薑　甘草　大棗</p>

<h3>白朮附子湯</h3>
<p>附子　白朮　生薑　甘草　大棗</p>

<h3>甘草附子湯</h3>
<p>甘草　附子　桂枝　白朮</p>
<p>以上三方歌解證治。俱見長沙方歌括。</p>

<h3>白虎人參湯</h3>
<p>（歌見長沙方歌括）　太陽中熱者。暍是也。汗出惡寒。身熱而渴者主之。</p>
<p>知母　石膏　甘草　粳米　人參</p>
<p>元犀按。白虎西方神名也。其令為秋。其政清肅。涼風至。白露降。則溽暑潛消。以此湯有徹暑熱之功。行清肅之政。故以白虎名之。</p>

<h3>一物瓜蒂湯</h3>
<p>治太陽中暍。身熱疼重而脈微弱。此以夏月傷冷水。水行皮中所致也。此湯主之。瓜蒂（二七個。）</p>
<p>上銼。以水一升。煮取五合。去滓溫服。</p>
<p>歌曰　暍病陰陽認要真。熱疼身重得其因。暑為濕戀名陰暑。二七甜瓜蒂可珍。</p>
<p>元犀按。此物能去水氣。水去則暑無所依而自愈矣。　尤在涇云。暑雖陽邪。而氣恆與濕相合。陽求陰之義也。暑因濕入。而暑反居濕之中。陰包陽之象也。　又云。暑之中人也。陰虛而多火者。暑即寓於火之中。為汗出而煩渴。陽虛而多濕者。暑即伏於濕之內。為身熱而疼重。故暑病恆以濕為病。而治濕即所以治暑。瓜蒂苦寒。能吐能下。去身面四肢水氣。水去而暑解。此治中暑兼濕者之法也。</p>

<h2>百合狐惑陰陽毒方</h2>
<p>總歌　百合（尤云。百脈朝於肺。以肺為主。）病從百脈成。起居冒昧各難名。藥投吐利如神附。頭痛參觀溺更明。（以溺時頭痛為辨。蓋百脈之所重在少陰太陽。以太陽統六經之氣。其經上循巔頂。下通水道。氣化不行乃下溺而上頭痛。少陰為生水之源。開閉澀乃溺而淅然。）</p>

<h3>百合知母湯</h3>
<p>百合病發汗後者。此方主之。</p>
<p>百合（十枚。）　知母（三兩。）</p>
<p>上先以水洗百合。漬一宿。當白沫出。去其水。別以泉水二升煎取一升。去滓。別以泉水二升煎知母。取一升。後合煎。取一升五合。分溫再服。</p>
<p>歌曰　病非應汗汗傷陰。知母當遵三兩箴。漬去沫涎七（枚）百合。別煎泉水是金針（諸方煎法俱同。）</p>
<p>元犀按。百脈俱朝於肺。百脈俱病。病形錯雜。不能悉治。只於肺治之。肺主氣。氣之為病。非實而不順。即虛而不足。百合能治邪氣之實。而補正氣之虛。知母入肺金。益其水源下通膀胱。使天水之氣合。而所傷之陰轉。則其邪從小便出矣。若誤汗傷陰者。汗為陰液。陰液傷。故以此湯維其陽。維陽即所以救陰也。</p>
<p>王晉三云。本文云。百脈一宗。明言病歸於肺。君以百合甘涼清肺。即此可療此疾。再佐以各經清解絡熱之藥。治其病所從來。當用先後煮法。使不悖於手足經各行之理。若誤汗傷太陽者。溺時頭痛。以知母救肺之陰。使膀胱水府知有母氣。救肺即所以救膀胱。是陽病救陰之法也。</p>

<h3>百合滑石代赭石湯</h3>
<p>百合病下之後者。此湯主之。</p>
<p>百合（七枚。擘。）　滑石（三兩。碎。綿裹。）　代赭石（如彈丸大一枚。碎。綿裹。）</p>
<p>上先煎百合如前法。別以泉水二升煎滑石、代赭石。取一升。去滓。後合和重煎。取一升五合。分溫服五合。</p>
<p>歌曰　不應議下下之瘥。既下還當竭舊邪。百合七枚赭彈大。滑須三兩效堪誇。</p>
<p>元犀按。誤下者。其熱必陷。熱陷必傷下焦之陰。故以百合清補肺金引動水源。以代赭石鎮離火而不使其上騰。以滑石導熱氣而能通水府。則所陷之邪從小便而出。自無灼陰之患矣。此即見陽救陰法也。</p>
<p>王晉三云。誤下傷少陰者。溺時淅然。以滑石上通肺下通太陽之陽。恐滑石通府利竅仍蹈出汗之弊。乃復代赭石重鎮心經之氣。使無汗泄之虞。是陰病救陽之法也。</p>

<h3>百合雞子黃湯</h3>
<p>百合病吐之後者。此方主之。</p>
<p>百合（七枚。）　雞子黃（一枚。）</p>
<p>上先煎百合如前法。取一升。去滓。內雞子黃攪勻。煎五分。溫服。</p>
<p>歌曰　不應議吐吐傷中。（中者陰之守也。）必仗陰精上奉功。（內經云。陰精上奉其人壽。）百合七枚洗去沫。雞黃後入攪渾融。</p>
<p>元犀按。吐後傷中者。病在陰也。陰傷。故用雞子黃養心胃之陰。百合滋肺氣下潤其燥。胃為肺母。胃安則肺氣和而令行。此亦用陰和陽。無犯攻陽之戒。</p>
<p>王晉三云。誤吐傷陽明者。以雞子黃救厥陰之陰以安胃氣。救厥陰即所以奠陽明。救肺之母氣。是亦陽病救陰之法也。</p>

<h3>百合地黃湯</h3>
<p>百合病不經吐下發汗。病形如初者。此湯主之。</p>
<p>百合（七枚。）　生地黃汁（一升。）</p>
<p>上先煎百合如前法。取一升。去滓。內地黃汁。煎取一升五合。溫分再服。中病。勿更服。大便當如漆。</p>
<p>歌曰　不經汗下吐諸傷。形但如初守太陽。（遷延日久。始終在太陽經不變者。）地汁一升百合七。陰柔最是化陽剛。</p>
<p>元犀按。病久不經吐下發汗病形如初者。是郁久生熱。耗傷氣血矣。主以百合地黃湯者。以百合苦寒清氣分之熱。地黃汁甘潤泄血分之熱。皆取陰柔之品以化陽剛。為泄熱救陰法也。中病者。熱邪下泄。由大便而出矣。故曰如漆色。</p>

<h3>百合洗方</h3>
<p>百合病一月不解。變成渴者。此方主之。</p>
<p>百合（一升）</p>
<p>以水一斗。漬之一宿。以洗身已。食煮餅。勿以咸豉也。</p>
<p>歌曰　月周不解渴因成。邪熱流連肺不清。百合一升水一斗。洗身食餅不和羹。（勿以咸豉。）</p>
<p>（合參）　皮毛為肺之合。洗其外。亦所以通其內也。又食煮餅者。假麥氣穀氣以輸津。勿以咸豉者。恐鹹味耗水以增渴也。</p>

<h3>栝蔞牡蠣散</h3>
<p>百合病渴不瘥者。此散主之。</p>
<p>栝蔞根　牡蠣（熬。等分。）</p>
<p>上為細末。飲服方寸匕。日三服。</p>
<p>歌曰　洗而仍渴屬浮陽。牡蠣蔞根並等量。研末飲調方寸匕。寒兼鹹苦（苦寒。鹹寒。）效逾常。</p>
<p>元犀按。洗後而渴不瘥。是內之陰氣未復。陰氣未復。由於陽氣之亢。故用牡蠣以潛其陽。栝蔞根以生其津。津生陽降。而渴愈矣。</p>

<h3>百合滑石散</h3>
<p>百合病變發熱者。此散主之。</p>
<p>百合（一兩。炙。）　滑石（三兩。）</p>
<p>上為散。飲服方寸匕。日三服。當微利者止服。熱則除。</p>
<p>歌曰　前此寒無熱亦無。（首章言如寒無寒。如熱無熱。）變成發熱熱堪虞。清疏滑石宜三兩。百合烘篩一兩需。</p>
<p>元犀按。百合病原無偏熱之證。變發熱者。內熱充滿。淫於肌膚。非如熱之比。主以百合滑石散者。百合清金瀉火降逆氣。從高源以導之。滑石退表裡之熱利小便。二味合為散者。取散以散之之義。散調絡脈於周身。引內外之熱氣。悉從小便出矣。</p>

<h3>甘草瀉心湯</h3>
<p>治狐惑病。狀如傷寒。默默欲眠。目不得閉。臥起不安。蝕於喉為惑。蝕於陰為狐。不欲飲食。惡聞食臭。其面目乍赤乍黑乍白。蝕於上部則聲嗄。宜此湯。蝕於下部則咽乾。宜苦參湯洗之。蝕於肛者。雄黃熏之。</p>
<p>甘草（四兩。炙。）　黃芩　乾薑　人參（各三兩。）　半夏（半升。）　黃連（一兩。）　大棗（十二枚。）</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎。取三升。溫服一升。日三服。</p>
<p>歌曰　傷寒（論中）甘草瀉心湯。卻妙增參三兩匡。彼治痞成下利甚。此醫狐惑探源方。</p>
<p>元犀按。蟲有情識。故能亂有情識之心臟。而生疑惑矣。蟲為血化之物。故仍歸於主血之心。方且類聚群分。若有妖妄憑藉而然。其實不外本身之血氣以為祟耳。此方補虛而化濕熱。雜以辛苦之味。名曰瀉心。意深哉。</p>

<h3>苦參湯</h3>
<p>苦參一升。以水一斗。煎取七升。去滓。熏洗。日三。</p>
<p>龐安時傷寒總病論。用苦參半斤。槐白皮、狼牙根各四兩。煎熏洗之。</p>

<h3>雄黃熏法</h3>
<p>雄黃一味為末。筒瓦二枚合之。燒向肛熏之。</p>
<p>歌曰　苦參湯是洗前陰。下蝕（從下而衝於上。）咽乾熱最深。更有雄黃熏法在。肛門蟲蝕亦良箴。（蝕在肛者發癢。俗呼臟頭風。）</p>
<p>元犀按。蝕於喉為惑。蝕於陰為狐。狐惑病乃感風木濕熱之氣而生。寒極而化也。苦參苦寒。氣清屬陽。洗之以通陽道。雄黃苦寒。氣濁屬陰。熏之以通濁道。但雄黃稟純陽之色。取其陽能勝陰之義也。熏洗二法。按陰陽分配前後二陰。此又別其陰中之陰陽也。二味俱苦寒而燥者。苦以瀉火。寒以退熱。燥以除濕。濕熱退而蟲不生矣。</p>

<h3>赤小豆當歸散</h3>
<p>治脈數。無熱微煩。默默但欲臥。汗出。初得之三四日。目赤如鳩眼。七八日。目四眥黑。若能食者。膿已成也。此方主之。並治先便後血。</p>
<p>赤小豆（三升。浸令芽出。曝乾。）　當歸（十分。）</p>
<p>上二味。杵為散。漿水服方寸匕。日三服。</p>
<p>歌曰　眼眥赤黑變多般。小豆生芽曝令乾。豆取三升歸十分。杵調漿水日三餐。</p>
<p>元犀按。此治濕熱侵陰之病。大抵濕變為熱則偏重於熱。少陰主君火。厥陰主風木。中見少陽相火。病入少陰。故見微煩默默但欲臥等證。病入厥陰。故目赤現出火色。目眥黑現出火極似水之色。主以赤豆去濕清熱解毒。治少陰之病。當歸導熱養血。治厥陰之病。下以漿水。以和胃氣。胃氣與少陰和。則為火土合德。胃氣與厥陰和。則為土木無忤。微乎微乎。</p>
<p>又按。或謂是狐惑病。或謂是陰陽毒病。然二者皆濕熱蘊毒之病。金匱列於二證交界處。即是承上起下法。</p>

<h3>升麻鱉甲湯</h3>
<p>治陽毒病。面赤斑斑如錦紋。咽喉痛。吐膿血。五日可治。七日不可治。此湯主之。</p>
<p>升麻（二兩。）　當歸　甘草（各一兩。）　蜀椒（炒去汗。一兩。）　鱉甲（手指大一片。炙。）雄黃（半兩。研）</p>
<p>上六味。以水四升。煮取一升。頓服之。老小再服取汗。陰毒。去蜀椒、雄黃。</p>
<p>歌曰　（面）赤斑（紋）咽痛毒為陽。鱉甲周圍一指量。半兩雄黃升二兩。椒歸一兩草同行。</p>
<p>元犀按。非常災癘之氣。從口鼻而入咽喉。故陰陽二毒皆咽痛也。陰陽二證。不以寒熱臟腑分之。但以面赤斑紋吐膿血。其邪著於表者謂之陽。面目青身痛如被杖。其邪隱於表中之裡者為陰。</p>

<h3>升麻鱉甲湯去雄黃蜀椒</h3>
<p>治陰毒病。面目青。身痛如被杖。咽喉痛。五日可治。七日不可治。此湯主之。</p>
<p>歌曰　身痛咽痛麵皮青。陰毒苛邪隸在經。（陰毒以面不赤而青。身不斑紋而痛如被杖別之。二證俱咽痛。俱五日可治七日不可治。）即用前方如法服。（四味照前法服。）椒黃務去特丁寧。（蜀椒。雄黃二物。陽毒用之者。以陽從陽。欲其速散也。陰毒去之者。恐陰邪不可劫。而陰氣反受損也。）</p>
<p>王晉三云。升麻入陽明太陽二經。升清逐穢。闢百邪。解百毒。統治溫厲陰陽二病。如陽毒為病面赤斑如錦紋。陰毒為病面青身如被杖咽喉痛。毋論陰陽二毒。皆已入營矣。但升麻僅走二經氣分。故必佐當歸通絡中之血。甘草解絡中之毒。微加鱉甲守護營神。俾椒、黃猛劣之品攻毒透表。不能亂其神明。</p>
<p>陰毒去椒、黃者。太陰主內。不能透表。恐反動厲毒也。肘後、千金方陽毒無鱉甲者。不欲其守。亦恐留戀厲毒也。</p>

<h1>卷二</h1>

<h2>瘧病方</h2>

<h3>鱉甲煎丸</h3>
<p>治瘧病以月一日發。當十五日愈。設不瘥。當月盡解。如其不瘥。結為癥瘕。名曰瘧母。急治之。宜此丸主之。</p>
<p>鱉甲（十二分。炙。）　烏扇（三分。燒。即射干。）　黃芩（三分。）　柴胡（六分。）　鼠婦（三分。熬。）　乾薑　大黃　桂枝　石葦（去毛。）　厚朴　紫葳（即凌霄。）　半夏　阿膠芍藥　牡丹皮　䗪蟲（各五分。）　葶藶　人參（各一分。）　瞿麥（二分。）　蜂窠（四分。炙。）　赤硝（十二分。）　蜣螂（六分。熬。）　桃仁（二分。）　</p>
<p>上二十三味。為末。取煅灶下灰一斗。清酒一斛五升。浸灰。俟酒盡一半。著鱉甲於中。煮令氾濫如膠漆。絞取汁。內諸藥煎。為丸如梧子大。空心服七丸。日三服。（附。千金方用鱉甲十二片。又有海藻三分。大戟一分。無鼠婦。赤硝二味。）</p>
<p>歌曰　寒熱虛實相來往。全憑陰陽為消長。天氣半月而一更。人身之氣亦相仿。否則天人氣再更。邪行月盡差可想。瘧病一月不能瘥。瘧母結成癥瘕象。金匱急治特垂訓。鱉甲赤硝十二分。方中三分請詳言。姜芩扇婦樸葦問。葳膠桂黃亦相均。相均端令各相奮。君不見十二減半六分數。柴胡蜣螂表裡部。一分參藶二瞿（麥）桃。（仁）牡夏芍䗪（蟲）分各五。方中四分獨蜂窠。體本輕清質水土。另取灶下一斗灰。一斛半酒浸另取。納（鱉）甲酒內煮如膠。絞汁煎藥（末）丸遵古。空心七丸日三服。（每服七丸。一日三服也。盧子繇痎瘧疏方云。漸加二十一丸。）老瘧得此效桴鼓。</p>
<p>尤在涇云。天氣十五日一更。人之氣亦十五日一更。氣更則邪當解也。否則三十日天人之氣再更。而邪自不能留矣。設更不愈。其邪必假血依痰。結為癥瘕。僻處脅下。將成負固不服之勢。故宜急治。鱉甲煎丸行氣逐血之藥頗多而不嫌其峻。一日三服不嫌其急。所謂乘其未集而擊之也。</p>
<p>王晉三云。鱉甲煎丸都用異類靈動之物。若水陸。若飛潛。升者降者走者伏者。咸備焉。但恐諸蟲擾亂神明。取鱉甲為君守之。其泄厥陰破癥瘕之功。有非草木所能比者。阿膠達表熄風。鱉甲入里守神。蜣螂動而性升。蜂房毒可引下。䗪蟲破血。鼠婦走氣。葶藶泄氣閉。大黃泄血閉。赤硝軟堅。桃仁破結。烏扇降厥陰相火。紫葳破厥陰血結。乾薑和陽退寒。黃芩和陰退熱。和表裡則有柴胡、桂枝。調營衛則有人參、白芍。厚朴達原。劫去其邪。丹皮入陰。提出其熱。石葦開上焦之水。瞿麥滌下焦之水。半夏和胃而通陰陽。灶灰性溫走氣。清酒性暖走血。統而言之。不越厥陰陽明二經之藥。故久瘧邪去營衛而著臟腑者。即非瘧母。亦可藉以截之。按金匱惟此丸及薯蕷丸藥品最多。皆治正虛邪著久而不去之病。非集血氣之藥。攻補兼施。未易奏功。</p>

<h3>白虎加桂枝湯</h3>
<p>治溫瘧者。其脈如平。身無寒但熱。骨節煩疼。時嘔。此湯主之。</p>
<p>知母（六兩。）　石膏（一斤。）　甘草（二兩。炙。）　粳米（六合）　桂枝（三兩。）</p>
<p>上五味。以水一斗。煮米熟湯成。去滓。溫服一升。日三。</p>
<p>歌曰　白虎原湯論已詳。桂加三兩另名方。無寒但熱為溫瘧。骨節煩疼嘔又妨。（白虎湯歌見長沙方歌括。）</p>
<p>王晉三云。內經論瘧。以先熱後寒邪藏於骨髓者。為溫癉二瘧。仲景以但熱不寒邪藏於心者。為溫癉二瘧。內經所言。是邪之深者。仲景所言。是邪之淺者也。其殆補內經之未逮歟。治以白虎加桂枝湯。方義原在心營肺衛。白虎湯清營分熱邪。加桂枝引領石膏、知母上行至肺。從衛分泄熱。使邪之鬱於表者。頃刻致和而瘧已。至於內經溫癉瘧。雖未有方。然同是少陰之伏邪。在手經者為實邪。在足經者為虛邪。實邪尚不發表而用清降。何況虛邪有不顧慮其亡陰者耶。臨證之際。化而裁之。是所望於用之者矣。</p>

<h3>蜀漆散</h3>
<p>治瘧多寒者。名曰牡瘧。此散主之。</p>
<p>蜀漆（燒去腥。）　雲母（燒二日夜。）　龍骨（各等分。）</p>
<p>上三味。杵為散。未發前。以漿水服半錢匕。</p>
<p>歌曰　陽為痰阻伏心間。牡瘧陰邪自往還。蜀漆雲龍平等杵。先時漿服不逾閒。</p>
<p>王晉三云。邪氣結伏於心下。心陽郁遏不舒。瘧發寒多熱少。不可謂其陰寒也。主之以蜀漆散。通心經之陽開發伏氣。而使營衛調和。蜀漆。常山苗也。苗性輕揚。生用能吐。雲母在土中。蒸地氣上升而為云。故能入陰分。逐邪外出於表。然邪氣久留心主之宮城。恐逐邪湧吐。內亂神明。故佐以龍骨鎮心寧神。則吐法轉為和法矣。</p>

<h2>附外臺秘要三方</h2>

<h3>牡蠣湯</h3>
<p>治牡瘧。</p>
<p>牡蠣　麻黃（各四兩。）　甘草（二兩。）　蜀漆（三兩。）</p>
<p>上四味。以水八升。先煮蜀漆、麻黃。去上沫。得六升。內諸藥。煮取二升。溫服一升。若吐。則勿更服。</p>
<p>歌曰　先煎三（兩蜀）漆四（兩）麻黃。四（兩牡）蠣二甘後煮良。邪郁胸中須吐越。驅寒散結並通陽。</p>
<p>（犀）　按。瘧多寒者名牡瘧。是痰飲填塞胸中。阻心陽之氣不得外通故也。趙氏云。牡蠣軟堅消結。麻黃非獨散寒。且能發越陽氣。使通於外。結散陽通。其病自愈。</p>
<p>柴胡去半夏加栝蔞根湯　治瘧病發渴者。亦治勞瘧。</p>
<p>柴胡（八兩。）　人參　黃芩　甘草（各三兩。）　栝蔞根（四兩。）　生薑（三兩。）　大棗（十二枚。）</p>
<p>上七味。以水一斗二升。煮取六升。去滓再煎。取三升。溫服一升。日三服。</p>
<p>歌曰　柴胡去夏為傷陰。加入蔞根四兩珍。瘧病渴因邪灼液。蔞根潤燥可生津。</p>
<p>王晉三云。正瘧寒熱相間。邪發於少陽。與傷寒邪發於少陽者稍異。內經言。夏傷於大暑。秋傷於風。病以時作。名曰寒瘧。金匱云。瘧脈多弦。弦數者風發。正於悽愴之水寒久伏於腠理皮膚之間。營氣先傷而後風傷衛。故仲景用柴胡去半夏而加栝蔞根。其義深且切矣。蓋少陽瘧病發渴者。由風火內淫。劫奪津液而然。奚堪半夏性滑利竅。重傷陰液。故去之。而加天花粉生津潤燥。豈非與正傷寒半表半裡之邪。當用半夏和胃而通陰陽者有別乎。</p>
<p>柴胡桂薑湯（歌見長沙方歌括。）　治瘧寒多微有熱。或但寒不熱。服一劑如神。</p>
<p>柴胡（半斤。）　桂枝（三兩。）　乾薑（二兩。）　栝蔞根（四兩。）　黃芩（三兩。）　甘草（二兩。）　牡蠣（二兩。）</p>
<p>上七味。以水一斗。煮取六升。去滓再煎。取三升。溫服一升。日三。初服微煩。復服汗出。便愈。</p>
<p>王晉三云。夏月暑邪。先傷在內之伏陰。至秋復感涼風。更傷衛陽。其瘧寒多微有熱。顯然陰陽無爭。故瘧邪從衛氣行陰二十五度。內無捍格之狀。是營衛俱病矣。故和其陽即當和其陰。用柴胡和少陽之陽。即用黃芩和里。用桂枝和太陽之陽。即用牡蠣和里。用乾薑和陽明之陽。即用天花粉和里。使以甘草調和陰陽。其分兩陽分獨重柴胡者。以正瘧不離乎少陽也。陰藥獨重於花粉者。陰虧之瘧以救液為急務也。和之得其當。故一劑如神。</p>
<p>元犀按。先賢云。瘧病不離少陽。少陽居半表半裡之間。邪入與陰爭則寒。出與陽爭則熱。爭則病作。息則病止。止後其邪仍居於少陽之經。愚意。外為陽。內為陰。先寒者邪欲出。其氣干於太陽。衝動寒水之氣而作也。後熱者。以胃為燥土。脾為濕土。濕從燥化。則木亦從其化。故為熱為汗也。汗後木邪仍伏於陽明之中。應期而發者。土主信也。蓋久瘧胃虛。得補可愈。故先君用白朮生薑湯多效。</p>

<h2>中風歷節方</h2>

<h3>侯氏黑散</h3>
<p>治大風四肢煩重。心中惡寒不足者。</p>
<p>菊花（四十分。）　白朮　防風（各十分。）　桔梗（八分。）　黃芩（五分。）　細辛　乾薑　人參　茯苓　當歸　川芎　牡蠣　礬石　桂枝（各三分。）</p>
<p>上十四味。杵為散。酒服方寸匕。日一服。初服二十日。溫酒調服。禁一切魚肉大蒜等。常宜冷食。六十日止。服藥積在腹中不下也。熱食。即下矣。冷食。自能助藥力。</p>
<p>歌曰　黑散辛苓歸桂芎。參姜礬蠣各三同。菊宜四十術防十。桔八芩須五分通。</p>
<p>犀按。王晉三云。程云來謂金匱侯氏黑散。系宋人校正附入唐人之方。因逸之。其辨論頗詳。而喻嘉言獨贊其立方之妙。驅風補虛。行堵截之法。良非思議可到。方中取用礬石以固澀諸藥。冷服四十日。使之留積不散。以漸填其空竅。則風自熄而不生矣。此段議論。獨開千古之秘。誠為治中風之要旨。讀方下云。初服二十日。用溫酒調。是不欲其遽填也。後服六十日。並禁熱食。則一任填空竅矣。夫填竅本之內經久塞其空是謂良工之語。煞有來歷。</p>

<h3>風引湯</h3>
<p>除熱癱癇。主大人風引。少小驚癇瘛瘲。日數發。醫所不療。除熱方。　巢氏云。腳氣。宜此湯。</p>
<p>大黃　乾薑　龍骨（各四兩。）　桂枝（三兩。）　甘草　牡蠣（各二兩。）　寒水石　滑石　赤石脂　白石脂　紫石英　石膏（各六兩。）</p>
<p>上十二味。杵。粗篩。以葦囊盛之。取三指撮。井花水三升。煮三沸。溫服一升。（按。方中乾薑。桂枝。宜減半用之。）</p>
<p>歌曰　四兩大黃二牡甘。龍姜四兩桂枝三。滑寒赤白紫膏六。癱癇諸風箇中探。</p>
<p>元犀按。大人中風牽引。小兒驚癇瘛瘲。正火熱生風。五臟亢盛。及其歸迸入心。其治同也。此方用大黃為君。以蕩除風火熱濕之邪。隨用乾薑之止而不行者以補之。用桂枝、甘草以緩其勢。又用石藥之澀以堵其路。而石藥之中又取滑石、石膏清金以平其木。赤白石脂厚土以除其濕。龍骨、牡蠣以斂其精神魂魄之紛馳。用寒水石以助腎之真陰不為陽光所爍。更用紫石英以補心神之虛。恐心不明而十二經危也。明此以治入臟之風。遊刃有餘矣。後人以石藥過多而棄之。昧孰甚焉。</p>

<h3>防己地黃湯</h3>
<p>治中風病如狂狀。妄行。獨語不休。無熱。其脈浮者。</p>
<p>防己　甘草（各一分。）　桂枝　防風（各三分。）</p>
<p>上四味。以酒一杯漬之。絞取汁。生地黃二斤。㕮咀。蒸之如斗米飯久。以銅器盛藥汁。更絞地黃汁和。分再服。</p>
<p>歌曰　妄行獨語病如狂。一分己甘三桂防。杯酒漬來取清汁。二斤蒸地絞和嘗。</p>
<p>徐靈胎云。生漬取清汁。歸之於陽以散邪熱。蒸取濃汁。歸之於陰以養血。此皆治風邪歸附於心而為癲癇驚狂之病。與中風風痹自當另看。</p>

<h3>頭風摩散</h3>
<p>治頭風。</p>
<p>大附子（一枚。）　鹽（各等分。）</p>
<p>上附子為散。和鹽。以方寸匕摩頭上。令藥力行。</p>
<p>歌曰　頭風偏痛治如何。附子和鹽等分摩。軀殼病生須外治。馬膏桑引亦同科。</p>
<p>靈樞。馬膏、白酒和桂。桑鉤鉤之。醇酒入椒、姜。綿絮熨之。三十遍而止。皆外法也。特於此推論之。</p>

<h3>桂枝芍藥知母湯</h3>
<p>治諸肢節疼痛。身體尫羸。腳腫如脫。頭眩短氣。溫溫欲吐者。</p>
<p>桂枝（四兩。）　芍藥（三兩。）　甘草　麻黃（各二兩。）　附子（二枚。炮。）　白朮　知母　防風（各四兩。）　生薑（五兩。）　</p>
<p>上九味。以水七升。先煮麻黃減二升。去上沫。內諸藥同煎。取二升。溫服七合。日三服。</p>
<p>歌曰　腳腫身羸欲吐形。芍三姜五是前型。知防術桂均須四。附子麻甘二兩停。</p>
<p>元犀按。用桂枝湯去棗。加麻黃以助其通陽。加白朮、防風以伸其脾氣。芍藥、附子、知母以調其陰陽。多用生薑以平其嘔逆。</p>

<h3>烏頭湯</h3>
<p>治歷節病不可屈伸疼痛者。又主腳氣疼痛不可屈伸。</p>
<p>麻黃　芍藥　黃耆　甘草（各三兩。炙。）　烏頭（五枚。）</p>
<p>上將烏頭㕮咀。以蜜二升。煎取一升。即出烏頭。另四味。以水三升。煮取一升。去滓。內蜜煎中更煎之。服七合。不知。盡服之。</p>
<p>歌曰　歷節疼來不屈伸。或加腳氣痛維均。芍耆麻草皆三兩。五粒烏頭煮蜜勻。</p>
<p>尤在涇云。此治寒濕歷節之正法也。寒濕之邪。非麻黃、烏頭不能去。而病在筋節。又非皮毛之邪可一汗而散者。故以黃耆之補。白芍之平。甘草之緩。牽制二物。俾得深入而去留邪。如衛瓘監鍾鄧入蜀。使其成功而不及於亂。乃制方之要妙也。</p>

<h3>礬石湯</h3>
<p>治腳氣衝心。</p>
<p>礬石（二兩。）</p>
<p>上一味。以漿水一斗五升。煎三五沸。浸腳良。</p>
<p>歌曰　腳氣衝心礬石湯。煮須漿水浸之良。濕收毒解兼除熱。補卻靈樞外法彰。</p>
<p>尤在涇云。腳氣之病。濕傷於下而氣衝於上。礬石味酸澀性燥。能卻水收濕解毒。毒解濕收。上衝自止。</p>

<h2>附方</h2>

<h3>古今錄驗續命湯</h3>
<p>治中風痱。身體不能自收持。口不能言。冒昧不知痛處。或拘急不得轉側。</p>
<p>麻黃　桂枝　人參　甘草　乾薑　石膏　當歸（各三兩。）　川芎（一兩五錢。）　杏仁（四十枚。）</p>
<p>上九味。以水一斗。煮取四升。溫服一升。當小汗。薄覆脊。憑几坐。汗出則愈。不汗更服。無所禁。勿當風。並治但伏不得臥。咳逆上氣。面目浮腫。</p>
<p>歌曰　姜歸參桂草膏麻。三兩均勻切莫差。四十杏仁芎兩半。古今錄驗主風邪。</p>
<p>元犀按。風陽邪也。氣通於肝。痱閉也。風入閉塞其毛竅。阻滯營衛不行也。蓋風多挾寒。初中時由皮膚而入。以漸而深入於內。郁久則化熱。熱則傷陰。陰傷內無以養其臟腑。外不能充於形骸。此即身體不能自收持。口不能言。冒昧不知痛處所由來也。主以古今錄驗續命湯者。取其祛風走表。安內攘外。旋轉上下也。方中麻黃、桂枝、乾薑、杏仁、石膏、甘草。以發其肌表之風邪。兼理其內蘊之熱。又以人參、當歸、芎藭。補血調氣。領麻黃、石膏等藥。穿筋骨。通經絡。調營衛。出肌表之邪。是則此方從內達外。圜轉周身。驅邪開痱。無有不到。稱曰古今錄驗續命湯。其命名豈淺哉。</p>

<h3>千金三黃湯</h3>
<p>治中風手足拘急。百節疼痛。煩熱心亂。惡寒。經日不欲飲食。</p>
<p>麻黃（五分。）　獨活（四分。）　細辛（二分。）　黃耆（二分。）　黃芩（三分。）</p>
<p>上五味。以水六升。煮取二升。分溫三服。一服小汗。二服大汗。心熱。加大黃二分。腹滿。加枳實一枚。氣逆。加人參三分。悸。加牡蠣三分。渴。加栝蔞根三分。先有寒。加附子一枚。</p>
<p>歌曰　風乘火勢亂心中。節痛肢拘絡不通。二分耆辛四分獨。黃芩三分五麻攻。</p>
<p>加減歌曰　二分黃加心熱端。消除腹滿枳枚單。虛而氣逆宜參補。牡蠣潛陽悸可安。增入蔞根能止渴。各加三分效堪觀。病前先有寒邪在。附子一枚仔細看。</p>
<p>元犀按。此附治風中太少。通護陰陽。驅邪之方也。足太陰屬脾。主四肢手足拘急惡寒。經曰。不欲飲食者。脾不運也。手少陰屬心。主神。心病則神昏。故心亂而發煩熱也。足少陰屬腎。主筋骨。病則百節疼痛也。方用麻黃、黃耆入太陰宣陽發表。淨脾中之邪。以黃芩清其心熱以止煩。又用細辛、獨活入腎穿筋骨。以散腎邪。此主治之大意也。方下氣逆加人參等六法。其意未會。不敢強解。留俟後之學者。</p>

<h3>近效朮附湯</h3>
<p>治風虛頭重眩。苦極不知食味。暖肌補中。益精氣。</p>
<p>白朮（二兩。）　附子（一枚半。炮去皮。）　甘草（三兩。炙。）</p>
<p>上三味銼。每五錢匕。生薑五片。大棗一枚。水盞半。煎七分。去滓溫服。</p>
<p>歌曰　一劑分服五錢匕。五片生薑一棗餌。枚半附子鎮風虛。二術一草君須記。</p>
<p>喻嘉言云。此方全不用風藥。但以附子暖其水臟。朮、草暖其土臟。水土一暖。則濁陰之氣盡趨於下。而頭重苦眩及食不知味之證除矣。</p>

<h3>崔氏八味丸</h3>
<p>治腳氣上入少腹不仁。（即腎氣丸。見婦人雜病。）</p>

<h3>千金越婢加朮湯</h3>
<p>（歌見水氣病。）　治肉極熱。則身體津脫。腠理開而汗大泄。厲風氣。下焦腳弱。</p>
<p>麻黃（六兩。）　石膏（半斤。）　甘草（二兩。）　生薑（三兩。）　白朮（四兩。）　大棗（十二枚。）</p>
<p>上六味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫三服。惡風。加附子一枚。</p>
<p>元犀按。方中朮、甘、薑、棗。所以維正氣之根。不使陽隨汗出。陰隨熱化也。惡風加附子者。所以預防其亡陽也。</p>

<h2>血痹虛勞方</h2>

<h3>黃耆桂枝五物湯</h3>
<p>治血痹陰陽俱微。寸口關上微。尺中小緊。外證身體不仁。如風痹狀。</p>
<p>黃耆　芍藥　桂枝（各三兩。）　生薑（六兩。）　大棗（十二枚。）</p>
<p>上五味。以水六升。煮取二升。溫服七合。日三服。</p>
<p>歌曰　血痹如風體不仁。桂枝三兩芍耆均。棗枚十二生薑六。須令陽通效自神。</p>
<p>元犀按。內經云。邪入於陰則為痹。然血中之邪。以陽氣傷而得入。亦必以陽氣通而後出。上節云。宜針引陽氣。此節而出此方。此以藥代針引之意也。又按。此即桂枝湯去甘草之緩。加黃耆之強有力者。於氣分中調其血。更妙倍用生薑以宣發其氣。氣行則血不滯而痹除。此夫倡婦隨之理也。</p>

<h3>桂枝加龍骨牡蠣湯</h3>
<p>治失精家少腹弦急。陰頭寒。目眩發落。脈極虛芤遲。為清穀亡血失精。脈得諸芤動微緊。男子失精。女子夢交。此湯主之。</p>
<p>桂枝　芍藥　生薑（各三兩。）　甘草（二兩。）　大棗（十二枚。）　龍骨　牡蠣（各三兩。）</p>
<p>上七味。以水七升。煮取三升。分溫三服。</p>
<p>歌曰　男子失精女夢交。坎離救治在中爻。桂枝湯內加龍牡。三兩相勻要細敲。</p>
<p>小品云。虛弱浮熱汗出者。除桂加白薇一兩五錢。附子一兩。名曰二加龍骨湯。</p>
<p>徐氏云。桂枝湯。外證得之能解肌去邪氣。內證得之能補虛調陰陽。加龍骨、牡蠣者。以失精夢交為神精間病。非此不足以斂其浮越也。</p>
<p>元犀按。徐忠可以龍骨、牡蠣斂其浮越四字括之。未免以二味為澀藥。猶有人之見存也。吾於龍之飛潛。見陽之變化莫測。於海之潮汐。見陰之運動不窮。龍骨乃龍之脫換所遺。牡蠣乃海之精英所結。分之為對待之陰陽。合之為各具之陰陽。亦為互根之陰陽。難以一言盡也。其治效無所不包。余亦恐舉一而漏萬。惟能讀本經、內經、仲景書者。自知其妙。</p>

<h3>天雄散</h3>
<p>天雄（三兩。）　白朮（八兩。）　桂枝（六兩。）　龍骨（三兩。）</p>
<p>上四味。杵為散。酒服半錢匕。日三服。不知。稍增之。（尤在涇云。此疑後人所附。為補陽攝陰之用也。）</p>
<p>歌曰　陰精不固本之陽。龍骨天雄三兩匡。六兩桂枝八兩術。酒調錢匕日三嘗。</p>
<p>元犀按。此方雖系後人採取。然卻認出春之腳。陽之家。而施以大溫大補大鎮納之劑。可謂有膽有識。方中白朮入脾以納穀。以精生於穀也。桂枝入膀胱以化氣。以精生於氣也。龍骨具龍之性。龍能致水。以海為家。蓋以精歸於腎。猶水歸於海而龍得其安宅也。深得難經所謂損其腎者益其精之旨。然天雄不可得。可以附子代之。斷不可泥於小家天雄主上附子主下之分。</p>

<h3>小建中湯</h3>
<p>（歌見長沙方歌括。）　治虛勞裡急。悸衄。腹中痛。夢失精。四肢痠疼。手足煩熱。咽乾口燥者主之。</p>
<p>桂枝　甘草　大棗　芍藥　生薑　膠飴</p>
<p>張心在云。肺損之病。多由五志生火。銷鑠金臟。咳嗽發熱。漸至氣喘。側眠。消瘦羸瘠。虛證交集。咽痛失音而不起矣。壯水之主。以制陽光。王冰成法。於理則通。而多不效。其故何歟。竊嘗觀於爐中之火而得之。炊飯者始用武火。將熟則掩之以灰。飯徐透而不焦黑。則知以灰養火。得火之用而無火之害。斷斷如也。五志之火內燃。溫脾之土以養之。而焰自息。方用小建中湯。虛甚加黃耆。火得所養而不燃。金自清肅。又況飴糖為君。治嗽妙品。且能補土以生金。肺損雖難著手。不患其不可治也。然不獨治肺損。凡五勞七傷。皆可以通治。</p>

<h3>黃耆建中湯</h3>
<p>治虛勞裡急。諸不足者主之。</p>
<p>即小建中湯加黃耆一兩五錢。氣短胸滿者。加生薑。腹中滿者。去棗加茯苓一兩半。及療肺虛損不足。補氣。加半夏三兩。</p>
<p>歌曰　小建湯加兩半耆。諸虛里急治無遺。急當甘緩虛當補。愈信長沙百世師。</p>
<p>加減歌曰　氣短胸滿生薑好。三兩相加六兩討。如逢腹滿脹難消。加茯兩半除去棗。及療肺虛損不足。補氣還須開竅早。三兩半夏法宜加。蠲除痰飲為至寶。</p>
<p>元犀按。虛勞裡急者。裡虛脈急也。諸不足者。五臟陰精陽氣俱不足也。經云。陰陽俱不足。補陰則陽脫。瀉陽則陰竭。如是者當調以甘藥。又云。針藥所莫及。調以甘藥。故用小建中湯。君以飴糖、甘草。本稼穡作甘之味。以建立中氣。即內經所謂精不足者補之以味是也。又有桂枝、薑、棗之辛甘。以宣上焦陽氣。即內經所謂辛甘發散為陽是也。夫氣血生於中焦。中土虛則木邪肆。故用芍藥之苦泄。於土中瀉木。使土木無忤。而精氣以漸而復。虛勞諸不足者。可以應手而得耳。加黃耆者。以其補虛塞空。實腠通絡。尤有專長也。</p>

<h3>八味腎氣丸</h3>
<p>（即腎氣丸。見婦人雜病。）　治虛勞腰痛。少腹拘急。小便不利者。此丸主之。</p>

<h3>薯蕷丸</h3>
<p>治虛勞諸不足。風氣百疾。</p>
<p>薯蕷（三十分。）　人參（七分。）　白朮（六分。）　茯苓（五分。）　甘草（二十分。）當歸（十分。）　芍藥（六分。）　芎藭（六分。）　乾地黃（十分。）　麥冬（六分。）　阿膠（七分。）　乾薑（三分。）　大棗（百枚為膏。）　桔梗（五分。）　杏仁（六分。）　桂枝（十分。）　防風（六分。）　神麯（十分。）　柴胡（五分。）　白蘞（二分。）　豆黃卷（十分。）</p>
<p>上二十一味。末之。煉蜜和丸。如彈子大。空腹酒服一丸。一百丸為劑。</p>
<p>歌曰　三十薯蕷二十草。三姜二蘞百枚棗。桔茯柴胡五分勻。人參阿膠七分討。更有六分不參差。芎芍杏防麥術好。豆卷地歸曲桂枝。均宜十分和藥搗。蜜丸彈大酒服之。盡一百丸功可造。風氣百疾並諸虛。調劑陰陽為至寶。</p>
<p>魏念庭曰。人之元氣在肺。人之元陽在腎。既剝削。則難於遽復矣。全賴後天之穀氣資益其生。是營衛非脾胃不能宣通。而氣血非飲食無由平復也。仲景故為虛勞諸不足。而兼風氣百疾。立此薯蕷丸之法。方中以薯蕷為主。專理脾胃。上損下損。至此可以撐持。以人參、白朮、茯苓、乾薑、豆黃卷、大棗、神麯、甘草助之除濕益氣。而中土之令得行矣。以當歸、芎藭、芍藥、地黃、麥冬、阿膠養血滋陰。以柴胡、桂枝、防風去邪散熱。以杏仁、桔梗、白蘞下氣開鬱。惟恐虛而有熱之人。滋補之藥上拒不受。故為散其邪熱。開其逆郁。而氣血平順。補益得納。為至當不易之道也。</p>

<h3>酸棗仁湯</h3>
<p>治虛勞虛煩不得眠。</p>
<p>酸棗仁（二升。）　甘草（一兩。）　知母（二兩。）　茯苓（二兩。）　芎藭（一兩。）</p>
<p>上五味。以水八升。煮酸棗仁得六升。內諸藥。煮取三升。分溫三服。</p>
<p>歌曰　酸棗（仁）二升先煮湯。茯知二兩佐之良。芎甘各一相調劑。服後恬然足睡鄉。</p>
<p>尤在涇云。人寤則魂寓於目。寐則魂藏於肝。虛勞之人。肝氣不榮。故以棗仁補斂之。然不眠由於虛煩。必有燥火痰氣之擾。故以知母、甘草清熱滋燥。茯苓、川芎行氣除痰。皆所以求肝之治而宅其魂也。</p>

<h3>大黃䗪蟲丸</h3>
<p>治五勞虛極羸瘦。腹滿不能飲食。食傷。憂傷。飲傷。房室傷。飢傷。勞傷。經絡營衛氣傷。內有乾血。肌膚甲錯。兩目黯黑。緩中補虛者。此丸主之。</p>
<p>大黃（十分。蒸。）　黃芩（二兩。）　甘草（三兩。）　桃仁（一升。）　杏仁（一升。）　芍藥（四兩。）　乾漆（一兩。）　虻蟲（一升。）　乾地黃（十兩。）　水蛭（百枚。）　蠐螬（百枚。）　䗪蟲（半升。）</p>
<p>上十二味。末之。煉蜜和丸小豆大。酒服五丸。日三服。</p>
<p>歌曰　乾血致勞窮源委。緩中補虛治大旨。螬蛭百個䗪半升。桃杏虻蟲一升止。一兩乾漆十地黃。更用大黃十分己。三甘四芍二黃芩。五勞要證須用此。此方世醫勿驚疑。起死回生大可恃。</p>
<p>尤在涇曰。風氣不去。則足以賊正氣而生長不榮。故薯蕷丸為要方。乾血不去。則足以留新血而滲灌不周。此丸為上劑。愚按。此丸從內經四烏鰂一蘆茹丸悟出。但不如四烏鰂一蘆茹丸之平易近人也。王晉三云。金匱血痹虛勞脈證九條。首條是汗出而風吹之。血凝於膚而為痹。然痹未至於乾血。後六條。是諸虛不足而成勞。然勞亦不至於虛極。故治法皆以補虛和營衛去風氣為主方。若五勞虛極。痹而內成乾血者。悉皆由傷而血瘀。由血瘀而為乾血也。假如陰之五宮。傷在五味。飲食自倍。則食傷於脾。西方生燥。在臟為肺。在志為憂。憂患不止。則營澀衛除。故憂傷於肺。以酒為漿。以妄為常。女子脫血。醉入房中。則飲傷於肝。嗜欲無窮。精氣弛壞。則房勞傷於腎。穀氣不盈。上焦不行。下脘不通。胃熱陰虧。則飢傷於胃。尊榮人有所勞倦。喘息汗出。其傷在營。若負重努力人。亦傷於營。營氣屬心。故勞傷於心。諸傷而胃亦居其一者。以五臟皆稟氣於胃。為四時之病變。死生之要會。胃熱液涸。則五臟絕陰氣之源。而絡痹血乾愈速。故飢傷亦列於臟傷之間。其第七句是總結諸傷。皆傷其經絡營衛之氣也。細繹本文云。腹滿不能食。肌膚甲錯。面目黯黑。明是不能內谷以通流營衛。則營衛凝注。瘀積之血。牢不可破。即有新生之血。亦不得暢茂條達。惟有日漸羸瘦。而成內傷乾血勞。其有不死者幾希矣。仲景乃出佛心仙手。治以大黃䗪蟲丸。君以大黃。從胃絡中宣瘀潤燥。佐以黃芩清肺衛。杏仁潤心營。桃仁補肝虛。生地滋腎燥。乾漆性急飛竄。破脾胃關節之瘀血。虻蟲性升。入陽分破血。水蛭性下。入陰分逐瘀。螬蠐去兩脅下之堅血。䗪蟲破堅通絡行陽。卻有神功。故方名標而出之。芍藥、甘草扶脾胃。解藥毒。緩中補虛者。緩舒也。綽也。指方中寬舒潤血之品而言也。故喻嘉言曰。可用瓊玉膏補之。勿以耆、術補中。失卻寬舒胃氣之義。</p>

<h2>附方</h2>

<h3>千金翼炙甘草湯</h3>
<p>（歌見長沙方歌括）　治虛勞不足。汗出而悶。脈結悸。行動如常。不出百日危急者。十一日死。</p>
<p>甘草　桂枝　生薑　人參　阿膠　大棗　麻仁　麥冬　生地</p>
<p>徐云。此虛勞中潤燥復脈之神方。今人喜用膠、麥等而畏用薑、桂。豈知陰凝燥氣。非陽不能化耶。魏云。仲景用陰陽兩補之法。較後人所制十全、八珍等湯。純美多矣。</p>

<h3>肘後獺肝散</h3>
<p>治冷勞。又主鬼疰。一門相染。</p>
<p>獺肝一具。炙乾末之。水服方寸匕。日三服。</p>
<p>歌曰　獺肝變化少人知。一月能生一葉奇。鬼疰冷勞宜此物。傳屍蟲蠱是專司。</p>
<p>王晉三云。獺肝散。奇方也。葛稚川治屍疰鬼疰。仲景治冷癆。皆取用之。按獺肝性溫。能驅陰邪而鎮肝魂。不使魂遊於上而生變動之證。蓋疰者。邪注於臟也。若注於肝。則肝為善變之臟。邪與魂相合。證變便有二十二種。其蟲三日一食。五日一退。變見之證。無非陰象。而獺肝一月生一葉。又有一退葉。是其性亦能消長出入以殺隱見變幻之蟲。真神品也。</p>

<h1>卷三</h1>

<h2>肺痿肺癰咳嗽上氣方</h2>

<h3>甘草乾薑湯</h3>
<p>治肺痿吐涎沫而不咳者。其人不渴。必遺尿。小便數。所以然者。以上虛不能制下故也。此為肺中冷。必眩。多涎唾。以此方溫之。若服湯已渴者。屬消渴。</p>
<p>甘草（四兩。炙。）　乾薑（二兩。炮。）</p>
<p>上㕮咀。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>歌曰　二兩乾薑四炙甘。姜須炮透旨須探。（傷寒。金匱各方中。只此一方用炮。）肺中津涸方成痿。氣到津隨得指南。</p>
<p>蔚按。肺痿皆為熱證。然熱有虛實之不同。實熱宜用寒劑。而此則亡津液而致虛。以虛而生熱。若投以苦寒之劑。非苦從火化而增熱。則寒為熱拒而不納矣。此方妙在以甘草之大甘為主。佐以炮透之乾薑。變其辛溫之性而為苦溫之用。於甘溫除大熱成法中。又參以活法。面面周到。神乎神乎。</p>

<h3>射干麻黃湯</h3>
<p>治咳而上氣。喉中水雞聲者主之。　</p>
<p>射干（三兩。）　麻黃　生薑（各四兩。）　細辛　紫菀　款冬花（各三兩。）　大棗（七枚。）半夏（半升。）　五味子（半升。）</p>
<p>上九味。以水一斗二升。先煮麻黃兩沸。去上沫。內諸藥。煮取三升。分溫三服。</p>
<p>歌曰　喉中咳逆水雞聲。三兩干辛款菀行。夏味半升棗七粒。姜麻四兩破堅城。</p>
<p>上方主溫。此方主散。</p>
<p>尤在涇云。咳而上氣。肺有邪則氣不降而反逆也。肺中寒飲上入喉間。為呼吸之氣所激。則作聲如水雞。射干、紫菀、款冬利肺氣。麻黃、細辛、生薑發邪氣。半夏降逆氣。而以大棗安中。五味斂肺。恐劫散之藥。並傷及其正氣也。</p>

<h3>皂莢丸</h3>
<p>治咳逆上氣。時時吐濁。但坐不得眠者。此丸主之。</p>
<p>皂莢（八兩。刮去皮。酥炙。）</p>
<p>上一味末之。蜜丸梧子大。以棗膏和湯服三丸。日三夜一服。</p>
<p>歌曰　濁痰上氣坐難眠。癰勢將成壅又堅。皂莢蜜丸調棗下。綢繆須在雨之前。</p>
<p>蔚按。痰有固而不拔之勢。故用皂莢開其壅閉。滌其汙垢。又以棗膏安其胃氣。祛邪中不離養正之法。</p>

<h3>厚朴麻黃湯</h3>
<p>治咳而脈浮者主之。</p>
<p>厚朴（五兩。）　麻黃（四兩。）　石膏（如雞子大。）　杏仁（半升。）　半夏（半升。）　乾薑　細辛（各二兩。）　小麥（一升。）　五味（半升。）</p>
<p>上九味。以水一斗二升。先煮小麥熟。去滓。內諸藥。煮取三升。溫服一升。日三服。</p>
<p>歌曰　杏仁夏味半升量。升（小）麥四麻五樸良。三兩姜辛膏（雞）蛋大。脈浮咳喘此方當。（一本。半夏。用至六升。此遵徐注。半夏只用半升。）</p>
<p>元犀按。咳而脈浮者。內有飲而表有邪也。表邪激動內飲。飲氣上凌。則心肺之陽為之矇蔽。故用厚朴麻黃湯宣上焦之陽。降逆上之飲。方中厚朴寬胸開蔽。杏仁通泄肺氣。助麻黃解表出邪。乾薑、五味、半夏、細辛化痰滌飲。小麥保護心君。然表邪得辛溫而可散。內飲非質重而難平。故用石膏之質重者。降天氣而行治節。使水飲得就下之性而無上逆之患也。尤妙先煮小麥。補心養液。領諸藥上行下出。為攘外安內之良圖。可知仲師之方無微不到。學者當細心體認。方得其旨焉。</p>

<h3>澤漆湯</h3>
<p>治咳而脈沉者。此湯主之。</p>
<p>半夏（半升。）　澤漆（三升。以東流水五斗。煮取一斗五升。）　紫參（一本作紫菀。）　生薑　白前（各五兩。）　甘草　黃芩　人參　桂枝（各三兩。）</p>
<p>上九味。㕮咀。內澤漆湯中。煮取五升。溫服五合。至夜盡。</p>
<p>歌曰　五兩紫參姜白前。三升澤漆法分煎。桂芩參草同三兩。半夏半升滌飲專。</p>
<p>元犀按。咳而脈浮者。表有邪也。表邪不解。則干動內飲而為咳。用厚朴麻黃湯寬胸解表。一鼓而下。則外邪內飲。一併廓清矣。至於咳而脈沉者。里不和也。裡氣不和。由於天氣不降。治節不行。而水道不通。致內飲上逆為咳矣。用澤漆湯者。君澤漆。壯腎陰。鎮水逆。佐以紫菀、白前。開肺氣。散結氣。以達陽氣。又以半夏、黃芩。分陰陽。安胃氣。以降逆氣。並和裡氣。生薑、桂枝。調營衛。運陽氣。並行飲氣。人參、甘草。奠中土。交陰陽以和之。猶治水者。先修堤岸以杜其氾濫之患也。先煮澤漆者。取其氣味濃厚。領諸藥入腎。充腎氣。使其吸引有權。則能通府以神其妙用焉。</p>
<p>受業林禮豐按。本方主太陽之裡。太陽底面便是少陰。咳而脈沉者。病在太陽之裡少陰之表也。蓋太陽主皮毛。邪傷皮毛。必干於肺。肺傷則不能生水。而少陰之樞逆於下。故立此方。君以澤漆者。以其氣味苦寒。壯腎陰。利水而止咳也。復用白前宣肺氣。黃芩泄肺熱。人參補肺虛。甘草安脾氣。紫菀開結氣。桂枝化膀胱。半夏降逆。生薑滌飲。則肺邪可驅。肺虛可補。腎陰可壯。州都可達矣。煎法先煮澤漆湯成而後入諸藥者。取其領諸藥以神其妙用也。</p>

<h3>麥門冬湯</h3>
<p>治火逆上氣。咽喉不利。止逆下氣者。此湯主之。</p>
<p>麥門冬（七升。）　半夏（一升。）　人參　甘草（各二兩。）　粳米（三合。）　大棗（十二枚。）</p>
<p>上六味。以水一斗二升。煮取六升。溫服一升。日三夜一服。</p>
<p>歌曰　火逆原來氣上衝。一升半夏七升冬。參甘二兩粳三合。棗十二枚是正宗。</p>
<p>喻嘉言云。於大建中氣大生津液隊中。增入半夏之辛溫一味。其利嚥下氣。非半夏之功。善用半夏之功。擅古今未有之奇矣。</p>

<h3>葶藶大棗瀉肺湯</h3>
<p>治肺癰喘不得臥者主之。</p>
<p>葶藶（熬令黃色。搗。丸如雞子大。）　大棗（十二枚。）</p>
<p>上先以水三升煮棗。取二升。去棗。內葶藶。煮取一升。頓服。</p>
<p>歌曰　喘而不臥肺癰成。口燥（口中辟辟乾燥。）　胸疼（胸中隱隱痛。）數實呈。（肺痿脈數而虛。肺癰脈數而實。）葶藶一丸十二棗。雄軍直入奪初萌。</p>
<p>尤在涇云。葶藶苦寒。入肺泄氣閉。加大棗甘溫以和藥力。與皂莢丸之飲以棗膏同法。</p>

<h3>桔梗湯</h3>
<p>治肺癰咳而胸滿。振寒脈數。咽乾不渴。時出濁唾腥臭。久久吐膿如米粥者。此湯主之。</p>
<p>桔梗（一兩。）　甘草（二兩。）</p>
<p>上以水三升。煮取一升。分溫再服。則吐膿血也。</p>
<p>歌曰　膿如米粥肺須清。毒潰難支藥要輕。甘草二兮桔一兩。土金合化得生生。</p>
<p>元犀按。肺癰尚未成膿。用葶藶瀉之。今已潰後。用此湯排膿解毒。宜緩治。不可峻攻也。余解見長沙方歌括。</p>

<h3>越婢加半夏湯</h3>
<p>治咳而上氣。此為肺脹。其人喘。目如脫狀。脈浮大者。此湯主之。</p>
<p>麻黃（六兩。）　石膏（半斤。）　生薑（三兩。）　大棗（十二枚。）　甘草（二兩。）　半夏（半升。）</p>
<p>上六味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫三服。</p>
<p>歌曰　風水多兮氣亦多。水風相搏浪滔滔。全憑越婢平風水。加夏半升奠巨波。</p>
<p>元犀按。此肺脹。原風水相搏。熱氣奔騰。上蒸華蓋。走入空竅。故咳而上氣喘目如脫狀證。</p>
<p>脈浮大者。風為陽邪。鼓盪於其間故也。方用麻黃、生薑直攻外邪。石膏以清內熱。甘草、大棗以補中氣。加半夏以開其閉塞之路。俾肺竅中之痰涎淨盡。終無肺癰之患也。</p>

<h3>小青龍加石膏湯</h3>
<p>治肺脹咳而上氣。煩躁而喘。脈浮者。心下有水。此湯主之。</p>
<p>小青龍方見痰飲咳嗽。再加石膏二兩。即此方也。</p>
<p>歌曰　小龍分兩照原方。二兩膏加仔細詳。水飲得溫方可散。欲除煩躁藉辛涼。</p>
<p>尤在涇云。此亦內邪外飲相搏之證。但兼煩躁則挾有熱邪。特加石膏。即大青龍例也。然心下有水。非溫藥不得開而去之。故不用越婢加半夏。而用小青龍加石膏。寒溫並進。水熱俱捐。於法為尤密矣。魏念庭云。師為肺冷而乾燥將痿者。立甘草乾薑湯一方。為肺熱而枯焦將致痿者。立麥門冬湯一方。皆預治肺痿之法也。師為有表邪而肺郁。恐成痿與癰者。立射干湯一法。為無外邪而氣上逆者。恐其成癰。立皂莢丸一法。為有外邪而預理其肺者。立厚朴麻黃湯一法。有外邪而復有內熱者。立澤漆湯一法。皆預治肺氣不令成痿癰之意也。又為有外邪而肺脹急。立越婢加半夏湯一法。有外邪而復有內熱肺脹煩躁者。立小青龍加石膏一法。亦皆預治肺氣不令成癰痿之意也。主治者果能明此。選擇比屬而用之。又何大患之可成乎。及肺癰已成。用大棗葶藶瀉肺湯。久久吐膿如米粥。用桔梗湯。不以病之不可為而棄之。益見濟人無己之苦心也。</p>

<h2>附方</h2>

<h3>外臺炙甘草湯</h3>
<p>（方出千金。見血痹虛勞。歌見長沙方歌括。）　治肺痿涎唾多。心中溫溫液液者。</p>
<p>元犀按。肺痿涎唾多心中溫溫液液者。心陰不足也。心陰不足則心陽上熾。勢必剋金而成肺痿。方用炙甘草湯。生津潤燥。養陰維陽。使陰復而陽不浮。則清肅之令自行於肺矣。余義見傷寒論。不再贅。</p>

<h3>千金甘草湯</h3>
<p>（歌解見長沙方歌括。）</p>
<p>甘草一味。以水三斗。煮減半。溫分三服。</p>
<p>千金生薑甘草湯　治肺痿咳唾涎沫不止。咽燥而渴。</p>
<p>生薑（五兩。）　人參（三兩。）　甘草（四兩。）　大棗（十五枚。）</p>
<p>上四味。以水七升煮三升。分溫三服。</p>
<p>歌曰　肺痿唾涎咽燥殃。甘須四兩五生薑。棗枚十二參三兩。補土生津潤肺腸。</p>
<p>元犀按。中者土也。土能生金。金之母。即資生之源也。夫肺痿咳唾涎沫不止。咽燥而渴者。是中土虛。水氣逆。阻其津液不能上滋也。方用生薑甘草湯者。君生薑破陰行陽。蒸津液上滋。佐以人參。入太陰。振脾中之陽。育肺中之陰。又以棗、草助之。為資生之始。令土旺則生金制水矣。</p>

<h3>千金桂枝去芍藥加皂莢湯</h3>
<p>治肺痿吐涎沫。</p>
<p>桂枝　生薑（各三兩。）　甘草（三兩）　大棗（十二枚。）　皂莢（一枚。去皮子。炙焦。）</p>
<p>上五味。以水七升。微火煮取三升。分溫三服。</p>
<p>歌曰　桂枝去芍本消陰。痰飲挾邪迫肺金。一個皂驅黏膩濁。桂枝運氣是良箴。</p>
<p>元犀按。非辛溫之品。不能行陽運氣。非甘潤之品。不能補土生津。君以薑、桂之辛溫。行陽消陰。佐以大棗、甘草之甘潤。補陰生液。若夫開壅塞。滌汙垢。以淨其涎沫者。則皂莢丸有專長耳。</p>

<h3>外臺桔梗白散</h3>
<p>（歌解見長沙方歌括。）治咳而胸滿振寒。脈數。咽乾不渴。時出濁唾腥臭。久久吐膿如米粥者。為肺癰。</p>
<p>桔梗　貝母（各三分。）　巴豆（一分。去皮熬。研如霜。）</p>
<p>上三味為散。強人飲服半錢匕。羸者減之。病在膈上者吐膿。在膈下者瀉出。若下多不止。飲冷水一杯則定。</p>

<h3>千金葦莖湯</h3>
<p>治咳有微熱煩滿。胸中甲錯。是為肺癰。</p>
<p>葦莖（二升。）　薏苡仁（半升。）　桃仁（五十粒。）　瓜瓣（半升。）</p>
<p>上四味。以水一斗。先煮葦莖。得五升。去滓。內諸藥。煮取二升。服一升。再服。當吐如膿。</p>
<p>歌曰　胸中甲錯肺癰成。煩滿咳痰數實呈。苡瓣半升桃五十。方中先煮二升莖。</p>
<p>元犀按。此方以濕熱為主。咳有微熱煩滿。胸中甲錯者。是濕熱之邪結在肺也。肺既結。則阻其氣血不行而為癰矣。方用葦莖解氣分之熱結。桃仁泄血分之熱結。薏苡利濕。清結熱之源。瓜瓣排瘀。開結熱之路。方下注云。再服當吐如膿者。指藥力行。肺癰潰矣。</p>

<h3>葶藶大棗瀉肺湯</h3>
<p>治肺癰胸滿脹。一身面目浮腫。鼻塞清涕出。不聞香臭酸辛。咳逆上氣。</p>
<p>喘鳴迫塞。此湯主之。（方見上。三日一劑。可至三四劑。須先服小青龍湯一劑。乃進。）</p>

<h2>奔豚氣病方</h2>

<h3>奔豚湯</h3>
<p>治奔豚氣上衝胸。腹痛。往來寒熱者主之。</p>
<p>甘草　當歸　芎藭　黃芩　芍藥（各二兩。）　半夏　生薑（各四兩。）　生葛（五兩。）　甘李根白皮（一升。）</p>
<p>上九味。以水二斗。煮取五升。溫服一升。日三夜一服。</p>
<p>歌曰　氣衝腹痛號奔豚。四兩夏姜五（兩）葛根。歸芍芎芩甘二兩。李皮須到一升論。</p>
<p>按傷寒論云。厥陰之為病。氣上衝心。今奔豚而見往來寒熱。腹痛。是肝臟有邪。而氣通於少陽也。魏念庭云。上下升降。無論邪正之氣。未有不由少陽。少陽為陰陽之道路也。陰陽相搏則腹痛。氣升則熱。氣降則寒。隨奔豚之氣作患也。</p>
<p>徐忠可云。此方合桂枝、小柴胡二湯。去柴胡。去桂枝。去大棗。以太陽少陽合病治法。解內外相合之客邪。肝氣不調而加辛溫之芎歸。熱氣上衝而加苦泄之生葛李根。不治奔豚。正所以深於治也。</p>
<p>尤在涇云。苓桂為奔豚主藥。而不用者。病不由腎發也。按服此湯而未愈者。用烏梅丸神效。</p>

<h3>桂枝加桂湯</h3>
<p>（歌見長沙方歌括。）　治發汗後燒針令其汗。針處被寒。核起而赤者。必發奔豚。氣從少腹上至心。灸其核上各一壯。與此湯主之。</p>
<p>桂枝湯（方見婦人妊娠病。）加桂枝二兩。</p>
<p>元犀按。汗後又迫其汗。重傷心氣。心氣傷不能下貫元陽。則腎氣寒而水滯也。加以針處被寒。為兩寒相搏。必挾腎邪而凌心。故氣從少腹上至心。發為奔豚也。灸之者。杜其再入之患。用桂枝湯補心氣以解外邪。加桂者。通腎氣。暖水臟。而水邪化矣。</p>

<h3>茯苓桂枝甘草大棗湯</h3>
<p>（歌見長沙方歌括。）　治發汗後臍下悸者。欲作奔豚。此湯主之。</p>
<p>茯苓　甘草　大棗　桂枝</p>
<p>此發汗後心氣不足。而後腎氣乘之臍下悸。即奔豚之兆也。</p>
<p>孫男心典稟按。因驚而得。似只宜以心為治也。然自下而上。動於腎氣。激亂於厥陰。而撤守在心。實三經同病也。仲景三方。亦微示其意。學者當隅反之。余讀金匱茯苓桂枝甘草大棗湯治汗後腎氣凌心。即悟桂枝甘草湯叉手冒心之治也。更悟桂枝去芍藥加蜀漆牡蠣龍骨救逆湯火逆驚狂之治也。因奔豚湯治氣上衝胸。即悟烏梅丸氣上衝心之治。並四逆散加茯苓心下悸之治也。因桂枝加桂湯治氣從少腹上衝心。即悟理中湯去朮加桂臍下動氣之治也。先祖云。仲景書一言一字。俱是活法。難與不讀書者道。亦難與讀書死於句下者道也。</p>

<h2>胸痹心痛短氣方</h2>

<h3>栝蔞薤白白酒湯</h3>
<p>治胸痹病喘息咳唾。胸背痛。短氣。寸口脈沉而遲。關上小緊數者。此湯主之。</p>
<p>栝蔞實（一枚。搗。）　薤白（半升。）　白酒（七升。）</p>
<p>上三味。同煮。取二升。分溫再服。</p>
<p>歌曰　胸為陽位似天空。陰氣彌淪痹不通。薤白半升（栝）蔞一個。七升白酒奏奇功。</p>
<p>孫男心典稟按。胸為氣息之路。若陰邪佔居其間。則阻其陽氣不通。故生喘息咳唾胸背痛諸證。寸口者。脈之大會。陽之位也。內經診脈篇云。上竟上者。胸喉中事也。上附上。右外以候肺。內以候胸中。左外以候心。內以候膻中。此云寸口脈沉而遲關上小緊數。寸口。即內經所謂上竟上也。沉為在裡。遲為虛寒。關上者。即內經所謂上附上也。緊為陰邪。數為陽氣。顯系胸中陽氣被陰寒痹塞。阻其前後之氣。不相貫通。故見以上種種諸證。方中用栝蔞開胸結。薤白宣心陽。尤妙在白酒散痹通陽。引氣血環轉周身。使前後之氣貫通無礙。則胸中曠若太空。有何胸痹之患哉。</p>

<h3>栝蔞薤白半夏湯</h3>
<p>治胸痹不得臥。心痛徹背者主之。</p>
<p>括蔞實（一枚。搗。）　薤白（三兩。）　半夏（半升。）　白酒（一斗。）</p>
<p>上四味。同煮。取三升。溫服一升。日三服。</p>
<p>歌曰　胸背牽疼不臥時。（上言胸背痛。茲又加以不得臥。其痛甚矣。所以然者。有痰飲以為之援也。）半升半夏一蔞施。薤因性濕惟三兩。（即前湯減薤白。只用三兩。惡其濕也。增入半夏半升。取其燥也。）斗酒同煎滌飲奇。</p>
<p>元犀按。加半夏一味。不只滌飲。且能和胃而通陰陽。</p>

<h3>枳實栝蔞薤白桂枝湯</h3>
<p>治胸痹。心中痞氣留結在胸。胸滿。脅下逆搶心者。此湯主之。人參湯亦主之。</p>
<p>枳實（四枚。）　薤白（半升。）　桂枝（一兩。）　厚朴（四兩。）　栝蔞實（一枚。搗。）</p>
<p>上五味。以水五升。先煮枳、樸。取二升。去滓。入諸藥。再煮數沸。分溫再服。</p>
<p>歌曰　痞連胸脅逆攻心。（尤云。心下痞氣是氣痹而成痞也。按脅下逆搶心者。氣不由中上而從脅逆。是中痹而阻諸氣之往來也。）薤白半升四樸尋。一個栝蔞一兩桂。四枚枳實撒浮陰。（尤云。宜急通其痞結之氣。）</p>
<p>元犀按。枳實、厚朴泄其痞滿。行其留結。降其搶逆。得桂枝化太陽之氣。而胸中之滯塞自開。以此三藥與薤白、栝蔞之專療胸痹者而同用之。亦去疾莫如盡之旨也。</p>

<h3>人參湯</h3>
<p>（即傷寒論桂枝人參湯。）</p>
<p>人參　乾薑　白朮　桂枝　甘草</p>
<p>歌曰　理中加桂人參湯。（尤云。速復其不振之陽。）陽復陰邪自散藏。休訝補攻分兩道。道消（小人道消。）道長（君子道長。）細推詳。</p>
<p>元犀按。此別胸痹證虛實之治。實者邪氣摶結。蔽塞心胸。故不用補虛之品。而專以開泄之劑。使痹氣開則搶逆平矣。虛者心陽不足。陰氣上彌。故不以開泄之劑。而以溫補為急。使心氣旺則陰邪自散矣。尤在涇云。去邪之實。即所以安正。補陽之虛。即所以逐陰。是在審其病之久暫。與氣之虛實而決之。</p>

<h3>茯苓杏仁甘草湯</h3>
<p>治胸痹。胸中氣塞短氣者。此湯主之。橘皮枳實生薑湯亦主之。</p>
<p>茯苓（三兩。）　杏仁（五十個。）　甘草（一兩。）</p>
<p>上三味。以水一斗。煮取五升。溫服一升。日三服。不瘥。更服。</p>
<p>歌曰　痹而短氣孰堪醫。甘一苓三淡泄之。更有杏仁五十粒。水行（則）氣（自）順不求奇。</p>

<h3>橘皮枳實生薑湯</h3>
<p>橘皮（一斤。）　枳實（三兩。）　生薑（半斤。）</p>
<p>上三味。以水五升。煮取二升。分溫再服。</p>
<p>歌曰　痹而氣塞又何施。枳實辛香三兩宜。橘用一斤姜減半。氣開（則）結（自）散勿遲疑。受業林禮豐按。胸痹胸中氣塞者。由外邪搏動內飲。充塞於至高之分。閉其氣路。非辛溫不能滌飲散邪。非苦泄不能破塞調氣。故重用橘皮、生薑之大辛大溫者。散胸中之飲邪。枳實之圓轉苦辛者。泄胸中之閉塞。譬之寇盜充斥。非雄師不能迅掃也。至若胸痹短氣。乃水邪射肺阻其出氣。只用甘草奠安脾氣。杏仁開泄肺氣。重用茯苓清治節。使水順趨於下。水行而氣自治。譬之導流歸海而橫逆自平也。二方並列。一用辛開。一用淡滲。學者當臨機而酌宜焉。</p>

<h3>薏苡附子散</h3>
<p>治胸痹緩急者。此散主之。</p>
<p>薏苡仁（十五兩。）　大附子（十枚。炮。）</p>
<p>上二味。杵為散。服方寸匕。日三服。</p>
<p>歌曰　痹來緩急屬陽微。（經云。陽氣者精則養神。柔則養筋。）附子十枚切莫違。更有薏仁十五兩。筋資陰養得陽歸。</p>
<p>元犀按。薏苡稟陽明金氣。金能制風。肝為風臟而主筋。取治筋之緩急。人之所知也。合附子以大補陽氣。其旨甚奧。經云。陽氣者精則養神。柔則養筋是也。傷寒論桂枝加附子湯。與此相表裡。</p>

<h3>桂枝生薑枳實湯</h3>
<p>治心中痞。諸逆心懸痛者。此湯主之。</p>
<p>桂枝　生薑（各三兩。）　枳實（五兩。）</p>
<p>上三味。以水六升。煮取三升。分溫三服。</p>
<p>歌曰　心懸而痛痞相連。痰飲上彌客氣填。三兩桂姜五兩枳。祛寒散逆並攻堅。</p>
<p>元犀按。心下痞者。心陽虛而不布。陰邪僭居心下而作痞也。尤云。諸逆該痰飲客氣而言。心懸痛者。如空中懸物搖動而痛也。此注亦超。主以桂枝生薑枳實湯者。桂枝色赤補心壯陽。生薑味辛散寒降逆。佐以枳實之味苦氣香。苦主泄。香主散。為泄痞散逆之妙品。領薑、桂之辛溫旋轉上下。使陽光普照。陰邪迅掃而無餘耳。</p>

<h3>烏頭赤石脂丸</h3>
<p>治心痛徹背。背痛徹心者。此丸主之。</p>
<p>烏頭（一分。炮。）　蜀椒　乾薑（各一兩。）　附子（半兩。）　赤石脂（一兩。）</p>
<p>上五味末之。蜜丸如桐子大。先食服一丸。日三服。不知。稍加服。</p>
<p>歌曰　徹背徹胸痛不休。（前言心痛徹背。尚有止息之時。今則陰寒極而痛極矣。）陽光欲熄實堪憂。（非薤白之類所能治也。）烏頭一分五錢附。赤石椒姜一兩求。</p>
<p>喻嘉言曰。前後牽連痛楚。氣血疆界俱亂。若用氣分諸藥。轉益其痛。勢必危殆。仲景用蜀椒、烏頭一派辛辣。以溫散其陰邪。然恐胸背既亂之氣難安。而即於溫藥隊中。取用乾薑之守。赤石脂之澀。以填塞厥氣所橫衝之新。隊俾胸之氣自行於胸。背之氣自行於背。各不相犯。其患乃除。此煉石補天之精義也。今人知有溫氣補氣行氣散氣諸法。亦知有堵塞邪氣攻衝之訣。令胸背陰陽二氣。並行不悖也哉。</p>

<h2>附方</h2>

<h3>九痛丸</h3>
<p>治九種心痛。（一蟲。二注。三風。四悸。五食。六飲。七冷。八熱。九去來痛是也。而並以一方治之者。豈痛雖有九其因於積冷結氣者多耶。）</p>
<p>附子（三兩。炮。）　生狼牙　巴豆（去皮。熬。研如膏。）　乾薑　吳茱萸　人參（各一兩。）</p>
<p>上六味末之。煉蜜丸如梧桐子大。酒下。強人初服三丸。日三服。弱者二丸。　兼治卒中惡。腹脹。口不能言。又治連年積冷流注。心胸痛。並冷衝上氣。落馬墜車血疾等證。皆主之。忌口如常法。</p>
<p>歌曰　九種心疼治不難。狼（牙吳）　萸姜（巴）豆附參安。附須三兩餘皆一。攻補同行仔細看。</p>
<p>魏云。凡結聚太甚。有形之物參雜其間。暫用此丸。政刑所以濟德禮之窮也。</p>

<h2>腹滿寒疝宿食方</h2>

<h3>附子粳米湯</h3>
<p>治腹中寒氣雷鳴切痛。胸脅逆滿嘔吐者。此湯主之。</p>
<p>附子（一枚。炮。）　半夏　粳米（各半升。）　甘草（一兩。）　大棗（十枚。）</p>
<p>上五味。以水八升。煮米熟湯成。去滓。溫服一升。日三服。</p>
<p>歌曰　腹中切痛作雷鳴。胸脅皆膨嘔吐成。附子一枚棗十個。半升粳夏一甘烹。</p>
<p>元犀按。腹中雷鳴。胸脅逆滿嘔吐。氣也。半夏功能降氣。腹中切痛。寒也。附子功能驅寒。又佐以甘草、粳米、大棗者。取其調和中土。以氣逆為病迸於上。寒生為病起於下。而交乎上下之間者。土也。如兵法擊其中堅。而首尾自應也。</p>

<h3>厚朴七物湯</h3>
<p>治腹滿發熱十日。脈浮而數。飲食如故者。此湯主之。</p>
<p>厚朴（半斤。）　甘草　大黃（各三兩。）　大棗（十枚。）　枳實（五枚。）　桂枝（二兩。）　生薑（五兩。）</p>
<p>上七味。以水一斗。煮取四升。溫服八合。日三服。嘔者加半夏五合。下利去大黃。寒多者加生薑至半斤。</p>
<p>歌曰　滿而便閉脈兼浮。三兩甘黃八樸投。二桂五姜十個棗。五枚枳實效優優。</p>
<p>元犀按。病過十日。腹滿發熱。脈浮而數。夫脈浮而發熱。邪盛於表也。腹滿而脈數。邪實於裡也。表裡俱病。故以兩解之法治之。取桂枝湯去芍藥之苦寒。以解表邪而和營衛。小承氣湯蕩胃腸以泄裡實。故雖飲食如故。以病已十日之久。表裡交病。邪不去則正不復。權宜之法。在所必用也。嘔者。氣逆於上也。故加半夏以降逆。下利去大黃者。以表邪未解。恐重傷胃氣以陷邪也。寒多加生薑者。以太陽本寒之氣盛。重用生薑以散寒也。</p>

<h3>大柴胡湯</h3>
<p>（歌見長沙方歌括。）　按之心下滿痛者。此為實也。當下之。宜此湯。</p>
<p>柴胡　黃芩　芍藥　半夏　枳實　大黃　大棗　生薑</p>
<p>元犀按。實者當下症。大承氣湯尤恐不及。況大柴胡湯乎。按之心下滿痛者。太陽之邪逆而內干少陽。樞機阻而不利也。用大柴胡湯宣外達內。使少陽之氣從太陽之開而解矣。</p>

<h3>厚朴三物湯</h3>
<p>治痛而便閉者。此湯主之。</p>
<p>厚朴（八兩。）　大黃（四兩。）　枳實（五枚。）</p>
<p>上三味。以水一斗二升。先煮二味。取五升。內大黃。煮取三升。溫服一升。以利為度。</p>
<p>歌曰　痛而便閉下無疑。四兩大黃樸倍之。枳用五枚先後煮。小承變法更神奇。</p>
<p>尤在涇云。承氣意在蕩實。故君大黃。三物意在行氣。故君厚朴。</p>
<p>元犀按。此方不減大黃者。以行氣必先通便。便通則腸胃暢。而腑臟氣通。通則不痛也。</p>

<h3>大承氣湯</h3>
<p>（見痙病。）　治腹滿不減。減不足言。當下之。</p>
<p>以上三方。雖緩急不同。而攻泄則一。所謂中滿瀉之於內也。傷寒論淺注已解。毋庸再贅。</p>

<h3>大建中湯</h3>
<p>治心胸中大寒痛。嘔不能飲食。腹中滿。上衝皮起。出見有頭足。上下痛而不可觸近者。此湯主之。</p>
<p>蜀椒（二合。炒去汗。）　乾薑（四兩。）　人參（二兩。）</p>
<p>上二味。以水四升。煮取二升。去滓。內膠飴一升。微火煎取二升。分溫再服。如一炊頃可飲粥二升。後更服。當一日食糜粥。溫覆之。</p>
<p>歌曰　痛嘔食艱屬大寒。腹沖頭足觸之難。（腑臟經絡皆寒所痹。痛甚手不可近也。）乾薑四兩椒二合。參二飴升食粥安。</p>
<p>受業林禮豐按。胸為陽氣出入之位。師云心胸中大寒者。胸中之陽不宣。陰寒之氣從下而上也。痛者。陰寒結聚也。嘔者。陰寒犯胃也。不能食腹中滿者。陰寒犯脾也。上衝皮起出見有頭足者。陰寒橫逆於中也。上下痛而不可觸近者。是寒從下上。徹上徹下。充滿於胸腹之間。無分界限。陽氣幾乎絕滅矣。扼要以圖。其權在於奠安中土。中焦之陽四布。上下可以交泰無虞。故主以大建中湯。方中重用乾薑溫中土之寒。人參、飴糖建中焦之氣。佐以椒性純陽下達。鎮陰邪之逆。助乾薑以振中土之陽。服後一炊頃飲粥者。亦溫養中焦之氣以行藥力也。</p>

<h3>大黃附子湯</h3>
<p>治脅下偏痛。脈緊弦。此寒也。以溫藥下之。宜此湯。</p>
<p>大黃（三兩。）　附子（三枚。）　細辛（二兩。）</p>
<p>上三味。以水五升。煮取二升。分溫三服。若強人。煮取二升半。分溫三服。服後如人行四五里。進一服。</p>
<p>歌曰　脅下偏疼脈緊弦。若非溫下恐遷延。大黃三兩三枚附。二兩細辛可補天。</p>
<p>尤在涇云。陰寒成聚。非溫不能已其寒。非下不能去其結。故曰陰寒聚結。宜急以溫藥下之。</p>

<h3>赤丸</h3>
<p>治寒氣厥逆者。</p>
<p>烏頭（二兩。炮。）　茯苓（四兩。）　細辛（一兩。）　半夏（四兩。）</p>
<p>上四味末之。內真朱為色。煉蜜為丸。如麻子大。先食飲。酒下三丸。日再服。一服不知。稍增。以知為度。</p>
<p>歌曰　寒而厥逆孰為珍。四兩夏苓一兩辛。中有烏頭二兩炮。蜜丸硃色妙通神。</p>
<p>元犀按。寒氣而至厥逆。陰邪盛也。方中烏頭、細辛以溫散獨盛之寒。茯苓、半夏以降泄其逆上之氣。人所共知也。而以硃砂為色。其玄妙不可明言。蓋以此品具天地純陽之正色。陽能勝陰。正能勝邪。且以鎮寒氣之浮而保護心主。心主之令行。則逆者亦感化而效順矣。</p>

<h3>大烏頭煎</h3>
<p>治腹滿脈弦而緊。弦則衛氣不行。即惡寒。緊則不欲食。邪正相搏。即為寒疝。</p>
<p>寒疝繞臍痛。若發則白津出。手足厥冷。其脈沉緊者。此主之。（犀按。白津者汗淡不咸。或未睡時泄精漏精。大便下如白痰若豬脂狀。俱名白津。）</p>
<p>烏頭（大者五枚。熬去皮。不必咀。）</p>
<p>上以水三升。煮取一升。去滓。內蜜二升。煎令水氣盡。取二升。強人服七合。弱人服五合。不瘥。明日更服。不可一日更服。</p>
<p>歌曰　沉緊而弦痛繞臍。白津（汗出淡而不咸之名。）厥逆（四肢冷。）冷悽悽。（一身惡寒之甚。）烏頭五個煮添蜜。頃刻顛危快挈提。</p>
<p>元犀按。上條與本條。俱陰寒內結之症。寒為厥。氣為逆。是積久陰邪聚滿於中也。陰邪動而氣逆。當為喘嘔不能食矣。陰邪結則阻其陽氣不行。故肢厥膚冷。腹中痛。自汗出矣。曰寒氣厥逆者。乃純陰用事。陽氣將亡。法宜溫中壯陽。大破陰邪。非甘溫辛熱之品。焉能救其萬一哉。</p>

<h3>當歸生薑羊肉湯</h3>
<p>治寒疝腹中痛。及脅痛裡急者主之。</p>
<p>當歸（三兩。）　生薑（五兩。）　羊肉（一斤。）</p>
<p>上三味。以水八升。煮取三升。溫服七合。日三服。若寒多加生薑成一片。痛多而嘔者。加橘皮二兩。白朮一兩。加生薑者。亦加水五升。煮取三升二合服之。</p>
<p>歌曰　腹痛脅疼（腹胸皆寒氣作主。無復界限。里）急不堪。（是內之營血不足。致陰氣不能相榮而急。）羊斤姜五並歸三。於今豆蔻香砂法。可笑依盲授指南。</p>
<p>加減歌曰　寒多增到一斤姜。痛嘔宜加橘術商。術用一兮橘二兩。祛痰止嘔補中方。</p>
<p>元犀按。方中當歸行血分之滯而定痛。生薑宣氣分之滯而定痛。亦人所共曉也。妙在羊肉之多。羊肉為氣血有情之物。氣味腥膻濃厚。入咽之後即與濁陰混為一家。旋而得當歸之活血而血中之滯通。生薑之利氣而氣中之滯通。通則不痛。而寒氣無有潛藏之地。所謂先誘之而後攻之者也。苟病家以羊肉大補而疑之。是為流俗之說所囿。其中蓋有命焉。知幾者即當婉辭而去。</p>

<h3>烏頭桂枝湯</h3>
<p>（桂枝湯見嘔吐噦下利。）　治寒疝腹中痛。逆冷。手足不仁。若身疼痛。灸刺諸藥不能治者。抵當烏頭桂枝湯主之。</p>
<p>烏頭（五枚。）</p>
<p>上一味。以蜜二斤。煎減半。去滓。以桂枝湯五合解之。令得一升後。初服五合。不知。即服三合。又不知。復加至五合。其知者如醉狀。得吐者為中病。</p>
<p>歌曰　腹痛（內寒）身疼（外寒）肢不仁。（脾主四肢。不仁者寒盛於中。無陽氣以溫之也。）藥攻刺灸治非真。（或攻其內。或攻其外。邪氣牽制不服而可以抵當其病者。惟有本方。）桂枝湯照原方煮。蜜煮烏頭合用神。</p>
<p>按。解之者。溶化也。知。效也。如醉狀。外寒方解。得吐者。內寒已伸。故為中病也。</p>
<p>道光庚辰歲。予大小兒年二十六歲。初病時少腹滿。兩旁相去有六寸遠。結二癰。長三寸。闊二寸。不紅不痛。其氣似相通狀。大便不通。發作寒熱。食少。醫者紛紜不一。或以托裡發散。或用下法。藥多不效。至二三日之後。少腹滿。漸高脹及腹上。及胸脅。逆氣衝及咽喉。藥物飲食不能下咽。氣喘。冷汗出。四肢厥。有一時許竟目直口開。予不得已。用大溫回陽之劑灌之。其初不能下咽。後約進有四分之一。其氣略平些。蘇回。予查其病症。云夜夜泄精。或有夢。或無夢。泄時知覺。以手捏之。有二三刻久方止。夜夜如是。後驚不敢睡。至雞鳴時亦泄。診其脈弦細芤遲。余思良久。方覺陰寒精自出句。生二癰者。乃陰寒聚結也。治之非大溫大毒之品不能散陰寒之結。非大補元氣不能勝陰邪之毒也。後用四逆、白通理中、建中等湯數服。病症漸漸而瘥。此足見長沙之法。運用無窮。願後之學者。深思而自得焉可。</p>

<h2>附方</h2>

<h3>外臺烏頭湯</h3>
<p>治寒疝腹中絞痛。賊風入攻。五臟拘急。不得轉側。發作有時。令人陰縮。手足厥逆。（即大烏頭煎。見上。）</p>

<h3>外臺柴胡桂枝湯</h3>
<p>（歌見長沙方歌括。）治心腹卒中痛者。</p>
<p>柴胡（四兩。）　黃芩（一兩半。）　人參（一兩半。）　半夏（二合半。）　大棗（十二枚。）　生薑（三兩。）　甘草（一兩。）　桂枝（一兩半。）　芍藥（一兩半。）</p>
<p>上九味。以水六升。煮取三升。溫服一升。日三服。</p>

<h3>外臺走馬湯</h3>
<p>治中惡心痛腹脹。大便不通。</p>
<p>巴豆（二枚。去皮心。熬。）　杏仁（二枚。）</p>
<p>上二味。以綿纏。捶令碎。熱湯二合。捻取白汁飲之。當下。老少量之。通治飛屍鬼擊病。</p>
<p>歌曰　外來異氣傷人多。腹脹心疼走馬搓。巴杏二枚同搗細。沖湯捻汁好驅邪。</p>
<p>受業門人林士雍按。中惡心痛。大便不通。此實邪也。然邪氣雖實。亦以體虛而受也。是故有虛實寒熱之異。不得執一說而定之。仲師附走馬湯者。以巴豆辛溫大毒。除鬼注蠱毒。利水穀道。杏仁甘苦溫有小毒。入肺經。肺為天。主皮毛。中惡腹脹滿者。以惡毒不離皮毛口鼻而入。故亦從皮毛高原之處而攻之。以毒攻毒。一鼓而下也。此附治寒實大毒之邪。氣虛者則不可用矣。近世有痧疾病。疑即此也。昔聞之先業師曰。今所謂痧疾者。乃六淫邪毒猛惡厲氣所傷。凡所過之處。血氣為之凝滯不行。其症或見身痛。心腹脹滿絞痛。或通身青紫。四肢厥冷。指甲色如靛青。口噤。牙關緊閉。不能言語。或心中忙亂。死在旦夕。是邪毒內入矣。宜瀉其毒。或刺尺澤、委中、足十趾。必使絡脈貫通。氣血流行。毒邪自解矣。愚意。輕者用刮痧之法。隨即服紫金錠。或吐或下或汗出。務使經氣流通。毒邪亦解。或吐瀉不止。腹痛肢厥。大汗出。脈微欲絕者。宜用白通湯、通脈四逆湯、四逆湯等以回陽氣。以化陰邪。庶毒厲之邪漸消。若口不能開者。當從鼻孔中灌之。　集驗良方有云。行路之人路中犯此痧疾者。不得不用刮痧之法。刮後或其人不省者。宜用人尿拌土。將此土環繞臍中。復使同行之人向臍中溺之。使中宮溫。則氣機轉運。血脈流行矣。</p>

<h3>大承氣湯</h3>
<p>（見痙病。）　寸口脈浮而大。按之反澀。尺中亦微而澀者。有宿食也。此湯主之。數而滑者實也。此有宿食。下之愈。宜此湯。　下利不欲食者。此有宿食。當下之。宜此湯。</p>

<h3>瓜蒂散</h3>
<p>（歌見長沙方歌括。）　治宿食在上脘。當吐之。宜此散主之。</p>
<p>瓜蒂　赤小豆　香豉。</p>

<h1>卷四</h1>

<h2>五臟風寒積聚方</h2>

<h3>旋覆花湯</h3>
<p>治肝著。其人常欲蹈其胸上。先未苦時。但欲飲熱者主之。</p>
<p>旋覆花（三兩。）　蔥（十四莖。）　新絳（少許。）</p>
<p>上三味。以水三升。煮取一升。頓服。</p>
<p>歌曰　肝著之人慾蹈胸。（肝氣著滯反行其氣於肺。所謂橫之病也。胸者肺之位。欲按摩之以通其氣也。）熱湯一飲便輕鬆。（欲飲熱者。欲著之氣得熱則散。）</p>
<p>復花三兩蔥十四。新絳通行少許從。（旋覆花鹹溫下氣。新絳和血。蔥葉通陽。新絳查本草無此名。按說文。絳大赤也。左都賦注。絳草也。可以染色。陶弘景曰。絳茜草也。）</p>

<h3>麻仁丸</h3>
<p>（歌見長沙方歌括。）　治趺陽脈浮而澀。浮則胃氣強。澀則小便數。浮澀相搏。大便則堅。其脾為約。此丸主之。</p>
<p>麻仁　芍藥　枳實　大黃　厚朴　杏仁</p>
<p>按。脈浮者陽盛。脈澀者陰傷。脾為胃行其津液。陰傷則脾無所運矣。又。約者弱也。脾弱不運。胃中谷食不化。則為積聚症也。余義見傷寒論淺注。不再贅。</p>

<h3>甘草乾姜茯苓白朮湯</h3>
<p>（一名腎著湯。）　治腎著之病。其人身體重。腰中冷。如坐水中。形如水狀。反不渴。小便自利。飲食如故。病屬下焦。身勞汗出。衣里冷濕。久久得之。腰以下冷痛。腹重如帶五千錢者。此主之。</p>
<p>甘草　白朮（各二兩。）　乾薑　茯苓（各四兩。）</p>
<p>上四味。以水五升。煮取三升。分溫三服。腰即溫。</p>
<p>歌曰　腰冷溶溶坐水泉。（帶脈束於腰間。腎著則腰帶病。故溶溶如坐水中狀。）腹中如帶五千錢。術甘二兩姜苓四。寒濕同驅豈偶然。</p>
<p>尤在涇云。寒濕之邪。不在腎之中臟。而在腎之外府。故其治不在溫腎以散寒。而在燠土以勝水。若用桂、附。則反傷腎之陰矣。</p>

<h2>痰飲咳嗽方</h2>

<h3>苓桂朮甘湯</h3>
<p>（歌見長沙方歌括。）　治心下有痰飲。胸脅支滿。目眩者。</p>
<p>茯苓　桂枝　白朮　甘草</p>
<p>次孫男心蘭稟按。心下者。脾之部位也。飲凌於脾。致脾弱不輸。不能制水。則生痰矣。故曰。心下有痰飲也。胸乃人身之太空。為陽氣往來之道路。飲邪瀰漫於胸。盈滿於脅。蔽其君陽。溢於支絡。故曰胸脅支滿也。動則水氣盪漾。其變態無常。或頭旋轉。目冒眩。心動悸諸症。皆隨其所作也。主以苓桂朮甘湯者。以茯苓為君。蓋以苓者令也。使治節之令行。而水可從令而下耳。桂枝振心陽以退其群陰。如離照當空則陰霾全消。而天日復明也。白朮補中土以修其堤岸。使水無氾濫之虞。更以甘草助脾氣轉輸以交上下。庶治節行。心陽振。土氣旺。轉輸速。而水有下行之勢。無上凌之患矣。</p>

<h3>腎氣丸</h3>
<p>（見婦人雜病。）　治短氣有微飲。當從小便去之。苓桂朮甘湯主之。此丸亦主之。</p>
<p>次孫男心蘭稟按。微者不顯之謂也。飲水也。微飲者。猶陰霾四布細雨輕飛之狀。阻於胸中。蔽其往來之氣。故曰短氣有微飲者。謂微飲阻其氣也。經云。呼出心與肺。吸入肝與腎。若心肺之陽虛。則不能行水化氣。用苓桂朮甘湯振心陽崇土以防禦之。使天日明而陰霾散。則氣化行矣。若腎虛而水泛。則吸引無權。當用腎氣丸補腎行水。使腎氣足。則能通腑而化氣。氣化則水道通矣。余解見婦人雜病。不再贅。</p>

<h3>甘遂半夏湯</h3>
<p>治脈伏。其人慾自利。利反快。雖利。心下續堅滿。此為留飲欲去故也。此湯主之。</p>
<p>甘遂（大者三枚。）　半夏（十二枚。以水一升。煮取半升。去滓。）　芍藥（五枚。）　甘草（如指大一枚。炙。）</p>
<p>上四味。以水二升。煮取半升。去滓。以蜜半升和藥汁。煎取八合。頓服之。</p>
<p>歌曰　滿從利減續還來。（去者自去。續者自續。）　甘遂三枚芍五枚。十二枚夏指大草。水煎加蜜法雙該。尤在涇云。雖利心下續堅滿者。未盡之飲復注心下也。然雖未盡而有欲去之勢。故以甘遂、半夏因其勢而導之。甘遂與甘草相反而同用之者。蓋欲其一戰而留飲盡去。因相激而相成也。芍藥、白蜜。不特安中。抑緩藥毒耳。</p>

<h3>十棗湯</h3>
<p>（歌見長沙方歌括。）　脈沉而弦者懸飲內痛。病懸飲者。此湯主之。</p>
<p>芫花　甘遂　大戟　大棗</p>
<p>男元犀按。脈沉主裡。弦主飲。飲水凝結。懸於胸膈之間。致咳引內痛也。懸飲既成。緩必滋蔓。急用十棗湯直達病所。不嫌其峻。意謂始成而即攻之。使水飲下趨而無結痛之患。所謂毒藥去病者是也。若畏其猛而不敢用。必遷延而成痼疾矣。</p>

<h3>大青龍湯</h3>
<p>（歌見長沙方歌括。）</p>
<p>麻黃　桂枝　甘草　杏仁　石膏　生薑　大棗。</p>

<h3>小青龍湯</h3>
<p>（歌見長沙方歌括。）　治病溢飲者。當發其汗。大青龍湯主之。小青龍湯亦主之。</p>
<p>麻黃　芍藥　細辛　乾薑　甘草　桂枝　半夏　五味子。</p>
<p>男元犀按。師云。飲水流行歸於四肢。當汗而不汗出。身體疼重。謂之溢飲。故病溢飲者。以得汗為出路。然飲既流溢。亦隨人之臟氣寒熱而化。飲從熱化。故立大青龍湯辛涼發汗以行水。飲從寒化。故立小青龍湯辛溫發汗以利水。二方並列。用者當酌其宜焉。</p>

<h3>木防己湯</h3>
<p>治膈間支飲。其人喘滿。心下痞堅。面色黧黑。其脈沉緊。得之數十日醫吐下之不愈。此湯主之。虛者即愈。實者三日復發。復與不愈者。宜此湯去石膏加茯苓芒硝湯主之。</p>
<p>木防己（三兩。）　石膏（如雞子大二枚。）　桂枝（二兩。）　人參（四兩。）</p>
<p>上四味。以水六升。煮取二升。分溫再服。</p>
<p>歌曰　喘滿痞堅面色黧。己三桂二四參施。膏枚二個如雞子。辛苦寒溫各適宜。</p>
<p>男元犀按。防己入手太陰肺。肺主氣。氣化而水自行矣。桂枝入足太陽膀胱。膀胱主水。水行而氣自化矣。二藥並用。辛苦相需。所以行其水氣而散其結氣也。水行結散。則心下痞堅可除矣。然病得數十日之久。又經吐下。可知胃陰傷而虛氣逆。故用人參以生既傷之陰。石膏以鎮虛逆之氣。陰覆逆平。則喘滿面黧自愈矣。此方治其本來。救其失誤。面面俱到。</p>

<h3>木防己去石膏加茯苓芒硝湯</h3>
<p>木防己（三兩。）　桂枝（二兩。）　茯苓　人參（各四兩。）　芒硝（三合。）</p>
<p>上五味。以水六升。煮取二升。去滓。內芒硝。再微煎。分溫再服。微利則愈。</p>
<p>歌曰　四兩苓加不用膏。芒硝三合展奇韜。氣行復聚知為實。以軟磨堅自不勞。</p>
<p>魏念庭云。前方去石膏加芒硝者。以其邪既散而復聚。則有堅定之物留作包囊。故以堅投堅而不破者。即以軟投堅而必破也。加茯苓者。亦引飲下行之用耳。</p>

<h3>澤瀉湯</h3>
<p>治心下有支飲。其人苦冒眩者主之。</p>
<p>澤瀉（五兩。）　白朮（二兩。）</p>
<p>上二味。以水二升煮。取一升。分溫再服。</p>
<p>歌曰　清陽之位飲邪乘。眩冒頻頻苦不勝。澤五為君術二兩。補脾制水有奇能。</p>
<p>受業林禮豐按。心者陽中之陽。頭者諸陽之會。人之有陽氣。猶天之有日也。天以日而光明。猶人之陽氣會於頭而目能明視也。夫心下有支飲。則飲邪上蒙於心。心陽被遏不能上會於巔。故有頭冒目眩之病。仲師特下一苦字。是水陰之氣盪漾於內。而冒眩之苦有莫可言傳者。故主以澤瀉湯。蓋澤瀉氣味甘寒。生於水中。得水陰之氣而能利水。一莖直上。能從下而上。同氣相求。領水陰之氣以下走。然猶恐水氣下而復上。故用白朮之甘溫崇土製水者以堵之。猶治水者之必築堤防也。古聖用方之妙有如此者。今人反以澤瀉利水伐腎。多服傷目之說疑之。其說創於宋元諸醫。而李時珍、張景岳、李士材、汪訒庵輩和之。貽害至今弗熄。然天下人信李時珍之本草者。殆未讀神農本草經耶。余先業師神農本經小注最詳。願業斯道者。三複之而後可。</p>

<h3>厚朴大黃湯</h3>
<p>治支飲胸滿者。此湯主之。</p>
<p>厚朴（一尺。）　大黃（六兩。）　枳實（四枚。）</p>
<p>上三味。以水五升。煮取二升。分溫再服。</p>
<p>歌曰　胸為陽位似天空。支飲填胸滿不通。尺樸為君調氣分。四枚枳實六黃攻。</p>
<p>元犀按。支飲者。有支派之別也。胸乃陽氣之道路。飲為陰邪。言胸滿者。乃陰占陽位。填塞胸中而作滿也。君以厚朴者。味苦性溫。為氣分之藥。苦降溫開。使陽氣通。則胸中之飲化矣。枳實形圓臭香。香以醒脾。圓主旋轉。故用以為佐。繼以大黃。直決地道。地道通。則飲邪有不順流而下出哉。</p>
<p>又按。小承氣湯是氣藥為臣。此湯是氣藥為君。其意以氣行而水亦行。意深矣。三物湯、小承氣湯與此湯藥品俱同。其分兩主治不同。學者宜細心研究。</p>

<h3>葶藶大棗瀉肺湯</h3>
<p>（見肺癰。）　支飲不得息。此主之。</p>
<p>犀按。肺主氣。為出入之路。師云。支飲不得息者。乃飲邪壅肺。填塞氣路矣。方用葶藶泄肺氣以開之。大棗補脾土以納之。則氣息暢矣。</p>

<h3>小半夏湯</h3>
<p>治嘔家本渴。渴者為欲解。今反不渴。心下有支飲故也。此湯主之。</p>
<p>半夏（一升。）　生薑（半斤。）</p>
<p>上二味。以水七升。煮取一升半。分溫再服。</p>
<p>歌曰　嘔家見渴飲當除。（飲從嘔去故渴。）不渴應知支飲居。（飲能制燥。今以不渴。知心下有支飲。）半夏一升姜八兩。源頭探得病根鋤。</p>
<p>男元犀按。神農本草經載半夏之功治甚大。仲師各方。無不遵法用之。凡嘔者。必加此味。元明後。誤認為治痰專藥。遂有用朴硝水浸者。有用皂角水及姜水浸者。有用白芥子和醋浸者。市中用烏梅、甘草、青鹽等製造者。更不堪入藥。近日通用水煮。乘熱以白礬拌曬切片者。皆失其本性。不能安胃止嘔。宜從古法。以湯泡七次。去涎用之。或畏其麻口。以薑汁、甘草水浸透心。洗淨曬乾。再以清水浸三日。每日換水。蒸熟曬乾用之。支飲之症嘔而不渴者。旁支之飲未盡也。用小半夏湯者。重在生薑散旁支之飲。半夏降逆安胃。合之為滌飲下行之用。神哉。</p>

<h3>己椒藶黃丸</h3>
<p>治腹滿口舌乾燥。此腸間有水氣。此方主之。</p>
<p>防己　椒目　葶藶　大黃（各一兩。）　</p>
<p>上四味末之。蜜丸如梧子大。先食飲。服一丸。日三服。稍增。口中有津液渴者。加芒硝半兩。</p>
<p>歌曰　腸中有水口帶干。（水既聚於下。則無復潤於上後。即水飲之入。皆趨於下。不能滋其燥。且以益其滿矣。）腹裡為腸按部觀。（腹裡為大小二腸部位。大腸主津液。今作滿。為水氣所傷。則津液不能上達於口舌。故乾燥。）椒己藶黃皆一兩。蜜丸飲服日三餐。</p>
<p>程氏曰。防己、椒目導飲於前。大黃、葶藶推飲於後。前後分消。則腹滿減而水飲行。脾氣轉而津液生矣。與上方互異處。當求其理。</p>

<h3>小半夏加茯苓湯</h3>
<p>治卒嘔吐。心下痞。膈間有水。眩悸者主之。</p>
<p>半夏（一升。）　生薑（半斤。）　茯苓（四兩。）</p>
<p>上三味。以水七升。煮取一升五合。分溫再服。</p>
<p>歌曰　嘔吐悸眩痞又呈。四苓升夏八姜烹。膈間有水金針度。澹滲而辛得病情。</p>
<p>男元犀按。水滯於心下則為痞。水凌於心則眩悸。水阻胸膈則陰陽升降之機不利為嘔吐。方用半夏降逆。生薑利氣。茯苓導水。合之為滌痰定嘔之良方。</p>

<h3>五苓散</h3>
<p>（歌見長沙方歌括。）　治瘦人臍下有悸。吐涎沫而顛眩。此水也。此方主之。</p>
<p>豬苓　澤瀉　白朮　茯苓　桂枝。</p>
<p>喻嘉言云。水飲下鬱於陰中。挾其陰邪。鼓動於臍則為悸。上入於胃則吐涎沫。及其鬱極乃發。直上頭目。為顛為眩。五苓散利水以發汗。為分利表裡陰陽之法。</p>
<p>男元犀按。臍下動氣。去朮加桂。仲師理中丸法也。茲何以臍下悸而用白朮乎。不知吐涎沫是水氣盛。必得苦燥之白朮方能制水。顛眩是土中濕氣化為陰霾上彌清竅。必得溫燥之白朮方能勝濕。證有兼見。法須變通。</p>

<h2>附方</h2>

<h3>外臺茯苓飲</h3>
<p>治心胸中有停痰宿水。自吐出水後。心胸間虛。氣滿不能食。消痰氣。令能食。</p>
<p>茯苓　人參　白朮（各三兩。）　枳實（二兩。）　橘皮（二兩半。）　生薑（四兩。）</p>
<p>上六味。以水六升。煮取一升八合。分溫三服。如人行八九里。通作一服進之。</p>
<p>歌曰　中虛不運聚成痰。枳二（兩）參苓朮各三。姜四橘皮二兩半。補虛消滿此中探。</p>
<p>男元犀按。人參乃水飲症之大忌。此方反用之。蓋因自吐出水後虛氣作滿。脾弱不運而設也。方中人參補脾氣。白朮健胃氣。生薑溫中散寒氣。茯苓降水氣。橘皮、枳實化痰運參、術。徐徐斡旋於中。以成其補虛消食散滿之妙用。此方施於病後調養則可。若痰飲未散者。切不可用。</p>

<h3>十棗湯</h3>
<p>（見上。）　咳家其脈弦。為有水。此主之。　支飲家咳煩胸中痛者。不卒死。至一百日或一歲。宜此湯主之。</p>
<p>男蔚按。凡人將咳之頃。喉間似哽非哽。似癢非癢。若有若無者。皆飲氣干之也。飲氣一干。則咳嗽作矣。除勞傷積損脈極虛極細者。別有治法。若咳而脈弦。皆為水飲。皆宜十棗湯攻之。若診得弦脈。畏不敢用。其飲動肺則咳。動心則煩。搏擊陽氣則胸痛。即至一百日一歲之久。亦以此方為背城之借。然亦危矣。此言治法當如是也。非謂必用其方。以致敗名取怨。</p>
<p>喻云。咳嗽必因於痰飲。而五飲之中。獨膈上支飲最為咳嗽根底。外邪入而合之固嗽。即無外邪。而支飲漬入肺中。自令人咳嗽不已。況支飲久蓄膈上。其下焦之氣逆沖而上者。尤易上下合邪也。夫以支飲之故。而令外邪可內下邪可上。不去支飲。其咳終無愈期矣。去支飲。用十棗湯不嫌其峻。豈但受病之初。即蓄病已久。亦不能捨此而別求良法。</p>

<h3>小青龍湯</h3>
<p>（見上。）　咳逆倚息不得臥。此方主之。</p>
<p>元犀按。十棗湯專主內飲而不及外邪。此方散外邪。滌內飲。為內外合邪之的方也。以下五方。皆本此方為加減。</p>

<h3>桂苓五味甘草湯</h3>
<p>治青龍湯下已。多唾口燥。寸脈沉。尺脈微。手足厥逆。氣從少腹上衝胸咽。手足痹。其面翕熱如醉狀。因復下流陰股。小便難。時覆冒者。與此湯治其氣衝。（按。脈沉微支厥痹面如醉氣衝時覆冒。似少陰陰陽不交之症。學者可於臨症時參辨之則可。）</p>
<p>桂枝　茯苓（各四兩。）　五味（半升。）　甘草（三兩。炙。）</p>
<p>上四味。以水八升。煮取三升。去滓。分溫三服。</p>
<p>歌曰　青龍卻礙腎元虧。（腎元虧而誤服之。則動衝任之火。致變為以下諸證。）上逆下流又冒時。（氣從少腹上衝胸咽。或面熱如醉。或熱氣流於兩股。或小便難而昏冒。忽上忽下。在陽無主。如電光之閃爍無定。）味用半升苓桂四。甘三扶土鎮沖宜。</p>
<p>男元犀按。仲師五味子必與乾薑同用。獨此方不用者。以誤服青龍之後沖氣大動。取其靜以制動。故暫停不用也。尤云。苓、桂能抑沖氣使之下行。然逆氣非斂不降。故以五味之酸斂其氣。土厚則陰火自伏。故以甘草之甘補其中也。</p>

<h3>桂苓五味甘草去桂加姜辛湯</h3>
<p>治（服前藥）沖氣即低。而反更咳胸滿者。此湯主之。</p>
<p>茯苓（四兩。）　甘草　乾薑　細辛（各三兩。）　五味子（半升。）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服半升。日三服。</p>
<p>歌曰　沖氣低時（得桂苓之力而低。）咳（寒飲漬肺則咳。）滿（寒飲貯胸則滿。）頻。前方去桂益姜辛。（兩次用桂而邪不伏。以桂能去陽分凝滯之寒。不能驅臟腑沉匿之寒。必得乾薑細辛大辛大熱。方能泄胸中之滿而止咳也。）姜辛三兩依原法。原法通微便出新。</p>

<h3>苓甘五味姜辛半夏湯</h3>
<p>治（服前藥）咳滿即止。而更復渴。沖氣復發者。以細辛、乾薑為熱藥也。服之當遂渴。而渴反止者。為支飲也。支飲者法當冒。冒者必嘔。嘔者復內半夏以去其水。</p>
<p>茯苓（四兩。）　甘草　細辛　乾薑（各三兩。）　半夏　五味（各半升。）</p>
<p>上六味。以水八升。煮取三升。去滓。溫服半升。日三服。</p>
<p>歌曰　咳滿平時（咳滿之病。得姜辛而除。）渴又加。旋而不渴飲餘邪。（渴者以辛姜之熱動之也。渴反止者。有餘飲以制燥也。飲去則渴。飲來則不渴而冒嘔。）冒而必嘔半升夏。增入前方效可誇。</p>
<p>男元犀按。前言氣衝。是真陽上奔。必用桂、苓招納之。此言氣衝。是熱藥鼓之。只用半夏以降逆。則愈。且冒而嘔。半夏為止嘔之神藥也。一本去甘草。恐甘而助嘔也。</p>

<h3>苓甘五味姜辛半夏杏仁湯</h3>
<p>治（服前藥）水去嘔止。其人形腫者。（肺氣不行也。）加杏仁主之。其症應內麻黃。以其人遂痹。故不內之。若逆而內之者。必厥。所以然者。以其人血虛。麻黃髮其陽故也。</p>
<p>茯苓（四兩。）　甘草　乾薑　細辛（各三兩。）　五味　半夏　杏仁（各半升。）</p>
<p>上七味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>歌曰　咳輕嘔止腫新增。面腫須知肺氣凝。前劑杏加半升煮。可知一味亦規繩。</p>
<p>男元犀按。形氣肺也。肺主皮毛。為治節之官。形腫者。肺氣不行。凝聚不通故也。加杏仁者。取其苦泄辛開。內通肺氣。外散水氣。麻黃亦肺家之藥。何以不用。慮其發越陽氣而重傷津液也。</p>

<h3>苓甘五味姜辛夏杏大黃湯</h3>
<p>治面熱如醉。此為胃熱上衝熏其面。以前方加大黃以利之。</p>
<p>茯苓（四兩。）　甘草　乾薑　細辛（各三兩。）　五味　半夏　杏仁（各半升。）　大黃（三兩。）</p>
<p>上八味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>歌曰　面熱如醉火邪殃。（胃熱上衝熏其面。）前劑仍增三兩黃。驅飲辛溫藥一派。別能攻熱制陽光。男元犀按。與沖氣上逆發熱如醉者不同。彼因下焦陰中之陽虛。此不過肺氣不利。滯於外而形腫。滯於內而胃熱。但以杏仁利其胸中之氣。大黃泄其胃中之熱。則病愈矣。（從咳逆倚息起至此。六方五變為結局。學者當留心細認。）</p>
<p>徐忠可云。以上數方。俱不去薑、辛。即面熱如醉亦不去。何也。蓋以二味最能泄滿止咳。凡飲邪未去。須以二味刻刻預防也。按孫真人最得此秘。觀麥門冬湯、五味子湯、補肺湯可見。余於此湯。凡桑白皮、阿膠、天冬、麥冬、茯苓、龍骨、牡蠣之類隨證加入。其效無比。</p>

<h3>小半夏加茯苓湯</h3>
<p>（見上。）　先渴後嘔。為水停心下。此屬飲家。此湯主之。</p>
<p>犀在直趨庭聞訓曰。此一節與上文似不相屬。而不知先生治咳。著眼在水飲二字。故於完篇之後。隨口逗出。此言外之提撕也。今試暢發其義。蓋飲水邪也。其本起於足太陽足少陰二經。以二經為水之專司也。然太陽之水為表水。膚腠不宣水氣。以致壅塞而為飲。則以小青龍發之。發之不能盡者。當從太陽之裡而疏淪之。十棗湯是也。少陰之水為里水。下焦有寒。不能制伏本水。以致逆行而為飲。則以真武湯鎮之。鎮之而不盡服者。當從少陰之表而化導之。苓桂朮甘湯是也。更進一步。從中土以堤防之。從高原而利導之。熟則生巧。不能以楮墨傳也。近時喜用滑套之方。以六安煎、金沸草湯居於青龍之上。濟生腎氣丸、七味地黃丸駕乎真武之前。大體不礙者。吾亦姑如其說。究竟不如先生之原方效如桴鼓也。</p>

<h2>消渴小便不利淋病方</h2>

<h3>腎氣丸</h3>
<p>（見婦人雜病。）　治男子消渴。小便反多。以飲一斗。小便亦一斗。此丸主之。</p>
<p>尤在涇云。水液屬陰。非氣不至。氣雖屬陽。中實含水。水與氣。非一亦非二也。方中若無桂、附。何以振作腎中頹落之陽。遊溢精氣。上輸脾肺邪。</p>

<h3>五苓散</h3>
<p>（見痰飲。）　治脈浮小便不利。微熱消渴者。宜利小便發汗。　又治渴欲飲水。水入則吐者。名曰水逆。</p>
<p>尤在涇云。熱渴飲水。水入不能已其熱。熱亦不能消其水。水與熱結。熱浮水外。故小便不利。微熱消渴。此利其與熱俱結之水。去其水外浮溢之熱。熱除水去。渴當自止。又熱已消而水不行。則逆而成嘔。乃消渴之變證。故水逆亦主之。</p>

<h3>文蛤散</h3>
<p>（歌見長沙方歌括。）治渴欲飲水不止者。此散主之。</p>
<p>文蛤</p>
<p>男元犀按。與傷寒論文蛤散症不同。傷寒論云。肉上粟起。反不渴者。水寒浸肺。湧於外。遏於上。其熱被卻不得出也。文蛤入肺降肺氣。除濕熱。利小便。取其以殼治殼之義也。本節云渴欲飲水不止者。上無水濕遏郁。中有燥熱上焚。脾干胃燥。不能生津滋渴。飲水不止者。燥甚也。水性輕和。不能生津潤燥。文蛤則味鹹寒。能育陰潤燥。灑除熱氣。下出小便。燥熱除。陰液長。而渴飲平矣。</p>

<h3>栝蔞瞿麥丸</h3>
<p>治小便不利者有水氣。其人若渴者宜之。</p>
<p>薯蕷　茯苓（各三兩。）　栝蔞根（二兩。）　附子（一枚。炮。）　瞿麥（一兩。）</p>
<p>上五味末之。煉蜜丸如梧子大。飲服二丸。日三服。不知。增至七八丸。以小便利腹中溫為知。</p>
<p>歌曰　小便不利渴斯成。水氣留中液不生。（下焦火衰。中焦土弱。水氣存於中。阻其上下之津液不行。）三兩蕷苓瞿一兩。一枚附子二蔞行。</p>
<p>男元犀按。內經云。膀胱者州都之官。津液存焉。氣化則能出矣。余於氣化能出之義。而借觀之燒酒法。益恍然悟矣。酒由氣化。端賴鍋下之火力。方中附子補下焦之火。即其義也。酒釀成之水穀。收於鍋內而蒸之。其器具亦須完固。方中茯苓、薯蕷補中焦之土。即其義也。鍋下雖要加薪。而其上亦要頻換涼水。取涼水之氣。助其清肅以下行。則源源不竭。方中栝蔞根清上焦之熱。即其義也。至於出酒之竅道。雖云末所當後。亦須去其積垢而通達。方中瞿麥一味專通水道。清其源而並治其流也。方後自注腹。中溫三字。大有深義。</p>

<h3>蒲灰散</h3>
<p>小便不利者。此散主之。滑石白魚散、茯苓戎鹽湯並主之。</p>
<p>蒲灰（半分。）　滑石（三分。）</p>
<p>上三味。杵為散。飲服方寸匕。日三服。</p>
<p>歌曰　小便不利用蒲灰。平淡無奇理備該。半分蒲灰三分滑。能除濕熱莫疑猜。</p>

<h3>滑石白魚散</h3>
<p>滑石　亂髮（燒。）　白魚（各二分。）</p>
<p>上三味。杵為散。飲服方寸匕。日三服。</p>
<p>歌曰　滑石余灰（亂髮用火燒。名血餘灰。）與白魚。專司血分莫躊躇。藥皆平等擂調飲。水自長流不用疏。</p>

<h3>茯苓戎鹽湯</h3>
<p>茯苓（半斤。）　白朮（二兩。）　戎鹽（彈丸大一枚。）</p>
<p>上三味。先將茯苓、白朮煎成。入戎鹽再煎。分溫三服。</p>
<p>歌曰　一枚彈大取戎鹽。茯用半斤火自潛。更有白朮二兩佐。源流不滯自濡沾。</p>
<p>尤在涇云。蒲香蒲也。寧原云。香蒲去濕熱。利小便。合滑石為清利小便之正法也。別錄云。白魚開胃下氣。去水氣。血餘療轉胞小便不通。合滑石為滋陰益氣。以利其小便者也。綱目。戎鹽即青鹽。鹹寒入腎。以潤下之性而就滲利之職。為驅除陰分水濕之法也。仲師不詳見證。而並出三方。以聽人之隨證審用。殆。所謂引而不發者歟。按蒲灰散主濕熱氣分。滑石白魚散主血分。茯苓戎鹽湯入腎除陰火。二散可療外瘡。多效。</p>

<h3>白虎加人參湯</h3>
<p>（即白虎人參湯。見暍病。）　治渴欲飲水。口乾燥者主之。</p>
<p>男元犀按。小便不利者水病也。天水一氣。金為水母。金氣不行則水道不通。曰渴欲飲水口乾燥者。火甚燥金。水源將竭也。治求其本。故用白虎加人參湯潤燥金。補水源。使天氣降而水氣行。則渴燥自止矣。</p>

<h3>豬苓湯</h3>
<p>（歌見長沙方歌括。）　治脈浮發熱。渴欲飲水。小便不利者宜之。</p>
<p>豬苓　茯苓　阿膠　滑石　澤瀉</p>
<p>男元犀按。此與五苓散症迥別。五苓散主脾不轉輸而水停。故發汗利水。為兩解表裡法。此則胃熱甚而津液干。故以清熱而滋燥。用育陰利水法。二者只差一粟。學者自當細察焉。</p>

<h2>水氣病方</h2>

<h3>越婢加朮湯</h3>
<p>（即越婢湯加白朮四兩。方見下。）　治里水一身面目黃腫。其脈沉。小便不利。故令病水。假令小便自利。此亡津液。故令渴。此湯主之。</p>
<p>歌曰　里水脈沉面目黃。水風相搏濕為殃。專需越婢平風水。四兩術司去濕良。</p>
<p>男元犀按。水被熱蓄。氣為濕滯。致外不得通陽而作汗。內不能運氣而利水。故令病水。云假令小便自利三句。疑非里水病也。越婢湯發肌表之邪以清內蓄之熱。加白朮運中土。除濕氣。利其小便。此分消表裡法也。或云。越婢散肌表之水。加白朮止渴生津也。按。豈有小便自利亡津液而作渴者仍用此湯。不顧慮其重傷津液乎。</p>

<h3>防己黃耆湯</h3>
<p>（見濕病。）　治風水脈浮身重。汗出惡風者。此湯主之。</p>
<p>男元犀按。惡風者風傷肌腠也。身重者濕傷經絡也。脈浮者病在表也。何以不用桂枝、麻黃以發表祛風。而用防己、黃耆以補虛行水乎。蓋以汗出為腠理之虛。身重為土虛濕勝。故用黃耆以走表塞空。棗、草、白朮以補土勝濕。生薑辛以去風。溫以行水。重用防己之走而不守者。領諸藥環轉於周身。使上行下出。外通內達。迅掃而無餘矣。</p>

<h3>越婢湯</h3>
<p>治風水惡風。一身悉腫。脈浮不渴。續自汗出。無大熱。此湯主之。</p>
<p>麻黃（六兩。）　石膏（半斤。）　生薑（三兩。）　甘草（二兩。）　大棗（十二枚。）</p>
<p>上五味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫三服。惡風。加附子一枚。風水。加朮四兩。</p>
<p>歌曰　一身悉腫屬風多。水為風翻湧巨波。二草三姜十二棗。石膏八兩六麻和。</p>
<p>男元犀按。惡風者。風也。一身悉腫者。水也。脈浮者。風發也。風為陽邪。風動則水火戰而浪湧矣。湧於上則不渴。湧於外則續自汗出。云無大熱者。熱被水蔽。不得外越。內已醞釀而成大熱矣。前章云身重。為濕多。此章云一身悉腫。為風多。風多氣多熱亦多。系屬猛風。故君以石膏重鎮之品。能平息風浪以退熱。引麻黃直越其至陰之邪。協生薑散肌表之水。一物而兩握其要也。又以棗、草安中養正。不慮其過散傷液。所以圖萬全也。</p>

<h3>防己茯苓湯</h3>
<p>治皮水四肢腫。水氣在皮膚中。四肢聶聶動者。此湯主之。</p>
<p>防己　黃耆　桂枝（各三兩。）　茯苓（六兩。）　甘草（二兩。）</p>
<p>上五味。以水六升。煮取二升。分溫三服。</p>
<p>歌曰　四肢聶聶動無休。皮水情形以此求。己桂耆三草二兩。茯苓六兩砥中流。</p>
<p>徐忠可云。藥亦同防己黃耆湯。但去朮加桂苓者。風水之濕在經絡。近內。皮水之濕在皮膚。近外。故但以苓協桂滲周身之濕。而不以術燥其中氣也。不用薑、棗者。濕不在上焦之營衛。無取乎宣之也。</p>

<h3>越婢加朮湯</h3>
<p>（見上。）　里水病。此湯主之。甘草麻黃湯亦主之。</p>
<p>男元犀按。風水皮水之外。有正水而兼色黃。名里水。里水雖無發汗之法。而邪盛正不衰者。亦必藉麻黃之力深入其中。透出於外。以收捷效。今色黃。是濕熱相雜於內。宜此湯。如寒氣凝結於內。宜甘草麻黃湯。</p>

<h3>甘草麻黃湯</h3>
<p>甘草（二兩。）　麻黃（四兩。）</p>
<p>上二味。水五升。先煮麻黃。去上沫。內甘草。煮取三升。溫服一升。重覆汗出。不汗再服。慎風寒。</p>
<p>歌曰　里水原來自內生。一身面目腫黃呈。甘須二兩麻黃四。氣到（二藥上宣肺氣。中助土氣。外行水氣。）因知水自行。</p>
<p>蔚按。麻黃髮汗最捷。徐靈胎謂其無氣無味。不專一經。而實無經不到。蓋以出入於空虛之地。凡有形之氣血。不得而御之也。</p>

<h3>麻黃附子湯</h3>
<p>（即麻黃附子甘草湯。歌見長沙方歌括。）</p>
<p>麻黃　附子　甘草</p>
<p>杏子湯（闕。徐、尤云。疑是麻杏甘石湯。）　水之為病。其脈沉小。屬少陰。浮者為風。無水虛脹者為氣水。發其汗即已。脈沉者。宜麻黃附子湯。浮者。宜杏子湯。</p>
<p>客問曰。金匱水氣篇。杏子湯方闕。諸家注說。疑為麻杏甘石湯。不知是否。犀答曰。非也。麻杏甘石湯。傷寒論治發汗後汗出而喘。主陽盛於內也。本節云。水之為病發其汗即已。未云熱之為病自汗出也。蓋麻杏甘石湯治內蘊化熱自汗出之症。此水之為病發其汗為宜。則麻杏甘石湯不可用矣。客又曰。何以知杏子湯方用麻黃而不用石膏乎。余答曰。師云。水病發其汗即已。故知其必用麻黃。而不用石膏矣。夫以石膏質重。寒涼之性能除裡熱。清肺胃。同麻黃、杏仁降逆鎮喘。外則旋轉於皮毛。用之退熱止汗則可。用之發表驅寒則不可耳。然則此篇師言脈沉小屬少陰。用附子溫經散寒。主石水之病。即可知脈浮屬太陽。用杏子啟太陰之氣。主正水之病。為變其脈症言之也。恐石膏之凝寒。大有關於脾腎。故不可用焉。高明如徐忠可及二張二程。俱疑為麻杏甘石湯。甚矣。讀書之難也。而余以為其即麻黃、杏仁、甘草三味。不知是否。以俟後之學者。客悅而去。</p>

<h3>蒲灰散</h3>
<p>（見消渴。）　治厥而為皮水者。此主之。</p>
<p>按。皮水久而致潰。為逆而不順之證。以此散外敷之。此厥字言證之逆。非四肢厥逆之謂也。諸家多誤解。</p>

<h3>黃耆芍藥桂枝苦酒湯</h3>
<p>治黃汗病身體腫。發熱汗出而渴。狀如風水。汗沾衣。色正黃如柏汁。脈自沉。從何得之。以汗出入水中浴。水從汗孔入得之。此湯主之。</p>
<p>黃耆（五兩。）　芍藥　桂枝（各三兩。）</p>
<p>上三味。以苦酒一升、水七升相合。煮取三升。溫服一升。當心煩。服至六七日乃解。若心煩不止者。以苦酒故也。</p>
<p>歌曰　黃汗脈沉出汗黃。水傷心火鬱成殃。（師云。汗出入水中浴。水氣從汗孔入而傷其心。故水火相侵而色黃。水氣摶結而脈沉也。）黃耆五兩推方主。桂芍均三苦酒勷。（止汗太急。故心煩也。至六七日乃解者。正復而邪自退也。）</p>
<p>男元犀按。桂枝行陽。芍藥益陰。黃耆氣味輕清。外皮最厚。故其達於皮膚最捷。今煮以苦酒。則直協苦酒之酸以止汗。但汗出於心。止之太急。反見心煩。至六七日。正復邪退。煩必自止。而不止者。以苦酒阻其餘邪未盡故也。</p>
<p>又按。凡看書宜活看。此證亦有從酒後汗出當風所致者。雖無外水。而所出之汗。是亦水也。凡脾胃受濕。濕久生熱。濕熱交蒸而成黃。皆可以汗出入水浴之意悟之也。</p>

<h3>桂枝加黃耆湯</h3>
<p>黃汗之病。兩脛自冷。假令發熱。此屬歷節。食已汗出。又身常暮盜汗出者。此榮氣也。若汗出已反發熱者。久久其身必甲錯。發熱不止者。必生惡瘡。若身重。汗出已輒輕者。久久必身瞤。瞤即胸中痛。又從腰以上汗出。下無汗。腰臗弛痛。如有物在皮中狀。劇者不能食。身疼重。煩躁。小便不利。此為黃汗。此湯主之。</p>
<p>桂枝　芍藥　生薑（各三兩。）　甘草　黃耆（各二兩。）　大棗（十二枚。）</p>
<p>上六味。以水八升。煮取三升。溫服一升。須臾。啜熱稀粥一升余以助藥力。溫覆。取微汗。若不汗。更服。</p>
<p>歌曰　黃汗都由鬱熱來。歷詳變態費心裁。桂枝原劑耆加二。啜粥重溫令郁（久郁變證。從汗而達。）開。</p>
<p>男元犀按。黃本於鬱熱。得汗不能透徹。則鬱熱不能外達。桂枝湯雖調和營衛。啜粥可令作汗。然恐其力量不及。故又加黃耆以助之。黃耆善走皮膚。故前方得苦酒之酸而能收。此方得薑、桂之辛而能發也。　前方止汗。是治黃汗之正病法。此方令微汗。是治黃汗之變證法。</p>

<h3>桂甘薑棗麻辛附子湯</h3>
<p>治氣分心下堅。大如盤。邊如旋杯。此湯主之。</p>
<p>桂枝　生薑（各三兩。）　細辛　甘草　麻黃（各二兩。）　附子（一枚。炮。）　大棗（十二枚。）</p>
<p>上七味。以水七升。先煮麻黃。去上沫。內諸藥。煮取二升。分溫三服。當汗出。如蟲行皮中即愈。</p>
<p>歌曰　心下如盤邊若杯。（如旋杯。）辛甘麻二附全枚。薑桂三兩棗十二。氣分須從氣轉回。（大氣一轉。結氣乃散。）</p>
<p>（參）　此證是心腎交病。上不能降。下不能升。日積月累。如鐵石難破。方中用麻黃、桂枝、生薑以攻其上。附子、細辛以攻其下。甘草、大棗補中焦以運其氣。庶上下之氣交通而病可愈。所謂大氣一轉。其結乃散也。</p>

<h3>枳朮湯</h3>
<p>治心下堅。大如盤。邊如旋杯。水飲所作。此湯主之。</p>
<p>枳實（七枚。）　白朮（二兩。）</p>
<p>上二味。以水五升。煮取三升。分溫三服。腹中軟。即當散也。</p>
<p>歌曰　心下如盤大又堅。邪之結（聚）散驗其邊。術宜二兩枳枚七。苦泄轉療水飲愆。</p>
<p>蔚按。言水飲。所以別於氣分也。氣無形。以辛甘散之。水有形。以苦泄之。方中取白朮之溫以健運。枳實之寒以消導。意深哉。　此方與上方互服。亦是巧法。</p>

<h2>附方</h2>

<h3>外臺防己黃耆湯</h3>
<p>（見濕病。）　治風水脈浮為在表。其人或頭汗出。表無他病。病者但下重。從腰以上為和。以下當腫及陰。難以屈伸。</p>

<h1>卷五</h1>

<h2>黃癉病方</h2>

<h3>茵陳蒿湯</h3>
<p>（歌見長沙方歌括。）　治谷癉寒熱不食。食即頭眩。心胸不安。久久發黃。此湯主之。</p>
<p>茵陳蒿　梔子　大黃</p>
<p>男元犀按。太陰濕土也。陽明燥土也。經云。谷入於胃。遊溢精氣。其上輸下轉。藉脾氣之能也。谷癉者。食谷入胃。脾氣不輸。濕與熱並。久則熏蒸成黃。黃成則榮衛流行之機為之阻而不利。故有寒熱不食之病。經云。食入於陰。長氣於陽。食即頭眩心胸不安者。谷入於胃挾濁氣以上干也。主以茵陳蒿湯者。茵陳稟冬令寒水之氣。寒能勝熱。佐以梔子味苦瀉火。色黃入胃。挾大黃以滌胃腸之鬱熱。使之屈曲下行。則谷癉之邪。悉從二便而解矣。</p>

<h3>硝石礬石散</h3>
<p>治黃家日晡所發熱。而反惡寒。此為女勞得之。膀胱急。少腹滿。身盡黃。額上黑。足下熱。因作黑癉。其腹脹如水狀。大便必黑。時溏。此女勞之病。非水病也。腹滿者難治。此散主之。</p>
<p>硝石（熬黃。）　礬石（燒。等分。）</p>
<p>上二味為散。大麥粥汁和服方寸匕。日三服。病隨大小便去。小便正黃。大便正黑。是其候也。</p>
<p>歌曰　身黃額黑（漸及一身之黃俱黑。）足如烘。腹脹（如水狀。）便溏（便溏而色黑。）晡熱叢。（日晡熱。以申屬膀胱酉屬腎也。）等分礬硝和麥汁。女勞癉病奪天工。</p>
<p>徐忠可云。硝能散虛郁之熱。為體輕脫而寒不傷脾。礬能卻水。而所到之處邪不復侵。如紙既礬即不受水滲也。以大麥粥調服。益土以勝水。合而用之。則散鬱熱。解腎毒。其於氣血陰陽汗下補瀉等法毫不相涉。所以為佳。</p>

<h3>梔子大黃湯</h3>
<p>治酒癉。心中懊憹或熱痛者。此湯主之。</p>
<p>梔子（十四枚。）　大黃（二兩。）　枳實（五枚。）　豉（一升。）</p>
<p>上四味。以水六升。煮取二升。分溫三服。</p>
<p>歌曰　酒癉懊憹鬱熱蒸。大黃二兩豉一升。梔子十四枳枚五。上下分消要順承。</p>
<p>元犀按。梔子、豆豉。徹熱於上。枳實、大黃。除實去滿於下。此所謂上下分消。順承熱氣也。</p>
<p>徐忠可云。因酒徒陰分大傷。故不用燥藥以耗其津。亦不用滲藥以竭其液。謂熱散則濕不能留也。凡治濕熱而兼燥者。於此可悟。</p>

<h3>桂枝加黃耆湯</h3>
<p>（見水氣病。）　治黃癉病。但當利其小便。假令脈浮者。當以汗解之。宜此湯主之。</p>
<p>男元犀按。黃癉症多由濕熱內鬱而成。為病在內也。郁在內者宜內解。故曰。但當利其小便。小便通則所郁皆去矣。假令脈浮者。病在肌表也。當外解。故曰。當以汗解之。桂枝湯解肌發表。加黃耆助之。以黃耆有發汗退黃之專長也。</p>

<h3>豬膏發煎</h3>
<p>治諸黃癉病。</p>
<p>豬膏（半斤。）　亂髮（如雞子大三枚。）</p>
<p>上二味。和膏中煎之。發消藥成。分再服。病從小便出。（千金云。太醫校尉史脫家婢黃病服此。胃中燥糞下便瘥。神驗。）</p>
<p>歌曰　諸黃腹鼓大便堅。古有豬膏八兩傳。亂髮三枚雞子大。發消藥熟始停煎。</p>
<p>男元犀按。豬膏主潤燥。發灰主通小便。故神農本草經有自還神化句最妙。謂發為血餘。乃水精奉心化血所生。今取以煉服。仍能入至陰之臟。助水精以上奉心臟之神以化其血也。沈自南謂寒濕入於血分。久而生熱鬱蒸氣血不利。證顯津枯血燥。皮膚黃而暗晦。即為陰黃。當以此治之。且熱鬱既久。陰血無有不傷。治者皆宜兼滋其陰。故曰。諸黃主之。又按時醫惑於以人補人之說。每遇虛證。輒以紫河車配藥。余幼時隨侍。聞家君與客常談及紫河車一物曰。某也服此。今反肌肉羸瘦。某也服此。病反增劇。吾行道數十年。見有用紫河車者。未嘗一效。余默識之。今省中行道輩。遇病人家有餘貲或病證虛弱火熾等證。即曰。非紫河車不能成功也。嗚呼。是醫也。而能活人乎。是藥也。而能活人乎。</p>

<h3>茵陳五苓散</h3>
<p>治黃癉病。</p>
<p>茵陳（十分。）　五苓散（五分。）</p>
<p>上二味和。先食飲服方寸匕。日三服。</p>
<p>歌曰　癉病傳來兩解方。（表裡兩解。）茵陳末入五苓嘗。五苓五分專行水。十分茵陳卻退黃。</p>
<p>男元犀按。五苓散功專發汗利水。助脾轉輸。茵陳蒿功專治濕退黃。合五苓散為解鬱利濕之用也。蓋黃癉病由濕熱瘀郁。熏蒸成黃。非茵陳蒿推陳致新。不足以除熱退黃。非五苓散轉輸利濕。不足以發汗行水。二者之用。取其表裡兩解。為治黃之良劑也。</p>

<h3>大黃硝石湯</h3>
<p>治黃癉腹滿。小便不利而赤。自汗出。此為表和裡實。當下之。宜此湯。</p>
<p>大黃　黃柏　硝石（各四兩。）　梔子（十五枚。）</p>
<p>上四味。以水六升。煮取二升。去滓。內硝更煮。取一升。頓服。</p>
<p>歌曰　自汗（表無邪也。）屎難（大便難。）腹滿時。表和裡實貴隨宜。硝黃四兩柏同數。十五枚梔任指麾。</p>
<p>男元犀按。黃癉病濕熱交郁。不得外通。今自汗出者。外已通也。腹滿小便不利而赤者。濕熱仍實於裡也。實者當下。故用大黃除滿去實。硝石領熱氣下趨二便。又以黃柏除濕退黃。梔子散熱解鬱。濕熱散。二便調。則裡氣亦和矣。</p>

<h3>小半夏湯</h3>
<p>（見痰飲。）　治黃癉病小便色不變。欲自利。腹滿而喘。不可除熱。熱除必噦。噦者此湯主之。</p>
<p>元犀按。傷寒論云。瘀熱在裡。身必發黃。此云小便色不變欲自利者。可知內無瘀熱矣。蓋喘滿屬中氣虛弱。故曰不可除熱。師恐後人誤投寒劑傷中。故立小半夏湯以救誤治也。用半夏和胃以鎮逆。生薑溫理中臟。中溫則升降自如。而喘滿嘔逆自愈。</p>
<p>又按。若中虛發黃者。余每用理中湯、真武湯等加茵陳蒿。多效。</p>

<h3>小柴胡湯</h3>
<p>（見嘔吐。）　治諸黃腹痛而嘔者。宜此湯主之。</p>
<p>男元犀按。嘔者。胃氣不和也。腹痛者。木邪犯胃也。小柴胡湯達木鬱。和胃氣。使中樞運則嘔痛止而黃退矣。非小柴胡湯可概治諸黃也。</p>

<h3>小建中湯</h3>
<p>（見血痹虛勞。）　治男子黃。小便自利。當與虛勞小建中湯。</p>
<p>男蔚按。此言土虛而現出黃色也。虛極者。宜補土之母。四逆輩可與間服。然單言男子。謂婦人血瘀發黃。尚有桃仁承氣湯法也。苟屬虛黃。亦宜以此湯加當歸、益母葉之類也。</p>

<h2>附方</h2>

<h3>瓜蒂散</h3>
<p>（見宿食。校者按。宋本作瓜蒂湯。見暍病。）　治諸黃。</p>
<p>男元犀按。瓜蒂散。傷寒論三見。俱主胸中之病。金匱取之附治諸黃。何也。蓋黃乃濕熱相併。鬱蒸不得外越。用瓜蒂散吐而越之。使上膈開而下竅達。濕熱之邪自有出路矣。故曰治諸黃。</p>

<h3>千金麻黃醇酒湯</h3>
<p>治黃癉。</p>
<p>麻黃（三兩。）</p>
<p>上一味。以美酒五升。煮取二升半。頓服盡。冬月用酒。春日用水煮之。</p>
<p>歌曰　黃癉病由鬱熱成。驅邪解表仗雄兵。五升酒煮麻三兩。春換水兮去酒烹。</p>
<p>男元犀按。麻黃輕清走表。乃氣分之藥。主無汗表實症。黃癉病不離濕熱之邪。用麻黃醇酒湯者。以黃在肌表營衛之間。非麻黃不能走肌表。非美酒不能通營衛。故用酒煮以助麻黃髮汗。汗出則營衛通。而內蘊之邪。悉從外解耳。</p>

<h2>驚悸吐衄下血胸滿瘀血方</h2>

<h3>桂枝去芍藥加蜀漆牡蠣龍骨救逆湯</h3>
<p>（歌見長沙方歌括。）　治火邪者。此湯主之。</p>
<p>桂枝　甘草　生薑　大棗　蜀漆　牡蠣　龍骨</p>
<p>孫男心典稟按。舉火邪冠於方首。示人治血先治火也。又恐治火專主寒滯之品。故拈出此方不寒不滯以立榜樣。意深哉。傷寒論註解甚詳。不必再釋。</p>

<h3>半夏麻黃丸</h3>
<p>治心下悸者。此丸主之。</p>
<p>半夏　麻黃（各等分。）</p>
<p>上二味末之。煉蜜為丸。小豆大。飲服三丸。日三服。</p>
<p>歌曰　心（下）悸都緣飲氣維。夏麻等分蜜丸醫。一升一降存其意。神化原來不可知。</p>
<p>尤在涇云。半夏蠲飲氣。麻黃髮陽氣。妙在作丸與服。緩以圖之。則麻黃之辛甘。不能發越津氣。而但能升引陽氣。即半夏之苦辛。亦不特蠲除飲氣。而並和養中氣。非仲景神明善變者。其孰能與於此哉。</p>

<h3>柏葉湯</h3>
<p>治吐血不止者。此湯主之。</p>
<p>柏葉　乾薑（各三兩。）　艾（三把。）</p>
<p>上三味。以水五升。取馬通汁一升合煮。取一升。分溫再服。千金。加阿膠三兩。亦佳。</p>
<p>歌曰　吐血頻頻不肯休。（久吐不止。凡一切寒溫補瀉之藥服之殆盡矣。）馬通升許溯源流。（熱氣伏藏於陰分。逼血妄行不止。馬屬火。取其通之同氣以導之。）乾薑三兩艾三把。（二味溫散。宣發其熱使行陽分。則陰分之血無所逼而守其經矣。）柏葉行陰三兩求。（柏葉抑之使降。合馬通導之使下。則餘燼之瘀。一概蠲矣。）</p>
<p>前方歌括之小注頗詳。毋庸再釋。但愚每用前方。病家皆驚疑不能聽。今擬加減法。用生側柏五錢。乾薑炮透一錢五分。生艾葉三錢。水一杯半。馬通一杯。煎八分服。如無馬通。以童便代之。　馬糞用水化開。以布濾汁澄清。為馬通水。</p>

<h3>黃土湯</h3>
<p>治下血。先便後血。此遠血也。亦主吐衄。</p>
<p>甘草　乾地黃　白朮　附子（炮）　阿膠　黃芩（各三兩。）　灶中黃土（半斤。）</p>
<p>上七味。水八升。煮取三升。分溫三服。</p>
<p>歌曰　遠血先便血續來。半斤黃土莫徘徊。術膠附地芩甘草。三兩同行血證該。（不僅治下血。而吐血衄血與婦人血崩等症。俱該在內。）</p>
<p>王晉三云。金匱以下血先血後便為近血。明指脾絡受傷。日滲腸間。瘀積於下。故大便未行而血先下。主之以赤小豆利水散瘀。當歸和脾止血。若先便後血為遠血。明指肝經別絡之血。因脾虛陽陷生濕。血亦就濕而下行。主之以灶心黃土。溫燥而去寒濕。佐以生地、阿膠、黃芩。入肝以治血熱。白朮、甘草、附子。扶陽補脾以治本虛。近血內瘀。專力清利。遠血因虛。故兼溫補。治出天淵。須明辨。　按。此方以灶心黃土易赤石脂一斤。附子易炮乾薑二兩。炮紫更妙。或加側柏葉四兩。絡熱。加鮮竹茹半斤。</p>

<h3>赤小豆當歸散</h3>
<p>（見狐惑。）　治下血。先血後便。此近血也。此主之。</p>
<p>男元犀按。肝為血海。氣通胞中。主宣布之權。虛則失其權矣。曰先血後便者。肝失其統。不能下宣。致胞中之血滲入肛門也。近血者。胃接二腸。胞與腸前後。此之最近也。若胃腸受濕熱。致傷其氣。必通於胞中。而迫血妄行。赤小豆入心清熱。解臟毒。當歸入肝補虛散郁。能宣其血入於經隧也。</p>

<h3>瀉心湯</h3>
<p>治心氣不足。吐血衄血者。此湯主之。</p>
<p>大黃（二兩。）　黃連　黃芩（各一兩。）</p>
<p>上三味。以水三升。煮取一升。頓服之。</p>
<p>歌曰　火熱上攻心氣傷。（即心氣不足。）清濁二道血洋洋。（火逼血從濁道出則為吐。血從清道出則為衄血。）大黃二兩芩連一。釜下抽薪請細詳。</p>
<p>蔚按。火邪盛而迫血。則錯經妄行。血為心液。血傷無以養心。致心陰之氣不足也。故曰心氣不足。非心陽之氣不足也。用芩、連苦寒之品。入心清火以培心氣。大黃去瘀生新。此一補一瀉之法也。</p>

<h2>嘔吐噦下利方</h2>

<h3>吳茱萸湯</h3>
<p>（歌見長沙方歌括。）　治嘔而胸滿者。　又主幹嘔。吐涎沫。頭痛者。</p>
<p>吳茱萸　人參　生薑　大棗</p>
<p>受業林禮豐按。胸為陽位。曠若太空。嘔而胸滿者。陰邪佔居陽位也。故重用生薑、吳萸之大辛大溫。以通胸中之陽。以破陰霾之氣。佐以人參、大棗之一陰一陽。以建脾胃之氣。以鎮逆上之陰。使陽光普照。而陰翳自消。有何干嘔胸滿吐涎沫之患哉。</p>

<h3>半夏瀉心湯</h3>
<p>（歌見長沙方歌括。）　治嘔而腸鳴。心下痞者。此湯主之。</p>
<p>半夏　黃芩　乾薑　人參　甘草　黃連</p>
<p>長男蔚按。嘔而腸鳴並無下利。心下痞不因誤下。何以上下之阻隔若是。蓋因飲停心下。上逆為嘔。下干為腸鳴。飲不除則痞不消。欲蠲飲必資中氣。方中參、棗、草以培中氣。藉半夏之降逆。佐芩、連以消痞。復得乾薑之溫散。使痞者通。逆者降矣。妙在去滓再煎。取其輕清上浮。以成化痞降逆之用耳。</p>

<h3>黃芩加半夏生薑湯</h3>
<p>（歌見長沙方歌括。）　治乾嘔而利者。此湯主之。</p>
<p>黃芩　甘草　芍藥　大棗　生薑　半夏</p>
<p>男元犀按。太陽主開。少陽主樞。乾嘔者。少陽之邪欲從太陽之開而外出也。下利者。太陽之邪不能從樞外出而反從樞內陷也。用黃芩加半夏生薑湯者。轉少陽之樞。達太陽之氣。交上下。清裡熱。而薑、夏又能止嘔降逆也。此即小柴胡湯去柴胡、人參加芍藥。去之者。恐其助飲而增嘔。加之者。取其和胃而降逆。伊聖之方。鬼神莫測也。</p>

<h3>小半夏湯</h3>
<p>（見痰飲。）　治諸嘔吐。谷不得下者。此湯主之。</p>
<p>犀按。胃主納穀。谷不得下者。胃氣虛寒也。嘔吐者。飲隨寒氣上逆也。胃虛飲逆。非溫不能散其寒。非辛不能降其逆。用半夏滌飲降逆。生薑溫中散寒。使胃氣溫和。而嘔吐自平。</p>

<h3>豬苓散</h3>
<p>治嘔吐而病在膈上。後思水者解。急與之。思水者。此散主之。</p>
<p>豬苓　茯苓　白朮（各等分。）</p>
<p>上三味。杵為散。飲服方寸匕。日三服。</p>
<p>歌曰　嘔余思水與之佳。（少與之餘。以救其液。）過與須防飲氣乖。（恐舊飲方去新飲復來。）豬術茯苓等分搗。（崇土以逐水。不使支飲阻其正津。則不渴。）飲調寸匕自和諧。</p>

<h3>四逆湯</h3>
<p>（歌見長沙方歌括。）　治嘔而脈弱。小便複利。身有微熱。見厥者難治。此湯主之。</p>
<p>附子　乾薑　甘草</p>
<p>男元犀按。嘔與熱為陰邪所迫。小便利與見厥。證屬無陽。脈弱者。真臟虛寒也。用四逆湯徹上下之陰邪。招欲散之殘陽。引氣血接回其厥。外溫經。內溫臟。面面俱到。</p>

<h3>小柴胡湯</h3>
<p>（歌見長沙方歌括。）　治嘔而發熱者。此湯主之。</p>
<p>柴胡　半夏　黃芩　人參　甘草　生薑　大棗</p>
<p>男蔚按。嘔而發熱者。少陽表症也。表未解則內不和。故作嘔也。陽明主肌肉。木邪忤土。故作肌熱而嘔。用小柴胡湯轉樞以出其邪。邪解則熱退而嘔止矣。</p>

<h3>大半夏湯</h3>
<p>治胃反嘔吐者。此湯主之。</p>
<p>半夏（二升。）　人參（三兩。）　白蜜（一升。）</p>
<p>上三味。水一斗二升。和蜜揚之二百四十遍。煮藥。取二升半。溫服一升。余分再服。</p>
<p>歌曰　從來胃反責（之）沖（脈上）乘。半夏二升蜜一升。三兩人參勞水煮。（水揚二百四十遍名勞水。又名甘瀾水。）納沖養液有奇能。</p>
<p>元犀按。此方用水之多。取其多煮白蜜。去其寒而用其潤。俾黏膩之性。流連於胃。不速下行。而半夏、人參之力。可以徐徐斡旋於中。非參透造化之理者不能悟及。余遇醫輩偶談及於此。不能再三問難。便知其庸陋欺人。則不復與談矣。　膈咽之間。交通之氣不得降者。皆衝脈上行。逆氣所作也。師以半夏降衝脈之逆。即以白蜜潤陽明之燥。加人參以生既亡之津液。用甘瀾水以降逆上之水液。古聖之經方。惟師能用之。</p>

<h3>大黃甘草湯</h3>
<p>治食已即吐者。此湯主之。</p>
<p>大黃（四兩。）　甘草（二兩。）</p>
<p>上二味。以水三升。煮取一升。分溫再服。</p>
<p>歌曰　食方未久吐相隨。（食已即吐。）兩熱衝來自不支。（胃素有熱。食復入之。兩熱相沖。不停片刻而吐出。）四兩大黃二兩草。上從下取法神奇。</p>
<p>蔚按。師云。欲吐者不可下之。又云。食已即吐者。大黃甘草湯下之。二說相反。何也。曰。病在上而欲吐。宜因而越之。若逆之使下。則憒亂矣。若既吐矣。吐而不已。是有升無降。當逆折之。</p>
<p>尤在涇云。雲霧出於地。而雨露降於天。地不承則天不降矣。可見天地陰陽同此氣機。和則俱和。乖則並乖。人與天地相參。故肺氣象天。病則多及二陰。脾胃大小腸象地。病則多及上竅。丹溪治小便不通。用吐法而開提肺氣。使上竅通而下竅亦通。與大黃甘草湯之治嘔吐。法雖異而理可通也。</p>

<h3>茯苓澤瀉湯</h3>
<p>治胃反。吐而渴欲飲水者。此湯主之。</p>
<p>茯苓（半斤。）　澤瀉（四兩。）　甘草　桂枝（各二兩。）　白朮（三兩。）　生薑（四兩。）</p>
<p>上六味。以水一斗。煮取三升。內澤瀉。再煮。取二升半。溫服八合。日三服。　外臺。治消渴脈絕胃反者。有小麥一升。</p>
<p>歌曰　吐方未已渴頻加。（與吐後渴為欲愈者不同。亦與豬苓散症未吐而先渴者不同。）苓八（兩）生薑四兩誇。二兩桂甘三兩術。澤須四兩後煎嘉。（後煮澤瀉。取其性補陰而利水。不宜煮之太過也。）</p>
<p>徐忠可云。此方於五苓散中去豬苓者。以胃反證水從吐出。中無水氣而渴也。加生薑、甘草者。合苓、術等藥以解表裡之虛邪。更能和中而止嘔也。</p>

<h3>文蛤湯</h3>
<p>治吐後渴欲得水而貪飲者。此湯主之。兼主微風脈緊頭痛。</p>
<p>文蛤　石膏（各五兩。）　麻黃　甘草　生薑（各三兩。）　杏仁（五十粒。）　大棗（十二枚。）</p>
<p>上七味。以水六升。煮取二升。溫服一升。汗出即愈。</p>
<p>歌曰　吐而貪飲證宜詳。文蛤石膏五兩量。十二棗枚杏五十。麻甘三兩等生薑。</p>
<p>元犀按。水雖隨吐而去。而熱不與水俱去。故貪飲不休。與思水者不同。方中麻黃與石膏並用。能深入伏熱之中。頃刻透出於外。從汗而解。熱解則渴亦解。故不用止渴之品。並主微風脈緊頭痛者。以風為陽邪。得此涼散之劑而恰對也。</p>

<h3>半夏乾薑散</h3>
<p>治乾嘔吐逆。吐涎沫者。此散主之。</p>
<p>半夏　乾薑（各等分。）</p>
<p>上二味。杵為散。取方寸匕。漿水一升半。煮取七合。頓服之。</p>
<p>歌曰　吐而乾嘔沫涎多。（惟不胸滿不頭痛。與吳茱萸湯證不同。以虛有微甚。邪有高下之別也。）胃腑（不責於厥陰。專責於陽明。）虛寒氣不和。姜夏等（分）磨漿水煮。數方（小半夏湯。生薑半夏湯。）相類頗分科。（漿水甘酸。能調中引氣止嘔噦。）</p>

<h3>生薑半夏湯</h3>
<p>治病人胸中似喘不喘。似嘔不嘔。似噦不噦。徹心中憒憒無奈者。此湯主之。</p>
<p>半夏（半升。）　生薑（汁。一升。）</p>
<p>上二味。以水三升。煮半夏。取二升。內生薑汁。煮取一升半。小冷。分四服。日三夜一。嘔止。停後服。</p>
<p>歌曰　嘔噦都非喘又非。（似嘔之狀不似嘔之有物。似噦之有聲不似噦之連聲。似喘之氣逆不似喘之氣急。）徹心憒憒莫從違。（懊憹之甚。無可奈何。皆飲邪與寒邪摶結於胸。）一升薑汁半升夏。分煮同煎妙入微。</p>
<p>（參）　與吳茱萸之降濁。乾薑之溫中不同。蓋彼乃虛寒上逆。此乃客邪搏飲也。方即小半夏湯。不用姜而用汁者。以降逆之力少。散結之力多也。</p>

<h3>橘皮湯</h3>
<p>治乾嘔噦。若手足厥者。此湯主之。</p>
<p>橘皮（四兩。）　生薑（半斤。）</p>
<p>上二味。以水七升。煮取三升。溫服一升。下咽即愈。</p>
<p>歌曰　噦而乾嘔厥相隨。氣逆於胸阻四肢。（乾嘔非胃反。厥非無陽。乃氣逆於胸不行於四末故也。）初病氣虛一服驗。生薑八兩四陳皮。</p>
<p>元犀按。金匱論噦。與方書不同。專指呃逆而言也。</p>

<h3>橘皮竹茹湯</h3>
<p>治噦逆者。此湯主之。</p>
<p>橘皮（二斤。）　竹茹（二升。）　大棗（三十枚。）　生薑（半斤。）　甘草（五兩。）　人參（一兩。）</p>
<p>上六味。以水一斗。煮取三升。溫服一升。日三服。</p>
<p>歌曰　噦逆因虛熱氣乘。一參五草八姜勝。棗枚三十二斤橘。生竹青皮（即竹茹也。）刮二升。</p>
<p>犀按。淺注已詳。方義不再釋。金匱以呃為噦。凡呃逆證。皆是寒熱錯亂。二氣相搏使然。故方中用生薑、竹茹。一寒一熱以祛之。人參、橘皮。一開一闔以分之。甘草、大棗。奠安中土。使中土有權。而噦逆自平矣。此伊聖經方。扁鵲丁香柿蒂散。即從此方套出也。</p>

<h3>四逆湯</h3>
<p>（見上。）　治下利後腹脹滿。身體疼痛者。先溫其里。乃攻其表。溫里宜四逆湯。攻表宜桂枝湯。</p>

<h3>桂枝湯</h3>
<p>（見婦人妊娠病。）</p>

<h3>大承氣湯</h3>
<p>（見痙病。）治下利三部脈皆平。按之心下堅者。宜之。　治下利脈遲而滑者。實也。利未欲止。急下之。宜此湯。　治下利脈反滑者。當有所去。下乃愈。宜此湯。　治下利已瘥。至其年月日時復發者。以病不盡故也。宜此湯。</p>

<h3>小承氣湯</h3>
<p>（歌解見長沙方歌括。）　治下利譫語者。有燥屎也。宜此湯。</p>
<p>大黃　枳實　厚朴</p>

<h3>桃花湯</h3>
<p>（歌解見長沙方歌括。）　治下利便膿血者。宜此湯</p>
<p>赤石脂　乾薑　粳米</p>

<h3>白頭翁湯</h3>
<p>（歌解見長沙方歌括。）　治熱利下重者宜之。</p>
<p>白頭翁　黃連　黃柏　秦皮</p>

<h3>梔子豉湯</h3>
<p>（歌解見長沙方歌括。）　治下利後更煩。按之心下濡者。為虛煩也。此主之。</p>
<p>梔子　香豉</p>

<h3>通脈四逆湯</h3>
<p>（歌解見長沙方歌括。）　治下利清穀。裡寒外熱。汗出而厥。此主之。</p>
<p>附子　乾薑　甘草</p>

<h3>紫參湯</h3>
<p>治下利肺痛者。此湯主之。</p>
<p>紫參（半斤。）　甘草（三兩。）</p>
<p>上二味。以水五升。先煮紫參。取二升。內甘草。煮取一升半。分溫三服。</p>
<p>歌曰　利而肺痛是何傷。濁氣上干責胃腸。（肺與大腸相表裡。）八兩紫參三兩草。通因通用細推詳。（腸中積聚。是肺氣不行於大腸。）</p>
<p>男蔚按。肺為華蓋。諸臟之氣皆上熏之。惟胃腸之氣下降而不上干於肺。故肺為清肅之臟而不受濁氣者也。夫肺與腸相表裡。腸胃相連。下利肺痛者。腸胃之濁氣上干於肺也。故主以紫參湯。本經云。紫參主治心腹寒熱積聚邪氣。甘草解百毒奠中土。使中土有權而肺金受益。腸胃通暢而肺氣自安。肺氣安則清肅之令行矣。何有肺痛下利之病哉。</p>

<h3>訶黎勒散</h3>
<p>治氣利者。此散主之。</p>
<p>訶黎勒（十枚。）</p>
<p>上一味為散。粥飲和。頓服。</p>
<p>歌曰　訶黎勒散澀腸便。氣利還須固後天。十個訶黎煨研末。調和米飲不須煎。</p>
<p>男元犀按。氣利者。肺氣下脫。胃腸俱虛。氣陷屎下。急用訶黎勒澀腸胃以固脫。又用粥飲扶中以轉氣。氣轉而瀉自止耳。</p>

<h2>附方</h2>

<h3>千金翼小承氣湯</h3>
<p>（見上。）　治大便不通。噦數譫語。</p>

<h3>外臺黃芩湯</h3>
<p>治乾嘔下利者。</p>
<p>黃芩　人參　乾薑（各三兩。）　桂枝（一兩。）　大棗（十二枚。）　半夏（半升。）</p>
<p>上六味。以水七升。煮取三升。溫分三服。</p>
<p>歌曰　乾嘔利兮責二陽。（太陽陽明遞相傳也。）參芩三兩等乾薑。桂枝一兩半升夏。棗十二枚轉運良。</p>
<p>男元犀按。此即小柴胡湯變法。方中以桂枝易柴胡。以乾薑易生薑。去甘草是也。太陽病不解。併入陽明。陰陽舛錯。而為嘔吐下利也。方用黃芩、乾薑。寒溫並進。使之入胃以分陰陽。又以參、棗安胃。桂枝祛邪。半夏降逆。且半夏生當夏半。正陰陽交界之門。取之以和陰陽。陰陽和則中樞轉。上下交。而嘔利止矣。</p>

<h2>瘡癰腸癰浸淫病方</h2>

<h3>薏苡附子敗醬散</h3>
<p>治腸癰之為病。其身甲錯。腹皮急。按之濡如腫狀。腹無積聚。身無熱。脈數。此為腸內有癰膿。此散主之。</p>
<p>薏苡仁（十分。）　附子（二分。）　敗醬（五分。）</p>
<p>上三味。杵為散。取方寸匕。以水二升。煎減半。頓服。小便當下。</p>
<p>歌曰　氣血凝（內）癰阻外膚。（氣血為內癰所奪。不榮於外。其身甲錯。言如鱗甲之交錯也。）腹皮雖急按之濡。附宜二分苡仁十。敗醬還須五分驅。</p>
<p>王晉三云。心氣抑鬱不舒。則氣結於小腸之頭。阻傳道之去路而為癰腫。即內經所謂臟不容邪。則還之於腑也。故仲景重用薏苡。開通心氣。榮養心境。佐以敗醬。化膿為水。使以附子。一開手太陽小腸之結。一化足太陽膀胱之氣。務令所化之毒。仍從水道而出。精微之奧。豈庸淺者所能推測耶。</p>

<h3>大黃牡丹湯</h3>
<p>治腸癰者少腹腫痞。按之即痛如淋。小便自調。時時發熱。自汗出。復惡寒。其脈遲緊者膿未成。可下之。脈洪數者膿已成。不可下也。此湯主之。</p>
<p>大黃（四兩。）　牡丹（一兩。）　桃仁（五十個。）　冬瓜仁（半升。）　芒硝（三合。）</p>
<p>上五味。以水六升。煮取一升。去滓。內芒硝。再煎數沸。頓服之。有膿當下。如無膿。當下血。</p>
<p>歌曰　腫居少腹（按之即痛如淋。小便自調。時時發熱自汗出復惡寒。）大腸癰。黃四牡丹一兩從。（冬）瓜子（仁）半升桃五十。芒硝三合泄腸膿。</p>
<p>王晉三云。肺與大腸相表裡。大腸癰者。肺氣下結於大腸之頭。其道遠於上。其位近於下。治在下者因而奪之也。故重用大黃、芒硝開大腸之結。桃仁、丹皮下將敗之血。至於清肺潤腸。不過瓜子一味而已。服之當下血。下未化膿之血也。若膿已成形。肉已壞。又當先用排膿散及湯。故原文云。膿已成。不可下也。</p>

<h3>王不留行散</h3>
<p>治金瘡病。</p>
<p>王不留行（十分。八月八日採。）　蒴藋細葉（十分。七月七日採。）　甘草（十八分。）　桑東南根（白皮。十分。三月三日採。）　黃芩（二分。）　蜀椒（三分。）　厚朴（二分。）　乾薑（二分。）　芍藥（二分。）</p>
<p>上九味。王不留行、蒴藋、桑皮三味燒灰存性。各別杵。篩合。治之為散。服方寸匕。小瘡即粉之。大瘡但服之。產後亦可服。</p>
<p>歌曰　金瘡諏（吉日按春秋而）採不留行。桑蒴同（王不留）行（按時而取三物各）十分明。芩樸芍姜均二分。三（分之蜀）椒十八（分之甘）草相成。</p>
<p>尤在涇云。金瘡經脈斬絕。營衛阻弛。治之者必使經脈復行。營衛相貫而後已。　除燒灰外。余藥不可日曝。火炙方效。</p>
<p>元犀按。金刃傷處。封固不密。中於風則瘡口無汁。中於水則出青黃汁。風則發痙。水則濕爛成瘡。王不留行疾行脈絡之血灌溉周身。不使其湍激於傷處。桑根皮泄肌肉之風水。蒴藋葉釋名接骨草。滲筋骨之風水。三者皆燒灰。欲其入血去邪止血也。川椒祛瘡口之風。厚朴燥刀痕之濕。黃連退肌熱。芍藥散惡血。乾薑和陽。甘草和陰。用以為君者。欲其入血退腫生肌也。風濕去。陰陽和。瘡口收。肌肉生。此治金瘡之大要。</p>

<h3>排膿散</h3>
<p>枳實（十六枚。）　芍藥（六分。）　桔梗（二分。）</p>
<p>上三味。杵為散。取雞子黃一枚。以藥散與雞黃相等。揉和令相得。飲和服之。日一服。</p>
<p>歌曰　排膿散藥本靈臺。（內經謂先師歃血而盟者是。）枳實為君十六枚。六分芍兮桔二分。雞黃一個簡而該。</p>
<p>元犀按。枳、桔行氣滯。芍藥通血滯。從氣血以排之。人所易知也。妙在揉入雞子黃一枚。取有情之物以養心脾之陰。則排之之法獨得其本也。</p>

<h3>排膿湯</h3>
<p>甘草（二兩。）　桔梗（三兩。）　生薑（一兩。）　大棗（十枚。）</p>
<p>上四味。以水三升。煮取一升。溫服五合。日再服。</p>
<p>歌曰　排膿湯與散懸殊。一兩生薑二草俱。大棗十枚桔三兩。通行營衛是良圖。</p>
<p>元犀按。方中取桔梗、生薑之辛。又取大棗、甘草之甘。辛甘發散為陽。令毒從陽化而出。排之之妙也。</p>

<h3>黃連粉</h3>
<p>（方未見。）　治浸淫瘡。從口起流向四肢者。可治。從四肢流來入口者。不可治。浸淫瘡。此粉主之。</p>
<p>歌曰　浸淫瘡藥末黃連。從口流肢順自然。若起四肢流入口。半生常苦毒牽纏。</p>
<p>元犀按。浸淫瘡系傳染之疾也。從口起流向四肢者。毒氣外出也。故曰可治。從四肢起流來入口者。毒氣由外入內。固結於臟腑之間。故曰不可治。黃連粉方未見。疑即黃連一味為末。或敷或服。隨宜擇用。</p>

<h1>卷六</h1>

<h2>跌蹶手指臂腫轉筋陰狐疝蛔蟲方</h2>

<h3>藜蘆甘草湯</h3>
<p>（方未見。）　治病人常以手指臂腫動。此人身體瞤瞤。此湯主之。</p>
<p>歌曰　體瞤臂腫主藜蘆。癇痹風痰俱可驅。蘆性升提草甘緩。症詳跌蹶遍尋無。</p>
<p>男元犀按。痰涎為濕氣所生。留滯胸膈之間。久則變生無定。云病人常以手指臂腫動身體瞤瞤者。是氣被痰阻。濕無去路。或加邪風。風行氣亦行。引動積痰毒氣。此所以群動併發。擾亂心君不寧也。手足項背牽引痛掣。走易不定者。心君之令不行。肺無以傳其治節也。藜蘆性毒。以毒攻毒。吐久積風痰。殺蟲。通支節。除癇也。助用甘草者。取甘潤之意。以其能解百毒也。方雖未見。其意不過是耳。</p>

<h3>雞屎白散</h3>
<p>治轉筋病。其人臂腳直。脈上下行。微弦。轉筋入腹者。此散主之。</p>
<p>雞屎白為散。取方寸匕。以水六合。和。溫服。</p>
<p>歌曰　轉筋入腹脈微弦。肝氣凌脾豈偶然。木畜為雞其屎土。研來同類妙周旋。</p>
<p>尤在涇云。內經曰。諸暴強直。皆屬於風。轉筋入腹者。脾土虛而肝木乘之也。雞為木畜。其屎反利脾氣。故治是病。且以類相求。則尤易入也。</p>

<h3>蜘蛛散</h3>
<p>治陰狐疝氣。偏有小大。時時上下者主之。</p>
<p>蜘蛛（十四枚。熬焦。）　桂枝（半兩。）</p>
<p>上二味為散。取八分一匕。飲和服。日再。蜜丸亦可。</p>
<p>歌曰　陰狐疝氣久難醫。（腎囊為陰病。則氣之腥臭如狐之臊也。）大小攸偏（或偏於左。或偏於右。一大一小也。）上下時。（時時上下人多誤解。謂病發則墜而下。病息則收而上也。）熬杵蜘蛛十四個。桂枝半兩恰相宜。</p>
<p>按此病用桂枝。不如用肉桂力更大。</p>
<p>王晉三云。蜘蛛性陰而厲。隱見莫測。可定幽暗之風。其功在殼。能泄下焦結氣。肉桂芳香入肝。專散沉陰結疝。四時刺逆從論曰。厥陰滑為狐疝風。推仲景之意。亦謂陰狐疝氣。是陰邪挾肝風而上下無時也。治以蜘蛛。如披卻導窾。</p>

<h3>甘草粉蜜湯</h3>
<p>治蛔蟲病。令人吐涎心痛。發作有時。毒藥不止者主之。</p>
<p>甘草（二兩。）　白粉（一兩。）　白蜜（四兩。）</p>
<p>上三味。以水三升。先煮甘草。取二升。去滓。內粉蜜。攪令和。煎如薄粥。溫服一升。瘥即止。</p>
<p>歌曰　蛔蟲心痛吐涎多。毒藥頻攻痛不瘥。一（兩白）粉二（兩）甘（草）四兩蜜。煮分先後取融和。</p>
<p>按。鉛粉性善殺蟲。今雜於甘草、白蜜之中。以大甘掩其本性。所謂先誘之而後攻之也。</p>

<h3>烏梅丸</h3>
<p>（歌解見長沙方歌括。）　治蛔厥者。其人當吐蛔。今病者靜而復時煩。此為臟寒。蛔上入膈。故煩。須臾復止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者此丸主之。</p>
<p>烏梅　細辛　乾薑　黃連　當歸　川椒　附子　桂枝　人參　黃柏　</p>
<p>徐忠可云。黃連之苦可以安蛔。則前甘草與蜜。何以亦能安蛔也。不知上條之蛔。因燥而上逆。致使心痛。故以白粉殺蛔為主。而加甘蜜以潤其燥。若蛔厥未嘗攻心。且蛔因臟寒而上。故以烏梅酸收。黃連苦降。以收伏降蛔為主。而加辛熱而追臟寒。所以一心痛而不吐蛔。一吐蛔而不心痛。此是二條大分別也。</p>

<h2>婦人妊娠病方</h2>

<h3>桂枝湯</h3>
<p>（歌見長沙方歌括。）　治婦人得平脈。陰脈小弱。其人渴不能食。無寒熱。名妊娠。此主之。於法六十日。當有此證。設有醫治逆者。卻一月。加吐下。則絕之。</p>
<p>桂枝　芍藥　甘草　生薑　大棗</p>
<p>徐忠可云。桂枝湯表證得之為解肌和營衛。內證得之為化氣調陰陽。時醫以薑、桂礙胎戒用。汲汲以養血滋陰為事。皆不知仲景之法也。（愚按。本章末三句未明。願後之學者補續之。）</p>

<h3>桂枝茯苓丸</h3>
<p>治婦人宿有症病。經斷未及三月。而得漏下不止。胎動在臍上者。此為症痼害。妊娠六月動者。前三月經水利時胎也。下血者。後斷三月衃也。所以血不止者。其症不去故也。常下其症。宜此方主之。</p>
<p>桂枝　茯苓　丹皮　桃仁（去皮尖。熬。）　芍藥（各等分。）</p>
<p>上五味末之。煉蜜丸如兔屎大。每日食前服一丸。不知。加至三丸。</p>
<p>歌曰　症痼未除恐害胎。（胎動於臍下為欲落。動於臍上是每月湊集之血因症痼之氣妨害之而下漏也。）胎安症去悟新裁。桂苓丹芍桃同等。氣血陰陽本末該。</p>
<p>受業林禮豐按。師云。婦人宿有症病者。謂未受胎之前。本停瘀而有症病也。經斷者。謂經水淨盡之後。交媾而得胎也。未及三月而得漏下不止者。謂每月湊集之血。因宿昔之症痼妨害之而下漏也。蓋六月胎動者。胎之常。而三月胎動者。胎之變。然胎當居臍下。今動在臍上者。是本有症痼在臍下逼動其胎。故胎不安而動於臍上也。因復申言之曰。前三月經水利時胎也。下血者後斷三月衃也。衃者。謂每月湊集之血。始凝而未痼也。所以血不止者。其症不去。必害其胎。去其症。即所以安其胎。故曰當下其症。主以桂苓丸者。取桂枝通肝陽。芍藥滋肝陰。茯苓補心氣。丹皮運心血。妙在桃仁監督其間。領諸藥直抵於症痼而攻之。使瘀結去而新血無傷。瘀既去。則新血自能養胎。雖不專事於安胎而正所以安胎也。</p>

<h3>附子湯</h3>
<p>（方未見。）　治婦人懷娠六七月。脈弦發熱。其胎愈脹。腹痛惡寒。少腹如扇。所以然者。子臟開故也。以此湯溫其臟。</p>
<p>男元犀按。太陽主表。少陰主裡。脈弦發熱者。寒傷太陽之表也。腹痛惡寒者。寒侵少陰之裡也。夫胎居臍下。與太少相連。寒侵太少。氣並胞宮。迫動其胎。故胎愈脹也。腹痛惡寒少腹如扇者。陰邪盛於內。寒氣徹於外。故現出陣陣如扇之狀也。然胎得暖則安。寒則動。寒氣內勝。必致墜胎。故曰。所以然者子臟開故也。附子湯溫其臟。使子臟溫而胎固。自無隕墜之虞矣。附子湯方未見。疑是傷寒附子湯。（附子、茯苓、人參、白朮、芍藥。）</p>

<h3>膠艾湯</h3>
<p>治婦人有漏下者。有半產後因續下血。都不絕者。有妊娠下血者。假令妊娠腹中痛。為胞阻。以此湯主之。</p>
<p>乾地黃（六兩。）　川芎　阿膠　甘草（各二兩。）　艾葉　當歸（各三兩。）　芍藥（四兩。）</p>
<p>上七味。以水五升。清酒三升。合煮取三升。去滓。內膠令消盡。溫服一升。日三服。不差。更作。</p>
<p>歌曰　妊娠腹滿阻胎胞。（名曰胞阻。以胞中氣血虛寒而阻其化育也。）二兩芎藭草與膠。歸艾各三芍四兩。地黃六兩去枝梢。</p>
<p>男元犀按。芎藭、芍、地。補血之藥也。然血不自生。生於陽明水穀。故以甘草補之。阿膠滋血海。為胎產百病之要藥。艾葉暖子宮。為調經安胎之專品。合之為厥陰少陰陽明及衝任兼治之神劑也。後人去甘草、阿膠、艾葉。名為四物湯。則板實而不靈矣。</p>

<h3>當歸芍藥散</h3>
<p>治婦人懷妊。腹中㽲痛。此散主之。</p>
<p>當歸　川芎（各三兩。）　芍藥（一斤。）　茯苓　白朮（各四兩。）　澤瀉（半斤。）</p>
<p>上六味。杵為散。取方寸匕。酒和。日三服。</p>
<p>歌曰　妊娠㽲痛勢綿綿。（不若寒疝之絞痛。血氣之刺痛也。）三兩歸芎潤且芍藥一斤澤減半。術苓四兩妙盤旋。</p>
<p>男元犀按。懷妊腹痛。多屬血虛。而血生於中氣。中者土也。土過燥不生物。故以歸、芎、芍藥滋之。土過濕亦不生物。故以苓、朮、澤瀉滲之。燥濕得宜。則中氣治而血自生。其痛自止。</p>

<h3>乾薑人參半夏丸</h3>
<p>治妊娠嘔吐不止。此丸主之。</p>
<p>乾薑　人參（各一兩。）　半夏（二兩。）</p>
<p>上三味末之。以生薑汁糊為丸。桐子大。飲服十丸。日三服。</p>
<p>歌曰　嘔吐遷延惡阻名。（妊娠嘔吐。名為惡阻。）胃中寒飲苦相縈。參姜一兩夏雙兩。（生）薑汁糊丸古法精。</p>
<p>尤在涇云。陽明之脈。順而下行者也。有寒則逆。有熱亦逆。逆則飲必從之。寒逆。用此方。熱逆。用外臺方。青竹茹、橘皮、半夏各五兩。生薑、茯苓各四兩。麥冬、人參各三兩。為治胃熱氣逆嘔吐之法。可補仲師之未備。</p>
<p>樓全善云。余治妊阻病。累用半夏。未嘗動胎。亦有故無隕之義也。</p>

<h3>當歸貝母苦參丸</h3>
<p>治妊娠小便難。飲食如故者。此丸主之。</p>
<p>當歸　貝母　苦參（各四兩。）</p>
<p>上三味末之。煉蜜丸如小豆大。飲服三丸。加至十丸。</p>
<p>歌曰　飲食如常小水難。妊娠鬱熱液因干。苦參四兩同歸貝。飲服三丸至十丸。（男子。加滑石半兩。）</p>
<p>男元犀按。苦參、當歸補心血而清心火。貝母開肺鬱而瀉肺火。然心火不降。則小便短澀。肺氣不行於膀胱。則水道不通。此方為下病上取之法也。況貝母主淋瀝邪氣。神農本經有明文也哉。</p>

<h3>葵子茯苓散</h3>
<p>治妊娠有水氣。身重。小便不利。灑淅惡寒。起即頭眩。此散主之。</p>
<p>葵子（一升。）　茯苓（三兩。）</p>
<p>上二味杵為散。飲服方寸匕。日二服。小便利則愈。</p>
<p>歌曰　頭眩惡寒水氣干。胎前身重小便難。（均是小便不利。前責之津干。此責之水氣。水利則濕去身輕矣。不侵衛陽則不惡寒矣。不犯清道則亦不頭眩矣。）一升葵子苓三兩。米飲調和病即安。</p>
<p>男元犀按。葵子俗人畏其滑胎。不必用之。中藏經五皮飲加紫蘇。水煎服甚效。</p>

<h3>當歸散</h3>
<p>主治婦人妊娠。宜常服之。</p>
<p>當歸　黃芩　芍藥　川芎（各一斤。）　白朮（半斤。）</p>
<p>上五味杵為散。酒服方寸匕。日再服。妊娠常服即易產。胎無疾苦。產後百病。悉主之。歌曰　（妊娠常服之劑。當以補脾陰為主。）萬物原來自土生。土中涵濕遂生生。（不窮。）一斤芎芍歸滋血。（血為濕化。胎尤賴之。）八（兩）術（一）斤芩（術本脾藥。今協血藥而入脾土。土得濕氣則生物。又有黃芩之苦寒清肺以主之。肺氣利則血不滯。所以生物不息。）大化成。</p>
<p>方義。歌中頗詳。不再釋。</p>

<h3>白朮散</h3>
<p>主妊娠養胎方。</p>
<p>白朮　川芎　蜀椒（各三分。去汗。）　牡蠣</p>
<p>上四味杵為散。酒服一錢匕。日三服。夜一服。但苦痛。加芍藥。心下毒痛。倍加芎藭。心煩吐痛不能食飲。加細辛一兩。半夏大者二十枚。服之後。更以醋漿水服之。若嘔。以醋漿水服之復不解者。小麥汁服之。已後渴者。大麥粥服之。病雖愈。服之勿置。</p>
<p>歌曰　胎由土載術之功。養血相資妙有藭。（土以載之。血以養之。）陰氣上凌椒攝下。（胎忌陰氣上逆。蜀椒具純陽之性。陽以陰為家。故能攝上焦之熱而下降。）蠣潛龍性得真詮。（牡蠣水氣所結。味鹹性寒。寒以制熱燎原。咸以導龍入海。）。</p>
<p>此方舊本三物各三分。牡蠣闕之。徐靈胎云。原本無分兩。按方下云。日三服夜一服者。牡蠣用一分可也。</p>
<p>加減歌曰　苦痛芍藥加最美。心下毒痛倚芎是。吐痛不食心又煩。加夏廿枚一細使。醋漿水須服後吞。若還不嘔藥可止。不解（者以）小麥煮汁嘗。已後渴者大麥（粥）喜。既愈常服勿輕拋。壺中陰陽大燮理。（按。程云來云。以大麥粥能調中補脾。故服之勿置。非指上藥常服也。此解亦超。）</p>
<p>方義已詳歌中。不再釋。</p>

<h2>婦人產後病方</h2>

<h3>小柴胡湯</h3>
<p>（見嘔吐。）產婦鬱冒。其脈微弱。嘔不能食。大便反堅。但頭汗出。所以然者。血虛而厥。厥而必冒。冒家欲解。必大汗出。以血虛下厥。孤陽上出。故頭汗出。所以產婦喜汗出者。亡陰血虛。陽氣獨盛。故當汗出。陰陽乃復。大便堅。嘔不能食。小柴胡湯主之。</p>
<p>孫男心蘭按。產婦脈微弱者。血虛也。血虛而陰不維陽。則為孤陽。陽獨行於上。則頭汗出而冒。陽不及於下。則下厥。陽郁陰傷。無以養腸胃。故大便堅。陰陽不和。擾動於中。故作嘔而不能食。蓋血虛無以作汗。故鬱冒不得從汗而解也。治之者。當審其病情。以冒家欲解。既不從頭汗而泄。必得大汗而解者。以小柴胡湯發之。使陽從汗泄。則鬱開而陰陽和矣。此損陽就陰法也。</p>

<h3>大承氣湯</h3>
<p>（見痙病）　治病解能食。七八日更發熱者。此為胃實。宜此湯主之。</p>

<h3>當歸生薑羊肉湯</h3>
<p>（見寒疝。）　治產後腹中㽲痛者。</p>

<h3>枳實芍藥散</h3>
<p>主產後腹痛。煩滿不得臥者。</p>
<p>枳實（燒令黑。勿太過。）　芍藥（等分。）</p>
<p>上二味杵為散。服方寸匕。日三服。並主癰膿。大麥粥下之。</p>
<p>歌曰　滿煩不臥腹疼頻。枳實微燒芍等平。羊肉湯方應反看。（彼治虛痛。北治實痛。）散調大麥（粥）穩而新。</p>
<p>男蔚按。枳實通氣滯。芍藥通血滯。通則不痛。人所共知也。妙在枳實燒黑。得火化而善攻停積。下以大麥粥。和肝氣而兼養心脾。是行滯中而寓補養之意。故癰膿亦主之。</p>

<h3>下瘀血湯</h3>
<p>治產婦腹痛。法當以枳實芍藥散。假令不愈者。此為腹中有瘀血著臍下。宜此湯。亦主經水不利。</p>
<p>大黃（三兩。）　桃仁（二十個。）　䗪蟲（二十枚。去足。熬。）</p>
<p>上三味末之。煉蜜和為四丸。以酒一升煮一丸。取八合。頓服之。新血下如豚肝。（各本略異。）</p>
<p>歌曰　臍中著痛瘀為殃。廿粒桃仁三兩黃。更有䗪蟲二十個。酒煎大下亦何傷。</p>
<p>男元犀按。服枳實芍藥而不愈者。非積停不通。是瘀結不散。用此方攻之。方中大黃、桃仁能推陳下瘀。䗪蟲之善攻乾血。人盡知之。妙在桃仁一味。平平中大有功力。鬱血已敗而成瘀。非得生氣不能流通。桃得三月春和之氣。而花最鮮明似血。而其生氣皆在於仁。其味苦又能開泄。故直入血中而和之散之。逐其舊而不傷其新也。</p>

<h3>大承氣湯</h3>
<p>（見痙病）　治產後七八日。無太陽症。少腹堅痛。此惡露不盡。不大便。煩躁發熱。切脈微實。再倍發熱。日晡時煩躁者。不食。食則譫語。至夜即愈。宜此湯主之。熱在裡。結在膀胱也。</p>
<p>孫男心典按。無太陽症者。外無病也。脈微實。煩躁發熱。食則譫語者。胃熱也。惡露不盡者。主太陽之氣。隨經也。蓋膀胱接胃。連於少腹。血結其所。熱聚其中。宜此湯以下瘀除熱。</p>

<h3>陽旦湯</h3>
<p>治產後中風續續數十日不解。頭微疼。惡寒時時有熱。心下悶。乾嘔汗出。雖久陽旦症續在者。可與之。（即桂枝湯增桂加附。坊本謂加黃芩者。未知傷寒論太陽篇中已明其方。孫真人及各傢俱誤。桂枝湯見婦人妊娠病。）</p>
<p>男元犀按。頭痛發熱惡寒汗出。太陽表症也。心下悶者。太陽水邪瀰漫心下而作悶也。陽旦湯即桂枝湯倍桂枝加附子。雖產後數十日不解。其邪仍在於太陽之經。故仍用桂枝湯解太陽之表邪。加桂以化膀胱之水氣。加附子以溫固水臟。使經臟氣化。則內外之邪出矣。傷寒論桂枝加附子。治漏汗。加桂。治氣從少腹上衝心。去芍。治胸滿。俱有明文可據。孫真人以桂枝湯加黃芩為陽旦湯。其意以心下悶為熱氣。誤矣。夫有熱氣。則當心煩。今曰心下悶。則非熱可知矣。況微惡寒時時有熱。乾嘔汗出。為太陽桂枝湯之的症。蓋太陽底面便是少陰。續續至數十日不解。顯系少陰之君火微而水寒之氣盛。寒氣上凌陽位。是以為心下悶之苦。故取桂枝湯增桂以扶君主之陽。加附子以鎮水陰之逆。使心陽振。水臟溫。則上逆之陰邪。不攻而自散矣。</p>

<h3>竹葉湯</h3>
<p>治產後中風發熱。面正赤。喘而頭痛者。此湯主之。</p>
<p>竹葉（一把。）　葛根（三兩。）　防風　桔梗　桂枝　人參　甘草（各一兩。）　附子（一枚。炮。）　生薑（五兩。）　大棗（十五枚。）</p>
<p>上十味。以水一斗。煮取二升半。分溫三服。溫覆使汗出。　頸項強。用大附子一枚。破之如豆大。前藥揚去沫。嘔者加半夏半升。洗。</p>
<p>歌曰　喘熱頭疼面正紅。（勢欲成痙。）一（兩）防桔桂草參同。（同用一兩。）葛（根）三（兩生）姜五（兩）附枚一。棗十五枚竹（葉一）把充。</p>
<p>加減歌曰　頸項強用大附抵。以大易小不同體。嘔為氣逆更議加。半夏半升七次洗。程云來云。證中未至背反張。而發熱面赤頭痛。亦風痙之漸。故用竹葉主風痙。防風治內痙。葛根療剛痙。桂枝治柔痙。生薑散風邪。桔梗除風痹。辛以散之之劑也。又佐人參生液以養筋。附子補火以致水。合之甘草以和諸藥。大棗以助十二經。同諸風劑。則發中有補。為產後中風之大劑也。</p>

<h3>竹皮大丸</h3>
<p>治婦人乳中虛。煩亂嘔逆。安中益氣。</p>
<p>生竹茹　石膏（各二分。）　桂枝　白薇（各一分。）　甘草（七分。）</p>
<p>上五味末之。棗肉和丸彈子大。飲服一丸。日三夜二服。有熱。倍白薇。煩喘者。加柏實一分。</p>
<p>歌曰　嘔而煩亂乳中虛。（謂乳子之時氣虛火勝。內亂而上逆也。）二分石膏與竹茹。攻薇桂一（分）兮草七分。棗丸飲服效徐徐。</p>
<p>加減歌曰　白薇退熱絕神異。有熱倍加君須記。柏得金氣厚且深。葉葉西向歸本位。實中之仁又寧心。煩喘可加一分餌。</p>
<p>男元犀按。血者中之所生也。乳者血之所變也。血雖生於中焦。尤藉厥少之氣傳變而為乳。乳中虛者。謂乳子去汁過多而致虛也。中虛無血奉心則煩。心神不安則亂。陽氣上升則嘔。逆者嘔之甚也。用竹皮大丸者。以竹茹降逆止嘔。白薇除熱退煩。石膏通乳定亂。重用甘草。定安中焦以生津液。血無陽氣不運。妙以桂枝一味。運氣血奉心通乳。則嘔逆止而中即自安。煩亂退而氣即自益矣。復申明其立方之本意曰安中益氣。竹皮大丸神哉。</p>

<h3>白頭翁加甘草阿膠湯</h3>
<p>治產後下利虛極者。此湯主之。</p>
<p>白頭翁　阿膠　甘草（各二兩。）　黃連　黃柏　秦皮（各三兩。）</p>
<p>上五味。以水七升。煮取三升。去滓。入阿膠。更上微火煎膠烊消。取二升。溫服一升。不愈。更服一升。</p>
<p>歌曰　白頭方見傷寒歌。二兩阿膠甘草和。產後利成虛已極。滋（阿膠教其陰。）而且緩（甘草緩其急。）莫輕過。</p>
<p>男元犀按。產後去血過多。又兼下利亡其津液。其為陰虛無疑。茲云虛極。理宜大補。然歸、芎、芍、地則益其滑而下脫。參、朮、桂、耆則動其陽而上逆。皆為禁劑。須知此虛字指陰虛而言。與少陰證陰氣欲絕同義。少陰證與大承氣湯急下以救陰。與此證與白頭翁大苦以救陰同義。此法非薛立齋、張景岳、李士材輩。以甘溫為主苦寒為戒者。所可窺測。尤妙在加甘草之甘。合四味之苦。為苦甘化陰法。且久利膏脂盡脫。脈絡空虛。得阿膠之滋潤。合四味之苦以堅之。則源流俱清而利自止。</p>

<h2>附方</h2>

<h3>千金三物黃芩湯</h3>
<p>治婦人在草蓐。自發露得風。四肢苦煩熱。頭痛者。與小柴胡湯。頭不痛但煩者。此湯主之。</p>
<p>黃芩（一兩。）　苦參（二兩。）　乾地黃（四兩。）</p>
<p>上三味。以水六升。煮取二升。溫服一升。多吐下蟲。</p>
<p>歌曰　婦人發露得風傷。頭不痛兮證可詳。肢苦但煩芩一兩。地黃四兩二（苦）參良。</p>
<p>受業林禮豐按。千金云。婦人在草蓐。是新產時也。新產血虛。厥陰主血。血虛則厥陰之相火動。火動則毛竅開。因自發去衣被。露其身體。風邪遂乘虛而襲焉。夫風為陽邪。四肢為諸陽之本。兩陽相搏。故四肢苦煩熱也。頭痛者。風邪從臟而干於腑。有欲外出之象。故與小柴胡湯達之。使其從樞以外出也。頭不痛但煩者。風邪內郁。擾動心包之熱。心包火熾。血液必傷。故主以三黃湯。取地黃之甘寒多液者。補陰血之虛。黃芩、苦參之苦寒者。瀉心包之熱。使火平而風熄。陰復而肝寧。何有四肢苦煩熱之病哉。且心包有熱。必挾風木而生蟲。故方下云服後多吐下蟲。</p>

<h3>千金內補當歸建中湯</h3>
<p>治產後虛羸不足。腹中刺痛不止。吸吸少氣。或苦少腹急攣痛引腰背。不能飲食。產後一月。日得服四五劑為善。令人強壯宜。</p>
<p>當歸（四兩。）　桂枝（三兩。）　芍藥（六兩。）　生薑（三兩。）　甘草（二兩。）　大棗（十二枚。）上六味。以水一斗。煮取三升。分溫三服。一日令盡。若大虛。加飴糖六兩。湯成納之。於火上暖令飴消。若去血過多。崩傷內衄不止。加地黃六兩。阿膠二兩。合八味。湯成納阿膠。若無當歸。以芎藭代之。若無生薑以乾薑代之。</p>
<p>歌曰　補中方用建中湯。四兩當歸去瘀良。產後虛羸諸不足。調榮止痛補勞傷。</p>
<p>加減歌曰　服湯行瘀變崩傷。二兩阿膠六地黃。若厥生薑宜變換。溫中止血用乾薑。當歸未有川芎代。此法微茫請細詳。</p>
<p>受業林禮豐按。產後吸吸少氣。不能飲食者。病在太陰也。腹中刺痛不止。或苦少腹急摩痛引腰背者。病在厥陰也。病屬虛羸不足。故用桂枝湯倍芍以助脾氣之輸。而刺痛牽引乃血瘀滯著。故用當歸以通凝聚之瘀。使脾氣有權而得上輸下轉之力。故產後一月。日得服四五劑為善也。令人強壯宜者。得補益之功也。加飴糖者。以中土大虛。故用稼穡之味以補中焦之氣血。若去血過多崩傷內衄不止。則血海空虛。陰氣失守。故加地黃、阿膠之重濁味厚者以養陰。名之曰內補者。以產後虛羸。病偏於內也。古聖之方。無微不到。神乎神乎。</p>

<h2>婦人雜病方</h2>

<h3>小柴胡湯</h3>
<p>（見嘔吐。）治婦人中風七八日。續來寒熱。發作有時。經水適斷者。此為熱入血室。其血必結。故使如瘧狀發作有時。此湯主之。</p>

<h3>半夏厚朴湯</h3>
<p>治婦人咽中如有炙臠者。此湯主之。</p>
<p>半夏（一升。）　厚朴（三兩。）　茯苓（四兩。）　生薑（五兩。）　蘇葉（二兩。）</p>
<p>上五味。以水一斗。煮取四升。分溫四服。日三夜一服。</p>
<p>歌曰　狀如炙臠貼咽中。卻是痰凝氣不通。半夏一升茯四兩。五（兩生）姜三（兩厚）樸二（兩）蘇（葉）攻。</p>
<p>男元犀按。咽喉者高之極。小腹者下之極。炙臠貼於咽中者病在上。奔豚起於小腹者病在下。俱屬於氣。但其病有上下之分。蓋婦人氣鬱居多。或偶感客邪依痰凝結。窒塞咽中。如有炙臠狀。即千金所謂咽中貼貼狀。吞之不下。吐之不出者。今人名曰梅核氣是也。主以半夏厚朴湯者。方中以半夏降逆氣。厚朴解結氣。茯苓消痰。尤妙以生薑通神明助正祛邪。以紫蘇之辛香散其鬱氣。郁散氣調。而凝結焉有不化者哉。後人以此湯變其分兩。治胸腹滿悶嘔逆等症。名七氣湯。以治七情之病。</p>

<h3>甘麥大棗湯</h3>
<p>治婦人臟燥。悲傷欲哭。象如神靈所作。數欠伸。此湯主之。</p>
<p>甘草（三兩。）　小麥（一升。）　大棗（十枚。）</p>
<p>上三味。以水六升。煮取三升。分溫三服。亦補脾氣。</p>
<p>歌曰　婦人臟燥欲悲傷。如有神靈太息長。（數欠伸）小麥一升三兩草。十枚大棗力相當。魏念庭云。世醫競言滋陰養血。抑知陰盛而津愈枯。陽衰而陰愈燥。此方治臟燥大法也。</p>

<h3>小青龍湯</h3>
<p>（見痰飲。）</p>
<p>瀉心湯（見驚悸。）治婦人吐涎沫。醫反下之。心下即痞。當先治其吐涎沫。小青龍湯主之。涎沫止。乃治痞。瀉心湯主之。</p>
<p>按。二方解見傷寒論淺注。不再釋。</p>

<h3>溫經湯</h3>
<p>治婦人年五十所。病下利數十日不止。暮即發熱。少腹裡急。腹滿。手掌煩熱。唇口乾燥。此屬帶下。何以故。曾經半產。瘀血在少腹不去。何以知之。其證唇口乾燥故知之。當以此湯主之。</p>
<p>吳茱萸（三兩。）　當歸　芎藭　芍藥　人參　桂枝　阿膠　丹皮　甘草（各二兩。）　生薑（三兩。一本二兩。）　半夏（半升。一本一升。）　麥冬（一升。）</p>
<p>上十二味。以水一斗。煮取三升。分溫三服。亦主婦人少腹寒。久不受胎。兼治崩中去血。或月水來多。及至期不來。</p>
<p>歌曰　溫經芎芍草歸人。膠桂丹皮二兩均。（八物各二兩，）半夏半升麥（冬）倍用。（生）姜（吳茱萸）三兩對君陳。</p>
<p>男元犀按。方中當歸、芎藭、芍藥、阿膠。肝藥也。丹皮、桂枝。心藥也。吳茱萸。肝藥亦胃藥也。半夏。胃藥亦沖藥也。麥門冬、甘草。胃藥也。人參補五臟。生薑利諸氣也。病在經血。以血生於心。藏於肝也。沖為血海也。胃屬陽明。厥陰衝脈麗之也。然細繹方意。以陽明為主。用吳茱萸驅陽明中土之寒。即以麥門冬滋陽明中土之燥。一寒一熱。不使偶偏。所以謂之溫也。用半夏、生薑者。以姜能去穢而胃氣安。夏能降逆而胃氣順也。其餘皆相輔而成溫之之用。絕無逐瘀之品。故過期不來者能通之。月來過多者能止之。少腹寒而不受胎者並能治之。統治帶下三十六病。其神妙不可言矣。</p>

<h3>土瓜根散</h3>
<p>治帶下經水不利。少腹滿痛。經一月再見者。此散主之。</p>
<p>土瓜根　芍藥　桂枝　䗪蟲（各三分。）</p>
<p>上四味杵為散。酒服方寸匕。日三服。</p>
<p>歌曰　帶下端由瘀血停。（不能如期而至。以致少腹滿痛。）月間再見（既瘀而不行。則前經未暢所行。不及待後月正期而至。故一見再見。）不循經。（經常也。言不循常期也。）䗪瓜桂芍均相等。調協陰陽病自寧。</p>
<p>男元犀按。此條單指經水不利之帶下病也。經者常也。婦人行經。必有常期。尤云。血滿則行。血盡復生。如月之盈虧。海之潮汐。必定應期而至。謂之信。此云經水不利。一月再見者。乃蓄泄失常。則有停瘀之患也。然瘀既停。必著少腹之間作滿而痛也。立土瓜根散者。為調協陰陽。主驅熱通瘀之法。方中桂枝通陽。芍藥行陰。使陰陽和。則經之本正矣。土瓜根驅熱行瘀。䗪蟲蠕動逐血。去其舊而生新。使經脈流暢。常行不亂也。</p>

<h3>旋覆花湯</h3>
<p>（見積聚。）　治婦人得革脈。則半產漏下。</p>
<p>犀按。旋覆花湯金匱中兩見。一治積聚症。以通肝著之氣。一治婦人雜病症。以化弦芤為革之脈。若革脈不化。則必半產漏下。但此方非謂漏下時始用耳。</p>

<h3>膠薑湯</h3>
<p>（方闕。或云。即是乾薑阿膠二味煎服。林雲。即是膠艾湯。千金膠艾湯亦可取用。）</p>
<p>治婦人陷經漏下黑不解者。主之。</p>
<p>歌曰　膠姜方闕症猶藏。漏下陷經黑色詳。姜性溫提膠養血。剛柔運化配陰陽。</p>
<p>道光四年。閩都閫府宋公。其三媳婦產後三月餘。夜半腹痛發熱。經血暴下鮮紅。次下黑塊。繼有血水。崩下不止。約有三四盆許。不省人事。牙關緊閉。挽余診之。時將五鼓矣。其脈似有似無。身冷麵青。氣微肢厥。予曰。血脫當益陽氣。用四逆湯加赤石脂一兩。煎湯灌之。不瘥。又用阿膠、艾葉各四錢。乾薑、附子各三錢。亦不瘥。沉思良久。方悟前方用乾薑守而不走。不能導血歸經也。乃用生薑一兩。阿膠五錢。大棗四枚。服半時許。腹中微響。四肢頭面有微汗。身漸溫。須臾甦醒。自道身中疼痛。余令先與米湯一杯。又進前方。血崩立止。脈復厥回。大約膠薑湯。即生薑、阿膠二味也。蓋阿膠養血平肝。去瘀生新。生薑散寒升氣。亦陷者舉之。郁者散之。傷者補之育之之義也。</p>

<h3>大黃甘遂湯</h3>
<p>治婦人少腹滿如敦狀。小便微難而不渴。此為水與血俱結在血室也。此湯主之。</p>
<p>大黃（四兩。）　甘遂　阿膠（各二兩。）</p>
<p>上三味。以水三升。煮取一升。頓服。其血當下。</p>
<p>歌曰　小腹敦形（敦音對。古器也。周禮槃以乘血。敦以乘食。小腹高起之狀相似也。小腹胞之室也。胞為血海。其滿大為蓄血也。）小水難。（小水難而不渴。亦蓄水也。）水同瘀血兩瀰漫。（結在血室。）大黃四兩遂膠二。頓服瘀行病自安。</p>
<p>男元犀按。方中大黃攻血蓄。甘遂攻水蓄。妙得阿膠本清濟之水。伏行地中。歷千里而發於古東阿縣之井。此方取其以水行水之義也。內經謂濟水內合於心。用黑騾皮煎造成膠。以黑屬於腎。水能濟火。火熄而血自生。此方取其以補為通之義也。然甘遂似當減半用之。</p>

<h3>抵當湯</h3>
<p>（歌解見長沙方歌括。）　治婦人經水不利下者。主之。</p>
<p>水蛭　虻蟲　桃仁　大黃</p>
<p>男元犀按。婦人經水不利下。脈證俱實者。宜此方。否則當養其衝任之源。不可攻下。</p>

<h3>抵當湯</h3>
<p>（歌解見長沙方歌括。）　治婦人經水不利下者。主之。</p>
<p>水蛭　虻蟲　桃仁　大黃</p>
<p>男元犀按。婦人經水不利下。脈證俱實者。宜此方。否則當養其衝任之源。不可攻下。</p>

<h3>紅藍花酒</h3>
<p>治婦人六十二種風。腹中血氣刺痛者主之。</p>
<p>紅藍花（一兩。）</p>
<p>上一味。酒一大升。煎減半。頓服一半。未止。再服。</p>
<p>歌曰　六十二風義未詳。腹中刺痛勢彷徨。治風先要行其血。一兩藍花酒煮嘗。</p>
<p>淺注引張隱菴侶山堂類辨甚妙。不再釋。</p>

<h3>當歸芍藥散</h3>
<p>（見婦人妊娠病。）　治婦人腹中諸疾痛者。此方主之。</p>
<p>犀按。婦人腹中諸疾痛者。不外氣鬱血凝帶下等症。用當歸芍藥散者。以肝為血海。遂其性而暢達之也。方中歸、藭入肝解鬱以伸木。芍、澤散瘀而行水。白朮倍土養木。妙在作散以散之。酒服以調之。協諸藥通氣血。調營衛。以順其曲直之性。使氣血和。鬱滯散。何患乎腹中諸疾痛不除。</p>

<h3>小建中湯</h3>
<p>（見血痹虛勞。）　治婦人腹中痛。此主之。</p>
<p>元犀按。婦人腹中痛主以建中湯者。其意在於補中生血。非養血定痛也。蓋血無氣不生。無氣不行。得建中之力。則中氣健運。為之生生不息。即有瘀痛者。亦可平之。</p>

<h3>腎氣丸</h3>
<p>治婦人病飲食如故。煩熱不得臥而反倚息。名曰轉胞。不得溺也。以胞系了戾。故致此病。此方主之。</p>
<p>乾地黃（八兩。）　山藥　山茱萸（各四兩。）　茯苓　丹皮　澤瀉（各三兩。）　附子（一枚。炮。）　桂枝（一兩。）</p>
<p>上八味末之。煉蜜和丸梧子大。酒下十五丸。加至二十丸。日再服。</p>
<p>歌曰　溫經暖腎整胞宮。丹澤苓三地八融。四兩萸薯桂附一。端教系正腎元充。</p>
<p>男元犀按。胞為血海。與膀胱並列於臍下。俱懸空之腑。其氣相通。全賴腎氣充溢於其間。其胞系乃正。若腎氣不充。則胞系了戾。胞系了戾。必不得溺矣。是病雖在胞。其權則專在腎也。故以腎氣丸主之。方中地黃、山藥固腎臟之陰。山茱萸、附子補腎臟之陽。桂枝化腑氣。茯苓行水道。妙在澤瀉形圓善轉。俾腎氣旺則能充於胞而系自正。系正則小便不利者而可利矣。又主虛勞腰痛。少腹拘急。小便不利者。以腰為腎之外府。腎司開闔。主骨髓。為作強之官。與膀胱相表裡。若少陰精氣虛不能主骨。則腰痛。少陰陽氣虛不能通腑。則少腹拘急小便不利。本方補益真陰。蒸動水氣。使陰平陽秘。開闔之樞自如。故能治虛勞之病。然小便自利者。不宜服之。以其滲泄而更劫陰也。</p>

<h3>蛇床子散</h3>
<p>治婦人陰寒。溫陰中坐藥。此散主之。</p>
<p>蛇床子</p>
<p>上一味末之。以白粉少許和合相得。如棗大。綿裹內之。自然溫。</p>

<h3>狼牙湯</h3>
<p>治少陰脈滑而數者。陰中即生瘡。陰中蝕瘡爛者。此湯洗之。</p>
<p>狼牙（三兩。）</p>
<p>上一味。以水四升。煮取半升。以綿纏箸如繭。浸湯瀝陰中。日四遍。</p>
<p>歌曰　胞寒外候見陰寒。納入蛇床佐粉安。（此溫胞益陽外治之善法。為腎氣丸之佐也。）更有陰（中）瘡䘌爛者。（乃濕熱不潔而生䘌也。）</p>
<p>狼牙三兩洗何難。（除濕熱殺蟲。如無狼牙草。以狼毒代之。）</p>

<h3>膏發煎</h3>
<p>（見黃癉）　治胃氣下泄。陰吹而正喧。此穀氣之實也。此主之。（陰吹。陰中出聲。如大便矢氣之狀。）</p>

<h3>小兒疳蟲蝕齒方</h3>
<p>雄黃　葶藶</p>
<p>上二味末之。取臘月豬脂。熔以槐枝綿裹頭四五枝。點藥烙之。</p>
<p>歌曰　忽然出此小兒方。本治疳蟲蝕齒良。葶藶雄黃豬（脂）點烙。闕疑留與後推詳。</p>
<p>犀按。蟲有大小之別。隨生處而異其形。總不離於風火濕。挾厥陰之氣化所生也。小兒疳蟲病者。多由母氏乳少。多飼以火燥乾糧助火之品。致小兒煩啼不已。動其心包之火。火動必熏灼於肝。蒸郁從風木化而為蟲。夫蟲乃有情之物。食有情之血。亂有情之心臟。起伏無定。擾攘攻衝。故其證煩熱多汗。面青腹脹。喜食辛燥之味。又有蝕蟲。蝕者食蟲也。其形不一。小者名寸白蟲。主風木之氣鬱於中土所生也。大者為蝕蟲。乃宿食所化也。有下蝕者。本心包之火協三焦蘊熱而成。著於前後二陰。名曰陰蝕。小如絲色白。抑或濕熱下注。兼以房事相侵。致陰中蝕爛。名曰蝕瘡。三者皆能使人咽乾而陰中痛癢。有蝕齒者。生於齒縫齒齦。小如絲髮。疼痛難忍。或名齒蛇。或名牙疳。能穿肉入骨。此症本於外感未解。邪火協心火熏灼而成。有小魚蟲者。如盆魚子初生之小。有兩目。有生足者。有無足者。吐出時如魚子動遊狀。此乃胸氣不布。痰飲協木氣所生。故肝著症久而不愈。多生紅蝕。亦有眼目多壞。有鼠婦蟲者。形如小鼠婦。背有鱗甲。色微赤。有頭足眼目。吐出能跳躍。此受惡濁異氣。酒性鬱怒合化而生。然蟲症雖多。而仲師之方。未有不備也。今舉小兒疳病治法。意以補土清金。使天氣降而熱氣消。則土潤葉茂矣。近醫知為疳病。不辨寒熱實虛。多用毒藥殺蟲。而不知其愈殺愈生也。本方用雄黃、葶藶、豬脂、槐枝。主通氣行血之品。點藥烙之。如打摩之法。去積聚。調氣血。點之亦即熏之之法也。後人有神照法。從內經馬膏桑鉤方及此方套出。</p>

<h1>後跋</h1>
<p>金匱歌括者。吾師靈石先生續師祖修園老夫子大人金匱淺注之後而作。所以便後學傳誦之章也。會未及門時。即讀傷寒論淺注並長沙歌括。沉潛玩索。竟莫能窺其底蘊。本年春。因從吾師遊。聞吾師緒論。深以未成父書為憾。及夏間。金匱淺注書成付梓。復踵成歌括六卷。俱告竣。吾師學有淵源。能繼先志。雖殫精竭慮歷有年所。亦可謂息重任矣。會不敏。忝附門牆。瞻仰吾師家傳之精蘊。豈遽能彷彿萬一哉。是書之出。有裨於世。而海內之先快睹者。已不啻景星慶雲之慕矣。會又何庸贅焉。</p>
<p><u>受業門人葉享會謹跋。</u></p>
