<header data-type="book">
<h1>內府秘傳經驗女科</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔廷賢</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1716">公元1716年</data></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>月經前期論（一）</h2>
<p>其症血來如豬肝水，五心作熱，腰疼，小腹痛，面萎色黃，不思飲食，乃氣血皆虛。先用黃芩散，退其五心煩熱。後用調經丸，次月血勝疾除，而人清安矣。</p>
<p><u>黃芩散</u></p>
<p>川芎　川歸（酒洗、炒）　白芍　蒼朮（米泔浸）　甘草　天花粉　知母　黃芩</p>
<p>水一盅，煎七八分溫服，渣並。</p>
<p><u>調經丸</u></p>
<p>三稜（醋炒）　莪朮（醋炒）　川芎　川歸（酒洗）　白芍（酒洗）　小茴　生地（酒洗）　熟地　八角茴　玄胡　白茯　砂仁　烏藥　香附（各二兩，童便炒）</p>
<p>上為末，早米糊丸，梧桐子大，不拘時，酒下百丸</p>

<h2>月經後期論（二）</h2>
<p>其經來如屋漏水，頭昏目暗，小腹作痛，更兼白帶，咽中臭如魚腥，噁心吐逆。先用理經四物湯，次服內補當歸丸，下月疾愈。</p>
<p><u>理經四物湯</u></p>
<p>川芎（三）　川歸（七，酒洗）　白芍（七）　生地（八）　黃芩（七）　白朮（八）　柴胡（五）　香附（一錢）　玄胡（一錢）　三稜（七，醋炒）</p>
<p>水一盅，煎七分。</p>
<p><u>內補當歸丸</u></p>
<p>續斷（八）　阿膠（一，炒）　甘草（四錢）　川芎（七錢）　乾薑（五錢，炙）　白芷（六錢）　白芍（一錢二，酒炒）　熟地（五錢）　蒲黃（一錢）　厚朴（八分，薑汁炒）　吳茱萸（七錢）　附子泡　白茯苓（八錢）　肉蓯蓉（八錢，酒洗）</p>
<p>上或各一兩，蜜丸如梧桐子大，空心酒下八十丸。</p>

<h2>月經或前或後（三）</h2>
<p>其症因脾土不勝，不思飲食，由此血衰，月水往後期矣。或次月飲食多進，月水又往前矣。用藥不須調血，只宜理脾，脾土勝旺，血勻氣順，自然應期，當紫金丸。</p>
<p><u>紫金丸</u></p>
<p>青皮　陳皮　良薑　蒼朮（米泔水浸）　檳榔　枳殼　砂仁（微炒）　紅豆　香附（制）　烏藥　三稜（醋炒）　莪朮（各二兩）</p>
<p>上為末，早米糊丸，梧桐子大，食前米湯送下百丸。</p>

<h1>卷二</h1>

<h2>脈法</h2>
<p>左手寸脈洪，主胸中之怒氣。關脈洪，主心中之冷氣。尺脈洪，主不孤。左三指般大，主孕有思在內。尺脈小如線發，主作脈，女人血堂病，月紅或前或後。</p>
<p>右手寸脈洪，主上焦熱，咳嗽有痰，身發潮熱。關脈洪，主冷氣作痛。尺脈洪，主孕。尺脈小，主子宮冷。兩手六脈一般洪緩而清利，主壽高。六脈俱小如線大，主胃弱不能飲食，腰痛頭暈敗血。六脈俱洪大浮弦，主有風氣。女人除此與產後，余與男子同。男子左手洪右手弱，主大利。女子右手洪左手弱，主大利。</p>

<h2>辨孕男女脈法歌</h2>
<p>左手實大是男胎，右手弦洪是女孩，兩尺偏大分男女，命門滑實主懷胎。</p>

<h2>調經</h2>
<p>趕前為熱，退後為虛。血滯宜破，血枯宜補。常時與經前作痛為血積，經後痛為血虛。常時發熱為血虛有積，經行發熱為血虛有熱。</p>
<p>【主意】</p>
<p>婦人坤道血為基，氣血調和體最宜。血盛氣衰應可治，血衰氣旺漸乖違。血熱先期風熱紫，寒痰黃淡濕違期。作痛行經氣血滯，行過作痛血氣虛。經血有調宗四物，濕痰枳、術二陳推。脈數黃芩荊芥穗，氣血力弱入耆參。沉遲氣滯檳榔佐，作痛滿悶入青皮。虛熱逍遙補心類，清之經血自如期。</p>
<p><u>逍遙散</u></p>
<p>白朮（炒）　川歸　柴胡　白芍　黃芩　薄荷　地骨皮　天花粉　龍膽草　石蓮子</p>
<p>水煎服。</p>

<h2>經閉</h2>
<p>夫經閉不通者，或墜胎及多產傷血，或久患潮熱消血，或久發盜汗耗血，或脾胃不和、食少而不生血，或痢疾傷風失血，或七情傷心氣停鬱結，故血閉而不行也。治宜生血、補血、調血。</p>
<p>【主意】</p>
<p>經凝氣滯不流通，故閉將來紫淡紅，病後汗多思損血，或因濕熱冷兼風。氣鬱沉微當利氣，緊寒血積又疏通，四物檳榔附莪朮，桃仁牛膝桂虻蟲，弦濡氣虛參白朮，黃耆鞭草牡丹芎，其間胃火乾枯涸，酒佐將軍大有功。</p>

<h2>崩漏</h2>
<p>皆由勞傷血氣，損衝任二脈，氣血俱虛，不能約制其經血，故忽暴下者，或漸成淋瀝者，蓋婦人皆由心事不定，或人事少，故貴勢脫。先富後貧，皆心火上炎，治當勸諭，而行鎮心火之藥。</p>
<p>【主意】</p>
<p>崩漏皆由血氣傷，脈來弦大細而長。東垣下陷不言熱，學者須知要忖量。丹溪每論虛濕熱，陰搏陽弱病之詳。脈弦而數當清熱，荊芥黃芩未服良。百草霜研宗四物，痛入延胡炒黑姜。脈濡氣虛參白朮，續斷黃耆功效強。久崩下陷宜升舉，養血調脾瀉二陽。</p>

<h2>赤白帶</h2>
<p>赤屬血，白屬氣，濕熱為病，漏與帶俱是胃中痰積下流，滲入膀胱，稠黏者是。又有如白湯者，名曰白濁，主燥濕為先，法當升之，甚者法以提其氣，宜斷厚味。</p>
<p>【主意】</p>
<p>白帶根因濕熱當，赤榮白衛不調和。來而腰膝皆痠痛，漏下時多骨木枯。脈來弦緩傷乎風，炒姜散服絕其疴。伏龍肝散多靈驗，脈數樗根效更多。</p>
<p><u>伏龍肝散</u></p>
<p>伏龍肝　艾葉　川芎（各一錢五分）　赤石脂（煅）　麥冬（去心）　乾薑（炙）　川歸　肉桂　甘草　熟地（各三分）</p>
<p>加棗煎服，或為末，米飲酒下。</p>

<h2>安胎</h2>
<p>胎氣宜清不宜熱，宜靜不宜動，有因胎病不安者，有因母病而胎不安者，宜預安之。</p>
<p>【主意】</p>
<p>妊婦全憑氣血諧，傷情冷熱挫為災。傷血脈濡宜四物，四君脈大旋安排。挫氣縮砂為末服，術芎芩歸不傷胎。</p>
<p><u>安胎飲</u></p>
<p>熟地　白朮（炒）　當歸（酒洗）　川芎　白芍　茯苓　黃芩　甘草　阿膠（炒）　地榆　艾葉（各五分）　姜（三片）</p>
<p>水煎服</p>
<p>胎氣鬱滯者，宜參蘇飲。</p>
<p>人參（二錢）　蘇葉（五錢）</p>
<p>水煎服</p>
<p>脾氣虛弱者，宜六君子湯。</p>
<p>人參　甘草（各五錢）　白朮（炒）　茯苓（各一錢）　半夏（制）　陳皮（去白七分）　加紫蘇　枳殼　姜（二片）　棗（二枚）</p>
<p>水煎，不拘時服</p>
<p>鬱結傷脾者，宜歸脾湯。</p>
<p>人參　黃耆　茯神　甘草　木香（忌火）　酸棗仁（炒）　白朮（炒）　圓眼肉　加柴胡　梔仁（炒黑各等分）　姜（一片）</p>
<p>水煎服</p>
<p>鬱怒肝脾者，宜四七湯。</p>
<p>蘇葉　厚朴（薑汁炒）　茯苓（各一錢）　半夏（薑製，一錢五分）</p>
<p>加川芎、川歸，怒動肝火加五味子、柴胡、薑、棗煎服。</p>

<h2>漏胎</h2>
<p>妊娠月水時下者，皆由衝任脈虛，不能約制經血，血漏盡則胎斃矣。有勞役喜怒不節，或飲食觸冒風寒，或母有宿疾，為風冷所乘，氣血失度而血漏下。</p>
<p>【主意】</p>
<p>漏胎血少氣偏虛，不能衛護熱乘之。脈數黃芩加白朮，安胎主藥善扶持。弱脈血虛全四物，艾膠制炒要知宜。下陷升提分濕熱，氣虛應可用參耆。</p>

<h2>胎痛</h2>
<p>夫胎痛者，皆妊婦禁忌不知，或由生冷或觸風寒，邪正相擊，隨氣上下，衝於心則心痛，攻於腸胎，則腸胎痛。</p>
<p>【主意】</p>
<p>胎痛分明胎氣傷，致令妊婦痛長聲。脈來細緊寒食氣，縮砂四氣最為良。脈澀血虛宜四物，紫蘇香附服安詳。尺數熱痛連炒入，診脈須分陰與陽。</p>
<p><u>四七湯</u></p>
<p>蘇葉　厚朴（姜）　白茯苓（各一錢）　半夏（一錢五分，薑製）</p>
<p>加薑、棗，水煎服。</p>

<h2>惡阻</h2>
<p>皆婦人稟受怯弱，或有風氣，或有痰飲，凡妊便是有病，其婦顏色如故，脈息和順，但覺體肢沉重，頭目昏眩，擇食，惡聞氣味，好食酸鹹，甚者作寒熱，嘔吐痰水。輕者不必服藥，重者以半夏湯，茯苓丸可也。</p>
<p>【主意】</p>
<p>血奪胃氣嘔咽乾，一云痰火自相搏，飲食下咽隨口出，致令惡阻食難吞。半夏茯苓湯要藥，二陳藿術亦為尊。脈分熱冷並虛實，順氣和脾胎自安。</p>
<p><u>半夏湯</u></p>
<p>半夏（薑製）　縮砂（各二兩）　茯苓　白朮（炒）　杏仁（去皮尖）　芍藥（各五兩）　竹葉（三十片）　大棗（五枚）　陳皮（五兩）</p>
<p>水煎服</p>
<p>半夏甘而益脾，辛而散滯。姜所以製半夏之毒也。脾喜燥而畏濕，故用白朮燥脾，茯苓滲濕。脾喜通而惡塞，故用杏仁利氣，陳皮泄氣，竹葉清氣，能去水中之火，芍藥味酸，能瀉土中之水，大棗取其甘而益脾耳。</p>
<p><u>茯苓丸</u></p>
<p>赤茯　人參　桂心　乾薑（炙）　半夏（制）　陳皮（各一兩）　白朮（炒）　乾葛　枳殼　甘草（炙）</p>
<p>共為末蜜丸，梧桐子大，每服五十丸，一日三服</p>
<p><u>半夏茯苓湯</u></p>
<p>半夏（制）　茯苓（八分）　砂仁（炒）　陳皮　甘草（各四分）</p>
<p>加棗、薑、烏梅，水煎服二三劑，再服茯苓丸。此方健脾化痰滯要藥，或加白朮為好。若食滯加枳殼，氣惱加柴胡。</p>
<p><u>回春散</u></p>
<p>白茯苓（一錢）　半夏（制，一錢）　陳皮（五分）　蒼朮　厚朴（各一錢、薑汁炒）　砂仁（五分）　藿香（八分）　乾薑（二分）　烏梅（一個）　甘草（三分）</p>
<p>加姜三片，水煎服。</p>

<h2>胎腫</h2>
<p>凡孕婦有通身腫者，有腳腫者，俗乎為胎腫，又名胎水。或脾虛不能制水者，血散四肢而腫，有胎挾水，水血相搏者，有胃虛濕者，有乘風冷者，有痢瘧後而腫者，有飲食太過者，有腹脹而腫者。</p>
<p>【主意】</p>
<p>胎腫皆因濕熱多，山梔、卜子炒宜過，研末米調稠服下，管教虛腫漸消磨。</p>

<h2>子煩</h2>
<p>夫妊娠而子煩者，是肺臟虛熱乘於心，則心煩。停痰積飲在心胸之間，或中於心，亦煩也。若熱煩者，但熱而已。若有痰而煩者，惡聞食，氣則煩燥。</p>
<p>【主意】</p>
<p>妊婦心驚悶子煩，病因二火君火四月，相火六月在其間。竹葉湯除虛燥病，門冬飲子似仙丹。</p>
<p><u>犀角散</u></p>
<p>生犀角（涼心，鎊）　地骨皮（退熱）　麥冬（清金，去心）　赤茯苓（導赤）　條芩（瀉火）　甘草（生用和中）</p>
<p>水煎服。</p>
<p><u>竹葉湯</u></p>
<p>白茯（二錢）　防風（一錢）　麥冬（一錢五分）　黃芩（一錢五分）　竹葉（五片）</p>
<p>水煎服</p>
<p><u>門冬飲子</u></p>
<p>麥冬（去心）　人參　知母（各一錢）　生地（八分）　茯神（七分）　五味　栝蔞仁　葛根（各五分）　甘草（三分）　竹葉（七片）</p>
<p>水煎服</p>

<h2>子癇</h2>
<p>孕婦忽然冒悶，不識人事，角弓反張，須臾則蘇，狀若中風，名曰子癇，亦謂之風症，又名子冒。四物湯養血，加連、芩降火。四物湯方在前。</p>
<p>【主意】</p>
<p>孕婦筋強語塞痰，或時發搐故名癇，脈浮弦滑羚羊散，煎服祛風漸漸寬。</p>
<p><u>羚羊散</u></p>
<p>羚羊角（鎊）　獨活　酸棗仁（炒）　五加皮（各八分）　防風　川芎　苡仁　茯神　川歸（酒洗）　杏仁（各四分去皮）　木香（忌火）　甘草（各三分）　姜（三片）</p>
<p>水煎服</p>

<h2>子懸</h2>
<p>胎氣不和，懷胎迫上，脹滿疼痛，謂之子懸。恐難產。</p>
<p>【主意】</p>
<p>胎氣湊上腹心田，滿悶脹痛曰子懸，紫蘇散子安胎氣，須教一服遂安然。</p>
<p><u>紫蘇散</u></p>
<p>紫蘇　人參　陳皮（去白）　大腹皮（洗淨）　歸尾　川芎　粉草　白芍　加姜（五片）　蔥白（七寸）</p>
<p>煎服。胎前諸病，俱以此加減，腹痛加香附、木香，熱加條芩，咳嗽加枳殼、桑白皮，嘔加砂仁，瀉加白朮、茯苓。</p>

<h2>子淋</h2>
<p>妊婦腎虛，膀胱熱也。腎虛不能利水，則小便數也。膀胱熱則小便澀而不利。妊娠之婦胞系於腎，腎間虛熱而成淋疾，甚者心煩悶亂，名曰子淋。</p>
<p>【主意】</p>
<p>子淋散在便淋中，熱結便癃氣不通，安榮散子功多效，服之寬快有奇功。</p>
<p><u>安榮散</u></p>
<p>麥冬　通草　滑石　川歸　燈心　甘草　人參　細辛（各五分）</p>
<p>水煎服。</p>

<h2>胎死上喘</h2>
<p>因母患熱病，至六七日以後臟腑極熱，熏蒸其胎，而致胎死自冷，不能自出而作喘。產母舌青者死。</p>
<p>【主意】</p>
<p>脈沉病喘死胎中，動熱傷胎氣上衝，桂射和勻酒調下，黑神散子亦能通。</p>
<p><u>黑神散</u></p>
<p>熟地　蒲黃（炒）　黑乾薑　當歸　白芍（酒炒）　桂心（各三兩）　甘草（三錢）　黑豆（炒去皮，三合半）</p>
<p>共為末，每服二錢，童便和酒調下。它本用赤芍。</p>

<h2>胎衣不下</h2>
<p>產時用力，惡血上逆，胎衣亦隨氣上，心頭迷悶，須臾不止，即亡而不救矣。</p>
<p>【主意】</p>
<p>胎衣不下為何如，疲倦皆由用力過。停風衣冷或血入，胞腫令人無奈何。急服奪命丹行血，牛膝湯煎效更多。益母童便酒調下，胞衣下利更清佳。</p>
<p><u>奇命丹</u></p>
<p>附子（泡一錢）　丹皮（一兩）　乾漆（一錢，炒、煙盡為度）　大黃（一兩）</p>
<p>共為末，大黃成膏，丸梧桐子大，酒下五七丸。</p>
<p><u>牛膝湯</u></p>
<p>牛膝　川芎　朴硝　蒲黃（各三兩）　川歸（一兩四錢酒洗）　桂心（五錢）</p>
<p>共為一劑，每服（五錢）　姜（三片）　加生地（一錢）　水煎。</p>
<p><u>又方</u></p>
<p>牛膝　瞿麥　歸尾　木通（各一錢）　滑石（二錢）　冬葵子（酒洗，一錢五分）　枳殼（一錢）</p>
<p>水煎熱服，治婦人生理不順，用此滑利水道，令兒易產，藥分三服，水二盅，煎八分溫服。</p>

<h2>產後寒熱</h2>
<p>凡發熱乃氣虛甚，非有實熱也。有內傷發熱，有外感發熱惡寒者，亦血氣虛甚，有瘀血作者。</p>
<p>【主意】</p>
<p>產後發熱又增寒，中感須知有幾般。外邪身熱脈浮緊，五積交加病自安。右寸脈大頭不痛，發熱皆由宿食存，香砂二陳加麥用，內傷莫作外傷看。小腹滿疼有瘀血、增寒壯熱掌心溫、弦緊脈宜五積散，延胡蔥白散為尊。日晡潮熱宜八物，脈虛弦大補中論。醫臨藥脈如臨陳，虛實分明仔細參。</p>
<p><u>五積交加散</u></p>
<p>厚朴（薑汁炒）　陳皮　桔梗　蒼朮（米泔水浸）　川芎　白芷　白茯　川歸　香附（制）　半夏　枳殼（炒）　乾薑（炙黑）　肉桂　甘草（炙）　麻黃　白芍（酒炒）　青皮　羌活　獨活　柴胡　前胡　人參（邪勝不可用參）　水（二鍾）　姜（三片）　蔥（一根）</p>
<p>煎至八分，溫服。</p>
<p><u>五積散</u>（其方見二十三內）</p>
<p><u>八物湯</u></p>
<p>人參　白朮（炒）　茯苓　甘草（減半，炙）　歸身（酒洗）　熟地　芍藥（酒炒）　川芎（各等分）</p>
<p>他本有砂仁。水二盅、姜三片、棗一枚，煎服。</p>

<h2>產後血暈</h2>
<p>宜用生化湯。有血多去而暈，宜大補血。有氣虛而暈，宜大補氣。有痰火泛上而暈，宜清痰降火。有瘀血不行而暈，消瘀血為主。</p>
<p>【主意】</p>
<p>血暈皆由血去多，血虛痰動耳鳴鑼，脈息沉微加冷厥，若然不治漸成瘕。</p>

<h2>產後腹痛</h2>
<p>若腹滿者，當去惡血，腹不滿者，虛作痛也。</p>
<p>【主意】</p>
<p>惡血不盡痛憂疑，脈來細緊與沉遲，聚寶丹磨隨飲引，童便和酒最相宜。脈弦而緊黑神散，血利玄胡桂與歸，心腹絞痛並兒枕，蒲黃宜入五靈脂。</p>
<p><u>失笑散</u></p>
<p>五靈脂　蒲黃（各一錢）</p>
<p>用醋水煎服</p>
<p><u>聚寶丹</u></p>
<p>沒藥（炙去油）　真琥珀（另研）　當歸（酒洗焙乾研末）　木香（各一兩）　乳香（五錢，炙，去油）　辰砂（水飛）　麝香（各一錢。另研）</p>
<p>上為末，或滴為小丸，或用酒糊為錠子，每用一錠，酒下或童便下尤妙。</p>

<h2>陰戶脫</h2>
<p>氣血虛甚所以脫下，但宜養血和氣，自收腰肚，常宜熱之。</p>
<p>【主意】</p>
<p>戶物形如帕下垂，俗名呼作產門頹。治宜補氣兼升法，清氣升時物自回。用補中益氣湯，十全大補中亦可。</p>

<h1>卷三</h1>

<h2>調經種子</h2>
<p>婦人之病，多是月候衍期，或前或後，或多或少，小腹急痛，每至經脈行時，頭眩，飲食減少，氣滿，崩漏不止，腰腿疼腫，赤白帶下，並宜調理。</p>
<p>【主方】</p>
<p>川芎（七分，血藥中能使氣化流行，以養心血，取其辛溫能行血之滯也。）　當歸（一錢，大能和血補血，諸血症皆宜全之。）　白芍（八分，治血虛腹痛之劑也。主收斂腹中疼痛，酒浸煨用。）　生地（一錢，能涼心血，疏血或衄血，吐血，凝滯瘀血，崩中血不止，胎動下血，大腸結燥，大便不潤者，皆當用之。）　香附（八分，氣重味輕而辛散，婦人之聖藥也。蓋婦人心性偏執，每多鬱滯，所謂多氣少血此也。此藥能疏氣散瘀。）　益母草（一錢，取其活血養血也。）　甘草（三分，能和藥性。）　牡丹皮（七分，治腸胃積血，除結氣，破瘀血，吐血衄血之聖藥，及無汗骨蒸者，其能養真血而去敗血，固真氣而行滯氣耳。）　五靈脂（一錢，逐瘀血，腳膝痛不可忍者，炒令煙盡為末。）　白茯苓（八分，潤其肺，生津補脾，雖曰：淡滲而其味尚甘，其陰虛者，無害也。）</p>
<p>每劑水二盅、生薑三片、棗一枚、煎八分空心溫服。</p>
<p><u>加減法：</u></p>
<p>經水不及期先來者，血熱也。加酒炒黃連（七分）。過期紫黑有塊，亦血熱也，更加黃連。過期而行者，血寒也、加煨乾薑、肉桂（各三分）。臨期正行作痛，加玄胡（八分）、青皮（五分）；經行或斷續不來，積塊刺痛，加紅花、蘇木、桃仁（各五分）；經水來過多，加黃芩（炒一錢）、蒲黃（八分），經水來即病，飲食少思，加白朮（八分）、陳皮、砂仁（各五分）；肥人痰多，赤白帶下，加南星（八分），蒼朮（八分）；氣血虛弱，四肢痠軟，面無顏色，加人參、黃耆（各五分）</p>
<p>月信趕前，宜用涼藥以清熱。退後為虛，宜用溫藥以補虛。分而為二，當審而用之，但服養血益血，補養脾胃諸藥，而血自行矣。</p>
<p>【主方】</p>
<p>白芍（一錢酒炒，瀉脾經之火，伐肝木。）　當歸（一錢酒洗，能補婦人諸血不足。）　白朮（一錢，陳壁土炒，大能除濕痰，故脾胃能補而清順，氣得之而能健也。與當歸、白芍同，即清脾則濕熱能消）　半夏（七分薑湯泡，性躁而能除濕痰、故脾胃得之而能健也。）　白茯苓（八分。去皮，滲利治痰嗽，去胞中之火。）　人參（七分。入肺經，助肺氣而通經活血，此乃氣中之血藥也。）　甘草（三分。除頭熱、肌熱之聖藥。）　阿膠（一錢。蛤粉炒成珠，保肺經養肝血，補虛止嗽，血症皆用之。）　五味子（五分。酸苦而微帶辛，能引酸苦入肺腎，以收斂肺氣而滋腎水。其止嗽益氣除煩，補虛生津止渴）　柴胡（八分。去蘆，瀉肝膽之火。）　川椒（三分。補暖下焦。）</p>
<p>每帖水二盅　姜三片煎，食前稍熱服。</p>
<p><u>加減法</u></p>
<p>五心煩熱，日晡潮熱，加胡黃連（五分）；不思飲食，加神麯　麥芽（各二分）；頭痛，加川芎（七分）。</p>
<p><u>通經散</u></p>
<p>治婦人月經不通，或積瘀血，時常作腹痛，攻刺小腹堅硬有塊，及室女經不通，此藥能通利之。</p>
<p>劉寄奴（二兩）　當歸尾（一兩）　辰砂（三錢，另研）　赤芍（一兩）　紅花（一兩）　穿山甲（一兩，炒）　玄胡索（一兩）　莪朮（一兩，醋炒）　官桂（三錢）　烏藥（一兩）　牡丹皮（一兩，酒洗）　川牛膝（一兩，酒洗去蘆）　三稜（一兩，醋炒）</p>
<p>共為細末，每服二錢，空心熱酒調下，如不用酒，薄荷湯和醋送下亦可。此方善能通經，用之於血滯者可矣。若畏而不服，養病自貽患也，然多服亦未見有誤。</p>
<p><u>養榮湯</u></p>
<p>瘦怯婦人不能孕育者，以子宮血少也，可用此湯以補陰血不足，能養血滋陰，血足自然易孕。</p>
<p>川芎（一兩）　當歸身（二兩，酒洗）　白芍（二兩，酒炒）　淮熟地（四兩，洗淨蒸）　山藥（二兩）　澤瀉（一兩五錢，去毛）　山萸肉（二兩，去核）　牡丹皮（二兩，去骨洗淨）　白茯苓（二兩，去皮）　黃柏（四兩，酒炒褐色）　知母（二兩，去毛酒炒）</p>
<p>共為細末，煉蜜丸，如梧桐子大，每服八十丸，空心鹽湯下，冬月溫酒下。</p>
<p><u>加味調經丸</u></p>
<p>血熱經水先期，氣旺痰火者，服此藥易孕。</p>
<p>香附子（五斤分作五分，一分用鹽水浸，一分童便浸，一分醋浸，一分無灰酒浸，一分米泔水浸。每分浸法：春浸三日，夏浸二日，秋浸五日，冬浸七日，仍用原汁煮，不可犯鐵器，用蔥五斤取白，切細拌香附焙乾，以蔥黃色為度。）　川芎（二兩）　當歸（四兩，酒洗）　白芍（四兩）　生地（四兩）　黃連　黃芩（各三兩）　橘紅（二兩）　青皮（一兩五錢）　柴胡（二兩）　白芷（二兩五錢）　荊芥（五兩）　活石（五兩）</p>
<p>水飛過，共為末，醋面打糊，丸如梧桐子大，每服八十丸，空心白滾湯下。</p>
<p><u>烏雞丸</u></p>
<p>治婦人羸瘦弱甚，血虛有熱，經水不調，赤白帶下等症。女科切要之藥，服之多子。醫家不審氣血冷熱，妄投膠艾、薑桂香燥之藥，令人有子。殊不知積濕成熱，服者無不被禍縱，受孕而墜者多矣。然世俗概用濟陰暖宮，聚寶丹，艾附等丸，以為得當。前藥品乃溫熱之藥，助火消陰之劑，必致誤人矣。故參出此方，懷孕時自宜斟酌。若素有墜胎之患，亦宜禁忌惱怒，及姜蒜熱物之類宜戒之。此藥性平和，滋養血氣，安胎保全月事。</p>
<p>白毛烏骨公雞（一隻肥重者閉死，去毛腸淨，用京酒和水與雞放在罐內，浸沒雞兩寸深，將文武火煮乾去骨，將肉搗爛作餅，瓦上焙乾研為細末。）　香附子（六兩同米泔水、京酒同浸，春秋浸三日，夏浸一日，冬浸四日，取火焙之。）　熟地（三兩）　當歸（三兩，酒洗）　川芎（二兩）　白芍（二兩，酒炒）　人參　白朮　黃耆　白茯苓　川續斷　砂仁　杜仲（薑製炒去絲，一兩）　川牛膝（一兩五錢，去蘆，酒洗）　肥知母（二兩，酒炒）　鹿角膠（二兩）</p>
<p>上共為細末，再用山藥（八兩，為末，酒打糊為丸），將鹿角膠用酒溶化入藥同搗，丸如梧桐子大，每服六十丸，漸加至八九十丸，早晨溫酒送下或米湯亦可，忌煎炒辛辣之物及莧菜。</p>
<p><u>求嗣經驗育胎丸</u></p>
<p>紫河車（一具，初生男胎為妙，連帶者更佳，以米泔水洗淨，新瓦上烘乾為末。）　丹雄雞腎（八副，味甘溫無毒，暖婦人血海，鬢甲未毛童雞為佳，煮熟取腎）　益母草（一斤，研細末三兩，味辛氣溫，調經水，產後胎前諸疾，活血養血。）　蓮子（去心二兩，主補五臟益元氣，安精神開心養血。）　淮熟地（六錢，主治女子傷中胞胎，補五臟血氣不足，通血脈益氣力）　白茯苓（三錢去皮，主開胸膈，調臟氣，養心血神守中。）　山茱萸（三錢去核，主溫中下氣，強益精安五臟，通九竅暖腰膝。）</p>
<p>共為細末擇壬子日煉蜜丸龍眼大，待經事至空心服二丸，用蠟酒送下，連服三日。又候經盡如前服之，以受孕見效為度。有孕不可服，忌煎炒、椒、薑、蔥辣之物。此藥平氣血，補暖子宮血海之功極大，故易孕也。</p>
<p><u>虛損補中湯</u></p>
<p>婦人調經，胎前，產後，崩漏虛損諸症。</p>
<p>川芎　當歸（酒洗）　白芍（酒拌炒各一兩）　白朮（米泔水洗，一兩五錢）　人參（去蘆）　黃耆（蜜炙去毛不用）　陳皮（各一兩）　鹿角膠（一兩五錢，頓化入藥）　砂仁（五錢，炒）</p>
<p>上為末，煉蜜為丸，如梧桐子大，每服八十丸，空心滾白湯下。</p>
<p><u>熬鹿角膠法</u></p>
<p>用鹿角劈碎，米泔水浸四五宿，用清水洗淨，以新罐盛之，罐內水滿為度，以罐入鍋內，水煮之，將罐口固扎勿令泄氣，用桑柴煮七日七夜，取起濾膠，宿將汁以文火煅成膏。煮時鍋內若干，加之熱水再煮，勿用冷水。取膠同煎藥，用之最取元氣，大補氣血。</p>
<p><u>四聖丹</u></p>
<p>諸男婦諸虛百損，並宜服之。</p>
<p>紫河車（一副洗淨，新瓦焙乾為末）　人乳（二兩，不拘多少，旋取於銀銚或銅銚中，漫火熬成膏，如飴糖色，淨用二兩）　秋石（二兩真者用乳缽盛之，取熬成乳，同曬乾連秋石四兩為度。）　鹿角膠（二兩用陳酒半碗，煮滾煅化）　甘枸杞（酒浸灑干取淨末，一兩五錢）　淮山藥（隔紙炒淨末一兩五錢）　白茯苓（去皮淨末，一兩四錢）　人參（淨末二兩）</p>
<p>上共合為一處，將鹿角膠化開，少加蜜拌勻，搗千捶為度、梧桐子大，每服五十丸，空心淡鹽湯送下。忌蔥蒜、蘿蔔、辛辣熱物。</p>
<p><u>丹參散</u></p>
<p>凡經水不調，或前或後，或多或少，產前胎不安，產後惡露不止，並皆治之。冷熱勞倦，腰脊骨節煩痛。</p>
<p>丹參（去蘆）</p>
<p>為末，每服二錢，酒調下。凡調經，胎前產後，湯藥中皆可加用之，極效。</p>
<p><u>金匱丸</u></p>
<p>治婦人之聖藥。</p>
<p>香附（一斤童便、酒、醋、鹽水各制四兩）　生地（一兩，酒浸洗，加益智仁二兩，用酒炒，去益智仁不用）　茯苓（四兩，去皮）　砂仁（二兩，炒去殼）　白芍（四兩，火煨）　當歸（四兩，童便洗）　白朮（六兩，米泔水浸，洗淨四兩）　白薇（六兩，水洗去蘆淨四兩）　黃芩（酒浸洗淨四兩）　人參（二兩）　木香（六錢忌火）　川續斷（六兩，酒洗淨，五倍炒）　阿膠（四兩，蛤粉炒成珠）　沒藥（六錢）</p>
<p>上為末，法制咀片極細，用山藥十二兩，搗碎，用清水打糊為丸，如梧桐子大，每日空心滾白湯送下五十丸，此藥大能調經，除百病如神效。此女科之聖藥也。</p>
<p><u>還少丹</u></p>
<p>治諸虛百損，調榮益衛，健脾補胃，壯陽滋陰，久服令人多子，能使白髮還黑，皮枯再潤，此王道平補之劑，功效甚大，不能盡述。</p>
<p>何首烏（赤白兩種各一斤，竹刀切片用。用黑豆拌蒸九曬去豆不用）　破故脂（八兩，用井花水浸三宿，再用胡桃泥拌透，去胡桃泥，將故脂研末。）　川牛膝（八兩，去蘆，用黑豆拌蒸，曬乾九次為末）　茯苓（赤白兩種各一斤，去皮筋研細末，井花水飛過，去浮者，只用沉底者，赤用牛乳，白用人乳，初煮乳滿為度，煮透以干為度，曬乾用。）　枸杞子（曬乾為末八兩）　菟絲子（八兩，酒浸三宿，加好酒浸透煮，曬乾為末。）　天門冬（去心曬乾，八兩）　麥門冬（去心，六兩）　熟地（黃酒洗淨，八兩）　生地（黃酒洗，六兩）　當歸身（酒洗，六兩）　冬青子（酒洗，八兩）　覆盆子（酒洗，八兩）　桑椹子（八兩）　旱蓮草（取頭末，八兩）　黃柏（蜜拌炒，二兩）　肥知母（蜜拌炒，二兩）　山萸肉（八兩）　龜板（二兩，醋、油炙）　虎脛骨（二兩，酥油炙）</p>
<p>上各味俱不犯鐵器，為末，煉蜜為丸，如梧桐子大，每服空心，或食前淡鹽湯或酒送下八九十丸，漸加至二百丸，服此藥時忌蘿蔔、牛肉、蔥、蒜、生冷、煎炒等物。</p>

<h2>崩漏論</h2>
<p>婦人崩漏，失血過多，由氣血俱虛損，傷子宮血海也。血氣之行外循經絡，內榮臟腑，重則為崩，輕則為漏。而衝任之氣虛，不能約制其經血，故脾不能統血，肝不能藏血，忽然血崩暴下，此等症候皆由脾胃氣血先損，能受補者可救。誤用止澀寒涼之劑，復傷脾胃生氣，使血反不歸經矣。</p>
<p>【主方】</p>
<p>人參（一錢）　炒白朮（一錢）　白茯苓（八分）　甘草（五分，炙）　小薊（一錢）　川芎（七分）　當歸頭（一錢，酒洗）　側柏葉（一錢，炒）　生地黃（一錢，酒洗）　</p>
<p>水二盅煎八分食遠服。</p>
<p><u>加減法</u></p>
<p>血暈，加荊芥（六分，炒）、澤蘭葉（六分）；虛汗，加黃耆（一錢蜜炙）　棗仁（八分去殼炒）；崩中日久，白帶不止，加龍骨、牡蠣（火煅，各一錢，研末，用絲綿裹入藥同煎）；血來多不止，加墨棕刷燒灰存性，綿灰（各三分，蓋血遇黑即止也；經血得熱，崩漏不止，口苦咽乾，小便短少，大便燥結，加黃連、黃芩、山梔（各五分，俱要酒炒）；血多紫黑如泥凝塊者，亦當用之。</p>

<h2>赤白帶論</h2>
<p>此症營衛滯氣之所成也。赤者屬榮，白者屬衛，乃病之常。然其症皆因喜怒憂思，素有濕熱傷於榮衛胞絡，使濁氣滲入膀胱，故流帶下。輕則來而不來，重則來而無度，使腰膝疼痛，飲食減常，精神短少，法當清上實下，清濁自分，理脾養氣，濕熱自解。更能薄滋味，溫補下元，則帶症自除矣。</p>
<p>【主方】</p>
<p>川芎（一錢）　當歸（一錢，酒洗）　白芍（一錢，酒洗）　生地（酒洗）　白朮（各一錢）　甘草（五分，炙）　蓮子（一錢，去心）　白扁豆花（七分，炒）　白雞冠花子（一錢，炒）</p>
<p>水二盅，煎一盅食遠溫服。</p>
<p><u>加減法</u></p>
<p>或加葵花五朵更妙（即一丈紅也，白者治白帶，赤者治赤帶。）瘦人多熱，加黃柏、黃連、香附（各五分）；肥人多濕痰，加蒼朮、天南星、半夏（各六分）、椿樹皮（一錢）；久下，加熟地黃（一錢）、山茱萸（八分）；氣虛，加人參、黃耆（各七分）；赤帶，加酒炒黃芩（一錢）、荊芥（六分）；腹痛，加乾薑（三分）。</p>

<h2>安胎論</h2>
<p>凡婦人氣血兩虛，懷孕無所榮養，故四肢無力倦怠，飲食少思，或平昔素有墜胎之患，蓋養胎者血也，護胎者氣也。保胎安孕者宜清熱也。懷孕如懸鐘在梁，梁軟則鍾墜，故安胎者必補氣血固中氣為主，又能養性情，戒暴怒則無墜胎之患矣。</p>
<p>【主方】</p>
<p>人參（五分）　黃耆（七分）　當歸（七分）　川芎（五分）　白芍（六分）　熟地（一錢）　黃芩（七分）　白朮（一錢）　甘草（五分，炙）　阿膠（一錢，蛤粉炒）　杜仲（六分去粗皮炒去絲，止腰腹痛）</p>
<p>用水兩盅，煎一盅，食遠微熱服。（月月數帖，服之為妙，或加艾葉）</p>
<p><u>加減法</u></p>
<p>腹痛，加砂仁（五分），取其止痛行氣也；憂怒鬱結者，加紫蘇、香附（各五分），取其和胎氣也。</p>
<p><u>安胎飲</u></p>
<p>胎前宜服，清熱養血。</p>
<p>歸身（一錢）　川芎（八分）　白芍　熟地　砂仁　陳皮（各一錢）　白朮（一錢）　條芩（一錢五分）　紫蘇　艾葉（各八分）　甘草（四分）</p>
<p>用水煎服。</p>
<p><u>加減法</u></p>
<p>下血不止，加蒲黃（一錢）、阿膠（一錢，炒）；腹痛，加香附、枳殼（各一錢）；腰痛，加杜仲、續斷；如胎漏，去陳皮、甘草，加香附亦妙，蓋此症屬氣血虛也。</p>
<p><u>丹溪安胎丸</u></p>
<p>白朮（炒）　沉水黃芩（各二兩）</p>
<p>為末粥丸如梧桐子大，空心服。虛人加人參　黃耆。郁加香附，火鬱加梔子，八九月後宜服達生散。</p>
<p><u>金匱當歸丸</u></p>
<p>孕婦宜常服。</p>
<p>川芎　當歸（酒洗）　白芍（酒炒）　黃芩（各四兩，納醋炒二兩）　白朮（麩炒）　阿膠（炒）　人參（各二兩）　砂仁（一兩）</p>
<p>共為末，麵糊為丸，如梧桐子大，每服六七十丸，空心用滾水或米飲湯送下。此方養血清熱藥也。瘦人血少有熱，胎動不安，素有半產者，宜預服之，以清其源，而後無患矣。婦人有孕則礙脾運化而生濕，濕而生熱，古人用白朮，黃芩為安胎之聖藥。蓋白朮補脾燥濕，黃芩清熱也。況胎孕賴血氣以養，此方加川芎、當歸、白芍、阿膠以補血，再加人參、砂仁，以安胎順氣止腹痛尤為佳也。服此方之後尤為易產。所生男女兼無胎毒，痘疹稀少，無病易育，屢服屢驗。</p>

<h2>產後論</h2>
<p>夫產後憂驚倦勞，血氣暴虛，諸症乘虛易襲。如有氣毋專耗散，有食毋專消導，熱不可用芩連，寒不可用桂附。寒則血塊停滯，熱則新血流崩。至若中虛外感，見三陽表症之多，似可汗也，在產後而用麻黃劑，則重竭其陽，見三陰里症之多，似宜下也，在產後而用承氣，則重亡其陰血。耳聾脅痛，乃腎虛惡露之停，休用柴胡。譫語汗出，乃元弱似邪之症，毋同胃實。厥由陽氣之衰難分寒熱，非大補不能回陽而起弱。痙因陰血之虧，非滋榮不能舒筋而活絡。又如乍寒乍熱，發作有期，症類瘧也，若將瘧治，遷延難愈。神不守舍、言語無倫，病似邪也，若以邪論，危凶可待。去血多而大便燥結，蓯蓉加於生化湯，非潤腸承氣能通。汗多而小便短澀，六君倍用參耆，生津助液之可利。加參生化，頻服救產後之厄，長生活命、屢用蘇絕谷之人。㿗疝脫肛，多是氣虛下陷，須補中益氣之方。口噤拳攣，乃因血燥類風，用加參生化湯。若產戶入風而痛甚，服用羌獨養榮之方。玉門傷冷而不閉，洗須床菟萸硫黃。怔忡驚悸，生化湯加遠志。似邪恍惚，安神丸助歸脾。因氣而滿悶虛煩、生化湯加木香為佐。因食而噯酸惡食，六君子加神麥為良。蘇木，稜，蓬大能破血，青皮、枳實最消滿脹。一應耗氣破血之劑，汗吐宜下之策，只可施於少壯，豈宜用於胎產。大抵新產之後，先問惡露何如，塊痛未除之人，可適加耆朮，腹中痛止，補中益氣無疑。至若陽亡大熱，血崩厥暈，速煎生化原方，乃急救也。王太僕云：治下補下，制以急緩，則滋道路而又力微，制急方而氣味薄，則力與微同，故治產當道丹溪先生固本，服藥法宜效太僕以加頻，凡負生死之奇術，須著意以救急，欲免俯仰之無愧，用存心於愛物。此雖未盡產症之詳，然所開一症，皆緣近鄉治驗為據，亦未必無小補云耳。</p>

<h2>產後血塊論</h2>
<p>凡產後血塊，孕乃成余血之所積也。夫婦人血旺氣衰，二七而天癸至，三旬一見，以象月盈則虧也，行之有恆，名曰經。有孕則經不行，其餘血注於胞中，以護胎元。然一月名胎胚，二月名胎膏，三月後始成形而名胎。方受母血之陰庇，胎形尚小，食母血尚有餘，計前二月並積於胞，日久成塊，至產隨兒當下。多有產婦送兒送胞，勞倦無力，或調護欠溫暖，致塊痛，日久方散。慎勿輕用攻血峻劑，勿多飲薑、椒、艾、酒，若過傷大熱，新血未免損失多矣。治法須頻服生化湯幾帖，以助血液行外，用熱衣暖腹。凡產後諸症，時俗之偏，治血塊有用生地、紅花以行之，蘇木、牛膝以攻之。治氣有用烏藥、香附以順之，枳殼、厚朴以舒之，甚有用青皮、枳實、蘇子以下氣定喘，用芩、連，梔、柏以除熱退煩。至若血枯大便實結，反用承氣下之而愈結，汗多小便短澀，反用五苓散通之而愈閉。其用偏門罔知固本。又有視山楂能攻血塊，弱人頻服二三次者，此人必死無疑矣。</p>

<h2>生化湯論</h2>
<p>凡產後氣血暴虛，理當大補，但惡露未盡，用補須知無滯。血能化又能生，攻塊無損元氣，行中又帶補養，方思萬全，治無一失。世以四物湯理產，誤人多矣。因地黃性寒滯血，芍藥酸寒無補正也。一產後惡露有塊作痛，名曰兒枕，世多專先消散，然後議補，又有消補混方，殊不知舊血須當清化，新血亦當生養，若專主攻舊，而新血亦不寧矣。世以濟坤丹又名回生丹治產，用以攻血塊下胞落胎，雖見速效，其元氣未免虧損，慎毋視為良劑。濟坤丹或不得已而用以下胞下胎，只可一丸，決不可多服。今予之生化湯，因藥性功效而立名也。蓋產後血塊當消，新血宜生。若專消則心血不寧，專生則舊血亦反滯矣。考諸藥性惟芎、歸、桃仁三品，藥性善破舊血，驟生新血，佐以炙黑乾薑，甘草引三品入於肺肝，生血利氣五味共方。則行中有補，化中有生，實產後聖方，因名生化湯。凡病起於血氣之衰，脾胃之虛，而產後血氣脾胃之虛衰尤甚。是以丹溪先生論產後必當以大補血氣為先，雖有他症，以末治之。此三言者，盡醫產之大旨，若能擴充立方用藥，則治症可以無大過矣。惟醫者詳之。生化湯有孕至七八個月，照方預製二三帖，至胞衣易破，速煎一帖，候兒下地即服。不問正產半產，雖少壯產婦，平安無恙，俱宜服二帖，以消血塊，生養新血。</p>
<p>當歸（八錢，酒洗）　川芎（四錢）　乾薑（五分，炙黑存性）　桃仁（十五粒去皮尖）　甘草（五分，炙）</p>
<p>用水二盅煎七分，加酒七茶匙稍熱服。渣留與後帖渣共煎，二帖共煎三次，要在一二時辰之內，未進飲食之先，相繼煎服。因下焦惡露而服，多服而頻，則連化而驟生長新血，自免暈症。其胎前素弱及產後勞倦，又當再製二帖煎服，以防昏倦。且產婦服一帖，漸增精神幾分，不厭藥之頻也。若照常症，今日服一帖，明日服一帖，豈能扶救將絕之氣血也。若虛人見危症及熱症墜胎或勞甚，身熱頭痛，服藥四五帖稍安，未除血痛，又當再製服之。</p>
<p><u>加參生化湯</u></p>
<p>治產後諸危急症，可通用一日一夜，必須頻服之三四帖，若照常症，今日一帖，明日一帖，豈能接補將絕之氣血，救危急之症哉。</p>
<p>當歸（三錢）　川芎（一錢五分）　乾薑（四分，炙黑存性）　甘草（三分，炙）　桃仁（十五粒，去皮尖）　人參（二錢）</p>
<p>若虛脫冷厥危症汗多，加參至三四錢之數，用棗水煎服，</p>
<p><u>加減法</u></p>
<p>脈脫形色脫將絕症，必服此方，頻灌救之，加參四五錢。分娩後血暈血崩症，如兼汗多，形色脫去宜服此方。若無汗不脫者，只服生化本方，不必加參。分娩後血崩形色脫，宜服此方，又宜頻煎服，必加參三四錢。分娩後手足冷發厥，服此方加參三四錢，兼汗亦加參三四錢，麥冬一錢。左尺脈弱，宜加人參。若產後汗多，加參三、四錢。汗多渴甚，加參三、四錢，麥冬三錢。汗多氣短似喘，加參三、四錢。汗多痰嗽，加竹瀝，薑汁，杏仁二十五粒。汗多嗽喘聲聲，加杏仁十粒，桔梗五分。無汗嗽喘氣短者加半夏一錢，杏仁十粒，桔梗五分。汗多身熱氣短加參三四錢，汗不止加黃耆一錢。</p>

<h2>產後症治活法</h2>
<p>凡產後三日內血塊痛，人參當緩。遇危急加參可救。如服此方病勢有生意，又當減參，再服原方。</p>
<p>凡產後七日內，未曾服生化湯，血塊痛未除，仍可服生化湯以消塊止痛。</p>
<p>凡新產及三日內，服生化湯二三服，痛塊未除，仍再服幾帖，自然塊消痛止，新血長旺，精神復舊矣。</p>
<p>凡產後七日內，血塊未除，不可加參、耆、白朮，如用之則痛不止，而塊難除。</p>
<p>凡產後或一二日內，血塊雖痛未止，其產婦氣血虛脫，或暈或汗多而厥，或形色脫去，口氣漸冷，或煩渴不止，或氣喘急，則又無論塊，從權多用參耆生化湯以扶危急。</p>
<p>凡暑月產後，照前服生化湯以除痛。外用熱衣裳暖腹，若失蓋，雖服藥，其病塊不散。</p>
<p>凡產後大便或八九日，或十日以上不通，由血少腸燥故也。宜多服生化湯加麻仁以通潤之，服川芎，當歸至斤數，自然通矣。虛加人參二三錢，慎勿大黃下藥。</p>
<p>凡產後一二三日內，服生化湯三四帖，塊覺減，其痛可揉按而定者，虛也。宜服生化湯內加人參三四錢。</p>
<p>凡產後三日內，感傷寒冷物，血塊凝結痛甚，生化湯內加肉桂五六分，至半月一月以上，凝塊者，宜四消丸及大補湯或補中益氣湯。</p>
<p>凡產後暈厥，脈脫形脫口冷諸危急症，從權惟人參可救，肥人有痰或暴怒卒中，生化湯加竹瀝、薑汁。</p>
