<header data-type="book">
<h1>難經本義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>滑壽</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
<pre data-sec="p">
主題：一難　論寸口脈與經脈榮衛度數
條文：一難曰：
　　　十二經皆有動脈，獨取寸口，以決五臟六腑死生吉凶之法，何謂也？
　　　然：寸口者，脈之大會，手太陰之脈動也。
　　　人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸。
　　　人一日一夜，凡一萬三千五百息，脈行五十度，周於身；
　　　漏水下百刻，榮衛行陽二十五度，行陰亦二十五度，為一周也，
　　　故五十度復會於手太陰；
　　　寸口者，五臟六腑之所終始，故法取於寸口也。
註解：[1]&lt;1&gt;十二經，謂手足三陰三陽，合為十二經也。
　　　　　 1.手經則太陰肺，陽明大腸,少陰心,太陽小腸,厥陰心包,少陽三焦
　　　　　　 也。
　　　　　 2.足經則太陰脾，陽明胃，少陰腎，太陽膀胱，厥陰肝，少陽膽也
　　　　　　 。
　　　　 &lt;2&gt;皆有動脈者：
　　　　　 1.如手太陰脈動中府，雲門、天府、俠白，手陽明脈動合谷、陽谿
　　　　　　 ，手少陰脈動極泉，手太陽脈動天窗，手厥陰脈動勞宮，手少陽
　　　　　　 脈動禾髎。
　　　　　 2.足太陰脈動箕門、衝門，足陽明脈動衝陽、大迎、人迎、氣衝，
　　　　　　 足少陰脈動太谿、陰谷，足太陽脈動委中，足厥陰脈動太沖、五
　　　　　　 里、陰廉，足少陽脈動下關、聽會之類也。
　　　　 &lt;3&gt;謂之經者，以榮衞之流行，經常不息者而言。謂之脈者，以血氣之
　　　　　 分袤行體者而言也。故經者，徑也。脈者，陌也。
　　　　 &lt;4&gt;越人之意，蓋謂凡此十二經，經皆有動脈，如上文所云者，今置不
　　　　　 取，乃獨取寸口，以決藏府死生吉凶何耶。
　　　[2]&lt;1&gt;此一篇之大旨下文乃詳言之。
　　　　 &lt;2&gt;寸口，謂氣口也，居手太陰魚際，卻行一寸之分，氣口之下曰關，
　　　　　 曰尺云者，皆手太陰所歷之處，而手太陰又為百脈流注，朝會之始
　　　　　 也。
　　　　 &lt;3&gt;五藏別論，帝曰：氣口何以獨為五藏主？
　　　　　 岐伯曰：胃者，水穀之海，六府之大源也，五味入口，藏於胃以養
　　　　　 五藏氣，而變見於氣口也。
　　　　 &lt;4&gt;靈樞第一篇云：脈會太淵。
　　　　 &lt;5&gt;玉版論云：「行奇恒之法，自太陰始」，注謂先以氣口太陰之脈，
　　　　　 定四時之正氣，然後度量奇恒之氣也。
　　　　 &lt;6&gt;經脈別論云：「肺朝百脈」，又云「氣口成寸，以決死生」。
　　　　 &lt;7&gt;合數論而觀之，信知寸口，當手太陰之部，而為脈之大會明矣。此
　　　　　 越人立問之意，所以獨取夫寸口，而後芯宗之，為不易之法，書之
　　　　　 篇首，乃開卷第一義也，學者詳之。
　　　[3]&lt;1&gt;承上文言，人謂平人，不病而息數勻者也。
　　　　 &lt;2&gt;呼者，氣之出，陽也。吸者，氣之入，陰也。
　　　　 &lt;3&gt;內經平人氣象論云：人一呼脈再動，一吸脈再動，呼吸定息，脈五
　　　　　 動，閏以太息，命曰平人。
　　　　　 1.故平人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸，以
　　　　　　 呼吸之數言之，一日一夜凡一萬三千五百息；以脈行之數言之，
　　　　　　 則五十度周於身，而榮衞之行於陽者二十五度，行陰者亦二十五
　　　　　　 度，出入陰陽，參交互注，無少間斷，五十度畢，適當漏下百刻
　　　　　　 ，為一晬時，又明日之平旦矣，迺復會於手太陰，此寸口所以為
　　　　　　 五藏六府之所終始，而法有取於是焉。
　　　　　 2.蓋以榮衞始於中焦，注手太陰陽明，陽明注足陽明太陰，太陰注
　　　　　　 手少陰太陽，太陽注足太陽少陰，少陰注手心主少陽，少陽注足
　　　　　　 少陽厥陰，計呼吸二百七十息，脈行一十六丈二尺，漏下二刻，
　　　　　　 為一周身，於是復還注手太陰。
　　　　　 3.積而盈之，人一呼一吸為一息，每刻一百三十五息，每時八刻，
　　　　　　 計一千八十息，十二時九十六刻，計一萬二千九百六十息，刻之
　　　　　　 餘分，得五百四十息，合一萬三千五百息也，一息脈行六寸，每
　　　　　　 二刻，二百七十息，脈行一十六丈二尺，每時八刻，脈行六十四
　　　　　　 丈八尺，榮衞四周於身，十二時，計九十六刻，脈行七百七十七
　　　　　　 丈六尺，為四十八周身，刻之餘分行二周身，得三十二丈四尺，
　　　　　　 搶之為五十度周身，脈得八百一十丈也，此呼吸之息，脈行之數
　　　　　　 ，周身之度，合晝夜百刻之詳也。
　　　　　 4.行陽行陰，謂行晝行夜也。
</pre>
<pre data-sec="p">
主題：二難　論尺寸為脈之大要會
條文：二難曰：脈有尺寸，何謂也？
　　　然：尺寸者，脈之大要會也。
　　　從關至尺是尺內，陰之所治也；從關至魚際是寸囗內，陽之所治也；
　　　故分寸為尺，分尺為寸。
　　　故陰得尺內一寸，陽得寸內九分，尺寸終始一寸九分，故曰尺寸也。
註解：[1]&lt;1&gt;尺，說文云ㄕㄟ，度名，十寸也。人手卻十分動脈為寸口，十寸為
　　　　　 尺，規矩事也，古著寸尺，只尋常仞諸度量，皆以人之體為法，故
　　　　　 從ㄕ從ㄟ，象布指之狀，十分也，人手卻一寸動脈，謂之寸口，　
　　　　　 又　一。
　　　　 &lt;2&gt;按如說文所紀，尤可見人體中脈之尺寸也，尺陰分，寸陽分也，人
　　　　　 之一身，經絡榮衞五藏六府，莫不由於陰陽，而或過與不及，於尺
　　　　　 寸見焉，故為脈之大要會也。
　　　　 &lt;3&gt;一難言寸口為脈之大會，以肺朝百脈而言也。此言尺寸為脈之大要
　　　　　 會，以陰陽對待而言也。
　　　　 &lt;4&gt;大抵手太陰之脈，由中焦出行，一路直至兩手大指之端，其魚際卻
　　　　　 行一寸九分，通謂之寸口，於一寸九分之中，曰尺，曰寸，而關在
　　　　　 其中矣。
　　　[2]&lt;1&gt;關者，掌後高骨之分，寸後尺前兩境之間，陰陽之界限也。
　　　　 &lt;2&gt;從關至尺澤謂之尺，尺之內，陰所治也。從關至魚際，是寸口，寸
　　　　　 口之內，陽所治也。
　　　　 &lt;3&gt;故孫思邈云：
　　　　　 1.從肘腕中橫紋至掌魚際後紋，卻而十分之而八，取九分，是為尺
　　　　　　 。（此九分者，自肘腕入至魚際為一尺，十分之為十寸，取第九
　　　　　　 分之一寸中為脈之尺位。）
　　　　　 2.從魚際後，又卻還度取十分之一，則是寸，（此寸字非寸關尺之
　　　　　　 寸，乃從肘腕橫文至魚際卻而取十分中之一，是一寸也，以此一
　　　　　　 寸之中，取九分為脈之寸口，故下文云。）寸十分之而入，取九
　　　　　　 分之中，則寸口也。
　　　[3]&lt;1&gt;寸為陽，尺為陰，陽上而陰下，寸之下尺也，尺之上寸也，關居其
　　　　　 中，以為限也，分寸為尺，分尺為寸，此之謂歟。分，猶別也。（
　　　　　 故自魚際穴起一寸之後，分為尺，自尺澤穴一尺之前，分為寸也。
　　　　　　）
　　　[4]&lt;1&gt;老陰之數終於十，故陰得尺內之一寸。（此尺字指魚際至尺澤，通
　　　　　 計十寸者而言。）
　　　　 &lt;2&gt;老陽之數極於九，故陽得寸內之九分。（此寸字指人手卻寸而言）
　　　　　 。
　　　[5]&lt;1&gt;寸為尺之始，尺為寸之終，云尺寸者，以終始對待而言，其實貯寸
　　　　　 得九分，尺得一寸，皆陰陽之盈數也。
　　　　 &lt;2&gt;龐安常云：越人取手太陰之行度，魚際後一寸九分，以配陰陽之數
　　　　　 ，蓋謂此也。
</pre>
<pre data-sec="p">
主題：三難　論太過不及等反常脈象
條文：三難曰：
　　　脈有太過，有不及，有陰陽相乘，有覆有溢，有關有格，何謂也？
　　　然：
　　　關之前者，陽之動也，脈當見九分而浮。
　　　過者，法曰太過；減者，法曰不及。
　　　遂上魚為溢，為外關內格，此陰乘之脈也。
　　　關之後者，陰之動也，脈當見一寸而沈。
　　　過者，法曰太過；減者，法曰不及。
　　　遂入尺為覆，為內關外格，此陽乘之脈也。
　　　故曰覆溢，是其真臟之脈，人不病而死也。
註解：[1]&lt;1&gt;太過不及，病脈也。
　　　　 &lt;2&gt;關格覆溢，死脈也。
　　　　　 1.關格之說，素問六節藏象論，及靈樞第九篇，第四十九篇，皆主
　　　　　　 氣口人迎，以陽經取決於人迎，陰經取決於氣口也。
　　　　　 2.今越人乃以關前關後言者，以寸為陽而尺為陰也。
　　　[2]&lt;1&gt;關前為陽，寸所動之位，脈見九分而浮，九陽數，寸之位浮，陽脈
　　　　　 是其常也。
　　　　 &lt;2&gt;過謂過於本位，過於常脈，不及謂不及本位，不及常脈，是皆病脈
　　　　　 也。
　　　[3]&lt;1&gt;遂者，遂也，徑行而直前也。
　　　　 &lt;2&gt;謝氏謂遂者,直上直下,殊無迴於之生意有旨哉。
　　　　 &lt;3&gt;經曰：陰氣太盛，則陽氣不得相營也，以陽氣不得營於陰，陰遂上
　　　　　 出而溢於魚際之分，為外關內格也。
　　　　 &lt;4&gt;外關內格，謂陽外閉而不下，陰從而內出以格拒之，此陰乘陽位之
　　　　　 脈也。
　　　[4]&lt;1&gt;關後為陰，尺脈所動之位，脈見一寸而沈，一寸陰數，尺之位沈，
　　　　　　 陰脈是其常也。
　　　　 &lt;2&gt;過謂過於本位，過於常脈，不及謂不及本位，不及常脈，皆病脈也
　　　　　 。
　　　[5]&lt;1&gt;經曰：陽氣太盛，則陰氣不得相營也，以陰氣不得營於陽，陽遂下
　　　　　 陷而覆於尺之分，為內關外格也。
　　　　 &lt;2&gt;內關外格，謂陰內閉而不上，陽從外人以格拒之，此陽乘陰位之脈
　　　　　 也。
　　　[6]&lt;1&gt;覆如物之覆，由上而傾於下也。溢如水之溢，由內而出乎外也。
　　　[7]&lt;1&gt;覆溢之脈，乃孤陰獨陽，上下相離之診，故曰真藏之脈，謂無胃氣
　　　　　 以和之也，凡人得此脈，雖不病猶死也。
　　　　 &lt;2&gt;此篇言陰陽之太過不及，雖為病脈，猶未至危殆，若遂上魚入尺，
　　　　　 而為覆溢，則死脈也，此遂字，最為切緊，蓋承上起下之要言，不
　　　　　 然則太過不及，陰陽相乘，關格覆溢，渾為一意，漫無輕重矣。
　　　　 &lt;3&gt;或問此篇之陰陽相乘，與二十篇之說同異？
　　　　　 曰：此篇乃陰陽相乘之極而為覆溢，二十篇則陰陽更相乘而伏匿也
　　　　　 ，更之一字與此篇遂字，大有逕庭，更者，更互之更；遂者，直遂
　　　　　 之遂。
　　　　　 而覆溢與伏匿，又不能無辨，蓋覆溢為死脈，伏匿為病脈，故不可
　　　　　 同日語也。
</pre>
<pre data-sec="p">
主題：四難　論脈有陰陽之法
條文：四難曰：脈有陰陽之法，何謂也？
　　　然：
　　　呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味也，其脈在中。
　　　浮者陽也，沈者陰也，故曰陰陽也。
　　　心肺俱浮，何以別之？然：浮而大散者心也；浮而短澀者肺也；
　　　腎肝俱沈，何以別之？然：牢而長者肝也，按之濡，舉指來實者腎也。
　　　脾者中州，故其脈在中。是陰陽之法也。
　　　脈有一陰一陽，一陰二陽，一陰三陽，
　　　　有一陽一陰，一陽二陰，一陽三陰，如此之言，寸口有六脈俱動邪？
　　　然：
　　　此言者，非有六脈俱動也，謂滑、長、浮；濇、沈、短也。
　　　滑者，陽也。長者，陽也。浮者，陽也。
　　　濇者，陰也。沈者，陰也。短者，陰也。
　　　所謂一陰一陽者，謂脈來沈而滑也。一陰二陽者，謂脈來沈滑而長也。
　　　一陰三陽者，謂脈來浮滑而長，時一沈也。
　　　所謂一陽一陰者，謂脈來浮而濇也。一陽二陰者，謂脈來長而沈濇也。
　　　一陽三陰者，謂脈來沈濇而短，時一浮也。
　　　各以其經所在，名病逆順也。
註解：[1]&lt;1&gt;呼出為陽，吸作為陰，心肺為陽腎肝為陰，各以部位之高下而應之
　　　　　 也。
　　　　 &lt;2&gt;一呼再動，心肺主之。一吸再動，腎肝主之。呼吸定息，脈五動閏
　　　　　 以太息，脾之候也。故日呼吸之間，脾受穀味也。
　　　　 &lt;3&gt;其脈在中，在中者，在陰陽呼吸之中，何則？以脾受穀味，灌溉諸
　　　　　 藏，諸藏皆受氣於脾土，主中宮之義也。
　　　[2]&lt;1&gt;浮為陽，沈為陰，此承上文而起下文之義。
　　　[3]&lt;1&gt;心肺俱浮而有別也？
　　　　　 1.心為陽中之陽，故其脈浮而大散。
　　　　　 2.肺為陽中之陰，其脈浮而短濇。
　　　　 &lt;2&gt;肝腎俱沈，而有別也？
　　　　　 1.肝為陰中之陽,其脈牢而長。
　　　　　 2.腎為陰中之陰，其脈按之濡，舉指來實。古益袁氏，謂腎屬水，
　　　　　　 脈按之濡，舉指來實，外柔內剛，水之象也。
　　　　　 3.脾說見前。
　　　[4]&lt;1&gt;又設問答，以明陰陽，脈見於三部者，不單至也，惟其不單至，故
　　　　　 有此六脈相兼而見。
　　　　　 1.浮者輕手得之，長者通度本位，滑者往來流利，皆陽脈也。
　　　　　 2.沈者重手得之，短者不及本位，濇者往來凝滯，皆陰脈也。
　　　　 &lt;2&gt;惟其相兼，故有一陰一陽，又一陽一陰，如是之不一也。
　　　　 &lt;3&gt;夫脈之所至，病之所在也，以脈與病，反經絡藏府參之，某為宜，
　　　　　 某為不宜，四時相應，以名病之逆順也。
</pre>
<pre data-sec="p">
主題：五難　論脈有輕重
條文：五難曰；脈有輕重，何謂也？
　　　然：初持脈，如三菽之重，與皮毛相得者，肺部也；
　　　如六菽之重，與血脈相得者，心部也；
　　　如九菽之重，與肌肉相得者，脾部也；
　　　如十二菽之重，與筋平者，肝部也；
　　　按之至骨，舉指來疾者，腎部也。故曰輕重也。
註解：[1]&lt;1&gt;肺最居上，主候也毛，故其脈如三菽之重。
　　　　 &lt;2&gt;心在肺下，主血脈，故其脈如六菽之重。
　　　　 &lt;3&gt;脾在心下，主肌肉，故其脈如九菽之重。
　　　　 &lt;4&gt;肝在脾下，主筋，故其脈如十二菽之重。
　　　　 &lt;5&gt;腎在肝下，主骨，故其脈按之至骨，舉指來實，腎不言菽，以類推
　　　　　 之，當如十五菽之重。
　　　[2]今按此法，以輕重言之，即浮中沈之意也。然於樞素無所見，將古脈
　　　　 法而有所授受耶，抑越人自得之見耶。
　　　[3]廬陵謝氏曰：此寸關尺所主藏府，各有分位，而一部之中，脈又自有
　　　　 輕重。因舉陵陽虞氏說云：假令左手寸口如三菽之重，得之乃知肺氣
　　　　 之至。如六菽之重得之，知本經之至。餘以類求之，夫如是，乃知五
　　　　 藏之氣，更相灌溉，六脈因茲亦有準繩，可以定吉凶，言疾病矣。關
　　　　 尺皆然，如十難中，十變脈例而消息之也。
</pre>
<pre data-sec="p">
主題：六難　論脈之陰陽虛實
條文：六難曰：脈有陰盛陽虛、陽盛陰虛，何謂也？
　　　然：浮之損小，沈之實大，故曰陰盛陽虛；
　　　沈之損小，浮之實大，故曰陽盛陰虛。是陰陽虛實之意也。
註解：[1]浮沈以下指輕重言，盛虛以陰陽盈虧言。
　　　　 &lt;1&gt;輕手取之而見減小，重手取之而見實大，知其為陰盛陽虛也。
　　　　 &lt;2&gt;重手取之而見損小，輕手取之而見實大，知其為陽盛陰虛也。
　　　　 &lt;3&gt;大抵輕手取之陽之分，重手取之陰之分，不拘何部，率以是推之。
</pre>
<pre data-sec="p">
主題：七難　論王脈
條文：七難曰：經言少陽之至，乍大乍小，乍短乍長；
　　　陽明之至，浮大而短；太陽之至，洪大而長；
　　　太陰之至，緊大而長；少陰之至，緊細而微；
　　　厥陰之至，沈短而敦。此六者，是平脈邪？將病脈邪？
　　　然：皆王脈也。
　　　其氣以何月，各王幾日？
　　　然：冬至之後，得甲子少陽王，復得甲子陽明王，復得甲子太陽王，
　　　復得甲子太陰王，復得甲子少陰王，復得甲子厥陰王。
　　　王各六十日，六六三百六十日，以成一歲。此三陽三陰之王時日大要也。
註解：[1]六者之王說見下文。
　　　[2]&lt;1&gt;上文言，三陽三陰之王脈，此言三陽三陰之王時，當其時則見其脈
　　　　　 也。
　　　　 &lt;2&gt;曆家之說，以上古十一月甲子，合朔冬至為曆元，蓋取夫氣朔之分
　　　　　 齊也，然天度之運，與日月之行，遲速不一，歲各有差，越人所謂
　　　　　 冬至之後得甲子，亦以此歟，是故氣朔之不齊，氣候之早晚，不能
　　　　　 常也。
　　　　 &lt;3&gt;故丁氏注，謂冬至之後得甲子，或在小寒之初，或在大寒之後，少
　　　　　 陽之至始於此，餘經各以次繼之。
　　　　 &lt;4&gt;紀氏亦謂自冬至之日，一陽始生，於冬至之後得甲子，少陽脈王也
　　　　　 ，若原其本始，以十一月甲子合朔冬至常例推之，則少陽之王，便
　　　　　 當從此日始至正月中，餘經各以次繼之。少陽之至，陽氣尚微，故
　　　　　 其脈乍大乍小，乍短乍長，陽明之至，猶有陰也，故其脈浮大而短
　　　　　 。太陽之至，陽盛而極也，故其脈洪大而長。陽盛極則變而之陰矣
　　　　　 ，故夏至後為三陰用事之始；而太陰之至，陰氣尚微，故其脈緊大
　　　　　 而長。少陰之至，陰漸盛也，故其脈緊細而微。厥陰之至，陰盛而
　　　　　 極也，故其脈沈短而敦。陰盛極則變而之陽，仍三陽用事之始也，
　　　　　 此則三陽三陰之王脈，所以經六甲而循四時，率皆從微以至乎著，
　　　　　 自漸而趨於極，各有其序也。
　　　　 &lt;5&gt;袁氏曰：「春溫而夏暑，秋涼而冬寒，故人六經之脈，亦隨四時陰
　　　　　 陽消長迭運而至也。」
　　　　 &lt;6&gt;劉溫舒曰：「至真要論云：厥陰之至，其脈弦。少陰之至，其脈鉤
　　　　　 。太陰之至，其脈沈。少陰之至，大而浮。陽明之至，短而濇。太
　　　　　 陽之至，大而長。亦隨天地之氣卷舒也，如春弦、夏洪、秋毛、冬
　　　　　 石之類，則五運六氣，四時亦皆應之，而見於脈爾。」
　　　　 &lt;7&gt;若平人氣象論：太陽脈至，洪大而長。少陽脈至，乍數乍疎，乍短
　　　　　 乍長。陽明脈至，浮大而短。
　　　　　 1.難經引之以論三陰三陽之脈者，以陰陽始生之淺深而言也。
　　　　 &lt;8&gt;篇首稱經言二字，攷之樞素無所見，平人氣象論，雖略有其說而不
　　　　　 詳，豈越人之時，別有所謂上古文字耶，將內經有之而後世脫簡耶
　　　　　 ，是不可知也，後凡言經言而無所攷者，義皆倣此。
</pre>
<pre data-sec="p">
主題：八難　論寸口脈平而死者
條文：八難曰：寸囗脈平而死者，何謂也？
　　　然：諸十二經脈者，皆係於生氣之原。
　　　所謂生氣之原者，謂十二經之根本也，謂腎間動氣也。
　　　此五臟六腑之本，十二經脈之根，呼吸之門，三焦之原。一名守邪之神。
　　　故氣者，人之根本也，根絕則莖葉枯矣。寸囗脈平而死者，生氣獨絕於內也。
註解：[1]腎間動氣，人所得於天以生之氣也。
　　　[2]腎為壬水，位乎坎，北方卦也，乃天一之數，而火木金土之先也，所
　　　　 以為生氣之原，諸經之根本，又為守邪之神也。
　　　[3]原氣勝則邪不能侵，原氣絕則死，如木根絕而莖葉枯矣，故寸口脈平
　　　　 而死者，以生氣獨絕于內也。
</pre>
<pre data-sec="p">
主題：九難　論別知臟腑之病
條文：九難曰：何以別知藏府之病耶？
　　　然：數者府也，遲者藏也。數則為熱，遲則為寒。諸陽為熱，諸陰為寒。故以別知藏府之病也。
註解：[1]凡人之脈，一呼一吸為一息，一息之間，脈四至，閏以太息，脈五至
　　　　 ，命曰平人，平人者，不病之脈也，其有增減，則為病焉。
　　　　 &lt;1&gt;故一息三至曰遲，不足之脈也。一息六至曰數，太過之脈也。
　　　[2]藏為陰，府為陽，脈數者屬府，為陽為熱，脈遲者屬藏，為陰為寒，
　　　　 不特是也，諸陽脈皆為熱，諸陰脈皆為寒，藏府之病，由是別之。
</pre>
<pre data-sec="p">
主題：十難　論一脈十變
條文：十難曰：一脈為十變者，何謂也？
　　　然：五邪剛柔相逢之意也。
　　　假令心脈急甚者，肝邪干心也；心脈微急者，膽邪干小腸也；
　　　心脈大甚者，心邪自干心也；心脈微大者，小腸邪自干小腸也；
　　　心脈緩甚者，脾邪干心也；心脈微緩者，胃邪干小腸也；
　　　心脈澀甚者，肺邪干心也；心脈微澀者，大腸邪干小腸也；
　　　心脈沈甚者，腎邪干心也；心脈微沈者，膀胱邪干小腸也。
　　　五臟各有剛柔邪，故今一脈輒變為十也。
註解：[1]五邪者，謂五藏五府之氣，失其正而為邪者也。
　　　[2]剛柔也，則柔相逢，謂藏逢藏，府逢府也，五藏五府，各有五邪，以
　　　　 脈之來甚者屬藏，微者屬府。
　　　[3]特以心藏發其例，餘可類推，故云一脈輒變為十也。
</pre>
<pre data-sec="p">
主題：十一難　論脈不滿五十動而一止
條文：十一難曰：經言脈不滿五十動而一止，一臟無氣者，何臟也？
　　　然：人吸者隨陰入，呼者因陽出。今吸不能至腎、至肝而還，
　　　故知一臟無氣者，腎氣先盡也。
註解：[1]靈樞第五篇曰：
　　　　 「人一日一夜五十營，以營五藏之精，不應數者，名曰狂生。所謂五
　　　　 十營者，五藏皆受氣，持其脈口，數其至也。
　　　　　 五十動不一代者，五藏皆受氣。
　　　　　 四十動一代者，一藏無氣。
　　　　　 三十動一代者，二藏無氣。
　　　　　 二十動一代者，三藏無氣。
　　　　　 十動一代者，四藏無氣。
　　　　　 不滿十動一代者，五藏無氣，予之短期。」
　　　[2]按五藏腎最在下，吸氣最遠，若五十動不滿而一止者，知腎無所資，
　　　　 氣當先盡，盡猶衰竭也，衰竭則不能隨諸藏氣而上矣。
</pre>
<pre data-sec="p">
主題：十二難　論實實虛虛之誤
條文：十二難曰：經言五臟脈已絕於內，用針者反實其外；
　　　五臟脈已絕於外，用針者反實其內。內外之絕，何以別之？
　　　然：五臟脈已絕於內者，腎肝氣已絕於內也，而醫反補其心肺。
　　　五臟脈已絕於外者，其心肺氣已絕於外也，而醫反補其腎肝，
　　　陽絕補陰，陰絕補陽，是謂實賈虛虛，損不足益有餘。
　　　如此死者，醫殺之耳。
註解：[1]靈樞第一篇曰：「凡將用鍼，必先診脈，視氣之劇易，乃可以治也。
　　　　 」
　　　[2]又第三篇曰：
　　　　 「所謂五藏之氣已絕於內者，脈口氣內絕不至，反取其外之病處，與
　　　　 陽經之合，有留鍼以致陽氣，陽氣至則內重竭，重竭則死矣，其死也
　　　　 ，無氣以動，故靜。所謂五藏之氣已絕于外者，脈口氣外絕不至，反
　　　　 取其四末之輸，有留鍼以致其陰氣，陰氣至則陽氣反入，入則逆，逆
　　　　 則死矣，其死也陰氣有餘，故躁。」
　　　[3]此靈樞以脈口內外言陰陽也，越人以心肺腎肝內外別陰陽，其理亦由
　　　　 是也。
　　　[4]紀氏謂此篇言鍼法，馮氏玠謂此篇合入用鍼補寫之類，當在六十難之
　　　　 後，以例相從也。
</pre>
<pre data-sec="p">
主題：十三難　論色脈皮膚之相應
條文：十三難曰：
　　　經言見其色而不得其脈，反得相勝之脈者即死，得相生之脈者，病即自已
　　　。色之與脈當參相應，為之奈何？
　　　然：五臟有五色，皆見於面，亦當與寸口、尺內相應。
　　　假令色青，其脈當弦而急；色赤，其脈浮大而散；色黃，其脈中緩而大；
　　　色白，其脈浮濇而短；色黑，其脈沉濡而滑。
　　　此所謂五色之與脈，當參相應也。
　　　脈數尺之皮膚亦數，脈急尺之皮膚亦急，脈緩尺之皮膚亦緩，
　　　脈濇尺之皮膚亦濇，脈滑尺之皮膚亦滑。
　　　五臟各有色臭味聲液，與寸口尺內相應，其不應者病也。
　　　假令色青，其脈浮濇而短，或大而緩為相勝。
　　　浮大而散，或小而滑為相生也。
　　　經言：「知一為下工，知二為中工，知三為上工，上工者十全九，
　　　中工者十全七，下工者十全六」，此之謂也。
註解：[1]靈樞第四篇曰：
　　　　 「見其色知其病，命曰明。按其脈知其病，命曰神。問其病知其處，
　　　　 命曰工。色脈形肉不得相失也。
　　　　 色青者其脈弦，赤者其脈鉤，黃者其脈代，白者其脈毛，黑者其脈石
　　　　 。
　　　　 見其色而不得其脈，謂色脈之不相得也，色脈既不相得，看得何脈，
　　　　 得相勝之脈即死，得相生之脈病即自已。」（已，愈也，參，合也。
　　　　 ）
　　　[2]&lt;1&gt;色脈當參相應，夫如是則見其色，得其脈矣。
　　　[3]&lt;1&gt;靈樞第四篇：
　　　　　 1.黃帝曰:「色 已定,別之奈何？」
　　　　　　 岐伯曰:「調其 之緩急大小清濇,肉之堅脆,而變定矣。」
　　　　　 2.黃帝曰：「調之奈何」？
　　　　　　 岐伯答曰：「脈急尺之皮膚亦急，脈緩尺之皮膚亦緩，脈小尺之
　　　　　　 皮膚亦減而少氣，脈大尺之皮膚亦賁而起，脈滑尺之皮膚亦滑，
　　　　　　 脈濇尺之皮膚亦濇，凡此變者，有微有甚，故善調尺者不待於寸
　　　　　　 。善調脈者，不待於色，能參合而行之者，可以為上工，上工十
　　　　　　 全九，行二者為中工，中工十全七，行一者為下工，下工十全六
　　　　　　 。」
　　　　　 ○此通上文，所謂色脈形肉不相失也。
　　　[4]&lt;1&gt;若之為言或也，舉色青為例，以明相勝相生也。
　　　　　 1.青者肝之色，浮濇而短，肺脈也，為金剋木，大而緩，脾脈也，
　　　　　　 為木剋土，此相勝也。
　　　　　 2.浮大而散，心脈也，為木生火。小而滑，腎脈也，為水生木，此
　　　　　　 相生也。此所謂得相勝之脈即死，得相生之脈病即自已也。
</pre>
<pre data-sec="p">
主題：論損至脈之病證及其治法
條文：十四難曰：脈有損至，何謂也？
　　　然：
　　　至之脈，一呼再至曰平，三至曰離經，四至曰奪精，五至曰死，
　　　六至曰命絕，此至之脈也。
　　　何謂損？一呼一至曰離經，再呼一至曰奪經，三呼一至曰死，
　　　四呼一至日命絕，此損之脈也。
　　　至脈從下上，損脈從上下也。
　　　損脈之為病奈何？
　　　然：
　　　一損損於皮毛，皮聚而毛落；二損損於血脈，血脈虛少，不能榮於
　　　五臟六腑；三損損於肌肉，肌肉消瘦，飲食不能為肌膚；四損損於
　　　筋，筋緩不能自收持；五損損於骨，骨痿不能起於床。
　　　反此者，至脈之病也。
　　　從上下者，骨痿不能起於床者死；從下上者，皮聚而毛落者死。
　　　治損之法奈何？
　　　然：
　　　損其肺者，益其氣；損其心者，調其榮衛；損其脾者，調其飲食，
　　　適其寒溫；損其肝者，緩其中；損其腎者，益其精；此治損之法也。
　　　脈有一呼再至，一吸再至；有一呼三至，一吸三至；有一呼四至，
　　　一吸四至；有一呼五至，一吸五至；有一呼六至，一吸六至；有一呼
　　　一至，一吸一至；有再呼一至，再吸一至；有呼吸再至。脈來如此，
　　　何以別知其病也？
　　　然：脈來一呼再至，一吸再至，不大不小曰平。
　　　一呼三至，一吸三至，為適得病，前大後小，即頭痛目眩，前小後大
　　　，即胸滿短氣。一呼四至，一吸四至，病欲甚，脈洪大者苦煩滿，
　　　沈細者腹中病，滑者傷熱，澀者中霧露。一呼五至，一吸五至，其人
　　　當困，沈細夜加，浮大晝加，不大不小，雖困可治，其有大小者，為
　　　難治。一呼六至，一吸六至，為死脈也，沈細夜死，浮大晝死。一呼
　　　一至，一吸一至，名曰損，人雖能行，猶當著床，所以然者，血氣皆
　　　不足故也。再呼一至，再吸一至，呼吸再至，名曰無魂，無魂者當死
　　　也，人雖能行，名曰行尸。上部有脈，下部無脈，其人當吐，不吐者
　　　死。上部無脈，下部有脈，雖困無能為害。所以然者，人之有尺，譬
　　　如樹之有根，枝葉雖枯槁，根本將自生。脈有根本，人有元氣，故知
　　　不死。
註解：[1]&lt;1&gt;平人之脈，一呼再至，一吸再至，呼吸定息，脈四至，加之則為過
　　　　　 ，減之則不及，過與不及，所以為至為損焉。
　　　　　 1.離經者，離其經常之度也。
　　　　　 2.奪精，精氣衰奪也。
　　　　 &lt;2&gt;至脈從下而逆上，由腎而之肺也。
　　　　 &lt;3&gt;損脈從上而行下，由肺而之腎也。
　　　　 &lt;4&gt;謝氏曰：
　　　　　 「平人一呼再至，脈行三寸，今一呼三至，則脈行四寸半，一息之
　　　　　　 間行九寸，二十息之間一百八十丈，比平人行速，過六十丈，此
　　　　　　 至脈之離經也。平人一呼脈再至，行三寸，今一呼一至，只得一
　　　　　　 寸半，二十息之間，脈遲行六十丈，此損脈之離經也。
　　　　　　 若夫至脈之奪精，一呼四至，則一息之間，行一尺二寸。損脈之
　　　　　　 雄精，二呼一至，則一息之間，行三寸，其病又甚矣，過此者死
　　　　　　 而命絕也。」
　　　[2]&lt;1&gt;「至於收病也」，當作「至脈之病也」，「於收」二字誤。
　　　　 &lt;2&gt;肺主皮毛，心主血脈，脾主肌肉，肝主筋，腎主骨，各以所主而見
　　　　　 其所損也。
　　　　 &lt;3&gt;反此為至脈之病者，損脈從上下，至脈則從下上也。
　　　[3]&lt;1&gt;肺主氣，心主血脈，腎主精，各以其所損而調治之。
　　　　 &lt;2&gt;榮衞者，血脈之所資也。
　　　　 &lt;3&gt;脾主受穀味，故損其脾者，調其飲食，適其寒溫。
　　　　　 如春夏食涼食冷，秋冬食溫食熱，及衣服起居，各當其時是也。
　　　　 &lt;4&gt;肝主血，血虛則中不足。一云肝主怒，怒能傷肝，故損其肝者，緩
　　　　　　 其中。經曰：肝苦急，急食甘以緩之。緩者，和也。
</pre>
<pre data-sec="p">
主題：論損至脈之病證及其治法(續)
註解：
　　　[4]&lt;1&gt;此再舉損至之為問答也。
　　　　　 1.蓋前之損至，以五藏自病得之於內者而言。後則以經絡血氣，為
　　　　　　 邪所中之微甚，自外得之者而言也。
　　　　　 2.其曰呼吸再至，即一呼一至，一吸一至之謂，疑衍文也。
　　　[5]&lt;1&gt;一息四至，是為平脈，一呼三至，一吸三至，是一息之間，脈六至
　　　　　 ，比之平人多二至，故曰適得病未甚也，然又以前大後小，前小後
　　　　　 大，而言病能也。前後非言寸尺，猶十五難前曲後居之前後，以始
　　　　　 末言也。
　　　　 &lt;2&gt;一呼四至，一吸四至，病欲甚矣，故脈洪大者，苦煩滿，病在高也
　　　　　 。沈細者，腹中痛，病在下也。各以其脈言之。
　　　　　 1.滑為傷熱者，熱傷氣而不傷血，血自有餘，故脈滑也。濇為中霧
　　　　　　 露者，霧露之寒，傷人榮血，血受寒，故脈濇也。
　　　　 &lt;3&gt;一呼五至，一吸五至，其人困矣，若脈更見浮大沈細，則各隨畫夜
　　　　　 而加劇，以浮大順晝，陽也，沈細順夜，陰也，若不見二者之脈，
　　　　　 人雖困猶可治，小大即沈細浮大也。
　　　　 &lt;4&gt;一呼六至，一吸六至，增之極也，故為死脈，沈細夜死，浮大晝死
　　　　　 ，陰遇陰，陽遇陽也。
　　　　 &lt;5&gt;1.一呼一至，一吸一至，名曰損，以血氣皆不足也。
　　　　　 2.再呼一至，再吸一至，謂兩息之間，脈再動，減之極也，經曰「
　　　　　　 形氣有餘，脈氣不足者死」，故曰無魂而當死也。
　　　[6]&lt;1&gt;譬如二字，當在人之有尺下。
　　　　 &lt;2&gt;○此又以脈之有無，明上下部之病也。
　　　　　 1.紀氏曰：上部有脈，下部無脈，是邪實井於上，即當吐也。若無
　　　　　　 吐證，為上無邪而下氣竭，故云當死。
　　　　　 2.東垣李氏曰：下部無脈，此木鬱也，飲食過飽，填塞于胸中太陰
　　　　　　 之分，而春陽之令不得上行故也，是為木鬱，木鬱則達之，謂吐
　　　　　　 之是也。
　　　　　 3.謝氏曰：上部無脈，下部有脈者，陰氣盛而陽氣微，故雖困無能
　　　　　　 害。上部無脈，如樹枝之槁，下部有脈，如樹之有根，可以望其
　　　　　　 生也。
　　　　 &lt;3&gt;四明陳氏曰：至，進也，陽獨盛而至數多也。損，減也，陰獨盛而
　　　　　 至數少也。至脈從下上，謂無陰而陽獨行，至于上，則陽亦絕而死
　　　　　 矣。損脈從上下，謂無陽而陰獨行，至于下，則陰亦盡而死矣。
　　　　 &lt;4&gt;一難言「寸口以決藏府死生吉凶」，謂氣口為五藏主也。四難言「
　　　　　 脾受穀味，其脈在中」，是五藏皆以胃為主，其脈則主關上也。此
　　　　　 難言人之有尺，譬如樹之有根，脈有根本，人有元氣，故知不死，
　　　　　 則以尺為主也。此越人所錯綜其義，散見諸篇，以見寸關尺各有所
　　　　　 歸重云。
</pre>
<pre data-sec="p">
主題：論四時之脈以胃氣為本
條文：十五難曰：
　　　經言春脈弦，夏脈鉤，秋脈毛，冬脈石。是王脈耶？將病脈也？
　　　然：弦、鉤、毛、石者，四時之脈也。
　　　春脈弦者，肝東方木也，萬物始生，未有枝葉，故其脈之來，濡弱而長
　　　，故曰弦。夏脈鉤者，心南方火也，萬物之所茂，垂枝布葉，皆下曲如
　　　鉤，故其脈之來，來疾去遲，故日鉤。秋脈毛者，肺西方金也，萬物之
　　　所終，草木華葉，皆秋而落，其枝獨在，若毫毛也，故其脈之來，輕虛
　　　以浮，故曰毛。冬脈石者，腎北方水也，萬物之藏也，盛冬之時，水凝
　　　如石，故其脈之來，沈濡而滑，故曰石。此四時之脈也。如有變奈何？
　　　然：春脈弦，反者為病。何謂反？然：其氣來實強，是謂太過，病在外
　　　；氣來虛微，是謂不及，病在內。脈來厭厭聶聶，如循榆葉曰平；益實
　　　而滑，如循長竿曰病；急而勁益強，如新張弓弦曰死。春脈弦曰平，弦
　　　多胃氣少曰病，但弦無胃氣曰死，春以胃氣為本。夏脈鉤，反者為病。
　　　何謂反？然，其氣來實強，是謂太過，病在外；氣來虛微，是謂不及，
　　　病在內。其脈來累累如環，如循琅玕曰平；來而益數，如雞舉足者曰病
　　　；前曲後居，如操帶鉤曰死。夏脈微鉤曰平，鉤多胃氣少曰病，但鉤無
　　　胃氣曰死，夏以胃氣為本。秋脈毛，反者為病。何謂反？然：其氣來實
　　　強，是謂太過，病在外；氣來虛微，是謂不及，病在內。其脈來藹藹如
　　　車蓋，按之益大曰平；不上不下，如循雞羽曰病；按之蕭索，如風吹毛
　　　曰死。秋脈微毛曰平，毛多胃氣少曰病，但毛無胃氣曰死，秋以胃氣為
　　　本。冬脈石，反者為病。何謂反？然：其氣來實強，是謂太過，病在外
　　　；氣來虛微，是謂不及，病在內。脈來上大下兌，濡滑如雀之喙曰平；
　　　啄啄連屬，其中微曲曰病；來如解索，去如彈石曰死。冬脈微石曰平，
　　　石多胃氣少曰病，但石無胃氣曰死，冬以胃氣為本。胃者，水穀之海，
　　　主稟四時。皆以胃氣為本，是謂四時之變病，死生之要會也。脾者，中
　　　州也，其平和不可得見，衰乃見耳，來如雀之啄，如水之下漏，是脾衰
　　　見也。
註解：[1]&lt;1&gt;此內經平人氣象、玉機真藏論，參錯其文而為篇也。
　　　　　 1.春脈弦者，肝主筋，應筋之象。
　　　　　 2.夏脈鉤者，心主血脈，應血脈來去之象。
　　　　　 3.秋脈毛者，肺主皮毛。
　　　　　 4.冬脈石者，腎主骨。各應其象，兼以時物之象取義也。
　　　　 &lt;2&gt;來疾去遲，劉立之曰：
　　　　　 1.來者，自骨肉之分，而出於皮膚之際，氣之升而上也。
　　　　　 2.去者，自皮膚之際，而還骨肉之分，氣之降而下也。
　　　[2]&lt;1&gt;1.春脈太過，則令人善忘，忽忽眩冒顛疾。不及則令人胸痛引背，
　　　　　　 下則兩脇胠滿。
　　　　　 2.夏脈太過，則令人身熱而膚痛為浸淫。不及則令人煩心，上見欬
　　　　　　 唾，下為氣泄。
　　　　　 3.秋脈太過，則令人逆氣而背痛，慍慍然，不及則令喘，呼吸少氣
　　　　　　 而欬，上氣見血，下聞病音。
　　　　　 4.多脈太過，則令人解㑊，脊脈痛而少氣，不欲言。不及則令人心
　　　　　　 懸如飢，眇中清，脊中痛，少腹滿，小便變。
　　　　　　 －－此岐伯之言也，越人之意，蓋本諸此，變脈言氣者，脈不自
　　　　　　 動，氣使之然且主胃氣而言也。
　　　　 &lt;2&gt;1.春脈厭厭聶聶，如循榆葉，弦而和也。益實而滑，如循長竿，弦
　　　　　　 多也。急而勁益強，如新張弓弦，但弦也。（循、撫也、按也。
　　　　　　　）
　　　　　 2.夏脈累累如環，如循琅玕，鉤而和也。如雞舉足，鉤多而有力也
　　　　　　 。前曲後居，謂按之堅而搏，尋之實而據，但鉤也。
　　　　　 3.秋脈藹藹如車蓋，按之益大，微毛也。不上不下，如循雞羽，毛
　　　　　　 多也。按之蕭索，如風吹毛，但毛也。
　　　　　 4.冬脈上大下兌，大小適均，石而和也，（上下與來去同義，見前
　　　　　　 篇）。啄啄連屬，其中微曲，石多也。來如解索，去如彈石，但
　　　　　　 石也。
　　　　 &lt;3&gt;大抵四時之脈，皆以胃氣為本，故有胃氣則生，胃氣少則病，無胃
　　　　　 氣則死，於弦鉤毛石中，每有和緩之體，為胃氣也。
　　　　 &lt;4&gt;此篇與內經中互有異同：
　　　　　 1.馮氏曰：「越人欲使脈之易曉，重立其義爾。」
　　　　　 2.按內經第二卷，平人氣象論篇云：「平肝脈來，軟弱招招，如揭
　　　　　　 長竿末梢。平肺脈來，厭厭聶聶，如落榆莢。平腎脈來，喘喘累
　　　　　　 累如鉤，按之而堅。病腎脈來，如引葛之益堅。死腎脈，如發奪
　　　　　　 索，辟辟如彈石。」此為異也。
</pre>
<pre data-sec="p">
主題：論四時之脈以胃氣為本(續)
註解：
　　　[3]&lt;1&gt;胃屬土，土之數五也，萬物歸之，故云水穀之海，而水火金木無不
　　　　　 待是以生，故云主稟四時。稟，供也、給也。
　　　[4]&lt;1&gt;脾者中州，謂呼吸之間，脾受穀味，其脈在中也。
　　　　　 1.其平和不得見，蓋脾寄王於四季，不得獨主於四時，四藏之脈平
　　　　　　 和，則脾脈在中矣。
　　　　　 2.衰乃見者，雀啄屋漏，異乎常也。雀啄者，脈至堅銳而斷續不定
　　　　　　 也。屋漏者，脈至緩散，動而復止也。
</pre>
<pre data-sec="p">
主題：論五臟病之內外證
條文：十六難曰：
　　　脈有三部九候，有陰陽，有輕重，有六十首，一脈變為四時，離聖久遠
　　　，各自是其法，何以別之？
　　　然：是其病有內外證。其病為之奈何？
　　　然：
　　　假令得肝脈，
　　　其外證：面青，善潔，善怒；
　　　其內證：臍左有動氣，按之牢若痛；
　　　其病：四肢滿閉，淋溲便難，轉筋。
　　　有是者肝也。無是者非也。
　　　假令得心脈，
　　　其外證：面赤，口乾，喜笑；
　　　其內證：臍上有動氣，按之牢若痛；
　　　其病：煩心，心痛，掌中熱而啘。
　　　有是者心也，無是者非也。
　　　假令得脾脈，
　　　其外證：面黃，善噫，善思，善味；
　　　其內證：當臍有動氣，按之牢若痛；
　　　其病：腹脹滿，食不消，體重節痛，怠墮嗜臥，四肢不收。
　　　有是者脾也，無是者非也。
　　　假令得肺脈，
　　　其外證：面白，善嚏，悲愁不樂，欲哭；
　　　其內證：臍右有動氣，按之牢若痛；
　　　其病：喘咳，灑淅寒熱。
　　　有是者肺也，無是者非也。
　　　假令得腎脈，
　　　其外證：面黑，善恐欠；
　　　其內證：臍下有動氣，按之牢若痛；
　　　其病：逆氣，小腹急痛，泄如下重，足脛寒而逆。
　　　有是者腎也，無是者非也。
註解：[1]謝氏曰：
　　　　 「此篇問三部九候以下共六件，而本經並不答所問，似有缺文。
　　　　　 今詳三部九候，則十八難中第三章言之，當屬此篇，錯簡在彼。陰
　　　　　 陽見四難，輕重見五難，一脈變為四時，即十五難，春弦夏鉤秋毛
　　　　　 冬石也。
　　　　　 六十首，按內經方盛衰篇曰，『聖人持診之道，先後陰陽而持之，
　　　　　 奇恒之勢，乃六十首』，王註謂，『奇恒六十首，今世不存。』則
　　　　　 失其傳者，由來遠矣。」
　　　[2]&lt;1&gt;此蓋答辭，然與前問不相蒙，當別有問辭也。
　　　[3]&lt;1&gt;得肝脈，診得胘脈也。
　　　　 &lt;2&gt;肝與膽合，為清淨之府，故善潔。肝為將軍之官，故善怒，善，猶
　　　　　 喜好也。面青，肝之色也。此外證之色，脈情好也。
　　　　 &lt;3&gt;臍左肝之部也，按之牢若痛者，若謂其動氣，按之堅牢而不移，或
　　　　　 痛也。
　　　　 &lt;4&gt;馮氏曰：「肝氣䐜鬱，則四支滿閉。」傳曰：「風淫末疾」是也。
　　　　　 厥陰脈，循陰器，肝病，故溲便難。轉筋者，肝主筋也。此內證之
　　　　　 部屬，及所主病也。
　　　[4]&lt;1&gt;掌中，手心主脈所過之處，蓋真心不受邪，受邪者手心主爾。
　　　　 &lt;2&gt;啘，乾嘔也，心病則火盛故啘。經曰：「諸逆衝上，皆屬於火，諸
　　　　　 嘔吐酸，皆屬於熱。」
　　　[5]&lt;1&gt;靈樞口問篇曰：「噫者,寒氣客于胃，厥逆從下上。
　　　　 &lt;2&gt;經曰：「脾主四肢。」
　　　[6]&lt;1&gt;岐伯曰：「陽氣和利，滿于心，出于鼻，故為嚏」。洒淅寒熱，肺
　　　　　 主皮毛也。
　　　[7]&lt;1&gt;腎氣不足則為恐。
　　　　 &lt;2&gt;陰陽相引則為欠。
　　　　 &lt;3&gt;泄而下重，少陰泄也。「如」讀為「而」。
</pre>
<pre data-sec="p">
主題：論切脈而知死生存亡
條文：十七難曰：經言病或有死，或有不治自癒，或連年月不已，其死生存亡
　　　，可切脈而知之耶？
　　　然：可盡知也。
　　　診病若閉目不欲見人者，脈當得肝脈，弦急而長，
　　　而反得肺脈浮短而澀者，死也。
　　　病若開目而渴，心下牢者，脈當得緊實而數，反得沈澀而微者，死也。
　　　病若吐血，復鼽衄血者，脈當沈細，而反浮大而牢者，死也。
　　　病若譫言妄語，身當有熱，脈當洪大，而反手足厥逆，脈沈細而微者，
　　　死也。
　　　病若大腹而泄者，脈當微細而澀，反緊大而滑者，死也。
註解：[1]&lt;1&gt;此篇所問者三，答云，可盡知也，而止答病之死證，餘無所見，當
　　　　　 有闕漏。
　　　[2]&lt;1&gt;肝開竅於目，閉目不欲見人，肝病也，肝病見肺脈，金剋木也。
　　　[3]&lt;1&gt;病實而脈虛也。
　　　[4]&lt;1&gt;脫血脈實，相反也。
　　　[5]&lt;1&gt;陽病見陰脈，相反也。
　　　[6]&lt;1&gt;洩而脈大，相反也。大腹，腹脹也。
</pre>
<pre data-sec="p">
主題：論脈有三部四經與切脈而知積聚
條文：十八難曰：
　　　脈有三部，部有四經，手有太陰、陽明，足有太陽、少陰，為上下部，
　　　何謂也？
　　　然：
　　　手太陰，陽明金也；足少陰，太陽水也，金生水，水流下行而不能上，
　　　故在下部也。
　　　足厥陰，少陽木也；生手太陽、少陰火，火炎上行而不能下，故為上部。
　　　手心主，少陽火，生足太陰、陽明土，土主中宮，故在中部也。
　　　此皆五行子母更相生養者也。
　　　脈有三部九候，各何主之？
　　　然：
　　　三部者，寸、關、尺也。九候者，浮、中、沈也。
　　　上部法天，主胸以上至頭之有疾也；中部法人，主鬲以下至臍之有疾也；
　　　下部法地，主臍以下至足之有疾也。
　　　審而刺之者。
　　　人病有沈滯久積聚，可切脈而知之耶？
　　　然：
　　　診在右脅有積氣，得肺脈結，脈結甚則積甚，結微則氣微。
　　　診不得肺脈，而右脅有積氣者何也？
　　　然：
　　　肺脈雖不見，右手脈當沈伏。
　　　其外痼疾同法耶，將異也？
　　　然：
　　　結者，脈來去時一止，無常數，名曰結也。
　　　伏者，脈行筋下也。浮者，脈在肉上行也。左右表裡，法皆如此。
　　　假令脈結伏者，內無積聚，脈浮結者，外無痼疾；有積聚脈不結伏，有
　　　痼疾脈不浮結，為脈不應病，病不應脈，是為死病也。

註解：[1]&lt;1&gt;此篇立問之意，謂人十二經脈，凡有三部，每部之中，有四經，今
　　　　　 手有太陰陽明，足有太陽少陰，為上下部何也？
　　　　　 1.蓋三部者，以寸關尺分上中下也。四經者，寸關尺兩兩相比，則
　　　　　　 每部各有四經矣。手之太陰陽明，足之太陽少陰，為上下部者，
　　　　　　 肺居右寸，腎居左尺，循環相資，肺高腎下，母子之相望也。
　　　　　 2.經云：「藏真高於肺，藏真下於腎」是也。
　　　[2]&lt;1&gt;1.手太陰陽明金，下生足太陽少陰水，水性下，故居下部。
　　　　　 2.足少陰太陽水，生足厥陰少陽木，木生手少陰太陽火，及手心主
　　　　　　 火，火炎上行，是為上部。
　　　　　 3.火生足太陰陽明土，土居中部，復生肺金，此五行子母更相生養
　　　　　　 者也。
　　　　 &lt;2&gt;此蓋因手太陰陽明，足太陽少陰，為上下部道，推廣五行相生之大
　　　　　 ，（越人亦以五藏生成之後因，其部分之高下而推言之，非謂未生
　　　　　 之前，必待如是而後生成也。）而又演為三部之說，即四難所謂心
　　　　　 肺俱浮，腎肝俱沈，脾者中州之意，但彼直以藏言，此以經言而藏
　　　　　 府兼之。
　　　　 &lt;3&gt;以上問答明經，此下二節，俱不相蒙，疑它經錯簡。
　　　[3]&lt;1&gt;謝氏曰：「此一節，當是十六難中答辭，錯簡在此，而剩出『脈有
　　　　　 三部九候，各何主之』十字。」
　　　　 &lt;2&gt;審而刺之：
　　　　　 1.紀氏云：「欲診脈動而中病，不可不審，故日審而刺之。刺者，
　　　　　　 言其動而中也。」
　　　　　 2.陳萬年傳曰：「刺候謂中其候」，與此義同，或曰刺，鍼刺也，
　　　　　 謂審其部而鍼刺之。
　　　[4]&lt;1&gt;此下問者，亦未詳所屬，或曰當是十七難中，或連年月不已答辭。
　　　[5]&lt;1&gt;結為積聚之脈，肺脈見結，知右脇有積氣，右脇肺部也，積氣有微
　　　　　 甚，脈從而應之。
　　　[6]&lt;1&gt;肺脈雖不見結，右手脈當見沈伏，沈伏亦積聚脈，右手所以候裏也
　　　[7]&lt;1&gt;此承上文復問外之痼疾，與內之積聚，法將同異。
　　　[8]&lt;1&gt;結為積聚，伏脈行筋下主裏，浮脈行肉上主表，所以異也，前舉右
　　　　　 脇為例，故此云左右同法。
　　　[9]&lt;1&gt;有是脈，無是病，有是病，無是脈，脈病不相應，故為死病也。
</pre>
<pre data-sec="p">
主題：論男女脈之順逆
條文：十九難曰：經言脈有逆順，男女有恒。而反者，何謂也？
　　　然：
　　　男子生於寅，寅為木，陽也；女子生於申，申為金，陰也。
　　　故男脈在關上，女脈在關下。
　　　是以男子尺脈恒弱，女子尺脈恒盛，是其常也。
　　　反者，男得女脈，女得男脈也。
　　　其為病何如？
　　　然：
　　　男得女脈為不足，病在內；左得之，病在左，右得之，病在右；
　　　隨脈言之也。
　　　女得男脈為太過，病在四肢；左得之，病在左，右得之，病在右；
　　　隨脈言之，此之謂也。
註解：[1]&lt;1&gt;恒，胡登反，常也。
　　　　 &lt;2&gt;據男女相比而言也，男脈在關上，女脈在關下，男子尺脈恒弱，女
　　　　　 子尺脈恒盛，此男女之別也。
　　　　 &lt;3&gt;逆順云者，男之順女之逆也，女之順男不同也。雖然，在男女則各
　　　　　 有常矣。
　　　　 &lt;4&gt;反，謂反其常也。
　　　[2]&lt;1&gt;此推本生物之初，而言男女陰陽也。
　　　　　 1.紀氏曰：「生物之初，其本原皆始於子，子者萬物之所以始也，
　　　　　　 自子推之，男左旋三十而至於已，女右旋二十而至於已，是男女
　　　　　　 婚嫁之數也，自已而懷娠，男左旋十月而生於寅，寅為木，陽也
　　　　　　 ，女右旋十月而生於申，申於金，陰也。」
　　　　　 2.謝氏曰：「寅為木，木生火，又火生於寅，而性炎上，故男脈在
　　　　　　 關上。申為金，金生水，又水生於申，而性流下，故女脈在關下
　　　　　　 。」
　　　　　 3.愚謂：「陽之體輕清而升，天道也，故男脈在關上。陰之體重濁
　　　　　　 而降，地道也，故女脈在關下。此男女之常也。」
　　　[3]&lt;1&gt;男女異常，是之謂反。
　　　[4]&lt;1&gt;問反之為病也。
　　　[5]&lt;1&gt;其反常，故太過不及，在內在外之病見焉。
</pre>
<pre data-sec="p">
主題：論脈有伏匿
條文：二十難曰：經言脈有伏匿，伏匿於何臟而言伏匿邪？
　　　然：
　　　謂陰陽更相乘、更相伏也。
　　　脈居陰部而反陽脈見者，為陽乘陰也，脈雖時沈澀而短，此謂陽中伏陰也；
　　　脈居陽部而反陰脈見者，為陰乘陽也，脈雖時浮滑而長，此謂陰中伏陽也。
　　　重陽者狂，重陰者癲。脫陽者見鬼，脫陰者目盲。
註解：[1]&lt;1&gt;居，猶在也，當也。
　　　　 &lt;2&gt;陰部尺，陽部寸也。
　　　　 &lt;3&gt;乘，猶乘車之兼，出於其上也。
　　　　 &lt;4&gt;伏，猶伏兵之伏，隱於其中也。
　　　　 &lt;5&gt;匿，藏也。
　　　　 &lt;6&gt;丁氏曰：「此非特言寸為陽，尺為陰，以上下言，則肌肉之上為陽
　　　　　 部，肌肉之下為陰部，亦通。」
</pre>
<pre data-sec="p">
主題：論形與脈
條文：二十一難：經言人形病脈不病，曰生；脈病形不病，曰死。何謂也？
　　　然：
　　　人形病脈不病，非有不病者也，謂息數不應脈數也。此大法。
註解：[1]周仲立曰：「形體之中覺中憔悴，精神昏憒，食不知美，而脈得四時
　　　　 之從，無過不及之偏，是人病脈不病也。形體安和，而脈息乍大乍小
　　　　 ，或至或損，弦緊浮滑沈濇不一，殘賊冲和之氣，是皆脈息不與形相
　　　　 應，乃脈病人不病也。」
　　　[2]仲景云：「人病脈不病，名曰內虛，以無穀氣，神雖困無苦。脈病人
　　　　 不病，名曰行尸，以無王氣，迕眩仆不識人，短命則死。」
　　　[3]謝氏曰：「按本經答文，詞意不屬似有脫誤。」
</pre>
<pre data-sec="p">
主題：論一脈變為二病
條文：二十二難曰：經言脈有是動、有所生病、一脈變為二病者，何也？
　　　然：
　　　經言是動者，氣也；所生病者，血也。
　　　邪在氣，氣為是動；邪在血，血為所生病。氣主呴之，血主濡之。
　　　氣留而不行者，為氣先病也；血壅而不濡者，為血後病也。
　　　故先為是動，後所生也。
註解：[1]呴，香句反。濡，平聲。
　　　[2]呴，煦也。氣主呴之，謂氣煦嚧然來，薰蒸於皮膚分肉也。
　　　[3]血主濡之，謂血濡潤筋骨，滑利關節，榮養藏府也。
　　　[4]此脈字，非尺寸之脈，乃十二經隧之脈也。此謂十二經隧之脈，每脈
　　　　 中輒有二病者，蓋以有在氣在血之分也。
　　　[5]邪在氣，氣為是而動，邪在血，血為所生病，氣留而不行為氣病，血
　　　　 壅而不濡為血病，故先為是動，後所生病也。
　　　[6]先後云者，抑氣在外，血在內，外先受邪，則內亦從飲而病歟，然邪
　　　　 亦有只在氣，亦有徑在血者，又不可以先後拘也。
　　　　 詳見靈樞經第十篇。
</pre>
<pre data-sec="p">
主題：論十二經脈長短之度數及其流注
條文：二十三難曰：手足三陰三陽，脈之度數，可曉以不？
　　　然：
　　　手三陽之脈，從手至頭，長五尺，五六合三丈。
　　　手三陰之脈，從手至胸中，長三尺五寸，三六一丈八尺，五六三尺，合
　　　二丈一尺。
　　　足三陽之脈，從足至頭，長八尺，六八四丈八尺。
　　　足三陰之脈，從足至胸，長六尺五寸，六六三丈六尺，五六三尺，合三
　　　丈九尺。
　　　人兩足蹻脈，從足至目，長七尺五寸，二七一丈四尺，二五一尺，合一
　　　丈五尺。
　　　督脈、任脈，各長四尺五寸，二四八尺，二五一尺，合九尺。
　　　凡脈長一十六丈二尺，此所謂經脈長短之數也。
　　　經脈十二，絡脈十五，何始何窮也？
　　　然：
　　　經脈者，行血氣，通陰陽，以榮於身者也。
　　　其始從中焦，注手太陰、陽明；陽明注足陽明、太陰；太陰注手少陰、
　　　太陽；太陽注足太陽、少陰；少陰注手心主、少陽；少陽注足少陽、厥陰
　　　；厥陰復還注手太陰。
　　　別絡十五，皆因其原，如環無端，轉相灌溉，朝於寸口、人迎，以處百病
　　　，而決死生也。
　　　經云：明知終始，陰陽定矣。何謂也？
　　　然：
　　　終始者，脈之紀也。
　　　寸口、人迎陰陽之氣通於朝使，如環無端，故曰始也。
　　　終者，三陰三陽之脈絕，絕則死。死各有形，故曰終也。
註解：[1]&lt;1&gt;此靈樞廿七篇全文，三陰三陽，靈樞皆作六陰六陽，義尤明白。
　　　　 &lt;2&gt;按經脈之流注，則手之三陽，從手走至頭，手之三陰，從腹走至手
　　　　　 ，足之三陽，從頭下走至足，足之三陰，從足上走入腹，此舉經脈
　　　　　 之度數，故皆自手足言。
　　　　 &lt;3&gt;人兩足蹻脈，指陰蹻也，陰蹻脈，起於跟中，自然谷之後，上內踝
　　　　　 之上，直上循陰股入陰，循腹上胸，裏行缺盆，出入迎之前，入顛
　　　　　 內廉，屬目內眥，合太陽脈，為足少陰之別絡也。
　　　　 &lt;4&gt;足三陽之脈，從足至頭，長八尺，考工記亦云，人身長八尺，蓋以
　　　　　 同身尺寸言之。
　　　[2]&lt;1&gt;因者，隨也。原者，始也。朝，猶朝會之朝。以，用也。因上文經
　　　　　 脈之尺度而推言經絡之行度也。
　　　　 &lt;2&gt;直行者謂之經，旁出者謂之絡，十二經有十二絡，兼陽絡陰絡，脾
　　　　　 之大絡，為十五絡也。
　　　　 &lt;3&gt;謝氏曰:
　　　　　 「始從中焦者，蓋謂飲食入口，藏于胃，其精微之化，注手太陰陽
　　　　　　 明，以次相傳，至足厥陰，厥陰復還注手太陰也。
　　　　　　 絡脈十五，皆隨十二經脈之所始，轉相灌溉，如環之無端，朝于
　　　　　　 寸口人迎，以之處百病而決死生也。
　　　　　　 寸口人迎，古法以俠喉兩旁動脈為人迎，至晉王叔和，直以左手
　　　　　　 關前一分為人迎，右手關前一分為氣口，後世宗之。」
　　　　 &lt;4&gt;愚謂昔人所以取人迎氣口者，蓋人迎為足陽明胃經，受穀氣而養五
　　　　　 藏者也，氣口為手太陰肺經，朝百脈而平權衡者也。
　　　[3]&lt;1&gt;謝氏曰：「靈樞經第九篇曰，凡刺之道，畢于終始，五藏為紀，陰
　　　　　 陽定矣。」
　　　　 &lt;2&gt;又曰：「不病者，脈口人迎應四時也，少氣者，脈口人迎俱少，而
　　　　　 不稱尺寸也。」
　　　　 &lt;3&gt;此一節，因上文寸口人迎，處百病，決死生而推言之。謂欲曉知終
　　　　　 始，於陰陽為能定之，蓋以陽經取決於人迎，陰經取決於氣口也。
　　　　 &lt;4&gt;朝使者，朝謂氣血如水潮，應時而灌溉。使謂陰陽相為用也，始如
　　　　　 生物之始，終如生物之窮。
　　　　 &lt;5&gt;欲知生死，脈以候之。陰陽之氣，通於朝使，如環無端，則不病，
　　　　　 一或不相朝使則病矣。況三陰三陽之脈絕乎，絕必死矣。其死之形
　　　　　 狀，具如下篇，尤宜參看。
</pre>
<pre data-sec="p">
主題：論手足三陰
條文：二十四難曰：手足三陰三陽氣已絕，何以為候？可知其吉凶不？
　　　然：
　　　足少陰氣絕，即骨枯。
　　　少陰者，冬脈也，伏行而溫於骨髓。故骨髓不溫，即肉不著骨；骨肉不相
　　　親，即肉濡而卻；肉濡而卻，故齒長而枯，髮無潤澤；無潤澤者，骨先死
　　　。戊日篤，己日死。
　　　足太陰氣絕，則脈不營其口唇。
　　　口唇者，肌肉之本也。脈不營，則肌肉不滑澤；肌肉不滑澤，則人中滿；
　　　人中滿，則唇反；唇反，則肉先死。甲日篤，乙日死。
　　　足厥陰氣絕，即筋縮引卵與舌卷。
　　　厥陰者，肝脈也。肝者，筋之合也。筋者，聚於陰器而絡於舌本。故脈不
　　　營，則筋縮急；筋縮急，即引卵與舌；故舌卷卵縮，此筋先死。庚日篤，
　　　辛日死。
　　　手太陰氣絕，即皮毛焦。
　　　太陰者，肺也，行氣溫於皮毛者也。氣弗營，則皮毛焦；皮毛焦，則津液
　　　去；津液去，即皮節傷；皮節傷，則皮枯毛折；毛折者，則毛先死。丙日
　　　篤，丁日死。
　　　手少陰氣絕，則脈不通；脈不通，則血不流；血不流，則色澤去；故面色
　　　黑如黧，此血先死。壬日篤，癸日死。
　　　三陰氣俱絕者，則目眩轉目暝；目暝者，為失志；失志者，則志先死。死
　　　即目暝也。
　　　六陽氣俱絕者，則陰與陽相離，陰陽相離，則腠理泄，絕汗乃出，大如貫
　　　珠，轉出不流，即氣先死。旦占夕死，夕占旦死。
註解：[1]&lt;1&gt;此下六節，與靈樞第十篇文，皆大同小異。
　　　　 &lt;2&gt;濡讀為軟。
　　　　 &lt;3&gt;腎其華在髮，其充在骨，腎絕則不能充於骨，榮於髮。肉濡而卻，
　　　　　 謂骨肉不相著而肉濡縮也。
　　　　 &lt;4&gt;戊己土也，土勝水，故以其所勝之日篤而死矣。
　　　[2]&lt;1&gt;脾，其華在脣四白，其充在肌，脾絕則肉滿脣反也。
　　　　　 1.肉滿，謂肌肉不滑澤，而緊急䐜膹也。
　　　[3]&lt;1&gt;肝者，筋之合，其華在爪，其充在筋，筋者，聚於陰器而絡於舌本
　　　　　 ，肝絕則筋縮引卵與舌也。
　　　　 &lt;2&gt;王充論衡云：「甲乙病者，生死之期，當之庚申。」
　　　[4]&lt;1&gt;肺者，氣之本，其華在毛，其充在皮，肺絕則皮毛焦而津液去。皮
　　　　　 節傷，以諸液皆會於節也。
　　　[5]&lt;1&gt;心之合，脈也，其榮色也，其華在面，其充在血脈，心絕則脈不通
　　　　　 ，血不流，色澤去也。
　　　[6]&lt;1&gt;三陰通手足經而言也。
　　　　 &lt;2&gt;靈樞十篇作五陰氣俱絕，則以手厥陰與手少陰同心經也。
　　　　 &lt;3&gt;目眩轉目瞑者，即所謂脫陰者目盲，此又其甚者也，故云目瞑者失
　　　　　 志，而志先死也。
　　　　 &lt;4&gt;四明陳氏曰：「五藏陰氣俱絕，則其志喪于內，故精氣不注於目，
　　　　　 不見人而死。」
　　　[7]&lt;1&gt;汗出而不流者，陽絕故也。
　　　　 &lt;2&gt;陳氏曰「六府陽氣俱絕，則氣敗于外，故津液脫而死。」
</pre>
<pre data-sec="p">
主題：論十二經脈之數
條文：二十五難曰：有十二經，五臟六腑十一耳，其一經者，何等經也？
　　　然：一經者，手少陰與心主別脈也；心主與三焦為表裡，俱有名而無形
　　　，故言經有十二也。
註解：[1]此篇問答，謂五藏六府配手足之陰陽，但十一經耳，其一經者，則以
　　　　 手少陰與心主各別為一脈，心主與三焦為表裏，俱有名而無形，以此
　　　　 一經井五藏六府共十二經也。
　　　[2]謝氏曰:難經言手少陰心主與三焦者,凡八篇:
　　　　 &lt;1&gt;三十一難，分豁三焦經脈，所始所終。
　　　　 &lt;2&gt;三十六難，言腎之有兩，左曰腎，右曰命門，初不以左右腎分兩手
　　　　　 尺脈。
　　　　 &lt;3&gt;三十八難，言三焦者，原氣之別，主持諸氣，復申言其有名無形。
　　　　 &lt;4&gt;三十九難，言命門者，精神之所舍，男子藏精，女子繫胞，其氣與
　　　　　 腎通。又云，六府正有五府，三焦亦是一府
　　　　 &lt;5&gt;八難、六十二、六十八、三篇，言腎間動氣者，人之生命，十二經
　　　　　 之根本也，其名曰原，三焦則原氣之別使也。
　　　　 &lt;6&gt;通此篇參互觀之，可見三焦列為六府之義，唯其有名無形，故得與
　　　　　 手心主合，心主為手厥陰，其經始于起胸中，終于循小指次指出其
　　　　　 端，若手少陰則始于心中，終于循小指之內出其端，此手少陰與心
　　　　　 主各別為一脈也。
　　　[3]○或問手厥陰經，曰心主，又曰心包絡，何也？
　　　　　 曰君火以名，相火以位，手厥陰代君火行事。以用而言，故曰手心
　　　　　 主。以經而言，則曰心包絡。一經而二名，實相火也。
　　　[4]○虞庶云：「諸家言命門為相火，與三焦相表裏，按難經止言手心主
　　　　　 與三焦為表裏，無命門三焦表裏之說，夫左寸火，右寸金，左關木
　　　　　 ，右關土，左尺水，右尺火，職之部位，其義灼然於乎。
　　　[5]即虞氏此說，則手心主與三焦相為表裏，而攝行君火明矣，卌六難謂
　　　　 命門其氣與腎通，則亦不離乎腎也，其習坎之謂歟，手心主為火之閏
　　　　 位，命門則水之同氣歟，命門不得為相火，三焦不與命門配亦明矣，
　　　　 虞氏之說良有旨哉。
　　　[6]諸家所以紛紛不決者，蓋有感于金匱真言篇，王注引正理論，謂三焦
　　　　 者，有名無形，上合手心主下合右腎，遂有命門三焦表裏之說。
　　　[7]夫人之藏府，一陰一陽，自有定耦，豈有一經兩配之理哉。
　　　[8]夫所謂上合手心主者，正言其為表裏，下合右腎者，則以三焦為原氣
　　　　 之別使而言之爾，知此則知命門與腎通，三焦無兩配，而諸家之言，
　　　　 可不辨而自明矣。
　　　[9]若夫診脈部位，則手厥陰相火居右尺之分，而三焦同之，命門既與腎
　　　　 通，只當居左尺，而謝氏據脈經謂手厥陰即手少陰心脈同部，三焦脈
　　　　 上見寸口，中見於關，下焦與腎同也，前既云，初不以左右腎分兩手
　　　　 尺脈矣，今如脈經所云，則右尺當何所候耶。
</pre>
<pre data-sec="p">
主題：論十五絡脈之數
條文：二十六難曰：經有十二，絡有十五，餘三絡者，是何等絡也？
　　　然：有陽絡，有陰絡，有脾之大絡。
　　　陽絡者，陽蹻之絡也，陰絡者，陰蹻之絡也。故絡有十五焉。
註解：[1]直行者謂之經，旁出者謂之絡，經猶江漢之正流，絡則沱潛之支派。
　　　[2]每經皆有絡，十二經有十二絡，如手太陰屬肺絡大腸，手陽明屬大腸
　　　　 絡肺之類，今云絡有十五者，以其有陽蹻之絡，陰蹻之絡及脾之大絡
　　　　 也。陽蹻陰蹻，見二十八難。
　　　[3]謂之絡者，蓋奇經既不拘於十二經，直謂之絡亦可也。
　　　[4]脾之大絡名曰大包，出淵液三寸，布胸脇，其動應衣，宗氣也。
　　　[5]四明陳氏曰：「陽蹻之絡，統諸陽絡，陰蹻之絡，統諸陰絡，脾之大
　　　　 絡，又總統陰陽諸絡，由脾之能溉養五藏也。」
</pre>
<pre data-sec="p">
主題：論奇經八脈
條文：二十七難曰：脈有奇經八脈者，不拘於十二經，何也？
　　　然：
　　　有陽維，有陰維，有陽蹻，有陰蹻，有衝，有督，有任，有帶之脈。
　　　凡此八脈者，皆不拘於經，故曰奇經八脈也。
　　　經有十二，絡有十五，凡二十七氣，相隨上下，何獨不拘於經也？
　　　然：
　　　聖人圖設溝渠，通利水道，以備不然。天雨降下，溝渠溢滿，當此之時，
　　　滂霈妄行，聖人不能復圖也。此絡脈滿溢，諸經不能復拘也。
註解：[1]&lt;1&gt;脈有奇常，十二經者常脈也，奇經八脈，則不拘於十二經，故曰奇
　　　　　 經。奇對正而言，猶兵家之云奇正也。
　　　　 &lt;2&gt;虞氏曰：奇者，奇零之奇，不偶之義，謂此八脈不係正經，陰陽無
　　　　　 表裏配合，別道奇行，故曰奇經也。
　　　　 &lt;3&gt;此八脈者，督脈督於後，任脈任於前，衝脈為諸陽之海，陰陽維則
　　　　　 維絡於身，帶脈束之如帶，陽蹻得之太陽之別，陰蹻本諸少陰之別
　　　　　 云。
　　　[2]&lt;1&gt;經絡之行，有常度矣，奇經八脈，則不能相從也，故以聖人圖設溝
　　　　　 渠為譬，以見絡脈滿溢，諸經不能復指，而為此奇經也，然則奇經
　　　　　 ，蓋絡脈之滿溢而為之者歟。
　　　　 &lt;2&gt;或曰：「此絡脈」三字，越人正指奇經而言也，既不拘於經，直謂
　　　　　 之絡脈，亦可也。
　　　　　 ○此篇兩節舉八脈之名，及所以為奇經之義。
</pre>
<pre data-sec="p">
主題：論奇經八脈何起何繼
條文：二十八難曰：其奇經八脈者，既不拘於十二經，皆何起何繼也？
　　　然：
　　　督脈者，起於下極之俞，並於脊裡，上至風府，入屬於腦；
　　　任脈者，起於中極之下，以上毛際，循腹裡，上關元，至喉咽。
　　　衝脈者，起於氣衝，並足陽明之經，夾臍上行，至胸中而散也。
　　　帶脈者，起於季脅，迴身一周。
　　　陽蹻脈者，起於跟中，循外踝上行，入風池。
　　　陰蹻脈者，亦起於跟中，循內踝上行，至咽喉，交貫衝脈。
　　　陽維、陰維者，維絡於身，溢畜不能環流灌溉諸經者也。
　　　故陽維起於諸陽會也。陰維起於諸陰交也。
　　　比於聖人圖設溝渠，溝渠滿溢，流於深湖，故聖人不能拘通也。
　　　而人脈隆盛，入於八脈，而不環周，故十二經亦不能拘之。
　　　其受邪氣，畜則腫熱，砭射之也。
註解：[1]繼，脈經作繫。
　　　[2]&lt;1&gt;督之為言都也，為陽脈之海，所以都綱乎陽脈也，其脈起下極之俞
　　　　　 ，由會陰歷長強，循脊中行，至大椎穴，與手足三陽脈之交會，上
　　　　　 至瘖門，與陽維會，至百會與太陽交會，下至鼻柱人中，與陽明交
　　　　　 會。
　　　　 &lt;2&gt;任脈起於中極之下，曲骨穴，任者姙也，為人生養之本。
　　　　 &lt;3&gt;衝脈起於氣衝，穴至胸中而散，為陰脈之海，內經作並足少陰之經
　　　　　 ，按衝脈行乎幽門，通谷而上，皆少陰也，當從內經。
　　　　　 －－此督任衝三脈，皆起於會陰，蓋一源而分三岐也。
　　　[3]帶脈起季脇下，一寸八分，回身一周，猶束帶然。
　　　[4]&lt;1&gt;陽蹻脈，起於足跟中申脈穴，循外踝而行。
　　　　 &lt;2&gt;陰蹻脈，亦於跟中照海穴，循內踝而行。
　　　　　 －－蹻者，捷也，以二脈皆起於足，故取蹻捷超越之義。
　　　[5]陽維陰維，維絡于身，為陰陽之綱維也。
　　　　 &lt;1&gt;陽維所發別于金門，以陽交為郄，與手足太陽及蹻脈會于臑俞，與
　　　　　 手足少陽會于天窌，及會肩井，與足少陽會于陽白，上本神臨泣正
　　　　　 營腦空，下至風池，與督脈會于風府瘂門，此陽維之起于諸之會也
　　　　　 。
　　　　 &lt;2&gt;陰維之郄曰，築賓與足太陰會于腹哀大橫，又與足太陰厥陰會于府
　　　　　 舍期門，又與任脈會于天突廉泉，此陰維起于諸陰之交也。
　　　[6]溢畜不能環流灌溉諸經者也十二字，當在十二經，亦不能拘之下，則
　　　　 於此無所間，而於彼得相從矣。
　　　[7]其受邪氣畜云云十二字，謝氏則以為於本，又上下當有缺文，然脈經
　　　　 無此，疑衍文也，或云，當在三十七難，關格不得盡其命而死矣之下
　　　　 ，因邪在六府而言也。
</pre>
<pre data-sec="p">
主題：論奇經八脈之為病
條文：二十九難曰：奇經之為病何如？
　　　然：
　　　陽維維於陽，陰維維於陰，陰陽不能自相維，則悵然失志，溶溶不能
　　　自收持。
　　　陽維為病苦寒熱，
　　　陰維為病苦心痛；
　　　陰蹻為病，陽緩而陰急，
　　　陽蹻為病，陰緩而陽急。
　　　衝之為病，逆氣而裡急。
　　　督之為病，脊強而厥。
　　　任之為病，其內苦結，男子為七疝，女子為瘕聚。
　　　帶之為病，腹滿，腰溶溶若坐水中。
　　　此奇經八脈之為病也。
註解：[1]此言奇經之病也。
　　　[2]陰不能維于陰，則悵然失志；陽不能維于陽，則溶溶不能自收持。
　　　　 &lt;1&gt;陽維行諸陽而主衞，衞為氣，氣居表，故苦寒熱。
　　　　 &lt;2&gt;陰維行諸陰而主榮，榮為血，血屬心，故苦心痛。
　　　[3]兩蹻脈，病在陽，則陽結急，在陰則陰結急，受病者急，不病者自和
　　　　 緩也。
　　　[4]衝脈從關元，至咽喉，故逆氣裏急。
　　　[5]督脈行背，故脊強而厥。
　　　[6]任脈起胞門，行腹，故病苦內結，男為七疝，女為敧聚也。
　　　[7]帶脈回身一周，故病狀如是，溶溶，無力貌。
　　　　 此各以其經脈所過而言之，自二十七難至此，義寔相因，最宜通玩。
</pre>
<pre data-sec="p">
主題：論榮衛相隨
條文：三十難曰：榮氣之行，常與衛氣相隨不？
　　　然：
　　　經言人受氣於穀；榖入於胃，乃傳與五臟六腑，五臟六腑皆受於氣。
　　　其清者為榮，濁者為衛，榮行脈中，衛行脈外，營周不息，五十而復大會
　　　，陰陽相貫，如環之無端，故知榮衛相隨也。
註解：[1]此篇與靈樞第十八篇，櫱伯之言同，但「穀入於胃，乃傳與五藏六府
　　　　 ，五藏六府皆受於氣」，靈樞作「穀入於胃，以傳與肺，五藏六府皆
　　　　 以受氣」為少殊爾。
　　　[2]皆受於氣之氣，指水穀之氣而言。五十而復大會，說見一難中。
　　　[3]四明陳氏曰：「榮陰也，其行本遲，衞陽也，其行本速，然而清者滑
　　　　 利，濁者慓悍，皆非濇滯之體，故凡衞行于外，榮即從行於中，是知
　　　　 其行，常得相隨，共周其度。」
　　　[4]滹南王氏曰：「清者，體之上也，陽也，火也，離中之一陰降，故午
　　　　 後一陰生，即心之生血也，故曰清氣為榮（天之清不降，天之濁能降
　　　　 ，為六陰驅而使之下也，云清氣者，總離之體言之）。濁者，體之下
　　　　 也，陰也，水也，坎中之一陽升，故子後一陽生，即腎之生氣也，故
　　　　 曰濁氣為衞（地之濁不升，地之清能升，為六陽舉而使之上也，云濁
　　　　 氣者，總坎之體言之。）經云：地氣上為雲，天氣下為雨，雨出地氣
　　　　 ，雲出天氣，此之謂也。」
　　　[5]愚謂以用而言，則清氣為榮者，濁中之清者，濁氣為榮者，濁中之清
　　　　 者，濁氣為衛者，清中之濁者也。以體而言，則清之用不離乎濁之體
　　　　 ，濁之用不離乎清之體，故謂清氣為榮，濁氣為衛亦可也，謂榮濁衛
　　　　 清亦可也。
　　　[6]紀氏亦云：「素問曰，榮者水穀之精氣則清，衛者水穀之悍氣則濁，
　　　　 精氣入於脈中則濁，悍氣行於脈外則清。」
　　　[7]或問三十二難云：「血為榮，氣為衛。」此則榮衛皆以氣這者何也？
　　　　 曰：「經云，榮者水穀之精氣，衞者水穀之悍氣。」
　　　　 又云：「清氣為榮，濁氣為衞。」蓋統而言之，則榮衞皆水穀之氣所
　　　　 為，故悉以氣言可也。析而言之，則榮為血，而衞為氣，固自有分矣
　　　　 。是故榮行脈中，衞行脈外，猶水澤之於川澮，風雲之於太虛也。」
</pre>
<pre data-sec="p">
主題：論三焦之部位與作用
條文：三十一難曰：三焦者，何稟何生？何始何終？其治常在何許？可曉以不？
　　　然：
　　　三焦者，水穀之道路，氣之所終始也。
　　　上焦者，在心下，下鬲，在胃上口，主內而不出，其治在膻中，
　　　玉堂下一寸六分，直兩乳間陷者是。
　　　中焦者，在胃中脘，不上不下，主腐熟水穀，其治在臍傍。
　　　下焦者，當膀胱上口，主分別清濁，主出而不內，以傳導也，
　　　其治在臍下一寸。
　　　故名曰三焦，其府在氣街(一本作衝)。
註解：[1]人身之府藏，有形有狀，有稟有生，如肝稟氣於木，生於水，心稟氣
　　　　 於火，生於木之類，莫不皆然。
　　　[2]唯三焦既無形狀，而所稟所生，則元氣與胃氣而已，故云水穀之道路
　　　　 ，氣之所終始也。
　　　　 &lt;1&gt;上焦其治在膻中，中焦其治在臍傍天樞穴，下焦其治在臍下一寸陰
　　　　　 交穴。
　　　　 &lt;2&gt;治，猶司也，猶郡縣治之治，謂三焦處所也。或云，治作平聲讀，
　　　　　 謂三焦有病，當各治其處，蓋刺法也。
　　　　 &lt;3&gt;三焦相火也，火能腐熟萬物，焦從火，亦腐物之氣，命名取義；或
　　　　　 有在於此歟。
　　　　 &lt;4&gt;靈樞第十八篇曰：
　　　　　 「上焦出於胃上口，並咽以上，貫鬲而布胸中，走腋，循太陰之分
　　　　　 而行，還至陽明，上至舌下，足陽明常與營衞俱行於陽二十五度，
　　　　　 行于陰亦二十五度，一周也，故五十度而復大會于手太陰矣。中焦
　　　　　 亦傍胃口，出上焦之後，此所受氣者，泌糟粕，蒸津液，化其精微
　　　　　 ，上注於肺脈，乃化而為血，以養生身，莫貫于此，故獨得行于經
　　　　　 隧，命曰營氣。
　　　　　 下焦者，別回腸，注于膀胱，而滲入焉，故水穀者，常井居于胃中
　　　　　 ，成糟粕而俱下于大小腸而成下焦，滲而俱下，濟泌別汁，循下焦
　　　　　 而滲入膀胱焉。」
　　　[5]謝氏曰：「詳靈樞本文，則三焦有名無形，尤可見矣。」
　　　[6]古益袁氏曰：「所謂三焦者，於鬲膜脂膏之內，五藏五府之隙，水穀
　　　　 流化之關，其氣融會於其間，薰蒸鬲膜，發達皮膚分肉，運行四旁，
　　　　 曰上中下，各隨所屬部分而名之，寔元氣之別使也，是故雖無其形，
　　　　 倚內外之形而得名，雖無其實，合內外之實而為位者也。」
　　　[7]愚按：「其府在氣街一句，疑錯簡或衍，三焦自屬諸府，其經為手少
　　　　 陽與手心主配，且各有治所，不應又有府也。」
</pre>
<pre data-sec="p">
主題：論心肺獨在鬲上
條文：三十二難曰：五臟俱等，而心、肺獨在鬲上者，何也？
　　　然：
　　　心者血，肺者氣，血為榮，氣為衛；相隨上下，謂之榮衛，
　　　通行經絡，營周於外，故令心、肺在鬲上也。
註解：[1]心榮肺衛，通行經絡，營周於外，猶天道之運於上也。
　　　[2]鬲者，隔也。凡人心下有鬲膜與脊脇周回相著，所以遮隔濁氣，不使
　　　　 上薰於心肺也。
　　　[3]四明陳氏曰：「此特言其位之高下耳，若以五藏德化論之，則尤有說
　　　　 焉，心肺既能以血氣生育人身，則此身之父母也，以父母之尊，亦自
　　　　 然居于上矣。」
　　　[4]內經曰：「鬲肓之上，中有父母，此之謂也。」
</pre>
<pre data-sec="p">
主題：論肝肺色象浮沈之理
條文：三十三難曰：
　　　肝青象木，肺白象金。肝得水而沈，木得水而浮；肺得水而浮，金得水
　　　而沈。其意何也？
　　　然：
　　　肝者，非為純木也，乙角也，庚之柔。大言陰與陽，小言夫與婦。釋其
　　　微陽，而吸其微陰之氣，其意樂金，又行陰道多，故今肝得水而沈也。
　　　肺者，非為純金也，辛商也，丙之柔。大言陰與陽，小言夫與婦。釋其
　　　微陰，婚而就火，其意樂火，又行陽道多，故令肺得水而浮也。
　　　肺熟而復沈，肝熟而復浮者，何也？
　　　故知辛當歸庚，乙當歸甲也。
註解：[1]四明陳氏曰：
　　　　 「肝屬甲乙木，應角音而重濁，析而言之，則甲為木之陽，乙為木之
　　　　　 陰，合而言之，則皆陽也，以其屬少陽，而位于人身之陰分，故為
　　　　　 陰中之陽。夫陽者，必合陰，甲乙之陰陽，本自為配合，而乙與庚
　　　　　 通，剛柔之道，乙乃口甲之微陽，而反樂金，故吸受庚金微陰之氣
　　　　　 ，為之夫婦，木之性本浮，以其受金之氣，而居陰道，故得水而沈
　　　　　 也，及熟之，則所受金之氣，去乙復歸之甲，而木之本體，自然還
　　　　　 浮也。肺屬庚辛金，應商音而輕清，析而言之，則庚為金之陽，辛
　　　　　 為金之陰，合而言之，則皆陰也，以其屬太陰而位于人身之陽分，
　　　　　 故為陽中之陰。夫陰者必合陽，庚辛之陰陽，本自為配合，而辛與
　　　　　 丙通，剛柔之道，辛乃合庚之微陰，而反樂夫火，故就丙火之陽為
　　　　　 之夫婦，金之性本沈，以其受火之氣，炎上而居陽道，故得水而浮
　　　　　 也，及熟之，則所受火之氣，乃去辛復歸之庚，而金之本體，自然
　　　　　 還沈也。」
　　　[2]古益袁氏曰：「肝為陰木，乙也，肺為陰金，辛也，角商各其音也，
　　　　 乙與庚合，丙與辛合，猶夫婦也，故皆暫捨其本性而隨夫之氣習，以
　　　　 見陰陽相感之義焉，況肝位鬲下，肺居鬲上，上陽下陰，所行之道，
　　　　 性隨而分，故木浮而反肖金之沈，金沈而反肖火之上行而浮也，凡物
　　　　 極則反，及其經制化變革，則歸根復命焉，是以肝肺熟，而各肖其木
　　　　 金之本性矣。」
　　　[3]紀氏曰：「肝為陰中之陽，陰性尚多，不隨於木，故得水而沈也，肺
　　　　 為陽中之陰，陽性尚多，不隨於金，故得水而浮也，此乃言其大者耳
　　　　 ，若言其小，則乙庚丙辛，夫婦之道也，及其熟而沈浮反者，各歸所
　　　　 屬，見其本性故也。」
　　　[4]周氏曰：「肝畜血，血陰也，多血少氣，體凝中窒，雖有脈絡內經，
　　　　 非玲瓏空虛之比，故得水而沈也，及其熟也，濡而潤者，轉為乾燥，
　　　　 凝而窒者，變為通虛，宜其浮也。肺主氣，氣陽也，多氣少血，體四
　　　　 垂而輕泛，孔竅玲瓏，脈絡旁達，故得水而浮也，熟則體皆擎歛，孔
　　　　 竅窒寔，輕舒者變而緊縮，宜其沈也，斯物理之當然，與五行造化默
　　　　 相符合。」
　　　[5]謝氏曰：「此因物之性而推其理也。」
　　　[6]愚謂：「肝為陽，陰中之陽也，陰性尚多，故曰微陽，其居在下，行
　　　　 陰道也。肺為陰，陽中之陰也，陽性尚多，故曰微陰，其居在上，行
　　　　 陽道也。熟則無所樂而反其本矣，何也？物熟而相交之氣散也。」
</pre>
<pre data-sec="p">
主題：論五臟之聲色臭味液與七神
條文：三十四難曰：
　　　五臟各有色臭味聲液，皆可曉知以不？
　　　然：十變言，
　　　肝色青，其臭燥，其味酸，其聲呼，其液泣；
　　　心色赤，其臭焦，其味苦，其聲言，其液汗；
　　　脾色黃，其臭香，其味甘，其聲歌，其液涎；
　　　肺色白，其臭腥，其味辛，其聲哭，其液涕；
　　　腎色黑，其臭腐，其味鹹，其聲呻，其液唾。
　　　是五臟聲、色、臭，味，液也。
　　　五臟有七神，各何所藏耶？
　　　然：臟者，人之神氣所舍藏也。
　　　故肝藏魂，肺藏魄，心藏神，脾藏意與智，腎藏精與志也。
註解：[1]&lt;1&gt;此五藏之用也。聲色臭味，下久液字。
　　　　 &lt;2&gt;肝色青。臭臊，木化也。呼出木也。味酸，曲直作酸也。液泣，通
　　　　　 乎目也。
　　　　 &lt;3&gt;心色赤。臭焦，火化也。言揚火也。味苦，炎上作苦也。液汗，心
　　　　　 主血，汗為血之屬也。
　　　　 &lt;4&gt;脾色黃。臭香土化也，歌緩土也，一云脾神好樂，故其聲主歌。味
　　　　　 甘，稼作甘也。液涎，通乎口也。
　　　　 &lt;5&gt;肺色白。臭腥，金化也。哭慘，金也。味辛，從革作辛也。液涕通
　　　　　 乎鼻也。
　　　　 &lt;6&gt;腎色黑，臭腐，水化也。呻，吟誦也，象水之聲。味配，潤下作配
　　　　　 也。液唾水之屬也。
　　　　 &lt;7&gt;四明陳氏曰：「腎位遠，非呻之，則氣不得及於息，故聲之呻者，
　　　　　 自腎出也，然肺主聲，肺主色，心主臭，脾主液，五藏錯綜，互相
　　　　　 有之，故云十變也。」
　　　[2]&lt;1&gt;藏者，藏也，人之神氣藏於內焉。
　　　　 &lt;2&gt;魂者，神明之輔弼也，隨神往來謂之魂。
　　　　 &lt;3&gt;魄者，精氣之匡佐也，並精而出入者謂之魄。
　　　　 &lt;4&gt;神者，精氣之化成也，兩精相薄謂之神。
　　　　 &lt;5&gt;脾主思，故藏意與智。
　　　　 &lt;6&gt;腎者，作強之官，伎巧出焉，故藏精與志也。
　　　　　 此因五藏之用，而言五藏之神，是故五用著于外，七神蘊于內也。
　　　[1]&lt;1&gt;此五藏之用也。聲色臭味，下久液字。
　　　　 &lt;2&gt;肝色青。臭臊，木化也。呼出木也。味酸，曲直作酸也。液泣，通
　　　　　 乎目也。
　　　　 &lt;3&gt;心色赤。臭焦，火化也。言揚火也。味苦，炎上作苦也。液汗，心
　　　　　 主血，汗為血之屬也。
　　　　 &lt;4&gt;脾色黃。臭香土化也，歌緩土也，一云脾神好樂，故其聲主歌。味
　　　　　 甘，稼作甘也。液涎，通乎口也。
　　　　 &lt;5&gt;肺色白。臭腥，金化也。哭慘，金也。味辛，從革作辛也。液涕通
　　　　　 乎鼻也。
　　　　 &lt;6&gt;腎色黑，臭腐，水化也。呻，吟誦也，象水之聲。味配，潤下作配
　　　　　 也。液唾水之屬也。
　　　　 &lt;7&gt;四明陳氏曰：「腎位遠，非呻之，則氣不得及於息，故聲之呻者，
　　　　　 自腎出也，然肺主聲，肺主色，心主臭，脾主液，五藏錯綜，互相
　　　　　 有之，故云十變也。」
　　　[2]&lt;1&gt;藏者，藏也，人之神氣藏於內焉。
　　　　 &lt;2&gt;魂者，神明之輔弼也，隨神往來謂之魂。
　　　　 &lt;3&gt;魄者，精氣之匡佐也，並精而出入者謂之魄。
　　　　 &lt;4&gt;神者，精氣之化成也，兩精相薄謂之神。
　　　　 &lt;5&gt;脾主思，故藏意與智。
　　　　 &lt;6&gt;腎者，作強之官，伎巧出焉，故藏精與志也。
　　　　　 此因五藏之用，而言五藏之神，是故五用著于外，七神蘊于內也。
</pre>
<pre data-sec="p">
主題：論諸腑之功能與五臟之相配
條文：三十五難曰：
　　　五臟各有所腑，皆相近，而心、肺獨去大腸、小腸遠者，何也？
　　　然：
　　　經言心榮、肺衛，通行陽氣，故居在上；
　　　大腸、小腸，傳陰氣而下，故居在下。所以相去而遠也。
　　　又諸腑者，皆陽也，清淨之處。今大腸、小腸、胃與膀胱，皆受不淨，
　　　其意何也？
　　　然：
　　　諸腑者，謂是，非也。
　　　經言：小腸者，受盛之腑也；大腸者，傳瀉行道之腑也；
　　　膽者，水穀之腑也；膀胱者，津液之腑也。一腑猶無兩名，故知非也。
　　　小腸者，心之腑；大腸者，肺之腑；膽者，肝之腑；胃者，脾之腑；
　　　膀胱者，腎之腑。
　　　小腸謂赤腸，大腸謂白腸，膽者謂青腸，胃者謂黃腸，膀胱者謂黑腸。
　　　下焦之所治也。
註解：[1]&lt;1&gt;心榮肺衛，行陽氣而居上，大腸小腸傳陰氣而居下，不得不相遠也
　　　　　 。
　　　[2]&lt;1&gt;又問諸府既皆陽也,則當為清淨之處,何故大腸小腸胃與膀胱皆受不
　　　　　 淨邪。
　　　[3]&lt;1&gt;謂諸府為清淨之處者，其說非也。
　　　　 &lt;2&gt;今大腸小腸胃與膀胱，各有受任，則非陽之清淨矣，各為五藏之府
　　　　　 ，固不得而兩名也，蓋諸府體為陽，而用則陰，經所謂濁陰歸六府
　　　　　 是也。
　　　　 &lt;3&gt;云諸府皆陽，清淨之處，唯膽足以當之。
　　　[4]&lt;1&gt;此以五藏之色，分別五府，而皆以腸名之也。
　　　　 &lt;2&gt;下焦所治的一句，屬膀胱，謂膀胱當下焦所治，主分別清濁也。
</pre>
<pre data-sec="p">
主題：論腎與命門
條文：三十六難曰：
　　　臟各有一耳，腎獨有兩者，何也？
　　　然：
　　　腎兩者，非皆腎也。其左者為腎，右者為命門。
　　　命門者，諸神精之所舍，原氣之所繫也；男子以藏精，女子以繫胞。
　　　故知腎有一也。
註解：[1]腎之有兩者，以左者為腎，右者為命門也，男子於此而藏精，受五藏
　　　　 六府之精而藏之也，女子於此而繫胞，是得精而能施化，胞者受胎之
　　　　 所也。
　　　[2]原氣謂臍下腎間動氣,人之生命,十二經之根本也。
　　　[3]此篇言非皆腎也，三十九難亦言左為腎，右為命門，而又云其氣與腎
　　　　 通，是腎之兩者，其實則一爾。
　　　[4]故項氏家說，引沙隨程可久曰：「北方常配二物，故惟坎加習，於物
　　　　 為龜為蛇，於方為朔為北，於大玄為罔為冥，難經曰，『藏有一，而
　　　　 腎獨兩』，此之謂也。」
　　　　 ○此通三十八、三十九難諸篇，前後參考，其義乃盡。
</pre>
<pre data-sec="p">
主題：五臟上關九竅與臟腑不和之病機
條文：三十七難曰：
　　　五臟之氣，於何發起，通於何許，可曉以不？
　　　然：
　　　五臟者，常上關於九竅也。故
　　　肝氣通於目，目和則知黑白矣；
　　　心氣通於舌，舌和則知五味矣；
　　　脾氣通於口，口和則知穀味矣；
　　　肺氣通於鼻，鼻和則知香臭矣；
　　　腎氣通於耳，耳和則知五音矣。
　　　五臟不和，則九竅不通；六腑不和，則留結為癰。
　　　邪在六府，則陽脈不和，陽脈不和，則氣留之，氣留之則陽脈盛矣。
　　　邪在五臟，則陰脈不和，陰脈不和，則血留之，血留之則陰脈盛矣。
　　　陰氣太盛，則陽氣不得相營也，故曰格。
　　　陽氣太盛，則陰氣不得相營也，故曰關。
　　　陰陽俱盛不得相營也，故曰關格，關格者，不得盡其命而死矣。
　　　經言，氣獨行於五臟，不營於六府者何也？
　　　夫氣之所行也，如水之流，不得息也。故陰脈營於五藏，陽脈營於六府，
　　　如環無端，莫知其紀。終而復始，其不覆溢，人氣內溫於藏府，外濡於
　　　腠理。
註解：[1]&lt;1&gt;謝氏曰：「本篇問五藏之氣於何發起，通於何許，答文止言五藏通
　　　　　 九竅之義，而不及五藏之發起，恐有缺文。」
　　　　 &lt;2&gt;愚按：「五藏發起，當如二十三難流注之說，上關九竅，靈樞作七
　　　　　 竅者是，下同。」
　　　[2]&lt;1&gt;此二句，結上起下之辭，五藏陰也，陰不和則病於內，六府陽也，
　　　　　 陽不和則病於外。
　　　[3]&lt;1&gt;此與靈樞十七篇文大同小異。
　　　　　 ○或云：二十八難，「其受邪氣，畜則腫熱，砭射之也」，十二字
　　　　　　 當為此章之結語，蓋陰陽之氣，太盛，而至於關格者必死，若但
　　　　　　 受邪氣畜，則宜砭射之，其者、指物之辭，因上文六府不和，及
　　　　　　 邪在六府而言之也。
　　　[4]&lt;1&gt;此因上章營字之意，而推及之也，亦與靈樞十七篇文，大同小異。
　　　　 &lt;2&gt;所謂氣獨行于五藏，不營於六府者，非不營於六府也，謂在陰經則
　　　　　 營於五藏，在陽經則營於六府。脈氣周流，如環無端，則無關格覆
　　　　　 溢之患，而人之氣，內得以溫於藏府，外得以洏於腠理矣。
　　　　　 ○四明陳氏曰：「府有邪則陽脈，藏有邪則陰脈盛，陰脈盛者，陰
　　　　　　 氣關于下，陽脈盛者，陽氣格于上，然而未至於死。陰陽俱盛，
　　　　　　 則既關且格，格則吐而食不下，關則二陰閉，不得大小便而死矣
　　　　　　 。藏府氣和而相營，陰不覆，陽不溢，又何關格之有？」
</pre>
<pre data-sec="p">
主題：論腑何獨有六
條文：三十八難曰：臟唯有五，腑獨有六者，何也？
　　　然：
　　　所以腑有六者，謂三焦也。
　　　有原氣之別焉，主持諸氣，有名而無形，其經屬手少陽。
　　　此外腑也，故言腑有六焉。
註解：[1]三焦主持諸氣，為原氣別使者，以原氣賴其導引，潛行默運于一身之
　　　　 中，無或間斷也。外府指其經為手少陽而言，蓋三焦外有經而內無形
　　　　 。故云，詳見六十六難。
</pre>
<pre data-sec="p">
主題：論腑五臟六
條文：三十九難曰：經言腑有五，臟有六者，何也？
　　　然：
　　　六腑者，正有五腑也。五臟亦有六臟者，謂腎有兩臟也。
　　　其左為腎，右為命門。命門者，精神之所舍也；男子以藏精，女子以繫胞
　　　；其氣與腎通，故言臟有六也。
　　　腑有五者，何也？
　　　然：
　　　五臟各一腑，三焦亦是一腑，然不屬於五臟，故言腑有五焉。
註解：[1]前篇言藏有五府有六，此言府有五藏有六者，以腎之有兩也，腎之兩
　　　　 ，雖有左右命門之分，，其氣相通，寔皆腎而已，府有五者，以三焦
　　　　 配合手心主也。
　　　[2]合諸篇而觀之，謂五藏六府可也，五藏五府亦可也，六藏六府亦可也
　　　　 。
</pre>
<pre data-sec="p">
主題：論鼻臭耳聞之意
條文：四十難曰：經言肝主色，心主臭，脾主味，肺主聲，腎主液。
　　　鼻者，肺之候，而反知香臭；
　　　耳者，腎之候，而反聞聲，其意何也？
　　　然：
　　　肺者，西方金也，金生於巳，巳者南方火，火者心，心主臭，故今鼻知
　　　香臭；
　　　腎者，北方水也，水生於申，申者西方金，金者肺，肺主聲，故令耳聞聲。
註解：[1]四明陳氏曰：
　　　　 ┌臭者心所主，鼻者肺之竅，心之脈上肺，故令鼻能知香臭也。耳者
　　　　　 腎之竅，聲者肺所主，腎之脈上肺，故令耳能聞聲也。」
　　　[2]愚按：「越人此說，蓋以五行相生之理論而言，且見其相因而為用也
　　　　 。」
</pre>
<pre data-sec="p">
主題：論肝獨有兩葉
條文：四十一難曰：肝獨有兩葉，以何應也？
　　　然：
　　　肝者，東方木也。木者，春也。萬物始生，其尚幼小，意無所親，
　　　去太陰尚近，離太陽不遠，猶有兩心，故有兩葉，亦應木葉也。
註解：[1]四明陳氏曰：「五藏之相生，母子之道也，故腎為肝之母，屬陰中之
　　　　 太陰，心為肝之子，屬陽中之太陽，肝之位，切近乎腎，亦不遠乎心
　　　　 也。」
　　　[2]愚謂：
　　　　 &lt;1&gt;肝有兩葉，應東方之木，木者春也，萬物始生，草木甲折兩葉之義
　　　　　 也，越人偶有見於此，而立為論說。不必然，不必不然也。
　　　　 &lt;2&gt;其曰太陰太陽，固不必指藏氣及月令而言，但隆冬為陰之極，首夏
　　　　　 為陽之盛，謂之太陰太陽，無不可也，凡讀書要須融活，不可滯泥
　　　　　 ，先儒所謂「以意逆志，是謂得之。」信矣。
　　　[3]後篇謂肝左三葉，右四葉，此云兩葉，總其大者爾。」
</pre>
<pre data-sec="p">
主題：論腸胃長短與臟腑重量
條文：四十二難曰：人腸胃長短，受水穀多少，各幾何？
　　　然：
　　　胃大一尺五寸，徑五寸，長二尺六寸，橫屈受水穀三斗五升，其中常留穀
　　　二斗，水一斗五升。小腸大二寸半，徑八分分之少半，長三丈二尺，受穀
　　　二斗四升，水六升三合合之大半。回腸大四寸，徑一寸半，長二丈一尺，
　　　受穀一斗，水七升半。廣腸大八寸，徑二寸半，長二尺八寸，受穀九升三
　　　合八分合之一。故腸胃凡長五丈八尺四寸。合受水穀八斗七升六合八分合
　　　之一。此腸胃長短，受水穀之數也。肝重四斤四兩，左三葉，右四葉，凡
　　　七葉，主藏魂。心重十二兩，中有七孔三毛，盛精汁三合，主藏神。脾重
　　　二斤三兩，扁廣三寸，長五寸，有散膏半斤，主裹血，溫五臟，主藏意。
　　　肺重三斤三兩，六葉兩耳，凡八葉；主藏魄。腎有兩枚，重一斤一兩，主
　　　藏志。膽在肝之短葉間，重三兩三銖，盛精汁三合。胃重二斤二兩，紆曲
　　　屈伸長二尺六寸，大一尺五寸，徑五寸，盛穀二斗，水一斗五升。小腸重
　　　二斤十四兩，長三丈二尺，廣二寸半，徑八分分之少半，左回疊積十六曲
　　　，盛穀二斗四升，水六升三合合之大半。大腸重二斤十二兩，長二丈一尺
　　　，廣四寸，徑一寸，當臍右迴十六曲，盛穀一斗，水七升半。膀胱重九兩
　　　二銖，縱廣九寸，盛溺九升九合。囗廣二寸半，唇至齒長九分，齒以後至
　　　會厭，深三寸半，大容五合。舌重十兩，長七寸，廣二寸半。咽門重十二
　　　兩，廣二寸半，至胃長一尺六寸。喉嚨重十二兩，廣二寸，長一尺二寸九
　　　節。肛門重十二兩，大八寸，徑二寸大半，長二尺八寸，受穀九升三合八
　　　分合之一。
註解：[1]&lt;1&gt;回腸，即大腸。廣腸，肛門之總稱也。
　　　[2]&lt;1&gt;此篇之義，靈樞三十一、三十二篇，皆有之，越人併為一篇，而後
　　　　　 段增入五藏輕重，所盛所藏，雖覺前後重複，不害其為丁寧也，但
　　　　　 其間受盛之數各不相同，然非大義之所關，姑闕之以俟知者。
</pre>
<pre data-sec="p">
主題：論人不食飲七日而死
條文：四十三難曰：人不食飲，七日而死者，何也？
　　　然：
　　　人胃中當有留穀二斗，水一斗五升，故平人日再至圊，一行二升半，
　　　日中五升，七日五七三斗五升，而水穀盡矣。故平人不食飲七日而死
　　　者，水穀津液俱盡，即死矣。
註解：[1]此篇與靈樞三十篇文，大同小異。
　　　[2]平人胃滿則腸虛，腸滿則胃虛，更虛更滿，故氣得上下，五藏安定，
　　　　 血脈和利，精神乃居，故神者，水穀之精氣也，平人不食飲七日而死
　　　　 者，水穀津液皆盡也，故曰水去則榮散，穀消則衞亡，神無所依，此
　　　　 之謂也。
</pre>
<pre data-sec="p">
主題：論七衝門
條文：四十四難曰：七衝門何在？
　　　然：
　　　唇為飛門，齒為戶門，會厭為吸門，胃為賁門，太倉下口為幽門，
　　　大腸小腸會為闌門，下極為魄門，故曰七衝門也。
註解：[1]衝，衝要之衝。
　　　[2]會厭，謂咽溢會合也。厭，猶掩也。謂當咽物時，合掩喉嚨，不使食
　　　　 物惓入，以阻其氣之噓吸出入也。
　　　[3]賁，與奔同，言物之所奔嚮也。
　　　[4]太倉下口，胃之下口也，在臍上二寸下脘之分。
　　　[5]大腸小腸，會在臍上一寸水分穴。
　　　[6]下極，肛門也，云魄門，亦取幽陰之義。
</pre>
<pre data-sec="p">
主題：論八會
條文：四十五難曰：經言八會者，何也？然：腑會太倉，胰會季脅，筋會陽陵泉，髓會絕骨，血會鬲俞，骨會大杼，脈會太淵，氣會三焦外一筋直兩乳內也。熱病在內者，取其會之氣穴也。
註解：[1]&lt;1&gt;太倉，一名中脘，在臍上四寸，六府取稟於胃，故為府會。
　　　　 &lt;2&gt;季脇，章門穴也，在大橫外，直臍季肋端，為脾之募，五藏取稟於
　　　　　 脾，故為藏會。
　　　　 &lt;3&gt;足少陽之筋，結於膝外廉，陽陵泉也，在膝下一寸外廉陷中，又膽
　　　　　 與肝為配，肝者筋之合，故為筋會。
　　　　 &lt;4&gt;絕骨一名陽輔，在足外踝上四寸輔骨前，絕骨端，如前三分，諸髓
　　　　　 皆屬於骨，故為髓會。
　　　　 &lt;5&gt;鬲俞在背第七椎下，去脊兩旁各一寸半，足太陽脈氣所發也，太陽
　　　　　 多血，又血乃水之象，故為血會。
　　　　 &lt;6&gt;大杼在項後第一椎下，去脊兩旁各一寸半。
　　　　 &lt;7&gt;太淵在掌後陷中動脈，即所謂寸口者，脈之大會也。
　　　　 &lt;8&gt;氣會三焦外，一筋直兩乳內，即膻中為氣海者也，在玉堂下一寸六
　　　　　 分。
　　　[2]熱病在內者，各視其所屬而取之會也。
　　　[3]謝氏曰：「三焦當作上焦。」
　　　[4]四明陳氏曰：
　　　　 「髓會絕骨，髓屬於腎，腎主骨，於足少陽無所關，腦為髓海，腦有
　　　　　 枕骨穴，則當會枕骨，絕骨誤也。血會鬲俞，血者心所統，肝所藏
　　　　　 ，鬲俞在七椎下兩旁，上則心俞，下則肝俞，故為血會。
　　　　　 骨會大杼，骨者髓所養，髓自腦下，注於大杼，大杼滲入脊心，下
　　　　　 貫尾髓，滲諸骨節，故骨之氣，皆會於此。」亦通。
　　　[5]古益袁氏曰：「人能健步，以髓骨絕骨也，肩能任重，以骨會大杼也
　　　　 。」
</pre>
<pre data-sec="p">
主題：論老人臥而不寐與少壯寐而不寤
條文：四十六難曰；老人臥而不寐，少壯寐而不寤者，何也？
　　　然：經言少壯者，血氣盛，肌肉滑，氣道通，榮衛之行不失於常，故晝日精，
　　　夜不寤也。老人血氣衰，肌肉不滑，榮衛之道澀，故晝日不能精，夜不得寐也。
　　　故知老人不得寐也。
註解：[1]老人之寤而不寐，少壯之寐而不寤，係乎榮衞血氣之有餘不足也，與
　　　　 靈樞十八篇同。
</pre>
<pre data-sec="p">
主題：論人面獨能耐寒
條文：四十七難曰：人面獨能耐寒者，何也？
　　　然：
　　　人頭者，諸陽之會也。諸陰脈皆至頸、胸中而還，獨諸陽脈皆上至頭耳，
　　　故令面耐寒也。
註解：[1]靈樞第四篇曰：「首面與身形也，屬骨連筋同血，合於氣耳，天寒則
　　　　 裂地凌冰，其迕寒，或手足懈惰，然而其面不衣，何也？
　　　　 岐伯曰：十二經脈，三百六十五絡，其血氣皆上于面，而走空竅，其
　　　　 精陽氣上走於目而為睛，其別氣走於耳而為聽，其宗氣上出于鼻而為
　　　　 臭，其濁氣出於胃，走唇口而為味。其氣之津液皆上燻于面，而皮又
　　　　 厚，其肉堅，故大熱甚，寒不能勝之也。」
　　　[2]愚按：「手之三陽，從手上走至頭，足之三陽，從頭下走至足，手之
　　　　 三陰，從腹走至手，足之三陰，從足走入腹，此所以諸陰脈皆至頸胸
　　　　 中而還，獨諸陽皆上至頭耳也。」
</pre>
<pre data-sec="p">
主題：論人有三虛三實
條文：四十八難曰：人有三虛三實，何謂也？
　　　然：
　　　有脈之虛實，有病之虛實，有診之虛實也。
　　　脈之虛實者，濡者為虛，牢者為實。
　　　病之虛實者，出者為虛，入者為實；言者為虛，不言者為實；緩者為虛，
　　　急者為實。
　　　診之虛實者，濡者為虛，牢者為實，癢者為虛，痛者為實；外痛內快，為
　　　外實內虛，內痛外快，為內實外虛。
　　　故曰虛實也。
註解：[1]濡者為虛，緊牢者為實，此脈之虛實也。
　　　　 &lt;1&gt;出者為虛，是五藏自病，由內而之外，東垣家所謂內傷是也。入者
　　　　　 為實，是五邪所傷，由外而之內，東垣家所謂外傷是也。言者為虛
　　　　　 ，以五藏自病，不由外邪，故惺惺而不妨於言也。不言者為實，以
　　　　　 人之邪氣內鬱，故昏亂而不言也。緩者為虛，緩、不急也，言內之
　　　　　 出者，徐徐而遲，非一朝一夕夕之病也，急者為實，言外邪所中，
　　　　　 風寒溫熱等病，死生在五六日之間也。此病之虛實也。
　　　[2]診，按也，候也，按其外而知之，非診脈之之診也。
　　　[3]濡者為虛，牢者為實，脈經無此二句，謝氏以為衍文。
　　　[4]楊氏謂按之皮肉柔濡者為虛，牢強者為實，然則有亦無害，夫按病者
　　　　　 之處所，知痛者為實，則知不痛而痒者非實矣，又知外痛內快為邪
　　　　　 盛之在外，內痛外快為邪盛之在內矣，大抵邪氣盛則實，精氣奪則
　　　　　 虛，此診之虛實也。
</pre>
<pre data-sec="p">
主題：論正經自病與五邪所傷之別
條文：四十九難曰：有正經自病，有五邪所傷，何以別之？
　　　然：
　　　經言憂愁思慮則傷心；形寒飲冷則傷肺；恚怒氣逆，上而不下則傷肝；
　　　飲食勞倦則傷脾；久坐濕地，強力入水則傷腎。是正經之自病也。
　　　何謂五邪？
　　　然：
　　　有中風，有傷暑，有飲食勞倦，有傷寒，有中濕。此之謂五邪。
　　　假令心病，何以知中風得之？
　　　然：
　　　其色當赤。何以言之？肝主色，自入為青，入心為赤，入脾為黃，入肺
　　　為白，入腎為黑。肝為心邪，故知當赤色。其病身熱，脅下滿痛，其
　　　脈浮大而弦。
　　　何以知傷暑得之？
　　　然：
　　　當惡臭。何以言之？心主臭，自入為焦臭，入脾為香臭，入肝為臊臭，
　　　入腎為腐臭，入肺為腥臭。故知心病傷暑得之，當惡臭。其病身熱而煩
　　　，心痛，其脈浮大而散。
　　　何以知飲食勞倦得之？
　　　然：
　　　當喜苦味也，虛為不欲食，實為欲食。何以言之？脾主味，入肝為酸，
　　　入心為苦，入肺為辛，入腎為鹹，自入為甘。故知脾邪入心，為喜苦味
　　　也。其病身熱而體重嗜臥，四肢不收，其脈浮大而緩。
　　　何以知傷寒得之？
　　　然：
　　　當譫言妄語。何以言之？肺主聲，入肝為呼，入心為言，入脾為歌，入
　　　腎為呻，自入為哭。故知肺邪入心，為譫言妄語也。其病身熱，洒洒
　　　惡寒，甚則喘咳，其脈浮大而澀。
　　　何以知中濕得之？
　　　然：
　　　當喜汗出不可止。何以言之？腎主液，入肝為泣，入心為汗，入脾為涎
　　　，人肺為涕，自入為唾。故知腎邪入心，為汗出不可止也。其病身熱而
　　　小腹痛，足脛寒而逆，其脈沈濡而大。
　　　此五邪之法也。
註解：[1]&lt;1&gt;1.心主思慮，君主之官也，故憂愁思慮則傷心。
　　　　　 2.肺主皮毛，而在上，是為嫩藏，故形寒飲冷則傷肺。
　　　　　 3.肝主怒，怒則傷肝。
　　　　　 4.脾主飲食及四肢，故飲食勞倦則傷脾。
　　　　　 5.腎主骨而屬水，故用力作強，坐濕入水則傷腎。
　　　　 &lt;2&gt;凡此蓋憂思恚怒，飲食動作之過，而致然也。夫憂思恚怒，飲食動
　　　　　 作，人之所不能無者，發而中節，烏能為害，過則傷人必矣，故善
　　　　　 養生者，去泰去甚適其中而已，昧者拘焉，乃欲一切拒絕之，豈理
　　　　　 也哉？
　　　　 &lt;3&gt;○此與靈樞第四篇文大同小異，但傷脾一節，作「若醉入房，汗出
　　　　　 當風，則傷脾」不同爾。
　　　　 &lt;4&gt;謝氏曰：
　　　　　 ┌飲食勞倦，自是二事，飲食得者，飢飽失時，勞倦者，勞形力而
　　　　　　 致倦怠也。此本經自病者，病由內作，非外邪之干，所謂內傷者
　　　　　　 也。
　　　　　　 或曰：坐濕入水，亦從外得之也，何為正經自病？曰：此非天之
　　　　　　 六淫也。」
　　　[2]&lt;1&gt;風，木也，喜傷肝。暑，火也，喜傷心。土爰稼穡，脾主四肢，故
　　　　　 飲食勞倦，喜傷脾。寒，金氣也，喜傷肺，左氏傳狐突出「金寒」
　　　　　 是也。濕，水也，喜傷腎，霧雨蒸氣之類也，此五者，邪由外至，
　　　　　 所謂外傷者也。
　　　　 &lt;2&gt;謝氏曰：「脾胃正經之病，得之勞倦；五邪之傷，得之飲食。」
　　　[3]&lt;1&gt;此以心經一部設假令而發其例也。
　　　　 &lt;2&gt;肝主色，肝為心邪，故色赤身熱。脈浮大，心也。脇痛脈弦，肝也
　　　　　 。
　　　[4]&lt;1&gt;心主臭，心傷暑而自病，故惡臭，而證狀脈診，皆屬乎心也。
　　　[5]&lt;1&gt;脾主味，脾為心邪，故喜苦味。身熱，脈浮大，心也。體重嗜臥，
　　　　　 四肢不收，脈緩，脾也。
　　　　 &lt;2&gt;虛為不欲食，實為欲食二句，於上下文無所發，疑錯簡衍文也。
　　　[6]&lt;1&gt;肺主聲，肺為心邪，故譫言妄語。身熱脈浮大，心也。惡寒喘咳，
　　　　　 脈濇，肺也。
　　　[7]&lt;1&gt;腎主濕，濕化五液，腎為心邪，故汗出不可止。身熱脈大，心也。
　　　　　 小腹痛，足脛寒，脈沈濡，腎也。
　　　　　 ○凡陰陽府藏經絡之氣，虛實相等，正也；偏虛偏實，失其正也，
　　　　　　 失其正則為邪矣。
　　　　　 此篇越人蓋言陰陽藏府經絡之偏虛偏實者也,由偏實也,故內邪得而
　　　　　 生,由偏虛也,故外邪得而入。
</pre>
<pre data-sec="p">
主題：論五邪之別
條文：五十難曰：病有虛邪，有實邪，有賊邪，有微邪，有正邪，何以別之？
　　　然：
　　　從後來者為虛邪，從前來者為實邪，從所不勝來者為賊邪，從所勝來者
　　　為微邪，自病者為正邪。
　　　何以言之？
　　　假令心病，中風得之為虛邪，傷暑得之為正邪，飲食勞倦得之為實邪，
　　　傷寒得之為微邪，中濕得之為賊邪。
註解：[1]&lt;1&gt;五行之道。
　　　　　 1.生我者體，其氣虛也，居吾之後而來為邪，故曰虛邪。
　　　　　 2.我生者相，氣方實也，居吾之前而來為邪，故曰實邪。
　　　　　 3.正邪，則本經自病者也。
　　　[2]&lt;1&gt;假心為例，以發明上文之義。
　　　　　 1.中風為虛邪，從後而來，火前水後也。
　　　　　 2.傷暑為正邪，火自病也。
　　　　　 3.飲食勞倦為實邪，從前而來，土前火後也。
　　　　　 4.傷寒為微邪，從所勝而來，火勝金也。
　　　　　 5.中濕為賊邪，從所不勝而來，水剋火也。
　　　　　　 與上篇互相發，宜通考之。
</pre>
<pre data-sec="p">
主題：論臟腑病證之別
條文：五十一難曰：
　　　病有欲得溫者，有欲得寒者，有欲得見人者，有不欲得見人者，而各不
　　　同，病在何藏府也？
　　　然：
　　　病欲得寒，而欲見人者，病在府也；
　　　病欲得溫，而不欲見人者，病在藏也。
　　　何以言之？
　　　府者陽也，陽病欲得寒，又欲見人；
　　　藏者陰也，陰病欲得溫，又欲閉戶獨處，惡聞人聲。
　　　故以別知藏府之病也。
註解：[1]紀氏曰：
　　　　 &lt;1&gt;府為陽，陽病則熱有餘，而寒不足，故飲食方服居處，皆欲就寒也
　　　　　 ，陽主動而應乎外，故欲得見人。
　　　　 &lt;2&gt;藏為陰，陰病則寒有餘，而熱不足，故飲食衣服居處，皆欲就溫也
　　　　　 ，陰主靜而應乎內，故欲閉戶獨處，而惡聞人聲也。
</pre>
<pre data-sec="p">
主題：論臟腑發病根本不等
條文：五十二難曰：臟腑發病，根本等不？
　　　然：不等也。
　　　其不等奈何？
　　　然：臟病者，止而不移，其病不離其處；
　　　腑病者，彷彿賁嚮，上下行流，居處無常，
　　　故以此知臟腑根本不同也。
註解：[1]丁氏曰：「藏為陰，陰主靜，故止而不移。府為陽，陽主動，故上下
　　　　 流行，居處無常也。」與五十五難，文義互相發。
</pre>
<pre data-sec="p">
主題：論七傳者死與間臟者生
條文：五十三難曰：經言七傳者死，間臟者生；何謂也？
　　　然：
　　　七傳者，傳其所勝也。間臟者，傳其子也。
　　　何以言之？
　　　假令心病傳肺，肺傳肝，肝傳脾，脾傳腎，腎傳心，一臟不再傷，
　　　故言七傳者死也。
　　　間臟者，傳其所生也。假令心病傳脾，脾傳肺，肺傳腎，腎傳肝，肝傳心
　　　，是母子相傳，竟而復始，如環無端，故曰生也。
註解：[1]&lt;1&gt;紀氏曰：「心火傳肺金，肺金傳肝木，肝木傳脾土，脾土傳腎水，
　　　　　 腎水傳心火，心火受水之傳一也，自心而始，以次相傳至肺之再，
　　　　　 是七傳也，故七傳死者，一藏不受再傷也。」
　　　[2]&lt;1&gt;呂氏曰：「間藏者，間其所勝之藏而相傳也，心勝肺，脾間之，脾
　　　　　 勝腎，肺間之，肺勝肝，腎間之，腎勝心，肝間之；肝勝脾，心間
　　　　　 之，此謂傳其所生也。」
　　　　 &lt;2&gt;按素問標本病傳論曰：「謹察間甚，以意調之，間者并行，甚者獨
　　　　　 行。」蓋并者並也，相並而傳，傳其所間，如呂氏之說是也。獨者
　　　　　 特也，特傳其所勝，如紀氏之說是也。
　　　　 &lt;3&gt;越人之義，蓋本諸此，詳見本篇，及靈樞四十二篇，但二經之義，
　　　　　 則以五藏與胃膀胱七者相傳，發其例，而其篇題皆以病傳為名，今
　　　　　 越人則以七傳間藏之目推明二經，假心為例，以見病之相傳，若傳
　　　　　 所勝，至一藏再傷則死，若間其所勝，是子母相傳則生也，尤簡而
　　　　　 明。
</pre>
<pre data-sec="p">
主題：論臟病難治與腑病易治
條文：五十四難曰：臟病難治，腑病易治，何謂也？
　　　然：
　　　臟病所以難治者，傳其勝也；腑病易治者，傳其子也。
　　　與七傳、間臟同法也。
註解：[1]四明陳氏曰：
　　　　 &lt;1&gt;五藏者，七神內守，則邪之微者不易傳，若大氣之人，則神亦失守
　　　　　 而病深，故病難治，亦或至于死矣。
　　　　 &lt;2&gt;六府為傳輸傳化者，其氣常通，況膽又清淨之處，雖邪入之，終難
　　　　　 深留，故府病易治也。
　　　[2]愚按：「以越人之意推之，則藏病難治者，以傳其所勝也，府病易治
　　　　 者，以傳其所生也，雖然，此特各舉其一偏而言爾，若藏病傳其所生
　　　　 ，亦易治，府病傳其所勝，亦難治也。
　　　　 故龐安常云，世之醫書，惟扁鵲之言為深，所謂難經者也，越人寓術
　　　　 於其書，而言之有不詳者，使後人自求之歟，今以此篇詳之，龐氏可
　　　　 謂得越人之心者矣。」
</pre>
<pre data-sec="p">
主題：論積聚之別
條文：五十五難曰：病有積有聚，何以別之？
　　　然：
　　　積者，陰氣也；聚者，陽氣也。
　　　故陰沈而伏，陽浮而動。氣之所積名曰積，氣之所聚名曰聚。
　　　故積者，五臟所生；聚者，六腑所成也。
　　　積者，陰氣也，其始發有常處，其痛不離其部，上下有所終始，
　　　左右有所窮處；
　　　聚者，陽氣也，其始發無桹本，上下無所留止，其痛無常處，謂之聚。
　　　故以是別知積聚也。
註解：[1]積者，五藏所生，五藏屬陰，陰主靜，故其病沈伏而不離其處。
　　　[2]聚者，六府所成，六府屬陽，陽主動，故其病浮動而無所留止也。
　　　[3]楊氏曰：「積，蓄也，言血脈不行，畜積而成病也。」
　　　[4]周仲立曰：「陰沈而伏，初亦未覺，漸以滋長，日積月累是也。聚者
　　　　 ，病之所在，與血氣偶然邂逅，故無常處也。與五十二難意同。」
</pre>
<pre data-sec="p">
主題：論五臟之積
條文：五十六難曰：五臟之積，各有名乎？以何月何日得之？
　　　然：
　　　肝之積名曰肥氣，在左脅下，如覆杯，有頭足。久不癒，令人發咳逆、
　　　㾬瘧，連歲不已。以季夏戊己日得之。
　　　何以言之？肺病傳於肝，肝當傳脾，脾季夏適王，王者不受邪，肝復欲
　　　還肺，肺不肯受，故留結為積。故知肥氣以季夏戊己日得之。
　　　心之積名曰伏梁，起臍上，大如臂，上至心下。久不癒，令人病煩心。
　　　以秋庚辛日得之。
　　　何以言之？腎病傳心，心當傳肺，肺以秋適王，王者不受邪，心復欲還
　　　腎，腎不肯受，故留結為積。故知伏梁以秋庚辛日得之。
　　　脾之積名曰痞氣，在胃脘，覆大如盤。久不癒，令人四肢不收，發黃疸
　　　，飲食不為肌膚。以冬壬癸日得之。
　　　何以言之？肝病傳脾，脾當傳腎，腎以冬適王，王者不受邪，脾復欲還
　　　肝，肝不肯受，故留結為積。故知痞氣以冬壬癸日得之。
　　　肺之積名曰息賁，在右脅下，覆大如杯。久不已，令人洒淅寒熱、喘咳
　　　、發肺壅。以春甲乙日得之。
　　　何以言之？心病傳肺，肺當傳肝，肝以春適王，王者不受邪，肺復欲還
　　　心，心不肯受，故留結為積。故知息賁以春甲乙日得之。
　　　腎之積名曰賁豚，發於少腹，上至心下，若豚狀，或上或下無時。久不
　　　已，令人喘逆，骨痿少氣。以夏丙丁日得之。
　　　何以言之？脾病傳腎，腎當傳心，心以夏適王，王者不受邪，腎復欲還
　　　脾，脾不肯受，故留結為積。故知賁豚以夏丙丁日得之。
　　　此五積之要法也。
註解：[1]&lt;1&gt;肥之言盛也，有頭足者，有大小本末也。
　　　　 &lt;2&gt;欬逆者，足厥陰之別，貫膈上注肺，肝病故胸中欬而逆也。
　　　　 &lt;3&gt;二日一發為㾬瘧，內經五藏皆有瘧，此在肝為風瘧也，抑以瘧為寒
　　　　　 熱病，多屬少陽，肝與之為表裏，故云左脇肝之部也。
　　　[2]&lt;1&gt;伏梁，伏而不動，如梁木然。
　　　[3]痞氣，痞塞不通也。疸病，發黃也，濕熱為疸。
　　　[4]&lt;1&gt;息賁，或息或賁也。
　　　　 &lt;2&gt;右脇肺之部，肺主皮毛，故酒淅寒熱。
　　　　 &lt;3&gt;或謂藏病，止而不移，今肺積，或息或賁何也？
　　　　　 1.然：或息或賁，非居處無常，如府病也，特以肺主氣；故其病有
　　　　　　 時而動息爾，腎亦主氣，故賁豚亦然。
　　　[5]&lt;1&gt;賁豚，言若豚之賁突，不常定也，豚性躁，故以名之。
　　　　 &lt;2&gt;令人喘逆者，足少陰之支，從肺出絡心，注胸中故也。
　　　　　 ◎此難，但言藏病，而不言府病者，紀氏謂以其發無常處也，楊氏
　　　　　　 謂六府亦相傳，行如五藏之傳也。
　　　　　 ◎或問：「天下之物理，有感有傳，感者情也，傳者氣也，有情斯
　　　　　　 有感，有氣斯有傳，今夫五藏之積。特以氣之所勝，傳所不勝云
　　　　　　 爾，至於王者不受邪，是固然也，若不勝者反欲還所勝，所勝不
　　　　　　 納而留結為積，則是有情而為感矣。且五藏在人身中，各為一物
　　　　　　 ，猶耳司聽，目司視，各有所職，而不能思非，若人之感物，則
　　　　　　 心為之主，而乘氣機者也，然則五藏果各能有情而感乎？」曰：
　　　　　　 「越人之意，蓋以五行之道，推其理勢之所有者，演而成文耳，
　　　　　　 初不必論其情感，亦不必論其還不還，與其必然否也，讀者但以
　　　　　　 所勝傳不勝，及王者不受邪，遂留結為積觀之，則不以辭害志，
　　　　　　 而思過半矣。」
　　　　　 ◎或又問：「子言情感氣傳，先儒之言，則日，形交氣感，是又氣
　　　　　　 能感矣，於吾子之言何如？」曰：「先儒之說，雖曰氣感，由形
　　　　　　 交也，形指人身而言，所以感之生也。」
</pre>
<pre data-sec="p">
主題：論五泄
條文：五十七難曰：泄凡有幾？皆有名不？
　　　然：
　　　泄凡有五，其名不同。有胃泄，有脾泄，有大腸泄，有小腸泄，有大瘕泄
　　　名曰後重。
　　　胃泄者，飲食不化，色黃。
　　　脾泄者，腹脹滿，泄注，食即嘔吐逆。
　　　大腸泄者，食已窘迫，大便色白，腸鳴切痛。
　　　小腸泄者，溲而便膿血，少腹痛。
　　　大瘕泄者，裡急後重，數至圊而不能便，莖中痛。
註解：[1]&lt;1&gt;此五泄之目，下文詳之。
　　　[2]&lt;1&gt;胃受病，故食不化，胃屬土，故色黃。
　　　[3]&lt;1&gt;有聲無物為嘔，有聲有物為吐，脾受病，故腹脹泄注，食即嘔吐而
　　　　　 上逆也。
　　　[4]&lt;1&gt;食方已，即窘迫欲利也，白者金之色，謝氏曰：「此腸寒之證也。
　　　　　 」
　　　[5]&lt;1&gt;溲，小便也。便，指大便。而言溲而便膿血，謂小便不閟，大便不
　　　　　 裏急後重也。
　　　[6]&lt;1&gt;瘕，結也，謂因有凝結而成者。裏急，謂腹內急迫。後重，謂肛門
　　　　　 不墜。惟其裏急後重，故數至圊而不能便，莖中痛者，小便亦不利
　　　　　 也。
　　　　　 ◎謝氏謂小腸、大瘕二泄，今所謂痢疾也。內經曰腸癖，故下利赤
　　　　　　 白者，灸小腸俞是也。穴在第六椎下，兩傍各一寸五分，累驗。
　　　　　 ◎四明陳氏曰：「胃泄，即飧泄也。脾泄，即濡泄也。大腸泄，即
　　　　　　 涸泄也。小腸泄，謂凡泄則小便先下而便血，即血泄也。大瘕泄
　　　　　　 ，即腸瘕也。」
</pre>
<pre data-sec="p">
主題：論傷寒有五
條文：五十八難曰：
　　　傷寒有幾？其脈有變否？
　　　然：
　　　傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病，其所苦各不同。
　　　中風之脈，陽浮而滑，陰濡而弱；
　　　濕溫之脈，陽浮而弱，陰小而急；
　　　傷寒之脈，陰陽俱盛而緊澀；
　　　熱病之脈，陰陽俱浮，浮之而滑，沈之散澀；
　　　溫病之脈，行在諸經，不知何經之動也，各隨其經所在而取之。
　　　傷寒有汗出而癒，下之而死者；有汗出而死，下之而癒者，何也？
　　　然：
　　　陽虛陰盛，汗出而癒，下之即死；
　　　陽盛陰虛，汗出而死，下之而癒。
　　　寒熱之病，候之如何也？
　　　然：
　　　皮寒熱者，皮不可近席，毛發焦，鼻槁，不得汗；
　　　肌寒熱者，皮膚痛，唇舌槁，無汗；
　　　骨寒熱者，病無所安，汗注不休，齒本槁痛。
註解：[1]&lt;1&gt;變，當作辨，謂分別其脈也。
　　　　 &lt;2&gt;紀氏曰：
　　　　　 「汗出惡風者，謂之傷風。
　　　　　　 無汗惡寒者，謂之傷寒。
　　　　　　 一身盡疼，不可轉側者謂之溼溫。
　　　　　　 冬傷於寒，至夏而發者，謂之熱病。
　　　　　　 非其時而有其氣，一歲之中，病多相似者，謂之溫病。」
　　　[2]&lt;1&gt;上文言傷寒之目，此言其脈之辨也。
　　　　 &lt;2&gt;陰陽字皆指尺寸而言。
　　　　 &lt;3&gt;楊氏曰「溫病乃是疫癘之氣，非冬感于寒，至春變為溫病者，散行
　　　　　 諸經，故不可預知，臨病人而診之，知在何經之動，乃隨而治之。
　　　　　 」
　　　　 &lt;4&gt;○謝氏曰
　　　　　 「仲景傷寒例云，冬時嚴寒，萬類收藏，君子周密，則不傷於寒，
　　　　　　 觸冒者乃名傷寒耳其，傷於四時之氣，皆能為病，以傷寒為毒者
　　　　　　 ，以其最成殺厲之氣也，中而即病者，名曰傷寒，不即病者，寒
　　　　　　 毒藏於肌膚，至春變為溫病，至夏變為暑病，暑病者，熱極而重
　　　　　　 於溫也。」
　　　　　　 又曰：「陽脈浮滑，陰脈濡弱，更過於風，變為風溫，今按仲景
　　　　　　 例，風溫與難經中風脈同，而無溼溫之說。」
　　　　　　 又曰「難經言溫病，即仲景傷寒例中，所言溫瘧、風溫、溫毒、
　　　　　　 溫疫，四溫病也，越人言其概而未詳，仲景則發其秘而條其脈，
　　　　　　 可謂詳矣。」
　　　　 &lt;5&gt;龐安常傷寒總論云：
　　　　　 「難經載五積傷寒，言溫病之脈，行在諸經，不知何經之動，隨其
　　　　　　 經所在而取之，據難經，溫病又是四種，傷寒感異氣而變成者也
　　　　　　 。
　　　　　　 所以王叔和云，陽脈浮滑，陰脈濡弱，更遇於風，變成風溫，陽
　　　　　　 脈洪數，陰脈實大，更遇溼熱，變為溫毒，溫毒為病最重也，陽
　　　　　　 脈濡弱，陰脈弦緊，更遇溼氣，變為溼溫，脈陰陽俱盛，重感於
　　　　　　 寒，變為溫瘧，斯乃同病異名，同脈異經者也，所謂隨其經所在
　　　　　　 而取之者，此也。」
　　　　　　 龐氏此說，雖不與難經同，然亦自一義例，但傷寒例言溫疫而無
　　　　　　 溼溫，叔和言溼溫而無溫疫，此亦異耳。
　　　[3]&lt;1&gt;受病為虛，不受病者為盛，唯其虛也，是以邪湊之，唯其盛也，是
　　　　　 以邘不入，即外臺所謂「表病裏和，裏病表和」之謂，指傷寒傳變
　　　　　 者而言之也。
　　　　 &lt;2&gt;1.表病裏和，汗之可也，而反下之，表邪不除裏氣復奪矣。
　　　　　 2.裏病表和，下之可也，而反汗之，裏邪不退，表氣復奪矣，故云
　　　　　　 死。所以然者，汗能亡陽，下能損陰也。
　　　　 &lt;3&gt;此陰陽字指表裏言之。
　　　　 &lt;4&gt;經曰：「誅伐無過，命曰大惑」，此之謂歟。
　　　[4]&lt;1&gt;靈樞二十一篇曰：
　　　　　 「皮寒熱者，不可陰席，毛髮焦鼻藁腊，不得汗，取三陽之絡，以
　　　　　　 補手太陰。
　　　　　　 肌寒熱者，肌痛，毛髮焦而唇稿腊，不得汗，取三陽於下，以去
　　　　　　 其血者，補足太陰以出其汗。
　　　　　　 骨寒熱者，病無所安，（謂一身百脈無有是處也）汗注不休，齒
　　　　　　 未槁，取其少陰股之絡，齒己槁，死不治。」
　　　　 &lt;2&gt;愚按此蓋內傷之病，因以類陰之，東垣內外傷辨，其兆於此乎。
</pre>
<pre data-sec="p">
主題：論狂癲之別
條文：五十九難曰：狂癲之病，何以別之？
　　　然：
　　　狂疾之始發，少臥而不饑，自高賢也，自辨智也，自貴倨也，妄笑，
　　　好歌樂，妄行不休是也。
　　　癲疾始發，意不樂，僵仆直視。
　　　其脈三部陰陽俱盛是也。
註解：[1]狂疾發於陽，故其狀皆自有餘而主動。
　　　[2]癲疾發於陰，故其狀皆自不足而主靜。
　　　[3]其脈三部，陰陽俱盛者，謂發於陽為狂，則陽脈俱盛，發於陰為癲，
　　　　 則陰脈俱盛也。
　　　[4]按二十難中：「重陽者狂，重陰者癲，脫陽者見鬼，脫陰者目盲」，
　　　　 四句當屬之，此下重讀如再重之重。去聲。
　　　[5]重陽重陰，於以再明上文陰陽俱盛之意，又推其極至，脫陽脫陰，則
　　　　 不止於重陽重陰矣。蓋陰盛而極，陽之脫也，鬼為幽陰之物，故見之
　　　　 ，陽盛而極，陰之脫也，一水不能勝五火，故目盲。
　　　[6]四明陳氏曰：「氣并於陽則為重陽，血并於陰則為重陰。脫陽見鬼，
　　　　 氣不守也。脫陰目盲，血不榮也。」
　　　　 ◎狂癲之病，靈樞二十一篇，其論詳矣，越人特舉其概，正龐氏所謂
　　　　 引而不發，使後人自求之歟。
</pre>
<pre data-sec="p">
主題：論頭心病之厥痛與真痛
條文：六十難曰：頭心之病，有厥痛，有真痛，何謂也？
　　　然：
　　　手三陽之脈，受風寒，伏留而不去者，則名厥頭痛；
　　　入連在腦者，名真頭痛。
　　　其五臟氣相干，名厥心痛；
　　　其痛甚，但在心，手足青者，即名真心痛。
　　　其真心痛者，旦發夕死，夕發旦死。
註解：[1]&lt;1&gt;詳見靈樞二十四篇，厥，逆也。
　　　[2]&lt;1&gt;真頭痛，其痛甚，腦盡痛，手足青至節，死不治。
　　　　　 蓋腦為髓海，真氣之聚，卒不受邪，受邪則死。
　　　[3]&lt;1&gt;靈樞載厥心痛凡五，胃心痛、腎心痛、脾心痛、肝心痛、肺也痛，
　　　　　 皆五藏邪氣相干也。
　　　[4]&lt;1&gt;靈樞曰：「真心痛，手足青至節，心痛甚，為真心痛。」
　　　　 &lt;2&gt;又七十一篇曰：「少陰者，心脈也，心者，五藏六府之大主也，心
　　　　　 為帝王，精神之所舍，其藏堅固，邪不能客，客之則傷心，心傷則
　　　　　 神去，神去則死矣。」
　　　　 &lt;3&gt;其真心痛者，「真」字下當欠一「頭」字，蓋闕文也，手足青之「
　　　　　 青」，當作清冷也。
</pre>
<pre data-sec="p">
主題：論望聞問切與神聖工巧
條文：六十一難曰：
　　　經言望而知之謂之神，聞而知之謂之聖，問而知之謂之工，切脈而知之
　　　謂之巧。何謂也？
　　　然：
　　　望而知之者，望見其五色，以知其病。
　　　聞而知之者，聞其五音，以別其病。
　　　問而知之者，問其所欲五味，以知其病所起所在也。
　　　切脈而知之者，診其寸囗，視其虛實，以知其病，病在何臟腑也。
　　　經言以外知之曰聖，以內知之曰神，此之謂也。
註解：[1]&lt;1&gt;素問五藏生成篇曰：
　　　　　 「色見青如草滋者死，黃如枳實者死，黑如炲者死，赤如衃血者死
　　　　　　 ，白如枯骨者死，此五色之見死者也。
　　　　　　 青如翠羽者生，赤如雞冠者生，黃如蟹腹者生，白如豕膏者生，
　　　　　　 黑如烏羽者生，此五色之見生也。生於心，欲如以縞裏紅。生於
　　　　　　 肝，欲如以縞裹紅。生於肝，欲如以縞裹紺。生於脾，欲如以縞
　　　　　　 裹栝樓實。生於腎，欲如以縞裹紫。此五藏生色之外榮也。」
　　　　 &lt;2&gt;靈樞四十九篇曰：
　　　　　 「青黑為痛，黃赤為熱，白為寒。
　　　　　　 又日赤色出於兩顴，大如拇指者，病雖小癒，必卒死。黑色出於
　　　　　　 庭，（庭者顏也）大如拇指，必不病而卒。」
　　　　 &lt;3&gt;又七十四篇曰：「診血脈者多赤，多熱；多青、多痛；多黑，為久
　　　　　 痺。多黑、多赤、多青、皆見者，為寒熱。身痛面色微黃，齒垢黃
　　　　　 ，爪甲上黃，黃疸也。」
　　　　 &lt;4&gt;又如驗產婦面赤舌青，母活子死，面青舌赤沫出，母死子活，唇口
　　　　　 俱青，子母俱死之類也。
　　　　 &lt;5&gt;袁氏曰：「五藏之色見於面者，各有部分，以應相生相剋之候，察
　　　　　 之以知其病也。」
　　　[2]&lt;1&gt;四明陳氏曰：
　　　　　 「五藏有聲，而聲有音。
　　　　　　 肝聲呼，音應角，調而直，音聲相應則無病，角亂則病在肝。
　　　　　　 心聲笑，音應微，和而長，音聲相應則無病，徵亂則病在心。
　　　　　　 脾聲歌，音應宮，大而和，音聲相應則無病，宮亂則病在脾。
　　　　　　 肺聲哭，音應商，輕而勁，音輕相應則無病，商亂則病在肺。
　　　　　　 腎聲呻，音應羽，沈而深，音聲相應則無病，羽亂則病在腎。」
　　　　 &lt;2&gt;袁氏曰：「聞五藏五聲，以應五音之清濁，或互相勝負，或其音嘶
　　　　　 嗄之類，別其病也。」
　　　　　 ◎此一節，當於素問陰陽應象論，金匱真言諸篇，言五藏聲音，及
　　　　　　 三十四難云云求之，則聞其聲，足以別其病也。
　　　[3]&lt;1&gt;靈樞六十三篇曰：
　　　　　 「五味入口，各有所走，各有所病。
　　　　　　 酸走筋，多食之令人癃。
　　　　　　 鹹走血，多食之令人渴。
　　　　　　 辛走氣，多食之令人洞心，辛與氣俱行，故辛入心而與汗俱出。
　　　　　　 苦走骨，多食之之令人變嘔。
　　　　　　 甘走肉，多食之令人悗心。（悗言悶）
　　　　　　 推此則知，問其所欲五味，以知其病之所起所在也。」
　　　　 &lt;2&gt;袁氏曰：「問其所欲五味中，偏嗜偏多食之物，則知藏氣有偏勝偏
　　　　　 絕之候也。」
　　　[4]&lt;1&gt;診寸口，即第一難之義。視虛實，見六難并四十八難。
　　　　 &lt;2&gt;王氏脈法讚曰：「脈有三部，尺寸及關，榮衞流行，不失衡銓，腎
　　　　　 沈心洪肺浮肝弦，此自常經，不失銖分，出入升降，漏刻周旋，水
　　　　　 下二刻，脈一周身，旋復寸口，虛實見焉，此之謂也。」
　　　[5]&lt;1&gt;以外知之望聞，以內知之問切也，神微妙，聖通明也，又總結之，
　　　　　 言聖神則功巧在內矣。
</pre>
<pre data-sec="p">
主題：論臟井榮有五而腑獨有六
條文：六十二難曰：臟井滎有五，腑獨有六者，何謂也？
　　　然：
　　　腑者，陽也。三焦行於諸陽，故置一俞，名曰原。
　　　腑有六者，亦與三焦共一氣也。
註解：[1]&lt;1&gt;藏之井滎有五，謂井滎俞經合也。
　　　　 &lt;2&gt;府之井滎有六，以三焦行於諸陽，故又置一俞而名曰原，所以府有
　　　　　 六者，與三焦共一氣也。
　　　[2]虞氏曰：「此篇疑有缺誤，當與六十六難參考。」
</pre>
<pre data-sec="p">
主題：論五臟六腑皆以井為始
條文：六十三難曰：
　　　十變言，五臟六腑滎合，皆以井為始者，何也？
　　　然：
　　　井者，東方春也，萬物之始生。諸蚑行喘息，蜎飛蠕動，當生之物，
　　　莫不以春生；故歲數始於春，日數始於甲，故以井為始也。
註解：[1]十二經所出之穴，皆謂之井，而以為榮俞之始者，以井主東方木，木
　　　　 者春也，萬物發生之始，諸者行，喘者息，息謂噓吸氣也，公孫洪作
　　　　 傳作「行，喘息」，義尤明白，蜎者飛，蠕者動，皆蟲豸之屬，凡當
　　　　 生之物，皆以春而生，是以歲之數則始於春，日之數則始於甲，人之
　　　　 榮合則始於井也。
　　　[2]馮氏曰：「井，谷井之井，泉源之所出也。」
　　　[3]四明陳氏曰：「經穴之氣所生，則自井始，而溜滎注俞，過經人合，
　　　　 故以萬物及歲數日數之始為譬也。」
</pre>
<pre data-sec="p">
主題：論井榮俞經合之陰陽五行屬性
條文：六十四難曰：
　　　十變又言，陰井木，陽井金；陰滎火，陽滎水；陰俞土，陽俞木；陰經金
　　　，陽經火；陰合水，陽合土。陰陽皆不同，其意何也？
　　　然：
　　　是剛柔之事也。陰井乙木，陽井庚金。陽井庚，庚者，乙之剛也；陰井乙
　　　，乙者，庚之柔也。乙為木，故言陰井木也；庚為金，故言陽井金也。餘
　　　皆仿此。
註解：[1]&lt;1&gt;十二經起於井穴。
　　　　　 1.陰井為木，故陰井木生陰滎火，陰滎火生陰俞土，陰俞土生陰經
　　　　　　 金，陰經金生陰合水。
　　　　　 2.陽井為金，故陽井金，生陽滎水，陽滎水，生陽俞木，陽俞木生
　　　　　　 陽經火，陽經火，生陽合土。
　　　[2]&lt;1&gt;剛柔者，即乙庚之相配也，十干所以自乙庚而言者，蓋諸藏府穴，
　　　　　 皆始於井，而陰脈之井，始於乙木，陽脈之井，始於庚金，故自乙
　　　　　 庚而言剛柔之配，而其餘五行之配，皆倣此也。
　　　　 &lt;2&gt;丁氏曰：
　　　　　 「剛柔者，謂陰井木，陽井金，庚金為剛，乙木為柔，陰滎火，陽
　　　　　　 滎水，壬水為剛，丁火為柔，陰俞土，陽俞木，甲木為剛，己土
　　　　　　 為柔，陰經金，陽經火，丙火為剛，辛金為柔，陰合水，陽合土
　　　　　　 ，戊土為剛，癸水為柔。
　　　　　　 蓋五行之道相生者，母子之義，相剋相制者，夫婦之類，故夫道
　　　　　　 皆剛，婦道皆柔，自然之理也，易曰，分陰分陽，迭用柔剛，其
　　　　　　 是之謂歟。」
</pre>
<pre data-sec="p">
主題：論所出為井與所入為合之義
條文：六十五難曰：
　　　經言所出為井，所入為合。其法奈何？
　　　然：
　　　所出為井，井者，東方春也，萬物之始生，故言所出為井也。
　　　所入為合，合者，北方冬也，陽氣入藏，故言所入為合也。
註解：[1]此以經穴流注之始終言也。
</pre>
<pre data-sec="p">
主題：論十二經之原
條文：六十六難曰：
　　　經言肺之原，出於太淵；心之原，出於大陵；肝之原，出於太衝；脾之原
　　　，出於太白；腎之原，出於太谿；少陰之原，出於兌骨；膽之原，出於
　　　丘墟；胃之原，出於衝陽；三焦之原，出於陽池；膀胱之原，出於京骨；
　　　大腸之原，出於合谷；小腸之原，出於腕骨。十二經皆以俞為原者，何也
　　　？
　　　然：
　　　五臟俞者，三焦之所行，氣之所留止也。
　　　三焦所行之俞為原者，何也？
　　　然：
　　　臍下腎間動氣者，人之生命也，十二經之根本也，故名曰原。
　　　三焦者，原氣之別使也，主通行三氣，經歷於五臟六腑。
　　　原者，三焦之尊號也，故所止輒為原。五臟六腑之有病者，皆取其原也。
註解：[1]&lt;1&gt;肺之原太淵，至腎之原太谿，見靈樞第一篇。
　　　　　 其第二篇曰：肺之俞太淵，心之俞大陵，肝之俞太衝，脾之俞太白
　　　　　 ，腎之俞太谿，膀胱之俞束骨，過于京骨為原，膽之俞臨泣，過于
　　　　　 丘墟為原，胃之俞陷谷，過于衝陽為原，三焦之俞中渚，過于陽池
　　　　　 為原，小腸之俞後谿，過于腕骨為原，大腸之俞三間，過于合谷為
　　　　　 原，蓋五藏陰經，止以俞為原，六府陽經，既有俞，仍別有原。」
　　　　 &lt;2&gt;或曰：「靈樞以大陵為心之原，難經亦然，而又別以兌骨為少陰之
　　　　　 原，諸家針灸書，並以大陵為手厥陰心主之俞，以神門在掌後兌骨
　　　　　 之端者，為心經所注之俞，似此不同者，何也？」
　　　　　 1.按靈樞七十一篇曰：「少陰無輸，心不病乎？岐伯曰：其外經病
　　　　　　 而藏不病，故獨取其經於掌後兌骨之端也，其餘脈出入屈折，其
　　　　　　 行之疾徐，皆如手少陰心主之脈行也。」
　　　　　 2.又第二篇曰：「心出於中衝，溜於勞宮，注于大陵，行於間使，
　　　　　　 入于曲澤，手少陰也。」（按中衝以下，並手心主經俞靈樞自指
　　　　　　 後手少陰，而手少陰經俞不別載也。）
　　　　　 3.又素問繆刺篇曰：刺手心主少陰兌骨之端，各一痏立已。
　　　　　 4.又氣穴篇曰：藏俞五十穴，王氏注，五藏俞，惟有心包經井俞之
　　　　　　 穴，而亦無心經井俞穴。
　　　　　 5.又七十九難曰：假令心痛，寫手心主俞，補手心主井。
　　　　　　 詳此前後各經文義，則知手少陰與心主同治也。
　　　[2]&lt;1&gt;十二經皆以俞為原者，以十二經之俞，皆係三焦所行氣所留止之處
　　　　　 也。
　　　　 &lt;2&gt;三焦所行之俞為原者，以齊下腎間動氣，乃人之生命，十二經之根
　　　　　 本，三焦則為原氣之別使，主通行上中下之三氣，經歷於五藏六府
　　　　　 也。
　　　　 &lt;3&gt;通行三氣，即紀氏所謂下焦，稟真元之氣，即原氣也，上達至於中
　　　　　 焦，中焦受水穀精悍之氣，化為榮衞，榮衞之氣，與真元之氣通行
　　　　　 ，達於上焦也，所以原為三焦之尊號，而所止輒為原，猶警蹕所至
　　　　　 稱行在所也，五藏六府之有病者，皆於是而取之宜哉。
</pre>
<pre data-sec="p">
主題：論募在陰而俞在陽
條文：六十七難曰：五臟募皆在陰，而俞皆在陽者，何謂也？
　　　然：
　　　陰病行陽，陽病行陰。故令募在陰，俞在陽。
註解：[1]募與俞，五藏空穴之總名也。
　　　　 &lt;1&gt;在腹為陰，則謂之募，在背為陽，則謂之俞。
　　　　 &lt;2&gt;募猶募結之募，言經氣之聚於此也；俞，矢扁鵲傳作輸，猶委輸之
　　　　　 輸，言經氣由此而輸於彼也。
　　　[2]五藏募在腹。
　　　　 &lt;1&gt;肺之募中府二穴在胸部，雲門下一寸，乳上三肋間，動脈陷中。
　　　　 &lt;2&gt;心之募巨闕一穴，在鳩尾下一寸。
　　　　 &lt;3&gt;脾之募章門二穴，在季脇下直臍。
　　　　 &lt;4&gt;肝之募期門二穴，在不容兩旁各一寸五分。
　　　　 &lt;5&gt;腎之募京門二穴，在腰中季脇本。
　　　[3]五藏俞在背行足太陽之經。
　　　　 &lt;1&gt;肺俞在第三椎下。
　　　　 &lt;2&gt;心俞在五椎下。
　　　　 &lt;3&gt;肝俞在九椎下。
　　　　 &lt;4&gt;脾俞在十一椎下。
　　　　 &lt;5&gt;腎俞在十四椎下，皆夾脊兩旁，各一寸五分。
　　　[4]陰病行陽，陽病行陰者，陰陽經絡，氣相六貫，藏府腹背，氣相通應
　　　　 ，所以陰病有時而行陽，陽病有時而行陰也，針法曰：「從陽引陰，
　　　　 從陰引陽。」
</pre>
<pre data-sec="p">
主題：論井榮俞經合所主病
條文：六十八難曰：五臟六腑，皆有井滎俞經合，皆何所主？
　　　然：
　　　經言所出為井，所流為滎，所注為俞，所行為經，所入為合。
　　　井主心下滿，滎主身熱，俞主體重節痛，經主喘咳寒熱，合主逆氣而泄。
　　　此五臟六腑井滎俞經合所主病也。
註解：[1]主，主治也。井，谷井之井，水源之所出也。滎絕小水也，井之源本
　　　　 微，故所流尚小而為滎。俞，輸也，注也，自滎而注乃為俞也，由俞
　　　　 而經過於此，乃謂之經，由經而入於所合，謂之合，合者會也。
　　　[2]靈樞第一篇曰：五藏五俞，五五二十五俞，六府六藏，六六三十六俞
　　　　 。（所俞字空穴之總名，凡諸空穴皆可以言俞）經脈十二，絡脈十五
　　　　 ，凡二十七氣所行，皆井滎俞經合之所係，而所主病各不同，井主心
　　　　 下滿，肝木病也，足厥陰之支，從肝別貫鬲，上注肺，故井主心下滿
　　　　 ，滎主身熱，心火病也，俞主體重節痛，脾土病也，經主喘欬寒熱，
　　　　 肺金病也，合主逆氣而泄，腎水病也。
　　　[3]謝氏曰：「此舉五藏之病，各一端為例，餘病可以類推而互取也，不
　　　　 言六府者，舉藏足以該之。」
</pre>
<pre data-sec="p">
主題：論補母瀉子之治
條文：六十九難曰：經言虛者補之，實者瀉之，不實不虛，以經取之，何謂也？
　　　然：
　　　虛者補其母，實者瀉其子，當先補之，然後瀉之；不實不虛，以經取之者
　　　，是正經自生病，不中他邪也，當自取其經，故言以經取之。
註解：[1]靈樞第十篇載：「十二經皆有盛則瀉之，虛則補之，不盛不虛，以經
　　　　 取之。」虛者補其母。
　　　　 實者瀉其子，子能令母實，母能令子虛也，假令肝病虛，即補厥陰之
　　　　 合曲泉是也，實則瀉厥陰之滎行間是也，先補後瀉，即後篇陽氣不足
　　　　 ，陰氣有餘，當先補其陽，而後瀉其陰之意，然於此義不屬，非闕誤
　　　　 ，即衍文也。
　　　[2]不實不虛，以經取之者，即四十九難，憂愁思慮則傷心，形寒飲冷則
　　　　 傷肺云云者，蓋正經之自病者也。
　　　[3]楊氏曰：「不實不虛，是謂藏不相乘也，故云自取其經。」
</pre>
<pre data-sec="p">
主題：論四時針刺之法
條文：七十難曰：春夏刺淺，秋冬刺深者，何謂也？
　　　然：
　　　春夏者，陽氣在上，人氣亦在上，故當淺取之；秋冬者，陽氣在下，
　　　人氣亦在下，故當深取之。
　　　春夏必致一陰，秋冬必致一陽者，何謂也？
　　　然：
　　　春夏溫，必致一陰者，初下針，沈之至腎肝之部，得氣，引持之陰也。
　　　秋冬寒，必致一陽者，初內針，淺而浮之至心肺之部，得氣，推內之陽
　　　也。是謂春夏必致一陰，秋冬必致一陽。
註解：[1]&lt;1&gt;春夏之時，陽氣浮而上，人之氣亦然，故刺之當淺，欲其無太過也
　　　　　 。
　　　　 &lt;2&gt;秋冬之時，陽氣沈而下，人氣亦然，故刺之當深，欲其無不及也。
　　　　 &lt;3&gt;經曰：「必先歲氣，無伐天和，此之謂也。」
　　　　 &lt;4&gt;四明陳氏曰：「春氣在毛，夏氣在皮，秋氣在分肉，冬氣在骨髓，
　　　　　 是淺深之應也。」
　　　[2]&lt;1&gt;致，取也，春夏氣溫，必致一陰者，春夏養陽之義也，初下針，即
　　　　　 沈之至腎肝之部，俟其得氣，乃引針而提之，以至於心肺之分，所
　　　　　 謂致一陰也。
　　　　 &lt;2&gt;秋冬氣寒，必致一陽者，秋冬養陰之義也，初內針，淺內浮之當心
　　　　　 肺之部，俟其得氣推針而內之，以達於腎肝之分，所謂致一陽也。
　　　　　 ◎此篇致陰致陽之說，越人特推其理，有如是者爾，凡用針補瀉，
　　　　　　 自有所宜，初不必以是相拘也。
</pre>
<pre data-sec="p">
主題：論針刺榮衛之淺深
條文：七十一難曰：經言刺榮無傷衛，刺衛無傷榮。何謂也？
　　　然：
　　　針陽者，臥針而刺之；
　　　刺陰者，先以左手攝按所針滎俞之處，氣散乃內針。
　　　是謂刺榮無傷衛，刺衛無傷榮也。
註解：[1]榮為陰，衛為陽，榮行脈中，衞行脈外，各有所淺深也。
　　　[2]用針之道亦然：
　　　　 &lt;1&gt;針陽必臥針而刺之者，以陽氣輕浮，過之恐傷於榮也。
　　　　 &lt;2&gt;刺陰者，先以左手按所刺之穴，良久，令氣散乃內針，不然則傷衞
　　　　　 氣也。
　　　[3]無，毋通，禁止辭。
</pre>
<pre data-sec="p">
主題：論迎隨補瀉之法
條文：七十二難曰：
　　　經言能知迎隨之氣，可令調之；調氣之方，必在陰陽。何謂也？
　　　然：
　　　所謂迎隨者，知榮衛之流行，經脈之往來也。隨其逆順而取之，故曰迎隨
　　　。調氣之方，必在陰陽者，知其內外表裡，隨其陰陽而調之，故曰調氣之
　　　方，必在陰陽。
註解：[1]&lt;1&gt;迎隨之法，補瀉之道也，迎者迎而奪之，隨者隨而濟之，然必知榮
　　　　　 衞之流行，經脈之往來，榮衞流行，經脈往來，其義一也，知之而
　　　　　 後可以視夫病之逆順，隨其所當而為補寫也。
　　　　　 ◎四明陳氏曰：「迎者，迎其氣之方來而未盛也，以寫之。隨者，
　　　　　　 隨其氣之方往而未虛也，以補之。」愚按迎隨有二，有虛實迎隨
　　　　　　 ，有子母迎隨，陳氏之說虛實迎隨也，若七十九難所載，子母迎
　　　　　　 隨也。
　　　[2]&lt;1&gt;在，察也，內為陰，外為陽，表為陽，裏為陰，察其病之在陰在陽
　　　　　 而調之也。
　　　　 &lt;2&gt;楊氏曰：「謂氣之方，必在陰陽者，陰虛陽實，則補陰瀉陽，陽虛
　　　　　 陰實，則補陽瀉陰，或陽井於陰，陰井於陽，或陰陽俱虛俱實，皆
　　　　　 隨其所見而調之。」
　　　　 &lt;3&gt;謝氏曰：「男外女內，表陽裏陰，謂陰陽之氣者，如從陽引陰，從
　　　　　 陰引陽，陽病治陰，陰病治陽之類。」
</pre>
<pre data-sec="p">
主題：論刺井瀉榮之法
條文：七十三難曰：
　　　諸井者，肌肉淺薄，氣少不足使也，刺之奈何？
　　　然：
　　　諸井者，木也；滎者，火也。火者，木之子，當刺井者，以滎瀉之。
　　　故經言補者不可以為瀉，瀉者不可以為補。此之謂也。
註解：[1]諸經之井，皆在手足指梢，肌肉淺薄之處，氣少，不足使為補寫也，
　　　　 故設當刺井者，只寫其滎，以井為木，滎為火，火者木之子也。
　　　[2]詳越人此說，專為瀉井者言也，若當補井，則必補其合，故引經言補
　　　　 者，不可以為寫，寫者不可以為補，各有攸當也，補寫反，則病益篤
　　　　 ，而有實實虛虛之患，可不謹歟。
</pre>
<pre data-sec="p">
主題：論四時針刺之異
條文：七十四難曰：
　　　經言春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者，何謂也？
　　　然：
　　　春刺井者，邪在肝；夏刺滎者，邪在心；夏刺滎，季夏刺俞者，邪在脾；
　　　秋刺經者，邪在肺；冬刺合者，邪在腎。
　　　其肝、心、脾、肺、腎而繫於春、夏、秋、冬者，何也？
　　　然：
　　　五臟一病，輒有五也。
　　　假令肝病；色青者肝也，臊臭者肝也，喜酸者肝也，喜呼者肝也，喜泣者
　　　肝也。其病眾多，不可盡言也。四時有數，而並繫於春夏秋冬者也。針之
　　　要妙，在於秋毫者也。
註解：[1]滎俞之緊四時者，以其邪各有所在也。
　　　[2]其肝心脾肺腎，而繫於春夏秋冬者何也？
　　　然：
　　　[1]五藏一病，輒有五色，假令肝病，色青者，肝也，臊臭者，肝也，喜
　　　　 酸者，肝也，喜呼者，肝也，喜泣者，肝也。
　　　[2]其病眾多，不可盡言也，四時有敬，而並繫於春夏秋冬者也，針之要
　　　　 妙，在於秋毫者也。
　　　[1]五藏一病不止於五，其病尤眾多也，雖其眾多而四時有數，故病繫於
　　　　 春夏秋冬，及井滎俞經合之屬也，用針者必精察之。
　　　　 ◎詳此篇文義，似有缺誤，今且依此解之，以俟知者。
</pre>
<pre data-sec="p">
主題：論肝實肺虛瀉火補水之道
條文：七十五難曰：經言東方實，西方虛，瀉南方，補北方，何謂也？
　　　然：
　　　金木水火土，當更相平。東方木也，西方金也。木欲實，金當平之；
　　　火欲實，水當平之；土欲實，木當平之；金欲實，火當平之；水欲實
　　　，土當平之。東方肝也，則知肝實；西方肺也，則知肺虛。瀉南方火
　　　，補北方水。南方火，火者，木之子也；北方水，水者，木之母也。
　　　水勝火，子能令母實，母能令子虛，故瀉火補水，欲令金不得平木也
　　　。經曰：不能治其虛，何問其餘。此之謂也。
註解：[1]金不得平木，不字疑衍。
　　　[2]東方實，西方虛，瀉南方，補北方者，木金火水欲更相平也，木火土
　　　　 金水之欲實，五行之貪勝而務權也，金水木火土之相，平以五行所勝
　　　　 而制其貪也。經曰：「一藏不平，所勝平之」，東方肝也，東方實，
　　　　 則知西方虛矣，若西方不虛，則東方安得而過於實邪？或瀉或補，要
　　　　 亦抑其甚而濟其不足，損過就中之道也，水能勝火，子能令母實，母
　　　　 能令子虛，瀉南方火者，奪子之氣，使食母之有餘，補北方水者，益
　　　　 子之氣，使不食於母也，如此則過者退，而抑者進，金得平其木，而
　　　　 東西二方無復偏勝偏虧之患矣。越人之意，大抵謂東方過於實，而西
　　　　 方之氣不足，故瀉火以抑其木，補水以濟其金，是乃使金得與水相停
　　　　 ，故曰欲令金得平木也，若曰，欲令金不得平木，則前後文義窒礙，
　　　　 竟說不通，使肝木不過，肺不虛，復瀉火補水，不幾於實實虛虛耶。
　　　　 八十一難文義正與此互相發明，九峰蔡氏謂水火金木土穀，惟脩取相
　　　　 制以洩其過，其意亦同，故結句云，不能治其虛，何問其餘，蓋為知
　　　　 常而不知變者之戒也，此篇大意，在肝實肺虛瀉火補水上。
　　　[3]或問子能令母實，母能令子虛，當瀉火補火為是，蓋子有餘則不食母
　　　　 之氣，母不足則不能蔭其子，瀉南方火，乃奪子之氣，使食母之有餘
　　　　 ，補中央土，則益母之氣，使得以蔭其子也，令乃瀉火補水何歟？曰
　　　　 「此越人之妙，一舉而兩得之者也，且瀉火，一則以奪木之氣，一則
　　　　 以去金之克；補水，一則以益金之氣，一則以制火之光；若補土，則
　　　　 一於助金而已，不可施於兩用，此所以不補土而補水也。」或又問母
　　　　 能令子實，子能令母虛，五行之道也，今越人乃謂子能令母實，母能
　　　　 令子虛何哉？曰：「是各有其說也，母能令子實，子能令母虛者，五
　　　　 行之生化，子能令母實，母能令子虛者，針家之予奪，固不相侔也。
　　　　 」
　　　[4]四明陳氏曰：「仲景云：『木行乘金，名曰橫。』內經曰：『氣有餘
　　　　 ，則制已所勝，而侮所不勝。』木實金虛，是木橫而凌金，侮所不勝
　　　　 也，木實本以金平之，然以其氣正強而橫，金平之則兩不相伏而戰，
　　　　 戰則實者亦傷，虛者亦敗，金虛，本資氣於土，然其時土亦受制，未
　　　　 足以資之，故取水為金之子，又為水之母，於是瀉火補水，使水勝火
　　　　 ，則火餒而取氣於木，木乃減而不復實，水為木母，此母能令子虛也
　　　　 。所謂金不得平木，不得徑以金平其木，必瀉火補水而旁治之，使木
　　　　 金之氣自然兩平耳。」
　　　[5]今按陳氏此說，亦自有理，但為不之一字所纏，未免牽強費辭，不若
　　　　 直以不字為衍文爾，觀八十一篇中，當知金平木一語可見矣。
</pre>
<pre data-sec="p">
主題：論補瀉之法與步驟
條文：七十六難曰：
　　　何謂補瀉？當補之時，何所取氣？當瀉之時，何所置氣？
　　　然：
　　　當補之時，從衛取氣；當瀉之時，從榮置氣。
　　　其陽氣不足，陰氣有餘，當先補其陽，而後瀉其陰；
　　　陰氣不足，陽氣有餘，當先補其陰，而後瀉其陽。
　　　榮衛通行，此其要也。
註解：[1]靈樞五十二篇曰：「浮氣之不循經者為衞氣，其精氣之行于經者為榮
　　　　 氣，蓋補則取浮氣之不循經者，以補虛處，瀉則從榮置其氣而不用也
　　　　 。」
　　　[2]置，猶并置之置，然人之病，虛實不一，補瀉之道，亦非一也，是以
　　　　 陽氣不足，而陰有餘，則先補陽而後瀉陰以和之，陰氣不足，而陽氣
　　　　 有餘，則先補陰而後瀉陽以和之，如此則榮衞自然通行矣。補瀉法，
　　　　 見下篇。
</pre>
<pre data-sec="p">
主題：論上工中工之治病
條文：七十七難曰：經言上工治未病，中工治已病者，何謂也？
　　　然：
　　　所謂治未病者，見肝之病，則知肝當傳之與脾，故先實其脾氣，無令得
　　　受肝之邪，故曰治未病焉。中工者，見肝之病，不曉相傳，但一心治肝
　　　，故曰治已病也。
註解：[1]見肝之病，先實其脾，使邪無所入，治未病也，是為上工。
　　　[2]見肝之病，一心治肝，治己病也，是為中工。
　　　[3]靈樞五十五篇曰：「上工刺其未生也，其次刺其未盛者也，其次刺其
　　　　 已衰者也，下工刺其方襲者也，與其形之盛者也，與其病之與脈相逆
　　　　 者也，故曰方其盛也，勿敢毀傷，刺其已衰，事必大昌，故曰上工治
　　　　 未病，不治已病，此之謂也。」
</pre>
<pre data-sec="p">
主題：論針刺壓按與補瀉之道
條文：七十八難曰：針有補瀉，何謂也？
　　　然：
　　　補瀉之法，非必呼吸出內針也。知為針者，信其左；不知為針者，信其右
　　　。當刺之時，先以左手壓按所針滎俞之處，彈而努之，爪而下之，其氣之
　　　來，如動脈之狀，順針而刺之。得氣，因推而內之，是謂補；動而伸之，
　　　是謂瀉。不得氣，乃與男外女內；不得氣，是為十死不治也。
註解：[1]彈而努之，鼓勇之也。努，讀若怒。爪而下之，蹈之稍重，皆欲致其
　　　　 氣之至也，氣至指下，如動脈之狀，乃乘其至而刺之。順，猶循也，
　　　　 乘也。停針待氣，氣至針動，是得氣也，因推針而內之是謂補，動針
　　　　 而伸之是謂寫，此越人心法，非呼吸出內者也，是固然也，若停針候
　　　　 氣，久而不至，乃與男子則淺其針而候之衞氣之分，女子則深其針而
　　　　 候之榮氣之分，如此而又不得氣，是謂其病終不可治也。
　　　[2]篇中前後二氣字不同，不可不辨，前言氣之來，如動脈狀，未刺之前
　　　　 ，左手所候之氣也。後言得氣不得氣，針下所候之氣也，此自兩節。
　　　　 周仲立乃云，凡候氣左手宜略重之，候之不得，乃與男則少輕其手於
　　　　 衞氣之分以候之，女則重其手於榮氣之分以候之，如此則既無前後之
　　　　 分，又昧停針待氣之道，尚何所據為補寫耶？
</pre>
<pre data-sec="p">
主題：論迎隨補瀉之法
條文：七十九難曰：
　　　經言迎而奪之，安得無虛？隨而濟之，安得無實？虛之與實，若得若失
　　　；實之與虛，若有若無。何謂也？
　　　然：
　　　迎而奪之者，瀉其子也；隨而濟之者，補其母也。
　　　假令心病，瀉手心主俞，是謂迎而奪之者也；補手心主井，是謂隨而濟
　　　之者也。所謂實之與虛者，牢濡之意也。氣來實牢者為得，濡虛者為失
　　　，故曰若得若失也。
註解：[1]&lt;1&gt;出靈樞第一篇，得，求而獲也。失，縱也，遺也。
　　　　 &lt;2&gt;其第二篇曰「言實與虛，若有若無者，謂實者有氣，虛者無氣也，
　　　　　 言虛與實，若得若失者，謂補者化然，若有得也，瀉者悅然，若有
　　　　　 失也。」即第一篇之義。
　　　[2]&lt;1&gt;迎而奪之者寫也，隨而濟之者補也，假令心病，心火也。
　　　　　 1.土為火之子，手心主之俞，大陵也，實則寫之，是迎而奪之也。
　　　　　 2.木為火之母，手心主之井，中衝也，虛則補之，是隨而濟之也。
　　　　　 3.迎者迎於前，隨者隨其後。此假心為例，而補寫則云手心主，即
　　　　　　 靈樞所謂少陰無俞者也，當與六十六難並觀。
　　　[3]&lt;1&gt;氣來實牢，濡虛，以隨濟迎奪而為得失也。
　　　　 &lt;2&gt;前云虛之與實，若得若失，實之與虛，若有若無，此言實之與虛，
　　　　　 若得若失，蓋得失有無，義實相同，互舉之，省文爾。
</pre>
<pre data-sec="p">
主題：論入針出針之法
條文：八十難曰：經言有見如入，有見如出者，何謂也？
　　　然：
　　　所謂有見如入，有見如出者，謂左手見氣來至，乃內針，針入見氣盡，
　　　乃出針。是謂有見如入，有見如出也。
註解：[1]所謂有見如入，下當欠有見如出四字。
　　　[2]「如」讀若「而」，孟子書望道而未之見，「而」讀若「如」，蓋通
　　　　 用也。
　　　[3]有見而入出者，謂左手按穴待氣來至乃下針，針入侯其氣應盡而出針
　　　　 也。
</pre>
<pre data-sec="p">
主題：論實實虛虛之害
條文：八十一難曰：
　　　經言無實實虛虛，損不足而益有餘。是寸囗脈耶？將病自有虛實耶？
　　　其損益奈何？
　　　然：
　　　是病，非謂寸囗脈也。謂病自有虛實也。假令肝實而肺虛，肝者木也，
　　　肺者金也，金木當更相平，當知金平木。假令肺實而肝虛，微少氣，用
　　　針不補其肝，而反重實其肺，故曰實實虛虛，損不足而益有餘。此者中
　　　工之所害也。
註解：[1]是病二字，非誤即衍。
　　　[2]肝實肺虛，金當平木，如七十五難之說，若肺實肝虛，則當抑金而扶
　　　　 木也，用針者，乃不補其肝，而反重實其肺，此所謂實其實而虛其虛
　　　　 ，損不足而益有餘，殺人必矣，中工中常之工，猶云粗工也。
　　　　 ◎按難經八十一篇，篇辭甚簡，然而榮衞度數尺寸位置，陰陽王相，
　　　　　 藏府內外，脈法病能，經絡流注，針刺穴俞，莫不該盡，而此篇尤
　　　　　 創艾切切，蓋不獨為用針者之戒，凡為治者，皆所當戒，又絕筆之
　　　　　 微意也，於乎！越人當先秦戰國時，與內經靈樞之出不遠，必有得
　　　　　 以口授面命，傳聞曄曄者，故其見之明而言之詳，不但如史家所載
　　　　　 ，「長桑君之遇也」，邵肌乃謂經之當難者，未必止此八十一條。
　　　　　 噫，猶有望於後人歟。
</pre>
