<header>
<h1>隱私政策</h1>
</header>

<h2>一、隱私權保護政策的適用範圍</h2>
<p>以下隱私權保護政策內容，包括本網站如何處理在您使用網站服務時蒐集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。</p>

<h2>二、個人資料的蒐集、處理及利用方式</h2>
<p>本網站使用瀏覽器的本地儲存技術儲存選項設定，以便在您瀏覽本網站不同頁面時延續套用相同設定，這些設定值僅儲存於您的瀏覽器，不會傳輸到本網站。本網站也會在瀏覽器上儲存Cookie以便分析使用者在本站的使用方式，作為提昇服務的參考。</p>
<p>若您不願接受這些數據的寫入，可調整瀏覽器設定拒絕寫入本網站的數據或清除已儲存的數據。您也可以使用無痕模式或隱私模式瀏覽本網站，讓這些設定值在您關閉瀏覽器時自動清除。但上述作法可能會影響本網站部分功能的使用。</p>

<h2>三、隱私權保護政策之修正</h2>
<p>本網站的隱私權保護政策會因應需求不定期修正，修正後的條款將刊登於本網站上。</p>
