<header data-type="book">
<h1>神農本草經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名，清·<data value="孫星衍">孫星衍</data>、<data value="孫馮翼">孫馮翼</data>輯</dd></div>
<div><dt>朝代</dt><dd><data value="漢">秦漢</data></dd></div>
<div><dt>底本</dt><dd>《問經堂叢書》本（<a href="https://ctext.org/library.pl?if=gb&res=81440">掃描本</a>）</dd></div>
</dl>
</header>

<h1>邵序</h1>
<p>《記》曰：醫不三世，不服其藥。鄭康成曰：慎物齊也。孔沖遠引舊說云：三世者，一曰《黃帝針灸》，二曰《神農本草》，三曰《素女脈訣》。康成《周禮注》亦曰：五藥，草、木、蟲、石、谷也。其治合之齊，則存乎神農子儀之術，是《禮記》注所謂慎物齊者，猶言治合之齊，指本草諸書而言也。沖遠既引舊說，復疑其非鄭義過矣。《漢書》引本草方術而《藝文志》缺載，賈公彥引《中經簿》，有《子儀本草經》一卷，不言出於神農。至隋《經籍志》，始載《神農本草經》三卷，與今分上、中、下三品者相合，當屬漢以來舊本。《隋志》又載雷公《本草集註》四卷，《蔡邕本草》七卷，今俱不傳。自《別錄》以後，累有損益升降，隨時條記，或傳合本文，不相別白。據陸元朗《經典釋文》所引，則經文與名醫所附益者，合併為一，其來舊矣。孫君伯淵偕其從子因《大觀本草》黑白字書，釐正《神農本經》三卷，又據《太平御覽》引《經》云：生山谷生川澤者，定為本文，其有預章、朱崖、常山、奉高，郡縣名者，定為後人羼入。釋《本草》者，以吳普本為最古，散見於諸書徵引者，綴集之以補《大觀》本所未備，疏通古義，系以考證，非澹雅之才，沉鬱之思，未易為此也。古者協陰陽之和，宣羸縮之節，凡夫含聲負氣，以及倒生旁達，蠉飛蠕動之倫，胥盡其性，遇物能名，以達於利用，生生之具，儒者宜致思焉。《淮南王書》曰：地黃主屬骨，而甘草主生肉之藥也。又曰：大戟去水，葶藶愈張，用之不節，乃反為病。《論衡》曰：治風用風，治熱用熱，治邊用蜜丹；《潛夫論》曰：治疾當真人參，反得支羅服；當得麥門冬，反蒸橫麥，已而不識真，合而服之，病以浸劇。斯皆神農之緒言，惟其贍涉者博，故引類比方，悉符藥論。後儒或忽為方技家言，漁獵所及，又是末師而非往古，甚至經典所載鳥獸草木，亦輾轉而昧其名，不已慎乎！《後漢書·華佗傳》：吳普從佗學，依准佗療，多所全濟，佗以五禽之戲別傳。又載魏明帝使普為禽戲，普以其法語諸醫，疑其方術相傳，別有奇文異數。今觀普所釋本草，則神農、黃帝、岐伯、雷公、桐君、醫和、扁鵲，以及後代名醫之說，靡不賅載，則其多所全濟，由於稽考之勤，比驗之密，而非必別有其奇文異數。信乎！非讀三世書者，不可服其藥也。世俗所傳，黃帝、神農、扁鵲之書，多為後人竄易，余願得夫閎覽博物者為之是正也。因孫君伯仲校定《本草》，而發其端。至其書考證精審，則讀者宜自得之。</p>
<p><u>餘姚邵晉涵序</u></p>

<h1>張序</h1>
<p>儒者不必以醫名，而知醫之理，則莫過於儒者。春秋時，和與緩，神於醫者也。其通《周易》，辨皿蟲之義，醫也，而實儒也。世之言醫者，必首推神農。然使神農非與太乙遊，則其傳不正，非作赭鞭鉤𨨪，巡五嶽四瀆，則其識不廣；非以土地所生萬千類，驗其能治與否，則其業不神，傳不正，識不廣，業不神，難曰取玉石、草木、禽獸、蟲魚、米穀之屬，歷試之，親嘗之，亦僅與商賈市販等耳，於醫乎何與？吾故曰：神農，千古之大儒也。考《崇文總目》，載《食品》一卷，《五臟論》一卷，皆系之神農。其本久不傳，傳之者，《神農本草經》耳！而亦無專本。唐審元裒輯之，《書錄解題》謂之《大觀本草》，《讀書志》謂之《證類本草》。闕後繆雍有《疏》，盧之頤有《乘雅半偈》，皆以《本經》為之主。然或參以臆說，或益以衍斷，解愈紛，義愈晦，未有考覈精審，卓然有所發明者。則證古難，證古而折衷於至是，為尤難。孫淵如觀察，偕其從子鳳卿，輯《神農本草經》三卷。於吳普《名醫》外，益以《說文》、《爾雅》、《廣雅》、《淮南子》、《抱朴子》諸書，不列古方，不論脈證，而古聖殷殷治世之意，燦然如列眉。孔子曰：多識於鳥獸草木之名。又曰：致知在格物。則是書也，非徒醫家之書，而實儒家之書也，其遠勝於希雍之諸人也固宜。或以《本草》之名，始見《漢書·平帝紀》《樓護傳》，幾有疑於《本草經》者。然神農始嘗百草，始有醫藥，見於《三皇紀》矣；因三百六十五種註釋為七卷，見於陶隱居《錄》矣；增一百十四種，廣為二十卷，《唐本草》宗之；增一百三十三種，孟昶復加釐定，《蜀本草》又宗之。至郡縣，本屬後人所附益，《經》但云生山谷、生川澤耳。《洪範》以康寧為福，《雅頌》稱壽考萬年，又何疑於久服輕身延年，為後世方士之說哉？大抵儒者之嗜學如醫然，淵源，其脈也；覆審，其胗視也。辨邪正，定是非，則溫寒平熱之介也。觀察方聞綴學，以鴻儒名，海內求其著述者，如金膏水碧之珍。鳳卿好博聞，研丹吮墨，日以儒為事，則上溯之羲皇以前，數千年如一日，非嗜之專且久而能然耶？顧吾獨怪是編中，無所謂治書癖者，安得起神農而一問之？</p>
<p><u>嘉慶四年太歲在己未冬十月望日宣城張炯撰於瞻園之灌術莊</u></p>

<h1>孫序</h1>
<p>《神農本草經》三卷，所傳白字書，見《大觀本草》。</p>
<p>按：《嘉祐補註》序云：所謂《神農本經》者，以朱字；《名醫》因神農舊條而有增補者，以墨字間於朱字。《開寶重定》序云：舊經三卷，世所流傳，《名醫別錄》，互為編纂。至梁貞白先生陶弘景，乃以《別錄》參其《本經》，朱墨雜書，時謂明白。據此，則宋所傳黑白字書，實陶弘景手書之本。自梁以前，神農、黃帝、岐伯、雷公、扁鵲，各有成書，魏吳普見之，故其說藥性主治，各家殊異。後人纂為一書，然猶有旁註，或朱、墨字之別，《本經》之文以是不亂。舊說，本草之名，僅見《漢書·平帝紀》及《樓護傳》。予按：《藝文志》有《神農黃帝食藥》七卷，今本偽為《食禁》，賈公彥《周禮》醫師疏引其文，正作《食藥》，宋人不考。遂疑《本草》非《七略》中書。賈公彥引《中經簿》，又有《子儀本草經》一卷，疑亦此也。梁《七錄》有《神農本草》三卷，其卷數不同者，古今分合之異。神農之世，書契未作，說者以此疑《經》，如皇甫謐言，則知四捲成於黃帝。陶弘景雲，軒轅以前，文字未傳，藥性所主，嘗以識識相因。至於桐、雷，乃著在於編簡，此書當與《素問》同類，其言良是。且《藝文志》，農、兵、五行、雜占、經方、神仙諸家，俱有神農書。大抵述作有本，其傳非妄。是以《博物志》云：太古書今見存，有《神農經》、《春秋傳注》。賈逵以《三墳》為三皇之書，神農預其列。《史記》言：秦始皇不去醫藥卜筮之書，則此《經》幸與《周易》並存。顏之推《家訓》乃云：《本草》神農所述，而有豫章、朱崖、趙國、常山、奉高、真定、臨淄、馮翊等郡縣名，出諸藥物，皆由後人所羼，非本文。陶弘景亦云：所出郡縣，乃後漢時制，疑仲景、云化等所記。按：薛綜注《張衡賦》引《本草經》：太一禹餘糧，一名石腦，生山谷。是古本無郡縣名。《太平御覽》引《經》上云：生山谷或川澤，下云生某山某郡。明生山谷，《本經》文也；其下郡縣，《名醫》所益。今《大觀本》俱作黑字。或合其文，云某山川穀，某郡川澤，恐傳寫之誤，古本不若此。仲景、元化後，有吳普、李當之，皆修此經。當之書，世少行用。《魏志·華佗傳》，言普從佗學。隋《經籍志》稱《吳普本草》，梁有六卷。《嘉祐本草》云：普修《神農本草》成四百四十一種。唐《經籍志》尚存六卷。今廣內不復存，惟諸書多見引據。其說藥性，寒溫五味最為詳悉，是普書宋時已佚，今其文惟見掌禹錫所引《藝文類聚》《初學記》《後漢書注》《事類賦》諸書。《太平御覽》引據尤多，足補《大觀》所缺，重是別錄前書，因採其文附於《本經》，亦略備矣。其普所稱，有神農說者，即是《本經》，《大觀》或誤作黑字，亦據增其藥物，或數浮於三百六十五種，由後人以意分合，難以定之。其藥名，有禹餘糧、王不留行、徐長卿、鬼督郵之屬不類太古時文。按字書以禹為蟲，不必夏禹。其餘名號，或系後人所增，或聲音傳述，改古舊稱之致。又《經》有云：宜酒漬者。或以酒非神農時物，然《本草衍義》已據《素問》首言「以妄為常，以酒為漿」，謂酒自黃帝始。又按：《文選注》引《博物志》，亦云「杜康作酒」。王著《與杜康絕交書》曰：康，字仲寧，或云黃帝時人，則俱不得疑《經》矣。孔子云：述而不作，信而好古。又云：多誤於鳥獸草木之名。今儒家拘泥耳目，未能及遠，不睹醫經、本草之書；方家循守俗書，不察古本藥性異同之說，又見明李時珍作《本草綱目》，其名已愚，僅取《大觀》本，割裂舊文，妄加增駁，迷誤後學。予與家鳳卿集成是書，庶以輔冀完經，啟蒙方伎，略以所知，加之考證。《本經》云：上藥，本上經；中藥，本中經；下藥，本下經，是古以玉石草木等上、中、下品分卷。而序錄別為一卷。陶序朱書云：《本草經》卷上注云：序藥性之源本，論病名之形論。卷中云：玉石、草木三品。卷下云：蟲、獸、果、菜、米，合三品，此名醫所改，今依古為次。又《帝王世紀》及陶序稱四卷者，掌禹錫云：按舊本亦作四卷。韓保升又云：《神農本草》上、中、下並序錄，合四卷。若此，則三、四之異，以有序錄。則《抱朴子》《養生要略》，《太平御覽》所引《神農經》，或云問於太乙子，或引太乙子云云，皆《經》所無，或亦在序錄中，後人節去之耳。至其經文或以癢為「養」、「創」為「瘡」、「淡」為「痰」、「注」為「蛀」、「沙」為「砂」、「兔」為「菟」之類，皆由傳寫之誤，據古訂正，勿嫌驚俗也。其辨析物類，引據諸書，本之《毛詩》、《爾雅》、《說文》、《方言》、《廣雅》諸子雜家，則鳳卿增補之力俱多雲。</p>
<p><u>陽湖孫星衍撰</u></p>

<h1>周序</h1>
<p>著本草者，代有明哲矣，而求道者必推本於神農，以為神聖之至誠儘性，其興物以全民，義至精而用至大也。歷三代之世以迄秦漢，守其書而傳習之，蓋無敢違其教者。自陶貞白雜入《名醫別錄》，朱墨分書，其書無傳本矣。至宋以降，朱墨互淆，其書無真本矣。紛紜散亂，千有餘歲，好古者乃欲一一收拾以復其舊，亦難矣哉。故靈胎徐氏有《本草百種錄》，修園陳氏有《本草經讀》，各於經旨有所發明。不愧述者，要止體厥功能，以便世用。而於三品之全物，卒闕焉而無聞，久之乃得顧氏輯本，復於同郡石埭徐氏借得孫氏輯本二書，皆以用，一無所發。蓋孫氏本非知醫者，此無足怪。乃於名物形狀，亦徒羅列富有，莫正是非。如水萍則薸蘋並列。柳華則檉杞同稱。如此之類，未可殫舉。然而備錄前文。以待來哲之論定勝九穀長，其可實谷而苗草耶。二種出入，嫌入於妄作矣。尤異者，孫顧二書，同出大觀，而三品互殊，幾於十二。顧氏詆孫不考《本經》目錄，故三品種數，顯與名例相違。夫《本經》目錄，載在《李氏綱目》第二卷，昭昭者也。孫氏之輯此書，不可謂不勤者矣，獨於此忽焉而不一寓目耶？豈謂《本經》久無真本，安所得其目錄？李氏所述不足據耶。然而名例相違又何也。夫數典者經生之空談，而無與於醫之實用者也。天下無無用之物，而患無用物之人。物無不樂效用於人，而人每至於負物。是書也，苟不求所以用之，即名物品數，盡如神農之舊，而何所濟於世古聖垂教之深心，歷代賢士表章之盛意，其在是耶。用藥一用兵也，善用則攻即為補，不善用則補亦殺人。世人於兵皆知不可妄動，獨於醫藥往往輕於嘗試，抑獨何哉？學海慮古籍之湮也，亟為刊布而敘其梗概如此，以見舍顧而從孫者，亦取徵引之富贍耳。至於名象之是非，功用之變化，在善讀者之自得之矣。</p>
<p><u>時光緒辛卯秋仲建德周學海澂之記</u></p>

<h1>卷一</h1>

<h2>上經</h2>
<p>上藥一百二十種，為君，主養命以應天，無毒。多服、久服不傷人。欲輕身益氣，不老延年者，本上經。</p>
<p>丹砂　雲母　玉泉　石鐘乳　涅石　硝石　朴硝　滑石　石膽　空青　曾青　禹餘糧　太乙餘糧　白石英　紫石英　五色石脂　白青　扁青</p>
<p>上　玉石上品一十八種，舊同</p>
<p>菖蒲　鞠華　人參　天門冬　甘草　乾地黃　術　菟絲子　牛膝　茺蔚子　女萎　防葵　柴胡　麥門冬　獨活　車前子　木香　薯蕷　薏苡仁　澤瀉　遠志　龍膽　細辛　石斛　巴戟天白英　白蒿　赤箭　菴䕡子　析蓂子　蓍實　赤、黑、青、白、黃、紫芝　卷柏　藍實　芎藭　蘼蕪　黃連　絡石　蒺藜子　黃耆　肉蓯蓉　防風　蒲黃　香蒲　續斷　漏蘆　營實　天名精　決明子　丹參　茜根　飛廉　五味子　旋華　蘭草　蛇床子　地膚子　景天　茵陳杜若　沙參　白兔藿　徐長卿　石龍芻　薇銜　雲實　王不留行　升麻　青蘘　姑活　別羈　屈草　淮木</p>
<p>上　草上品七十三種，舊七十二種</p>
<p>牡桂　菌桂　松脂　槐實　枸杞　柏實　茯苓　榆皮　酸棗　柏木　乾漆　五加皮　蔓荊實　辛夷　桑上寄生　杜仲　女貞實　木蘭　蕤核　橘柚</p>
<p>上　木上品二十種。舊一十九種</p>
<p>發皮</p>
<p>上　人一種。舊同</p>
<p>龍骨、麝香、牛黃、熊脂、白膠、阿膠</p>
<p>上　獸，上品六種。舊同</p>
<p>丹雄雞、雁肪</p>
<p>上　禽，上品二種。舊同</p>
<p>石蜜、蜂子、蜜蠟、牡蠣、龜甲、桑螵蛸、海蛤、文蛤、蠡魚、鯉魚膽</p>
<p>上　蟲魚，上品一十種。舊同</p>
<p>藕實莖、大棗、葡萄、蓬藟　雞頭實</p>
<p>上　果，上品五種。舊六種</p>
<p>胡麻　麻賁</p>
<p>上　米穀上品二種，舊三種。</p>
<p>冬葵子　莧實　瓜蒂　瓜子　苦菜</p>
<p>上　菜，上品五種。舊同</p>

<h3>丹沙</h3>
<p>味甘，微寒。主身體五臟百病，養精神，安魂魄，益氣，明目，殺精魁邪惡鬼。久服，通神明，不老。能化為汞，生山谷。（《太平御覽》引：多有生山谷三字，《大觀》本作生符陵山谷。俱作黑字。考生山谷是經文，後人加郡縣耳。宜改為白字，而以郡縣為黑字。下皆仿此）。</p>
<p>《吳普本草》曰：丹沙，神農：甘；黃帝：苦，有毒；扁鵲：苦；李氏：大寒，或生武陵，採無時，能化未成水銀，畏磁石，惡鹹水（《太平御覽》）。</p>
<p>《名醫》曰：作末，名真朱。光色如雲母，可折者良。生符陵山谷。採無時。</p>
<p>案：《說文》云：丹，巴越之赤石也。象採丹井，象丹形，古文作日，亦作彤、沙、水散石也。澒，丹沙所化為水銀也。《管子·地數篇》云：山上有丹沙者，其下有鈓金。《淮南子·地形訓》云：赤矢，七百歲，生赤丹；赤丹，七百歲，生赤澒。高誘云：赤丹、丹沙也。《山海經》云：丹粟，粟、沙，音之緩急也。沙，舊作砂，非。汞，即澒省文。《列仙傳》云：赤斧，能作水澒，煉丹，與硝石服之。按：金石之藥，古人云久服輕身、延年者，謂當避谷，絕人道，或服數十年，乃效耳。今人和肉食服之，遂多相反，轉以成疾，不可疑古書之虛證。</p>

<h3>雲母</h3>
<p>味甘，平。主身皮死肌，中風寒熱，如在車船上，除邪氣，安五臟，益子精，明目，久服輕身、延年。一名云珠，一名雲華，一名雲英，一名雲液，一名云沙，一名磷石，生山谷。</p>
<p>《名醫》曰：生太山、齊盧山及琅邪、北定山石間，二月採（此錄《名醫》說者，即是仲景、元化及普所說，但後人合之，無從別耳，亦以補普書不備也）。</p>
<p>案：《列仙傳》云：方回，煉食雲母。《抱朴子·仙藥篇》云：雲母有五種：五色並具而多青者，名雲英，宜以春服之；五色並具而多赤者，名云珠。宜以夏服之；五色並具而多白者，名雲液，宜以秋服之；五色並具而多黑者，名雲母，宜以冬服之；但有青、黃二色者，名云沙，宜以季夏服之；晶晶純白，名磷石，可以四時長服之也。李善《文選注》、引《異物志》：雲母，一名雲精，人地萬歲不朽。《說文》無磷字。《玉篇》云：磷，薄也，雲母之別名。</p>

<h3>玉泉</h3>
<p>味甘，平。主五臟百病。柔筋強骨，安魂魄，長肌肉，益氣，久服耐寒暑（《御覽》引耐字多作能，古通），不飢渴，不老神仙。人臨死服五斤，死三年，色不變。一名玉札（《御覽》引作玉濃。《初學記》引云，玉桃，服之長生不死。《御覽》又引云：玉桃，服之長生不死。若不得早服之，臨死日服之，其屍畢天地不朽，則杜疑當作桃）。生山谷。</p>
<p>《吳普》曰：玉泉，一名玉屑，神農、岐伯、雷公：甘；李氏：平。畏冬華，惡青竹（《御覽》）。白玉杜如白頭公（同上。《事類賦》引云：白玉體如白首翁）。</p>
<p>案：《周禮》：玉府、王齋，則供食玉。鄭云：玉是陽精之純者，食之以御水氣。鄭司農云：王齋，當食玉屑。《抱朴子·仙藥篇》云：玉，可以烏米酒及地榆酒化之為水，亦可以蔥漿消之為𥹋，亦可餌以為丸，亦可燒以為粉，服之，一年以上，入水不沾，入火不灼，刃之不傷，百毒不犯也。不可用已成之器，傷人無益，當得璞玉，乃可用也。得於闐國白玉，尤善。其次，有南陽徐善亭部界界中玉，及日南盧容水中玉，亦佳。</p>

<h3>石鐘乳</h3>
<p>味甘，溫。主咳逆上氣，明目益精，安五臟，通百節，利九竅，下乳汁（《御覽》引云：一名留公乳。《大觀本》作一名公乳。黑字）。生山谷。</p>
<p>《吳普》曰：鍾乳，一名虛中。神農：辛；桐君、黃帝、醫和：甘；扁鵲：甘，無毒（《御覽》引云：李氏，大寒）。生山谷（《御覽》引云：太山山谷），陰處岸下，溜汁成（《御覽》引作溜汁所成聚），如乳汁，黃白色，空中相通，二月、三月採，陰乾（凡《吳普本草》，掌禹錫所引者，不復注，惟注其出《御覽》諸書者）。</p>
<p>《名醫》曰：一名公乳，一名蘆石，一名夏石。生少室及太山，採無時。</p>
<p>案：《範子計然》云：石鐘乳，出武都，黃白者，善（凡引《計然》，多出《藝文類聚》、《文選注》、《御覽》及《大觀本草》）。《列仙傳》云：卬疏，煮石髓而服之，謂之石鐘乳，鍾，當為潼。說云：乳汁也；鍾，假音字。</p>

<h3>涅石</h3>
<p>（舊作礬石，據郭璞注，《山海經》引作涅石）</p>
<p>味酸，寒。主寒熱泄利，白沃陰蝕，惡創，目痛，堅筋骨齒。煉餌服之，輕身、不老、增年。一名羽涅，生山谷。</p>
<p>《吳普》曰：礬石，一名羽涅，一名羽澤，神農、岐伯：酸；扁鵲：咸；雷公：酸，無毒，生河西，或隴西，或武都、石門，採無時；岐伯：久服傷人骨（《御覽》）。</p>
<p>《名醫》曰：一名羽澤，生河西，及隴西、武都、石門，採無時。</p>
<p>案：《說文》無礬字，《玉篇》云：礬，石也；涅，礬石也。《西山經》云：女床之山，其陰多涅石。郭璞云：即礬石也，楚人名為涅石，秦名為羽涅也，《本草經》亦名曰涅石也，《範子計然》云：礬石出武都。《淮南子·俶真訓》云：以涅染緇。高誘云：涅，礬石也，舊涅石作礬石，羽涅作羽涅，非。</p>

<h3>硝石</h3>
<p>味苦寒。主五臟積熱，胃張閉，滌去蓄結飲食，推陳致新，除邪氣。煉之如膏，久服輕身（《御覽》引云：一名芒硝。《大觀本》作黑字）。生山谷。</p>
<p>《吳普》曰：硝石，神農：苦；扁鵲：甘（丹出掌禹錫所引，亦見《御覽》者，不箸所出）。</p>
<p>《名醫》曰：一名芒硝，生益州，及五都、隴西、西羌，採無時。</p>
<p>案：《範子計然》云：硝石，出隴道，據《名醫》，一名芒硝，又別出芒硝條，非。《北山經》云：京山，其陰處有元䃤，疑䃤即硝異文。</p>

<h3>朴硝</h3>
<p>味苦寒。主百病，除寒熱邪氣，逐六腑積聚，結固留癖，能化七十二種石。煉餌服之，輕身神仙。生山谷。</p>
<p>《吳普》曰：朴硝石，神農、岐伯、雷公：無毒，生益州，或山陰。入土，千歲不變。煉之不成，不可服（《御覽》）。</p>
<p>《名醫》曰：一名硝石樸，生益州，有鹽水之陽，採無時。</p>
<p>案：《說文》云：樸，木皮也，此蓋硝石外裹如玉璞耳。舊作硝，俗字。</p>

<h3>滑石</h3>
<p>味甘，寒。主身熱泄澼，女子乳難，癃閉。利小便，蕩胃中積聚寒熱，益精氣。久服，輕身、耐飢、長年。生山谷。</p>
<p>《名醫》曰：一名液石，一名共石，一名脫石，一名番石，生赭陽，及太山之陰，或掖北，白山山，或卷山。採無時。</p>
<p>案：《範子計然》云：滑石，白滑者，善。《南越志》云：膋城縣出膋石，即滑石也。</p>

<h3>石膽</h3>
<p>味酸，寒。主明目，目痛；金創，諸癇痙；女子陰蝕痛，石淋寒熱，崩中下血，諸邪毒氣，令人有子。煉餌服之，不老，久服，增壽神仙。能化鐵為銅，成金銀（《御覽》引作合成）。一名畢石，生山谷。</p>
<p>《吳普》曰：石膽，神農：酸，小寒；李氏：小寒；桐君：辛，有毒；扁鵲：苦，無毒（《御覽》引云：一名黑石，一名銅勒，生羌道或名青山，二月瘐子、辛丑採）。</p>
<p>《名醫》曰：一名黑石，一名棋石，一名銅勒，生羌道、羌里、句青山。二月瘐子、辛丑日採。</p>
<p>案：《範子計然》云：石膽，出隴西羌道。陶弘景雲：《仙經》一名立制石，《周禮》瘍醫：凡療瘍，以五毒攻之；鄭云：今醫方有五毒之藥，作之合黃堥，置石膽、丹沙、雄黃、礬石、磁石其中，燒之三日三夜，其煙上著，以雞羽掃取之以注創，惡肉破骨則盡出，《圖經》曰：故翰林學士楊億嘗筆記直史館楊嵎，有瘍生於頰，人語之，依鄭法合燒，藥成。注之瘡中，遂愈。信古方攻病之速也。</p>

<h3>空青</h3>
<p>味甘，寒。主眚盲耳聾。明目，利九竅，通血脈，養精神。久服，輕身、延年、不老。能化銅、鐵、鉛、錫作金。生山谷。</p>
<p>《吳普》曰：空青，神農、甘。一經：酸。久服，有神仙玉女來時，使人志高（《御覽》）。</p>
<p>《名醫》曰：生益州及越巂山有銅處，銅精熏則生空青，其腹中空，三月中旬採，亦無時。</p>
<p>案：《西山經》云：皇人之山，其下多青；郭璞云：空青，曾青之屬。《範子計然》云：空青，出巴郡。《司馬相如賦》云：丹青。張揖云：青，青雘也。顏師古云：青雘，今之丹青也。</p>

<h3>曾青</h3>
<p>味酸，小寒。主目痛，止淚，出風痹，利關節，通九竅，破症堅積聚。久服輕身、不老。能化金、銅，生山谷。</p>
<p>《名醫》曰：生蜀中及越巂。採無時。</p>
<p>案：《管子·揆度篇》云：秦明山之曾青；《荀子》云：南海，則有曾青。楊倞注：曾青，銅之精。《範子計然》云：曾出宏農豫章，白青，出新塗。青色者，善。《淮南子·地形訓》云：青天八百歲，生青曾。高誘云：曾青，青石也。</p>

<h3>禹餘糧</h3>
<p>味甘，寒。主咳逆，寒熱煩滿，下（《御覽》有痢字）赤白，血閉癥瘕，大熱。煉餌服之，不飢、輕身、延年。生池澤及山島中。</p>
<p>《名醫》曰：一名白餘糧，生東海及池澤中。</p>
<p>案：《範子計然》云：禹餘糧出河東；《列仙傳》云：赤斧，上華山取禹餘糧；《博物志》云：世傳昔禹治水，棄其所餘食於江中，而為藥也。按：此出《神農經》，則禹非夏禹之禹，或本名白餘糧，《名醫》等移其名耳。</p>

<h3>太乙餘食</h3>
<p>味甘，平。主咳逆上氣，癥瘕、血閉、漏下，餘邪氣。久服，耐寒暑、不飢，輕身、飛行千里、神仙（《御覽》引作若神仙）。一名石腦，生山谷。</p>
<p>《吳普》曰：太一禹餘糧，一名禹哀，神農、岐伯、雷公：甘，平；李氏：小寒；扁鵲：甘，無毒。生太山上，有甲；甲中有白，白中有黃，如雞子黃色，九月採，或無時。</p>
<p>《名醫》曰：生太白。九月採。</p>
<p>案：《抱朴子·金丹篇》云：《靈丹經》用丹沙、雄黃、雌黃、石硫黃、曾青、礬石、磁石、戎鹽、太一禹餘糧，亦用六一泥及神室祭醮合之，三十六日成。</p>

<h3>白石英</h3>
<p>味甘，微溫。主消渴，陰痿不足，咳逆（《御覽》引作嘔），胸膈間久寒，益氣，除風濕痹（《御覽》引作陰淫痹）。久服，輕身（《御覽》引作身輕健）、長年。生山谷。</p>
<p>《吳普》曰：白石英，神農：甘，岐伯、黃帝、雷公、扁鵲：無毒。生太山。形如紫石英，白澤，長者二、三寸，採無時（《御覽》引云：久服，通日月光）。</p>
<p>《名醫》曰：生華陰及太山。</p>
<p>案：《司馬相如賦》有白附。蘇林雲：白附，白石英也，司馬山云：出魯陽山。</p>

<h3>紫石英</h3>
<p>味甘，溫。主心腹咳逆（《御覽》引作嘔逆），邪氣，補不足，女子風寒在子宮，絕孕十年無子。久服，溫中、輕身、延年。生山谷。</p>
<p>《吳普》曰：紫石英，神農、扁鵲味甘，平；李氏大寒；雷公大溫；岐伯：甘，無毒，生太山或會稽，採無時，欲令如削，紫色達頭如樗蒲者。</p>
<p>又曰：青石英，形如白石英，青端赤後者，是；赤石英，形如白石英，赤端白後者是，赤澤有光，味苦，補心氣；黃石英，形如白石英，黃色如金，赤端者，是；黑石英，形如白石英，黑澤有光（《御覽》掌禹錫引此節文）。</p>
<p>《名醫》曰：生太山，採無時。</p>
<p>青石、赤石、黃石、白石、黑石脂等　味甘，平。主黃疸，泄利，腸癖膿血，陰蝕，下血，赤白，邪氣，癰腫，疽痔，惡創，頭瘍，疥瘙。久服，補髓益氣，肥健，不飢，輕身、延年。五石脂，各隨五色補五臟，生山谷中。</p>
<p>《吳普》曰：五色石脂，一名青、赤、黃、白、黑等。青符，神農：甘；雷公：酸，無毒；桐君：辛，無毒；李氏：小寒，生南山，或海涯，採無時。赤符，神農、雷公：甘；黃帝、扁鵲：無毒；李氏：小寒，或生少室，或生太山，色絳，滑如脂。黃符，李氏：小寒；雷公苦，或生嵩山，色如豚腦、雁雛，採無時。白符，一名隨髓，岐伯、雷公：酸，無毒；李氏：小寒；桐君：甘，無毒；扁鵲：辛，或生少室天婁山，或太山。黑符，一名石泥，桐君：甘，無毒，生洛西山空地。</p>
<p>《名醫》曰：生南山之陽，一本作南陽，又云：黑石脂，一名石涅，一名石墨。案：《吳普》引神農甘云云，五石脂各有條，後世合為一條也；《範子計然》云：赤石脂，出河東，色赤者，善。《列仙傳》云：赤鬚子，好食石脂。</p>

<h3>白青</h3>
<p>味甘，平。主明目，利九竅，耳聾，心下邪氣，令人吐，殺諸毒、三蟲。久服，通神明，輕身、延年、不老。生山谷。</p>
<p>《吳普》曰：神農：甘，平；雷公：酸，無毒。生豫章，可消而為銅（《御覽》）。</p>
<p>《名醫》曰：生豫章，採無時。</p>
<p>案：《範子計然》云：白青，出巴郡。</p>

<h3>扁青</h3>
<p>味甘，平。主目痛，明目，折跌，癰腫，金創不療，破積聚，解毒氣（《御覽》引作闢毒），利精神。久服，輕身、不老。生山谷。</p>
<p>《吳普》曰：扁青，神農、雷公：小寒，無毒，生蜀郡，治丈夫內絕，令人有子（《御覽》引云：治癰脾風痹。久服，輕身）。</p>
<p>《名醫》曰：生朱崖、武都、朱提，採無時。</p>
<p>案：《範子計然》云：扁青，出宏農、豫章。</p>
<p>上，玉、石，上品一十八種，舊同。</p>

<h3>菖蒲</h3>
<p>味辛，溫。主風寒濕痹，咳逆上氣，開心孔，補五臟，通九竅，明耳目，出聲音。久服，輕身、不忘、不迷或，延年。一名昌陽（《御覽》引云：生石上，一寸九節者，久服輕身云云。《大觀本》，無生石上三字，有云一寸九節者良，作黑字），生池澤。</p>
<p>《吳普》曰：菖蒲，一名堯韭（《藝文類聚》引云：一名昌陽）。</p>
<p>《名醫》曰：生上洛及蜀郡嚴道，五月十二日採根，陰乾。</p>
<p>案：《說文》云：𦭭，菖蒲也，益州生。《廣雅》云：邛，昌陽，菖蒲也。《周禮》云：菖本。鄭云：菖本，菖蒲根，切之四寸為菹。《春秋左傳》云：食以菖歜。杜預云：菖歜，菖蒲菹。《呂氏春秋》云：冬至後五旬七日，菖始生。菖者，百草之先，於是始耕。《淮南子·說山訓》云：菖羊，去蚤蝨而來蛉窮；高誘云：菖羊，菖蒲；《列仙傳》云：商邱子胥食菖蒲根，務光服蒲韭根，《離騷·草木疏》云，沈存中雲：所謂蘭蓀，即今菖蒲是也。</p>

<h3>鞠華</h3>
<p>味苦，平。主風，頭眩腫痛，目欲脫，淚出，皮膚死肌，惡風濕痹。久服，利血氣，輕身、耐老、延年。一名節華，生川澤及田野。</p>
<p>《吳普》曰：菊華，一名白華（《初學記》），一名女華，一名女莖。</p>
<p>《名醫》曰：一名日精，一名女節，一名女華，一名女莖，一名更生，一名周盈，一名傅延年，一名陰成，生雍州。正月，採根，三月，採葉；五月，採莖；九月，採花；十一月，採實。皆陰乾。</p>
<p>案：《說文》云：蘜，治牆也。蘜，日精也。似秋華，或省作菊。《爾雅》云：蘜，治牆。</p>
<p>郭璞云：今之秋華，菊。則蘜、⿱艹⿰辛匊、⿱艹⿰辛人，皆秋華，惟今作菊。《說文》以為大菊瞿麥，假音用之也。</p>

<h3>人參</h3>
<p>味甘，微寒。主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目、開心、益智。久服，輕身、延年。一名人銜，一名鬼蓋。生山谷。</p>
<p>《吳普》曰：人參，一名土精，一名神草，一名黃參，一名血參，一名人微，一名玉精，神農：甘，小寒；桐君、雷公：苦；岐伯、黃帝：甘，無毒；扁鵲：有毒。生邯鄲。三月生葉，小兌，核黑，莖有毛，三月、九月採根，根有頭、足、手，面目如人（《御覽》）。</p>
<p>《名醫》曰：一名神草，一名人微，一名土精，一名血參，如人形者，有神。生上黨及遼東。二月、四月、八月上旬，採根。竹刀刮，曝乾，無令見風。</p>
<p>案：《說文》云：參，人參，藥草，出上黨。《廣雅》云：地精，人參也；《範子計然》云：人參，出上黨，狀類人者，善。劉敬叔《異苑》云：人參，一名土精，生上黨者，佳。人形皆具，能作兒啼。</p>

<h3>天門冬</h3>
<p>味苦，平。主諸暴風濕偏痹，強骨髓，殺三蟲，去伏屍。久服，輕身、益氣、延年。一名顛勒（《爾雅》注引云：門冬，一名滿冬，今無文）。生山谷。</p>
<p>《名醫》曰：生奉高山，二月、七月、八月採根，曝乾。</p>
<p>案：《說文》云：牆，牆蘼，滿冬也；《中山經》云：條谷之山，其草多宜冬。《爾雅》云：牆蘼，滿冬。《列仙傳》云：赤鬚子食天門冬；《抱朴子·仙藥篇》云：天門冬，或名地門冬，或名筵門冬，或名顛棘，或名淫羊食，或名管松。</p>

<h3>甘草</h3>
<p>味甘，平。主五臟六腑寒熱邪氣，堅筋骨，長肌肉，倍力，金創尰，解毒。久服，輕身、延年（《御覽》引云：一名美草，一名密甘，《大觀本》作黑字）。生川穀。</p>
<p>《名醫》曰：一名密甘，一名美草，一名蜜草，一名蕗草。生河西積沙山及上郡。二月、八月除日，採根，曝乾，十日成。</p>
<p>案：《說文》云：苷，甘草也；蘦，大苦也；苦，大甘苓也；《廣雅》云：美草，甘草也。《毛詩》云：隰有苓。《傳》云：苓，大苦。《爾雅》云：蘦，大苦。郭璞云：今甘草，蔓延生；葉似荷，青黃；莖赤黃，有節，節有枝相當。或云蘦似地黃，此作甘，省字。苓，通。</p>

<h3>乾地黃</h3>
<p>味甘，寒。主折跌絕筋，傷中，逐血痹，填骨髓，長肌肉，作湯，除寒熱積聚，除痹，生者尤良。久服，輕身、不老。一名地髓。生川澤。</p>
<p>《名醫》曰：一名苄，一名芑，生咸陽、黃土地者，佳，二月八日採根，陰乾。</p>
<p>案：《說文》云：苄，地黃也。《禮》曰：鈃毛牛藿、羊苄、豕薇；《廣雅》云：地髓，地黃也。《爾雅》云：苄，地黃。郭璞云：一名地髓，江東呼苄。《列仙傳》云：呂尚服地髓。</p>

<h3>術</h3>
<p>味苦，溫。主風寒濕痹、死肌、痙、疸。止汗，除熱，消食，作煎餌。久服，輕身、延年、不飢。一名山薊（《藝文類聚》引作山筋），生山谷。</p>
<p>《吳普》曰：術，一名山連，一名山芥，一名天蘇，一名山姜（《藝文類聚》）。</p>
<p>《名醫》曰：一名山姜，一名山連，生鄭山、漢中、南鄭，二月、三月、八月、九月採根，曝乾。</p>
<p>案：《說文》云：術，山薊也；《廣雅》云：山姜，術也。白朮，牡丹也。《中山經》</p>
<p>云：首山草多術。郭璞云：術，山薊也；《爾雅》云：術，山薊；郭璞云：今術似薊，而生山中。《範子計然》云：術，出三輔，黃白色者，善。《列仙傳》云：涓子好餌術。《抱朴子·仙藥篇》云：術，一名山薊，一名山精。故《神藥經》曰：必欲長生，長服山精。</p>

<h3>菟絲子</h3>
<p>味辛，平。主續絕傷，補不足，益氣力，肥健。汁去面皯，久服，明目、輕身、延年。一名菟蘆，生川澤。</p>
<p>《吳普》曰：菟絲，一名玉女，一名松蘿，一名鳥蘿，一名鴨蘿，一名復實，一名赤網，生山谷（《御覽》）。</p>
<p>《名醫》曰：一名菟縷，一名唐蒙，一名玉女，一名赤網，一名菟累。生朝鮮田野，蔓延草木之上，色黃而細，為赤網，色淺而大，為菟累。九月採實，暴乾。</p>
<p>案《說文》云：蒙玉女也《廣雅》云：菟邱，菟絲也，女蘿，松蘿也；《爾雅》云：唐蒙，女蘿。菟絲。又云：蒙，玉女；《毛詩》云：愛採唐矣。《傳》云：唐蒙，菜名。又蔦與女蘿。《傳》云：女蘿、菟絲，松蘿也。陸璣云：今菟絲蔓連草上生，黃赤如金，今合藥，菟絲子是也，非松蘿，松蘿，自蔓松上，枝正青，與菟絲異。《楚詞》云：被薜荔兮帶女蘿。王逸云：女蘿，菟絲也。《淮南子》云：千秋之松，下有茯苓，上有菟絲。高誘注云：茯苓，千歲松脂也。菟絲生其上而無根。舊作菟，非。</p>

<h3>牛膝</h3>
<p>味苦，酸（《御覽》作辛）。主寒（《御覽》作傷寒）濕痿痹，四肢拘攣，膝痛不可屈伸，逐血氣，傷熱火爛，墮胎。久服，輕身、耐老（《御覽》作能老）。一名百倍，生川穀。</p>
<p>《吳普》曰：牛膝，神農：甘；一經：酸；黃帝、扁鵲：甘；李氏，溫。雷公：酸，無毒。生河內或臨邛。葉如夏藍；莖本赤。二月、八月採（《御覽》）。</p>
<p>《名醫》曰：生河內及臨朐。二月、八月、十月採根，陰乾。</p>
<p>案：《廣雅》云：牛莖，牛膝也；陶弘景雲：其莖有節，似膝，故以為名也。膝，當為膝。</p>

<h3>充蔚子</h3>
<p>味辛，微溫。主明目益精，除水氣。久服輕身，莖主癮疹癢，可作浴湯。一名益母，一名益明，一名大札。生池澤。</p>
<p>《名醫》曰：一名貞蔚，生海濱，五月採。</p>
<p>案：《說文》云：蓷，萑也。《廣雅》云：益母，充蔚也。《爾雅》云：萑，蓷。郭璞云：今茺蔚也。《毛詩》云：中谷有蓷。《傳》云：蓷，鵻也。陸璣云：舊說及魏博士濟陰周元明，皆云菴䕡是也。《韓詩》及三蒼說，悉云益母，故曾子見益母而感。劉歆曰：蓷，臭穢。臭穢，即茺蔚也。舊作茺，非。</p>

<h3>女萎</h3>
<p>味甘，平。主中風暴熱，不能動搖，跌筋結肉，諸不足。久服，去面黑皯，好顏色、潤澤，輕身、不老。生山谷。</p>
<p>《吳普》曰：女萎，一名葳蕤，一名玉馬，一名地節，一名蟲蟬，一名烏萎，一名熒，一名玉竹，神農：苦；一經：甘；桐君、雷公、扁鵲：甘，無毒；黃帝：辛。生太山山谷。葉青黃相值，如姜。二月、七月採。治中風暴熱。久服，輕身（《御覽》）。一名左眄。久服，輕身、耐老（同上）。</p>
<p>《名醫》曰：一名熒，一名地節，一名玉竹，一名馬熏，生太山及邱陵，立春後採，陰乾。</p>
<p>案：《爾雅》云：熒，委萎；郭璞云：藥草也，葉似竹，大者如箭，竿，有節，葉狹而長，表白里青，根大如指，長一、二尺，可啖；陶弘景雲：按《本經》有女萎，無葳蕤，《別錄》有萎蕤，而為用正同，疑女萎即葳蕤也，惟名異耳；陳藏器云：《魏志·樊阿傳》：青黏，一名黃芝，一名地節。此即葳蕤。</p>

<h3>防葵</h3>
<p>味辛，寒。主疝瘕腸泄，膀胱熱結，溺不下。咳逆，溫瘧，癲癇，驚邪狂走。久服，堅骨髓、益氣、輕身。一名梨蓋。生川穀。</p>
<p>《吳普》曰：房葵，一名梨蓋，一名爵離，一名房苑，一名晨草，一名利如，一名方蓋，神農：辛，小寒；桐君、扁鵲：無毒；岐伯、雷公、黃帝：苦，無毒。莖葉如葵，上黑黃。二月生根，根大如桔梗，根中紅白。六月，花白，七月、八月，實白，三月三日採根（《御覽》）。</p>
<p>《名醫》曰：一名房慈，一名爵離，一名農果，一名利茹，一名方蓋，生臨淄，及嵩高太山少室，三月三日採根，曝乾。</p>
<p>案：《博物志》云：防葵，與狼毒相似。</p>

<h3>柴胡</h3>
<p>味苦，平。主心腹，去腸胃中結氣，飲食積聚，寒熱邪氣，推陳致新。久服，輕身、明目、益精。一名地熏。</p>
<p>《吳普》曰：茈葫，一名山菜，一名茹草，神農、岐伯、雷公：苦，無毒，生冤句。二月、八月採根（《御覽》）。</p>
<p>《名醫》曰：一名山菜，一名茹草。葉，一名芸蒿，辛香可食，生宏農及冤句。二月、八月採根，曝乾。</p>
<p>案：《博物志》云：芸蒿，葉似邪蒿，春秋有白蒻，長四、五寸，香美可食。長安及河內並有之。《夏小正》云：正月採芸。《月令》云：仲春，芸始生；《呂氏春秋》云：菜之美者，華陽之芸，皆即此也。《急就篇》有云：顏師古注云：即今芸蒿也，然則是此茈胡葉矣。茈、柴，前聲相轉。《名醫》別錄前胡條，非。陶弘景雲：《本經》上品有茈胡而無此。晚來醫乃用之。</p>

<h3>麥門冬</h3>
<p>味甘，平。主心腹結氣，傷中、傷飽，胃絡脈絕，羸瘦短氣。久服，輕身、不老、不飢。生川穀及堤阪。</p>
<p>《吳普》曰：一名馬韭，一名釁冬，一名忍冬，一名忍陵，一名不死藥，一名僕壘，一名隨脂（《太平御覽》引云：一名羊韭，秦，一名馬韭，一名禹韭，韭；越，一名羊齊，一名麥韭，一名禹韭，一名釁韭，一名禹餘糧），神農、岐伯：甘，平；黃帝、桐君、雷公：甘，無毒；李氏：甘，小溫；扁鵲：無毒。生山谷肥地。葉如韭，肥澤叢生。採無時，實青黃。</p>
<p>《名醫》曰：秦，名羊韭；齊，名麥韭；楚，名馬韭；越，名羊蓍，一名禹葭，一名禹餘糧，葉如韭，冬夏長生，生函谷肥土、石間久廢處。二月、三月、八月、十月採，陰乾。</p>
<p>案：《說文》云：荵，荵冬草。《中山經》云：青要之山，是多僕累，據《吳普》說，即麥門冬也。忍、荵，壘、累，音同，陶弘景雲：實如青珠，根似穬麥，故謂麥門冬。</p>

<h3>獨活</h3>
<p>味苦，平。主風寒所擊，金瘡，止痛，賁豚，癇痙，女子疝瘕。久服，輕身、耐老。一名羌活，一名羌青，一名擴羌使者。生川穀。</p>
<p>《吳普》曰：獨活，一名胡王使者，神農、黃帝：苦，無毒。八月採。此藥有風花不動，無風獨搖（《御覽》）。</p>
<p>《名醫》曰：一名胡王使者，一名獨搖者。此草，得風不搖，無風自動。生雍州，或隴西南安。二月、八月採根，曝乾。</p>
<p>案：《列仙傳》云：山圖服羌活、獨活，則似二名。護羌、胡王，皆羌字緩聲，猶專諸為專設諸，庚公差為瘐公之斯，非有義也。</p>

<h3>車前子</h3>
<p>味甘，寒，無毒。主氣癃，止痛，利水道小便，除濕痹。久服，輕身、耐老。一名當道（《御覽》有云：一名牛舌，《大觀本》作牛遺，黑字）。生平澤。</p>
<p>《名醫》曰：一名芣苢，一名蝦蟆衣，一名牛遺，一名勝舃，生真定邱陵阪道中，五月五日採，陰乾。</p>
<p>案：《說文》云：芣，一曰芣苢。一名馬舃，其實如李，令人宜子，《周書》所說，《廣雅》云：當道，馬舃也；《爾雅》云：芣苢，馬舃；馬舃，車前。郭璞云：今車前草，大葉長穗，好生道邊，江東呼為蝦蟆衣。又藬，牛蘈。孫炎云：車前，一名牛邊，《毛詩》云：采采芣苢，《傳》云：芣苢，馬舃；馬舃，車前也。陸璣云：馬舃，一名車前，一名當道。喜在牛跡中生，故曰車前當道也，今藥中車前子是也，幽州人謂之牛舌草。</p>

<h3>木香</h3>
<p>味辛。主邪氣，闢毒疫溫鬼，強志。主淋露（《御覽》引云：主氣不足。《大觀本》作黑字）。久服，不夢寤魘寐（《御覽》引云：一名密青。一名：輕身，致神仙，《大觀本》俱作黑字）。生山谷。</p>
<p>《名醫》曰：一名蜜香，生永昌。</p>

<h3>署豫</h3>
<p>（舊作薯蕷，《御覽》作署豫，是）　</p>
<p>味甘，溫。主傷中，補虛羸，除寒熱邪氣，補中，益氣力，長肌肉。長肌肉。久服，耳目聰明，輕身、不飢、延年。一名山芋，生山谷。</p>
<p>《吳普》曰：薯蕷，一名諸署（《御覽》作署豫，作諸署，《藝文類聚》亦作諸）。齊越，名山芋，一名修脆，一名兒草（《御覽》引云，秦楚，名玉延，齊越，名山芋；鄭趙，名山芋，一名玉延）。神農：甘，小溫；桐君、雷公：甘（御引作苦），無毒。或生臨朐鐘山。始生，赤莖細蔓；五月，華白；七月，實青黃，八月，熟落，根中白，皮黃，類芋（《御覽》引云：二月、八月採根。惡甘遂）。</p>
<p>《名醫》曰：秦楚名玉延，鄭越名土諸。生嵩高，二月、八月採根，曝乾。</p>
<p>案：《廣雅》云：玉延，薯豫，署蕷也。《北山經》云：景山草多薯豫。郭璞云：根似羊蹄，可食，今江南單呼為薯，語有輕重耳；《範子計然》云：薯豫，本出三輔，白色者，善；《本草衍義》云：山藥，上一字犯宋英廟諱，下一字曰蕷，唐代宗名豫，故改下一字為藥。</p>

<h3>薏苡仁</h3>
<p>味甘，微寒。主筋急，拘攣不可屈神，風濕痹，下氣。久服，輕身、益氣。其根，下三蟲。一名解蠡。生平澤及田野。</p>
<p>《名醫》曰：一名屋菼，一名起實，一名贛。生真定。八月採實；採根，無時。</p>
<p>案：《說文》云：㪍，㪍苢，一曰㪍英。贛，一曰薏苢。《廣雅》云：贛，起實，㪍目也。《吳越春秋》：鯀娶於有莘氏之女，名曰女嬉，年壯未孳，嬉於砥山，得薏苡面而吞之，意若為人所感，因而妊孕。《後漢書·馬援傳》：援在交趾，常餌薏苡實，用能輕身、省欲，以勝瘴。㪍，俗作薏，非。</p>

<h3>澤瀉</h3>
<p>味甘，寒。主風寒濕痹，乳難。消水，養五臟，益氣力，肥健。久服，耳目聰明，不飢、延、輕身，面生光，能行水上。一名水瀉，一名芒芋，一名鵠瀉。生池澤。</p>
<p>《名醫》曰：生汝南，五、六、八月採根，陰乾。</p>
<p>案：《說文》云：藚，水寫也；《爾雅》云：蕍藛。郭璞云：今澤瀉，又藚，牛膚。郭璞云：《毛詩傳》雲水藛也，如續斷，寸寸有節，拔之可復。《毛詩》云：言採其藚。《傳》云：藚，水寫也。陸璣云：今澤寫也。其葉如車前草大，其味亦相似，徐州廣陵人食之。</p>

<h3>遠志</h3>
<p>味苦，溫。主咳逆傷中，補不足，除邪氣，利九竅，益智慧，耳目聰明，不忘，強志倍力。久服，輕身、不老。葉名小草，一名棘菀（陸德明《爾雅音義》引作莧），一名葽繞（《御覽》作要繞），一名細草。生川穀。</p>
<p>《名醫》曰：生太山及冤句。四月採根、葉，陰乾。</p>
<p>案：《說文》云：蒬，棘蒬也。《廣雅》云：蕀苑，遠志也。其上謂之小草。《爾雅》云：葽繞，蕀蒬。郭璞云：今遠志也，似麻黃，赤華，葉銳而黃。</p>

<h3>龍膽</h3>
<p>味苦澀。主骨間寒熱，驚癇邪氣，續絕傷，定五臟，殺蠱毒。久服，益智、不忘，輕身、耐老。一名陵遊，生山谷。</p>
<p>《名醫》曰：生齊朐及冤句。二月、八月、十一月、十二月採根，陰乾。</p>

<h3>細辛</h3>
<p>味辛，溫。主咳逆，頭痛腦動，百節拘攣，風濕。痹痛、死肌。久服，明目、利九竅，輕身、長年。一名小辛。生山谷。</p>
<p>《吳普》曰：細辛，一名細草（《御覽》引云：一名小辛）。神農、黃帝、雷公、桐君：辛，小溫；岐伯：無毒；李氏：小寒。如葵葉，色赤黑，一根一葉相連（《御覽》引云：三月、八月採根）。</p>
<p>《名醫》曰：生華陰。二月、八月採根，陰乾。</p>
<p>案：《廣雅》云：細條、少辛，細辛也。《中山經》云：浮戲之山，上多少辛。郭璞云：細辛也。《管子·地員篇》云：小辛，大蒙。《範子計然》云：細辛，出華陰，色白者，善。</p>

<h3>石斛</h3>
<p>味甘，平。主傷中，除痹，下氣，補五臟虛勞、羸瘦，強陰。久服，厚腸胃、輕身、延年。一名林蘭（《御覽》引云：一名禁生。《觀本》作黑字），生山谷。</p>
<p>《吳普》曰：石斛，神農：甘，平；扁鵲：酸；李氏：寒（《御覽》）。</p>
<p>《名醫》曰：一名禁生，一名杜蘭，一名石蓫。生六安水傍石上。七月、八月採莖，陰乾。</p>
<p>案：《範子計然》云：石斛，出六安。</p>

<h3>巴戟天</h3>
<p>味辛，微溫。主大風邪氣，陰痿不起，強筋骨，安五臟，補中，增志，益氣。生山谷。</p>
<p>《名醫》曰：生巴郡及下邳。二月、八月採根，陰乾。</p>

<h3>白英</h3>
<p>味甘，寒。主寒熱、八疽、消渴，補中益氣。久服，輕身、延年。一名谷菜（元本誤作黑字），生山谷。</p>
<p>《名醫》曰：一名白草。生益州。春，採葉；夏，採莖；秋，採花；冬，採根。</p>
<p>案：《爾雅》云：苻，鬼目。郭璞云：今江東有鬼目草，莖似葛，葉圓而毛，子如耳璫也，赤色叢生。《唐本》注白英云：此鬼目草也。</p>

<h3>白蒿</h3>
<p>味甘，平。主五臟邪氣，風寒濕痹，補中益氣，長毛髮，令黑，療心懸、少食、常飢。輕身、耳目聰明、不老。生川澤。</p>
<p>《名醫》曰：生中山，二月採。</p>
<p>案：《說文》云：蘩，白蒿也；艾，冰臺也。《廣雅》云：蘩母，蒡葧也。《爾雅》云：艾，冰臺。郭璞云：今艾，白蒿。《夏小正》云：二月采蘩。《傳》云：蘩，由胡。由胡者，繁母也。繁母者，旁勃也。《爾雅》云：蘩，皤蒿。郭璞云：白蒿。又蘩，由胡，郭璞云：未詳。《毛詩》云：於以采蘩。《傳》云：蘩，皤蒿也。又采蘩祁祁。《傳》云：蘩，白蒿也；陸璣云：凡艾，白色者，為皤蒿；《楚詞》王逸注云：艾，白蒿也。按：皤、白，音義皆相近。艾，是藥名，《本草經》無者，即白蒿是也。《名醫》別出艾條，非。</p>

<h3>赤箭</h3>
<p>味辛，溫。主殺鬼精物、蠱毒惡氣。久服，益氣力，長陰、肥健，輕身、增年。一名離母，一名鬼督郵。生川穀。</p>
<p>《吳普》曰：換督郵，一名神草，一名閻狗。或生太山，或少室。莖、箭赤，無葉，根如芋子。三月、四月、八月採根，日乾。治癰腫（《御覽》）。</p>
<p>《名醫》曰：生陳倉雍州，及太山少室，三月、四月、八月採根，曝乾。</p>
<p>案：《抱朴子》云：按：仙方中，有合離草，一名獨搖，一名離母，所以謂之合離、離母者，此草為物，下根如芋魁，有遊子十二枚周環之，去大魁數尺，雖相須，而實不相連，但以氣相屬耳，別說云：今醫家見用天麻，即是此赤箭根。</p>

<h3>奄閭子</h3>
<p>（舊作庵閭，《御覽》作奄閭，是）　</p>
<p>味苦，微寒。主五臟瘀血，腹中水氣，臚張留熱，風寒濕痹，身體諸痛。久服，輕身、延年、不老。生川穀。</p>
<p>《吳普》曰：奄閭，神農、雷公、桐君、岐伯：苦，小溫，無毒；李氏：溫，或生上黨，葉青厚兩相當，七月，花曰；九月，實黑，七月、九月、十月採，驢馬食，仙去（《御覽》）。</p>
<p>《名醫》曰：駏驉食之，神仙。生雍州，變生上黨及道邊，十月採根，陰乾。</p>
<p>案：《司馬相如賦》有奄閭，張揖云：奄閭，蒿也。子可治疾。</p>

<h3>析蓂子</h3>
<p>味辛，微溫。主明目，目痛淚出，除痹，補五臟，益精光。久服，輕身，不老。一名蔑析，一名大蕺，一名馬辛。生川澤及道旁。</p>
<p>《吳普》曰：析蓂，一名析目，一名榮冥，一名馬騂。雷公、神農、扁鵲：辛；李氏：小溫，四月採干。二十日，生道旁。得細辛，良。畏乾薑、苦參、薺實，神農：無毒。生野田，五月五日採，陰乾。治腹脹（《御覽》）。</p>
<p>《名醫》曰：一名大薺，生咸陽。四月、五月採，曝乾。</p>
<p>案：《說文》云：𩊅，析𩊅，大薺也；《廣雅》云：析𩊅，馬辛也，《爾雅》云：析𩊅、大薺。郭璞云：薺，葉細，俗呼之曰老薺。舊作菥，非。</p>

<h3>蓍實</h3>
<p>味苦，平。主益氣，充肌膚，明目、聰慧、先知。久服，不飢、不老、輕身。生山谷。</p>
<p>《吳普》曰：蓍實，味苦、酸，平，無毒，主益氣，充肌膚，明目、聰慧、先知，久服，不飢、不老、輕身，生少室山谷。八月、九月採實，曝乾（《御覽》）。</p>
<p>《名醫》曰：生少室，八月、九月採實，曬乾。</p>
<p>案：《說文》云：蓍，蒿屬，生千歲，三百莖。《史記·龜策傳》云：蓍，百莖共一根。</p>

<h3>赤芝</h3>
<p>味苦，平。主胸中結，益心氣，補中，增智慧，不忘。久食，輕身、不老、延年、神仙。一名丹芝。黑芝味鹹，平。主癃，利水道，益腎氣，通九竅，聰察。久食，輕身、不老、延年、神仙。一名元芝。</p>

<h3>青芝</h3>
<p>味酸，平。主明目，補肝氣，安精魂，仁恕，久食，輕身、不老、延年、神仙。一名龍芝。</p>

<h3>白芝</h3>
<p>味辛，平。主咳逆上氣，益肺氣，通利口鼻，強志意，勇悍，安魄。久食，輕身、不老、延年、神仙。一名玉芝。</p>

<h3>黃芝</h3>
<p>味甘，平。主心腹五邪，益脾氣，安神，忠信和樂。久食，輕身、不老、延年、神仙。一名金芝。</p>

<h3>紫芝</h3>
<p>味甘，溫。主耳聾，利關節，保神，益精氣，堅筋骨，好顏色。久服，輕身、不老、延年。一名木芝。生山谷（舊作六種，今並）。</p>
<p>《吳普》曰：紫芝，一名木芝。</p>
<p>《名醫》曰：赤芝，生霍山，黑芝，生恆山，青芝，生太山，白芝，生華山；黃芝，生嵩山；紫芝，生高夏地上，色紫，形如桑（《御覽》），六芝，皆無毒，六月、八月採。</p>
<p>案：《說文》云：芝，神草也。《爾雅》云：茵芝。郭璞云：芝，一歲三華，瑞草；《禮記》則云：芝栭。盧植注云：芝，木芝也。《楚詞》云：採三秀于山間。王逸云：三秀，謂芝草。《後漢書·華佗傳》，有漆葉青面散，注引佗傳曰：青面者，一名地節，一名黃芝，主理五臟，益精氣，本《字書》無面字，相傳音女廉反；《列仙傳》云：呂尚服澤芝。《抱朴子·仙藥篇》云：赤者，如珊瑚；白者，如截肪，黑者，如澤漆；青者，如翠羽；黃者，如紫金。而皆光明洞徹，如堅冰也。</p>

<h3>卷柏</h3>
<p>味辛，溫。生山谷。主五臟邪氣，女子陰中寒熱痛，癥瘕、血閉、絕子。久服，輕身、和顏色。一名萬歲。生山谷石間。</p>
<p>《吳普》曰：卷柏，神農：辛；桐君、雷公：甘（《御覽》引云：一名豹足，一名求股，一名萬歲，一名神枝、時，生山谷）。</p>
<p>《名醫》曰：一名豹足，一名求股，一名交時，生常山，五月、七月採，陰乾。</p>
<p>案：《範子計然》云：卷柏，出三輔。</p>

<h3>藍實</h3>
<p>味苦，寒。主解諸毒，殺蠱蚑、注鬼、螫毒。久服，頭不白、輕身。生平澤。</p>
<p>《名醫》曰：其莖葉可以染青，生河內。</p>
<p>案：《說文》云：葴，馬藍也。藍，染青草也。《爾雅》云：葴，馬藍；郭璞云：今大葉冬藍也。《周禮》掌染草，鄭注云：染草，藍茜，象頭之屬。《夏小正》：五月啟灌藍。《毛詩》云：終朝採藍。《箋》云：藍，染草也。</p>

<h3>芎藭</h3>
<p>味辛，溫。主中風入腦，頭痛，寒痹，筋攣緩急，金創，婦人血閉無子。生川穀。</p>
<p>《吳普》曰：芎藭（《御覽》引云：一名香果），神農、黃帝、岐伯、雷公：辛，無毒，扁鵲：酸，無毒，李氏：生溫，熟寒，或生胡無桃山陰，或太山（《御覽》作或斜谷西嶺，或太山）。葉香細青黑，文赤如藁本，冬夏叢生，五月花赤，七月實黑，莖端兩葉，三月採。根有節，似馬銜狀。</p>
<p>《名醫》曰：一名胡藭，一名香果。其葉，名蘼蕪。生武功斜谷西嶺，三月、四月採根，曝乾。</p>
<p>案：《說文》云：菅，菅藭，香草也。芎，司馬相如說：或從弓；《春秋左傳》云：有山鞠窮乎。杜預云：鞠窮所以御濕。《西山經》云：號山，其草多芎藭。郭璞云：芎藭，一名江蘺。</p>
<p>《範子計然》云：芎藭生始無，枯者，善（有脫字）。《司馬相如賦》有芎藭。司馬貞引司馬彪云：芎藭，似藁本；郭璞云：今歷陽呼為江蘺。</p>

<h3>蘼蕪</h3>
<p>味辛，溫。主咳逆，定驚氣，辟邪惡，除蠱毒鬼注，去三蟲，久服通神。一名薇蕪。生川澤。</p>
<p>《吳普》曰：麋蕪，一名芎藭（《御覽》）。</p>
<p>《名醫》曰：一名茳蘺，芎藭苗也，生雍州及冤句，四月、五月採葉，曝乾。</p>
<p>案：《說文》云：麋，麋蕪也。蘺，茳蘺，麋蕪。《爾雅》云：靳茞，麋蕪。郭璞云：香草，葉小如委狀。《淮南子》云：似蛇床，《山海經》云：臭如麋蕪。《司馬相如賦》有江蘺、麋蕪。司馬貞引樊光云：藁本，一名麋蕪，根名勒芷。</p>

<h3>黃連</h3>
<p>味苦，寒。主熱氣目痛、眥傷泣出，明目（《御覽》引云：主莖傷。《大觀本》無），腸澼，腹痛下利，婦人陰中腫痛。久服，令人不忘。一名王連。生川穀。</p>
<p>《吳普》曰：黃連，神農、岐伯、黃帝、雷公：苦，無毒；李氏：小寒。或生蜀郡、太山之陽（《御覽》）。</p>
<p>《名醫》曰：生巫陽及蜀郡、太山，二月、八月採。</p>
<p>案：《廣雅》云：王連，黃連也。《範子計然》云：黃連，出蜀郡，黃肥堅者，善。</p>

<h3>絡石</h3>
<p>味苦，溫。主風熱、死肌、癰傷，口乾、舌焦，癰腫不消，喉舌腫，水漿不幹。久服，輕身，明目、潤澤、好顏色，不老、延年。一名石鯪。生川穀。</p>
<p>《吳普》曰：落石，一名鱗石，一名明石，一名縣石，一名雲華，一名云珠，一名雲英，一名云丹，神農：苦，小溫；雷公：苦，無毒；扁鵲、桐君：甘，無毒；李氏：小寒。云藥中君。採無時（《御覽》）。</p>
<p>《名醫》曰：一名石蹉，一名略石，一名明石，一名領石，一名縣石，生太山或石山之陰，或高山岩石上，或生人間，正月採。</p>
<p>案：《西山經》云：上申之山多硌石，疑即此。郭璞云：硌，磊硌大石兒，非也；《唐本》注云：俗名耐冬，山南人謂之石血，以其包絡石木而生，幫名絡石。《別錄》謂之石龍藤，以石上生者，良。</p>

<h3>蒺藜子</h3>
<p>味苦，溫。主惡血，破癥結積聚，喉痹，乳難。久服，長肌肉，明目、輕身。一名旁通，一名屈人，一名止行，一名豺羽，一名升推（《御覽》引云：一名君水香，《大觀本》無文）。生平澤，或道旁。</p>
<p>《名醫》曰：一名即藜，一名茨，生馮翊。七月、八月採實，曝乾。</p>
<p>案：《說文》云：薺，蒺黎也。《詩》曰：牆上有薺，以茨為茅葦，開屋字。《爾雅》云：牆上有茨。《傳》云：茨，蒺藜也，舊本作蒺藜，非。</p>

<h3>黃耆</h3>
<p>味甘，微溫。主癰疽久敗創，排膿止痛，大風痢疾，五痔鼠瘻，補虛，小兒百病。一名戴糝。生山谷。</p>
<p>《名醫》曰：一名戴椹，一名獨椹，一名芰草，一名蜀脂，一名百本，生蜀郡白水漢中，二月、十月採，陰乾。</p>

<h3>肉鬆蓉</h3>
<p>味甘，微溫。主五勞七傷，補中，除莖中寒熱痛，養五臟，強陰，益精氣，多子，婦人癥瘕。久服，輕身。生山谷。</p>
<p>《吳普》曰：肉蓯蓉，一名肉鬆蓉，神農、黃帝：咸；雷公：酸，小溫（《御覽》作李氏：小溫），生河西（《御覽》作東）山陰地，長三、四寸，叢生，或代郡（《御覽》下有雁門二字）。二月到八月採（《御覽》引云：陰乾用之）。</p>
<p>《名醫》曰：生河西及代郡雁門，五月五日採，陰乾。</p>
<p>案：《吳普》云：一名肉鬆蓉，當是古本，蓉，即是容字，俗寫蓯蓉，非正字也。陶弘景雲：是野馬精落地所生，生時似肉，舊作肉蓯蓉，非。</p>

<h3>防風</h3>
<p>味苦，溫，無毒。主大風、頭眩痛，惡風風邪，目盲無所見，風行周身，骨節疼痹（《御覽》作痛），煩滿。久服，輕身。一名銅芸（《御覽》作芒）。生川澤。</p>
<p>《吳普》曰：防風，一名回云，一名回草，一名百枝，一名蕳根，一名百韭，一名百種，神農、黃帝、岐伯、桐君、雷公、扁鵲：甘，無毒，李氏：小寒，或生邯鄲上蔡，正月生葉，細圓，青黑黃白；五月花黃；六月實黑。三月、十月採根，曬乾，琅邪者，良（《御覽》）。</p>
<p>《名醫》曰：一名茴草，一名百枝，一名屏風，一名蕳根，一名百蜚。生沙苑，及邯鄲、琅邪、上蔡。二月、十月採根，曝乾。</p>
<p>案：《範子計然》云：防風，出三輔。白者，善。</p>

<h3>蒲黃</h3>
<p>味甘，平。主心腹、膀胱寒熱，利小便，止血，消瘀血。久服，輕身、益氣力，延年、神仙。生池澤。</p>
<p>《名醫》曰：生河東，四月採。</p>
<p>案：《玉篇》云：蒚，謂今蒲頭有臺，臺上有重臺，中出黃，即蒲黃。陶弘景雲：此即蒲釐花上黃粉也，《仙經》亦用此，考《爾雅》苻離，其上蒚，苻離與蒲釐聲相近，疑即此。</p>

<h3>香蒲</h3>
<p>味甘，平。主五臟心下邪氣，口中爛臭，堅齒，明目，聰耳。久服，輕身、耐老（《御覽》作能老）。一名睢（《御覽》云睢蒲）。生池澤。</p>
<p>《吳普》曰：睢，一名睢石，一名香蒲，神農、雷公：甘。生南海，池澤中（《御覽》）。</p>
<p>《名醫》曰：一名醮，生南海。</p>
<p>案：《說文》云：菩，草也。《玉篇》云：菩，香草也。又音蒲。《本草圖經》云：香蒲，蒲黃苗也，春初生嫩葉，未出水時，紅白色，茸茸然，《周禮》以為菹。</p>

<h3>續斷</h3>
<p>味苦，微溫。主傷寒，補不足，金創癰傷，折跌，續筋骨，婦人乳難（《御覽》作乳癰，云崩中、漏血，《大觀本》作黑字）。久服，益氣力。一名龍豆，一名屬折。生山谷。</p>
<p>《名醫》曰：一名接骨，一名南草，一名槐。生常山。七月、八月採，陰乾。</p>
<p>案：《廣雅》云：褱，續斷也。《範子計然》云：續斷，出三輔：《桐君藥錄》云：續斷，生蔓延，葉細，莖如荏大，根本黃白，有汁。七月、八月採根。</p>

<h3>漏蘆</h3>
<p>味甘，鹹寒。主皮膚熱、惡創、疽痔、濕痹，下乳汁。久服，輕身益氣，耳目聰明，不老、延年。一名野蘭。生山谷。</p>
<p>《名醫》曰：生喬山，八月採根，陰乾。</p>
<p>案：《廣雅》云：飛廉，漏蘆也；陶弘景雲：俗中取根，名鹿驪。</p>

<h3>營實</h3>
<p>味酸，溫。主癰疽惡創，結肉跌筋，敗創，熱氣，陰蝕不療，利關節。一名牆薇，一名牆麻，一名牛棘。生川穀。</p>
<p>《吳普》曰：薔薇，一名牛勒，一名牛膝，一名薔薇，一名山棗（《御覽》）。</p>
<p>《名醫》曰：一名牛勒，一名薔蘼，一名山棘，生零陵及蜀郡，八月、九月採，陰乾。</p>
<p>案：陶弘景雲：即是牆薇子。</p>

<h3>天名精</h3>
<p>味甘，寒。主瘀血、血瘕欲死、下血。止血，利小便。久服輕身、耐老。一名麥句姜，一名蝦蟆藍，一名豕首。生川澤。</p>
<p>《名醫》曰：一名天門精，一名玉門精，一名彘顱，一名蟾蜍蘭，一名覲，生平原。五月採。</p>
<p>案：《說文》云：薽，豕首也；《爾雅》云：茢，薽，豕首。郭璞云：今江東呼豨首，可以煼蠶蛹。陶弘景雲：此即今人呼為豨薟，《唐本》云：鹿活草是也。《別錄》一名天蔓菁，南文呼為地松；掌禹錫云：陳藏器別立地菘條，後人不當仍其謬。</p>

<h3>決明子</h3>
<p>味鹹，平。主青盲、目淫、膚赤、白膜、眼赤痛、淚出。久服，益精光（《太平御覽》引作理目珠精，理，即治字），輕身。生川澤。</p>
<p>《吳普》曰：決明子，一名草決明，一名羊明（《御覽》）。</p>
<p>《名醫》曰：生龍門，石決明，生豫章，十月採，陰乾百日。</p>
<p>案：《廣雅》云：羊𧃐⿱艹蠋，英光也。又決明，羊明也；《爾雅》云：薢茩，英光。</p>
<p>郭璞云：英，明也。葉黃銳，赤花，實如山茱萸。陶弘景雲：形似馬蹄決明。</p>

<h3>丹參</h3>
<p>味苦，微寒。主心腹邪氣，腸鳴幽幽如走水，寒熱積聚；破症除瘕，止煩滿，益氣。一名卻蟬草。生川穀。</p>
<p>《吳普》曰：丹參，一名赤參，一名木羊乳，一名卻蟬草。神農、桐君、黃帝、雷公、扁鵲：苦，無毒；李氏：小寒。岐伯：咸。生桐柏，或生太山山陵陰。莖花小方如荏，毛、根赤，四月花紫，五月採根，陰乾，治心腹痛（《御覽》）。</p>
<p>《名醫》曰：一名赤參，一名木羊乳，生桐柏山及太山，五月採根，曝乾。</p>
<p>案：《廣雅》云：卻蟬，丹參也。</p>

<h3>茜根</h3>
<p>味苦，寒。主寒濕，風痹，黃疸，補中。生川穀。</p>
<p>《名醫》曰：可以染絳。一名地血，一名茹藘，一名茅搜，一名茜。生喬山。二月、三月採根，陰乾。</p>
<p>案：《說文》云：茜，茅搜也。搜，茅搜，茹藘。人血所生，可以染絳，從草從鬼。《廣雅》云：地血，茹藘，茜也。《爾雅》云：茹藘，茅鬼；郭璞云：今茜也，可以染絳。《毛詩》云：茹藘在阪。《傳》云：茹藘，茅搜也。陸璣云：一名地血，齊人謂之茜，徐州人謂之牛蔓。徐廣注《史記》云：茜，一名紅藍，其花染繪，赤黃也。按：《名醫》別出紅藍條，非。</p>

<h3>飛廉</h3>
<p>味苦，平。主骨節熱，脛重痠疼。久服，令人身輕。一名飛輕（已以上四字，原本黑字）。生川澤。</p>
<p>《名醫》曰：一名伏兔，一名飛雉，一名木禾，生河內，正月採根；七月、八月採花。陰乾。</p>
<p>案：《廣雅》云：伏豬，木禾也。飛廉，漏蘆也。陶弘景雲：今既別有漏蘆，則非。此別名耳。</p>

<h3>五味子</h3>
<p>味酸，溫。主益氣，咳逆上氣，勞傷羸瘦。補不足，強陰，益男子精（《御覽》引云：一名會及。《大觀本》作黑字）。生山谷。</p>
<p>《吳普》曰：五味子，一名元及（《御覽》）。</p>
<p>《名醫》曰：一名會及，一名元及。生齊山及代郡，八月採實，陰乾。</p>
<p>案：《說文》云：菋，豬也。荎，荎豬草也。藸，荎藸也。《廣雅》云：會及，五味也。《爾雅》云：菋，荎藸。郭璞云：五味也。蔓生子，叢在莖頭。《抱朴子·仙藥篇》云：五味者，五行之精，其子有五味。移門子服五味子十六年，色如玉女，入水不沾，入火不灼也。</p>

<h3>旋華</h3>
<p>味甘，溫。主益氣，去面皯（《御覽》作䵟）黑，色媚好（《御覽》作令人色悅澤）。其根味辛。主腹中寒熱邪氣，利小便。久服，不飢、輕身。一名筋根華，一名金沸（《御覽》引云：一名美草，《大觀》本作黑字）。生平澤。</p>
<p>《名醫》曰：生豫州，五月採，陰乾。</p>
<p>案：陶弘景雲：東人呼為山姜，南人呼為美草；《本草衍義》云：世又謂之鼓子花。</p>

<h3>蘭草</h3>
<p>味辛，平。主利水道，殺蠱毒，闢不祥。久服，益氣、輕身、不老、通神明。一名水香。生池澤。</p>
<p>《名醫》曰：生大吳，四月、五月採。</p>
<p>案：《說文》云：蘭，香草也；《廣雅》云：蕳，蘭也；易：其臭如蘭。鄭云：蘭，香草也。《夏小正》：五月蓄蘭。《毛詩》云：方秉蕳分。《傳》云：蕳，蘭也。陸璣云：蕳，即蘭，香草也，其莖、葉似藥草澤蘭。《範子計然》云：大蘭，出漢中三輔；蘭，出河東宏農，白者善。元楊齊賢注李白詩引《本草》云：蘭草、澤蘭，二物同名。蘭草，一名水香，云都梁是也。《水經》：零陵郡，都梁縣西小山上，有渟水，其中悉生蘭草，綠葉紫莖；澤蘭，如薄荷，微香，荊湘嶺南人家多種之，與蘭大抵相類。顏師古以蘭草為澤蘭，非也。</p>

<h3>蛇床子</h3>
<p>味苦，平。主婦人陰中腫痛，男子陽痿、濕癢，除痹氣，利關節，癲癇惡創。久服，輕身。一名蛇米。生川穀及田野。</p>
<p>《吳普》曰：蛇床，一名蛇珠（《御覽》）。</p>
<p>《名醫》曰：一名蛇粟，一名虺床，一名思鹽，一名繩毒，一名棗棘，一名牆蘼，生臨淄。五月採實，陰乾。</p>
<p>案：《廣雅》云，蛇粟，馬床，蛇床也；《爾雅》云：盱虺床。《淮南子·汜論訓》云：亂人者，若蛇床之與蘼蕪。</p>

<h3>地膚子</h3>
<p>味苦，寒。主膀胱熱，利小便，補中，益精氣。久服，耳目聰明、輕身、耐老。一名地葵（《御覽》引云：一名地華，一名地脈。《大觀本》無一名地華四字；脈，作麥，皆黑字）。生平澤及田野。</p>
<p>《名醫》曰：一名地麥，生荊州，八月、十月採實，陰乾。</p>
<p>案：《廣雅》云：地葵，地膚也；《列仙傳》云：文賓服地膚；鄭樵云：地膚，曰落帚，亦曰地掃；《爾雅》云：荓，馬帚，即此也；今人亦用為帚。</p>

<h3>景天</h3>
<p>味苦，平。主大熱、火創、身熱煩，邪惡氣。花，主女人漏下赤白，輕身、明目。一名戒火，一名慎火（《御覽》引云：一名水母。《大觀本》作黑字，水作火）。生川穀。</p>
<p>《名醫》曰：一名火母，一名救火，一名據火，生太山，四月四日、七月七日採，陰乾。</p>
<p>案：陶弘景雲：今人皆盆養之於屋上，云以闢火。</p>

<h3>茵陳</h3>
<p>（《御覽》作茵蒿）</p>
<p>味苦，平。主風濕寒熱邪氣，熱結、黃疸。久服，輕身、益氣、耐老（《御覽》作能老）。生邱陵阪岸上。</p>
<p>《吳普》曰：因塵，神農、岐伯、雷公：苦，無毒；黃帝：辛，無毒。生田中，葉如藍，十一月採（《御覽》）。</p>
<p>《名醫》曰：白兔食之，仙。生太山。五月及立秋採，陰乾。</p>
<p>案：《廣雅》云：因塵，馬先也；陶弘景雲：《仙經》云：白蒿，白兔食之仙，而今茵陳乃云此，恐非耳。陳藏器云：茵陳，經冬不死，因舊苗而生，故名茵陳，後加蒿字也。據此，知舊作茵陳蒿，非；又按：《廣雅》云：馬先，疑即馬新蒿，亦白蒿之類。</p>

<h3>杜若</h3>
<p>味辛，微溫。主胸脅下逆氣，溫中，風入腦戶，頭腫痛，多涕淚出。久服，益精（《藝文類聚》引作益氣）、明目、輕身。一名杜衡（《藝文類聚》引作蘅，非）。生川澤。</p>
<p>《名醫》曰：一名杜連，一名白連，一名白苓，一名若芝，生武陵及冤句，二月、八月採根，曝乾。</p>
<p>案：《說文》云：若，杜若，香草；《廣雅》云：楚蘅，杜蘅也；《西山經》云：於帝之上有草焉，其狀如葵，其臭如蘼蕪，名曰杜蘅。《爾雅》云：杜，土滷。郭璞云：杜蘅也，似葵而香。《楚詞》云：採芳州兮杜若。《範子計然》云：杜若，生南郡漢中。又云：秦蘅，出於隴西天水。沈括《補筆談》云：杜若，即今之高良薑。後人不識，又別出高良薑條，按：《經》云：一名杜蘅，是《名醫》別出杜蘅條，非也。蘅，正字，俗加草。</p>

<h3>沙參</h3>
<p>味苦，微寒。主血積驚氣，除寒熱，補中，益肺氣。久服利人。一名知母。生川穀。</p>
<p>《吳普》曰：白沙參，一名苦心，一名識美，一名虎鬚，一名白參，一名志取，一名文虎。神農、黃帝、扁鵲：無毒；岐伯：咸；李氏：小寒。生河內川穀，或般陽瀆山，三月生，如葵，葉青，實白如芥，根大白如蕪菁，三月採（《御覽》）。</p>
<p>《名醫》曰：一名苦心，一名志取，一名虎鬚，一名白參，一名識美，一名文希，生河內及冤句、般陽續山，二月、八月採根，曝乾。</p>
<p>案：《廣雅》云：苦心，沙參也，其蒿，青蓑也。《範子計然》云：白沙參，出洛陽白者，善。</p>

<h3>白兔藿</h3>
<p>味苦，平。主蛇虺，蜂蠆，狾狗，菜、肉、蠱毒，注。一名白葛。生山谷。</p>
<p>《吳普》曰：白兔藿，一名白葛谷（《御覽》）。</p>
<p>《名醫》曰：生交州。</p>
<p>案：陶弘景雲：都不聞有識之者，都富似葛耳，《唐本》注云：此草荊襄山谷大有，俗謂之白葛。</p>

<h3>徐長卿</h3>
<p>味辛，溫。主鬼物、百精、蠱毒，疫疾，邪惡氣，溫瘧。久服，強悍、輕身。一名鬼督郵。生山谷。</p>
<p>《吳普》曰：徐長卿，一名石下長卿，神農、雷公：辛。或生隴西。三月採（《御覽》）。</p>
<p>《名醫》曰：生太山及隴西，三月採。</p>
<p>案：《廣雅》云：徐長卿，鬼督郵也；陶弘景雲：鬼督郵之名甚多，今俗用徐長卿者，其根正如細辛，小短扁扁爾，氣亦相似。</p>

<h3>石龍芻</h3>
<p>味苦，微寒。主心腹邪氣，小便不利，淋閉，風濕，鬼注，惡毒。久服，補虛羸，輕身。耳目聰明，延年。一名龍鬚，一名草續斷，一名龍珠。生山谷。</p>
<p>《吳普》曰：龍芻，一名龍多，一名龍鬚，一名續斷，一名龍本，一名草毒，一名龍華，一名懸莞，神農、李氏：小寒；雷公、黃帝：苦，無毒；扁鵲：辛，無毒，生梁州。七月七日採（《御覽》此條，誤附續斷）。</p>
<p>《名醫》曰：一名龍華，一名懸莞，一名草毒，生梁州濕地，五月、七月採莖，曝乾。</p>
<p>案：《廣雅》云：龍木，龍鬚也；《中山經》云：賈超之山，其中多龍修；郭璞云：龍鬚也，似莞而細。生山石穴中。莖列垂，可以為席。《別錄》云：一名之賓。鄭樵云：《爾雅》所謂⿱艹⿸厂畀鼠莞也。舊作蒭，非。</p>

<h3>薇銜</h3>
<p>味苦，平。主風濕痹、歷節痛，驚癇、吐舌、悸氣，賊風，鼠瘻，癰腫。一名糜銜。生川澤。</p>
<p>《吳普》曰：薇䕔，一名糜痹，一名無顛，一名承膏，一名醜，一名無心（《御覽》）。《名醫》曰：一名承膏，一名承肌，一名無心，一名無顛。生漢中及冤句、邯鄲，七月採莖、葉，陰乾。</p>

<h3>雲實</h3>
<p>味辛，溫。主泄利（舊作痢，《御覽》作泄利）腸澼，殺蟲蠱毒，去邪惡結氣，止痛、除熱，平，主見鬼精物；多食，令人狂走。久服，輕身、通神明。生川穀。</p>
<p>《吳普》曰：雲實，一名員實，一名天豆，神農：辛，小溫，黃帝：咸；雷公：苦。葉如麻，兩兩相值，高四、五尺，大莖空中，六月花，八月、九月實，十月採（《御覽》）。</p>
<p>《名醫》曰：一名員實，一名雲英，一名天豆，生河間。十月採，曝乾。</p>
<p>案：《廣雅》云：天豆，雲實也。</p>

<h3>王不留行</h3>
<p>味苦，平。主金創，止血逐痛，出刺，除風痹內寒。久服，輕身、耐老（《御覽》作能老）、增壽。生山谷。</p>
<p>《吳普》曰：王不留行，一名王不流行。神農：苦，平；岐伯、雷公：甘。三月、八月採（《御覽》）。</p>
<p>案：鄭樵云：王不留行，曰禁宮花，曰剪金花，葉似花，實作房。</p>

<h3>升麻</h3>
<p>味甘，辛（《大觀本》作甘，平）。主解百毒，殺百老物殃鬼，闢溫疾、障邪毒蠱。久服，不夭（《大觀本》作：主解百毒，殺百精老物殃鬼，闢瘟疫瘴氣、邪氣蟲毒。此用《御覽》文）。一名周升麻（《大觀本》作周麻）。生山谷（舊作黑字。據《吳普》有云：神農：甘。則《本經》當有此，今增入）。</p>
<p>《吳普》曰：升麻，神農：甘（《御覽》）。</p>
<p>《名醫》曰：生益州，二月、八月採根，曬乾。</p>
<p>案：《廣雅》云：周麻，升麻也（此據《御覽》）。</p>

<h3>青蘘</h3>
<p>味甘，寒。主五臟邪氣，風寒濕痹，益氣，補腦髓，堅筋骨。久服，耳目聰明、不飢、不老、增壽。巨勝苗也。生川穀（舊在米穀部，非）。</p>
<p>《吳普》曰：青襄，一名夢神，神農：苦；雷公：甘（《御覽》）。</p>
<p>《名醫》曰：生中原。</p>
<p>案：《抱朴子·仙藥篇》云：《孝經·援神契》曰：巨勝、延年，又云：巨勝，一名胡麻，餌服之，不老、耐風濕、補衰老也。</p>

<h3>姑活</h3>
<p>味甘，溫。主大風邪氣，濕痹寒痛。久服，輕身、益壽、耐老。一名冬葵子（舊在《唐本草》中，無毒，今增）。</p>
<p>《名醫》曰：生河東。</p>
<p>案：《水經注》解縣引《神農本草》云：地有固活、女疏、銅芸、紫苑之族也。陶弘景雲：方藥亦無用此者，乃有固活丸，即是野葛一名。此又名冬葵子，非葵菜之冬葵子，療體乖異。</p>

<h3>別羈</h3>
<p>味苦，微溫。主風寒濕痹，身重，四肢疼酸，寒邪歷節痛。生川穀（舊在《唐本草》中，無毒，今增）。</p>
<p>《名醫》曰：一名別枝，一名別騎，一名鱉羈。生藍田。二月、八月採。案：陶弘景雲：方家時有用處，今俗亦絕耳。</p>

<h3>屈草</h3>
<p>味苦。主胸脅下痛，邪氣，腹間寒熱陰痹。久服，輕身、益氣、耐老（《御覽》作補益、能老）。生川澤（舊在《唐本草》中，無毒，今增）。</p>
<p>《名醫》曰：生漢中，五月採。</p>
<p>案：陶弘景雲：方藥不復用，俗無識者。</p>

<h3>淮木</h3>
<p>味苦，平。主久咳上氣，腸中虛羸，女子陰蝕、漏下赤白沃。一名百歲城中木。生山谷（舊在《唐本草》中，無毒，今增）。</p>
<p>《吳普》曰：淮木，神農、雷公：無毒，生晉平陽河東平澤。治久咳上氣，傷中羸虛，補中益氣（《御覽》）。</p>
<p>《名醫》曰：一名炭木，生太山，採無時。</p>
<p>案：李當之云：是樟樹上寄生樹，大銜枝在肌肉，今人皆以胡桃皮當之，非也；桐君云：生上洛，是木皮，狀如厚朴，色似桂白，其理一縱一橫，今市人皆削乃以厚朴，而無正縱橫理，不知此復是何物，莫測真假，何者為是也。</p>
<p>上草，上品七十三種，舊七十二種，考門芝當一升，升麻當白字；米穀部誤入青襄；《唐本草》六種，姑活、屈草、淮木，皆當入此。</p>

<h3>牡桂</h3>
<p>味辛，溫，主上氣咳逆，結氣，喉痹吐吸。利關節，補中益氣。久服通神、輕身、不老。生山谷。</p>
<p>《名醫》曰：生南海。</p>
<p>案：《說文》云：桂，江南木，百藥之長，梫桂也。《南山經》云：招搖之山多桂；郭璞云：桂，葉似枇杷，長二尺余，廣數寸，味辛，白花，叢生山峰，冬夏常青，間無雜木。《爾雅》云：梫，木桂。郭璞云：今人呼桂皮厚者，為木桂，及單名桂者，是也。一名肉桂，一名桂枝，一名桂心。</p>

<h3>菌桂</h3>
<p>味辛，溫。主百病，養精神，和顏色，為諸藥先聘通使。久服，輕身、不老，面生光華，媚好常如童子。生山谷。</p>
<p>《名醫》曰：生交址桂林岩崖間，無骨，正圓如竹，立秋採。</p>
<p>案：《楚詞》云：雜申椒與菌桂兮；王逸云：茮、桂，皆香木。《列仙傳》云：范蠡好服桂。</p>

<h3>松脂</h3>
<p>味苦，溫。主疽，惡創，頭瘍，白禿，疥瘙風氣。五臟，除熱。久服，輕身、不老、延年。一名松膏，一名松肪。生山谷。</p>
<p>《名醫》曰：生太山。六月採。</p>
<p>案：《說文》云：松木也，或作窠。《範子計然》云：松脂，出隴西，松膠者，善。</p>

<h3>槐實</h3>
<p>味苦，寒。主五內邪氣熱，止涎唾，補絕傷，五痔，火創，婦人乳瘕，子藏急痛。生平澤。</p>
<p>《名醫》曰：生河南。</p>
<p>案：《說文》云：槐木也；《爾雅》云：櫰，槐，大葉而黑。郭璞云：槐樹葉大色黑者，名為櫰。又守宮槐葉，晝聶宵炕。郭璞云：槐葉，晝日聶合，而夜炕布者，名為守宮槐。</p>

<h3>枸杞</h3>
<p>味苦，寒。主五內邪氣，熱中消渴，周痹。久服，堅筋骨、輕身、不老（《御覽》作耐老）。一名杞根，一名地骨，一名枸杞，一名地輔。生平澤。</p>
<p>《吳普》曰：枸杞，一名枸己，一名羊乳（《御覽》）。</p>
<p>《名醫》曰：一名羊乳，一名卻暑，一名仙人杖，一名西王母杖。生常山及諸邱陵阪岸。冬採根，春、夏採葉，秋採莖、實，陰乾。</p>
<p>案：《說文》云：繼，枸杞也。杞，枸杞也。《廣雅》云：地筋，枸杞也。《爾雅》云：杞，枸檵。郭璞云：今枸杞也。《毛詩》云：集子苞杞。《傳》云：杞，枸檵也。陸璣云：苦杞秋熟，正赤，服之，輕身、益氣。《列仙傳》云：陸通食橐盧木實；《抱朴子·仙藥篇》云：象紫，一名托盧是也，或名仙人杖，或云西王母杖，或名天門精，或名卻老，或名地骨，或名枸杞也。</p>

<h3>柏實</h3>
<p>味甘，平。主驚悸，安五臟，益氣，除濕痹。久服，令人悅澤美色，耳目聰明，不飢、不老，輕身、延年。生山谷。</p>
<p>《名醫》曰：生太山，柏葉尤良，田四時各依方面採，陰乾。</p>
<p>案：《說文》云：柏，鞠也；《廣雅》云：栝，柏也；《爾雅》云：柏，椈熟。郭璞云：《禮記》曰：鬯日以椈。《範子計然》云：柏脂，出三輔。上，升價七千；中，三千一斗。</p>

<h3>伏苓</h3>
<p>味甘，平。主胸脅逆氣（《御覽》作疝氣），憂恚，驚邪，悸心下結痛，寒熱煩滿咳逆，口焦舌乾，利小便。久服，安魂、養神，不飢、延年。一名茯菟（《御覽》作茯神。案：原本云：其有抱根者，名茯神。作黑字）。生山谷。</p>
<p>《吳普》曰：茯苓通神，桐君：甘；雷公、扁鵲：甘，無毒。或生茂州大松根下，入地三丈一尺。二月七日採（《御覽》）。</p>
<p>《名醫》曰：其有抱根者，名茯神，生太山大松下，二月、八月採，陰乾。</p>
<p>案：《廣雅》云：茯神，茯苓也；《範子計然》云：茯苓，出嵩高三輔。《列仙傳》云：昌容採茯苓，餌而食之；《史記》褚先生云：《傳》曰：下有伏靈，上有菟絲，所謂伏靈者，在菟絲之下，狀似飛鳥之形，伏靈者，千歲松根也，食之不死，《淮南子·說林訓》云：茯苓掘，菟絲死。舊作茯，非。</p>

<h3>榆皮</h3>
<p>味甘，平。主大小便不通，利水道，除邪氣。久服，輕身、不飢。其實尤良。一名零榆。生山谷。</p>
<p>《名醫》曰：生潁川，三月採皮，取白，曝乾；八月採實。</p>
<p>案：《說文》云：榆，白枌榆也。《廣雅》云：柘榆，梗榆也。《爾雅》云：榆，白枌。郭璞云：枌榆，先生葉，卻著莢，皮色白。又樞荎，郭璞云：今云刺榆。《毛詩》云：東門之枌；《傳》云：枌，白榆也。又山有藲，《傳》云：樞，荎也。陸璣云：其針刺如柘，其葉如榆，渝為茹，美滑如白榆之類，有十種，葉皆相似，皮及木理異矣。</p>

<h3>酸棗</h3>
<p>味酸，平。主心腹寒熱，邪結氣聚，四肢痠疼，濕痹。久服，安五臟，輕身、延年。生川澤。</p>
<p>《名醫》曰：生河東，八月採實，陰乾，四十日成。</p>
<p>案：《說文》云：樲，酸棗也。《爾雅》云：樲，酸棗。郭璞云：味小實酢。孟子云：養其樲棘。趙岐云：樲棘，小棘，所謂酸棗是也。</p>

<h3>蘖木</h3>
<p>味苦，寒。主五臟、腸胃中結熱，黃疸，腸痔，止泄利，女子漏下赤白，陰陽蝕創，一名檀桓。生山谷。</p>
<p>《名醫》曰：生漢中及永昌。</p>
<p>案：《說文》云：檗，黃木也，蘖木也。《司馬相如賦》有蘖。張揖云：檗木，可染者，顏師古云：蘖，黃薜也。</p>

<h3>乾漆</h3>
<p>味辛，溫，無毒。主絕傷，補中，續筋骨，填髓腦，安五臟，五緩六急，風寒濕痹。生漆，去長蟲。久服，輕身、耐老。生川穀。</p>
<p>《名醫》曰：生漢中，夏至後採，干之。</p>
<p>案：《說文》云：桼，木汁，可以䰍物。象形。桼如水滴而下，以漆為漆水字。《周禮》載師云：漆林之徵。鄭元云：故書漆林為桼林。杜子春云：當為漆林。</p>

<h3>五加皮</h3>
<p>孕辛，溫。主心腹疝氣，腹痛，益氣療躄，小兒不能行，疸創陰蝕。一名豺漆。</p>
<p>《名醫》曰：一名豺節，生漢中及冤句。五月、十月採莖，十月採根，陰乾。</p>
<p>案：《大觀本草》引東華真人《煮石經》云：舜常登蒼梧山。曰：厥金玉之香草，朕用偃息正道，此乃五加皮。魯定公母單服五加酒，以致不死。</p>

<h3>蔓荊實</h3>
<p>味苦，微寒。主筋骨間寒熱痹、拘攣，明目堅齒，利九竅，去白蟲。久服，輕身、耐老，小荊實亦等。生山谷。</p>
<p>《名醫》曰：生河間、南陽、冤句，或平壽都鄉高岸上，及田野中。八月、九月採實，陰乾。</p>
<p>案：《廣雅》云：牡荊，蔓荊也；《廣志》云：楚荊也。牡荊，蔓荊也。據牡、曼，聲相近，故《本經》於蔓荊，不載所出州土，以其見牡荊也。今或別為二條，非。</p>

<h3>辛夷</h3>
<p>味辛，溫。主五臟身體寒風，頭腦痛，面皯。久服下氣、輕身、明目、增年、耐老。一名辛矧（《御覽》作引），一名侯桃，一名房木。生川穀。</p>
<p>《名醫》曰：九月採實，曝乾。</p>
<p>案：《漢書·楊雄賦》云：列新雉於林薄。師古云：新雉，即辛夷耳，為樹甚大，其木枝葉皆芳，一名新矧。《史記·司馬相如傳》：雜以流夷。注《漢書音義》曰：流夷，新夷也。陶弘景雲：小時氣辛香，即《離騷》所呼辛夷者。陳藏筆器云：初發如筆，北人呼為木筆，其花最早，南人呼為迎春。按：唐人名為玉蕊，又曰玉蘭。</p>

<h3>桑上寄生</h3>
<p>味苦，平。主腰痛，小兒背強，癰腫，安胎，充肌膚，堅發齒，長鬚眉。其實，明目、輕身、通神。一名寄屑，一名寓木，一名宛童。生川穀。</p>
<p>《名醫》曰：一名蔦。生宏農桑樹上。三月三日，採莖，陰乾。</p>
<p>案：《說文》云：蔦，寄生也。《詩》曰：蔦與女蘿，或作⿰暴頁。《廣雅》云：宛童，寄生也。寄生⿰暴頁也又寄屏，寄生也。《中山經》云：龍山上多寓木。郭璞云：寄生也。《爾雅》云：寓木宛童。郭璞云：寄生樹，一名蔦。《毛詩》云：蔦與女蘿。《傳》云：蔦，寄生山也；陸璣云：蔦，一名寄生。葉似當盧，子如覆盆子，赤黑甜美。</p>

<h3>杜仲</h3>
<p>味辛，平。主腰脊痛，補中，益精氣，堅筋骨，強志，除陰下癢濕，小便餘瀝。久服，輕身、耐老。一名思仙。生山谷。</p>
<p>《吳普》曰：杜仲，一名木綿，一名思仲（《御覽》）。</p>
<p>《名醫》曰：一名思腫，一名木綿。生上虞及上黨、漢中，二月、五月、六月、九月採皮。</p>
<p>案：《廣雅》云：杜仲，曼榆也。《博物志》云：杜仲，皮中有絲，折之則見。</p>

<h3>女貞實</h3>
<p>味苦，平。主補中，安五臟，養精神，除百疾。久服，肥健、輕身、不老。生山谷。</p>
<p>《名醫》曰：生武陵，立冬採。</p>
<p>案：《說文》云：楨，剛木也。《東山經》云：太山上多楨木。郭璞云：女楨也，葉冬不凋。《毛詩》云：南山有杞。陸璣云：木杞，其樹如樗（陳藏器作慄），一名狗骨，理白滑，其子為木虻子，可合藥，《司馬相如賦》有女貞。師古曰：女貞樹，冬夏常青，未嘗凋落，苦有節操，故以名為焉。陳藏器云：冬青也。</p>

<h3>木蘭</h3>
<p>味苦，寒。主身大熱在皮膚中，去面熱、赤皰、酒皶，惡風瘨疾，陰下癢濕。明耳目。一名林蘭。生川穀。</p>
<p>《名醫》曰：一名杜蘭，皮似桂而香。生零陵及太山。十二月採皮，陰乾。</p>
<p>案：《廣雅》云：木欄，桂欄也。劉逵注《蜀都賦》云：木蘭，大樹也，葉似長生，冬夏榮，常以冬花。其實如小柿，甘美。南人以為梅，其皮可食。顏師古注《漢書》云：皮似椒而香，可作面膏藥。</p>

<h3>蕤核</h3>
<p>味甘，溫，主心腹邪氣，明目，目赤痛傷淚出。久服，輕身、益氣、不飢。生川穀。</p>
<p>《吳普》曰：蕤核，一名𦳚。神農、雷公：甘，平，無毒。生池澤。八月採。補中，強志，明目，久服不飢（《御覽》）。</p>
<p>《名醫》曰：生函谷及巴西。</p>
<p>案：《說文》云：桵，白桵，棫。《爾雅》云：棫，白妥。郭璞云：桵，小木，叢生有刺，實如耳璫，紫赤可啖。《一切經音義》云：本草作蕤，今桵核是也。</p>

<h3>橘柚</h3>
<p>味辛，溫。主胸中瘕熱逆氣，利水穀。久服，去臭、下氣、通神。一名橘皮。生川穀（舊在果部，非）。</p>
<p>《名醫》曰：生南山、江南。十月採。</p>
<p>案：《說文》云：橘果，出江南，柚條也，似橙而酢。《爾雅》云：柚條。郭璞云：似橙實酢，生江南。禹貢云：厥包，橘柚。偽孔云：大曰橘，小曰柚。《列子·湯問篇》云：吳楚之國有木焉，其名為柚，碧樹而冬生，實丹而味酸，食其皮汁，已憤厥之疾。《司馬相如賦》有橘柚，張揖曰：柚，即橙也，似橘而大，味酢皮厚。</p>
<p>上木，上品二十種，舊一十九種。考果部，橘柚當入此。</p>

<h3>發髲</h3>
<p>味苦，溫。主五癃，關格不通，利小便水道，療小兒癇、大人痙，仍自還神化。</p>
<p>案：《說文》云：髮根也，髲鬄也，鬄髲也，或作髢。《毛詩》云：不屑，髢也，《箋》云：髢，髲也。《儀禮》云：主婦被錫，注云被錫，讀為髲鬄，古者或剔賤者、刑者之發，以被婦人之紒為飾，因名髲鬄焉。李當之云：是童男發。據漢人說：發髲，當是剃荊人發，或童男發。《本經》不忍取人發用之，故用剃余也。方家至用天靈蓋害及枯骨，卒不能治病。古人所無矣。</p>
<p>上人，一種，舊同。</p>

<h3>龍骨</h3>
<p>味甘，平。主心腹鬼注，精物老魁，咳逆，泄利膿血，女子漏下癥瘕堅結，小兒熱氣驚癇。齒：主小兒、大人驚癇瘨疾狂走，心下結氣，不能喘息，諸痙，殺精物。久服，輕身、通神明、延年。生山谷。</p>
<p>《吳普》曰：龍骨，生晉地山谷陰大水所過處，是龍死骨也。青白者，善。十二月採，或無時。龍骨，畏乾漆、蜀椒、理石。龍齒，神農、李氏：大寒，治驚癇，久服，輕身（《御覽》、《大觀本》節文）。</p>
<p>《名醫》曰：生晉地及太山、岩水岸上穴中死龍處，採無時。</p>
<p>案：《範子計然》云：龍骨，生河東。</p>

<h3>麝香</h3>
<p>味辛，溫。主辟惡氣，殺鬼精物，溫瘧，蠱毒，癇痙，去三蟲。久服除邪，不夢寤厭寐。生川穀。</p>
<p>《名醫》曰：生中臺及益州、雍州山中，春分取之。生者益良。</p>
<p>案：《說文》云：麝，如小麋，臍有香，黑色獐也（《御覽》引多三字）。《爾雅》云：麝父麇足。郭璞云：腳似麇，有香。</p>

<h3>牛黃</h3>
<p>味苦，平。主驚癇，寒熱熱盛狂痙，除邪逐鬼。生平澤。</p>
<p>《吳普》曰：牛黃，味苦，無毒。牛出入呻（《御覽》作鳴吼）者，有之。夜有光（《御覽》作夜視有光），走（《御覽》有牛字）角中；牛死，入膽中，如雞子黃（《後漢書》延篤傳注）。</p>
<p>《名醫》曰：生晉地。於牛得之，即陰乾百日，使時躁，無令見日月光。</p>

<h3>熊脂</h3>
<p>味甘，微寒。主風痹不仁，筋急，五臟腹中積聚，寒熱羸瘦，頭瘍白禿，面皯皰。久服，強志、不飢、輕身。生山谷。</p>
<p>《名醫》曰：生雍州，十一月取。</p>
<p>案：《說文》云：熊獸似豕，山居，冬蟄。</p>

<h3>白膠</h3>
<p>味甘，平。主傷中勞絕，腰痛，羸瘦，補中益氣，女人血閉無子，止痛、安胎。久服，輕身、延年。一名鹿角膠。</p>
<p>《名醫》曰：生雲中，煮鹿角作之。</p>
<p>案：《說文》云：膠，暱也，作之以皮。《考工記》云：鹿膠青白，牛膠火赤。鄭云：皆謂煮，用其皮，或用角。</p>

<h3>阿膠</h3>
<p>味甘，平。主心腹內崩，勞極，洒洒如瘧狀，腰腹痛，四肢痠疼，女子下血，安胎。久服，輕身、益氣，一名傅致膠。</p>
<p>《名醫》曰：生平東郡，煮牛皮作之。出東阿。</p>
<p>案：二膠，《本經》不著所出，疑《本經》但作膠，《名醫》增白字、阿字，分為二條。</p>
<p>上獸，上品六種。舊同。</p>

<h3>丹雄雞</h3>
<p>味甘，微溫。主女人崩中漏下，赤白沃，補虛溫中，止血，通神，殺毒，闢不祥。頭：主殺鬼，東門上者尤良，肪：主耳聾。腸：主遺溺。肶胵裹黃皮：主泄利。尿白：主消渴，傷寒寒熱。黑雌雞：主風寒濕痹，五緩六急，安胎。翮羽：主下血閉。雞子：主除熱，火瘡癇痙，可作虎魄神物。雞白蠹：肥脂。生平澤。</p>
<p>《吳普》曰：丹雞卵，可作琥珀（《御覽》）。</p>
<p>《名醫》曰：生朝鮮。</p>
<p>案：《說文》云：雞，知時畜也。籀文作雞。肪，肥也。腸，大小腸也。肶，鳥胵；胵，鳥胃也。𮏗，糞也。羽莖也。翮羽，鳥長毛也。此作肶，省文。尿即⿸尸⿱公水字古文，從，亦𮏗假音字也。</p>

<h3>雁肪</h3>
<p>味甘，平。主風攣拘急，偏枯，氣不通利。久服，益氣、不飢、輕身、耐老。一名鶩肪。生池澤。</p>
<p>《吳普》曰：雁肪，神農、岐伯、雷公：甘，無毒（《御覽》有鶩肪二字，當作一名鶩肪）。殺諸石藥毒（《御覽》引云：採無時）。</p>
<p>《名醫》曰：生江南，取無時。</p>
<p>案：《說文》云：雁，鵝也。鶩，舒鳧也。《廣雅》云：𪀉鵝，倉𪀉雁也。鳧鶩，鴨也。《爾雅》云：舒雁，鵝。郭璞云：《禮記》曰：出如舒雁，今江東呼𪀉。又舒鳧。鶩，郭璞云：鴨也。《方言》云：雁自關而東，謂之𪀉鵝；南楚之外，謂之鵝，或謂之倉𪀉。據《說文》云：別有雁，以為鴻雁字，鴨字，鴨，即雁之急音，此雁肪，即鵝、鴨脂也。當作雁字。《名醫》不曉，別出鶩肪條，又出白鴨、鵝條，反疑此為鴻雁，何其謬也。陶、蘇皆亂說之。</p>
<p>上禽，上品二種，舊同。</p>

<h3>石蜜</h3>
<p>味甘，平。主心腹邪氣，諸驚痙癇，安五臟，諸不足，益氣補中，止痛解毒，除眾病，和百藥。久服，強志、輕身、不飢、不老。一名石飴。生山谷。</p>
<p>《吳普》曰：石蜜，神農、雷公：甘，氣平。生河源或河梁（《御覽》又一引云：生武都山谷）。</p>
<p>《名醫》曰：生武都河源及諸山石中。色白如膏者，良。</p>
<p>案：《說文》云：蜜蜂。甘飴也。一曰螟子，或作蜜。《中山經》云：平逢之山多沙石，實惟蜂蜜之廬。郭璞云：蜜，赤蜂名。《西京雜記》云：南越王獻高帝石蜜五斛。《玉篇》云：蠅螽，甘飴也。蘇恭云：當去石字。</p>

<h3>蜂子</h3>
<p>味甘，平。主風頭，除蠱毒，補虛羸傷中。久服，令人光澤、好顏色，不老，大黃蜂子：主心腹復滿痛，輕身益氣。土蜂子：主癰腫。一名蜚零。生山谷。</p>
<p>《名醫》曰：生武都。</p>
<p>案：《說文》云：蜂，飛蟲螫人者。古文省作螽。《廣雅》云：蠓螉，蜂也。又土蜂，蠮螉也。《爾雅》云：土蜂，郭璞云：今江南大蜂。在地中作房者，為土蜂；啖其子，即馬蜂，今荊巴間呼為蟺。又木蜂，郭璞云：似土蜂而小，在樹上作房，江東亦呼為木蜂，又食其子。《禮記·檀弓》云：範，則冠。鄭云：範，蜂也。《方言》云：蜂，燕趙之間，謂之蠮螉，其小者，謂之蠮螉，或謂之蚴蛻；其大而蜜，謂之壺蜂。郭璞云：今黑蜂，穿竹木作孔，亦有蜜者，或呼笛師。按：蜂，名為範者，聲相近，若《司馬相如賦》以泛為楓。《左傳》渢渢即汛汛也。</p>

<h3>蜜蠟</h3>
<p>味甘，微溫。主下利膿血，補中，續絕傷金創。益氣、不飢、耐老。生山谷。</p>
<p>《名醫》曰：生武都蜜房木石間。</p>
<p>案：《西京雜記》云：南越王獻高帝蜜蠟二百枚。《玉篇》云：蠟，蜜滓。陶弘景雲：白蠟生於蜜中，故謂蜜蠟。《說文》無蠟字。張有云：臘，別蠟，非。舊作蠟，今據改。</p>

<h3>牡蠣</h3>
<p>味鹹，平。主傷寒寒熱，溫瘧洒洒，驚恚怒氣，除拘緩鼠瘻，女子帶下赤白。久服，強骨節、殺邪氣、延年。一名蠣蛤。生池澤。</p>
<p>《名醫》曰：一名牡蛤。生東海。採無時。</p>
<p>案：《說文》云：蠆，蚌屬，似螊，微大，出海中，今民食之。讀苦賴。又云：蜃屬，有三，皆生於海。蛤蠣，千歲雀所化，秦謂之牡蠣。</p>

<h3>龜甲</h3>
<p>味鹹，平。主漏下赤白，破癥瘕、痎瘧，五痔、陰蝕，濕痹，四肢重弱，小兒囟不合。久服，輕身、不飢。一名神屋。生池澤。</p>
<p>《名醫》曰：生南海及湖水中。採無時。</p>
<p>案：《廣雅》云：介，龜也。高誘注《淮南》云：龜殼，龜甲也。</p>

<h3>桑螵蛸</h3>
<p>味鹹，平。主傷中，疝瘕，陰痿，益精生子，女子血閉腰痛，通五淋，利小便水道。一名蝕疣。生桑枝上。採，蒸之。</p>
<p>《吳普》曰：桑蛸條，一名（今本脫此二字）蝕疣，一名害焦，一名致。神農：咸，無毒（《御覽》）。</p>
<p>《名醫》曰：螳螂子也。二月、三月採，火炙。</p>
<p>案：《說文》云：蜱，蜱蛸也。或作蜱蛸。蟲蛸，螳螂子。《廣雅》云：䗚蟭，烏，涕冒焦，螵蛸也。《爾雅》云：不過螳蠰，其子蜱蛸。郭璞云：一名䗚焦，螳蠰卵也。《範子計然》云：螵蛸，出三輔，上價三百。舊作螵，聲相近，字之誤也。《玉篇》云：蜱，同螵。</p>

<h3>海蛤</h3>
<p>味苦，平。主咳逆上氣，喘息煩滿，胸痛寒熱。一名魁蛤。</p>
<p>《吳普》曰：海蛤，神農：甘，岐伯：甘；扁鵲：咸。大節頭有文，文如磨齒，採無時。</p>
<p>《名醫》曰：生南海。</p>
<p>案：《說文》云：蛤，蜃屬。海蛤者，百歲燕所化；魁蛤，一名復累，老服翼所化。《爾雅》云：魁陸。郭璞云：《本草》云：魁，狀如海蛤，圓而厚朴，有理縱橫，即今之蚶也。《周禮》鱉人供𧓎。鄭司農云：𧓎，蛤也。杜子春云：𧓎，蜯也。《周書》王會云：東越海蛤。孔晃云：蛤，文蛤。按：《名醫》別出海蛤條，云一名魁陸，一名活東，非。</p>

<h3>文蛤</h3>
<p>主惡瘡，蝕（《御覽》作除陰蝕）五痔（《御覽》下有大孔出血。《大觀》本作黑字）。</p>
<p>《名醫》曰：生東海，表有文，採無時。</p>
<p>蠡魚（《初學記》引作鱧魚）　味苦，寒。主濕痹，面目浮腫，下大水，一名鮦魚。生池澤。</p>
<p>案：《說文》云：䔡，鮦也。鮦，䔡也。讀若褲櫳絝襱。《廣雅》云：鱺，鱺鮦也。《爾雅》云：鱧。郭璞注鮦也。《毛詩》云：魴鱧。《傳》云：鱧鮦也。據《說文》云：鱧，鱯也，與䔡不同。而毛萇、郭璞以鯛釋鱧，與許不合。然《初學記》引此亦作鱧，蓋二字音同，以致訛舛，不可得祥。《廣雅》又作鱺，亦間譌。又《廣志》云：豚魚，一名鮦（《御覽》），更異解也。又陸璣云：鱧，即鮑魚也。似鱧，狹厚。今京東人猶呼鱧魚。又《本草衍義》曰：蠡魚，今人謂之黑鯉魚，道家以為頭有星為厭。據此諸說，若作鯉字，《說文》所云鮦，《廣志》以為江豚，《本草衍義》以為黑鯉魚；若作鯉字，《說文》以為鱯，《廣雅》以為鰻鱺，陸璣以為鮑魚，說各不同，難以詳究。</p>

<h3>鯉魚膽</h3>
<p>味苦，寒。主目熱赤痛青盲，明目。久服，強悍、益志氣志氣。生池澤。</p>
<p>《名醫》曰：生九江，採無時。</p>
<p>案：《說文》云：鯉，鱣也；鱣，鯉也。《爾雅》云：鯉鱣。舍人云：鯉，一名鱣。郭璞注鯉云：今赤鯉魚。注鱣云：大魚似鱘。《毛詩》云：鱣鮪發發。《傳》云：鱣，鯉也。據此，知郭璞別為二，非矣。《古今注》云：兗州人呼赤鯉為赤驥，謂青鯉為青馬，黑鯉為元駒，白鯉為白騏，黃鯉為黃雉。</p>
<p>上蟲、魚。上品一十種，舊同。</p>

<h3>藕實莖</h3>
<p>味甘，平。主補中養神，益氣力，除百疾。久服，輕身、耐老、不飢、延年。一名水芝丹。生池澤。</p>
<p>《名醫》曰：一名蓮。生汝南。八月採。</p>
<p>案：《說文》云：藕，夫渠根；蓮，夫渠之實也；茄，夫渠莖。《爾雅》云：荷，芙渠。郭璞云：別名芙蓉，江東呼荷；又其莖茄；其實蓮。郭璞云：蓮，謂房也，又其根，藕。</p>

<h3>大棗</h3>
<p>味甘，平。主心腹邪氣，安中養脾，肋十二經，平胃氣，通九竅，補少氣、少津液、身中不足，大驚，四肢重，和百藥。久服，輕身、長年。葉覆麻黃，能令出汗。生平澤。</p>
<p>《吳普》曰：棗主調中，益脾氣，令人好顏色，美志氣（《大觀本草》引《吳氏本草》）。</p>
<p>《名醫》曰：一名干棗，一名美棗，一名良棗。八月採，曝乾。生河東。</p>
<p>案：《說文》云：棗，羊棗也。《爾雅》云：遵羊棗。郭璞云：實小而圓，紫黑色，今俗呼之為羊矢棗。又洗大棗。郭璞云：今河東猗氏縣出大棗也，如雞卵。</p>

<h3>葡萄</h3>
<p>味甘，平。主筋骨濕痹，益氣、倍力、強志，令人肥健、耐飢、忍風寒。久食，輕身、不老、延年。可作酒。生山谷。</p>
<p>《名醫》曰：生隴西五原敦煌。</p>
<p>案：《史紀·大宛列傳》云：大宛左右，以葡萄為酒，漢使取其實來，於是天子始種苜蓿、葡萄，肥饒也，或疑《本經》不合有葡萄，《名醫》所增，當為黑字。然《周禮》場人云：樹之果蓏，珍異之物。鄭玄雲：珍異，葡萄、枇杷之屬，則古中國本有此，大宛種類殊常，故漢特取來植之。舊作葡，據《史記》作蒲。</p>

<h3>蓬藟</h3>
<p>味酸，平。主安五臟，益精氣，長陰令堅，強志倍力，有子。久服，輕身、不老一名覆盆。生平澤。</p>
<p>《吳普》曰：蒛盆，一名決盆（《御覽》）。《甄氏本草》曰：覆盆子，一名馬瘻，一名陸荊（同上）。</p>
<p>《名醫》曰：一名陵藟，一名陰藥。生荊山及冤句。</p>
<p>案：《說文》云：虆，木也；茥，缺盆也。《廣雅》云：蒛盆，陸英，莓也。《爾雅》云：茥，蒛盆。郭璞云：覆盆也，實似莓而小，亦可食。《毛詩》云：葛苗苗之。陸璣云：一名巨瓜，似燕薁，亦連蔓，葉似艾，白色，其子赤，可食。《列仙傳》云：昌容食蓬藟根。李當之云：即是人所食莓。陶弘景雲：蓬藟，是根名；覆盆，是實名。</p>

<h3>雞頭實</h3>
<p>味苦，平。主濕痹，腰脊膝痛，補中，除暴疾，益精氣，強志，令耳目聰明。久服，輕身、不飢、耐老、神仙。一名雁啄實。生池澤。</p>
<p>《名醫》曰：一名芡，生雷澤。八月採。</p>
<p>案：《說文》云：芡，雞頭也。《廣雅》云：䓈芡，雞頭也。《周禮》籩人：加籩之實，芡。鄭元云：芡，雞頭也。《方言》云：䓈芡，雞頭也，北燕謂之䓈；青徐淮泗之間謂之芡；南楚江湘之間謂之雞頭，或謂之雁頭，或謂之烏頭。《淮南子·說山訓》云：雞頭，已瘻。高誘云：水中芡，幽州謂之雁頭。《古今注》云：葉似荷而大，葉上蹙縐如沸，實有芒刺，其中有米，可以度飢，即今蔦子也。</p>
<p>上果，上品五種。舊六種，今以橘、柚入木。</p>

<h3>胡麻</h3>
<p>味甘，平。主傷中虛羸，補五內（《御覽》作臟），益氣力，長肌肉，填髓腦。久服，輕身、不老。一名巨勝。葉，名青蘘。生川澤。</p>
<p>《吳普》曰：胡麻，一名方金。神農、雷公：甘，無毒。一名狗蝨，立秋採。</p>
<p>《名醫》曰：一名狗蝨，一名方莖，一名鴻藏。生上黨。</p>
<p>案：《廣雅》云：狗蝨，巨勝，藤苰，胡麻也。《孝經·援神契》云：鉕勝延年。宋均云：世以鉕勝為苟杞子。陶弘景雲：本生大宛，故曰胡麻。按：《本經》已有此，陶說非也。且與麻賁並列，胡之言大，或以葉大於麻。故名之。</p>

<h3>麻賁</h3>
<p>味辛，平。主五勞七傷，利五臟，下血，寒氣。多食，令人見鬼狂走。久服，通神明、輕身。一名麻勃。麻子：味甘，平。主補中益氣，肥健、不老、神仙。生川穀。</p>
<p>《吳普》曰：麻子中仁，神農、岐伯：辛；雷公、扁鵲：無毒。不欲牡蠣、白薇。先藏地中者，食，殺人。麻藍，一名麻賁，一名青欲，一名青葛。神農：辛；岐伯：有毒；雷公：甘。畏牡蠣、白薇。葉上有毒，食之殺人。麻勃，一名花。雷公：辛，無毒。畏牡蠣（《御覽》）。</p>
<p>《名醫》曰：麻勃，此麻花上勃勃者。七月七日採，良。子，九月採。生太山。</p>
<p>案：《說文》云：麻與秫同，人所治在屋下，枲麻也，萉枲實也，或作黂，荸，麻母也。𦯸，𧐖也，以賁為雜襍香草。《爾雅》云：黂，枲實，枲麻。孫炎云：黂，麻子也。郭璞云：別二名。又𧐖，麻母，郭璞云：苴，麻盛子者。《周禮》籩朝事之籩，其實麷。鄭云：黂，枲實也。鄭司農云：麻實曰黂。《淮南子·齊俗訓》云：胡人見黂，不知其可以為布。高誘云：黂，麻實也。據此則弘景以為牡麻無實，非也。《唐本》以為麻實，是。</p>
<p>上米、谷，上品二種。舊三種。今以青蘘入草。</p>

<h3>冬葵子</h3>
<p>味甘，寒。主五臟六腑寒熱、羸瘦、五癃，利小便。久服，堅骨、長肌肉、輕身、延年。</p>
<p>《名醫》曰：生少室山。十二月採之。</p>
<p>案：《說文》云：薖，古文終，葵菜也。《廣雅》云：蘬，葵也。考薖與終形相近，當即《爾雅》蔠葵。《爾雅》云：蔠葵，繁露。郭璞云：承露也，大莖小葉，花紫黃色。《本草圖經》云：吳人呼為繁露，俗呼胡燕支，子可婦人塗面及作口脂。按：《名醫》別有落葵條，一名繁露，亦非也。陶弘景以為終冬至春作子，謂之冬葵，不經甚矣。</p>

<h3>莧實</h3>
<p>味甘，寒。主青盲，明目，除邪，利大小便，去寒熱。久服，益氣力、不飢、輕身。一名馬莧。</p>
<p>《名醫》曰：一名莫實。生淮陽及田中，葉如藍。十一月採。</p>
<p>案：《說文》云：莧，莧菜也。《爾雅》云：蕢，赤莧。郭璞云：今莧葉之赤莖者。李當之云：莧實，當是今白莧。《唐本注》云：赤莧，一名𧂠，今名莫實，字誤。</p>

<h3>瓜蒂</h3>
<p>味苦，寒。主大水身面四肢浮腫，下水，殺蠱毒，咳逆上氣，及食諸果，病在胸腹中，皆吐下之。生平澤。</p>
<p>《名醫》曰：生蒿高。七月七日採，陰乾。</p>
<p>案：《說文》云：瓜，㼌也，象形；蒂，瓜當也。《廣雅》云：水芝，瓜也。陶弘景雲：甜瓜蒂也。</p>

<h3>瓜子</h3>
<p>味甘，平。主令人閱澤，好顏色，益氣不飢。久服，輕身、耐老。一名水芝（《御覽》作土芝）。生平澤。</p>
<p>《吳普》曰：瓜子，一名瓣。七月七日採，可作面脂（《御覽》）。</p>
<p>《名醫》曰：一名白瓜子。生蒿高。冬瓜仁也，八月採。</p>
<p>案：《說文》云：瓣，瓜中實。《廣雅》云：冬瓜𦶍也，其子謂之瓤。陶弘景雲：白，當為甘，舊有白字。據《名醫》云：列中白瓜子，則本名當無。</p>

<h3>苦菜</h3>
<p>味苦，寒。主五臟邪氣，厭谷，胃痹。久服，安心益氣，聰察少臥，輕身、耐老。一名荼草，一名選。生川穀。</p>
<p>《名醫》曰：一名遊冬。生益州山陵道旁，凌冬不死。三月三日採，陰乾。</p>
<p>案：《說文》云：荼，苦菜也。《廣雅》云：遊冬，苦菜也。《爾雅》云：荼，苦菜；又檟，苦荼。郭璞云：樹小如梔子，冬生葉，可煮作羹，今呼早萊者為荼，晚取者為茗，一名荈，蜀人名之苦菜。陶弘景雲：此即是今茗，茗，一名荼，又令人不眠，亦凌冬不凋而兼其止。生益州。《唐本》注駁之，非矣。選與荈，音相近。</p>
<p>上菜，上品五種。舊同。</p>

<h1>卷二</h1>

<h2>中經</h2>
<p>中藥一百二十種為臣，主養性以應人。無毒、有毒，斟酌其宜。欲遏病補羸者，本中經。</p>
<p>雄黃、石流黃、雌黃、水銀、石膏、磁石、凝水石、陽起石、孔公孽、殷孽、鐵精、理石、長石、膚青　（上玉、石，中品十四種。舊十六種）　乾薑　枲耳實　葛根　栝蔞根　苦參　當歸　麻黃　通草　芍藥　蠡實　瞿麥　元參　秦艽　百合　知母　貝母　白芷　淫羊藿　黃芩　狗脊　石龍芮　茅根　紫菀　紫草　敗醬　白蘚　酸醬　紫參　藁本　石葦　萆薢　白薇　水萍　王瓜　地榆　海藻　澤蘭　防己　款冬花　牡丹　馬先蒿　積雪草　女菀　王孫　蜀羊泉　爵床　假蘇　翹根（上草，中品四十九種。舊四十六種）　桑根白皮　竹葉　吳茱萸　梔子　蕪萸　枳實　厚朴　秦皮　秦菽　山茱萸　紫薇　豬苓　白棘　龍眼　松蘿　衛矛　合歡　（上木，中品一十七種。舊同）　馬莖　鹿茸　牛角腮　羖羊角　牡狗陰莖　羚羊角　犀角　（上獸，中品七種。舊同）　燕尿　天鼠尿　（上禽，中品二種。舊三種）　猥皮　露蜂房　鱉甲　蟹　作蟬　蠐螬　烏賊魚骨　白殭蠶　蛇魚甲　椿雞　活蝓　石龍子　木虻　蜚虻　蜚廉　䗪蟲　伏翼（上蟲、魚，中品一十七種。舊十六種）　梅實（上果，中品一種。舊同）　大豆黃卷　赤小豆　粟米　黍米（上米、谷，中品三種。舊二種）　蓼實　蔥實　薤　水蘇（上菜，中品三種，舊同）</p>

<h3>雄黃</h3>
<p>味苦，平、寒。主寒熱，鼠瘻惡創，疽痔死肌，殺精物、惡鬼、邪氣、百蟲毒，勝五兵。煉食之，輕身、神仙。一名黃食石。生山谷。</p>
<p>《吳普》曰：雄黃，神農：苦。山陰有丹雄黃，生山之陽，故曰雄，是丹之雄，所以名雄黃也。</p>
<p>《名醫》曰：生武都敦煌之陽。採無時。</p>
<p>案：《西山經》云：高山其下多雄黃。郭璞云：晉太興三年，高平郡界有山崩，其中出數千斤雄黃。《抱朴子·仙藥篇》云：雄黃，當得武都山所出者，純而無雜，其赤如雞冠，光明曄曄，可用耳；其但純黃似雄黃，色無赤光者，不任以作仙藥，可以合理病藥耳。</p>

<h3>石流黃</h3>
<p>（流，舊作硫。《御覽》引作流，是）　</p>
<p>味酸，溫。主婦人陰蝕，癰痔惡血，堅筋骨，除頭禿，能化金銀銅鐵奇物（《御覽》引云：石流青，白色，主益肝氣明目；石流赤，生羌道山谷）。生山谷。</p>
<p>《吳普》曰：硫黃，一名石留黃。神農、黃帝、雷公：咸，有毒；醫和、扁鵲：苦，無毒。或生易陽，或河西。或五色，黃，是潘水石液也（潘，即礬古字），燒令有紫焰者，八月、九月採，治婦人血結（《御覽》云：治婦人絕陰，能合金銀銅鐵）。</p>
<p>《名醫》曰：生東海牧羊山，及太山河西山。礬石液也。</p>
<p>案：《範子計然》：石流黃，出漢中。又云：劉馮餌石流黃而更少。劉逵注《吳都賦》云：流黃，土精也。</p>

<h3>雌黃</h3>
<p>味辛，平。主惡創頭禿痂疥，殺毒蟲蝨，身癢，邪氣、諸毒。煉之。久服，輕身、增年、不老。生山谷。</p>
<p>吳普曰：磁石，一名磁君。</p>
<p>《名醫》曰：生武都，與雄黃同山生。其陰山有金，金精熏，則生雌黃。採無時。</p>

<h3>水銀</h3>
<p>味辛，寒。主疥瘻痂瘍、白禿，殺皮膚中蝨，墮胎，除熱，殺金、銀、銅、錫毒。熔化還復為丹，久服，神仙、之死。生平土。</p>
<p>《名醫》曰：一名汞。生符陵，出於丹砂。</p>
<p>案：《說文》云：澒，丹沙所作為水銀也。《廣雅》云：水銀謂之汞。《淮南子·地形訓》云：白澒，九百歲，生白澒；白礜，九百歲，生白金。高誘云：白澒，水銀也。</p>

<h3>石膏</h3>
<p>味辛，微寒。主中風寒熱，心下逆氣驚喘，口乾苦焦，不能息，腹中堅痛，除邪鬼，產乳，金創。生山谷。</p>
<p>《名醫》曰：一名細石。生齊山及齊盧山、魯蒙山。採無時。</p>

<h3>磁石</h3>
<p>味辛，寒。主周痹風濕，肢節中痛，不可持物，洗洗酸消，除大熱煩滿及耳聾。一名元石，生山谷。</p>
<p>《吳普》曰：磁石，一名磁君。</p>
<p>《名醫》曰：一名處石。生太山及慈山山陰；有鐵處，則生其陽。採無時。</p>
<p>案：《北山經》云：灌題之山，其中多磁石。郭璞云：可以取鐵。《管子·地數篇》云：山上有磁石者，下必有銅。《呂氏春秋·精通篇》云：磁石召鐵。《淮南子·訓》云：磁石能引鐵。只作慈，舊作磁，非。《名醫》別出元石條，亦非。</p>

<h3>凝水石</h3>
<p>味辛，寒。主身熱，腹中積聚、邪氣，皮中如火燒，煩滿。水飲之，久服，不飢。一名白水石。生山谷。</p>
<p>《吳普》曰：神農：辛；岐伯、醫和、扁鵲：甘，無毒；李氏：大寒。或生邯鄲。採無時。如雲母色（《御覽》引云：一名寒水石）。</p>
<p>《名醫》曰：一名寒水石，一名淩水石，鹽之精也。生常案及凝山，又中水縣邯鄲。《範子計然》云：水石，出河東。色澤者，善。</p>

<h3>陽起石</h3>
<p>味鹹，微溫。主崩中漏下，破子藏中血，癥瘕結氣，寒熱腹痛，無子，陰痿不起（《御覽》引作陰陽不合），補不足（《御覽》引有句攣二字）。一名白石。生山谷。</p>
<p>《吳普》曰：陽起石，神農、扁鵲：酸，無毒；桐君、雷公、岐後：咸，無毒；李氏：小寒，或生太山（《御覽》引云：或陽起云。採無時）。</p>
<p>《名醫》曰：一名石生，一名羊起石，雲母根也，生齊山及琅邪，或云山、陽起山、採無時。</p>

<h3>孔公孽</h3>
<p>味辛，溫。主傷食不化，邪結氣，惡創，疽瘻琅邪，利九竅，下乳汁（《御覽》引云：一名通石。《大觀本》作黑字）。生山谷。</p>
<p>《吳普》曰：孔公孽，神農：辛；岐伯：咸；扁鵲：酸，無毒。色青黃。</p>
<p>《名醫》曰：一名通石，殷孽根也。青黃色。生梁山。</p>

<h3>殷孽</h3>
<p>味辛，溫。主爛傷瘀血，泄利寒熱，鼠寒瘻，癥瘕結氣。一名姜石。生山谷（按：此當與孔公孽為一條）。</p>
<p>《名醫》曰：鍾乳根也。生越國，又梁山及南海，採無時。</p>

<h3>鐵精</h3>
<p>平，主明目，化銅。鐵落：味辛，平。主風熱惡創，瘍疽創痂，疥氣在皮膚中。鐵：主堅肌耐痛。生平澤（舊為三條，今並）。</p>
<p>《名醫》曰：鐵精，一名鐵液。可以染色。生牧羊及祊城或析城。採無時。</p>
<p>案：《說文》云：鐵，黑金也，或省作鐵，古文作銕。</p>

<h3>理石</h3>
<p>味辛，寒。主身熱，利胃解煩，益精明目，破積聚，去三蟲。一名石立制石。生山谷。</p>
<p>《名醫》曰：一名飢石，如石膏，順理而細。生漢中及盧山。採無時。</p>

<h3>長石</h3>
<p>味辛，寒。主身熱，四肢寒厥，利小便，通血脈，明目，去翳眇，下三蟲，殺蠱毒。久服，不飢。一名方石。生山谷。</p>
<p>《吳普》曰：長石，一名方石，一名直石。生長子山谷。如馬齒，潤澤，玉色長鮮。服之，不飢（《御覽》）。</p>
<p>《名醫》曰：一名土石，一名直石。理如馬齒，方而潤澤，玉色。生長子山及太山臨淄，採無時。</p>

<h3>膚青</h3>
<p>味辛，平。主蠱毒及蛇、菜、肉諸毒，惡創。生川穀。</p>
<p>《名醫》曰：一名推青，一名推石，生益州。</p>
<p>案：陶弘景雲：俗方及《仙經》，並無用此者，亦相與不復識。</p>
<p>上玉石，中品一十四種。舊十六種。考鐵落、鐵，宜與鐵精為一。</p>

<h3>乾薑</h3>
<p>味辛，溫。主胸滿咳逆上氣，溫中止血，出汗，逐風濕痹，腸澼，下利。生者，尤良。久服，去臭氣、通神明。生川穀。</p>
<p>《名醫》曰：生楗為及荊、揚州。九月採。</p>
<p>案：《說文》云：姜，御濕之菜也。《廣雅》云：葰，廉姜也。《呂氏春秋·本味篇》云：和之美者，陽樸之姜。高誘注：陽樸，地名，在蜀郡。司馬相如《上林賦》，有茈姜云云。</p>

<h3>枲耳實</h3>
<p>味甘，溫。主風頭寒痛，風濕周痹，四肢拘攣痛，惡肉死肌。久服益氣，耳目聰明，強志輕身。一名胡枲，一名地葵。生川穀。</p>
<p>《名醫》曰：一名葹，一名常思，生安陸及六安田野，實熟時採。</p>
<p>案：《說文》云：䓮，卷耳也；苓，卷耳也。《廣雅》云：苓耳，葹，常枲，胡枲，枲耳也。《爾雅》云：蒼耳，苓耳。郭璞云：江東呼為常枲，形似鼠耳，叢生如盤。《毛詩》云：采采卷耳。《傳》云：卷耳，苓耳也。陸璣云：葉青，白色，似胡荽，白花，細莖蔓生。可煮為茹，滑而少味；四月中生子，正如婦人耳璫，今或謂之耳璫草。鄭康成謂是白鬍荽，幽州人謂之爵耳。《淮南子·覽冥訓》云：位賤尚枲。高誘云：枲者，枲耳，菜名也。幽冀謂之檀菜，雒下謂之胡枲。</p>

<h3>葛根</h3>
<p>味甘，平。主消渴，身大熱，嘔吐，諸痹，起陰氣，解諸毒，葛谷，主下利十歲以上。一名雞齊根。生種穀。</p>
<p>《吳普》曰：葛根，神農：甘。生太山（《御覽》）。</p>
<p>《名醫》曰：一名鹿藿，一名黃斤。生汶山。五月採根，曝乾。</p>

<h3>栝蔞根</h3>
<p>味苦，寒。主消渴，身熱煩滿，大熱，補虛安中，續絕傷。一名地樓。生川穀及山陰。</p>
<p>《吳普》曰：栝蔞，一名澤巨，一名澤姑（《御覽》）。</p>
<p>《名醫》曰：一名果裸，一名天瓜，一名澤姑。實，名黃瓜。二月、八月採根，曝乾，三十日成。生宏農。</p>
<p>案：《說文》云：𦯚，𦯚蔞，果也。《廣雅》云：王白，𦯚也（當為王𦯚）。《爾雅》云：果裸之實，栝蔞。郭璞云：今齊人呼之為天瓜。《毛詩》云：果裸之實，亦施於宇。《傳》云：果裸，栝蔞也。《呂氏春秋》云：王善生。高誘云：善，或作瓜，𦧔𤬏也。案：《呂氏春秋》善字，乃𦯚之誤。</p>

<h3>苦參</h3>
<p>味苦，寒。主心腹結氣，癥瘕積聚，黃疸，溺有餘瀝，逐水，除癰腫，補中明目，止淚。一名水槐，一名苦識。生山谷及田野。</p>
<p>《名醫》曰：一名地槐，一名菟槐，一名驕槐，一名白莖，一名虎麻，一名芩莖，一名祿曰，一名陵郎。生汝南。三月、八月、十月採根，曝乾。</p>

<h3>當歸</h3>
<p>味甘，溫。主咳逆上氣，溫瘧、寒熱，洗在皮膚中（《大觀本》，洗音癬），婦人漏下絕子，諸惡創瘍、金創。煮飲之。一名干歸。生川穀。</p>
<p>《吳普》曰：當歸，神農、黃帝、桐君、扁鵲：甘，無毒；岐伯、雷公：辛，無毒；李氏：小溫。或生羌胡地。</p>
<p>《名醫》曰：生隴西。二月、八月採根，陰乾。</p>
<p>案：《廣雅》云：山靳，當歸也。《爾雅》云：薜，山靳。郭璞云：今似靳而粗大。又薜，白靳，郭璞云：即上山靳。</p>
<p>《範子計然》云：當歸，出隴西。無枯者，善。</p>

<h3>麻黃</h3>
<p>味苦，溫。主中風，傷寒頭痛，溫瘧，發表出汗，去邪熱氣，止咳逆上氣，除寒熱，破症堅積聚。一名龍沙。</p>
<p>《吳普》曰：麻黃，一名卑相，一名卑堅。神農、雷公：苦，無毒；扁鵲：酸，無毒；李氏：平。或生河東。四月、立秋採（《御覽》）。</p>
<p>《名醫》曰：一名卑相，一名卑鹽。生晉地及河東。立秋採莖，陰乾令青。</p>
<p>案：《廣雅》云：龍沙，麻黃也。麻黃莖，狗骨也。《範子計然》云：麻黃，出漢中三輔。</p>

<h3>通草</h3>
<p>（《御覽》作草）　</p>
<p>味辛，平。主去惡蟲，除脾胃寒熱，通利九竅、血脈、關節，令人不忘。一名附支。生山谷。</p>
<p>《吳普》曰：通草，一名丁翁，一名附支。神農、黃帝：辛；雷公：苦。生石城山谷，葉菁蔓延。止汗，自正月採（《御覽》）。</p>
<p>《名醫》曰：一名丁翁。生石城及山陽。正月採枝，陰乾。</p>
<p>案：《廣雅》云：附支，蓪草也。《中山經》云：升山，其草多寇脫。郭璞云：寇脫草，生南方，高丈許，似荷葉，而莖中有瓤正白，零陵人植而日灌之，以為樹也。《爾雅》云：離南，活莌。郭璞注同。又倚商，活脫。郭璞云：即離南也。《範子計然》云：蓪草，出三輔。</p>

<h3>芍藥</h3>
<p>味苦，平。主邪氣腹痛，除血痹，破堅積、寒熱、疝瘕，止痛，利小便，益氣（《藝文類聚》引云：一名白朮。《大觀本》作黑字）。生川穀及丘陵。</p>
<p>《吳普》曰：芍藥，神農：苦；桐君：甘，無毒；岐伯：咸；李氏：小寒；雷公：酸。一名甘積，一名解倉，一名誕，一名余容，一名白朮。三月三日採（《御覽》）。</p>
<p>《名醫》曰：一名白朮，一名余容，一名犁食，一名解食，一名鋌。生中嶽。二月、八月採根，曝乾。</p>
<p>案：《廣雅》云：攣夷，芍藥也；白朮，牡丹也。《北山經》云：繡山，其草多芍藥。郭璞云：芍藥，一名辛夷，亦香草屬。《毛詩》云：贈之以芍藥。《傳》云：芍藥，香草。《範子計然》云：芍藥，出三輔。崔豹《古今注》云：芍藥有三種：有草芍藥，有木芍藥。木有花，大則色深，俗呼為牡丹，非也。又云：一名可離。</p>

<h3>蠡實</h3>
<p>味甘，平。主皮膚寒熱，胃中熱氣，寒濕痹，堅筋骨，令人嗜食。久服，輕身。花、葉：去白蟲。一名劇草，一名三堅，一名豕首。生川穀。</p>
<p>《吳普》曰：蠡實，一名劇草，一名三堅，一名劇荔華（《御覽》），一名澤藍，一名豕首。神農、黃帝：甘，辛，無毒。生宛句。五月採（同上）。</p>
<p>《名醫》曰：一名荔實。生河東。五月採實，陰乾。</p>
<p>案：《說文》云，荔，草也，似蒲而小，根可作刷。《廣雅》云：馬䪥，荔也。《月令》云：仲冬之月，荔挺出。鄭云：荔挺，馬薤也。高誘注《淮南子》云：荔馬，荔草也。《通俗文》云：一名馬蘭。顏之推云：此物河北平澤率生之，江東頗多，種於階庭，但呼為早蒲，故不識馬薤。</p>

<h3>瞿麥</h3>
<p>味苦，寒。主關格，諸癃結，小便不通，出刺，決癰腫，明目去翳，破胎墮子，下閉血。一名巨句麥。生川穀。</p>
<p>《名醫》曰：一名大菊，一名大蘭。生大山。立秋採實，陰乾。</p>
<p>案：《說文》云：蘧，蘧麥也。菊、大菊，蘧麥。《廣雅》云：茈威、陵苕，蘧麥也。《爾雅》云：大菊，蘧麥。郭璞云：一名麥句姜，即瞿麥。陶弘景雲：子頗似麥，故名瞿麥。</p>

<h3>元參</h3>
<p>味苦，微寒。主腹中寒熱積聚，女子產乳余疾，補腎氣，令人目明。一名重臺。生川穀。</p>
<p>《吳普》曰：元參，一名鬼藏，一名正馬，一名重臺，一名鹿腹，一名端，一名元臺，神農、桐君、黃帝、雷公、扁鵲：苦，無毒；岐伯：咸；李氏：寒。或生冤朐山陽。二月生葉如梅毛，四四相植似芍藥，黑莖方高四、五尺，花赤，生枝間，四月，實黑（《御覽》）。</p>
<p>《名醫》曰：一名元臺，一名鹿腸，一名正馬，一名減，一名端。生河間及冤句。三月、四月採根，曝乾。</p>
<p>案：《廣雅》云：鹿腸，元參也。《範子計然》云：元參，出三輔。青色者，善。</p>

<h3>秦艽</h3>
<p>味苦，平。主寒熱邪氣，寒濕，風痹，肢節痛，下水，利小便。生山谷。</p>
<p>《名醫》曰：生飛烏山。二月、八月採根，曝乾。</p>
<p>案：《說文》云：𤬓，草之相丩者，《玉篇》作䳒，居包切，云秦艽，藥艽同。蕭炳云：《本經》名秦瓜，然則今《本經》名，亦有《名醫》改之者。</p>

<h3>百合</h3>
<p>味甘，平。主邪氣腹張，心痛，利大小便，補中益氣。生川穀。</p>
<p>《吳普》曰：百合，一名重邁，一名中庭。生冠朐及荊山（《藝文類聚》引云：一名重匡）。</p>
<p>《名醫》曰：一名重箱，一名摩羅，一名中逢花，一名強瞿。生荊州。二月、八月採根，曝乾。</p>
<p>案：《玉篇》云：蹯，百合蒜也。</p>

<h3>知母</h3>
<p>味苦，寒。主消渴熱中，除邪氣，肢體浮腫，下水，補不足，益氣。一名蚳母，一名連母，一名野蓼，一名地參，一名水參，一名水浚，一名貨母，一名蝭母。生川穀。</p>
<p>《吳普》曰：知母，神農、桐君：無毒。補不足，益氣（《御覽》引云：一名提母）。</p>
<p>《名醫》曰：一名女雷，一名女理，一名兒草，一名鹿列，一名韭蓬，一名兒踵草，一名東根，一名水須，一名沈燔，一名薅。生河內。二月、八月採根，曝乾。</p>
<p>案：《說文》云：耆，耆母也。蕁，莧藩也，或從爻作薅。《廣雅》云：耆母、兒踵，東根也。《爾雅》云：薅，⿱艹沉藩。郭璞云：生山上。葉如韭，一曰蝭母。《範子計然》云：蝭母，出三輔，黃白者，善。《玉篇》作𦳚母。</p>

<h3>貝母</h3>
<p>味辛，平。主傷寒煩熱，淋瀝，邪氣，疝瘕，喉痹，乳難，金創，風痙。一名空草。</p>
<p>《名醫》曰：一名藥實，一名苦花，一名苦菜，一名商（𦯶字）草，一名勤母。生晉地。十月採根，曝乾。</p>
<p>案：《說文》云：𦯶，貝母也。《廣雅》云：貝父，藥實也。《爾雅》云：𦯶，貝母。郭璞云：根如小貝，圓而白花，葉似韭。《毛詩》云：言採其虻。《傳》云：虻，貝母也。陸璣云：其葉如栝蔞而細小，其子在根下如芋子，正白，四方連累相著有分解也。</p>

<h3>白芷</h3>
<p>味辛，溫。主女人漏下赤白，血閉，陰腫，寒熱，風頭侵目淚出。長肌膚，潤澤，可作面脂。一名芳香。生川穀。</p>
<p>《吳普》曰：白芷，一名䖀，一名苻離，一名澤芬，一名𦺊（《御覽》）。</p>
<p>《名醫》曰：一名白芷，一名䖀，一名莞，一名苻離，一名澤芬。葉，一名蒚麻，可作浴湯。生河東下澤。二月、八月採根，曝乾。</p>
<p>案：《說文》云，芷，䖀也；䖀，楚謂之籬，晉謂之䖀，齊謂之芷。《廣雅》云：白芷，其葉謂之藥。《西山經》云：號山，其草多藥䖀。郭璞云：藥，白芷別名；䖀，香草也。《淮南子·修務訓》云：身苦秋藥被風。高誘云：藥，白芷，香草也。王逸注《楚詞》云：藥，白芷。按：《名醫》一名莞云云，似即《爾雅》莞，苻離，其上鬲。而《說文》別有𦺊，夫離也。蒚，夫蘺上也。是非一草。舍人云：白蒲，一名苻離，楚謂之莞，豈蒲與芷相似，而《名醫》誤合為一乎。或《說文》云：楚謂之蘺，即夫籬也，未可得詳。舊作芷，非。</p>

<h3>淫羊藿</h3>
<p>味辛，寒。主陽痿絕傷，莖中痛，利小便，益氣力，強志。一名剛前。生山谷。</p>
<p>《吳普》曰：淫羊藿，神農、雷公：辛；李氏：小寒。堅骨（《御覽》）。</p>
<p>《名醫》曰：生上山郡陽山。</p>

<h3>黃芩</h3>
<p>味苦，平。主諸熱黃疸，腸澼泄利，逐水，下血閉，惡創，恆蝕火瘍。一名腐腸。生川穀。</p>
<p>《吳普》曰：黃芩，一名黃文，一名妒婦，一名虹勝，一名紅芩，一名印頭，一名內虛，神農、桐君、黃帝、雷公、扁鵲：苦，無毒；李氏：小溫。二月生赤黃葉，兩兩四四相值，莖空中或方員，高三、四尺，四月花紫紅赤，五月實黑、根黃。二月至九月採（《御覽》）。</p>
<p>《名醫》曰：一名空腸，一名內虛，一名黃文，一名紅芩，一名妒婦。生秭歸及冤句。三月三日採根，陰乾。</p>
<p>案：《說文》云：菳，黃菳也。《廣雅》云：⿱艹妊葿、黃文、內虛，黃芩也。《範子計然》云：黃芩，出三輔。色黃者，善。</p>

<h3>狗脊</h3>
<p>味苦，平。主腰背，強關機，緩急，周痹寒濕，膝痛。頗利老人。一名百枝。生川穀。</p>
<p>《吳普》曰：狗脊，一名狗青，一名赤節。神農，桐君、黃帝、岐伯、雷公、扁鵲：甘，無毒；李氏：小溫。如萆薢，莖節如竹，有刺，葉圓赤，根黃白，亦如竹根，毛有刺。《岐伯經》云：莖長節，葉端員，青赤，皮白，有赤脈。</p>
<p>《名醫》曰：一名強膂，一名扶蓋，一名扶筋，生常山，二月、八月採根，曝乾。</p>
<p>案：《廣雅》云：菝葜，狗脊也。《玉篇》云：菝𦸉，狗脊根也。《名醫》別出菝葜條，非。</p>

<h3>石龍芮</h3>
<p>味苦，平。主風寒濕痹，心腹邪氣，利關節，止煩滿。久服，輕身、明目、不老。一名魯果能（《御覽》作食果），一名地椹。生川澤石邊。</p>
<p>《吳普》曰：龍芮，一名姜苔，一名天豆。神農：苦，平；岐伯：酸；扁鵲、李氏：大寒；雷公：咸，無毒。五月五日採（《御覽》）。</p>
<p>《名醫》曰：一名石能，一名彭根，一名天豆。生太山，五月五日採子，二月、八月採皮，陰乾。</p>
<p>案：《範子計然》云：石龍芮，出三輔。色黃者，善。</p>

<h3>茅根</h3>
<p>味甘，寒。主勞傷虛羸，補中益氣，除瘀血、血閉、寒熱，利小便。其苗，主下水。一名蘭根，一名茹根。生山谷、田野。</p>
<p>《名醫》曰：一名地管，一名地筋，一名兼杜。生楚地，六月採根。</p>
<p>案：《說文》云：茅，菅也；菅，茅也。《廣雅》云：菅，茅也。《爾雅》云：白華，野菅。郭璞云：菅，茅屬。《詩》云：白華菅兮，白茅束兮。《傳》云：白華，野菅也，已漚，為菅。</p>

<h3>紫菀</h3>
<p>味苦，溫。主咳逆上氣，胸中寒熱結氣，去蠱毒痿蹶，安五臟。生山谷。</p>
<p>《吳普》曰：紫菀，一名青苑（《御覽》）。</p>
<p>《名醫》曰：一名紫茜，一名青苑。生房陵及真定邯鄲。二月、三月採根，陰乾。</p>
<p>案：《說文》云：菀，茈菀，出漢中房陵。陶弘景雲：白者，名白菀。《唐本》注云：白菀，即女菀也。</p>

<h3>紫草</h3>
<p>味苦，寒。主心腹邪氣，五疸，補中益氣，利九竅，通水道。一名紫丹，一名紫芙（《御覽》引云：一名地血。《大觀本》無文）。生川穀。</p>
<p>《吳普》曰：紫草節赤。二月花。（《御覽》）。</p>
<p>《名醫》曰：生碭山及楚地。三月採根，陰乾。</p>
<p>案：《說文》云：茈，草也；藐，茈草也，䓞草也，可以染留黃。《廣雅》云：茈䓞，茈草也。《山海經》云：勞山多茈草。郭璞云：一名紫䓞，中染紫也。《爾雅》云：藐，茈草。郭璞云：可以染紫。</p>

<h3>敗醬</h3>
<p>味苦，平。主暴熱火創、赤氣，疥瘙，疸痔，馬鞍熱氣。一名鹿腸。生川穀。</p>
<p>《名醫》曰：一名鹿首，一名馬草，一名澤敗，生江夏，八月採根，曝乾。</p>
<p>案：《範子計然》云：敗醬，出三輔。陶弘景雲：氣如敗醬，故以為名。</p>

<h3>白蘚</h3>
<p>味苦，寒。主頭風，黃疸，咳逆，淋瀝，女子陰中腫痛，濕痹死肌，不可屈伸、起止、行步。生川穀。</p>
<p>《名醫》曰：生上谷及冤句。四月、五月採根，陰乾。</p>
<p>案：陶弘景雲：俗呼為白羊蘚，氣息正似羊膻，或名白膻。</p>

<h3>酸醬</h3>
<p>味酸，平。主熱煩滿，定志益氣，利水道。產難，吞其實立產。一名醋醬。生川澤。</p>
<p>《吳普》曰：酸醬，一名酢醬（《御覽》）。</p>
<p>《名醫》曰：生荊楚及人家田園中。五月採，陰乾。</p>
<p>案：《爾雅》云：葴，寒醬。郭璞云：今酸醬草，江東呼曰苦葴。</p>

<h3>紫參</h3>
<p>味苦，辛，寒。主心腹積聚，寒熱邪氣，通九竅，利大小便。一名牡蒙。生山谷。</p>
<p>《吳普》曰：伏蒙，一名紫參，一名泉戎，一名音腹，一名伏菟，一名重傷。神農、黃帝：苦；李氏：大寒。生河西山谷或宛句商山。圓聚生，根黃赤月文，皮黑中紫，五月花紫赤，實黑，大如豆。三月採根（《御覽》《大觀本》節文）。</p>
<p>《名醫》曰：一名眾戎，一名童腸，一名馬行。生河西及冤句。三月採根，火炙使紫色。</p>
<p>案：《範子計然》云：紫參，出三輔。赤青色者，善。</p>

<h3>藁本</h3>
<p>味辛，溫。主婦人疝瘕，陰中寒、腫痛，腹中急，除風頭痛，長肌膚，悅顏色。一名鬼卿，一名地新。生山谷。</p>
<p>《名醫》曰：一名微莖，生崇山，正月、二月採根，曝乾，三十日成。</p>
<p>案：《廣雅》云：山芷，蔚香，藁本也。《管子·地員篇》云：五臭疇生藁本。《荀子·大略篇》云：蘭芷藁本，漸於蜜醴，一佩易之。樊光注《爾雅》云：藁本，一名蘼蕪，根名靳芷。舊作藁，非。</p>

<h3>石葦</h3>
<p>味苦，平。主勞熱邪氣，五癃閉不通，利小便水道。一名石䩾。生山谷石上。</p>
<p>《名醫》曰：一名石皮，生華陰山谷。不聞水及人聲者，良。二月採葉，陰乾。</p>

<h3>萆薢</h3>
<p>味苦，平。主腰背痛，強骨節，風寒濕、周痹，惡創不瘳，熱氣。生山谷。</p>
<p>《名醫》曰：一名赤節。生真定。八月採根，曝乾。</p>
<p>案：《博物志》云：菝葜，與萆薢相亂。</p>

<h3>白薇</h3>
<p>味苦，平。主暴中風，身熱肢滿，忽忽不知人，狂惑，邪氣，寒熱酸痋，溫瘧洗洗，發作有時。生川穀。</p>
<p>《名醫》曰：一名白幕，一名薇草，一名春草，一名骨美。生平原。三月三日採根，陰乾。</p>

<h3>水萍</h3>
<p>味辛，寒。主暴熱身癢（《藝文類聚》《初學記》癢，此是），下水氣，勝酒，長鬚發（《藝文類聚》作烏髮），消渴。久服，輕身。一名水華（《藝文類聚》引云：一名水廉）。生池澤。</p>
<p>《吳普》曰：水萍，一名水廉。生澤水上。葉員小，一莖一葉，根入水。五月花白，三月採，曬乾（《御覽》）。</p>
<p>《名醫》曰：一始水白，一名水蘇。生雷澤。三月採，曝乾。</p>
<p>案：《說文》云：蘋，蓱也，無根，浮水而生者。萍，蘋也。䤵，大萍也。《廣雅》云：鶵，萍也。《夏小正》云：七月湟潦生苹。《爾雅》云：萍，蓱。郭璞云：水中浮萍，江東謂之鶵。又其大者，蘋。《毛詩》云：於以採蘋。《傳》云：蘋，大萍也。《範子計然》曰：水萍，出三輔。色青者，善。《淮南子·原道訓》云：萍樹根於水。高誘云：萍，大蘋也。</p>

<h3>王瓜</h3>
<p>味苦，寒。主消渴內痹瘀血，月閉，寒熱，痠疼，益氣，俞聾。一名土瓜。生平澤。</p>
<p>《名醫》曰：生魯地田野及人家坦牆間。三月採根，陰乾。</p>
<p>案：《說文》云：萯，王萯也。《廣雅》云：葵茹、瓜𤬏，王瓜也。《夏小正》云：四月王萯秀。《爾雅》云：鉤萯菇。</p>
<p>郭璞云：鉤，𤬏也，一名王瓜，實如瓝瓜，正赤，味苦。《月令》：王瓜生。鄭元云：《月令》云王萯生。孔穎達云：疑王萯，則王瓜也。《管子·地員篇》剽土之次曰五沙，其種大萯細萯，白莖青秀以蔓。《本草圖經》云：大萯，即王萯也。芴，亦謂之土瓜，自別是一物。</p>

<h3>地榆</h3>
<p>味苦，微寒。主婦人乳痓痛，七傷、帶下病，止痛，除惡肉，止汗，療金創（《御覽》上云：主消酒。又云：明目。《大觀本草》消酒作黑字，而無明目）。生山谷。</p>
<p>《名醫》曰：生桐柏及冤句。二月、八月採根，曝乾。</p>
<p>案：《廣雅》云：菗蒢，地榆也。陶弘景雲：葉似榆而長，初生布地，而花、子紫黑色，如豉，故名玉豉。</p>

<h3>海藻</h3>
<p>味苦，寒。主癭瘤氣，頸下核，破散結氣、癰腫、癥瘕、堅氣，腹中上下鳴，下十二水腫，一名落首。生池澤。</p>
<p>《名醫》曰：一名藫。生東海。七月七日採，曝乾。</p>
<p>案：《說文》云：藫，水草也，或作藻。《廣雅》云：海蘿，海藻也。《爾雅》云：薅，海藻也。郭璞云：藥草也。一名海蘿，如亂髮，生海中。《本草》云：又藫，石衣。郭璞云：水苔也，一名石發，江東食之，或曰藫。葉似䪥而大，生水底也，亦可食。</p>

<h3>澤蘭</h3>
<p>味苦，微溫。主乳婦內衄（《御覽》作衄血），中風余疾，大腹水腫，身面四肢浮腫，骨節中水，金創、癰腫、創膿。一名虎蘭，一名龍棗。生大澤傍。</p>
<p>《吳普》曰：澤蘭，一名水香，神農、黃帝、岐伯、桐君：酸，無毒；李氏：溫。生下地水傍。葉如蘭，二月生，香，赤節，四葉相值枝節間。</p>
<p>《名醫》曰：一名虎蒲。生汝南。三月三日採，陰乾。</p>
<p>案：《廣雅》云：虎蘭，澤蘭也。</p>

<h3>防己</h3>
<p>味辛，平。主風寒溫瘧，熱氣諸癰，除邪，利大小便。一名解離（《御覽》作石解引云：通腠理，利九竅。《大觀本》六字黑）。生川穀。</p>
<p>《吳普》曰：木防己，一名解離，一名解燕。神農：辛；黃帝、岐伯、桐君：苦，無毒；李氏：大寒。如艿，莖蔓延，如艽，白根外黃似結梗，內黑又如車輻解。二月、八月、十月採根（《御覽》）。</p>
<p>《名醫》曰：生漢中。二月、八月採根，陰乾。</p>
<p>案：《範子計然》云：防己，出漢中旬陽。</p>

<h3>款冬花</h3>
<p>味辛，溫。主咳逆上氣，善喘、喉痹，諸驚癇，寒熱邪氣。一名橐吾（《御覽》作石），一名顆東（《御覽》作顆冬），一名虎鬚，一名免奚。生山谷。</p>
<p>《吳普》曰：款冬，十二月花黃白（《藝文類聚》）。</p>
<p>《名醫》曰：一名氏冬，生常山及目常水傍。十一月採花，陰乾。</p>
<p>案：《廣雅》云：苦萃，款涷也。《爾雅》云：菟奚，顆涷。郭璞云：款冬也。紫赤花，生水中。《西京雜記》云：款冬，花於嚴冬。傳咸《款冬賦》序曰：仲冬之月，冰凌積雪，款冬獨敷花豔。</p>

<h3>牡丹</h3>
<p>味苦辛，寒。主寒熱，中風、瘛瘲、痙，驚癇邪氣，除症堅，瘀血留舍腸胃，安五臟，療癰創。一名鹿韭，一名鼠姑。生山谷。</p>
<p>《吳普》曰：牡丹，神農、岐伯：辛；李氏：小寒；雷公、桐君：苦，無毒；黃帝：苦，有毒。葉如蓬相植，根如柏黑，中有核。二月採，八月採，曬乾。人食之，輕身、益壽（《御覽》）。</p>
<p>《名醫》曰：生巴郡及漢中。二月、八月採根，陰乾。</p>
<p>案：《廣雅》云：白朮，牡丹也。《範子計然》云：牡丹也漢中河內。赤色者，變善。</p>

<h3>馬先蒿</h3>
<p>味平。主寒熱鬼注，中風濕痹，女子帶下病，無子。一名馬尿蒿。生川澤。</p>
<p>《名醫》曰：生南陽。</p>
<p>案：《說文》云：蔚，牡蒿也。《廣雅》云：因塵，馬先也。《爾雅》云：蔚，牡菣。郭璞云：無子者。《毛詩》云：匪莪伊蔚。《傳》云：菣，牡菣也。陸璣云：三月始生；七月花，花似胡麻花而紫赤；八月為角，角似小豆，角銳而長。一名馬新蒿。案：新、先，聲相近。</p>

<h3>積雪草</h3>
<p>味苦，寒。主大熱，惡創，癰疽，浸淫赤熛，皮膚赤，身熱。生川穀。</p>
<p>《名醫》曰：生荊州。</p>
<p>案：陶弘景雲：荊楚人以葉如錢，謂為地錢草。徐儀《藥圖》名連錢草。《本草圖經》云：咸、洛二京亦有，或名胡薄荷。</p>

<h3>女菀</h3>
<p>（《御覽》作苑）　</p>
<p>味辛，溫。主風洗洗，霍亂泄利，腸鳴，上下無常處，驚癇，寒熱百疾，生川穀或山陽。</p>
<p>《吳普》曰：女菀，一名白菀，一名識女苑（《御覽》）。</p>
<p>《名醫》曰：一名白菀，一名織女菀，一名茆。生漢中。正月、二月採，陰乾。</p>
<p>案：《廣雅》云：女腸，女菀也。</p>

<h3>王孫</h3>
<p>味苦，平。主五臟邪氣，寒濕痹，四肢疼酸，膝冷痛。生川穀。</p>
<p>《吳普》曰：黃孫，一名王孫，一名蔓延，一名公草，一名海孫。神農、雷公：苦，無毒；黃帝：甘，無毒。生西海山谷及汝南城郭垣下。蔓延，赤文，莖葉相當（《御覽》）。</p>
<p>《名醫》曰：吳，名白功草，楚，名王孫；齊，名長孫。一名黃孫，一名黃昏，一名海孫，一名蔓延，生海西及汝南城郭下。</p>
<p>案：陶弘景雲：今方家皆呼王昏，又云壯蒙。</p>

<h3>蜀羊泉</h3>
<p>味苦，微寒。主頭禿惡創，熱氣疥，瘙痂，癬蟲，療齲齒。生川穀。</p>
<p>《名醫》曰：一名羊泉，一名飴。生蜀郡。</p>
<p>案：《廣雅》云：桼姑，艾但鹿何，澤𤤄也。《唐本》注云：此草一名漆姑。</p>

<h3>爵床</h3>
<p>味鹹，寒。主腰脊痛，不得著床，俯仰艱難，除熱，可作浴湯。生川穀及田野。</p>
<p>《吳普》曰：爵床，一名爵卿（《御覽》）。</p>
<p>《名醫》曰：生漢中。</p>
<p>案：別本注云：今人名為香蘇。</p>

<h3>假蘇</h3>
<p>味辛，溫。主寒熱鼠瘻，瘰癧生創，破結聚氣，下瘀血，除濕痹。一名鼠蓂。生川澤（舊在菜部，今移）。</p>
<p>《吳普》曰：假蘇，一名鼠實，一名姜芥也（《御覽》），名荊芥，葉似落藜而細，蜀中生啖之（《蜀本》注）。</p>
<p>《名醫》曰：一名姜芥。生漢中。</p>
<p>案：陶弘景雲：即荊芥也，薑、荊，聲訛耳。先居草部中。令人食之，錄在菜部中也。</p>

<h3>翹根</h3>
<p>味甘，寒，平（《御覽》作味苦，平）。主下熱氣，益陰精，令人而說好，明目。久服，輕身、耐老。生平澤（舊在《唐本》退中，今移）。</p>
<p>《吳普》曰：翹根，神農、雷公：甘，有毒。三月、八月採，以作蒸，飲酒病人（《御覽》）。</p>
<p>《名醫》曰：生蒿高，二月、八月採。</p>
<p>案：陶弘景雲：方藥不復用，俗無識者。</p>
<p>上草，中品四十九種。舊四十六種。考菜部假蘇及《唐本》退中翹根，宜入此。</p>

<h3>桑根白皮</h3>
<p>味甘，寒。主傷中、五勞六極、羸瘦，崩中脈絕，補虛益氣。葉：主除寒熱出汗。桑耳黑者：主女子漏下赤白汗，血病，癥瘕積聚，陰補，陰陽寒熱，無子。五木耳名糯，益氣、不飢、輕身、強志。生山谷。</p>
<p>《名醫》曰：桑耳，一名桑菌，一名木麥。生犍為。六月多雨時採，即曝乾。</p>
<p>案：《說文》云：桑，蠶所食葉。木䓴，木耳也。蕈，桑䓴。《爾雅》云：桑瓣有葚梔。舍人云：桑樹，一半有葚，半無葚，名梔也。郭璞云：瓣，半也。又女桑，桋桑，郭璞云：今俗呼桑樹，小而條長者，為女桑樹。又檿山桑，郭璞云：似桑材中作弓及草轅。又桑柳槐條，郭璞云：阿那垂條。</p>

<h3>竹葉</h3>
<p>味苦，平。主咳逆上氣溢，筋急惡瘍，殺小蟲。根：作湯，益氣止渴，補虛下氣。汁：主風痓。實：通神明，輕身、益氣。</p>
<p>《名醫》曰：生益州。</p>
<p>案：《說文》云：竹，冬生草也。象形，下𠂹者，箬，箬也。</p>

<h3>吳茱萸</h3>
<p>（《御覽》引無吳字，是）　</p>
<p>味辛，溫。主溫中，下氣，止痛，咳逆，寒熱，除濕、血痹，逐風邪，開湊（舊作腠，《御覽》作濤，是）理。根：殺三蟲。一名藙，生山谷。</p>
<p>《名醫》曰：生冤句。九月九日採，陰乾。</p>
<p>案：《說文》云：茱，茱萸，屬。萸，茱萸也。煎，茱萸，《漢律》：會稽獻藙一斗。《廣雅》云：𣐊、榝、檔、樾、茱萸也。《三蒼》云：莍，茱萸也（《御覽》）。《爾雅》云：椒、榝、醜莍。郭璞云：茱萸子，聚生成房貌，今江東亦呼榝，似茱萸而小，赤色。《禮記》云：三牲用藙。鄭云：藙煎，茱萸也，《漢律》會稽獻焉，《爾雅》謂之榝。《範子計然》云：茱萸，出三輔。陶弘景雲：《禮記》名榝，而作俗中呼為藙子。當是不識藙字，似雜字，仍似相傳。</p>

<h3>卮子</h3>
<p>（舊作梔，《藝文類聚》及《御覽》引作支，是）</p>
<p>味苦，寒。主五內邪氣，胃中熱氣，面赤、酒泡、皶鼻，白賴、赤癩，創瘍。一名木丹。生川穀。</p>
<p>《名醫》曰：一名樾桃。生南陽。九月採實，曝乾。</p>
<p>案：《說文》云：梔，黃木可染者。《廣雅》云：梔子，㮁桃也。《史記·貨殖傳》云：巴蜀地饒卮。《集解》云：徐廣白：音支，煙支也；紫，赤色也。據《說文》當為梔。</p>

<h3>蕪荑</h3>
<p>味辛。主五內邪氣，散皮膚骨節中淫淫溫行毒，去三蟲，化食。一名無姑，一名殿塘（《御覽》引云：逐寸白，散腹中溫溫喘息。《大觀本》作黑字）。生川穀。</p>
<p>《名醫》曰：一名殿塘。生晉山。三月採實，陰乾。</p>
<p>案：《說文》云：梗，山枌榆，有束莢，可為蕪荑者。《廣雅》云：山榆，母估也。《爾雅》云：莁荑，蔱蘠。郭璞云：一名白蕢，又無姑，其實夷。郭璞云：無姑，姑榆也。生山中，葉圓而厚，剝取皮合漬之，其味辛香，所謂蕪荑。《範子計然》云：蕪荑在地，赤心者，善。</p>

<h3>枳實</h3>
<p>味苦，寒。主大風在皮膚中，如麻豆苦癢（《御覽》作痰，非）。除寒熱結，止利（舊作痢，《御覽》作利，是）。長肌肉，利五臟，益氣、輕身。生川澤。</p>
<p>《吳普》曰：枳實，苦。雷公：酸，無毒；李氏：大寒。九月、十月採，陰乾（《御覽》）。</p>
<p>《名醫》曰：生河內，九月、十月採，陰乾。</p>
<p>案：《說文》云：枳木似橘。《周禮》云：橘渝淮而化為枳。沈括《筆談》云：六朝以前，醫方唯有枳實，無枳殼，後人用枳之小、嫩者，為枳實；大者，為枳殼。</p>

<h3>厚朴</h3>
<p>味苦，溫。主中風、傷寒、頭痛、寒熱，驚悸氣，血痹死肌，去三蟲。</p>
<p>《吳普》曰：厚朴，神農、岐伯、雷公：苦，無毒；李氏：小溫（《御覽》引云：一名厚皮。生交址）。</p>
<p>《名醫》曰：一名厚皮，一名赤樸。其樹名榛，其子名逐。生交址冤句。九月、十月採皮，陰乾。</p>
<p>案：《說文》云：樸，木皮也，榛木也。《廣雅》云：重皮，厚朴也。《範子計然》云：厚朴，出宏農，按：今俗以榛為親，不知是厚朴。《說文》榛慄，字作親。</p>

<h3>秦皮</h3>
<p>味苦，微寒。主風寒濕痹，洗洗寒氣，除熱，目中青翳、白膜。久服，頭不白、輕身。生川穀。</p>
<p>《吳普》曰：芩皮，一名秦皮。神農、雷公、黃帝、岐伯：酸，無毒；李氏：小，或生冤句水邊。二月、八月採（《御覽》）。</p>
<p>《吳普》曰：一名岑皮，一名石檀。生廬江及冤句。二月、八月採皮，陰乾。</p>
<p>案：《說文》云：梣，青皮木，或作𣘕。《淮南子·倜真訓》云：梣木，色青翳。高誘云：梣木，苦歷木也。生於山，剝取其皮，以水浸之，正青，用洗眼，愈人目中膚翳。據《吳普》云：岑皮，名秦皮，《本經》作秦皮者，後人以俗稱改之，當為岑皮。</p>

<h3>秦菽</h3>
<p>味辛，溫。主風邪氣，溫中，除寒痹，堅齒髮、明目。久服，輕身、好顏色、耐老、增年、通神。生川穀。</p>
<p>《名醫》曰：生太山及秦嶺上，或琅邪。八月、九月採實。</p>
<p>案：《說文》云：菽，菽萯，莍菽。菽莍實裹如裘者，椒似茱萸，出《淮南》。《廣雅》云：榝椒，茱萸也。《北山經》云：景山多秦椒。郭璞云：子似椒而細葉草也。《爾雅》云：檓，大椒。郭璞云：今椒樹叢生實大者，名為檓。又椒榝，醜莍。郭璞云：莍萸子聚成房貌。今江示亦呼莍𦶍，似茱萸而小，赤色。《毛詩》云：椒聊之實。《傳》云：椒聊，椒也。陸璣云：椒樹，似茱萸，有針刺，葉堅而滑澤，蜀人作茶，吳人作茗，皆合煮其葉以為香。《範子計然》云：秦椒，出天水隴西，細者，善。《淮南子·人間訓》云：申椒、杜茞，美人之所懷服。舊作椒，非。據《山海經》有秦椒，生聞喜景山，則秦，非秦地之秦也。</p>

<h3>山茱萸</h3>
<p>味酸，平。主心下邪氣，寒熱，溫中，逐寒濕痹，去三蟲。久服，輕身。一名蜀棗。生山谷。</p>
<p>《吳普》曰：山茱萸，一名魃實，一名鼠矢，一名雞足。神農、黃帝、雷公、扁鵲：酸，無毒；岐伯：辛；一經：酸。或生冤句、琅邪，或東海承縣。葉如梅，有刺毛，二月，花如杏；四月，實如酸棗，赤；五月採實（《御覽》）。</p>
<p>《名醫》曰：一名雞足，一名魃實，生漢中及琅邪、冤句、東海承縣。九月、十月採實，陰乾。</p>

<h3>紫葳</h3>
<p>味酸（《御覽》作咸），微寒。主婦人產乳余疾，崩中，癥瘕血閉，寒熱羸瘦，養胎。生川穀。</p>
<p>《吳普》曰：紫葳，一名武威，一名瞿麥，一名陵居腹，一名鬼目，一名蘢華。神農、雷公：酸；岐伯：辛；扁鵲：苦、咸；黃帝：甘，無毒。如麥根黑。正月、八月採。或生真定（《御覽》）。</p>
<p>《名醫》曰：一名陵苕，一名蘢華。生西海及山陽。</p>
<p>案：《廣雅》云：茈葳，陵苕，蘧麥也。《爾雅》云：苕，陵苕。郭璞云：一名陵時。《本草》云：又黃華，白華，蔈。郭璞云：苕、花，色異，名亦不同。《毛詩》云：苕之華。《傳》云：苕，陵苕也。《範子計然》云：紫葳，出三輔。李當之云：是瞿麥根。據李說與《廣雅》合。而《唐本》注引《爾雅》注有一名凌霄四字，謂即凌霄花，陸璣以為鼠尾，疑皆非，故不採之。</p>

<h3>豬苓</h3>
<p>味甘，平。主痎瘧，解毒蠱注（《御覽》作蛀）不祥，利水道。久服，輕身、耐老（《御覽》作能老）。一名猳豬尿。生山谷。</p>
<p>《吳普》曰：豬苓，神農，甘；雷公：苦，無毒（《御覽》引云：如茯苓，或生冤句，八月採）。</p>
<p>《名醫》曰：生衡山及濟陰冤句。二月、八月採，陰乾。</p>
<p>案：《莊子》云：豕零。司馬彪注作豕囊，云：一名豬苓，根似豬卵，可以治渴。</p>

<h3>白棘</h3>
<p>味辛，寒。主心腹痛，癰腫漬膿，止痛。一名棘針。生川穀。</p>
<p>《名醫》曰：一名棘刺。生雍州。</p>
<p>案：《說文》云：棘，小棗叢生者。《爾雅》云：髦顛棘。孫炎云：一名白棘。李當之云：此是酸棗樹針，今人用天門冬苗代之，非是真也。案：《經》云：天門冬，一名顛勒。勒、棘，聲相近，則今人用此，亦非無因也。</p>

<h3>龍眼</h3>
<p>味甘，平。主五臟邪氣，安志厭食。久服，強魂、聰明、輕身、不老，通神明。一名益智。生山谷。</p>
<p>《吳普》曰：龍眼，一名益智。《要術》：一名比目（《御覽》）。</p>
<p>《名醫》曰：其大者，似檳榔。生南海松樹上。五月採，陰乾。</p>
<p>案：《廣雅》云：益智，龍眼也。劉達注《吳都賦》云：龍眼，如荔枝而小，圓如彈丸，味甘，勝荔枝，蒼梧、交址、南海、合浦，皆獻之，山中之家亦種之。</p>

<h3>松羅</h3>
<p>味苦，平。主嗔怒邪氣，止虛汗、頭風，女子陰寒、腫病。一名女蘿。生山谷。</p>
<p>《名醫》曰：生熊耳山。</p>
<p>案：《廣雅》云：女蘿，松蘿也。《毛詩》云：蔦與女蘿。《傳》云：女蘿、菟絲，松蘿也。陸璣云：松蘿，自蔓松上，枝正青，與菟絲異。</p>

<h3>衛矛</h3>
<p>味苦，寒。主女子崩中下血，腹滿汗出，除邪，殺鬼毒、蟲注。一名鬼箭。生山谷。</p>
<p>《吳普》曰：鬼箭，一名衛矛。神農、黃帝、桐君：苦，無毒。葉，如桃如羽，正月、二月、七月採，陰乾。或生田野（《御覽》）。</p>
<p>《名醫》曰：生霍山。八月採，陰乾。</p>
<p>案：《廣雅》云：鬼箭，神箭也。陶弘景雲：其莖有三羽，狀如箭羽。</p>

<h3>合歡</h3>
<p>味甘，平。主安五臟，利心志（《藝文類聚》作和心志，《御覽》作和心氣）。令人獻樂無憂。久服，輕身、明目、所欲。生山谷。</p>
<p>《名醫》曰：生益州。</p>
<p>案：《唐本》注云：或曰合昏，歡、昏，音相近。《日華子》云：夜合。</p>
<p>上木，中品一十七種，舊同。</p>

<h3>白馬莖</h3>
<p>味鹹，平。主傷中脈絕，陰不起，強志益氣，長肌肉，肥健，生子。眼：主驚癇，腹滿，瘧疾，當殺用之。懸蹄：主驚邪，瘛瘲，乳難，辟惡氣、鬼毒、蠱注、不祥。生平澤。</p>
<p>《名醫》曰：生雲中。</p>

<h3>鹿茸</h3>
<p>味甘，溫，主漏下惡血，寒熱，驚癇，益氣強志，生齒不老。角，主惡創癰腫，逐邪惡氣，留血在陰中。《名醫》曰：茸，四月、五月解角時取，陰乾，使時躁。角，七月採。</p>

<h3>牛角䚡</h3>
<p>下閉血，瘀血疼痛，女人帶下血。髓：補中，填骨髓。久服，增年。膽：可丸藥。</p>
<p>案：《說文》云：䚡，角中骨也。</p>

<h3>羚羊角</h3>
<p>味鹹，溫。主青盲，明目，殺疥蟲，止寒泄，辟惡鬼虎狼，止驚悸。久服，安心、益氣、輕身。生川穀。</p>
<p>《名醫》曰：生河西。取無時。</p>
<p>案：《說文》云：羚夏羊。牝，曰羚。《爾雅》云：羊牝，羚。郭璞云：今人便以牂、羚，為黑白羊名。</p>

<h3>牡狗陰莖</h3>
<p>味鹹，平。主傷中，陰痿不起，令強、熱、大、生子，除女子帶下十二疾。一名狗精。膽：主明目。</p>
<p>《名醫》曰：六月上伏取，陰乾百日。</p>

<h3>羚羊角</h3>
<p>味鹹，寒。主明目，益氣，起陰，去惡血注下，闢蠱毒惡鬼不祥，安心氣，常不大厭寐。生川穀。</p>
<p>《名醫》曰：生石城及華陰山，採無時。</p>
<p>案：《說文》云：羚，大羊而細角。《廣雅》云：美皮，冷角。《爾雅》云；弘，大羊。郭璞云：羚羊，似羊而大，角園銳，好在山崖間。陶弘景雲：《爾雅》名羱羊。據《說文》云：莧，山羊細角也。《爾雅》云：羱，如羊。郭璞云：羱，似吳羊而大角。角橢，出西方。莧，即羱正字。然《本經》羚字，實羚字俗寫，當以羚為是。《爾雅》釋文引本草，作羚。</p>

<h3>犀角</h3>
<p>味苦，寒。主百毒蟲注，邪鬼、障氣，殺鉤吻、鴆羽、蛇毒，除不迷或厭寐。久服輕血。生山谷。</p>
<p>《名醫》曰：生永昌及益州。</p>
<p>案：《說文》云：犀，南徼外牛，一角在鼻，一角在頂，似豕。《爾雅》云：犀，似豕。郭璞云：形似水牛，豬頭大腹；痹腳，腳有三蹄，黑色；三角，一在頂上，一在鼻上，一在額上。鼻上者，即食角也。小而不橢，好食棘。亦有一角者。《山海經》云：琴鼓之山，多白犀。郭璞云：此與闢寒、蠲忿、闢塵、闢暑諸犀，皆異種也。《範子計然》云：犀角，出南郡，上價八千，中三千，下一千。</p>
<p>上獸，中品七種。舊同。</p>

<h3>燕屎</h3>
<p>味辛，平。主蠱毒鬼注，逐不祥邪氣，破五癃，利小便。生平谷。</p>
<p>《名醫》曰：生高山。</p>
<p>案：《說文》云：燕，元鳥也。爾口，布翅，枝尾，象形。作巢，避戊己，乙元鳥也。齊魯謂之乙，取其名自呼，象形。或作亂。《爾雅》云：燕亂。《夏小正》云：二月來降，燕乃睇。《傳》云：燕，乙也，九月陟元鳥，蟄。《傳》云：元鳥者，燕也。</p>

<h3>天鼠屎</h3>
<p>味辛，寒。主面癰腫，皮膚洗洗時痛，腸中血氣，破寒熱積聚，除驚悸。一名鼠沄，一名石肝。生山谷。</p>
<p>《名醫》曰：生合浦。十月、十二月取。</p>
<p>案：李當之云：即伏翼屎也。李云：天鼠，《方言》一名仙鼠。</p>
<p>案：今本《方言》云：或謂之老鼠，當為天字之誤也。</p>
<p>上禽，中品二種。舊同。</p>

<h3>猥皮</h3>
<p>味苦，平。主五痔陰蝕，下血赤白五色，血汁不止，陰腫、痛引要背。酒煮殺之。生川穀。</p>
<p>《名醫》曰：生楚山田野。取無時。</p>
<p>案：《說文》云：⿱艹認，似豪豬者，或作猥。《廣雅》云：虎王，猥也。《爾雅》云：匯，毛刺。郭璞云：今謂狀似鼠。《淮南子·說山訓》云：鵲矢中猥。</p>

<h3>露蜂房</h3>
<p>味苦，平。主驚癇瘈瘲，寒熱邪氣，瘨疾，鬼精蠱毒，腸痔。火熬之，良。一名蜂腸。生山谷。</p>
<p>《名醫》曰：一名百穿，一名蜂𭄰。生牂柯。七月七日採，陰乾。</p>
<p>案：《淮南子·汜論訓》云：蜂房不容卵。高誘云：房巢也。</p>

<h3>鱉甲</h3>
<p>味鹹，平。主心腹癥瘕堅積、寒熱，去痞、息肉、陰蝕、痔、惡肉。生池澤。</p>
<p>《名醫》曰：生丹陽，取無時。</p>
<p>案：《說文》云：鱉，甲蟲也。</p>

<h3>蟹</h3>
<p>味鹹，寒。主胸中邪氣、熱結痛，喎僻而腫。敗漆燒之，致鼠。生池澤。</p>
<p>《名醫》曰：生伊洛諸水中，取無時。</p>
<p>案：《說文》云：蟹，有二敖八足旁行，非蛇鱔之穴無所庇。或作䲒，蛫蟹也。《荀子·勤學扁》云：蟹，六跪而二螯，非蛇蟺之穴無所寄託。《廣雅》云：晡蟹，蛫也。《爾雅》云：螖蠌，小者蟧。郭璞云：或曰即蟚螖也，似蟹而小。</p>

<h3>柞蟬</h3>
<p>味鹹，寒。主小兒驚癇、夜啼，瘨病，寒熱。生楊柳上。</p>
<p>《名醫》曰：五月採，蒸乾之。</p>
<p>案：《說文》云：蟬以旁鳴者，蜩蟬也。《廣雅》云：⿱予心蛣，蟬也；覆育，蛻也。舊作蚱蟬。《別錄》云：蚱者，鳴蟬也。殼，一名楉蟬。又名伏蜟，案：蚱，即柞字。《周禮·考工記》云：侈，則柞。鄭元云：柞，讀為咋咋然之咋，聲大外也。《說文》云：諸，大聲也，音同柞，今據作柞。柞蟬，即五月鳴蜩之蜩。《夏小正》云：五月良蜩鳴。《傳》：良蜩也，五采具。《爾雅》云：蜩，螂蜩。《毛詩》云：如蜩。《傳》云：蜩，蟬也。《方言》云：楚，謂之蜩；宋、衛之間，謂之螗蜩；陳鄭之間，謂之螂蜩；秦、晉之間，謂之蟬；海岱之間，謂之⿱予心。《論衡》云：蟬，生於覆育，開背而出。而《玉篇》云：蚱蟬，七月生。陶弘景：音蚱作笮，云瘂蟬，是為《月令》人寒蟬，《爾雅》所云蜺矣，《唐本》注非之也。</p>

<h3>蠐螬</h3>
<p>味鹹，微溫。主惡血、血瘀（《御覽》作血瘴），痹氣，破折、血在脅下堅滿痛，月閉，目中淫膚，青翳白膜。一名蟦蠐。生平澤。</p>
<p>《名醫》曰：一名蜰齊，一名勃齊。生河內人家積糞草中。取無時。反行者，良。</p>
<p>案：《說文》云𧓉，𧓉螬也；蝤，蝤𧓉也；蠍，蝤𧓉也。《廣雅》云：蛭蛒，䖭蠾，地蠶，蠹，蠐螬。《爾雅》云：蟦，蠐螬。郭璞云：在糞土中。又蝤蠐，蠍。郭璞云：在木中。今雖通名蠍，所在異。又蠍，蛣𧌑。郭璞云：木中囊蟲。蠍，桑蠹，郭璞云：即拮掘。《毛詩》云：領如蝤蠐。《傳》云：蝤蠐，蠍蟲也。《方言》云：蠐螬，謂之蟦。自關而東，謂之蝤蠐，或謂之蠶蠾，梁益之間，謂之蛒，或謂之蠍，或謂之蛭蛒；秦晉之間，謂之蠹，或謂之天螻。《列子·天瑞篇》云：烏足根為蠐螬。《博物志》云：蠐螬以背行，快於足用。《說文》無蟦字，當借蜰為之。聲相近，字之誤也。</p>

<h3>烏賊魚骨</h3>
<p>味鹹，微溫。主女子漏下赤白經汁，血閉，陰蝕腫痛，寒熱症瘕，無子。生池澤。</p>
<p>《名醫》曰：生東海。取無時。</p>
<p>案：《說文》云：鰂，烏鰂，魚名，或作鯽。《左思賦》有烏賊。劉逵注云：烏賊魚，腹中有墨。陶弘景雲：此是𪇰烏所化作，今其口腳具存，猶相似爾。</p>

<h3>白殭蠶</h3>
<p>味鹹。主小兒驚癇夜啼，去三蟲，減黑皯，令人面色好，男子陰瘍病。生平澤。</p>
<p>《名醫》曰：生潁川。四月取自死者。</p>
<p>案：《說文》云：蠶任絲也。《淮南子·說林訓》云：蠶，食而不飲，二十二日而化。《博物志》云：蠶三化，先孕而後交。不交者，亦生子，子後為蜸，皆無眉目，易傷，收採亦薄。《玉篇》作殭蠶，正當為僵，舊作殭，非。</p>

<h3>鮀魚甲</h3>
<p>味辛，微溫，主心腹癥瘕、伏堅、積聚、寒熱，女子崩中，下血五色，小腹陰中相引痛，創疥死肌。生池澤。</p>
<p>《名醫》曰：生南海。取無時。</p>
<p>案：《說文》云：鱔，魚石，皮可為鼓。鼉蜥，水蟲似蜥，易長大。陶弘景雲：蛇，即鼉甲也。</p>

<h3>樗雞</h3>
<p>味苦，平，主心腹邪氣，陰痿，益精強志，生子，好色、補中、輕身。生川穀。</p>
<p>《名醫》曰：生河內樗樹上。七月採，曝乾。</p>
<p>案：《廣雅》云：樗鳩，樗雞也。《爾雅》云：螒，天雞。李巡云：一名酸雞。郭璞云：小蟲，黑身赤頭，一名莎雞，又曰樗雞。《毛詩》云：六月莎雞振羽。陸璣云：莎雞，如蝗而斑色，毛翅數重，某翅正赤，或謂之天雞。六月中，飛而振羽，索索作聲。幽州人謂之蒲錯，是也。</p>

<h3>蛞蝓</h3>
<p>味鹹，寒。主賊風喎僻，軼筋及脫肛，驚癇攣縮。一名陵蠡。生池澤。</p>
<p>《名醫》曰：一名土喎，一名附喎。生大山及陰地沙石垣下。八月取。</p>
<p>案：《說文》云：蝓，虎蝓也。蠃，一名虎蝓。《廣雅》云：蠡蠃，蝸牛，螔蝓也。《中山經》云：青要之山，是多僕累。郭璞云：僕累，蝸牛也。《周禮》鱉人，祭祀供蠃。鄭云：蠃，螔蝓。《爾雅》云：蚹蠃，螔蝓。郭璞云：即蝸牛也。《名醫》曰：別出蝸牛條，非。舊作蛞，《說文》云所無。據《玉篇》云：蛞，蛞東，知即活東異文，然則當為活。</p>

<h3>石龍子</h3>
<p>味鹹，寒。主五癃邪結氣，破石淋，下血，利小便水道。一名蜥易，生川穀。</p>
<p>《吳普》曰：石龍子，一名守宮，一名石蜴，一名石龍子（《御覽》）。《名醫》曰：一名山龍子，一名守宮，一名石蜴。生平陽及荊山石間。五月取，著石上，令乾。</p>
<p>案：《說文》云：蜥，蟲之蜥蜴也。易，蜥易，蝘蜓，守宮也，象形。蝘，在壁，曰蝘蜓；在草，曰蜥易，或作蝘蚖、榮蚖蛇：醫以注鳴者。《廣雅》云：蛤解，𧓻𮔠，蚵蛖，蜥蜴也。《爾雅》云：蠑螈，蜥蜴；蜥蜴，蝘蜓；蜓蝘，守宮也。《毛詩》云：胡為虺蜴。《傳》云：蜴，螈也。陸璣云：虺蜴，一名蠑螈，蜴也，或謂之蛇醫，如蜥蜴，青綠色，大如指，形狀可惡。《方言》云：守宮，秦晉、西夏謂之守宮，或謂之𧓻𮔠，或謂之蜥易，其在澤中者，謂之易蜴；南楚謂之蛇醫，或謂之蠑螈；東齊、海岱謂之螔䗔；北燕謂之祝蜓；桂林之中，守宮大者而能鳴，謂之蛤蚧。</p>

<h3>木虻</h3>
<p>味苦，平。主目赤痛，眥傷淚出，瘀血血閉，寒熱酸𢠹，無子。一名魂常。生川澤。</p>
<p>《名醫》曰：生漢中。五月取。</p>
<p>案：《說文》云：虻，齧人飛蟲。《廣雅》云：䘌螚，虻也，此省文。《淮南子·齊俗訓》云：水蠆，為𧐟芒。高誘云：青蛉也。又《說文訓》云：虻，散積血。</p>

<h3>蜚虻</h3>
<p>味苦，微寒。主逐瘀血，破下血積、堅痞癥瘕、寒熱，通利血脈及九竅。生川穀。</p>
<p>《名醫》曰：生江夏。五月取。腹有血者，良。</p>

<h3>蜚廉</h3>
<p>味鹹，寒。主血瘀（《御覽》引云：逐下血）、症堅、寒熱，破積聚，喉咽痹，內寒，無子。生川澤。</p>
<p>《吳普》曰：蜚廉蟲，神農、黃帝云：治婦人寒熱（《御覽》）。</p>
<p>《名醫》曰：生晉陽及人家屋間。立秋採。</p>
<p>案：《說文》云：蜰，盧，蜰也。蜚，臭蟲，負蠜也。蠜，⿰巾盡蠜也。《廣雅》云：飛蟅，飛蠊也。《爾雅》云：蜚，𧓻蜰。郭璞云：即負盤臭蟲。《唐本》注云：漢中人食之下氣，名曰石姜，一名盧蜰，一名負盤，占作蠊。據邢⿱日内疏引此作廉。</p>

<h3>䗪蟲</h3>
<p>味鹹，寒。主心腹寒熱洗洗，血積癥瘕，破堅，下血閉，生子大良。一名土鱉。生川澤。</p>
<p>《吳普》曰：䗪蟲，一名土鱉（《御覽》）。</p>
<p>《名醫》曰：一名土鱉。生河東及沙中、人家牆壁下、土中濕處。十月，曝乾。</p>
<p>案：《說文》云：蟅蟲，屬蠜，目蠜也。《廣雅》云：負蠜，蟅也。《爾雅》云：草蟲，負蠜。郭璞云：常羊也。《毛詩》云：喓喓草蟲。《傳》云：草蟲，常羊也。陸璣云：小大長短如蝗也。奇音，青色，好在茅草中。</p>

<h3>伏翼</h3>
<p>味鹹，平。主目瞑，明目，夜視有精光。久服，令人喜樂，媚好無憂。一名蝙蝠。生川穀（舊部禽部，今移）。</p>
<p>《吳普》曰：伏翼，或生人家屋間。立夏後，陰乾，治目冥，令人夜視有光（《藝文類聚》）。</p>
<p>《名醫》曰：生太山及人家屋間。立夏後採，陰乾。</p>
<p>案：《說文》云：蝙，蝙蝠也；蝠，蝙蝠，服翼也。《廣雅》云：伏翼，飛鼠，仙鼠，𧊖嚜也。《爾雅》云：蝙蝠，服翼。《方言》云：蝙蝠，自關而東，謂之伏翼，或謂之飛鼠，或謂之老鼠，或謂之仙鼠；自關而西，秦隴之間，謂之蝙蝠；北燕謂之𧊄𮔠。李當之云：即天鼠。</p>
<p>上蟲、魚，中品一十七種。舊十六種。考禽部伏翼宜入此。</p>

<h3>梅實</h3>
<p>味酸，平。主下氣，除熱、煩、滿，安心，肢體痛，偏枯不仁，死肌，去青黑志，惡疾。生川穀。</p>
<p>《吳普》曰：梅實（《大觀本草》作核），明目，益氣（《御覽》）、不飢（《大觀本草》引《吳氏本草》）。</p>
<p>《名醫》曰：生漢中。五月採，火干。</p>
<p>案：《說文》云：蘵，乾梅之屬，或作𧋈。某，酸果也。以梅為楠。《爾雅》云：梅楠。郭璞云：似杏，實酢，是以某注梅也。《周禮》：籩人饋食，籩，其實幹蘵。鄭云：干蘵，乾梅也。有桃諸、梅諸，是其乾者。《毛詩》疏云：梅暴為臘，羹臛虀中，人含之，以香口（《大觀本草》）。</p>
<p>上果，中品一種。舊同。</p>

<h3>大黃豆卷</h3>
<p>味甘，平。主濕痹，筋攣，膝痛。</p>
<p>生大豆　塗癰腫，煮汁飲，殺鬼毒，止痛。</p>
<p>赤小豆　主下水，排癰腫膿血。生平澤。</p>
<p>《吳普》曰：大豆黃卷，神農、黃帝、雷公：無毒。採無時。去面䵟。得前胡、烏啄、杏子、牡蠣、天雄、鼠屎，共蜜和，佳。不欲海藻、龍膽。此法，大豆初出黃土芽是也。生大豆，神農、岐伯：生、熟，寒。九月採。殺烏豆毒，並不用元參。赤小豆，神農、黃帝：咸；雷公：甘。九月採（《御覽》）。</p>
<p>《名醫》曰：生大山。九月採。</p>
<p>案：《說文》云：椒，豆也，象豆生之形也；荅，小椒也。藿，椒之少也。《廣雅》云：大豆，椒也；小豆，荅也；豆角，謂之莢；其葉，謂之藿。《爾雅》云：戎叔，謂之荏叔。孫炎支：大豆也。</p>

<h3>粟米</h3>
<p>味鹹，微寒。主養腎氣，去胃、脾中熱，益氣。陳者，味苦，主胃熱，消渴，利小便（《大觀本草》作黑字，據《吳普》增）。</p>
<p>《吳普》曰：陳粟，神農、黃帝：苦，無毒。治脾熱、渴。粟，養腎氣（《御覽》）。</p>
<p>案：《說文》云：粟，嘉穀實也。孫炎注《爾雅》粢稷云：粟也，今關中人呼小米為粟米，是。</p>

<h3>黍米</h3>
<p>味甘，溫。主益氣補中，多熱、令人煩（《大觀本》作黑字，據《吳普》增）。</p>
<p>《吳普》曰：黍，神農：甘，無毒。七月取，陰乾。益中補氣（《御覽》）。</p>
<p>案：《說文》云：黍，禾屬而黏者。以大暑而種，故謂之黍。孔子曰：黍，可為酒，禾入水也。《廣雅》云：粢，黍稻，其採謂之禾。《齊氏要術》引記勝之書曰：黍，忌醜。又曰：黍，生於巳，壯於酉，長於戌，老於亥，死於醜，惡於丙午，忌於醜寅卯。按：黍，即糜之種也。</p>
<p>上米、谷，中品三種。舊二種，大、小豆為二，無粟米、黍米。今增。</p>

<h3>蓼實</h3>
<p>味辛，溫。主明目溫中，耐風寒，下水氣，面目浮腫，癰瘍。馬蓼，去腸中蛭蟲，輕身。生川澤。</p>
<p>《吳普》曰：蓼實，一名天蓼，一名野蓼，一名澤蓼（《藝文類聚》）。</p>
<p>《名醫》曰：生雷澤。</p>
<p>案：《說文》云：蓼，辛菜，薔虞也。薔，薔虞，蓼。《廣雅》云：葒，蘢，𧀺，馬蓼孔。《爾雅》云：牆虞，蓼。郭璞云：虞蓼，澤蘿。又葒，蘢古。其大者，歸。郭璞云：俗呼葒草為蘢鼓，語轉耳。《毛詩》云：隰有游龍。《傳》云：龍，紅草也。陸璣云：一名馬蓼，葉大而赤色，生水中，高丈餘。又，以薅殺蓼。《傳》云：蓼，水草也。</p>

<h3>蔥實</h3>
<p>味辛，溫。主明目，補中不足。其莖可作湯，主傷寒寒熱，出汗，中風面目腫。</p>

<h3>䪥</h3>
<p>味辛，溫。主金創，創敗，輕身、不飢、耐老。生平澤。</p>
<p>《名醫》曰：生魯山。</p>
<p>案：《說文》云：䪥，菜也，葉似韭。《廣雅》云：韭，䪥，蕎，其華謂之菁。《爾雅》云：䪥鴻薈。郭璞云：即䪥菜也。又，勁山賁。陶弘景雲：蔥、䪥異物，而今共條。《本經》既無韭，以其同類，故也。</p>

<h3>水蘇</h3>
<p>味辛，微溫。主下氣，闢口臭，去毒，辟惡。久服，通神明、輕身、耐老。生池澤。</p>
<p>《吳普》曰：芥蒩，一名水蘇，一名勞祖（《御覽》）。</p>
<p>《名醫》曰：一名雞蘇，一名勞祖，一名芥蒩，一名芥苴。生九真，七月採。</p>
<p>案：《說文》云：蘇，桂荏也。《廣雅》云：芥蒩，水蘇也。《爾雅》云：蘇，桂，荏。</p>
<p>郭璞云：蘇，荏類，故名桂荏。《方言》云：蘇，亦荏也。關之東西，或謂之蘇，或謂之荏；周鄭之間，謂之公賁；沅湘之南，謂之𦵯，其小者，謂之䖆柔。按：䖆柔，即香薷也。亦名香葇。《名醫》別出香薷條，非。今紫蘇、薄荷等，皆蘇類也。《名醫》俱別出之。</p>
<p>上菜，中品三種。舊四種，考蔥實，宜與䪥同條，今並假蘇，宜入草部。</p>

<h1>卷三</h1>

<h2>下經</h2>
<p>下藥，一百二十五種，為左使。主治病以應地。多毒，不可久服。欲除寒熱邪氣，破積聚，愈疾者，本下經。</p>
<p>石灰　礬石　鉛丹　粉錫錫鏡鼻　代赭　戎鹽大鹽　滷鹽　白堊　冬灰　青琅玕（上玉、石，下品八種。舊一十二種）　附子　烏頭　天雄　半夏　虎掌　鳶尾　大黃　葶藶　桔梗　莨蕩子　草蒿　旋覆花　藜蘆　鉤吻　射干　蛇合　恆山　蜀漆　甘遂　白蘞　青葙子　藿菌　白芨　大戟　澤漆　茵芋　貫眾　蕘花　牙子　羊躑躅　商陸　羊蹄　萹蓄狼毒　白頭翁　鬼臼　羊桃　女青　連翹　閭茹　烏韭　鹿藿　蚤休　石長生　陸英　藎草　牛萹　夏枯草　芫花（上草，下品四十九種。舊四十八種）　巴豆　蜀椒　皂莢　柳花　楝實　郁李仁　莽草　雷丸　桐葉　梓白皮　石南　黃環　溲疏　鼠李　藥實根　欒花　蔓椒（上木，下品一十七種。舊一十八種）　豚卵　麇脂　鼺鼠　六畜毛蹄甲（上獸，下品四種。舊同）　蛤蟆　馬刀　蛇蛻　蚯蚓　蠮螉　蜈蚣　水蛭　班苗　貝子　石蠶　雀甕　蜣螂　螻蛄　馬陸　地膽　鼠婦　熒火　衣魚（上蟲、魚，下品一十九種。舊一十八種）桃核仁　杏核仁（上，下品三種。舊同）腐婢（上米、谷，下品一種。舊同）苦瓠　水靳（上菜，下品二種。舊同）　彼子（上一種，未祥）</p>
<p>附《吳普本草》</p>

<h3>石灰</h3>
<p>味辛，溫。主疽瘍、疥瘙、熱氣，惡創、癩疾、死肌，墮眉，殺痔蟲，去黑子息肉。一名惡疢。生山谷。</p>
<p>《名醫》曰：一名希疢。生中山。</p>
<p>按：惡灰，疑當為堊灰。希、石，聲之緩急。</p>

<h3>礜石</h3>
<p>味辛，大熱。主寒熱，鼠瘻蝕創，死肌，風痹，腹中堅。一名青分石，一名立制石，一名固羊石（《御覽》引云：除熱，殺百獸。《大觀本》作黑字）。出山谷。</p>
<p>《吳普》曰：白鞏石，一名鼠鄉。神農、岐伯：辛，有毒；桐君：有毒。黃帝：甘，有毒；李氏云：或生魏興，或生少室。十二月採（《御覽》引云：一名太白，一名澤乳，一名食鹽。又云：李氏：大寒，主溫熱）。</p>
<p>《名醫》曰：一名白鞏石，一名太白石，一名澤乳，一名食鹽。生漢中及少室。採無時。</p>
<p>案：《說文》云：鞏，毒石也，出漢中。《西山經》云：皋塗之山，有白石焉，其名曰鞏，可以毒鼠。</p>
<p>《範子計然》云：鞏石，出漢中。色白者，善。《淮南子·地形訓》云：白天，九百歲，生白鞏。高誘云：白鞏，鞏石也。又《說林訓》云：人，食鞏石而死；蠶，食之而肥。高誘云：出陰山。一曰能殺鼠。案：《西山經》云：毒鼠，即治鼠瘻也。</p>

<h3>鉛丹</h3>
<p>味辛，微寒，主土逆胃反，驚癇瘨疾，除熱下氣。煉化還成九光。久服，通神明（《御覽》引作吐下，云久服成仙）。生平澤。</p>
<p>《名醫》曰：一名鉛華。生蜀郡。</p>
<p>案：《說文》云：鉛，青金也。陶弘景雲：即今熬鉛所作黃丹也。</p>

<h3>粉錫</h3>
<p>味辛，寒。主伏屍毒螫，殺三蟲。一名解錫。錫鏡鼻：主女子血閉，癥瘕，伏腸，絕孕。生山谷（舊作二種，今並）。</p>
<p>《名醫》曰：生桂陽。</p>
<p>案：《說文》云：錫，銀、鉛之間也。</p>

<h3>代赭</h3>
<p>味苦，寒。主鬼注、賊風、蠱毒，殺精物惡鬼，腹中毒邪氣，女子赤沃漏下。一名須丸。生山谷。</p>
<p>《名醫》曰：一名血師，生齊國，赤紅青色如雞冠，有澤。染爪甲，不渝者，良。採無時。</p>
<p>案：《說文》云：赭，赤土也。《北山經》云：少陽之山，其中多美赭。《管子·地數篇》云：山上有赭者，其下有鐵。《範子計然》云：石赭，出齊郡，赤色者，善；蜀赭，出蜀郡。據《元和郡縣誌》云：少陽山在交城縣，其地近代也。</p>

<h3>戎鹽</h3>
<p>主明目、目痛，益氣、堅肌骨，去毒蠱。大鹽：令人吐（《御覽》引云：主腸胃結熱。《大觀本》作黑字）。滷鹽：味苦，寒，主大熱，消渴狂煩，除邪及下蠱毒，柔肌膚（《御覽》引云：一名寒石，明目益氣）。生池澤（舊作三種，今並）。</p>
<p>《名醫》曰：戎鹽，一名胡鹽。生胡鹽山，及西羌、北地、酒泉、福祿城東南角。北海，青；南海，赤。十月採。大鹽，生邯鄲，又河東。滷鹽，生河東鹽池。</p>
<p>案：《說文》云：鹽，咸也。古者宿沙初作煮海鹽。滷，西方咸地也。從西省，象鹽形，安定有滷縣。東方，謂之斥；西方，謂之滷鹽。河東鹽池，袤五十一里，廣七里，周百十六里。《北山經》云：景山南望鹽販之澤。郭璞云：即解縣鹽池也。今在河東猗氏縣。案：在山西安邑運城。</p>

<h3>白堊</h3>
<p>味苦，溫。主女子寒熱、癥瘕、目閉、積聚。生山谷。</p>
<p>《吳普》曰：白堊，一名白蟮（《一切經音義》）。</p>
<p>《名醫》曰：一名白善。生邯鄲。採無時。</p>
<p>案：《說文》云：堊，白塗也。《中山經》云：蔥聾之山，是多白堊。</p>

<h3>冬灰</h3>
<p>味辛，微溫。主黑子，去疣、息肉、疽蝕、疥瘙。一名藜灰。生川澤。</p>
<p>《名醫》曰：生方谷。</p>

<h3>青琅玕</h3>
<p>味辛，平。主身癢、火創，癰傷、疥瘙、死肌。一名石珠。生平澤。</p>
<p>《名醫》曰：一名青珠，生蜀郡，採無時。</p>
<p>案：《說文》云：琅玕，似珠者，古文作。《禹貢》云：雍州貢與𧸗琳琅⿰木⿳艹癶⿱日小。鄭云：琅⿰木⿳艹癶⿱日小，珠也。</p>
<p>上玉、石，下品九種。舊十二種，粉錫、錫鏡鼻為二，戎鹽、大鹽、滷鹽為非，三考當各為一。</p>

<h3>附子</h3>
<p>味辛，溫。主風寒咳逆邪氣，溫中，金創，破症堅積聚，血瘕，寒濕，踒（《御覽》作痿）躄拘攣，腳痛不能行步（《御覽》引云：為百藥之長。《大觀本》作黑字）。生山谷。</p>
<p>《吳普》曰：附子，一名莨，神農：辛；岐伯、雷公：甘，有毒；李氏：苦，有毒，大溫。或生廣漢。八月採。皮黑，肥白（《御覽》）。</p>
<p>《名醫》曰：生楗為及廣漢東。月採，為附子；春採，為烏頭（《御覽》）。</p>
<p>案：《範子計然》云：附子，出蜀武都中。白色者，善。</p>

<h3>烏頭</h3>
<p>味辛，溫。主中內、惡風洗洗，出汗，除寒濕痹，咳逆上氣，破積聚、寒熱。其汁，煎之，名射罔，殺禽獸。一名奚毒，一名即子，一名烏喙。生山谷。</p>
<p>《吳普》曰：烏頭，一名莨，一名千狄，一名毒公，一名卑負（《御覽》作果負），一名耿子。神農、雷公、桐君、黃帝：甘，有毒。正月始生，葉厚，莖方，中空，葉四四相當，與蒿相似。又云：烏喙，神農、雷公、桐君、黃帝：有毒；李氏：小寒，十月採，形如烏頭，有兩岐相合，如烏之喙，名曰烏喙也。所畏、惡、使，盡與烏頭同。一名萴子，一名莨。神農、岐伯：有大毒；李氏：大寒。八月採，陰乾。是附子角之大者，畏、惡與附子同（《御覽》。</p>
<p>《名醫》曰：生郎陵。正月、二月採，陰乾。長三寸以上，為天雄。</p>
<p>按：《說文》云：萴，烏喙也。《爾雅》云：芨，堇草。郭璞云：即烏頭也，江東呼為堇。《範子計然》云：烏頭，出三輔中，白者，善。《國語》云：驪姬置堇於肉。韋昭云：堇，烏頭也。《淮南子·主術訓》云：莫凶於雞毒，高誘云：雞毒，烏頭也。按：雞毒，即奚毒；即子，即萴子、側子也。《名醫》別出側子條，非。</p>

<h3>天雄</h3>
<p>味辛，溫，主大風，寒濕痹，瀝節痛，拘攣緩急，破積聚，邪氣，金創，強筋骨，輕身健行。一名白幕（《御覽》引云：長陰氣，強志，令人武勇，力作不倦。《大觀本》作黑字）。生山谷。</p>
<p>《名醫》曰：生少室。二月採根，陰乾。</p>
<p>案：《廣雅》云：𧄝，奚毒，附子也。一歲，為萴子；二歲，為烏喙；三歲，為附子；四歲，為烏頭；五歲，為天雄。《淮南子·繆稱訓》云：天雄，烏喙，藥之凶毒也。良醫以活人。</p>

<h3>半夏</h3>
<p>味辛，平。主傷寒寒熱，心下堅，下氣，喉咽腫痛，頭眩胸脹，咳逆腸鳴，止汗。一名地文，一名水玉（以上八字，原本黑字）。生川穀。</p>
<p>《吳普》曰：半夏，一名和姑，生微邱，或生野中。葉三三相偶，二月始生，白花、員，上（《御覽》）。</p>
<p>《名醫》曰：一名示姑。生槐里。五月、八月採根，曝乾。</p>
<p>案：《月令》云：二月半夏生。《範子計然》云：半夏，出三輔。色白者善。《列仙傳》云：赤松子服水玉以教神農。疑即半夏別名。</p>

<h3>虎掌</h3>
<p>味苦，溫。主心痛寒熱，結氣、積聚、伏梁，傷筋、痿、拘緩，利水道。生山谷。</p>
<p>《吳普》曰：虎掌，神農、雷公：苦，無毒；岐伯、桐君：辛，有毒。立秋九月採之（《御覽》引云：或生太山，或宛朐）。</p>
<p>《名醫》曰：生漢中及冤句。二月、八月採，陰乾。</p>
<p>案：《廣雅》云：虎掌，瓜屬也。</p>

<h3>鳶尾</h3>
<p>味苦，平。主蠱毒邪氣，鬼注，諸毒，破癥瘕積聚，去水，下三蟲。生山谷。</p>
<p>《吳普》曰：鳶尾，治蠱毒（《御覽》）。</p>
<p>《名醫》曰：一名烏園。生九嶷山。五月採。</p>
<p>案：《廣雅》云：鳶尾，烏萐，射干也（疑當作鳶尾，烏園也；烏翣，射干也。是二物）。《唐本》注云：與射干全別。</p>

<h3>大黃</h3>
<p>味苦，寒。主下瘀血、血閉、寒熱，破癥瘕積聚，留飲宿食，盪滌腸胃，推陳致新，通利水殺（《御覽》，此下有道字），調中化食，安和五臟，生山谷。</p>
<p>《吳普》曰：大黃，一名黃良，一名火參，一名膚如，神農、雷公：苦，有毒；扁鵲：苦，無毒；李氏：小寒，為中將軍。或生蜀郡北部，或隴西。二月花生，生黃赤葉，四四相當，黃莖高三尺許；三月，花黃；五月，實黑。三月採根，根有黃汁，切，陰乾（《御覽》）。</p>
<p>《名醫》曰：一名黃良，生河西及隴西。二月、八月採根，火干。</p>
<p>案：《廣雅》云：黃良，大黃也。</p>

<h3>亭歷</h3>
<p>（舊作葶藶，《御覽》作亭歷）　</p>
<p>味辛，寒，主癥瘕、積聚、結氣，飲食、寒熱，破堅。一名大室，一名大適。生平澤及田野。</p>
<p>《名醫》曰：一名下歷，一名蕇蒿。生藁城。立夏後，採實陰乾。得酒，良。</p>
<p>案：《說文》云：蕇，亭歷也。《廣雅》云：狗薺、大室，亭藶也。《爾雅》云：蕇，亭歷。郭璞云：實、葉皆似芥，《淮南子·繆稱訓》云：亭歷愈張。《西京雜記》云：亭歷，死於盛夏。</p>

<h3>桔梗</h3>
<p>味辛，微溫。主胸脅痛如刀刺，腹滿，腸鳴幽幽，驚恐悸氣（《御覽》引云：一名利如。《大觀本》作黑字）。生山谷。</p>
<p>《吳普》曰：桔梗，一名符扈，一名白芍，一名利如，一名梗草，一名盧如。神農、醫和：苦，無毒；扁鵲、黃帝：咸；岐伯、雷公：甘，無毒；李氏：大寒。葉如薺苨，莖如筆管，紫赤。二月生（《御覽》）。</p>
<p>《名醫》曰：一名利如，一名房圖，一名白藥，一名梗草，一名薺苨。生蒿高及冤句。二、八月採根，曝乾。</p>
<p>案：《說文》云：桔，桔梗，藥名。《廣雅》云：犁如，桔梗也。《戰國策》云：今求柴胡，及之睪黍梁父之陰，則郄車而載耳。桔梗於沮澤，則累世不得一焉，《爾雅》云：苨，茋苨。郭璞云：薺苨。據《名醫》是此是別名，下又出薺苨條，非。然陶弘景亦別為二矣。</p>

<h3>莨蕩子</h3>
<p>味苦，寒。主齒痛出蟲，肉痹拘急，使人健行，見鬼。多食，令人狂走。久服，輕身、走及奔馬、強志、益力、通神。一名橫唐。生川穀。</p>
<p>《名醫》曰：一名行唐。生海濱及壅州。五月採子。</p>
<p>案：《廣雅》云：𦶐萍，䕞蕩也。陶弘景雲：今方家多作狼蓎。舊作菪。案：《說文》無菪、蓎字。《史記·淳于意傳》云：淄川王美人懷子而不乳，引以莨蕩藥一撮。《本草圖經》引作浪蕩，是。</p>

<h3>草蒿</h3>
<p>味苦，寒。主疥瘙、痂癢、惡創，殺蟲，留熱在骨節間，明目。一名青蒿，一名方潰。生川澤。</p>
<p>《名醫》曰：生華陰。</p>
<p>案：《說文》云：蒿，菣也；菣，香蒿也，或作𦸃。《爾雅》云：蒿菣。郭璞云：今人呼青蒿香中炙啖者為菣。《史記·司馬相如傳》：菴䕡。注《漢書音義》曰：菴䕡，蒿也。陶弘景雲：即今青蒿。</p>

<h3>旋覆花</h3>
<p>味鹹，溫。主結氣、脅下滿、驚悸，除水，去五臟間寒熱，補中下氣。一名金沸草，一名盛椹。生川穀。</p>
<p>《名醫》曰：一名戴椹。生平澤。五月採花，曬乾，二十日成。</p>
<p>案：《說文》云：蕧，盜庚也。《爾雅》云：蕧，盜庚。郭璞云：旋覆似菊。</p>

<h3>藜蘆</h3>
<p>（《御覽》作梨蘆）　</p>
<p>味辛，寒。主蠱毒，咳逆，泄利腸澼，頭瘍疥瘙，惡創，殺諸蠱毒，去死肌。一名蔥苒。生山谷。</p>
<p>《吳普》曰：藜蘆，一名蔥葵，一名豐蘆，一名蕙葵（《御覽》引云：一名山蔥，一名公苒）。神農、雷公：辛，有毒（《御覽》引云：玄黃帝：有毒）；岐伯：咸，有毒；李氏：大寒，大毒；扁鵲：苦，有毒，大寒。葉、根小相連（《御覽》引云：二月採根）。</p>
<p>《名醫》曰：一名蔥菼，一名山蔥。生太山。三月採根，陰乾。</p>
<p>案：《廣雅》云：藜蘆，蔥苒也。《範子計然》云：藜蘆，出河東，黃白者，善。《爾雅》云：茖，山蔥，疑非此。</p>

<h3>鉤吻</h3>
<p>（《御覽》作肳）　</p>
<p>味辛，溫。主金創乳痓，中惡風，咳逆上氣，水腫，殺鬼注（舊作疰，《御覽》作注，是）蠱毒。一名野葛。生山谷。</p>
<p>《吳普》曰：秦，鉤腸，一名毒根，一名野葛。神農：辛；雷公：有毒，殺人。生南越山，或益州，葉如葛，赤莖大如箭、方，根黃。或生會稽東治，正月採（《御覽》）。</p>
<p>《名醫》曰：生傅高山及會稽東野。</p>
<p>案：《廣雅》云：莨，鉤吻也。《淮南子·說林訓》云：蝮蛇螫人，敷以和堇，則愈。高誘云：和堇，野葛，毒藥。《博物志》云：鉤吻毒，桂心、蔥葉，沸，解之。陶弘景雲：或云鉤吻是毛莨。沈括《補筆談》云：閩中人，呼為吻莽，亦謂之野葛；嶺南人，謂之胡蔓；俗謂之斷腸草。此草，人間至毒之物，不入藥用。恐本草所出別是一物，非此鉤吻也。</p>

<h3>射干</h3>
<p>味苦，平。主咳逆上氣，喉痹咽痛不得消息，散急氣，腹中邪逆，食飲大熱。一名烏扇，一名烏蒲。生川穀。</p>
<p>《吳普》曰：射干，一名黃遠也（《御覽》）。</p>
<p>《名醫》曰：一名烏翣，一名烏吹，一名草姜。生南陽田野。三月三日採根，陰乾。</p>
<p>案：《廣雅》云：鳶尾，烏萐，射干也。《荀子·勸學篇》云：西方有木焉，名曰射干，莖長四寸。《範子計然》云：射干根如囗囗囗安定。</p>

<h3>蛇合</h3>
<p>（原注云，合是含字）　</p>
<p>味苦，微寒。主驚癇寒熱邪氣，除熱，金創，疽痔鼠瘻，惡創，頭瘍。一名蛇銜。生山谷。</p>
<p>《名醫》曰：生益州。八月採，陰乾。</p>
<p>按：《本草圖經》云：或云是雀瓢，即是蘿摩之別名。據陸璣云：芄蘭，一名蘿摩，幽州謂之雀瓢，則即《爾雅》雚，芄蘭也。《唐本草》別出蘿摩條，非。又，見女青。</p>

<h3>恆山</h3>
<p>（舊作常山，《御覽》作恆山，是）　</p>
<p>味苦，寒。主傷寒寒熱，熱發溫瘧，鬼毒，胸中痰結吐逆。一名互草。生川穀。</p>
<p>《吳普》曰：恆山，一名漆葉。神農、岐伯：苦；李氏：大寒；桐君：辛，有毒。二月、八月採。</p>
<p>《名醫》曰：生益州及漢中。八月採根，陰乾。</p>
<p>案：《後漢書·華佗傳》云：佗授以漆葉青黏散：漆葉屑一斗，青黏十四兩，以是為率，言久服去三蟲，利五臟，輕體，使人頭不白。</p>

<h3>蜀漆</h3>
<p>味辛，平。主瘧及咳逆寒熱，腹中症堅、痞結、積聚，邪氣、蠱毒、鬼注（舊作疰，《御覽》作蛀）。生川穀。</p>
<p>《吳普》曰：蜀漆葉，一名恆山。神農、岐伯、雷公：辛，有毒；黃帝：辛；一經：酸。如漆葉藍青相似，五月採（《御覽》）。</p>
<p>《名醫》曰：生江陵山及蜀漢中常山。苗也，五月採葉，陰乾。</p>
<p>案：《廣雅》云：恆山，蜀漆也。《範子計然》云：蜀漆，出蜀郡。</p>

<h3>甘遂</h3>
<p>味苦，寒。主大腹疝瘕，腹滿，面目浮腫，留飲宿食，破症堅積聚，利水穀道。一名主田。生川穀。</p>
<p>《吳普》曰：甘遂，一名主田，一名白澤，一名重澤，一名鬼醜，一名陵藁，一名甘槁，一名甘澤。神農、桐君：苦，有毒。歧伯、雷公：有毒。須二月、八月採（《御覽》）。</p>
<p>《名醫》曰：一名甘藁，一名陵藁，一名陵澤，一名重澤。生中山，二月採根，陰乾。</p>
<p>案：《廣雅》云：陵澤，甘遂也。《範子計然》云：甘遂，出三輔。</p>

<h3>白蘞</h3>
<p>味苦，平。主癰腫疽創，散結氣，止痛除熱，目中赤，小兒驚癇，溫瘧，女子陰中腫痛。一名免核，一名白草。生山谷。</p>
<p>《名醫》曰：一名白根，一名崑崙。生衡山，二月、八月採根，曝乾。</p>
<p>案：《說文》云：薟，白薟也，或作蘞。《毛詩》云：蘞蔓於野。陸璣疏云：蘞，似栝蔞，葉盛而細，其子正黑，如燕薁，不可食也。幽人謂之烏服，其莖、葉鬻以哺牛，除熱。《爾雅》云：⿰镸舜，菟荄。郭璞云：未詳。據《玉篇》云：⿰镸舜，白蘞也。《經》云：一名菟核。核與荄，聲相近，即此矣。</p>

<h3>青葙子</h3>
<p>味苦，微寒。主邪氣，皮膚中熱，風瘙身癢，殺三蟲，子：名草決明，療唇口青。一名草蒿，一名萋蒿。生平谷。</p>
<p>《名醫》曰：生道旁，三月三日採莖、葉，陰乾；五月六日採子。</p>
<p>案：《魏略》云：初平中有青牛先生，常服青葙子。葙，當作箱字。</p>

<h3>雚菌</h3>
<p>味鹹，平。主心痛，溫中，去長患、白瘲、蟯蟲、蛇螫毒，癥瘕、諸蟲。一名雚蘆，生池澤。</p>
<p>《名醫》曰：生東海及渤海、章武。八月採，陰乾。</p>
<p>案：《爾雅》云：滇灌，茵芝。《文選》注引作菌。《聲類》云：滇灌，茵芝也，疑即此灌菌，或一名滇，一名芝，未敢定之。</p>

<h3>白芨</h3>
<p>（《御覽》作芨）　</p>
<p>味苦，平。主癰腫、惡創、敗疽，傷陰，死肌，胃中邪氣，賊風鬼擊，痱緩不收。一名甘根，一名連及草。生川穀。</p>
<p>《吳普》曰：神農：苦；黃帝：辛；李氏：大寒；雷公：辛，無毒。莖葉似生薑、藜蘆。十月花，直上，紫赤，根白連。二月、八月、九月採。</p>
<p>《名醫》曰：生北山及冤句，及越山。</p>
<p>案：《隋羊公服黃精法》云：黃精，一名白芨，亦為黃精別名。今《名醫》別出黃精條。</p>

<h3>大戟</h3>
<p>味苦，寒。主蠱毒、十二水，腫滿急痛，積聚，中風，皮膚疼痛，吐逆。一名卬鉅（案：此無生川澤三字者，古或與澤漆為一條）。</p>
<p>《名醫》曰：生常山。十二月採根，陰乾。</p>
<p>案：《爾雅》云：蕎，卬鉅。郭璞云：今藥草之戟也。《淮南子·繆爾訓》云：大戟去水。</p>

<h3>澤漆</h3>
<p>味苦，微寒。主皮膚熱，大腹、水氣，四肢面目浮腫，丈夫陰氣不足。生川澤。</p>
<p>《名醫》曰：一名漆莖，大戟苗也。生太山。三月三日、七月七日採莖、葉，陰乾。</p>
<p>案：《廣雅》云：黍莖，澤漆也。</p>

<h3>茵芋</h3>
<p>味苦，溫。主五臟邪氣，心腹寒熱，羸瘦如瘧狀，發作有時，諸關節風濕痹痛。生川穀。</p>
<p>《吳普》曰：茵芋，一名卑共。微溫，有毒。狀如莽草而細軟（《御覽》）。</p>
<p>《名醫》曰：一名莞草，一名卑共，生太山。三月三日採葉，陰乾。</p>

<h3>貫眾</h3>
<p>味苦，微寒。主腹中邪熱氣，諸毒，殺三蟲。一名貫節，一名貫渠，一名百頭（《御覽》）作白），一名虎卷，一名扁符。生山谷。</p>
<p>《吳普》曰：貫眾，一名貫來，一名貫中，一名渠母，一名貫鍾，一名柏芹，一名藥藻，一名扁符，一名黃鐘。神農、岐伯：苦，有毒；桐君、扁鵲：苦；一經：甘，有毒；黃帝：咸，酸；一經：苦，無毒。葉黃，兩兩相對；莖，黑毛聚生。冬夏不老。四月花，八月實，黑聚相連，卷旁行生。三月、八月採根，五月採藥（《御覽》）。</p>
<p>《名醫》曰：一名伯萍，一名藥藻。此謂草鴟頭。生元山及冤句、少室山。二月、八月採根，陰乾。</p>
<p>案：《說文》云：𦬕草也。《廣雅》云：貫節，貫眾也。《爾雅》云：濼，費眾。郭璞云：葉，圓銳；莖，毛黑。布地，冬夏不死。一名貫渠。又上云：扁符，止。郭璞云：未祥。據《經》云：一名篇符，即此也。《爾雅》當云：篇符，止；濼，貫眾。</p>

<h3>蕘花</h3>
<p>味苦，平，寒。主傷寒溫瘧，下十二水，破積聚、大堅、癥瘕，盪滌腸胃中留癖飲食、寒熱邪氣，利水道，生川穀。</p>
<p>《名醫》曰：生咸陽及河南中牟。六月採花，陰乾。</p>

<h3>牙子</h3>
<p>味苦，寒。主邪氣、熱氣，疥瘙、惡瘍、創痔，去白蟲。一名狼牙，生川穀。</p>
<p>《吳普》曰：狼牙，一名支蘭，一名狼齒，一名犬牙，一名抱子。神農、黃帝：苦，有毒；桐君：或咸；岐伯、雷公、扁鵲：無毒。生冤句。葉青，根黃赤，六月、七月花，八月實黑。正月、八月採根（《御覽》）。</p>
<p>《名醫》曰：一名狼齒，一名狼子，一名犬牙。生淮南及冤句。八月採根，曝乾。</p>
<p>案：《範子計然》云：狼牙，出三輔。色白者，善。</p>

<h3>羊躑躅</h3>
<p>味辛，溫。主賊風在皮膚中，淫淫痛，溫瘧，惡毒，諸痹。生川穀。</p>
<p>《吳普》曰：羊躑躅花，神農、雷公：辛，有毒。生淮南。治賊風、惡毒，諸邪氣（《御覽》）。</p>
<p>《名醫》曰：一名玉支，生太行山及淮南山。三月採花，陰乾。</p>
<p>案：《廣雅》云：羊躑躅，英光也。《古今注》云：羊躑躅花，黃羊食之，則死；羊見之，則躑躅分散，故名羊躑躅。陶弘景雲：花苗似鹿蔥。</p>

<h3>商陸</h3>
<p>味辛，平。主水張、疝瘕、痹，熨除癰腫，殺鬼精物。一名𦳝根，一名夜呼。生川穀。</p>
<p>《名醫》曰：如人行者，有神。生咸陽。</p>
<p>案：《說文》：𦳝草，枝枝相值，葉葉相當。《廣雅》云：常蓼，馬尾，商陸也。《爾雅》云：蓫𧀫，馬尾。郭璞云：今關西亦呼為陸也。蓋𧀫，即𦳝俗字；商，即𦳝假音。</p>

<h3>羊蹄</h3>
<p>味苦，寒。主頭禿、疥瘙，除熱，女子陰蝕（《御覽》此四字作無字）。一名東方宿，一名連蟲陸，一名鬼目，生川澤。</p>
<p>《名醫》曰：名蓄。生陳留。</p>
<p>案：《說文》云：荲草也，讀若釐。藋，釐草也。芨，堇草也。《廣雅》云：荲，羊蹄也。《毛詩》云：言採其蓫。陸德明云：本又作蓄。陸璣云：今人謂之羊蹄。陶弘景雲：今人呼禿菜，即是蓄音之偽。《詩》云：言採其蓄。案：陸英，疑即此草之花，此草一名連蟲陸，又陸英，即蒴藋，一名荲也。亦苦、寒。</p>

<h3>萹蓄</h3>
<p>味辛，平。主浸淫、疥瘙、疽痔，殺三蟲（《御覽》引云：一名篇竹。《大觀本》無文）。生山谷。</p>
<p>《吳普》曰：萹蓄，一名蓄辯，一名萹蔓（《御覽》）。</p>
<p>《名醫》曰：生東萊。五月採，陰乾。</p>
<p>案：《說文》云：萹，萹⿱艹⿰工几也，⿱艹⿰工几，萹⿱艹⿰工几也，藩水萹。藩，讀若督。《爾雅》云：竹，萹蓄。郭璞云：似水藜，赤莖節。好生道旁。可食，又殺蟲。《毛詩》云：綠竹猗猗。《傳》云：竹，萹竹也。《韓詩》𦺇云：𦺇，萹⿱艹⿰工几也。《石經》同。</p>

<h3>狼毒</h3>
<p>味辛，平。主咳逆上氣，破積聚、飲食、寒熱，水氣、惡創，鼠瘻、疽蝕，鬼精、蠱毒，殺飛鳥、走獸，一名續毒。生山谷。</p>
<p>《名醫》曰：生秦亭及奉高。二月、八月採根，陰乾。</p>
<p>案：《廣雅》云：狼毒也（疑上脫續毒二字）。《中山經》云：大⿰氵畨之山有草焉，其狀如蓍而毛，青花而白實，其名曰𦴭，服之不夭，可以為腹病。</p>

<h3>白頭翁</h3>
<p>味苦，溫。主溫瘧、易狂、寒熱、癥瘕積聚、癭氣，逐血、止痛，療金瘡。一名野丈人，一名胡王使者。生山谷。</p>
<p>《吳普》曰：白頭翁，一名野丈人，一名奈河草。神農、扁鵲：苦，無毒。生嵩山川穀。破氣狂寒熱，止痛（《御覽》）。</p>
<p>《名醫》曰：一名奈河草，生高山及田野。四月採。</p>
<p>案：陶弘景雲：近根處有白茸，狀似人白頭，故以為名。</p>

<h3>鬼臼</h3>
<p>味辛，溫。主殺蠱毒鬼注、精物，辟惡氣不祥，逐邪，解百毒。一名爵犀，一名馬目毒公，一名九臼。生山谷。</p>
<p>《吳普》曰：一名九臼，一名天臼，一名雀犀，一名馬目公，一名解毒。生九真山谷及冤句，二月、八月採根（《御覽》）。</p>
<p>《名醫》曰：一名天臼，一名解毒，生九真及冤句，二月、八月採根。</p>

<h3>羊桃</h3>
<p>味苦，寒。主熛熱，身暴赤色，風水積聚，惡瘍，除小兒熱。一名鬼桃，一名羊腸。生川穀。</p>
<p>《名醫》曰：一名萇楚，一名御弋，一名銚弋。生山林及田野，二月採，陰乾。</p>
<p>案：《說文》云：萇，萇楚，銚弋，一名羊桃。《廣雅》云：鬼桃、銚弋，羊桃也。《中山經》云：豐山多羊桃，狀如桃而方，莖可以為皮張。《爾雅》云：長楚，姚芅。郭璞云：今羊桃也，或曰鬼桃。葉似桃；花白；子如小麥，亦似桃。《毛詩》云：隰有萇楚。《傳》云：萇楚，銚弋也。陸璣云：今羊桃是也，葉長而狹，花紫赤色，其枝、莖弱，過一尺，引蔓於草上。今人以為汲灌，重而善沒，不如楊柳也。近下根，刀切其皮，著熱灰中，脫之，可韜筆管。</p>

<h3>女青</h3>
<p>味辛，平。主蠱毒，逐邪惡氣，殺鬼溫瘧，闢不祥。一名雀瓢（《御覽》作閭）。</p>
<p>《吳普》曰：女青，一名霍由祗。神農、黃帝：辛（《御覽》）。</p>
<p>《名醫》曰：蛇銜根也。生朱崖，八月採，陰乾。</p>
<p>案：《廣雅》云：女青，烏葛也。《爾雅》云：，芄蘭。郭璞云：雚芄蔓生。斷之，有白汁，可啖。《毛詩》云：芄蘭之支。《傳》云：芄，蘭草也。陸璣云：一名蘿摩。幽州人謂之雀瓢。《別錄》云：雀瓢白汁，注蟲蛇毒，即女青苗汁也。《唐本草》別出蘿摩條，非。</p>

<h3>連翹</h3>
<p>味苦，平。主寒熱、鼠瘻，瘰癧、癰腫，惡創，癭瘤，結熱蠱毒。一名異翹，一名蘭花，一名軹，一名三廉。生山谷。</p>
<p>《名醫》曰：一名折根，生太山，八月採，陰乾。</p>
<p>案：《爾雅》云：連，異翹。郭璞云：一名連苕，又名連本草云。</p>

<h3>蘭茹</h3>
<p>（《御覽》作閭，是）</p>
<p>味辛，寒。主蝕惡肉、敗創、死肌，殺疥蟲，排膿惡血，除大風，善忘不樂。生川穀。</p>
<p>《吳普》曰：閭茹，一名離樓，一名屈居。神農：辛；岐伯：酸、咸，有毒；李氏：大寒。二月採。葉圓黃，高四、五尺。葉四四相當。四月花黃，五月實黑、根黃，有汁，亦同黃。三月、五月採根。黑頭者，良（《御覽》）。</p>
<p>《名醫》曰：一名屈據，一名離婁，生代郡。五月採，陰乾。</p>
<p>案：《廣雅》云：屈居，蘆茹也。《範子計然》云：閭茹，出武都。黃色者，善。</p>

<h3>烏韭</h3>
<p>味甘，寒。主皮膚往來寒熱，利小腸膀胱氣。生山谷石上。</p>
<p>案：《廣雅》云：昔邪，烏韭也，在屋，曰昔邪；在牆，曰垣衣。《西山經》云：萆荔，狀如烏韭。《唐本》注云：即石衣也，亦名石苔，又名石發。按：《廣雅》又云：石發，石衣也，未知是一否。</p>

<h3>鹿藿</h3>
<p>味苦，平。主蠱毒，女子腰腹痛，不樂，腸癰、瘰癧（《御覽》作歷）、瘍氣。生山谷。</p>
<p>《名醫》曰：生汶山。</p>
<p>案：《說文》云：藨，鹿藿也，讀若剽。《廣雅》云：藨，鹿藿也。《爾雅》云：蔨，鹿藿。其實，莥。郭璞云：今鹿豆也。葉似大豆，根黃而香，蔓延生。</p>

<h3>蚤休</h3>
<p>味苦，微寒。主驚癇、搖頭弄舌，熱氣在腹中，瘨疾癰創，陰蝕，下三蟲，去蛇毒。一名蚩休。生川穀。</p>
<p>《名醫》曰：生山及冤句。</p>
<p>案：鄭樵云：蚤休，曰螫休，曰重樓金綿，曰重臺，曰草甘遂，今人謂之紫河車。服食家所用，而莖葉亦可愛。多植庭院間。</p>

<h3>石長生</h3>
<p>味鹹，微寒。主寒熱、惡創、火熱，闢鬼氣不祥（《御覽》作辟惡氣、不祥、鬼毒）。一名丹草（《御覽》引云丹沙草）。生山谷。</p>
<p>《吳普》曰：石長生，神農：苦；雷公：辛；一經：甘。生咸陽（《御覽》）。</p>
<p>《名醫》曰：生咸陽。</p>

<h3>陸英</h3>
<p>味苦，寒。主骨間諸痹，四肢拘攣、疼酸，膝寒痛，陰痿，短氣不足，腳腫。生川穀。</p>
<p>《名醫》曰：生熊耳及冤句。立秋採。又曰：蒴藋，味酸，溫，有毒。一名堇（今本誤作堇），一名芨。生田野。春夏採葉；秋冬採莖、根。</p>
<p>案：《說文》云：堇草也。讀若釐。芨，荲草也，讀若急。藋，釐草也。《廣雅》云：蒛盆，陸英莓也。《爾雅》云：芨荲草。《唐本》注陸英云：此物，蒴藋是也。後人不識，浪出蒴藋條。今注云：陸英，味苦、寒，無毒；蒴藋，味酸、溫，有毒，既此不同。難謂一種，蓋其類爾。</p>

<h3>藎草</h3>
<p>味苦，平，主久咳上氣、喘逆，久寒，驚悸，痂疥、白禿、瘍氣，殺皮膚小蟲。生川穀。</p>
<p>《吳普》曰：王芻，一名黃草。神農、雷公曰：生太山山谷。治身熱邪氣，小兒身熱氣（《御覽》）。</p>
<p>《名醫》曰：可以染黃，作金公，生青衣。九月、十月採。</p>
<p>案：《說文》云：藎草也。䗫，王芻也。《爾雅》云：䗫，王芻。郭璞云：䗫，蓐也，今呼鴟腳莎。《毛詩》云：綠竹猗猗。《傳》云：䗫，王芻也。《唐本》注云：藎草，俗名䗫蓐草，《爾雅》所謂王芻。</p>

<h3>牛扁</h3>
<p>味甘，微寒。主身皮創熱氣，可作浴湯，殺牛蝨小蟲，又療牛病。生川穀。</p>
<p>《名醫》曰：生桂陽。</p>
<p>案：陶弘景雲：太常貯，名扁特，或名扁毒。</p>

<h3>夏枯草</h3>
<p>味苦，辛，主寒熱、瘰癧、鼠瘻、頭創，破症，散癭、結氣，腳腫，濕痹。輕身。一名夕句，一名乃東。生川穀。</p>
<p>《名醫》曰：一名燕面。生蜀郡。四月採。</p>

<h3>芫花</h3>
<p>味辛，溫。主咳逆上氣，喉鳴、喘，咽腫、短氣，蠱毒、鬼瘧，疝瘕、癰腫，殺蟲魚。一名去水。生川穀（舊在木部，非）。</p>
<p>《吳普》曰：芫花，一名去水，一名敗花，一名兒草根，一名黃大戟。神農、黃帝：有毒；扁鵲、岐伯：苦；李氏：大寒。二月生，葉青，加厚則黑。華有紫、赤、白者。三月實落盡，葉乃生。三月、五月採花。芫花根，一名赤芫根。神農、雷公：苦，有毒。生邯鄲，九月、八月採，陰乾。久服，令人泄。可用毒魚（《御覽》，亦見《圖經》節文）。</p>
<p>《名醫》曰：一名毒魚，一名杜芫。其根，名蜀桑，可用毒魚。生淮源。三月三日採藥，陰乾。</p>
<p>案：《說文》云：芫，魚毒也。《爾雅》云：杬，魚毒。郭璞云：杬，大木。子，似慄，生南方，皮厚，汁赤，中藏卵果。《範子計然》云：芫花，出三輔。《史記·倉公傳》：臨淄女子病蟯瘕，飲以芫花一撮，出蟯可數升，病已。顏師古注《急就篇》云：郭景純說，誤耳。其生南方，用藏卵果，自別一杬木，乃左思所云綿杬、杶櫨者耳，非毒魚之杬。</p>
<p>上草，下品四十九種。舊四十八種，考木部芫華宜入此。</p>

<h3>巴豆</h3>
<p>味辛，溫。主傷寒、溫瘧、寒熱，破癥瘕、結聚、堅積，留飲、痰癖。大腹水張，蕩煉五臟六腑，開通閉塞，利水穀道，去惡內，除鬼毒蠱注邪物（《御覽》作鬼毒邪注），殺蟲魚。一名巴叔（占作椒，《御覽》作菽）。生川穀。</p>
<p>《吳普》曰：巴豆，一名巴菽，神農、岐伯、桐君：辛，有毒；黃帝：甘，有毒；李氏：主溫熱寒。葉如大豆。八月採（《御覽》）。</p>
<p>《名醫》曰：生巴郡，八月採，陰乾，用之，去心皮。</p>
<p>案：《廣雅》云：巴菽，巴豆也。《列仙傳》云：元俗餌巴豆。《淮南子·說林訓》云：魚食巴菽而死，人食之而肥。</p>

<h3>蜀菽</h3>
<p>味辛，溫。主邪氣、咳逆，溫中，逐骨節，皮膚死肌，寒濕痹痛，下氣。久服之，頭不白、輕身、增年，生川穀。</p>
<p>《名醫》曰：一名巴椒，一名蓎藙。生武都及巴郡。八月採實，陰乾。</p>
<p>案：《範子計然》云：蜀椒，出武都。赤色者，善。陸璣云：蜀人作荼，又見秦椒，即《爾雅》莍。陶弘景雲：俗呼為樛。</p>

<h3>皂莢</h3>
<p>味辛、咸，溫。主風痹、死肌、邪氣，風頭、淚出，利九竅，殺精物。生川穀。</p>
<p>《名醫》曰：生壅州及魯鄒縣。如豬牙者，良。九月、十月採，陰乾。</p>
<p>案：《說文》云：莢，草實。《範子計然》云：皂莢，出三輔。上價一枚一錢。《廣志》曰：雞棲子，皂莢也（《御覽》）。皂，即草省文。</p>

<h3>柳花</h3>
<p>味苦，寒。主風水黃疸，面熱、黑。一名柳絮。葉：主馬疥痂創；實：主潰癰，逐膿血；子汁：療渴。生川澤。</p>
<p>《名醫》曰：生琅邪。</p>
<p>案：《說文》云：柳，小楊也；檉，河柳也，楊木也。《爾雅》：檉，河柳。郭璞云：今河旁赤莖小楊，又旄澤柳。郭璞云：生澤中者，又楊，蒲柳。郭璞云：可以為箭，《左傳》所謂董澤之蒲。《毛詩》云：無折我樹杞。《傳》云：杞，木名也。陸璣云：杞，柳屬也。</p>

<h3>楝實</h3>
<p>味苦，寒。主溫疾傷寒，大熱煩狂，殺三蟲、疥瘍，利小便水道。生山谷。</p>
<p>《名醫》曰：生荊山。</p>
<p>案：《說文》云：楝，木也。《中山經》云：其實如楝。郭璞云：楝，木名。子如指頭，白而黏，可以浣衣也。《淮南子·時則訓》云：七月，其樹楝。高誘云：楝實，鳳凰所食，今雒城旁有楝樹。實，秋熟。</p>

<h3>郁李仁</h3>
<p>味酸，平。主大腹水腫，面目四肢浮腫，利小便水道。根：主齒齦腫，齲齒，一名爵李。生堅齒川穀。</p>
<p>《吳普》曰：郁李，一名雀李，一名車下李，一名棣（《御覽》）。</p>
<p>《名醫》曰：一名車下李，一名棣。生高山及邱陵上。五月、六月採根。</p>
<p>案：《說文》云：棣，白棣也。《廣雅》云：山李，雀其鬱也。《爾雅》云：常棣，棣。郭璞云：今關西有棣樹，子如櫻桃，可食。《毛詩》云：六月食鬱。《傳》云：郁，棣屬。劉稹《毛詩·義問》云：常棣之樹，高五、六尺；其實大如李，正赤，食之甜。又《詩》云：常棣之花。《傳》云：常棣，棣也。陸璣云：奧李，一名雀李，一曰李下李，所在山中皆有。其花，或白或赤，六月中熟大，子如李子，可食。沈括《補筆談》云：晉宮閣銘曰：華林園中，有車下李三百一十四株，薁李一侏。</p>

<h3>莽草</h3>
<p>味辛，溫。主風頭癰腫、乳癰、疝瘕，除結氣、疥瘙（《御覽》有癰瘡二字），殺蟲魚。生山谷。</p>
<p>《吳普》曰：莽草，一名春草。神農：辛；雷公、桐君：苦，有毒。生上谷山谷中或冤句。五月採。治風（《御覽》）。</p>
<p>《名醫》曰：一名葞，一名春草。生上谷及冤句。五月採葉，陰乾。</p>
<p>案：《中山經》云：朝歌之山有草焉，名曰莽草，可以毒魚。又葌山有木焉，其狀如棠而赤，葉可以毒魚。《爾雅》云：葞，春草。郭璞云：一名芒草。《本草》云：《周禮》云：翦氏掌除蠹物，以薰草莽之。《範子計然》云：莽草，出三輔者，善。陶弘景雲：字亦作兩。</p>
<p>雷丸（《御覽》作雷公丸）　味苦，寒。主殺三蟲，逐毒氣、胃中熱，利丈夫，不利女子。作摩膏，除小兒百病（《御覽》引云：一名雷矢。《大觀本》作黑字）。生山谷。</p>
<p>《吳普》曰：雷丸，神農：苦；黃帝、岐伯、桐君：甘，有毒；扁鵲：甘，無毒；李氏：大寒（《御覽》引云：一名雷實。或生漢中。八月採）。</p>
<p>《名醫》曰：一名雷矢，一名雷實。生石城及治中土中。八月採根，曝乾。</p>
<p>案：《範子計然》云：雷矢，出漢中。色白者，善。</p>

<h3>桐葉</h3>
<p>味苦，寒。主惡蝕、創著陰皮，主五痔，殺三蟲。花：主傳豬創，飼豬，肥大三倍。生山谷。</p>
<p>《名醫》曰：生桐柏山。</p>
<p>案：《說文》云：桐，榮也；梧，梧桐木，一名梓。《爾雅》云：櫬梧，郭璞云：今梧桐。又榮桐木，郭璞云：即梧桐。《毛詩》云：梧桐生矣。《傳》云：梧桐，柔木也。</p>

<h3>梓白皮</h3>
<p>味苦，寒。主熱，去三蟲。葉：搗，傳豬創，飼豬，肥大三倍。生山谷。</p>
<p>《名醫》曰：生河內。</p>
<p>案：《說文》云：梓，楸也，或作榟，椅梓也。楸，梓也；檟，楸也。《爾雅》云：槐，小葉曰榎。郭璞云：槐，為楸楸；當細葉者，為榎；又大而皵，楸。郭璞云：老乃皮粗，皵者為楸。又椅梓，郭璞云：即楸。《毛詩》云：椅，桐梓漆。《傳》云：椅，梓屬。陸璣云：梓者，楸之疏理白色而生子者，梓、梓關；桐皮，曰椅。</p>

<h3>石南</h3>
<p>味辛，苦。主養腎氣、內傷、陰衰，利筋骨皮毛。實：殺蠱毒，破積聚，逐風痹。一名鬼目。生山谷。</p>
<p>《名醫》曰：生華陰。二月、四月採實，陰乾。</p>

<h3>黃環</h3>
<p>味苦，平。主蠱毒、鬼注、鬼魅、邪氣在臟中，除咳逆寒熱。一名凌泉，一名大就。生山谷。</p>
<p>《吳普》曰：蜀，黃環，一名生芻，一名根韭。神農、黃帝、岐伯、桐君、扁鵲：辛；一經：味苦，有毒。二月生。初出正赤，高二尺；葉黃，員端、大莖，葉有汗，黃白。五月實員，三月採根。根黃，從理如車輻，。解治蠱毒（《御覽》）。</p>
<p>《名醫》曰：生蜀郡。三月採根，陰乾。</p>
<p>案：《蜀都賦》有黃環。劉逵云：黃環，出蜀郡。沈括《補筆談》云：黃環，即今朱藤也。天下皆有，葉如槐，其花穗懸紫色如葛，花可作菜食，火不熟，亦有小毒。京師人家園圃中，作大架種之，謂之紫藤花者，是也。</p>

<h3>溲疏</h3>
<p>味辛，寒。主身皮膚中熱，除邪氣，止遺溺，可作浴湯。生山谷及田野、故邱虛地。</p>
<p>《名醫》曰：一名巨骨，生熊耳山，四月採。</p>
<p>案：李當之云：溲疏，一名楊櫨，一名牡荊，一名空疏，皮白，中空，時時有節。子似枸杞。子冬日熟，色赤，味甘、苦。</p>

<h3>鼠李</h3>
<p>主寒熱瘰癧創。生田野。　</p>
<p>《吳普》曰：鼠李，一名牛李（《御覽》）。</p>
<p>《名醫》曰：一名牛李，一名鼠梓，一名啤。採無時。</p>
<p>案：《說文》云：楰，鼠梓木。《爾雅》云：鼠梓。郭璞云：楸屬也，今江東有虎梓。《毛詩》云：北山有楰。《傳》云：楰，鼠梓。據《名醫》名鼠梓，未知是此否？《唐本》注云：一名趙李，一名皂李，一名烏槎。</p>

<h3>藥實根</h3>
<p>味辛，溫。主邪氣，諸痹疼酸，續絕傷，補骨髓。一名連木。生山谷。</p>
<p>《名醫》曰：生蜀郡。採無時。</p>
<p>案：《廣雅》云：貝父，藥實也。</p>

<h3>欒花</h3>
<p>味苦，寒。主目痛、淚出、傷眥，消目腫。生川穀。</p>
<p>《名醫》曰：生漢中。五月採。</p>
<p>案：《說文》云：欒木，似欄。《山海經》云：雲雨之山，有木名欒，黃木赤枝青葉，群帝焉取藥。《白虎通》云：諸侯墓樹柏；大夫欒；土，槐。沈括《補筆談》云：欒有一種，樹生，其實可作數珠者，謂之木欒，即本草欒花是也。</p>

<h3>蔓椒</h3>
<p>味苦，溫。主風寒濕痹、癧節疼，除四肢厥氣、膝痛。一名家椒。生川穀及邱家間。</p>
<p>《名醫》曰：一名豬椒，一名彘椒，一名狗椒。生雲中。採莖、根，釀酒。</p>
<p>案：陶弘景雲：俗呼為樛，以椒𧅗小，不香爾。一名稀椒。可以蒸病出汗也。</p>
<p>上木，下品一十七種。舊十八種，今移芫花入草。</p>

<h3>豚卵</h3>
<p>味苦，溫。主驚癇、瘨疾，鬼注、蠱毒，除寒熱，賁豚、五癃，邪氣、攣縮。一名豚顛。懸蹄：主五痔、伏熱在腸、腸癰、內蝕。</p>
<p>案：《說文》云：⿳歹⿰𱼀⿻㇖㇏巾，小豕也。從彖省，象形，從又，持肉以給祭祀，篆文作豚。《方言》云：豬，其子或謂之豚，或謂之豯。吳揚之間，謂之豬子。</p>

<h3>麋脂</h3>
<p>味辛，溫。主癰腫、惡創、死肌，寒、風、濕痹，四肢拘緩不收，風頭，腫氣，通腠理。一名官脂。生山谷。</p>
<p>《名醫》曰：生南山及雀淮南邊。十月取。</p>
<p>案：《說文》云：麋，鹿屬，冬至解其角。《漢書》云：劉向以為：麋之為言，迷也。蓋牝獸之淫者也。</p>

<h3>鸓鼠</h3>
<p>主墮胎，令人產易。生平谷。</p>
<p>《名醫》曰：生山都。</p>
<p>案：《說文》云：䴎，鼠形，飛走且乳之鳥也。籀文作鸓。《廣雅》云：䍲⿰犭迅，飛鸓也。陶弘景雲：是鼯鼠，一名飛生見。《爾雅》云：鼯鼠，夷由也。舊作鸓，非。</p>

<h3>六畜毛蹄甲</h3>
<p>味鹹，平。主鬼注、蠱毒，寒熱、驚癇，瘨痓、狂走。駱駝毛，尤良。</p>
<p>案：陶弘景雲：六畜，謂馬、牛、羊、豬、狗、雞也；蹄，即躑省文。</p>
<p>上獸，下品四種。舊同。</p>

<h3>蝦蟆</h3>
<p>味辛，寒。主邪氣，破症堅，血、癰腫、陰創。服之，不患熱病。生池澤。</p>
<p>《名醫》曰：一名蟾蜍，一名𪓰，一名去甫，一名苦蠪。生江湖。五月五日取，陰乾。東行者，良。</p>
<p>案：《說文》云：蝦，蝦蟆也；蟆，蝦蟆也；鼃，蝦蟆也；⿳亠⿻囗一电，𡹛⿳亠⿻囗一电，詹諸也。其鳴詹諸；其皮鼃鼃；其行⿱山亢⿱山亢，或作𪓰𪓿。𪓰𪓿，詹諸也。《夏小正》傳云：蜮也者，長股也，或曰屈造之屬也。《詩》曰：得此𪓰𪓿，言其行𪓿𪓿，鼁䗇，詹諸，以鳴者。蝦蟆也。郭璞云：似蝦蟆，居陸地。《淮南》謂之去蚊。又蟼蟆，郭璞云：蛙類。《周禮》云：蟈氏。鄭司農云：蟈，讀為蜮。蜮，蝦蟆也。元謂蟈，今御所食蛙也。《月令》云：仲夏之月，反舌無聲。蔡邕云：今謂之蝦蟆。薛君《韓詩》注云：戚放蟾蜍。高誘注《淮南子》云：蟾，蠩䗐也。又蟈，蝦蟆也。又蟾蜍，蝦蟆。又鼓造，一曰蝦蟆。《抱朴子·內篇》云：或問，魏武帝曾收左元放而桎梏之，而得自然解脫，以何法乎？《抱朴子》曰：以自解去父血。</p>

<h3>馬刀</h3>
<p>味辛，微寒（《御覽》有補中二字。《大觀本》黑字）。主漏下赤白，寒熱，破石淋，殺禽獸、賊鼠。生池澤。</p>
<p>《吳普》曰：馬刀，一名齊蛤。神農、岐伯、桐君：咸，有毒；扁鵲：小寒，大毒。生池澤、江海。採無時也（《御覽》）。</p>
<p>《名醫》曰：一名馬蛤。生江湖及東海。採無時。</p>
<p>案：《範子計然》云：馬刀，出河東。《藝文類聚》引《本經》云：文蛤，表有文。又曰馬刀，一曰名蛤，則豈古本與文蛤為一邪？</p>

<h3>蛇蛻</h3>
<p>味鹹，平。主小兒百二十種驚癇、瘛瘲、瘨疾、寒熱、腸痔，蟲毒，蛇癇。火熬之，良。一名龍子衣，一名蛇符，一名龍子單衣，一名弓皮。生川穀及田野。</p>
<p>《吳普》曰：蛇蛻，一名龍子單衣，一名弓皮，一名蛇附，一名蛇筋，一名龍皮，一名龍單衣（《御覽》）。</p>
<p>《名醫》曰：一名龍子皮。生荊州。五月五日、十五日取之，良。</p>
<p>案：《說文》云：它，蟲也。從蟲而長，象冤，曲𠂹尾形。或作蛇蛻，蛇蟬所解皮也。《廣雅》云：蝮蜟蛻也。《中山經》云：來山多空奪。郭璞云：即蛇皮脫也。</p>

<h3>蚯蚓</h3>
<p>味鹹，寒。主蛇瘕，去三蟲、伏屍、鬼注、蠱毒，殺長蟲。仍自化作水。生平土。</p>
<p>《吳普》曰：蚯蚓，一名白頸螳螾，一名附引（《御覽》）。</p>
<p>《名醫》曰：一名土龍。二月取，陰乾。</p>
<p>案：《說文》云：螾，側行者，或作蚓，螼螾也。《廣雅》云：蚯蚓，蜿蟺，引無也。《爾雅》云：螼蚓，蜸蠶。郭璞云：即蜸蟺也，江東呼寒蚓，舊作蚯，非。《呂氏春秋》、《淮南子》邱蚓出，不從蟲。又《說文訓》云：螾，無筋骨之強。高誘注：螾，一名蜷𧍒也。舊又有白頸二字，據《吳普》古本當無也。</p>

<h3>蠮螉</h3>
<p>味辛，平。主久聾、咳逆、毒氣，出刺出汗。生川穀。</p>
<p>《名醫》曰：一名土蜂。生熊耳及牂柯，或人屋間。</p>
<p>案：《說文》云：⿱⺮識，⿱⺮識蠃，蒲盧，細要土蜂也。或作螺蠃，螺，蠃也。《廣雅》云：土蜂，蠮螉也。《爾雅》：土蜂。《毛詩》云：螟蛉有子，螺蠃負之。《傳》云：螺蠃，蒲盧也。《禮記》云：夫政也者，蒲盧也。鄭云：蒲盧，果蠃，謂土蜂也。《方言》云：蜂，其小者，謂之蠮螉，或謂之蚴蛻。《說文》無蠮字，或當為醫。</p>

<h3>蜈蚣</h3>
<p>味辛，溫。主鬼注、蠱毒，啖諸蛇、早、魚毒，殺鬼物、老精、溫瘧，去三蟲（《御覽》引云：一名至掌。《大觀本》在水蛭下）。生川穀。</p>
<p>《名醫》曰：生大吳江南。赤頭足者，良。</p>
<p>案：《爾雅》云：蝍蛆，吳公也。</p>

<h3>水蛭</h3>
<p>味鹹，平。主逐惡血、瘀血、月閉（《御覽》作水閉），破血瘕積聚，無子，利水道。生池澤。</p>
<p>《名醫》曰：一名蝍，一名至掌。生雷澤。五月、六月採，曝乾。</p>
<p>案：《說文》云：蛭，蟣也；蝚，蛭蝚，至掌也。《爾雅》云：蛭蟣。郭璞云：今江東呼水中蛭蟲入人肉者，為蟣。又蛭蝚、至掌，郭璞云：未詳，據《名醫》，即蛭也。</p>

<h3>班苗</h3>
<p>味辛，寒。主寒熱、鬼注蠱毒、鼠瘻惡創、疽蝕死肌，破石癃。一名龍尾。生川穀。</p>
<p>《吳普》曰：斑貓，一名斑蠔，一名龍蠔，一名斑苗，一名勝發，一名盤蛩，一名晏青。神農：辛；岐伯：咸；桐君：有毒；扁鵲：甘，有大毒。生河內川穀，或生水石。</p>
<p>《名醫》曰：生河東。八月取，陰乾。</p>
<p>案：《說文》云：螌，螌蝥，毒蟲也。《廣雅》云：螌𧒚晏青也。《名醫》別出芫青條，非。芫、晏，音相近也。舊作貓，俗字。據吳氏云：一名班苗，是也。</p>

<h3>貝子</h3>
<p>味鹹，平。主目翳、鬼注蟲毒、腹痛、下血、五癃，利水道。燒用之，良。生池澤。</p>
<p>《名醫》曰：一名貝齒。生東海。</p>
<p>案：《說文》云：貝，海介蟲也。居陸，名飆；在水，名蝄，象形。《爾雅》云：貝，小者，鰿。郭璞云：今細貝，亦有紫色，出日南。又𧐐，小而橢。郭璞云：即上小貝。</p>

<h3>石蠶</h3>
<p>味鹹，寒。主五癃，破五淋，墮胎，內解結氣，利水道，除熱。一名水蝨。生池澤。《吳普》曰：石蠶，亦名沙蝨。神農、雷公：酸，無毒。生漢中。治五淋，破隨內結氣，利水道，除熱（《御覽》）。</p>
<p>《名醫》曰：生江漢。</p>
<p>案：《廣雅》云：水蝨，𧋑𱿸也。《淮南萬畢術》云：沙蝨，一名蓬活，一名地脾。《御覽》蟲豸部引李當之云：類蟲，形如老蠶。生附石。《廣志》云：皆蝨，蝨色赤，大過蟣。在水中，入人皮中，殺人，與李似不同。</p>

<h3>雀甕</h3>
<p>味甘，平。主小兒驚癇，寒熱結氣，蠱毒鬼注。一名躁舍。</p>
<p>《名醫》曰：生漢中。採，蒸之。生樹枝間，蛄蟖房也。八月取。</p>
<p>案：《說文》云：蛄，蛄斯黑也。《爾雅》云：蟔，蛄蟖。郭璞云：蛓屬也。今青州人呼蛓為蛄蟖。按：《本經》名為雀甕者，甕與蛹，音相近，以其如雀子，又如繭蟲之蛹，因呼之。</p>

<h3>蜣螂</h3>
<p>味鹹，寒。主小兒驚癇、瘛瘲，腹脹寒熱，大人疾狂易。一名蛣蜣。火熬之，良。生池澤。</p>
<p>《名醫》曰：生長沙。五月五日取，蒸，藏之。</p>
<p>案：《說文》云：𧍕，渠𧍕。一曰天杜。《廣雅》云：天杜，蜣螂也。《爾雅》云：蛣蜣，蜣螂。郭璞云：黑甲蟲，啖糞土。《玉篇》：蜣、螂同。《說文》無蜣字。渠𧍕，即蛣蜣，音之緩急。</p>

<h3>螻蛄</h3>
<p>味鹹，寒。主產難，出肉中刺（《御覽》作刺在肉中），潰癰腫，下哽噎（《御覽》作咽），解毒，除惡創。一名蟪蛄（《御覽》作蟪蛄），一名天螻，一名𧎅。夜出者，良。生平澤。</p>
<p>《名醫》曰：生東城。夏至取，曝乾。</p>
<p>案：《說文》云：蠹，螻蛄也；螻，螻蛄也；蛄，螻蛄也。《廣雅》云：炙鼠、津姑、螻蜮、蟓蛉、蛞螻，螻蛄也。《夏小正》云：三月，𧎅則鳴。𭄰，天螻也。《爾雅》云：𧎅，天螻。郭璞云：螻蛄也。《淮南子·時則訓》云：孟夏之月，螻蟈鳴。高誘云：螻，螻蛄也。《方言》云：蛄詣，謂之杜格；螻蛞，謂之螻蛞，或謂之蟓蛉。南楚謂之杜狗，或謂之𧍎螻。陸璣《詩疏》云：《本草》又謂螻蛄為石鼠，今無文。</p>

<h3>馬陸</h3>
<p>味辛，溫。主腹中大堅症，破積聚、息肉、惡創、白禿。一名百足。生川穀。</p>
<p>《吳普》曰：一名馬軸（《御覽》）。</p>
<p>《名醫》曰：一名馬軸。生元菟。</p>
<p>案：《說文》云：蠲，馬蠲民。從蟲、皿，益聲；勹，象形。明堂《月令》曰：腐草為蠲。《廣雅》云：蛆蟝，馬𧏿，馬蚿也。又馬踐，蛆也。《爾雅》云：蛝，馬踐。郭璞云：馬蠲勻，俗呼馬𧏿。《淮南子·時則訓》云：季夏之日，腐草化為。蚈。高誘云：蚈，馬蚿也。幽冀謂之秦渠。又《汜論訓》云：蚈，足眾，而走不若蛇。已《兵略訓》云：若研之足。高誘云：蚈，馬蠸也。《方言》云：馬蚿，北燕謂之蛆渠。其大者，謂之馬蚰。《博物志》云：馬蚿，一名百足，中斷成兩段，各行而去。</p>

<h3>地膽</h3>
<p>味辛，寒。主鬼注、寒熱，鼠螻，惡創、死肌，破癥瘕，墮胎。一名蚖青。生川穀。</p>
<p>《吳普》曰：地膽，一名元青，一名杜龍，一名青虹（《御覽》）。</p>
<p>《名醫》曰：一名青⿰圭主。生汶山，八月取。</p>
<p>案：《廣雅》云：地膽，蛇要，青𧓿，青⿰虫⿸尸𮥼也。陶弘景雲：狀如大馬蟻，有翼。偽者，即班貓所化，狀如大豆。</p>

<h3>鼠婦</h3>
<p>味酸，溫。主氣癃不得小便，女人月閉、血症，癇症、寒熱，利水道。一名負蟠，一名𡛂威。生平谷。</p>
<p>《名醫》曰：一名𧑓蜲。生魏郡及人家地上。五月五日取。</p>
<p>案：《說文》云：𡛂，𡛂威，委黍；委黍，鼠婦也；蟠，鼠負也。《爾雅》云：蟠，鼠負。郭璞云：甕器底蟲。又𡛂威，委黍。郭璞云：舊說，鼠婦別名。《毛詩》云：伊威在室。《傳》云：伊威，委黍也。陸璣云：在壁根下，甕底中生，似白魚。</p>

<h3>熒火</h3>
<p>味辛，微溫。主明目，小兒火創傷，熱氣、蠱毒、鬼注，通神。一名夜光（《御覽》引云：一名熠耀，一名即照。《大觀本》作黑字）。生池澤。</p>
<p>《吳普》曰：熒火，一名夜照，一名熠耀，一名救火，一名景天，一名據火，一名挾火（《藝文類聚》）。</p>
<p>《名醫》曰：一名放光，一名熠耀，一名即照。生階地。七月七日收，陰乾。</p>
<p>案：《說文》云：𤌠，兵死及牛馬之血為磷，鬼火也，從炎舛。《爾雅》云：熒火，即照。郭璞云：夜飛，腹下有火。《毛詩》云：熠耀宵行。傳云：熠耀，磷也；磷，熒火也。《月令》云：季夏之月，腐草化為熒。鄭元云：螢飛蟲，螢火也。據毛萇以螢為磷，是也。《說文》無螢字，當以磷為之。《爾雅》作熒，亦是。舊作螢，非。又按：《月令》：腐草為螢，當是蠲字假音。</p>

<h3>衣魚</h3>
<p>味鹹，溫，無毒。主婦人疝瘕，小便不利（《御覽》作泄利），小兒中風（《御覽》作頭風）、項強（《御覽》作疆），背起摩之。一名白魚。生平澤。</p>
<p>《吳普》曰：衣中白魚。一名蟫（《御覽》）。</p>
<p>《名醫》曰：一名蟫。生咸陽。</p>
<p>案：《說文》云：蟫，白魚也。《廣雅》云：白魚，蛃魚也。《爾雅》云：蟫，白魚。郭璞云：衣、書中蟲，一名蚋魚。</p>
<p>上蟲、魚，下品一十八種。舊同。</p>

<h3>桃核仁</h3>
<p>味苦，平。主症血、血閉、瘕邪，殺小蟲。桃花：殺注惡鬼，令人好顏色。桃鳧：微溫。主殺百鬼精物（《初學記》引云：梟桃在樹不落，殺百鬼）。桃毛：主下血瘕寒熱，積寒無子。桃蠹：殺鬼邪惡不祥。生川穀。</p>
<p>《名醫》曰：桃核，七月採，取仁，陰乾；花，三月三日採，陰乾；桃鳧，一名桃奴，一名梟景。是實著樹不落。實中者，正月採之；桃蠹，食桃樹蟲也。生太山。</p>
<p>案：《說文》云：桃，果也。《玉篇》云：桃，毛果也。《爾雅》云：桃李醜核。郭璞云：子中有核仁。孫炎云：桃李之實，類皆有核。</p>

<h3>杏核仁</h3>
<p>味甘，溫。主咳逆上氣，雷鳴，喉痹下氣，產乳，金創、寒心、賁豚。生川穀。</p>
<p>《名醫》曰：生晉山。</p>
<p>案：《說文》云：杏，果也。《管子·地員篇》云：五沃之土，其木宜杏。高誘注《淮南子》云：杏，有竅在中。</p>
<p>上果，下品二種。舊同。</p>

<h3>腐婢</h3>
<p>味辛，平。主痎瘧，寒熱、邪氣，泄利，陰不起，病酒，頭痛。生漢中。</p>
<p>《吳普》曰：小豆花，一名腐婢（舊作付月，誤）。神農：甘，毒。七月採，陰乾四十日。治頭痛，止渴（《御覽》）。</p>
<p>《名醫》曰：生漢中。即小豆花也。七月採，陰乾。</p>
<p>上米、谷，下品一種。舊同。</p>

<h3>苦瓠</h3>
<p>味苦，寒。主大水，面目四肢浮腫，下水，令人葉。生川澤。</p>
<p>《名醫》曰：生晉地。</p>
<p>案：《說文》云：瓠匏，匏瓠也。《廣雅》云：匏，瓠也。《爾雅》云：瓠，棲瓣。《毛詩》云：瓠有苦葉。《傳》云：匏，謂之瓠。又九月斷壺。《傳》云：壺，瓠也。《古今注》云：瓠，壺蘆也。壺蘆，瓠之無柄者。瓠，有柄者。又云：瓢，瓠也。其㧾，曰匏。瓠則別名。</p>

<h3>水靳</h3>
<p>味甘，平。主女子赤沃，止血養精，保血脈，益氣，令人肥健、嗜食。一名水英。生池澤。</p>
<p>《名醫》曰：生南海。</p>
<p>案：《說文》云：芹，楚葵也；近，菜類也。《周禮》有近菹。《爾雅》云：芹，楚葵。</p>
<p>郭璞云：今水中芹菜。《字林》云：芹草，生水中。根，可緣器。又云：荶菜，似蒜，生水中。</p>
<p>上菜，下品二種。舊同。</p>

<h3>彼子</h3>
<p>味甘，溫。主腹中邪氣，去三蟲、蛇螫、蠱毒、鬼注、伏屍。生山谷（舊在《唐本》退中）。</p>
<p>《名醫》曰：生永昌。</p>
<p>案：陶弘景雲：方家，從來無用此者。古今諸醫及藥家，子不復識。又，一名熊子，不知其形何類也。掌禹錫云：樹，似杉；子，如檳榔。《本經》虫部云：彼子，芝注云：彼字合從木。《爾雅》云：彼，一名棑。</p>
<p>三品，合三百六十五種，法三百六十度，一度應一日，以成一歲（倍其數，合七百三十名也）。</p>
<p>掌禹錫曰：本草例，《神農本經》以朱書，《名醫別錄》以墨書。《神農》藥三百六十五種，今此言倍其數，合七百三十名，是並《名醫別錄》副品而言也。則此下節《別錄》之文也，當作墨書矣。蓋傳定浸久，朱墨錯亂之所致耳。</p>
<p>案：禹錫說，是也，改為細字。</p>
<p>藥有君、臣、佐、使，以相宣攝合和宜。用一君，二臣，三佐，五使；又可一君，三臣，九佐、使也。</p>
<p>藥有陰陽配合，子母兄弟，根莖花實，草石骨肉；有單行者，有相須者，有相使者，有相畏者，有相惡者，有相反者，有相殺者。凡此七精，合和時之，當用相須、相使者良，勿用相惡、相反者。若有毒宜制，可用相畏、相殺者。不爾，勿合用也。</p>
<p>藥有酸、咸、甘、苦、辛五味，又有寒、熱、溫、涼四氣，及有毒無毒，陰乾曝乾，採造時月，生熟土地所出，真偽陳新，並各有法。</p>
<p>藥性有宜丸者，宜散者，宜水煮者，宜酒漬者，宜膏煎者；亦有一物兼宜者；亦有不可入湯酒者，並隨藥性，不得違越。</p>
<p>欲療病，先察其原，先候病機。五臟未虛，六腑未竭，血脈未亂，精神未散，服藥必活。若病已成，可得半愈；病勢已過，命將難全。</p>
<p>若用毒藥療病，先起如黍粟，病去，即止。不去，倍之；不去，十之。取去為度。</p>
<p>療寒，以熱藥；療熱，以寒藥；飲食不消，以吐下藥；鬼注蠱毒，以毒藥；癰腫創瘤，以創藥；風濕，以風濕藥。各隨其所宜。</p>
<p>病在胸膈以上者，先食，後服藥；病在心腹以下者，先服藥而後食；病在四肢血脈者，宜空腹而在旦；病在骨髓者，宜飽滿而在夜。</p>
<p>夫大病之主，有中風傷寒，寒熱溫瘧，中惡霍亂，大腹水腫，腸澼下利，大小便不通；賁肫上氣，咳逆嘔吐；黃疽消渴，留飲癖食，堅積癥瘕，驚邪瘨癇；鬼注喉痹、齒痛，耳聾目盲；金創踒折，癰腫惡創，痔瘻癭瘤；男子五勞七傷，虛乏羸瘦；女子帶下崩中，血閉陰蝕；蟲蛇蠱毒所傷。此大略宗兆。其間變動枝葉，各宜依端緒以取之。</p>
<p>上藥，令人身安命延，昇天神仙，遨遊上下，役使萬靈，體生毛羽，行廚立至（《抱朴子·內篇》引《神農經》，據《太平御覽》校）。</p>
<p>中藥，養性；下藥，除病。能令毒蟲不加，猛獸不犯，惡氣不行，眾妖並闢（《抱朴子·內篇》引《神農經》）。</p>
<p>太一子曰：凡藥，上者，養命；中者，養性；下者，養病（《藝文類聚》引《本草經》）。</p>
<p>太一子曰：凡藥，上者，養命；中藥，養性；下藥，養病。神農乃作赭鞭、鉤𨨪（尺制切）。從六陰陽，與太乙外（巡字）五嶽四瀆，土地所生草石，骨肉心灰，皮，毛羽，萬千類，皆鞭問之，得其所能治主，當其五味，一日（一字舊誤作百）七十毒（《太平御覽》引《本草經》）。</p>
<p>神農稽首再拜，問於太乙子曰：曾聞之時壽過百歲，而徂落之咎，獨何氣使然也？太乙子曰：天有九門，中道最良。神農乃從其嘗藥，以拯救人命。（《太平御覽》引《神農本草》）。</p>
<p>按：此諸條，與今《本經》卷上文略相似，諸書所引，較《本經》文多。又云是太一子說，今無者，疑後節之。其云赭鞭、鉤𨨪，當是煮辨、候制之假音，鞭問之，即辨問之。無怪說也。</p>
<p>藥物有大毒，不可入口鼻耳目者，即殺人。一曰鉤吻（盧氏曰：陰地黃精，不相連，根苗獨生者，是也），二曰鴟（狀如雌雞，生山中），三曰陰命（赤色，著木縣其子，生海中），四曰內童（狀如鵝，亦生海中），五曰鴆羽（如雀，墨頭赤喙），六曰𧎸䖷（生海中，雄曰䖷，雌曰𧎸也。《博物志》引《神農經》）。</p>
<p>藥種有五物：一曰狼毒，占斯解之；二曰巴頭，藿汁解之；三曰黎，盧湯解之；四曰天雄、烏頭，大豆解之；五曰班茅，戎鹽解之。毒菜害小兒，乳汁解，先食飲二升（《博物志》引《神農經》）。</p>
<p>五芝及餌丹砂、玉札、曾青、雄黃、雌黃、雲母、太乙禹餘糧，各可單服之，皆令人飛行、長生（《抱朴子·內篇》引《神農四經》）。</p>
<p>春夏為陽，秋冬為陰（《文選》注引《神農本草》）。</p>
<p>春為陽，陽溫，生萬物（同上）。</p>
<p>黃精與術，餌之卻粒；或遇凶年，可以絕粒。謂之米脯（《太平御覽》引《抱朴子》、《神農經》）。</p>
<p>五味，養精神，強魂魄。五石，養髓，肌肉肥澤。諸藥，其味酸者，補肝、養心，除腎病；其味苦者，補心、養脾，除肝病；其味甘者，補肺、養脾，除心病；其味辛者，補肺、養腎，除脾病；其味鹹者，補肺，除肝病。故五味，應五行；四體，應四時。夫人性生於四時，然後命於五行，以一補身，不死命神。以母養子，長生延年；以子守母，除病究年（《太平御覽》引《養生要略》、《神農經》）。</p>
<p>案：此諸條，當是玉石、草木三品前總論，而後人節去。</p>

<h3>附：《吳氏本草》十二條</h3>
<p>龍眼　一名益智，一名比目（《齊民要術》）。</p>
<p>鼠尾　一名勁，一名山陵翹。治痢也（《太平御覽》）。</p>
<p>滿陰實　生平谷或圃中。延蔓如瓜葉，實如桃。七月採。止渴延年（《太平御覽》）。</p>
<p>千歲垣中膚皮，得薑、赤石胎，治（《太平御覽》）。</p>
<p>小華　一名結草（《太平御覽》）。</p>
<p>木瓜　生夷陵（《太平御覽》）。</p>
<p>谷樹皮　治喉閉。一名楮（《太平御覽》）。</p>
<p>櫻桃　味甘。主調中益氣，令人好顏色，美志氣。一名朱桃，一名麥英也（《藝文類聚》）。</p>
<p>李核　治僕僵。花，令人好顏色（《太平御覽》）。</p>
<p>大麥　一名穬麥。五穀之大盛，無毒，治消渴，除熱，益氣。食蜜為使。麥種：一名小麥。無毒。治利而不中囗（《太平御覽》）。</p>
<p>豉，益人氣（《太平御覽》）。</p>
<p>暉日，一名鴆羽（《太平御覽》）。</p>

<h3>附：諸藥制使</h3>
<p>唐慎微曰：《神農本經》相使，正各一種，冀以《藥對》參之，乃有兩三。</p>

<h3>玉、石，上部</h3>
<p>玉泉　畏款冬花。</p>
<p>玉屑　惡鹿角。</p>
<p>丹砂　惡磁石，畏鹹水。</p>
<p>曾青　畏菟絲子。</p>
<p>石膽　水英為使；畏牡桂、菌桂、芫花、辛夷白。</p>
<p>鍾乳　蛇床子為使，惡牡丹、牡蒙、元石、畏紫石英、蘘草。</p>
<p>雲母　澤瀉為使；畏蛇甲及流水。</p>
<p>消石　口為使；惡苦參、苦菜，畏女菀。</p>
<p>朴硝　畏麥句姜。</p>
<p>芒硝　石葦為使，惡麥句姜。</p>
<p>礬石　甘草為使；畏牡蠣。</p>
<p>滑石　石葦為使；惡曾青。</p>
<p>紫石英　長石為使，畏扁青、附子，不欲蛇甲、黃連、麥句姜。</p>
<p>白石英　惡馬目毒公。</p>
<p>赤石脂　惡大黃；畏蕪花。</p>
<p>黃石脂　曾青為使；惡細辛；畏蜚蠊。</p>
<p>太一餘糧　杜仲為使；畏鐵落、菖蒲、貝母。</p>
<p>玉、石，中部</p>
<p>水銀　畏磁石。</p>
<p>殷孽　惡防己；畏木。</p>
<p>孔公孽　木蘭為使；惡細辛。</p>
<p>陽起石　桑螵蛸為使；惡澤瀉、菌桂、雷丸、蛇蛻皮；畏菟絲子。</p>
<p>石膏　雞子為使；惡莽草毒公。</p>
<p>凝水石　畏地榆；解巴豆毒。</p>
<p>磁石　柴胡為使；畏黃石脂；惡牡丹、莽草。</p>
<p>元石　惡松脂、柏子仁、菌桂。</p>
<p>理石　滑石為使；惡麻黃。</p>

<h3>玉、石，下部</h3>
<p>礬石　得火良；棘針為使；惡虎掌、毒公、鶩屎、細辛、水。</p>
<p>青琅玕　得水銀良；畏雞骨；殺錫毒。</p>
<p>特生礬石　得火良；畏水。</p>
<p>代赭　畏天雄。</p>
<p>方解石　惡巴豆。</p>
<p>大鹽　漏蘆為使。</p>

<h3>草藥，上部</h3>
<p>六芝　薯蕷為使；得發良；惡常山；畏扁青、茵陳。</p>
<p>術　防風、地榆為使。</p>
<p>天門冬　垣衣、地黃為使；畏曾青。</p>
<p>麥門冬　地黃、車前為使；惡款冬、苦瓠；畏苦參、青蘘。</p>
<p>女萎、蕤主　畏滷䖨咸。</p>
<p>乾地黃　得麥門冬、清酒，良；惡貝母；畏元荑。</p>
<p>菖蒲　秦花、秦皮為使；惡地膽、麻黃。</p>
<p>澤瀉　畏海蛤、文蛤。</p>
<p>遠志　得茯苓、冬葵子、龍骨，良；殺天雄、附子毒；畏珍珠、蜚蠊、藜蘆。</p>
<p>齊蛤　薯蕷，紫芝為使，惡甘遂。</p>
<p>石斛　陸英為使；惡凝水石、巴豆；畏白殭蠶、雷丸。</p>
<p>菊花　朮、枸杞根、桑根、白皮，為使。</p>
<p>甘草　朮、乾漆、苦參為使；惡遠志；反甘遂、大戟、芫花、海藻。</p>
<p>人參　茯苓為使；惡溲疏；反藜蘆。</p>
<p>牛膝　惡熒火、龜、陸英；畏白。</p>
<p>細辛　曾青、東根為使；惡狼毒、山茱萸、黃耆；畏滑石、硝石；反藜蘆。</p>
<p>獨活　蠡石為使。</p>
<p>柴胡　半夏為使；惡皂莢；畏女苑、藜蘆。</p>
<p>菴䕡子　荊子、薏苡仁為使。</p>
<p>菥蓂子　得荊子、細辛，良；惡乾薑、苦參。</p>
<p>龍膽　貫眾為使；惡防葵、地黃。</p>
<p>菟絲子　得酒良；薯蕷、松脂為使；惡雚茵。</p>
<p>巴戟天　覆盆子為使；惡朝生、雷丸、丹參。</p>
<p>蒺藜子　烏頭為使。</p>
<p>沙參　惡防己；反藜蘆。</p>
<p>防風　惡乾薑、藜蘆、白蘞、芫花；殺附子毒。</p>
<p>絡石　杜仲、牡丹為使，惡鐵落；畏菖蒲、貝母。</p>
<p>黃連　黃芩、龍骨、理石為使；惡菊花、芫花、元參、白蘚皮；畏款冬；勝烏頭；解巴豆毒。</p>
<p>丹參　味鹹水，反藜蘆。</p>
<p>天名精　垣衣為使。</p>
<p>決明子　蓍實為使；惡大麻子。</p>
<p>續斷　地黃為使；惡雷丸。</p>
<p>芎藭　白芷為使。</p>
<p>黃耆　惡龜甲。</p>
<p>杜若　得辛夷、細辛，良；惡柴胡、前胡。</p>
<p>蛇床子　惡牡丹、巴豆、貝母。</p>
<p>茜根　畏鼠姑。</p>
<p>飛蠊　得烏頭，良；惡麻黃。</p>
<p>薇銜　得秦皮，良。</p>
<p>五味子　蓯蓉為使；惡葳蕤；勝烏頭。</p>

<h3>草藥，中部</h3>
<p>當歸　惡蘭茹；畏菖蒲、海藻、牡蒙。</p>
<p>秦艽　菖蒲為使。</p>
<p>黃芩　山茱萸，龍骨為使；惡蔥實；畏丹砂、牡丹、藜蘆。</p>
<p>芍藥　須丸為使；惡石斛、芒硝；畏石、鱉甲，小薊；反藜蘆。</p>
<p>乾薑　秦椒為使；惡黃連、黃芩、天鼠屎；殺半夏、莨菪毒。</p>
<p>藁本　畏䕡茹。</p>
<p>麻黃　厚朴為使；惡辛夷、石葦。</p>
<p>葛根　殺野葛、巴豆、百藥毒。</p>
<p>前胡　半夏為使；惡皂莢；畏藜蘆。</p>
<p>貝母　厚朴、白薇為使；惡桃花；畏秦艽、礬石、莽草；反烏頭。</p>
<p>栝蔞　枸杞為使；惡乾薑；畏牛膝、乾漆；反烏頭。</p>
<p>元參　惡黃耆、乾薑、大棗、山茱萸；反藜蘆。</p>
<p>苦參　元參為使；惡貝母、漏蘆、菟絲子；反藜蘆。</p>
<p>石龍芮　大戟為使；畏蛇蛻、吳茱萸。</p>
<p>萆薢　薏苡為使；畏葵根、大黃、柴胡、牡蠣、前胡。</p>
<p>石葦　滑石、杏仁為使，得菖蒲，良。</p>
<p>狗脊　萆薢為使；惡敗醬。</p>
<p>瞿麥　蘘草、牡丹為使；惡螵蛸。</p>
<p>白芷　當歸為使；惡旋覆花。</p>
<p>紫菀　款冬為使；惡天雄、瞿麥、雷丸、遠志；畏茵陳。</p>
<p>白蘚皮　惡螵蛸、桔梗、茯苓、萆薢。</p>
<p>白薇　惡黃耆、大黃、大戟、乾薑、乾漆、大棗、山茱萸。</p>
<p>紫參　畏辛夷。</p>
<p>淫羊藿　薯蕷為使。</p>
<p>款冬花　杏仁為使；得紫菀，良；惡皂莢、硝石、元參；畏貝母、辛夷、麻黃、黃芩、黃連、黃耆、青葙。</p>
<p>牡丹　畏菟絲子。</p>
<p>防己　殷孽為使；惡細辛；畏萆薢；殺雄黃毒。</p>
<p>女苑　畏滷咸。</p>
<p>澤蘭　防己為使。</p>
<p>地榆　得發良；惡麥門冬。</p>
<p>海藻　反甘草。</p>

<h3>草藥，下部</h3>
<p>大黃　黃芩為使。</p>
<p>桔梗　節皮為使；畏白芨；反龍膽、龍眼。</p>
<p>甘遂　瓜蒂為使；惡遠志；反甘草。</p>
<p>葶藶　榆皮為使；得酒良；惡殭蠶、石龍芮。</p>
<p>芫花　決明為使；反甘草。</p>
<p>澤漆　小豆為使；惡薯蕷。</p>
<p>大戟　反甘草。</p>
<p>鉤吻　半夏為使；惡黃芩。</p>
<p>藜蘆　黃連為使；反細辛、芍藥、五參；惡大黃。</p>
<p>烏頭、烏喙　莽草為使，反半夏、栝蔞、貝母、白蘞、白芨；惡藜蘆。</p>
<p>天雄　遠志為使，惡腐婢。</p>
<p>附子　地坦為使；惡蜈蚣；畏防風、甘草、黃耆、人參、烏韭、大豆。</p>
<p>貫眾　雚菌為使。</p>
<p>半夏　射干為使；惡皂莢；畏雄黃、生薑、乾薑、秦皮、龜甲；反烏頭。</p>
<p>蜀漆　栝樓為使；惡貫眾。</p>
<p>虎掌　蜀漆為使；畏莽草。</p>
<p>狼牙　蕪荑為使；惡棗肌、地榆。</p>
<p>常山　畏玉札。</p>
<p>白芨　紫石英為使；惡理石、李核仁、杏仁。</p>
<p>白蘞　代赭為使；反烏頭。</p>
<p>雚菌　得酒，良；畏雞子。</p>
<p>䕡茹　甘草為使；惡麥門冬。</p>
<p>藎草　畏鼠婦。</p>
<p>夏枯草　土瓜為使。</p>
<p>狼毒　大豆為使；惡麥句姜。</p>
<p>鬼臼　畏衣。</p>

<h3>木藥，上部</h3>
<p>茯苓，茯神　馬間為使；惡白蘞；畏牡蒙、地榆、雄黃、秦艽、龜甲。</p>
<p>杜仲　惡蛇蛻、元參。</p>
<p>柏實　牡蠣、桂心、瓜子為使；畏菊花、羊蹄、諸石、面曲。</p>
<p>乾漆　半夏為使；畏雞子。</p>
<p>蔓荊子　惡烏頭、石膏。</p>
<p>五加皮　遠志為使；畏蛇皮、元參。</p>
<p>孽木　惡乾漆。</p>
<p>辛夷　芎藭為使；惡五石脂；畏菖蒲、蒲黃、黃連、石膏、黃環。</p>
<p>酸棗仁　惡防己。</p>
<p>槐子　景天為使。</p>
<p>牡荊實　防己為使；惡石膏。</p>

<h3>木藥，中部</h3>
<p>厚朴　乾薑為使；惡澤瀉、寒水石、硝石。</p>
<p>山茱萸　蓼實為使；惡桔梗、防風、防己。</p>
<p>吳茱萸　蓼實為使；惡丹參、硝石、白堊；畏紫石英。</p>
<p>秦皮　大戟為使；惡茱萸。</p>
<p>占斯　解狼毒毒。</p>
<p>梔子　解躑躅毒。</p>
<p>秦椒　惡栝蔞、防葵；畏雌黃。</p>
<p>桑根白皮　續斷、桂心、麻子為使。</p>

<h3>木藥，下部</h3>
<p>黃環　鳶尾為使；惡茯苓、防己。</p>
<p>石南　五加皮為使。</p>
<p>巴豆　芫花為使；惡蘘草；畏大黃、黃連、藜蘆；殺斑蝥毒。</p>
<p>欒花　決明為使。</p>
<p>蜀椒　杏仁為使，畏款冬。</p>
<p>溲疏　漏蘆為使。</p>
<p>皂莢　柏實為使；惡麥門冬；畏空青、人參、苦參。</p>
<p>雷丸　荔實、厚朴為使；惡葛根。</p>

<h3>獸，上部</h3>
<p>龍骨　得人參、牛黃，良；畏石膏。</p>
<p>龍角　畏乾漆、蜀椒、理石。</p>
<p>牛黃　人參為使，惡龍骨、地黃、龍膽、蜚蠊；畏牛膝。</p>
<p>白膠　得火，良；畏大黃。</p>
<p>阿膠　得火，良；畏大黃。</p>

<h3>獸，中部</h3>
<p>犀角　松子為使；惡雚菌、雷丸。</p>
<p>羚羊角　菟絲子為使。</p>
<p>鹿茸　麻勃為使。</p>
<p>鹿角　杜仲為使。</p>

<h3>獸，下部</h3>
<p>麋脂　畏大黃。</p>
<p>伏翼　莧實、雲實為使。</p>
<p>天鼠屎　惡白蘞、白薇。</p>

<h3>蟲、魚，上部</h3>
<p>蜜蠟　惡芫花、齊蛤。</p>
<p>蜂子　畏黃芩、芍藥、牡蠣。</p>
<p>牡蠣　貝母為使；得甘草、牛膝、遠志、蛇床，良；惡麻黃、吳茱萸、辛夷。</p>
<p>桑螵蛸　畏旋覆花。</p>
<p>海蛤　蜀漆為使；畏狗膽、甘遂、芫花。</p>
<p>龜甲　惡沙參、蜚蠊。</p>

<h3>蟲、魚，中部</h3>
<p>蝟皮　得酒良；畏桔梗、麥門冬。</p>
<p>蜥蜴　惡硫黃、斑蝥、蕪荑。</p>
<p>露蜂房　惡乾薑、丹參、黃芩、芍藥、牡蠣。</p>
<p>䘌蟲　畏皂莢、菖蒲。</p>
<p>蠐螬　蜚蠊為使，惡附子。</p>
<p>龜甲　惡礬石。</p>
<p>蟹　殺莨菪毒、漆毒。</p>
<p>鮀魚甲　蜀漆為使；畏狗膽、甘遂、芫花。</p>
<p>烏賊魚骨　惡白蘞、白芨。</p>

<h3>蟲、魚，下部</h3>
<p>蜣螂　畏羊角，石膏。</p>
<p>蛇蛻　畏磁石及酒。</p>
<p>斑蝥　馬刀為使；畏巴豆、丹參、空青；惡膚青。</p>
<p>地膽　惡甘草。</p>
<p>馬刀　得水良。</p>

<h3>果，上部</h3>
<p>大棗　殺烏頭，毒。</p>

<h3>果，下部</h3>

<h3>菜，上部</h3>
<p>冬葵子　黃芩為使。</p>
<p>蔥實，解藜蘆毒。</p>

<h3>米，上部</h3>
<p>麻蕡、麻子　畏牡蠣、白薇；惡茯苓。</p>

<h3>米，中部</h3>
<p>大豆及黃卷　惡五參、龍膽；得前胡、烏喙、杏仁、牡蠣，良；殺烏頭毒。</p>
<p>大麥　蜜為使。</p>
<p>上二百三十一種，有相制使，其餘皆無（三十四種續添，案：當云三十五種）。</p>
<p>立冬之日，菊、卷柏先生；時為陽起石、桑螵蛸。凡十物使，主二百草，為之長。</p>
<p>立春之日，木蘭、射干先生。為柴胡、半夏使。主頭痛，四十五節。</p>
<p>立夏之日，蜚蠊先生。為人參、茯苓使。主腹中。七節，保神守中。</p>
<p>夏至之日，豕道、茱萸先生；為牡蠣、烏喙使。主四肢，三十二節。</p>
<p>立秋之日，白芷、防風先生。為細辛、蜀漆使。主胸背二十四節。</p>
<p>（原注：上此五條，出《藥對》中，義旨淵深，非俗所究。雖莫可遵用，而是主統之本，故亦載之。）</p>
