<header data-type="book">
<h1>黃帝素問宣明論方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1186">公元1186年</data></dd></div>
</dl>
</header>
<h2>重刻劉守真先生宣明論方序</h2>
<p>按本傳，劉完素，字守真，河間人。嘗遇異人陳先生，以酒飲守真，大醉。及寤，洞達醫術，若有授之者，乃撰《運氣要旨論》、《精要宣明論》。慮庸醫或出妄說，又著《素問玄機原病式》，特舉二百八十八字，注二萬余言。然好用涼劑，以降心火、益腎水為主。自號通玄處士。金承安間，章宗徵之不就，賜號高尚先生。本郡《志》稱所論著，皆發前古所未發。與潔古齊名，世號劉張法。蓋古君子而托醫以避亂世者。</p>
<p>又按列傳，張元素，字潔古，易州人。夜夢有人用大斧長鑿鑿開心竅，納書於中，自是洞徹醫術。完素病傷寒，八日不食，不知所為。元素往候，完素面壁罔顧。元素曰：何見待之卑如此哉！既為診視，謂之曰：服某藥乎？曰：然。元素曰：子誤矣。某味性寒下降，走太陰，陽亡汗不能出。今脈如此，當服某藥奏效矣。完素大服，如其言，遂愈，元素自此顯名，余因是知醫術之不可與尋常人語也。</p>
<p>嘗疑司馬遷氏稱扁鵲遇長桑君之事，頗涉謬悠。乃即近史飲酒、鑿心之說證之，豈盡無征不信者哉！殆以醫道通玄，非神機不得其秘，而世之習旁門，執方書，守意見，以戕伐生靈者，由其無所從悟也。</p>
<p>守真本《內經》，著《要旨》、《宣明》二論，總十七萬余言。又述習醫要用《直格》。</p>
<p>晚年著《保命集》三卷，自謂軒岐微妙之旨，得之心髓，不敢輕以示人。蓋自秦越人、張仲景之後，千有餘年，而先生出，上以承正派之學，下以啟丹溪之傳，通於南北，以永仁術。</p>
<p>不其偉與說者曰：不由HT　子，不知異端之害深，不由守真，不知偏門之罪大。</p>
<p>甚哉！邪之亂正也。先生之術既行世，醫竊試其法，得效者多，猶　其名，恥言涼藥，謂去熱藥為非。今觀劉張二傳，好用涼藥，性寒下降之言，則史氏猶為不祛世俗之見。其稱元素之言曰：運氣不濟，古今異軌，古方新病，不相能也，又似以陰詆五運六氣之辯者。</p>
<p>余嘗論之，《內經》運氣之旨，千載不毀之道，至守真而大闡之，極深研幾之學也。</p>
<p>何可議也！其救偏補弊之功，發明治溫暑之法，而力辟辛熱香燥之毒，所以補前賢之未備，而救末流之為害也。然實則無所不該，無所不治。而近世傍求醫論，以謂熱病用河間，其亦就所重立言邪，可謂獨識其全矣。泛觀河間諸書，烏附等藥，亦多用之，是又何邪？噫！後之庸工，以寒涼之劑誤人，而莫之知悟者，又河間之罪？人亦是恃？賈大夫以民部來守郡期歲中，出俸金開局，施藥活人，不可勝計。偶得此書於正科馬志坤氏，因命校讎再三，又捐俸而刻之。且欲購全集而匯焉，與《東垣十書》並傳也。</p>
<p>大夫為政，一以治人為本，刻斯集也，亦以寓仁惠之心而濟之也。間嘗迎養二親於郡，即適太夫人有恙，志坤一藥而愈。因奇其功，而褒美之。叩其術，則能留心於劉張法者，故有是刻。是大夫之孝，由此達之人人也。先正有言，事親者，不可不知醫，信然哉！</p>
<p><u>隆慶三年黃鐘月既望保定府通判北海馮惟敏序</u></p>
<h2>卷一</h2>
<h3>諸證門</h3>
<h4>諸證總綸</h4>
<p>黃帝曰：善言天者，必驗於人。善言古者，必合於今。善言人者，必厭於己。如道不惑，所謂明也。余問夫子，言而可知，視而可見，捫而可得。今驗於發蒙解惑，可得聞乎？岐伯稽首對曰：何道之間也！天覆地載，萬物番備，莫貴於人。人以天地之氣生，四時之法成。君王宰職黎庶，盡欲全形。貴賤雖殊，寶命一矣，好生惡死者，是世人之常也。若人有患，如救水火，莫待留淫日深，著於骨髓，所以難矣。</p>
<h4>諸證標目</h4>
<p>煎厥之狀，陽氣煩勞，精絕，辟積於夏，致目盲不可視，耳閉不可聽。薄厥之狀，陽氣大怒，形氣絕而血菀於上。　脹、飧泄，寒熱不散，升降上下。頹疝、心掣，寒多下墜，以為諸疝。心熱內掣，陰陽之結，四肢浮腫，便血不已。蠱　之病，腎氣不足，冤熱　急，白液出，跳掣也。膀胱不利，致三焦約而遺溺。腎精不足，強上冥視。唾之若涕，惡風振寒，為之勞風。雖近衣絮。營虛衛實，名曰肉苛。心移寒於肺，則肺消。</p>
<p>肺移寒於腎。為涌水。心移熱於肺，為膈消。膽移熱於腦，為鼻淵。膀胱移熱於小腸，為口糜。大腸移熱於胃，為食　。</p>
<p>熱盛則陽絡溢，陽絡溢為衄　。醉以入房，氣竭傷肝，大脫其血，月事衰少，名曰血枯。</p>
<p>蘊熱怫鬱，生於諸風。寒濕風之三氣雜合，而為諸痹。宗　弛縱，發為白淫。熱聚胃口，而不散行，故胃脘為癰。面色白黑，所謂　。口苦積熱，名之膽癉。腎虛內奪，則為喑痱。血氣竭少，令人解　。腹滿不食，寒中腸泄，斯病　溏。腰股痛發，　腫不便，寒生濡泄。聊敘此證，不能備舉。</p>
<h4>煎厥證</h4>
<p>（主熱。出《素問‧生氣通天論》）</p>
<p>陽氣煩勞，積於夏，令人煎厥。目盲不可以視，耳閉不可以聽。</p>
<p><u>人參散</u></p>
<p>　主之：治煎厥氣逆，頭目昏憒，聽不聞，目不明，七氣善怒。</p>
<p>人參　遠志（去心）　赤茯苓（去皮）　防風（去苗。以上各二兩）　芍藥　麥門冬（去心）</p>
<p>陳皮（去白）　白朮（以上各一兩）</p>
<p>上為末，每服三錢，水一盞半，煎至八分，去滓，溫服，不計時候，日再服。</p>
<h4>薄厥證</h4>
<p>（主肝。出《素問‧生氣通天論》。）</p>
<p>陽氣大怒，則形氣絕而血菀於上，令人薄厥於胸中。</p>
<p><u>赤茯苓湯</u></p>
<p>　主之：治薄厥暴怒，怒則傷肝，氣逆，胸中不和，甚則嘔血鼽衄也。</p>
<p>赤茯苓（去皮）　人參　桔梗　陳皮（各一兩）　芍藥　麥門冬（去心）　檳榔（各半兩）</p>
<p>上為末，每服三錢，水一盞，生薑五片，同煎至八分，去滓，溫服，不計時候。</p>
<h4>飧泄證</h4>
<p>（主冷。出《素問‧陰陽應象論》）</p>
<p>清氣在下，則生飧泄。清濁交錯，食不化而清穀出矣。</p>
<p><u>白朮湯</u></p>
<p>　主之：治飧泄，風冷入中，泄利不止，脈虛而細，日夜數行，口乾，腹痛不已。</p>
<p>白朮　厚朴（生薑製）　當歸（去苗）　龍骨（各一兩）　艾葉（半兩，熟炒）</p>
<p>上為末，每服三錢，水一盞，生薑三片，同煎至八分，去滓，空心溫服。</p>
<h4>脹證</h4>
<p>（主心腹。出《素問‧陰陽應象論》）</p>
<p>濁氣在上，則生　脹，此陰陽返，則氣結不散，而腹脹滿，常如飽。</p>
<p><u>吳茱萸湯</u></p>
<p>　主之：治　脹，陰盛生寒，腹滿　脹，且常常如飽，不欲飲食，進之無味。</p>
<p>吳茱萸（湯淘，炒）　厚朴（生薑製）　官桂（去皮）　乾薑（炮。各二兩）　白朮　陳皮（去白）</p>
<p>蜀椒（出子。各半兩）</p>
<p>上為末，每服三錢，水一大盞，生薑三片，同煎至八分，空心，去滓，溫服。</p>
<h4>風消證</h4>
<p>（主心脾。出《素問‧陰陽別論》）</p>
<p>二陽之病發心脾，不得隱曲，女人月水病血不流，脾病食不化，風勝真氣消。</p>
<p><u>黃　羌活湯</u></p>
<p>　主之：治心脾受病，精血虛少，氣力衰乏，日溢消矣。</p>
<p>黃　（一兩半，去蘆頭）　羌活　石斛　防風　枳殼（火炒，去穰）　人參　生地黃牡蠣（燒）　黑附子（炮）　茯苓（去皮）　五味子　牛膝（酒浸。各一兩）　續斷（半兩）　地骨皮（三分）</p>
<p>上為末，每服三錢，水一大盞，煎至八分，去滓，溫服，不計時候，日進三服。</p>
<h4>心掣證</h4>
<p>（主心。出《素問‧陰陽別論》）</p>
<p>一陽發病，少氣嗽泄，三焦不利，上咳下泄，心火不寧，其動若掣。</p>
<p><u>調中湯</u></p>
<p>　主之：治心掣不定，胸中刺，氣痞壅，上苦咳嗽，下苦泄利。</p>
<p>白朮　乾薑（炮）　當歸　人參　五味子　赤茯苓（去皮）　甘草（炙。各一兩）　官桂（一兩半）</p>
<p>上為末，每服三錢，水一盞，煎至八分，溫服，去滓，稍熱，日二服，臨臥。</p>
<h4>風厥證</h4>
<p>（主脾胃。出《素問‧陰陽別論》）</p>
<p>一陽一陰發病，驚駭，背痛，噫，欠，名風厥。蓋胃土肝木，為木克土，風勝濕，不制腎水，故令上逆。</p>
<p><u>遠志散</u></p>
<p>　主之：治風厥，多驚，背痛，善噫，善欠，意不樂，身背皆痛。</p>
<p>遠志（去心）　人參　細辛（去苗）　白茯苓（去皮）　黃　（去蘆頭）　官桂（各二兩半）</p>
<p>菖蒲　熟乾地黃（焙）　白朮　防風（各半兩）</p>
<p>上為末，每服一錢至二錢，溫酒調下，空心食前，日三服。</p>
<h4>結陽證</h4>
<p>（主四肢。出《素問‧陰陽別論》）</p>
<p>四肢腫，四肢熱盛則腫。四肢者，謂諸陽之本，陽結者，故不行於陰脈陽脈，不行，故留結也。</p>
<p><u>犀角湯</u></p>
<p>　主之：治結陽，四肢腫滿，熱菀不散，或毒攻注，大便悶澀。</p>
<p>犀角（屑）　玄參　連翹　柴胡（去苗。各半兩）　升麻　木通（各三錢）　沉香（銼）</p>
<p>射干（去毛）　甘草（炙。各一分）　芒硝　麥門冬（去心。各一兩）</p>
<p>上為末，每服三錢，水一大盞，同煎至八分，食前，去滓，溫服。</p>
<h4>厥疝證</h4>
<p>（主腹痛。出《素問‧五臟生成論》）</p>
<p>脈至大虛，積氣腹中，隱而難見，陰沉，使脾弱，寒於肢膜，氣厥逆也。</p>
<p><u>加減吳茱萸湯</u></p>
<p>　主之：治厥疝，腹中冷痛，積氣上逆，致陰冷於肢膜。</p>
<p>吳茱萸（二兩，湯洗，炒）　川烏頭（去皮，炮）　細辛（去苗。各三兩）　良薑　當歸乾薑（炮）　官桂（各一兩）</p>
<p>上為末，每服二錢，水一盞，同煎至七分，去滓，溫服，日進三服。</p>
<h4>結陰證</h4>
<p>（主便血。出《素問‧陰陽別論》）</p>
<p>結陰便血一升，再結二升，三結三升。以陰氣內結，故不得通行，氣血無宗，滲入腸下，致使漸多。</p>
<p><u>地榆湯</u></p>
<p>　主之：治結陰，下血不止，漸漸極多，腹痛不已。</p>
<p>地榆（四兩）　甘草（三兩，半炙半生）　縮砂仁（七枚，每服可加為妙）</p>
<p>上為末，每服五錢，水三盞，縮砂仁同煎至一半，去滓，溫服。</p>
<h4>解證</h4>
<p>（主腎實。出《素問‧平人氣象論》）</p>
<p>冬脈太過，緩而澀，腎實，精不運。解者，緩，　，疑，寒熱類也。</p>
<p><u>利腎湯</u></p>
<p>　主之：治解　，春脈動，氣痛氣乏，不欲言，此為腎元有餘矣。</p>
<p>澤瀉　生地黃　赤茯苓（去皮。各一兩半）　檳榔　麥門冬（去心）　柴胡　枳殼（麩炒，去穰）</p>
<p>牛膝（去苗，酒浸。各一兩）</p>
<p>上為末，每服三錢，水一盞半，煎至七分，去滓，溫服，不計時候。</p>
<h4>胃疸證</h4>
<p>（主胃熱。出《素問‧平人氣象論》）</p>
<p>食已如飢，胃熱能消穀，陽明脈終，心火上行，心憎煩，身黃，小便赤澀也。</p>
<p><u>加減茯苓湯</u></p>
<p>　主之：治胃疸積熱，食已輒飢，面黃瘦，胸滿脅脹，小便　赤。</p>
<p>赤茯苓　陳皮（去白）　澤瀉　桑白皮（銼。各三兩）　赤芍藥　白朮（各四兩）　人參官桂（各二兩）　石膏（八兩）　半夏（六兩，湯洗，生薑製，焙）</p>
<p>上為末，每服三錢，水一盞，生薑十片，同煎至八分，去滓，溫服，不計時候。如病甚者，加大黃、朴硝各二兩。</p>
<h4>蠱病證</h4>
<p>（主脾風。出《素問‧玉機真藏論》）</p>
<p>脾風傳腎，一名疝氣，小腹痛，出白液，名曰蠱。《左傳》云：惑以喪志，名為蠱，乃真精不守也。</p>
<p><u>大建中湯</u></p>
<p>　主之：治蠱病，小腹急痛，便溺失精，溲而出白液。</p>
<p>黃　遠志（去心）　當歸　澤瀉（各三兩）　芍藥　人參　龍骨　甘草（炙。各一兩）</p>
<p>上為末，每服三錢，水一盞，生薑五片，煎至八分，去滓，溫服，不計時候。</p>
<h4>病證</h4>
<p>（主筋急。出《素問‧玉機真藏論》）</p>
<p>蠱腹痛，腎傳心，　脈相引而急，精液少，　脈不榮而引急。</p>
<p><u>加減建中湯</u></p>
<p>　主之：治　，　病相引而急，及五勞七傷，小便數，腹痛難立。</p>
<p>人參　甘草（炙）　官桂　白茯苓（去皮）　當歸　附子（炮）　厚朴（生薑製。各一兩）</p>
<p>龍骨　黃　（銼）　麥門冬　白芍藥　生地黃（各四兩）</p>
<p>上為末，每服三錢，水一盞半，生薑三片、棗一枚、餳少許，煎至一盞，溫服，去滓。</p>
<h4>勞風證</h4>
<p>（主諸風。出《素問‧評熱論》）</p>
<p>發在肺下，病強上冥視，唾涕惡風，腎風，入肺中，振栗，故俯仰，成勞風。</p>
<p><u>芎枳丸</u></p>
<p>　主之：治勞風，強上冥視，肺熱上壅，唾稠，喉中不利，頭目昏眩。</p>
<p>川芎　枳殼（麩炒，去穰。各等分）</p>
<p>上煉蜜為丸，如桐子大，每服十丸，溫水送下，食後，日三服。</p>
<h4>痹氣證</h4>
<p>（主陽虛陰實。出《素問‧逆調論》）</p>
<p>身非衣寒，中非受寒，痹氣者，氣血不行，如從水中出，不必寒傷而作也。</p>
<p><u>附子丸</u></p>
<p>　主之：治痹氣中寒，陽虛陰盛，一身如從水中出。</p>
<p>附子（炮）　川烏頭（炮。二味通銼碎，炒黃色入藥）　官桂　川椒　菖蒲　甘草（各四兩）</p>
<p>骨碎補（炒）　天麻　白朮（各二兩）</p>
<p>上為末，煉蜜為丸，如桐子大，每服三十丸，溫酒下，空心食前，日三服。</p>
<h4>骨痹證</h4>
<p>（主腎虛。出《素問‧逆調論》）</p>
<p>身寒大，衣不能熱，腎脂枯涸不行，髓少　弱，不凍栗，故攣急。</p>
<p><u>附子湯</u></p>
<p>　主之：治腎藏風寒濕骨痹，腰脊痛，不得俯仰，兩腳冷，受熱不遂，頭昏耳聾音渾。</p>
<p>附子（炮）　獨活　防風（去苗）　川芎　丹參　萆　菖蒲　天麻　官桂　當歸（各一兩）</p>
<p>黃　細辛（去苗）　山茱萸　白朮　甘菊花　牛膝（酒浸）　甘草（炙）　枳殼（麩炒，去穰。各半兩）</p>
<p>上為末，每服三錢，水一大盞，生薑五片，煎至七分，去滓，溫服，不計時候，日進三服。</p>
<h4>肉苛證</h4>
<p>（主營虛衛實。出《素問‧逆調論》）</p>
<p>人之肉苛者雖近衣絮，猶尚苛也，營氣虛則不仁，其證　重，為苛也以。</p>
<p><u>前胡散</u></p>
<p>　主之：治營虛衛實，肌肉不仁，致令　重，名曰肉苛，虛其氣。</p>
<p>前胡（去苗）　白芷（銼）　細辛（去苗）　官桂　白朮　川芎（各三兩）　川椒（去目、閉口者，生用，二錢）　吳茱萸（湯洗，炒）　附子（炮）　當歸（去苗。各二兩）</p>
<p>上銼搗，以茶酒三升，拌勻，同窨一宿。以煉成豬脂膏五斤，入藥微煎，候白芷黃紫色，滬出滓，成膏。病在處，摩之病，以熱調此藥櫻桃大。　瘕瘡痍皆治，並去諸風，瘡癢疼痛，傷折墜損，故摩內皆可用之。</p>
<h4>肺消證</h4>
<p>（主心肺。出《素問‧氣厥論》）</p>
<p>心移寒於肺，肺消，飲少溲多，當補肺平心。死不可治，乃心肺為賊也。</p>
<p><u>黃　湯</u></p>
<p>　主之：治肺消，飲少溲多，補肺平心。移寒在肺，痿劣。</p>
<p>黃　（三兩）　五味子　人參　桑白皮（銼。各二兩）　麥門冬（去心，二兩）</p>
<p>枸杞子　熟地黃（各一兩半）</p>
<p>上為末，每服五錢，水二盞，煎至一盞，去滓，溫服，無時。</p>
<h4>涌水證</h4>
<p>（主水病。出《素問‧氣厥論》）</p>
<p>肺移寒於腎，名曰涌水，其證如溢囊裡裹漿，或遍身腫滿，按腹不堅，疾行則濯濯有聲，或咳喘不定。</p>
<p><u>葶藶丸</u></p>
<p>　主之：治涌水，腹滿不堅，溢如囊裹漿，疾行則濯濯有聲。</p>
<p>葶藶（紙炒）　澤瀉　椒目　桑白皮（銼）　杏仁（去皮，麩炒）　木豬苓（去黑皮。各半兩）</p>
<p>上為細末，煉蜜和丸，如桐子大，每服二十丸，蔥白湯下，不計時候，以利為度。</p>
<h4>膈消證</h4>
<p>（主肺。出《素問‧氣厥論》）</p>
<p>心移熱於肺，名曰膈消，二者心膈有熱，久則引飲，為消渴耳。</p>
<p><u>麥門冬飲子</u></p>
<p>　主之：治膈消，胸滿煩心，津液燥少，短氣，久為消渴。</p>
<p>麥門冬（二兩，去心）　栝蔞實　知母　甘草（炙）　五味子　生地黃　人參　葛根茯神（各一兩）</p>
<p>上為末，每服五錢，水二盞，竹葉數片，同煎至一盞，去滓，溫服，食後。</p>
<h4>口糜證</h4>
<p>（主口。出《素問‧氣厥論》）</p>
<p>膀胱移熱於小腸，膈腸不便，上為口糜，心肺壅熱，水穀不化，轉下小腸。</p>
<p><u>柴胡地骨皮湯</u></p>
<p>　主之：治口糜生瘡損爛，小腸有熱，脹滿不便，宜服之。</p>
<p>柴胡（去苗）　地骨皮（各等分）</p>
<p>上為末，每服三錢，水一大盞，煎至八分，去滓，食後。如有病患大段實者，加大黃、朴硝，可瀉熱甚。</p>
<h4>瘕證</h4>
<p>（主女病。出《素問‧氣厥論》）</p>
<p>小腸移熱於大腸，名　瘕，津液耗散，不能滑利，菀結而大腸　澀。</p>
<p><u>檳榔丸</u></p>
<p>　主之：治大腸有移熱，津液壅滯，腹痛　澀，名曰　瘕證。</p>
<p>檳榔　大黃（銼，炒）　枳殼（麩炒，去穰。各二兩）　木香桃仁（去皮尖，炒）</p>
<p>大麻仁（另研。各一兩）</p>
<p>上為末，煉蜜和丸，如桐子大，每服十丸至十五丸，溫酒下，不計時候。湯亦得。</p>
<h4>食證</h4>
<p>（主胃病。出《素問‧氣厥論》）</p>
<p>大腸移熱於胃，善食而瘦，或胃熱移於膽，能食善飲，火勝土也。</p>
<p><u>參苓丸</u></p>
<p>　主之：治食亦，胃中結熱，消穀善食，不生肌肉，此名食　。</p>
<p>人參　菖蒲　遠志　赤茯苓　地骨皮　牛膝（酒浸。各一兩）</p>
<p>上為末，煉蜜為丸，如桐子大，每服十丸至十五丸，米飲下，不計時候。</p>
<h4>鼻淵證</h4>
<p>（主鼻。出《素問‧氣厥論》）</p>
<p>膽移熱於腦，則辛　鼻淵，濁涕不止，如涌泉，不滲而下。久不已，衄血為患。</p>
<p><u>防風湯</u></p>
<p>　主之：治鼻淵，腦熱滲下，濁涕不止，久而不已，必成衄血之疾。</p>
<p>黃芩　人參　甘草（炙）　麥門冬（去心。各一兩）　川芎（一兩）　防風（去蘆，一兩半）</p>
<p>上為末，每服二錢，沸湯點之，食後服，日三服。</p>
<h4>衄證</h4>
<p>（主失血。出《素問‧氣厥論》）</p>
<p>膽受胃熱，循脈而上於腦，陽絡溢，血妄行，在鼻空蔑，目瞑者。</p>
<p><u>定命散</u></p>
<p>　主之：治膽受熱，血妄行，鼻中衄　，並血汗不止。</p>
<p>朱砂　水銀　麝香（各等分）</p>
<p>上為末，每服半錢，新汲水調下，不計時候。如用藥，看老幼虛實加減。</p>
<h4>鼓脹證</h4>
<p>（主胃病氣逆。出《素問‧腹中論》）</p>
<p>有病心腹脹滿，旦食不能暮食，致令胃逆不散，大腸不傳，逆滿。</p>
<p><u>雞矢醴散</u></p>
<p>　治鼓脹，旦食不能暮食，痞滿。古法用此，可擇焉。</p>
<p>大黃　桃仁　雞矢白（干者。各等分）</p>
<p>上為末，每服一錢，水一盞，生薑三片，煎湯調下，食後臨臥服。</p>
<h4>血枯證</h4>
<p>（主婦人經病。出《素問‧腹中論》）</p>
<p>年少醉入房室，氣竭肝傷，故經衰少不來。肝傷則血涸，脾胃相傳，大脫其血，目眩心煩，故月事不來也。</p>
<p><u>烏賊骨丸</u></p>
<p>　主之治血涸，胸脅支滿，妨飲食，變則聞腥臊之氣，唾血，出清液，前後泄血。</p>
<p>蘆茹　烏賊魚骨（各一兩）</p>
<p>上為末，雀卵不拘數，和成劑，丸如小豆大，每服五丸至十丸，鮑魚湯下，食後此，日三服，食壓之妙矣。</p>
<h2>卷二</h2>
<h3>諸證門</h3>
<h4>伏梁證</h4>
<p>（主心積。出《素問‧腹中論》）</p>
<p>若梁之伏隱也，居臍上逆，臍下順，不可移動，為水溺澀，故有二等。</p>
<p><u>鱉甲湯</u></p>
<p>　主之：治伏梁積氣，心下如臂，痞痛不消，小便不利。</p>
<p>鱉甲（去裙欄，醋炙黃色）　京三棱　大腹子皮　芍藥　當歸　柴胡（去苗）　生地黃（各一兩）　官桂　生薑（切作片子，焙乾。各三分）</p>
<p>上為末，每服三錢，水一大盞，入生薑、木香各半錢，同煎至八分，去滓，空心溫服。</p>
<h4>喑俳證</h4>
<p>（主腎虛。出《素問‧脈解論》）</p>
<p>內奪而厥，舌喑不能言，二足廢，不為用。腎脈虛弱，其氣厥不至，舌不仁。經云：喑俳，足不履用，聲音不出者。</p>
<p><u>地黃飲子</u></p>
<p>　主之：治喑俳，腎虛弱厥逆，語聲不出，足廢不用。</p>
<p>熟乾地黃　巴戟（去心）　山茱萸　石斛　肉蓯蓉（酒浸，焙）　附子（炮）　五味子官桂　白茯苓　麥門冬（去心）　菖蒲　遠志（去心。各等分）</p>
<p>上為末，每服三錢，水一盞半，生薑五片、棗一枚、薄荷少許，同煎至八分，不計時候。</p>
<h4>厥逆證</h4>
<p>（主心痛。出《素問‧腹中論》）</p>
<p>膺腫頸痛，胸滿腹脹，上實下虛，氣厥而逆，陽氣有餘於胸也，不可針灸，宜服順氣湯。</p>
<p><u>小茯苓湯</u></p>
<p>　主之：治厥逆病，三焦不調升降，胸膈膺腫，胸滿腹脹，冷氣衝注，刺痛。</p>
<p>赤茯苓　人參　陳皮（去白）　桔梗（銼，炒。各等分）</p>
<p>上為末，每服三錢，水一盞半，生薑五片，同煎至八分，去滓，不計時候。</p>
<h4>風成寒熱證</h4>
<p>（主風。出《素問‧脈要精微論》）</p>
<p>因於露風，寒熱之始腠理，次入胃，食不化，熱則消中，寒栗振動也。</p>
<p><u>解風散</u></p>
<p>　主之：治風成寒熱，頭目昏眩，肢體疼痛，手足麻痹，膈上壅滯。</p>
<p>人參　川芎　獨活　麻黃（去節，湯洗，焙。各一兩）　甘草（一兩）　細辛（去苗，半兩）</p>
<p>上為末，每服三錢，水一盞半，生薑五片、薄荷葉少許，同煎至八分，不計時候。</p>
<h4>風成寒中證</h4>
<p>（主風。出《素問‧風論》）</p>
<p>風氣與陽明入胃，循脈而上至目　，津液所生為泣也。</p>
<p><u>當歸湯</u></p>
<p>　主之：治風邪所傷，寒中，目泣自出，肌瘦，泄汗不止。</p>
<p>當歸　人參　官桂（各三錢）　乾薑（炮）　白朮　白茯苓　甘草　川芎　白芍藥（各半兩）</p>
<p>細辛（去苗，半兩）　陳皮（一兩，去白）</p>
<p>上為末，每服三錢，水一盞半，生薑三片、棗二枚，同煎至八分，去滓，熱服，不計時候，並三服。</p>
<h4>風成熱中證</h4>
<p>（主風。出《素問‧風論》）</p>
<p>風熱與陽明入胃，循脈而上目　，肥人風氣不外泄，為熱中目黃之病也。</p>
<p><u>青龍散</u></p>
<p>　主之：治風氣，邪傳化腹內，瘀結而目黃，風氣不得泄，為熱中煩渴引飲。</p>
<p>地黃　仙靈脾　何首烏（去黑皮，泔浸一宿，竹刀子切，焙。各一分）　防風（去苗，一分）</p>
<p>荊芥穗（一兩）</p>
<p>上為末，每服一錢，沸湯點調下，食後，每日三服。</p>
<h4>腦風證</h4>
<p>（主風氣。出《素問‧風論》）</p>
<p>風氣循風府而上，則為腦風，項背怯寒，腦戶極冷，以此為病。</p>
<p><u>神聖散</u></p>
<p>　主之：治腦風，邪氣留飲不散，項背怯寒，頭疼不可忍者。</p>
<p>麻黃（去節）　細辛（去苗）　干蠍（一半生，一半炒）　藿香葉（各等分）</p>
<p>上為末，每服二錢，煮荊芥、薄荷，酒調下，茶也得。並治血風。</p>
<p>又方治腦風，邪氣留飲，頭痛不可忍者，用遠志末，不以多少，於鼻中　，與痛處揉之。</p>
<p>相兼前藥可用也。</p>
<h4>首風證</h4>
<p>（主新沐中風。出《素問‧風論》）</p>
<p>新沐中風，為首風，頭面多汗，惡風，當先一日甚，至其風日則少愈。</p>
<p><u>大川芎丸</u></p>
<p>　主之：治首風，旋暈眩急，外合陽氣，風寒相搏，胃膈痰飲，偏正頭疼，身拘倦。</p>
<p>川芎（一斤）　天麻（四兩，用靳州者）</p>
<p>上為末，煉蜜為丸，每兩作十丸，每服一丸，細嚼，茶酒下，食後。</p>
<p><u>秘方茶酒調散</u></p>
<p>　治一切諸風痰壅，目澀昏眩，頭疼心憒，煩熱，皮膚病癢，並風毒壅滯。清爽神志，通和關竅，消惡汗。</p>
<p>石膏（另為細末）　菊花　細辛（去苗）　香附子（去須，炒，各等分）</p>
<p>上為末，每服二錢，溫茶、酒調下，食後，日三服。</p>
<h4>目風眼寒證</h4>
<p>（主眼。出《素問‧風論》）</p>
<p>風入系頭，則血脈凝滯，不能上下通流於目，令風寒客之，目風眼寒也。</p>
<p><u>石膏散</u></p>
<p>　主之：治目風眼寒，及偏正頭疼，夾腦風，鼻出清涕，目淚，疼痛不已。</p>
<p>石膏（二兩，炭火燒，研細末）　川芎（一兩）　甘草（半兩，炙）</p>
<p>上為末，每服一錢，蔥白、好茶同煎湯調下，食後，日二服。</p>
<h4>漏風證</h4>
<p>（主酒風。出《素問‧風論》）</p>
<p>飲酒中風，或汗多，不可單衣，食則汗出，多如液漏。久不治，為消渴疾。</p>
<p><u>白朮散</u></p>
<p>　主之：治漏風，久虛多汗，食之汗出如洗，少者痿劣。</p>
<p>牡蠣（二錢，焙赤）　白朮（一兩一分）　防風（二兩半）</p>
<p>上為末，每服一錢，溫水調下，不計時。如惡風，倍防風、白朮。如汗多面腫，倍牡蠣。</p>
<h4>胃風證</h4>
<p>（主風。出《素問‧風論》）</p>
<p>因於失衣，風感之，頸多汗，惡風，膈塞不通，寒則胃泄，腹滿，氣不通。</p>
<p><u>大豆蔻丸</u></p>
<p>　主之：治胃風，頸多汗，惡風，飲食不下，小腹善滿，失衣則腹脹，食寒則泄，形瘦。</p>
<p>肉豆蔻　草豆蔻　陳皮　獨活　意苡仁　人參　川芎（各半兩）　羌活　防風桔梗　甘草（炙）　木香（分各）</p>
<p>上為末，煉蜜為丸，如桐子大，每服四十丸，米飲下，不計時候，日進三服。</p>
<p><u>胃風湯</u></p>
<p>　治風冷乘虛入客腸胃，水穀不化，腹脅虛滿　痛，及腸胃泄毒，或下瘀血。</p>
<p>人參　白茯苓（去皮）　芎　官桂　當歸（去苗）　白芍藥　白朮（各等分）</p>
<p>上為末，每服二錢，水一大盞，入粟米百余粒，同煎至七分，去滓，熱服，空心食前。此藥與大豆蔻丸為表裡也。</p>
<h4>行痹證</h4>
<p>（主痹。出《素問‧痹論》）</p>
<p>風寒濕三氣，合而為痹。風氣勝者，行痹，上下左右無留，隨所至作。</p>
<p><u>防風湯</u></p>
<p>　主之：治行痹，行走無定，痹麻不快。</p>
<p>防風　甘草　當歸　赤茯苓（去皮）　杏仁（去皮，炒熟）　桂枝（各一兩）　黃芩　秦艽葛根（各三錢）　麻黃（半兩，去節）</p>
<p>上為末，每服五錢，酒水合二盞，棗三枚，薑五片，煎至一盞，去滓，溫服。</p>
<h4>痛痹證</h4>
<p>（主痹。出《素問‧痹論》）</p>
<p>寒勝者，為痛痹，大宜宣通。陰寒為痛，宜通氣溫經而愈。</p>
<p><u>加減茯苓湯</u></p>
<p>　主之：治痛痹，四肢疼痛，拘倦浮腫。</p>
<p>赤茯苓（去皮）　桑白皮（各二兩）　防風　官桂　川芎　芍藥　麻黃（去節。各一兩半）</p>
<p>上為末，每服五錢，水一盞，棗一枚，煎至八分，去滓，溫服。</p>
<p>以薑粥投之，汗泄為度，效矣。</p>
<h4>著痹證</h4>
<p>（主痹。出《素問‧痹論》）</p>
<p>濕氣勝者，為著痹，濕地水氣甚，重著而不去，多汗而濡者。</p>
<p><u>茯苓川芎湯</u></p>
<p>　主之：治著痹，留注不去，四肢麻，拘攣，浮腫。</p>
<p>赤茯苓　桑白皮　防風　官桂　川芎　麻黃　芍藥　當歸　甘草（炙。各等分）</p>
<p>上為末，每服二錢，水二盞，棗三枚，同煎至一盞，去滓，空心，溫服。</p>
<p>如欲出汗，以粥投之。</p>
<h4>周痹證</h4>
<p>（主痹。出《靈樞‧周痹》）</p>
<p>《黃帝針經》云：在血脈之中，隨上下，本痹不痛今能上下周身，故以名之。</p>
<p><u>大豆　散</u></p>
<p>　主之：治周痹，注五臟留滯，胃中結聚。益氣出毒，潤皮毛，補腎氣。</p>
<p>大豆　（一斤，炒香熟）</p>
<p>上為末，每服半錢，溫酒調下，空心，加至一錢，日三服。</p>
<h4>胞痹證</h4>
<p>（主膀胱。出《素問‧痹論》）</p>
<p>小腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕。太陽直行，從巔入循於腦，氣下灌於鼻，時出清涕不止。</p>
<p><u>腎著湯</u></p>
<p>　主之：治胞痹，小便不利，鼻出清涕者。</p>
<p>赤茯苓（去皮）　白朮（各四兩）　甘草（三兩，炙）　乾薑（二兩，炮）</p>
<p>上為末，每服五錢，水二盞，煎至盞，去滓，溫服，日三服。</p>
<h4>腸痹證</h4>
<p>（主痹。出《素問‧痹論》）</p>
<p>雖多飲，不得溲，不成大便，糟粕不化，故氣喘急而飧泄。</p>
<p><u>木香丸</u></p>
<p>　主之：治腸痹，腹　痛，時發飧泄，氣不消化，小便秘澀。</p>
<p>木香　白朮　官桂　蕪荑　良薑　訶子皮（各一兩）　附子（炮，去皮）　厚朴（生薑製）</p>
<p>肉豆蔻（各二兩）　乾薑（三分）　甘草（半兩）</p>
<p>上為末，曲面糊為丸，如桐子大，每服二十丸，薑湯下，空心。</p>
<h4>熱痹證</h4>
<p>（主痹。出《素問‧痹論》）</p>
<p>陽氣多，陰氣少，陽熱遭其陰寒，故痹。臟腑熱，煽然而悶也。</p>
<p><u>升麻湯</u></p>
<p>　主之：治熱痹，肌肉熱極，體上如鼠走，唇口反縱，皮色變，兼諸風皆治。</p>
<p>升麻（三兩）　茯神（去皮）　人參　防風　犀角（鎊）　羚羊角（鎊）　羌活（各一兩）</p>
<p>官桂（半兩）</p>
<p>上為末，每服四錢，水二盞，生薑二塊（碎）、竹瀝小許，同煎至一盞，溫服，不計時候。</p>
<h4>白淫證</h4>
<p>（主虛勞。出《素問‧痿論》）</p>
<p>思想無窮，所愿不得，意淫於外，入房太甚，　縱，發為　痿，及為白淫。太過者，白物為淫，隨溲而下，故為勞弱。</p>
<p><u>秘真丸</u></p>
<p>　主之：治白淫，小便不止，精氣不固，及有餘瀝，或夢寐陰人通泄耳。</p>
<p>龍骨（一兩，另研）　訶子皮（五個，用大者）　縮砂仁（半兩，去皮）　朱砂（一兩，研細，一分為衣）</p>
<p>上為末，面糊為丸，如綠豆大，每服一丸，空心，溫酒下，冷水亦得。不可多服。</p>
<p>大便秘，蔥白湯、茶下。</p>
<h4>胃脘癰證</h4>
<p>（主癰。出《素問‧病能論》）</p>
<p>胃脈沉細，陽氣不得下通，寒癰，陽熱聚於胃口，腐壞成膿。</p>
<p><u>射干湯</u></p>
<p>　主之：治胃脘癰，人迎脈逆而甚，嗽膿血，營衛不流，熱聚胃口成癰。</p>
<p>射干（去毛）　梔子仁　赤茯苓（去皮）　升麻（各一兩）　赤芍藥（一兩半）　白朮（半兩）</p>
<p>上為末，每服五錢，水二盞，煎至一盞，去滓，入地黃汁一合、蜜半合，再煎，溫服，不計時候。</p>
<h4>陽厥證</h4>
<p>（主諸氣。出《素問‧病能論》）</p>
<p>怒狂者，生於陽也，陽勝則氣逆，狂怒上氣，奪食即已。食入陰，善於陽，則平其氣。</p>
<p>若陽勝，氣逆多怒。</p>
<p><u>羚羊角湯</u></p>
<p>　主之：治陽厥，氣逆多怒，而頸脈復動。已食陰養於陽，平其氣。</p>
<p>羚羊角　人參（各三兩）　赤茯苓（二兩，去皮）　遠志（去心）　大黃（炒。各半兩）</p>
<p>甘草（一分，炙）</p>
<p>上為末，每服三錢，水一盞，煎至八分，去滓，溫服，不計時候。</p>
<p>新補，又方　治陽厥，若除煩下氣，鐵落為飲，鐵漿湯飲之，食後並服。</p>
<h4>息積證</h4>
<p>（主心腹。出《素問‧奇病論》）</p>
<p>病脅下滿，逆氣不已，氣逆脅下，息而不消，積而不散，氣元在胃，妨飲食。不可針灸，宜導引服藥爾。</p>
<p><u>白朮丸</u></p>
<p>　治息積，脅下氣逆，妨悶喘息不便，呼吸引痛不已。</p>
<p>白朮　枳實　官桂（各一兩半）　人參（二兩）　陳皮　桔梗（醋炒）　甘草（各一錢）</p>
<p>上為末，煉蜜為丸，如桐子大，每服二十丸，溫酒下，日三服。</p>
<h4>證</h4>
<p>（主肝。出《素問‧奇病論》）</p>
<p>人有尺脈數甚，　急而見，腹必急，數亦為虛，　見以名耳。</p>
<p><u>柏子仁散</u></p>
<p>　主之：治　，肝虛生寒，脈數勁急，腹脅痞悶，　見於外。（《聖惠方》中十五味柏子仁丸亦治。）</p>
<p>柏子仁　茯苓　防風　細辛　白朮　官桂　枳殼　川芎（各三兩）　附子　當歸檳榔（各半兩）</p>
<p>上為末，每服三錢，水一盞半，生薑三片、棗二枚，同煎至八分，去滓，溫服，不計時候。</p>
<h4>厥逆頭痛證</h4>
<p>（主腎。出《素問‧奇病論》）</p>
<p>腎虛犯大寒，頭痛，齒亦痛，痛之甚，數歲不已者是也。以：</p>
<p><u>天南星丸</u></p>
<p>　主之：治厥逆頭痛，齒痛骨寒，胃脈同腎脈厥逆，頭痛不可忍之。</p>
<p>天南星（炮）　硫黃（研）　石膏（研）　消石（研。各等分）</p>
<p>上為末，面糊為丸，如桐子大，每服二十丸，溫酒下，空心、日午、臨臥三時服。</p>
<h4>膽癉證</h4>
<p>（主肝。出《素問‧奇病論》）</p>
<p>謀慮不決，膽虛，氣上衝口中，上溢則口苦，是清淨之府，肝濁擾之，氣上溢。</p>
<p><u>益膽湯</u></p>
<p>　主之：治膽癉，膽虛，熱氣上衝，口中當苦，泄熱不已，臟腑固虛致然。</p>
<p>黃芩（去朽）　甘草（炙）　人參（各二兩）　官桂（一兩）　苦參　茯神（各兩半）</p>
<p>上為末，每服三錢，水一盞，煎至八分，去滓，溫服，不計時候。</p>
<h4>濡泄證</h4>
<p>（主利。出《素問‧氣交變大論》）</p>
<p>《內經》云：濕勝則濡泄。《甲乙經》云：寒客生濡，胃泄，如隨氣而下利。</p>
<p><u>豆蔻散</u></p>
<p>　主之：治濡泄不止，寒客於脾胃，故傷濕而腹痛滑利不止。</p>
<p>肉豆蔻（五個）　甘草（炙）　厚朴（各等分）</p>
<p>上為末，每服二錢，米飲一盞調下，食前，白湯亦得。</p>
<h4>溏證</h4>
<p>（主利。出《素問‧氣交變大論》）</p>
<p>脾虛風冷，陰盛，糟粕不化，大便黃黑如　溏，或大腸有寒也。</p>
<p><u>吳茱萸丸</u></p>
<p>　治　溏，瀉泄不止，脾虛胃弱，大腸有寒，大便青黑或黃，利下。</p>
<p>吳茱萸（湯洗，炒）　乾薑　赤石脂　陳曲（炒熟）　當歸（焙）　厚朴（各三錢）</p>
<p>上為末，煉蜜為丸，如桐子大，每服三十丸，溫米飲下，空心服。</p>
<h4>三焦約證</h4>
<p>（主大小腸。出《素問‧宣明五氣論》）</p>
<p>小腹痛，不得大小便，邪氣入客，約而不行，故穀氣不得通也。</p>
<p><u>枳殼丸</u></p>
<p>　主之：治三焦約，調順三焦氣脈，消痞滯，利胸膈，治風，通大小便。</p>
<p>陳皮（一兩）　檳榔（半兩）　牽牛（四兩，一半生一半熟，搗，取頭末一兩半，余不用）　木香（一分）　枳殼（二兩）</p>
<p>上為末，煉蜜為丸，如桐子大，每服十五丸，生薑湯下，食後，日三服。</p>
<h4>胃寒腸熱證</h4>
<p>（主胃。出《素問‧五臟別論》）</p>
<p>胃寒不受，水穀不化，瀉泄，寒之氣在上，腸熱之氣在下，故脹而泄。</p>
<p><u>妙應丸</u></p>
<p>　主之：治胃寒腸熱，水穀不化，腹脹痞滿，泄利不已。</p>
<p>川烏頭（去尖，半兩）　梔子仁　乾薑（生。各一分）</p>
<p>上為末，生薑汁、面糊為九，如桐子大，每服五丸，溫酒下，食前，日進二服。</p>
<h4>胃熱腸寒證</h4>
<p>（主胃。出《素問‧五臟別論》）</p>
<p>胃熱則消穀，善食而飢，奈腸寒，則血凝脈重，小腹疼痛而脹。</p>
<p><u>青橘皮丸</u></p>
<p>（又云：前胡木香散亦治飢）　治胃熱腸寒，善食而飢，便溺少而腹脹痛，大便或澀。</p>
<p>青皮　京三棱　黃連　蓬莪朮（炮。各一兩）　巴豆霜（一分）</p>
<p>上為末，面糊為丸，如綠豆大，每服三丸至九丸，茶、酒下，食後。（少與之，不可多也。）</p>
<h4>控睪證</h4>
<p>（主小腸。出《素問‧至真要大論》。）</p>
<p>《甲乙經》云：小腸病，結於腰上而不下，痛衝心肺，邪所系。</p>
<p><u>茴香楝實丸</u></p>
<p>　主之：治小腸病結上而不下，痛衝心肺。</p>
<p>茴香（炒）　楝實（麩炒，去核）　吳茱萸　馬練花（醋炒。各一兩）　陳皮（一兩）</p>
<p>芫花（半兩，醋炒）</p>
<p>上為末，醋、面糊為丸，如桐子大，每服十丸至二十丸，溫酒下，空心食前。</p>
<h4>陰疝證</h4>
<p>（主男病。出《素問‧至真要大論》）</p>
<p>足厥陰之脈，環陰器，抵小腹，小腹痛或腫，腎虛寒，水涸竭。瀉邪補脈為治。</p>
<p><u>蒺藜湯</u></p>
<p>　主之：治陰疝，牽引小腹痛。諸厥疝，即陰疝也。欲勞，痛不可忍之。</p>
<p>蒺藜（去角，炒）　附子（炮，去皮臍）　梔子（各一兩）</p>
<p>上為末，每服二錢，水一盞半，煎至六分，去滓，每日三服。</p>
<p>控睪證茴香練實丸，亦治此證。</p>
<h4>諸痹證</h4>
<p>（主風。出《素問‧痹論》）</p>
<p>痹乃風寒濕三氣相合而為痹。風者，百疾之長，善行數變，多汗惡風，目　脅痛，或走注四肢，皮膚不仁，屈伸不便。</p>
<p><u>升麻前胡湯</u></p>
<p>　主之：治肝風虛所中，頭痛目眩，胸膈壅滯，心煩痛昏悶，屈伸不便。</p>
<p>升麻　前故（各一兩半）　玄參　地骨皮（各一兩）　羚羊角　葛根（各二兩）　酸棗仁（一錢）</p>
<p>上為末，每服三錢，水一盞半，煎至八分，去滓，再煎三五沸，食後溫服，如行五六裡，更進一服。</p>
<h4>心疝證</h4>
<p>（主心痛。出《素問‧脈要精微論》）</p>
<p>心脈急，小腹有形，心不受邪，必傳於府，故小腹有形。心氣逆不順，當痛不已。</p>
<p>當兼心氣治，不止為有寒邪所中。</p>
<p><u>木香散</u></p>
<p>　主之：治心疝，小腹痛，悶絕不已者。</p>
<p>木香　陳皮（各一兩）　良薑　乾薑　訶子皮　赤芍藥　枳實（各半兩）　草豆蔻　黑牽牛（各三兩）　川芎（三兩）</p>
<p>上為末，每服二錢，水一盞，煎至七分，去滓，溫服。</p>
<p><u>四聖散</u></p>
<p>　治腎藏風，並一切癬。</p>
<p>白附子　白蒺藜　黃　羌活（各等分，生用）</p>
<p>上為末，每服二錢，湯調下，空心，一日三服。</p>
<p>久癬不瘥，十日大愈。</p>
<p><u>赴筵散</u></p>
<p>　治口瘡不已者。</p>
<p>密陀僧　黃柏　青黛（各等分）</p>
<p>上同研為細末，每用干糝於瘡上。</p>
<p>不過三二日，即便愈。</p>
<p><u>訶子湯</u></p>
<p>　治失音不能言語者。</p>
<p>訶子（四個，半炮半生）　桔梗（一兩，半炙半生）　甘草（二寸，半炙半生）</p>
<p>上為細末，每服二錢，同童子小便一盞，同水一盞，煎至五七沸，溫服。</p>
<p>甚者不過三服，即愈。</p>
<h2>卷三</h2>
<h3>風門</h3>
<h4>諸風總論</h4>
<p>《素問》云：諸風掉眩強直，肢痛軟戾，裡急筋縮，皆足厥陰風木之位，肝膽之氣也。</p>
<p>（風者，動也。動者，搖也。所謂風氣甚而主目眩運，由風木王，則是金衰不能制木，而木能生火，故風火多為熱化，皆為陽熱多也。）風為病者，或為寒熱，或為熱中，或為寒中，或為癘風，或為偏枯，或為腰脊強痛，或為耳鳴鼻塞諸證，皆不仁，其病各異，其名不同。</p>
<p>經云：風者善行而數變，腠理開則洒然寒，閉則熱而悶。風氣俱入，行於諸脈分肉之間，與衛氣相干，其道不利，致使肌肉　，而有瘍也。衛氣所凝而不行，故其肉有不仁也。分肉之間，衛氣行處，風與衛氣相摶，俱行肉分，故氣道澀而不利。氣道不利，風熱內郁，衛氣相摶，肉　而瘡出。衛氣被風鬱，不得傳遍，升凝而不行，則肉不仁也。謂皮肉　而不知寒熱痛癢，如木石也。</p>
<p>經曰：風者，百病之首也。其變化，乃為他病無常，皆風氣所發也。以四時五運六氣千變萬化，沖蕩推擊無窮，安得失時而絕也。故春甲乙傷於風者為肝風，夏丙丁傷於風者為心風，季夏戊己傷於風者為脾風，秋庚辛傷於風者為肺風，冬壬癸傷於風者為腎風。</p>
<p>風中五臟六腑，自俞而入，為臟腑之風。肺風之狀，多汗惡風，色白，時嗽短氣，晝則微，暮則甚。心風之狀，（上同。）善怒，色赤，病甚則言不可快。肝風之狀，善悲，色微蒼，嗌干，善怒，時憎女子。脾風之狀，身體怠墮，四肢不收，色薄微黃，不嗜飲食。</p>
<p>腎風之狀，面　然浮腫，脊痛不能正立，其色　，隱曲不利。</p>
<p>又曰：風寒熱，諸疾之始生也。人之腑腑，皆風之起。謂火熱，陽之本也。謂曲直動搖，風之用也。眩運嘔吐，謂風熱之甚也。夫風熱怫鬱，風大，生於熱，以熱為本而風為標。言風者，即風熱病也。風氣壅滯，筋脈拘卷，肢體焦痿，頭目昏眩，腰脊強痛，耳鳴鼻塞，口苦舌乾，咽嗌不利，胸膈痞悶，咳嘔喘滿，涕唾稠黏，腸胃燥熱結便，溺淋閉，或夜臥寢汗，切牙睡語，筋惕驚悸，或腸胃怫鬱結，水液不能浸潤於周身，而但為小便多出者。或濕熱內郁，而時有汗泄者。或因亡津液而成燥，淋閉者。或因腸胃燥郁，水液不能宣行於外，反以停濕而泄。或燥濕往來，而時結時泄者。或表之陽和正氣（衛氣是也。）</p>
<p>與邪熱相合，並入於裡，陽極似陰，而戰煩渴者。表氣寒故戰，裡熱甚則渴。或虛氣久不已者。（經言：邪熱與衛氣並入於裡，則寒戰也，並出之於表，則發熱。）合則病作，離則病已。或風熱走注，疼痛麻痹者。或腎水真陰衰虛，心火邪熱暴甚而僵仆。或卒中，久不語。或一切暴喑而不語，語不出聲。或暗風癇者。或洗頭風。或破傷、或中風，諸潮搐，並小兒諸疳積熱。或驚風積熱。傷寒、疫癘而能辨者。或熱甚怫結，而反出不快者。</p>
<p>或痘黑陷將死。或大人小兒風熱瘡疥，及久不愈者。或頭生屑，遍身黑黧，紫白斑　，或面鼻生紫赤風刺癮疹，俗呼為肺風者。或成癘風，世傳為大風疾者。或腸風痔漏。並解酒過熱毒，兼解利諸邪所傷，及調理傷寒未發汗，頭項身體疼痛者，並兩感諸證。兼治產後血液損虛，以致陰氣衰殘，陽氣鬱甚，為諸熱證，腹滿澀痛，煩渴喘悶，譫妄驚狂。或熱極生風，而熱燥郁，舌強口禁，筋惕肉　，一切風熱燥證，鬱而惡物不下，腹滿撮痛而昏者。（惡物過多，而不吐者，不宜服之。）兼消除大小瘡及惡毒。兼治墮馬打撲傷損疼痛。或因而熱結，大小便澀滯不通，或腰腹急痛，腹滿喘悶者。</p>
<p><u>防風通聖散</u></p>
<p>防風　川芎　當歸　芍藥　大黃　薄荷葉　麻黃　連翹　芒硝（朴硝是者。以上各半兩）</p>
<p>石膏　黃芩　桔梗（各一兩）　滑石（三兩）　甘草（二兩）　荊芥　白朮　梔子（各一分）</p>
<p>上為末，每服二錢，水一大盞，生薑三片，煎至六分，溫服。涎嗽，加半夏半兩，薑製。</p>
<p><u>曹同知通聖散</u></p>
<p>防風　芍藥（各二錢半）　甘草（三兩）　荊芥（三錢半）　薄荷（一兩）　白朮（一分）</p>
<p>石膏（一兩）　川芎（半兩）　滑石（三兩）　當歸（半兩）　大黃（半兩）　麻黃（半兩）　山梔子（一分）</p>
<p>連翹（半兩）　桔梗（一兩）</p>
<p>無芒硝，無縮砂。</p>
<p><u>崔宣武通聖散</u></p>
<p>防風　芍藥　荊芥　當歸　白朮　山梔子（各一分）　川芎　大黃　薄荷　連翹　黃芩桔梗　縮砂（各半兩）　甘草　石膏（各一兩）　滑石（三兩）</p>
<p><u>劉庭瑞通聖散</u></p>
<p>此方有縮砂，無芒硝，其余皆同。</p>
<p>緣庭瑞於河間守真先生禮師傳之。隨從二年，始受於方，斯且取為瑞而可準憑以用之，兼庭瑞以用治病，百發百中，何以疑之，因錄耳。但庭瑞臨時以意加減，一依前法。嗽加半夏半兩，生薑製。</p>
<p><u>防風天麻散</u></p>
<p>　治風麻痹走注，肢節疼痛，中風偏枯，強，暴音不語，內外風熱壅滯，解昏眩。</p>
<p>防風　天麻　川芎　羌活　香白芷　草烏頭　白附子　荊芥穗　當歸（焙）　甘草（各半兩）</p>
<p>滑石（二兩）</p>
<p>上為末，熱酒化蜜少許，調半錢，加至一錢，覺藥力營運，微麻為度。或煉蜜為丸，如彈子大，熱酒化下一丸或半丸，細嚼，白湯化下亦得。散郁結，宣通氣。</p>
<p>如甚者，更服防風通聖散。</p>
<p><u>犀角丸</u></p>
<p>　治風癇，日發作有時，揚手擲足，口吐痰涎，不省人事，暗倒屈伸。</p>
<p>犀角（末，半兩）　赤石脂（三兩）　朴硝（二兩）　白僵蠶（一兩）　薄荷葉（一兩）</p>
<p>上為末，面糊為丸，如桐子大，每服二十丸至三十丸，溫水下，日三服，不計時候。</p>
<p>如覺痰多，即減丸數。忌油膩物。</p>
<p>風　病目直，卒中口噤，背強如弓，臥動搖，手足抽搦，無汗名剛，為陽　，有汗名柔，為陰　，通三一承氣下妙。</p>
<p><u>搜風丸</u></p>
<p>　治邪氣上逆，以致上實下虛，風熱上攻，眼目昏耳鳴，鼻塞頭痛眩運，燥熱上壅，痰逆涎嗽，心腹痞痛，大小便結滯。清利頭目，鼻聰耳鳴，宣通血氣。</p>
<p>人參　茯苓　天南星（各半兩）　藿香葉（一分）　干生薑　白礬（生。各一兩）　蛤粉（二兩）</p>
<p>寒水石（一兩）　大黃　黃芩（各一兩）　牽牛（四兩）　薄荷葉（半兩）　滑石（四兩）　半夏（四兩）</p>
<p>上為末，滴水為丸，如小豆大，每服十丸，生薑湯下，加至二十丸，日三服。</p>
<p><u>川芎石膏湯</u></p>
<p>　治風熱上攻頭面，目昏眩痛悶，風痰喘嗽鼻塞，口瘡，煩渴淋　，眼生翳膜。清神利頭，宣通氣血，中風偏枯，解中外諸邪，調理諸病，勞復傳染。</p>
<p>川芎　芍藥　當歸　山梔子　黃芩　大黃　菊花　荊芥穗　人參　白朮（各半兩）</p>
<p>滑石（四兩）　寒水石（二兩）　甘草（三兩）　桔梗（二兩）　縮砂仁（一分）　石膏　防風　連翹薄荷葉（各一兩）</p>
<p>上為末，每服二錢，水一盞，煎至六分，去滓，食後，水調亦得。忌薑、醋、發熱物。</p>
<p><u>川芎神功散</u></p>
<p>　治風熱上攻，偏正頭痛，無問微甚久新，頭面昏眩。清神。</p>
<p>川芎（四錢）　甘草（一分）　川烏頭　吳白芷　天南星　麻黃（各半兩）</p>
<p>上為末，每服二錢，水一盞，生薑三片，煎至半盞，投清酒半盞，避風。</p>
<p><u>換骨丹</u></p>
<p>　治癱瘓中風，口眼　斜，半身不遂，並一切風癇暗風，並宜服之。</p>
<p>頌曰：我有換骨丹，傳之極幽秘。疏開病者心，扶起衰翁臂。氣壯即延年，神清自不睡。南山張仙翁，三百八十歲。槐皮芎術芷，仙人防首蔓，十件可停勻，苦味香減半，龍麝即少許，朱砂作衣纏，麻黃煎膏丸，大小如指彈。修合在深房，勿令陰人見。夜臥服一粒，遍身汗津滿。萬病自消除，神仙為侶伴。</p>
<p>麻黃（煎膏）　仙術　香白芷　槐角子（取子）　川芎　人參　防風　桑白皮　苦參威靈仙　何首烏　蔓荊子　木香　龍腦（研）　朱砂（研）　麝香（研）　五味子上為末，桑白單搗細，稱以麻黃膏和就，杵一萬五十下，每兩分作十丸，每服一丸，以硬物擊碎，溫酒半盞浸，以物蓋，不可透氣，食後臨臥，一呷咽之。衣蓋覆，當自出汗，即瘥。以和胃湯調補，及避風寒。茶下半。</p>
<p><u>鉛紅散</u></p>
<p>　治風熱上攻陽明經絡，面鼻紫赤，癮疹。（俗呼為肺風者，以肺主鼻而又淺在皮膚之內，皮膚屬於肺。）</p>
<p>舶上硫黃　白礬灰（各半兩）</p>
<p>上為末，少許，入黃丹染與病患面色同，每上半錢，津液塗之。</p>
<p>洗漱罷，臨臥，再服防風通聖散，效速。</p>
<p><u>神芎散</u></p>
<p>　治風熱上攻，頭目眩痛，上壅鼻，並牙齒悶痛。</p>
<p>川芎　鬱金（各二錢）　荊芥穗　薄荷葉　紅豆（各一分）</p>
<p>右為末，入盆硝二錢，研勻，鼻內　三二剜耳許。力慢加藥。病甚兼夜　。</p>
<p><u>萬靈丸</u></p>
<p>　治腎臟，一切耳鳴、腰疼、筋骨痛。</p>
<p>赤芍藥　五靈脂　防風　草烏頭（炮。各二兩）　黃　細辛　海桐皮　山茵陳　骨碎補地龍（各八錢）　黑狗脊（二兩）　牛膝　何首烏　蔓京子　白附子　川烏頭　巨勝子（各八錢）</p>
<p>白朮（一兩）　芫花（三錢，炒）　黑牽牛（半兩）　青皮（二錢）　御米子（二錢，炒）</p>
<p>上為末，酒、面糊為丸，如桐子大，每服十丸至二十丸，溫酒下，空心食前服。</p>
<p><u>伊芳祁丸</u></p>
<p>　治腰腳拳攣，鶴膝風，筋縮。</p>
<p>伊芳祁（頭尾全者）　桃仁（生）　白附子　阿魏　桂心　白芷　當歸　北漏蘆　安息香（用胡桃穰研）　芍藥　牛膝　地骨皮　威靈仙　羌活（各等分）</p>
<p>上為末，面糊為丸，如彈子大，每服一丸，空心，溫酒化下。</p>
<p><u>祛風丸</u></p>
<p>　治中風偏枯，手足戰掉，語言謇澀，筋骨痛。</p>
<p>綠豆粉　川烏頭（炮）　草烏頭（炮）　天南星　半夏（各一兩）　甘草　川芎　藿香葉苓苓香　地龍　蠍梢（各三錢）　白僵蠶（淘米泔浸，去絲）　川薑（半兩，炮）</p>
<p>上為末，一兩，用綠豆粉一兩，又一法，用藥一兩，以白面二兩，滴水為丸，如桐子大，量人虛實加減，細嚼，茶酒下五丸至七丸，食後。初服三丸，漸加。</p>
<p><u>舒筋散</u></p>
<p>　治婦人血氣，並產後風熱搐搦。（俗謂雞爪風。）舒筋。</p>
<p>人參　川芎　官桂　丁香（各半兩）　木香　天麻（酒浸，焙。各一兩）　井泉石（四兩，別為末）</p>
<p>上為末，每服三錢，井泉石末三錢，大豆半升，淨淘，好酒一大升，煮豆軟，去豆，用豆汁，酒調下，後以酒送下。蓋覆，汗出為效。</p>
<p><u>勝金丸</u></p>
<p>　治風熱驚駭不時，旋運潮搐，口吐痰沫，忽然倒地，不省人事，名曰癇病。</p>
<p>白僵蠶　細辛　天南星　皂角（炙黃）　川烏頭（生）　烏蛇（真者，好酒浸，去骨）</p>
<p>白礬（枯）　桔梗　威靈仙　何首烏　草烏頭（各一兩）　荊芥穗　川芎（各二兩）</p>
<p>上為末，酒，面糊為丸，如桐子大，每服十丸，食後溫酒下。</p>
<p><u>比金散</u></p>
<p>　治傷寒冒風，頭目痛，四肢拘卷，鼻塞。</p>
<p>麻黃　白芷　細辛　荊芥穗　菊花　防風　石膏　何首烏　川芎　薄荷　干蠍　草烏頭（各等分）</p>
<p>上為末，每服一錢，水一盞煎，溫服。酒茶亦得。</p>
<p><u>神白丹</u></p>
<p>　治傷寒積熱，及風生驚搐，或如狂病，諸藥不效。此方不可盡述。</p>
<p>鉛白霜（一分）　輕粉（半兩）　粉霜（一兩，用白面六錢和作餅子，炙熟。同研）</p>
<p>上為末，滴水為丸，如桐子大，每服十丸至十五丸，米飲下。量虛實加減。</p>
<p><u>桃仁丸</u></p>
<p>　治一切風毒，遍身疼痛，四肢拘急。</p>
<p>草烏頭（生用）　五靈脂（各三兩）　桃仁（取霜，一兩）</p>
<p>上為末，酒煮面糊丸，如桐子大，以青黛為衣，嚼胡桃仁，以溫酒下五丸，食後。</p>
<p>加減。</p>
<p><u>瓜蒂神妙散</u></p>
<p>　治頭目昏眩，偏正頭痛等。</p>
<p>焰硝　雄黃　川芎　薄荷葉　道人頭　藜蘆（各一分）　天竺黃（一錢半，如無，以鬱金代之）</p>
<p>上為末，研細，含水，鼻中　一字。神驗！</p>
<p><u>清風散</u></p>
<p>　治頭目昏眩，咽膈不利，痰涎壅塞。</p>
<p>石碌（一錢）　朱砂　牙硝　雄黃（各三字）　龍腦（一字）　瓜蒂（二錢）　滑石赤小豆（各半錢）　皂角（一字，去皮，炙黃，取末）</p>
<p>上為極細末，每服半錢，新汲水調下。如口噤，不省人事，滴水鼻中。或欠者，可治，為驗。</p>
<p><u>靈砂丹</u></p>
<p>　治破傷風，一切諸風等。</p>
<p>威靈仙　黑牽牛　何首烏　蒼朮（各半兩）　香附子（六兩）　川烏頭（去皮）　朱砂　沒藥乳香（各三錢）　陳皂角（四錢，炙黃，去皮）</p>
<p>上為末，把皂角打破，用酒二升半，春夏三日，秋冬七日，取汁，打面糊為丸，如桐子大，每服五丸。如破傷風，煎鰾酒下。如牙疼赤眼，捶碎，研三五丸，鼻　之。</p>
<p><u>川芎天麻散</u></p>
<p>　治頭頂痛，頭面腫，拘急，風傷營衛，發燥熱。</p>
<p>川芎　細辛　苦參　地骨皮　菖蒲　何首烏　蔓荊子　薄荷葉　杜蒺藜　牛蒡子荊芥穗　虼　草　威靈仙　防風　天麻（各一兩）　甘草（二兩，炙）</p>
<p>上為末，每服二三錢，研，蜜水調下，茶水任，不計時。</p>
<p><u>薄荷白檀湯</u></p>
<p>（新增。）　治風壅頭目眩，鼻塞煩悶，精神不爽。消風化痰，清頭目。</p>
<p>白檀（一兩）　荊芥穗（二兩）　薄荷葉（四兩）　栝蔞根（二兩）　甘草（四兩，炙）</p>
<p>白芷（二兩）　鹽（四兩）　縮砂仁（半兩）</p>
<p>上為末，每服一錢，百沸湯點，食後臨臥稍熱溫服。</p>
<p><u>菊葉湯</u></p>
<p>（新增。）　治一切風，頭目昏眩，嘔吐，面目浮腫者。</p>
<p>菊花（去梗）　羌活　獨活　旋覆花　牛蒡子　甘草（各等分）</p>
<p>上為末，每服二錢，水一盞半，生薑三片，同煎至七分，去滓，溫服，食後。</p>
<h2>卷四</h2>
<h3>熱門</h3>
<h4>諸病總論</h4>
<p>黃帝曰：病熱當何禁之？岐伯曰：病熱少愈，食肉則復，多食則遺，此其禁也。</p>
<p>因熱少愈，猶未盡除，不戒飲食勞動，情欲擾亂，奈脾胃氣虛，未能消化堅食，故熱復生。</p>
<p>五臟者，皆熱。夫熱病者，傷寒之類也。人之傷於寒，則為病熱。寒毒藏於肌膚，陽氣不行散發，而內為怫結，故傷寒者反病為熱。熱雖甚，不死，奈巨陽為首。巨陽者，諸陽之屬也。諸陽為熱以氣，諸陽為寒以血。熱病已愈，其有復作，謂病已衰而熱有作所藏，因其穀氣相薄，兩熱相合，故有所遺，緣熱也。雖邪氣而不盡，遺熱在，故當復作。</p>
<p>五臟俱熱者，皆視之。肝熱左頰先赤，心熱顏先赤，脾熱鼻先赤，肺熱右頰先赤，腎熱頤先赤。肝熱者，小便黃，腹痛，多臥，身熱。熱爭則狂驚脅滿痛，手足躁而不得安臥。心熱者，不樂，數日乃熱。熱爭則心卒痛，煩悶善嘔，頭痛面赤無汗。脾熱者，頭重，頰痛，煩心，顏青，欲吐，身熱。熱爭則腰痛不可仰，腹滿泄，兩頷痛。肺熱者，淅然厥起毫毛，惡風寒，舌上黃，身熱。熱爭則喘咳，痛走胸背，不得太息，頭痛不堪，汗出而寒。腎熱者，腰痛　酸，苦渴數飲，食熱。熱爭則項痛而強，　寒且酸，足下熱，不欲言。</p>
<p>經曰：汗出脈躁盛，一死。脈不與汗相應，其病二死。狂言失志者，三死。皆是怫熱鬱結，不能解散，以致危殆。</p>
<p>《素問》：諸熱瞀螈，暴喑，冒昧躁擾，狂言罵詈，驚駭，　腫疼酸，氣逆，皆手少陽相火心胞絡三焦之氣也。</p>
<p>夫腎水真陰本虛，心火狂陽積熱以甚，以致風熱壅滯，頭面昏眩，肢體麻痹，皮膚瘙癢，筋脈拘卷，胸膈痞滿，時或痛悶，或鼻窒鼽衄，口舌生瘡，咽喉不利，牙齒疳蝕，或遍身生瘡癬疥，或睡語切牙，驚惕虛汗，或健妄心松，煩躁多睡，或大小便澀滯，或煩熱腹滿，或酒過積毒。勞役過度，中外一切勞損神氣，心志不寧，口苦咽乾，飲食減少，變生風熱諸病，虛羸困倦。或酒病瘦悴，及老弱虛人。或脾腎經虛，風熱燥郁，色黑齒宣，身瘦焦痿。或熱中煩滿，飢不飲食。或癉或消中，善食而瘦。或消渴多虛，頭面腫，小便數。或服甘辛熱藥過度，變成三消，上則消渴，中則消中，下則消腎，小便白膏也。</p>
<p><u>神芎丸</u></p>
<p>　治一切熱證，常服保養。除痰飲，消酒食，清頭目，利咽膈，能令遍身結滯宣通，氣利而愈。神強體健，耐傷省病。並婦人經病，及產後血滯，腰腳重痛，小兒積熱，驚風潮搐。臟用丸，亦日顯仁丸。加黃連、薄荷、川芎各半兩，名曰神芎丸。</p>
<p>大黃　黃芩（各二兩）　牽牛　滑石（各四兩）</p>
<p>上為細末，滴水為丸，如小豆大，溫水下十丸至十五丸，每服加十丸，日三服，冷水下亦得。或煉蜜丸，愈佳。或久病熱鬱，無問瘦悴老弱，並一切證，可下者，始自十丸，每服加十丸，以利為度。如常服此藥，但除腸垢積滯，不傷和氣，推陳致新，得利便快，並無藥燥搔擾，亦不困倦虛損，頗遂病患心意。或熱甚必須急下者，便服四五十丸。未利再服，以意消息。三五歲孩兒，丸如麻子大。</p>
<p>凡此一法，此藥至善，常服二三十丸，以利臟腑，但有益無損。</p>
<p>或婦人血下惡物，加桂枝半兩。病微者常服，病重者亦取利，因而結滯開通，惡物日下也。</p>
<p>此方除臟腑滑泄者，或中寒脈遲者，或婦人經病、產後血下不止者，及孕婦等，則不宜服。除此以外，一切風熱雜病悶壅塞，神氣不和，或平人保養，常服自顯其功。</p>
<p>若以效驗觀其藥味，則非明《本草》造化之理者，不可得而知其然也。猶孔子贊《易》道明顯，應化萬仁之善，而不見其大道之功用，故曰顯諸仁，藏諸用，因以云藏用丸，亦其意也。兼以世訛之久矣，而反不喜此等妙方，不肯服之。每有久獲大效，而誠懇求其方，不得已而授之。既見其方，反生疑懼，不復用焉。亦有效而志信，求其方務以廣傳救疾，因而眾議百端，擬疑妄生謗說，致使俗醫皆畏之，致道不能神，但有妨病者。後之君子，但行其藥，明顯諸人，勿示其方，而密藏諸用耳。</p>
<p>或以一法加黃連、川芎、薄荷等各半兩，治一切頭目昏眩者，愈佳。</p>
<p><u>柴胡飲子</u></p>
<p>　治解一切肌熱體骨蒸，積熱作發，寒熱往來，（表熱裡寒則發寒，裡熱表和則發熱，邪熱半在表，半在裡，出入進退無和，即寒熱往來，陰陽相勝也。）蓄熱寒戰，（表之陽和，正氣與邪熱並蓄於裡，脈道不行，故身冷脈絕，寒戰而反煩渴也。）及傷寒發汗不解，或中外諸邪熱，口乾煩渴，或下後熱未愈，汗後勞復，或骨蒸肺痿喘嗽，婦人余疾，產後經病。</p>
<p>柴胡　人參　黃芩　甘草　大黃　當歸　芍藥（各半兩）</p>
<p>上為末，每服抄三錢，水一盞，生薑三片，煎至七分，溫服，日三服。病熱甚者，加減之。</p>
<p>崔宣武柴胡飲子，加半夏、五味子、桔梗各三錢。劉庭瑞柴胡飲子，與前分用不同，故以錄之。柴胡、甘草各二兩，黃芩、當歸、芍藥、大黃各一兩，人參半兩，半夏半兩。右為大勞熱病，五七錢，以利為度。未利更加，使病不再發也。</p>
<p><u>木香萬安丸</u></p>
<p>　治一切風熱怫鬱，氣血壅滯，頭目昏眩，鼻塞耳鳴，筋脈拘卷，肢體焦痿，咽嗌不利，胸膈痞塞，腹脅痛悶，腸胃燥澀，淋　不通，腰腳重痛，疝瘕急結，癖堅積，腸滯胃滿，久不了絕，走注疼痛，喑俳癇病，濕病腹脹水腫。</p>
<p>木香　桂　甘遂（各一分）　牽牛（二兩）　大戟（半兩）　大黃　紅皮　檳榔（各一兩）</p>
<p>皂角（二兩，要得肥好者，洗淨，水三盞，煮三二沸，取出，槌碎，揉取汁，再熬成稠膏，下蜜，熬二沸，便取出）　半夏　蜜（各一兩）</p>
<p>上膏，丸小豆大，每服十丸至十五丸，生薑湯下。小兒丸如麻子大。水腫、癇病、諸積，快利為度。</p>
<p><u>玉芝徐老丸</u></p>
<p>　治一切風壅，胸脅痞悶，消痰利膈，美飲食，調五味。（徐老，緩慢遲老。）</p>
<p>天南星　乾薑（各半兩）　黃柏（一兩半）　牽牛（四兩）　半夏　白礬　大黃（各一兩）　蛤粉（二兩）</p>
<p>上為末，滴水和丸，如小豆大，每服十丸至二十丸，溫水下，食後，日三服。常服順氣調血，令人徐老。或已衰，大便結者，除腸垢積物，可漸加至三五十丸。孕婦、滑泄病，忌服。滑泄畏牽牛、大黃，孕婦畏南星、半夏。</p>
<p><u>消痞丸</u></p>
<p>　治積濕毒熱甚者，身體面目黃，心脅腹滿嘔吐，不能飲食，痿弱難以運動，咽嗌不利，肢體焦　，眩悸膈熱，坐臥不寧，心火有餘而妄行，上為咳血衄血，下為大小便血，腸風痔　，三焦壅滯，　癉熱中消渴，傳化失常，小兒疳積熱。</p>
<p>黃連　甘葛（各一兩）　黃芩　大黃　黃柏　梔子　薄荷　藿香　厚朴　茴香（炒。各半兩）</p>
<p>木香　辣桂（各一分）　青黛（一兩，研）　牽牛（二兩）</p>
<p>上為細末，滴水丸如小豆大，每服十丸，新水下，溫水亦得。小兒丸如麻子大。</p>
<p>病本濕熱內甚。本自利者，去大黃、牽牛。忌發熱諸物。</p>
<p><u>和中丸</u></p>
<p>　治口燥舌乾，咽嗌不利，胸脅痞滿，心腹痛悶，小便赤澀，大便結滯，風氣怫鬱，頭目昏眩，筋脈拘急，肢體疼倦，一切風壅。常服寬膈美食，消痰止逆。</p>
<p>牽牛（一兩）　官桂（一分）　大黃　紅皮　黃芩　茴香（各半兩）　木香（一分）　滑石（二兩）</p>
<p>上為末，滴水丸如小豆大，每服二十九，煎生薑湯下，溫水亦得，日三服。</p>
<p>崔宣武和中丸，大黃一兩、茴香炒，外七味同。</p>
<p><u>龍腦丸</u></p>
<p>　治大小人一切蘊積熱，毒瓦斯不散，及失喑癮疹。</p>
<p>龍腦　朱砂　鵬砂　牛黃（各等分）</p>
<p>上為末，熔黃蠟為丸，如米粒大，每服三五丸，炙甘草、人參湯下，不計時候。</p>
<p><u>大金花丸</u></p>
<p>　治中外諸熱，寢汗切牙，睡語驚悸，溺血淋　，咳衄血，瘦弱頭痛，並骨蒸肺痿喘嗽。（去大黃，加梔子，名曰梔子金花丸，又名既濟解毒丸。）</p>
<p>黃連　黃柏　黃芩　大黃（各半兩）</p>
<p>上為末，滴水丸如小豆大，每服三二十丸，新汲水下。自利去大黃，加梔子。小兒丸如麻子大，三五丸。</p>
<p><u>當歸龍膽丸</u></p>
<p>　治腎水陰虛，風熱蘊積，時發驚悸，筋惕搐搦，神志不寧，營衛壅滯，頭目昏眩，肌肉　螈，胸膈痞塞，咽嗌不利，腸胃燥澀，小便溺　，筋脈拘奇，（奇猶急也，重也。）肢體痿弱，喑風癇病，小兒急慢驚風。常服宣通血氣，調順陰陽，病無再作。</p>
<p>當歸（焙）　龍膽草　大梔子　黃連　黃柏　黃芩（各一兩）　大黃　蘆薈　青黛（各半兩）</p>
<p>木香（一分）　麝香（半錢，另研）</p>
<p>上為末，煉蜜和丸，如小豆大，小兒如麻子大，生薑湯下，每服二十丸。忌發熱諸物。</p>
<p>兼服防風通聖散。</p>
<p><u>軟金丸</u></p>
<p>　治一切熱疾。常服潤肌膚，HT　老。諸熱證皆可服。</p>
<p>大黃　牽牛　皂角（各二兩）　朴硝（半兩）</p>
<p>上為末，滴水和丸，如桐子大，每服三十丸，白湯下，（自十丸，用至三十丸。）食後。</p>
<p><u>妙香丸</u></p>
<p>　治一切久遠沉積，傷寒結胸，太陽厥證，燥郁攻不開者，皆可服此藥。</p>
<p>（亦名大聖丸。）</p>
<p>巴豆（去皮，不出油）　膩粉　KT　砂　龍腦　麝香　中黃（少許）　朱砂（各分）</p>
<p>水銀（錫結砂子。各一錢）</p>
<p>上為末，煉蜜和丸，又一方，用蠟丸如皂子大，用藥時，急要動一丸，分作二丸，扎作眼子，冷水浸，煎大黃湯下，然後服熱茶一碗，便行也。</p>
<p>《局方》內無KT　砂，加金薄。</p>
<p><u>妙功藏用丸</u></p>
<p>（新補。亦名顯仁丸，又名神芎丸。）　治嘔噦不食，痿弱難運，血溢血泄，淋　不通，或泄利，三焦壅滯，傳化失常，並宜服之，功不可述。</p>
<p>大黃　黃芩　黃連（各半兩）　黑牽牛（一兩）　滑石（二分）　荊芥穗（二兩）　防風（一分）</p>
<p>川芎（一兩）　木香（二分）　官桂（三分，去皮）</p>
<p>上為末，滴水為丸，如小豆大，每服二十丸、三十丸，生薑湯下，日三服，溫水亦得。</p>
<h2>卷五</h2>
<h3>傷寒門</h3>
<h4>主療說</h4>
<p>傷寒表證當汗而不可下，裡證當下而不可汗，半在表半在裡則當和解，不可發汗吐下，在上則通之，在下則泄之。傷寒無汗，表病裡和，則麻黃湯汗之，或天水散之類亦佳。表不解，半入於裡，半尚在表者，小柴胡湯和解之，或天水、涼膈散甚良。表裡熱勢俱甚者，大柴胡湯微下之。更甚者，大承氣湯下之。表熱多，裡熱少者，天水一、涼膈半和解之。裡熱多，表熱少，未可下之者，涼膈一、天水半調之。熱更甚者，小承氣湯下之。表證解，但有裡證者，大承氣湯下之。凡此諸可下者，通宜三一承氣湯下之。發汗不解，下後，前後無異證者，通宜涼膈散調之，以退其熱。兩感仿此而已。傷風自汗，表病裡和者，桂枝湯解肌。半在表半在裡，白虎湯和解之。病在裡者，大承氣湯下之。</p>
<p>一法，無問風寒暑濕，有汗無汗，內外諸邪所傷，但有可下諸證，或表裡兩證俱不見而日深，但目睛不了了，睛不和者，或腹滿實痛者，或煩渴，或譫妄，或狂躁喘滿者，或蓄熱極而將死者，通宜大承氣湯下之，或三一承氣湯尤良。傷寒，大發汗，汗出不解，反無汗，脈虛浮者，蒼朮白虎湯再解之。或中暑，自汗大出，脈虛弱，頭痛口乾，倦怠煩躁，或時惡寒，或畏日氣，無問表裡，通宜白虎。或裡熱勢甚，腹滿而脈沉，可下者，宜大承氣湯，或三一承氣湯。傷寒，表熱極甚，身疼頭痛不可忍者，或眩或嘔，裡有微熱，不可發汗吐下，擬以小柴胡、天水、涼膈之類和解。恐不能退其熱勢之甚。或大下後，再三下後，熱勢尚甚不能退，本氣損虛而脈不能實，擬更下之，恐下脫而立死，不下亦熱極而死，寒涼之藥，不能退熱勢之甚者。</p>
<p>或熱濕內余，下利不止，熱不退者，或因大下後，熱退利不止，熱不退，脈弱氣虛，不可更下者，或諸濕熱內余，小便赤澀，大便溏泄，頻並少而急痛者，必欲作利也，須宜黃連解毒湯。或裡熱極甚，而恐陰氣不能退者，或已下後，熱不退者，或蓄熱內甚，陽厥極深，以至陽氣沉伏，而不能營運於身，陰欲絕而以致遍身青冷，痛甚不堪，項背拘急，目赤睛疼，昏眩恍惚，咽乾或痛，燥渴虛汗，嘔吐下利，腹滿實痛，煩痞悶亂，喘息急聲，脈雖疾數，以其蓄熱極探，而脈道不利，以致脈沉細而欲絕，俗未明其造化之理，而反傷熱，寒極陰毒者，或始得之，陽熱暴甚，而便有此證者，或兩感勢甚者，通宜解毒東加大承氣湯下之。</p>
<p>熱不退者，再下之。然雖古人皆云三下熱不退即死矣，亦有按法以下四五次，利一二十行，熱方退而救活者，免致不下退其熱而必死也。下後熱稍退而未愈者，黃連解毒湯調之。或微熱未除者，涼膈散調之。或失下熱極，以至身冷脈微，而昏冒將死者，若急下之，則殘陰暴絕，陽氣後竭而立死，不下亦死，當以涼膈散或者黃連解毒湯養陰退陽。蓄熱漸以消散，則心胸腹暖，脈漸以生。至陽脈復有力者，方可以三一承氣湯微下之，或解毒東加大承氣湯尤良。或下後微熱不解者，涼膈散調之。愈後但宜退熱之藥，忌發熱諸物，陽熱易為再作也。</p>
<h4>論風熱濕燥寒</h4>
<p>諸風：風本生熱，以熱為本，風為標，言風者，即風熱病也。</p>
<p>諸熱：熱甚而生風，或熱微風甚，即兼治風熱，或風微熱甚，但治其熱，即風自消也。</p>
<p>諸濕：濕本土氣，火熱能生土濕，故夏熱則萬物濕潤，秋涼則濕復燥干也。濕病本不自生，因於火熱怫鬱，水液不能宣行，即停滯而生水濕也。凡病濕者，多自熱生，而熱氣尚多，以為兼證，當云濕熱。亦猶風熱，義同。雖病水寒，不得宣行，亦能為濕。雖有此異，亦以鮮矣。或跗腫體寒，而有水者，以為蓄熱入裡極深，本非病寒也。及夫寒熱吐瀉，因得濕而成也。</p>
<p>諸燥：燥干者，金肺之本。肺藏氣，以血液內損，氣虛成風，則皴揭。風能勝濕，熱能耗液，皆能成燥。故經云：風熱火兼為陽，寒濕燥同為陰。又燥濕亦異也，然燥雖屬秋陰，而其性異於寒濕。燥陰盛於風熱也，故風熱甚而寒濕同於燥也。然中寒吐瀉，亡液而成燥者，亦以此矣。故經云：諸澀枯涸，干勁皴揭，皆屬於燥也。</p>
<p>諸寒：寒者，上下所生水液，澄澈清冷，穀不化，小便清白不澀，身涼不渴，本末不經有見陽熱證，其脈遲者是也。此因飲食冷物過多，陰勝陽衰，而為中寒也。或冷熱相並，而反陽氣怫鬱，不能宣散，怫熱內作，以成熱證者，不可亦言為冷，當以熱證辨之。夫濕熱吐瀉，當見陽脈，若亡液氣虛，亦能反見諸陰脈也，當以標本明之，不可妄治。或熱證誤服白朮調中湯，溫藥亦能開發，陽氣宣通而愈，別無加害也。</p>
<h4>傷寒表證</h4>
<p>夫傷寒之候，頭項痛，腰脊強，身體拘急，表熱惡寒，不煩躁，無自汗，或頭而痛，肌熱鼻干，或胸滿而喘，手足指末微厥，脈浮數而緊者，邪熱在表，皆麻黃湯發汗之證也，或天水散之類，甚佳。</p>
<h4>傷寒表裡證</h4>
<p>傷寒身熱，為熱在表，引飲或小便黃赤，為熱在裡，身熱，渴，或小便黃赤，為表裡俱有熱，身涼不渴，小便清白，為表裡俱無熱。身疼拘急，表熱惡寒，而脈浮者，皆為熱在表也。引飲譫妄，腹滿實痛，發熱，而脈沉者，皆為熱在裡也。胸脅痞痛，或嘔而寒熱往來，脈在肌肉者，邪半在表半在裡也。</p>
<h4>內外傷</h4>
<p>始得病，脈便沉，而裡病表和者，內傷也。脈浮而表病，裡和者，外傷也。病在身體頭面四肢，為表病，在胸腹之內，為裡病也。</p>
<h4>傷寒論</h4>
<p>夫風寒者，百病之始也，是四時八節不正、疫癘之氣。故云春氣溫和，夏氣暑熱，秋氣清涼，冬氣冰冷，乃四時之正氣。冬時嚴寒，萬類深藏，君子固密，則不傷於寒，觸冒之者，乃傷耳。</p>
<p>春應暖而反寒，夏應熱而反冷，秋應涼而反熱，冬應寒而反溫，非時而邪氣，是以辛苦之人，一歲之中，病無少長。始自一日巨陽，膀胱受之。巨陽者，三陽之首，故先受之。</p>
<p>二日陽明，胃受之。三日少陽，膽受之。未入其臟，可汗之。四日太陰，脾受之。五日少陰，腎受之。六日厥陰，肝受之。其入藏，可泄之。經云：其未滿三日，汗之而已，其滿三日，泄之而已。故聖人論汗下，大概言之。以脈分別，三四日脈沉伏，亦當下，六七日脈浮滑，亦可汗。</p>
<p>故傷寒傳足經不傳手經，未詳耳。且自人身十二經絡，分布上下手足，各有三陰三陽，稟天地之氣。天樞之上，同天之陽，天樞之下，同地之陰。至真要大論云：身半以上，其氣三矣，天之分也，天氣主之，身半以下，其氣三矣，地之分也，地氣主之。注云：當陰之分，冷病歸之，當陽之分，熱病歸之。有八節邪氣，所中於人，陽邪為病傳手經，陰邪為病傳足經。其邪自何入？自風池而入，為脊骨兩傍一寸五分，足膀胱經之俞穴。</p>
<p>春夏應陽，秋冬應陰。至真要大論云：寒暑溫涼，盛衰之用。其在四維，故陽之動，始於溫，盛於暑，陰之動，始於涼，盛於寒。春夏秋冬，各差其分。《易》云：水流濕，火就燥。熱論云：熱病者，皆傷寒之類也。人之傷於寒，則為病熱，熱雖盛不死。太陰陽明論云：陽受風氣，陰受濕氣。注云：同氣相求耳。又曰：傷於風者，上先受之，傷於濕者，下先受之。注云：陽氣炎上，故受風，陰氣潤下，故受濕，蓋同氣相合耳。故風熱火為陽，寒濕燥為陰。刺熱論云：五臟俱有熱病，肝熱病，左頰先赤，心熱病，顏先赤，脾熱病，鼻先赤，肺熱病，右頰先赤，腎熱病，頤先赤。《甲乙經‧熱論》云：有手足太陰熱病，有手足少陰熱病，有手足厥陰熱病。熱論：其三陰三陽、五臟六腑皆受病，營衛不行，五臟不通，則死矣。未嘗則傳足經，不傳手經。</p>
<p><u>麻黃湯</u></p>
<p>　治傷寒，頭痛發熱，體痛惡風，無汗而喘。又治太陽病，脈浮緊，無汗發熱身疼，八九日不解，表證，仍當發其汗。其人發煩目瞑，必衄，衄者，陽氣重也。</p>
<p>麻黃（一兩半，去節）　桂枝（一兩，去皮）　甘草（半兩，炙，銼）　杏仁（二十枚，浸，去皮尖）</p>
<p>上為末，每服三錢，水一盞半，煎至八分，去滓，溫服，不計時候，衣覆以取汗。</p>
<p>或濕病，身煩痛，小便自利者，加白朮四分，微汗之。</p>
<p><u>桂枝湯</u></p>
<p>　治傷寒，發熱惡寒，乾嘔頭痛。太陽中風，陽浮陰弱，解肌。脈浮緊，鼻鳴者。</p>
<p>桂枝（三分，去皮）　芍藥（三分）　甘草（三分）</p>
<p>上銼如麻豆大，每服五錢，水一盞半，生薑三片、棗三個，煎至七分，不計時候。</p>
<p><u>小青龍湯</u></p>
<p>　治傷寒表未罷，心下有水氣，乾嘔，發熱而咳，或渴利，或小便不利，小腹滿，喘。</p>
<p>麻黃（去節，湯泡去黃汁，焙乾，三錢）　半夏（湯洗）　芍藥　細辛　乾薑　甘草（炙）</p>
<p>桂枝（去皮，各三分）　五味子（二錢）</p>
<p>上銼如麻豆大，每服五錢，水一大盞，煎至半盞，生薑、棗同煎，不計時候，溫服。</p>
<p>渴者，去半夏，加栝蔞根三錢。微利者，去麻黃，加芫花彈子大。噫者，去麻黃，加附子三錢（炮），以開怫熱結滯。小便不利，小腹滿者，去麻黃，加茯苓四錢。喘者，去麻黃，加杏仁。</p>
<p><u>大柴胡湯</u></p>
<p><u>小柴胡湯</u></p>
<p><u>瓜蒂散</u></p>
<p>　治傷寒，表證罷，邪熱入裡，結於胸中，項不強，腹滿而不能食，四肢微厥，而脈乍緊者，宜以吐之。經云在上者吐之，在下者泄之。</p>
<p>瓜蒂　赤小豆（各等分）</p>
<p>上為末，香豉半合，（豆豉是也。）水一盞半，煮取汁半盞，調下錢匕。不吐，加服。</p>
<p><u>五苓湯</u></p>
<p>（五苓散是也。）　治傷寒中暑，大汗後，胃中干，煩躁不得眠，脈浮，小便不利，微熱煩渴，及表裡俱熱，飲水反吐。</p>
<p>（名曰水逆。）或攻表不解，當汗而反下之，利不止，脈浮，表不解，自利。或一切留飲不散，水停心下。並兩感中濕而昏躁，霍亂吐瀉驚風。</p>
<p>豬苓（去皮）　茯苓（去皮）　白朮（各半兩）　桂（一分，去皮）　澤瀉（一兩）</p>
<p>上為末，每服二錢，熱湯調下愈妙。加滑石二兩甚佳。喘嗽煩心，不得眠者，加阿膠半兩（枯）。夏月大暑，新水調服，立愈。</p>
<h2>卷六</h2>
<h3>傷寒門</h3>
<p><u>抵當湯</u></p>
<p>　治傷寒日深，表證仍甚，蓄熱下焦，脈微沉，不結胸，發狂者。小腹脹而硬，小便自和者，瘀血證也，小便不和，無血也。或陽明蓄熱內甚，而喜忘或狂，大便雖硬而反易，其色黑者，有蓄血也。無表裡證，但發熱日深，脈雖浮者，亦可下之。或已下後，脈數，胃熱消穀善飢，數日不大便，有瘀血也。</p>
<p>桃仁（七個）　大黃（一分）　水蛭（炒）　虻蟲（去翅足，炒各十個。）</p>
<p>上銼如麻豆大，分作二服，水一盞，煮至半盞，絞去滓，溫服。未下，再服。</p>
<p><u>抵當丸</u></p>
<p>　治傷寒有熱，少腹滿，小便不利者，為有血也，當下之，不可余藥。</p>
<p>桃仁（八個）　大黃（一分）　水蛭（炒）　虻蟲（去翅足，炒，各七個。）</p>
<p>上為末，蜜和作二丸，用水一盞，煮一丸，至六分，溫服。　時血未下，再服。</p>
<p><u>大承氣湯</u></p>
<p>　治表裡俱熱，病勢更甚者。陽明脈遲，汗出，不惡寒，身重，謂如見鬼狀。劇者發則不識人，循衣摸床，惕而不安，微喘直視，陽明裡熱極甚。或吐下後，不解大便五六日至十余日，日晡潮熱，心胃燥熱而懊　，復如瘧狀，脈沉實。或小便不利，大便乍難乍易，喘冒不能臥。或腹滿實痛，煩渴譫妄，脈實數而沉。裡熱燥甚，腸胃怫鬱，留飲不散，胸腹高起，痛不可忍，但嘔冷液，大渴，反不能飲，強飲不能止，喘急悶者。</p>
<p>大黃（半兩）　芒硝（半兩）　厚朴（半兩，去皮）　枳實（半兩）</p>
<p>上銼如麻豆大，分半，水一盞半，生薑三片，煎至六分，內（音納）。硝煎，去滓服。</p>
<p><u>小承氣湯</u></p>
<p>　治傷寒日深，恐有燥屎，腹中轉失，乃可攻之。不轉失者，必初硬後溏，未可攻之，攻之則腹滿不能食。飲水而噦，其後發熱，大便復硬。若腹大滿不通，或陽明多汗，津液外出，腸胃燥熱，大便必硬而譫語，脈滑，吐下微煩，小便數，大便結，或下利譫語。自得病二三日，脈弱，無太陽證、柴胡證，煩心，心下結，至四五日，雖能食，少少與承氣湯和之，令小安。</p>
<p>大黃（半兩）　厚朴（三錢，去皮）　枳實（三錢）</p>
<p>上銼如麻豆大，分作二服，水一盞，生薑三片，煎至半盞，絞汁服。未利，再服。</p>
<p><u>調胃承氣湯</u></p>
<p>　治諸發汗和解，不惡寒，但發熱蒸蒸然者。或日深，心下溫溫欲吐，胸中痛，大便溏，腹滿，郁郁微煩，先此時吐下者。或日深，裡熱譫語，法當下之，以銀粉、巴豆燥熱大毒丸藥下之，致真陰損虛，邪熱轉甚，因而協熱下利不止。及表裡熱，下之太早，乘虛而入，不成結胸，但為熱利不止，心下滿硬或痛，煩渴咽乾，脈滑數而實，諸腹滿實痛者。煩渴譫妄，小便赤，大便硬，脈滑實緊。</p>
<p>大黃　芒硝　甘草（各等分）</p>
<p>上銼如麻豆大，分一半，水一大盞，煎至半盞，絞去滓，內芒硝，煎。不利，再煎服。</p>
<p><u>三一承氣湯</u></p>
<p>　治傷寒雜病，內外所傷，日數遠近，腹滿咽乾，煩渴譫妄，心下按之硬痛，小便赤澀，大便結滯。或濕熱內甚，而為滑泄，熱甚喘咳悶亂，驚悸狂顛，目痛口瘡，舌腫喉痹，癰瘍，陽明胃熱發斑，脈沉，可下者。小兒熱極，風驚潮搐，宿喘昏塞，並斑疹黑陷，小便不通，腹滿欲死。或斑疹後熱不退，久不作痂，或作斑紋。瘡癬久不已者，怫熱內成疹癖堅積，黃瘦痛疾。久新卒暴心痛，風痰酒隔，腸垢積滯。久壅風熱，暴傷酒食，煩心悶亂，脈數沉實。或腎水陰虛，陽熱獨甚，而僵仆卒中。一切暴音不語，（一名失音。）蓄熱內甚，陽厥極深，脈反沉細欲絕。或表之沖和，正氣與邪熱並之於裡，則裡熱亢極，陽極似陰，反為寒戰，脈微而絕。或風熱燥甚，客於下焦，而大小便澀滯不通者。或產婦死胎不下，及兩感表裡熱甚，須可下者。</p>
<p>大黃（半兩，錦紋）　芒硝（半兩）　厚朴（半兩，去皮）　枳實（半兩）　甘草（一兩）</p>
<p>上銼如麻豆大，水一盞半，生薑三片，煎至七分，內硝，煎二沸，去滓服。</p>
<p><u>十棗湯</u></p>
<p>　治太陽中風，下利嘔逆短氣，不惡寒，　汗出，發作有時，頭痛，心下痞硬，引脅下痛。兼下水腫腹脹，並酒食積，腸垢積滯，　癖堅積，蓄熱暴痛，瘧氣久不已。或表之正氣與邪熱並甚於裡，熱極似陰，反寒戰。表氣入裡，陽厥極深，脈微而絕。並風熱燥甚，結於下焦，大小便不通，實熱腰痛。及小兒熱結，乳癖，積熱作發，驚風潮搐，斑疹熱毒，不能了絕者。</p>
<p>大戟　芫花（慢火炒變色。仲景、鄉俗異語。云炒作熬。下凡言熬者，皆干炒也）</p>
<p>甘遂（各等分）</p>
<p>上為末。水一大盞，棗十枚（切開），煮取汁半盞，調半錢匕。實人，每一錢。</p>
<p><u>茵陳湯</u></p>
<p>　治陽明裡熱極甚，煩渴，熱鬱，留飲不散，以致濕熱相搏，而身發黃膽，但頭汗出，身無汗，小便不利，渴引水漿，身必發黃。宜茵陳湯調下五苓散。利大小便。茵陳（一名山茵陳，一兩，去莖）　大黃（半兩）　大梔子（七個，色深堅實好者，稍小者，用十個）</p>
<p>上銼如麻豆大，水二盞半，慢火熬至一盞，絞汁，溫服，以利為度，甚者，再作。</p>
<p>當下如爛魚肚及膿血膠膘等物，及小便多出金色，如皂莢汁。</p>
<p>或見證將發黃，此一劑分作四服，調五苓散三錢。凡治發黃者，無越此法。妙。</p>
<p><u>桂苓甘露散</u></p>
<p>（一名桂苓白朮散。一方甘草一兩半。）　治傷寒、中暑、胃風、飲食，中外一切所傷傳受，濕熱內甚，頭痛口乾，吐瀉煩渴，小便赤澀，大便急痛，濕熱霍亂吐下，腹滿痛悶，及小兒吐瀉驚風。</p>
<p>茯苓（一兩，去皮）　甘草（二兩，炙）　白朮（半兩）　澤瀉（一兩）　桂（半兩，去皮）</p>
<p>石膏（二兩）　寒水石（二兩）　滑石（四兩）　豬苓（半兩）</p>
<p>上為末，每服三錢，溫湯調下，新水亦得，生薑湯尤良。小兒每服一錢，同上法。</p>
<p>此藥下神金丸，止瀉利，無不驗也，並解內外諸邪所傷，濕熱。</p>
<p>又一方，卻不用豬苓，或日三服，不計時候。</p>
<p><u>梔子柏皮湯</u></p>
<p>　治頭微汗，小便利而微發黃者。濕熱相摶微者宜服。</p>
<p>黃柏（半兩）　甘草（一分）　大梔子（十五個）</p>
<p>上銼如麻豆大，水三盞，煎至一盞，絞汁，分次作一日服之。</p>
<p><u>梔子豉湯</u></p>
<p>　治懊　煩心，及傷寒不得眠，燥熱怫鬱結內，而氣不宣通，胸滿頭痛，微汗虛煩。</p>
<p>大梔子（七個，銼碎）　豆豉（半合。俗言鹽豉。）</p>
<p>上銼如麻豆大，先以水二盞煮梔子，至一盞半，內豉，煮至半盞，絞汁，溫服。少氣者，加甘草一分。嘔者，誤以丸藥下之者，加生薑半兩，或用溫湯濯手足，使心胸結熱宣通而已。凡加者，皆用梔子，先煮。得吐，止後服。</p>
<p>凡用梔子豉湯，皆非吐人之藥。以其燥熱鬱結之甚，而藥頓攻之，不能開通，則發熱而嘔吐。因其嘔吐，發開鬱結，則氣通，津液宣行而已，故不須再服也。</p>
<p><u>大陷胸湯</u></p>
<p>　治汗下之後，不大便五六日，舌乾而渴，日晡潮熱，從心至小腹脹滿而痛不可近，脈當沉緊滑數。或但胸結，則無大段熱，頭微汗出，脈沉澀者，水結也。</p>
<p>大黃（三錢）　芒硝（三錢）　甘遂末（三字）</p>
<p>上銼如麻豆大，分作二服，每服水一盞，煎大黃至六分，內硝，再煎一二沸，絞汁，調甘遂一字匕半，溫服。未快利，再服。勢惡不能利，以意加服。</p>
<p><u>小陷胸湯</u></p>
<p>　治小結胸，心下按之痛，脈浮而滑，無大段熱，表未罷，不可下之，下之即死。小結胸，宜服。</p>
<p>半夏（四錢，湯洗，全用，不銼）　生薑（二錢，切）　黃連（二錢，銼）　栝蔞實（大者，半兩，唯銼其殼，子則不銼，若銼其中子者，非也）</p>
<p>上以水三盞，煮栝蔞汁一盞半，內藥，煮至一盞，絞汁，分兩次溫服。以效。</p>
<p><u>大陷胸丸</u></p>
<p>　治發熱而下之太早，熱入因作結胸者，項亦強，如柔　狀，下之則和也。</p>
<p>大黃（半兩）　芒硝（一分）　杏仁（十二個，去皮尖、雙仁，草灰炒變色）</p>
<p>葶藶（三錢，微炒）</p>
<p>上，大黃為末，下葶藶，杵，羅，研杏仁、硝如泥，和彈子大，每服一丸，入甘遂末三字、白蜜半匙，水一盞，煮至半盞，溫服。當一宿許乃下。未利，再服。</p>
<p><u>梔子厚朴湯</u></p>
<p>　治傷寒下後，心煩腹滿，坐臥不安者。</p>
<p>大梔子（七個）　枳實（二錢）　厚朴（半兩，去皮，炙）</p>
<p>上銼如麻豆大，以水一盞半煮，絞汁半盞，溫服。</p>
<p><u>檳榔散</u></p>
<p>　治傷寒陰病，下之太早成痞，心下痞滿而不痛，按之軟虛者。</p>
<p>檳榔　枳殼（等分）</p>
<p>上為末，每服三錢，煎黃連湯調下，不計時候，溫服。</p>
<p><u>大黃黃連瀉心湯</u></p>
<p>　治傷寒成病痞不已，心腹亦實熱煩滿，或譫妄而脈沉，無他證者。</p>
<p>大黃　黃連　黃芩（各一分。）</p>
<p>上銼如麻豆大，水二盞，煎至一盞，絞汁，分三次溫服。又一法，加生薑一分，甚良。</p>
<p><u>黃連解毒湯</u></p>
<p>　治傷寒雜病，熱毒煩悶，乾嘔口燥，呻吟喘滿，陽厥極深，蓄熱內甚，俗妄傳為陰毒者。及汗下吐後，寒涼諸藥不能退熱勢。兩感證同法。</p>
<p>黃連（去須）　黃柏　黃芩　大梔子（各半兩）</p>
<p>上銼如麻豆大，每服稱半兩，水一茶盞，煎至四分，絞去滓，溫服。</p>
<p>或腹滿嘔吐，或欲作利者，每服加半夏三個（生，全用）、厚朴二錢（銼）、茯苓二錢（去皮，銼），用水一盞半，生薑三片，煎至半盞，絞汁，溫服，名半夏黃連解毒湯。</p>
<p><u>白虎湯</u></p>
<p>（加減白虎湯，隨證用。）　治傷風自汗，桂枝證，表未解，半入於裡。中暑自汗，脈虛弱。傷寒自汗，脈滑數而實，表裡俱熱。三陽合病，腹滿身重，口燥面垢，譫語發黃，厥逆自汗。和解兩感，解頭痛，止自汗，雜病時疫，未瀉發斑，兼豆　瘡疹伏熱。</p>
<p>知母（一兩半）　甘草（一兩，炙）　粳米（一合）　石膏（四兩，為末）</p>
<p>上銼如麻豆大，抄五錢，水一盞，煎至六分，去滓，溫服，無時候，日三四服。或眩咳嘔者，加半夏半兩、紅皮半兩，每服生薑三片，煎服。</p>
<p>傷寒發汗不解，脈浮者，加蒼朮半兩，名蒼朮白虎湯。汗吐下後，煩渴口乾，脈洪大，加人參半兩，名人參白虎湯。</p>
<p>賈同知已效方，石膏四兩、知母一兩、甘草一兩。劉庭瑞已效方，知母一兩半、石膏四兩、粳米一合。崔宣武已效方，知母一兩、石膏三兩、甘草一兩半。上為末，每服三錢，水一盞，入粳米二十五粒，煎至六分。未曾下，胃熱發斑，兼痘　如液，虛瘦，加人參半兩、白朮半兩。</p>
<p>頭疼，加川芎、荊芥各三錢。咳嗽，加半夏三錢、桔梗一兩。恍惚，加人參三錢、茯苓半兩。</p>
<p><u>涼膈散</u></p>
<p>（一名連翹飲子，亦有加減法。）　治傷寒表不解，半入於裡，下證未全；下後燥熱怫結於內，煩心懊　，不得眠，臟腑積熱，煩渴頭昏，唇焦咽燥，喉閉目赤，煩渴，口舌生瘡，咳唾稠黏，譫語狂妄，腸胃燥澀，便溺　結，風熱壅滯，瘡癬發斑，驚風熱極，黑陷將死。</p>
<p>連翹（一兩）　山梔子（半兩）　大黃（半兩）　薄荷葉（半兩）　黃芩（半兩）　甘草（一兩半）</p>
<p>朴硝（一分）</p>
<p>上為末，每服二錢，水一盞，蜜少許，同煎至七分，去滓，溫服。</p>
<p>虛實加減：咽喉痛，涎嗽，加桔梗一兩、荊芥穗半兩。嗽而嘔者，加半夏半兩，每服生薑三片同煎。衄血嘔血，加當歸半兩、芍藥半兩、生地黃一兩。淋者，加滑石四兩、茯苓一兩（去皮）。風眩，加芎半兩、石膏三兩、防風半兩。酒毒，加葛根一兩、荊芥穗半兩、赤芍藥半兩、芎半兩、防風半兩、桔梗半兩。</p>
<p>三歲小兒可服七八錢。或惡熱甚，黑陷，腹滿喘急，小便赤澀，而將死者，此一服更加大承氣湯。約以下之，立效。</p>
<p>凡言加者，皆自本方加也，以意加減。退表熱，加益元散，效速。</p>
<p><u>人參石膏湯</u></p>
<p>　治傷寒咳嗽不已，心煩，及風熱頭痛，精神不利，昏憒，宜服。</p>
<p>人參（一錢半）　石膏（三兩）　芎（半兩）　半夏（二錢，去滑）　白朮（半兩）</p>
<p>茯苓（半兩）　甘草（一兩，炙）　大梔子（三錢）　知母（半兩）　黃芩（三錢）</p>
<p>上為末，每服一錢，水一盞，生薑三片，煎至六分，去滓，溫服。</p>
<p><u>崔宣武人參石膏湯</u></p>
<p>　治傷寒頭痛，心煩悶，風熱，並汗後余熱，自汗多。清頭目，定喘嗽。</p>
<p>人參（二錢半）　石膏（一兩）　芎（二兩）　黃芩（二錢）　茯苓（三錢）　甘草（半兩）</p>
<p>防風（三錢）</p>
<p>上為細末，每服五錢，水一盞半，煎至六分，去滓，溫服，不計時候。</p>
<p><u>雙解散</u></p>
<p>　治風寒暑濕，飢飽勞役，內外諸邪所傷，無問自汗、汗後、雜病，但覺不快，便可通解得愈。小兒生瘡疹，使利出快，亦能氣通宣而愈。</p>
<p>益元散（七兩）　防風通聖散（七兩）</p>
<p>上二藥一處相和，名為雙解散，（益元散方在痢門，通聖散方在風門。）各七兩，攪勻，每服三錢，水一盞半，入蔥白五寸、鹽豉五十粒、生薑三片，煎至一盞，溫服。</p>
<p><u>白朮散</u></p>
<p>　治傷寒雜病，一切吐瀉、煩渴、霍亂、虛損氣弱，保養衰老，及治酒積嘔噦。</p>
<p>白朮　茯苓（去皮）　人參（各半兩）　甘草（一兩半，炙）　木香（一分）　藿香（半兩）</p>
<p>葛根（一兩）</p>
<p>上為末，白湯調下二錢。煩渴者，加滑石二兩。甚者，加薑汁，續續飲之。</p>
<p><u>四逆湯</u></p>
<p>　治傷寒表熱未入裡，誤以寒藥下之太早，表熱不已，入裡寒，下利不止，因表熱裡寒自利，急以溫裡，利止。</p>
<p>又治少陰病，脈沉，下利厥逆，煩渴嘔吐。</p>
<p>甘草（一錢，炙）　乾薑（一分）　附子（半個，生，去皮臍。附子以半兩者佳，小者力弱，大者性惡，非古方之宜也。不但以美其大者，要知古人之有則也）</p>
<p>上銼如麻豆大，水二盞，煎至一盞，絞汁，溫服。</p>
<p>或蓄熱深極，而手足厥冷者，不宜此方，當以下之。</p>
<p><u>茯苓半夏湯</u></p>
<p>　治傷寒雜病，一切嘔吐，或喘咳、疼痛、痞滿、頭痛者。</p>
<p>茯苓（一分，去皮）　半夏（一錢）　生薑（一分，取汁）</p>
<p>上銼如麻豆大，水一盞，煎至四分，絞汁，下生薑汁，溫服，不計時候。</p>
<p>一方加黃芩一分（去腐）、紅皮一分（去穰），治風痰。</p>
<h2>卷七</h2>
<h3>積聚門</h3>
<h4>積聚總論</h4>
<p>《素問》曰：積聚、留飲、痞膈、中滿、濕積、霍亂吐下、　瘕堅硬腹滿，皆太陰濕土，乃脾胃中氣積聚之根也。（積者，不散。聚者，不化。留者，不行。飲者，停滯。痞者，不通。隔者，阻也。中滿者，濕，為積。霍亂吐下，留停，為聚。　者，徵也。瘕者，假也。）</p>
<p>斯疾乃五臟六腑陰陽變化盛衰之制也。亢則害，承乃制，極則反矣。謂水得燥則消散，而得濕則不消，乃為積飲也。謂人形精神，與營衛血氣津液，出入流通。謂夫腠理閉密，乃為痞也。謂腸胃膈絕，傳化失常，而乃滯也。土主形體，腹滿於中央，乃曰中滿。以傳化失度，故甚則霍亂吐瀉也。症者，腹中堅硬，按之應手。然水體柔順，而今反堅硬如地者，亢則害，承乃制也。瘕者，中雖硬而忽聚忽散無其常，故其病未及　也。</p>
<p>經曰：血不流而滯，故血內凝，而乃瘕也。小腸移熱於大腸，乃為　瘕。大腸移熱於小腸，謂兩熱相摶，則血溢而為伏瘕。血澀不利，月事沉滯而不行，故行為　瘕。為　與伏同，瘕與疝同，為傳寫誤也。世傳冷病，然瘕病亦有熱。或陽氣鬱結，怫熱壅滯，而堅硬不消者，世傳為寒　瘕也。</p>
<p>或堅痞腹滿急痛，（寒主筋縮，故急主痛。）寒極血凝泣，而反兼土化制之，故堅痞之腹滿，或熱鬱於內，而腹滿堅結，痛不可忍者，皆可為寒。誤矣！誤矣！何不以脈辨之？凡諸疾病，皆有陰陽寒熱，宜推詳之。</p>
<p>五臟六腑，四季皆有積聚。心之積，名曰伏梁，在於臍上，大如臂，上至於心，橫於心下，如屋梁，故曰伏梁。肝之積，名曰賁（音奔。）氣，在左脅下，覆如杯，有頭足。久不愈，令人　瘧。脾之積，名曰痞氣，在胃脘，覆大如杯。久不愈，令人四肢不收，發黃膽，食不為膚肌。肺之積，名曰息賁，結在右脅下，覆大如杯。久不愈，令人洒淅寒熱，喘咳，發為肺癰。腎之積，名曰賁（音奔。）　，在於小腹，上至心下，如　奔走，往來無定。久不愈，令人喘逆，發為骨痿，少氣乏力。此為五臟之積也。常究斯義，未可悉也。</p>
<p>傳其所勝者，死，傳不勝者，可治。假令肺病傳肝，肝病傳脾，脾病傳腎，腎病傳心，心病傳肺，皆傳所勝，五臟之氣虛，而內外諸邪所侵，故留稽不行，遂成積聚。其脈沉細而微者，是也。</p>
<p><u>木香三棱丸</u></p>
<p>　治一切氣悶，胸膈痞滿，營衛不和，口吐酸水，嘔逆惡心，飲食不化，肋脅疼痛，無問久新。</p>
<p>青木香　破故紙　茴香　黑牽牛　甘遂　芫花　大戟　荊三棱　蓬莪朮　川楝子　胡蘆巴巴戟（以上各一兩）　巴豆（去皮，不出油，二分）　陳米（三合，將巴豆一處，同炒黑）</p>
<p>縮砂仁（一兩半）</p>
<p>上件一十五味，用好醋二升，除砂仁、木香，余藥入醋中浸一宿，入鍋煮，醋盡為度，干，為細末，醋面糊和丸，如綠豆大，每服五七丸，食後。加減看虛實，隨湯水下。</p>
<p><u>導氣枳殼丸</u></p>
<p>　治氣結不散，心胸痞痛，逆氣上攻。分氣逐風，功不可述。</p>
<p>枳殼（去穰，麩炒）　木通（銼，炒）　青皮（去皮）　陳皮（去白）　桑白皮（銼，炒）　蘿卜子（微炒）　黑牽牛（炒）　莪朮（煨）　茴香（炒）　荊三棱（煨。各等分）</p>
<p>上為末，生薑汁打面糊為丸，如桐子大，每服二十丸，煎橘皮湯下，不計時候。</p>
<p><u>透膈寬腸散</u></p>
<p>　治腸上壅實，膈熱難行者。</p>
<p>白牽牛（一兩）　芒硝（三兩）　川大黃（二兩）　甘遂（半兩）</p>
<p>上為末，食後溫蜜水調下一錢。虛實加減。疏動止。</p>
<p><u>密補固真丹</u></p>
<p>　治脾腎真元損虛，泄利痰嗽，噦痞水穀酸臭，飲食無味，臍腹冷痛，肢體麻痹，下虛痿厥，上實壅滯，腎虛耳鳴，脾虛困憊，耳焦齒稿，面黧身悴，目黃口燥。發墮爪退，風虛遍枯，中滿膈氣，一切脾胃虛證。常服補養，宣通氣血。</p>
<p>天南星（半兩）　半夏（制）　神麯　麥　茴香（炒）　荊三棱（炮。各一兩）　白附子干生薑　川烏頭（生。各一兩）　巴豆（七個）　牽牛（三兩）　代赭石（二兩）　官桂（一分）</p>
<p>上為末，水和丸，小豆大，每服十丸，加至五十丸，溫水下。除泄瀉外，並加大黃一兩。</p>
<p><u>木香丸</u></p>
<p>　治和脾胃，寬胃膈，消痰逆，止嘔吐，進益美飲食。</p>
<p>官桂　乾薑（各半兩）　木香（一分）　大黃　蓬莪朮　芫花（醋拌濕，炒干）　枳殼（去穰）</p>
<p>陳皮（各半兩）　半夏（二兩）　牽牛（半斤，取末四兩）　茴香（一兩，炒）　巴豆（四個）</p>
<p>上為末，滴水為丸，如小豆大，每服二三十丸，溫水下。</p>
<p><u>軟金丸</u></p>
<p>　治心胸腰腹急痛，或淋　，並產後經病，血刺腹痛。</p>
<p>當歸（半兩）　乾漆（二錢）　紅花（一錢半，用）　輕粉　砂　粉霜（各一錢）</p>
<p>三棱（二錢）</p>
<p>上同研勻，棗肉為膏，和丸綠豆大，新汲水下一丸。病甚者加，得利後減。</p>
<p><u>泥金丸</u></p>
<p>　治心腹急痛，取久新腸垢積滯，推陳致新。</p>
<p>黃柏　大黃　巴豆　五靈脂（各半兩）　豬牙皂角（一分）　輕紛　粉霜　砂（各一分）</p>
<p>乾漆（二分）</p>
<p>上研勻，煉蜜拌得，杵千下，丸綠豆大，新汲水下一丸。未利，更加服。</p>
<p><u>狀元丸</u></p>
<p>　治膈氣酒膈酒積，腹痛吐逆痞滿。</p>
<p>巴豆（五十個，取霜）　神麯（半兩，末）　半夏（一兩，洗）　雄黃　白面（炒。各一兩）</p>
<p>上研勻，滴水丸小豆大，細米糠炒變赤色，食後，溫水下。童子二丸，三四歲一丸，歲半半丸。止嗽，溫齏汁下。止嘔吐，生薑湯下。</p>
<p><u>玄胡丸</u></p>
<p>　治積聚　瘕，解中外諸邪所傷。</p>
<p>玄胡索　青皮（去白）　陳皮（去白）　當歸　木香　雄黃（別研）　荊三棱　生薑（各一兩）</p>
<p>上為末，酒面糊為丸，如小豆大，每服五七丸，生薑湯下。</p>
<p>又一方，無陳皮、生薑，有廣術一兩、檳榔分兩同。</p>
<p><u>大延胡索散</u></p>
<p>　治婦人經病，產後腹痛，腹滿喘悶，　瘕癖塊，及一切心腹暴痛。</p>
<p>延胡索　當歸　芍藥　荊三棱　川苦楝　蓬莪朮　官桂　厚朴　木香　川芎（各一分）</p>
<p>桔梗　黃芩　大黃（各半兩）　甘草（一兩）　檳榔（二錢）</p>
<p>上為粗末，每服三錢，水一盞，煎至六分，去滓，熱服，食前。如惡物過多，去大黃、官桂，加黃藥子、染槐子、龍骨各半兩，如前法煎服。平人心痛，加本方。得利尤良。後常服。</p>
<p><u>三棱湯</u></p>
<p>　治　瘕　癖，積聚不散，堅滿痞膈，食不下，腹脹。</p>
<p>荊三棱（二兩）　白朮（一兩）　篷莪朮（半兩）　當歸（半兩，焙）　木香（三錢）</p>
<p>右為末，每服三錢，沸湯點服，食後，每日三服。</p>
<p><u>消飲丸</u></p>
<p>　治一切積聚　癖氣塊，及大小結胸，不能仰按。</p>
<p>天南星　半夏　芫花　自然銅（生用。各等分）</p>
<p>上為末，醋煮面糊為丸，如桐子大，每服五七丸，食前，溫水下。良久，蔥粥投之。</p>
<p>相虛實加減。</p>
<p><u>除濕丹</u></p>
<p>　治諸濕客摶，腰膝重痛，足脛浮腫，筋脈緊急，津液凝澀，便溺不利，及癮疹，癰疽發背，疥癬走注，腳氣無首尾，瘡癤。功效不可盡述。</p>
<p>檳榔　甘遂　威靈仙　赤芍藥　澤瀉　葶藶（以上各二兩）　乳香　沒藥（各一兩，別研）</p>
<p>黑牽牛（半兩）　大戟（二兩，炒）　陳皮（四兩，去白）</p>
<p>上為末，面糊為丸，如桐子大，每服五十丸至七八十丸，溫水下，後食。如服藥前後忌酒一日，藥後忌濕面，食溫粥補暖。</p>
<p><u>保安丸</u></p>
<p>　治　積，心腹內結如拳，漸上不止，搶心疼痛，及繞臍腹痛不可忍者。</p>
<p>川大黃（三兩，新汲水浸一宿，蒸熟，切片子，焙）　乾薑（一兩，炮）　大附子（半兩，去皮臍）　鱉甲（一兩半，好醋一升，伏時炙令黃色妙）</p>
<p>上為末，取三年米醋一大升，先煎四五合，然後和藥，丸如桐子大，每服十丸至二十丸，空心，醋或酒、米飲下。後取積如魚腸膿血爛肉汁青泥，當下。</p>
<p><u>開結妙功丸</u></p>
<p>　治怫熱內盛，　癖堅積腸垢，　瘕積聚，疼痛脹悶，發作有時，三焦壅滯，二腸閉結，胸悶煩心不得眠，咳喘噦逆不能食，或風濕氣兩腿為腫脹，黃瘦，眼澀昏暗，一切所傷，心腹暴痛，風熱燥郁，偏正頭疼，筋脈拘瘓，肢體麻痹，走注疼痛，頭目昏眩，中風遍枯，邪氣上逆，上實下虛，腳膝麻木冷痛。宣通氣血。</p>
<p>荊三棱（炮）　茴香（炒。各一兩）　川烏頭（四兩）　神麯麥　大黃（各一兩，好醋半升，熬成稠膏。不破堅積，不須熬膏，水丸）　乾薑（二錢）　巴豆（二個，破堅積，用四個）　半夏（半兩）　桂（二錢）　牽牛（三兩）</p>
<p>上為末，丸小豆大，生薑湯下十丸、十五丸，溫水、冷水亦得。或心胸間稍覺藥力暖性，卻加丸數，以加至快利三五行。以意消息，病去為度。</p>
<p><u>木香分氣丸</u></p>
<p>　治積滯痞塊不消，心腹痞結，疼痛搶刺，如覆杯狀。</p>
<p>陳皮（去白）　檳榔（各一兩）　破故紙（二兩，炒）　木香（一兩半）　黑牽牛（十二兩，炒香熟，取末五兩半，余不用）</p>
<p>上為末，滴水為丸，如桐子大，每服二三十丸，生薑湯下，食後臨臥服。</p>
<p><u>開胃生薑丸</u></p>
<p>　治中焦不和，胃口氣塞，水穀不化，噫氣不通，噎塞痞滿，口淡吞酸，食時膨脹，噦逆惡心，嘔吐痰水，宿食不消，咳嗽，脅肋刺痛。寬中開胃，進飲食。</p>
<p>桂心（一兩）　生薑（一斤，切作片子，監三兩，腌一宿，再焙乾）　青皮（去白）</p>
<p>陳皮（去白）　甘草（炙。各二兩）　縮砂仁（四十九個）　廣術　當歸（各半兩）</p>
<p>右為末，煉蜜為丸，如彈子大，每服一丸，食前，細嚼，沸湯化下。</p>
<p><u>導滯定功丸</u></p>
<p>　治一切心腹卒暴疼痛，及胸中不利。消食，止逆，定疼痛。</p>
<p>大椒　木香（各一錢）　蠍梢（三錢）　巴豆（八個，出油為度）</p>
<p>上為末，後入巴豆霜，研勻，面糊和丸，如綠豆大，朱砂為衣，每服五丸至十丸，淡醋湯下。</p>
<p><u>積氣丹</u></p>
<p>　治一切新久沉積氣塊，面黃黑瘦，諸氣無力，　瘕積聚，口吐酸水。</p>
<p>檳榔（二個）　芫花（一兩）　KT　砂（二錢）　巴豆（二錢半，生）　青皮（去白）</p>
<p>陳皮（各三兩）　蓬莪朮　雞爪黃連　荊三棱　章柳根　牛膝（各一兩）　肉豆蔻（三個）</p>
<p>大戟　川大黃　甘遂　白牽牛　乾薑　青礞石　乾漆（各半兩）　木香（二錢半）</p>
<p>石菖蒲（三錢）</p>
<p>右為末，醋面糊和丸，如桐子大，每服一丸，臨臥燒棗湯下，每夜一丸。服後有積者肚內作聲。病退為度。</p>
<p><u>金露紫菀丸</u></p>
<p>　治一切脾積，兩肋虛脹，臍疼痛。</p>
<p>草烏頭（去皮尖，生）　黃連（各半兩）　官桂　桔梗　乾地黃　干生薑　川椒　蕪荑紫菀（去皮）　柴胡　防風　厚朴　甘草人參　川芎　鱉甲（醋浸）　貝母　枳殼（去穰）　甘遂（各一兩）　巴豆（三兩，醋煮半日，出油）　砂（三錢）</p>
<p>上為末，水煮面糊為丸，如桐子大，每服五丸，空心臨臥米飲湯下。或微疏動。詳虛實加減。</p>
<p><u>信香十方青金膏</u></p>
<p>（灌頂法：王予所傳十二上愿云：藥師琉璃光如來應當供養，正遍知明，行足善游世間，解無上士調御丈夫，天人師佛世尊方境。）授治周身中外，陰陽不調，氣血壅滯，變生百病，乃至虛羸，困倦偏攻，酒食內傷，心腹滿塞急痛。或酒積食積，　瘕積聚，癖堅積，中滿膈氣，食臭酸醋，嘔吐翻胃。或膈癉消中，善食而瘦。或消渴多飲，而數（色角切，頻也。）小便。或腸風下血，痔　癢痛。或胃癰疹，或遍身癰疽惡瘡。或瘡毒已入於裡，腹滿嘔吐。或成瀉痢，或出惡瘡　肉，或下利腹痛。或一切風氣，肢體疼痛，及中風偏枯。</p>
<p>或痰逆生風，痰涎嗽。兼產後腹痛，及小兒疳積，諸風潮搐。但平人常服保養，宣行營衛，調飲食。</p>
<p>信砒　乳香　輕粉　粉霜　巴豆（以上各一兩，同研）　龍腦（半字）　麝香（半字）</p>
<p>青黛（二錢。同研）　黃蠟（三錢）</p>
<p>上研細末，熔蠟，入蜜半錢，就搓勻，旋丸綠豆至小豆大，先服小丸。病在上，食後，在下，食前，在中，不計時候。面東頂禮，一丸，淨器盛水送下。</p>
<p>如合藥，即淨處，面東，每一丸密念咒三遍。或病患不能咒，請人咒，或師氏咒過。</p>
<p>咒曰：信香十方青金膏，藥師丸成蜜遍拋，普濟有緣除百病，常吞一粒體堅牢。密咒曰：但言八金剛，莫說十方佛，五蘊六根俱不道，十二上愿自然成。</p>
<p><u>金黃丸</u></p>
<p>　治酒積食積諸積，面黃膽，積硬塊。</p>
<p>荊三棱　香附子（各半兩）　澤瀉（二錢半）　巴豆（四十九粒，出油）　黍米粉　牽牛（各二錢半）</p>
<p>上為末，用梔子煎湯和丸，如綠豆大，每服三丸至五丸。如心痛，艾醋湯下七丸。</p>
<p><u>導氣丸</u></p>
<p>　治心胸滿悶，脅肋刺痛，不思飲食。常服寬膈，進美飲食。</p>
<p>薑黃（四兩）　香附子（四兩）　縮砂　甘草　廣術（各二兩）　丁皮　甘松　木香　荊三棱（各一兩）　白檀（半兩）　藿香葉（半兩）</p>
<p>上為末，入綠豆粉二兩，用湯浸蒸餅為丸，如桐子大，每服三二十丸，細嚼，白湯下，食後，日進三服。</p>
<p><u>丁香散</u></p>
<p>　治　癖氣，脅下痞滿，息而不消，積而不散。元氣在胃，不妨飲食。</p>
<p>好丁香（二十五個）　白丁香（七十個）　密陀僧　舶上硫黃　黃鶯調（各五分）</p>
<p>上為細末，每服一字，皂子煎湯調下，不計時候。治肚內生硬物，黑瘦如柴，嘔吐積滯，日三服，食後。</p>
<p><u>聖餅子</u></p>
<p>　治一切沉積氣脹，兩脅氣滿，無問新久者。</p>
<p>大黃（三兩）　黑牽牛（頭末，一兩）　KT　砂（三錢）　山梔子（半兩）　輕粉（二錢）</p>
<p>上為末，煉蜜和丸，捻作餅子，如小錢大濃樣，食後，每服三餅子，細嚼，溫酒下。</p>
<p>臨臥。如行，粥補之。虛實加減。</p>
<p><u>無憂散</u></p>
<p>（一名萬病散。）　治風疾，瘡腫疥癬，或臟腑積冷，壅滯氣結，風勞，膀胱宿冷，臟腑虛衰，面色痿黃，內有　癖氣並，當有疳蟲蛔蟲，攻心、腹俱痛，忽中傷寒，頭痛不忍，狀若山嵐時氣瘟疫之疾，並宜急服此藥，宜通三五行，立瘥。或中風口　，語多謇澀，睡後口中涎出，不限時節，不問男子女人，但五日一服，不過三服，永瘥。</p>
<p>人患腰膝疼痛，腳氣腫滿，運動艱難，飲食無味，並小兒疳痢脫肛者，量大小與服，利三五行，自瘥。大人久泄、氣痢，狀若休息痢，止有時，俱一服，取下冷膿一二升，當日見效。藥無四時冷熱、老幼衰弱，病患悉皆除之。任服他藥無妨。若服常時，蓋緣搜出臟腑中積滯蟲膿故也。無孕婦人，久患血虛氣弱，痿黃無力者，亦可依方服。宣通氣血，殊不困倦，無妨此藥。凡有百病，並皆治之，其功不可具載。有孕婦人，或遇陰晦時，即不可服，天道晴明可進。若雖復疾，而未愈者，可再服。</p>
<p>黃　木通　桑白皮　陳皮（各一兩）　胡椒　白朮　木香（各半兩）　白牽牛（四兩，炒，別取頭末）</p>
<p>上七味，為細末，每服二錢，牽牛末二錢，生薑二錢，切作片子，煎生薑湯一大盞調藥，須臾，又用生薑湯或溫湯送下。平明可行三五次，快利無妨。如病瘥後，以白粥補之，痊矣。</p>
<p><u>五積丹</u></p>
<p>　治心腹痞滿，嘔吐不止，破積聚者。</p>
<p>皂莢（一梃，一尺二寸，火燒留性，淨盆合之，四面土壅合，勿令出煙）　巴豆（十二個，白面一兩五錢同炒，令黃色為度）</p>
<p>上為末，醋面糊為丸，綠豆大，每服十丸，鹽湯下，食後。加減。</p>
<h2>卷八</h2>
<h3>水濕門</h3>
<h4>水濕總論</h4>
<p>夫諸濕者，濕為土氣，火熱能生土濕也。故夏熱則萬物濕潤，秋涼則濕物燥干也。</p>
<p>濕病本不自生，因於大熱怫鬱，水液不能宣通，即停滯而生水濕也。</p>
<p>凡病濕者，多自熱生，而熱氣尚多，以為兼證，云濕熱，亦猶風熱義同。雖病水寒，不得宣行，亦能為濕，雖有此異，亦以鮮矣。或跗腫體寒，而有水者，以蓄熱入裡極深，本非病寒也。</p>
<p><u>三花神　丸</u></p>
<p>　治中滿腹脹，喘嗽淋　，一切水濕腫滿，濕熱腸垢沉積，變生疾病。久病不已，黃瘦困倦，氣血壅滯，不得宣通。或風熱燥郁，肢體麻痹，走注疼痛，風痰涎嗽，頭目旋運。瘧疾不已，　瘕積聚，堅滿痞悶，酒積食積，一切痰飲嘔逆。及婦人經病不快，帶下淋瀝，無問赤白。並男子婦人傷寒濕熱，腹滿實痛，久新瘦弱。俗不能別。辨或尋常，只為轉動之藥。兼瀉久新腰痛，並一切下痢，及小兒驚疳積熱乳癖滿，並宜服之。</p>
<p>甘遂　大戟　芫花（醋拌濕，炒。各半兩）　牽牛（二兩）　大黃（一兩，為細末）　輕粉（一錢）</p>
<p>上為細末，滴水為丸，如小豆大，初服五丸，每服加五丸，溫水下，每日三服。</p>
<p>加至快利，利後卻常服，病去為度。</p>
<p>設病愈後，老弱虛人常人，常服保養，宣通氣血，消進酒食。病癖悶極甚者，便多服，則頓攻不開，轉加痛悶。則初服兩丸，每服加兩丸，至快利為度，以意消息。</p>
<p>小兒丸如麻子大，隨強弱增損。三四歲者，三五丸，依前法。</p>
<p>崔宣武神　丸，加黃柏一兩，牽牛四兩，大黃二兩，輕粉二錢，甘遂、大戟、芫花各一分，依前法。劉庭瑞神　丸，用此藥治水氣，常得效。賈同知稱之不已，乃神仙奇絕之藥也。</p>
<p><u>葶藶木香散</u></p>
<p>　治濕熱內外甚，水腫腹脹，小便赤澀，大便滑泄。</p>
<p>葶藶　茯苓（去皮）　豬苓（去皮）　白朮（各一分）　木香（半錢）　澤瀉　木通甘草（各半兩）　辣桂（一分）　滑石（三兩）　上為末，每服三錢，白湯調下，食前。</p>
<p>此藥下水濕，消腫脹，止泄瀉，利小便。若小便不得通利，而反轉泄者，此乃濕熱痞極深，而攻之不開，是能反為注泄。此正氣已衰，而多難救也。慎不可攻之，而無益耳。</p>
<p><u>白朮木香散</u></p>
<p>　治喘嗽腫滿，欲變成水病者。不能臥，不敢食，小便　者。</p>
<p>白朮　木豬苓（去皮）　甘草　赤茯苓　澤瀉（各半兩）　木香　檳榔（各三錢）</p>
<p>陳皮（二兩，去白）　官桂（二錢）　滑石（三兩）</p>
<p>上為末，每服五錢，水一盞，生薑三片，同煎至六分，食後，去滓，溫服。</p>
<p><u>大橘皮湯</u></p>
<p>　治濕熱內甚，心腹脹滿，水腫，小便不利，大便滑泄。</p>
<p>橘皮（一兩，去白）　木香（一分）　滑石（六兩）　檳榔（三錢）　茯苓（一兩，去皮）</p>
<p>木豬苓（去皮）　澤瀉　白朮　官桂（各半兩）　甘草（二錢）</p>
<p>上為末，每服五錢，水一盞，生薑五片，煎至六分，去滓，溫服。</p>
<p>大小便秘，先服十棗湯，二三日後，再服此藥。</p>
<p><u>葶藶膏</u></p>
<p>　治水腫腹脹。</p>
<p>牛黃　麝香　龍腦（各一分）　昆布　海藻（上同。二十分，洗）　牽牛　桂心（各八分）</p>
<p>椒目（三分）　葶藶（六分，炒）</p>
<p>上為末，別搗葶藶，熬成膏，丸如桐子大，每服十丸，日再服。稍利小便為度。詳虛實加減。</p>
<p><u>茯苓散</u></p>
<p>　治諸般氣腫等疾。</p>
<p>芫花（醋拌，炒）　澤瀉　郁李仁　甜葶藶　漢防己（各錢半）　陳皮（去白）　白檳榔瞿麥（各半兩）　本（二錢半）　滑石（三分）　大戟（炒，三分）</p>
<p>上為細末，每服一錢，取桑白皮，濃煎湯，空心調下。取下碧綠水，如爛羊脂，即瘥。</p>
<p>如未盡，膈日又服。腫消如故，不用服。忌鹽百日。</p>
<p><u>調胃散</u></p>
<p>　治胸膈痞悶，不思飲食，脅肋硬痛，消腹脹。</p>
<p>半夏（制）　甘草（炙）　厚朴（去皮）　陳皮（去白）　藿香（各等分）</p>
<p>上為末，每服一錢，生薑三片、棗二枚，水一盞，同煎，溫服，食前。</p>
<p><u>二氣散</u></p>
<p>　治水氣，蠱，脹滿。</p>
<p>白牽牛　黑牽牛（各二錢）</p>
<p>上為末，用大麥面四兩，同一處，為燒餅，臨臥，用茶湯一盞下。降氣為驗。</p>
<p><u>雄黃神金散</u></p>
<p>　治十種水氣。</p>
<p>雄黃　葶藶（用糯米和，炒半熟，米不用。各一兩）　澤瀉（一兩）　椒目（半兩）　大戟巴戟（去心）　茯苓（去黑皮）　芫花（醋五升，浸一日，炒）　甘遂　桑白皮（以上各一兩）</p>
<p>上為末，空心，用井花水調下，每服一錢，加至五錢，以利為度。忌鹽、醋、生冷、毒物、油膩、血物。從發處加藥一分。從腳腫，根在心，加葶藶。從肚腫，根在腹，加椒目。</p>
<p>從陰腫，根在胸，加澤瀉。從膝腫，根在肝，加芫花。從面腫，根在肺，加桑白。從心腫，根在肋，加雄黃。從肢腫，根在脾，加甘遂。</p>
<p>從口腫，根在小腸，加巴戟。從腰腫，根在腎，加大戟。從四肢腫，根在胃，加茯苓。</p>
<p><u>萬勝散</u></p>
<p>　治十種水氣，不可愈者。</p>
<p>海帶　海藻　海蛤　芫花（醋浸，炒）　甘遂　大戟　甜葶藶　樟柳根　續隨子巴戟（去心。各等分）</p>
<p>上為末，每服三錢至五錢，溫酒調下，臨臥。間日再服。</p>
<p><u>牽牛丸</u></p>
<p>　治一切濕熱腫滿等疾。</p>
<p>黑牽牛　黃芩　大黃　大椒　滑石（各等分）</p>
<p>上為細末，酒煮面糊和丸，如桐子大，每服五丸至七丸，生薑湯下，食後。虛實加減。</p>
<p><u>梔子柏皮湯</u></p>
<p>　治頭微汗，小便利而微發黃者。濕熱相摶微者宜服。</p>
<p>大梔子（十五個）　黃柏（半兩）　甘草（一分）</p>
<p>上銼如麻豆大，水三盞，煮至一盞，絞汁，分三次，作一日服，溫吃，不計時候。</p>
<p><u>大戟丸</u></p>
<p>　治十種水氣，腫脹喘滿，熱寒咳嗽，心胸痞悶，背項拘急，膀胱緊腫於小腹，小便不通，反轉大便溏泄，不能坐臥。</p>
<p>大戟　芫花（醋炒）　甘遂　海帶　海藻　郁李仁　續隨子（各半兩）　樟柳根（一兩。</p>
<p>以上八味為末，每料抄藥末十五錢七分，便入後藥）　砂　輕粉（各一錢）　粉霜（一錢）</p>
<p>水銀砂子（一皂子大）　龍腦（半錢）　巴豆（二十一個，生用，去皮）</p>
<p>上八味已下，同研勻，用棗肉為丸，如綠豆大，每服五丸至七丸，龍腦、臘茶送下，食後臨臥。虛實加減。</p>
<p><u>粉霜丸</u></p>
<p>　治病水鼓滿不食，四肢浮腫，大小便　，不進飲食。</p>
<p>粉霜　砂　海蛤　玄精石　寒水石（燒，粉）　白丁香　頭白面（各一錢）　輕粉（三錢）</p>
<p>海金砂（一錢）</p>
<p>上研勻，著紙裹數重，上使面裹，又紙裹，冷酒蘸了，桑柴火燒，面熟為度，宿餅和丸，如桐子大，每服三丸，生薑湯下，一日三服。一日加一丸，至六日不加，即止以補之，妙。</p>
<p><u>苦葶藶丸</u></p>
<p>　治一切水濕氣，通身腫滿，不可當者。</p>
<p>人參（一兩）　苦葶藶（四兩，於鍋內紙上，炒黃色為度）</p>
<p>上二味同為細末，用棗肉和丸，如桐子大，每服十五丸，煎桑白皮湯下，日進三服，空心食前。</p>
<p>此藥恐君子不信，試驗之。</p>
<p><u>肉豆蔻丸</u></p>
<p>　治水濕，腹脹如鼓，不食者。病可下。</p>
<p>肉豆蔻　檳榔　輕粉（各一分）　黑牽牛（一兩半，取頭末）</p>
<p>上為末，面糊為丸，如綠豆大，每服十丸至二十丸，煎連翹湯下，食後，日三服。</p>
<h2>卷九</h2>
<h3>痰飲門</h3>
<h4>痰飲總論</h4>
<p>夫嗽者，五臟皆有。嗽皆因內傷脾胃，外感風邪。皮毛屬肺，風寒隨玄府而入，腠理開張，內外相合，先傳肺，而入遂成咳嗽，乃肺寒也。寒化熱，熱則生痰，喘滿也。經云：喉仲介介介如梗狀，甚則嗽血也。胸滿氣喘，痰盛稠黏，皆肺氣熱也。</p>
<p><u>大人參半夏丸</u></p>
<p>　化痰墜涎，止嗽定喘，治諸痰，不可盡述。嘔吐痰逆，痰厥頭痛，風氣偏正頭疼，風壅頭目昏眩，耳鳴鼻塞，咽膈不利，心腹痞滿，筋脈拘卷，肢體麻痹疼痛，中風偏枯，咳唾稠黏，肺痿勞嗽。虛人保養。宣通氣血，調和臟腑，進飲食。</p>
<p>人參　茯苓（去皮）　天南星　薄荷葉（各半兩）　半夏　干生薑　白礬（生）　寒水石（各一兩）　蛤粉（一兩）　藿香葉（一分）</p>
<p>上為末，面糊為丸，如小豆大，生薑湯下二三十丸，食後，溫水亦得。</p>
<p>一法，加黃連半兩、黃柏二兩，水丸，取效愈妙。治酒病，調和臟腑，尤宜服之。</p>
<p><u>半夏栝蔞丸</u></p>
<p>（新添。）　治遠近痰嗽，煩喘不止者。</p>
<p>半夏（生薑製）　栝蔞　杏仁（去皮尖）　白礬（枯，杵）　款冬花（各等分）</p>
<p>上為末，生薑汁打面糊為丸，如桐子大，每服二十丸，煎生薑湯下，不計時候。</p>
<p><u>白朮厚朴湯</u></p>
<p>　治痰飲嘔吐，利胸膈，除寒熱，美飲食。</p>
<p>白朮　甘草（炙）　葛根（各一兩）　厚朴（半兩）</p>
<p>上件為末，每服一二錢，水一大盞，生薑五片，煎至六分，去滓，食前服顯仁丸、仙術芎散、大人參半夏丸。</p>
<p><u>橘皮半夏湯</u></p>
<p>　治痰壅涎嗽久不已者。常服養液潤燥，解肌熱，止咳嗽。</p>
<p>橘皮（半兩，去白）　半夏（二錢半，湯洗七次）</p>
<p>上為末，分作二服，每服水一盞半，入生薑十片，同煎至七分，去滓，溫服。</p>
<p><u>知母茯苓湯</u></p>
<p>　治肺痿喘咳不已，往來寒熱，自汗。</p>
<p>茯苓（去皮）　甘草（各一兩）　知母　五味子　人參　薄荷　半夏（洗七次）</p>
<p>柴胡　白朮　款冬花　桔梗　麥門冬　黃芩（各半兩）　川芎（三錢）　阿膠（三錢，炒）</p>
<p>上為末，每服三錢，水一盞半，生薑十片，同煎至七分，去滓，稍熱服。</p>
<p><u>人參潤肺湯</u></p>
<p>　治肺氣不足，喘急咳嗽不已，並傷寒頭疼，憎寒壯熱，四肢疼痛。</p>
<p>人參　桔梗　白芷　麻黃（去節）　干葛　白朮　甘草（炙。各一兩）　白薑（半兩）</p>
<p>上為末，每服二錢，水一大盞，生薑三片、蔥白二寸，煎至八分。如出汗，連進二服，通口溫服。</p>
<p><u>杏仁半夏湯</u></p>
<p>　治肺痿，涎喘不定，咳嗽不已，及甚者往來寒熱。</p>
<p>杏仁（去皮）　桔梗　陳皮（去白）　茯苓（去皮）　漢防己　白礬　桑白皮（各三錢）</p>
<p>薄荷葉（一錢）　甘草（二寸）　豬牙皂角（一錢）</p>
<p>上為末，作二服，水二盞，生薑三片，煎至六分，去滓，食後，溫服。</p>
<p><u>防己丸</u></p>
<p>　治肺不足，喘嗽久不已者。調順氣血，消化痰涎。</p>
<p>防己（二錢）　杏仁（三兩）　木香（二錢）</p>
<p>上為末，煉蜜為丸，如小豆大，每服二十丸，煎桑白皮湯下。如大便　，加葶藶一兩，食後服。</p>
<p><u>葶藶散</u></p>
<p>　治肺氣喘滿痰嗽，眠臥不安，不思飲食。</p>
<p>苦葶藶　蛤粉（各三錢）　桑白皮　山梔子　人參　荊芥穗　薄荷葉　赤茯苓（去皮）</p>
<p>陳皮　桔梗　杏仁　甘草（各半兩）</p>
<p>上為末，每服三錢，水一大盞，入生薑三片，煎至六分，去滓，溫服，食後。</p>
<p><u>保安半夏丸</u></p>
<p>　治久新諸嗽，或上逆涎喘，短氣痰鳴，咽乾煩渴，大小便澀滯，肺痿勞劣，心腹痞滿急痛，中滿隔氣，上實下虛，酒食積聚不消。補養氣血，宣行營衛。</p>
<p>半夏　天南星（各半兩）　牽牛（二兩）　大黃（半兩）　黃柏（一兩半）　蛤粉（一兩）　巴豆（四個）</p>
<p>上為末，水為丸，如小豆大，每服十丸、十五丸，溫水下，食後，日三服。孕婦不可服。</p>
<p>又方，無巴豆，有乾薑一錢半。</p>
<p><u>人參保肺湯</u></p>
<p>　治五勞七傷，喘氣不接，涎痰稠黏，骨蒸潮熱。</p>
<p>人參　柴胡　當歸　芍藥　桑白皮　知母　白朮　川芎　黃　紫菀　荊芥　地骨皮（各一分）　茯苓（去皮）　黃芩　連翹　大黃　薄荷（各半兩。山梔子同）　甘草桔梗（各一兩）　石膏　滑石　寒水石（各半兩）</p>
<p>上為末，每服三錢，水一盞，生薑三片，煎至七分，去滓，溫服。泄者，去大黃，同人參半夏丸服。</p>
<p><u>神應丹</u></p>
<p>　治涎嗽喘滿上攻，心腹卒痛，及利下血，兼婦人帶下病，一切肋脅痛滿。</p>
<p>薄荷葉　甘草（各四錢）　巴豆（燈燒存性）　盆硝（各二錢）　輕粉（一錢）　豆豉（一兩，慢火炒）　五靈脂（二錢）</p>
<p>上為末，煉蜜為丸，如桐子大，每服一丸，溫齏汁下，續後空咽津三五次，禁飲食。少時覺咽喉微暖，效。心腹急痛，溫酒下二丸。未效，再服。得利尤良。帶下，以溫酒下二丸。</p>
<p>或大便流利，再服。</p>
<p><u>人參散</u></p>
<p>　治身熱頭痛，積熱黃瘦，肌熱惡寒，蓄熱發戰，膈熱嘔吐煩渴，濕熱瀉利，或目赤口瘡，咽喉腫痛，或風昏眩，虛汗肺痿，勞嗽不已者。</p>
<p>石膏　甘草（各一兩）　滑石（四兩）　寒水石（二兩）　人參（半兩）</p>
<p>上為末，每服二錢，溫水調下，早晚食後。</p>
<p>兼服梔子金花丸。一名既濟解毒丹。</p>
<p><u>寧神散</u></p>
<p>　治一切痰嗽不已者。諸藥無效，世傳極驗。</p>
<p>御米囊（一斤，生，醋炒）　烏梅（四兩）</p>
<p>上為末，每服二三錢，沸湯點服，食後，日三服。</p>
<p>賈同知方，御米殼一兩（炒）、烏梅肉半兩，依前法服之。康少伊芳傳，煎烏梅湯尤妙。</p>
<p><u>桂苓白朮丸</u></p>
<p>　消痰逆，止咳嗽，散痞滿壅塞，開堅結痛悶，推進飲食，調和臟腑。無問寒濕濕熱，嘔吐瀉利，皆能開發，以令遍身流濕潤燥，氣液宣平而愈。解酒毒，療肺痿勞嗽，水腫腹脹。瀉利不能止者，服之利止為度，隨證調之。</p>
<p>楝桂　干生薑（各一分）　茯苓（去皮）　半夏（各一兩）　白朮　紅皮（去白）</p>
<p>澤瀉（各半兩）</p>
<p>上為末，面糊為丸，如小豆大，生薑湯下二三十丸，日三服。病在膈上，食後，在下，食前，在中，不計時候。或一法更加黃連半兩、黃柏二兩，水丸，取效愈妙。</p>
<p><u>潤肺散</u></p>
<p>　治小兒膈熱，咳嗽痰喘甚者，久不瘥者。</p>
<p>栝蔞實（一枚，去子用）</p>
<p>上為末，以寒食面和為餅子，炙黃，為末，每服一錢，溫水化乳糖下，日三服，效乃止。</p>
<p>又方：治寒嗽。</p>
<p>麻黃（四兩）　官桂（一兩）　蠟（二錢）</p>
<p>上為末，以蠟同煎，每服一二錢，溫服。</p>
<p><u>寧肺散</u></p>
<p>　治一切寒熱痰盛，久新咳嗽不止者。</p>
<p>御米殼（四兩）　木瓜（三兩，御米殼一處，用蜜二兩，水化，同炒微黃）　五味子（一兩）</p>
<p>人參（一兩）　皂角（二兩）</p>
<p>上為末，每服二錢，烏梅同煎，臨臥食後服。大效。</p>
<p><u>鱉甲丸</u></p>
<p>　治吐血咳嗽，神效！鱉甲（一個，九肋者，醋炙黃）　柴胡（一兩，醋浸一宿）　杏仁（一兩，童子小便浸，炒）　甘遂（一兩，炙）　人參（半兩）</p>
<p>上為末，煉蜜為丸，如桐子大，每服十丸至十五丸，生薑湯下。</p>
<p>又方，用厚朴一兩（生薑製）。</p>
<p><u>石膏散</u></p>
<p>　治熱嗽喘甚者。</p>
<p>石膏（一兩）　甘草（半兩，炙）</p>
<p>上為末，每服三錢，新汲水下，又生薑汁、蜜調下。</p>
<p><u>人參半夏丸</u></p>
<p>　治一切痰飲，喘嗽不已。</p>
<p>白礬　天南星　半夏（各半兩）　甘草（二錢半，炙）　人參（二錢）　赤小豆（四十九粒）</p>
<p>杏仁（四十九粒）　豬牙皂角（一錢）</p>
<p>上為末，秫米三合，醋一升，熬粥和丸，如桐子大，每服十五丸，炒蘿卜子湯臨臥下。</p>
<p><u>仙人肢丸</u></p>
<p>　治遠年勞嗽，不問寒熱，痰涎喘滿。先服松花膏下過。多服此藥，無不效。</p>
<p>人參　沙參　玄參　紫團參　丹參　白朮　牡蠣　知母　甘草（各二兩）　蛤蚧（一對，頭尾全用，河水淨洗，文武火酥炙黃色）</p>
<p>上為末，用麻黃十五斤（去根）、枸杞子三斤，熬成膏，丸如彈子大，磁合子內盛，臨臥煎生薑自然汁化下一丸。小兒量歲數加減。</p>
<p><u>松花膏</u></p>
<p>　治三十年勞嗽，預九月間宣利一切痰涎肺積，喘嗽不利。</p>
<p>防風　干生薑　野菊花　芫花　枸杞子　甘草　蒼朮　黃精（各等分）</p>
<p>上為末，取黃精根熬成膏子，和藥末，如彈子大，每服細嚼一丸，冷水化下，臨臥，不吃夜飯，服藥一粒。</p>
<p><u>辰砂半夏丸</u></p>
<p>　治小兒肺壅痰實，咳嗽喘急，胸膈痞滿，心忪煩悶，痰涎不利，呀呷有聲。</p>
<p>半夏（半兩，洗）　葶藶（水研成膏）　杏仁（炒，研成膏。各半兩）　朱砂五靈脂（微炒。各一兩）</p>
<p>上為末，更研勻，生薑汁煮面糊為丸，如桐子大，每服十五丸，生薑湯下。</p>
<p><u>大百勞散</u></p>
<p>　治一切勞疾肌劣，喘息不臥，痰涎不食。</p>
<p>蛤蚧（一對，蜜炙）　元州鱉甲（一個，去裙，醋炙）　附子（一兩）　人參　柴胡川乾薑　白茯苓（去皮）　白朮　茴香　青皮（去白）　杏仁（去皮尖）　知母　貝母陳皮（去白）　官桂　甘草（炙）　半夏（生薑製）　蒼朮（湯浸。各一兩）　蘇木龍膽草（各半兩）</p>
<p>上為末，每服二錢，水一盞，用生薑三片、棗二枚、烏梅二枚同煎，空心稍熱服。</p>
<p>有汗，加小麥二十粒。不用鐵煎。</p>
<p><u>小百勞散</u></p>
<p>　治勞，喘嗽不已，自汗者。</p>
<p>御米殼（不拘多少，炒）</p>
<p>上為末，每服二錢，入烏梅同煎，水一盞，溫服，食後。有汗，加小麥三十粒同煎，溫服。</p>
<p><u>五味子湯</u></p>
<p>　治胸膈痞滿，心腹刺痛，短氣噎悶，咳嗽痰唾，嘔逆惡心，不思飲食。溫中益氣。</p>
<p>五味子（九兩）　良薑（一兩半）　紅皮（去白）　茴香（炒。各一兩）　乾薑（一兩半）</p>
<p>甘草（七兩，炙）　鹽（一斤，炒）</p>
<p>上為細末，每服一錢，百沸湯點，空心食前。甚者，日進三服。</p>
<p><u>安神散</u></p>
<p>　治遠年近日喘嗽不已。</p>
<p>御米殼（蜜炒，一兩）　人參　陳皮（去白）　甘草（炙。各一兩）</p>
<p>上為末，每服一錢，煎烏梅湯調下，臨臥服。</p>
<h3>勞門</h3>
<p><u>白朮黃　散</u></p>
<p>　治五心煩，自汗，四肢痿劣，飲食減少，肌瘦昏昧。</p>
<p>白朮　黃　當歸　黃芩（去皮）　芍藥（各半兩）　石膏　甘草（各二兩）　茯苓寒水石（各一兩）　官桂（一分）　人參　川芎（各三分）</p>
<p>上為末，每服三錢，水一盞，煎至六分，去滓，溫服，食前，一日三服。</p>
<p><u>人參白朮湯</u></p>
<p>方在燥門，第一方是也。此乃為同，不復錄耳。</p>
<p><u>黃連丸</u></p>
<p>　治濕熱流連，氣血不通，壅滯不散。清爽頭目。</p>
<p>黃連（好者，不拘多少）</p>
<p>上為末，酒、面糊為丸，如小豆大，每服二十丸，溫水下，不計時候，日三服。</p>
<p><u>必效散</u></p>
<p>　治五勞七傷，勞役肌瘦，不思飲食，喘嗽不已。</p>
<p>川烏頭（一兩，生）　天南星（半兩，生）</p>
<p>上為末，每服二錢，蘿卜八塊，如拇指大，以水煮熟，去滓，食後服，嚼。</p>
<p><u>當歸地黃湯</u></p>
<p>　治嗽血衄血，大小便血，或婦人經候不調，月水過多，喘嗽者。</p>
<p>當歸　芍藥　川芎　白朮　染槐子　黃藥子（各半兩）　生地黃　甘草　茯苓（去皮）</p>
<p>黃芩　白龍骨（各一兩）</p>
<p>上為末，每服三錢，水一盞，煎至七分，去滓，溫服，食前。</p>
<p><u>紫菀散</u></p>
<p>　治勞，體熱心寒，脈滑短，咳嗽，婦人多有此疾。口乾眼澀，骨痿短氣。</p>
<p>皆因腸胃燥滯，營衛不能開發，玄府閉塞，熱鬱內余。可以開發陰陽，宣通澀滯，和營衛，順三焦。兼服人參白朮湯。</p>
<p>紫菀　桑白皮　桔梗　續斷　甘草　五味子（各一兩）　赤小豆（一合）</p>
<p>上為末，水一大盞，藥末五錢、青竹茹彈子大，同煎至七分，溫服，去滓。</p>
<p><u>枳實飲子</u></p>
<p>　治婦人手足煩熱，夜臥多汗，肌肉黃瘁，經候不調，四肢煩倦，心腹滿悶，狀似勞氣。</p>
<p>枳實（二兩）　半夏（一兩，湯洗七次，生薑汁浸二日，火炒黃色，用半夏）　紅芍藥柴胡（各一兩）　黃芩（一兩半）</p>
<p>上為末，每服二錢，水一盞，生薑三片、棗二枚，同煎至八分，去滓，溫服。</p>
<p>及治五心煩熱，及身體壯熱潮熱，續服桃仁煎丸。又治月經不調，阻滯不通。</p>
<p>桃仁（二兩，湯浸，火炒）　川大黃　川朴硝（各二兩）　虻蟲（一兩，去翅頭足）</p>
<p>上為末，用醋五升，入金銀鐺內，以慢火熬成膏，可丸如桐子大，當日晚不食夜飯，溫酒下一丸，不嚼破。午際取下赤小豆汁，似雞肝、小蝦蟆衣。未，再服。候鮮紅，即住服。</p>
<p><u>盧同散</u></p>
<p>　治男子婦人一切咳嗽喘急。</p>
<p>款冬花　井泉石　鵝管石　鐘乳石　官桂　甘草　白礬　佛耳草（各等分）</p>
<p>上為末，每服一錢，竹筒子吸吃，日三服。立效。</p>
<p><u>焚香透膈散</u></p>
<p>　治一切勞嗽壅滯，胸膈痞滿。</p>
<p>雄黃　佛耳草　鵝管石　款冬花（各等分）</p>
<p>上為末，每服用藥一錢，安在香爐子上，焚著，以開口吸煙在喉中。立驗。</p>
<p><u>罌粟神聖散</u></p>
<p>　治男子婦人久新日夜咳嗽不止者。</p>
<p>御米殼（一兩，用蜜炒）　烏梅肉　揀人參　訶子肉　葶藶　桑白皮（各半兩）</p>
<p>上為細末，每服二三錢，百沸湯潑，臨臥調下。</p>
<p><u>三黃丸</u></p>
<p>（新添。）　治五勞七傷，流濕潤燥，消渴煩熱甚者。</p>
<p>大黃　黃芩　黃連（各等分）</p>
<p>上為末，煉蜜為丸，如桐子大，每服二三十丸，加至五十丸，生薑湯下，不計時候，日三服。妙！</p>
<p><u>當歸木香湯</u></p>
<p>　治婦人血氣虛勞，令人頭目昏眩，譫語聲沉重，舌根強硬，言語謇澀，口苦，不思飲食，白日間、睡夜發虛汗，神思恍惚，夢寐狂言，面色痿黃，頻發喘咳，遍身疼痛，骨節氣走注，四肢沉重，背髀拘急，發寒熱，五心煩躁，唇干多渴，胸膈不利，喉咽噎塞，　羸瘦弱，經曰脈大為勞，宜服此藥。</p>
<p>青皮　五加皮　海桐皮　桑白皮　地骨皮　丁香皮　陳皮　牡丹皮　棕櫚皮（以上諸藥，全燒成灰，末用，十大錢，稱）　當歸（一兩）　木香　紅芍藥（各半兩）</p>
<p>上為細末，每服一錢，水一盞，入小油二點，錢一文同煎至七分，溫服。</p>
<p>如婦人血藏臍下，冷痛似刀攪，遍身腫滿，室女月經不通，用斑蝥一兩、大黃一兩（炒、銼），二味為末，用黃狗膽汁，以溫酒調下一錢。如臍下痛止，心間痰未止，不服二味。</p>
<h2>卷十</h2>
<h3>燥門</h3>
<h4>諸燥總論</h4>
<p>燥干者，今肺之本燥，金受熱化，以成燥澀也。兼火熱，致金衰耗液而損血。鬱而成燥者，由風能勝濕，熱能耗液。故經云風熱火同，陽也，寒濕燥同，陰也。又燥濕，小異也。</p>
<p>金燥雖屬秋陰，而其性異於寒濕，而反同於風熱火也。又加大便干澀，乃大腸受熱，化成燥澀，經云諸澀枯涸。又如癱瘓中風，皆因火熱耗損血液。玄府閉塞，不能浸潤，金受火鬱，不能發聲，經云肺主聲。肢痛軟戾者，風熱濕相致，而遂以遍枯，語音澀，手足不遂也。</p>
<p>然中寒吐瀉，亡液而成燥，亦以鮮矣。亦有寒濕相郁，營衛不能開發貫注，多成偏枯。</p>
<p>經曰諸澀枯涸，干勁皴揭，皆屬於燥也。</p>
<p>又如胃膈癉熱煩滿，飢不欲食。或癉成消中，善食而瘦。或燥熱鬱甚，而成消渴，多飲而數小便。（或因熱病，或恣酒欲，誤服熱藥，以致脾胃真陰陽損虛，肝心衰弱也。）</p>
<p>狂陽心火，燥其三焦，腸胃燥澀怫鬱，而水液不能宣行也，則周身不得潤澤，故瘦悴黃黑也。</p>
<p>而燥熱消渴，然雖多飲，亦其水液不能浸潤於腸胃之外，渴不能止而便注，為小便多出。</p>
<p>俗未明，妄為下焦虛冷，誤人多矣。又如周身熱燥怫鬱，故變為雀目或內障，癰疽瘡瘍，上為咳嗽喘，下為痔利。或停積而濕熱內甚，不能傳化者，變為水腫濕脹也。世傳消渴病及消瘦弱，或小便有脂液者，為腎消也。此為三消病也。消渴、消中、消腎，經意但皆熱之所致也。</p>
<p><u>人參白朮湯</u></p>
<p>　治胃膈癉熱煩滿，飢不欲食，癉成為消中，善食而瘦，燥熱鬱甚，而成消渴，多飲而數小便。兼療一切陽實陰虛，風熱燥郁，頭目昏眩，中風偏枯，酒　積毒。一切腸胃燥澀，倦悶壅塞，瘡疥痿痹。並傷寒雜病產後煩渴，氣液不得宣通。</p>
<p>人參　白朮　當歸　芍藥　大黃　山梔子　荊芥穗　薄荷　桔梗　知母　澤瀉（各半兩）</p>
<p>茯苓（去皮）　連翹　栝蔞根　干葛（各一兩）　甘草（三兩）　藿香葉　青木香　官桂（各一兩）</p>
<p>石膏（四兩）　寒水石（二兩）　滑石（半斤）</p>
<p>上為細末，每服抄五錢，水一茶盞，入盆硝半兩、生薑三片，煎至半盞，絞汁，入蜜少許，溫服。漸加至十余錢，得臟腑流利，取效。如常服，以意加減。兼服消痞丸散，以散腸胃結滯。濕熱內甚，自利者，去了大黃、芒硝。</p>
<p><u>絳雪散</u></p>
<p>　治消渴，飲水無度，小便數者。大有神效。</p>
<p>黃芩　黃丹　漢防己　栝蔞實（各等分）</p>
<p>上為細末，每服二錢，湯漿水調下，臨臥時並進三二服，即止。</p>
<p><u>人參散</u></p>
<p>　治腎消，善飲而食後數小便溺者。</p>
<p>人參（三錢）　白朮　澤瀉　栝蔞　桔梗　梔子　連翹（各半兩）　葛根　黃芩　大黃薄荷　白茯苓（各一兩）　甘草（一兩半）　石膏（二兩）　滑石　寒水石（各三兩）</p>
<p>上為末，入縮砂仁三錢，每服五錢，水一盞，煎至七分，入蜜少許，再煎三二沸，去滓，食前。食後服消痞丸。</p>
<p><u>大黃甘草飲子</u></p>
<p>　治男子婦人一切消渴不能止者。</p>
<p>大豆（五升，先煮三沸，出淘苦水，再煮）　大黃（一兩半）　甘草（大粗者四兩，長四指，打碎）</p>
<p>上三味，用井水一桶，將前藥同煮三五時，如稠強水少，更添，豆軟，盛於盆中，故冷，令病患食豆，渴食湯汁，無時候。食盡，如止渴燥，罷，不止，再煮前藥。不三次，病悉愈。</p>
<h3>痢門</h3>
<h4>泄痢總論</h4>
<p>夫痢者，五臟之積濁而不散，或厭冷物，或冒寒暑失飢，不能宣發，或傷冷飽食，或服暖藥過多，鬱而成痢。其病二三日則利為寒，青痢為熱，誤也。今人瘡癤初發，刺開乃血，多日成膿，何為先熱而後寒也。</p>
<p>叔和云：濕多成五泄，腸走若雷奔。愚醫不悟，三日黃者乃熱，青利是寒。《太素》曰：五泄有溏泄、　泄、飧泄、濡泄、滑泄也，此乃五泄。五泄者，青是感肝木之象，其色青，赤者，受心火之氣，其色赤，白者，得西方金肺之氣，其色白，黃者，脾土之色，蒼者，土氣之下腎水隨之，其色蒼也。三日蒼曰寒，黃赤熱，其三日非也。</p>
<p>若下利熱極，頻並窘痛，或久不愈，諸藥不能止者，須下之，以開除濕熱痞閉積滯。</p>
<p>而使氣液宣行者，宜以逐之，兼宣利積熱也。</p>
<p><u>益元散</u></p>
<p>　治身熱吐痢，泄瀉腸癖，下痢赤白，癃閉淋痛。利小便，偏主石淋。（乃服金石熱藥多，待為砂石，從小便淋出者也。）蕩胃中積聚寒熱，宣積氣，通九竅六腑，生津液，去留結，消蓄水，止渴寬中，除煩熱心躁，腹脹痛悶。補益五臟，大養脾腎之氣，（此腎水之藏，非為主之府也。）理內傷陰痿，安魂定魄，補五勞七傷，一切虛損。主癇　驚悸（其季切，心動貌。）</p>
<p>健忘，止煩滿短氣，藏傷咳嗽，飲食不下，肌肉疼痛，並口瘡，牙齒疳蝕。明耳目，壯筋骨，通經脈，和血氣，消水穀，保元真。解百藥酒食邪毒，耐勞役飢渴，宣熱，僻中外諸邪所傷。</p>
<p>久服強志輕身，注顏延壽，及解中暑傷寒疫癘，飢飽勞損，憂愁思慮恚怒，瘟疫傳染，並汗後遺熱勞復諸疾。並解兩感傷寒，能令遍身結滯宣通，氣和而愈，及婦人下乳催生，產後損氣血衰，陰虛熱甚，一切熱證，兼吹奶乳癰。此神驗之仙藥也。唯孕婦不宜服，滑胎也。</p>
<p>砂仁　滑石（各二兩）　甘草（炙，四錢）</p>
<p>上為末，每服二錢，蜜少許，溫水調下，無蜜亦得。日三服。欲冷凍飲料者，新汲水調下。</p>
<p>解利傷寒發熱，蔥白豆豉湯調下四錢。（每服水二盞，蔥白五寸，豆豉五十粒，煮取汁一盞調下。）並三服，效為度。</p>
<p>此藥是寒涼解散鬱熱，若病甚不解，多服此藥無害，但有益而無損。俗惡性寒，兼易得之賤物，而不明《素問》造化之理，故不取《本草》神驗之言，而多不用焉。若以隨證驗之，乃凡人之仙藥也，不可闕之。</p>
<p>傷寒當汗而不可下，當下而不可汗者，且如誤服此藥，則汗出自愈，裡熱便得宣通而愈，或半在裡、半在表，可和解而不可發汗吐下者，若服上藥多愈，亦獲小效。是解散怫鬱，邪熱甚者，小加減涼膈散和解為佳。或人不當汗者，加蒼朮末二分，同蔥白、豉同煎湯調服，甚良。或孕婦不宜服，以滑石、麻黃、桂枝，要發汗，當即用甘草一兩、蒼朮二兩，同為末，每服四錢，水一盞半，更加入蔥白五寸、豆豉五十枚，同煎至六分，去滓，溫服，並三服，取微汗為度。逼毒散，非孕婦可服，太白散加入麻黃二兩（去節），如法煎服，世云神白散。或逼毒散與加麻黃（去節）、蒼朮各等分（稱），《濟眾》云青龍散。或青龍散欲更加入滑石與蒼朮二倍，最為發汗之妙藥也。惟正可汗者，即用此服之，則轉加熱也，名為大逼毒散。此解利兩感同，更兼煎涼膈散調下益元散四錢。或下乳，用豬肉面羹或酒之類調下四錢，不計時候，日三服，宜食肉面羹粥。催產，用溫油漿調下三錢，並二三服，以產為度。或死胎不下者，煎三一承氣湯一服，調下五錢，須臾，更頻用溫油漿調服。前後俱下胎，可活產母也。兒難產，或死胎不下者，皆由風熱燥澀，堅斂結滯，不能舒緩，是故產戶不得自然開也，其藥力至，則熱結頓開而產矣，慎不可溫補，而反生燥熱也。俗未知產後損血，日夜疼痛怖懼，以致神狂氣亂，則陰氣損虛，邪熱太甚，而為諸證。由不明《素問》造化，故不識證候陰陽，反以妄謂產後諸虛百損，便為虛冷，而無熱也，誤以熱藥溫補。或見渴甚者，不令飲水，本為善心，為害多矣。豈知治病之道，俱以臨時審其臟腑六氣虛實，明其標本，如法治之而已矣。此藥之常多用雖為效，至大俗以病異藥同，將為妄行，反招侮慢。</p>
<p>今以若加黃丹，令桃仁色，是以名之紅玉散。若加青黛，令輕粉碧色，名碧玉散。若加薄荷葉（末，一分，同研），名雞蘇散。主療並同，但以回避愚俗之妄侮慢耳。</p>
<p><u>玄青丸</u></p>
<p>　治下痢勢惡，頻並窘痛，或久不愈，諸藥不能止，須可下之，以開除濕熱痞悶積滯，而使氣液宣行者，宜以逐之。兼宣利積熱酒食積，黃瘦中滿，水腫腹脹。兼療小兒驚疳積熱乳癖諸證。唯泄瀉者勿服。</p>
<p>黃連　黃柏　大黃　甘遂　芫花（醋拌，炒）　大戟（各半兩）　牽牛（四兩，草末一兩。</p>
<p>以上同為末）　輕粉（二錢）　青黛（二兩）</p>
<p>上為末，洒水為丸，小豆大，初服十丸，每服加十丸，空腹，清晨用酒送下。以快利為度。後常服十五、二十丸，數日後得食。久病未徑除者，再加，取利。利後卻常服，隨意消息，病去為度，後隨證止之，小兒丸如黍米或麻子大，退驚疳熱積不下者，須常服十丸。</p>
<p><u>阿膠梅連丸</u></p>
<p>　治下痢，無問久新赤白青黑疼痛諸證。</p>
<p>金井阿膠（淨草灰炒透明，臼別研，不細者，再炒，研細）　烏梅肉（去核，炒）</p>
<p>黃柏（銼，炒）　黃連　當歸（焙）　赤芍藥　乾薑（炮）　赤茯苓（去皮）。各等分上為末，入阿膠，研勻，水丸，桐子大，溫米飲下十丸，食前，兼夜五六服。小兒丸如綠豆大。忌油膩脂肥諸物也。</p>
<p><u>牛黃神金丸</u></p>
<p>　治大人小兒嘔吐瀉痢，無問新久赤白諸色，或渴或不渴，小便澀或不澀，並小兒驚疳積熱，　癖堅積，腹滿硬痛，作發往來，亦能寬膈消食。</p>
<p>輕粉　粉霜　砂（以上別研）　雄黃（研）　朱砂　信砒　巴豆（去皮。各一錢）</p>
<p>黃丹　蠟（各三錢）</p>
<p>上先研粉霜，次旋入　砂，研細，下雄黃、朱砂、信砒，再研，下丹粉，研勻，別研巴豆爛為油，與前藥研勻，近火上炙，控熱，別研蠟軟，入藥，勻，搓成劑，旋丸小豆大，新汲水下一丸。小兒黍米、麻子大。</p>
<p>或止吐瀉痢疾，調甘露散，（即桂苓甘露飲。）或益元散亦得。</p>
<p><u>芍藥柏皮丸</u></p>
<p>　治一切濕熱惡痢，氣升窘痛，無問膿血，並宜服之。</p>
<p>芍藥　柏皮（各三兩）　當歸　黃連（各半兩）</p>
<p>上為末，水丸，如小豆大，溫水下三四十丸，無時，兼夜五六服。忌油膩脂肥發熱等物。</p>
<p><u>二勝丸</u></p>
<p>　治泄痢虛損，不問新久者。</p>
<p>鹽豉　紫蒜（去皮。各等分）</p>
<p>上同杵為膏，丸如桐子大，每服三丸至九丸，米飲湯下。</p>
<p>如未愈，及赤白痢，腹滿脅痛，更與杏仁丸。</p>
<p><u>杏仁丸</u></p>
<p>　治一切赤白瀉痢，腹痛裡急後重者。</p>
<p>杏仁（四十九個）　巴豆（四十九個，去皮）</p>
<p>上二藥同燒存性，研細如泥，用蠟熔和，旋丸如桐子大，每服一二丸，煎大黃湯下，間日一服。</p>
<p><u>白朮聖散子</u></p>
<p>　治一切瀉痢久不瘥，並婦人產後利亦治。</p>
<p>御米殼（二兩，蜜炒）　當歸　肉豆蔻　縮砂仁　石榴皮　訶子　乾薑（炮）　陳皮（去白）</p>
<p>白朮　甘草　芍藥（各一兩）</p>
<p>上為細末，每服二錢，水一大盞，入乳香同煎，和滓服。</p>
<p><u>勝金膏</u></p>
<p>　治一切瀉痢不已，胃脈浮洪者，反多日不已者。瀉小者，立止。</p>
<p>巴豆皮　楮實（同燒存性）</p>
<p>上為末，熔蠟丸如綠豆大，每服五丸，煎甘草湯下。</p>
<p><u>大聖真金散</u></p>
<p>　治一切寒熱溏瀉，赤白等痢疾。</p>
<p>御米殼（半斤，炒）　甘草（一兩，炙）　乾薑（半兩，炮）　當歸（一兩）　酸石榴皮（一兩，炒）</p>
<p>陳皮（去白）　白茯苓（去皮。各一兩）</p>
<p>上為末，每服二錢，水一盞，（小兒半盞。）乳香同煎至七分，食前。忌油膩生冷毒物等。</p>
<p><u>車前子散</u></p>
<p>（一名斷痢散。）　治一切痢不止。</p>
<p>車前子（不以多少，炒香）</p>
<p>上為末，每服二錢，米飲調下，食前空心。</p>
<p><u>象骨散</u></p>
<p>　治脾胃虛弱，心腹脹滿，水穀不消，噫氣吞酸，食輒嘔吐，霍亂，泄瀉膿血，四肢沉重，臍腹疼痛裡急，夜起頻並，不思飲食，皆可治之。</p>
<p>象骨（四兩，炒）　訶子（取肉，二兩）　肉豆蔻（一兩）　甘草（二兩）　乾薑（半兩）</p>
<p>上為末，每服三錢，水一盞半，煎至八分，和滓熱服，食前，日三服。</p>
<p><u>海蛤玉粉散</u></p>
<p>　治血痢，解臟中積熱毒。</p>
<p>海蛤（不以多少）</p>
<p>上為末，每服二錢，入蜜少許，冷水調下，不計時候。</p>
<h2>卷十一</h2>
<h3>婦人門</h3>
<h4>婦人總論</h4>
<p>《素問》曰：目得血而能視，耳得血而能聽，指得血而能攝，掌得血而能握，足得血而能步，臟得血而能液，腑得血而能氣。然血所通流，則氣亦然也，血氣宣行其中，神自清利，而應機能用矣。故《素問》：氣血，人之神也，不可不謹調護。</p>
<p>然婦人以血藏為基本也。婦人之病，手太陽、足少陰。小腸，心之經絡為表裡，起自任沖之脈，於中極之下，以上毛際，循腹裡關元，上至咽喉頤，循面目，過帶脈，貫臍而止。</p>
<p>以婦人月水，一月一來如期，謂之月信。其不來，則風熱傷於經血，故血在內不通。或內受邪熱，脾胃虛損，不能飲食。食既不克，營衛凝澀，肌膚黃燥，面不光澤。或大腸虛，變為下利，流入關元，致絕子嗣。為子藏虛冷勞損，而病帶下，起於胞內。</p>
<p>夫帶下之造化，但分經絡，標本殊異，為病之本氣也。其病所發，正在過帶脈之分，而淋漓以下，故曰帶下也。赤白之說者，無實已。法曰：頭目昏眩，口苦舌乾，咽喉不利，小便赤色，大便滯澀，皆熱證也。凡白帶下者，亦多有之，為病寒豈能。《素問》：亢則害，承乃制，謂亢過極而反兼勝己之化，制其甚也。則如火煉金，熱極則反化為水，及六月熱極，則物反出液而濕潤，材木流津。故肝熱則泣，心熱則汗，脾熱則涎，肺熱則涕，腎熱則唾。</p>
<p>大凡俗論，以煎熱湯，煮極則沸溢，及熱氣裡蒸於物，而生津液也。故下部任脈濕熱甚者，津溢涌，而溢以為帶下。見俗醫白帶下者，但依方論，而用辛熱之藥。雖有誤中，致令郁結熱聚，不能宣通，舊病轉加。世傳誤之久矣。</p>
<p><u>人參白朮散</u></p>
<p>　治遍身燥濕相摶，玄府致密，遂令忪悸發渴，飲食減少，不為肌膚。</p>
<p>人參（三錢）　白朮（七錢）　薄荷（半兩）　縮砂仁（三錢）　生地黃　茯苓（去皮）　甘草（各半兩）</p>
<p>黃芩（一錢）　滑石（三兩）　藿香（三錢半）　石膏（一兩）</p>
<p>上為末，每服三錢，水一盞，煎至六分，去滓，溫服，食前，日進二三服。</p>
<p><u>白朮湯</u></p>
<p>　治妊娠血液虛衰，痿弱難以運動，氣滯痹麻，營衛不能通宣，常服養液潤燥，開通結滯，令血昌盛。</p>
<p>白朮（三兩）　寒水石　當歸　黃芩　芍藥　人參　石膏　干葛　防風　縮砂仁　川芎甘草　茯苓（各一兩）　木香（一分）</p>
<p>崔宣武方用白朮一兩。</p>
<p>上為末，每服三錢，水一盞，生薑三片，同煎至六分，去滓，溫服，食前，日三服。</p>
<p><u>二氣湯</u></p>
<p>　治月水不調，斷絕不產，面黃肌瘦，　，不美食。燥熱，以柴胡飲子相參服之。</p>
<p>大黃（四兩，別為末，醋一升，慢火熬成膏子）　當歸（二兩）　白芍藥（二兩）</p>
<p>上為末，以膏子和丸，如桐子大，每服二十丸，淡醋湯下，食前，日進三服。如月水不通，加入乾漆三錢（炒出大煙）、沒藥半兩、KT　砂三錢（研）、官桂二錢、斑蝥三錢（去翅足，炒熟用。《本草》云：此用熬，不可生用，則吐瀉）。</p>
<p><u>當歸龍骨丸</u></p>
<p>　治月事失常，經水過多，及帶下淋漓，無問久新赤白諸證，並產後惡物不止，或孕婦惡露，胎痛動不安，及大人子兒痢瀉，並宜用之。</p>
<p>當歸　芍藥　黃連　染槐子　艾葉（炒。各半兩）　龍骨　黃柏（各一兩）　茯苓（半兩）</p>
<p>木香（一分）</p>
<p>上為末，滴水為丸，如小豆大，溫米飲下三四十丸，食前，日三四服。</p>
<p><u>當歸人參散</u></p>
<p>　治產後虛損痿弱，難以運動，疼痛胸滿，不思飲食。</p>
<p>當歸　白朮　黃芩　芍藥　大黃　茯苓（去皮）　陳皮（各半兩）　人參　黃　（銼）</p>
<p>川芎　厚朴（去皮，薑製）　官桂（各三錢）　甘草（一兩）　枳殼（四錢，去穰，炒）</p>
<p>上為末，每服三錢，水一盞，生薑三片，煎至六分，去滓，不計時候，溫服。</p>
<p>如大便秘，以此散下和中丸。</p>
<p><u>增損四物湯</u></p>
<p>　治月水不調，心腹疼痛。補血藏，溫經注顏。</p>
<p>川芎　當歸　芍藥　熟地黃　白朮　牡丹皮（各半兩）　地骨皮（一兩）</p>
<p>上為末，每服五錢，水一盞，煎至六分，去滓，溫服，食前。</p>
<p><u>當歸川芎散</u></p>
<p>　治風壅頭目，昏眩痛悶，筋脈拘卷，肢體麻痹，保護胎氣，調和營衛。</p>
<p>當歸　川芎（各半兩）　甘草（二兩）　黃芩（四兩）　薄荷（一兩）　縮砂仁（一分）</p>
<p>上為末，溫水調下一錢，漸加至二錢，食後，日進三服。</p>
<p><u>辰砂大紅丸</u></p>
<p>　治產後寒熱運悶，血氣塊硬，疼痛不止。</p>
<p>朱砂（一兩，一半入藥，一半為衣）　附子（炮）　沒藥（半兩）　海馬（半錢）　乳香蓯蓉　肉桂　玄胡　薑黃　砂（各半兩）　斑蝥（一分）　生地黃（一兩）</p>
<p>上為末，酒煮，面糊為九，酸棗大，每服一丸，煎當歸、酒下，放溫。經水不行，煎紅花、酒下。</p>
<p><u>三聖散</u></p>
<p>　治產後血利不止。</p>
<p>烏魚骨（炒）　燒綿灰　血余炭（汗脂者。各等分）</p>
<p>上為細末，每服一錢，煎石榴皮湯調下，熱服。</p>
<p><u>沒藥丹</u></p>
<p>　治產後惡血不下，月候不行，血刺腰腹急痛，或一切腸垢沉積，堅滿痞痛，作發往來，或燥熱煩渴，喘急悶亂，肢體痛倦，大小人心腹暴痛。孕婦自利惡物過多。不宜服燥熱極甚，血液衰竭，不可強行。宜調氣養血。細詳證用。</p>
<p>沒藥（一錢）　當歸　大黃（各一兩）　牽牛（二兩）　輕粉（一錢半）　官桂（六分。</p>
<p>以上同研末）　砂（一錢，同研）</p>
<p>上研勻，醋、面糊為丸，如小豆大，每服五丸至十丸，溫水下。以快利取積病下為度。雖利後，病未痊者，後再加，取利止。心腹急痛，煎乳香下。未止，取大便利。</p>
<p><u>黃藥子散</u></p>
<p>　治月事不止，煩渴悶亂，心腹急痛，肢體困倦，不美飲食。</p>
<p>黃藥子　當歸　芍藥　生地黃　黃芩　人參　白朮　知母　石膏（各一兩）　川芎桔梗（各一分）　甘草（一兩）　紫菀　槐花子　柴胡（各一分）</p>
<p>上為粗末，炒三錢，水一盞，煎至七分，濾汁，溫服，食前，但一服。</p>
<p><u>大延胡索散</u></p>
<p>　治婦人經病，並產後腹痛，或腹滿喘悶，或　瘕癖塊，及一切心腹暴痛。</p>
<p>延胡索　當歸　赤芍藥　荊三棱　川楝子　蓬莪朮　官桂　厚朴　木香　川芎（各一分）</p>
<p>桔梗　黃芩　大黃（各半兩）　甘草（一兩）　檳榔（一錢）</p>
<p>上為末，每服三錢，水一盞，煎至六分，去滓，熱服，食前，日三服。惡物過多，去大黃、官桂，加入黃藥子、染槐子、龍骨各半兩，如前法。或平人心胃急痛。加本方，煎服，得利尤好。</p>
<p><u>枳實檳榔丸</u></p>
<p>　安養胎氣，調和經候，治　瘕痞塊，有似妊孕，可以久服，血氣通和。兼寬膈美食。</p>
<p>枳實　檳榔　黃連　黃柏　黃芩　當歸　阿膠（灰炒，細研）　木香（各半兩）</p>
<p>上為末，水和丸，如小豆大，溫米飲下三十丸，不計時候，日進三服。</p>
<p><u>軟金花丸</u></p>
<p>　治心胸腰腹急痛或淋　，並產前後經痛刺痛，乾嘔氣勞，往來寒熱，四肢困倦，夜多盜汗者，兼治血積食積。</p>
<p>當歸（半兩，焙）　乾漆（二錢半）　輕粉　斑蝥（生，全用，為末）　砂　粉霜（各一錢）</p>
<p>巴豆（二錢，去油）</p>
<p>右為末，同研細，棗肉為膏，旋丸如綠豆大，每服一丸，新汲水下。病甚者加服。看虛實加減。</p>
<p><u>大紅花丸</u></p>
<p>　治婦人血塊，積聚　瘕，經絡阻滯。</p>
<p>川大黃　紅花（各二兩）　虻蟲（十個，去翅足）</p>
<p>上取大黃七錢，醋熬成膏，和藥，丸如桐子大，每服五七丸，溫酒下，食後，日三服。</p>
<p><u>黃芩湯</u></p>
<p>　治婦人孕胎不安。</p>
<p>白朮　黃芩（各等分）</p>
<p>上為末，每服三錢，水二盞，當歸一根，同煎至一盞，稍溫服。</p>
<p><u>海蛤丸</u></p>
<p>　治婦人小便濁敗，赤白帶下，五淋，臍腹疼痛，寒熱，口乾舌澀，不思飲食。</p>
<p>海蛤　半夏　芫花（醋炒）　紅娘子（去翅足）　訶子（炒）　玄胡索　川楝子（面裹煨，去皮）</p>
<p>茴香（炒。各一兩）　乳香（三錢）　砂（半兩）　朱砂（半入藥，半為衣）　沒藥（研。各一兩）</p>
<p>當歸（一兩半）</p>
<p>上為末，醋煮、面糊為丸，如小豆大，每服五丸至十丸，醋湯下。量病患虛實加減。</p>
<p><u>烏金散</u></p>
<p>　治婦人諸疾，寒熱頭痛，一切等疾。</p>
<p>烏金子　肉桂　蒲黃　當歸　虻蟲　血余炭　水蛭　鯉魚炭　木香　青皮　皂角（大者，炙。各半兩）　芍藥（半兩）　芫花（三兩，醋製）　巴豆（一錢，出油）　朱砂（少許）</p>
<p>棕皮炭　紅花（各一兩）　川烏頭（半兩）</p>
<p>上為末，每服半錢，加至一錢，煎生薑湯調下，空心食前。忌油膩物。</p>
<p><u>伏龍肝散</u></p>
<p>　治婦人血崩不止，或結作片者。</p>
<p>芎　（一兩）　生地黃（一分）　阿膠（八錢，炙）　當歸（一兩）　續斷（一分）</p>
<p>地榆（一兩）　刺薊根（一兩）　伏龍肝（七錢）　青竹茹（八錢）</p>
<p>上為末，每服三錢，水一盞半，煎至一盞，溫服，日五服，不計時候。後服補藥。</p>
<p><u>阿膠丸</u></p>
<p>　治婦人諸病。</p>
<p>阿膠　鱉甲（各六分）　續斷（五分）　龍骨（一兩半）　芎　（六分）　地膽（四分）　鹿茸（五分）</p>
<p>烏魚骨（八錢）　丹參（六錢）　龜甲（一錢）</p>
<p>上為末，醋、面糊為丸，如桐子大，每服三十丸，艾湯下，日進三四服。</p>
<p><u>麝香杏仁散</u></p>
<p>　治婦人陰瘡。</p>
<p>麝香（少許）　杏仁（不以多少，燒存性）</p>
<p>上為細末，如瘡口深，用小絹袋子二個，盛藥滿，系口，臨上藥炙熱，安在陰內。立愈。</p>
<p><u>朱砂斑蝥丸</u></p>
<p>　治婦人產後吃硬食，變作血氣食塊，無問久新。</p>
<p>皂角末（二錢）　巴豆（四個，去油）　朱砂（一錢）　砂（一皂子大塊）　干蠍（一個，全）　斑蝥（十個）　紅娘子（五個）　水蛭（五個）</p>
<p>右為細末，蜜和丸，分作十五丸，每服一丸至二丸、三丸，溫酒下。初更吃，平明取下血化水，十年之病，皆治之。或大便或小便不多出也。</p>
<h2>卷十二</h2>
<h3>補養門</h3>
<h4>補養總論</h4>
<p>《素問》云：諸寒收引，皆屬於腎。腎者，少陰也，少陰者，至陰也，至者，為極也。</p>
<p>少陰者，冬脈所旺，居北而屬水，為寒，為歸藏，為周密。寒中收引拘縮，寒之用也。其病上下所生水液，澄澈冷清者不濁，其氣寒冷，水穀不消化，吐利清冷，為病則如天氣寒而水自清也。</p>
<p>《素問》云：太陽受寒，血凝為瘦。太陰受寒，氣聚為疝。但脈急而寒之象也，急主於痛，故緊急也。《內經》云：數則為熱，遲則為寒，諸陽為熱，諸陰為寒，脈當遲緩，寒毒內郁，洪數為熱，所養心之脈也。寒氣生清，水清就於濕，故以下利清白，此乃腸胃寒，化物失常。熱則壅澀不通。寒勝則火衰，火衰金旺，吐利腥穢，四肢逆冷，堅痞腹滿，屈伸不便，禁固戰栗，謂陰水主之，舒卷不便，診其脈沉伏而遲，病之證也。若身涼不渴而寒，蜷足而臥，惡聞人聲，不欲言，皆陰證也。</p>
<p>陰陽停則和，偏則病。如陽氣暴絕，陰氣獨勝，則為寒證，陰氣暴絕，陽氣獨勝，則為熱證。經曰：陽勝陰虛，汗之而死，陰勝陽虛，下之而死。若陽實外熱，陰虛內寒，陰實內熱，陰虛外寒，陽實伐其陽，當涼膈散、承氣湯主之，陰實伐其陰，當白朮散、四逆湯主之。</p>
<p>論曰：大凡治病，必求標本。受先者為本，次者為標，此為兼證。故知逆與從，正行無問，知標本者，萬舉萬當，不知標本者，是謂妄行也。本病相傳，先治其急。六氣為本，三陰三陽為標，故病氣為本，受病經絡臟腑謂之標也。</p>
<p><u>防風當歸飲子</u></p>
<p>　治脾腎真陰損虛，肝心風熱鬱甚，陽勝陰衰，邪氣上逆，上實下虛，怯弱不耐。或表熱而身熱惡寒，或裡熱而躁熱煩渴，或邪熱半在表半在裡，進退出入不已，而為寒熱往來。或表多則惡寒，裡多則發熱。或表之陽分陽和，正氣與邪相助，並甚於裡，蓄熱極深而外無陽氣，裡熱極甚，陽極似陰而寒戰腹滿煩渴者。或裡之陰分不和，正氣反助邪氣，並甚於表，則躁熱煩渴而汗出也。或邪熱壅塞者，或煩熱痛者，或熱結極甚，陽氣不通，而反覺冷痛。或中外熱鬱，煩躁甚，喜涼畏熱者。或熱極悶塞，不得宣通，陽極似陰，中外喜熱，而反畏寒者。或寒鬱胸中而煩渴，熱極甚而腹滿不消者。或一切風熱壅滯，頭目昏眩，暗風眼黑，偏正頭疼，口乾鼻塞，耳鳴及聾，咽嗌不利。或目赤腫痛，口瘡舌痹。</p>
<p>或上氣痰嗽，心脅郁痞，腸胃燥澀，小便溺淋　。或是皮膚瘙癢，手足麻痹。又或筋脈拘急，肢體倦怠。或渾身肌肉跳動，心忪驚悸。或口眼　斜，語言謇澀。或狂妄昏惑，健忘失志。及或腸胃燥熱怫鬱，而飢不欲食，或濕熱內余，而消穀善飢，然能食而反瘦弱。或誤服燥熱毒藥，及妄食熱物過多，而耗損脾腎，則風熱鬱甚，而多有如此，不必全見也。無問自病及中燥熱毒藥所使者，並宜宣通氣血，調順飲食。久服之舊病除去，新病不生。設虛人常服，補益功驗，自可知矣。</p>
<p>當歸　大黃　柴胡　人參　黃芩　甘草（炙）　芍藥（各一兩）　滑石（六兩）</p>
<p>上停每服三錢至五錢，水一大盞，生薑三片，同煎至七分，去滓，溫服。</p>
<p><u>雙芝丸</u></p>
<p>　補精氣，填骨髓，壯筋骨，助五臟，調六腑。久服注顏不老。</p>
<p>熟乾地黃（焙，取末）　石斛（去根，酒炙）　五味子（焙）　黃　（銼）　肉蓯蓉（酒浸）</p>
<p>牛膝（酒浸）　杜仲（蜜水浸，炮）　菟絲子（酒浸三日，炒）　麋鹿角霜（半斤）　沉香（三錢）　麝香（二錢，研）　人參　白茯苓（去皮）　覆盆子　干山藥　木瓜　天麻（酒浸）　秦艽（以上各一兩）　薏苡仁（二兩，炒）</p>
<p>上為末，煉蜜為丸，如桐子大，每服二十丸至三四十丸，溫酒下，鹽湯、米飲亦可。</p>
<p>凡年五十以上，加入黑附子（以青鹽湯蘸，泡）、鹿角二大對（去頂三指）、硫黃半斤（渾用）。</p>
<p>以上用些油，釜中以水同煮，令微沸，勿太急甚，水耗，只旋添溫水，須用水以備添也。煉令角膠汁出盡，其角如霜，以手捻如膩紛，乃盛之。取用，勿令穢污也。</p>
<p><u>內固丹</u></p>
<p>　補養腎氣，調和脾臟。壽高者常服，筋骨勁健，渾如壯士。</p>
<p>肉蓯蓉（酒浸）　茴香（炒。各一兩）　破故紙　胡蘆巴（炒）　巴戟（去心）　黑附子（炮）</p>
<p>川楝子　胡桃仁（面炒。各四兩）</p>
<p>上為末，研胡桃仁為膏，余藥末和勻，酒、面糊為丸，如桐子大，每服十丸至三十丸，溫酒、鹽湯下，食前。虛者加至五七十丸。</p>
<p>此藥明目補腎烏發，進美食，空心。</p>
<p><u>大補丸</u></p>
<p>　治男子脾腎不足，不問久新者。</p>
<p>陳韭子　揀蘿卜子（以上炒）　蕤仁（去皮。各半兩）　穿山甲（七片，用酒炙）　麝香（少許）</p>
<p>上為細末，煉蜜為丸，如櫻桃大，每服一丸，溫酒送下，食前空心。</p>
<p><u>蛤蚧散</u></p>
<p>　治脾胃氣攻心刺痛者。</p>
<p>蛤蚧（一對，酒炙）　乳香　木香　白茯苓（去皮）　丁香　茴香（各一錢）　穿山甲（二錢，酒炙）</p>
<p>上為細末，每服一錢，好溫酒調下，空心食前。</p>
<p><u>金　丹</u></p>
<p>　治男子本臟虛冷，夜夢鬼交者。</p>
<p>龍骨（水飛）　菟絲子（各一兩）　破故紙　韭子　澤瀉　牡蠣（各半兩）　麝香（少許）</p>
<p>上為末，酒面糊為丸，如桐子大，每服三十丸，溫酒下，空心食前，日三服。</p>
<p><u>調中丸</u></p>
<p>　治脾胃虛，止嘔吐，寬利胸膈。</p>
<p>青皮　紅皮（各一兩）　大黃（二兩）　牽牛（三兩）</p>
<p>上為細末，滴水和丸，如桐子大，每服三二十丸，溫水下，空心食前。</p>
<p><u>水中金丹</u></p>
<p>　治元臟氣虛不足，夢寐陰人，走失精氣。</p>
<p>陽起石（研）　木香　乳香（研）　青鹽（各二分）　茴香（炒）　骨碎補（炒）　杜仲（去皮，生薑汁炙絲盡。各半兩）　白龍骨（一兩，緊者，捶碎，絹袋盛，大豆蒸熟，取出，焙乾）　黃犬腎（一對，酒一升，煮熟，切作片子，焙，入白茯苓一兩，與腎為末）</p>
<p>上為細末，酒、面糊和丸，如皂子大，每服二丸，溫酒下，空心。忌房室。</p>
<p><u>和氣地黃湯</u></p>
<p>　治沉積氣結不散，調養營衛，補順陰陽。常服以代湯茶酒果。</p>
<p>木香（一字）　揀桂（去皮）　茯苓（去皮）　白芥子（炒香。各一錢）　白朮　干山藥　川芎當歸（焙。各一分）　桂花　縮砂仁（各半錢）　甘草（半兩，炙）</p>
<p>上為細末，入麝香少許，研勻，用數重油紙或瓷器內密封起。每用，蜜二斤、餳飴一斤，溫好甜水五升，化勻開，抄前藥，並杏仁十枚、（去皮尖，洗淨，炒香焦，捶碎）濕地黃根長約寸許，（切，取汁半盞）　溫服。</p>
<p><u>白朮調中湯</u></p>
<p>　治中寒，痞悶急痛，寒濕相搏，吐瀉腹痛，上下所出水液，澄澈清冷，穀不化，小便清白不澀，身涼不渴，本末不經有見陽熱證，其脈遲者是也。此因飲食冷物過多，陰勝陽衰，而為寒也。或冷熱相擊，而反陽氣怫鬱，不能宣散，怫熱內作，以成熱證者，不可亦言為冷。當以脈證別之。夫濕熱吐瀉，常見陽脈，若亡液氣虛，亦能反見諸陰脈也，當以標本之不同別之。或熱證誤服此白朮調中湯，溫藥也能開發，陽氣宣通而愈，別無加害。無問久新，並宜服之。或有口瘡目疾孕婦等吐瀉者，以畏乾薑、官桂，不服。</p>
<p>白朮　茯苓（去皮）　紅皮（去白）　澤瀉（各半兩）　乾薑（炮）　官桂（去皮）　縮砂仁藿香（各一分）　甘草（一兩）</p>
<p>上為末，白湯化蜜少許，調下三錢，每日三服。</p>
<p>煉蜜和就，每兩作十丸，名白朮調中丸。小兒一服分三服。</p>
<p><u>人參白朮散</u></p>
<p>　此方證同調中湯。</p>
<p>人參　白朮　茯苓　甘草　橘皮　葛根　澤瀉　滑石　霍香（各等分）</p>
<p>上為末，每服三錢，水一盞，煎至六分，溫服。妊婦加蒼朮三五片，熱服。</p>
<p><u>白朮散</u></p>
<p>　治傷寒下後余熱，以藥下之太過，胃中虛熱，飲水無力也。當生胃中津液，多服此藥。</p>
<p>人參　白朮　木香　白茯苓　甘草（銼，炙）　藿香葉　干葛（銼。各一兩）</p>
<p>上為末，每服一錢至二錢，水一盞，煎至五分，溫服。如飲水者，多煎與之，無時也。</p>
<p><u>丁香附子散</u></p>
<p>　治脾胃虛弱，胸膈痞結，吐逆不止。</p>
<p>附子（一兩）　母丁香（四十九個）　生薑（半斤，取自然汁半碗）</p>
<p>上用附子　孔四十九，以丁香HT　上而填內，將生薑汁用文武火熬盡，又用大蘿卜一個，取一穴子，入附子，又填內，將蘿卜蓋之，又用文武桑柴火燒，香熟為度。取出，切附子作片子，焙乾，搗為細末。每服一錢，米湯一盞調下，日進三服。</p>
<p><u>何首烏丸</u></p>
<p>　治男子元臟虛損，填精，發白再黑。</p>
<p>何首烏（半斤）　肉蓯蓉（六兩）　牛膝（四兩）</p>
<p>上將何首烏半斤，用棗一層隔何首烏，甑內蒸棗軟用，切、焙，同為末，棗肉和丸，如桐子大，每服五七丸，嚼馬楝子服，酒送，食前，一服加一丸，日三服。至四十丸即止，卻減丸數。效如神，妙！</p>
<p><u>煨腎丸</u></p>
<p>　治男子腰膝痛，夜多小便者。</p>
<p>川楝子　馬楝花　破故紙　胡蘆巴　茴香（炒。各等分）</p>
<p>上除茴香外，四味酒浸，同為末，煮面糊為丸，如桐子大，每服十丸至二十丸，溫酒下，空心食前。</p>
<p><u>神仙楮實丸</u></p>
<p>　治積冷氣衝心胸及背，有蛔蟲疼痛，痔　癖氣塊，心腹脹滿，兩肋氣急，食不消化，上逆氣奔於心，並疝氣下墜，飲食不得，吐水嘔逆，上氣咳嗽，眼花少力，心虛健忘，冷風遍風等疾。坐則思睡，起則頭眩，男子冷氣，腰痛膝痛，冷痹風頑，陰汗盜汗，夜多小便，泄利，陽道衰弱，婦人月水不通，小便冷痛，赤白帶下，一切冷疾，無問大小。能明目，益力輕身，補髓益精。</p>
<p>楮實子（一升，涮去泥，微炒）　官桂（四兩，去皮）　牛膝（半斤，酒浸三日）</p>
<p>乾薑（三兩，炮）</p>
<p>上為末，酒、面糊為丸，如桐子大，每服二十丸，溫酒，空心食前，鹽湯亦得。</p>
<p><u>補中丸</u></p>
<p>　治一切氣疾，肚腹涼痛，嘔吐氣逆，不思飲食者。</p>
<p>厚朴（生薑炙香）　乾薑（炮）　源木　白茯苓（去皮）　人參　甘草（炙用。各等分）</p>
<p>上為末，煉蜜為丸，如櫻桃大，每服一丸，空心，白湯化下，細嚼亦得。</p>
<p><u>蓽澄茄丸</u></p>
<p>　治中焦痞塞，氣逆上攻，心腹　痛，吐逆。美飲食。</p>
<p>蓽澄茄（半兩）　良薑（二兩）　神麯（炒）　青皮（去白）　官桂（去皮。各一兩）</p>
<p>阿魏（半兩，醋面裹，煨熟）</p>
<p>上為末，醋面糊為丸，如桐子大，每服二十丸，生薑湯下，不計時候。</p>
<h2>卷十三</h2>
<h3>諸痛門</h3>
<h4>諸痛總論</h4>
<p>夫痛者，經脈流行不止，環周不休，寒氣入經而稽遲，血泣凝而不行，客於脈外血少，客於脈中氣不通，故卒然而痛。其痛或卒然而止，或痛甚而不休，或痛甚不可按，或按之而痛止，或按之而無益，或痛喘動應手，或心與背相引而痛，或脅肋相引而痛，或腹痛引陰股，或痛宿昔而成積，或卒然而痛，死不知人，而少間復生，或痛而閉不通者，諸痛各不同形。</p>
<p>經曰：寒氣客於脈外則脈寒，脈寒則蜷縮，蜷縮則脈絀（音督）。急，脈絀急則外引小絡，衛氣不得流通，故卒然而痛，得熱則痛止。寒氣客於經脈之中，與炅氣相薄則脈滿，滿則血氣亂，故痛而不可按。寒氣客於腸胃之間，膜原之下，血不得散，小絡急引，故痛。按之血氣散，痛乃止也。脅肋痛者，寒氣客於厥陰之脈也。背與心相引痛者，寒氣客於背俞之脈，注於心，相引痛。寒氣客於陰股，血泣在小腹，相引痛。卒然痛死者，寒氣客於五臟，厥逆上壅，陰氣竭，陽氣未入，故卒然痛死。氣復反則生矣。</p>
<p>視其五色，黃赤為熱，白青則為寒，青黑為痛。經曰：感虛則陷下，其留於肋骨之間，寒多則筋攣骨痛，熱則筋弛肉消。但痛癢瘡瘍癰痛腫而聚者，皆屬心火熱也，不可一例傷寒。</p>
<p>凡治痛者，先察本，次明經絡皮部虛實，用藥無誤矣。</p>
<p><u>辰砂一粒丹</u></p>
<p>　治一切厥心痛，小腸膀胱痛不可止者。</p>
<p>附子（一兩，炮）　鬱金　橘紅（等附子，停用）</p>
<p>上為末，醋面糊為丸，如酸棗大，以朱砂為衣，每服一丸，男子酒下，婦人醋湯下。</p>
<p>服罷又服散子。</p>
<p><u>神聖代針散</u></p>
<p>　治一切心痛不可忍者，心驚欲死者，小腸氣搐得如角弓，膀胱腫硬，一切氣刺虛痛，並婦人血癖、血迷、血暈、血刺、血衝心，胎衣不下，難產。但一切痛疾，服之大有神效。只是要詳疾證用藥。</p>
<p>乳香　沒藥　當歸　香白芷　川芎（各半兩）　元青（一兩，去翅足）</p>
<p>上為細末，更研，每服一字，病甚者半錢，先點好茶一盞，次摻藥末在茶上，不得吹攪，立地細細急呷之。</p>
<p><u>茴香丸</u></p>
<p>　治男子婦人臍腹疼痛刺胸膈，不止者。</p>
<p>茴香（炒）　良薑　官桂（各半兩）　蒼朮（一兩，米泔浸）</p>
<p>上為末，酒煮面糊和丸，如桐子大，每服十丸，生薑湯下。</p>
<p><u>趁痛丸</u></p>
<p>　治一切走注疼痛，婦人經脈住滯，水腫腹脹。</p>
<p>甘遂　大戟　芫花　黃牽牛（各等分）</p>
<p>上為末，以蕎面同末和作餅子，扦，切為棋子，煮熟服之，得利為度，每服一錢。</p>
<p>加減相虛實。</p>
<p><u>六合散</u></p>
<p>　治一切燥結，汗後余熱，宣轉不通。（亦名金鑰匙散。）並治小腸氣結，心腹滿，胸中結痞，走疰疼痛。</p>
<p>大黃（一兩，紙裹煨）　白牽牛（半兩，生）　黑牽牛（微炒）　甘遂（各半兩）</p>
<p>檳榔（三錢，生）　輕粉（一錢）</p>
<p>上為細末，每服一錢，蜜水調下服。量虛實加減。</p>
<p><u>定痛丸</u></p>
<p>　治打撲損傷，筋骨疼痛等。</p>
<p>乳香（一分）　川椒　當歸　沒藥　赤芍藥　川芎　自然銅　蒴　根（以上各半兩）</p>
<p>上為末，熔蠟為丸，如彈子大，細嚼，酒下一丸。骨碎者，先用竹夾夾定，三五日，依舊小可與服。如打撲骨損者，先整骨定，用竹夾夾定，然後先用好酒下麻黃三錢，然後服藥。</p>
<p><u>香殼散</u></p>
<p>　治小腸氣，臍腹攪痛急，陰股中疼悶，不省人事。</p>
<p>舶上茴香（用鹽炒）　枳殼（各一兩）　沒藥（半兩）</p>
<p>上為末，每服一錢，溫熱酒下，不計時候，並二三服。</p>
<p><u>金針丸</u></p>
<p>（亦名陸神丸。）　治陽絕痞氣，心腹痛不可忍者。</p>
<p>丁香　木香　乳香　阿魏　輕粉　骨碎補（去毛）　檳榔　官桂　桂心　巴豆（去皮）</p>
<p>杏仁（去皮）　鍛石末　肉豆蔻　陽起石　朱砂（各等分）</p>
<p>上為細末，水面糊為丸，如小豆大，每服一丸，針穿作孔子，小油內滾過，燈焰內燎遍，於油中蘸死，嚼，生薑湯下，不計時候，日三服。虛實加減。</p>
<p><u>一粒金丹</u></p>
<p>　治腰膝走注疼痛如虎嚙。</p>
<p>草烏頭　五靈脂（各一斤）　木鱉子（四兩）　白膠香（半斤）　地龍（四兩，去土，炒）</p>
<p>細墨（一兩）　乳香（一兩）　當歸（二兩，焙）　沒藥（二兩）　麝香（一錢）</p>
<p>上為末，再研一千下，糯米面糊和丸，每服一丸至二丸，溫酒下。吃藥罷，遍身微汗。</p>
<p>神驗！</p>
<p><u>沒藥散</u></p>
<p>　治一切心腹疼痛不可忍者。</p>
<p>沒藥（乳香別研）　乳香（各三錢）　穿山甲（三錢，炙）　木鱉子（四錢）</p>
<p>上為細末，每服半錢、一錢，酒大半盞，同煎，溫服，不計時候。</p>
<h3>痔門</h3>
<h4>痔總論</h4>
<p>夫腸風痔病者，所發手太陰、陽明經以應。經脈謂：肺與大腸為表裡，主為傳道，以行糟粕。腸風痔病有五種，其證亦異。蓋因腸氣虛而玄府疏，風邪乘而熱自生。風溫邪熱，攻於腸中，致使大便澀而燥熱鬱，血熱散而流溢沖，浸浚腸裡，故以先血後便。熱在下，先便後血，熱在上，先血後便。久而不愈，乃作痔。</p>
<p>《素問》云：因而飽食，筋脈橫解，房室勞傷，腸癖為痔。風熱不散，穀氣流溢，傳於下部，故令肛門腫滿，結如梅李核。甚者而變成　也。</p>
<p>五臟切宜保養，勿令受邪。</p>
<p><u>香殼丸</u></p>
<p>　治濕熱內甚，因而飽食，腸癖成痔，久而成　者，服之悉愈。</p>
<p>木香　黃柏（各三錢）　枳殼（去穰，炒）　厚朴（各半兩）　黃連（一兩）　皮（一個，燒）　當歸（四錢）　荊芥穗（三錢）</p>
<p>上為末，面糊為丸，如桐子大，每服二三十丸，溫水，食前，日三服。</p>
<p><u>　藤子丸</u></p>
<p>　治腸風瀉血，濕熱內甚，因為諸痔，久而不治，乃變成　。</p>
<p>黃　枳實　槐花　荊芥穗　鳳眼草（以上各一兩）　藤子（一對，炙）　皂子（三百個，炙）</p>
<p>上為細末，面糊為丸，如桐子大，每服二三十丸，空心，酒下，米飲亦得。忌油膩、冷、豬、魚、臭血物等。</p>
<p><u>烏荊丸</u></p>
<p>　治腸風痔疾，大腸　澀。</p>
<p>川烏頭（二兩，炮）　荊芥穗（四兩）</p>
<p>上為末，醋面糊為丸，如桐子大，每服二三十丸，溫水下，日三服。</p>
<p><u>黃　葛花丸</u></p>
<p>　治腸中久積熱，痔　下血疼痛。</p>
<p>黃　葛花　黃赤小豆花（各一兩）　大黃　赤芍藥　黃芩　當歸（各三分）　皮（一個）</p>
<p>檳榔　白蒺藜　皂角子仁（炒。各半兩）　生地黃（焙，一兩）</p>
<p>上為末，煉蜜和丸，如桐子大，每服二十丸至三十丸，煎桑白皮湯下，食前，槐子煎湯下亦得。</p>
<p><u>黃連散</u></p>
<p>　治腸風下血，疼痛不止。</p>
<p>雞冠花　黃連　貫眾　川大黃　烏梅（各一兩）　甘草（三分，炙）</p>
<p>上為末，每服二錢，用溫米飲調下，日三服，不計時候。</p>
<p><u>乳香沒藥散</u></p>
<p>　治五種腸風痔　，無問久新。</p>
<p>宣黃連　白礬（各一兩）　穀精草（半兩）　酸石榴（一個，用刀子割下蓋子，裡面取子三停一停，次將黃連、白礬碎納入石榴內，用原蓋子合用。）</p>
<p>上以濕紙一張裹石榴，裹了後用膠泥拍作餅子，以炭火燒通赤為度，取出，去泥紙，後將穀精草於銚子內炒焦黃為度，與石榴研細後，抄藥末一錢、乳香一錢、沒藥一錢，研細，拌勻，每服一錢，酒小半盞調下，日三服。</p>
<p><u>木香厚朴湯</u></p>
<p>　治痔　脫肛，腸胃間冷，腹脅虛脹，不思飲食。</p>
<p>木香　桂心　桃仁　陳皮　厚朴（各一兩）　肉豆蔻　赤石脂（各半兩）　皂角子（三兩，去皮，於醋炙黃）　大附子（三分，炮）</p>
<p>上為末，每服二錢，溫粥飲調下，食前。</p>
<h3>瘧疾門</h3>
<h4>瘧疾總論</h4>
<p>《素問》云：　瘧皆生於風，其蓄作有時，何氣使然？夫陰陽上下交爭，虛實相移也。</p>
<p>陽並於陰，陰實陽虛，寒栗鼓頷。此皆夏傷於暑，熱氣藏於皮膚之內，腸胃之外。腠理開，得秋氣，汗出遇風，得之與衛氣並。衛氣晝行陽，夜行陰，氣得陽外出，得陰內薄，外內相薄，是以日作也。其有間日者，氣深，內薄於陰，陽氣獨發，陰邪內著，陰與陽爭不得出，是以間日作也。其作晏與早者，邪氣客於風府，循膂而下，衛氣一日一夜大會於風府，其日下一節，先客於脊背，每至風府則腠理開，腠理開則邪氣入，則病作晏也。</p>
<p>夫寒者陰氣也，熱者陽氣也，先傷寒而後傷風，故先寒而後熱，名曰寒瘧。先傷於風，後傷寒，故先熱而後寒，名曰溫瘧。其但熱而不寒者，陰氣先絕，陽氣獨勝，少氣煩冤，手足熱，欲嘔，名曰痹瘧。</p>
<p>有餘則瀉，不足補。熱為有餘，寒為不足。寒已得火不能溫，熱已冰水不能涼。陰勝並於陽，陽勝並於陰，陰勝則寒，陽勝則熱。故瘧者，陰陽風寒虛實邪氣不常之所作也。</p>
<p><u>辟邪丹</u></p>
<p>　治嵐瘴鬼瘧食瘧並月頻日者。</p>
<p>綠豆　雄黑豆（各四十九粒）　信砒（半錢，別研）　黃丹（一錢，為衣）　朱砂（二錢）</p>
<p>上為末，同入乳缽內，滴水為丸，分作三十粒，每服一粒，已用東南桃心，取七枝，研汁，將井花水早辰日出不出，向日吞之，醋湯亦得。已發日服。</p>
<p><u>斬邪丹</u></p>
<p>　治諸般瘧疾無時不止者。</p>
<p>綠豆　小豆（各三十粒，口退皮再入）　朱砂　信砒（各一錢）</p>
<p>上為末，同研細，滴水和丸，勻分作十丸，每服一丸，已早辰服，夜間於北斗下香水獻至早晨，用新倒流水送下。</p>
<p><u>斷魔如聖丹</u></p>
<p>　治瘧疾，不問久新。</p>
<p>信砒（一錢）　蜘蛛（大者三個）　雄黑豆（四十九粒）</p>
<p>上為末，滴水和丸，如豌豆大，如來日發，於今晚夜北斗下獻於早晨，已紙裹，於耳內扎一丸。</p>
<p>立見愈，神聖！一粒可醫三人。</p>
<p><u>辰砂丸</u></p>
<p>　治一切脾胃虛，瘧邪熱毒者。</p>
<p>信砒　甘草（各一錢）　朱砂（三錢）　大豆（四十九粒）</p>
<p>上為末，滴水和丸，勻分作四十丸服，發日早晨日欲出，煎桃心湯下。忌熱物。</p>
<p><u>瘧神丹</u></p>
<p>　治諸般瘧疾。</p>
<p>信砒（一兩）　雄黃（一錢）</p>
<p>上以於五月重五日，用棕子尖拌勻，研三千下，日未出，不令雞、犬、婦人見，丸如桐子大，未發前一日面東冷水下一丸。</p>
<p><u>趁鬼丹</u></p>
<p>　治一切瘧疾。神效！信砒（一錢）　大豆（七錢）　雄黃　輕粉　荷葉（各半錢）　甘草（一寸）</p>
<p>上為末，滴水為丸，如小豆大，重午日未出，不見雞、犬、婦人修合，每服一丸，無根水下，平日夜視北斗，來日服。忌熱物。</p>
<h2>卷十四</h2>
<h3>眼目門</h3>
<h4>眼目總論</h4>
<p>《素問》云：目得血而能視，手得血而能握，其證足厥陰之經絡所主。肝臟受虛而即補腎，實而即瀉心。</p>
<p>夫人之眼目者，似天地之日月也。若人無雙目，豈能辨別賢愚，天無日月，萬物安得照耀。是故眼通五臟，氣貫五輪，外應肝候。肝藏虛而風邪鬱，風邪鬱而熱蘊沖，火炎上行，故攻目，目昏滲澀，疼痛赤絲皆發。營衛實則能視，營衛虛則昏暗。凡人餐熱物，或嗜五辛，坐濕當風，凌寒冒暑，將息失度，皆喪目之源也。</p>
<p><u>黃連膏</u></p>
<p>　治一切眼目痛，瘀肉攀睛，風癢淚落不止。</p>
<p>朴硝（一斗，以水半斗，淘淨去土，陰乾用）　黃連（半斤）　白丁香（五升，以水一斗，淘淨去土，攪細用）</p>
<p>上取水，入硝、香，釜內熬至七分，淘出，令經宿，水面浮牙者，取出，控干，以紙袋子盛，風中懸至風化，將黃連細末熬清汁，晒乾，稍用豬羊膽和，加蜜妙，點之妙矣。</p>
<p><u>滌昏膏</u></p>
<p>　治一切風眼疼痛，不可忍者，洗之妙矣。</p>
<p>好崖蜜（一斤）　黃連（一兩）　沒藥（半兩）　黃丹（一兩，炮紫色）</p>
<p>上入蜜，同熬黑，煎黃連成稠汁、黃丹入藥內，煎熬稠，更入沒藥末，同熬數沸，濾去滓，洗。甚妙！後更用通天散　鼻。</p>
<p><u>通天散</u></p>
<p>　治偏正頭疼並腦風，通一切壅滯，明目。</p>
<p>赤芍藥　川芎　黃連　黃芩　玄胡索　草烏頭　當歸　乳香（別研，各等分）</p>
<p>上為細末，每服少許，紙捻子蘸藥，任之鼻　。神效！</p>
<p><u>神芎散</u></p>
<p>　治風熱上攻，頭目眩痛，上壅鼻塞眼昏，並牙齒悶痛。</p>
<p>川芎　鬱金（各二錢）　荊芥穗（一分）　薄荷葉（一分）　盆硝（二錢）　紅豆（一錢。以上為細末，後入盆硝）</p>
<p>上研勻，鼻內　三兩耳剜。力慢加藥。病甚者，兼夜　之。</p>
<p>凡熱多風少，隨證選用諸藥。</p>
<p><u>金絲膏</u></p>
<p>　治一切目疾，昏暗如紗羅所遮，或疼或痛。</p>
<p>宣黃連（半兩，銼碎，水一盞，浸一宿，取汁，再添水半盞浸滓，經本日許，取汁，與前汁放，別用，水半盞）　蜜（一兩）　白礬（一字）　井鹽（一分。如無，以青鹽代之）</p>
<p>山梔子（二錢，好者，捶碎，與黃連滓同煮五七十沸，取盡力了，濾去滓，與前黃連汁一處，入余藥）</p>
<p>上用銀瓷器內同熬十余沸，用生絹，上細紙數重，再濾過用。時常點。</p>
<p><u>白藥子散</u></p>
<p>　治一切疳眼爛目生翳，眼內外障，赤疾，並小兒吐利疳瀉。</p>
<p>白藥子（一兩）　甘草（半兩）</p>
<p>上為末，用豬肝一葉，批開，糝藥五錢，水一大盞，煮熟，食後服。</p>
<p><u>胡黃連散</u></p>
<p>　治一切久新赤目疼痛，不能坐臥，並大小人口瘡。</p>
<p>胡黃連　檳榔（各半兩）　麝香（少許，別研）</p>
<p>上為細末，研細點之。如口瘡，每服半錢，麝香一字，勻口瘡大小貼之。忌食魚豬油膩物。</p>
<p><u>碧霞丹</u></p>
<p>　點一切惡眼風赤者。</p>
<p>龍腦　麝香　砂（各二錢）　血竭　沒藥　乳香　銅青（各一錢）　鵬砂（三錢）</p>
<p>上為末，滴水和丸，如桐子大，每服一丸，新汲水化開，點之立效。</p>
<p><u>菩薩散</u></p>
<p>　治遠年近日一切眼疾。</p>
<p>菩薩石　金精石　銀金石　太陰石　太陽石　雨余石　河洛石　礬礦石　雲母石　爐甘石井泉石　白滑石　紫英石　寒水石　陽起石　豬牙石　代赭石　碧霞石　烏魚骨　青鹽（各一兩）</p>
<p>砂（半兩）　密陀僧（一兩）　銅青（一兩）　黃丹（四兩）　麝香　腦子（各一錢）　輕粉（一錢半）</p>
<p>硼砂（三錢）　乳香（二錢）　熊膽（一斤）　白砂蜜（二斤）</p>
<p>上為細末，以井花水九大碗，熬就作四碗。點水內落下錢許大不散，可，如散者，再熬。</p>
<p>濾滓，過露，旋點。</p>
<p><u>石膏羌活散</u></p>
<p>　治久患雙目不睹光明，遠年近日，內外氣障風昏暗，拳毛倒睫，一切眼疾。</p>
<p>羌活（治腦熱頭風）　密蒙花（治羞明怕日）　木賊（退翳障）　香白芷（清利頭目）</p>
<p>細辛　干菜子（二味起倒睫）　麻子（起拳毛）　川芎（治頭痛）　蒼朮（明目，暖水藏）</p>
<p>甘菊花　荊芥穗（治目中生瘡）　黃芩（洗心退熱）　石膏（二味）　本（治偏正頭痛）</p>
<p>甘草（解諸藥毒。各等分）</p>
<p>上為末，每服一錢至二錢，食後臨臥，用蜜水一盞調下，或清茶、或淘米第二遍泔亦得，日進三服。至十日漸明，服至二十日大驗。此方醫數十余人矣。</p>
<p><u>重明散</u></p>
<p>　治一切風熱內外障氣眼疾。</p>
<p>川獨活　川羌活　川芎　吳射干　仙靈脾　防風　甘草　井泉石　蒼朮（各半兩）　丹參白朮　石決明（各三錢）</p>
<p>上為末，每服二錢，水一盞半，煎至一盞，溫服，日進二服，食後。</p>
<p><u>雷岩丸</u></p>
<p>　治男子婦人肝經不足，風邪內乘上攻，眼暗淚出，羞明怕日，多見黑花，生障遮睛，瞼生風粟，或癢或痛，隱澀難開，兼久患偏正頭疼，牽引兩目，漸覺細小，視物不明。</p>
<p>皆因腎水不能溉濟於肝木。此藥久服，大補腎臟，添目力。</p>
<p>肉蓯蓉（一兩）　牛膝（一兩）　巴豆（一兩，浸一宿，去皮心）　菊花（二兩）　黑附子（一兩，去皮臍，青鹽二錢，以河水三升，同煮，為度）　枸杞子（二兩）　川椒（三兩，去目）</p>
<p>上為末，元浸藥，酒煮面糊為丸，如桐子大，每服十丸，空心，酒下。世人服藥，不知多少根源，往往不效耳。</p>
<p><u>丁香復光丸</u></p>
<p>　治一切遠近目疾。</p>
<p>丁香（二錢）　巴豆（一錢，去皮油）　半夏（二兩）　烏梅（半兩，去核）　南硼砂（三錢）</p>
<p>腦子（二錢）　盆硝（半兩）　縮砂仁（二錢半）　甘草（半兩）　荊芥穗（二錢）</p>
<p>上為末，醋煮面糊為丸，如綠豆大，每服十丸至十五丸，米泔下，食後，日三服。</p>
<p>以上諸方，系先生親驗，可錄。</p>
<h3>小兒門</h3>
<h4>小兒病總論</h4>
<p>《素問》云：身熱惡寒，戰栗驚惑，皆屬熱證，為少陰君火暴。強直，肢　戾，裡急筋縮也，皆屬風證，為厥陰風木火。</p>
<p>小兒六歲之上，為小兒。十八歲以上，為少年。其六歲以下者，諸經不載，是以乳下嬰兒，有病難治，無可定也。然小兒與大人，不可一例，各異治之。雖小兒誕生，襁褓之後，骨肉脆軟，腸胃細微，可以乳食調和臟腑，乃得平安。肌膚滋潤，筋骨輕嫩，以綿衣之，故生壅滯。內有積熱，熱乘於心，心受邪熱，乃發為驚。驚不止，反為潮搐，則為病也。</p>
<p>大概小兒病者，純陽多熱，冷少，故引《素問》少陰、厥陰證，以小兒病，驚風熱多矣。小兒驚風者，皆由心火暴甚而制金，金不能平木，故風火相搏，而昏冒驚悸潮熱。此證皆謂熱甚而生風，《素問》驚駭驚悸，少陰君火也。</p>
<p>小兒脾疳利瀉者，皆熱甚。急驚，瀉利色多青，為熱證明矣。利色黃者何？為火甚，則水衰而睥土旺，故利色黃也。利色赤紅者，為心火，熱甚深也。利色黑者，為火熱過極，則反兼水化制之，故色黑也。五臟皆言熱證，無寒冷證。亦有謂瀉利小便青白不澀，為寒。</p>
<p>水穀不化而色不變，吐利腥穢，澄澈清冷，白，不澀，身涼不渴，脈遲細而微者，寒證也。</p>
<p>穀雖不化，而色變非白，煩渴，小便赤黃而澀者，為之熱證。世傳大人小兒吐利霍亂，食乳未及消化，而利尚白，便言論為寒證，誤矣。（向不脈候別之。）仲景邪熱不化穀，豈為寒也！大人也同。</p>
<p><u>龍腦地黃膏</u></p>
<p>　治小兒急慢驚風，痰涎上潮心胸，天吊，驚悸，喉風，小兒胸膈不利，一切熱毒，大有神驗。如病不已，與分肢散一二服，吐利得快。常服此藥。</p>
<p>川大黃（別搗）　甘草（橫紋者，別搗）　麝香（一錢，別研）　雄黃（水窟者一分，別研）　生腦子（一錢，別研）</p>
<p>上五味，各修制了，再入缽內，同研細，煉蜜為膏，油單裹，旋丸如皂子大，化下。如有前病，煎薄荷湯下。如小兒大人睡驚及心神恍惚，煎金銀湯下一丸。常服，新汲水下，大解暑毒。如孕婦人常服，新生男女，永無疾病。如有大人陽毒傷寒，加輕粉二匣子、龍腦少許，水化下一丸，杏核大。小兒看年紀大小加減，服立效。</p>
<p><u>分肢散</u></p>
<p>　治小兒卒風，大人口眼　斜，風涎裹心，驚癇天吊，走馬喉痹，急驚，一切風熱等疾。</p>
<p>巴豆（半兩，不出油）　川大黃（一兩）　朴硝（半兩）</p>
<p>上，大黃為末，後入巴豆、朴硝，一處細研，用油貼起。如有前患，每服半錢，熱茶下。</p>
<p>吐下頑涎，立愈。如小兒胸喉驚吊等，先服龍腦地黃膏一服，次服此藥一字，茶下。時上吐下瀉。微瀉，以吐利得快為效。大人半錢，小兒一字，看虛實加減。只是一兩服，見效，不宜常服。如吐瀉不定，以蔥白湯，立止。</p>
<p><u>珍珠丸</u></p>
<p>　治小兒虛中積熱驚癇等疾。</p>
<p>巴豆霜　膩粉（各二錢）　滑石（三錢）　天南星（一錢半）　蠍梢（二十四個）　續隨子（二十四個）　粉霜（一錢半）</p>
<p>上為末，研令極細，以糯米粥為丸，如黃米大，小兒二歲以下，每服一丸至三丸，十五歲，每服五丸至十丸，點茶湯下，荊芥湯亦得。虛實加減。</p>
<p><u>朱黃散</u></p>
<p>　治小兒上焦壅熱，諸眼疾。</p>
<p>肉桂　鬱金（各一兩）　馬牙硝（四兩）　甘草（半兩，並生）</p>
<p>上為末，每服一錢，新汲水調下，重枕臥片時。若是小兒，十歲服半錢，五歲以下服一字，永無驚疳癇風患。服之立效。如患眼三五年，吃三五兩便瘥。</p>
<p><u>朱砂丸</u></p>
<p>　治小兒急慢驚風，及風熱生涎，咽喉不利，取驚積。</p>
<p>朱砂　天南星　巴豆霜（各一錢）</p>
<p>上為末，面糊和丸，如黍粒大，看病虛實大小，每服二丸。或天吊戴上眼，每服四五丸，薄荷水下，立愈。</p>
<p><u>鬱金散</u></p>
<p>　治小兒急慢驚風等疾。</p>
<p>鬱金（一枚，大者）　巴豆（七個，去皮，不出油）</p>
<p>上研為細末，每服一字，煎竹葉湯放溫下。把藥抄盞，唇上放，以湯充下喉咽為妙。</p>
<p><u>澤瀉散</u></p>
<p>　治小兒　HT　，膈上壅熱，涎潮。</p>
<p>澤瀉（一分）　蟬殼（全者二十一個）　黃明膠（手掌大一片，炙令焦）</p>
<p>上為細末，每服一大錢，溫中湯調下，日進二服。未愈，再服。</p>
<p><u>鎮庭散</u></p>
<p>　治小兒一切驚喘，肚脹咳嗽。</p>
<p>鬱金　大黃（各半兩）　甘草（三錢）　輕粉（一錢）</p>
<p>上為末，每服半錢，用薄荷汁、朱砂（細研），冷水，以木匙瀝下。</p>
<p><u>定命散</u></p>
<p>　治小兒天吊驚風，不能哭泣。</p>
<p>藜蘆　川芎　鬱金（各等分）</p>
<p>上研為細末，鼻中　之。如哭，可醫。</p>
<p><u>金肺散</u></p>
<p>　治小兒諸般喘嗽急驚風，神效！錫灰（一錢）　漢防己（二錢）　鬱金（一錢半）　砒黃（二錢）　半夏（一錢半，湯洗七次）</p>
<p>上為細末，每服半錢，加至一錢，小兒加減，煎豬肉湯下，日進二服，食後。</p>
<p><u>厚朴散</u></p>
<p>　治小兒虛滑瀉利不止。</p>
<p>厚朴　訶子皮（各半兩）　使君子（一個）　揀丁香（十個）　茯苓　吳白朮　青皮（各二錢）</p>
<p>甘草（一寸，炒）</p>
<p>上為末，每服一宇，一歲，加減，用清米湯下。</p>
<p><u>人參散</u></p>
<p>　治小兒虛熱煩渴，因吐瀉煩渴不止。及疏轉後服之。</p>
<p>人參（半兩）　茯苓（二兩半）　牛膝（二錢半）　甘草（半兩）　甘葛（半兩）　桔梗（二錢半）</p>
<p>上為末，每服二錢，水一大盞，入燈心五莖，同煎至六分，放溫，不計時候。煩熱者，以新竹湯下。量年紀加減。</p>
<p><u>碧云散</u></p>
<p>　治小兒驚風有痰。</p>
<p>膽礬（半兩，研）　銅青（一分，研）　粉霜　輕粉（各一錢）</p>
<p>上為細末，每服一字，薄荷湯下。中風，將水下。如吐多不定，煎蔥白湯投之，立止，效。</p>
<p><u>桃符丸</u></p>
<p>　治小兒風熱。</p>
<p>大黃　郁李仁　黃柏　宣連　鬱金（各一分）　巴豆（二七個，去皮，出油為霜）　輕粉（二錢）</p>
<p>上為末，滴水為丸，如綠豆大，以朱砂為衣，每服二丸，用桃符煎湯下。看大人小兒加減。</p>
<h2>卷十五</h2>
<h3>雜病門</h3>
<h4>瘡疹總論</h4>
<p>《索問》云：痛癢、瘡瘍、癰疽、瘍疹、瘤氣、結核，怫鬱甚者，皆熱。五臟不和，九竅不通，六腑不和，留結為癰。近於火氣，微熱則癢，熱甚則痛，附近則灼而為瘡，皆火之用也。</p>
<p>人之瘡腫，因內熱外虛所生也。為風濕之所乘，則生瘡腫。然肺主氣，候於皮毛，脾主肌肉，氣虛則膚腠開，為風濕所乘，脾氣溫而內熱，即生瘡也。腫者，皆由寒熱毒瓦斯客於經絡，使血澀而不通，壅結成腫。風邪內作，即無頭無根。氣血相搏作者，即有頭有根。熱壅盛，則為膿赤。核腫，則風氣流結也。瘡以痛癢，痛則為實，癢則為虛，非謂虛寒也，正謂熱之微甚也。</p>
<p>癢者，美疾也。故火旺於夏，而萬物蕃鮮榮美也，炙之以火，漬之以湯，而其癢轉甚者，微熱之所使也。癢去者，謂火熱令皮膚縱緩，腠理開通，陽氣得泄，熱散而去。或夏熱皮膚癢，而以冷水沃之，其癢不去，謂寒收斂，腠理閉密，陽氣鬱結，不能散越，怫熱內作故也。</p>
<p>瘡瘍皆為火熱，而反腐出膿水者，猶穀肉果菜，熱極則腐爛，而潰為污水也。漬而腐爛者，水之化也。癰淺而大，疽深而惡。熱盛血，則為癰膿也。瘍有頭，小瘡也。疹浮而小，癮疹也。瘤氣，赤瘤、丹　、熱盛氣火之色也。</p>
<p><u>如意散</u></p>
<p>　治疥癬無時痛癢，愈發有時，不問久新者。</p>
<p>吳茱萸　牛蒡子　荊芥（各一分）　牡蠣（半兩）　輕粉（半錢）　信砒（二錢）</p>
<p>上為細末，研勻，每臨臥，抄一錢，油調，遍身搓摩上一半。如後有癢不止，更少許塗之股髀之間，聞香悉愈。</p>
<p><u>信效散</u></p>
<p>　治風熱上客陽明之經，牙齒疳蝕，斷宣腐臭，血出色黃，氣腐注悶，動搖疼痛，發作有時，兼解中金石一切毒藥。</p>
<p>信砒（一錢）　黃丹（二錢）　千古鍛石（如無，但以陳者，炒，細研，四錢）</p>
<p>上為細末，入青鹽一分、麝香少許，（如無此二味，亦得。）每上，抄三兩大豆許，先洗漱淨，以手蘸藥，捺上下牙齒齦瀝涎，勿咽之，須臾漱淨，或有蝕處，再上少許，日三四次。常用如意一上，以頻為妙。或服金石藥致病，使一日三四上，更不傷牙齒，如神。或已傷牙齒者，敷之即愈。或平人常用，頗能清利頭目，寬膈美食，使髭須遲白。久用亦能固牙齒，使遲老。</p>
<p>人氣於面，而手足陽明氣血灌注，憂思則氣結而血液不行，燥熱怫鬱而血衰，不能榮養臟腑，故早蒼黃而斑白也。此藥能使陽明血氣宣通，故效能然也。</p>
<p>又方，使龍骨，不用鍛石。</p>
<p><u>神聖餅子</u></p>
<p>　治一切打撲傷損，金石刀刃出血不止者，立效。</p>
<p>烏魚骨（一兩，五月五日前先準備下）　萵苣菜（一握）　韭菜（一握）　青薊草（一握，約一虎口，人手取團丸是也）　鍛石（四兩）</p>
<p>上以五月五日日未出，本人不語，將取三味同杵爛，次後下余藥味，杵得所，搏作餅子，晒乾，用時旋刮，敷之。此藥上，無膿退痂便愈。</p>
<p><u>芙蓉膏</u></p>
<p>　治遍滿頭面大小諸靨子，或身體者。</p>
<p>料炭灰　桑柴灰　蕎麥點灰（各半升。上灰用熱湯淋，取一升，熬至五分）　獨角仙（一個，不用角）　紅娘子（半錢，不去翅足）　糯米（四十九粒）　鍛石（一兩，風化者）</p>
<p>上為末，將前項灰汁調如面糊相似，在瓷合子內，於土底埋五七日，取出使用。取瘢痕，靨內刺破，用細竹簽子點之，放藥，用濕紙揩藥，再點至三。上見瘢痕時，冷水淋洗。</p>
<p>忌薑、醋、魚、馬肉。</p>
<p><u>鉛白霜散</u></p>
<p>　治大小人口瘡，牙齒腐蝕，氣臭出血者。</p>
<p>鉛白霜（二錢）　銅綠（二錢）　白礬（一塊，指大許）</p>
<p>上為末，以翎羽掃瘡上，以溫漿水漱之。</p>
<p><u>麝香散</u></p>
<p>　治大小人口齒腐蝕出血，斷根宣爛者。</p>
<p>上好咸土（不以多少）　麝香（真好者少許）</p>
<p>上土熱湯淋，取汁，去滓，用清汁，銀石器中熬干，刮下，再與麝香同研勻，摻於瘡上，以紙貼。神效！</p>
<p><u>乳香散</u></p>
<p>　治一切瘰　瘡，新久遠近不已者。</p>
<p>乳香（一錢）　砒霜（一錢）　砂（一錢半）　紅娘子（十四個，去翅足）　黃丹（半錢）</p>
<p>上為末，糯米粥和作餅子，如折三錢濃，小銅錢裹卷，大破瘡，上白面糊。如不破音，灸柴炷大者，不過一日，其瘰　核自下。</p>
<p><u>五香湯</u></p>
<p>　治一切惡瘡瘰　結核無頭尾，及諸瘡腫。</p>
<p>沉香　木香　雞舌香（各一兩）　熏陸香　麝香（各三錢）　連翹（一兩半）</p>
<p>上研為細末，每服二錢，水一盞，煎至六分，不拘時服。</p>
<p><u>紫參丸</u></p>
<p>　治熱毒瘰　腫痛，已肉消，瘡已破，出膿水，服此。</p>
<p>紫參　苦參（銼。各一兩）　連翹（二兩）　丹參（一兩半）　膩粉（二錢，別研）　滑石（二兩）</p>
<p>上為末，別用玄參一斤，搗碎，以酒三碗，浸三日，揉取汁，去滓，用皂角子三百枚，煨熟，搗為末，用玄參酒熬皂角子末，成膏，和前藥，如桐子大，每服一丸，以黃　湯下。</p>
<p>一日加一丸，至患人歲數即止。如四十，則二十，每日卻減一丸。瘡自干，有結，肉消。</p>
<p><u>麝香雄黃散</u></p>
<p>　治十七般惡蟲咬傷人，及瘡腫者。</p>
<p>麝香　雄黃　乳香　砂（各二錢）　土蜂窩　露蜂窩（燒灰。各一個）</p>
<p>上研為細末，以醋調少許，塗咬著處。或不辨認得，多疑是惡瘡，三五日不療，即毒入心，難瘥。忌雞、血、油膩物。</p>
<p><u>　砂散</u></p>
<p>　治一切疔瘡。</p>
<p>砂　雄黃　天南星　砒霜（各等分）　麝香（少許）</p>
<p>上研為末，用竹針針開，用藥。到黃水出，瘡已。</p>
<p><u>聖力散</u></p>
<p>　治諸疔瘡腫。</p>
<p>草烏頭　白芨　白蘞　木鱉子（去皮）　地龍　金毛狗脊（各二錢半）　麝香（三錢）</p>
<p>黃丹（少許）</p>
<p>上為細末，用針針到生肉痛者，用藥。黃水出為度。</p>
<p><u>穿山甲散</u></p>
<p>　治一切通氣破瘡腫。行膿血如神。妙！穿山甲　木鱉子　烏龍角（各等分，都燒存性）</p>
<p>上為末，每服一錢半，空心，熱酒調下。至中午瘡破，膿血便行。</p>
<p><u>守癭丸</u></p>
<p>　治癭瘤結硬。</p>
<p>通草（二兩）　杏仁（一大合，去皮尖，研）　牛蒂子（一合，出油）　吳射干　昆布（去咸）</p>
<p>訶黎勒　海藻（去咸。各四兩）</p>
<p>上為末，煉蜜為丸，如彈子大，含化，咽津下，日進三服。</p>
<p><u>鬼代丹</u></p>
<p>　治打著不痛。</p>
<p>無名異（研）　沒藥（研）　乳香（研）　自然銅（醋淬，研）　地龍（去土）</p>
<p>木鱉子（去殼。各等分）</p>
<p>上為末，煉蜜為丸，如彈子大，溫酒下一丸。</p>
<p><u>龍腦潤肌散</u></p>
<p>　治杖瘡，熱毒疼痛。</p>
<p>黃丹（一兩）　密佗僧（半兩）　輕粉（一錢半）　麝香（半兩）　龍腦（一字）</p>
<p>上為末，摻藥在瘡上，用青帛子覆之，內留一眼子。</p>
<p><u>香藥丸</u></p>
<p>　治瘰　瘡。</p>
<p>砂　乳香　沒藥　半夏　輕粉　赤石脂（各等分）</p>
<p>上為末，糯米粉為丸，如桐子大，每服十丸，加至二十丸，皂角子湯下，臨臥。</p>
<p><u>紅玉梃子</u></p>
<p>　治一切牙疳。</p>
<p>砒霜（一塊，皂角子大）　黃丹（　過）　鹵土（各等分）</p>
<p>上為細末，　餅和作劑子，任牙。</p>
<p><u>桃花散</u></p>
<p>　治一切瘡。生肌藥。</p>
<p>白芨　白蘞　黃柏　黃連　乳香（別研）　麝香（別研）　黃丹（各等分）</p>
<p>上為細末，摻於瘡上。三二日生肌肉滿。</p>
<p><u>追毒散</u></p>
<p>　治生瘡發悶，吐逆霍亂。</p>
<p>螺兒青　揀甘草（各一兩）　白礬（二錢半）</p>
<p>上為細末，每服一錢，新汲水調下。立止。</p>
<p><u>膽礬丸</u></p>
<p>　治男子年少而鬢發斑白。</p>
<p>土馬綜（燒存性）　胡桃（十個）　真膽礬（半兩）　川五倍子（一兩）</p>
<p>上為末，和作一塊，絹袋子盛，如彈子大，熱酒、水各少許，浸下藥汁，淋洗頭發一月。神效！</p>
<p><u>茯神散</u></p>
<p>　治膽熱多睡，神思不安，昏悶。</p>
<p>茯神（去皮）　麥門冬　地骨皮　茯苓（各一兩）　白蘚皮　酸棗仁　沙參　甘草（炙。</p>
<p>各半兩）</p>
<p>上為末，每服三錢，水一盞，煎至六分，去滓，食後服。</p>
<p><u>鐵腳丸</u></p>
<p>　治大小便不通。</p>
<p>皂角（不以多少，去皮，去殼子，炙）</p>
<p>上為末，酒、面糊為丸，如桐子大，每服三十丸，酒下。</p>
<p><u>金聖散</u></p>
<p>　治小腸膀胱氣痛不可忍者。</p>
<p>地膽（半兩，去足翅，微炒）　滑石（一兩）　朱砂（半錢）</p>
<p>上為末，每服二錢，用苦杖酒調下，食前服。</p>
<p><u>琥珀散</u></p>
<p>　治五淋。</p>
<p>滑石（二兩）　木通　當歸　木香　鬱金　扁竹（各一兩）　琥珀（二兩）</p>
<p>上為末，每服三五錢，用蘆葦葉同煎，食後，日三服。</p>
<p><u>葵子散</u></p>
<p>　治小便不通。</p>
<p>葵子　茯苓（去黑皮。各等分）</p>
<p>上為末，每服四錢，水一盞，煎二沸，食前。</p>
<p><u>倒換散</u></p>
<p>　治無問久新癃閉不通，少腹急痛，肛門腫痛。</p>
<p>大黃（小便不通減半）　荊芥穗（大便不通減半。各等分）</p>
<p>上件藥味，各別為末，每服一二錢，溫水調下，臨時加減服。</p>
<p><u>敗毒散</u></p>
<p>　治男子往來寒熱，婦人產後骨蒸血運。</p>
<p>大黃　黃藥子　紫河車　赤芍藥　甘草（各等分）</p>
<p>上為末，每服一錢，如發熱，冷水下，如發寒，煎生薑、栝蔞湯乘熱調下。此藥偏治婦人。</p>
<p><u>補真丹</u></p>
<p>　治男子元藏虛冷。興陽固腎補虛。</p>
<p>黑附子（一兩，煨）　陽起石（火燒，酒淬，三錢）　海馬（二錢）　乳香　雄黃（為衣）</p>
<p>血竭（各三錢）　石蓮子（去殼、皮、心）　黑錫（炒，去砂子，半兩）　石燕子（燒，以醋淬）</p>
<p>麝香（一分）</p>
<p>上為細末，面糊為丸，每服二十丸，用五香湯空心下。</p>
<p><u>五香湯</u></p>
<p>　調神益氣。</p>
<p>沈香　箋香　乳香　麝香　檀香（各等分）</p>
<p>上為細末，每服半錢，煎湯下。</p>
<p>新添一醉烏法，治頭須白再黑方：訶黎勒（十個，不去核）　酸石榴（三個，大者，取汁）　綠礬（五分）　生地黃汁（一升）</p>
<p>砂（研）　硫黃（研。各一錢）</p>
<p>上藥同入瓷瓶內，用二味汁浸，密封，勿令透氣，至四十九日後取出，其訶子狀若黑梅，至夜臨臥含一枚，咽津，到曉爛嚼，以酒一盞下之，三二日後再服。忌蔥、大蒜、蘿卜。</p>
