<header data-type="book">
<h1>張愛廬臨證經驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張大爔</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>夫兵家以料敵制勝，醫以料病立方，可以取效。是集，方不繁而門類較全，案不文而始未必述。意取簡約明淨，便於覽觀。故稍涉類同，悉除不贅。先後隨取隨錄，無分雜症時邪，要惟三時六氣，內因、外因、不內外因之別。至若傳經方正傷寒，究屬南方罕有，吳又可所論之真瘟疫，系饑饉之後，厲氣所觸，二者俱非恆見。內錄二三不治之症，備為臨證醒目，既可慎始慎終，並鑑時風之誤。余如壞症救逆之方，乃苦於不克出治，而宗從治反治諸法，甚至摩古方而特製者，種種之用意，系非杜撰。所賴平時研究，於審證用藥立方三者之要，能致夫恰中病情之想。妄敢擔任於立方之前，要必奏功於服藥之後，允稱不負苦心，信手而得，此即余之樂境也。噫！後之人豈無羨斯樂者哉。留是集以待之。</p>
<p><u>古吳　愛廬張大爔述</u></p>
<p><u>壬子初夏後學蘇州黃壽南謹抄</u></p>

<h1>濕溫</h1>
<p>金（左）　表熱四候，額汗如淋，汗時膚涼，汗收熱灼，消滯、泄邪、清補諸法，已遍嘗矣。診脈虛細，惟尺獨滑，舌苔已淨，胃納稍思。細繹脈症病情，不在三陽，而在三陰。考仲聖有反發熱一條，是寒邪深伏少陰之陽，今乃濕溫餘邪，流入少陰之陰，良亦少年腎氣之不藏所致。治當宗其旨，變其法以進。擬補腎陰，泄腎邪，一舉兩得，可許熱解汗收。</p>
<p>炒枯熟地（五錢）　枸杞炭（一錢）　炒獨活（一錢）　茯苓（三錢）　五味子（七粒）　細辛（三分）　炒懷膝（五分）　丹皮（一錢）</p>
<p>復診　熱解已淨，自汗亦收，脈滑已和，純乎軟弱，神情向倦，而虛象旋著。擬轉補養。</p>
<p>人參鬚（一錢）　炒杞子（一錢）　懷山藥（三錢）　丹皮（一錢五分）　大熟地（五錢）　炒杜仲（三錢）　生牡蠣（七錢）　澤瀉（一錢）　炒萸肉（一錢五分）　雲苓（三錢）　炙甘草（三分）</p>

<h1>蓐勞</h1>
<p>朱（右）　產後逾年，臥床未起，胃納雖可，脈細如絲，聲音笑貌，宛若無病之人，神志魂魄，頻頻不附於體。經水五日大沖，八日小至，循環不淨。氣隨呵欠則上越於巔頂，隨下泄則陷於下竅。自謂斯際，一如魂飛天外矣。向投補劑，等之不服，邇月，加至大劑膏滋，日服全料，僅能暫留飛越之態。證乃八脈俱損，關閘盡撤，藥已疲玩，蓐勞難挽。考《內經》云：上下俱病治其中。譬之馬謖之失街亭，誤在不守當道耳。勉擬純一立中，為設關隘，俟有險阻可守，再商他法。藥雖一味，四意寓焉。</p>
<p>炙黑甘草（四兩）　煎湯均三服，晝夜勻進。</p>
<p>復診　三進守中、和中、止血、解毒之法，其力固勝於雜藥。神志較安，經水亦止，雖有呵欠下泄，不至魂飛魄散，中流似有砥柱，真氣似有收攝。然險要暫守，關隘未固，尚宜重兵防禦。擬立中、守中、和中繼之。</p>
<p>臺人參（一兩）　真於術（三錢）　炙甘草（四兩）　生白芍（三錢）　煎湯均三服，晝夜勻進。</p>
<p>壽南按：以四君守中去茯苓淡滲，加生芍斂陰，仍以炙草為君，藥向效邊求也。</p>

<h1>溲秘</h1>
<p>陶（左）　中虛濕勝之體，病後元氣未復，溲秘三月，便縮腹硬，頻欲小便，肛必先墜，證如癃秘之苦，痛楚難以名狀。良因中氣下陷，濕隨氣滯，傳送之司既失，氣化之權亦乏，倘徒以滲利，氣更墜而下愈窒矣。治當補提中氣，和其輸化，庶幾開合有權，運機旋轉，則溲自來而痛得緩也。應變之法，莫作常例。</p>
<p>人參（一錢）　炒小茴（五分）　酒炒升麻（三分）　酒炒獨活（一錢）　茯苓（三錢）　土炒白朮（一錢五分）　煨木香（三分）　柴胡（二分）　甘草梢（三分）　酒炒香附（一錢五分）　酒炒橘核（三錢）</p>
<p>壽南按：譬如以壺貯水，壺蓋太吻，水為氣攝，壺嘴內反滴點不出，必將其蓋一泄即注矣。故輕用升、柴也。</p>

<h1>霍亂</h1>
<p>鄭（左）　吐瀉驟作無度，形肉轉瞬即脫。脈伏筋攣，體冷汗漬，伏邪深入三陰，遍體之陽氣頓消，脈道不通，真氣脫離，乃時行轉筋入腹之險證。其行速，非泛常方藥可恃。急進斬關直入之法，冀圖一挽奏功。</p>
<p>淡附子（三錢）　煨肉果（一錢）　淡吳萸（三分）　雲苓（三錢）　細辛（三分）　淡乾薑（三錢）　巴豆炭（三分）</p>
<p>壽南按：此方之巴豆炭最有深意者，去沉寒痼冷，斬關奪門之將也。</p>
<p>復診　吐瀉已止，肢體轉溫，脈見微細，筋絡較舒。惟是神倦嗜臥，音低畏煩，陽回正虛已著。急進溫補。（方缺）</p>

<h1>胃困</h1>
<p>鄒（右）　病經匝月，表熱解後，杳不思納。脈靜舌淨，神倦言懶。既無外感留戀，又非老景就熟。晴光靈動，面色開曠，閱所服之藥，苦寒沉降者多矣。良系胃氣為藥所困，非病也。亦非衰也。可笑貴處諸名家，為魔障所弄，而咸謂老熟不治矣。據我管見，可許復元。且進和中醒中，以悅脾胃，令其納穀乃昌。</p>
<p>參鬚（五分）　炒麥冬（一錢）　炒橘白（五分）　生穀芽（一兩，煎湯代水）　沙參（三錢）　干霍斛（三錢）　生甘草（三分）　野薔薇露（一兩，衝入）</p>
<p>是行也，原議診後即返棹。病家光景以趕辦後事為亟。主人聞余言，將信將疑，如醉如癡，囑伊令甥高如川兄留診一日，並邀岸上盤桓。余知其意，竟諾之。令其煮糜粥，以備半夜病人思納，切囑不可多與。</p>
<p>壽南按：為醫當自出手眼，若人云亦云，安得為之名手。倘黨同伐異，乃趨入魔道矣。此病乃胃陰虧，故宜甘濡。</p>
<p>復診胃氣乍醒，脈形軟弱，久飢之後，臟腑之氣尚微，納穀以勻為穩。至於用藥，尚利輕靈，需俟胃氣日隆，方可峻補。蓋凡屬補劑，亦必藉胃氣四布耳。經云：百病以胃氣為本。又云：安穀則昌。其斯之謂歟。</p>
<p>參鬚（一錢）　炒麥冬（一錢五分）　益智（四分）　炙草（三分）　沙參（三錢）　川斛（三錢）　橘白（七分）　云神（三錢）　南棗肉（兩枚）　炒穀芽（一兩）</p>

<h1>便秘</h1>
<p>張（右）　症逾兼旬，大便秘結，畏冷脈緊。詢系病初曾發熱，未得汗而驟解，解後旬日，胃納未慎，今則納呆腹脹，頻欲大便而不解，滯固有諸，舌猶白也。夫以脈緊舌白畏寒論之，表邪未達顯然，徒與潤腸何益。蓋肺與大腸為表裡，表氣尚窒，裡氣安望其通。治當疏泄上焦，仿肺閉意。明乎表裡，奚致見病治病之惑哉。</p>
<p>試以表裡二字，為同學論之。內外，一表里也；臟腑，一表里也；手六經、足六經，一表里也；三陽經、三陰經，一表里也。如是而可以盡表裡之義。否則，未也。須知就表而論，有表之表，表之裡；就里而論，有里之裡，里之表當別。即以表裡兩字，已難為醫穎。</p>
<p>壽南按：此病乃失表，故仍以先表后里耳。</p>
<p>生麻黃（五分）　前胡（一錢）　炒枳殼（一錢）　陳皮（一錢）　白杏仁（三錢）　桑葉（一錢五分）　紫菀（一錢）　桔梗（一錢）　羌活（七分）</p>
<p>復診　表熱外揚，汗未暢泄，舌白未化，脈緊未和，表分之邪尚縮，腸中之滯依然。尚宜輕泄。</p>
<p>紫蘇（一錢）　防風（一錢）　杏仁（三錢）　前胡（一錢）　炒陳皮（一錢）　豆卷（三錢）　紫菀（五分）　炒枳殼（一錢）　瓜蔞仁（三錢，敲）</p>
<p>再診　汗暢熱解，舌苔轉黃，大腑稍行，腹中反痛，滯初運而未得盡下也。法當導之。</p>
<p>蘇梗（一錢五分）　蔞實（三錢，杵）　杏仁（三錢，杵）　豆豉（三錢）　楂炭（三錢）　建曲（一錢五分）　炒熾實（一錢五分）　麻仁（三錢，杵）　黑梔（一錢五分）　丹皮（一錢五分）</p>

<h1>熱深厥深</h1>
<p>陳（左）　痙厥陡起，不省人事，越兩時醒後復厥。昨宵竟夜達旦而醒，脈沉極數，舌紫而晦。刻下神識雖清，舌脹言蹇，二便不爽，暑熱毒深伏。經曰：熱深者厥亦深是也。勢恐再復。速進清化法。</p>
<p>鎊犀角尖（一錢五分）　炒銀花（三錢）　連翹芯（三錢）　元參（一錢）　川楝子（一錢）　炒小川連（五分）　丹皮（一錢五分）　人中黃（五錢）　塊滑石（三錢）　黑梔（一錢五分）　鮮荷葉（三錢）　綠豆（四錢，後下）</p>
<p>壽南按：清滌膻中深伏之暑毒。</p>

<h1>腹痛便秘</h1>
<p>陳（左）　脾腎之陽素虧，醉飽之日過勤，腹痛拒按，自汗如雨，大便三日未行，舌垢膩，脈數實。濕熱食滯團結於內，非下不通，而涉及陽虛之體，非溫不動。許學士溫下法，原從仲聖大實痛之例化出，今當宗之。</p>
<p>製附子（五分）　上肉桂（四分）　淡乾薑（五分）　制川樸（一錢）　炒枳實（一錢五分）　生大黃（四錢，後下）</p>
<p>壽南按：大承氣加薑、附、桂，溫通下滯，識到膽壯。</p>
<p>復診　大腑暢行，痛止汗收，神思倦而脈轉虛細。擬養胃和中。</p>
<p>北沙參（三錢）　生甘草（三分）　炒橘白（一錢）　炒扁豆（三錢）　川石斛（三錢）　炒白芍（一錢）　丹皮（一錢五分）</p>

<h1>腸癰</h1>
<p>韓（左）　臍右腹痛拒按，左腿短縮難仲，身熱旬余，有汗不解，脈滑數，舌垢糙。此非外感表邪，與疏散何涉？乃濕熱蘊釀於腸，已成癰瘍將潰。幸在壯年，尚能勝任，。擬清解化毒法。質之專科，然否？</p>
<p>淡豆豉（三錢）　敗醬草（三錢）　桃仁（三錢）　丹皮（一錢五分）　銀花（三錢）　生苡仁（三錢）　土貝（三錢）　赤芍（一錢五分）　生甘草（五分）　炒枳實（二錢）　瓜蔞仁（二錢）</p>
<p>壽南按：此以薏苡仁湯合敗醬散去附子，為清解化毒法。</p>

<h1>肝鬱</h1>
<p>江（右）　情志抑鬱，形神消瘦，脅痛妨納者半載，經停便艱者四月，脈沉細數，舌絳津干。香燥破氣之味，幾屬遍嘗，推蕩通瘀之劑，亦經屢進。據此脈症觀之，內火已熾，津液已涸，勢防失血之險，何暇望其經通。</p>
<p>況久痛必傷絡，抑鬱之症恆化火，速與存陰，冀少變幻，亦未雨綢繆之謂也。然怯象已萌，難望復元。</p>
<p>鎊犀角（七分）　阿膠（一錢五分）　柏子仁（三錢）　元參（一錢）　生地（四錢）　藿斛（五錢）　火麻仁（三錢）　丹參（一錢）　炒女貞（一錢五分）　煅瓦楞子（一兩）</p>
<p>復診　兩進存陰之法，舌液稍潤，而色絳稍淡，胃納稍喜，脈仍細數。久病傷陰之症，豈能迅速奏效。擬轉清養，必得怡情自愛乃吉。</p>
<p>生西洋參（一錢五分）　炒阿膠（一錢五分）　女貞子（一錢五分）　川楝子（七分）　炒大生地（五錢）　麥冬（一錢五分）　柏子仁（三錢）　煅瓦楞（一兩）　炒丹參（一錢）　丹皮（一錢）</p>

<h1>少陰症</h1>
<p>王（左）　灼熱旬余，咽痛如裂，舌紅起刺且，口乾不思湯飲，汗雖暢，表熱猶壯，脈沉細兩尺空豁，煩躁面赤，肢冷囊縮。顯系少陰證據，誤服陽經涼藥，苟讀聖經，何至背謬若此。危險已極，計惟背城借一，但病之來源名目，雖經一診道破，尚慮鞭長莫及耳。勉擬仲聖白通湯加膽汁一法，以冀挽回為幸。</p>
<p>淡附子（一錢）　細辛（三分）　炒懷膝（一錢）　蔥白（三個）　上肉桂（五分）　半夏（一錢五分）　牡蠣（七錢）　豬膽汁（一個，和入微溫服）</p>
<p>壽南按：淡附、細辛，為少陰引經報使之藥。</p>
<p>復診　少陰之惡款悉除，少陰之虛波旋見。古法古方，信不誣也。邇既僥倖於萬一，慎勿怠忽以致復。</p>
<p>製附子（五分）　炒杞子（一錢五分）　五味（十粒）　煅磁石（四錢）　大熟地（八錢）　炒杜仲（三錢）　雲苓（三錢）　煅牡蠣（七錢）</p>

<h1>誤補成痞</h1>
<p>江（左）　平素胃納過量，滯積層層，脈道窒塞，固見細伏。病初余曾議下，惜乎未服，而聽周半池先生拘執於脈，竟作虛治，今歷旬日矣。欲嘔不嘔，欲便不便，胸脘高突，俯仰坐臥，無一可適。脈形愈細愈伏，下證悉在，而脹痛極甚，汗冷肢冷足冷，舌質燙光，咽關燙腫。詢系必得滾湯頻咽，膈間方可稍緩其脹，其誤補以致痞滿也明矣。擬宗許學士溫脾湯，復以辛滑開痞之法，即能奏效為幸。</p>
<p>製附子（五分）　肉桂（三分）　乾薑（五分）　炒川椒（二分）　細辛（六分）　生大黃（四錢，後下）　製厚朴（一錢）　枳實（一錢五分）　製半夏（一錢五分）</p>
<p>復診　大便暢通，痞滿頓消，脈道始通，診得濡細，脾胃大傷之後，慎飲食為至要。擬以和中。</p>
<p>制川樸（七分）　炒扁豆（三錢）　旋覆花（一錢五分，包）　川石斛（三錢）　焦六曲（三錢）　炒橘白（一錢）　老蘇梗（一錢五分）</p>

<h1>郁痹</h1>
<p>程（右）　竟日思悲，半載納減。詢非惱怒感觸所藉，在病人亦不知悲從何來，一若放聲號泣乃爽快，睡醒之際特甚，余如默坐亦然。韓昌黎云：凡人之歌也有思，哭也有懷，出於口而為聲者，其皆有弗平者乎。夫悲哀肺主之，寢則氣窒，醒則流通，想其乍醒之際，應通而猶窒焉，是以特甚。揆之脈象，右寸細數而小滑，伏火挾痰有諸。或因有所驚恐，驚則氣結，結久成痹，痹則升降失常，出納呆鈍，胃氣日餒耳。擬以開結通痹為先，何急急於補也。</p>
<p>旋覆花（一錢五分，包）　元參（一錢）　炒竹茹（一錢五分）　瓜蔞皮（一錢五分）　薤白頭（三錢）　紫菀（七分）　橘絡（一錢）　水安息（三分，烊入）　生鐵落（兩許，用鐵錘、開水，擂盆內研百遍，取清汁一小杯，衝入）</p>
<p>復診　兩進開結通痹之後，悲哀之態頓釋，咯痰黃厚，胃納稍思，脈之滑數亦緩，其痰火痹結也明矣。擬以清泄降繼之。補不可投，豈妄談哉。</p>
<p>炙桑皮（一錢五分）　炒竹茹（一錢五分）　蔞霜（一錢五分）　紫菀（五分）　杏仁（三錢）　黑梔（一錢五分）　丹皮（一錢五分）　橘絡（一錢）　冬瓜子（三錢）　絲瓜絡（一錢）</p>

<h1>虛熱</h1>
<p>陸（左）　身熱兼旬，杳不思納，脈細而靜，神倦嗜臥，汗已絡續自來，舌已化而質淡。自病迄今，消散之藥未止。先天既薄，奚堪消磨盪滌。夫過表則藩籬疏豁，過消則脾胃告竭，其苦於不學無術，以致虛實莫辨。《金匱》曾有病人向里睡一條，一似為此症而設，幼科諒未見耳。余雖門外漢，進補可許轉機。</p>
<p>人參（一錢）　沙參（三錢）　川斛（三錢）　炙草（三分）　於術（一錢）　五味（七粒）　橘白（一錢）　穀芽（一兩）</p>

<h1>痧隱</h1>
<p>王（右）　風溫發痧子，表熱壯甚，汗不肯達，病交五日，痧子乍透，而著涼驟縮，表熱反減，胸悶口渴，舌淡紅少苔，咳嗽痰不爽。診脈細數，神識時糊，肺胃之邪熱不從表達，而有欲陷之勢。經曰：冬傷於寒，春必病溫。從太陽克入而伏藏於少陰，兼值歲初春風特甚，又感風邪，是從太陰縮縛二氣之邪，今得溫暖而發，取汗本非易事，何況徒以辛溫散之。</p>
<p>夫里邪已化為熱，風邪又化為火，試以薪炊鍋，而勿潤之以水，欲逼其氣蒸作汗，汗之汁何從運至，不且鍋將裂乎。急進辛涼解肌法，庶幾雲行雨施，品物咸亨也。拙擬若此，未識專科先生以為何如？</p>
<p>生麻黃（五分）　杏仁（三錢）　射干（五分）　蟬蛻（一錢）　土貝母（三錢）　生石膏（五錢）　桔梗（一錢）　炒牛蒡（一錢五分，杵）　連翹（一錢五分）　檉柳（五錢）　枇杷葉露（一兩，衝入）</p>
<p>復診　汗達未暢，表熱復揚，痧子隱約膚中，欲透不透，舌質已絳，口渴引飲，神志尚是時矇，邪熱既侵營分，內傳最捷，不得不清營泄邪並進。專科猶戀戀荊、防，余不知其何意也。</p>
<p>鎊犀角（一錢）　麻黃（四分）　連翹（一錢五分）　杏仁（三錢）　生石膏（五錢）　葛根（七分）　桔梗（一錢）　赤芍（一錢五分）　丹皮（一錢五分）　前胡（一錢）</p>
<p>再診　痧子暢透，表熱大減，汗亦暢矣，悶亦舒矣。神志清而渴飲較減。惟舌猶絳，脈猶數，陰分已傷，良由取汗遲之所誤耳。擬存陰泄熱。</p>
<p>細生地（四錢）　桑葉（一錢五分）　連翹（二錢）　前胡（一錢）　桔梗（一錢）　淡豆豉（三錢）　丹皮（一錢五分）　黑梔（一錢五分）　杏仁（三錢）</p>

<h1>冬溫春發</h1>
<p>黃（右）　初病肝氣，旋即發熱。始以肝氣治，繼從新感治，病情漸劇，又宗濕溫治。乃未究來源，見病治病，硬裝硬派，因循玩怠者已旬日矣。診得左脈弦細而數，舌苔干自，口苦。自病以來，從無汗泄，據是脈證，乃冬溫春發，系藏於腎，而發於少陽，其始似肝氣，非肝家本病，少陽之邪欲發泄，而涉及厥陰，蓋肝與膽表裡也。當從少陽和解。擬小柴胡加減。</p>
<p>柴胡（五分）　炒淡芩（一錢五分）　黑梔（一錢五分）　淡姜渣（三分）　豆卷（三錢）　炒枳殼（一錢）　陳皮（一錢）</p>
<p>復診　越三日，據述未服柴胡，更用香開涼藥，症變神志模糊，額汗多而呵欠頻頻，脈左虛數，誤開欲脫之象已著。惟時半夜，前藥未遠，姑待天明。</p>
<p>越九日，又邀再診，脈細如絲，神志散漫，便下溏黑過多，舌黑肥潤不渴。乃脾腎之陰陽垂絕。《經》云：真臟之色見矣，如何猶認作陽明熱灼，而投犀角石膏等劑？顧公始末主其事，赧然無從措手，爰與之議，轉回陽救逆之法。顧公執筆在手，諸藥聽議，獨於附子一味，擬用生者三錢，顧公只敢用制者五分，乃與之論前賢救逆之旨，而竟茫然莫辨！可嘆主人在旁，亦以重用附子為駭聞，反和曰：姑從輕用可乎。噫！誰敢強人之難也。詰朝仍與顧公同診，病果轉機，諸款皆減，脈仍細微，兩尺有滑數之形，乃謂顧公曰：昨方系壞症救逆，今見是脈，恐其復熱。惜哉！昨方之附子輕，而不能牢固腎陽，仍歸汗脫。顧公毅然以為一味純虛，安有復熱之理，只需峻補可矣。余因辭不與議。</p>
<p>戌刻復邀診脈，據述竟日平善，並無他變，及診其脈，滑數之形外浮，尺膚已熱，熱復發矣，陽隨汗越，勢必然也。按是症，始作泛常肝氣治，一誤也；發熱作新感治，二誤也；熱甚作濕溫，扭陽明治，三誤也；柴胡不服，而更香開，四誤也；以寒涼重傷臟陽，五誤也；繼見臟陽垂絕，而猶不敢以生附子三錢與一兩五錢之熟地並進，此誤中之更誤也。</p>
<p>嗟呼！一病也，而堪數誤耶！余雖未專其政，屬在知交姻誼，是以與之竭力挽回，乃以必不至死之症，而竟至於莫可救藥者，是豈死於病耶！死於藥耶！直死於醫也。</p>
<p>余甚惜之，因記其始末，為醫者鑑。</p>

<h1>肝邪犯胃</h1>
<p>程（右）　惱怒傷肝，木火犯胃入膈，支撐胸背，嘔吐血塊痰涎，不納不便，舌白苔膩。胃為水穀之海，多氣多血之腑，性喜通降，所畏倒逆，經此氣火沖斥，濕濁乘機錯亂，倘肆其猖狂，厥逆立至，若再侮土，泄瀉必增。</p>
<p>左脈弦硬，右脈細軟，谷不沾唇者已五日，胃氣憊矣，而嘔尚甚，中無砥柱，何恃不恐。諸先生所進苦寒沉降，蓋欲止其嘔血而順其氣，誠是理也。然《內經》云：百病皆以胃氣為本，苦寒性味，又屬伐胃，胃不能安，藥力何藉？拙擬苦溫以制肝之逆，苦辛以通胃之陽，並參奠安中氣，冀其倒逆之勢得緩。幸勿拘於見血畏溫之議。</p>
<p>臺人參（一錢）　法半夏（一錢五分）　薑汁炒川連（三分）　旋覆花（一錢五分）　淡吳萸（二分）　川楝子（七分）　炒川椒（二分）　雲茯苓（二錢）　交趾桂（四分）　龍膽草（三分，二味同研細末，飯和為丸。即以藥湯送下。）</p>
<p>復診　嘔逆已止，脹痛亦緩，左脈弦硬固平，右關歇止，旋見土德大殘，中氣亦竭。急進補中立中，仍參約肝制肝之法，惟望胃納肯醒是幸。</p>
<p>臺人參（一錢五分）　上肉桂（三分）　生於術（一錢五分）　炒白芍（一錢五分）　雲茯苓（三錢）　炙甘草（三分）</p>
<p>再診　脹痛大平，嘔逆未復，稍能納粥，脈俱濡細，胃氣漸有來復之機。經云：納穀則昌，信不誣也。</p>
<p>再診　脹痛大平，嘔逆未復，稍能納粥，脈俱濡細，胃氣漸有來復之機。經云：納穀則昌，信不誣也。</p>
<p>人參（一錢）　煨肉果（三分）　白芍（一錢五分）　炒橘白（七分）　於術（一錢五分）　煨木香（三分）　炙甘草（四分）　云茯神（三錢）　穀芽（一兩，煎湯代水）</p>

<h1>暑濕挾滯</h1>
<p>周（左）　表熱九日，有汗不解，舌絳起刺，燔渴引飲，間作寒熱之象。熱甚，下午至夜，神志時糊，脈洪無力。症固有邪有滯，未明下不厭遲，陽明經分之邪，又傳少陽，陽明腑分之滯，灼傷津液，極似大柴胡證，而與脈象不符。細繹症情，汗下不按《經》旨，延至正虛津劫，既非陷里之神糊，如何香開，致使內傳，此際之望滯通，需俟津回液復。擬宗仲聖人參白虎湯意，參入景岳柴胡煎，庶與脈證符合。諸先生以為何如？</p>
<p>參鬚（一錢）　柴胡（四分）　知母（一錢五分）　元參（一錢）　黑梔（一錢五分）　生石膏（七錢）　藿斛（七錢）　麥冬（一錢五分）　竹葉（三錢）</p>
<p>復診　汗暢熱解，煩渴已減，舌絳淡而尖刺亦少。津液稍回，正氣較振，脈數未平，神志已爽。少陽陽明之表分既清既泄，腑分之滯，尚待清潤毓陰而下也。切勿因滯而再盪滌。審證二字，其難其慎，臨時之應變，平日之功夫耳。</p>
<p>鮮藿斛（一兩）　細生地（四錢）　知母（一錢五分）　銀花（一錢五分）　赤芍（一錢五分）　花粉（一錢五分）　丹皮（一錢五分）　麻仁（三錢）　蔞仁（三錢）</p>

<h1>溲秘</h1>
<p>潘（右）　肝氣甚發之後，小溲點滴不通，少腹脹急，子宮下墜，脈沉數，舌乾光。上渴下秘，水飲停膈，脘腹胸脅並撐，噫噯俯仰俱艱。症已七日，治惟滲利，乃肝火濕火，蘊結於下，勢將厥逆。姑擬河間法，桂苓甘露飲，復以辛通運下，溲可望其通，痛可望其減。第子宮之腫，與外瘍無異，還仗專科調治。</p>
<p>肉桂（五分）　吳萸（二分）　炒小茴（五分）　椒目（五分）　橘核（三錢）　生石膏（七錢）　龍膽（三分）　滑石（三錢）　茯苓（五錢）　豬苓（一錢五分）　川楝子（七分）　丹皮（一錢）</p>

<h1>飲症</h1>
<p>趙（左）　飲邪十餘載，遇冷即甚發，發必脹痛徹背，咳嘔氣逆。邇來漸妨穀食，脈形細滑，據述向來力疾操勞，安得不涉於虧。然參、地常投，何以罔效，蓋體雖宜補，而病不安於補也。</p>
<p>夫有飲者，中陽先虧，飲為陰邪，得以盤踞，日甚一日，即以水穀之精華，亦必釀為痰涎而附於飲矣。考之於古，曰：痰飲，自漢時張長沙分立五飲門類，皆曰當以溫藥和之。</p>
<p>宗苓桂術甘意，參小青龍法。</p>
<p>肉桂（五分）　乾薑（四分）　旋覆花（一錢五分，包）　蘇子（一錢）　炙草（三分）　土炒白朮（一錢五分）　細辛（二分）　法半夏（一錢五分）　雲苓（五錢）</p>

<h1>嗽血</h1>
<p>楊（左）　身熱惡寒，咳嗽痰艱血溢，病經五日，猶是風霜勞頓，脈緊無汗，舌白不渴。症由寒縮於表，熱鬱於裡，清降潤嗆之品，適相反矣。《傷寒論》奪汗無血之例，正合病情。宜宗此旨調治，幸勿畏虛，因循以致劇。</p>
<p>生麻黃（五分）　蘇葉（七分）　連翹（一錢五分）　杏仁（三錢）　前胡（一錢）　炒竹茹（一錢五分）　桔梗（一錢）　橘絡（一錢）</p>

<h1>絡瘀</h1>
<p>吳（左）　嘔血盈碗，紫色塊磊，兩載中已見五次。據述發病之前，左脅肋近脘必痛，吐後痛減，不妨胃納。診脈沉數有力，面色晦滯。詢由努力而起，絡內凝瘀作痛，但瘀血宜通，瘀淨則止，苟使根蒂常留，則瘀漸積而必復發，且有妨新血矣。倘畏虛嗜補，往往成癆者，務宜宣通肝胃之絡。</p>
<p>旋覆花（一錢五分，包煎）　參三七（一錢）　炒楂肉（二錢）　丹皮（一錢五分）　蔞仁（三錢）　醋炒延胡（一錢五分）　桃仁（三錢）　炒赤芍（一錢五分）　黑梔（一錢五分）　紫降香（三錢）</p>

<h1>熱入血室</h1>
<p>徐（右）　夏秋伏邪發熱，汗雖有而不暢，病交八日，神糊夜甚，經事非期先至，脈弦且數，胸悶口苦喜飲。蓋暑濕熱為無形之邪，不耐攻下，且畏燥裂，以致熱逼血分，幸勿見神糊而妄投開藥。症情雖劇，就是脈證，只宜輕清泄化。擬宗熱入血室例，姑宗少陽陽明治，倘能轉瘧，亦是穩機。</p>
<p>柴胡（五分）　炒知母（一錢五分）　丹皮（一錢五分）　滑石（三錢）　炒淡芩（一錢）　青蒿（一錢五分）　黑梔（一錢五分）　炒竹茹（一錢五分）　野薔薇露（一兩，沖）</p>

<h1>誤下傷脾</h1>
<p>孫（左）　新感風寒發熱，本非重症，過散過消之下，脾氣大傷，已見脈微便血，尚謂里滯未楚，清熱行瘀，血如漏卮。醫者自遁，猶有天良？診得脈細如絲，肢冷自汗，聞聲驚惕，奄奄一息，脾臟統血之源告竭矣。危期至速，勉擬峻補，以冀轉機。</p>
<p>人參（一兩）　炙草（五錢）　五味子（一錢）　（煎湯，徐徐灌下。）</p>
<p>復診　神思稍振，下血較稀，脈仍細微，額汗尚多。昨方簡約安中，蓋恐雜以回陽顧陰，反嫌剛猛不受。今既轉機，治當陰陽兩顧。尚宜輕靈取效。</p>
<p>臺人參（一錢五分）　製附子（三分）　五味子（七粒）　生於術（一錢）　云神（三錢）　熟地炭（五錢）　煨肉果（三分）　白芍（一錢）　懷山藥（一錢五分）　炒棗仁（一錢）</p>
<p>再診　下血已止，神思來復，胃納稍勝，腹中未和，脾臟大傷之後，脈細難以驟振，再進補養，冀圖恢復。但經此孟浪攻伐之後，一兩月內，務宜慎寒冷，節飲食，起居之間，加意留神保養。</p>
<p>人參（一錢）　炙黃耆（一錢五分）　炒杞子（一錢）　土炒白芍（一錢五分）　懷山藥（三錢）　熟地（五錢）　於術（一錢五分）　肉果（四分）　炒棗仁（一錢五分）　地榆炭（一錢）</p>

<h1>下痢</h1>
<p>林（左）　腹痛下痢，晝夜無度，汗冷肢冷，脈細舌白。暑濕熱挾滯互結，病經五日不減，嗜酒中虛之體，不克發熱，而已見多汗傷陽，多痢傷陰之險。凡裡急後重腹痛者，法當宜通，口渴煩躁溲秘者，又當清滲。此際涉及虛波將至，誠屬掣肘之極。姑擬溫清並進，宗瀉心意，參以疏化邪滯。若正氣保和之類，何足恃耶。</p>
<p>附子（五分）　制川樸（七分）　桂木（五分）　藿梗（一錢五分）　赤苓（三錢）　酒炒川連（五分）　木香（三分）　姜渣（三分）　炒建曲（一錢五分）</p>
<p>復診　下痢減半，赤白相雜，肢冷較和，汗亦稀少，舌白，苔膩不化，裡急後重已緩。診脈沉細，腹中猶痛，究屬中虛濕勝，暑濕熱滯之結，不能藉陽和運動，尚非坦途也。再擬溫中運邪一法。</p>
<p>製附子（五分）　土炒白朮（一錢五分）　制川樸（七分）　炒防風（一錢）　酒炒川連（三分）　乾薑炭（四分）　煨木香（三分）　炒枳實（七分）　丹皮炭（一錢）　赤茯苓（三錢）</p>

<h1>膚中蝨</h1>
<p>葛（左）　遍體蠕蠕作癢，蝨從膚出，形與白蝨無異，腹稍狹而尾尖，出則千萬，忸怩難堪。是症古所未有，惟夏子益《奇疾方》中曾見，亦但有主治之方，未載其症之來源。余於嘉慶年間，見一名妓，患此年餘而斃。曾有閩廣人識其症，曰：此淫穢過甚，浸漬於肌肉所化，肉盡則死。初見即治可救，遲則百無一生。今系素悉翁之稟賦極厚，胃納兼人之量，雖系尊年，春服過冬，如是天富精神，何由而遇斯疾？意者，好食鮮發，酷嗜腥羶，二者氣味濃厚，亦能浸漬於肌肉之間，未可知也。然肉既化為蟲矣，人其何以堪耶。邇已三月，治亦莫及。姑錄夏氏方試之，觀此可為貪欲無厭，好嗜鮮發者之戒。</p>
<p>白礬（少許），滴醋二三匙，泡湯代茶。</p>

<h1>黑癉</h1>
<p>吳（左）　癉症多種，黑者屬腎，腎氣過損者，曰女勞黑癉。今肌膚、舌質盡黑，手指映日俱黯。強壯之年，腎陽早已不舉，體雖豐腴，腰軟不耐少坐，脈弱神疲，納減足冷，顯然腎氣傷殘太甚，尚謂北路風霜所致乎。是症固非恆有，昔聞瀆鎮曾有人患此，遍處醫治，皆曰風毒，後遇顧西疇道破症名，宗濕熱流入腎經主治而愈。試即以此較之，症雖同而虛實又異矣。現屆深冬，姑先治本，需俟春暖陽和，再商他法。刻下赴任之舉，盍早計寬緩之請。</p>
<p>血餘（四兩，洗淨）　豬油（一斤，熬至發枯，取油盛貯，一切食物中可以用油者，俱用之。）　製附子（七分）　炒杞子（一錢五分）　炒川柏（一錢）　雲苓（三錢）　熟地（六錢）　生牡蠣（七錢）　炒菟絲（一錢五分）　茵陳（一錢五分）　炒杜仲（三錢）</p>
<p>復診　前方已服二十餘劑，肌膚之黑半化，其勢漸轉陰黃，形神大振，胃納加餐，且可耐勞理事矣。春令雖交，和暖未回。再擬補養脾腎，耐性調攝是妥。</p>
<p>人參（一錢）　於術（一錢五分）　炒沙苑（三錢）　炒懷藥（三錢）　炒杜仲（三錢）　茵陳（一錢五分）　炒杞子（一錢五分）　炒菟絲（二錢）　熟地（一兩）　雲苓（三錢）　炒川斷（三錢）　澤瀉（一錢五分）</p>
<p>再診　膚色花斑，症退陰黃，較之黑癉淺一層矣。培植脾腎之藥，已守四十餘劑，形神色脈，俱屬平善。節令將交驚蟄，春暖之氣已和，治當開泄腠理，以滌膚斑。</p>
<p>《內經》曰：必先歲氣，無伐天和；《易》曰：待時而動，何不利之有？其斯之謂歟。擬宗仲聖茵陳四逆法加減，三劑即停。接服丸劑可耳。黑色退盡之時，當在夏初。</p>
<p>製附子（五分）　白朮（一錢五分）　赤小豆（三錢）　帶皮雲苓（五錢）　生麻黃（五分）　茵陳（一錢五分）　炒川柏（一錢）</p>

<h1>交腸</h1>
<p>夏（右）　大小便易位而出，症名交腸。當得之大怒大飽之後，氣火先為錯亂，升降先為失常，以致清濁混淆，水滓不按常道而行，久則難治。</p>
<p>明礬（七分，敲如綠豆大，用腐衣雙層包紮，淡鹽湯送下）　日三服，三日九服，可愈。</p>

<h1>咳白血</h1>
<p>江（左）　咳吐似痰非痰，似血非血，左脈弦勁異常。邇屆春升木旺，木火上刑于肺，金令不肅，反為木克，更兼終日嗜酒，胃中常是熏蒸於上，肺為嬌臟，豈能耐此二火之日侮。症見《醫通》，曰：咳白血不治。倘能戒酒養性，拋俗塵而怡情山水，較之服藥勝多耳。否則木葉落時，恐難飛渡。屬在世交，用敢直陳，望質之高見，然乎？否乎？姑擬清降潤肺，權慰目前之急。</p>
<p>金石斛（三錢）　知母（一錢五分）　杏仁（三錢）　燕窩屑（二錢，包）　羚羊角（一錢五分，先煎）　川貝（一錢五分）　竹茹（一錢五分）　枇杷葉（三錢，去毛）</p>

<h1>肝厥頭痛</h1>
<p>沈（右）　巔頂頭痛，左目失明，痛甚則厥，經事頻沖，症患五六載，春季特甚焉。邇發正值春分，其勢更劇，脈虛弦數，胃納不思，左脅下痞癖攻逆，下體畏冷異常，臟陰大傷，虛陽無制，倘厥逆再勤，必至脫也。擬柔肝法，即參補納意。</p>
<p>肉桂（五分）　炒烏梅肉（三分）　煅磁石（四錢）　青鉛（一個）　熟地（一兩）　龍膽草（三分）　炙鱉甲（七錢）</p>
<p>復診　症情俱減，胃納稍進，脈猶虛弦，癖猶攻逆，厥脫之險雖緩，補納之法尚急。</p>
<p>前方去龍膽加淡吳萸（三分）</p>

<h1>濕痰內閉</h1>
<p>鄭（左）　形凜汗漬，脈濡神糊，舌如傅粉，沉睡痰逆，素系嗜酒之體，濕痰迷漫閉塞，擾亂神明所致。非陷也，閉也。慎勿開損，擬達原飲意。</p>
<p>茅朮（一錢五分）　法半夏（一錢五分）　煨草果（五分）　枳實皮（四分）　制川樸（一錢五分）　炒廣皮（一錢）　白芷（一錢）　山茨菇（五分，與枳實皮兩味，磨汁衝入）</p>
<p>復診　汗漬已收，神志轉清，藥後嘔痰盈碗，嘔後漸醒，脈猶濡細，舌苔白膩，瀰漫之勢雖除，尚宜燥濕祛痰。仍從太陰陽明主治，參以運下。</p>
<p>茅朮（一錢）　煨草果（三分）　法半夏（一錢五分）　炒青皮（一錢）　椒目（五分）　白朮（一錢五分）　制川樸（一錢）　白芥子（一錢，炒研）　炒陳皮（一錢）　通草（一錢）</p>

<h1>假噎膈症</h1>
<p>沈（左）　得食則嘔，已延月餘，形神疲乏，宛如格症。聽其言，觀其人，惟知明而動、晦而休，務農無怠者。診脈左關弦數，右關細軟，舌白口苦，寒熱往來，汗之有無，病者不知。蓋少陽見症，原有嘔惡，揆其情，任其嘔逆，以致反胃厭谷，胃氣日逆，類似噎膈，實由有邪蘊於少陽，一逕胃氣未達。據是脈證，先泄少陽之邪為妥。擬小柴胡意，佐以辛通。</p>
<p>柴胡（七分）　製半夏（一錢五分）　制川樸（七分）　炒川椒（二分）　陳皮（一錢）　紫蘇（七分）　炒蘇子（一錢）　青皮（一錢）　淡姜渣（五分，後下）</p>
<p>復診　前方本囑服兩劑。據述服後壯熱大汗，濕透衣被，即思納粥，因其效驗，連服一劑，今已吃飯，惟力不充矣。診其脈左關已軟，右脈尚細，與之和中。</p>
<p>黨參（三錢）　炒歸身（一錢五分）　炙甘草（三分）　炒川斷（一錢五分）　煨木香（三分）　白朮（一錢五分）　炒柴胡（三分）　雲苓（三錢）　陳皮（一錢）</p>

<h1>妊娠</h1>
<p>張（右）　前歲春間產女，夏季即病三瘧，入秋乳汁已干，經事一逕未至，屈指今春，已逾兩載。夫產婦自乳，往往經停，固無足異，至若因瘧而干，理或有諸。去秋瘧止之後，何以經仍不至，今見納減腹膨，形瘦面黃，遍體病態，宛然乾血癆瘵，無怪病人之急欲通經。但脈滑流動，孕象約將三月，雖屬脈證不符，還宜舍證從脈，擬以丸藥緩圖之。</p>
<p>胎產金丹（兩丸）　今先服一丸，五日後再服一丸。用川斷三錢，煎湯送下。香砂六君子丸（四錢）　清晨開水送下。後聞此婦，八月內生男。</p>

<h1>暑熱</h1>
<p>金（左）　身熱煩躁，有汗不解，病交五日，舌絳渴飲。平素吐紅頻發，感受暑熱，脈濡細而表熱壯。夫暑傷氣，熱傷陰，考《內經》云：脈虛身熱，得之傷暑。今氣陰並傷已甚，奚堪再與薷、藿、葛、柴，以重傷之。急進立中存陰，以和其熱。宗仲聖人參白虎湯加減。</p>
<p>人參（一錢）　麥冬（一錢五分）　知母（一錢五分）　生草（四分）　五味子（七粒）　生石膏（五錢）　藿斛（七錢）　粳米（四錢，包）　水炙桑葉（一錢五分）　白荷花露（一兩，衝入）</p>
<p>復診　熱解未淨，煩躁大減，舌絳較淡，渴飲亦緩，脈虛氣怯，神倦嗜臥。暑熱雖經清化，氣陰告竭甚急，此皆虛實莫辨，斫伐過度所致。最恐血症復來，必至無從措手。刻下留戀餘熱，姑且置之勿論。擬補元立中為主，毓陰佐之。</p>
<p>人參（一錢五分）　麥冬（一錢五分）　炒知母（一錢五分）　制首烏（四錢）　白粳米（四錢，包）　炙黃耆（二錢）　干藿斛（四錢，杵，先煎）　炒棗仁（一錢五分）　炙草（三分）</p>

<h1>伏邪</h1>
<p>馮（左）　寒熱如瘧者旬日，連絡無間者又五日矣。醫者咸謂年老體虧，餘邪留戀，參朮地冬之類，已投七劑。診脈洪數彈指，胸痞氣粗，舌苔灰垢厚濁，脘中按之痛，胸前㾦未透，日晡熱甚，譫語神糊。據是脈證有邪有滯，所聞與所見，殊屬霄壤矣。但邪滯沾補，愈膠愈結，熏蒸於中，內陷最速。按法冶病猶易，補救誤補實難，此豈醫者之忽，當自悔何以年尊也。事在危急，姑為醫病。擬表裡並疏，必得㾦從汗達，庶有轉機。</p>
<p>柴胡（六分）　前胡（一錢）　連翹（一錢五分）　豆卷（三錢）　蔞實（三錢）　杏仁（三錢）　竹茹（一錢五分）　枳實（七分）　桔梗（五分，枳桔二味磨沖）　先服萊菔汁一盞，攘入白荷花露一兩。</p>
<p>復診　汗泄未暢，㾦點未遍，胸悶依然，舌苔更厚，右脈數大有力，神志時慧時矇，矢氣頻轉，穢濁異常。邪滯尚是膠結不通，內傳之勢，猶是捷徑，補劑之功，蓋亦偉耳。再擬前法，從少陽陽明手太陰透達。</p>
<p>柴胡（五分）　前胡（一錢）　杏仁（三錢）　枳殼（五分，磨）　桔梗（五分，磨）　葛根（一錢）　炒牛蒡（一錢五分，杵）　連翹（三錢）　野薔薇露（一兩，衝入）</p>
<p>三診　汗暢㾦布，表熱較和，胸悶舒而神志亦清，右脈數而大便未通，表邪既泄，里滯宜行，擬從陽明腑分主治，仍參泄上之法，但舌苔之垢膩灰濁，倍於尋常，病將兼旬，猶未化動，後恐驟然剝落，又多變幻耳。</p>
<p>炒枳實（一錢）　麻仁（三錢）　黑梔（一錢五分）　前胡（一錢）　蔞實（三錢）　杏仁（三錢，研）　連翹（一錢五分）　炒竹茹（一錢五分）　涼膈散（七錢，包，後下）</p>
<p>四診　大便暢通之後，汗又大泄，㾦布滿腹，表熱微矣，脈數緩矣。痞悶既舒，而漸納糜粥，惟舌苔依然不化，當慎反復。</p>
<p>桑葉（一錢五分）　炒枳殼（七分）　川石斛（三錢）　炒銀花（一錢五分）　丹皮（一錢五分）　橘白（一錢）　塊滑石（三錢）　雲苓（三錢）</p>
<p>五診　白㾦暢布未回，汗亦津津自泄，熱解已淨，便又續通，反復之慮可免，而舌苔驟剝，即現光紅起裂，脈左細數，心煩少寐，究因邪滯久蘊，又以補劑助之，以致旋見劫陰之險。幸而㾦已透，汗已暢，大腑已通，否則液涸風動，昏陷之虞至易耳。</p>
<p>治病之難，難在揠拔補救，今忽於前者往矣，履險如夷者獨任耳。權擬救陰暫進，蓋老年之陰氣，傷則最難復者。</p>
<p>川連（五分，水炒）　生西洋參（一錢）　麥冬（一錢五分）　炒棗仁（一錢五分）　阿膠（蛤粉炒，一錢五分）　鮮藿斛（七錢）　云神（三錢）　生甘草（四分）　炒知母（一錢五分）　炒丹皮（一錢五分）</p>

<h1>類中</h1>
<p>吳（左）　水不涵木，木無滋養，內風旋擾，暈僕神昏，痰氣乘機上逆，脈道因之上魚。素屬嗜酒，好嘗厚味，中州之濕痰蘊釀久矣。肢麻見於前歲，已是中機微露，邇值春升，木火司令，藉煩勞過度而發，雖屬乘虛所致，姑先順氣化痰，俟其氣順痰降，再商治本之法。</p>
<p>炒蘇子（一錢五分，杵）　烏藥（五分）　旋覆花（一錢五分，包）　黃菊炭（一錢）　鉤鉤（三錢，後下）　整杏仁（三錢）　炒蒺藜（三錢）　炒白芥子（七分，杵）　生石決明（一兩）　鮮竹瀝（一兩，和入薑汁兩匙，衝入）</p>
<p>復診　昨宵子刻，神志醒豁，痰氣漸降，眩暈亦平，肢體可以自主，肢末麻木尚甚，痰火風擾亂之後，治以育陰熄風化痰為要。最怕呆補。</p>
<p>制首烏（三錢）　旋覆花（一錢五分，包）　丹皮炭（一錢）　黑芝麻（三錢）　焙天冬（一錢五分）　黃菊炭（七分）　橘絡（一錢）　炒竹菇（一錢五分）　生石決明（一兩）　鮮桑枝（七錢）</p>

<h1>蛔厥</h1>
<p>呂（左）　吐蛔而厥者，肝邪乘胃為多。茲則脈數舌紅，胃中伏火極重，蛔不安而上竄，況熱深者厥亦深。治當宗苦辛寒法。</p>
<p>川連（五分，薑汁炒）　煅石膏（五錢）　炒知母（一錢五分）　炒枳實（七分）　川楝子（一錢）　炒川椒（二分）　乾薑（三分）　吳萸（一分）　姜半夏（一錢五分）</p>

<h1>失音</h1>
<p>馬（左）　風霜勞碌，疊次受涼，已化熱者，蘊於肺絡，絡不耐熱，嗽血咽痛；未化熱者，尚縮於表。肺如鐘磬，金虛則鳴，金實則喑，滯邪則為實。治從開泄法。補肺潤肺之藥，惜早進矣。擬麻杏石甘湯加味。</p>
<p>生麻黃（五分）　杏仁（三錢）　射干（五分）　百部（一錢五分）　羚羊角（一錢五分）　生石膏（五錢）　生甘草（三分）　桔梗（七分）　浮石（三錢）　絲瓜絡（一錢五分）</p>

<h1>產後腹痛</h1>
<p>丁（右）　上臘嚴寒，生產受寒涼甚，當時瘀露云暢，臍下陣痛，迄今五月未止。閱所服藥，皆宗產後宜溫之例，固屬近是，惜未考經穴經隧耳。譬之鎖則買矣，何以不付以匙？買者不知，賣者當知，病者難曉，醫者當明。致使遠途跋涉，幸遇善與人配匙者。</p>
<p>肉桂（二錢）　細辛（五分），同研細末，飯粒為丸，均五服，每晨一服。</p>

<h1>風水</h1>
<p>江（左）　旬日內遍體皆腫，膚色鮮明，始也原有身熱，不慎風而即止，亦無汗泄。診脈浮緊，氣喘促，小溲閉，舌白不思飲，症系水濕之邪，藉風邪而鼓行經隧，是以最捷，倘喘甚壅塞氣機，亦屬致危之道。治當開鬼門，潔淨府為要著。</p>
<p>生麻黃（五分）　整杏仁（三錢）　蘇子（一錢，炒杵）　赤苓皮（三錢）　桂木（五分）　干浮萍（一錢五分）　生苡仁（三錢）　紫菀（七分）　大腹皮（一錢五分）　椒目（五分）</p>
<p>外用麻黃　浮萍　紫蘇　羌活　防風　生薑（各五錢）　閉戶濃煎，遍體揩熨，不可冒風。</p>

<h1>脾癉</h1>
<p>陳（左）　《內經》論濕熱蘊釀於脾胃，發為脾癉，口甜舌膩，納穀運遲，其味之甜，非甘美也，蓋五味變常所泛。古法以蘭草湯主之。取其香芳醒中，推陳致新之義。茲屆初夏，正當濕熱蒸變之際，是以脈數溲少，納更減而形神萎困，土德不振之至。最恐中滿變端。擬醒脾和胃，運濕化熱主治。</p>
<p>白朮（三錢，土炒）　干佩蘭（一錢五分）　制川樸（七分）　通草（一錢）　煨草果（三分）　西茵陳（一錢五分）　炒苡仁（三錢）　炒建曲（一錢五分）　炒半夏曲（一錢五分）</p>

<h1>陽越</h1>
<p>林（左）　病交八日，壯熱汗多，脈虛浮，而中沉兩按俱空。面色㿠白，舌質少神，喜暗畏明，懶言怕煩，一派虛陽外越之象。所服表散，獨計麻黃已三錢矣。童質單薄，病輕藥重，使之蹈虛脫之險，見亦寒心酸鼻也。急進補正回陽，固表收汗之法。</p>
<p>人參（一錢）　生綿耆（一錢五分）　五味子（二分）　炒棗仁（三錢）　云神（三錢）　製附子（五分）　生白朮（一錢五分）　煅牡蠣（五錢）　炙甘草（三分）</p>
<p>復診　熱解汗收，虛陽收斂，脈轉濡細，神思大倦，幸而童體，得有轉機之速。詢知三房只此一子，蓋亦險矣。醫藥一事，誠孽海也。可不慎乎！</p>
<p>人參（一錢）　蜜炙耆（一錢五分）　五味子（二分）　云神（三錢）　炙甘草（五分）　於術（一錢五分）　焙山藥（三錢）　制首烏（三錢）　炒棗仁（三錢）</p>

<h1>寒縮肝胃</h1>
<p>陸（左）　左脈不和，口苦舌白，半月以來，納日減，神日倦，自謂望八之年，衰老無疑，向醫討補，竟與之補，熟知早春之寒，縮伏肝胃之樞，宜從少陽宣泄，雖非補劑，三服可望霍然。勸翁勿藥有喜。</p>
<p>柴胡（四分）　炒白朮（一錢）　蔻仁（三分，研沖）　炒青皮（五錢）　雲苓（三錢）　乾薑（三分）　炒川椒（十五粒）　炒六曲（三錢）　炒陳皮（七分）</p>

<h1>瓜果傷中</h1>
<p>謝（左）　腹痛便溏，脈細舌白，涼風已至，猶嗜瓜果，倘奔走勞碌者，尚可運行，兄系呆坐書算，豈不停頓。況涉房事未遠，腎陽未復，腎為胃之關，脾胃為表裡，腹痛尚小恙也，後當填之。擬仿大順散意加減。</p>
<p>煨肉果（三分）　淡乾薑（三分）　帶皮杏仁（三錢，砂炒）　煨木香（四分）　炒白朮（一錢）　獨活（一錢，酒炒）　青皮（五分，酒炒）　柴胡（三分，酒炒）</p>

<h1>太陰三瘧</h1>
<p>劉（左）　三瘧兩載，形瘦腹脹，始也尚能強納，茲則厭谷不思，脈濡便溏，腿足浮腫。素系勞力之體，不恃穀食，而酒肉是飽，中氣常虧，瘧邪久戀，虛益虛，而病益深矣。擬補正敵邪，分期以進。</p>
<p>茅朮（一錢）　柴胡（四分，酒炒）　藿香（一錢五分）　炒常山（五分）　煨草果（三分）　炒青皮（七分）　制川樸（五分）　煨木香（三分）　鱉甲煎丸（七粒），藥汁送下。</p>
<p>用井河水煎，來期預服</p>
<p>潞黨參（三錢）　煨肉果（四分）　干佩蘭（一錢五分）　陳皮（一錢）　土炒白朮（一錢五分）　煨木香（四分）　製半夏（一錢五分）　青皮（五分）　空腹服。</p>

<h1>腸覃</h1>
<p>金（右）　腹滿如妊，經水按期而至，邇將九月，起居胃納如常，專科曰鼠胎，十二月乃產。診脈細小，腹無脹墜，考《內經》曰：婦人重身，何以別之？對曰：身有病，而無邪脈也。又曰：手少陰脈動甚者，妊子也。以外似妊而非妊者，分條並及。曰：月事以時下者，名腸覃。月事不以時下者，名石瘕。腸覃生於腸中，不妨月事；石瘕生於胞中，故妨月事。由此論之，是即腸覃。既曰專科，乃昧於聖經，而以不經之談為證據乎。擬按經旨勿攻奪之意著想，其惟和理氣血，聊佐推敲。</p>
<p>老蘇梗（一錢五分）　炒桃仁（三錢）　炒黑丹皮（一錢五分）　瓜蔞仁（三錢）　陳香櫞（一錢）　歸尾（一錢五分）　炒橘核（三錢）　生瓦楞（一兩）</p>

<h1>咳嗽</h1>
<p>王（左）　冬月咳嗽，極似著寒，嗽陣急而痰湧白膩，腹膨脹而便溏溲短，脘膈鳴響，脈濡舌白，全是一派濕象。何以發於冬令，意者，今秋陰雨過多，水退極遲，水濕之氣，感而伏焉。《內經》原有秋傷於濕，冬生咳嗽之文，余幼時讀到此篇，嘗疑其濕字，或應燥字，今見是症，信有諸矣。夫惟學然後知不足，讀書雖易，會悟最難耳。擬以輕宣泄化法。</p>
<p>苡仁（生，三錢）　通草（一錢）　干佩蘭（一錢）　蔻殼（七分）　旋覆花（一錢，包）　杏仁（三錢）　赤苓（三錢）　大腹皮（一錢五分）　蘇子（三錢）　橘絡（一錢）</p>

<h1>晨瀉</h1>
<p>倪（右）　五載晨瀉，起自產後，納減形瘦足浮，日甚一日，培中分利之藥，遍嘗罔效。詢系每在五鼓，必腹中雷鳴切痛，晨起一瀉之後，痛除而竟日安然。脈已濡細，又非挾滯，其痛也，始終不更。其瀉也，不專責於脾矣。產之時，痧子雜來，產後五年中，風痧頻發，箇中有奧妙焉，且不道破，俟同學見之一想。</p>
<p>土炒白朮（一錢五分）　荊芥炭（一錢）　炒防風（一錢）　霞天曲（一錢五分，炒）　煨肉果（四分）　檉柳炭（一錢五分）　桔梗（一錢）　丹皮炭（一錢）　生甘草（三分）　小赤豆（三錢）</p>
<p>復診　五載之累，一朝頓釋。蓋晨瀉一症，腹膨脹則有之，而必雷鳴切痛者特少，是以不專責於脾虛，而旁敲側擊，庶得窺其真諦。信哉！臨證之望聞問切，四字不可缺一也。茲既幻想見效，不必更以方藥，就原方再服十劑，可以拔其根矣。</p>
<p>原方十帖</p>

<h1>風毒伏肺</h1>
<p>孫（右）　哮症數年，交秋必發，發則淹延兼旬，需見如膠如飴之痰則平。夢蘭先生調治多年，為斯疾之異也而問道於盲。詢其數載中起居，平昔所畏者熱，所喜者涼，而鮮發未慎，膏肓之俞，平靜之日常冷，發作之時灼熱。</p>
<p>夫肺臟屬金，金旺於秋，伏風層疊蘊絡，延為風毒，清虛之臟，性嬌且潔，奚肯容其盤踞於絡，是以藉旺令必與之爭衡耳。風為陽邪，其性易於化火化熱，是以發病之際，背俞灼熱，而目亦赤焉。預擬一方俟臨發時服之，夏季沐浴，常以百部濃煎，暢熨其胸背，務使津津有汗最佳。管見若此，妥否俟裁。</p>
<p>生麻黃（三分）　紫菀（五分）　百部（一錢）　炒枳殼（五分）　射干（三分）　鎊羚羊角（一錢）　杏仁（三錢）　前胡（一錢）　橘絡（七分）　土貝（三錢）　絲瓜絡（一兩）　冬瓜子（五錢）　二味煎湯代水。</p>
<p>三四劑為則，勿過服。</p>

<h1>春溫</h1>
<p>畢（左）　身熱據述解在兩候，僅以不納不便為病。診脈弦數，舌根灰膩，胸脘痞悶，汗未曾達。詢系先輩曾誤服柴胡，後人永不敢嘗。今乃少陽陽明邪滯互阻，柴胡為少陽泄邪要藥，何能拘疑？若不早為泄邪通滯，勢必陡然內陷之變。擬表裡並疏，切勿因循玩怠。</p>
<p>柴胡（五分）　枳殼（五分，磨）　杏仁（三錢）　陳皮（一錢）　豆卷（三錢）　連翹（一錢五分）　桔梗（一錢）　前胡（一錢）</p>
<p>復診　汗稍泄，胸悶更甚，㾦不暢，熱壯神糊，病已兼旬，邪滯乍動，躍躍欲陷之勢已見，邪滯之久蘊可知矣。病情正當猖熾，何敢擅許坦途。</p>
<p>柴胡（六分）　枳實（五分，磨）　連翹（一錢五分）　丹皮（一錢五分）　葛根（一錢）　蔞仁（三錢，杵）　炒竹菇（一錢五分）　黑梔（一錢五分）　真珠粉（三分，研細調服）　薔薇露（一兩，衝入）</p>
<p>三診　汗已暢達，疹㾦大透，表熱漸將解矣。脈緩悶除，舌未化而頻轉矢氣，大便之下不遲也。擬轉清泄法，參以潤下，冀其腑分一通，庶無變幻。前此可謂養病以待其變，幸而速與透達，不則懊悔莫及。</p>
<p>桑葉（一錢五分）　炒枳實（一錢）　杏仁（三錢）　丹皮（一錢五分）　連翹（一錢五分）　豆卷（三錢）　蔞仁（三錢）　麻仁（三錢）　黑梔（一錢五分）　炒竹茹（一錢五分）</p>

<h1>內傷脾胃</h1>
<p>朱（左）　年將及冠，體貌未揚，腹滿且硬，大便溏結不常，瓜果生冷，一向性之所好。童質內傷脾胃，即是疳膨食積，反有食不厭飽之態，蛔已病矣，消克太峻，恐損傷難復。擬培中疏中並進，麥食生冷，切宜痛戒。</p>
<p>白朮（一錢五分，土炒）　川連（五分，酒炒）　烏梅肉炭（二分）　川楝子（七分）　煨肉果（四分）　炒川椒（二分）　炒枳實（五分）　檳榔（三分）　炒五穀蟲（一錢五分）　炙雞內金（一錢五分）</p>

<h1>食復</h1>
<p>汪（左）　濕熱乍愈之時，強食太牢，雖曰未多，病熱又復，冒險之至，後當自慎。擬宗食復例分消。</p>
<p>淡豆豉（三錢）　炒熾實（一錢）　炒萊菔子（三錢）　陳皮（一錢）　黑山梔（一錢五分）　楂炭（三錢）　廣藿梗（一錢五分）　蘇梗（一錢五分）　陳稻柴（一握，洗淨，煎湯代水）。</p>

<h1>嘔血</h1>
<p>馬（左）　素稟躁急，酷嗜麥食，而勿嘗穀食者蓋有年矣。夫肝用有餘之體，而麥為肝谷，致使剛臟大夫和平，血嘔盈盆，純是紫色凝塊，嘔後火升，肝陽有升無降，但肝為藏血之臟，將軍之性，不動則已，動則猖獗，若不向靜思順，再多惱怒，難料其不復。蓋氣為血之帥也。擬苦降直折之法。</p>
<p>龍膽草（三分，鹽水炒）　川連（五分，鹽水炒）　川楝子（一錢）　生地炭（四錢）　真蘆薈（五分，烊入）　烏梅（二分，炒枯）　炙石決（一兩）　藕節炭（三錢）　青鉛（二個）</p>

<h1>疫症</h1>
<p>吳（左）　壯熱神糊，陡然而發，脈數大而混糊失序，舌垢膩而層疊厚布，矢氣頻轉，小溲自遺，脘腹按硬，氣粗痰鳴，既非尋常六氣所感，亦非真中，類中之症。觀其濈濈自汗，汗熱而不黏指，轉側自如，四體無強直之態，舌能伸縮，斷不近中，設使外感，何致一發即劇，而安能汗肯自來？倘宗傷寒法，先表后里，下不厭遲之例，待其斃矣。曾讀吳又可先里後表，急下存陰之論否，蓋是症也。一見藍斑，胃已爛而胞絡已陷，迅速異常。盍早議下，尚可僥倖，諸同學以為然否？</p>
<p>生軍（八錢，後下）　制川樸（一錢）　淡芩（一錢五分）　檳榔（五分）　枳實（一錢，磨沖）　煨草果（四分）　知母（一錢五分）　陳皮（一錢）</p>
<p>復診　神志時清，表熱自汗，腹猶拒按，矢氣尚頻，便下黏膩極穢者未暢，小溲點滴如油，脈數略有次序，舌苔層布垢濁，胃中氾濫蒸變之勢，尚是凶勇，必得再下，需俟里滯漸楚，然後退就於表。吳又可治疫之論，蓋亦闡發前人所未備，甚至三下而退走表分者，若作尋常發熱症治之，豈不謬乎！</p>
<p>生軍（五錢，後下）　炒枳實（一錢五分）　銀花（二錢）　炒知母（一錢五分）　制川樸（一錢）　炒川連（五分）　丹皮（一錢五分）　滑石（三錢）　元明粉（一錢五分，後下）</p>
<p>三診　大腑暢通，悉是如醬如飴，極穢之屎。腹已軟而神已爽，表熱壯而汗反艱，舌苔半化，脈數較緩，渴喜熱飲，小溲稍多，此際腑分之蒸變乍平，病邪退也表分，當以疏達。先里後表之論，信不誣也。</p>
<p>柴胡（五分）　炒枳實（一錢）　制川樸（七分）　通草（一錢）　法半夏（一錢五分）　藿香（一錢五分）　連翹（一錢五分）　陳皮（一錢）　赤苓（三錢）　大腹皮（一錢五分，洗）</p>
<p>四診　表熱隨汗就和，舌苔又化一層，脈轉細矣，神亦倦矣，病去正虛之際，當以和養中氣，佐輕泄以滌餘熱，守糜粥，以俟胃醒，慎勿以虛而早投補劑，補之則反復立至也。</p>
<p>桑葉（一錢五分）　川石斛（三錢）　炒扁豆（三錢）　炒半曲（一錢五分）　生甘草（三分）　豆卷（三錢）　炒橘白（一錢）　炒苡仁（三錢）　丹皮（一錢五分）</p>

<h1>傷寒</h1>
<p>朱（左）　發熱惡寒，頭項強痛，無汗胸痞，脈浮緊細，症屬正傷寒，南方所罕見。詢系連朝營墓辛勤，屆在嚴寒曠野，深受外邪，太陽表證悉具，宗仲聖不汗出而煩躁者，大青龍湯主之。</p>
<p>生麻黃（五分）　整杏仁（三錢）　生薑（五分）　大棗（二枚）　防風（一錢）　桂枝（五分）　生石膏（三錢）　甘草（三分）　羌活（七分）</p>
<p>復診　病甫兩日，太陽證未罷，而陽明少陽證已悉具，可知南人稟賦柔弱，其傳經之迅速若此。汗既未暢，擬三陽並泄。</p>
<p>生麻黃（四分）　柴胡（四分）　白芷（七分）　連翹（一錢五分）　姜渣（五分）　葛根（七分）　羌活（五分）　杏仁（三錢）　黑梔（一錢五分）　大棗（一枚）</p>
<p>三診　汗暢熱解，煩躁已除，脈轉細小，形疲體酸，嗜臥而思納穀矣。其發也凶悍，其傳也迅速，其退也亦易易，究屬質弱易感易達，不若北方之風氣剛勁，稟賦厚而腠理實，必至傳變遍六經乃已。是症若宗三時六氣治之，勢必淹纏幾候耳。擬和營衛法。</p>
<p>桂枝（四分）　炒秦艽（一錢五分）　炒橘白（一錢）　姜渣（三分，後下）　防風（七分）　炒桑枝（五錢）　雲苓（三錢）　黑棗（一枚）</p>

<h1>賁豚</h1>
<p>胡（左）　少腹塊磊，上攻腹脘，其力猛而痛勢劇，轉瞬之間，腹中鳴響，則塊磊一陣向下即平，症名賁豚者，因其性情蹤跡行止，類似江豬耳。然考其症有三：犯肺之賁豚屬心火；犯心之賁豚屬腎寒；臍下悸，欲作賁豚者屬水邪。今系腎水寒邪所發，體屬陽虧所致。擬以真武湯參賁腸湯意。</p>
<p>雲苓（五錢）　川芎（五分）　炒小茴（五分）　炒歸尾（一錢）　製半夏（一錢五分）　附子（五分）　炒白芍（一錢）　酒炒橘核（三錢）　李根白皮（一兩，煎湯代水）</p>

<h1>呃</h1>
<p>邱（左）　身熱未止，驟來呃逆。呃之勢，震動臥床；呃之聲，聞之客坐。今已六日，熱雖解矣，呃猶極甚。詢其來由，系半夜口乾思飲，健者嗜臥，懶為烹茗，答曰：茶已冷，未幾又睡著。欲飲者，料為煮熱，答應者，仍在夢中，半晌不見茶來，渴愈甚而氣火升騰，大聲疾呼之下，健者強起應之，仍是答以茶已冷，怒氣勃勃，就冷飲之，呃隨是起，其為氣逆作呃也顯然，與腎虛呃逆者迥異。但呃最傷胃，且易變端，亦非小恙也。姑與順氣通降之法，即能平善乃妥。</p>
<p>淡吳萸（三分）　旋覆花（一錢五分，包）　烏藥（五分）　法半夏（一錢）　白石英（四錢）　炒川椒（三分）　炒蘇子（三錢）　沉香（七分）　生石決（一兩）</p>
<p>復診　呃逆已平，語形氣促，胃氣傷而涉腎關矣，喘將作之證也。診脈關尺俱浮，元海根松，喘來即脫，極險之機，從何施設。擬丹溪法填納下元，急則治本之計。</p>
<p>大熟地（六錢）　炒炭杞子（一錢）　沉香片（一錢）　煅磁石（四錢）　臺參鬚（一錢）　炒杜仲（三錢）　炙龜版（一兩）　煅牡蠣（七錢）　坎炁（一條，洗）　炙蚧尾（一對）</p>
<p>三診　呃未復而喘未作，關尺之脈已向平，語言稍舒，胃納不逆，病機只緣一怒，險關幾難逃脫，若非眼明手快，此際不知如何。</p>
<p>原方再服兩劑，當更易處再議。</p>

<h1>痹症</h1>
<p>毛（左）　四體疼痛，遇冷則發，甚至頸項強直，右臂不能高舉。症得五載，咸謂氣血就虧，而一向服補，有增無減。症由風寒濕三氣雜受，始於筋絡經隧，漸侵骨節，痹症已成，尚恐及痿。《內經》曰：風氣勝者為行痹，寒氣勝者為痛痹，濕氣勝者為著痹。痹久延痿，痿久處瘓，日漸日深之病也，豈易驟拔。姑與宣絡泄邪。</p>
<p>威靈仙（酒炒，一錢）　羌活（五分）　炒秦艽（一錢五分）　旋覆花（一錢五分，包）　獨活（一錢，酒炒）　炒狗脊（一錢五分）　鮮桑枝（酒炒，二兩）　油松節（一兩，劈）　（二味煎湯代水）</p>

<h1>暑熱</h1>
<p>石（左）　表熱微汗自泄，氣餒脈濡，神倦言懶，消散連與，氣陰愈耗。曾見聖經脈虛身熱，得之傷暑文義否？夫暑傷氣，熱傷陰，高年氣陰就衰，不耐暑熱交加，縱使高堂廣廈，難禁口鼻吸受，奚必奔走日中，而後暑熱可侵。蓋夏令之感受最雜，務審來由，以投藥石，倘強逼其汗，過戕其中，不但表熱不解，竊恐意外之變幻不旋踵而至矣。擬仿東垣清暑益氣法，去其疏泄，以立中為主，必得應手乃妥。</p>
<p>人參（一錢）　白朮（一錢）　五味（七粒）　歸鬚（七分）　炙草（三分）　黃耆（一錢，水炙）　麥冬（一錢，米炒）　棗仁（一錢，炒）　升麻（二分）</p>
<p>復診　表熱又微，自汗尚多，呵欠頻來，呃忒間作，神思益倦而更懶矣。脈虛且軟，而溲反勤矣。昨已進補，猶且虛波疊至，設再消散，今將補救莫及。急擬溫補，護真陽而建立中氣，為目前之要著。</p>
<p>人參（一錢半）　黃耆（一錢五分，蜜炙）　五味（十粒）　丁香（二分）　大棗（一枚，劈）　桂枝（三分）　杞子（一錢，炒黑）　炙草（四分）　白芍（一錢，炒）　姜渣（三分，後下）</p>
<p>三診　自汗已收，身熱已淨，神思來復，呵欠呃忒並止，脈猶濡細，溲便之勤未減，中下兩虧，氣陰俱乏。再擬脾腎雙補法。</p>
<p>人參（一錢）　炒鬆熟地（五錢）　炒萸肉（一錢）　煨益智（五分）　炙甘草（三分）　於術（一錢五分）　炒杞子（一錢）　土炒懷藥（三錢）　云神（三錢）</p>

<h1>中暍</h1>
<p>顧（左）　膏粱之體，豈耐疲勞於赤日，暑熱之氣，乘虛吸受於臟腑。致暈僕途間，神志且朦，所幸舌本不強，小溲未遺，脈浮數，尚是中暍之輕者。先與西瓜汁暢飲，擬以生鐵落飲（開）瀉之。</p>
<p>生鐵落（二三兩。淘淨，用鐵錘同鐵落於擂盆內和以開水，磨汁澄清飲之。）</p>

<h1>血痢</h1>
<p>計（左）　暑濕熱下痢，始系赤白相雜，晝夜數十餘次，旬日後痢雖減，而純下血矣。蓋痢瘧之門，諸法畢備，虛實並涉，全憑六經證據，今已傷及肝腎，病情最深，非易治者。姑先以清熱存陰，宗厥陰下痢之條。擬白頭翁湯，復以黃連阿膠湯意。</p>
<p>白頭翁（三錢）　水炒川連（五分）　鹽水炒川柏（一錢）　丹皮炭（一錢五分）　地榆炭（一錢）　北秦皮（一錢）　阿膠（一錢五分，蛤粉炒）　白芍（一錢五分）　乾荷葉蒂（三個）</p>
<p>復診　下血較昨雖半減，而其來必陣下，腸中已無堵塞之象，腎關亦見下撤之勢，最恐轉脫。擬宗昨方參桃花湯加減。</p>
<p>赤石脂（四錢，包）　川連（四分，水炒）　阿膠（一錢五分，蛤粉炒）　地榆（一錢）　乾薑炭（五分）　炒川柏（一錢）　白芍（一錢五分）　丹皮（一錢）　炙甘草（三分）　白粳米（四錢，包）　赤石脂（二錢，滴水水丸，藥湯送下）</p>
<p>三診　血下緩而大減，脈微神倦，氣陰並乏矣。堵塞存陰之法，尚不可撤。擬就昨方加立中意。</p>
<p>原方加人參（一錢）　另煎衝入</p>

<h1>疝氣</h1>
<p>陳（左）　數載疝疾，與年並深，始則因寒因濕，繼涉肝虛腎乏，考《內經》論疝，責之八脈，後賢闡發，又以七疝各分經次之，寒熱虛實久暴諸法，可謂詳且明也。今疝發之時，喘且汗，肝腎之虛，八脈之虧明矣。擬顧本溫運，參入辛香通腎之意。</p>
<p>肉桂（三分）　炒小茴（五分）　酒炒獨活（一錢）　酒炒香附（一錢五分）　炒枯熟地（五錢）　細辛（二分）　酒炒橘核（三錢）　沉香片（四分）　炒牛膝（四分）　茯苓（一錢五分）　炒杜仲（一錢五分）</p>
<p>上方五服，後以十服為末，水泛丸繼之。每服三錢，開水送下。</p>

<h1>癧痰</h1>
<p>施（左）　惱怒抑鬱，內火自生，火能爍痰，氣結痰凝，火之性上炎，痰隨之上竄，結核成串於左項，安保右項之不發？壯年樸實之體，而得斯疾，良亦偏於性情之固執也。倘能暫拋誦讀，專以舒悶暢懷為事，則癧痰之消，猶可計日而待。蓋不若自戕本元者之水虧火旺，而爍痰成串也。諺云：見兔顧犬，未為遲也。夫意必固我，聖人猶且絕焉，設聽其絡內四竄，久延必至於潰，則終身之累矣，後悔莫及。聊贈數言，然乎？否乎？</p>
<p>旋覆花（一錢五分，包）　白芥子（七分，炒研）　海藻（一錢五分）　橘絡（一錢）　蘇子（一錢，炒研）　白杏仁（三錢）　昆布（一錢五分）　酒炒香附（一錢五分）　水炒竹茹（一錢五分）　丹皮（一錢五分）</p>
<p>復診　通絡化痰，利氣開鬱之方，已投七服，左項痰核軟而可推，余絡未竄，脈仍弦數，大便五日不行，內火猶熾。再擬化痰通絡法。</p>
<p>旋覆花（一錢五分，包）　海藻（一錢五分）　炙山甲（七分）　黑梔（二錢）　炒白芥子（七分，杵）　昆布（一錢五分）　炙鱉甲（五錢）　丹皮（一錢五分）　栝蔞皮（一錢五分）　鮮竹瀝（一兩，衝入）</p>
<p>三診　前擬之方，又服五劑，痰核已消三粒，所剩四粒，亦軟而小，其勢不至四竄矣。脈弦軟小，大便既暢。再擬化消，以冀速除，方藥雖經奏效，半藉怡養工夫之力耳。前所贈言，平日思之，可杜其復。</p>
<p>旋覆花（一錢五分，包）　橘絡（一錢）　炙山甲（七錢）　川楝子（一錢）　粉丹皮（一錢五分）　土貝母（三錢）　昆布（二錢）　海浮石（三錢）　黑山梔（一錢五分）　鮮竹瀝（一兩，衝入）</p>

<h1>暴聾</h1>
<p>陸（左）　惱怒動肝，氣火升騰，大聲疾呼之餘，左耳鳴響失聰，脈弦口苦，舌黃苔糙，肝膽火升不降，恐至擾及血分，靜養旬日，可望其復。擬鹹苦入陰法，參酸苦泄熱意，俾得平順乃妥。</p>
<p>川連（鹽水炒，五分）　烏梅（二分，炒）　川楝子（一錢）　丹皮炭（一錢五分）　龍膽草（三分，炒）　炒黃菊（一錢）　煅石決（一兩）　黑山梔（二錢）　臺烏藥（五分）　青鉛（一枚）</p>

<h1>消症</h1>
<p>曹（左）　乍納又飢，消爍迅速，如火之燎於原，凡物即為灰燼。病此半月，肌肉盡削，詢系失意事多，焦思內火日熾，胃液乾涸，臟陰損傷，而沖斥之威難以撲滅耳。姑擬玉女煎加味。</p>
<p>大生地（一兩，片）　麥冬（三錢）　元參（一錢五分）　阿膠（一錢五分，烊入）　生石膏（一兩）　知母（二錢）　生甘草（一錢）　炒白芍（一錢五分）　女貞子（一錢五分）　旱蓮草（一錢）</p>
<p>復診　兩進甘涼救液，大勢僅減二三，渴飲反甚，溲渾而濁，上中之消，又傳到腎消矣。三消並涉，津液必至告竭，症情極險，再擬從治之法。宗河間甘露飲加減，必得十減七八乃幸。</p>
<p>人參（一錢，另煎衝入）　熟地片（六錢）　生石膏（七錢）　生白芍（一錢五分）　肉桂（五分，另煎衝入）　生地片（八錢）　麥冬（三錢）　炙甘草（五分）　川柏（一錢五分，鹽水炒）</p>
<p>三診　從治之法，始也依然，繼則大減，藥三進，而納日退矣。小溲混濁轉清，舌苔光紅亦淡。擬宗前方小其制，仍守上中下三消並治。</p>
<p>人參（一錢，另煎衝入）　熟地片（八錢）　川連（五分，鹽水炒）　烏梅肉（三分，炒）　肉桂（三分，另煎衝入）　生地片（四錢）　川椒（炒，二十一粒）　炙草（五分）</p>
<p>四診　連進顧本從治之法，並參苦辛酸安胃，允稱應手。今胃納安常，諸款皆平，而津液之受傷，如燎原之場矣。善後之法，是當立中毓陰，以望其復。</p>
<p>人參（一錢）　生西洋（一錢五分）　天冬（一錢五分）　炒知母（一錢五分）　熟地（五錢）　北沙參（三錢）　麥冬（一錢五分）　干霍斛（四錢，杵，先煎）　炙甘草（三分）</p>

<h1>黃疸</h1>
<p>陳（左）　遍體發黃，其色鮮明，口渴脈數，症屬陽黃。因胃中瘀熱，熱處濕中，蒸於內而發於外，治與陰黃異。擬苦辛寒泄化為主。</p>
<p>干佩蘭（一錢五分）　姜川連（五分）　滑石（三錢）　炒陳皮（一錢）　制川樸（一錢）　姜淡芩（一錢）　茵陳（二錢）　炒建曲（一錢五分）　小赤豆（四錢）　赤苓皮（二錢）</p>

<h1>鼻衄</h1>
<p>謝（左）　鼻衄盛發，成流不止者已三日，面赤足冷至膝，脈數，寸關猶甚。血去過多，心蕩神馳，陰虧內熱之體，厥陽化火上逆，擾動脈絡，血行清道而灌注，從高而下，非若吐血之易定，血有幾何，豈堪長流？擬宗內因五志之火升騰所致，以涼血補降一法。</p>
<p>鎊犀角（七分）　川連（五分，鹽水炒）　炒女貞（一錢五分）　炙龜版（一兩）　熟地片（七錢）　阿膠（蛤粉炒，一錢五分）　旱蓮草（一錢）　煅磁石（五錢）　洋青鉛（一枚）　牛膝（七分，鹽水炒）</p>
<p>復診　鼻衄雖止，面色唇口㿠白，虛陽雖降，額汗心悸畏明，脈虛而數，舌光而振，氣乏血涵，血無氣護，陰陽脫離之象，氣血渙散之險，急進雙補，使其依附有歸，佐咸降酸收以攝之。</p>
<p>人參（一錢）　天冬（一錢五分）　秋石（二分，烊入）　炒棗仁（三錢）　熟地片（一兩）　阿膠（一錢五分，烊入）　杞炭（七分）　生白芍（一錢五分）　云神（三錢）　南棗（二枚）</p>

<h1>䐜脹</h1>
<p>潘（右）　脘腹脹逆，溲便秘阻，脈細舌白，泛酸嘔涎，寒濕阻於肝胃，無形之氣所痹著。詢知腹軟，可知非滯，泄化之法當進，推蕩之藥何意？</p>
<p>淡吳萸（二分）　干佩蘭（一錢）　椒目（五分）　大腹皮（一錢五分，洗）　醋柴胡（四分）　制川樸（七分）　通草（七分）　酒炒獨活（一錢）　炒青皮（五分）　香櫞（一錢）</p>

<h1>眩暈</h1>
<p>呂（左）　眩暈多年，每於濕蒸之際甚發。今初夏潮濕過重，發亦頻頻。診脈濡細，舌苔膩白，考古法眩暈一症，概從《內經》諸風掉眩，皆屬於肝之論，大旨不外乎風陽上旋，辨別挾濕挾痰之治。今按脈症，乃濕鬱上泛，挾痰膩膈所致，固前人未經論及，面臨診亦罕見也。擬辛香運中，以化濕化痰主之。</p>
<p>茅朮（一錢）　制川樸（一錢）　旋覆花（一錢五分，包）　蘇子（一錢五分，杵）　草果（四分，煨）　製半夏（一錢五分）　炒白芥子（七分，研）　陳皮（一錢，炒）　椒目（五分）　赤苓（五錢）</p>
<p>復診　眩暈不復，舌白依然，脈濡便溏，脘中較爽。信系體肥多濕，嗜酒多濕，臥於地坑之上亦感濕，好飲冷茶亦停濕，倘泥於古法而滋降，不亦遠乎！再擬昨方加減，仍守太陰陽明主治。</p>
<p>茅朮（一錢）　草果（五分，煨）　干佩蘭（一錢五分）　製半夏（一錢五分）　白朮（一錢五分，土炒）　藿梗（一錢五分）　制川樸（一錢）　旋覆花（一錢五分，包）　陳皮（一錢，炒）　通草（一錢）</p>

<h1>痛經</h1>
<p>邵（右）　痛經數年，不得孕育，經來三日前必腹痛，腹中有塊凝滯，狀似癥瘕伏梁之類，納減運遲，形瘦神羸，調經諸法，醫者豈曰無之，數載之中，服藥亦云無間，何以漠然不應。詢知閨閣之時無是痛，既嫁之後有是疾，痛之來源，良有以也。是症考古卻無，曾見於《濟陰綱目》中載及，姑勿道其名目，宗其意而立方，不必於平時服，俟其痛而進之，經至即止，下期再服。</p>
<p>荊三稜（一錢，醋炒）　延胡（一錢五分，醋炒）　香附（一錢五分，生杵）　制軍（一錢）　蓬莪朮（一錢，酒炒）　桃仁（三錢）　丹皮（一錢五分）　炒歸身（一錢五分）　炒枳實（七分）　川芎（四分，炒）</p>
<p>復診　前方於第二期經前三劑，經來紫黑，下有似胎非胎長形者一塊，邇月不腹痛而經至矣。蓋是症亦系凝結於胞中者，今既下矣，復何慮乎？</p>
<p>柴胡（三分，醋炒）　炒白芍（一錢五分）　川石斛（三錢）　川芎（五分，炒）　白朮（一錢五分，生）　炒歸身（一錢五分）　粉丹皮（一錢五分）　橘白（一錢，炒）　炒穀芽（一兩，煎湯代水）</p>

<h1>淋濁</h1>
<p>周（左）　誦讀過勞，心陽熾而吸引腎水，腎氣不固，淋濁雜下，尿必莖痠，忍則莖痛，任脈乏約束之權，腎臟系藏精之重，其堪傷乎？治宗通補，倘過投固澀，又慮瘀滯之變幻耳。</p>
<p>熟地炭（五錢）　炒丹皮（一錢五分）　遠志炭（五分）　川柏（鹽水炒，一錢）　炙龜版（一兩）　辰天冬（一錢五分）　炒棗仁（一錢五分）　丹皮炭（一錢五分）　炒車前（一錢五分）　淡竹葉（二錢）</p>
<p>復診　前方五服後，淋濁雖未減，尿時痠痛較緩，脈左弦數略平，邇在敝郡，散步怡情，亦涵養心腎之一助。但是症欲速不能，必使由漸就減，庶是王道治法。蓋精欲其藏，濁懼其凝，是以補之中，當寓通意，往往驟投固澀，而致變幻耳。</p>
<p>熟地片（七錢）　天冬（一錢五分）　炒潼蒺（一錢五分）　朱云神　川柏（一錢五分，鹽水炒）　麥冬（一錢五分）　丹皮炭（一錢）　炒棗仁（三錢）　炒車前（三錢）　澤瀉（一錢五分）</p>
<p>三診　淋濁大減，溲轉色赤，心火有下泄之機，腎氣有閉蟄之徵。擬以前方，略佐苦降。</p>
<p>熟地片（一兩）　天冬（三錢）　川連（三分，鹽水炒）　炒棗仁（三錢）　炙龜版（一兩）　杜仲（三錢，鹽水炒）　川柏（一錢，鹽水炒）　云神（三錢）　生苡仁（三錢）　澤瀉（一錢五分）</p>

<h1>噎膈反胃</h1>
<p>鄒（左）　望六之年，氣陰就衰，猶是操勞過度，事多不遂時風，每致自惱而得是症。夫食難下咽曰膈，食下梗塞曰噎，朝食暮吐，暮食朝吐，曰反胃。今見證悉具，若見便艱，關格成矣。脈細而澀，舌白厭飲，姑進溫順，以舒胸陽，降逆以順氣機。急宜向靜勿勞，屏卻思慮，或冀藥餌見功。</p>
<p>肉桂（四分）　蓽茇（五分）　法半夏（一錢五分）　蘇子（七分，砂研）　吳萸（二分）　川連（三分，薑汁炒）　黑芝麻（三錢）　烏藥（五分）　沉香汁（三小匙，衝入）　甘蔗汁（一小杯，衝入）</p>
<p>復診　溫潤降逆之法，連服三劑，湯飲與粥，不致阻塞，舌苔轉紅，脈轉細數，下體畏冷勝常，陽亢於上，陰衰於下，二氣之失和極矣。治上治中礙陰，顧陰顧液礙胃，仍守溫潤。</p>
<p>肉桂（四分，作丸吞服）　戈製半夏（一錢）　甘蔗汁（一小杯）　柏子仁（三錢）　蓽茇（五分）　鮮生地汁（兩許）　麥冬汁（半兩許）</p>
<p>三診　溫潤又投兩服，反胃三日未來，試嘗飯食亦受，舌紅較淡，畏冷亦和，陰衰陽亢之象雖減，而二氣之虧已甚，再擬溫補。</p>
<p>肉桂（四分，另煎衝入）　大生地（五錢）　炒川椒（十五粒）　雲苓（三錢）　製附子（四分）　川連（三分，水炒）　烏梅（一個，炒）　烏藥（三分）　淡乾薑（三分）　天冬（一錢五分）</p>

<h1>喉痹</h1>
<p>夏（右）　咽痛音啞，上冬入春未愈，邇多咳嗽，嗆甚又增咯血，則音更啞，而咽更痛，火升於上，水虧於下，肺腎並病，勞怯顯然。所恃經水尚能按期，胃納猶可適中，或能服藥見效耳。</p>
<p>西洋參（一錢五分）　麥冬（一錢五分）　叭杏仁（三錢）　炒竹茹（一錢五分）　燕窩屑（二錢，包）　川貝母（一錢五分）　元參（一錢）　干霍斛（四錢）　生石決（一兩）　枇杷葉（三錢，去毛）</p>
<p>復診　諸恙稍減，脈弦虛細，久延增端之症，能奏微效已幸。耐心調攝，可望病退。</p>
<p>淨玉竹（三錢）　川貝（三錢）　杏仁（三錢）　炒竹茹（一錢五分）　燕窩屑（二錢，包）　麥冬（二錢）　元參（二錢）　桑葉（一錢五分）　阿膠（蛤粉炒，一錢五分）　枇杷葉（三錢，去毛）</p>
<p>三診　毓陰清降，已投數劑，咽痛減而嗽血亦止，胃納勝前，經至按常信，可恃此而卻病。惟虛火日暮猶升，音仍不亮，擬守補陰。</p>
<p>大生地（五錢）　麥冬（一錢五分）　川貝（三錢）　炙龜版（一兩）　清阿膠（一錢五分，烊化）　元參（一錢）　杏仁（二錢）　煅石決明（一兩）　淡天冬（一錢五分）　紫菀（七分）</p>

<h1>崩漏</h1>
<p>鄭（右）　經停三月，驟然崩沖，越五日而猶若漏卮。洵系暴崩屬虛，虛陽無附，額汗頭震，聞聲驚惕，多語神煩，脈微虛軟，勢將二氣脫離，其危且速。擬回陽攝陰法，急安其氣血。</p>
<p>人參（一錢，另煎沖）　製附子（五分）　鹿角霜（一錢五分）　杞子炭（一錢）　熟地（七錢，切片）　生白芍（一錢五分）　炙龜版（一兩）　北五味（七粒）　天冬（一錢五分）　懷山藥（三錢）</p>
<p>復診　脫象既除，經漏較稀，脈猶濡細，神思尚怯，氣血乍得依附，再宗暴崩屬虛之例。擬溫補法。</p>
<p>人參（一錢，另煎沖）　巴戟肉（一錢五分）　鹿角膠（一錢五分，烊入）　白芍（一錢五分，炒）　熟地片（一兩）　炒杞子（一錢五分）　清阿膠（一錢五分，烊入）　歸身（一錢五分，炒）　天冬（一錢五分）　炒杜仲（三錢）</p>

<h1>勞瘧</h1>
<p>陳（左）　間瘧止後復瘧，瘧不準期，或三五日，或七八日，發則寒戰熱甚，兩三月若此，從無汗泄。脈沉而細，形瘦骨立，胃納式微。症由久瘧傷陰，陰損不復，其為勞瘧顯然。現屆夏令，汗易得時，且服存陰泄達，以冀汗泄於表，陰復於裡，或轉准期，庶是畔岸有依。擬少陽少陰並治。</p>
<p>柴胡（四分）　大生地（四錢，片）　炒淡芩（一錢五分）　地骨皮（三錢）　細辛（二分）　炙鱉甲（七錢）　青蒿（一錢五分）　丹皮（一錢五分）　歸鬚（一錢五分）</p>
<p>復診　藥四服，而值瘧來，寒戰依然，熱勢較短，熱退時汗已暢達，脈沉轉出，神氣覺爽，而食物有味，察其佳處，皆從汗後所有，究是外感乘虛蘊伏，愈伏愈深，延為怯象。茲既有向外泄化之機，再宗前擬加減守之，必得或轉間瘧乃妥。</p>
<p>柴胡（五分，鱉血拌）　炒淡芩（一錢五分）　炒歸鬚（一錢五分）　丹皮（一錢五分）　青蒿（一錢五分）　炒知母（一錢五分）　炒秦艽（一錢五分）　荊芥炭（一錢）　細生地（四錢）　淡豆豉（三錢）</p>
<p>三診　瘧准日作，解後有汗，寒熱之勢大減矣。脈形細小，舌不立苔，久瘧陰傷，復其陰可耳。症屬轉機，得許坦途，凡腥羶鮮發，以及麥食等，需慎兩三月。擬清養法，再參泄化。</p>
<p>生西洋參（一錢五分）　青蒿子（一錢五分）　桑葉（一錢五分）　川石斛（三錢）　炙鱉甲（一兩）　丹皮炭（一錢）　秦艽（一錢五分，炒）　穭豆衣（二錢）　穀芽（一兩，煎湯代水）</p>

<h1>暑月著寒</h1>
<p>陶（左）　廣廈納涼，北窗高臥，固是羲皇之樂，孰料午睡正酣，汗孔值開，適逢沛然時雨，涼風驟至，寒氣襲趨於腠理，頃刻之間，灼熱無汗，妄言狂躁，或狃於暑熱，或指為痰火，甚至疑為鬼神，殊未讀經文原有「因於寒，欲如運樞，起居若驚，神氣乃浮」之論，固無足異也。淺邪新感，又何疑懼，當按六氣司令泄之，可許一汗即解。</p>
<p>陳香薷（一錢）　大豆卷（三錢）　杏仁（三錢）　陳皮（一錢）　嫩蘇梗（一錢五分）　川羌活（七分）　枳實（一錢）　桔梗（一錢）　鮮藿香葉（五瓣）</p>
<p>復診　汗已泄，熱已解，病人嗜臥，默不語，脈緊既和，偏於濡細，數日之前，曾有奪精之說。既屬新感已泄，無妨暫投養正。</p>
<p>人參鬚（一錢）　炒橘白（一錢）　云茯神（三錢）　穀芽（四錢）　老蘇梗（一錢五分）　川斛（三錢）　漂淡生薑（三分，後下）</p>
