<header data-type="book">
<h1>柳洲醫話</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>魏之琇</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1851">公元1851年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>魏柳洲先生輯《續名醫類案》六十卷，脫稿未久，先生尋逝，幸已邀錄四庫館書，不致散佚。提要病其編次潦草，蓋未經刪定之故也。雄不才，僭刪蕪復，而卷帙猶繁，未能付梓。爰先錄其所附按語為《柳洲醫話》，以示一斑云。</p>
<p><u>咸豐元年冬十一月後學王士雄書於潛齋</u></p>

<h1>按語八十五條</h1>
<p>傷寒邪結陽明，發為狂熱，猶是宿食，宜吐之。非若燥糞便硬，可下而愈也。</p>
<p>雄按：凡下之不通而死者，多此類也。</p>
<p>傷寒邪熱甚則正餒，不可誤認為虛。</p>
<p>雄按：繆仲淳治姚平之案可證。</p>
<p>傷寒初愈，臟腑猶多熱毒，時師不察，驟投參、耆、朮附溫補，其遺患可勝言哉。</p>
<p>雄按：《寓意草》傷寒善後法，學者最宜詳玩。</p>
<p>凡診病，淺見者反若深慮，多令病家無所適從。</p>
<p>雄按：此評仲淳治虞吉卿案，或疑其虛而用桂、附也。今則此輩尤多，誤人愈廣。不知療病，但欲補虛，舉國若狂，誰為喚醒。</p>
<p>龔子才治傷寒譫渴無汗，用大梨一枚，生薑一小塊，同搗取汁，入童便一碗，重湯煮熟服。制方甚佳，愈於甘露，且免地黃之膩。</p>
<p>雄按：余以梨汁為天生甘露飲，而昔賢已先得我心。若有汗者，生薑宜避。</p>
<p>傷寒發散過投，氣微欲絕，雖有實證，亦宜獨參猛進。貧者以重劑杞、地，少入乾薑。</p>
<p>雄按：熱熾而氣液欲脫者，乾薑亦忌，宜易甘草。</p>
<p>實邪宜下，人便稀識，可為浩嘆。</p>
<p>雄按：學識淺者，皆為立齋、景岳諸書所囿也。</p>
<p>傷寒狂躁，脈至洪大無倫，按之如絲者，以全料六味減苓、澤，加麥冬、杞子，用大砂罐濃煎與之，必數杯而後酣寢汗出以愈。古時此法未聞，惟仗人參之力取效。本陰竭之證，乃峻補其陽，使生陰而愈，故用參每多至數斤，設在今時，非猗頓之家不可為矣。</p>
<p>雄按：陰竭之證，今時尤多，人參之價，近日更昂。惟西洋人參性涼生液，最為可用。而時師輒以桂、附、乾薑治陰虛狂躁，益非魏君所能逆料矣。</p>
<p>內真寒而外假熱，諸家嘗論之矣。至內真熱而外假寒，論及者罕矣。</p>
<p>景岳治王生陰虛傷寒燥渴，用涼水是矣。而又雜與桂、附各數兩，治法未能無疵。至舌苔成殼脫落，恐桂、附使之然也。</p>
<p>雄按：今人明知其陰虛，而放肆用桂、附者，皆效景岳之尤也。</p>
<p>喻氏治傷寒以救陰為主一語，為治傳經證之秘旨。</p>
<p>躁脈多凶，疫病熱鬱之極，脈亦躁也。</p>
<p>疫證脈雙伏，或單伏而四肢厥冷，或爪甲青紫，欲戰汗也。宜熟記。</p>
<p>房勞外感，即謂陰證而與熱藥，殺人多矣。</p>
<p>虛人肝腎之氣上浮，宛如痰在膈間，須投峻劑養陰。俾龍雷之火，下歸元海。</p>
<p>雄按：葉香岩云，龍雷之起，總因陽亢，宜滋補真陰。今人反用熱藥，悖矣。詳見《景岳發揮》，醫者不可不讀也。</p>
<p>凡病屍厥，呼之不應，脈伏者死，脈反大者死。</p>
<p>凡卒暴病，如中風中氣中寒暴厥。俱不得移動喧鬧，以斷其氣，《內經》明言氣復返則生。若不諳而擾亂，其氣不得復，以致夭枉者多矣。蓋暴病多火，擾之則正氣散而死也。病家醫士，皆宜知此。</p>
<p>余常見父母有肝病者，其子女亦多有之，而稟乎母氣者尤多。</p>
<p>木熱則流脂，斷無肝火盛而無痰者。</p>
<p>雄按：此語未經人道，余每以雪羹、龍薈治痰，殊與魏君暗合。</p>
<p>張子和治新寨馬叟之證，本因驚而得，尤不能無郁也。蓋驚入心，心受之則為癲癇。今心不受而反傳之肝，則為瘛瘲，亦母救其子之義也。肝病則乘其所勝，於是生風生痰，怪證莫測。治以上湧下泄，乃發而兼奪之理。並行不悖。最合治法。</p>
<p>雄按：馬無膽而善驚，故驚字從馬，似與恐懼怵惕之從心者異焉。古人雖曰驚入心，然非膽薄，斷不患驚。凡病驚者，其色必青。肝膽相連，殆不必心不受而後始傳入也。</p>
<p>肝火亦作頭暈，不盡屬之氣虛也。經云：諸風掉眩，皆屬於肝。肝之脈上絡巔頂，余嘗以一氣湯加左金，治此甚效。</p>
<p>補中益氣湯，為東垣治內傷外感之第一方。後人讀其書者，鮮不奉為金科玉律。然不知近代病人，類多真陰不足。上盛下虛者，十居九焉。即遇內傷外感之證，投之輒增劇，非此方之謬，要知時代稟賦各殊耳。陸麗京曰：陰虛人誤服補中益氣，往往暴脫，司命者其審諸。</p>
<p>雄按：東垣此方，謂氣虛則下陷，升其清陽，即是益氣。然命名欠妥，設當時立此培中舉陷之法，名曰補中升氣湯，則後人顧名思義，庶知其為升劑也。原以升藥舉陷，乃既曰補中，復云益氣，後人遂以為參、術得升柴。如黃耆得防風而功愈大，既能補脾胃之不足，又可益元氣之健行，而忘其為治內傷兼外感之方。凡屬虛人，皆宜服餌。再經薛氏之表章，每與腎氣丸相輔而行。幸張景岳一靈未泯，雖好溫補，獨謂此方未可浪用。奈以盧不遠之賢亦袒薛氏甚矣，積重之難返也。徐洄溪云：東垣之方，一概以升提中氣為主，學者不可誤用。然此方之升柴，尚有參、耆、朮、草之駕馭，若升麻葛根湯、柴葛解肌湯等方，純是升提之品，苟不察其人之陰分如何，而一概視為感證之主方，貽禍尚何言哉！葉香岩柴胡劫肝陰，葛根竭胃汁之說，洵見道之言也。</p>
<p>凡素患虛損人，忽有外感，宜細審之。</p>
<p>雄按：此處最易誤人，拙案仁術志內曾論及之。</p>
<p>傷寒及感證日久，津液既枯，不能行汗。得大劑三才一氣湯一服，乃蒸變為汗而愈矣。若曾多風藥及香燥者，藥入必大作脹，一二時許，然後來蘇，後賢以此為內托之奇，余謂仍是仲景啜粥法耳，後人安能越古人之範圍哉！</p>
<p>傷風一證，殊非小恙。有寒燠不時，衣被失節而成者，此必鼻塞聲重，咳嗽多痰。在元氣平和之人，即弗藥自愈。若在腎水素虧，肝火自旺者，不過因一時風寒所束，遂作乾咳喉痛，此外邪本輕，內傷實重，醫者不察，輒與表散，致鼓其風木之火上炎，反今發熱頭痛，繼又寒熱往來，益與清解，不數劑而肝腎與肺三臟，已傷損無遺。遠者周年，近者百日，溘然逝矣。而世俗談者，咸以傷風不醒便成勞為言。噫！彼勞者，豈真由傷風而成耶？愚哉言也。當易之曰：傷風誤表必成勞耳。</p>
<p>雄按：陰虛誤表固然，若外邪未清，投補太早，其弊同也。《不居集》論之詳矣。故徐洄溪有傷風難治之論也。</p>
<p>瘧痢後飲食不運，多屬氣虛，然每有痢以下多而亡陰，瘧以汗多而耗液。飲食難運，多由相火盛，真氣衰非。大劑二冬二地投之，多見纏綿不已也。《寓意草》謂感後宜甘寒清熱，說得極透徹，最中肯綮。</p>
<p>雄按：世人治此，但知六君以補脾，桂附以益火，殺人最夥，可為寒心。</p>
<p>肺氣敗者，多見兩足腫潰，小水全無二證。</p>
<p>雄按：粗工但知為濕邪阻塞也。</p>
<p>陰虛證，初投桂、附有小效，久服則陰竭而死，余目擊數十矣。</p>
<p>雄按：此真閱歷見道之言。又徐洄溪曰：大熱大燥之藥，殺人最烈。蓋熱藥有毒，其性急暴，一入臟腑，則血湧氣升。若其人之陰氣本虛，或當天時酷暑，或其人傷暑傷熱，一投熱劑，兩火相爭，目赤便悶，舌燥齒乾，口渴心煩，肌裂神躁，種種惡候，一時俱發。醫者及病傢俱不察，或云更宜引火歸元，或云此是陰證，當加重劑熱藥而佐以大補之品，其人七竅流血，呼號宛轉，狀如服毒而死。病家全不以為咎，醫者亦洋洋自得，以為病勢當然。總之，愚人喜服熱補，雖死不悔。我目中所見不一，垂涕泣而道之，而醫者與病家無一能聽從者，豈非所謂命哉！夫大寒之藥，亦能殺人，其勢必緩，猶為可救。不若大熱之藥，斷斷不可救也。愚謂此非激論，的是名言。今年春間，韓貢甫因患便血，誤服熱補，變證蜂起，業治木矣。其婦翁陳春湖囑延余診，已為治愈。迨季夏，其弟正甫患時瘧，越醫王某連進溫燥藥而劇，始邀余視之，乃府實證，下之而瘥。既而貢甫令壺患感，凜寒身熱，眩渴善嘔，余曰暑也，宜從清解。彼不之信，仍招越醫王某治之，連服蒼朮、厚朴、薑、椒之劑，嘔渴愈甚，泛事妄行，四肢不溫，汗多不解。再邀余診，脈漸伏，曰：此熱深厥深也，溫燥熱補，切勿再投。彼仍不信，另招張某黃某會診，僉謂陰暑，當舍時從證，逕用姜附、六君加萸、桂、沉香等藥服之，肢愈冷，藥愈重。八劑後，血脫如崩而逝，即以春間所治之棺殮焉。豈非數邪，此病家不知悔悟之一證也。繼有許蘭嶼室，患左季脅刺痛，黃某目擊韓證之死，亦不愧悔。初診即用桂、附，愈服愈痛，痛劇則白帶如注，漸至舌赤形消。彼猶曰溫補之藥力未到，方中桂、附日增，甚至痛無寧晷，始逆余診。授以壯水和肝養營舒絡之方而愈，往者不可追，來者猶可諫，故附贅之。</p>
<p>熱補藥謂之劫劑，初劫之而愈，後反致重，世不知此，以為治驗。古今受其害者，可勝數哉。</p>
<p>嘔吐證，良由肝火上逆者極多，張景岳偏於溫補，以為多屬胃寒，其誤人諒不少矣。</p>
<p>完穀不化，有邪火不殺穀，火性迫速，愈甚而愈迫者。</p>
<p>發熱之時，脈雖豁然空大，未可便斷為虛寒也。</p>
<p>痢疾補澀太早，每成休息。</p>
<p>張景岳平生臨證，遺憾多矣。觀其治食停少腹一案，夫麵食由胃入腸，已至小腹之角，豈能作痛如是，而又如拳如卵耶？必其人素有疝病，偶因麵食之濕熱發之，或兼當日之房勞。遂乃決如是。故推蕩之亦不應，得木香、火酒一派辛熱香竄而痛止耳。至謂食由小腹下右角而後出廣腸，謂自古無言及者，更堪捧腹。經謂大小腸皆盤屈十六曲，則左旋右折可知，豈如筒如袋而直下乎？嘻！</p>
<p>《傷寒》論病人素有痞積，及病傳入三陰則死，謂之臟結。蓋新邪與舊邪合併也。苦楝根取新白皮一握、切、焙，入麝少許，水二碗，煎至一碗，空心飲之，殺消渴之蟲屢驗。</p>
<p>孫文垣治吳肖峰室，善後不用滋水生木，弦脈安能退哉。</p>
<p>李士材治顧宗伯心腎兩虧，用八味、十全，與後醫之元參、知母。其失正均，惟集靈膏一方，真聖劑也。</p>
<p>雄按：集靈膏見《廣筆記》，方用人參、枸杞、牛膝二冬、二地，或加仙靈脾。</p>
<p>凡治小兒，不論諸證，宜先揣虛里穴。若跳動甚者，不可攻伐，以其先天不足故也。幼科能遵吾言，造福無涯矣。此千古未泄之秘也，珍之貴之。</p>
<p>雄按：大人亦然。小兒則脈候難憑，揣此尤為可據。</p>
<p>勞損病已不可為，服藥得法，往往有驟效，乃虛陽暫伏也。數服後證皆仍舊矣。臨證者不可不知。</p>
<p>肺熱之人，雖產婦誤服人參，多致痰飲膠結胸中，為飽為悶，為咳嗽不食等證。</p>
<p>喻氏治郭臺尹之證，多由醉飽入房，大傷真陰，絕其帶脈，水虧木燥，乘其所不勝之脾成脹耳。魚鹽之論，恐未必然。</p>
<p>又治顧鳴仲之證，似屬肝腎二經，與膀胱無干涉，乃舍肝而強入膀胱，便覺支離滿紙。</p>
<p>火盛而鬱者，多畏風畏寒。</p>
<p>雄按：人但知傷風畏風，傷寒畏寒，能識此者鮮矣。</p>
<p>梅核證，由鬱怒憂思，七情致傷而成，無非木燥火炎之候。古人多用香燥之劑，豈當時體質厚耶？</p>
<p>余治肝腎虧損，氣喘吸促之證，必重投熟地、人參，無力之家不能服參者，以棗仁、杞子各一兩代之，亦應如桴鼓。</p>
<p>雄按：枸杞一味，專治短氣，其味純甘，能補精神氣血津液諸不足也。</p>
<p>繆氏謂陽明熱邪傳裡，故身涼發噦，是金針也。</p>
<p>凡損證脈見右寸厥厥然如豆，按之梗指，其病不起，以肺金敗也。</p>
<p>楊介都梁丸治頭痛，惟陽明風熱宜之，余不可服。</p>
<p>雄按：古方治病，皆當察其藥所主之證而用之，不獨都梁丸爾也。學者須知隅反。</p>
<p>《醫學鉤元》有目病不宜服六味辨，謂澤瀉、茯苓、山茱萸不宜於目。余謂凡肝腎虛，皆不宜此三味，不惟目也。</p>
<p>雄按：用藥治病，須知量體裁衣，執死方以治活病，有利必有弊也。</p>
<p>景岳見燕都女子喉竅緊澀，而不能以左歸合生脈救之，乃誤用辛溫解散，既而知其肺絕，又效粗工避謗，不敢下手。按丹溪云：咽喉腫痛，有陰虛陽氣飛越，痰結在上，脈必浮大，重取必澀，去死為近，宜人參一味濃煎，細細呷之，如作實證治，禍如反掌。觀此，丹溪之學，何可薄哉？《傳忠錄》之言，九原有知，宜滋愧矣。</p>
<p>戴人治一將軍病心痛，張曰：此非心痛也，乃胃脘當心而痛也。余謂此二語，真為此證點睛。然余更有一轉語曰：非胃脘痛也，乃肝木上乘於胃也。世人多用四磨、五香、六郁、逍遙等方，新病亦效，久服則殺人。又用玉桂亦效，以木得桂而枯也。屢發屢服，則肝血燥竭，少壯者多成勞病，衰弱者多發厥而死，不可不知。余自創一方，名一貫煎，用北沙參、麥冬、地黃、當歸、枸杞、川楝六味，出入加減投之，應如桴鼓。口苦燥者，加酒連尤捷。可統治脅痛吞酸吐酸疝瘕一切肝病。</p>
<p>雄按：胸脅痛，有因於痰飲者，滋膩亦不可用也。</p>
<p>香附、鬱金，為治肝要藥。然用之氣病則可，用之血病，則與干將莫邪無異也。慎之！二地膩膈之說，不知始自何人，致令數百年來，人皆畏之如虎，俾舉世陰虛火盛之病，至死而不敢一嘗。迨已瀕危。始進三數錢許，已無及矣。哀哉！</p>
<p>雄按：此為陰虛火盛者說。若氣虛濕盛，氣滯痰凝者，誤用則膩膈矣。</p>
<p>凡脅腹結塊，隱現不常，痛隨止作者，全屬肝傷。木反剋土，非實氣也。時師金以香燥辛熱治之，促人年壽。余治此多人，悉以一氣湯加川楝、黏仁、蔞仁等，不過三五劑，其病如失。若立齋多用加味逍遙散，鼓峰東莊輩多用滋水生肝飲，皆不及余法之善也。逍遙散亦當灸用，緣柴胡、白朮皆非陰虛火盛者所宜也。</p>
<p>景岳生平於薛氏諸書，似未寓目，至脅痛由於肝脈為病，至死不知，良可哀也。如案中載治其姻家脅肋大痛一證，全屬廖論，幸得一灸而愈。此與呃逆病諸治不效，灸虛里立瘥正同也。凡泄瀉，火證極多。</p>
<p>帶濁之病，多由肝火熾盛，上蒸胃而乘肺。肺主氣，氣弱不能散布為津液，反因火性迫速而下輸。膀胱之州都，本從氣化，又肝主疏泄，反稟其令而行，遂至淫淫不絕，使但屬胃家濕熱，無肝火為難，則上為痰而下為瀉耳。古今醫案於帶濁二門，獨罕存者，亦以未達其旨而施治無驗也。至單由濕熱而成，一味涼燥，雖藥肆工人，亦能辨此。</p>
<p>雄按：此誠確鑿之論。</p>
<p>胞痹，欲名尿梗病。香燥之藥，誤投殺人，世罕知也。觀張石頑治閔少江證，誤服丹皮、白朮，即脹痛不禁，可見。</p>
<p>景岳治朱翰林太夫人證，乃陰虛陽越之風秘，亦類中之輕者，一跌而病，良有已也。未可歸功薑、附。不知陰證二字，何以插入？其生平見解，大可知矣。</p>
<p>馮氏治崔姓風秘證，亦陰虛陽越之病，甚則為類中，其治法亦大醇而小疵耳。至云陰伏於內，逼陽於外，亦與景岳治朱太夫人謂為陰證，同一模糊，蓋緣風秘一條，人多不講也。</p>
<p>傷寒瘧痢之後患悶結者，皆由攻下表散失宜所致。究其由，則皆血燥為病。至若風秘一證，其病本由燥火生風，醫者昧於風字，動用風藥，死者已矣。存者幸鑑之。</p>
<p>雄按：凡內風為病，不論何證，皆忌風藥。醫不知風有內外之殊，以致動手便錯。</p>
<p>觀醫通載婦科鄭青山憤喜交集，因而發狂一事，業醫者亦可憐哉。有志之士，慎勿為此。彼云不可不知醫者，非聖人之言也。</p>
<p>凡心腹痛而唇紅吐白沫者，或好啖者，多屬蟲證。</p>
<p>陰虛火盛之人，初服桂、附、薑、萸等燥熱剛藥，始則甚得其力，所謂劫治也。昧不知止，久而決裂，莫可挽回，余目擊其敝者，數十人矣。</p>
<p>二便俱從前陰出者，宜集靈膏，重用人參以補肺而潤腸。蓋肺與大腸相表裡而主氣，又肺者相傅之官，治節出焉。肺得養，斯大腸之燥可清，又得枸杞、二冬以滋其血槁，然後故道可復，而清濁自分矣。</p>
<p>近時專科及庸手，治產後一以燥熱溫補為事，殺人如麻。</p>
<p>雄按：非獨產後也，如嘔吐泄瀉，瘧痢哮喘，痿痹腫脹，痰飲腹痛，疝瘕諸證，粗工無不悉指為寒，而不知其屬熱者多也。</p>
<p>馮楚瞻之媳，胎前多服八味丸，所以生子百日內即患癘證。</p>
<p>產後惡露不下有二，一則瘀滯宜行，一則血虛宜補。</p>
<p>肝火病其狀如瘧，蓋膽為肝府，肝病則膽亦病矣。</p>
<p>產後病多屬陰虛，治必養營。若氣血兼補，雜以薑、附剛劑，非耽延時日，即貽病者後患，臨證者審之。</p>
<p>火極似水，乃物極必反之候。凡患此，為燥熱溫補所殺者多矣，哀哉！</p>
<p>立齋謂產後陰氣大虛，正喜亡陽與陰齊等，云可勿藥而愈，此正薛氏生平不能峻用養陰之缺處也。馮楚瞻治一產後頭汗證，拘泥薛法而不與藥，致病家屬之庸手而敗，是守而未化之過也。</p>
<p>雄按：陰虛不敢救陰，亦泥於產後宜溫之俗說，乃云正喜亡陽，是何言耶？非僅缺處，直是謬論，無怪乎徐洄溪以薛氏為庸醫之首也。</p>
<p>患痘腰痛，曾有房事者，最稱難治。余謂以大劑左歸飲與之，必有可挽。</p>
<p>醫學無真知而參末議，最能誤人，智者慎之。</p>
<p>麻疹之發，本諸肺胃。治之但宜松透，一切風燥寒熱之劑，不可入也。余常遇表散過甚，綿延不已者，一以生地、杞子、地骨、麥冬、婁仁、沙參等味，三四劑必嗽止熱退而安。若呂東莊之用桂、附，因其苦寒過劑，故處方如是，非可一切試之也。</p>
<p>病危之家，親賓滿座，議論紛紜，徒亂人意，不可不知。余嘗診一兒，見其左掌拳曲，詢其由，乃小時患驚搐，為母抱持太急，病愈手遂不能伸舒，若初起即以大劑滋肝腎真陰與之，必能伸舒如故。惜世無知者。</p>
<p>腫證多濕熱為患，雖云脾虛，必審其小便長短清濁，及大便溏燥濃淡，以施治法。若概云脾虛，參、術蠻補，必致綿延不已。</p>
<p>肝脈挾胃貫膈，又曰是所生病者，為胸滿，故胸之癰疽，本由於肝。然此證最難別白，即《內經》所謂內有裹大膿血之證也。吾鄉一名醫自患此，同道診之，不知為癰也。雜進參、附、丁、桂之劑，久之吐出臭膿乃省，已無及矣。</p>
<p>寸強尺弱之脈，多屬陰虛火炎之候，誤服八味丸，每致貽患。</p>
<p>不拘內外病，凡陰虛者服參、耆諸氣分藥，非惟無益而反害者。</p>
<p>諸病火盛而汗出者，若驟斂之，反增他證。</p>
<p>凡肝鬱病誤用熱藥，皆貽大患。</p>
<p>肝木為龍，龍之變化莫測，其於病也亦然。明者遇內傷證，但求得其本，則其標可按籍而稽矣。此天地古今未泄之秘。《內經》微露一言曰：肝為萬病之賊，六字而止。似聖人亦不欲竟其端委，殆以生殺之柄不可操之人耳。余臨證數十年，乃始獲之，實千慮之一得也。世之君子，其毋忽諸。</p>
<p>雄按：肺主一身之表，肝主一身之裡，五氣之感，皆從肺入，七情之病，必由肝起，此余夙論如此。魏氏長於內傷，斯言先獲我心。蓋龍性難馴，變化莫測，獨窺經旨，理自不誣。</p>

<h1>附方</h1>
<p>（續名醫類案簡妙愈病之方附採於下）</p>
<p>癉瘧，青蔗汁任飲之，並治蛔動痞痛。</p>
<p>久瘧不愈，以棗一枚，安病人口上。咒曰：我從東方來，路逢一池水，水內一尊龍，九頭十八尾。問他吃甚麼，專吃瘧疾鬼。太上老君，急急如律令，敕。咒三遍，將棗納入口中，令嚼食之即瘥。（雄按：此即上古祝由之意，必邪已漸衰，始能有效。）</p>
<p>又何首烏五錢，陳皮二錢，青皮三錢，酒一碗，河水一碗，煎至一碗，溫服即愈。</p>
<p>又石首魚恣啖可愈。雄按：邪未衰者忌之。</p>
<p>血痢久不瘳，烏梅肉、胡黃連、伏龍肝等分為末，茶調下。</p>
<p>五色痢久不瘳，大熟栝蔞一個，煅存性出火毒，為末作一服，溫酒下。</p>
<p>熱毒下痢膿血，痛不可忍，水浸甜瓜恣啖之。</p>
<p>噤口痢，牛乳頻灌之。</p>
<p>傳屍勞，宜先服玉樞丹，繼以蘇合丸，其蟲即下。</p>
<p>吐血用水澄蚌粉研細，入硃砂少許，米飲調下二錢。</p>
<p>衄血，用赤金打一戒指，帶左手無名指上，如發病，將戒指捏緊箍住，則血止矣。或以蒜杵爛，貼湧泉穴。</p>
<p>又真麻油紙捻紝鼻中，打嚏即止，或以人乳擠入即止。</p>
<p>又用燈盞數枚，沸湯中煮熱安頂上，冷即易之。</p>
<p>牙衄，用苦竹茹四兩，醋煮含漱，吐之。</p>
<p>舌衄，赤小豆一升杵碎，水三碗和搗取汁，每服一盞，外以槐花末糝之。</p>
<p>筋骨疼，如夾板狀，痛不可忍者，以驢騾修下蹄甲，砂鍋內炒為炭，研細末，酒或白湯下。</p>
<p>雄按：此方並治臁瘡久不愈，麻油調敷之。瘡濕者糝之。</p>
<p>醋哮，用粉甘草二兩，去皮研開，以豬膽六七枚取汁，浸三日，炙乾為末，蜜丸，清茶下三四十丸。</p>
<p>怒後呃忒，用鐵二斤燒紅，淬水飲之。</p>
<p>痰喘久不痊，五味子、白礬等分為末，熟豬肺蘸末細嚼，白湯下。</p>
<p>偏頭風，南星、半夏、白芷等分為末，生薑、蔥白杵爛，和捏為餅，貼太陽上，一夕良已。</p>
<p>頭疼如劈，目中溜火，酒製大黃為末，茶調服三錢。</p>
<p>偏頭風，蓖麻仁同乳香、食鹽搗貼。</p>
<p>頭風畏冷久不愈，荍麥面二升，水調作二餅，更互合頭上，微汗即愈。</p>
<p>拳毛倒睫，木鱉子一個，去殼為末，棉裹塞鼻中，左目塞右，右目塞左，一二夜即痊。爛弦風眼，黃連、淡竹葉各一兩，柏樹皮乾者一兩，如半濕者用二兩，㕮咀，水二斗，煎五合稍冷，用滴目眥及洗爛處，日三四。</p>
<p>鼻瘜，瓜蒂、細辛等分細研，以棉包豆許塞之，化水而消。或以瓜蒂研末，羊脂和敷亦妙。</p>
<p>胃火鼻赤，每晨以鹽擦齒，噙水漱口，旋吐掌中，掬以洗鼻，月餘而愈。</p>
<p>鼻流臭黃水，腦痛如蟲齧，用絲瓜藤近根三五尺許，燒存性研細，酒調下。</p>
<p>食物從鼻中縮入腦中，介介痛不得出，以羊脂如指頭大，內鼻中吸入，須臾脂消，物隨出。</p>
<p>齒腫痛，用黑豆以酒煮汁，漱之立愈。</p>
<p>蛀牙疼，川椒為末，巴豆一粒，同研成膏，飯為丸，如綠豆大，以棉裹安蛀孔內立效。脫齘，以酒飲之令醉，取皂角末吹入鼻中，嚏透即止。</p>
<p>咽喉壅塞，吹皂角末於鼻中取嚏，外以李樹近根磨水塗喉外。</p>
<p>急喉痹，口開不得者，巴豆仁拍碎，棉裹隨左右塞鼻中，即吐出惡物，喉寬即拔去之，後鼻中生小瘡，亦無害。</p>
<p>喉痛危困，令人以手用力揪其頂心發即愈。無發者，用力撮其頂心皮。</p>
<p>心腹久痛，梔子炭一兩，生薑五片，煎服。</p>
<p>鶴膝風、乳香、沒藥各一錢五分，地骨皮三錢，無名異五錢，麝香一分，各為末，車前草搗汁，入老酒少許，和敷患處。</p>
<p>腳氣，袋盛赤小豆，朝夕踐踏展轉之，漸愈。</p>
<p>又樟腦排兩股間，以腳繃系定。</p>
<p>腳氣上攻，及一切腫毒流注，以甘遂研細末，水調敷患處，另濃煎甘草湯服之，二物相反，須二人各處買，並不可安放一所，用之立效。</p>
<p>諸疝，以灰布門檻上，脫褲坐之，陰囊著灰，即有一印。左患灸左印，右患灸右印，須避四眼，五月五日灸尤效。</p>
<p>風顛神方，烏犀角四兩銼末，每用一兩，清水十碗，砂鍋內煎至一碗，濾淨，再加水十碗，熬至二酒杯，另以淡竹葉四兩，水六碗，煎二碗去渣，加犀角汁同服，盡四劑即愈。</p>
<p>稻芒著喉，鵝涎灌之。</p>
<p>誤吞銅錢，麵筋置新瓦煅作炭，研細，開水調溫服，未下咽者，即從口出，已下咽者從大便出，神效。未下咽者，以生大蒜塞鼻中亦能出，尤簡便。</p>
<p>誤吞鐵針，乳香、荔枝、朴硝為末，豬脂入鹽和之，吞服。</p>
<p>防蠱毒，須袖中常帶當歸，遇飲食訖，即咀嚼少許。若有毒，即時嘔吐。又法，食不輟醋，蠱不入肚。</p>
<p>解蠱毒，敗鼓皮燒灰，服方寸匕，須臾自吐。</p>
<p>又生甘草五錢煎汁，半溫飲之，入咽即吐，恐未盡再一服。</p>
<p>又馬兜鈴藤十兩，水一斗，酒二升，煮三升，分三服。</p>
<p>又升麻、鬱金煎服，不吐則下，毒自去矣。</p>
<p>又玉樞丹，井華水調服。</p>
<p>陰毛生蝨，生銀杏杵爛敷之。</p>
<p>煙火熏死，蘆菔搗汁灌之。</p>
<p>中砒毒，白扁豆生研細，新汲水下二三錢。</p>
<p>河豚毒，麻油灌之。</p>
<p>丹石毒，菾菜頻煮食之。</p>
<p>狐媚，以桐油塗陰上，即絕跡，男女皆可用此法。</p>
<p>邪祟，玉樞丹頻服之，並以燒煙於臥室，即愈。</p>
<p>鬼交，鹿角末三指一撮，清酒和服。</p>
<p>飛屍，玉樞丹以忍冬藤煎濃湯灌之。</p>
<p>走馬牙疳，蠶蛻紙燒存性，入麝少許，蜜和敷，加白礬尤妙。</p>
<p>小兒好吃粽，成積脹痛。白酒麴同黃連末為丸服，或以熬酒調曲末服亦可。</p>
<p>又吃鴨蛋不消，用砂仁末錢許，棗湯下。</p>
<p>小兒口噤不開，豬乳飲之立效。若月內胎驚，同硃砂、牛乳少許抹口中，甚良。</p>
<p>小兒驚風，導赤散煎湯送瀉青丸，大妙。</p>
<p>小兒噤口痢，乾山藥半生用，半炒黃色，研細末，米飲下。</p>
<p>腫毒初起，用雞子一枚，以銀簪插一孔，用透明雄黃三錢，研極細末入之，仍以簪攪勻，封孔放飯上蒸熟食之，日三枚神效。</p>
<p>又方。麥粉（即小粉，乃洗麩造麵筋澄下者也）不拘多少，陳醋和之，熬成膏，貼之即愈，陳久者愈佳。</p>
<p>又方，糯米飯乘熱入鹽並蔥管，杵極爛如膏貼之。</p>
<p>發背，玉樞丹內服外塗，即可得瘳。</p>
<p>翻花瘡，藜蘆末，生豬脂調塗。</p>
<p>腰疽未破者，新殺牡豬肝，切如瘡大貼之，以布纏定，一周時即愈。肝色變黑，犬亦不食。</p>
<p>雄按：一切癰疽，似亦可用。</p>
<p>痔瘡，蘆菔煎湯頻洗佳。</p>
<p>又，玉樞丹服之良，亦治便毒。</p>
<p>又先以木鱉子煎湯熏洗，後以蔥涎蜂蜜對調勻，敷之立效。</p>
<p>陰囊潰爛，紫蘇末敷之，杉木灰亦可並用。</p>
<p>便毒，棉地榆四兩，白酒三碗，煎一碗服，即愈。</p>
<p>臁瘡，先以淡齏水洗淨浥干，次用駐車丸研極細，加乳香少許干糝之。</p>
<p>又爛搗馬齒莧敷之，並療多年惡瘡，百方不效者。</p>
<p>又松香一兩，輕粉三錢，乳香五錢，細茶五錢，共打成膏，先以蔥白花椒湯熏洗淨，用布攤膏厚貼，用絹縛定，黃水流盡，腐退生肌。</p>
<p>耳疔，夏枯草、甘菊、貝母、忍冬、地丁，大劑飲之。</p>
<p>髭疔，牙關緊急者，用患者耳垢齒垢，並刮手足指甲屑，和勻如豆大，放茶匙內鐙火上炙少頃，取作丸，將銀針挑開疔頭抹入，外以棉紙一層津濕覆之，立愈。兼治紅絲疔。</p>
<p>諸疔，用陳年露天鐵鏽，碾如飛面，以金簪腳挑破疔頭納入，仍將皮蓋好，少頃黑水流出，中有白絲如細線，慢慢抽盡，此疔根也。抽盡立愈。或用甘菊花並根葉搗汁，以酒下之。</p>
<p>諸癬，先以溫漿水洗之，舊帛拭乾，用蘆薈一兩，炙甘草半兩，研細和勻敷之。凍瘡，黃柏燒存性研，雞蛋清調塗，破者糝之。</p>
<p>一切惡瘡，陳米飯緊作團，或用肥皂亦可，火煅存性，加膩粉研細，麻油調敷。</p>
<p>坐板瘡，松香五錢，雄黃一錢，研細和勻，以棉紙包捻成條，臘月豬油浸透，點火燒著，取滴下油搽之立效，如濕癢者，加蒼朮末三錢同包。</p>
<p>下疳，生槐蕊，開水送三錢，日三服。</p>
<p>又小薊、地骨皮每五兩，煎濃湯洗淨，（鮮者更妙，久浸即瘥）再以黃芩、黃柏、宮粉、珍珠、冰片，研末敷之。</p>
<p>梅瘡，乾荷葉濃煎代茶飲，甚效。又松香、鉛粉研末，麻油調塗。</p>
<p>打撲損傷腫痛，生薑自然汁、米醋牛皮膠、同熬溶，入馬勃末不拘多少，攪勻如膏。以薄紙攤貼患處即效。</p>
<p>杖不知痛，三七、無名異、地龍共搗，白蠟為丸，酒服，或以白蠟一兩，䗪蟲一枚，酒服亦妙。</p>
<p>杖丹，水蛭為末，和朴硝少許，水調敷之。</p>
<p>被笞身無完膚者，骨碎補爛研取汁，酒調或煎服，渣敷患處。</p>
<p>箭鏃炮子入肉，干莧菜研末，沙糖調塗。</p>
<p>金瘡，黃牛膽煅存性，研細敷之。</p>
<p>湯火傷，松樹皮（自剝落而薄者更良）陰乾研細，入輕粉少許，生油調敷，如敷不住，紗絹縛之。</p>
<p>或用地榆末糝。</p>
<p>又夏枯草研細，麻油調，厚敷之。</p>
<p>竹木刺，烏羊屎搗爛，水調厚罨之，即出。</p>
<p>蜂螫，蚯蚓屎塗之。</p>
<p>犬咬，梔子研末，蘆菔汁調敷，猘犬咬者，服玉真散（玉真散即防風、天南星等分研末。）並治金刃傷，打撲跌墜，及破傷風皆效。</p>
<p>疔疽發背，瘰癧惡瘡，及毒蛇猘犬傷，並宜以艾灸之。</p>
<p>雄按：徐靈胎云，癰疽陽毒，及生頭面者，皆不可灸。</p>
