<header data-type="book">
<h1>醫中一得</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>清·梁溪七世家醫雅亭氏<data value="顧爾元拜">顧爾元拜</data>撰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1863">公元1863年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>詩曰我思古人實獲我心獲之為言得也有得於心也聖人之於學也未得則發憤而忘食已得則樂之而忘憂學貴乎有得也如是醫之為道亦何獨不然粵稽古聖上自軒岐中及仲景為醫中之聖聖則得之全也厥後劉河間李東垣朱丹溪輩各執一見各成一家亦各有所得而為之也迄今如葉香岩之批刻陶氏金生集徐靈胎又評點葉氏方案孰非有得於心而為之歟余雖業醫半生碌碌於醫道茫無所得每念前人不勝惶愧乃無何而儀鄉宗臺來手執其所著醫中一得示余余受而讀之其中癉瘧一說發前人之肋未發葛升一方制前人之所未制至如產後房勞與蓐勞異既有明辨又有定方余以之治人無不應手知儀鄉先生固有得於心而為之也一得之所以名書也願世之閱是書者勿以管見視之以之行世參以己見旁推類及或者更有所得並不止一得何莫非是書之有所裨益而垂之不替耶是為序</p>
<p><u>癸亥仲春月梁溪七世家醫雅亭氏顧爾元拜撰時年七十有四</u></p>

<h1>輝瘧淺說</h1>
<p>時交夏至以後連日身體發熱午後更甚至夜半出汗稍和明日午後仍復大熱心胸懊憹舌胎黃膩脈數而洪或有上午即大熱者或有大熱前手足厥冷而熱者人皆稱為癉瘧方中無不用表裡雙解以傷寒之法治之其感邪極輕者雖不藥亦愈加稍重者屢投無效藉云癉瘧本難速愈必延至月餘元氣津液大傷熱仍不解一病愈淹無從措手殊不知傷暑與傷寒病本不同治亦各異葉氏云暑為無形之氣先從口鼻而入法當輕揚解散此語深得治此症之法切思暑氣入鼻必先犯肺入口必先犯胄然肺胃熱邪清之散之似可易愈何以治之無效蓋肺與脾為子母胃與脾為表裡故肺胃之病最易及脾午後更劇者陽明之見端也辰刻亦屬陽明已屬太陰每日如是者脾主信也胃為腑脾為臟其病纏綿不已者在腑易愈在臟難愈也且暑必夾濕脾又惡濕濕在脾不易去也治法當以辛涼解散為主用藥宜輕清上升不宜重濁下降經所謂火鬱發之是也夫脾為坤土其氣本升既為濕熱所蘊已失健連之機若早用苦降之藥遏住熱邪阻其上升之牲勢必其邪由表入里變成下痢而難愈矣是以治當純用辛涼解表務令將脾經所沾暑濕之邪導其仍從肺胃而出所貴提邪外越勿使引邪入里是為要著尤不可難以里藥下藥雜則藥便有所牽制其力不專難以奏效更防邪易陷脾耳因此症從無專治之法茲特本諸前賢參以己意聊擬一方遇病用之多能獲效奉勸</p>
<p>高明請嘗試之</p>
<p>葛升湯　治熱勢起伏有汗不解方</p>
<p>葛根（一錢五分）　升麻（八分）　連翹（二錢）　杏仁（去皮尖二錢炒）　牛蒡子（三錢）　六一散（三錢）　廣皮（一錢）　蟬衣（去足一錢）　川通草（四分）　香薷（一錢）　引用蘆根（一兩）　荷花露（一兩）　鮮荷梗（一尺）　鮮佛手一錢分量視人強弱加減虛弱之體升麻量滅強壯之人升麻酌增</p>
<p>以上之味平淡無奇人人皆用惟升麻為此方必用之藥與六一散通草能提脾家之暑濕使之外達肺胃葛根蘆根為涼散陽明之專藥杏仁為心果連翹能清心包絡熱香薷荷梗荷露清其暑廣皮佛手開其氣蟬得秋氣最先乃金風奏而炎暑消之意更與牛蒡為解散暑風之佐使也若大熱前先手足厥冷看病機已兼少陽富加柴胡四分時交白露而發病者方中須加赤巧藥一錢五分乃邪氣入營故他再加薄荷一錢以佐香薷之不逮若深秋後脈不甚洪口不甚渴當去蘆根四錢小兒則分量酌減此方連服三劑或五劑重者即輕輕者鉚愈或有變為瘧疾數日而愈者若但熱無汗脈洪數而懊煩者不用此方用大青龍湯去薑棗加葛根因暑蘊於中而外為寒所束也</p>
<p>此方之用神全在升麻一味蓋暑必夾濕若脾中蘊濕則清氣不升濁氣不降暑濕之邪交阻則外壯熱而內懊憹舌胎黃膩大便秘結小便短少諸症見矣惟升麻升其清氣則濁亦易降並助葛根諸藥滌邪外散可以效靈如無升麻別難奏效或云升麻非常用之藥抑恐陰虛之人提動肝陽故不敢輕投不知升麻入肺脾胃大腸四經非同柴胡之入肝膽可比可以無慮東垣先生亦常用之惟胃虛氣逆嘔吐者自宜慎用耳且此症兩候之內若能早用此方可無邪閉邪陷之虞亦無氣組痙厥之險業醫者未可輕視也又云表裡雙解亦是前人之法何以此症獨不可用答云先表后里古人治病貴有次第表未解未可攻裡仲師亦嘗言之若邪勢表輕里重者偶用雙解是專意攻裡帶疏表也表重者斷無此法況治傷暑之症務令將脾家所蘊之邪導其仍縱肺胃而出若用里藥不外檳榔枳實焦查神面厚朴之類性燥入脾雖與肺胃之藥同用而藥方有所牽制不能提邪外越里藥若輕尚無大患倘或重投多服則津液愈虧元氣愈弱正虛邪陷雖有良醫難為方矣若難下藥則熱邪陷脾易成滯下此所以諄諄奉勸世之業醫者考之於書揆之於理驗之於病深望明哲之士穎悟而信從之務將舊日所習之成法為之一變則病者幸甚</p>

<h1>附錄澄江華墅鎮俯恬吳君閱此寄來書並答書</h1>
<p>儀卿先生閣下兩奉教言浣讀大著發前人之所未發啟後學之所未悟業已黏之通衢廣布仁風於大地矣另附跋語於尾並將臆見質之有道尚祈指教為幸立論明暢皆窮源探本之言用藥輕清有批卻道竅之妙洵為暑門寶筏治暍良方有裨來茲功德不淺江浙卑下之地交春分以後即有熱蒸濕鬱之氣足以病人到五六七月尤甚俗謂之濕溫即暑濕熱三氣合病也經謂先夏至為病溫故曰濕溫後夏至為病暑故曰傷暑若暑濕潛伏三焦募原乃半表半裡之界至處暑後新涼外束伏熱內動而發者謂之伏暑其候最難速愈大批轉瘧則輕入里則重從古無人發明此理雖潔古以動靜分陰陽東垣以升清溫燥為清暑按之今病殊為未備惟河間劉氏理法清真如天水散桂苓甘露飲誠為三焦之妙劑惜引其端而未竟其緒喻氏以暑濕熱三氣匯為一門言之頗詳而於伏暑一症蓋闕如他意者自宋元明以來其證尚少耶抑當時有是病而以傷寒混治耶聞張鳳逵有暑症一書購之未得惟葉香岩前輩以江蘇人言江蘇病獨闢鴻濛如曰暑與濕皆地中之氣無形無質從口鼻吸受不宜以重藥推銷又曰仲景傷寒先辨六經河間溫暑必究三焦以手經為重忌足六經藥片言扼要允為後學津梁瑛每見秋後伏暑最屬糾纏患者極多必轉瘧乃愈若轉滯下乃邪陷二腸宜宗喻氏逆流挽舟法百無一失若不先行逆挽勢必愈趨愈下變為不治者甚多又有早用黃連石膏致邪陷厥陰變為痙厥神昏而成壞病者十中僅救一二瑛目擊心傷蘊於中者久矣著有伏邪論伏暑芻言痧麻及爛喉丹痧指迷等說俟脫稿後錄呈削政為荷再接癉瘧之說內經與金匱所言大略相同皆陰氣先絕陽氣獨發但熱不寒耳椎內經言肺素有熱金匱言氣藏於心要不外心營肺衛之旨細繹之似冬令金水兩虧之人邪伏手太陰足少陰至春三而發有寒熱往來者有但熱不寒者有咳嗽者有咳久失血者與熱病溫病兩感之病同源異流治不得法或誤散或誤補遷延時日每成損怯故曰令人消鑠肌肉似與暑病不符貴邑明醫甚多以暑病為癉瘧其得之師承口授乎抑別有所闡發經義而云然乎循名覈實不能無疑尚祈明以教我曷勝幸甚</p>
<p>甫恬先生閣下接誦手書藉悉起居安善動定咸宜以欣以慰所呈癉瘧淺說皆屬膚淺之論或即為愚者之一得亦未可知乃蒙嘉獎過當實覺汗顏推方中之葛根升麻並未論及竊有所疑然鄙意以為此方之關鍵全在此二味蓋葛根為涼散陽明之專藥若不以升麻六一散佐之尚不足以升舉脾胃之暑濕使之外達六一散中滑石亦屬陽明之藥必用六分而佐以甘草一分者欲令滑石導入脾經方能將脾之暑濕外紲也古人制方之義如此後人以為濕家忌甘草而專用滑石大失此方之旨矣古方中用升麻者甚多何今之醫士都長而不用耶即爛喉痧亦須用升麻傷寒論中有越婢湯以後諸家不明其義強為解釋不知婢乃脾字之訛越婢者為發越脾氣之義故方中兼用薑棗亦從脾經導邪之意猶六一散之用甘草也夫脾為坤土位居中宮為營血之源上達則可傳肺胃下陷則易入肝腎病機之出入醫家之挽回須在此參究耳所以東垣先生亦著意乎此至於癉瘧之名乃通稱其實即傷暑也此亦仍其舊而已若無汗而用大青龍湯亦自有說世皆以暑月忌用麻黃者蓋以麻黃性溫非夏令所宜又以夏且腠理已開若再用麻黃恐有汗多亡陽之慮不知傷寒中之用大青龍因寒已化火故有口渴脈洪煩躁之證以麻黃桂枝發汗為君而以石膏之辛涼佐之取龍騰雨降之意此症脈洪數口渴無汗相同若不用麻黃桂枝發汗石膏清熱則汗無從出而邪無從解濕熱蘊伏中宮津液日傷元氣日耗變症不可測矣故必用斬關奪隘之法以救之不過傷寒以麻黃桂枝為君石膏為臣此症當以石膏為君麻黃桂枝為臣分量有輕重貴在臨症權衡也經云肺素有熱邪尚在衛金匱言氣藏於心別入營矣若不辨明營衛經絡概從氣分發散尚屬隔膜為能愈病所謂治不得法也更有此種熱邪尚從上年夥於營中冬令閉藏至春而劇醫者當審其或在脾經或在肝腎對症用藥方能獲效若邪伏在脾胃營分則右關之脈沉分必獨洪數先輩有以葛根犀角並用葛根散邪犀角清熱二味為君參入地味最為合法至或有咳嗽者或有咳久失血者皆屬熱伏營分之徵若遷延時日每成損怯及令人消爍肌肉總是陰分為伏熱所傷之故若不知清熱而但知用補則大謬矣清熱總須邪有出路不可一味寒涼此病乃從前所伏之邪暑病為暑月新受之氣故病不符治各不同也愚意如此未識高明以為何加還當有以教我為幸高論中雲伏暑症必轉瘧乃愈若轉滯下變為不治者多此亦顯而易見者蓋少陽為半表半裡六經之樞機轉瘧者是太陰之邪傳變少陽由陰出陽也故易愈若轉為滯下則太陰而傳入厥陰矣故難治可見伏邪亦應分六經若河間之究三焦似言受病之始尚非伏邪之確論也敗毒方中之用柴胡羌活亦是從陰經導出陽經之意故曰逆流挽舟是從趨下之勢而挽之使上也由此悟入一隅三反矣</p>

<h1>俯恬吳君又有書來並答書</h1>
<p>儀卿先生大人閣下閏月接展還云詳論癉瘧因夏秋忙甚未遑握管致稽裁復抱疚無加正深渴想十月中又奉手教誦悉福履恆綏潭禧晉吉以欣以慰承惠風雷集及大著醫中一得浣讀之下仰見仁人用心志在濟世至產後房勞論發千古不發之蘊誠為醫中暗室一鐙尤徵學識精選不勝欣佩之至惟荷蒙稚愛垂問諄諄謂加有別說或尚有未到處統祈示不悉改正不致貽誤後人更見虛懷若谷瑛敢不以三十年臨證考覈之苦衷心有所悟者為知己告謹將下詢原由及癉瘧二字不可以傷暑混同立論之處另單呈核伏祈鑑定正其繆存其真為幸瑛與閣下交有年矣何幸而得此益友也日後拙作告竣寄閱之後尚望匡以不逮是荷竊思醫以活人筆之於書傳之於後立言宜萬世無弊若擇之不精便有偏而不全之處敢將管窺之見與平日臨症有得合於古而可信於今者印證高明尚祈賜教為荷　高論云癉瘧之名乃通稱其實即傷暑也亦仍其舊而已竊謂癉瘧本於內經仲景特發明金匱蓋實有是症也考說文癉者勞也因勞生熱（即內經陰虛生內熱也）故勞字從火從力謂有所過用其力則君相二火上越高顛其病為熱此雖臆說似與陰氣孤絕陽氣獨發二句頗合因其但熱不寒故曰癉作止有時故曰瘧大抵腎水不足素多內熱之人冬不藏精寒伏少陰至春夏陽升氣暖邪尋出路而發於心肺從上焦而達之也喻氏論癉瘧主以甘寒言之未能十分透徹徐忠可謂與溫瘧同一機局沈目南謂癉瘧亦微有灑淅惡寒至但熱不寒心陽發病肺邪不能復心為寒故但熱不寒又曰白虎加桂枝湯即前癉瘧而出方也喻氏謂心肺兩陽合邪故但熱不寒　鄙意癉瘧即瘧病中之一症內經列於瘧論仲景發明於瘧門謂傷暑乃癉瘧中之兼症則可謂癉瘧即傷暑則不可既登梨棗似宜立言無弊不可拘於俗稱也謹奉勸分作二說以為後學之一助近診患癉瘧者甚眾非若傷暑寒輕熱重或寒熱往來者可比高論中有經云肺素有熱邪尚在衛起至此病乃從前所伏之邪止一叚甚為明晰可請將大著正其名曰傷暑淺說另著癉瘧淺說發明內經金匱奧旨以啟後人庶幾名實不混　高論越婢乃脾字之訛為發越脾氣其說甚正此一節發明脾胃病機誠為治法之關鍵大青龍有興雲致雨之能說本柯氏用之傷暑宜石膏為君尤見卓識鄙意麻黃雖與石膏同用似非暑病所宜用之於二三月癉瘧之壯熱無汗大渴脈數大者似妥　高論中邪伏脾胃營分則右關之脈沉分必獨洪數此明言之至確者先輩有以葛根犀角並用尤為癉瘧中陽明少陽經之的方來札云方中葛根升麻並未論及竊有所疑然鄙意以為此方之關鍵全在此二味云云細繹尊方所主在脾本東垣清暑益氣湯來東垣所論者脾胄也立法全在中焦一味升陽為主如果邪在足陽明之經葛根乃一定之主藥若在陽明之府非葛根所宜升麻為手陽明之主藥若邪在上中二焦又恐藥過病所反傷無病之所至香薷芳香清透之品為傷暑之主藥於伏暑又非所宜鄙意宜憑脈辨症隨症活法去取有是病則用是藥所重在識症醫者識得真辨得明不患無治法嘗考方者則也仿也有一定不易之方有隨時變易之方一定不易者如胃家實用承氣太陽病無汗用麻黃有汗用桂枝不拘方氏三大綱之說是也隨時變易者以古方加明艾時文取來看樣不可直鈔一篇名作以應試又如畫家仿某人法某人筆意是也許學士云予當讀仲景書用仲景法未當執仲景方羅太無雲用古方譬如拆舊料添新料必經匠氏之手方善來書云伏邪亦應分六經若河間之究三焦似言受病之始尚非伏邪之確論此言專主手少陽一經是也試暢言之河間溫熱主乎三焦其說有二一則專言手少陽經也蓋一歲有六氣自春分至小滿為二之氣手少陰君火主令其候溫甚化火自小滿至大暑為三之氣少陽相火主令其候熱甚化暑故溫暑必從手經先受亦猶傷寒必從足經先入也此不獨天時一定之運氣亦人身同氣相求之至理故葉氏論溫熱曰溫邪上受首先犯肺力辨以足經藥治手經病之謬又曰河間法至精至妙後醫未讀其書焉能治病臻效惜乎專以陶書六經治病等語其歎服也如此況三焦與手厥陰為表裡暑先入心故逆傳心胞最易人身一小天地誰曰不然此實發明內經五運六氣之奧旨有功後學不淺一則統人身上中下之三焦而言不專主乎手少陽一經立論也經曰上部天中部人下部地又曰上焦如霧中焦如漚下焦如瀆是人身之有三焦猶天地之有三元也試以太陽經而論起於目內眥上額交巔則白頭項至心肺之俞太陽經之上焦也自背至腰脊命門穴太陽經之中焦也自腎俞至足少陰穴太陽經之下焦也舉一經而六經皆有上中下可以類推矣故上焦法天純乎清氣在臟為心肺之部上焦之邪必在初感其病淺藥用輕宣透達藥重反過病所上焦失治傳及中焦其病深矣中焦法人為氣交之中清濁之界在臟為脾胃之部其受邪也陽明獨多如省垣都會萬物輻輳也有在經在腑之則不可混治實投攻下熱用寒涼虛進參耆寒宜姜附瘴癘可破可逐濕熱可清可燥中焦失治傳入下焦傷及血分其病篤矣下焦法地純是濁陰在臟為肝腎之部藥用滋填火則清之寒則溫之濕則利之下焦失治傷及肝腎十難救一矣仲景六經發明於前河間三焦輔翼於後一經一緯如日中天仲景六經非專為傷寒設此內傷外感不能捨六經而言症言治也舉足經而手經亦包括在內矣河間三焦非止為溫暑設凡外感內傷亦不能外三焦而言清言濁也明得三焦而十二經皆在其中矣所以時賢吳鞠通著溫病條辨汪瑟葊侍郎詳加評點發明上中下三焦症治虛實寒熱不憚煩言良以世之人不明溫暑指歸不究三焦深淺特為喚醒俾克遵循誠醫門之一火炬也質之高明未識以為然否也　高論產後房勞可為萬世規則補氣通血一句乃不刊之論也兩方一治全實者一治半虛半實者雞冠一味尤徵格物精確讀此明快之書令人心開目爽舍下家秘女科中採有經驗之方宜於藜霍而不宜於膏梁尊方則貧富皆可用惟已成咳嗽寒熱者未識有何妙法室女經閉成勞有血枯而閉者郁損而閉者尤為難治統祈教以不逮曷勝幸甚俯恬先生閣下接讀手書藉悉交祺佳暢與序更新欣慰奚似承示教言皆有根據並無杜譔足徵學有淵源凡讀古人書應先胸有識見引伸觸類融會貫通當悟乎書之外勿泥乎書之中方為善讀書人若以癉瘧為勞症為陰虛生內熱而發及冬不藏精寒伏少陰等說恐非夏月所發之病識之不真則治之不的無怪遇此症延之日久而無效矣此則但熱不寒者則為癉瘧寒熱往來者則為瘧疾二症俱由傷暑得來暑濕之邪傳入太陰與陽明合病則成癉瘧暑濕之邪傳入太陰與少陽合病則成瘧疾所謂夏傷於暑秋必痎瘧也知病在太陰少陽須用柴芩是將太陰之邪提歸少陽則知病在太陰陽明須用升葛是將太陰之邪提歸陽明也何以此病之邪不離太陰脾經者蓋則每日起伏如是乃脾主信故也因此症敝邑之醫皆稱癉瘧若別立名目人必不知指何症而言是以仍其舊也人身有二火二土腎火生脾土心火生胃土脾胃二土位居中官一陰一陽一表一里一臟一腑一升一降運行一身相須為用即身中之太極猶河圖之五十居中也經曰飲入於胃遊溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱水精四布五經並行此之謂也自濕熱蘊阻脾經則不能與胃相配行其津液矣仲師云陰氣孤絕者是太陰之氣孤絕也陽氣獨發者是陽明之氣獨發也陽明之陽亢而無配故但熱不寒也玩孤獨二字便明下即云邪氣內藏於心外舍分肉之間心為胃之母肌肉為胃所主也內藏於心故煩冤外含分肉故肌肉消爍也非指陽明而何所指乎即如白虎加桂枝湯非陽明藥乎非足經藥乎加桂枝者為石膏之反佐以助辛散之力兼能入營發汗也若無汗之癉瘧必須發汗則邪始透達若不用麻黃桂枝將有何藥以令發汗乎如不得汗則邪從何解乎仲師之立麻杏甘石湯方亦為熱邪在肺而設若本陽虛之體麻黃原不可輕用恐再亡陽也夏月表疏不可重虛其表古人之言似因有汗者而發若無汗而熱邪蘊結不解而用數錢之石羔少佐數分之麻黃亦屬經權之道若恐汗出不止則止汗之方甚多邪解之後選而用之亦無不可也若但用麻黃而不兼用桂枝尚恐汗不遽發蓋以汁為陰液麻黃但能入氣分而桂枝則兼入營分矣故桂枝湯中無麻黃而麻黃湯中有桂枝也因風傷衛不可用麻黃寒傷營須兼用桂枝也癉瘧為夏至以後之病若在二三月間尚無癉瘧惟溫病則有之所謂冬傷於寒春必病溫也若夏月之症即將太陰所沾暑濕之邪及早提歸陽明清而散之又何有伏邪竊發自冬至春變成難治之症哉無汗之癉瘧兩候內用大青龍去薑棗加葛根若兩候外則忌用恐津液已傷不可強逼其汗重亡津液也脈洪數而實仍煩冤者參用白虎加桂枝湯等方後此再用甘寒之法可矣吳鞠通溫病條辨論症立方其說理精透處同屬不少其間未是處亦不能無瑜不掩瑕未可一概論也茲因心力不逮惜不能通本批評耳至室女經閉成勞與產後房勞症不月同而所以不月則不同經云二陽之病發心脾有不得隱曲女子不月此因不得隱曲則肝木鬱而不伸肝鬱則病及於所生病及於所克故發於心脾也心主血脾統血肝藏血三臟均郁故不月也此症當從木鬱達之之例宜用加味道遙散參入桃仁紅花延胡貝母生地之尖十數劑後再用通瘀決津大黃䗪蟲丸之屬以治之體極弱者亦可加用人參務須藥及病所不可病重藥輕當以經通為斷耳若已成咳嗽者是木火刑金未可與感冒並論也詩曰涉彼阿邱言採其虻虻即旦母能治郁也故宜參入愚意如此還請高明有以教之知閣下好學深思旁搜博採更兼虛已待人故敢以鄙陋之見冒昧直陳蓋彼此討論庶能於此道鞭逼入細不致貽誤後人或可藉為啟悟而有裨來茲未可知也癉瘧魏柏卿注為熱毒則視溫瘧較重仲師治瘟瘧用白虎加桂枝湯則癉瘧用大青龍去薑棗加葛根可類推去薑棗者姜性烈棗膩滯也此獨為癉瘧初起立法若延至日久則症已變而治法亦變矣金匱癉瘧條中雲陰氣孤絕陽氣獨發此二句是仲師發明癉瘧之病源蓋陰陽不相配為之孤往來不相通為之絕陰氣孤絕故陽氣獨發也此所以脾不能為胃行其津液而為病也若非如此解須知仲師原文一字不苟孤絕二字甚重試細思之人可陰氣孤絕耶白虎加桂枝湯與大青龍湯其中所用桂枝均當去皮而用木蓋皮性大熱木性溫和也</p>

<h1>大青龍加味湯</h1>
<p>石膏（六錢）　麻黃（八分）　桂枝（四分去皮）　杏仁（去皮尖三錢）　甘草（五分）　葛根（一錢五分）　分兩臨症加減</p>

<h1>產後房勞論（俗稱產母病）</h1>
<p>婦人生產二三月後身忽發熱逾時暫解數日後身又發熱仍復暫解始則數日一發熱繼則兩三日即發熱後則連日脈數身熱不能暫解身體困倦飲食漸減面色萎黃或似外感或似內傷感為蓐勞但蓐勞乃產後月內之病因坐草艱難所致此則生產二三月後之病與蓐勞似同而實異俗稱產母病也醫者調治始用發表疏解治之不應旋用養陰清熱後用健脾開胃補虛等藥總歸無效其人日兒困頓熱仍不解脈象虛數沉分帶弦一病淹淹漸成勞怯遍考方書既無確論又無專方醫家無所折衷只好束手坐視而已殊不知此症都由生產一月之內八脈空虛惡露未盡夫婦同房致將惡露阻住子宮不能盡去是以血絡日漸瘀積則氣亦窒滯一身氣血不能晝夜流通而營衛不調身熱作矣初不甚覺以後血愈積則身愈熱身愈熱則氣愈弱而血愈積遂成乾血勞症而難治矣療治之法不外補氣通血四字而已蓋氣為血帥若氣不足則瘀難通故補氣通血不可偏廢也夫血熱則行血寒則滯若但知養陰清熱則血更滯而熱更甚熱久不解勢必血漸涸而氣愈餒欲望不成勞症得乎謹錄兩方臨症加減聊為此症之規法庶幾後之學者有所適從焉</p>

<h1>延胡索散專治婦人產後房勞</h1>
<p>延胡索（二錢）　生赤芍（二錢）　生蒲黃（二錢上）　肉桂（二錢）　琥珀（二錢）　當歸（二錢）　紅花（二錢）</p>
<p>上藥用好醋浸一宿共為細末每服二錢七服而盡陳酒送不如虛弱者用參湯送下</p>

<h1>八珍加味湯</h1>
<p>川芎（一錢）　全當歸（醋炒三錢）　赤芍（一錢五分）　熟地（四錢）　人參（三錢）　雲茯苓（三錢）　冬朮（土炒三錢）　炙甘草（六分）　廣陳皮（一錢）　桃仁泥（三錢）　新絳（一錢）　蘇木（一錢五分）　五靈脂（三錢）　上桂心（五分）　延胡索（一錢五分）</p>
<p>引用生薑（三片）　大棗（二枚）　青蔥管（三根）</p>
<p>再加大紅雞冠花（一兩）　如用乾者減半</p>
<p>以上之方補氣用四君子補血用四物湯行氣用陳皮延胡行血用桃仁新絳蘇木五靈脂用桂心者血得溫則不滯也引用薑棗利其營術青蔥管直走衝脈紅雞冠綱目但言活血卻能引領眾藥導入子官為此症必用之專藥因其形似豬肚中之生窠故為子宮之引終此說得自宜興屠漸齋先生所傳非臆說也如無人參以潞黨參八錢代之加酒一杯煎服十劑必有效驗如月分尚</p>
<p>淺氣血少弱則服前方若月分已多氣血大傷則服後方咸豐四年仰秋錫山顧文山氏識</p>

<h1>附錄</h1>
<p>醫士王君癉瘧辨論細讀尊論所云癉瘧多由伏暑而成如暑必挾濕邪伏太陰太陰與陽明合病則為癉瘧太陰與少陽合病則成瘧疾以及陰氣孤絕陽氣獨發等說皆極明暢佩服之至然以愚見觀之伏暑自有伏暑之病癉瘧古有癉瘧之名錫邑醫家所稱癉瘧伏暑之病居多澄江諸醫所稱伏暑其間亦有癉瘧何以辨之須知癉瘧熱症也細玩經文如肺素有熱及邪氣內藏於心外舍分肉之間熱而少氣煩冤消爍肌肉等句則知夏秋癉瘧暑熱居多暑傷氣故云少氣暑先入心故云邪氣內藏於心古方白虎湯竹葉石膏湯乃癉瘧正治之法也近時薛一瓢立清瘧飲亦從清解立法至於白虎加桂枝必見大熱煩渴而又背獨惡寒骨節煩疼方可加用程云來金匱註解謂白虎清氣桂枝入營治在心營肺衛徒屬紙上空談令人好看恐尚非確論也若夫伏暑初起微寒微熱起臥自如舌有白苔胃能飲食食亦無礙不食亦不飢淹纏旬日而後病勢漸重此真所謂伏暑乃濕熱二字為病也治暑病與伏暑喻嘉言暑門諸方論可云詳備再參薛生白濕熱論三十三條新法頗多可應無窮之變高明諒必洞悉茲不煩縷述矣按古語暑屬火暑必挾濕暑傷氣暑喜歸心暑邪堊戀上中瀰漫三焦等說為治各各不同故治暑之方溫清消補解散通利亦種種不一統以見證為憑未易一言盡也尊論升葛亦創一新法確有意義可法可傳有裨來學世多明哲自有定評無俟鄙人誦也</p>

<h1>答書</h1>
<p>接閱尊論至為明晰欽佩奚似惟此症自夏至以後至初秋發者謂之癉瘧目深秋至初冬發者謂之伏暑其實皆傷暑得來伏暑者秋涼已深暑邪伏於營分也而尊見以為伏暑自有伏暑之病癉瘧古有癉瘧之名似以此病忽分為二矣然劃古有癉瘧之名自有癉瘧之實將以何症為癉瘧耶抑古有癉瘧而今無癉瘧耶捧讀之下令人不能無疑仲師制白虎加桂枝湯自有深義而足下以程云來註解為紙上空談則從古聖賢所論都在紙上豈亦謂之空談而不能見諸實事耶僕非精於此道亦非行道之人然既有疑不能不問還當明以教我為幸</p>
<p>黃帝內經千古不磨之作所言經絡臟腑腧穴陰陽五行連氣非神聖不能道隻字仲景傷寒金匱亦千古不磨之作有論有證有方有法多一味便不是此方異一脈便不是此證非神聖不能道隻字第內經所言者是體仲景所言者是用此二書實體用相須之要道也癉瘧一症內經金匱俱載之但未竟其詳耳太凡四時為病冬月即發者謂之正傷寒然冬寒而反暖即有冬溫至於冬傷於寒至春變溫至夏變熱即謂之伏氣矣故發於春末夏初者便謂之溫熱病溫熱病中間或有溫瘧癉瘧之形舉俗所稱春溫似瘧春溫癉瘧濕溫似瘧濕溫癉瘧或師承相授或習俗相傳亦非漫然而稱之也大抵夏至以後而病熱者謂之熱病新書溫病條辨中所云暑溫是也挾濕者謂之濕溫濕溫症治古方用蒼朮白虎則知無濕而但熱者白虎湯是治暑熱之正法矣今時酷暑炎蒸忽起涼風雷雨而病者是暑熱為暴寒遏伏先用香薷解表數劑之後忽變大熱大煩大渴而又背獨惡寒骨節煩疼白虎加桂枝恰當由是觀之白虎湯治暑熱之正方挾濕則加蒼朮兼寒則加桂枝豈不明且確也程云來註解白虎清氣桂枝入營非不有理然欠暢達鄙人無學何敢批駁前賢然而認證用藥要歸著實加柯氏來穌集改正越婢湯證非有膽識者不能讀古人書須自具見識勿為古人瞞過者類如此夫大暑以後立秋初際每多但熱不寒即是癉瘧寒熱往來便為瘧疾當此之時其治尚易因暑邪內伏未深也逮至秋分之後寒露霜降則邪伏遽深而其為病亦重矣夫豈伏暑門中而無癉瘧之症哉仲景云太陽病或巳發熱或未發熱必惡寒體痛嘔逆脈緊無汗者名曰傷寒若脈緩有汗者名曰中風是從傷寒中分出中風也若夫癉瘧是熱症也雖當初起必見熱重煩冤舌紅無苔或有苔而亦甚薄與伏暑之初起微熱淹淹舌上苔滑者不同由是觀之雖屆深秋其病初起熱重煩冤者即屬癉瘧便不得謂之伏暑矣暑濕內蘊微熱淹淹舌苔白膩雖系秋初便與伏暑相類但不名伏暑而名濕熱病耳尤在涇解風傷衛寒傷營二句云寒之淺者僅傷於衛風而甚者並及於營衛之實者風亦難泄衛而虛者寒猶不固古稱大青龍治風寒兩傷營衛之法詎知是中風衛實之方風為陽邪內郁化火煩躁特甚故用石膏衛實無汗發熱惡寒故用麻桂此語獨超千古又有暑病解云暑屬火暑必挾濕故陰虛多火者暑即寓於火之中陽虛多濕者暑即伏於濕之內此亦名言非同泛泛由是觀之患癉瘧者陰虛火盛之人為多即經旨肺素有熱之來路也患伏暑者陽虛濕勝之人不少即濕性滯濡之意也惟濕鬱必化熱六氣皆從火化故濕熱伏暑病亦有化燥而用清法者不可不知乃若癉瘧燥熱居多清解是其正法清解維何辛涼是也如薄荷牛蒡桔梗連翹豆卷青蒿竹葉蘆根等味因其病方初起後人不敢用白虎開場但用輕清涼解取意則同而命劑懸殊矣儀翁先生好學深思特舉葛升為癉瘧開首之法豈不另具卓見第伏暑之病邪居足太陰脾為多用升葛從脾胄提出伏邪頗有意義若癉瘧邪居手太陰肺為最多肺主一身氣化為清肅之臟似宜輕清解散為穩病情變化不可勝數處方定法統以見症為憑故癉瘧見虛者加沙參麥冬洋參之屬挾濕者加蘆根滑石川通草之流果熱甚而大煩大渴者則竟用白虎熱甚而挾虛則白虎加人參或竹葉石膏之類熱甚煩渴過飲水而挾濕者河間五苓三石甘露飲最妙如上症挾濕而又停濁者子利甘露飲尤妙要皆不離肺熱二字而後傳布三焦生津降火補氣養陰總以肺胃為主未及脾腎又為病後培元之著矣此癉瘧症治之大略未足為明者道也雖然病變無常方難執一以余閱歷同一病也而體氣不同則治法變矣悵璐玉醫通有兼症晰義兩卷最為明晰暇日觀之足令人心機活潑叨居愛末冒味直言伏祈垂察是荷</p>

<h1>答書</h1>
<p>接閱高論引證明備說理精詳足徵學問淵深欽佩奚似煞內經金匱以及後賢方論諸書苟從事於醫者無人不覽無煩贅述也鄙人因見夏秋所患傷暑之症日久淹纏變症莫測醫家治之不能速愈是以稍杼所見發此微論專指有汗之癉瘧無汗之癉瘧二症而言並未旁及他病也若是春溫冬溫濕溫溫熱等症或有傷寒中來者或有感冒時邪者或有伏邪感新邪而發者症不一端治不一法若欲縷晰條分非一紙所能盡溫病條辨中亦已言其大略矣夏秋之症有但熱不寒而無起伏者有乍寒乍熱而無定時者俱與癉瘧有別不得以癉瘧之例一概治之此中有冬傷於寒邪伏在內至夏感暑引動而發者有極重之症不可不知即論夏月傷暑之病亦多而癉瘧則暑病中之尤甚者也古人謂夏傷於暑秋必痎瘧未當言夏傷於暑春必痎瘧也可見瘧疾為秋月之病而非春月之病明矣夫春月之病亦有似瘧者乃傷寒中之涉及少陽而然也如竟與秋後瘧疾同論則誤矣更有營衛虛而往來寒熱者此係大虛之候必於脈象見之應當議補醫者亦不可不知內經金匱將癉瘧列入瘧症一門則癉瘧為夏秋之病而非春月之病亦明矣古人謂先夏至為病溫後夏至為病暑可見時令亦不可不論七月為之初秋九月為之深秋若以初秋之病為伏暑轉以深秋之病為癉瘧而不為伏暑併為春間亦有癉瘧不知出於何書望為明示以廣見聞若習俗相傳雖有師承口授終非前賢確淪未可信為實然也傷暑之症本應有汗若癉瘧而至無汗必因內蘊暑邪外為涼風所遏則肺氣不達腠理閉塞故致無汗其有汗之癉瘧尚須辛涼解表至於無汗之癉瘧則非牛蒡薄荷桔梗豆卷等所能勝任矣非不知更為穩當其如屢投無效何舉世茫煞罔覺不能一悟良可慨已因而想到大青龍湯去薑棗加葛根為法方中重用石膏為君少加麻桂為反佐則無汁之癉瘧庶能發汗而邪可解矣反佐者如白通湯之用豬膽汁滋腎丸之用桂心是也癉瘧魏柏鄉注為熱毒視溫瘧較重仲師論溫瘧用白虎加桂枝湯則無汁之癉瘧用大青龍去薑棗加葛根亦可類推去薑棗者姜性更烈棗恐膩滯也加葛根者涼散陽明之邪也不過傷寒以麻桂為君癉瘧以石膏為君若用數錢石膏而以數分麻桂為反佐亦可無慮且無汗癉瘧必熱勢起伏日有定時口渴煩冤脈洪數重按實者方可用若似癉瘧而非癉瘧原不可用當須識此不可誤也古人處方此一味重彼一味輕與此一味輕彼一味重便即法不同而治各異醫者貴在臨症權衡也況此獨為癉瘧初超立法若延至日久則症已變而治汪亦變矣豈可膠柱鼓瑟哉金匱溫瘧條中有筋骨煩疼若謂背獨惡寒則未之及也至癉瘧之初起病情已載癉瘧淺說內茲不復贅至於病變無常方難執一無人不知不待言矣從前二弟媳素本耐性偶患瘧疾因將出汁心中煩躁遂令打扇以致汗不得出邪不能達終日煩躁異常遂請令業師醫治議用麻杏甘石湯似矣鄙意欲加桂枝數分伊囿於俗見堅執不肯以致不效至今深悔可見業醫者貴有膽識獨具卓見方能超乎流俗不致貽誤無窮斯可矣鄙人並非好為辨論因世俗醫之一道皆是浮光掠影隨聲附利毫無實際不能獨出已見此等本不足與深談惟旭翁先生博學明理超出庸眾心存濟世歷練已深故敢將鄙見直陳蓋醫理本不易明若能彼此討論刻意精求庶或差少錯誤也未識高明以為何如荒謬之見不知所云還請教以不逮為幸</p>
<p>接閱高論謂時令不可不論誠然誠然夫春溫夏熱秋涼冬寒四時之正氣也然春正月八寒未解交驚蟄節而後陽氣方升秋七月餘暑未消交白露節而後陰氣始降夏至一陰生正為熱盛之候冬至一陽生正是寒極之時蓋剝不極則不復理勢使燃也經云先夏至日者為病溫後夏至日者為病暑由是推之則知先秋分日者為病暑後秋分日者為病涼（補天石有秋涼傷寒之說涼極而後燥交九十月燥病方生）先冬至日者為病燥（喻嘉言補秋燥論謂經文脫卻長夏傷於濕以致後人不明秋傷於燥冬生咳嗽云云）後冬至日者為病寒先春分日者為病寒後春分日者為病溫矣常見春未夏初溫病流行闔門傳染屢經反覆延至夏至後小暑節仍有戰汗而愈者原屬溫邪非關傷暑此則病之餘氣非時之餘氣也又常見夏至以後起病有似溫邪延及小暑節熱勢朝和過午則盛但熱不寒竟與癉瘧相同此溫暑之交抑或所謂溫瘧耶喻氏云夏傷於暑長夏傷於濕由是推之初秋癉瘧夏傷於暑之為病也深秋伏暑長夏傷於濕之為病也癉瘧由乎夏傷暑故熱症多而病勢重病重故不易速愈也伏暑由乎長夏傷濕故濕症多而病勢緩緩則淹纏故亦不易速愈耳</p>
<p>再閱高論所云無汗之癉瘧必因內蘊暑邪外為涼風阻遏肺氣不達腠理閉塞亦誠確論借用大青龍湯重用石膏少佐麻桂亦無不可但必重用石膏清肺胃之熱劃知癉瘧責重肺胄無疑矣尊見亦明知癉瘧病在肺胃弟以為肺胄之病意見相同不遑多贅至於白虎加桂枝骨節煩疼見金匱背獨惡寒句見傷寒審證集引證用方要歸著實此即著實處也語云讀書多不如臨症多果能讀書臨症二者皆到更為美備惜言之易而行之難其惟終日勞勞荒疏無學辱承教示冒瀆粗陳伏維哂政</p>

<h1>答書</h1>
<p>金匱癉瘧條中雲陰氣孤絕陽氣獨發此二句是仲師發明癉瘧之病原蓋陰陽不相配為之孤往來不相通為之絕陰氣孤絕故陽氣獨發也此所以脾不能為胄行其津液而為病也若非如此解須知仲師原文一字不苟內經云陰氣先傷此特易以孤絕二字其義甚重試細思之人可陰氣孤絕耶此等精義從來未經人道雖讀仲師書猶之未讀耳書義未明何能識病既不識病何能治病徒誇臨症多無益也可兒醫之一道行之固難言之亦非易須知此症因脾為暑濕所阻不能為胃行其津液為病則其病在脾之暑濕可知然則脾之暑濕將何從而使之也乎其暑濕先既從肺胄而入脾自必仍從脾而達之肺胃方為正治也醫亦知從肺胃達邪然於無汗之癉瘧但用牛蒡薄荷前胡桔梗等恐不勝任方中並夾入厚朴檳榔焦查神麯枳實等類以為非此不能解其滿悶消其積滯不知此等之藥其性溫燥耗氧既非暑濕之邪所宜並恐牽制肺胃之藥不能得力又恐屢投多服更傷元氣津液是邪未達而正已傷並因正傷而邪易入里貽誤可勝言哉從以為胸中懊憹煩滿必須積去而邪可解殊不知邪解而煩滿自除此所以治病必求其本也古人治暑濕制六一五苓四苓等散為法蓋以暑中之濕宜滲宜利之故耳至於白虎加桂枝湯後人不明制方之義以為既用白虎以治熱邪河以參入桂枝之辛溫殊不可解苦思力索想到必因背獨惡寒之故其為款悟獨神隨令一人唱之百人利之矜為著實之處不知仲師於白虎湯加入桂枝大有深意因濕瘧之濕熱蘊阻中宮若投白虎恐或格拒必用桂枝之性溫為石膏之反佐又以桂枝之味辛助石膏之辛散並能入營發汗更將陽明之熱邪導其從太陽之表太陽之裡而出以為溫瘧之引路也若必待背獨惡寒方始用白虎加桂枝湯倘遇溫瘧而背不惡寒之症竟不能用此方坐失機宜貽誤不少矣夏月傷暑之症甚多而癉瘧為暑病中之最重最難治者歷來名醫不少獨於癉瘧略而不詳以致後人罔有指歸只得恪守師承口授之妙法表裡雙解不辨經絡不明營衛不分虛實概以世俗所用之藥世俗所用之方雜進亂投以致邪氣由表入里變成或痢或閉或陷之病而不一悟深可哀也即如屢承明示亦不過博採群書所載夏秋各症為言並未專指癉瘧一症究竟如何治法方為的確以使無學人頓開茅塞也鄙見如此特請大才斧政如以為不然還祈指示何處未是何處不從理上說來何妨絀加駁斥使之佩服眼見之多胸中之亮為囑竚望竚望按素問瘧論帝曰癉瘧何如岐伯曰癉瘧者肺素有熱氣盛於身厥逆上衝中氣實而不外泄因有所用力腠理開風寒舍於皮膚之內分肉之間而發發則陽氣盛陽氣盛而不衰則病矣其氣不及於陰故但熱而不寒</p>
<p>張介賓注云肺素有熱者陽盛氣實之人也故邪中於外亦但在陽分而不及於陰則但熱不寒也</p>
<p>又接邪氣內藏於心而外舍於分肉之間令人消爍脫肉故命曰癉瘧帝曰善注云氣藏於心陽之藏也熱在肌肉之間故令人消爍然則癉瘧之所舍者在肺心兩經耳</p>
<p>其但熱而不寒在陰氣先絕陽氣獨發則少氣煩冤手足熱而欲嘔名曰癉瘧注云癉熱他陽邪獨亢故但熱不寒而煩冤少氣表裡俱病放手足熱而欲嘔以熱邪及於胃也</p>
<p>愚按此內經專言癉瘧之病原也首條所云肺素有熱以風寒舍於皮膚之內分肉之間而發等文即世俗所謂新涼引動伏熱先宜解表</p>
<p>儀翁先生所云無汗之癉瘧宜仿大青龍湯重用石膏反佐麻桂內清肺熱而外散風寒深與經旨相合再接第二條邪氣內藏於心而外舍於分肉之間即儀翁先生所引白虎加桂枝症也肺主氣白虎專清氣分之邪熱桂枝能入心營引領白虎入營清熱外解分肉之邪論理甚合似乎不必有骨節煩疼背獨惡寒之見症然醫者之用古方必憑症憑脈更合之以病情而後用之若但任意測度病情舍症舍脈而曰某病在某經必用某藥吾恐論理雖是而用藥則非矣</p>
<p>附薛生白先生論溫瘧癉瘧辨白虎加桂枝之不合薛生白曰溫瘧癉瘧金匱云但熱不寒以桂枝白虎湯主治程云來解云用桂枝於白虎湯中引白虎之辛涼而出入營衛制其陽邪之亢害此論理之當然究屬紙上空談余屢用不應則知是方不中病情投之不見其撤熱之功反見其營熱煩躁之害細推其理瘧為久伏之邪非一劑二劑可愈之症石膏徒足以郁邪桂枝反熱其營故不中病情也余制一方治溫瘧癉瘧頗效今載是編告之後人</p>

<h1>清瘧飲方</h1>
<p>青蒿　蜀漆　知母　栝蔞根　淡芩　鱉甲　丹皮</p>
<p>再接第三條但熱而不寒者陰氣先絕陽氣獨發則少氣煩冤手足熱而欲嘔愚按陰氣先絕即首條肺素有熱之對面也肺屬金而位居上焦陰自上生陽從下長故肺為水之上源肺素有熱則水源絕陰氣不生故曰陰氣先絕陰氣絕則陽獨亢故曰陽氣獨發陽氣獨發故但熱而不寒令人少氣肺主氣熱傷氣也煩冤者心為陽臟即第二條邪氣內藏於心之見症也手足熱而欲嘔因四肢為諸陽之本胃為兩陽合明之經故手足熱而欲嘔也細玩經文則知癉瘧為熱邪外為風寒引動則病發其病在心肺胃三經並未言及足太陰脾字樣注云癉熱也則知真正癉瘧但有熱而無濕其不幹足太陰脾明矣其有挾濕者在初秋仍屬暑病在深秋即屬伏暑又非真正癉瘧矣語云名不正則言不順欲正癉瘧之治先正癉瘧之名尊論云書義未明何能識病今因將內經原文並先賢註解抄錄呈　政伏祈</p>
<p>明察是荷</p>

<h1>答書</h1>
<p>尊見以為陰氧孤絕是手太陰肺經之陰氣孤絕並非足太陰脾經之陰氣孤絕但內經云陰氣先絕而仲師特易以陰氣孤絕自有深義若如此說則孤字無著落矣孤字無著落則獨字亦無著落矣且肺之陰氣孤絕是竟為盡絕之絕若肺之陰氣盡絕尚得為之人耶前所言足太陰脾經之陰氣孤絕是脾中為濕熱所阻不與胃相配乃隔絕之絕也且此病之邪若未及太陰脾經何以熱勢起伏每日如是乎常見治不得法每致邪易入里而成滯下此症既與脾無涉則滯下亦與脾無涉乎此真所謂任意測度矣脾主四肢手足熱者即邪熱蘊脾之見症也至於白虎加桂枝湯乃仲師所制之方其義非尋常所能測識仲師為醫中之聖如薛生白不過近時之名家耳若以仲師之方為不足法而以薛氏之說為大可師是子貢賢於仲尼矣癉瘧既為熱邪是暑病無疑矣若云無濕則暑必夾濕之謂何不過濕有輕重也舌苔之黃膩即是濕熱之見症若夏月之症壯熱無汗口渴煩躁脈象洪數邪勢起伏有常而不為之癉瘧將如何之病而為之真正癉瘧乎考之內經金匱溫瘧與癉瘧大有不同癉瘧乃夏月傷暑之症溫瘧自傷寒中來化火而成熱症因骨節疼煩故用白虎加桂枝湯而薛生白以清瘧飲統治二症稱為頗效有識者似未敢深信葉氏云青蒿減柴胡一等自有此說醫家凡病中須用柴胡者則以青蒿代之多所貽誤蓋柴胡入氣分青蒿入營分柴胡主升青蒿主降大有分別也不過柴胡青蒿具屬少陽經藥耳若邪入營分而寒熱往來自用青蒿以清泄膽經之熱為宜若瘧邪初起尚在氣分早用青蒿有引邪入營反致淹纏之慮醫者亦不可不知愚見如此</p>
<p>還請高明斧政為荷</p>
<p>七月中若能於無病時將此葛升湯原方分半月內預服三劑則暑邪表散秋後不致愚癉瘧瘧疾並無伏邪矣已試過幾人</p>

<h1>送子神效方</h1>
<p>原傳之方系四川用成都府崔照磨年七十歲赴京遇戶部郎中周士富相敘二人同庚得傳此方崔照磨妻年已七十服之面如童年經水復來一交成孕連生二子奇怪已極有崔鄰張遴寡婦陳氏年六十二歲不信吃藥偶亦試之果若童年隨即有孕更怪矣奈孤陰無陽墮胎而無骨又有諸學士妻趙氏年已四十五歲服此藥連生四子神化莫測真仙方也此藥添精補髓更治五勞七傷功難盡述今系贛州府金太守面看此方力勸制服據有武官總爺年老無子因服此方連生二子人在世間方便第一不可秘密宜傳此方功德無量</p>
<p>澄茄（二兩）　蜘蛛（十四個陰乾研）　母丁香（二兩）　山萸肉（二兩）　四錢）　巴戟肉（二兩）　當歸（二兩）　牡蠣（二兩煆）　大茴香（二兩）　乾漆（二兩炒）　大熟地（二兩四錢）　威靈仙（二兩）　全蠍（五錢去尾）　車前子（二兩）　雲苓（一兩四錢）　龍骨（二兩）　蛇床子（一兩四錢）　萆薢（四錢）　肉蓯蓉（二兩四錢）　桑螵蛸（一兩四錢）　遠志肉（二兩）　沉香（三錢）　木通（二兩四錢）　廣木香（一兩四錢）　兔絲子（二兩）　馬蘭花（八分陰乾研）　燈草（五分）</p>
<p>上藥念陸味各研極細末煉蜜為丸如綠豆大</p>
<p>煎方</p>
<p>桂枝（三錢）　甘草（二錢）　白芍（三錢）　姜皮（二錢）　共一兩再加白飴糖（二錢）　大棗（三枚）</p>
<p>上藥每月到轉經期服一帖此方甚靈近來眼見已效三人</p>

<h1>葛升湯驗案</h1>
<p>予家女孩年十四歲於七月初忽然患病三日後始行告知嘔吐不止胸中懊憹極甚晝夜不安切其脈沈細而數自言心中覺熱而外身不熱請醫看視方中雖有發表之藥而參入川樸磨枳實萊菔子等味以為表裡雙解予為斷不可用即用葛升湯因其吐不止方中去升麻以淡芩三錢代之外不熱而脈不揚去蘆根再加薄荷根四錢玉樞丹四分磨沖希其得汗邪解服兩劑後頭上稍有微汗吐雖止而懊憹如故再四躊躇細思此症必因內蘊暑邪外為寒氣所遏是以身不熱而脈沉細數懊憹者即暑邪所伏也遂於原方中去玉樞丹加入桂枝木六分蘆根四錢取白虎桂枝之意服後即一汗而解加蘆根而少用者因桂枝辛溫非暑日所宜故以蘆根監製也後遇此等症可以為法咸豐八年陸氏外甥方官年七歲秋患有汗癉瘧與服葛升湯五劑熱退而愈停數日又發熱如故思此症愈後不致再發必是飲食不慎之故細詢之方知山藥兩叚白糖共食則脾家邪復之故又將服葛升湯三劑而愈停五日又發再四詢云惟飲粥並未食他物再詢其將何物下粥云是門口所買鹽老卜不知是魚滷所浸是以如此又令服葛升湯三劑而愈乃知癉瘧條中言明飲食消息止之而飲食又能發之也</p>
<p>壬戌七月中鄧姓外孫全官忽發熱上午利下午甚有汗不解數日後即用葛升湯五六劑即愈其兄少蓉亦如此發熱有汗不解亦用葛升湯因有微寒加柴胡數劑而愈此即癉瘧治法也</p>
<p>孫女適王氏產後甫滿月入月杪忽發熱上午和下午甚稍有汗不解大便自瀉一日數次背覺微寒脈兩手緊而數此因內有伏暑外受風寒所以如此用葛升湯加桂枝五分赤芍一錢五分炒黑荊芥穗一錢五分三劑而脈靜身涼肚腹亦好</p>
<p>余孫保安八月杪亦患癉瘧四五日矣脈象洪數亦用葛升湯原方加赤芍六劑脈和身涼矣初服嘔去第二日仍原方分三次服即不嘔矣</p>
<p>陸外孫之子百六官七歲於閏八月內忽大瀉後變痢或赤或白臍中痛日中二十餘次夜則十餘次藥用蘇梗青皮陳皮通草藿香大腹皮生熟砂仁赤苓澤瀉枳殼花檳榔再令刮背腎俞穴在命門兩旁兩大腸俞穴背脊第十六椎下兩旁各開一寸五分兩小腸俞穴在背脊十八椎下兩旁各開一寸五分蓋因今年痢疾是疫症故用痢疾治法用前方二劑後減去小半後將原方加煨葛根升麻兩劑即截捻而止深秋伏邪晚發初起熱勢起伏不甚發揚脈亦細數而沉數日後即大熱亦當用葛升湯加赤芍藥加兼痢或瀉者兼用痢疾痧刮針法亦效</p>

<h1>誤服生鴉片煙並非真死說</h1>
<p>自鴉片煙之流入內地而於水火刀繩砒毒之外頓添一連死之途且近日之煙實在為害不淺其死於此者亦較諸物為尤眾殊不知此物但能迷人醉人並不能死人也夫煙之害莫甚於廣東道光七八年間有三水縣人住在省城客店因貧服生煙而死店主不能收殮專人赴三水告其親屬及親屬趕到後中死者已先一日活轉其死去三日四夜又廣東老仵作云凡吃煙死者棺殮後徜因事開棺檢臉從無平正仰臥之屍非伏即側蓋煙性既過其人醒轉則必翻騰求出而棺蓋已合遂至真斃故凡服煙乍死者皆非真死也豈不冤哉現在廣東新刊套板洗冤錄內明著救治之方曰輕者心中發躁但用活鴨血或糞汁或醬油或涼水或明礬雄黃研末灌之無弗愈者若服多毒重身冷氣絕似乎已死但支體柔軟則臟腑經絡之氣仍是流通實在未死速將屍安放陰冷無太陽之地（一經日照即不可救）撬開牙齒用箸橫在屍口將金汁或涼水頓頓灌之再以冷水在胸前摩擦仍將頭髮解散浸在冷水盆內自然得活已目擊救活數人凡七日之內身不僵硬者切勿棺殮云云洗冤錄為官中驗用之書非隨口傳說者可比倘肯廣為傳播實今世活人第一要事闊者試思未死活埋之苦則傳播之心不能已矣又用淨銀花五錢生軍三錢膽礬三錢藜蘆三錢生甘草一兩水煎蜂蜜五錢沖服每能戒菸毒</p>
