<header data-type="book">
<h1>黃帝内經靈樞略</h1>
<dl class="元資料">
<div><dt>底本</dt><dd>《正統道藏·黃帝内經靈樞略》，涵芬樓版（<a href="https://www.kanripo.org/ed/KR5d0041/HFL/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<div data-sec="p"><!--
--><h1 data-rev="今版-元素">黄帝内經靈樞略</h1><!--
--><div class="行尾懸浮 首行縮進4字">業一</div><!--
--><div class="中止懸浮"></div><!--
--></div>
<p>黄帝問曰：夫人之始生也，何築爲基？何立爲順？何失而死？何得而生？岐伯曰：以母爲基，以父爲順，失神者死，得神者生。黄帝曰：何者爲神？岐伯曰：血氣和合，榮衛已通，五藏已成，神氣舍心，魂魄畢具，乃成人也。榮衛之行，不失其常，六府化穀，津液布揚，故能長乆。天地之間，六合之内，不離於五，人亦應之。黄帝問曰：何謂德氣生精、神、魂、魄、心、意、志、思、智、慮？請聞其故。岐伯對曰：天之在我者德也，地之在我者氣也，德流氣薄，而生者也。故生之來，謂之精，兩精相薄謂之神，隨神而往來謂之魂，并精而出入謂之魄，所以任物者謂之心，心有所憶謂之意，意之所存謂之志，因志而存變謂之思，因思而遠慕謂之慮，因慮而處物謂之智。故智者之養生也，必順四時而適寒暑，和喜怒而安居處，節隂陽而調柔剛，如是則邪僻不至，長生乆視矣。岐伯曰：血氣精神者，所以奉於生，而周於性命者也。經脉者，所以行血氣而榮衛隂陽，濡筋骨而利關節者也。衛氣者，所以温爪肉而充皮膚，肥腠理而司開闔者也。志意者，所以御精神収魂魄，適寒温和喜怒者也。是故血和則經脉流行，榮衛隂陽，筋骨勁强，關節滑利矣。衛氣和則爪解筋滑和，皮膚調柔，腠理緻宻矣。志意和則精神專直，魂魄不散，悔忿不至，五藏不受邪氣矣。寒温和則六府化穀，風痹不作，經脉通利肢節矣。此人之常平也。五藏者，所以藏精神血氣魂魄也；六府者，所以化水穀而行津液也。此人之所以具受於天矣。岐伯曰：隂陽俱盛，邪乃得住。岐伯曰：正邪從外襲内，而未有定舍，及淫於藏，不得定處，與榮衛俱行，而魂魄飛揚，使人卧不安而善夢也。</p>

<div class="縮進3字" data-rev="古版-元素">
<h2>六氣論篇</h2>
</div>
<p>黄帝問曰：余聞人有精氣津液血脉，余意以爲一氣耳。今乃辯爲六名，余不知所以，願聞何謂精？岐伯對曰：兩神相薄，合而成形，常先身生，是謂精。帝曰：何謂氣？岐伯曰：上焦開發，宣五穀味，薰膚、充身、澤毛，若露之溉，是謂氣。帝曰：何謂津？岐伯曰：腠理發泄，汗出腠，是謂津。帝曰：何謂液？岐伯曰：穀氣滿，淖澤注於骨，骨屬屈伸，以澤，補益腦髓，皮膚潤澤，是謂液。帝曰：何謂血？岐伯曰：中焦受血於汁，變化而赤，是謂血。帝曰：何謂脉？岐伯曰：擁遏榮氣，令無所避，是謂脉也。夫氣呼則出，吸則入，天之精氣，其大數常出三而入一也。故穀不入半日則氣衰，一日則氣少矣。上焦如霧，中焦如溝，下焦如瀆。帝曰：榮衛之行，皆何道出入？岐伯曰：榮出中焦，衛出上焦，清者爲榮，濁者爲衛，榮在脉中，衛在脉外。黄帝問曰：何氣爲榮？何氣爲衛？岐伯對曰：人受氣於穀，穀入於胃，以傳與肺，五藏六府，皆以受氣，其清者爲榮，濁者爲衛，榮在脉中，衛在脉外，榮周不休，五十周而復大會，隂陽相貫，如環無端。衛氣行於隂二十五度，行於陽亦二十五度，分爲晝夜。故氣至陽而行，至隂而止。夫液者，所以灌精而濡空竅者也。故上液之道開，泣出不止，則液竭，液竭則精不灌，精不灌則目無所見矣。五藏者，合神氣魂魄而藏之；六府者，受穀而行之，受氣而揚之；經脉者，受血而榮之，合而以治。夫平人，胃滿則腸虚，腸滿則胃虚，更滿更虚，氣得上下，五藏安定，血脉和利，精神乃居，故神者，水穀之精氣也。夫氣之在脉也，邪氣在上者，言邪氣之中人也高，故在上也。濁氣在中者，言水穀皆入于胃，其清氣上注于肺，濁氣流于腹胃，言寒温不適，飲食不節，而病于腹胃，故命曰濁氣在中也。清氣在下者，言清濕地之氣，必從足始，故曰清氣在下也。隂與陽别，寒與熱爭，兩氣相薄，合癰膿。岐伯曰：人所受氣者穀也，穀之所注者胃也，胃者水穀氣血之海也，海之所出者雰霧而布太虚也。胃之所出者氣血而行經隧也，經隧者五藏六府之大絡也。肺合大腸，大腸者傳送之府也。心合小腸，小腸者受盛之府也。肝合膽，膽者中清之府也。脾合胃，胃者五穀之府也。腎合膀胱，膀胱者津液之府也。少隂屬腎，腎氣上連肺，故將兩藏。三焦者，中瀆之府也，水道出焉。此六府之與合者也。夫五藏常内閱於上七竅，故肺氣通於鼻，鼻和則鼻能知臭香矣。心氣通於舌，舌和則舌能知五味矣。肝氣通於目，目和則目能辨五色矣。脾氣通於口，口和則口能知五穀矣。腎氣通於耳，耳和則耳能聞五音矣。五藏不和則七竅不通，六府不和則留結爲癰。故邪在府則陽脉不利，陽脉不利則氣留之，氣留之則陽氣盛矣。陽氣大盛則隂脉不利，隂脉不利則氣留之，氣留之則隂氣盛矣。隂氣大盛，則陽氣弗能榮，故曰關。陽氣大盛，則隂氣弗能榮，故曰格。隂陽俱盛，不得相榮，故曰關格。關格者，不得盡期而死矣。黄帝曰：氣獨行五藏，不榮六府何也？岐伯曰：氣之不得無行也，如水之流，如日月之行不休，故隂脉營其藏，陽脉營其府，如環之無端，莫知其紀，終而復始，其溢之氣，内溉藏府，外濡腠理也。舍精神於心，以知古今，心者五藏六府之大主，精神之舍也。其藏堅固，邪不能容，容之則心傷，心傷則神去，神去則死矣。深居靜處，與神往來，閉户塞牖，魂魄不散，專意一神，精氣不分，無聞人聲，以収其精，必一其神，閉其外門，眞氣乃存。黄帝問曰：有一脉生十餘病者，或痛或癰，或寒或熱，或癢或痹，或不仁，變化無窮，其故何也？岐伯對曰：此皆邪氣之所生也。帝曰：余聞有眞氣，有正氣，有邪氣。何謂眞氣？岐伯曰：眞氣者，所受於天，與穀氣并，而充身也。正氣者，正風也，從一方來，非實風，又非虚風也。邪氣者，虚風之賊，傷人者也，其中人也深，不能自去。正風之中人也淺，合而自去，其氣柔弱，不能勝眞氣，故自去。虚邪之中人也，洒漽動形，起毫毛而發腠理，其入深。内薄於骨，則爲骨痹也。薄於脉中，則血不通，則爲癰也。薄於内，與衛氣相薄，陽勝者則爲熱，隂勝者則爲寒，寒則眞氣去，眞氣去則寒薄於皮膚之間，其氣外發腠理，開毫毛，摇氣往來，則爲不仁也。虚邪偏客於身半，其入深，内干榮衛，榮衛稍衰，則眞氣去邪獨留，發爲偏枯也。黄帝問曰：余聞腸胃受穀，上焦出氣，以温爪肉，而養骨節，通腠理。中焦出氣如露，上注溪谷，而滲經脉，津液和調，變化赤而爲血。血和則經脉先滿，滿乃注於經絡，經絡皆盈乃注於經脉，隂陽已張，因息乃行。行有綱紀，周有道理，與天合同，不得休止。切而調之，從虚去實，寫則不足，疾則氣減，留之先後，從實去虚，補則有餘，血氣已調，形神乃持。余已知血氣之平與不平，未知癰疽之所從生，成敗之時，死生之期，期有遠近，何以度之，可得聞乎？岐伯對曰：經脉流行不止，與天同度，與地合紀，故天宿失度，日月薄蝕，地經失紀，水道流溢，草廬不成，五穀不殖，徑路不通，民不往來，衖聚邑居，别離異處，血氣猶然，請言其故。夫血脉榮衛，周流不休，上應星宿，下應經數。寒氣客於經脉之中，則血泣，血泣則不通，不通則衛氣歸之，不得復返，故癰腫也。寒氣化爲熱，熱勝則腐肉，腐肉則爲膿，膿不瀉則爛筋，筋爛則傷骨，骨傷則髓銷，髓銷則骨空，骨空不得泄瀉，則筋枯骨虚，則筋骨肌肉不相榮，經脉敗漏，熏於五藏，藏傷故死矣。</p>

<div class="縮進3字" data-rev="古版-元素">
<h2>迷惑論篇</h2>
</div>
<p>岐伯曰：五藏六府之精氣，皆上注於目而爲睛。目者，五藏六府之精，榮衛魂魄之所常榮，神氣之所生也。故神勞則魂魄散，志意亂也。是故瞳子黑睛法於隂，白睛赤脉法於陽，故隂陽俱轉而睛明也。目者心之使，心者神之舍也，故神分睛亂而不轉，卒然見非常之處，精神魂魄散，不得相因，而迷惑也。黄帝問曰：人之善忘者何氣使然？岐伯對曰：上氣不足，下氣有餘，腸胃實而心肺虚，虚則榮衛留於下，乆不以時上，故善忘也。</p>

<div class="縮進3字" data-rev="古版-元素">
<h2>無音論篇</h2>
</div>
<p>黄帝問曰：人之卒然憂恚而無言者，何道之塞，何氣之不行，使音不彰，願聞其方？少師對曰：咽喉者，水穀之道也；喉嚨者，氣之所以上下也；會厭者，音聲之户也；脣者，音聲之扇也；舌者，音聲之機也；懸雍者，音聲之關也；䪻顙者，分氣之所泄也；横骨者，神氣之所使，主發舌者也。故人之鼻洞涕出不収者，䪻顙不閉，分氣失也。是故厭小而薄，則發氣疾，其開闔利，其出氣易。厭大而厚，則開闔難，其出氣遲，故重言也。所謂吃者，其言重。卒然無音者，寒氣客於厭，則厭不能發，發不能至其機扇，其機扇開闔不利，故無音也。</p>
