<header data-type="book">
<h1>崇實堂醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>姚龍光</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1901">公元1901年</data></dd></div>
</dl>
</header>

<h1>王序</h1>
<p>壬午癸未間余差旋日東治防軍京口江上日乘馬棹楫周覽山椒水□謂北府西堂為六代勁兵處長山蜿蜒大江南折入昆陵驛奇瑋絕特之氣如玦之抱于丹徒一鎮其中必有布衣慷慨命世英絕坐嘯風生於戶牖下者陰物色久之不可得鬱結懷抱者二十年持節撫皖時乃得姚君石荃名錫光讀其所著長江炮臺芻議東方兵事記東瀛學校舉概諸善沈毅精實於兵謀地勢學術人才深得彼己短長消長窾會所在既深異之詢其里則世居丹徒鎮向之願兒者差可一慰叩其鄉人物復有如君者石荃但遜不答他日有以祟實堂醫案見視者則石荃母弟晏如明經撰也聞晏如明算學治古文留心經世之學醫特其居家術生所注意然讀之終幅輒覺今之事事拘守殘缺承襲訛誤小則誤身大則誤國晏如乃欲同志有力者出為領袖創辦學堂學報振興醫學先出其所閱歷以與人士相印證不吝其辰不護其短是非得失與天下人共見之因是以改良遷善去其錮習進其新理俾他日吾國人撰新學史者仿泰西史例而書曰吾國曩年戶口冊每若干人中歲死一人自姚某興醫學後竟進至若干人歲死一人較某年以前人增幾歲又閱數十年合吾國人又增幾歲姚君固不必以為功而使人人知實學之有益虛憍之胎禍幡然而革其愚妄之俗則晏如之與石荃皆可出可處無時而無斯人吾與之心也丹徒人物之志殆可以二姚起洌哉余益為之神往於圌峰京峴問也石荃以拔萃孝廉任州邑有聲近以觀察隸北畿駸駸大用矣聞其鄉之儕耦尚有被褐而懹玉者余既幸睹晏如之書他日見晏如幸告我襄陽耆舊猶有其人無使余復憾見石荃而未見晏如也清泉王之春書</p>

<h1>自序</h1>
<p>龍光幼從庭訓專心制藝兼習算學均未能入室登堂造乎極地二十七歲患陽虛弱症咳嗽痰多神疲食少肌膚瘦削舉步維艱歷經名手調治芩連清熱參朮補虛方藥雜投病勢日劇親戚朋友皆為予危適吾家又有病感者敦請一世交前輩診視而前輩故意留難百端推託龍因忿而矢志習醫思利己以利人必不蹈時醫惡習也遇同學王吟江先生精通醫術閱書既廣求理亦深為開書單指以門徑龍乃照單購辦誦習講求注傷寒者閱視二十餘家逐條比校擇其精當者另為摘錄若金匱則專論雜證者也夫雜證亦有六經表裡之辨凡論雜症須從傷寒條例分經施治方能得當而傷寒論中所不能包者仲景乃著金匱以補之故金匱之文多片言居要索解最難後世就金匱而譚金匱語非隔膜即屬支離古今注金匱者卒鮮善本江西喻嘉言醫門法律辨論病情深入顯出妙義環生實金匱之功臣也醫有三大法門一為傷寒六經病一為金匱之雜症一為葉氏之溫病傷寒雜症由仲景入手下及劉李朱張歷朝名家專集比擬考求自能發明其理若溫病有內伏有外受前賢議論多未得當即喻嘉言黃元御亦未能透澈此關椎葉天士王士雄闡發經文獨樹一幟溫熱經緯一書極為簡明精當若能時時參究亦思過半矣然龍讀書十餘年關書數十種辨別病情參詳脈理撫躬自問業已殫盡心力而於臨症時憑脈辨症尚未能一一瞭然乃知人之病證變化萬端方書所論一證僅就一證而言不能窮其變化因思此非明師益友隨症指點不能盡其神妙不測之奧乃在左近名醫處留心考察實存私淑於人之心孰意負盛名者竟鮮其實類皆拘守套方以藥試病孰能見理明決預定病勢之吉凶先言愈期之早暮哉而所以得時名者有三術焉一則見病勢稍重便有防變推託之辭為日後愈則居功變則諉過之地步此其一也一則專選平淡和平之藥動曰為某某湯頭所加減以博穩當之名可告無罪於天下此其二也一則和顏悅色溫語婉詞動效奴僕之稱求媚於婦女庸愚之輩使至死不悟此其三也得此三術眾口揄揚而成名醫之身價矣舉世悠悠孰分涇渭而我輩欲求明師益友安可得哉思索再三翻然有得曰與其求師於此輩仍不如效法於古人因添購醫書廣搜醫案見李東垣汪石山陸養愚孫一奎等著述辨症精詳應變神妙分真偽於毫釐之際顯神效於廣座之前數語破的可以釋無限疑團是皆名師之指示也即見聞之閱歷也龍又參究數年略開會悟然終不敢自信若得明哲之口傳當更有甚於此者但見聞既陋限於偏隅因籌一法焉將歷來診治之病除尋常不錄外凡病勢危劇或病情隱晦其設法救轉真救之不轉者略刻數十條舉以問世徜有學問深純見識明敏指我之疵破我之惑一一批出加以案語由郵局奇贈鄙處龍則束裝就教拜列門牆若路途遼遠有願難償亦必馨香祝之奉為師表不勝幸甚士君子毋以不材見棄置之不論不擬之條則所賜多矣存心如此同志覽諸</p>
<p><u>光緒二十七年八月日江蘇丹徒縣丹從鎮晏如氏姚龍光謹自記於和州官署</u></p>

<h1>序</h1>
<p>昔範文正云不為良相必為良醫儒者讀書談道期以成已成物量甚宏志甚遠也醫則權在於已隨在施吾術即隨在普吾仁此濟世之心古人所以多寄於醫也雖然良醫豈易為哉嘗見近世習醫之輩指示既乏名師探討又無實力惟於尋常習見之書披覽一二不數年遂出而臨症學問愈淺識見愈卑於寒熱虛實表裡茫然莫辨但拘守古方以藥試病及治之無效遂諉為不治之症庸醫殺人往往而是間有一二有志之士廣集群書遍為研究而諸家論說不無各有所偏斯學者推求每覺難衰一是苟非由淺入深由博反約鮮有不昧厥旨歸而終多隔膜者良云乎哉吾友姚君晏如為徒邑名諸生工制藝兼精算學弱冠後補廩食餼蜚聲庠序奈功苦太甚漸致體弱多疾數為俗醫所誤其瀕於危者屢矣遂慨然曰吾不能為良相吾奚不可為良醫利人利己挽回末俗非異人任也爰乃購書數十種究心數十年將歷朝諸名家書集融會而貫通之其識力超卓有迥出尋常萬一者辛丑秋遇於和陽州署聆其緒論予既聳然異之又閱其所集醫案類皆疑難雜症無不應手輒效而詞義又復明白曉暢令閱者一目瞭然此真當今之和緩後學之津梁也爰力動付梓以公同好噫中國醫學之不講幾百年矣得姚君以發明之醒舉世之迷途登斯民於壽域文正所謂必為良醫者予於斯人見之矣爰樂而為之敘時在</p>
<p><u>光緒二十七年歲次辛丑中秋前一日同里弟薛書培拜稿</u></p>

<h1>芻言</h1>
<p>我中國各種學問須借文字以傳若文字不佳即至理名言類多湮沒篇法必求簡潔句法必求精煉極高極深之理隱括於數語數字之中初學者無可入門淺見者莫窺堂奧醫學之深亦盡如是故習醫之輩鮮克有成余鑑乎此凡議症說理處總以明白曉暢人人皆知為本但行文不免有繁複之處識者諒之不以文法之疏議之斯幸矣</p>
<p>我中國醫學精深廣大見理之真似勝西人醫學而今日凌夷甚矣非醫學不善也由於行醫者多非其人亦由於習醫者不得其法學者肄業之初必須由淺而深由外而內先明軀殼之血脈經絡而後推及於臟腑知臟腑之功能測氣血之行度能識未病時之形狀始能得已病時之真情此入手工夫最為切實者也中國剖割不行無從實驗方書所載軀殼臟腑等件均模糊無線之詞即古人選本所云淺近者又皆按症略載數語將病之曲折隱微虛實寒熱名賢辨別之處精當之理概行刪去有如經驗良方於人之形體病之淺深又無一語論及故中國醫學絕少入門考據之書以開其智慧此惟西醫論之既詳且盡入手之功夫須讓西人獨步既由外而推內復驗實而攻虛學者有形跡可求步步皆有準的及入理既深憑脈辨症推測病情則中醫較勝吾故曰西醫為前半功夫中醫為後半功夫彼此皆不可厚非嘗見人涉獵西書識得藥水便極力表彰西學誹謗中醫此等人非特不知中學之淺深亦並不知西學之淺深也</p>
<p>凡病分兩種一曰客感一曰雜症客感中雖傷寒溫熱不同而溫病之理仍具於仲景傷寒之內苟能參究傷寒之六經豚證辨別表裡之寒熱虛實再讀葉天士所論溫熱諸集便能洞澈瞭然惟雜症一門最難種類紛繁變動莫測金匱一書既未全備且論症又甚簡略其除精深之理散見於先賢專集之中就中風一症言劉李朱張認症不同言理各別學者根柢未深斷不能折衰一是轉致目眩心迷茫無把握世人往往抱一家之言以為主宰或攻或補或涼或溫喜攻者遇虛症亦攻喜補者遇實症亦補喜涼喜溫者亦不審症之陰陽概以素所執持者竊試閱歷未深膠於成見誤人而不自知誤治而不能改俗云熟讀王叔和不如臨症多此乃世醫欺人之語非確論也心中無此理解即臨症百千仍屬茫然不悟所以多讀名賢專集為第一義又千金方外臺秘要證准治繩等書兼收博採蒐羅富有實醫學之大觀然所載方藥湯頭最為廣博而古人辨論之處轉略而不詳其專論脈症而不及方注者如巢氏病源等書則條目太繁語少厄要亦非善本現為後人醫學計須仿外臺準繩體例專集前賢論說及醫案中議症之詞為之平情判斷加以案語錄其所長刪其朋短辨其同異序其淺深或會通焉或井存焉令學者一目瞭然循序漸進人人皆可自底於成則中國名手自不乏人餘存此志久矣而學識尚淺力有未逮惟有望於世之同志者</p>
<p>凡學問由博而反約由粗而至精始能左右逢源動中肯棨中國醫學既無總括貫通之部而選本又不足觀選本須由總集內提出掇其精義聚其要言眉目必清語言必當始有益於後學如馮氏錦囊醫學心悟等書其中節目雖備然每症中只錄數語詳其所當然略其所以然余乃擇錄方注視之似甚簡當而於認症處毫無體察是存渣滓而棄精微也故此種書籍貽誤後人不淺學者入手上時必得通人指示可以從入之途先於內經傷寒金匱三書時時默誦竭力講求然後再覓各家專集一一翻閱比較則根柢既深見地既高始無見異思遷之患但以此習醫實非易易猶非寒士所能辦耳坊刻偽書家藏秘本在在皆有指不勝屈無知之輩喜其卷冊無多方法又簡以為醫門捷徑莫過於此因執成方為人醫治問獲效驗遂自信神奇而炫耀於人世人若詰其方法究所由來則曰此我家祖傳秘法或得之異人傳授均不能告人是則旁門左道最足以欺世而害人者也夫歧黃正大之法精微之理詳載於素問靈樞後世名賢迭起篇籍浩繁仍不過發明其意擴充其法絕無自出新奇而出素靈之範圍者學者非專心致志力事研求不能得豁然貫通之境若求捷便之徑簡當之法雖歧黃再生亦不可得也而俗云單方勝是名醫者亦有說為雜症中一症有一症專藥世醫不知講究不能審症不能用藥故癱癆鼓膈諸症一及於身蒙朧施治百中不能救一間有為單方治愈者是專症適與專藥相合立刻起死回生不異神仙丹藥但治甲則效治乙則不效乃同一症也而虛實逈別真偽攸分非藥不效也審症未確藥與病未能的對耳故醫者以認症為最要考藥次之徒抱單方者往往治誤害事矣況偽書秘本多托單方之名以欺世並不得以單方目之只目之為離經畔道之書而已後學戒之</p>
<p>中國醫學代出名人然其中弊端有二驕與吝而已有驕心者每以攻訐為事有吝心者每以秘藏為事</p>
<p>攻訐之弊不特喜言古人之所短並思偃古人之所長夫古人學問本不能全而不偏純而不雜後人果能指其疵而救正之補其闕而增益之由漢至今數千百年神聖創於前賢哲繼於後各症精微之理後學造就之方愈推愈廣闡發無遺集醫學之大成使有等級可循皆能歷階而造其極無如後人稍有見地便思駁倒古人以自伸其說而自為其異古人偏雜之處固當匡其失而削之其正大之理則當引伸其說而為後學法程而反引據經典以駁之或強設新義以抑之以為駕古人而上之始能自顯抑知矯枉失正者既攻訐乎古人即不免後人之攻訐反覆相尋理無一定學者學業未深胸無定見鮮不為所惑矣此又習醫之一難也</p>
<p>秘藏之弊一留以遺子孫一示人以莫測如喻嘉言論痰囊症究窠囊之所由成及窠囊之貽後患既詳且盡而論治法則曰以藥破其囊而滌其痰所用何藥則無傳矣徐靈胎集內論痰囊亦頗精確而方法亦未傳世其論肺癰症也言虛實之不同變幻之難測調治之不易薈萃古書採擇方法加以秘方禁方治法始備歷治多人無不神效然其言誠是矣其病情之變態認症之確據及所集之秘方禁方概未傳出世無知者其餘雜症中所考驗有得無不明知之而故秘之此又習醫之一難也</p>
<p>以上二弊非立學堂學會學報不能挽回學有宗旨有公理公理者人人皆以為然確不可易之理也宗旨者人人必由之道正而不遍之旨也聚中外書籍於一堂合聰明子弟以誦習分科授學互相考求得一新義獲一良法就正於同學登列於報章則公理自見宗旨自顯醫學昌明不難蒸蒸日上矣苟不如是則世少成材即有名賢間出亦如人皆醉而我獨醒人皆昧而我獨明任我主持異說顛倒是非莫可指謫所謂公理宗旨者焉得顯揚於世哉</p>
<p>古者名手治病均能預斷吉凶其無病者每戒以死期其重病者每告以愈期其言無不應驗有若神明此非通術數之學預卜先知乃由脈症中參詳而出的當無疑確不可易其理講明卻平淡無奇婦孺皆能解識也今人無此學問一見病之重者便推託張皇故作驚人之語以為諉過地步若遇臟氣已離未見於外者則茫然不覺漫為開方未逾多日而所言危者安矣所言安者死矣人見醫者之言多不可憑則不憑於醫而憑於命以為醫能醫病不能醫命也若間有學術稍深獨具隻眼者人亦以尋常視之不知其為庸中矯矯也且若而入者不肯苟就不屑逢迎不為利動不為勢屈多有不同流俗之處人見其行藏獨異事少圓通轉不免眾口之譏評矣此亦醫學不明涇渭不分之故也</p>
<p>古者名手治病全憑望聞問切以為準繩若切脈而不問又無所見斷然不能認症傷寒論中浮數脈見於汗前則為實見於汗後則為虛汗前汗後不問為能得知素有痞結不得發汗素有動氣不得用下素日舊疾不問又焉得知聞呼吸呻吟始知寒熱見氣色神形始知吉凶則是一病當前非目見耳聞口問手診四事合參雖歧黃復生亦不能辨認今之時醫挾欺人之術禁病人開口自許切脈便能知症略言一二卻能與病相符病家亦遂以此試醫家手段甚至富貴婦女有病蔽以帳幔只伸兩手任醫家切脈病情則使僕婦略為告知詎知此等診法仲景為醫家之聖亦不能洞見病情期其必效凡切脈便能知症者知其外不知其內知其粗不知其精按脈之浮沈遲數便知表裡諸症之大略肌潤則知有汗肌燥則知無汗面赤則知有熱面黃則知多濕眉常縐蹙則知頭痛喉有動氣則知咳嗽腰常下曲則知腹痛凡由推測而知者筆難盡述皆無關於病之實際者也僅能動庸愚之耳目耳故曰此乃欺世欺人之術也如醫家不肯問病家不肯言則自誤誤人將以人命為嘗試也世人戒之</p>
<p>龍光家本寒素無甚存書近年勉購醫書百數十種已合四百餘元溫習亦僅廿年故龍所見者無多猶大倉之一粟可惟望同志而有力者出為領袖創辦學堂學報振興醫學使龍身廁其間得附驥尾聚群英於一室相為砥礪切磋破除故見取中外之所長補彼此之所短則醫道昌明民無枉死者矣曷勝幸甚</p>
<p>我國家最重人命凡格殺梃傷因誤致命者律有專條罪不少貸而庸醫殺人當援此例有牧民之職者操司命之權盍留心於此設法挽回是非特於民命有關於已之身家性命亦有關也以千金鄭重之身委之於庸醫之手而臨時倉卒又思徼福於神靈計誠左矣是必早為之計興學堂學報使後學皆可成材不獨澤及萬民恩被草野即一已之身家性命亦因之保全其利可勝言哉</p>
<p>丁酉年四月有蔡姓父子開雜貨鋪於郡城內其子二十餘歲素有腿患發則針刺紫筋數處出血便瘥此次刺而不應針眼翻開如翻花狀逾二日大發寒熱請醫診治服九味羌活湯兩帖熱勢加重易醫而用銀翹散加桑白皮等又服兩帖則勢轉危篤舉室倉皇病者之叔岳蕭佑廷余契友也為迓予治入室見病巳熱極離床二三尺便覺熱氣襲人神昏躁擾舌向唇外銛咂所異者滿面紅光油積一二分許以白紙拂拭滿紙皆油若自油內拽出者然小便六日不解大便則日夜百數十次始而糞繼而水繼而皆白沫左腿上有大白水泡百餘根盤皆紅左膀微有潤氣余均乾熱而燥脈皆洪大而數右寸尤甚診畢問起病之由及所服之藥此等重症會未聞見書亦無考獨坐沉思約一時許乃忽悟曰此本伏邪溫症熱積下焦已久得九味羌活湯溫升重劑鼓動積熱上升胸膈適當其沖故心肺如焚勢成焦痿後服桑白皮枳殼等重傷肺氣肺熱無處宣泄其上半身之真精由肺逼而上出於面故面有油積其下半身之津液由肺逼而下出於腿肺主皮毛且肺在右氣行於左得高屋建瓶之勢故左腿水泡皆由津管逼出者也左膀則位高氣隔津氣難到故僅有潤氣耳肺有上竅無下竅膀胱有下竅無上竅一有降力一有吸力雨臟時相感應肺氣絕則膀胱不化故小便不通肺與大陽相表裡肺熱極則逼迫水穀下行故始而糞是腸中宿垢皆下也繼而水是腸中垢去胃中蓄水皆下也又繼而白沫是腸胃皆空肺臟之沫亦皆下也病勢至此亦云極矣惟聲音尚朗脈尚有力是一線生機尚未全絕但非大劑養陰不能回其枯槁之勢乃用杭鮮生地絞汁八兩渣入藥煎沙參二兩麥門冬四兩天門冬四兩元參四兩知母五錢黃芩五錢秋石五錢化水與前汁另存和服令藥入大沙鍋內貯滿河水用炭火煎熬數沸後便以小茶杯裝藥頻頻與服毋急進毋間斷盡一日夜全行服下亦莫斷火藥煎至無汁為度肺位最高藥入易過病所惟緩緩進之而用浸灌之法最為得力明日復診果油斂泡□神清脈轉大便亦少連服三劑人事安妥便止溺行改方調理一月始能扶杖出門逾年而生子肥白可愛</p>
<p>蔣階平內眷劉氏病患旬余歷經名手醫治反至沉困余族小湖為之敦請數次因往診視乃知患病已十八日每日酉刻發寒四肢冷至肘膝三更轉熱亦僅四肢發燒五更始退面色微紅口渴而不欲飲食久不進小便一日一次色赤而少大便十七日不行診其脈六部沉微舌色嫩紅苔黏滑心中煩熱脹悶坐臥不安前醫視為陰虛火結用青蒿鱉甲湯重劑十餘服反致危篤斷以不治予思沉微之脈陰脈也四肢為諸陽之末四肢獨冷陽微也寒熱在陰分之時交陽分則退屬陰邪也渴不欲飲舌紅苔滑面有紅光心中煩悶陰盛於內逼陽於外也大便不通小便赤澀陰結於內輸機失職也此症定屬水飲而外顯假熱之象若用陰藥是以陰益陰為助邪也以苓桂朮甘湯加細辛厚朴與服是夜病退甚早肢冷亦輕三服後小便清暢大便下行多水舌苔滿布舌色轉白脈亦起矣再用六君子湯調理寢食如常而安</p>
<p>階翁夫人病後二年生女未存又因不遂意事心常悒悒產後又病請吾前輩調洽因前輩興蔣亦世交又是緊鄰且素有時名故生死倚之服藥無效日見加重前輩囑令邀余商治前輩向余曰此病無寒熱亦無痛楚但飲食不進已有多日終日啼哭百勸莫解舌色淡紫苔多剝落是胃氣已絕萬無生理已囑辦後事君盍往診再商一治法聊以盡心而已往診其脈右三部浮數無力左三部弦數無力舌色紅而兼紫苔剝落余思脈證均非死候然不能吸言因覆命曰誠如君言子亦不敢措手前輩不許屬門二陳以搪塞服訖仍如故明日復診診後擬至前輩家商酌適前輩之令郎在坐請余主持不必往商竭力阻余余思此病尚可挽回究以人命為重要不必避此嫌疑乃用炙甘草五錢小麥一合大棗十二枚令多煎緩服一貼哭泣便減舌苔復生三貼全愈此蓋臟燥症也金匱云婦人臟燥喜悲傷欲哭象如神靈所作者甘麥大棗湯主之即此症也脈症相符故取效最速此症黃八種內論之精詳發明金匱之奧誠金匱之功臣也</p>
<p>階翁夫人逾二年又生一女產後經水止乳汁甚多二不乳經仍不行乳間結核而痛間又吐血血色鮮紅幸不甚多餘因內人病故由鄂返里至蔣宅有事其姑邀予為診余告以脈象不佳宜善調攝且切勿斷乳為要至季冬病者臥床不起矣復請予診見其乾咳無痰汗多不歛下午潮熱飲食不思脈則弦數而疾私謂其姑曰法在不治其在來年春分前後乎果歿於來年春分前三日蓋此人體弱性傲肝木本旺產後乳多非血氣有餘乃肝脾兩經之血為肝火鼓而上行逼化為乳循厥陰經至乳間而出血雖暗傷而肝木轉遂其疏泄之性故經不行而反無病及斷乳後其肝木上衝如故也逼血化乳如故也而乳竅已閉欲泄不得故乳中結核脹痛矣其未化為乳之血肝火逼而上出故吐而見諸口矣血久上行便成熟路以化乳上出為順轉以化經下行為逆故欲經行必不可得矣醫者不察以乳癱常法治之木火愈旺金氣傷則乾咳無痰土氣敗則飲食不思血不化乳乃化為汗則上身大汙淋漓脈又弦疾勁強是胃氣將絕陽越於上陰竭於下矣有陽無陰有升無降內經曰出入廢則神機化滅升降息則氣力孤危卯月木氣發生下無真陰以濟之何以為生身之本乎故必死於春分前後也在斷乳脹痛時脈弦數尚未搏指舌鮮紅尚有薄胎若用苦劑歛其血以入內而下通於衝脈則經自行血自止乳核自消再以和平養陰之劑植其根本肝自柔和何至及此乎醫者能不認症乎</p>
<p>徐姓有遺腹子名遺兒叔平胞侄也年十歲夏間病寒熱如瘧日發一次醫治兩月末獲一效其母懇治於余診其脈兩寸關俱虛軟無力兩尺俱滑大每日瘧發寒不成寒熱不成熱退熱無汁熱退又不能盡飲食減少神倦無力二便俱通面色青黃舌色淡紫無苔似有亮光惟舌根兩邊有兩條白苔口中微渴已服藿香正氣散數十劑矣余與表弟蔡律初同診因與商曰此子體質本弱暑邪深伏不能托邪外出又為藥傷正氣愈虛陰陽已有兩亡之象若再驅邪邪將內陷乃不可為矣惟陰陽雨補扶其正氣則邪不待驅而自解表弟所見亦同因用六君子湯加石斛終冬白芍服兩帖便寒熱分清熱因汗解口味稍開前醫見而阻之日再服此藥定致喘滿不救為開藿香正氣散方又服兩帖病復如舊其母知誤仍求治於余余曰以吾前方服五六帖便愈四帖後果寒熱止飲食進舌生薄苔豚有起色後開八珍糕方令終年常服數年來俱無病幼侄綱兒堂弟逸清之子也方十歲八月下旬初病一二日便昏睡不醒呼之間或一應間之則又不答四肢厥冷身亦不溫不食不便小解黃澀面黃色暗舌苔蒲白而干唇白而燥裂兩手脈沉微重按則滑余思昏睡肢厥身冷舌苔薄白唇白均屬陰象然苔干唇裂便閉溺澀又與陰症不合問病前食生冷否云食菱藕甚多前一日又食柿子四枚余乃得其解矣曰病本伏暑邪熱積於下焦為生冷停於胃口者所阻冷積不得下行熱邪不得上達冷積為熱所薰蒸愈團結愈不解陽氣無由外達故見陰象中焦津氣大傷故見陽症而成外陰內陽之候也用全瓜蔞一兩文蛤五錢以生津清熱黃芩知母貝母枳殼澤瀉茯苓各二錢以清熱利氣加肉桂三分丁香二分麝香少許以化水果積和服一帖肢體漸溫人事漸清二帖便大解暢行各病俱咸後改方調理月餘始能健旺發落而禿矣此戊戌年事　鄉盛行此疫死於醫手者不可勝紀慘矣冤哉</p>
<p>趙少希余至好也其太夫人賢德知大體治家動謹夏間忽患溫症一發寒熱則抽掣難堪通身疼痛頤痛如錐心中煩躁不飢不渴不便舌本深紫無苔右脈弦數無力左豚弦數有力余曰邪之中人乘虛而入如水之就下也此症由陰虛之體受時令溫邪深入陰之血分故一發則心肝兩臟為邪所傷因見煩躁抽掣寒熱往來脈象弦數等脈症溫熱經緯中論此症最為詳明余因按法施治用鮮生地（五錢）　麥冬（二錢）　元參心（三錢）　青蒿（三錢）　赤茯苓（一錢半）　銀花（二錢）　連翹（三錢）　山梔仁（三錢酒炒）　白芍（三錢）　甘草（五分）　當歸（五分）　竹葉（捲心者八片）　蓮子心（八分）　連進（四帖）寒熱抽掣身痛俱止舌苔漸生惟懊憹心跳體軟咳嗽痰多脈象柔和是陰分溫邪已退見脾虛痰泛之象適吾發舊患不能出門乃請吾鄉推許之王某名醫繼吾診治見吾前方頗不滿意云時氣之病為有開首便養陰而用血分藥者（此等名醫均守常套以試病不知辨脈症以立方所恃者湯頭歌脈訣而已）改用涼膈散去硝黃連服四帖愈覺疲睏值少翁由店回來因邀予往診其脈仍如前余曰不妨此脾虛較前稍甚耳用六君子湯加厚朴八分緩以調理不難全愈此時少希二妹亦病四日服王君方亦四帖王君在余前一刻診視尚云病將退矣較母病輕甚一二日便可全愈余俟其去而入房診視見病者勉強坐起訝其躁擾不安有類陰躁面色夭白兩顴皆紅身亢熱四日未得一汗唇與舌本皆白而無血色上有薄苔焦枯板貼肉上問夜能睡否曰日夜煩臊兩夜不能瞑目矣兩脈沈細而數一息約十二三至出房私謂其兄曰令妹之病法在不治其變即在早暮陽越於外故身熱無汗煩躁不寐陽越於上故舌白苔焦顴紅面夭脈數至十餘是陽越而陰竭矣凡陽虛之體誤服涼藥多致孤陽脫出而飛越於巔頂之上與肌膚之外反顯熱象而變動極速此為不治之症矣王名醫見令堂哼喊不安故云病重見令妹安睡無聲放云病退此智者千慮之一失乎越一日僵臥如屍又一日寂然而逝此女心牲和平見地明達調停家事實阿母之良佐也早二三年夏間患瘧間日一發市醫為治月餘罔效後挽予診服藥二三劑便愈愈後便止藥藥止便又發發即服藥而愈如此又遷延月餘適少希回來訪問病情並屢止屢發之故余曰令妹之瘧與時瘧不同時瘧多由痰食積滯所致令妹實由脾陽不足故瘧來寒多熱少先由手足冷起無頭疼身痛口渴便秘等症惟面色痿黃身倦肢軟惡食汗少脈來濡弱加之前醫多用克伐之劑脾氣傷而又傷余用六君子湯加附子一錢溫補脾陽故服二三劑便愈然瘧雖愈而虛未能回故藥一止則病復至矣若連服十餘劑虛氣亦回便不再發少希因日煎一劑與服連服八日果不再發為開丸方調理二年無病是年死於七月因斷丸藥半年初病時又服苦寒藥致真陽飛越陰火焚身可哀也夫</p>
<p>趙少希夫人經停三月疑有孕因勞動下血疑欲產召余往診兩寸關脈俱滑兩尺脈沈弱余曰胎孕之脈以尺部為主今沈微非有孕亦非欲產據寸關滑脈而言是脾胃二經痰濕太重始因氣滯而經停繼因氣虛而血泄宜健脾化濕以行其氣亦與胎產無礙此十一月事也來春余有事出門四月反里趙府急來召余其時經下無時或多或少心內頗不安適診其脈寸關仍滑兩尺則數大鼓指舌色鮮紫苔則黏垢滿布予曰中焦痰濕皮極阻滯氣機而下焦熱亦盛極無由上達恐病有他變甚可慮也視前所服藥均大辛大溫大補肝腎之劑予知脈症之變皆由此耳明日已刻果患崩下血塊血水約有桶許是日鎮上適行東嶽會人皆外出吾得信而往已至中刻病者鼻額間汗出如珠氣促神疲吾見勢急矣急令覓人參（一錢）　生地炭（三錢）　地榆炭（三錢）　速令煎服此脫血益氣之法也服訖汗斂氣平血來稍緩二日而止但此後調理極難頭運不能坐起肢軟神疲食少乃中焦痰濕極重下焦陰血極虛欲補下焦之血則助中焦之滯欲化中焦之滯則傷下焦之陰籌思久之惟乘機利導之法最為得當用煎劑丸劑各行其經以取勝即互相為用以見功擇清輕微陽之藥為煎劑以開痰擇重濁培陰之藥為丸劑以養血服煎劑後約半點鍾時乘此痰氣暫開之際隨服丸劑如決水轉石已過關隘而逕入下焦填補陰血則兩得其力而不相妨礙矣以此調理兩月果體充神完寢食俱安吾內人於戊戌年秋間患血崩症不足一日而卒病情悉如少希夫人之症惜吾在湖北未得救治之法故數時氣絕此亦數也趙少翁之表嫂解姓孤苦零丁無所依靠常住趙府其人寡言語慎舉止樸實動勞得少翁令堂之憐愛秋初患白痢裡急後重小腹瘀痛異常冷汗淋漓初意志在必死誓不服藥數日彼求死不得痛又難忍故聽予診治其脈沈微似無似有面青神憊汗多惡寒肢厥均屬陰盛陽微之象乃用熟附片（五錢）　白朮（五錢）　炙甘草（三錢）　炮姜（一錢）　肉桂（一錢）　酒白芍（三錢）　青皮（一錢）　木香（八分）二帖而愈予問趙府曰此陰寒之疾今驟得此當必有故答曰表嫂刻刻求死日飲冷水食冷飯吃冷粥夜臥當風不覆厚被不穿棉衣已有年餘前日初病時自喜曰可以死矣與諸人永別矣至痛極難捱始肯診耳予聞之不勝愴然逾二年又病紅白痢服藿香正氣散六劑未愈聞余回裡急迎為治六脈俱弦數兩尺尤有力唇紅口渴腹痛下墜余曰前次乃病寒此次乃病熱也用酒炒黃連二錢酒沙黃芩二錢酒炒白芍三錢青皮六分香附六分柴胡四分亦二劑而愈</p>
<p>宦治桐性誠篤工寫真長媳王氏秋季患溫症因有孕七月未敢服藥延至七日病勢卮篤來懇予診詢知惡熱七日曾未一汗面紅有光胸悶躁擾詁妄叫喊人事間或清醒大小便俱閉嘔噦連聲滴水不能入喉診其脈兩寸洪滑兩關尺弦數舌本深紫潮滑無苔合脈症黍之定屬溫病然口不渴舌潮滑滴水不能入喉則又何也就此推測而知此為溫病之水結胸如傷寒水結胸之病也但傷寒由於寒而誤治此由於熱而自成水氣因熱上升填塞胸膈故舌潤而洪滑之脈見於兩寸也上竅為水氣所閉則下竅亦閉如壺內貯茶大口蓋緊小口即點滴不出故便溺俱無也水氣上衝氣亦上逆故嘔噦不止而水難下喉心為水逼神明無主故人事不清且面紅為溫有光為水但瀉水之藥均能損胎雖有故無隕亦無隕也然與流俗難言之故婉言辭謝囑請高明乃桐翁再三相懇又邀王炳南為作說客為用葶藶子三錢杏仁泥三錢枳殼一錢半法半夏二錢大黃三錢芒硝三錢水煎與服因囑之曰此方皆損胎之藥然有病則病當之於胎無傷也若胎氣未動則病去胎存最為妙事若胎氣已動則胎病俱去亦屬無傷若不服藥則胎去病存人必不保互方毋輕示人恐聽人言而自誤也藥煎出一碗竟能緩緩服下無一滴嘔出事亦奇矣歷一時余腹中大痛其翁復來問治余曰上焦開發氣下行矣無害也又歷時許痛定安寢至天明小便下行甚多大便又下行多水果汗出津渾身倦欲臥病大退矣反致眾口沸騰謠諑四起吾聞之因不再診後醫治不中竅餘邪未淨逾年餘轉別症而歿冬月生子亦未能存此病後失於清理安胎之未得法耳</p>
<p>範自信三令郎患單腹脹服藥二十餘劑愈醫愈劇迎予為治診其脈沉弱而遲面黑而黃身體黑瘦四陂尤瘦削惟腹大而堅硬精神疲憊飲食不進大便溏小便清利夜間尤多純是脾陽大虛之候前所服藥又皆五皮五苓之類致脾虛氣散腹日堅硬也為用理中湯加厚朴砂仁益智仁肉豆蔻驅陰益陽服三劑腹軟食進八劑全安</p>
<p>余姻親蔣伯渠之侄女年二十秋間病寒熱市醫為之表散二劑而愈隔二日天將明時忽來叩門而速予往予至則病者神識昏迷已如屍寢據云三更時一覺煩悶便目閉神昏氣絕片刻則醒醒片刻又絕半夜已氣絕五次診其脈六部俱無面色一團黑滯舌苔穢濁而厚此本伏邪因受感而見寒熱一為表散便解其伏邪猶未動也然是即藥線也為今夜發病之兆矣其穢濁有形之邪伏藏既久蓄勢必緊如地雷火發勢之暴烈難以言喻故一發則上犯心肺五臟皆邪氣彌滿焉得不神昏竅閉如屍寢乎但邪在胸膈難用下奪之法令急召康老剃頭匠刺痧閉症頗效）刺其四末透風泄邪另用黃連等極苦極辛之劑以清降上焦俾濁邪下行神氣稍清然後再接法正治刺後即連灌煎藥兩劑果神氣梢轉明日復診脈仍未出病仍如舊乃仿達原飲方用川厚朴（三錢）　蒼朮（三錢）　草果仁（打碎後下一錢）　枳殼（二錢）　川黃連（一錢五分）　黃芩（二錢）　大黃（五錢）　芒硝（四錢）　木香（一錢）水煎與服周時始得大解糞如爛醬臭惡不堪人事始清但下徒惡寒戰慄床帳動搖舉家忙亂予初聞之亦頗驚駭以下後復作寒戰古人謂為犯忌在下後三戒之內繼而自悟曰此病與傷寒大承氣症有別承氣症邪熱煥糞結於腸胃一下則熱清結解不當再見表症若再見寒熱非認病不真下之不當即正虛而成壞症放下後忌此也此病乃伏邪為患穢濁汙垢之氣蓄之既久非獨臟腑間邪氣積滿即經絡中邪氣亦皆充斥臟腑窒塞之時氣機壅閉經絡之邪無可發泄故病雖極重而無寒熱頭痛症也今大便一行腑氣稍通經絡之邪始得外發此刻既有大寒寒後定有大熱熱後定有大汗通身外邪皆可因之解散實此症之幸事也大熱大汗汗直至足果如所言是日即未服藥第四日復診脈則浮弱而數不甚受按面上黑滯未退肢體軟弱心煩腹痛溺仍未清舌苔仍垢膩舌本深紫此邪氣尚重也原方加大腹皮二錢與服至三更行大便甚多仍臭惡不可近第五日復診各症俱咸面色稍轉脈反實大數而有力舌苔厚腐浮起知其積滯已動乘勢利導不難掃除盡淨也原方咸去芒硝二錢再與服一劑服訖連行大便兩次幾有半桶舌苔退盡脈來弱小人事安妥亦能稍食薄粥前此數日粒米未能入口也但神虛體弱終日欲寐惡聞響聲知邪去正虛為制健脾利氣之方加以飲食調理月餘始能起床兩月始能健旺其受病之深發病之重不多見也若非體壯年輕何可望其生全哉</p>
<p>陳道生忠厚人也與其父皆以好義見稱數年淹蹇事多掣肘患關格症服藥數十劑病勢日重予自鄂回聞其病而往視之見其面色痿黃飲食入腹即吐午食至戌則出暮食至早則出所吐皆酸腐清食絕無新食一粒兼有痰涎甚多大便十餘日一次有如馬糞小便赤澀診其脈兩關滑大而遲重接無力餘部均不應指前所服藥類皆苦寒一派余曰此非真關格也乃胃氣虛弱運化失職陰霾之氣晦塞三脘痰水涎沫填滿胃中飲食入胃為痰涎所裹不能運化精微時久則味變酸腐為胃所惡新食芳香為胃所喜故新食一入則宿食去而新食留且胃失健運其渣滓無由下達大腸津水無由滲入膀胱故大便艱小便澀勢所必然若用理中以振胃陽用重藥以鎮胃氣脾陽一復便可挽回乃用潞黨參五錢白朮五錢附子三錢乾薑二錢炙甘草一錢五分以補脾陽煎出另用赤石脂細末五錢以鎮胃氣方出市醫竊議曰大便已艱極再服此補澀之藥大便當不通矣余囑令煎服毋為人言所惑也服三劑果便溺通利服六劑果便瀉痰水日十餘次食粥不吐惟硬物不能食兩關脈已斂寸尺俱起但濡弱耳餘曰可望生矣胃中陰邪由大便下行其勢最順然濁邪一去則寥闊空虛有如新造之區故硬物不能消受其先大便結硬愈服苦寒下劑則愈窒今服補澀之劑則反下泄者是脾陽已回胃氣已復中下焦陰霾之氣痰水之積皆無地可容盤踞不得如紅日一昇群魔避舍有此氣勢此所以用補澀藥而大便反瀉之理也若再服十餘劑將空洞填滿胃復升降脾復健運便復其常矣詎料其妻進紅靈丹與服又請王名醫診治視為濕痰用三仁五苓等湯不十日壞症復見兩月而逝死後家徒四壁子不克家律以天道誠茫茫矣豈可問哉同族熙齋之岳丈孫步翁老先生任西碼鎮病兩月為醫藥所誤神識昏惑間有譫語二便俱閉口不欲食手足振顫日輕夜重熙齋挽予往診雇船同往診其脈俱濡弱而遲兩尺滑大而遲舌苔白滑滿布神昏而倦肢體軟弱寒熱日發一次頭汗出頸下無汗視所服藥類皆辛涼如黃連羚羊角等亦服多劑余曰此寒濕之症也本不神昏詀語因涼藥助邪濁氣薰蒸所致本不振顫因涼藥阻滯經絡所致本不便閉因涼藥擁遏穀道所致幸體質堅固不易動搖為用川厚朴三錢蒼朮二錢草果仁一錢煨姜一錢枳實一錢陳皮一錢木香一錢藿香一錢生甘草五分滑石三錢一劑便通搐定三劑各症俱退人事向安後服丸劑調理月餘精神復舊</p>
<p>西碼喬梓閣王捷庵二令媳年二十餘四月患病直至九月初間歷易名手數輩百治莫效奄奄一息已豫備凶器余在孫府再三敦請至其家有張君潤之陪余診視告余曰初病發寒熱間日一次咳而微喘身疼頭眩連飲食漸減肢體軟弱心中動悸所服方藥甚雜如建中湯桂枝湯桂枝加能骨牡蠣湯而養陰平肝之方不可記憶漸至身瞤動手足搐搦粒米不進心跳神憊臥不能起如弱症矣余進內診脈搐搦無定其夫執持手膊任余診之脈則似有似無陽微實甚面色白而微黃舌苔薄白而潤有水氣體瘦如柴皮膚尚潤寒熱均在支於陰日逢陽日則稍安亦可略進米飲余商曰此極重水氣病也傷寒曰心下有水氣乾嘔發熱而咳又日咳而微喘發熱不渴又曰其人仍發熱心下悸頭眩身瞤動動振欲擗地者皆水病也此症俱見矣水氣入經格故搐搦振顫水氣凌心故動悸頭眩時久又為藥誤故陽氣衰微神疲倦怠得支於之陽以助之則安得支於之陰以劫之則重是本體陽微求助於天時之陽氣也若補陽驅水尚可救治請張潤翁執筆為開真武湯加細辛一錢與服竟日有起色得獲全愈其功全在張君張君本泰州名秀才醫理亦精此次非辨症不實乃因名手之見均不相合不得獨行其志及聞予言力贊其成動主家毋為人言所惑故得病愈生全皆張君潤翁之力也其雅量不超人一等乎</p>
<p>堂嬸嚴氏燮和四叔夫人也病寒熱往來大便難小便赤喉痛惡心不欲食煩躁請王佩廷先生來診方用藿香正氣散加減內有厚朴八分服訖面紅氣急喉痛煩躁有加因更請名手王十七（通呼為十七聾子名字忘卻實膽大妄為之輩也）診視力詆前方燥熱之誤乃用銀翹散加黃芩寒水石等連服四劑面愈赤氣愈急心煩躁擾愈不能耐且兼呃逆闔宅煌恐適予由西碼回急往視之診得兩寸脈浮數無力兩關脈滑大而緩兩尺脈沉滑時寒時熱身未得汗頭頸間有汗出頭如里身重不能轉側神迷欲寐便閉溺澀口苦不渴舌苔油黃滑膩而滿布胸悶腹滿予曰據脈症參之種種皆屬太陰寒濕中焦之滯下焦氣鬱而心陽上浮此內有真寒而外顯假熱之象見未精者每為所惑而誤治傷生王佩翁用藥甚當但厚朴等分兩太輕不能宣化寒濕使心火下降反助心陽之勢以上升故反見熱象王十七則不知辨症不知憑脈謬執成見漫議前醫妄用寒涼致擁者愈擁升者愈升寒濕結於中心陽化火而上迫故煩躁面赤愈甚胃氣不能下降必與心火上逆故氣急呃逆愈加如煤火然以水由爐底澆上則浮火上升一二尺許即此理也為用川厚朴三錢蒼朮茯苓陳皮澤瀉各二錢草果仁黃芩知母枳實各一錢半滑石五錢生甘草黃連薑汁炒各五分車前草一株服一劑熱象全退轉見寒象連進八劑始便通飲食漸進月餘始能健旺其胞弟嚴桂齡受業於先君與余同意三載因清晨空腹為姊吹喉藥傳染病症如一而輕不信予言延一前輩而有時名者診治生死倚之前輩逕用寒涼而不知返漸至粒米不進小便不通面赤氣喘躁擾不安日夜不寐兩月餘舌黑如墨潤滑光亮如鏡恣飲梨汁蔗漿致脾陽全敗龍雷陰火上升舌苔由黑而燥而裂燥裂之下尚有潮氣其氣急神揚刻不能耐叫喊之聲四鄰皆震目赤直視心內火焚苦楚萬端令人不忍聞見也又越二日而卒由起病至死共三月餘此症由寒濕而化熱而化火直至上升巔頂陰陽脫離津液耗盡始得神亡而逝闊時既久受苦最深吾見病此死者甚多餘故志之以告天下凡病家醫家皆當以此為炯戒云</p>
<p>中至好姚小湖精明謹慎人也秋初患寒熱繼則但熱無寒神昏詁語狂躁不安余適在大港有事及余回里已有棄衣而走登高而歌之勢面赤氣急大便不通大渴引飲舌苔厚黃而焦燥診其脈數大有力前所服藥均辛涼輕劑其主持醫治者余前輩也就而商之曰小湖之恙為溫邪胃賓之症症實脈實俱屬濁邪化熱失下便有爛腸腐胃之慮故溫病下宜早非如傷寒下宜遲也硝黃非重用兩許不能勝下奪之任伊云小翁之堂兄胞弟均不在此若用重劑誰能擔承余曰脈症既已如此且聞病前數日所食濃厚甚多不用重劑不能去病吾興彼既屬一家又是至好且吾又知醫倘有差忒吾獨任之於前輩無與為請用大黃五錢芒硝三錢即加入尊方內詎知前輩不以為然雖勉加硝黃各二錢俟吾等回後仍囑病家減去且囑令毋使余知吾回時巳過二更不能為之調藥第二日清晨往視見脈症如故心竊疑之細訪而得其情因病家盡屬女流以耳代目難以理折徙喚奈何而已病家至三官殿求仙方方中有大黃二錢連服二劑大便略通日行一次病即漸咸一月後病似全愈而神仍疲睏口不欲食麵有滯色醫家為制丸劑補養令再以飲食消息之遂日以雞鴨魚蹄勸進而病蓄食不知味勉強食之又覺不能消化十月初因小湖家喜來往賀小湖仍坐床上托予診脈余曰六脈俱沉滯惟左關弦數而沉面色仍滯而日進補藥恣食厚味此事大可慮也貴恙在七月勢等燎原未用重劑急下至一月後諸症始退積滯始去然去之太緩有形之邪去矣無形之邪未去也聚於腸胃者去矣溢入肝膽者未去也腸胃與肝膽部位雖分功用雖別而處處有門戶相通血氣津液平時增能透入其胃家濁邪盪滌不速則穢濁之氣全行透入肝膽故病愈數月未能健旺進食職是之故加以厚味補劑閉固愈深恐郁遏既久一旦外發其勢不可當也小湖聞余言將信將疑十月十八日忽然頭痛如破急來召余余往大港因仍請前輩為用表散風藥一服後頭痛更不能當乃求前輩設法前輩曰虛極矣非人參不救三日連服人參三錢人事昏迷如屍寢矣二十二日余回家聞而往視其仰臥於床四肢僵直面色紅赤眼睜甚大黑珠旋轉不停神光外露百呼莫應亦不知食撬開牙關舌本深紫如胭脂色苔則厚濁兩脈實大而數惟兩寸獨不應指余思此症始而積邪由膽穴上犯於腦故頭痛及服風藥則木火之邪得風益烈故頭痛愈甚肝膽與心臟屬母子木邪上犯無不先入心絡及服人參三錢心竅壅閉實甚包宮之邪永無出路故神明無主如癡如寐矣胸中宗氣為周身之主宗氣閉則周身隧道俱閉故人如木偶不知痛苦矣逾數日而歿歿後一日始殮周身溫熱尚如常人其死於實不死於虛可知矣</p>
<p>殷春臺為余至好善青烏術既博學而又得真傳每談地理明白曉暢似甚平常而精義即在其中余先君及先室皆任其一人經理又如江西陳綸閣浙江俞廙杆兩位老先生均深信而委任焉其二令妹患喉痛邀余往診其脈濡弱無力畏寒惡食舌苔白滑余向春翁曰凡喉疼齒痛婦孺皆知為熱而令妹之恙獨不然若吾用藥定不肯服蓋請他醫為治不效吾再進劑不遲乃請市醫為診果視為肺胃之熱用石膏黃芩等與服二劑後喉痛加劇胸鬲板塞煩悶全不知飢滴水不入復挽予治予曰令妹本脾虛多濕寒痰閉肺竅之喉痛一兩劑便可見效以川厚朴杏仁生意仁大貝母各三錢茯苓陳皮蒼朮白朮各二錢砂仁枳殼桑白皮萊菔子各一錢半紫苑一錢生甘草五分與服一劑胸寬食進兩劑全愈</p>
<p>殷春臺夫人產後失調遷延年除服藥罔效時時畏寒咳嗽痰清肢體倦怠夜不欲寐口不欲食神疲不離枕蓆時吐白沫胸中悶塞經水久閉診其肺兩寸弦緊搏指兩足俱微弱舌本淡紫苔白厚而干余曰此上實下虛之候也上實者脾中之痰濕擁於上焦下虛者陰中之真陽虛於下焦惟下焦真陽不足不能蒸水上潮肺氣無權脾濕又將竅隧陰塞故舌乾而白沫時吐血不能生氣不能利故經閉而倦怠也為用丸劑清上膏劑補下以白朮炙草枳殼橘紅貝母桑白皮等水疊丸食後服之以肉蓯蓉枸杞杜仲鹿角膠鹿角霜等熬膏空心服之一月餘頗見安好忽又延畢醫診視服滋陰降火兩帖反覺沉困因仍服吾之丸劑膏劑八月餘經水始通諸症皆瘳飲食漸加吾囑令多服為是王炳南通命理訓蒙秋初病瘧僅發兩次用俗傳截瘧法止住吾曰邪未退而截住定有後患十日後腹脹而痛身倦怠飲食鹹尚不為意一月後支持不住邀余診治其脈兩寸部滑弱兩關部弦兩尺部弦勁搏指而緩腹中疼小腹硬如鐵石而冷小便清利大便滯用補中益氣湯與服兩帖寸脈稍起余仍如故余思陰邪結於至陰之處非溫不開非下不去乃用附子三錢乾薑小茴香吳茱萸各一錢肉桂當歸各一錢半川椒鹽妙八分大黃酒製三錢為一劑與服一帖大便暢行一次腹內稍寬三帖後一夜大下二十餘次色晦臭惡如魚腸狀人不能近彼甚恐黎明來召余急往診其脈六部微弱而平靜間小腹如何云小腹已溫暖而軟痛亦止余曰脈平邪退愈矣何恐為適余有西碼之行彼食松菌湯麵肢體浮腫服朱醫補劑兩日喘滿不安余回而向予零涕余曰無傷也令服防己黃耆湯二帖腫消喘定日向安好</p>
<p>逾二年冬月炳南又病嘔逆湯水入喉即吐喉中微疼市醫為治服銀翹散兩帖嘔逆愈甚時時噦惡喉小破爛滴水不能進口胸中脹悶手足無力舉動維艱四肢冷厥滿臉白屑人皆謂無生理矣自度亦不能免彼以孤身寓鎮無所倚賴故見吾流淚而口不能言為診其脈兩寸俱微關尺小緊因慰之曰無尤也吾立起之此屬胸痹脈症相符有此病即有此藥用鮮薤白六錢桂枝二錢生炙甘草各三分白豆蔻後下四分以水酒各半煎服一帖和二帖已此病載在金匱脈症治法極其詳明而時醫多不能辨漫用涼藥致變生他故者往往不免吾不知名醫而何以得成時名乎</p>
<p>宋子默簪纓舊族吾世好而親戚也二令媳李氏產後身體違和頭疼食減自以為虛而兼惱怒傷肝市醫亦云陰虛肝氣用養陰降火之劑連服十八日頭痛轉劇自覺熱甚漸搐搦暈厥初尚時厥時醒繼則厥去不醒舉宅倉皇子翁以病情來告余曰令媳體豐多濕平時而黃陰不暴虛火不至驟盛恐為醫藥所誤也子翁默然而退請近處名手數輩而未能至與子翁至戚而居同門者吾表弟蔡律初也醫術最精子翁懇為診治律初轉囑邀予予往診其脈滑大有力而緩面色黃內隱青口鼻兩頰滯氣尤重舌苔滿布穢滑而白昏睡不管人事不抽不摺氣息尚平手足尚溫產後兩句余瘀未甚行且聞產後飲食亦甚龐雜余與表弟商曰脈症如是定系痰食瘀血互結於胸腹之間加以陰藥壅滯閉固愈深經絡不通阻其宗氣神明無主百骸無所稟命故病至是極耳表弟云病者且有客感每飽食當風而臥外邪內邪互結不解故危篤如此余曰此理當極吾未想到因商用滑石桃仁當歸尾元胡索枳殼磨汁檳榔磨汁薑黃姜連等為煎劑另用當歸龍薈丸減麝香與煎藥同服以下其積滯瘀血一服便神清而醒三帖後積滯俱下如膠如膏而瘀血亦行人事安適諸病霍然第四日因梳頭勞動搐搦小發阿母作主請伊所親近之趙醫月藥多不倫類幸邪退不至為害只多費時日之遷延耳</p>
<p>方家灣有淩姓者家小糜無子以內侄為嗣已帶養媳吉期擇在十月而九月初忽病溫症醫治罔效至八日病勢熱極神昏詀語煩躁不安叫喊發狂家人以雪水灌之便神識昏迷不省人事仰臥如屍手腳僵直口張手撤適餘下鄉覓地託一薛姓者懇余為診具時已僵臥一日呼吸甚微脈象微細如絲不受重按面色夭白絕無熱象脈症均無溫病情狀惟舌本深紫乾燥無苔上有縐紋如豬腰風燥者然余思陰邪斷無此舌坐籌久之悟此病必溫邪陷入血分時醫治未中竅血熱盛極致發狂煩蹤及灌以雪水與病雖不相當而熱勢稍殺邪正俱衰致仰臥如屍而成虛備陰血為熱邪所灼血枯陰絕經脈無血以麗之故脈來微弱心主血脈心經無血以養之故心神莫主魂無所依必至昏然第四日因梳頭勞動摔溺小發阿附作主請伊所祝近之魑醫用藥多不倫獵幸邪退不至為害只多費時日之巡延壞方家灣有淩姓禽家小糜無子N內侄為刪L帶夤媳吉懈繹在十月而九月初忽病溫症醫泊板效於入（病勢熟極神外訥冶他蹤不安叫喊發撲家人以雪水灌之匝神織昏迷不富人小仰臥如N手腳偶立n恢手撒邋餘下鄉寬地托一薛姓者懇余為沽其時已礙臥一n呼吸占微豚象微細如絲不受市按面色天白絕無效艱脈症均無溫病悄吠惟舌本深紫紇燥無苔上有縐紋如濺腰風燥當然余忍陰邪瞰憮此舌碓鴛久之悟此病必溫邪陷入血分時醫治未中竅血熱盛極致發狂煩蹤及灌川～水呶病雖不相常而熱勢稍殺邪正俱獲致仰臥如屍而成虛懣陰血為然邪所物血枯陰絕糾脈獺血似麗之故脈來微弱心主血脈心經無血川費之放心神莫主魂憮浙依必至昏迷不醒而手足不為所用此病劉河間論之極詳極當誠萬世之師也用黨參黃耆各二兩鮮生地麥門冬天門冬各四兩白芍藥三兩當歸炙甘草各五錢酸棗仁八錢石菖蒲三錢秋石六錢化水和服以養血滋陰令用銅鍋多水熬煎時村濯之服一夜至天明目轉動午刻能言諮身能反側十月完姻行禮履止如常</p>
<p>許家村有老婦陸姓年近六旬秋間病感愈醫愈劇迓予為治寒熱日發一次午前發寒二更始退胸悶腹滿氣逆心煩夜不成寐終日迷困粒米不進二便皆通診得在職弦弱右脈滑大而空三五一停日輕夜重舉家忙亂已備辦棺衾矣閱其前方多瘧門例藥因告之曰脈卻不佳然為藥所誤脾胃大傷氣尚未絕急和胃補脾猶可救治以六君子湯加肉果仁益智仁撫芎桔梗為劑連服兩帖熱退能寐知飢欲食其時伊至親俟景文說胸痞須加黃連枳實方得奏效陸老翁執以告余余曰令媳本虛症也斷不可用此以戕其生乃止又加減前方健脾陽驅濁陰三帖而愈余初次入診見有少婦侍立床側滿面淚痕尤思外現余疑為女也訪焉而知為媳其太翁曰自其姑起病直至於今日夜不離左右撫摩侍奉未嘗稍間且眼淚不知流幾許矣後病勢日退便日有喜色不意農家者流得此佳婦其至性天成當愧死天下之為子者</p>
<p>陸家有女子年二十餘嫁於夏家灣之夏氏夫死產一遺腹子八日而病為醫所誤勢頗劇陸姓求治於余余憐其孤而貧且恐母死而子必不保因往診焉房中穢氣燻人不堪立足見其喘急氣促呼長吸短言不能成聲食不能入口日夜危坐苦楚萬狀汗大如雨一診脈時二毛巾皆濕如由水內拽起舌本青紫苔全剝落絕粒已經三日脈兩面三刀手浮大滑急重按堅數前所服藥均四物等類余曰此本溫病醫者不知辛涼解散而反用陰滯之藥壅塞隧道致有此內閉外脫之候若不開其閉必不能固其脫也以磨檳榔汁二錢磨枳殼汁二錢絞蘿蔔生薑汁各半酒杯另用桑白皮苦桔梗苦杏仁金蘇子赤芍元胡索生甘草飛滑石煎出對汁和服一帖喘汗皆減二帖喘汗皆止大小便通暢易方調理共服八帖而痊母子安好現子已五歲肥壯可愛矣</p>
<p>蕭佑廷余契友也為人篤實可靠因店事往通起程數日夫人忽發熱煩躁夜間尤劇病已四日余由東鄉返舍佑翁之兄托致電召弟速回以備後事余曰無恐侯診後再酌往見病人煩躁面赤通身亢熱無汁乾嘔氣粗胸中脹悶大便不通小便赤澀不寢不食有兩日夜脈則滑數無力尺部洪盛余曰此氣分不足濕熱凝滯經絡之症凡濕邪重症往往日輕夜重何倉皇至是曰不食不寢已屬可怕夜間躁擾亂語人人皆曰不宜前醫亦曰病不應藥十不救一故忙亂如是耳餘曰無傷也以清熱化濕而通經絡之劑使之連服四帖汗出熱退夜能安寢諸症漸愈矣</p>
<p>予族中熙齋之女年十四歲秋間病寒熱日發一次至熱劇時則鼻中出血有如泉湧頃刻盈蓋色鮮紫而厚日三四次不等初則有寒有熱繼則純熱無寒熱乃不退精神疲憊心中煩悶頭眩眼花身疼不能起床病者日夕思餘一診雖死亦心服矣予聞而憐其幼失怙恃急往診之其脈則左手浮洪而數按之則弦右手則浮數而弱予曰爾以陰虛之體而受暑熱既重陷入血分致有此候爾無恐兩劑可愈用鮮生地麥冬元參鮮青蒿鮮澤蘭葉各三錢茜根桃仁赤芍側柏葉各一錢茅草根一撮鮮荷葉一個煎出調益元散五錢與服一劑便熱減血緩兩劑便愈後為調理而痊</p>
<p>趙少希之令堂體弱事繁有恙均吾調治秋間患左腿疼痛筋脈牽掣畏風寒實甚八月已穿夾褲外加棉套褲一件然至窗口便覺冷風澈骨晚間進被便覺冷氣襲人自疑寒濕擬進虎骨酒及艾火針灸等法余往診之左脈弦數右脈滑數余曰此非寒濕也乃陰虛肝旺痰火妄行之故肝主筋肝脈行身之側上行至頭下行至足寒痰多凝滯一處熱痰多妄走周身寒痰多屬於脾熱痛多合於肝今肝木既旺痰火循肝經下行至足經絡壅遏筋無所養陽不下達故牽掣疼痛而畏風寒也針灸熱藥均非所宜為用酒當歸酒白芍薑黃連炙甘草牛膝殭蠶薑黃貝母烏藥葉秦艽等為末竹瀝薑汁疊丸空心開水服三錢服至一月忽瀝瀉溏糞一夜共五十餘次腹不痛不脹明日便止腿痛大減不畏風寒矣吾見此症極多熱痰入經絡衛氣不通陽氣不到每畏風寒痛麻抽掣不能舉動若作寒寒用辛溫之藥或作虛寒用溫補之藥致破爛而流膿血者有之又壅塞而為痿痹者有之重則傷生輕則殘廢如此者不可勝計醫者可不憑脈認症而漫用套方以誤人乎堂兄壽山之姨侄女年十九歲夏季患瘧午初發寒當即轉熱二更始退發寒熱時心中煩躁懊憹便不能支其苦楚情狀自己亦形容不出面赤氣急身微有汗大便如常小便色赤兩手脈俱弦數惟左寸獨滑如豆數而有力舌色鮮紅上有淡薄白苔余思此症惟心中獨苦楚難受脈惟左寸獨滑數如豆是乃邪氣攻心而成心瘧也夫邪由四面而攻心臟幸年輕初病心血未虛心氣未餒時時與邪相攻擊而邪氣猶未敢遽來相逼只四面圍繞而已如賊人圍城城中兵精餉足未敢遽來薄擊僅能遠遠圍困而城中防範維嚴日無寧晷勢難安枕故瘧症一來則心中苦楚萬端職事故耳然此亦難恃也孤城坐守外無救援餉耗力疲勢難持久若一旦潰散其禍便不可測故宜及早圖之因用蜀漆三錢為衝鋒陷陣之將直破賊壘而解其圍使兵民將帥潰圍而出故以為君用生地連心麥冬元參心當歸酸棗仁以養心氣而厚其兵力使賊邪不戰而自潰故以為佐使但服訖瘧來時當更加劇須忍耐兩時之久則自愈矣此藥服下果如所言是日瘧退甚早汗亦出透從此便愈即囑令勿藥而安馬子揚吾親戚也家貧病重余往視之見其面色黃黑身冷肌消舌肥胖脹大日間知人事而口不能言舌苔厚膩滿布二便不通囊已上縮至黃昏則寒顫轉筋人事昏沉至亥子時則煩躁狂叫手足躁擾至寅卯時則安臥無聲神思疲憊飲食不進口亦不渴據云病如此重已三日矣診其脈兩關弦緊兩寸尺微弱不甚應指前醫以舌卷囊縮為厥陰溫邪用犀角羚羊角等藥矣抑知此症全因誤治而然也其先本時邪中之寒濕症服涼藥太多損脾之陽滯胃之氣症變陰寒陽明主潤宗筋今陽明無主則宗筋不潤而短縮故腎囊縮入腹內與厥陰之囊縮迥異脾之脈絡舌本今脾陽大敗濁陰上犯循脾脈而上縈舌本故舌本脹大而不能言與厥陰之舌短舌必縮小者迥異陰邪彌滿陽氣不行至日落則陰氣用串故神昏寒戰至亥子則陰陽剝復故煩躁不安至寅卯則陽復用事便向安矣與溫症又異為用附子蒼朮各三錢白朮五錢乾薑厚朴當歸各二錢草果仁白芷川芎各一錢黨參三錢為一劑與服連進兩帖神情便解身溫能言夜能安寢諸症俱退而病家輕信人言復箐王名醫調治用藥不當延宕半年濁邪閉竅致神癡耳聾如廢人矣吾等雖無居功之意然信任不堅自誤其事良可恨也故時醫可為名醫不可為誠哉是言</p>
<p>吾寓武昌有浙江紹興人翟正信專售各種報紙其子自上海來患喘症已經二醫為治服藥四帖視其方一為養陰一為養陰兼收斂余入房病者尚能下床就診語言清晰二便如常飲食減少病起八日年方三十人皆以為無礙然余見其形容枯槁神氣脫離診得左脈浮大數疾重按則無右脈沉小而疾吾知此病本腎虛之故腎虛於下則痰壅於上醫者不知補下清上反用甘寒收澀之劑滯肺氣而助痰今脈敗神離腎將無根而上脫其行期當不遠矣因私謂其父曰令郎之恙甚屬危劇前醫用藥已誤不可再誤余亦見淺術疏不堪勝任望急請高明或可補敘其父擬送回籍余曰乘輪下駛亦須十日恐變在半途各事棘手祈自裁之其父尚猶疑未定隔二日早間症變昏潰大汗頃刻便逝</p>
<p>武昌楊干臣翰林也其次子十四歲二月放風箏冒風咳嗽多痰醫者謂其體弱陰虛令服滋陰降火藥三劑而瘳旬余又發又進二劑而瘳如是已屢發瘻愈矣至五月則乾咳無痰咳僅三五聲聲亦不揚尚不為意後漸肢體倦怠夜間發熱飲食日減肌膚日瘦遂復迎前醫為治云陰虛甚矣因養陰補氣不效而易醫數輩方藥雜投百無一應吾同事殷東屏為之介紹延予為診予往見其形容黑疲骨削如柴汗多不斂喘急氣逆不能伏枕日夜需人擁護喉中痰嗚腹大如瓜大便溏瀉小便澀少口渴喜飲善飢不能多食舌本紫而發青診其脈浮大而弱重按則小尚未絕也余曰此症全因誤治以至此極先因風邪屢為陰藥阻遏風邪內閉胃氣先傷故倦怠肌消夜熱食減也後醫又不知辨症補瀉溫涼用之不當風邪未去中氣大衰升降無權失其常度胃氣本當下行傳糟粕於二便今不下行而反上犯致濁痰填塞肺竅而喘促不寐脾氣本當上行升津液以潤心肺今不上行而反下陷致陰液下出穀道而泄瀉口乾脾胃既虧真氣散失則腹脹肌消風邪內擾與肝熱相煽則善飢喜飲病勢至此已不可為矣然坐以視死盍設法救之以冀萬一乎為用清肅化痰之劑以治上焦食後服之又用理中湯加木瓜白芍以收脾胃之氣加荊芥防風以祛風邪水煎食前服之挽回中氣若三服後稍見功效則可設法進步若無效則非吾所知矣僅隔一日忽聞其死吾駭異之至意此病乃土敗中虛之症現在夏令不當遽殂吾所開方雖不能期其必效亦不至速其死也託東翁為我訪之始知未服吾藥信巫者之言飲畫符生水兩大碗當即斃命嗚乎楊公翰林也讀書明理人也以愛子而誤於庸醫之手醫理未明猶有說也若巫者能治病聖經賢傳皆可廢矣歧黃胡為者明理者如是鄉愚婦女更何可問哉</p>
<p>秀才尤小亭之四令弟夏患溫病頭痛身痛發熱無汗口渴而不欲飲大便略通小便黃少兩脈俱弦數兩尺洪實舌本淡紫無苔余曰此伏邪症也病不易透勢難遽解毋望速效幸耐之為用辛涼清熱之劑以透其邪連服四帖脈已漸平已有解勢第六日申刻予往復診見且面色大變皮膚僵硬四支冰冷臥床煩躁反覆輾轉而人事不知百呼莫應兩脈則沉小而疾余思此病不應有此變局實因天時亢熱所居房屋狹小內熱外暑兩相膠結成此卮險之痧症夫人身津管血管通行周身而津血之中俱有鹹味則俱有滷氣故汗與小便其味皆咸是其徵也若經氣隧道為暑邪壅閉陽氣鬱而成火煎熬津血其中滷氣結為砂子塞於管內則周身氣血不行故肢厥身冷色變肉僵心主血脈血結為砂則心血阻滯神不安舍故痧症無不煩躁者重則昏迷輕則清醒故針刺透其絡氣可愈也芳香開其心竅亦可愈也冬季寒氣閉竅亦成痧症但治之稍異耳今此病伏熱未解加之外暑逼迫焉得不成極重之痧症令先召康老針刺出血吾急取藥磨汁以灌兩時許人事大清氣平安靜又得大便一次去積垢甚多明日熱勢復熾臃仍弦數浮起為用甘寒重劑兩帖而愈吾見痧症極多時醫諱言之不知何故因此傷身者不可勝紀病家志之</p>
<p>尤小亭之三令弟年二十二歲患吐血症體倦食少面黃胸悶腹脹便溏小便清利脈濡弱血色黑紫而兼痰水余曰此脾虛濕重血不歸經故也用白朮淮山藥白藊豆黑炮姜杏仁桑白皮當歸赤芍紅花與服六劑而愈再以六君子湯加當歸白芍為之調理逾一月餘送來復脈自言飲食起居如常亦無所苦惟神氣不足倦怠日甚故請治耳餘見其形容憔悴神氣虛贏色黑肌消幾如骨立診其脈則寸關濡弱兩尺弦小而疾重按始得余問遺精否有妄想否皆不對而去因告其兄曰令弟脈症甚屬不妙外顯氣虛之象內得陽脫之徵是必心有所思時時動念引動真火火發九泉陰液暗傷真陽脫出此為枝葉未有害本實先撥也法在不治再三請藥余曰在吾見淺無法可施絕非藉詞推託切勿延宕致誤當延學問高遠者治之或可挽回亦未可知此在七月中旬至十月乃卒凡內傷之症惟色欲傷精最為難治但精生於血或以飲食自養或以甘溫培陽十中可以救五惟妄想意淫傷心腎之精氣百難救一蓋無形之斫喪實基於有形之斫喪萬萬也</p>
<p>予表姐朱姓二子授室多年僅得一孫視如拱璧年七歲夏季患時氣病五六日往視之見其脈症舌苔溫邪已劇醫者方亦平穩不至害事余因朱便措手第二日其老媽告余曰小相公神色大壞請往救之俟雨止而往已至酉刻見其面色□滯口閉無言神已昏憒而心中煩甚臥床躁擾兩面轉側二便俱無身涼肢厥兩脈沈小而疾余曰勢急矣盍求名手拯救其祖母曰適鄰家請王名醫先生余抱去就診其方已著人代去購藥余坐待許久始見其方余驚而告之曰誤矣令孫本極市溫症現熱邪內陷竅閉津枯心肝火熾滿腹如焚故神昏躁擾如是也內熱盛極陽氣陷於內則反不能外達故身冷肢厥如是也不然口燥唇裂二便不通脈來數疾是何故也胡王名醫未辨詠症而漫用厚朴砂仁諸辛燥之藥乎此藥入腹二更定當不保現病危時晏無處覓醫吾為立方以救其命用大瓜蔞二兩石菖蒲一錢檳榔枳殼各二錢濃煎另磨紫金錠半枚和入灌之服下二時許神清開口遍呼家人明日熱退未淨汗出津津口乾咳嗽余為咸瓜蔞一兩去菖蒲加生地元參麥冬以滋陰保肺三帖進食而愈令勿服藥</p>
<p>陳道生江西人兩淮候補也其尊翁綸閣老先生辦鎮江洋務多年忠厚和平春初仙逝遺暨在人吾鄉每津津樂道焉道翁夫人冬月病感醫治十餘日病勢劇甚殷春臺為之介紹而逐予為治其時病經半月申酉潮熱天明不汗而退通夜不能瞑目心中悶脹煩躁大便未得一通小便赤澀頭左大痛如裂五心乾熱汁未一出粒米不進口亦不渴神氣虛羸面色青薄舌色鮮紅舌尖如竹刺搔破隱見血痕舌根有黃苔左手關尺脈弦數搏指右手虛數視前所服藥均辛燥重劑余曰肝火旺極陰血傷極若不急養陰血速清肝熱恐火燃血耗將見亡陰之象矣以青蒿三錢鱉甲五錢鮮生地搗汁二兩麥冬元參各五錢酒白芍三錢生甘草蓮心各一錢水煎和汁與服一帖便安臥兩時之久諸症俱滅兩帖後大便日行五次每次下結塊一二枚逍請恐病下利商治於余余曰血益陰回肝木得養折其上升之性轉而下行是肝得疏泄之職而臟氣復其常矣無下利尤也脈亦平惟右脈弱甚為減鱉甲加白朮白藊豆建蓮以養脾氣服兩帖諸症俱退脈亦柔和</p>
<p>談鴻鈞年三十餘為人謹慎和平精明爽直在鎮城外開銅錫器鋪抱恙年餘歷治罔效就診於予云初病似痢非痢日夜約五六次溏糞兼水至今未愈腹脹微痛氣時下墜身體倦怠手足軟弱心中悒悒不樂飲食減少胸有酸水凡食後歷兩刻則酸氣上犯心如浸入酷中若再進食則酸止一二刻而復作見風亦然故惡食畏風無法可免自為虛醫者亦認為虛然補亦不效不知何故予視其厚潤微黃之舌苔淡紫之舌本診得沈滑有力之尺脈因告之曰貴體壯偉豐厚既未戕賊傷身又無客邪劇病為得遽虛此必水氣積伏下焦也肝腎被郁舌多紫色熱邪則紫兼紅陰邪則紫兼黑今淡紫兼黑苔厚而潮面色且又晦暗定是水積肝腎部位而兼溢入經絡他兩尺脈沈滑有力亦陰邪盤踞肝腎之徵肝以困而上逆腎以鬱而下泄肝困則疏泄失職故有上逆之勢腎鬱則閉藏失職故有下泄之虞所似傷寒論以吐逆為厥陰經症下利為少陰經症也閣下土氣深厚氣滯而濕化為水肝因水困則性喜沖逆水為熱蒸隨木氣以化酸即隨木火以上逆惟食入則酸水被壓而暫止及食下行則反助其焰而加劇其所以吐不出者因氣滯而阻於胸膈之間不能上及於喉也風木一氣若受外風則內風同氣相應風性升騰水必與俱而心如浸醋矣腎主二便水氣傷腎則腎不能藏而下糞水其水行不暢不能由大便盡去者亦因氣滯竅閉無掃除之力也此非重劑不能奏功予為措方毋示人而為之訾議耳乃用蒼朮四錢大黃防已各三錢葶藶子一錢川椒鹽水炒黃速各一錢全用燥烈剛猛之味直入下焦趨水定能取效服一劑歷十二時暢行大便一次服兩劑歷七八時暢行大便二次服三劑歷一二時暢行大便三次其所下盡如膠水又有紅水約行去半桶臭惡不堪腹內爽怏知飢欲食肢體有力進食當風胸無酸氣年餘痼疾三日去之欣喜異常為復診似尚未淨吾為易方調理囑之三五日後再來診視恐積去未精宜再下也後卻未來當已全愈新入邑庠之陳鳳翔吾友沈少湘之高弟也好學深思溫文儒雅其令尊年六旬患腿與胯骨皆痛醫治兩月病轉沉困醫皆曰虛極矣汗脫定在朝暮辭去不治沈少翁為迓余診以視吉凶何若余胃雨雪而往見其精神困憊脈象敗壞乃臟氣壅遏氣散神離之候與脫症迥異病在不治卻非三二日所能變也少翁曰陳君之死勢在必然然坐以待斃曷若盡心力以救治作一僥倖之想乎余為立方以圖攻補兼施煎丸並進數日後似已應驗惜其中服藥未能如法脈未能轉神未能回余因辭去又越數日而逝由始診至此共二十餘日吾為之竭盡心力自問已無愧矣今將病情詳志於此蓋翁平日肌體豐盈飲食強健惟大便數日一行行亦不暢其氣體之壯由於此而患病之根亦伏於此凡人入多出少其飲食化精微者多始有此氣固神完之候其飲食化渣滓者則全由前後二陰而出清者出於前濁者出於後則是渣滓又全由後陰而出今出孔比入孔尤約則渣滓無由盡泄而化為濁痰穢氣潛伏於骨空經隧及臟腑膈膜之間日積月累而已不能知及氣血稍有凝滯則伏者外發經脈阻塞故腿痛作矣而飲食神氣尚如故也若此時一為疏通經絡清化痰濁數劑自能全愈再為理脾潤腸使腑氣通暢便能免其後患乃醫者計不出此反謂高年腿痛多屬腎虛遂與補腎養血之藥服至數十帖詎知壅者益壅滯者益滯痛傷胃則飲食日減補滯脾則肌膚日削氣因阻而漸散神以逼而漸離閉固愈深生機愈少醫治兩月而不可為矣予進診時見其形容消瘦氣體虛羸面色黃白而有浮光兩眼皮破爛眥淚甚多神清而口懶言目常瞑有類昏憒倚被而臥因下體皆痛體不能舒畏風惡食終日似醒不醒汗出津津黏手惟寅卯二時上體汗多五心煩熱臥不能安舌苔油黃滿布而滑兩手脈浮沈皆無惟左關重按至骨時或五七至弦小而疾據脈症言之眼胞屬脾其破爛多淚脾濕重而為熱上蒸也寅卯二時屬木內應乎肝肝為脾困無由上達一至其得令之時則上衝乎心胸外泄乎皮膚稍遂其升發之性故過此則仍困而止矣左關脈時或一至亦是此故其餘脈症面色舌苔均脾傷水困壅閉晦塞之象也醫者不知為閉而以為脫誠以北為南指水為火矣余以理脾為君利氣疏肝為佐制煎劑與服另以丸劑疏通下焦壅滯與之後服服至八九日行大便兩次痛減臥安五更煩汗皆止乃以通絡化濁之藥為散以易丸劑令與煎藥同服乃侍疾者與煎劑則止末藥明日與末藥則停煎劑如此數日其病家雖喜漸愈而脈未能起食未能進吾知不足恃也余辭去數日果聞凶耗甚矣虛實之難辨也極實之症臟腑窒塞經絡壅滯肢體倦怠精神困憊有類乎虛各臟為濁邪所遏各臟之神無由返舍必至遊行而外散如燃燈然燈中有油則光亮油過燈頭則光滅與油盡光滅者同一滅也而所以滅者則不同也人第知燈滅而不辨其油多油盡也此所以虛實之難分也</p>
<p>越河圩王益之長媳徐耀庭之侄女也亦吾表兄夏德生之親戚秋初患痢治愈後而夜不成寐近處名手遍請診治而病轉危篤擬勿藥而待斃矣忽聞吾名托夏德兄為之介紹敦懇再三予往診時目不交睫者已近三月口不能食者已有月餘家人勉以雞肚濃湯發進強嚥數口反覺脹悶所最難堪者抽搐驚恐兩事一經大抽大搐震動跳躍則氣絕僵臥靜待片刻便蘇日夜抽厥共二十餘次其驚恐則如在刀劍業中即數人挾持擁護膽亦不能稍壯頭眩連不能坐起二便俱通身無寒熱但面色通赤肌未消瘦中心煩熱多汗腹脅脹悶經水久閉其舌本深紫無苔而光亮如鏡其脈則立寸關注小而沈右寸關濡弱兩尺部滑大滿指重按有力視前所服藥惟治痢用木香檳榔之類余皆滋陰平肝養血斂神之劑數醫一轍約服七八十帖故病勢至此極耳病者有小叔王壽祿亦學中人予因與之論病曰令嫂痢症本肝經血痢服木香檳榔等氣分之藥邪在血分者反深藏不現故痢止而不能寐矣人寐則魂藏於肝肝有伏邪是魂之舍為邪所居魂無窟宅之所陰陽不能相抱以致夜不成寐與心脾血虛神魂飄蕩之不寐症迥不相侔此時若為清理血分使邪外散數劑便愈乃醫者反用辛涼補澀之劑而血為上凝痰為之滯肝膽之氣壅塞不通肝主筋筋攣則抽搐大作肝心兩臟木火相連肝邪上逆則心竅閉而氣絕僵臥膽府清淨則氣壯心安膽為邪據則氣飢心怯而驚恐特甚木來剋土而痰又滯脾故腹脅脹大飲食不思得雞肚之湯而反不適肝脾壅滯升降失職腎水不能上潮致心陽獨亢於上故面赤煩熱心如火燒方書云舌光如鏡胃陰將亡但亡陰之舌色必嫩紅而滑此色之深紫血之瘀也其亮如鏡痰之光也非熱非虛故肌膚未消脈亦不數且尺部滑大有力顯是有形之痰血伏積於下焦肝膽之部今二便尚通脈未大壞胃氣尚存猶可為也王壽翁以予言為是因立方用柴胡滑石各五錢桃仁四錢大貝母醋炒五靈脂半夏鹽水煮薑黃各三錢枳殼桑白皮陳皮丹皮茜根山梔仁各二錢生甘草一錢為煎劑另制當歸龍薈丸八錢分兩次服煎劑日服一帖兩日乃大便暢行每日兩次所下痰積瘀滯甚多經水亦通夜能安寢更許抽搐止驚恐愈人漸向安煎方服十帖脈亦大起尺部漸平此冬月下旬事也病家因喪不延緩至今正復診人已虛甚脈尚未淨為用甘溫補益之藥為君以利氣清邪為佐服數帖後周身發瘡飲食漸加精神漸旺令仍以前方調理似可無慮矣吾適有江西之行未能終事心常念念也</p>
<p>吉安廬陵令江紹棠號云卿桐城人也接篆後政績勞心抱病未能調攝且醫治多誤歷三月末愈始而咳嗽痰多畏風胸悶飲食減少兩目乾澀繼則精神疲憊肢體軟弱左手足痠痛麻痹胯骨亦痛小便不禁下體皆冷自疑手足痹痛為血虛小便自流下體冷為腎虛前服溫補之劑已兩月餘病反加劇不知何故今徵治於余其意亦在補虛也診得兩寸脈滑如豆轉關濡尺沉滑而小重按搏指面色黃白苔黃滑滿布口亦不渴余曰以脈症言非虛也血虛症當申酉潮熱脈浮數或細數或芤澀腎虛症當面黑尺脈虛微或洪大而空今皆不然咳嗽胸悶寸脈滑轉如豆均痰結上焦之故食少神疲四肢軟弱均中氣不運之故脾胃者營衛之原左右者陰陽之路脾胃健旺則營衛通利陰陽出入之道自無阻滯今脾胃為痰濕所壅螢衛不通道路皆阻此左體痹痛之由也貴體陽本不旺今上中二焦壅塞氣不下行即陽不下達此下體皆冷小便不禁之本也先為清肅上焦化痰利氣以薏仁蔻仁枳殼貝母桑白皮紫蘇葉蘇子前胡薑黃連川厚朴加薑汁仲服二劑咳止胸寬復診云翁仍以下虛為慮意在用補余曰貴恙本有餘之候壅遏不通若溫補鬱而化熱陽愈不能下達遺溲畏冷更甚且痰得熱而妄行其禍有不可勝言者惟健連中焦化痰通絡為最合法以薑黃連川厚朴枳殼生意仁茯苓白朮陳皮法半夏秦艽烏藥葉歲靈仙牛膝白殭蠶與服數劑諸症皆愈竟脫然矣</p>
<p>江云卿之三令弟患目年餘乾澀無光繼又喘嗽氣急不能伏枕陳醫為治一月病已危篤迎余往診見其憑几而臥被大聲呼醒醒則神色倉皇其魂似已離體形容枯槁有如木偶耳輪焦黑唇齒乾燥目有綠膜舌青紫雅苔是形存而神亡矣脈則寸關俱絕尺部重按至骨微小而疾指稍起則不應指此敗脈也視陳君方尚用桂附等且云望病之轉全在此劑嗚乎病勢至此尚以桂附作僥倖之想乎此公早年不慎毒氣深藏血耗津傷不自知覺現年高體弱肝血傷而目盲醫者不知治本而用目疾冽方引毒氣上攻肺氣傷而喘逆不能伏枕然瘡毒無不發於頭面肌膚而破爛者此獨內傷而不外現者因血已暗蝕無水行舟不能送毒外出故反內攻乎臟而臟何堪乎此時若為養血毒自外散目自愈喘自定矣乃見喘治喘肺氣重傷而脾胃之陰不足供其挹取陰火日熾五內如焚血耗津亡而遺此枯槁骨立之形體尚能任桂附之辛熱乎余不肯措劑其至戚馬君乞開方以慰女流因開數味囑其勿服逾兩日而竟逝矣</p>
<p>吉安康文卿開隆昌木號其夫人二十餘歲五日節因多食糕粽椒姜而患溫症又服醫家香竄大熱之藥遂身熱無汗腹痛脅脹胸悶吐血人事昏沉語多譫妄手足搐搦大便不通小便赤澀日輕夜重躁擾不寐王升甫為迓余治診得左脈弦數右脈滑數其神如癡問曰經水何如曰初病經水便來現尚未止共來六日矣余曰此溫病熱入血室而兼食積也為用柴胡一錢半黃連一錢全瓜蔞一兩青蒿山查子麥芽赤芍丹皮生地各三錢枳實元明粉各二錢令與煎服或言太寒瓜蔞黃連各減一半服後熱減復診時升翁私以告余余曰熱邪重極血分大傷血燥津枯大便如何下達今用瓜蔞八錢余仍舊一劑果大便暢行熱退神清惟腹脹溺赤右脈仍滑數此食積未行也為去柴胡半夏加酒麴五分又兩劑諸症皆愈安寢如常又為易方調理</p>
<p>長沙嚴桐君神崗山釐卡司事也初病寒熱服藥兩帖而止數日復發加腹痛囊墜又服丁香吳萸茴香朮附等兩劑便身大熱汗大泄胸中板塞囊墜筋牽其痛尤甚小腹亦脹悶而痛入夜手足躁擾喘急面赤語言譫亂壯熱不寐診得脈左三部弦數有力右三部滑數有力尺部尤盛面色晦滯舌苔厚膩余曰此本痰濕之體而內有伏熱又服燥烈之味致熱勢暴熾鼓動痰火上犯擾亂神明故躁妄脹悶辛溫之味逕入下焦致熱無可泄逼入肝經之筋與絡故囊墜筋牽痛甚凡濕溫之症俱屬陰邪化熱故入夜反劇為用薑黃連川厚朴各一錢半枳實杏仁薏仁貝母黃芩各三錢知母澤瀉茯苓各二錢益元散五錢白蔻仁八分加白蘿蔔汁一酒杯為引兩劑熱退神清囊消筋舒二便通暢又易方調理而痊</p>
<p>汪濟舟本徽籍遷居揚州多年吉安分銷鹽局司事也抱病三四月未愈就治於余曰近半月中口不能食亦不知飢精神疲憊胸悶腹脹痛大便久閉煩熱多汗臥不安寐口渴身倦諸多不爽難以言喻自覺非下不可診其脈左弦數右滑數尺脈圓大如筋到指有力三五至一止止片刻復來類促脈而非促脈舌苔黃燥而厚穢余曰此因思慮傷脾氣滯而鬱痰火甚重樞連無權氣機皆塞雖用硝黃下之不能通也若勉強通之臟真反損其禍滋深吾為清熱利氣大便不求通而自通方以枳殼貝母桑白皮黃連黃芩知母滑石青皮丹皮檳榔磨汁沖服二劑而便通熱退脹痛皆消脈亦和柔惟弦肺未退為去檳榔枳殼桑白皮加青蒿白芍生甘草生地丹參調理而愈（又曰前服陳姓方內有大黃八錢便未能通何故余曰吾前已言之幸大便未行耳）</p>
<p>彭璞山令郎年二十患腹痛每日申刻發熱腹乃大痛上及胸脅煩躁不安夜不成寐至天明則熱退痛上無汗微渴余見其色黑而瘦兩脈弦數無力飲食不進不能起床者已念多日前所服藥均朮附香砂之類因語之曰此木火久郁木來剋土則腹痛而及胸脅者皆肝脾部位也至申酉便發者大氣已困至金氣得令之時木氣又為金傷而不甘於受制則熱發痛作因木以愈困而愈橫也少陽厥陰經症無不皆然為用小柴胡湯加酒白芍五錢二劑熱退痛減四劑全愈吉安人專喜溫補有病無病皆常服藥藥鋪最多生意極旺附子消路尤廣其色潔白煮出無色無味余服五錢並不覺熱因漂制太過汁已出盡故也恐重症難以見功誤用仍能賈禍吾若欲用斷不取是耳吉安醫家凡見感症無不以麻桂為主雜症無不以桂附為主余如香燥溫補之劑亦常間用病家亦非溫藥不服余居吉安三月凡遇溫熱病為用辛涼陰虛症為用滋潤病家問藥店中知是涼藥便不敢服至死不知悔悟其愚實屬可憫有老學究劉姓者年五十餘娶補房年二十餘凡近內時稍一動念精便先泄不能自主日對佳冶不能忘情而又不能盡情自疑腎虛服八味等湯數百劑未能稍效吾為診之因詰之曰先生有大拂意事心思不遂積久而成此病也然乎否乎曰然余曰肝脈弦心脈數此肝因鬱而生熱引動心火心火一動則轉借肝熱下迫逼精下出與腎虛迥異宜服溫補不效也為用疏肝氣清心火之劑並無苦寒之藥已畏其涼而不敢服矣噫吾亦無如之河矣</p>
<p>耿璧翁夫人年四旬自頗知醫春初患病歷夏徂冬疊經名手醫治即孟河費馬諸名家亦皆親往就診服藥百餘劑病日加重冬月下旬已回家待斃矣後聞吾名而來就治曰始只食少體倦腹脹溺澀白帶時下現白帶如注小便極難努掙許久只有點滴渾濁如膏小腹墜痛幾欲自盡腹不知飢口不能食每日早晨神氣稍清至午則疲憊不能動作醫藥備當百無一應吾已自知不起而罪實難受不如早去為妙請診視而示我死期耳吾見其肌消氣弱目鈍無神診其脈六部俱微惟兩尺略滑余曰病久神傷因誤治而致此幸脈症相符非死候也彼曰吾不畏死先生毋誑我余曰我非行道者流不求名不求利慾賺爾何為貴恙本脾虛濕重故溺滴腹脹醫見小便不利為用五苓利濕詎知脾陽不健濕氣壅遏愈服淡滲之劑脾陽愈傷壅遏愈甚濁氣下流清氣亦因之下陷醫雖屢更藥仍一轍故愈治而病愈重也又或因飲食日減肢體倦怠認為脾虛用參朮等味詎知脾濕已重參朮不能補脾反來助濕是脾愈困而濕愈生腹脹便秘惡食愈甚也今清氣下陷濁氣下壅痰濕下流故白物淫淫而下小便艱澀墜痛中虛而有阻滯則心腎不交故不寐肢冷先為升清化濁後為交通心腎須至木氣得令春溫升發之時方得全愈用川厚朴枳殼陳皮半夏牡蠣苦參破故紙升麻柴胡柏樹東行根皮煆白螺螄殼煎服連進六劑果墜痛減小便通為易方常服又開丸方補心腎令日日間服至三月果愈張春山患血淋偏墜已返二旬服藥十餘劑未效吾燮和叔之親戚也為懇予診至則藥煎出未服予令姑緩診後再酌診得兩脈弦數有力約七八至小解痛如刀割所下皆血現血止而點滴不出小腹有筋扛起痛甚直入莖中左囊下墜因痛甚而目不交睫者十餘日往來寒熱口渴煩躁面色通紅前醫所用均柴葛及香竄之味余曰前方誤矣不可再服此少陽溫症而兼血瘀溺管也肝之脈絡陰器肝熱重極致筋暴露囊下墜溺管為瘀所阻而又為肝熱所迫故小便刻刻欲解而痛澀不能解出為清解少陽而化瘀通絡則自愈矣以青蒿山梔仁丹皮赤芍丹參側柏葉茅草根為煎劑以滑石甘草稍琥珀海金沙鮮牛膝搗汁為丸與劑同服連進三劑小便通痛止筋舒寒熱亦解惟囊墜如舊乃去丸劑於前方中如荔枝核橘核山查子又服三劑而愈</p>
<p>諫壁鎮地保江榮患咳嗽痰多痰有臭味醫家或言肺癰或不言肺癰而又不能認症漫治一月豚敗神傷已不可為矣其妻懇治於余因往視之見前所服藥均滋陰補肺之劑脈案中認為肺癰者十之九不言肺癰者十之一然用藥則一也余曰癰者壅也痰血壅滯為熱所蒸乃生癰焉況肺癰則痰血熱三邪重極始得化腐成膿而生癰為有餘極熱之症皮外生癰尚痛肺癰則胸中刺痛尤甚今胸中不痛非癰也癰由熱成口必渴苔必黃溺必赤面必紅痰必稠厚脈必滑數而實今病者口不渴不喜飲茶舌苔薄白而潮滑小便清長面色黃白痰清稀而膠黏微帶青色脈則右微滑不能應指左弦緊俱屬陰象以脈症言斷非肺癰而痰臭者何故蓋致病之原則因惱怒傷肝思慮傷脾脾傷則生濕肝傷則生熱濕與然合則妄行且脾主諸臭脾濕入肺則腥臭入心則焦臭入肝則腐臭自入本臟則為穢臭此痰臭之由與肺癰痰臭者勢正相反現頭面四肢皆腫濕外泄於皮膚也咳嗽喘急濕上阻其氣道也脾氣既敗脈症俱逆是為壞症未可挽回服吾藥兩帖病勢大減舉家欣喜余曰病轉而脈不起非佳兆也凡弱症過時失治真陽脫矣真氣絕矣烏能收效後果然未越十日而斃矣</p>
<p>吾鄉今春行小兒疫症初組長寒發熱寒熱止便煩躁不管人事後乃面黃如杏身軟如綿手撒口開眼合肢厥僵臥不動若不治或治不得法其氣便奄奄而絕自起病至死不出一日吾鄉死於此症者不可勝紀吾醫治三兒均獲漸愈一仇氏子十歲已面黃昏憒見其齒乾唇燥舌苔黃垢兩脈俱無吾思此必伏邪內發有穢濁實邪上犯心胸堵塞清竅始有此險惡之候凡人胸中為宗氣最為緊耍故喻嘉言有宗氣論語語精當胸中窒塞宗氣不行神明無主百骸俱廢或體軟神昏絕無知覺或搐搦發狂不省人事若邪氣久閉不能自開或用藥不當無法宣通由閉而絕本不出數時疫症病死之速職此故也此病通降為第一著因用紫金錠磨出對薑汁灌服約一時許脈漸出眼漸開面色漸轉為制清熱化濁之劑加酒麴煎出與服是夜大便行一次人事大清頗為安妥是晚伊有親戚來至木行道者三更時又與辛溫表劑明早又與以香燥時丸乃引伏熱入陽明經中身大熱心煩氣急面赤多言口渴喜飲六脈浮洪而數小便五六時不解頗有登高而歌棄衣而走之勢賴吾舊友倪新甫至為之推拿四五次果溺通熱退而愈（吾幼女病痰喘及吾鄉患重症暴症經新翁推拿無不立愈較藥尤速神效可愛）一系侄女挹清弟之二女也症亦同上以紫金錠和薑汁灌下半夜始蘇行小便一次手足躁擾狂叫不安第二日為用清熱化滯藥加酒面與服此日忽厥逆忽煩擾各一次至晚行大便一次人始向安第三日復小便不通昏臥不醒面色青慘脈微弱欲脫余曰虛象也急煎補中益氣丸二兩加滑石二錢與服約兩時許溺通人事漸清但言背脊骨痛余曰陽明經邪未去也用補中益氣丸一兩加葛根一錢半升麻八分服下痛止惟唇舌焦乾苔黃而燥余曰陽明虛熱在上也用補中益氣丸一兩加麥冬三錢沙參二錢五味於五粒與服便舌潤苔退人事大安諸症愈矣又治許家村一孤子七歲病情治法均與侄女相同得獲安好無恙吾因此症訪問數家皆因病前恣食湯同入腹未化復為邪氣所沖填入胸中致有此候故方中用酒藥丸以化糯米之積無不應驗也</p>

<h1>跋</h1>
<p>近人譯德國博士那特硜政治學第一在理論與事實之調和其目曰夫事實者生理論之原因也而理論亦起原於事實之原力反於理論之事實乃偶然之事實不根於事實之理論乃妄想之理論清國丹徒縣茅謙讀之推案曰今而知吾國之所以為國矣我自今以上溯祖龍之馭宇有一事實之克與理論翕集者乎我自帖括制藝以上溯賢良文學對策有一理論克與事實密切者乎我則丞輔也令尉也理論家所謂官士也非事實家所謂官士也負販也手製也事實家所謂工商也非理論家所謂工商也此則以無形者覆我種族吾憮怪其不察也吾獨怪犬明明在几案之上一覆手間而日日覆其種日日覆其族甘且如飴若惟恐其不執酖而飲之也則是何故我第離事實與哩論二之而已盍讀姚晏如之書乎吉安人好服熱藥死不悔知是涼藥便不敢服亦至死不悔彼但知吉安居萬山中為大川發源處水土必寒藥宜服熱所謂理論是也會不知千百人中必有一二或數十病熱者此則朋謂事實也時局之與政治昔所行於千百年者今或不宜於一二日之淹而必將急起徙之否或如水火之潦熱不旋踵而種盡矣救之奈何亟深思夫理論與事實之合和俾得須臾毋死則自姚晏如之書始而晏如之書尤實足急救一時一世之瀕於死者也晏如家世術業已見前王中丞序某與晏如交最久今年吾邑大疫喉與痧間作不二三日而死者壘壘晏如每與餘論治法出而投藥輒活經晏如者以百數無一死者某嘆晏如者乃真政治家能調和事實與理論而一者也願以告天下明眼人之讀晏如書者壬寅四月晦前二日同邑茅謙跋</p>
