<header data-type="book">
<h1>咽喉脈證通論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>許槤</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1825">公元1825年</data></dd></div>
</dl>
</header>

<h1>姚序</h1>
<p>咽喉，昔人方之輿地，固險要之區也。扼之抗之，並制人之命，第其事有相背戾者，於地爭得之以制勝，至夫疾證，則隘於此者危矣，然亦未嘗不合，人居險地，以策勝之，疾得隘地，以藥瘳之。客主之形不同，攻擊者之情一也。夫治兵無常勢，而用奇者勝，姜維守劍閣，鍾會攻之未能克，鄧艾由邪徑趣涪，吳人於江險磧鐵鎖橫截，王浚火燒液之，並筏去鐵錐。咽喉之用甘桔湯，蜀人之劍閣，吳人之鎖錐也。此《脈證通論》一書，相傳出宋時杭千佛寺僧囊中，共十八篇，皆精要無類，吾友許子槤嘗刊之，生人不可計。世固不知其用藥禁忌一篇，昔人皆昧之，所謂吳人蜀人之蔽者也，亦猶七國之韓欲援之，而欲以折之，固必有道在矣。因續授之梓而記之。</p>
<p><u>道光二十有一年歲在辛丑閏三月吳興姚晏芳林北堂書</u></p>

<h1>姚序</h1>
<p>醫家十三科，咽喉居其一。誠以氣之出入，生死之關，事醫者不可不審求也。《內經》曰：喉主天氣，咽主地氣。咳論篇曰：心咳之狀，咳則心痛，喉中介介如梗狀，甚則咽腫喉痹。厥論篇曰：手陽明少陽厥逆發喉痹嗌腫痓。脈解篇曰：厥陰所謂甚則嗌乾熱中者，陰陽相薄而熱，故嗌乾。骨空論篇曰：督脈生病治督脈，治在骨上，甚者在齊下，營其上氣。有音者，治其喉中央，在缺盆中者，其病上衝喉者，治其漸，漸者，上挾頤也。謬刺論篇曰：邪客於手少陽之絡，令人喉痹。邪客於足少陰之絡，令人嗌痛，不可納食。又曰：嗌中腫，不能納，唾時不能出唾。考《內經》所言喉證者，凡謂臟腑之氣，痹著於其地而已，無所謂十八證三十六證也。惟《靈樞·癰疽篇》，岐伯曰：癰發於嗌中，名曰猛疽，猛疽不治，化為膿，膿不瀉，塞喉半日死，則類喉科之乳蛾，而屬之癰疽。仲景去先聖未遠，其《金匱》、《玉函》所載雜病，並無喉證，正與《內經》相合。李東垣、劉河間，為金元巨手，所著諸書，亦不載是證，獨朱丹溪有喉痹一門，第以臟腑為主，分經施治，則亦《內經》之支也。海寧許珊林槤得喉科書一冊於其鄉之世業是醫者，題為宋異僧所遺，以其篇第考之，即所謂十八證也。先總論病態而系以藥，後詳方證，複列用藥禁忌，且以甘桔湯為喉證所忌，一掃俗醫誤執成方之謬，是能獨具手眼者，以其喉證為火毒上升，用藥降氣瀉火為主，即《靈樞》猛疽之意也，其以病起何經，用何藥主治，即《內經》丹溪之法也。夫善讀軒岐書者，固可隔垣洞見，何待檢閱之煩，然則此書之作，蓋為俗醫設也，且為無醫設也，俗醫與無醫，則此書之功偉矣。珊林因舊刻之訛，重勘而精梓之，家兄聖常惜其傳之不廣也，郵寄本重鋟，因括其大凡於上。</p>
<p><u>道光辛丑閏月之望吳興姚衡書於廣州撫使者署之雨春館</u></p>

<h1>許序</h1>
<p>或曰：宋有異僧者，寓杭之千佛寺，遺一囊去。寺僧啟之，得是書，秘不欲傳，今尚有能世其術者。余曰：唯唯否否，夫方技之書，類多托於畸人異士隱僻怪誕者流，神其說以炫人耳目。是書苟宋人作也，不應有棉花瘡云云，此疾元時始入中國，何先數百年已能言之鑿鑿如此耶?第綜其方論，凡夫喉證之虛實緩急，辨析造微，多所依據，則知非近人所能，苟非宋，亦不出元明間一巨手耳。余先後獲四五寫本，率為庸妄人竄改塗乙，故各各不同，及見禾中刊本，益紕繆滋甚，因即數本中排比參校，窮數月之力，如理亂絲，不啻數棼之而數析之也。今年夏手錄定本，友人楊子星泉見而韙之，星泉今俞附也，殆不至阿私所好，以貽誤後人者，還授之梓，以永厥傳，簡首仍署曰宋僧原本，亦疑以傳疑意爾，夫豈敢神其說以炫人耳目哉，是為序。</p>
<p><u>道光五年乙酉六月海昌許槤撰</u></p>

<h1>總論</h1>
<p>夫喉者，吾生氣機出入之門戶，瞬息存亡之際，性命系焉。偶一受病，危在須臾，迫不及待，所貴醫者能識受病之原，與夫虛實痰火風寒熱毒之異，更於望聞問中參究脈理，尤為先務之急。自來業喉科者，全不講脈，所以治之鮮效。今試論之，假如其脈洪大而實，其人氣粗而躁，此有餘之證。用藥則以散風下氣清火消痰，散之者，荊芥、防風、羌活、獨活、紫蘇是也；下之者，枳殼、枳實、青皮、厚朴、山楂、前胡是也；清之者，山梔、黃芩、黃柏。甚則犀角、黃連。消痰則以膽星、蔞仁、杏仁為主。若脈洪大而浮軟無力，或弦緩而澀，其人氣委而靜，此不足之證，用藥則以涼血生血滋潤消痰。涼之者，丹皮、白芍是也；生之者，生地、當歸是也；潤之者，苡仁、知母、花粉是也。消痰則以貝母、蔞仁、杏仁，兼用山梔、黃芩、黃柏、犀角、黃連。或有純是陰脈者，或有純是陽脈者，當以病治病，脈不與焉，即以荊芥、防風、牛蒡、射干、黃芩、枳殼、銀花、獨活、生地、丹皮、花粉為治，再以保命丹或紅內消同服，日用吹藥，夜用噙藥，無不見效。更有一種熱病而服熱藥，火毒熾甚，而發於喉間，大寒大熱，疼痛不止，或舌脹而木，伸縮不能，飲食難進，其脈洪實有力，大便不行，宜急下之。若脈洪弦而浮無力，宜涼血行血為主，若過用疏風散火之劑，恐變別證，最稱難治。又有一種出外急走遠路脫力，而傷肺氣，喘息難舒，以致喉痛舌脹，地閣下腫，突如鎖喉之狀，內視之非重舌，外視之非痰毒，寒熱大作，痰涎洶湧，六脈洪大中空，面色發黃而浮，初以防風通聖散探之，或效一二，即以涼血生血順氣之藥治之。又有似喉證非喉證者，其喉亦痛，牙關緊閉，胸脅疼痛，或腹脹痛，四肢攣厥作痛，此因受有重傷，或用力太過，致瘀血凝滯，當以行血破瘀為要，初起可救，過五六日不治。又如弱證喉癬，雖是肺經之病，亦有兼他經而起者，何以知之?假如喉間紅瘰作痛，是肺經火盛之故。若頸項之筋，有時或左或右，作脹而硬，氣悶不快，此怒氣傷肝，左關脈必洪大而弦，當清肝火以舒筋，涼血為主。用藥則以當歸、牛膝，佐以柴胡、黃芩、羚羊。若兼右關微弱而緩，乃脾胃有虧，須兼用白芍、茯苓，此肝脾與肺共病也。喉間紅瘰作痛，其舌紫色，或生刺作痛，或作木乾枯，是心經受虧，無血榮養，以致虛火熾盛，且兼思慮過度，鬱氣所成，左寸脈必浮洪。當以犀角（涼血）、黃連（清火）為主，佐以當歸（生血）、白芍（涼血），此心與肺共病也。喉間紅瘰作痛，滿唇焦裂，目熱如燒，或作乾嘔，是胃經虛火熾盛，右關脈必洪弦，且緊。當以山梔（清火）、黃芩為主，佐以當歸（生血）、白芍（涼血）、山藥，此胃與肺共病也。喉間紅瘰作痛，夜間舌乾口苦，湯水不進，或有咳而無痰，更兼滑精者，是腎水枯竭，虛火上炎，兩尺脈必洪數無力。當以山藥、知母、黃柏（清火），為主，佐以花粉（潤）、澤瀉、白芍、茯苓，此腎與肺共病也。若夫肺經獨病，或吐血而成，或嗜酒而發，或脾虛而生，氣血消散，嗽重聲啞，喘急痰多，聲如曳鋸，睡臥不得，六脈洪大而浮，肺部更甚。當以苡仁、山藥、貝母、黃芩、蔞仁、牛蒡為主，佐以當歸、白芍、熟地、茯苓、丹皮、犀角、黃柏、知母。服之喉痛雖止，然不過待日而已。更有六脈沉隱，神脫氣敗，飲食不進，步履不前，盜汗自汗如雨，脾氣溏泄，死無疑矣。若年老人喉間紅瘰作痛，或舌上生刺，或破腫，或木脹，言語不清，六脈微洪，五至有餘，飲食動靜形色神氣如常。此血少火盛，當以黃芩、丹皮、茯苓、熟地、當歸、白芍為主，佐以元參、牛蒡、枳殼、銀花、花粉、山藥、苡仁。甚則加犀角、黃連，不同前論。若小兒痘後，或瘧後患乎此，當以犀角、黃連敗其熱毒，更以涼血補血健脾之藥為佐，朮、草、參、耆斷不可用，此外用藥與大人相同。若女人胎前患此者，先以安胎為主，次以涼血為佐，紅內消、保命丹忌用，余藥無妨。產後一月未滿者，當以熟地、當歸補血，枳殼、青皮下氣，元參、射干、牛蒡、元胡索、銀花消腫，少加黃芩、花粉以清熱，紅內消、保命丹可用，但不宜多，吹藥噙藥忌之。如經期適來，當以破血下氣之藥為主，涼血者少用，紅內消、保命丹噙藥服之，亦無忌。茲論其大略如此，余詳各條。</p>

<h1>通治用藥</h1>
<p>夫喉證向有三十六法，今余列十八證，名目雖簡，而治法已備，要之十八證中，又可以風與痰與火概之。凡遇此證，不論緩急，只以下氣消痰為主，次則清火涼血，若不分先後，混亂用藥，貽害匪淺。今開用藥大概於下，惟高明者臨時參用可耳。藥用防風、前胡、丹皮、獨活各一錢，杏仁、蔞仁、山楂各三錢，車前、木通各八分，兩劑後加山梔、膽星各一錢，生地二錢，如火未息，加黃芩一錢，以保命丹、紅內消同服。誤用黃連、半夏、生薑、桔梗之類，難以收功。照前方加羌活、獨活，服幾劑自愈。牙關難開，須加真北細辛一分。</p>
<p>單蛾雙蛾至八九日後，方可用針刺出毒血，未滿十日，萬不可刺。</p>
<p>或有疔瘡根腳，紅內消不可用，用之反凶。煎藥中加地丁草七八錢自愈，保命丹可服。</p>
<p>頸間痰毒須加象貝母、草河車、猴姜。若日久難愈，以蛤蟆一個，研好硃砂五分，灌於中，泥裹煨，研末服之自消。</p>

<h1>用藥禁忌</h1>
<p>古有甘桔湯乃清喉之要劑，今人見有患喉證者，即用之而無疑，嗟乎!此猶抱薪救火，非能愈疾，而更增其疾矣!何以言之?夫喉證乃火毒上升所致，須以降氣瀉火為要，甘草補中而不瀉火，既受其補，則火愈熾，病愈重矣。桔梗引諸藥上行，藥既上行，則痰與火亦引之而上行，勢必喉間壅塞，於病更加重矣。故小兒驚痰，大人痰火，桔梗是最忌者。《本草》云：升麻引胃中清氣上升，又可代犀角，似乎可用，不知一用，其痰火與氣一齊上湧於咽喉之間，四肢逆冷，喘急異常，為害匪淺。若在他證，猶或可用，如鎖喉服之，則不治矣。半夏雖消痰，若喉證痰重者，誤用之，禍不旋踵，蓋此乃治脾家濕滯之痰，至於喉證有痰，總不外肺中熱火，何可以半夏之燥烈治之乎?老薑辛辣發散，雖喉證亦以發散為主，然過用辛辣之味，則以火益火，大非所宜。此五者與喉證關係甚重，故特表而出之，至別藥之中，亦多禁忌，惟業醫者審擇用之，茲不多贅。</p>

<h1>丸散方藥</h1>

<h2>牛黃解毒丸</h2>
<p>（即噙藥）</p>
<p>治一切喉風痹閉，咳嗽喘急，痰涎壅塞，胸膈迷悶，並口舌等證，無不見效。</p>
<p>牛黃（五分）　青黛（一兩，飛淨）　冰片（五分）　雄黃（五錢）　兒茶（三錢）　官硼（五錢）薄荷（三兩，另研）　膽星（四兩）</p>
<p>研細末，生蜜和丸如芡實大，每噙一丸，待其自化嚥下，一日夜須噙四丸，小兒減半。</p>

<h2>紅內消散</h2>
<p>治咽喉一切諸證，並無名腫毒已潰未潰，均可服用，厥效如神。</p>
<p>大蜈蚣（去頭足，切斷，同米炒，以米黑為度）　乳香（去油盡）　沒藥（去油盡）　血竭（另研）　雄黃　象貝母　穿山甲（炒）　辰砂（水飛淨）　麝香（揀去毛皮，乾研）</p>
<p>上藥等分，惟麝香少許研細末，每服七分，小兒減半，和煎藥同服，酒下亦可。</p>

<h2>保命丹錠子</h2>
<p>治咽喉口齒新久腫痛，並解諸毒，磨服神效。</p>
<p>麝香（揀去毛皮，乾研，三錢）　辰砂（明透者水飛淨，三錢）　冰片（梅花大塊，一錢）　珍珠（研細末，一錢）　琥珀（一錢）　山豆根（一兩，熬汁另用）　文蛤（洗淨煅，一兩）　山茨菇（洗去毛皮，淨焙，二兩）　雄黃（鮮明大塊研淨，三錢）　千金子（白者去油，一兩）　紅毛大戟（浙江紫大戟為上，北方綿大戟不堪用，去蘆根洗淨，焙乾為末，一兩五錢）</p>
<p>上藥研末，以糯米粥和山豆根汁打糊為錠，每重一錢，病輕者一錠，重者連服二錠。</p>

<h2>膽冰消毒散</h2>
<p>（初起吹藥）</p>
<p>血竭（一錢）　膽礬（一錢）　雄黃（一錢）　乳香（去油，三錢）　冰片（一錢）　白占（二錢）燈心灰（不拘）</p>

<h2>冰硼散</h2>
<p>（收功吹藥）</p>
<p>冰片（一錢）　硼砂（一錢）　山豆根（二錢五分）</p>

<h2>玉屑散</h2>
<p>（一名五馬破曹）</p>
<p>治咽喉口舌頸項破爛諸痛皆效。</p>
<p>薄荷（三兩，另研）　官硼（三錢五分）　雄黃（三錢）　兒茶（一錢）　冰片（三分）</p>
<p>上藥研細末，貯瓷瓶內，臨用挑少許置舌上，咀含片刻嚥下，日用八九次。如鎖喉風，口內乾枯，牙關緊閉不能咀含者，以無根水灌下，自能開關生津。惟脾虛胃弱者，不宜多用。</p>

<h1>鎖喉第一</h1>
<p>此證因風熱積於胸膈，或酒色及鬱怒所致。其狀喉上下左右紅紫腫痛，或帝丁焦黑腐爛，頸項浮腫，痰涎壅塞，聲響如潮，氣急發喘，眼目直視，額上有汗如珠，身汗如雨，或泄瀉清水，四肢厥冷，或腰脅疼痛，肚腹脹痛，法在不治。若脈六七至，不論大小至數分明，雖甚危險，十中可救一二。或脈洪大，或沉細，惟三部混亂，即形色神氣如常，終為難治。初起用吹藥噙藥，痰多以萬年青根搗汁和醋，攪去痰涎，或土牛膝汁，或青魚膽汁俱可。</p>

<h2>加減荊防敗毒散</h2>
<p>（脈洪大七八至用之）</p>
<p>荊芥、防風、牛蒡、連翹、膽星、獨活、前胡、枳殼、蘇子、蔞仁、杏仁、生地、黃芩、黃柏、山梔、元參，加原枝燈心二十莖，長流水煎，和保命丹同服。大便不行，去荊芥、防風，加枳實、青皮、大黃。</p>

<h2>加減柴胡雙解散</h2>
<p>（脈沉隱或二三至用之）</p>
<p>柴胡、前胡、羌活、獨活、枳殼、枳實、川芎、青皮、蔞仁、杏仁、膽星、蘇子，長流水煎，和保命丹同服。冬月加麻黃。</p>
<p>脈七八至而浮洪，頭面皮肉浮腫，色微紅，涕淚交流，語言蹇澀。或以防風、蘇子、銀花、牛蒡、杏仁、蔞仁、枳殼、枳實、膽星、青皮、黃柏、黃芩、山梔、元參，和保命丹同服，亦有獲效者。</p>
<p>服荊防敗毒散後，肺管脹塞，兼咳嗽者，即加生地、當歸、白芍。</p>
<p>服敗毒散一劑，喉痛頓減，惟胸膈脹痛，牽引脊背，再服之即除。</p>
<p>服三黃湯，亦有全愈者。</p>
<p>蜒蚰同白梅搗爛和丸噙之，每見有效。</p>
<p>誤用大黃、巴豆，瀉利不止，喉證雖愈，而胸膈脹悶，飲食不進，醫復誤作他證治者死。</p>

<h1>重舌第二</h1>
<p>此證因平日喜食炙爆熱毒之物，積熱攻於心脾二經所致。其狀舌下腫，突生一小舌，久之大舌反縮短，或脹而紫，言語不清，飲食不下，微作寒熱，口中清涎極多，即用銅匙將舌捺定，用三稜針刺大舌兩旁，及舌下金津、玉液兩穴各一針可五分許，再刺小舌兩旁，或出紫血，或待清涎流盡，方進吹藥噙藥，次服煎劑自安。</p>
<p>藥用荊芥、防風、連翹、獨活、前胡、射干、膽星、枳殼、元參、生地、黃芩、黃柏、銀花、花粉，長流水煎。如刺破清涎出盡，亦有弗藥而愈者。</p>

<h1>氣癰第三</h1>
<p>此證因惱怒傷肝，肝血不和，以致肺氣壅塞，火熾上升，發於喉間，其狀帝丁之上紅腫作痛，或有連及兩邊者，寒熱大作。初起不宜刺破，待六七日後方可針刺。或有誤服升提之藥，竟不能愈者，或有服保命丹、紅內消，其毒自出者。如痰多則以醋攪之，強進飲食為妙，否則恐變輕為重。</p>
<p>藥用荊芥、防風、射干、牛蒡、連翹、烏藥、膽星、前胡、枳殼、生地、元參、黃芩、銀花，長流水煎。痰多加蔞仁；氣重加枳實、青皮；大便不行，加黃連，甚則加大黃。</p>

<h1>乳蛾第四</h1>
<p>此證因嗜酒肉熱物過多，熱毒積於血分，兼之房事太過，腎水虧竭，致有此發。其狀或左或右，或紅或白，形如乳頭，故名乳蛾。一邊腫曰單蛾；兩邊腫曰雙蛾；或前後皆腫，白腐作爛，曰爛頭乳蛾。初起必發寒熱，用保命丹、紅內消兼煎劑治之。</p>
<p>藥用荊芥、防風、射干、牛蒡、前胡、枳殼、膽星、連翹、生地、丹皮、元參、黃柏、黃芩、銀花，長流水煎。如火盛，加犀角、黃連；大便閉結，加大黃；寒熱不止，加羌活、獨活；體虛痰多，加蔞仁、杏仁、貝母。</p>
<p>有一種名根腳喉風，其證日行一穴，至七日行七穴，喉間發泡，時欲嘔吐，或一年一發，或半年一發，或一二月數發，根留於中，不能盡去，一時難愈。或云：先從腳跟發起，至於喉間，亦名腳跟喉風。發時在左，則左足痠軟陰痛，有似筋觸，牽入喉間，在右亦如之，治法同乳蛾，證亦相似。</p>
<p>今人每見發有紫泡，以為毒物，即用刀針開之。豈知病之初起，毒氣熾盛，發之於泡，若刺之出血，非但不能愈疾，加之破傷，則病益重矣。</p>
<p>或問曰：亦有用刀針而得愈者，何故?答曰：彼病勢淺，火毒不重，刺出血少則愈者，其偶然耳。倘病勢已深，火毒極盛，設以刀針刺之，其誤事也，可勝言哉!</p>
<p>或以寒熱大作，誤認感寒，即用生薑，半夏，喉痛益甚，蓋薑、夏，喉證所大忌也。（詳前用藥禁忌。）</p>

<h1>弄舌第五</h1>
<p>此證因風痰久積於內，或勞役過度而生。其狀舌出過唇，不能言語，患者以手時弄其舌，故名。初起用青魚膽汁攪去其痰，急宜以小布針刺少商穴，（在手大指內側之端，去爪甲角如韭菜許，白肉際，乃肺經穴也。）出血者易治，出黃水者難治。腫不消者，亦難治。</p>
<p>藥用枳殼、枳實、牛蒡、連翹、射干、青皮、蘇子、膽星、防風、生地、犀角、黃芩、山梔、銀花，長流水煎。</p>
<p>舌捲縮而不能言，因乎風寒也，舌長寸許而不能收，因乎房勞也。舌腫滿而不能消，因乎七情也。舌根腫脹者，謂之重舌。腫而不柔利者，謂之木舌。初起急宜醫治，遲則不救。舌脹滿口，痰涎極多，亦木舌之一種，前方重加大黃、芒硝，下後自愈。</p>

<h1>纏喉第六</h1>
<p>此證因風痰濕熱，久積於內，或食炙爆厚味太多，或房勞及抑鬱所致。其狀耳下紅腫，漸趨項下，及結喉之間，一邊者輕，兩邊者重，喉內帝丁左右兩傍如蛇盤之狀，有黃白二色，黃為黃纏，白為白纏，急宜刺少商穴出血。（注見弄舌。）次用吹藥噙藥。男子延至結喉下不治。女子延至胸膛不治。喉中聲響如雷者不治。額鼻有青黑氣，頭低痰如膠者不治。藥用荊芥、防風、羌活、獨活、枳殼、連翹、膽星、蔞仁、車前、紅花、丹皮、黃芩、元參、前胡、牛蒡、銀花，長流水煎。和紅內消同服，再下保命丹，服藥至四五日，加當歸、白芍、生地、黃柏、土貝母，其效甚速。</p>

<h1>啞瘴第七</h1>
<p>此證因風痰壅滯於咽喉之間，其狀口不能言，牙關緊閉，即用蟾酥化水滴鼻內即開。仍以玉屑散吹之，再將鵝翎探入喉中，攪去風痰，即能言矣。先進牛黃解毒丸，次服荊防敗毒散，連進二三劑自愈。如面紫舌青唇黑，鼻流清涕，目赤多淚，爪甲俱青者，不治。</p>

<h1>骨槽第八</h1>
<p>此證因憂思郁慮，邪毒交乘，結聚於太陽經絡。或則惱怒傷肝，致筋骨緊急。思慮傷脾，致肌肉結腫，膏粱厚味，致膿多臭穢。其狀始於耳項皮膚間隱隱有核，漸如李大，便覺腫痛，初則堅硬不消，久則延爛難愈，甚至齒牙墮落，牙床腐穢，俱在不治。初起先用鵝翎探吐風痰，次以陳艾灸耳垂下五分七壯。再服煎藥，加減當歸、連翹、枳殼、生地、銀花、射干、膽星、赤芍、元參、牛蒡、元胡索、黃芩、丹皮，長流水煎。</p>

<h1>懸蜞第九</h1>
<p>此證因上焦熱毒蘊積，風痰壅塞而生。其狀上顎腫垂，形如蛙腹，或如雞卵，咽喉閉塞，痰涎滿舌。初治用鵝翎探吐風痰，次以吹藥噙藥，及荊芥敗毒散加減，日久服千金內托散。</p>

<h2>加減千金內托散</h2>
<p>厚朴、荊芥、防風、連翹、羌活、獨活、白芷、膽星、枳殼、元參、蘇子、杏仁、蔞仁、蔥白。</p>

<h1>爛喉癬第十</h1>
<p>此證因棉花瘡毒未盡，而結於咽喉。其狀周圍紫暈，漸至腐爛，爛上則鼻平陷，爛下則飲食難進，多致不救。初起不覺，或十日半月始知。當以清熱涼血補脾為主，佐吞百寶丹二三十服。若體弱痰多，嗽重聲啞者，不治。</p>
<p>藥用生地、花粉、黃芩、白芍、黃柏、丹皮、銀花、元參、牛蒡、射干、防風、角刺。體弱者加茯苓；嗽重加山藥、苡仁、知母、蔞仁、杏仁；熱甚加犀角、黃連。十劑後，服犀羚貝母膏。</p>
<p>膏用犀角、羚羊角、丹皮各八錢，當歸、元參各五錢，黃連、黃芩、黃柏、防風、射干、荊芥各三錢，牛蒡八錢，枳殼、連翹各六錢，土貝一兩，茯苓、苡仁、花粉各五錢，煎汁約四大碗，濾渣將汁再熬如稀糊，納煉蜜半斤，收貯瓷罐。日服四次，在卯巳未亥四時，每次半盅，以燈心湯摻和送下，忌生冷發氣之物。體弱者去黃連、花粉，加白芍、陳皮、石斛。噁心，砂仁湯送下。如合丸藥，去黃連、羚羊角、荊芥、防風，日進二次，每次二錢。</p>

<h2>百寶丹</h2>
<p>牙皂一兩，銀花三兩，硃砂五錢，研細末每服六分，以冷飯塊三兩，水三碗，煎至碗半，分作二服，服在巳午兩時，須二十餘服，方能見效。食時多服豬油、麻油，以潤肌膚臟腑，忌茶酒、牛羊、麵食、蔥蒜等物。</p>

<h1>熱風喉癬第十一</h1>
<p>此證因勞心過度，血衰火盛而致。其狀喉間紅筋紅瘰，或帝丁兩旁微有疙瘩，一起即覺非弱證喉癬可比，時作寒熱，若食熱毒之物而起，不作寒熱，於此為別。</p>

<h2>涼血地黃湯</h2>
<p>生地、黃芩、丹皮、牛蒡、元參、防風、荊芥、黃柏、花粉、赤芍。火甚加山梔，或犀角、黃連。</p>

<h1>弱證喉癬第十二</h1>
<p>此證因酒色過度，或勞碌憂鬱所成。其狀喉間紅筋紅瘰，蔓延而生，津咽疼痛，夜間發熱，口燥舌乾，六脈洪數，當以清熱補血為主。若動靜飲食如常，形色精神不脫，無嗽無痰，乃血分有熱，須涼血破血，不宜用補。如嗽重聲啞，痰多及盜汗不止者，不治。</p>
<p>藥用白芍、丹皮、黃芩、當歸、元參、生地、黃柏、銀花、花粉、大力子，初起亦加荊芥、防風、連翹、枳殼，病久去之。嗽重加知母、前胡、土貝、蔞仁、杏仁；熱甚加柴胡、黃連；心火盛加犀角、黃連；肝火盛加羚羊角；泄瀉加白朮、茯苓；腎水枯竭，加山藥、澤瀉、枸杞、五味、知母；停酸作嘔加砂仁；虛甚加苡仁、山藥、茯苓、當歸，倍以白芍。</p>

<h1>喉閉第十三</h1>
<p>此證乃寒邪直中下焦，逼其無根失守之火，發揚於上，以致咽痛，卒然喉閉，四肢厥冷，六脈沉微，但必下利清穀，口燥咽乾，而不思湯飲，方是寒證。急宜刺少商穴出血，（注見弄舌。）再服煎劑。若口燥咽乾而渴，與此霄壤矣。</p>

<h2>四順理中湯</h2>
<p>人參、白朮、甘草、乾薑。</p>

<h2>四逆湯</h2>
<p>附子、肉桂、甘草、乾薑。</p>

<h1>嗆食第十四</h1>
<p>此證乃熱毒積於心肺二經，咽喉乾燥而無津液，是以喉中作痛而嗆，食難下也。急用當歸連翹散，加大黃利之。若治稍遲，則有飛屍癆瘵之患。如痰喘治以川桂散，加吳茱萸五七粒，服後覺心肺間刺痛，仍用當歸連翹散。</p>

<h2>當歸連翹散</h2>
<p>當歸、生地、黃芩、連翹、山梔、枳殼、羌活、防風、荊芥。（按：當用骨槽門加減法。）</p>

<h2>川桂散</h2>
<p>（按：此方原本藥品未載。）</p>

<h1>發頤第十五</h1>
<p>此證或傷寒發散未透，餘毒積於經絡。有與傷寒同發者，有不與傷寒同發者。其狀耳後紅腫，頭重體倦。急用千金內托散治之，外敷南星膏，若發於耳後一寸三分，或鼻中流涕，咽喉閉塞，痰涎壅聚，法皆不治。</p>

<h2>南星膏</h2>
<p>（按：此方原本藥品未載。）</p>
<p>發於耳後名發頤，發於腮邊名穿腮，發於地閣下名穿喉，皆屬痰毒初起。破血消痰降氣，其後涼血生血，滋陰降火。惟燥熱之藥斷不可用，刀針圍藥膏藥並忌，吹藥噙藥多用為妙。</p>

<h1>懸癰第十六</h1>
<p>此證乃脾家熱毒，外感風熱而成。其狀忽於上顎生一紫泡，垂下抵舌，疼痛異常，口不能言，舌不能伸，頭不能低，仰面而立，鼻出紅涕，若不速治，毒入於腦即死。急以小刀刺破癰頭，出盡紫血，不可嚥下，用菊花湯漱淨，先以菊花葉搗汁一碗，和酒送下，次進牛黃解毒丸，煎以荊防敗毒散，加地丁、半枝蓮甚效。</p>

<h1>喉菌第十七</h1>
<p>此證因食膏粱炙爆厚味過多，熱毒積於心脾二經，上蒸於喉，結成如菌，面厚色紫，軟如豬肺，或微痛，或木而不痛，梗塞喉間，飲食有礙。須以針刺出紫血者可治，鮮血者難治，日刺日有，漸如蜂窠者不治。</p>
<p>藥用犀角、黃芩、丹皮、殭蠶、射干、連翹、銀花、紅花、生地、黃連、黃柏、枳殼、獨活、元參、赤芍、大力子。</p>
<p>或年幼之人，患此不疼痛者，當以丸藥治之，日久自消，切忌刀針，藥用丹皮、獨活、防風、連翹、紅花、生地、荊芥、射干、牛蒡、前胡、枳殼、山楂、犀角、銀花、花粉、山梔、黃芩、黃柏、元參、元胡索，蜜丸，日服二次，每次二錢，開水下。</p>

<h1>牙癰第十八</h1>
<p>此證因勞心過度，或食熱毒等物，鼓動陽明胃經之火，發於牙齦。其狀如豆大，或如指大，紫色腫硬，疼痛難忍，或頭疼發熱憎寒。先服紅內消，次進荊防敗毒散，和保命丹同服，吹藥噙藥多用。初起發散，後則涼血，如不愈，乃是體虛，當用黃耆、白朮、當歸、柴胡、陳皮、熟地、丹皮、芍藥、黃芩、石斛、元參、牛蒡、山梔。</p>
<p>凡牙痛或左或右，痛無定處者，前藥亦治。若誤服發散，其痛更甚，以水醋各半，和熱水漱之即止。</p>

<h1>跋</h1>
<p>上《咽喉脈證通論》一卷，先府君曾於道光辛丑五月，刻於廣州。卷首有府君手書序二篇，工刻精絕，宛然真跡，惜江浙寇亂，板已不存。同治十三年冬，覲元在川東檢點書簏，得初印樣本一冊，因續授之梓，以廣其傳，仍模刻面頁標題年月及署檢，用存手澤。先府君精通醫學，其大略已見序中，覲元懵不知醫，但據本校錄而已。於戲，即此藝事之微，已不相肖如此，況其大者遠者乎，是可愧已。</p>
<p><u>歸安姚覲元記</u></p>
