<header data-type="book">
<h1>中國醫學源流論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>謝觀</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1935">公元1935年</data></dd></div>
</dl>
</header>

<h1>謝利恆先生傳</h1>
<p>君武進謝氏，名觀，字利恆，世居縣西北之羅墅灣。羅墅灣濱孟河，孟河號多名醫，君祖葆初先生其一也。父鍾英先生，精輿地之學，工古文辭，為世名儒。君少承家學，性又穎悟，年十二，畢五經四子書。於古今山川形勢、郡邑沿革，已瞭如指掌。又熟誦《內》《難》經、《傷寒雜病論》集、本草、經方。年十五，出就外傅，益肆力於史學輿地，精研史漢諸子，為文章，不懈而及於古。時直甲午戰後，海內爭言維新。邑故有龍城書院，課應舉之文，及是改為致用精舍，肄經史輿地之學。君與焉，試輒冠其曹。年二十一，肄業於蘇州東吳大學，以丁外艱廢。光緒乙巳，始以地理之學教授於廣州中學，已而兩廣優級師範。遊學豫備科、陸軍中學、廣東法政、初級師範、陸軍小學、隨宦學堂聞君名，爭相延致。君口講指畫，學生咸欣然，自以為有所得，一時廣州地理教席，非君無以厭眾望。君以任課太繁，又母夫人不服嶺南水土，居三年，辭歸，為上海商務印書館編纂地理書籍。時澄衷學堂經費充裕，為海上私校冠，而辦理未善，風潮時起。歲戊申，董校事者延君主焉。君至則嚴管理，勤教課，澄衷學則遂為諸校首屈。國體既革，武進人推屠君寄主縣政，以君鄉里碩望，延掌本縣教育事。君悉心擘畫，嚴考績，圖擴充，居二年而去。其始至也，學校三十，學生四千；其去也，學校百五十有八，學生六萬數千人。教育部第全國二千縣成績，武進次二。袁總統召君入都，欲使長省教育廳，君豫燭洪憲之變，不欲仕，辭焉。民國三年，仍入商務印書館，主纂地理書籍，先後成圖書三十餘種。君以為一統志暨各省郡縣圖經，多詳於古蹟風景若行事，而於地形、地質、氣候、風俗、物產，罕能道其詳，失地學真意，闕經世之用，銳意欲纂各省新志，未果。而治中國醫學者，謀編辭典，以諗商務印書館，商務印書館以屬君。君於醫，雖不以是為業，顧自幼熟誦醫經、經方，長而瀏覽弗輟，親故有疾，或為治療，遇儒醫、世醫、若草澤鈴醫，有一技之長者，必殷勤詢訪討論，未嘗一日廢也。及受委託，即欣然自任，縱覽古今醫籍，旁及朝鮮、日本之書，汰其蕪，去其復，存其精英，歷時八年，成書三百五十萬言。而君鬚髮白矣，乃謝商務印書館，寓上海，名其室曰澄齋。以其技救人疾苦，又出其所心得，以詔後生，有志醫學者踵至。初，上海醫家設中醫專門學校於城中，延君長其校。君為定課程，編講義，時在民國六年，實為我國中醫學校之首創，海內繼起者，咸取則焉。十四年，神州醫學總會設中醫大學於閘北，又延君長其校，將以研究高深學理，為全國醫學升階，凡數年，以時局不靖中輟。海上醫學團體多，而意見不一，君謀所以和會之，十八年，乃發起中醫協會。適中央衛生委員會通過「廢止中醫案」，中醫協會宣言否認，而召集全國醫藥團體代表大會。三月十七日開會，至者十有五省，醫藥團體百三十有二，出席代表二百六十有二人，提案百餘，成立全國醫藥團體聯合會，其後遂以三月十七為國醫節焉。會既終，推君為代表，入都請願，廢止中醫之案由是得免施行。其秋，衛生署及教育部又頒中醫學校名稱及管理藥商規則，於本國醫藥業大為不便。十二月，又召集第二次全國醫藥代表大會，至者十有七省，團體二百二十有三，出席代表四百五十有七人。君見推為主席暨常務委員，始正中醫、中藥之名曰國醫、國藥。會既終，再推代表入都。蔣主席善之，命撤消所布規則，中國醫藥始得無所束縛。二十年，中醫協會改組為上海市國醫公會，歷次大會，君仍見推為主席暨監察主席。是歲，中央國醫館成立，又見推為常務理事。二十二年，上海市國醫分館成立，君見推為常務董事。二十四年，中央國醫館改選，君仍任理事。上海市衛生局試驗登記中醫者七，君五為試驗委員。蓋自民國六年以來，君於國醫公務，靡役不從，亦云瘁矣。是歲，君年五十有六，國醫節後，乃謝世務，居澄齋不復出，但日為弟子討論學術，而君弟子群謀輯君言論行事，以告當世。曰《中國醫學源流論》、曰《中國醫話》、曰《中國藥話》、曰《澄齋醫案》、曰《澄齋驗方》、曰《澄齋雜著》、曰《澄齋年譜》，附以《葆初先生醫集》、《鍾英先生文集》，凡如千卷，將次第刊行。而訟言曰：君潛心醫學四十年，盡力醫事，餘二十年，問學弟子，無慮數千人。朝鮮、日本、臺灣、暹羅、南洋群島、加拿大，凡華人足跡所至，無不耳君說，詒書與君相討論者，學說傳布之廣，近古以來，未之有也。其嘗問業於君者，學輒有心得，取君說以治病者，輒有驗。蓋君於醫學理法，研之至精，而於新知，融會貫通，無所隔閡。故能深探疾病之原，而參酌乎風土人情以為變化，是以放之寒溫熱三帶而皆準也，聞者以為信。</p>
<p>呂思勉曰，君真振奇人哉。予識君時，年未弱冠，今逾三十年矣。予頗讀古書，喜事考證，自度無以逾於君。於醫學則一無所知，顧君不以為無所知，讀古醫書，或時下問，相與賞奇析疑，其以能問於不能，以多問於寡。如此，泰山不讓土壤，故能成其高；河海不擇細流，故能成其大。君所就之遠，固有由矣。世之知君者，以輿地、醫藥之學及古文辭。顧君之所長，初不止此。予嘗與君上下其論議，君於千載以前，湮沈晦塞之事，洞見其所由，若燭照而數計，其於當世之事，剖析其得失，而逆測其遷流之所屆，著蔡弗能違也。君真振奇人哉，而僅以輿地、醫藥、古文辭鳴，時為之乎，而豈君之志哉。</p>
<p><u>中華民國二十四年四月一日</u></p>

<h1>序言</h1>
<p>武進謝利恆先生，於編輯《中國醫學大辭典》後，復著《中國醫學源流論》。取數千年來各家學說，上起炎黃，下迄近世，考其源流，別其枝派，原原本本，若網在綱，啟後學之津梁，樹醫林之楷範。脫稿業經十載，曾於《國醫公報》、《醫界春秋》刊布，海內醫家，嘆為絕作。近日及門諸子，為先生編印全集，復以此篇冠其首，而命序於伯未。伯未昔肄業於中醫專門學校，先生方任校長，飫聞至論，敢述要語，弁諸簡端。先生之言曰，古今中醫書籍，幾於汗牛充棟，非抄襲舊說，即標榜攻訐，其能發明新理者，不過什之一二。要其大體，後者勝前，但古書言簡而賅，後世言復而雜，學者宜取其治病之效，不必拘於成見，致滋聚訟。凡聚訟之端，不外溫涼攻補，推其故，有因乎水土氣候不齊者，有因乎治亂安危環境者。我國疆域廣大，川原交錯，氣候備寒溫熱三帶，而人事之遷變尤蕃。故凡華文所布之區，即中醫所達之處，若執一隅之見，以概萬有不齊之病，安能適當。是以歷史、地理、生物、自然、社會諸科學，攻醫者皆必須略涉藩籬，方能會其通而觀其變，而得醫術之大全。此屬於藝者也。醫者固以藝術為職志，然昔人常以為應與修養道德共同砥礪，故《素問·上古天真論》等數篇，古聖首懸為教。吾人業醫者，應如何懲忿窒欲以養肝腎之陰，行矩言規以固榮衛之氣，寧靜淡泊以葆固有之靈明，勤動四肢以和周身之血脈，合修身養性為一途，成己利人為一事。昔傅青主之艱貞肥遁，徐洄溪之勵志潛修，實能得先聖心傳，而年壽亦與之俱永，固非獨其技之足高，抑亦其行之當法也。先生之言如此。夫長江之源，發於犂石，東會岷沱，出三峽，下洞庭，浩浩湯湯，千里一瀉。其利物之溥，亦猶我中華醫學，肇自皇古，衍於後世，所療治者，不知其幾億兆人也。然以其源遠而流廣，泥沙土石，不能無所雜，則氾濫橫流，遂或不免，是猶今日醫說之紛歧，生於其心，害於其事，而病者遂受其敝也。得先生之言以示之，庶幾沿流溯源，集眾說之長，而去其偏蔽，使中醫學說益臻昌明，世界人類咸受其福，仁言利溥，其垂遠矣。先生豐頤廣顙，美鬚髯，衣大布之衣，真率敦樸，精神朗靜。其立言也，不阿世，不立異，不掩同體之善，不忘異派之美，精微廣大，兼而有之。是則讀其書者皆能知之，固無俟呫呫也。</p>
<p><u>中華民國二十四年元旦　弟子秦伯未謹序</u></p>

<h1>中國醫學源流論</h1>

<h2>醫學大綱</h2>
<p>中國醫學可分數期：自西周以前為萌芽之期；春秋戰國為成熟之期；兩漢之世為專門傳授之期；魏晉至唐為換葺殘缺之期；兩宋至明為新說代興之期；起自明末，盛於有清，為主張復古之期。此一切學術皆然，而醫學亦莫能外也。</p>

<h2>儒學比例</h2>
<p>諸學之中，儒學最顯，今試藉以為喻。仲尼祖述堯舜，憲章文武，《詩》、《書》、《禮》、《樂》、《易》、《春秋》，皆西周以前古籍，孔子因之以成刪定之功。六經皆史之說，雖亦不免武斷，要其非前無所承決矣，所謂西周以前為萌芽之期也。及孔子出而集其大成，七十子後學之徒，傳播尤盛，所謂春秋戰國為成熟之期也。遭秦焚書，六籍闕然，老師宿儒，猶各抱專門以相授受，其時承學之士，守家法皆極嚴，雖復不能相通，而亦不為臆論，所謂兩漢之世為專家授受之期也。漢末喪亂，傳緒載絕，後之學者，不復能親承口說，而徒求之於簡編，於是有南北朝、隋、唐義疏之學，所謂換葺闕佚之期也。至於宋儒，乃排棄舊說，以意推求，自謂淵源直接洙泗，元明二代，其說大行，所謂新說代興之期也。明末諸儒，厭其末流之空疏，而復求之於古，至於清代，漢學乃代宋學而興，所謂主張復古之期也。中國治漢、宋二學者，每互相訾謷，其於自漢迄唐諸儒，遂各以意為好惡。平心論之，中國一切學術，規模皆大定於戰國以前，自秦以降，不過就古人之成說，引伸推衍之耳，未有能自創一說，卓然與古人並立者也。近之論者，謂中國學術自秦以降即停滯不進，誠不為過。夫既不能自創一學，而徒襲古人之學以為學矣，則其於古人之成說，焉得不視同拱璧。漢唐諸儒之抱殘守闕，自不能謂為無功，然其物已殘闕矣，徒能抱之守之，而不能觀其會通，勢必至於扞格而不可通，齟齬而不相入。宋儒起而以意推求，勢也。然學術之真必存於事物，古人之發明學術者，蓋靡不即事物而求其所以然。其在宋儒，雖亦曰即物窮理，實則徒託空言，而不免仍為古人之成說所囿，（蓋宋儒之所謂事物，即古人之學術，而非兩間之事物也。）其必不能盡當於事物之理之真，且必不能盡得古人立說之意，蓋可知也。清儒之起而主張復古，亦勢也。勢之所必至，即為理之所固然。《易》曰：窮則變，變則通，相變也，而實相因，亦即所以相成。明於進化之理者，更不必存主奴之見矣，惟醫亦然。</p>

<h2>醫學變遷</h2>
<p>吾國醫學之興，遐哉尚矣。《曲》、《禮》：醫不三世，不服其藥。《孔疏》引舊說云：三世者，一曰黃帝針灸，二曰神農本草，三曰素女脈訣，又云天子脈訣，此蓋中國醫學最古之派別也。其書之傳於後世者，若《靈樞經》則黃帝針灸一派也，若《本經》則神農本草一派也，若《難經》則素女脈訣一派也。其筆之於書，蓋亦在周秦之際，皆專門學者所為也。針灸之有黃帝，本草之有神農，脈訣之有素女，猶之仲尼所祖述之堯舜，憲章之文武也；其筆之於書之人，則祖述憲章之仲尼也。其傳承派別，可以推見者，華元化為黃帝針灸一派，張仲景為神農本草一派，秦越人為素女脈訣一派。仲景之師，元化之弟子，皆著見於載籍。《史記·扁鵲列傳》，載其所治諸人，多非同時，或疑史公好奇，不衷於實，不知扁鵲二字，乃治此一派醫學者之通稱，秦越人則其中之一人耳。此其各有師承，猶兩漢之經師也。特醫學之顯，不及儒術，故其傳授世次，不可得而考耳。其中絕不知何時，然亦必當漢魏之際，故後此治醫學者，若皇甫士安，若陶弘景，皆無復口說可承，而徒求之於簡編也。其換討掇拾之功最巨者，於隋則有巢元方，於唐則有孫思邈、王燾，此醫家義疏之學也。（南北朝隋唐諸儒，綴輯漢儒之說。孫、王等蓋亦綴輯漢後醫家所傳也。）北宋以後，新說漸興，（《四庫提要》云：儒家之門戶分於宋，醫家之門戶分於金元。此以其顯著者言也，實則其機亦肇自北宋。見後。）至金元而大盛，張劉朱李之各創一說，競排古方，猶儒家之有程朱陸王，異於漢而又自相歧也。至明末而復古之風漸啟，清代醫家多承之，則猶儒家之有漢學矣。（均見後。）人不能無為時勢所限，而時勢之變遷，又率由一二人造之，還相為因，莫知其朕，欲明於學術之升降者，知人論世，二者固不容缺一矣。</p>

<h2>上古醫派</h2>
<p>針灸始於黃帝，本草肇自神農，脈訣傳之素女，此以言乎其托始之時耳。至按其學術之性質而為之分類，則為醫經、經方二家。醫經猶今言醫學，經方猶今言藥學也。神農本草，當屬經方家。針灸、脈訣，則同屬醫經。其書之傳最古者，在醫經當推《黃帝內經》，《漢志》作十八篇，皇甫謐以《素問》、《針經》各九卷當之。所謂《針經》當與今《靈樞》相出入，《素問》則即今本也。其說如後。</p>

<h2>《素問》考證</h2>
<p>素問之名，昉見仲景《傷寒雜病論》集。（言論所以集此書之意，宋本如此，後世刻本改為自序，非。）或疑仲景所撰用者，未必即今《素問》。然《北齊書·馬嗣昭傳》，有傳綜經方、《甲乙》、《素問》之言；《北史·崔彧傳》，又有以《甲乙》、《素問》善醫術之語；《南史·王僧孺傳》，亦云侍郎金元起欲注《素問》，訪以砭石。金元起，即世所稱全元起，字以形近而訛也，則其書自漢以來，醫學傳習未嘗失墜可知矣。至唐王冰注之，乃大明於世。（惟《刺法》《本病》二篇，冰本亦闕。宋劉溫舒作《素問入式運氣論奧》，始以此二篇附刊於後為一卷，稱為《黃帝內經·素問遺篇》。嘉祐中，遂以此二篇附刊於王本之後，頗不可信。《宋史·藝文志》載《素問遺篇》四卷，其卷數亦不符也。《明史·藝文志》載趙簡王補刊《素問》一卷，請世傳王冰注本有闕簡，王得全本補之。案：簡王所刊，即世所傳趙府居敬堂本，其所刊者，亦即此二篇也。）</p>
<p>《素問》之素，王冰釋之為本，不過望文生訓耳。案：《雲笈七籤》引《真仙通鑑》云：天降素女以治人病，黃帝問之而作《素問》。與《孔疏》所引之說相符，當系古義。可見今之《素問》，實為古代素女脈訣一派之學，扁鵲傳之，故繼之而作《難經》也。</p>

<h2>《難經》考證</h2>
<p>八十一難之名，亦見仲景《傷寒雜病論》集。皇甫謐《帝王世紀》云：黃帝命雷公、岐伯論經脈，旁通問難八十一，為《難經》。隋蕭吉《五行大義》、唐李善《文選七發注》引此書文，並稱《黃帝八十一難經》。《隋書·經籍志》亦載，《黃帝八十一難》二卷。其以為秦越人作者，實始唐楊玄操，其言云：黃帝有《內經》二帙，帙各九卷，而其義幽賾，殆難窮覽。越人乃採摘英華，鈔撮精要二部，經內凡八十一章，勒成卷軸。既弘暢聖言，故首稱黃帝。（見《史記》扁鵲列傳正義。）案：《史記》扁鵲列傳，稱天下至今言脈者由扁鵲，則素女脈訣之學，扁鵲實傳之。玄操所言，必非無據，惟史公此傳，所包甚廣，玄操云云，似亦誤以扁鵲二字為越人一人之稱號也。（又案：《文苑英華》載王勃《難經·序》云：《黃帝八十一難》，是醫經之秘錄也，昔者岐伯以授黃帝，黃帝歷九師以授伊尹，伊尹以授湯，湯歷六師以授太公，太公授文王，文王歷九師以授醫和，醫和歷六師以授秦越人，越人始定章句，歷九師以授華佗，佗歷六師以授黃公，黃公以授曾夫子。曾夫子諱元，字真道，自云京兆人也，云云。其說自不可信，然亦可見此書自唐以前確有授受源流。）</p>

<h2>《靈樞經》考證</h2>
<p>針灸派最古之書，當推《靈樞經》，然或以當皇甫謐所稱之《針經》，謂即《漢志·內經》十八篇之九，則非也。案：謐之言云，《七略》、《藝文志》，《黃帝內經》十八卷，今有《針經》九卷、《素問》九卷，二九十八卷，即《內經》也。又有《明堂孔穴針灸治要》，皆黃帝、岐伯選事也。三部同歸，文多重複，錯互非一。（見《甲乙經》。）後人以今《靈樞經》與謐所稱之《針經》，卷帙適當，且其文與《甲乙經》多相復重，斷二者即一書。且云《靈樞》之名，《隋志》不載，而有《黃帝針經》九卷、《九靈》十二卷。至《唐志》則並無《針經》之名，但有《九經》十二卷。宋紹興中，史崧乃以家藏舊本《靈樞》獻之，蓋《隋志》之《九靈》，即《唐志》之《九經》，其《針經》即史崧所獻之《靈樞》，當唐暫晦，至宋乃出也。然《宋史·哲宗紀》，元祐八年正月庚子，嘗頒高麗所獻《黃帝針經》於天下。元祐、紹興，相距幾何時，雖遭喪亂，豈有即亡之理？縱云已亡，校理者豈皆不及見，而誤謂崧家藏舊本久晦復出耶？則宋時實不以此書為《針經》可知。呂復《群經古方論》，謂王冰以《九靈》更名為《靈樞》，與《唐志》所載卷數不合。晁公武《郡齋讀書志》，謂好事者從《內經·倉公論》中鈔出，名為古書，亦毫無實據。予謂此等專門家之書，昔時傳者頗多，皇甫謐所見已有三種，實尚不止此數也。《靈樞》亦此類書之一耳，必欲以配《素問》為《內經》十八篇之九，固非。然其確為古籍，則斷斷無可疑矣。（《針經）等書，當皇甫謐時，必已極難讀，所謂錯互非一也，故謐重定之為《甲乙經》。《甲乙經》既成，當時必推為善本，《針經》等書遂罕傳習，觀馬嗣昭與崔彧傳，皆以《甲乙經》與《素問》並舉，可知其書遂在若存若亡之間，隋時僅存，迄唐而亡，至宋乃復得之高麗，固理之可信者也。）</p>

<h2>《神農本草經》考證</h2>
<p>本草之名，始見於《漢書·平帝紀》（元始五年，徵天下通知逸經、古紀、天文、歷算、鐘律、小學、史篇、方藥、本草及以五經、《論語》、孝經、《爾雅》教授者，所在為之勸駕，軺傳遣詣京師，至者數十人。）及《樓護傳》，（傳云：護少隨父為醫長安，誦醫經、本草、方術數十萬言。）乃學科之名，非書名也，故《漢志》經方十一家二百七十四卷，無以本草名者。至梁《七錄》，乃有《神農本草經》之名，而《隋志》同之，則猶今人言藥物學書耳。（神農本草四字，為學科之名，經字為書名。）蓋針灸之術，必深明於人之藏府經脈，非若藥劑之易施，其為用較廣，故其書亦較通行也，其著之簡策，蓋亦在晚周之時，陶弘景所謂與《素問》同類者也。其書專家相傳，頗多竄亂，至弘景始從事於校理。其言云：世傳《神農本草》只此三卷，所出郡縣，多後漢時制，疑仲景、元化等所記。（案：仲景、元化，為當時醫家兩大師，故舉以概其餘。言若仲景、元化一流人，非實指仲景、元化也，下吳普、李當之徒同。）又有《桐君採藥錄》說，其花葉形色藥對四卷，論其佐使相須。魏晉以來，吳普、李當之徒，更復損益，或五百九十五，或四百四十一，或三百一十九，或三品混雜，冷熱舛錯，草石不分，蟲獸無辨，且所主治，互有得失，醫家不能備見，則知識亦有淺深。余輒苞綜諸經，研括繁省。以《神農本經》三品合三百六十五為主，又進《名醫別品》三百六十五，合七百三十種，精粗皆取，無復遺落，合為七捲雲云，蓋合諸專家所傳，而折衷於一是也。自是以後，歷代相因，屢加修輯。其在唐顯慶中，蘇恭、長孫無忌等，奉敕所修者，世謂之《唐本草》，亦曰《唐新修本草》。孟蜀時韓保昇又奉命重修，稍增註釋，世稱《蜀本草》。宋太祖開國，命劉翰、馬士等修輯，士又為之注。先是唐開元中，有陳藏器者，撰《本草拾遺》十卷，以補《名醫別錄》之闕，及是亦採入焉，是為《開寶新詳定本草》。後以或有未合，又命翰等重加詳定，為《開寶重定本草》。嘉祐時，掌禹錫奉勅加註，為《嘉祐補註本草》。大觀中，蜀人唐慎微，兼合諸家，兼採經史中言醫事者，隨類附入，名曰《證類本草》，於諸本中稱最善焉。蓋自李時珍《綱目》以前，官修者凡五，私修者凡二，實皆以隱居所修為藍本，而輾轉附益者也。</p>
<p>古代所傳之《神農本草經》，至陶弘景時已多竄亂，弘景始為之分別，於舊所傳者，書之以朱，後來所附益者，書之以墨，其所分別，固未必盡當，然終相去不遠。嗣後輾轉相傳，淆亂又甚。《開寶新詳定·序》，所謂朱字墨字，無本得同；舊注新注，其文互異者也。然淆亂雖甚，其區別卒未嘗廢，至《證類本草》猶然。後世考古之士，斤斤焉欲求《神農本經》之真面目於百一者，其所據猶《證類本草》之黑白文也。《證類本草》清代所傳，凡有二本：一為明萬曆丁丑翻刻元大德壬寅宗文書院本，前有大觀二年仁和縣尉艾晟序，《書錄解題》稱為《大觀本草》蓋因此；一為成化戊子翻刻金泰和甲子晦明軒本，前有政和六年提舉醫學曹孝忠序，故此本亦稱《政和本草》。二本相較，大觀本朱書墨蓋，較為分明，而《四庫》轉以政和本著錄，非知言也。厥後孫星衍及從子馮翼，（字鳳卿。）校輯《神農本草經》，所據者即大觀本之黑白文也。又就《御覽》所引，云生山谷川澤者，定為《本經》，其有郡縣名者，定為後人羼入，刻入《平津館叢書》中。然《神農本經》，李時珍《本草綱目》亦載其目，與孫氏所輯大異，其後顧觀光（字尚之。）又別輯一本，刻入《武陵山人遺書》中，則皆以李氏所載為據者也。平心而論，時珍網羅雖富，辨別古籍，初非專長，其所釐定，豈能勝於唐慎微。然《開寶新詳定·序》已云朱字墨字，無本得同；舊注新注，其文互異。則慎微所定，又豈必近古乎。又況泰和中所刻政和本，有大定己酉麻革序及劉祁跋，並云：中陽張存惠，將寇宗奭《本草衍義》增入，而大德本亦然，蓋元人復刻時又從金本轉錄也。則今所傳《證類本草》又非唐氏之舊矣。（日本望三英有刻本，雲系家藏舊本，未為張存忠所竄亂，不知信否。）如是而欲引為古據，不亦謬乎。要之古書之傳播愈廣者，其竄亂亦愈甚，今日醫家各種古籍，皆尚可從事校理，獨《本經》則竟無良策也。（《漢志》所謂經方家，當兼方藥二者言之，然後世方書，傳者極多，而本草則只此一種，且不必後世，即《漢志》所載十一家，其九家固為方書也。《湯液大法》三十二卷，不知為方書抑藥書，《神農黃帝食禁》七卷，《周禮·賈疏》引作良藥，孫星衍謂禁字當訛，食藥即本草之類。又《周禮·鄭注》：五藥，草木蟲食谷也。其治合之劑，則存乎神農子儀之術。賈疏引《中經簿》，有《子儀本草經》一卷，或出陶氏所傳之外，然亦僅此耳。蓋古代格物之學不明，只知用藥以療疾，而不復知考求藥性之本原，今人所謂知有術而未足與於學也。）</p>

<h2>《傷寒雜病論》考證</h2>
<p>《內》、《難》、《本經》而外，醫家古籍，無過仲景之《傷寒雜病論》。案：史載仲景書目甚多，梁《七錄》有《黃素方》二十五卷，《傷寒身驗方》一卷，《平病要方》二卷；《隋志》有《療婦人方》二卷，《張仲景方》十五卷；新舊《唐志》亦載《仲景方》十五卷；《宋志》又載《脈經》、《五臟榮衛論》、《五臟論》、《療黃經》、《口齒論》各一卷。陳自明云：男子婦人傷寒，仲景治法別無異議。比見民間有《婦人傷寒方》，書稱仲景所撰，而王叔和為之序，以法考之，間有可取，疑非古方，特借聖人之名以信其說於天下也。觀此則諸史所載，亦不免依託矣。孫真人稱，江南諸師秘仲景要方不傳，其所秘者，豈果盡出於仲景哉。蓋自漢而後，明於針灸者惟元化獨傳，長於方藥者則仲景最著，二人實為當時兩大師，故從而依託之者眾也。（觀魏晉而後論列醫家者，恆以元化、仲景二人並舉可知。）然書雖不必果出仲景，其中亦必多存古方，而今竟無一傳者，可惜也。（範陳二史，皆不為仲景立傳，論者多疑之。余謂此無足異也，古之視醫，不過執伎事上之流，越人、元化，蓋亦後世草澤鈴醫之類耳。仲景嘗為太守，則史家不復廁之方伎之列矣，然醫家則固奉為大師也。）</p>

<h2>《金匱要略》考證</h2>
<p>《傷寒雜病論》序文自言凡十六卷。《隋志》不載此書，而注引梁《七錄》，有《張仲景辨傷寒》十卷。《唐書·藝文志》載《傷寒卒病論》十卷。案：卒病為雜病之訛，見郭雍《傷寒補亡論》。今諸篇皆冠以辨字，則《唐志》所謂《傷寒卒病論》者，實即梁《七錄》所謂《辨傷寒》。其卷帙與《論集》所言不符者，蓋全書論傷寒者十卷，雜病者六卷，後人析而為二。《七錄》、《唐志》所載，皆其論傷寒之十卷，而《唐志》又以冒全書之名也。此書嘗改題曰《金匱玉函方》，《證類本草》所引悉然。觀《周禮·賈疏疾醫》，已有張仲景《金匱》之名，則其由來已久。（《晉書·葛洪傳》，洪著藥方百卷，《肘後方》及《抱朴子》皆云所撰名《玉函方》，則玉函蓋古時方藥書之通名。）然《外臺》所引，均仍稱《傷寒論》，蓋從其朔也。宋時析行之《傷寒論》十卷猶存，而論雜病之六卷久亡。惟有一本，將全書十六卷刪節為三卷者，名《金匱玉函要略》，尚存於館閣中。其書上卷論傷寒，中論雜病，下載其方，並療婦人。王洙於蠹簡中得之，以其論傷寒者，文多簡略，但取雜病以下至服食禁忌，二十五篇二百六十五方，而仍其舊名。（見《書錄解題》。）林億等校理，又取此二卷分為三卷，以符原定之數，而改名曰《金匱方論》，即今《金匱要略》也。蓋自針灸之術失傳，中國醫家治病，惟藉方藥一科，然古書或有方而無論，或有論而無方，求其方論兼全，傳之最古而條理分明者，莫要於《傷寒》、《金匱》兩書，而其闕佚不完又如此。蓋醫學之有待於張皇補苴者多矣，學者其可專己以自封哉！（《傷寒論》刻本精者頗少，《武陵山人遺書》中翻宋本較善。）</p>

<h2>古代脈經</h2>
<p>脈學原起亦甚古，近人多詆其術之不足恃。然古言四診，切本居末，後世醫論，遇有證脈相違者，亦多主舍脈從證，間有主舍證從脈者，則必逆知此證將有變動，不當徒泥目前之證以施治，而此證究竟將有變動與否，則借脈象以參之，非徒恃切脈遂可治病也。故切脈者，診察之一術，而未足語於診察之全也。然世之知醫者少，皆視醫為神妙不測之事，以證為人人所共見，脈為醫家所獨知，遂謂醫之於脈，別有不可言傳之妙，而醫家亦藉此自炫，以欺愚昧，其流末幾謂專憑脈象，便可治病，甚至所謂太素脈者，可以決人生休咎，是皆惑世之談，非學人之論也。夫診察之術，望聞問切，四者豈足盡之？然今之醫家，於望聞問三者，講求尚罕，遑論其他，此誠中醫之過。然謂脈不足盡診察之術則可，謂其並非診察之一術則不可，且中醫數千年來，以他種實驗之術均不講求，故乃獨致力於脈，其憑虛臆度，謬妄可笑之論誠極多，亦間有辨析精微足資參證者，固未可一筆抹煞也。</p>
<p>古代脈學換輯之功，首推王叔和《脈經》一書，包孕弘富，後世言脈學者，卒莫能越其範圍，且所引古籍，多與今本不同，《內》、《難》、《傷寒》，皆資參證，誠醫學之至寶矣。（此書《隋》、《唐志》皆著錄，五代時僅有傳本，且訛奪特甚。宋熙寧中，出內府藏本，令林億等校讎刊板行世，然其傳不廣。嘉定間，陳孔碩以所得福建本刊之廣西漕司。元泰定四年，柳贇、謝縉蓀復刻陳本於江西宗濂書院。明吳勉學《古今醫統》，亦有刻本，頗多謬誤。萬曆三年，福建參政徐中行，屬袁表校刻，校讎少精，而又有以意刪改處。清《四庫》未著錄。道光時，嘉定王鋐始以所藏舊鈔本，與元泰定本、明童文舉重刻袁表本及趙府居敬堂本，互校刊行。同時金山錢熙祚亦得是書，刻入《守山閣叢書》中。光緒辛卯，建德周學海又合校錢、黃二本，刻入所刊《醫學叢書》中焉，蓋此書若存若亡者，幾二千年，幾亡而倖存者數矣。中國醫家皆好言脈，而卒莫肯研討是書，俗陋之脈學則紛紛而起，亦可見醫家真能治學問讀古書者之少也。）《傷寒》中之平脈、辨脈，亦當出於叔和。</p>

<h2>古代針灸經</h2>
<p>針灸家之書，為晉以後人所輯者，當以《甲乙經》為最古。此書自言本於《針經》及《明堂孔穴針灸治要》，則《內經》十八卷中《針經》九卷之遺，實於此書見之。且針灸之術，通者較少，故其傳書，訛奪尤甚。當謐時，此三書者，既已錯互非一，而謐實為之校正，則讀古代針灸書者，尤當以此為據。此外《隋》、《唐志》所載諸書多亡佚，惟漢竇漢卿之《針經指南》存。</p>
<p>《黃帝蝦蟆經》一卷，日本人所刻，論月中逐日蝦蟆兔之生長及人氣所在，與之相應，不可針灸等說。原有識語，謂《隋志》有《黃帝蝦蟆忌》一卷，當即此書。又《太平御覽》引《抱朴子》：黃帝經有蝦蟆圖，言月生始二日，蝦蟆始生，人亦不可針灸其處。《隋志》又有《明堂蝦蟆圖》一卷、徐悅《孔穴蝦蟆圖》三卷，則似晉宋間其說已行於世。《史記·龜筴列傳》，有月見食於蝦蟆之語，則其書似出於漢人云云。案：日本人所云中國古籍，亦有不可盡信者，然此書則似非偽造也。</p>

<h2>隋唐間醫籍</h2>
<p>此外古代醫家之書為隋唐人所輯存者，當推巢元方《諸病源候總論》、孫思邈《千金方》、王燾《外臺秘要方》三書。《病源》六十七門，千七百念篇，為古代醫論之淵藪，其書為隋時諸醫奉敕所撰，而巢元方總其成。（見《四庫提要》。）以儒家之書譬之，猶孔穎達之《義疏》也。　《千金》、《外臺》，皆以方為主，所收既博，而又多出古來專家之傳授，迥非後世憑虛臆度自制一方者可比，亦醫家之鴻寶也。（《千金》、《外臺》，卷帙浩博，後世能羽翼之者極寡，惟清張璐有《千金方衍義》三十卷，又《千金寶要》十七卷，附論及千金須知，為十八卷，宋宣和中，郭學士思刪節《千金方》，而作刻石華州公署。明正統景泰間，俱有木石刻本。隆慶六年，秦王守中復刻石耀州孫真人廟。清《四庫》未著錄，孫星衍得明刻拓本，刻入《平津館叢書》。）其託名古書，而實不可信者，則有《肘後備急方》、《中藏經》、《褚氏遺書》三種。《肘後方》本名《肘後卒救方》，為晉葛洪所撰，陶弘景補其遺闕，都百有一首，改名為《肘後百一方》。隋時陶書已亡，而葛書迄趙宋猶存。（見《隋書·經籍志》及《宋史·藝文志》。）金楊用道取《證類本草》所載諸方，隨證附入，名為《附廣肘後方》。元至元間，有烏某者，得其本於平鄉郭氏，始刻而傳之，段成式為之序，稱葛陶二君共成此書，而不及楊。明嘉靖中，知襄陽府呂容又刻之，並列葛陶楊三序於卷首，書中凡楊氏所增者，別題附方二字，列之於後，而於葛陶二家之方，則不加分別。案：陶書當隋已亡，烏氏焉得而刊之？烏氏且未得楊氏《附廣》之本，呂氏又孰從而得之？其為偽託顯然矣。《中藏經》托之華佗，前有鄧處中一序，稱佗得是書於公宜山老人，己為佗外孫，因佗歿後示夢，得之石函中。《褚氏遺書》則托之南齊褚淵，謂黃巢時群盜發塚，得其石刻，有蕭淵者，其父見之載歸，遺命即以為槨，而淵敘其事，亦刻諸石，僧人義堪，復得之蕭氏塚中雲。立說詭誕，詞尤鄙淺，其為偽託，更不竢論。然二書立論處方，皆頗合古誼，且叔和《脈經》，已引《華氏內照法》，中語周密，《癸辛雜識》亦引諸書非男非女之身一條，則亦有古書以為之據，二書均至《宋史》始著於錄，蓋唐末五代人所偽造也。（《中藏經》、《通志·藝文略》及《書錄解題》均著錄。《宋史》作《黃氏中藏經》，黃字蓋華字聲誤。其書宋元間傳鈔頗廣。明吳勉學始刻入《古今醫統》中。清孫星衍兩得元人寫本，均稱趙文敏書，以校吳本，每篇奪誤各數百字，方藥分兩，亦均被刪，乃校定為三卷，刻入《平津館叢書》中。然此書別有坊本，訛奪難讀，而後《別附方》一卷，《內照法》一卷。周學海刻《醫學叢書》，又取其方及內照法，刻諸孫氏三卷本之後。然錢塘胡氏《百名家叢書》及《格致叢書》亦刻此書，又有《內照法》一卷，周氏又未之見也。）</p>

<h2>宋明間醫方</h2>
<p>中國經籍之傳世者，至宋而始多,　蓋鋟板之術盛於是時使然。然醫家之書，經宋人換輯傳世者，醫經類甚少，同一經方也，本草類亦甚少，而方書獨多。蓋醫理深邃，非盡人所能知，方藥則事足便民，好換輯之者較眾，而流傳亦易，但格物之學不明，徒知換輯成方以治病，而不復能研究藥性，所謂知有術而未足語於學也。職是故，醫經及經方中，本草一類之書，傳者遂少，雖欲換輯之，亦有無所取材之嘆。中國曆代政府，重視醫學者，無過於宋，當時官纂之書，本草而外，亦不過《局方》及《聖濟總錄》二書，卒不能如隋代之採輯眾論，以成《病源》。則醫家專門授受之學，至宋而日以亡失，概可知矣。（此以輯舊說成書者言，至於宋人之自創新說者不在此限。）</p>
<p>《太平惠民和劑局方》凡十卷，成於元豐中。時詔天下高手醫，各以得效秘方進，下太醫局試驗，依方製藥鬻之，仍摹本傳於世。（見《讀書志》。）政和中，徽宗御撰《聖濟經》十卷，又集海內名醫，出御府禁方，共相討論，成《聖濟總錄》二百卷。二書雖駁雜不純，然前此專家之遺，多在於是，終可寶也。（岳柯程史，嘗譏《和劑局方》用藥差偽，以補虛門中山等丸，誤寫牛黃清心丸之後，蓋官修之書，往往不免如此。《局方》尚有完本，《聖濟總錄》久而佚脫，清程云來購求殘闕，用力至勤，尚闕百七十三至七十七五卷，就其所得，刪錄為《纂要》二十六卷。後震澤汪鳴珂，又展轉換補重刻之，中只三卷，有漫漶者百有三行，余皆完好矣。）其私家所輯，傳於今者，則有王袞之《博濟方》五卷，（此書傳本久佚，清開四庫館時，從《永樂大典》中輯出，其中方藥多為他書所未載。）沈括之《蘇沈良方》八卷，（此書本沈括所輯方書，後人以蘇軾《醫論》附入，改名為《蘇沈良方》，實未妥。）陳直之《養老奉親書》一卷，（元鄒鉉續撰三卷，改名《奉親養老新書》。）洪遵《洪氏集驗方》五卷，（遵字景嚴。此書久佚，李時珍《本草綱目》徵引宋代方書亦未及。清嘉慶中，吳縣黃丕烈得宋本刻之。）董汲《旅舍備要方》一卷，王貺《全生指迷方》四卷，（《宋·藝文志》作三卷，久佚。清四庫館從《大典》中輯出，改為四卷。）許叔微《普濟本事方》十卷，夏德《衛生十全方》三卷、《奇疾方》一卷，（清四庫館從《大典》輯出。）吳彥夔《傳信適用方》二卷，東軒居士《衛濟寶書》二卷，（袁永之影宋刻本。）嚴用和《濟生方》八卷，（清四庫館從《大典》輯出。）史堪《史載之方》一卷，（堪字載之，周學海《醫學叢書》中有之。）張銳《雞峰普濟方》三十卷，（此書第一卷為諸論，蓋銳所自撰，以下念九卷，皆褒葺成方，各分門目。《宋志》作張銳《雞峰備急方》一卷，馬氏《經籍考》同，今為全書中之第三十卷，蓋別有此單行刻本也。《本草綱目·引》亦稱《雞峰備急方》，則亦未見他卷。道光八年，長州汪士鍾，得南宋刊本復刻之，目錄闕一至九葉、第十卷五葉、二十卷十五十六葉、二十二卷四五葉、二十五卷半葉、以下二十三卷一至十一葉，亦皆闕，余均完好。）王璆《是齋百一選方》二十卷，（日本寬政己未，醫官千田子敬，假荻元凱所藏元本重刻。璆字孟玉，山陰人，是齋其號。仕為漢陽使，其人非醫，而前有章璆序，謂其生長名家，畜良方甚富。千田氏亦謂，試之刀圭，屢獲奇效云。陳造《江湖長翁集》謂是書撰集，凡十九年乃成，蓋亦非苟焉而已。全書凡三十一門，為方千餘，《曝書亭集》有此書跋，謂《書錄解題》載此書三十卷，《宋志》作二十八卷，而其所藏本，止二十卷，與千田氏所刻同。）王碩《易簡方》一卷，（此書中國亦佚，予所見者，為日本文化十三年，和氣惟亨校刻本。碩字德膚，書中往往引用三因玄兔煎，則在此二書之後，自序謂取常用之方，可以外候用者，詳著大義於篇，以治倉卒之病、易療之疾，輕者自愈，重音亦可藉此以待招醫云云，蓋為不知醫者而設。）施發《續易簡方論》六卷。（發字政卿，永嘉人，以攻王碩《易簡方》，不待識脈明證之非為主，謂與德膚早歲有半面之好，以人命所關，不容緘默云云，則與碩同時人。）其今已亡佚者，尚不在此數。迄於元代，此風未沫，　其書之傳於今者，有薩理彌實《瑞竹堂經驗方》五卷、（四庫館從《大典》輯出。）危亦林《世醫得效方》二十卷，（積其高祖以下五代所藏醫方而成，所載古方甚多。）而明周定王之《普濟方》起而集其大成。《普濟方》四百二十六卷。（惟第三十一卷眼科五百八十八方有單行刻本，見《冷廬醫話》。明代藩王多好方書者，又有《醫方選要》十卷，為蜀獻王侍醫周文採所葺；《魯王府秘方》四卷，為魯王府侍醫劉應泰所輯；周定王又有《救荒本草》四捲雲。）蓋換葺醫方之風，起於唐而盛於北宋，其流風餘韻，迄明清猶未艾也。</p>

<h2>五運六氣說</h2>
<p>中國醫學，至宋而新說肇興，非得已也。蓋萬事萬物，必有一理存乎其間，必得其理，然後可以應用於無窮。古代專門授受之醫學，魏晉而後，既已浸失其傳，其為後人所輯存者，皆不免於殘闕不完。夫古代之醫學，即使盡存於今，其理亦未必可據；況其所存者，又皆殘闕不具之說乎？然學術之真，必存於事物，後世解剖之學，既已絕跡；（偶有其事，不得云學，見後。）形下之學，又日湮晦，欲明醫理，果何所據以資推求哉？於是冥心探索，其說轉遁入於虛無，而五運六氣之說興矣。</p>
<p>五運六氣之說，非後世醫家所臆造也，而繆仲淳極攻之。其言曰：五運六氣之說，其起於漢魏之後乎？張仲景漢末人，其書不載也；華元化三國人，其書亦不載也。前之則越人無其文，後之則叔和解其說。今之醫者，學無原本，侈口而談，動云五運六氣，將以施之治病，譬猶指算法之精，為事物之實，豈有不誤哉。其言卓然不惑，可謂豪傑之士。然以五行配五藏，今古文家皆有之，（今文家說同《素問》。古文家則曰：脾木也，肺火也，心土也，肝金也，腎水也。）六氣之說，亦明見左氏，安得盡指為虛誣。蓋中國自西周以前，本為陰陽五行之世界，東周以後，其說漸破，至漢遂成強弩之末，魏晉而降，玄學大興，而其說摧陷廓清殆盡矣。夫在古代，禮樂兵刑，政教之形質也；陰陽五行，政教之魂神也。然後世儒者，多言禮樂兵刑，而罕談陰陽五行者。何也？以人心變動，恆先乎事物。（歐人新婚後，夫婦相偕出遊，乃野蠻之世，掠奪得婦，以避女黨之反攻。今掠奪得婦之俗久變，而新婚夫婦相偕出遊之風仍在，此其一例也。）而陰陽五行之說，不足以範圍後世之人心故也。醫家則何以異此？張仲景之《傷寒》，自言撰用五行大論，（見《論集》。）而《素問》一書，魏晉後醫家亦皆誦習勿替，然卒不言五運六氣之說者。明堂之圖、針灸之法、本草之經、脈學之訣，猶儒家之有禮樂兵刑；五運六氣之論，猶儒家之有陰陽五行也。然當解剖之學既已廢絕，形下之學又日湮晦之時，而欲求一說使足以包括一切，則舍五運六氣之論固莫屬矣。</p>

<h2>劉河間學派</h2>
<p>醫家新說盛於金元，而實起於北宋。有劉溫舒者，始撰《素問入式運氣論奧》三卷，而以《內經·素問遺篇》附刊其後，是為言運氣者之始，沈括之徒深信之。又有寇宗奭者，撰《本草衍義》二十卷，始論及運氣，前此所未有也。及劉河間出，而新說大盛。河間撰《素問玄機原病式》一卷，闡明六氣皆從火化之理，又撰《宣明論方》三卷，其用藥多主寒涼，始與《局方》立異。（案：今本《河間六書》，乃明吳勉學所輯，凡《原病式》一卷、《宣明論方》十五卷、《病氣機宜保命集》三卷、《傷寒醫鑑》一卷、《傷寒直格方》三卷、《傷寒標本心法類萃》二卷、《傷寒心要》一卷、《傷寒心鏡》一卷。考《保命集》為張元素所撰，《醫鑑》馬宗素撰，《心要》劉洪撰，《心鏡》常德撰，實止四種。而《宣明論方》自序云三卷，今乃得十五卷，《標本直格》亦多竄亂。《四庫書目》謂其竟出依託，勉學謬不至此，疑後來坊賈所為也。又《三消論》一卷，相傳為河間書，周澂之有評註本。）自是以後，《宣明論方》行於北，《局方》行於南，儼然成對峙之勢焉。河間之學，再傳而為羅知悌，由知悌傳諸丹溪，大暢古方不可治今病之論，謂欲起度量、立規矩、稱權衡，必於《素》、《難》諸經。（見戴良九《靈山房集》、《丹溪翁傳》。）其所撰《局方發揮》，力闢溫燥之弊，始明目張膽以與《局方》為難，其論治以補陰為主，雖曰自創一家，實則承河間而漸變焉者也。（丹溪之書，凡《格致餘論》一卷、《局方發揮》一卷、《金匱鉤玄》三卷，皆有通行本。其《治法心要》八卷、《醫要》一卷、《脈因證治》四卷，傳本較少，周澂之以《金匱鉤玄》同刻入《醫學叢書》中。又《脈訣指掌病式圖說》一卷、《醫學發明》一卷、《活法機要》一卷，惟《古今醫統》中有之。）與丹溪同宗河間者，有張子和所著《儒門事親》，多以攻伐為宗。傳丹溪之學者，有戴原禮，嘗著《推求師意》一書，以闡丹溪之學。原禮之學，傳諸祁門汪機，所著《石山醫案》，亦皆以丹溪為宗。（此書凡三卷，實機弟子陳桷所編，坊刻《石山》八種。於此書外，又有《素問鈔》三卷、《運氣易覽》三卷、《外科理例》六卷、《痘治理辨》一卷、《針灸問答》二卷，皆機作。其《脈訣刊誤》二卷，實戴啟宗之書，《推求師意》二卷，則機所輯戴原禮之書也。）而浙中之同時景從者，又有虞摶、王綸，亦丹溪一派之學也。（綸所撰《明醫雜著》，主寒涼最甚。）</p>

<h2>李東垣學派</h2>
<p>少後於河間而崛起於北方者，有張潔古。李濂《醫史》載潔古嘗為河間療傷寒，然其學非出自河間者也。所著《珍珠囊》三卷，始創引經報使之說，而用藥之法一變。（又有《藏府標本藥式》一卷，在《醫學指歸》及周澂之《醫學叢書》中。）其學傳諸東垣，倡土為萬物母之說，著《內外傷寒辨惑論》、《脾胃論》、《蘭室秘藏》各二卷，（俗傳《東垣十書》，於此三書外，又增入《崔真人脈訣》一卷，云杲所評，此外則為朱震亨《格致餘論》、《局方發揮》，王履之《溯洄集》，齊德之之《外科精義》，王好古之《湯液本草》、《此事難知》。）極論寒涼峻利之害，實於河間、丹溪外別樹一幟。其所著用藥法象，亦主陰陽升降浮沉之說，與潔古同。自制諸方，動至一二十味，而古來經方之面目，亦大變矣。東垣入室弟子為王海藏，（亦嘗受業潔古。）海藏著《湯液本草》三卷，大暢東垣、潔古之緒論，又著《醫壘元戎》十二卷、《此事難知》三卷、《陰證略例》一卷。東垣治傷寒之書已不可見，（書名《傷寒會要》，《元遺山集》中有其序。）其法實當於此書求之。而其晚年高弟為羅天益，嘗承師命作《內經類編》一書，（書不傳，序見劉因所著《靜修集》中。）實居張景岳《類經》之先，蓋舉一切治病用藥之法，而悉歸本於《內經》，實至東垣而集其大成也。</p>

<h2>張景岳學派</h2>
<p>繼東垣而起者為景岳，景岳之學，既攻河間、丹溪，亦攻東垣。東垣曰：相火為元氣之賊。景岳則云：相火為元氣之本。一以補陽為主，後來醫家，不分內傷外感，動云補正，補正則所以祛邪，實景岳有以開之。又時引《易》理以言醫，較之但言運氣者，尤為誕謾。然所著《景岳全書》，網羅諸科，僭稱謨典，幾有包括一切之概，醫家之崇奉其說者亦頗多。（《景岳全書》，曰傳忠錄，曰脈神章，曰傷寒典，曰雜證謨，曰婦人規，曰小兒則，曰痘證詮，曰外科鈐，曰本草正，曰新方八陣，曰古方八陣，曰婦人小兒痘疹外科方，凡六十四卷。）</p>

<h2>薛立齋學派</h2>
<p>明代醫家有網羅各科之概者，無如薛立齋。立齋本世為太醫，其治法不免貌似中庸，而實流於鄉愿。徐靈胎以其用藥偏於剛燥，遂與景岳連類而同譏，其實非也。觀其十三科一理貫之之論，外感遵仲景，內傷宗東垣，熱病用河間，雜病主丹溪之說，則原欲奄有眾長，特志有餘而才識俱不足，遂不免流為鄉愿耳。世所行《薛氏醫案》，於十三科之學，幾於靡所不包，正骨一科，前此傳書極少，薛氏書中獨有之。清修《醫宗金鑑》傷科之書，即取於是，其功亦未可沒也。（《薛氏醫案》，凡七十八卷，其自著者，為《外科樞要》四卷、《原機啟微》三卷、《內科摘要》二卷、《女科撮要》二卷、《癰瘍機要》三卷、《正體類要》二卷、《保嬰粹要》一卷、《口齒類要》一卷、《保嬰金鏡錄》一卷，訂正前人之書，為陳自明《婦人良方》二十四卷、不著撰人《外科精要》三卷、王綸明《醫雜》六卷、錢乙《小兒真訣》四卷、陳文中《小兒痘疹》一卷、杜引《傷寒金鏡錄》一卷、立齋《文鎧保嬰撮要》二十卷。）</p>

<h2>趙獻可學派</h2>
<p>薛氏之流失，為趙獻可一派。《醫貫》一書，幾欲以八味六味二丸統治天下之病。徐靈胎著《醫貫砭》痛斥之。宗趙氏之學者，在清有高鼓峰、董廢翁、呂晚村。高氏《醫宗己任編》中四明心法一篇，於八味六味二方論列最詳，讀之可見此派宗旨之所在。《晚村東莊》一卷，凡五十八案，無一案不用人參、地黃者，可謂奇談。廢翁有《西塘感證》三卷，其作法亦宗高、呂二家。（此三書有光緒十七年，施德、王汝謙補註合刻本。）</p>

<h2>李士材學派</h2>
<p>明末諸家中雖無特見，而大體平正不頗者，當推李士材。《松江府志》列士材所著書，凡數十種。《江南通志》則惟載《傷寒括要》、《內經知要》、《本草通玄》、《醫宗必讀》、《頤生微論》五種。今行世者，此五種外，亦惟士材三書中之《診家正眼》、《病機沙篆》兩種而已。（其一為《本草通玄》。）疑《松江志》之言，不盡實也。諸書中，《醫宗必讀》通行尤廣，頗平易有裨初學，惟以諸血證書入虛癆，貽誤亦頗巨。凡士材書，原非盡出自撰也。士材之學，一傳為孫朗仲，再傳為馬元儀，三傳為尤在涇。《病機匯論》十八卷，本朗仲所輯，元儀晚年與在涇參訂成之。凡分六十門，首脈，次因，次證，次治，輯前賢方論，皆終於士材，實士材一派之學最完全之書也。（元儀《印機草》卷，附此書後。）</p>

<h2>唐宋學說之異</h2>
<p>唐以前之醫家，所重者術而已，雖亦言理，理實非其所重也。宋以後之醫家，乃以術為不可恃，而必推求其理，此自宋以後醫家之長。然其所謂理者，則五運六氣之空理而已，非能於事物之理有所真知灼見也。惟重術，故其所依託者，為專門授受之大師，而不必謬托於神靈首出之人以為重。（如孫真人時，江南諸師所秘要方，皆云出自仲景是也。又如前所載王勃《難經·序》，雖亦溯其源於黃帝、湯、文，然其意在自詡其授受之有本，與宋儒之所謂道統，自謂遙接二帝三王及周孔之心傳者不同。）惟重理，乃以儒家所謂道統者，移而用之於醫家，於是神農、黃帝，猶儒家之二帝三王，仲景、元化，猶儒家之有周公、孔子矣。於是言醫者，必高語黃、農，侈談《靈》、《素》，舍是幾不足與於知醫之列矣。率是道而行之，其第一步必以己意註釋古書，而蔑棄前此專家相傳之說；其第二步必且以己意竄改古書，或刪其衍，或補其亡，或移易其篇第矣。此風也，其在儒家開於宋，而橫決於金元，醫家亦然。</p>

<h2>宋學之弊</h2>
<p>宋學末流之弊，在於過尊空想，遂致憑臆見以進退，古人所謂六經皆我註腳，實其致誤之原也。夫為學之道，一本散為萬殊，萬殊歸於一本。孔子所謂一以貫之，孟子所謂博學而詳說之，將以反說約也。名學家歸納演繹二法，實即此理。宋學之興，原因漢唐儒者過於泥古，而不復能推求其所以然，以致窮而思變，故其為學之法，莫不偏重於演繹。夫推論事物，必有其所憑之理，猶幾何學之有公理也，本公理以釋題，必有所據之理，所據之理不誤，而後其所釋之題不誤。《語》不云乎：差以毫釐，謬以千里。宋學之始，雖或偏重空想，然其所執之理，固猶從推求事物而得，雖有差謬，不至大甚也。及其後來，乃不復推求事物，而惟執宋儒所說之理以為理，即就此理推衍之，以得其所謂理者，更執此推衍所得之理，以為推衍之資，而其差謬有不可勝窮者矣。宋學末流之橫決，弊實由此。我國古代專門授受之醫學，魏晉而後，統緒久亡。自宋以後之醫學，實由醫家以意推闡得之。其人多本治儒學，即非儒家，亦不能無囿於風氣，遂移儒者治經談道之說，以施之於醫，而其紛紜不可究詰矣。</p>

<h2>靈素學</h2>
<p>《素問》非古代醫家之金科玉律也。仲景《傷寒》自言撰用《素問》，而書中曾未引及《素問》一語，可知證脈方藥，醫家自有真傳。如《素問》之注重學理者，不過藉資參證耳。自宋以後，言《素問》者始漸多。明以來，乃更奉為天經地義，而又益之以《靈樞》。（元呂復著《群經古方論》，尚不信《靈樞》為古書。）其從事於註釋者，則有馬蒔之《素問注證發微》、張志聰之《素問集註》、高士宗之《素問直解》。其分類纂輯者，則有滑伯仁之《素問鈔》、（此書採王注甚略，明丁瓚有《素問鈔補正》十二卷，汪機有《續素問鈔》九卷，皆多采王注以補之。）張景岳之《類經》。（清虞庠有《類經纂要》三卷，王廷俊為之注，廷俊弟子陳滋和刻之浙江。庠字西齋，歸安人。廷俊字壽芝，成都人。滋和繁江人，為浙江連市巡檢。）而其言錯簡者，則始於黃坤載，坤載著《素問懸解》，謂《本病論》實在《玉機真藏論》中，《刺志論》誤入《診要經》中，《刺法論》誤入《通評虛實論》中，又謂《經絡論》乃《脾部論》之後半篇，《脾部論》乃《十二正經經絡論》之正文。悉取以補闕，仍還八十一篇之舊。其注《靈樞》，亦動以錯簡為言，可謂勇於自信者矣。然《素》、《靈》二書，實皆有訛亂，《靈樞》尤難讀，諸家之言《素問》者孔多，而能治《靈樞》者，卒無其人也。（《素》、《靈》二書，互相復重，又有自相矛盾者，汪昂《素靈類纂約注》，以《素問》為主。沈又彭《醫經讀》分平病診治四門，就二書去其矛盾，而存其可信者，頗合蓋闕之義。蓋自明以來，《素》、《靈》二書，成為醫家之聖經賢傳，凡著書幾無不節鈔二書以冠其首，單行之節本尤多，皆不足語於著述也。）</p>

<h2>難經學</h2>
<p>黃坤載可謂醫家中言錯簡之一大家也。前世治《難經》者，吳有太醫令呂廣、歙縣尉楊玄操，宋有丁德用、虞庶、周與權、（字仲立。）王宗正，（字誠叔。）金有紀天錫、（字齊仲。）張元素，元有袁坤厚、（字淳甫。）謝縉孫、（字堅白。）陳瑞孫，（字廷芳。）皆僅散見於滑伯仁《難經本義》中。（周學海又有增輯本，仍以滑氏書為主，名《增輯難經本義》。）伯仁而後，註釋者亦有數家，（為張世賢之《圖注難經》等。）皆因襲舊文，無所心得，等諸自鄶。今言《難經》，當以滑氏書為古義之淵藪矣。坤載著《難經懸解》，始亦謂舊本有訛，多所更定，仍其治《內經》之故智也。其後徐靈胎著《難經經釋》，又援《內經》以攻《內經》，其實《內》、《難》同為專家相傳之書，未必《內經》果出岐黃，為天經地義而不可變，徐氏必是彼而非此，亦未免依傍門戶之見也。（又有丁錦者，字履中，號適廬老人，乾隆時松江人，嘗著《古文難經闡注》二卷，自序謂遊於武昌，客參政朱公所，得讀古本《難經》，以校今本，誤者有三十餘條，因而為之闡注云云。丁氏所見之本，豈能古於滑伯仁，則亦明人之意為竄亂者耳。）</p>

<h2>傷寒學學派</h2>
<p>諸古書中，諸家言錯簡最甚者，尤莫如《傷寒》。按：傷寒二字，古有二義，一為外感之總稱，一為專指外感中之傷於寒者。《難經》云：（第五十八難。）傷寒有五，有中風、有傷寒、有濕溫、有熱病、有溫病。傷寒有五之傷寒，是總稱外感兼包風寒濕熱而言。有傷寒之傷寒，指外感中之傷於寒者也。（《外臺》許仁則論天行病，謂此病方家呼為傷寒，亦指總稱外感之傷寒言之。）《外臺》所集論傷寒者凡八家，張仲景、王叔和、華佗、陳廩、丘範、《小品》、《千金》、《經心錄》，惟仲景有專書傳世。仲景之書十六卷，論傷寒者居其十，此十卷之盛行，又遠非論雜病之六卷所及。蓋天行之病，傳染廣而死亡多，其危險又非雜病比也。夫天行之病，變化萬端，原無從執古方以治今病，況古代諸家存者，惟一仲景，而其書又竄亂訛奪，不盡可據乎。其有待於後人之張皇補苴，固不俟論。故自宋而後，論傷寒之書亦獨多，成氏《明理論》而外，其著稱者，有若龐安時之《傷寒總病論》，許叔微之《傷寒發微論》、《百證歌》，朱肱之《南陽活人書》，韓祗和之《傷寒微旨》，楊士瀛之《傷寒活人總論》，郭雍之《傷寒補亡論》，或闡其義，或補其方。於仲景書，原不盡主墨守，即明代支離滅裂如陶節庵，（《節庵六書》，曰明理讀論、曰截江網、曰一提金、曰殺車捶法、曰家秘的本、曰瑣言，皆偭越規矩，毫無師法。又有《傷寒全生集》四卷，乃其晚年作以教子者，時為正統十年，節庵年已七十七矣。）亦未嘗以錯簡為言，乃自方中行著《傷寒論條辨》後，而喻嘉言之《尚論篇》繼之，始謂叔和編次，於原書次第，已有改移，無己作注，又多竄亂，遂各以己意更定。（方氏為言《傷寒論》錯簡者之首，自喻氏書後，而方氏之書漸微。康熙甲寅，順天陳起龍為重刻之，並痛詆喻氏之攘善，然喻氏實未嘗全襲方氏，其書中亦未嘗不及方氏，初未嘗掠為己有也。後鄭重光又有《傷寒論條辨續注》之作，據方氏書，參以喻氏及黃坤載、程郊倩二家，仍題中行之名，喻氏書有論無方，其徒徐忠可為補之。徐氏之學，傳諸南昌羅子尚，羅以傳進賢舒馳遠，再重訂《傷寒論集註》十卷，一以喻書為主，而以徐方附之。）自是以後，此風大扇，張路玉則有《傷寒纘論》及《緒論》，黃坤載則有《傷寒懸解》，吳儀洛則有《傷寒分經》，（言傷寒錯簡者，當以黃氏為最有心得。張吳二書，多以喻氏為據。）周禹載則有《傷寒論三注》，（兼採方喻。）程郊倩則有《傷寒論後條辨》，（攻叔和序例最烈，其文字支離蔓衍，幾於遊騎無歸。昔人譏其學金聖嘆未得，為醫中魔道，誠不誣也。）章虛谷則有《傷寒論本旨》，（依喻氏分篇。）無不以錯簡為言，其說亦不為無見。然以此論醫理，則可謂各抒所得；以此治古方，則未免憑虛臆斷。此皆由中國學者崇古之念過深，凡立一說，必欲托之於古人，於古書之不盡可通者，遂不惜曲為穿鑿也。徐靈胎云：叔和所次，誠不敢謂其必合於仲景；諸家所定，謂必能復仲景之舊，又有何證乎？誠持平之論也。（靈胎有《傷寒類方》一卷，謂《傷寒論》原非依經立方，乃救誤之書，當時隨證立方，本無定序，削除陰陽六經名目，但使方以類從，證隨方治，使人可案證以求方，而不必循經以求證，亦為通達之論。）</p>
<p>羽翼仲景書，又有清張隱菴之《傷寒論集註》，與成氏立異處甚多。長州汪苓友（名琥，康熙時人。）有《傷寒論辨證廣注》十卷、《張仲景中寒論辨證廣注》三卷，於仲景書外，兼採後賢方論，皆為之注，（云辨證者，辨其原文所言之證，使各以類相從；廣者，於仲景書外，廣其方論；注則不分仲景書及所廣皆為之注。）雖不甚合注釋體裁，而採摭甚博。涇縣包興言（名誠。）有《傷寒審證表》一卷，頗清晰可覽。興言少遊山左，受學於張宛鄰，宜其著述之有體例也。柯韻伯《傷寒論翼》，謂《傷寒論》中雜病未去者尚多，六經為百病主治，傷寒為百病之首，故藉此以立法。其實傷寒雜病，治無二法，亦有見地。（論辨證者，又有張飛疇之《傷寒兼證析義》，亦宜一覽。）</p>

<h2>傷寒溫熱之別</h2>
<p>傷寒與溫熱、溫疫之別，尤為醫家所聚訟。蓋傷寒二字，古人既為天行病之總名，則其所包者廣，原不僅指《難經》所列五種中之第二種，乃自後世醫者泥於字面，一遇天行之病，輒以辛溫之劑治之。於是陽明成溫之症，見殺於麻桂等方者多矣，此一誤也。疫字之義，指病之傳染者而言，故《說文》云：疫，民皆病也。至其病之性質，則有寒有熱，故傳染熱者謂之疫，寒者亦謂之疫，至後世之所謂「瘟」，其字為「溫」之訛，其義則與疫相同，皆指病之傳染者言，非指病之不寒者言也。乃世醫又泥於字面，偶遇不寒之疫，遂謂凡疫皆溫，本慮醫者以辛溫之劑誤施之溫熱，轉致末流泥溫疫之論，不敢復言傷寒。執一定之方，以馭萬變之病。聖散子之殺人，正由於此，此二誤也。有此二誤，而傷寒、溫熱、溫疫三者之爭，遂如長夜不旦矣，而推其始，則由傷寒、溫疫等字字義之混淆有以致之，立名之不可不審也如是夫。</p>
<p>辨傷寒、溫熱不容誤治者，又有陳錫山（名良佐，山陰人。）之《二分晰義》、楊慄山（名璿，成都人。）之《寒溫條辨》、（呂心齋之《瘟疫條辨摘要》，乃合此二書而成。心齋名田，河南新安人。）秦皇士（名之楨，松江人。）之《傷寒大白》、吳坤安（名貞，湖州人。）之《傷寒指掌》。楊氏之書，實以陳素中（名堯道，陝西人。）之《傷寒辨證》為藍本。陳氏書成於康熙戊午，至嘉慶十一年，有劉鏡浦者乃為刻之。楊氏書成於乾隆甲辰，時陳書尚未有刻本也。陸九芝以楊氏所定十五方，無一不暗用傷寒方，而又切戒人以弗用傷寒方為可怪，又譏秦氏謂仲景麻桂方乃治北方冬月之病，今混用其方，幾於不辨南北，覆勘誠然。然二書亦自有可採處，不容一筆抹煞也。吳氏書條理亦頗清晰。（明皇甫中有《傷寒指掌》四卷，乃陶節庵一派之學，與吳書名同而實大異。）</p>

<h2>溫熱學</h2>
<p>溫熱治法，始自河間，世所傳《直格》、《標本》二書，（見前。）雖未必直出河間手，然實為河間緒論。自是之後，馬宗素有《傷寒醫鑑》、《傷寒鈐法》，劉洪有《傷寒心要》，常德有《傷寒心鏡》，（今皆在河間書中，亦見前。）皆此一派之學。世遂有外感宗仲景，熱病用河間之論，漸歧溫熱於傷寒之外。至吳又可出，而其說又一變。又可於崇禎辛巳，躬遇南北直隸及山東、浙江大疫，以傷寒法治之，不效，乃殫精研究，著《瘟疫論》一書，謂世所稱溫病，即屬瘟疫，古無瘟字，後世以溫去水加疒為之。又謂數百溫證之中，乃偶有一傷寒，數百傷寒之中，乃偶有一陰症。其說未免矯枉過直，雖其指摘俗醫之誤治不無可取，然誤以瘟、溫為同義，遂使世之醫者，並溫熱與溫疫為一談，則又可為之也。至清代江浙諸名家出，而其說又一變。（天行之病，變態萬端，斷不能僅執俗醫治外感之法治之，此義至《瘟疫論》出始大明，故又可書雖不免有誤，而其功究不小。清孔毓禮有評註本，洪天錫又有補註。毓禮字以立，麗水人。天錫字吉人，嘉興人。）</p>
<p>有清中葉，醫家於溫熱治法最所殫心，其論實起自吳中，而托之於天士及生白。（以江南病溫熱者最多也。）世所傳《溫證論治》，首刻於唐大烈《吳醫匯講》中。（見後。）原序謂葉氏弟子顧景文，侍葉氏遊洞庭山，舟中記葉氏所說，未暇修飾，今更為之條達字句，移綴前後云云。華岫云《續臨證指南》，亦首列是編，名為《溫熱論》。二書字句雖異，而用意大同，以「溫邪上受，首先犯肺，逆傳心胞」十二字為主。吳鞠通撰《溫病條辨》，為論溫熱證有專書之始，其旨實本於此。又有所謂《濕熱條辨》者，首刊於舒松摩《醫師秘笈》中，凡三十五條，謂為薛生白作，江白仙刻。陳平伯論疫之語，亦取其二十五條附刊於後，而又別增出十五條，其編次亦與舒氏所刻互異。吳子音刻《醫效秘傳》，又取江氏所刻陳薛二人之作附後，名為《溫熱贅言》，概題為平湖陸增字秋山者所撰。（江刻陳氏之作，皆自稱名曰祖恭，吳刻皆改作予。）王孟英《溫熱經緯》所刻，云得之友人顧聽泉，聽泉得之吳人陳竹垞，則凡四十六條，與吳氏所刻又異。《臨症指南》之不足信，人人知之。薛生白曾孫啟，（字東來，亦精醫。）自述其先世事蹟，亦謂生白不屑以醫見，故無成書。（見《吳醫匯講》。則所謂《濕熱條辨》者，必非出於生白，更無疑義。然此兩種議論，當時頗為風行。章虛谷作《傷寒論本旨》，謂仲景論伏氣溫熱，而不及外感，葉氏之論，足以補仲景之殘闕，示後學以津梁。至暑邪由火濕化合，客於募原，葉氏亦未論及，乃取所謂《溫症論治》、《濕熱條辨》附於《傷寒論》之後，以為施治之准。迨王孟英出，乃盡取《溫證論治》及《臨證指南》之幼科一卷，暨《濕熱條辨》及陳平伯、余師愚諸家之論，附諸《內經》及仲景書之後，以成《溫熱經緯》。蓋當時江浙醫家治感證之法，至此而集其大成矣。（周楊俊《溫熱暑疫全書》四卷，與章王二氏之論相出入。余師愚書名《疫疹一得》，專用大劑石膏為治熱疫之法。《閱微草堂筆記》載治京師大疫之桐城醫士，即師愚也。）方此等議論盛行時，葉派可謂光焰萬丈，而反對之論，亦即起於是時，則王樸莊其先河也。樸莊名丙，吳人，與顧景文同時，嘗撰《傷寒症注》，一依《千金翼方》，謂例中諸條，多采入《千金方》第三十卷中。當時江南諸師，秘仲景要方不傳，孫真人蓋未見傷寒全論，迨作《翼方》時，乃得全論，編次依例。已見於《千金方》中，故不復載也。又撰《傷寒論附余》、《傷寒例新注》、《讀傷寒論心法》、《回瀾說》等書，皆在《世補齋醫書》中。）以伸叔和、闢方喻，然其說未盛也。至樸莊外孫陸九芝，乃大暢其說，謂溫熱傷寒方論，實在皆《傷寒論》中。病之中於太陽者，為傷寒，治用辛溫；入於陽明為溫熱，治用辛涼，太陽症之失於溫散，內傳而成溫熱者治同。仲景書中，本以麻桂治風寒，葛根芩連治溫熱也。至疫則有熱有寒，各當隨證施治，又不當與溫熱混。《世補齋醫書》反復此旨，不啻至再至三。又以陽明為溫熱之藪，特著《傷寒論陽明病釋》一卷，以發揮之。蓋傷寒二字，義有廣狹，其與溫熱、溫疫之辨，實至九芝而後瞭然。九芝之學，近承王樸莊，遠實導源於尤在涇。尤氏《傷寒論貫珠集》，謂少厥二經，實有溫清二法，九芝乃本此推之六經也。戴北山《廣溫疫論》，就吳又可書增刪改削以成之，於溫熱治法最有統系。陸氏謂溫熱、溫疫二名，不容混淆，重訂其書，改名曰《廣溫熱論》，以為治溫熱之標準，（戴氏書初僅鈔本流傳，歙縣有鄭奠一者，亦知醫，其後誤以此書為奠一作，刻之名《溫疫明辨》，題奠一之名，至戴氏之孫乃正之。然《溫疫明辨》一書，至今仍有傳本。）於是溫熱病中又有專書矣。夫《傷寒論》為漢代古書，溫熱為當今專病，謂《傷寒論》中無治溫病之法固不可，若欲責漢代之人包治後世溫熱等萬有不齊之病，亦未免太迂。但《傷寒論》言簡而賅，足為醫學入門之模範，善讀者由此模範，舉一反三，推類而擴充之，則效用自大，若拘其文義，以滋聚訟，於療病仍無裨益也。</p>

<h2>金匱學</h2>
<p>《金匱》一書，治者遠較《傷寒》為少，宋元人皆無註釋，明初趙以德乃有《衍義》之作，其書傳本甚少，故《四庫》著錄，惟得徐忠可所注。然徐書實敷衍無精義，不及趙書之尚有發明。後周楊俊得趙氏書，補其所未備，成二注二十二卷，較徐書遠勝矣。此外黃坤載有《金匱懸解》、程云來有《金匱要略直解》、魏念庭（名荔形，柏鄉人。）有《金匱要略方論本義》，亦均可讀，尤在涇《金匱心典》，條理尤精。</p>

<h2>本草學</h2>
<p>自陶隱居迄唐慎微，凡修輯本草者，皆以古代所傳《本草經》為藍本，已見前。其毅然網羅今古，自成一書者，實始於明李時珍之《本草綱目》。《綱目》凡十六部，六十二類，千八百八十二種，（諸家所有者，千五百十八種，其三百六十四種，為時珍所補。）與周王棣之《普濟方》，實卓然兩鉅著也。自此書出，而《證類本草》日微。</p>
<p>此外明清人論本草之書，可分二派。一宗宋以來潔古、海藏、東垣、丹溪諸家之說，在當時可稱舊派，若劉若金之《本草述》、（楊時泰《本草述鉤玄》系就此書刪節。）倪純宇之《本草匯言》，其選也。一以復古為主，唾棄宋後諸家之論，在當時可稱新派，若繆仲淳之《神農本草經疏》、（此書凡三十卷，其次序一依《證類本草》，清吳懷祖節為八卷，名《神農本草經疏輯要》，然亦有繆氏所無，而吳氏補之者。吳氏名世鎧，亦常熟人。仲淳又有《先醒齋廣筆記》四卷，亦論方藥之作。）盧之頤之《本草乘雅半偈》、張路玉之《本經逢原》、張隱菴之《本草崇原》、徐靈胎之《神農本草經百種錄》、鄒潤安之《本草經疏證》，（此書與繆氏書均最為精博。）其選也。其主於簡易，備初學之用者，以汪訒庵之《本草備要》通行為最廣，吳遵程之《本草從新》，又以汪書為藍本。</p>
<p>李氏《綱目》之後，能搜遺補闕，以匡其所不逮者，莫如趙恕軒之《本草綱目拾遺》。此書之意，以完備為主，故凡《綱目》所已載而治療未備、根實未詳者，仍為補入；其《綱目》所未載者，雖珍貴罕見之物，亦無所遺；《綱目》之僅列其名，而無主治者，亦悉錄入；《綱目》分部之誤者，併為訂正；惟人部無所增。例言謂苟欲求遺，必至於隱怪殘賊中搜羅也。案：恕軒利濟十二種序，此書之外，又有《百草鏡》八卷、（專詳草藥，凡草藥之曾經試驗者，入《拾遺》，其未經試驗者，入此書。）《救生苦海》百卷、《醫林集腋》十六卷、《養素園傳信方》六卷、（以上兩種為驗方。）《祝由錄驗》四卷、《囊露集》四卷、（眼科方。）《串雅》八卷、（見後。）《升降秘要》二卷、《藥性玄解》四卷、（藥性之奇制者。）《奇藥備考》四卷、《本草話》三十二卷、《花葯小名錄》四卷、《攝生閒覽》四卷。《拾遺》例言謂，他日擬作《待用本草》，將宇宙間可入藥之物，未經前人收採者，合為一書，可謂洋洋大觀。今除《拾遺》及《串雅》外，均未見傳本，或疑其書未成，然要為晚近一大家也。</p>
<p>以本草作為韻語，以便誦讀者，有黃鈺之《本經便讀》、張兆嘉之《本草便讀》。（名秉成，常州人。）吳縣朱東樵、（名鑰。）錢塘陸典三（名交謨。）又皆有本草詩，而陸較勝。（見《冷廬醫話》。）南匯徐玉臺（名鏞。）有《儒門遊藝》三卷，上詳脈病，中詳方，下詳藥，都為七言絕句，亦頗簡要。近年此類文字數見不鮮，無非為課徒起見，雖各有剪裁，並無發明處，音韻亦欠調協。</p>

<h2>醫方學</h2>
<p>明清間人方書，不及前人之浩博，而立意求精則過之。其推求古人制方之意者，始於吳鶴皋之《醫方考》，而汪訒庵之《醫方集解》繼之，吳遵程之《成方切用》則又繼汪書而起者也。二書皆以切用為主，故所輯多常用之方。武進費晉卿（名伯雄，孟河人。）有《醫方論》四卷，以鄉曲醫家，多奉《醫方集解》為枕中秘，而不復深求其所以然，乃為其逐一論列其可用不可用，實市醫之當頭棒喝也。王晉三（名子接，長洲人。）《絳雪園古方選注》，論列亦精。許弘《金鏡內臺方議》，專發明長沙之方，亦為別開生面。便於檢用之書，則有祝補齋《衛生鴻寶》，毛達可（名世洪，杭州人。）《養生經驗合集》，（《濟世養生》，《便易》、《經驗》二集之合。）王孟英《潛齋簡效方》、（簡易外治之法。）《四科簡效方》，邱式金《集驗良方拔萃》，（此書詳於外科，內科較略。）皆有名。（鮑相璈《驗方新編》，通行頗廣，而選擇不精。）余亦有家用良方行世，則參用新法矣。</p>
<p>《本草綱目》一書，包蘊宏富，且多存今日已亡之書，至為可寶。即專輯其中之一類，亦足拔戟自成一隊也。以予所見，專輯其醫方者，則有蔡烈先《本草萬方針線》、曹鞠庵（名繩彥，新建人。）《萬方類編》、宋枳田（名穆，山陰人。）《萬方類纂》等書。蔡氏僅就《綱目》所載諸方，為編一目錄，註明某病用某方，見某卷某篇。曹氏則將本草諸方分類編輯，二書分部互異。（蔡書分七部百有四門，凡載千五百餘方；曹書分百有七門，四千三百七十九證，凡載萬一千七百一十三方。）曹氏自謂因蔡氏書刪復補遺，宋氏則謂其所分門類，不及蔡氏之清晰，乃照《針線》門類，將本草各方全行錄出雲。又有《解毒編》一卷，題海陽竹林人編，專就李氏《綱目》中摘出解毒之法，間亦附以聞見所得，亦頗便省覽。</p>
<p>以醫方作韻語便誦讀者，陳修園有《長沙方歌括》、《金匱方歌括》、《時方歌括》，張兆嘉有《成方便讀》，汪訒庵有《湯頭歌訣》，皆各以己意選制，藉課生徒。近來此類發見者尤夥。原夫制歌之意，所以助成方之記憶也，故必音韻悠揚，文辭茂美，始便歌誦。陳為孝廉，張為明經，腹笥文字較多，且於字音平仄夙有研究，故所制均可順口。自汪以下，多以醫生效顰，於是佶屈聱牙，不易讀矣。</p>

<h2>針炙學</h2>
<p>隋唐間針灸書籍，既多亡佚。今之所宗，惟宋王惟德《銅人腧穴針灸圖經》三卷，暨不著撰人名氏之《銅人針灸經》七卷、西方子《明堂灸經》八卷。《銅人腧穴針灸圖經》，為仁宗時惟德奉敕所撰，與其所鑄銅人相輔而行。（見《讀書志》及《玉海》。）周宓《齊東野語》，記宋時所鑄銅人，極為奇巧。（原文云：嘗聞舅氏章叔恭云，昔倅襄州日，嘗獲試針銅人。全像以精銅為之，府藏無一不具，其外腧穴，則錯金書穴名於旁，凡背面二器相合，則渾然全身。蓋舊都用此以試醫者。其法外塗黃臘，中實以水，俾醫工以分寸案穴試驗，針入而水出，稍差則針不可入矣。亦奇巧之器也。後趙南仲歸之內府，叔恭嘗寫二圖刻梓以傳焉。余於民國二十三年五月，至北平遊故宮，入延德殿，見所謂宋代銅人者，長約四尺，圍約兩尺，胸背兩面相連，不能開合，所刻俞穴名，稱經絡部位，均與通行之銅人圖相符。穴有孔，體內全空，並無藏府機件，體外則古色盎然，摩挲良久，恨不能拓樣本攜回也。）則此書當亦專門授受之道，然傳本極少，後慈溪馮一梅乃得三書互校，則惟德經所載腧穴，半為《銅人針灸經》所無，而《銅人針灸經》第二、三、四、六卷所載諸穴，亦有為惟德經所無，併為王冰《素問注》、《甲乙》、《千金》、《外臺》、《聖濟》諸書所未載者，馮氏謂其別有師承，信然。蓋此類專家授受之書，固不過存十一於千百耳。（觀現代書目可見。）《明堂灸經》則依據惟德書刪其針法而成。蓋針之誤人較易，全憑手術與實驗；後世能工其術者少，遂有此專言灸法之一派，《外臺》其先河也。然此書分別部居，實取用《千金方·明堂三人圖》，主治各病，亦兼採《外臺》諸家，故與惟德書仍互有同異。按：《千金·明堂三人圖》序云：舊明堂圖，年代久遠，傳寫錯誤，不足指南，今一依甄權等新撰為定，則《千金》所本明堂，實為甄權所撰，與《甲乙經》所本黃帝明堂不同，（蓋一為舊傳之本，一為新定之本。）今甄權所撰明堂已佚，《千金》所撰明堂三人圖亦不存，猶賴此書見之。又《銅人針灸經》於惟德書所載腧穴不全錄，而此書視惟德書有增無刪，尤可寶也。（以上略本馮氏校識之語。案：馮氏所校，即《當歸草堂叢書》本，其所改字，仍匯記於後，檢閱即仍可見原本之舊，至為矜慎。又案：「明堂」二字，為古人稱人體生理之名，其義未聞。錢曾《讀書敏求記》曰，昔黃帝問岐伯以人之經絡，盡書其言藏於靈蘭之室，洎雷公請問，乃坐明堂授之，後世言明堂者本此。其說當有所本，然恐非古義。《隋志》有《明堂孔穴》五卷、《明堂孔穴圖》三卷，又《明堂孔穴圖》三卷。《唐志》有《內經明堂》十三卷、《黃帝十二經脈明堂五臟圖》一卷、《黃帝十二經明堂偃側人圖》十二卷、《黃帝明堂》三卷、楊上善《黃帝內經明堂類成》十三卷、楊玄孫《黃帝明堂》三卷，今並佚。）</p>
<p>後世針灸之書，亦當分為二派。一為專家所傳，其人皆草澤鈴醫之流，（此以學派言其人，雖為醫官，其學仍屬此派。）如元王國瑞之《扁鵲神應針灸玉龍經》，明陳會、劉瑾之《神應經》，（《四庫書目》不知會、瑾為何許人，以其前載宗派圖，並著其始傳者席弘達誓詞，指為道家野談，然據他書所載，會與瑾皆江西人，會先著《廣愛書》十二卷，慮其浩瀚，乃獨取一百一十九穴以成此書，為學者守約之規，而瑾為之校正，蓋皆當時之針灸專家也。）楊繼州之《玄機秘要》是也。一為世所稱為儒醫者，若元滑伯仁之《十四經發揮》，明高梅孤之《針灸節要》、《針灸聚英》，汪石山之《針灸問對》是也。（滑氏傳針法於東平高洞陽，其學當有所受，《針灸節要》專取《難經》及《靈》、《素》，《針灸聚英》則取《千金》、《外臺》，以後皆據故書纂輯耳。《針灸問對》詞旨極明暢，而其學則無所受，周澂之所謂強不知以為知者也。）大抵專家所傳者，其詞旨多不雅馴，其說考諸古書，或不能盡合，然其授受，具有源流，雖亦不免傳訛，要為一字皆寶。儒醫所輯者，其書多明白易曉，具有條理，然其學既無所受，試問古書之異同，憑何折證，恐不免意為去取矣。（《針灸擇日編集》一卷，前有正統十二年金禮蒙序，謂內醫院醫官護軍臣全循義、司直臣金義孫，共成是書以進，命臣序之云云。光緒庚寅，上杭羅家傑得之日本，重刻之。）</p>

<h2>解剖學</h2>
<p>解剖之學，或謂我國古代無之，非也。人身之臟腑經絡，苟非解剖，試問何由知之？至其不甚密合者，非由古書歲久傳訛，則由古人文義粗略耳。（古人言語，於數目方位，往往不甚精密，如《詩》三百十一篇，舉其大要而言三百篇，即其一證。人之心非在正中，而古書以為在中，亦是當時言語粗略，非必古人不知人心之所位也。凡古書言臟腑經絡之誤，皆類此。然則施之於用，何以不誤？曰，古者圖書相輔而行之外，且有器以與圖書相證，書雖但存其粗，圖與器未嘗不精，正因精者必求之於圖與器，書遂不妨但舉其大要也。觀前引齊東野語，所載宋時銅人可知。）人死則可解剖而視之，其說原始之於《靈樞·經水篇》。《漢書·王莽傳》，載王莽誅翟義，捕得其黨，使太醫尚方與巧屠共刳剝之，量度五藏，以竹筵導其脈，知所終始，可以治病。莽最泥古，其所為必有所據。《讀書志》載楊介五藏存真圖，謂崇寧間，泗州刑賊於市，郡守李夷行遣醫並畫工往，親決膜，摘膏肓，曲折圖之，盡得纖悉。介以校古書，無少異者。《賓退錄》亦載廣西戮歐希範及其黨，凡二日，剖五十有六腹，宜州推官靈簡皆詳視之，為圖以傳於世。又聞《見後錄》載無為軍醫張濟善，用針得訣於異人，能親解人而視其經絡，因歲飢疫，人相食，凡視一百七十人，以行針無不立驗。又程式嘗解剖倭人，見《醫彀》。何一陽從軍南征，亦嘗解剖賊腹，見《赤水玄珠》。清時王清任乘兵亂之際，輾轉就積屍考視藏府，用力尤勤，具見所著《醫林改錯》中。（王氏所制補陽還五一方，滅裂無理，陸九芝攻之是也，至並詆其考驗死人之藏府，則大非。）可見解剖一事，數千年來原未嘗絕跡，特必乘兵荒刑戮之際，而不能公然行之於平時，故能與其事者太少，遂不能互相考求，日臻精密耳。然古者針灸之術，必托始於解剖，斷不容疑，今者欲援求古人之遺緒，亦斷不容不致力於此，必不能但求之於古紙堆中也。</p>

<h2>診脈學</h2>
<p>言脈之書宋以來盛行者，為高陽生《脈訣》。呂復《群經古方論》以高陽生為六朝時人，元謝縉孫《脈經·序》謂在熙寧以後，馬貴與《文獻通考》則謂在熙寧以前。雖亦臆度之詞，然玩其詞義，當以出於北宋時之說為近。其書大致隱括《脈經》而成，而又自立七表八里九道之名，與《脈經》不盡合。宋以來傳習者，多誤以為王叔和作，以故攻之者極多。然書中並無偽託之據，則誤謂出於叔和者，乃習者之傳訛，非作者之託偽也。其書自不如《脈經》之古，然亦必自有師承，必視為淫辭邪說之流，則亦未免太過。蓋自宋元以來，攻此書者甚多，然醫家傳習，卒莫能廢。自李東壁之《瀕湖脈學》出，而此書之傳習始微。《瀕湖脈學》所取以弁首者，為宋道士崔嘉彥所撰之《脈訣》，（稱《崔紫虛脈訣》，亦曰《崔真人脈訣》。紫虛者，嘉彥之號也。）實尚不如高陽生之書也。醫家所以群趨之者，亦不過樂其簡易而已矣。攻高陽生《脈訣》之書，始於元戴同父之《脈訣刊誤》，明汪石山為刻之，附以自著之《矯世惑脈論》一卷。吳鶴皋有《脈語》二卷，亦以攻《脈訣》而作。而清李期叔（名延是，真定人。）之《脈訣匯辨》十卷最詳。其就其書而訂正之者，則有沈鏡之《刪注脈訣規正》四卷。信其書而為之作注者，則有明張天成之《圖注脈訣》四卷。</p>
<p>宋元以來言脈者，當推滑伯仁為一家，其所著《診家樞要》，立說甚精，又著《十四經發揮》一書，於十二經外，益以督任二脈，亦於診家極有裨益。伯仁嘗傳針法於高洞陽，其學固有所受之也。《瀕湖脈學》雖無甚深義，而簡明易曉，與所著《奇經八脈考》，均足便初學循覽。二十八脈之說，始於李士材，診家亦多宗之。清代醫家之於脈，實不過知此兩家已耳。（周夢覺《三指禪》，以緩字為平脈，餘脈乃分陰陽對待，亦頗有見。夢覺號小顛，邵陽人。以多病棄儒業醫，好言修煉，其書中亦多雜道家之說，頗傷駁雜。）清末周澂之於脈學用力至深，既評註滑伯仁之《診家樞要》，又自著《脈義簡摩》、（首部位，次診法，次形象，次主病，次名論彙編，次婦科診略，皆集前人之說，而以己意闡發之。）《脈簡補義》、（《簡摩》推演前人，《補義》則出自撰。）《診家直訣》、（抉前二種之精要，而簡其詞。）《辨脈平脈章句》四書。又撮此四書之精要，而成《重訂診家直訣》，又著《外診簡摩》一種，以備四診。換討之博，研索之勤，宋以後一人而已。（清季張兆嘉《脈診便讀》亦有心得。林慎庵《四診抉微》八卷，先列經文，次匯舊說，而以己意附其後，別為一卷，曰管窺附余，其書於望聞問頗略，而於脈較詳，亦足以資參考。慎庵名之翰，烏程人。）</p>

<h2>驗舌學</h2>
<p>舌法為古人所不詳，僅《傷寒論》有舌白、舌滑之說。元杜清碧《金鏡錄》始推至三十六圖，後又有所謂觀舌心法者，則推至百三十七圖。張誕先（名登，路玉子。）《傷寒舌鑑》就心法刪之，為圖凡百二十，然究未免穿鑿也。又有所謂《舌鑑辨正》者，乃茂名梁特岩（名玉瑜。）所傳，而秀水陶拙存（名保廉。）為之筆錄，以蜀中所刊《舌鑑》為藍本，故名。據陶氏序謂光緒癸巳官新疆，患熱症，醫家誤投滋陰降火之劑，益劇，明年以友人言，求治於梁氏，梁氏觀其舌，決為實熱，投以苦寒多劑乃愈。叩其學，則出於家傳，以觀舌色舌苔為主，今是書首冠《全舌分經圖》，謂得之明季良醫秘授，以察五藏病機，遵之數世，確有微驗云。其或醫家之別傳歟。</p>

<h2>辨症學</h2>
<p>醫家多好言脈舌，其實言脈舌，尚不如辨症之切。脈舌有遊移，證象無假借也。脈舌者，醫家所獨知；證象者，人人所共見也。故病家之當略知證象，實較醫家為尤切。然從來言脈舌者多成書，而言證象者少專著，豈以其為人人所共見而忽之歟？抑以為但知證象，不足以言治歟？以予所見，惟鎮海蔣金鏞有《臨病考證》一卷，分別病證，本之六經。其自序謂治病者在辨症，辨症既明，服藥可無虛虛實實之禍。欲使病家先明表裡虛實寒熱大綱，亦得以考醫之良否，莫若摘述醫籍，使可按症而稽云云。書雖淺近，實於病家大有裨益，尊生者所宜家置一編也。</p>

<h2>清代學派</h2>
<p>明清間諸醫，文辭優美者，當推黃坤載。坤載所著各書，雖不免偏激，且自許太過，然其中精闢之論亦多，非貌為中庸者所可及也。（坤載所著書，曰《素問懸解》、《靈樞懸解》、《難經懸解》、《傷寒懸解》、《傷寒說意》、《金匱懸解》、《長沙藥解》、《四聖心源》、《四聖懸樞》、《玉楸藥解》，凡十卷，理想多而經驗少。書生愛其文詞，憑此習醫，往往未能恰當，蓋醫為實驗技術，文詞優者技術未必佳，技術優者無暇習文學，而今人每喜以文字評騭醫生優劣，皆未諳事實之故也。）浩瀚精博者，當推王肯堂。所著《六科準繩》一百二十卷，集歷代醫說，為後學津梁，採摭繁富，條理分明，《四庫提要》稱其博而不雜，與時珍《綱目》為吾國醫藥兩大淵藪。（肯堂，字宇泰，又字好古，金壇人，明萬曆時進士，至清初而沒。著有《傷寒準繩》、《證治準繩》、《類方準繩》、《女科準繩》、《幼科準繩》、《外科準繩》六種，稱為《六科準繩》。都數百萬言，所輯多精當適用，為儒醫之能通達事理者。）其崛起於江西者則為喻嘉言，嘉言之《尚論篇》，雖不免多臆斷，然《寓意草》及《醫門法律》，持論皆謹嚴，能示醫家以一定軌範。其繼《準繩》而由博返約者，則為張路玉之《醫通》及《傷寒纘論》、《緒論》、《本經逢原》等書，採取之書百數十種，體例一本諸《準繩》，方藥則多采立齋、景岳兩家，可謂用力深而搜討勤矣。（張路玉，名璐，長洲人。書成於康熙初年，聖祖南巡時，其子進呈。）其次則吳謙之《醫宗金鑑》，以政府之力，集全國醫家學說，取中正平和者，釐為十一科，綱舉目張，常識充足，遂為有清一代醫林之楷範，與喻嘉言、張路玉稱為清初三大家。（是書為乾隆初年詔太醫院諸人合各省醫家共同編輯，故名《御纂醫宗金鑑》，實則吳謙一人之原稿所擴充修正者。書成後頒布天下。乾嘉道咸同五朝之習醫者，於《內》、《難》、仲景之外，即以此書為入手方去。蓋其平正通達，條理分明，所集方藥雖多，而以理法為重，不拘泥於一偏之說，故全國可以通行。以徐靈胎之精博不阿，尤稱熟讀此書，可以名世，則內容之優美可知。余始創中醫專校時，即以此書為教科藍本，今人薄其官書平庸，不肯注意，惜哉。）張路玉之前，則張隱菴以注《內》、《難》、《傷寒》、《金匱》、《本經》名。（皆集諸及門之力參訂而成，高士宗，其弟子也。）清廷編《御纂醫宗金鑑》外，又有《圖書集成·醫部全錄》，則更浩如煙海矣。</p>
<p>此外負盛名於吳中者，則為葉天士與薛生白。天士於溫熱證及幼科，生白於濕溫症，均各具心得，而葉名尤著，然互相攻訐，傳書多偽，今世所行《臨證指南》，已多不可信，其他更無論矣。（天士名桂，生白名雪，均蘇州人。因天士名盛，故依託者尤眾，陳修園早年著書亦多託名天士，後乃改正，見《修園醫書》例言中。今世所傳各書，稱為天士所著者，《景岳全書發揮》為無錫姚頤真所撰，坊賈因其滯銷，乃改刊天士名，見《冷廬醫話》。《醫效秘傳》及《葉薛繆三家醫案》為吳子音名金壽者所刻，《秘傳》已極無謂，《醫案》三家，如出一手。又有《本草經注》、《本事方釋義》，及光緒甲午常熟繆萼聯所刻之《醫衡》，皆鄙陋至甚，不知誰所作偽。《臨證指南》為無錫華南昌岫云所輯，岫雲實不知醫，既欲藉此牟利，書又錯雜殊甚，續篇刻未成而岫云卒，其友岳廷璋勸徽蘇商人共成之。又有《葉案存真》者，為天士玄孫萬青所刻，云為《臨證指南》所遺，亦無甚可取。《葉薛繆三家醫案》者，謂天士、生白及繆方彥也。方彥字遵義，亦舊時吳中名醫。生白無著述，已見前。陸九芝云繆氏我之所自出，初不聞其有此方案，其不足信概可見矣。坊刻又有《醫經原旨》六卷，亦題薛生白名，尤少意義。葉氏《眼科方》一卷，在《荔牆叢刻》中，乃當時眼科醫傳授之書，亦託名天士，可見偽託者之多。）其卓然可稱大家者，實無過徐靈胎。（靈胎名大椿，一字洄溪，吳江人。博極群書，兼精技擊，性情肫摯，文詞茂美，所著除醫籍外，又有《道德經註釋》、《陰符經註釋》、《太乙神針》、《洄溪道情》等種。）靈胎於各科古書，靡不攻究，實足當博大精深之目，其所著《醫學源流論》一書，持論既極通達，《蘭臺軌範》一編，體例尤為謹嚴，（此書方論多取諸《內》、《難》、《傷寒》、《金匱》、《千金》、《外臺》，宋以來書所取者甚鮮。）其評騭攻砭及開示流俗諸書，亦皆精博切用，（所評騭者，如《外科正宗》及《臨證指南》等是。所攻砭者，如《醫貫砭》等是。開示流俗之書，如《慎疾芻言》是。王孟英嘗重刻《慎疾芻言》，改名《醫砭》，靈胎所批閱之書，凡千餘種，見王孟英《醫砭》序述秀水呂慎庵之語，然傳者不多。今坊間所見《徐評瘍科選粹》，舛誤頗甚，決非靈胎作也。《洄溪醫案》一卷，亦王孟英所刻，又《洄溪秘方》一卷，在余嘯松《白岳庵雜綴》中，嘯松得之呂慎庵，慎庵得之王孟英，孟英得之金復邨，復邨乃洄溪之弟子也。）所謂學識俱深，明清以來醫家殆無其匹也。與靈胎同時研究古書，足稱精到者，有柯韻伯。（見前。）而後起諸家中之博大者，莫如魏玉璜。（見後。）此外一時前後，南北之以醫名者尚多，然多以外感證著稱。（如秦皇士、周禹載、程郊倩、吳鞠通、吳坤安、章虛谷、劉松峰、余師愚等。均見前。）其奄有眾長者，當推王孟英。（孟英名士雄，海寧人。所著有《溫熱經緯》、《霍亂論》、《俞氏古今醫案案語》、《潛齋簡效方》、《四科簡效方》、《蓬窗錄驗方》、《聖濟方選》、《隨息居飲食譜》、《潛齋醫活》、《歸硯錄》等。其中惟《聖濟方選》一卷未見刊本。其醫案初刻曰《回春錄》，為周鑅所輯。續刊曰《仁術志》，為趙夢齡等所緝。《回春錄》多雜證，《仁術志》則感證為詳。道光三十年，楊照藜合為一編，易其名曰《王氏醫案》，加評點刻之，又《重慶堂隨筆》，為孟英曾祖學權所撰，今坊間亦與孟英諸書合刻。學權字秉衡，子國祥，字永嘉；國祥子升，字大昌；世以醫名。）而陳修園之明白曉暢，足以啟悟初學，亦自有獨到處。（修園名念祖，長樂人。所著者凡十五種，曰《神農本草經讀》、曰《靈素集註節要》、曰《傷寒論淺注》、曰《長沙方歌括》、曰《金匱要略淺注》、曰《金匱方歌括》、曰《傷寒醫訣串解》、曰《傷寒真方歌括》、曰《景岳新方砭》、曰《時方歌括》、曰《時方妙用》、曰《醫學從眾錄》、曰《醫學實在易》、曰《醫學三字經》、曰《女科要旨》。今坊間所刻陳修園醫書，乃至六七十種，甚至以元明人之作羼入其間，謬矣。）其餘有所著述，為醫家所宗仰者，若沈芊綠、（《沈氏尊生書》。）景嵩崖、《嵩崖尊生書》。）程鍾齡、（《醫學心悟》。）羅淡生（《名醫匯粹》及《方論》。）之流，則指不勝屈矣。</p>

<h2>女科學</h2>
<p>今世所傳女科書，始於唐昝殷之《產寶》，然《史記》稱扁鵲過邯鄲為帶下醫，仲景《傷寒》自言撰用《胎臚藥錄》。釋之者曰：胎，女科書；臚，兒科書也。證以古傳幼科之書，名《顱囟經》。其說良是。則女科之由來舊矣，《產寶》久佚，近人乃得之日本重刻之。書凡三卷，分四十一門，每門皆前有短論，後刊方藥，其體例與《千金》略相似，真古書也。宋代書之存者，有李師聖之《產育寶慶集》、朱端章之《產科備要》、（此書凡八卷，《四庫》未收，然採摭宋以前方論頗廣。）薛仲軒（名昂。）之《坤元是保》（《四庫》亦未收。）及無名之《產寶諸方》等。然均流傳甚鮮，惟陳自明《婦人大全良方》，以薛立齋嘗加刪訂，刻入《薛氏醫案》中，通行較廣。然陳氏書用藥，多主古義，薛氏矯之，專以理氣血調脾胃為主，未免流於鄉愿，雖以陳氏書為原本，實則貌合神離矣。清武之望、汪淇嘗取《證治準繩》中之女科評註刻之，名《濟陰綱目》，（幼科亦有詳註，名《慈幼綱目》。）一時亦頗通行。清代人所著書，以蕭慎齋之《女科經綸》、陳修園之《女科要旨》、沈堯峰之《女科輯要》為最佳。（《蕭氏全書》，本名《醫學經綸》，其女科摘出別行，通行較全書為廣。周卓人亦有《女科輯要》，與沈書同名。卓人名紀常，山陰人。其書系兼採張景岳《婦人規》及《竹林寺女科方》而成也。）倪鳳賓《女科要略》，立論稍偏，而亦極有見地。其專論胎產者，有閻誠齋（名純璽，宣化人。）之《胎產心法》、（此書採輯頗完備。）汪樸齋（名喆，休寧人。）之《產科心法》、單養賢之《胎產全書》等，而張曜孫（吾邑文學家張翰風先生之子。）之《產孕集》體例最為高雅。（《達生篇》、《大生要旨》等，治法不甚完備，僅備平人查檢。何杏園所刻《胎產金針》，較此二書少詳。）傅青主（名山，陽曲人。明末諸生，博學尚氣節，入清不仕，以醫濟世，名重一時。）《女科書》，山西鈔本甚多，道光丁亥，張鳳翔始校刻之，《海山仙館叢書》又有刻本，（陸九芝又有重訂本，在《世補齋醫書》中。）其書多與陳遠公《石室秘錄》相同，不知陳傅二君，所本同出一源邪，抑好事者襲陳書而托諸傅也。（近來坊間又有《傅青主男科》，則偽，茲不論。）《竹林寺女科方》者，蕭山竹林寺僧人，托諸明季異人所傳，嘗為人治病，頗有效，浙人尊之若神，久之，僧人之技日以陋劣，診察之術皆無所知，僅大略按證處方而已，後遂為縣令所禁。其書刻本有數種，名目亦各不同，考其方論，大略以清滋為主，蓋醫家尊信丹溪者之所為，僧人慾炫流俗，遂妄云異人也。</p>

<h2>幼科學</h2>
<p>幼科之書，古蓋以顱囟名。《御覽》七百二十二，引張仲景方序，有云：衛泛好醫術，少師仲景，有才識撰《四逆三部厥經》及《婦人胎臟經》、《小兒顱囟方》三卷。今世所傳《顱囟經》，前有序文，托諸黃帝時師巫，論者多斥為荒誕，然《宋志》著錄即如是，《千金方》云：古有巫妨者，始立小兒《顱囟經》。（《病源》作巫妨。）則其說初非無因，《宋志·錢乙傳》言乙始以《顱囟經》顯，則此書蓋自古專家相傳，至宋而始顯於世也。</p>
<p>宋時幼科書，晁陳所著錄者，有《嬰童寶鏡》、《小兒靈秘方》、《小兒至訣》、《小兒醫方妙選》等，今皆不傳。其存者，惟錢仲陽《藥證直訣》、閻孝忠《小兒方》、董及之《班疹方》、（周澂之《醫學叢書》本，閻董方各一卷，即附錢書之後，系據宋本重刻。案：此書本甚少，清《四庫》雖曾從《永樂大典》輯出，然與宋本不甚合。）陳文中《小兒痘疹方》（《薛氏醫案》及《痘疹大全本》。案：《痘疹大全》系明吳勉學所校刻，此書外，又有明蔡維藩《小兒痘疹方論》一卷、陳蔡二先生合併《痘疹方》一卷、明郭子章《稀痘方論》二卷、《痘疹寶鑑》二卷、《萬全痘疹全書》二卷、聞人氏《痘疹論》二卷。按：《痘疹全書》實萬全所撰，楚人黃廉竊為己有，見全自書《痘疹碎金賦》，後勉學此刻，前亦列陸穩一序，誤為廉作。）及無名氏《小兒衛生總微論方》數種。《小兒衛生總微論方》系嘉定丙午何大任出其家藏本所刻，方論頗為完備，欲窺宋以前幼科治法者，莫善於此書已。《活幼新書》二卷，元衡州曾德顯撰，（名世榮。）據自序，其書出於宋太醫戴克臣，（名堯道。）克臣傳諸劉茂先，而曾氏得之茂先五世孫直甫，（名思道，亦通醫。）則亦宋以前書也。此書中國久佚，而日本尚有刻本。又明徐用宣《袖珍小兒方》十卷，其中存古方論亦頗多。</p>

<h2>痘疹學</h2>
<p>痘疹之名，古代醫籍中所不見，（古書並無「痘」字，）其病究始何時，不可確考。要之古即有之，亦必至宋以後始盛也。當時治法，率宗錢仲陽、陳文中兩家，錢近涼解，陳偏溫補，朱丹溪出，乃折衷其間，解毒、發表、和中三者兼用，一時醫家翕然宗之。然治法究未完備。近聶久吾之《活幼心法》、（此書有清代歐陽調律刻本，改名《痘疹慈航》。）魏桂岩之《博愛心鑑》出，始有一定之標準途轍可循。朱純嘏之《痘疹定論》、朱惠明之《痘疹傳心錄》，實原本二書更求完備者也。而其開示後學最切者，要無過萬密齋，故《世醫心法》一書，迄今醫家誦習不廢。（翁仲仁《痘疹金鏡賦》十一篇，亦便誦習，清俞天池有註釋本，名《痘疹金鏡賦集解》。天池名茂鯤，句容人。）翟玉華（名良，青州人。）之《痘科類編》長於治郁，清唐威原（名維德，山東益都人。）之《痘科溫故集》宗之。費建中《救偏瑣言》，專為偏於溫補者說法，亦一時名家也。清代人所著書，以葉大椿《痘學真傳》為最佳。（《摘星樓治痘全書》，明朱一麟撰。一麟字應我，涇川人。其書於古來治痘疹之書，網羅最為完備。一麟從孫遵先，為之編訂，成十八卷，道光六年，遵先侄珔始刊行之。）</p>
<p>疹者，幼科中之一證也，而其後於幼科中蔚為大國。痘者，亦疹科中之一證也，而其後於疹科中蔚為大國。無他，其為害烈也。惟疹之為害，降而愈烈，故治疹之法，亦降而益詳。其初各家之書，皆痘疹不分，且多痘詳而疹略。至明呂坤，始著《疹科》一卷，專言治疹之法。清洪謙鳴之《痘疹心法》、謝樸齋之《麻科活人全書》繼之，換輯更為完美。其名家專著，則有鄭卜年（名啟壽，鄞人，以治瘄名鄞、奉、象三邑及臺郡者數十年。）之《鄭氏瘄略》、（一卷。）夏云穎之《麻疹秘錄》、（云穎名子俊，黃岩人。有《醫理信述》六卷，乃其邑人柯琳所輯。此書與《痘疹秘錄》各一卷，後刻總名《醫理信述補遺》。）孫安四（名能遷，昌化人。）之《闕待新論》（二卷，上卷為方論，下卷為治案。書名取闕疑待問之意。）亦均足資參考。晚近以來，梅毒益盛。交通便利之處，麻疹多與喉證併發，故言治疹之法，又多與喉科相出入，揚州夏春農遂有《疫喉淺論》，孟河丁甘仁亦有《喉痧概論》，學理愈後愈精矣。</p>
<p>種人痘之法，始見於朱純嘏《痘疹定論》中。種牛痘之法，則始於邱浩川之《牛痘新書》。（西洋牛痘之法，始入中國時，邱氏在廣東施種者數十年。此書又有金陵善後總局刻本，經丹徒王惇甫增刪，非復邱氏之舊。）邱氏之書，六傳而至蔣致遠，著有《牛痘要法》，在《白岳庵雜綴》中。種痘之在今日，自以採取西醫新法為便，然胎毒重者，對於大痘仍不能免，即成人方面，亦有因流行性而感受者。往年治痘專家，對於溫涼攻補，大都純熟，應付變化，如珠走盤，其治效實非西醫所及，今則通都大邑，種痘盛行，於是治痘之法漸晦，甚為可惜，故醫家對於此層，仍宜研究也。</p>
<p>小兒之有驚風，即古書所謂痙也。後醫立驚風之名，以施治療，中肯者少。方中行著《痙書》一卷，始歷引《素問》、《傷寒》、《金匱》以發明之，喻嘉言、（《生民切要》、）程鳳雛（《慈幼筏》。）咸闡斯義，而其治法則至陳飛霞（《幼幼集成》。）始詳，最新則有嚴蒼山《腦膜炎學》。</p>
<p>清初幼科最著名者，為馮楚瞻所著《錦囊秘錄》，凡分內經纂要、雜症大小合參、痘疹全集、雜證痘疹藥性合參四種。馮氏謂前此幼科治法，多偏重先天，大人治法，多偏重後天，而痘疹雜證二家論藥性之言，亦不能相合，往往此宜彼忌。意欲觀其會通而溝合之，雖所論未必盡當，要不愧體大思精之目。此後幼科中能自樹立者，當推程鳳雛、陳飛霞兩家。武進莊在田（名一夔，精兒科。）《達生》、《福幼》兩編，雖卷帙寥寥，而論痘疹、痙證治法頗精當，醫家病家均不可不一覽。</p>

<h2>推拿學</h2>
<p>推拿之術，世所傳者，有歷陽駱潛庵（名如龍。）《推拿秘書》五卷。（一卷論診法，二卷穴道，三卷手法，四卷病證，五卷良方及祝由。）據其子民新敘文，述其父之言曰，予得此良法秘書已久，不忍私藏。則實非駱氏所自著，蓋亦專家相傳之書也。其書文理頗劣，余嘯松謂其有誤處，刪為《推拿述略》，刊於《白岳庵雜綴》中，然余氏所刪，似嫌太略。近年滬上盛行推拿法，於不運動之膏粱身體最宜，幼科推拿亦甚效，其著於書者，則有駱如龍（溧陽人。）《幼科推拿秘書》（商務書館出版。）等書。</p>

<h2>外科學</h2>
<p>瘍科之書，以《劉涓子鬼遺方》為最古。（此書所用藥品，多於《傷寒》、《金匱》，少於《千金》、《外臺》。）宋李迅《集驗背疽方》、無名氏《急救仙方》、竇漢卿《瘡瘍經驗全書》，（《四庫提要》云，竇漢卿裔孫夢麟所託。）亦多存古法。然瘍醫惟知攻毒，於全體證治不甚了了。惟宋陳自明《外科精要》，明薛立齋《癘瘍機要》、《外科樞要》辨析較精。及汪石山之《外科理例》出，發明治外必本諸內之旨，外科治法始一變。清代徐靈胎以明醫博綜眾科，於外科尤為精造，所評《外科正宗》，（明陳實功撰此書，於病名、治法、方藥頗為完備。）辨析精微，一洗瘍科專家之陋。又有洞庭王維德，出其祖傳秘術，著《外科證治全生集》，（此書以述其家傳之學為宗旨，凡治法與世醫無異同者不具。）發明癰疽之冶，當別陰陽，著濫用刀針之戒，以消為貴，以托為畏，而外科之治法始臻於安全。惟王氏徒以色之紅白別陰陽。其法仍未盡善，而戒用刀針太過，亦不免有流弊，至謂不諳脈理，亦可救人，則仍不脫前此瘍醫之陋習。武進孟河馬氏，以瘍科名者數世，同、光間之馬培之，尤為著稱，著有《醫略存真》一卷，辨析刀針之當用與否，又嘗批評《全生集》，分別其治法及方藥之短長，均極精當。蓋晚近瘍科之術，實能融貫眾科以自輔，迥非前此暖暖姝姝，但守專家之傳者所敢望已。（治外必本諸內，是中醫要訣。其對於外症之辨別陰陽、消腫、潰膿、托裡生肌、開刀、打針諸法，均極有研究。其能兼通內科，熟諳藏府病理者，用藥尤精當。今人多謂內症宜中法，外症宜西法，殊不知西醫長處，在解剖縫割及清潔，於搶彈機械傷最宜，若關於六淫七情之外症，則懵然莫辨其由來，但守見症治症之旨，故收效不及中法之速。盲從之士，不辨外症性質，自貽伊戚者多矣。培之名文植，治內症亦長，見賞於孝欽後。）</p>
<p>清代瘍科名著，又有顧練紅《瘍醫大全》、高錦庭《瘍科心得集》兩書。顧書網羅浩博，不愧大全之稱。高書於辨證最精，論述諸證，每多不循瘍科舊例，每以兩證互相發明，用藥尤能融合內科治法，洵無愧心得之譽也。</p>
<p>治疔向無專書，宋無名氏《救急仙方》，命名最多不過十餘種。《醫宗金鑑》中，亦只二十餘條。慈溪唐氏，藏有《刺疔捷法》，名目較繁，然略用藥，而詳辨症，甚有僅列其名，並無治法者。無錫過鑄，少習內科，後以手指患疔，為庸醫所誤，乃發憤研究外科，於治疔尤為留意，晚乃褒輯諸家，成《治疔匯要》一書。黴瘡古無治法，近世瘍科書亦不甚詳。明季海寧陳九韶（名司成。）嘗著《黴瘡秘錄》一書，（書成於崇禎壬申。）在中國久佚，光緒乙酉，蘇州浦氏得之日本，重刻之，並有日本和氣惟亨評語，皆瘍科中之專論一證，足資參考者也。</p>

<h2>喉科學</h2>
<p>咽喉一科，古書傳者甚鮮，明醫惟《薛立齋醫案》中有《口齒類要》一卷，此外更無論著。蓋自宋以來，醫家之著書者，多以讀書人而改業醫，或好研究醫道，其草澤鈴醫之流，仍抱專家之傳者，則多不甚能著書。世之所謂儒醫者，亦不屑師其人。然專科之術，非有師授不能通。此現今醫書所以屬於內科者汗牛充棟，而他科則寥寥也。喉科專家書之傳者，無過於《重樓玉鑰》，此書凡四卷，第一卷總論證治，第二卷論方藥，第三、四卷論針法。原敘有云：（此敘亦不著撰人名氏。）吾鄉鄭梅澗先生，性好岐黃家言，其先世得喉科秘授，故於此尤精，遠近無不知之，救危起死，不可勝數，予嘗見有垂斃者，先生刺其頸，出血如墨，豁然大愈，其妙如此，而未嘗受人絲粟之報云云。今第二卷中，附論喉間發白證一條，特標之曰附錄梅澗論證一則。此書蓋非梅澗所自撰，觀此書所論，實以針法為詳，方藥為略。原敘述鄭氏治療，亦以針刺收效，其確為專家傳授可知，而世無能通其術者，徒能取其養陰清肺一方，托之神怪，可慨也已。</p>
<p>《咽喉脈證通論》一卷，道光七年刻本，前有仁和許乃濟一序，謂浙西有世業喉科者，應手立愈，顧秘其書，不肯授人。吾家珊林孝廉購得之，參校付梓，題曰《咽喉脈證通論》，相傳宋有異僧，寓杭之千佛寺，遺一囊去，中即是書云云。則此書之名，蓋亦許氏所命。光緒間，武進費晉卿得寫本四五，校定同異。謂棉花瘡一症，元時始入中國，而書中言之鑿鑿，則宋時異僧之說，出於偽託可知。然其書於虛實緩急，辨析造微，當系元明間一巨手，其論甘桔湯為喉證所忌，尤為獨創，乃校而刻之。費氏命名，與許氏相同，當仍以許書為主，然漏許序未列，讀者遂莫知其原始矣。</p>
<p>《喉科秘鑰》二卷，為歙縣許樂泉（名佐廷，精喉科。）所刻。其序云：道光庚子，見鄉先輩鄭西園專業是科，回生起死，咸目為仙。留心訪之，蓋有秘傳善本，輾轉覓得，凡三晝夜鈔成，後遇此症，按方施治，無不立效。同治二年春，於役下蔡，遇賊奔避，行李書篋捐棄一空。明年春，監修泗洲試院，見舟人攜竹篋求售，識為故物，遂購得之，余物皆失，而是書獨存。秋晤句容楊春華，方以重價購得《喉科紫珍集》，因並刻之云云。按：《重樓玉鑰》，道光十八年，許氏初刻序中，亦謂不知鄭梅澗為何許人，此鄭西園者，或與梅澗有關歟。（《紫珍集》分載七十二證，亦專家相傳之書。）</p>
<p>白喉一證，蓋盛於嘉、道之際，其治法惟散見於《吳醫匯講》、《瘍科心得集》中，然皆語焉不詳。世醫每執傷寒之法，以辛溫升散治之，貽禍頗烈。後乃有《白喉忌表抉微》者出，托之洞主仙師乩語，（纂錄此書者，自署曰耐修子。）風行頗廣，實即取諸《重樓玉鑰》中也。然白喉實亦分表裡兩途，偏執養陰，亦未不嘗足貽誤。嘉慶六年，常熟陳耕道著《疫痧草》一書，立疏達、清散、清化、下奪、救液諸法，而白喉治法始立。光緒九年，揚州夏春農復著《疫喉淺論》一書，大體祖述陳氏，而方法尤備。衡山李倫青（名紀方。）得其外祖李慎徽之傳，著《白喉全生集》一卷，（書成於光緒八年。）以寒熱為綱領，寒熱中又分輕重虛實，審證既的，而用藥隨之，（即吹藥亦分三種。）可謂治白喉最善之書。宣統元年，江陰尚有刻本，惜經癸丑之亂，求之已不可多得矣。（《白喉證治訂誤》一卷，曲阿韓善徵止軒撰，就《重樓玉鑰》，《忌表抉微》兩書，增其未備，訂其錯雜，亦可參閱。《痧喉經驗闡解》一書，不著撰人名氏，祝補齋《衛生鴻寶》嘗採之，別有單行本。元和金德鑑以己意增刪，易名為《爛喉丹痧輯要》。然所增皆咽喉通治之方，與丹痧不涉；又增委中、少商二穴刺法，藿香正氣一方，則並混丹痧與痧脹為一談，大可噴飯矣。醫家誤不至此，殆坊賈所為也。）</p>

<h2>眼科學</h2>
<p>眼科最古之書，為《銀海精微》。此書題為孫思邈撰，然唐宋《藝文志》皆不著錄，蓋亦專家所託也。其書辨析諸證，頗為清晰，手法方藥，亦多可用。此外明清二代所傳者，又有《金鎞秘鑰》、（題梁溪流寓李藥師撰，不知何許人。）《眼科龍木論》、（李氏《綱目》已引之。）《眼科捷徑》、（一卷，不著撰人名氏。論眼病有五輪八廓七十二證之分，詞甚簡略，惟所附方藥頗多。）《眼科秘旨》、（在《謝甘澍醫學集要》中，亦不知傳自何人，其用藥頗與《本草》不同。）《啟矇真諦》（上卷曰《一草亭目科全書》，清清江鄧苑博望撰，下卷曰《異授眼科全書》，不著撰人名氏。）諸書。而傅氏之《審視瑤函》，條理最稱明晰，《薛立齋醫案》中亦有《原機啟微》二卷。</p>

<h2>傷科學</h2>
<p>傷科書傳者更少，《醫宗金鑑》所載，即本薛氏《正體類要》而擴充之。此外所見，惟上海錢松溪（名秀昌，其師名楊雨蒼。）《傷科補要》、（四卷，）紹興俞星階（名應泰，精手術。）《傷科捷徑》二種。蓋傷科多賴經驗與手術，有非筆墨所能形容，而精此者又多不通文義，故紀錄更難也。</p>

<h2>腳氣病</h2>
<p>腳氣一病，蓋始於晉之東渡，趙宋以後，此病頗衰息，近數十年乃復有之，蓋復自海外傳入也。古人方論，略散見於《千金》、《外臺》等書，專書存者，惟宋董及之之《腳氣治要》。（《宋史·藝文志》一卷，《四庫》從《大典》輯出，分為二卷。）近人所著，則有南海曾心壺（名超然，精內科。）之《腳氣芻言》，（一卷，其治法主用陳修園雞鳴散，參以朱丹溪四物湯加減。）此病中西治法均少把握，所望今日醫家，酌古准今，更加研究也。（吾友馮端生在南京治此症，以大劑六君為主，參以陳糠、赤豆、牛膝、木瓜、檸檬、蘋果之類，屢著奇效，蓋健脾以御濕，理氣以和絡，比之四物之呆滯及雞鳴之破氣傷脾者，超妙多矣。）</p>

<h2>霍亂病</h2>
<p>霍亂之名，《傷寒論》中即有之，《病源》、《千金》、《外臺》亦皆有其方論。然古之所謂霍亂，實並非今之所謂霍亂，（不若今之劇。）不可因好古而反受泥古之害也。近世醫家論此病之書甚多，以王孟英之《霍亂論》為最完備。姚梓欽（名訓恭，丹徒人。）之《霍亂新論》一卷，成於光緒二十八年，謂此病中西治法均不甚效，其父（名成鼐，字燮和。）行醫數十年，嘗本紫雪丹之意，推廣用之，收效已逾千人。梓欽於己未丙申療過數百，戊戌壬寅又驗過多人，末又甚誇白痧藥之功效，（其方用生半夏去黃皮四兩、貝母二兩、麝香四錢二分、大梅片四錢二分、白硼砂二兩、犀牛黃二錢、杜蟾酥九錢，研末。姚氏謂凡患霍亂者，誤嗅紅靈丹及他種痧藥，則脈愈伏，肢愈冷，且致冷汗淋漓，惟嗅此藥則脈伏者起、肢冷者溫，俄頃之間，即著此效。）謂得此方後，治霍亂皆令先嗅此藥少許，隨進左金丸一二錢，病輕者已可望愈，重症則接服解毒湯二三劑、紫雪丹二三分，無不愈者。不知霍亂有寒熱之別，烏能專偏一面為治，寒者溫之，熱者涼之，虛者補之，實者和之，治法較西醫為密，但西醫之鹽水針，能救危亡於頃刻，其術較中醫為優，故治疫能用中西合參，方為完善。</p>

<h2>痧脹病</h2>
<p>痧脹之名，蓋亦起於近世，清尚稱為番痧，或滿洲痧，殆自關東傳入內地也。郭又陶始著專書論之，名《痧脹玉衡》。後有閩人林某，竊其書易名曰《痧症全書》，其通行反較郭書為廣。巴郡歐陽調律嘗約《玉衡書》為《治痧要略》，詳於方論，而砭法僅存大綱。又有《痧症指微》一卷，不著撰人名氏，列雜證五十，大證十六，各詳經穴，以施針灸，而方藥少簡，二書有合刻本，名《痧法備旨》。</p>

<h2>鼠疫病</h2>
<p>中醫治鼠疫之書，有廣東羅芝園之《鼠疫約編》，其書積歷年經驗，屢加增補，頗病凌雜。光緒二十七年，楊仙鄉屬鄭肖岩（名奮揚，精醫。）訂正，刻之福州，凡分八篇，一探原、二避疫、三病情、四辨脈、五提綱、六治法、七醫案、八驗方，原序謂屢經試驗，閩督陳寶琛謂用其法，雖極危證，鮮不愈者，其受病太深，療救不及，不過十之一二。然予問諸寓在福州之醫家，則謂其治法，亦未必竟有把握，不知究竟若何。要之此病，今日中西皆無完善之法，凡有方論皆存之，以備參考可也。</p>

<h2>虛勞病</h2>
<p>虛勞之證，後世亦多專書。其為醫家所宗者，為元葛可久之《十藥神書》，明僧慎柔（毗陵人，胡姓。）之《慎柔五書》及綺石先生之《理虛玄鑑》。慎柔本儒家子，為僧後患瘵幾殆，求治於涇縣查了吾，獲愈，因從學焉。了吾者，太平周慎齋之弟子也，（慎齋名之干，所著《慎齋遺書》，清王琦校刻未竟，其外孫趙樹年卒成之。）慎柔因之又從學於慎齋，故慎柔之學，實當時周慎齋一派之學也。（其法分虛勞為兩證，治以保護脾胃為主。）綺石先生者，蓋亦明季遺民，書成而身沒。（見其弟子趙何序。）清雍正三年，慈谿柯德修（名懷祖，亦當時名醫。）購得鈔本，乾隆三十六年刻之。陸九芝謂其治法，於陽虛主建中、陰虛主清金，遠出桂附補陽、知柏滋陰之上。重訂之，改為五卷。（在《世補齋醫書》中。）</p>

<h2>導引術</h2>
<p>導引之術，後世道家多言之，醫家則研究者甚鮮。然觀《三國志·華佗傳》，載佗嘗教人以五禽之戲，又巢氏《病源》於諸證之末，多附導引之法，則古代醫家，固未嘗不通其術也。（《隋·經籍志》有《導引圖》三卷，注曰立一坐一臥一。）明曹元白（名士珩。）嘗著《保生秘要》一書，論導引治病之法。清沈芊綠《尊生書》悉採之。又有《尊生導養編》一卷，序云：山右谷遠張君云衢，素多羸病，遊江淮遇異人，授以導引、按摩之術，行之十年，宿疾盡除，體益壯。以術告少宗伯蘭皋康公，公為之按奇經之脈，考銅人之圖，列其條目，而詳其節次，緣督以為經，而一身之竅會無不備列焉云云。此書傳本甚少，而所列之法，頗有為通行諸書所無者。此外如易筋經圖說、外壯煉力圖說、八段錦、十二段錦之類，皆於身體有益。但前二者非有師傳易受傷損，後二者則人儘可行，行之有恆，每著奇效。近今則太極拳風行一時，而上海醫家亦有以運氣為人療治痼疾者，大都本諸古說也。</p>

<h2>養生法</h2>
<p>調攝之法，古聖多注重於心理，《素問·上古天真論》等四篇所述，為養生法鼻祖。後賢因之，均以清潔靈臺為主，不兢兢於外界物質之變化，所謂天君泰然百體從令者是，故守法簡而收效宏，醫家亦多循此以施治，故專言之者甚少，惟《壽親養老新書》（見前。）於寢興飲膳之方無不備及。明高濂《尊生八箋》中《四時調攝箋》所錄，大抵本於此書。《韓氏醫通》，（明韓𢘅撰，與張路玉書同名。）自謂賴方藥以生，故於補養諸方尤備。黃闇齋之《折肱漫錄》，分養神、養氣、醫藥三門，《四庫提要》譏其專主補益，未免一偏。然黃氏自言幼而多病，為藥所誤，嘗私自矢曰：吾病得愈，吾年得老，必揭此以告同患者，使毋蹈予之覆轍。有所苦，隨筆記之，久而成帙，至六十餘，乃成此書，則其意原以供病者之鑑戒，非以醫家自居也。（此書《六醴齋叢書》本內無養神篇。）清王孟英《隨息居飲食譜》（分水飲、穀食、調和、蔬食、果食、毛羽、鱗介七類。）亦為此類之佳作。總之心思以靜為主，軀體以動為主，吾國之言養生者，均動靜並重，故達摩面壁，而創少林拳法；張三丰靜坐，而創太極拳法。即近今潘霨如之《衛生要術》，亦以調息與十二段錦並行，其中自有妙境。至對外之衛生，飲食以平淡為主，起居以沖和為主，氣候則避其太甚而順其自然，與新法之動而不靜，跑跳硬做者迥異，其得失自有實驗者在也。</p>

<h2>鈴醫秘方</h2>
<p>中國醫術，當以唐宋為一大界。自唐以前，醫者多守專門授受之學，其人皆今草澤鈴醫之流。（《史記》所載扁鵲，正是鈴醫中之有名者，即華佗亦此類人。後乃倨傲，欲自比於士大夫，又不改鈴醫好利之習，故為魏武一怒所殺。）其有以士大夫而好研方術，若張仲景、皇甫士安、葛稚川、陶隱居、孫真人、王燾者，代不數人耳。自宋以後，醫乃一變為士夫之業，非儒醫不足見重於世。所謂草澤鈴醫者，其格日卑，其技亦日劣，蓋此輩大都不通文義，罕能著書，僅恃師授，無復發明。（趙恕軒所謂專恃祖方為長技。）而師說傳之歲久，必不免於訛謬亡失；其技愈劣，則世視之也愈卑，則其人益不自重，而技日以劣，二者實相因也。（又此等人，大抵專守一科，不能會合各科互相考校，故其術亦難於精進。試觀前世瘍醫之法，多未盡善，至近世合內外而一之，而其術遂日臻美備，可知也。此為以士夫研究醫術之長處，蓋惟士夫，然後能多讀書多得友也。吾嘗譬之鈴醫，若西漢之今文家，其學確有師承，多微言大義之存，而不免於專己守殘之陋；儒醫若東漢之古文家，其人皆有才識，有博通綜貫之美，而不免於師心自用之嫌。）然古代專家之術，實有存於是者，就其精者，往往非士大夫蒐羅書籍、據理推求所能得。（以醫學發明之始，本根據於實驗故。）徒以鄙夷其人，不肯更加研究，遂令古代專門之術，日以失亡，良可慨也。近世惟趙恕軒性本好奇，於江湖方技搜輯至多。其時又適有宗柏云者，挾是術遍遊南北，遠近震其名。恕軒遂從問其術，參以前此所得，以成《串雅》一篇，其治法雖不盡純，而實於古義為近。（治外以刺灸勝，治內以頂、串、禁、截勝。頂者上行，故多吐；串者下行，故多瀉。截，絕也，使其病截然而止。此即汗、吐、下三法，鈴醫以配三才。）不惟足資國醫之攻錯，亦且足為考古者參證之資，實可寶也。</p>

<h2>祝由科</h2>
<p>祝由壹科，其傳最古。雖《素問》載岐伯之言，已謂今世之疾，非祝由所能己。然《後漢書·方術傳》載趙丙善越方，注云：善禁咒。則其術尚盛行於南方，蓋南人重巫鬼，醫術之明，遲於北方也。（張角等所操，亦必此術。）今世所傳，有《祝由十三科》二卷，（案：祝由為元醫學十三科之一，作此書者蓋未之知，遂誤以為祝由有十三科。）文詞至為鄙陋。《千金翼方》中之禁經，當必古傳此類之學。（趙恕軒利濟十二種，中有《祝由錄驗》，系據湖南汪子師之說，將舊藏張氏本刪存，惜未見傳本。）今此術雖少，然社會上述其奇效甚多，有非科學所能解釋，亦非憑書籍所能研究者。</p>

<h2>醫史</h2>
<p>醫史之作，實始於宋張季明之《醫說》。季明嘗欲集古來醫案，勒為一書，初期滿一千，事猝不易足，乃先採綴諸書，據其見聞所及，以成是編，（見羅瑣序文。）其書雜採說部，頗傷蕪雜。明余弁《續醫說》，亦僅隨筆札記。李濂始有《醫史》之作，然其體例亦未盡善。近今陳邦賢所述《醫學史》，於醫家源流頗詳。</p>

<h2>醫案</h2>
<p>醫案之作，（《史記·扁鵲倉公傳》：臣意所診者，皆有診籍。注：診籍，所診各病之記錄簿也。按：此即後世醫案之嚆矢。）始於宋之許叔微。自茲以降，醫家之能著述者，多有此舉。或據事以直書，或列藥為方式，如張景岳、張路玉、喻嘉言、葉天士、薛生白、陳修園、尤在涇、徐洄溪、王孟英、吳鞠通之流，其尤著者。近歲醫學維新，雜誌報章，遍於全國，各處名醫醫案之批露者，遂如春葩怒發，指不勝屈矣。其彙集諸家於一編者，則始於明江民瑩之《名醫類案》，清魏玉璜繼之，陸以湉又再續之，然未見刊本。（見《冷廬醫話》龐元徵序。）嘉善俞東扶（名震，號惺齋，清乾隆時人。）之《古今醫案》，則主精不主博。江陰柳谷孫（名寶詒，清光緒時人。）之《四家醫案》，亦兼有評語。近今秦伯未有《清代名醫醫案》之輯，蒐羅尤宏富矣。醫書或苦空言無實，醫案則不然，且匯合眾家，尤可見古今病狀之變遷，水土之同異，雖謂其兼有醫史之功用可也。</p>

<h2>醫話</h2>
<p>醫書所最忌者，為空言無實。又其甚者，採綴群書，絕無心得，陳陳相因，尤為可厭。然凡作一書，於其病證治法方藥，不能全者，鮮有不蹈此弊。惟醫話則不然，以無門面可拘，且非確有心得者不能著筆，惜作者不多。以予所見，有計楠之《客塵醫話》、柳寶詒（字谷孫，清光緒時人。）之《惜余醫話》、史典之《願體醫話》、王孟英之《潛齋醫話》、陸以湉之《冷廬醫話》、毛祥麟之《對山醫話》、費凱鈞之《友漁齋醫話》，均稱佳著。尤怡之《醫學讀書記》，專記讀書所得，在醫話別為一體。周學海之《讀醫隨筆》，體例亦略同。固始王燕昌（字漢皋，工醫術。）有《王氏醫存》十七卷，除末一卷為醫案外，余皆用筆記體，在醫話中可謂最浩博者矣。</p>

<h2>醫家考訂學</h2>
<p>醫書之多病空談，固由形下之學之不昌，亦因醫家之真能讀書者甚鮮。雖復侈語《本經》，高談《靈》、《素》，實則望文生義，隨意曲解而已，求其能真得讀書之例者，無有也。予嘗謂自宋以後，醫之為業，既移於士大夫，故其風氣，亦恆視儒學為轉移，而其變遷，又必視儒學為少後，儒之門戶分於宋，醫之門戶分於金元，（《四庫·醫家類總敘》語。）職是故也。有清二百餘年，漢學可謂極盛，然醫家能用其法，以治古書者絕少，蓋尚未脫宋學之習也。然欲求古代醫學之真面目，舍用漢學家治經之法以求之，其道莫由。以余所見，惟沈彤《釋骨》一書，原本群經，以釋《內經》所載人身諸骨，確為漢學家之法，至是否合於今日之生理學，則又一問題也。胡澍《素問校義》，雖未卒業，亦差足語於校勘。然二人本皆經生，非醫家也。劉壽曾《素問校義》序，致憾於醫家之有《內經》，猶儒家之有五經，而無義疏之學，固適如吾意之所欲云矣。（侯官林楓芾《庭樂素齋醫學匯參》四卷，一、二、三卷為釋體，四卷為辨脈，皆仿《爾雅》之例，五卷至十卷為釋方，未成而卒，亦頗足當醫家訓詁之學。）</p>
<p>醫家著書，每喜侈談神怪，如竇材《扁鵲心書》，則以為上天所畀；張景岳《全書》，則以為遊東藩之野而遇異人；陳遠公《石室秘錄》，乃竟托之雷公、岐伯，前人已言之矣。以予所見，此類書尚屬甚多，而其最甚者，要莫如車宗輅、（字質中，會稽人。）胡憲豐（字駿寧，山陰人。）之《傷寒第一書》，其序言謂仲景《傷寒論》，本一十六卷，治分九州，此書乃其治揚州之法，自兵劫後，原書散失，證治不全。雍正初，德清沈日光學道深山，乃獨得仲景真傳，而有九州之全書云云。可謂敢於語怪矣。又如齊秉慧（字有堂，敘州人。）之《齊氏醫書》四種，本非一無足取，而必謂學醫之始，出於衡山仙鵝洞道士之命，十八日內種痘方，亦必托之黃進士得之仙傳，誠不知其是何用意。夫此等淺說，亦足惑人。此巫風之所以盛行歟，乃近日通都大邑及江南人士方且好學扶乩之術，流俗以士大夫之言之也，亦翕然信之，遂有借其術為人治病以牟利者，誠可嘆詫。</p>

<h2>醫家叢刻</h2>
<p>醫家叢刻，網羅最博者，當推明吳肖愚之《古今醫統正脈全書》。清代則程瘦樵之《六醴齋醫書》、王琢崖之《醫林指南》、丁松生之《當歸草堂叢書》、周澂之《醫學叢書》，所刻亦均精本。若能備此五書，則所費不及百元，而醫家要書善本略具，其餘購求易易矣。程觀瀾（名文囿，歙人。）之《醫述》，專輯古書，不參己見，凡分七門，（曰溯源、曰傷寒、曰雜症、曰女科、曰幼科、曰痘疹、曰方藥。）所收者三百餘家，則醫家中之類書也。清乾隆中，吳中唐烈三等嘗輯《吳醫匯講》一書，（其例實仿諸過繹之之《吳中醫案》，見唐氏原敘。）集吳中諸醫方論，隨得隨刻，（終於十一卷。）此則如今日之雜誌矣。</p>

<h2>中西匯通</h2>
<p>中西匯通，自為今後醫家之大業。然其人必深通西洋醫術，而又真能讀中國之醫書，詳考脈證，確知中醫所謂某病者，即西洋所謂某病，或某與某病確有相同之處，而又能精研藥物之學，本諸格物之理，以探求古今驗方之所以然，而斷定何種方藥確為無效，方足以語於此。其事固非一手一足之烈，亦非一朝一夕之功。凡事創始最難，近今醫家有能引此端緒者，如唐容川之《中西醫經匯通精義》之類，雖不免有牽強附會之處，然蓽路藍縷之功，固足以沒世不忘矣。今日治西國醫學者，動以今日之學術繩古人，而深於中醫舊學者，又一味深閉固拒，均無當也。</p>

<h2>東洋醫學</h2>
<p>中國醫學，今雖衰敝，然自古東洋諸國，如朝鮮、日本等，靡不奉為圭臬，其流傳亦不可謂不廣矣。予所見朝鮮醫書，僅許浚之《東醫寶鑑》、康命吉之《濟眾新編》二種。（許書多采宋以來方論，康書則就許書刪繁補闕，皆李朝官纂之書。）至日本醫書，則所見者頗多，而其最佳者，則莫如楊惺庵所編之《聿修堂醫學叢書》，此書為日本丹波元簡及其子元胤、元堅所撰。楊氏遊日本時，有以原版求售者，傾囊購之以歸，而編次為是書。計元簡《素問識》八卷，元胤《難經疏證》二卷，元簡《傷寒論輯義》七卷，元堅《傷寒論述義》五卷、《傷寒廣要》十二卷，元簡《金匱玉函要略輯義》六卷，元堅《金匱要略述義》十二卷、《藥治通義》十二卷，元簡《脈學輯要》三卷、《急救選方》二卷、《醫勝》三卷，元簡之祖雅忠《醫略抄》一卷，元簡父之弟子小阪元祐《經穴纂要》五卷。（元簡《靈樞識》六卷、元堅《雜病廣要》四十卷，原以活字印行，故無存板。元簡又有《類抄》八十卷，體例略如鄭方坤之《經稗》，皆刺取《說部》中經驗良方，不專為醫家作者。元堅別有《醫籍考》一百卷，仿朱竹坨之《經義考》，而精核或過之。元胤別有《名醫匯論》八十卷，凡古人病論異同，條分縷析，可謂集證治之大成。三書皆以卷帙浩繁未刊。元堅又有《名醫公案》、《病雅》、《藥雅》、《體雅》等書，皆少作，亦精核有家法，並見楊氏識語。）諸書皆博瞻精核。予謂治醫家之書，當用漢學家治經之術，此其庶幾，且中國醫家，好談《靈》、《素》，喜言運氣，遂病其空言無施。日本漢醫，則多遠宗《傷寒》、《金匱》，近師《千金》、《外臺》，盡心於研究證狀，肆力於鉤稽藥性，其切於實用，殊非中國醫家所及。楊氏謂自元以來，診察之士，殆罕其匹，誠非過言。蓋中國士夫之治醫術，與專家之篤守傳授者，截然兩途。而日本則醫有專官，能世其業，既能收新說之妙，又不失固有之長，故其卓越如是。中國之醫家所當借鏡者也。（《診病奇侅》二卷，亦丹波元堅撰。論診腹之術，其原出於《內經·刺禁論》及《難經》，中土早已失傳。日本尚存秘授，有沈梅使者、供職使署，屬元堅再傳弟子松井操譯以漢文，光緒戊子。慈溪王仁乾刻之，近年群趨新說，譯東瀛漢醫書者日多矣。）</p>

<h2>民國醫學</h2>
<p>民國以還，東西醫學流傳中土者漸廣，國人受其濡染，中醫蒙其影響，於是結團體以資研究，設黌舍以宏造就，刊雜誌以資鼓吹，發揚之途多矣。又有異軍突起，高揭新中醫之旗幟者，揆其初衷，欲以科學方法整理醫籍，未始非迎合潮流之舉。然成績未著，而囂囂然有入主出奴之象，此中醫之一大變局也。此時天津有張壽甫，著《衷中參西錄》，滬上有惲鐵樵，作《傷寒輯義按》，一重藥物之實驗，一重學理之闡發，頗能博得時譽。蓋喜新厭故，人情所同，醫亦不能例外，惟末流變本加厲，摭採西醫皮毛，誹詆先哲之實效，以為中醫有大部份應譭棄，論者惜之。</p>
<p>東瀛醫學，本傳自吾國，雖維新之後西醫盛行，而漢醫之研究依然不斷。中醫界中輒喜瀏覽，以資引徵，於是劉泗橋之《皇漢醫學譯本》得以大行。沈石頑繼之，有《和漢醫學真髓》、《漢方醫學解說》等之迻譯。惟平心以論，日本漢醫之猛晉，殊足驚人，而始終不能跳出《傷寒》範圍，亦未免太隘。然能得吾國人之尊奉，亦可見中醫風氣轉移之一也。</p>
<p>張山雷授徒於蘭溪，議論獨能平正，著有《中風斠詮》、《脈學正義》，《瘍科綱要》、《女科輯要箋正》等書，能守中醫之特長，參以西法之精義，不以匯通相標榜。包識生掌教於滬上中國醫學院，就日常講述，輯《包氏醫宗》二集，發揮《傷寒》、《金匱》，獨具心得。長安黃謙又有《傷寒雜病論集註》數十萬言，亦近今之傑作也。</p>
<p>醫為實用之學，應使固有之特長保持勿失，以前之缺陷設法彌補，不在議論之動人、新奇之眩人耳目也。近人中瞭解此義者，有秦伯未、張贊臣、許半龍輩。秦氏輯《清代名醫醫案、醫話精華》，蒐羅綦富。《實用中醫學》、《中醫指導叢書》等，均能供初等之梯階，《國醫講義》六種，編制新穎，取材謹嚴，尤為中醫界放一異彩。張氏之《診斷學綱要》、《咽喉新鏡》、《歷代醫學史略》，許氏之《藥籢啟秘》、《外科學大綱》，都能適合於臨床之用，良由曾任醫校教務，故於材料編輯，均能權衡切要也。</p>
<p>近人新著之外，能發揚先哲幽光，以貢獻醫界者，杭州三三醫社有叢刊數集，上海中醫書局又有《古本醫學叢書》之刻，書凡十種。丁錦之《難經闡注》、王夢祖之《傷寒撮要》、周學海之《辨脈平脈章句》、寇宗奭之《本草衍義》、釋輪應之《女科秘旨》、黃坤載之《難經懸解》、呂𣗪村之《傷寒尋源》、朱丹溪之《金匱鉤玄》、趙竹泉之《醫門補要》、高武之《針灸要旨》。昔人著作，每多獨到之處，惜流傳甚鮮，不能普遍，實為中醫阻滯之一大原因，知此則知此類書集之可貴矣。</p>
<p>大抵醫家學說，多隨病症為變遷，議論紛紜，由來已久。無如古今病症，萬有不齊，綜計情形，可歸兩類：自其縱者言之，含有歷史性質者，當稱為時代病；自其橫者言之，含有地理性質者，當稱為地方病。茲再分述之。</p>

<h2>時代病</h2>
<p>時代病者，古今病況之不同是也。或古有而今無，或古無而今有。古者人事簡單，交通梗阻。事簡則歲月優遊，愁痛自少，道阻則流行傳染，更屬難能。及人事日趨繁複，交通日趨便利，則淳樸轉為澆漓，而身體因之漸弱，且一治一亂，繫於時局。治世之民安樂，病偏於有餘；亂世之民困苦，病偏於不足。有餘者多宜清涼消導，以解其宴安厚味之毒；不足者多宜建中培補，以濟其顛沛勞傷之苦。餘生也晚，不獲親炙先哲，然自入醫界三十餘年，對於病症之與世推遷，益凜然於心目。（舊說之肝病，弱冠時但見一部份婦女有之，繼則婦女病此者漸多，而士子亦漸有之，最近則商人亦有之，今則農工勞動界亦有此病，足見民生日困、籌慮太過之結果。又如肺病、遺精病、近視病，三十年前不多見，今則幾為學校青年之普通病，教育愈發達，此類病愈多，雖補救之法日增，然終不敵病魔之進步。）後世之人，輒譏古代醫家方藥之偏勝，殆不諳當時之環境使然，是知人論世，醫家亦不可不知此義也。</p>
<p>新病隨進化而多，新藥亦隨新病而增，皆必然之理。以明代《本草綱目》而論，比漢唐方藥已增數倍。降至近日，如癢症、鼠疫、腦膜炎、梅毒、白濁等種種病症，為古昔所不常見者，今則日盛一日。當代醫生，因應付新病，殫精竭慮，自有試用新藥之經驗，著為方法，以濟世用，用之有效，即為此時此病之專門學問，不必再搜古理以證明或附會之也。（如腦膜炎病，試驗有效之方，便可應用，不必引古之痙病為證。蓋此病傳染迅速，與古痙病不盡同也。）</p>
<p>舊病範圍之變遷，亦有兩公例。一隨地體為轉移，一隨時局為轉移。時局之說已詳前節。地球則自轉為晝夜，繞日之公轉為一年，又有大公轉者，則隨日系作遷移，以六十年為一周，（此說詳天文學中，謂地球於每歲繞日一周外，又隨日系在天空旋轉，至六十年而復歸原位，名為大公轉。此六十年中，地球在天空之遠近變化，雖亦有常軌，然而年各不同，則地面所受之陰陽寒暑，亦歲有殊異。則生物所感之病，亦當然依此為循環。）故古人以甲子一周認為氣運之回覆。《素問·六元正紀大論》，亦用司天在泉、五運六氣諸名稱，以六十年之干支，推算六十年之病症，謂其循環而符合。泥古者視如歲歷之檢查，維新者斥為迷信之囈語，殊不知當時必本於專家實測及事實之經驗而來。（地為圓體浮於天空大氣之中，以旋轉為晝夜。古昔如《春秋元命苞》等讖緯書外，《素問》各論中亦多論及。可見宇宙之學，周末即有發明。既知地球自轉、公轉之殊，豈有不知大公轉之理。然而未有明文，僅以運氣干支著其變化之事實，是古書含渾不全處。不僅此一種學問為然，今日科學化之新中醫，謂司天在泉、五運六氣亟應打倒，實可為未諳科學之反證。）陸九芝謂《內經》運氣之說可資研究，實通論也。（陸氏但知其理不可廢，並未知天文學中大公轉之說。）</p>

<h2>地方病</h2>
<p>地方病者，限於一方水土之病，而有一方治療之法，不盡通行於各地者也，《素問·異法方宜論》中早計及之。吾國地大物博，跨有寒溫熱三帶，面積之廣，等於歐洲。是以水土氣候，人民體質，各地不同，而全國醫家之用藥，遂亦各適其宜，而多殊異。即以長江流域論，四川人以附子為常食品，醫家用烏附動輒數兩，麻黃柴胡動輒數錢，江南人見之，未免咋舌，然在川地則絕少傷陰劫津之弊者，則以長江上游，由青海西康雪山中急流入川，寒性正盛，川人飲此寒水，故用烏附熱藥適得其平，解表亦非多量麻柴無能為力。迨長江既出巫峽，徘徊於兩湖之間，平流數千里，經贛皖至江蘇以入海。水質經日光之蒸曬，寒氣已退，則需用遂少。且江蘇土性，濱海而多濕，平原而多熱，濕熱交蒸，腠理鬆懈，故烏附在四川為常食品者，至江蘇則罕用，麻黃柴胡在四川以錢計者，至江蘇則以分計。彼旅滬川醫，譏蘇醫為庸懦，蘇醫斥川醫為狂妄，是皆一隅之見，不明瞭地方性質者也。</p>
<p>又如蘇浙婦女，產後血少陰虛，應服平和清養之劑，切忌燥熱收澀之品。而廣州人之預備生產也，必以生薑數十斤，熬醋十餘斤，於產後匝月內拌米飯儘量食之，不得少參他品，從之則體健，違之則多病，或且不測。若以此法施之江浙產婦，早動肝陽成大病矣，然蘇浙婦女之旅粵者，亦必遵守彼中成法。（前清光緒之季，余攜眷寓廣州。將分娩矣，同鄉戚友以此法見告，余妻聞而大駭。蓋平素陰虛肝旺心煩舌碎，常與洋參為伍者，烏能服生薑數十斤耶。嗣經旅粵者以土宜力勸，遂於產後匝月內如法服盡，非但無傷陰之弊，並且體健逾恆，舊疾悉去，寧非奇事。）是無他，廣州地近熱帶，腠理松疏，而由五嶺南坡瀉下東北兩江之水，萃於廣州，寒性未散，故以生薑溫其內，酸醋收其外，一溫一斂，足以祛寒而固氣，故產後用之，竟等於脫胎換骨之妙也。</p>
<p>嶺南水性如是，嶺北之湘資等水瀉於湖南者，性質又異。蓋均屬寒性，而湘省則在溫帶，迥非廣州熱帶之比，故湘醫用藥，遂以仲景傷寒法為正宗。表則桂麻柴葛，涼則硝黃芩連，溫則姜附椒萸，補則參苓朮草。按方施治，因應咸宜，與吾蘇對於《傷寒論》但師其意而罕用整方者迥異，是則張仲景為長沙太守時所立之法，雖時代有變遷，而土宜尚未盡易也。</p>
<p>此外如山陝等省，地偏於北，寒燥凜冽，皮膚堅厚，故發表多用羌防麻桂重劑。閩粵地跨熱帶，蒸發甚而腠理疏，既易受寒，又易受濕，故多用燥藥以化濕，熱藥以溫中，而於辛散則罕用。</p>
<p>再以蘇浙而論，長江以南，錢塘以北，縱橫五十餘縣境，皆太湖湓地也。土淺水多，蠶桑稻米之利，為全國上腴。然因海洋氣候之蒸發，濕溫症獨多，雖腠理宜通，大便宜暢，然郁邪不為汗解，不為下解，維有芳香化濁，淡滲化濕，足以去病之癥結。而青蒿、藿香、佩蘭等對症之藥，亦遂就地而產生。夫因水土之偏性而成地方病，即有療此病之地方藥隨之產出。吾國南北各省，類此者甚多，醫者貴於因地制宜，不可執一。若以己所不知或不習者相攻訐，寧非自擾，而昧者更欲仿西醫辦法，倡議方藥統一政策，則更傎矣。（民國十九年，國際聯盟會衛生科長費而伯來華考察西醫學術，中醫界推余代表，邀其參觀醫校醫院，並請其發表意見。費謂世界人民雖有黃白紅黑之殊，其體格生理之構造則一，生理既然一律，則治法亦當然一律，故醫學當服從多數以統一之。意謂應廢中醫而從西醫也。余謂中醫重水土習性，故各地治療之法不同，西醫既能合於生理之統一，何以在歐洲一隅，又有英法德瑞等派別之攻訐？費無以應。民國二十年，常州某氏貽書，謂在常州整頓地方醫藥，先以各藥鋪丸散膏丹簿之分量藥味一律照古方更正為入手。余謂藥鋪之丸散膏丹簿，為全國通用之驗方，其與古方不能悉合處，正是前輩醫哲，循數百年之經驗，就常州水土之習性所改定者，故其不同之處，正是治驗之精意，猶之顱圓踵方，固宜冠規履矩，然大小之間，宜任各人之支配，不能劃定尺寸。若以各地方成方一律依古方改定，則是削足適屨，豈非大謬！此舉遂中止。再西醫治病，但憑生理病菌之狀況，處方皆大致有一定標準，中醫則各用各法，隨機應變，無一相同，其優點劣點亦均在此。華人食料，以植物為主，動物為輔；西人食料，以動物為主，植物為輔，其性情體格，遂大不同。故中醫治病，以植物為主，礦物為輔；西醫治病，以礦物為主，植物為輔。天然之習慣如此，故療病亦有自然之趨勢，此皆中西異點之最著者。今人不揣其本，而欲強齊其末，此空言擾攘之所以日多也。）</p>
