<header data-type="book">
<h1>輔行訣臟腑用藥法要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陶弘景</dd></div>
<div><dt>朝代</dt><dd>南朝·梁</dd></div>
<div><dt>地域</dt><dd>華陽</dd></div>
</dl>
</header>
<h2>輔行訣臟腑用藥法要（上）</h2>
<p>梁‧華陽隱居　陶弘景撰</p>
<p>隱居曰：凡學道輩，欲求永年，先須祛疾。或有夙痼，或患時恙，一依五臟補瀉法例，服藥數劑，必使臟氣平和，乃可進修內視之道。不爾，五精不續，真一難守，不入真景也。服藥祛疾，雖系微事，亦初學之要領也。諸凡雜病，服藥汗吐後，邪氣雖<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">難</small></span>平，精氣被奪，致令五臟虛疲，當即據證服補湯數劑以補之。不然，時日久曠，或變為損證，則生死轉側耳。謹鈄五臟虛實證候悉列於左，庶幾識別無誤焉。</p>
<h3>辨肝臟病證文並方</h3>
<p>肝虛則恐，實則怒。
肝病者，必兩脅下痛，痛引少腹。虛則目無所見，耳有所聞，心澹澹如人將捕之。氣逆則耳聾，頰腫，治之取厥陰、少陽血者。
邪在肝，則兩脅中痛。中寒惡血在內，則善瘛，節時腫。取之行間以引脅下，補三裏以溫<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">胃</small></span>中，取耳間青脈，以去其瘛。
陶云：肝德在散。故經云：以辛補之，以酸瀉之。肝苦急，急食甘以緩之，適其性而衰也。</p>
<p><u>小瀉肝湯</u>
治肝實兩脅下痛，痛引少腹迫急<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">當有乾嘔</small></span>者方：
枳實（熬）　芍藥　生薑各三兩
上三味以清漿三升，煮，取一升，頓服之。不瘥，即重作服之。</p>
<p><u>大瀉肝湯</u>
治頭痛目赤，多恚怒，脅下支滿而痛，痛連少腹迫急無奈方：
枳實（熬）　芍藥　甘草（炙）　黃芩　大黃　生薑（切）各一兩
上六味，以水五升，煮取二升，溫分再服。</p>
<p><u>小補肝湯</u>
治<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">心中</small></span>恐疑，時多惡夢，氣上沖心，越汗出，頭目眩運者方：
桂枝　乾薑　五味子（各三兩）　棗（十二枚，去核，一方作薯蕷，當從）</p>
<p>上四味，以水八升，煮取三升，溫服一升，日三服。心中悸者，<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">加</small></span>桂枝一兩半；中滿者，去棗；心中如饑者，還用棗；咳逆頭苦痛者，加細辛一兩半；四肢冷，小便難者，加附子一枚，炮。</p>
<p><u>大補肝湯</u>
治肝氣虛，其人恐懼不安，氣自少腹上沖咽，呃聲不止，頭目苦眩，不能坐起，汗出，心悸，乾嘔不能食，脈弱而結者方：
桂枝　乾薑　五味子（各三兩）　旋覆花　代赭石（燒，一方作牡丹皮，當從）　竹葉（各一兩）　大棗（十二個，去核，一方作薯蕷，；當從）
上七味，以水一斗，溫服一升，日三夜一服<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">升</small></span></p>
<h3>辨心臟病證文並方</h3>
<p>心虛則悲不已，心實則笑不休。
心病者，心胸內痛，脅下支滿，膺背肩胛間痛，兩臂內痛。虛則胸腹脅下與腰相引而痛。取其經手少陰、太陽，及舌下血者。其變，刺郤中血者。
邪在心，則病心中前，善悲，是眩仆，視有餘不足崦調之。經云：「諸邪在心者，皆心胞代受，故證如是。」
陶云：心德在耎。故經云：「以鹹補之，苦瀉之。心苦緩，急食酸以收之。」</p>
<p><u>小瀉心湯</u>
治心中卒急痛，脅下支滿，氣逆攻膺背肩胛間，不可飲食食之反篤者方：
龍膽草　梔子（打，各三兩）　戎鹽（如杏子大三枚，燒赤）
上三味，以酢三升，煮取一升，頓服。少頃，得吐瘥。</p>
<p><u>大瀉心湯</u>
治暴得心腹痛，痛如刀刺，欲吐不吐，欲下不下，心中懊憹，脅背胸支滿迫急，無可奈者方：
龍膽草　梔子（搗，各三兩）　苦參　升麻（各二兩）　豉（半升）　戎鹽（如杏子大三枚）
上六味，服一升，當大吐，吐已必自瀉下，即瘥（一方無苦參，有通草二兩，當從）</p>
<p><u>小補心湯</u>
治胸痹，心中痞滿，氣結在胸，時從脅下逆搶心，心痛無奈方：
栝蔞（一枚，搗）　薤白（八兩）　半夏（半升，洗去滑）　厚朴（炙，二兩）　桂枝（一兩）
上六味，以白漿一斗煮取四或，每服二或，日再。（一方有杏仁半升，無半夏，當從）</p>
<p>心胞氣實者，受外邪之動也，則胸脅支滿，眩中澹澹大動，面赤，目黃，善笑不休；虛則血氣少，善悲，久不已，發癲仆。</p>
<p><u>小瀉心湯</u>
治胸腹支滿，心中跳動不安者方：
黃連　黃芩　大黃（各三兩）
上三味，以麻沸湯三升，漬一食頃，絞去滓，頓。</p>
<p><u>大瀉心湯</u>
治心中怔忡不安，胸膺痞懣，口中苦，舌上生瘡，面赤如新妝，或吐血，衄血，下血者方：
黃連　黃芩　芍藥（各三兩）　乾薑（炮）　甘草（炙）　大黃（各一兩）
上六味，以水五升，煮取二升，溫分再服，日二。</p>
<p><u>小補心湯</u>
治血氣虛少，心中動悸，時悲泣，煩中，汗出，氣噫，脈結者方：
代赭石（燒赤，入酢漿中淬三次，打。一方作牡丹皮，當從）　旋覆花　竹葉（各二兩）　豉（一兩，一方作山萸肉，當從）
上方四味，以不八升，煮取三升，溫服一升，日三服，怔驚不發者，加代赭石，為四兩半；煩熱汗出者，去豉，加竹葉至四兩半，身熱還用豉；心中窒痛<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">心下痞滿</small></span>者，加豉至四兩半；氣苦少者，加甘草三兩；心下痞滿者，去豉，加人參一兩半；胸中冷而多唾者，加乾薑一兩半；咽仲介介塞者，加旋覆花至四兩半。</p>
<p><u>大補心湯</u>
治心中虛煩，懊憹不發，怔忡如車馬驚，飲食無味，乾嘔，氣噫，時或多唾，其人脈結而微者方：
代赭石（燒赤，入酢頭中淬三次，打。一方作牡丹皮，當從）　旋覆花　竹葉（各三兩）　豉（一方作山萸肉，當從）　人參　甘草（炙）　乾薑（各一兩）
上方七味，以水一斗，煮取四升，溫服一升，日三夜一服。</p>
<h3>辨脾臟病證文並方</h3>
<p>脾實則腹滿，殮泄；虛則四肢不用，五臟不安。
脾病者，必腹滿腸鳴，溏瀉，食不化；虛則身重，若饑，肉痛，足痿不收，行善瘛，腳下痛。
邪在脾，則肌肉痛，陽氣不足，則寒中，腸鳴，腹痛；陰氣不足，則善饑，綿調其三裏。
陶云：脾德在緩。故經云：以甘補之，辛瀉之；脾苦濕，急食苦以燥之。</p>
<p><u>小瀉脾湯</u>
治脾氣實，下利清穀，裏寒外熱，腹冷，脈微者方：
附子（<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">一</small></span>枚，炮）　乾薑　甘草（炙，各三兩）
上三味，以水三升，煮取一升，頓服。</p>
<p><u>大瀉脾湯</u>
治腹中脹滿，乾嘔不能食，欲利不理，或下利不止者方：
附子（一枚，炮）　乾薑（三兩）　黃芩　大黃　芍藥　<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">枳實　</small></span>甘草（炙，各一兩）
上方六味，以水五升，煮取二勤務員，溫升再服，日二。</p>
<p><u>小補脾湯</u>
治飲食不化，時自吐利，吐利已，心中苦饑；或心下痞滿，脈微，無力，身重，足痿，善轉筋者方：
人參　甘草（炙）　乾薑（各三兩）　白朮（一兩）
上四味，以水八升，煮取三升，分三服，日三。苦臍上築動者，去朮，加桂四兩；吐多者，去朮，加生薑三兩；下多者，仍用朮；心中悸者加茯苓一分<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">兩</small></span>；渴欲飲者，加朮至四兩半；腹中滿者，去朮，加附子，一枚，炮；腹中痛者，加人參一分<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">兩</small></span>；寒者，加乾薑一分<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">兩</small></span>。</p>
<p><u>大補脾湯</u>
治脾氣大疲，飲食不化，嘔吐下利，其人枯瘦如柴，立不可動轉，口中苦乾渴，汗出，氣急，脈微而時微者方：
人參　甘草（炙，各三兩）　乾薑（三兩）　朮　麥門冬　五味子　旋覆花（一方作牡丹皮，當從，各一兩）
上七味，以水一斗煮取四升，溫分四服，日三夜一服。</p>
<h3>辨肺臟病證候文並方</h3>
<p>肺虛則鼻息不利；實則喘咳，憑胸仰息。
肺病者，必咳喘逆氣，肩息，背痛，汗出憎風；虛則胸中痛，少氣，不能報息，耳聾，咽乾。
邪在肺，則皮膚痛，發寒熱，上氣喘，汗出，咳動肩背，取之膺中外腧，背第三椎旁，以手按之快然，乃刺之，取缺盆以越之。
陶云：肺德在收。故經云：「以酸補之，鹹瀉之；肺苦氣上逆，食辛以散之，開腠理以通氣也。」</p>
<p><u>小瀉肺湯</u>
治咳喘上氣，胸中迫滿，不可臥者方：
葶藶子（熬黑，搗如泥）　大黃　芍藥（各三兩）
上三味，以水三升，煮取二升，溫分再服，喘定止後服。</p>
<p><u>大瀉肺湯</u>
治胸中有痰<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">疾？</small></span>涎，喘不得臥，大小便悶，身面腫迫潢，欲得氣利者方：
葶藶子（熬）　大黃　芍藥（各二兩）　甘草（炙）　黃芩　乾薑（各一兩）
上六味，以水五升，煮取二升，溫分再服，日二服。</p>
<p><u>小補肺湯</u>
治汗出口渴，少氣不足息，胸中痛，脈虛者方：
麥門冬　五味子　旋覆花（各三兩，一方作牡丹皮，可從）　細辛（一兩）
上四味，以水八升，煮取三升，每服一升，日三服。若胸中煩熱者，去細辛，加海蛤一分<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">兩</small></span>；若悶痛者，加細辛一分<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">兩</small></span>；咳疾不出，脈結者，倍旋覆花為二<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">六</small></span>兩；若眩冒者，去細辛，加澤瀉一分<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">兩</small></span>；咳而吐血者，倍麥門冬二<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">六</small></span>兩；若煩渴者，去細辛，加粳米半升；涎多者，仍用細辛，加半夏半升，洗。</p>
<p><u>大補肺湯</u>
治煩熱汗郵，少氣不足息，口乾，耳聾，脈虛而快者方：
麥門冬　五味子　旋覆花（各三兩，一方作牡丹皮，當從）　細辛（一兩）　地黃　竹葉　甘草（各一兩）
上七味，以水一斗，煮取四升，溫分四服，日三夜一服。</p>
<h3>辨腎臟病證文並方</h3>
<p>腎氣虛則厥逆，實則腹滿，面色正黑，涇溲不利。
腎病者，必腹大脛腫，身重，嗜寢<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">寐</small></span>；虛則腰中痛，大腹小腹痛，尻陰股、膝攣，足皆痛。
邪在腎，是骨痛，陰痹，陰痹者，按之不得，腹脹，腰痛，大便難，肩背項強痛，時眩仆，取之勇泉，昆侖，視有餘者盡取之。
陶云：腎德在堅。故經云：「以苦補之，甘瀉之；腎甘燥，急食鹹以潤之，至津液生也。」</p>
<p><u>小瀉腎湯</u>
治小便赤少，少腹滿，<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">時足脛有者方</small></span>：
茯苓　甘草　黃芩（各三兩）
上三味，以水三升，煮取一升，頓服。</p>
<p><u>大瀉腎湯</u>
治小便赤少，是溺血，少腹迫滿而痛，腰如折，耳鳴者方：
茯苓　甘草　大黃　黃芩（各三兩）　芍藥　乾薑（各一兩）
上方六味，以水五升，煮取二升，日二溫服。</p>
<p><u>小補腎湯</u>
治虛勞失精，腰痛，骨蒸羸瘦，脈快者方：
地黃　竹葉　甘草（各三兩）　澤瀉（一兩）
上四味，以水八升，煮取三升，日三服。若小便血者，去澤瀉，加地榆一兩<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">分</small></span>；若大便見血者，去澤瀉，加伏龍肝如雞子在；若苦遺精者，易生地黃為熟地黃；若小便冷，莖中痛，倍澤瀉為二兩；少腹苦迫急者，去澤瀉，加牡丹皮一兩<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">分</small></span>；小便不利者，仍用澤瀉；心煩者，加竹葉；腹中熱者，加梔子十四枚，打。</p>
<p><u>大補腎湯</u>
治精氣虛少，腰痛，腎痿，不可行走，虛熱沖逆，頭目眩，小便不利，脈軟而快者方：
地黃　竹葉　甘草（各三兩）　澤瀉　桂枝　乾薑　五味子（各一兩）
上七味，以長流水一斗，煮取四升，漸分四服，日三服夜一服。</p>
<p>陶曰：又有瀉方五首，以救諸病誤治，致生變亂者也</p>
<p><u>瀉肝湯</u>
救誤用吐法，其人神氣素虛，有疾<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">痰</small></span>澼發動嘔吐不止，驚煩不甯方：
枳實（熬）　芍藥　代赭石（一方作牡丹皮，當從）　旋覆花　竹葉（各三兩，一方有生薑，當從）
上方五味，以水七升，煮取三升，溫分再服。</p>
<p><u>瀉心湯</u>
救誤用清下，其人陽氣素實，外邪乘虛陷入，致心下痞滿，食不下，利反不止，雷鳴腹痛方：
黃連　黃芩　人參　甘草（炙）　乾薑（各三兩，一方有大棗）
上方五味，以水七升，煮取三升，溫分再服</p>
<p><u>瀉脾湯</u>
救誤用冷寒，其人陰氣素實，衛氣不通，致腹中滯脹，反寒不已方：
附子（炮）　乾薑　麥冬　五味子　旋覆花（各三兩，一方有細辛三兩）
上方五味，以水七升，煮取三升，溫分再服。</p>
<p><u>瀉肺湯</u>
救誤用火法，其人血素躁，致令神識迷妄如癡，吐血、衄血、胸中煩滿，氣結
葶藶子（熬黑，搗如泥）　大黃　生地黃　竹葉　甘草（各三兩）
上方五味，以水七升，煮取三升，溫分再服。</p>
<p><u>瀉腎湯</u>
救誤用汗法，其人陽氣素虛，致令陰氣逆升，心中悸動不安，冒，汗出不止
茯苓　甘草　桂枝　生薑　五味子（各三兩）
止方五味，以水七升，煮取三或，溫分再服。</p>
<p>陶云：經方有救諸勞損病方，亦有五首，然綜觀共要義，蓋不外虛候方加減而已，錄出以備修真之輔，拯人之危也。然其方意深妙，非俗淺所識，緣諸損候，藏氣互乘，虛實雜錯，藥味寒熱並行，補瀉相參，先聖遺奧，出人意表，漢晉以還，諸名醫輩，張機、衛汜<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">汛</small></span>、華元化、吳普、皇甫玄晏、支法師、葛稚川、范將軍等，皆當代名賢，咸師式此，《湯液經法》湣救疾苦，造福含靈，其間增減，雖各擅其異，或致新效，似亂舊經，而其旨趣，仍方圓之於規矩也。</p>
<h2>輔行訣臟腑用藥法要（下）</h2>
<p>梁‧華陽隱居　陶弘景撰</p>
<p><u>養生補肝湯</u>
治肝虛，筋極，腹中堅澼，大便閟塞方：
蜀椒（汗，一升）　桂心（三兩）　韭葉（切，一把）　芍藥（三兩）　芒硝（半斤）　胡麻油（一升）
上六味，以水五升，稱煮椒、椒、韭葉、區藥，取得三升，去滓，納芒硝於內，待消已，即停火，將麻油傾入，乘熱，急以桑枝三枚，各長尺許，不住手攪，令與芍藥和合為度，共得三升，溫分三他，一日盡之。</p>
<p><u>調中補心湯</u>
治心勞脈極，心中煩悸神識慌惚方：
旋覆花（一升，一方作牡丹皮四兩，當從）　栗子（打去殼，十二枚）　蔥葉（十四莖）　豉（半斤，一方作山萸肉，當從）　梔子（十四枚，打）　人參（三兩，切）
上方六味，以清酒四升，水六升，煮取三升，漸分三他，日三。</p>
<p><u>建中補脾湯</u>
治脾虛肉極，羸唐如柴，腹中拘急，四肢無力方：
甘草（炙，二兩）　大棗（十二枚，去核）　生薑（三兩，切）　黃飴（一升）　桂枝（二兩）芍藥（六兩）
上六味，以水七升，煮取三升，去滓，納飴，更上火，令消已，溫服一升，日盡之。</p>
<p><u>甯氣補肺湯</u>
治肺虛氣極，煩熱汗出，口舌渴燥方：
麥門冬（二升）　五味子（二升）　白漿（五升）　芥子（半升）　旋覆花（一兩）　竹味（三把）
上六味，但以白漿共煮，取得三升，分三服，日盡之。</p>
<p><u>固元補腎湯</u>
治腎虛精極，遺精失溺，氣乏無力，不可動轉，唾血、咯血方：
地黃（切）　王瓜根（切，各三兩）　苦酒（一升）　甘草（炙）　薤白（四兩）　乾薑（二兩，切）
上方六味，以苦酒合井泉水五升煮之，取得三升，每服一升，一日盡之。</p>
<p>陶云：經云：毒藥攻邪，五茶為充，五果為助，五穀為養，五畜為益，，爾乃大湯之設。今所錄者，皆小湯耳。若欲作大湯者，補有湯內加羊肝，補心加雞心，補脾加牛肉，補肺加犬肉，補腎加豬腎，各一具，即成也。</p>
<p>陶隱居云：「依《神農本經》及《桐君采藥錄》，上中下三品之藥，凡三百六十五味，以應周天之度，四時八節之氣，商有聖相伊尹，撰《湯液經法》三卷，為方亦三百六十首：上品上藥，為服食補益方者百二十者；中品中藥，為療疾祛邪之方，亦百十十首；下品毒藥，為殺蟲辟邪癰疽等方，亦百二十首。凡共三百六十首也，實萬代醫家之規範，蒼生護命之大寶也。今檢錄常情需用者六十首，備山中預防災疾之用耳。檢用諸藥之要者，可黷契經方之旨焉。經云：在天成象，在地成形，天有五氣，化生五味，五味之變，不可勝數。」今者約列二十五種，以明五行互含之跡，以明五味變化之用，如左：</p>
<p>味辛皆屬木，桂為之主，椒為火，薑為土，細辛為金，附子<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">一本此二字不明</small></span>為水。
味鹹皆屬火，旋覆花為之主，大黃為木，澤瀉為土，厚朴為金，硝石為水。
味甘皆屬土，人參為之主，甘草為木，大棗為火，麥冬為金，茯苓為水。
味酸皆屬金，五味<span data-rev="校" data-ver="校者不詳"><small class="雙行夾注">子</small></span>為之主，枳實為木，豉為火，芍藥為土，薯蕷為水。
味苦皆屬水，地黃為之主，黃芩為木，黃連為火，白朮為土，竹味為水。
此二十五味，為諸藥之精，多療諸五臟六腑內損諸病，學者當深契焉。</p>
<p>經云：「主於補瀉者為君，數量同於君而非主故為臣，從於佐監者為佐使。」
陶隱居曰：此圖乃《湯液經法》盡要之妙，學者能諳於此，醫道畢矣。</p>
<p>弘景曰：「外感天行，經方之藥，有二旦、六神大小等湯。昔南陽張機，依此諸方，撰寫為《傷寒論》一部，療治明悉，後學鹹尊奉之。山林僻居，倉卒難防外感之疾，日數傳，生死往往在三五日間，豈險之虞也，今亦錄而識之。</p>
<p><u>小陽旦湯</u>
治天行發熱，自汗出而惡風，鼻鳴乾嘔者。
桂枝（三兩）　芍藥（三兩）　生薑（二兩，切）　甘草（炙，二兩）　大棗（十二枚）
上方，以水七升，煮取三升，溫服一升，服已，即啜熱稀飯一器，以助藥力，稍令汗出，不可大汗流漓，汗之則病不除也。若不汗出，可隨服之，取瘥止。日三服，若加飴一升，為正陽旦湯。</p>
<p><u>小陰旦湯</u>
治天行，身熱汗出，頭目痛，腹中痛，乾嘔下利者。
黃芩（三兩）芍藥（三兩）生薑（二兩，切）甘草（二兩，炙）大棗（十二枚）
上方，以水七升，煮取三升，溫服一升，日三服，服湯已，如人行三四裏時，令病人啜白漿一器，以助藥力，身熱之自愈也。</p>
<p><u>大陽旦湯</u>
治凡病汗出不止，氣息惙，身勞力怯，惡風涼，腹中拘急，不欲飲食，皆宜此方，若脈虛大者，為更切證也。
黃芩（五兩）　人參　桂枝　生薑（各三兩）　甘草（炙，三兩）　芍藥（六兩）　大棗（十二枚）　飴（一升）
上七味，以水一斗，煮取四或，去滓，納飴上火，令烊已，每服一升，日三夜一服。</p>
<p><u>大陰旦湯</u>
治凡病頭目眩暈，咽中乾，每喜乾嘔，食不下，心中煩滿，胸脅支痛，往來寒熱方：
柴胡（八兩）　人參　黃芩　生薑（各三兩）　甘草（炙，二兩）　芍藥（四兩）　大棗（十二枚）　半夏（一升，洗）
上八味，以水一斗二升，，煮取六升，去滓，重上火，緩緩煎之，取得三升，溫服一升，日三服。</p>
<p><u>小青龍湯</u>
治天行，發熱惡寒，汗不出而喘，身疼痛，脈緊者方：
麻黃（三兩）　杏仁（半升，熬，打）　桂枝（三兩）　甘草（炙，一兩半）
上方四味，以水七升，先煮麻黃，減二升，掠去上沫，納諸藥，煮取三或，去滓，溫服八合，必令汗出徹身，不然恐邪不盡散也。</p>
<p><u>大青龍湯</u>
治天行，表不解，心下有水氣，乾嘔，發熱而喘咳不已者。
麻黃（去節）　細辛　芍藥　甘草（炙）　桂枝（各三兩）　五味子（半升）　半夏（半升）　乾薑（三兩）
上方八味，以水一斗，先煮麻黃，減二升，掠去上沫，內諸藥，煮取三升，去滓，溫服一升。一方無干薑，作七味，當從。</p>
<p><u>小白虎湯</u>
治天行熱痛，大汗出不止，口舌乾燥，飲水數升不已，脈洪大者方：
石膏（如雞子大，綿裹）　知母（六兩）　甘草（炙，二兩）　粳米（六合）
上四味，以水一斗，先熬粳米，熟訖，去米，納諸藥，煮取六升，溫服二升，日三服。</p>
<p><u>大白虎湯</u>
治天行熱病，心中煩熱，時自汗出，舌乾，渴欲飲水，時呷嗽不已，久不解者方：
石膏（如雞子大一枚，打）　麥門冬（半升）　甘草（炙，二兩）　粳米（六合）　半夏（半升）　生薑（二兩，切）　竹葉（三大握）
上方七味，以水一斗二升，先煮粳米，米熟訖，去米，納諸藥，煮至六升，去滓，溫服二升，日三服。</p>
<p><u>小朱鳥湯</u>
治天行熱病，心氣不足，內生煩熱，坐臥不安，時下利純血如雞鴨肝者方：
雞子黃（二枚）　阿膠（三錠）　黃連（四兩）　芍藥（各二兩）
上五味，以水六升，先煮連、芩、芍三物，取三升，去滓，內膠，列上火，令烊盡，取下，待小冷下雞子黃，攪令相得，溫服七合，日三服。</p>
<p><u>大朱鳥湯</u>
治天行熱病，重下惡毒痢，痢下純血，日數十行，蠃瘦如柴，心中不安，腹中絞急，痛如刀刺方：
雞子黃（二枚）　阿膠（三錠）　黃連（四兩）　芍藥（各二兩）　人參（二兩）　乾薑（二兩）
上藥七味，以水一斗，先煮連、芩、薑五物，得四升訖，內醇苦酒二升，再煮至四升訖，去滓，次納膠於內，更上炎，令烊，取下待小冷，納雞子黃，攪令相得即成，每服一升，日三夜一服。</p>
<p><u>小玄武湯</u>
治天行病，腎氣不足，內生虛寒，小便不利，腹中痛，四肢冷者方：
茯苓（三兩）　芍藥（三兩）　白朮（二兩）　乾薑（三兩）　附子（一枚，炮去皮）
上五味，以水八升，煮取三升，去滓，溫服七合，日三服。</p>
<p>大玄武湯
治腎氣虛疲，少腹中冷嘲熱諷，腰背沉重，四肢清，小便不利，大便鴨溏，日十餘行，氣惙力弱者方：
茯苓（三兩）　白朮（二兩）　附子（一枚，炮）　芍藥（二兩）　乾薑（二兩）　人參（二兩）　甘草（二兩，炙）
上七味，以水一斗，煮取四升，溫服一升，日三夜一他。</p>
<p>弘景曰：陽旦者，升陽之方，以黃芪為主；陰旦者，扶陰之方，以柴胡為主；青龍者，宣發之方，以麻黃為主；白虎者，收重之方，以石膏為主；朱鳥者，表滋之方，以雞了黃為主；玄武者，溫滲之方，以附子為主；此六方者，為六合之正精，升降陰陽，變互金木，即濟水火，乃神明之劑也。張機撰《傷寒論》，避道家之稱，故其方皆非正名也，但以其藥名之，以推主為識耳。</p>
<p>陶經隱居云：中惡卒死者，皆臟氣被壅，致令內外隔絕所致也，神仙有開五竅以救卒死中惡之方五者，錄如左：</p>
<p><u>點眼以通肝氣：</u>
治跌仆，腰，挫閃，氣血著滯、作痛一處，不可欠呻、動轉方：
礬石燒赤，取涼冷，研為細粉，每用少許，以酢蘸，點目大眥，痛在左則點右眥，痛在右則點左眥，當大癢，螯淚大出則愈。</p>
<p><u>吹鼻以通肺氣：</u>
治諸凡卒死，息閉不通者，皆可用此法活之。
皂角刮去皮絃，用淨肉，火上炙燥，如杏核心大一塊，細辛根等分，共為極細末，每用葦管吹鼻中少許，得嚏則活也。</p>
<p><u>著舌而通心氣：</u>
治中惡，急心痛，手足遂冷者，頃刻可殺人，撲克其人唇舌青紫者及指甲青冷者是：
硝石（五錢匕）　雄黃（一錢匕）
上二味，共為極細末，啟病者舌，著散一匕於舌下，少時即定，若有涎出，令病者隨涎咽下必愈。</p>
<p><u>啟喉以通脾氣：</u>
治過食難化之物，或異品有毒，宿積不消，毒勢攻注，心腹痛如刀攪。
赤小豆　瓜蒂（各等分）
共為散，每用鹹豉半升，以水二升，煮豉取一升，去滓，納散一匕，頓服，少項當大吐則瘥。（啟喉方：救誤食諸毒及生冷硬物，宿積不消，心中痛疼方。赤小豆、瓜蒂各等分，為散訖，加鹽豉少許，共搗為丸，以竹箸啟病者齒，溫水送入口中，得大吐魯番即愈）</p>
<p><u>熨耳以通腎氣：</u>
治夢魘不寐
燒熱湯二升，入戎鹽七合，令烊化已，切蔥白十五莖納湯內，視湯再沸，即將蔥取出，搗如泥，以麻布包之，熨病者二耳，令蔥氣入耳，病者即寐也。（灌耳方：救飲水過，小便閉塞，涓滴不通方。燒湯一斗，入戎鹽一升，蔥白十五莖，莫令蔥太熱，勺湯，指試不太熱，即灌耳中，令病者側臥，下以一盆著湯，承耳下薰之，少時小便通，愈）</p>
<p>上五方，乃神仙救急之道，若畜病者，可倍用之。</p>
