<header data-type="book">
<h1>針灸神書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>瓊瑤真人</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>針灸之法，捷於用藥，夫人而知之矣。於醫乎，《針灸大全》、《針灸大成》遍行於世，而不知其皆本於《瓊瑤》乎。《瓊瑤》一書備註三百六十餘穴，其神針手法深明乎腹部盤盤、搓、循逆順之法，所謂刮、戰、搖、按、攝、彈、搓、搜者，無不明白分曉，令醫者一目瞭然，先明乎此，然後習氣上升陽、氣下升陰，熱中取涼、涼中取熱，溫多取冷、冷多取溫，及左補右瀉，穴道遠近，呼吸度數、淺深分寸，可次第而降矣。吾願世之醫病者取此書而立復之。按針中浮沉遲數之法，斟酌左病取右、右病取左、病上取下、病下取上之妙而消息之，庶不失活人之志云爾，是所望於世之行針者。是為序。</p>
<p><u>時維　道光丙申桃月下浣吉旦</u></p>
<p><u>古扐吉詹景炎氏八十二歲燈下書</u></p>

<h1>卷一·瓊瑤神書天部</h1>

<h2>宋徽宗皇帝崇寧五年瓊瑤真人一書手法序一</h2>
<p>論醫人針灸，不識何經受病，妄行取穴，又不知伐上升陽之法，又不知氣下升陰之法，令患人病疾，楚楚之苦不得愈者，何也?</p>
<p>答曰：一則，不中穴，不知氣行。二則，不知左補右瀉，更不知其分寸。三則，不知氣下升陰之法，難受其分，四則，雖知氣至，不明氣上、氣下，或隨其針而萃者。五則，不知汗、吐、下三法。六則，又不知腹部盤盤針法，專行補瀉，令人氣血不散。七則，不知移疼注痛，又不知熱中取涼、涼中取熱，溫多取冷、冷多取溫，又不知左癱而取右，右癱而取左，又不知上部有病而下部取，下部有病而上部取也。八則，不明針中浮沉遲數緊澀，不知病者何生，又不知補生瀉成之息數，左補右瀉，何能治之。先須審其八般手法治之，明其刺禁，辨經絡穴道遠近、各人呼吸度數、淺深分寸，用之無不愈矣。不可補瀉而取出針，又不可一律而推之，務在調勻。家明其真師口訣，手法秘要親傳，不得錯矣。</p>

<h2>瓊瑤真人用升陽升陰氣上氣下之手法講論歌二</h2>
<p>太陽膀胱及小腸，升陽氣上三經當。胃經陽明二證取，氣下熱甚按前行。少陽膽與三焦證，氣上氣下分陰陽。太陰脾胃實調氣，多取升陽效非常。少陰心腎搓摩法，更須取下要升陽。厥陰升陽為上用，四逆搓搓要熱強。若是老師行此法，免使患者受其殃。</p>

<h2>瓊瑤標本運氣歌三</h2>
<p>少陽從本為相火，太陰從本濕上坐，厥陰從中火是家，陽明從中濕是我，太陽少陰標本從，陰陽二氣相包裹。風從火斷汗之宜，燥與濕兼下之可，萬病能將火濕分，徹開軒岐無縫鑽。</p>

<h2>瓊瑤辨十二經水火分治法四</h2>
<p>膽與三焦尋火治，肝與包絡都無異，脾肺常將濕處求，胃與大腸同濕治，惡寒表熱小腸濕，惡熱表寒心腎熾。十二經中最端的，四經屬火四經濕，四經有熱有寒時，攻裡解表細消息。濕同寒兮火同熱，寒熱到頭無兩說。六經分來分熱寒，寒熱中停真浪舌。休治風時休治燥，治得火時風燥了。當解表時休攻裡，當攻裡時莫解表。表裡如或兩可攻，後先內外分多少。敢謝軒岐萬世恩，爭奈醯雞笑天小。</p>

<h2>宋徽宗崇寧皇帝論五</h2>
<p>朕自今日早朝，會集文武公卿。宣問大臣：「自從寡人即位以來，聞得在京人死大半，莫不是寡人無德，致得萬民有愆。」班中有一大臣，出班奏曰：「陛下，為今時人死因，今時之醫醫人多死。」皇帝龍顏不悅，又云：「寡人曾聞先皇帝太宗立醫人為長，命斯為貴，而今時之醫醫人多死。」故大臣端簡，再奏：</p>
<p>「陛下為甚。今時之醫，學不從師，針不按穴，藥不依方，虛而不補，實而不瀉。針能主表，藥能主裡，針藥並行；方可為醫，倚功全濟。凡醫人一要識字，二要曉陰陽，三通運氣，謂之明醫。醫不識字，不曉陰陽，不通陰陽，謂之盲醫。藥不別認新陳，亦不知反。誤治男子如治婦人，治婦人如治小兒。醫不三世，不服其藥。更兼世人有藥，預先不肯求醫，及致病根源深，方才出手求醫；倘又不遇良醫，病家不捨資財，醫家堅執古方，或云出於遠方而難求索，人命已失，永無再生之理。所謂差之毫釐，謬以千里，不誠然。」奏奉聖旨，天下尋訪明醫，欽選擢官前查。欽奉太祖高皇帝。</p>
<p>聖旨：差令御史申貴，前往虎口龍潭洞，訪見《瓊瑤真人神書》三卷。令侍郎張忠學習，神書三卷千金不傳。</p>
<p>聖旨：若有軍民曾習瓊瑤真人氣上、氣下、盤盤針法者，許令太醫院，免其本家差役二丁，免習《銅人》。</p>
<p>聖旨：差令丞相同太醫院官，考注三百六十餘穴。又差尚書況青，同考氣上、氣下手指之法。</p>
<p>聖旨：又令都御史楊林給事中，同考神針手法。不許循私，務在精選。</p>
<p>聖旨：差令主事劉斌，同考汗、吐、下三法。既明，以憑擢用。</p>
<p>聖旨：差令丞相胡智兼太醫院，考腹盤盤、搓、循逆順法。</p>
<p>聖旨：差令太醫院官劉瑢，同考刮、戰、提、按合同四法，精通。</p>
<p>聖旨：差令太醫院官黃□、侍郎張忠，同考攝、彈、搓、搜合宜四法。</p>
<p>華蓋殿門外左都御史劉子和欽奉聖旨，即說於太師劉大本，遵守瓊瑤心傳口授秘法神言，不得循私妄傳於世，以備擢用。</p>

<h2>論手足陰陽流注篇六</h2>
<p>凡人兩手兩足，各有三陰脈、三陽脈，以合為十二經也。三陰為太陰、少陰、厥陰，三陽為太陽、陽明、少陽也。人兩手足各有三陰三陽脈，相合為十二經也。謂之經者，以氣血流行經常不息而言；謂之脈者，以血理分袞行體而言也。</p>
<p>手之三陰，從臟走至手；手之三陽，從手走至頭。足之三陽，從頭下走至足；足之三陰，從足上走至腹。</p>
<p>手三陰從臟走至手。謂手太陰起中焦，至出大指之端；手少陰起心中，至出小指之端；手厥陰起胸中，至出中指之端。</p>
<p>三陽從手走至頭。謂手陽明起大指次指之端，至上挾鼻孔；手太陽起小指之端，至目內眥；手少陽起小指次指之端，至目銳眥。</p>
<p>足三陰從足走入腹。謂足太陰起大指之端，至屬脾絡胃；足少陰起足心，至屬腎絡膀胱；足厥陰起大指聚毛，至屬肝絡膽。足三陰雖曰從足入腹，然太陰乃復上膈挾咽，散舌本下；少陰乃復從腎上挾舌本；厥陰乃復上出額，與督脈會於巔。</p>
<p>蓋手太陰從肺系橫出腋下，手少陰從心系上肺出腋下，手厥陰循脅上抵腋下。此秦越人所謂諸陰脈皆至頸胸而還者也，而厥陰則又上出於巔。蓋厥陰，陰之盡也。所以然者，示陰無可盡之理，亦從《易》之碩果不食，示陽無可盡之理義也。然《易》之陰陽以氣言，人身之陰陽以臟象言。言氣則無形，而臟象有質，氣陽而質陰也。然則無形者貴乎陽，有質者貴乎陰歟!</p>

<h2>絡脈傳注周流不息七</h2>
<p>絡脈，本經之旁支，而別出以聯絡於十二經者也。本經之脈由絡脈而交他脈，他脈之交亦由是焉，傳注周流無有定息也。是以手太陰之支者，從腕後出次指之端，而交於手陽明。手陽明之支者，從缺盆上挾口鼻，而交於足陽明。足陽明之支者，別跗上，出大指之端，而交於足太陰。足太陰之支，從胃別上膈注心中，而交於手少陰。手少陰則直自本經少衝穴，而交於手太陽，不假支援，蓋君者出令者也。手太陽之支者，別頰上，至目內眥而交於足太陽。足太陽之支者，從膊內左右，別下合膕中，下至小指外側端，而交於足少陰。足少陰之支者，從肺出注胸中，而交於手厥陰。手厥陰之支者，從掌中循小指次指，出其端，而交於足少陽。足少陽之支者，從跗上，入大指爪甲聚毛，出而交於足厥陰。足厥陰之支者，從肝別貫膈，上注肺，而交於手太陰也。</p>
<p>故經脈者，行血氣、通陰陽以榮於身也。通結上文以起下之義：經脈之流行不息，所以運行血氣、流通陰陽，以榮養於身者也。不言脈絡者，舉經以賅之。其始從中焦，注手太陰、陽明，陽明注足陽明、太陰，太陰注手少陰、太陽，太陽注足太陽、少陰，少陰注手心主、少陽，少陽注足少陽、厥陰，厥陰復還注太陰。始於中焦注手太陰，終於注足厥陰，是經脈之行一周身也。</p>
<p>其氣常以平旦為紀，以漏水下百刻，晝夜流行，與天同度，終而復始者也。氣，榮氣，統紀承上文經脈之行。其始則自起中焦，其氣別常以平旦為紀也，榮常以平旦之寅時為紀，由中焦而始注手太陰，以次流行也。不言血者，氣行則血可知也。漏水下百刻，晝夜流行，與天同度者，言晝夜漏下百刻之內，人身之經脈流行無有窮止，與天同一運行也。蓋天以三百六十五度四分度之一，為一周天而終一晝夜；人之榮衛則以五十度，周為一身。氣行一萬三千五百息，脈行八百一十丈而終一晝夜，適當明日之寅時，而復會於手太陰。是與天同度數，周而復始也。或云晝漏有長短，其榮氣盈縮何如?然，漏刻雖有長短之殊，而五十度周身者均至其中，不因漏刻而盈縮也。</p>

<h2>醫學源流八（佚）</h2>

<h2>瓊瑤真人避瘟毒傳染法九</h2>
<p>凡醫家至人家看病，恐有瘟疫潦勞傳染之疾，其法：</p>
<p>凡人未至其病家，先須浣口、洗手，望空祝白。方至其家，且要至誠，立不中門，坐不靠壁，臥不解衣，蓋被不可近口。凡有飲食，務自己氣吹過，方可吃。不對日月星辰下小遺，亡起淫念，休起貪心，勿生嫉妒，專要行方便心。此是陰陽邪氣，先不敢進矣。凡接病家所謝之物，務要先舉手叩齒謝天，然後以左手接之。如出門回家，便在地下拾一葉或草，絕做兩段，分丟兩處。至長流水邊，浣口、洗手。望太陽，默祝云：至某家治病回得，何物並無惹帶。轉身便行，不可回頭，即無傳染矣。</p>

<h2>瓊瑤真人針灸神針禮斗神咒十（佚）</h2>

<h2>天昰神咒十一（佚）</h2>

<h2>後咒針法揉搓十二（佚）</h2>

<h2>生成數十三</h2>
<p>生一加五，補生瀉成。男子左補右瀉，女子右補左瀉。</p>
<p>水一　火二　木三　金四　土五</p>
<p>《易》曰：</p>
<p>天一生水壬與子，地六成之癸與亥。腎應之水，吹氣出於肺，屬陰，故寒。</p>
<p>地二生火丁與巳，天七成之丙與午。心應之火，呵者賀也，怨也。</p>
<p>天三生木甲與寅，地八成之乙與卯。肝應之木，噓氣出丹田，屬陽，故溫。</p>
<p>地四生金辛與酉，天九成之庚與申。肺應之金，呬，鼻中出氣。</p>
<p>天五生土戊與辰，地十成之己與未。脾應之土，呼，外息也，一呼一吸為一息。</p>
<p>又曰：</p>
<p>三焦相火取嘻，此應五臟六腑，呼吸出入門戶也。嘻者，噫嘻，嗟也。嘻，聲恨也。冷補之時，使氣至病所，更用生成之息，故令病人鼻中吸氣天氣入，口中出氣地氣出，自覺熱矣。熱瀉之時，使氣至病所，以更用生成之息數，令病人鼻中氣法天氣出，口中吸地氣入，按所病在臟腑之數，自覺清涼矣。</p>
<p>法曰：補冷，天先吸，鼻中先吸氣，口中出氣。熱瀉，地先行，口內先吸氣，鼻中出氣。兩竅互換，取天氣出、地氣入，地氣出、天氣入。生成至數，推按病所臟腑虛實之數呼吸。</p>
<p>急提慢按逆吸氣，慢提急按隨呼吸。隨補迎瀉為呼吸，此理呼吸至精微。</p>

<h2>千金不傳之秘十四</h2>
<p>神針曰：氣浮皮起多少，不可上，用升陽法。如有浮無滑可提，急彈數次可升陽。氣滑針出多少，可用升陽法。有滑無浮，先按提搓之，戰，出針。氣澀，捻針。</p>
<p>氣來、又不來、又來，針上有黏皮，出針。在上氣沉，針皮起有儅無儅，此法用搓按。氣緊，補、瀉、提、按、刮、搜俱緊，可用升陽法。氣細微，氣細微中緊邊松，可以又用氣上、氣下。來氣、不來，用一遭補瀉。或來，或不來，用彈，彈加搓攝。氣兩邊行，可按。氣逆之，伸提有力。</p>
<p>氣上下，用搓數次，按一次，提搓次按一次，提一次，又搓數次，戰、按、微補一次，按定出針，搓搓刮七次，循三次。戰、提氣行，按、瀉得吸呼。海底發火燒天急，天邊水火就中溫，輕輕撥動此而個，卻似船家把舵執。</p>

<h2>瓊瑤神針書定生死之法千金不傳十五</h2>
<p>人皮老硬屬木，沉澀細微屬陽，西方金也。</p>
<p>針滑，氣不至，屬太陰，北方水也。</p>
<p>不緊不慢，氣即至，屬太陽，南方火也。</p>
<p>氣實澀，屬少陽，東方木也。</p>
<p>皮硬肉稀，氣微不至，金能剋木也，水能剋火，必是死症也。</p>
<p>肉緊硬，屬脾土，乃五行相生也。</p>
<p>但有相剋，便定生死，余月日時大凶也。</p>
<p>皮浮肉緊，氣即至，重針寶休也。</p>
<p>女人皮肉俱緊，必當雙產也，即是男兒也。皮浮肉緊，定當單子也。皮肉俱稀，是女兒之形也。</p>

<h2>瓊瑤真人秘傳神針手法心授口訣二十四字十六</h2>
<p>氣上　左氣上，右氣上，中氣上，上氣上，下氣上。虛實。</p>
<p>氣下　左氣下，右氣下，中氣下，上氣下，下氣下。虛實。</p>
<p>升陽　左升陽，右升陽，中升陽，上升陽，下升陽。虛實。</p>
<p>升陰　左升陰，右升陰，中升陰，上升陰，下升陰。虛實。</p>
<p>循循　左循循，右循循，中循循，上循循，下循循。虛實。</p>
<p>提提　左提提，右提提，中提提，上提提，下提提。虛實。</p>
<p>按按　左按按，右按按，中按按，上按按，下按按。虛實。</p>
<p>彈彈　左彈彈　右彈彈，中彈彈，上彈彈，下彈彈。虛實。</p>
<p>撞搓　左撞搓，右撞搓，中撞搓，上撞搓，下撞搓。虛實。</p>
<p>捻捻　左捻捻，右捻捻，中捻捻，上捻捻，下捻捻。虛實。</p>
<p>進進　左進進，右進進，中進進，上進進，下進進。虛實。</p>
<p>退退　左退退，右退退，中退退，上退退，下退退。虛實。</p>
<p>搜搜　左搜搜，右搜搜，中搜搜，上搜搜，下搜搜。虛實。</p>
<p>攝攝　左攝攝，右攝攝，中攝攝，上攝攝，下攝攝。虛實。</p>
<p>逆逆　左逆逆，右逆逆，中逆逆，上逆逆，下逆逆。虛實。</p>
<p>搖搖　左搖搖，右搖搖，中搖搖，上搖搖，下搖搖。虛實。</p>
<p>橫橫　左橫橫，右橫橫，中橫橫，上橫橫，下橫橫。虛實。</p>
<p>順順　左順順，右順順，中順順，上順順，下順順。虛實。</p>
<p>摩摩　左摩摩，右摩摩，中摩摩，上摩摩，下摩摩。虛實。</p>
<p>刮刮　左刮刮，右刮刮，中刮刮，上刮刮，下刮刮。虛實。</p>
<p>切切　左切切，右切切，中切切，上切切，下切切。虛實。</p>
<p>前前　左前前，右前前，中前前，上前前，下前前。虛實。</p>
<p>後後　左後後，右後後，中後後，上後後，下後後。虛實。</p>
<p>伸伸　左伸伸，右伸伸，中伸伸，上伸伸，下伸伸。虛實。</p>
<p>走走　左走走，右走走，中走走，上走走，下走走。虛實。</p>
<p>盤盤　左盤盤，右盤盤，中盤盤，上盤盤，下盤盤。虛實。</p>
<p>戰戰　左戰戰，右戰戰，中戰戰，上戰戰，下戰戰。虛實。</p>
<p>動動　左動動，右動動，中動動，上動動，下動動。虛實。</p>
<p>捫捫　左捫捫，右捫捫，中捫捫，上捫捫，下捫捫。虛實。</p>

<h2>赤鳳搖頭十七</h2>
<p>凡下針得氣，針頭、針尖不動者，用搓、循、盤、按、推、戰、搜、摩、攝、提、橫、順、逆、搖。氣上下，看虛實。要上行，閉其氣下行；要下行，閉其氣上行。若要進針，從辰時至巳時；退針，從巳時至辰時。進則左捻針，退則右捻針，左右動也。</p>

<h2>蒼龍擺尾十八</h2>
<p>凡下針，飛至關，針頭不動，針尖動，左右用搓、循、盤、按、推、戰、搜、摩、橫、順、逆、搖、氣上、氣下。惡處回撥者，將針散慢服之，如舡中把舵，左右隨其氣輕輕而撥，其氣自交。或周身遍體，奪流不出，其所法。如氣不行，將舒伸、提而已。</p>

<h2>搓法（三陽經外絡內搓、三陰經內絡外搓）十九</h2>
<p>凡下針寒熱者，以為搓之。或內，或外，如搓線之貌，勿使大轉大緊，令人肉緊。已針，准以進退。左轉則熱，熱則天氣入，鼻吸口呼出也；右轉則寒，口中吸氣，地氣入，鼻中出氣，天氣出。亦有出入之理。慢說之，再用臟腑生成之數足，自有在前。</p>

<h2>瓊瑤真人三百六十號總括二十</h2>
<p>人之一身具二五，血氣周流類天地，奈何失養有不調，痎瘥是生仰醫濟。至哉瓊瑤真人心，能為醫理窮究深，大經小絡分造化，妙推十法施金針。</p>
<p>循則氣來弗停歇，彈後手捫閉其穴，提按氣能上下行，刮者取為時頃刻。緣氣不行搜則奇，氣如蟻走戰取時，氣澀皆賴摩之效，欲和欲絕搓捻之。</p>
<p>隨迎補瀉真粗細，世人傳用皆如此。如吾十法迥難同，良玉碔砆焉可比。此法濟人有奇效，扶生益壽無終窮，傳之同志廣陰德，杏林春雨枝枝紅。</p>

<h2>瓊瑤真人十段錦周流氣上氣下秘訣二十一</h2>
<p>瓊瑤提按最玄妙，氣上周流十二支，六十六穴並經絡，一日時辰此刺知。</p>
<p>冷痹腎俞三里提，陰陵臍腹痛相宜，肩井只針手三里，頸項之疾手後谿，夾脊後心中渚刮，陰陵脅肋應無疑，大陵能主心胸痛，委中腰腳要須知。</p>
<p>先要己口溫針暖，得其呼吸運氣隨。毒掐穴而憑指甲，此是進針不痛機。痛疼即瀉癢麻刮，彈每先呼後吸之。提按須要分在此，認取經絡有功奇。春夏瘦而宜淺刺，秋冬肥人深刺之。搓進盤搖分子午，腹部盤盤要君知。</p>
<p>冷即要熱熱宜冷，三提三按別有機，緊提慢按如冰冷，慢提緊按似火池。要識進搓分提按，隨濟左而補暖宜，能別動靜如按歇，迎奪右而寒瀉之。得氣至如舡扶舵，應如弦弩始發機，氣至如魚吞釣餌，未至閉處邃幽閨。指捫塞閉候其氣，手如握虎敬賓時。氣至速而亦速效，氣至遲而效亦遲。瓊瑤提按留真訣，方知速效有神機。《素問》《難經》分補瀉，此法提按少人知。年中四季人感災，迎隨決移源問之。觀形察色分深淺，要在徐徐用針施。合進三分提按可，五分用者自詳推。世間妙訣少人知，榮衛先留後用之。</p>
<p>春夏秋冬要提按，左右見效在心持。神人先用氣上下，坐地須來遍所宜。針至皮膚分深淺，須知先後莫妄施。或捻或彈搓時用，更須仔細用意推。合先呼而依法補，合瀉依法不用疑。補時大指向前是，瀉是大指望後移。陽人大指推前甲，陰人推後亦如之。補瀉之時已此定，男左女右古今知。要得氣上知提按，針後須臾效自奇，提針氣來能戰刮，頓起沉疴即此機。出陽入陰應呼吸，出入陰陽不可違。此是瓊瑤十段錦，提按千金不換之。</p>

<h2>瓊瑤真人治病手法歌</h2>

<h3>氣上一法</h3>
<p>氣上之法補三次，即提七次在針頭，若行氣血加循理，麻痛消除不用憂。</p>

<h3>氣下二法</h3>
<p>氣下瀉四即按七，針頭氣下在循行，痛麻自愈同前理，榮衛沖原氣自平。</p>

<h3>氣上不行加三法</h3>
<p>氣上不行左轉三，循循七次攝急彈，再加提攝專攝上，氣自流行病自安。</p>

<h3>氣下不行加四法</h3>
<p>氣下不行右轉三，循循七次不攝彈，再加七按攝七次，戰戰按三氣下安。</p>

<h3>升陽法</h3>
<p>升陽即便搓數遭，搓加循理數回饒，急提三次須加補，加用伸提陽自交。</p>

<h3>升陰法</h3>
<p>升陰即按要加伸，提連搓搓急按之，更使針頭頻下戰，搓摩瀉使疾如飛。</p>

<h3>虛循五法</h3>
<p>虛循十次買不來，三寸七捻又七循，再加三捻循七次，病者難醫必喪身。</p>

<h3>實循六法</h3>
<p>實循不用要循循，即補三次氣在針，一補即緊為邪氣，三補七循是為飲。</p>

<h3>虛提七法</h3>
<p>補七循環氣多虛，微微輕手取輕提，輕提一補多按戰，再用按戰氣行施。</p>

<h3>實提八法</h3>
<p>即補七次七循環，取為正氣要伸提，一補即緊為邪氣，搜刮瀉彈去其非。</p>

<h3>虛按九法</h3>
<p>補十循十氣不來，按按不摩取氣開，三四十人要提按，五十人人針按裁。男人出血按者少，女人行陰按多循。記得虛按真奇妙，氣上升陽一理回。</p>

<h3>實按十法</h3>
<p>針緊不按使氣邪，不出針松用按多，要得氣微微加戰，十按不逆陰陽和。</p>

<h3>虛彈十一法</h3>
<p>虛人不用虛彈法，若使虛彈陰氣松，虛彈諸病皆無取，急按戰戰氣自通。</p>

<h3>實彈十二法</h3>
<p>實人氣澀用七彈，刮刮搓摩又急彈，急彈二補買氣至，氣上氣下取調安。</p>

<h3>虛撞搓十三法</h3>
<p>虛人有熱不須搓，搓搓多熱病不和。冷者多搓數十次，連取急按要搓多。虛人瀉多有法按，冷者搓搓取熱摩。多計二法冷熱取，氣上氣下定無訛。</p>

<h3>實撞搓十四法</h3>
<p>實人有熱少取搓，搓搓有熱風病多。實人有冷搓須到，氣自流行病自和。</p>

<h3>虛捻十五法</h3>
<p>虛捻十循氣不至，二寸一捻氣來遲，再加三寸加三捻，氣不來潮死不醫。</p>

<h3>實捻十六法</h3>
<p>實捻看針才不緊，下針緊者不用捻，若還不知又去捻，氣猛傷榮衛不和。</p>

<h3>加進十七法</h3>
<p>氣來加進三分去，血氣流行取戰功，虛人留一三寸二，氣血停呼時刻通。</p>

<h3>加退十八法</h3>
<p>急按退退取三分，急提五分進三分，血來退出五分至，補彈三次血自行。</p>

<h3>順搖十九法</h3>
<p>順搖順輕搖，氣澀方用搖，吐法多用便，閒法不可搖。</p>

<h3>橫搖二十法</h3>
<p>橫搖逆經絡，吐法要逆陽，閒法不可用，取者陽不良。</p>

<h3>陰陽手訣二十一法</h3>
<p>從來升陰要升陽，血氣調勻仔細詳，若是升陰陽日旺，升陽陰日血榮昌。陽經陽日左旋轉，陰日陰行臟腑康，陰日多使升陽法，陽日升陰百病良。</p>

<h3>手指提按二十二法</h3>
<p>提提陽經多用提，陰經多按血勻余。虛人提處加用按，按虛加循氣來宜。陽經提起皮一寸，氣候陽經是不虛。陰日多使升陽法，陽日升陰百病除。</p>

<h3>刮戰手指二十三法</h3>
<p>陽經刮戰取上刮，下刮陰經血自行，重陽七刮戰四五，陰經重戰七刮輕。陰經若使上刮去，還將邪氣逆相沖，刮戰陰經同一法，通行氣血自調勻。</p>

<h3>子母指訣二十四法</h3>
<p>子母補瀉提按搓，高底刮戰兩家和，左行一補右一瀉，上刮下戰要搓摩。再加搜搜一二轉，腹裡盤盤取響聲，三九提搓有餘用，調勻血氣熱中搓。</p>

<h3>定呼吸度數二十五法</h3>
<p>二十人候三十度，只補三遭有七循。四五十人四十度，五補十循氣虛仍。六七十人三十五，四補老陽用七勤。男婦呼吸已分定，氣候虛實見其真。</p>

<h3>室女呼吸二十六法</h3>
<p>二十呼吸二十人，一補三循氣均勻，若是三補循十次，女人顏貌婦人身。</p>

<h3>虛實攝手指訣二十七法</h3>
<p>虛氣行行不用折，攝來真氣各相離。實氣伸提多攝攝，氣自流行理宜合。</p>

<h3>買氣至浮沉二十八法</h3>
<p>氣浮皮起急升陽，有浮有滑氣下良。有浮里澀取彈法，彈者祛澀出邪殃。</p>

<h3>氣滑二十九法</h3>
<p>氣滑升陽要升陰，按提搓戰按如神。針滑伸者七八次，須氣多來氣不勻。</p>

<h3>氣澀三十法</h3>
<p>氣上法度已使了，使氣不行澀在針，急彈數十刮十次，針中澀氣自通行。</p>

<h3>氣緊三十一法</h3>
<p>氣緊一補是為邪，多刮搜搜去緊切，若是刮搜緊不除，無病莫使氣行徹。</p>

<h3>氣微三十二法</h3>
<p>氣微細又在針中，外鬆內緊是此微，若是急微急戰按，戰按氣來方便移。</p>

<h3>買氣三十三法</h3>
<p>方循七七氣，伸提轉轉如，戰按三五次，攝動氣來麻。</p>

<h3>轉針三十四法</h3>
<p>氣上升陽按幾回，半升半上氣宜開，肥人要使轉針法，邪氣頻除風不來。</p>

<h3>調勻手指訣三十五法</h3>
<p>刮刮按按補七次，搜搜摩摩又搓摩。用加搜搜數十次，諸病調勻氣血和。</p>

<h3>男人針自出八分三十六法</h3>
<p>男人針出有神明，急按搓搓用意精，二次再提皮上起，坐觀病者得安寧。</p>

<h3>婦人針自出三十七法</h3>
<p>婦人針出見虛實，血少陽多血不行，三補要加急搓按，遂令病者見全生。</p>

<h3>四季用艾三十八法</h3>
<p>春艾三分夏四五，秋五加六待冬來，冬至一陽四五火，三陽三分四五開。</p>

<h3>頭上有病足下針三十九法</h3>
<p>下部升陽二氣上，再用升陽到上方，急取氣上停呼法，搓搓刮提去催陽。再用停呼十三次，氣下升陽戰戰忙，急搓按按氣下戰，頭上諸病自然康。</p>

<h3>頭上使氣四十法</h3>
<p>頭上之病先用搓，搓搓數次取熱和，後用升陰一二次，再用氣下要搓摩。多取停呼數十次，後取升陽再加搓。不問男女一般使，復用升陰氣下多。</p>

<h3>上部有汗四十一法</h3>
<p>上部有病不升陽，直用升陽到上方，下部連連下升取，上部汗出要升陽。若還下部要取汗，急用搓搓三補彈，連用升陽加搓法，上下氣流病自安。</p>

<h3>頭上有病下部取四十二法</h3>
<p>下節升陽用陽穴，加搓數次到頭多，復次升陰二三次，再用升陽氣上搓。不是實人絕莫取，虛人要取汗自行，不虛不實要取下，多用升陽升陰明。</p>

<h3>男人午前升陽四十三法</h3>
<p>午前氣上要升陽，左戰升陽搓戰精，實人多提八分妙，虛人急按要分明。</p>

<h3>婦人午前取氣四十四法</h3>
<p>婦人午前要升陰，急用升陰氣上尋，微提急按搓戰法，氣上升陽用調針。</p>

<h3>男子午後買氣四十五法</h3>
<p>午後升陽要搓搓，氣下搓搓取熱和，伸提急用氣下法，再取升陰血氣過。</p>

<h3>婦人午後取氣四十六法</h3>
<p>婦人午後要氣上，升陰右轉取按摩，再取急按伸提戰，左轉三遭見調和。</p>

<h3>立冬針刺四十七法</h3>
<p>立冬多冷人針刺，急用升陰一二遭，多取搓搓有內熱，陽氣開通氣自交。</p>

<h3>風雨針刺四十八法</h3>
<p>風雨針刺要搓搓，急用搓搓陽氣多，多搓不禁風雨冷，陽氣施行病自和。</p>

<h3>日晚急病針刺四十九法</h3>
<p>日晚針刺二升陽，升陽三次氣上安，晚間諸病莫取血，病弱陽強病愈難。</p>

<h3>半身取汗五十法</h3>
<p>左邊要汗急升陽，再取升陽按吉祥。右邊無汗升陽法，後用此法停呼良。停呼三十左急搓，右邊無汗取按方，左邊微用氣下法，右邊按按出針詳。</p>

<h3>傷寒無汗五十一法</h3>
<p>傷寒數日不出汗，熱者升陰後升陽，再加搓搓數十次，攝提汗出遍身涼。身涼此法汗不止，連搓　急按停呼長，再須急按一二次，汗自干時病自康。</p>

<h3>傷寒吐五十二法</h3>
<p>傷寒吐法升陽起，後用升陽一氣隨，再取氣下加搓法，橫順搖來吐即宜。後取升陽一氣上，橫搖急吐用伸提，伸提七次吐七口，出針調勻法可極。</p>

<h3>傷寒下五十三法</h3>
<p>搓搓數十要升陽，連取氣上搓攝忙。再取氣上攝提起，腹中自響數聲即。腹中不響取熱法，氣下一次升陰當，急用升陰一二次，連下三遭利數行。</p>

<h3>傷寒汗吐下加五十四法</h3>
<p>汗不出時加升陽，急取搓搓攝提詳。吐法不吐加橫逆，再加橫搖又順陽。下法不下加攝提，即用升陰氣不忙。三法加法此已定，出針調勻二次良。</p>

<h3>傷寒不傳五十五法</h3>
<p>升陽即使氣上法，按搓停呼用戰功，搓攝再加氣上法，升陰二次脹即行。順搖多彈二三次，將針起出二分停，再將微搓升陽法，連連升陰利即頃。</p>

<h3>傷寒不出汗加五十六法</h3>
<p>氣上升陽一二次，搓搓按按氣通暢，搓搓升提汗微有，伸提汗出更升陽。再將升提提不起，汗出滿身不用詳，若要汗乾急按下，氣行再按瀉無妨。</p>

<h3>傷寒不傳汗五十七法</h3>
<p>升陽搓搓搜升陽，升陽氣上搓助陽，伸提汗出微微有，再用升陽搓更良。忙忙伸提提皮起，搓搓攝提汗流漿，再加搓補汗如水，汗要干時升陰當。</p>

<h3>傷寒急取汗五十八法</h3>
<p>搓搓數十急升陽，急按伸提搓攝方，再加提搓五七次，汗出三補遍身涼。又搓戰按伸攝起，微微汗出復升陽，再取停呼三十度，連用升陰法最良。</p>

<h3>傷寒升陽五十九法</h3>
<p>升陽即使搓數遭，搓加循理數回饒，急提三次須加補，加用伸提陽自交。</p>

<h3>傷寒升陰六十法</h3>
<p>升陰即按要加伸，提連搓搓急按之，更使針頭頻下戰，搓摩瀉使即如飛。</p>

<h3>傷寒不吐加六十一法</h3>
<p>升陽加搓順搖七，搓搓橫搖逆陽和，又取氣上須瀉四，伸提皮起七分過。若是吐多伸陽上，氣上升陽吐即多，復取氣下要橫逆，不吐即按取搓摩。要提七次吐七口，諸病調勻脾胃和。</p>

<h3>傷寒不吐六十二法</h3>
<p>順搖數十要伸停，橫搖七次把針扶，再加搓搓升陽法，急補橫搖吐即除。若取伸提橫搖七，再取升伸提氣吐，若要吐七提七次，方知吐下升陰數。</p>

<h3>傷寒不傳加六十三法</h3>
<p>順搖升陽要加搓，加搖順搖取熱和，再加氣下伸提法，伸提試出嚷即多。若是腦熱不能吐，復加數遭升陽補，再取氣上升陽法，急出針兮數口吐。</p>

<h3>傷寒發熱病六十四法</h3>
<p>傷寒發熱要汗法，四關出內定吉凶，熱多不解要出血，四六多彈取血功。取血停呼真奇妙，後用關中要升陽，升陽多取按提法，傷寒熱病自消涼。</p>

<h3>傷寒男子陰證十指青六十五法</h3>
<p>男子陰證十指青，闌門雙盤取熱循，丹田一穴圓盤取，三穴停呼搓熱純，再取三里升陽二，闌門丹田盤攝勻，任是疼痛無不止，急用調汗出汗頻。</p>

<h3>傷寒婦人十指冷口唇紫色六十六法</h3>
<p>婦人陰證十指冷，中極闌門灸針寧，二穴急搓圓盤法，盤人陽和熱在蒸。復上此穴升陽攝，三里升陰在意精，再用三里升陽法，停呼內熱病安平。</p>

<h3>傷寒氣上虛訣六十七法</h3>
<p>虛人不循補七次，半提穴起向上行，微刮七遭加搓戰，戰用重按法針明。</p>

<h3>傷寒氣上實訣六十八法</h3>
<p>補三次法提不起，伸提用循刮戰功，再取針來向上攝，氣自流行病不攻。</p>

<h3>傷寒不傳氣六十九法</h3>
<p>升陽二遭用氣上，再用氣上要搓摩，升起即用升陽法，問病有熱停呼呵。再取升陽一二次，搖搖左轉七循多，氣下即響升陽法，連提戰按響聲和。</p>

<h3>傷寒氣下加七十法</h3>
<p>搓搓氣上要升陽，急用升陰氣下良，再取升提搓復起，停停脹滿自然康。順搖彈搓復加戰，氣上升陰提自張，再使升提提不出，升陰連下即安康。</p>

<h3>傷寒小兒汗七十一法</h3>
<p>氣上一遭搓五次，七補加搓三補齊，要搓伸提陽在外，循循無汗呼吸之。</p>

<h3>傷寒小兒汗不出加七十二法</h3>
<p>搓搓數十有餘遭，熱來加搓陽氣調，伸提汗出左右攝，諸經汗出病源消。</p>

<h3>傷寒小兒吐七十三法</h3>
<p>手取順搖十一七，氣上一次便橫陰，循是搖搖真要吐，再加攝按停呼冷。</p>

<h3>傷寒小兒吐加七十四法</h3>
<p>氣下一次要橫逆，錯亂循環用七遭，再用氣上提戰法，連吐七口見功高。</p>

<h3>心風病七十五法</h3>
<p>勞宮二穴治心風，提按加補彈數勻，心胸大陵升陽法，急取升陰提攝平。三里微用氣上取，連用搜刮指下明，再用寸關攝下法，調勻血氣出針寧。</p>

<h3>中風不語七十六法</h3>
<p>中風不語刺心經，四關四穴見浮沉，次日湧泉如捻去，肺經穴上魚際針，針刺此穴聲音出，三里升陽氣下尋，太衝二穴取血出，氣血通暢免勞心。</p>

<h3>神不守舍心風旺說不定七十七法</h3>
<p>神不守舍刺心經，內關包絡氣上循，心經多取神門上，三里照海下法存，並取肝經太衝穴，外關二穴氣上捫，一七多灸心肝俞，四穴提刮一理論。</p>

<h1>卷二·瓊瑤神書地部</h1>

<h2>男子筋骨疼痛七十八法</h2>
<p>男子筋骨多疼痛，先取汗法要升陽，升陽已了停呼足，多要補七在搓方。搓摩在取氣上法，後在升陽一理強，再加刮戰三按補，連後出針病自康。</p>

<h2>婦人筋骨疼痛七十九法</h2>
<p>婦人筋骨有多般，先取升陰氣上衝，停呼三十有餘度，再取汗法血氣通，汗出補三瀉四五，針出伸提有大功，再加搓提陽出外，骨中邪氣自然空。</p>

<h2>婦人嘔吐大便不通二證八十法</h2>
<p>婦人嘔吐不能止，中極圓盤陽在中，氣海一穴升陽上，脘內關盤攝響攻，若是響聲五七至，即將嘔吐正心胸，三里照海施下法，大小便通即便通。</p>

<h2>婦人胎衣不下連小腹疼痛八十一法</h2>
<p>胎衣不下連腹疼，三陰升陽一二回，再用氣上上二穴，連下升陰急去催，三里調胃氣上法，再取氣上氣自開，足冷微微出些汗，搓搓便戰出針來。</p>

<h2>婦人白濁日夜不止八十二法</h2>
<p>婦人白濁日夜流，滿身黃瘦百勞憂，白濁子宮中極用，雙盤雙穴在手頭，中極圓盤多取熱，子宮雙用理中收，三里三陰雙陰上，雙穴升陰血氣周。</p>

<h2>婦人生胎八十三法</h2>
<p>下胎此法要升陽；再用升陽補更涼，復取氣下三搓法，即用升陰產便康。</p>

<h2>婦人下死胎八十四法</h2>
<p>死胎多用升陽法，連用氣上搓數遭，再用升陽加搓法，復取氣下升陰變，升陽加補微微下，急用升陽痛即消，腹下升陽一二次，死胎急下見功高。</p>

<h2>婦人腹上下胎八十五法</h2>
<p>橫橫順逆要升陰，再用升陰四逆陽，再加搓攝五七次，伸提自出如神匡。</p>

<h2>婦人赤白帶下八十六法</h2>
<p>婦人赤白大盤取，圓圓盤盤呼吸停，若盤攝白不能止，中極皮起五分真，五分提搓針不出，三陰升陽病者欣，三陰復使氣上法，搓搓連下升陰行。</p>

<h2>婦人血山崩八十七法</h2>
<p>婦人血山崩漏多，中極大盤要搓摩，再搜搜來十數次，雙盤二穴要精和，雙雙盤後圓圓取，若是血山即要止，陽升升後定無訛。</p>

<h2>婦人腳下筋骨疼痛八十八法</h2>
<p>婦人疼痛血不調，陽陵陽交上下交，太衝取血多為妙，陽陵升陽氣下消，陽交升陰調勻法，足冷搓搓熱戰交，婦人血氣多為弱，急急升陽補血饒。</p>

<h2>婦人脹滿兩足浮腫八十九法</h2>
<p>滿腹氣脹足浮腫，中脘下盤攝在分，丹田盤下攝數次，皮腹七分響一勻，再加三里氣上二，一次氣下又陰升，三陰太衝取血法，運用調勻針出騰。</p>

<h2>婦人腳氣紅腫疼痛九十法</h2>
<p>婦人腳氣紅腫痛，應痛多針出血行，三陰引氣上下法，二循血出太衝迎，再加次日復針刺，湧泉彈流自依經，停呼度數五十次，不用出針氣自寧。</p>

<h2>婦人經血不調九十一法</h2>
<p>婦人經氣血不調，中脘圓盤氣上交，精宮雙盤盤攝下，二穴搓搓熱氣饒，再加三氣上法三，陰攝下血氣調調，調胃三里升陽一，急出針頭氣下消。</p>

<h2>婦人經事不行九十二法</h2>
<p>多搖血氣即便行，提戰皮起自分明，便加一盤用七攝，中提不動下即虛。</p>

<h2>婦人下經事九十三法</h2>
<p>經事不行一二載，中極大盤攝不行，再攝大盤一二次，攝下搓搓要熱生，腹中熱熱三陰下，伸提皮起七分明，七分皮起直奇下，三陰升陰氣下頻。</p>

<h2>室女調經九十四法</h2>
<p>室女大盤用四循，二穴微提陽自行，再加微循用搓法，攝下搓搓要熱生，若是響法升陰二，上穴升陽響數聲，此病伸提針不出，不問經候即時行。</p>

<h2>婦人經氣不行九十五法</h2>
<p>經事不調月不行，中極大盤用提伸，若是響法攝七次，伸提皮起自然真，再取小盤加攝法，搓搓要熱一小循，又加伸提提不起，經後七七自然行。</p>

<h2>婦人赤白帶下黃瘦潮熱九十六法</h2>
<p>婦人赤白下愈多，子宮虛冷奈渠何，中極圓盤取下氣，精宮雙盤搓熱過，三里三陰升陽法，連取升陽取調和，次日又行三陰交，連取升陰取調和。</p>

<h2>婦人血山崩日夜流多不止九十七法</h2>
<p>婦人血山崩甚多，老者難醫病若何，一日中極圓盤取，精宮雙盤要氣和，過往七日針三里，三里升陽按戰摩，若是腰疼腎俞取，搓搓急按數刮多。</p>

<h2>男子腎虛夢泄並夜出盜汗九十八法</h2>
<p>男子夢泄夜不一，精宮兩盤法最良，丹田一穴圓盤取，三陰一穴有升陽，若是諸穴伸提起，提起七分腎氣強，三里二穴氣上法，連提皮起實良方。</p>

<h2>男女腳膝紅腫流注氣血疼痛九十九法</h2>
<p>腳膝上下流注痛，睨日屬陰病可憐，應痛此穴多刮戰，正穴施法應上先，若是好偏提搓補，病偏正補奇疴痊，在後出針多戰按，彈彈出血邪氣遷。</p>

<h2>婦人五心發熱月水淋漓一百法</h2>
<p>五心潮熱漸相侵，申酉陰陰熱自法，先刺勞宮提出血，湧泉升陽氣至心，若人四穴針出大，來日中極圓盤針，圓盤一次停呼數，重攝伸提血氣沉。</p>

<h2>男子腳氣腫痛一百一法</h2>
<p>男子腳氣沒沒痛，禁灸多針亦不妨，二陽二穴氣上下，太衝二穴取血良，湧泉彈刮祛邪法，刮戰二穴崑崙訣，再加公孫微血出，諸穴調勻此穴強。</p>

<h2>男子渾身筋骨疼痛一百二法</h2>
<p>男子筋骨疼痛多，醫人功取血相和，手法宜用搓提起，氣上升陽病可呵，急取停呼五十度，後用戰搓熱自過，是用足合取熱法，此病一七自消磨。</p>

<h2>男子五心潮熱一百三法</h2>
<p>男子五心發熱來，百勞五壯戰提催，內關二穴宜氣下，三里氣下升陰回，再用停呼三十度，後取百勞刮戰開，三里調勻急下取，諸穴伸提一例推。</p>

<h2>男子大小腹痛或兩脅背痛一百四法</h2>
<p>小腹急走大腹痛，兩脅背上痛難行，小腹丹田圓盤取，大腹中脘攝還迎，兩脅追里圓盤七，背痛肩井委中行，肩井伸提戰皮起，三里氣下要分明。</p>

<h2>男子心痛噎食難進一百五法</h2>
<p>男子心頭痛相煎，噎食難進氣束束，上脘下盤攝七七，內關升陽氣上喘，三里氣上按上脘，即取下法痛安痊，次日再針太衝穴，連用出血妙中立。</p>

<h2>男子氣上喘下手足冷一百六法</h2>
<p>男子上喘氣難當，三里升陰氣下忙，再用三陰升陰法，用法下痰氣自康。</p>

<h2>男女大便虛秘不通一百七法</h2>
<p>大便虛閉不能通，內庭照海一里攻，即使下法時刻下，多取調勻在手中。</p>

<h2>男子肚腹下一百八法</h2>
<p>補七停呼三十度，便取升陽腹內行，升陽即去腹內熱，又用氣上向前升，針腹中響三呵三，口呵呵吸罷涼生，清涼陽氣來臍下，氣下升陰病即輕。</p>

<h2>婦人肚腹下一百九法</h2>
<p>瀉五停呼五十七，醫下七數要升陽，升陽二次氣上去，三吸三呼呵二方，婦人此病多陰數，急取氣上是為涼。陰上有三四下七，下升陰即便安康。</p>

<h2>男女鼻瀉不聞香臭一百十法</h2>
<p>鼻瀉之症鼻多般，神庭穴內戰提痊，迎香二穴升陰法，二氣開通提搓連，三里二穴升陽一，後取升陽氣下偏，次日又針三里下，三陰穴內氣下先。</p>

<h2>男女口氣腥臭一百十一法</h2>
<p>口氣腥臭熱可增，口中刺上用金津，心經此穴多氣下，腎經穴內停氣勻。</p>

<h2>男女兩眼不開一百十二法</h2>
<p>不開兩眼最難熬，睛上伸提血漸消，眼珠脹痛合谷下，三里升陰一二遭，再加太衝出血法，三里氣下要針滯，若是太衝出毒血，取開時刻見青霄。</p>

<h2>男女眼目紅腫疼痛一百十三法</h2>
<p>眼目紅腫取血出，再取出血要搓摩，太陽出血真奇妙，三里升陽氣下和，再取骨空多提瀉，合宜即下要取搓，攢竹多提補三次，諸穴上下病安多。</p>

<h2>男女大便虛閉不通一百十四法</h2>
<p>氣虛不通下氣攻，三里照海氣下通，若是氣響升陰下，速用氣上取調中，過後三日針中脘，圓盤七攝氣海空，三里再針取氣下，內庭取血便除蹤。</p>

<h2>男女九種心痛連脾痛不止一百十五法</h2>
<p>九種心疼連脾痛，上脘盤盤拘在中，氣海圓盤在上法，關元雙盤響功取，大陵便取升陽法，三里升陽氣下通，諸針都要取熱氣，此針皮起見良工。</p>

<h2>男女眉間疼痛目昏一百十六法</h2>
<p>眉間疼痛搓摩起，攢竹伸提又即提，若是目昏升陽取，二證升陽升陽奇，升陽使後取血法，伸提皮起停呼宜，印堂伸提搓多補，合谷升陽痛即宜。</p>

<h2>男女腹上腹下一百十七法</h2>
<p>順搖二三多提搖，好按橫搖四宜和，加搓提攝五七次，搜戰提起用搖摩，問病腹脹大便急，針上沉浮開氣搓，若緊不動要提按，順搖數十下調和。</p>

<h2>男女腹部盤盤即響一百十八法</h2>
<p>連提加戰在時法，丹穴微循攝自行，重攝即響重用按，便氣周流病自輕。</p>

<h2>男女下小水一百十九法</h2>
<p>要下小水用丹田，三陰升陽氣下痊，再加丹田大盤攝，三陰二穴升陰先，升陰復取氣下法，小水胞中脹自生，若脹小水升提起，連下小水即自行。</p>

<h2>男女忽然失音一百二十法</h2>
<p>忽然失音便生陽，即便氣上又生陽，肺中氣實多刮取，連用氣下再刺良，復取三里生陽法，氣下升陰補即多，再取少商出毒血，不怕失音病不和。</p>

<h2>男女耳聾一百二十一法</h2>
<p>耳中委中升陽法，又取氣上到耳中，若是蟬鳴聽會取，搓搓彈彈氣下攻，三里氣上調勻到，翳風二穴有神通，委中氣下升陰法，耳中如法自然空。</p>

<h2>男女滿腹走氣疼不止一百二十二法</h2>
<p>腹中走氣十分疼，中脘圓盤搓在針，氣海升陽中脘上，搓搓加用在心中，二次中脘攝盤下，氣海升陽響數聲，三里照海取下法，走氣即除在針明。</p>

<h2>男女取血一百二十三法</h2>
<p>取血三按有三補，再補三遭七彈禁，即明出血再三補，連彈七次急出針，若是虛人莫出血，實人出血有神欽，陰人氣下莫取血，彈取此血絕此陰。</p>

<h2>男女腰疼腿硬一百二十四法</h2>
<p>腰疼腿硬急升陽，委中升陽再升陽，升陽三次停呼至，後用搓搓取熱康，委中取血多為妙，再取升陰搓急彈，若有虛人忌取血，實人取血痛即安。</p>

<h2>男女手背紅腫疼痛一百二十五法</h2>
<p>手背紅腫速升陽，液門出血補按詳，氣上升陽氣使下，通理搓摩氣自揚，若是氣足用三補，急彈三次出針強，若還紅腫消不盡，升陰重提瀉更良。</p>

<h2>男女牙齒疼痛翻胃一百二十六法</h2>
<p>牙齒陣陣疼相煎，呂細升陽出血停，再取三里升陽法，翻胃吐食別理行，中脘圓盤一七次，氣海升陽在書中，再取氣海下攝法，三盤九搓出針中。</p>

<h2>男女喉中乳蛾一百二十七法</h2>
<p>乳蛾之證少商知，出血急用即施宜，假若外關氣不至，三里升陽便自為，再取十指都出血，病效安危在用機，復取太衝並二穴，出血不改死不醫。</p>

<h2>男女手足之證一百二十八法</h2>
<p>手足之證有多般，氣上升陽在外關，曲池外關氣上法，急取搓搓助陽還，陽陵氣上升陽法，氣上升陰頃刻間，若用出針搓摩起，皮起三分即笑頻。</p>

<h2>男女百節疼痛一百二十九法</h2>
<p>升陽不過二節邊，一節升陽按戰連，氣上升陽節節有，更連搓搓百節牽。</p>

<h2>男女百節止痛一百三十法</h2>
<p>升陽二次氣通連，急取出血如井泉，假令不取血出法，逆令病者實難痊。</p>

<h2>男女哮喘一百三十一法</h2>
<p>哮喘之證要升陽，內外升陽病即康，天突膻中專要瀉，三里升陽氣下良，若要哮喘即便止，氣來戰刮即升陰，再用升陰一二次，戰戰急按要出針。</p>

<h2>男女腹部大盤一百三十二法</h2>
<p>大盤九法用十循，二穴伸提揚自行，再循七次如搓法，上穴升陽下穴停，若是響法升陽攝，下穴升陽響數聲，諸病仂提提不出，再取加搓效如神。</p>

<h2>男女腹部小盤一百三十三法</h2>
<p>先循二七一十四，中用盤盤盤七遭，拘住此法等氣海，氣海七盤七攝高。</p>

<h2>男女積聚一百三十四法</h2>
<p>腹中痞氣一難同，先取大盤四十攻，四邊加攝搓摩法，中脘升陽氣海窮，在加中脘升陰下，氣海升陽響自通，若要除疾伸提好，三搖去疾針自松。</p>

<h2>男女腹中雙穴一百三十五法</h2>
<p>腹上雙穴一難取，先取左邊向左循，若將右邊右邊起，拘住此氣中心停，伸提皮起加攝法，取用盤盤一此回，再要除疾取響動，提且搓搓去氣行。</p>

<h2>男女大便閉塞一百三十六法</h2>
<p>大便閉塞不能通，氣上支溝陽有功，三里氣行通照海，升陽搓後用搓松，里松皮葉針頭住，脹自消兮腹自空，若要安即伸提起，縱他實硬自然通。</p>

<h2>男女小腹脹滿一百三十七法</h2>
<p>小腹脹滿須下氣，百聲氣下自然松，內庭大氣通三里，左右橫流針有功，若利丹田大盤拆，十回連攝小便通，更添脹硬何由所，即不停針自不同。</p>

<h2>男女七疝一百三十八法</h2>
<p>七疝偏疼取大敦，大敦出血用彈針，曲骨大盤不用攝，三陰升陽氣上行，再取氣上即使下，關元氣海用盤明，申脈微使上氣法，連屈氣下病安寧。</p>

<h2>男女渾身及筋骨疼痛一百三十九法</h2>
<p>渾身疼痛要升陽，氣上提搓仔細詳，若筋疼痛宜汗法，膏肓多灸莫針良，復計三里行間穴，二穴升陽氣上忙，再使三陰令氣下，一時二證即安康。</p>

<h2>男女手心勞宮發熱一百四十法</h2>
<p>勞宮二穴治心風，手中發熱氣下攻，大陵升陽復氣下，三里升陰氣下通，膻中灸五瀉用七，疼痛心間呼吸中，呼吸三十出針補，一時二證見神功。</p>

<h2>男女有病邊汗無病邊針一百四十一法</h2>
<p>無病手法要升陽，下穴升陽上穴康，下穴停呼十維叟，上穴升陽氣上當，再取加搓多攝法，有病手熱汗出忙，急用升陽加搓捻，汗出一時多無方。</p>

<h2>男女遍身風氣麻木一百四十二法</h2>
<p>三里升陽又升陽，氣上急急又升陽，陽行急又停呼吸，戰提攝攝戰戰忙，再取加戰百來次，滿身麻木病安康，若是滿身麻木有，連取氣下法調良。</p>

<h2>男女移疼住痛一百四十三法</h2>
<p>上疼下針要升陽，再用升陽痛處良，升陽急取到痛處，連取氣下痛齊康，男左痛在右取血，女右痛在左取血，出血之法已此定，多取穴道要行周。</p>

<h2>男女應痛取法一百四十四法</h2>
<p>應痛針下急三補，氣血不行在針中，再加三補三彈戰，三補血痛自不攻。</p>

<h2>男女取冷熱手指一百四十五法</h2>
<p>搓搓急提搓為熱，伸提攝攝取氣行，按慢伸提冷似冰，搓搓如火熱方精，男子針入提一分，女子針提二分停，男女寒熱似分定，分寸手法在心明。</p>

<h2>男女氣猛病者要呼吸一百四十六法</h2>
<p>呼與呼兮吹與吹，氣猛急取呼吸之，氣上若猛吹三次，氣下猛時呼三次，右取呼吸真妙訣，上下氣行慢由池，三呼三吸知上下，有人會得上良醫。</p>

<h2>男女背部深淺指法一百四十七法</h2>
<p>難取氣上下升陽，搓搓補補補無方，再取搓攝加刮戰，多取調勻病自安。</p>

<h2>男女腹脹取少陰子午針一百四十八法</h2>
<p>男女腹脹取少陰，半夜子時針湧泉，雙取停呼等氣全，再用升陰戰按法。</p>

<h2>男女腹部分寸肥瘦盤法一百四十九法</h2>
<p>腹部大空三尺五，多取循循買氣來，肥人針滿盤三寸，瘦人針半微微開，男人肥者三寸取，婦瘦一寸看實虛，男女分寸皆已定，肥瘦此法須當推。</p>

<h2>男女腹部氣不行加一百五十法</h2>
<p>按定盤盤病人呼，重搓數十提針扶，戰提攝攝上下使，氣自流通邪氣無。</p>

<h2>男子腹部急響一百五十一法</h2>
<p>上穴升陰下升陽，連提雙攝在中平，再加循循攝提起，二穴升陽響數聲，若要響七攝七次，伸提下按數次禁，響法已盡無法用，搓搓調勻要出□。</p>

<h2>女子腹部響聲急一百五十二法</h2>
<p>連提上穴取盤盤，下穴盤盤升在中，上穴連盤攝攝下，下穴升陽數聲通，若要提攝七七響，急按搓搓數遭頻，女人盤盤響已定，搓搓雙熱要調勻。</p>

<h2>男女腹部氣虛一百五十三法</h2>
<p>腹部氣虛循十四，再取循循又不來，將針半提針出盡，病者氣絕難醫哉。</p>

<h2>男女腹部氣不虛不實相勻一百五十四法</h2>
<p>腹部氣實用七循，伸提皮起看分明，上下盤盤皆取使，隨醫治法出針平。</p>

<h2>男女腹部一二循氣不來為邪一百五十五法</h2>
<p>腹部二循氣便去，將針順搖刮搜開，刮搜順搖邪不退，舊疾不除新疾來。</p>

<h2>男子腹部針上行盤盤痛不已一百五十六法</h2>
<p>下針腹上最難當，急彈七次散血陽，若是穴邪刮搜去，腹部盤盤即安康。</p>

<h2>男女腹部取響不響足上取汗一百五十七法</h2>
<p>腹部取響不能響，急取升陰至心頭，再取氣上攝搓戰，搓搓升陰下汗流，若是足上汗即出，腹上二針按提求，三提三按足心冷，急用調勻汗自出。</p>

<h2>男女中風不語一百五十八法</h2>
<p>中風不語用氣上，中衝加捻見浮沉，湧泉即是升陽法，取氣即行免患侵。</p>

<h2>男女鼻流濁涕一百五十九法</h2>
<p>鼻流濁涕取鼻淵，先使氣上一能痊，若是頭風眼目昏，升陽搓按訣無偏。</p>

<h2>男女頭風嘔吐眼目昏花一百六十法</h2>
<p>頭風嘔吐眼昏花，百會加搓按不差，中脘盤盤取氣海，印堂出血艾重加。</p>

<h2>男女頭項強痛回顧難轉一百六十一法</h2>
<p>頭項強痛回顧難，百會加搓承漿㩜，後用氣下使呂細，風府搓熱頭時安。</p>

<h2>男女偏正頭風一百六十二法</h2>
<p>偏正頭風取左右，百會□加在指中，風池升陽上下法，束骨二次在針通。</p>

<h2>男女偏正頭風加一百六十三法</h2>
<p>偏正頭風有兩般，中脘下痰按盤盤，膻中哮喘專要瀉，印堂頭疼出血安，口眼喎斜氣使下，地倉加搓要升陽，喎左升陽加搓右，喎右升陰搓指詳。</p>

<h2>男女不知香臭一百六十四法</h2>
<p>不知香臭要加搓，迎香升陽在指中，先上後下分明使，金針在搓氣先通。</p>

<h2>男女耳聾之證一百六十五法</h2>
<p>耳聾之證要升陽，或痛升陽即使鳴，或痛氣下升陰上，連下升陰氣自通。</p>

<h2>男女忽然失音一百六十六法</h2>
<p>忽然失音言語難，四關升陽提搓彈，中衝深深針一十，一寸加捻出血安。</p>

<h2>男女忽然眼痛一百六十七法</h2>
<p>忽然眼痛血貫睛，提刮加彈真穴難，搓得太陽出毒血，不取氣上即自安。</p>

<h2>男女眉間疼痛一百六十八法</h2>
<p>眉間疼痛要加搓，神庭加搓取熱多，若是升陽提按法，一時風至自然和。</p>

<h2>男女脊膂強痛一百六十九法</h2>
<p>脊膂強痛要升陽，閃挫腰痛氣下忙，委中升陽即使下，復使加彈即便康。</p>

<h2>男女眼目紅赤腫一百七十法</h2>
<p>眼目紅腫實難熬，外關清明治三焦，睛明彈按出毒血，太陽二關氣下高。</p>

<h2>男女腎虛腰痛一百七十一法</h2>
<p>腎虛腰痛要升陽，即取升陽又升陽，腎愈二穴如有汗，復使下氣即安康。</p>

<h2>男女膝蓋疼痛一百七十二法</h2>
<p>腕骨能使氣上下，膝蓋出血按補中，膝蓋多用加搓法，齊取氣上即時功。</p>

<h2>男女寒濕腳氣一百七十三法</h2>
<p>寒濕腳氣先取血，三里升陰及陰交，加搓絕骨真希妙，後用氣下立時消。</p>

<h2>男女足頭紅腫一百七十四法</h2>
<p>足頭紅腫草鞋風，崑崙二穴取血功，加彈太谿申脈並，上穴上下在針中。</p>

<h2>男女行步艱難疼痛一百七十五法</h2>
<p>行步艱難痛轉加，太衝出血提按誇，三里升陽取氣下，崑崙出血妙無差。</p>

<h2>男女兩臂疼痛一百七十七法</h2>
<p>兩臂疼痛氣攻胸，先灸膏肓四花功，若針大陵並肩井，升陽升陰在針中。</p>

<h2>男女兩手拘攣一百七十八法</h2>
<p>兩手拘攣真個疼，曲池外關要升陽，復使氣上即使下，尺澤中諸氣下康。</p>

<h2>男女肩背紅腫疼痛一百七十九法</h2>
<p>肩背紅腫痛難當，寒熱相傳吐法強，若是肩髃提搓戰，升陽一次灸無妨。</p>

<h2>男女腹中氣痛一百八十法</h2>
<p>腹中氣疼亦難當，盤盤氣海要消詳，中脘大盤施響法，支溝氣下即安康。</p>

<h2>男女脾寒之證一百八十一法</h2>
<p>脾寒之證最可憐，升陽升陰兩相連，間使後谿同上使，熱提冷搓疾自痊。</p>

<h2>男女九種心疼一百八十二法</h2>
<p>九種心疼及脾胃，上脘盤盤要升提，大陵一使升陽法，關元脾氣定災詳。</p>

<h2>男女痔漏之疾一百八十三法</h2>
<p>痔漏之病亦可針，裡急後重最難禁，或痛或癢或下吐，二白穴從掌上珍。</p>

<h2>男女三焦邪氣一百八十四法</h2>
<p>三焦邪氣壅上焦，口苦舌乾出血高，金津關衝多出血，少商提利瀉三焦。</p>

<h2>男女手背紅腫一百八十五法</h2>
<p>手背紅腫連皮痛，液門取血按無偏，通里二穴加搓法，多下升陽疾自蠲。</p>

<h2>男女時疫瘧疾一百八十六法</h2>
<p>時疫瘧疾最難禁，穴法升陽要升陰，後谿奇穴如尋得，多加灸火疾退輕。</p>

<h2>男女牙痛一百八十七法</h2>
<p>牙痛陣陣痛相煎，加搓二間要輕轉，若是反胃並吐食，中脘盤盤氣海連。</p>

<h2>男女心膽虛寒之證一百八十八法</h2>
<p>少衝穴在手少陰，其穴功多必可針，心膽虛寒伸搓補，上焦壅熱手中提。</p>

<h2>男女乳蛾之證一百八十九法</h2>
<p>乳蛾之證針次醫，急用金針提瀉治，若還遲滯人難救，少商出血要伸提。</p>

<h2>男女咳嗽風涎一百九十法</h2>
<p>咳嗽風涎及冷痰，列缺穴內金針堪，太淵伸補肺咳嗽，此穴升陽艾火兼。</p>

<h2>男女癡呆之證一百九十一法</h2>
<p>癡呆之證取氣上，復取升陽要升陰，神門提按刮戰法，三里取下即安康。</p>

<h2>男女連日虛煩一百九十二法</h2>
<p>連日虛煩面紅妝，心中怒發亦難當，通里奇穴如尋得，金針一試便安康。</p>

<h2>男女風涎爛眼一百九十三法</h2>
<p>風涎爛眼可憐人，淚出汪汪受苦辛，大小骨空升陽法，艾火須當誠得真。</p>

<h2>婦人吹乳一百九十四法</h2>
<p>婦人吹乳腫不消，大陰針入升陽饒，少澤穴內搖補後，吐得風涎疾便消。</p>

<h2>男女滿身熱虛證一百九十五法</h2>
<p>滿身發熱是虛證，淋淋盜汗變成勞，百勞妙穴搓提上，先升陰後升陽高。</p>

<h2>男女腎虛小便多一百九十六法</h2>
<p>若是腎虛小便多，搓補起又升陽可，命門若要升陽補，腎俞加艾自安和。</p>

<h2>男女九般痔漏一百九十七法</h2>
<p>九般痔漏最傷人，承漿升陽效如神，更有一名長強瀉，大痛吟呻得穴針。</p>

<h2>男女膏肓二穴一百九十八法</h2>
<p>膏盲二穴法內強，穴法從來難度量，穴禁不針宜著艾，千壯之後也無妨。</p>

<h2>男女肝經血少眼目昏花一百九十九法</h2>
<p>肝家血少目昏花，升補肝俞力便加，更須三里升陰瀉，先還血養定無差。</p>

<h2>男女脾家之證二百法</h2>
<p>脾家之證有多般，反胃吐食兩證看，黃疸亦須腕骨灸，金針中脘用盤盤。</p>

<h2>男女傷寒無汗二百一法</h2>
<p>傷寒無汗瀉復溜，汗多升陽搓戰收，若是搓戰汗不止，合谷按動脈還浮。</p>

<h2>男女大便閉塞二百二法</h2>
<p>大便閉塞不能通，照海分明在足中，更取支溝來提動，始知妙穴在其功。</p>

<h2>男女小腹脹滿二百三法</h2>
<p>小腹脹滿氣攻心，內庭提瀉用針明，兩足有水臨泣瀉，若還無水放寬心。</p>

<h2>男女七疝偏疼二百四法</h2>
<p>七疝偏疼搓大敦，提按出血在指中，不使浮沉並氣上，曲骨盤盤顯妙功。</p>

<h2>男女渾身疼痛二百五法</h2>
<p>渾身疼痛即升陽，不定穴內提按詳，有筋有骨須淺刺，有艾升陰要升陽。</p>

<h2>男女勞宮穴手背生瘡二百六法</h2>
<p>勞宮要升陽提循，滿手生瘡瀉督清，心胸之間大陵提，氣攻胸膈攝提針。</p>

<h2>男女喘哮之證二百七法</h2>
<p>哮喘之證提攝忙，液門攝提氣相當，天突一穴專提瀉，膻中一穴瀉安康。</p>

<h2>男女鳩尾獨瀉五般寒癇二百八法</h2>
<p>鳩尾獨瀉五般癇，此穴盤盤深提看，若得老師神妙手，金針深提是神仙。</p>

<h2>男女氣喘癋證二百九法</h2>
<p>氣喘伸提如神仙，先升陽來後升陰，若得璇璣刮瀉安，更盤氣海上下辛。</p>

<h2>男女乳強疾證二百十法</h2>
<p>乳強疾氣上衝心，氣海盤搓救死人，間門提瀉大敦並，二風提搓得安寧。</p>

<h2>男女水病之證二百十一法</h2>
<p>水病之證盤搓消，滿腹虛脹搓攝條，先瀉分水提水道，後針三里瀉陰交。</p>

<h2>男女腎氣衝心之證二百十二法</h2>
<p>腎氣攻心取盤盤，搓用金針取艾齊，盤盤關元瀉帶脈，攻效處處顯神通。</p>

<h2>婦人赤白證二百十三法</h2>
<p>婦人赤白盤搓全，下元虛白盤盤安，中極盤多宜瀉少，搓補圓盤仔細看。</p>

<h2>男女傷寒七日過經不傳二百十四法</h2>
<p>傷寒過經死不鮮，要提期門向上刮，氣喘提瀉攝提來，三里提瀉在用心。</p>

<h2>男女脾瀉五臟虛寒二百十五法</h2>
<p>脾瀉五臟虛寒氣，天樞升陽搓無差，此是上搓下升移，氣上氣下搓更加。</p>

<h2>男女口氣之病二百十六法</h2>
<p>口氣之疾戰提全，上升陽來下升連，大陵升陰人中仙，瀉後清涼口氣蠲。</p>

<h2>男女八段補瀉二百十七法</h2>
<p>呵為呼兮吹為吸，分明須要呼吸之，與大瀉時呵三四，卻還補後卻三吹，往來氣血通經絡，上下皆和自轉移，三呼三吸知左右，有人會的是明醫。</p>

<h2>男女手指補瀉二百十八法</h2>
<p>手指全憑巧妙機，須知輕重與高低，高者常加隨手轉，低者用力莫相虧，輕將手指微微補，重瀉須交緊轉移，此是手指微妙法，有人會的是良醫。</p>

<h2>男女針頭補瀉二百十九法</h2>
<p>此般補瀉號針頭，全仗金針手內收，重刺恐傷筋與骨，輕來猶恐病難由，補瀉輕重知分寸，莫使針頭胡亂遊，此是針頭玄妙法，學人仔細記心頭。</p>

<h2>男女子母補瀉二百二十法</h2>
<p>補瀉還從補瀉知，從頭一一盡須依，左行三次針方補，右轉三遭瀉不虧，三次三遭依法使，三移三轉自然可，三三如九依方數，妙法神針號指微。</p>

<h2>男女虛實補瀉二百二十一法</h2>
<p>虛實補瀉要消詳，補虛瀉實是為良，實瀉之時應得愈，卻加虛補更無妨。莫然虛瀉還須補，休說實時瀉最良，若還補瀉知分寸，為醫下下永傳揚。</p>

<h2>男女提按補瀉二百二十二法</h2>
<p>提按補瀉最用心，虛實輕重指頭中，虛時要補還輕手，實瀉須知手要重，上下高低隨手起，往來提按用神針，若然補瀉知分寸，此法幽微勝似金。</p>

<h2>男女陰陽補瀉二百二十三法</h2>
<p>從來補瀉按陰陽，氣血還交日下詳，但遇陽遷須氣旺，若逢陰日血永昌。陽經陽腑隨陽轉，陰絡陰腑陰臟傳，此是陰陽補瀉法，其中知者是賢良。</p>

<h2>男女迎隨補瀉二百二十四法</h2>
<p>迎隨補瀉要須知，逆手為順逆手推，欲要補時隨手轉，若將瀉後用逆隨，下針須知深與淺，王纂針妖憑此法，秋夫療鬼用神機。</p>

<h2>男女流注補瀉二百二十五法</h2>
<p>流注針輕不易求，呼吸臨時在手頭，初下針時頭順轉，吸時須向逆中救。</p>

<h2>男女手指補瀉二百二十六法</h2>
<p>推按進搓以為補，退動提經是為瀉，慢按急提冷冰水，急按慢提如火熱，先淺後深補之熱，先深後淺瀉之涼，若還補瀉知進退，為醫效驗最高強。</p>

<h2>男女穴法淺深手指二百二十七法</h2>
<p>穴法淺深隨指中，砭爇尤如足妙功，勸君要識諸般疾，神傳瓊瑤手法通。</p>

<h2>論男女五臟腑十二經圖說二百二十八法</h2>
<p>三陰三陽十二經，心主君神明出焉，肺乃相傅治節度，肝在外陽取血先，脾之諫議公正理，腎乃升陽氣上言。膽之在下三寸頭，膻中專瀉喜樂堅，小腸受盛為化物，大腸傳送變化專，於此三經取下法，三焦決瀆水道潛，膀胱州都津液出，五臟六腑總皆然。</p>

<h2>瓊瑤後傳手法二百二十九法</h2>
<p>至今傳此妙穴法，上下分明氣不差，大師傳下諸穴道，說與他人理便佳。</p>

<h2>男女分膀胱大小腸二百三十法</h2>
<p>大腸及小腸，胃脘是本鄉，膀胱借腎水，一十六丈長。</p>

<h2>男女論骨節經脈二百三十一法</h2>
<p>毫如草木體如天，肢節參差度亦然，經水常流源海納，天河涌溢地河連。</p>

<h2>治腰腿痠疼二百三十二法</h2>
<p>委中氣下血相應，補刮崑崙七次通，左取七盤精宮處，重加法補在人用。</p>

<h2>治腎虛腰疼二百三十三法</h2>
<p>腎俞先提後攝針，搓搓捻捻用其心，委中氣下出血愈，再補承山指內循。</p>

<h2>治腰脊強仰俯不得二百三十四法</h2>
<p>至陰用瀉灸無妨，血取委中即便康，腎俞加三從其補，刮提七次正相當。</p>

<h2>治閃挫腰脅痛二百三十五法</h2>
<p>腰間閃挫瀉入中，尺澤先將氣下衝，腎俞瀉先刮先後，委中氣下血流通。</p>

<h2>治腿痠疼痛麻二百三十六法</h2>
<p>環跳從來氣下行，還將風市補當呈，後提刮取重加灸，提動陽陵氣下平。</p>

<h2>治單腹脹鼓血氣等痛二百三十七法</h2>
<p>左右七盤中脘間，重加左刮七遭還，氣海提補多刮取，三里提補瀉內關。</p>

<h2>治心胸疼痛二百三十八法</h2>
<p>心胸疼痛最難當，先瀉大陵氣下忙，有積內關痛甚瀉，左盤中脘艾加詳。</p>

<h2>又治心胸疼痛二百三十九法</h2>
<p>上脘右盤灸又加，三提四補內庭誇，四轉七彈出血准，下升三里灸無差。</p>

<h2>治腹中痛二百四十法</h2>
<p>腹中疼痛瀉內關。四補三提內庭間，三轉七彈皆出血，左盤中脘右盤攀。</p>

<h2>又治腹中疼痛二百四十一法</h2>
<p>丹田腹疼灸多安，左右盤來七七單，三里忙將氣下取，當時疼痛氣遂寬。</p>

<h2>治腳氣紅腫生瘡二百四十二法</h2>
<p>腳氣疼來又生瘡，不生血海氣榮昌，太衝三里行間血，提瀉崑崙七遍多。</p>

<h2>治瘧疾二百四十三法</h2>
<p>脾寒病證兩相侵，此法升陽又升陰，間使後谿兼取用，熱提冷搓在其針。</p>

<h2>治口眼喎斜二百四十四法</h2>
<p>口眼喎斜氣不傳，升陽搓取地倉前，升陽喎左搓用右，喎右升陽搓左旋。</p>

<h2>治中風不語二百四十五法</h2>
<p>不語中風氣上升，中衝加捻見浮沉，湧泉即使升陽法，取氣行時顯有能。</p>

<h2>治兩手拘攣半身不遂二百四十六法</h2>
<p>兩手拘攣取曲池，外、間升陽至陽移，加持氣上忙催下，澤、渚相間氣下隨。</p>

<h2>治偏正頭風二百四十七法</h2>
<p>偏正頭風左右攻，加搓百會指中窮，風池上下升陽取，束骨雙行針使通。</p>

<h2>治眼目腫痛二百四十八法</h2>
<p>眼目腫痛實難煞，攢竹提來瀉最高，合谷忙將氣下取，晴明提刮血漸消。</p>

<h2>治耳聾二百四十九法</h2>
<p>耳聾委中要升陽，聽會蟬鳴搓又彈，委中三里當氣下，翳風穴法照前行。</p>

<h2>治咳嗽有紅痰二百五十法</h2>
<p>紅痰咳嗽病傳深，提補百勞灸共針，肺俞提從按刮彈，補從列缺艾加臨，仍將三里取氣下，脾俞補來提用心，中脘盤盤膏肓灸，四花提補妙中尋。</p>

<h2>治吐血二百五十一法</h2>
<p>吐血右盤中脘邊，中提七次刮戰旋，左盤氣海循七次，五遍中提灸自然，三里灸來氣上下，膻中瀉動灸無偏，乳根若灸二三壯，肺俞提按刮戰傳。</p>

<h2>肺壅咳嗽二百五十二法</h2>
<p>肺壅咳嗽瀉膻中，肺俞先提後補攻，三里燒來取氣下，先提後補列缺同，曲池要補咳生嘔，中脘盤盤三次通，穴法已分先後取，其中妙用要依從。</p>

<h2>治牙齒疼痛二百五十三法</h2>
<p>牙齒陣陣痛相煎，呂細升陽出血先，專取升陽三里上，牙疼法度得仙傳。</p>

<h2>治疝氣偏疼二百五十四法</h2>
<p>七疝偏疼取大敦，加將提按血流奔，大盤曲骨關元取，升上陰交使下升。</p>

<h2>治小水不通二百五十五法</h2>
<p>小水不通在丹田，大盤攝動利用旋，陰交先上又取下，提動時間似湧泉。</p>

<h2>治轉食病二百五十六法</h2>
<p>攻醫轉食取盤盤，中脘提搓摩自然，氣上加搓通使用，伸提要補又加彈。</p>

<h2>治大便閉結二百五十七法</h2>
<p>便閉支溝氣上攻，升陽三里要搓松，搜松皮吸針頭住，再使伸提即便通。</p>

<h2>治足不能行懦弱無力二百五十八法</h2>
<p>太衝氣下又彈針，取血崑崙妙理深，前穴無功三里下，三陰交處攝相回。</p>

<h2>治偏墜紅腫二百五十九法</h2>
<p>闌門穴取又盤尋，左取盤盤提出針，海底二分針頭用，大敦出血灸如金。</p>

<h2>治木腎不痛腫如升斗大二百六十法</h2>
<p>歸來七壯右盤旋，取動陰交氣下全，照海重加燒七壯，稜針出血效仙傳。</p>

<h2>治腎氣衝心二百六十一法</h2>
<p>上脘七遭左右盤，關元提取右盤端，大敦灸火三五壯，照海之中出血歡。</p>

<h2>治虛損蒸勞瘵二百六十二法</h2>
<p>肺俞先提補刮行，膏肓艾灸百勞迎，膻中喘瀉三里下，提刮湧泉補要明。</p>

<h2>治婦人橫產手先出者二百六十三法</h2>
<p>婦人橫產命難存，符藥諸般無效門，右腳尖頭小指上，艾加三壯灸還魂。</p>

<h2>治婦人產後胎衣不下二百六十四法</h2>
<p>胎衣不下最傷人，合谷全憑三補呈，刮要三來戰七次，陰交氣下瀉相因。</p>

<h2>治婦人難產二百六十五法</h2>
<p>婦人難產命將傾，合谷先當補左迎，氣下忙將陰交取，至陰提補二三行。</p>

<h2>治婦人月經不通二百六十六法</h2>
<p>經事不行月數過，大盤中極攝盤那，搓搓攝下陰交取，再用伸提功效多。</p>

<h2>治婦人赤白帶下二百六十七法</h2>
<p>帶下赤白相兼行，右盤氣海七七迎，左盤中極後提補，三里灸來氣上升，提動精宮右盤七，白環提戰數遭平，陰交氣下腎俞穴，三次瀉提要分明。</p>

<h2>治婦人五心煩熱頭目昏花二百六十八法</h2>
<p>心俞先針提刮通，勞宮瀉取七提中，忙將三里加氣下，用湧泉憑出血功。</p>

<h2>治婦人經事不調二百六十九法</h2>
<p>中極先盤左先遭，加提再補右盤高，瀉盤氣海陰交下，腎俞瀉提補骨勞。</p>

<h2>治傷寒無汗二百七十法</h2>
<p>合谷先提後補當，曲池瀉按刮無傷，液門出血復溜瀉，絕骨瀉提氣下忙。</p>

<h2>治傷寒小便不通二百七十一法</h2>
<p>陰陵氣下補三回，七次關元盤右陪，再取陰交憑氣下，便中小水急相催。</p>

<h2>治傷寒後發黃並斑二百七十二法</h2>
<p>百會瀉提刮正中，曲池提戰要相功，委中行間當出血，合谷全憑瀉閃通。</p>

<h2>治傷寒自汗不止二百七十三法</h2>
<p>傷寒自汗不能收，合谷全憑瀉內投，復溜穴處專用補，內庭提刮瀉中求。</p>

<h2>瓊瑤七星針二百七十四法</h2>
<p>項強頭疼痛不禁，試針須使後谿尋。背中臂膀肩中痛，中渚如針真萬金。腹與夾臍疼不休，陰陵穴中水無憂。痃癖胃寒留三里，胸中疼痛大陵求。兩脅陽陵痛更悠，腰膝疼痛委中瘳。世上黃金容易得，七般針法少人收。</p>

<h2>瓊瑤辨證二百七十五法</h2>
<p>觀色察形證，何經病所侵，用針明補瀉，得穴辨浮沉，上下之順逆，四時寒熱針，醫人如會此，一刺真千金。</p>

<h2>又曰二百七十六法</h2>
<p>榮衛不通萬病侵，百般疼痛肚中生，大小風疼在四梢，千般瘡髓在皮侵，若用醫工玄妙法，除是飛騰水火針。一針五臟都針遍，通身疼痛一針攻，針針調陽補陰經，春刺淺兮秋刺深，安詳仔細用心尋，迎隨補瀉知逆順。得效針候定浮沉，萬萬逞價值千金，一穴能分鬼神哭，邪神豈敢更來侵，雖不醫枯骨還魂，金針到處時見寧，十代明醫留針賦，凡夫遵古顯神功。</p>

<h2>刺病奇書二百七十七法</h2>
<p>昨獨三更日正午，泥里推車蕩塵土，有人會得此般語，五五都來二十五。</p>

<h2>又曰二百七十八法</h2>
<p>六天如意妙幽玄，秘密提搓最為先，迎隨自然調榮衛，飛騰妙刺聖人傳。上下交經分左右，一二三四是根源，在五常人會如此，神仙妙訣莫輕言。</p>

<h2>砭門秘訣二百七十九法</h2>
<p>補法　推，用手雙指順撩下也，三次亦謂之濟審。用手探其針，皮外緊，即用納法也。迫，用大指順針泊潦也。三次納，如氣不至，用雙指將針輕納動三次，使其氣至，補也。</p>
<p>瀉法　旋緊即用法也。刮，用手次指按針頭，用大指甲刮上也，三次。揭，用手雙音滅機上也，三次，亦謂之瀉。剝，用雙手指提針頭，提上三次，使其氣至也，瀉也。</p>
<p>又曰　男瀉大指向內，男補大指向前。女瀉大指向前，女補大指向內。</p>

<h2>歌曰二百八十法</h2>
<p>子午流注號飛騰，十二穴中取功能，刺病療病無不效，移病住疼有神靈，能調五臟諸病疾，善治三焦氣血行，添涼除熱減疼痛，動指經通救世人。</p>

<h2>男女陰陽補瀉二百八十一法</h2>
<p>世人夫婦能陰陽，針法訣定陰陽行，後學之人莫相疑，神應飛騰取病疾，若君不言真妙訣，試看神針巧發機。先淺後深以為補，先深後淺以為瀉，左捻遂呼補氣虛，吸來里轉瀉心俞，夫婦人相反此用，諸公會此能神醫。</p>

<h2>瓊瑤秋夫療鬼二百八十二法</h2>
<p>秋夫撩鬼十三穴，並針三四鬼自通，又針九穴左右取，鬼穴自然使利身。一針鬼宮人中瀉，二針鬼信少商中，三針商陽為鬼腹，四針隱白鬼皮行，五瀉崑崙為鬼足，六針風池鬼項筋，七砭頰車鬼腮上，八針承漿鬼唇中，九針上星為鬼頭，十針靈道鬼心寧，十一陰交會三壯，十二尺澤少澤針。十三鬼穴都針過，猖神惡鬼永無蹤。</p>

<h2>提按補瀉二百八十三法</h2>
<p>提按進搓循足補，退動提刮是為瀉，急提瀉刮冷水冰，急按搓盤如火熱。若瀉先吸後呼取，先呼後吸補之說。先深後淺瀉中用，春夏亦然真妙訣，先淺後深實是補，秋冬依此從其特。若氣行行麻者知，血行痛者針妙絕。氣上上行何所知，上刮七遍戰七揭，氣下依然要取下，七刮七戰氣下泄。補之大指向前推，瀉之大指向後撤，若進向里捻如然，若退向外捻方得。《瓊瑤神書》無價寶，誓祝非傳子孫滅。</p>

<h2>三陽三陰配合上足臟下手腑氣血多少補瀉循提二百八十四法</h2>
<p>太陽膀胱並小腸，少氣多循補補良。多血多氣提循瀉，陽明胃脘大腸旁。血少氣多循補刮，少陽膽至三焦鄉。少血多氣補循提，太陰脾臟肺經藏。血少氣多下刮戰，少陰腎臟手心堂。厥陰肝臟心包絡，氣少血多瀉補昌。上足下手依經取，提循氣血內中詳，瓊瑤誓願莫輕泄，簇壽遭刑命難當。</p>

<h2>瓊瑤真人汗吐下三法</h2>

<h3>汗法二百八十五法</h3>
<p>先取復溜二穴、太衝二穴、外關二穴。</p>
<p>先用氣上一次，搓數十次，補七次，又搓數十次，又補三次。汗微出，極重搓數十次，又用氣上一次，重按停呼五度，大搓數十次，又用復溜，氣下重按一次。汗出不止，用合谷二穴收半，上按三、提三、刮七止；復溜氣上，重納按刮補，收汗效如神。</p>
<p>以此為妙，更有些些活法，不可細推窮頭。一次用呼吸三十度，二次用呼吸二十五度。</p>

<h3>吐法二百八十六法</h3>
<p>先取曲池二穴、內關二穴。</p>
<p>先用氣上一穴，補三次，順搖搖十七次，循三次，用搓數次，氣上一次，橫搖血逆逆，橫搖多循循，七七遭。莫相重納按，停二次，略使氣下。將針向外攝，血氣錯亂。右循七七遭，停呼三次，方可氣下。氣下多刮搓按戰，可用調勻。又氣上一次，停呼，氣下一次，右循七次，按三次。出針。</p>
<p>一次三十度，二次五十度，三次二十五度，留五度。</p>

<h3>下法二百八十七法</h3>
<p>先取三里二穴、內庭二穴、照海二穴。</p>
<p>用氣上一次，就循三次，下刮七次，重戰提七次，補三次，補提三次，加搓二三十次。有熱方可發機。後用提氣下一次，復提攝氣上一次，又復氣上二次，連氣下三次，重搓數十餘次，彈數次，此針自出。如針不出，又氣上一次，搓數次，循起三次，連使氣下二次。即下，其效如神。</p>
<p>一次十六度，停至三十度，補瀉再用三十度。內庭多彈，男左女右出血。男子左足出血，女子右足出血；如此之法。</p>

<h2>盤盤丹穴法二百八十八法</h2>
<p>先循五次、七次，針不動，如龍尾，氣血不虛不實，可用三次升陽、三次升陰，可用大盤二次，下攝數遭，可與伸提三次，四方皆攝四次，可取下順搖三次，橫搖四次，連下攝七次、彈七次，瀉三次、四次，出針。午間針，未時下。下不止，可用安胃散三帖。搖搖氣逆，搖搖逆，橫橫血逆，橫橫逆。若用氣上、氣下，將針搖逆，搖向外旁，攝多刮，逆陰逆陽，可循環取下法，順搖三次，橫搖四次，連下攝下沉沉，彈七次，三、四次，瀉七次。午間下針，未時下。下不止，安胃散治之。</p>
<p>不是神仙真妙手，多刮多搓用調勻。</p>

<h2>瓊瑤真人問男女針法虛循問答二百八十九法</h2>
<p>問曰：何為虛循買氣不來，循七次，再循七次，不來，何也?</p>
<p>答曰：又復循七次，氣不來者，病乃不治，死也。</p>

<h2>男女針法實循問答二百九十法</h2>
<p>問曰：用實不用循，何為實?</p>
<p>答曰：補三次即緊，是為實。一補即緊，是為邪氣。令病人口閉氣，醫人即將金針向左右搜至十次，搓數次，松者亦可使氣上、使氣下。</p>

<h1>卷三·瓊瑤神書人部</h1>

<h2>男女針法虛提答問一法</h2>
<p>問曰：何為虛提?合提不提，何也?</p>
<p>答曰：補三次，循三次。不虛不實，方可伸提。</p>
<p>問曰：氣血相停，何為半提?</p>
<p>答曰：補七次，循十次，病人血氣虛，方可用半提，輕輕不傷榮衛。若用金針伸提，令人病者昏運，不可針，傷榮衛也。</p>

<h2>男女針法實提答問二法</h2>
<p>問曰：實提不動，氣不上下行，何也?</p>
<p>答曰：邪氣流於經絡，皮肉澀滯，令人帶痛矣。</p>
<p>問曰：邪氣然，何得出?</p>
<p>答曰：搜者，上搜、下搜數十次，微瀉三分，邪氣出，正氣歸於經絡也。用氣上、氣下也。</p>

<h2>男女針法虛按答問三法</h2>
<p>問曰：何為虛按?</p>
<p>答曰：虛者，多用按搓。按者，有分寸，三十歲人滿按，四十歲留二分，五十歲人留五分。或四十、五十歲人虛者，不用按滿，滿則使邪在內，正氣出，令人魂命不在身。男子少按，按多血出；女子多按，按多補陰也。</p>

<h2>男女針法實按答問四法</h2>
<p>問曰：何為實按?</p>
<p>答曰：使氣已了，方可用按，為實按。又曰：針緊，用搓、捻、拈、循即松，不按使邪氣不出。針松，用循，多按，多買至氣微，加戰，方可不逆陰陽也。</p>

<h2>男女針法虛彈答問五法</h2>
<p>問曰：何為虛彈?</p>
<p>答曰：虛者，不用彈。實者，要取血用彈。彈則傷血氣、五臟、榮衛也。</p>

<h2>男女針法實彈答問六法</h2>
<p>問曰：何為實彈?</p>
<p>答曰：氣已至不行，方可用彈，氣即行。</p>
<p>問曰：取血，彈如何?</p>
<p>又答曰：不敢。氣行，補三次、七次，彈七次，按七次，又彈七次，出血有準也。</p>

<h2>男女針法虛撞答問七法</h2>
<p>問曰：如何虛撞?</p>
<p>答曰：氣血行了，復用，要熱，將針伸提三分出，加重搓數次，陽出熱微汗自來。虛用搓，不用刮，不瀉不退，可為良醫也。</p>

<h2>男女針法實撞答問八法</h2>
<p>問曰：何為實撞?</p>
<p>答曰：在內緊澀痛者，使金針不能動，用搜十次，彈七次，瀉三次，刮數十次，其針自松也。</p>

<h2>男女針法虛捻答問九法</h2>
<p>問曰：何為虛捻?</p>
<p>答曰：虛即補，實即瀉。循十次，氣不來，緊澀，方用搓捻五、七次。氣再不來者，至死不活也。</p>

<h2>男女針法實捻答問十法</h2>
<p>問曰：何為實捻?</p>
<p>答曰：實則不用捻。若捻，氣愈猛，傷榮衛也。</p>

<h2>男女針法戰法答問十一法</h2>
<p>問曰：何為戰?</p>
<p>答曰：用氣上、氣下，不用戰。血氣不勻，用彈。若戰，氣行如蟻奔走，方見或浮、或沉、或緊、或澀是也。</p>

<h2>男女針法刮法答問十二法</h2>
<p>問曰：何為刮?</p>
<p>答曰：使氣上、氣下，用刮。恐有邪在皮膚之內，邪氣因正氣相行，此病不除者，針有緊痛，多用刮。提皮不起，多用刮。風氣在內，多用刮。口眼喎斜，多用刮也，常時刮也。</p>

<h2>男女針法加進答問十三法</h2>
<p>問曰：何為進?</p>
<p>答曰：氣來加進。毫針有三寸針，入二寸，留一寸，氣來足了，若病者虛，再加進一寸，共進三寸，方可停呼數度也。</p>

<h2>男女針法加退答問十四法</h2>
<p>問曰：何為加退?</p>
<p>答曰：進三分，血來，即退五分。氣分加進，血來加退也。</p>

<h2>男女針法順逆答問十五法</h2>
<p>問曰：何為順逆搖?</p>
<p>答曰：若使氣已畢，方可用順逆搖，不可使令病人氣血走亂。有不使吐法，等閒不可用順逆搖，氣走錯亂經絡，令人昏暈不甦醒也。</p>

<h2>男女針法橫逆答問十六法</h2>
<p>問曰：何為橫逆搖?</p>
<p>答曰：使氣已盡，又若使橫逆搖，錯亂氣血經絡，令人昏悶不知人事者。若用吐法，方可用橫逆搖也，等閒不可用橫順逆搖。若使，錯亂經絡，不甦醒者，人必死也，無救。</p>

<h2>男女針法盤盤法答問十七法</h2>
<p>問曰：盤者，何為盤?</p>
<p>答曰：男子先循買氣至，方可伸提。若使伸提，見針上，將皮吸起，或一分，或二分，正氣相停，方可用盤盤二者，順搖三者。加提三，將針向左右盤，加七攝，用氣流行，搓搓再加三提七攝，此氣行數度畢有準。</p>

<h2>男女心腎水火不濟病證十八法</h2>
<p>腎屬水病主生門，有病尫羸氣也昏，肩足耳鳴腮黑瘦，次之邪妄立逃奔。</p>

<h2>男女心腎水火不濟病證十九法</h2>
<p>心源煩躁急須呵，此法通神更莫過，喉內口瘡並熱病，依之目下便安和。</p>

<h2>瓊瑤講論五臟答問</h2>

<h3>一取東方甲乙木講論答問二十法</h3>
<p>一取東方甲乙木，病者其色青，主虛，作酸，其腎者肝之母也。肝者得虛者，主腹痛、眼流冷淚。宜取盤搖所行，行者三七也，主腹痛。五臟得疾，用響者，逆也。順則針肝俞者，多用提刮，治冷淚等證。此乃順行盤也。</p>
<p>搖者，逆也，不順。不須巧言註解也。</p>

<h3>二取南方丙丁火講論答問二十一法</h3>
<p>二取南方丙丁之火，其色赤，主虛，口苦。其髒心，心主血，火曰炎上。血走住為心傷氣肺，主人咳嗽，此乃肺生紫色紫泡。紫泡破者，咳嗽吐血，主面黃面赤。吐痰者，主肺氣不能和血。但吐痰血，有腰痛者，腎虛即死。二年至十二年而死。葉血者，春夏而死，不治。</p>
<p>又有心傷五臟痛者，冬吐血，而遇夏季日死。春季吐血，而遇秋季日死。夏季吐血，而遇冬季日死。宜取搖搖、盤盤之理，不須註解也。</p>

<h3>三取西方庚辛金講論答問二十二法</h3>
<p>三取西方庚辛金，行者其色白，其臟肺，主氣，從作血。心血走至肺，紫泡。紫泡破者，吐血不已，灸腎俞二穴、三里二穴。凡腹內不可灸，用盤搖之理。若盤盤法多者，不可亂盤，使五臟氣亂也。但凡有病，輕取輕盤，務在伸提而響矣。</p>

<h3>四取北方壬癸水講論答問二十三法</h3>
<p>四取北方壬癸之水，其色黑，其臟腎，主於骨關，下思咸。肺乃腎之母。不問男女先灸，腹內宜用盤搖，養腎水為本也。</p>

<h3>五取中央戊己土講論答問二十四法</h3>
<p>五取中央戊己土，其色於腹部丹穴，中央之土為本，其臟脾，主內，王日緣作盤三，初多用提上，循補搖提。多憑補，不用瀉。內享七七莫妄施，肝、心、脾、肺，分配四時，針刺已見圖。脾土於四季，木旺一十八日，見坤土，土生化一十一臟，受胃之東，乃能生化。腹中盤搖，乃能化寒熱冷氣。分於各臟，化為十一臟。若寒痛，左盤七七，熱，痛止，右盤七七，提搖。冷氣痛，先提，左盤盤。凡腹內用響，七提，三補，五搖。寒，提，熱右響。此是冷氣痛，提則止，左內庭下即效。</p>

<h2>一取氣上之法講論答問二十五法</h2>
<p>一取氣上之法，補三次，即提七次，將針向上，是為循。</p>
<p>問曰：何為血行、氣行?</p>
<p>答曰：氣行者，麻。血行者，痛也。</p>
<p>問曰：氣上，何以氣血調勻?</p>
<p>答曰：上刮七次，又戰七次，氣血相停，不傷榮衛。不知氣血相停，如無目之人也。</p>

<h2>二取氣下之法講論答問二十六法</h2>
<p>二取氣下之法，瀉四次，即按七次，將針向下循。</p>
<p>問曰：血痛血行，氣麻氣行者，依前一理。氣下者何以氣血調勻?</p>
<p>答曰：下刮七次，戰七次，相通。知道氣下者，又不知冷熱汗出者，此乃不為良醫。</p>

<h2>三取攝之法講論答問二十七法</h2>
<p>三取攝之法，何為攝?</p>
<p>答曰：在有病，將針頭再提，用七七貫穿經絡，方謂之搜。補瀉提按等，不使搜，病者不能除，所以見血氣上下皆行也。</p>

<h2>四取捫者講論答問二十八法</h2>
<p>四取捫者，何為捫?</p>
<p>答曰：用氣上、氣下之法。捫，關關。開者，瀉也；關者，補也。取血多用補，取氣多用開。</p>

<h2>五取彈努之法講論答問二十九法</h2>
<p>五取彈努之法，何也?</p>
<p>答曰：取血者，先彈七七，下即補三四次。若是不止，將糊針眼上三寸，醫人親手打乞三下，此血即止。</p>

<h2>六取進退之法講論答問三十法</h2>
<p>六取進退之法，何也?</p>
<p>答曰：血來加進，氣來加退。進者，主病人發熱。退者，虛汗有冷，邪氣出，正氣歸於外絡也。</p>

<h2>七取撞搓之法講論答問三十一法</h2>
<p>答曰：皮熱不來者，補提勿轉太緊。太緊者，搖搖十四下。病者渾身大熱，方可左右取血為妙。</p>

<h2>八取捻之法講論答問三十二法</h2>
<p>八取捻之法，何也?</p>
<p>答曰：主病人不知人事，方可用捻。捻者，三也，是三才也。病者血氣不來，上捻不來者，死不治也。</p>

<h2>手足陽明答問三十三法</h2>
<p>手足三陽三陰，表裡引經，循攝氣上、氣下。</p>
<p>答曰：手法者在手，心傳口授秘法。</p>

<h2>六陰六陽本經秘法訣三十四法</h2>
<p>太陽經　足膀胱，手小腸，上下循，下後補。</p>
<p>少陽經　足膽，手三焦，上下循，下後補刮。</p>
<p>少陰經　足腎，手心，下後刮戰。</p>
<p>厥陰經　足肝，手包絡，上下循，下後補。</p>
<p>陽明經　足胃，手大腸，上先提循，下後瀉。</p>
<p>太陰經　足脾，手肺，上補，下後循提。</p>

<h2>陰陽配合講論三十五法</h2>
<p>天有陰陽，風寒暑濕燥火，三陰三陽下應之。溫涼寒熱，四時氣候溫涼是也。溫熱者，天之陽也；寒涼者，天之陰也。此乃天之陰陽也。地有陰陽，金木水火土，生長化收藏下應之。辛甘酸苦鹹，五味是也。辛甘淡也，地之陽也；鹹酸苦者，地之陰也。此乃地之陰陽也。陰中有陽，平旦至日中，天之陽也，陽中之陽也。陽中有陰，日中至黃昏，天之陰，陰中之陰也。</p>
<p>人身之陰陽，故人亦應之。人身之陰陽，外為陽，內為陰；背為陽，腹為陰；臟為陰，腑為陽。心、肝、脾、肺、腎五臟為陰，膽與胃、大腸、小腸、膀胱、三焦六腑為陽。</p>
<p>所以知陰中之陰，陽中之陽也。陰陽者，何也?如冬病在陰，夏病在陽，春病在陰，秋病在陽，知其所則施針，循、氣上、氣下也。背為陽，陽中之陽，心也；背為陽，陽中之陰，肺也。腹為陰，陰中之陽，肝也；腹為陰，陰中之陰，脾也。</p>

<h2>四時作用氣上氣下秘法講論三十六法</h2>
<p>不問所感病證，或溫，或涼，或熱，或寒。如春時有病，先取氣上，後取氣下；夏月有病，先取氣下，後取氣上；秋月有病，先取氣下，後多用戰補；冬月有病，多補三六九數，後取氣自然行。以是不絕生化之源也。</p>

<h2>瓊瑤大師治小兒深得此理講論三十七法</h2>
<p>《內經》曰：必先遂其氣，而無伐天和，是為至治。又曰：違時伐氣。又曰：無伐生之氣。此皆常道用針。春復秋冬，循環之法。若反其常，則陰陽氣上氣下，不可亂矣。</p>

<h2>十二經絡捷法人身造化講論三十八法</h2>
<p>凡刺之理，經絡為始。經絡者，能決死生處，有病調虛實，不可不通也。夫經者，內干五臟而外絡支節，其浮氣不循經者為衛氣，精專於經隧者為榮氣。陰陽相隨，內外相實，如環之無端。常以平旦為紀。其脈始從中焦手太陰，出於手陽明，上行注足陽明，下行至跗上去大指間，與太陰相合，上行抵脾，注心，心注手少陰，出腋，下臂，次上巔，下注小指，合手太陽，循脊，下至尻下行注小指之端，循足心，注少陰，上行腎，注心，外散於胸中，循於心主脈，注腋，下臂，入兩筋之間，入掌中，出中指之端，還注小指次指之端，合手少陽，上行膻中，散於三焦，注膽，出脅，注足少陽，下行至跗上，復從跗注大指間，合足厥陰，上注至肝，注肺，復出手太陰，此榮氣之行也，逆順之常。榮衛之行，常循其經。周身之度，一十六丈二尺，一日夜行八百十一丈，計五十度周身於衛氣，則下循其經焉。晝則行陽，夜則行陰，行陽者行諸經，行陰者行諸臟。</p>
<p>凡刺之道，榮衛所在至後，用氣上、氣下，開通經絡。</p>

<h2>十二經絡所屬出經陰陽相生配合三十九法</h2>
<p>手太陰辛肺脈起於中焦，出於大指之端，注大腸經。</p>
<p>手陽明庚大腸脈起大指之端，入挾於鼻孔，注胃經。</p>
<p>足陽明戊胃脈起於鼻交，之大指，出其端，注脾經。</p>
<p>足太陰己脾脈起於大指之端，注於心中，注心經。</p>
<p>手少陰丁心脈起於心中，注入掌中，循小指，注小腸經。</p>
<p>手太陽丙小腸脈起於小指，橫絡於耳，注膀胱經。</p>
<p>足太陽壬膀胱起於目內，至小指次指，出其端，注三焦經。</p>
<p>足少陰癸腎脈起於小指，下注胸中，注心包絡經。</p>
<p>手厥陰癸心包脈起於胸中，小指次指出其端，注三焦經。</p>
<p>手少陽壬三焦起於小指端，至目銳眥，注膽經。</p>
<p>足少陽甲膽脈起於目銳眥，入大指歧骨，出於端，注肝經。</p>
<p>足厥陰乙肝脈起於大指聚毛之際，上注肺經。</p>

<h2>十二經絡配合四十法</h2>
<p>十二經絡，手足三陰三陽表裡，支幹配合，系晝夜百刻十二時定體之也。</p>

<h2>手太陰肺經配合四十一法</h2>
<p>手太陰肺經，配於陽明大腸經，相為表裡。立手為上，太陰五穴為陰穴，大指外側邊起。</p>
<p>少商二穴（並見在前，治喉嚨閉塞，纏喉風等證。）</p>
<p>魚際二穴（治五心煩熱，咳嗽等證。）</p>
<p>太淵二穴（治牙痛，胸滿之證）。</p>
<p>經渠二穴（治五心煩熱，諸虛不足，腕疼等證）。</p>
<p>列缺二穴、尺澤二穴（治筋緊急，腰脊脅肋間疼）。</p>
<p>肺經屬金，在支為寅，在干為辛。</p>

<h2>手陽明大腸經六穴配合四十二法</h2>
<p>手陽明大腸六穴為陽穴，從大指側邊起。</p>
<p>商陽二穴（治氣喘咳嗽，眼目內障等證）。</p>
<p>二間二穴（治眼疼痛等證）。</p>
<p>三間二穴（治喉閉等證，瀉之）。</p>
<p>合谷二穴（治口眼喎斜，傷寒等證）。</p>
<p>陽谿二穴（治兩手腕疼，不能搖物，無力，補之，灸七壯）。</p>
<p>三里二穴（治兩臂膊不遂、無力，牙疼等證）。</p>
<p>曲池二穴（治四肢癱瘓，半身不遂，傷寒熱病，瀉之）。</p>
<p>大腸經屬金，在支為卯，在干為寅。</p>

<h2>手厥陰心包絡經配合四十三法</h2>
<p>手厥陰心包絡經，配合手少陽三焦經，相為表裡。立手中，五穴為中，陰穴從中指起。</p>
<p>中衝二穴（治心腹痛，手掌發熱，昏悶不省，決人生死）。</p>
<p>勞宮二穴</p>
<p>大陵二穴，治心胸氣疼，渾身發熱等證）。</p>
<p>內關二穴（治心腹脹滿，食物不化等證）。</p>
<p>間使二穴（治寒熱瘧疾，熱多瀉之，寒多補之）。</p>
<p>曲澤二穴（治心氣不足）。</p>
<p>心包絡屬火，在支為戌，在干為癸。</p>

<h2>手少陽三焦經配合四十四法</h2>
<p>手少陽三焦經，六穴為陽，從小指之端起，此謂陰陽表支幹配合也。</p>
<p>液門二穴、中衝二穴（治脊疼手臂）。</p>
<p>陽池二穴（治手腕疼痛，搖無力）。</p>
<p>外關二穴（治腹內疼痛，背疼無力）。</p>
<p>支溝二穴（治傷寒脅肋疼，大小便閉塞，氣不能通，瀉之）。</p>
<p>天井二穴（治瘰癘證，針一寸，灸七壯）。</p>
<p>三焦經屬火，在支為亥，在干為壬。</p>

<h2>手少陰心經配合四十五法</h2>
<p>手少陰心經，配手太陽小腸經，相為表裡。立手為下，五穴為陰穴，晚小指側角起。</p>
<p>少衝二穴（治熱病，心腹脹痛，寒熱往來，傷寒未解）。</p>
<p>少府二穴（治手掌中發熱等證）。</p>
<p>神門二穴（治心癡呆，五癇等證）。</p>
<p>通里二穴（治心中恐悸，不能言語，掌中發熱）。</p>
<p>少海二穴（治頭項不能回顧等證）。</p>
<p>少陰心經屬火，在支為午，在干為丁。</p>

<h2>手太陽小腸經配合四十六法</h2>
<p>手太陽小腸經，五穴為陽穴，從小指端起之。</p>
<p>少澤二穴（治乳癰，產母無乳，先瀉，後補提）。</p>
<p>前谷二穴（治熱病，汗不出，咳嗽，血不止）。</p>
<p>後谿二穴（治癇疸癲狂，瘧疾）。</p>
<p>腕骨二穴（治渾身發熱，五癇等證）。</p>
<p>少海二穴（同上）。</p>
<p>手太陽小腸經屬火，在支為辰，在干為丙。</p>

<h2>足厥陰肝經配合四十七法</h2>
<p>足厥陰肝經，五穴為陰，從足次指側起。</p>
<p>大敦二穴、行間二穴（治心腹脹滿，眼目紅腫，腳背虛浮，能消水氣、肝家怒氣）。</p>
<p>太衝二穴（治心中恍惚、癲邪之證，腳背紅腫、行步艱難之證）。</p>
<p>膝關二穴（治膝眼紅腫，脾家受濕，腳軟無力）。</p>
<p>曲泉二穴（治腳腿疼痛，寒濕風痹）。</p>
<p>足厥陰肝經屬木，在支為亥，在干為乙。</p>

<h2>足少陽膽經配合四十八法</h2>
<p>足少陽膽經，六穴為陽穴，起於足次指。</p>
<p>竅陰二穴（治四肢厥冷，肚腹疼痛不止）。</p>
<p>俠谿二穴</p>
<p>臨泣二穴</p>
<p>丘墟二穴</p>
<p>懸鐘二穴</p>
<p>透三陰交二穴</p>
<p>陽輔二穴</p>
<p>陽陵泉二穴</p>
<p>足少陽膽經屬木，在支為子，在干為甲。</p>

<h2>足太陰脾經配合四十九法</h2>
<p>足太陰脾經配足陽明胃經，相為表裡，八穴從大指側起。</p>
<p>隱白二穴（治腹脹不得睡臥，嘔吐，反胃不止，不下食）。</p>
<p>大都二穴（治手足厥冷，五心煩熱，不思飲食，灸七壯）。</p>
<p>太白二穴（治身腿疼無力）。</p>
<p>公孫二穴（治腳背紅腫，昏迷不省人事，瀉之）。</p>
<p>商丘二穴（治紅腫干側腳氣風）。</p>
<p>三陰交二穴（治男子小腸疝氣，婦人難產，情色所感）。</p>
<p>陰陵泉二穴（治腹中寒，不嗜食，小便不利，閉結等證）。</p>
<p>血海二穴（治兩腿外廉血風瘡）。</p>
<p>足太陰脾經屬土，在支為已，在干為己。</p>

<h2>足陽明胃經配合五十法</h2>
<p>足陽明胃經，八穴為陽穴。</p>
<p>內庭二穴（治四肢厥冷，大小腹脹，酒食所傷，瀉之）。</p>
<p>厲兌二穴（治小腹膨脹，寒熱進退等證）。</p>
<p>陷骨二穴（治眼目浮腫，食腫，水腫氣，灸七壯）。</p>
<p>衝陽二穴（治口眼喎斜腳背紅腫，氣聚不散）。</p>
<p>解谿二穴（治偏正頭風之證）。</p>
<p>豐隆二穴（治逆胸膈疼痛，步艱難）。</p>
<p>三里二穴（治五勞七傷，諸虛百端等證）。</p>
<p>陰市二穴（治腿冷膝痛而不得屈伸，麻木不仁）。</p>
<p>足陽明胃經屬土，在支為辰，在干為戊。</p>

<h2>足少陰腎經配合五十一法</h2>
<p>足少陰腎經配足太陽膀胱，相為表裡，五穴為陰穴，從足心中起。</p>
<p>湧泉二穴（治大小便閉結，心中發熱，五癇等證）。</p>
<p>然骨二穴（治喉嚨痛，足跗紅腫，不得步履）。</p>
<p>太谿二穴（治心牙疼，腳氣紅腫，即呂細穴，灸七壯）。</p>
<p>照海二穴（內踝上三寸，治喉嚨痛，大便閉結，熱淋等證）。</p>
<p>復溜二穴（治虛汗，補之即愈）。</p>
<p>陰谷二穴（治小便不通，婦人胞胎之證）。</p>
<p>足少陰腎經屬水，在支為酉，在干為癸。</p>

<h2>足太陽膀胱經配合五十二法</h2>
<p>足太陽膀胱經，七穴為陽穴。</p>
<p>至陰二穴（治眼目紅腫疼痛）。</p>
<p>通谷二穴（治腳浮腫）。</p>
<p>束骨二穴（治腰痛不得屈伸，腳氣虛腫）。</p>
<p>京骨二穴（治久瘧不痊，腰背腿疼，俯仰不得）。</p>
<p>崑崙二穴（治腰腳疼痛，氣脈不和）。</p>
<p>承山二穴（治轉筋，腰腿筋急，寒濕腳氣，不能行步）。</p>
<p>委中二穴（治一切腰腿腳疾等證）。</p>
<p>足太陽膀胱經屬水，在支為申，在干為壬。此之謂陰陽表裡、支幹配合也。</p>

<h2>黃帝之機、瓊瑤之論五十三法</h2>
<p>蓋諸經中者，玄者最玄，妙者最妙。雖為醫儒九流聖哲之人，高唱越人得死還生，推針、破腸、瀉心，華佗刮骨療毒，李中孝察色聽聲，王叔和專診其脈，張仲景調理四時傷寒，秋夫療鬼，王纂針腰，孫真人作下千金之方，伊尹作濟生之術。人有四百四病，藥有八百八般，各有以源道，內有六陳、十八反，有炮爁、炙煉，分兩君臣。皆由手呼吸，全憑針灸補瀉之法。針有揭山之方，藥有神效之功。</p>
<p>夫針者，修教神通古法，通三才之妙，如神起死回生。神農、黃帝、扁鵲知恩，劉高祖有德之君。夫軒轅黃帝道人，全憑針灸補瀉之功，戊年年戊午月戊午日戊午時，其年赤馬口中銜鐵，端坐十二條針。</p>
<p>第一條針，名曰青龍針也，長一尺二寸，按一年十二月也。</p>
<p>第二條針，名曰白虎針也，長九寸、按金、木、水、火、土、太陰、月孛羅計九星也。</p>
<p>第三條針，名曰喪門針也，長八寸，按乾、坎、艮、震、巽、離、坤、兌八卦也。</p>
<p>這三條針，世間多有不會此針，乃神仙所用也。這針，針山山崩，針地地裂，針海水逆流，針人枯骨還更生，周文王因此禁了這三條針也。後留九針在世間與人使用。</p>
<p>一鑱針　平半寸，長一寸六分，其頭大，末銳。其病熱在頭身，宜此。</p>
<p>二員針　其身圓，鋒如卵形，長一寸六分。肉分氣滿，宜此。</p>
<p>三鍉針　鋒如黍粟之銳，長三寸五分。脈氣虛少，宜此。</p>
<p>四鋒針　兩三隅，長一寸六分。瀉熱出血，發泄痼病，宜此。</p>
<p>五䤵針　一名破針，末如劍鋒，廣二寸半，長四寸。破癰腫，出膿血。</p>
<p>六員利針　尖如毫，且員且利，中身微大，長一寸六分。調陰陽，去暴癖。</p>
<p>七毫針　法象毫，尖如蚊虻喙，長三寸六分。調經絡，去疾病。</p>
<p>八長針　鋒加利，長七寸，痹深居骨解腰脊奏之間者。</p>
<p>九燔針　一名焠針，長四寸，風虛合於骨解皮膚之間者。</p>
<p>這九針，上按著五星，下按著四時。五星者，金木水火土是也。四時者，春夏秋冬是也。</p>
<p>這針，又按著皮、肉、脈、筋、五音、陰陽、齒、風、竅九針也。</p>
<p>這針各有攻病之能。一鑱針，破頭風、面部風痛。二員針，開內外，療病眼疾。三鍉針，經絡引氣。四鋒針，破瘤，開癰。五喙針，療咽喉腫痛。六員利針，治頭風、眼疾。七毫針，調陰補陽。八長針，療筋骨疼痛。九燔針，補男子女人下元虛冷。</p>
<p>這針有千般補瀉：手指補瀉，提按補瀉，左右補瀉，陰陽補瀉，針頭補瀉，虛實補瀉，呼吸補瀉，氣上補瀉，氣下補瀉，虛循補瀉，實循補瀉，虛提補瀉，實提補瀉，虛按補瀉，實按補瀉，虛彈補瀉，實彈補瀉，虛⿰扌仝補瀉，實⿰扌仝補瀉，虛捻補瀉，實捻補瀉，加進補瀉，加退補瀉，順搖補瀉，橫搖補瀉，刮戰補瀉，子母補瀉，虛攝補瀉，實攝補瀉，買氣至浮沉補瀉，氣滑補瀉，氣澀補瀉，氣緊補瀉，氣微補瀉，轉針補瀉，調勻補瀉，針自出補瀉，四季用艾補瀉，午前補瀉，午後補瀉，立冬補瀉，風雨補瀉，日晚補瀉，子午補瀉，腹部盤盤即響法補瀉，升陽補瀉，升陰補瀉，寒熱補瀉，汗法補瀉，吐法補瀉，下法補瀉，千般補瀉，一言難盡，在乎心傳口授。一呼一吸，如江河滾滾而來；一按一提，如角弓漸漸而開。一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸，呼吸三五度，榮衛遍周流。正直端的，依經取驗。雖不醫人枯骨還魂，針到時刻見效。刺陽明，三進不止；刺陰經，五臟無傷。按摩導引，妙法神機也。</p>

<h2>陰榮五十四法</h2>
<p>春夏致一陰，用針深坑入皮五分，至腎肝之部，致陰氣以和陰，浮入皮二分，至心肺之得氣引持。</p>

<h2>陽衛五十五法</h2>
<p>秋冬致一陽，用針淺，氣以和，陰部得氣，推內致陽。當補，從衛取氣，得氣推納。當瀉，從榮買氣，得氣引瀉。</p>
<p>陽不足，陰有餘，當先補陽而後瀉陰。假令膽不足、肝有餘，先補足少陽膽經，然後瀉足厥陰肝經也。</p>
<p>大指出是補，呵是暖；大指入是瀉，吸是涼。</p>
<p>急提慢按，自然涼瀉；慢提急按，自然熱補。</p>
<p>一飛二進，真氣自至；一退三飛，邪氣自微。</p>
<p>瀉，氣來實而牢牢實者，瀉之；補，氣來虛而濡者，補之。</p>
<p>疼痛即瀉，先吸後呼之；癢麻即補，先呼後吸之。</p>
<p>凡補瀉，先診五臟脈，及用刺之穴。</p>

<h2>流注提針鋼領五十六法</h2>
<p>未欲行針，先審晦晴，察其病源，論定何經絡，已定穴竅分明，五行生剋補瀉於心。血支血忌，莫犯人神，太乙在宮，切莫施針。寒熱醉飽，勞弱風陰。春夏宜暖，秋冬大溫。端心正已，如待貴賓。左手按定，右手持針。秋冬三五二四，春夏氣候已至。補陽瀉陰，瀉陽先呼，瀉陰吸存。循捫有穴，何病之因，疼痛已愈，隨除起針。患者病未，補陰重分。合穴相引，何患厥深。行針之士，當熟在心。先賢貴言，寶之如金，誓若漏言，祖考受刑。</p>

<h2>針說五十七法</h2>
<p>《針微賦》說：下針如龍投大海，起針似猛虎離山。針有劫病之功，藥有拔山之力。江河閉塞，钁鋤開之；氣血凝滯，須用砭針刺之。針頭如粟米，氣出似雲煙。</p>
<p>《黃帝內經》云：人身有三百四十九道，單穴四十九道，雙穴三百一十。</p>
<p>《銅人經》云：六百四十四穴，所處不同。識得陰陽，辨得虛實，知其逆順，是動所生，方可行針。虛則補之，實則瀉之，不虛不實，依經取之。針之毫毛，隱顯莫測，下針必在靈驗。一呼一吸，如江河滾滾而來；一按一提，似角弓展展而開。針之玄妙，至理難通。上察周天纏度，奮然氣引而來，下極黎庶殘骸，卻邪陶陶而去。針有孔穴，按天地人三才，湧泉與璇璣、百會。把攢五嶽，恆衡岱華嵩。人有五臟，心肝脾肺腎。針有五穴，井滎輸經合。溝渠閉塞，水在於內，經絡不通，氣血在中。開渠流水，引氣而行。亙古至今，補虛瀉實，宜淺宜深。然雖手到處，人心巧巧，名傳四海。雖不針枯骨重活，自然有起死回生。</p>
<p>覽此斯言，神明佑之。</p>

<h2>醫帥論五十八法</h2>
<p>夫醫針如帥用兵。藥有治而針有效，帥有謀而軍自嬴。醫知藥性，帥察軍情。治病則先通脈理，行兵則達探先鋒。治傷寒有如上陣，治雜病自守其功，入陣則兵隨印轉，治病藥憑引行。行兵則望風而知其勝敗，治病則觀形而知其吉凶。帥嬴宮中給賞，醫勝守家酧功。宮中若無賞罰，世知誰弱誰能?帥習武藝，醫講經書。帥憑六韜三略，醫憑《素問》、《難經》；帥演輕弓短箭，醫習藥灸神針；帥領千萬兵卒，醫治百萬人民。倘若傷民疾，醫帥豈可安寧?以行兵、用藥，醫帥不可不精也。</p>

<h2>補瀉法五十九法</h2>
<p>夫欲行針，先用觀神定志，然後審其俞穴，分明此穴主何病、通何路。既得其穴，先以右手持針重四兩，左手按穴重七斤，令穴脈針開，使病人咳嗽一聲，隨即入針，則徐徐催之。令及分寸，則停針候氣，左轉動以相天，又吸氣右轉動以法地，再吸氣提之，以相人。所謂針有三才之道也。左轉補之，右轉瀉之，皆以得為應。其氣下來，再依前法刺之。自出針，以指按其穴，無令瀉其真氣。則吸氣入針，呼氣出針，不按其穴，令邪氣從針竅而泄。</p>
<p>大概虛羸勞損癢麻，有補而無瀉；傷寒暑濕疼痛，外來之疾，有瀉而無補。</p>
<p>春夏刺淺，秋冬刺深。</p>
<p>此為補瀉手指之法度也。</p>

<h2>醫道偈六十法</h2>
<p>命星可推終難定，相法雖奇未易通，若欲平生為善士，莫如醫道有陰功。</p>

<h2>天星十一穴六十一法</h2>
<p>三里內庭穴，曲池合谷截，委中配承山，下至崑崙徹，環跳與陽陵，通里並列缺。合擔用法擔，合截用法截。但法用計取，莫與閒人說。三百六十骨，不如十一穴。此法少人知，金鎖都開徹，有人若傳授，何須用別決，便是神針法，普濟群生悅。</p>

<h2>經絡分所屬六十二法</h2>
<p>三里足陽明胃經，內庭足陽明胃經，曲池手陽明大腸經，合谷手陽明大腸經，委中足太陽膀胱經，承山足太陽膀胱經，崑崙足太陽膀胱經，環跳足少陽膽經，列缺手太陰肺經。</p>
<p>足下有病，上取；頭上有病，下取；左邊有病，右取；右邊有病，左取。</p>

<h2>治病手法歌六十三法</h2>
<p>三里二穴（熱，脈洪，瀉提數次，提刮戰二七次，氣下三五次，向上攝提數次，不灸。寒，脈微，補，刮搓捻，次推按數次，氣上數次，升陽數次，灸七壯）。</p>
<p>三里在膝下，三寸兩筋間，能針心腹脹，善治胃中寒，腸鳴並積聚，腿腫膝脛酸，勞傷羸瘦損，氣蠱病諸般，人過三旬後，針灸眼便寬，左癱並右瘓，風疾兩相關，捻穴須舉足，得法不為難。</p>
<p>內庭二穴（熱，脈洪，提瀉刮戰五七次，搜攝數次，深提攝、氣下五七次、不灸。寒，脈微，補七次，按刮數次，推按循氣上數次，搓捻數次，灸五壯）。</p>
<p>內庭二足間，胃脈足陽明，針治四肢厥，喜靜惡聞聲，癮疹咽赤痛，數次及牙疼，瘧　疾不思食，針著便惺惺，谷海停痰盛，宣通氣自升。</p>
<p>曲池二穴（熱，脈洪，提瀉刮戰五七次，搜攝數次，深提攝、氣下五七次，不灸。寒，脈微，補刮推按循，氣上數次，搓捻數次，搜攝按刮數次，灸五壯）。</p>
<p>曲池曲肘里，曲骨陷中求，善療肘中病，便風便不收，拋弓開不得，筋緩怎梳頭，喉開促為絕，發熱更無休，遍身風疙癢，針灸必須瘳。</p>
<p>合谷二穴（熱，脈洪，提瀉五七次，搜刮五七次，循攝提、氣上、氣下五七次，不灸。寒，脈微，補刮十次，氣上五七次，按三次，搓三次，循搜五七次，灸三壯）。</p>
<p>合谷在虎口，兩指歧骨間，頭疼並面熱，瘧疾熱還寒，熱病汗不出，目視暗慢慢，齒齲並鼻衄，口噤不能言，針入著深淺，可令人即安。</p>
<p>委中二穴（禁灸。熱，脈洪，提瀉五七次，搜攝循提、氣上、氣下、出血。寒，脈微，補刮五七次，推按循刮、氣上、氣下五次，不出血）。</p>
<p>委中曲踿里，動脈膕中央，腰重不能舉，沉沉來脊梁，風痹髀樞病，熱病不能涼，膝頭難屈曲，遺尿不得安。</p>
<p>承山二穴（熱，脈洪，提瀉五七次，搜刮三五次，戰提三次，向上攝提數次，不灸。寒，脈微，提補三五次，搜刮三五次，搓三次，捻循提、氣上、三壯）。</p>
<p>承山在魚腹，腨腸在肉間，善治腰背痛，痔病大便難，腳氣膝下腫，股重顫痠疼，霍亂轉筋急，穴中刺便安，起身立不得，飲食更難飧。</p>
<p>崑崙二穴（熱，脈洪，戰提七次，搜刮七次，循攝、氣下十次，提搓向下捻，不灸。寒，脈微，補三五次，推按搓五七次，循、氣上三五次，停呼三十度，三壯）。</p>
<p>崑崙足外踝，後跟歧骨尋，腨腫腰尻痛，腿腳及連陰，頭疼肩背急，暴喘悶衝心，踏地行不行，舉足便呻吟，鼻衄多為患，驚癇瘛瘲深，若要求安樂，須於此穴針。</p>
<p>環跳二穴（熱，脈洪，提刮十次，按攝戰瀉十次，升陽、氣下五七次，不灸。寒，脈微，搓補數次，按三次，捻三次，升陽、氣上三次，七壯）。</p>
<p>環跳在髀樞，側臥不足舒，上足屈求得，能治毒狗冷，痹並濕痹麻，身體似神誅，腰腿連腨痛，難伸轉呼吸，但能針與灸，此穴勿疏虞。</p>
<p>陽陵泉二穴（熱，脈洪，提刮五次，瀉三五次，提二次，搜刮三五次，升陽、氣下。寒，脈微，補三次，按三次，搓三次，捻三次，升陽、氣上三次，三壯）。</p>
<p>陽陵居膝下，一寸外踝中，膝頭難屈曲，起坐似寒翁，舉身飛不起，冷痹及偏風，試把針微刺，方知有異功，膽肝為表裡，流注最相攻。</p>
<p>通里二穴（熱，脈洪，提瀉五次，搓搜攝五七次，循提、升陽、氣下，不灸。寒，脈微，補七次，按刮七次，升陽、氣上三次，又循按氣三次，三壯）。</p>
<p>通里在腕後，量度一寸中，頻伸仍縮欠，煩惱又心沖，肘背連腨痛，頭腮兩頰紅，實即四肢腫，喉閉氣難通，虛則不能語，口苦嘔無縱，針入看深淺，神功實不同，神觀司此穴，暴啞一針通。</p>
<p>列缺二穴（熱，脈洪，提七次，搜攝循提、氣下、升陽三五次，不灸。寒，脈微，按三次，搓三次，捻三次，刮、升陽、氣上三次，三壯）。</p>
<p>列缺腕側上，頭指手交叉，舉療偏風患，半身時木麻，肘腕全無力，口噤不開牙，咳嗽掌中熱，寒瘧嘔增加，喜笑縱唇口，健忘不絕些，針入看深淺，妙手有人誇，三呼留得住，五吸瀉為佳。天星十一穴，活法妙無加。</p>

<h2>八法流注六十四法</h2>
<p>公孫臨泣內關中，後谿列缺肺屬金，外關申脈照海穴，若明此穴值千金。</p>
<p>第一公孫二穴（熱，脈洪，提刮三五次，瀉三五次，搜攝戰三五次，升陽、氣下，不灸。寒，脈微，補三五次，搓三五次，捻三五次，升陽三次，三壯）。</p>
<p>公孫前穴屬於脾，心腹脹滿足難醫，五隔結胸中滿病，胎衣不下血昏迷，滑腸瀉痢腹臍痛，腸風下血漏瘧疾，五膈五噎冷積病，小兒脫肛痢難醫，裡急後重但便血，痰氣中滿喘聲齊，久積更兼兒塊病，神針下處立除危。</p>
<p>第二臨泣二穴（熱，脈洪，提刮五次，瀉五次，循攝戰三次、五次，升陰、氣下三五次，不灸。寒，脈微，補三五次，按三次，搓三次、五次，升陽、氣上三五次，三壯）。</p>
<p>臨泣後谿膽家源，咽喉腫痛及傷寒，手指摽提足跌患，四肢麻木手筋攣，筋骨疼痛虛煩躁，浮腫瘙癢目昏眩，赤目牙疼膝脛痛，雷風頭緊項強⿰翕頁，脅氣耳聾身體重，神針下處便完全。</p>
<p>第三內關二穴（熱，脈洪，提三五次，瀉三五次，搜刮五次，升陰、氣下三五次，不灸。寒，脈微，按七次，刮七次，搓五次，捻三次，升陽、氣上三次，三壯）。</p>
<p>內關內穴出真心，中滿不快結胸深，腸冷腰疼並瀉痢，冷物不化米穀侵，五膈氣疾並後重，婦人無血熱相攻，男子女人並積病，一針取效值千金。</p>
<p>第四外關二穴（熱，脈洪，提三次，瀉三次，刮十次，循攝七次，升陰、氣下，停呼十度。寒，脈微，按刮十次，循推、氣上三五次，補七次，升陽三次，三壯）。</p>
<p>外關內穴起三焦，手足發熱痛眉梢，產後大風身體重，傷寒病瘥後發潮，血風流淚並眼暗，四肢不順骨筋高，耳鳴盜汗並身重，一下神針自便消。</p>
<p>第五後谿二穴（熱，脈洪，提五次，刮戰五次，循攝三次，搜攝戰提七次，升陰、氣下。寒，脈微，按三次，搓三次，捻三次，推刮戰三次，升陽、氣上，停呼）。</p>
<p>小腸原穴後谿間，手足舉攣重似山，傷寒盜汗並膝重，咽喉閉寒口中乾，頭疼項強並冷淚，破傷風發似顛狂，產後汗多難可治，神針下處即時安。</p>
<p>第六列缺二穴（熱，脈洪，提瀉三五次，搜刮戰三五次，升陰、氣下三五七次。寒，脈微，補三五次，按刮三五次，推戰循、升陽、氣上，三壯）。</p>
<p>掌後指齊名列缺，小腸提痛便膿血，婦人血塊死胎深，食痛瀉痢寒氣噎，腸風下血痔漏疾，產後迷心便不說，小便赤澀大便燥，小兒食痛加食噎，腰心後痛心煩滿，下針有如湯澆雪。</p>
<p>第七申脈二穴（熱，脈洪，瀉二次，提三次，搜刮三次，循攝提、氣下三五次。寒，脈微，推戰按刮七次，循攝、氣上五次，補三五次，三壯）。</p>
<p>申脈穴下出陽蹺，腰疼脊痛脛還高，肢節煩痛手足強，傷寒頭痛目如盲，身體重時兼自汗，眉稜骨，眼似針挑，產後惡寒腿膝痛，頑麻吹乳氣衝腰，鼻衄流血身內臠，下針便瘥似神療。</p>
<p>第八照海二穴（熱，脈洪，提瀉三五次，補攝、氣下三五次，搜刮戰三五次。寒，脈微，補三五次，推按三五次，升陽、氣上三五次，三壯）。</p>
<p>照海陰穴近太谿，婦人血氣並胎衣，產後血虛兒枕痛，吐食噎閉小腸疾，大便不通並淋瀝，心煩腹脹不曾飢，氣塊更兼強氣痛，一針痊可顯名醫。</p>
<p>八穴所屬</p>
<p>公孫脾屬土，臨泣膽屬木，內關包絡里，後谿小腸火，列缺肺屬金，外關三焦火，申脈膀胱水，照海腎屬水。</p>

<h2>八法歌病源呼吸補瀉六十五法</h2>
<p>靈醫留傳妙法門，八法隨身至寶珍，補瀉呼吸依妙法，治病除疴直千金。男子補虛呵外轉，瀉實吸取里頭存，吸補婦人家裡坐，瀉實吹與外根尋。</p>
<p>後谿小腸三焦中，肺經列缺內關心，脾是公孫照海腎，臨泣會膽膀胱中。</p>
<p>頭疼眉搐腰腳痛，鼻衄須知破傷風，先針後谿並申脈，呼吸補瀉妙神功。</p>
<p>腿疼疝氣兼頭痛，申脈臨泣用神針，牙疼內外關列缺，又覓公孫照海中。</p>
<p>膈氣嘔吐食難消，針其內關與公孫，照海穴中宜補瀉，進食降氣便開榮。</p>
<p>咳嗽嘔吐治無因，大便閉澀又難通，諸方求藥難痊疴，公孫列缺效神功。</p>
<p>腹滿脹脹氣難任，內關補瀉是公孫，脅肋痛時頻聲喚，列缺內關用金針。</p>
<p>心氣痛時難忍受，內關照海並公孫，喉閉腫痛氣不通，照海列缺用金針。</p>
<p>痃氣痛時公孫補，照海內關列缺針，傷寒腹滿並結胸，先針內關共公孫。</p>
<p>喉閉腫痛氣不通，內關申脈用針通，失音不語是中風，照海內關五會中，敬簡因風針五會，外關照海後谿功。</p>
<p>牙關緊急與驚風，內關列缺有神功，發熱舌強難言語，照海開關便安寧。</p>
<p>背疼臂痛並耳聾，外關後谿下針分，背中痛時難伸屈，申脈後谿二穴中。</p>
<p>咳嗽上喘便秘結，公孫照海用金針，久瘧牙疼小腸痛，大便秘結列缺功。</p>
<p>小便不通淋瀝痛，申脈後谿陷中針，婦人經絡不調勻，照海公孫內關尋。</p>
<p>經絡漏下血山崩，內關照海及公孫，赤目痛時難忍受，列缺外關便開榮。</p>
<p>醫功若會神仙法，萬兩黃金也不傳，治病除疴如影響，諸般痼疾一時傾。</p>
<p>又曰</p>
<p>流注之法最難求，呼吸臨時在手頭，呼則為陽針順轉，吸則為陰逆水流。</p>
<p>呼吸三五度，血氣遍身流。</p>
<p>乾屬公孫艮內關，震宮歸外巽溪間，離歸列缺坤申脈，照海臨泣兌坎關。補瀉浮沉分逆順，得時呼吸不為難，相傳秘密神針法。陰陽天干日</p>
<p>甲丙戊庚壬屬陽，乙丁巳辛癸屬陰。</p>
<p>十干所屬　甲乙屬木，丙丁屬火，戊己屬土，庚辛屬金，壬癸屬水。</p>
<p>十干相生　甲木生丙火，丙火生戊土，戊土生庚金，庚金生壬水，壬水生甲木，乙木生丁火，丁火生己土，己土生辛金，辛金生癸水。</p>
<p>十二經配合十二支　寅肺卯大腸，辰胃巳脾鄉，午心未小腸，申膀酉腎當，戌與心包配，亥合三焦方，子膽醜肝位，支經配合強。</p>
<p>陽干日　甲丙戊寅壬，丙戊庚壬申，戊庚壬甲丙，庚壬甲丙戊，壬申丙戊庚。</p>
<p>陰乾日　乙丁己辛癸，丁己辛癸乙，己辛癸乙丁，辛癸乙丁己，癸乙丁己辛。</p>
<p>竅金水穀陷谷甲，原墟太谿其土中，大敦少府所過原，經渠陰谷亦同宮。少澤內庭三間丙，腕骨崑崙陰陵逢，少衝大都太原丁，復溜曲泉血可攻。厲兌二間束骨戊，原陰陰輔小海通，隱白魚際口溪巳，中針少海有神功。商陽通谷臨泣庚，原谷陽谷三里申，少商然骨太衝辛。原靈道隨陵泉從，至陰俠谿後谿壬，京骨解谿曲池辰，湧泉行間神門癸。商丘尺澤是同宗，三焦在膀心包腎，用針須要細排輸。</p>

<h2>修製藥餌者造針法時日</h2>
<p>宜戊辰，己巳，庚午，壬申，乙亥，戊寅，甲申，丙戌，辛卯，乙未，丙午，丁未，辛亥，己未。除開破日，忌辛未，乃扁鵲死日。</p>

<h2>求醫服藥針灸吉日</h2>
<p>宜丁卯，庚午，甲戌，丙子，丁丑，壬午，甲申，丙戌，丁亥，辛卯，壬辰，癸丑，乙卯，丙辰，己未，壬戌，乙亥，戌申，戊戌，壬子，丙申，甲辰，丙午。</p>
<p>天醫、天巫、天解，要安生氣活曜，天月二德，二德合日。服藥，忌扁鵲死日，男忌除，女忌破日。針灸，忌人所在，白虎、黑道、月厭、月殺、獨火、受死、人別、血支、血忌人隔日。</p>
<p>每月六日、十五、十八、二十三、二十八、小盡，療病令人長病不安。</p>

<h2>孫子中家傳崔氏四花穴法</h2>
<p>夫含靈受氣，稟之於五行；攝生乘理，降之於六疾。若岐黃廣起蔚旨，舊經攻灸兼行，顯著斯疾。骨蒸病者，亦名傳屍，亦名殗殜，亦稱復連，亦曰無辜。文史以癖氣為根，婦人以血氣為本，無問少長，多染此病。嬰孺之流，傳注更苦。其為患也，發乾而聳，或聚或分；或腹中有塊，或腦後兩邊有小結，多者乃至五六；或夜臥盜汗，夢與鬼交，雖目視分明，而四肢無力；或上氣食少，漸就沉羸，縱延時日，終於𣩄盡。</p>
<p>予昔忝洛州司馬，嘗三十日灸活一十三人，前後差者，數逾二百。至於貍骨、獺犴，徒聞曩說，金牙、銅鼻，罕見莫能。未若此方扶危拯急，非止單攻骨蒸，又別療氣、療風，或瘴或勞，或邪或癖。患或壯廣，灸活者不可具錄，略陳梗概，又恐傳授訛謬，以誤將來。今故具圖取狀，庶令覽者易悉，使所在流布，須用家藏，未暇外請名醫、傍求上欒。還魂返魄，何難之有?遇斯疾者，可不知所務乎!</p>
<p>唐中書侍郎崔知悌序。</p>
<p>取穴法</p>
<p>先兩穴，令患人平身立正，取一細繩，遏之勿令展縮，順腳底貼肉緊踏之，男左女右。其繩前頭與大拇指端齊，後頭令當腳跟中心，向後引繩，循腳肚貼肉，宜上至曲膂中大橫紋截斷。</p>
<p>又令患人解發，分兩邊令見頭縫，自囟門平分至腦後，乃平身正坐，取向所截一頭，令與鼻端齊，引繩向上，正循頭縫，至腦後貼肉垂下，循脊骨引繩向下，至繩盡處，當脊骨以墨點記之。墨點不是灸處。</p>
<p>又取一繩子，令患人合口，將繩子按於口上兩吻，卻勾起繩子中心，至鼻柱根下。如今此樣，便齊兩吻，截斷。將此繩展令直，於前來脊骨上墨點處，橫量取平，勿令高下。繩子先用中指，當中以墨記之。卻展開繩子，橫量，以繩子上墨點正壓脊骨上墨點為正，兩頭取平，勿令高下。於繩子兩頭以白圈記，白圈是灸處。</p>
<p>以上是第一次，點二穴。</p>
<p>次二穴，令其人平身正坐，稍縮臂膊，取一繩，繞項向前，雙垂與鳩尾齊（鳩尾是心歧骨。人有無心歧骨者，雙胸前兩歧骨下量取一寸，即是鳩尾也）。即雙截斷，卻背翻繩頭，向後以繩子中停取心，正令當喉嚨結骨上。其繩兩頭夾項雙垂，循脊骨以墨點記之。墨點不是灸處。</p>
<p>又取一繩子，令患人合口橫量，齊兩吻，截斷。還於脊骨上，以墨點處橫量如法。繩子兩頭以白圈記之。白圈即是灸處。</p>
<p>以上第二次點火。通前共四穴，同時灸，曰別各七壯。累灸至一百壯，或一百五十壯為妙。候瘡欲瘥，又依後法灸二穴。</p>
<p>又次二穴，以第二穴量口吻繩子，於第二次雙繩頭盡處墨點上，於上下繩頭盡處，以白圈兩穴。白圈是灸處。</p>
<p>以上第三次，點兩穴。謂之四花穴。灸兩穴，各百壯。三次共六花穴。</p>
<p>各取離日，量度訖。即下火。唯須三月三日艾最佳。疾瘥，百日以內慎飲食房事，安息靜處將息。若一月後，覺未瘥，復依初穴上再灸。</p>
<p>圖形壯具於後。</p>
<p>凡骨蒸之後所起，辨驗有二十二種，並依上項灸之。</p>
<p>一、胞蒸，小便赤黃。</p>
<p>二、房欲蒸，男女遺尿失精，女人月水不調。</p>
<p>三、腦蒸，頭眩熱悶。</p>
<p>四、髓蒸，覺沸熱。</p>
<p>五、骨蒸，齒黑。</p>
<p>六　、筋蒸，甲焦。</p>
<p>七、血蒸，發焦。</p>
<p>八、脈蒸，緩急不調。</p>
<p>九、肝蒸，或時眼前昏花。</p>
<p>十、心蒸，舌焦或瘡，或時胸滿。</p>
<p>十一、脾蒸，唇焦所，或口瘡。</p>
<p>十二、肺蒸，口乾生瘡。</p>
<p>十三、腎蒸，耳乾焦。</p>
<p>十四、膀胱蒸，右耳熱。</p>
<p>十六、胃蒸，舌下痛。</p>
<p>十七、小腸蒸，下泄不禁。</p>
<p>十八、大腸蒸，右鼻孔痛。</p>
<p>十九、三焦蒸，乍寒乍熱。</p>
<p>二十、肉蒸，別人覺熱，自覺冷。</p>
<p>二十一、皮蒸，肉生雞粟起，是皮蒸。</p>
<p>二十二、氣蒸，遍身壯熱，不自安息。</p>

<h2>用針尺寸取穴法</h2>
<p>凡孔穴尺寸，皆隨人身形大小，須分男左女右，量手指中心一節，兩橫紋中心為一寸。此為周身尺也。</p>

<h2>艾灸大小法</h2>
<p>凡艾炷，須令腳跟足三分。若不足，恐覆孔穴不閉，穴中經脈大氣不行，即不能抽邪氣、引正氣。雖小兒必以中指取為準。</p>

<h2>取艾法</h2>
<p>端午日，日未出，於艾中以意求其似人者，輒指之以灸，殊有效。幼時見一書中雲爾，忘其何書也。艾未有真人也，於明昧間苟以意命之。萬法皆妄，無一真者，此可疑也。</p>

<h2>用火法</h2>
<p>黃帝曰：松、柏、棗、榆、柳、柿、竹等木，用火灸，必害肌血，慎不可用。凡取火，宜嗃石取，或水晶鏡子，於日中得其太陽火。為天陰，以槐木取火，亦良。</p>

<h2>孫子中增添三法</h2>
<p>緣舊方無瀉火之法，今考凡灸必須瀉火。若不瀉火，恐傷其頭目。先灸，當脊骨兩旁橫平上下四穴。待灸瘡發半月餘日，又灸，當脊骨中豎上下兩穴。五日或七日之後，卻於三里兩穴，灸五壯或七壯，或針入寸半，宜瀉，不宜補。</p>
<p>舊圖十一個，欠少婦女纏腳短小者，非自然也，比量必不真，誠恐穴道參差，徒受痛楚，跣足裸體，亦不方便。今增添婦女一圖於後，移於右手肩俞穴點定，𨥤引線向下，至中拇指端肉盡處，不量指甲，截斷，以代量之，方足用。又參詳十二上下小兒，頭足短者，若量足付之於頭，則不真也，只可灸向下四穴可也。</p>
<p>十二穴：一月之中，上十日，蟲頭向上，從心至頭，遊四穴；中十日，頭內向，從心至膝，遊四穴；下十日，蟲頭向下，從臍至足，遊四穴。</p>
<p>若投符、用藥可知。如紫蠶苗在汗中，蓋蟲性已通靈。切在精審，其或取蟲不補。即學淺妄行，徒費貲，終無去病之理，不亦可悲也哉!</p>
<p>師曰：治傳屍勞者，先須知正氣與毒氣並行。故臟腑有疑，即成蟲壯，陽日長雄，陰日長雌。其食先臟腑脂膏，故其色白。五臟六腑已經食損，即皮聚毛脫，婦人即月事不通，血脈皆損，不能榮於五臟六腑也。七十日後，食血氣肉盡，故其蟲黃赤，損於肌肉，故變瘦劣，飲食不能膚，筋緩不能收持。一百二十日外，肉血盡，故其蟲紫，即食精髓，傳於腎中。食精，故其蟲色黑。食髓，即骨痿不能起於床枕。諸蟲久即生毛，毛色雜花，鍾孕五臟五行之氣。傳之三人，即能自飛，其狀如禽，多異品類。傳入腎經，不可救治。</p>
<p>法之所載　者，能徙利後。其色白，可三十日後服補藥。其蟲頭赤者，食患人肉，可治。頭口白者，食患人髓，其病難治，只宜斷後。故經曰：六十日者，十得七八；其人八十日治者，十得三四人；過此以往，未知全生。但可為孫子除害耳。</p>
<p>今以六代所傳蟲狀病證，一一詳著於後。</p>

<h2>治勞取蟲經驗天靈蓋散</h2>
<p>天靈蓋（兩指大，以檀香煎湯過，用酥塗炙。咒七遍云：雷公神、電母聖，逢傳勞，便須定，急急如律令）檳榔（如雞子五個，為末）　阿魏（二分，細研）　麝香（三分，另研）　辰砂（一分，另研）　連珠甘遂（二分，為末，一本用此味）　安息香（三分，銅刀子切入缽內，研，同諸藥拌和勻）</p>
<p>上六味，研細末，和令勻。每服三大銅錢，同後湯使下。</p>
<p>薤白（三七莖）　青蒿（二握）　甘草（二莖五寸許）　蔥白（二七莖）　桃枝（以下並用白，東南嫩者）　柳枝桑白（一云桑枝）　酸石榴根（一云枝，各二握七寸許）</p>
<p>上八味，須選潔淨處，採用童子小便四升，於銀石器內，文武火煎至一升，濾去渣，分作三盞，將煎藥末調下。五更初服。男患女煎，女患男煎。服後，如覺欲吐，即用白梅肉止之。五更盡，覺臟腑鳴，須轉下蟲及惡物、黃水、異糞、異物。若一服未下，如人行五六里，又進一服。至天明時，更進一服。並溫服。如瀉不止，用龍骨、黃連等分為末，熟水調下五錢。次吃白梅粥補之。取下惡物並蟲，以盆盛之，其蟲或似蜣螂蛇虺，或如蜈蚣、蜘蛛、蚯蚓之狀，急如油火，並穢物並燒殺之。其身所著衣服薦褥，盡易燒之。食蔥粥，將近住服後，主療數日後夜，夢人哭泣相別，是其驗也。</p>
<p>如取下得蟲，看其口或青赤黃色，可治；如黑、白色，乃食人精髓，不可療也。雖不可療，亦絕後患。</p>
<p>又合此藥時，卻不得令病人聞其氣息，恐蟲聞氣。雖取下並煎時，亦不得令聞知。合藥亦不得在病家。</p>

<h2>修合藥法</h2>
<p>凡修合藥時，先須齋戒，心志焚香，淨掃一室，不得令雞、犬、貓、孝子、婦人、一切穢濁之物來見，然後驗。</p>

<h2>補肝臟勞金明散</h2>
<p>人參　知母　茯苓　秦艽　丁香　甘草（炙）　石膏（煅）各等分</p>
<p>上件為末。每服二錢，用水一盞，蔥白三寸，同煎至八分。通口服。</p>

<h2>補心臟勞極守靈散</h2>
<p>白茯苓　丁香　訶子（各一兩）　桔梗　芍藥　羌活　甘草（炙，各一分）</p>
<p>上件為細末。每服二錢，用水一盞，入耳環一雙，蔥白三寸，同煎至八分。通口服。</p>

<h2>補脾臟勞極魂停散</h2>
<p>白藥子　桔梗　人參　訶子皮　茯苓　甘草（炙）　丁香（各一錢）</p>
<p>上件為細末。每服二錢，用水盞，入蜜一匙，同煎至八分。通口服。</p>

<h2>補肺臟勞極虛成散</h2>
<p>枳實（去穰，麩炒）　秦艽（去蘆）　白茯苓　芍藥　麻黃（去節）　元明粉　當歸（洗淨）　茴香（炒）各半兩　甘草（灸）一錢</p>
<p>上件為細末。每服二錢，用水一盞，姜七片、蔥白，同煎至七分。空心服。</p>

<h2>一捻金·九宮尻神</h2>
<p>坤一歲　震二　巽三　申四　乾五</p>
<p>兌六　艮七　離八　坎九　零九不用</p>
<p>五乾宮背面耳須知，九坎腳尻踝肘肚皮，七艮項腰問忌針刺，二震居牙腨不須疑，三巽頭耳乳並鼻口，八膝脅離宮皆要知，一坤胯不疑體見穴，六兌還膊手轉難醫，四中宮勞骨與肩尾，此是尻神決定知。</p>

<h2>三十日人神截法</h2>
<p>一、足大指、鼻柱、手小指。</p>
<p>二、外踝、髮際與初同。</p>
<p>三、股內、牙齒、右及足。</p>
<p>四、腰、胃脘、手陽明。</p>
<p>五、口、陽明、足遍身。</p>
<p>六、手、腦中，又在胸。</p>
<p>七、踝、氣衝，流在膝。</p>
<p>八、腕、股內，及陰經。</p>
<p>九、尻，在足膝脛取。</p>
<p>十、腰、內踝，足趺中。</p>

<h2>九部人神不宜針灸</h2>
<p>一歲臍心肘，輪流到咽口，頭脊次第輪，膝足轃成九。</p>

<h2>十二部人神不宜針灸</h2>
<p>心喉頭肩背，腰腹項足膝，陰股次第排，輪迴十二周。</p>

<h1>卷四·附方穴圖</h1>

<h2>十四經穴歌一</h2>

<h3>手太陰肺經</h3>
<p>中府雲門天府列，俠白孔最尺澤穴，列缺經渠太淵好，魚際少商如韭葉。</p>

<h3>手陽明大腸經</h3>
<p>手於陽明起商陽，二間三間合谷藏，陽谿偏歷連溫溜，下廉上廉三里長，曲池肘髎隨五里，臂臑肩髃巨谷常，天鼎扶突禾髎接，終於迎香二十行。</p>

<h3>手太陽小腸經</h3>
<p>肩俞天宗及秉風，曲垣肩外復肩中，天窗天容上顴髎，卻入耳邊尋聽宮，支正少海肩貞走，腕骨陽谷可養老，少澤前谷後谿隅，太陽穴一十九。</p>

<h3>手少陰心經</h3>
<p>九穴極泉及少衝，青靈少海少府尋，通里陰郄卻靈道，心經穴法在神門。</p>

<h3>足厥陰肝經</h3>
<p>足厥大敦行間穴，太衝中封蠡溝列，中都膝關至曲泉，陰包五里陰廉切，羊午章門近期門，復始太陰雲門接，老師便使神針法，病人良心久中悅。</p>

<h3>足少陽膽經</h3>
<p>少陽足重瞳子髎，四十三穴行迢迢，聽會客主頷厭集，懸顱懸釐曲鬢翹，率谷天衝浮白次，竅陰完骨本神僚，陽白臨泣開目窗，正營承靈及腦條，風池肩井淵液液，輒筋日月京門好，帶脈五樞維道續，居髎環跳下中瀆，陽關陽陵復陽交，外丘光明陽輔高，膽經血穴通如此。</p>

<h3>足太陰脾經</h3>
<p>隱白大指端內側，爪角宛宛如韭葉，本節後陷為大都，核骨下中尋太白，公孫節後一寸關，商丘踝下微前安，三陰交上踝三寸，骨外陷中仔細看，更上三寸太陰絡，一名陷骨須審約，膝下五寸尋地機，陰陵泉穴宜斟酌，血海三寸上膝髕，內廉之際白肉分，魚腹上越起觔處，腹內動脈為箕門。</p>

<h3>足少陰腎經</h3>
<p>湧泉起足少陰腎，屈足卷指中心定，然谷針上內踝前，大骨陷中宜陽立，太谿踝旁跟有脈，大鐘跟後曲中拘，水泉溪踝下一寸，踝下即是照海穴，復溜二寸踝上參，交信後廉以筋骨，腨分六寸尋築賓，陰足脈內取來難，輔骨之下大筋下，小觔之上屈脈安。</p>

<h3>足陽明胃經</h3>
<p>罕有五穴足陽明，承泣四白巨髎經，地倉大迎頰車峙，下關頭維人迎對，水突氣舍連缺盆，氣戶庫房屋翳迎，膺窗乳中延乳根，不容承滿梁門分，關門太乙滑肉門，天樞外陵大巨存，水道歸來沖次髀，伏兔陰市走梁丘，犢鼻足下三里上，上廉條口下廉逢，豐隆解谿衝陽足，陷谷終從厲內庭。</p>

<h3>足太陽膀胱經</h3>
<p>足穴太陽六十二，睛明攢竹參差參，五處承光上通天，絡卻玉枕天柱畢，大杼風門引肺俞，厥俞心俞膈俞住，膽俞肝俞脾俞通，胃俞三焦腎俞中，大腸小腸膀胱俞，中膂白環兩俞輸，自從大杼白環去，脊中三尺肩上髎，次髎中復下會陽，承扶殷門至浮郄，委陽委中罅膊內，挾脊附分當太陽，行皆第二行魄戶，膏兮神堂譩譆路，膈關魂門旁陽綱，胃倉肓門意舍至，胞肓並行下秩邊，藏舍周已合陽昱，承筋承山居其次，飛陽跗陽至崑崙，僕參申脈連金門，京骨束骨入通谷，小指外側至陰會。</p>

<h3>手厥陰心包經</h3>
<p>九穴厥陰天池會，天泉曲澤都無異，郄門間使內關停，大陵勞宮中衝備。</p>

<h3>手少陽三焦經</h3>
<p>二十三穴手少陽，關衝液門中渚旁，陽池外關支溝會，會宗三陽四瀆配，天井穴合清冷淵，消濼臑會肩髎偏，天髎天牖同翳風，瘈脈顱息角孫通，耳門禾髎絲竹空。</p>

<h3>任脈經</h3>
<p>任脈經兮三起於，陰會上曲骨中極，關元石門氣海接，陰交神闕水分立，下脘建里循中脘，上脘巨闕起鳩尾，中庭膻中帶玉堂，紫宮又行華蓋處，璇璣天突廉泉冷，上頤還以承漿起。</p>

<h3>督脈經</h3>
<p>督脈皆行二十七，穴始長強接腰俞，陽關命門當懸樞，脊中筋束行陽至，靈臺神道長身柱，陶道大椎俞啞會，風府腦戶連強間，後頂百會前頂會，上星神庭到素髎，水溝兌端齦交住。</p>

<h2>十四經穴歌二</h2>

<h3>手太陰肺經</h3>
<p>為君試舉手太陰，少商手指細端尋，魚際大指本節後，太淵出掌後中心，經渠寸口陷中是，列缺腕上半寸針，孔最腕上量七寸，尺澤肘中約文論，俠白出在天府下，去肘五寸動脈應，天府腋下凡三寸，刺衄不止功可勝。</p>

<h3>手陽明大腸經</h3>
<p>手陽明經屬大腸，食指內側名商陽，本節前有二間穴，本節後有三間當，歧骨陷中尋合谷，陽谿腕中上側詳，腕後三寸是偏歷，五六寸間側溫溜，曲肘曲中求曲池，池上三寸三里有，上廉里下側一寸，廉此下一寸灸肘，肘髎大骨外廉上，五里肘下三寸取，臂臑肘上一寸量，肩髎之下穴當別。</p>

<h3>手少陰心經</h3>
<p>小指內廉名中衝，少府節後直營宮，腕後一寸名通里，陰郄掌後為液中，神門掌後銳骨端，掌後半寸靈道通，少海肘內節後是，青靈肘上三寸容，更有極泉凡二穴，腋下筋脈貫入胸。</p>

<h3>手太陽小腸經</h3>
<p>小指為端手少澤，前谷外側節前穴，節後陷中為後谿，腕骨陷中尋外側，銳骨之間陽谷討，踝骨去陷為養老，支正腕後量五寸，少海肘端五分巧。</p>

<h3>足厥陰肝經</h3>
<p>大敦拇指看毛聚，行間指間動脈處，節後寸半或二寸，太衝有脈誠堪據，中封一寸內踝前，蠡溝踝上五寸專，踝上七寸名中都，膝關鼻下二寸余，曲泉膝內輔骨下，大筋上下索筋罅，陰包四寸膝以上，內廉筋間索其當，五里三寸氣下衝，有脈有動陰股中，羊失之下曰陰廉，氣衝相去二寸通。</p>

<h3>足少陽膽經</h3>
<p>小指次指膽所起，竅陰去爪韭菜是，歧骨節前名俠谿，地五會兮一寸是，俠谿寸半至臨泣，丘墟踝下如前此，懸鐘踝上三寸收，陽輔四寸踝上頭，五寸光明穴更有，七寸名外丘陽交，針取對一寸膝外，二寸陽陵又陽關，腋上三寸是中瀆，外膝五寸翳風中，垂手點到指盡處，環跳側取細參是。</p>

<h3>足太陰脾經</h3>
<p>二十一穴太陰脾，隱白大都太白隨，公孫商丘三陰交，漏谷地機陰陵拗，血海箕門爵門衝開，府舍腹結大橫排，胸鄉周榮大包隨。</p>

<h3>足少陰腎經</h3>
<p>足穴少陰二十七，湧泉然骨太谿益，大鐘照海通水泉，復溜交信築賓連，陰谷橫骨大赫亦，氣穴四滿中注立，肓俞商曲石關蹲，陰都通谷幽門僻，步廊神封接靈墟，神藏彧中俞府推。</p>

<h3>足陽明胃經</h3>
<p>陽明並穴起厲兌，大次指端應屬胃，上指外間是內庭，節後三寸陷谷位，此是三寸或二寸，衝陽動脈還相應，解谿更後寸半中，踝上八寸豐隆正，三里膝下三寸強，上巨虛下三寸量，下巨虛兮三分取，中折寸半條口當，膝臏之下有犢鼻，膝上二寸梁丘的，陰市三伏伏兔穴，髀關兔後思分中，膝眼四穴又不同，膝頭骨下兩旁取，陷中仔細尋其宗。</p>

<h3>足太陽膀胱經</h3>
<p>至陰為足膀胱井，小指外側韭葉定，通谷節前束骨後，大骨之下京骨應，申脈踝下客爪甲，金門踝下毋相雜，僕參跟骨之下尋，踝後經上外崑崙，跗陽踝下三寸正，飛陽九寸或七寸，承山腨腸分兩道，承筋腨中針切禁，約文之下尋合陽，二寸上按委中當，郄有承扶二穴遠，虎臂下股橫紋決，更有五寸浮郄接，二寸都是殷門穴，更有二穴近委陽，三焦下甫均須別。</p>

<h3>手厥陰心包絡經</h3>
<p>中衝穴出中指端，屈指勞宮取掌間，大陵掌後筋間使，去腕二寸尋內關，郄門去腕上五寸，間使二寸兩筋間，內廉陷中看曲澤，天泉腋下二寸間。</p>

<h3>手少陽三焦經</h3>
<p>關衝名指外端論，小次指間名液門，中渚次指中節後，陽池表腕有穴寸，腕後二寸外關絡，支溝腕上三寸約，會宗三寸空中求，消息一寸毋會錯，支溝上寸背大脈，此是三陽絡斷穴，四瀆肘前大骨外，天井曲肘後尋側，清冷淵肘上三寸，消濼肩下臂外索。</p>

<h3>不傳異穴</h3>
<p>後谿小指小腸經，內關田裡厥陰心，列缺肺經天澤下，三焦穴道外關家。</p>

<h3>不傳異穴</h3>
<p>公孫一穴大指後，腎經穴道照海就，獨有臨泣屬膽經，申脈膀胱腳下透。</p>

<h3>不傳督脈</h3>
<p>八穴自從督脈取，陶道微穴由頂始，三節身柱神道上，命門陽關腰眼裡，惟有腰俞上陽關，長強俞下急急取。</p>

<h2>穴道分寸歌括</h2>
<p>嘗聞穴道在乎分寸之間，取法周身之法，編成歌括，心玩意會。</p>

<h2>八法穴道</h2>
<p>內關掌後取，二寸兩筋底，取穴陷中央，直透外關使。</p>
<p>公孫足大指，內側節後取，一寸陷之中，坐蜷兩足底。</p>
<p>外關手腕中，骨後二寸處，針透內關前，兩取施妙濟。</p>
<p>臨泣足小指，次指在其旁，本節後俠谿，寸半穴中藏。</p>
<p>列缺腕骨側，兩手兩交叉，中指頭盡處，沒皮半寸加。</p>
<p>照海在內踝，二寸下肉間，橫針寸五分，補瀉有後先。</p>
<p>申脈外踝下，陷中內際邊，五分針取用，直刺照心間。</p>
<p>後谿手小指，外側節五分，捻拳紋尖上，一寸透掌心。</p>

<h2>天星十一穴</h2>
<p>三里在膝下，三寸外廉間，舉足兩筋取，針行寸半安。</p>
<p>內庭足二指，陷中刺三分，腹痛單用瀉，虛冷補相當。</p>
<p>曲池肘骨中，屈肘縫尖是，手拱向胸前，使針二寸住。</p>
<p>合谷手大指，次指歧骨間，虎口內一寸，刺入一寸看。</p>
<p>委中足後腕，脈應在紋中，取穴要端詳，二寸半處明。</p>
<p>承山足後踝，上去八寸分，足腨腸下穴，二寸五分中。</p>
<p>崑崙足外踝，後跟陷中針，直流呂細穴，方可一寸深。</p>
<p>環跳在髀樞，側取下足舒，屈起上邊足，深淺一寸醫。</p>
<p>陽陵膝下點，一寸外廉旁，偏身風不隨，三分刺可詳。</p>
<p>通里兩手間，起骨後一寸，直使一寸深，效治四肢病。</p>

<h2>流注六十穴道</h2>
<p>少商大指端，爪甲韭葉看，沿皮向外取，三分針自安。</p>
<p>魚際手大指，節後散脈中，一分以沿皮，向後太淵通。</p>
<p>太淵掌後穴，陷中取動脈，刺入三分深，專治氣將絕。</p>
<p>經渠寸口中，二寸中相因，針治諸走氣，一寸刺除根。</p>
<p>尺澤肘中紋，動脈手拿尋，刺入一寸半，醫瘳腰脅疼。</p>
<p>商陽次指側，爪甲一分穴，沿皮向後取，三分針奇特。</p>
<p>二間手大指，次指本節前，內側陷中陽，針刺效先賢。</p>
<p>三間手大指，次指節後取，第三陷中平，三分真有理。</p>
<p>陽谿手腕骨，上側兩筋仿，五分針到穴，虛溺如反掌。</p>
<p>少衝手小指，內廉爪甲起，角邊如韭葉，三分針可矣。</p>
<p>少府手小指，本節後陷中，掌中煩熱症，針刺取五分。</p>
<p>神門在掌後，骨端針五分，沿皮向前取，直透腕骨中。</p>
<p>靈道手腕骨，後寸五分內，沿皮向前取，寸半針效速。</p>
<p>少海取穴手叉腰，肘骨內廉天井交，旁開五分在少海，右邊小海寸針高。</p>
<p>少澤小指端，外側爪甲處，沿皮向後取，三分針內刺。</p>
<p>前谷手小指，外側本節取，穴在陷中間，二分針中使。</p>
<p>陽谷手外側，腕骨大筋間，筋骨分中取，針透腕骨邊。</p>
<p>中衝中指端，甲爪韭葉間，沿皮向後取，針透魚腹間。</p>
<p>勞宮手在掌，動脈是中央，屈放無名指，點穴正相當。</p>
<p>大陵掌後取，兩筋陷中使，橫紋定其穴，寸半針入里。</p>
<p>間使手掌後，三寸兩筋間，針透支溝穴，瘧疾得痊安。</p>
<p>曲澤在肘內，橫紋穴上針，一寸指下的，禁灸免勞心。</p>
<p>關衝無名指，爪甲後三分，斜針取巧用，補瀉在功能。</p>
<p>液門手次指，捻拳按桌子，沿皮外一寸，針透陽池使。</p>
<p>中渚手次指，本節後液門，五分沿皮去，二寸向後行、</p>
<p>陽池手上腕，大骨節兩間，針入五分灸，效取十全功。</p>
<p>支溝手腕後，三寸兩骨間，針透間使穴，脈道氣交泰。</p>
<p>天井肘間外，骨後一寸在，兩筋針一分，瘰癧灸無賽。</p>
<p>大敦足大指，爪甲一分取，沿皮向後針，三分刺依理。</p>
<p>行間足大指，次指歧縫間，動脈應其穴，一寸刺相當。</p>
<p>太衝在足背，折取行間對，上量二寸中，五分針入內。</p>
<p>中封內踝前，仰足一寸邊，骨尖平過昱，半寸刺無偏。</p>
<p>曲泉膝內看，輔骨大筋半，陷脈屈中取，寸半針功按。</p>
<p>竅陰足小指，次指爪甲端，韭葉二分刺，艾火又加添。</p>
<p>俠谿足小指，次指歧縫間，直針取七分，脹滿即時寬。</p>
<p>丘墟足外踝，臨泣穴相逢，二寸量到處，寸半刺其功。</p>
<p>陽輔外踝上，四寸輔骨半，橫刺三寸深，左癱右邊瘓。</p>
<p>隱白足皮經，大指端中尋，韭菜沿皮後，針灸至三分。</p>
<p>大都足大指，本節後陷中，五分針可用，艾灸兩相攻。</p>
<p>太白足內側，骨下陷中求，穴入五分針，加艾氣周流。</p>
<p>商丘內踝下，陷中一寸通，可灸五七壯，寒濕側腳風。</p>
<p>陰陵泉在膝，內側轉骨前，伸足取橫針，透至陽陵泉。</p>
<p>厲兌大指足，次指爪甲內，韭葉入五分，針灸方效速。</p>
<p>陷谷足大指，次指之外間，內庭上二寸，針入一寸安。</p>
<p>衝陽在足跗，上約三寸骨，動脈谷陷前，三寸量交足。</p>
<p>湧泉腳板心，屈足宛中尋，大小便閉結，速取五分針。</p>
<p>然谷內踝前，大骨陷中邊，橫針一寸處，足腫並喉咽。</p>
<p>太谿在內踝，後跟骨上尋，動脈陷中灸，一寸透崑崙。</p>
<p>復溜內踝上，二寸陷中平，沿皮順骨下，一寸兩相停。</p>
<p>陰谷在膝內，轉骨彎大筋，上面小筋取，一寸要針行。</p>
<p>至陰足小指，外側爪甲角，沿皮後二分，眼痛甚服藥。</p>
<p>通谷足小指，外側前陷里，橫針去三分，腫痛腳氣愈。</p>
<p>束骨足小指，外側本節連，後至陷中點，沿皮一寸前。</p>
<p>京骨足外側，大骨下赤白，肉際陷中看，橫針五分得。</p>
<p>手三里在手。曲池二寸有，穴取二寸針，七壯加艾灸。</p>
<p>膝關在犢鼻，骨上取旁開，五分處點穴，橫透膝眼來。</p>
<p>懸鐘外踝骨，用指按骨間，四指橫按盡，針透陰交邊。</p>
<p>三陰交內踝，上取三寸端，橫針透絕骨，點穴休要偏。</p>
<p>陰市膝上面，五寸垂手放，中指點到穴，三分灸七壯。</p>
<p>豐隆外踝上，八寸下廉外，五分針取用，七壯灸安然。</p>
<p>腕骨手外側，腕前取骨下，穴取陷中平，五分針無價。</p>

<h2>雜病穴道</h2>
<p>百會在頂中，兩耳尖端上，頂心是正穴，二分沿皮向。</p>
<p>風池在耳後，髮際陷中透，橫針右邊左，側刺左透右。</p>
<p>地倉口角旁，針縫穴道處，針入二分可，灸之加艾炷。</p>
<p>人中生鼻下，穴取五分平，噙水亞珠現，五分穴內明。</p>
<p>睛明目內眥，折分才半是，雀目冷淚流。停針行妙計。</p>
<p>承漿在下唇，點穴要分明，宛中針半寸，手法一般同。</p>
<p>頰車面推下，頰骨陷中遷，沿皮向下取，直透地倉邊。</p>
<p>風府在頂後，髮際一寸邊，淺刺一分可，深刺禁相妨。</p>
<p>迎香鼻上旁，嫩骨五分藏，平針一分可，禁灸在其方。</p>
<p>翳風在耳後，開口得其穴，虛實行補瀉，寸半忖量折。</p>
<p>神庭在頭額，髮際五分得，折取要分明，五分針得穴。</p>
<p>太陽在眉後，穴道紫筋邊，稜邊刺出血，目痛即時痊。</p>
<p>聽會耳珠前，陷中關下邊，動脈宛內取，七分刺無偏。</p>
<p>膻中兩乳間，仰臥在中央，穴上只宜灸，禁針要度量。</p>
<p>攢竹眉兩間，沿皮向外邊，寸半透魚腰，眼腫即時痊。</p>
<p>絕骨外踝上，端取三寸放，橫針寸五分，直透陰交上。</p>
<p>曲骨橫骨上，穴道毛際中，寸半施針灸，手法內相攻。</p>
<p>呂細足內踝，骨上動脈尋，一寸量取入，橫針透崑崙。</p>
<p>風市膝外筋，垂手順腿指，指盡點其穴，一寸針方許。</p>
<p>血海足膝臏，內廉肉際分，垂手中指前，橫針三寸應。</p>
<p>膏肓在四椎，微下兩旁邊，各開三寸點，多灸禁針砭。</p>
<p>百勞大椎骨，尖上刺三分，五勞七傷病，艾灸又加焚。</p>
<p>至陽取七椎，骨尖上面持，三分針入穴，灸火助相陪。</p>
<p>肺俞三椎盡，旁開半寸應，一分以沿皮，針去半寸用。</p>
<p>脾俞十一椎，兩旁半寸開，沿皮向外針，一寸五分段。</p>
<p>白環廿一椎，各開半寸為，針加寸半使，艾火正相宜。</p>
<p>腎俞十四椎，寸半各開除，沿皮向外針，寸半要依隨。</p>
<p>命門十四椎，節下齊相對，伏臥是精宮，三分針要會。</p>
<p>心俞第五椎，節下兩旁移，各開寸五分，沿皮寸半齊。</p>
<p>脾俞十一椎，骨下兩旁陪，各開寸五分，向外寸半回。</p>
<p>中脘臍上取，四寸點穴針，加艾五七壯，寸半次相回。</p>
<p>乳根兩乳上，一寸六分中，沿皮向後取，寸半手法通。</p>
<p>氣海臍下是，寸半點穴真，二寸半深取，後灸要先針。</p>
<p>中極臍四寸，針入寸五分，艾加五七炷，治證有神力。</p>
<p>丹田在於臍，下取三寸宜，直透二寸半，艾灸效痊除。</p>
<p>上脘臍上取，五寸上面存，針行至一寸，手法效前人。</p>
<p>關元臍下點，三寸是根源，三寸深針可，艾火燒自然。</p>
<p>肝俞第九椎，各開寸五分，沿皮向外取，又取寸半針。</p>
<p>肩井在肩端，按肩三指端，直針二寸半，燒灸得安然。</p>
<p>璇璣天突下，一寸要分明，仰頭足之的，針取五分乎。</p>
<p>期門在魚腹，上越筋開屬，股內脈應手，禁針灸效速。</p>
<p>歸來臍三寸，旁開三寸分，下取二寸是，針入半寸中。</p>
<p>膝關犢鼻下，二寸陷中針，可灸五七壯，折取一寸深。</p>

<h2>治多年醫不可痔瘡灸法</h2>
<p>用草一根，男左女右腳，從腳根量至腳尖周遭。又用雙摺草，從尾尖骨至腰中心，灸七壯。又用草一根，從口兩角至耳根厚雙此至周圍一匝。又從鼻尖雙此至頂心，灸七壯，立效。</p>
