<header data-type="book">
<h1>腳氣鉤要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>今邨亮</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>腳氣晉宋以前。名為緩風。晉宋呼為腳中。見王羲之及羊欣書。至腳氣之稱。蓋始見梁武帝書曰。數朝腳氣。轉動不得是也。唐人或謂之軟腳病。論其病因。孫王二家之言為至備。而其最古而盡者。唯左氏為然。曰沃饒而近鹽。土鹽水淺。於是乎有現溺重腿之疾。蓋此疾不于山岡起伏。水泉湍急之境。而必於濱海衍沃水泉重濁之際。不於攻苦食淡之徒。而必於安坐玉食之人。唐人稱為江南之疾。韓昌黎曰。是疾也。江南之人。常常有之。柳子厚之貶永州也。亦曰昏眊重腿。意以為常。孫氏論腳氣曰。魏周之代無此疾。魏周皆在江北故也。太史公稱楚越之地。烹海為鹽飰稻羹魚地勢饒食不待賈而足以故呰窳說者曰。呰弱也。窳病也。羸弱而足病也。則江南之多腳氣。秦漢既然。而左氏之言。於是乎益驗矣。其在我也。唯江戶稱最多此疾。而京攝次之。意者江戶地勢。大較與江南相類。而士民之眾。魚鹽之饒。百貨之富。蓋有過無不及也。此則地勢之偶相類。乃患狀之所以相同也歟。夫江戶既稱腳氣最多。則我輩為人之司命者。不宜不講明之於平日也。是今村祇卿之所以有鉤要之選也耶。至如其論藥性方意。頗有與吾所見不能相一者。蓋人心如面。各行其所得。誰謂不可乎。姑書其嘗所考證辨之簡端云。</p>
<p><u>文久紀元龍集重光作平夏五月朔江戶侍醫法眼棠邊丹波元佶撰</u></p>

<h1>凡例</h1>
<p>一余初療腳氣。未曾得其要領。然病家或謬謂。有所得。乞治者殊多矣。以故每遇危篤之症。刓精窮慮。沉思涵泳。詳其狀。察其證。咀嚼唐宋方法。作方投之。有年於茲。嘗疑古之腳氣。與今之腳氣。迥然不同。乃欲據孫王之成法籠罩之。則方枘圓鑿。不相符者有焉。思時變之所然耶。殊域之所然耶。抑病異其因耶。一日恍然悟之。專遵治水毒之法。處方試用。往往似奏奇勳。因不自揣。就長沙方中。及唐宋諸家。擇其精妙者。照症授之。確然效功者。三十餘方。自謂不無小補於腳氣。遂揭之於茲。使子侄取准云。</p>
<p>一余家治腳氣之方。不過三十。蓋方不簡則不精。不精則不驗。藥品亦然。不過數種。取敏捷也。此病猛厲非纏漫彌日者。須單刀直入斃元帥。可疏則疏之。可鎮則鎮之。務拔毒為主。旁症細故。不暇顧也。</p>
<p>一欲治病者。須先原其所由。既知所由。須審求其治法或同狀異因。或同因異狀。一症必有主方。一方必有主藥。一藥必有主能。雖病千變萬化。法有一定之矩。井然不亂。如長沙之方是也。局方以降。家立方。戶異說。一一難論及。撮取其主治而已。如出入加減。錄之原方之後。並附鄙見於其下。</p>
<p>一凡事有古未明。而後人發之者。如日食有定數。秦漢以前。不能詳之。及至後世。推步精詣。上下數千年。可坐致焉。腳氣痘瘡黴毒。古昔未明。而後世孫王之於腳氣。聶魏之於痘。陳實功之於黴毒。皆能闡發秘蘊。濟世不少。豈得非病隨世有變化乎。然而今之時師。墨守成法。不通機變。束手無策。縱其猖獗。仁術安在。豈不恥古人哉。是茲書所由作也。</p>
<p>一此病盛行於隋唐之世。以是支法存仰道人深師胡治蘇恭之徒。創其論治。孫王二子。最極精密。趙宋之間。聖專聖濟。並有方論。嚴用和陳無擇張從政樓全善王肯堂。亦各有說。但功過相半。劉李朱張。為末疾略之。余乃以古方為準則。旁採摭諸家。以備參校。今舉所起之因。與所病之機。以內外並括之。因從外來者屬外。因從內生者屬內。因與諸病合者。屬並病。猶魏直痘書。立順逆險之三症。而便於診候。</p>
<p>一此篇所舉。藥量水率。以適宜為度。大較周漢一升。當今一合有奇。魏晉以降。每代漸變。至明與古迥異焉。千載之遠。數代之變。雖索徵乎遺編。取准乎古器。不過見大概。安果得其詳密。故至分兩之重輕。則在視人之強弱。從病之劇易。臨時斟酌用之。是所以不載劑量也。</p>
<p>一方今罹此病者。比比繼踵。鄙意急於濟救。因集錄之。藏諸家。比青氈。淺學孤陋。文義不通者。固有。而考據不至者。亦不無焉。大方君子。孰不同濟生之志。蒭蕘之言。萬有取則幸甚。</p>
<p><u>文久元年辛酉暮春　今邨亮志</u></p>

<h1>卷上</h1>

<h2>總論</h2>
<p>腳氣之病。創見於宋齊梁隋之世。而諸家所論。或為風毒。或為濕痹。或緩風。或腳氣。或厥。或瘟。詳其治法者。雖莫孫王二氏如焉。猶無有定論矣。所謂千方易得。一效難求。得其要。則一方可治百病。不得其要。則百方不可治一病。雖多亦何益。蓋此病者。一種之水毒。地氣所生。而非風寒暑濕所幹涉。其發必始於夏。終於秋。希有涉冬矣。予嘗謂。暑月陽氣泄外。伏陰在內。運輸不健。水道不利之所致。而原其所由。則有從外因而來者。有從內因而致者。有與諸病併發者。驗之於患者。大抵由內因者。十之八九。由外因者。十之二三。與諸病併發者。十之五六。夫王侯貴官。出則肥馬華轎。入則高堂大廈。未嘗履地。其多患此病者。無他。膏腴過分。酒食越度。因以致之。是生於內因者也。田夫奴隸。負重涉遠。冒雨蹈淖。坐臥濕地而得之。是發於外因者也。傷寒中風。鼓脹瘧痢。寒疝黴毒。娩產之後。皆嬰此患。是與諸病併發者也。然而症有緩急。質有堅脆。不可執一而論焉。浮腫見於外者。比之於不見者。其毒較輕。千金方曰。腳不得一向以腫為候。亦有腫者。有不腫者。其小腹頑痹不仁者。腳多不腫。三五日令人嘔吐者。名腳氣入心。死在旦夕。水毒發於外者。尚延日。然至衝心則無異矣。又曰。食飲嬉戲。氣力如故。唯卒起腳。屈弱不能動。又曰。腳氣未覺異。而頭項臂膊。已有所苦。有諸處皆悉未知。而心腹五內已有所困。風毒之中人也。或見食嘔吐。憎聞食臭。或有腹痛下利。或大小便秘澀不通。或胸中衝悸。不欲見光明。或身體冷。疼煩發班蚊跡。以此相貌。須認陰陽經來路。又曰精神昏憒。或喜迷妄。語言錯亂。或壯熱頭痛。或身體酷冷疼煩。或覺轉筋。或腳脛腫。或不腫。或䏶腿頑痹。或緩縱不隨。或百節攣急。或小腹不仁。此皆腳氣狀貌也。又曰。風毒腳氣之候也。其候難知。當須細意察之。不爾必失其機要。一朝病成。難可以理。以予視之。是徒論派症。而似遺源本。雖症有數候。其要在於呼吸小便之何如耳。呼吸促迫。則毒侵心之兆。小便赤澀。則毒蓄之內。而漸加之。自汗嘔吐。肩息氣逆。其死不旋踵矣。內經曰。治病求於本。又曰。治之極於一。余家治之。以利水為急。夫人之水氣滲出腸胃。留瀦膀胱。下出為溺。此其常也。今患者失常。欲利所畜之水氣。自非嚴禁鹽味。猛制膏粱。服藥無效矣。腸胃分泌水穀。譬如漉濁水。桶底穿穴。從宜納砂乎其中。則水瀝瀝而出。若使砂盛滿。則水道壅塞而不出。是同一理。不禁鹽膏。則猶納砂盛滿矣。乃治此病。初不問其由。嚴禁滋味鹽氣。使之啖紅豆碎麥。乃淡薄之品。而後對症施治。取效極易。是舍其見症。而極於一。求於本之典訓也。症重者。固勿論。雖輕者。菲飲食。戒帷房。節行步。慎喜怒。而灸腰腳。是其大較也。楊大受曰。腳氣壅疾也。用宣通之劑。王德膚曰。無補法。有利性。勿漫用補藥。是醫之大禁。二子者。可謂有所見。然猶未為得深詣。凡用峻藥行瀉下。病勢雖摧。元氣從損。元氣從損。則雖病不增進。而溘然遂至死者。比比有焉。此皆駛藥攻伐所使然也。許仁則論乾溼。蘇長史五種。王宇泰屬肺。張戴人吐法。羅天益地勢。張景岳內外因之說。各不無自出機杼發揮妙理者。然長短得失互有之。要不過於欲炫己說誇張偏見耳。聖惠聖濟。頗勝於諸子。而亦拘泥繁瑣。後世醫人。眩惑名義。而不尋討本源。徒因襲踐跡。不通活法。抑可嘆矣。</p>

<h2>原因</h2>
<p>腳氣之為恙。系水毒之所為。其毒剽悍猛烈。外之則𤸷痹不仁。內之則嘔吐衝心。侵入血隧。壅塞水道。斃人於數日之間。其猛可畏矣。蓋水性潤下。濕就於卑。自然之理也。故支法存仰道人輩。見其自下起。而上衝心胸。遂下腳氣之名焉。蓋永嘉喪亂。公卿徒跣跋涉。侵江南之蒸氣。不習水土。飲食亦異。脆弱之質。為腳弱為腫滿。比比相斃。支仰之徒。留心經方。偏善治術。晉室仕望。多獲全濟。不唯功於當時。令後人倚賴。孫氏亦有瘴毒之說。蓋嶺南瘴煙卑濕之地。炎蒸毒霧不可行。感之則病。此不過表其所起之地。今不限南北。不分都鄙。所在皆行。則不止地氣卑濕。瘴炎毒霧所致。而人身所自招可知矣。余漫遊諸州。熟視此病。江戶最多。京師浪華次之。僻陬地方希見。是似病從都鄙為之差。而其實則出於都人飽昇平之澤。而遊惰縱欲焉。貴人固也。下至賈豎。輕暖薰身。雉膏染唇。倦於淫樂。困乎過飲。精神為之虛。形體為之萎。釀一種之水毒於陽氣外泄之間。此其本源也。故嘔吐腫滿衝心氣逆。其候可以推其毒矣。乃觀其斃者。非死於腳氣。而死於水毒。瘳亦非腳氣之愈。而生於水毒之除。使毒遏住於腳部。而不奔騰於心胸。則豈見暴死之患哉。蓋水毒者本。而腳氣者標也。為醫者。通此理而救之。則守禦馳驅之策。可運諸掌上矣。</p>

<h2>腫滿</h2>
<p>毒見於外者。其病屬輕。然水氣充於內。而溢於外。則亦有暴速之變。所謂濕腳氣是也。須預慮焉矣。其毒莫不內外貫通。表裡環會。與水腫病之引日彌月者。迥異焉。治方仿治水之例。非所及也。泛然事利水。腫雖消。毒仍滯。遂有衝突丹府之變。比比所目擊也。拘泥水腫。而不審水毒之因。何如決流。或決之。津液枯涸。不能回生也。鑑之之要。在於胸動呼吸小便。此三者須細察之。古人事於內者顧外。專於外者顧內。不辨之於始。症輕者亦難復湯。醫審此治之。如禹之行水。莫有不救者矣。</p>

<h2>麻痹</h2>
<p>水毒有壅塞表氣。使血氣不宣通者。謂之麻痹。所謂乾腳氣是也。至其甚者。搔皮膚如隔衣。謂之不仁。有機關緩縱。筋絡弛解。不能收攝者。謂之嚲曳。又血氣相搏疼痛者。屈弱不能起者。轉筋攣急者。雖證候有等。並系水毒所為。今驗之患者。腳弱而麻痹強者。多不為腫。小便不利者。雖發腫氣。無有及周身。足脛大腫者。麻痹及少腹少。麻痹強者。腫氣必少。其脈滯緩。皮膚枯瘦者。亦屬輕症。脈沉而實者。則水道閉塞。而其腫填滿一身。是其初起。辨痹與腫之大較也。又有麻痹漸逆。入少腹。過膻中迫心肺者。其脈必數急。動氣奔騰。嘔吐不止。呼吸短息。肩息煩悶。是衝心之兆。死在旦夕。不可一刻失治也。</p>

<h2>候脈</h2>
<p>脈者。醫門之法律。淺深緩急系焉。安危存亡判焉。不可不最詳也。夫血之在於心臟。出者為經。入者為絡。人身中血氣所注。經脈所輸。外則皮毛肌肉。內則藏府關節。凡腠理之所通會。猶張網羅。會合環回。上下來往。自有生之初。至衰老之終。晝夜運行。無有間斷。神氣雖睡。血氣無睡。是肺藏開闔之機所然也。乃人身有病。則經脈不順利。或沸騰。或凝泣。或緩或急。或實或虛。必徵諸脈行而知焉。古來診脈者。專於薄肉處候之。曰三部。曰扶陽。曰人迎。按方寸之地。切微末之動。而決生死者。似近誣。然古人往往百不失一。何也。人之所以生。因飲食。其要以胃氣為本也。素問云。平人之常氣。稟於胃。胃者人之常氣也。人無胃氣曰逆。逆者死。蓋脈者。血之體而氣之用也。活潑流動。得中土之精英。得者生。失者死。故氣之盛者。血行疾而脈強大。氣之衰者。血行遲而脈弱小。是故生機熄。則脈亦絕矣。是所以胃為原也。中藏經曰。腳氣之病。傳於心腎。則十死不治。入心則恍惚忘謬。嘔吐食不入。眠不安。口眼不定。左手寸脈。乍大乍小。乍有乍無者是也。入腎則腰腳俱腫。小便不通。呻吟不絕。目額皆見黑色。氣時上衝胸腹而喘。其左右尺中脈絕者是也。又千金舉三品之脈。曰病人脈浮大而緊駃。此是三品之最惡脈。或沉細而駃者。此脈正與浮大緊者。同是惡脈。浮大者。病在外。沉細者。病在內。治亦不異。當消息以意耳。外臺引蘇長史曰。腳氣脈三種。以緩脈為輕。沉緊為次。洪數者為下。自三十年。凡見得此病者數百。脈沉緊多死。洪數者並生。緩者不療自差。余亦屢驗之。腳氣不論乾溼。緩為吉。急為凶。短促為險。沉伏為死。須量人之少長肥瘠。與病之緩急劇易而救療之。至生死存亡之機。應手得心。不可筆以傳。不可言以說。存之於其人。</p>

<h2>候膻中</h2>
<p>人身中。莫不有動氣。而動氣亦察病之一端。獨於腳氣。動氣之候居重矣。夫心與肺互相應。心以出納血脈。肺以橐籥呼吸。俱系至貴之地。水毒沖之。生機即絕矣。膻中者。經血二脈之大幹。出自心藏。而達周身之本。乃候膻中者。察血之本也。診手足者。候血之標也。標本相照。源委互參。決死生判劇易。莫切於此矣。夫水毒潛匿心胸。阻閡血隧。則血往而無所還。逆行而逼心。值此之際。動跳築築然。見於膻中。譬猶奔泉之激石。洪流之觸洲。水怒浪翻。所以水之迫心胸。可徵矣。又方其初起。有忽然見跳動者。是尤急候。其禍不可測。又雖有短息嘔吐心胸煩悶等惡候悉備焉。而膻中無動者。必無衝心之虞。宜甄別之。而決死生於其初矣。</p>

<h2>診法</h2>
<p>水毒之發。衝心者為必死矣。不論腫不腫也。而衝心之驗。醫非逆察而處之。則何得救。譬陰雲密布。而雨漸來。人預知之。晴天忽變。風雨驟至。非候天氣者。不能預察之。察衝心之候。專在動氣。動氣得於手。而應於心。則死生判於一診。是我門之真訣。動築自膻中上雲門。騰驤有勢。而氣息促迫者。其死不旋踵。小便短少。煩渴滿悶者。水毒伏於丙之候。遂至衝心。心下暴悶。氣逆嘔吐不止者危候。言語聲氣不足者凶候。項頸或手足。或胸間。突然發腫氣者。可甚怖之候。腫氣不滿周身。而聚於一偏者。為水毒凝結。衝心之候。小便赤澀。大便溏泄者。屬不治。服利水劑。小便雖通。腫滿不減者。亦不治。指頭及口鼻氣冷者死候。腫氣堅者難治。軟者易治。堅者肉間之水也。軟者皮下之水也。是診法之大較。如其蘊奧。則不易縷述焉。</p>

<h2>治法</h2>
<p>病因有三道。如前所說。鬚子細尋來路。自外因者。宜發泄表氣之劑。自內因者。宜開泄壅滯之劑。與諸病併發者。宜隨證之主客。而斟酌療之。是其大概也。來路雖異。末節一歸於奔騰。小便秘澀者。胃元失權也。宜從事淡滲。下脘衰憊者。專從滋補水毒不泄。勢必衝突。宜瓜茱檳樸之類。至煩悶嘔吐上氣衝心。則非靈鐵鎮墜之方。不能奏偉勳於頃刻之間。楊大受云。腳氣之疾。自古尚疏下。為壅疾故也。然不可太過。太過則損脾胃。使運營之氣。不能上行。反下注為腳弱。又不可不及。不及則使壅氣不能消散。要之體質之強弱。病勢之劇易。水毒之寬猛。尤宜甄別而施治。不明此理而求速效。則補其所不當補。攻其所不當攻。參差錯亂。不能奏效。故雖良方。用之不中。則反致害。甄別之診。其可忽哉。古謂藥不貴執方。而貴合宜。方即兵家之法略。匠氏之規矩也。法可以授人。而不能使之必取勝。矩可以授人。而不能使之必取巧。運用之妙。存於其人矣。</p>

<h2>補瀉</h2>
<p>補瀉者。治療之大綱。死生之所繫。最不可苟且鹵莽也。蓋腳氣之為恙。系精虛邪實之症。瀉之則速死。補之則促命。二者不可行之。其故何。蓋水毒不在腸胃。在於膜外。而混淆血脈。環回百體。終上騰於心肺。其候為胸脅滿悶。下氣喘急。嘔吐中心。若誤下之。一旦雖減其勢。反激生卒然不測之變。治之。惟當以漸分泌水毒。輸之尿道。其意與水腫忌下藥正同。夫尿者。膀胱之津液。血之所化也。故尿之通塞。必徵之於氣血之流動。昧者不達此理。孟浪貪效。妄施攻擊。不止害胃氣。速其死更急。若誤補之。水毒愈郁。經脈愈閉。胸脅脹滿。心煩嘔逆。助上奔之勢。蹙命期。古人以為壅疾。雖補瀉殊途。其害性命者則同焉。難經有虛虛實實之戒。亦以此爾。故漫用補瀉。不至殺人者。雖有寡焉。千金方說補瀉甚簡。聖惠方敷演為說。頗為精確。錄備參考。曰夫腳氣病者。雖虛羸。不可多服補藥。補藥令人心腹脹氣實便死。非瀉不瘥。又不可見虛而不瀉也。見氣實而死者甚眾。十中無一人服藥致虛而殂者。縱甚羸。亦須微微通泄。亦宜時取汗也。其有太虛者。微用補藥助之。</p>

<h2>食戒</h2>
<p>人之所以生。因飲食。滋養身體。以餌為主。然此病禁粱肉滋味。不可不最嚴也。其故何也。膏粱者。其性油膩。平時多吃。猶膠滯血液。沮其宣布。況其嬰病。藥力難達。斃命必矣。病者能守禁忌。斷乎無有不效之藥。嚴斷膏滋。淡泊攝養。古來以為良策。其可吃者。不過紅豆碎麥平淡滲通之品。患者犯戒。責效於草根樹皮則非也。凡人好良膏滋。不能中土為之分布。腸胃阜敦。身體肉脹。是以豪家多病。而蓽門少患。王公貴人。身無操作之勞。體有暖飽之佚。不唯蓽屋之宴安。更擁衽席之翠珠。頤養過厚。體力軟脆。以故患腳氣水腫者。十居七八。藜藿之家。則吃蔬取勞。以堅筋骨。以運氣血。病之難犯。不外於此也。東坡蔬食三益之說有云。寬胃以養氣。病家能曉此理。省膏滋。而服藥石。何憂其不瘳。此不特療腳氣。戒之乎平生。則攝生保壽必可期矣。</p>

<h2>外因</h2>
<p>外因。得之於侵雨涉水。或坐臥濕地。或勞勩中風。或飢飽不時。若大兵之後。若凶慊之時。蓋系壅塞表氣。凝滯氣血之所致也。靈樞曰。虛邪不能獨傷人。必因身形之虛而客之。正謂之也。蓋氣血者。如車輪。邪或乘之。心者血之主。肺者氣之主。氣主噓之。血主濡之。灌溉筋脈。升降有常。自然運行。今邪犯肌肉。是以水血否澀。而鬱蓄成毒。內則浸漬藏府。外則流溢皮膚。古謂之緩風。又謂之濕痹。謂之腳氣。其狀貌有麻痹不仁者。有攣筋疼痛者。有心腹脹急者。有寒熱煩渴者。有小便短少者。有驚悸迷亂者。有足脛浮腫者。其末路。遂並歸於衝心。然較之乎由內者。其勢稍緩。治法皆取之於發泄表氣運動水血之劑。風濕血痹。雖稍異其因。至其情機。則同焉。是所以須桂麻朮附之品也。</p>
<p>史載腳腫。今拈出證由外因者。梁武帝大通三年。侯景圍建康。閉城之日。男女十餘萬。擐甲者二萬人。被圍既久。人多身腫氣急。死者什八九。隋煬帝大業元年劉方徵林邑。士卒腫足。死者什四五。後梁紀。會陰雨積旬。黃澤道險。堇泥深尺余。士卒援藤葛而進。皆腹疾足腫。死者什二三。醫宗金鑑。載青腿牙疳門。北路隨營醫官陶起麟。言其治法。內地人。初居邊外。得此症。十居八九。蓋中國人。不耐邊外嚴寒。更坐臥濕地。致腿青腫。內體頑硬。步履艱難。又緣缺少五穀。多食牛羊等肉。胃火上熏致下疳。按如此症。古所未聞。思亦後世。因地氣寒濕。發此種毒。因想。方今江戶士人。多充北營。恐亦嬰此患。庶幾令其土醫人預慮治方。</p>
<p>烏頭湯（金匱）　治腳氣疼痛。不可屈伸。</p>
<p>麻黃　甘草　川烏　黃耆　芍藥</p>
<p>右五味。內蜜煎中。更煎之。　案。此方用之於外因腳氣。閉塞表氣者。治關節疼痛。肌肉頑痹。君以麻黃通表氣。開痹著。臣以芍藥。緩和筋絡。黃耆逐水固表。助以烏頭雄烈。驅寒燥濕。且甘蜜之和潤。可濡血養液。五味相合。其勢翕翕。行於肌肉關節之間。如此而外之凝滯者行。內之冷結者去。是長沙化工之妙手。</p>
<p>麻黃加朮湯（金匱）　濕家身煩疼。發其汗為宜。</p>
<p>麻黃　杏仁　桂枝　甘草　術</p>
<p>上五味。　案。此方表氣壅滯。血凝氣陰。不快於運行。故麻桂以達表。杏術以逐水。綢繆失治。必變浮腫。至壅滯較深者。則可用麻黃杏仁薏苡甘草湯。</p>
<p>桂枝芍藥知母湯（金匱）　諸肢節疼痛。身體尫羸。腳腫如脫。頭眩短氣。溫溫欲吐。</p>
<p>桂枝　芍藥　甘草　麻黃　生薑　知母　術　防風　附子</p>
<p>右九味。　案。此方治歷節之劑。今用之腳氣。能治痛痹轉筋不仁。蓋人之氣血。得溫則流動。遇寒則凝冱。淫溢於肌肉。攔陰表氣。是以桂麻防風之辛燥。開表行氣。知芍戮力。調和血液。於其間加附子。走濕邪於經隧中。助桂麻為驅逐。術能祛表裡之水。姜以其辛溫。使諸藥宜行也。名護屋丹水曰。今腳氣痛風。及鶴膝風。舍之用獨活寄生湯。當歸拈痛湯劑。其效力甚鈍。誰知之用之耶。嗚呼。當時醫道未闢。丹水發此言。可謂卓識矣。</p>
<p>六物附子湯（三因方）　寒濕腳氣。疼痛不仁。兩尺脈來沉細者。</p>
<p>附子　桂枝　防己　術　茯苓　甘草</p>
<p>右六味。　案。此方即仲景甘草附子湯。加防己茯苓者。孫氏四物附子湯。方後云。體腫者。加防己。悸氣小便不利者。加茯苓。七味附子湯。方後云。濕痹緩風。身體疼痛。欲折肉。如錐刺。濕緩異名。其為腳氣則一也。陳氏概謂之痹症。</p>
<p>蠲痹湯（楊氏家藏方）　治風濕相搏。身體煩疼。項臂痛重。舉動艱難。及手足冷痹。腰腿沉重。筋脈無力。</p>
<p>當歸　羌活　薑黃　芍藥　黃耆　防風　甘草</p>
<p>右七味。入薑棗。　案。此方治痛痹之套法也。歸黃能入血分。和經遂。羌防耆姜。逐水氣。斂肌表。芍甘緩筋絡。利關節。眾味湊合。通暢血氣。羈持經絡。或加附子薏苡。其力更捷。</p>
<p>礬石湯（金匱）　治腳氣衝心。</p>
<p>案此方渫腳之法也。以其出金匱。姑附於斯。然非仲景原方。千金論腳氣云。魏周之代。無此疾。出後世。可以證矣。腳氣涉日者。間有效。屬衝心者。實非此方所及也。</p>

<h2>內因</h2>
<p>此病近世所行者。係一種水毒。其毒酷厲峻烈。淫血脈。則為麻痹痿弱。溢水道。則為尿少浮腫。下注則膝腳不仁。上奔則衝心悶絕。與淡飲之水。迥然不同。如淡飲。其氣滲澹。縱為腐敗。不過胸痛嘈雜噁心嘔吐心痛腹滿下利憒憒悶悶等症。至死亡者。斷無而僅有焉。水毒則甚峻。請詳論之。蓋昇平日久。人人遊惰。奉身飽暖。處形安逸。加之膏腴過分。房闈越節。自耗其元氣。元氣已耗。則脾胃不健。氣血不行。因釀一種之水毒焉。抑情欲成病居多。豈止腳氣。不可下猛戒也。男子春心未動。女子情竇未開。並不睹髮腳氣。老人還童。欲念既斷者亦復然。則可以證其由內因者。而其證屬重。亦可徵焉。蓋其水從腸胃。直趨膜外。內而臟腑。外而經絡。凡衝脈所行之地。無處不到。駸駸乎將迫心藏。心藏為之沸戾激拒。發見於胸間。謂之心跳。至其劇。毒氣貫心。悶絕即斃。謂之衝心。近日所見。愈多愈重。可知天下之病。隨時隨地。變化無窮。乃自非照氣化之厚薄。察時世之體性。而知病不必出於天。人人自招之。何以治之。墨守古人之成法。治今之腳氣。所謂膠柱刻舟。不能為用也。要之須先知古人立方之意而處變。妄自處方。亦我所不取也。</p>
<p>木防己湯（金匱）　膈間支飲。其人喘滿。心下痞堅。面色黧黑。其脈沉緊。得之數十日。醫吐下之不愈。木防己湯主之。虛者即愈。實者三日復發。復與不愈者。木防己去石膏。加茯苓芒硝湯。</p>
<p>木防己　石膏　桂枝　人參</p>
<p>右四味。　案。水毒奔騰於上。呼吸息迫。胸膈滿悶。心下石硬。煩渴喘急。動氣如瀾。是為衝心之兆。須用此急救矣。防桂並能行水散結。石膏清熱。人參滋液。其虛者。外雖痞堅。內無結聚。水去氣行而愈。其實者。復聚。仍依前方。減石膏。加芒硝之鹹寒。峻開鬱寒。以茯苓之滲利。直輸之水道。未有不愈者。籲。配合之妙。非後世所及也。</p>
<p>吳茱萸湯（傷寒論）　食谷欲嘔者。吐利手足厥冷。煩躁欲死者。嘔而胸滿者。乾嘔吐涎沫。頭痛者。</p>
<p>吳茱萸　人參　大棗　生薑</p>
<p>右四味。　按。腳氣嘔吐。率屬危險。不可輕視。其變起於不虞。檢之於古經。長沙治嘔吐之方。不過十四方。其中雖有兼寒兼熱夾食夾蛔數症。大要不出於驅逐水飲之劑。當水毒衝心之時。無有抗其勢者。獨此方直入奏功。嗚呼偉矣。然須察勢之劇易。症之慢緊。而審可為之機。且勿擬定一方。</p>
<p>十棗湯（傷寒論千金同外臺聖濟宣明論丹溪心法分量互有異同）</p>
<p>芫花　甘遂　大戟</p>
<p>右三味為散。煮大棗。去滓內藥末。服之。　案。此方利水飲之猛劑。深師所謂朱雀湯是也。腳氣上入。胸痛煩悶。喘息自汗。氣欲斷。非此方。不能抵當其勢。如逡巡失治。則禍在反掌。不可嫌其峻。坐待斃也。概施攻擊之法。無不危矣。醫者不察於此。急於獲效。病者喜利藥。求通快。不知暫時取快。真氣愈傷。去死不遠也。亦不哀哉。但其機可以言傳。非筆之所及。臨處之際。須仔細甄別尤審之。徐彬曰。甘遂性苦寒。能瀉經隧水濕。而性更迅速。大戟性苦辛寒。能瀉臟腑之水濕。而為控涎之主。芫花性苦溫。能破水飲窠囊。故曰破癖。須用芫花。合大棗者。大戟得棗。即不損脾也。</p>
<p>三花神佑丸（宜明論）　治一切水濕腫滿。</p>
<p>甘遂　大戟　蕪花（各半兩）　牽牛（二兩）　大黃（一兩）　輕粉（一錢）</p>
<p>右六味為丸。溫水下。至快利。病去為度。　按。儒門事親。載神佑丸。無輕粉。玉機微義。作宜明三花神佑丸。此方當以劉氏為祖。蓋此方及舟車丸。皆自十棗湯。而變化之者。</p>
<p>越婢加朮湯。（金匱）　里水者。一身面目黃腫。其脈沉。小便不利。里水主之。</p>
<p>麻黃　石膏　大棗　甘草　生薑　術</p>
<p>右六味　按。微寒熱。舌上有苔而渴。小便不利。腳弱腫滿。是此方之正候也。又案。金匱里水越婢湯主之。外臺引古今錄驗。作皮水。於義似穩。然如皮水。當以甘草麻黃湯為正對。蓋人身之於血氣。莫所不貫通環會。固不可論表裡內外也。蓋麻石同隊。則行水驅飲。其力稍勝。麻杏甘石湯。越婢加半夏湯。厚朴麻黃湯。小青龍湯。雖各有所主。至其逐水之功則同矣。要在臨病之際。隨其淺深。而斟酌之耳。又案。千金腳氣門所載。越婢加朮湯。加附子。外臺亦同。蓋從胡洽方也。此方加附子。其功更峻。用流走之性。逐周身之水。猶川有堤防。水由地中行矣。為醫者。玩索方意。運用得宜。亦如禹之行水。聖惠方。麻黃散。治風水遍身腫滿。骨節痠疼。惡風腳弱。皮膚不仁。即本方加甘草防己桑根。</p>
<p>小半夏湯（外臺）　文仲療腳氣入心。悶絕欲死。</p>
<p>半夏　生薑</p>
<p>上二味。　愚常用此湯。吐仍不止者。加鐵砂。屢取功。趙以德曰。半夏之味辛。其性燥。辛可散結。燥可勝濕。用生薑。以利其悍。孫真人云。生薑嘔家之聖藥。嘔為氣逆不散。故用生薑散之。</p>
<p>房侍中療苦腳氣攻心。此方甚散腫氣。極驗。（外臺）</p>
<p>大檳榔　生薑　橘皮　吳朱萸　紫蘇　木瓜</p>
<p>上六味。　案。此方為治腳氣正對之方。驅逐水毒。渙散鬱塞。檳榔能分泌水血。導之尿道。木瓜能滲入血液。收斂汗濁。茱萸溫中降氣。蘇橘芬香行氣。眾味合力為功。實為溫利水毒之良方。推其立方之意。則亦足以知腳氣所起之理。散腫氣極驗五字。方中骨子。豈可不深味乎。案此方後人增減頗多。今牽聊。錄之下方。</p>
<p>蘇恭尋常氣滿。三日兩日服一劑湯。於本方。去紫蘇木瓜。加厚朴。又蘇恭腫滿小便少者。紫蘇湯。於本方。去吳茱萸木瓜。加甘草。又許仁則曰。但覺腳腫疼悶沉重。有時緩弱。乍衝心腹滿悶。小腹下不仁。有時急痛。吳茱萸湯。於本方。去木瓜。加桂心。聖惠。治腳氣心腹脹滿。煩悶喘息。檳榔散。於本方。去吳茱。加豬苓桑根白皮。朱氏集驗。加桔梗。名雞鳴散。治腳氣第一隻藥。不問男女。皆可服。</p>
<p>文仲腳氣冷毒悶。心下堅。背膊痛。上氣欲死者。（外臺）</p>
<p>吳茱萸　檳榔　木香　犀角　半夏　生薑</p>
<p>上六味。　案。此證有瘀血。與水毒相結。聚心下。迫背膊。故方中伍犀角。</p>
<p>方下云。冷毒。方後云。破毒氣尤良。立方之意。可推知矣。</p>
<p>廣濟療腳氣急上衝。心悶欲死者方。（外臺）</p>
<p>檳榔子　生薑　童子小便</p>
<p>上三味。攪頓服。須臾即氣退。　案。人尿性溫味鹹。又主收斂。降逆氣。傷寒論。用之於下利不止。厥逆無脈者。褚氏遺書。用諸咳血殺人之症。</p>
<p>茱萸湯（蘇長史方千金）　治腳氣入腹。困悶欲死。腹脹方。</p>
<p>吳茱萸　木瓜</p>
<p>上二味。進一服。或吐或汗。或大熱悶即差。此起死人方。　按。至脾氣衝心。無藥可療。只此二味。較之諸湯。其效尤峻。足以奏功乎燃眉之際。千金贊之云。此起死回生之方也。殆不誣矣。外臺毒氣攻心。手足脈絕。此亦難濟。不得已作此湯。十愈七八。於本方。加青木香犀角。聖惠治腳氣衝心。悶亂不識人。手足脈欲絕。於本方。加檳榔生薑。三因茱萸丸等分為末。酒糊丸。即本方。</p>
<p>崔氏療腳氣遍身腫方（外臺）</p>
<p>大豆　桑根白皮　檳榔　茯苓</p>
<p>上四味。　案。此方滲利之良劑。治遍身洪腫。煩悸殊甚者。愚每以水四合。先煮黑豆二兩。減二合。內諸藥及郁李去殼一錢。取一合。日三劑。今加郁李仁。據聖濟。</p>
<p>犀角。旋覆花湯（千金）　腳氣之病。先起嶺南。稍來江東。得之無漸。或微覺疼痹。或兩脛腫滿。或行起澀弱。或上入腹不仁。或時冷熱。小便秘澀。喘息氣衝喉。氣急欲死。食嘔不下。氣上逆者。</p>
<p>犀角　旋覆花　橘皮　茯苓　生薑　大棗　香豉　紫蘇莖葉</p>
<p>上八味服之。以氣下小便利為度。崔氏名小犀角湯。如其不下。服後大犀角湯。即本方。加白朮桂心防己黃芩前胡桑白皮。</p>
<p>降氣湯（元和紀用經）　定上氣息鳴卒喘。便欲絕者。入口氣下。萬金不傳。</p>
<p>吳茱萸　桑白皮</p>
<p>上㕮咀。分四處。每一。以水二升酒一升。煮三沸取清汁。作三服立驗。每煮成。入生薑汁一匙匕。煮一沸為準。自神龍致仕孟伊陽傳云。用無不效。　案。醫心方引葛氏方。生薑同煮。不用汁。並無方名。又萬安方。引可用方降氣湯。治氣虛喘促。及大病後虛喘。於本方。加五味子。蓋降氣之名。以元和紀用為藍本。和田泰純。於此方中。加犀角茯苓。名豁胸湯。專治腳氣上衝欲死者。又合之於沉香降氣湯。治心下急迫尤甚者。曾聞泰純長於診候。決死生於一視。蓋踵事刓精之所得也。然如其藥方。率屬浮泛。難以為準。獨此方不失古意。其力最峻。可以奏功於切迫之際。</p>
<p>紫蘇子湯（千金方）　治腳弱上氣。昔宋湘東王在南州。患腳氣困篤。服此湯大得力。</p>
<p>紫蘇子　半夏　前胡　厚朴　甘草　當歸　橘皮　大棗　生薑　桂心</p>
<p>上十味。　案。腳氣痰喘上氣者。宜此方。方下云。困篤服此湯。今試之。此方不能敵因篤。古人之言。不可悉信也。局方易簡方。名之曰蘇子降氣湯。</p>
<p>沉香降氣湯（局方）　患腳氣人。毒氣上衝。心腸堅滿。肢體浮腫者。尤宜服之。</p>
<p>沉香　香附子　甘草　縮砂</p>
<p>上四味。鹽少許。沸湯點服。　案。此劑皆辛溫。解鬱開壅。下氣散滯。故能治腳氣迫於心胸者。蓋此三方。其旨趣相均。緩急稍異。要在臨床之際。隨其劇易處置之耳。</p>
<p>小柴胡湯（傷寒論）　治腳氣胸脅痞塞。寒熱如瘧者。</p>
<p>柴胡　黃芩　半夏　大棗　人參　甘草　生薑</p>
<p>上七味。　按本方加常山。更覺有驗。千金常山甘草湯。可並攻。</p>
<p>杉木湯（證類本草本事方今據蘭臺軌範）　唐柳柳州云。元和十二年二月。得腳氣。夜半痞絕。脅有塊。大如石。且死。困塞不知人三日。榮陽鄭洵美杉木湯。服半日。食頃大小便三次。氣通塊散。</p>
<p>杉木節（一大升）　橘葉（一升無葉以皮代之）　大腹檳榔（七個合子碎之）　童子小便（三大升）</p>
<p>共煮一升半。分二服。若一服得快利。停後服。　案。此煎法不明。恐有脫字。愚以意酌量。吳崐曰。杉木節質重而氣芳。質重則能達下。氣芳則能疏壅。橘皮味苦而厚。過於青皮。檳榔質實而重。等於鐵石。味厚則泄。質重則降。故能令邪氣大下。童便鹹寒物也。咸則能引邪氣。以走濁陰。寒則能平熱氣。使不上逆。活人書。檳榔散。即此方變方。余嘗驗杉木。肉色紅者。為油杉堪用。白色者無效。</p>
<p>風引湯（金匱）　巢氏云。腳氣宜風引湯。</p>
<p>大黃　乾薑　龍骨（各四兩）　桂枝（三兩）　甘草　牡蠣（各二兩）　寒水石　滑石　赤石脂　白石脂　紫石英　石膏（各六兩）</p>
<p>上十二味。杵粗篩。以韋囊盛之。取三指撮。井花水三升。煮三沸。溫服一升。徐靈胎曰。此乃臟腑之熱。非草木之品所能散。故以金石重藥。清其里。</p>
<p>靈砂（局方）　治上盛下虛。痰涎壅盛。最能鎮墜。升降陰陽。和五臟。助元氣。</p>
<p>水銀（一升）　硫黃（四兩）</p>
<p>上二味。用新鐵銚。炒成砂子。或有煙焰。即以醋灑。候研細。入水火鼎。醋調赤石脂。封口。鐵線扎縛。煞干。鹽泥固濟。用炭二十斤。煆如鼎子。烈筆醮赤石臘。頻抹其處。火盡為度。經宿取出。研為細末。糊為丸。如麻子大。每服三丸。空心棗湯。米飲。井花水。人參湯任下。量病輕重。增於五七丸。</p>
<p>案。此鎮墜之要藥。腳氣嘔吐。或上衝。或動氣甚者。皆用之。有殊驗。東坡有靈砂說。文繁不錄。宜閱。</p>
<p>（附）凡嘔吐不納藥者。最難救療。藥入即吐。安能見功。胃口愈逆愈翻。萬難處分。記安政戊午。自夏涉秋。暴瀉流行。其症洞瀉傾盆。須臾發嘔吐。上翻下出。急者一二時。緩者一二日。脈絕即斃。時師以其不納。種種怪藥。強灌之。而一吐傾囊。束手俟死。愚偶閱幼幼集成。載靈砂止嘔治驗。因試之多得功。其法仿局方。丸靈砂。如梧子大。初服三丸。次服五丸。久之服十丸。冷水送下。胃口已安。候不復吐。始用對症之藥。脫人於困卮不少。真扶危濟死之神丹也。</p>
<p>紫雪　崔氏療腳氣。毒遍內外。煩熱口中生瘡者方。活人書曰。大煩躁者。紫雪最良。　案。千金翼與外臺分量不同。局方全據千金異。蘭臺軌範。減二消。用十分之一。黃金百兩。以飛金一萬頁代之。吾師家據外臺。擬定劑量。精核的當。屢得偉功。因錄告後學。</p>
<p>黃金（煮汁六合）　寒水石　石膏　滑石　磁石（各六錢六分三釐五毛四絲）</p>
<p>上五味以水一升五合。煮取六合。</p>
<p>玄參　升麻（各二錢二分一釐一毛八絲）　羚羊角　犀角　沉香　木香（各六分九釐一毛二絲）　丁子（一錢三分八釐二毛四絲）　甘草（一錢一分五毛九絲）</p>
<p>上八味（八錢四分三釐四毛八絲）　以前煮汁（合一升二合）煮取四合五勺入消石（一合二芍）　芒消（二錢一分一釐八毛四絲）</p>
<p>上煎欲凝。入硃砂。（四分六釐八絲）　麝香（一分七釐二毛八絲）　攪調令勻。磁器收藏。藥成霜雪紫色。水調下。外臺。又曰服紫雪。強人一服二分。弱者一服一分。和水服。當利熱毒。按此方。藥品太雜。似無法度。用之傷寒中風驚癇腳氣等。其功殆不可言。蓋除祛熱毒。鼓盪神氣。要清涼之劑。非此方。不能達大症。信醫家必備之藥也。</p>
<p>養正丹（局方）　療元氣虛虧。陰邪交蕩。正氣乖常。上盛下虛。氣不升降。呼吸不足。頭旋氣短。及中風涎潮。不省人事。陽氣欲脫。</p>
<p>水銀　硫黃（研細）　硃砂（研細）　黑錫（去滓枰與水銀結沙各一兩）</p>
<p>上用黑盞一隻。火上熔黑鉛成汁。次下水銀。以柳杖子攪勻。次下硃砂。攪令不見星子。放下少時。方入硫黃末。急攪成汁。和勻如有焰。以醋灑之。候冷取出。研如粉。極細。用糯米粉。煮糊為丸。如綠豆大。每服二十粒。加至三十粒。鹽湯下。此藥升降陰陽。既濟心腎。空心食前。棗湯送下。神效不可具述。易簡方曰。腳氣之患。入腹衝心。或見嘔吐之證。無法可療。千金以大黃利之。大黃性寒。病既深入。必難導達。是速其嘔吐也。不若用養生丹。或黑錫丹。來復丹之類。煎降氣湯。嚥下。更須多服。以大便通利為度。腳氣無補法。此有利性。即非補藥。服之無疑。</p>
<p>案。腳氣頑痹不仁。緩縱不隨。行動難澀。轉筋屈倒。是其常態。不足大畏。但膻中動劇者。大可畏。須決意救療之。不論乾溼。胸脅逆滿。氣上急迫者。其變起於不測。寬者猶延日。但動氣奔騰。毒氣迫心。氣喘不停。自汗數出。其脈短促沉伏。嘔吐不止者。皆屬死候。方此之時。非草根木皮可衡抗。非金石猛厲。咄嗟之間。何能奏凱。不可憚其峻。束手待斃也。</p>

<h2>並病</h2>
<p>腳氣與諸病相併者。傷寒痢後。瘧後產後。往往發之。蓋五內未調。氣血不健。而生一種水氣者是也。宜照合前款。審病之淺深緩急。而為之處療。此編所舉者。蓋緩治之策也。然忽之。則命亦忽諸。溺之之責。我得辭哉。</p>
<p>崔氏八味丸（金匱）　治腳氣上入。少腹不仁。</p>
<p>地黃　山茱萸　薯蕷　澤瀉　茯苓　桂枝　牡丹皮　附子</p>
<p>上八味。　案。蓋此方據蘇長史腳氣因於腎虛之說。則當編之於內因中。然功力迂慢。非猛制水毒之劑。仍收入於茲。又案。此方和血滲濕之劑。加以附子之健悍。行地黃之濡滯。使頹惰之氣。斡旋於經墜之中。施之於諸病後。少腹頑痹。腰脛委弱。帶腫氣。淹留彌日者。每見殊效。如腳氣上入。毒氣撞心。恐非此萬所對也。又案。此方仲景所制。而治腳氣上入者出於崔氏所傳。故標以崔氏。崔氏名知悌著纂要方十卷。見舊唐書經籍志。吳昆方考載。漢武帝病渴。仲景為處此方進之。無稽之談。不足信。又王海藏醫壘元戎。引易老云。八味丸。益火之源。以消陰翳。壯水之主。以制陽光。此語原繫於王大僕素問注語。薛己專取此語。附會八味六味二丸。為補腎益精之說。遂開誨淫誘欲之路。此藥元無壯陽之效。且非所制之本意。甚矣其為惑也。</p>
<p>又按。嚴氏於本方中。加牛膝車前子。名加味腎氣丸。治腎虛腰重腳腫。小便不利。又張璐玉本方加沉香。治腳膝枯瘦色淡。小腹不仁。腹急疼痛。上氣喘急。</p>
<p>千金一方　治腳氣氣血凝滯者。</p>
<p>大黃　木香　生薑　檳榔　枳實　橘皮　甘草</p>
<p>上七味。　案。此方原千金方。山脅氏加桂枝紫蘇。治腳氣兼痞積者。尤有驗。</p>
<p>蘇恭防己湯（外臺）　主通身體滿。小便澀。上氣上下。痰水不能食。食則脹者。</p>
<p>桑白皮　大豆　防己　橘皮　茯苓　麻黃　生薑　旋覆花　杏仁　紫蘇莖葉</p>
<p>上十味。小便利。腫氣消。下冷多。加茱萸。熱多加玄參。</p>
<p>烏苓通氣湯（萬病回春）</p>
<p>烏藥　當歸　芍藥　香附　糖球　陳皮　茯苓　白朮　檳榔　玄胡　澤瀉　木香　甘草　生薑</p>
<p>上十四味。惡寒加吳茱萸。　案。此方。疝家患腳氣。腰腳麻痹。或下部帶腫氣者。殊有功。</p>
<p>三和散（局方）　治腳氣上攻。胸腹滿悶。大便不通。</p>
<p>大腹皮　紫蘇　獨活　沉香　木瓜　川芎　白朮　木香　甘草　檳榔　橘皮</p>
<p>上十一味。　案。此方原出於傳家秘寶。名大三脘散。治三焦氣逆。解大便秘滯。下胸脅滿脹。沉陳蘇檳開滯破郁。川芎散血滯。獨活逐水濕。木瓜利筋絡。術甘調和脾胃。夫氣血壅滯。則筋脈不利。三焦不和。則運輸不健。一用此湯。鬱滯開而三焦通。所以有三和之名也。</p>
<p>澤漆湯（聖濟）　治痢後腫滿。氣急喘嗽。小便如血。</p>
<p>澤漆葉　桑根白皮　郁李仁　杏仁　人參　白朮　陳橘皮</p>
<p>上七味。　案。本草澤漆味苦微寒。主大腹水氣。四肢面目浮腫。凡精氣衰憊。峻猛之劑。恐不能堪。故不得不取之於滲利。</p>
<p>實脾散（本事方）　治陰水。</p>
<p>木香　果仁　大腹子　附子　茯苓　乾薑　甘草</p>
<p>上七味。　案。嚴氏濟生方所載。實脾散。治水腫。比此方。多厚朴白朮茯苓木瓜。蓋嚴氏原於本事。加四味。醫學綱目實脾散。同本事。嚴氏一時太醫。後世以為實脾之祖者謬。</p>
<p>導水茯苓湯　治水腫遍身如爛瓜。喘滿倚息。不能轉側。</p>
<p>茯苓　麥門冬　澤瀉　白朮　紫蘇　檳榔　桑白皮　木瓜　陳皮　砂仁　木香　燈草　大腹皮</p>
<p>上十三味。愚每用之於水腫腳氣混淆者。加郁李仁更效。然未詳出於何書。姑據方賢奇效良方。並錄於此。證治準繩。醫宗必讀。醫燈續焰。畢載此方。稱其功。</p>
<p>主腳氣大便澀方（千金月令）</p>
<p>大黃（五兩）　大麻（三兩）</p>
<p>上二味。羅大黃為末。和麻仁。以蜜為丸。</p>
<p>紅豆煎（家方）　治水腫。嚴斷米粟專食菽麥。令疏通水毒。本林一一烏秘方。</p>
<p>起廢湯（家方）　腳氣日久。腰腳瘦削。或攣急。或麻痹。或骨痿嚲曳。一切虛羸。用之滋養。</p>
<p>針砂丸（家方）　治胃虛一身洪腫者。余家每用鋼鐵。（鐵家所磨鑢細末）</p>
<p>季仲南永類方云。腫藥用鐵蛾及針砂。入丸子者。一生須斷鹽。蓋鹽性濡潤。腫者再作。不可為矣。此說信然。</p>
<p>高蜜丸（家方）　治腫滿。</p>
<p>絲瓜（十匁燒存性）　巴豆（一匁去皮熬研如脂）</p>
<p>右二味。煉蜜丸如梧子大。強人初服五分。弱者半之。此方原出香祖筆記。元鮮于伯機。記杭醫宗會之者。善治水蠱。以乾絲瓜一枚去皮。剪碎入巴豆。黃色為度。去巴豆用絲瓜。炒陳倉米。如絲瓜之多少。候米黃色。去絲瓜研之。為末。和清水為丸。如桐子大。每服百丸。皆愈。宗言巴豆逐水。絲瓜象人脈絡。去而不用。藉其氣以引之也。　予試之。洞瀉如傾。用之於水腫膨脹。間覺有效。但腳氣忌巴豆之說。見於後條。</p>
<p>化毒丸　治痿癖不能起者。</p>
<p>薰陸（一匁）　大黃　雞冠雄黃　亂髮霜（各三匁）　生生乳（一匁）</p>
<p>右五味糊丸。　此藥剛烈。慎勿過用。二三分至四五分。服後有發赤疹者。有為發熱者。皆中肯綮也。宜止後服。若服後覺瞑眩者。宜飲冷水吃冷粥。立定。</p>
<p>友人淺田識此曰。此方原出陳司成黴瘡秘錄。癸字化毒已字化毒之類耳。山脅氏拔其精英。為五味。治諸頑痼沉滯之病。案。生生乳奇功靈驗。不可勝紀。然未詳其所始。蓋起於天宮瘍醫歟。凡療瘍以五毒攻之。鄭玄注云。五毒者。五藥之有毒者。今醫方有五毒之藥。作之合黃堥。置石膽丹砂雄黃礜石磁石其中。燒之三日三夜。其煙上著。以雞羽掃取之。以注創。惡肉破骨則盡出。是乃生生乳之祖。陳氏曰。如水銀一物。得雲母礜石同煉。其毒即解。不比粉霜輕粉之酷烈也。配風藥而治大麻風。配癆藥。而治傳屍癆。配蟲藥而治諸蟲疾。配膈藥而治噎塞翻胃。配瘡藥而治頑毒頑癬久漏骨痛。種種奇效。不獨治廣瘡毒氣之聖藥也。</p>

<h2>針灸</h2>
<p>灸治刺血者。非拔本之法。然稱濕痹緩風者。隨症時用亦可。孫真人王燾。專用炳灸。蓋取之於聳動經脈。宣通壅寒。如𤸷痹麻木痿癖緩縱拘急轉筋者。宜灸其腰腳。凡灸而不覺熱者。其毒深也。乃至覺熱益佳。加多無妨。待身體輕利。然後可休矣。楊大受則以砭針出血為第一。各有所見。如其灸法。千金外臺載之甚詳。用者當照看原文。茲揭其穴名。</p>
<p>千金灸穴</p>
<p>風市　伏兔　犢鼻　膝兩眼（在膝頭骨下兩傍陷者宛宛中是）　三里　上廉　下廉（以上五穴陽明胃經）　絕骨（少陽膽經）</p>
<p>外臺灸穴　</p>
<p>風市　膝目　絕骨　陽陵泉　陽輔（三穴少陽膽經）　上廉　條口　下廉　犢鼻（四穴陽明胃經）　崑崙　委中　承筋　承山（四穴太陽膀胱經）　大沖　復溜　湧泉（三穴少陰腎經）　曲泉　中都（二穴厥陰肝經）　三陰交　陰陵泉（二穴太陰脾經）　少陽維（在內踝後一寸動筋中）　太陰（在內踝上八寸骨下陷中）　太陰蹺（在內踝下向宛宛中是）</p>
<p>余家別有打膿之術。施之於三里三陰交。及腰腿肉隙骨間。釀瘡泄毒。凝者散。滯者通。其功優於灸治。屢驗。</p>

<h2>備案</h2>
<p>一商人患腳氣。已歷諸醫。又請余。氣急喘悶。上攻已極。氣息奄奄。殆無脈。告不治而歸。家人遮留。曰生死命也。請貺一劑。殘喘尚存。何忍束手視死。余乃再候之。惟面目神光。猶似存生機。手足既厥。線息欲斷。與茱萸湯。入童便如法。告曰。服之。厥回汗出。或得活路。不然。雖司命。亦地奈之何。因宿其家。屢起診之。及曉大汗出。大熱悶。頃之厥回脈出。困悶頗安。余喜曰。得之矣。既而氣漸復。神漸旺。仍護前方。兼養生丹。調理五日。危候始穩。微喘未除。因轉方。投沉香降氣湯。服之旬有五日。得奏全績。顧幸矣。非余之功。病家之命數未盡也。初當告不治之際。豈知有今日哉。</p>
<p>一婦人娩後十餘日。惡露不下。心胸滿悶。煩渴微嘔。前醫以為瘀血。用桃核承氣湯。下利日三四行。瘀血不下。小便益短少。腳腿壅腫。麻木不仁。延予診之。心胸堅滿。動氣泄衣。每動搖。自汗息迫。予謂水毒使瘀血不下。蓋水毒為之源。而瘀血則委也。於是作木防己湯與之。兼服針砂丸。嚴戒鹽味。小便通。瘀血下。經二旬而愈。</p>
<p>一沽豎年二十三。形質肥胖。染疫。舌上黃褐色。其脈弦大。譫語潮熱。時時蹙頻。時時嘔吐。按腹。若腹痛者。用大柴胡加芒硝湯。大下之數日。續下利。裡急後重。腸垢雜下。二十行至三十行。飲啖少進。熱勢大減。始自告所苦。轉芍藥湯。諸候向安。一日忽息迫。不能坐臥。膻中動氣如奔馬。予知其變於腳氣。急疊用蘇長史吳茱萸湯及甘遂大戟之類。不及而斃。按。此症初而疫邪。中變痢。終變腳氣。固雖屬危險。非無可救之術。蓋攻伐屢用。胃元頓虛。遂生水毒。然復以駃藥劫之。我速其死必矣。今而思之。不能無赧然於懷。</p>
<p>一商人年四十餘。患腳氣。其症足脛麻痹屈弱。時不能起。按之有微腫。脈數而有力。膻中無動。小便短澀。至夜微嘔。晝則神色如平。投唐侍中一方。加旋覆花。間三日往診。狀貌依然。又間三日診之。嘔止小便通。如報善候者。但口鼻氣冷。以指候之。舌心愈冷。意謂呼吸者。元氣所通。知是水毒伏心。神機竭於內之候。蓋異症也。大怖辭去其家招一醫。醫來診曰。此腳氣常態。口鼻氣冷者。胃中有寒飲。溫之即愈矣。家人大喜曰。荷再造之恩。服藥一日。小便不通。嘔吐復發。衝心而死。</p>
<p>一士人上自頭腦面部。下至心腹臍下。麻痹不仁。呼吸逼迫。言語蹇澀。小便赤少。腰腿以下如常。時時顛躓不能起。家人大駭。招一友某。某至診不能詳其因。簡余議焉。余往察之。脈緊而有力。膻中生動。有跳騰之勢。謂某曰。病候甚似風痹狀。然非風也。蓋腳氣也。某曰。何以徵之。曰膻中有動。呼吸息迫。小便赤澀。是不水毒難伏於內。而逼心肺耶。麻痹不仁。腰腳屈弱。是不水毒淫於外。而壅塞表氣耶。是病涉表裡者必矣。曰何藥處之。曰以麻黃加朮湯。發泄其表郁。可使氣血通暢周行。兼以木茱湯。收其水而輸之尿道。則內外並行無相悖矣。經曰。清陽出上竅。謂呼吸也。濁陰出下竅。謂二便也。蓋體之變異。必徵之於此二者。呼吸與二便。其出入關竅。所以為生之要。曰善矣。乃投所擬。不日而痊。</p>
<p>一士人年強仕。職居繁劇。初覺腳重短息。以鞅掌無暇。置而不療。腫漸增。氣愈急。請余診之。心下堅滿。膻中築築然。余曰。是腳氣也。慊請之遲。趁早療之。何至此。與唐侍中一方。兼服禹功丸。小便快通。諸候殆安。一日召同僚。會飲。犯禁饕餮。息迫復發。小便閉塞。涓滴不泄。小腹膨脹。苦楚喊叫。抬首擷項。不能安臥。家人吃驚。走僕邀余。至則呼吸短息。時時衝心。作大黃甘遂湯。一瀹投之。庶幾穀道幸開。尿道從通。頻服前方。須臾稀溏數行。呼吸平穩。衝心稍安。然尿道未通。技殆窮矣。其家相議。延蘭醫。醫至。用導溺管。猶不能通一滴。無復策可出。又召二醫。蘭醫曰。實芰海蔥疏之。漢醫曰附子溫之。或曰。大黃蕩之。議論坌出。亂投調停者。十餘日。全軀洪腫。短氣息迫。虛里如奔馬。自心下。至少腹。膨脝𪔣然。青筋如貫索。陰囊斗大。陽莖沒其中。又會眾醫商議。而紛然不決。余謂眾曰。今水路填塞。不泄一滴。滲出之水。不能入脬。氾濫百體。為此洪腫。猶川瀆壅塞。水潰於野。勢將里山。一旦沖丹府。死不旋踵。用慢藥坐待斃。豈如投駃藥乎。或回生於萬一。引本經。證斑蝥利水之效。將用之。眾醫猶疑。余奮曰。孤注視病者。有時不得不敢。執柯伐柯。前賢所驗。余亦數試用。縱不利於病。必不至裂肝碎腸。決策遂投。其夜溺初通三夕。翌一合五勺。於是用木防己加茯苓湯。仍兼服斑蝥。如是兩三日。小便日通一升五合。既見建瓴之勢。洪腫漸減。氣急亦弛。尚護前方。止斑蝥。飲啖少進。精氣日旺。家族欣然。始動喜色。自初病起。至此凡五十七日。病已除十之九矣。此役也。凡自通利分消之藥。至攻擊推搬之品。遍用不遺餘力。卒無影響。然一蟲能建奇勳。豈不偉乎。姑錄告同志。使知治法隨時處劑。而不可拘於常套。但大患重恙。變起不測。不可不懼而戒也。</p>
<p>藥者毒也。不可輕用。蓋養胃莫粱肉若焉。攻病莫藥石若焉。粱肉猶禮樂也。藥石猶攻伐也。人有病。不得已用藥。無病而服之。必惹利害。崔置政論有云。蓋為國之法。有似理身。平則致養。疾則攻焉。夫刑罰者。治亂之藥石也德教者。興平之粱肉也。以德教除殘。是以粱肉治疾也。以刑罰治平。是以藥石供養也。近坊富家之子某。其質嬌軟。年甫十九。乃翁太鍾愛焉。時屬仲秋。某遊郊。帶醉散步。渴多飲水。明日脛生微腫。而其所親狎醫某。不學無術。奉承為業。視之曰。腳氣腫滿之漸。雜藥亂投。腹滿微嘔。醫駭曰。恐為衝心。於是。家人煌惑。招數醫乞治。余亦見延。診之。其脈緩。氣息如平。膻中無動。又無麻痹。但腹中有飲。按之漉漉然。蓋腸間之水耳。無腳氣可徵。余曰。是湯液過飲所致。蓋軟脆之質。不慣行步。煩渴飲水。因發微腫。今吐水者吉兆。胃惡濕。欲排泄之耳。紅豆粥代藥。不出數日。應自愈矣。翁陽諾陰疑。余亦不強而去。眾醫日夜環守床褥。甲曰。宜逐暑邪。乙曰。宜滲利。丙曰。宜溫補。爭欲效功。前藥未行。後藥繼至。各陳臆說。湯液丸散。種種怪藥。疊進頻服。嗟呼。軟脆腸胃。何堪多藥之毒。某遂斃於藥。可憐也哉。要是出於醫人貪利之不仁。而世俗不解藥之為毒之過也。富家死於藥。往往有焉。況王公貴人。為臣子者。可不鑑戒哉。</p>

<h1>卷下</h1>

<h2>藥能</h2>
<p>語曰。工欲善其事。必先利其器。器不利而善成其事者。未之有也。醫欲治病。須先審藥性之功能。而應病證之變遷。病之陽。投之以陰。病之陰。投之以陽。陰不至於涸。陽不至於亢方症相當。則其治必矣。或反之。陰者死於陰。陽者死於陽。惡乎救焉。然而神農本經。說藥能不純粹。諸家之說亦龐雜。馳多岐焉。陷邪逕焉。倀倀眛眛。愈讀愈迷。或拘寒熱氣味。或謬補瀉剛柔。說是而藥非。方可用而論不中。斃習沉痼。其害非淺也。是以藥𣏾之能。非取徵於張氏方中及孫王之說。則不足信焉也。夫治療之道。以法為師。以藥為器。器既利。法從活。刃可遊也。苟獲其要。則數種而足。苟不獲其要。則百藥不能奏功。藥益繁而理愈眛。說益奇而術愈疏。老子曰。少則得。多則惑。醫之於藥亦然。故郭履道有云。藥之為用。不過六十四品。如易爻流傳。運用不窮。褚澄曰。用藥如用兵。善用兵。徒有車之功。善用藥者。姜有桂之能。華元化處方。亦不過數種。古人於藥。識之精。而用之簡。猶能肉骨者。相望於簡冊。非如今之支離煩碎。為用之少也。挽近匪學者。讀蠻土夷域之書。探深山幽谷之𣏾。競採異藥。爭炫新奇。且刳死體。檢臟腑。配當藥品。以瑣末之學。制奇怪之藥。自稱為窮理。顧夫理也者。造化之妙。形而上之物。可得諸心。非目可睹也。則豈得言窮之。不止自欺。使後學守局。不知處活物之機變。抑可嘆矣。凡人食谷續命。谷不過數種。飲藥治病。藥亦不貴多。在處方之何如耳。今揭其驗於腳氣者若干種。為用藥之標的。庶幾乎不背張氏孫王之意焉。</p>
<p>石膏</p>
<p>張長沙。用石膏數方。其症顯著。無有疑惑。而後人妄開竇逕。陷荊棘。不可不辨也。白虎湯條曰。表有熱。里有寒。又曰。脈滑者。里有熱也。加人參湯條口。服桂枝湯。大汗出。大煩渴。又曰。時時惡風。大渴。舌上乾燥而煩。欲飲水數升。又曰。渴飲水。口乾舌燥者。加桂枝湯條曰。身無寒但熱。大青龍湯條曰。不汗出而煩躁者。又曰。無少陰症者。又曰。溢飲者。越婢湯條曰。風水一身悉腫。加朮湯條曰。一身面目黃腫。因是觀之。則長沙隧伍之妙。較然明晰矣。白虎之為症。凶焰暴瘧。侵入皮膚。爍熬胃中。與承氣相近。而其所異者。系熱之聚散已。大青龍者。表氣壅塞。緊束骨節。壓迫營衛之所使。是以身體疼痛。無汗煩躁。是麻黃之症。而進一等者也。越婢者。水道壅閼。溢滿肌肉。遂為腫滿者。猶流水不歸川瀆。氾濫原野。以為民害也。據此。數條。則石膏之為效。一則可以清熱。一則可以泄汗。一則可以利尿。其雄戈偉勳。固可以與烏喙將軍。駢䮽而並騁也。長沙之道。不語隱怪。不涉奇僻。正大明實。如青天白日然矣。後之醫者。不由正路。不履實學。為邪說所惑。不覺墜窠臼。所謂一盲引眾盲終載胥及溺。哀哉。</p>
<p>人參</p>
<p>人參之說。載在歷代本草。人所共知。而其說曖曃不明。要之。不過補虛益氣之說耳。予初好使用韓產。試之者數百人。其中有害而無益者。十居七八焉。於是檢傷寒論。論中用人參者。二十有七方。而治心下痞硬者十一。治嘔吐涎沫者十一。是其彰明較著者也。而其量最多者。木防己湯。主用之者。人參湯。其證曰。支飲喘滿。心下痞堅。又曰虛者即愈。實者三日後發。復與而不愈者。去石膏加茯苓湯。所謂虛者。非體氣衰憊之謂也。實者。非體氣盛旺之謂也。用木防己湯。三日復發者。邪熱既深也。乃非用蕩刷。則不能除之。故曰。加茯苓芒硝湯主之。是人參芒硝。分治心下痞硬與痞堅也。古人立方。可謂精微矣。赤石脂禹餘糧湯條曰。理中理中焦。此利在下焦。此為粗工。被攻擊。遂致下腸滑脫。以故用赤石脂禹餘糧之品。固澀收斂之也。又曰喜唾不了了者。理中丸。大病差後。胃中未復。轉輸未健。水飲停滯為痞者。此湯所宜也。因是觀之。參之主治。沖痞緩硬。行水生津者。可推知也。乃改舊轍。專用官蒔人參不經蒸焙者。其味初苦後甘。是蓋參之正味。而試之於患者。其功效。與論中所舉相符。桐雷二氏之論。不我欺也。且性力敏捷。大勝於韓產。聞韓人貪利之甚。用糞滋之。且多方極製造。然則今商舶所輸。皆脫真味。何存排闥直入之力。然而尊崇之甚。比之金玉。使人徒費資財耳。夫自甄權始唱補虛。後醫熒惑。牢不可解。至薛己張介賓李時珍王肯堂張石頑之輩。主張其說。以為續命者。果然則朝饔夕飧。當保數百年而不死。此決無之理。三尺童子猶知之矣。藥者毒也。以偏氣救變。無病餌之。其生害必矣。久患長恙。元氣衰憊。及薄稟漸虛之人。豈人參所能使壯哉。越人曰。攻病以毒藥。養精以穀肉果菜。有病服藥。固可也。無病則常餌穀肉。省思慮。節飲食。慎起居。遠帷幄。或可以充元氣而壯弱體也。余嘗意。寓內之大。坤輿之廣。不睹人參之國必有之。而患者未必皆死。則雖無此物。亦不為闕事也。陶隱居曰。人參與甘草同效。孫思邈曰。無人參。以茯苓代之。據二子之言。則參亦一裨將。豈有統帥之戈乎。故曰小寇可拒。大敵非其所當。是誠知參者。可謂獲我心矣。金元已降。延命長壽之說。盛行於世。而蔓延於我邦。乃今有病之家。每遇危篤。不問可否。必餌之。醫亦容悅用之塞責。終至於使正氣日蹙。自招其死。不亦痛歟。嗚呼。苟志於濟生者。忍乎為之。司命之職。宜猛省焉。</p>
<p>地黃。古方所用。生與干已。其稱熟者。亦不過於用酒灌焙。而後世九蒸九暴。以酒氣損其性。是出於庸醫過鑿。既失真味。豈中於用乎。此物春生苗。其葉毛茸皺文。似車前草而無光澤。花如胡麻。其色有黃紅紫之別。黃者為真。大抵莖長數寸。連皮肉皆黃。根發黃色。則結實。形如小麥粒。質重實。投水即沉。為黑色者。系腐敗耳。凡草木堪寒氣者。其性屬寒。而地黃則怯寒。遇霜即死。故種者用稿裹里之。置火於其上。取暖俟春。由是觀之。神農經及本草。言性寒者。不足信也。味甘質潤。經久不幹。其能滲入血中。養血液。營運行。夫血液虧乏。按脈無力者。系虛候也。其脈細數者。為瀕死之候。非地黃之力。不能挽回矣。案。莖葉毛皺無澤者。蓋以其氣專鍾於根蒂也。故雖滋潤。澀而不滑。能治吐血衄血下血。且調婦人產後亡血。以其滋血液導運行也。芎歸膠艾湯。可以見其效能。婦人在草蓐。發露得風。四肢苦煩。宜三物湯者。以君地黃。臣苦辛。黃芩解其煩也。虛勞腰痛。少腹拘急。小便不利者。宜八味丸。轉胞亦用八味丸。以地黃滋潤。利血中水氣也。又治腳氣入腹。小腹頑痹。痛癢不覺。短氣有微飲。當從小便去。則苓桂朮甘湯主之。而兼用八味丸。要之。血水同道而並行。故主地黃。伍茯苓澤瀉之滲利。男子消渴。亦以此治之。是仲景氏妙手段也。錢仲陽八味丸中去桂附。稱六味丸。以療小兒。夫小兒血氣未厚。故脈多疾數。乃用地黃丸。其治五遲五軟等證。其方雖失古意。可謂能知地黃之能者矣。薛己始唱補虛益精之說。後醫信其妄。不惟舉之於口。又筆之於書。遂使此草藥為恣欲誨淫之媒。何其冤乎。</p>
<p>大黃</p>
<p>神農經曰。大黃味苦寒無毒。盪滌腸胃。推陳致新。夫盪滌腸胃者。大黃之所主。而推陳致新者。人身之天機也。喻如竹木刺入肉。知痛者神氣而非皮肉也。所傷生膿。則自拔。是天機爾。乃助天機者。一切治療之要紐也。大黃能入腸胃。掃除諸惡液。是所以逐癥瘕留飲宿食諸邪氣。自大便下之。其性膩速滲透血中。以故服之。小便帶黃色。大便從瀉下。配之乎枳實。利甚急。合之乎甘草。利較緩。所以大承氣與調胃承氣有差別也。合黃連黃柏梔子等。則瀉心胸。清瘀熱。配水蛭虻蟲桃仁等。則下瘀血。與甘遂。則瀉水氣。明醫錄云。治女子寒血閉脹。小腹痛。諸老血留血。誠然矣。其治諸瘡瘍。亦以有解毒之能也。用之泄瀉下利。解熱逐毒。毒盡則自止。治食已即吐者。及痢病後重。並以疏滌惡液。健運腸胃也。可謂藥中之將軍矣。</p>
<p>附子</p>
<p>天雄。烏頭。附子。側子。漏籃子。詳於本草綱目。而其種本一物。因年曆多少。異名焉耳。而仲景氏。獨用烏附者。蓋取力之優者。猶如芋魁於側子也。余少時。漬附子於水。減其鹽。經宿洗之。手指觸毒熱痛。後洗土芝。指甚癢已。於是悟附子辛熱。自毛孔滲入發痛。而土芝薟氣。自汗孔滲徹發癢。二物固並有毒。然附子則宿根所生。經寒暑而成。故其毒猛烈。土芝則春種秋熟。其質軟脆。不堪寒暑。且系食料。故毒亦從薄。功能之別可推知矣。烏附氣味雄悍。驅寒冷。補衰弱。開達表氣。以溫百體。乃服之過度。必生瞑眩。至其甚。脈絕大吐水。是與縱飲之人。不堪酒氣剽悍。發嘔吐。同一理。仲景氏附子去桂加朮湯條曰。一服覺身痹。三服都盡。其人如冒狀。又烏頭桂枝湯條曰。如醉狀。皆言其暝眩之狀。所謂藥不瞑眩。厥疾不瘳是也。然其氣猛悍。難施之於元氣衰漓之人。不可不戒者也。大凡腸胃生寒。而血液敗。則藏府為之拘攣掣痛。或繞臍而痛。或腹中絞痛。或雷鳴切痛。或手足厥冷。其治舉屬於烏頭。大烏頭煎條曰。治寒疝繞臍痛。脈沉眩者。烏頭桂枝湯條曰。寒疝腹中痛。逆冷。附子粳米湯條曰。腹中寒氣。雷鳴切痛。案。陽氣壅塞。則身體鬱滯。生敗液。經脈為之乖戾。從其毒之所在而發痛。是痛風腳氣之因。發浮腫。亦屬烏附主治。故烏頭湯曰。風濕相搏。身體疼痛。不能轉側。是用烏附。除敗液。豁滯氣也。又發汗。病不解。反惡寒者。其人虛也。芍藥甘草湯主之。發汗遂漏不止。其人惡風小便難。四肢微急。難以屈伸者。桂枝加附子湯主之。是並亡陽之症。非附子。不能治也。陽窮生陰。人天一理。乃漸甚。則玄武四逆白通等。隨症投之。但人身虛實不同。寒熱異途。而邪氣亦不一。則或直見少陰症。麻黃附子細辛湯。麻黃附子甘草湯。附子湯。玄武湯。此皆附子所主治也。脈沉。沉小。沉微。沉緊。浮而澀。是皆系寒冷所致。人為寒氣所襲。血氣不和。運行從阻。譬如魚肉汁。遇寒凝結。非附子辛熱。何以得溶解之哉。傷寒金匱。所載藥方二百有餘。而烏頭附子配合者二十九。烏附功能居多可知矣。夫切於人身者。無如水火。而其為害者。亦無如水火。火者熱也。水者寒也。乃治熱用寒藥。治寒用熱藥。是固理所然。雖然術存乎其人。果得奏效。豈易易也哉。</p>
<p>牛膝</p>
<p>此物有脂膩之氣。滲徹血中。清淨瘀液。開散鬱塞。疏通水道。神農經曰。主寒溫痿痹。四肢拘攣。不可屈伸。蓋此品。雖有養血營筋之力。非以之治四肢拘攣。膝痛也。嘗試之。為拘攣踡曲者。以關節含廢液滯血也。醫苟不達此理。則藥屬徒用。且此物。能引諸藥下行。乃腰腿之疾。不可缺之品也。</p>
<p>術</p>
<p>逐水止瀉。熯濕除痰。術之用。得桂枝附子。則治小便自利。得麻黃石膏。則治面目黃腫。小便不利。配桂枝人參。則治利下不止。在真武湯。治四肢沉重疼痛。在茯桂術甘湯。治心下有痰飲。古唯謂術。無蒼白之別。陶氏方分兩種。自宋以來。始言蒼者苦辛氣烈。白者苦甘氣和。自此世人。多貴白賤蒼。蓋蘇頌作之俑也。今試之。性功不甚相遠。其質多脂且氣烈。故能滲透血肉。宣通水道。此為滲利之專劑矣。豬苓澤瀉。亦疏通之品。因隊伍各異其使用。宜類推取驗矣。</p>
<p>芍藥</p>
<p>傷寒論中。用芍藥十八方。主腹痛者七方。主體痛者八方。腹痛頭痛。身體不仁。腳攣急。皆系筋絡拘急。而芍藥之功居多。且用之廣。合術苓則逐水氣。合藭歸則走血脈。合桂枝則開腠理。其他效用極博。故經驗方。用之於風毒骨痛。事林廣記。用之於腳氣腫痛。古今錄驗。用之於衄血咯血。聖惠方。用之於血崩帶下。詳載愚著藥能考。今不復贅焉。</p>
<p>薏苡仁</p>
<p>神農經曰。治筋急拘攣。不可屈伸。筋急拘攣者。系風濕痹。乃仲景氏治風濕相搏。身體疼痛者。用麻黃杏仁薏苡甘草湯。可以知其然矣。此方去薏　苡。加石膏。治喘急。古人立方之意。不忽諸也。薏苡附子湯。治胸痹緩急。而敗醬散。則於此方中。加敗醬。以治腸內癰腫。馬援在交趾時。餌薏苡仁。言輕身資欲。又勝瘴氣。其避濕邪。可心徵焉。</p>
<p>橘皮</p>
<p>呂氏春秋曰。果之美者。江浦之橘。雲夢之柚。是則名產取對耳。孔安國禹貢注。小者為橘。大者為柚。神農經曰。主治胸中瘕熱逆氣。利水穀。按橘橙柚柑拘櫞之屬。性功相似。時珍說其功。甚精細。然不足盡信也。往初垂仁帝。命田道間守。求非時香於海外。按寒天萬果皆墜。然橘獨存。非時之名。蓋取之於此。又聖武帝時。播摩直弟兄。始齎甘子。自唐歸。甘子即柑。今則所在繁殖。其皮不乏藥用。青陳之別。因採時老嫩耳。非二物也。其功能開胃驅痰。和中焦。故仲景氏伍之大黃芒硝湯。治胸間宿滯。如橘皮竹茹湯。則專主橘皮治噦逆。芳芬之氣。開豁肺胃也。</p>
<p>厚朴</p>
<p>張元素曰。厚朴之用有三。平胃一也。去腹脹二也。孕婦忌之三也。試之。二者果如其言。在孕婦不必然也。按。是見承氣湯中有枳樸。便謂枳樸大泄元氣。甚可恐。是所以為是說。吠聲之徒不察。概為瀉泄之物。而不知其辛溫提滯氣。治腹脹也。平脾胃者。健運營也。以故仲景氏。大小承氣湯。厚朴七物湯。配之於大黃。以盪滌腸胃。後世平胃散。伍之於蒼朮橘皮。以主消導。非專主瀉也。</p>
<p>防己</p>
<p>防己別漢術。而為二種者。出於後世外臺云。漢中木防己。出漢中為上好。蘇頌曰。折其莖。一頭吹之。氣從中貫。如木通然。因知其功。透胸間腸胃。達四肢。開閉塞。泌水氣。實利水之仙藥。無可代之者。故用木防己湯。治膈間支飲。其為喘為痞者。皆因水氣也。防己茯苓湯。治四肢為腫者。祛水氣也。他如防己黃耆湯。治身重。己椒歷黃丸。利腸間水。要與木通滲泄之劑同焉。</p>
<p>枳實</p>
<p>按。枳即橘柚之屬也。故其形狀似橘。其葉似橙。多刺。周禮云。橘逾淮而北。為枳是也。時珍不辨之。別載於灌木條者誤矣。七八月採者。稱枳實。八十月採者。呼枳谷。寇宗奭曰。枳實枳殼一物也。小則性酷而功速。大則性詳而功緩。宋開寶本草。始出枳殼條。香川太仲非之。謂不解殼實字義。但唐人詩。處處春風枳殼花。採盡高山枳殼花。然則殼實二字。古不必差別。後世實殼分為二。乃說主治亦異途。可謂泥矣。此方出薩州者。臭橘而非真枳也。凡橘柚柑枳之類。皆有刺棘。而枳最多。因知其性直入腸胃。沖蕩滯畜之汗物。資食物消化之機。故古人譬之於沖牆倒壁。可謂善喻矣。仲景氏治心下堅。大如盤。邊如旋杯。用枳朮湯。蓋此證。胃中瘀液滯瀦之所為。乃枳實術俱戮力。衝破結實。使之疏通。四逆散亦配合枳芍。以治胸脅苦滿。心下痞塞。腹痛泄利。產後腹痛。煩滿不得臥者。用枳實芍藥散。是配酸味收斂之𣏾。以消導瘀血也。如排膿散亦然。大黃枳實合力。則盪滌腸胃。最猛烈。是以大小承氣。大柴胡湯。皆並用之。調胃承氣湯。除枳實。用芒硝。加甘草。以主緩綏。因此觀之。則破結塞。消脹滿。逐停水。止下重者。皆取功於枳也。</p>
<p>茯苓</p>
<p>氣味甘淡性澀澀。帶脂氣。故滲入血肉。澀澀水氣聚之輸送尿道。通利小便。是以仲景氏。用之於茯苓四逆湯。治汗下後之煩躁。又用之於真武湯。治心下悸。頭眩身瞤動。筋惕肉瞤之症。若衝脈激動。而為悸者。則桂枝甘草湯。所主治也。桂枝條可並見焉。小便不利。厥而心下悸者。茯苓甘草湯所主也。葵子茯苓散。主頭眩小便不利。茯苓桂枝白朮甘草湯。主心下逆滿頭眩。二方俱水氣之所為。茯苓滲濕之功。可推知矣。</p>
<p>麻黃</p>
<p>此物纖細勁直。外黃內赤。中空有節如竹。形宛似毛孔。故有疏通之功。因知其氣入腸胃。透徹血脈。遂達肌表。發越閉塞。令邪從汗出焉。又至肌表怯弱。汗自出者。則還收斂其汗。是資表陽之氣。使之適宜也。外感之邪。猛悍剽疾。壅塞表氣。直逼於骨節。為身體疼痛。逼於肺。為喘為咳。用麻黃湯。發泄郁陽。則疼痛咳喘爽然而痊。麻黃湯症。而壅塞尤劇者。為大青龍湯症。治無汗煩躁。本方加麻黃六兩石膏雞子大。其峻烈可推知矣。桂枝麻黃各半湯。桂枝二越婢一湯。桂枝二麻黃一湯。並系纏滯之邪。小青龍湯之兼飲。麻杏甘石湯之兼喘。葛根湯之兼項背強急。此屬太陽病之治例也。踡臥惡寒。脈沉小者。麻黃附子並用。以鼓舞表陽。是為麻黃附子細辛湯。麻黃附子甘草湯之症。此屬少陰病之治例也。蓋汗之與尿。俱津液所化。故麻石同合。則驅水。越婢湯。文蛤湯。厚朴麻黃湯。可以見焉。麻桂同配。則逐汗。小青龍湯。葛根湯。麻黃加朮湯。桂芍知母湯。可以證焉。蓋仲景氏用麻黃之法。雖有數方。大率無出此範圍。擴充而運用之。則病之宜發汗。又宜利水。皆不得不取法於此矣。或曰。木賊。燈心草。接續草等。皆中空。而仲景氏何獨用麻黃。曰木賊外皮糙澀不滑。燈心內有白穰。並少透徹之力。接續輕浮。固不堪藥用也。古來說麻黃之功者曰。治衛實無汗。又曰。肺經專藥。後人因更為說。附會不足取。予經驗似有所得。是所以與昔人之解不同也。又案。仲景氏煎法曰。先煮麻黃。去上沫。內諸藥。陶弘景曰。沫使人煩。陶說恐非也。予當觀世之搗紅花制胭脂。初則色淡。去滓之後見濃紅。麻黃去沫。正與之同。去上沫得純精。所以逞其功也。葛根亦同。瓜蔞根水飛。以為天花粉。則極有功。牡蠣亦燒之。治敗液。其他經制而見功者多。不可不知也。</p>
<p>木瓜</p>
<p>爾雅曰。楙者木瓜也。郭璞注。木實如小瓜。味酢可食。二月花紅色。其實小而似瓜。故謂之木瓜。味極酸。故滲入血肉中。收斂血液。絞出津液。弛筋脈牽縮。故晉唐方書。多用之於腳氣。又治轉筋。疝亦縮腳筋。故用之見功。又治霍亂煩渴。陶隱居曰。木瓜最療轉筋。如轉筋時。但呼其名。及書上。作木瓜字。皆愈。按呼名作字。理所可疑。然呼青梅。口生津。人心感物。此理不可謂必無矣。雷斅曰。凡使木瓜。勿犯鐵器。以銅刀削用。凡藥有專長。有專忌亦不可不知者也。</p>
<p>吳茱萸</p>
<p>茱萸有三種。藥用者。以其出吳地。故冠吳字。其味辛溫。神農經曰。溫中下氣。仲景氏用吳茱萸湯。治吐利厥逆。又治嘔而胸滿者。及乾嘔涎沫頭痛者。是其氣質之力。豁胸膈。止嘔吐。溫胃中。治煩亂。孫真人半夏湯之外。皆用之於疝氣風氣腳氣衝心者。取辛溫推下之能也。</p>
<p>沉香</p>
<p>沉香。楊億談苑。范成大桂海志。張郎正倦遊錄等。辨之甚精。但就薰香而隲之耳。至服用之功。置不論焉。按此物生蕃國。本草所載。亦不能無疑矣。其伍藥方者。蓋昉千金五香湯。歷代運用極廣矣。予試之患者。降氣祛痰。開豁閉塞。其質堅硬鎮墜。香氣芬芳所致也。且治水腫。療喘急。檢之取少許投水。其沉者為良。沉香之名。可謂一言蔽之也。</p>
<p>檳榔子</p>
<p>質堅硬。味澀而苦辛。治水毒逆搶心下者。與鐵石之沉重。能墜諸液。至於下者正同焉。分泌水血。通大小便。是以消穀逐水。除痰去癖者。如本草所載。且治水腫積聚。止痢之後重。又能下蟲截瘧。其他功能見於古人經驗中。羅氏寉林玉露云。嶺南人。以檳榔代茶御瘴。朱晦庵檳榔詩云。撾病收殊效。修真錄異功。亦足以證其能焉。</p>
<p>大腹皮</p>
<p>時珍曰。大腹皮與檳榔同功。又曰大腹皮檳榔子皮也。今碎視之。總有筋絲。蓋其線質滲入血肉。開泄閉塞。驅逐水氣。故局方五皮湯。泄膜外之水。入門大腹皮湯。亦能逐水氣治腳氣。伍紫蘇和氣飲。為產前通治之方。且療惡阻胎動。時珍曰。健脾開胃。消肌膚中水氣浮腫。是也。</p>
<p>牽牛子</p>
<p>氣味辛辣。逐水利氣。用之少。則動大便。多則瀉下。劉守真張子和之徒。專表其功能。至今為通用下藥。蒞用碎之。配他藥者。恐氣脫也。或言其色黑者屬水。而破血中之氣。白者屬金。而瀉氣分濕熱。是附會之說。不足辨也。</p>
<p>半夏</p>
<p>性辛溫有薟氣。能消頑痰。止嘔吐。治咳逆。利咽喉。按飲食過度。留滯胃中。漸成積聚。胃不能堪任。鬱結為黏痰。為敗液。而噁心嘔吐併發。半夏能散結聚。以輸停水。瀉出敗液。嘔吐從止。故仲景氏大小半夏湯。半夏乾薑湯。專治嘔吐。附子粳米湯。及半夏瀉心湯。皆伍半夏。治嘔吐下利。其功可以見。如半夏苦酒湯蓋屬外襯。亦半夏之一活用也。</p>
<p>蘇</p>
<p>古昔單稱蘇。後世有白蘇。故加紫字別之。猶陶氏辨術之蒼白。其紫色者。氣極香。味辛溫。略類桂。有行氣利膈之功。故仲景氏。配半夏厚朴湯。治咽中如有炙臠。後世伍香蘇散參蘇飲。治感冒微邪。又配正氣天香湯蘇人湯。開散愁郁。又伍紫蘇和氣飲。治產前諸患。其辛溫芳香。開排閉塞發揚表氣。是以三和散之治疝氣。正氣散之逐風邪。檳蘇散之療腳氣。蘇子降氣湯之下氣。除喘鳴。消痰飲之類。極見奇驗。揚雖輕浮。豈可棄之哉。採葑之詠。可以推焉。</p>
<p>桂枝</p>
<p>凡愛好香。而嫌惡臭者。情之所然也。嗅之快。則飲之亦快。理之所然也。是知桂枝氣味芳烈辛溫。其香鼓舞精神。助衰微。運營衛。故傷寒論中。發汗過多。其人叉手自冒心。心下悸。欲得按者。用桂枝甘草湯。又發汗後。臍下悸者。欲作奔豚者。苓桂甘棗湯主之。按其悸雖異心臍。其源一耳。何則。人身中。有一大幹在於腹底潛伏運行。以掌心血下行。內經謂之衝脈。難經謂之腎間動脈。為發汗所激生悸。但在心下者。與桂枝甘草湯。在臍下者。與苓桂甘棗湯。是仲景微旨也。其悸惕惕然跳動者。精神之衰弱已。其劇者。曰奔豚氣。桂枝加桂湯所之也。桂枝善爽精神。順血運行。故鎮動氣。傷寒金匱中諸方。多出於桂枝湯變方。桂枝者。可謂眾藥之長矣。</p>
<p>犀角</p>
<p>犀有三種。山犀為上品。時珍曰。角者精靈之所聚也。胃為水穀之海。飲食藥物。必先受之。故犀角能解諸毒。能療諸血及驚狂斑痘之證。按時珍解毒之說。原於金匱犀角湯。療血之解。據千金犀角地黃湯。今試之。其功涼血熱。而旁利水毒。是以犀角地黃湯。治諸血妄行。醫學綱目犀角湯。治傷寒伏熱在心。怔沖驚悸不得眠者。千金月令。崔氏旋覆花湯。延年茯苓飲等。治腳氣。皆用之以理血分。豁胸膈。通小水也。</p>
<p>甘遂</p>
<p>舶來為佳。味辛烈性剽悍。泄水之聖藥也。凡水毒結胸中。非此不能破之。其氣直透所結處。故攻決為用。十棗湯。大陷胸湯。甘遂半夏湯。大黃甘遂湯。湊合之妙。可心觀矣。但其有毒不可輕用。凡駃藥除病。其功速然有弊。如甘遂之煩。桃花之渴。營實之下重是也。王璆百一選方。用甘遂。治腳氣上攻者。是亦可以備一時之需。猶戒之於脾胃虛羸之人。</p>
<p>大戟</p>
<p>味辛烈入腸胃。逐水氣。淮南子繆稱訓曰。大戟去水。葶藶愈脹。用之不節。反為病。宜臨症斟酌矣。</p>
<p>芎藭</p>
<p>字典。營香草又作芎。引本經注云。人頭穹窿。高天之象。此藥上引專治頭痛諸疾。故號芎藭。仲景方中。雖無治頭痛之文。此物氣味芳烈。而脂質。因推其理。能入血分。順血行。開氣鬱。案古方大抵芎歸併用。伍當歸芍藥散。治腹中急痛。合膠艾湯。治漏下。其單用者。為酸棗仁湯白朮散。一曰虛煩不得眠。儱酸棗仁。治血液枯燥不能眠。一曰心下毒痛。倍加芎藭。乃知藭不特調血分。又有破氣止痛之功。奔豚氣用芎。亦不外於此義。又案。歸甘平主和柔。芎辛溫主排散。猶仁與義相依。而全其德也。香川太仲。以氣味論優劣。恐不當矣。</p>
<p>木香</p>
<p>產於蕃不能詳其形狀。味苦辛氣芳烈。因知溫暖脾胃。鼓盪神機。開氣鬱。散血滯。故用之霍亂嘔瀉。痢疾裡急後重。及積聚血痛。要以香竄之氣。逞宣通之功也。與沉香俱屬氣劑。同途異轍。</p>
<p>薑黃</p>
<p>李時珍曰。薑黃鬱金蒁藥三物。形狀功用皆相近。古方五痹湯。用薑黃治風寒濕痹手臂痛。戴氏要訣云。入手臂。治痛。</p>
<p>香附子</p>
<p>李時珍曰。此乃近時日用要藥。而陶氏不識。諸注亦略。乃知古今藥物。興廢互有。則本草諸藥。亦不可以今之不識便廢棄之。遂至為之說。曰氣病之總司。女科之主帥。愚嘗熟檢此物。葉如老韭而硬。如劍背有稜。根大如羊棗而兩頭尖。是知此草。備功能於形狀。入胃中。助消化之機。透血分。祛汙濁之液。開愁郁。舒氣血。使運動得其宜。小便通。月水調。故配之香砂平胃散。治食傷。資消化。主沉香降氣湯。開壅滯。順升降。又用之腳氣衝心。方後云。常服則開胃消痰。散壅思食。時珍盛舉候沙之功。旁引精密。然皆他物之功。而非本分之所有也。</p>
<p>縮砂</p>
<p>縮砂白豆蔻益智草果。大抵形狀相似。性功亦相似。但各有專長。果之於瘧。蔻之於醒。縮益之健脾胃。散鬱塞。蓋皆取乎其芳香氣烈之性。世有用伊豆縮砂者。此物系高良薑實。以其名紅豆蔻。遂混用謬人。宜辨別。</p>
<p>烏藥</p>
<p>烏藥。辛溫香竄。能散諸氣。溫冷痛。伍烏藥順氣散。則治半身不遂。配四磨湯。開七情鬱結。合烏沉湯。祛一切滯氣。曾聞享保中。囑商帆。齎天台烏藥。種之於諸州。熊野山最繁殖。土人窄油為燈火。充之藥料。芳氣淡薄。不中用。蓋地氣令然也。</p>
<p>郁李仁</p>
<p>爾雅所稱。棠棣即是。碎核取仁。味微酸。本草曰。主治大腹水腫。面目浮腫。愚數試之。蓋似收斂血液。而輸之尿道者。利水之功。殊優於諸藥。若過量則瀉下。</p>
<p>獨活</p>
<p>本經曰。獨活一名羌活。以出羌地為上品。坊間宿根為獨活。新根呼羌活。蓋舊者其氣薄。新者其氣烈。生切浸水。則脂浮水面瞥瞥然。其莖葉有毛茸。可知其質含脂膏。故透徹關節。止疼痛。資陽氣。配之三和散。治疝氣。合羌活導滯湯。治腳氣。君沉香天麻湯。治癇症。儱小品葛根湯。治子癇。是皆由隊伍之功。又入膀胱。則利小便。入子宮。則除汙濁。用時宜選舶來上好。邦產力稍劣。</p>
<p>桑白皮</p>
<p>其功滲入肺中。治咳嗽喘滿。又治水氣填體中。發喘滿者。陶氏所謂利水道也。外臺崔氏。治腳氣遍身腫滿方。君桑根。聖濟桑白皮湯。治痢後身腫脹滿。頗有驗。</p>
<p>杏仁</p>
<p>李杲曰。散結潤燥。此說得之。思夫無脂膩。不能潤燥。無尖質不能散結。合桂枝。則透徹汗管。開毛竅。能發汗。伍麻黃石膏。則滲入肺中。治喘急息迫。又能驅停飲。消腫氣。配薏苡。則治風濕。並麻仁。則潤燥。本經曰。主咳逆上氣雷鳴。蓋今之哮喘。</p>
<p>柴胡</p>
<p>人皆知石膏大黃附子之多功用。而不知柴胡亦然也。蓋柴胡之用。徵諸先哲配合之旨。則主治邪滯於胸脅。而熱為往來者。聖惠聖濟。用之於腳氣。治心胸滿悶。楊仁齋用之於血熱。薛鎧用之於鎮肝。東垣取之升提。聖濟合之虛熱。其功甚博。他如補中益氣湯及逍遙散之類。升發精氣。開豁鬱塞。皆不離小柴胡湯之旨。世醫或安其平穩。不問得失。濫用謬誤。不可不審焉也。</p>
<p>黃耆</p>
<p>耆之功。大端有二矣。一則逐表濕。黃耆桂枝五物湯。烏頭湯。耆芍桂酒湯。桂枝加黃耆湯。皆能祛濡滯之邪。陶氏所謂風水家要藥是也。一則托內虛。黃耆建中湯。治裡虛。張元素所謂壯脾胃補諸虛是也。蓋此物健血液之運行。資水道之通利。此其所專長也。故能治為痹。為腫。為黃汗。為歷節疼痛。為衛虛漏汗者。然其性和緩。非配燥熱之品。則不能奏效。故得桂朮附酒之嚮導。而逞運行之力。長沙配合之微旨可察焉矣。因隊伍。各異其能。非一味兼眾功。顧在於用之如何耳。後世不達此意。裒合柴胡升麻。逢虛人必用黃耆。專於補虛。所以久服必生偏勝之害也。</p>
<p>鐵</p>
<p>本經載金石之功。多涉於方士服食致長生之說。至藥能。則略焉。不能徵之於此。按鐵之為物。頑塊剛戾。無味。又無臭氣。素問始說治狂疾驚癇之功。歷世遵用。其功顯然。予嘗用之乎腳氣及水腫。頗策偉勳。蓋其性鎮墜。功屬收斂。故能入血脈。泌別水氣。鎮動悸。降上攻。又有資運行之功。又助飲食消化之機。凡藏府及諸產。縱緩萎衰。而發水腫脹滿者為之要藥。但用之者。非得肯綮而執樞機。不能著其功。詳之於藥能考。不復贅焉。</p>
<p>旋覆花</p>
<p>仲景治心下痞硬。噫氣不除。用旋覆代赭石湯治婦人用旋覆湯。胡洽治痰飲在兩脅脹滿。用旋覆花丸。皆取驅飲。甄權曰。主水腫。逐大腹。開胃止嘔逆。不誣也。</p>
<p>羚羊角</p>
<p>此物邦產雖與漢產少異形狀。性功則同。先輩既辨之。本經逢原曰。諸角皆能入肝。散血解毒。而犀角為之首。蓋以精銳之氣。破鬱結之毒。故用之鎮癇。又用之眼疾。又用之利水飲。觀其隊伍。可知其功能焉。或云所舶之羚羊角者。山驢之角也。本草云。其角長尺余有節。特起環繞。如人手指握痕。得二十四節者。尤有神力。今所見即此物。蓋非山驢也。</p>
<p>巴豆</p>
<p>其性辛熱大毒。擾亂腸胃。盪滌水穀。走馬湯。白散。備急丸。紫丸之屬。藥陣中無有爭鋒者。乃大用之。則有斬關奪門之功。少用之。則有撫綏調中之妙。以故消堅摩積。通腸泄水。不可一日無者。然用之於腳氣。服後枯渴津液。耗疲天真。變症轉生。快藥之害。不可不畏而戒也。</p>
<p>古人以醫術。比軍術。誠然矣。病者敵也。不可不攻。而病勢有強弱。病候有虛實。或合或並。或緩或急。其症多端。乃應證處方。猶臨敵設謀。辨性用藥。猶命將攻敵。大黃附子巴豆石膏。則其性雄猛絕倫。即戡亂之將也。如漢高用韓彭。而功可取矣。否則。不止不能成功。或為大害矣。陳皮茯苓紫蘇黑豆。則其性平淡。不過督卒伍充防禦之役。然將卒相待。君臣相資。可以奏其全功。卒豈可闕焉哉。要之。善用將。則敵可陷。善用藥。則病可治。且藥石之於病。有單捷奏功者。有參伍成功者。有眾味戮力致功績者。是亦所謂知彼知我而可戰也。醫人非知病知藥。安得奏捷。摧陷廓清。策功於千載。其可不期乎哉。</p>

<h1>後序</h1>
<p>溫熱瘧痢。非不厲。然一匙可起。膈脹瘵癘。非不惡。然其斃有漸。唯腳氣則不然。寢啖如故。神色依舊。一朝衝心而絕者。比比有之。況於其誤治者乎。然則病之尤可畏。醫之尤可慎者。孰加於此。余平生於腳氣。無能治愈。百方研究。未得其肯綮。蓋古今名一而病而異。和漢證齊有因不同。是以處治無統。眾說紛紜。特吾邦山脅東門林一烏磐瀨玄策等。所論述。差為庶幾。但其學淺薄。其書鄙俚。不足傳信。每以為憾矣。吾友了庵今村君。以三世之學穎飽之才。深憫世之死於斯病者夥。著書以公於世。其辨論若犀之燭淵。若電之破暗。惜不使起前數子刮目稱快也。嗚呼臨至險之病。施至當之治。苟非能運古法。而應機變。出新奇而不離規矩。則未易臻此域也。餘風塵碌碌。愛莫助之。姑書所感以返之。</p>
<p><u>文久元年辛酉三月　淺田惟常識此</u></p>
