<header data-type="book">
<h1>診宗三昧</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1689">公元1689年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00003546">京都大學掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫人身猶天地也。天地失和。則宇宙為殃。人身失和。則四體為病。所以主之者。在天地惟君。人身惟心。故心為君主。君失其治。則宇宙災困。心失其養。則四體疾疢。其弭災困。惟相之調和燮理。治疾疢。亦惟醫之調和燮理。故曰。不為良相。即為良醫。然相失政則殘民。醫誤治則殘命。相之與醫。豈易言哉。蓋天地之九州。人身為九竅。天地之九野。人身為九臟。又石為之骨。土為之肉。江河為血液。草木為毫髮。道路為脈絡。風為氣。雨為汗。雷為聲。凡此則人身無不合於天地者。天地有災。莫不載聞道路。人身有疾。莫不見諸脈絡。故治疾猶要於測脈也。予當治邑江城。署多奇疾。遘識張路玉先生。其察脈辨證。輔虛祛實。應如鼓桴。因問之曰。人身脈絡眾多。取病何獨決兩腕。云。兩寸為心肺之關隘。一身之所主。猶君相之都邑。天下之總會。故天下災無不肇于都邑。一身病無不形於兩腕也。人之六脈。猶廷之六部。天下刑賞與罰。莫不由此。然其昂藏磊落。風論卓絕。迥越常識。其能運天時於指掌。決生死於須臾。又非泛泛可及知。無經天緯地之才者。不可與言醫也。以之為良相。又誰曰不可。後以脈學一書索序。曰診宗三昧。予雖不知醫。觀其論天地陰陽之常變。山川草木之脈理。靈機獨發。無不貫通造化。予所云為良相。信然。時因取召赴都。碌碌未遑諾就。今於職務瘁勞。嗽疾復生。思良醫不可得。因述數語。郵寄以志仰云。</p>
<p><u>康熙己巳即墨通家弟郭琇撰</u></p>

<h1>宗旨</h1>
<p>石頑老人跌坐繩床，有弟子進問醫學宗旨，老人憮然嘆曰；崇古聖人立一善政。後世輒增一害民之事。只今偽君子之風。良由文字。夭生民之患。咎始神丹，吾嘗縱觀萬類。無物不有成敗之機。人稟造化之靈。不能超乎萬類。地水火風。常交戰於一體。雖有志者。不無疾疢之危。一有小劇。即從事於醫藥。往往貪生失生。深可哀憫。逮如愚下無知。罔悟前車已覆之鑑。緣是不得正命者。日以繼踵。若夫未達不敢嘗者。自古及今。能幾人哉。當世之名於醫者。有三種大病。一種藉世醫之名。絕志聖學。株守家傳。恣行削伐。不顧本元。斯皆未聞大道之故。一種棄儒業醫。徒務博覽。不卒師傳。專事溫補。極詆苦寒。斯皆不達權變之故，一種欺世盜名，藉口給之便佞，賴聲氣之交通。高車炫術，曲體趨時。日殺無辜。以充食客之腸。竭厥心力。以博妻孥之笑，斯皆地獄種子。沉淪業識之故，此三種病。非藥可除。吾今伏醫王力。運六通智。開個教外別傳。普救夭札底微妙法門。汝等若有疑團。向前執問。但須迅掃胸中積染。向白地上從新點出個指下工夫。若能頓然超悟。立正宗風。何慮不直接南陽先師一脈乎。</p>

<h1>醫學</h1>
<p>或問醫藥之書。汗牛充棟。當以何者為先。答曰。醫林著作日繁。葛藤益甚。而識見愈卑。總皆竊取狐涎。蒐羅剩語。從無片言發自己靈者。吾故曰。教外別傳。不欲汝等墮諸坑塹也。近來留心斯道者。紛如泥沙。求其具夙根者。卒不可得。是不得不稍借文字。以為接引之階梯。但此奪權造化。負荷非輕。即有真心向道，以天下生民為己任者。入門宗派不慎。未免流入異端。向後雖遇明師檢點。頭緒決不能清。頭緒不清。審證必不能確。審證不確。下手亦無辣氣。安望其有轉日回天之勣乎。有志之士。務在先明靈樞素問傷寒論金匱要略四經。為醫門之正法眼藏。然皆義深辭簡，質奧難明。讀者不可隨人作解。以障己之悟門。或遇不能透脫處。撞著銀山鐵壁相似。於挨拶不入處。忽地頂門迸裂。自然洞若觀火。然後看古人註釋。卻不仍其紕繆。直待胸中學識堅固。隨意綜覽諸家。無往非受其益。即如劉張李朱。世推四大家。觀其立言之旨。各執一偏。河間之學。悉從岐伯病機十九條入首。故其立方。一於治熱。戴人專於撥亂除邪上起見。故汗吐下法。信手合轍。要知二子道行西北。地氣使然之故。不可強也。東垣志在培土以發育萬物。故常從事乎升陽。丹溪全以清理形氣為本。故獨長於濕熱。二子之道。雖皆行於東南。然一當顛沛。一當安和。補瀉升沉之理。不可不隨時遷變也。在學識粗淺者。不能委悉其全。即當因材教誨。指與個捷徑工夫。一般到家。惟脈學之言。自古至今。曾無一家可宗者。某不自揣。竊謂頗得其髓。惜不能力正習俗之訛。咸歸先聖一脈。是不能無愧於心。或云。夫子之道。昭乎日月。而尚有不辨明暗者。何也。曰。是某之機緣不契。亦眾生之機緣不契也。教乘所謂時節因緣。非可強也。吾聞佛法無邊。能度一切有情。而不能化導無緣。豈區區智力。能充牣法界。使悉歸心至教乎。今觀遊時師之門者。一皆羊質虎皮。問其所學。無非偽訣藥性等書。家弦戶誦。不過如斯。今古相仍。莫知其謬。蓋偽訣出自高陽生。昔戴起宗嘗著刊誤以闢其妄。而聾瞶之師。猶視以為資生至寶者。以其編成俚語。易於習誦也。藥性賦不知出自何人。乃誣妄東垣所著。尤為髮指。吾願祖龍有知。凡有二書處。請用從火。造福無涯矣。至於王氏脈經。楊（原誤全）氏太素。多拾經語。溷廁雜毒於中。偶一展卷。不無金屑入眼之憾。他如紫虛四診。丹溪指掌。攖寧樞要。瀕湖脈學。士材正眼等。靡不稱譽於時。要皆刻舟求劍。按圖索驥之說。迨夫得心應手之妙。如風中鳥跡。水上月痕。苟非智慧辨才，烏能測識其微於一毫端上哉。只今諸方雲集。向某問個脈法大義。吾當以三昧水滌除塵見。顯示個頭頭是道底活法悟門。不涉纖微陳跡。便可言下薦機。學者毋以余言為尚異也。要知冰即是水。別傳之義。原不外乎軒岐仲景祖祖相承之心印。但較當世所言七表八里之法。趨舍殊途。宗旨迥乎角立耳。</p>

<h1>色脈</h1>
<p>或問人身四肢百骸。臟腑經絡諸病。皆取決於三部。究竟脈屬何類。動是何氣。而診之之法。一如古聖所言否。答言。脈本營氣所主。為氣血之源。故能出入臟腑。交通經絡。行於肯綮之間。隨氣上下鼓動。其指下發現之端。或清或濁。或小或大。或偏小偏大。雖言稟賦不同。實由性靈所發。非可一途而取。縱古聖曲為摩寫形象。以推陰陽寒熱之機。然亦不過立法大義。明眼之士。貴在圓機活潑。比類而推。何難見垣一方人。蓋脈之顯著雖微。而所關最鉅。其受氣在混沌未分之先。流行在胚胎方結之際。天地萬物。靡不皆然。如璇璣玉衡。江海潮汐。此天地脈運之常也。白虹貫日。洪水滔天。此天地脈絡之病也。窮冬閃電。九夏雹冰。此天地氣交之亂也。天愁雨血。地震生毛。此天地非常之變也。至於夏暑冬寒。南暄北冽，乃天地陰陽之偏。人在氣交之中。脈象豈能無異。時值天地之變。診切安得不殊。試觀草木無心。其皮乾莖葉，皆有脈絡貫通。以行津液。頑石無知。亦中懷脈理。以通山澤之氣。適當亢熯陰霖。嚴寒酷暑。則木石皆為變色。況於人乎。姑以脈之常度言之。其始從中焦。循肺一經。而之三部。由中達外。為身中第一處動脈。較諸他處不同。古人雖有浮沉滑澀等辨論之法。然究其源。有形之脈。乃水穀之精所布。稟乎地也。其鼓運之象。是無形之氣所激。稟乎天也。而交通天地之氣。和合陰陽生生不息之機。此則稟乎氣交也。況此氣血之屬。原不可以方圓端倪。即如人之面目。雖五官無異。及細察之。千萬人中。從未有一雷同者。經脈別論云。診脈之道。觀人勇怯。骨肉皮膚。能知其情。以為診法。故上古使僦貸季。理色脈而通神明。夫色者神氣之所發。脈者血氣之所憑，是以能合色脈。萬舉萬全。得其旨。則心目昭如日月。洵非下士可得而擬議焉。陰陽應象論言。善診者。察色按脈。先別陰陽。審清濁而知部分。視喘息。聽聲音。而知病所苦。觀權衡規矩。而知病所主。按尺寸浮沉滑澀。而知病所生。以治則不失矣。此即能合色脈。萬舉萬全之互辭。然其所重。尤在適其性情。故診不知五過四失。終未免為粗工也。邇來病家亦有三般過差。一者匿其病情。令猜以驗醫之工拙。一者有隱蔽難言之病。則巧為飾詞。以瞞醫師。一者未脈先告以故，使醫溺於成說。略不加詳。雖老成名宿。未免反費推敲。多有自認錯謬。喻之不省者。苟非默運內照。鮮不因誤致誤也。坐次一人問曰。夫子每云。能合色脈。萬舉萬全。設或深閨窈窕。密護屏幃。不能望見顏色。又當何如。曰。是何言之不聰也。尼父有云。舉一隅。不以三隅反。但須驗其手腕色澤之蒼白肥瘠。已見一斑。至若肌之滑澀。理之疏密。肉之堅軟。筋之粗細。骨之大小。爪之剛柔。指之肥瘦。掌之厚薄。尺之寒熱。及乎動靜之安危。氣息之微盛。更合之以脈。參之以證。則氣血之虛實。情性之剛柔。形體之勞逸。服食之精粗。病苦之逆順。皆瞭然心目矣。復問五色之應五臟。愚所共知。余皆學人未諳。願卒聞之。以啟蒙昧。曰。某所謂色脈者。倉公五色診也。乃玉機不刊之秘。知者絕罕。其間奧妙。全在資稟色澤。以參脈證。如影隨形。守一勿失。靈樞所謂粗守形上守神者。即此義也。夫神者色也。形者質也。假令黃屬脾胃。若黃而肥盛。胃中有痰濕也。黃而枯癯。胃中有火也。黃而色淡。胃氣本虛也。黃而色黯。津液久耗也。黃為中央之色。其虛實寒熱之機。又當以飲食便溺消息之。色白屬肺。白而淖澤。肺胃之充也。肥白而按之綿軟。氣虛有痰也。白而消瘦。爪甲鮮赤。氣虛有火也。白而夭然不澤。爪甲色淡。肺胃虛寒也。白而微青。或臂多青脈。氣虛不能統血也。若兼爪甲色青。則為陰寒之證矣。白為氣虛之象。縱有失血發熱。皆為虛火。斷無實熱之理。蒼黑屬肝與腎。蒼而理粗。筋骨勞勩也。蒼而枯槁。營血之涸也。黑而肥澤。骨髓之充也。黑而瘦削。陰火內戕也。蒼黑為下焦氣旺。雖犯客寒。亦必蘊為邪熱。絕無虛寒之候也。赤屬心。主三焦。深赤色堅。素稟多火也。赤而䐃堅。營血之充也。微赤而鮮。氣虛有火也。赤而索澤。血虛火旺也。赤為火炎之色。只慮津枯血竭。亦無虛寒之患。大抵火形人。從未有肥盛多濕者。即有痰嗽。亦燥氣耳。若夫肌之滑澀。以徵津液之盛衰。理之疏密。以徵營衛之強弱。肉之堅軟。以徵胃氣之虛實。筋之粗細。以徵肝血之充餒。骨之大小。以徵腎氣之勇怯。爪之剛柔。以徵膽液之淳清。指之肥瘦。以徵經氣之榮枯。掌之厚薄。以徵臟氣之豐歉。尺之寒熱。以徵表裡之陰陽。論疾診尺云。尺膚熱甚。脈盛躁者。病溫也。其脈盛而滑者。病且出也。尺膚寒。其脈小者。泄少氣。斯皆千古秘密。一旦豁然。詢是臨機應用。信手拈來。頭頭是道底第一義。稔須著眼。</p>

<h1>脈位</h1>
<p>或問古人以三部分別臟腑。而大小二腸之脈。或隸之於兩寸。或隸之於兩尺。未審孰是孰非。願示一定之理。以解學人之惑。答曰。皆是也。皆非也。似是而非者也。緣經無顯論。所以擬議無憑。要知兩手三部。咸非臟腑定位。不過假道以行諸經之氣耳。觀靈樞經脈。雖各有起止。各有支別。而實一氣相通。故特藉手太陰一經之動脈。以候五臟六腑十二經之有餘不足。其經雖屬於肺。實為胃氣所主。以臟腑諸氣。靡不本之於胃也。五臟別論云。氣口何以獨為五臟主。胃者水穀之海。六腑之大源也。五味入口。藏於胃。以養五臟氣。氣口亦太陰也。是以五臟六腑之氣。皆出於胃。變見於氣口。經脈別論云。食氣入胃。經氣歸於肺。肺朝百脈。氣歸於權衡。權衡以平。氣口成寸。以決死生。營衛生會云。人食氣於谷。谷入於胃。以傳於肺。五臟六腑。皆以受氣。其清者為營。濁者為衛。營行脈中。衛行脈外。即此三段經文。可以默識其微矣。或言兩手六部。既非臟腑脈位。何脈要精微論中有逐部推之之法耶。曰。此即所謂假道以行諸經之氣耳。吳草廬曰。醫者以寸關尺。輒名之曰此心脈。此肺脈。此脾脈。此肝脈。此腎脈者。非也。五臟六腑。凡十二經。兩寸關尺。皆手太陰之一脈也。分其部位。以候他臟之氣耳。脈行始於肺。終於肝。而復會於肺。肺為出氣之門戶。故名氣口。而為六脈之大會。以佔一身焉。李瀕湖曰。兩手六部。皆肺之經脈。特取以候五臟六腑之氣耳。非五臟六腑所居之處也。即內經所指臟腑部位。乃是因五行之氣而推。火旺於南。故心居左寸。木旺於東。故肝居左關。金旺於西。故肺居右寸。土旺於中。而寄位西南。故脾胃居於右關。水旺於北。故居兩尺。人面南。司天地之化。則左尺為東北也。東北為天地始生之界。人在胎息之中。則兩腎先生。以故腎曰先天。在五行則天一生水。水性東行。膀胱為水注之器。腎司北方之令。又居下部。則其氣化從此而推也宜矣。然腎本有二。同居七節左右。右者獨非腎乎。獨不主精氣乎。獨不司閉蟄封藏之令乎。蓋人身同乎造物。凡呼吸運動。稟乎乾健。臟腑軀殼。合於坤輿。以分野言。則腎當箕尾燕冀之界。其地風高土厚。水都潛行地中。結成煤火。以司腐熟之權。</p>
<p>人應其氣。則三焦之火。從此交通。況三焦鼎峙兩腎之間。以應地運而右轉。是雖右尺偏相火。為生人生物之源。因有命門之號。其實兩腎皆有水火。原無分於彼此。以故岐伯於寸關二部。俱分左右。尺獨不分者。一皆主乎腎也。腎為先天一氣之始。故首言尺內兩旁。則季脅也。尺外以候腎。尺裡以候腹。腹者。大小二腸在其中矣。膀胱亦在其中矣。以經氣言之。平居無病之時。則二腸之氣。未嘗不隨經而之寸口也。以病脈言之。則二腸司傳化之任。病則氣化不順。而為留滯。又必驗之於尺矣。曷觀長沙論中。凡正陽明腑證。必尺中有力。方用承氣。此非尺裡以候腹之一驗乎。吾故曰。皆是也。皆非也。似是而非者也。蓋尺外者。尺脈之前半部也。尺裡者。尺脈之後半部也。前以候陽。後以候陰。人身背為陽。腎附於背。故外以候腎。腹為陰。故里以候腹也。東方生木。木應肝而藏於左。故借左關以候肝膽之氣。土居中位而旺於四季。獨以長夏濕土氣蒸之時。為之正令。故經以之分隸右關。所謂中附上。左外以候肝。內以候膈。右外以候胃。內以候脾。膈者。膈膜之謂。中焦所主。膽在中矣。中附上者。附尺之上而居於中。即關脈也。肝為陰中之陽臟。亦附近於背。故借左關之外以候肝。內以候膈。右關之前以候胃。後以候脾。脾胃皆中州之官。以臟腑言。則胃為陽。脾為陰。故外以候胃。內以候脾也。火生於木而應乎心。合乎脈。謂之牡臟。牡者陽也。左為陽。寸為陽中之陽。故宜候之左寸。金生於土而應乎肺。與胃一氣貫通。而主西方金氣。故經以之候於右寸。所云上附上。右外以候肺。內以候胸中。左外以候心。內以候膻中。膻中者。心主之宮城。胞絡之別名。胸中者。膈膜之上皆是也。上附上者。言上而又上。則寸口也。五臟之位。惟肺最高。故右寸之前以候肺。後以候胸中。心為虛靈之臟。而為君主之火。性喜上炎。又喜附木而燔。然其行令。皆屬胞絡。故左寸之前以候心。後以候膻中之氣也。詳本篇六部。但言五臟。不及六腑。而獨不遺其胃者。以經絡五臟。皆稟氣於胃。五臟之本也。臟氣不能自致於手太陰。必因胃氣乃至手太陰也。原夫兩手六部。雖皆肺經之一脈。而胃氣實為之總司。足陽明一經。與諸經經經交貫。為後天氣血之本源。即先天之氣。亦必從此而化。每見陰虛血耗之人。日服六味四物。不得陽生之力。則陰無由而長也。或問六部皆屬肺經。皆主胃氣。以推臟腑之病。敬聞命矣。而靈樞十二經。獨以人迎寸口言者。何也。曰。此辨別臟腑諸經之盛衰。及外內諸邪之綱主也。夫寸口即是氣口。又謂脈口。以配人迎。昔人所謂關前一分。人命之主。即此脈也。復問其後諸經之脈。又以三倍再倍一倍言者。此又何耶。曰。三陰三陽之謂也。逆其旨。則手足太陰謂之三陰。故盛者寸口大三倍於人迎。手足少陰謂之二陰。故盛者寸口大再倍於人迎。手足厥陰謂之一陰。故盛者寸口大一倍於人迎。在陽經則不然。其手足陽明謂之二陽。以二經所主津液最盛。故盛者人迎大三倍。手足太陽謂之三陽。以二經所主津液差少。故盛者人迎只大再倍。手足少陽謂之一陽。以二經所主津液最少。故盛者人迎僅大一倍也。或言人迎主表。氣口主裡。此言人迎主腑。氣口主臟者。何也。蓋人迎主表。氣口主裡。是主邪氣而言。人迎盛堅者傷於寒。氣口盛堅者傷於食也。此言人迎主腑。氣口主臟。是指經氣而言。原未嘗指腑臟也。以人迎主在津血。津血灌注六腑。而偏麗於左。氣口主在神氣。神氣鍾於五臟。而偏麗於右。此陰陽血氣流行之道。以上下言之。則寸為陽。尺為陰。以左右言之。則人迎為陽。氣口為陰。須知人之血氣。與流水無異。水性東行。若得風湧。即隨之而逝。不可拘於南北也。人身經脈營運亦然。雖血喜歸肝。氣喜行脾。而有左右之屬。若得其火。即隨之而上炎。得其風。則隨之而外擾。變幻之機。靡所不至。豈復拘於部分哉。</p>

<h1>脈象</h1>
<p>或問人身脈位。既無一定之法。但以指下幾微之象。推原臟腑諸病。益切茫無畔岸。願得顯示至教。開我迷云。答曰：汝等今日各從何來？或言某從西南平陸而來，或言某由西北渡水而來，或言某於東南仄徑遇師於不期之中。因諭之曰：良由汝等識吾居處，得吾形神。故不拘所從，皆可邂逅，否則覿面錯過矣。故欲識五臟諸病。須明五臟脈形。假如肝得乙木春升之令而生。其脈若草木初生。指下軟弱招招。故謂之弦，然必和滑而緩，是為胃氣。為肝之平脈。若弦實而滑，如循長竿，弦多胃少之脈也。若弦而急強。按之益勁。但弦無胃氣也。加以發熱。指下洪盛。則木槁火炎而自焚矣。所謂火生於木，焚木者，原不出乎火也。若微弦而浮，或略帶數，又為甲木之象矣。若弦脈見於人迎，肝氣自旺也。設反見於氣口，又為土敗木賊之兆。或左關雖弦，而指下小弱不振，是土衰木萎之象，法當培土榮木，設投伐肝之劑，則脾土愈困矣。若弦見於一二部，或一手偏弦，猶為可治。若六脈皆弦，而少神氣，為邪氣混一不分之兆。靈樞有云。人迎與寸口氣大小等者，病難已。氣者，脈氣也，凡脈得純臟之氣。左右六部皆然者。俱不治也。或肝病證劇六部絕無弦脈，是脈不應病，亦不可治。舉此以為諸脈之例，不獨肝臟為然也。心屬丙丁而應乎夏。其脈若火之燃薪。指下累累。微曲而濡。故謂之鉤。然必虛滑流利。是為胃氣。為心之平脈。若喘喘連屬。其中微曲。鉤多胃少之脈也。若瞥瞥虛大。前曲後居。但鉤無胃氣也。若虛大浮洪。或微帶數。又為丙火之象。故鉤脈見於左寸。包絡之火自旺也。或並見於右寸。火乘金位之兆。設關之外微曲。又為中宮有物阻礙之兆也。脾為己土而應於四季。雖稟中央濕土。常兼四氣之化而生長萬物。故其脈最和緩。指下紆徐而不疾不遲。故謂之緩。然於和緩之中。又當求其軟滑，是謂胃氣。為脾之平脈。若緩弱無力。指下如循爛綿。緩多胃少之脈也。若緩而不能自還。代陰無胃氣也。若脈雖徐緩而按之盈實。是胃中宿滯蘊熱。若緩而澀滯。指下模糊。按之不前。胃中寒食固結。氣道阻塞之故耳。若緩而加之以浮。又為風乘戊土之象矣。設或諸部皆緩。而關部獨盛。中宮濕熱也。諸部皆緩。寸口獨滑。膈上有痰氣也。諸部皆緩。兩尺獨顯弦狀。豈非肝腎虛寒。不能生土之候乎。肺本辛金而應秋氣。雖主收斂。而合於皮毛。是以不能沉實。但得浮弱之象於皮毛間。指下輕虛。而重按不散。故謂之毛。然必浮弱而滑。是為胃氣。為肺之平脈。若但浮不滑。指下澀澀然如循雞羽。毛多胃少之脈也。昔人以浮澀而短。為肺臟平脈、意謂多氣少血。脈不能滑。不知獨受營氣之先。營行脈中之第一關隘。若肺不傷燥。必無短澀之理。即感秋燥之氣。亦病肺耳。非肺氣之本燥也。若浮而無力。按之如風吹毛。但毛無胃氣也。加以關尺細數。喘嗽失血。陰虛陽擾。雖神丹不能復圖也。若毛而微澀。又為庚金氣予不足之象矣。若諸部皆毛。寸口獨不毛者。陽虛濁陰用事。兼挾痰氣於上也。諸部不毛。氣口獨毛者。胃虛不能納食。及為泄瀉之徵也。腎主癸水而應乎冬。脈得收藏之令。而見於筋骨之間。按之沉實，而舉指流利。謂之曰石。然必沉濡而滑。是謂胃氣。乃腎之平脈。若指下形如引葛。按之益堅。石多胃少之脈也。若弦細而勁。如循刀刃。按之搏指。但石無胃氣也。若按之雖石。舉之浮緊。又為太陽壬水受邪之象矣。若諸脈不石。左寸獨石者。水氣凌心之象。右關獨石者。沉寒傷胃之象也。可知五脈之中。必得緩滑之象。乃為胃氣。方為平脈。則胃氣之驗。不獨在於右關也。況內經所言。四時之脈。亦不出乎弦鉤毛石。是知五臟之氣。不出五行。四時之氣。亦不出於五行。故其論脈。總不出五行之外也。但當察其五脈之中。偏少衝和之氣，即是病脈。或反見他臟之脈，是本臟氣衰，他臟之氣乘之也。每見醫守六部之繩墨。以求臟腑之虛實者。是欲候其人。不識聲形笑貌，但認其居處之地也。若得其聲形笑貌，雖遇之於殊方逆旅，暗室隔垣，未嘗錯認以為他人也。猶之此經之脈見於他部，未嘗錯認以為他經之病也。至於臨病察脈，全在活法推求，如診富貴人之脈，與貧賤者之脈，迥乎不侔。貴顯之脈，常清虛流利，富厚之脈常和滑有神。賤者之脈。常濁壅多滯，貧者之脈。常蹇澀少神，加以勞勩則粗硬倍常。至若嘗富貴而後貧賤，則營衛枯槁，血氣不調。脈必不能流利和滑。久按索然。且富貴之證治。與貧賤之證治。亦截然兩途。富貴之人。恆勞心腎。精血內戕。病脈多虛。總有表裡客邪。不勝大汗大下。全以顧慮元氣為主。略兼和營調胃足矣。一切苦寒傷氣。皆在切禁。貧賤之人。藜藿充腸。風霜切體。內外未嘗溫養。筋骸素慣疲勞。臟腑經脈。一皆堅固。即有病苦憂勞。不能便傷神志。一以攻發為主。若參耆桂附等藥。咸非是輩所宜。惟嘗貴後賤。嘗富後貧之人。素享豐腴。不安粗糲。病則中氣先郁。非但藥之難應。參耆或不能支。反增鬱悒之患。在所必至。非特富貴之脈證。與貧賤懸殊。即形體之肥瘠。亦是不同。肥盛之人，肌肉豐厚。胃氣沉潛。縱受風寒。未得即見表脈。但須辨其聲音涕唾。便知有何客邪。設鼻塞聲重。涕唾稠黏。風寒所傷也。若雖鼻塞聲重。而屢咳痰不即應。極力咯之。乃得一線黏痰。甚則咽齶腫脹者。乃風熱也。此是肥人外感第一關鍵。以肥人肌氣充盛。風邪急切難入。因其內多痰濕。故傷熱最易。惟是酒客濕熱。漸漬於肉理。風邪易傷者有之。否則形盛氣虛。色白肉鬆。肌腠不實之故。不可以此膠執也。瘦人肌肉淺薄。胃氣外泄。即發熱頭痛。脈來浮數。多屬於火。但以頭之時痛時止。熱之忽重忽輕。又為陰虛火擾之候也。惟發熱頭痛。無間晝夜。不分重輕。人迎浮盛者。方是外感之病。亦有表邪兼挾內火者。雖發熱頭痛。不分晝夜輕重。而煩渴躁擾。臥寐不寧。皆邪火爍陰之候。雖宜辛涼發散。又當顧慮其陰。獨形瘦氣虛，顏白唇鮮。衛氣不固者。最易傷風。卻無內火之患矣。矧吾江南之人。元氣最薄。脈多不實。且偏屬東方。木火最盛。治之稍過。不無熱去寒起之慮。而膏粱之人。豢養柔脆。調適尤難。故善治大江以南病者。不難遍行宇內也。但要識其所稟之剛柔。情性之緩急耳。西北之人。慣拒風寒。素食煤火。外內堅固。所以脈多沉實。一切表裡諸邪。不傷則已。傷之必重。非大汗大下。峻用重劑。不能克應。滇粵之人。恆受瘴熱。慣食檳榔。表裡疏豁。所以脈多微數。按之少實。縱有風寒。只宜清解。不得輕用發散。以表藥性皆上升橫散。觸動瘴氣。發熱漫無止期。不至津枯血竭不已也。經云。西北之氣。散而寒之。東南之氣，收而溫之。所謂同病異治也。是以他方之人。必問方隅水土。旁觀者以為應酬套語。曷知其為察脈審證用藥之大綱。故操司命之權者。務宜外息諸緣。內心無惴。向生死機關下個竿頭進步工夫。自然不落時人圈繢。當知醫門學問。原無深奧難明處。但得悉其要領。活法推求。便可一肩擔荷。又何必蒐羅百氏。博覽群書。開鑿尋文解義之端。愈滋多歧之惑哉。</p>

<h1>經絡</h1>
<p>或問奇經諸脈。何以異於十二經。而以奇字目之。答曰。夫十二經者。經脈之常度也。其源各從臟腑而發。雖有枝別。其實一氣貫通。曾無間斷。其經皆直行上下。故謂之經。十五絡者。經脈之聯屬也。其端各從經脈而發。頭緒散漫不一。非若經脈之如環無端也。以其斜行左右。遂名曰絡。奇經為諸經之別貫。經經自為起止。各司前後上下之陰陽血氣。不主一臟一腑。隨邪氣之滿溢而為病。故脈之發現諸部。皆乖戾不和。是古聖以奇字稱之。非若經氣之常升。絡氣之常降也。所以者何。蓋緣經起中焦。恆隨營氣下行極而上。故其診在寸。絡起下焦。恆附營氣上行極而下。故其診在尺。雖經有明諭。而世罕究其旨者。通評虛實論云。經絡皆實。寸脈急而尺緩。言經中所受之邪。既隨經而盛於上，絡氣雖實。當無下陷之邪。則尺部不為之熱滿矣。次云絡氣不足。經氣有餘。脈口熱滿。尺部寒澀。有餘則熱滿。是指邪氣而言。非經氣之充實也。不足則寒澀。絡氣本虛之驗也。又云。經虛絡滿者。尺部熱滿。脈口寒澀。絡滿亦指邪氣。以經中之邪陷於絡。故尺部為之熱滿也。按金匱云。極寒傷經。極熱傷絡。蓋經受寒邪而發熱。絡受熱邪。而傳次溢入於奇經矣。然經絡之脈。雖各有疆界。各有司屬。各有交會。而實混然一區。全在大氣鼓運。營血灌注。方無偏勝竭絕之虞。經云。氣主煦之。血主濡之。又言邪在氣。氣為是動。邪在血。血為所生病。是以十二經脈。各以分隸氣血之所屬也。其經絡二字。方書中靡不並舉。曷知絡脈皆不離本經之部分。雖十二經外別有陰絡陽絡脾之大絡三種。而為病亦不殊本經之血氣也。蓋絡脈之病。雖略亞於本經。然邪伏幽隱。氣難升散。不似經脈之循經上下。易於開發也。而奇經又為十二經之約束。若臟氣安和。經脈調暢。八脈之形。無從而見也。即經絡受邪。不至滿溢。與奇經亦無預也。惟是經絡之邪熱滿。勢必溢入於奇經。所以越人有溝渠滿溢。諸經不能復拘之喻。試推傷寒之邪。皆從陽維而傳次三陽。從陰維而傳次三陰。未嘗循十二經次第也。或有臟氣內結，邪氣外溢。竟從奇經受病者有之。復問八脈之形象與病苦。可得聞乎。答曰。在經有也。吾嘗考諸經中。言衝脈直上直下而中央牢。病苦逆氣裡急。督脈直上直下而中央浮。病苦脊強。不得俯仰。任脈橫寸口邊。丸丸緊細而長。病苦少腹切痛。男子內結七疝。女子帶下瘕聚。陽維尺外斜上至寸而浮。病苦寒熱。溶溶不能自收持。陰維尺內斜上至寸而沉。病苦心痛。悵然失志。陽蹺寸口左右彈。浮而細綿綿。病苦陰緩而陽急。陰蹺尺內左右彈。沉而細綿綿。病苦陽緩而陰急。帶脈中部左右彈而橫滑。病苦腹痛。腰溶溶若坐水中。內經所言奇經之脈象如是。凡遇五癇七疝。項痙背強。發歇不時。外內無定之證。剛勁不倫。殊異尋常之脈。便於奇經中求之。或問奇經之奇字。昔人咸以奇偶之奇為訓。未審孰是。因語之曰。讀書須要自立主見。切勿浮澼澼地隨人腳跟。設泥昔人奇偶之說。不當有陰陽維蹺之配偶也。坐客皆舉手稱善。請著玉版。以為奇恆之別鑑。</p>

<h1>師傳三十二則</h1>
<p>或問診切之法。何者為宗。答曰。診切之法。心空為宗。得其旨。言下可了。不得其旨。雖遍讀五車。轉增障礙。只如日月。豈不淨耶。而盲者不見。是盲者過。非日月咎。客云。若爾則古人歷陳某脈某病。鑿鑿諸例。將有適於用乎。無適於用乎。答曰。大似向泥人祈禱。有時靈應。有時不靈應。客云。法法紕繆。安得滌除玄覽。參五色之診乎。答曰。除卻胸中落索。空空地向己靈上究去。了得浮脈之義。便了得沉脈之義。觸類旁通。諸脈皆了無余蘊矣。夫脈學者。大醫王之心印。非大智慧。大辨才。難以語此。吾嘗疾首生民。不聞炎黃之垂誨。永違仲景之至言。逮後唐處士千金方。直接長沙一脈。又以立法險峻。不易躋攀。乃致造詣日卑。風斯日下。今我不惜廣長。開陳聖教。為眾生運無盡燈。譬諸一燈燃百千燈。冥者皆明。明終無盡。庶不沒宿昔先師垂誨。吾當逐一為汝陳之。</p>
<p>【浮】浮脈者。下指即顯浮象。按之稍減而不空。舉之泛泛而流利。不似虛脈之按之不振。芤脈之尋之中空。濡脈之綿軟無力也。浮為經絡肌表之應。良由邪襲三陽經中。鼓搏脈氣於外。所以應指浮滿。在暴病得之。皆為合脈。然必人迎浮盛。乃為確候。若氣口反盛。又為痰氣逆滿之徵。否則其人平素右手偏旺之故。有始病不浮。病久而脈反浮者。此中氣虧乏。不能內守。反見虛痞之兆。若浮而按之漸衰。不能無假象發見之虞。傷寒以尺寸俱浮。為太陽受病。故凡浮脈主病。皆屬於表。但須指下有力。即屬有餘客邪。其太陽本經風寒營衛之辨。全以浮緩浮緊分別而為處治。其有寸關俱浮。尺中遲弱者。南陽謂之陽浮陰弱。營氣不足。血少之故。見太陽一經。咸以浮為本脈。一部。不逮。虛實懸殊。亦有六脈浮遲。而表熱裡寒。下利清穀者。雖始病有熱。可驗太陽。其治與少陰之虛陽發露不異。又有下後仍浮。或兼促兼弦兼緊兼數之類。總由表邪未盡。乃有結胸咽痛。脅急頭疼之變端。詳結胸臟結及痞之證。皆為下早。表邪內陷所致。究其脈雖變異。必有一部見浮。死生虛實之機。在關上沉細緊小之甚與不甚耳。惟陽明腑熱攻脾。脈雖浮大。心下反硬者。急需下之。所謂從證不從脈也。其在三陰。都無浮脈。惟陰盡復陽。厥愈足溫而脈浮者。皆為愈證。故太陰例有手足溫。身體重而脈浮者。少陰例有陽微陰浮者。厥陰例有脈浮為欲愈。不浮為未愈者。須知陽病浮遲兼見里證。合從陰治。陰病脈浮。證顯陽回。合從陽治。幾微消息。當不越於聖度也。近世陶尚文浮中沉三法。舉世共推。雖卓立己見。究其所云。不論脈之浮沉遲數。但以按之無力。重按全無者。便是陰證。曷知按之無力者。乃虛散之脈。與浮何預哉。逮夫雜證之脈浮者。皆為風象。如類中風痱之脈浮。喘咳痞滿之脈浮。煩瞑衄血之脈浮。風水皮水之脈浮。消癉便血之脈浮。泄瀉膿血之脈浮。如上種種。或與證相符。或與證乖互。咸可治療。雖內經有腸澼下白沫。脈沉則生。脈浮則死之例。然風木乘脾之證。初起多有浮脈。可用升散而愈者。當知陰病見陽脈者生。非若沉細虛微之反見狂妄躁渴。難於圖治也。</p>
<p>【沉】沉脈者。輕取不應。重按乃得。舉指減小。更按益力。縱之不即應指。不似實脈之舉指愊愊。伏脈之匿於筋下也；沉為臟腑筋骨之應。蓋緣陽氣式微。不能統運營氣於表。脈顯陰象而沉者。則按久愈微。若陽氣鬱伏。不能浮應衛氣於外。脈反伏匿而沉者。則按久不衰，陰陽寒熱之機。在乎纖微之辨。傷寒以尺寸俱沉為少陰受病。故於沉脈之中辨別陰陽。為第一關捩。若始病不發熱。無頭痛。而手足厥冷脈沉者。此直中陰經之寒證也。若先曾發熱頭痛。煩擾不寧。至五七日後。而變手足厥冷。躁不得寐而脈沉者。此厥深熱深。陽邪陷陰之熱證也。亦有始本陽邪。因汗下太過。而脈變沉遲。此熱去寒起之虛證也。有太陽證下早。胸膈痞硬。而關上小細沉緊者。此表邪內陷。陽分之結胸也。若能食自利。乃陽邪下陷。陰分之臟結矣。有少陰病自利清水。口乾腹脹。不大便而脈沉者。此熱邪陷於少陰也。有少陰病始得之。反發熱脈沉者。麻黃附子細辛湯溫之。是少陰而兼太陽。即所謂兩感也。此與病發熱頭痛。脈反沉。身體痛。當溫之。宜四逆湯之法。似是而實不同也。有寸關俱浮。而尺中沉遲者。此陽證夾陰之脈也。若沉而實大數盛。動滑有力。皆為陽邪內伏。沉而遲細微弱。弦澀少力。皆屬陰寒無疑。有冬時伏邪。發於春夏。煩熱躁渴。而反脈沉。足冷。此少陰無氣。毒邪不能發出陽分。下虛死證也。凡傷寒溫熱。時疫感冒。得汗後脈沉。皆為愈證。非陽病陰脈之比。有內外有熱。而脈沉伏。不數不洪。指下澀小急疾。無論傷寒雜病。發於何時。皆為伏熱。不可以其脈之沉伏。而誤認陰寒也。至如腸澼自利而脈沉。寒疝積瘕而脈沉。歷節痛痹而脈沉。伏痰留飲而脈沉。石水正水而脈沉。胸腹結痛而脈沉。霍亂嘔吐而脈沉。鬱結氣滯而脈沉。咸為應病之脈。若反浮大虛澀。或雖沉而弦細堅疾。為胃氣告匱。未可輕許以治也。</p>
<p>【遲】遲脈者。呼吸定息。不及四至。而舉按皆遲。不似澀脈之參伍不調。緩脈之去來徐緩也。遲為陽氣不顯。營氣自和之象。故昔人皆以隸之虛寒。而人迎主寒濕外襲。氣口主積冷內滯。又以浮遲為表寒。沉遲為裡寒。遲澀為血病。遲滑為氣病。此論固是。然多有熱邪內結。寒氣外郁。而見氣口遲滑作脹者。詎可以脈遲概謂之寒。而不究其滑澀之象。虛實之異哉。詳仲景有陽明病脈遲。微惡寒而汗出多者。為表未解。脈遲頭眩腹滿者。不可下。有陽明病脈遲有力。汗出不惡寒。身重喘滿。潮熱便硬。手足濈然汗出者。為外欲解。可攻其里。又太陽病脈浮。因誤下而變遲。膈內拒痛者為結胸。若此皆熱邪內結之明驗也。當知遲脈雖現表證。亦屬臟氣不充。不能統攝百骸。所以邪氣留連不解。即有腹滿而頭眩脈遲。陽分之患未除。禁不可下。直待里證悉具。然後下之。聖法昭然，豈不詳審慎重乎。遲為陽氣失職。胸中大氣不能敷布之候。詳遲為在臟一語。可不顧慮臟氣之病乎。</p>
<p>【數】數脈者。呼吸定息六至以上。而應指急數。不似滑脈之往來流利。動脈之厥厥動搖。疾脈之過於急疾也。數為陽盛陰虧。熱邪流薄於經絡之象。所以脈道數盛。火性善動而躁急。故傷寒以煩躁脈數者為傳。脈靜者為不傳。有火無火之分也。即經盡欲解。而脈浮數。按之不芤。其人不虛。不戰汗出而解。則知數而按之芤者。皆為虛矣。又陽明例云。病人脈數。數為熱。當消穀引食。而反吐者。以發汗。令陽氣微。膈內虛。脈乃數也。數為客熱。不能消穀。胃中虛冷。故吐也。又胃反而寸口脈微數者。為胸中冷。又脈陽緊陰數為欲吐。陽浮陰數亦吐。胃反脈數。中氣大虛。而見假數之象也。人見脈數。悉以為熱。不知亦有胃虛。及陰盛拒陽者。若數而浮大。按之無力。寸口脈細者。虛也。經曰。脈至而從。按之不鼓。諸陽皆然。病熱而脈數。按之不鼓甚者。乃陰盛拒陽於外而致病。非熱也。形證似寒。按之鼓擊於指下者。乃陽盛拒陰而生病。非寒也。丹溪云。脈數盛大。按之而澀。外有熱證者。名曰中（平聲）寒。蓋寒留血脈。外證熱而脈亦數也。凡乍病脈數。而按之緩者為邪退。久病脈數。為陰虛之象。瘦人多火。其陰本虛。若形充色澤之人脈數。皆痰濕鬱滯。經絡不暢而蘊熱。其可責之於陰乎。若無故脈數。必生癰疽。如數實而吐臭痰者為肺癰。數虛而咳涎沫者為肺痿。又歷考數脈諸例。有云數則煩心者。有云滑數心下結熱者。皆包絡火旺而乘君主之位也。有云細數陰虛者。水不制火。真陰虧損也，有云數為在腑者。陽邪干陽。臟氣無預也。有云數則為寒者。少火氣衰。壯火食氣也，大抵虛勞失血。喘嗽上氣。多有數脈。但以數大軟弱者為陽虛。細小弦數者為陰虛。非若傷寒衄血之脈浮大。為邪伏於經。合用發汗之比。諸凡失血。脈見細小微數無力者為順。脈數有熱。及實大弦勁急疾者為逆。若乍疏乍數。無問何病。皆不治也。</p>
<p>【滑】滑脈者。舉之浮緊。按之滑石。不似實脈之愊愊應指。緊脈之往來勁急。動脈之見於一部。疾脈之過於急疾也。仲景云。翕奄沉。名曰滑。滑者緊之浮名也。言忽浮忽沉。形容流利之狀。無以過之。滑為多血少氣之脈。而昔人又以滑大無力。為內傷元氣。曷知滑脈雖有浮沉之分。卻無無力之象。蓋血由氣生。若果氣虛。則鼓動之力先微。脈何由而滑耶。惟是氣虛不能統攝陰火。而血熱脈滑者有之。嘗考諸內經。有脈滑曰病風。緩而滑曰熱中。脈浮而滑曰新病。脈盛滑堅者曰病在外。脈弱以滑是為胃氣。滑者陰氣有餘也。則知滑脈之病。無虛寒之理。他如傷寒溫熱時行等病。總以浮滑而濡者為可治。故先師論脈。首言大浮數動滑為陽。而雜病以人迎浮滑為風痰。緩滑為中風。氣口緩滑為熱中。滑數為宿食。尺中弦滑。為下焦蓄血。又嘔吐而寸口遲滑，為胸中實。下利而關上遲滑。為下未盡。厥逆而脈滑。為里有實。詳此則滑脈之病。可不言而喻。即經有滑者陰氣有餘一語。是指陰邪搏陽而言。豈以陰氣有餘。多汗身寒之病。便可目為血多。又以滑大之脈。牽合無力。而為內傷元氣乎。平人肢體豐盛。而按之綿軟。六脈軟滑。此痰濕漸漬於中外。終日勞役。不知倦怠。若安息則重著痠疼矣。夫脈之滑而不甚有力者。皆浮滑緩滑濡滑微滑之類。終非無力之比。滑為血實氣壅之脈。悉屬有餘。婦人身有病而脈和滑者為孕。臨產脈滑疾者曰離經。若滑而急強。辟辟如彈石。謂之腎絕。滑不直手。按之不可得。為大腸氣予不足。以其絕無和緩胃氣。故經予之短期。</p>
<p>【澀】澀脈者。指下澀滯不前。內經謂之參伍不調。叔和喻以輕刀刮竹。通真子譬之如雨沾沙。長沙又以瀉漆之絕。比擬雖殊。其義則一。不似遲脈之指下遲緩。緩脈之脈象紆徐。濡脈之來去綿軟也，良由津血虧少。不能濡潤經絡，所以澀澀不調。故經有脈澀曰痹。寸口諸澀亡血。澀則心痛。尺熱脈澀為懈㑊。種種皆陰血消亡。陽氣有餘。而為身熱無汗之病。亦有痰食膠固中外。脈道阻滯。而見澀數模糊者。陰受水穀之害也。金匱云。寸口脈浮大。按之反澀。尺中亦微而澀。知有宿食。有發熱頭痛。而見浮澀數盛者。陽中霧露之氣也。霧傷皮腠。濕流關節。總皆脈澀，但兼浮數沉細之不同也。有傷寒陽明腑實。不大便而脈澀。溫病大熱而脈澀。吐下微喘而脈澀。水腫腹大而脈澀。消癉大渴而脈澀。痰證喘滿而脈澀。病在外而脈澀。婦人懷孕而脈澀。皆證脈相反之候。間有因胎病而脈澀者。然在二三月時有之。若四月胎息成形之後。必無虛澀之理。平人無故脈澀。為貧窘之兆。尺中蹇澀則艱於嗣。金匱云。男子脈浮弱而澀則無子。精氣清冷。其有脈塞而鼓如省客。左右旁至如交漆。按之不得如頹土。皆乖戾不和。殊異尋常之脈。故素問列之大奇。</p>
<p>【虛】虛脈者。指下虛大而軟。如循雞羽之狀。中取重按。皆弱而少力。久按仍不乏根。不似芤脈之豁然中空。按久漸出，澀脈之軟弱無力。舉指即來。散脈之散漫無根。重按久按。絕不可得也。虛為營血不調之候。叔和以遲大而軟為虛。每見氣虛喘乏。往往有虛大而數者。且言血虛脈虛。獨不詳仲景脈虛身熱。得之傷暑。東垣氣口脈大而虛者。為內傷於氣。若虛大而時顯一澀。為內傷於血。凡血虛之病。非顯澀弱。則弦細芤遲。如傷暑脈虛為氣虛。弦細芤遲為血虛。虛勞脈極虛芤遲。或尺中微細小者。為亡血失精。男子平人脈虛弱微細者。善盜汗出。則氣血之分了然矣。慎齋有云。脈洪大而虛者防作瀉。可知虛脈多脾家氣分之病。大則氣虛不斂之故。經云。脈氣上虛尺虛。是謂重虛。病在中。脈虛難治。仲景有脈虛者不可吐。腹滿脈虛復厥者不可下。脈陰陽俱虛。熱不止者死。可見病實脈虛。皆不易治。蓋虛即是毛。毛為肺之平脈。若極虛而微。如風吹毛之狀。極虛而數。瞥瞥如羹上肥者。皆為肺絕之兆也。惟癲疾之脈虛為可治者。以其神出舍空。可行峻補。若實大為頑痰固結。搜滌不應。所以為難耳。</p>
<p>【實】實脈者。重濁滑盛。相應知參舂。而按之石堅。不似緊脈之迸急不和。滑脈之往來流利。洪脈之來盛去衰也。實為中外壅滿之象。經云。邪氣盛則實。非正氣本充之謂。即此一語。可為實脈之總歸。夫脈既實矣。諒虛證之必無也。證既實矣。諒假象之必無也。但以熱邪亢極而暴絕者有之。其為病也。實在表則頭痛身熱。實在裡則䐜脹腹滿。大而實者。熱由中發。細而實者。積自內生。在傷寒陽明病。不大便而脈實則宜下。下後脈實大。或暴微欲絕。熱不止者死。厥陰病。下利脈實者。下之死。病脈之逆。從可見矣。蓋實即是石。石為腎之平脈。若石堅太過。辟辟如彈石狀。為腎絕之兆矣。其消癉鼓脹堅積等病。皆以脈實為可治。若泄而脫血。及新產驟虛。久病虛羸。而得實大之脈。良不易治也。</p>
<p>【弦】弦脈者。端直以長。舉之應指。按之不移。不似緊脈之狀如轉索。革脈之勁如弓弦也。弦為風木主令之脈。故凡病脈弦。皆陽中伏陰之象。虛證誤用寒涼。兩尺脈必變弦。胃虛冷食停滯。氣口多見弦脈。傷寒以尺寸俱弦。為少陽受病。少陽為樞。為陰陽之交界。如弦而兼浮兼細。為少陽之本脈。弦而兼數兼緩。即有入府傳陰之兩途。若弦而兼之以沉澀微弱。得不謂之陰乎。經言寸口脈弦者。脅下拘急而痛。令人嗇嗇惡寒。又傷寒脈弦細。頭痛發熱者屬少陽。此陽弦頭痛也。痛必見於太陽。陽脈澀。陰脈弦。法當腹中急痛。此陰弦腹痛也。痛必見於少腹。皆少陽部分耳。少陰病欲吐不吐。始得之。手足寒。脈弦遲者。此胸中實。當吐之。若膈上有寒飲乾嘔者。不可吐。急溫之。詳此。又不當以兼沉兼澀概謂之陰。弦遲為胸中實也。審證合脈。活法在人。貴在心手之靈活耳。歷診諸病之脈。屬邪盛而見弦者。十常二三。屬正虛而見弦者。十常六七。其於他脈之中。兼見弦象者。尤復不少。在傷寒表邪全盛之時。中有一部見弦。或兼遲兼澀。便是夾陰之候。客邪雖盛。急需溫散。汗下猛劑。咸非所宜。即非時感冒。亦宜體此。至於素有動氣怔忡。寒疝腳氣。種種宿病。而挾外感之邪。於浮緊數大之中。委曲搜求。弦象必隱於內。多有表邪脈緊。於緊脈之中。按之漸漸減小。縱之不甚鼓指。便當弦脈例治。於浮脈之中。按之斂直。滑脈之中。按之搏指。並當弦脈類看。於沉脈之中。按之引引。澀脈之中。按之切切。皆陰邪內伏。陽氣消沉。不能調和百脈。而顯弦直之狀。良非客邪緊盛之兆。迨夫傷寒壞病。弦脈居多。虛勞內傷。弦常過半。所以南陽為六殘賊之首推也。他如病瘧寒飲。一切雜病。皆有弦脈。按金匱云。瘧脈自弦。弦數多熱。弦遲多寒。弦小堅者下之瘥。弦遲者可溫之。弦緊者可發汗針灸也。浮大者可吐之。弦數者風發也。以飲食消息主之。飲脈皆弦。雙弦者寒也。偏弦者飲也。弦數者有寒飲。沉弦者懸飲內痛。他如腹痛鼓脹。胃反胸痹。癥瘕蓄血。中暍傷風。霍亂滯下。中氣鬱結。寒熱痞滿等病。種種皆有弦脈。總由中氣少權。土敗木賊所致。但以弦少弦多。以證胃氣之強弱。弦實弦虛。以證邪氣之虛實。浮弦沉弦。以證表裡之陰陽。寸弦尺弦。以證病氣之升沉。無論所患何證。兼見何脈。但以和緩有神。不乏胃氣。咸為可治。若弦而勁細。如循刀刃。弦而強直。如新張弓弦。如循長竿。如按橫格。皆但弦無胃氣也。所以虛勞之脈。多寸口數大。尺中弦細搏指者。皆為損脈。盧扁復生奚益哉。</p>
<p>【緩】緩脈者。從容和緩。不疾不徐。似遲而實未為遲。不似濡脈之指下綿軟。虛脈之瞥瞥虛大。微脈之微細而濡。弱脈之細軟無力也。仲景云。陽脈浮大而濡。陰脈浮大而濡。陰脈與陽脈同等者。名曰緩也。傷寒以尺寸俱微緩者。為厥陰受病。厥陰為陰盡復陽之界。故凡病後得之。咸為相宜。其太陽病。發熱頭痛。自汗脈浮緩者。為風傷衛證。以其自汗體疏。脈自不能緊盛也。緩為脾家之本脈。然必和緩有神。為脾氣之充。若緩甚而弱。為脾氣不足。緩而滑利。則胃氣衝和。昔人以浮緩為傷風。沉緩為寒濕。緩大為風虛。緩細為痹濕。又以浮緩為風中於陽。沉緩為濕中於陰。蓋濕脈自緩。得風以播之。則兼浮緩。寒以束之。則兼沉緩。若中於陰。則沉細微緩。以厥陰內藏風木之氣。故脈雖沉。而有微緩之象也。</p>
<p>【洪】洪脈者。既大且數。指下累累如連珠。如循琅玕。而按之稍緩。不似實脈之舉按愊愊。滑脈之軟滑流利。大脈之大而且長也。昔人以洪為夏脈。內經以鉤為夏脈。遂有鉤即是洪之說。以其數大而濡。按之指下委曲旁出。固可謂之曰鉤。火性虛炎。所以來盛去衰。按之不實。然痰食瘀積阻礙脈道。關部常屈曲而出。此與夏脈微鉤。似同而實不類也。洪為火氣燔灼之候。仲景有服桂枝湯。大汗出。大煩渴不解。脈洪為溫病。溫病乃冬時伏氣所發。發於春者為溫病。發於夏者為熱病。其邪伏藏於內而發出於表。脈多浮洪而混混不清。每多盛於右手。亦有動滑不常者。越人所謂行在諸經。不知何經之動也。當此不行內奪。反與解表。不至熱交營度不已也。若溫熱時行。證顯煩渴昏熱。脈反沉細小弱者。陽病陰脈也。有陽熱亢極。而足冷尺弱者。為下虛之證。皆不可治。又屢下而熱勢不解。脈洪不減。謂之壞病。多不可救。洪為陽氣滿溢。陰氣垂絕之脈。故藹藹如車蓋者為陽結。脈浮而洪。身汗如油為肺絕。即雜病脈洪。皆火氣亢甚之兆。若病後久虛。虛勞失血，泄瀉脫元。而見洪盛之脈。尤非所宜。惟憫濁下賤。脈多洪實。又不當以實熱論也。</p>
<p>【微】微脈者。似有若無。欲絕非絕。而按之稍有模糊之狀。不似弱脈之小弱分明。細脈之纖細有力也。微為陽氣衰微之脈。經言寸口諸微亡陽。言諸微者。則輕取之微。重按之微。氣口之微。尺中之微。皆屬氣虛。故所見諸證。在上則為惡寒多汗少氣之患。在下則有失精脫瀉少食之虞。總之與血無預。所以縈縈如蜘蛛絲者。仲景謂陽氣之衰。嘗見中風卒倒而脈微。暑風卒倒而脈微。皆為虛風之象。其脈多兼沉緩。若中寒卒倒而脈微。為陰邪暴逆。所以微細欲絕也。而傷寒尺寸俱微緩。為厥陰受病。病邪傳至此經。不特正氣之虛。邪亦向衰之際。是以俱虛。不似少陰之脈微細。但欲寐耳。詳二經之脈。同一微也。而有陰盡復陽。陽去入陰之異。即太陽經病之脈微。而有發熱惡寒。熱多寒少。脈微為無陽者。有面有熱色。邪未欲解，而脈微者。有陰陽俱停。邪氣不傳。而脈反微者。若以微為虛象。不行攻發。何以通邪氣之滯耶。必熱除身安而脈微。方可為欲愈之機。若太陽證具。而見足冷尺微。又為下焦虛寒之驗。可不建其中氣。而行正發汗之例乎。</p>
<p>【緊】緊脈者。狀如轉索。按之雖實而不堅。不似弦脈之端直如弦。牢革之強直搏指也。緊為諸寒收引之象。亦有熱因寒束。而煩熱拘急疼痛者。如太陽寒傷營證是也。然必人迎浮緊。乃為表證之確候。若氣口緊堅。又為內傷飲食之兆。金匱所謂脈緊頭痛。風寒腹中有宿食也。仲景又云。曾為人所難。緊脈從何而來。假令亡汗若吐。以肺裡寒。故令脈緊也。假令咳者。坐飲冷水。故令脈緊也。假令下利。以胃中寒冷。故令脈緊也。詳此三下轉語。可謂曲盡緊脈為病之變端。而少陰經中。又有病人脈陰陽俱緊。反汗出者。亡陽也。此屬少陰。法當咽痛而復吐利。是謂緊反入里之微驗。又少陰病脈緊。至七八日。下利脈暴微。手足反溫。脈緊反去。為欲解也。雖煩。下利必自愈。此即緊去人安之互辭。辨不可下脈證中。則有脈來陰陽俱緊。惡寒發熱。則脈欲厥。厥者。脈初來大。漸漸小。更來漸漸大。是其候也。此亦緊反入里之互辭。因誤下而陽邪內陷。欲出不出。有似厥逆進退之象。故言欲厥。脈雖變而緊狀依然。非營衛離散。乍大乍小之比。而脈法中。復有寸口脈微。尺脈緊。其人虛損多汗。知陰常在。絕不見陽之例。可見緊之所在。皆陽氣不到之處。故有是象。夫脈按之緊如弦。直上下行者痙。若伏堅者為陰痙。總皆經脈拘急。故有此象。若脈至如轉索。而強急不和。是但緊無胃氣也。豈堪尚引日乎。</p>
<p>【弱】弱脈者。沉細而軟。按之乃得。舉之如無。不似微脈之按之欲絕。濡脈之按之若無。細脈之浮沉皆細也。弱為陽氣衰微之候。夫浮以候陽。今浮取如無。陽衰之明驗也。故傷寒首言弱為陰脈。即陽經見之。亦屬陽氣之衰。經言寸口脈弱而遲。虛滿不能食。寸口脈弱而緩。食卒不下。氣填膈上。上二條。一屬胃寒。一屬脾虛。故皆主乎飲食。又形作傷寒。其脈不弦緊而弱。太陽中暍。身熱疼重而脈微弱。可見脈弱無陽。必無實熱之理。只宜辨析真陽之虛。與胃氣之虛。及夏月傷冷水。水行皮中所致耳。在陰經見之。雖為合脈。然陽氣衰微已極。非峻溫峻補。良難春回寒谷也。惟血痹虛勞。久嗽失血。新產及老人久虛。脈宜微弱。然必弱而和滑。可卜胃氣之未艾。若少壯暴病而見脈弱。咸非所宜。即血證虛證。脈弱而兼之以澀。為氣血交敗。其能榮爨下之薪乎。</p>
<p>【長】長脈者。指下迢迢而過於本位。三部舉按皆然。不似大脈之舉之盛大。按之少力也。傷寒以尺寸俱長。為陽明受病。內經又以長則氣治。為胃家之平脈。胃為水穀之海。其經多氣多血。故顯有餘之象。然必長而和緩。方為無病之脈。若長而浮盛。又為經邪方盛之兆。亦有病邪向愈而脈長者。仲景云。太陰中風。四肢煩疼。陽脈微。陰脈澀。而長者為欲愈。蓋風本陽邪。因土虛木乘。陷於太陰之經。而長脈見於微澀之中。疼熱發於諸陽之本。詢為欲愈之徵。殊非病進之謂。且有陰氣不充。而脈反上盛者。經言寸口脈中手長者。曰足脛痛是也。此與秦越人遂上魚為溢。遂入尺為覆。及上部有脈。下部無脈。關格吐逆。不得小便。同脈異證。不可與尺寸俱長之脈。比例而推也。</p>
<p>【短】短脈者。尺寸俱短。而不及本位。不似小脈之三部皆小弱不振。伏脈之一部獨伏匿不前也。經云。短則氣病。良由胃氣厄塞。不能條暢百脈。或因痰氣食積。阻礙氣道。所以脈見短澀促結之狀。亦有陽氣不充而脈短者。經謂寸口脈中手短者。曰頭痛是也。仲景云。汗多重發汗。亡陽譫語。脈短者死。脈自和者不死。又少陰脈不至。腎氣絕。為屍厥。傷寒六七日。大下後。寸脈沉而遲。手足厥冷。下部脈不至。咽喉不利。唾膿血者難治。戴同父云。短脈只當責之於尺寸。若關中見短。是上不通寸為陽絕。下不通尺為陰絕矣。曷知關部從無見短之理。昔人有以六部分隸而言者。殊失短脈之義。</p>
<p>【大】大脈者。應指滿溢。倍於尋常。不似長脈之但長不大。洪脈之既大且數也。大脈有虛實陰陽之異。經云。大則病進。是指實大而言。仲景以大則為虛者。乃盛大少力之謂。然又有下利脈大者為未止。是又以積滯未盡而言。非大則為虛之謂也。有六脈俱大者。陰不足。陽有餘也。有偏大於左者。邪盛於經也。偏大於右者。熱盛於內也。亦有諸脈皆小。中有一部獨大者。諸脈皆大。中有一部獨小者。便以其部。斷其病之虛實。且有素稟六陽。或一手偏旺偏衰者。又不當以病論也。凡大而數盛有力。皆為實熱。如人迎氣口大緊以浮者。其病益甚在外。氣口微大。名曰平人。其脈大堅以澀者脹。乳子中風熱。喘鳴肩息者。脈實大而緩則生。急則死。乳子。是指產後以乳哺子而言。非嬰兒也。產後脈宜懸小。最忌實大。今證見喘鳴肩息。為邪氣暴逆。又須實大而緩。方與證合。若實大急強。為邪勝正衰。去生遠矣。此與乳子而病熱。脈弦小。手足溫則生。似乎相左。而實互相發明也。傷寒熱病。譫語煩渴。脈來實大。雖劇可治。得汗後熱不止。脈反實大躁疾者死。溫病大熱不得汗。脈大數急強者死。細小虛澀者亦死。厥陰病下利脈大者虛也。以其強下之也。陰證反大發熱。脈虛大無力。乃脈證之變。內證元氣不足。發熱脈大而虛。為脈證之常。虛勞脈大，為血虛氣盛。金匱云。男子平人脈大為勞。氣有餘便是火也。所以瘦人胸中多氣而脈大。病久氣衰而脈大。總為陰陽離絕之候。孰謂大屬有餘。而可恣行攻伐哉。若脈見乍大乍小。為元神無主。隨邪氣之鼓動。可不慎而漫投湯液耶。</p>
<p>【小】小脈者。三部皆小。而指下顯然。不似微脈之微弱依稀。細脈之微細如髮。弱脈之軟弱不前。短脈之首尾不及也。夫脈之小弱。雖為元氣不足。若小而按之不衰。久按有力。又為實熱固結之象。總由正氣不充。不能鼓搏熱勢於外。所以隱隱略見滑熱之狀於內也。設小而證見熱邪亢盛。則為證脈相反之兆。亦有平人六脈皆陰。或一手偏小者。若因病而脈損小。又當隨所見部分而為調適機用。不可不治也，假令小弱見於人迎。衛氣衰也。見於氣口。肺胃弱也。見於寸口。陽不足也。見於尺內。陰不足也。凡病後脈見小弱。正氣雖虛。邪氣亦退。故為向愈。設小而兼之以滑實伏匿。得非實熱內蘊之徵乎。經云。切其脈口滑小緊以沉者。病益甚在中。又云。溫病大熱。而脈反細小。手足逆者死。乳子而病熱。脈懸小。手足溫則生。寒則死。此條與乳子中風熱互發，言脈雖實大。不至急強。脈雖懸小。四肢不逆。可卜胃氣之未艾。若脈失沖和。陽竭四末。神丹奚濟。非特主產後而言。即妊娠亦不出於是也。嬰兒病赤瓣飧泄。脈小手足寒。難已。脈小手足溫。泄易已。腹痛。脈細小而遲者易治。堅大而急者難治。洞泄食不化。脈微小流連者生。堅急者死。諦觀諸義。則病脈之逆從。可默悟矣。而顯微又言。前大後小。則頭痛目眩。前小後大。則胸滿短氣。即仲景來微去大之變辭。虛中挾實之旨。和盤托出矣。</p>
<p>【芤】芤脈者。浮大弦軟。按之中空。中按雖不應指。細推仍有根氣。縱指卻顯弦大。按之減小中空。不似虛脈之瞥瞥虛大。按之豁然無力也。芤為血虛不能濡氣。故虛大如芤。然其中必顯弦象。劉三點以為絕類慈蔥。殊失弦大而按之減小中空之義。蓋虛則陽氣失職。芤則經絡中空。所以有虛濡無力。弦大中空之異。仲景云。脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。虛寒相搏。此名為革。革則胃氣告匱。而弦強搏指。按之無根。非芤脈中空之比。按太陽病有脈浮而緊。按之反芤。本虛戰汗而解者。暑病有弦細芤遲。血分受傷者。芤為失血之本脈。經云。脈至如搏。血溫身熱者死。詳如搏二字。即是弦大而按之則減也。又云。脈來懸鉤浮為常脈。言浮而中空。按之旁至。似乎微曲之狀。雖有瘀積阻滯。而指下柔和。是知尚有胃氣。故為失血之常脈。若弦強搏指。而血溫身熱。為真陰槁竭。必死何疑。凡血脫脈芤。而有一部獨弦。或帶結促澀滯者。此為陽氣不到。中挾陰邪之兆。是即瘀血所結處也。所以芤脈須辨一部兩部。或一手兩手。而與攻補。方為合法。</p>
<p>【濡】濡脈者。虛軟少力。應指虛細。如絮浮水面。輕手乍來。重手乍去。不似虛脈之虛大無力。微脈之微細如絲。弱脈之沉細軟弱也。濡為胃氣不充之象。故內傷虛勞。泄瀉少食。自汗喘乏。精傷痿弱之人。脈雖濡軟乏力。猶堪峻補峻溫。不似陰虛脫血。純見細數弦強。欲求濡弱。絕不可得也。蓋濡脈之浮軟。與虛脈相類。但虛則浮大，而濡則小弱也。濡脈之細小。與弱脈相類。但弱在沉分。而濡在浮分也。濡脈之軟弱。與微脈相類。但微則欲絕。而濡則力微也。濡脈之無力。與散脈相類。但散則從大而按之則無。濡則從小而漸至無力也。夫從小而漸至無力。氣雖不充。血猶未敗。從大而按之即無。則氣無所統。血已傷殘。陰陽離散。將何所恃。而可望其生乎。以此言之。則濡之與散。不啻霄壤矣。</p>
<p>【動】動脈者。厥厥動搖。指下滑數如珠。見於關上。不似滑脈之諸部皆滑數流利也。動為陰陽相搏之候。陽動則汗出。陰動則發熱。是指人迎氣口而言。然多有陰虛發熱之脈。動於尺內。陽虛自汗之脈。動於寸口者。所謂虛者則動。邪之所湊。其氣必虛。金匱有云。脈動而弱。動則為驚。弱則為悸。因其虛而旺氣乘之。惟傷寒以大浮數動滑為陽。是專主邪熱相搏而言。非虛勞體痛。便溺崩淋脈動之比。而婦人尺脈動甚。為有子之象。經云。陰搏陽別。謂之有子。又云。婦人手少陰脈動甚者。妊子也。以腎藏精。心主血。故二處脈動。皆為有子。辨之之法。昔人皆以左大順男。右大順女為言。然妊娠之脈。往往有素稟一手偏大偏小者。莫若以寸動為男。尺動為女。最為有據。</p>
<p>【伏】伏脈者。隱於筋下。輕取不得。重按澀難。委曲求之。附著於骨。而有三部皆伏。一部獨伏之異。不似短脈之尺寸短縮。而中部顯然。沉脈之三部皆沉。而按之即得也。伏脈之病。最為叵測。長沙有趺陽脈不出。脾不上下。身冷膚硬。少陰脈不至。令身不仁。此為屍厥等例。詳伏為陰陽潛伏之候。有邪伏幽隱而脈伏不出者。雖與短脈之象有別。而氣血澀滯之義則一。故關格吐逆。不得小便之脈。非偏大倍常。即偏小隱伏。越人所謂上部有脈。下部無脈是也。凡氣鬱血結久痛。及疝瘕留飲。水氣宿食。霍亂吐利等脈。每多沉伏。皆經脈阻滯。營衛不通之故。所以妊娠惡阻。常有伏匿之脈。此又脈證之變耳。在傷寒失於表散。邪氣不得發越。而六脈俱伏者。急宜發汗。而脈自復。劉元賓曰。伏脈不可發汗。謂其非表脈也。而潔古又言。當以麻黃附子細辛湯發之。臨病適宜。各有權度。不可執一。若六七日煩擾不寧。邪正交併而脈伏者。又為戰汗之兆。如久旱將雨。六合陰晦。雨過庶物皆蘇也。不可以伏為陰脈。誤投辛熱。頃刻崑崙飛焰矣。</p>
<p>【細】細脈者。往來如發。而指下顯然。不似微脈之微弱模糊也。細為陽氣衰弱之候。傷寒以尺寸俱沉細。為太陰受病。太陰職司敷化之權。今為熱邪所傳。營行之氣。不能條暢百脈。所以尺寸皆沉細。不獨太陰為然。即少陰之脈。亦多沉細。故仲景有少陰病脈沉細數。不可發汗之禁。此皆外陰內陽。非若嚴冬卒中暴寒。盛夏暑風卒倒。內外皆陰之比。內經細脈諸條。如細則少氣。脈來細而附骨者積也。尺寒脈細。謂之後泄。頭痛脈細而緩為中濕。種種皆陰邪之證驗。所以胃虛少食。冷涎泛逆。便泄腹痛。濕痹腳軟。自汗失精。皆有細脈。但以兼浮兼沉。在尺在寸。分別而為裁決。如平人脈來細弱。皆憂思過度。內戕真元所致。若形盛脈細。少氣不足以息。及病熱脈細。神昏不能自持。皆脈不應病之候。不可以尋常虛細論也。</p>
<p>【疾】疾脈者。呼吸之間。脈七八至。雖急疾而不實大。不似洪脈之既大且數。卻無躁疾之形也。疾脈有陰陽寒熱真假之異。如疾而按之益堅。乃亢陽無制。真陰垂絕之候。若疾而按之不鼓。又為陰邪暴虐。虛陽發露之徵。嘗攻先輩治按。有傷寒面赤目赤。煩渴引飲而不能咽。東垣以姜附人參汗之而愈。又傷寒蓄熱內盛。陽厥極深。脈疾至七八至以上。人皆誤認陰毒。守真以黃連解毒治之而安。斯皆證治之明驗也。凡溫病大熱躁渴。初時脈小。至五六日後。脈來躁疾。大觀發赤者死。謂其陰絕也。躁疾皆為火象。內經有云。其有躁者在手。言手少陰厥陰二經。俱屬於火也。陰毒身如被杖。六脈沉細而疾。灸之不溫者死。謂其陽絕也。然亦有熱毒入於陰分而為陰毒者、脈必疾盛有力。不似陰寒之毒。雖疾而弦細乏力也。虛勞喘促聲嘶。脈來數疾無倫。名曰行屍。金匱謂之厥陽獨行。此真陰竭於下。孤陽亢於上也。惟疾而不躁。按之稍緩。方為熱證之正脈。脈法所謂疾而洪大苦煩滿。疾而沉細腹中痛。疾而不大不小。雖困可治。其有大小者。難治也。至若脈至如喘。脈至如數。得之暴厥暴驚者。待其氣復自平。迨夫脈至浮合。浮合如數。一息十至以上。較之六數七疾八極更甚。得非虛陽外騖之兆乎。</p>
<p>【牢】牢脈者。弦大而長。舉之減小。按之實強。如弦縷之狀。不似實脈之滑實流利。伏脈之匿伏澀難。革脈之按之中空也。叔微云。牢則病氣牢固。在虛證絕無此脈。惟濕痙拘急。寒疝暴逆。堅積內伏。乃有是脈。歷考諸方，不出辛熱開結。甘溫助陽之治。庶有克敵之功。雖然。固壘在前。攻守非細。設更加之以食填中土。大氣不得流轉。變故在於須臾。可不為之密察乎。若以牢為內實。不問所以。而妄行迅掃。能無實實虛虛之咎哉。大抵牢為堅積內著。胃氣竭絕。故諸家以為危殆之象云。</p>
<p>【革】革脈者。弦大而數。浮取強直。重按中空。如鼓皮之狀。不似緊脈之往來勁急。弦脈之按之不移。牢脈之按之益堅也。攖寧生曰。革乃變革之象。雖失常度。而按之中空。未為真臟。故仲景厥陰例中。有下利腸鳴脈浮革者。主以當歸四逆湯。得非風行木末。擾動根株之候乎。又云。婦人則半產漏下。男子則亡血失精。金匱半產漏下。主以旋覆花湯。得非血室傷憊。中有瘀結未盡之治乎。其男子亡血失精。獨無主治。云岐補以十全大補。得非極勞傷精。填補其空之謂乎。是以長沙直以寒虛相搏例之。惟其寒。故柔和之氣失焉。惟其虛。故中空之象見焉。豈以革浮屬表。不顧腎氣之內憊乎。</p>
<p>【促】促脈者。往來數疾中忽一止復來。不似結脈之遲緩。中有止歇也。促為陽邪內陷之象。經云。寸口脈中手上擊者。曰肩背痛。觀上擊二字。則脈來搏指。熱盛於經之義。朗然心目矣。而仲景太陽例。有下之後脈促胸滿者。有下之利遂不止而脈促者。有下之脈促不結胸者。有脈促手足厥冷者。上四條。一為表邪未盡。一為併入陽明。一為邪去欲解。一為傳次厥陰。總以促為陽盛。里不服邪之明驗。雖證見厥逆。只宜用灸以通陽。不宜四逆以回陽。明非虛寒之理。具見言外。所以溫熱發斑。瘀血發狂。及痰食凝滯。暴怒氣逆。皆令脈促。設中虛無凝。必無歇止之脈也。</p>
<p>【結】結脈者。指下遲緩中。頻見歇止。而少頃復來。不似代脈之動止不能自還也。結為陰邪固結之象。越人云。結甚則積甚。結微則氣微。言結而少力。為正氣本衰。雖有積聚。脈結亦不甚也。而仲景有傷寒汗下不解。脈結代。心動悸者。有太陽病身黃。脈沉結。少腹硬滿，小便不利。為無血者。一為津衰邪結。一為熱結膀胱。皆虛中挾邪之候。凡寒飲死血。吐利腹痛。癲癇蟲積等氣鬱不調之病。多有結脈。暴見即宜辛溫扶正。略兼散結開痰。脈結自退。嘗見二三十至內有一至接續不上。每次皆然。而指下虛微。不似結促之狀。此元氣驟脫之故。峻用溫補自復。如補益不應。終見危殆。若久病見此。尤非合脈。夫脈之歇止不常。須詳指下有力無力。結之頻與不頻。若十餘至或二三十至一歇。而縱指續續。重按頻見。前後至數不齊者。皆經脈窒礙。陰陽偏阻所致。蓋陽盛則促。陰盛則結。所以仲景皆為病脈。</p>
<p>【代】代脈者。動而中止。不能自還。因而復動。名曰代陰。不似促結之雖見歇止。而復來有力也。代為元氣不續之象。經云。代則氣衰。在病後見之。未為死候。若氣血驟損。元神不續。或七情太過。或顛仆重傷。或風家痛家。脈見止代。只為病脈。傷寒家有心悸脈代者。腹痛心疼。有結澀止代不勻者。凡有痛之脈止歇。乃氣血阻滯而然。不可以為準則也。若不因病而脈見止代。是一臟無氣。他臟代之。真危亡之兆也。即因病脈代。亦須至數不勻者。猶或可生。若不滿數至一代。每次皆如數而止。此必難治。經謂五十動不一代者。以為常也。以知五臟之期。予之短期者。乍疏乍數也。又云。數動一代者。病在陽之脈也。此則陽氣竭盡無餘之脈耳。所以或如雀啄。或如屋漏。或如弦絕。皆真代脈。見之生理絕矣。惟妊娠惡阻。嘔逆最劇者。恆見代脈。谷入既少。氣血盡並於胎息。是以脈氣不能接續。然在二三月時有之。若至四月。胎已成形。當無歇止之脈矣。</p>
<p>【散】散脈者。舉之浮散。按之則無。去來不明。漫無根蒂。不似虛脈之重按雖虛。而不至於散漫也。散為元氣離散之象。故傷寒咳逆上氣。其脈散者死。謂其形損故也。可知散脈為必死之候。然形象不一。或如吹毛。或如散葉。或如懸雍。或如羹上肥。或如火薪然。皆真散脈。見之必死。非虛大之比。經曰。代散則死。若病後大邪去。而熱退身安。泄利止而漿粥入胃。或有可生者。又不當一概論也。古人以代散為必死者。蓋散為腎敗之應。代為脾絕之兆。腎脈本沉。而散脈按之不可得見。是先天資始之根本絕也。脾脈主信。而代脈去來必愆其期。是後天資生之根本絕也。故二脈獨見。均為危亡之候。而二脈交見。尤為必死之徵。</p>
<p>【清】清脈者。輕清緩滑。流利有神。似小弱而非微細之形。不似虛脈之不勝尋按。微脈之軟弱依稀。緩脈之阿阿遲縱。弱脈之沉細軟弱也。清為氣血平調之候。經云。受氣者清。平人脈清虛和緩。生無險阻之虞。如左手清虛和緩。定主清貴仁慈。若清虛流利者。有剛決權變也。清虛中有一種弦小堅實。其人必機械峻刻。右手脈清虛和緩。定然富厚安閒。若清虛流利。則富而好禮。清虛中有種枯澀少神。其人雖豐。目下必不適意。寸口清虛。洵為名裔。又主聰慧。尺脈清虛。端獲良嗣。亦為壽徵。若寸關俱清。而尺中蹇澀。或偏小偏大。皆主晚景不豐。及艱子嗣。似清虛而按之滑盛者。此清中帶濁。外廉內貪之應也。若有病而脈清楚。雖劇無害。清虛少神。即宜溫補以助真元。若其人脈素清虛。雖有客邪壯熱。脈亦不能鼓盛。不可以為證實脈虛。而失於攻發也。</p>
<p>【濁】濁脈者。重濁洪盛。騰湧滿指。浮沉滑實有力。不似洪脈之按之軟闊。實脈之舉之減小。滑脈之往來流利。緊脈之轉索無常也。濁為稟賦昏濁之象。經云。受谷者濁。平人脈重濁洪盛。垂老不得安閒。如左手重濁。定屬汙下。右手重濁。可卜庸愚。寸口重濁。家世卑微。尺脈重濁。子姓鹵莽。若重濁中有種滑利之象。家道富饒。濁而兼得蹇澀之狀。或偏盛偏衰。不享安康。又主夭枉。似重濁而按之和緩。此濁中兼清。外圓內方之應也。大約力役勞勩之人。動徹勞其筋骨。脈之重濁。勢所必然。至於市井之徒。拱手曳裾。脈之重濁者。此非天性使然歟。若平素不甚重濁。因病鼓盛者。急宜攻發以開泄其邪。若平昔重濁。因病而得蹇澀之脈。此氣血凝滯。痰涎膠固之兆。不當以平時澀濁論也。</p>

<h1>口問十二則</h1>

<h2>問三焦命門脈</h2>
<p>門人問曰。讀師傳諸義。發智慧光。如大火聚。掃卻胸中無限陰霾矣。但某等根器疏陋。尚有積疑未泮。如三焦命門。各有歧說。未獲定鑑。願師垂誨真銓。以破學人之惑。答曰。夫所謂命門者。即三焦真火之別名也。以其職司腐熟之令。故謂之焦。經謂中精之府。言其所主精氣也。又云。上焦如霧。中焦如漚。下焦如瀆者。言其氣化之象也。岐伯曰。寸以射上焦。關以射中焦。尺以射下焦。此言三焦之脈位也。射者。自下而射於上。其脈即分屬寸關尺。凡鼓動之機。靡不本諸三焦。則知六部之中。部部不離三焦之氣也。三焦為真火之源。故有命門之號。難經獨以右尺當之。而脈訣復有男女左右之分。男以精氣為主。故右尺為命門。女以精血為主。故左尺為命門。是命門之診。尤重在乎尺內也，三焦鼎峙兩腎之間。為水中之火。既濟陰陽。趙氏所謂天非此火不能生物。人非此火不能有生。為性命之主宰。故曰命門。越人謂其有名無形者。以火即氣。氣本無形。非若精津血液之各有其質也。然以氣化為無形則可。以三焦為無形則不可。靈樞本藏云。腎應骨。密理厚皮者。三焦膀胱厚。粗理薄皮者。三焦膀胱薄。疏腠理者。三焦膀胱急。毫毛美而粗者。三焦膀胱直。稀毫毛者。三焦膀胱結也。詳此明言厚薄急結之狀。詎可謂之無形乎。</p>

<h2>問神門脈</h2>
<p>復問神門為心經之動脈。而王氏又云。神門決斷。兩在關後者。是指尺中腎脈而言。其故何也。答曰。神門之脈有二。如前所言神門即是命門。命門即是三焦。屬於七節之上。故於尺中求之。以尺為六脈之根也。越人云。人之有尺。譬如樹之有根。水為天一之元。先天之命根也。若腎脈獨敗。是無根矣。此與諸脈之重按有力為有根。脈象迥異。而為腎氣之所司則一也。如虛浮無根。是有表無里。孤陽豈能獨存乎。若尺內重按無根。不獨先天腎水之竭。亦為後天不足之徵。仲景所謂營氣不足。血少故也。脈微所云。是指心經動脈而言。按氣交變論中。歲水太過一節。內有神門絕者死不治。言水勝而火絕也。其穴在掌後兌骨之端。即如人迎與氣口並稱。皆主關前一分而言。其穴在喉之兩旁。乃足陽明之動脈。能於是處求諸經之盛衰乎。可知神門二說。各有主見。各有至理。不可附會牽合而致疑殆也。</p>

<h2>問衝陽太谿脈</h2>
<p>問衝陽太谿。皆足之動脈。每見時師求之於垂斃之時。驗乎不驗乎。答曰。是即仲景趺陽少陰也。嘗聞氣口成寸。以決死生。未嘗決之於二處也。或謂以此本屬胃與腎脈。雖變其名。仍當氣口尺中診之。脈法以寸口趺陽少陰三者並列而論。是即寸關尺三部之別號。但未明言其故耳。喻嘉言釋仲景平脈首條云。條中明說三部。即後面趺陽少陰。俱指關尺而言。然何以止言趺陽少陰。蓋兩寸主乎上焦。營衛之所司。不能偏於輕重。故言寸口。兩關主乎中焦。脾胃之所司。宜重在右。故言趺陽。兩尺主乎下焦。宜重在左。故言少陰。此先得我心之所同然。但二處動脈。猶可求其絕與不絕。非推原某脈主某病也。設閨中處子。而欲按其足上之脈。殊為未便。</p>

<h2>問反關脈</h2>
<p>昔人所云反關之脈。但言脈位之異。未審所見之脈，與平常之人可例推乎。抑別有所異乎。答曰。凡脈之反關者。皆由脈道阻礙。故易位而見。自不能條暢如平常之脈也。其反關之因。各有不同。而反關之狀。亦自不一。有胎息中驚恐顛仆而反關者。有襁褓束縛致損而反關者。有幼時跌僕動經而反關者。有齠齔疳積。伐肝太過。目連劄而左手偏小。有似反關者。有大驚喪志。死絕復甦而反關者。有一手反關者。有兩手反。關者。有從關斜走至寸而反關者。有反於內側。近大陵而上者。有六部原有如絲。而陽谿列缺。別有一脈大於正位者。有平時正取側取俱無。覆手取之而得者。有因病而正取無脈。覆手診之乃得者。總皆陰陽伏匿之象。有傷寒欲作戰汗。脈伏而誤認反關者。大抵反關之脈。沉細不及。十常八九。堅強太過者。十無二三。欲求適中之道。卒不易得也。亦有諸部皆細小不振。中有一粒如珠者。此經脈阻結於其處之狀。故其脈較平人細小者。為反關之常。較平人反大者絕少。不可以為指下變異。謂之怪脈也。凡遇反關殊異平常之脈。須細詢。其較之平時稍大。即為邪盛。比之平時愈小。即為氣衰。更以所見諸證參之。</p>

<h2>問人迎氣口脈</h2>
<p>門人問曰。人迎主表。氣口主裡。東垣內外傷辨。言之詳矣。而盛啟東又以新病之死生。系乎右手之關脈。宿病之死生。主乎左手之關尺。斯意某所未達。願聞其義云何。答云。病有新久。證有逆順。新病穀氣猶存。胃脈自應和緩。即或因邪鼓大。因虛減小。然須至數分明。按之有力。不至濁亂。再參語言清爽。飲食知味。胃氣無傷。雖劇可治。如脈至濁亂。至數不明。神昏語錯。病氣不安。此為神識無主。苟非大邪瞑眩。豈宜見此。經云。脈浮而滑。謂之新病。脈小以澀。謂之久病。故新病而一時形脫者死。不語者亦死。口開眼合。手撒喘汗遺尿者。俱不可治。新病雖各部脈脫。中部獨存者。是為胃氣。治之必愈。久病而左手關尺軟弱。按之有神。可卜精血之未艾。他部雖危。治之可生。若尺中弦緊急數。按之搏指。或細小脫絕者。法在不治。蓋緣病久胃氣向衰。又當求其尺脈。為先天之根氣也。啟東又云。診得浮脈。要尺內有力。為先天腎水可恃。發表無虞。診得沉脈。要右關有力。為後天脾胃可憑。攻下無虞。此與前說互相發明。言雖異而理不殊也。</p>

<h2>問初診久按不同說</h2>
<p>問脈有下指浮大。按久索然者。有下指濡軟。按久搏指者。有下指微弦。按久和緩者。何也。答曰。夫診客邪暴病。應指浮象可證。若切虛羸久病。當以根氣為本。如下指浮大。按久索然者。正氣大虛之象。無問暴病久病。雖證顯灼熱煩擾。皆正衰不能自主。隨虛陽發露於外也。下指濡軟。久按搏指者。里病表和之象。非臟氣受傷。則堅積內伏。不可以脈沉誤認為虛寒也。下指微弦。按久和緩者。久病向安之象。氣血雖殆。而臟氣未敗也。然多有證變多端。而脈漸小弱。指下微和。似有可愈之機者。此元氣與病氣俱脫。反無病象發現。乃脈不應病之候。非小則病退之比。大抵病人之脈。初下指雖見乏力。或弦細不和。按至十餘至漸和者。必能收功。若下指似和。按久微澀不能應指。或漸覺弦硬者。必難取效。設病雖牽纏。而飲食漸進。便溺自調。又為胃氣漸復之兆。經云。安穀者胃。漿粥入胃。則虛者活。此其候也。</p>

<h2>問病同脈異病異治同</h2>
<p>問有病同而脈異。病異而脈同。病同而治異。病異而治同。何也。答曰。夫所謂病同而脈異者。人在氣交之中。所感六淫七情。八風九氣。一時之病。大率相類。故所見之證。亦多相類。而人之所稟。各有偏旺偏衰之不同。且有內戕神志。外役肢體。種種懸殊。脈象豈能如一。如失血證。脈有浮大而芤者。有小弱而數者。傷胃及臟之不同也。氣虛證有氣口虛大而澀者。有氣口細小而弱者。勞傷脫泄之不同也。病異而脈同者。內傷夾外感。陽證夾陰寒。虛中有實結。新邪挾舊邪。表裡交錯。為患不一。而脈之所現。不離陰陽寒熱虛實之機。其細微見證。安得盡顯於指下哉。如太陽中風。癱瘓不仁。脈皆浮緩。一為暴感之邪。一為久虛之病。虛勞骨蒸。病瘧寒熱。關尺皆弦緊。一為腎臟陽虛。一為少陽邪盛。可不互參脈證。一概混治乎。病同而治異者。風氣之病。時氣之病。瘧利之病。內傷虛勞之病。初起見證。往往相似。而人之所稟。各有貞脆。且有多火多痰多氣。平時之資質既殊。病中之調治自異。如金匱之短氣有微飲者。從小便去之。苓桂朮甘湯主之。腎氣丸亦主之。消渴小便不利。蒲灰散主之。滑石白魚散茯苓戎鹽湯並主之。若治病不求其本。不問脈證之真象假象。但見病醫病。殊失逆從反正之旨矣。病異而治同者。所見之證雖異。總不外乎邪正之虛實。如傷寒尺中脈遲之營氣不足。陽邪內陷之腹中痛。虛勞裡急之悸衄失精。並宜小建中湯。伏氣鬱發之熱病。太陽中熱之暍病。並宜白虎湯。寒疝之腹急脅急。產後之腹中㽲痛。並宜當歸生薑羊肉湯。豈以一方主治一病。而不達權變之用哉。</p>

<h2>問從脈不從證從證不從脈</h2>
<p>問古人治例。有從證不從脈。從脈不從證。一病而治各不同。或愈或不愈者。其故何也。答曰。此節庵先生以南陽治例。下一註腳也。惜乎有所未盡耳。蓋從證從脈。各有其方。如脈浮為表。治宜汗之。然亦有宜下者。仲景云。脈浮而大。心下反硬。有熱屬臟者攻之。不令發汗。脈沉為里。治宜下之。然亦有宜汗者。如少陰病始得之。反發熱。脈沉者。麻黃附子細辛湯汗之。脈促為陽盛。當用芩葛清之。若脈促厥冷。非灸百會以通其陽不可。此非促為陽盛也。脈遲為寒。當用姜附溫之。若陽明病脈遲。不惡寒。身體濈然汗出。則用大承氣。又非遲為陰寒也。此皆不從脈之治。以其證急也。又如表證汗之。乃常法也。仲景云。病發熱頭痛。脈反沉。身體痛。當溫之。宜四逆湯。里證下之。亦其常也。日晡發熱者屬陽明。脈浮虛者宜發汗。用桂枝湯。結胸證具。當與陷胸下之。脈浮大者不可下。當與桂枝人參湯溫之。身體疼痛。當以麻桂汗之。然尺中脈遲者不可汗。當與小建中湯和之。此皆不從證治。以其脈虛也，一病而治各不同。或愈或不愈者。良由不明受病之故。嘗考內經多有同一見證。而所受之經各別。所見之脈迥殊。其可執一例治乎。況醫有工拙。病有標本。假令正氣有權之人。無論治本治標。但得藥力開發病氣。元神自復。若正氣本虛之人。反現假證假脈。而與苦寒伐根之藥。變證莫測矣。故凡治邪氣暴虐。正氣驟脫之病。制方宜猛。蓋暴邪勢在急追。驟虛法當峻補。若虛邪久淹。羸弱久困之病。不但制方宜緩。稍關物議之味。咸須遠之。是以巨室貴顯之家。一有危疑之證。則遍邀名下相商。補瀉雜陳之際。不可獨出己見。而違眾處方。即不獲已。亦須平淡為主。倘病在危逆。慎勿貪功奏技。以招鑠金之謗也。</p>

<h2>問內經脈有陰陽說</h2>
<p>客問內經陰陽別論所言。二陽之病發心脾。三陽為病發寒熱。一陽發病少氣諸例。俱論脈法之陰陽。王太僕誤作經脈註解。觀其提綱。悉從脈有陰陽一句而來。次言知陽者知陰。知陰者知陽。凡陽有五。五五二十五陽。即仲景大浮數動滑為陽。以五臟之脈。各有大浮數動滑。是為五五二十五陽也。不言五五二十五陰者。先言知陽者知陰。則沉澀弱弦微之陰。可不言而喻也。答曰。讀書雖要認定提綱。一氣貫徹。然中間轉折。尤宜活看。不可執著。蓋脈有陰陽句。岐伯原是答黃帝人有四經十二從等問。所言凡陽有五。五五二十五陽。是言五臟之陽氣。應時鼓動於脈。五五相乘。為二十五陽。與玉機真藏之故病有五。五五二十五變。異名同類。夫脈法之陰陽。原不離乎經脈之陰陽。況下文所言。三陽在頭。三陰在手。得非明言經脈陰陽之確據乎。若以脈有陰陽。為通篇之提綱。皆附會於脈。未免支離牽強。殊失先聖立言之旨矣。曷知陰陽別論。原從陰陽應象。陰陽離合。魚貫而下。皆論經脈之陰陽。又為提綱中之挈領。可不體會其全。妄譏先輩乎。</p>

<h2>問高章綱惵卑損諸脈</h2>
<p>旅泊苕溪。偶檢嘉言先生仲景脈法解。坐有同人謂石頑曰。夫脈之顯著共聞者。尚且指下難明。況乎險奧幽微。人所共昧。如高章綱惵卑損之脈。既非恆有之象。何長沙博採古訓。以眩耳目。喻子曲為釋辭。以誇博識乎。答曰。此古聖至微至顯之的訣。不能晦藏於密。一時為之闡發。豈故為詭異以欺後世耶。其所謂綱者。諸邪有餘之綱領。損者。諸虛積漸之損傷。恐人難於領悟。乃以高章惵卑四字。體貼營衛之盛衰。雖六者並舉。而其所主。實在綱損二脈也。以其辭簡義深。末由窺測。喻子獨出內照。發明其義。惜乎但知高章為高章取象。惵卑為惵卑措辭。不知高章為綱脈之紀。惵卑為損脈之基耳。蓋高者。自尺內上溢於寸。指下湧湧。既浮且大。而按之不衰。以衛出下焦。行胃上口。至手太陰。故寸口盛滿。因以高字名之。章者。自筋骨外顯於關。應指愊愊。既動且滑。而按之益堅。以營出中焦。亦並胃口而出上焦。故寸關實滿。因以章字目之。綱者。高章兼該之象。故為相搏。搏則邪正交攻。脈來數盛。直以綱字揭之。惵者。寸口微滑。而按之軟弱。舉指瞥瞥。似數而仍力微。以衛氣主表。表虛不能勝邪。故有似乎心中怵惕之狀。因以惵字喻之。卑者。諸脈皆不應指。常兼沉澀之形。而按之隱隱。似伏而且澀難。以營氣主裡。裡虛則陽氣不振。故脈不顯。有似妾婢之卑屑不能自主。故以卑字譬之。損者。惵卑交參之謂。故為相搏。搏則邪正俱殆。脈轉衰微。直以損字呼之。而損脈之下。復有遲緩沉三者。言阿阿徐緩。而按之沉實。為營衛俱和。陰陽相抱之象。不過藉此以顯高章等脈。大都高章綱惵卑損之脈。皆從六殘賊來。其浮滑之脈。氣多上升而至於高。弦緊之脈。邪必外盛而至於章。沉澀之脈。陽常內陷而至於卑。非陰寒脈沉。不傳他經之比。凡此六者。能為諸脈作病。故謂殘賊。縱邪氣盛滿。而汗下克削太過。皆能致虛。虛則脈來惵惵。按之力微。逮所必至。至於高章相搏。未有不數盛者。惵卑相搏。未有不弦勁者。所以沉伏之中。尺內時見弦細搏指。則為損脈來至。必難治也。詳高惵之脈。往往見於寸口。章脈每多顯於趺陽。卑脈恆於少陰見之。然惵卑之脈。寸口趺陽未嘗不有也。高章之脈。尺內少陰。從未一見耳。觀後寸口趺陽少陰諸條。皆言高章惵卑之病。其陰陽死生之大端。端不出大浮數動滑為陽。沉澀弱弦微為陰之總綱。以其非專言傷寒脈法。故長沙另輯平脈法篇。隸諸辨脈法下。由是余昔詮釋纘論。略未之及。茲因同人下問。不覺為之饒舌。</p>

<h2>問辨聲色法</h2>
<p>或問醫以聲色之辨。為神聖妙用。而審切反居其次。何也。答曰。夫色者神之華。聲者氣之發。神氣為生陽之徵驗。在診察之際。不待問而陰陽虛實之機。先見於耳目間矣。予於傷寒緒論。言之頗詳。姑以大略陳之。色貴明潤。不欲沉夭。凡暴感客邪之色。不妨昏濁壅滯。病久氣虛。只宜瘦削清癯。若病邪方銳。而清白少神。虛羸久困。而嫵媚鮮澤。咸非正色。五色之中。青黑黯慘。無論病之新久。總屬陽氣不振。惟黃色見於面目。而不至索澤者。皆為向愈之候。若眼胞上下如煙煤者。寒痰也。眼黑頰赤者。熱痰也。眼黑而行步艱難呻吟者。痰飲入骨也。眼黑而面帶土色。四肢痿痹。屈伸不便者。風痰也。病人見黃色光澤者。為有胃氣。不死。干黃者。為津液之槁。多凶。目睛黃者。非癉即衄。目黃大煩為病進。平人黑氣起於口鼻耳目者危。若赤色見於兩顴。黑氣出於神庭。乃大氣入於心腎。暴亡之兆也。至於聲者。雖出肺胃。實發丹田。其輕清重濁。雖由基始。要以不異平時為吉。如病劇而聲音清朗如常者。形病氣不病也。始病即氣壅聲濁者。邪干清道也。病未久而語聲不續者。其人中氣本虛也。脈之呻者。病也。言遲者。風也。多言者。火之用事也。聲如從室中言者。中氣之濕也。言而微。終日乃復言者。正氣之奪也。衣被不斂。言語善惡。不避親疏者。神明之亂也。出言懶怯。先重後輕者。內傷元氣也。出言壯厲。先輕後重者。外感客邪也。攢眉呻吟者。頭痛也。噫氣以手撫心者。中脘痛也。呻吟不能轉身。坐而下一腳者。腰痛也。搖頭以手捫腮者。齒頰痛也。呻吟不能行步者。腰腳痛也。診時吁氣者。鬱結也。搖頭言者。里痛也。形羸聲啞者勞瘵。咽中有肺花瘡也。暴啞者。風痰伏火。或怒喊哀號所致也。語言蹇澀者。風痰也。診時獨言獨語。不知首尾者。思慮傷神也。傷寒壞病。聲啞。唇口有瘡者。狐惑也。平人無寒熱。短氣不足以息者。痰火也。聲色之診最繁。無庸瑣述。以混耳目。</p>

<h2>問脈沉因溫補轉劇</h2>
<p>門人問曰。嘗聞肥人之脈宜沉。腎肝之脈宜沉。冬月之脈宜沉。於此有人。年盛體豐。冬時腰痛不能轉側。怯然少氣。足膝常逆。證脈皆寒。與腎氣丸不應。轉增寒熱喘滿。何也。答曰。不在證治也。夫肥人之脈沉者。濕傷血脈也。腰痛不能轉側者。濕滯經絡也。怯然少氣者。濕干肺胃也。足膝常逆者。濕遏陽氣。不能旁達四末也。法當損氣以助流動之勢。則痛者止而逆者溫。反與滋膩養營之藥。則痰濕愈壅。經絡不能條暢。而寒熱喘滿。勢所必至也。昔有朔客。初至吳會。相邀診視。時當夏月。裸坐盤飧。倍於常人。而形偉氣壯。熱汗淋漓於頭項間。診時不言所以。切其六部沉實。不似有病之脈。惟兩寸略顯微數之象。但切其左。則以右掌抵額。切其右。則易左掌抵額。知為肥盛多濕。夏暑久在舟中。時火鼓激其痰於上。而為眩暈也。詢之果然。因與導痰清濕而安。設不察所苦。但以脈沉。求其病之所屬。失之遠矣。醫之手眼。可不臨機活潑乎。</p>

<h1>逆順</h1>
<p>診切之要。逆順為寶。若逆順不明。陰陽虛實死生不別也。故南陽先師。首言傷寒陰病見陽脈者生。陽病見陰脈者死。即此一語。可以推卒病之逆順。亦可廣諸病之死生。一著先機。至微至顯。奈何先輩專守王氏之繩墨。不達至聖之璇璣。以至脈學之言。愈闡愈昧。求脈之道。愈趨愈蹶。良由不解活法推源之故。因是彙輯逆順諸例。庶學者披卷曉然。雖以死生並列。而逆證尤不可忽。如傷寒未得汗。脈浮大為陽。易已。沉小為陰。難已。傷寒已得汗。脈沉小安靜為順。浮大躁疾者逆。然多有發熱頭痛。而足冷陽縮。尺中遲弱。可用建中和之者。亦有得汗不解。脈浮而大。心下反硬。合用承氣攻之者。更有陰盡復陽。厥愈足溫。而脈續浮者。苟非深入南陽之室。惡能及此。迨夫溫病熱病。熱邪亢盛雖同。絕無浮緊之脈。觀內經所云。熱病已得汗而脈尚盛躁。此陰脈之極也。死。其得汗而脈靜者生。熱病脈尚盛躁而不得汗者。此陽脈之極也。死。脈盛躁。得汗靜者生。他如溫病穰穰大熱。脈數盛者生。細小者死。熱病汗下後。脈不衰。反躁疾。名陰陽交者死。歷參溫熱諸病。總以數盛有力為順。細小無力為逆。得汗後。脈不衰。反盛躁。尤逆也。至於時行疫癘。天行大頭。咸以脈數盛滑利為順。沉細虛澀為逆。然濕土之邪內伏。每多左手弦小。右手數盛者。總以辛涼內奪為順。辛熱外散為逆。當知溫熱時疫。皆熱邪內蘊而發。若與表散。如爐冶得鼓鑄之力耳。然疫癘雖多人迎不振。設加之以下利足冷。又未可輕許以治也。故昔人有陰陽俱緊。頭痛身熱。而下利足冷者死。謂其下虛也。至若溫毒發斑。譫語發狂等證。總以脈實便秘為可治。脈虛便滑者難治。若斑色紫黑如果實靨。雖便秘能食。便通即隨之而逝矣。其狂妄躁渴。昏不知人。下後加呃逆者。此陽去入陰。終不可救。卒中風口噤。脈緩弱為順。急實大數者逆。中風不仁。痿躄不遂。脈虛濡緩為順。堅急疾者逆。中風遺尿盜汗。脈緩弱為順。數盛者逆。中風便溺阻澀。脈滑實為順。虛澀者逆。中寒卒倒。脈沉伏為順。虛大者逆。中暑自汗喘乏。腹滿遺尿。脈虛弱為順。躁疾者逆。暑風卒倒。脈微弱為順。散大者逆。大抵卒中天地之氣。無論中風中寒。中暑中暍。總以細小流連為順。數實堅大為逆。散大澀艱。尤非所宜。不獨六淫為然。即氣厥痰厥。食痰蛔厥。不外乎此。蓋卒中暴厥。皆真陽素虧。故脈皆宜小弱。不宜數盛。中惡腹滿。則宜緊細微滑。不宜虛大急數。中百藥毒。則宜浮大數疾。不宜微細虛澀。詳中風中暑。一切暴中。俱有喘乏遺尿。如中風中寒。則為腎氣之絕。中暑中暍。則為熱傷氣化。痰食等厥。又為氣道壅遏所致。死生逆順懸殊。可不辨而混治乎。凡內傷勞倦。氣口虛大者為氣虛。弦細或澀者為血虛。若躁疾堅搏。大汗出。發熱不止者死。以裡虛。不宜復見表氣開泄也。內傷飲食。脈來滑盛有力者。為宿食停胃。澀伏模糊者。為寒冷傷脾。非溫消不能克應。霍亂脈伏。為冷食停滯。胃氣不行。不可便斷為逆。搏大者逆。既吐且利。不宜復見實大也。霍亂止而脈代。為元氣暴虛。不能接續。不可便斷為逆。厥冷遲微者逆。陽氣本虛。加以暴脫。非溫補不能救療。噎膈嘔吐。脈浮滑大便潤者順。痰氣阻逆。胃氣未艾也。弦數緊澀。涎如雞清。大便燥結者逆。氣血枯竭。痰火鬱結也。腹脹。關部浮大有力為順。虛小無神者逆。水腫。脈浮大軟弱為順。澀細虛小者逆。又沉細滑利者。雖危可治。虛小散澀者不治。鼓脹。滑實流利為順。虛微短澀者逆。腫脹之脈。雖有浮沉之不同。總以軟滑為順。短澀為逆。咳嗽。浮軟和滑者易已。沉細數堅者難已。久嗽緩弱為順。弦急實大者逆。勞嗽骨蒸。虛小緩弱為順。堅大澀數者逆。弦細數疾者尤逆。上氣喘咳。脈虛寧寧伏匿為順。堅強搏指者逆。加瀉尤甚。上氣喘息低昂。脈浮滑。手足溫為順。脈短澀。四肢寒者逆。上氣脈數者死。謂其形損故也。歷陳上氣喘咳諸例。皆以軟弱緩滑為順。澀數堅大者逆。蓋緩滑為胃氣尚存。堅澀則胃氣告匱之脈也。肺痿。脈虛數為順。短澀者逆。數大實者。亦不易治。肺癰初起。微數為順。洪大者逆。已潰。緩滑為順。短澀者逆。氣病而見短澀之脈。氣血交敗。安可望其生乎。吐血衄血下血。芤而小弱為順。弦急實大者逆。汗出若衄。沉滑細小為順。實大堅疾者逆。吐血。沉小為順。堅強者逆。吐血而咳逆上氣。芤軟為順。細數者逆。弦勁者亦為不治。陰血既亡。陽無所附。故脈來芤軟。若細數則陰虛火炎。加以身熱不得臥。不久必死。弦勁為胃氣之竭。亦無生理。蓄血。脈弦大可攻為順。沉澀者逆。從高頓僕。內有血積。腹脹滿。脈堅強可攻為順。小弱者逆。金瘡出血太多。虛微細小為順。數盛急實者逆。破傷。發熱頭痛。浮大滑為順。沉小澀者逆。腸澼下白沫。脈沉則生。脈浮則死。腸澼下膿血。沉小留連者生。數疾堅大身熱者死。久利。沉細和滑為順。浮大弦急者逆。雖沉細小弱。按之無神者不治。腸澼下利。內經雖言脈浮身熱者死。然初病而兼表邪。常有發熱脈浮。可用建中而愈者。非利久虛陽發露。反見脈浮身熱。口噤不食之比。泄瀉。脈微小為順。急疾大數者逆。腸澼泄瀉。為腸胃受病。不當復見疾大數堅之脈也。小便淋秘。脈滑疾者易已。澀小者難已。消癉脈實大。病久可治。脈懸小堅病久不可治。消渴。脈數大軟滑為順。細小浮短者逆。又沉小滑為順。實大堅者逆。頭痛目痛。卒視無所見者死。清陽失守。邪火僭逆於上也。其脈浮滑為風痰上盛。可治。短澀為血虛火逆。不治。心腹痛。痛不得息。脈沉細遲小為順。弦長堅實者逆。癥瘕脈沉實者可治。虛弱者死。疝瘕脈弦者生。虛疾者死。心腹積聚。脈實強和滑為順。虛弱沉澀者逆。癲疾。脈搏大滑。久自已。小堅急。死不治。又癲疾脈虛滑為順。澀小者逆。狂疾。脈大實為順。沉澀者逆。痿痹。脈虛澀為順。緊急者逆。䘌蝕陰肛。虛小為順。堅急者逆。癰疽初起。脈微數緩滑為順。沉澀堅勁者逆。未遺。洪大為順。虛澀者逆。潰後。虛遲為順。數實者逆。腸癰。軟滑微數為順。沉細虛澀者逆。病瘡。脈弦強小急。腰脊強。瘛瘲。皆不可治。潰後被風。多此痙病。脈浮弦為陽。沉緊為陰。若牢細堅勁搏指者不治。妊娠。脈宜和滑流利。忌虛澀不調。臨月。脈宜滑數離經。忌虛遲小弱。牢革尤非所宜。新產。脈宜緩弱。忌弦緊。帶下。脈宜小弱。忌急疾。崩漏。脈宜微弱。忌實大。乳子而病熱。脈懸小。手足溫則生。寒則死。凡崩漏胎產久病。脈以遲小緩滑為順。急疾大數者逆。以上諸例。或採經論。或摭名言。咸以病脈相符為順。病脈相反為逆。舉此為例。余可類推。穎悟之士。自能聞一知十。無煩余之屑屑也。</p>

<h1>異脈</h1>
<p>異脈者。乖戾不和。索然無氣。不與尋常諸脈相類。內經大奇論。貫列諸脈。摹寫最微。苟非逐一稽研。烏能心領神會。如心脈滿大。癇瘛筋攣。肝脈小急。癇瘛筋攣。二條見證皆同。而脈象迥異。受病各別。其同病異治等法。良有見乎此也。若肝脈驚暴。有所驚駭。脈不至。若喑。皆驚氣失常。所以肝脈馳驟。氣平自已。毋治也。腎脈小急。肝脈小急。心脈小急。不鼓。皆為瘕。言諸經之脈。皆有小急。但以按之不鼓者為瘕。若縱之鼓指。又為火伏之象。非瘕也。腎肝並沉為石水。並浮為風水。並虛為死。並小弦欲驚。並者。六位皆然。非見一二部也。水脈當沉。以風勢鼓激則浮。浮則重按不乏。虛則按之即空。以水氣內蓄。不當並見虛脈。故死。並小弦欲驚者。以少陽生氣。為陰邪所埋。故惕惕如驚。而實非驚也。腎脈大急沉。肝脈大急沉。皆為疝。心脈搏滑急為心疝。肺脈沉搏為肺疝。疝脈無不弦急者。觀下文三陽急為瘕。三陰急為疝。則疝瘕之陰陽辨治。可瞭然矣，二陰急為癇厥。厥屬腎。而癇屬心包也。二陽急為驚。聞水音則惕然而驚也。脾脈外鼓沉為腸澼。久自已。肝脈小緩為腸澼。易治。腎脈小搏沉為腸澼下血。血溫身熱者死。心肝病亦下血。二臟同病者可治。其脈小沉澀為腸澼。其身熱者死。熱見七日死。腸澼之脈。總以緩小為易治。堅搏為難治。外鼓沉者。言雖浮大而根氣不乏也。小搏沉者。陰邪內注而脈顯陰象。不當復見虛陽外擾也。心肝二臟。水火同氣。故同病者易治。脾腎同病。為土崩水竭。故死不治。胃脈沉鼓澀。胃外鼓大。心脈小堅急。皆鬲。偏枯。男子發左。女子發右。不喑。舌轉可治。三十日起。其從者喑。三歲起。年不滿二十者。三歲死。言胃脈重按則澀。浮取則大。陰血受傷而陽氣失守也。心脈小堅急。陰邪勝而上侮君主也。胃氣既傷。血脈又病。故心下痞鬲。而半體偏枯也。偏枯以男子發左。女子發右為逆。然雖逆而非不治也。如不喑舌轉。非臟受病。見證雖逆。治亦易起。若喑不能言。腎氣內虧。證雖不逆。治亦難痊。若年不滿二十。氣血方盛之時。而見偏廢之疾。此根氣之夭。不出三年必死也。脈至而搏。血衄身熱者死。脈來懸鉤浮為常脈。血衄身熱而脈來搏指。虛陽外脫。陰血內亡。安得不死。脈來懸鉤浮。言浮而中空之狀。隱然言外。脈至如喘。名暴厥。暴厥者。不知與人言。言暴逆氣浮。故脈喘喘乏力。腎氣不能下守可知。脈至如數。使人暴驚。三四日自已。言暴驚氣亂。故脈至如數。而實未常數。故不須治。脈至浮合。浮合如數。言一息十至以上。如浮波之合。後至凌前。虛疾而動無常候。是經氣予不足也。脈至如火薪然。言浮數而散。瞥瞥如羹上肥。是心精之予奪也。脈至如散葉。言飄忽無根。是肝氣予虛也。脈至如省客。省客者。言如省問之客。乍見欲言而遲疑不吐。故以脈塞而鼓四字體貼之。是腎氣予不足也。脈至如丸泥。言指下動滑。如循薏苡子。是胃精予不足也。脈至如橫格。言堅強如橫木之拒於指下。是膽氣予不足也。脈至如弦縷。言弦急而強。如轉索之狀。是胞精予不足也。脈至如交漆。交漆者。左右旁至也。言指下艱澀不前。重按則不由正道而出。或前大後細。與綿綿如瀉漆之絕互發。脈至如湧泉。言寸口洪盛。如泉出穴之湧。而按之散漫。浮鼓肌中。太陽氣予不足也。脈至如頹土之狀。言澀大模糊。如雨中頹土。按之不得。是肌氣予不足也。脈至如懸雍。懸雍者。浮揣切之益大。重按即無。故以齶間下垂之肉喻之。是十二俞之予不足也。脈至如偃刀。偃刀者。浮之小急。按之堅大急。五臟鬱熱。寒熱獨並於腎也。脈至如丸。滑不直手。按之不可得。是大腸氣予不足也。脈至如華者。言如花之虛浮。令人善恐。不欲坐臥，行立常聽。是小腸氣予不足也。如上諸脈。古聖目之大奇。洵非尋常可擬。余嘗反復互參。始得其旨。前九條。咸以脈證異同。究其病之所屬。如脾脈外鼓沉。及胃脈沉鼓澀。胃外鼓大之脈皆彷彿。而為病迥殊。後十四條。又以指下乖異。辨諸經之氣予不足。而悉予之短期。近世但知彈石解索。雀啄屋漏。魚翔蝦游。謂之六絕。若浮合等脈。真臟七診。茫然不知何義。而漫治取謗者有之。多有病本瀕危。藥之不應。而顯絕脈絕證。如病人身熱脈大。服藥後。忽然微細欲絕。厥冷下利。呃逆不止者死。脈轉躁疾亦死。病人厥逆下利。脈微欲絕。服藥後。脈暴出者死。與厥逆下利。本不能食。今驟能食。為除中者死。同義。又脈來忽沉忽浮。乍疏乍數。來去無次。皆不可治。經謂不大不小。病猶可治。其有大小者。為難治也。真臟者。獨弦獨鉤獨毛獨石獨代。而指下堅強。絕無和緩之象。臟氣病氣。打成一片。故曰真臟。見之必死。七診者。獨小獨大獨疾獨遲。諸部皆然。非一部兩部見病脈也。獨熱者。尺炬然熱。獨寒者。尺膚寒是也。獨陷下者。諸部皆陷伏不應也。真臟悉為死候。七診猶為病脈。其所重全在胃氣。胃主肌肉。故言形肉已脫。九候雖調猶死。七診雖見。九候皆從者不死。胃為五臟之本也。若有七診之病。其脈候亦敗者死矣。前篇匯次逆順。此篇專輯異脈。欲人貫徹其旨。庶無輕諾許治之失。</p>

<h1>婦人</h1>
<p>問婦人脈法，與男子何異。答曰。女子二七天癸通。月事以時下。故其所重。全在衝任。衝任為精血之海。其脈常隨肝腎而行。故以左尺為命門。陰陽應象論云。陰陽者。血氣之男女也。左右者。陰陽之道路也。蓋天道左旋而主陽氣。地道右轉而主陰血。陰常從陽。為陽之守。故左尺反有命門之號。然陰稟多暴。脈多隨氣上章。陰性多郁。脈亦隨氣內惵。古人雖有女子右脈常盛。及女脈在關下之說。要非定論。其病惟經候胎產。異於男子。他無所殊也。若腎脈微澀。或左手關後尺內脈浮。或肝脈沉而急。或尺脈滑而斷絕不勻。皆經閉不調之候。如體弱之婦。脈常微弱。但尺內按之不絕。便是有子。月斷嘔逆不食。六脈不病。亦為有子。所以然者。體弱而脈難顯也。脈經曰。婦人脈三部浮沉正等。按之不絕。無他病而不月者。妊子也。尺數而旺者亦然。經曰。何以知懷子之且生。身有病而無邪脈也；又云。陰搏陽別。謂之有子。言尺內陰脈搏指。與寸口陽脈迥別。其中有陽象也。陰陽相鷇谷鵓。故能有子。陰虛陽搏謂之崩。言尺內虛大弦數。皆內崩而血下。若消瘦喘息。月事不來者。二陽之病發心脾也。婦人不月。脈來滑疾。重手按之散者。胎已三月也。和滑而代者。此二月餘之胎息也。重手按之。滑疾而不散者。五月也。妊娠四月。欲知男女法。古人悉以左尺滑大為男。右尺滑大為女。兩尺俱滑大為雙胎。然往往有左寸動滑為男者。以經行血瀉。陰常不滿。故尺常不足。不可執於尺內滑大方為胎脈之例。經云。婦人手少陰脈動甚者。妊子也。寸為陽位。故見動滑。則為血充而顯陽象。左葉熊羆。右應鸞凰之兆。可預卜而無疑也。凡婦人經水三月不來。診其脈兩寸浮大。兩關滑利。兩尺滑實而帶數。此胎脈也。若有形而不動。或當臍下翕翕微動。如抱甕之狀。按之冰冷。又兩尺乍大乍小。乍有乍無。或浮或沉。或動或止。早暮不同者。乃鬼胎也。須連視二三日乃見。宜補氣活血。溫養脾胃。則水行經自通矣。若脈來疾如風雨亂點。忽然而去。久之復來如初者。是夜叉胎也。亦有左關之脈。指下見兩歧而產夜叉者。總與平常之脈不類也。妊娠脈弱。防其胎墮。以氣血無養也。急宜補養。若弦急亦墮。是火盛也。孕婦脈沉細弦急。憎寒壯熱。唇口俱青黑。是胎氣損也。當問胎動否。若不動。反覺上搶心悶絕。按之冰冷者。當作死胎治之。婦人經斷有軀。其脈弦者。後必大下。不成胎也。然有因病脈弦。又當保胎為務。氣旺則弦自退矣。婦人尺脈微遲為居經。月事三月一下。血氣不足故也。婦人尺脈微弱而澀。少腹惡寒。年少得之為無子。年大得之為絕孕。若因病而脈澀者。孕多難保。凡妊娠外感風邪。脈宜緩滑流利。最忌虛澀躁急。虛澀則不固。躁急則熱盛傷胎。多難治也。胎前下利。脈宜滑小。不宜洪數。洪數則防其胎墮。墮後七日多凶。治療之法。攻積必死。兜澀亦死。急宜伏龍肝湯。煎溫養脾胃藥。多有生者。凡妊娠之脈。宜實大有力。忌沉細弦急虛澀。半產漏下。宜細小流連。忌急實斷絕不勻。臨產宜滑數離經。忌虛遲弦細短澀。產後宜沉小微弱。忌急實洪數不調。新產傷陰。出血不止。尺脈不能上關者死。新產中風熱病。脈宜浮弱和緩。忌小急懸絕。崩漏不止。脈宜細小芤遲。忌虛澀數實。凡診婦人室女傷寒熱病。須問經事若何。產後須問惡露多少。及少腹中有無結塊。此大法也。</p>

<h1>嬰兒</h1>
<p>問嬰兒三歲以下。看虎口三關紋色。其義云何。答曰。嬰兒氣血未盛。經脈未充。無以辨其脈象。故以食指絡脈形色之彰於外者察之。其絡即三部之所發。其色以紫為風熱。紅為傷寒。青為驚恐。白為疳積。惟黃色隱隱。或淡紅隱隱為常候。至見黑色危矣。若虎口三關多亂紋為內釣。腹痛氣不和。脈亂身熱不食。食即吐而上唇有珠狀者。為變蒸也。其間紋色。在風關為輕。氣關為重。命關尤重也。此言次指上三關近虎口一節為風關。中節為氣關。爪甲上節為命關。然紋直而細者。為虛寒少氣。多難愈。粗而色顯者。為邪干正氣。多易治。紋中有斷續如流珠形者。為有宿食。其紋自外向里者為風寒。自內向外者為食積也。岐伯曰。陰絡之色應其經。陽絡之色變無常。隨四時而行也。寒多則凝泣。凝泣則青黑。勢多則淖澤。淖澤則黃赤。此皆常也。至三歲以上。乃以一指按三關。此言寸關尺三部也。其脈常以六至為則。添則為熱。減則為寒。浮弦為乳癇。弦緊為風癇。虛澀為慢驚。沉弦為腹痛。弦實為氣不和。牢實為便秘。沉細為冷乳不消。沉滑為宿食不化。或小或澀。或沉或細。皆為宿食停滯。浮大為傷風。伏結為物聚。弦細為疳勞。沉數為骨蒸有熱也。嬰兒病赤瓣飧泄。脈小手足寒。難已。脈小手足溫。泄易已。小兒見其腮赤目赤。呵欠煩悶。乍涼乍熱。或四末獨冷。鼓慄惡寒。面赤氣湧。涕淚交至。及耳後有紅絲紋縷。脈來數盛者。皆是痘疹之候。湯藥之所當忌者最多。慎勿漫投以貽其咎也。</p>
