<header data-type="book">
<h1>眉壽堂方案選存</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="葉桂">葉桂</data>撰，郭維浚編</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
<div><dt>底本</dt><dd>《中國醫學大成·眉壽堂方案選存》，1936年上海大東書局印行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015253">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>春溫</h2>
<p>溫邪有升無降，經肺氣機交逆，營衛失其常度為寒熱；胃津日耗，渴飲不飢；陽氣獨行，則頭痛面赤。是皆冬春驟暖，天地失藏，人身應之，患此者最多。考古人溫病忌表散，誤投即謂邪熱逆傳心包，最怕神昏譫語。治法以辛甘涼泄肺胃，蓋傷寒入足經，溫邪入手經也。土潤則肺降，不致膹郁，胃熱下移，知飢渴解矣。</p>
<p>嫩青竹葉　白糖炒石膏　杏仁　甘蔗汁　經霜桑葉　麥門冬　生甘草</p>
<p>勞倦嗔怒，是七情內傷，而溫邪感觸，氣從口鼻直走膜原中道。蓋傷寒陽證，邪是太陽次第傳及，至於春溫夏熱，鼻受氣則肺受病，口入之氣，竟由脘中，所以原有手經見症，不比傷寒足六經病也。其原不同，治法亦異。仲景論溫邪不可發汗，汗則劫津傷陽，身必灼熱，一逆尚引日，再逆促命期。又云：鼻息鼾，語言難出，劇則驚癇瘛瘲。無非重劫陰陽而然。今病發熱，原不似太陽客邪見證，所投羌防辛溫表汗之誤，即為逆矣。上竅不納，下竅不出，亦屬常事，必以攻下稀水泄熱，殊不知強汗劫津而陽傷，妄下劫液而傷陰矣。頃診脈兩手如搐而戰，舌乾燥而無津，齒前板干，目欲瞑，口欲開；周身燈照，而淡晦斑紅，隱隱躍躍；幾日來時有呃逆，因胃乏穀氣而中空，肝陽衝突，上冒肆虐耳。為今反正，先與糜粥，使胃中得濡，厥陽不致上冒，而神昏之累可已。進藥之理，甘溫可以生津除熱，即斑疹亦不足慮也。觀仲景論中，邪少虛多，陰液陽津並涸者，復脈湯主之。謹仿此意。</p>
<p>人參　生地　炙甘草　麥冬　阿膠　白芍</p>
<p>冬月熱伏於裡，春令風溫入肺，引動舊時伏熱，營衛流行，邪干怫鬱，遂致寒熱。四十日來，形神瘦削，入夜著枕便躁。經云：不得臥，臥則喘煩，乃肺氣之逆也。幼稚陽常有餘，陰常不足，故晝輕夜重耳。病名風溫。手太陰肺，屬上焦至高之所，若清痰消食，若苦寒通便方藥，皆徒攻腸胃，焉能恰當至理？倘氣閉竅塞，慢驚亦是久延致危，萬難調理。久而失治，肺津日枯，氣失清降，又屬肺脹喘促。議孫真人葦莖湯，宣通氣血，以驅伏邪之意。</p>
<p>心營肺衛，為溫邪留伏。氣血流行，與邪相遇搏激，遂有寒熱如瘧之狀。今形神羸瘦，久延經月，速則恐其成驚，再延恐致兒勞；多進苦藥消克，胃口又慮敗倒。急清氣熱以通營衛，使溫邪無容留之地，寒熱可冀其止。至於痰嗽，必得胃口充旺，而肺金自全，要非藥餌強劫之謂。輕劑桂枝白虎湯。</p>
<p>稚年陽亢陰虛，溫邪深入不解，留伏營衛之中，晝夜氣行，遇邪則熱，如瘧同義。先議清氣分，兼通營衛一法。</p>
<p>川桂枝　知母　生甘草　生石膏　麥冬　白風米</p>
<p>清氣熱，通營衛，果得咳熱皆緩。前論溫邪犯肺是矣，但稚年易實易虛，寒暄食物之調，最宜謹慎，勿致反復為上。</p>
<p>鮮地骨皮　大沙參　生甘草　嘉定天花粉　炒川貝　金銀花</p>
<p>風溫不解，早涼晚熱，舌絳口渴，熱邪未清，陰液衰也；胃汁耗則不知飢。宜生津和陽以蘇胃。</p>
<p>淡黃芩　烏梅　青蒿　生白芍　橘紅　鱉甲</p>
<p>溫邪內伏，潮熱自利。暮甚於晝者，稚年陰氣淺也。仲景於暮春瘟病，內應肝膽例，黃芩湯為主。</p>
<p>黃芩　杏仁　淡竹葉　白芍　甘草　木通</p>
<p>溫邪深入，咽阻，心中熱悶，自利，三焦咸病，恐熱極欲厥。</p>
<p>淡黃芩　川連　杏仁　生白芍　烏梅　淡竹葉</p>
<p>風溫入肺，肺氣失降，鬱蒸熱聚，咳痰，臥不安靜。高年積勞之體，最宜甘寒清燥，所謂風溫得潤而解。</p>
<p>桑葉　甜杏仁　麥冬　蔗梨汁　沙參　玉竹　竹葉</p>
<p>左大空搏，陽不潛伏，咳吐涎。</p>
<p>陳阿膠　炒麥冬　生白芍　雞子黃　生地炭　炙甘草</p>
<p>脈大咽乾，痰多咳頻，食下腹悶，此風溫日久，勞倦內熱，津傷液燥。</p>
<p>冬桑葉　甜杏仁　麥門冬　蔗漿　大沙參　玉竹　生甘草　梨汁</p>
<p>風溫入肺，咳嗽，脈堅搏，夜臥汗出。陰分先虧，最多失血，大忌發散苦辛，從溫邪當甘潤而解。</p>
<p>桑葉　甜杏仁　炒麥冬　白沙參　玉竹　生甘草</p>
<p>元米湯煎。</p>
<p>風溫不解，肺氣不利，寒熱汗出；吐血，更有惱怒肝逆。內外兩因之症，為左右立法。</p>
<p>蘆根汁　杏仁　丹皮　黑梔皮　生米仁　鬱金　鉤藤　栝蔞仁</p>
<p>肺痹，脘中及腹痛，自利清穀，是風溫邪熱相搏，諸氣失於宣降，擬進開手太陰法，以滋氣化，得小便利可安。</p>
<p>蘆根汁　桑葉　栝蔞皮　枯芩　杏仁　桔梗　鬱金汁　橘紅</p>
<p>風溫入肺，肺郁失降，氣窒上焦清空之地，發散則犯溫邪劫津，故口渴氣逆不已，腹痛而嘔，胃絡受傷耳。</p>
<p>桑葉　杏仁　蔓荊子　象貝　馬勃　牛蒡子</p>
<p>面浮咽痛，溫邪未解，輕劑苦辛泄降。</p>
<p>桑葉　大沙參　通草　連翹　大力子　滑石</p>
<p>溫邪上混，頭痛氣喘，治在手太陰肺。酒客痰熱素盛，苦降為宜。</p>
<p>杏仁　花粉　連翹　枳實汁　橘紅　黃芩　白芍　鬱金汁</p>
<p>風溫入手太陰，氣鬱熱聚，喘逆口渴，營衛失和，周身掣痛。脈右搏，防失血。</p>
<p>桑葉　杏仁　生米仁　蘇梗　梔皮　鬱金</p>
<p>風溫不解，頓嗽嘔吐，宜淡滲以利熱清胃。</p>
<p>蘆根　杏仁　滑石　米仁　桑葉　通草</p>
<p>風溫陽逆嘔噫。</p>
<p>枇杷葉　白杏仁　金石斛　桑葉　大沙參　茯苓</p>
<p>外寒內熱，溫邪氣逆為嘔。</p>
<p>嫩蘇梗　杏仁　黃芩　冬桑葉　橘紅　厚朴</p>
<p>溫邪嘔逆。</p>
<p>淡黃芩　竹茹　半夏曲　川石斛　鬱金　鉤藤　茯苓　廣皮白</p>
<p>風溫輕恙，誤汗表疏，形寒自汗。先進建中法以和營衛，繼當以參苓補劑，則表裡平和可安。</p>
<p>昨進建中法，因表氣不固，形寒汗泄，主乎護陽理營。今繼進《金匱》麥冬湯，以蘇津液，得胃陰稍振，然後商進峻補，庶為合宜，不致偏勝之弊。</p>
<p>炒麥冬　生甘草　甜梨漿　北沙參　生白芍　甘蔗汁</p>
<p>久嗽失音，歲暮用參耆益氣得效。春令風溫，燥熏其汗，亦如火劫逼陽同例。但仲景救逆，在太陽少陰，此證氣泄肺傷互異，從風溫汗出不解，葳蕤湯主之。</p>
<p>咳嗽二年，形瘦減谷。冬季喉垂漸痛，已見水虧，陽氣不藏。春月氣升日盛，皆陰乏上承，陽結於上，為喉痹矣。近日寒熱，風溫客氣；脈小數，為陰傷，忌用辛散。</p>
<p>桑葉　玉竹　川貝母　大沙參　麥冬　生甘草</p>
<p>背寒復熱，發於晡時，暮夜寐多驚惕，食入欲嘔，此肝陰久虛，陽獨上熾。風溫乃是客氣，多延漸為本虛矣。</p>
<p>泡淡黃芩　生牡蠣　烏梅肉　生白芍　桂枝木　大棗</p>
<p><u>又</u>　人參　炒阿膠　煅牡蠣　茯神　炒白芍　炒烏梅</p>
<p>冬月溫邪內伏，入春寒熱咳嗽，身痛漸汗乃解。與溫瘧同法。</p>
<p>桂枝白虎湯。</p>
<p>風溫如瘧煩倦，乃內熱水虧。</p>
<p>犀角地黃湯加知母、澤瀉。</p>
<p>風溫上受，氣鬱熱生，咽痛嗽頻，震動痰血。以清肅上焦，薄味調理。</p>
<p>桑葉　花粉　大力子　杏仁　大沙參　射干　連翹仁　象貝</p>
<p>風溫上郁，是冷暖侵肺使然。輕劑清解，忌發散。</p>
<p>杏仁　黑梔皮　栝蔞皮　象貝　桑葉　嫩蘇梗　鬱金汁</p>
<p>氣逆痰升，呼吸不爽，仍宜清解。</p>
<p>杏仁　象貝　白沙參　滑石　桑葉　橘皮　鬱金汁　紫菀</p>
<p>風溫鬱熱上升，支飲亦令上泛，渴煩咳涎。下虛上實，仍宜輕劑清理。</p>
<p>桂枝木　茯苓　白芍　石膏　米仁　甘草</p>
<p><u>又</u>　小青龍湯去麻、辛、半、甘，加石膏。</p>
<p>面赤足冷，脈沉弦細，吸短有聲，昏昏欲寐，下焦淋帶不斷，此下虛不攝；飲濁上泛，咳無止期。從來飲家咳逆，當治其飲。仲景謂飲家短氣倚息，以外飲屬脾，用苓桂術甘，理脾陽以運行；內飲屬腎，進腎氣以收攝固納，仿此為法</p>
<p>腎氣丸，淡鹽湯送下。</p>
<p><u>又</u>　熟地炭　茯苓　淡蓯蓉　五味子　白芍　胡桃肉</p>
<p>左堅數甚，舌喑不言，得飲漸嗆漸呃，此溫邪內伏，少陰水虧，液燥，熱氣上冒，乃中厥之象。老年最怕面赤神昏，為衰脫耳。</p>
<p>生地　知母　炒遠志　梨汁　天冬　川石斛　石菖蒲　蔗汁</p>
<p>久虛勞損，幾年不復。當春深陽氣發泄，溫邪乘虛入陰，寒熱汗出，不納穀食，脘中痞悶不舒，胃乏氣運，側眠咳痰。病熱險篤，恐難萬全。</p>
<p>人參　旋覆花　木瓜　茯苓　赭石　炒粳米</p>
<p>此因驚憂內傷肝藏，邪熱乘虛內陷，直走厥陰，消渴漸嘔，汗大泄，胸腹脹。次第論證端，都屬在裡，半月以外之病。左脈堅搏如刃，耳聾昏躁不靜，豈是脈證相合？議以鎮逆一法，冀其神清勿躁，不致厥脫。</p>
<p>生牡蠣　生白芍　桂枝木　生龍骨　烏梅肉</p>
<p>陽亢陰虛，煩躁妄言無寐，苟非鎮靜，焉得神清。議乙癸同治，熄內風、和陽擾為近理。</p>
<p>水制熟地　茯苓　生白芍　磁石　澤瀉　山藥　丹皮　辰砂</p>
<p>多言原從熱治，診脈小數，又當元氣大泄之餘，故壯水制陽，王道成法。若但說實火，純以苦降，必致變症蜂起。試論食粥後，原有片時安靜，豈非水穀鎮胃，虛陽不致擾動？焉得純以實火治。以陰陽偏勝為理，不致敗壞。</p>
<p>天冬　川黃連　生地　女貞　茯神　雞子黃　阿膠　白芍</p>
<p>左三部動數倍右，陽擾不和戀；定是陰中之火，所以粥食鎮胃稍安。且善飢欲食，即《內經》陽亢為消之驗。治法總在足三陰，勿參入亂藥為正。質重益陰，佐以介類潛藏立法。</p>
<p>熟地　龜甲　萸肉　白芍　茯神　鱉甲　女貞　炙草</p>
<p>鼻煤唇裂舌腐。頻與芩連，熱不肯已，此病輕藥重，致流行之氣結閉不行，郁遏不通，其熱愈甚，上則不嗜飲納食。小便雖利，便必管痛。三焦皆閉，神昏痙厥有諸矣。</p>
<p>竹葉　杏仁　川貝母　連翹　射干　鮮石菖蒲汁</p>
<p>自停服藥，日有向愈之機。胃困則痞悶不欲食，今雖未加餐，已知甘美，皆醒之漸也。童真無下虛之理，溲溺欲出，尿管必痛，良由肺津胃汁，因苦辛燥烈氣味劫奪枯槁，無以運行。若必以分利為治，所謂泉源既竭，當滋其化源；九竅不和，都屬胃病也。</p>
<p>甜杏仁　蔗汁　麥冬　梨汁</p>
<p>初春暴冷，暖覆臥床，漸漸失音，久則咽喉皆痛，痰沫上泛。納食照常，已非虛象。致內為熱迫，外為寒鬱。</p>
<p>越婢加半夏湯。</p>
<p>溫邪形寒痰嗽。脈形細小，少陰本氣素弱，治邪宜以輕藥，勿得動下。</p>
<p>蘇梗　桑葉　沙參　杏仁　玉竹　橘紅</p>
<p>溫邪爍陰，寒熱渴飲，不汗出。</p>
<p>玉女煎去麥冬，加竹葉，燈心。</p>

<h2>時癘濕溫</h2>
<p>疫邪三焦兼受，營衛失度，體虛防厥。</p>
<p>犀角　連翹　川貝母　元參　銀花　鮮菖蒲</p>
<p>舌白灰刺，肢痙牽厥，神識少慧如寐，嘿嘿囈語。穢邪欲閉宜開，久延胃氣已乏，闢穢須輕，輔以養胃。</p>
<p>人參　半夏　鮮菖蒲根汁　粳米　麥冬</p>
<p>口鼻吸入穢濁，著於膜府。不飢嘔逆，中焦病也。宜通濁痹為正法，忌清涼發散。</p>
<p>杏仁　草果仁　檳榔　藿香　蔻仁　製半夏　厚朴　薑汁</p>
<p>鼻煤舌縮，耳聾神呆，環口裂血，津液被劫，必漸昏昧。邪已入絡，所謂內閉外脫。</p>
<p>犀角尖　元參　銀花露　鮮生地　連翹　石菖蒲</p>
<p>又化服至寶丹</p>
<p>穢濁閉塞胸膈，神迷昏厥，速速開竅。</p>
<p>牛黃丸。</p>
<p>熱蘊三焦，煩渴不寐，遍體赤斑，兩脈搏數。</p>
<p>犀角尖　生地　連翹　金銀花　羚羊角　元參　花粉　菖蒲根</p>
<p>營虛斑伏不透，咽痛嘔惡，議《金匱》升麻鱉甲湯。</p>
<p>升麻（一錢）　歸身（二錢）　川椒（三分）　鱉甲（四錢）　赤芍（一錢）</p>
<p>熱久陰傷，津液不承，咳嗆，舌紅罩黑，不飢不食，肌膚甲錯，渴飲不休，當滋胃汁以供肺，惟甘寒為宜。</p>
<p>麥冬　桑葉　蔗汁　花粉　梨汁</p>
<p>久郁內傷，著於時令之濕熱。舌焦黃，頭痛汗出腰痛，乃內外兩因之病，最防昏厥。</p>
<p>羚羊角　黑梔皮　黃芩　石菖蒲　連翹仁　鬱金</p>
<p>穢濁熱氣，蔽塞神昏，舌黃呃逆。勢甚險篤，先用萬氏清心牛黃丸一服。</p>
<p>時氣兼勞倦悒鬱，舌黃，氣促身痛。當以內傷為重，禁風藥。</p>
<p>杏仁　栝蔞皮　黑梔　桔梗　枳實　滑石</p>
<p>溫邪入里，昏昏似寐，並不大熱渴飲。必夾濕氣，故身痛耳聾。當宜通其里，莫以發散消導，大犯濕溫劫津之戒。</p>
<p>杏仁　梔皮　香豉　連翹　鬱金　淡芩</p>
<p>風溫濕熱，狀如瘧症。神昏妄言煩渴，已非表病。木防己湯主之。</p>
<p>木防己　黑梔　土蔞皮　石膏　連翹　杏仁</p>
<p>脈右大，舌黃不渴，嘔吐黏痰，神躁，語言不清，身熱不除。此勞倦內傷，更感溫邪，須防變痙。</p>
<p>厚朴　廣皮　六一散　石菖蒲根汁　白蔻仁　茯苓　淡竹葉</p>
<p>此濕溫也，濕著關節為痛，濕阻氣隧為痞悶，濕留腸胃為下利，濕蒸則裡熱如火，是以畏見日光。積勞陽氣大傷，腸風營陰耗泄。體虛而兼六淫之邪，頗為重症。大旨以和陽明、厥陰為主。</p>
<p>枯黃芩　川楝皮　製半夏　廣皮白　生白芍　烏梅肉　茯苓　川黃柏</p>
<p>濕邪骨骱發紅瘰，胸聚濁痰，消濁未已，用木防己湯。</p>
<p>木防己　杏仁　生米仁　生石膏　滑石　寒水石　通草（五錢，煎湯代水）</p>

<h2>暑</h2>
<p>（三氣交蒸，暑邪無不夾濕，濕病俱以入暑門）</p>
<p>本系勞倦氣虛之體，當此暴熱，熱從口鼻受，竟走中道。經云：氣虛身熱，得之傷暑。暑熱蒸迫，津液日槁，陽升不寐，喘促舌乾，齒前板燥，刻欲昏冒矣。甘寒生津益氣，一定之理。</p>
<p>人參白虎湯加捲心竹葉、麥門冬。</p>
<p>煩渴耳聾，但熱無寒，漸嘔，胸腹痞脹。此暑熱由口鼻入，三焦受濁，營衛不通，寤不成寐。日期半月，熱深入陰，防其瘛瘲發厥。</p>
<p>桂枝白虎湯。</p>
<p>暑風頭脹口渴，身熱嘔痰，脈弦，防瘧。</p>
<p>香薷　花粉　貝母　杏仁　蘇梗　橘紅</p>
<p>暑風未變成瘧，欲嘔，脘痹氣喘，乃上焦受病。正氣久虛，無發散消導更通大便之理。此乃口鼻受氣，與風寒停食不相侔者。</p>
<p>杏仁　花粉　黃芩　蘇梗　白蔻　厚朴</p>
<p>暑邪在上，清空諸竅熱瘡，咳痰氣促，肺熱急清。</p>
<p>竹葉　杏仁　黃芩　連翹　川貝　鬱金</p>
<p>潮熱煩渴，欲得冷飲。暑燥津液，故發疹唇瘡，不足盡其邪。理進清氣熱，通營衛。</p>
<p>桂枝白虎湯加麥冬。</p>
<p>熱傷肺氣，煩渴便秘，但暑病忌下，尚宜甘寒生津為主。</p>
<p>竹葉石膏湯去半夏，加玉竹。</p>
<p>氣熱劫津煩渴，安寐則減，此虛象也。況咳嗽百日，肺氣大傷，此益氣生津，諒不可少，勿以拘宿垢未下，致因循也。</p>
<p>人參　捲心竹葉　木瓜　麥冬　大麥仁</p>
<p>暑熱由中而受，不可表散。</p>
<p>藿香梗　杏仁　黃芩　木瓜　絲瓜葉　蔻仁　橘紅</p>
<p>暑熱消爍胃汁，口渴不飢，以制木和胃。</p>
<p>省頭草　生白芍　橘紅　麥門冬　烏梅肉　半曲</p>
<p>脈右弦，中痞。暑邪入里，三焦俱病。況發汗後熱不解，其病不在表可知矣。進苦勝於辛方法。</p>
<p>杏仁　金石斛　黃芩　花粉　桔梗　陳皮白　草果</p>
<p>陰虛之體，遇夏氣泄，元氣受傷，神倦不耐煩勞。復因暑邪竊踞中宮，遂致胃不知飢，口不知味，或噁心，或噯氣，腹鳴漸痛。豈非病在中焦，久延三焦俱困。恐有瘧、痢之虞，宜安閒調攝，旬日可安，進溫膽法。</p>
<p>竹茹　金石斛　木瓜　鬱金　半曲　廣皮　烏梅</p>
<p>暑熱傷氣　形均日減。汗泄則煩倦，氣浮越面腫。夏月正在氣泄，當治後天。仿東垣清暑益氣法。</p>
<p>人參　五味　神麯　黃柏　煨葛根　麥冬　川連　麥芽　澤瀉</p>
<p>久虛之體，客氣易於乘襲。近因濕熱穢氣所觸，中宮不和，升降失節，宜先進六和湯。</p>
<p>長夏脾胃主乎氣候。暑濕氣自口入，由膜原以入中宮，脾胃受困，正氣已餒，勉進食物，不肯轉運，氣機呆鈍，清濁失職，郁遏於中，少火皆為壯火。欲噯不得，心中熱，思冷飲，坐起頭旋欲暈，形骸疲倦無力，皆壯火食氣，內風掀旋之象。藥餌效與不效在醫，而平居調護功夫須自琢磨，冀免小愈病加之累，屢經反復，再無復原之日。古人因病損真，生氣不來，最深慮及此。</p>
<p>人參　醋炒半夏　生白芍　鬱金汁　川連　烏梅肉　枳實汁</p>
<p>頭脹，脘悶漸痛，渴喜飲水，下咽則嘔，煩熱無寐，大便漸溏不爽。此暑熱氣從口鼻而入，竟走三焦，清濁為阻，營衛不行，是以發散消導，膏無取效。徒令克爍胃汁，所以嘔煩不已也。法宜苦降和陽方。</p>
<p>杏仁　黃芩　竹茹　花粉　枳實汁　橘紅　蔻仁　半曲　鬱金</p>
<p>暑熱多日，深入血中，所以衄血，熱泄身涼。頃診脈弦左搏。連日嘔逆，胃氣受戕，而發散消食，都是劫耗胃汁之物，幾日傷觸，焉有霍起之理？意者變瘧，或旬日不曉飢餓，竟有諸矣。</p>
<p>杏仁　竹茹　花粉　犀角　橘紅　半曲　鬱金汁　丹皮</p>
<p><u>又</u>　犀角　生芍　條芩　生地　丹參　側柏</p>
<p>熱深日多，至於動血。血屬陰象，主乎養胎。邪熱乘襲，胎元難固，因此變症有諸，況嘔家最能傷胎。今脘痞潮熱為病證，徒攻病，置胎氣於不理，非也。</p>
<p>川連　條芩　知母　烏梅　生芍　枳實汁</p>
<p>脈左數，下重。熱入血中，恐胎難保；暮夜煩躁無寐，亦是陰傷。太僕所云寒之不寒為無水，當益其陰。今日衄血又來，應減氣辛耗散。仿苦寒佐以鹹寒為治。</p>
<p>黃芩　川連　人中白　白芍　知母　元參</p>
<p>脈形細小搏數，舌刺肌燥，津液告涸；嘔逆煩冤，食粥乃定，胃氣已虛。慮有變證，清熱安胎為主，更兼養胃。</p>
<p>川連　竹菇　知母　元參　麥冬　條芩</p>
<p>心中熱，舌生刺。暮夜煩躁覺熱，嘔逆觸動少腹，一團熱氣熾甚。陰傷，胎元未能穩保。頻頻叮嚀主家視參如毒奈何？與王先生再議他法。</p>
<p>生地炭　天冬　知母　阿膠　川斛　茯神</p>
<p>少陰中暑，陰液已涸，舌痿形縮，齒板燥，煩躁多日。食瓜腸滯大下，此陰不主收攝矣。證屬大危，難以圖治，勉擬竹葉地黃湯。</p>
<p>生地炭　山藥　白芍　麥冬　澤瀉　茯苓　丹皮　竹葉</p>
<p>潮熱耳聾汗出，神識昏冒，脈細數下垂入尺。壯年熱病，脈形如是之衰，怕其昏厥在邇，以上實下虛故也。擬復脈湯法。</p>
<p>復脈湯去薑、桂，加蔗漿。</p>
<p>體瘦陰虧，暑熱更劫津液，風陽上燔為厥。清神兼顧其陽，議用景岳玉女煎。</p>
<p>鮮生地　知母　竹葉心　生石膏　甘草　連翹仁</p>
<p>渴欲涼飲，穢濁熱氣內蒸，不知飢，不大便，不安寐。九竅不和，都是胃病。舌白噁心，病在膈上氣分，用河間苦辛寒法。</p>
<p>石膏　知母　黑梔　薑汁　杏仁　半夏　厚朴</p>
<p>暑邪數日，發熱後，左頤下腫，神煩無寐。擬進辛涼漸苦法。</p>
<p>連翹　苦丁茶　黑山梔　馬勃　鮮荷葉　飛滑石</p>
<p>勞倦夾暑熱不解。鼻煤，舌灰白，咳逆痰喘，潮熱自汗，神識不清，語言錯謬。此邪結在裡，病屬險途，擬萬氏清心牛黃丸，以驅蘊伏之邪。冀其神氣清，再商去其他病。上焦之病多屬氣，氣窒則上下不通，而中宮遂脹。熱病蒸灼，喉舌疳蝕，清氣之中，必佐解毒。</p>
<p>連翹　金銀花　馬兜鈴　水蘆根　川貝　白金汁　川通草</p>
<p>連朝驟熱，必有暑氣內侵。頭熱目瞑，吸短神迷，此正虛邪留，清補兩難，先與益元散三錢，用嫩竹心二錢，煎湯涼用。當服綠豆清湯代茶。</p>
<p>暑熱吸受，先傷於上。初病咳逆，震動血絡，暑熱仍在，見血治血，已屬不法；參入重劑，傷及無病之地。晡時頭脹，潮熱咳嘔，邪在氣分，當推上病治下之旨。</p>
<p>西瓜翠　白通草　六一散　白蘆根　生薏仁</p>
<p>暑濕上入，氣分先受，非風寒停滯，用發散消導者，治之不法，邪入血分矣。</p>
<p>犀角　竹葉　綠豆皮　連翹　花粉　益元散</p>
<p>暑入營絡，吐痰血，以心營肺衛兩清法。</p>
<p>竹葉　生地　麥冬　連翹　元參　川貝</p>
<p>舌絳口渴，夜熱神煩，大便不實，胸中痞悶。乃伏暑入里，非表散可解，進開心胞一法。</p>
<p>竹葉　犀角　細葉菖蒲　川連　元參　鬱金</p>
<p>伏暑發熱，經旬不解，暮夜神識不清，少腹脹痛，大便不通，穢濁蘊結，慮其內閉痙厥之患。</p>
<p>清心牛黃丸。</p>
<p>汗出神煩，晡時潮熱，胃中痛至少腹。熱邪凝結血分，恐瘀滯之變，進清血中之熱。</p>
<p>鮮生地　丹參　山梔　銀花露　丹皮　元參　鬱金汁　白金汁</p>
<p>上現衄血，心痛殃及小腹，晝靜夜躁，常以寒慄，宛如熱入血室。前云邪在血中陰分，已屬顯然。滋清血藥，正在以搜剔伏邪耳。</p>
<p>鮮生地　犀角尖　元參　丹皮　金銀花　生芍</p>
<p>小溲莖中痛，是餘熱未清，從下行也。進導赤散法。</p>
<p>細生地　知母　黑山梔　甘草梢　丹皮　麥冬　金銀花　小木通</p>
<p>陰虛熱伏，半月不解，舌絳唇紫，呼吸不利。溺短赤，便秘澀，此皆辛散苦藥劫盡津液。況兼精濁下淋，熱氣已入至陰之界，豈區區清解為治者。</p>
<p>生地　麥冬　炙草　甘蔗汁　阿膠　雞子黃　麻仁</p>
<p>暑風不解，身痛熱，渴而嘔，水結之象。</p>
<p>杏仁　橘紅　花粉　豆蔻　藿香　半夏　厚朴　木瓜</p>
<p>未病先遺，陰氣走泄。醫投柴、葛、荊、防，再泄其陽，大汗淋漓，寒熱愈甚。長夏暑熱必兼濕氣，足脛常冷。邪在中上二焦，恐陰弱內陷耳。是投劑解其暑濕熱邪，務在輕小為穩。</p>
<p>絲瓜葉　杏仁　黃芩　花粉　連翹　鬱金　豆蔻　橘白</p>
<p>勞倦傷陽，當風沐浴，衛外氣泄疏豁。藥以柴、葛，再泄其陽；雜以消導，更耗其氣。胃傷熱迫，嘔逆氣衝。但夏熱必兼濕邪，周身掣痛。法當酸苦安胃泄熱，使厥陽稍平，即商輔正。</p>
<p>川黃連　枯黃芩　薑汁炒竹茹　炒烏梅　生白芍　鬱金</p>
<p>冒暑伏熱，引飲過多，脾胃深受寒濕，令人喘脹噫噦；水濕結聚，溺溲澀，便難。險篤之症，仿古人暑門方大順散主之。</p>
<p>杏仁　炮姜　肉桂　甘草</p>
<p>冒暑伏熱，引飲過多，脾胃既受寒濕，陽氣鬱遏，不主轉旋，遂痞結欲嘔。古人以大順散溫中下氣為治。</p>
<p>杏仁　炙甘草　茯苓　炒乾姜　肉桂心　半夏</p>
<p>脈形略起，按之短澀。進溫中下氣，似乎閃爍欲動，知陽漸氣結有形，非真食滯重著之物。愚見不用寒涼犯胃，以肥人之病，慮虛其陽，矧夏月陰氣在裡，里之有形，便是濁陰。《內經》論諸痛為寒內客，今暑熱蒸迫，理無外寒，然口食涼茶瓜果，此水寒入脘，未能即化為熱，素因脾胃氣弱所致：津液不運，自有煩渴。再驗舌色，未必定以實熱。但以辛香開氣之屬，可以醒陽，可以宣濁，上下分布，病機自減。高明採取如何？</p>
<p>鬱金汁　杏仁　半夏　白蔻仁　厚朴　塊茯苓</p>
<p><u>又</u>　吳茱萸　炒半夏　槐枝木　金鈴子　塊茯苓</p>
<p>病減六七，胃中清氣未旋，津液未肯分布，故口渴喜飲，豈是實火。常山梅餅蘇胃生津，午後進四磨湯一次。</p>
<p>人參　烏藥　桔梗　鬱金</p>
<p>各磨汁，開水沖服。</p>
<p>年高體豐，暑濕為陰邪，肥人陽氣不足，忽冷忽熱，煩躁舌白，飲水不多，便溏溲數。此濕邪傷太陰脾土，陽氣內郁，與邪相混，漸延昏痙呃逆之變。</p>
<p>生白朮　半夏　茵陳　厚朴　橘紅　茯苓</p>
<p>暑必兼濕，濕鬱生熱，頭脹目黃，舌腐不飢。暑濕熱都是一般濁氣，瀰漫充塞三焦，狀如雲霧，當以芳香逐穢，其次莫如利小便。</p>
<p>省頭草　厚朴　廣皮　寒水石　茵陳　白蔻仁　杏仁　茯苓　滑石</p>
<p>夏季暑濕先入氣分，如泄瀉溲少，皆濕熱鬱阻氣分，六和、甘露，可證可據之方也。</p>
<p>省頭草　杏仁　米仁　大麥　白蔻仁　橘紅　茯苓</p>
<p>時序濕熱，與水穀內因之濕互異，況舌白下利，中陽已弱。脈緩，乾嘔而煩。夏暑最怕發痙昏厥。議通中焦之陽以驅濕。</p>
<p>杏仁　半夏　豬苓　茯苓　薑汁</p>
<p>脈短無神，並不口渴思飲，水入欲嘔欲噦，下利黃水。八日來身熱汗出不解，時時譫語，防其昏厥瘛瘲。是濕熱深陷入里，議用桂苓甘露飲。</p>
<p>杏仁　益智仁　茯苓　豬苓　厚朴　木瓜　滑石　澤瀉</p>
<p>脈大，舌白渴飲，脅痛欲嘔，濕熱阻其經隧，寒熱未已，議用木防己湯。</p>
<p>木防己　杏仁　知母　薑汁　石膏　厚朴　半夏</p>
<p>舌白口膩，痰多自利。濕熱未盡，中焦不運，防變脹滿。</p>
<p>川連　人參　半夏　白芍　枳實　茯苓</p>
<p>熱邪內結，耳聾，自利稀水，用瀉心法。</p>
<p>淡芩　生淡乾薑　枳實　半夏　川黃連　白芍</p>
<p>濕鬱太陰，熱聚陽明，舌黃口燥，不欲食。此熱因濕而生，議用桂苓甘露飲。</p>
<p>白朮　豬苓　滑石　寒水石　茯苓　澤瀉　石膏　肉桂</p>
<p>酒客濕勝，中焦陽氣素虧，易痞易溏，不飢不飽，皆清陽不肯轉旋；況煩勞傷陽，亦屬內症發熱，非外感所致也。</p>
<p>杏仁　廣皮白　煨姜　茯苓　厚朴　白蔻仁　半夏　澤瀉</p>
<p>服理中後，胃痛泄瀉轉加，心熱渴不欲飲，必有暑濕內結，暫用酸苦泄熱。</p>
<p>川連　淡黃芩　炒廣皮　烏梅　生白芍　木瓜</p>
<p>陽虛體豐，夏熱耗氣，胃弱不納不飢，此九竅不和，都胃病矣。法當鎮逆理虛，略佐苦降，以胃為陽土，氣下為順耳。</p>
<p>人參　淡乾薑　川連　代赭石　茯苓　生白芍</p>
<p>脈漸陰濁上僭，與真武法，減術換參。</p>
<p>真武法兩日，脘中有知飢感，與陽漸結痞無疑。陰濁得泄，即當溫養太陰，使脾陽鼓動健運，冀其納穀安然，用治中法。</p>
<p>人參　益智仁　淡乾薑　茯苓　廣皮白　木瓜</p>
<p>潮熱耳聾，有似陽邪。診得脈空大，自利不渴，舌上粉苔，形枯色槁，豈是實證。議以勞倦夾濕，從脾胃病治。</p>
<p>人參　廣皮白　茯苓　炮姜　生益智仁　澤瀉</p>
<p>交夏形瘦食減，氣怯欲寐，世俗謂之疰夏。後天脾胃不和，熱傷氣也。</p>
<p>人參　白朮　炒楂　砂仁　桔梗　茯苓　廣皮　神麯　川連　米仁</p>
<p>熱痛失治，三焦皆被邪結，不甚清明；左脅瘕聚有形，食下漸脹。大便日前頗利，目今便秘，是腸胃經絡之邪未清，清空之竅尚蒙。調治之法，亦宜分三焦為法，白金丸可用，午後進湯藥。</p>
<p>熱邪深入為厥，陽氣上冒神昏。病魔多日，已在血分，況臍下堅滿乎！仲景云：厥應下，下之不止，利者死。凡鹹苦皆通陽，均謂之下，不必硝、黃也。</p>
<p>陰陽兩為病傷，熱邪深陷至陰，陰液涸盡，遂躁亂不已，已屬至危。思從前諸醫發散、消導、苦寒、辛燥，都令劫爍陰陽。仲景云：凡元氣有傷而病不減，可與甘藥。仿此。</p>
<p>復脈湯。</p>
<p>夏令熱伏，入秋而發，即仲景謂陰氣先傷，陽乃獨發之謂。脈右搏數，胃汁受損。暫忌厚味，進甘寒養胃，內熱自罷。</p>
<p>捲心竹葉　知母　大麥仁　麥冬　白芍　烏梅肉</p>
<p>夏令伏邪，至深秋而發，發汗不解，繼又泄瀉。此伏里之證，與暴感不同，所以表散、和解不能取效。病有四旬，脈細搏如刃，面色消奪，猶裡熱口渴，舌色白，病中潰泄，此久熱迫蒸，陰陽失守，苦藥燥損，津液日枯。因熱致病，醫不以河間三時法則分三焦以逐邪，昧於從事節庵陋習，宜乎淹淹不已。若不急調，久延虛怯一途，古人所謂因病致損也，慎之！</p>
<p>捲心竹葉　生地炭　生白芍　米炒麥冬　炒丹皮　烏梅肉</p>
<p>伏暑深秋乃發，是屬裡證，雖經遺泄，系陰虛夾邪。忌用溫散，再傷陰液。今自利口渴腹滿，可與四逆散方法。</p>
<p>黃芩　枳實　六一散　生芍　廣皮白</p>
<p>夏季暑熱內伏，秋涼伏邪內發。初起耳竅流膿，已非風寒在表。今十餘日大便不解，目黃赤，舌起黃苔，耳聾昏譫，漸有內閉之狀，非輕症也。</p>
<p>連翹　黃芩　大黃　黑梔　生甘草　枳實</p>
<p>急火煎四十沸，即濾清服。</p>
<p>濕熱之邪鬱於氣分，身熱目黃自利。夏月受之，深秋而發。</p>
<p>木防己　杏仁　黃芩　生石膏　枳實　白芍</p>
<p>脈沉目黃，氣喘嗆嘔，脘悶肢冷潮熱，汗出略緩，少頃復熱。病九日不解，口乾自利。此濕邪內勝為熱，三焦不通，夏伏至霜降而發，其病為重。</p>
<p>杏仁　半夏　山茵陳　鮮石菖蒲　厚朴　草果仁　茯苓皮　川通草</p>
<p>久痛，用辛溫兩通氣血不效。病已十年，不明起病之由。今便溏溺赤，水穀濕熱不運，必夾濕阻氣，主以分消。</p>
<p>薏苡仁　厚朴　豬苓　茯苓皮　蔻仁　山茵陳　澤瀉</p>
<p><u>又</u>　香砂平胃散，加茯苓、茵陳。</p>
<p>酒客濕熱內蘊，長夏濕熱外加。醫不曉客邪兼有宿病，發散消導，胃汁大傷，先利黏膩，繼而吐血。今兩跗麻痹，膝中逆冷，陰液枯涸，脈絡少氣，舌絳煩渴，溺赤短澀，熱未盡，本先奪，僂廢之象，恐不能免。</p>
<p>滑石　生石膏　寒水石　白芍　川柏　麥冬　鮮生地　阿膠　炙草　麻仁</p>
<p>舌白心黃，濕著太陰，食不運，嘔吐。</p>
<p>杏仁　廣皮白　草果仁　藿梗　厚朴　半夏</p>
<p>痛脹得吐而安，隨發寒熱，口苦目黃，皆濕熱內擾，胃口不清。《靈樞》謂中氣不足，溲便為變矣。</p>
<p>柴胡　花粉　穀芽　生薑　黃芩　半夏　枳實　大棗</p>
<p>暑濕雖去，胃氣未復，務宜薄味靜養，勿令客邪再擾。</p>
<p>川石斛　廣皮　半夏曲　煨益智仁　茯苓　青皮</p>
<p>熱穢上加，頭脹脘痞，宜蔬食清上。</p>
<p>竹葉心　桑葉　黃芩　連翹　花粉　杏仁</p>
<p>脈沉舌赤，邪入血分，煩躁，神氣欲昏，用竹葉地黃湯。</p>
<p>竹葉心　浙生地　犀角尖　連翹心　元參　細葉菖蒲</p>
<p>初病伏暑傷於氣分，潮熱渴飲，邪犯肺也。失治則遂傳膻中，遂舌絳縮，小便忽閉，鼻煤裂血，環口瘡蝕，耳聾神呆，此氣分之邪熱漫延於血分矣。夫肺主衛，心主營，營衛二氣，晝夜流行於經隧之中，與邪相遇，或涼或熱。今則入於絡，津液被劫，必漸昏昧，所謂內閉外脫。</p>
<p>犀角尖　元參心　金銀花　鮮生地　連翹　細葉菖蒲根</p>
<p>心營肺衛同治。</p>
<p>鮮生地　蔗汁　生甘草梢　麥門冬　花粉</p>
<p>暑濕本陰邪，必傷於氣分，久則三焦均受，自頭巔胸脅，流行皆阻，便溺不爽，但濕久而生熱，治濕必究其本。</p>
<p>桂苓甘露飲。</p>
<p>伏暑得新涼，身熱咳嗽，治在肺。舌白不溻，囊腫，暑必兼濕，濕滯為腫。</p>
<p>蘆根　茯苓　淡竹葉　杏仁　通草</p>

<h2>燥病</h2>
<p>形脈俱虛，不飢不食。積勞虛人，得深秋涼氣外侵，引動宿邪，內蒸而為煩渴，已非柴、芩、半夏之症。急救津液，以清伏邪。</p>
<p>竹葉　生地　梨汁　連翹　麥冬　蔗汁</p>
<p>不治失血，獨取時令濕邪，得以病減。凡六氣有勝必復，濕去致燥來。新秋暴暑爍津，且養胃陰，白露後可立調理方。</p>
<p>麥冬　人參　大棗　半夏　生草　粳米</p>
<p>脈虛數，形寒，心中煩熱，五更後氣升咳嗆。當秋分節燥金司令，大熱發泄之餘，皆能化燥。肺為嬌臟，最處上焦，先受其沖，宜潤燥以滋其化源。</p>
<p>冬桑葉　南花粉　生米仁　大沙參　玉竹　蜜炙橘紅</p>
<p>用白糯米三合，淘淨，流水泡，取極清湯，代水煎服。</p>
<p>夜來咳嗽略稀，即得假寐目瞑。夫溫邪內熱，津液被劫，已屬化燥。而秋令天氣下降，草木改色；肺位最高，上焦先受。大凡濕由地升，燥從天降，乃定理也。今皮膚甲錯，肌肉消爍，無有速於是也。茲論氣分主治，以上焦主氣也。議用喻氏方，減去血藥，以清燥專理上焦。</p>
<p>經霜桑葉　玉竹　甜杏仁　枇杷葉　甜梨皮　花粉（將濾入生石膏末二錢）</p>
<p>初秋咽痛發嗆，是氣交中暑熱燥氣從呼吸而入。肺位最高，清空失司，惟輕清可解。藥過於苦辛寒，胃傷食減，而上焦仍窒。古人謂金空則有聲，聲嘶脈數，有肺痿之慮。</p>
<p>甜水梨　兜鈴　北沙參　川貝母　訶子皮　蔗漿　甜杏仁</p>
<p>熬膏。</p>

<h2>寒病</h2>
<p>傷寒病發汗後表不解，乾咳嘔逆，夜不得臥，遵古人小青龍法。</p>
<p>杏仁　桂枝　乾薑　白芍　米仁　石膏　五味　甘草</p>
<p>下焦陰陽素虛，雪地奔走，寒從口鼻而入，肺受邪則上逆而喘，陽受傷則漐漐汗出。由中邪入，表散無益；宣其肺逆，喘緩可救。</p>
<p>桂枝　乾薑　杏仁　白芍　五味　茯苓</p>
<p>煩勞遇冷，營衛交窒，虛人夾邪，只宜輕劑疏解。</p>
<p>桂枝　炙草　杏仁　白芍　大棗　茯苓</p>
<p>嘔惡腹痛，舌乾不喜飲，脈左弱右大。勞倦中寒，脘中格拒，皆是太陰見證。古人有生料、熟料五積散，因爰其意，候裁。</p>
<p>杏仁　草果仁　半夏　厚朴　廣皮　煨姜</p>
<p>冷氣吸入，即是寒中太陰。與霍亂互參，正氣散、冷香引飲，闢穢蘇陽即效。而脾胃陽氣未為全復，議用治中湯數劑，夜分清虛為妙。</p>
<p>人參　生益智仁　砂仁　煨姜　廣皮　茯苓皮　木瓜</p>
<p>暴冷從口鼻入，直犯太陰，上嘔下利腹痛，為中寒陰症，脈細澀欲絕，急急溫暖中下之陽。</p>
<p>人參　淡乾薑　生芍　焦術　淡附子　茯苓</p>
<p>因脘中痞悶，去朮之緩中，再加桂枝以理陽。</p>
<p>人參　桂枝　乾薑　附子　茯苓　白芍</p>
<p><u>又</u>　人參　白芍　附子　茯苓　甘草</p>

<h2>冬溫</h2>
<p>高年水虧，溫邪深入陰分，熱在裡，外象反冷，熱傷陰則小溲欲痛，皆冬溫本病。仲景以存陰為章旨，奈何醫藥以桂枝，附子辛熱，再劫干津液，是何意見？</p>
<p>生地　阿膠　炙甘草　麥冬　炒麻仁　生白芍</p>
<p>溫邪水虧熱入，脈細數，口渴舌絳，不知飢餓，皮膚乾涸甲錯。熱劫津液，務以存陰為先，不當以苦寒反令化熱。</p>
<p>復脈湯。</p>
<p>舌乾不喜飲，腹鳴下利，皆陰液不肯上注，亦屬枯槁之象。仲景於邪少虛多，每以復脈湯升其津液。</p>
<p>復脈湯去桂枝、麻仁，衝入青蔗漿一杯。</p>
<p>腎虛溫邪內入，形神消爍，無寐廢食，臨晚寒熱，得汗而解，議用復脈湯去姜加芍。</p>
<p>脈左搏右細，顴赤氣喘。咋夜大便後，汗泄，竟夕不安。冬溫伏熱，陰衰陽冒之象，最屬重症。</p>
<p>生地炭　炒麥冬　蔗汁　炙甘草　生白芍</p>
<p>腎虛溫邪內入，熱迫液傷，舌白，不知飢，不欲食。宗仲景邪少虛多例，以甘藥用復脈法。</p>
<p>炙甘草　麥冬肉　桂枝　人參　大麻仁　生地</p>
<p>冬溫水虧，上焦熱熾。</p>
<p>生地六味湯去萸肉，加生白芍、雞子黃、小麥。</p>
<p>溫邪暮熱，由乎陰虛陽浮。熱解無汗，不欲飲水，豈是陽經為病？冬令失藏，法從腎肝論治。</p>
<p>阿膠　生地炭　炙黑甘草　小麥　生白芍　炒鬆麥冬</p>
<p>容色消奪，脈形漸細，不知飢，不欲納，捫之不熱，而自云熱，並不渴飲，間有寒慄之狀，此營衛不振，當治中焦。</p>
<p>人參　炮乾薑　益智仁　茯苓　木瓜　生白芍</p>
<p>著右臥稱甚氣悶，陽明氣未全降，宜補土降逆。</p>
<p>人參　白旋覆花　生白芍　茯苓　代赭石　南棗肉</p>
<p>脈左動是陰虛。溫邪深入，但大苦直降，恐化燥劫津陰。議以甘鹹寒之屬。</p>
<p>鮮生地　竹葉心　生甘草　元參心　麥門冬</p>
<p>氣喘痰鳴，鼻竅焦黑。溫邪上受，腎真下竭，陰不接陽，神識日迷，皆是衰脫之象。據右脈散大無緒，黃昏面色戴陽，少陰雖絕，當宗河間法，復入清上，滋其化源。</p>
<p>熟地炭　淡蓯蓉　白茯神　牛膝炭　天門冬　石菖蒲</p>
<p>溫邪十四日，舌絳渴飲，面帶油亮，此水虧熱入營分，最防昏厥。當清其血中之邪，以存陰液。</p>
<p>鮮生地　知母　生白芍　竹葉心　麥冬　丹皮</p>
<p>冬溫，氣熱深入少陰，舌赤心黃，潮熱不渴。大旨當存陰為要，勿令昏憒。</p>
<p>鮮生地　知母　生白芍　竹葉心　麥冬　丹皮</p>
<p>冬溫，脈數舌赤，口渴暮甚，水虧熱侵陰分。</p>
<p>杏仁　赤芍　花粉　黑梔　桔梗　連翹　廣皮</p>
<p>溫邪入肺，上唇高腫。初起病在氣分，治以苦辛寒輕劑，不得犯中下二焦。</p>
<p>薄荷　連翹　杏仁　牛蒡　黑梔皮　生石膏</p>
<p>溫邪上受，肺氣脾塞，周身皮膚大痛，汗大泄，坐不得臥，渴欲飲水，乾嘔不已。從前溫邪皆從熱化，議以營衛邪郁例，用仲景越婢湯法。</p>
<p>杏仁　桂枝木　茯苓　炒半夏　生石膏</p>
<p>寸搏，咳逆，骨痛暮熱。溫邪入肺，營衛不和，議清氣中之熱，佐以通營。</p>
<p>桂枝白虎湯。</p>
<p>冬溫熱入，爍及筋骨，非風寒襲筋骨痛宜汗之比。生津清熱，溫邪自解。</p>
<p>桂枝木　知母　杏仁　花粉　滑石　甘草</p>
<p>冬溫伏邪，先厥後熱，熱深從里而發，汗出煩躁，當救胃汁。</p>
<p>竹葉心　烏梅肉　川石斛　麥門冬　生甘草　生穀芽。</p>
<p>藏真下虛，陽挾上冒，胃少納，不飢，齒根實腫，巔頂麻痹。素多郁遏，驟難溫補，況今冬溫，正少藏熱易入，姑擬輕劑鹹苦，軟結升降。俾厥陰、陽明稍和，另商損益調理。</p>
<p>黃芩　川石斛　栝蔞皮　牡蠣　木瓜　山楂</p>
<p>陰虛體質，復加勞力奔走，致陽氣亦傷。舌邊赤，中心黃，咽乾腹膨。熱在裡，脈氣結聚，胃失司降，當進解鬱清燥。</p>
<p>杏仁　炒黃竹茹　栝蔞仁　紫菀　金石斛　廣皮白</p>
<p>過暖氣泄，失冬藏之用。此病後煩倦，痰嗽帶血，高年上實下虛，即如冬溫客氣。無辛散之理，甘涼潤劑，與胃無損為宜。</p>
<p>桑葉　杏仁　黑梔　玉竹　白沙參　象貝</p>
<p>冬溫為病，乃正氣不能固藏，熱氣自里而發。齒板舌乾唇燥，目漸紅，面油亮，語言不爽，呼吸似喘。邪伏少陰，病發三焦皆受。仲景謂：發熱而渴者為溫病，明示後人，寒外鬱則不渴，熱內發斯必渴耳。治法以清熱存陰，勿令邪氣焚劫津液，致瘛瘲痙厥、神昏譫狂諸患。故仲景復伸治療，若非一逆尚引日，再逆促命期，且忌汗下、忌溫針，可考。九日不解，議清膈上之熱。</p>
<p>竹葉　杏仁　花粉　淡黃芩　連翹　橘紅　滑石　鬱金汁</p>

<h2>瘧疾</h2>
<p>脈弦口渴，少陽寒熱乘胃劫津，可與小柴胡湯和正以解邪。</p>
<p>小柴胡去半夏，加花粉、白芍。</p>
<p>脈右軟左弦，寒熱漸早，口渴喜飲，此胃津日損，木火尚熾，生津養胃以扶正，辛酸兩和木火之鬱熱。</p>
<p>柴胡　人參　麥冬　橘紅　黃芩　知母　白芍　烏梅</p>
<p><u>又</u>　生鱉甲　知母　烏梅　炒桃仁　丹皮　草果　白芍</p>
<p><u>又</u>　人參　知母　金石斛　川連　烏梅　茯苓</p>
<p>不知飢飽，大便溏泄三次，寒熱犯中，脾胃不和，未宜純補，議用四獸飲意。</p>
<p>人參　草果仁　炙甘草　茯苓　廣皮　木瓜</p>
<p>陰虛之體，冷熱失調，為瘧寒熱，重傷胃津為嘔吐，夏至後病暑，宜生津和陽以安胃口，勿徒消克。</p>
<p>嫩竹葉　金石斛　廣橘紅　知母　製半夏　木瓜</p>
<p>津傷復瘧，寒熱煩渴。</p>
<p>桂枝白虎湯，加花粉。</p>
<p>脈弦如刃，煩渴脘痞，嘔吐，蛔蟲上升，此胃氣已慮，暑熱復入，三焦不行，客氣逆乘，況病後調理失宜，本虛標實，姑進安胃降逆，冀得嘔逆緩，氣道稍順，再議。</p>
<p>川連　烏梅肉　枳實汁　川椒　生白芍　生薑</p>
<p>暑熱未退，胃氣已虛，蛔逆中痞，嘔吐涎沫，是厥陰犯胃，胃氣有欲到之象，進安胃法。</p>
<p>進安胃法嘔逆稍緩，夜寐神識不安，辰前寒戰畏冷，是寒熱反復，陰陽並傷，有散失之勢，擬救逆法，鎮攝陰陽，得安其位，然後病機可減。</p>
<p>龍骨　桂枝木　人參　牡蠣　生白芍　蜀漆</p>
<p>交寅、卯兩手及臂冷，是脾胃虛陽失旋運，至午前復溫，以陽旺於日中，故雖進稀粥，脘中痞悶，議進治中湯，健運中宮，使肝邪不敢戕伐中土，所謂瘧痢之病，多因脾弱也。</p>
<p>人參　半曲　烏梅　茯苓　益智仁　廣皮　木瓜　澤瀉</p>
<p>瘧後胃虛，客氣易逆，吐涎沫，不知飲食，進養胃制肝法。</p>
<p>人參　半夏曲　桂枝木　龍骨　烏梅　陳皮白　生白芍　牡蠣</p>
<p>脈弦遲，形寒神倦，得之憂思驚恐，衛外陽氣暴折，陰寒不正之氣得以乘襲，將有瘧疾，病機宜靜攝護陽，庶外邪不至深入為害。</p>
<p>當歸建中湯去姜，加牡蠣。</p>
<p>形色脈證俱虛，寒熱結耗胃津，脘中不知飢餓，二便皆覺不爽，徒進清熱，消克中宮，更是坐困，考古暑病凡旬日不解，必當酸泄矯陽，以蘇胃汁，元虛之體，恐滋變病。</p>
<p>桂枝木　生牡蠣　炒烏梅　生白芍　炒蜀漆　大棗</p>
<p><u>又</u>　去大棗，加龍骨。</p>
<p>體虛溫瘧，當從和正解邪，禁用柴、荊發散，及沉重傷下藥。</p>
<p>桂枝木　黃芩　杏仁　花粉　生白芍　半夏曲　橘紅　豆蔻</p>
<p>寒熱由四末迫劫胃津，是以病餘不食不飢，叨叨汗泄，當養胃陰生津，以俟克復。</p>
<p>人參　捲心竹葉　生芍　茯苓　麥門冬　麻仁</p>
<p>溫瘧陰傷，足熱陽亢，病發日早。</p>
<p>六味去萸肉、山藥，加人參、生芍、生鱉甲。</p>
<p>熱邪入肺為溫瘧。</p>
<p>桂枝白虎湯。</p>
<p>但熱無寒，咳嗽漸嘔，周身疼楚，此為溫瘧，伏邪日久，發由肺經，宗仲景桂枝白虎湯，二劑當已。</p>
<p>桂枝白虎湯，加麥冬。</p>
<p>癉瘧邪在肺，口渴，骨節煩疼。</p>
<p>桂枝白虎湯。</p>
<p>肺瘧咳逆欲吐。</p>
<p>蘆根汁　花粉　杏仁　半夏曲　橘紅</p>
<p>勞怯一年，近日頭脹潮熱口渴，乃暑熱深入為癉瘧也。《金匱》云：陰氣先傷，陽氣獨發為病，不必發散消導，再傷正氣，但以甘寒生津和陽，務使營衛和，熱自熄。</p>
<p>北沙參　知母　生鱉甲　麥冬　烏梅　生白芍</p>
<p>夏暑久郁為癉瘧，熱勝則肺胃津傷，五心熱，多咳，故薄味清養，自能向愈，甘寒除熱生津方進商。</p>
<p>麥冬　花粉　竹葉　沙參　甜杏仁　甘草</p>
<p>暑風入肺為闡瘧，《金匱》謂陽氣獨發，嘉言云：體陰素虛，而所伏暑氣，日久混入血分，陰虛陽冒，上焦清竅皆蒙，胃陽失和，不納易痞，究竟伏邪未去，凡苦辛疏滯，都屬禁例。夫上實下虛，有客邪留著，鎮降決不應病，仿之才輕可去實之例，分別氣血，以宣之逐之。</p>
<p>青大竹葉　連翹　犀角　鮮荷葉汁　元參　通草</p>
<p>脈數，稚年陰氣先傷，陽氣獨發，暮夜潮熱，天曉乃緩，由夏暑內伏，入秋乃發，病名癉瘧，色白肌瘦，久熱延虛，不可汗下消導，再傷陰陽，舌邊赤，中心苔膩，兼欲嗆咳，熱灼上焦，肺臟亦病，法宜育陰制陽，仍佐清暑肅上，用景岳玉女煎。</p>
<p>鮮生地　石膏　生甘草　麥門冬　知母　竹葉心</p>
<p>熱勢減半，脈猶勁數，夏季久伏之邪，由里而發，汗泄不能解徹，稚年陽盛陰虛，病當夜甚，從河間三焦並清法。</p>
<p>甘露飲。</p>
<p>脈數右大，渴飲神迷，聞聲若在甕中，舌邊赤苔有刺，伏暑必挾濕化瘧，熱蒸迫從傷津，胃汁不復，脘中常悶。夫熱病以存陰為先，瘧已半月，須參里症，議清胃生津，若景岳玉女煎之屬。</p>
<p>鮮生地　麥冬　竹葉　生石膏　知母　甘草</p>
<p>體質陰虛，暑邪深入，著熱漸渴，汗泄可解，此仲景所謂陰氣先傷，陽氣獨發，病名癉瘧。妄投苦辛消導，胃津劫損，氣鈍不知飢矣。</p>
<p>竹葉心　鮮生地　滑石　知母　牡丹皮　生草</p>
<p>營液劫盡，邪透膻中，遂心熱惶惶，難訴苦況。丹溪謂：上升之氣自肝而出。況先厥後熱，亦是肝病。用紫雪芳香走竄，勿使里邪結閉耳。湯藥用飲子煎法，取輕清不滯，僅解在膈上之蘊熱，議用景岳玉女煎。</p>
<p>鮮生地　知母　竹葉　風米　麥冬　石膏　生草</p>
<p>脈左盛，邪留在血。寒熱頗減未已，滋清裡熱，以俟廓清，不必過治。</p>
<p>鮮生地　生鱉甲　知母　天冬　丹皮　花粉</p>
<p>仲景云：凡元氣有傷，熱邪不去者，當與甘藥。人之一身，不外陰陽二氣而成，知陽虛用建中，陰虛用復脈，斷斷然也。是方全以復脈甘藥護身中陰液，劉河間加入三石，名曰甘露飲子，蓋滋清陰藥，能救陰液，並能驅逐熱邪之深伏。上焦如霧，滑石之甘淡以驅之；中焦如漚，石膏之甘辛寒以清之；下焦如瀆，寒水石之甘鹹寒以泄之，俾去邪不損真陰，非柴胡鱉甲之比。方名飲子，取重藥以輕投，斯入陰不滯，攻邪不伐，又與湯散方法迥異耳。夏月最宜進商，奈世人忽而不究者頗多，故辨及之。</p>
<p>復脈湯加三石。</p>
<p>春季失血，是冬藏未因，陰虛本病無疑。小愈以來，夏至一陰未能來復，血症再來，原屬虛病。今診得右脈急數倍左，面油亮，汗淋涕濁，舌乾白苔，煩渴欲飲，交午、未蒸蒸發熱，頭脹，周身掣痛，喘促嗽頻，夜深熱緩，始得少寐，若論虛損，不應有此見證。考《金匱》云：陰氣先傷，陽氣獨勝，令人熱勝煩冤，病名癉瘧。要知異氣觸自口鼻，由肺系循募原，直行中道，布於營衛，循環相遇，邪正相併，則發熱矣。津液被劫，日就消爍，火熱刑金，咳喘為甚，此與本病虛損劃然兩途。仲景定例，先理客邪新病，恐補則助邪害正耳。是以右脈之診為憑，議當辛甘之劑，驅其暑濕之邪，必使熱減，議調本病，勿得畏虛養邪貽害，至囑。</p>
<p>桂枝　知母　麥冬　石膏　甘草　粳米</p>
<p>前法大清氣分，兼通營衛，石膏佐以桂枝，清肺為多，其餘皆滋清胃熱，仍有生津之意。今診兩手相等小數，交未末熱勢較昨似輕；右脈不甚急搏，而心熱煩悶、作渴之象如昔。驗舌苔乾白，舌邊過赤，陰虛之體，其熱邪乘虛入三焦，皆有諸矣。況冬病風寒，必究六經；夏暑溫熱，須推三焦，河間創於宣明論中，非吾臆說也。凡熱清片刻，議進甘露飲子一劑，服至五日再議。</p>
<p>滑石　生石膏　寒水石　桂枝　白芍　麥冬　鮮生地　阿膠　人參　炙草　火麻仁</p>
<p>先用清水二盞，空煎至一半，入藥煎四五十沸，澄清冷服。</p>
<p>未病形容先瘦，既病夜熱早涼。猶然行動安舒，未必真重病傷寒也。但八九日病來小愈，驟食粉團腥面，當宗食谷發熱，損谷則愈，仲景先未嘗立方。引腹痛洞泄，食滯阻其腸胃，火腑不司變化。究其病根，論幼科體具純陽，瘦損於病前，亦陽亢為消爍。仲景謂：癉瘧者但熱不寒。本條之陰氣先傷，陽氣獨發，熱爍煩冤，令人消爍肌肉，亦不設方，但曰以飲食消息主之。嘉言主以甘寒生津可愈，重後天胃氣耳。洞瀉既頻，津液更傷；苦寒多餌，熱仍不已，暮夜昏譫，自知胸膈拒痛，腹中不和，此皆病輕藥重，致陰陽二氣之殘憊。法當停藥與谷，諒進甘酸，解其煩渴，方有斟酌。</p>
<p>瘧來嘔吐，失血成塊且多，乃平素勞傷積瘀，因寒熱攻動胃絡，瘀濁遂泛。血後肢冷汗出，陽明虛也。但瘧邪仍來，口渴胸痞。雖是熱邪未盡，然苦寒枳、樸等藥再伐胃氣，恐非所宜。</p>
<p>鮮生地　生鱉甲　知母　生白芍　牡丹皮　竹葉心</p>
<p>瘧熱攻絡，絡血湧逆，脅痛咳嗽。液被瘧傷，陽升入巔為頭痛。絡病在表裡，攻之不肯散，議搜血分留邪伏熱。</p>
<p>鱉甲　丹皮　知母　鮮生地　桃仁　寒水石</p>
<p>面赤口渴，脈大而空，勞倦夾虛，不可純作時瘧感治。</p>
<p>桂枝木　炙甘草　泡淡黃芩　生白芍　南棗肉　生薑</p>
<p>脈空搏，面赤舌白，消渴汗出，晝夜不已，兩足逆冷，寒熱潮遲。此積勞陽虛，外邪易陷，本虛標實，復進柴葛加消導，謂之劫津，仍宜和營主治。</p>
<p>歸建中去糖。</p>
<p><u>又</u>　淡黃芩　知母　花粉　烏梅　廣皮白　製半夏　草果　枳實　白芍</p>
<p>外寒勢緩，熱渴勢甚，此少陽木火迫劫胃汁，脘中津衰。熱蒸痰飲，倘飲水過多，中焦不運，恐為水結。仿白虎之意，不泥其方，以示勿太過耳。</p>
<p>鮮竹葉　飛滑石　烏梅肉　麥門冬　知母　生白芍</p>
<p>胃為肝陽之擾，沖氣如呃，熱時煩躁不眠，純屬裡證，法當酸苦泄熱，俾陽明凝和。</p>
<p>知母　淡黃芩　生鱉甲　捲心竹葉　丹皮　生白芍　烏梅肉</p>
<p>胃虛熱氣上行，故覺氣塞，當養胃陰生津，使陽和則邪清。積勞有年之體，甘寒為宜。</p>
<p>人參　竹葉　知母　粳米　麥冬　石膏　生甘草</p>
<p><u>又</u>　鱉甲煎丸，早服七粒，午時七粒，暮時七粒，白滾湯送下。</p>
<p><u>又</u>　生牡蠣　桂枝木　人參　花粉　生白芍　烏梅肉</p>
<p>間日瘧脈弦，煩渴無汗，頭微痛，往來寒熱欲嘔，可與小柴胡湯。</p>
<p>柴胡　人參　生薑　黃芩　半夏</p>
<p>寒熱雖止，心熱口渴，營分餘邪未解。仿景岳玉女煎意，滋清營熱，此伏暑可去。</p>
<p>生地　知母　生甘草　生白芍　生石膏　竹葉心</p>
<p>口鼻吸入，上焦先受。因陰虛內熱體質，咳嗽震動絡中，逆致血上而脹。煩渴寒熱，究是客邪，先以清暑方法。</p>
<p>杏仁　竹葉心　黑梔皮　連翹心　石膏　荷葉汁</p>
<p>陰虛者邪未盡，癉熱汗解，用景岳玉女煎。</p>
<p>石膏　竹葉心　生地　知母　麥冬　白芍</p>
<p>夏季瘧發，溫熱恆多。攻下動里，里傷邪陷，變痢大痛。利頻不爽。強食脘中遂脹，濕熱阻遏，氣偏滯也。況久病大虛，恐有變厥之慮。</p>
<p>黃連　黃芩　人參　烏梅　白芍　當歸。</p>
<p>手指尖及背部皆寒，唇舌亦皆麻木。夫背為陽脈經行之所，四肢亦屬諸陽之本，況麻為氣虛，凡陰傷陽無不損，當撤去苦寒，進和中制木意。</p>
<p>人參　炙草　炒白粳米　新會皮　木瓜　白芍　炒荷葉蒂</p>
<p>脈大右澀，舌白，鼻竅乾黑，不飢不食。由暑濕內伏，新涼外來成瘧，汗泄表解，伏氣未罷，填塞胸臆，餘熱結於氣分，思得肺化，如秋冬天降，則清肅令行。況初病身痛，亦濕熱阻氣之象，諸家不及道此。</p>
<p>栝蔞皮　杏仁　黑梔　鬱金　川貝　枇杷葉</p>
<p>肥人多痰多濕，暑熱夏受，秋深涼來，伏熱乃發。汗多不解，非關表寒；煩渴喜飲，均是里病。肺失降而胸痞悶，濕邪盛而戰慄多。濕熱合邪，同時氣分，是太陰、陽明之瘧。醫不分經絡混治，所以旬日之外邪未退舍也。</p>
<p>木防己　杏仁　炒半夏　枳實汁　生石膏　炒厚朴　生薑汁</p>
<p>巔脹汗多，脘痞欲嘔，熱多寒少。初因遺泄陰傷，伏暑內發為瘧，忌用柴、葛再泄其陽。</p>
<p>淡黃芩　花粉　蔞皮　杏仁　醋炒半夏　豆蔻　橘紅　飛滑石</p>
<p>寒熱已止，脘痞不飢，此清陽不主運通，益氣佐以芳香醒中。</p>
<p>人參　白蔻仁　炒白芍　陳皮　炒半夏　茯苓</p>
<p>舌灰白，胸痞，瘧來欲嘔昏厥，熱時渴飲，此暑熱不解，邪欲深陷，議瀉心法。</p>
<p>黃連　黃芩　厚朴　半夏　杏仁　薑汁</p>
<p>脈數，舌邊白。暑濕熱內伏為瘧，嘔逆胸滿，間日寒熱，邪勢未解，議以酸苦泄熱主治。</p>
<p>川連　草果仁　黃芩　廣皮白　烏梅　知母　半夏　生薑</p>
<p>脾腎陽虛，背寒吐涎。邪雖未盡，又慮正傷，扶正驅邪，以冀劫瘧。</p>
<p>人參　草果仁　炒焦半夏　生薑　烏梅肉　新會皮</p>
<p>粵中陽氣偏泄，途中煩勞涉虛。暑熱內伏，涼風外加，瘧來間日者，邪深不得與衛氣陽也。但客邪六氣，總化為熱。吐蛔消渴噦逆，厥陰、陽明病也，里證顯然，柴、葛泄表動陽，須忌。</p>
<p>川黃連　人參　黃芩　烏梅肉　生薑汁　枳實　半夏　生白芍</p>
<p>病起腹痛泄瀉，繼而轉瘧。舌膩，渴不能飲，嘔逆吐痰，脘中熱悶，乃暑熱內伏，足太陰之陽不主旋轉運通，有以霍亂而起。緣未及分經辨證，邪留不解，有內結之象。不特老人質弱，如今霜降土旺，天令欲收，邪勢未衰，未為穩妥，議用瀉心湯法。</p>
<p>淡黃芩　川連　杏仁　炒半夏　厚朴　薑汁</p>
<p>頭痛惡心嘔涎，冷自四肢起，舌白渴飲，胸痞悶，眼白帶黃，汗多，乃太陰濕瘧也。夏秋伏邪而發，並非暴受風寒，不可發散。</p>
<p>杏仁　枳殼　廣皮白　半夏　藿梗　蔻仁　厚朴　薑汁</p>
<p>瘧發於秋，名曰伏氣。兩旬不解，消滯清火而不見效。寒少熱多，口渴喜暖，心中懊憹，不能自主。是無形氣結，蔞、連、枳、半，只治有形有滯，寒熱未能開提，懊憹氣結，況無汗為煩，表裡氣機不行，顯然窒閉，宗仲景梔豉湯，一升一降，以開其結。</p>
<p>梔子　香豉（各三錢）</p>
<p>浴後寒熱，衛陽損也，用建中湯。</p>
<p>人參　歸身　桂枝木　蜜姜　黃耆　炙草　白芍　大棗</p>
<p>陽氣發泄，寒熱脈大。</p>
<p>蜀漆　龍骨　人參　桂木　牡蠣　生芍</p>
<p>左數甚。</p>
<p>人參　五味　山藥　熟地　芡實　茯神</p>
<p>左數寒熱。</p>
<p>人參　桂枝木　南棗　炙草　煅牡蠣</p>
<p><u>又</u>　人參　生白芍　生牡蠣　烏梅肉　炙甘草　小麥</p>
<p><u>又</u>　何人飲。</p>
<p><u>又</u>　鱉甲煎丸。</p>
<p>從來通則不痛，通者非流氣下奪之謂，作通陰陽訓則可。閱《內經》論痛，都因寒客。今脈左搏而大，氣墜便不爽，宛是陰液少，氣失疏泄。議用辛酸甘緩，而和體用。</p>
<p>小茴香炒當歸　生白芍</p>
<p>另參湯遠藥進。</p>
<p><u>又</u>　熟地　炙草　山藥　秋石丸　五味　白芍　茯神</p>
<p>脈左細右空。小產亡血未復，風邪外襲營衛孔隙，寒熱汗出。視目紫晦，面色枯痿，其真氣衰奪，最慮痙厥之變。此辛甘緩和補法，以護正托邪。</p>
<p>人參　白朮　乾薑　桂枝　炙草</p>
<p>脈虛數，舌白。身痛脘痞，有痰，寒熱日遲。此陰陽兩損，時令濕邪外薄，內應太陰，謂之虛邪，宜從中治。</p>
<p>人參　半夏　知母　生薑　茅朮　陳皮　草果仁　烏梅肉</p>
<p>夜來忽然昏暈，目無光，筋骨痛。營液暗損，任、督皆憊之象。</p>
<p>人參　炙甘草　鹿茸　當歸　酒炒白芍　鹿角霜</p>
<p>自昏厥以來，耳聾舌白，嘔逆涎沫，大便不通，必有暑邪吸入胃脘。此肝氣升舉，諸陽皆冒，腑氣窒塞，恐內閉昏脫，最為可慮。體虛夾邪，先清邪以安胃，議以酸苦泄熱驅暑。暑汗無止澀之例，總以勿進表散，乃里症治法也。</p>
<p>川連　黃芩　廣皮白　烏梅肉　生薑汁　炒半夏　枳實</p>
<p>兩脈皆起，神氣亦蘇，但大便未通，中虛舌白，理難攻下。況肝虛易驚，又屬瘧傷致厥，仲景雖有厥應下之文，驗諸色脈，不可徒執書文以致誤。</p>
<p>人參　半夏　生白芍　川連　枳實　烏梅肉</p>
<p>前此未盡瘧邪仍至，兼之惱怒，肝氣結聚中焦，補虛之中必佐散邪開結。</p>
<p>人參　生牡蠣　白芍　橘紅　炙鱉甲　丹皮</p>
<p>產後下虛，利後為瘧，是營衛交損，況色脈並非外邪，補劑頻進不應，由治錯亂。經云：陽維為痛苦寒熱。</p>
<p>人參　桂枝木　炒當歸　鹿角霜　炙甘草　炮黑姜</p>
<p>積勞傷陽，哀慼動藏，重重內損，其夏秋伏邪，已深在重圍。此從陰經而來，朱漢老非治時邪，病人服藥而安，溫藥助陽也。考三陰而投溫補扶正，正謂托邪。知母入咽即呃，陽明之陽幾漸，不飢不食不寐，陽不流行，三焦困，脾胃憊矣。肛墜屬陰傷氣陷，難任純剛之劑。</p>
<p>人參　當歸（米炒）　厚朴　麋角（酒浸烘）　炮姜　草果</p>
<p>陰瘧足太陰經，先進柴胡薑桂湯。</p>
<p>柴胡　黃芩　栝蔞根　甘草　桂枝　乾薑　生牡蠣</p>
<p>瘧兩旬不解，寒多熱少，是為牝瘧，進牡蠣散。</p>
<p>牡蠣　龍骨　肉桂　白芍　雲母　蜀漆　炙草　大棗</p>
<p>牝瘧寒多，內熱心悸。</p>
<p>陽旦湯，加生牡蠣、花粉。</p>
<p>勞瘧不止，肢腫寒多。</p>
<p>陽旦湯，加牡蠣、雲母石。</p>
<p>陰瘧四月，汗泄，下肢腫。</p>
<p>早服八味丸。</p>
<p>淡附子　細辛　生白朮　澤瀉</p>
<p>厥陰陰瘧不止，能食。</p>
<p>熟地炭　淡蓯蓉　牡蠣　五味子　鹿角霜　龍骨</p>
<p>陰瘧三年不愈，下虛遺泄。</p>
<p>蜀漆　牡蠣　炙黃耆　桂枝　龍骨　炙甘草</p>
<p>陰瘧久虛。</p>
<p>益氣湯加附子。</p>
<p>陰瘧脈沉，漸背寒肢冷，脘中食入痞滿。此屬陽氣傷極，春深木旺，恐變浮腫脹病，宜理中兼理下焦，勿得驅邪治瘧。</p>
<p>附子桂枝人參湯，加塊茯苓、生薑、大棗。</p>
<p>冬月伏邪，至春發為溫瘧，汗出不解，非因新感可知。脈虛，先有遺症，忌進耗散真氣，和正解邪為穩。</p>
<p>桂枝　草果　杏仁　白芍　枯芩　桔梗</p>
<p>瘧由四末，必犯中焦，胃獨受其侮克，故煩渴脘痞不飢。今日舌絳便溏，陰氣先傷，陽邪未盡，宜芩、芍和里，益以瀉木邪，救胃陰。</p>
<p>黃芩　丹皮　白蔻仁　白芍　青蒿　烏梅肉</p>
<p>經月瘧後，易生嗔怒。春令內應肝膽，其用太過，其體尤虛，所以自覺餒怯。考仲景，一月瘧來痊期，血氣凝結脅中，必有瘕聚，名曰瘧母。母者，瘧邪病根也，鱉甲煎丸主之，使氣血通行，留邪無可容矣。</p>
<p>服露姜飲頗逸，第寒熱仍來，知邪伏於陰，不得透解；大便不通，又經旬日，議從厥陰搜逐，使肝遂疏泄，可望瘧止。每天明、午刻、交子，各用鱉甲煎丸七粒，連進六日，斯三陰三陽皆通，邪無容足之地矣。</p>
<p>瘧久邪入絡，絡主血，邪結血分，則為瘧母。仲景鱉甲煎丸專以升降宣瘀治肝，謂寒熱不離少陽，久必入肝，肝主血，左脅為肝膜俞也，攻病固當如是。但欠有遺精，食少不化，諸恙病非一端，此攻邪溫補，未能動病，莫若養正，氣旺邪自除，古有諸矣。</p>
<p>午服妙香散，晚服阿魏丸。</p>
<p>久瘧針挑，汗出乃止，經脈邪去，絡脈留邪，脅下遂結瘧母，按之堅，形高突。四年帶病，仍然能食便通，其結聚不在腸胃，藥下咽入胃入腸不效，蓋絡脈附於臟腑之外廓耳。</p>
<p>生鱉甲（青色刮去衣，四兩）　穿山甲（炙，二兩）　五靈脂（燒至煙盡為度，二兩）　麝香（忌火，另研，五錢）　辰砂（忌火，另研水飛，五錢）</p>
<p>上藥各研，淨末分兩加入阿魏一錢，同搗丸，飢時服二錢。</p>
<p>三瘧已久，自述煩勞必心胸痞脹。凡勞則傷陽，議溫養營分托邪一法。</p>
<p>人參　桂枝　炙甘草　南棗　茯苓　蜀漆　當歸身　生薑</p>
<p>瘧三日乃發，是邪伏在陰，經年雖止，正傷難復。衛陽外泄，汗出神疲，宜甘溫益氣之屬。五旬向衰，必節勞保養，不徒恃藥。</p>
<p>養營法，用煨姜三兩、南棗四兩，煮汁泛丸。</p>
<p>三日瘧是邪伏陰分而發，非和解可效。久發不止，補劑必以升陽，引伏邪至陽分乃愈，守補藥則非。</p>
<p>鹿茸　人參　熟附子　炒黑杞子　鹿角霜　當歸　茯苓　炒沙苑</p>
<p>稚年三日瘧，太陰脾傷為多，飲食忌用腥膻，劫邪繼以升陽。</p>
<p>常山　白朮　厚朴　草果　陳皮　薑汁</p>
<p>診左現小數，右緩濡溺。食已煩倦，是脾陽漸衰，古人謂瘧、痢都因脾弱也。況便溏足冷，色奪形瘦，若不急補後天，以崇母氣，區區疲藥，元氣消憊矣。用《局方》加味四獸飲。</p>
<p>人參　熟術　草果仁　廣皮　茯苓　炙草　烏梅肉</p>
<p>此勞傷陽氣之瘧，循環不已，脈絡久空，當升補陽氣。</p>
<p>生耆　炙草　生薑　鹿角　當歸　南棗</p>
<p>露姜飲止瘧，是益中氣以驅邪，虛人治法皆然。脾胃未醒，忌進腥濁。</p>
<p>人參　炙草　半夏　益智仁　橘紅　薑汁</p>
<p>陰泄陽冒頻遺，鼽衄寒熱消渴，氣上撞心，欲寐驚惕，飲多嘔逆，兩足如墜，莖中凝窒。《金匱》謂陰氣先傷，陽乃獨發。見瘧厥陰經瘧，與上焦治異。</p>
<p>鮮生地　知母　生甘草梢　元參　川斛　竹葉</p>
<p>熱病時瘧，不分清理在氣在血，以發散消導，劫傷胃汁，遂不飢不食。突遭驚駭，肝陽暴越，復令倏熱倏涼，兩足皆冷，腹脹不和。脅中有形觸痛，由久病入絡。陰陽不通，二便窒閉，先與更衣丸二錢，俟半日後，大便得通。次日用藥，當以兩和厥陰、陽明方法。</p>
<p>生牡蠣　柏子仁　生白芍　川楝肉　小黑豆皮　細根生地</p>
<p>瘧熱傷陰，陰液不得上承，舌心捫之如板。目瞑面腫，驚惕，肝陽化風內震；胃氣愈逆，脘痞，欲人撫摩。熱氣聚膈，蒸迫膻中，必至神昏閉塞，老年凶危俄頃，然非形質之結清寒攻蕩可效，況已瀉利在前，邪陷陰傷顯然。夫陰傷屬下，熱聚居上，救陰之劑未遑透膈以滋下。芩、連、涼膈，苦辛燥氣再傷陰，究非至當。展轉籌劃，法宜分理，議於今晚先進清心牛黃丸一服，勻三次溫開水與服，取其芳香清燥以開其結。明日再診議方。</p>
<p>冒暑遠行，熱氣由口鼻入，犯上犯中，分布營衛，故為寒熱瘧疾。當淡薄食物，清肅胃氣；投藥以涼解芳香，或甘寒生津，皆可療此。奈何發散以去寒，不知口鼻受熱，與皮膚受寒迥別，治之不效，肆行滋補，參、朮、耆、地，黏膩中宮，肺氣壅閉，胃中滯凝，腫脹每上至下，一身氣機不通，張戴人所謂邪得補而勢盛，如養寇殃良之比。但病久形消，矯其非而再為攻逐，又慮正氣之垂寂，故改湯為丸。丸者緩也，使中焦得疏，漸漸轉運，升降得宣，六腑有再通之理，腑通，經脈之氣無有不通者矣。每日進丹溪保和丸。</p>
<p>左脅下宿積有形，今瘧瘧反復，左脅又結瘧母，胸脘痞悶，大便艱難，乃瘧症餘邪與氣血膠結，六腑亦因之不宣，宜攻以通其瘀滯，先進鱉甲煎丸三錢。早上、午時、暮時各用七粒，開水送下。</p>
<p>瘧邪未盡，堵截氣窒，致腹滿足腫，氣逆欲喘。水濕內蘊，治當分利。</p>
<p>杏仁　牡蠣　豬苓　厚朴　澤瀉　茯苓</p>
<p>瘧止太早，邪熱未盡，脘痞不飢，口渴自利，防有滯下。</p>
<p>川連　黃芩　半夏　枳實　白芍　橘白</p>
<p>同議上下合邪，泄厥陰以安陽明，仍佐肅清暑濕方法。</p>
<p>桂枝木　川連　人參　生牡蠣　烏梅　白芍</p>
<p>痰哮由外邪而發，坐不得臥，腎病為多。以風寒必客太陽，體弱內侵少陰耳。若夫暑濕熱氣，觸自口鼻，背部瘍癤，乃鼻竅應肺，是手經受邪，辛涼氣輕之劑可解，以肺欲受辛，其象上懸，氣味沉重，藥力下走而肺邪不解。然夏病入冬，氣候迭更，熱邪久而深入，氣血日被損傷，滋清如膠、地，搜逐如鱉甲煎丸，無如不獨陰虧，八脈氣衰，如寒為熱，病形漸延損怯，喉痛，火升上熱，緩必下熱，此剛藥難投，柔溫之養，佐通奇脈定議。</p>
<p>生鹿角霜（三錢）　炒黑枸杞（錢半）　茯苓（錢半）　沙黑歸身（錢半）　熟地炭（三錢）　生沙苑（一錢）</p>
<p>瘕泄下冷熱升，議通攝任、督之散越。</p>
<p>鹿角霜（三錢）　熟地炭（五錢）　補骨脂（鹽水先煎百沸，八分）　敗龜板（刮光炙脫研，三錢）　雲茯苓（錢半）　石殼建蓮（連殼勿研，十粒）</p>
<p>經先期三日，熱多寒少，脈左弦大。血分偏熱，治厥陰瘧邪窒在血。</p>
<p>生鱉甲　冬桑葉　青蒿梗　炒桃仁　炒丹皮　川貝母</p>
<p>瘧乃暑濕客邪，血證逢時便從。已是陰虧體質，治邪須顧本元，議與竹葉地黃湯。</p>
<p>竹葉　知母　川貝母　鮮生地　薄荷</p>
<p>寒熱後，診脈小弱，舌白，渴不欲飲，痰多氣悶。瘧未盡而正已虛，不可過攻，防其衰脫。</p>
<p>生術　半夏　草果仁　廣皮　茯苓　厚朴</p>
<p>瘡家濕瘧，忌用表散。</p>
<p>蒼朮白虎加草果仁。</p>
<p>伏邪成瘧，寒熱間日作，汗多欲嘔，中脘痞悶不飢，進瀉心湯法。</p>
<p>川連　黃芩　杏仁　枳實　薑汁　半夏　厚朴　草果</p>
<p>脈無力，寒熱夜作，煩渴噁心，舌黃中痞。雖是伏暑為瘧，然平素煩勞，即屬內傷，未可泥於發散消食，先進瀉心湯以泄蘊熱。</p>
<p>川連　淡黃芩　花粉　枳實　薑汁　炒半夏　豆蔻　橘紅</p>
<p>寒熱後津傷，舌上黑胎，口乾不知味，食不易飢，大便不爽，宜進滋養陰液法。</p>
<p>麥冬　知母　橘紅　人參　川石斛　烏梅肉</p>
<p>產後未滿百日，下焦精血未旺，遂患三瘧，緣真氣內怯，邪不肯外出。醫藥清散攻下，僅治三陰之瘧，遂致魄汗淋漓，乃陽氣脫散敗壞之象矣。</p>
<p>人參　補骨脂　炒黑茴香　茯苓　歸身</p>
<p>濕盛寒戰，不解成瘧。濕主關節為痛，邪在裡為煩，總以濕熱里瘧，治宜用苦辛。</p>
<p>川連　黃芩　杏仁　薑汁　半夏　厚朴</p>
<p>脈大，寒熱渴飲，舌漸黃。氣分熱勝，血弱已久，恐邪漫劫津，清氣熱即以和陽，議用張氏玉女煎。</p>
<p>石膏　竹葉心　鮮生地　知母　生甘草　生白芍</p>
<p>伏邪留於少陰、厥陰之間，為三日瘧。百日不愈，邪傷真陰，夢遺盜汗。津液日枯，腸燥便難。養陰藥雖為有益，但深沉瘧邪，何以得追拔掃除？議以仲景鱉甲丸三十粒，早上開水送下，午後進養陰通陽藥。</p>
<p>復脈湯，去人參、生薑、加牡蠣、鹿角霜。</p>
<p>邪與氣血膠凝則為瘧。女病在絡。自左脅漸歸於中焦，木乘土位。東垣謂瘧久必傷脾胃。既成形象，宜通惡守，佐芳香乃能入絡。凡食物肥膩呆滯，尤在禁例。所慮延及中滿。</p>
<p>人參　草果　陳皮　木香　茯苓　厚朴　青皮　鬱金汁。</p>
<p>深秋曾診，擬議此病為暑濕食瓜，辛甘寒分利，奈何脾陽又受辛寒之累，致濁陰聚形，頻遭食復，陽屬受戕。凡身中脾陽宜動，動則運；腎陽宜藏，藏則固，斯為命根。《局方》大建脾丸、仲淳資生丸，多以補虛通滯，芳香合用，取其氣通濁泄，人參輔正之力得矣。</p>
<p>人參　陳皮　厚朴　益智仁　茯苓　木香</p>
<p>間日寒戰，發熱渴飲，此為瘧。飲水結聚，而心中痛脹，乃病上加病。不敢用湧吐之藥，暫與開肺氣壅遏一方。</p>
<p>生石膏　大杏仁　生甘草　蜜水炒麻黃</p>
<p>脈如平人，但熱不寒，煩渴，身疼時嘔，此溫瘧也。仲景有桂枝白虎湯一法，一劑知，二劑已也。</p>
<p>桂枝白虎湯。</p>

<h1>卷下</h1>

<h2>女科</h2>
<p>女科首重調經，只因見嗽見熱，但以肺藥清涼，希冀嗽緩，無如胃口反傷，腹痛便溏，惡食嘔逆。此寒熱乃營衛欹斜明矣。病系憂鬱成勞，情志內傷，故藥不奏功，議戊己湯。</p>
<p>人參　炒白芍　鮮芡實　茯苓　炙甘草　炒扁豆（去皮）</p>
<p>向來經水調和，自上年冬季，每月經轉兩次，天柱脊椎即酸垂，心中嘈雜忽痛，頭面烘熱，脊背指足常冷，經期落後四五十日。此屬八脈不和，皆肝腎脂液暗傷，養液熄風，冀其奇充經調。</p>
<p>清阿膠　鹿角膠　枸杞子　當歸身　生地黃　元武膠　桂圓肉　白芍藥　天門冬　白茯苓烏骨雄雞去毛骨頭足腸雜，青蒿汁、酒、醋加水，煮汁收膠。以膠為丸，淡鹽湯送下，每日四錢。</p>
<p>經阻三月，咳嗽失血，交夜蒸蒸發熱，脈來左搏而促。是陽氣煩蒸，攻逆諸絡，血液不得彙集衝脈。深秋經水不來，必加寒熱瘦削，成乾血癆矣。</p>
<p>鱉甲　全歸　丹皮　山楂　生地　白芍　茺蔚　麥冬</p>
<p>久病形神日消，脈象堅大，是謂脈無胃氣矣。曾於上年夏季便瀉腹痛食減，舒肝健脾疏補，春進安胃丸，此生氣不至。當女子天癸將通之歲，經脈氣機怫逆，久鬱熱蒸，漸為枯涸之象，最足慮也。議用汪石山郁勞治法。</p>
<p>川芎　白芍　湖蓮肉　青蒿　當歸　熟地　南楂肉　香附</p>
<p>病起左肢痛痿，即《靈樞》云意傷憂愁則肢廢也。蓋肝臟多氣多血，氣勝則熱，血不營養經脈，陽明日空，血海無貯，經事遂閉。內風挾陽，上升眩暈，咳出痰沫。冬令天地閉藏，病不致凶；萬花暢茂，有增劇之慮。議鎮肝安胃法，用麥甘大棗湯，麥以鎮逆，棗、甘益虛，遵《內經》肝苦急，急食甘以緩之也。</p>
<p>甘麥大棗湯。</p>
<p>氣鬱滯則血不行，當理血中之氣。</p>
<p>四物湯加香附、楂炭、益母草。</p>
<p>脈滯經澀，食入脘痞，都因情懷失和，肝脾鬱結使然。</p>
<p>香附　廣皮　蔻仁　丹皮　楂炭　茯苓　神麯　鉤藤</p>
<p>停經已九月，少腹重墜而痛，及診少陰脈澀小，並非妊象。衝任虛餒，怕其暴崩。</p>
<p>八珍湯，加砂仁。</p>
<p>晝夜腹痛，泄氣則緩；夜臥捫之，常高突有形橫處其間，為肝鬱不舒，致沖、任二脈乏氣流行。經期不來，營衛阻閉，為寒熱互作。</p>
<p>因泄瀉已久，風木久乘中土，峻攻非宜。</p>
<p>川楝子　當歸身　青木香　山楂　龍膽草　小茴香　炒橘核　青蔥</p>
<p>泄瀉食減，經水不來，而寒熱咳嗽，日無間斷。據說嗔怒病來，其象已是勞怯。郁勞經閉，最為難治之症。</p>
<p>人參　蒸冬朮　炙草　茯苓　廣皮　白芍</p>
<p>郁損經停，膹脹難便。</p>
<p>歸身　川楝子　茺蔚子　小茴　生白芍　澤蘭</p>
<p>經水不來，是絡脈無血。古云氣旺血自生，大忌通瘀。</p>
<p>人參　當歸　麋角膠　茯苓　桂心　羊肉膠</p>
<p>天癸從未至，肉瘦色瘁，咳嗆著枕更甚，暮夜內外皆熱，天明汗出熱減，痰出或稠或稀，咽中總不爽利。此先天最薄，真陰不旺，勿攻針黹，務安閒怡悅；俾經來可以熱除，不然，世稱乾血勞矣。復脈湯，去麻仁。</p>
<p>兩三月經水不來，少腹痛脹下墜。寒疝屬虛，可與當歸生薑羊肉湯。</p>
<p>經閉淋瀝。（初）</p>
<p>柏仁　肉蓯蓉　女貞子　郁李仁　當歸　川石斛</p>
<p>肝風逆，經閉淋瀝，便艱。（復）</p>
<p>柏子仁　當歸身　川石斛　女貞子　郁李仁　黑穭豆　淡蓯蓉</p>
<p>肝痹脹至心下，腹大經閉，二便澀少。（初）</p>
<p>橘葉　青皮　銀柴胡　茯苓皮　青蔥　楂肉　五靈脂　大腹皮</p>
<p>血結為瘕，腹脹大如缶，進疏肝通瘀稍安，續進針砂丸以緩攻之。</p>
<p>此勞怯是悒鬱內損，陽土為陰木乘侮，衝脈乏血，經閉肉瘦氣脹，減食便溏，五液日枯，陰不上承，喉舌乾涸。仍不嗜湯飲。《內經》謂二陽之病發心脾，風消息賁，皆是久損傳變見萌。</p>
<p>人參　烏梅肉　南楂肉　茯苓　白芍　老蘇梗</p>
<p>陰癇脈遲，經水二月一至。</p>
<p>六味加阿膠、白芍。</p>
<p>經來潮潮澀少，湯飲入脘噯吐。平昔善吐涎沫，心搖震惕。厥陰、陽明皆逆，龍薈丸主之。</p>
<p>龍薈丸，每服二錢。</p>
<p>經來澀少，便瀉汗出。因驚恐致病，由肝傳脾，用戊己湯。</p>
<p>風動液虧，腹痛腸紅，經閉，暮熱驚恐，治在腎肝。</p>
<p>熟地炭　萸肉炭　炙草　五味子　白茯神　白芍</p>
<p>自八月中經止，即食入嘔吐，醫認懷娠惡阻治，延至小寒節，頭巔痛，心中熱，吐清涎濁沫。水藥仍受，粒米食物下咽即吐，欲寐灑然驚惕，肌表及足寒，晡刻頭面熱，腹脹，心腹皆痛。初病嗔怒而來，確是肝木犯胃，最怕暴厥急至。</p>
<p>金鈴子　黑山梔　炒半夏　生薑汁　延胡索　炒香豉　茯苓</p>
<p>經水兩月不來，腹形脹大，有形攻觸；目瞑將寐，先欲厥冷，後漸熱多汗。此皆郁損成蠱之象。</p>
<p>當歸鬚　茺蔚子　五靈脂　小茴香　小香附　炒楂肉</p>
<p>嗽急心腹堅脹，入夜氣衝，欲坐下部已冷；久有瘕聚，問月事不來三年。此濁氣飲壅塞，以致血脈不通，為絡脈之脹。</p>
<p>桂枝　淡姜　五味子　茯苓　白朮　北細辛</p>
<p>暴崩，癖聚腹脹，經水不來五月，絡虛所致。</p>
<p>蔥白丸。</p>
<p>紅棗、蘄艾煎湯送下。</p>
<p>動怒血吐成升，月餘再吐。自述少腹常痛，夜必身熱汗出。必經水得通，可免乾血勞怯。</p>
<p>醋炙鱉甲　胡黃連　炒焦延胡　炒桃仁　茺蔚子　炒楂肉</p>
<p>脈數經遲，面起痱疹；肝陽內風，沖逆上升，胃減少食。</p>
<p>清阿膠　炙甘草　柏子仁　小生地　白茯神　火麻仁</p>
<p>左肢麻木，經遲宿痗，中年從未生育。脈數，怒則腹脹。和肝胃之陽，即調經要領。</p>
<p>生地　當歸　砂仁（鹽水炒）　炒楂仁　穭豆皮　香附　知母</p>
<p>胃痛四年，因鬱怒而起。經落不調，瘕聚腹脹，欲嘔便瀉。久病入絡，兼理血分。</p>
<p>金鈴子肉　桃仁　五靈脂　炒延胡索　生蒲黃　生香附</p>
<p>質偏於熱，陰液易虧。女人肝為先天，月事雖准而少，里乏儲蓄，無以交會衝脈，此從不孕育之由也。凡生氣及陰血，皆根於陽，陽浮為熱，陰弱不主戀陽，脊背常痛，當從督、任脈治。</p>
<p>元武版　桑螵蛸　當歸身　細子芩　鹿胎　枸杞子　桂圓肉</p>
<p>經來綿綿不止，恐延淋帶，此後遇裡急，為陰弱不內守治。</p>
<p>熟地炭　芡實　艾炭　茯神　湖蓮　炒歸身</p>
<p>脈數，下焦冷，經淋不止，少腹腰臂痛，火升面熱。</p>
<p>枸杞子　生杜仲　生地　炒蒺藜　川石斛　女貞</p>
<p>臟屬陰，陰虧內熱自起，陽搏動則經多如崩，帶下綿綿。治宜堅固其陰。</p>
<p>熟地　牡蠣　秦皮　樗皮　艾　阿膠　黃柏　白芍　茯苓　羊肉膠丸</p>
<p>五十歲天癸當絕，而反多於昔，沖、任之脈不固，已屬下焦主病。脈不束骨，痛無定所，與三氣客痹迥異。群藥未嘗及下，胃傷肝垂嘔吐。問病人口味苦，氣塞必噦，必如懸旌，當以胃虛客氣攻逆，議用旋覆代赭湯。</p>
<p>人參　炒黑川椒　烏梅肉　茯苓　釘頭　代赭　生白芍</p>
<p>冬溫失藏，肝木反泄，陽明脈虛，血海不按期而經下，乃體不足、用太過之象。法當辛酸甘緩，兩和肝之陰陽，而苦降走泄，不但妨胃，且助劫耗。</p>
<p>炙甘草　枸杞子　柏子仁　生白芍　桂圓肉　茯苓</p>
<p>暴崩去血過多，絡中空虛，浮陽夾內風以動，心悸，筋脈痿軟。奇經已乏，每經來必病，最難調治。</p>
<p>炒熟地　阿膠　女貞子　湖蓮肉　白芍　旱蓮草</p>
<p>郁悖陽升，八脈不和，下少因攝，有暴崩之累。</p>
<p>枸杞　鹿角霜　小茴　醋艾　茯苓　沙苑　淡蓯蓉　當歸　香附　益母草丸</p>
<p>久漏成崩，上有瘍症，用藥極難，仿《內經》七方之一，固下漏少佐清上。</p>
<p>醋炙螵蛸　茜草</p>
<p>煎好濾清，加黃芩、阿膠，煎數十沸，取清服。</p>
<p>經漏已三年，淋漓帶下黃白。視色脈不受溫暖，固下湯散力量難以直達沖、任。古《局方》中有震靈丹。每早服六十粒，是固奇脈藥；欲求全愈，非大劑人參不可。</p>
<p>室女經初至，必然畏熱，因熱求涼，致傷沖、任，經漏不已，血色漸紫，腹中痛，得按略緩，是從前經至失調之故。和血脈之中，必佐通陰中之陽。</p>
<p>杞子　沙苑　鹿角霜　人參　當歸　小茴　紫石英　桂心</p>
<p>十四歲室女，無溫補熱藥之例。視色奪脈弱，下焦未寒先冷，經事淋漓，是衝任二氣不交。冬宜藏陽，用溫補升陽。</p>
<p>鹿角霜　杞子　當歸　人參　蛇床子　麋茸　沙苑　小茴　紫石英</p>
<p>血瘀自下為順，但形神頓減，明是積勞已傷。血脫必益氣，否則有復瘀之慮。</p>
<p>補中益氣湯。</p>
<p>經漏四十餘日，色黯瘀腐成塊。病中動怒，遂胸膈脹悶且痛，瘀下稍寬，醫治漏血，投地、芍、歸、膠，下焦先未得其益，上焦先受其滯。宗經義先理其上。</p>
<p>老蘇梗　南山楂　桃仁　香附汁　麥芽　延胡</p>
<p>久崩淋帶，少腹結癜，液涸氣墜，二便皆阻。辛甘補方，冀得宣通，勿謂崩症徒以澀藥。</p>
<p>柏子霜　淡蓯蓉　郁李仁　當歸身　枸杞子　葵子</p>
<p>經漏腹脹，臟陰為病，濁攻脾胃為嘔逆。</p>
<p>人參　淡附子　茯苓　蒸術　淡乾薑</p>
<p>長齋有年，脾胃久虛。瘧由四末，必犯中焦；血海隸乎陽明，苦味辛散，皆傷胃系。雖天癸久絕，病邪、藥味擾動血絡，是為暴崩欲脫。閱醫童便、阿膠，味鹹滑潤，大便溏瀉，豈宜潤下？即熟地、五味，補斂陰液，咽湯停脘，頃欲吐盡。滋膩酸濁之物，下焦未得其益，脘中先以受其戕。議以仲景理中湯，血脫有益氣之治。坤土陽和旋轉，希圖中流砥柱，倘得知味納穀，是為轉機。重證之尤，勿得忽視！</p>
<p>人參　炒焦於朮　炮薑炭　茯苓　炙黑　甘草</p>
<p>十年不孕，奇脈大傷，經來如崩，周身筋掣，自腦後痛連腰膂，食少腹脹，乾嘔氣衝，小溲如淋窒痛。蓋奇經諸脈，隸於肝腎恆多，腎失納，肝失藏，脈絡氣血消乏，何以束骨充形，此病之最延綿難卻也。閱古人法中，藏真宜固，脈絡宜通，非偏寒偏熱之治。</p>
<p>鹿角霜　當歸身　柏子仁　川桂枝　小茴香　真茯神</p>
<p>交節令血下成塊，腰痛溺淋，乃下元虛，八脈無氣，最多反復，議升陽固脈法。</p>
<p>人參　鹿茸　補骨脂　當歸　鹿角霜　茯苓</p>
<p>入土旺用事，食減噁心，淋帶反多。老年陽氣漸泄下墜，議東垣升陽法。</p>
<p>人參　熟術　炙草　當歸　羌活　防風　獨活　廣皮</p>
<p>經阻兩月，脈象虛數，嘔吐清水，仍以惡阻調治。</p>
<p>竹茹　半夏　廣皮　生薑　茯苓　厚朴</p>
<p>凡交三月胎殞，是肝陰內怯，任脈不司擔任。今見症脊椎尻垂，腰痠痿弱，肝腎奇經虛不固攝，議用孫真人法。</p>
<p>阿膠　當歸　生地　寄生　艾炭　白芍　子芩　砂仁</p>
<p>女科胎前以立基為要。惡阻嘔吐味酸，是熱化，宜安胃調氣。</p>
<p>人參　半夏　竹茹　茯苓　生薑</p>
<p>培土安胎。</p>
<p>人參　焦術　建蓮　茯苓　廣皮　砂仁</p>
<p>氣塞乾噦，不欲進谷。懷妊四月，腹大如足月，足跗浮腫，得血下洞泄而來。詢知兩月前已不納，立秋交節，血乃暴下，為陽明胃虛，滯氣逆攻。血海隸乎陽明，致有淋漓之狀。法當清熱安中，以暴脹常多熱證耳。</p>
<p>生白芍　烏梅肉　蘇梗　參湯（另進）　子黃芩　知母　川連</p>
<p>脈左右弦，身麻肢冷，脘中脹悶，不飢吞酸，由中虛肝氣內動之故。五六月當脾胃司胎，又體質不受苦寒，非清火破泄氣分之治所宜。</p>
<p>人參　枳殼　生薑汁　半夏　桔梗</p>
<p>厥陰之陽上衝，嘔逆腹痛，防胎上攻，以苦寒清泄法。</p>
<p>川連　黃芩　川楝肉　青皮　白芍　鬱金</p>
<p>胎氣日長，諸經氣機不行，略進水穀之物，變化水濕，不肯從膀胱而下，橫漬肌膚為腫，逆奔射肺，咳嗽氣衝，夜不得臥；陰陽不分，二便不爽。延綿經月，藥難治效，當刺太陽穴，使其氣通，坐其安產。</p>
<p>桂枝　五味　牡蠣　杏仁　茯苓　淡姜　澤瀉</p>
<p>臨月，用清熱理氣。</p>
<p>蘇梗　苓皮　知母　白芍　砂仁　腹皮　黃芩</p>
<p>懷妊若患時症，古人主在保胎。今喜暖惡寒，升則厥，痛墜欲便，腰腹繞痛，大慮胎墜。辛香溫柔之品，冀其止厥。</p>
<p>鹿角霜　沙苑　枸杞　小茴　淡蓯蓉　茯苓　柏仁　當歸</p>
<p>暑濕阻氣，胎熱由下而升，兩熱相搏，咽喉欲痹，寒戰，周身諸脈震動，防胎下墜，治宜清上。</p>
<p>竹葉　枇杷葉　知母　連翹　鬱金　川貝</p>
<p>胎孕而患時瘧，古人先保產，佐以治病。茲診唇燥舌白，嘔悶自利，乃夏令伏邪至秋深而發，非柴胡、枳實之屬可止。嘔吐黑水腹痛，胎氣不動，邪熱深陷入里，蒸迫臟腑，是凶危之象。</p>
<p>黃芩　黃柏　川貝　黃連　秦皮</p>
<p>寒少熱多，即先厥後熱之謂。熱甚胎攻衝心而痛，蓋胎在衝脈，瘧邪由四末漸歸胃系，衝脈屬陽明胃脈管轄，上嘔青黑涎沫，胎受邪迫，上衝攻心，總是熱邪無由而發泄，內陷不已，勢必墮胎，且協熱自利，外邪從里而出，有不死不休之戒。方書保胎必因陰益氣，今熱熾壅塞，參、膠、歸、地，反為熱邪樹幟矣。前以絕苦無寒，取其急過上焦，陽明胃與厥陰兩治；今用酸苦泄兩經之邪熱，外以井泥護胎。</p>
<p>川連　烏梅肉　黃芩　草決明　川椒　石蓮肉　白芍</p>
<p>苦辛酸，清泄陽明，厥陰邪熱，兼外護胎法，病勢減十之二三。視舌黑芒刺，舌心干板，而心中痛不已，此皆熱邪內迫，陽精陰液告涸。兩日前慮其陷伏閉塞，今又怕液涸昏痙，最難調治。夫護胎存陰，清熱去邪，兩不可少。</p>
<p>川連　鮮生地　知母　阿膠　雞子黃</p>
<p>始於嗔怒動肝，冬季溫暖少藏，肝氣多升，肺氣不降，遂令咳逆喘促，熱鬱入里，耳聾自利。延綿經月，真損必然殞胎，非輕小之恙。</p>
<p>黃芩　蔞皮　杏仁　白芍　橘皮　烏梅</p>
<p>午後診脈，問及踢傷胎漏，用兩補氣血安胎。</p>
<p>人參　炒當歸　炙草　炒砂仁末　茯苓　炒白芍　廣皮</p>
<p>痛由背繞肋，脹至胃脘，停住不移。妊交六月，陽明司胎。陽升氣阻於絡，斯為痛脹宿恙，當春半而發，脈弦搏鼓指。胃為陽腑，和陽以苦味之流行，仍佐宣利氣分郁遏為治。</p>
<p>金石斛　鮮竹茹　黑山梔　老蘇梗　化州橘紅　香附汁</p>
<p>小產後勞動嗔怒，陡然血崩，乃身中陽動，陰弱失守之證。用藥氣味，最忌辛溫走泄，無有不向安者。緣辛香溫熱，胃中不安，致嘔逆頻頻，神復欲憒，皆血下而陰虧為病，嘔多則陽氣再傷耳。古人上下變病當治其中，此安胃第一要旨。以胃為臟腑之大源，能納穀，斯後天生氣再振，何容縷縷經營乎！</p>
<p>人參　小麥　茯神　烏梅　木瓜　白芍</p>
<p>鎮補肝胃，既得進谷。閱來教仍是陰弱陽浮，姑擬補攝足三陰臟，必得小效。</p>
<p>人參　炙黑甘草　山藥　芡實　熟地炭　茯神</p>
<p>起病由於小產後，是衝任脈虛所致，溫養攝納，最為近理。病根在下致脹，乃耆、朮、升、柴守而兼升，濁僭上行；炒焦腎氣丸可以常進，但不能入奇脈耳，更議法以輔其不及可也。</p>
<p>鹿茸　補骨脂　人參　大茴香　鹿角霜　歸身　蓯蓉</p>
<p>蘄艾煎湯代水。</p>
<p>小產後，血下暴崩，汗淋昏冒，寐則夢與人爭鬥，此臟血大走，肝魂易越，補方必兼斂攝。血崩久淋帶，致沖、任脈絡不固，不但不得孕育，更延痛疾耳。</p>
<p>人參　龍齒　炒歸身　炒枸杞　炙草　茯神　炒棗仁　五味子</p>
<p>小產後經年淋漓，旬日帶下，綿綿不斷，骨節痿軟。經臨筋脈牽掣，骨熱如蒸，皆沖、任受傷，久而不復，五液皆枯，日就損怯一途。所幸胃氣尚存，按候調攝經年，冀可血氣充復。</p>
<p>四物湯，加胡黃連、炒黃柏。</p>
<p>驚恐起病，由怒而發，是為肝厥。陽氣暴升，痰隨氣上，神識乃迷。近加小產後，必須養肝陰，佐入涼肝。</p>
<p>生地　柏仁　丹參　天冬　阿膠　茯神　白芍　人中白</p>
<p>小產後，汗多寒熱。</p>
<p>龍骨　白芍　南棗　牡蠣　炙草</p>
<p>小產後經月，泄瀉腹痛，下血不止，乾咳嗆逆。乃氣血兩虛，當以建中法。</p>
<p>歸耆建中，去姜。</p>
<p>半產後，沖、任虛，瘕聚，少腹痛，胃痛形寒身疼。</p>
<p>桂枝加桂、當歸、茯苓，去姜。</p>
<p>半產後，失血咳逆不得臥。</p>
<p>小青龍法。</p>
<p>半產後，咳逆不得臥，腹膨。</p>
<p>腎氣丸（一兩）。</p>
<p>用沙囊懸起煎湯，早上服。</p>
<p>蓐勞下損，咳逆不得臥。</p>
<p>烏骨雞丸。</p>
<p>遇勞氣泄胎墜，胎去下焦先空，足冷腰脊皆病。陰陽兩損，但以溫養之補，懷孕即止。</p>
<p>人參　沙苑　歸身　肉桂　雄羊內腎　茯神　麋茸　白芍（酒炒）　枸杞</p>
<p>共為丸。</p>
<p>產後驟脫，參附急救，是脫陽固氣方法，但損在陰分，其頭痛汗出煩渴，乃陽氣上冒。凡開泄則傷陽，辛熱則傷陰，皆非新產鬱冒之治。</p>
<p>細生地　黑楂肉　牡蠣　真阿膠　茺蔚子</p>
<p>惡露衝心，防其昏厥。</p>
<p>澤蘭　楂炭　香附　川貝　童便　茺蔚　延胡　廣皮　通草</p>
<p>新產陰氣下泄，陽氣上冒。日晡至戌、亥，陽明胃衰，厥陰肝橫，肝血無藏，氣衝擾膈，致心下格拒，氣干膻中，神識昏譫。若惡露衝心則死，焉有天明再醒之理。回生丹酸苦直達下焦血分，用之不應，諒非瘀痹，想初由汗淋發熱。凡外感風寒，理從外解；此熱熾神亂，即仲景之新產鬱冒也。倘失治必四肢牽掣，如驚如風癇，立危殆。議從亡陽汗出譫語例，用救逆法。</p>
<p>龍骨　桂枝　南棗　牡蠣　炙草　小麥</p>
<p>濁氣上逆，噁心不食，冷汗煩躁，最防暴脫。不可但執惡露滯滿，而專泄氣攻血。</p>
<p>人參　乾薑　澤蘭　附子　童便</p>
<p>產後血去陰傷，肝腎先虧，致奇經諸絡不至內固，陰既不守，陽泄為汗，多驚多恐，神氣欲撤。此攝陰固液，而有形豈易速旺？古人必曰封固、曰鎮納，皆為此而設。</p>
<p>人參　桂枝　龍骨　炙草　附子　煨姜　牡蠣　蜀漆</p>
<p>產後陰損下虛，孤陽泄越，汗出驚悸，百脈少氣，肢體痿廢，易飢消穀。陽常動爍，陰不內守，五液日枯，喉舌乾涸。理進血肉有情，交陰陽，和氣血，乃損症至治。</p>
<p>羊肉　五味　紫衣胡桃　當歸　牡蠣</p>
<p>產後汗大出，目瞑神昏，此為鬱冒欲脫，大危之象。勉擬鎮固補虛一法。</p>
<p>生龍骨　桂枝　人參　生杜蠣　炙草　歸身</p>
<p>生羊肉煎湯。</p>
<p>產後蓐勞，厥陽逆行，頭痛昏暈身熱。</p>
<p>生龍骨　生白芍　炙甘草　當歸　生牡蠣　桂枝木　大棗肉　羊肉</p>
<p>產後將半月，頭汗耳聾，便瀉不食。陰分大虛，陽氣上冒，防其痙厥，不可忽視。</p>
<p>熟地炭　炒當歸　炮姜　茯神　炒白芍　炙草</p>
<p>產後十七朝，因惱怒陽升為鬱冒，寒熱如瘧，經半月不止，乃陰傷於下，陽潛於上，肝膽之邪肆行無制，故乍寒乍熱，不得息也。擬進甘緩法，使陰氣稍復，寒熱可緩。</p>
<p>復脈湯去姜，加甘蔗汁。</p>
<p>鬱冒汗出，血下液虧。</p>
<p>人參　龍骨　棗仁　熟地　五味　茯神</p>
<p>產後真陰下虛，真氣不主收納，咳逆汗泄，肉腠刺痛。未至半月，惡露已盡，大便不實，斷非清潤治嗽可療。此攝固斂液，一定治法。</p>
<p>熟地　山藥　枸杞　五味　建蓮　芡實</p>
<p>產後下虛，腹中刺痛。雖因惡露未盡而起，然病經五十日，未可專以逐瘀為主。</p>
<p>當歸生薑羊肉湯。</p>
<p>頻產脈絡已空，胎前已見帶下，痛甚不隨利減，奇經氣撒不攝。仲景建中之議，取意在脾營，為上中法，而藥力原不及下焦也。腎氣湯乃收攝陰中之陽，產後營虛，不耐桂、附之猛烈。當年先哲，每炒炭煎服，亦如劉河間濁藥輕投，蓋湯、散、飲子，不同法程耳。</p>
<p>熟地（四錢）　山藥（二錢）　丹皮（錢半）　附子（一錢）　車前（一錢）　萸肉（二錢）　茯苓（三錢）　澤瀉（錢半）　肉桂（一錢）　牛膝（一錢）</p>
<p>各炒炭，急火煎服。</p>
<p>產後幾五十日，下利滑膩，痞悶嘔逆。此陽結於上，陰撤於下，仿仲景獨治陽明法。</p>
<p>人參　赤石脂　五味子　茯神　炮薑炭　炒黃米</p>
<p>產後去血過多，陰傷陽損，致畏冷倏熱，急宜溫養營氣，勿雜治也。</p>
<p>人參　歸身　桂心　桂圓　茯神　炒芍　炙草　枸杞</p>
<p>產後五十日，暮熱汗出，身動氣喘，帶下綿綿不斷，腰脊痠軟牽痛，此肝腎液虧，沖、任空乏，法當通補下焦，久延怕成蓐勞。</p>
<p>淡蓯蓉　炒杞子　當歸身　紫石英　白茯苓　生牡仲　炒白芍　五味子</p>
<p>陰虛潮熱，在產後肝腎本虛。始誤於逐瘀泄氣，鎮補稍安；再誤延胡、枳實攻逐，腹中刺痛，營傷何疑？</p>
<p>人參（秋石拌烘）　生地　炙草　茯神　阿膠　白芍</p>
<p>產後下損，治嗽肺藥是上焦藥，藥不對症，先傷脾胃，此食減腹膨胕腫所由來也。</p>
<p>人參　沙苑　杜仲　茯神　螵蛸　枸杞</p>
<p>產後去血，陰傷骨熱。大凡實火可用清涼，虛熱宜用溫補，藥取味甘氣溫，溫養氣血，令其復元。況產傷之損蓐勞，病根全在肝腎，延及奇經，豈泛然雜治所宜。</p>
<p>人參　杞子　蓯蓉　紫石英　河車　當歸　胡桃　茯神</p>
<p>產後形肉日瘦，經水逾期，此屬內損。問經來無痛，與方書氣滯經遲迥異，養肝、沖、任可矣。</p>
<p>當歸　生地　柏子仁　丹參　白芍　杞子　茯神　桂枝</p>
<p>烏骨雞丸。</p>
<p>蓐勞自春入秋，肌肉消，色痿黃，外象漸寒，心腹最熱。臟陰損不肯復，形空氣聚，非有物積滯也。</p>
<p>人參　生菟絲子　炒當歸　茯苓　煨木香　小茴香</p>
<p>眉心痛，心中熱，腰脊痠痛，五心皆熱。自產後半載，肉消減食，乃下焦陰液大耗，而肝風挾陽震動矣。病自內損，服藥無益。閱醫雖曰養陰，半投芎、柴，不知何意？</p>
<p>生地　炙草　阿膠　羚羊角汁　麥冬　白芍　麻仁</p>
<p>產後發熱後，陰虛為多，陰不內守，陽外泄為汗出。自秋徂冬，形肉消爍。</p>
<p>人參　炙草　炒芍　五味　炮姜　茯神</p>
<p>甘溫佐以酸收，陰陽有漸交之機，熱緩加谷，可謂明驗。然產後損傷，古人遠剛取柔，使有情生氣日泰，理體可以卻病。</p>
<p>人參　熟地　河車膠　歸身　五味子</p>
<p>產後內虛，復感冬溫，遂寒戰後汗出，乃厥陰如瘧，非輕症也。</p>
<p>炒生地　炙甘草　阿膠　炒麥冬　炒白芍　麻仁</p>
<p>蓐損當夏發泄，惡風畏冷，便溏汗出，法宜養營。</p>
<p>人參　冬朮　桂心　五味子　炒白芍　茯神　廣皮　炙草　全當歸</p>
<p>蓐勞下損，損及八脈，醫投清內熱滋陰，致胃傷食減寒熱，下元沖氣，上逆咳嘔；而咳嗽藥治肺，與內虛下損益無干涉。帶淋骨熱，髓竭液枯，蓐損較平常損怯更難。寒暑更遷不復，草木焉能奏功？免與血肉有情，望其加谷，可得悠久。</p>
<p>紫河車（洗潔，一具）　人乳（八兩）　生紫石英（一斤，捶碎）　血餘炭（二兩）　秋石（一兩）</p>
<p>同煎，河水熬膏。人參湯服二錢。</p>
<p>產後自乳陰傷，即是亡血虛象。陡然驚恐，內動肝腎，脊椎尾閭骨凸，肌癟，自臟陰損及奇脈矣。先冷後熱，厥冷見症，良由骨枯髓竭，草根樹皮，何能濟事？</p>
<p>常用人乳熱飲，日二三次。</p>
<p>產後失調，蓐勞下損，必映奇經。心腹痛寒熱，脊酸腰痿，形肌消爍殆盡。若縷縷而治，即是夯極。凡病宜通，補而能通，能入奇經。</p>
<p>人參　炒黑枸杞　炒黑小茴　麋茸　炒蒺藜　當歸身</p>
<p>蓐勞下損，久則延及三焦，不獨八脈。晨瀉嘔食，心熱下冷，吸短脹痛，焉有寒涼止嗽清熱之理。扶得胃口安穀，月事仍來，方得回春。</p>
<p>異功散，加南棗。</p>
<p>脈數左甚，沖氣上咳吐血，嘈雜如抓，常有眩暈喘促。此產後失調，腎肝內損，若不斷乳靜養，春未夏初，必致受累。</p>
<p>熟地炭　炒山藥　炒枸杞　五味子　建蓮肉　白茯神</p>
<p>形冷驚怕，旬日經淋漏注，心怔悸如懸旌，自七八年產後致病。夫肝主驚，腎主恐；產後先虛在下，奇脈不為固束，急急溫補固攝，仍佐通藥，其力可到八脈。</p>
<p>紫石英　炒枸杞　人參　麋茸　烏鰂骨　沙苑　茯苓</p>
<p>衝任內損，經淡日遲，形神漸漸瘦痿，猶是產後不復，先議溫通八脈一法。</p>
<p>當歸身　鹿角霜　紫石英　小茴香　淡蓯蓉　茯苓</p>
<p>產後下虛，血病為多。今脘中痞脹，減食不運，全是氣分之病，但調氣寬中，勿動下焦為穩。</p>
<p>生香附　桔梗　神麯　蘇梗　蔻仁　茯苓</p>
<p>產後病起下焦為多。今右偏頭痛，得暖為甚，納食則脘腹加痛，必瀉則已。夫痛隨利減，已顯濕鬱氣阻，熱自濕升，恆有是證。從脾胃門調治。</p>
<p>生於術　紫厚朴　煨木香　嫩香梗　茯苓皮　小茵陳　新會皮　香附汁</p>
<p>產後腹痛脈數，足不能伸，瘀留入絡，結為小腹癰矣。</p>
<p>失笑散，加桃仁、歸尾、醋炒蓬朮。</p>
<p>死胎至旬日乃下，必有屍濁穢氣，留著沖、任脈中。至今黃、白帶淋，自腰以下冷，大便久溏。產後剛劑難進，議用朱南陽方法。</p>
<p>豭鼠糞湯。</p>
<p>女科肝病為多，產後必病及八脈，即如少腹聚瘕，瘕氣攻心下必嘔吐，上泛則咽喉閉塞；經水半年不來，越日必有寒熱。凡下焦多屬血病，瘕屬氣聚，癥為血病，病在衝脈、陰維、陽維混混醫藥，烏得入於奇脈乎？</p>
<p>地鱉蟲　川楝肉　鱉甲　桃仁　麝香　延胡索　楂肉　蓬朮</p>
<p>卒然心痛寒熱，恰在產後，即《內經》所謂陽維為病苦寒熱，陰維為病苦心痛。維主一身之綱維，其陽行衛，其陰行營，二脈致偏，不飢少納，腹脹瘕聚泄瀉，夏月經必先期，秋冬下焦常冷。</p>
<p>鹿角霜　當歸　生杜仲　芡實　白茯苓　沙苑　小茴　淡蓯蓉　湖蓮　炒黑艾　紫石英（醋炒）</p>
<p>紅棗肉為丸。</p>
<p><u>又</u>　去艾，加河車膠。</p>
<p>脘痛映脊，甚則四肢逆冷。問當年產後瘕泄，今帶淋經漏，脊椎酸垂。《內經》云：陰維為病苦心痛。維脈陰傷異治，非破氣降氣能療。</p>
<p>鹿茸　枸杞子　當歸　沙苑　鹿角霜　肉蓯蓉　小茴　茯苓</p>
<p>產後癥瘕。</p>
<p>蔥白丸，每服二錢，艾棗湯送下。</p>
<p>產後堅痛，少腹症。</p>
<p>桂心　當歸　白芍　茯苓　紫石英　小茴　香附</p>
<p>羊肉膠丸。</p>
<p>背痛徹心，帶證多下，兼有氣逆衝心，周身寒慄，乃衝任脈虛損，病從產後來。</p>
<p>歸身　炙草　桂心　白芍　杞子　茯苓</p>
<p>肝脾不和，少腹脹，足浮腫，帶下因於產後未復。</p>
<p>大腹皮　當歸身　茺蔚子　柏子仁　茯苓皮　小茴香　小香附</p>
<p>胎前水溢浮腫，喘滿不得臥，開太陽獲效，即產浮腫自然漸退。女科不明產後下虛，多以破氣寬脹，百日來腹大且滿，按之則痛，此皆氣散瀰漫，為難治之症。議用炒枯腎氣丸，兼調琥珀末以調其血。</p>
<p>冬至一陽初復，驟有肢麻火升，其失藏已屬下虎。月餘，值黃昏，氣塞心痛喘逆。戌、亥陰時，沖逆下起，肝臟厥逆，直將犯上，至於坐不得臥。直至產後，下虛更極，水穀溫氣未能循腑分流，旁漬滲入經脈，從前厥逆肝氣、肝風。由然沸騰搏激，似湍水東西，可使過顙之喻。究竟病根全在平昔抑鬱，《內經》驚恐明指肝腎，今既失司，腑氣不主宣化，至陰之臟調之非易，議以專走足太陽表中之裡，冀陰陽漸分，經旨謂太陽司開立法。</p>
<p>薏苡仁　淡乾薑　茯苓塊　大杏仁　五味子　生白芍</p>
<p>此水氣結聚，壅遏經隧，致呼吸有阻為噫氣，而其聲在咽䏸。況任脈行乎身前，母子經行，必關衝、任。今氣痹水蓄，血亦化水為腫脹，胸高腹大，水性就下，搏激可使過顙；下竅久閉，狀如甕。曷不效禹治水之功？徒執寒熱補瀉為法，宜乎久藥無功也。</p>
<p>十棗丸。</p>
<p>經水不來，先天素弱。因多郁嗔怒，肝木疏泄，水飲旁漬而腫脹，最為難治。</p>
<p>米仁　牡蠣　防己　茯苓　澤瀉　萆薢</p>
<p>多產五液走泄殆盡。年已六旬，反患淋漓帶下，大便日見枯澀，少腹形膨䐜脹。血液既去，氣散不收，行氣破氣，是速其凶矣。</p>
<p>炒焦腎氣湯。</p>
<p>腰痛如束，腹膨欲脹，八脈為病。</p>
<p>鹿角　小茴　茯苓　杜仲　當歸</p>
<p>本質最虛，多憂積鬱。春深入夏，陽氣發泄，脾弱失運，納穀漸減，土中陽漸，濕生氣鈍，肝木來克，腫脹日著。血敗化水凝結，小便日加短澀；濕墜注腸，大便鶩溏。陽氣不交於下，膝下寒冷不溫。脈澀經閉，顯然血蠱。濁氣上干，必有喘急，夜坐不臥，見症險篤已極，勿得小視。以通陽腑理虛，冀陰濁不致閉錮。</p>
<p>人參　淡乾薑　茯苓　淡附子　豬膽汁　澤瀉</p>
<p>動怒忽心腹痛有形，此氣聚成瘕。乃肝虛氣逆，用辛補體用方。</p>
<p>人參　炙草　當歸　川楝子皮　茯神　白芍　桃仁</p>
<p>肝失疏泄，二便不利。少腹素有瘕症，氣逆為厥，治以辛潤。</p>
<p>當歸　蔥管　柏子仁　小茴　桃仁　茯苓</p>
<p>冬季腹大，大便不實，以通陽泄濁，初用相投，久則不應。久寡獨陰無陽，郁慮，至少腹結症，其病在肝。五旬外正氣日衰，邪不可峻攻矣。</p>
<p>六味加小茴香、川楝子，水泛為丸。</p>
<p>沖、任脈虛帶下，少腹瘕聚，肢麻。</p>
<p>歸身　桑葉　牡蠣　茺蔚子　茯神　建蓮</p>
<p>少腹瘕聚攻痛，淋澀不止。</p>
<p>蔥白丸，艾、棗湯送下。</p>
<p>肝陽上升，陰失內守，心痛火升，帶下。</p>
<p>生地炭　天冬　杜仲　歸身　女貞子　茯神　川斛　柏仁</p>
<p>八脈空虛，衝陽上逆，上熱下冷，肉瞤筋惕，帶下變色，晨必瘕泄，非滋清陰潤所宜。</p>
<p>桑螵蛸　生杜仲　湖蓮　菟絲子　沙蒺藜　茯苓</p>
<p>食少便溏帶下。</p>
<p>人參　生術　小茴　鹿角霜　杜仲　茯苓　炮姜　炒當歸　桑螵蛸　艾炭</p>
<p>紅棗肉為丸。</p>
<p>脘中氣通，帶下赤白，此平素血虛，近日時氣復傷其陽，六脈無力，下滑不禁。為病臥久，非堵塞可愈，仿東垣固真寄升降方法。</p>
<p>人參　生乾薑　柴胡　郁李仁　廣皮　炙甘草　黃芩　白葵子</p>
<p>脈數盜汗，心嘈咳嗽，腹痛便溏，形體日瘦，小溲淋痛。此肝腎真陰大虛，欲為勞怯，不可輕視。</p>
<p>熟地　芡實　炙草　女貞子　五味　山藥　茯神</p>
<p>陰虛淋閉未減，近日腹痛吐瀉，喜得冷飲。必有暑濕內著太陰脾臟，與本病兩途，先宜分消調中，俟痛瀉平再議。</p>
<p>黃芩　益智仁　黑山楂　白芍　陳皮白　木瓜</p>
<p>下焦熱甚，陰陽氣泄，腹痛未止，與和中堅陰法。</p>
<p>熟地　炒歸身　黃柏　炒楂　炒白芍　萆薢</p>
<p>驚憂惱怒，肝失其用，遂成淋閉。</p>
<p>當歸身　柏仁　車前　郁李仁　牛膝　黃柏</p>
<p>寡居少歡悅之念，肝膽中郁悖氣火，直上直下，莫能制伏。失其疏泄之用，小溲成淋，以厥陰肝脈環繞陰器。議進龍膽瀉肝湯。</p>
<p>鬼神亡靈，皆屬陰魅，寡後獨陰無陽。病起驚恐，必腎肝致臟損所致。經水仍至。以寧攝神魂，定議韓祗和法。</p>
<p>當歸身　羊肉　龍骨　肉桂心　生薑　牡蠣</p>
<p>任督失司，脂液暗消，八味丸可以常服，再議固奇脈方法以佐之。</p>
<p>人參　菟絲子　覆盆　鹿茸　鎖陽　骨脂</p>
<p>產後厥證，下虛為多。怕風寒，面腫，肌肉如蟲行，腹瀉肢縱，此方虛風議和八脈。</p>
<p>枸杞　小茴　鹿角霜　菟絲子　杜仲　當歸　沙苑　茯苓</p>
<p>薑、棗湯泛丸。</p>
<p>脈沉，懷妊八月，久咳皆冷，沖逆不得臥。此因抑鬱，陽失轉旋，濁凝飲結，當治飲不治咳。</p>
<p>桂枝　淡姜　白芍　茯苓　五味</p>
<p>色脈無神，虛煩久咳，寒熱不止。因悲哀驚恐，病勢反加，胃氣漸減，大便不實，月事過期不至，恐有下損及中之慮，擬建中法。</p>
<p>人參　白芍　桂枝　茯神　黃耆　炙草　牡蠣　南棗</p>
<p>脈細弱，形寒久嗽，寒熱頻來，易於驚恐，經來色淡且少，不耐煩勞。此陰陽內損，營衛造偏。仲景凡元氣有傷，當與甘藥。知清涼治嗽等法，非醇正之道。</p>
<p>黃耆建中湯去姜。</p>
<p>虛損久嗽失血，晝寒暮熱，經閉食減，大便不實。當交春病增，少陽生氣不至，春半後肝木大旺，其能久乎！</p>
<p>炒生地　阿膠　炙甘草　蓮肉　炒麥冬　茯神　生白芍</p>
<p><u>又</u>　人參　芡實　生地炭　茯神　蓮肉　川石斛</p>
<p>悒鬱內損經阻，筋骨皆痛，損傷不復，即是勞怯。溫養流通，望其鬱痹氣血融和。但以清熱見血理嗽治，百無一活。</p>
<p>當歸　生鹿角　桑寄生　枸杞　生杜仲</p>
<p>寡居菀勞，系乎情志損傷，草木難以奏功。因近日火升下寒，暫進加味貞元飲，制龍相之陡起。</p>
<p>熟地　白芍　青鉛　牛膝炭　茯苓</p>
<p>虛體驚恐，遂成癇厥，議鎮肝熄風、養陰平陽法。</p>
<p>生龍骨　生地　生白芍　生牡蠣　阿膠　烏梅肉</p>
<p>血液已空，肝風翻越，產後大虛之體，厥逆昏冒，皆是肝陰欲絕，陽氣夾內風上蒙清竅。昨議鎮肝熄風，旦日頗安，暮夜再厥，陰氣枯槁已露，最難調攝何疑？</p>
<p>制首烏　天冬　生地　黑穭豆皮　茯苓　川斛</p>
<p>肝風陽氣升於清空，咽喉阻痹，心似懸旌。緣春半地氣上加，產後下虛，藏納未固，隨時令而越。議用鎮陽守陰方。</p>
<p>龍骨　阿膠　生白芍　牡蠣　雞子黃　米醋</p>
<p><u>又</u>　人參　小麥　生白芍　阿膠　茯神　川楝肉</p>
<p><u>又</u>　淡天冬　陳阿膠　制首烏　茯神　黑豆皮　生白芍</p>
<p>脈澀數，上盛下垂，肝腎真陰下虧，陽氣內風上泛，舌齦欲腐，跗腫。進腎氣丸三日，即見腸紅，暮夜熱蒸，晨朝汗泄，大便常有溏泄淋滯諸恙。當理足三陰之法，仍佐固真攝下主之。</p>
<p>水制熟地　女貞子　茯神　白芍　五味子　禹餘糧　芡實　秋石</p>
<p>糯稻根鬚、山藥粉丸。</p>
<p>脈沉右弦，月經漸少而閉，腫由下而上，此血化為水，氣壅經脈；大便久瀉，小便不利，六腑不通，從太陽開導，以泄其水。</p>
<p>五苓散，加厚朴，調入琥珀末。</p>
<p>胃脘痛起，必經漏帶淋，嘔吐不納食。醫者多以開泄理肝，及參、連、薑、桂，治三月，病幾危殆。六月念四診，議宗《內經》陰維脈病獲效。秋燥冬溫氣加，因咳嗽而吐血。思絡空氣乘，非偏寒偏熱可治。女人肝為先天，首重調經，恪守此議為正。</p>
<p>烏骨雞膠　生地　女貞　建蓮　桂圓膏　白歸身　阿膠　柏仁　茯神</p>
<p>膠、膏為丸。</p>
<p>煩勞繼以悲哀，經阻三月，是二陽之病發心脾。</p>
<p>當歸　川芎　澤瀉　白芍　香附　楂肉</p>
<p>接服柏子仁丸。</p>
<p>娠八九月，胎吸母液，陽擾煩蒸，心痛引入少腹，謂之子懸。失治有三沖、三激之累。</p>
<p>生地　天冬　柏仁　阿膠　女貞　茯神</p>
<p>初產</p>
<p>益母草　炒楂肉　延胡索　澤瀉　炒麥冬　黑豆皮</p>
<p>安胎</p>
<p>桑寄生　人參　石殼建蓮　川斷　砂仁　台州青苧</p>
<p>產後，宗王損庵劫胃水法，用理中湯。</p>
<p>人參　焦術　炒姜　炙草</p>
<p>劫胃水已應，議升陰中之陽，互入攝固。</p>
<p>人參　炒當歸　五味子　茯神　麋茸</p>
<p>蓐勞久損不復，舌絡牙關牽掣。陰乏上承，浮陽內風上熾，當與靜藥養陰和陽。</p>
<p>生地　天冬　當歸身　桂圓膏　阿膠　麥冬　女貞子　烏雞膠</p>
<p>丸方。</p>
<p>脈數左弦右澀。產後經年，右肢痛楚，不能步趨。雖曰勞怒傷肝，營陰暗虧，不能涵養筋骨所致，然久久陽明之脈交傷，焉能束骨利機關之用？肌肉漸瘦，寒熱不止，是足三陰交虛成損，上及胃腑之象。議藥當主通補，但病久延，根蒂已虧，恐淹纏不已，病日加增，未敢輕談易易也。</p>
<p>羚羊角　制首烏　女貞子　生杜仲　白蒺藜　大胡麻　金石斛　黃耆</p>
<p>脈左弦右數。五年前經漏癥瘕，又復生產，繼之帶下綿綿。年來色奪氣短，食減，外寒內熱，脊骨腰髀酸楚若墜，時欲拊捫少安。仲景謂產損諸病，多從下焦肝腎起見。臟陰虧損，漸干陽分，而沖、任、督、帶諸奇脈受傷，有形精血難以速成，下焦空乏，隧道迂遠，雖補劑頻施，不能沾及，故未易取效也。若暴崩暴漏，溫經固澀可投，今屢年帶淋，脂液暗耗，陰分大傷，豈可溫熱剛暴，再劫其陰？宜從陽引陰，扶之培之可耳。見病治病，有何益歟？日久髓枯，將有損不得復而成勞怯者。</p>
<p>鹿角霜　蓯蓉　當歸　熟地　沙苑　杜仲　小茴香　茯苓</p>
<p>症是損怯經閉，診左脈濡小。前用溫通湯藥，心下稍舒；繼用膏子柔膩，便溏，少腹堅硬，小溲不利。凡脹屬氣滯，質虛斷不可強執通經，議早服五苓散，暮服禹餘糧丸，壯水臟以分利小便，是氣鬱脹閉治法。</p>
<p>白朮　獵苓　桂心　茯苓　澤瀉</p>

<h2>幼科</h2>
<p>形瘦，脅中有形，五心煩熱盜汗，雖是童真，久延疳勞。</p>
<p>使君子　廣皮　胡蓮　楂肉　砂仁　白朮　茯苓　白芍　厚朴　雞肫皮</p>
<p>久病腹膨，目眶下紫，是脾虛夾積，即疳熱之症。</p>
<p>乾蟾丸。</p>
<p>利後陰傷，五心煩熱。稚年恐致疳病，最宜薄味調養，夏、冬可與清熱肥兒丸之屬。</p>
<p>白芍　胡黃連　南橋山楂　乾荷葉　茯苓　牡丹皮　炒澤瀉</p>
<p>汗後泄瀉不解，非因表裡客邪。初起嘔吐而瀉，今噫氣尚然穢濁，知平素過愛雜食。屢傷脾胃，兩旬不愈，為幼科疳蝕瘦蒸之症。乳汁甘美，慮熱化痰，再吐便有驚厥矣。</p>
<p>胡黃連　枳實　豬苓　廣皮白　楂肉　澤瀉　犀角尖　白金汁　鮮石菖蒲　連翹心　鮮生地　金銀花</p>
<p>溫邪入肺，肺移熱於大腸為瀉，瀉白散清其受病之源頗是，但上焦氣壅熱聚，氣逆則咳喘嘔吐。幼年最怕有痙厥，進辛寒解邪，豎抱令臥，勿使肺葉張舉，易得安痊，乃百試百中捷徑。</p>
<p>杏仁　米仁　荷葉梗　連翹　橘紅（蜜炙）</p>
<p>稚年食物不節，胃土受傷，熱蒸於裡，肝膽木火化風，遂成癇厥。口喎肢牽，皆風火燥及絡脈，若仍亂食，厥逆不止，有五癇不治沉疴。</p>
<p>川連　膽星　遠志　枳實　黑梔　橘紅　桔梗　萊菔子</p>
<p>稚年形消脈小，食物日少，晡熱早涼，汗出，損勞難治。幼科門內損，必皮毛血肉之傷起因，議調營衛。</p>
<p>黃耆　歸身　米糖　南棗</p>
<p>幼年，冬月短氣煩悶，寐中筋惕肉瞤，乃因未充長，陽浮則動，當用六味丸加麥冬、五味。</p>
<p>稚年脾胃氣弱，夏秋瘧痢，宜顧戀中土，醫不明此理，惟發散消導，致元氣衰憊，肝風內鼓，爰成慢脾驚搐，遂令無藥可挽。勉議一方。</p>
<p>犀角尖　白金汁　鮮石菖蒲　連翹心　鮮生地　金銀花</p>

<h2>痘科</h2>
<p>診後夜來大便三次，午後看視，堆沙甚薄，額准諸痘，枯癟少漿，可見元氣日虛，里毒無以領載而出。今日理進攻托，遲則恐其乾涸塌陷。</p>
<p>黃耆　當歸　殭蠶　桑蟲漿　防風　炙草　山甲　木香汁</p>
<p>次日　漿有五分，不肯肥飽充頂。昨停涼藥，寢食大物頗宜。頃燈燃看視，自云畏寒。經云：形寒飲冷為肺損，蓋見肺主一身氣化，氣虛性薄，皮腠不營，法當參、耆益氣，氣充漿成矣，近日幼科以毒為疑慮，吾謂氣壯毒化，邪與正不並立也。</p>
<p>歸身　人參　川芎　炙草　黃耆　官桂　廣皮　木香</p>
<p>次用錢氏異功散加木香。</p>
<p>次用四漿散。</p>
<p><u>又</u>　首烏　茯苓　百合　炒芍　米仁　沙參</p>
<p>四朝半　汗出衛疏，肌肉柔嫩，氣虛證也。今日猶在六日前，宜和血脈升頂，少候形充，即商內托。至於保護脾胃，猶不可缺。</p>
<p>川芎　殭蠶　紫礦　廣皮　當歸　炙草　丹皮　雞頂血</p>
<p>五朝　賴有形紅潤色澤，得以運行漿汁；而嘔惡泄瀉，脾胃氣弱，已見一斑。五行火能生土，況肺金溫暖，氣化流行，如陽春布德同旨。</p>
<p>人參　炙草　厚朴　官桂　丁香　木香　腹皮　當歸</p>
<p>六朝　清漿已有六七，色頗鮮明，氣血有生長之機。助元正所以化毒，兼理脾胃。</p>
<p>保元湯，加川芎、木香、肉果、黃米。</p>
<p>七朝　漿已八分，其色淡白。要知氣血不足，到此便顧脾胃，色漸蒼黃，即可回痂，以杜氣弱難收之弊竇。議錢氏異功意。</p>
<p>人參　白朮　廣皮　茯苓　炙草　米仁</p>
<p>八朝　痘至回痂，皮毛內應乎肺，此音低咳嗽，有自來矣。古人進清涼以助結痂，譬之秋令收藏，萬物乃登。小便頻長，腑無留毒壅滯，非徒為虛而呆補為也。</p>
<p>米仁　苦皮百合　甘草梢　茯苓　地骨皮　淡竹葉</p>
<p>九朝　回痂嗽嗆音低，痘氣由里傳及肺部，氣之所至，即為熱氣熏灼，只因脾氣未實，沉寒亦犯禁忌，故小便欲長，驗肺氣降也。輕清涼解，毋傷中也。古人云：疹前痘後，最宜詳慎。</p>
<p>淡黃芩　綠豆皮　米仁　甘草梢　地骨皮　金銀花　連翹　茯苓</p>
<p>五朝　痘已大發，面部細粒繁冗，界地不清，抑且神躁不安，身軟痿頓，毒火時癘並重布，此血熱大險之痘。今日痘熱雖透，所謂痘雖出，毒猶在裡，大劑寒涼，疏利氣血，使時火去，神識清，顴頰諸痘綻立，分清界地，乃是好處。</p>
<p>犀角　楂肉　川連　連翹　元參　青皮　羚羊　丹皮　紫礦　大力　赤芍　木通</p>
<p>四朝　議用清火解毒、活血疏滯。痘繁乾燥，乃不得起脹之象，險重。</p>
<p>犀角　楂肉　生地　連翹　元參　羚羊　丹皮　金汁　土貝　紫草　黃連膏　豬尾血膏。</p>
<p>銀花湯煎。</p>
<p>五朝　兩日來大劑清解，痘粒仍屬干萎，可見火毒矇蔽氣血，邪勝正怯何疑？毒不外透，徒在裡蒸，搏痰侵咽，嗆逆來矣。總頻與清涼，痘之潤澤，非成漿形色，至險至險！議以牛黃、珍珠護心包以利毒痰，湯藥方法，不越寒涼範圍矣。</p>
<p>川黃連　犀角汁　土貝　丹皮　金汁　生地　地龍汁　羚羊汁　連翹　桔梗　元參</p>
<p>六朝　三次大便，竟是藥汁，乃胃中谷氣已少，苦寒直從下走。究竟痘形干痿，肢泡累然，並無毒肯解化之兆也。已經洞泄，其滑潤又當酌進，必得胃蘇納穀，希冀堆沙發臭。</p>
<p>黃連　土貝　羚羊角　丹皮　黃芩　桔梗　連翹　紫茸</p>
<p>七朝　雖是清漿，顏色呆鈍，仍是郁毒，尚多氣血不足宣布之象。況肢腿發泡，瘙癢損泄，皆伏危機。今日清解滋血，佐以攻托，務使胃蘇進谷，穩過十二朝，方有好意。</p>
<p>黃連　生地　銀花　殭蠶　桑蟲汁　黃芩　丹皮　連翹　紫茸</p>
<p>銀花、地丁湯煎。</p>
<p>九朝　神衰困倦，夜來繚舌咬牙，煩不肯寐，況進粥食甚，是勉強，猶非全好光景，古云：重恙必進寢食。今陽火與痘毒尚亢，而陰血、津液暗爍，清涼多進，熱不盡解；攻蒸兩投，毒未熔化，摩挨多日，究無實濟，因思《內經》云：寒之不寒為無水，當養其陰。擬此連進三天，扶過十二朝再議。</p>
<p>炒熟地　茯神　麥冬　天門冬　川斛　米仁</p>
<p>頭面有收斂之象，雖曰回痂，而食物不加，便溲未調，究竟毒未盡化，正氣先怯，危機仍若。連進苦寒攻毒以來，胃氣受藥，亦致廢食。凡欲自思進之物，皆能醒豁脾胃之性，停藥以和胃，越二日再議。</p>
<p>三朝　時癘毒火兼盛，表裡不清，煩躁神昏，布痘不爽，痘屬險篤。幸賴年已十三，能耐摧拔，庶可幸成。</p>
<p>石膏　大黃　青皮　連翹　紅花　方諸水　黃芩　桃仁泥　楂肉　牛蒡　滑石</p>
<p>四朝　時癘毒火，當蔽心包絡，所以昏憒譫妄。況痘子界地隱隱夾疹，血熱煩蒸已極。不獨治痘，先須清神為要，議三黃解毒湯。</p>
<p>淡芩　黃柏　石膏　黃連　滑石　黑梔</p>
<p>五朝　神識頗清，全賴苦降之力。論年長出痘，人事已曉，肝中相火，腎臟龍火，皆得焮騰昇發。少陰脈循咽挾舌，厥陰脈貫膈繞咽，一水不能制伏，恐其阻塞咽喉，陽氣燔灼，吐湧涎沫為膠，原在難治之例矣。經云：火淫於內，治以苦寒，佐以鹹寒。咸能潤下，直入至陰。溫邪宜潤忌燥，不僅痘門通套已也。</p>
<p>川連　元參　黑山梔　犀角　方諸水　川柏　生地　龍膽草　丹皮</p>
<p>六朝</p>
<p>川連膏　丹參　犀角汁　連翹　生地膏　元參　丹皮　羚羊汁　土貝</p>
<p>銀花湯煎。</p>
<p><u>又</u>　川連膏　天冬　麥冬　連翹　銀花　元參　生地　川貝　生草</p>
<p>十一朝　漿滿回痂，毒氣已泄，口唇痘子，未若肌表漿痂，必成熟腐而落。此最動之處，最易變疳，明日便約疳醫洗治為要。</p>
<p>川貝　生草　天冬　銀花　麥冬　元參　知母　連翹</p>
<p><u>又</u>　天冬　生首烏　生黃耆　銀花　麥冬　小胡麻　地骨皮　連翹</p>
<p><u>又</u>　金石斛　天冬　生首烏　連翹　地骨皮　麥冬　金銀花　山豆根</p>
<p>十八朝　虎潛丸。</p>
<p>八朝　火毒即是血熱，理用寒涼；氣虛乃元弱不領毒外達，治宜內托，二症相反，有如冰炭，若之火毒便非氣虛。今周歲嬰孩，面有清漿五六，背部根暈皆散，八日來不思納穀，反現嘔惡咬牙、泄瀉渴煩等象，全屬裡虛毒陷，若不急保脾胃，溫養氣血以運行漿汁，必致延挨告變。陳文中雲：渴瀉嘔惡，或腹脹，十一味木香散主之。憑理考古，不敢因循苟且也。</p>
<p>九朝　七味豆蔻丸，研入米飲內服。</p>
<p>十朝　瀉止能食，最是好處，但痂瘡甚薄，漿汁不濃，毒未化盡，半月後恐有餘毒纏綿。今解毒為涼藥，脾胃尚弱，未可驟進，姑與健脾利水一二日，當停藥安穀。至初十間再行解毒穩。</p>
<p>熟白朮　炙甘草　米仁　炒陳皮　白茯苓　炒白芍　炒穀芽　炒澤瀉</p>
<p>三朝　正面不焮發，色猶鬱伏。時氣固從熱論，驗形體已屬不足，刻下輕潤涼解活血六七日，受補可療，然症象已繁多屬險。</p>
<p>犀角　紫草　連翹　木通　滑石　楂肉　丹皮　甘草　紅花　筍尖</p>
<p>四朝　正痘皆發，形軟蓬鬆，色嬌皮嫩，是氣虛形色大著。或以身夾斑點為血熱，此乃時癘混入血中，非本體之見端，故六日前清涼活血，皆解邪之法；七日間助元內托，乃養正之法，仍以輕清，議用：</p>
<p>犀角　紅花　紫草　杏仁　殭蠶　羚羊　丹皮　甘草　連翹　楂肉</p>
<p>加雞冠血。</p>
<p>五朝　不肯光華，形象扁塌，此氣血俱餒，未能領載毒氣以化漿，則知寒涼解毒乃通套常方，而煦提氣血，方稱工巧。</p>
<p>川芎　炙草　殭蠶　紫茸　歸身　楂肉　角刺　桔梗</p>
<p>加雞冠血。</p>
<p>氣血寒涼太過，脾胃傷則嘔澀，議用異功散。</p>
<p>寒戰咬牙，泄利清滑，粥食不受。從前寒滑，重傷脾骨，致毒不盡，神內怯，腸中滑不自持，雖參、術亦從滑下，惟有陳氏法急固下利。七味豆蔻丸。</p>
<p>脾氣初結，未可解毒涼潤。</p>
<p>白朮炭　建蓮　山藥　炙黑草　薏苡仁　茯苓　澤瀉</p>
<p>二朝　時氣與內毒痹結，喘促，痘不發越，宜通氣血，調暢六腑。</p>
<p>石膏　大黃（酒炒制）　紅花　青皮　滑石　楂肉　桃仁　木通</p>
<p>三朝　痘形八九不得均勻，而形色乾燒，已為火象，清解涼血透毒為治。</p>
<p>犀角尖　楂肉　連翹　丹皮　生草　羚羊角　紫茸　牛蒡　桔梗</p>
<p>四朝　羚羊角　元參　殭蠶　生地　紫茸　川黃連　桔梗　楂肉　丹皮　雞冠血</p>
<p>銀花湯煎。</p>
<p>五朝　火毒未化，咬牙嗆咳，嘔惡腹膨，清解兼疏滯。</p>
<p>羚羊角　楂肉　殭蠶　紫茸　連翹　川黃連　廣皮　土貝　丹皮　桔梗</p>
<p>銀花湯煎。</p>
<p>六朝　火毒未為盡透，腹膨便溏，不欲進食，此脾正虧，而腸胃中滯氣不行也，議以養營托裡，疏理滯氣之法。</p>
<p>川芎　腹皮　殭蠶　厚朴　當歸　廣皮　角針　青皮</p>
<p>八朝　攻毒以來，漿末鼎充，再腹膨嘔逆身熱，二便頗通，豈云食滯，口之脾胃間尚有蘊伏熱毒，阻撓流行氣機。脾滯為脹，胃逆為嘔，若不清理痘中雜病，須防喘急疳鉗。</p>
<p>竹茹　枳實　麥冬　青皮　川連　橘紅　茯苓　腹皮</p>
<p>九朝　川黃連　黃芩　桔梗　銀花　橘紅　益元散　連翹　川貝　地丁</p>
<p>痘形色不雄偉焮發，是屬氣虛，議進透肌安表。</p>
<p>荊芥　赤芍　楂肉　桔梗　筍尖　牛蒡　紅花　廣皮　甘草</p>
<p>四朝　痘已發齊，稠密不準，額准盤松不綻，諸部亦少光彩。氣虛毒重，八九恐生癢塌。今議用升頂提透，不可擅用寒涼。</p>
<p>川芎　歸身　紫茸　殭蠶　雞頂血　桔梗　紅花　楂肉　甘草　酒漿</p>
<p>五朝　元虛痘密，起發成漿最難。今日再進提托，少候形充，即商內托，受補為佳。</p>
<p>川芎　炙草　殭蠶　楂肉　羊肉　歸身　廣皮　角針　紫茸　雞頂血</p>
<p>六朝　地閣頤頰稍稍光潤，所謂行漿之色。奈何天庭枯白，形似蛇皮，陽位不宣，究非善狀，急急溫補氣血，從內托毒，遲則變症，補必無益矣。</p>
<p>人參　川芎　廣皮　楂肉　黃耆　當歸　炙草　雞頂血</p>
<p>七朝　人參　川芎　當歸　廣皮　黃耆　鹿茸　炙草　楂肉</p>
<p>八朝　漿有四分，闊塌發癢，慎之。</p>
<p>人參　黃耆　炙草　木香　歸身　鹿茸　坎氣　廣皮　肉果</p>
<p>九朝　面部清漿欲涸，周身暈散塌闊，咬牙泄瀉，納穀不多，兩日癢甚，今日稍和，表裡正虛，毒陷欲涸，再當攻發，繼進木香異功散，理肺安脾為要。</p>
<p>十一朝　頭面半漿回痂，肢體灰陷不榮，虛中留毒，險篤在於明後，今寒戰咬牙不食，則正氣欲脫，擬以附子理中湯加茯苓。</p>
<p>四朝　身小痘多，氣虛血熱。今時氣未盡，尚宜疏解。五日後便當補托，猶宜加意，可冀有成。</p>
<p>荊芥　楂肉　紅花　桔梗　冬米　牛蒡　殭蠶　川芎　丹皮</p>
<p>五朝　身小痘多，元氣甚薄。凡起脹灌漿，全要精神，待毒自發熱，體少安適，至七八成漿，神氣已經耗損，故痘書云：小舟重載。八九風波可見，元氣日薄，癢塌，內外症象都在是期，虛中夾毒，明明險象。今議用和血提頂起脹方法。</p>
<p>川芎　炙草　紫茸　木香　雞頂血　當歸　廣皮　炒查　殭蠶</p>
<p>六朝　痘雖放白，已具行漿之勢，所嫌頂不高聳，況又咬牙，大便頻下，內虛之象，已見一斑。今急急補托，使精神稍振，可以送毒化漿。</p>
<p>黃耆　炙草　木香　殭蠶　歸身　川芎　廣皮　黃米</p>
<p>七朝　色白不能紅潤，大便頻下，是精神內竭，有下陷之象。擬進參歸鹿茸湯，冀其元氣稍振，便可僥倖成功。</p>
<p>本方加肉果、訶子皮、炒廣皮、木香。</p>
<p>八朝　漿水不行，咬牙腹痛泄瀉，此正虛氣滯毒凝，補托極妥，慮虛不承受。陳文中雲：渴瀉腹脹，可與木香異功散，以安中疏滯。</p>
<p>人參　蘇梗　厚朴　丁香　當歸　木香　前胡　青皮　腹皮　川芎　加炒黃米</p>
<p>六朝　形鈍色扁，是痘發毒鬱於里，不肯成漿，焉得毒化。況內證如不食、口臭下利，元氣為毒拘束之象已著。無對症之藥，不得已，以當世通行涼解，實無濟也。</p>
<p>犀角　紫礦　殭蠶　生地　連翹　丹皮　楂肉</p>
<p>銀花湯煎。</p>
<p>六朝　肉部腫瘡枯，周身形象不偉，本虛氣血不行，毒氣漫無拘束，必得痘形充長，顏色潤澤，方有成漿之望。議以清毒內托，兩和氣血。</p>
<p>黃連　歸身　丹皮　廣皮　川芎　炙草　紫礦　殭蠶　雞頂血</p>
<p>七朝　色稍潤，形尚癟，血有承載之基，氣少煦運之力。古人每以十宣保元勃氣，翁氏亦主六日後專運氣血為主。今日初見漿來，瘡家氣血耗損，深慮兩日間癢塌。</p>
<p>人參　木香　川芎　酒漿　歸身　炙草　楂肉</p>
<p>九朝</p>
<p>人參　殭蠶　歸身　黃耆　甲末　廣皮</p>
<p>十朝　漿未充盈，泄瀉黏膩，雖痰咳，上焦未肅，理必急護脾陽，此陳氏方法，何憚不用耶？</p>
<p>人參　酒炒當歸　炙草　肉果　黃耆　酒炒白芍　木香　廣皮</p>
<p>炒黃米湯煎，此後十一朝方。</p>
<p>十一朝　鼎不充滿，皮殼已腐，不任攻發，惟宜補托。</p>
<p>人參　焦術　丁香　訶子皮　肉桂　廣皮　厚朴　肉果　炒黃米，此前九朝方。</p>
<p>十二朝</p>
<p>炒白芍　茯苓　甘草　丹皮　生米仁　骨皮　銀花　澤瀉</p>
<p>七朝　音啞痰潮，下利黏膩。翁仲仁云：喘急見於瀉後，總是氣虛而斷。嘔惡不食，脾肺兩敗，危如朝露矣。陳氏異攻散溫里托毒，急救太陰臟真。</p>
<p>八朝　內症安和，宜理陽。</p>
<p>人參　丁香　肉果　肉桂　茯苓　白朮　木香　姜附</p>
<p>炒黃米湯煎。</p>
<p>二朝　見點隱隱不透，左太陽背部紫斑，雖經下過，精神已憊，難任盪滌。悶伏之象，顯然已著，即投攻發藥石，恐有倒戈之慮。</p>
<p>荊芥　桃仁　牛蒡　紫草　大黃　青皮　防風　紅花　桔梗　川芎　滑石　楂肉　藍汁</p>
<p>百日嬰兒　未沾穀食，胃受乳汁甘美，腑氣嫩薄，痘發震動，里真已覺悽悽不安。藥味苦劣，胃中氣弱，必有嘔吐泄瀉，是病未攻而正反傷矣。況此薄質，宜乎和，不可推蕩，乃至理也。總屬邀天幸，不堪用人工者，議解肌透毒，乳母代食，兼通乳汁。</p>
<p>生地　赤芍　紫茸　楂肉　漏蘆　紅花　荊芥　丹皮　木通　通草</p>
<p>形瘦質弱，當夏至氣疾發痘，汗泄肌疏，暑熱傷氣。五朝來形象枯癟，乏光潤充偉之象，蓋元氣不能運毒以化漿矣。有限日期，若不氣充外灌，必致外剝，內陷諸竅。大凡治痘，必須論體，此虛弱扶毒之證，最難調治，與實火壯盛迥別。議進芎歸湯，和血內托，以助充長。</p>
<p>川芎　炙草　紫茸　天蟲　雞頂血　當歸　炒查　丹皮　桔梗</p>
<p>空泡遍起，不肯灌漿，世俗每拘氣過則泡，僉用涼藥，清其氣火。夫不足之體，焉得正氣有餘？良由血不附氣為空累耳，故保元湯內托挾漿，一定至理。此證扶持過十二朝，投得清涼解毒，合乎先補後清之旨，方有好音。</p>
<p>人參　黃耆　當歸　白粳米　炙草　廣皮　川芎</p>
<p>麵漿七八，雖曰稀清，護養弗損，亦可濃厚成痂。但胸中身背形象損傷者，難以聚漿，其它僅有空殼，根暈少附，況兼嘔惡，氣逆神煩，內證未得安寧，虛中夾毒，又非徒補可安。此益元氣血之中，諒必參以清涼。就翁氏論痘，原叱過補，十天痘疹，合乎秋冬之令，夏季發泄，大忌攻擊以速其腐潰。至囑至囑！</p>
<p>人參　煨木香　歸身　粳米　川連（酒炒）　白芍　廣皮</p>
<p>晝靜夜煩，陽亢陰虛，緣稚年之體屬陽，乏陰協和。清涼解毒，僅能理時癘火毒，先天藏蓄之毒兆於有形之始，豈刻時可徹？論理壯水制陽、益陰解憂，仿仲景之議可也。</p>
<p>六味去萸加芍。</p>
<p>正在關津，而陽分散漫之毒現於頭巔。內虛不受芩、連苦寒，姑進益陰臟，能陽腑，勿使深入里。（此方逸去）</p>
<p>冬溫未解，神氣未為清爽。痘雖熱症，體柔肌白，是為元虛。清寒不可太過，胃無妨礙，自無變症，殼薄痘多，看護宜慎。</p>
<p>犀角　炒楂肉　牛蒡子　連翹　羚羊　丹皮　制天蟲　桔梗</p>
<p>臨服入雞冠血十五滴。</p>

<h2>痧疹</h2>
<p>痧不外透，火鬱於肺，肺脹則喘；口渴頻煩，熱邪在上，況發厥如驚，尤屬熱象。辛寒解利鬱熱，從《內經》夏至後為病暑治。</p>
<p>連翹　杏仁　黃芩　山梔　蘆根　牛蒡　石膏　紫菀　木通</p>
<p>病在暴冷而發，肌表頭面不透，是外蘊為寒，內伏為熱。肺病主衛，衛為氣分，兩解為是。</p>
<p>麻黃　牛蒡　射干　桔梗　石膏　杏仁　生草　枳殼汁</p>
<p>暴冷外加，伏熱更熾，邪鬱則氣血壅遏，痧疹不肯外達。痰氣交阻，神昏喘促，漸入心包，有內閉外脫之象。</p>
<p>連翹　射干　滑石　銀花　菖蒲　通草</p>
<p>又牛黃丸。</p>
<p>溫疹乃口鼻吸入穢濁之氣，乃無形之邪，上竅阻塞，嗆物不下。醫不知有形無形，但曰清火寒降，至藥直入腸胃，與咽中毫不相干。</p>
<p>牛蒡子　銀花　馬勃　連翹　射干　蘆根</p>

<h2>外科</h2>
<p>脈細數。春、夏間水顆如疥，下焦先發，延及四肢，此先天遺熱伏於陰分，乘天地之氣升越而發。病雖漸渺，除根最難，蓋陰液難成易損，情欲之感，皆與真陰有乖也。</p>
<p>虎潛丸。</p>
<p>寢食如常。自上年失血之後，巔頂、肌膚髮現疥瘰瘙癢，春發冬瘥，先以和血平調方。</p>
<p>制首烏　九蒸桑葉　浙菊花　炒杞子　三角胡麻　金銀花</p>
<p>紅棗肉和丸，每三錢。</p>
<p>陽氣發泄，水穀氣蒸，留濕為瘍。流膿之後，而睪丸偏墜。下焦瘡疾，皆濕甚鬱熱之徵，以宜行氣分、健陽運濕治。</p>
<p>刺蒺藜（雞子清制，四兩）　生薏仁（四兩）　製半夏　生益智仁（二兩）　生於術（八兩）　白茯苓</p>
<p>水泛丸。</p>
<p>骨骱屈伸之間，疥癬經年不愈，痛癢流水，外治敷貼不效，曲折處結核，抑且頻噫乾嘔，納食咽中似阻；經水期至，常有帶下。此陽明經絡中久有濕熱，浸淫既久，必有蟲蝕。外治清熱去濕殺蟲，內服藥餌以調和氣血為主，佐苦辛通其經絡，使氣血流行，內外兩治相合。</p>
<p>生耆皮　防風　生米仁　白蒺藜　當歸　防己　桔梗　威靈仙</p>
<p>大風癘疾，周身皮脫如麩，夜則烘烘潮熱，晝起鼓慄寒戰，其風毒流布營衛，無地循環不到，爍人氣血，深入臟腑，為瘍科緊要之症。余非瘍科，僅閱古人方書，推古方醉仙散為首，考其藥性，藉毒驅毒，慮有齒牙之傷。此症發於秋，甚於冬，至春暖入夏，則鮮相沿發，非纏綿之恙，非規矩準繩所能調攝者。暫宗羅氏既濟解毒湯，與高麗參末。</p>
<p>黃芩　升麻　大黃　防風　黃連　柴胡　威靈仙　甘草</p>
<p>陳酒浸一日，竹籃內攤干，煎服。</p>
<p>咽喉腫痛，湯入咽有阻，此皆鬱熱欲變喉風痹塞，急急清散。</p>
<p>牛蒡　元參　金銀花　桔梗　連翹　射干　綠豆殼　通草</p>
<p>另用川連、冰片、硼砂、牛黃點痛處。</p>
<p>喉痹勢緩，鬱火釀痰，未經全清，補湯少進。</p>
<p>炒黃川貝　天花粉　大沙參　夏枯草花　鮮菊葉　白通草</p>
<p>癰瘍膿潰以來，臥床氣機未暢，肥甘過進，胃壅生熱，致口中味甜，納少不飢。只因津液潰散之餘，原非痰凝之比，辛燥滲泄，都是動藥，洞然忽空，求助於食，陽動為消也。自述火升由下上巔，病來迅若風雷，與仲景厥陰心熱如飢恰合。可見厥陽震內風生，肝失和，胃受擾，咽乾舌枯，亦是厥陰消渴。此肝為主病之臟，胃為受病之腑，古人謂九竅不和，都從胃治。夫清養胃陰，必先制肝陽之擾，故取甘酸化陰之法。</p>
<p>人參　炙甘草　炒麥冬　佩蘭葉　木瓜　生白芍　烏梅肉</p>
<p>瘍潰膩補，胃陽壅遏，加以暑濕熏蒸，自口鼻由中道而入，胃更不和，嘔逆泄瀉。古人謂九竅之疾都為胃病也，但胃為陽腑，剛燥須忌。久臥床褥，脾困艱運，和補仍佐通泄為宜，勿使氣分呆滯。</p>
<p>人參　金石斛　廣皮　荷葉　茯苓　烏梅肉　木瓜　澤瀉</p>
<p>潰瘍未合，頻進培養，反晝夜漸寒潮熱，食物日減，形神日損。近熱甚衄血，口渴舌絳，肉腠麻木。本虛之體，夾雜暑熱，慮液涸昏厥，擬用復脈湯。</p>
<p>菀悖陽生，血氣紊亂，遂成癰瘍。潰膿以來，進參、耆內托益氣生肌，雖為正治，但中、上兩焦補法，陽愈升騰，肝木震動，爍筋襲絡，致有偏枯麻痹。診面色油光，平居大便久溏，酒客虛中，有濕不受甘膩溫柔，議以苦降和陽，佐以熄風。其平時調理方法，俟再斟酌。</p>
<p>金石斛　陳膽星　人參　橘紅　烏梅肉　茯苓</p>
<p>潰瘍營損不能食，便瀉復閉。</p>
<p>四君子湯，加當歸、白芍。</p>
<p>年高表疏，風毒侵入陽位，盤踞閉塞隧道，發為癰瘍，中、下兩焦受困。今津竭便難，無味食減，內風日熾，節過春半，恐有病加之慮，宜潤補。</p>
<p>淡蓯蓉　枸杞　柏仁　牛膝　當歸　麻仁</p>
<p>破傷失血液涸。</p>
<p>淡蓯蓉　枸杞　生地　川石斛　當歸　天冬</p>
<p>陽上冒，鬱熱蒙竅。</p>
<p>桑葉　雞子白　海浮石　蘆根　沙參　麥冬　川貝母</p>
<p>陰分固虛，經脈有濕熱阻塞，所以下焦發瘍；津液不得上涵，遂久咳不止。幸得能食，不致傷及中宮，薄味靜養圖安。</p>
<p>生地　干何首烏　米仁　黃柏　麥冬　三角胡麻　茯苓　萆薢</p>
<p>陰損有漏瘡，咳逆欲嘔。</p>
<p>炒熟地　女貞　山藥　炙甘草　白芍　茯神</p>
<p>能食形色奪，肛瘍癰，遺精，酸苦泄熱不應，當通陽攝陰。</p>
<p>蓯蓉　熟地　黃柏　遠志　茯苓　鎖陽　龜甲　白芍</p>
<p>羊肉膠丸。</p>
<p>督虛腰背痛，神倦，有痔下血。</p>
<p>早服斑龍丸，加五味；晚服歸芍異功，水泛丸。</p>
<p>陰傷濕熱，下墜肛痔，溺澀精濁。</p>
<p>生地　黃柏　川斛　炒黑槐米　丹皮　知母　澤瀉　金銀花</p>
<p>瘰癧不消，伏邪寒熱。</p>
<p>海石　生牡蠣　黃芩　橘紅　小生地　蛤粉　夏枯草　土貝　銀花　丹皮</p>
<p>水泛丸。</p>
<p>癘勞寒熱食減。</p>
<p>參歸耆建中湯，去糖加茯苓。</p>
<p>病起北方，冬月始於腰間，膚膜凝形，既經消散。凡靜坐良久，若皮裡膜外中有牽絆不和之狀，想凝著之寒，必入營分血絡之中，由此壯年不愈，氣血日薄，有癰瘍累瘁矣。</p>
<p>麝香　全蠍　川烏頭　乳香　地龍　沒藥</p>
<p>脈得左搏大，右緩。夏秋熱氣從口鼻入，由膜原以分布脈絡，是時水穀腥膩助熱聚濕，經謂濕勝則腫，熱爍為痛。所患右脈及左甚，病久邪深，入於血分矣。經云：陽明之脈束筋骨以利機關。今躁痛夜劇，便秘不爽，且有渴飲，古稱九竅不和，都屬胃病。水穀氣內蒸，暑濕氣外侮，內外相薄，痹而不通，當思苦辛寒以宣之，宗河間法。</p>
<p>飛滑石　生石膏　寒水石　杏仁　木防己　萆薢</p>
<p>晚蠶砂一兩，煎湯，濾清煎。</p>
<p>夏秋內伏暑濕，皆是陰邪久瘡，漸致食入痞滿。形寒脈小，當溫中醒陽，莫以清涼治瘡。</p>
<p>米仁　生白朮　薄肉桂　茯苓　五加皮　豬苓</p>
<p>患處熱蒸痛癢，是經脈氣血不行。但癰疽之餘，毒輕為瘡痍，重延流注。清解固宜，然胃弱少餐，苦寒宜慎，且瘍發身坐以上，氣分之郁必究。</p>
<p>金銀花　川貝母　白蒺藜　夏枯草　地骨皮　香附汁</p>
<p>瘡家營衛自虛，寒熱神疲，調補二氣非廖。久虛不復，不待恃藥，當以靜養身心為要。</p>
<p>黃耆　當歸身　制首烏　茯苓　桂枝皮　枸杞子</p>
<p>飴糖漿為丸。</p>
<p>耳聤環口浮腫，是少陽，陽明風熱，久而失解，邪漫經絡顯然。疹現隨沒，當與羅謙甫既濟解毒。</p>
<p>枯芩　升麻　荊芥　銀花　大黃　黃連　葛根　防風　甘草</p>
<p>酒浸半日，陰乾煎。</p>
<p>風毒濕鬱，為六氣所傷。醫治經年，必損氣血，為內傷症。</p>
<p>白蒺藜（雞子制）　枸杞子</p>
