<header data-type="book">
<h1>傷寒論類方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐大椿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM090</dd></div>
</dl>
</header>
<h2>序</h2>
<p>王叔和傷寒例云，今搜採仲景舊論，錄其證候診脈聲色，對病真方，擬防世急，則知傷寒論當時己無成書，乃叔和之所搜集者，雖分定六經而語無論次，陽經中多陰經治法，陰經中多陽經治法，恭錯不一，後人各生議論，每成一書，必前後更易數條，互相訾議，各是其說，愈更愈亂，終無定論，不知此書非仲景依經立方之書，乃救誤之書也，其自序云，傷夭橫之莫救，所以尋求古訓，轉採眾方，蓋因誤，治，之，後變症錯雜，必無循經現症之理，當時著書，亦不過隨症立方，本無一定之次序也，余始亦疑其有錯亂，乃探求三十年，而後悟其所以然之故，於是不類經而類方，蓋方之治病有定，而病之變遷無定，知其一定之治，隨其病之千變萬化，而應用不爽，此從流溯源之法，病無遁形矣，至於用藥，則各有條理，解肌發汗，攻邪散痞，逐水驅寒，溫中除熱，皆有主方，其加減輕重，又各有法度，不可分毫假借，細分之不外十二類，每類先定主方，即以同類諸方附焉，其方之精，思，妙，用，又復一一注明，條分而縷悉之，隨以論中用此方之症，列於方後，而更發明其所以然之故，使讀者於病情藥性，一目顯然，不論從何經來，從何經去，而見，症，施，治，與仲景之意，無不吻合，豈非至便之法乎，余纂集成帙之後，又復鑽窮者七年而五易其稿，乃無遺憾，前宋朱肱活人書，亦曾彙治法於方後，但方不分類，而又無所發明，故閱之終不得其要領，此書之成，後之讀傷寒論者，庶可以此為津梁乎。</p>
<p>　　　　乾隆二十四年歲在屠維單閼陽月上浣洄溪徐大椿序</p>
<h2>卷一</h2>
<p>傷寒論類方，吳江徐大椿編釋</p>
<h3>桂枝湯類</h3>
<h4>桂枝湯（一）<span data-rev="注"><small class="雙行夾注">甘草大棗補脾精以滋肝血芍藥清營中之熱桂枝達營氣之鬱也</small></span></h4>
<p>桂枝（三兩去皮）、芍藥（三兩）、甘草（二兩炙）、生姜（二兩）、大棗（十二枚擘）
右五味，㕮咀，以水七升，微火煮，取三升，去滓，適寒溫，服一升，服已，
須臾歠熱稀粥一升餘，以助藥力，
桂枝本不能發汗，故須助以熱粥，內經云，穀入於胃，以傳於肺，肺主皮毛，汗
所從出，歠粥充胃以達於肺也，觀此可知傷寒火禁食矣，
溫覆，令一時許，遍身漐漐，微似有汗者益佳，不可令如水流漓，病不必除，
此解肌之法也，若如水流漓，則動營氣，衛邪仍在，
若一服汗出病瘥，停後服，不必盡劑，若不汗更服，依前法，又不汗，後服小促
其間，半日許，令三服盡，若病重者，一日一夜服，周時觀之，服一劑盡，病症
猶在者更作服，若汗不出，乃服至二三劑，
桂枝湯全料，謂之一劑，三分之一，謂之一服，古一兩，今二錢零，則一劑之藥，
除姜棗僅一兩六錢零，一服不過五錢零矣，治傷寒大症，分兩不過如此，一服即
汗，不再服，無汗，服至二三劑，總以中病為主，後世見服藥得效者，反令多服，
無效者，即疑藥誤，又復易方，無往不誤矣。
禁生冷粘滑肉麵五辛酒酪，及臭惡等物，太陽中風，陽浮而陰弱。
風在外故陽脈浮，衛氣有邪，則不能護營，故陰脈弱。
陽浮者，熱自發。
風為陽邪，故發熱，桂枝之辛以散之。
陰弱者，汗自出。
芍藥之酸以收之，甘草之甘以緩之。
嗇嗇惡寒，淅淅惡風。
惡風未有不惡寒者但惡寒甚輕非若中寒及陰經之甚也。
翕翕發熱，
其熱亦不如陽明之甚。
鼻鳴乾嘔者，
鼻鳴似屬陽明，乾嘔似屬少陽，蓋三陽相近，故略有兼病，但不甚耳。
桂枝湯主之。
太陽病，頭痛發，汗出惡風者，桂枝湯主之。
此桂枝湯總症，以營性發揚，衛性斂閉，風傷衛氣，泄其皮毛，故汗出也。
太陽病下之後，其氣上衝者，可與桂枝湯方，用前法，
誤治，
若不上衝者，不可與之。
此誤下之症誤下而仍上衝，則邪氣猶在陽分，故仍用桂枝發表，若不上衝，則其
邪已下陷，變病不一，當隨宜施治，論中誤治諸法。詳觀自明。
太陽病，初服桂枝湯，反煩不解者，先刺風池風府，卻與桂枝湯則愈。
此非誤治，因風邪凝結於太陽之要路則藥力不能流通，故刺以解其結，蓋邪風太
甚，不僅在衛而在經，刺之以洩經氣，風府一穴，在項上入髮際一寸，大筋內宛
宛中，督脈陽維之會，刺入四分，留三呼，風池穴，在顳顬後，髮際陷者中，
穴在耳後，按之引於耳中，足少陽陽維之會，針入三分，留三呼。
太陽病，外症未解，脈浮弱者，當以汗解，宜桂枝湯。
病雖過期，脈症屬太陽仍不離桂枝法。
太陽病，外症未解者，不可下也，
此禁下總訣，
下之為逆，欲解外者，宜服。
言雖有當下之症，而外症未除，亦不可下，仍宜解外而後下也。
太陽病，先發汗不解，而復下之，脈浮者不愈，浮為在外，而反下之，故令不愈，
今脈浮，故知在外，當須解外則愈，宜服。
脈浮，而下，此為誤下，下後仍浮，則邪不因誤下而陷入，仍在太陽不得因已汗
下，而不復用桂枝也。
病嘗自汗出者，此為榮氣和，榮氣和者，外不諧以衛氣不共榮氣和諧故爾。
榮氣和者，言榮氣不病，非調和之和，故又申言之。
以營行脈中，衛行脈外，復發其汗，營衛和則愈，宜桂枝湯。
自汗與發汗迥別，自汗乃營衛相離發汗，使營衛相合自汗傷正發汗驅邪，復發者，
因其自汗而更發之，則榮衛和而自汗反止矣。
病人藏無他病，時發熱，自汗出，而不愈者，此衛氣不和也，先其時，
未熱之時，
發汗則愈，宜桂枝湯主之。
無他病，太陽諸症不必備，而惟發熱自汗，故亦用桂枝湯。
傷寒不大便，六七日，
宜下之候，
頭痛有熱者，未可與承氣湯。
太陽症仍在，不得以日久不便而下也，按未可二字，從金匱增入，傷寒論失此二
字。
其小便清者，知不在裏，仍在表也。
便赤為裏有熱，
當須發汗，若頭痛者，必衄，
汗出而頭痛未解則蘊，熱在經而血動矣。
宜桂枝湯，傷寒發汗解，半日許復煩，脈浮數者，可更發汗。
發汗未透，故煩，乃服藥不及之故，
宜桂枝湯。
傷寒醫下之，續得下痢清穀不止，裏症，身疼痛者，表症，急當救裏，
此誤下之症，邪在外而引之入陰，故便清穀，陽氣下脫可危，雖表症未除而救裏
為急，傷寒論不可下篇云，誤下寒多者，便清穀，熱多者，便膿血，
後身疼痛清便自調者，急當救表，
清穀已止，疼痛未除，仍從表治，蓋凡病皆當先表後裏，惟下痢清穀，則以扶陽
為急而表症為緩也，表裏分治，而序不亂，後人欲以一方治數症，必至兩誤。
救裏宜四逆湯，救表宜桂枝湯。
太陽病，發熱汗出者，此為榮弱衛強，故使汗出，欲救邪風者，宜桂枝湯。
提出邪風二字，見桂枝為驅風聖藥。
陽明病，脈遲汗出多，微惡寒者，表未解也，可發汗宜此方。
陽明本自多汗，但不惡寒而惡熱，今多汗而猶惡寒，則仍在太陽矣，雖陽明病，
而治從太陽。
太陰病，脈浮者可發汗，宜桂枝湯，
太陰本無汗法，因其脈獨浮，則邪仍在表，故亦用桂枝從脈，不從症也。
病人煩熱，汗出則解，又如瘧狀，
有時復熱，
日晡所，發熱者，屬陽明也。
日晡發熱則為陽明之潮熱而非瘧矣。
脈實者，宜下之，脈虛浮者宜發汗，
一症而治法迥別，全以脈為憑，此亦從脈而不從症之法。
下之與大承氣湯，發汗宜桂枝湯。
下痢腹脹滿，裏症，身疼痛者，表症，先溫其裏，乃攻其表，溫裏宜四逆湯，攻
表宜桂枝湯，
此節屬厥陰症，未必由誤治而得，然既，見表症亦宜兼治。
吐痢止而身痛不休者，當消息和解其外，宜桂枝湯小和之。
裏症除而表症猶在，仍宜用桂枝法，輕其劑，而加減之可也。
傷寒大下後復發汗，再誤，心下痞，邪入中焦，惡寒者，表未解也不可攻痞，當
先解表，表解乃可攻痞，解表宜桂枝湯，攻痞宜大黃黃連瀉心湯，
苦寒開降之法詳見後。</p>
<h4>桂枝加附子湯（二）</h4>
<p>桂枝湯原方加附子（一枚炮去皮破八片）
右六味以水七升，煮取三升，去渣，溫服一升。
太陽病，發汗遂漏不止，
此發汗太過，如水流漓，或藥不對症之故，
其人惡風，
中風本惡風，汗後當愈，今仍惡風則表邪未盡也，
小便難，
津液少，
四肢微急，難以屈伸，
四肢為諸陽之本，急難屈伸，乃津脫陽虛之象，但不至亡陽耳，若更甚而厥冷惡
寒，則有陽脫之慮，當用四逆湯矣，
桂枝加附子湯主之，
桂枝同附子服則能止汗回陽。</p>
<h4>桂枝加桂湯（三）</h4>
<p>桂枝原方加桂二兩，即另立湯名，治症迥別，古聖立方之嚴如此。
桂枝湯原方加桂（二兩）
右五味，以水七升，煮取二升，去滓，溫服一升。
燒針令其汗，針處被寒，
復感新寒，
核起而赤者，必發奔豚氣從小腹上衝心者，灸其核上各一壯，
不止一針，故云各一壯，
與桂枝加桂湯，
重加桂枝，不特禦寒且制腎氣又藥味重，則能達下，凡奔豚症，此方可增減用之。</p>
<h4>杜枝去芍藥湯（四）</h4>
<p>桂枝湯原方，去芍藥，
右四味，以水七升，煮取三升，溫服一升。</p>
<h4>桂枝去芍藥加附子湯（五）</h4>
<p>即前方加附子（一枚炮去皮破八片）
餘依前法。
太陽病，下之後脈促胸滿者，
中虛而表邪仍在，
桂枝去芍藥湯主之，
太陽之邪未盡，故用桂枝下後傷陰，不宜更用涼藥，
若微惡寒者去芍藥方中，加附子湯主之，
微惡則陽亦虛矣，故加附子。</p>
<h4>桂枝加厚朴杏仁湯（六）</h4>
<p>桂枝湯原方，加厚朴（二兩炙去皮）、杏仁（五十枚）
右七味，以水七升，微火煮取三升，溫服一升，覆取微似汗。
喘家作桂枝湯，加厚朴，杏仁佳，
別錄厚朴主消痰下氣，本經杏仁主咳逆上氣。
太陽病下之微喘者表未解故也，此湯主之，
前條乃本然之喘，此乃誤下之喘，因殊而法一。</p>
<h4>小建中湯（七）</h4>
<p>桂枝湯原方加膠飴（一升）
右六味，以水七升，煮取三升，去滓，納飴，更上微火消解，溫服一升，日三服，
嘔家不可用建中湯，以甜故也。
傷寒陽脈濇，陰脈弦，
中宮之陽氣虛則木來乘土，故陽濇而陰弦也。
法當腹中急痛，先與小建中湯，
膠飴大甘，以助中官，
不差者，與小柴胡湯主之，
治太陰不愈變而治少陽，所以疏土中之木也，以脈弦故用此法。
傷寒二三日，心中悸而煩者，小建中湯主之，
悸而煩，其為虛煩可知，故用建中湯，以補心脾之氣，蓋梔子湯治有熱之虛煩，
此治無熱之虛煩也。</p>
<h4>桂枝加芍藥生姜人參新加湯（八）</h4>
<p>桂枝湯原方，芍藥生姜各增一兩，加人參三兩，
右六味以水一斗二升，煮取三升，去滓，溫服一升，
此以多煎為妙，取其味厚入陰也。
發汗後，身疼痛，
表未盡，
脈沉遲，
氣虛已甚，
此湯主之。
邪未盡，宜表而氣虛不能勝散藥，故用人參，凡素體虛而過汗者，方可用。</p>
<h4>桂枝甘草湯（九）</h4>
<p>桂枝（四兩去皮）、甘草（二兩炙）
右二味，以水三升，煮取一升，頓服。
此以一劑為一服者。
發汗過多，其人叉手自冒心，心下悸，欲得按者，此湯主之。
發汗不誤，誤在過多，汗為心之液，多則心氣虛，二味扶陽補中，此乃陽虛之輕
者，甚而振振欲擗地，則用真武湯矣，一症而輕重不同，用方迥異，其義精矣。</p>
<h4>茯苓桂枝甘草大棗湯（十）</h4>
<p>茯苓（半斤）、桂枝（四兩去皮）、甘草（二兩炙）、大棗（十二枚擘）
右四味以甘瀾水一斗，
以水二斗，揚之萬遍取用，按甘瀾水，大約取其動極思靜之意，
先煮茯苓，
凡方中專重之樂，法必先煮，
減二升，內諸藥，煮取三升，去渣，溫服一升，日三服。
發汗後，其人臍下悸者，欲作奔豚，此湯主之。
心下悸是擾胸中之陽臍下悸，則因發汗太過，上焦乾涸腎水上救，故重用，茯苓
以制腎水桂枝以治奔豚。</p>
<h4>桂枝麻黃各半湯（十一）</h4>
<p>桂枝（一兩十六銖去皮）、芍藥、生姜、甘草（炙）、麻黃（去節各一兩）、大棗（四枚）、
杏仁（二十四枚去皮及雙仁者）
右七味，以水五升，先煮麻黃一二沸，去上沫，
欲去沫，故先煮，
內諸藥，煮取一升八合，
減去三之一，
去滓，溫服六合，一云桂枝湯三合，麻黃湯三合，頓服，將息如上法，太陽病得
之八九日，
過經，
如瘧狀發熱惡寒，熱多寒少，
邪己漸輕，
其人不嘔，非少陽，清便欲自可，
無裏熱，
一日二三度發，
非瘧象，
脈微緩者，
不浮不弦不大，
為欲愈也，
餘邪欲退之象，
脈微而惡寒者，此陰陽俱虛不可更發汗，更下更吐也，
此三句，申明上文欲愈之故，蓋由病氣雖除，而正氣亦衰，當靜以養之，使胃氣
漸充，則榮衛自和，若更用汗吐下之法，益虛其氣，則病從藥增，醫者不審，誤
人多矣。
面色反有熱色者，未欲解也，
面有熱色，則餘邪尚鬱，
以其不得小汗出，身必痒，宜服。
微邪已在皮膚中，欲自出不得，故身痒，以此湯取其小汗足矣，陽明篇云，身痒
如蟲行皮中狀者，此以久虛故也，按此方分兩甚輕，計共約六兩，合今之秤，僅
一兩三四錢，分三服，祇服四錢零，乃治邪退後至輕之劑，猶勿藥也。</p>
<h4>桂枝二麻黃一湯（十二）</h4>
<p>桂枝（一兩十七銖去皮）、芍藥（一兩六銖）、甘草（一兩二銖）、杏仁（十六枚去皮尖）、
麻黃（十六銖去節）、生姜（一兩六銖）、大棗（五枚）
右七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服
一升，日再服一本云，桂枝湯二升麻黃湯一升，合為三升分再服。
服桂枝湯，大汗出，脈洪大者，
汗雖出而邪未盡，
與桂枝湯，如前法。
此所謂邪不盡行，復如法者也。
若形如瘧，日再發者，汗出必解，桂枝二麻黃一湯，主之。
此與桂枝麻黃各半湯，意略同，但此因大汗出之後，故桂枝略重，而麻黃略輕。</p>
<h4>桂枝二越婢一湯（十三）</h4>
<p>桂枝湯加麻黃石羔二味。
桂枝（去皮）、芍藥、甘草、麻黃（去節各十八銖）、大棗（四枚）、生姜（一兩二銖）、
石羔（二十四銖碎綿裹）
右七味，以水五升，煮麻黃一二沸，去上沫，內諸藥，煮取二升，去渣，溫服一
升。
附越婢方，
麻黃六兩、甘草二兩、石膏半觔、生姜三兩、大棗十五枚
太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可更汗。
此無陽與亡陽不同，並與他處之陽虛亦別，蓋其人本非壯盛，而邪氣亦輕，故身
有寒熱而脈微弱，若發其汗，必至有叉手冒心臍下悸等症，故以此湯清疏營衛，
令得似汗而解，況熱多寒少，熱在氣分，尤與石羔為宜，古聖用藥之審如此，按
以上三方，所謂一二各半之說，照方計算，並不對準，未知何說，或云將本方各
煎，或一分，或二分相和服，此亦一法，但方中又各藥注明分兩，則何也存考。</p>
<h4>桂枝去桂加茯苓白朮湯（十四）</h4>
<p>勺藥（三兩）、甘草（二兩炙）、生姜、茯苓、白朮（各三兩）、大棗（十二枚）
右六味，以水八升，煮取三升，去滓，溫服一升，小便利則愈。此方專於利小便。
服桂枝湯，或下之，仍頭項強痛，翕翕發熱，無汗，心下滿，微痛，小便不利者，
此湯主之。
頭痛發熱，桂枝症仍在也，以其無汗，則不宜更用桂枝，心下滿則用白朮，小便
不利，則用茯苓，此症，乃亡津液而有停飲者也。凡方中有加減皆佐使之藥，若
去其君藥，則另立方名，今去桂枝，而仍以桂枝為名，所不可解，殆以此方雖去
桂枝而意仍不離乎桂枝也。</p>
<h4>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯（十五）</h4>
<p>桂枝湯原方去芍樂加蜀漆（三兩洗去腥）、牡蠣（五兩熬）、龍骨（四兩）
右七味，以水一斗二升，先煮蜀漆，減二升，內諸藥，煮取三升，去滓，溫服一
升。
傷寒脈浮，醫以火迫劫之，亡陽必驚狂，
以火劫其胸中之陽，
起臥不安者，此湯主之，
此與少陰汗出之亡陽別，蓋少陰之亡陽，乃亡陰中之陽，故用四逆輩回其陽於腎
中，今乃以火逼汗，亡其陽中之陽，故用安神之品，鎮其陽於心中，各有至理，
不可易也，去芍藥，因陽虛不復助陰也，蜀漆去心腹邪積，龍骨牡蠣治驚癇熱氣。</p>
<h4>桂枝甘草龍骨牡蠣湯（十六）</h4>
<p>桂枝（一兩去皮）、甘草（二兩炙）、牡蠣（二兩熬）、龍骨（二兩）
右四味，以水五升，煮取二升半，去渣溫服八合，日三服。
脈浮宜以汗解，
此治脈浮之總訣，
用火灸之，誤治，邪無從出，因火而盛，火反入內，病從腰以下必重而痺，名火
逆也，火氣在上，則陰氣獨治於下，故重而痺，火逆下之，又誤治，因燒針煩躁
者，更誤治下之虛其陰燒針又益其陽，則胸中益煩躁不甯矣，桂枝甘草龍骨牡蠣
湯主之，
鎮其陰氣，散其火邪，上下同治，前方驚狂，治重，在心，故用蜀漆，此無驚狂
象，故蜀漆不用，其症藥大段相同。</p>
<h4>桂枝加葛根湯（十七）</h4>
<p>此湯成無己本有麻黃，非有麻黃，則為葛根湯矣。
桂枝湯原，加葛根四兩，桂枝芍藥各減一兩，餘同，右六味，以水一斗，先煮葛
根，減二升，去上沫，內諸藥，煮取三升，去渣溫服一升，覆取微似汗，不須啜
粥。
太陽病，項背強几几，反汗出惡風者，
几几伸頸之象，邪氣漸深，故加葛根，
桂枝加葛根湯主之。</p>
<h4>桂枝加芍藥湯（十八）</h4>
<p>桂枝湯原方芍藥加一倍，右五味，以水七升，煮取三升，溫服一升，日三服。</p>
<h4>桂枝加大黃湯（十九）</h4>
<p>此二方俱治太陰症，而法不離乎桂枝，
桂枝湯原方，加大黃一兩，芍藥一倍，右六味，以水七升，煮取三升去滓，溫服
一升，日三服。
本太陽病，醫反下之，誤治，因而腹滿時痛，屬太陰也，
引邪入於太陰故所現皆太陰之症，
桂枝加芍藥湯主之，
雖見太陰症，而太陽之症尚未罷，故仍用桂枝湯，只加芍樂一倍，以斂太陰之症。
太實痛者，
此句承上文腹滿時痛言，腹滿時痛不，過傷太陰之氣，大實痛，則邪氣結於太陰
矣，
桂枝加大黃湯主之。
此因誤下而見太陰之症，大實痛，則反成太陰之實邪，仍用大黃引之，即從太陰
出，不因誤下而禁下，見症施治，無不盡然，按活人書云，桂枝湯，自西北人四
時行之，無不應驗，江淮間惟冬及春可行之，春未及夏至以前，桂枝症可加黃芩
一分，謂之陽旦湯，夏至後可加知母半兩，石羔一兩，或加升麻一分，若病人素
虛寒者，不必加減。</p>
<h3>麻黃湯類二</h3>
<h4>麻黃湯（一）</h4>
<p>麻黃（三兩去節）、桂枝（二兩去皮）、甘草（一兩炙）、杏仁（七十個去皮尖）
右四味以水九升，先煮麻黃，減二升，
此須多煮取其力專，不僅為去上沬，止煮一二沸矣，
去上沫內諸藥，煮取二升半，去滓，溫服八合，覆取微似汗，不須啜粥，
以其易發汗也，
餘如杜枝將息法。
活人書云，夏至後用麻黃湯，量加知母，石羔，黃芩，蓋麻黃性熱，恐有發黃班
出之慮。
太陽病，頭痛發熱，身疼腰痛，骨節疼痛，
此痛處，比桂枝症尤多而重，因榮衛俱傷故也，
惡風無汗而喘者，
此二症，乃肺氣不舒之故，麻黃治無汗，杏仁治喘，桂枝甘草，治太陽諸症，無
一味不緊切，所以謂之經方。
太陽與陽明合病，
陽明之病象甚多，如身熱不惡寒，口苦鼻乾之類，但見一二症即是，不必全具也，
太陽病即上文所指者，
喘而胸滿者，不可下，
病俱在上焦，
宜麻黃湯主之。
喘而胸滿，此麻黃症之太陽，合陽明也。
太陽病，十日以去，過經，脈浮細，邪已退，而嗜臥者，正漸復，外已解也，設
胸滿脅痛者，與小柴胡湯。
胸滿脅痛，病延日久，邪留少陽，故與此湯。
脈但浮者，與麻黃湯。
若果邪在少陽脈必帶弦今但浮，則尚在太陽矣，故仍用麻黃湯，此亦從脈，不從
症之法。
太陽病，脈浮緊，無汗，發熱身疼痛，
此乃太陽傷寒的症經云諸緊為寒，
八九日不解，表證仍在，
表證即上文數端，
此當發其汗，
宜麻黃湯，
服藥已微除，其人發煩目瞑，
陽鬱而不能外達，
劇者必衄，衄乃解，
熱甚動血，血由肺之清道而出，與汗從皮而洩同，故熱邪亦解，俗語所云，紅汗
也，經云陽明病口燥，但欲漱水不欲嚥者，此必衄，
所以然者，陽氣重故也，
風鬱固為熱寒鬱亦為熱，內經云，熱病者，皆傷寒之類也，
麻黃湯主之，
此言未衄之前，可用麻黃，非衄後更用麻黃也，
脈浮者，病在表，可發汗，宜麻黃湯，
此脈浮必帶緊，
脈浮而數者，可發汗，宜麻黃湯，
數為陽氣欲出。
傷寒脈浮緊，不發汗，
失治，
因致衄者，麻黃湯主之，
前段衄後而解，則不必復用麻黃，衄後尚未解，則仍用此湯。
陽明病，脈浮無汗而喘者，
陽明本脈大自汗，今乃脈浮無汗而喘，則為麻黃湯症矣，
發汗則愈，宜麻黃湯。</p>
<h4>麻黃杏仁甘草石羔湯（二）</h4>
<p>此即越婢湯加杏仁也。
麻黃（四兩去節）、杏仁（五十個去皮尖）、甘草（二兩炙）、石膏（半斤碎綿裏），
右四味，以水七升，先煮麻黃，減二升，去上沫，內諸藥，煮取二升，去滓，溫
服一升。
發汗後，不可更行杜枝湯，
既汗不可再汗，津液不可重傷，
汗出而喘，
尚有留邪在肺，故汗出而喘，
無大熱者，
邪已輕也，
可與此湯。
汗出故用石膏，喘故用麻杏。
發汗後，飲水多者，必喘，以水灌之亦喘，
此二句明致喘之所由，蓋喘未必皆由於水，而飲水則無有不喘者戒之，
下後不可更行桂枝湯，
既下不可復汗津液不得兩傷，
若汗出而喘，無大熱者，可與此湯。</p>
<h4>大青龍湯（三）</h4>
<p>此合麻黃桂枝越婢三方為一方而無芍藥。
麻黃（六兩去節）、桂枝（二兩去皮）、甘草（二兩炙）、杏仁（四十枚去皮尖）、生姜（三
兩切）、大棗（十二枚）、石膏（碎如雞子大一塊），
右七味，以水九升，先煮麻黃，減二升，去上沬，內諸藥，煮取三升，去滓，溫
服一升，取微似汗，汗出多者，溫粉撲之，
此外治之法，論中無溫粉方，明理論載白朮、藁本、川芎、白芷各等分，入米
粉和勻撲之，無藁本亦得，後人用牡蠣、麻黃、根鉛粉龍骨亦可，
一服汗者，停後服，汗多亡陽遂虛，惡風煩躁，不得眠也。
太陽中風，脈浮緊，
緊為陰脈，故汗不易出，
發熱惡寒，
非惡風，
身疼痛，不汗出，而煩躁者，
邪深熱鬱，
大青龍湯主之，若脈微弱，汗出惡風者，不可服，服之則厥逆，筋惕肉瞤，此
為逆也，
惡風乃桂枝症誤服，此則汗不止而有亡陽之象矣，立此方即垂此戒，聖人之意深
矣，按此方合麻桂而用石羔何以發汗如是之烈，蓋麻黃湯，麻黃用二兩，而此用
六兩，越婢湯，石羔用半斤，而此用雞子大一塊，一劑之藥，除大棗，約共十六
兩，以今稱計之，亦重三兩有餘，則發汗之重劑矣，雖少加石羔，終不足以相制
也，○少陰篇云，脈陰陽俱緊，反汗出者，亡陽也。
傷寒脈浮緩，身不疼，但重，乍有輕時，無少陰症者，大青龍湯主之，
脈不沉緊，身有輕時，為無少陰外症，不厥利吐逆，為無少陰裏症，此邪氣俱在
外也，故以大青龍發其汗，○按此條必有誤，脈浮緩，邪輕易散，身不疼，外邪
已退，乍有輕時，病未入陰，又別無少陰等症，此病之最輕者，何必投以青龍險
峻之劑，此必另有主方，而誤以大青龍當之者也。</p>
<h4>青龍湯（四）</h4>
<p>痰喘證宜此俟氣平就枕然後以消痰潤肺養陰開胃之方以次調之。
麻黃（去節）、芍藥、細辛、乾姜、甘草、桂枝（去皮各三兩）、五味子（半斤）、半夏
（半升湯洗）
右八味，以水一斗，先煮麻黃，減二升，去上沬內諸藥，熱取三升，去滓，溫服
一升。
若微利者，去麻黃，加蕘花如雞子大，熬令赤色，
利屬下焦陰分，不可更發其陽，蕘花，明理論作芫花，恐誤，本草蕘花芫花，花
葉相近，而蕘花不常用，當時已不可得，故改用芫花，以其皆有去水之功也，
若渴者，去半夏，加括蔞根三兩，
本草括蔞根主消渴，
若噎者，
噎古作𩜺，論云寒氣相搏，則為腸鳴，醫乃不知而反飲冷水，令汗大出，水得
寒氣，冷必相搏其人即𩜺，○按內經無噎字，疑即呃逆之輕者，
去麻黃，加附子一枚炮，
本草附子溫中，
若小便不利，少腹滿，去麻黃，加茯苓四兩，
小便不利而少腹滿，則水不在上而在下矣，故用茯苓。
若喘者，去麻黃，加杏仁半升，去皮尖，
杏仁見前○按此方耑治水氣，蓋汗為水類，肺為水源，邪汗未盡必停於肺胃之間，
病屬有形，非一味發散所能除，此方無微不到，真神劑也。
傷寒表不解，
發汗未透，
心下有水氣，
即未出之汗。
乾嘔發熱而欬，或渴，或痢，或噎，或小便不利，少腹滿或喘者，小青龍湯主之，
以上皆水停心下現症，其每症治法，皆在加減中。
傷寒心下有水氣，欬而微喘，發熱不渴，
凡水停心下者，喘而不渴，
服湯已，
即小青龍湯也，
渴者，此寒氣欲解也，
寒飲欲去，
小青龍湯主之，
此例筆法，即指服湯已三字，非謂欲解之後，更服小青龍湯也。
麻黃附子細辛湯（五）
麻黃（去節二兩）、細辛（二兩）、附子（一枚炮），
右三味，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，日
三服。
少陰病，始得之，反發熱，脈沉者，此湯主之，
少陰病三字，所該者廣，必從少陰諸現症，細細詳審，然後反發熱，知為少陰之
發熱，否則何以知其非太陽陽明之發熱耶，又必候其脈象之沉，然後益知其為少
陰無疑也，凡審症皆當如此，○附子細辛，為少陰溫經之藥，夫人知之，用麻黃
者，以其發熱，則邪猶連太陽，未盡入陰，猶可引之外達，不用桂枝而用麻黃者，
蓋桂枝表裏通用，亦能溫裏，故陰經諸藥皆用之，麻黃則耑於發表，今欲散少陰
始入之邪，非麻黃不可，況已有附子足以溫少陰之經矣。
麻黃附子甘草湯（六）
麻黃（去節二兩）、甘草（二兩炙）、附子（一枚炮），
右三味，以水七升，先煮麻黃，一兩沸，
此當少煮，
去上沬，內諸藥，煮取三升，去渣，溫服一升，日三服。
少陰病，得之二三日，麻黃附子甘草湯，微發汗，以二三日無裏症，故微發汗也，
三陰經，惟少陰與太陽為表裏而位最近，故猶有汗解之理，況二三日而無裏症，
則其邪未深入，此方較麻黃附子細辛少輕，以其無裏症也。</p>
<h3>葛根湯類三</h3>
<h4>葛根湯（一）</h4>
<p>此即桂枝湯加麻黃三兩、葛根四兩。
葛根（四兩）、麻黃（三兩去節）、芍藥（二兩）、生姜（三兩切）、甘草（二兩炙）、桂枝（三
兩去皮）、大棗（十二枚），
右七味，以水一斗先煮麻黃葛根，
二味主藥先煮，
減二升，去上沫，內諸藥，煮取三升，去渣，溫服一升，覆取微似汗，不須啜粥，
已能發汗矣，
餘如桂枝法將息，及禁忌。
太陽病，項背強几几，無汗惡風，葛根湯主之，
前桂枝加葛根湯一條，其現症亦同，但彼云反汗出，故無麻黃，此云無汗，故加
麻黃也，○陽明症汗出而惡熱，今無汗而惡風，則未全入陽明，故曰太陽病，○
按葛根，本草治身大熱，大熱乃陽明之症也，以太陽將入陽明之經，故加此藥。
太陽與陽明合病者，必自下利，葛根湯主之，
合病全在下利一症上審出，蓋風邪入胃則下利矣。</p>
<h4>葛根黃芩黃連湯（二）</h4>
<p>治發熱下利效如神
葛根（半斤）、甘草（二兩炙）、黃芩（三兩）、黃連（三兩），
右四味，以水八升，先煮葛根，減二升，內諸藥，煮取二升，去渣，分溫再服。
太陽病，桂枝症，
桂枝症，即太陽傷風之正病也，
醫反下之，
大誤，
利遂不止，
邪下陷則利無止時，
脈促者，表未解也，
促有數意，邪猶在外，尚未陷入三陰而見沉微等象，故不用理中等法，
喘而汗出者，此湯主之，
因表未解，故用葛根，因喘汗而利，故用芩連之苦，以洩之堅之，○芩連甘草，
為治痢之主藥。</p>
<h4>葛根加半夏湯（三）</h4>
<p>葛根湯原方，加半夏半升洗，煎服法同，太陽與陽明合病，不下利，
前條因下利而知太陽陽明合病，今既不下利，則合病何從而知，必須從兩經本症，
一一對勘即不下利，而亦可定為合病矣，
但嘔者，葛根加半夏湯主之，
前條太陽誤下而成利，則用芩連治利，因其本屬桂枝症而脈促，故止加葛根一味，
以解陽明初入之邪，此條乃太陽陽明合病，故用葛根湯全方，因其但嘔，加半夏
一味以止嘔，隨病立方，各有法度。</p>
<h3>柴胡湯類四</h3>
<h4>小柴胡湯（一）</h4>
<p>發熱而嘔者如神
柴胡（半斤）、黃芩、人參、甘草（炙）、生姜（各三兩）、半夏（半斤）、大棗（十二枚）、
右七味，以水一斗二升，煮取六升，去渣，再煎，
此又一法，
取三升，溫服一升，日三服，
此湯除大棗，共廿八兩，較今秤亦五兩六錢零，雖分三服，已為重劑，蓋少陽介
於兩陽之間須兼顧三經，故藥不宜輕，去渣再煎者，此方乃和解之劑，再煎則藥
性和合，能使經氣相融，不復往來出入，古聖不但用藥之妙，其煎法俱有精義。
若胸中煩而不嘔者，去半夏人參，
不嘔，不必用半夏，煩，不可用人參，
加括蔞實一枚，
括蔞實除胸痺，此小陷胸之法也。
若渴者，去半夏，
半夏，能滌痰溼，即能耗津液，
加人參，
生津液，
合前成四兩半，括蔞根四兩，
治消渴，
若腹中痛者，去黃芩，
苦寒，
加芍藥三兩，
除腹痛，
若脅下痞鞭，去大棗，
以其能補脾胃，
加牡蠣四兩，
別錄云，治脅下痞熱，
若心下悸，小便不利者，去黃芩，加茯苓四兩，
利小便，
若不渴，外有微熱者，去人參，
不渴，則津液自足，
加桂枝三兩，
微熱則邪留太陽，
溫覆取微似汗愈，若欬者，去人參大棗，
二味與嗽非宜，
生姜，
加乾姜，故去生姜，
加五味子半升，乾姜二兩，
古方治嗽，五味，乾姜必同用，一以散寒邪，一以斂正氣，從無單用五味治嗽之
法，後人不知用必有害，況傷熱勞怯火嗆，與此處寒飲犯肺之症，又大不同，乃
獨用五味，收斂風火痰涎，深入肺藏，永難救療矣，○又按小柴胡，與桂枝二方，
用處極多，能深求其義，則變化心生矣，○論中凡可通用之方，必有加減法。
傷寒五六日，
正當傳少陽之期，
中風，往來寒熱，
太陽之寒熱，寒時亦熱，熱時亦寒，往來者，寒已而熱，熱已而寒也。
胸脅苦滿，
胸脅為少陽之位，
默默，不欲飲食，
木邪干土，
心煩喜嘔，
木氣上逆，
或胸中煩而不嘔，或渴，
少陽火邪或腹中痛，
木剋土，
或脅下痞鞭，
木氣填鬱，
或心下悸，
有痰飲，
小便不利，或不渴，
有蓄飲，
身有微熱，
太陽未盡，
或欬者，
肺有留飲，
此湯主之，
少陽所現之症甚多，柴胡湯所治之症亦不一，加減法具載方末。
血弱氣盡，腠理開，邪氣因入，與正氣相搏，結於脅下，正邪分爭，往來寒熱，
休作有時，默默不欲飲食，藏府相連，其痛必下，邪高痛下，故使嘔也，
此條申明所以往來寒熱，及不欲食下痛上嘔之故，皆因正衰邪入，藏府相牽所致，
則立方之意，可推而知矣，
小柴胡湯主之。
服柴胡湯已湯者，屬陽明也，以法治之，
此必先見少陽之症，故用柴胡湯，服後而渴，則轉屬陽明矣。
傷寒四五日，身熱惡風，頸項強，
此是太陽所同，
脅下滿，
此則少陽所獨，
手足溫而渴者，
前條之渴者屬陽明，此因脅下滿，則雖似陽明，不作陽明治矣，
小柴胡湯主之。
傷寒陽脈濇，陰脈弦，法當腹中急痛，先與小建中湯，不差者，與小柴胡湯主之，
詳見桂枝類中，
傷寒中風，有柴胡症，但見一證便是，不必悉具，
少陽與太陽陽明，相為出入，一證可據，雖有他證，可兼治矣，
凡柴胡湯病證而下之，
誤治，
若柴胡證不罷者，復與柴胡湯，
凡誤治而本證未罷，仍用本證之方，他經盡同，不獨柴胡證也，
必蒸蒸而振，卻發熱汗出而解，
邪已陷下，故必振動，而後能達於外，辨脈法篇云，戰而汗出者，其人本虛，是
以發戰發熱汗出，邪仍從少陽而出。
傷寒十三日不解，
過經二候，
胸脅滿而嘔，
此少陽的症，
日晡所，發潮熱，
此似陽明，
已而微利，
又現裏症，藥亂則症亦亂，
此本柴胡症，下之而不得利，今反利者，知醫以丸藥下之，非其治也，
以湯劑利之，不應，復以丸藥利之，是謂重傷，
潮熱者實也，先宜小柴胡湯以解外，
雖潮熱本屬少陽之邪，故仍以柴胡解外，
後以柴胡加芒硝主之，
解在後加芒硝湯下。
傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食大使鞕，脈細者，
此為陽微結，
陽氣不能隨經而散，故鬱結不舒，非藥誤，即遷延所致，亦壞症之輕者，
必有表，復有裏也，
以上諸症，有表有裏，柴胡湯兼治表裏，
脈沉亦在裏也，
脈細者必沉，
汗出為陽微，
以汗為徵，
假令純陰結，不得復有外證，
陰則無汗，
此為半在裏，半在表也，
脈沉為裏，汗出為表，
脈雖沉緊，
細即有緊象，
不得為少陰病，所以然者，陰不得有汗，
此為要訣，
今頭汗出，故知非少陰也，可與小柴胡湯，設不了了者，得屎而解，
得湯而不了了者，以有裏症，故大便鞕必通其大便，而後其病可愈，其通便之
法，即加芒硝，及大柴胡等方是也。
陽明病，發潮熱，大便溏，小便自可，胸脅滿而不去者，小柴胡湯主之，
陽明潮熱乃當下之症，因大便小便自可，則裏症未具，又胸脅嘗滿，則邪留少陽
無疑，用此湯和解之。
陽明病，脅下鞕滿，
少陽症，
不大便，
可下，
而嘔，
亦少陽症，
舌上白胎者，
邪未結於陽明，故舌胎白，雖不大便，不可下，此要訣也。
可與小柴胡湯，上焦得通，津液得下，胃氣因和，身濈然汗出而解也，
此四句，申明小柴胡之功效如此，所以諸症得之皆愈也，○按少陽之外為太陽，
裏為陽明，而少陽居其間，故少陽之症，有兼太陽者，有兼陽明者，內中見少陽
一症，即可用小柴胡湯，必能兩顧得效，仲景所以獨重此方也。
陽明中風，脈弦浮大，
弦屬少陽浮大屬陽明，
而短氣，腹都滿脅下及心痛，
此少陽症，
久按之氣不通，鼻乾不得汗，嗜臥，
此症又似少陰，
一身面目悉黃，小便難，
此二症，又似太陰。
有潮熱，
此似陽明，
耳前後腫，刺之小差，外不解，病過十日，脈續浮者，與小柴胡湯，
脈浮雖有裏症，邪仍欲外出，
脈但浮，無餘症者，與麻黃湯，
但浮無餘症，則裏症全無，必從汗解，故用麻黃湯，○此二條，明陽明中風之症，
有裏邪用小柴胡，無裏邪則用麻黃，總以脈症為憑，無一定法也，
若不尿，
膀胱氣絕，
腹滿加噦者，不治，
論中陽明篇云，陽明病，不能食，攻其熱必噦，所以然者，胃中虛冷故也，虛冷
二字尤明，蓋陽微欲盡也，又云，大吐大下，汗出怫鬱，復與之水以發其汗，因
得噦，靈樞云，真邪相天，氣并相逆，故為噦，即呃逆也，素問云病深者其聲噦，
乃肺胃之氣膈絕所致，兼以腹滿，故不治。
本太陽病不解，轉入少陽者，
此為傳經之邪也，
脅下鞕滿乾嘔不能食，往來寒熱，
以上皆少陽本症，
尚未吐下脈沉緊者，
未吐下，不經誤治也，少陽已漸入裏，故不浮而沉緊，則弦之甚者，亦少陽本脈，
與小柴胡湯，嘔而發熱者，小柴胡湯主之，
但發熱而非往來寒熱，則與太陽陽明同，惟嘔則少陽所獨，故亦用此湯。
太陽病，十日以去，脈浮細而嗜臥者，外已解也，設胸滿脅痛者，與小柴胡湯，
脈但浮者，與麻黃湯，
解見麻湯。
傷寒差以後更發熱者，小柴胡湯主之，
此復症也，非勞復，非女勞復，乃正氣不充，餘邪未盡，留在半表半裏之間，故
亦用小柴胡，復病治法，明著於此，後世議論不一，皆非正治，
脈浮者，以汗解之，脈沉實者，以下解之，
復症之中，更當考此二脈，如果見浮象，則邪留太陽，當用汗法，如脈見沉實，
則裏邪未盡，當用下法，但汗下不著方名者，因汗下之法不一，醫者於麻黃桂枝，
及承氣大柴胡等方，對症之輕重，擇而用之，則無不中症矣。
婦人中風，七八日，續得寒熱，發作有時，
此即下文，所謂如瘧也，
經水適斷者，此為熱入血室，其血必結，
血因熱結，而成瘀矣，
故使如瘧狀，發作有時，小柴胡湯主之，
即以治瘧之法治之。
又云婦人中風，發熱惡寒，經水適來，
彼云斷此云來，
得之七八日，熱除而脈遲身涼，
外邪內伏，
胸脅下滿，如結胸狀，讝語者，此為熱入血室也，
血室為中焦營氣之所聚，肝藏血，心主血，營血結滯，則肝氣與心經之氣亦凝，
故脅滿而神昏讝語，
當刺期門，隨其實而瀉之，
期門在乳下第二肋端，去乳頭約四寸，肝募也，厥陰陰維之會，刺入四分，血結
則為有形之症，湯劑一時難效，刺期門以瀉厥陰有餘之熱，則尤親切而易散。
又云婦人傷寒發熱，經水適來，晝日明了，暮則讝語，如見鬼狀者，此為熱入
血室，
晝清而夜昏者，血室屬陰，病在陰經也，
無犯胃氣，及上二焦，必自愈，
此為中焦營氣之疾，汗下二法，皆非所宜，小柴胡湯，刺期門，則其治也，○按
熱入血室之狀，此二條為最詳，婦人傷寒，此症最多，前條症稍輕，後二條症尤
重，男子亦有之。</p>
<h4>大柴胡湯（二）</h4>
<p>小柴胡去人參甘草，加枳實芍藥大黃，乃少陽陽明合治之方也。
柴胡（半斤）、半夏（半升）、黃芩（三兩）、芍藥（三兩）、生姜（五兩）、枳實（四枚）、大
棗（十二枚），
右七味，以水一斗二升，煮取六升，再煎取三升，溫服一升，日三服。
此方本有大黃二兩，王叔和云，若不加大黃，恐不為大柴胡也。
太陽病，過經十餘日，反二三下之，
一誤，再誤，
後四五日，柴胡症仍在者，
如寒熱嘔逆之類，
先與小柴胡湯，嘔不止，心下急鬱鬱微煩者，
猶有裏症，
為未解也，與大柴胡湯下之，則愈，
前雖已下，非下法也，以大柴胡兩解之。
傷寒十餘日，熱結在裏，
此大黃之對症，
復往來寒熱
此柴胡之對症，
與大柴胡湯。
傷寒傷熱，汗出不解，
當用柴胡，
心中痞鞕，嘔吐下痢者，
邪內陷，故用枳實用夏大黃，
此湯主之。
傷寒後，
後者過經之後，諸症漸輕，而未全愈也。
脈沉，沉者內實也，
沉為在裏
下解之宜大柴胡湯。</p>
<h4>柴胡土枝湯（三）</h4>
<p>此小柴胡與桂枝湯，併為一方，乃太陽少陽合病之方。
柴胡（四兩）、黃芩、人參、桂枝、芍藥、生姜（各一兩半）、半夏（二合半）、甘草（一
兩炙）、大棗（六枚），
右九味，水七升，煮取三升，去渣，溫服一升。
傷寒六七日，發熱微惡寒，支節疼煩，
以上太陽症，
微嘔心下支結，
以上少陽症，
外症未去者，
太陽症為外症，
柴胡桂枝湯主之。
發汗多，亡陽譫語者，
此亡陽之輕者也，
不可下，
勿誤以為有燥屎之譫語，故以為戒，
與柴胡桂枝湯和其營衛，以通津液，後自愈，
桂枝湯，和營衛，柴胡湯，通津液，深著二湯合用之功效，而陽亡可復。</p>
<h4>柴胡加龍骨牡蠣湯（四）</h4>
<p>柴胡、龍骨、生姜、人參、茯苓、鉛丹、黃苓、牡蠣、桂枝（各一兩半）、半夏（二
合）、大棗（六枚）、大黃（二兩），
右十二味以水八升，煮取四升，內大黃，更煮一二沸，
大黃只煮一二沸，取其生而流利也，
去滓，溫服一升。
傷寒八九日，下之，
即陷入裏，
胸滿，
柴胡黃芩，
煩驚，
龍骨鉛丹牡蠣，
小便不利，
茯苓，
讝語，
大黃，
一身盡重，不能轉側者，
茯苓，
此湯主之。
此乃正氣虛耗，邪已入裏，而復外擾三陽，故現症錯雜，藥亦隨症施治，真神化
無方者也，○按此方，能下肝膽之驚痰，以之治癲癇必效。</p>
<h4>柴胡桂枝乾姜湯（五）</h4>
<p>柴胡（半斤）、桂枝（三兩）、黃芩（三兩）、乾姜、牡蠣（熬）、甘草（各二兩）、括蔞根（四
兩），
右七味，以水一斗二升，煮取六升，去渣，再煎，取三升，溫服一升，日三服，
初服微煩，復服汗出便愈。
邪氣已深，一時不能即出，如蒸蒸而振，發熱汗出而解之類。
傷寒五六日，已發汗而復下之，
一誤，再誤，
胸脅滿，
用牡蠣，
微結，小便不利，渴，
以上皆少陽症渴，故用活蔞，
而不嘔，
故去半夏生姜，
但頭汗出，
陽氣上越用牡蠣，
往來寒熱，
用柴芩，
心下煩者，
黃芩牡蠣，
此為未解也，柴胡桂枝乾姜湯主之。</p>
<h4>柴胡加芒硝湯（六）</h4>
<p>柴胡湯原方，加芒硝，分兩各不同。
柴胡（二十六銖）、黃岑、甘草（炙）、人參、生姜（各一兩）、半夏（二十銖）、大棗（四
枚）、芒硝（二兩），
右八味，以水四升，煮取二升，去渣，內芒硝，更煮微沸，分溫再服，不解更作，
不解，不大便也，○此藥劑之最輕者，以今秤計之，約二兩，分二服，作一服，
止一兩耳，○按大柴胡湯，加大黃枳實，乃合用小承氣也，此加芒硝，乃合用調
胃承氣也，皆少陽陽明同治之方。
傷寒十三日不解，胸脅滿而嘔，日晡所，發潮熱，已而微利，此本柴胡證，下之
而不得利，今反利者，知醫以丸藥下之，非其治也，潮熱者實也，先宜小柴胡湯
以解外，後以柴胡加芒硝湯主之。
本草芒硝治六府積聚，因其利而復下之，所謂通因通用之法也，潮熱而利，則邪
不停結，故較之大柴胡症，用藥稍輕。</p>
<p>傷寒論類方卷一終。</p>
<h2>卷二</h2>
<p>:梔子湯類五（七方）
:承氣湯類六（十二方）</p>
<h3>梔子湯類五</h3>
<h4>梔子豉湯（一）</h4>
<p>梔子（十四枚）、香豉（四合綿裹），
右二味，以水四升，先煮梔子，得二升半，內豉煮取升半，去滓分為二服，溫進
一服，得吐，止後服。
此劑分兩最小，凡治上焦之藥皆然。
發汗吐下後，
諸法俱用，未必皆誤，而正氣已傷矣，
虛煩不得眠，
虛為正氣虛，煩為邪氣擾，發汗吐下，實邪雖去，而其餘邪，因正氣不充，留於
上焦，故陽氣擾動而不得眠也。
若劇者，必反覆顛倒心中懊憹，
反覆顛倒，身不得甯也，心不得安也，
梔子豉湯吐之，
此非汗下之所能除者，吐之而痰涎結氣，無不出矣，○按汗吐下之後，而邪未盡，
則不在經而在肺胃之間為有形之物，故必吐而出之，反覆顛倒，心中懊懷，摩寫
病狀，何等詳切，凡醫者之於病人，必事事體貼，如若身受之，而後用藥無誤。
發汗若下之，而煩熱胸中窒者，
煩熱且窒，較前虛煩等象為稍實，
梔子豉湯主之。
傷寒五六日，大下之後，
誤治，
身熱不去，心中結痛者，未欲解也，
外內之邪，俱未解，結痛更甚於窒矣，
梔子豉湯主之。
按胸中窒，結痛，何以不用小陷胸，蓋小陷胸症，乃心下痛，胸中在心之上，故
不得用陷胸，何以不用瀉心諸法，蓋瀉心症乃心下痞，痞為無形，痛為有象，故
不得用瀉心，古人治病，非但內外不失釐毫，即上下亦不踰分寸也。
陽明病脈浮而緊，咽燥口苦，胸滿而喘，發熱汗出，不惡寒，反惡熱身重，
以上皆陽明本症，非因誤治而得者，
若發汗則躁心憒憒反讝語，
汗多陽虛，
若加燒鍼，必怵惕煩躁不得眠，
即前以火逼汗，亡陽驚狂之意，
若下之，則胃中空虛，客氣動膈，心中懊憹，
以前因用三法，未必合度，故病不解，各有現症如此，
舌上胎者，
此句乃要訣，舌上有白胎，胸中則有物，而可用吐法，否則邪尚未結，恐無物可
吐也，
梔子豉湯主之。
陽明病，下之，其外有熱，
表邪未盡，
手足溫，不結胸，
無實邪，
心中懊憹，飢不能食，
痰涎停結，
但頭汗出，
陽邪在上，欲洩不洩，
梔子豉湯主之。下利後，更煩，按之心下濡者，
濡者，溼滯之象，非窒非痛也，
為虛煩也，宜梔子豉湯。</p>
<h4>梔子甘草豉湯（二）</h4>
<p>梔子湯原方，加甘草二兩炙，
右三味，以水四升，先煮梔子甘草，取二升半，內豉煮取升半，分二服，溫進一
服，得吐便止。</p>
<h4>梔子生姜豉湯（三）</h4>
<p>梔子湯原方，加生姜五兩，先煮梔子生姜，餘俱如前法，得吐，止後服。
凡用梔子湯，病人舊微溏者，不可與服之，
此服梔子湯之戒，○按梔子清越上焦之火，與腸胃亦無大害，微溏者即不可服，
未知何義，想因大腸之氣滑脫者，肺氣不宜更洩也。
若少氣者，梔子甘草豉湯主之，
甘草能補中氣，
若嘔者，梔子生姜豉湯主之，
此二條言凡當用梔子湯之病，見此二症，則加此二味也，○按無物為嘔，有物為
吐，欲止其嘔反令其吐，吐之而嘔反止，真匪夷所思也。</p>
<h4>梔子乾姜湯（四）</h4>
<p>梔子（十四枚）、乾姜（二兩），
右二味，以水三升半，煮取一升半，去滓，分二服，溫進一服，得吐，止後服。
傷寒醫以丸藥大下之，
下未必誤，以丸藥大下則誤矣，
身熱不去，
外有微邪，
微煩，
下後而煩即虛煩也，
此湯主之。
下後故用乾姜。</p>
<h4>梔子厚朴枳實湯（五）</h4>
<p>梔子（十四枚）、厚朴（四兩姜炙）、枳實（四枚水浸去穰炒），
煮服法同前。
傷寒下後心煩，
即微煩，
腹滿，臥起不安者，
煩而加之腹滿，刖臥起俱不甯矣，厚朴枳實，以治腹滿也，
梔子厚朴湯主之。</p>
<h4>梔子檗皮湯（六）</h4>
<p>梔子（十五枚）、甘草（一兩）、黃檗（二兩），
右三味，以水四升，煮取升半，去滓，分溫再服。
傷寒身黃發熱者，梔子檗皮湯主之。
本草檗皮散藏府結熱黃疸。</p>
<h4>枳實梔子豉湯（七）</h4>
<p>枳實（三枚）、梔子（十四枚）、豉（一升），
右三味，以清漿水七升，空煮，
又一煮法，漿水即淘米之泔水，久貯味酸為佳，
取四升，內枳實梔子，煮取二升，下豉更煮五六沸，去渣，分溫再服，覆令微似
汗。
此不取吐而取汗。
大病差後勞復者，
勞復乃病後之餘症，不在吐法，故取微汗，
枳實梔子湯主之，
勞復因病後氣虛，邪氣又結於上焦，其症不一，故不著其病形，惟散其上焦之邪
足矣，後人以峻補之劑治勞復，則病變百出矣，
若有宿食者，加大黃如博棋子大，五六枚，
此指勞復之有宿食者，治食復之法，亦在其中矣，○可吐篇云宿食在上脘，當吐
之，○按梔子湯加減七方，既不注定何經，亦不專治何誤，總由汗吐下之後，正
氣已虛，尚有痰涎滯氣，凝結上焦，非汗下之所能除，經所云上者因而越之，則
不動經氣而正不重傷，此為最便，乃不易之法也，古方梔子皆生用，故入口即吐，
後人作湯以梔子炒黑，不復作吐，全失用梔子之意，然服之於虛煩症，亦有驗，
想其清肺除煩之性故在也，終從古法生用為炒。</p>
<h3>承氣湯類六</h3>
<h4>大承氣湯（一）</h4>
<p>劉河間於此方加甘草二錢名三一承氣湯。
大黃（四兩酒洗）、厚朴（半斤炙去皮）、枳實（五枚炙）、芒硝（三合），
右四味，以水一斗，先煮厚朴枳實取五升，去滓，內大黃，煮取二升，去滓，內
硝，更上微火，一兩沸，分溫再服，得下餘勿服。
傷寒若吐若下後，不解，
壞症，
不大便五六日，上至十餘日，日晡時發潮，不惡寒，獨語，如見鬼狀，若劇者，
發則不識人，循衣摸床，惕而不安，微喘直視，
以上皆陽明危症，因吐下之後，竭其中氣，津液已耗，孤陽獨存，胃中乾燥，或
有燥屎，故現此等惡症，
脈弦者生，濇者死，
弦則陰氣尚存，且能剋制胃實，濇則氣血已枯矣，然弦者尚有可生之理，未必盡
生，濇則斷無不死者也，
微者但發熱，
潮熱，
讝語者，
惡症皆無，
大承氣湯主之，若一服利，止後服，
中病即止。
陽明病讝語有潮熱，反不能食者，
客熱不能消穀，
胃中必有燥屎五六枚，若能食者，但鞕爾，
能食非真欲食，不過粥飲猶可入口耳，不能食，則穀氣全不可近，腸胃實極故也，
宜大承氣湯下之。
鞕即可下，○按燥屎當在腸中，今云胃中何也，蓋邪氣結成糟粕，未下，則在
胃中，欲下則在腸中，已結者即謂之燥屎，言胃則腸已該矣。
汗出讝語者，以有燥屎在胃中，此為風也，
陽明本自汗出，然亦有不汗出者，此指明汗出之為風，則知汗出乃表邪尚存，不
汗出者為火邪內結也，
須下之，過經乃可下之，
此下之時，
下之若早，語言必亂，
輕於讝語，
以表虛裏實故也，
下早則引表邪入裏，故表虛而裏實，
下之則愈，宜大承氣湯，
雖已誤下，然見讝語等症，則更下之，亦不因誤下而遂不復下也。
二陽併病，
同起者為合病，一經未罷，一經又病者，為併病，
太陽症罷，但發潮熱，手足漐漐汗出，大便難而讝語者，
以上皆陽明現症，
下之則愈，宜大承氣湯。
陽明病，下之，心中懊憹而煩，
此乃下之未盡，故有此實煩，
胃中有燥屎者，可攻，
胃中燥屎，必別有現症，
腹微滿，初頭鞕，後必溏，不可下之也，
僅微滿則無燥屎，故不可攻，
若有燥屎者，宜大承氣湯。
病人煩熱，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也，脈實者宜下之，脈
虛浮者宜發汗，下之與大承氣湯，發汗宜桂枝湯。
詳解前桂枝湯下。
大下後，六七日不大便，煩不解，腹滿痛者，此有燥屎也，所以
然者
本有宿食故也，
惟有宿，食故雖大下，而燥屎終未盡，
宜大承氣湯。病人不大便五六日，繞臍痛，
正在燥屎之位，
煩躁，發作有時者，此有躁屎，故令不大便也。病人小便不利，大便乍難乍易，
時有微熱，喘冒不臥者，有燥屎也，
喘冒不臥，燥屎現症，宜大便有難無易，所以乍易者，以乍易者，以小便不利之
故，燥屎不以易便而去也，
宜大承氣湯。
以上三條，皆證陽明有燥屎之法。
得病二三日，脈弱無太陽柴胡症，煩躁心下鞕，
邪熱入裏，
至四五日，
又隔二日，
雖能食，以小承氣湯，少少與微和之，
不必用全方，祇通其胃氣而已，用藥之一法，
令小安，至六日，
又隔一日而病未除，
與大承氣湯一升，
亦不必用全方，古人用藥，雖現症鑿鑿，而輕方小試，敬慎小心如此，
若不大便六七日，小便少者，雖不能食，但初頭鞕，後必溏，未定成鞕，
小便不利，則水穀未盡分，大便猶溼也，
攻之必溏，須小便利，屎定鞕，乃可攻之，
以小便之利否，定宜下不宜下，又一法，
宜大承氣湯。傷寒六七日，目中不了了，睛不和，
皆陽盛之象，
無表裏症，
邪已結在裏，
大便難，身微熱者，此為實也，
邪結為實，
急下之，宜大承氣湯，陽明症，
此三字，包陽明諸症，
發熱汗多者，急下之，
此重在汗多，恐內熱，甚而逼陽於外以致亡陽也，
宜大承氣湯。發汗不解，腹滿痛者，
不解二字，必兼有陽明症，加以腹滿且痛，則實邪有徵矣，
急下之，宜大承氣湯。腹滿不減，減不足言，
雖略減而仍腹滿也，
當下之，宜大承氣湯，
以上諸條，舉當下之一二症，即用下法，然亦必須參觀他症，而後定為妥。
陽明少陽合病，必下痢，其脈不負者，順也，負者失也，
少陽屬木，脈當弦緊，陽明屬土，脈當洪緩，若少陽脈勝為負，陽明脈勝為不負
也，厥陰篇云，少陰負趺陽者，為順也，少陰屬水，趺陽屬土，土能勝水，則胃
氣尚強，故為順，即此意，但彼處乃手足厥冷之利，故屬少陰，此則屬少陽為異
耳。
互相剋賊，名為負也，脈滑而數者，有宿食也，
滑數則陽明之脈，獨見而過盛，此為實邪，故知有宿食，
當下之，宜此湯，寸口脈浮而大，按之反澀，尺中亦微而澀，
有食而反微澀，此氣結不通之故，
故知有宿食，當下之，宜大承氣湯。少陰病，得之二三日，
陽邪初轉入陰，
口燥舌乾者，急下之，
陽邪傳陰，腎水欲涸，故當急去其邪，以保津液，
宜大承氣湯，少陰病自利清水，色純青，
純青則非寒邪，乃肝邪入腎也，難經云從前來者，為實邪，
心下必痛，口乾燥者，
二症尤見非寒邪，
急下之，宜大承氣湯。
二條俱重口乾，知為熱邪無疑。
少陰病六七日，腹脹不大便者，急下之，
不便而脹，為日又久，是以當下，
宜大承氣湯。下利三部脈皆平，
無外邪症，
按之心下鞕者，
實邪有形，
急下之，宜大承氣湯。下利，脈遲而滑者，內實也，利未欲止，當下之，宜大承
氣湯，下利，不欲食者，以有宿食故也，
傷食惡食凡禁口利亦必因宿食之故，
當須下之，宜大承氣湯。下利，差後，至其年月日復發者，以病不盡故也，當下
之，宜大承氣湯。下利，脈反滑，當有所去。
脈滑則實邪不留，
下之乃愈，宜大承氣湯，病腹中滿痛者，此為實也，當下之，宜大乘氣湯。脈雙
弦而遲者，必心下鞕，
木邪乘土，
脈大而緊者，陽中有陰也，
大為陽，緊為陰，
可以下之，宜大承氣湯，
按以上七條，見傷寒論可下條內，似指雜症可下法，不入六經治法中。</p>
<h4>小承氣湯（二）</h4>
<p>大承氣去芒硝厚朴枳實亦減。
大黃（四兩）、枳實（三枚）、厚朴（二兩），
右三味，以水四升，煮取一升二合，去渣，分溫二服，初服湯，當更衣，不爾者
盡飲之，若更衣勿服。陽明病，脈遲，雖汗出，不惡寒者，
凡汗出者皆惡寒，
其身必重，短氣腹滿而喘，有潮熱者，
以上皆內實之症，
此外欲解，
不惡寒，
可攻裏也，手足濈然汗出者，此大便已鞕也，
四支為諸陽之本，濈然汗出，陽氣已盛於中土矣，以此驗大便之鞕，又一法，
大承氣湯主之，若汗多，微發熱，惡寒者，外未解也，其熱未潮，未可與承氣湯，
若腹大滿不通者，可與小承氣湯，微和胃氣，勿令大泄下，
腹滿不通，雖外未解，亦可用小承氣，此方乃和胃之品，非大下之峻劑故也。
陽明病，潮熱，大便微鞕者，可與大承氣湯，不鞕者不可與之，
潮熱而便不鞕，亦禁下，
若不大便，六七日，恐有燥屎，欲知之法，少與小承氣湯，入腹中，轉失氣者，
此有燥屎也，
此以藥探之，又一法，
乃可攻之，若不轉失氣者，此但初頭鞕，後必溏，不可攻之，攻之必脹滿，不
能食也，
邪氣因正虛而陷入，
欲飲水者，與水則噦，
寒熱相爭則噦，
其後發熱者，必大便復鞕而少也，
重傷津液，
以小承氣湯和之，
仍用小承氣，以大便鞕故也，
不轉失氣者，慎不可攻也。
又再申前戒，聖人之慎下如此。
陽明病，其人多汗，以津液外出，胃中燥，大便必鞕，鞕則讝語，
讝語由便鞕，便鞕由胃燥，胃燥由汗出，津液少，層層相因，病情顯著，
小承氣湯主之，若一服讝語止，更莫復服。陽明病，讝語，發潮熱，脈滑而
疾者，小承氣主之，
因滑疾則易下，故止用小承氣，
因與小承氣湯一升，腹中轉失氣者更服一升，若不轉失氣，勿更與之，明日不大
便，脈反微濇者，裏虛也，為難治，
攻之不應，是為難治，
不可更與承氣也。太陽病，若吐若下若發汗後，
過治，
微煩，小便數，大便因鞕者，
因字當著眼，大便之鞕由小便數之，所致蓋吐下汗已傷津液，而又小便太多，
故爾微鞕，非實邪也，
小承氣湯，和之愈。下利讝語者，有燥屎也，
利而仍讝語，邪火不因利而息，則必有燥屎，蓋燥屎，不因下利而去也，後醫
見利則不復下豈知燥屎之不能自出乎。</p>
<h4>調胃承氣湯（三）</h4>
<p>大黃（四兩去皮清酒洗）、甘草（二兩炙）、芒硝（半升），
右三味，以水三升，先煮大黃甘草，取一升，去滓，內芒硝，更上火微煮，令沸，
少少溫服之。
按芒硝善解結熱之邪，大承氣用之，解已結之熱邪，此方用之，以解將結之熱邪，
其能調胃則全賴甘草也。
傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，反與桂枝湯攻其表，此誤
也，得之便厥，咽中乾，煩躁吐逆者，作甘草乾姜湯與之，以復其陽，若厥愈足
溫者，更作芍藥甘草湯與之，其腳即伸，若胃氣不和，讝語者，少與調胃承氣
湯。
陰陽錯雜之症，多方以救之，必有餘邪在胃，故少與以和之，餘詳雜方條。
發汗後惡寒者，虛故也，不惡寒但熱者，實也，當和胃氣，與調胃承氣湯。
此必發汗後無他症，但現微寒微熱，故止作虛寒觀，否則安知非更有餘邪，將復
變他症耶。
太陽病未解，脈陰陽俱停，
脈法無停字，疑似沈滯不起，即下微字之義，寸為陽，尺為陰。
先振憟，汗出乃解，
陰陽爭而復和，
但陽脈微者，先汗出而解，
當發其陽，
但陰脈微者，下之而解，
當和其陰
若欲下之，宜調胃承氣湯，
按此微字，即上停字之意，與微弱不同，微弱則不當復汗下也，
傷寒十三日不解，
二候
過經讝語者，以有熱也，當以湯下之，
如大小承氣之類，
若小便利者，大便當鞕，而反下利，脈調和，
此言下後之症，
知醫以丸藥下之，非其治也，
下非誤，下之法誤，
若自下利者，脈當微厥，今反和者，知為內實也，調胃承氣湯主之。
當下而下非其法，餘邪未盡，仍宜更下。
太陽病，過經十餘日，心下溫溫欲吐，而胸中痛，大便反溏，腹微滿，鬱鬱微煩，
以上皆類少陽症，
先其時自極吐下者，
邛氣乘虛陷入，
與調胃承氣湯
以滌胃邪，
若不爾者，不可與，
未經吐下，則邪在半表半裏，不得用下法，
但欲嘔，胸中痛，微溏者，此非柴胡症，以嘔故知極吐下也。
此段疑有誤字。
陽明病，不吐不下心煩者，未經吐下，而心煩，中氣實也，可與調胃承氣湯。太
陽病，三日發汗不解，蒸蒸發熱者屬胃也，
外邪已解，內熱未清，
此湯主之。傷寒吐後，腹脹滿者，
已吐而胃中仍滿，則非上越所能愈，復當下行矣，
與調胃承氣湯。</p>
<h4>桃核承氣湯（四）</h4>
<p>桃仁（五十個去皮尖）、大黃（四兩）、甘草（二兩）、桂枝（二兩）、芒硝（二兩），
右五味，以水七升，煮取二升半，去滓，內芒硝，更上火微沸，下火，先令溫服
五合，日三服，當微利。
微利則僅通大便，不必定下血也。
太陽病，不解，熱結膀胱，
太陽之邪，由經入腑，
其人如狂，血自下，下者愈，
膀胱多氣多血，熱甚則血凝，而上千心包，故神昏而如狂，血得熱而行，故能自
下，則邪從血出，與陽明之下燥屎同，
其外不解者，尚未可攻，
外不解而攻之，則邪反陷入矣，
當先解外，宜桂枝湯，外解已，但小腹急結者，乃可攻之，宜桃核承氣湯，
小腹急結，是蓄血現症，○按宜桂枝湯四字，從金匱增入。</p>
<h4>抵當湯（五）</h4>
<p>水蛭（熬）、虻蟲（去翅足熬各三十六個）、大黃（三兩酒浸）、桃仁（去皮尖二十個），
右四味，以水五升，煮取三升，去渣，溫服一升，不下再服。
太陽病，六七日，
過經，
表症仍在，脈微而沈，
向裏，
反不結胸，
向下，
其人發狂者，以熱在下焦，少腹當鞕滿，
外症，
小便自利者，
內症，
下血乃愈，所以然者，以太陽隨經，瘀血在裏故也，抵當湯主之。
此亦熱結膀胱之症，前桃核承氣，乃治瘀血將結之時，抵當乃治瘀血已結之後也。
太陽病，身黃，脈沈結，少腹鞕，小便不利者，為無血也，
以上皆似血症諦，因小便不利，安知非溼熱不行之故，不可斷為有血也，
小便自利，其人如狂者，血症諦也，
並無溼熱而如狂，非蓄血而何，如此審證，無遁形矣，
抵當湯主之。陽明症，其人喜忘者，必有蓄血，
心主血，血凝則心氣結，而失其官矣，蓄不甚故不狂，
所以然者，本有久瘀血，故令喜忘，
此乃舊病，非傷寒時所得者，
屎雖鞕，大便反易，
血性滑利，
其色必黑，
浮血亦有隨便而下者，
宜抵當湯下之。病人無表裏症，發熱七八日，
過經，
雖脈浮數者，可下之，
脈雖浮數，而無表裏症，則其發熱竟屬裏實矣，七八日，故可下，
假令已下，脈數不解，合熱則消穀善飢，
脈數不解，邪本不在大便也，消穀善飢，蓄血本不在水穀之路，故能食，
至六七日，
蓄血更久，
不大便者，有瘀血也，宜抵當湯，其脈數不解而下不止，必協熱而便膿血也，
此指服湯後之變症，熱邪不因下而去，又動其血，則血與便合為一，而為便膿血
之症，又當別有治法，○按瘀血，又有但欲漱水，不欲嚥之症，蓋唇口乾燥，而
腹中不能容水也。</p>
<h4>抵當丸（六）</h4>
<p>水蛭（熬）、虻蟲（去翅足熬各二十個）、大黃（三兩酒洗）、桃仁（三十五個去皮尖），
右四味，擣分四丸，以水一升，煮一丸，取七合服，晬時當下血，不下更服。
晬，一周時也。
傷寒有熱，少腹滿，應小便不利，今反利者，為有血也，當下之，不可餘藥，宜
抵當丸。
熱而小腹滿，又小便利，必兼三者，乃為血證諦，不可餘藥，謂此症須緩下其血，
用丸使之徐下。</p>
<h4>十棗湯（七）</h4>
<p>芫花（熬）、甘遂、大戟（等分）、大棗（十枚），
右三味，各別擣為散，以水一升半，先煮大棗肥者，取八合，去滓，內藥末，強
人服一錢七，羸人服半錢，得快下利後糜粥自養，平旦溫服，若下少，病不除者，
明日更服，太陽中風，下利，嘔逆，表解者，乃可攻之，其人漐漐汗出，發作
有時，頭痛心下痞鞕滿，引脅下痛，
水停也，
乾嘔短氣，汗出不惡寒者，此表解，裏未和也，
不惡寒為表解，以上諸症，皆裏不和，凡蓄水之症皆如此，不特傷寒為然也，
十棗湯主之。
服此湯以下蓄飲。</p>
<h4>大陷胸湯（八）</h4>
<p>大黃（六兩去皮）、芒硝（一升）、甘遂（一錢七分），
右三味，以水六升，先煮大黃，取二升去滓內芒硝，煮一兩沸，內甘遂末，溫服
一升，得快利，止後服。
太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭痛發熱，
微盜汗出，而反惡寒者，表未解也，醫反下之，
經云病發於陽，反下之，熱入因作結胸是也，
動數變遲，
正氣益虛，
膈內拒痛，胃中空虛，客氣動膈，短氣煩躁，心中懊憹，陽氣內陷，心下因鞕，
則為結胸，
此段明所以致結胸之由，及結胸之狀最詳，乃因邪在上焦，誤下以虛其上焦之氣，
而邪隨陷入也，此症與承氣法迥殊，
若不結胸，但頭汗出，餘處無汗，劑頸而還，小便不利，身必發黃也，
此乃誤下，而邪氣不陷入上焦，反鬱於皮膚肌肉之間，故現此等症，
傷寒六七日結胸熱實，脈沈而緊，心下痛，按之石鞕者，
此段申結胸之象尤明，
大陷胸湯主之。傷寒十餘日，
過經，
熱結在裏，復往來寒熱者，與大柴胡湯，但結胸無大熱者，與大柴胡湯，但結胸
無大熱者，此為水結在胸脅也，
結胸本無他物，氣與水所停也，
但頭汗出者，
熱結在上，
大陷胸湯主之，太陽病，重發汗，而復下之，不大便五六日，舌上燥而渴，
胸有蓄飲，
日晡所，小有潮熱，從心下至少腹，鞕滿而痛，不可近者，
已汗下而大痛如此，知非有物之實邪矣，前云膈內拒痛，又云心下石鞕，專指
上焦說，此云從心下至小腹鞕滿痛，則上下皆痛，其根總由心下而起，與承氣
症自殊，
大陷胸湯主之。傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，
誤治，
柴胡證仍在者，復與柴胡湯，此雖已下之，不為逆，必蒸蒸而振，卻發熱汗出而
解，
邪向裏而更虛，故汗出為難，
若心下滿而鞕痛者，此湯主之。</p>
<h4>大陷胸丸（九）</h4>
<p>大黃（半斤）、葶藶子（熬）、芒硝、杏仁（各半升去皮尖熬黑），
右四味，擣篩二味，內杏仁芒硝合研如脂，和散，取如彈丸一枚，別擣甘遂末一
錢七，白蜜二合，水二升，煮取一升，溫頓服之，一宿乃下，如不下，更服，取
下為效，病發於陽，而反下之，熱入因作結胸，病發於陰，而反下之，熱入因作
痞，
此明所以致結胸與痞之故，發熱惡寒之症，則熱入於陽位而作結胸，無熱惡寒之
症，則熱入於陰位而作痞，故治結胸用寒劑，治痞用溫劑也。
所以成結胸者，以下之太早故也，
二病未嘗不可下，但各有其時，不可過早耳，
結胸者，項亦強，如柔痣狀，
此陷胸之外症，
下之則和，宜大陷胸丸。</p>
<h4>小陷胸湯（十）</h4>
<p>黃連（一兩）、半夏（半升湯洗）、括蔞實（大者一枚），
右三味，以水六升，先煮括蔞，取三升，去渣，內諸藥，煮二升，去渣，分溫三
服，一服未和，再服微解，下黃涎，便安也。
按大承氣所下者，燥屎大陷胸所下者，蓄水此所下者，為黃涎涎者，輕於蓄水，
而未成水者也，審病之精，用藥之切如此。
小結胸病正在心下，按之則痛，
上不至心，下不及少腹，必按之方痛，非不可近手，與大陷胸症迥別，
脈浮滑者，
不若大陷胸症之沈緊，其邪未入深也，
小陷胸湯主之。</p>
<h4>白散（十一）</h4>
<p>桔梗、貝母（各三分古法二錢五分為一分）、巴豆（一分去皮心熬黑研如脂），
右三味，為散，內巴豆更於臼中杵之，以白飲和服，強人服半錢七，
今秤約重三分，
羸者減之，病在膈上必吐，在膈下必利，不利，進熱粥一盃，利過不止，進冷粥
一盃，
巴豆得熱則行，得冷則止，
身熱皮粟不解，
畏冷起寒粟，
欲引衣血覆者，若以水潠之，洗之，益令熱，卻不得出，當汗而不汗則煩，假令
汗出已，腹中痛，與芍藥三兩如上法，寒實結胸，
結胸皆係熱陷之症，此云寒實乃水氣寒冷所結之痰飲也，
無熱症者，與三物小陷胸湯，白散亦可用。
按活人書云，與三物白散，無小陷胸湯亦可用七字，蓋小陷胸寒劑，非無熱之所
宜也。</p>
<h4>麻仁丸（十二）</h4>
<p>即小承氣加芍藥二仁也
麻子仁（二升）、芍藥、枳實（各半升）、大黃、厚樸（各一斤）、杏仁（各一升去皮尖熬
別研作脂），
右六味，為末，煉蜜和丸如梧子大，飲服十丸，漸加以知為度。趺陽脈浮而濇，
浮則胃氣強，
陽盛，
濇則小便數，
陰不足，
浮濇相搏，大便則難，其脾為約，
此即論中所云，太陽陽明者，脈約是也，
麻仁丸主之，
太陽正傳陽明，不復再傳，故可以緩法治之。</p>
<p>卷二終。</p>
<h2>卷三</h2>
<p>:瀉心湯類七（十一方）
:白虎湯類八（三方）
:五苓散類九（四方）
:四逆湯類十（十一方）
::若大汗內寒外熱，四肢厥冷，脈微欲絕，宜通脈四逆湯。若大吐大下厥逆煩燥手足拘攣者，通脈四逆加豬膽人尿以急救之。
:理中湯類十一（方九）</p>
<h3>瀉心湯類七</h3>
<h4>生姜瀉心湯（一）</h4>
<p>生姜（四兩）、甘草（炙）、人參、黃芩（各三兩）、半夏（半升）、黃連、乾姜（各一兩）、
大棗（十二枚），
右八味，以水一斗，煮取六升，去渣，煎取三升，溫服一升，日三服。傷寒汗出，
解之後，胃中不和，心下痞鞕，乾噫食臭，脅下有水氣，腹中雷鳴下利者，生
姜瀉心湯主之。
汗後而邪未盡，必有留飲在心下，其症甚雜，而方中諸藥，一一對症，內中又有
一藥治兩症者，亦有兩藥合治一症者，錯綜變化，攻補兼施，寒熱互用，皆本內
經立方諸法，其藥性又有與神農本草所載，無處不合，學者能於此等方講求其理，
而推廣之，則操縱在我矣，○凡燙心諸法皆已，汗已下已吐之餘疾。</p>
<h4>甘草瀉心湯（二）</h4>
<p>即生姜瀉心湯，去人參生姜，加甘草一兩。
甘草（四兩炙）、黃芩、乾姜（各三兩）、半夏（半升）、黃連（一兩）、大棗（十二枚），
右六味，以水一斗，煮取六升，去渣，再煎，取三升，溫服一升，日三服。傷寒
中風，醫反下之，其人下利日數十行，穀不化，腹中雷鳴，心下痞鞕而滿，乾
嘔心煩不得安，醫見心下痞，謂病不盡，復下之，其痞益甚，此非熱結，但以胃
中虛，
兩次誤下，故用甘草以補胃，而痞自除，俗醫以甘草滿中，為痞嘔禁用之藥，蓋
不知虛實之義者也，
客氣上逆，故使鞕也。甘草瀉心湯主之。</p>
<h4>半夏瀉心湯（三）</h4>
<p>翻胃以此加減治之
半夏（半升）、黃芩、乾姜、甘草（炙）、人參（各三兩）、黃連（一兩）、大棗（十二枚），
右七味，以水一斗，煮取六升，去渣，再煎，取三升，溫服一升，日三服。傷寒
五六日，嘔而發熱者，柴胡湯症具，而以他藥下之，柴胡證仍在者，復與柴胡湯，
此雖已下之，不為逆，必蒸蒸而振，卻發熱汗出而解，
本症仍在，則即用本方治之，
若心滿而不痛者，此為痞，
又指不痛二字，痞症尤的，
柴胡不中與之，宜半夏瀉心湯，
以上三瀉心之藥，大半皆本於柴胡湯，故其所治之症，多與柴胡症相同，
??????缺9個字p32末</p>
<h4>大黃黃連瀉心湯（四）</h4>
<p>大黃（二兩）、黃連（一兩），
右二味，以麻沸湯二升漬之，須臾絞去渣，分溫再服。
此又法之最奇者，不取煎而取泡，欲其輕揚清淡，以滌上焦之邪。
脈浮而緊，而復下之，緊反入裏，則作痞，
緊脈為陰，此所謂病發於陰，下之作痞是也，
按之自濡，但氣痞耳，
并無脅下之水，
心下痞按之濡，其關上浮者，
邪氣甚高，
大黃黃連瀉心湯主之。傷寒大下後，復發汗，
再誤，
心下痞，惡寒者，表未解也，不可攻痞，當先解表，表解乃可攻痞，解表宜桂枝
湯，攻痞宜此湯，
詳見前桂枝類中。</p>
<h4>附子瀉心湯（五）</h4>
<p>大黃（二兩酒浸）、黃連（炒）、黃芩（炒各一兩）、附子（一枚去皮別煮取汁），
右四味，切三味，以麻沸湯二升漬之，須臾絞去渣，內附子汁，分溫再服。
此法更精，附子用煎，三味用泡，扶陽欲其熟而性重，開痞欲其生而性輕也。
心下痞而復惡寒汗出者，附子瀉心湯主之。
此條不過二語，而妙理無窮，前條發汗之後惡寒，則用桂枝，此條汗出惡寒，則
用附子，蓋發汗之後，汗已止而猶惡寒，乃表邪未盡，故先用桂枝，以去表邪，
此惡寒而仍汗出，則亡陽在即，故加入附子以回陽氣，又彼先後分二方，此併一
方者，何也，蓋彼有表復有裏，此則祇有裏病，故有分有合也。</p>
<h4>黃連湯（六）</h4>
<p>即半夏瀉心湯，去黃芩加桂枝。
黃連、甘草（炙）、乾姜、桂枝（去皮各三兩）、人參（二兩）、半夏（半升）、大棗（十二
枚），
右七味，以水一斗，煮取六升，去渣，溫服一升，日三夜二服。傷寒胸中有熱，
胃中有邪氣，腹中痛欲嘔吐者，黃連湯主之。
諸瀉心之去，皆治心胃之間，寒熱不調，全屬裏症，此方以黃芩易桂枝，去瀉心
之名，而曰黃連湯，乃表邪尚有一分未盡，胃中邪氣，尚當外達，故加桂枝一味，
以和表裏則意無不到矣。</p>
<h4>黃芩湯（七）</h4>
<p>黃芩（三兩）、甘草（炙）、芍藥（各二兩）、大棗（十二枚），
右四味，以水一斗，煮取三升，去渣，溫服一升，日再夜一服。</p>
<h4>黃芩加半夏生姜湯（八）</h4>
<p>黃芩（三兩）、甘草（炙）、芍藥（各二兩）、半夏（半升）、生姜（三兩）、大棗（十二枚），
右六味，以水一斗，煮取三升，去渣，溫服一升，日再夜一服。太陽與少陽合病，
自下利者，與黃芩湯，若嘔者，黃芩加半夏生姜湯主之。
下利即專於治利，不雜以風寒表藥，此亦急當救裏之義，若嘔亦即兼以止嘔之藥，
總之見症施治，服藥後而本症愈，復見他症，則仍見症施治，可推而知也。</p>
<h4>乾姜黃連黃芩人參湯（九）</h4>
<p>乾姜、黃連、黃芩、人參（各三兩），
右四味，以水六升，煮取二升，去渣，分溫再服。
傷寒本自寒下，
本症，
醫復吐下之，
誤治，
寒格更逆吐下，若食入口即吐，乾姜黃連黃芩人參湯主之。
此屬厥陰條，寒格自用乾姜，吐下自用芩連，因誤治而虛其正氣，則用人參，分
途而治，無所不包，又各不相礙，古方之所以入化也。</p>
<h4>旋復代赭湯（十）</h4>
<p>旋復花（三兩）、人參（二兩）、生姜（五兩）、甘草（三兩炙）、半夏（半升）、代赭石（一
兩）、大棗（十二枚），
右七味，以水一斗，煮取六升，去渣，再煎，取三升，溫服一升，日三服，傷寒
發汗，若吐若下，解後，
病久治多，未必皆屬誤治，
心下痞鞕，噫氣不除，
靈樞口問篇云，寒氣客於胃，厥逆從下上散，復出於胃，故為噫，俗名噯氣，皆
陰陽不和於中之故，
旋復代赭湯主之。
此乃病已向愈中有留邪，在於心胃之間，與前諸瀉心法，大約相近，本草云，旋
復治結氣脅下滿，代赭治腹中邪毒氣，加此二物，以治噫，餘則散痞補虛之法也。</p>
<h4>厚朴生姜甘草半夏人參湯（十一）</h4>
<p>厚朴（半觔炙去皮）、生姜、半夏（各半觔）、甘草（二兩）、人參（一兩），
右五味，以水一斗，煮取三升，去滓，溫服一升，日三服。發汗後，腹脹滿者，
此湯主之。
發汗後，則邪氣已去，而猶腹脹滿，乃虛邪入腹，故以厚朴除脹滿，餘則補虛助
胃也。</p>
<h3>白虎湯類八</h3>
<h4>白虎湯（一）</h4>
<p>知母（六兩）、石膏（一觔）、甘草（二兩炙）、粳米（六合），
右四味，以水一斗，煮米熟湯成，
火候，
去滓，溫服一升，日三服。傷寒脈浮滑，此表有熱，裏有寒，
此寒熱二字必倒誤，乃表有寒，裏有熱也，觀下條脈滑而厥者，裏有熱也，鑿鑿
可證，活人書作表裏有熱，亦未穩，
白虎湯主之。傷寒脈滑而厥者，
熱厥，
裏有熱木，白虎湯主之。
三陽合病，腹滿身重，難以轉側，口不仁而面垢，讝語遺尿，
以上皆陽明熱症之在經者，以三陽統於陽明也，但身重腹滿，則似風溼，宜用朮
附，面垢讝語，則似胃實，宜用承氣，此處一惑，生死立判，如何辨別，全在
參觀脈症，使有顯據，方不誤投，
發汗則讝語，
陽從此越，
下之則額上生汗，手足逆冷，
陰從此脫，
若自汗者，白虎湯主之。
自汗則熱氣盛於經，非石膏不治，○按亡陽之症有二，下焦之陽虛飛越於外，而
欲上脫，則用參附等藥以回之，上焦之陽盛，逼陰於外，而欲上洩，則用石膏以
收之，同一亡陽，而治法迴殊，細審之自明，否則死生立判。</p>
<h4>白虎加人參湯（二）</h4>
<p>白虎湯原方加人參（三兩），
煮服同前法，服桂枝湯，大汗出後，大煩湯不解，脈洪大者，此湯主之。
煩渴不解，因汗多而胃液乾枯，邪雖去而陽明之火獨熾，故用此以生津止汗，息
火解煩，汗後諸變不同，總宜隨症用藥。
傷寒若吐若下後，
前汗後，此吐下後，
七八日不解，熱結在裏，表裏俱熱，
此四字為白虎對症，
時時惡風，
表邪，未盡，
大渴，舌上乾燥，而煩，欲飲水數升者，
胃液已盡，不在經不在腑，亦非若承氣症之有實邪，因胃口津液枯竭丙火如焚，
欲引水自救，故其象如此，與熱邪在府者迴別，
此湯主之，傷寒無大熱，
熱在內，
口燥渴，心煩，背微惡寒者，
此亦虛燥之症，微惡寒，謂雖惡寒而甚微，又周身不寒，寒獨在背，知外邪已解，
若大惡寒，則不得用此湯矣，
此湯主之。傷寒脈浮，發熱無汗，
無汗二字，最為白虎所忌，
其表不解者，
惡寒，
不可與白虎湯，渴欲飲水，無表症者，
不惡寒，
白虎加人參湯主之，
白虎加參湯，大段治汗吐下之後，邪已去而有留熱在於陽明，又因胃液乾枯，故
用之以生津解熱，若更虛羸，則為竹葉石膏湯症矣，○壯火食氣，此方瀉火，即
所以生氣也。</p>
<h4>竹葉石膏湯（三）</h4>
<p>竹葉（二把）、石膏（一觔）、半夏（半升）、人參（三兩）、麥門冬（一升）、甘草（二兩）、
粳米（半升），
右七味，以水一斗，煮取六升，去滓，內粳米，煮米熟，湯成，
又一煮法，
去米，溫服一升，日三服。
傷寒解後，虛羸少氣，
人參、麥冬，
氣逆欲吐者，
半夏、竹葉，
竹葉石膏湯主之，
此仲景先生，治傷寒愈後調養之方也，其法專於滋養肺胃之陰氣，以復津液，蓋
傷寒雖六經傳遍，而汗吐下三者，皆肺胃當之，又內經云，人之傷於寒也，則為
病熱，故滋養肺胃，岐黃以至仲景不易之法也，後之庸醫，則用溫熱之藥，峻補
脾腎，而千聖相傳之精義，消亡盡矣。</p>
<h3>五苓散類九</h3>
<h4>五苓散（一）</h4>
<p>豬苓（十八銖去皮）、澤瀉（一兩六銖）、白朮（十八銖）、茯苓（十八銖）、桂枝（半兩去
皮），
右五味，為末，以白飲和服，方寸七，日三服，多飲煖水，汗出愈。
服散取其停留胸中，多飲煖水，取其氣散營衛。
太陽病，發汗後，大汗出，胃中乾，煩躁不得眠，欲得飲水者，少少與飲之，令
胃氣和則愈，若脈浮，小便不利，微熱消渴者，以五苓散主之。
胃中乾而欲飲，此無水也與水則愈，小便不利而欲飲，此蓄水也，利水則愈，同
一渴，而治法不同，蓋由同一渴，而渴之象不同，及渴之餘症，亦各不同也。
發汗已，脈浮數，煩渴者，五苓散主之。
汗不盡，則有留飲。
中風發熱，六七日不解，而煩，有表裏症，渴欲飲水，水入則吐者，名曰水逆，
胸中有水，則不能容水矣，
五苓散主之，
桂枝治表，餘四味治裏，
多飲煖水，汗出愈。
表裏俱到。
本以下之，故心下痞，與瀉心湯，痞不解，其人湯而口燥煩，小便不利者，五苓
散主之。
治痞而痞不解，反渴，則為水停心下之故，非痞也。
太陽病，寸緩關浮尺弱，
皆為虛象，
其人發熱汗出，復惡寒，不嘔，但心下痞者，此以醫下之也，
誤治，
如其不下者，病人惡寒而渴者，此轉屬陽明也，
此屬實邪，
小便數者，大便必鞕，不更衣十日，無所苦也，渴欲飲水者少少與之，但以法
救之，
隨症施治，不執一端，
渴者與五苓散。
如其渴不止，五苓散，亦一法也。
霍亂頭痛發熱，身疼痛，熱多，欲飲水者，五苓散主之。
此亦表裏同治之法。</p>
<h4>豬苓湯（二）</h4>
<p>豬苓（去皮）、茯苓、澤瀉、滑石（碎）、阿膠（各一兩），
右五味，以水四升，先煮四味，取二升，去滓，內阿膠烊消，溫服七合，日三服。
陽明病，若脈浮發熱，渴欲飲水，小便不利者，豬苓湯主之。
此陽明之渴，故與五苓相近，而獨去桂枝，恐助陽也，論中又云陽明汗多而渴，
不可與豬苓湯，以胃中燥不可更利其小便也。
少陰病，下利六七日咳而嘔渴，心煩不得眠者，此湯主之。
此亦熱邪傳少陰之症，蓋少陰口燥口乾，有大承氣急下之法，今止嘔渴，則熱邪
尚輕，故用此方，使熱邪從小便出，其路尤近也。</p>
<h4>文蛤散（三）</h4>
<p>文蛤（五兩），
右一味，為散，以沸湯和一方寸七服，湯用五合，病在陽，應以汗解之，反以冷
水噀之，若灌之，甚熱被劫，不得去，彌更益煩，肉上粟起，
寒在肉中，
意欲飲水，反不渴者，服文蛤散，
此熱結在皮膚肌肉之中，不在胃口，故欲飲而不渴，文蛤取其軟堅逐水，
若不差者，與五苓散。
不應則表裏同治。</p>
<h4>茯苓甘草湯（四）</h4>
<p>茯苓（二兩）、桂枝（二兩去皮）、甘草（一兩炙）、生姜（三兩），
右四味，以水四升煮取三升，分溫三服。
傷寒汗出而渴者，五苓散主
缺p38
止汗餘，四味止渴，
不渴者，茯苓甘草湯主之。
此方之義，從未有能詮釋者，蓋汗出之後，而渴不止與五苓，人所易知也，乃汗
出之後，並無渴症，又未指明別有何症忽無端而與茯苓甘草湯，此意何居，要知
此處汗出二字，乃發汗後，汗出不止也，汗出不止，則亡陽在即，當與以真武湯，
其稍輕者，當與以茯苓桂枝白朮甘草，更輕者，則與以此湯，何以知之，以三方
同用茯苓知之，蓋汗大洩，必引腎水上泛，非茯茯不能鎮之，故真武則佐以附子
回陽，此二方，則以桂枝甘草斂汗，而茯苓則皆以為主藥，此方之義，不了然乎，
觀下條心悸治法益明。
傷寒厥而心下悸者，宜先治水，
水犯心則悸，
當服茯苓甘草湯，
本草茯苓，治心下結痛恐悸，
卻治其厥，不爾，水漬入胃，必作利也。</p>
<h3>四逆湯類十</h3>
<h4>四逆湯（一）</h4>
<p>甘草（二兩炙）、乾姜（一兩半）、附子（一枚生用去皮破八片），
右三味，以水三升，煮取一升二合，去滓，分溫再服，強人可大附子一枚，
常人則取中者小者可知，
乾姜三兩，
按方名四逆，必以之治厥逆，論云厥者，陰陽氣不順接，手足逆冷是也，凡論中
言脈沈微遲弱者，則厥冷不待言而可知，此方溫中散寒，故附子用生者，○四逆
理中，皆溫熱之劑，而四逆一類，總不離乾姜，以通陽也，治宜下焦，理中一類，
總不離白朮，以守中也，治宜中焦，餘藥皆相同，而功月迥別。
傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，反與桂枝湯攻其表，此誤
也，得之便厥，咽中乾，煩躁吐逆者，作甘草，乾姜湯與之，以復甚陽，若厥愈
足溫者，更作芍藥甘草湯與之，其腳即伸，若胃氣不和，讝語，少與調胃承氣
湯，
以上義詳雜方條內，
若重發汗，復加燒鍼者，四逆主湯之。
陰陽兩虛之後，又復竭其陽，非此湯不能挽回陽氣。
傷寒醫下之，續得下利清穀不止，身疼痛者，急當救裏，後身疼痛，清便自調者，
急當救表，救裏宜四逆湯，救表宜桂枝湯。
說詳前桂枝條內。
病發熱頭疼，
此乃表邪，
脈反沉，
見裏脈，
若不差，身體疼痛，當救甚裏，宜四逆湯，
身體疼痛，陰陽二症皆有之，今脈沈而疼痛，雖發熱亦是裏寒外熱之症，故用四
逆，
脈浮而遲，表熱
浮，
裏寒，
遲
下利清穀者，四逆湯主之。自利不渴者，屬太陰，以甚藏有寒故也，
明所以不渴之故，
當溫之，宜四逆輩，
有寒則不渴，則知渴者，皆當作熱治不曰四逆湯，而曰四逆輩，凡溫熱之劑，皆
可選用。
少陰病，脈沈者，急溫之，病與脈相合，則溫不可遲，宜四逆湯。少陰病，飲食
入口則吐，心中溫溫欲吐，復不能吐，
此二句，指不食之時言，此與少陽之嘔當分別，宜以他症驗之，
始得之，手足寒，脈弦遲者，此胸中實，
始得言病方起，脈弦則有力，故知為實，
不可下也，
欲吐則病在上焦下之為逆，
當吐之，
在上者因而越之，此少陰宜吐之法，
若膈上有寒飲乾嘔者，
乾嘔無物則知其為飲矣，
不可吐也，當溫之，
寒飲無實物，溫之則寒散，而飲亦去矣，凡治飲皆用溫法，
宜四逆湯，大汗出，熱不去，內拘急，四肢疼，
以上皆外症，其疼亦屬陰疼，
又下利，
清穀，
厥逆而惡寒者，
三者皆虛，寒內症，
四逆湯主之。
按此條諸症，皆屬陰寒，固為易辨，惟熱不去三字，則安知非表邪未盡，即惡寒，
亦安知非太陽未罷之惡寒，惟下利厥逆，則所謂急當救裏，不論其有表無表，而
扶陽不可緩矣。
大汗若大下利而厥冷者，四逆湯主之，
汗下後而厥冷，則虛寒極矣。
嘔而脈弱，小便復利，身有微熱見厥者，難治，
亦外熱內虛寒之故，
四逆湯主之。吐利汗出，發熱惡寒，四肢拘急，手足厥冷者，四逆湯主之，既吐
且利，小便復利而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。
以上五條，皆係汗下之後，陽氣大虛，故雖外有微熱，而總以扶陽為急，大小便
俱利，則內陽亦盡矣，不僅手足逆冷為陽微之驗也。</p>
<h4>四逆加人參湯（一）</h4>
<p>四逆湯原方加人參一兩，煎服法同。
惡寒脈微而復利，利止亡血也，
按亡陰即為亡血，不必真脫血也，成無已註，引金匱玉函曰，水竭則無血，謂利
止則津液內竭，
四逆加人參湯主之。
加參以生津液。</p>
<h4>通脈四逆湯（三）</h4>
<p>甘草（二兩炙）、乾姜（二兩強人四兩）、附子（一枚生用），
右三味，以水三升，煮取一升二合去滓，分溫再服，其脈即出者愈；面色赤者，
加蔥九莖；腹中痛者，去蔥加芍藥二兩；嘔者，加生姜二兩；咽痛者，去芍藥加
桔梗一兩；利止脈不出者，去桔梗加人參二兩，
補益津液。
少陰病，下利清穀，裏寒外熱，
寒逼陽於外，
手足厥逆，
外症，
脈微欲絕，
內症，
身反不惡寒，
寒邪已入裏，
其人面色赤，
陽越，
或腹痛，或乾嘔或咽痛，
陽升，
或利止，脈不出者，通脈四逆湯主之，其脈即出者愈，
諸症或陽或陰，乃閉，塞不通之故，用辛溫通陽之品以治之，其兼症不同，詳加
減法。
下利清穀，裏寒外熱，汗出而厥者，
汗出而厥，陽有立亡之象，
通脈四逆湯主之。</p>
<h4>通脈四逆加豬膽汁湯（四）</h4>
<p>通脈四逆原方，加豬膽汁半合，
煎如前法，煎成內豬膽汁，溫服，其脈即出。
豬膽汁苦滑之極，引藥直達下焦。
吐已下斷，
利止也，
汗出而厥，四肢拘急不解，脈微欲絕者，通脈四逆加豬膽汁湯主之。</p>
<h4>乾姜附子湯（五）</h4>
<p>乾姜（一兩）、附子（一枚生用去皮切八片），
右二味，以水三升，煮取一升，去渣頓服。
下之後，復發汗，
先竭其陰，後竭其陽，
晝日煩躁不得眠，夜而安靜，
陽虛有二症，有喜陽者、有畏陽者，太抵陰亦虛者畏陽，陰不虛者喜陽，此因下
後陰亦虛，故反畏陽也，
不嘔不渴，無表證，脈沈微身無大熱者，
此邪已退，而陽氣衰弱，故止用姜附回陽，
乾姜附子湯主之。</p>
<h4>白通湯（六）</h4>
<p>乾姜附子湯原方，加蔥白四莖，煎服法照前。少陰病，下利，白通湯主之。
此專治少陰之利，用蔥白所以通，少陰之陽氣。</p>
<h4>白通加豬膽汁湯（七）</h4>
<p>白通湯原方加人尿五合，豬膽汁一合，
右三味，以水三升，煮取一升，去渣，內膽汁，人尿，和令相得，分溫再服，無
膽汁亦可。少陰下利脈微者，與白通湯，利不止，厥逆無脈，乾嘔煩者，
無脈厥逆，嘔而且煩，則上下俱不通，陰陽相格，故加豬膽人尿，引陽藥達於至
陰而通之，內經所云，反佐以取之是也，
白通加豬膽汁湯主之，服湯脈暴出者，死，微續者生，
暴出乃藥力所迫，藥力盡則氣仍絕，微續乃正，氣自復故可生也，○少陰篇云，
少陰病下利不止，惡寒而踡臥，手足溫者可治，則又當以手足之溫，驗其陽之有
無也，○前云其脈即出者愈，此云暴出者死，蓋暴出與即出不同，暴出，一時出
盡，即出，言服藥後，少頃，即徐徐微續也須善會之。</p>
<h4>茯苓四逆湯（八）</h4>
<p>茯苓（四兩一本作六兩）、人參（一兩）、附子（一枚生用）、甘草（二兩炙）、乾姜（一兩
半），
右五味，以水五升，煮取三升，去滓，溫服七合，日三服，發汗，若下之，病仍
不解，煩躁者，
此陽氣不攝而煩，所謂陰煩也，然亦必恭以他症，方不誤認為梔子湯症，
茯苓四逆湯主之。
本草茯苓治逆氣煩滿。</p>
<h4>四逆散（九）</h4>
<p>甘草（炙）、枳實、柴胡、芍藥，
右四味，各十分，搗篩，白飲和服，方寸匕，日三服；欬者加五味子乾姜各五分，
并主下利；悸者加桂枝五分；小便不利者，加茯苓五分；腹中痛者，加附子一枚，
炮令坼；泄利下重者先以水五升，煮薤白，取三升，去渣，以散方寸匕，內湯中，
煮取一升半，分溫再服。
別錄薤白，主溫中散結。
少陰病四逆，其人或欬或悸，或小便不利，或腹中痛，或腹中痛，或泄利下重者，
此乃少陰傳經之熱邪，並無微惡寒等陰症，即下利一端，並非清榖，而反下重，
故不得用溫熱，
四逆散主之。
疏邪通氣，同名四逆，與前諸法迥殊，諸兼症皆在加減中。</p>
<h4>當歸四逆湯（十）</h4>
<p>治痢極神
當歸、桂枝、芍藥、細辛（各三兩）、甘草、通草（各二兩）、大棗（二十五枚），
右七味，以水八升，煮取三升，溫服一升，日三服。</p>
<h4>當歸四逆加吳茱臾生姜湯（十一）</h4>
<p>當歸（三兩）、甘草、通草（各二兩）、芍藥、桂枝、細辛（各三兩）、大棗（二十五枚）、
吳茱萸（二升）、生姜（半觔），
右九味，以水六升，清酒六升，和煮，取五升，去渣，分溫五服，手足厥寒，脈
細欲絕者，當歸四逆湯主之，
此四逆乃太陽傳經之邪，而表症猶未罷，因陽氣已虛，故用桂枝湯加當歸和血，
細辛溫散，以和表裏之陽也，
若其人內有久寒者，宜當歸四逆加吳茱萸，生姜湯主之，
內有久寒，指平素言，必從問而得之，或另有現症，乃為可據，吳茱萸溫中散寒，
其性更烈，○按前四逆諸法，皆主於溫，此二方，則溫中兼通陽和陰之法，
下利脈大者，虛也，
凡症虛而脈反大者，皆元氣不固也，
以其強下之故也，
惟下所以致虛之故，
設脈浮革，
辨脈法篇云，脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，虛寒相持，
此名為革，
因而腸鳴者，
腸鳴亦氣不通和之故，
屬當歸四逆湯主之。</p>
<h3>理中湯類十一</h3>
<p>熟讀在胸救人無算與時醫所論陰陽迥不相同</p>
<h4>理中丸（一）</h4>
<p>折三劑每味三錢
人參、甘草、白朮、乾姜（各三兩），
右四味，搗篩為末，蜜和為丸，如雞子黃大，以沸湯數合，和一丸研碎，溫服之，
日三四服，夜二服，腹中未熱，益至三四丸，然不及湯，
理中丸與湯本屬一方，
方法以四物依兩數切，用水八升，煮取三升，去渣，溫服一升，日三服，
急則用湯，
若臍上築者，腎氣動也，去朮加桂四兩，
即欲作奔豚，桂枝加桂之法，
吐多者，去朮加生姜二兩，
有乾姜而復加生姜，知乾姜不治嘔也，
下多者，還用朮，
朮能止利，
悸者，加茯苓二兩，
悸為心下有水，故用茯苓，
渴欲飲水者，加朮，足前成四兩半，
消飲生津，
腹中痛者，加人參，足前成四兩半，
此痛因氣不足之故，別錄云，人參治心腹鼓痛，
寒者，加乾姜，足前成四兩半，腹滿者去朮，加附子一枚，
此腹滿乃陽氣不充之故，
服湯後，如食頃，飲熱粥一升許，微自溫，勿揭衣被，
桂枝湯之飲熱粥，欲其助藥力以外散，此飲熱粥，欲其助藥力以內溫。
霍亂頭痛發熱，身疼痛，
諭中又云，嘔吐而利，名曰霍亂，又云頭痛則身疼，惡寒吐利，名曰霍亂，合觀
之則霍亂之症始備，蓋亦傷寒之類，後人以暑月之吐利當之，而亦用理中，更造
為大順散者，皆無稽之論也，
熱多欲飲水者，五苓散主之，
此熱勝寒之霍亂，
寒多不用水者，理中湯主之。
此寒勝熱之霍亂，○按霍亂之症，皆由寒熱之氣不和，陰陽拒格，上下不通，水
火不濟之所致，五苓所以分其清濁，理中所以壯其陽氣，皆中焦之治法也。
大病差後喜唾，
胃液不藏，兼有寒飲，
久不了了，胃上有寒，當以丸藥理之，
當緩治之，
宜理中丸。</p>
<h4>真武湯（二）</h4>
<p>茯苓、芍藥、生姜（各三兩）、白朮（二兩）、附子（一枚泡），
右五味，以水八升，煮取三升，去渣，溫服，七合，日三服。若嗽者，加五味子
半升，細辛乾姜各一兩。若小便利者，去茯苓。若下利者，去芍藥，加乾姜二兩。
此即下利清穀之類，故去芍藥，加乾姜，若熱，利則芍藥又為要藥也須審之，
若嘔者，去附子加生姜，足前成半觔。太陽病發汗，汗出不解，
太陽病，乃桂枝症也，其發汗當取微似汗，則衛氣泄而不傷營，若發汗太過，動
其營血，大汗雖出，而衛邪反內伏，所以病仍不解，觀前桂枝湯條下服法，可推
而知也，
其人仍發熱，
表邪仍在，
心下悸，
下焦腎水，因心液不足隨陽而上犯，
頭眩身瞤動，振振欲擗地者，
陽氣洩則虛浮無依著，
真武湯主之。
此方鎮伏腎水挽回陽氣。
少陰病，二三日不已，至四五日，腹痛，小便不利，四肢沉重，疼痛，自下利者，
以上溼邪之症，
此為有水氣，
水亦溼也，
其人或咳，或小便利，或下利，或嘔者，
此四症或有或無，方中加減法俱詳，
真武湯主之。
此方因發汗不合法，上焦之津液乾枯，腎水上救，以此鎮腎氣，治逆水，不專為
汗多亡陽而設，治亡陽之方，諸四逆湯，乃正法也。</p>
<h4>附子湯（三）</h4>
<p>附子（二枚泡）、茯苓（三兩）、人參（二兩）、白朮（四兩）、芍藥（三兩），
右五味，以水八升，煮取三升，去滓，溫服一升，日三服。
少陰病，得之一二日，口中和，
寒邪已微，
其背惡穴者，當灸之，
但背惡寒，則寒邪聚於一處，故用灸法，○按白虎加人參湯，亦有背微惡寒之症，
乃彼用寒涼，此用溫熱，何也，蓋惡寒既有微甚之不同，而其相反處，全在口中
和，與口燥渴之迥別，故欲知裏症之寒熱，全在渴不渴辨之，此傷寒之要訣也，
附子湯主之，
此乃病已向愈，正氣虛，而餘寒尚存之證也。
少陰病，身體疼，手足寒，骨節痛，脈沈者，附子湯主之。
此亦虛寒餘症。</p>
<h4>甘草附子湯（四）</h4>
<p>甘草（二兩炙）、白朮（二兩）、桂枝（四兩）、附子（二枚泡），
右四味，以水六升，煮取三升，去渣，溫服一升，日三服，初服得微汗則解，
即服桂枝湯，論中所云，風溼發汗，汗大出者，但氣去溼氣在，是故不愈也，治
風溼者發其汗，但微微似欲出汗者，風溼俱去也，
能食汗出，復煩者，
尚有餘邪鬱而未盡，
服五合，恐一升多者，服六七合為始，
此言初服之始。
風溼相搏，骨節疼煩，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風
不欲去衣，或身微腫者，此湯主之。
此段形容風溼之狀，病情略備。</p>
<h4>桂枝附子湯（五）</h4>
<p>桂枝（四兩）、附子（三枚泡去皮切八片）、甘草（二兩）、生姜（三兩）、大棗（十二枚），
右五味，以水六升，煮取二升，去滓，分溫三服。
按此即桂枝去芍藥加附子湯，彼桂枝用三兩，附子用一枚，以治下後脈促胸滿之
症，此桂枝加一兩附子加二枚，以治風溼身疼脈浮濇之症，一方而治病迥殊，方
名亦異，彼編入桂枝湯類，此編入理中湯類，細思之各當其理，分兩之不可忽如
此，義亦經矣，後人何得以古方，輕於加減也。</p>
<h4>桂枝附子去桂加白朮湯（六）</h4>
<p>白朮（四兩）、甘草（二兩）、附子（三枚泡）、生姜（三兩）、大棗（十二枚），
右五味，以水六升，煮取二升，去渣，分溫三服，初服，其人身如痺，半日許，
復服之，三服盡，其人如冒狀，勿怪，此以附朮併走皮內，逐水氣，
附朮併力，則逐水之功愈大，
未得除，故使之耳，法當加桂四兩，
此即前桂枝附子湯，
此本一方二法，以大便鞕，小便自利，去桂也，以大便不鞕，小便不利，當加
桂，
觀此條知桂枝能通小便，故五苓散用之，
附子三枚恐多也，虛弱家及產婦，宜減服之。
附子能劫陰氣。
傷寒八九日，風溼相搏，身體疼煩，不能自轉側，
溼則身重，
不嘔不渴，
溼而兼寒，
脈虛浮而濇者，
內名之陽俱虛，
桂枝附子湯主之，若其人大便鞕，小便自利者，去桂加白朮湯主之。
白朮生腸胃之津液。</p>
<h4>茯苓桂枝白朮甘草湯（七）</h4>
<p>茯苓（四兩）、桂枝（三兩去皮）、白朮、甘草（各二兩炙），
右四味，以水六升，煮取三升，去渣，分溫三服。傷寒若吐若下後，心下逆滿，
氣上衝胸，起則頭眩脈沈緊，發汗則動經，身為振搖者，此湯主之。
此亦陽虛而動腎水之症，即真武症之輕者，故其法亦仿真武之意。</p>
<h4>芍藥甘草附子湯（八）</h4>
<p>芍藥、甘草（各三兩）、附子（一枚泡去皮破八片），
右三味，以水五升，煮取一升五合，去渣，分溫三服。
發汗病不解，反惡寒者，虛故也，此湯主之。
甘草附子加芍藥，即有和陰之意，亦邪之甚輕者。</p>
<h4>桂枝人參湯（九）</h4>
<p>桂枝（四兩）、甘草（四兩炙）、白朮、人參、乾姜（各三兩），
右五味，以水九升，先煮四味，取五升，內桂，更煮取三升，
桂獨後煮，欲其於治裏症藥中，越出於表，以散其邪也，
去渣，溫服一升，日再夜一服。太陽病，外症未除，而數下之，
下之太早又多，
遂協熱而利，利下不止，
邪陷入裏，
心下痞鞕，
邪在上焦，猶屬半表，
表
宜桂枝，
裏
宜四味，
不解，桂枝人參湯湯主之。
此必數下之後，而現虛症，故雖協熱而仍用溫補。</p>
<h2>卷四</h2>
<p>:雜方十二（廿二方）
:六經脈證</p>
<h3>雜法方類十二</h3>
<h4>赤石脂禹餘糧湯（一）</h4>
<p>論中有汗家重發汗，必恍惚心亂，小便已，陰疼，與禹餘糧丸，疑即此為丸。
赤石脂、禹餘糧（各一斤），
右二味，以水六升，煮取二升，去滓，分溫三服。
二石同煎，方中絕少。
傷寒服湯藥，下利不止，心下痞鞕，服瀉心湯巳，復以他藥下之，利不止，
一誤再誤，
醫以理中與之，利益甚，理中者，理中焦也，此利在下焦，
下藥太過，則大腸受傷。
赤石脂禹餘糧湯主之，
以濇治脫，
復利不止，當利其小便，
分其清濁則便自堅。</p>
<h4>炙甘草湯（二）</h4>
<p>又名復脈湯。
甘草（四兩炙）、生姜（三兩）、人參（二兩）、生地黃（一斤）、桂枝（三兩）、麥門冬（半
斤）、阿膠（二兩）、麻仁（半斤）、大棗（三十枚），
右九味，以清酒七升，水八升，先煮八味，取三升，去渣，內膠，烊消盡，溫服
一升，日三服。
傷寒脈結代，
脈來緩而時一止，復來曰結，脈來動而中止，不能自還，因而復動曰代，幾動一
息亦曰代，皆氣血兩虛而經隧不通，陰陽不交之故，
心動悸，
心主脈，脈之止息，皆心氣不甯之故，
炙甘草湯主之。
此治傷寒邪盡之後，氣血兩虛之主方也，○活人書云，陰盛則結，陽盛則促。</p>
<h4>甘草乾薑湯（三）</h4>
<p>甘草（四兩炙）、乾薑（二兩炮），
右二味以水三升，煮取一升五合，去滓，分溫再服。</p>
<h4>芍藥甘草湯（四）</h4>
<p>芍藥（四兩）、甘草（四兩），
右二味，以水三升，煮取一升五合，去滓，分溫再服。
傷寒脈浮自汗出，小便數，心煩，微惡寒，
以上俱，似桂枝症，
腳攣急，
裏虛之象，只此一症，決非桂枝症矣，凡辨症，必於獨異處著眼，
反與桂枝湯，欲攻其表，此誤也，得之便厥，咽中乾，煩躁吐逆者，
有陽越之象，
作甘草乾姜湯與之，以復其陽，若厥愈，足溫者，更作芍藥甘草湯與之，其腳即
伸，
此湯乃純陰之劑，以復其陰也，陰陽兩和而腳伸矣，
若胃氣不和，讝語者，
留邪在中焦，
少與調胃承氣湯，若重發汗，復加燒鍼者，四逆湯主之。
詳見四逆湯條下。
問曰，證象陽旦，
活人書云，桂枝湯加黃芩曰陽旦，成無已云，即桂枝湯別名，
按法治之而增劇，厥逆，咽中乾，兩脛拘急而譫語，
以上言按法用，方而病不應手，其故安在，
師言夜半手足當溫，兩腳當伸，後如師言，何以知之，答曰，寸口脈浮而大，浮
則為風，大則為虛，風則生微熱，虛則兩脛攣，病證象桂枝，因加附子參其間，
桂枝加附子湯，
猶桂令汗出，附子溫經亡陽故也，
厥逆兩脛拘急，即亡陽之兆，
厥逆咽中乾，煩躁，陽明內結，
陽越在上，
讝語煩亂，更飲甘草乾姜湯，
通納陽氣，
夜半陽氣還，兩足當熱，脛尚微拘急，重與芍藥甘草湯，
陽復而陰又虛，以此養陰氣，
爾乃腳伸，以承氣湯，微溏則止其讝語，
以滌陽明所結之餘邪，
故知病可愈，
病證象桂枝句以下，歷敘治效，以明用藥之次第當如此，蓋病證既多，斷無一方
能治之理，必先分證而施方，而其先後之序又不可亂，其方有前後，截然相反者，
亦不得以錯雜為嫌，隨機應變，神妙無方，而又規矩不亂，故天下無不可愈之疾，
後人欲以一方治諸症，又無一味中病之藥，鳴呼難哉。</p>
<h4>茵陳蒿湯（五）</h4>
<p>茵陳蒿（六兩）、梔子（十四枚）、大黃（二兩），
右三味，以水一斗，先煮茵陳，減六升，
茵陳為主藥，
內二味煮取三升，去滓分溫三服，小便當利，尿如皁角汁狀，色正赤，一宿腹減，
病從小便去也，
先煮茵陳，則大黃從小便出，此秘法也，
陽明病，發熱汗出者，此為熱越，不能發黃也，但頭汗出者，身無汗，劑頸而還，
小便不利，渴欲飲水者，此為瘀熱裏，身必發黃，茵陳湯主之，
本草茵陳主熱結黃疽，
傷寒七八日，身黃如橘子色，小便不利，腹微滿者，
陽明瘀熱，
茵陳湯主之。</p>
<h4>麻黃連軺赤小豆湯（六）</h4>
<p>麻黃（二兩去節）、連軺（二兩）、赤小豆（一升）、生梓白皮（一升）、杏仁（四十枚）、甘
草（二兩）、生姜（二兩）、大棗（十二枚），
右八味，以潦一斗，
無根之水，
先煮麻黃，再沸去上沫，內諸藥，煮取三升，去滓，分溫三服，半日服盡。
連軺即連翹根，氣味相近，今人不採即以連翹代可也。
傷寒瘀熱在裏，身必發黃，此湯主之。
前方欲黃從下解，此方欲黃從汗解，乃有表無表之分也。</p>
<h4>麻黃升麻湯（七）</h4>
<p>麻黃（二兩半）、升麻（一兩一分）、當歸（一兩一分）、知母、黃芩、萎蕤（各十八銖）、
白朮、石羔、乾姜、芍藥、天冬、桂枝、茯苓、甘草（各六銖），
右十四味，以水一斗，先煮麻黃一兩沸去上沬，內諸藥，煮取三升，去滓分溫三
服，相去如炊三斗米頃，令盡，汗出愈。
傷寒六七日，大下後，寸脈沈而遲，手足厥逆，下部脈不至，咽喉不利，唾膿血，
泄利不止者，
皆上熱下寒之症，
為難治，此湯主之。
此乃傷寒壤症，寒熱互見，上下兩傷，故藥亦照症施治，病症之雜，藥味之多，
古方所僅見，觀此可悟古人用藥之法。</p>
<h4>瓜蒂散（八）</h4>
<p>瓜蒂（熬黃）、赤小豆（各一分），
右二味，各別擣篩為散，已合治之，取一錢匕，以香豉一合，用熱湯七合，煮作
稀糜，去渣，和散，溫頓服之，不吐者，少少加，得快吐乃止，諸亡血虛家，不
可與之。
此即論中所云吐法也，梔子豉湯，治虛煩，非專引吐，此方則專於引吐而已。
病如桂枝症，頭不痛，項不強寸脈微浮，胸中痞鞕，氣上沖咽喉，不得息者，
此為胸中有寒也，
寒必兼飲，
當吐之，
在上者越之，
宜瓜蒂散，
本草瓜蒂病在胸腹中，皆吐下之。
病人手足厥冷，脈乍緊者，邪結在胸中，
所以陽氣不能四達，
心中滿而煩，饑不能食者，病在胸中，當須吐之，宜瓜蒂散。</p>
<h4>吳茱萸湯（九）</h4>
<p>吳茱萸（一升洗）、人參（三兩）、生姜（六兩）、大棗（十二枚），
右四味，以水七升，煮取二升，去渣，溫服七合，日三服。
食穀欲嘔者，
必食穀而嘔，受病在納穀之處與乾嘔迥別，
屬陽明也，吳茱萸湯主之，得湯反劇者，屬上焦也，
上焦指胸中，陽明乃中焦也。
少陰病，吐利，手足逆冷，煩躁欲死者，吳茱萸湯主之，
此胃氣虛寒症。
乾嘔吐涎沬，
吐涎沬，非少陽之乾嘔，然亦云乾嘔者，謂不必食穀而亦嘔也，
頭痛者，
陽明之脈上於頭，
吳茱萸湯主之。
此胃中有寒飲之症。</p>
<h4>黃連阿膠湯（十）</h4>
<p>黃連（四兩）、黃芩（一兩）、芍藥（二兩）、阿膠（三兩）、雞子黃（二枚），
右五味，以水六升，煮三物，取三升，去渣，內膠烊盡，小冷，內雞子黃，
小冷而內雞子黃，則不至凝結而相和，
攪令相得，溫服七合，日三服。
少陰病，得之二三日以上，心中煩，不得臥，此湯主之，
此少陰傳經之熱邪，擾動少陰之氣，故以降火養陰為治，而以雞子黃引藥下達。</p>
<h4>桃花湯（十一）</h4>
<p>赤石脂（一斤一半全用一半篩末）、乾姜（一兩）、粳米（一升），
右三味，以水七升，煮米令熟，去渣，內赤石脂末，方寸匕，溫服七合，日三服，
若一服愈，餘勿服。
兼末服，取其留滯收濇，
少陰病，下利，便膿血，
寒熱不調，則大陽為腐，故成膿血，與下利清穀絕不同，
桃花湯主之，
本草赤石脂，療下利赤白。
少陰病，二三日，至四五日，腹痛，小便不利，下痢不止，便膿血者，桃花湯主
之。</p>
<h4>半夏散及湯（十二）</h4>
<p>半夏（洗）、桂枝（去皮）、甘草（炙），
右三味，等分各別擣篩，已合治之，白飲和服方寸匕，日三服，若不能散服者，
以水一升，煎七沸，內散兩方寸匕，更煎三沸，下火，令小冷，少少嚥之。
治上之藥當小其劑。
少陰病，咽中痛，
足少陰之脈，循喉嚨，挾舌本，
半夏散，及湯主之，
本草半夏治喉咽腫痛，桂枝治喉痺，此乃咽喉之主藥，後人以二味為禁藥何也。</p>
<h4>豬膚湯（十三）</h4>
<p>豬膚（一斤），
右一味，以水一斗，煮取五升，去渣，加白蜜一升，白粉五合，
當是米粉，
熬香和令相得，溫分六服。
少陰病，下利咽痛胸滿心煩者，
此亦中焦氣虛，陰火上炎之症，
豬膚湯主之。
以甘鹹納之。</p>
<h4>甘草湯（十四）</h4>
<p>甘草（二兩），
右一味，以水三升，煮取一升五合，去滓，溫服七合二服。</p>
<h4>桔梗湯（十五）</h4>
<p>桔梗（一兩）、甘草（二兩），
右二味以水三升，煮取一升，去渣，分溫再服。
少陰病，二三日，咽痛者，可與甘草湯，
大甘為土之正味，能制腎水越上之火，
不差，與桔梗湯。
佐以辛苦開散之品，別錄云療咽喉痛。</p>
<h4>苦酒湯（十六）</h4>
<p>半夏（十四枚）、雞子（一枚去黃），
右二味，內半夏，著苦酒中，以雞子殼，置刀環中，安火上，令三沸，
此等煮法，必有深意，疑即古所云禁方，
去渣，少少含嚥之，不差，更作三劑。
少陰病，咽中傷，生瘡，
疑即陰火喉癬之類，
不能言語，聲不出者，苦酒湯主之。
咽中生瘡，此必遷延病久，咽喉為火所蒸腐，此非湯劑之所能療，用此藥斂火降
氣，內治而兼外治法也。</p>
<h4>烏梅丸（十七）</h4>
<p>烏梅（三百枚）、細辛（六兩）、乾姜（十兩）、當歸（四兩）、黃連（一斤）、附子（六兩炮
去皮）、蜀椒（四兩去汗）、桂枝（六兩去皮）、人參（六兩）、黃蘗（六兩），
右十味，異搗篩合治之，以苦酒浸烏枚一宿，去核蒸之，五升米下飯熟搗成泥，
和藥令相得，內臼中，與密杵二千下，圓如梧桐子大，先食飲服十丸，日三服，
稍加至二十丸，禁生冷滑物臭食等。
傷寒脈微而厥，至七八日膚冷，
陽氣不衛，
其人躁你暫安時者，此為藏厥，
此症不治，
非蚘厥也，蚘厥者，其人當吐蚘，今病者，靜而復時煩，此為藏寒，蚘上入其膈，
故煩，須臾復止，得食而嘔又煩者，蚘聞食臭出，其人當自吐蚘，蚘厥者，烏梅
丸主之，又主久痢。
此治久痢之聖方也，其能治蚘，諸藥之性，當於神農本草中，細細審辨，諸方盡
然，不復一俱載。</p>
<h4>白頭翁湯（十八）</h4>
<p>治痢口渴下重者如神
白頭翁（二兩）、黃連、黃蘗、秦皮（各三兩），
右四味，以水七升，煮取二升，去滓，溫服一升，不愈，更服一升。
熱利下重者，白頭翁湯主之。
凡下重皆屬於熱。
下利欲飲水者，以有熱故也，白頭翁湯主之。</p>
<h4>牡蠣澤瀉散（十九）</h4>
<p>牡蠣、澤瀉、蜀漆（洗去腥）、括蔞根、葶藶子、商陸根（熬）、海藻（洗去鹽以上各
等分），
右七味，異擣下篩為散，更入臼中杵之，白飲和服方寸匕，小便利，止後服。
大病差後，從腰以下有水氣者，
水流向下，
牡蠣澤瀉散主之，
此治水病之主方。</p>
<h4>蜜煎導方（二十）</h4>
<p>蜜（七合），
右一味，於銅器內微火，煎凝如飴狀，攪之勿令焦灼，俟可丸併，半捻作錠，令
頭銳大如指二寸許，當熱時急作，冷則鞕，以內穀道中，以手急抱，欲大便時，
乃去之。</p>
<h4>豬膽汁方（二十一）</h4>
<p>大豬膽。
一枚瀉汁和醋少許以灌穀道中如一食頃當大便出宿食惡物甚效。
陽明病，自汗出，若發汗，小便自利者，此乃津液內竭，雖鞕不可攻之，當須
自欲大便，
須待也，言必待其自欲大便，而後用此法，
宜蜜煎導而通之，若土瓜根及大豬膽汁，皆可為導。</p>
<h4>燒褌散（二十二）</h4>
<p>右取婦入中褌近陰處，剪燒灰，以水和服方寸匕，日三服，小便即利，陰頭微腫
則愈，婦人病，取男子褌襠燒灰。
引其邪火，從陰處出也。
傷寒陰陽易之為病，
病方愈而交接，則感其餘熱而生疾，
其人身體重，少氣，少腹裏急，或引陰中，拘攣，熱上衝胸，頭重不欲舉，眼中
生花，膝脛拘急丈，燒褌散主之。</p>
<h3>六經脈證</h3>
<p>欲讀傷寒論，必先識六經之本證，然後論中所稱太陽陽明等病，其源流變態形色
脈象，當一一備記，了然於心，然後其症之分，併疑似，及用藥加減異同之故，
可以曉然，不致眩惑貽誤，故備錄於左。太陽病，脈浮頭項強痛而惡寒。尺寸俱
浮，者太陽受病也，其脈上連風府，故頭項痛腰脊強。發熱汗出惡風，脈緩者，
名曰中風。惡寒體痛嘔逆，脈陰陽俱緊者，名曰傷寒。發熱惡寒者，發於陽也，
無熱惡寒者，發於陰也，發於陽者，七日愈，發於陰者，六日愈，以陽數七，陰
數六也。陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，脈浮而緊。
惡寒未離太陽也。
陽明病，若能食名中風，不能食名中寒，尺寸俱長者陽明受病也，其脈俠，鼻絡
於目，故身熱目疼鼻乾不得臥。陽明外證，身熱汗自出，不惡寒，反惡熱也。
陽明脈大，
以上皆陽明之經病。
有太陽，陽明有正陽，陽明有少陽陽明。太陽陽明者，脾約是也。少陽陽明者，
發汗，利小便巳。胃中燥，煩實，大便難是也。陽明之為病，胃家實也。
此乃正陽陽明。
陽明居中土也，萬物所歸，無所復傳，始雖惡寒，二日自止，此為陽明病也。少
陽之為病，口苦，咽乾，目眩也。尺寸俱弦者，少陽受病也，其脈循脅絡於耳，
故胸脅痛而耳聾。少陽中風，兩耳無所聞，目赤胸中滿而煩者，不可吐下，吐下
則悸而驚。傷寒，脈弦細，頭痛發熱者，屬少陽。三陽合病，脈浮大，上關上，
但欲眠睡目合則汗。
內熱已極。
傷寒六七日，無大熱，
外熱輕則內熱重，
其人煩躁者，此為陽去入陰也。傷寒三日三陽為盡，三陰當受邪，其人反能食而
不嘔，此為三陰不受邪也。太陰之為病，腹滿而吐，食不下，自利益甚，時腹自
痛。尺寸俱沈，細者太陰受病也，其脈布，胃中絡於嗌，故腹滿而嗌乾。傷寒脈
浮而緩，手足自溫者，繫在太陰，自利不渴者，屬太陰，以藏有寒故也，當溫之，
宜服四逆輩。
少陰自利而渴，寒在下焦也，此自利不渴，寒在中焦也。
少陰之為病，脈微細但欲寐也，
衛氣行於陽則寤，寤行於陰則寐。
少陰病，欲吐不吐，心煩但欲寐，五六日自利而渴者，屬少陰。尺寸俱沈者，少
陰受病也，以其脈貫，腎絡於肺繫舌本，故口燥舌乾而渴。厥陰之為病消渴，氣
上撞心，心中疼熱，饑而不欲食，食則吐蛔，下之利不止。尺寸俱微，緩者厥陰
受病也，以其脈循陰器絡於肝，故煩滿而囊縮。厥陰中風，脈微浮為欲愈，不浮
為未愈。</p>
<h4>別症變症（附刺法）</h4>
<p>傷寒本症之外，有別症，有變症，別症者，其病與傷寒相類，而實非傷寒是也，
變症者，傷寒本不當有此症，或因遷延時日，或因雜藥誤投，其病變態百出是也，
其症不備，則必驚疑淆惑，而無所措手，故備錄之，庶不致臨症徬徨。
藏結、冷結、除中、伏氣、晚發、痓、溼、風溼、溼溫、溫毒、暍、陰毒、陽
毒、溫病、熱病、兩感、風溫、溫疫、腳氣、多眠、狐惑、百合、藏厥（見烏梅
丸條）、尸厥（見刺法）。</p>
<h5>藏結</h5>
<p>藏結如結胸狀，飲食如故，時時下利，寸脈浮，關脈小細沈緊，名曰藏結，舌上
白胎滑者難治。藏結無陽症，其人反靜，舌上胎滑者，不可攻也。病脅下有痞，
連在臍旁，痛引少腹，入陰經者，此名藏，結死。
藏結與胸結，皆下後邪氣乘虛入裏所致，熱多與陽明相結，為結胸寒多與陰相結
為藏結，故所現脈症，皆為陰象，舌上胎滑，則上焦亦寒，全無陽象，故曰難治，
曰不可攻，然猶有治法，至素有痞疾，則中氣已傷，連及臍旁少腹，并入陰經，
則上下俱病，陰極陽竭，不死何待。</p>
<h5>冷結</h5>
<p>病者手足厥冷，言我不結胸，小腹滿，按之痛者，此冷結在膀胱關元也。</p>
<h5>除中</h5>
<p>傷寒脈遲，六七日，而反與黃芩湯徹其熱，脈遲為寒，今與黃芩湯，復除其熱，
腹中應冷，當不能食，今反能食，此名除中，必死。微則為欬，欬則吐逆，下之
則欬止，而利因不休，利不休則胸中如蟲齧，粥入則出，小便不利，兩脅拘急，
喘息為難，頸背相引，臂則不仁，極寒反汗出，身冷若冰，眼睛不慧，語言不休，
而穀氣多入，此為除中，口雖欲言，舌不得前。傷寒始發熱六日，厥反九日而利，
凡厥利者當不能食，今反能食，恐為除中。
此病無治法。</p>
<h5>伏氣</h5>
<p>伏氣之病，以意候之，今月之內，欲有伏氣，假令舊有伏氣當須脈之，若脈微弱，
當喉中痛，似傷寒非喉痺也，病人云實咽中痛，雖爾，今泉欲下痢。
活人書云，伏氣之病，謂非時有暴寒中人，伏於少陰經，始不竟病，旬月乃發，
脈便微弱，法先咽痛，似傷寒非咽痺之病，次必下利，始用半夏桂枝甘草湯主之，
次四逆散主之，此病只二日便差，古方謂之腎傷寒也，○甘草半夏桂心等分，每
服四錢匕，入生姜四斤煎，放冷少少含嚥之。</p>
<h5>晚發</h5>
<p>脈陰陽俱緊，至於吐利，其脈獨不解，緊去人安，此為欲解，若脈遲至六七日，
不欲食，此為晚發，水停故也，為未解，食自可者，為欲解。
活人書云，傷寒病，三月至夏為晚發。</p>
<h5>痓</h5>
<p>太陽病，發熱無汗，反惡寒者，名曰剛痓。
金匱治剛痓，用葛根湯，大承氣湯，○湯俱見前。
太陽病，發熱汗出，不惡寒者，名曰柔痓。
柔痓用括婁桂枝湯，○即桂枝湯，加括婁根二兩。
太陽發汗太多，因致痓。太陽發熱，脈沈而細者，名曰痓。
此言痓脈。
病身熱足寒，頸項強急，惡寒，時頭熱面赤，目脈赤，獨頭搖，卒口噤，背反張
者，痓病也。
此言痓象。</p>
<h5>溼</h5>
<p>太陽病，關節疼痛而煩，脈沈而細者，此名溼痺之候，其人小便不利，大便反快，
但當利其小便。溼家之為病，一身盡疼發熱，身色如似薰黃。溼家下之，額上汗
出，微喘，小便利者死，若下利不止者亦死。溼家下之，其人但頭汗出，背強，
欲得被覆向火，若下之早，則噦，胸滿，小便不利，舌上如胎者，以丹田有熱，
胸中有寒，渴欲得水而不能飲，則口燥煩也。溼家病，身上疼痛，發熱面黃而喘，
頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭中寒溼，故鼻塞，內藥
鼻中則愈。</p>
<h5>風溼</h5>
<p>問曰風溼相搏，一身盡疼痛，法當汗出而解，值天陰雨不止，醫云可發汗，汗之
不愈者何也，答曰，發其汗，汗大出者，但風氣去，溼氣在，是故不愈也，若治
風溼者發其汗，但微微似欲汗出者，風溼俱去也。
此言治法。
病者，一身盡疼，發熱日晡所劇者，此名風溼，此病傷於汗出當風，或久傷取冷
所致也，風溼脈浮，肢體痛重，不可轉側，額上微汗，不欲去被，或身微腫。</p>
<h5>溼溫</h5>
<p>兩脛逆冷，胸腹滿，多汗，頭目痛苦，妄言其脈陽濡而弱，陰小而急，不可發汗，
治在太陰。
見活人書。</p>
<h5>溫毒</h5>
<p>冬時觸冒疹毒，至春始發，肌肉發斑，癮疹如錦紋，或咳嗽心悶，但嘔清汁。
見活人書。</p>
<h5>暍</h5>
<p>太陽中熱者，暍是也，其人汗出惡寒身熱而渴也。太陽中暍者，身去疼重，而脈
微弱，此亦夏月傷冷水，水行皮中所致也。太陽中暍者，發去惡寒，身重而疼痛，
其脈弦細芤遲，小便已，灑灑然毛聳，手足逆冷，小有勞，身即熱，口開，前板
齒燥，若發汗，則惡寒甚，加溫針則發熱甚，數下之則淋甚。</p>
<h5>陰毒</h5>
<p>手足厥冷，背強，臍腹築痛，咽痛，短氣，嘔吐下利，身如被杖，或冷汗煩渴，
或甲指面色青黑，煩躁而渴，脈沈細欲絕，而一息七至，宜灸氣海丹田三二百壯，
或蔥熨臍中。
氣海在臍下一寸五分，丹田在臍下二寸。</p>
<h5>陽毒</h5>
<p>發躁狂走，妄言，面赤，咽痛，身斑斑若錦紋，或下利赤黃，脈洪實滑促；或舌
卷焦黑，鼻中如煙煤，宜用布漬冷水，搭於胸上，蒸熱數換。
活人書法。</p>
<h5>溫病</h5>
<p>冬時受寒，藏於肌膚，至春而發。</p>
<h5>熱病</h5>
<p>寒氣至夏而發，俱與傷寒相似</p>
<h5>兩感</h5>
<p>太陽與少陰，陽明與太陰，少陽與厥陰。</p>
<h5>風溫</h5>
<p>其人素傷於風，因復傷熱，其脈尺寸俱浮，頭疼身熱，常自汗，出體重而喘，四
肢不收，嘿嘿但欲眠，發汗則讝語煩躁，狀若驚癇。</p>
<h5>溫疫</h5>
<p>一歲之中，男女老少之疾相似，其狀不一。</p>
<h5>腳氣</h5>
<p>頭疼身熱，肢體痛，大便秘，嘔逆，腳屈弱。</p>
<h5>多眠</h5>
<p>有風溫症，有少陰症，有小柴胡症，有狐惑症。</p>
<h5>狐惑（此症治法詳金匱）</h5>
<p>狀如傷寒，或傷寒後症，默默欲眠，目不能閉，不欲飲食，面乍白，乍赤乍黑，
蟲食其喉為惑，其聲嗄，蝕其肛為狐，其咽乾，爛見五臟則死，當視其脣，上脣
有瘡，蟲食其臟，下脣有瘡，蟲食其肛，多因下利而得，溼䘌之病，亦相似。</p>
<h5>百合（此症詳金匱治法亦備）</h5>
<p>此亦傷寒變症，百脈一宗，悉致其病，
百脈一宗，乃肺病也，故金匱用百合治之，
其狀欲食復不能食，默默欲臥，復不能臥，欲行復不能行，飲食或有美時，或有
惡聞食臭時，如寒無寒，如熱無熱，小便赤，藥入口即吐，如有神靈者。</p>
<h5>刺法</h5>
<p>古聖人治病之法，針灸為先，靈素所論，皆為鍼灸而設，即治傷寒，亦皆用鍼刺，
熱病篇所載是也，至仲景專以湯劑治傷寒，尤為變化神妙，然亦有湯劑所必不能
愈，而必用刺者，仲景亦不能舍此而為治，後人豈可不知，故另考明諸穴，以附
於後。</p>
<h5>尸厥</h5>
<p>少陰脈不至，腎氣微，少精血，奔氣促迫，上入胸膈，宗氣反聚，血結心下，陽
氣退下，熱歸陰股，與陰相動，令身不仁，此為尸厥，當刺期門巨闕，
見平脈法，
期門二穴，在第二肋端，不容穴傍，各一寸五分，上直兩孔，足太陰厥陰陰維之
會，舉臂取之，刺入四分，灸五壯，肝募也。巨闕一穴，在鳩尾下一寸，任脈氣
所發，刺入六分，留七呼，灸五壯，心募也。
傷寒腹滿讝語，寸口脈浮而緊，此肝乘脾也，名曰縱，刺期門。
縱者，剋其所勝，放縱不收也。
傷寒發熱，嗇嗇惡寒，大渴欲飲水，其腹必滿，自汗出，小便利，其病欲解，此
肝乘肺也，名曰橫，刺期門。
橫者，犯其所不勝，橫逆犯上也，刺期門，皆所以洩肝之盛氣，期門穴見前。
太陽與少陰併病，頭頸強痛，或眩冒，時如結胸，心下痞鞕者，當刺大椎第一
間，肺俞肝俞，慎不可發汗，發汗則讝語，脈弦五六日，讝語不止，刺期門。
大椎一穴，在第一椎陷者中，三陽督脈之會刺入五分，灸九壯。肺俞二穴，在第
三椎下兩旁，各一寸五分，刺入三分，留七呼，灸三壯。肝俞二穴，在第九椎下
兩旁，各一寸五分，留六呼，灸三壯。
太陽少陽併病，心下鞕，頸項強而眩者，當刺大椎肺俞肝俞，慎勿下之。陽明
病，下血讝語者，此為熱入血室，但頭汗出者，刺期門，隨其熱而瀉之，濈然
汗出者愈。
此男子熱入血室之症，婦人亦有之，見小柴胡條下。
凡治溫病，可刺五十九穴。
內經熱俞五十九，頭上五行，行五者，以越諸陽之熱逆也，大杼膺俞缺盆背俞，
此八者，以瀉胸中之熱也，氣衝三里巨虛上下廉，此八者，以瀉胃中之熱也，雲
門髃骨委中髓空，此八者，以瀉四支之熱也，五臟俞旁五，此十者，以瀉五臟
之熱也，凡五十九穴者，皆熱之左右也。</p>
