<header data-type="book">
<h1>立齋外科發揮</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1528">公元1528年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00584_0031/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>醫家內外科實相表裡，惟小兒為難治，故謂之「啞科」。雖瘡瘍為有形之症，然亦必先審乎脈。脈也者，氣血之運也。天以陰陽之運成四時，人以氣血之運成一身，以氣血之運定於所賦，移於所感，是故人有老少強弱之等，而脈亦有盛衰虛實之異。故療病治瘡瘍者，皆當先辨其有餘、不足，而為主客、緩急之施則善矣。其見於東垣、丹溪、河間、仲景之論，可考而知也。吾切嘆夫世之庸醫，未嘗讀書明理，以瘡瘍試方藥，而遂誤人者，不少也。嘗見南京判院薛君《外科心法》，精當切要，可傳，而許其有扶困起廢之仁。一日，持是編以告余先君，子欲以隨治驗方萃以成編，庶克濟人，且以自驗其力。余承先意，乃今分症異，欲而錄其既驗者，尤致詳於有餘不足之辨，而為虛實主客之宜。欲鋟諸梓以傳，庶有便於窮鄉下邑之無名醫者，不獨自驗而已也。少宰蒲汀李公嘗見之，標曰：《立齋外科發揮》，子盍敘之。余惟君子不忘乎親，不私其有。夫不忘其親之謂孝，不私其有之謂仁，孝則仁，仁則公，公則溥。君之是編，其真君子之用心哉！吾儒以推己及物求仁，而欲措天下於仁壽之域。是編之行，於人必大有濟，故為之敘，以推廣而傳之。</p>
<p><u>嘉靖戊子秋孟月朔，南京刑部員外郎前進士郡人張淮敘。</u></p>

<h1>卷一</h1>

<h2>腫瘍（謂瘡瘍未出膿者）</h2>
<p>腫高焮痛脈浮者，邪在表也，宜托之；腫硬痛深脈沉者，邪在內也，宜下之；外無焮腫，內則便利調和者，邪在經絡也，當調榮衛；焮痛煩躁，或咽乾作渴者，宜降火；焮痛發熱，或拘急，或頭痛者，邪在表也，宜散之；大痛，或不痛者，邪氣實也，隔蒜灸之，更用解毒；煩躁飲冷，焮痛脈數者，邪在上也，宜清之；惡寒而不潰者，氣實兼寒邪也；宜宣而補之；焮痛發熱，汗多大渴，便秘譫語者，結陽證也，宜下之；不作膿，或熟而不潰者，虛也，宜補之。</p>
<p>一男子胸患癰，腫高焮痛，脈浮而緊，以內托復煎散二劑，表證悉減；以托裡消毒散，四劑而消。</p>
<p>一男子腹患癰，腫硬愈悶，煩熱便秘，脈數而實。以黃連內疏湯，一劑少愈；以黃連解毒湯，二劑頓退；更以金銀花散四劑，出水而消。</p>
<p>一男子患腿痛而不焮腫，內亦便利調和，用托裡榮衛湯數劑而消。</p>
<p>一婦人項患毒，焮痛發寒熱。以荊防敗毒散，二劑少愈；以小柴胡湯，加連翹、牛蒡子、桔梗，四劑而消。</p>
<p>一男子肩患毒，焮痛飲冷，煩躁便秘，脈數而實。以清涼飲二劑少愈；以金銀花散四劑悉退；又以十宣散，去桂加天花粉、金銀花，數劑，瘡頭潰而痊。</p>
<p>一婦人臂患腫，惡寒不作膿。以十宣散六劑而潰；以托裡散數劑而瘳。</p>
<p>一男子患癰，腫硬疼痛，發熱煩躁，飲冷，脈沉實，大便秘，乃邪在臟也。用內疏黃連湯疏通之。以絕其源。先投一劑，便行一次，勢退一二；再進一劑，諸證悉退；乃用黃連消毒散，四劑而消。</p>
<p>一男子內股患毒，腫硬痛甚，不作膿。隔蒜灸五十餘壯，勢退七八；以仙方活命飲，四劑而膿成；用十宣散，六劑膿潰而愈。凡瘡大痛，或不痛麻木，灸最良。</p>
<p>一婦人臂腫，未成膿，飲食少思，遇勞作痛發熱。以補中益氣湯二劑，痛少止；以補氣血健脾胃藥而消。</p>
<p>一男子素弱，胸患癰，飲食少而倦。以六君子湯加芎、歸、黃耆，膿成，針之；更以托裡藥而愈。</p>
<p>一婦人脅患癰，未成膿，惡寒脈緊。以十宣散加柴胡二劑，表證悉退；更以托裡散數劑，膿潰而愈。</p>
<p>一婦人臂患毒腫硬，咽喉壅塞，四肢逆冷，發寒熱。以五香連翹湯二劑，頓愈；以瘡科流氣飲四劑而消。</p>
<p>一男子臂患癰，脈弦緊有力。以白芷升麻湯二劑頓退；又二劑而消。</p>
<p>一婦人肩下患毒，脈弦緊。以白芷升麻湯二劑，表證已退；更以托裡藥潰之而愈。</p>
<p>一男子臂患癰，不作膿。灸以豆豉餅，及飲托裡藥三十餘劑而潰，又月餘而瘳。</p>
<p>一男子膿熟不潰，予欲針之，補以托裡。彼不信，乃服攻毒藥，及致噁心少食，始悟而用針。更以六君子湯，加藿香、當歸四劑，稍可；再以加味十全大補湯，數劑而斂。凡瘡膿熟，不行針刺，膿毒侵蝕，輕者難療，重者不治。老弱之人，或偏僻之處，及緊要之所，若一有膿，宜急針之，更以托裡，庶無變證。</p>
<p>一男子患毒作痛。服寒涼藥，痛雖止而食愈少，瘡亦不潰。以六君子湯而食進，再以托裡藥潰之而愈。大抵瘡疽之證，寒熱虛實，皆能為痛。熱毒之痛者，以寒涼之劑折之。寒邪之痛者，以溫熱之劑散之。因風而痛者，除其風。因濕而痛者，導其濕。燥而痛者潤之。塞而痛者通之。虛而痛者補之。實而痛者瀉之。膿鬱而閉者開之。惡肉侵蝕者去之。陰陽不和者調之。經絡秘澀者利之。慎勿概用寒涼之藥。況血脈喜溫而惡寒，若冷氣入里，血即凝滯，反為難瘥之證矣。</p>
<p>一男子素弱，肘患腫。欲內消，服涼藥，反致作瀉少食。以二神丸及香砂六君子湯加肉豆蔻而瀉止，食進；又以托裡藥，而腫亦消。丹溪云：癰疽因積毒在臟腑，當先助胃壯氣，使根木堅固。次以行經活血藥佐之，參以經絡時令，使毒氣外發，施治之早，可以內消。此內托之意也。又云：腫瘍內外皆壅，宜以托裡表散為主。如欲用大黃，寧無孟浪之非？潰瘍內外皆虛，宜以補接為主。如欲用香散，未免虛虛之失。大抵癰腫之證，不可專泥於火為患。經云：營氣不從，逆於肉理，乃生癰腫。又云：形傷痛，氣傷腫，六淫七情，皆能致之。況稟有虛實，及老弱不同，豈可概用寒涼之藥？設若毒始聚，膿未作，勢不盛，庶可消。尤當推其病因，別其虛實，若概用寒涼藥，必致誤事。如膿將成，邪盛氣實，用消毒之劑，先殺其毒，雖作膿不為大苦，潰亦不甚。若就用托裡，必益其勢。如膿將成不成及不潰，方用托裡。膿成勢盛者針之，膿一出，諸證悉退矣。</p>
<p><u>附方</u></p>
<p><u>內托復煎散</u>　治瘡瘍腫焮在外，其脈多浮。邪氣勝，必侵內，宜用此藥托之。</p>
<p>地骨皮　黃芩（炒）　茯苓　白芍藥（炒）　人參　黃耆（鹽水拌炒）　白朮（炒）　桂皮　甘草（炙）　防己（酒拌）　當歸（酒拌，各一錢）　防風（二錢）㕮咀，先以蒼朮一升，水五升，煎。去朮，入藥，再煎至二升，終日飲之。蒼朮渣外，再煎服。</p>
<p><u>托裡消毒散</u>　治瘡疽已攻發不消者，宜服此藥，未成即消，已成即潰，腐肉易去，新肉易生。如有瘡口，宜貼膏藥。斂即不用，切不可用生肌之藥。</p>
<p>人參　黃耆（鹽水拌炒）　當歸（酒拌）　川芎　芍藥（炒）　白朮（炒）　茯苓（各一錢）　白芷　金銀花（各七分）　甘草（五分）　作一劑，用水二鍾，煎至八分，瘡在上下，食前後服之。</p>
<p><u>內疏黃連湯</u>（一名黃連內疏湯）　治瘡瘍腫硬，發熱作嘔，大便秘澀，煩躁飲冷，嘔啘心煩，脈沉實。此邪在臟也。急服以內除之，使邪不得犯經絡。</p>
<p>黃連　山梔　當歸（酒拌）　芍藥　木香　檳榔　黃芩　薄荷　桔梗　甘草（各一錢）　連翹　大黃（炒，各二錢）　作一劑，水二鍾，煎八分，食前服。</p>
<p><u>黃連解毒湯</u>（方見瘡瘍作嘔門）</p>
<p><u>荊防敗毒散</u>（方見疔瘡門）</p>
<p><u>隔蒜灸法</u></p>
<p><u>仙方活命飲</u></p>
<p><u>清涼飲</u></p>
<p><u>十宣散</u>（四方見發背門）</p>
<p><u>香砂六君子湯</u>（方見作嘔門）</p>
<p><u>破棺丹</u>（方見發背門）</p>
<p><u>托裡散</u>　治瘡瘍飲食少思，或不腐，不收斂。</p>
<p>人參　黃耆（鹽水拌炒）　當歸（酒拌）　川芎　白朮（炒）　茯苓　芍藥（各一錢）　厚朴（薑製）　白芷　甘草（各五分）　作一劑，水二鍾，煎八分服。</p>
<p><u>代針膏</u>　治瘡瘍膿熟不潰。</p>
<p>乳香（二分）　白丁香（細直者是）　巴豆（去殼炒焦）　鹼（各五分）　為末，熱水調，點瘡頭上，常以鹼水潤之，勿令乾也。</p>
<p><u>托裡榮衛湯</u>　治瘡瘍外無焮腫，內亦便利調和，乃邪在經絡，宜用此藥調理。</p>
<p>黃耆（炒）　紅花（各一錢）　桂枝（七分）　蒼朮（米泔浸炒）　柴胡　連翹　羌活　防風　當歸身（酒拌）　甘草（炙）　黃芩　人參（各一錢）　作一劑，酒水各一鍾，煎八分，食遠服。</p>
<p><u>金銀花散</u>（方見作嘔門）</p>
<p><u>小柴胡湯</u>（方見瘰癧門）</p>
<p><u>黃連消毒散</u>（方見腦疽門）</p>
<p><u>補中益氣湯</u>（方見潰瘍發熱門）</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）</p>
<p><u>五香連翹湯</u>　治諸瘡初覺，一二日便厥逆，咽喉塞，寒熱。</p>
<p>沉香　木香　麝香　連翹　射干　升麻　丁香　獨活　桑寄生　甘草（炙，各一錢）　大黃　木通　乳香（各一錢五分）　每服五錢，水一鍾，煎八分，溫服，取利。</p>
<p><u>瘡科流氣飲</u>（方見流注門）</p>
<p><u>白芷升麻湯</u>　治手臂患癰，左右手脈皆短，中按之俱弦，按下洪緩有力，此得之八風之變也。</p>
<p>白芷（一錢五分）　升麻　桔梗（各一錢）　生黃芩（二錢）　紅花　甘草（炙，各五分）　酒黃芩　黃耆（各一錢）　作一劑，水一鍾半，煎八分，食遠服。</p>
<p><u>豆豉餅</u>（方見臀癰門）</p>
<p><u>二神丸</u>（方見作嘔門）</p>

<h2>潰瘍（謂瘡瘍已出膿者）</h2>
<p>膿熟不潰者，陽氣虛也，宜補之；瘀肉不腐者，宜大補陽氣，更以桑木灸之；膿清，或不斂者，氣血俱虛，宜大補；膿後食少無睡，或發熱者，虛也，宜補之；倦怠懶言，食少不睡者，虛也，宜補之；寒氣襲於瘡口，不斂或陷下不斂者，溫補之；脈大無力，或澀微者，氣血俱虛也，峻補之；出血或膿多，煩躁不眠者，乃亡陽也，急補之。</p>
<p>一男子患癰，膿成不潰，投以補劑而潰，更以健脾藥而愈。丹溪云：「氣血壯實，膿自湧出。」信夫。</p>
<p>一男子潰而瘀肉不腐，以參、耆、歸、術，峻補氣血，更以桑木灸之，腐而愈。</p>
<p>一童子腋下患癰，不斂膿清，脈大倦怠，懶食少寐，自汗口乾。以內補黃耆湯，及豆豉餅灸之，兩月而愈。凡瘡膿潰而清，或瘡口不合，或聚腫不赤，肌寒肉冷，自汗色脫者，皆氣血俱虛也。非補不可。</p>
<p>一男子腰患毒，膿熟不潰，針之膿大泄，反加煩躁。以聖愈湯四劑而寧，更以人參養榮湯，加麥門冬、五味子，兩月而愈。此人後患濕氣，遂為痼疾。凡瘡膿血去多，瘡口雖合，尤當補益。務使氣血平復，否則更患他證，必難治療，慎之。</p>
<p>一婦人患臂癰，瘡口紫陷，膿清不斂。彼以為毒未盡，欲服攻毒之劑。余謂：「瘡瘍之證，腫起堅硬。膿稠者，實也。腫下軟漫，膿稀者，虛也。」遂用附子餅灸之，及飲十全大補湯，百劑始愈。</p>
<p>一婦人患附骨癰，久而不斂，致腿細短軟，脈來遲緩。以十全大補湯加牛膝、杜仲，及附子餅灸之，兩月餘而愈。凡膿潰之後，脈澀遲緩者易愈，以其有胃氣故也。脈來細而沉時直者，裡虛而欲變證也。若煩痛尚未痊也，洪滑粗散者，難療。以其正氣虛而邪氣實也。</p>
<p>一男子風襲瘡口，牙關緊急，腰背反張。以玉真散一服而愈，仍以托裡藥而斂。</p>
<p>一男子患癰將斂，遍身作癢，脈浮。以消風散二服而止，更以托裡藥而愈。</p>
<p>一男子肩下患疽，已數日，漫腫微痛，頭甚多，皆如粟許，色不變，不起發，此氣血虛也，診其脈，果然。先以仙方活命飲二劑，殺其大勢。更以托裡藥而起發，瘡頭雖潰，但流血水，氣血尚虛，不能為膿也。彼欲服太乙錠子。余謂：「此藥上能攻毒，不能托裡。」彼不深信，仍服之，至四次，飲食不進，瘡色黑陷，吃逆不絕，胃氣虛極也，不治。強投溫中健脾之劑，不應而死。　一男子近脅患此，腫而不潰，投大補之劑，潰而已愈。後患弱證而歿。一男子腰中患此，發而不潰，其氣血止能發起，不能培養為膿也，投大補藥數劑而潰，又數劑膿出尚清。乃服參耆歸術膏斤余，膿少稠，數斤，膿漸稠，肌肉頓生。凡大癰疽，借氣血為主，若患而不起，或潰而不腐，或不收斂，及膿少或清，皆氣血之虛也，宜大補之。最忌攻伐之劑。亦有膿反多者，乃氣血虛而不能禁止也。若潰後發熱作渴，脈大而膿愈多，屬真氣虛而邪氣實也，俱不治。常見氣血充實之人，患瘡皆腫高色赤，易腐潰而膿且稠，又易於收斂。怯弱之人，多不起發，不腐潰，及難於收斂。若不審察而妄投攻劑，虛虛之禍不免矣。及患後當調養，若瘰癧流注之證，尤當補益也。否則更患他證，必難措治，慎之。</p>
<p>一男子肩患毒，腫硬作痛，惡證迭見。用白礬末三錢糊丸，以蔥頭七莖，煎湯調下，腫痛悉退。再服，諸證亦退，更以仙方活命飲二劑，出水而消。此秘方名：「千金化毒湯」，本礬末蔥湯調服，因末難服，故易為丸。一方士治瘡疽，不問腫潰，先用此藥二三服，後用消毒藥，甚效。常治芻蕘之人，用此即退，不用托裡藥亦愈。蓋止熱毒為患，血氣不虧故也。若金石毒藥發疽者，尤效。蓋礬又能解金石之毒也。一方用礬末五錢，硃砂五分，熱酒下，亦效。此藥托裡固內，止瀉解毒排膿，不動臟腑，不傷氣血，有益無損。其藥易得，其功甚大，偏僻之處，不可不知。此方或蟲犬所傷，溶化熱塗患處，更以熱酒調末服，皆效。</p>
<p>一男子胸患癰，焮痛煩躁，發熱作渴，脈數而實。時季冬，余謂：「此熱毒內蓄也，須舍時從證。」欲治以內疏黃連湯。彼以時當隆冬，乃雜用敗毒藥，愈熾。仍求治，投前湯二劑後，去二次，諸證悉退。以金銀花散加連翹、山梔四劑，出水而消。大抵證有主末，治有權宜，治其主，則末病自退。用其權，則不拘於時。泥於守常，必致病勢危甚。況雜用攻劑，動損各經，故丹溪云：凡瘡發於一經，只當求責本經，不可干擾余經。羅謙甫云：守常者眾人之見，知變者智者之事，知常而不知變，細事因而取敗者多矣。</p>
<p>一上舍年逾四十，因怒，脅內作痛不止。數日後，外結一塊三寸許，漫腫，色不赤，按之微痛。余謂：「怒氣傷肝，致血傷氣鬱為患。」以小柴胡湯對四物，倍用芎、歸、黃耆、貝母、肉桂治之。彼謂丹溪云：腫瘍內外皆壅，宜托裡表散為主。又云：凡瘡未破，毒攻臟腑，一毫熱藥，斷不可用。況此證為氣血凝滯，乃服流氣飲，愈虛，始信而復求治。視之，虛證並臻。診之，胃氣更虛。彼欲服余前藥。余謂：「急者先治。」遂以四君子湯加酒炒芍藥、炮乾薑四劑，少得。更加當歸，又四劑胃氣漸醒。乃去乾薑，又加黃耆、芎、歸、肉桂數劑，瘡色少赤，並微作痛。又二十餘劑而膿成，針之，卻與十全大補湯。喜其謹疾，又兩月餘而瘳。夫氣血凝滯，多因營衛之氣弱，不能運散，豈可復用流氣飲，以益其虛？況各經血氣，多寡不同，心包絡膀胱小腸肝經，多血少氣，三焦膽腎心脾肺，少血多氣。然前證正屬膽經少血之臟，人年四十以上，陰血日衰，且脈證俱屬不足，腫瘍內外皆壅，宜托裡表散為主。乃補氣血藥，而加之以行散之劑，非專攻之謂也。若腫焮痛甚，煩躁，脈大。辛熱之劑，不但腫瘍不可用，雖潰瘍亦不可用也。凡患者，須分經絡氣血，地部遠近，年歲老幼，稟氣虛實，及七情所感，時令所宜而治之。常見以流氣、十宣二藥，概治結腫之證，以致取敗者多矣。</p>
<p><u>附方</u></p>
<p><u>桑木灸法</u>　治發背不起發，或瘀肉不腐潰，陰瘡瘰癧，流注臁瘡，頑瘡惡瘡，久不愈者。須急用此法，未潰則拔毒止痛，已潰則補接陽氣，誠良方也。用桑木燃著，吹熄焰，用火灸患處，每次灸片時，以瘀肉腐動為度。丹溪云：火以暢達，拔引郁毒。此從治之意也。</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）　治瘡潰膿清，或不潰不斂，皆由元氣虛弱，不能營運。服此生血氣，壯脾胃，兼補諸虛。</p>
<p><u>黃耆人參湯</u>（方見同前）</p>
<p><u>內補黃耆湯</u>（方見潰瘍作痛門）</p>
<p><u>豆豉餅</u></p>
<p><u>附子餅</u>（二方見臀癰門）</p>
<p><u>聖愈湯</u>（方見杖瘡門）</p>
<p><u>人參養榮湯</u>（方見潰瘍發熱門）</p>
<p><u>玉真散</u>（方見杖瘡門）</p>
<p><u>消風散</u>（方見瘡疥門）</p>

<h2>潰瘍作痛</h2>
<p>膿出而反痛者，虛也，宜補之；脈數虛而痛者，屬虛火，宜滋陰。脈數實而痛者，邪氣實也，宜泄之；脈實便秘而痛者，邪在內也，宜下之；脈澀而痛者，氣血虛寒也，溫補之。</p>
<p>一男子患毒，潰後作痛，肢體倦怠，瘡口不合，飲食不甘。以六君子湯加黃耆、川芎、當歸，四劑而愈。更以托裡散月餘而斂。</p>
<p>一男子潰後作痛，脈數而無力。以托裡散加生地黃、黃柏，二劑而止。更以托裡散數劑而安。</p>
<p>一男子潰後發熱，左手脈數而有力。以人參敗毒散，一劑而止。更以托裡散而瘥。</p>
<p>一男子潰後發熱，焮痛不止，煩躁便秘，右手脈沉實。以清涼飲，一劑而止。更以托裡消毒散，四劑而瘳。</p>
<p>一男子潰後作痛而脈澀。以定痛托裡散飲之，敷乳香定痛散而止。更以托裡散數劑而愈。</p>
<p>一男子潰而作痛，脈浮緊。以內補黃耆湯，四劑而止。又二十餘劑而愈。</p>
<p>一男子項患毒，潰而作痛。以參、耆、地黃、芎、歸補之而止。更以八珍湯加黃耆、桔梗，三十餘劑而愈。</p>
<p>一男子患癰，潰而作痛，脈軟而澀。余謂氣血虛，欲補之。彼不信，乃服攻伐之劑，反發寒熱，始信之。仍投大補藥而痊。大抵瘡之始作也，先發為腫，氣血鬱積，蒸肉為膿，故多痛。膿潰之後，腫退肌寬，痛必漸減，若反痛，乃虛也。丹溪云：膿出而反痛，此為虛也，宜以補之。亦有穢氣所觸者，和解之。風寒所逼者，溫散之。齊氏云（名德之元太醫令：瘡疽之證，有臟腑氣血上下，真邪虛實不同也，不可不辨。如腫起堅硬膿稠者，瘡疽之實也。腫下軟漫膿稀者，瘡疽之虛也。瀉痢腸鳴，飲食不入，嘔吐無時，手足並冷，脈弱皮寒，小便自利，或小便時難，大便滑利，聲音不出，精神不爽者，悉臟腑之虛也。大便硬，小便澀，飲食如故，腸滿膨脹，胸膈痞悶，肢節疼痛，口苦咽乾，煩躁多渴，身熱脈大，精神昏塞者，悉臟腑之實也。凡諸瘡疽，膿水清稀，瘡口不合，聚腫不赤，肌寒肉冷，自汗色脫者，氣血之虛也。腫起色赤，寒熱疼痛，皮膚壯熱，膿水稠黏，頭目昏重者，氣血之實也。頭痛鼻塞，目赤心驚，咽喉不利，口舌生瘡，煩渴飲冷，睡語咬牙者，上實也。精滑不禁，大便自利，腳腰沉重，睡臥不寧者，下虛也。肩項不便，四肢沉重，目視不正，睛不了了，食不知味，音嘶色敗，四肢浮腫者，真氣虛也。腫焮尤甚，痛不可近，多日不潰，寒熱往來，大便秘澀，小便如淋，心神煩悶，恍惚不寧者，邪氣之實也。又曰：真氣奪則虛，邪氣勝則實。又曰：諸痛，為癢為虛也。又曰：診其脈洪大而數者，實也。細微而軟者，虛也。虛則補之，和其氣托裡也。實則瀉之，疏利而導其氣。《內經》謂：血實則決之，氣虛則掣引之。</p>
<p><u>附方</u></p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>清涼飲</u>（方見發背門）</p>
<p><u>定痛托裡散</u>　治瘡瘍血虛疼痛之聖藥也。</p>
<p>粟殼（去蒂炒，二錢）　當歸（酒拌）　白芍藥（炒）　川芎（各錢半）　乳香　沒藥　桂（各一錢）　作一劑，水二鍾，煎八分服。</p>
<p><u>乳香定痛散</u>　治瘡瘍疼痛不可忍。</p>
<p>乳香　沒藥（各二錢）　寒水石（煅）　滑石（各四錢）　冰片（一分）　為細末，搽患處，痛即止。甚妙。此方乳沒性溫，佐以寒劑制之。故寒熱之痛，皆有效也。</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>托裡散</u></p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>內補黃耆湯</u>　治潰瘍作痛，倦怠少食，無睡自汗，口乾或發熱，久不愈。</p>
<p>黃耆（鹽水拌炒）　麥門冬（去心）　熟地黃（酒拌）　人參　茯苓（各一錢）　甘草（炙炒，三分）　白芍藥（炒）　遠志（去心炒）　川芎　官桂　當歸（酒拌各五分）　作一劑，水二鍾，姜三片，棗一枚。煎八分，食遠服。</p>
<p><u>八珍湯</u>（方見潰瘍發熱門。）</p>

<h1>卷二</h1>

<h2>潰瘍發熱（附惡寒）</h2>
<p>脈浮或弱而熱，或惡寒者，陽氣虛也，宜補氣。脈澀而熱者，血虛也，宜補血。午前熱者，補氣為主。午後熱者，補血為主。脈浮數，發熱而痛者，邪在表也，宜散之。脈沉數，發熱而痛者，邪在內也，宜下之。</p>
<p>一男子潰後發熱作痛，脈浮數，按之無力，勞而尤甚。以補中益氣湯治之而止；更以十全大補湯而愈。常治左手脈小於右手而熱者，用血藥多於氣藥。右手脈小於左手而熱者，用氣藥多於血藥。</p>
<p>一男子潰後發熱，頭痛脈浮緊，虛而兼表邪也。以補中益氣湯加川芎、白芷，二劑而止，更以托裡藥而愈。</p>
<p>一婦人潰後發熱少寐，四肢倦怠。以黃耆人參湯治之而安，更以十全大補湯，加貝母、遠志、麥門冬、酸棗仁、香附，月餘而斂。</p>
<p>一婦人潰後發熱，服清熱敗毒藥愈甚，診之脈澀，以四物湯加粟殼，乳香、沒藥，二劑少止，又二劑而安。</p>
<p>一男子潰後發熱，頭微痛，日晡尤甚。脈浮，按之則澀。以人參養榮湯加柴胡、地骨皮而愈，又月餘而斂。</p>
<p>一男子潰而惡寒，用四君子湯加桂，倍用黃耆、大料，四劑而止。膿水尚多，投八珍湯加桂，數劑漸少。惟瘡口不合，以附子餅，及十全大補湯，每劑加炮附子五分，數劑乃去附子，又服月餘而愈。</p>
<p>一男子潰後，將愈，因勞四肢發熱，煩躁不寐。以聖愈湯四劑而寧，更以托裡藥而愈。丹溪云：有四肢熱，逢風寒，如炙於火者，是人陰氣虛而陽氣盛也。</p>
<p>一男子潰後，畏寒脈虛。以四君子加炮姜，四劑而愈。以十全大補湯，月餘而斂。仲景云：脈虛則血虛，血虛生寒，陽氣不足也。瘡腫脈虛，宜托裡，和養血。信夫！</p>
<p>一癧婦發熱，日晡愈甚，乃血氣虛也。治以四物湯加柴胡、地骨皮而愈。</p>
<p>一婦人潰後發熱，服涼藥，反畏寒。以十全大補湯，二劑而止，又以托裡藥而痊。</p>
<p>一男子潰後發熱，服涼藥益甚。診之脈浮，乃氣虛也。以補中益氣湯加五味子、麥門冬治之而止，更以托裡藥而斂。</p>
<p>一婦人潰後發熱，脈浮而數，虛而兼表證也。以補中益氣湯倍用柴胡、升麻，一劑而止，以托裡月餘而斂。</p>
<p>一男子患癰，潰而飲酒，焮痛發熱。服黃連解毒湯，二劑而止，更以托裡消毒散而愈。常治痛而大便秘，脈實者，用清涼飲治之。</p>
<p>一男子膿熟不潰，微痛少食，倦怠發熱。余為針之，膿湧出，熱益甚，乃虛也。急以人參黃耆湯二劑，熱愈甚，此藥力尚未及也。又二劑，果應。再以當歸補血湯數劑而痊。東垣云：發熱惡熱，大渴不止，煩躁肌熱，不欲近衣，脈洪大，按之無力，或目痛鼻乾者，非白虎湯證也。此血虛發躁，當以當歸補血湯主之。又有火鬱而熱者，如不能食而熱，自汗氣短者，虛也。以甘寒之劑，瀉熱補氣。如能食而熱，口舌乾燥，大便難者，以辛苦大寒之劑下之，以瀉火補水。</p>
<p>一男子患漏，時值陰寒，忽惡寒，右手脈有而似無，此胃氣虛而不任風寒也。以四君子湯加炮薑、肉桂，一劑稍止，又四劑而安。丹溪云：惡寒者，衛氣虛衰，不能溫分肉實表而惡寒者，又有上焦之邪，隔絕榮衛，不能升降出表而惡寒者。東垣云：夜則惡寒，晝則安靜，是陰血自旺於陰分也。夜則惡寒，晝亦惡寒，是重陰無陽也。當亟瀉其陰，峻補其陽。夜則安靜，晝則惡寒，是陰氣上溢於陽中也。</p>
<p>一婦人多怒，手背患瘡出血，至夜發熱妄語。服清心涼血藥，不應，乃熱入血室而然也。遂以加味小柴胡湯，二劑血止，而熱亦清矣。大抵七情皆能動火，各經之熱亦異，當分治之。東垣曰：晝則發熱，夜則安靜，是陽氣自旺於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也，名曰熱入血室。晝則發熱煩躁，夜則發熱煩躁，是陽無陰也。當亟瀉其陽，峻補其陰。王注云：病熱而脈數，按之不鼓動，乃寒盛格陽而致之，非熱也。形證是寒，按之而脈氣鼓擊於手下盛者，此為熱盛，拒陰而生病，非寒也。又曰：推而內之，外而不內，身有熱也。《傷寒論》曰：寸口脈微，為陽不足。陰氣上入陽中，則灑淅惡寒，尺脈弱，為陰不足。陽氣下陷入陰中，則發熱也。以手捫摸有三法，以輕手捫之則熱，重按之則不熱，是熱在皮毛血脈也。重按之至筋骨之分，則熱蒸手極甚，輕手則不熱，是邪在筋骨之間也。輕手捫之則熱，重力以按之不熱，不輕不重按之而熱，是在筋骨之上，皮毛血脈之下，乃熱在肌肉也。　肺熱者，輕手乃得，微按全無，日晡熱甚，乃皮毛之熱，其證必見喘咳。寒熱輕者瀉白散，重者涼膈散、地骨皮散。　心熱者，微按至皮膚之下，肌肉之上，輕手乃得。微按至皮毛之下則熱，少加力按之則不熱，是熱在血脈也。其證煩心，心痛，掌中熱而噦。以黃連瀉心湯、導赤散、硃砂安神丸。脾熱者，輕手摸之不熱，重按至筋骨又不熱，不輕不重，在輕手重手之間，熱在肌肉，遇夜尤甚。其證必怠惰嗜臥，四肢不收，無氣以動。瀉黃散。肝熱者，重按之，肌肉之下，至骨之上，乃肝之熱。寅卯間尤甚。其脈弦，四肢滿悶，便難轉筋，多怒多驚，四肢困熱，筋痿不能起於床。瀉青丸、柴胡飲子。　腎熱者，輕手重手俱不熱。重手按至骨分，其熱蒸手如火。其人骨蘇蘇如蟲蝕，其骨困熱不任，亦不能起於床。滋腎丸主之。按徐用誠云：手太陰少陰，足太陰厥陰少陰本病，為皮毛肌肉骨分熱也。然面熱者，足陽明。口中熱如膠，足少陰。　口熱舌乾，足少陰。　耳前熱，苦寒，手太陽。掌中熱手厥陰少陰太陰。　足下熱而痛，足少陰。　足外熱，足少陽。　身熱膚痛，手少陰。身前熱，足陽明。　灑淅寒熱，手太陽。　肩上熱，肩似拔，手太陽。中熱而喘，足少陰。肩背熱，及足小指外，臁脛踝後，皆屬足太陽。　一身盡熱，狂而妄聞妄見妄言，足陽明。熱而筋縱緩不收，陰痿。足陽明闕陰手少陰。與前熱在氣血之分，皆諸經現證。臟腑陰陽，是動所生之本病也。</p>
<p><u>附方</u></p>
<p><u>十全大補湯</u>　治潰瘍發熱，或惡寒，或作痛，或膿多，或清，或自汗盜汗及流注瘰癧便毒。久不作膿，或膿成不潰，潰而不斂。若血氣不足之人，結腫未成膿者，宜加枳殼、香附、連翹，服之自消。</p>
<p>人參　肉桂　地黃（酒洗蒸焙）　川芎　白芍藥（炒）　茯苓　白朮（炒）　黃耆（鹽水拌炒）當歸（酒拌，各一錢）　甘草（炙五分）　作一劑，用水二鍾，姜三片，棗二枚，煎八分，食前服。</p>
<p><u>四君子湯</u>（方見痔漏門）</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>人參敗毒散</u>　治一切瘡瘍焮痛，發寒熱，或拘急頭痛，脈數有力者。</p>
<p>人參　羌活　獨活　前胡　柴胡　桔梗　枳殼　茯苓　川芎　甘草（各一錢）　作一劑，用水二鍾，煎八分，食遠服。</p>
<p><u>清涼飲</u>（方見發背門）</p>
<p><u>當歸補血湯</u>　治瘡瘍潰後，氣血俱虛，肌熱躁熱，目赤面紅，煩渴引飲，晝夜不息。脈洪大而虛，重按全無，此脈虛血虛也。若誤服白虎湯必死，宜此主之。</p>
<p>黃耆（炙）　當歸（酒拌）　作一劑，水一鍾半，煎六分服。</p>
<p><u>補中益氣湯</u>　治瘡瘍之人，元氣不足，四肢倦怠，口乾發熱，飲食無味，或飲食失節，或勞倦身熱。脈洪大而無力，或頭痛，或惡寒自汗，或氣高而喘，身熱而煩。</p>
<p>黃耆（炙，一錢五分）　甘草　人參　當歸（酒拌）　白朮（炒，各一錢）　升麻　柴胡　陳皮（各三分）　作一劑，水二鍾，姜三片，棗二枚，煎一鍾，空心服。</p>
<p><u>黃耆人參湯</u>　治潰瘍虛熱，無睡少食，或穢氣所觸作痛。</p>
<p>黃耆（鹽水拌炒，二錢）　人參　白朮（炒）　麥門冬（去心）　當歸身（酒拌）　蒼朮（米泔浸，各一錢）　甘草（炒）　陳皮　升麻　神麯（炒，各五分）　黃柏（酒製炒，三分）　五味子（九粒，搗炒）　作一劑，水二鍾，姜三片，棗一枚，煎八分，食遠服。</p>
<p><u>人參養榮湯</u>　治潰瘍發熱，或惡寒，或四肢倦怠，肌肉消瘦，面色痿黃，汲汲短氣，飲食無味，不能收斂。或氣血原不足，不能收斂。若大瘡愈後，多服之，不變他病。</p>
<p>白芍藥（一錢半）　人參　陳皮　黃耆（蜜炙）　桂心　當歸（酒拌）　白朮　甘草（炙，各一錢）熟地黃（酒拌）　五味子（炒搗）　茯苓（各七分半）　遠志（去心炒，五分）　作一劑，水二鍾，姜三片，棗一枚，煎八分，食前服。</p>
<p><u>附子餅</u>（方見臀癰門）</p>
<p><u>八珍湯</u>　調和榮衛，順理陰陽，滋養血氣，進美飲食，退虛熱，此氣血虛之大藥也。</p>
<p>當歸（酒拌）　川芎　芍藥（炒）　熟地黃（酒拌）　人參　白朮　茯苓（各一錢）　甘草（炒，五分）　作一劑，水二鍾，姜三片，棗二枚，煎八分，食前服。</p>
<p><u>聖愈湯</u>（方見杖瘡門）</p>
<p><u>黃連解毒湯</u>（方見作嘔門）</p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>加味小柴胡湯</u>　治婦女熱入血室，致寒熱如瘧，晝則安靜，夜則發熱妄語。</p>
<p>柴胡（二錢五分）　黃芩　人參　生地黃　甘草（各一錢）　半夏（六分）　作一劑，水一鍾半，姜三片，煎八分，食遠服。</p>

<h2>發背</h2>
<p>焮痛，或不痛及麻木者，邪氣盛也，隔蒜灸之。不痛者灸至痛，痛者灸至不痛，毒隨火而散。再不痛者，須明灸之。腫硬痛深脈實者，邪在內也，下之；腫高焮痛脈浮者，邪在表也，托之；焮痛煩躁，或咽乾，火在上也，宜瀉之；腫痛，或不作膿者，邪氣凝結也，宜解之；腫痛飲冷，發熱睡語者，火也，宜清之；不作膿，或不潰，及不斂者，陽氣虛也，宜補之；瘀肉不腐，或積毒不解者，陽氣虛也，宜助陽氣；膿多或清者，氣血俱虛也，宜峻補之；脈浮大或澀，而肌肉遲生者，氣血俱虛也，宜補之；右關脈弱，而肌肉遲生者，宜健脾胃。</p>
<p>一男子患此痛甚，服消毒藥，愈熾。余為隔蒜灸之而止，與仙方活命飲，二劑頓退；更與托裡藥，潰之而愈。</p>
<p>一男子已四日，瘡頭如黍，焮痛背重，脈沉實。與黃連內疏湯，二劑少退；更與仙方活命飲，二劑而消。</p>
<p>一男子焮腫作痛，脈浮數。與內托復煎散，二劑少退；與仙方活命飲，四劑痛止而潰，再與托裡藥而愈。</p>
<p>一婦人發熱煩躁，飲冷，與黃連解毒湯，四劑稍愈；更與托裡消毒散，始潰，與托裡藥而斂。</p>
<p>一男子毒勢熾甚，痛不可忍，諸藥不應。以仙方活命飲二劑，諸證悉退；又二劑而潰，以金銀花散，六劑而愈。</p>
<p>一婦人腫痛發熱，睡語脈大。用清心湯一劑而安；以金銀花、甘草、天花粉、當歸、栝蔞、黃耆，數劑漸潰，更以托裡藥而愈。</p>
<p>一男子腐肉漸脫，而膿微清，飲食無味。以十宣散，去白芷、防風，加茯苓、白朮、陳皮，月餘而斂。</p>
<p>一男子已愈，惟一口不斂，診之脈浮而澀。以十全大補湯，治之而愈。</p>
<p>一男子將愈，但肌肉生遲，診之脾胃俱虛。以六君子湯加芎、歸、五味子、黃耆，治之而愈。</p>
<p>一男子已愈，惟一眼翻出胬肉如菌，三月不愈，乃傷風寒也。以生豬脂調藜蘆末塗之即愈。亦有胬肉出三寸許者，尤宜用此藥也。烏梅塗之亦效，但緩硫黃亦可。</p>
<p>一男子背患毒，焮痛飲冷，發熱多汗，便秘譫語。以破棺丹二丸而寧；以金銀花散四劑，膿成開之，更用托裡藥而愈。　一婦膿成，脹痛不安，針之；投托里消毒藥而即愈。大抵發背之證，雖發熱疼痛，形勢高大，煩渴不寧，脈若有力，飲食頗進，可保無虞，其膿一潰，諸證悉退。多有因膿不得外泄，以致疼痛，若用敗毒寒藥攻之，反致誤事。若有膿，急針之，膿一出，苦楚即止。膿未成，而熱毒作痛者，用解毒之藥。亦有腐潰尺余者，若無惡證，投以大補之劑，肉最易生，亦無所妨。惟豈腫不高，色不赤，不焮痛，脈無力，不飲食，腫不潰，腐不爛，膿水清，或多而不止，肌肉不生，屬元氣虛也。皆難治，宜峻補之。其或膿血既泄，腫痛尤甚，膿水敗臭，煩躁時嗽，腹痛渴甚，瀉利無度，小便如淋，乃惡證也，皆不治。</p>
<p>一弱婦，外皮雖腐，內膿不潰，脹痛煩熱不安。余謂宜急開之，膿一出，毒即解，痛即止，諸證自退。待其自潰，不惟疼痛，潰爛愈深！彼不從，待將旬日，膿尚未出，人已痛疲矣。雖針之，終不能收斂，竟至不起。一男子潰而瘀肉不腐，余欲取之，更以峻補。一婦素弱，未成膿，大痛發熱，余謂須隔蒜灸以拔其毒，令自消，皆不從，俱致不救。常治不問日期陰陽、腫痛或不痛、或痛甚、但不潰者，即與灸之，隨手取效。勢未定者，先用箍藥圍之，若用烏金膏或援生膏，點患處數點尤好。若頭痛拘急，乃表證，先服人參敗毒散一二劑。如焮痛發熱脈數者，用金銀花散，或槐花酒、神效托裡散；如疼痛腫硬脈實者，以清涼飲、仙方活命飲、苦參丸；腫硬木悶，疼痛發熱，煩躁飲冷，便秘脈沉實者，內疏黃連湯或清涼飲；大便已利，欲其作膿，用仙方活命飲、托裡散、蠟礬丸，外用神異膏；如飲食少思或不甘美，用六君子湯加藿香連進三五劑，更用雄黃解毒散洗患處；每日用烏金膏塗瘡口處。俟有瘡口，即用紙作捻，蘸烏金膏，紝入瘡內。若有膿，為脂膜間隔不出，或作脹痛者，宜用針引之；腐肉堵塞者，去之。若瘀肉腐動，用豬蹄湯洗。如膿稠或痛，飲食如常，瘀肉自腐，用消毒與托裡藥相兼服之，仍用前二膏塗貼。若腐肉已離好肉，宜速去之。如膿不稠不稀，微有疼痛，飲食不甘，瘀肉腐遲，更用桑柴灸之，亦用托裡藥。若瘀肉不腐，或膿清稀，不焮痛者，急服大補之劑，亦用桑木灸之，以補接陽氣，解散郁毒。常觀患疽，稍重未成膿者，不用蒜灸之法，及膿熟不開，或待腐肉自去，多致不救。大抵氣血壯實，或毒少輕者，可假藥力，或自腐潰。怯弱之人，熱毒中隔，內外不通，不行針灸，藥無全功矣。然此證若膿已成，宜急開之，否則，重者潰通臟腑，腐爛筋骨，輕者延潰良肉，難於收功，因而不斂多矣。</p>
<p>一男子年逾五十，患已五日。焮腫大痛，赤暈尺余，重如負石，勢熾甚。當峻攻，察其脈又不宜，遂先砭赤處，出黑血碗許，腫痛頓退，背重頓去；更敷神功散，及服仙方活命飲二劑，瘡口及砭處出血水而消。大抵瘡毒勢甚，若用攻劑，怯弱之人必損元氣，因而變證者眾矣。</p>
<p>一婦人半月餘，尚不發起，不作膿，痛甚脈弱，隔蒜灸二十餘壯而止，更服托裡藥，漸潰膿清，而瘀肉不腐。以大補藥，及桑柴灸之漸腐，取之而尋愈。常治一日至四五日未成膿而痛者，灸至不痛，不痛者灸至痛。若灸而不痛，或麻木者，明灸之，毒氣自然隨火而散。腫硬不作膿，焮痛或不痛，或微痛，或瘡頭如黍者，灸之尤效。亦有數日色尚微赤，腫尚不起，痛不甚，膿不作者，尤宜多灸，勿拘日期。更服甘溫托裡藥，切忌寒涼之劑，或瘀血不腐，亦用桑木灸之。若脈數發熱而痛者，發於陽也，可治。脈不數不發痛者，發於陰也，難治。不痛，最惡，不可視為常疾。此證不可不痛，不可大痛。煩悶者，不治。大抵發背、腦疽、大疔、懸癰、脫疽、腳發之類，皆由膏粱厚味，盡力房勞，七情六淫，或丹石補藥，精虛氣怯所致，非獨因榮衛凝滯而生也。必灸之以拔其毒，更辨其因，及察邪在臟腑之異虛實之殊而治之，庶無誤也。</p>
<p>一男子初生如粟，悶痛煩渴，便秘脈數實，此毒在臟也。余謂：「宜急疏去之，以絕其源，使毒不致外侵。」彼以為小恙，乃服尋常之藥，後大潰而歿。　一老婦患之，初生三頭，皆如粟。腫硬木悶煩躁，至六日，其頭甚多。脈大，按之沉細，為隔蒜灸，及托裡，漸起發，尚不潰，又數劑，內外雖腐，惟筋所隔，膿不得出，致脹痛不安。余謂：「須開之」彼不從，後雖自穿，毒已攻深矣，亦歿。大抵發背之患，其名雖多，惟陰陽二證為要。若發一頭，或二頭，其形焮赤，腫高頭起，疼痛發熱為癰，屬陽，易治。若初起一頭如黍，不腫不赤，悶痛煩躁，大渴便秘，睡語咬牙，四五日間，其頭不計數，其瘡口各含如一粟，形似蓮蓬，故名：「蓮蓬髮」。積日不潰，按之流血，至八九日，或數日，其頭成片，所含之物俱出，通結一衣，揭去又結，其口共爛為一瘡，其膿內攻，色紫黯為疽，屬陰，難治。脈洪滑者尚可，沉細尤難，如此惡證，惟隔蒜灸及塗烏金膏，有效。凡人背近脊並𩨹，皮里有筋一層，患此處者，外皮雖破，其筋難潰，以致內膿不出，令人脹痛苦楚，氣血轉虛，變證百出，若待自潰，多致不救，必須開之，兼以托裡。常治此證，以利刀剪之，尚不能去，似此堅物，待其自潰，不亦反傷，非血氣壯實者，未見其能自潰也。</p>
<p>一男子年逾五十患此，色紫腫痛，外皮將潰，寢食不安，神思甚疲，用桑柴灸患處，出黑血，即鼾睡，覺而諸證如失。服仙方活命飲二劑，又灸一次，膿血皆出；更進二劑，腫痛大退；又服托裡消毒散，數劑而斂。夫瘡勢熾甚，宜用峻劑攻之，但年老氣血衰弱，況又發在肌表，若專於攻毒，則胃氣先損，反致誤事。</p>
<p>一婦人發熱致痛，專服降火敗毒藥，潰後尤甚，煩躁時嗽，小便如淋，皆惡證候。辭不治，果死。大抵瘡瘍之證，五善之中，見一二善證者可治；七惡之內，見一二惡證者難治；若虛中見惡證者不救，實中無惡者，自愈。此證雖云屬火，未有不由陰虛而致者，故經云：督脈經虛，從腦而出；膀胱經虛，從背而出。豈可專泥於火。又趙太守患此，腫堅不澤，瘡頭如粟，脈洪大，按之則澀。經云：骨髓不枯，臟腑不敗者，可治。然腫硬色夭，堅如牛領之皮，脈更澀，此精氣已絕矣，不治亦死。</p>
<p><u>附方</u></p>
<p><u>隔蒜灸法</u>　治一切瘡毒大痛，或不痛，或麻木，如痛者，灸至不痛。不痛者，灸至痛，其毒隨火而散。蓋火以暢達拔引郁毒，此從治之法也，有回生之功。用大蒜去皮切一文錢厚，安瘡頭上，用艾壯於蒜上灸之二壯，換蒜復灸未成者即潰，已成者亦殺其大勢，不能為害。如瘡大，用蒜搗爛攤患處，將艾鋪上燒之，蒜敗更換。如不痛，或不作膿，及不發起，或陰瘡，尤宜多灸。灸而仍不痛，不作膿，不起發者，不治。此氣血虛極也。</p>
<p><u>內疏黃連湯</u></p>
<p><u>內托復煎散</u>（二方見腫瘍門）</p>
<p><u>黃連解毒湯</u>（方見作嘔門）</p>
<p><u>仙方活命飲</u>　治一切瘡瘍，未作膿者內消，已成膿者即潰。又排膿止痛，消毒之聖藥也。</p>
<p>穿山甲（用蛤粉炒黃色）　甘草節　防風　沒藥　赤芍藥　白芷　當歸尾　乳香（各一錢）天花粉　貝母（各八分）　金銀花　陳皮（各三錢）　皂角刺（炒黃，一錢）　作一劑，用酒一碗，同入瓶內，紙糊瓶口，弗令泄氣，漫火煎數沸，去渣。分病在上下，食前後服之。能飲酒者，再飲三二杯尤好。</p>
<p>偈曰：「真人妙訣世間稀，一切癰疽總可醫，消毒如同湯沃雪，化膿立見肉生肌。」</p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>清心湯</u>　治瘡瘍腫痛，發熱飲冷，脈沉實，睡語不寧。即防風通聖散，每料加黃連五錢，每劑一兩，水二鍾，煎八分服（方見天泡瘡門。）</p>
<p><u>破棺丹</u>　治瘡瘍熱極，汗多大渴，便秘譫語，或發狂結陽之證。</p>
<p>大黃（二兩五錢，半生半熟）　芒硝　甘草（各二兩）　為末，煉蜜為丸，如彈子大。每服一丸，食後，童便酒化下，白湯化服亦可。</p>
<p><u>十宣散</u>　治瘡瘍，脈緩澀，身倦怠，惡寒，或脈弦，或緊細者，皆宜用之。散風寒，助陽氣也。</p>
<p>人參　當歸（酒拌）　黃耆（鹽水拌炒，各一錢）　甘草（炙）　白芷　川芎　桔梗（炒，各一錢）　厚朴（薑製，五分）　防風　肉桂（各三錢）　作一劑，水二鍾，煎八分服。</p>
<p><u>箍藥</u>　治發背毒甚，胤走不住，此藥圍之而解。</p>
<p>芙蓉葉　白芷　大黃　白芨　山慈菇　寒水石（煅）　蒼耳草　黃柏（炒，各等分）　各另為末，用水調搽四圍中，如干，以水潤之。</p>
<p><u>烏金膏</u>　解一切瘡毒，及腐化瘀肉，最能推陳致新。用巴豆一味，去殼炒焦，研如膏，點腫處，則解毒，塗瘀肉上則自化，加乳香少許亦可。如縱瘡內能搜膿化毒，加香油少許，調稀可用。若餘毒深伏，不能收斂者，宜用此紝之，不致成痛。</p>
<p><u>援生膏</u>　治一切惡瘡，及瘰癧初起，點破雖未全消，亦得以殺其毒。</p>
<p>輕粉（三錢）　乳香　沒藥　血竭（各一錢）　蟾酥（三錢）　麝香（五分）　雄黃（五錢）　用蕎麥秸灰，或真炭灰，一斗三升，淋灰湯八九碗。將慄柴或桑柴，文武火煎作三碗，存一碗，以備日久藥干添用。取二碗，盛於瓷器內，將前藥碾為極細末，入灰湯內，用鐵干或柳枝順攪，再入好細石灰一升，再攪勻，過一宿，卻分於小碗收貯。凡遇諸惡瘡，點當頭一二點，一日換二次，次日，又一次，須出血水為妙。如藥干，卻加所存灰湯少許調之。</p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>神功散</u>　治瘡瘍，不問陰陽腫潰並效。</p>
<p>黃柏（炒）　川烏（炮）　另為末，各等分，用唾津調敷患處，並塗瘡口。一道人不問陰陽腫潰，虛實痛否，此藥用漱口水調搽，不留瘡頭，日易之，內服仙方活命飲，甚效。</p>
<p><u>金銀花散</u>（方見作嘔門）</p>
<p><u>槐花酒</u>　治發背及一切瘡毒，不問已成未成，但焮痛者，並治之。用槐花四五兩，微炒黃，乘熱入酒二鍾，煎十餘沸，去渣，熱服。未成者二三服，已成者一二服。又治濕熱瘡疥，腸風痔漏，諸瘡作痛，尤效。</p>
<p><u>神功托裡散</u>　治癰疽發背，腸癰乳癰，及一切腫毒，或焮痛，增寒壯熱。</p>
<p>黃耆（鹽水拌炒）　忍冬葉（即金銀花）　當歸　粉草（一錢）　作一劑，用酒水各一鍾，煎至一鍾。分病上下，食前後服，少頃，再進一劑，渣敷患處，不問陰陽腫潰，老少虛實，皆可服。為末，酒調服，尤效。</p>
<p><u>清涼飲</u>　治積熱瘡瘍，煩躁飲冷，焮痛脈實，大便閉結，小便赤澀。</p>
<p>大黃（炒）　赤芍藥　當歸　甘草（各二錢）　作一劑，用水二鍾，煎八分，食前服。</p>
<p><u>苦參丸</u>　治一切癰疽瘡毒，焮痛作渴，或煩躁。用苦參，不拘多少，為末。上用水糊為丸，如梧桐子大，每服二三錢，溫酒下。</p>
<p><u>托裡散</u>（方見腫瘍門）</p>
<p><u>蠟礬丸</u>　治一切癰疽，托裡，止疼痛，護臟腑，神妙。不問老幼，皆可服之。</p>
<p>黃蠟（一兩，黃色好者，溶開，離火，入礬末。一方用七錢）　白礬（一兩，明亮好者，研末）上二味，和勻，眾手急丸，梧桐子大，每服十丸，漸加至二十丸，熟水或鹽酒送下，日進二服。</p>
<p><u>神異膏</u>（方見楊梅瘡門）</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>雄黃解毒散</u>　治一切癰腫潰爛，毒勢甚者先用此藥二三次，以後用豬蹄湯。</p>
<p>雄黃（一兩）　白礬（四兩）　寒水石（煅，一兩半）　用滾水二三碗，乘勢入前藥末一兩，洗患處，以太乙膏或神異膏貼之。</p>
<p><u>豬蹄湯</u>　治一切癰疽，消腫毒，去惡肉，潤瘡口，止痛。</p>
<p>白芷　黃芩　當歸　羌活　赤芍藥　露蜂房（蜂兒多者佳）　生甘草（各五錢）　用豬蹄一隻，水四五碗，煮熟去油渣，取清湯，入前藥，煎數沸，去渣，溫洗，隨用前膏藥貼之。</p>
<p><u>桑木灸法</u>（方見潰瘍門）</p>

<h2>腦疽</h2>
<p>腫痛未作膿者，宜除濕消毒。大痛或不痛，或麻木者，毒甚也。隔蒜灸之，更用解毒藥。腫痛便秘者，邪在內也，泄之。不甚痛，或不作膿者，虛也，托裡為主。膿成脹痛者，針之，更以托裡。上部脈數實而痛者，宜降火。上部脈數虛而痛者，宜滋陰降火為主。尺部脈數而作渴者，滋陰降火。不作膿，或不潰者，托裡藥主之。膿清或多者，大補氣血。煩躁飲冷，脈實而痛者，宜瀉火。</p>
<p>一男子患之，腫痛脈數。以黃連消毒散，二劑少退，與仙方活命飲，二劑而止，再以當歸、川芎、芍藥、金銀花、黃柏、知母而潰，又以托裡藥而愈。</p>
<p>一男子頭項俱腫，雖大潰，腫痛益甚，兼作瀉煩躁不睡，飲食少思，其勢可畏，診其脈，毒尚在。與仙方活命飲二劑，腫痛退半，與二神丸及六君子湯加五味子、麥門冬、酸棗仁四劑，諸證少退，飲食少進，睡亦少得。及與參苓白朮散數服，飲食頓進。又與十全大補湯，加金銀花、白芷、桔梗，月餘而瘥。</p>
<p>一老人色赤腫痛，脈數而有力。與黃連消毒散，二劑少退。更與清心蓮子飲，四劑而消。</p>
<p>一婦人膿熟不潰，脹痛欲嘔，飲食少思。急針之，與托裡藥而愈。</p>
<p>一婦人患之，不甚痛，不作膿。以托裡消毒散，膿成，針之，補以托裡藥亦愈。</p>
<p>一老人膿清，兼作渴，脈軟而澀，余以為氣血俱虛，用八珍湯，加黃耆、五味子，彼不信，乃服降火之劑，果反作嘔少食，始信。服香砂六君子湯，四劑嘔止食進，仍投前湯，月餘而愈。</p>
<p>一男子未潰，兼作渴，尺脈大而無力。以四物湯，加黃柏、知母、麥門冬、黃耆，四劑而渴減，又與加減八味丸，渴止瘡潰。更用托裡藥，兼前丸而愈。</p>
<p>一男子腫痛脈數。以荊防敗毒散，二劑而痛止，更以托裡消毒藥而消。</p>
<p>一男子焮腫疼痛，發熱飲冷，脈洪數。與涼膈散，二劑而止，以金銀花散，四劑而潰，更以托裡藥而愈。</p>
<p>一老婦稟實，潰而痛不止，脈實便秘。以清涼飲二劑而止，更以托裡消毒藥而愈。</p>
<p>一男子腫硬，不作膿，惟瘡頭出水，痛甚。以仙方活命飲二劑，痛止而膿成，針之；更以托裡藥而愈。常治膿清補而不應，及不痛或木悶堅硬者，俱不治。</p>
<p>一男子膿將成，微痛兼渴，尺脈大而無力，此陰虛火動之證。彼謂心經熱毒，自服清涼降火藥，愈熾。復求治，乃以四物湯，加黃柏、知母、五味子、麥門冬、黃耆，及加減八味丸，渴止瘡潰；更以托裡藥，兼前丸而愈。《中藏經》云：癰疽瘡腫之作，皆五臟六腑蓄毒不流，非獨榮衛壅塞而發，其行也有處，其主也有歸。假令發於喉舌者，心之毒；皮毛者，肺之毒；肌肉者，脾之毒；骨髓者，腎之毒；發於下者，陰中之毒；發於上者，陽中之毒；外者六腑之毒，內者五臟之毒。故內曰壞，外曰潰，上曰從，下曰逆。發於上者，得之速；發於下者，得之緩。感於六腑者，易治；感於五臟者，則難治也。觀此，則疽發於腦者，乃膀胱督脈，陰氣不足，陽火熾甚而出也。豈可專泥於心火，而不滋益陰氣耶。</p>
<p>一男子耳後漫腫作痛，肉色不變，脈微數。以小柴胡湯，加芎、歸、桔梗，四劑腫少起，更以托裡消毒散數劑，脈滑數，此膿已成矣，宜針之。彼畏而不肯用，因痛極，始針之，出膿碗許，以托裡藥，兩月餘而始愈。凡瘡不起者，托而起之；不成膿者，補而成之，使不內攻。膿成，而及時針之，不數日即愈矣。常見患者，皆畏針痛而不肯用，又有恐傷良肉而不肯用。殊不知瘡雖發於肉薄之所，若膿成，其腫亦高寸余，瘡皮又厚分許，用針深不過二分。若發於背，腫高必有三四寸，入針止於寸許。況患處肉已壞矣，何痛之有，何傷之慮。怯弱之人，及患附骨疽，待膿自通，以致大潰，不能收斂，氣血瀝盡而亡者為多矣。</p>
<p>一男子素不慎起居飲食，焮赤腫痛，尺脈洪數。以黃連消毒散二劑，濕熱頓退，惟腫硬作痛，以仙方活命飲，二劑腫痛悉退。但瘡頭不消，投十宣去桂，加金銀花、藁本、白朮、茯苓、陳皮，以托裡排膿。彼欲全消，自制黃連消毒散二服，反腫硬不作膿，始悟。仍用十宣散加白朮、茯苓、陳皮、半夏，腫少退，乃去桂，又四劑而膿成，腫勢亦退。繼以八珍散加黃耆、五味、麥門冬，月餘膿潰而愈。夫苦寒之藥，雖治陽證，尤當分表裡虛實，次第時宜，豈可始末悉用之。然焮腫赤痛，尺脈數，按之則濡，乃膀胱濕熱壅盛也。故用黃連消毒散，以解毒除濕。顧腫硬作痛，乃氣血凝滯不行而作也。遂用仙方活命飲，以散結消毒破血。其瘡頭不消，蓋因熱毒熏蒸，氣血凝滯而然也。宜用甘溫之劑，補益陽氣，托裡以腐潰之。況此證元屬督脈，經陰虛火盛而出，若不審其因，專用寒苦之劑，使胃寒氣弱，何以腐化收斂，幾何不至於敗耶。凡瘡之易消散、易腐潰、易收斂，皆氣血壯盛故也。</p>
<p><u>附方</u></p>
<p><u>黃連消毒散</u>　治腦疽，或背疽。腫勢外散，疼痛發焮，或不痛麻木，服此。更宜隔蒜灸之。</p>
<p>黃連（酒拌）　羌活　黃柏　黃芩（酒拌）　生地黃　知母　獨活　防風　當歸尾（酒拌）　連翹（各一錢）　黃耆（鹽水炒，二錢）　蘇木　藁本　防己（酒拌）　桔梗　陳皮　澤瀉　人參　甘草（炒，各五分）　作一劑，水二鍾，姜三片，煎八分，食後服。</p>
<p><u>仙方活命飲</u>（方見發背門）</p>
<p><u>隔蒜灸法</u>（方見發背門）</p>
<p><u>槐花酒方</u>（見發背門）</p>
<p><u>清涼飲</u>（方見發背門）</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>加減八味丸</u>（方見作渴門）</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）</p>
<p><u>清心蓮子飲</u>（方見下疳門）</p>
<p><u>涼膈散</u>（方見作渴門）</p>
<p><u>二神丸</u>（方見作嘔門）</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>參苓白朮散</u>（方見痔漏門）</p>
<p><u>金銀花散</u>（方見作嘔門）</p>
<p><u>托裡散</u>（方見腫瘍門）</p>
<p><u>小柴胡湯</u>（方見瘰癧門）</p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>十宣散</u>（方見發背門）</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>香砂六君子湯</u>（方見作嘔門）</p>

<h1>卷三</h1>

<h2>鬢疽</h2>
<p>焮痛，或發熱者，祛風清熱；焮痛，發寒熱，或拘急者，發散表邪；作膿焮痛者，托裡消毒。膿已成作痛者針之；不作膿，或膿成而不潰者，並以托裡；不斂或膿清者，宜峻補。</p>
<p>一男子患此，焮腫作痛發熱。以小柴胡湯加連翹、金銀花、桔梗，四劑而消。</p>
<p>一男子因怒後，髮際腫痛，發熱。以小柴胡湯加連翹、金銀花、天花粉、桔梗，四劑根畔俱消。惟瘡頭作痛，以仙方活命飲，二劑痛止。膿成，針之，更以托裡消毒藥而愈。</p>
<p>一男子頭面焮腫作痛，時仲冬，脈弦緊。以托裡溫經湯，汗之而消。</p>
<p>一男子腫痛，寒熱拘急，脈浮數。以荊防敗毒散，二劑表證悉退，更以托裡消毒散，潰之而安。</p>
<p>一男子膿熟不潰，脹痛，針之而止，更以托裡消毒散而愈。凡瘡膿熟不潰，屬氣血虛也，若不託里，必致難瘥。</p>
<p>一男子作膿焮痛，發嘔少食。以仙方活命飲，一劑而止。以六君子湯加當歸、桔梗、皂角刺，潰而愈。</p>
<p>一男子膿清不斂，以托裡散加五味子、麥門冬而斂。</p>
<p>一老人腫痛發熱，膿清作渴，脈軟而澀，此血氣俱虛也。欲補之，彼見作渴發熱，乃服降火之劑，果作嘔少食。復求治，投六君子湯，四劑嘔止食進，仍用補藥月餘而愈。夫患者，臟腑氣血上下，各有虛實。（詳見潰瘍作痛第十三條。）況陰證似陽，陽證似陰（治驗見《外科心法》，）豈可以發熱作渴，而概用寒涼之劑常治患者。正氣虛，邪氣實，以托裡為主，消毒佐之；正氣實，邪氣虛，以攻毒為主，托裡佐之；正氣虛，邪氣實，而專用攻毒，則先損胃氣，宜先用仙方活命飲、托裡消毒散，或用灸法，俟邪氣退，正氣復，更酌量治之。大抵正氣奪，則虛，邪氣勝則實。蓋邪正不並立，一勝則一負，其虛不待損而自虛矣。若發背腦疽疔毒，及患在四肢，必用灸法，拔引郁毒，以行瘀滯，尤不可專於攻毒。診其脈而辨之，庶不有誤。　如福泉黃吏部，肩患毒，發熱惡寒，大渴煩躁，似有餘之證，其脈雖大而無力，卻屬不足，用當歸補血治之。吾鄉周都憲，兩腿作痛，形體清癯，肝脈弦數，卻屬有餘之證。用龍膽瀉肝湯治之並愈。齊氏云：瘡腫之證，若不診候何以知陰陽勇怯，血氣聚散邪！又云：脈洪大而數者，實也。細微而數者，虛也。河間云：脈沉實者，其邪在臟。浮大者，其邪在表。觀此誠發前人之未發。診候之道，其可缺邪！</p>
<p>一男子腫焮痛甚，發寒熱，服十宣散愈熾。診之脈數而實，此表裡俱有邪也。以荊防敗毒散加芩、連、大黃，二劑少愈，更以荊防敗毒散，四劑而消。大抵瘡瘍之證，腫焮痛甚，寒熱往來，或大便秘結，小便淋，心神憒悶，恍惚不寧，皆邪熱之實也，豈可補哉。東垣云：瘡疽之發，其受之有內外之別。治之有寒溫之異。受之外者，法當托裡以溫劑，反用寒藥，則是皮毛始受之邪，引入骨髓；受之內者，法當疏利以寒劑，反用溫劑托裡，則是骨髓之病，上徹皮毛，表裡通潰，共為一瘡。助邪為毒，苦楚百倍，輕則危殆，重則死矣。</p>
<p><u>附方</u></p>
<p><u>小柴胡湯</u>（方見潰瘍門）</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>仙方活命飲</u>（方見發背門）</p>
<p><u>托裡散</u>（方見腫瘍門）</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>托裡溫經湯</u>　治寒覆皮毛，郁遏經絡，不得伸越，熱伏榮中聚結，赤腫作痛，惡寒發熱，或痛引肢體。若頭面腫痛焮甚，更宜砭之。</p>
<p>麻黃　升麻　防風　乾葛　白芷　當歸　蒼朮　人參　芍藥　甘草（各一錢）　作一劑，水二鍾，煎一鍾服，臥於暖處，得汗乃散。</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>龍膽瀉肝湯</u>（方見下疳門）</p>
<p><u>十宣散</u>（方見腫瘍門）</p>
<p><u>當歸補血湯</u>（方見潰瘍門）</p>

<h2>時毒（謂毒發於面鼻耳項）</h2>
<p>裡實而不利者，下之；表實而不解者，散之；表裡俱實而不解者，解表攻裡；表裡俱解而不消者，和之；腫甚焮痛者，砭去惡血，更用消毒之劑；不作膿，及不潰者，托之；饑年普患者，不宜用峻利，當審而治之。</p>
<p>一男子患此，腫痛發熱作渴，脈實便秘。以五利大黃湯下之，諸證悉退；以葛根牛蒡子湯，四劑而痊。</p>
<p>一男子表裡俱解，腫痛尚不退，以葛根升麻湯，二劑而消。</p>
<p>一男子腫痛，發寒熱，脈浮數。以荊防敗毒散，二劑少愈，以人參敗毒散，二劑勢減半，又二劑而瘥。</p>
<p>一男子耳面赤腫作痛，咽乾發熱，脈浮數。先以荊防敗毒散，二劑勢退大半，又以葛根牛蒡子湯，四劑而痊。</p>
<p>一婦人表邪已解，腫尚不消。診之脈滑而數，乃瘀血欲作膿也。以托裡消毒散，潰之而愈。</p>
<p>一男子焮腫，脹痛作渴，煩熱便秘，脈數，按之尤實。用防風通聖散，一劑諸證頓退；以荊防敗毒散加玄參、牛蒡子、黃芩，二劑而瘥。</p>
<p>一老人冬月頭面耳項俱腫，痛甚，便秘，脈實，此表裡俱實病也。飲防風通聖散，不應。遂砭患處，出黑血。仍投前藥，即應；又以荊防敗毒散而瘳。蓋前藥不應者，毒血凝聚上部經絡，藥力難達故也。惡血既去，其藥自效。或拘用寒遠寒，及年高畏用硝黃，而用托裡，與夫尋常消毒之劑，或不砭泄其毒，專假藥力，鮮不危矣。</p>
<p>一男子表裡俱解，惟腫不消。以托裡消毒散，四劑膿成，針之而愈。</p>
<p>一婦人腫痛，用硝黃之劑，攻之稍緩，翌日復痛。診之外邪已退，此瘀血欲作膿也。用托裡消毒散，潰之而愈。</p>
<p>一男子頭面腫痛，服硝黃敗毒之劑，愈甚。診之脈浮數，邪在表，尚未解，用荊防敗毒散，二劑勢退大半；更以葛根牛蒡子湯，四劑而痊。《內經》云：身半以上腫，天之氣也。身半以下腫，地之氣也。乃邪客心肺之間，上攻頭目而為腫，此感四時不正之氣為患，與夫膏粱積熱之證不同。硝黃之劑，非大便秘實不可用，若不審其因，不辨其虛實表裡，概用攻之，必致有誤。常見饑饉之際，芻蕘之人多患之，乃是胃氣有損，邪氣從之為患，不可不察。余常治邪在表者，用葛根牛蒡子湯、人參敗毒散，或普濟消毒飲子；邪在裡者，五利大黃湯、梔子仁湯；表裡俱不解者，防風通聖散；表裡俱解而腫不退者，犀角升麻湯；如腫甚者，砭患處，出惡血以泄其毒，或用通氣散，取嚏以泄其毒，十日外自愈，若嚏出膿血即愈。欲其作膿者，用托裡消毒散；欲其收斂者，用托裡散，此法最為穩當。五七日咽喉腫閉，言語不出，頭面不腫，食不知味者，不治。</p>
<p>一男子服表散藥愈熾。發熱便秘，診其脈沉實，此邪在裡也。以大黃湯下之，里證悉退，以葛根牛蒡子湯，浮腫亦消。惟赤腫尚存，更以托裡藥潰之而愈。齊氏云：時毒者，為四時邪毒之氣，而感之於人也。其候發於鼻面耳項咽喉，赤腫無頭，或結核有根，令人增寒發熱，頭痛，或肢體痛甚者，恍惚不寧，咽喉閉塞，人不識者，將為傷寒。便服解藥，一二日腫氣增益，方悟，始求瘡醫。原夫此疾，古無方論，世俗通為丹瘤。病家惡言時毒，切恐傳染。考之於經曰：人身忽經變赤，狀如塗丹，謂之丹毒。此風熱惡毒所為，與夫時毒，特不同耳。蓋時毒初狀如傷寒，五七日間乃能殺人，治者宜精辨之。先診其脈，滑數浮洪，沉緊弦澀，皆其候也。蓋浮數者，邪氣在表也；沉澀者，邪氣深也。氣實之人，急服化毒丹以攻之；熱實不利，大黃湯下之。其有表證者，解毒升麻湯以發之；或年高氣軟者，五香連翹湯主之。又於鼻內㗜通氣散，取十餘嚏作效，若㗜藥不嚏者，不可治。如嚏出膿血者，治之必愈。左右看病之人，每日用㗜藥嚏之，必不傳染。其病人每日亦用嚏藥三五次，以泄熱毒，此治時毒之良法也。</p>
<p>經三四日不解者，不可大下，猶宜和解之，服犀角連翹散之類。至七八日，大小便通利，頭面腫起高赤者，可服托裡散、黃耆散；宜針鐮砭割出血，泄其毒氣，十日外，不治自愈也。此病若五日以前，精神昏亂，咽喉閉塞，語聲不出，頭面不腫，食不知味者，必死，治之無功矣。然而，此疾有陰有陽，有可汗，有可下。常見粗工，但云熱毒，就用寒藥，殊不知病有微甚，治有逆從，不可不審矣</p>
<p><u>附方</u></p>
<p><u>五利大黃湯</u>　治時毒焮腫赤痛，煩渴便秘，脈實數。</p>
<p>大黃（煨）　黃芩　升麻（各二錢）　芒硝　梔子（各一錢二分）　作一劑，水一鍾半，煎六分，空心熱服。</p>
<p><u>梔子仁湯</u>　治時毒腫痛，大便秘結，脈沉數。</p>
<p>鬱金　枳殼（麩炒去穰）　升麻　山梔仁（炒）　牛蒡子（炒）　大黃（煨，各等分）　上為細末，每服三錢，蜜水調下。</p>
<p><u>荊防敗毒散</u>　治時毒腫痛發熱，左手脈浮數。</p>
<p>即人參敗毒散加防風、荊芥（方見潰瘍發熱門。）</p>
<p><u>葛根牛蒡子湯</u>　治時毒，腫痛脈數而少力者。</p>
<p>葛根　貫眾　甘草　江西豆豉　牛蒡子（半生杵炒，各二錢）作一劑，水一鍾半，煎八分，食後服。</p>
<p><u>防風通聖散</u>　治時毒腫痛，煩躁，表裡脈證俱實（方見疔瘡門。）</p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>托裡消毒散</u>　治時毒表裡俱解，腫尚不退，欲其作膿（方見腫瘍門。）</p>
<p><u>普濟消毒飲</u>　治時毒疫癘，初覺增寒體重，次傳頭面腫痛，或咽喉不利，舌乾口燥。</p>
<p>黃芩　黃連（各五錢）　人參（三錢）　橘紅　玄參　甘草（各一錢）　柴胡　桔梗（炒，各二錢）連翹　鼠黏子　板藍根　馬勃（各一錢）　白殭蠶（炒）　升麻（各七分）　作一劑，水二鍾，煎一鍾，去渣，稍熱，食後徐徐服之。如大便硬，加酒煨大黃一錢或二錢以利之。腫勢甚者，宜砭刺之，去惡血。</p>
<p><u>通氣散</u>　治時毒焮腫，咽喉不利，取嚏以泄其毒。</p>
<p>玄胡索（一錢五分）　豬牙皂角　川芎（各一錢）　藜蘆（五分）　羊躑躅花（二分半）　上為細末，用紙捻蘸少許，紝於鼻內，取嚏為效。</p>
<p><u>托裡散</u>（方見腫瘍門。）</p>

<h2>疔瘡</h2>
<p>脈浮數者，散之；脈沉實者，下之。表裡俱實者，解表攻裡。麻癢，或大痛，及不痛者，並灸之，更兼攻毒。</p>
<p>一男子足患作癢，噁心嘔吐，時發昏亂，脈浮數。明灸二十餘壯，始痛。以奪命丹一服，腫始起。更用神異膏，及荊防敗毒散而愈。</p>
<p>一老婦足大趾患之，甚痛。令灸之，彼不從，專服敗毒藥，致真氣虛而邪氣愈實，竟至不救。蓋敗毒散雖能表散瘡毒，然而感有表裡，所發有輕重，體段有上下，所稟有虛實，豈可一概而用之耶。且至陰之下，藥力在所難到，專假藥力，則緩不及事，不若灸之為良。故下部患瘡，皆宜隔蒜灸之。痛則灸至不痛，不痛則灸至痛，若灸之而不痛者，宜明灸之，及針疔四畔去惡血。以奪命丹一粒，入瘡頭孔內，仍以膏藥貼之。若針之不痛，或無血者，以針燒赤，頻烙患處，以痛為度。或不痛，眼黑如見火光者，此毒氣入臟腑也，不治。若患在手足，紅絲攻心腹者，就於絲盡處，刺去惡血，宜服荊防敗毒散。若絲近心腹者，宜挑破瘡頭，去惡水，亦以膏藥貼之。如麻木者，服奪命丹，如牙關緊急，或喉內患者，並宜噙一二丸。凡人暴死，多是疔毒。用燈照看遍身，若有小瘡，即是。宜急灸之，俟醒，更服敗毒藥，或奪命丹。人汙入肉，食之則生疔瘡，不可不慎。</p>
<p><u>附方</u></p>
<p><u>荊防敗毒散</u>　即人參敗毒散加荊芥、防風（方見潰瘍發熱門。）</p>
<p><u>奪命丹</u>　治疔瘡發背，及惡證不痛，或麻木，或嘔吐，重者昏憒。此藥服之，不起發者即發，不痛者即痛，痛甚者即止，昏憒者即蘇，嘔吐者即解，未成者即消，已成者即潰，有回生之功，乃惡證之中至寶也。</p>
<p>蟾酥（乾者酒化）　輕粉（各半錢）　白礬（枯）　寒水石（煅）　銅綠　乳香　沒藥　麝香（各一錢）　硃砂（三錢）　蝸牛（二十個另研，無亦效）　上為細末，蝸牛別碾爛，入藥末，搗勻為丸，如綠豆大。如丸不就，入酒糊些小，每服一二丸，用生蔥白三五寸，病者自嚼爛，吐於手心，男左女右，包藥在內，用熱酒和蔥送下。如人行五七里，汗出為效，重者再服一二丸。</p>
<p><u>清涼飲</u></p>
<p><u>隔蒜灸法</u>（二方見發背門）</p>
<p><u>神異膏</u>（方見楊梅瘡門）</p>

<h2>臀癰（附腿癰並腿痛腳氣）</h2>
<p>焮痛，尺脈緊而無力者，托之。腫硬痛甚者，隔蒜灸之，更以解毒。不作膿而痛者，解毒為主。不作膿者，托裡為主。不潰，或潰而不斂者，托裡為主。</p>
<p>一男子臀癰，腫硬作痛，尺脈浮緊，按之無力。以內托羌活湯，一劑痛止。以金銀花散四劑，膿潰而愈。</p>
<p>一男子臀癰，腫硬痛甚，隔蒜灸之。更服仙方活命飲，二劑痛止。更以托裡消毒散，膿潰而瘥。</p>
<p>一男子臀癰，不作膿，飲食少思。先用六君子湯加芎、歸、黃耆，飲食漸進。更以托裡消毒散，膿潰而愈。</p>
<p>一男子潰而膿清不斂，以豆豉餅灸之。更飲十全大補湯，兩月餘而痊。凡瘡不作膿，或不潰，或潰而不斂，皆氣血之虛也。若膿清稀，尤其虛甚也（虛實詳見潰瘍作痛門。）</p>
<p>一男子臀癰，膿水不止，肌肉漸瘦，飲食少思，胃脈微弦。以六君子湯加藿香、當歸數劑，飲食遂進。飲以十全大補湯及豆豉餅灸之，兩月餘而斂。</p>
<p>一弱人臀癰，膿成不潰。以十全大補湯數劑，始托起，乃針之，又二十餘劑而愈。夫臀居僻位，氣血罕到，老弱人患之，尤宜補其氣血，庶可保痊。</p>
<p>一男子腿內側患癰，未作膿而腫痛，以內托黃耆柴胡湯二劑，少愈，又二劑而消。</p>
<p>一男子臀漫腫，色不變，脈滑數而無力，此臀癰也。膿將成，尚在內，余欲治以托裡藥，待發出而用針。彼欲內消，服攻伐藥愈虛。復求治，仍投前藥，托出針之，以大補藥而愈。凡瘡毒氣已結，不起者，但可補其氣血，使膿速成而針去，不可論內消之法。膿成，又當辨其生熟淺深而針之。若大按之而痛者，膿深也；小按之便痛者，膿淺也；按之不甚痛者，未成膿也；按之即復起者，有膿也；按之不復起者，無膿也。若腫高而軟者，發於血脈；腫下而堅者，發於筋骨；肉色不相變者，發於骨髓也。</p>
<p>一男子腿外側患癰，漫腫大痛，以內托黃耆酒煎湯，二劑少可。更以托裡散數劑，潰之而愈。</p>
<p>一婦人腿癰，久而不愈，瘡口紫陷，膿水清稀，余以為虛。彼不信，乃服攻裡之劑，虛證蜂起。復求治，令灸以附子餅，服十全大補湯，百餘帖而愈。凡瘡膿清及不斂者，或陷下，皆氣血虛極也，最宜大補，否則成敗證。若更患他證，尤難治愈。</p>
<p>一男子腿癰內潰，針之，膿出四五碗許，惡寒畏食，脈診如絲，此陽氣微也。以四君子湯，加炮附子一錢，服之寒少止，又四劑而止。以六君子湯，加桂數劑，飲食頓進，乃以十全大補湯，及附子餅兩月而愈。</p>
<p>一老人腿患癰，膿自潰，忽發惛瞀，脈細而微，此氣血虛極也，以大補之劑而蘇。　一弱人流注內潰，出敗膿五六碗，是時眼口歪斜，脈亦虛極，乃虛甚也，非真中風。以獨參湯加附子一錢，二劑少愈。更以大補藥，月餘而痊。大抵膿血大泄，當大補氣血為先，雖有他證，以末治之。凡癰大潰，發熱惡食，皆屬氣血虛甚。若左手脈不足者，補血藥當多於補氣藥；右手脈不足者，補氣藥當多於補血藥；切不可發表。</p>
<p>一婦人患腰痛腳弱，弛長不能動履。以人參敗毒散加蒼朮、黃柏、澤瀉而愈。</p>
<p>一婦人環跳穴作痛，肉色不變，脈緊數，此附骨疽也。膿未成，用內托黃耆酒煎湯加青皮、龍膽草、山梔，數劑而消。</p>
<p>一男子患腿癰，兼筋攣痛，脈弦緊。用五積散，加黃柏、柴胡、蒼朮，治之而愈。</p>
<p>一婦人患附骨疽，久不愈，膿水不絕，皮膚瘙癢，四肢痿軟。余以為虛，欲補之。彼惑為風疾，遂服祛風藥，竟致不起。陳無擇云：人身有皮毛血脈筋膜肌肉骨髓，以成其形，內則有心肝脾肺腎以主之。若隨情妄用，喜怒勞佚，致內臟精血虛耗，使皮血筋骨肉痿弱無力以運動，故致痿躄，狀與柔風腳氣相類。柔風腳氣皆外所因，痿則內臟不足之所致也。</p>
<p>一男子患附骨疽，腫硬發熱，骨痛筋攣，脈數而沉，用當歸拈痛湯而愈。</p>
<p>一男子腿根近環跳穴患痛徹骨，外皮如故，脈數而帶滑，此附骨疽。膿將成，用托裡藥六劑。腫起作痛，脈滑數，膿已成，針之，出碗許，更加補劑，月餘而瘳。</p>
<p>一男子腿內患癰，漫腫作痛，四肢厥，咽喉塞，發寒熱。諸治不應，乃邪郁經絡而然也。用五香連翹湯，一劑諸證少退。又服，大便行二次，諸證悉退而愈。</p>
<p>一婦人兩腿作痛，不能伸展，脈弦緊，按之則澀。先以五積散，二劑痛少止，又一劑而止。更以神應養真，而能伸屈。</p>
<p>一男子患腿痛，膝微腫，輕診則浮，按之弦緊，此鶴膝風也。與大防風湯，二劑已退二三。彼謂附子有毒，乃服敗毒藥，日漸消瘦，復求治。余謂：今飲食不為肌膚，水穀不能運化精微，灌溉臟腑，周身百脈，神將何依然，故氣短而促，真氣損也。怠惰嗜臥，脾氣衰也。小便不禁，膀胱不藏也。時有躁熱，心下虛痞，胃氣不能上榮也。恍惚健忘，神明亂也。不治，後果然。此證多患於不足之人，故以加減小續命、大防風二湯有效，若用攻毒藥必誤。</p>
<p>一婦人患腳氣，或時腿筋攣，腹作痛，諸藥不應，漸危篤。諸書云：八味丸，治足少陰，腳氣入腹，疼痛，上氣喘促欲死。遂投一服頓退，又服而愈。腎經虛寒之人，多有此患，乃腎乘心，水剋火，死不旋踵，宜急服。</p>
<p>一男子腿痛，兼筋攣骨痛，脈弦緊。以大防風湯二劑，攣少愈，又二劑而腫消。但內一處，尚作痛，脈不弦緊。此寒邪已去，乃所滯瘀濁之物，欲作膿，故痛不止也。用托裡藥數劑，腫發起，脈滑數，乃膿已成矣，針之。用十全大補湯，月餘而安。</p>
<p>一婦人膝腫痛，遇寒痛益甚，月餘不愈，諸藥不應，脈弦緊，此寒邪深伏於內也。用大防風湯及火龍膏，治之而消。大抵此證，雖云腫有淺深，感有輕重，其所受，皆因真氣虛弱，邪氣得以深襲，若真氣壯實，邪氣焉能為患邪！故附骨癰疽，及鶴膝風證，腎虛者多患之。前人用附子者，以溫補腎氣，而又能行藥勢，散寒邪也。亦有體虛之人，秋夏露臥，為冷氣所襲，寒熱伏結，多成此證，不能轉動，乍寒乍熱而無汗，按之痛應骨者是也。若經久不消，極陰生陽，寒化為熱而潰也。若被賊風所傷，患處不甚熱，而灑淅惡寒，不時汗出，熨之痛少止，須大防風湯及火龍膏治之。若夫治為彎曲偏枯，有堅硬如石，謂之石疽。若熱緩，積日不潰，肉色亦紫，皮肉俱爛，名緩疽。其始末皆宜服前湯，欲其驅散寒邪，以補虛托裡也。</p>
<p>一男子右腿赤腫焮痛，脈沉數。用當歸拈痛湯，四肢反痛，乃濕毒壅遏。又況下部，藥難達，非藥不對症，遂砭患處，去毒血，仍用前藥，一劑頓減，又四劑而消。</p>
<p>一男子先腿痛，後四肢皆痛，遊走不定，至夜益甚。服除濕敗毒之劑，不應。診其脈滑而澀，此濕痰濁血為患。以二陳湯加蒼朮、羌活、桃仁、紅花、牛膝、草烏，治之而愈。凡濕痰濕熱，或死血流注關節，非辛溫之劑，開發腠理，流通隧道，使氣行血和，焉能得愈。</p>
<p>一男子腿痛，每痛則痰盛，或作嘈雜，脈滑而數。以二陳湯加升麻、二朮、澤瀉、羌活、南星，治之而安。</p>
<p>一男子素有腳氣，脅下作痛，發熱頭暈，嘔吐，腿痹不仁。服消毒護心等藥，不應。左關脈緊，右關脈弦，此亦腳氣也。以半夏左經湯，治之而愈。</p>
<p>一男子腳軟腫痛，發熱飲冷，大小便秘，右關脈數，乃足陽明經濕熱流注也。以大黃左經湯，治之而愈。</p>
<p>一男子臁脛兼踝腳皆焮痛，治以加味敗毒而愈。</p>
<p>一男子兩腿痛，脈滑而遲，此濕痰所致。以二陳湯加二朮、黃柏、羌活、澤瀉，治之而消。</p>
<p>一男子兩腿腫痛，脈滑而緩，此濕痰所致也。先以五苓散加蒼朮、黃柏，二劑少愈。更以二陳、二朮、檳榔、紫蘇、羌活、獨活、牛膝、黃柏而瘥。夫濕痰之證，必先以行氣利濕健中為主，若中氣和，則痰自消，而濕亦無所容矣。</p>
<p>一婦人兩腿痛，脈澀而數，此血虛兼濕熱。先以蒼朮、黃柏、知母、龍膽草、茯苓、防風、防己、羌活，數劑腫痛漸愈。又以四物湯加二朮、黃柏、牛膝、木瓜，月餘而愈。</p>
<p>一男子肢節腫痛，脈遲而數，此濕熱之證。以荊防敗毒散加麻黃，二劑痛減半。以檳榔敗毒散，四劑腫亦消。更以四物湯加二朮、牛膝、木瓜，數劑而愈。</p>
<p>一婦人腳脛腫痛，發寒熱，脈浮數。此三陽經濕熱，下注為患，尚在表。用加味敗毒散治之，不應。乃瘀血凝結，藥不能及也。於患處砭去瘀血，乃用前藥，二劑頓退。以當歸拈痛湯，四劑而愈。楊大受云：腳氣是為壅疾，治法宜宣通之，使氣不能成壅也。壅既成而甚者，砭去惡血，而去其重勢。經云：蓄則腫熱，砭射之後，以藥治之。</p>
<p>一婦人兩腿痛，遇寒則筋攣，脈弦而緊，此寒邪之證。以五積散對四物湯，數劑痛止。更以四物湯加木瓜、牛膝、枳殼，月餘而愈。</p>
<p>一男子腿腫筋攣，不能動履。以交加散，二劑而愈。</p>
<p>一婦人患腿痛，不能伸屈，遇風寒，痛益甚，諸藥不應，甚苦。先以活絡丹，一丸頓退，又服而瘳。次年復痛，仍服一丸，亦退大半。更以加味敗毒散，四劑而愈。</p>
<p>一男子素有腳氣，又患附骨癰作痛，服活絡丹一丸，二證並瘥。　上舍俞魯用素有疝，不能愈，因患腿痛，亦用一丸，不惟腿患有效，而疝亦得愈矣。　西蜀彭黃門大安人，臂痛數年，二丸而瘥。　留都金二官女，患驚風甚危，諸醫皆勿救，自用一丸即愈，且不再作。夫病深伏在內，非此藥莫能通達。但近代始云：此藥引風入骨，如油麵之說，故後人多不肯服。大抵有是病，宜用是藥，豈可泥於此言，以致難瘥。</p>
<p>一婦人兩腿作痛，時或走痛，氣短自汗，諸藥不應。診之尺脈弦緩，此寒濕流注於腎經也。以附子六物湯，治之而愈。但人謂附子有毒多不肯服。若用童便炮製，何毒之有。況不常服，何足為慮。余中氣不足以補中益氣湯加附子，服之三年，何見其毒也。經云：有是病，用是藥。</p>
<p>一婦人肢節腫痛，脛足尤甚，時或自汗，或頭痛，此太陽經濕熱所致。用麻黃左經湯，二劑而愈。</p>
<p>一婦人患血痔，兼腿痠痛，似痹，此陰血虛不能養於筋而然也。宜先養血為主，遂以加味四斤丸治之而愈。</p>
<p>一老人筋攣骨痛，兩腿無力，不能步履。以局方換腿丸治之。　一婦人筋攣痹縱，兩腿無力，不能步履。以三因勝駿丸治之，並愈。河間云：腳氣由腎虛而生，然婦人亦有病腳氣者，乃因血海虛而七情所感，遂成斯疾。今婦人病此亦眾，則知婦人以血海虛而得之，與男子腎虛類也。男女用藥固無異，更當兼治七情無不效也。</p>
<p>一婦人患腿痛，兼足脛攣痛，服發散藥愈甚，脈弦緊，此腎肝虛弱風濕內侵也。以獨活寄生湯，治之痛止。更以神應養真丹，而弗攣矣。</p>
<p>一男子素有腿痛，飲食過傷，痛益甚，倦怠脈弱。以六君子湯加山楂、神麯、蒼朮、當歸、升麻、柴胡而愈。</p>
<p>一老人素善飲，腿常腫痛，脈洪而緩。先以當歸拈痛湯，候濕熱少退，後用六君子湯加蒼朮、黃柏、澤瀉，治之而痊。</p>
<p>一男子每飲食少過，胸膈痞悶，或吞酸，兩腿作痛。用導引丸，二服頻愈。更以六君子湯加神麯、麥芽、蒼朮二十餘劑，遂不復作。河間云：若飲食自倍，脾胃乃傷，則胃氣不能施行，脾氣不能四布，故下流乘其肝腎之虛，以致足腫。加之房事不節，陽虛陰盛，遂成腳氣。亦有內傷飲食，脾胃之氣有虧，不能上升，則下注為腳氣者，宜用東垣開結導引丸，開導引水，運化脾氣，如脾氣虛弱，壅遏不通，致面目發腫，或痛者，宜用導滯通經湯，以疏導。（以上十九條乃腳氣證，雖非瘡毒，因治有驗，故錄之。）</p>
<p><u>附方</u></p>
<p><u>內托羌活湯</u>　治尻臀患癰，堅硬腫痛，兩尺脈緊按之無力。</p>
<p>羌活　黃柏（各二錢）　防風　當歸尾　藁本（各一錢）　肉桂（一錢）　連翹　甘草（炙）　蒼朮（米泔水浸炒）　陳皮（各半錢）　黃耆（鹽水拌炒，一錢半）　作一劑，水酒各一鍾，煎至八分，食前服。</p>
<p><u>膈蒜灸法</u></p>
<p><u>槐花酒</u></p>
<p><u>仙方活命飲</u>（三方見發背）</p>
<p><u>金銀花散</u>（方見作嘔門）</p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>豆豉餅</u>　治瘡瘍腫硬不潰，及潰而不斂，並一切頑瘡惡瘡。用江西豆豉為末，唾津和作餅子，如錢大，厚如三文，置患處，以艾壯於餅上灸之。餅若干，再用唾津和作，如背瘡大，用漱口水調作餅，覆患處，以艾鋪餅上燒之。如未成者，用之即消。已成者，雖不全消，其毒頓減。前人俱稱有奇功，不可忽之。</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）</p>
<p><u>獨參湯</u>（方見杖瘡門）</p>
<p><u>內托黃耆柴胡湯</u>　治濕熱，腿內近膝股患癰，或附骨癰，初起腫痛，此太陰厥陰之分位也。脈細而弦，按之洪緩有力。</p>
<p>黃耆（鹽水拌炒，二錢）　柴胡　土瓜根（各一錢）　羌活（五分）　連翹（一錢五分）　肉桂生地黃（各三分）　當歸尾（八分）　黃柏（五分）　作一劑，水酒各一鍾，煎八分，空心熱服。</p>
<p><u>內托黃耆酒煎湯</u>　治寒濕腿外側少陽經分患癰，或附骨癰，堅硬漫腫作痛，或侵足陽明經，亦治之。</p>
<p>黃耆（鹽水拌炒，二錢）　柴胡（一錢半）　連翹　肉桂（各一錢）　黃柏（五分）　大力子（炒，一錢）　當歸尾（二錢）　升麻（七分）　甘草（炒，五分）　作一劑，水酒各一鍾，煎八分，食前服。</p>
<p><u>附子餅</u>　治潰瘍，氣血虛不能收斂，或風邪襲之，以致氣血不能，運於瘡所，不能收斂。用炮附子去皮臍，研末，以唾津和為餅，置瘡口處，將艾壯於餅上，灸之。每日灸數次，但令微熱，勿令痛。如餅乾，再用唾津和做，以瘡口活潤為度。</p>
<p><u>四君子湯</u>　治脾胃不健，飲食少思，肌肉不生，肢體倦怠。</p>
<p>人參　茯苓　白朮（炒，各二錢）　甘草（炙，五分）　作一劑，水二鍾，姜三片，棗二枚，煎八分，食遠服。</p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>五積散</u>　治風寒濕毒，客於經絡，致筋攣骨痛，或腰腳痠疼，或拘急，或身重痛，並治之。</p>
<p>蒼朮（二錢半）　桔梗（炒，一錢二分）　陳皮（去白，六分）　白芷（三分）　甘草（炙）　當歸（酒拌）　川芎　芍藥（炒）　半夏（薑製）　茯苓（去皮，各三分）　麻黃（去節，六分）　乾薑（炮，四分）　枳殼（麵炒，六分）　桂心（一錢）　厚朴（薑製，四分）　作一劑，水二鍾，姜三片，棗一枚，煎一鍾服。</p>
<p><u>當歸拈痛湯</u>　治濕熱下注，腿腳生瘡，或膿水不絕，或赤腫，或癢痛，或四肢遍身重痛。</p>
<p>羌活（五錢）　人參　苦參（酒製）　升麻　葛根　蒼朮（各二錢）　甘草（炙）　黃芩（酒拌）茵陳葉（酒炒，各五錢）　防風　當歸身　知母（酒炒）　澤瀉　豬苓（各三錢）　白朮（一錢半）　作四劑，水二鍾，煎一鍾，空心並臨睡服之。</p>
<p><u>大防風湯</u>　治三陰之氣不足，風邪乘之，兩膝作痛，久則膝大，腿愈細，因名曰：鶴膝風，乃敗證也。非此方不能治，又治痢後腳痛緩弱，不能行步，或腿膝腫痛。</p>
<p>附子（炮，一錢）　白朮（炒）　羌活　人參（各二錢）　川芎（一錢五分）　防風（二錢）　甘草（炙，一錢）　牛膝（酒浸，一錢）　當歸（酒拌，二錢）　黃耆（炙，二錢）　白芍藥（炒，二錢）　杜仲（薑製，三錢）　熟地黃（用生者酒拌半月，忌鐵器，二錢）　作一劑，水二鍾，姜三片，煎八分，空心服。愈後尤宜謹調攝，更服還少丹，或加桂，以行地黃之滯。若脾胃虛寒之人，宜服八味丸。</p>
<p><u>補中益氣湯</u>（方見潰瘍發熱門）</p>
<p><u>火龍膏</u>　治風寒濕毒所襲，筋攣骨痛，或肢節疼痛，及濕痰流注，經絡作痛，或不能行步。治鶴膝風、歷節風疼痛，其效尤速。</p>
<p>生薑（八兩，取汁）　乳香（為末）　沒藥（為末，各五錢）　麝香（為末，一錢）　真牛皮膠（二兩，切碎，用廣東者）　先將薑汁並膠溶化，方下乳香沒藥調勻，待稍溫，下麝香，即成膏矣，攤貼患處。更服五積散，如鶴膝風，須服大防風湯。</p>
<p><u>二陳湯</u>　和中理氣，健脾胃，消痰進飲食。</p>
<p>半夏（薑製）　陳皮（炒）　茯苓（各一錢五分）　甘草（炙，五分）　作一劑，水一鍾，姜三片，煎六分，食遠服。</p>
<p><u>半夏左經湯</u>　治足少陽經為四氣所乘，以致發熱腰脅疼痛，頭目眩暈，嘔吐不食，熱悶煩心，腿痹縱緩。</p>
<p>半夏（薑製）　乾葛　細辛　白朮　麥門冬（去心）　茯苓　桂心（去皮）　防風　乾薑（炮）黃芩　柴胡　甘草（炙，各一錢）　作一劑，水二鍾，姜三片，棗一枚，煎八分，食前服。</p>
<p><u>大黃左經湯</u>　治四氣流注足陽明經，致腰腳尖腫痛不可行，大小便秘，或不能食，氣喘滿，自汗。</p>
<p>細辛　茯苓　羌活　大黃（煨）　甘草（炙）　前胡　枳殼　厚朴（薑製）　黃芩　杏仁（去皮尖，炒，各一錢）　作一劑，水二鍾，姜三片，棗二枚，煎八分，食前服。</p>
<p><u>加味敗毒散</u>　治足三陽經受熱毒，流於腳踝，焮赤腫痛，寒熱如瘧，自汗短氣，小便不利，手足或無汗，惡寒。</p>
<p>羌活　獨活　前胡　柴胡　枳殼　桔梗　甘草　人參　茯苓　川芎　大黃　蒼朮（各一錢）　作二劑，水二鍾，姜三片，煎八分服。</p>
<p><u>附子六物湯</u>　治四氣流注於足太陰經，骨節煩痛，四肢拘急，自汗短氣，小便不利，手足或時浮腫。</p>
<p>附子　防己（各四錢）　甘草（炙，二錢）　白朮　茯苓（各三錢）　桂枝（四錢）　作二劑，水一鍾半，姜三片，煎一鍾，食遠服。</p>
<p><u>八味丸</u>　治命門火衰，不能上生脾土，致脾胃虛弱，飲食少思，或食不化，日漸消瘦；及虛勞，渴欲飲水，腰重疼痛，小腹急痛，小便不利；及腎氣虛寒，臍腹作痛，夜多旋溺，腳膝無力，肢體倦怠。</p>
<p>即腎氣丸每料加肉桂一兩，附子一兩。其附子每日用新童便數碗，浸五六日，切作四塊，再如前浸數日，以草紙包裹，將水濕紙，炮半日，去皮臍尖，切作大片，如有白星，再用火炙，以無白星為度。一兩。凡用俱要照此法炮過，方宜用（方見肺癰門。）每服五十丸，空心鹽湯下。</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>交加散</u>　治風寒濕毒所傷，腿腳疼痛，或筋攣骨痛，及腰背攣痛，或頭痛惡寒拘急，遍身疼痛，一切寒毒之證並效。</p>
<p>即五積散（方見前）對人參敗毒散（方見潰瘍發熱門）。</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>檳蘇散</u>　治風濕流注，腳脛痠痛，或嘔吐不止。</p>
<p>檳榔　木瓜（各一錢）　香附子　紫蘇（各三分）　陳皮　甘草（炙，各一錢）　作一劑，水一鍾半，姜三片，蔥白三莖，煎一鍾，空心服。</p>
<p><u>麻黃左經湯</u>　治風寒暑濕流注足太陽經，腰足攣痹，關節重痛，增寒發熱，無汗惡寒，或自汗惡風頭痛。</p>
<p>麻黃（去節）　乾葛　茯苓　蒼朮（米泔浸炒）　防己（酒拌）　桂心　羌活　防風　細辛　甘草（炙，各一錢二分）　作一劑，水二鍾，姜三片，棗一枚，煎八分，食前服。</p>
<p><u>加味四斤丸</u>　治肝腎二經氣血不足，足膝痠痛，步履不隨，如受風寒濕毒以致腳氣者，最宜服之。</p>
<p>虎脛骨（一兩，酥炙）　沒藥（另研）　乳香（另研，各五錢）　川烏（一兩，炮去皮）　肉蓯蓉　川牛膝（一兩五錢）　木瓜（一斤，去穰蒸）　天麻（一兩）　余為末，將木瓜、蓯蓉搗膏，加酒糊和，頓熟杵丸，梧桐子大每服七八十丸，空心溫酒或鹽湯任下。</p>
<p><u>局方換腿丸</u>　治足三陰經為四氣所乘，攣痹緩縱，或上攻胸脅肩背，或下注腳膝作痛，足心發熱，行步艱辛。</p>
<p>薏苡仁　南星（湯炮）　石楠葉　石斛　檳榔　萆薢（炙）　川牛膝　羌活　防風　木瓜（各四兩）　黃耆（炙）　當歸　天麻　續斷（各一兩）　為末，酒糊丸，梧桐子大，每服五十丸，鹽湯送下。</p>
<p><u>五香連翹散</u>（方見腫瘍門）</p>
<p><u>三因勝駿丸</u>　治元氣不足為寒濕之氣所襲，腰足攣拳，或腳面連指，走痛無定，筋脈不伸，行步不隨。常服益真氣，壯筋骨。</p>
<p>附子（泡法見八味丸）　當歸　天麻　牛膝　木香　酸棗仁（炒）　熟地黃（用生者酒拌蒸半日，忌鐵器，杵膏）　防風（各二兩）　木瓜（四兩）　羌活　乳香（各五錢）　麝香（二錢）　全蠍（炒）　沒藥　甘草（炙，各一兩）　為末，用生地黃三斤，用無灰酒四升，煮乾，再曬二日，杵爛如膏，入前末和勻，杵千餘下，每兩作十丸，每服一丸細嚼，臨臥酒下，作小丸服亦可。</p>
<p><u>大神效活絡丹</u>（方見奇效良方風門）</p>
<p><u>獨活寄生湯</u>　治肝腎虛弱，風濕內攻，兩脛緩縱，攣痛痹弱，足膝攣重。</p>
<p>獨活（二錢）　白茯苓　杜仲（薑製）　當歸（酒洗）　防風　芍藥（炒）　人參　細辛　桂心芎藭　秦艽　牛膝（酒拌）　桑寄生（真者，各一錢）　甘草（炙，五分）　地黃（用生者酒拌蒸半日，忌鐵器，一錢）　作一劑，水二鍾，姜三片，煎八分，食前服。</p>
<p><u>神應養真丹</u>　治厥陰經為四氣所襲，腳膝無力，或左癱右瘓，半身不遂，手足頑麻，語言蹇澀，氣血凝滯，遍身疼痛。</p>
<p>當歸（酒浸片時搗膏）　川芎　熟地黃（制如前方）　芍藥　羌活　天麻　菟絲子（酒製為末）　木瓜（各等分）　上為末，入地黃、當歸二膏，加蜜，丸梧子大。每服百丸，空心服下，鹽湯亦可。</p>
<p><u>開結導引丸</u>　治飲食不消，心下痞悶，腿腳腫痛。</p>
<p>白朮（炒）　陳皮（炒）　澤瀉　茯苓　神麯（炒）　麥糵（炒）　半夏（薑製，各一兩）　枳實（炒）　巴豆霜（各一錢五分）　青皮　乾薑（各五錢）　為末，湯浸蒸餅，丸如梧子大。每服四五丸，凡十丸，溫水下。此內傷飲食，脾胃營運之氣有虧，不能上升，則注為腳氣。故用此導引行水，化脾氣也。</p>
<p><u>導滯通經湯</u>　治脾經濕熱，壅遏不通，面目手足作痛。即五苓散內減豬苓、官桂，加木香、陳皮，每服三錢，滾湯下。</p>
<p><u>五苓散</u>　治下部濕熱瘡毒，或浮腫，小便赤少。</p>
<p>澤瀉　肉桂（去粗皮）　白朮　豬苓　赤茯苓（去皮，各等分）　為細末。每服一錢，熱湯調服，不拘時。</p>
<p><u>托裡散</u>（方見腫瘍門）</p>

<h1>卷四</h1>

<h2>脫疽</h2>
<p>謂疔生於足趾，或足潰而自脫，故名脫疽。</p>
<p>亦有發於手指者，名曰蛀節疔，重者腐去本節，輕者筋攣。</p>
<p>焮痛者，除濕攻毒，更以隔蒜灸至不痛。焮痛，或不痛者，隔蒜灸之，更用解毒藥。若色黑，急割去，速服補劑，庶可救。黑延上，亦不治。色赤焮痛者，托裡消毒，更兼灸。作渴者，滋陰降火，色黑者不治。</p>
<p>一男子足趾患之，焮痛色赤發熱，隔蒜灸之，更以人參敗毒散去桔梗，加金銀花、白芷、大黃，二劑痛止。又十宣散去桔梗、官桂，加天花粉、金銀花，數劑而痊。</p>
<p>一男子足趾患之，色紫不痛，隔蒜灸五十餘壯，尚不知痛。又明灸百壯，始痛，更投仙方活命飲四劑，乃以托裡藥，潰脫而愈。</p>
<p>一男子足趾患之，大痛，色赤而腫，令隔蒜灸至痛止。以人參敗毒散去桔梗，加金銀花、白芷、大黃而潰，更以仙方活命飲而痊。此證形勢雖小，其惡甚大，須隔蒜灸之。不痛者，宜明灸之，庶得少殺其毒。此證因膏粱厚味，酒面炙爆，積毒所致；或不慎房勞，腎水枯竭；或服丹石補藥。致有先渴而後患者，有先患而後渴者，皆腎水涸，不能制火故也。初發而色黑者，不治。赤者水未涸，尚可。若失解其毒，以致肉死色黑者，急斬去之，緩則黑延上，足必死。此患不問腫潰，惟隔蒜灸有效，亦有色赤作痛而自潰者，元氣未脫易治。夫至陰之下，血氣難到，毒易腐肉，藥力又不易達。況所用皆攻痛之藥，未免先於腸胃，又不能攻敵其毒。不若隔蒜灸，並割去，最為良法。故孫真人云：在指則截，在內則割。即此意也。</p>
<p>一男子腳背患此，赤腫作痛，令隔蒜灸三十餘壯，痛止。以仙方活命飲，四劑而潰。更以托裡消毒藥而愈。</p>
<p>一男子足趾患之，色赤焮痛作渴。隔蒜灸數壯，服仙方活命飲，三劑而潰。更服托裡藥，及加減八味丸，潰脫而愈。</p>
<p>一男子足趾患之，色黑不痛，令明灸三十餘壯而痛，喜飲食如常。余謂：「急割去之，速服補劑。」彼不信。果延上，遂致不救。</p>
<p>一男子腳背患之，色黯而不腫痛，煩躁大渴，尺脈大而澀。此精已絕，不治，後果然。</p>
<p><u>附方</u></p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>隔蒜灸法</u></p>
<p><u>仙方活命飲</u>（二方見發背門）</p>
<p><u>加減八味丸</u>（方見作渴門）</p>
<p><u>十宣散</u>（方見腫瘍門）</p>

<h2>肺癰肺痿</h2>
<p>喘嗽氣急胸滿者，表散之；咳嗽發熱者，和解之；咳而胸膈隱痛，唾涎腥臭者，宜排膿；喘急恍惚痰盛者，宜平肺；唾膿，脈短澀者，宜補之。</p>
<p>一男子喘咳，脈緊數，以小青龍湯一劑，表證已解。更以葶藶大棗湯，喘止。乃以桔梗湯而愈。</p>
<p>一男子咳嗽氣急，胸膈脹滿，睡臥不安。以葶藶散，二服稍愈，更以桔梗湯而瘥。</p>
<p>一男子咳嗽，項強氣促，脈浮而緊。以參蘇飲，二劑少愈，更以桔梗湯，四劑而痊。</p>
<p>一男子咳嗽，兩脅脹滿，咽乾口燥，咳唾腥臭。以桔梗湯，四劑而唾膿；以排膿散，數服而止，乃以補陰托裡之劑而瘳。</p>
<p>一男子咳而膿不止，脈不退，諸藥不應，甚危。用拓黃丸，一服稍愈，再服頓退，數服而痊。</p>
<p>一婦人唾膿，五心煩熱，口乾胸悶。以四順散，三劑少止；以排膿散，數服而安。</p>
<p>一男子因勞咳嗽不止，項強而痛，脈微緊而數，此肺癰也。尚未成膿，余欲用托裡益氣藥，彼不信，仍服發散藥，以致血氣愈虛，吐膿不止，竟至不救。經云：肺內主氣，外司皮毛。若肺氣虛，則腠理不密，皮毛不澤。肺受傷，則皮毛錯縱。故患肺癰、肺痿、腸癰者，必致皮毛如此，以其氣不能榮養而然也。亦有服表藥，見邪不解，仍又發表，殊不知邪不解者，非邪不能解，多因腠理不密，而邪復入也。專用發表，則腠理愈虛，邪愈易入，反為敗症矣。宜診其脈，邪在表者，止當和解而實腠理。乘虛復入者，亦當和解，兼實腠理，故用托裡益氣之藥。若小便赤澀，為肺熱所傳；短少為肺氣虛。蓋肺為母，腎為子，母虛不能生子故也　。亦有小便頻數者，亦為肺虛不能約制耳。</p>
<p>一男子面白神勞，咳而胸膈隱痛，其脈滑數。余以為肺癰，欲用桔梗湯。不信，仍服表藥，致咳嗽愈甚，唾痰腥臭，始悟。乃服前湯四劑，咳嗽少定；又以四順散四劑而脈靜；更以托裡藥數劑而愈。大抵勞傷血氣，則腠理不密，風邪乘肺，風熱相搏，蘊結不散，必致喘嗽。若誤汗下過度，則津液重亡，遂成斯證。若寸脈數而虛者，為肺痿；數而實者，為肺癰。脈微緊而數者，未有膿也；緊長而數者，已有膿也。唾膿自止，脈短而面白者，易治；膿不止，脈洪大，而面色赤者，不治。使其治早可救，膿成則無及矣。《金匱》方：論熱在上焦者，因咳為肺痿得之，或從汗出，或從嘔吐，或從消渴，小便利數，或從便難。又彼下藥快利，重亡津液，故寸自脈數，其人燥咳，胸中隱隱時痛，脈反滑數，此為肺癰。咳唾膿血，脈數虛者，為肺痿；數實者，為肺癰。</p>
<p>一童子氣稟不足，患肺癰，唾膿腥臭，皮毛枯槁，脈浮，按之澀，更無力，用鍾乳粉湯治之。</p>
<p>一男子患之，形證皆同，惟咽喉時或作癢，痰多脅痛，難於睡臥。用紫菀茸湯治之，並愈。</p>
<p>一弱人咳膿，日晡發熱，夜間盜汗，脈浮數而緊。用人參五味子湯，數劑頓退，以紫菀茸湯，月餘而痊。</p>
<p>一男子腎氣素弱，咳唾痰涎，小便赤色，服腎氣丸而愈。</p>
<p>一僕年逾三十，嗽久不愈，氣壅不利，睡臥不寧，咯吐膿血，甚虛可畏，其主已棄矣。余以寧肺散，一服少愈，又服而止大半，乃以寧肺湯數劑而痊。所謂有是病，必用是藥，若泥前散性澀而不用，何以得愈？</p>
<p>一男子患肺痿，咳嗽喘急，吐痰腥臭，胸滿咽乾，脈洪數。用人參平肺散六劑，及飲童子小便，諸證悉退，更以紫菀茸湯而愈。童便雖云專治虛火，常治瘡瘍腫焮疼痛，發熱作渴，及肺痿肺癰，發熱口渴者，尤效。</p>
<p>一婦人患肺痿咳嗽，吐痰腥臭，日晡發熱，脈數無力。用地骨皮散治之，熱止；更用人參養肺湯，月餘而安。</p>
<p>一男子咳嗽喘急，發熱煩躁，面赤咽痛，脈洪大。用黃連解毒湯，二劑少退，更以梔子湯，四劑而安。</p>
<p>一癧婦咳而無痰咽痛，日晡發熱，脈浮數。先以甘桔湯少愈，後以地骨皮散而熱退；更以腎氣丸及八珍湯加柴胡、地骨皮、牡丹皮而愈。丹溪云：咳而無痰者，此係火鬱之證，及痰鬱火邪在中，用苦梗開之，下用補陰降火之劑，不已，則成勞嗽，此證不得志者多有之。又《原病式》曰：人瘦者，腠理疏通而多汗，血液衰少而為燥，故為勞嗽之疾也。</p>
<p>一男子年前病肺癰，後又患咳嗽，頭眩唾沫，飲食少思，小便頻數。服解散化痰藥，不應。診之，脾肺二脈，虛甚。余謂：眩暈唾涎，屬脾氣不能上升，小便無度，乃肺氣不得下制，尚未成癰耳。投以加味理中湯四劑，諸證已退大半，更用鍾乳粉湯而安。河間曰：《金匱》云：肺痿屬熱，如咳，又肺癟聲啞，聲嘶咯血，此屬陰虛熱甚然也。本論治肺痿吐涎沫而不咳者，其人不渴，必遺尿，小便數，以上虛不能制下故也。此為肺中冷，必眩，多涎唾。用炙甘草、乾薑，此屬寒也。肺痿涎唾多，心中溫液。溫液者，用炙甘草湯，此補虛勞也。亦與補陰虛火熱不同，是皆宜分治，故肺痿又有寒熱之異也。</p>
<p><u>附方</u></p>
<p><u>青龍湯</u>　治肺經受寒，咳嗽喘急。</p>
<p>半夏（湯泡七次，二兩半）　乾薑（炮）　細辛　麻黃（去節）　肉桂　芍藥　甘草（炙，各三兩）五味子（二兩，搗炒）　每服五錢，水一鍾，姜二片，煎七分，食後服。</p>
<p><u>葶藶大棗瀉肺湯</u>　治肺癰胸膈脹滿，上氣喘急，或身面浮腫，鼻塞聲重。</p>
<p>葶藶炒令黃色，研末，每服三錢，用水二鍾，棗十枚，煎八分，去棗入藥，煎七分，食後服。</p>
<p><u>升麻湯</u>　治肺癰，胸乳間皆痛，口吐膿腥臭。</p>
<p>川升麻　苦梗（炒）　薏苡仁　地榆　黃芩（炒）　赤芍藥（炒）　牡丹皮（去心）　生甘草（各一錢）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>參蘇飲</u>　治感冒風邪，咳嗽，涕唾稠黏，或發熱頭痛，或頭目不清，胸膈不利。</p>
<p>木香　蘇葉　葛根（薑製）　前胡　半夏（湯泡七次）　人參　茯苓（各七分）　枳殼（麩炒）桔梗（炒）　甘草（炙）　陳皮（去皮，各五分）　作一劑，水二鍾，姜一片煎八分，食遠服，加蔥一莖。</p>
<p><u>桔梗湯</u>　治咳而胸滿隱痛，兩胠腫滿，咽乾口燥，煩悶多渴，時出濁唾腥臭。</p>
<p>桔梗（炒）　貝母（去心）　當歸（酒浸）　栝蔞仁　枳殼（麩炒）　薏苡仁（微炒）　桑白皮（炒）　甘草節　防己（去皮，各一錢）　黃耆（鹽水拌炒）　百合（蒸，各錢半）　五味子（搗炒）　甜葶藶（炒）　地骨皮　知母（炒）　杏仁（各五分）　作一劑，水一鍾半，生薑三片，煎七分，不拘時，溫服。咳加百藥煎；熱加黃芩；大便不利，加煨大黃少許；小便澀甚，加木通、車前子；煩躁加白茅根；咳而痛甚，加人參、白芷。</p>
<p><u>排膿散</u>　治肺癰吐膿後，宜服此排膿補肺。</p>
<p>嫩黃耆（鹽水拌炒）　白芷　五味子（研炒）　人參（各等分）　為細末，每服三錢，食後，蜜湯調下。</p>
<p><u>四順散</u>　治肺癰吐膿，五心煩熱，壅悶咳嗽。</p>
<p>貝母（去心）　紫菀（去苗）　桔梗（炒，各錢半）　甘草（七分）　作一劑，水二鍾，煎八分，食遠服。如咳嗽加杏仁。亦可為末，白湯調服。</p>
<p><u>如聖柘黃丸</u>　治肺癰咳而腥臭，或唾膿瘀。不問膿成否，並效。肺家雖有方，惟此方功效甚捷，不可忽之。</p>
<p>柘黃（一兩，為末）　百齒霜（即梳垢，三錢）　用糊為丸，如梧子大，每服三五丸，米飲下。柘黃，乃柘樹所生者，其色黃，狀靈芝，江南最多，北方鮮有。</p>
<p><u>葶藶散</u>　治過食煎爆，或飲酒過度，致肺壅喘不臥，及肺癰濁唾腥臭。</p>
<p>甜葶藶　桔梗（炒）　栝蔞仁　川升麻　薏苡仁　桑白皮（炙）　葛根（各一錢）　甘草（炙，五分）　作一劑，水一鍾半，生薑三片，煎八分，食後服。</p>
<p><u>鍾乳粉散</u>　治肺氣虛久嗽，皮毛枯槁，唾血腥臭，或喘之不已。</p>
<p>鍾乳粉（煅煉熟）　桑白皮（蜜炙）　紫蘇　麥門冬（去心，各五分）　作一劑，水一鍾，姜三片，棗一枚，煎六分，食後服。</p>
<p><u>紫菀茸湯</u>　治飲食過度，或煎爆傷肺，咳嗽咽乾，吐痰唾血，喘急脅痛，不得安臥。</p>
<p>紫菀茸（去苗，一錢）　犀角（鎊末）　甘草（炙）　人參（各五分）　桑葉（用經霜者）　款冬花　百合（蒸焙）　杏仁（去皮尖）　阿膠（蛤粉炒）　貝母（去心）　半夏（泡製）　蒲黃（炒，各一錢）作一劑，水一鍾半，生薑三片，煎八分，入犀角末，食後服。</p>
<p><u>人參五味子湯</u>　治氣血勞傷，咳膿，或咯血，寒熱往來，夜出虛汗，羸瘦困乏，一切虛損之證並治。</p>
<p>人參　五味子（酒炒）　前胡　桔梗（炒）　白朮（炒）　白茯苓（去皮）　陳皮（去白）　熟地黃（生者酒拌，蒸半日）　甘草（炙）　當歸（酒拌炒，各一錢）　地骨皮　黃耆（炙）　桑白皮（炒）　枳殼（去穰炒）　柴胡（各七分）　作一劑，水一鍾半，生薑三片，煎八分，食後服。</p>
<p><u>寧肺散</u>（一名寧神散）　治久嗽漸咯膿血，胸膈不利，咳嗽痰盛，坐臥不安，語言不出。</p>
<p>烏梅（八錢）　罌粟殼（二斤，去斤蜜炙）　為末，每服二錢，煎烏梅湯調下，不拘時。</p>
<p><u>寧肺湯</u>　治榮衛俱虛，發熱自汗，或喘急咳嗽唾膿。</p>
<p>人參　當歸　白朮（炒）　川芎　熟地黃（制如前）　白芍藥　五味子（搗炒）　麥門冬（去心）　桑白皮（炒）　白茯苓　阿膠（蛤粉炒）　甘草（炙，各一錢）　作一劑，水二鍾，姜三片，煎八分，食後服。</p>
<p><u>知母茯苓湯</u>　治肺痿喘嗽不已，往來寒熱自汗。</p>
<p>茯苓　黃芩（炒，各二錢）　甘草（炙）　知母（炒）　五味子（搗炒）　人參　桔梗　薄荷　半夏（薑製）　柴胡　白朮　麥門冬（去心）　款冬花（各三錢）　川芎　阿膠（蛤粉炒，各二錢）　作一劑，水二鍾，姜三片，煎一鍾，食後服。</p>
<p><u>人參平肺散</u>　治心火克肺，傳為肺痿，咳嗽喘嘔，痰涎壅盛，胸膈痞滿，咽嗌不利。</p>
<p>人參　陳皮（去白）　甘草（炙）　地骨皮（各五分）　茯苓　知母（炒，各七分）　五味子（搗炒）青皮　天門冬（去心，各四分）　桑白皮（炒，一錢）　作一劑，水二鍾，姜三片，煎八分，食後服。</p>
<p><u>人參養肺湯</u>　治肺痿咳嗽有痰，午後熱，並聲颯者。</p>
<p>人參　五味子（搗炒）　貝母（去心）　柴胡（各四分）　桔梗（炒）　茯苓（各一錢五分）　甘草（五分）　桑白皮（二錢）　枳實（麩炒，一錢五分）　杏仁（炒）　阿膠（蛤粉炒，各一錢）　作一劑，水一鍾半，姜三片，棗一枚，煎八分，食後服。</p>
<p><u>梔子仁湯</u>　治肺痿發熱潮熱，或發狂煩躁，面赤咽痛。</p>
<p>梔子仁　赤芍藥　大青葉　知母（炒，各七分）　黃芩（炒）　石膏（煅）　杏仁（去皮尖炒）升麻（各一錢半）　柴胡（二錢）　甘草（一錢）　豆豉（百粒）　作一劑，水一鍾，煎八分，食遠服。</p>
<p><u>黃連解毒湯</u>（方見瘡瘍作嘔門）</p>
<p><u>甘桔湯</u>　治肺氣壅熱，胸膈不利，咽喉腫痛，痰涎壅盛。</p>
<p>甘草　苦梗（各五錢）　作一劑，水一鍾半，煎八分，食遠服。</p>
<p><u>地骨皮散</u>　治骨蒸潮熱，自汗，咳吐腥穢稠痰。</p>
<p>人參　地骨皮　柴胡　黃耆　生地黃（各一錢半）　白茯苓　知母（炒）　石膏（煅各一錢）作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>腎氣丸</u>　治腎氣素虛，不交於心，津液不降，敗濁為痰，致咳逆。</p>
<p>乾山藥（四兩）　吳茱萸（去核，四兩，酒洗）　澤瀉（蒸）　牡丹皮（白者佳）　白茯苓（各三兩）熟地黃（用生者八兩酒拌，銅器蒸半日，砂器亦可，搗膏。）余為末，地黃、茱萸杵膏，加蜜，丸如梧子大，每服五六十丸，空心滾湯送下，鹽湯溫酒皆可。</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>加味理中湯</u>　治肺胃俱寒，發熱不已。</p>
<p>甘草（炙）　半夏（薑製）　茯苓　乾薑（炮）　白朮（炒）　橘紅　細辛　五味子（搗炒）　人參（各五分）　作一劑，水一鍾，煎六分，食遠服。</p>

<h2>腸癰</h2>
<p>小腹硬痛，脈遲緊者，瘀血也，宜下之。小腹焮痛，脈洪數者，膿成也，宜托之。</p>
<p>一男子小腹痛而堅硬，小便數，汗時出，脈遲緊。以大黃湯，一劑下瘀血合許；以薏苡仁湯，四劑而安。</p>
<p>一產婦小腹疼痛，小便不利。以薏苡仁湯，二劑痛止；更以四物湯加桃仁、紅花，下瘀血升許而愈。大抵此證，皆因榮衛不調，或瘀血停滯所致。若脈洪數，已有膿；脈但數，微有膿；脈遲緊，乃瘀血；下之即愈。若患甚者，腹脹大，轉側作水聲，或膿從臍出，或從大便出，宜以丸太乙膏，及托裡藥。</p>
<p>一婦人小腹腫痛，小便如淋，尺脈芤而遲。以神效栝蔞散，二劑稍愈；更以薏苡仁湯，二劑而痊。</p>
<p>一男子膿已成，用雲母膏，一服下膿升許，更以排膿托裡藥而愈。後因不守禁忌，以致不救。</p>
<p>一男子裡急後重，時或下膿脹痛，脈滑數，以排膿散及蠟礬丸而愈。</p>
<p>一婦人小腹作痛有塊，脈芤而澀。以四物湯，加玄胡索、紅花、桃仁、牛膝、木香、治之而愈。</p>
<p>一婦人小腹隱痛，大便秘澀腹脹，轉側作水聲，脈洪數。以梅仁湯，一劑諸證悉退；以薏苡仁湯，二劑而瘥。</p>
<p>一婦人腹脹，㽲痛不食，縱小便不利，脈滑數。以太乙膏一服，膿下升許，脹痛頓退；以神效栝蔞散，二劑而全退；更以蠟礬丸及托裡藥，十數劑而安。</p>
<p>一婦人因經水多，服澀藥止之，致腹作痛，以失笑散二服而瘳。</p>
<p>一婦人產後惡露不盡，小腹患痛，服瓜子仁湯，下瘀血而痊。凡瘀血停滯，宜急治之，緩則腐化為膿，最難治療。若流注骨節，則患骨疽，失治多為敗證。</p>
<p><u>附方</u></p>
<p><u>大黃湯</u>　治腸癰，小腹堅腫如掌而熱，按之則痛，肉色如故，或焮赤微腫，小便頻數，汗出增寒，其脈遲緊者，未成膿，宜服之。</p>
<p>朴硝　大黃（炒，各一錢）　牡丹皮　栝蔞仁（研）　桃仁（去皮尖，各三錢）　作一劑，水二鍾，煎八分，食前，或空心溫服。</p>
<p><u>牡丹皮散</u>　治腸癰腹濡而痛，時時下膿。</p>
<p>牡丹皮　人參　天麻　白茯苓　黃耆（炒）　薏苡仁　桃仁（去皮尖）　白芷　當歸（酒拌）川芎（各一錢）　官桂　甘草（炙，各五分）　木香（三分）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>梅仁湯</u>　治腸癰腹痛，大便秘澀。</p>
<p>梅核仁（九個，去皮尖）　大黃（炒）　牡丹皮　芒硝（各一錢）　犀角（銼末，一錢）　冬瓜仁（研，二錢）　作一劑，水二鍾，煎八分，入犀角末，空心服。</p>
<p><u>神效栝蔞散</u>（方見乳癰門）</p>
<p><u>薏苡仁湯</u>　治腸癰腹中㽲痛，或脹滿不食，小便澀。婦人產後多有此病，縱非癰，服之尤效。</p>
<p>薏苡仁　栝蔞仁（各三錢）　牡丹皮　桃仁（去皮尖，各二錢）　作一劑，水二鍾，煎八分，空心服。</p>
<p><u>雲母膏</u>　治一切瘡疽及腸癰（方見《丹溪纂要》）</p>
<p><u>神仙太乙膏</u>　治癰疽，及一切瘡毒，不問年月深淺，已未成膿，並治之。如發背，先以溫水洗淨，軟帛拭乾，用緋帛攤貼，即用冷水送下；血氣不通，溫酒下；赤白帶下，當歸酒下；咳嗽，及喉閉纏喉風，並用新綿裹，置口中含化下；一切風赤眼，捏作小餅，貼太陽穴，以山梔子湯下；打撲傷損外貼，內服橘皮湯下；腰膝痛者，患處貼之，鹽湯下；唾血者，桑白皮湯下。以蛤粉為衣，其膏可收，十餘年不壞，愈久愈烈。又治瘰癧，並用鹽湯洗貼，酒下一丸。婦人經脈不通，甘草湯下。一切疥，別煉油少許，和膏塗之。虎犬並蛇蠍湯火刀斧傷，皆可內服外貼。</p>
<p>玄參　白芷　當歸　肉桂　大黃　赤芍藥　生地黃（各一兩）</p>
<p>為咀，用麻油二斤，入銅鍋內，煎至黑，濾去粗，入黃丹十二兩，再煎，滴水中，捻軟硬得中，即成膏矣。余嘗用，但治瘡毒諸內癰，有奇效。忽一婦月經不行，腹結塊作痛，貼之經行痛止。遂隨前云，治證用之，無不有效，愈知此方之妙用也。</p>
<p><u>蠟礬丸</u>（方見發背門）</p>
<p><u>失笑散</u>　治產後心腹絞痛欲死，或血迷心竅，不知人事，及尋常腹內瘀血，或積血作痛。又婦人氣血痛之聖藥也，及治疝氣疼痛。</p>
<p>五靈脂　蒲黃（俱炒，等分）　每服二三錢，醋一合，熬成膏，入水一盞，煎七分，食前熱服。</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>排膿散</u>　治腸癰少腹脹痛，脈滑數，或裡急後重，或時時下膿。</p>
<p>黃耆（炒）　當歸（酒拌）　金銀花　白芷　穿山甲（蛤粉拌炒）　防風　連翹　栝蔞（各二錢）　作一劑，用水二鍾，煎八分，食前服。或為末，每服二錢，食後蜜湯調下，亦可。</p>
<p><u>瓜子仁湯</u>　治產後惡露不盡，或經後瘀血作痛，或腸胃停滯，瘀血作痛，或作癰患，並效。</p>
<p>薏苡仁（四錢）　桃仁（去皮尖，研）　牡丹皮　栝蔞仁（各一錢）　作一劑，水二鍾，煎八分，食前服。</p>

<h1>卷五</h1>

<h2>瘰癧</h2>
<p>焮腫脈沉數者，邪氣實也，宜泄之。腫痛，增寒發熱，或拘急者，邪在表也，宜發散。因怒結核，或腫痛，或發熱者，宜疏肝行氣。腫痛脈浮數者，祛風清熱。脈澀者，補血為主。脈弱者，補氣為主。腫硬不潰者，補氣血為主。抑鬱所致者，解鬱結調氣血。潰後不斂者，屬氣血俱虛，宜大補。虛勞所致者，補之。因有核而不斂者，腐而補之。脈實而不斂，或不消者，下之。</p>
<p>一男子患此，腫痛發寒熱，大便秘，以射干連翹散，六劑熱退大半；以仙方活命飲，四劑而消。</p>
<p>一婦人耳下腫痛，發寒熱，與荊防敗毒散，四劑表證悉退；以散腫潰堅湯，數劑腫消大半，再以神效栝蔞散，四劑而平。</p>
<p>一男子肝經風熱，耳下腫痛發熱，脈浮數，以薄荷丹治之而消。</p>
<p>一男子每怒，耳下腫，或脅作痛，以小柴胡湯，加青皮、木香、紅花、桃仁，四劑而愈。</p>
<p>一男子腫硬不作膿，脈弦而數，以小柴胡湯兼神效栝蔞散，各數劑；及隔蒜灸數次，月餘而消。</p>
<p>一婦人頸腫不消，與神效栝蔞散，六劑稍退；更以小柴胡湯，加青皮、枳殼、貝母，數劑消大半；再以四物對小柴胡，數劑而平。</p>
<p>一男子因暴怒，項下腫痛結核，滯悶兼發熱，用方脈流氣飲二劑，胸膈利；以荊防敗毒散，一劑而熱退；肝脈尚弦澀，以小柴胡加芎、歸、芍藥，四劑脈證頓退；以散腫潰堅丸，一料將平，惟一核不消，乃服遇仙無比丸二兩而瘳。</p>
<p>一婦人久郁，患而不潰，既潰不斂，發熱口乾，月水短少，飲食無味，日晡尤倦，以益氣養榮湯，二十餘劑稍健。余謂須服百劑，庶保無虞，彼欲求速效，反服斑蝥之劑，及數用追蝕毒藥，去而復結，以致不能收斂，出水不止，遂致不救。然此證，屬虛勞氣鬱所致，宜補形氣，調經脈，未成者自消，已成自潰，若投慓悍之劑，則氣血愈虛，多變為瘵證。然堅而不潰，潰而不合，氣血不足明矣，況二經之血，原自不足，不可不察。</p>
<p>一男子久而不斂，神思困倦，脈虛，余欲投以托裡，彼以為迂，乃服散腫潰堅湯，半月餘，果發熱，飲食愈少，復求治，投益氣養榮湯三月，喜其謹守，得以收斂。齊氏云：結核瘰癧初覺，宜內消之；如經久不除，氣血漸衰，肌寒肉冷，或膿汁清稀，毒氣不出，瘡口不合，聚腫不赤，結核無膿，外證不明者，並宜托裡；膿未成者，使膿早成；膿已潰者，使瘡無變壞之證，所以宜用也。</p>
<p>一男子久不斂，膿出更清，面黃羸瘦，每侵晨作瀉，與二神丸，數服瀉止；更以六君子湯，加芎歸，月餘肌體漸復；灸以豆豉餅，及用補劑作膏藥貼之，三月餘而愈。</p>
<p>一婦潰後核不腐，以益氣養榮湯三十餘劑，更敷針頭散腐之，再與前湯三十餘劑而斂。</p>
<p>一男子未潰，倦怠發熱，以補中益氣湯，治之稍愈；以益氣養榮湯，月餘而潰，又月而瘥。</p>
<p>一婦人肝經積熱，患而作痛，脈沉數，以射干連翹湯，四劑稍愈；更用散腫潰堅丸，月餘而消。丹溪云：瘰癧必起於足少陽一經，不守禁忌，延及足陽明經。食味之厚，鬱氣之久，曰毒、曰風、曰熱，皆此二端，拓引變換，須分虛實。實者易治，虛者可慮。此經主決斷，有相火，且氣多血少，婦人見此，若月水不調，寒熱變生，稍久轉為潮熱，自非斷欲食淡，神醫不能療也。</p>
<p>一男子患面腫硬，久不消，亦不作膿，服散堅敗毒藥，不應。令灸肘尖、肩尖二穴，更服益氣養榮湯，月餘而消。一男子面硬，亦灸前穴，飲前湯，膿成，針之而斂。一婦人久潰發熱，月經每過期且少，用逍遙散兼前湯，兩月餘氣血復而瘡亦愈，但一口不收，敷針頭散，更灸前穴而痊。常治二三年不愈者，連灸三次，兼用托裡藥，即愈。一婦人因怒，結核腫痛，察其氣血俱實，先以神效散下之，更以益氣養榮湯，三十餘劑而消。常治此證，虛者先用益氣養榮湯，待其氣血稍充，乃用神效散，取去其毒，仍進前藥，無不效者。</p>
<p>一癧婦咽間如一核所鯁，咽吐不出，倦怠發熱，先以四七湯治之，而咽利，更以逍遙散。一婦所患同前，兼胸膈不利，肚腹膨脹，飲食少思，睡臥不安，用分心氣飲，並愈。</p>
<p>一室女年十七，項下時或作痛，乍寒乍熱，如瘧狀，肝脈弦長，此血盛之證也。先以小柴胡湯，二劑稍愈，更以生地黃丸，治之而痊。《婦人良方》云：寡婦之病，自古未有言者，藏倉公傳與褚澄，略而論及，言寡者，孟子正謂無夫曰寡是也。如師尼喪夫之婦，獨陰無陽，欲男子而不可得，是以鬱悒而成病也。《易》曰：天地絪縕，萬物化醇，男女媾精，萬物化生。孤陰獨陽可乎？夫既處閨門，欲心萌而不遂，致陰陽交爭，乍寒乍熱，有類瘧疾，久而為癆。又有經閉白淫，痰逆頭風，膈氣痞悶，面皯瘦瘠等證，皆寡婦之病。診其脈，獨肝脈弦，出寸口而上魚際，寬其脈，原其疾，皆血盛而得。經云：男子精盛則思室，女人血盛則懷胎。觀其精血，思過半矣。</p>
<p>一男子耳下患五枚如貫珠，年許尚硬，面色痿黃，飲食不甘，勞而發熱，脈數軟而澀。以益氣養榮湯，六十餘劑，元氣已復，患處已消，一核尚存，以必效散，二服而平。</p>
<p>一婦人久不作膿，脈浮而澀，余以氣血俱虛，欲補之，使自潰。彼欲內消，專服斑蝥，及散堅之藥，氣血愈虛而死。</p>
<p>一男子因勞，而患怠惰發熱，脈洪大，按之無力，余謂須服補中益氣湯。彼不信，輒服攻伐之劑，吐瀉不止，亦死。大抵此證原屬虛損，若不審虛實，而犯病禁經禁，鮮有不誤。常治先以調經解鬱，更以隔蒜灸之，多自消。如不消，即以琥珀膏貼之，俟有膿，即針之，否則變生他處。設若兼痰兼陰虛等證，只宜加兼證之劑，不可干擾余經。若氣血已復而核不消，卻服散堅之劑，至月許不應，氣血亦不覺損，方進必效散，或遇仙無比丸，其毒一下，即止二藥，更服益氣養榮湯數劑以調理。若瘡口不斂，宜用豆豉餅灸之，用琥珀膏貼之。氣血俱虛，或不慎飲食起居七情者，俱不治。然而此證以氣血為主，氣血壯實，不用追蝕之劑，彼亦能自腐，但取去，便易於收斂；若氣血虛，不先用補劑，而數用追蝕之藥，不惟徒治，適足以敗矣；若發寒熱，眼內有赤脈貫瞳人者，亦不治。一脈者，一年死；二脈者，二年死。</p>
<p>一男子素弱，潰後核不腐，此氣血皆虛，用托裡養榮湯，氣血將復，核尚在，以簪梃撥去，又服前藥，月餘而痊。</p>
<p>一男子氣血已復，核尚不腐，用針頭散，及必效散，各三次，不旬日而愈。</p>
<p>一男子患之，痰盛胸膈痞悶，脾胃脈弦，此脾土虛肝木乘之也，當以實脾土伐肝木為主。彼以治痰為先，乃服苦寒化痰藥，不應，又加以破氣藥，病愈甚。始用六君子湯加芎、歸數劑，飲食少思；以補中益氣湯，倍加白朮，月餘中氣少健；又以益養榮湯，兩月腫消，而血氣亦復矣。夫右關脈弦，弦屬木，乃木盛而克脾土，為賊邪也，虛而用苦寒之劑，是虛虛也，況痰之為病，其因不一，主治之法不同。凡治痰，用利藥過多，則脾氣愈虛，虛則痰愈易生，如中氣不足，必用參朮之類為主，佐以痰藥。</p>
<p>一婦人因怒項腫，後月經不通，四肢浮腫，小便如淋，此血分證也。先以椒仁丸數服，經行腫消；更以六君子湯，加柴胡、枳殼，數劑頸腫亦消矣。亦有先因小便不利，後身發腫，致經水不通，名曰水分，宜葶藶丸治之。《婦人良方》云：婦人腫滿，若先因經水斷絕，後至四肢浮腫，小便不通，名曰血分。水化為血，血不通，則復化為水矣，宜服椒仁丸。若先因小便不利，後身浮腫，致經水不通，名曰水分，宜服葶藶丸。</p>
<p>一室女年十九，頸腫一塊，硬而色不變，肌肉日削，筋攣急痛，此七情所傷，氣血所損之證也，當先滋養血氣，不信，乃服風藥，後果不起。盧砥鏡曰：經云：神傷于思慮則肉脫，意傷於憂愁則肢廢，魂傷於悲哀則筋攣，魄傷於喜樂則皮槁，志傷於盛怒則腰脊難以俯仰也。柯侍郎有女適人，夫早逝，女患十指攣拳，掌垂莫舉，膚體瘡瘍粟粟然，湯劑雜進，飲食頓減，幾於半載。適與診之，則非風也，此乃憂愁悲哀所致爾。病屬內因，於是內因藥，仍以鹿角膠輩，多用麝香熬膏貼痿處，攣能舉，指能伸，病漸安。</p>
<p>一癧婦四肢倦怠類痿證，以養血氣健脾胃藥而愈。</p>
<p>一室女性急好怒，耳下常腫痛，發寒熱，肝脈弦急。投以小柴胡湯，加青皮、牛蒡子、荊芥、防風治之，而寒熱退；更以小柴胡湯對四物，數劑而腫消。其父欲除去病根，勿令再發。余謂：肝內主藏血，外主榮筋，若恚怒氣逆則傷肝。肝主筋，故筋蓄結而腫，須病者自能調攝，庶可免患，否則肝逆受傷，則不能藏血，血虛則為難瘥之證矣。後不戒，果結三核，屢用追蝕藥，不斂而歿。</p>
<p>一少婦耳下患腫，素勤苦，發熱口乾，月水每過期而至，且少。一老媼以為經閉，用水蛭之類通之，以致愈虛而斃。夫月水之為物，乃手太陽、手少陰二經主之。此二經相為表裡，主上為乳汁，下為月水，為經絡之餘氣。苟外無六淫所侵，內無七情所傷，脾胃之氣壯，則衝任之氣盛，故為月水適時而至。然而面色痿黃，四肢消瘦，發熱口乾，月水過期且少，乃陰血不足也，非有餘瘀閉之證。宜以滋養血氣之劑，徐而培之，則經氣盛，而經水自依時而下。</p>
<p>一放出宮女，年逾三十，兩胯作痛，不腫，色不變，大小便作痛如淋，登廁尤痛，此瘀血漬入隧道為患，乃男女失合之證也，難治。後潰不斂，又患瘰癧而歿。此婦為吾鄉湯氏妾，湯為商，常在外，可見此婦在內久懷幽郁，及在外又不能如願，是以致生此疾。愈見流注瘰癧，乃七情氣血，皆已損傷，不可用攻伐之劑皎然矣。故《精血篇》云：精未通而御女，以通其精，則五體有不滿之處，異日有難狀之疾。陰已痿而思色，以降其精，則精不出而內敗，小便道澀而為淋。精已耗而復竭之，則大小便道牽疼，愈疼則愈欲大小便，愈便則愈疼。女人天癸既至，逾十年無男子合，則不調；未逾十年，思男子合，亦不調。不調則舊血不出，新血誤行，或漬而入骨，或變而為腫，或雖合而難於合。男子多則瀝枯虛人，產乳眾則血枯殺人。觀其精血，思過半矣。</p>
<p>一室女年十七，患瘰癧久不愈，月水尚未通，發熱咳嗽，飲食少思。有老媼欲用巴豆、肉桂之類，先通其經。余謂：此證潮熱，經候不調者不治，但喜脈不澀，且不潮熱，尚可治，須養氣血，益津液，其經自行。彼惑於速效之說，仍用之。余曰：「非其治也，比類乃剽悍之劑，大助陽火，陰血得之則妄行，脾胃得之則愈虛。」經果通而不止，飲食愈少，更加潮熱，遂致不救。經云：女子七歲腎氣盛，齒更髮長，二七天癸至，任脈通，太衝脈盛，月事以時下。然過期而不至，是為失常，必有所因。夫人之生，以血氣為本。人之病，未有不先傷其氣血者，婦女得之，多患於七情。寇宗奭曰：夫人之生，以血氣為本，人之病，未有不先傷其氣血者。世有室女童男，積想在心，思慮過當，多致勞損，男子則神色先散，女子則月水先閉，何以致然？蓋愁憂思慮則傷心，心傷則血逆竭，血逆竭則神色先散，而月水先閉也。火既受病，不能榮養其子，故不嗜食。脾既虛則金氣虧，故發嗽；嗽既作，水氣絕，故四肢干；木氣不充，故多怒；鬢髮焦，筋骨痿。俟五臟傳遍，故卒不能死者，然終死矣！此一種於勞中最難治。蓋病起於五臟之中，無有已期，藥力不可及也。若或自能改易心志，用藥扶接，如此則可得九死一生。舉此為例，其餘諸方，可按脈與證而治之。　張氏云：室女月水久不行，切不可用青蒿等涼劑。醫家多以為室女血熱，故以涼藥解之，殊不知血得熱則行，冷則凝。養生必用方，言之甚詳，此說大有理，不可不知。若經候微少，漸漸不通，手足骨肉煩疼，日漸羸瘦，漸生潮熱，其脈微數，此由陰虛血弱，陽往乘之，小水不能滅盛火，火逼水涸，亡津液。當養血益陰，慎毋以毒藥通之，宜柏子仁丸、澤蘭丸。</p>
<p>一男子先於耳前耳下患之，將愈，次年延及項側缺盆，三年遂延胸腋，不愈。診之肝脈弦數，以龍薈、散堅二丸治之。將愈，肝脈尚數，四年後，小腹陰囊內股皆患毒，年餘不斂，脈診如前，以清肝養血及前丸而愈。</p>
<p>一癧婦潰後發熱，煩躁作渴，脈大無力，此血虛而然也。以當歸補血湯，六劑頓退；又以聖愈湯，數劑稍健；更以八珍湯加貝母、遠志，二十餘劑而斂。東垣云：發熱惡熱，大渴不止，煩躁肌熱，不欲近衣，其脈洪大，按之無力，或目痛鼻乾者，非白虎湯證也。此血虛發躁，當以當歸補血湯主之。又有火鬱而熱者，如不能食而熱，自汗氣短者，虛也。以甘寒之劑，瀉熱補氣。如能食而熱，口舌乾燥，大便難者，以辛苦大寒之劑下之，以瀉火補水。</p>
<p><u>附方</u></p>
<p><u>射干連翹散</u>　治寒熱瘰癧。</p>
<p>射干　連翹　玄參　赤芍藥　木香　升麻　前胡　山梔仁　當歸　甘草（炙，各七分）　大黃（炒，二錢）　作一劑，水二鍾，煎八分，食後服。</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>仙方活命飲</u>（方見發背門）</p>
<p><u>小柴胡湯</u>　治瘰癧乳癰，便毒下疳，及肝膽經分，一切瘡瘍，發熱潮熱，或飲食少思。</p>
<p>半夏（薑製，一錢）　柴胡（二錢）　黃芩（炒，二錢）　人參（一錢）　甘草（炙，五分）　作一劑，水二鍾，姜三片，煎八分，食遠服。</p>
<p><u>薄荷丹</u>　治風熱瘰癧，久服其毒自小便宣出。若未作膿者，自消。</p>
<p>薄荷　皂角（去內核）　連翹　三稜（煨）　何首烏（米泔水浸）　蔓荊子（各淨，一兩）　豆豉末（二兩五錢）　荊芥穗（一兩）　上末，醋糊為丸，如梧子大，每服三十丸，食後滾湯下，日二服。病雖愈，須常服之。</p>
<p><u>益氣養榮湯</u>　治抑鬱，或勞傷氣血，或四肢頸項患腫，或軟或硬，或赤不赤，或痛不痛，或日晡發熱，或潰而不斂。</p>
<p>人參　茯苓　陳皮　貝母　香附　當歸（酒拌）　川芎　黃耆（鹽水拌炒）　熟地黃（酒拌）芍藥（炒，各一錢）　甘草（炙）　桔梗（炒，五分）　白朮（炒，二錢）　作一劑，水二鍾，姜三片，煎八分，食遠服。如胸膈痞，加枳殼，香附各一錢，人參、熟地黃各減二分，飲食不甘，暫加厚朴、蒼朮。往來寒熱，加柴胡、地骨皮。膿潰作渴，加參、耆、歸、術。膿多或清，加當歸、川芎。脅下痛或痞，加青皮、木香。肌肉生遲，加白蘞、官桂。痰多，加橘紅、半夏。口乾，加五味子、麥門冬。發熱，加柴胡、黃芩。渴不止，加知母、赤小豆（俱酒拌炒。）膿不止，倍加人參、黃耆、當歸。</p>
<p><u>豆豉餅</u>（方見臂癰門）</p>
<p><u>二神丸</u>（方見作嘔門）</p>
<p><u>隔蒜灸法</u>（方見發背門）</p>
<p><u>針頭散</u>　治一切頑瘡瘀肉不盡，及癧核不化，瘡口不合，宜用此藥腐之。</p>
<p>赤石脂（五錢）　乳香　白丁香（各二錢）　砒（生）　黃丹（各一錢）　輕粉　麝香（各五分）蜈蚣（一條，炙乾）　上為末，搽瘀肉上，其肉自化。若瘡口小，或痔瘡，用糊和作條子，陰乾紝之。凡瘡久不合者，內有膿管，須用此藥腐之，兼服托裡之劑。</p>
<p><u>如神散</u>　治瘰癧已潰，瘀肉不去，瘡口不合。</p>
<p>松香末（一兩）　白礬（三錢）　為末，香油調搽，干搽亦可。</p>
<p><u>神效栝蔞散</u>（方見乳癰門）</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>散腫潰堅湯</u>　治馬刀瘡，堅硬如石，或在耳下，或至缺盆，或在肩上，或至脅下，皆手足少陽經證。及瘰癧發於頦，或至頰車，堅而不潰，乃足陽明經中證。或已破流膿水。</p>
<p>柴胡（四分）　升麻（二分）　龍膽草（酒炒，五分）　連翹（三分）　黃芩（酒炒，八分半）　甘草（炙，三分）　桔梗（五分）　昆布（五分）　當歸尾（酒拌）　白芍藥（炒，各二分）　黃柏（酒炒，五分）　知母（酒炒，五分）　葛根　黃連　三稜（酒拌微炒）　廣木香（各三分）　栝蔞根（五分）　作一劑，水二鍾，煎八分，食後服。</p>
<p><u>散腫潰堅丸</u>　即散腫潰堅湯，料為末煉蜜丸，如梧桐子大，每服七八十丸，食後滾湯送下。</p>
<p><u>四物湯</u>　治血虛，或發熱，及一切血虛之證。</p>
<p>當歸（酒拌）　川芎（各一錢五分）　芍藥（炒）　生地黃（各一錢）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>當歸龍薈丸</u>　治瘰癧腫痛，或脅下作痛，似有積塊，及下疳便癰，小便澀，大便秘，或瘀血凝滯，小腹作痛。</p>
<p>當歸（酒拌）　龍膽草（酒拌炒）　梔子仁（炒）　黃連　青皮　黃芩（各一兩）　大黃（酒拌炒）　蘆薈　青黛　柴胡（各五錢）　木香（二錢五分）　麝香（五分，另研）　為末，炒神麯糊丸，每服二三十丸，薑湯下。</p>
<p><u>分心氣飲</u>　治七情鬱結，胸膈不利，或脅肋虛脹，噎塞不通，或噫氣吞酸，嘔穢噁心，或頭目昏眩，四肢倦怠，面色痿黃，口苦舌乾，飲食減少，日漸羸瘦，或大腸虛秘，或病後虛痞。</p>
<p>木通　赤芍藥　赤茯苓　官桂　半夏（薑製）　桑白皮（炒）　大腹皮　陳皮（去白）　青皮（去白）　甘草（炙）　羌活（各五分）　紫蘇（二錢）　作一劑，水二鍾，姜三片，棗二枚，燈心十莖，煎八分，食遠服。</p>
<p><u>四七湯</u>（方見流注門）</p>
<p><u>生地黃丸</u>　許白雲學士云：有一師尼，患惡風體倦，乍寒乍熱，面赤心煩，或時自汗。是時疫氣大行，醫見寒熱，作傷寒治之，大、小柴胡湯雜進，數日病劇。余診視之曰：三部無寒邪脈，但厥陰肝脈，弦長而上魚際，宜用抑陰之藥。遂用此方，治之而愈。</p>
<p>生地黃（一兩，酒拌搗膏）　秦艽　黃芩　硬柴胡（各五錢）　赤芍藥（一兩）　為細末，入地黃膏，加煉蜜少許，丸梧子大。每服三十丸，烏梅煎湯下，日二三服。</p>
<p><u>方脈流氣飲</u>（方見流注門）</p>
<p><u>遇仙無比丸</u>　治瘰癧未成膿，其人氣體如常，宜服此丸。形氣覺衰者，宜先服益氣養榮湯，待血氣少充，方服此丸。核消後，仍服前湯，如潰後有瘀肉者，宜用針頭散，更不斂，亦宜服此丸。斂後，再服前湯。</p>
<p>白朮（炒）　檳榔　防風　黑牽牛（半生半炒）　密陀僧　郁李仁（湯泡去皮）　斑蝥（去翅足，用糯米同炒，去米不用）　甘草（各五錢）　為細末，水糊丸，梧子大，每服二十丸，早晚煎甘草檳榔湯下。服至月許，覺腹中微痛，自小便中，取下癧毒，如魚目狀，已破者自合，未膿者自消。</p>
<p><u>必效散</u>　治瘰癧，未成膿自消，已潰者自斂，如核未去更以針頭散腐之。若氣血虛者，先服益氣養榮湯數劑，然後服此散，服而癧毒已下，再服前湯數劑（益氣養榮湯方見前）。</p>
<p>南鵬砂（二錢五分）　輕粉（一錢）　斑蝥（四十個，糯米同炒熟，去頭翅）　麝香（五分）　巴豆（五粒，去殼心膜）　白檳榔（一個）　上為細末，每服一錢，壯實者錢半，五更用滾湯調下。如小水澀滯，或微痛，此癧毒欲下也，進益元散一服，其毒即下。此方斑蝥、巴豆似為峻利，然用巴豆，乃解斑蝥之毒，用者勿畏。余京師遇一富商，項有瘰痕一片頗大，詢其由，彼云：因怒而致，困苦二年，百法不應。忽有方士與藥一服，即退二三，再服煩退，四服而平，旬日而痊。以重禮求之，乃是必效散，修合濟人，無有不效。又有一老媼，亦治此症，索重價，始肯醫治。其方法：乃是中品錠子，紝瘡內，以膏藥貼之，其根自腐，未盡再用，去盡更搽生肌藥，數日即愈，人多異之。余見其治氣血不虛者果驗，若氣血虛者，雖潰去，亦不愈。丹溪亦云：必效散與神效栝蔞散，相兼服之，有神效。常以二藥兼補劑用之效，故錄之。按錠子雖峻利，亦是一法，蓋結核堅硬，非此未見易腐。必效散內有斑蝥，雖亦峻利，然癧毒之深者，非此藥莫能易解，又有巴豆解其毒，所以癧毒之深者，宜用之。但氣血虛者，用之恐有誤。又一道人治此證，用雞子七個，每個入斑蝥一枚，飯上蒸熟，每日空心食一枚。求者甚多，考之各書瘰癧門及本草亦云。然氣血虛者，恐不能治也。</p>
<p><u>三品錠子</u></p>
<p>上品：去十八種痔。</p>
<p>白明礬（二兩）　白砒（一兩零五分）　乳香（三錢五分）　沒藥（三錢五分）　牛黃（三錢）</p>
<p>中品：去五漏，及翻花瘤，氣核。</p>
<p>白明礬（二兩）　白砒（一兩五錢）　乳香　沒藥（各三錢）　牛黃（二錢）</p>
<p>下品：治瘰癧、氣核、疔瘡、發背、腦疽諸惡證。</p>
<p>白明礬（二兩）　白砒（一兩五錢）　乳香（二錢五分）　沒藥（二錢五分）　牛黃（三分）</p>
<p>先將砒末入紫泥罐內，次用礬末蓋之，以炭灰煅令煙盡，取出研極細末，用糯米糊和為梃子，狀如線香，陰乾，紝瘡內三四次，年深者，六五次，其根自腐潰。如瘡露在外，更用蜜水調搽，幹上亦可。</p>
<p><u>益元散</u></p>
<p>滑石（煅，六兩）　甘草（炙，二兩）　上各另為末，和蜜，每服二錢，熱湯、冷水任下。</p>
<p><u>逍遙散</u>　治婦人血虛，五心煩熱，肢體疼痛，頭目昏重，心忪頰赤，口燥咽乾，發熱盜汗，食少嗜臥，及血熱相搏，月水不調，臍腹脹痛，寒熱如瘧，及治室女血弱，榮衛不調，痰嗽潮熱，肌體羸瘦，漸成骨蒸。</p>
<p>當歸（酒拌）　芍藥　茯苓　白朮（炒）　柴胡（各一錢）　甘草（七分）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>補中益氣湯</u>（方見潰瘍發熱門）</p>
<p><u>治血分椒仁丸</u></p>
<p>椒仁　甘遂　續隨子（去皮，研）　附子　郁李仁　黑牽牛　當歸　五靈脂（碎研）　吳茱萸　延胡索（各五錢）　芫花（醋浸，一錢）　石膏　蚖青（十枚，去頭翅足，同糯米炒黃，去米不用）　斑蝥（十個，糯米炒黃，去米不用）　膽礬（一錢）　人言（一錢）　為末，麵糊為丸，如豌豆大。每服一丸，橘皮湯下。</p>
<p>此方藥雖峻利，所用不多，若畏而不服，有養病害身之患，常治虛弱之人，用之亦未見其有誤也。臨川陳良甫，集歷代明醫精義著論，為《婦人良方》，究陰陽，分血氣，條分縷析，用心精密，藥豈輕用者，慎勿疑畏。</p>
<p><u>治水分葶藶丸</u></p>
<p>葶藶（炒，另研）　續隨子（去殼，各半兩，研）　干筍末（一兩）　為末，棗肉丸，如梧子大，每服七丸，煎匾竹湯下。如大便利者，減續隨子、葶藶各一錢，加白朮五錢。</p>
<p>又方：治經脈不利即為水，水流走四肢，悉皆腫滿，名曰血分。其候與水相類，醫作水治之非也，宜用此方。</p>
<p>人參　當歸　大黃（濕紙裹，三斗米下，蒸米熟，去紙，切炒）　桂心　瞿麥穗　赤芍藥白茯苓（各半兩）　葶藶（炒，別研，一錢）　為末，煉蜜丸，如梧桐子大，空心米飲下十五丸至二三十丸，見《養生必用方》。</p>
<p><u>柏子仁丸</u>　治月經短少，漸至不通，手足骨肉煩疼，日漸羸瘦，漸生潮熱，其脈微數。此由陰虛血弱，陽往乘之，少水不能滅盛火，火逼水涸，亡津液，當養血益陰。慎毋以毒藥通之，宜柏子仁丸、澤蘭湯主之。</p>
<p>柏子仁（炒、研）　牛膝（酒拌）　卷柏（各半兩）　澤蘭葉　續斷（各二兩）　熟地黃（用生者，三兩，酒拌蒸半日，忌鐵器杵膏）　為末，入地黃膏，加煉蜜丸，梧子大，每服三十丸，空心米飲下。</p>
<p><u>澤蘭湯</u>　治證同前。</p>
<p>澤蘭葉（三兩）　當歸（酒拌）　芍藥（炒，各一兩）　甘草（五錢）　為粗末，每服五錢，水二鍾，煎至一鍾，去滓溫服。</p>
<p><u>托裡養榮湯</u>　治瘰癧流注，及一切不足之證。不作膿，或不潰，或潰後發熱，或惡寒，肌肉消瘦，飲食少思，睡眠不寧，盜汗不止。</p>
<p>人參　黃耆（炙）　當歸（酒拌）　川芎　芍藥（炒）　白朮（炒，各一錢）　五味子（炒、研）麥門冬（去心）　甘草（各五分）　熟地黃（用生者，酒拌，蒸半日，忌鐵器）　作一劑，水二鍾，姜三片，棗一枚，煎八分，食遠服。</p>
<p><u>琥珀膏</u>　治頸項瘰癧，及腋下初如梅子，腫結硬強，漸若連珠，不消不潰，或潰而膿水不絕，經久不瘥，漸成漏證。</p>
<p>琥珀（一兩）　木通　桂心　當歸　白芷　防風　松脂　硃砂（研）　木鱉子（肉，各五錢）麻油（二斤）　丁香　木香（各三錢）　先用琥珀、丁香、桂心、硃砂、木香為細末，其餘為咀，以油二斤四兩浸七日，入鐺中，慢火煎，白芷焦黃漉出，徐下黃丹一斤，以柳條不住手攪，煎至黑色，滴水中，捻軟硬得中，卻入琥珀等末，攪令勻，於瓷器盛之。用時取少許，攤紙上，貼之。</p>

<h2>流注</h2>
<p>暴怒所致，胸膈不利者，調氣為主。抑鬱所致而不痛者，宜調經脈，補氣血。腫硬作痛者，行氣和血。潰而不斂者，益氣血為主。傷寒餘邪未盡者，和而解之。脾氣虛，濕熱凝滯肉理而然，健脾除濕為主。閃朒瘀血凝滯為患者，和血氣，調經絡。寒邪所襲，筋攣骨痛，或遍身痛，宜溫經絡，養血氣。</p>
<p>一婦人暴怒，腰腫一塊，胸膈不利，時或氣走作痛，與方脈流氣飲，數劑而止。更以小柴胡湯對四物，加香附、貝母，月餘而愈。</p>
<p>一男子因怒脅下作痛，以小柴胡湯對四物，加青皮，桔梗、枳殼治之而愈。</p>
<p>一男子臀腫一塊微痛，脈弦緊，以瘡科流氣飲，四劑而消。</p>
<p>一婦人因怒脅下腫痛，胸膈不利，脈沉遲，以方脈流氣飲數劑，小愈；以小柴胡湯對二陳，加青皮、桔梗、貝母，數劑頓退；更以小柴胡湯對四物，二十餘劑而痊。</p>
<p>一男子腿患，潰而不斂，用人參養榮湯，及附子餅；更以補劑，煎膏藥貼之，兩月餘而愈。</p>
<p>一老人傷寒，表邪未盡，股內患腫發熱，以人參敗毒散二劑熱止；灸以香附餅；又小柴胡湯加二陳、羌活、川芎、歸、朮、枳殼，數劑而消。</p>
<p>一男子脾氣素弱，臂腫一塊不痛，肉色不變，飲食少思，半載不潰。先以六君子湯，加芎、歸、芍藥，二十餘劑飲食漸進；更以豆豉餅，日灸數壯；於前藥內再加黃耆、肉桂三十餘劑，膿熟針去；以十全大補湯，及附子餅灸之，月餘而斂。</p>
<p>一男子腿患腫，肉色不變不痛，脈浮而滑，以補中益氣痛，加半夏、茯苓、枳殼、木香飲之；以香附餅熨之。彼謂：氣無補法，乃服方脈流氣飲，愈虛。復求治，以六君子湯加芎歸數劑，飲食少進，再用補劑，月餘而消。夫氣無補法，俗論也。以其為病痞，悶壅塞，似難於補，殊不知正氣虛而不能運行，則邪氣滯而為病。經云：壯者氣行則愈，怯者弱者則著而為病。苟不用補法，氣何由而行乎！</p>
<p>一婦人因閃朒肩患腫，遍身作痛，以黑丸子二服而痛止；以方脈流氣飲，二劑而腫消；更以二陳對四物，加香附、枳殼、桔梗而愈。</p>
<p>一婦人腿患筋攣骨痛，諸藥不應，脈遲緊，用大防風湯二劑，頓退；又二劑而安。又一婦患之亦然，先用前湯二劑，更服黑丸子而痊。此二患若失治，潰成敗證。</p>
<p>一男子臂腫，筋攣骨痛，年餘方潰，不斂。診其脈更虛，以內塞散一料，少愈；以十全大補湯，及附子餅灸之而愈。《精要》云：留積經久，極陰生陽，寒化為熱。以此潰多成瘻，宜早服內塞散排之。</p>
<p>一婦人潰後發熱，余以為虛。彼不信，乃服敗毒藥，果發大熱，竟至不救。夫潰瘍雖有表證發熱，宜以托裡藥為主，佐以表散之劑，何況瘰癧流注乎？若氣血充實，經絡通暢，決無患者。此證之因，皆由氣血素虧，或七情所傷，經絡鬱結；或腠理不密，六淫外侵，隧道壅塞。若不審其所因，辨其虛實，鮮不誤人！</p>
<p>一男子腿腫一塊，經年不消，且不作膿，飲食少思，強食則脹，或作瀉，日漸消瘦。診之，脈微細，此乃命門火衰，不能生土，以致脾土虛而然也。遂以八味丸，飲食漸進，腫患亦消。</p>
<p>一男子背𩨹患之，微腫，形勞氣弱，以益氣養榮湯，間服黑丸子，及木香、生地黃作餅，覆患處熨之。月餘膿成，針之，仍服前藥而愈。</p>
<p>一男子腿患久而不斂，飲大補藥，及附子餅，更用針頭散，紝之而愈。</p>
<p>一男子臂患，年餘尚硬，飲食少思，朝寒暮熱，以八珍湯，加柴胡、地骨皮、牡丹皮，月餘寒熱稍止，繼以益氣養榮湯，及附子餅灸之，兩月餘，膿成針之，更服人參養榮湯，半載而痊。</p>
<p>一婦人膿潰清稀，脈弱惡寒，久而不愈，服內塞散，灸以附子餅而瘳。</p>
<p>一婦人腰間患一小塊，肉色如常，不潰，發熱。余謂：當以益氣養榮解鬱之藥治之。彼家不信，別服流氣飲，後針破出水，年餘而歿。一婦人久不斂，忽發寒熱，余決其氣血俱虛，彼反服表散之劑，果大熱，亦死。大抵流注之證，多因鬱結或暴怒，或脾氣虛，濕氣逆於肉理；或腠理不密，寒邪客於經絡；或閃撲或產後瘀血流注關節；或傷寒餘邪未盡為患；皆因真氣不足，邪得以乘之。常治郁者開之，怒者平之，閃撲及產後瘀血者散之，脾虛及腠理不密者，除而補之，傷寒餘邪者，調而解之。大要以固元氣為主，佐以見證之藥。如久而瘡口寒者，更用豆豉餅或附子餅灸之；有膿管或瘀肉者，用針頭散腐之自愈，錠子尤效。若不補血氣，及不慎飲食起居七情，俱不治。</p>
<p>一男子元氣素弱，將欲患此，胸膈不利，飲食少思。余欲治以健脾胃，解鬱結，養血氣。彼不從，乃服辛香流氣之劑，致腹脹；又服三稜、莪朮、厚朴之類，飲食愈少，四肢微腫，兼腰腫一塊，不潰而歿。蓋此證本虛痞，今用克伐之劑，何以不死？況辛香燥熱之劑，但能劫滯氣衝，快於一時，若不佐制，過服則益增鬱火，煎熬氣液而為痰，日久不散，愈成流注之證。</p>
<p>一男子臂患，出腐骨三塊，尚不斂，發熱作渴，脈浮大而澀，乃氣血俱損，須多服生血氣之劑，庶可保全。彼惑於火尚未盡，仍用涼藥內服外敷，幾危，始求治。其形甚瘁，其脈愈虛，先以六君子湯，加芎、歸，月餘飲食漸進；以八珍湯，加肉桂三十餘劑，瘡色乃赤；更以十全大補湯，外以附子餅灸之，僅年而瘥。《醫林集要》云：骨疽，乃流注之敗證也，如用涼藥，則內傷其脾，外冰其血。脾主肌肉，脾氣受傷，飲食必減，肌肉不生。血為脈絡，血受冰，則氣血不旺而愈滯。宜用理脾，脾健則肉自生，而氣自運行矣。又有白虎飛廉，留連周期，或展轉數歲，冷毒朽骨，出盡自愈。若附骨腐者可痊，正骨腐則為終身廢疾矣。有毒自足手或頭面腫起，或兼疼痛，上至頸項骨節去處，如瘍癧貫珠，此風濕流氣之證也，宜以加減小續命湯，及獨活寄生湯治之。有兩膝腫痛起，或至遍身骨節疼痛者，此風濕痹，又名癧節風，宜用附子八物湯治之。又有結核在項腋，或兩乳旁，或兩胯軟肉處，名曰𤷍癧癰，屬冷證也。又有小兒宿痰失道，致結核於頸項臂膊胸背之處，亦冷證也，俱用熱藥敷貼。以上諸證，皆緣於腎。腎主骨，腎虛則骨冷而為患也。所謂骨疽，皆起於腎，亦以其根於此也，故用大附子以補腎氣，腎實則骨有生氣，而疽不附骨矣。</p>
<p>一婦人經水不調，兩月一至，或三月一至，四肢微腫，飲食少思，日晡發熱。余曰：「此脾胃氣血皆虛也，須先用壯脾胃養氣血之劑，飲食進則浮腫自消，氣血充則經自調矣。」彼以為緩，乃用峻劑，先通月經，果腹痛瀉不止，致遍身浮腫，飲食愈少，歿於木旺之月。褚氏云：月水不調，久則血結於內生塊，變為血瘕，亦作血癥，血水相併，壅塞不通，脾胃虛弱，變為水腫。所以然者，脾候身之肌肉，象於土，土主克於水，水血既並，脾氣衰弱不能克消，致水氣流溢浸漬肌肉，故腫滿也。觀此，豈宜用克伐之劑。</p>
<p>一婦人稟弱性躁，脅臂腫痛，胸膈痞滿，服流氣敗毒藥，反發熱不食，以四七湯數劑，胸寬氣和；以小柴胡湯對四物，加陳皮、香附腫痛亦甚。大抵婦人情性執著，不能寬解，多被七情所傷，遂致遍身作痛，或肢節腫痛，及氣填胸滿；或如梅核塞喉，咽吐不出；或涎痰壅盛，上氣喘急；或嘔逆噁心，甚者渴悶欲絕；產婦多有此證，宜服四七湯，先調滯氣，更以養血之藥。若因思憂，致小便白濁者，用此藥，吞青州白丸子屢效。</p>
<p><u>附方</u></p>
<p><u>方脈流氣飲</u>　治瘰癧流注，及鬱結聚結腫塊，或走注疼痛，或心胸痞悶，咽塞不利，脅腹膨脹，嘔吐不食，上氣喘急，咳嗽痰盛，面目或四肢浮腫，大小便秘。</p>
<p>紫蘇　青皮（去白）　當歸（酒拌）　芍藥（炒）　烏藥　茯苓　桔梗（炒）　半夏（薑製）　川芎　黃耆（炙）　枳實（麩炒）　防風　陳皮（去白）　甘草（炙，各一錢）　木香　大腹皮　檳榔　枳殼（麩炒，各五分）　作一劑，水二鍾，姜三片，棗一枚，煎八分，食遠服。</p>
<p><u>瘡科流氣飲</u>　治流注及一切恚怒氣結腫作痛，或胸膈痞悶，或風寒濕毒，搏於經絡，致氣血不和，結成腫塊，肉色不變，或漫腫木悶無頭。</p>
<p>桔梗（炒）　人參　當歸（酒拌）　官桂　甘草　厚朴（薑製）　黃耆（鹽湯浸炒）　防風　紫蘇　芍藥　烏藥　枳殼（各七分）　檳榔　木香　川芎　白芷（各五分）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>益氣養榮湯</u>（方見瘰癧門）</p>
<p><u>二陳湯</u>（方見臀癰門）</p>
<p><u>黑丸子</u>　治風寒襲於經絡，腫痛或不痛，或打撲跌墜，筋骨疼痛，瘀血不散，遂成腫毒；及風濕四肢疼痛，或手足緩弱，行步不前，並婦人血風勞損。</p>
<p>百草霜　芍藥（各二兩）　赤小豆（一兩六錢）　白蘞（一兩六錢）　白芨　當歸（各四錢）　川烏（焙，二錢）　碎骨補（焙，八錢）　南星（焙，三錢）　牛膝（焙，六錢）　上為末，煉蜜為丸，梧子大，每服三十丸，鹽湯或酒下。風疾哽吃，煨蔥一莖，溫酒下。孕婦勿服。</p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>豆豉餅</u></p>
<p><u>附子餅</u>（二方見臀癰門）</p>
<p><u>小柴胡湯</u></p>
<p><u>四物湯</u>（二方見瘰癧門）</p>
<p><u>香附餅</u>　治瘰癧流注腫塊或風寒襲於經絡，結腫或痛，用香附為末，酒和，量瘡大小做餅覆患處，以熱熨斗熨之，未成者內消，已成者自潰。若風寒濕毒，宜用薑汁作餅。</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>十全大補湯</u></p>
<p><u>補中益氣湯</u>（二方見潰瘍發熱門）</p>
<p><u>大防風湯</u>（方見臀癰門）</p>
<p><u>內塞散</u>　治陰虛陽氣腠襲患腫，或潰而不斂，或風寒襲於患處，致氣血不能運至，久不愈，遂成漏證。</p>
<p>附子（用童便數碗浸三日，切作四塊，再浸數日，炮童便一日一換，一兩）　肉桂（去皮）赤小豆　甘草（炙）　黃耆（鹽水浸炒）　當歸（酒拌）　茯苓　白芷　桔梗（炒）　川芎　人參　遠志（去心）　厚朴（薑製，各一兩）　防風（四錢）　為末，每服二錢，空心溫酒下。或酒糊為丸，鹽湯下，亦可。或煉蜜為丸服亦可。</p>
<p><u>八味丸</u>（方見臀癰門）</p>
<p><u>二神丸</u>（方見作嘔門）</p>
<p><u>針頭散</u>（方見瘰癧門）</p>
<p><u>八珍湯</u></p>
<p><u>人參養榮湯</u>（二方見潰瘍發熱門）</p>
<p><u>四七湯</u>　治七情鬱結，狀如破絮，或如梅核，鯁在咽間；或中脘痞滿，痰涎壅盛；或喘，或噁心，少食。</p>
<p>紫蘇葉（一錢）　厚朴（一錢半）　茯苓（一錢）　半夏（薑製，七分）　作一劑，水一鍾半，姜三片，棗二枚，煎六分，食遠服。</p>

<h2>瘡瘍作渴</h2>
<p>尺脈大或無力而渴者，宜滋陰降火。上部脈沉實而渴者，宜瀉火。上部脈洪數而渴者，宜降火。胃脈數而渴者，宜清胃火。氣虛不能生津液而渴者，宜補中氣。脈大無力，或微弱而渴者，宜補氣血。膿血大泄，或瘡口出血而渴者，大補氣血。如不應，急用獨參湯。</p>
<p>一男子作渴，欲發疽，以加減八味丸治之而消。</p>
<p>一男子患腦疽，發熱，脈數無力，依前丸治之，不信，自服滋陰藥，以致不救。</p>
<p>一男子日飲水數碗，冬月亦然，彼恃壯切喜，後口舌生瘡，欲治以前丸，彼以為謬，乃服生津液藥，渴不能止，發背疽而歿。</p>
<p>一男子腳面發疽，愈而作渴，以前丸治之而愈。</p>
<p>夫加減八味丸，治陰處火動之聖藥也，有是證者，何以舍此。</p>
<p>一富商稟賦頗厚，素作渴，日飲水數碗，面發一毒，用消毒藥，潰而雖愈，尺脈尚數，滑亦不止，時孟秋，余謂：「此水涸火旺之脈也，須服加減八味丸，以補腎水，制心火，庶免疽毒之患。」彼不信，至夏果腳背發疽，脈數，按之則澀而無力，足竟黑腐而死。</p>
<p>一男子稟頗實，乏嗣，服附子等藥，致作渴，左足大趾患疽，色紫不痛，脈亦數而澀，亦死。</p>
<p>大抵發背、腦疽、脫疽，腫痛色赤，水衰火旺之色，尚可治。若黑若紫，火極似水之象也，乃腎水已竭，精氣固涸，決不治。《外科精要》云：凡病疽之人，多有既安之後，忽發渴疾而不救者，十有八九。疽疾將安，而渴疾已作，宜服加減八味丸。既安之後，而渴疾未見，宜先服之，以防其未然。若疾形已見，卒難救療。凡癰疽愈後，宜服補藥；若用峻補之藥，則發熱；又況癰疾人，安樂之後，多傳作渴疾，不可治療，當預服加減八味丸；如能久服，永不生渴疾，氣血亦壯。未發疽人，或先有渴證，尤宜服此藥，渴疾既安，疽亦不作。</p>
<p>又一貴人病疽，疾未安而渴作，一日飲水數升，愚遂獻此方。諸醫大笑云：此藥若能止渴，我輩當不復業醫矣。乃用木瓜、紫蘇、烏梅、人參、茯苓、百藥煎等生津液之藥止之，而渴愈甚，數劑之後，茫無功效。不得已而用此，服之三日渴止，因此相信，遂久服，不特渴疾不作，氣血亦壯，飲食加倍，強健過於少壯之年。蓋用此藥，非余敢自執鄙見，實有源流。自為兒時，聞先君知縣云：「有一士夫病渴疾，諸醫皆用渴藥，治療累載不安。有一名醫誨之，使服加減八味丸，不半載而疾痊。」因疏其病源，今醫者治癰，卻以生津液止渴之藥，誤矣。其疾本起於腎水枯竭，不復上潤，是以心火上炎，不能既濟，煎熬而生渴。今服八味丸，降其心火，生其腎水，則渴自止矣。復疏其藥性云：內北五味子，最為得力，此一味，獨能生腎水，平補降心火，大有功效。家藏此方，親用有驗，故敢詳著之。使有渴疾者，信其言，專志服餌取效，無為庸醫所惑，庶廣前人之志。如臂痛、腳氣、風氣，四肢拘攣，上氣眼暈，肺氣喘嗽，消食，利小便，久服輕身，聰明耳目，令人光澤多子。</p>
<p>一老人冬月口舌生瘡，作渴，心脈大而實，尺脈大而虛。余謂：「乃下消證也，患在腎，須加減八味丸補之，否則後發疽難療。」彼以為迂，仍服三黃等藥降火，次年夏令，果患疽而歿。東垣曰：膈消者，以白虎加人參湯治之。中消者，善食而瘦，自汗，大便硬，小便數。《脈訣》云：口乾饒飲水，多食亦肌虛。成消中者，調胃承氣湯、三黃丸治之。下消者，煩躁引飲，耳輪焦乾，小便如膏。　又云：焦煩水易虧，此腎消也，六味地黃丸（加五味子、肉桂即加減八味丸）治之。《總錄》所謂未傳能食者，必發腦疽、背瘡，不能食者，必傳中滿鼓脹，皆謂不治之證。潔古老人分而治之，能食而渴者，白虎加人參湯。不能食而渴者，錢氏白朮散，倍加葛根治之。上中既平，不復傳下消矣。前人用藥，厥有旨哉！或曰：未傳瘡疽者何也？此火邪盛也，其瘡痛甚而不潰，或赤水者是也。經云：有形而不痛陽之類也，急攻其陽，勿攻其陰，治在下焦，元氣得強者生，失強者死。</p>
<p>一婦人面患毒，焮痛發熱作渴，脈數，按之則實，以涼膈散，二劑少愈；以消毒藥，數劑而平。</p>
<p>一男子有患疽作渴，脈數有力，以黃連解毒湯，三劑而止；更以仙方活命飲，四劑潰而愈。</p>
<p>一男子潰而煩渴不安，以聖愈湯二劑而寧；以人參、黃耆、當歸、地黃，四劑渴止；以八珍湯，二十餘劑而愈。</p>
<p>大抵潰後有此證，屬氣血不足，須用參、耆以補氣，當歸、地黃以養血。若用苦寒之劑，必致有誤。</p>
<p>一男子患毒作渴，右關脈數，以竹葉黃耆湯，治之稍愈；更以補中益氣湯，加黃芩而愈。</p>
<p>一男子潰後口乾，遇勞益甚，以補中益氣湯，加五味子、麥門冬，治之而愈；更以黃耆六一湯而斂。</p>
<p><u>附方</u></p>
<p><u>加減八味丸</u>　治瘡瘍痊後及將痊，口乾渴，甚則舌或生黃，及未患先渴；此腎水枯竭，不能上潤，以致心火上炎，水火不能既濟。故心煩躁作渴，小便頻數，或白濁陰痿，飲食不多，肌膚漸消，或腿腫腳先瘦，服此以生腎水，降心火，諸證頓止。及治口舌生瘡不絕。</p>
<p>山藥（一兩）　桂心（去皮，半兩）　山茱萸（淨肉一兩，酒浸杵膏）　澤瀉（切片蒸焙）　白茯苓（各半兩）　五味子（炒，二兩半）　牡丹皮（一兩）　熟地黃（用生者八兩，酒拌銅器蒸半日，搗膏）　為細末，入二膏，加煉蜜少許，丸梧子大。每服六七十丸，五更初，未言語前，或空心用鹽湯送下。</p>
<p><u>涼膈散</u>　治積熱瘡瘍焮痛，發熱煩渴，大便秘，及咽腫痛，或生瘡毒。</p>
<p>連翹（一錢）　山梔子（炒）　大黃（炒）　薄荷　黃芩（各五分）　甘草（一錢半）　朴硝（五分）作一劑，水二鍾，煎八分，食遠服。或為末，每服五錢，水一鍾，煎七分，溫服亦可。</p>
<p><u>仙方活命飲</u>（方見發背門）</p>
<p><u>黃連解毒湯</u>（方見作嘔門）</p>
<p><u>補中益氣湯</u>（方見潰瘍發熱門）</p>
<p><u>竹葉黃耆湯</u></p>
<p>淡竹葉（二錢）　生地黃　麥門冬（去心）　黃耆（蜜炙）　當歸（酒拌）　川芎　甘草　黃芩（炙）芍藥　人參　半夏（薑製）　石膏（煅，各二錢）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>聖愈湯</u></p>
<p><u>獨參湯</u>（二方見杖瘡門）</p>
<p><u>黃耆六一湯</u>　治潰後作渴。若人無故作渴必發癰疽，宜常服此藥，可免患。</p>
<p>綿黃耆（六兩，一半生焙，一半鹽水瓷器盛，飯上蒸三次，焙乾）　甘草（一兩，半生半炙）　每劑一兩，用水二鍾，煎八分，食遠服。或為末，每服二錢，早晨日午，以白湯調服更妙，加人參尤效。</p>

<h2>作嘔</h2>
<p>喜寒惡熱而嘔者，宜降火。喜熱惡寒而嘔者，宜養胃氣。沉實便秘而嘔者，宜瀉火。脈細腸鳴腹痛，瀉而嘔者，托裡溫中。</p>
<p>一男子胸患毒，焮腫喜冷，脈洪數，以黃連解毒湯，二劑頓退；更加金銀花散，六劑而消。</p>
<p>一男子因瘡痛傷胃氣，少食作嘔，惡寒，以六君子湯加當歸，四劑稍愈；以十宣散加白朮、茯苓、陳皮，數劑而膿成，針之；又以前散去防風、白芷，數劑而痊。</p>
<p>一男子患發背腫硬，煩渴便秘，脈沉實作嘔，以內疏黃連湯，二劑愈；以金銀花散，四劑，並隔蒜灸而消。</p>
<p>一男子腋下患毒，咳逆不食，腸鳴切痛，四肢厥冷，脈細，以托裡理中湯，二劑頓愈；更以香砂六君子湯、二神丸，而飲食頓進；以十全大補湯，下十餘劑而斂。</p>
<p>一婦人脾氣素弱，患毒未作膿，發寒熱兼嘔，以不換金正氣散，二劑而止；以托裡散，六劑而潰；更以健脾藥斂。</p>
<p>一癧婦噁心少食，服解毒藥愈嘔，此胃氣虛也，以六君子湯加生薑，治之而安。戴氏（名元禮南院使）云：如噁心者，無聲無物，欲吐不吐，欲嘔不嘔，雖曰噁心，實非心經之病，皆在胃口上，宜用生薑，蓋能開胃豁痰也。</p>
<p><u>附方</u></p>
<p><u>黃連解毒湯</u>　治積熱瘡瘍，焮腫作痛，煩躁飲冷，脈洪數，或口舌生瘡，或疫毒發狂。</p>
<p>黃芩　黃柏（炒）　黃連（炒）　山梔（各一錢半）　作一劑，水二鍾，煎七分，熱服。</p>
<p><u>六君子湯</u>　治一切脾胃不健，或胸膈不利，飲食少思，或作嘔，或食不化，或膨脹，大便不實，面色痿黃，四肢倦怠。</p>
<p>人參　白朮（炒）　茯苓　半夏（薑製）　陳皮（各一錢）　甘草（炙，五分）　作一劑，水二鍾，姜三片，棗二枚，煎八分，食遠服。</p>
<p><u>香砂六君子湯</u>　治一切脾胃不健，飲食少思，或作嘔，或過服涼藥，致傷脾胃，即六君子湯加藿香、砂仁。</p>
<p><u>托裡溫中湯</u>　治瘡為寒變而內陷者，膿出清解，皮膚涼，心下痞滿，腸鳴切痛，大便微溏，食則嘔，氣短吃逆不絕，不得安臥，時發惛憒。</p>
<p>丁香　沉香　茴香　益智仁　陳皮　木香　羌活　乾薑（炮，各一錢）　甘草（炙）　附子（炮，去皮臍，各二錢）　作一劑，水二鍾，姜三片，煎八分，不拘時服。</p>
<p>按羅謙甫曰：經云，寒淫於內，治以辛熱，佐以苦溫。姜附大辛熱，溫中外，發陽氣，自里之表以為君；羌活苦辛，溫透關節；炙甘草溫補脾胃，行經絡，通血脈，胃寒則嘔吐吃逆不絕，不下食；益智、丁、沉大辛熱，以散寒為佐，瘡氣內攻，氣聚而為滿；木香、陳皮苦辛溫，治痞散滿為使。</p>
<p><u>十宣散</u>（方見發背門）</p>
<p><u>金銀花散</u>　消毒托裡，止痛排膿，不問腫潰，並效。</p>
<p>金銀花　黃耆（鹽水浸炒）　當歸（酒拌）　甘草（各等分）　為末，每服一二錢，滾湯調入，酒少許服。大人每服一兩，水煎服，隨飲酒二三杯。</p>
<p><u>隔蒜灸法</u>（方見發背門）</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）</p>
<p><u>不換金正氣散</u>　治瘡瘍發熱之人，脾氣虛弱，寒邪相搏，痰停胸膈，以致發寒熱，服此正脾氣，則痰氣自消，寒熱不作。</p>
<p>厚朴（去皮薑製）　藿香　半夏（薑製）　蒼朮（米泔浸）　陳皮（去白，各三錢）　甘草（炙，五分）　作一劑，水二鍾，姜三片，棗二枚，煎七分，食遠服。</p>
<p><u>二神丸</u>　治一切脾腎俱虛，侵晨作瀉，或飲食少思，或食而不化，或作嘔，或作瀉，或久瀉不止。如脾經有濕，大便不實者，神效。常治一切脾腎不足之證，無不效也。李驗封邦秀童僮年逾四十，遍身發腫，腹脹如鼓，甚危，諸藥不應，用此丸數服，飲食漸進，其腫漸消，兼以除濕健脾之劑，而愈。</p>
<p>破故紙（四兩，炒）　肉豆蔻（二兩，生用）　上為末，用大紅棗四十九枚，生薑四兩切碎，同棗用水煮熟，去姜取棗肉，和藥丸，梧子大。每服五十丸，空心鹽湯下。</p>

<h1>卷六</h1>

<h2>咽喉</h2>
<p>疼痛或寒熱者，邪在表也，宜發散。腫痛痰涎壅盛者，邪在上也，宜降之。痛而脈數無力者，屬陰虛，宜滋陰降火。腫痛發熱便閉者，表裡俱實病也，宜解表攻裡。如證緊急，更刺患處，或刺少商穴。</p>
<p>一男子咽痛而脈數，以荊防敗毒散加芩、連二劑稍愈，乃去芩、連，又二劑而愈。</p>
<p>一男子咽喉腫閉，牙關緊急，針不能入，先刺少商二穴，出黑血，口即開；更針患處，飲清咽利膈散，一劑而愈。大抵吐痰針刺，皆有發散之意，故多效。嘗見此證，不針刺，多致不救。</p>
<p>一婦人咽喉腫痛，大小便秘，以防風通聖散一劑，諸證悉退；又荊防敗毒散，三劑而安。常治此證，輕則荊防敗毒散、吹喉散，重則用金鑰匙，及刺患處，出血最效，否則不救。針少商二穴，亦可，不若刺患處之為神速耳。</p>
<p>一男子咽喉腫痛，脈數而實，以涼膈散，一劑而痛止；以荊防敗毒散加牛蒡子，二劑而腫退；以荊防敗毒散二劑，又以甘、桔、荊、防、玄參、牛蒡子，四劑而平。</p>
<p>一男子咽喉腫閉，痰涎壅甚，以膽礬吹咽中，吐痰碗許；更以清咽利膈湯，四劑而安。</p>
<p>一男子咽喉腫痛，藥不能下，針患處，出紫血稍愈，以破棺丹噙之；更以清咽消毒散，服之而愈。</p>
<p>一男子咽喉乾燥而痛，以四物湯加黃柏、知母、玄參、四劑稍愈，更以人參固本丸，一劑不再發。</p>
<p>一男子口舌生瘡，服涼藥愈甚，治以理中湯而愈。</p>
<p>一男子咽痛，午後益甚，脈數無力，以四物湯，加黃柏、知母、荊、防，四劑而愈；仍以前藥，去荊、防加玄參、甘桔數劑，後不再發。</p>
<p>一弱人咽痛，服涼藥，或遇勞愈甚，以補中益氣湯加芩、連，四劑而愈；乃去芩、連，又數劑，不再發。常治午後痛，去芩連加知母、黃柏、玄參，亦效。</p>
<p>一老人咽痛，日晡尤甚，以補中益氣湯加酒炒黃柏、知母，數劑而愈。</p>
<p>一男子乳蛾腫痛，脈浮數，尚未成膿，針去惡血，飲荊防敗毒散，二劑而消。</p>
<p>一男子乳蛾腫痛，飲食不入，瘡色白，其膿已成，針之，膿出即安。</p>
<p>一男嗌癰腫痛，脈浮數，更沉實，飲防風通聖散一劑，瀉一次，勢頓退；又荊防敗毒散，二劑而消。</p>
<p>一男子咽喉腫痛，余欲針之，以泄其毒，彼畏針止，服藥，然藥既熟，已不能下矣；始急針患處，出毒血，更飲清咽消毒藥而愈。</p>
<p>一患者，其色已絕，心頭尚溫，急針患處，出黑血即蘇，如鮑符卿、喬侍御素有此證，每患皆以針去血即愈。</p>
<p>大抵咽喉之症，皆因火為患，其害甚速，須分緩急，及膿成否。若腫閉及壅塞者，死在反掌之間，宜用金鑰匙吹患處，吐出痰涎，氣得通即蘇。若吐後仍閉，乃是惡血，或膿毒為患，須急針患處，否則不治。前人云：治喉閉之火，與救火同，不容少待。又云：走馬看喉閉，信夫！治喉之方固多，惟用針有回生之功。</p>
<p>一男子口舌生瘡，飲食不甘，勞而愈甚，以理中湯，治之頓愈。</p>
<p>一男子口舌糜爛，服涼藥愈甚，脈數而無力，以四物加酒炒黃柏、知母、玄參，一劑頓退，四劑而痊。</p>
<p>一男子口舌生瘡，脈浮而緩，飲補中益氣湯加炮姜，更以桂末，含之即愈。</p>
<p>一男子患之，勞而愈甚，以前藥加附子三片，二劑即愈。丹溪云：口瘡服涼藥不愈者，此中焦氣不足，虛火泛上，無制，用理中湯，甚則加附子。</p>
<p>一男子咽喉作痛，痰涎上壅，余欲治以荊防敗毒散，加連翹、山梔、牛蒡子，彼自服甘寒降火之藥，反加發熱，咽愈腫痛，急刺少商二穴，仍以前藥加麻黃汗之，諸證並退，惟咽間一紫處仍痛，此欲作膿，以前藥去麻黃一劑，膿潰而愈。凡咽痛之疾，治之早，或勢輕者，宜用荊防敗毒散以散之；治之遲，或勢重者，須刺少商穴。瘀血已結，必刺患處，亦有刺少商。咽雖利而未全消者，必成膿也，然膿去即安。若有大便秘結者，雖經針刺去血，必欲以防風通聖散攻之，甘寒之劑，非虛火不宜用。</p>
<p>一婦人咽間作痛，兩月後始潰，突而不斂，遍身筋骨亦痛，諸藥不應，先以萆薢湯，數劑而斂；更以四物湯倍用萆薢、黃耆二十餘劑，諸證悉退。一彌月小兒，先於口內患之後，延於身上，年餘不愈，以萆薢為末，乳汁調服，母以白湯調服，月餘而愈。　一男子咽間先患，及於身，服輕粉之劑，稍愈；已而復發，仍服之，亦稍愈；後大發，上齶潰蝕，與鼻相通，臂腿數枚，其狀如桃，大潰，年餘不斂；神思倦怠，飲食少思，虛證悉具，投以萆薢湯為主，以健脾胃之劑，兼服之，月餘而安。</p>
<p>一婦人患之，臉鼻俱蝕，筋骨作痛，腳面與跟各腫一塊，三月而潰，膿水淋漓，半載不斂，治以前藥亦愈。（萆薢湯方見楊梅瘡門）</p>
<p>一男子齒痛，脈數實便秘，用防風通聖散即愈。</p>
<p>一男子齒痛，而胃脈數而有力，以清胃散加石膏、荊防風，二劑而痊。</p>
<p>一男子齒痛甚，胃脈數實，以承氣湯一劑即止。</p>
<p>一男子齒痛，脈浮無力，以補中益氣湯，加黃連、生地黃、石膏治之，不復作。</p>
<p>一老人齒痛，午後即發，至晚尤甚，胃脈數而實，以涼膈散加荊芥、防風、石膏，一劑而瘳。</p>
<p>一婦人常口舌糜爛，頰赤唇乾，眼澀作渴，脈數，按之則澀，此心肺壅熱，傷於氣血為患，名熱勞證也，當多服滋養血藥。彼欲速效，用敗毒寒劑攻之，後變瘵證而歿。《婦人良方》云：婦人熱勞者，由心肺壅熱，傷於氣血。氣血不調，臟腑壅滯，熱毒內積，不得宣通之所致也。其候心神煩躁，頰赤頭痛，眼澀唇乾，四肢壯熱，煩渴不止，口舌生瘡，神思沉昏，嗜臥少寐，飲食無味，舉體痠疼，或時心怔，或時盜汗，肌膚日漸消瘦，故名熱勞也。</p>
<p><u>附方</u></p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>清咽利膈湯</u>　治積熱咽喉腫痛，痰涎壅盛，或胸膈不利，煩躁飲冷，大便秘結。</p>
<p>金銀花　防風　荊芥　薄荷　桔梗（炒）　黃芩（炒）　黃連（炒，各錢半）　山梔（炒、研）連翹（各二錢）　玄參　大黃（煨）　朴硝　牛蒡子（研）　甘草（各七分）　作一劑，水二鍾煎一鍾，食後服。</p>
<p><u>金鑰匙</u>　治喉閉纏喉風痰涎壅塞盛者，水漿難下。</p>
<p>焰硝（一兩五錢）　鵬砂（五錢）　腦子（一字）　白殭蠶（一錢）　雄黃（二錢）　各另為細末，和勻，以竹管吹患處，痰涎即出。如痰雖出，咽喉仍不消，急針患處，去惡血。</p>
<p><u>涼膈散</u>（方見作渴門）</p>
<p><u>防風通聖散</u>（方見天泡瘡門）</p>
<p><u>補中益氣湯</u>（方見潰瘍發熱門）</p>
<p><u>刺少商穴法</u>　穴在手大指內側，去爪甲如韭葉。刺入二分許，以手自臂勒至刺處出血，即消。若重者，及膿成者，必須針患處，否則不治（復繪圖於卷末。）</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>破棺丹</u>（方見發背門）</p>
<p><u>理中湯</u>　治脾胃不健，飲食少思，或作嘔，或服寒藥，致飲食少思，或肚腹作痛。</p>
<p>人參　乾薑（炮）　甘草（炙）　白朮（炒，各一錢半）　作一劑，水一鍾，煎五分，食遠服。</p>
<p><u>清胃散</u>　治胃經濕熱，牙齒或牙齦腫痛，或牽引頭腦，或面發熱，並治之。</p>
<p>當歸身（酒拌，一錢）　黃連　生地黃（酒拌，各二錢）　牡丹皮（一錢五分）　升麻（二錢）　作一劑，水二鍾，煎七分，食遠服。</p>
<p><u>承氣湯</u>　治腸胃積熱，口舌生瘡，或牙齒齦作痛。</p>
<p>大黃（煨）　甘草　朴硝（各二錢）　作一劑，水一鍾半，煎八分，食前服。</p>
<p><u>清咽消毒散</u>　治咽喉生瘡腫痛，痰涎壅盛，或口舌生瘡，大便秘結，即荊防敗毒散加芩、連、硝黃（方見潰瘍發熱門。）</p>
<p><u>人參固本丸</u>　治肺氣燥熱作渴，或小便短少赤色，及肺氣虛熱，小便澀滯如淋，此虛而有火之聖藥也。</p>
<p>生地黃（酒拌）　熟地黃（用生者酒拌，銅器蒸半日）　天門冬（去心）　麥門冬（去心，各一兩）人參（五錢）　除人參為末，余藥搗膏，加煉蜜少許，丸梧子大。每服五十丸，空心鹽湯，或溫酒下，中寒人不可服。</p>

<h2>癍疹（附小兒丹毒）</h2>
<p>脈浮者，消氣為主。脈浮數者，祛風清熱。脈沉數者，瀉火為主。脈數按之沉實者，解表攻裡。</p>
<p>一婦人患癍，作癢脈浮，以消風散，四劑而愈。</p>
<p>一婦人患癍，作癢脈浮數，以人參敗毒散，二劑稍愈；更以消風散，四劑而安。</p>
<p>一男子患癍，色赤紫焮痛，發熱喜冷，脈沉實，以防風通聖散，一劑頓退；又以荊防敗毒散加芩、連，四劑而愈。</p>
<p>一婦人患斑，癢痛，大便秘，脈沉實，以四物湯加芩、連、大黃、槐花，治之而愈。</p>
<p>一老人患疹，色微赤，作癢，發熱，以人參敗毒散，二劑稍愈；以補中益氣湯，加黃芩、山梔而愈。</p>
<p>一小兒患疹作痛，發熱煩渴，欲服清涼飲下之。診其脈不實，舉指不數，此邪在經絡也，不可下。遂用解毒防風湯，二劑而愈。此證小兒多患之，須審在表在裡，及邪之微甚而治之。王海藏曰：前人云：首尾俱不可下者，何也？曰：首不可下者，為癍未見於表，下則邪氣不得伸越，此脈證有表而無里，故禁首不可下也；尾不可下者，為癍毒已顯於外，內無根蒂，大便不實，無一切里證，下之則癍氣逆陷，故禁尾不可下也。一兒作癢發熱，以消毒犀角飲，一劑作吐瀉，此邪氣上下俱出也，毒自解，少頃吐瀉俱止，其疹果消。吐瀉後，脈見七至，此小兒和平之脈也，邪已盡矣，不須治，果愈。潔古云：癍疹之病，其為證各異。發焮腫於外者，屬少陽三焦相火也，謂之癍；小紅靨行皮膚之中，不出者，屬少陽君火也，謂之疹。凡顯癍證，若自吐瀉者，慎勿亂治，而多吉，謂邪氣上下皆出也，癍疹並出，小兒難禁，是以別生他證也。首尾不可下，大抵安里之藥多，發表之藥少，秘則微疏之，令邪氣不壅，並令其次第出，使兒易禁也。身溫暖者順，身涼者逆。</p>
<p>一男子患丹毒，焮痛便秘，脈數而實，服防風通聖散不應，令砭患處，去惡血，仍用前藥即愈。</p>
<p>一小兒腿患丹如霞，遊走不定，先以麻油塗患處，砭出惡血，毒即散；更以金銀花散，一劑而安。</p>
<p>一小兒患之，外勢雖輕，內則大便不利，此患在臟也，服大連翹飲，敷神效散而瘥。</p>
<p>一小兒遍身皆赤，砭之，投解毒藥而即愈。</p>
<p>一小兒遍身亦赤，不從砭治，以致毒氣入腹，遂不救，此症乃惡毒熱血，蘊蓄於命門，遇相火而合起也。如霞片者，須砭去惡血為善；如腫起赤色，遊走不定者，宜先以生麻油塗患處，砭之以泄其毒。凡從四肢起入腹者不治。雖云，丹有數種，治有數法，無如砭之為善，常見患稍重者，不用砭法，俱不救也。</p>
<p><u>附方</u></p>
<p><u>消風散</u>（方見瘡疥門）</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>防風通聖散</u>（方見天泡瘡門）</p>
<p><u>人參敗毒散</u></p>
<p><u>補中益氣湯</u>（二方見潰瘍發熱門）</p>
<p><u>清涼飲</u>（方見發背門）</p>
<p><u>消毒犀角飲子</u>　治癍或癮疹瘙癢或作痛，及風熱瘡毒。</p>
<p>牛蒡子（二錢）　荊芥　防風（各一錢半）　甘草（三分）　作一劑，水一鍾，煎五分，徐徐服。</p>
<p><u>解毒防風湯</u>　治癍或癮疹，癢或作痛。</p>
<p>防風（一錢）　地骨皮　黃耆　芍藥　荊芥　枳殼（炒，各二錢）　作一劑，水一鍾，煎五分，徐徐服。</p>
<p><u>金銀花散</u>（方見作嘔門）</p>
<p><u>神功散</u>（方見發背門）</p>
<p><u>大連翹飲</u>（方見天泡瘡門）</p>
<p><u>砭法</u>　治小兒丹毒色赤，遊走不定，用細磁擊碎，取其鋒芒者一塊，以箸一根，劈開，頭尖夾之，用線縛定，兩指輕撮箸，稍令磁芒正對患處，懸寸許，再用箸一根，頻擊箸頭，令毒血遇刺皆出，卻以神功散敷搽。毒入腹者，不救。</p>

<h2>天泡瘡（舊名）</h2>
<p>脈浮發熱，或拘急者，發散表邪。脈沉發熱便秘者，解表攻裡。發熱小便赤澀者，分利消毒。</p>
<p>一小兒患此，焮痛發熱，脈浮數，挑去毒水，以黃柏、滑石末敷之；更飲荊防敗毒散，二劑而愈。</p>
<p>一男子焮痛發熱，服祛風清熱藥愈熾，診其脈沉實，乃邪在內也，用防風通聖散一劑，頓愈；又荊防敗毒散，二劑而安。夫此證雖屬風熱，當審在表裡，治無誤。</p>
<p>一小兒焮赤發熱，以黃柏、滑石末敷之，飲大連翹湯二劑，稍愈；更以金銀花散而痊。</p>
<p><u>附方</u></p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>防風通聖散</u>　治一切風熱積毒，瘡腫發熱，便秘，表裡俱實。</p>
<p>芍藥（炒）　芒硝　滑石（煅）　川芎　當歸（酒拌）　桔梗　石膏（煅）　荊芥　麻黃（各四分半）薄荷　大黃（煨）　山梔（炒）　白朮（炒）　連翹　甘草（炙）　防風　黃芩（炒，各五分）　作一劑，水一鍾，煎八分服。</p>
<p><u>大連翹飲</u>　治癍疹丹毒瘙癢，或作痛，及大人小兒，風邪熱毒焮痛；或作癢，小便澀。</p>
<p>連翹　瞿麥　荊芥　木通　芍藥　當歸（酒拌）　蟬蛻　甘草　防風　柴胡　滑石（煅）　山梔　黃芩（各一錢）　作一劑，水一鍾半，煎七分，如小兒宜為細末，每服一二錢，滾湯調下。</p>
<p><u>金銀花散</u>（方見作渴門）</p>

<h2>楊梅瘡</h2>
<p>（近時稱。從咽喉患起者，仍見咽喉門）</p>
<p>濕勝者宜先導濕。表實者宜先解表。裡實者宜先疏內。表裡俱實者，解表攻裡。表虛者補氣。裡虛者補血。表裡俱虛者補氣血。</p>
<p>一男子玉莖患之，腫痛，先以導水丸、龍膽瀉肝湯各四服，稍愈；再以小柴胡湯加黃柏、蒼朮，五十餘劑而平。</p>
<p>一男子玉莖腫潰，小便赤色，肝木弦數，以小柴胡湯，加木通、青皮、龍膽草四劑；又龍膽瀉肝湯，數劑而愈。</p>
<p>一童子玉莖患之，延及小腹數枚作痛，發熱，以小柴胡湯吞蘆薈丸，更貼神異膏，月餘而安。</p>
<p>一男子遍身皆患，左手脈浮而數，以荊防敗毒散治之，表證乃退；以仙方活命飲六劑，瘡漸愈，兼飲萆薢湯，月餘而愈。</p>
<p>一婦人焮痛，便秘作渴，脈沉實，以內疏黃連湯二劑，里證已退；以龍膽瀉肝湯數劑，瘡毒頓退，間服萆薢湯，月餘而愈。</p>
<p>一男子患之，發熱便秘，作渴，兩手脈實，以防風通聖散治之而退；以荊防敗毒散兼龍膽瀉肝湯，而痊。</p>
<p>一男子愈後，腿腫一塊，久而潰爛不斂，以蒜搗爛，敷患處，用艾隔蒜灸之；更貼神異膏，及服黑丸子並托裡藥，兩月而愈。</p>
<p>一婦人燃輕粉藥，於被中熏之，致遍身皮塌，膿水淋漓，不能起居，以滑石、黃柏、綠豆粉末等分，鋪席上，令可臥，更飲金銀花散，月餘而痊。</p>
<p>一男子皆愈，但背腫一塊甚硬，肉色不變，年餘方潰，出水三載不愈，氣血俱虛，飲食少思，以六君子湯加當歸、藿香，三十餘劑稍愈；更飲萆薢湯，兩月餘而愈。</p>
<p>一男子患之勢熾，兼脾胃氣血皆虛，亦服前藥而瘥。</p>
<p>一婦人患之，皆愈，惟兩腿兩臁各爛一塊如掌，兼筋攣骨痛，三載不愈，諸藥不應，日晡熱甚，飲食少思，以萆薢湯兼逍遙散，倍用茯苓、白朮，數劑熱止食進；貼神異膏，更服八珍湯，加牛膝、杜仲、木瓜，三十餘劑而痊。</p>
<p><u>附方</u></p>
<p><u>導水丸</u>（方見便癰門）</p>
<p><u>龍膽瀉肝湯</u>（方見下疳門）</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>內疏黃連湯</u>（方見腫瘍門）</p>
<p><u>仙方活命飲</u>（方見發背門）</p>
<p><u>防風通聖散</u>（方見天泡瘡門）</p>
<p><u>隔蒜灸法</u>（方見發背門）</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>黑丸子方</u>（見流注門）</p>
<p><u>金銀花散</u>（方見作渴門）</p>
<p><u>小柴胡湯</u>（方見瘰癧門）</p>
<p><u>神異膏</u>　治癰疽瘡毒甚效，此瘡瘍中第一藥也。</p>
<p>露蜂房（兒多者，一兩）　蛇蛻（鹽水洗、焙，半兩）　玄參（半兩）　黃耆（三錢）　男子發（洗如雞子一團）　杏仁（去皮尖，一兩）　黃丹（十二兩）　真麻油（二斤）　先以玄參、杏仁、黃耆入油，煎至將黑色，方入蜂房、蛇蛻、亂髮，再煎至黑，濾去渣，徐徐下黃丹，慢火煎，以柳枝不住手攪，滴，水捻至軟硬得中，即成膏矣。</p>
<p><u>萆薢湯</u>　治楊梅瘡，不問新舊潰爛，或筋骨作痛，並效。用川萆薢（俗呼土茯苓，）每用一兩，以水三鍾，煎二鍾，去渣，不拘時，徐徐溫服。（若患久，或服攻擊之劑致傷脾胃氣血等症者，以此一味為主，而加以兼症之劑。）</p>
<p><u>蘆薈丸</u>（方見下疳門）</p>
<p><u>又捷法</u>　治楊梅瘡不同新舊並效，不過旬日。用膽礬、白礬末並水銀各三錢半，入香油、津唾各少許和勻。坐無風處，取藥少許塗兩腳心，以兩手心對腳心擦磨良久，再塗藥少許，仍前再擦，用藥盡即臥，汗出或大便去垢，口出穢涎為驗。連擦三日，煎通聖散澡洗；更服內疏黃連湯或敗毒散。愈後服萆薢湯，有熱加芩、連，氣虛參、耆，血虛四物之類。</p>

<h1>卷七</h1>

<h2>便癰</h2>
<p>內蘊熱毒，外挾寒邪者，解散之。勞役而患者，補之。不遂交感，或強固精氣，致敗精而結者，解散之。濕熱而致者，清肝導濕。</p>
<p>一男子患此，未作膿，小便秘澀，以八正散三劑，稍愈；以小柴胡湯加澤瀉、山梔、木通，二劑而消。</p>
<p>一男子腫痛，發寒熱，以荊防敗毒散，二劑而止，以雙解散，二劑而消。</p>
<p>一男子膿未成，大痛，服消毒托裡內疏藥，不應。診之脈洪大，毒尚在，以仙方活命飲，一劑痛止，又一劑而消。</p>
<p>一男子腫痛，日晡發熱，以小柴胡湯加青皮、天花粉，四劑痛止，熱退，以神效栝蔞散，四劑而消。</p>
<p>一男子腫而不潰，以參、耆、歸、朮、白芷、皂角刺、柴胡、甘草節，數劑而潰；以八珍湯加柴胡，數劑而愈。</p>
<p>一男子潰而腫不消，且不斂，診之脈浮而澀，以豆豉餅灸之；更以十全大補湯，月餘而愈。</p>
<p>一男子潰而痛不止，以小柴胡湯加黃柏、知母、芎、歸，四劑少止，更以托裡當歸湯，數劑而斂。</p>
<p>一男子焮腫作痛，大小便秘，脈有力，以玉燭散，二劑頓退；更以龍膽瀉肝湯，四劑而消。</p>
<p>一男子潰而痛不止，諸藥不應，診之脈大，按之則數，乃毒未解也，以仙方活命飲而止，又二劑而斂。</p>
<p>一男子服克伐之藥，以求內消，致瀉利少食，以二神丸，先止其瀉；以十全大補倍加白朮、茯苓，數劑而消。</p>
<p>大抵此證多患於勞逸之人，亦有內蘊熱毒而生者，須辨虛實及成膿否，不可妄投藥餌。嘗見治此證者，概用大黃之類下之，求內消，或膿成令膿從大便出，鮮有見其瘥也。人多欲內消者，蓋恐收口之難也。若補養血氣，不旬日而收矣，何難之有。若膿既成，豈有可消之理，如再用克伐之劑，反為難治。</p>
<p>一男子不慎房勞，患此腫痛，以雙解散，一服通之，其痛即止；更以補中湯數劑，而膿成，針之；以八珍湯，加五味子、麥門冬、柴胡，三十餘劑而愈。大抵便癰者，血疝也，俗呼為便毒，言於不便處腫毒，故為便癰也。乃足厥陰肝之經絡，及衝任督脈，亦屬肝之旁絡，是氣血流通之道路。今壅而腫痛，此則熱毒所致，宜先疏導其滯，更以托裡之劑，此臨證制宜之法也。</p>
<p>一老婦腫痛，膿未作，小便澀，肝脈數，以加減龍膽瀉肝湯，加山梔、黃柏，四劑而消。</p>
<p><u>附方</u></p>
<p><u>雙解散</u>　治便癰，內蘊熱毒，外挾寒邪，或交感強固精氣，致精血交錯，腫結疼痛，大小便秘者，宜用此藥通解，更隨證調治。</p>
<p>辣桂　大黃（酒拌炒）　白芍藥　牽牛（炒、搗）　桃仁（去皮尖）　澤瀉　甘草（炒）　乾薑（炮，各五分）　作一劑，水二鍾，煎八分，空心服。</p>
<p><u>補中益氣湯</u>（方見潰瘍發熱門）</p>
<p><u>加減龍膽瀉肝湯</u>（方見下疳門）</p>
<p><u>八正散</u>　治積熱小便癃閉不通，及一切淋證脈實。</p>
<p>大黃（酒拌炒）　車前子（炒）　瞿麥　萹蓄　山梔仁（炒）　木通　甘草（各一錢）　滑石（煅，二錢）　作一劑，水二鍾，煎八分，食前服。</p>
<p><u>仙方活命飲</u>（方見發背門）</p>
<p><u>小柴胡湯</u>（方見瘰癧門）</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>神效栝蔞散</u>（方見乳癰門）</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>豆豉餅方</u>（見腎癰門）</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）</p>
<p><u>二神丸</u>（方見作嘔門）</p>
<p><u>導水丸</u>　治便癰初起腫痛，及下疳大小便秘，又治楊梅瘡初起，濕盛之際，宜先用此丸數服。</p>
<p>大黃（酒拌炒）　黃芩（炒，二錢）　黑牽牛末（炒）　滑石（煅，各四兩）　為末糊丸，梧子大。每服五十丸，臨臥，溫水下。</p>
<p><u>桃仁承氣湯</u>　治症同玉燭散（方見杖瘡門）</p>
<p><u>玉燭散</u>　治便癰初起，腫痛發熱，大小便秘，用此以行散之。</p>
<p>川芎　當歸（酒拌）　芍藥　生地黃（酒拌）　芒硝　大黃（煅，各二錢）　甘草（炙，五分）作一劑，水二鍾，煎八分，食前服。</p>
<p><u>托裡當歸湯</u>　治潰瘍氣血俱虛發熱，及瘰癧流注乳癰，不問腫潰，但瘡瘍氣血虛而發熱者，皆宜服之。久服能收斂瘡瘍。</p>
<p>當歸（酒拌）　黃耆（鹽水拌炒）　人參　熟地黃（酒拌）　川芎　芍藥（炒，各一錢）　柴胡甘草（炙，各五分）　作一劑，水二鍾，煎八分，食遠服。</p>

<h2>懸癰</h2>
<p>焮痛或發熱者，清肝解毒。腫痛者，解毒為主。腫痛小便赤澀者，肝經濕熱也，宜分利清肝。不作膿或不潰者，氣血虛也，宜補之。</p>
<p>一男子患此，焮痛發寒熱，以小柴胡湯加制甘草，二劑，少退；又制甘草四劑而消。大抵此症屬陰虛，故不足人多患之，寒涼之劑，不可過用，恐傷青氣，惟制甘草一藥，不損氣血，不動臟腑，其功甚捷，最宜用之不可忽也。</p>
<p>一男子腫痛，小便赤澀，以加減龍膽瀉肝湯加制甘草，二劑稍愈；以參、耆、歸、朮、黃柏、知母、制甘草，四劑而潰；更加以四物湯、黃柏、知母、參、耆、制甘草而痊。</p>
<p>一男子膿清不斂，內有一核，以十全大補湯加青皮、柴胡、制甘草，更以豆豉餅灸之，核消而斂。</p>
<p>一男子久而不斂，脈大而無力，以十全大補湯加五味子、麥門冬，灸以豆豉餅，月餘而愈。</p>
<p>一老人年餘不斂，診其脈，尚有濕熱，以龍膽瀉肝湯，二劑濕退；乃以托裡藥，及豆豉餅，灸之而愈。</p>
<p>一男子腫痛發熱，以小柴胡湯加黃連、青皮，四劑稍愈，更以加減龍膽瀉肝湯而消。</p>
<p>一男子腫痛未作膿，以加減龍膽瀉肝湯，二劑少愈；以四物湯加木通、知母、黃柏而消。</p>
<p>一男子膿熟不潰，脹痛，小便不利，急針之，尿膿皆利；更以小柴胡湯加黃柏、白芷、金銀花，四劑痛止，以托裡消毒散，數劑而愈。常見患者多不肯用針，待其自破，殊不知緊要之地，若一有膿，宜急針之，使毒外發，不致內潰。故前人云：凡瘡若不針烙，毒結無從而解，膿瘀無從而泄。又云：宜開戶以逐之。今之患者，反謂地部緊要，而不用針，何其相違之遠矣！</p>
<p>一男子膿熟不潰，脈數無力，此氣血俱虛也，欲治以滋陰益血氣之劑，更針之，使膿毒外泄。彼不從，仍用降火敗毒藥，致元氣愈虛，後潰不斂，竟至不救。夫懸癰之症，原系肝腎二經，陰虛雖一於補，尤恐不治，況膿成而又克伐，不死何俟。常治初起腫痛，或小便赤澀，先以制甘草一二劑及隔蒜灸，更飲龍膽瀉肝湯；若發熱腫痛者，以小柴胡湯加車前、黃柏、芎、歸；膿已成，即針之；已潰者，用八珍湯加制甘草、柴胡稍、炒黃柏、知母；小便澀而脈有力者，仍用龍膽瀉肝湯加制甘草；小便澀而脈無力者，用清心蓮子飲加制甘草；膿清不斂者，用大補之劑，間以豆豉餅灸之；久而不斂者，用附子餅灸之，並效。</p>
<p><u>附方</u></p>
<p><u>小柴胡湯</u>（方見瘰癧門）</p>
<p><u>制甘草</u>　治懸癰腫痛，或發寒熱，不問腫潰，並有神效。其法：每大甘草一兩，切三寸許，用澗水一碗，浸透，慢火炙乾，仍投前水浸透，再炙，將碗水炙乾為度，銼細，用無灰酒一碗，煎至七分，去渣，空心服。</p>
<p><u>加減龍膽瀉肝湯</u>（方見下疳門）</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）</p>
<p><u>豆豉餅方</u>（見臀癰門）</p>
<p><u>隔蒜灸法</u>（方見發背門）</p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>清心蓮子飲</u>（方見下疳門）</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>附子餅方</u>（見臀癰門）</p>

<h2>下疳</h2>
<p>腫痛或發熱者，肝經濕熱也，清肝除濕。腫痛發寒者，邪氣傳表也，發散之。腫痛，小便赤澀者，肝經熱濕滯壅也，疏肝導濕。</p>
<p>一男子患此，腫硬焮痛寒熱，先以人參敗毒散，二劑而止，更以小柴胡湯，加黃連、青皮，治之而愈。</p>
<p>一男潰而腫痛，小便赤澀，以加減龍膽瀉肝湯，加青皮、黃連，二劑少愈；以小柴胡湯，加黃柏、知母、當歸、茯苓，數劑而愈。</p>
<p>一男子因勞，莖竅作癢，時出白物，發熱口乾，以清心蓮子飲，治之而安。</p>
<p>一男子潰而腫痛發熱，日晡尤甚，以小柴胡湯加黃連、知母、當歸而愈。</p>
<p>一男子已愈，惟莖中一塊不散，以小柴胡湯加青皮、荊、防服之；更以荊芥、防風、牛膝、何首烏、滑石、甘草各五錢，煎湯，熏洗，各數劑而消。</p>
<p>一男子莖腫不消。</p>
<p>一男子潰而腫痛發熱，小便秘澀，日晡尤甚。</p>
<p>一小兒腫痛，諸藥不應，各以小柴胡湯，吞蘆薈丸數服，並愈。</p>
<p>一男子陰莖或腫，或作痛，或挺縱不收。</p>
<p>一男子莖中作痛，筋急縮，或作癢，白物如精，隨溺而下，此筋疝也。並用龍膽瀉肝湯，治之皆愈。張子和曰：遺溺閉癃，陰痿浮痹，精滑白淫，皆男子之疝也，不可妄歸之腎冷。若血涸不月月罷，腰膝上熱足躄，嗌乾癃閉，少腹有塊，或定或移，前陰突出，從陰痔核，皆女子之疝也，但女子不謂之疝，而謂之瘕。</p>
<p>一男子玉莖腫痛，小便如淋，自汗，甚苦，時或雖尿血少許，尺脈洪數，按之則澀，先用清心蓮子飲加牛膝、山梔、黃柏、知母、柴胡，數劑少愈，更以滋腎丸一劑而痊。《玉機微義》云：如自汗小便少，不可以藥利之。既已自汗，則津液外亡，小便自少，若利之，則榮衛枯竭，無以制火，煩熱愈甚，當俟熱退汗止，小便自行也。兼此證乃陽明，經云：大忌利小便。</p>
<p><u>附方</u></p>
<p><u>小柴胡湯</u>（方見瘰癧門）</p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>加減龍膽瀉肝湯</u>　治肝經濕熱，玉莖患瘡，或便毒懸癰腫痛，小便赤澀，或潰爛不愈。又治陰囊腫痛，或潰爛作痛，小便澀滯，或睪丸懸掛。</p>
<p>龍膽草（酒拌炒黃）　澤瀉（各一錢）　車前子（炒）　木通　生地黃（酒拌）　當歸尾（酒拌）山梔（炒）　黃芩　甘草（各五分）　作一劑，水二鍾，煎八分，食前服。如濕甚加黃連；大便秘，加大黃。</p>
<p><u>蘆薈丸</u>　治下疳潰爛，或作痛。又治小兒肝積發熱，口鼻生瘡，及牙齦蝕爛等瘡。</p>
<p>胡黃連　黃連　蘆薈　木香　白蕪荑（炒）　青皮　白雷丸　鶴蝨草（各一兩）　麝香（三錢）　為末，蒸餅糊丸，如麻子大，每服一錢，空心米湯下。魏戶部邦寧子，年十六，鼻目蝕爛，肝脈弦長，恚怒不息，三年不愈，諸藥不應，服半劑頓退，一劑而痊。</p>
<p><u>清心蓮子飲</u>　治心經蘊熱，小便赤澀，或玉莖腫，或莖竅痛，及上盛下虛，心火炎上，口苦咽乾，煩躁作渴，又治發熱口乾，小便白濁，夜則安靜，晝則發熱。</p>
<p>黃芩（炒）　黃耆（蜜炒）　石蓮肉（去心）　赤茯苓　人參（各一錢）　甘草　車前子（炒）　麥門冬（去心）　地骨皮（各五分）　作一劑，水二鍾，煎八分，空心並食前服。</p>
<p><u>滋腎丸</u>　治下焦陰虛，小便澀滯；或腳膝無力，陰汗陰痿；或足熱不履地，不渴而小便閉。</p>
<p>黃柏（酒洗焙）　知母（酒洗焙，各一兩）　肉桂（二錢）　為末，水丸如梧子大。每服百丸，加至二百丸，煎滾湯送下。</p>

<h2>囊癰</h2>
<p>腫痛未作膿者，疏肝導濕。腫硬發熱者，清肝降火。膿成脹痛者，急針之，更飲清毒之劑。已潰者滋陰托裡。膿清不斂者，大補氣血。</p>
<p>一男子患此，腫痛發熱，以小柴胡湯加黃連、青皮，四劑少愈；更以加減龍膽瀉肝湯而消。</p>
<p>一男子未作膿而腫痛，以加減龍膽瀉肝湯，二劑稍愈；更以四物湯加木通、知母、黃柏而愈。</p>
<p>一男子膿熟作脹，致小便不利，令急針之；以小柴胡湯加黃柏、白芷、金銀花，四劑少愈；更以托裡消毒散，數劑而愈。</p>
<p>一男子陰囊腫，狀如水晶，時痛時癢，出水，小腹按之作水聲，小便頻數，脈遲緩，此醉後飲水，入房汗出，遇風寒濕毒，乘聚於囊為患，名水疝也。先以導水丸二服，腹水已去，小便如常，再飲胃苓散，倍用白朮、茯苓，更用氣針引去積水而瘥。</p>
<p>一男子患而久不斂，以十全大補湯，加五味子、麥門冬，灸以豆豉餅，月餘而平。</p>
<p>一弱人腫痛，未成膿，小便赤澀，以制甘草、青皮、木通、黃柏、當歸、麥門冬，四劑少愈，以清心蓮子飲，而消。</p>
<p>一男子焮腫痛甚，小便澀，發熱脈數，以龍膽瀉肝湯，倍用車前子、澤瀉、木通、茯苓，四劑勢去半；仍以前湯止加黃柏、金銀花，四劑又減二三，便利如常，惟一處不消，此欲成膿也；再用前湯加金銀花、白芷、皂角刺，六劑，微腫痛，脈滑數，乃膿已成，令針之，腫痛悉退；投之滋陰托裡藥，及紫蘇末敷之而愈。</p>
<p>一男子病勢已甚，脈洪大可畏，用前湯二劑，腫少退；以仙方活命飲，二劑痛少止。診其脈滑數，乃腫已成，須針之，否則陰囊皆潰。彼疑余言，遂用他醫，果大潰，睪丸（即陰子也）掛懸。復求治，診其脈將靜，以八珍湯加黃耆、黃柏、知母、山梔，更敷紫蘇末，數日而愈。此證勢雖可畏，多得保全，患者勿懼。</p>
<p>一弱人膿熟脹痛，大小便秘，急針之，膿出三碗許，即鼾睡，覺後神思少健，但針遲雖敷解毒藥，亦潰盡矣，故用托裡藥，三十餘劑始瘥。大抵此證，屬陰道虧濕熱不利所致，故滋陰除濕藥不可缺。常治腫痛小便秘澀者，用除濕為主，滋陰佐之；腫痛已退便利已和者，除濕滋陰藥，相兼治之；欲其成膿，用托裡藥為主，滋陰佐之；候膿成，即針之，仍用托裡滋陰；濕毒已盡者，專用托裡；如膿清，或多，或斂遲者，用大補之劑，及豆豉餅，或附子餅灸之。如盧武選封君年五十患此，瘡口年餘不斂，診之微有濕熱，乃以龍膽瀉肝湯治之，濕熱悉退；又以托裡藥及豆豉餅灸之而愈。次年復患，濕熱頗盛，仍用前湯四劑而退，又以滋陰藥而消。若潰後，虛而不補，少壯者成漏，老弱者不治。膿清作渴，脈大者，亦不治。</p>
<p><u>附方</u></p>
<p><u>加減龍膽瀉肝湯</u>（方見下疳門）</p>
<p><u>小柴胡湯</u>（方見瘰癧門）</p>
<p><u>十全大補湯</u>（方見潰瘍發熱門）</p>
<p><u>制甘草方</u>（見懸癰門）</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>清心蓮子飲</u>（方見下疳門）</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>托裡消毒散</u>（方見腫瘍門）</p>
<p><u>導水丸</u>（方見便癰門）</p>
<p><u>胃苓散</u></p>
<p>豬苓　澤瀉　白朮　茯苓　蒼朮　厚朴　陳皮（各一錢）　甘草（炙）　肉桂（各五分）　作一劑，水二鍾，姜三片，棗二枚，煎八分服。</p>
<p><u>仙方活命飲</u>（方見發背門）</p>
<p><u>豆豉餅方</u>（見臀癰門）</p>

<h2>痔漏（附便血脫肛）</h2>
<p>大便秘澀，或作痛者，潤燥除濕。肛門下墜，或作痛者，瀉火導濕。下墜腫痛或作癢者，祛風勝濕。腫痛小便澀滯者，清肝導濕。</p>
<p>一男子患痔，大便燥結，焮痛作渴，脈數按之則實，以秦艽蒼朮湯，二劑少愈；更以四物湯加芩、連、槐花、枳殼，四劑而愈。</p>
<p>一男子素不慎酒色，患痔焮腫，肛門墜痛，兼下血，大便乾燥，脈洪大，按之則澀，以當歸郁李仁湯加桃仁，四劑少愈；更以四物湯加紅花、條芩、槐花，數劑而愈。大抵醉飽入房，則經脈橫解；或精氣脫泄，脈絡一虛，酒食之毒，乘虛流注；或淫極，強固精氣，遂傳大腸，以致木乘火勢而毀金；或食厚味過多，必成斯疾。夫受病者，燥氣也；為病者，濕熱也；宜以瀉火和血潤燥疏風之劑治之。若破而不愈，即成漏矣。有串臀者，有串陰者，有穿腸者，有穢從瘡口而出者，形雖不同，治法頗似。其腸頭腫成塊者濕熱也，作痛者風也，大便燥結者火也，潰而為膿者熱勝血也，當各推其所因而治之。</p>
<p>一男子患痔成漏，每登廁，則痛，以秦艽防風湯加條芩、枳殼，四劑而愈，以四物湯加升麻、芩、連、荊防，不復作。</p>
<p>一男子患痔漏，每登廁則肛門下脫作痛，良久方收，以秦艽防風湯，數劑少愈，乃去大黃，加黃耆、川芎、芍藥而痛止，更以補中益氣湯，二十餘劑，後再不脫。</p>
<p>一婦人患痔，腫焮痛甚，以四物湯加芩、連、紅花、桃仁、牡丹皮，數劑稍止，又數劑而愈。</p>
<p>一婦人糞後下血，面色萎黃，耳鳴嗜臥，飲食不甘，服涼血藥愈甚。診之右關脈浮而弱，以加味四君子湯加升麻、柴胡，數劑脾氣已醒，兼進黃連丸，數劑而愈。大凡下血，服涼血藥不應，必因中氣虛，不能攝血，非補中升陽之藥不能愈，切忌寒涼之劑。亦有傷濕熱之食，成腸癖而下膿血者，宜苦寒之劑，以內疏之。脈弦絕澀者難治，滑大柔和者易治。</p>
<p>一男子便血，過勞益甚，飲食無味，以六君子湯加黃耆、地黃、地榆，治之而愈。</p>
<p>一男子便血，每春間尤甚，兼腹痛，以除濕和血湯，治之而愈。</p>
<p>一男子素有濕熱便血，以槐花散治之而愈。</p>
<p>一男子糞後下血，諸藥久不愈，甚危，診之乃濕熱，用黃連丸二服頓止，數劑而痊。</p>
<p>一男子糞後下血，久而不愈，中氣不足，以補中益氣湯數劑，更以黃連丸數服血止；又服前湯，月餘不再作。</p>
<p>一男子臟毒下血，服涼血敗毒藥，不惟血不能止，且飲食少思，肢體愈倦，脈數，按之則澀，先以補中益氣湯，數劑稍止；更以六君子湯加升麻、炮姜，四劑而止；乃去炮姜，加芎、歸，月餘脾胃亦愈。嘗治積熱，或風熱下血者，先以敗毒散散之；胃寒氣弱者，用四君子湯，或參苓白朮散補之即效。</p>
<p>一男子臟毒下血，脾氣素弱，用六君子湯加芎、歸、枳殼、地榆、槐花，治之而愈。後因謀事血復下，諸藥不應，余意思慮傷脾所致，投歸脾湯四劑而痊。大抵此症所致之由不一，當究其因而治之。丹溪云：芎歸湯一劑，又調血之上品，熱加茯苓、槐花；冷加白茯苓、木香，此則自根自本之論也。雖然精氣血出於穀氣，惟大腸下血，以胃藥收功，以四君子湯、參耆白朮散，以枳殼散、小烏沉湯和之，胃氣一回，血自循經絡矣。腸風者，邪氣外入，隨感隨見，臟毒者，蘊積毒久而始見。又云：人惟坐臥風濕，醉飽房勞，生冷停寒，酒面積熱，以致榮血失道，滲入大腸，此腸風臟毒之所作也。挾熱下血，清而色鮮，腹中有痛；挾冷下血，濁而色暗，腹內略痛。清則為腸風，濁則為臟毒。有先便而後血者，其來也遠；有先血而後便者，其來也近。世俗糞前糞後之說，非也！治法大要：先當解散腸胃風邪，熱則敗毒散，冷則不換金正氣散加川芎、當歸，後隨其冷熱治之。</p>
<p>一河間云：「起居不節，用力過度，則絡脈傷，陽絡傷則血外溢，血外溢則衄血。陰絡傷則血內溢，血內溢則便血。腸胃之絡傷，則血溢。腸外有寒，汁沫與血相搏，則併合凝聚，不得散而成積矣。又《內經》云：腸癖下膿血，脈弦絕者死，滑大者生。血溢身熱者死，身涼者生。諸方皆謂風熱侵於大腸而然，若飲食有節，起居有時，腸胃不虛，邪氣從何而入。</p>
<p>一婦人素患痔漏，每因熱則下血數滴，以四物湯加黃連，治之即愈。後為大勞瘡腫痛，經水不止，脈洪大，按之無力，此勞傷血氣火動而然也，用八珍湯加芩、連、蒲黃，二劑而止；後去蒲黃、芩、連，加地骨皮數劑而安。丹溪云：婦人崩中者，由臟腑傷損，衝任二脈，血氣俱虛，故也。二脈為脈經之海，血氣之行，外循經絡衛營臟腑，若氣血調適，經下依時，若勞動過極，臟腑俱傷，衝任之氣虛，不能約制其經血，故忽然而下，謂之崩中暴下。治宜大補氣血之藥，舉養脾胃，微加鎮墜心火之藥治其心，補陰瀉陽，則自正矣。</p>
<p>一男子有痔漏，每登廁肛脫，良久方上，診其脈，細而滑，用補中益氣湯，三十餘劑，遂不再作。丹溪云：脫肛屬氣熱、氣虛、血虛、血熱。氣虛者補氣，參、耆、芎、歸、升麻。血虛者四物湯。血熱者涼血，四物湯加黃柏。肺與大腸為表裡，故肺臟蘊熱，則肛閉結。肺臟虛寒，則肛門脫出。　有婦人產育用力，小兒久痢，亦致此。治之必須溫肺腑腸胃，久則自然收矣。</p>
<p><u>附方</u></p>
<p><u>秦艽蒼朮湯</u>　治腸風痔漏，大小便秘澀。</p>
<p>秦艽　蒼朮（米泔水浸炒）　皂角仁（燒存性）　桃仁（各一錢半）　黃柏（酒製）　澤瀉　當歸尾（酒拌）　防風（各一錢）　檳榔（五分）　大黃（炒，量入）　作一劑，水二鍾，煎八分，空心服。</p>
<p><u>當歸郁李仁湯</u>　治痔漏，大便結硬，大腸下墜出血，若痛，不能忍者。</p>
<p>當歸尾（酒拌）　郁李仁　澤瀉　生地黃　大黃（煨）　枳殼　蒼朮　秦艽（各一錢）　麻子仁（一錢五分）　皂角仁（一錢，另為細末）　作一劑，水二鍾，煎八分，入皂角末，空心服。</p>
<p><u>加減龍膽瀉肝湯</u>（方見下疳門）　治痔瘡，小便澀滯，或痔腫痛。</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>秦艽防風湯</u>　治痔漏結燥，每次大便作痛。</p>
<p>秦艽　防風　當歸（酒拌）　白朮（各四錢半）　黃柏　陳皮　柴胡　大黃（煨）　澤瀉（各一錢）紅花　桃仁（去皮尖研）　升麻　甘草（各五分）　作一劑，水二鍾，煎八分，空心服。</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>加味四君子湯</u>　治痔漏下血，面色痿黃，心忪耳鳴，腳弱氣乏，及一切脾胃虛，口淡，食不知味。又治中氣虛不能攝血，致便血不禁。</p>
<p>人參　白朮（炒）　茯苓　白扁豆（蒸）　黃耆（炙）　甘草　為末，每服三錢，白滾湯點服。</p>
<p><u>四君子湯</u>　治脾胃虛弱，便血不止。</p>
<p>人參　白朮（炒）　白茯苓（各一錢）　甘草（炙，五分）　作一劑，水二鍾，姜三片，棗一枚，煎八分，食遠服。</p>
<p><u>黃連丸</u>　治大腸有熱下血。</p>
<p>用黃連、吳茱萸等分，用熱湯拌濕，罨三日同炒，揀出，各另為末，亦各米糊丸，梧子大。每服二三錢，糞前紅，服茱萸丸，糞後紅，服黃連丸，俱酒下。</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>除濕和血湯</u>　治陽明經濕熱，便血腹痛。</p>
<p>生地黃　牡丹皮　生甘草（各五分）　熟甘草　黃耆（各一錢，炙）　白芍藥（一錢五分）　升麻（七分）　當歸身（酒拌）　蒼朮（炒）　秦艽　陳皮　肉桂　熟地黃（酒拌，各三分）　作一劑，水二鍾，煎八分，空心候宿食消盡，熱服。</p>
<p><u>槐花散</u>　治腸風臟毒下血。</p>
<p>槐花（炒）　生地黃（酒拌，銅器蒸半日）　青皮　白朮（炒）　荊芥穗（各六分）　川芎（四分炙）當歸身（酒拌）　升麻（各一錢）　為末，每服三錢，空心米飲調下，水煎服亦可。</p>
<p><u>補中益氣湯</u></p>
<p><u>人參敗毒散</u>（二方見潰瘍發熱門）</p>
<p><u>參苓白朮散</u>　治脾胃不和，飲食不進，或嘔吐泄瀉。凡大病後，皆宜服此藥，以調理脾胃。</p>
<p>人參　茯苓　白扁豆（去皮薑汁拌炒）　白朮（炒）　蓮肉（去心皮）　砂仁（炒）　薏苡仁（炒）　桔梗（炒）　山藥　甘草（炙，各二兩）　為細末，每服三錢，用石菖蒲煎湯下。</p>
<p><u>歸脾湯</u>　治思慮傷脾，不能統攝，心血以此妄行，或吐血下血，或健忘怔忡，驚悸少寐，或心脾作痛。</p>
<p>白朮（炒）　茯神　黃耆（蜜炙）　龍眼肉　酸棗仁（蒸，各一錢）　人參　木香（各五分）　甘草（炙，二分半）　作一劑，水一鍾，姜一片，棗一枚，煎六分，食遠並臨臥服。</p>
<p><u>小烏沉湯</u>　治氣不調和，便血不止。</p>
<p>烏藥（一兩）　甘草（炙，二錢）　香附（四兩，酒製）　每服二錢，食前鹽湯下。</p>
<p><u>不換金正氣散</u>（方見作嘔門）</p>
<p><u>枳殼散</u>　治便血，或婦人經候不調，手足煩熱，夜多盜汗，胸膈不利。</p>
<p>枳殼（麩炒，一錢）　半夏曲　赤芍藥（炒，各一錢）　柴胡　黃芩（各一錢五分）　作一劑，水二鍾，姜三片，棗二枚，煎八分，食遠服。</p>
<p><u>芎歸湯</u>　治便血，或失血過多眩暈。</p>
<p>芎藭（五錢）　當歸（酒拌，五錢）　作一劑，水一鍾半，煎六分，食後服。</p>
<p><u>如神千金方</u>　治痔無有不效。</p>
<p>好信石（色黃明者三錢，打如豆大）　明白礬（一兩為末）　好黃丹（水飛，炒變色，五錢）蠍梢（七個，淨洗瓦上焙乾，研末）　草烏（緊實光滑者，去皮生研末，一錢）　上用紫泥罐，先將炭火煅紅，放冷拭淨；先下明礬燒令沸，次下信石，入礬內拌勻，文武火煅候沸，再攪勻；次看罐通紅煙起為度，將罐掇下，待冷取研末，方入草烏、黃丹、蠍梢三味，再同研極細，入瓷罐內收貯。如欲敷藥，先煎甘草湯，或蔥椒煎湯，洗淨患處，然後用生麻油調前藥，以鵝毛掃藥痔上，每日敷藥三次。之後，必去黃水如膠汁，然痔頭漸消，看痔病年深淺，年遠者，不出十日可取盡，日近者俱化為黃水，連根去淨。更搽生好肉，藥應是五痔皆去之。乃是臨安曹五方，黃院鳸引為高宗，取痔得效，後封曹官至察使。</p>
<p><u>李防禦五痔方</u></p>
<p>原痔者，貧富男女皆有之。富者酒色財氣，貧者擔輕負重，飢露早行，皆心肝二血。喜則傷心，怒則傷肝，喜怒無常，風血侵於大腸，到穀道無出路，結積成塊，出血生乳，各有形相。婦人因經後傷冷，月事傷風，余血在心，經血流於大腸。小兒因利後，或母腹中受熱也。治方於後：</p>
<p><u>水澄膏</u>　治痔護肉。</p>
<p>鬱金　白芨（各一兩）　一方加黃連。上二味，為細末。如內痔，候登廁翻出在外，用溫湯洗淨，不須坐，側臥於床即出。用蜜水調令得中篦，篦塗穀道四邊好肉，上留痔，在外以紙，蓋藥上良久，方用枯藥搽痔上，用筆蘸溫水於紙上，不令藥干及四散。</p>
<p>好白礬（四兩）　生信石（二錢半）　硃砂（一錢，生研極細）　上各研為細末，先用砒入紫泥罐，次用白礬末蓋之，用火煅，令煙斷，其砒盡隨煙去，止借砒氣於礬中耳，用礬為極細末，看痔頭大小，取礬末在掌中，更入硃砂少許，以唾調稀，用篦頭塗痔上周遍，一日三上。候看痔頭顏色焦黑為效，至夜自黃水出，切無他疑，水盡為妙，至中夜上藥一遍，來日依然上藥三次，有小痛不妨。換藥時，以碗盛新水或溫湯，在痔邊用筆輕洗去痔上舊藥，更上新藥，仍用護肉藥，次用荊芥湯洗之，三兩日之後，黃水出將盡，卻於藥中增硃砂減白礬，則藥力即緩，三兩日方可增減，漸漸取之。庶不驚人，全在用藥人，看痔頭轉色，增減厚薄敷藥，方是活法，此藥只是借砒信耳，又有硃砂解之。一方士將此二方在京治人多效，致富。一富人因驗以百金求得之錄於余，余雖未用，傳人無不言效，但枯藥趙宜真鍊師已刊於《青囊雜纂》，如神千金方，未見刊傳，大抵今人言能取痔者，皆此方也。恐氣血虛或內邪者，還當兼治其內，庶不有失。</p>

<h1>卷八</h1>

<h2>便秘門</h2>
<p>脈沉實而秘者，火在內者，宜泄之。脈澀而秘者，屬血少，宜養血。脈浮而秘者，屬氣虛，宜補氣。脈浮澀而秘者，氣血俱虛也，宜補氣血。</p>
<p>一男子患癰，未作膿，焮痛煩躁，便秘脈實，以內疏黃連湯二劑，諸症悉退；以四物加芩、連，四劑而消。</p>
<p>一男子潰後，便澀脈浮，按之則澀，以八珍湯加紅花、桃仁、陳皮、杏仁，治之而愈。</p>
<p>一婦人潰後，便秘而脈澀，以四物湯加紅花、桃仁、黃耆，治之而愈。</p>
<p>一男子潰後，便秘而脈浮，以四君子湯加陳皮、杏仁、當歸，治之而愈。</p>
<p>一老人潰後，大便秘，小便赤澀，診之脈浮數而澀，以八珍湯加黃柏、知母，治之而已。愈後，小便複數而赤，大便秘，口乾目花，以加減八味丸、滋腎丸，治之而愈。此症乃陰血虛，陽火盛，故用前藥有效，而向投苦寒之劑，必致有誤也。</p>
<p>一男子潰後便澀，肌膚作癢，余以氣血虛不能營於腠理，用補劑治之，彼不信，乃服風藥，以致不救。大抵瘡瘍始作，便秘脈數而澀者，宜降火涼血為主；潰後便秘脈澀者，宜補血氣為主。妄投風藥，禍在反掌。</p>
<p><u>附方</u></p>
<p><u>內疏黃連湯</u>（方見腫瘍門）</p>
<p><u>四物湯</u>（方見瘰癧門）</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>四君子湯</u>（方見痔門）</p>
<p><u>滋腎丸</u>（方見下疳門）</p>
<p><u>加減八味丸</u>（方見作渴門）</p>

<h2>乳癰（附乳岩，並男子乳癰）</h2>
<p>暴怒或兒口氣所吹腫痛者，疏肝行氣。焮痛發寒熱者，發散表邪。腫焮痛甚者，清肝消毒。未成膿，疏肝行氣。不作膿，或不潰，托裡為主。潰而不斂，或膿清者，宜大補氣血。</p>
<p>一婦人稟實性躁，懷抱久郁，左乳內結一核不消，按之微痛，以連翹飲子二十餘劑，稍退；更以八珍湯加青皮、香附、桔梗、貝母，二十餘劑而消。</p>
<p>一婦人因怒，兩乳腫，兼頭痛、寒熱，以人參敗毒散，二劑表證已退；以小柴胡湯加芎、歸、枳殼、桔梗，四劑而消。</p>
<p>一婦人郁久，右乳內腫硬，以八珍湯加遠志、貝母、柴胡、青皮，及隔蒜灸，兼服神效栝蔞散，兩月餘而消。</p>
<p>一婦人左乳內腫如桃，許久不痛，色不變，發熱漸消瘦，以八珍湯加香附、遠志、青皮、柴胡百餘劑；又間服神效栝蔞散三十餘劑，膿潰而愈。嘗見患者，責效太速，或不戒七情，及藥不分經絡虛實者，俱難治。大抵此症，四十以外者尤難治，蓋因陰血日虛也。</p>
<p>一婦人因怒，左乳內腫痛發熱，表散太過，致熱益甚，以益氣養榮湯數劑，熱止膿成，欲針之。彼不從，遂腫脹大熱，發渴，始針之，膿大泄，仍以前湯，月餘始愈。大抵乳房屬陽明胃經，乳頭屬厥陰肝經，若忿怒傷肝，或厚味積熱，以致氣不行，竅不通，乳不出，則結而為腫為痛。陽明之血熱甚，則肉腐為膿。若膿一成，即針之，以免遍潰諸囊之患。亦有所乳之子，膈有滯痰，口氣焮熱，含乳而睡熟，熱氣所吹，遂成腫痛，於起時須吮咂通，或忍痛揉散，失治必成癰患，宜青皮以疏厥陰之滯，石膏以清陽明之熱，甘草節以行汙濁之血，栝蔞子以消腫道毒，或加沒藥、橘葉、皂角針、金銀花、當歸；更宜隨症消息，加減而服，少酒佐之；更隔蒜灸之，其效尤捷。若有膿即針之，否則通潰，難於收斂。</p>
<p>一婦人久郁，右乳內結三核，年餘不消，朝寒暮熱，飲食不甘，此乳岩也。乃七情所傷肝經，血氣枯槁之症，宜補氣血，解鬱結藥治之。遂以益氣養榮湯百餘劑，血氣漸復；更以木香餅灸之，喜其謹疾，年餘而消。</p>
<p>一婦人亦患此，余謂須多服解鬱結養氣血藥，可保無虞，彼不信，乃服克伐之劑，反大如覆碗，日出清膿，不斂而歿。</p>
<p>一婦人郁久，乳內結核，年餘不散，日晡微熱，飲食少思，以益氣養榮湯治之，彼以為緩，乃服行氣之劑，勢愈甚，潰而日出清膿不止。復求治，診之脈洪而數，辭不治，又年餘，果歿。</p>
<p>又一妾，乃放出宮女，乳內結一核如粟，亦以前湯，彼不信，乃服瘡科流氣飲及敗毒散，三年後，大如覆碗，堅硬如石，出水不潰，亦歿。大抵鬱悶則脾氣阻，肝氣逆，遂成隱核，不痛不癢，人多忽之，最難治療。若一有此，宜戒七情、遠厚味、解鬱結，更以行氣之藥治之，庶可保全，否則不治。亦有二三載，或五六載，凡勢下陷者，皆曰乳岩，蓋其形岩凸似巖穴也，最毒。慎之！</p>
<p>一婦人發熱作渴，至夜尤甚，兩乳忽腫，服敗毒藥，熱反熾。診之肝脈洪數，乃熱血入室也，以加味小柴胡湯治之，熱止腫消。</p>
<p>一婦人因怒，左乳作痛，胸膈不利，以方脈流氣飲加木香、青皮，四劑而愈。</p>
<p>一婦人郁久，左乳內結核如杏許，三月不消，心脈澀而脾脈大，按之無力，以八珍湯加貝母、遠志、香附、柴胡、青皮、桔梗，五十餘劑而潰；又三十餘劑而愈。</p>
<p>一婦人膿成，不潰脹痛，余欲針之，使毒不侵遍。彼不從，又數日痛極，始針，湧出敗膿三四碗，虛症蜂起幾殆，用大補藥，兩月餘而始安。夫乳之為物，各有囊橐，若一有膿，即針之，否則遍潰諸囊矣，少壯者得以收斂，老弱者多致不救。</p>
<p>一婦人腫而不作膿，以益氣養榮湯加香附、青皮，數劑而膿成，針之旬日而愈。</p>
<p>一婦人右乳腫，發熱，怠惰嗜臥，無氣以動，至夜熱亦甚，以補中益氣湯兼逍遙散治之而痊。</p>
<p>一婦人兩乳內時常作痛，口內常辣，臥起若急，臍下牽痛，以小柴胡湯加青皮、黃連、山梔，治之而痊。</p>
<p>一產婦因乳少，服藥通之，致乳房腫脹發熱作渴，狀傷寒，以玉露散補之而愈。夫乳汁乃氣血所化，在上為乳，在下為經，若衝任之脈盛，脾胃之氣壯，則乳汁多而濃，衰則少而淡，所乳之子，亦弱而多病，此自然之理。亦有屢產有乳，再產卻無，或大便澀滯，乃亡津液也。《三因論》云：產婦乳脈不行有二，有血氣盛，閉而不行者；有血氣弱，澀而不行者。虛當補之，盛當疏之，盛者當用通草、漏蘆、土瓜根輩；虛者當用煉成鍾乳粉、豬蹄、鯽魚之屬。概可見矣。亦有乳出不止等症，見《外科心法》。</p>
<p>一男子左乳腫硬痛甚，以仙方活命飲二劑而止；更以十宣散加青皮，四劑膿成，針之而愈。若膿成未破，瘡頭有薄皮剝起者，用代針之劑，點起皮處，以膏藥覆之，膿亦自出，不若及時針之，不致大潰。如出不利，更紝搜膿化毒之藥。若膿血未盡，輒用生肌之劑，反助邪氣，縱早合必再發，不可不慎也。</p>
<p>一男子年逾五十，患子不立事，左乳腫痛，左脅脹痛，肝脈弦數而澀，先以龍薈丸二服，諸症頓退；又以小柴胡湯對四物，加青皮、貝母、遠志，數劑而膿成，余欲針之，仍以養氣血解鬱結。彼不從，乃雜用流氣敗毒之劑，致便秘發熱作渴，復請，余謂：「膿成不潰，陽氣虛不能鼓舞也，便秘發熱，陰血竭不能濡潤也。」辭不治，果死。</p>
<p>一男子因怒，左乳腫痛，肝脈弦數，以復元通氣散，二服少愈；以小柴胡湯加青皮、芎、歸，數劑而消。</p>
<p><u>附方</u></p>
<p><u>連翹飲子</u>　治乳內結核。服數劑，如不消，宜兼服八珍湯。初起有表證者，宜先解散。</p>
<p>連翹　川芎　栝蔞仁（研）　皂角刺（炒）　橘葉　青皮　甘草節　桃仁（各一錢半）　作一劑，水二鍾，煎一鍾，食遠服。</p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>復元通氣散</u>　治乳癰便毒腫痛，及一切氣滯腫毒，如打撲傷損閃肭作痛，及疝氣尤效。</p>
<p>木香　茴香（炒）　青皮（去白）　穿山甲（酥炙）　陳皮　白芷　甘草　漏蘆　貝母（去心，各等分）　另為末，各等分和勻。每服三錢，溫酒調下。</p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>隔蒜灸法</u>（方見發背門）</p>
<p><u>神效栝蔞散</u>　治乳癰乳勞，已成化膿為水，未成即消。治乳之方甚多，獨此方神效，瘰癧瘡毒尤效。</p>
<p>栝蔞（大者二個，搗）　甘草　當歸（各五錢）　沒藥（另研）　乳香（各一錢，另研）　作二劑，用酒三碗，煎至二碗，分三次飲；更以渣罨患處，一切癰疽腫毒並效。如數劑不消不痛，宜以補氣血之劑，兼服之。</p>
<p><u>小柴胡湯</u></p>
<p><u>益氣養榮湯</u></p>
<p><u>加味小柴胡湯</u>（三方見瘰癧門）</p>
<p><u>補中益氣湯</u>（見潰瘍發熱門）</p>
<p><u>逍遙散</u>（見瘰癧門）</p>
<p><u>木香餅</u>　治一切氣滯結腫，或痛或閃肭，及風寒所傷作痛，並效。</p>
<p>木香（五錢）　生地黃（一兩）　木香為末，地黃杵膏，和勻，量患處，大小作餅，置腫處，以熱熨斗熨之。</p>
<p><u>玉露散</u>　治產後乳脈不行，身體壯熱，頭目昏痛，大便澀滯。</p>
<p>人參　白茯苓　甘草（各五分）　桔梗（炒）　川芎　白芷（各一錢）　當歸（五分）　芍藥（七分）作一劑，水二鍾，煎至八分，食後服。如熱甚，大便秘，加大黃三分炒。</p>
<p><u>仙方活命飲</u></p>
<p><u>十宣散</u>（二方見發背門）</p>
<p><u>當歸龍薈丸</u>（方見瘰癧門）</p>
<p><u>流氣飲</u>（方見流注門）</p>

<h2>婦人血風瘡（附陰瘡、陰腫、陰挺）</h2>
<p>脈浮者祛風為主，益氣佐之。脈澀者祛風為主，佐以養血。脈浮而澀者，祛風養氣血。</p>
<p>一婦人患此作癢，五心煩熱，以逍遙散數劑而止，更以人參荊芥散，二十餘劑而愈。</p>
<p>一婦人遍身作癢，秋冬尤甚，脈浮數，飲消風散、敷蛇床子散，數日頓愈。</p>
<p>一婦人遍身赤色，搔破成瘡，膿出不止，以當歸飲子及蛇床子散而愈。</p>
<p>一老婦遍身作癢，午前益甚，以四君子湯加荊、防、芎、歸而愈。</p>
<p>一婦人因洗頭致頭皮患腫兼癢，以人參荊芥散數劑而愈。</p>
<p>一婦人作癢成瘡，雖斂久，而患處仍癢，搔起白屑，以四生散數服，癢止；以人參荊芥散，二十餘劑而愈。</p>
<p><u>附方</u></p>
<p><u>消風散</u></p>
<p><u>當歸飲子</u>（二方見瘡疥門）</p>
<p><u>蛇床子散</u>　治風癬疥癩搔癢，膿水淋漓。</p>
<p>蛇床子　獨活　苦參　防風　荊芥穗（各一兩）　枯礬　銅綠（各五錢）　各另為末，麻油調搽。</p>
<p><u>四君子湯</u>（方見痔漏門）</p>
<p><u>人參荊芥散</u>（方見瘡疥門）</p>
<p><u>逍遙散</u>（方見瘰癧門）</p>
<p><u>四生散</u>（方見瘡疥門）</p>
<p>治婦人陰戶生瘡，作癢，或痛。</p>
<p>杏仁（炒）　雄黃　白礬（各五錢）　麝香（二分）　上為末，敷入患處。</p>
<p><u>當歸散</u>　治婦人陰中突出一物，長五六寸，名陰挺。</p>
<p>當歸　黃芩（各二兩）　牡蠣（一兩五錢）　蝟皮（一兩，炙）　赤芍藥（五錢）　上為末，每服二錢，食前溫酒調下，滾湯亦可。如不應，更以補中益氣湯，倍加升麻、柴胡，兼服之。又方：當歸、穿山甲炙、蒲黃炒，各半兩，辰砂一錢、麝香少許為末，每服三錢，酒調下，尤效。</p>
<p><u>菖蒲散</u>　治婦人陰戶腫痛，月水澀滯。</p>
<p>菖蒲　當歸（各一錢）　秦艽（七錢五分）　吳茱萸（五錢，制）　上為末，每服三錢，空心蔥湯調下；更以枳實炒熱，頻熨患處。</p>
<p>治陰內膿水淋漓，或癢痛，以升麻、白芷、黃連、木通、當歸、川芎、白朮、茯苓煎服。更用塌腫湯浴流。</p>
<p><u>塌腫湯</u>　治婦人陰戶生瘡，或癢痛，或膿水淋漓。</p>
<p>甘草　乾漆（各三錢）　生地黃　黃芩　當歸　川芎（各二錢）　鱉甲（五錢，炙）　作一劑，用水數碗，煎數沸，去渣，常洗患處。</p>

<h2>瘡疥</h2>
<p>瘡癢或膿水浸淫者，消風除濕。癢痛無膿者，祛風潤燥。焮痛或發寒熱者，表散之。瘙癢或疼，午後尤甚者，降火益陰。焮痛大便秘澀者，滋陰瀉火。搔起白屑，耳作蟬聲者，祛風清熱。</p>
<p>一婦人患此作癢，膿水不止，脈浮無力，以消風散，四劑稍愈；更以四生丸，月餘而平。</p>
<p>一男子癢少痛多無膿水，以芩、連、荊、防、山梔、薄荷、芍藥、歸稍，治之而愈。</p>
<p>一男子焮痛發熱，脈浮數，以人參敗毒散，四劑稍愈；更以當歸飲子，數劑而愈。</p>
<p>一男子焮痛，寒熱便秘，脈數有力，以防風通聖散，一劑稍愈；更以荊防敗毒散，加黃芩、山梔，四劑而愈。</p>
<p>一婦人作癢，午後尤甚，以當歸飲子，數劑少愈；更以人參荊芥散，數劑而安。</p>
<p>一男子久不愈，搔起白屑，耳作蟬聲，以四生散，數服癢止，更以當歸飲子，數劑而瘥。</p>
<p>一男子下體居多焮痛，日晡尤甚，腿腕筋紫而脹，就於紫處刺去瘀血；以四物湯加芩、連，四劑而安。患在上體，若臂腕筋紫脹，亦宜刺去其血，以前湯加柴胡、黃芩，即愈。</p>
<p>一男子搔癢成瘡，日晡痛甚，以四物加芩、連、荊、防，數劑而止，更以四物加蒺藜、何首烏、黃耆，二十劑而愈。</p>
<p><u>附方</u></p>
<p><u>消風散</u>　治風熱癮疹瘙癢，及婦人血風瘙癢，或頭皮腫癢，或諸風上攻，頭目昏眩，項背拘急，鼻出清水，嚏噴聲重，耳作蟬鳴。</p>
<p>荊芥穗　甘草（炒，各一兩）　陳皮（焙，五錢）　人參　白殭蠶（炒）　茯苓　防風　芎藭藿香　蟬蛻（各二兩）　厚朴（薑製，五錢）　羌活（一兩）　各另為末，每服三錢，清茶調下。瘡癬溫酒下。</p>
<p><u>人參敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>防風通聖散</u>（方見天泡瘡門）</p>
<p><u>當歸飲子</u>　治血燥作癢，及風熱瘡疥瘙癢或作痛。</p>
<p>當歸（酒拌）　川芎　白芍藥　生地黃（酒拌）　防風　白蒺藜　荊芥（各一錢五分）　何首烏　黃耆　甘草（各五分）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>四生散</u>　治臁腿生瘡，浸淫不愈，類風癬，名腎臟風。瘡如上攻，則目昏花，視物不明，並一切風癬疥癩。</p>
<p>白附子（生用）　黃耆　獨活　蒺藜　各另研為末，等分和勻，每服二錢，用豬腰子一個，批開入藥，濕紙包裹煨熱，空心連腰子細嚼，鹽湯下，風癬酒下。</p>
<p><u>四生丸</u>　治血風骨節疼痛，不能舉動，或行步不前，或渾身瘙癢，或麻痹。</p>
<p>地龍（去土）　殭蠶（炒，去絲）　白附子（生用）　五靈脂　草烏（去皮尖，各等分）　上為末，米糊丸，梧子大，每服二三十丸，茶酒任下；或作末酒調服亦可。</p>
<p><u>荊防敗毒散</u>（方見潰瘍發熱門）</p>
<p><u>人參荊芥散</u>　治婦人血風發熱，或瘡毒瘙癢，或肢體疼痛，頭目昏澀，煩渴盜汗，或月水不調，臍腹㽲痛，痃癖積塊。</p>
<p>荊芥穗　人參　桂心　酸棗仁（炒）　柴胡　鱉甲（醋炙）　枳殼（麩炒）　生地黃（酒拌）　羚羊角（鎊末）　白朮（炒，各一錢）　川芎　當歸（酒拌）　防風　甘草（炙，各五分）　作一劑，水二鍾，姜三片，煎八分，入羚角末，食遠服。</p>
<p><u>四物湯</u>（方見瘰癧門）</p>

<h2>杖瘡</h2>
<p>（附墜馬並破傷風及犬蛇蟲傷）</p>
<p>胸滿或脅脹宜行血。老弱者宜行氣活血，更飲童便、酒。腹痛者宜下血。血去多而煩躁者補血，如不應用獨參湯。瘀肉不潰，或潰而不斂，宜大補氣血。</p>
<p>一男子杖瘡，瘀肉不腐，以大補之劑漸腐，更以托裡健脾藥而斂。</p>
<p>一男子墜馬，兩脅作痛，以復元活血湯，二劑頓止；更以小柴胡湯，加當歸、桃仁，二劑而安。</p>
<p>一男子墜馬，腹作痛，以桃仁承氣湯，加蘇木、紅花下之，頓愈；更以四物湯，加天花粉、柴胡，二劑而愈。</p>
<p>一男子損臂，出血過多，又下之，致煩熱不止，瘀肉不腐，以聖愈湯，四劑少安；以八珍湯加五味子、麥門冬而安；更以六君子湯加芎、歸、黃耆，數劑而潰；又二十餘劑而斂。大抵此證，須分所患輕重，有無瘀血，及元氣虛實，不可概下。蓋恐有傷氣血，難以潰斂，常治先以童便和酒飲之，或加紅花、蘇木，其功甚捷。若概用攻利之劑，鮮不有誤。凡瘡愈之遲速，在血氣之虛實故也。</p>
<p>一老人墜馬，腹作痛，以復元通氣散，用童便調，進二服少愈；更以四物，加柴胡、桃仁、紅花，四劑而安。</p>
<p>一男子風入杖瘡，牙關緊急，以玉真散，一服少愈，再服而安。</p>
<p>一男子跌僕，皮膚不破，兩脅作脹，發熱口乾自汗，類風證，令先飲童便一甌，煩渴頓止，隨進復元活血湯，倍用柴胡、青皮一劑，脹痛悉愈，再劑而安。《發明經》云：夫從高墜下，惡血流於內，不分十二經絡，聖人俱作風中肝經，留於脅下，以中風療之。血者皆肝之所主，惡血必歸於肝，不問何經之傷，必留於脅下，蓋肝主血故也。痛甚則必有自汗，但人汗出，皆為風證，諸痛皆屬於肝木，況敗血凝滯，從其所屬入於肝也。從高墜下，逆其所行之血氣，非肝而何？以破血行經藥治之。</p>
<p>一男子被犬傷，痛甚噁心，令急吮去毒血，隔蒜灸患處，數壯痛即止；更貼太乙膏，服玉真散而愈。</p>
<p>一男子青腫作痛，以蘿蔔汁調梔子末敷之；以四物湯加柴胡、黃芩、天花粉、穿山甲，二劑少愈；更以托裡散加生地黃、柴胡、紅花，數劑而潰；再以托裡、健脾藥而愈。</p>
<p>一男子風犬所傷，牙關緊急，不省人事，急針患處出毒血；更隔蒜灸，良久而醒，用太乙膏封貼；用玉真散，二服稍愈；更以解毒散，二服而痊。若患重者，須先以蘇合香丸灌之，後進湯藥。</p>
<p>《針灸經》云：外丘穴，治猘犬，即風犬所傷，發寒熱，速灸三壯，更灸患處，立愈。春末夏初，狂犬咬人，須過百日得安，終身禁犬肉蠶蛹，食此則發不可救也。宜先去惡血，灸咬處十壯，明日以後灸一壯，百日乃止。忌酒七日，搗並汁飲一二盞。</p>
<p>又方治狂犬傷，令人吮去惡血，灸百壯神效。</p>
<p>治蛇入七竅，急以艾灸蛇尾。又法以刀破蛇尾，少許入花椒七粒，蛇自出，即用雄黃、硃砂末，煎人參湯調灌之，內毒即解。山居人被蛇傷，急用溺洗咬處，拭乾以艾灸之，立效。又方用獨頭大蒜，切片置患處，以入於蒜上灸之，每三壯換蒜，多灸為妙。</p>

<h2>傷損脈法</h2>
<p>《內經》云：肝脈搏堅而長，色不青，當病墮。若搏因血在脅下，令人嘔逆。</p>
<p>《金匱》云：寸口脈浮微而澀，然當亡血，若汗出。設不汗出者，當身有瘡被刀斧所傷，亡血故也。</p>
<p>《脈經》云：金瘡出血太多，其脈虛細者生，數實者死。金瘡出血，脈沉小者生，浮大者死。砍刺出血不止者，其脈來大者七日死，滑細者生。從高顛仆，內有瘀血腹脹，脈堅強者生，小弱者死。破傷有瘀血在內，脈堅強實則生，虛小弱者死。若亡血過多，脈細小者生，浮大數實者死，皆為脈病不相應故也。</p>
<p>一婦人臀癰將愈，患破傷風，發熱搐搦，脈浮數，余以當歸地黃湯治之。彼不信，乃服發散敗毒藥，果甚，始信而服之，至數劑而痊。夫破傷風之症，須分表裡別虛實，不可一概治之。《原病式》云：夫破傷中風之由者，因瘡熱甚鬱結，而榮衛不得宣通，怫熱因之遍身，故多白痂，是時瘡口閉塞，氣難通泄，熱甚則生風，不已則表傳於裡者也。但有風熱微甚，兼化，故殊異矣。大凡破傷中風，風熱燥甚，怫鬱在表，而裡氣尚平者，善伸數欠，筋脈拘急，時或惡寒，或筋惕而播，脈浮數而弦者，宜以辛熱治風之藥，開沖結滯；是與傷寒表熱怫鬱，而以麻黃湯辛熱發散者同也。凡用辛熱開衝風熱結滯，宜以寒藥佐之則良，免致藥中病而風熱轉甚也。如治傷寒發熱，用麻黃、桂枝，加黃芩、石膏、知母之類是也。若世以甘草、滑石、蔥、豉寒藥，發散甚妙。若表不已，漸傷入里，里又未大甚，而脈在肌肉者，宜以退風熱開結滯之寒藥調之，或微加治風，辛熱亦得，猶傷寒在半表半裡，而以小柴和解之意也。若裡熱已甚，而舌強口噤，項背反張，驚搐惕搦，涎唾稠黏，胸腹滿塞，而或便溺閉結，或時汗出，脈洪數而弦也。然出汗者，由風熱鬱甚於里，而表熱稍罷，則腠理疏泄，而心火熱甚，故汗出也，法宜除風散結，寒藥下之，後以退風熱開鬱結之寒藥調之，而熱退結散，則風自愈矣。凡治此，亦宜按摩導引及以藥干開牙關，勿令口噤，使粥藥得下也。</p>
<p>《病機》云：破傷風者，有因卒暴傷損風襲之間，傳播經絡，致使寒熱更作，身體反張，口噤不開，甚者邪氣入藏。有因諸瘡不瘥，榮衛俱虛，肌肉不生，瘡眼不合，邪亦能外入於瘡，為破傷風之候。有諸瘡不瘥，舉世皆言著灸為上，是為熱瘡，而不知火熱客毒，遂經諸變，不可勝數。微則發熱，甚則生風而搐，或角弓反張，口噤目斜，亦有破傷，不灸而病，此者因瘡著白痂，瘡口閉塞，氣難通泄，故陽熱易為鬱結，熱甚則生風也。徐用誠云：此論所因有四：二者，因瘡口入風，似屬外因；一者因灸逐熱，似屬不內外因；一者因瘡口閉塞，內熱生風，似屬內因也。又云：破傷風證，古方藥甚論少，豈非以此疾，與中風同論，故不另立條目也。唯河間論與傷寒表裡中三法同治，用藥甚詳。其言病因，有因外傷於風；有因灸及內熱所作者，然與中風相似也。但中風之人，尚可淹延歲月，而破傷風者犯之，多致不救。蓋中風在經在臟在腑之異，獨入臟者最難治。破傷風，或始而出血過多，或瘡早閉合，瘀血停滯，俱是血，受病屬五臟之所主，故此風所傷，始雖在表，隨即必傳入臟，故多死也。此病或瘡口坦露，不避風寒而有所傷，或瘡口閉合，密避風邪而及，病已十分安全，而忽有此，大抵皆由內氣虛，而有鬱熱者得之。若內氣壯實，而無鬱熱者，雖傷而無所害也。</p>
<p><u>附方</u></p>
<p><u>八珍湯</u>（方見潰瘍發熱門）</p>
<p><u>六君子湯</u>（方見作嘔門）</p>
<p><u>復元活血湯</u>　治墜墮，或打撲瘀血，流於脅下作痛，或小腹作痛，或痞悶，及便毒，初起腫痛。</p>
<p>柴胡（一錢五分）　天花粉　當歸（酒拌，各一錢）　紅花　甘草（各七分）　穿山甲（一錢，炮）　大黃（酒拌、炒，二錢）　桃仁（二十粒，去皮尖，酒浸、研）　作一劑，水二鍾，煎一鍾，食前服。</p>
<p><u>小柴胡湯</u></p>
<p><u>四物湯</u>（二方見瘰癧門）</p>
<p><u>復元通氣散</u>（方見乳癰門）</p>
<p><u>桃仁承氣湯</u>　治傷損瘀血停滯，腹作痛，發熱，或發狂，或便毒壅腫，疼痛便秘發熱，並宜用此通之。</p>
<p>桃仁（五十粒，去皮尖，研）　桂枝　芒硝　甘草（炙，各一錢）　大黃（一錢）　作一劑，水二鍾，煎一鍾，空心服。</p>
<p><u>玉真散</u>（一名定風散）　治破傷風重者，牙關緊急，腰背反張，並蛇犬所傷。</p>
<p>天南星　防風（各等分）　為末。每服二錢，溫酒調下，更搽患處。若牙關緊急，腰背反張者，每服三錢，用童便調服，雖內有瘀血亦愈。至於昏死，心腹尚溫者，連進二服，亦可保全。若治風犬咬傷，更用漱口水，洗淨搽之，神效。</p>
<p><u>隔蒜灸法</u>（方見發背門）</p>
<p><u>太乙膏</u>（方見腸癰門）</p>
<p><u>托裡散</u>（方見腫瘍門）</p>
<p><u>解毒散</u>　治一切毒蛇惡蟲並獸所傷，重者毒入腹，則眼黑口噤，手足強直。此藥平易，不傷氣血，大有神效，不可以為易而忽之。</p>
<p>白礬（一兩）　甘草末（一兩）　為細末。每服二錢，不拘時，冷水調下，更敷患處。</p>
<p><u>蘇合香丸</u>（方見方脈科氣門）</p>
<p><u>聖愈湯</u>　治瘡瘍，膿水出多，或瘡出血，心煩不安，眠睡不寧，或五心煩熱。</p>
<p>地黃（酒拌，蒸半日）　生地黃（酒拌）　川芎　人參（各五錢）　當歸（酒拌）　黃耆（鹽水浸炒，各一錢）　作一劑，水二鍾，煎八分，食遠服。</p>
<p><u>獨參湯</u>　治潰瘍氣血虛極，惡寒或發熱，或失血之證，葛可久血脫用補氣，即此方也。</p>
<p>人參（二兩）　作一劑，水二鍾，棗十枚，煎一鍾，徐徐服。若煎至稠厚，即為膏矣。</p>
<p><u>當歸地黃湯</u>　治破傷風，氣血俱虛，發熱頭痛，此養氣血祛風邪，不拘新舊，並治之。</p>
<p>當歸（酒拌）　地黃（酒拌）　芍藥　川芎　藁本　防風　白芷（各一錢）　細辛（五分）　作一劑，水二鍾，煎一鍾服。</p>
