<header data-type="book">
<h1>玄門脈訣內照圖</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>舊題<data value="華佗">華佗</data>著，<data value="汪琥">汪琥</data>序</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1668">公元1668年</data>序</dd></div>
<div><dt>底本</dt><dd><a href="https://www.wdl.org/zh/item/18716/">國家圖書館掃描本</a></dd></div>
</dl>
</header>
