<header data-type="book">
<h1>沈菊人醫案</h1>
</header>

<h1>序</h1>
<p>知之貴明，處之貴當，古人之論作事也，而吾謂作醫亦然。醫者意也。以意逆病，意與病迎，則藥進而病去；意與病距，則藥進而病增，即或舉網得魚，偶而獲效，亦不過貪天之功，以為己力，豈真用藥之的當歟？夫用藥之不當，由於辨別之不精。古人之學醫也，探原於《靈》、《素》，問道於淳、張，精習經方，洞曉針藥。呼吸應變，若鼓答桴。人疑偶而得之，而不知其學之有素也。今之醫者則不然，粗識湯頭，便欲懸壺於市，第求衣食，並無濟世之心。甚或販夫、牧豎、里嫗、村童，亦且借《玉函》、《金匱》之名，為啜粟飲水之計。自好之士，恥與同儔，而醫道遂大不可問。</p>
<p>外舅沈菊人先生，工詩善畫，而尤肆力於岐黃，凡經絡、脈理、藥性、病情，無不講求而熟習。療人疾苦，響應如神，無他，其用藥當也。李莜云茂才，呂伯純上舍，為先生及門高弟，嘗勖之曰：「醫雖小道，實為蒼生性命所關，務須明辨慎思，思必求確切，然後已。蓋所謂知之明而處之當也。」二子稟承師訓，精思力索，融會貫通，抉奧闡幽，洵足傳先生之衣缽。討論之暇，嘗選先生近診之方，匯為一帙，朝披夕覽，以為臨證權衡。余受而讀之，分門別類，朗若列眉，論證精詳，制方工穩，不膠成見，不泥古書，辨異中之同，審同中之異，得心應手，處之泰然，誠足與《肘後》、《千金》並作枕中之秘矣！雖寸鱗片爪，不足儘先生之長，而縷析條分，實足啟後人之悟。苟能循誦習傳，由是而進求經旨，則沿流溯源，亦可日進乎高明，倘亦二子之所志乎？讀既竣，因書此以質二子。</p>
<p><u>時光緒元年冬十一月也，弟張良枟拜序。</u></p>

<h1>卷上</h1>

<h2>一、溫邪</h2>
<p>（案1）許。躬耕南畝，夜露東阡，戽水灌田，涼風上襲，鬱於肌表，則傷先在肺。咳嗽、痰稠、形慄、灼熱。《內經》所謂清邪中上，法以辛涼，佐以甘苦。</p>
<p>桑葉　蘇梗　橘紅　象貝　甘草　杏仁　前胡　旋覆　牛蒡</p>
<p>（案2）顧。夏秋痃瘧，延及半年，真陰被劫，而又封藏不固，精搖乎寐，陰精日奪。古人云：冬不藏精，春必病溫。吸感溫邪，遂為咳嗽。脅痛，身熱，自汗，熱解不盡，風陽上爍，陰氣重傷，致虛焰之火升騰於上，口糜滋腐，妨谷，神疲，脈虛數，兩尺空。此根本先撥之兆，難免虛脫之虞。既承相招，勉擬泄化救陰，以冀挽回於萬一。</p>
<p>西洋參　淡秋石　桑葉　元參　連翹　天冬　鮮生地　川貝母　丹皮　甘草　藿斛</p>
<p>另用西瓜霜一錢、月石一錢、生草三分、人中白七分、冰片一分，研細，吹患處，又泡薄荷、硼砂湯漱口。</p>
<p>又：溫邪劫爍陰津，陰乏上承，少火悉成壯火，虛火上焰，蒸為口糜牙疳。昨進泄化救陰，病情稍有轉機，惟脈象虛數，無神，兩尺全不耐按，則仍根本之未固也。至於神倦嗜寐，仲聖所謂少陰病，但欲寐，是腎經見證確矣！今宗其法，擬救陰護陽，以冀陰津來復，脈象有神也。</p>
<p>大生地　炙甘草　生蛤殼　生白芍　鮮藿斛　清阿膠　麥門冬（包黃連）　西洋參　人中白　川貝母</p>
<p>又：進救陰護陽法，陰氣似乎稍復，脈象略有精神，惟兩尺仍不耐按，是積虛之陰驟難恢復，已亢之陽仍在上騰，故口糜齦腐，猶未退也。仍宜毓陰泄化。</p>
<p>大生地　麥冬　木通　人中白　生蛤殼　元參　北沙參　川貝　生草　淡竹葉　炒竹茹</p>
<p>又：上騰虛炎之火，得滋而熄，下焦久涸之陰，得補而復，口糜漸退，胃氣稍蘇，此佳境也。惟咳嗽痰稠，小溲短赤，上焦清化之原猶未肅也。脈見右寸獨數，左尺尚不耐按，乃肺有餘熱，腎乏陰精也。上實下虛，金水同源，法當清上實下矣。</p>
<p>生地　玉竹　地骨皮　甜杏仁　馬勃　川通草　沙參　蛤殼　人中白　海浮石　生草</p>
<p>又：腎為水臟而司二便，小便頻數，腰痠且痛，脈左尺獨弱，右關獨大，此腎陰虧而胃有餘熱也。法當壯水之原，兼泄陽明客熱。</p>
<p>大熟地　天冬　川貝　西洋參　淡秋石　大生地　麥冬　知母　霍石斛</p>
<p>（案3）張。溫邪挾濕，病來五日。神志乍昏，囈語寒戰，肢冷囊縮，頭痛，舌紅，苔白，口渴不嗜飲，飲下即吐，脈沉數，咳嗽氣急便溏。此肺胃溫邪因病前奪精，陰氣先傷，陽邪乘虛內陷陰經而致。陽獨治上，陰獨治下，營衛二氣不和，邪不達表而陷於裡，陰道虛之故也。以仲聖黃連湯兩和陰陽，非偏寒偏熱之法也。</p>
<p>黃連　黃芩　枳實　瓜蔞　鬱金　桂枝　生薑　法夏　杏仁</p>
<p>又：肢溫寒熱稍輕，咳嗽氣急，苔白舌紅，嘔惡面赤，囈語夜重日輕，脈右浮數，疹點隱隱，便溏，是肺胃溫邪欲達未達也，仍以和之。</p>
<p>川桂枝　細生地　杏仁　神麯　半夏　淡黃芩　淡豆豉　枳殼　陳皮</p>
<p>（案4）瞿。溫邪最易消爍陰津，火升氣逆，陰氣不為我用。痰稠溺赤，氣化失於清肅，寐後神識似乎模糊，此心陰虛而神不內守也。脈象左弦沉數，右細。心肝之陽未平，肝腎之陰已虛，以清上實下為治。</p>
<p>細生地　生蛤殼　川貝母　茯神　橘紅　西洋參　海浮石　甜杏仁　白芍</p>
<p>（案5）張。冬溫始起，寒後發熱，嘔吐痰涎，食物帶血，咳嗽脅痛，胸悶，便溏，頭脹，脈浮數，無汗，此裡熱外寒，郁表絡傷，失血，病在肺胃，防其昏重。</p>
<p>黑山梔　杏仁　枳殼　前胡　桑葉　通草　淡豆豉　浙貝　米仁　牛蒡　薄荷</p>
<p>（案6）陳。溫邪兩候無汗，咳嗽痰稠，口糜牙疳，午後火升氣逆，此陰氣空虛，肺失清肅，夜則囈語，脈沉弦數。邪火逼爍陰津，慎防喘脫。</p>
<p>生地　川連　川貝　瓜蔞　白石英　淮膝　洋參　甘草　玉竹　桑皮　人中白　知母</p>
<p>（案7）譚。風毒上壅，頭腫起泡，胸悶身熱，此風溫病中，所謂大頭瘟也。</p>
<p>荊芥　連翹　銀花　土貝　薄荷葉　防風　馬勃　甘草　桔梗　人中白</p>
<p>（案8）宋。溫氣內伏，被寒邪所遏，形寒無汗，口渴舌灰白，脈浮數。氣逆火升，老年胃津陰液皆虛，恐其液涸。</p>
<p>細生地　山梔　前胡　川桂枝　天花粉　淡豆豉　杏仁　牛蒡　生甘草</p>
<p>（案9）奚。溫邪十六日，從未有汗，表邪因而不達，逆傳入里，神昏譫語，脘中拒按，舌紅苔白，脈來浮數，咳嗽不暢。此肺胃溫邪蒸灼氣營。曾經便泄，邪滯於裡，表裡同病，法當表裡同治。但里未結實，熱亦未衰，姑以清解氣營。</p>
<p>羚羊角　淡竹葉　枇杷葉　瓜蔞仁　杏仁　桑葉　丹皮　細生地　淡豆豉　連翹心　火麻仁　牛蒡　川貝</p>
<p>（案10）周。溫邪十六日，曾經便泄，雖屬邪從里泄，而熱邪易於內傳。咳嗽不暢，舌白苔干，口渴自汗，脈沉數，神志乍有昏蒙。肺胃溫邪煽爍陰津，風陽化燥也，防其風動。</p>
<p>羚羊角　天花粉　鮮葛根　細生地　枇杷葉　元參　連翹　生石膏　麥門冬　鮮石斛　黑山梔　淡竹葉　丹皮</p>
<p>（案11）張。病前向有夢泄之疾，已知精氣空虛，又感秋溫，至冬發泄，形寒身熱已及旬日，頭痛且眩，耳鳴驚惕，風動肢牽。嘔吐酸苦痰涎，舌紅且干，苔白而剝，口渴。脈軟數，全不拒按，溲赤便溏，呃逆。此熱灼陰傷，厥陽化風上擾，胃虛挾飲，陰涸風生，勢有痙厥、汗脫之險，且擬和陽熄風。</p>
<p>川連　洋參　雞子黃　竹茹　丁香　石決明　阿膠　白芍　茯神　橘紅　柿蒂　干霍斛</p>
<p>又：昨投和陽熄風，肝風未定，呃逆稍正止，身熱亦解，自汗，驚惕，肉瞤，頭眩，目花，耳鳴，肢搐，神識寐則模糊，心虛，吐蛔吐水，小便不爽，脈象虛弦，左寸澀，右尺空，此中下虛，肝風沖侮陽明，胃虛積飲，腎水上泛，痰黑味鹹，木火爍液，舌赤津涸。病情腎陰虛餒，木失水涵，汗脫痙厥，勢屬可虞。議填納下焦，壯水涵木，仍參熄風和陽。</p>
<p>人參　生地　麥冬　白芍（桂椒炒）　牡蠣　雞子黃　茯神　熟地　天冬　阿膠　龍齒　柿蒂　白蒺藜</p>
<p>又：呃逆嘔吐皆止，風陽鼓盪不息，時有肢牽，心神模糊，寐則囈語，神明渙散，自汗，懊憹，舌光液涸，頭暈目花，脈虛弦。水虧木旺，內風未靖，仍屬陰陽撒失乖離之象，宜固攝潛陽，斂神熄風，望其風定神清，汗止。</p>
<p>人參　生地　阿膠　龍骨　天冬　茯神　淮麥　大棗　熟地　五味　龜板　牡蠣　麥冬　雞子黃　霍斛　炙草</p>
<p>（案12）蔣。溫邪觸發伏邪，寒熱咳嗽，胸悶氣逆，少腹脹痛，眉心痛，便溏溲少，脈弦數，陰氣素虛，肝陽化風挾痰火上逆，痙厥連次，鼻煽自汗，神識模糊，此厥陰肝風，陽明熱熾，未能布㾦，以泄邪，症勢頗重。治以和陽熄風，辛泄上焦，以期厥止。</p>
<p>桑葉　石決明　杏仁　洋參　阿膠　胡黃連　枇杷葉　鉤藤鉤　川貝　生地　牡蠣　肥知母　生石膏</p>
<p>服一劑，去石膏，加羚羊角、通草。</p>
<p>（案13）錢。前進辛苦法，通泄陽明，病機已轉，苔灰已化，乾嘔亦止。又以鹹苦堅陰法，和陽定風，陰氣似乎略復。然病機雖已轉旋，而陰氣尚難自立，何也？久熱不解，陰已灼傷，又兼下利，是重傷其陰也。陰氣何能猝復乎？而況內蘊之濕熱尚戀，遂借無形之虛陽上旋而為口糜，滋腐滿口，所謂一波未平，一波又起，其奈之何！商其治法，必先立陰。欲立其陰，必先止利，利止而陰復，一定之理也。前方既合，無庸更張，仍以前法參，滲溫和脾，冀其取效。</p>
<p>川黃連（鹽水炒）　細生地　淡黃芩（薑汁炒）　赤苓　甘草　金石斛　人參（淡秋石二錢同煎）　清阿膠（蛤粉炒）　淮山藥　木通　白芍　熟生穀芽</p>
<p>另用吹藥：西瓜硝　真珠　甘草　薄荷　梅冰片　犀黃　月石　甘蔗皮　共研細末吹。</p>
<p>（案14）沈。伏邪為瘧變病，兼以風溫上襲，咳嗽不暢，痰亦難咯，神識昏昏如寐，時有形驚慄神煩之苦，病延匝月，熱邪內熾，肺胃津傷，陰氣拖虛，以致耳聾，舌乾，苔灰，口渴。脈象虛弦，無神。白㾦屢布，而未透達。寒熱依然蒸灼太甚，陰氣重傷，忽忽奄奄告變在邇，未可泛稱無事也。擬承陰、救津、化邪，以冀挽回於萬一。</p>
<p>生洋參　鮮霍斛　炒芩　青蒿　杏仁　枇杷葉　益元散　細生地　羚羊角　丹皮　川貝　蘆根　連翹心</p>
<p>（案15）錢。始起三瘧，瘧止邪未盡泄，又感風溫，觸發內伏之餘邪，遂有寒熱似瘧，不分界限。內蘊之濕，蒸變化熱，熱熾傷陰，液涸風動，肢搐。舌紅光亮，口乾渴飲。脈弦數，按之豁然而空，寐則囈語，此神不內守。小便欲解而莖縮，陰氣消耗，泉源欲竭之象也。況布空殼，口生糜疳，一派陰盡陽升之徵，恐其轉劇瀕危。勉擬扶正、救陰、撤熱。</p>
<p>人參　生地　天冬　鮮霍斛　川貝母　鉤藤　石膏　知母　麥冬　石決明　朱茯神</p>
<p>（案16）顧。伏邪內蘊，感冬溫觸發，寒短熱長，不分界限。頭痛咳嗽，溲赤舌白，口膩，渴不多飲。脈浮弦數，濕鬱氣分未泄也，治以分泄。</p>
<p>淡豆豉　前胡　淡黃芩（薑汁炒）　塊滑石　桑葉　黑山梔　杏仁　青蒿梗　川通草　蔻仁</p>

<h2>二、癍（藍斑、陰斑）</h2>
<p>（案1）符。暑濕熱兼感溫邪，身熱旬余，曾先衄血。氣分無形之邪，已見逼動營陰，今則熱邪乘虛陷入營分，發為紫斑。腑氣五日不行。咳嗽不暢。舌紅苔黑，口乾不嗜湯飲。胸悶，神識昏蒙，沉沉欲寐。脈數。此邪灼心包，勢將昏蔽，非輕候也。治從肺衛、心營、清解氣陰之熱。</p>
<p>犀角　白芍　川連　連翹　竹葉　川貝母　地黃　丹皮　蔞仁　杏仁　山梔　枇杷葉</p>
<p>又：清解氣營，斑點漸化，續布白㾦。腑通連次，熱邪雖有暗泄之機，而蒸灼之餘，胃液受劫，舌紅苔黑而干，脈數。咳嗽不爽，時有囈語，神志沉倦。病情如舊，尚在險途。以氣血兩燔治法。</p>
<p>生地　麥冬　知母　連翹心　石菖蒲　石膏　川貝　竹葉　枇杷葉　鮮石斛</p>
<p>又：斑點雖化尚未了了，白㾦已回。舌津亦潤，微有黃苔，口渴，脈來數疾，胸悶，神識尚蒙，乃熱邪挾痰上薰所致。咳嗽痰咯不易，肌膚燥灼，氣營邪火仍未清泄，以致劫爍胃津陰液也，以承陰撤熱。</p>
<p>生地　羚羊　六一散　丹皮　知母　竹葉　洋參　鮮斛　川貝母　青蒿　元參　蘆根</p>
<p>（案2）戈。溫邪七日，神志或輕或渾，唇燥，齒血，目赤舌絳，苔黃口渴，脈濡數，便溏。遍體赤斑，此溫邪由氣入營，燎原之勢，內逼膻中，勢將昏閉，涸液之機已著。急宜清營中之熱，以冀斑透神清。</p>
<p>淡芩　金銀花　元參　牛蒡　石菖蒲　連翹　犀角地黃湯加上味</p>
<p>又：清解營分絡熱，斑點較透，其色帶紫，神識似乎略清。舌絳苔黑，便溏。脈來外數內柔，而不鼓指，乃邪火劫爍陰津，不能御邪外出，而致內陷膻中。急急救陰泄熱，以冀神清。</p>
<p>犀角汁　連翹心　麥冬　黑山梔　竹葉心　枇杷葉　紫草　鮮生地　鮮石斛　元參　炒丹皮　金銀花　蘆根</p>
<p>（案3）王。溫病八日，藍、赤斑並布，目赤齦血，舌紅苔黃，口渴，頻頻呃逆，大便溏泄，色赤而熱。是陽明溫熱內逼營分之故。雖外得斑點，內得便泄，似乎表裡熱邪已得分泄。而脈來細數無神，最為可慮。陽病見陰脈，古稱不治，涉險何疑？勉擬清解營熱。</p>
<p>犀角汁　淡芩　元參　連翹　川黃連　鮮生地　丹皮　銀花　人中黃</p>
<p>（案4）戴。酒客中虛濕勝陽微之體。感受暴寒，致形寒身熱，熱不甚揚，嘔吐苦水，顯然飲積中宮，寒鬱反從熱化，逼其無根浮游之火，發為虛斑，色淡不綻。脈沉細遲滯，舌黑苔，乾渴喜暖飲，胃寒客氣上逆，呃忒頻頻，惟大便紫色，小便渾赤，陽明必有濕熱內蒸，病甫半月，已涉險途。擬宗仲景法，以圖僥倖。</p>
<p>代赭旋覆湯去棗子，加竹茹、丁香、橘紅、柿蒂、麥冬</p>
<p>又：昨投仲景重鎮法，呃忒減半，苔色已轉為黃膩垢濁。斑點較繁，四肢仍冷。脈左細，不耐按，右部弦細。便溏，咳嗽不暢，此寒濕化熱，蘊蒸無形之邪，逼虛陽無根之火上泛所致，元氣津液業已兩虧，病經十七日，尚在險中。</p>
<p>黃連湯去甘草、大棗，加黃芩、刀豆子、麥冬、瓜蔞、陳皮、柿蒂、竹茹</p>
<p>（案5）許。溫邪旬日，咳嗽、神煩、囈語、舌苔灰黃、渴不多飲、脈數、斑點、汗少，肺胃風溫挾濕，內蒸陽明，氣營交病。法以清解，佐以宣泄。</p>
<p>鮮生地　知母　赤芍　桑葉　杏仁　羚羊角　花粉　丹皮　牛蒡　連翹　薄荷</p>
<p>（案6）夏。休息利後陰氣內傷，又夾濕熱，發斑色紫、舌尖干、口渴、不寐、呃忒，脈弦數而空。此真陰已傷，恐其劫津，正不敵邪，虛脫可慮。</p>
<p>細生地　川連　丹皮　甘草　西洋參　條芩　山楂</p>
<p>（案7）張。溫邪十三日，斑疹仍然，咳嗽氣急，大便泄瀉，夜煩少寐，口渴舌紅，脈軟數，肺胃津液兩虛，熱熾陰空。法以泄熱救陰，明朝兩候，望其熱解，若再遷延轉虛，可慮。</p>
<p>仲景黃連阿膠湯加生地、川貝、桑葉、丹皮</p>
<p>又：病交十五日，斑點未化，氣促似喘，咳嗽，苔薄白，口渴，脈浮數。便瀉腹痛，澼澼不爽，且有痰沫，裡急後重，覺熱。此陽明溫邪乘陰之虛陷入厥、少兩經，法當鹹苦泄熱、堅陰。</p>
<p>仲景黃連阿膠湯加生地、白頭翁、川柏、炙草、海浮石</p>
<p>又：前議鹹苦、堅陰，下利略減。裡急後重，肛熱且痛。咳嗽氣逆，苔白口渴，脈浮虛數，肺胃溫邪，乘虛陷入陰經。濕熱無形之邪，變作有形之滯，議從厥陰熱利一條。</p>
<p>仲景白頭翁湯加生地、白芍、鬱金汁、木香汁、枳實汁</p>
<p>（案8）何。暑濕熱渾蒸陽明，分布三焦氣分，由氣入營，直逼膻中，神昏聵亂，目竄鼻衄，舌紅苔灰黃，渴飲，脈象沉數。身半以上暑㾦四肢，藍斑隱隱，紫斑已露。熱邪化火，勢如燎原，劫爍陰液，況又病中奪精，曾經泄瀉，陰氣大傷。當此燔灼之際，津存幾何？焉能不涸？風生瘛瘲，厥閉可危，急宜化毒、清營，以冀神清斑透。</p>
<p>犀角　大青　人中黃　鮮生地　丹皮　川連　羚角　元參　竹葉心　連翹心　鮮斛　銀花</p>
<p>又：邪陷心包，神志昏聵，舌紅口糜，齦血鼻衄，齒燥唇乾，自利黑水，藍、赤、紫斑與白㾦並布。邪已深入營分，劫爍陰津，內閉，可危之候也。</p>
<p>犀角汁　細生地　元參　青黛　鮮霍斛　西黃　玳瑁　鮮生地　西洋參　麥冬　人中黃　石菖蒲　珠粉　方諸水</p>
<p>（案9）戴。身熱不揚，胸悶、咳嗽、痰咸，脈遲細、尺微，舌白、渴不多飲、四肢逆冷、溲清。寒濕內郁營分，真陽自虛，逼其浮游無根之火，發為陰斑，色淡而微，治宜溫經通陽。</p>
<p>附子　桂枝　川樸　杏仁　法夏　桔梗　乾薑　炙草　當歸　赤苓　枳殼</p>

<h2>三、疹㾦</h2>
<p>（案1）沈。濕招暑氣，暑濕交蒸，無形黏膩之邪，與外風相搏。始則形寒身熱，脘悶，咳嗽，邪湊於肺胃兩經，漸次蔓延入三焦氣分，上熏於肺，發為疹㾦，色不光澤，點不暢達。此熱久正虛，不能使邪盡出所致。大便泄瀉，是濕熱之邪不從表裡，而向下趨也；既瀉而病不甚退，是邪亦欲出，而不盡出也。日暮熱甚，陰氣灼傷也。脈來浮數，按之細弱，正雖虛而邪亦漸退也。法當養陰和津，參以泄化，冀熱緩思谷，庶免風波。</p>
<p>生地　川貝　白蔻仁　金石斛　飛滑石　洋參　丹皮　淡竹葉　桑葉　川通草</p>
<p>（案2）孫。風溫鬱於內，秋燥遏於外，形寒身熱，咽痛，遍體風疹，鼻衄便泄，少腹痛。病屬陽邪，反見沉細澀之陰脈，於法為逆，況且邪從里泄，不經汗解，恐有猝變。</p>
<p>荊芥　柴胡　牛蒡　桔梗　杏仁　鬱金　防風　前胡　蟬衣　枳殼　茯苓　甘草</p>
<p>（案3）周。風溫挾濕十七日，先見白疹，續發紅疹，透而漸回，反致神識模糊，囈語喃喃，晝輕夜重。咳嗽，痰鳴，舌白尖紅，脈浮數。大便泄瀉。風動肢牽。風溫欲達不達，而致乘虛內陷，非輕候也。擬承陰泄邪，以冀轉吉。</p>
<p>羚羊　川貝　連翹　知母　鉤鉤　竹葉　生地　桑葉　豆豉　前胡　丹皮</p>
<p>（案4）呂。溫邪旬余，疹點已回，神識不清，夜煩不寐，囈語，遺尿，肢搐，自覺心神不安。脈軟數，尺部獨弱。此溫邪內熾傷陰，風陽煽爍，水不濟火，心神浮越，心氣不能下交於陰，乘虛內陷，有內閉外脫之象，議進和陽熄風。</p>
<p>仲景黃連阿膠湯加生地、石決明、朱茯神、麥冬、鉤藤鉤、川貝母</p>
<p>（案5）某。病交二候，昨布白㾦，色不光澤，大半空殼，神志清渾不定，此肺胃溫邪熏蒸，脾濕而布此虛㾦也。又來壯熱，晝靜夜煩，風動肢牽，耳鳴氣急。乃陰虛木失涵養，肝風鴟張，煽動不已，三焦充斥，內逼膻中，有痙厥之勢。勉擬滋液救焚，以期挽救。</p>
<p>人參　生地　阿膠　濂珠　茯神　天冬　川連　羚羊　雞子黃　石菖</p>
<p>（案6）孫。暑濕風邪內蘊肺胃，咳嗽痰多，舌白口膩，脈沉弦數，白㾦式微，此邪鬱氣分，不能暢泄，反致淹纏，病經十八日不解，治當宣泄氣分。</p>
<p>前胡　枇杷葉　杏仁　枳殼　鬱金　桑葉　牛蒡子　蔻仁　川貝　通草</p>
<p>又：三候熱解，白㾦亦回，咳嗽痰多，舌白口膩，此餘邪未盡泄化，慎風謹食為宜。</p>
<p>桑葉　玉竹　竹茹　鬱金　雲苓　川貝　川斛　通草　桔紅　穀芽</p>
<p>（案7）盛。伏邪五日，熱勢暮甚，舌白溲赤，脈左虛數，右沉數，布白㾦，肺胃氣分之邪，漸入陰分，正虛邪戀不化也。</p>
<p>西洋參　丹皮　桑皮　杏仁　蘆根　枇杷葉　細生地　連翹　通草　鬱金　滑石</p>
<p>（案8）王。風溫挾濕，鬱伏肺胃，咳嗽身熱，入暮為甚，咽梗音閃，溲赤脈浮數，白㾦不多，口乾。病已五十日，肺胃津傷，邪不外達，以辛涼輕泄。</p>
<p>枇杷葉　杏仁　連翹　米仁　姜皮　通草　霜桑葉　蘆根　牛蒡　川貝　鬱金</p>
<p>（案9）張。濕熱下移陽明，泄瀉咳嗽，舌白腹痛，脈弦數，三焦濕熱，白㾦不透，伏邪為病，最屬淹纏。</p>
<p>黃芩　桑皮　杏仁　滑石　蘆根　澤瀉　檳榔　蔻仁　萆薢　赤苓　米仁</p>
<p>（案10）章。伏邪身熱咳嗽，便泄，舌白，脈細數，邪郁三焦氣分，白㾦未暢，治以分泄。</p>
<p>杏仁　牛蒡　蔻仁　通草　鬱金　枇杷葉　廣藿　枳殼　小樸　桑葉　豬苓　淡竹葉</p>

<h2>四、暑濕</h2>
<p>（案1）張。飲積中央，客氣上逆為噦。宗仲聖鎮逆法病減，明呈中虛無疑。中氣既虛，脾胃不運中陽，日漸消索，生氣日羸。水穀之濕易聚，濕勝濡泄之後，倦怠嗜臥，神識模糊，脈來洪數，按之虛細，不飢不渴，漸漸蒸熱。此蘊伏之濕與既衰之元不能兩立。擬扶正化邪，以冀神清脈斂，與六和湯。</p>
<p>藿香　半夏　黨參　澤瀉　砂仁　川樸　白朮　木香　扁豆　赤苓</p>
<p>又：脾胃為後天資生之本，脾胃健運，則水穀之精氣可以養五臟之元神。戊己一虛，則健運失常，中氣日餒，胃中無形之客氣上逆，而為噯噫，脾中無形之濕氣下奪，而為泄瀉，瀉後神疲嗜臥，元氣耗乏之明徵也。昨進益氣化邪，神清、瀉減、呃稀、脈轉沉細，正復邪退之機也，擬戊己法。</p>
<p>黨參　茯苓　白芍　木香　荷蒂　白朮　炮姜　炙草　大棗　米飲湯代水。</p>
<p>（案2）顧。暑濕內伏，兼夾穢邪，形寒身熱，舌白帶灰，頭疼氣悶，便溏溲赤，脈沉數而滯，神識稍有不清，起坐無定。此穢濕內著也，最易昏閉，勿輕視之。</p>
<p>川樸　檳榔　香薷　草果　赤苓　藿香　蔻仁　桔梗　半夏　玉樞丹</p>
<p>（案3）金。淋雨濕衣，寒濕之邪束於肌表，與內蘊之暑濕相合，發為寒熱，形懍自汗，頭痛胸悶欲嘔，舌白脈沉數。外寒而內熱也，治以兩顧。</p>
<p>桂枝　秦艽　黃芩　六一散　川樸　茅朮　米仁　大豆卷</p>
<p>（案4）沈。暑濕內伏，觸涼風而外發寒戰鼓慄，先寒後熱，頭痛胸悶，嘔吐泄瀉，口渴，脈沉弦數。邪郁脾胃，遊行中道，過膜原而寒熱作矣。欲瘧之機大著，法應提邪。</p>
<p>香茹　柴胡　薑汁　枳殼　檳榔　赤苓　厚朴　秦艽　法夏　蔻仁　六曲</p>
<p>又：提邪外達寒止，但熱。吐瀉亦除。舌仍白，脈尚弦滯不前。此暑邪雖從汗泄，濕邪亦得便泄。而究其蘊伏，尚戀未盡也。仿吳又可法。</p>
<p>柴胡　川樸　秦艽　知母　赤苓　檳榔　廣藿　草果　荷蒂</p>
<p>（案5）周。吸受暑濕、穢邪，徒然形寒，身熱，胸悶，頭痛，體膝痠疼，神煩，起臥不安，提手擲足。舌光苔白而微黃，不渴，無汗。脈象右數於左，是時邪渾淆中宮，當芳香宣竅，分瀉三焦，以防內閉。</p>
<p>香薷　藿香　陳皮　六一散　佩蘭葉　川樸　秦艽　枳殼　大豆卷　玉樞丹</p>
<p>（案6）沈。暑濕風熱雜感溷淆中宮，分布三焦氣分，上為嘔吐，下為泄瀉，且熱阻中而胸悶，越外而身熱、頭疼。舌白膩，口渴不多飲，脈數。當以芳香宣泄，俾中宮渾處之邪，一時分解。</p>
<p>香茹　藿梗　神麯　法夏　麥芽　香連丸　厚朴　六一散　秦艽　枳殼　茯苓</p>
<p>又：身熱吐瀉之後，脾胃已傷，中陽運化之機不健，氣道轉輸之樞亦鈍。神疲脈遲澀。務宜節食。《經》曰：「食肉則復病，慎之。」</p>
<p>焦白朮　砂仁　麥芽　陳皮　炒枳實　茯苓　苡仁　山楂</p>
<p>（案7）劉。進芳香宣竅，少焉神清，旋即昏閉，神煩。自利赤水。四肢仍然逆冷。脈小數、左寸伏暑濕熱邪內閉心包之象，就脈論證，危如朝露春冰。勉擬幽香宣竅法。</p>
<p>犀角　石菖蒲　金銀花露　元參　至寶丹　枇杷葉露</p>
<p>（案8）顧。暑、風、濕三氣雜感，身熱自汗，口渴舌黃，體酸胸悶，脈數，瀉止，小便不利，邪郁太陰、陽明。治從分法，宗河間法。</p>
<p>生茅朮　六一散　桂枝　赤苓　荷葉　生石膏　寒水石　澤瀉　知母</p>
<p>又：暑風濕熱轉瘧，寒從背起，舌白膩，口渴喜飲，脈來關數，小便赤痛，邪郁陽明，法宗仲景。</p>
<p>川桂枝　茅朮　滑石　赤苓　荷葉　西瓜翠　生石膏　知母　竹葉　澤瀉　甘草</p>
<p>（案9）張。暑風濕熱雜感，病經十三日。神昏囈語，舌白苔垢、口渴，布白㾦，脈數，咳嗽不暢。病在肺胃氣分，痰熱內阻膻中。病已涉險，姑擬幽香宣竅，佐以辛苦寒，燥濕清熱。</p>
<p>茅朮　竹葉　連翹　杏仁　荷葉　薔薇花　枇杷葉露　石膏　知母　膽星　大力　菖蒲　牛黃丸</p>
<p>（案10）姚。躬耕南畝，勞力車水，汗液外泄，因熱入河沐浴，水寒之氣乘汗孔而入，內郁腠理，遂為形寒，身熱，胸悶，體酸，舌白，溺赤。外寒內暑，濕鬱秘蒸熱也。</p>
<p>川桂枝　秦艽　小樸　蘇梗　枳殼　大豆卷　萆薢　米仁　藿梗　杏仁</p>
<p>（案11）顧。暑濕伏邪，身熱五十日，形懍，胸悶，舌白，渴不多飲，脈數，白㾦屢發，未曾暢透，內蘊之濕未化，外感之風未泄，與暑濕渾蒸三焦氣分，治當分泄。</p>
<p>廣藿梗　青蒿　通草　桑葉　草果　澤瀉　川厚朴　杏仁　蔻仁　枇杷葉　豬苓</p>
<p>（案12）張。濕結中陽，痰氣內痹，升降失司，脾不磨谷，少納。頭蒙且重，舌白溲少，陽明胃經不能潤下，病在中焦。與升降法，脾升則運，胃降則納也。</p>
<p>茅朮　川樸　神麯　陳皮　半夏　枳殼　穀芽　茯苓　澤瀉　枳朮丸</p>
<p>（案13）沈。去年六月淋雨後身熱，漸至形消骨立，延及於今。少納，四肢浮腫，舌白，脈細弦。氣虛濕鬱不化，恐難支撐，擬東垣清暑益氣法。</p>
<p>清暑益氣湯去川柏、青皮</p>
<p>（案14）陳。復熱，頭痛，舌白，脈弦，勞力耕耘，即所謂勞復病也。</p>
<p>蘇梗　豆卷　枳殼　秦艽　藿香　陳皮　茯苓</p>
<p>（案15）王。伏邪為瘧已止。早食葷腥，濕遏不化，神疲力乏，脈弦數，溲赤。即所謂食復病也。</p>
<p>白朮　小樸　澤瀉　陳皮　杏仁　山楂　赤苓　米仁　穀芽　藿梗</p>
<p>（案16）凌。一載以來，喜食飯餭，脾有伏濕，故喜燥也。以健肝滲濕為宜。</p>
<p>黨參　砂仁　陳皮　泡姜　澤瀉　白朮　茯苓　穀芽　米仁</p>

<h2>五、霍亂</h2>
<p>（案1）楊。霍亂吐瀉轉筋，四肢逆冷，音閃舌白，脈細微。暑濕渾淆中陽，邪已陷入三陰，證屬危險，勉擬一方，以圖僥倖。</p>
<p>川桂枝　乾薑　藿梗　檳榔　赤苓　來復丹　附子片　川樸　木瓜　澤瀉　環粟子</p>
<p>又：投轉運清濁、通陽撤陰，霍亂、吐瀉、轉筋皆止。脈轉弦細而數，身熱。邪勢已轉入陽分，惟驟然呃忒，中陽因吐、利受戕也。法當和平。</p>
<p>六和湯去杏仁、砂仁、甘草、薑棗，加澤瀉、丁香</p>
<p>（案2）湯。霍亂吐瀉，肢冷音啞，脈伏微有一線，暑濕寒邪直入三陰，重證也。</p>
<p>附子　黨參　木瓜　吳萸　炙甘草　乾薑　茅朮　桂枝　茯苓　豬膽汁</p>
<p>又：霍亂嘔吐已止，瀉勢未定，肢冷溫而復清，脈細弦遲。神煩口渴，陽氣未回，尚有變態。</p>
<p>附子理中湯去棗，加桂枝、五味子</p>
<p>（案3）顧。霍亂，吐瀉，四肢逆冷，脈伏，腹痛，麻木。邪入陰經也。</p>
<p>四逆湯加薤白、桂枝、木瓜、厚朴、吳萸</p>
<p>又：服藥後右關尺脈微續、細、弦，餘部不起。吐瀉稍止。神煩、口渴、舌白、腹痛、瘕攻，病情略有轉機。再擬通陽，以冀春回寒谷。</p>
<p>附子理中湯加肉桂、桂枝、白芍、五味、吳萸、環粟子</p>
<p>又：霍亂吐瀉俱止，獨呈左手不溫。脈右三部軟，左手微見一絲若無若有，應指不清。口渴不多飲，神煩。清濁渾淆之後，氣陰不和，陽未全回也，擬再撤陰回陽。</p>
<p>附子（五分）　黨參（三錢）　桂枝（五分）　歸身（錢半）　陳皮（一錢）　乾薑（一分）　白朮（三錢）　炙草（五分）　茯苓（三錢）　白芍（錢半）</p>
<p>（案4）高。霍亂吐瀉，肢冷，音閃，脈細，自汗。暑濕渾淆腸胃，瘧勢非輕。</p>
<p>藿梗（錢半）　荷梗（三錢）　麥冬（三錢）　赤苓（三錢）　吳萸（五分，川連二分，同炒）　來復丹（五分）　蘇梗（錢半）　蔞皮（三錢）　檳榔（一錢）　木瓜（錢半）　澤瀉（錢半）</p>
<p>（案5）奚。轉筋霍亂，胸悶，吐瀉，腹痛，頭痛，脈遲。寒濕入三陰，當以溫之。</p>
<p>吳萸（四分，川連二分同炒）　川樸（一錢）　木瓜（一錢）　藿梗（錢半）　桂枝（五分）　澤瀉（錢半）　乾薑（五分）　檳榔（錢半）　法夏（錢半）　蘇梗（錢半）　赤苓（三錢）</p>
<p>又：霍亂之後寒邪未散，頭暈足酸，脈象遲弦。法以疏補。</p>
<p>黨參　桂枝　茯苓　砂仁　白朮　牛膝　陳皮　米仁</p>
<p>（案6）王。轉筋霍亂，吐瀉，風來勝濕，濕勝濡泄，火竄筋攣，脈遲弦細。病邪未盡也，法以疏和分利。</p>
<p>香薷　茅朮　檳榔　沉香曲　赤苓　小樸　廣藿　木瓜　扁豆花　澤瀉</p>

<h2>六、寒</h2>
<p>（案1）某。伏暑伏濕似瘧之作，而無汗泄，其邪因此而不達，煩熱痞悶，自食瓜梨，以致陽氣被寒涼遏伏，肢冷嘔逆，神昏，舌白色帶青灰，泄瀉，濕遏伏里，身熱不揚，幸脈尚帶數象。宜急通其陽氣，泄其濕氣，俾得神清熱壯，方可無慮，不爾昏閉可危。</p>
<p>川桂枝　川樸　草果　廣藿　生薑　軟柴胡　茅朮　姜夏　陳皮　防風</p>
<p>又：昨進溫通藥，未見所長。神志依然不清，言語仍舊錯亂。舌白厚且縮，脘中拒按，嘔惡神煩。脈數而空，此因伏邪內踞，被西瓜之寒冷遏伏其陽，所以四肢逆冷，濕踞中宮，欲嘔不能嘔，欲泄不能泄，身熱愈不顯揚，寒凝濕阻痞結，中焦漫無出路，病已轉劇轉危，豈敢妄稱無事。且擬大順散、冷香飲子輩，撤陰通陽以冀挽救。</p>
<p>生附子　茅朮　厚朴　茯苓　乾薑　菖蒲　川桂枝　草果　丁香　枳實　半夏</p>
<p>又：真陽大虛，臍中動氣築築，舌白積粉，脈弦，神志雖清，懶言、煩躁、自言，胸中懊憹，腎中之真陽虛而水氣凌心，水火相激，水寒之氣壅遏中宮，以致肢冷，屢進通陽，陽不腎復，奈何？然舍此別無他法，仍宗前意，以冀轉輕。</p>
<p>附子　茅朮　木通　細辛　白芍　茯苓　肉桂　歸身　炙草　泡姜　法夏</p>
<p>（案2）陳。寒濕鳴聚中陽，腹痛繞臍，脈遲弦，此因入水捕魚，致寒濕之邪十年蘊蓄。病時發作，沉寒錮冷，非辛熱之劑不能除，師仲景法。</p>
<p>桂枝　炙草　細辛　歸身　茯苓　附子　白芍　炮姜　木通</p>
<p>又：進辛熱通陽，沉寒錮閉之邪不泄，少腹仍痛，脈遲。十年之病蒂固根深，非至剛氣雄之劑，焉能斬關奪將，破其深伏之邪，反佐苦寒以嚮導，亦古人成法也。</p>
<p>川桂枝　白芍　附子　豬膽汁　歸身　淡乾薑　細辛　木通　蔥白頭</p>
<p>（案3）俞。寒濕凝聚錮蔽臟絡，腹痛在臍右，痛甚。便泄時有涎沫，此寒濕挾痰所致，病已三十載，根深蒂固，難許除根。</p>
<p>川桂枝　炮姜　薤白頭　青皮　白螺絲殼　生白芍（吳萸炒）　檳榔　萊菔子　山楂</p>
<p>（案4）徐。陽微寒濕凝聚，曾先腹痛，嘔吐清水，四肢逆冷，舌苔灰白，干惡氣逆，六脈皆伏，二便五日不通，陽衰濁聚，病情極險。勉宗仲景通脈四逆輩，以冀脈復陽通，若脈得微續者生，暴撤者不治。</p>
<p>生附子　豬膽汁　黨參　茯苓　淡乾薑　蔥白頭　桂枝　炙草</p>
<p>外灸關元穴十四壯。</p>
<p>又：昨進白通及通脈四逆法，脈漸微續，四肢未溫，舌苔灰色已退，口乾噁心，臍下痛，二便雖通，大便黑水，寒濕凝聚，痞塞不通，陽衰濁聚，脈雖復而虛弦兼數，右寸未起，病雖轉機，一派陰霾之氣，尚未消除，若非離照當空，陰霾何能退邂？仍守前法。</p>
<p>川桂枝　附子　歸身　茯苓　黨參　淡乾薑　白芍　木通　細辛　半夏</p>
<p>（案5）沈。厥陰寒濁上潛清陽，胸痛噯噫，卒然寒厥之後音啞，厥陰脈循喉嚨，為濁邪所阻，音不顯揚，脈遲弦，肢冷，少腹脹痛，議進辛泄溫通。</p>
<p>吳萸　代赭石　檳榔汁　烏藥汁　法夏　旋覆花　沉香汁　小青皮</p>
<p>（案6）趙。脘脹嘔惡，泛清水，脈細遲。寒邪內踞，陽明得熱飲即泛者，寒熱兩途格不相入也。治以辛溫，反佐苦寒為嚮導。</p>
<p>川連（薑汁炒）　法夏　竹茹　枳實　鬱金汁　乾薑　陳皮　茯苓　薑汁　枇杷葉</p>
<p>（案7）吳。腹痛繞臍，寒邪乘之，陽微之處即陰盛之處也。</p>
<p>附子　白芍（吳萸炒）　歸身　桂枝　炮姜　炙草</p>
<p>（案8）李。暑濕寒挾穢邪內蘊中宮。頭痛，胸腹痛。即時神迷，繼以痙厥，連次口湧血沫，又吐黑水，神昏，舌縮，苔白，脈遲、浮、虛。邪入厥陰，挾陽明有形之痰上蒙神明，靈機閉塞，內風鼓動，病情危險極矣。擬芳香宣竅，以冀挽回。</p>
<p>吳萸（川連炒）　白芍　石決明　沉香　白蔻仁　桂枝　炙草　白蒺藜　法夏　蘇合香丸（一丸）　佩蘭葉（湯化）</p>
<p>（案9）方。新婚欲後受寒，少腹作痛，舌白，嘔吐酸水，脈遲弦，寒濕入厥陰絡也。</p>
<p>乾薑　小青皮　茯苓　川楝子　吳萸　小茴香　香附　法半夏</p>
<p>（案10）陸。夏日陰氣在內，氧氣在外，自飲梅醬冷水後，陽氣為酸寒所收縮，腹痛脈細遲，病近半載，當以辛熱溫通。</p>
<p>川桂枝　歸身　陳皮　甘草　炒白芍　茯苓　細辛</p>
<p>（案11）李。日薄西山，陽光衰歇，陽衰則寒濁凝聚少腹，入暮膨滿，腑氣不爽，脈弦尺細。病在下焦肝腎，以溫通陽氣為法。</p>
<p>肉桂丸　沉香　小茴香　薤白　葫蘆巴　附子片　青皮　九香蟲　杞子</p>

<h2>七、瘧</h2>
<p>（案1）丁。孟夏作瘧，非夏秋暑濕蘊伏之瘧所可比，乃溫瘧也。延及於今，已經八月，寒熱羈縻，營衛偏損。瘧來自汗溱溱，胸悶，上熱則下寒，下熱則上寒，此陰陽兩氣不和，脈象沉細弦數。口膩。少寐。近有腹大墜滿，食則䐜脹。久瘧脾胃被戕，脾氣不運，胃氣不和，升降之機已失職矣！久病中傷，營衛俱偏，須得和協其陰陽，調和其中氣，使寒熱漸除，為第一要旨。議用仲景黃連湯兩和營衛，使升者自升，降者自降，升降和而營衛亦和矣。</p>
<p>黃連湯去甘草，加白朮、白芍、枳實</p>
<p>轉方去枳實，加炙草、淮麥。</p>
<p>（案2）周。濕遏膜原。膜原者，陽明之半表半裡，三焦之門戶。過此而為寒熱，則成瘧。舌白，不渴，背脹，頭痛，溲赤，脈弦數，皆屬風邪濕鬱，宗吳又可法。</p>
<p>草果　淡苓　柴胡　防風　赤苓　厚朴　檳榔　廣藿　法夏</p>
<p>（案3）龔。陰出之陽則寒，陽出之陰則熱，陰陽相爭寒熱交作，脈弦數。溺赤，邪伏太陰之分。惟失血之體，方書中皆禁表散，所謂血家忌汗，汗之則痙，是也。陰虛之質，似宜養陰化邪，宗景岳何人飲。</p>
<p>洋參　茯苓　歸身　川貝母　生薑　首烏　草果　炙草　青蒿　大棗</p>
<p>（案4）王。伏邪為瘧，日重日輕。診脈沉細微弱。眩暈，胃呆便溏，無汗，氣陰兩虛，營衛不和。正虛，無以運邪外達，久延恐有虛變。</p>
<p>黨參　歸身　炒芩　鱉甲　柏子仁　首烏　甘草　桂枝　川斛</p>
<p>（案5）顧。三瘧寒起四末，擾及中州，胸悶，便泄、腹膨，脈來弦數不和。瘧作轉雙，俗名雙三瘧。此太陰伏濕鬱而不達，深恐脾傷腹滿，務須慎食為宜。法當提邪外出，若得轉為間瘧，則邪達矣。</p>
<p>柴胡（鱉血炒）　桂枝　炙草　陳皮　腹絨　川樸　炒芩　茯苓　半夏　薑棗</p>
<p>又：診脈弦象，較前稍和，則知邪勢稍達，而正氣亦隨之而虛，舌質微黃，瘧來稍緩，口渴喜暖飲，乃濕伏太陰未化，留戀於中。欲其濕化，必得疏濕，欲其瘧止，須得正旺，擬扶正達邪。</p>
<p>小柴胡湯加桂枝、茅朮、穀芽、陳皮、茯苓</p>
<p>（案6）沈。久瘧未清，陡然泄瀉，脈左沉細，右伏，如有如無，四肢逆冷，胸次痞悶，此陽氣隨泄，欲絕之象。如此重證，豈可跋涉就醫？勉擬一方，望其僥倖。</p>
<p>川桂枝　柴胡　炙草　乾薑　茯苓　川厚朴　白芍　枳殼　薤白</p>
<p>又：六脈沉微無力，似有若無，久病正乏，不能鼓動其血脈，當責之於虛，肢冷腹痛，瘧勢錯亂，按正論脈，總呈邪退正虛，陽氣不復之象。</p>
<p>附子　黨參　炙草　陳皮　川桂枝　乾薑　白朮　茯苓　穀芽　大棗</p>
<p>（案7）梅。三陰痰瘧用藥止截，留邪未泄，濕熱之邪依然醞釀，遂至便行泄瀉，濕邪下趨，即是邪之出路，但胃氣未旺，尚宜泄化健脾理濕。</p>
<p>焦白朮　炒米仁　澤瀉　砂仁　穀芽　川厚朴　赤苓皮　神麯　陳皮　藿梗</p>
<p>（案8）譚。三瘧瘧發，寒熱雖微，熱時神志模糊，此屬暑濕鬱伏，未能宣化外達，以致逼亂神明，便溏、溲赤，脈來細弦，正虛邪戀，濕阻中焦。法當扶正化邪，仍從暑濕門主治。</p>
<p>香薷　茯苓　扁豆　白朮　知母　人參　木瓜　藿梗　草果　薑棗</p>
<p>（案9）張。詢病情，昔年伏邪蘊蓄，發為三瘧，因無汗泄，致邪不外達；表邪傳裡，與腸胃積滯渾結，而為下痢。痢時用藥，澀止。表裡之邪均無出路，挾痰氣內蒸，遂為腹滿，時腫時退，四肢面部皆然，形浮氣逆。瘧作依然寒熱，熱時神志似乎模糊，脈象滑實而堅，舌質微黃，大便或下痰沫，腹覺鬆動，此有形之滯得以下趨。論脈合證，似乎虛實互見。擬用助脾胃化痰濕，和營衛之品，使瘧邪漸泄，胃氣漸充，則運用之機得以轉輸敷布，而痰濕自化矣。</p>
<p>黨參　茯苓　陳皮　草果　小樸　蓮子心　白朮　甘草　半夏　藿梗　薑棗</p>
<p>（案10）吳。瘧作之後不慎口腹，致氣血痰滯交黏內結，瘧母且痛且脹，脈絃動，此邪不清泄也。木邪賊脾，便溏、䐜脹。病屬肝脾，法宜煎、丸並治。</p>
<p>柴胡（鱉血炒）旋覆花　法夏　砂仁　茯苓　白朮　新絳屑　麥芽　青皮　鱉甲煎丸</p>
<p>（案11）顧。久瘧之下脾胃受傷，以致水穀精華不化，氣血反與濕氣相搏，化而為痰。痰多稠膩，舌厚且濁，脈弦滑，囊濕，畏寒。此屬陽氣衰微。法當崇土以制濕，運用坤陽，陽旺則濕不聚而痰自消矣。</p>
<p>六君子湯加茅朮、桂枝、米仁、沉香、滑石</p>
<p>（案12）張。三瘧，進扶正達邪後，漸次輕減。微有形懍，是邪漸清澈之機也。惟大腹膨滿依然，午後脹甚，正脾陽不運時候也。間或起核堅硬，面浮足腫，盛衰無定。此久病氣虛，內夾濕痰，痰邪隨氣流行所致。診脈仍滑而實，滑主痰，又主氣虛，虛中夾雜之象也。法當理氣化痰，以煎劑益氣和脾，以丸藥滌痰、降氣，庶有益乎？</p>
<p>人參　川樸　草果　雞內金　製半夏　冬朮　香附　炙草　炙蟾皮　薑棗</p>
<p>丸方：瓦楞子　海浮石　白螺螄殼　陳皮　制軍　白芥子　青礞石　上沉香末　草果</p>
<p>用大腹絨、麥芽煎湯泛丸。</p>
<p>（案13）鍾。三瘧五月不愈，以致瘧傷脾胃，內蘊之邪外溢於肌表，遂為一身浮腫，水氣上凌犯肺，咳嗽，氣化不宣而致。小便短赤，大便反溏。脈見沉數。舌白口乾，里濕頗甚，逆趨三焦氣分，隨瘧往來，轉重轉輕，全無定準。病屬棘手，深慮增喘，且與分消方法。</p>
<p>川桂枝　白芍　澤瀉　杏仁　川樸　五加皮　煨草果　苓皮　米仁　黃芩　腹皮　薑棗</p>
<p>（案14）金。伏邪三瘧無汗，邪不外達，日益錯亂，不時寒熱，營衛偏而邪踞不達，溲少，舌膩，脈弦遲。邪勢尚盛，入冬不易宣達也。</p>
<p>柴胡　桂枝　茅朮　赤苓　麥芽　厚朴　草果　澤瀉　六曲　薑棗</p>
<p>（案15）蔡。素有失血證，陰氣已傷，又經三瘧，三年休作無定，體虛邪戀不達。咳嗽、痰綠、涎沫，脈細，色㿠。中陽久困，以致生痰，宜先治中宮，脾為生痰之源，無痰不成瘧也。</p>
<p>黨參　川貝　生薑　茯苓　草果　於術　法夏　大棗　橘紅　炙草</p>
<p>（案16）金。三瘧九年，正虛邪戀，脈象弦遲，以扶正化邪。</p>
<p>首烏　川桂枝　歸身　生薑　黨參　威靈仙　草果　棗</p>
<p>（案17）右。伏邪為瘧，營衛爭勝，寒熱休作不定，胸悶、頭眩、心悸、帶下、腰痠，引及環跳、蹻維脈少扶持，陽陷入於陰，脈象弦數，客為內蘊，伏邪未盡，正陰拖虛。以何人飲，佐以提邪。</p>
<p>人參　歸身　炙桂枝　法半　茯苓　鱉血　柴胡　首烏　牡蠣　川貝母　白薇　薑棗</p>
<p>（案18）張。三瘧休作，系屬體虛，為感新邪，觸發其蘊伏之餘邪，是以或發或止也。法當益氣固表。</p>
<p>黨參　冬朮　鱉血柴胡　炙草　茯苓　西耆　歸身　升麻　陳皮　薑棗</p>
<p>（案19）姚。三瘧半年，熱輕寒重，陽衰。邪郁不達，脾傷腹滿，瘧邪與痰血渾聚，內結瘧母。脈遲，以溫藥通陽逐邪。</p>
<p>川桂枝　牡蠣　苓皮　鱉甲　海風藤　附子片　炙草　白朮（枳實炒）　鹿角霜　歸鬚　鱉甲煎丸</p>
<p>（案20）方。久瘧無不傷陰，營虛濕鬱，兩足浮腫，兼挾肝氣，陽氣化風上逆，頭眩耳鳴，魚尾穴痛，脈小滑。病情虛中挾實，養陰必佐以理濕。</p>
<p>首烏　歸身　米仁　白蒺藜　陳皮　白朮　茯苓　香附　三角胡麻</p>
<p>（案21）徐。暑濕風邪，為瘧間作，頭疼、胸悶、嘔惡、口苦、舌白、腹痛、滯下赤白，脈沉弦數。瘧、痢雖屬兩途，其邪則一，痢作休息，蘊伏之邪在於腸胃間也，先理瘧邪，痢亦可從表達而輕減。</p>
<p>柴胡　木香　小樸　山楂　六一散　荷葉　炒芩　檳榔　法夏　廣藿　沉香曲</p>

<h2>八、癉瘧</h2>
<p>（案1）方。入暮身體灼熱，頭痛，胸悶，脈澀，陰虛，暑濕熱內蒸陰分，陰氣孤絕，陽氣獨發，而為癉瘧。仲景有論而不著方，近代喻嘉言，以甘寒泄化為治耳。宗其法以消息之。</p>
<p>細生地　青蒿　煨石膏　丹皮　知母　生鱉甲　生草　川桂枝　滑石</p>
<p>（案2）王。但熱不寒，汗多脈數，癉瘧也。以泄衛透營。</p>
<p>川桂枝　知母　六一散　檳榔　石膏　杏仁　白蔻仁　荷葉</p>

<h2>九、痢、泄瀉</h2>
<p>（案1）徐。寒熱泄瀉，瀉後變痢，乃脾傳腎為逆，延及兩旬，依然腹痛，痢下五色，舌白不渴。病在太陰、陽明。暑濕無形之邪，釀成有形之滯下。胃不知肌。面浮色㿠，形神俱奪。正氣既虛，無形之邪氣遂迫既虛之肺氣，發為虛，脈浮大虛㾦，按之豁然而空。內蘊之元氣已衰，而外受之暑濕彌盛。《內經》云：腸澼身熱，脈大者難治。擬扶正達邪，投之以覘進止。</p>
<p>人參　茅朮　扁豆　藿梗　陳皮　荷蒂　香薷　厚朴　木香　茯苓　穀芽</p>
<p>（案2）譚。下痢系濕熱邪滯蓄積於腸胃之間，治法不離乎通澀，自用兜澀升提之法，邪滯未清，依然腹痛下痢。脈左沉細、右弦，恐有休息之累。</p>
<p>附子　紅曲　木香　白螺螄殼　制軍　白芍　炙草</p>
<p>（案3）何。久痢無不傷及脾腎，腎真之陽乏蒸腐之力，痢下如魚腦，脈沉細弱。此臟寒陽虛所致，法當升舉。</p>
<p>鹿角霜　煨肉果　破故紙　訶子肉　升麻　熟附子　炮薑炭　淮山藥　菟絲子</p>
<p>另服四神丸，淡鹽湯下。</p>
<p>（案4）趙。痢久傷陰，脾虛不運，䐜脹，滯下色赤、黏膩、腹痛，診脈弦數。此邪不化而正氣拖虛，濕熱無形之邪逗留不清，恐致休息痢。</p>
<p>黃連　赤芍　木香　秦皮　白頭翁　阿膠　紅曲　扁豆　茯苓</p>
<p>（案5）鄒。脾寒痰滯，郁阻陽氣，食不運行，脘痛腹脹，便行帶積黏膩，脈弦。此陽不通運，失其宣化也。</p>
<p>炒白朮　川樸　薤白頭　炮姜　麥芽　炒枳實　六曲　萊菔子　法夏　砂仁</p>
<p>（案6）徐。寒邪挾濕內蒸，少腹痛，小便不利，滯下色白，脈弦大，按之細軟。邪滯不化也，從仲景溫下之例。</p>
<p>附子　檳榔汁　白芍（桂枝炒）　澤瀉　制軍　木香汁　茯苓</p>
<p>（案7）楊。寒濕滯下，色赤腹痛，舌白根厚，脈弦遲。厥陰氣不疏泄，陽明濕滯寒邪，治以溫通。</p>
<p>吳萸　木香　茅朮　沉香曲　穀芽　乾薑　官桂　山楂　茯苓　小茴香（炒青皮）</p>
<p>（案8）王。身熱，噁心，腹痛，滯下，澼澼不爽，脈象緩大，舌白口乾。暑濕無形之邪釀成有形之滯下，法當通泄陽明。</p>
<p>香薷　木香汁　制軍　川樸　神麯　藿梗　檳榔汁　青皮　薑汁　六一散</p>
<p>（案9）何。暑濕熱壅滯陽明胃口，干惡拒納，是胃氣不下行也。所以口淡舌膩，滯下里急後重，脈左弦數，右細。初利邪勢尚盛，治當通之。</p>
<p>藿梗　厚朴　木香汁　穀芽　赤苓　制軍　茅朮　檳榔汁　陳皮　法夏</p>
<p>（案10）徐。暑濕釀成滯濁，竊據中宮，下行腸胃，以致身熱頭痛、胸悶、腹痛、便泄之下轉而為利，黏膩，澥澥不爽，脈緩大而滯，病勢初張，恐其增劇。</p>
<p>廣藿　檳榔　木香　澤瀉　木通　吳萸（炒青皮）　蘇梗　六曲　赤苓　厚朴　麥仁</p>
<p>（案11）莊。濕邪夾滯夾寒內蒸。滯下腹痛，澥澥不爽，舌白口膩，脈弦滯，溺赤。法以疏泄。</p>
<p>茅朮　川樸　山楂　赤苓　小青皮（吳萸炒）　木香　神麯　陳皮　澤瀉　五香丸</p>
<p>（案12）顧。瘧痢雖分兩證，其邪則一，總由暑、濕、風蘊蒸中宮所致也。今病者寒熱乍來乍止。滯下或利或糞。汗傷營陰，神疲力倦，寐則驚恐。胃氣少納，舌光液涸。脈左細弦兼弱，右關一部獨見滑數，此中焦邪未清澈，下利虛坐努責，此利久傷營，正氣之怯不待言矣。治以調胃和營。</p>
<p>炒歸身　炒穀芽　炒扁豆　六曲　朱茯神　炒白芍　炒荷蒂　蔻仁殼　紅棗　炒遠志</p>
<p>（案13）潘。休息利七年，腹痛在臍下，利色赤，澼澼不爽，脈遲，寒濕伏於營分，宜溫下之，無謂久病正虛，便投補劑。</p>
<p>附子　木香　炒歸身　青皮　制軍　山楂　吳茱萸　茯苓</p>
<p>又：七年休息利，腹痛，赤色黏滯。前法溫行導滯，宿積沉痼已得霍然，幸甚幸甚。</p>
<p>焦冬朮　歸身　白芍（吳萸炒）　茯苓　炒枳殼　楂炭　木香</p>
<p>（案14）姚。下利先紅後白，營分轉出氣分。腹痛。自汗。脈弦。伏邪內蘊中宮，法以疏理。</p>
<p>炮姜　白朮　赤苓　小樸　訶子　木香　神麯　澤瀉　砂仁　荷蒂</p>
<p>（案15）褚。先泄瀉而利，脾傳腎為逆，色赤，腹痛，澼澼不爽，脈沉數，舌黃少納，風邪實熱傷於營分也。</p>
<p>川連（薑汁炒）　炒荊芥　小樸　赤苓　滑石　木香　沉香曲　山楂　澤瀉</p>
<p>（案16）任。當臍痹痛，痛而後泄瀉滯下，赤白兼行，病已有年，數月一發。此寒濕鬱閉，臟絡積滯，內蘊腸胃，以仲景溫藥通之。</p>
<p>附子　炒芩　白芍　木香　制軍　川連（乾薑同炒）　山楂　白螺螄殼</p>
<p>（案17）張。暑濕寒邪渾蒸中宮，釀成滯下，色赤，腹痛。脈大而遲。舌白，干惡拒納，脘悶，邪郁胃陽，壅遏氣機，不能轉運，恐成噤口，勿以鴉片升提，以致邪戀惡不泄，至屬至屬。</p>
<p>乾薑　薑汁　半夏　枳實　木香　小樸　川連　楂炭　赤苓　檳榔</p>
<p>（案18）章。去春便泄，直至秋間，變為滯下，腹不痛，延至於今，裡急後重，痢不自禁。脈弦洪數。氣分濕熱風邪傷於腸胃，氣陷不升，能食口淡。宗活人逆流挽舟法。</p>
<p>人參敗毒散去薄荷、姜</p>
<p>（案19）周。下利不禁、腹鳴、紫色。陽明有開無闔，少陰關閘失守。擬仲景法。</p>
<p>赤石脂　阿膠　歸身　冬朮　木香　泡姜　菟絲子　山藥　黨參</p>
<p>又：下利仍未全止，久利氣陷，陰不主守，陽不主闔，兜澀不應。當進升陽。</p>
<p>鹿角霜　阿膠　泡姜　補骨脂　冬朮　鹿角膠　赤石脂　黨參　煨肉果　山藥</p>
<p>（案20）徐。滯下色白，腹痛，延及兩月，因兜澀太早，反致邪戀不出，欲速則不達也。</p>
<p>白朮　小樸　六曲　麥芽　枳殼　扁豆　炒芩　荷葉　木香　赤苓　澤瀉</p>
<p>（案21）幼。利下赤白，腹痛，口渴，脈虛數。小質重載，恐其不耐支持。</p>
<p>葛根　川連　白朮　黨參　萆薢　香茹　荷蒂　扁豆　茯苓　陳米</p>
<p>（案22）徐。休息利起已十年，或作或止，近四年來終年滯下，間或泄瀉腹鳴，瘕聚有形。脈沉細遲弦。寒濕蘊蓄中宮，凝滯腸胃，胃呆䐜脹，舌白溺赤。體虛邪實之象也。病來有年，非旦夕所能取效。</p>
<p>附子　炮姜　楂炭　歸身　茅朮　制軍　木香　檳榔　白芍　萊菔子</p>

<h2>十、中風</h2>
<p>（案1）某。偏中復發兩次，依然風動搐搦，左手足麻木不遂，舌強。無非肝腎兩虛，水氣不衡，木無涵養，肝風突起，挾痰上行。痰借風勢，風借痰威，流行經絡，遂致猝發。總由將息失宜，藥力未足，所以復發，若不未雨綢繆，必至半身不遂。治法不外乎乙癸同求，潛陽熄風，滌痰而已。</p>
<p>大熟地　白芍　天冬　天麻　桑寄生　天竺黃　西洋參　菊花　鉤鉤　遠志　石決明</p>
<p>又：內風痰阻，舌強肢麻，口眼喎斜。脈兩關滑而尺弱。溲多，筋酸。此係肝腎兩虛，虛風煽絡，遂致左手不仁，肝主筋，由乎血不養筋，《經》云：「營虛則不仁，衛虛則不用，營衛俱虛則不仁不用矣。」治法務在益腎之陰，水壯則木涵，而肝風自熄，風定痰消，諸症不攻而自罷。</p>
<p>天冬　人參　羚羊角　天竺黃　遠志　熟地　菊花　春砂仁　川石斛　天麻　龍虎濟陰丹</p>
<p>（案2）瞿。陽升極而不降，陰沉鬱而不附。面色油亮，汗泄津津，中風復發，牙關緊閉。脈左寸細、關勁，右尺空。少陰之虛，水不涵木。陽氣浮越，陰不涵陽，陽不根陰，陰陽散失乖離之象。詰朝一候，喘汗可危。用藥聊盡人心，絕症除非天佑矣。</p>
<p>人參　熟地　龜板　牡蠣　青鉛　白芍　附子　阿膠　鱉甲　磁石　菊花　雞子黃</p>
<p>（案3）胡。診得左尺參伍不調，顯然下虛，水不涵木，陽化內風旋動。舌麻眩暈，心惕不定，已見陽不潛藏，宜戒煩怒，冬至陽升，春陽升動，有厥中之慮。宜填攝潛陽。</p>
<p>熟地　杞子　萸肉　炒棗仁　龍齒　龜板　阿膠　牡蠣　料豆衣</p>
<p>（案4）右。《內經》「憂愁思慮則肢廢」。《傳》曰「風淫末疾」。內風不息，牙關緊閉不利，口眼喎斜，病之本在肝腎，病之標在心脾也。</p>
<p>首烏　杞子　白蒺藜　歸身　遠志　菊花　全蠍　柏子仁　冬朮</p>
<p>（案5）沈。產後諸經之血無一不傷，營虛陽旺變化內風上冒，卒然厥中偏枯，手足軟痿，便艱。脈弦緩，欲語舌頭蹇澀，心神呆鈍，內風鼓盪之餘，氣衰絡熱衝陽，亦少護持。近日天寒，畏風怕冷，是因產虛空竇多隙也，飲食寒暖宜格外慎之。</p>
<p>人參　當歸　菊花　桂枝　桑枝膏　西耆　白芍　柏仁　知母</p>
<p>（案6）吳。《內經》曰「內奪而厥則為瘖痱」。左手足偏廢，緩縱不仁，口喎頭痛，脈數，肢麻，病得之少年精血之損也。心火妄動，相火隨之，時常夢泄，由此精空，水不涵木，當此春升，陽氣變化內風，卒然中厥，病來已非朝夕，豈旦晚所能卒愈。治法不外乎攝陰、潛陽、熄風、化痰，大忌風藥升陽。</p>
<p>元武板　天冬　鉤鉤　羚羊　川貝　桑麻丸　大生地　白芍　菊花　丹皮　山梔</p>
<p>（案7）金。體豐多濕多痰，痰隨內風上擾，偏中於左，左臂無力，口歪舌強，脈來洪數。風火痰相煽中絡，不易脫體。</p>
<p>焦於術　炒菊花　南星　橘紅　茯神　料豆皮　遠志炭　嫩桑枝　白芍　歸身　牡蠣　白蒺藜</p>
<p>（案8）唐。煩勞陽氣則張，精不養神，內風焮動，左面部牽引。脈緩、滑，中風之根也。</p>
<p>夜交藤　池菊　女貞子　生白芍　炙草　石決明　鉤鉤　白蒺藜　料豆衣</p>
<p>（案9）陸。中虛濕勝，脾陽自衰，口角流涎不能約束，口甜便溏，濕困不運，脈實而大。中風之後不忌酒醴葷腥，致脾胃之氣機呆鈍，水穀精微不化，氣血而蒸作甜痰。宜進薄味，以清養胃口，庶不濕勝氣壅，猝然復中。</p>
<p>人參　半夏　石決　茯苓　白芍　佩蘭葉　於術　南星　陳皮　遠志　薑汁</p>
<p>（案10）胡。高年氣血兩虧，肝腎陰虛，陽化內風，右手麻木冷熱不知，得熱則指尖刺痛。脈形細弱，偏中之基也，急宜和養肝腎。</p>
<p>首烏　菊花　白蒺藜　棗仁　法夏　杞子　歸身　沉香汁　遠志　陳皮</p>

<h2>十一、肝風</h2>
<p>（案1）董。諸風掉眩皆屬於肝。眩暈猝發。懊憹，身汗。此風陽挾痰上逆，恐其有卒中之患，治當攝陰潛陽。</p>
<p>大熟地　菊花　白芍　料豆衣　磁石　生龜板　淮膝　杞子　白蒺藜</p>
<p>（案2）高。厥少二經風陽上擾，頭風時發，目淚而昏花。發時嘔惡苦水，悸惕、心嘈，由乎營虛火旺。法以辛甘化風，兼泄少陽木火之郁。</p>
<p>阿膠　桑葉　鉤鉤　三角胡麻　白芍　丹皮　菊花　生炙甘草</p>
<p>（案3）金。內風挾痰，營血內痹，四肢麻木不仁，不知痛癢，脈數。治以化痰養血，血行風自減也，仿朱雀法。</p>
<p>白蒺藜　胡麻　鉤藤　半夏　絲瓜絡　沉香屑　歸鬚　陳皮　茯苓　指迷茯苓丸</p>
<p>（案4）高。年剛舞象，質小體弱，陰虛木火素旺，陽易升動，魚尾穴痛，厥陽化風旋動，脘痛，胃呆，脈弦數。治以平肝、熄風、和胃。</p>
<p>石決　料豆衣　白芍　白蒺藜　川斛　角胡麻　穀芽　菊花</p>
<p>（案5）雷。肝氣屢發，發則營愈虛，氣愈逆，營虛厥陽變化內風上旋，頭眩目淚，心悸，便難，不寐之所由來也。</p>
<p>制首烏　沉香　石決明　料豆衣　柏子仁　白蒺藜　白芍　玫瑰花　川石斛　茯神</p>
<p>（案6）衛。病後陰虛，曾先腰痛如折，陽氣化風挾痰上旋，閉塞清竅，舌強不能言，痰聲如鋸，眩暈肢麻，脈細結弦，考《內經》云，三陰脈循喉嚨挾舌，本內風挾痰閉塞虛竅也。</p>
<p>鮮竹瀝（沖薑汁）　遠志　天竺黃　殭蠶　石決明　川貝　白蒺藜　指謎茯苓丸</p>
<p>（案7）吳。經行腹痛，頭暈心嘈，飲以甘草湯其痛即止，顯然營液內虛，肝風戕賊，肝為藏血之臟，脾為生化之源，凡經行之際，諸經之血交會於衝脈，衝脈隸胃，陽明所司，肝胃膜本相連。下血則血舍空虛，肝陽化風得以戕賊其土，肝性剛苦急。法當以甘緩之，故得甘而痛緩也。</p>
<p>首烏　炙草　伏神　歸身　柏子仁　阿膠　淮麥　白芍　丹皮　南棗</p>
<p>（案8）郁。肝血少藏，陽化，內風上旋，直升顛頂百會穴。痛風。陽木火上陵心陽，驚惕怔忡，徹夜不寐，火升足冷。肝木左升太過，右降不及，轟然上冒，自覺熱焚。眩暈，肢麻筋掣，遍體收引。舌紅心乾嚥燥，脈細。病情一派風陽煽動，營液皆被木火所劫之象，胃氣不下行，便燥艱難。論脈合證，治法不外乎潛陽熄風，養津安神。但病已久延，陰氣虛極，一時難復，須得安寐津回，方有轉機。</p>
<p>生地　決明　西洋參　朱茯神　牡蠣　白芍　牛膝　龜板　棗仁　天門冬　料豆衣　菊花　龍齒　夜交藤</p>
<p>轉方：阿膠　龜板　石決明　蒼龍齒　棗仁　牛膝　牡蠣（胡黃連湯煅）　生地　白芍　雞子黃　夜交藤　磁石　洋參　天冬</p>
<p>（案9）李。肝逆時升時降，升則眩暈，降則腹脹。厥陰陰虛陽逆，中無砥柱，是以直上直下也。舌乾唇碎，治從肝胃。</p>
<p>首烏　歸身　石決明　白芍　料豆衣　黨參　沉香　砂仁殼　女貞子</p>

<h2>十二、癇厥</h2>
<p>（案1）周。思慮過度，心脾陰虛，夜坐陽升，厥陽氣火上擾，神志昏亂，語言舛錯，不避親疏。顴赤。病屬陽升心風失志，神不內守。擬鎮攝。</p>
<p>琥珀　辰砂（絲棉裹）　川連炒棗仁　石菖蒲　茯神　珠粉　夜交藤　豬心血炒丹參　天竺黃</p>
<p>（案2）管。憂思驚恐傷及心肝脾三臟，神志不安，言語錯亂，喜笑怒罵，不寐，神氣浮越，陽不潛降，癇症久延，法當安神。</p>
<p>生龜板　遠志肉　囫圇辰砂　牡蠣　茯苓　夜交藤　石菖蒲汁　靈磁石　棗仁</p>
<p>（案3）顧。因驚動肝，神魂不藏、不能守舍，不語不寐，癇症有年，且擬安神鎮攝。</p>
<p>囫圇硃砂　石菖蒲汁　茯神　遠志　龍眼肉　牡蠣　豬心血拌丹參　人參　龍骨　棗紅　雞子黃</p>
<p>（案4）王。豬癇突發，乃痰火風上衝閉塞，久病豈易愈哉，法以滌痰。</p>
<p>胡黃連　天竺黃　川貝　豬心血拌丹參　生牡蠣　膽星　橘皮　生白芍</p>
<p>（案5）萬。心風挾痰火上擾神明，錯亂病發，必以煩擾，乃動則陽生，靜則陰生，脈象滑數。治當潛陽滌痰鎮攝神志</p>
<p>珠粉　牡蠣　龜板　川連包麥冬肉　菖蒲汁　硃砂　龍齒　天竺黃　豬心血炒丹參</p>
<p>又：痰火擾亂君心，病發則狂言詈罵，不避親疏，寸關脈滑，此屬心風挾肝火上逆也，仍當鎮攝神志。</p>
<p>珠粉　黑山梔　辰砂　胡黃連煅牡蠣　柏子仁　血珀　茯神　龍齒　豬心血拌丹參</p>
<p>（案6）吳。至疾莫如風火疾發，突如其來，卒然痙厥，不知所苦，涎痰上湧口沫，脈大。病屬肝陽風火痰上旋，壅塞靈機，法宜潛陽熄風化痰。</p>
<p>胡黃連　川貝母　連翹　丹皮　生牡蠣　鉤鉤　山梔　知母</p>
<p>（案7）馬。芒種陽氣極升，人生之氣與天地相應。所以痙厥卒發，醒後頭痛，陽不下降，陰失涵斂。攝陰潛陽是為正治，風陽過旺，先宜治標。</p>
<p>生牡蠣　胡黃連　白芍藥　靈磁石　鉤鉤　石決明　天竹黃　黑山梔　連翹心</p>
<p>（案8）馮。肝營不足，木火凌心，上擾神明，語言舛錯，眩暈耳鳴，少寐，煩惱，多夢紛紜，筋脈抽掣。病屬營虛火鬱，不生癇症即生外瘍。</p>
<p>決明　茯神　龍齒　燈心　合歡皮　丹皮　磁石　遠志　丹參（豬心血炒）　菊花　忘憂草　香附</p>
<p>（案9）朱。氣從下逆，上至心胸，一團熱氣。心悸、項痛，即頭重而眩，神志模糊，口湧血沫，四肢搐搦，便溺乃蘇。此厥陽木火上凌心胞，直升巔頂，脈數牢實，病屬痙厥，重治。</p>
<p>犀角片　鮮生地　生牡蠣　竹捲心　山梔　羚羊角　胡黃連　生白芍　連翹心　丹皮</p>
<p>又：風氣通肝，肝屬木，在卦為震，震為雷，雷氣通心，象火有聲。病發猝然，神志模糊，口湧血沫，心悸眩暈，則痙厥立至，溺而得醒，此肝之得以疏泄也。脈象轉為弦數，厥陽風火挾心火上充，直升無制。鹹苦直折有餘之火。病魔已退三舍，乘其旗靡轍亂而逐之。</p>
<p>前方去犀角，加天麻、菊花、天竺黃</p>
<p>（案10）錢。厥陰無形之火，挾陽明有形之痰紐結而上，卒然痙厥，頭痛腹疼，幼穉（稚）陰虛木旺生風，所以病發突然，但病來有年，根深蒂固，一時拔除豈易之哉。</p>
<p>甘菊花　胡黃連　石決明　白蒺藜　生甘草　生牡蠣　川貝母　鉤藤鉤</p>

<h2>十三、郁</h2>
<p>（案1）陸。失物之後氣鬱不舒，木失條達，鬱則生火，火生痰，痰生熱，上凌心陽，擾亂神明，言語舛錯，脈弦數，溲色赤。自覺或熱或冷，經來落後，色淡。肝陰素虛，木鬱也。從《內經》：木鬱達之。</p>
<p>鱉血柴胡　白芍　川芎　黑山梔　青皮　忘憂草　炒當歸　香附　丹皮　炒白朮　澤瀉　朱茯神</p>
<p>（案2）朱。閱病原產後殤子悲哀，肝氣逆郁，木失條暢，鬱則生火，時有火升一團，鬱結咽間，胸次不利，氣逆上攻。火氣下降，則二便通利，此木火無制，直上直下之明徵也。是以汗泄乃松，鬱火得以發越，脈見兩關弦滑數，以鹹苦直折其上騰之威。</p>
<p>龍膽草　生牡蠣　丹皮　土貝母　胡黃連　黑山梔　澤瀉　香附汁</p>
<p>（案3）任。寡居無歡樂之念，厥陰少陽氣火勃鬱，木失條暢，挾痰擾亂神明，悲哀哭泣，氣隨情郁，似乎癇象，頭眩溺赤。擬木鬱達之。</p>
<p>八味逍遙散加忘憂花、合歡皮</p>
<p>（案4）沈。詢病情起於產後抑鬱，鬱則氣滯，肝木失其條暢，乘脾腹痛，痛於夜分。病屬於陰，四肢浮腫，脾氣虛而肝不疏泄也。治以和脾理肝之郁，仿丹溪法。</p>
<p>越鞠丸加砂仁、青皮、白芍</p>
<p>（案5）龔。木失條達，肝鬱胃熱。鬱則生火，氣火上逆犯肺，咳嗽痰中帶血，血縷潮熱，脈左弦右數，心悸眩暈。陰虛木火上充，恐成郁勞。</p>
<p>鱉甲　地骨皮　藕節　麥冬　羚羊角　杏仁　丹皮　銀柴胡　貝母　沙參　石決明　蛤殼</p>
<p>又：肝木抑鬱，氣火上逆犯肺，咳嗽痰多。兩脅、左乳、腰背脹痛，寒熱往來，頭眩心悸。病屬肝鬱、情懷之，病，不易理者，須得怡悅自釋。</p>
<p>北沙參　鱉血柴胡　瓦楞子　白芍　蛤殼　青皮　麥門冬　忘憂草　生鱉甲　丹皮　川貝　香附</p>
<p>（案6）葉。怒則氣鬱，鬱則生火，木火橫逆。脅脹、脘痞、噎塞、鼻燥，舌黃、口膩、脈弦數。陽明胃精不降，木鬱不達，治在肝胃。</p>
<p>炒丹皮　山梔　鬱金汁　枳實汁　火麻仁　澤瀉　旋覆花　青皮　香附汁　全瓜蔞　法半夏</p>

<h2>十四、關格</h2>
<p>（案1）張。丹溪曰：「食不得人，是有火也。」嘔吐酸苦，噫氣便艱，脈弦數，木火上衝犯胃，胃氣不降，失循序之司，津液無以潤下，老年關格大症，不易理也。</p>
<p>川連　枳實　枇杷葉　花粉　橘紅　薑汁　竹茹　肥蘆根　法夏</p>
<p>（案2）沈。咽主地氣，食入咽中刺痛。陽明胃精幹澀，最易成膈。</p>
<p>枇杷葉　火麻仁　降香　枳殼　杏仁　白蜜</p>
<p>又：食下咽管痛，引及胃脘，咽主地氣，陽明不和也。</p>
<p>前方去枳殼，加瓜蔞</p>
<p>（案3）某。膈症，食入脘中刺痛，肺失清肅，脈數。</p>
<p>枇杷葉　川連　旋覆花　瓜蔞　白杏仁　枳實　川鬱金　橘紅</p>

<h2>十五、翻胃</h2>
<p>（案1）項。胃翻熏肺，脘痛，熱久胃氣戕傷，胃虛不能制木，木火乘隙侵侮。法以辛苦甘酸通泄。</p>
<p>川連　乾薑　檀香汁　烏梅　黨參　戌腹糧　薑汁　半夏　枳實汁　川椒　橘皮</p>
<p>（案2）桑。病後動怒，抑鬱，木失條暢，橫逆中宮，瘕聚脘痛，得食則嘔，苦酸痰涎，食物覺冷。脈遲延虛，翻胃半年。中陽挾飲也。</p>
<p>附子　戌腹糧　法夏　川椒　烏梅　黨參　乾薑　代赭石　旋覆　茯苓　枳實汁　橘皮</p>
<p>又：翻胃，朝食暮吐，食則䐜脹，運用失常，脾不磨谷，火衰氣鬱，脈遲延，法以降逆。</p>
<p>附子　薑汁　川椒　法半　代赭石　旋覆花　枳實　乾薑　竹茹　烏梅　茯苓　戌腹糧　鬱金</p>
<p>（案3）張。病起去夏霍亂之後，中氣被邪混淆，胃虛氣逆不降，干惡噯噫，秋間變為翻胃，食入傾囊吐出，酸水痰涎，腹鳴便泄，此中有寒飲內積，故脈遲細弦勁也。</p>
<p>代赭旋覆湯去參、棗，加澄茄、桂枝、大腹絨、枳實（炒）、白朮、茯苓、薑汁、萊菔子</p>
<p>（案4）某。性躁多火，木火易動，上衝犯胃，嘔吐泛惡，脈細弦數。以辛苦宣泄，通降陽明翻胃。</p>
<p>川連　枳實汁　法夏　茯苓　薑汁　瓦楞子　竹茹　橘皮</p>
<p>（案5）俞。酒客濕勝濕蒸生痰，積飲中陽，入暮嘔泛痰涎，脈弦數，舌黃，若不節飲，後月必成翻胃。</p>
<p>枳朮丸　川連　茯苓　半夏　雞距子　薑汁　陳皮　竹茹</p>

<h2>十六、汗</h2>
<p>（案1）席。童真天稟素薄弱，誦讀音閃，汗泄乎寐，陰氣不足也。</p>
<p>當歸　生地　黃連　黃芩　小麥　黃耆　熟地　黃柏　甘草　紅棗</p>
<p>（案2）陸。陽加於陰為之汗。</p>
<p>川桂枝　白芍　淮小麥　炙西耆　炙草　紅棗子</p>

<h2>十七、血汗</h2>
<p>（案1）顧。營分伏熱，血汗染衣，心悸氣逆，脈象浮數，汗為心液，心陽熱鬱也。</p>
<p>犀角汁　丹皮　茯神　山梔　鮮生地　藕汁　側柏　茅根</p>
<p>又：「血汗」《內經》名曰「蔑」。營分伏熱，汗泄過多，心氣不足，汗為陽泄。汗乃心液，仍清心營。</p>
<p>犀角汁　西洋參　山梔　雞血藤膏　鮮生地　牡丹皮　茯神</p>
<p>又：汗與血異名而同類，血汗過多，氣隨血虛，吸短，心中宕漾，擬以益氣和營。</p>
<p>生西洋參　炙西耆　茯神　歸身　大生地　炙甘草　遠志</p>

<h2>十八、脫（汗脫）</h2>
<p>（案1）潘。久病元氣拖乏，卒然音閃，痰聲漉漉，汗出如雨，脈燥散亂，此脫象也。旦晚可危，勉擬以盡來意。</p>
<p>人參　五味子　白芍　炙草　龍骨　麥冬　川桂子　大棗　牡蠣　淮麥</p>
<p>另用麻黃根、牡蠣、糯米粉三味絹包撲汗。</p>
<p>又：卒然寒戰，即汗泄如雨，痰聲如鋸，脈左三部絕無，右寸關惟一絲沉數。</p>
<p>此肺氣大虛，陽氣脫離之象，危險兩字不待言矣。勉擬復脈法以冀僥倖。</p>
<p>炙甘草　人參　麥冬　桂枝（白芍炒）　乾薑（五味同打）　天竹黃　清阿膠　熟地　膽星　龍骨　牡蠣　竹瀝</p>
<p>（案2）周。肛漏久潰不斂，滋水日益下滲，漏卮不已，身中五液全虧，下焦氣陰由此日耗，腎陰日不支持，收攝無權，水氣上泛為痰，痰膠氣逆喘急，動則更甚。精耗氣怯，舌剝咽乾，脈息虛弦兼澀。澀則陰傷，陰傷則精卻，精空則氣怯，氣怯則神衰，精氣神無一完固，而致神明孤露。合目欲眠，喃喃囈語，寐則神魂縹緲，一派陰陽離決脫象，顯然草木之功難許見長。急宜收攝下焦，斂液安神，以慰望治，敷衍日期而已。</p>
<p>人參　蛤蚧　龍齒　龜板　麥冬　熟地　青鉛　牡蠣　棗仁　北五味</p>

<h2>十九、衄血</h2>
<p>（案1）李。營分伏熱，鼻衄，中心宕漾，即時而出，八日不止。脈數，頭汗，足冷。明是肝胃氣火載血上溢，恐其狂出虛脫。</p>
<p>犀角汁　側柏炭　山梔　龜板　旱蓮草　鮮生地　蒲黃炭　丹皮　知母　淮牛膝　荷葉汁　金墨汁　藕汁　茅根</p>
<p>又：鼻衄大奪之後，氣陰兩虛，頭疼暈眩，心宕牙浮，陰虧陽逆不降，咳嗆，痰血，大便帶血，上下失血。當治其中。</p>
<p>西黨參　熟地　丹皮　女貞子　金斛　龜板　北沙參　白芍　炙草　旱蓮草　側柏　柏子仁</p>
<p>（案2）張。鼻衄如注，少陰不足，陽明有餘，脈象右數，舌白膩，溫熱內蒸，熏灼營分也。治以氣營兩顧。</p>
<p>川連　懷牛膝　茅根　知母　側柏葉　丹皮　鮮生地　藕汁　黃芩</p>
<p>（案3）許。童真純陽稟質陰虧，陰虧則內熱，內熱則營不足，熱鬱氣分迫動營分，時常鼻衄，脈見細數，面黃形瘦，木火體形也。法以養陰。</p>
<p>細生地　丹皮　女貞子　鱉甲　知母　黑山梔　玉竹　雲茯苓　青蒿　藕汁</p>
<p>（案4）梁。鼻衄三載，時作時止，脈形細澀，陰分傷矣。</p>
<p>細生地　丹皮　生知母　茅柴根　藕節　懷牛膝</p>

<h2>二十、鼻淵</h2>
<p>（案1）許。膽移熱於腦則辛頞鼻淵，此風熱之邪上鬱於肺。法以辛涼宣泄嬌臟。</p>
<p>辛夷花　川芎　菊花　牛蒡　白芷　蒼耳子　薄荷　細辛　連翹　通草</p>
<p>（案2）黃。風熱鬱於少陽，頭痛於偏，鼻淵幾及一載。當用辛泄宣解少陽邪郁。</p>
<p>川芎　防風　蒼耳子　細辛　辛夷　生草　白芷　薄荷　苦丁茶　荊芥　羌活　蒺藜</p>
<p>（案3）沈。風熱上蒙清竅，鼻淵。治以辛涼，宣泄在上之郁。</p>
<p>桑葉　薄荷　辛夷花　連翹　苦丁茶　丹皮　菊花　蒼耳子　鉤鉤　生甘草</p>
<p>（案4）吳。風鬱少陽、陽明，牙關不利，耳聾，鼻淵，頭脹偏痛，脈弦。辛涼宣泄。</p>
<p>菊花葉　薄荷葉　白芷　川芎　荷葉　葛根　辛夷花　蒼耳子　大力　連翹　佳蠶　鉤鉤　菊花茶調散（用苦丁茶）</p>

<h2>二十一、牙宣</h2>
<p>（案1）張。齒者骨之餘，齦屬陽明。牙宣五年，營陰大奪。虛火日旺，脈見寸關獨數。宜治心胃與腎，宗景岳少陰不足，陽明有餘例。</p>
<p>鮮生地　旱蓮草　淮牛膝　黑山梔　生石膏　女貞子　蒲黃炭　炒丹皮</p>
<p>外用：煅龍骨　旱蓮草　黑山梔　蒲黃炭　青鹽　人中白　共研細末擦牙。</p>
<p>（案2）徐。久病半載，濕熱內盛，熱傷營分，牙宣如注。脈象細數，自汗黏手，若不血止，恐難支持。</p>
<p>犀角汁　鮮生地　藕節炭　焦黃炭　黑山梔　金墨汁　丹皮炭　蒲黃炭　旱蓮草</p>
<p>（案3）朱。牙宣紫色成條，系陽明有熱，迫血上行，擬以清胃。</p>
<p>鮮生地　知母　黑山梔　丹皮炭　藕節炭　生石膏　淮膝　金墨汁　蒲黃炭</p>
<p>（案4）陶。厥陰浮陽上擾，陽化內風旋動，頭偏痛，牙宣，脈虛而細。營虛風旺不潛，以潛陽化風。</p>
<p>制首烏　龜板　石決明　青鹽　炒丹皮　旱蓮草　白芍　白蒺藜　鉤鉤　料豆皮</p>
<p>（案5）王。陰虛陽逆，牙宣頻來，脈細而遲。法以養陰。</p>
<p>炙龜板　女貞子　金石斛　雲茯苓　生西洋　旱蓮草　淮山藥　細生地</p>

<h2>二十二、牙漏　齒蠹</h2>
<p>（案1）徐。陽明之脈起於鼻之交頞中，旁約太陽之脈，下循鼻外，上入齒中還出，挾口環唇。邪火相搏，蘊結不解而成牙漏，時或頭脹脘痛。法當養血熄風，治風先治血，血行風自滅。</p>
<p>生地　川芎　白芷　菊花　胡麻　當歸　白芍　鉤鉤　茯苓</p>
<p>（案2）秦。陽明濕熱內蒸，齒匿蠹牙痛，脈弦，舌黃膩。以泄化法。</p>
<p>胡連　使君子　白芷　細辛　陳皮　蕪荑　榧子肉　茯苓　牛蒡</p>

<h2>二十三、頭痛　耳脹</h2>
<p>（案1）僧。厥少風陽上逆，頭痛或左或右，遇干支之陽日則左，陰日則右。目昏、鼻塞、流涕，以辛苦輕揚肅上。</p>
<p>辛夷　菊花　薄荷　甘草　苦丁茶　蒼耳　鉤鉤　防風　殭蠶　菊花茶調散</p>
<p>又：頭痛或偏於左或偏於右，目眩鼻塞流涕，風邪中上，仍以輕揚宣泄。</p>
<p>蔓荊子　辛夷　菊花　桑葉　三角胡麻　蒼耳子　連翹　鉤鉤　薄荷　乾荷葉</p>
<p>（案2）朱。九竅不和都屬胃病，鼻衄，耳蔽不聞、流水。風熱上郁。</p>
<p>蔓荊子　茅根　丹皮　牛蒡　桑葉　苦丁茶　通草　荷葉　連翹　薄荷</p>
<p>又：風熱鬱於少陽、陽明，耳脹，流水，脈弦數。以微辛宣泄。</p>
<p>冬桑葉　丹皮　通草　元參　鉤鉤　薄荷葉　連翹　荷葉　牛蒡　蒼耳子</p>

<h2>二十四、胸痹</h2>
<p>（案1）某。心痛徹背，背痛徹心，仲景主以胸痹，如以錐針刺其心；《內經》主以脾心痛，病起背寒，寒邪挾飲，脈弦便溏。治在中焦。</p>
<p>桂枝　法夏　陳皮　薤白　白酒　白芍　茯苓　鬱金　瓜蔞</p>
<p>（案2）段。清陰結痹胸脅，痞脹徹背。診脈弦數。噯噫，矢氣稍松，氣機不司流利。宗仲景滑利通陽。</p>
<p>薤白　瓜蔞　旋覆花　青蔥管　蘇梗　半夏　桂枝　新絳屑　伽南香</p>
<p>（案3）姚。雲門之上天氣主之，咽間噎塞不利，胸中清陽結痹，上焦痰熱鬱於陽位，氣機失司，少寐，脈滑。陽明不和，肺失清肅也。</p>
<p>枇杷葉　半夏　茯苓　瓜蔞　旋覆花　川貝母　秫米　杏仁　橘紅</p>
<p>（案4）瞿。心痛徹背，寒氣結痹陽位，陽郁不宣，脈遲細澀。以清利通陽，流行氣機。</p>
<p>薤白　法半　小樸　橘梗　瓜蔞　蘇梗　枳殼　鬱金</p>
<p>（案5）某。胸痹胸中起痞。背痛，脈數滑。陽氣結痹不宣也，以滑利通陽。</p>
<p>瓜蔞　半夏　枇杷葉　枳實汁　薤白　杏仁　鬱金汁　橘梗</p>
<p>（案6）倪。心痛徹背，背痛徹心，病發於春夏之交，陽氣升動木旺之時，胸痞泛水。脈右關滑，陽微飲聚，結痹清陽。辛滑流利，開撥氣機。</p>
<p>炒薤白　法半　瓜蔞　茯苓　川桂枝　小樸　枳實　薑汁</p>

<h2>二十五、脘痛　瘕聚</h2>
<p>（案1）張。木失條暢，肝氣橫逆犯胃，脘痛，嘔吐酸苦，舌黃泛惡，脈細弦，少納，神疲。中土受侮，先以泄肝和胃。</p>
<p>左金丸、越鞠丸加沉香、香附、茯苓、半夏、穀芽、陳皮</p>
<p>（案2）朱。久瘧致肝木陰虧陽旺。木旺則乘脾犯胃。脘痛，脅痛。嘔吐少納，脈左弦右虛，中傷何疑！舌質苔白口膩，面色萎黃，大便溏、結不定，皆屬脾土失與轉運不宣。法以和脾胃養肝陰。</p>
<p>白芍　沉香　茯苓　川斛　玫瑰花　蔻仁　穀芽　陳皮　穭衣　炙草</p>
<p>又：復診脘脅痛止，納穀稍增，惟脈象仍弦，此肝木有餘，脾土陰弱。當宗景岳法，和養肝陰。</p>
<p>人參　白芍　川斛　沉香汁　陳皮　首烏　炙草　蔻仁　半夏曲</p>
<p>（案3）楊。痃瘧一載，瘧後傷脾，脾傷肝木乘之。無形橫擾之氣，與內踞有形之痰，互相結聚成瘕，逆阻中脘而痛，延及半年。少納形削，大便溏薄，已見脾受戕賊重傷其傷矣。但脈見弦長，遇指按之，軟弱無神，外剛內柔，顯然肝氣有餘，肝血不足，血不足無以培肝之氣。氣愈橫擾，則脾愈困，脾困則水穀精華不運，而升降失其常度，脾胃困憊豈能支撐？拙見憑脈論證，和肝之氣以養營，運脾之陽以化痰，未識能稍奏膚功云。</p>
<p>肉桂　炮姜　白芍　陳皮　穀芽　首烏　蔻仁　法半　冬朮　枳實</p>
<p>（案4）周。診得脈象左關雙弦如芤，左關滑大，則知病在肝胃，肝不疏泄，胃有積痰，脘痛三月餘未止。中傷木旺，理宜制木通胃。</p>
<p>白芍（吳萸炒）　法半夏　杜仲　九香蟲　肉桂　陳皮　歸身　車前子</p>
<p>（案5）朱。肝木風陽戕胃，脘痛脅脹，嘔吐綠水、蛔蟲。舌乾拒納。脈細弦，此胃汁受戕，難投剛藥，柔劑緩肝之急。</p>
<p>白芍　沉香　旋覆　橘絡　川斛　麥冬　炙草　石決　穀芽</p>
<p>（案6）倪。積飲中宮，肝木乘脾犯胃，脘痛吐酸水。脈弦勁不和，前法制木，病不減松。當進一籌以守之，安胃法。</p>
<p>烏梅丸去參、川柏、細辛、當歸，加白芍、半夏</p>
<p>又：進許叔微辛苦酸泄，嘔吐雖止，脘痛依然，脈象弦勁不和，狀如新張弓弦，久病見此，全無沖和之象，究屬不宜，仍守前法。</p>
<p>烏梅丸加白芍、炙草、半夏，去當歸、細辛、川柏</p>
<p>（案7）徐。厥陰氣不疏泄，寒濁內踞，瘕聚有形，攻逆脹痛。脈弦數，按之細，舌黃膩。此中陽濕鬱不化，治當疏泄肝脾。</p>
<p>蘇梗　青皮　吳萸　川楝子　烏藥　厚朴　橘核　小茴　制香附　澤瀉</p>
<p>（案8）張。厥陰無形之寒濁凝聚，不散而結有形之瘕，攻逆而脹，必得撫摩脹勢稍松，此氣行而錮閉之邪得以暫開耳。病情全在氣分，益氣必溫而和，滯必溫而通，是一定成法，欲和其氣，必先泄濁，濁泄則陽通，陽通則氣和，仿朱南陽濁藥攻濁法。</p>
<p>豭鼠矢　吳萸　青皮　沒藥　九孔子　韭菜白　川楝子　香附　乳香　橘核</p>
<p>（案9）顧。脘痛久延，九月不愈，肝木橫逆犯中，胃氣逆行不降，得食即吐，夜則寒熱，脅痛，鳴響，胃虛，積飲痹絡，脈數大，木火上衝於胃，久病正虛，擬仲聖法。</p>
<p>代赭石　桂枝　黨參　川椒　白芍　歸身　旋覆花　川連　乾薑　半夏　烏梅　白蜜</p>
<p>（案10）朱。厥陰濁聚氣痹，無形之氣似乎有形，攻逆不已，上至胸背脘宇；下腹堅結，噫氣，矢氣。診脈弦數，病情一派氣滯，以疏理其氣，佐以宣泄厥濁。</p>
<p>兩頭尖　白芍　鬱金汁　枳實汁　蘇梗　韭菜根　青皮　檳榔汁　香附汁　歸鬚</p>
<p>（案11）盛。詢病起於秋間，病後腹痛，氣聚瘀凝，聚結為瘕聚，有形攻痛，痛而後泄，肝脾兩傷，不易消散。</p>
<p>阿魏丸</p>
<p>（案12）王。肝脾寒邪結瘕，脘痛脈弦，病延三年，治在營分。</p>
<p>旋覆花湯加蘇梗、吳萸、青皮、香附</p>
<p>（案13）戴。左脅下瘕癖，時常䐜脹，脈弦數，肝臟積聚，病經有年，難許除根。</p>
<p>黨參　歸身　木香　香附　鱉甲　青皮　川芎　炙草</p>
<p>（案14）李。痰血氣滯凝聚為瘕，結於左脅下，漸次消散，大便滯下，赤白黏膩，脈弦，乘其勢而逐之，斬其根。</p>
<p>旋覆花　瓦楞子　三甲末　香附　小青皮　薤白頭　炒桃仁　萊菔子　山楂</p>
<p>（案15）顧。室女先天不足，營虛陰弱，脘痛收引，痛引兩脅，腰楚如折。脈數，少納，䐜脹，脾胃不和，肝木乘之，胸悶便薄。以泄肝和中，與生生子法。</p>
<p>九香蟲　歸身　車前子　吳萸（白芍炒）　穀芽　杜仲　白朮　小青皮　香附　砂仁</p>
<p>（案16）惠。肝胃不和，右脅痛，引及脘，瘕攻，脈弦虛數，病在氣營，以通絡泄肝和胃。</p>
<p>旋覆花　香附　良薑　青皮　薤白　新絳　歸身　山梔　枳實　瓜蔞</p>
<p>（案17）溫。肝逆犯胃，脘痛嘔吐，傾囊而出，色赤，脈大而虛，胃津不足，陰虧木旺，以溫中泄肝。</p>
<p>肉桂　炙草　茯苓　乾薑　白芍　丁香　冬朮　法半</p>
<p>（案18）朱。寒濕鳩聚中腸，少腹痛，脘痛，瘕攻，脈遲弦，肝木犯脾胃也。</p>
<p>吳萸　七香餅　蘇梗　半夏　木香　炮姜　紅豆蔻　烏藥　青皮　陳皮</p>
<p>（案19）戴。素有肝逆，木乘風冷寒邪得以乘之，繞臍腹痛，便溏腹鳴，脈細弦。擬劉草窗法。</p>
<p>防風　吳萸（白芍炒）　炮姜　木通　白朮　陳皮　桂枝　甘草</p>
<p>（案20）夏。厥陰寒濁錮蔽臟絡，腹痛，瘕攻繞臍，脈遲弦。治以溫通。</p>
<p>吳萸　小茴炒青皮　當歸　白芍　兩頭尖　木通　桂枝　炮姜　細辛　小樸　韭菜根</p>
<p>（案21）徐。木旺土虛，陽明不降，脘痛便艱，氣逆少寐，上升之氣自汗而出。以柔肝和胃。</p>
<p>白芍　石決明　川斛　沉香　金鈴子　炙草　夜交藤　穀芽　蔻仁　旋覆花</p>
<p>（案22）周。入暮陽衰痛甚，陽微之處即陰甚之處，飢不欲食，食則䐜脹，脈遲寒邪內踞，陽衰不運，病在肝脾，屢進溫中，泄肝不應，痛仍如故，治肝不應，治脾亦良。</p>
<p>肉桂　炮姜　法夏　茯苓　白芍　歸身　砂仁　炙草　附子理中丸</p>
<p>（案23）張。真火衰微，不能腐谷，人入陽衰，胃氣杳然，繞臍痹痛，尺脈細微，坎中一畫，真陽不可任其汨沒。急宜益火生土。</p>
<p>人參　巴戟天　附子　葫蘆巴　菟絲子　肉桂　防風炒白芍　乾薑　淡蓯蓉　扁鵲玉壺丹</p>

<h2>二十六、消症</h2>
<p>（案1）張。肺消，飲水小便多，下白垽，脈數，舌紅。陰虧，陽失其基，先與許叔微法。</p>
<p>蛤殼　蟬衣　海浮石　麥冬　知母　鯽魚膽（此即神效散）</p>
<p>又：消渴小溲多，吐白沫，心中窒塞，脈弦而數，火邪上炎，求救於水。前法鹹寒制火，病情未見所長。當進一籌以熄燎原。</p>
<p>方諸水　生蛤殼　瓜蔞霜　麥冬　鯽魚膽　海浮石　黑山梔　蟬衣</p>

<h2>二十七、疝氣</h2>
<p>（案1）黃。厥濁無形之氣結聚有形，大如雞卵，臥則入腹，立則墜囊，睪丸脹痛，脈象遲弦。老年疝病，氣血皆衰，除根不易也。</p>
<p>肉桂　韭菜白　葫蘆巴　木香（吳萸炒）　橘紅　甘杞　兩頭尖　荔枝核　青皮　香附</p>
<p>（案2）朱。七疝皆屬肝病，厥陰上逆，嘔吐蛔蟲，小腹脹痛，脈遲弦。以泄肝通胃，痛甚防厥。</p>
<p>吳萸炒川連　官桂　荔枝核　香附　延胡索　川楝子　橘核　法夏　青皮　烏梅丸</p>
<p>（案3）馬。厥陰寒濁一遇寒勞，疝氣即作，從少腹直攻腎囊，脹痛，痛引及脘，肝脈繞陰器環貫膈也。</p>
<p>兩頭尖　橘核　延胡索　官桂　香附　韭菜根　青皮　川楝子　木香　澤瀉</p>
<p>（案4）張。厥陰氣滯寒邪，少腹疝氣時上時下，痛而便多，足下出水。肝有寒、脾有濕也。</p>
<p>香附　小茴香　川楝子　陳皮　赤苓　蘇梗　木香　延胡索　米仁　澤瀉</p>

<h2>二十八、腳氣</h2>
<p>（案1）沈。漢曰緩風，唐曰腳氣。兩足浮腫，腫上及腹，四肢麻木，干惡胸悶，脈緩便燥，且挾風寒濕三氣襲絡，漸次化熱，病來由漸，不易理者。</p>
<p>川桂枝　萆薢　吳萸　蠶沙　秦艽　陳皮　木防己　米仁　獨活　木瓜　桑枝　牛膝</p>
<p>又：腳氣腫勢漸消，少腹䐜脹，脈弦數，三陰寒濕漸化熱矣，仍以通絡。</p>
<p>原方去吳萸、桑枝，加當歸、桑寄生、青皮</p>
<p>（案2）彭。三陰寒濕，腳氣，麻木，胸悶。病經五年，屢發。邪已深入脈絡，以搜剔其邪。</p>
<p>川桂枝　獨活　木瓜　川牛膝　歸鬚　制烏頭　秦艽　萆薢　桑寄生　米仁</p>
<p>（案3）沈。腳氣麻痹，濁陰上逆，胸悶。兩足軟痿不能任地，肝腎寒濕下著，淹纏之證。</p>
<p>川桂枝　虎骨　萆薢　吳萸　獨活　制烏頭　歸鬚　蠶沙　陳皮　桑寄生　牛膝　木瓜　狗脊</p>
<p>（案4）陸。漢曰緩風，唐曰腳氣。兩膝麻木，肢痿不用，肌膚不仁，溲赤脈弦細。寒濕襲三陰脈絡，不易即愈。</p>
<p>桂枝　虎骨　萆薢　秦艽　茅根　威靈仙　烏頭　桑枝　獨活　苡米　牛膝</p>
<p>（案5）李。寒濕下著左足跗及指經，痠痛麻木，脈遲細，此腳氣也。</p>
<p>烏頭　茯苓　虎骨　歸身　桑枝　桂枝　懷膝　獨活　萆薢　史國公藥酒</p>
<p>（案6）陳。寒濕下著腳氣，酸楚，小便渾濁，氣急，脈弦細。三陰寒邪乘之，恐其腳氣上入少腹，喘急。</p>
<p>川桂枝　烏頭　薢　獨活　當歸　桑寄生　晚蠶沙　懷膝　陳皮　秦艽　米仁</p>
<p>（案7）屈。流火腳氣腫勢漸退，又生火丹，紅腫而痛，脈沉，溲赤。法以清泄。</p>
<p>茅根　澤瀉　連翹　米仁　赤苓　赤芍　川柏　丹皮　陳皮　萆薢　蠶沙</p>
<p>外塗金黃散。</p>

<h2>二十九、風痹</h2>
<p>（案1）黎。風性善行數變，腿痠流走不定，上行環跳，下至腿䟰，脈細帶弦。三陽邪襲脈絡，三陰陰虛。法擬通絡和陰，佐以搜風。</p>
<p>夜交藤　桂枝木　杜仲　川斷　刺藜　海風藤　烏不宿　歸身　米仁　桑枝</p>
<p>（案2）郁。風寒濕三氣雜至，合而為痹，四肢屈伸不利，皮搔膚癢、風塊。脈細血虛，風來襲絡，法以疏通和陰。</p>
<p>桂枝　炒歸身　秦艽　威靈仙　青防風　桑枝　片薑黃　米仁　細生地　活絡丹</p>
<p>（案3）陳。寒邪久襲脈絡，錮蔽不泄，左肩髃痠痛而不舉，脈細遲，病經一載，不易速愈，或延針師宣導，使氣血流行，病自可復。</p>
<p>川桂枝　秦艽　桑枝　鑽地風　歸鬚　海風藤　片薑黃　獨活　松節　千年健　紅花絡石藤　活絡丹</p>
<p>（案4）吳。皮膚瘙癢，癢者為風，風濕襲於肌肉，瘙癢浮腫，流水，或發風塊，或發隱疹。脈緩，不納，老年氣血兩虛，虛風煽動，病來有年，難許無事。</p>
<p>豨薟草　白朮　胡麻　赤芍　蟬衣　地膚子　歸身　防風　荊芥</p>
<p>（案5）俞。衛虛則惡寒，營虛則發熱，畏風，遍體瘙癢，風塊累累，血燥生風也。</p>
<p>荊芥　歸身　地膚子　刺藜　秦艽　丹皮　細生地　杏仁</p>
<p>（案6）王。素體營虛，風寒濕邪入於脈絡，久痹不宣，肩髃、腰背、尻骨酸楚，脈沉弦遲。入絡之病，化邪必佐養營。</p>
<p>桂枝　海風藤　桑枝　新絳　木瓜　歸鬚　片薑黃　萆薢　秦艽</p>
<p>（案7）衛。近耄之年營血自衰，血虛生風，風生熱，皮膚燥癢，熱灼肌干，脈細遲弦。法宜養血熄風。</p>
<p>細生地　首烏　蝨胡麻　歸身　料豆衣　阿膠珠　丹皮　柏子仁　刺藜</p>
<p>（案8）王。營虛血熱，化風上旋，頭眩、心悸、震宕。經事後期色淡。右臂生風，膚癢，以養血熄風。</p>
<p>首烏　生地　胡麻　茯神　炒丹皮　豨薟　刺藜　歸身　鉤鉤　蘄蛇肉</p>
<p>（案9）夏。風疹屢發，八年之久，發時寒熱，腹鳴便泄，太陰、陽明、脾胃伏風，脈弦細遲。與消風散。</p>
<p>消風散</p>

<h2>三十、鶴膝風</h2>
<p>（案1）馬。鶴膝風原屬寒濕之氣，客於肝腎，痹痛有日，久而成之，法當通絡。但足膝痛，緩則頭眩目赤，此屬風邪流走不定，兼之肩肘、脘臂皆痛，《經》所謂風淫末疾也，理之棘手，先治其上，養血熄風。</p>
<p>白蒺藜　晚蠶沙　鉤鉤　川牛膝　三角　胡麻　夜交藤　杉木節　菊花　炒歸身　川萆薢</p>
<p>（案2）沈。風寒濕三氣流絡，鶴膝風腫痛，伸屈不利，兩臂筋脈痛楚，肝脾腎三陰邪庳脈絡，舌白尖紅，便溏，溲少。入絡之病，豈易效哉。</p>
<p>桂枝　蠶沙　片薑黃　桑枝　川膝　六曲　防己　秦艽　川萆薢　米仁　澤瀉</p>

<h2>三十一、腸痹</h2>
<p>（案1）沈。腸痹，腑陽窒塞，二便不通，脘脹少納乾嘔，少腹旁痛，脈弦細。此屬血虛不能灌溉其腑陽也，大腸與肺相為表裡，養血中佐以開肺，以肺主氣化故也。</p>
<p>生首烏　柏子仁　松子仁　蘇子　紫菀　元明粉　郁李仁　火麻仁　杏仁　木通</p>
<p>又：血燥不能下順陽明之精，腸痹不便，小溲淋滴且痛，氣化亦為不利，腎司二便，陰氣之虛無疑。法當養陰通幽。</p>
<p>生地　柏子仁　桃仁泥　升麻　槐角　丹皮　紫菀　火麻仁　郁李仁　杏仁　澤瀉　山梔</p>
<p>外用豬膽汁導。</p>

<h2>三十二、肛痔</h2>
<p>（案1）吳。肛痔系濕熱下注，大腸之火相激而成，痔墜、下血，濕熱迫血下注也。脈見寸關弦象，按之細弱，心肝脾三臟已虛，故時有心宕嘈雜，目眩便溏，心不生血，肝不藏血，脾不統血，血液已虧，法當補益，但肛痔滋水頗多，濕熱尚甚，先以清理濕邪，續商進補。</p>
<p>黃芩　地榆炭　炙草　歸身炭　槐米　赤芍　柿餅炭　川柏　赤小豆</p>
<p>接服黑地黃丸、歸脾丸。</p>
<p>又：腸痔下血之後自覺痔脹已松，乃濕從血泄之徵，治宜益氣理濕，氣和則濕去，氣旺則血生，既奪有形之血，必培無形之氣，因氣為血帥也。</p>
<p>人參　冬朮　白芍　茯神　地榆炭　黃耆　炙草　歸身　陳皮　桂圓肉（七枚，每包苦參子一粒）</p>

<h2>三十三、流痰</h2>
<p>（案1）唐。失血之體陰氣自虛，咽燥舌紅，腎陰已乏上承，得食䐜脹，脾陽滯運用之機，飲食少化，精微變而為痰，流入脈絡，環跳部位結為痰核，惟恐久延成癰。擬養陰化痰，以冀消散。</p>
<p>麥冬　洋參　蛤殼　復花　枳實丸　甘草　小生地　川貝　雲苓　毛茹　瓦楞子</p>
<p>（案2）許。閱病原流痰似乎略癟，胃氣未旺，少寐，心煩，吸氣脅痛等症。思病情由乎情懷少暢，鬱則氣滯，流行之機減，思必傷脾，脾虛濕聚生痰，流於皮裡膜外而結流痰，壅滯腎俞部位。《經》所謂邪之所湊，其氣必虛，腎之陽衰無疑，腎陽虛失蒸腐之職。脾氣運用日加呆鈍，水穀精華不化，精神氣血蒸變而為痰，所謂生痰之源在脾，蒸變之力在於腎也。腎為胃關，腎開胃闔，腎陽虛則土不速運，腎陰虛則木失水涵滋長之本。既乏營血日衰，故少寐而心煩也。拙見以補火生土，土旺則濕化，濕化則痰消，況痰為陰邪，非陽不運，陰霾之氣必離照以當，病魔自將退避三舍矣。擬方或芻蕘可採，以候酌進。</p>
<p>肉桂　熟地（砂仁拌）　白朮（枳實炒）　半夏　香附　白芥子　附子　歸身　黨參　秫米　茯苓</p>
<p>歸脾丸　桂圓湯送下。</p>

<h2>三十四、痰癧</h2>
<p>（案1）徐。陰虛木火煉液為痰，痰癧結頸，脈細以養陰化痰。</p>
<p>天門冬　細生地　瓦楞子　茯苓　西洋參　海浮石　川貝母　夏枯草　蔞皮　丹參</p>
<p>（案2）方。肝逆挾痰，氣痹胸膺，痰癧時痛，心嘈，脈滑。治以平肝化痰。</p>
<p>金福花　半夏　歸鬚　橘紅　瓦楞子　柏仁　茯神</p>

<h2>三十五、肝癰</h2>
<p>（案1）朱。宿疾失血，復發脅痛，不得左眠。咳嗽痰臭膿血。診脈左部弦大，溲赤。此內癰生於肝臟也，非輕恙。</p>
<p>羚羊角　蘇子　鬱金　炒桃仁　蘆根　茅根　黑山梔　降香　白芍　炒丹皮　滑石　生藕</p>
<p>又：失血瘀凝下趨，黑糞自下，痰臭，脈浮大，肝絡陰臟已傷，氣不攝血，尚慮狂溢。</p>
<p>細生地　側柏　丹皮　鬱金　石決明　黑山梔　川貝　新絳　白芍　羚羊角</p>

<h1>卷下</h1>

<h2>三十六、咳嗽</h2>
<p>（案1）邵。肺為嬌臟，畏乎寒，更畏於熱，熱鬱肺金，皮毛焦熱，咳嗽痰臭，脈細數。缺盆下痛，病情見證，皆屬肺熱，治以甘寒，佐以辛苦。</p>
<p>冬瓜子　知母　羚羊角　杏仁　瓜蔞　鮮蘆根　米仁　桑白皮　通草　茅根</p>
<p>（案2）王。脾為生痰之源，肺為聚痰之器，久咳絡傷，曾先咯血，肺虛失清肅之令，乏制木之權，木反侮金，氣火浮肺，嗆甚。於亥戌寅卯木火用事之時，脈來右寸帶弦而數，法當清金制木。</p>
<p>北沙參　生蛤殼（青黛拌）　炙款冬　桑葉　橘紅　制玉竹　炙紫菀　水炙草　百合　山藥</p>
<p>（案3）萬。嗆甚於寅卯木旺之時，痰不易咯，脈象右寸關弦，此木入金鄉之候也。</p>
<p>炙紫菀　川貝　海浮石　蛤殼（青黛五分同打）　枇杷葉　杏仁　玉竹</p>
<p>（案4）董。酒客濕勝濕蒸生痰，風邪又感乎上焦，咳嗽延綿兩月，舌白口膩，溺赤便溏，濕邪內壅之徵，但脈象弦數，嗆獨甚於黃昏，乃木入金鄉，不易即愈。</p>
<p>桑葉　苡米　法夏　通草　瓜蔞　杏仁　橘紅　茯苓　淡苓　蛤殼</p>
<p>（案5）支。診脈右部弦數，甚於左部，咳嗽年餘，甚於晨昏，肝陰肝陽用事之時，乃木火上扣金鳴，金虛反受木侮，即《內經》所謂反侮其所不勝，木入金鄉之證也。宜清金平木。</p>
<p>蛤粉（青黛拌）　米仁　枇杷葉　蔞皮　川貝　杏仁　冬瓜子　山梔</p>
<p>又：右脈依然弦數，咳嗽，寅卯為甚，此木火上扣金鳴，金無制木之權，木反為金所侮，故一載不愈。欲制其木，必先清金；欲涵其木，必先壯水。姑與煎丸分治。</p>
<p>蛤粉（青黛拌）　川貝　通草　姜皮　麥冬　丹皮　知母　山梔</p>
<p>另服八仙長壽丸。</p>
<p>（案6）張。肺腎兩虧，咳嗽失血，甚於夜分木火升動之時，脈數虛弦，素有遺精之病，精遺則陰空，陰空則木失涵養，木火於是扣金。治宜益水之源，以養肝木。</p>
<p>大熟地　湘蓮　女貞子　川貝　杏仁　北沙參　玉竹　旱蓮草　山藥　炙草</p>
<p>（案7）仲。黃昏氣火浮與肺，咳嗆突甚，脈弦數，肝木上犯肺金也。</p>
<p>蛤粉　枇杷葉　川貝　杏仁　青黛（包）　海浮石　蔞皮　橘紅</p>
<p>（案8）陸。風寒鬱肺，偶食酸果，酸能收斂。咳嗽音閃，金實無聲也，脈遲細而澀，宜啟之。</p>
<p>枇杷葉　蘆衣　牛蒡　馬兜鈴　蔞皮　白杏仁　蟬衣　象貝　前胡　橘梗</p>
<p>（案9）薛。邪感於風池、風府，腦後痛，咳嗽、便泄、脈遲弦。以泄風化濕消痰。</p>
<p>桂枝　蘇子　法夏　陳皮　沉香曲　防風　杏仁　赤苓　澤瀉　荷葉</p>
<p>（案10）周。肝胃鬱熱，木火乘之，干嗆，眩暈，甚在昏暮，氣火浮肺，脈數弦長。木扣金鳴，慎防絡傷見血。</p>
<p>枇杷葉　杏仁　玉竹　蛤粉　蔞皮　川貝母　丹皮　沙參　青黛（包）　山梔</p>
<p>（案11）陸。三年前秋涼風冷襲肺，咳嗽至今，晨起嘔痰，痰黃咽癢。脈數，風邪久郁成熱，熱復與濕交蒸，煉液成痰，蘊蓄中焦，胸悶窒塞，久病邪郁，尚宜清泄。</p>
<p>桑葉　杏仁　牛蒡　竹茹　枳殼　甘草　前胡　象貝　蘇子　橘紅　茯苓</p>
<p>（案12）溫。陽明旺於未午後，灼熱脈數，溲黃，咳嗽，苔灰。肺胃濕鬱熱蒸不化，仍以清泄。</p>
<p>川黃連（鹽水炒）　杏仁　羚羊角　川鬱金　蘆根　黑山梔　丹皮　枇杷葉　川通草　滑石</p>
<p>（案13）金。上實下虛，咳嗽咽梗，腰痛如折，脈細，陰乏上承，肺氣痹阻，少陰陰虛也。</p>
<p>前胡　蔞皮　款冬　茯苓　甘草　杏仁　蘇子　象貝　橘紅</p>
<p>（案14）唐。肺脈弦數，咳嗆甚於天明，氣逆無痰，舌黃溲赤，木火上逆扣金，木入金鄉之候。《經》曰，五臟六腑皆令人咳，非獨肺也。</p>
<p>蛤粉（青黛拌）　杏仁　黑山梔　桑葉　肥玉竹　蘆根　枇杷葉　川貝　石決明　丹皮　冬瓜子</p>
<p>（案15）李。久咳，肺腎陰虧，咳嗆氣逆，腎陰虛不能上交心陽，心神恍惚，語言呆鈍，似乎健忘，脈細虛弦。治從肺心腎，蓋五臟六腑皆能令人咳也。</p>
<p>砂仁末（拌熟地）　海浮石　炙草　茯苓　沉香汁　橘紅　炒當歸身　紫石英　牡蠣　半夏　炒遠志　銀杏</p>
<p>（案16）邵。干嗆月餘，咽間不利，秋燥上加也。</p>
<p>冬桑葉　玉竹　杏仁　前胡　枇杷葉　紫菀　象貝　生草</p>

<h2>三十七、吐血</h2>
<p>（案1）朱。氣火上載，狂溢盈碗，吸短，咳嗆，胸悶，溲赤，舌苔灰白，脈來數疾無緒，血脫氣空，氣不攝血，有汗脫之象。勉擬血脫益氣，以冀血止。</p>
<p>人參　童便　旱蓮草　淮牛膝　大熟地　白芍　參三七　降香木　女貞子　側柏葉　炒蘇子　藕汁</p>
<p>（案2）錢。肝胃氣火載血上逆，狂溢，火升足冷，咳嗆，咽痛，脈數。陰空，氣逆，法以降逆，佐以益氣，因氣為血帥，失有形之血當培無形之氣，以生血也。</p>
<p>人參　參三七　石決明　女貞子　生藕汁　蘇子　生地　淮牛膝　炒丹皮　旱蓮草　降香汁</p>
<p>又：氣火上載陽絡，失血狂溢，溢則陰空，空則氣逆，脘為之悶，咳嗆咯痰白沫，脈來數疾，陰氣大傷，陽氣獨冒，法當潛陽育陰。</p>
<p>大熟地　洋參　女貞子　川貝　淮牛膝　大生地　麥冬　旱蓮草　白芍　白茯苓</p>
<p>（案3）俞。診脈兩關弦勁不和，肝胃絡傷，失血氣火上逆，咳嗆，脅痛。既經失血，肝營自虛，法當和養肝陰，佐以通絡理氣，氣和則血自降而火自平矣。</p>
<p>女貞子　旋覆花　鬱金　炒桃仁　川斛　旱蓮草　炒歸鬚　橘紅　薏苡仁　白芍</p>
<p>（案4）王。肝胃氣火上載，血溢頻頻，額熱足冷，咳嗽，脈數，溺赤。宗繆氏法治之。</p>
<p>鮮生地　參三七　川貝　白芍　蘇子　藕肉　石決明　淮牛膝　側柏　丹皮　降香　石斛</p>
<p>（案5）潘。詢病原，吐瀉後先見咳嗽，痰吐綠色，乃陽明濕熱蘊蒸津液所化。咳必傷絡，濕甚化熱，無形之氣迫其有形之血上泛狂溢，胸悶眩暈，脈沉數。上升之陽不降，下陷之陰已空，勢必漸吐漸瘀，一時難止。法當先降氣清營，氣降營清其血必止。</p>
<p>犀牛汁　丹皮炭　參三七　茅根　降香　鮮生地　丹參炭　淮牛膝　藕汁　蘇子</p>
<p>又：清營泄熱血溢稍止，咳嗆痰多，咽癢，氣火上逆未平，脈細數。仍以降氣並清營中之熱。</p>
<p>前方去丹參、茅根、蘇子，加側柏葉、知母炭、甘草炭</p>
<p>又：失血已止，血去陽升上冒，眩暈耳鳴，面赤足冷，少寢，脈數。此陰空陽越，最易血冒，況病者心常自憂病不能愈，但憂越甚則陽越升。務宜靜養為要，靜則陰生，而陽氣亦能自守矣。至囑至囑。</p>
<p>大生地　麥冬　石決明　人參　淮膝　白芍　炙草　炙龜板　鱉甲　靈磁石　童便　降香　茯神</p>
<p>另用附子扎湧泉穴。</p>
<p>（案6）蔣。夏至陽氣極甚，陰未來復，失血復發，痰中縷縷。眩暈，脈數，此係陽升所致。年近弱冠，務宜保真，孔子所謂血氣未定，戒之在色也。</p>
<p>大生地　參三七　白芍　藕節炭　元（玄）武版　女貞子　丹皮　川石斛</p>
<p>（案7）夏。中虛氣弱，氣不攝血，痰血兼集，咳嗽氣短，脈細弦遲。降氣建中，藥不應病。寒熱頭脹，失血已多，陽氣上逆，再以養肝降氣，以期血止。</p>
<p>旱蓮草　黨參　荷葉汁　參三七　蘇子　川石斛　女貞子　丹皮　生藕汁　側柏葉　降香</p>
<p>又：咳嗽痰穢，咯血已多。吸短，脈沉細緊。中寒，氣不攝血，與金匱法。</p>
<p>馬通灰　炮姜　生艾汁　降香　茯苓　側柏炭　人參　生藕汁　蘇子</p>
<p>（案8）朱。氣火載血上溢速行，震動陽絡。咳嗽咽癢，舌黃氣逆，脈弦。與繆氏法。</p>
<p>蘇子　鮮生地　決明　丹皮　川鬱金　生白芍　降香　參三七　牛膝　藕節　川貝母</p>
<p>（案9）李。屢次血發，氣陰兩虛，咳嗆氣逆，脈芤下虛，不納。法以攝下。</p>
<p>黨參　沉香　石斛　炙草　杏仁　熟地　黃耆　淮膝　海石　川貝</p>
<p>（案10）杜。失血後痰咯黃膿而臭，肺胃濕熱熏蒸，脈數。法以清化。</p>
<p>桑白皮　苡仁　馬兜鈴　蘆根　知母　杏仁　冬瓜子　川貝母　滑石</p>
<p>（案11）張。風溫咳嗽，膚熱陰虛，肺邪未楚也。</p>
<p>桑白皮　地骨皮　貝母　蔞皮　茯苓　丹皮　枇杷葉　杏仁　蛤殼　橘紅</p>
<p>（案12）沈。失血後狂溢，額熱舌白，脈芤。氣載上逆，肝胃絡熱，恐其血冒。</p>
<p>蘇子　羚羊角　龜板　炙草　茅根　參三七　降香　石決明　淮膝　生鮮地　側柏　旱蓮草　童便（沖）</p>
<p>又：肝胃血泛，狂溢。脈緩而芤。咳嗆，溲黃，氣火未平，陽絡乃傷。宜養肝陰，佐以降氣。</p>
<p>細生地　女貞子　淮牛膝　降香　茅根　茯苓　石決明　旱蓮草　川鬱金　蘇子　側柏</p>
<p>（案13）錢。失血止而復作，陽氣上逆，頭重足輕，咳嗽，脈弦數，溲赤，陽氣不潛，防其狂溢。</p>
<p>石決明　細生地　白芍　丹皮　鬱金　淮膝　羚羊角　參三七　藕節　側柏　茅根　降香</p>
<p>（案14）陸。咳嗽失血，月餘未止，勞力即吐。脈形遲滑，中虛，氣不攝血。治以益氣降氣，以氣為血帥也。</p>
<p>黨參　參三七　降香　甜杏仁　茯苓　蘇子　炙草　石決明　側柏　藕節炭　白芍</p>
<p>（案15）駱。氣火載血上溢，失血鮮明，脈數而疾，血泛，陰虛，熱鬱。以清營降氣，氣降血自歸經。</p>
<p>羚羊角　降香末　蘇子　側柏　石決明　鮮生地　參三七　淮膝　藕汁　炒丹皮</p>
<p>（案16）朱。操勞血發陽動內升，診脈數大，肝火載血上溢也。宜養陰平肝，使肝有藏血。</p>
<p>大生地　鱉甲　炒丹皮　女貞子　銀柴胡　白芍　北沙參　麥冬　參三七　旱蓮草　地骨皮</p>
<p>（案17）毛。微寒微熱，咳嗽失血；或在鼻中衄血，胸悶。風溫侵肺，陽氣上逆也。</p>
<p>羚羊角　石決明　川貝　茯神　枇杷葉　焦藕節　細生地　炒蘇子　知母　淮膝　炒丹皮</p>
<p>（案18）莊。失血後咳嗽，脈數，肺胃鬱熱未清，陰氣自虛，五心燔灼。以養營泄熱。</p>
<p>細生地　冬瓜子　杏仁　骨皮　蛤殼　炒丹皮　苡仁　蘆根　知母</p>
<p>（案19）徐。冬至一陽萌動，失血復發，陰不主守，陽不潛藏，脈數疾。以潛陽育陰。</p>
<p>龜板　大生地　蛤殼　女貞子　川石斛　天冬　牡丹皮　側柏　旱蓮草</p>
<p>（案20）葉。肝胃血泛，咯血屢發，陽絡乃傷。咳嗆痰多。診脈絃動，素有便血，脾臟亦傷，陰絡亦損。病經有年，陰陽二氣已困。土不生金，金火相刑。宜培中土，所謂上下失血當治其中也。</p>
<p>黨參　茯苓　川貝　蛤殼　旱蓮草　川石斛　白朮　炙草　橘紅　白芍　女貞子</p>
<p>（案21）沈。舞勺之年曾經失血，四年後復發。咽癢咳嗽，氣火上逆載血，以養肝清肺。</p>
<p>女貞子　北沙參　玉竹　杏仁　蛤殼　旱蓮子　川貝母　竹茹　川石斛　姜皮</p>
<p>（案22）朱。轟然背熱，血即泛出，足冷，督脈陽升上載血溢，黃昏咳嗆，脈芤數疾，舌剝苔黃，溲赤。陰虛絡熱，氣火上炎，慎防狂溢，治以潛陽。</p>
<p>生地　決明　女貞　牛膝　炒知母　龜板　鱉甲　旱蓮　丹皮　雞血藤膠</p>
<p>（案23）陳。素有便血，今又痰血，脈細弦。上下交病，當治其中。</p>
<p>炙草　黨參　降香　丹皮　藕節　白芍　白芨　玉竹　川貝</p>

<h2>三十八、虛損</h2>
<p>（案1）徐。曾經寒熱白㾦，原屬濕熱熏蒸於肺，是時咳嗽，延及於今，久咳不已，肺不生水，水氣不衡，腎氣上衝，不能偃臥。痰咯頗艱，味鹹。胸中窒塞，夜不安寐。便溏少納。一派陰空氣怯之象。肺、脾、腎三臟皆虛。肺主出而腎主納，腎不納氣，元海無根。脈來疾而轉指，全乏沖和之氣，乃陰極陽亢之脈，太剛必折。按證論脈，不外乎導氣歸元，收攝填納，氣若不平，恐其喘汗而脫。</p>
<p>人參（入橘紅五分同煎沖）　青鉛　麥門冬　紫石英　菟絲子　熟地（秋石水拌炒）　坎炁　蛤蚧尾　懷牛膝　北五味</p>
<p>（案2）俞。肋痛失血由於木火上載，血泛狂溢，血脫氣空，肝陽化風旋動，頭痛胸悶，少腹痛，皆是厥陰脈絡所過之地。火氣上逆扣金為咳，咽癢，脈弦，便溏，不但肝病，肺脾亦同病矣。面色無華，神氣消索，少納，火升陰虛而陽氣上潛，按證論脈，安得無咎？謂之入損，誰曰不然？擬和養肝陰、並潤肺和脾，以冀胃旺嗆減。</p>
<p>生地　川貝　麥冬　丹皮　女貞子　側柏　糯稻根鬚　玉竹　茯苓　扁豆　山藥　石決明　藕節</p>
<p>（案3）褚。積虛之陰不復，累及於陽，陽亦隨之而虛。畏寒肢冷，肢者，陽氣之本也。人身之陰陽樞紐不相失，乃可長生。一有所偏，百病即集，此自然之理也。邇有筋骨痠疼，手足屈伸不利，乃營虛不養筋脈，脈絡機關不束，病屬氣血大虛。治當大補氣血，與溫以煦陽、柔以和陰法。</p>
<p>人參　鹿角霜　菊花　阿膠　川斛　朱神　熟地　淡蓯蓉　杞子　首烏　歸身　杜仲</p>
<p>又：質薄如花，寒暄不耐，體虛，易於感冒，一有所觸，即病重如山。此由陽不外衛，營不內充，故面色枯槁，形容憔悴，舌白液干。脈細虛弱，四體百骸，僅存虛氣。《經》云：衛虛則惡寒，營虛則發熱；惡寒發熱，營衛俱虛也。夫營衛者，陰陽之基，水火之本也，二氣交虛，日就消爍。草木無情，豈能養身中真水火耶？姑議復脈湯救陽和陰，不過盡其治法而已。</p>
<p>炙草　阿膠（蛤粉炒）　麥冬　桂枝　雞子黃　人參　熟地　棗仁　乾薑</p>
<p>（案4）錢。失血後陰虛陽旺，膚熱灼手，咳嗽側眠，脈數疾，便溏。肺脾腎三臟皆虛，怯象大著。</p>
<p>生地　山藥　丹皮　川斛　杏仁　糯稻根　沙參　玉竹　茯苓　川貝　地骨皮</p>
<p>（案5）汪。失血後咽癢，咳嗆痰多，是氣火上爍，搏激肺金之液，與胃土之津皆化為痰。夜寐側眠稍可，已見臟陰先虧，又復寒熱，身中營衛亦偏，便溏溺赤，舌質微黃，脈數。陰氣已傷，損途可慮。</p>
<p>桂枝湯加西耆、歸身、茯苓、陳皮、半夏曲</p>
<p>（案6）曹。失血之後，陰氣大傷，則生肌熱、形憔肉削，肌膚甲錯，咳嗽便溏，溺赤少納，脈數。肺、脾、腎、三焦俱病，勞瘵如此，其何以堪。</p>
<p>北沙參　扁豆　米仁　山藥　冬蟲草　焦冬朮　穀芽　淡苓　骨皮　川石斛</p>
<p>又丸方：生洋參　麥冬　貝母　山藥　骨皮　大熟地　鱉甲　丹皮　川斛　茯苓</p>
<p>外用糯稻根鬚燉粥長服。</p>
<p>（案7）顧。入幕肌膚灼熱，夜來汗泄而解。脈細數，咳嗽痰多，氣急少納，便溏。肺脾腎三陰皆虛，虛勞大著。</p>
<p>生地黃　地骨皮　丹皮　扁豆　川貝母　川石斛　玉竹　雲苓</p>
<p>（案8）劉。誦讀身靜心勞，勞傷營氣，驚悸心宕，眩暈火升，虛里跳躍，病屬心肝久延，恐其失血遺精，擬養神志。</p>
<p>黨參　柏子仁　棗仁　菖蒲　龍眼肉　龜板　朱神　遠志　龍齒　黑歸脾丸（蓮心湯送）</p>
<p>（案9）女。室女經停，失血後側眠咳嗽，風陽上旋，巔痛潮熱，病情已成勞怯。須經事得通為要，近又足浮。治法養陰，佐以建中，以脾為生化之源也。</p>
<p>冬朮　麥冬　冬蟲草　白芍　丹皮　甘草　生地　山藥　生鱉甲　川斛　女珍（貞）　黨參</p>
<p>（案10）陳。呼出心與肺，吸入腎與肝，呼吸氣粗，肺氣虧而腎氣虛也。水虧不能上交心陽，時有少寐，驚悸，胃少納穀，脈數而疾，勞怯何疑。</p>
<p>大熟地　山藥　棗仁　龍齒　黨參　炙龜板　遠志　牡蠣　菟絲</p>
<p>（案11）顧。肝膽相火直上直下，上則失血，下則遺泄，脈數，咳嗆。肺腎陰虛，勞怯之根也。</p>
<p>羚羊角　丹皮　山梔　茅根　杏仁　細生地　川貝　藕節　側柏　蛤殼</p>
<p>（案12）程。操事勞心，神機曲運，心不生血，血不養肝，肝陽木火上逆，頭眩，耳鳴，心悸，吞酸。寐則舌乾咽痛，少陰陰乏，上承心脾，營血皆虧，病來由漸，愈亦未易也。</p>
<p>人參　麥冬　棗仁　白芍　柏子仁　元參　生地　阿膠（蛤粉炒）　丹皮　牡蠣　人中白</p>
<p>（案13）朱。失血後陰虧陽亢，咳嗆，潮熱，脈數疾。便溏，舌光咽乾。肺脾腎三焦皆損。勞怯已成。冬至一陽生，恐其增重。</p>
<p>大生地　北沙參　生鱉甲　丹皮　扁豆　川斛　麥門冬　銀柴胡　地骨皮　山藥　穀芽</p>
<p>（案14）蔡。陰虛火焰爍金，喉痹，咽乾，音嘶，脈數，肌灼。精搖乎夢，龍雷不靜，肺腎陰傷，勞怯難免。</p>
<p>生地　沙參　蓮鬚　麥冬　元參　丹皮　龜板　山藥　芡實　霍斛　人中白　甘草</p>
<p>（案15）孫。失血之後肺腎暗虛，金不生水，水乏上承，陰氣不立，少火悉成壯火，消爍陰津，口糜舌乾咽痛，脈數，溲赤。況當春令，陽氣極升，萬花爛熳之時，身中陰氣正涸。勉擬甘涼生津、鹹寒益腎，冀壯水以制陽光也。</p>
<p>西洋參　麥冬　梨汁　阿膠　燕窩屑　鮮生地　石斛　蔗汁　元參　淡秋石</p>
<p>（案16）陳。寒熱延久，營衛氣偏，衛疏陽微，易於客感。且有夢泄、盜汗，陽為之虛，陰為之弱，脈虛數，恐其因病入損。</p>
<p>川桂枝　冬朮　浮麥　茯神　歸身　生西耆　甘草　紅棗　白芍　糯稻根</p>
<p>（案17）孟。溫邪寒熱又兼利下，陰氣重傷，肛瘍成潰。咳嗽多痰。脈來數疾，陰虛挾濕熱，恐其見血成勞。</p>
<p>西洋參　川斛　茯苓　陳皮　鮮生地　宋夏　杏仁　穀芽　帶心麥冬</p>
<p>（案18）張。深秋燥氣上加，肺失清肅，咳嗽遂作，至今未愈，肺傷液化為痰，絡傷血溢，血後陰傷，陰傷盜汗，胃呆便溏，寒熱時作，此上損及下，下損及中，損過中焦，則為不治。姑以甘藥扶持胃口，使中流有砥柱，乃可土旺生金，益陰再議。</p>
<p>南沙參　山藥　茯苓　炙草　川斛　生穀芽　麥門冬　扁豆　宋夏　淮麥　紅棗　熟穀芽</p>
<p>（案19）蔡。露秋燥氣上臨郁肺，肺氣失宣，遂為咳嗆，嗆甚絡傷失血。右肩絡痹，痠痛不舉，脈沉數，舌黃膩，時或泛水，陽明不和，脾弱不運，液化痰涎上泛，病在肺胃，脈象陰虛，按證論脈，有入損之慮。</p>
<p>北沙參　旋覆花　米仁　宋夏　橘皮　甜冬朮　片薑黃　杏仁　茯苓　竹茹</p>
<p>（案20）龔。痧後咳嗽，肌膚如烙，脈數疾，便溏黏膩，溫邪兼涼秋燥氣蘊伏肺胃，延及一載。陰氣為熱氣消爍，汗泄乎寐際。此炎蒸金不敵火，童子痧勞，理之不易。</p>
<p>羚羊角　桑皮　知母　黃芩　糯米　粉丹皮　杏仁　生地　甘草　蘆根</p>
<p>（案21）吳。閱病原起於風寒襲肺，咳嗆，肺與大腸為表裡，寒熱之餘，風邪下陷，泄瀉、腹鳴且痛。寒熱時作，久熱陰傷，盜汗。胃氣漸呆。脈來數疾，舌紅尖刺。一損在肺，二損在脾，三損在腎，肺、脾、腎、三焦同病，因病成勞，證屬棘手，既承跋涉遠來，姑擬東垣法，升泄下陷風邪，以冀泄止，庶或少有把握。</p>
<p>升陽益胃湯，去薑、參，用洋參，柴胡用鱉血拌。</p>
<p>（案22）張。冬至一陽生動，陽氣上逆，失血復發。嗆逆側眠為甚。潮熱盜汗火升。脈虛數疾，嗌乾，肺腎陰虛，有入損之慮。</p>
<p>細生地　銀柴胡　川貝　秦艽　丹皮　甘草　紅棗　南沙參　生鱉甲　骨皮　羚羊　麥冬　淮麥</p>
<p>（案23）吳。腎虛氣不收攝，動則氣舞，咳逆，溲多，脈弦大。肝腎兩虧，治以納氣歸腎。</p>
<p>棋子青鉛　山萸肉　浮石　杞子　麥冬　炙草　大熟地（沉香末拌）　牡蠣　蛤蚧　淮麥　歸身</p>

<h2>三十九、喉痹</h2>
<p>（案1）郁。《經》曰：「一陰一陽結，謂之喉痹。」一陰者，少陰君火；一陽者，少陽相火也，君相二火紐結，上焦上熏。咽痛，紅絲縷縷，日晡潮熱，脈象左寸獨弦，顯然金水兩虛，虛不制火。法當壯水之源，以制陽光。但病來一載，損怯之根已深矣。</p>
<p>生洋參　淡秋石　元武版　熟地　元參　杜阿膠　干霍斛　雞子清　玉竹</p>
<p>又：金水兩虛，虛不制火，火炎金傷，發為喉痹，紅腫嗌乾，日晡潮熱，少寐，脈沉細。此陰氣久耗，元陽不潛，法必先滋其陰，壯其水，水旺乃可制火，火制則君相自安，水火交而成泰矣。</p>
<p>熟地　炙龜板　丹參　十大功勞　生草　洋參　淡秋石　元參　雞子清　麥冬</p>
<p>另用豬膚刮去油，令如紙薄，入糯米粉煮粥，臨食時入煉熟白蜜一匙。</p>
<p>（案2）胡。久咳肺腎陰虛，咽痛，由來三載，煩勞為甚，經事乍停乍止，脈滑而數。少陽相火上煽，喉痹已成，病入損途一門矣。</p>
<p>桑葉　馬兜鈴　桔梗　海浮石　人中白　丹皮　牛蒡子　杏仁　生甘草　白糯米</p>
<p>轉方：加阿膠、元參</p>
<p>（案3）周。一陰一陽結謂之喉痹，一陰少陰也，一陽少陽也，木火上逆，炎上衝肺，喉痹，紅絲縷縷，肺失清肅，濕鬱不化，內蒸生熱，舌苔灰黃，脈細，溲赤。先以輕揚清上。</p>
<p>桑皮　杏仁　滑石　馬兜鈴　元參　丹皮　通草　蘆根　生甘草　燈心</p>
<p>又吹藥用：薄荷　青黛　洋參　桔梗　生草　馬勃　硼砂　西瓜硝</p>

<h2>四十、失音</h2>
<p>（案1）林。金空則鳴，金實無聲，金破亦無聲，是失音有虛邪，實邪。病起卒然，決非虛證。咳嗽痰多，咽鳴喉癢，脈虛數。肺失清肅，陰乏上承，病情漸恐入怯。然上焦清肅失職，藥宜輕清。宗錢仲陽法，佐以咽痛生瘡例治之。</p>
<p>補肺阿膠散，加訶子肉、蘆根、蟬衣</p>
<p>另用生雞蛋一枚，去黃留清，入苦酒調和，納入姜半夏十四枚，切碎，將殼置炭火上煎，數沸傾出，時時含咽。</p>
<p>（案2）吳。《靈樞經》曰：「寒氣客於會厭，故卒然無音也。」診脈遲而緊大，以清揚開肺法。</p>
<p>蜜炙麻黃　杏仁　象貝　桔梗　馬兜鈴　射干　蟬衣　甘草</p>
<p>（案3）陸。風寒鬱肺，飲酸，酸能收斂，咳嗽失音，右寸脈遲細而澀。此金實無聲也。</p>
<p>枇杷葉　蟬衣　蔞皮　杏仁　馬兜鈴　象貝母　前胡　鼠黏　桔梗</p>

<h2>四十一、咽痛</h2>
<p>（案1）黃。陰虛體質，感受風邪，曾先咽痛滋腐，繼又伏邪為瘧，瘧雖止肌膚灼熱，咳嗽，痰咯白沫，脈象軟弦而數。肺胃兩傷，陰氣拖虛，漸延至怯。法以清肅上焦，以冀熱止嗽緩為幸。</p>
<p>桑葉　馬勃　杏仁　人中白　枇杷葉　丹皮　川貝　生草　地骨皮　茯苓</p>
<p>另用製半夏十四枚，雞子一枚去黃留清，入半夏、醋和，置火上，煎數沸，稍含咽。</p>
<p>又吹藥方：馬勃　甘蔗皮灰　人中白　雞內金　冰片　蒲黃灰　飛雄黃　生草　白芥子　熟附子　半夏　陳皮　神術丸　乾薑　茯苓</p>
<p>（案2）夏。肺有宿飲，遇寒即發，咳逆氣衝，痰中帶血，脈弦不得臥，此肺腎為病。肺腎子母之臟，肺主出氣，腎主納氣，氣不收攝，由是而氣衝也。治當清上，先治其標，次當培本。</p>
<p>蘇子　白石英　海浮石　白芨　茯苓　桑葉　款冬花　銀杏肉　橘紅　象貝</p>
<p>（案3）汪。脾為生痰之源，肺為聚痰之器，腎氣上逆，痰亦隨之而升，氣升逆痰，味鹹，脈細沉數，腹中覺脹，此肺脾腎為病，暫與泄降法。</p>
<p>炒蘇子　冬瓜子　前胡　海浮石　橘紅　白芥子　瓦楞子　冬花　銀杏肉　炙草</p>
<p>（案4）李。下虛上實，積飲，哮喘咳嗽，痰咯白沫，脈遲。寒飲蓄積所致。法當宗生生子。</p>
<p>白芥子　蘇子　桂皮　海浮石　銀杏肉　前胡　萊菔子　法夏　橘紅　炒歸身　炙草</p>
<p>服丸方：羊肺（一具，洗淨，入生薑汁二兩，麻黃一兩，兩味入肺管中，扎管口煎熟，待湯干切片，烘乾研細末）　桂枝　乾薑　細辛　法夏　白芍　炙草　五味　沉香　白芥子　萊菔子　紫蘇子　茯苓</p>
<p>共為細末，用銀杏肉四兩煎湯泛丸，每日開水送下。</p>
<p>（案5）王。陽明積飲，肝木乘之。脘中痛，嘔吐痰涎，三年頻發。脈來遲滑，中虛。痰飲，肝胃不和也。</p>
<p>桂枝　白朮（枳實五分炒）　法夏　乾薑（川連炒）　青皮　茯苓　炙草　橘紅　薑汁　麥芽</p>
<p>（案6）任。中陽積飲，心悸脈弦，脘痛，漉漉有聲。以剛藥劫胃水法。</p>
<p>吳萸　乾薑　法夏　茯苓　七香餅　神術丸　橘紅　蓽澄茄　澤瀉</p>
<p>（案7）沈。寒飲積中，漉漉有聲，嘔苦吐酸，舌白脈遲弦，氣從少腹上升，病由肝胃，泄木通降為宜。</p>
<p>金福花　左金丸　青皮　陳皮　薑汁　代赭石　生茅朮　枳實　茯苓</p>
<p>（案8）楊。去秋吐血之後，咳嗆，嘔吐白沫，動則氣舞，脈細沉數。積飲在肺，肺腎兩虛，治痰在肺，治虛在腎。</p>
<p>茯苓　萊菔子　法夏　海浮石　冬花　蘇子（炒）　白芥子　炙草　銀杏肉　金水六君丸</p>
<p>（案9）張。土敗木戕，陽衰不振，致飲積中陽，漉漉有聲，少納䐜脹，飲食入胃，蒸變酸濁腐穢，下午為甚，日中而陽氣隆尚可支持，日西而陽氣衰陰邪用事，故病增劇。脈象遲弦，便溏，脾胃中焦一派陰霾濁聚，若非離照當空，剛藥劫飲直搗堅冰之地，陰邪何能退避。</p>
<p>附子　桂枝　陳皮　牡蠣　澤瀉　乾薑　白朮　枳實　法夏　茅朮（麻油炒）</p>
<p>又：剛藥劫飲復陽，病減，脈弦已退，遲細仍然，此久病所致。少納䐜脹，漉漉有聲，仍在入暮陰氣甚時，飲邪屬陰，陰與陰合，故病增劇矣。通陽蠲飲，振復坤陽，是合病之法也。</p>
<p>附子理中湯加桂枝、茅朮、枳實、牡蠣、法夏、白芍、苓皮、澤瀉</p>
<p>（案10）王。下虛上實，咳逆，兩目雞盲，肺有積飲，腎中暗虧，以景岳法。</p>
<p>熟地　牡蠣　夜明沙　陳皮　茯苓　蘇子　歸身　法夏　海浮石　炙草　澤瀉</p>
<p>（案11）唐。中焦失於升降，得食噯噫，食不速運，心悸，陽明有飲也。</p>
<p>枳朮丸　姜皮　陳皮　茯苓　老蘇梗　神麯　麥芽</p>

<h2>四十二、哮喘</h2>
<p>（案1）馬。痰哮遇寒而發，遇熱亦發，肺為嬌臟，畏乎寒更畏乎熱。痰鳴喘迫，脈象見數。法當苦以降之，辛以泄之。</p>
<p>蘇子　萊菔子　白芍　茯苓　瓜蔞　白芥子　葶藶子　杏仁　浮石</p>
<p>（案2）謝。風痰哮喘，痰鳴氣舞，似痢非痢，休息七年。上下交病，當治其中。</p>
<p>蘇子　甘草　茯苓　冬花　銀杏　桂枝　當歸　白芍　前胡</p>
<p>（案3）陳。寒風兼受，蘊伏肺底，哮喘五年，越發越勤，脈遲虛細。發則寒熱，汗亦不解，喘亦漸除，顯然內蘊之邪從表而泄，此邪之蘊伏何疑。宜先撤其風寒，然後培補，譬如逐賊，賊出可關門也。</p>
<p>麻黃　法夏　桂枝　蘇子　杏仁　桑皮　甘草　銀杏</p>
<p>又：哮喘五年，發時寒熱，此風寒之伏於肺底，不得宣達也。診脈遲而弦勁，邪未撤而欲補之，不但無益，反致邪蘊。宜搜剔其邪，是治病之本也。</p>
<p>小青龍湯</p>
<p>（案4）俞。六齡幼童哮喘三年，詢病起於誤飲，火酒嗆肺，遂有是證。肺受辛辣所傷。</p>
<p>蘇子　桑皮　蔞皮　法夏　銀杏　前胡　枳殼　浮石　甘草　茯苓</p>

<h2>四十三、腫脹（附臌）</h2>
<p>（案1）顧。腎為胃關，關門不利，聚水而從其類也。診脈遲弦，一身悉腫，便溏溲少，口乾納少，䐜脹，脾腎陽虛，濕困水氣，橫溢肌肉，慎防喘逆。</p>
<p>附子　腹皮　冬瓜皮　苓皮　米仁　白朮　小樸　葶藶子　陳皮　澤瀉</p>
<p>（案2）萬。脾虛不能行運，水穀之濕阻遏流行氣機，濕蒸化熱，氤氳傷脾。筋青臍突，溲少便溏，脈沉數。土虛不能敵木，木火上衝犯肺，干嗆。脾為本，肝為標，治其脾，求本之法也。</p>
<p>白朮　青皮　澤瀉　雞內金　敗鼓皮　川連　麥芽　腹皮　炙蟾皮　茯苓皮　小溫中丸</p>
<p>（案3）林。脾胃濕熱蘊蒸發黃，遂致脾傷不運，腹大䐜脹，囊腫，小便涓滴，大便閉塞，脈象遲弦。水氣流溢肌肉，一身悉腫，不易理者。議開太陽一法，分清濕熱。</p>
<p>川桂枝　白朮　赤苓　杏仁　茵陳　海金砂　生茅朮　豬苓　腹皮　澤瀉　通草　小溫中丸</p>
<p>（案4）吳。閱病原：昔年三瘧，不忌葷腥，脾陽從此日困。飲食水穀之濕與痰血凝聚成瘀，結於腹左，遂成腫滿。開泄放水三次，至今腹大依然，杳不思谷，脾胃生陽已敗。脈象沉細無神。既承跋涉遠來，勉擬以慰望治。</p>
<p>熟附子　帶皮苓　砂仁　陳皮　歸身　焦白朮　大腹皮　穀芽　白芍　青皮</p>
<p>另：禹糧丸（三錢）　開水送下。</p>
<p>（案5）楊。開太陽小便得利，益腎陽水氣漸消。脈虛弦。前法既合，無庸更張。</p>
<p>附子　白朮　防己　豬苓　杏仁　葶藶　桂皮　苓皮　澤瀉　桑皮　陳皮　牡蠣</p>
<p>金匱腎氣丸　禹餘糧丸</p>
<p>又：起則腫甚，臥則腫緩，明是氣虛挾濕未化也。</p>
<p>黨參　炙西耆　白朮　歸身　陳皮　海金沙　萊菔子　川樸　腹皮　白芍　青皮　細木通</p>
<p>（案6）姜。暑濕熱渾蒸中陽，脾不化濕，水氣逆趨肌肉，自下腫上，囊大，脈數，舌紅咽悶，咳嗽。濕熱蔓延三焦氣分，慎防厥逆。</p>
<p>鹽水炒川連　杏仁　腹皮　葶藶　山梔　木防己　桑皮　苓皮　滑石</p>
<p>小溫中丸　陳皮湯送。</p>
<p>（案7）孔。暴腹脹大，皆屬於熱，脾濕內蘊，蘊蒸不化，腹脹溲赤，便艱，脈弦數。臌脹已成也。</p>
<p>川連　澤瀉　六曲　砂仁殼　苓皮　米仁　川樸　腹皮　陳皮　炙蟾皮　青皮</p>
<p>小溫中丸　陳皮湯送。</p>
<p>（案8）潘。脾陽濕困，肝木乘之。脈弦。單腹脹大，臍突，背平，青筋已起，理之不易。</p>
<p>制小樸　腹皮　苓皮　米仁　敗鼓皮　澤瀉　白朮　砂仁末　雞矢白（一兩，炙乾，陳酒煎沖）</p>
<p>（案9）盛。腫脹久延，一身悉腫，小便不利，脈沉，水氣泛溢，逆趨肌肉，氣化不利。理之不易。</p>
<p>川桂枝　杏仁　茯苓　大腹絨　澤瀉　葶藶子（炒）　米仁　豬苓　浮萍草</p>
<p>（案10）趙。從下腫上，而甚於下，陰囊更甚。小便不利，大便艱澀，咳嗆。水氣不能下輸膀胱，氣化不宣。脈數，口渴。不易理者。</p>
<p>甜葶藶　滑石　紫菀　木通　山梔　桑白皮　杏仁　豬苓　澤瀉　苓皮</p>
<p>東坡滋腎丸</p>
<p>（案11）周。從上腫下，囊下為甚，便溏溲少，脈弦數。此風水為病也，勿輕視之。</p>
<p>浮萍草　防己　豬苓　陳皮　通天草　葶藶子　腹皮　澤瀉　米仁　陳麥柴</p>
<p>（案12）陳。腫脹咳逆不得臥，氣促，溺少，胸悶，腹膨，脈沉弦細。病由肺風脾濕逆走肉裡，腫脹已成之候也。</p>
<p>葶藶子　桑白皮　浮萍草　米仁　杏仁　炙紫菀　冬瓜皮　茯苓皮　澤瀉　通草</p>
<p>又：喘急稍平，不能右眠，肺氣不降，小便稍利，大便溏薄，脈沉數，惡風，腫勢面部依然，當實肝泄肺。</p>
<p>桑白皮　紫菀　白朮　防己　米仁　澤瀉　五加皮　杏仁　茯苓　川樸　通草</p>
<p>（案13）朱。外瘍未愈，又感風邪，與內蘊之濕相搏。足浮，囊大，身熱，咳嗽，氣逆，便溏，溲赤，脈數實。風襲於肺，濕伏於脾，為水腫病也。</p>
<p>五皮飲去姜皮、骨皮，加陳皮、桑白皮、前胡、紫菀、杏仁、通草、滑石</p>
<p>（案14）蔣。風水一身悉腫，咳嗽，惡風，胸悶，氣急，脈數。病在腎本肺標，理之不易。</p>
<p>桑白皮　川樸　紫菀　杏仁　澤瀉　大腹皮　米仁　茯苓　陳皮</p>
<p>（案15）唐。昔年失血，雖經調理而愈，去夏腹滿氣脹，左右腹結癖。左是瘧母，右屬瘧氣，脾積至今未得消散。近又腹脹而痛，曾下黑糞瘀血。脈弦細，系肝脾瘀凝，痰濕鳩聚互結。病已有年，根深蒂固，未能一擊可破，恐有單腹血臌之慮。且進溫通，以脾為陰臟，得陽乃運耳。</p>
<p>肉桂　益智　雞內金　萊菔子　茯苓　白朮　山藥　枳實炭　砂仁末　山楂</p>
<p>又：進溫通疏補，中脘突形滿勢似乎漸平，痛亦稍減，而䐜脹仍然。診脈弦細。此脾濕日踞，阻塞中焦，流運之機越痞，升降不利，乾運之陽不振。必得陽通濁泄，庶幾痞氣漸消。</p>
<p>乾薑　肉桂　香櫞皮　枳實炭　白朮　山楂　檳榔汁　雞內金　益智仁</p>
<p>又：肝之氣不疏泄，脾之氣不健運，肝脾兩鬱而不行，由乎濁痹，則陽不通，流脘中結痞，䐜脹且痛。脈弦滯而軟，便溏，此肝脾為病也。《內經》曰：「堅者削之。」其痞氣已消，佳兆也。前法已合，仍宜守之。</p>
<p>吳萸　乾薑　白朮　雞內金　九孔子　檳榔　肉桂　益智　香附　焦山楂　小青皮</p>
<p>（案16）駱。肝傷腹大，由來兩載，近又便溏，大腹依然，而朝寬暮急，此脾陽傷肝，陰亦隨之而弱。前法疏補，病情不見所長。此久困之中宮，一時本難恢復，然脾胃為倉廩之官，治法不越乎非通即運。擬鼓舞坤陽，覘其腫勢何如，以消息之。</p>
<p>焦白朮　雞內金　青皮　炮姜　茯苓皮　煨益智　焦穀芽　白芍　腹皮　香砂六君子丸</p>
<p>（案17）李。曾先寒熱，繼則發黃，續又䐜脹腹滿，乃無形濕邪蘊蓄於太陰、陽明，鬱蒸不化，以致脾傷失於運用。小便不利，大便反快。一派無形無質之邪瀰漫於中，為中滿重證，非易愈也。</p>
<p>焦白朮　川樸　豬苓　澤瀉　陳皮　綿茵陳　六曲　米仁　茯苓　小溫中丸</p>
<p>（案18）徐。腹滿，背平，臍突，氣急，囊腫，脈沉遲弦，便溏，溺赤。此脾陽不運，水濕無以運行，真陽火衰，病屬腫脹不易理者。</p>
<p>川桂枝　五加皮　苓皮　陳皮　澤瀉　焦白朮　大腹絨　姜皮　豬苓　金匱腎氣丸</p>
<p>（案19）龔。三陰久瘧傷肝，肝傷運行失常，中焦蘊伏之濕內漬不化，溢於肌肉，遂為浮腫，朝寬暮急，病在營分。大便或溏或泄，寒熱或作或休，瘧熱之表邪雖經紊亂，內蘊之寒濕尚未外泄。舌白濁，喜熱飲，脈細軟滑。脾胃之陽濕漬而困，營血之陰隨病而虛，如此病情大為棘手。</p>
<p>附子理中湯去甘草、姜，加黃明膠、肉桂、川樸、陳皮</p>
<p>（案20）何。無形濕熱困中，中虛脾不健運，少納，脹滿，大便溏結不定，脈數心悸，中焦升降失常，有腫滿之象，仿朱丹溪法。</p>
<p>白朮　山梔　神麯　陳皮　麥芽　川連　香附　針砂　米仁</p>
<p>（案21）錢。脾病善噫，胃病善脹，脾不升則運遲，胃不降則納少，由是而清濁混亂，上為頭眩，下為便溏，噯噫腹脹中滿之症來矣。法以補瀉兼施。</p>
<p>白朮　炮姜　陳皮　神麯　雞內金　香櫞皮　茅朮　砂仁　茯苓　麥芽　乾荷葉</p>
<p>（案22）王。脾腎陽虛，濕困不運，肌浮，少腹膨滿，便溏溲短。此屬陽衰，法當運肝腎，助火生土。</p>
<p>人參　附子　黃明膠　穀芽　茯苓　於術　扁豆　菟絲子　陳皮　澤瀉</p>
<p>（案23）方。條暢肝脾，依然腹滿，脈象弦長不和，木旺土衰無疑，每晨必便，便後腹覺鬆動，不但脾病，腑亦病矣。</p>
<p>冬朮　川樸　砂仁殼　麥仁　苓皮　白芍　青皮　香櫞皮　神麯　腹皮</p>

<h2>四十四、黃癉</h2>
<p>（案1）呂。黃癉入腹，漸次腫腹。進分消之法，腫勢漸鬆，而囊大更甚。乃屬水氣下趨，不能通調水道，因之便溏溺少。病情不但脾傷，三焦亦失如露、如漚、如瀆之機。腰以下腫甚者，當利小便。</p>
<p>桂枝　豬苓　澤瀉　川椒目　川樸　車前子　白芍　赤苓　茵陳　川牛膝　腹皮</p>
<p>丹溪小溫中丸　伐木丸</p>
<p>又：黃癉入腹，開支河而色脹，隨瀉隨退，不無脾陽受傷，陰氣耗奪，故寐則嗌乾，手足心熱，治從脾胃。</p>
<p>白朮　黨參　茯苓　菟絲子　熟地　歸身　白芍　陳皮</p>
<p>（案2）曹。黃癉已退，濕熱未化，咳嗽，便溏，小溲不爽。再以分泄，使濕熱無形之氣，化於烏有之鄉。</p>
<p>杏仁　茅朮　川牛膝　米仁　防己　桑皮　川萆薢　蠶沙</p>

<h2>四十五、便血</h2>
<p>（案1）褚。昔年似利非利，系脾積阻滯，繼則便行時或帶血，脾失守禦。仲聖主以黃土湯；《濟生》主以歸脾湯，引血歸經，皆治遠血之法，便時後重，乃脾氣下陷，血亦隨之而下滲也，暫與東垣法。</p>
<p>黨參　炙耆　升麻　歸身　地榆　冬朮　陳皮　茯苓　炮姜　炙草</p>
<p>又：便血原系濕熱上及中焦，迫血下滲，血止濕邪未化。胃呆，目黃。無形無質之邪留戀不去，治以疏補淡滲。</p>
<p>黨參　歸身　茯苓　蔻仁　半夏曲　冬朮　川斛　澤瀉　神麯　麥芽</p>
<p>（案2）幼。飲食不節，致傷脾胃，血溢於腸胃，陰絡傷也。</p>
<p>槐米　焦白朮　淡苓　木香　炒荊芥　地榆　焦歸身　茯苓　枳實　歸脾丸</p>
<p>（案3）陳。濕熱腸紅腹痛，澼澼不爽，紫赤兼行，脈數，病經年餘，飲食如常，非不足之症，乃濕熱交逼，血滲下行也。</p>
<p>炒芩　地榆　澤瀉　蒲黃炭　白朮　槐米　柿餅　丹皮　炒荊芥</p>
<p>（案4）莊。腸紅三載，腹痛，血紫，神疲，色萎。經阻三年，脾虛生化無權，營陰暗耗，肝不藏血，脾不統血，所以經停也，先治便血。</p>
<p>焦茅木　炒歸身　焦白朮（防風炒）　地榆炭　米仁　伏龍干　苓皮　黃明膠（蒲黃炒）　荊芥炭</p>
<p>（案5）陸。暑濕風渾蒸中焦，身熱之下觸發便血，腹鳴且痛，初色淡，後鮮紅，脾虛、營血為濕所逼迫而下滲。脾陽呆鈍，早食葷腥，致身熱復作。脈弦口乾舌白，法以養營化濕。</p>
<p>焦白朮　白芍　赤豆　木香　地榆　炒歸身　炒芩　荊芥　煨葛　炙草</p>
<p>（案6）張。脾不統血，肝不藏血。血液下滲，而為腸紅，或紫或鮮，其色不一，脈弦。肝脾兩傷。法以引血歸經。</p>
<p>濟生歸脾湯去龍眼，加蒲黃炭、赤豆</p>
<p>（案7）錢。便血紅紫不定，腹中鳴響且痛，脫肛，疝氣，脈弦。治從肝脾。</p>
<p>吳萸　川芎　歸身　橘核　地榆炭　川楝　荊芥　木香　山楂　駐車丸</p>
<p>（案8）張。便血六年，營虛脾損，腹痛，血紫，舌光且紅，脈虛數，少納，溲赤。中焦濕鬱，面腫足浮，近有寒熱似瘧，伏邪乘虛而發也。</p>
<p>補中益氣加赤苓、澤瀉、炮薑、米仁、地榆</p>

<h2>四十六、遺精</h2>
<p>（案1）周。君火易動，陽易舉，精易泄，陰愈虛，火愈動，精愈泄，溺愈頻，此肝之疏泄太過，腎之制藏不職也。宜溫腎涼肝，以肝寄相火也。</p>
<p>丹溪大補陰丸加熟地、丹皮、澤瀉、牡蠣、山梔</p>
<p>（案2）張。心陽不能下交於腎，腎陰不克上承於心，水火不交，水虧火熾，咽為之痹，心中如宕。每便勢掙，精泄、精滑不固已十餘年。思有形之精必藉無形之氣以自固。法當補氣，氣足則神完，神完則精固；若泛泛澀精，恐無當久病之治法。</p>
<p>人參　生龜板　龍骨　茯神　熟地　遠志肉　芡實　金櫻子</p>
<p>另服丸方：人參　龍骨　金櫻子　芡實　升麻　蓮子心　龜板膠　熟地　牡蠣　川黃柏　遠志　五味　豬脊筋</p>
<p>（案3）孫。心腎陰虛，坎離不交，陰乏上承，嗌乾，眩暈，時或傾爐覆舟，遂致精關不固。胃氣少納，腎開則胃合，陰虧則陽浮，病情已非朝夕，藥惟交泰心腎三才封髓丹。</p>
<p>天冬　西洋參　砂仁　牡蠣　蓮子心　澤瀉　熟地　炒川柏　龍骨　芡實　金櫻子</p>
<p>（案4）曹。無夢遺泄屬腎虛，腰臂痠痛，脈象虛弦。治法不外乎固其精關。</p>
<p>熟地　鱉甲　牡蠣　女貞子　石蓮子　生地　龜板　龍骨　旱蓮草　陳芡實</p>
<p>（案5）孫。頭痛，足浮，心悸，夢泄，嬰兒奼女，獨少黃婆作伐也。欲交心腎，當治中黃。</p>
<p>濟生黑歸脾丸加牡蠣、龍骨</p>
<p>復診：加金鎖固精丸。</p>
<p>（案6）王。無形濕熱下注於陰，迫其有形之精下滲，而為遺泄，小溲濁而且赤，莖管疼痛，四肢瘡瘍，太陰之濕流入腎經也。</p>
<p>茅朮　川柏　地膚子　苦參　粉萆薢　白蘚皮　車前子　茯苓　澤瀉</p>
<p>（案7）吳。心君一動相火隨之而施泄，時或傾爐覆舟。腎陰即耗，陰火上熾鑠金，為咳痰壅，肺氣自虛，盜母氣自益。土衰神疲，四肢乏力，便溏，木失水涵，厥陽變化內風上旋，頭眩耳鳴。病本在腎，他臟皆末。今診脈象，數大而疾，舌質碎紅裂紋，一派陰火虛陽上逆。所幸胃氣尚強，可以攝納，所謂壯水之源以制陽光。</p>
<p>大補陰丸加丹皮、澤瀉、蓮肉、山藥、菊花、女貞子、茯神</p>
<p>（案8）夏。痃瘧傷陰，得轉日作而愈。肩胛、兩足畏寒，得暖即解。易於汗泄。仍有驚悸自遺，夢饜乃汗泄過多，心陰神魂不安也。病情陰傷及陽，治當兼顧。</p>
<p>高麗參　小川芎　茯苓　龍齒　西耆（桂枝同炒）　歸身　制首烏　柏子仁　茯神　牡蠣　鱉甲　棗仁</p>

<h2>四十七、遺尿</h2>
<p>（案1）俞。腎陽虛，氣不約束，小便日淋滴，夜則自遺。此根本薄弱，陰虧，陽失其基。</p>
<p>鹿角霜　甘杞子　覆盆子　韭菜籽　牡蠣　雞金　大熟地　桑螵蛸　破故紙　益智仁　雞腸</p>
<p>又：先天不足，腎陽暗虧，氣不收攝，小便淋滴，寐則遺尿，陰虧陽虛，膀胱不約。宜溫補腎陽，兼升督脈。</p>
<p>毛鹿角　覆盆子　杞子　牡蠣　龍骨　雞金　桑螵蛸　益智仁　熟地　故紙　雞肝　雞腸</p>
<p>（案2）姚。先天稟賦質薄，內熱遺尿，脈數，以養陰固攝。</p>
<p>大生地　蓮肉　地骨皮　雞腸　桑螵蛸　牡蠣　川石斛　雞肝</p>

<h2>四十八、強中</h2>
<p>（案1）金。素體陰虛濕熱，間有遺泄，深秋客感伏邪，兼受風溫寒熱，咳嗽布㾦，邪泄而解。上焦之溫氣雖泄，中焦之濕下流，遺泄轉甚，陰精愈耗，陽火隨之，以致精關不固，不交自泄，陽強不痿，病名強中。乃屬陽明濕熱，陽明之脈主潤宗筋，是以精出不痿，或赤、或白、或渾、或精、或淋，脈象數疾，口燥，盜汗，足軟，病情虛中夾實，陰精雖虛，內留之濕熱未化，久病陰傷，不得不補，欲固其精，必先益氣，蓋有形之精必賴無形之氣固之也。若論固下，非通不固。至於溫澀，恐礙留邪。未識弋獲否？</p>
<p>人參　茯苓　生地　石膏　豬脊筋　知母　薺苨　牡蠣　龜板　豬腎　蓮子心　川柏</p>
<p>轉方：去薺苨、川柏、知母、石膏。加後味：柏子仁、遠志、胡連、膽草。</p>

<h2>四十九、淋濁</h2>
<p>（案1）某。少壯情念正萌，心君一動，相火隨之。精濁莖痛，脈來細數。病情恐從露行蔓草而來。</p>
<p>膽草　血珀　車前子　木通　川柏　生地　海金沙　生草梢　山梔</p>
<p>（案2）陳。君火一動，相火隨之煽惑，夢瀉後敗精轉濁，溺管痛楚，脈數。瘀濁阻竅，通利皆不獲效，與虎杖散。</p>
<p>壯牛膝　滑石　杏仁　生草梢　原寸香　山梔　川貝</p>
<p>（案3）褚。年十七，知識太早，精未生成，勉強搖泄，遂為淋濁，莖痛。褚氏所謂後日必有難名之疾，冬令咳嗽，氣逆，脘腹脹大，肺胃同病，恐纏綿。</p>
<p>炒蘇子　海金沙　茯苓皮　陳皮　澤瀉　桑白皮　五加皮　大腹絨　杏仁</p>
<p>（案4）顧。精濁年餘，精關不固，溺後仍有精淋，陰氣久為精耗，久病宜養陰攝精。</p>
<p>大熟地　芡實　川柏　金櫻子　沙苑子　炙龜板　牡蠣　茯苓　車前子　豬脊筋</p>
<p>（案5）郭。三年精濁，關門滑利不禁，濕熱逗留莖管，溺痛。厥少相火不息，久病陰傷固下，必兼通滑。</p>
<p>丹溪大補陰丸去知母，加車前、草梢、山梔、澤瀉</p>
<p>另服補中益氣丸。</p>
<p>（案6）高。濕熱無形之邪，下注於陰，淋濁，夢泄，十載不愈，溺滴，莖管腫痛，脈數。此澀愈甚精愈虛矣。與生生子法。</p>
<p>琥珀末　鳳凰衣　秦艽　茯神　生草</p>
<p>（案7）姚。肝腎陰虛，虛則相火易動，肝為之疏泄，腎為之不固，精濁溺澀，且痛，夜則多夢紛紜。法以養陰，佐以宣通。</p>
<p>原生地　車前子　茯神　淡竹葉　甘草梢　琥珀末　木通　鳳凰衣</p>
<p>（案8）蕭。淋濁復發，莖管中痛，腰痠脈弦，水液渾濁，此敗精尚未清泄。法當宣通為主，無因虛而止澀。</p>
<p>琥珀末　鳳凰衣　茯苓　秦艽　車前子　甘草梢</p>
<p>（案9）高。離火下吸陰精轉為赤濁莖管，溺痛，脈沉弦數。君相火燔，治當復心腎之陰。</p>
<p>生地　龜板　珀末　川柏炭　丹皮炭　茯神　薊炭　血餘炭　蓮子心　生甘草</p>
<p>（案10）汪。觸（觸）穢敗精轉濁，莖管痛，溺澀，脈弦。與通利方法驅穢。</p>
<p>琥珀　木通　龍膽草　鳳凰衣　制軍　甘草　海金沙　黑山梔</p>
<p>又：分利後澀勢稍通，腫勢漸退，淋濁稍緩。擬守前軌。</p>
<p>琥珀末　海金沙　龍膽草　木通　川柏　細生地　黑山梔　鳳凰衣　生草</p>
<p>（案11）高。素有肝逆，肝之疏泄太過，遂有精淋。每便努掙，小溲淋滴，診脈弦數。病在肝腎，久淋久濁皆屬氣陷，不但精關不固也。</p>
<p>黨參　熟地　茯苓　山藥　牡蠣　白芍　炙草　澤瀉</p>
<p>另服補中益氣丸。</p>

<h2>五十、血淋　膏淋　溺血</h2>
<p>（案1）朱。巢元方有五淋之分，下白物如脂，小腹痛，乃屬膏淋。脈細、腰痛、體酸，身中陰液消耗。陽氣上冒，頭疼且眩。議潛陽攝陰。</p>
<p>大補陰丸加車前、潼蒺、生草、萹蓄，另服豬肚丸。</p>
<p>又：小便先下，血瘀成塊，繼下白物如脂膏，此先血淋而後膏淋也。腹痛，脈數，肝腎陰虧，濕熱未清也。</p>
<p>前方去潼蒺，加龍膽草、木通</p>
<p>（案2）蕭。膏淋久延，精關不固，海底脹痛，乃精空氣急以致如此。脈數，腰痛，溲多，陰氣自虛，君相兩火不靖，益陰清火為宜，佐以滑澀。蓋欲固下非通不可也。</p>
<p>大補陰丸加川連、草梢、車前、牡蠣、豬脊筋</p>
<p>（案3）潘。濕熱無形之邪下注於陰，遂為淋濁，腰痠，溲液混濁，所下黏膩，巢氏所謂膏淋是也。病延久矣，陰分自虛。</p>
<p>生地　豬脊筋　川柏　車前子　苦參　焦白朮　牡蠣</p>
<p>（案4）某。濕火下注，淋滴帶濁帶血，莖中痛，脈滯。且以通利，慎防癃閉。</p>
<p>虎杖散加琥珀、龍膽草、海金沙、生草梢、茯苓、細生地、冬葵子</p>
<p>（案5）右。血淋兩月不愈，溺塞而赤，腰痠，脈弦，陰氣已空。《經》曰：胞移熱於膀胱則溺血。宗仲聖豬苓湯，從陰之化，以冀血止。</p>
<p>豬苓湯加小薊、蒲炭、丹皮、藕節、生地、絲綿灰</p>
<p>（案6）費。陰絡傷則血內溢，溺血，莖管痛楚。營分伏熱，老年陰氣自虛，以清營分。</p>
<p>壯阿膠（蒲黃炒）　小薊炭　丹皮　萹蓄　豬苓　龍滑石　綿灰　琥珀</p>
<p>（案7）某。胞移熱於膀胱，則溺血精淋，莖管中痛，脈數，舌白。酒客濕熱化火傷營，年逾古稀，營陰已虧，豈可渺視？</p>
<p>川連　琥珀　丹皮　蒲炭　生地　川柏　小薊　草梢　山梔　絲綿灰　龜板　知母</p>
<p>（案8）右。宗仲景鹹苦堅陰，溺血得止。尿脬下墜不收，乃氣陰交虛，下焦收攝無權。高年藥不易效，轉用升提。</p>
<p>補中益氣加豬脬</p>
<p>（案9）陸。君相兩火下移小腸，少腹陰氣淋痛，引及肛門，泄血瘀塊雜下。法以清解營分伏熱。</p>
<p>犀角汁　小薊炭　側柏炭　黑山梔　丹皮　生地黃　血餘炭　藕節炭　龍膽草　木通</p>

<h2>五十一、尿蟲</h2>
<p>（案1）陸。膀胱濕熱內蒸肝經，相火煽爍，蒸變瘀腐化蟲，小便混濁，溲出長蟲六七條，形似蛔蟲，脈數，舌白。當以清理濕熱。</p>
<p>龍膽草　淡竹葉　人中白　車前子　豬苓　小川連　塊滑石　黑山梔　細木通　淡苓</p>
<p>又：火腑濕熱下流膀胱，蒸變生蟲，形如疳蝕，溲液混濁，脈象弦數。再以清濕分利。</p>
<p>前方加澤瀉、赤苓</p>

<h2>五十二、調經</h2>
<p>（案1）潘。沖為血海，經行則諸經之血交會於衝脈而下。經行骨節痠痛，趲前，色紫。此屬營虛伏熱，法當和營清熱，佐以理氣。</p>
<p>細生地　黃芩（酒炒）　香附　烏鍘　阿膠（蛤粉炒）　炒丹皮　丹參　川斷　柏仁</p>
<p>（案2）夏。氣滯血虛，經行落後，色淡腹痛，遍體骨節痠疼。此血不養筋，肝不和也。</p>
<p>阿膠（蛤粉炒）　丹參　川斷　茺蔚子　川芎　艾葉　歸身　香附　小青皮　澤蘭</p>
<p>（案3）朱。經來過食酸寒，致寒凝痹阻，瘀氣結成瘕聚，有形攻逆，脘痛經停。病在肝腎，且以疏泄。</p>
<p>吳萸　官桂　小茴香　蘇梗　川楝　青皮　延胡索　楂炭</p>
<p>（案4）徐。先起指麻，後覺筋脈掣痛。眩暈䐜脹，脈滑數，經事趲前。病屬營分有熱，肝風煽絡，挾痰所致。</p>
<p>首烏　白蒺藜　香附　法夏　茯苓　炙葉　鉤藤　沉香汁　丹皮　陳皮　川斛</p>
<p>（案5）陳。病起伏邪內發，適值經行，經水過多。肝少藏血，化風上旋，頭暈且痛，氣逆上升，厥逆遂作。厥後不語神呆。進以平肝熄風之品。言雖已開，而神志未慧，心中模糊，問其所苦，但嘻嘻而笑，此非邪陷心包，乃心陰虛而神機失職也。脈見外剛內柔，舌黃口渴，陰液亦乏上承，是濕熱無形之氣未化耳。拙見舍標治本，蓋古人本有先補後瀉，先瀉後補之法，茲且仿而行之。</p>
<p>生地　白芍（炒）　石決明　朱茯神　遠志　阿膠（蛤粉炒）　鉤鉤　紫貝齒　制香附　歸身</p>
<p>（案6）褚。瘧疾久延，傷及脾胃，中焦少生化之機。營陰自虧，經來落後，色淡。病後胃氣未復，中陽顯失運行，不能迫精華化而為血。法當益氣，氣旺血自生矣。</p>
<p>歸脾湯去遠志、木香、薑棗，加阿膠、艾絨</p>
<p>（案7）潘。經來趲前，營虛伏熱，骨節痠痛，腰腿更甚。肝胃血不養筋也。</p>
<p>大生地　丹皮　阿膠　香附　炒淮膝　烏骨　淡芩　續斷　桑寄生</p>
<p>（案8）李。經來一日即止，瘀凝未盡，少腹結瘕攻痛，嘔吐酸水，胸悶，肝脈弦急。厥陰氣不疏泄，病甚防厥。</p>
<p>川楝子　川芎　香附　官桂　豭鼠矢　延胡索　新絳　青皮　吳萸　韭菜白</p>
<p>（案9）萬。濕熱傷脾，腹脹之後飲食雖旺，經事不行，脾臟為濕困，生化之源已衰，是以營氣虛而經事不行也。脈數疾，陰氣虧而熱鬱於裡也，以清熱養陰。</p>
<p>細生地　川斛　山梔　神麯　炒仁　牡丹皮　白朮　雲苓　穀芽　香附</p>
<p>（案10）潘。經事後期腹痛，紫黑成塊，腰痠背脹，足軟筋掣，脈小滑，營虛陰虧，內熱，五心燔灼，肝脾血虛，以膠艾湯法。</p>
<p>阿膠（蒲黃炒）　歸身　茺蔚子　川斛　川斷　白薇　艾絨　川芎　澤蘭葉　香附　牡蠣</p>
<p>（案11）陸。心生血，肝藏血，脾統血，三陰交虛，營血自衰，不能灌溉諸經，交會衝任。經事每行必三五月，動作勞神則心宕頭眩。此營血內虧，非有瘀凝停滯，宜調補三陰，氣旺血充自能經至。</p>
<p>黑歸脾湯</p>
<p>（案12）梅。陰虛內熱，咳嗽，腹痛，經事未行。宜調氣血。</p>
<p>香附　歸身　川芎　砂仁　青蒿　藿梗　白芍　茯苓　穀芽　丹皮</p>
<p>（案13）張。經阻七月，食則䐜脹，腹滿足浮，睡則腹足皆癟，脈弦數。舌白，氣陰兩虛，濕熱中阻，以理氣化濕和營。</p>
<p>炮姜　蘇梗　雞內金　砂仁　米仁　苓皮　白朮（枳實炒）　腹皮　川芎　香櫞　麥芽　青皮</p>
<p>（案14）金。經來受寒，脈遲細，腹痛。</p>
<p>炮姜　香附　艾絨　歸身　官桂　木香　川芎　澤蘭</p>
<p>（案15）呂。營虛氣滯，經阻。脈澀而速，胃減，少腹痛，手足入暮煩熱，陰氣自虛，脾胃生陽不振，痰氣流溢結於頰車。治以調氣養陰。</p>
<p>香附　骨皮　川斛　茯苓　生穀芽　川貝　歸身　白芍（吳萸炒）　青皮　熟穀芽</p>
<p>（案16）張。脾虛挾濕，陽不運行，少納，䐜脹，午後神疲倦怠。經事色淡，帶下。營血為水穀精華所化，其源皆出於中焦，脾經之生化既虧，經事焉能不色淡乎？治在中央。</p>
<p>人參　茯苓　陳皮　米仁　金斛　白朮（枳實炒）　甘草　穀芽　砂仁　芡實</p>
<p>（案17）朱。五年前產後營陰大奪，經事至今未行。胃少納穀，營之所出，全賴資生充旺，受氣與谷。所謂營出於中焦也。</p>
<p>黨參　首烏　甘草　陳皮　砂仁　白朮　川斛　法夏　雲苓　荷葉　生熟穀芽</p>
<p>（案18）陳。脾胃升降失職，䐜脹噯噫，經事延期，紫黑成塊，腹痛瘀凝氣滯，先以調經。</p>
<p>當歸　香附　澤蘭　炒桃仁　益母膏　川芎　青皮　川楝　延胡索</p>
<p>另服香砂枳實丸。</p>
<p>（案19）高。肝木氣滯不行，氣為血帥，氣行則血行，氣機失暢，遂致瘀凝肝絡，左脅下結聚有形，時時作痛，腹亦痛。室女經阻一載未行。脈象左關弦滯，此肝留有凝瘀，氣不宣泄也。近又噁心吐涎沫，厥陰寒濁上逆犯胃。治以泄肝化痰，疏和血氣，俾得經行，不致諸證蜂起也。</p>
<p>歸身　茺蔚子　陳皮　香附　茯苓　炒桃仁　川芎　小青皮　半夏　鱉甲　穀芽</p>

<h2>五十三、淋帶</h2>
<p>（案1）顧。淋帶綿延一載，氣陰久耗，八脈不司約制。腰臂、尻骨皆痛。脈來數疾，陰虛濕熱蘊伏，病情久延，入怯門徑。久淋。治法宜用清藥。</p>
<p>生地　椿根皮　豬脊筋　牡蠣　烏鰂骨　龜板　焦川柏　薺菜根　苦參</p>
<p>（案2）唐。八脈蹻維少護，腰痠，帶下，脛骨痠痛，脈虛弦。以固攝下焦。</p>
<p>熟地　茯苓　牡蠣　川斷　烏鰂骨　茅朮　川柏　狗脊　澤瀉　椿根皮</p>
<p>（案3）汪。帶下有年，腰骨節痠痛。下焦、肝腎兩虛，濕熱留著。兩足浮腫，朝退夕甚。近復小便頻頻，下虛。肝腎不司約制，八脈空虛，陰虧氣弱。以收攝下焦。</p>
<p>桑螵蛸　龜板　川柏　雞內金　焦白朮　烏鰂骨　牡蠣　茯苓　益智仁　菟絲子</p>
<p>（案4）顧。鹹苦堅陰，赤帶稍止。頭弦目花，腹重如帶五千錢，噯噫吞酸，陰虛木火動旋，舌灰黃，濕熱內蘊，仍與前發出入。</p>
<p>川連　龜板　川柏　澤瀉　金石斛　白茯苓　山梔　牡蠣　丹皮　菊花　烏賊骨</p>
<p>（案5）姚。經來腹痛，氣滯，營澀，帶下，脈澀數。經行寒熱，氣營不和也。</p>
<p>歸身　川芎　香附　澤蘭　鱉甲血拌柴胡　白芍　丹皮　丹參　青皮　白薇</p>
<p>（案6）褚。經事參差，來時色淡且少，營虛之明徵也。帶下，腰痠，妨納，䐜脹。乃衝任不調，血虛氣衰所致。衝脈隸乎陽明，先以中宮為治，蓋脾胃為後天生化之源，營氣所由出也。</p>
<p>黨參　蓮心　川斛　川斷　砂仁　白朮　芡實　丹參　杜仲　歸身</p>
<p>又：經來色淡，營虛何疑？䐜脹胃呆，腰痠帶下。沖、任、督、帶、奇經皆病。衝脈隸胃，胃為水穀之海，營與衛皆出其中，胃旺則氣充，氣旺則血長，宜仍注意於胃。</p>
<p>歸脾湯去甘草、木香、薑棗，加熟地、川斷、川斛、蓮肉</p>
<p>（案7）沈。氣滯營澀，經事延期，腹痛，過後亦痛，帶下，腰痠。此氣營交病衝任不調也。</p>
<p>阿膠（蒲黃炒）　川斷　香附　川芎　小茴香　艾炭　歸身　青皮　丹參</p>
<p>（案8）錢。經事不調，常常趲前，腰痠，帶下。咳嗽，痰中挾血。木火上扣金鳴，金受火刑，脈數陰虛，八脈衝帶為病。著緊調治，免入損途。</p>
<p>細生地　麥冬　丹皮　炒川柏　椿根皮　牡蠣　茯苓　川貝母</p>
<p>（案9）金。帶脈不固，陰傷濕熱內郁，帶下腥穢，腰痠眩暈，心悸，脈數，膚熱，胃呆。肝胃陰虛，仍以鹹苦堅陰法。</p>
<p>川連　澤瀉　烏鰂骨　川柏　椿根皮　穀芽　山梔　牡蠣　細生地　茯苓　金石斛　白芍</p>
<p>（案10）江。經行紫色已止，帶下，少腹脹，胃呆，脈數疾。陰虛挾濕，帶脈不固，以通補奇經。</p>
<p>生地　椿根皮　茯苓　青皮　歸鬚　桑寄生　鱉甲　制香附　鬱金　穀芽　金石斛</p>
<p>（案11）徐。肝腎陰虛，陰精為火所吸。赤帶，腰痠，心悸，脈沉弦數。以養陰固攝下焦。</p>
<p>龜板　烏賊　穭豆衣　青皮　香附　側柏炭　牡蠣　川柏　金石斛　丹皮　蓮肉</p>
<p>（案12）錢。濕困傷脾，脾不統血，濕邪迫血下行，衝脈氣不收攝。經淋兩月有餘，帶下，心悸，眩暈，耳鳴，腹大，足浮，胃呆䐜脹。病屬肝胃，不易療治，且以引血歸經，再商別法。</p>
<p>歸脾湯去龍眼肉、薑棗，加陳棕炭、露天膠</p>
<p>又：經淋雖止，營陰過虛，浮陽上擾，頭眩，耳鳴，心悸，帶脈不固，帶下頻多。治宜養陰固攝下焦。</p>
<p>黨參　龜板　椿根皮　柏子仁　香附　料豆衣　首烏　牡蠣　炒白芍　朱茯苓　遠志</p>
<p>（案13）潘。衝任不調，氣滯血澀，經來帶下腹痛，脈沉細澀。以調氣營法。</p>
<p>蘇梗　川斷　川芎　牡蠣　茯苓　香附　歸身　茺蔚子　青皮　木香</p>
<p>（案14）瞿。露秋崩沖，並非下血，所下黃水臭穢而腥，淋滴溺澀。經事仍行，趲前，腹痛，其色亦正。誤作血崩，投以溫補，溫澀。黃水淋瀝延至於今。少腹痛，溺淋，內熱，脈數，胃呆。此肝胃濕熱內蘊。鄙見，久崩久淋，宜清宜通，望其病緩淋通。</p>
<p>琥珀　木通　鳳凰衣　秦艽　海金沙　甘草梢　龍膽草　茯神</p>
<p>又：前進生生子法，淋痛頗緩，少腹痛如故。自云淋秘時得矢氣則痛稍緩，明是肝不疏泄，厥濁濕熱氣滯不宣。小便熱痛，陰腫，腥穢之黃水仍多，擬疏泄厥陰分利厥濁。</p>
<p>金鈴子　兩頭尖　戎鹽　山梔　生香附　海金沙　小青皮　茯苓　丹皮</p>
<p>（案15）黃。老年經事復來，淋漓數月，肝血不榮，脅痛，之下藏秘月餘。仍進辛潤鹹寒之品，腑仍未通，反致下血。腸胃熱結，營分胃氣杳然，上不得下，下不得通，誠為陰候。宜煎、丸分治，開太陰法。以肺主一身氣化，仍佐辛潤鹹苦，以冀通幽。</p>
<p>枇杷葉　杏仁　紫菀　冬葵子　歸身　瓜蔞仁　薤白頭　桔梗　郁李仁　松子仁　麻仁　白螺絲殼　更衣丸</p>
<p>（案16）徐。肝陽上逆，心宕，即時頭痛，脈滑數，體酸腰痛，帶下，動則氣逆，肝腎兩虛也。</p>
<p>熟地　烏賊　阿膠（蛤粉炒）　牡蠣　椿根皮　龜板　龍眼肉　川斷（酒炒）　蓮鬚　磁石</p>
<p>（案17）王。利後帶下，咽痛，陰氣虛也。</p>
<p>熟地　白朮　雲苓　烏賊　牡蠣　山藥　陳皮　蓮子</p>

<h2>五十四、崩漏</h2>
<p>（案1）徐。三陰不足，心不生血，肝不藏血，脾不統血。諸經之血失守，衝脈不司約束，遂為經崩。崩後神色俱奪，頭痛眩暈，心悸耳鳴，由營陰內虧，以致陽氣逆升，加以腹脹膨滿，食下䐜脹，足腫，便溏，是脾陽之不振也。脈象數疾，是陰氣之已虧也。治宗《內經》，從陰引陽，從陽引陰，佐以轉旋坤土，以冀腫退。</p>
<p>歸脾湯去黃耆、大棗，加熟地、蔻仁、穀芽、荷葉</p>
<p>（案2）沈。經停三月，徒然崩沖，瘀塊如拳，下其五六枚，脈遲細澀，腹痛、自汗，面青。肝無藏血，慎防陽升厥逆。</p>
<p>歸脾湯加生地、血餘、陳棕炭</p>
<p>（案3）俞。營分伏熱，經來驟崩，色紫瘀塊雜下，頭痛眩暈，耳鳴，腰痛，脈數，此肝胃氣虛，衝任不調所致，師葛可久法。</p>
<p>小炭薊　血餘炭　茜草炭　阿膠（蒲黃炒）　炒川斷　棕櫚灰　丹參炭　荊芥炭　炙草　白薇</p>
<p>（案4）何。肥人多濕多痰，茹素中虛氣餒，脾失守禦統血之權，胃氣亦隨而衰弱。衝脈隸乎胃，因此不司約制。經崩直下，血脫氣空，氣隨升逆。肝失營養，陽亦化風，挾沖氣直升無制，遂為卒厥。耳鳴頭眩，自汗，心宕，諸證在所必見。少腹痛，便泄，腰痛，不寐，此皆營虛氣弱所致。治以固攝，益氣和營，惟脾胃素虛，濕痰素盛，深恐土不制水，濕氣下趨而為水腫耳。</p>
<p>黑歸脾丸去耆草、龍眼，加牡蠣、蓮肉、川斷、白芍</p>
<p>（案5）方。經停五月，積瘀崩沖，紫塊雜下，脈沉細，衝任不調。以和營法。</p>
<p>川芎　茯苓　白朮　蒲黃　炮姜　當歸　澤瀉　茜草　香附　艾絨　歸脾丸</p>
<p>（案6）馮。年交花甲，經事崩沖，連行數次，血去過多，氣亦隨虛，神疲心宕，眩暈耳鳴，徹夜不寐，脈細虛弱。一派氣陰兩虛，三陰交虧氣象。</p>
<p>首烏　茯神　法半　歸身　柏仁　蔻仁　黨參　陳皮　杏仁　川斛　穀芽</p>
<p>（案7）宋。經停月餘，而崩沖淋漓不盡。腹痛。衝脈不司約束，衝脈隸乎陽明，陽明主束筋骨而利機關，營虛則不仁，衛虛則不用，不仁不用而諸節皆痛矣。</p>
<p>清阿膠（蒲黃炒）　桑寄生　炙耆　炒歸身　茯苓　制首烏　生牡蠣　炙草　陳棕炭　炮姜　歸脾丸</p>
<p>（案8）沈。衝任氣不收攝，經漏綿延百餘日。腰痠、頭眩、耳鳴、心宕。營虛下奪，陽失涵養，病在肝腎。法當固下，佐以益氣，因氣能攝血耳。</p>
<p>熟地　陳棕灰　烏賊　龜板　椿根皮　黨參　茜草灰　川柏　香附　黑歸脾丸</p>
<p>（案9）俞。懷妊足月，驟然漏胎，下血紫塊，腰痠。此婦科重症，恐其難產而多變幻。</p>
<p>阿膠　川續斷　歸身　茯神　牡蠣　艾葉　烏賊骨　熟地　蓮子</p>
<p>（案10）顧。經崩後溺痛，小便淋滴，脈細沉數，近又經行紫色。肝經鬱熱，治以泄化。</p>
<p>細生地　澤蘭　淡竹葉　甘草梢　琥珀末（沖）　粉丹皮　木通　海金沙　龍滑石</p>

<h2>五十五、胎前</h2>
<p>（案1）黃。重身努力負重，以致胎元受傷，少腹痛，脘痛，引及脅背。胎氣下墜，身熱頭痛，脘悶，舌白，口乾，脈來弦數而澀。此伏邪為病也，深慮邪迫胎元，致成小產。</p>
<p>柴胡　廣藿　青皮　枳殼　澤瀉　苧麻　糯米　厚朴　蔻仁　淡苓　陳皮　茯苓　紋銀</p>
<p>（案2）陸。屢屢小產，八脈無有不損，此次懷娠又忽腹痛，墜下，帶多如崩。委中、環跳痠痛，八脈不司擔任，小產之象也。急宜固胎。</p>
<p>青臺苧　建蓮肉　白朮　川斷　椿根皮　白糯米　細子芩　香附　牡蠣</p>
<p>另用：鴿蛋一枚，碎其殼，納人參蒸熟服之。</p>
<p>（案3）周。經阻三月，脈來動滑、停、勻，的是毓鱗之兆。其嘔吐苦水、痰涎，心下悸。此飲停中脘，少陽木火相激，上逆使然。當與驅飲。</p>
<p>生薑溫膽湯</p>
<p>（案4）雷。懷孕七月帶脈不固，帶下如崩，氣怯，此奇經為病也，帶若不止，偏產堪虞。法以養陰固攝。</p>
<p>大熟地　牡蠣　川斷　桑螵蛸　椿根皮　杜仲　茯苓　沙苑子</p>
<p>（案5）宋。重身五月，帶下，酸腰，連及環跳。舌紅口渴，氣逆，肝腎陰虛，衝任不固，治當固下。</p>
<p>生地　芡實　川斛　椿根皮　阿膠　牡蠣　川斷　淡黃芩</p>
<p>（案6）蔡。重身九月，暑、風、濕為瘧間作，寒短熱長，嘔惡，頭痛，胸悶，肝不暢泄，鼻衄，慎防邪逼胎元致產。</p>
<p>炒芩　柴胡　小樸　荷葉　廣藿　生薑　青蒿　法半　赤苓　陳皮</p>
<p>（案7）瞿。妊娠六月，時常腹痛，胎動，氣滯不和，脈右大。以安胎理氣為要。</p>
<p>白朮　歸身　白芍　香附　淡苓　蓮肉　枳殼　砂仁</p>
<p>（案8）王。重身，滯下色白。脈遲弦，胸悶，納少，恐其利下傷陰，以致偏產。</p>
<p>藿梗　小樸　白朮　木香　穀芽　蘇梗　砂仁　會皮　茯苓　荷蒂</p>
<p>（案9）張。天地以生地為心，有孕而欲自墜其胎，為父母者何忍心也？況報應昭彰，歷來不爽。務須痛改，慎之戒之。</p>
<p>炒白朮　炙綿耆　陳皮　建蓮肉　菟絲子　炙草</p>

<h2>五十六、產後</h2>
<p>（案1）俞。產後八脈交虛之際，適感寒邪遂致形寒、身熱。又因早食葷腥，致脘中作痛而脹，積聚成塊，得食更甚，乃氣血大虛之時而與食滯瘀凝互結，阻於脾胃之絡。治從《內經》，堅者削之。佐以和養營分，俾得積消為妙，不爾，恐成膨脹。</p>
<p>川桂枝　山楂炭　雞內金　炮姜　萊菔子　川鬱金　焦白朮　蓬朮炭　炒枳殼　歸身　焦麥芽　砂仁</p>
<p>（案2）高。產後三朝即有身熱，頭痛，惡露不下。得汗身熱已減，脈象洪大，眩暈耳鳴，時有譫語，神不守舍，少腹脹，大便溏泄。大餘行此胎產，脾濕致產後不愈，又復營陰大奪，帶脈不固，腹痛帶下。病情虛實互見，理之不易。</p>
<p>砂仁炒熟地　茯神　澤蘭　丹參　香附　川斷　蒲黃炒阿膠　珀末　牡蠣　白朮　艾炭</p>
<p>（案3）凌。產後惡露不通，三朝即止，繼後神昏狂亂，此屬蓄血如狂病象，錯認遇祟，實非祟也。乃瘀凝阻於肝脈，擾亂神明。時有心煩意亂之狀。少腹結塊，疼痛，痛連環跳。寒熱，咳嗽，胸悶，亦由瘀阻肝經而致。脈弦數，法當通瘀，必得塊消瘀下，方可無虞，否則恐有外瘍之累。</p>
<p>桃仁　琥珀　川楝子　香附　桂枝　歸尾　艾絨　川芎　白茯神　牛膝　荊芥　青皮　回生丹（一粒），化服　益母草煎湯代水。</p>
<p>又：產後瘀阻，蓄血如狂，通瘀宣導之後，病減，塊消，腫退。胃風又復，寒熱火升，狂詬，不避親疏。少腹仍痛。此屬瘀凝未盡，流注肝經，故小便赤而大便閉，脈來弦帶數也。</p>
<p>珀末　茯神　延胡　川芎　丹參　小青皮　貝齒　川楝（吳萸炒）　香附　歸身　白芍</p>
<p>（案4）季。向日營虛伏熱，經事趲前而多，今值產後營陰大奪，血液重虛，以致肝無藏血，化風上旋，頭痛眩暈，痛掣右臂，麻木。病屬肝經外風，引動內風，血不養筋，以潛陽熄風為治。</p>
<p>大生地　龜板　阿膠（牡蠣炒）　白蒺藜（雞子清拌）　穭豆衣　粉丹皮　大熟地　菊花　鉤鉤　雞子黃　生白芍　蝨胡麻</p>
<p>另用：人乳一兩，山藥研細和丸，開水下。</p>
<p>（案5）張。懷妊七月，提甕出汲，用力動胎，腹痛血下，噁心唇青，偏產不免。</p>
<p>阿膠　熟地　歸身　蓮子　糯米　蘄艾　杜仲　川斷　炙草</p>
<p>又：卒然偏產後汗泄，瘀下如崩，去血過多，血暈不省人事，口噤風痙，脈亦散亂，頻頻昏厥，汗脫可危。</p>
<p>回生丹（—丸）　益母草湯化服。</p>
<p>外用醋炭熏鼻。</p>
<p>又：血暈稍定，惡露，瘀塊如崩，氣逆上升，厥逆若痙，神志模糊，牙關不利，脈數尺弱。產後暴虛，風陽上冒，下虛，少收攝之權，深慮厥汗而脫，宗黑龍丹意。</p>
<p>琥珀　丹參　紫石英　炮姜　熟地　茯苓　炒歸身　炙草　益母草煎湯代水。</p>
<p>又：昨進鎮攝之品，神清厥止，瘀下亦少。營陰大奪，風陽煽動逆升，頭痛，眩暈，心悸，耳鳴，脈數，皆屬虛象。攝下和營，與清魂散意。</p>
<p>人參　茯神　熟地　丹參　石決明　澤蘭　歸身　料衣　炮姜　益母草煎湯代水。</p>
<p>又：新產營血下奪，血去陽升，頭痛，眩暈，身熱，蒸灼，脈細數，按之濡。此屬暴虛，法當再以鎮納空隙，使陽靜陰閉。</p>
<p>人參　阿膠　炮姜　丹參　柏子仁　熟地　龜板　炙草　澤蘭　益母膏（少許沖）</p>
<p>（案6）顧。久瘧正氣拖虛，又兼新產，營陰大奪，陰氣重虛，肝營自少滋養，化風上旋，眩暈，心宕，嘔吐酸水。又感風邪，耳脹流水，咳嗽膚熱，內外合邪，病情虛實互見。《經》云：「二虛一實先治其實。」仲聖云：「先治新病，病當在後。」皆獨做一面文也。</p>
<p>白蒺藜　浙菊花　丹參　竹茹（薑汁炒）　茯神　鉤藤鉤　石決明　法夏　川貝</p>
<p>（案7）顧。風熱上郁清空，耳竅流膿且脹，心宕，頭眩，脈弦細。此屬產後營虛也。</p>
<p>桑葉　白蒺藜　菊花　丹參　丹皮　蒼耳子　茯神　通草</p>
<p>（案8）葉。產後致傷，尿脬下墜，小便淋痛，大便艱燥，大腸主津，小腸主液，傳道失司，由於變化之無權也，理之不易。</p>
<p>丹皮　絲綿灰　炙綿耆　水炙升麻　豬脬　杜阿膠　炒歸身</p>
<p>（案9）陳。產後八朝全帶惡露，三日即有寒熱，五朝氣從少腹上逆，且痛而厥，風痙咬牙，自汗淋漓，頭暈耳鳴，心悸，脈洪數。病從驚恐而作，驚則氣亂，而血鬱於上，遂致痙厥，產後營虛，虛則肝氣自動，與陽氣相併，逆升使然。治當理氣、降逆。因氣為血帥也，須得厥止瘀通為吉。</p>
<p>交加散、失笑散加紫石英、淮牛膝、石決明、沉香片、烏藥汁、制香附</p>
<p>又：前進鎮厥通瘀，厥定，瘀下色淡。神志模糊，不省人事，時有奔走咬牙，肢腫，身熱依然。此肝風上擾，陽升不得入於陰，陰陽二氣不交，心神浮越，神魂不藏。法當交通陰陽，神識似可清楚。</p>
<p>阿膠　歸身　茯神　紫貝齒　石決明　首烏　龍齒　棗仁　雞子黃　琥珀末</p>
<p>又：產後營虛，風陽上冒，痙厥之後，神志昏亂，人事不省，徹夜不寐，目不交捷。陰空陽浮，神不內守，法當鎮攝神志，交陰和陽。</p>
<p>生鐵落　生地　囫圇辰砂　朱茯神　龍齒　棗仁　炙龜板　琥珀　夜交藤　石菖蒲　牛膝</p>
<p>又：產後敗血衝心，肝風上擾，痙厥之下神志昏憒，徹夜不寐，昨議交陰和陽，鎮攝神志，病情似乎略減。欲寐不寐，熱解，脈緩虛。此陽氣欲交於陰矣，佳境也。</p>
<p>生地　硃砂　牡蠣　茯神　龍齒　丹參　夜交藤　鱉甲　琥珀　龜板　遠志　棗仁　菖蒲</p>
<p>又：神志稍清，詢其病情，耳鳴心宕，眩暈，脈象左寸細弱，左關虛弦。顯然產後營虛，肝風上冒，神不守舍。</p>
<p>生地　鱉甲　丹參　辰砂　遠志　小麥　金箔　龜板　牡蠣　白薇　龍齒　棗仁　菖蒲　夜交藤</p>
<p>（案10）沈。產後營虛氣弱白汗，產後病之一也；便難，二也；小便不利，是膀胱素有積熱，與瘀相搏，水氣相凝也。脈數大，身熱，惡露色淡且少，營虛何疑。汗多口渴，陰弱不振，宜養營佐以通利，宗《金匱》法。</p>
<p>生地　滑石　柏子仁　茯苓　青鹽　紅棗　歸身　白魚　炙草　血餘　淮麥</p>
<p>又：前法金匱通利，小便諸證悉除。惟汗泄未止，耳鳴，陰虛於下，陽浮於上，陽氣加於陰而為汗泄，營虛無疑。治當固表養營，少佐通瘀，因少腹尚有微痛也。</p>
<p>大生地　西耆　茯神　小麥　茺蔚子　生鱉甲　歸身　棗仁　炙草</p>
<p>（案11）範。產後營陰兩虛，維蹻少護，腰腹腿膝痠痛，形寒身熱。治從八脈。</p>
<p>川桂枝　川斷　鹿角霜　枸杞子　炒歸身　杜仲　桑寄生　舶茴香</p>
<p>（案12）沈。昔年小產後營分受傷，血液暗虧，以致經事落後，色淡且少腹痛。血虛生風，風陽煽爍皮膚，錯搔有屑，麻木、眩暈。皆屬肝腎陰虛，治以熄風養血。</p>
<p>阿膠　煨天麻　丹參　香附　料豆衣　首烏　茺蔚子　白芍　歸身</p>
<p>（案13）許。胎前濕熱內郁，難產六朝，內蘊之邪外發，身熱，頭疼，胸悶，舌灰黃白，口渴且膩，體疼腹痛，泄瀉，脈數，陰脫，玉門不閉，惡露稀少，乳亦乍斷。此產後氣營兩虛，濕邪內蘊，病情虛實皆見，用藥殊多掣肘，且大虛之時，尚慮氣逆驟厥也。</p>
<p>荊芥炭　青皮　香附　鬱金　楂炭　麥芽　廣藿梗　川芎　川樸　枳殼　炮姜　益母草</p>
<p>轉方：去荊芥、炮姜，加大豆卷、六神麯。</p>
<p>又：產後玉門已閉，腹左旁痛。便泄，澼澼不爽，舌灰已化，脈弦，少納。寒熱之邪鬱於腸胃，不得宣達，法當溫通疏泄。</p>
<p>歸身　木香　香附　青皮　炮姜　川芎　砂仁　楂炭　麥芽　小茴　益母草煎湯代水。</p>
<p>（案14）陸。胎前下利，產後不愈，寒熱腹痛，利下五色。形浮舌光，口碎拒納，脈浮洪數，按之細澀。此係產後營虛大奪，外感之暑濕風邪因虛而不達，內蘊之氣血精華隨利而致虛，虛則外感之邪易侵，又復咳嗆，形寒，病情越轉越劇。證殊棘手。且擬調營衛，以冀熱緩益氣陰，望其利減。</p>
<p>黨參　桂枝　歸身　陳皮　茯苓　黃米　阿膠　炮姜　白芍　川貝　炙葉　荷蒂</p>
<p>又：下利五色漸減，腹尚微痛，內蘊之積滯漸消，外感之暑風未泄，轉為間瘧。咳嗽，形浮，胸悶，脈浮數，按之細弱，此產後營虛而表邪里邪不得暢達。病延月外，真陰不免拖虛，非偏補偏瀉所能療治，擬以扶正逐邪。</p>
<p>人參　茯苓　桂枝　柴胡　炮姜　扁豆花　白朮　炙草　歸身　陳皮　荷蒂</p>
<p>（案15）徐。投崇土製水之劑，腫勢稍松，泄瀉漸減，咳嗽，胸悶，舌光，脫液。此久病三陰痎瘧，不但陰傷，陽氣亦餒，又兼產後陰虛，證候紛歧，恐難勝任，姑守前法。</p>
<p>焦冬朮　防己　苓皮　杏仁　紅棗子　熟附子　米仁　蔞皮　陳皮　黃明膠　鯉魚煎湯代水。</p>
<p>（案16）汪。曾先寒熱，頭痛，骨節煩痛，惡寒，咳嗽，漸次神昏，狂亂，致傷胎元。偏產之後，不省人事，牙關緊閉，目瞑，遺尿失便。按脈緩中帶滯，舌白。論脈合證，初必受寒，寒邪內郁不化，胎氣逆升，致產後瘀凝上擾，病情甚險。姑擬交加散參味，以圖僥倖。</p>
<p>生地汁炒生薑　琥珀　桂枝　桔梗　生薑汁炒生地　菖蒲　荊芥　杏仁</p>
<p>（案17）陳。小產後惡露未盡，少腹痛瘀下。復感新風，身熱，頭脹，胸悶，脈數，營虛之際，邪勢乘之，小心為要。</p>
<p>荊芥炭　蘇梗　官桂　丹參　枳殼　炒歸身　青皮　澤蘭　陳皮</p>
<p>（案18）沈。偏產後受寒，厥氣不泄，少腹痛，攻逆不已，脈沉數。內有鬱熱，外束寒邪也，法當疏泄。</p>
<p>吳萸　官桂　川楝子　豭鼠矢　香附　蘇梗　青皮　延胡索　韭菜根</p>
<p>（案19）李。昔年產後營虛感邪，咳嗽，寒熱休作不定，《難經》所謂：「陽維為病苦寒熱。」即此類也。治在奇徑。</p>
<p>桂枝湯加茯苓、歸身、鹿角霜</p>
<p>（案20）沈。昔年產後早投補劑，營分素有伏熱，熱鬱不泄，上衝，以致喉腐，蒂丁脫落，喉痛時發，口鼻如火，咯吐紅色臭痰。脈象左三部洪數，三陰伏火不泄，久病之下蒂固根深，難許痊可，按法當清泄陰分之熱。</p>
<p>犀角汁　丹皮　元參　人中白　遠志　鮮生地　赤芍　天冬　仙遺糧</p>
<p>（案21）莊。產後足一朝惡露頗多。腹痛，耳鳴，脈細。去血過多，虛陽欲越。治以和營潛陽。</p>
<p>澤蘭葉　龜板　艾絨　川芎　炒歸身　丹參　香附　生地、生薑（橘葉同炒）</p>
<p>（案22）王。產後兩月，惡露淋漓，腹痛腰痠。八脈氣血不能相攝也。</p>
<p>杜阿膠　牡蠣　川斷　小茴　桑寄生　艾絨炭　炙草　歸身　杜仲　椿根皮</p>
<p>（案23）張。懷孕七月，勞力勤織傷胎，卒然下血盈桶，胎損腹中，胞漿已破，胎已橫逆，自汗神疲，耳鳴頭暈脈細欲絕，干惡。證在臨危，藥難挽救，勉擬一方，不過盡人事以待天命而已。</p>
<p>人參　炮姜　川芎　血餘　琥珀　附子　炙草　歸身　龜板</p>
<p>回生丹一丸，人參湯送，先服。</p>
<p>又：偏產逆生，產後頭暈，耳鳴，心悸，目暗，自汗。營血大下，陽氣上冒，氣隨血虛。脈數而澀，勢恐血虛風生，致發痙厥，擬和陰潛陽益氣。</p>
<p>人參　龜板　炮姜　丹皮　歸身　淮小麥　阿膠　石決　炙草　澤蘭　川芎</p>
<p>（案24）鄭。血崩偏產，營陰大奪，產虛不復，八脈虧損，所致赤白帶下，陰空陽逆上冒，耳鳴，眩暈，納少，食則䐜脹，腹膨。衝脈隸胃，陽明既傷，宜調胃氣。</p>
<p>龜板　料豆衣　炮姜　川斛　白蔻殼　熟地　朱茯神　川斷　穀芽</p>
<p>（案25）朱。產後正虛神疲，少納，脈速澀，當以溫中。</p>
<p>人參　茯苓　陳皮　川斛　澤瀉　白朮　甘草　半夏　穀芽　薑棗</p>
<p>（案26）顧。胎產感受伏邪，產後而發，寒熱羈麋，頭眩少納，食則䐜脹。脈軟數，脾陽不運，營衛不和也。</p>
<p>川桂枝　歸身　穀芽　枳朮丸　炒白芍　茯苓　六曲　薑棗</p>
<p>（案27）莊。初產頭眩目暗，腹痛惡露不通，以通瘀為要。</p>
<p>當歸　茺蔚子　澤蘭　延胡索　失笑散　川芎　琥珀末　炮姜　桃仁</p>
<p>（案28）吳。春間產後，五朝遂有寒熱，休作不時，熱時胸悶，腹痛，當臍痛則必利，利色白膿。脈數，舌白。此產後風冷克於太陰，營衛不和，衛疏汗泄，邪實正虛，理之不易。</p>
<p>淡苓炒桂枝　吳萸炒白芍　艾炒歸身　雲苓　大棗　防風炒西耆　麵煨肉果　水炙甘草　木香　煨姜</p>
<p>（案29）俞。漏胎之後，產後血虛。痙厥陰虧，陽無依附，變化內風上竄，神昏，口噤不語，即或能言，音低不爽，神呆，詢其所苦，尚未明晰，言語不甚了了。晨則便溏，脈細而虛。此心脾營虛，神無主宰所致。</p>
<p>歸脾湯去姜，加龍齒、丹參</p>
<p>（案30）金。產後十朝惡露頗多，腹痛，舌白膩，納少，脈大。濕鬱太陰，衝脈不攝也。</p>
<p>歸身　茯苓　丹參　澤蘭　枳殼　炮姜　白朮　香附　陳皮　蔻仁</p>
<p>（案31）張。產後風寒襲肺，背寒且痛，脈沉速細，晨起嗆甚。邪郁肺底，恐難脫體。</p>
<p>桂枝　生地　白芍　杏仁　紫菀　乾薑　炙草　阿膠　款冬</p>
<p>（案32）蔡。難產後陰器受傷，致腐，現雖已愈，而帶下頻頻。寒熱，腹痛，胸悶，便泄，少納，脈沉弦數，久虛不復，易於外感。</p>
<p>廣藿　麥芽　川楝子　青皮　蘇梗　小樸　六曲　延胡索　腹皮　赤苓</p>
<p>又：產後陰器受傷致腐之後，臍旁腹痛，四五日一發，發則如淋臭穢水下，即有寒熱，此由沖、任、帶脈皆傷，而蹻維亦少護持耳。</p>
<p>烏賊骨　川柏　茯苓　湘蓮肉　川石斛　牡蠣　川斷</p>
<p>（案33）範。產後尿脬損傷，小便淋漓，納少，脈細。下虛，膀胱已傷，理之不易。</p>
<p>丹皮　黃絲娟　西耆　桑寄生　豬脬　益智仁　黨參</p>
<p>（案34）王。產後感受風溫，鬱於手太陰肺部，咳嗽，寒熱將及一年，脈弦數。此即《難經》所謂「陽維為病苦寒熱」是也。</p>
<p>川桂枝　白芍　杏仁　川貝　大棗　淡黃芩　炙草　花粉　生薑</p>
<p>（案35）余。產後惡露淋漓，四月不止，腹痛，頭眩，心悸，脈緩。營虛，衝任不司約束也。</p>
<p>阿膠　茯神　烏賊　歸身　丹參　蘄艾　牡蠣　柏仁　白芍</p>
<p>（案36）王。產後半日卒然風痙，厥逆十餘次，後頭腫嘔逆，眩暈。新產暴虛，厥陽化風，上旋，沖逆犯胃，所幸惡露仍通，脈左澀。可以熄風潛陽，以冀厥止風定。</p>
<p>熟地　料豆衣　茺蔚子　白蒺藜　磁石　龜板　炒歸身　石決明　淮牛膝　炙草</p>
<p>（案37）駱。產後尿脬下墜，氣虛下陷不升，與東垣法，陷者舉之。</p>
<p>補中益氣湯加熟地</p>
<p>（案38）張。胎前久病，氣陰未復，產後又復便溏，日行數次，下多陰傷，陽無依附，浮越發熱，自汗氣逆，心悸宕漾，驚惕，舌紅。脈如奔泉外湧十里，乃產後暴虛，虛陽上冒，陰不涵陽，脫象大著，急宜固攝，必得脈數漸退，方為佳境。</p>
<p>人參　麥冬　歸身　白芍　龍齒　淮膝　紫石英　熟地　五味（炮姜同打）　炙草　丹參　牡蠣　山藥</p>
<p>（案39）範。詢病情起於產褥，營虛，感受風邪，未經清徹而致外風引動，內風陽氣鴟張，風陽旋擾不息，以致頭痛，遇風為甚，腹痛休作，帶下。此係肥人多濕多痰，流注於帶脈使然。論證當以養營熄風，佐以固攝其下，況有懷麟三月，必得根固蒂堅，不致胎元有損為妙。</p>
<p>阿膠　白芍　天麻　生牡蠣　川桂　首烏　川斷　白蒺　椿根皮</p>
<p>（案40）趙。暑月受風襲肺，咳嗽，至今未愈。產後三月，腰痛，便泄。肺脾同病，治脾礙肺，治肺礙脾，奈何？</p>
<p>黨參　川樸　前胡　木香　陳皮　炙草　蘇梗　蘆根　枳殼　青皮　茯苓　桔梗</p>

<h2>五十七、交腸</h2>
<p>（案1）陸。去冬產後下利、膿血，久利清濁混淆，以致闌門水穀不分，直走小腸，陰陽易位而出，變為交腸。病延十月，形瘦神奪，寒熱，舌光，腰痛，脈弦數。脾腎陰虛，理之不易，昨擬開太陽，佐以堵截陽明一法，以冀分清清濁。</p>
<p>桂枝　豬苓　赤苓　杜阿膠　冬木　澤瀉　滑石　赤石脂末</p>
<p>另用白糯米、乾薑、赤石脂煮粥服。</p>
<p>又：皮硝、蓮房、五倍子煎湯熏洗。</p>
