<header data-type="book">
<h1>花韻樓醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>顧蔓雲</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1850">公元1850年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521064">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>何謂乎醫案也。斷病與處方而已。蓋醫案汗牛充棟。大都統治男婦雜症為居多。而專治婦科則甚少。吾吳顧鬘云女士。婦科名醫也。道咸間吳下士大夫皆爭延診而欽仰之。曾著有花韻樓醫案一卷。惜乎未刊行世。知醫者偶一道及。有欲求不得之憾。余向藏有顧女士醫案鈔本。其論治透徹。立方平善。洵是經驗之作。方之現今女醫中實罕有與匹。余屢欲鐫刊以供海內諸君子之研究。然深慚力棉。未能如志公諸同好。意誠怏怏也。爰是函商紹與醫藥學報社裘君吉生。謀付剞劂以廣流傳。幸承允可。自茲以往。風行寰宇。則顧女士濟世利人之婆心。既可不致湮沒。裘君之讚揚功宏。亦並垂不朽云。</p>
<p><u>民國紀元十年辛酉季冬吳縣張元瑞玉田氏序於吳趨青選書屋。</u></p>

<h1>正文</h1>
<p><u>汪</u>（醫案）</p>
<p>小產之後。血崩月餘。音低氣怯。寐少咽乾。面目浮腫。干嗆陣作。良由血去過多。一派虛象蝟集矣。古人以血崩為之崩中。中者。即脾胃也。前方純用滋納固澀。久服不效。何以尚不悟其理耶。蓋肝主藏血。脾主攝血。脾失統血之司。血從內滲不已。由於滋之澀之。凝滯絡中。所以時或淋漓若淨。忽又瘀塊如掌大者絡繹而下。自覺心神無依。肢冷泄汗。經云。陰陽互根。如環無端。陰從下滲。陽從上冒。其中樞紐。能無慮其不續耶。急進歸脾法以為砥柱中流之計。</p>
<p>大有黨參（三錢）　九制於術（一錢）　新會皮（七分）　丹皮炭（一錢五分）　大有黃耆（二錢）　大熟地炭（五錢）　地榆炭（三錢）　元眼肉（三錢）　歸身（一錢）　白芍（一錢五分）　棗仁（三錢）　用藕肉（二兩）　湘蓮肉（五錢）　煎湯代水</p>
<p><u>汪</u>（又診）</p>
<p>前進血脫益氣法。兼清營分。虛火崩決之陣頓止。胸脘乃覺舒和。略思納穀。可知從前謬執黃耆閉氣之誤。然肝腎空乏。八脈交虛。最慮腹膨漏帶。干嗆寒熱。此四者崩後極易見之。不可不為預防。</p>
<p>人參鬚（一錢五分）　大有耆（一錢五分）　陳阿膠（二錢）　地榆皮（三錢）　西黨參（三錢）　制於術（一錢五分）　炒丹皮（一錢五分）　棗仁（三錢）　白芍（一錢五分）　雲苓（三錢）　元眼肉（三錢）　湘蓮肉（四錢）　</p>
<p><u>汪</u>（又診）</p>
<p>崩止三日。神脈皆振。頭暈轟熱。時仍有之。必得營陰恢復。風陽遊行之象。方可全熄耳。</p>
<p>人參（一錢）　制冬朮（一錢五分）　陳阿膠（二錢）　牡蠣（五錢）　棗仁（三錢）　黃耆（二錢）　西黨參（三錢）　熟地炭（四錢）　川貝（三錢）　白芍（一錢五分）　加鮮藕肉（一兩）</p>
<p><u>汪</u>（又診）</p>
<p>肝風漸定。諸症較平。夜寐漸安。惟面色指爪㿠白不堪。胃氣雖醒。脾少健運。知飢不任油膩。須得屏除煩勞。靜養百日。氣血充復可期也。</p>
<p>人參鬚（一錢五分）　制於術（一錢五分）　甘枸子（三錢）　炒棗仁（三錢）　綿黃耆（三錢）　炙甘草（四分）　陳阿膠（二錢）　炙陳皮（七分）　元眼肉（三錢）　大黑棗（二枚）　加建蓮（三錢）　</p>
<p><u>汪</u>（又診）</p>
<p>日來精神大勝於前。唇漸轉紅。眠食頗佳。陽明血液日長矣。</p>
<p>黨參（三錢）　炒棗仁（三錢）　炒米仁（三錢）　九制於術（一錢五分）　黃耆（二錢）　炒白芍（一錢五分）　炙陳皮（五分）　炙黑甘草（三分）　陳阿膠（二錢蛤粉炒）　元眼肉（三錢）　大黑棗（兩枚）</p>
<p><u>張</u>（醫案）</p>
<p>脾腎陽衰。早食暮吐。完穀不化。是無火也。並非火熱暴迫之完穀下趨耳。舌質淡而苔白。脈細帶絃。溫中以理氣分。</p>
<p>上肉桂　淡吳萸　白茯苓　老蘇梗　益智仁　煨肉果　炒白芍　新會皮　戈半夏</p>
<p><u>張</u>（又診）</p>
<p>水穀入胃。易生痰濕者。多由脾虛土衰。今且肝木來侮。上則噯腐吐食。下則便泄腹脹。升降皆屬格礙。專理中宮之陽為的當也。</p>
<p>淡乾薑　益智仁　雲苓　新會皮　淡吳萸　甘草炭　炒白芍　姜半夏　干玫瑰花</p>
<p><u>張</u>（又診）</p>
<p>溫煦脾胃。中焦氣機已得旋暈。果然陰復遲而陽復速也。</p>
<p>製附子　煨肉果　炒白芍　苡仁　製厚朴　淡吳萸　橘白　建曲　雲苓</p>
<p><u>張</u>（又診）</p>
<p>反胃已止。當扶脾胃之氣。佐以養肝之血。</p>
<p>人參條　雲苓　新會皮　淨歸身　生冬朮　炙草炭　姜半夏　炒白芍　炒苡仁　香穀芽</p>
<p>停藥劑後以香砂六君丸（三錢）　每朝炒黃米泡湯送下。</p>
<p><u>謝</u>（醫案）</p>
<p>思慮傷脾。鬱怒傷肝。血崩之下。氣營大虛。徹夜不寐。神不自持。觸事驚疑。此乃怔忡疑慮之症。並非癲癇類也。脈症合參。脾藏氣血大傷。脾為營之源。雖云心主生血。然血不自生。須得脾氣運液。中焦取汁。變化而成。心虛而不知補脾。絕其生血之源矣。且大便亦溏。膽怯異常。顯屬不足之症。切勿執定痰火有餘也。</p>
<p>大生地　炒白芍　炒棗仁　雲苓　制冬朮　廣鬱金　元眼肉　麥冬　蓮肉　川貝</p>
<p><u>謝</u>（又診）</p>
<p>脈象細而帶弦。微見虛數。血崩本屬氣虛下陷。血去陰液亦虧。心中悸惕。驚疑無主。尋源求本之計。宜補立中氣為先。倘專清痰火。必有延成痼疾者也。</p>
<p>黨參　制冬朮　大麥冬　歸身　黃耆　炙黑草　血餘炭　白芍　雲苓棗仁　川貝母　加龍眼肉　大黑棗</p>
<p><u>謝</u>（又診）</p>
<p>日來脈象。頗形起色。元氣漸振。故恐懼憂疑之象。已可支持。肝鬱日暢。寡有惱怒。誠佳機也。心脾血液未充。尚須怡養為佳。</p>
<p>制洋參　云茯神　五味子　川貝　制冬朮　左牡蠣　元眼肉　苡仁　棗仁　生甘草　</p>
<p>加金橘餅　野薔薇露　臨臥服白金丸（三分）</p>
<p><u>謝</u>（又診）</p>
<p>不寐陽升。脾氣下陷。風陽遊行無定。腎志少液。當引陽潛藏之法。</p>
<p>黨參　大熟地　左牡蠣　白芍　黃耆　製附子　池菊瓣　棗仁　橘白　炙草　川石斛　元眼肉</p>
<p>加雞子黃</p>
<p><u>謝</u>（又診）</p>
<p>大便得實。腎液藏而脾氣運矣。神情漸復。惟或感心事。肝陽猶易擾及包絡。亦由心營血氣未能充足耳。</p>
<p>黨參　元參心　遠志炭　炒棗仁　黃耆　川貝母　大熟地　柏子仁　山藥　炙甘草　龍眼肉　</p>
<p><u>謝</u>（又診）</p>
<p>行動步履有力。眠食亦均勻適中。中氣雖復。血虛猶少營養。血不養肝。肝經鬱火。欲達未達。現值暑令。當於補劑之中。參入清暢之品。秋涼肅降時。可冀無恙。仿許學士法加減。</p>
<p>大生地　黨參　赤芍　川貝　烏犀尖　雲苓　玳瑁　山藥　麥冬　橘白　加囫圇雞子黃　白荷花露</p>
<p><u>張</u>（醫案）</p>
<p>新產兩朝。瘀不下行。發熱神蒙。肢麻汗多。脈芤舌紅。酷暑外迫。陰氣鬱冒。血隨氣逆。時有昏暈。變險可危。急扶產母端坐椅中。敞軒牕以湘簾護風。切勿聽信嫗輩。膠執吃熱苦草湯也。急囑。急囑。</p>
<p>細生地　廣鬱金　懷牛膝　歸身　川貝母　白蒺藜　西琥珀　赤芍　丹皮　白薇　鮮藕肉　童便</p>
<p><u>張</u>（又診）</p>
<p>熱退神清。氣火平降。瘀亦下行。兩臂尚麻。少腹痠楚。仍從養血通瘀。即是治風先治血之意也。</p>
<p>細生地　淨歸身　茺蔚子　赤芍　炒山藥　白蒺藜　懷牛膝　丹皮　白薇　楂炭　琥珀　</p>
<p><u>湯</u>（醫案）</p>
<p>鬱火越冒。衝心為厥。厥後心悸不寐。驚恐疑懼。劫肺而為痰血。不時形凜轟熱。經行如崩。月行二次。盛暑而厚衣。稀粥不敢下咽。以脈症參之。非真寒。實由疑慮過深所致也。金先生指為勞損不起之症。竊恐未確。當放膽啖飯。不必避風。以怡暢襟懷。佐以藥力。可許向痊者。</p>
<p>烏犀尖　小川連　雲苓　麥冬　大生地　廣鬱金　白芍　橘白　棗仁　川貝　加建蓮子</p>
<p><u>湯</u>（又診）</p>
<p>病人深信所囑。肝膽舒暢。寒熱未作。人咸異之。即俗名疑心病也。信能堅決。何疑之有。所謂智慧劍斬煩惱魔。須藥餌外求之者。仍須清暢鬱火。補養心脾。方無反復。</p>
<p>細生地　烏犀尖　小川連　麥冬　生於術　羚羊角　川貝母　棗仁　米仁　紅棗</p>
<p><u>湯</u>（又診）</p>
<p>穀食如常。神情安適。心悸咳血皆止。鼻流腥水如注。此乃鬱火從心包而暢於肺經也。養陰佐以清和肺肝。</p>
<p>制首烏　元參心　川貝母　白芍　羚羊角　蔓荊子　淮山藥　生甘草　薄荷葉</p>
<p><u>湯</u>（又診）</p>
<p>鼻淵雖止。其鬱火未淨。心脾氣血未復。諸恙和平。癸水尚易驂前。仍從前法減輕為治。</p>
<p>細生地　羚羊角　川楝子　左牡蠣　生冬朮　川貝母　元參心　大麥冬　雲苓　小紅棗</p>
<p><u>張</u>（醫案）</p>
<p>冬溫乍發。月事適行。陰氣先虛。邪從內傳。一候之前。失於開泄肺經。今病交十三日。曾服小柴胡湯微微得汗。惟邪轉充斥肺胃。兼入營分矣。晝夜煩躁。神魂飛越。脈澀弦數。舌絳苔厚。痰滯並阻。大便溏泄。深恐痙厥。必多風波變險。</p>
<p>淡豆豉　牛蒡子　丹皮　川貝母　細生地　淡黃芩　楂炭　廣鬱金　苦桔梗　秦艽　赤苓</p>
<p><u>張</u>（辰刻又診）</p>
<p>病交兩候。癸水淋漓未淨。色帶紫黑。營熱熾甚。通宵不寐。寅卯時肝風內動。指痙發厥。目竄痰湧。遍體汗泄而定。頃診右脈洪數。舌苔根厚。色轉灰黃。大便連泄。自覺火熱下注。溫邪欲陷。昏閉可慮。但營分滲泄於下。肺邪壅遏於上。斷不能執煞熱入血室之古法也。</p>
<p>細生地　淡黃芩　丹皮　薄荷　小川連　廣鬱金　赤芍　生甘草　天花粉　生麥芽　白茆根</p>
<p><u>張</u>（酉刻又診）</p>
<p>溫邪自口鼻吸入。肺先受之。逆傳心包。入暮病劇。脈較晨間數甚。再與清解。勿致昏閉為妙。</p>
<p>鮮生地　玉捲心　丹皮　川貝　淡黃芩　元參心　麥冬　桔梗　天花粉　生甘草</p>
<p><u>張</u>（又診）</p>
<p>昨宵煩躁陣作。風痙略緩。子後稍稍得寐。寐醒痰火上升。欲厥未厥。便泄溲短。陰傷熱戀。熱化庶無變幻。</p>
<p>烏犀角　天竺黃　元參　赤芍　細生地　竹捲心　麥冬　花粉　知母　淡芩</p>
<p><u>張</u>（又診）</p>
<p>溫邪自肺傳入手厥陰經。煩躁譫語。痰潮昏湧。疊進清滋化熱。內保心陰。雖然不致內閉。其邪欲達未達。包絡清虛之所。邪火爍津凝痰蒙閉。非芳香宣竅莫解。</p>
<p>陳金汁（二兩）　化服至寶丹（四分）</p>
<p><u>張</u>（又診）</p>
<p>昨診脈後。狂躁厥逆。即以至寶丹服下。神志漸定。吐咳濃痰頗暢。黎明時得寐。寐醒尚覺氣逆。便泄已止。口苦咽關疳點密布。冬溫化毒。乃外泄之機。</p>
<p>烏犀尖　鮮霍斛　苦桔梗　甘中黃　鮮生地　元參心　天竺黃　土貝　黃芩　赤芍　加陳金汁　野薔薇露</p>
<p><u>張酉刻</u>（又診）</p>
<p>胸膈肌膚熱勢大減。額上解而不了了。脈息左含靜意。右寸關尚見滑數。舌絳苔少。疳點起腐痛甚。心中煩擾。月水將淨。清化上焦痰熱為主。</p>
<p>羚羊角　淡芩　海浮石　土貝　鮮霍斛　元參　白杏仁　甘中黃　天花粉　廣鬱金　枇杷葉　鮮蘆根</p>
<p><u>張</u>（又診）</p>
<p>冬溫失治於前。病涉三候。溫邪化燥。幾至內陷。幸得邪從疳化。熱退轉機。經水乍止。營陰虧乏。肺胃餘熱尚熾。須防液涸。</p>
<p>烏犀尖　鮮霍斛　元參　知母　鮮生地　淡黃芩　麥冬　土貝　飛青黛　甘中黃　陳金汁　銀花露</p>
<p><u>張</u>（又診）</p>
<p>舌苔焦黃已化。脈數頗緩。汗多如注。疳勢蔓延亦定。白腐漸退。音閃渴飲。痰多黃厚。口中膩涎若湧。外邪將淨。脾虛血熱。濕火內生以玉女煎合甘露飲加減。</p>
<p>大生地　生洋參　知母　川貝　生石羔　生冬朮　川連　甘中黃　鮮霍斛　鮮竹茹　白粳米　鮮蘆根</p>
<p><u>張</u>（又診）</p>
<p>汗尚多。熱退極淨。大便三日未行。邪滯已得歸併胃腑。可免傳變之慮。口膩渴飲均減。小便漸利。陽明餘燼未熄。仍恐復燃。</p>
<p>生洋參　細生地　甘中黃　鮮竹茹　鮮霍斛　生石羔　川貝母　生枳殼　肥知母　全栝蔞　鮮蘆根　枇杷葉露</p>
<p><u>張</u>（又診）</p>
<p>疳痛大緩。穀食可進。寐醒之後。溲急欲遺。數而且多。是餘熱宿垢蘊結陽明。迫其膀胱津液下行也。汗泄又多胃津更傷。大腸愈燥。燥火更易傷陰。納穀未多。能勿慮其液涸乎。傷寒論有可下不可下。並急下存陰等法。兩者俱是回生要關。但須用之的當。今見口竭引飲。舌苔老黃乾裂。根尤厚濁。脈象數實。按腹微痛。如斯確據。誠乃急下存陰時候矣。每見邪未歸府。誤下致逆。不可勝數。</p>
<p>生西參　元明粉　全栝蔞　生白芍　鮮霍斛　火麻仁　萊菔子　生甘草　大麥冬　白粳米</p>
<p><u>張</u>（又診）</p>
<p>矢氣頻轉。而便未行。舌苔化動。納穀較多。仍守昨法。</p>
<p>西洋參　鮮首烏　火麻仁　生甘草　鮮霍斛　元明粉　生白芍　白粳米　大麥冬　甜梨汁</p>
<p><u>張</u>（又診）</p>
<p>昨晚大便後。夜臥極安。胃思納穀。神脈安靜。小便合度。腸胃宿垢已徹。餘邪下注肛側。結有小瘰。且痙厥時擦傷皮膚。滋水頻滋。兩相蔓延。頗形痛楚。雖屬微末。猶恐妨礙眠食。亦屬節外生枝之累也。</p>
<p>西洋參　鮮首烏　生白芍　川柏　鮮霍斛　火麻仁　生甘草　肥知母　橘白　加大黑豆（五錢）　綠豆（五錢）</p>
<p><u>張</u>（又診）</p>
<p>大便續通。自覺脘腹舒暢。安寐安穀。腑邪化淨。瘍痛亦緩。偶觸惱怒。心悸耳鳴。胃陰初長。不勝木火之煽爍也。溫邪病後。調養失慎。三複可慮。重言以申明之。</p>
<p>西洋參　鮮霍斛　生白芍　生甘草　細生地　淡天冬　天花粉　甜梨汁　濂珠粉　燕窩屑</p>
<p><u>張</u>（又診）</p>
<p>神怡。氣陰漸復。飲食寒暖。慎調是囑。</p>
<p>人參鬚　川石斛　山藥　茯苓　細生地　鮮竹茹　白芍　橘白　生穀芽　小紅棗</p>
<p><u>家母</u>（痢症）</p>
<p>操勞之體。真陰不足。夏令心陽少暢。交秋肺氣鬱而不宣。肝木挾暑濕。先從上擾。巔痛咳嗽。舊恙發而未甚。適觸穢氣。濁邪壅遏。反從下走。先瀉轉痢。赤白雜下。表有微熱。正虛邪盛。勢正方張。擬表裡合解。邪宜速達。則免傷正。</p>
<p>廣藿梗　赤芍　青皮　枳實　秦艽　赤苓　楂炭　建曲　白蔻仁　鮮佛手</p>
<p><u>家母</u>（又診）</p>
<p>表熱得汗而解。痛勢裡急後重。痢次晝夜數十遍。赤白紫滯。納穀勉強。口苦舌糙。乃血鬱熱結也。每於痢下甚時。積多糞少。後重極甚。細參病機。寐中略有咳嗽。醒時痛緩。乍醒痛緩之時。積少糞下極暢。似乎寐則氣火下行。陰液得養。肺氣開而腸胃積滯能下。當顧腎陰而化里邪。逆流挽舟法。斷不能用。謹以辨症之法。質諸高明。教正焉。</p>
<p>廣藿梗　桔梗　青皮　楂炭　丹皮　枳實　建曲　白芍　赤苓　益元散</p>
<p><u>家母</u>（又診）</p>
<p>氣分濕滯已減。但痛勢盛於下午。邪伏血分何疑。痢色紫滯夾白。氣陰兼理。</p>
<p>西黨參（五錢建曲一錢五分同炒）　白蒺藜（三錢）　青皮（五分）　烏藥（一錢）　阿膠（二錢）　薺菜花（三錢）　丹皮（一錢五分）　銀花炭（三錢）　側柏炭（一錢）　山楂炭（三錢）　加香連丸（一錢）</p>
<p><u>家母</u>（又診）</p>
<p>舌苔漸化。納穀較增。痢暢而稀。其痛勢雖在胃脘。觀食下時並不作痛。關脈弦數。屬血分之邪發越。肝木並逆也。</p>
<p>當參（三錢建曲一錢五分同炒）　丹皮炭（一錢五分）　枳殼（三分）　銀花炭（三錢）　阿膠（二錢）　青皮（五分）　白蒺藜（三錢）　側柏炭（一錢）　烏藥（一錢）　益元散（三錢）</p>
<p><u>家母</u>（又診）</p>
<p>血分之暑邪郁邪俱化。痛止痢亦將止。脾氣腎陰。虛機略振。便時指尖微冷。寐少耳鳴。守臟真為主。和腸胃為佐。</p>
<p>老山人參（三錢）　炮薑炭（二分）　五味子（五分）　棗仁（三錢）　熟地炭（三錢）　煨木香（三分）　白芍（一錢五分）　雲苓（三錢）　陳皮（三分）　小紅棗（三枚）</p>
<p><u>家母</u>（又診）</p>
<p>胃氣頗醒。知味加谷。食後氣覺下墜欲便。小溲尚少。然痢必傷腎。不宜滲利。蓋膀胱為津液之府。與腎為表裡者也。</p>
<p>人參（三錢）　於朮（一錢五分）　制首烏（四錢）　炒棗仁（三錢）　黨參（三錢）　生耆（一錢五分）　阿膠（二錢）　炒白芍（一錢五分）　陽春砂仁（五分）　炒苡仁（三錢）　炙甘草（三分）</p>
<p><u>大伯母</u>（痹痛）</p>
<p>肝火濕熱下注陽明之絡。外束風寒。兩腿痛甚。艱於步履。脈細舌白。姑先疏解外風。但症系內傷虛痹。最屬淹纏者也。</p>
<p>桂枝（四分）　赤芍（一錢）　白蒺藜（三錢）　赤苓（三錢）　秦艽（一錢五分）　苡仁（三錢）　嫩桑枝　歸鬚（一錢五分）　防己（三錢）　萆薢（三錢）</p>
<p><u>大伯母</u>（又診）</p>
<p>環跳痛緩。移於內臁。左脈轉數。外風已漸化火。蓋陽明主一身之絡。氣血虧。不能灌溉絡脈。鬱火濕熱。乘隙內踞。而焉脾痛。去秋曾患流注。病雖異而其源則一也。擬補血湯兼理濕熱。</p>
<p>黃耆（一錢五分）　川柏（五分）　秦艽（一錢）　防己（三錢）　白蒺藜（三錢）　鬱金（五分）　苡仁（三錢）　天麻（五分）　萆薢（三錢）　歸身（三錢）　滑石（三錢）　桑枝（一兩酒炒）</p>
<p><u>大伯母</u>（又診）</p>
<p>肝風濕熱。逗留經絡。痹痛夜甚。脈軟帶弦。舌紅苔黃。此內因之病。不宜峻劑。攻風劫痰。再傷血液。須防血枯筋攣而肢廢。或痹乘中土而變腹脹。當養肝陰。佐以化瘀定痛。</p>
<p>細生地（四錢）　生冬朮（一錢五分）　防己（三錢）　歸身（三錢）　小胡麻（三錢）　淡乾薑（三分）　木瓜（一錢）　杞子（三錢）　金毛脊（三錢）　苡仁（三錢）　加乳香（三分）　沒藥（三分後下）</p>
<p><u>大伯母</u>（又診）</p>
<p>昨宵痛緩得寐。脈數和而舌苔稍化。病由氣血兩虧。用藥慎其偏勝。為要。擬萎蕤加味。</p>
<p>萎蕤（一兩）　生冬朮（一錢）　木瓜（一錢五分）　金毛脊（五錢）　細生地（四錢）　細大通（三分）　乾薑（三分）　歸身（三錢）　炒米仁（三錢）　雲苓（三錢）　杞子（三錢）　生甘草（五分）</p>
<p><u>大伯母</u>（又診）</p>
<p>意傷憂愁。則肢廢。蓋脾主四肢。心陽不暢。肝失生髮之機。水穀入胃。易生痰濕。少於生血。血不養筋。右腿拘牽。不能伸屈。且持齋百日。陽明血液之虧。不待言矣。所慮延為痼疾。然治法不外乎養肝培脾和胃而化濕熱耳。</p>
<p>羚羊角（二錢）　肥玉竹（三錢）　杞子（三錢酒炒）　鉤勾（三錢）　白蒺藜（三錢）　漢防己（三錢）　木瓜（一錢酒炒）　金毛脊（三錢）　川石斛（三錢）　苡仁（三錢）　阿膠（二錢）　歸身（三錢）　桑枝（一兩）　</p>
<p><u>大伯母</u>（又診）</p>
<p>血枯經絡少舒。內風痰多並阻。仍守昨法。</p>
<p>羚羊角（三錢）　防己（一錢五分）　苡仁（三錢）　小胡麻（三錢）　秦艽（七分）　鉤勾（四錢）　青蔗汁（一杯）　肥玉竹（五錢）　木瓜（五分）　歸身（三錢）　白芥子（三分）　加白麻骨（五錢）　桑枝（五錢）　煎湯代水</p>
<p><u>大伯母</u>（又診）</p>
<p>昨今兩日。痛勢大緩。環跳經絡。俱未抽掣。惟足刺痛。痛幸式微。鬱火濕熱全化矣。</p>
<p>羚羊角　白芍（一錢五分）　松子仁（三錢）　鉤勾（三錢）　淡蓯蓉（三錢）　歸身（三錢）　木瓜（五分）　桑枝（三錢）　棗仁（三錢）　青蔗汁（一杯）</p>
<p><u>大伯母</u>（又診）</p>
<p>肝火已化。和補陽明氣血為主。</p>
<p>人參鬚（一錢）　細生地（三錢）　肥玉竹（三錢）　歸身（一錢五分）　生冬朮（一錢五分）　懷牛膝（一錢五分）　雲苓（三錢）　白芍（一錢五分）　枸子（三錢）　鉤勾</p>
<p><u>大伯母</u>（又診）</p>
<p>陽明氣血日旺。漸能行動。惟步履力不足耳。</p>
<p>人參鬚（一錢）　細生地（四錢）　肥玉竹（三錢）　歸身（一錢五分）　生冬朮（一錢五分）　杜仲（三錢）　米仁（三錢）　雲苓（三錢）　杞子（三錢）　白芍（一錢五分）</p>
<p><u>尹</u>（醫案）</p>
<p>痰阻胃陽噁心。暑邪乘虛內陷。大瘧發經四次。神疲納少。脈弦濡。舌白膩。邪在太陰。達之非易。擬東垣法為主。</p>
<p>人參鬚（一錢）　升麻（二分）　陳皮（七分）　大防風（一錢）　柴胡（二分）　冬朮（一錢五分）　茯苓（三錢）　鮮藿香（一錢五分）　姜半夏（一錢五分）　鮮佛手（一錢五分）</p>
<p><u>尹</u>（又診）</p>
<p>瘧早且輕。邪能速達。正氣亦可速復矣。</p>
<p>參鬚（一錢五分）　川樸（五分）　白芍（一錢五分）　防風（一錢）　冬朮（一錢五分）　升麻（二分）　歸身（一錢五分）　藿香（一錢五分）　建曲（三錢）</p>
<p><u>某氏</u>（醫案）</p>
<p>咳嗆淡紅血痰。證起三載。肺脾津氣兩竭。不治症也。擬金匱培土生金法。以為帶疾延年之計。</p>
<p>人參（七分）　川貝母（二錢）　肥玉竹（三錢）　雲苓（三錢）　麥冬（二錢）　扁豆衣（三錢）　懷山藥（三錢）　生甘草（三分）　阿膠（一錢五分）　白粳米（四錢）　白花百合（一兩）</p>
<p><u>李</u>（醫案）</p>
<p>交秋肅降。暑風濕熱。壅迫二腸。發為赤白二痢。起經四月。先有寒熱。脘腹大痛。汗泄如注。見谷漾漾欲嘔。邪勢壅遏三焦。高年深恐不能支持。經云。病有急當救里救表者。今里重表輕。當從疏為急。每見里滯充斥者。誤用敗毒散。多變噤口。</p>
<p>川樸（五分）　枳實（七分）　丹皮（一錢五分）　赤芍（一錢五分）　川連（四分）　霍梗（一錢五分）　青蒿（一錢）　青皮（一錢）　秦艽（一錢）　紅曲（三錢）　楂炭末（七分）</p>
<p><u>李</u>（又診）</p>
<p>痛減痢稀。伏邪尚盛。肝木乘胃虛上逆。為噁心悸惕。表熱退淨。略可安穀。病雖轉機。尚非坦途也。</p>
<p>人參鬚（五分）　川樸（七分）　藿梗（一錢五分）　赤芍（一錢）　淡吳萸（二分）　川連（五分）　楂炭末（一錢）　青皮（五分）　神麯（三錢）　砂仁末（五分）　鮮佛手（一錢五分）　</p>
<p><u>李</u>（又診）</p>
<p>表熱退淨。痛減過半。痢稀挾糞。噁心止而穀食加。洵稱佳兆。但痢傷腎陰。腎為胃關。舌心光紅。高年患痢。液涸生糜之風險。務宜預防。</p>
<p>人參（七分）　藿梗（一錢五分）　烏梅炭（四分）　炒米仁（三錢）　川連（三分）　青皮（五分）　焦白芍（一錢五分）　炒楂炭（三錢）　阿膠（一錢五分）　薺菜花（三錢）　生甘草（三分）</p>
<p><u>李</u>（又診）</p>
<p>病交一候。痢已全止。高年氣陰兩虧之體。邪達迅速。誠大幸也。納穀未旺。神脈尚弱。擬益氣生津以恢復之</p>
<p>人參鬚（一錢五分）　制首烏（四錢）　焦六曲（三錢）　歸身（一錢五分）　綿黃耆（一錢五分）　五味子（五分）　炒苡仁（三錢）　白芍（一錢五分）　阿膠（一錢五分）　薺菜花（三錢）　棗仁（三錢）</p>
<p><u>華</u>（醫案）</p>
<p>大瘧已近半載。納少腹膨。質小任重。理之非易。</p>
<p>連葉蘇梗（一錢五分）　秦艽（一錢）　桔梗（五分）　赤芍（一錢）　防風（一錢五分）　青蒿（一錢）　建曲（三錢）　益元散（二錢）　牛蒡（一錢五分）</p>
<p><u>華</u>（又診）</p>
<p>寒熱漸減輕。病機向佳。腹形膨大已久。脾陽衰象也。蓋無有中氣不虛而患瘧痢者。誰謂小兒無補法哉。況幼稚血氣未充。病久轉虛。扶本祛邪。一定之理。</p>
<p>人參鬚（七分）　元武版（四錢）　桔梗（七分）　歸身　制首烏（一兩）　炙鱉甲（五錢）　青蒿（二錢）　赤芍　加左金丸（一錢五分）　</p>
<p><u>華</u>（又診）</p>
<p>寒勢大減。熱亦漸緩。脾胃素弱。仍須扶本驅邪。以防腹滿浮腫。</p>
<p>人參鬚（一錢）　元武版（五錢）　秦艽（一錢）　歸身（一錢五分）　制首烏（四錢）　炙鱉甲（四錢）　冬朮（一錢五分）　赤芍（一錢）　老蘇梗（一錢）　大腹皮（一錢五分）　建曲（三錢）　麥芽（三錢）　加益元散（三錢）</p>
<p><u>華</u>（又診）</p>
<p>瘧發漸早。邪從陰分轉入陽分。守法治之。</p>
<p>人參鬚（一錢）　炒冬朮（一錢）　姜半夏（一錢五分）　防風（五分）　綿黃耆（一錢五分）　炙鱉甲（三錢）　小青皮（五分）　建曲（一錢五分）　歸身（一錢五分）　煨姜（五分）　紅棗（二枚）</p>
<p><u>華</u>（又診）</p>
<p>腹膨日松。神情健旺。汗泄雖暢而覺冷。此即是氣虛也。</p>
<p>人參（七分）　桂枝（五分）　炙鱉甲（五錢）　雲苓（三錢）　制首烏（四錢）　乾薑（三分）　蘇梗（一錢）　炙甘草（三分）　歸身（一錢五分）　紅棗（三枚）</p>
<p><u>華</u>（又診）</p>
<p>大瘧兩期未至。脾陽振而伏邪俱化矣。</p>
<p>人參鬚（七分）　制首烏（四錢）　乾薑（三分）　白芍（一錢五分）　炒冬朮（一錢五分）　炙鱉甲（四錢）　米仁（三錢）　雲苓（三錢）　歸身（一錢五分）　麥芽（三錢）　紅棗（三枚）</p>
<p><u>華</u>（又診）</p>
<p>瘧止匝月。脾胃元氣已復。腹膨全可。神采日旺。前定扶正托邪之法。原屬正治。小兒穀氣不足。脾土最易虧損。擬資生丸調攝。</p>
<p>人參鬚（一錢五分）　制首烏（四錢）　川斛（三錢）　白芍（一錢五分）　炒冬朮（一錢）　苡仁（三錢）　雲苓（三錢）　麥芽（三錢）　歸身（一錢五分）　南棗（三枚）</p>
<p><u>王</u></p>
<p>肝風從絡外達。腿足即能舒展。初診面許必愈。豈謬談哉。此乃血熱生風。壟於陽明大絡。狀如類中。實非中也。誤投桂枝辛溫。故以犀角湯救其逆。竟得應手焉。現在步履如初。入夜足力稍軟。血液未充。風陽上旋作眩。擬養肝陰和陽明調攝為主。</p>
<p>綿耆（一錢五分）　川斷（三錢）　米仁（三錢）　雲苓（三錢）　生冬朮（一錢五分）　阿膠（三錢）　木瓜（一錢）　橘絡（一錢五分）　制首烏（三錢）　歸身（三錢）　小紅棗（三枚）　青蔗漿（一杯）</p>
<p><u>尤</u></p>
<p>脈症合參。始由氣不攝血。血崩陰傷。自患大瘧而產。產後旋即腹脹如臌。服過斗門方。戒鹽半載。病已磨久。而腹大依然。半月或旬日一發。肝脾傷而陽氣式微也。脈細如絲。當從症治之。仿仲景法。</p>
<p>人參鬚（七分）　製附子（三分）　炒米仁（三錢）　雲苓（三錢）　生耆皮（一錢五分）　制首烏（四錢）　炒棗仁（三錢）　元眼肉（一錢五分）　桑白皮（一錢五分）　大腹皮（一錢五分）　蘇梗汁（五分）　竹葉（三錢）</p>
<p><u>尤</u>（接服方）</p>
<p>人參鬚（五分）　左牡蠣（一兩）　茯苓皮（三錢）　白芍（一錢五分）　制首烏（四錢）　炒苡仁（三錢）　大腹皮（一錢五分）　元眼肉（一錢五分）　棗仁（三錢）　蘇梗汁（三分）　淡竹葉（三錢）</p>
<p><u>尤</u>（又診）</p>
<p>陽回脈起。舌強漸平。腫脹亦減。諸恙皆輕。自覺神情頗振。此亦氣旺之明徵。擬宗血脫益氣法。冀其便血勿崩。病之扼要也。</p>
<p>製附子（三分）　左牡蠣（七錢）　帶皮苓（三錢）　炒建曲（三錢）　制首烏（四錢）　車前子（三錢）　焦米仁（三錢）　大腹皮（三錢）　蘇梗（三分）　干竹葉（三錢）　紅棗（三錢）　加赤小豆（三錢）　煎湯代水。</p>
<p><u>尤</u>（又診）</p>
<p>腹形癟小。便血稍見。心悸不寐皆減。時值夏至大節。營衛兩虛之體。船路尤易觸動風熱。還宜謹慎。</p>
<p>人參（一錢）　川連（三分）　丹皮炭（一錢五分）　制首烏（四錢）　黃耆（一錢五分）　棗仁（三分）　地榆炭（三錢）　生冬朮（一錢五分）　黨參（三錢）　小紅棗（三枚）</p>
<p><u>尤</u>（又診）</p>
<p>交節前後。便血未行。神脈皆段。</p>
<p>人參（一錢）　製附子（三分）　春砂仁（五分）　雲苓（三錢）　綿耆（一錢五分）　地榆炭（三錢）　炒棗仁（三錢）　苡仁（三錢）　左牡蠣（八錢）　小紅棗（三錢）　元眼肉</p>
<p><u>尤</u>（又診）</p>
<p>便血匝月未發。中氣有權攝血矣。血得貯於營。則虛陽不致上越。所以自覺精神行動。頗屬安適也。</p>
<p>臺人參（一錢五分）　製附子（三分）　炒棗仁（三錢）　左牡蠣（八錢）　黃耆（三錢陳皮五分泡湯炙）　煨木香（三分）　炒木瓜（一錢）　炒丹皮（一錢五分）　炒冬朮（一錢五分）　春砂仁（五分）　大黑棗（三錢）</p>
<p><u>尤</u></p>
<p>臨經旬日前。腹痛不已。入夜交寅卯時更覺痛極難堪。肝鬱血分也。擬疏其痰氣。養其營血。可許得痊。</p>
<p>旋覆花（一錢五分）　廣鬱金（三分）　甘枸子（一錢五分）　白芍（一錢五分）　老蘇梗（一錢）　瓦楞子（三錢）　杜仲（三錢）　青皮（五分）　歸身（三錢）　棗仁（三錢）</p>
<p><u>尤</u>（又診）</p>
<p>疊進養血化痰法。是月月事如期。病勢大減。眠食並適。仍守前意。</p>
<p>旋覆花（三錢）　老蘇梗（一錢）　小茴香（三分）　川斷（二錢）　白蒺藜（三錢）　廣鬱金（五分）　炒丹皮（一錢五分）　真橘絡（一錢五分）　歸身（三錢）　小青皮（一錢）</p>
<p><u>尤</u>（又診）</p>
<p>癸水甫淨。養心脾佐調奇脈。</p>
<p>炒枯熟地（三錢）　廣鬱金（三分）　川貝母（三錢）　歸身（一錢五分）　紫石英（三錢）　懷牛膝（一錢五分）　老蘇梗（一錢五分）　白芍（一錢五分）　炒棗仁（三錢）　橘白（五分）</p>
<p><u>尤</u>（又診）</p>
<p>日來脈情和緩。營衛氣血流通。擬培養奇經八脈。佐理肝脾。</p>
<p>熟地炭（二錢砂仁末拌）　川杜仲（三錢）　川貝母（三錢）　雲苓（三錢）　白蒺藜（一錢五分）　浮歸身（一錢五分）　炒棗仁（三錢）　青皮（七分）　苡仁（三錢）　炙橘白（一錢）</p>
<p><u>尤</u>（又診）</p>
<p>氣為血帥。氣順則營血循序。疊進和肝運脾。諸恙皆安。仍守前法。冀其臨經痛止焉妙。</p>
<p><u>尤</u>（又診）</p>
<p>痛經止後。懷麟三月矣。微見嘔痰納少。雖屬惡阻餘波。即是肝胃不和也。</p>
<p>制首烏　川斷　冬朮　白芍　厚杜仲　山藥　黃芩　生甘草　川貝母　砂仁　棗仁　橘白　</p>
<p>加川石斛煎湯泛丸</p>
<p><u>尤</u></p>
<p>乳房結癧。大小不一。起經四載。屢發酸痮。痛楚則更堅大。胸膈梗痛如束。脈弦舌紅。一派肝鬱。結於陽明部分也。有關格之根柢。怡養為佳。</p>
<p>制首烏（四錢）　烏藥（一錢）　青皮（三分）　歸身（一錢五分）　川貝母（三錢）　廣鬱金（三分）　橘絡（一錢五分）　白芍（一錢五分）　栝蔞皮（三錢）　杞子（二錢）　左金丸（五分）</p>
<p><u>尤</u>（又診）</p>
<p>乳癧痛緩脹松。胸脘亦舒。脈症合參。究系營虛肝鬱也。</p>
<p>制首烏（四錢）　川貝母（二錢）　棗仁（三錢）　歸身（一錢五分）　元參（一錢五分）　枸杞（三錢）　柿霜（三錢）　東白芍（一錢五分生炒各半）　廣鬱金（四分）</p>
<p><u>蔡</u></p>
<p>歷節風痛已緩。四肢尚是麻木。內風未化也。</p>
<p>生耆皮（三錢）　明天麻（七分）　姜半夏（一錢五分）　歸身（三錢）　白蒺藜（三錢）　廣鬱金（五分）　鉤勾（四錢）　生甘草（五分）　秦艽（三錢）　桑枝（七分）　蔗漿（一杯）</p>
<p><u>羹</u></p>
<p>暑風暑熱。蘊伏於經。病交四日。昨午壯熱無汗。煩躁昏譫。熱逼肝膽。氣火直升犯胃。嘔吐痰少。頻頻噯氣。夜半得汗極暢。表熱退淨。脈尚濡數。舌紅苔黃。伏邪未必即化。轉瘧可慮。</p>
<p>金石斛（三錢）　枳殼（一錢五分）　赤芍（一錢五分）　鮮佛手（一錢五分）　炙鱉甲（三錢）　青蒿（一錢五分）　鮮竹茹（一錢五分）　老枇杷葉（一錢五分）　</p>
<p>加白荷花露（一兩）</p>
<p><u>羹</u>（又診）</p>
<p>暑風鬱伏肺衛。暑溫熱蒸營分。爭而為間日瘧。寒輕熱重。曾發兩度。邪猶蘊蓄。治宜先解衛風。繼清營熱。非比秋邪入少陽。而用小柴胡和解者也。</p>
<p>帶葉藿梗（一錢五分）　苦桔梗（五分）　鬱金（五分）　歸身（一錢五分）　牛蒡子（一錢五分）　青蒿（一錢五分）　黑梔（一錢五分）　赤芍（一錢五分）　鱉甲（四錢）　秦艽（一錢五分）　丹皮（一錢五分）　鮮佛手（一錢五分）　</p>
<p><u>羹</u>（又診）</p>
<p>暑瘧今交三度。寒勢減輕。汗易泄而熱退頗早。營陰素虛之質。伏熱猶深。非垣途也。</p>
<p>牛蒡子（一錢五分）　廣鬱金（五分）　丹皮（一錢五分）　赤芍（一錢五分）　香青蒿（二錢）　炙鱉甲（五錢）　黑梔（一錢五分）　鮮佛手（一錢五分）　秦艽（一錢五分）　益元散（三錢）</p>
<p><u>羹</u>（又診）</p>
<p>辰刻指尖微清。即時壯熱。渴飲如長鯨吸川。神煩譫語。酉刻得汗。汗多如注。小溲頻數。此乃癉瘧明徵。經云。陰氣孤絕。陽氣獨發。但熱不寒。是為癉瘧。細參其文。既云不寒。即是陽明潮熱矣。此不寒。但身不覺寒。其指尖微清。背覺微寒。皆作但熱不寒例看。故云飲以桂枝白虎湯。二進必愈。內經金匱文辭深奧。非精思參悟。則臨症不明其妙也。同議方。以冀應手。</p>
<p>鮮生地（五錢）　肥知母（一錢五分）　桑葉（一錢五分）　小青皮（五分）　生石膏（七錢）　川貝母（三錢）　丹皮（一錢五分）　生甘草（五分）　生鱉甲（五錢）　白粳米（五錢）</p>
<p><u>羹</u>（又診）</p>
<p>連進白虎湯。瘧來熱短且緩。口渴譫語並少。再守前意。益其津氣。以化餘邪。</p>
<p>鮮霍斛（一兩）　肥知母（一錢五分）　淡芩（三錢）　大竹葉（三錢）　青蒿（一錢五分）　川貝母（一錢五分）　丹皮（一錢五分）　鮮蘆根（一兩）　秦艽（一錢）　益元散（三錢）　</p>
<p><u>羹</u>（又診）</p>
<p>瘧將止。養陰清理為主。</p>
<p>生洋參（一錢五分）　金石斛　肥知母（一錢五分）　鮮竹茹　細生地（七錢）　羚羊角（一錢五分）　天花粉（三錢）　竹捲心（三錢）　鱉甲（四錢）　川貝母（二錢）　青蒿（一錢）　白茆根（一兩）</p>
<p><u>羹</u>（又診）</p>
<p>瘧止熱化。胃中痰氣未清。治以疏通腑濁。佐理脾元。</p>
<p>生洋參（一錢五分）　生冬朮（一錢五分）　枳殼（三分）　川貝（一錢五分）　生鱉甲（四錢）　製半夏（一錢）　栝蔞（二錢）　建曲（三錢）　金石斛（三錢）　廣鬱金（一錢）　佛手露（一兩）</p>
<p><u>羹</u>（又方）</p>
<p>細生地（五錢）　生冬朮（一錢）　川斛（三錢）　建曲（一錢五分）　生洋參（一錢人參鬚一錢同蒸）　金石斛（三錢）　橘白（五分）　藿梗（一錢五分）　鮮竹茹（一錢五分）　鮮蓮子（三錢）</p>
<p><u>俞</u></p>
<p>經居三月之餘。驟然腹痛。痠墜不已。曾經小產。手厥陰經絡受傷。脈胎巳至脫根。氣從下陷。深恐血崩之慮。仿東垣法。</p>
<p>人參（三錢）　柴胡（二分）　新會皮（五分）　雲苓（二錢）　黃耆（二錢）　棗仁（三錢）　春砂仁（五分）　炙草（三分）　冬朮（一錢五分）　</p>
<p><u>俞</u>（又診）</p>
<p>昨進補中益氣湯。酸墜之勢雖緩。而瘀下如崩。肢冷發痙。幸元氣尚屬扶住。未知厥脫。然胎尚未下。須防氣陷血脫。濁瘀下泛。</p>
<p>人參鬚（七分）　老蘇梗（一錢五分）　炮薑炭（四分）　陳皮（五分）　炒冬朮（一錢五分）　春砂仁（三分）　棗仁（三錢）　茯苓（三錢）　歸身（一錢五分）　胎產金丹（半粒）</p>
<p><u>俞</u>（又診）</p>
<p>血崩止之後。自覺胎元躍躍如常而動。肝升煩熱。寅卯更衣。感冒寒邪。形冷發搐。郁木內擾。悲從中來。驟然哭泣。面色泛㿠。神志模糊。脈細無神。此屬血去胎傷。又失於調養。胎殞腹中。濁向上蒙。至危至險候也。</p>
<p>人參鬚（一錢）　大腹皮（一錢五分）　陳皮（七分）　老蘇梗（一錢）　炮薑炭（一錢）　江枳殼（一錢）　砂仁（五分）　赤苓（三錢）　廣鬱金（五分）　胎產金丹（半粒）</p>
<p><u>俞</u>（又診）</p>
<p>藥後得寐。神志漸清。面㿠略轉。少腹酸楚。急墜極甚。如欲大便而便閉。蓋小產胎殞。重於大產。或有氣衰血熱。或因內外感觸。損其根柢。漏紅之後。本當調養氣血。聽其自然。但血去已多。胎涸難於下行。不得已。用平胃法。宜佐保本為要。</p>
<p>人參鬚（七分）　元武版（五錢）　大腹絨（三錢）　炙陳皮（五分）　炮薑炭（一錢）　元明粉（七分）　江枳殼（一錢五分）　焦白芍（一錢五分）　老蘇梗（一錢五分）　歸身（一錢五分）　</p>
<p><u>俞</u>（又診）</p>
<p>昨投平胃散加元明以下瘀濁。佛手散溫通氣血。刻間腹中痠墜異常。穢水下行極多。即覺舒和。因知人立方之神妙也。但瘀濁尚有未淨。胞衣或有留頓。亦宜留意虛陽上冒。慎調至囑。</p>
<p>熟地炭（四錢）　炮姜（五分）　陳皮（七分）　歸身（一錢）　炒於朮（二錢）　丹皮（三錢）　雲苓（二錢）　白芍（一錢）　炒棗仁（三錢）　青皮（五分）　穀芽（三錢）　益母草（煎湯代水）　</p>
<p><u>俞</u>（又診）</p>
<p>瘀露下而黑色。停瘀留頓未化。胃納漸安。寐亦穩貼。神脈皆涉和平。但恐有胎元未化。仍宜留意也。</p>
<p>熟地炭（四錢）　川石斛（三錢）　煨棗仁（三錢）　川貝母（二錢）　生冬朮（一錢五分）　白蒺藜（三錢）　浮歸身（一錢五分）　粉丹皮（一錢五分）　西琥珀（五分）　陳皮（一錢）　雲苓（三錢）　桃仁（七粒）</p>
<p><u>俞</u>（又診）</p>
<p>益陰通瘀之下。夜寐得安。脈息稍靜。正氣漸醒。今晨瘀中雖下茄蒂之象。此即胞胎之根柢也。前日或指停經。或指崩漏。定可剖析分明而無惑矣。仍守昨法。</p>
<p>熟地炭（四錢）　懷牛膝（一錢五分）　川貝（二錢）　炒冬朮（一錢五分）　紫石英（三錢）　棗仁（三錢）　白芍（一錢五分）　旋覆花（三錢）　西琥珀（五分）　益母膏（三錢）</p>
<p><u>俞</u>（又診）</p>
<p>小產後。肝腎陰虛。虛陽易升。逆胃焉汗泄氣急。脈見芤數。陽衰已復。陰血尚難速長。眠食向安。自可日臻佳境。百日內務宜慎養。</p>
<p>生洋參（一錢五分）　制首烏（四錢）　川貝母（二錢）　歸身（一錢五分）　生冬朮（一錢五分）　金石斛（三錢）　艽蔚子（三錢）　白芍（一錢五分）　西琥珀（五分）　棗仁（三錢）　茯苓（三錢）　小紅棗（三枚）</p>
<p><u>俞</u>（又診）</p>
<p>日來色㿠已轉。脈維右寸關尚弦數。由乎盜汗自汗互傷營液。故易於心悸也。今瘀已淨。可以補中。寓以收攝法矣。</p>
<p>黨參（三錢）　熟地炭（四錢）　甘枸子（一錢五分）　炒白芍（一錢五分）　炒冬朮（一錢五分）　五味子（三分）　炒棗仁（三錢）　生甘草（三分）　炒竹茹（一錢五分）　菟絲子（三錢）　炒香穀芽（三錢）</p>
<p><u>蔣</u></p>
<p>產虛未復。鬱怒動肝。肝火上薰肺胃。寅卯時咳嗆纏綿。半載未能全止。納穀勉強。五心煩熱。脈細。左部虛細。右寸關弦數。慮涉損途。急挽可許向吉。</p>
<p>北沙參（三錢）　天花粉（一錢五分）　栝蔞皮（一錢五分）　廣鬱金（四分）　羚羊角（一錢五分）　真川貝（三錢）　炙橘白（五分）　生穀芽（三錢）　制首烏（四錢）　懷牛膝（一錢五分）　滁菊瓣（一錢）　扁豆衣（一錢五分）</p>
<p><u>蔣</u>（又診）</p>
<p>五更咳嗆得緩。癸水先期而至。舌心露質。診脈左見數象。脅中刺痛。產後營虛肝鬱也。</p>
<p>北沙參（四錢）　天花粉（一錢）　栝蔞皮（三錢）　廣鬱金（五分）　羚羊角（一錢五分）　川貝母（二錢）　青蒿梗（一錢五分）　炙橘白（五分）　制首烏（四錢）　阿膠（二錢）　懷牛膝（一錢五分）　鮮稻葉（五錢）　懷山藥（三錢）</p>
<p><u>蔣</u>（又診）</p>
<p>前進平肝養陰。寅卯時咳嗆漸稀。脈息左部弦數。右尺虛軟。經事乍過。毓陰平肝為主。</p>
<p>生西洋參（一錢五分）　川貝母（三錢）　栝蔞皮（一錢五分）　炒白芍（一錢五分）　制首烏（四錢）　元武版（五錢）　廣鬱金（三分）　懷山藥（三錢）　金鈴子（一錢）　鮮佛手（一錢）</p>
<p><u>蔣</u>（又診）</p>
<p>鬱火已化。陰血不致為其所耗矣。脾氣尚弱。納穀不多。大便少調。脾胃之根。在乎金水流行。水火升降。為佳。</p>
<p>參鬚（七分）　羚羊角（一錢五分）　炒木瓜（五分）　五味子（三分）　麥冬（二錢）　金石斛（三錢）　杜仲（三錢）　白芍（一錢五分）　懷山藥（三錢）　橘白（五分）　生穀芽（三錢）　鮮佛手（一錢五分）</p>
<p><u>俞</u></p>
<p>陰虛之體肝火劫傷胃液痰氣凝結於胃下午腹痛。痛甚無寐。頭眩便燥患經五月。防痛甚致厥。</p>
<p>瓦楞子（三錢）　姜半夏（一錢五分）　青皮（一錢）　白芍（一錢五分）　金鈴子（一錢五分）　枳實（一錢）　烏梅（一錢）　使君子（三錢）　老蘇梗（五分）　鮮佛手（一錢五分）</p>
<p><u>俞</u>（又診）</p>
<p>前進兩和肝胃。脘痛得減。痰血未嘔。大便續通未暢。唇色泛紫。瘀痰猶滯絡中也。</p>
<p>蘇梗（五分）　炙鱉甲（五錢）　枳殼（一錢）　木瓜（五分）　瓦楞子（三錢）　使君子（三錢）　青皮（七分）　單桃仁（三錢）　川楝子（一錢五分）　烏梅（七分）　鮮佛手（一錢）</p>
<p><u>俞</u>（又診）</p>
<p>疊進平肝和胃。蛔厥之痛勢雖止。陰血已傷。起居宜慎。</p>
<p>制首烏（四錢）　炙鱉甲（五錢）　川楝子（一錢五分）　香蘇梗（五分）　炒山藥（三錢）　烏梅肉（一錢）　瓦楞子（三錢）　宣木瓜（五分）　川石斛（三錢）</p>
<p><u>沈</u></p>
<p>肝陽化火生風。從衝脈逆行乘胃。巔頂脹痛。不能轉側。面部肌肉跳躍。屢發屢止。今春煩勞之下。陽氣越胃凌心。而致煎厥。每進滋納腎肝得平。自後萌發頗稀。宗內經治肝第三法鎮守中州以靖逆氣。</p>
<p>西黨參（三錢）　杜仲（四錢）　烏梅肉（一錢）　生炒白芍（各三錢）　生炙甘草（各四分）　大熟地（六錢）　牡蠣（一兩）　宣木瓜（一錢）　北五味（五分）　新會皮（一錢）　佛手露（一兩）</p>
<p><u>車</u></p>
<p>肝火逆上觸心絡傷血從口溢。竟有盈碗之多。近增便泄。暑濕亦兼內襲也。左脈細弦。胃氣衰穀氣自少旋暈。益氣清暑為治。</p>
<p>烏犀尖（一錢五分）　生耆皮（一錢五分）　肥知母（一錢五分）　生甘草（三分）　鮮霍斛（五錢）　五味子（五分）　丹皮（一錢五分）　鮮稻葉（三錢）　麥冬（二錢）　扁豆（三錢）</p>
<p><u>車</u>（又診）</p>
<p>前進清暑益氣法。納穀知味。天氣酷暑外迫。慎防嘔血復萌。</p>
<p>北沙參（三錢）　生牡蠣（五錢）　天花粉（一錢五分）　炒白芍（一錢五分）　大麥冬（二錢）　金鈴子（一錢）　宣木瓜（七分）　生甘草（三分）　羚羊角（一錢五分）　紫石英（三錢）　懷山藥（三錢）　鮮稻葉（三錢）　五味子（三分）</p>
<p><u>周</u></p>
<p>心脾兩虧。經行先期。心悸寐少。舌心光剝。脈息細數。氣分亦怯。養血毋庸重滋。</p>
<p>人參鬚（五分）　牡蠣（一兩）　天冬（一錢五分）　大白芍（三錢）　大麥冬（二錢）　龍齒（三錢）　杜仲（四錢）　生甘草（四分）　柏子仁（三錢）　五味子（九粒）　青蒿（二錢）　生穀芽（五錢）　炒棗仁（三錢）</p>
<p><u>周</u>（又診）</p>
<p>疊進養血安神。頗合病機。諸恙皆輕。擬守前法。</p>
<p>生洋參（一錢五分）　龍齒（五錢）　柏子仁（三錢）　生白芍（二錢）　大麥冬（二錢）　鉤勾（三錢）　棗仁（三錢）　生甘草（三分）　青蒿（一錢）　穀芽（三錢）　鮮藕節（一兩）　白荷花露（一兩）</p>
<p><u>張</u></p>
<p>前進養血平肝法。哮發減輕過半。脈息左數右弦。心中似乎煩擾。寐不安貼。癸水將至。營虛血熱。再防反復。當加意養金水為妙。</p>
<p>烏犀尖（一錢五分）　細生地（四錢）　杜蘇子（五分）　秦艽（一錢五分）　羚羊角（一錢五分）　栝蔞皮（三錢）　萊菔子（一錢五分）　白薇（一錢五分）　川貝母（三錢）　銀杏肉（三錢）　左金丸（五分）</p>
<p><u>張</u>（又診）</p>
<p>喘哮每發於經至之前。營虛顯然矣。今值癸水將至。其病必發。無外感可驅。急先存陰平木。兼以治風先治血法。冀能由漸轉輕為幸。</p>
<p>羚羊角（二錢）　廣鬱金（五分）　焦杏仁（三錢）　歸身（一錢五分）　細生地（四錢）　栝蔞皮（三錢）　懷牛膝（二錢）　赤芍（五分）　秦艽（一錢五分）　川貝母（三錢）　銀杏肉（三錢）　左金丸（五分）</p>
<p><u>蔡</u></p>
<p>脾經素虧。經事愆期。血不養肝。肝木挾痰。上循少陽經絡。結為瘰癧成串。交節續增。自頸下連於季脅。約有二三十枚。曾經潰過。時有寒熱。乃虛勞根柢也。仿逍遙歸脾合而加減。</p>
<p>羚羊角（一錢五分）　廣鬱金（三分）　川貝母（二錢）　歸身（一錢五分）　制冬朮（一錢）　制首烏（四錢）　生耆皮（一錢五分）　白芍（一錢五分）　左牡蠣（五錢）　鮮竹茹（一錢五分）　棗仁（三錢）　雲苓（三錢）　鮮稻葉（三錢）　元眼肉（五枚）</p>
<p><u>蔡</u>（又診）</p>
<p>日來癧串痛緩。核俱流動。癸水逾期未至。五心焦熱。頭目眩暈。培太陰脾土。暢少陽木火以治。</p>
<p>綿黃耆（一錢五分）　杭甘菊（一錢）　川貝母（二錢）　歸身（一錢五分）　制冬朮（一錢五分）　白蒺藜（一錢五分）　杞子（二錢）　白芍（一錢五分）　棗仁（三錢）　雲苓（三錢）　鮮稻葉（三錢）　</p>
<p><u>華</u></p>
<p>肝脾氣陷。便後下血。患經數載。近則脫肛。血下無度。小溲淋痛。寒熱時作。舌光起刺。脈形芤數虛弦。情志內傷藥力斷難奏效者也。所慮秋令肅降。有血從下脫之變。</p>
<p>柴胡（三分醋炒）　丹皮（一錢五分）　歸身炭（一錢）　炙川柏（七分）　生冬朮（一錢）　黑山梔（一錢）　地榆炭（三錢）　赤苓（三錢）　細生地（三錢）　小青皮（五分）</p>
<p><u>華</u>（又診）</p>
<p>寒熱二日未作。納穀亦增。便血未下。溲淋痛楚仍然。適交冬至。加意慎調焉囑。</p>
<p>生冬朮（一錢五分）　鹿角霜（一錢五分）　左牡蠣（一兩）　木瓜（五分）　細生地（四錢）　元武版（五錢）　川柏（五分）　生甘梢（四分）　西琥珀（四分）　青皮（五分）　丹皮（一錢五分）</p>
<p><u>華</u>（又診）</p>
<p>淋痛減輕。稍有咳嗽。舌乾雖潤。光剝未能立苔。心腎陰虛也。</p>
<p>細生地（五錢）　焦米仁（四錢）　麥冬（一錢五分）　木通（五分）　川連（三分）　五味子（五分）　生甘梢（五分）　送服補中益氣丸（三錢）</p>
<p><u>師太</u></p>
<p>脾虛血熱。濕火生瘡。耳菌翻花。流血之後。目光四散。旋有蠅飛撩形。擬清脾甘露飲加減治之。</p>
<p>生冬朮（一錢五分）　鮮霍斛（一兩）　丹皮（一錢五分）　赤芍（一錢）　細生地（四錢）　川連（四分）　炒白芍（一錢五分）　雲苓（三錢）　橘白（五分）　白茆根（五錢）</p>
<p><u>顧</u></p>
<p>鬱火濕熱。內傷肝脾。痰火化風。升擾陽明。脈弦舌紅。有類中之機。防眩暈傾跌。</p>
<p>人參鬚（七分）　生冬朮（一錢）　杜仲（三錢）　歸身（三錢）　制首烏（四錢）　整玉竹（三錢）　牡蠣（一兩）　白芍（一錢五分）　廣鬱金（三分）　川貝母（三錢）　棗仁（三錢）　鹽半夏（一錢五分）</p>
